[2022-05-22 02:19] fibreglass2 commented on #3736
Added new documentation to address previously raised issues by the reviewers.

[2022-05-22 08:33] dawbarton commented on #4386
I'd be interested in reviewing this as it has relevance for my own work. It'll probably be 3-4 weeks before I can do the review though.

[2022-05-22 11:02] Nikoleta-v3 commented on #3743
That's great, thank you for the update @bencardoen 😄

The comments regarding the paper look good and addressable 👍🏻 I hope the build issue is resolved soon.

[2022-05-22 13:42] jbytecode commented on #4231
@mattpitkin - one of the @openjournals/joss-eics will make a final decision.

[2022-05-22 13:52] DCoppitters commented on #4370
@fraukewiese : I have seen the issues and pull request. My apologies for not getting back to the reviewers sooner.

[2022-05-22 16:00] fboehm commented on #4251
@nociale - Thank you for adding the DOIs. Can you please check to see if the above listed DOI is valid for the reference listed under "MISSING DOIs"? Please comment here with more information.

Thanks again!

[2022-05-22 18:21] athulpg007 commented on #4327
Thanks for adding the working example.

Some minor suggestions to improve the docs I have are listed below. If you agree with them, you can consider making these changes.

1. The "installation" instructions are nested within the User Guide section in the table of contents sidebar. Since the installation page is something most people would look for first, I suggest moving this out to its own sectio

[2022-05-22 20:45] leahmendelson commented on #4398
@editorialbot generate my checklist

[2022-05-22 21:27] nmstreethran commented on #4406
@editorialbot generate my checklist

[2022-05-23 00:49] apulverizer commented on #3330
@vissarion I can review this. I do have a conflict of interest that would need to be waived. One of the co-authors, Ran Wei, was my graduate advisor 5 years ago.

[2022-05-23 01:35] asitha-sena commented on #4324
Hi @jedbrown,
The example Jupyter notebook has been cleaned up and simplified. The example data file is now provided within the repo and filepaths are relative.

I believe that all your comments have now been addressed.

[2022-05-23 03:21] modenaxe commented on #4399
Hi @fabian-s this submission looks great but I am afraid I don't have the time for reviewing it plus my R is few years rusty. I will try to think about alternative reviewers, although my main suggestion would have been @cpizzolato!

[2022-05-23 05:14] nhejazi commented on #4411
@editorialbot commands

[2022-05-23 05:15] amartinhuertas commented on #4157
Hi @Kevin-Mattheus-Moerman,

do u think it might be possible to go ahead with two reviews given the difficulties to get the third review?

Thanks!
@amartinhuertas

[2022-05-23 05:15] nhejazi commented on #4411
@editorialbot check references

[2022-05-23 05:16] nhejazi commented on #4411
@editorialbot check references

[2022-05-23 05:17] nhejazi commented on #4411
@editorialbot check references

[2022-05-23 05:18] nhejazi commented on #4411
@editorialbot check references

[2022-05-23 05:20] nhejazi commented on #4411
thanks @Kevin-Mattheus-Moerman, I've now added all of the missing DOIs and validated them against the checks from the editorial bot. no problem to wait until editors/reviewers are available.

[2022-05-23 06:06] fabian-s commented on #4355
:wave: @juliensiebert @ahurriyetoglu
would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-23 06:08] fabian-s commented on #4399
:wave: @luuleitner

Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-23 06:14] fabian-s commented on #4384
:wave: @masalmon @tgerke

would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-23 07:04] fraukewiese commented on #4336
@j3r3m1 Are your comments adequately considered or are there any open points?

[2022-05-23 07:47] yguitton commented on #4201
@dhhagan Sorry for the delay, is it too late?

[2022-05-23 08:14] yguitton commented on #4337
@editorialbot generate my checklist

[2022-05-23 09:25] vissarion commented on #3329
@editorialbot set 10.5281/zenodo.6569386 as archive

[2022-05-23 09:27] vissarion commented on #3329
@editorialbot set v1.0 as version

[2022-05-23 09:27] vissarion commented on #3329
@editorialbot generate pdf

[2022-05-23 09:34] baxmittens commented on #4300
@editorialbot generate pdf

[2022-05-23 09:42] vissarion commented on #3329
Thanks @GustaveCoste ! Could you please edit the zenodo title to match the title of your paper?

[2022-05-23 09:43] sc-gcoste commented on #3329
@ArnaudHelias could you do it, please ?

[2022-05-23 09:55] ArnaudHelias commented on #3329
Title updated, "a" added at the end of the title..

[2022-05-23 10:17] lucydot commented on #4298
Hi @miesli perhaps you could incorporate your comment above re: reprocubility and the reference into your paper:

I tried editing myself directly but keep getting a message about somebody else making an edit at the same time.

[2022-05-23 10:35] vissarion commented on #3329
Thanks! Could you please update it to match the title of the paper i.e. "PEFAP : Estimating the environmental footprint of food
products from packaging data"

[2022-05-23 10:44] JohannesBuchner commented on #4143
I found this because I am subscribed to the JOSS news feed. To an unfamiliar person such as myself, this software seems to be applicable to improving construction of pipe bombs and to estimate the impact of attacks on infrastructure.  I am a bit puzzled why neither the review proces nor the paper includes a discussion of ethical concerns of a public release of this software? For example, an argume

[2022-05-23 10:57] ArnaudHelias commented on #3329
It's ok now, sorry I didn't see the mistake.

[2022-05-23 11:06] samuelburbulla commented on #3959
Thanks @vijaysm for your helpful comments! I will try to address your points below, and will make the changes right away on the feature/paper branch.

1. In the introduction section (L.8-L.12), you mention that both 2d and 3d meshes are supported using CGAL interface. However, you immediately talk about adaptivity or remeshing only in 2d with no mention of 3d. Is this intentional or an oversight?

[2022-05-23 11:16] daguiam commented on #4397
@editorialbot generate my checklist

[2022-05-23 11:30] itepifanio commented on #4318
@danielskatz I was wondering if there's something we can do to keep the review process rolling.

[2022-05-23 11:46] timtroendle commented on #4261
@olejandro, @noah80, are you still working on the review or do you want to be removed as reviewers of this submission?

[2022-05-23 11:50] olejandro commented on #4261
Working on it. Sorry for the 🐢 speed!

[2022-05-23 11:51] timtroendle commented on #4261
Ok. Thanks for letting us know, @olejandro !

[2022-05-23 11:54] reichherzerp commented on #4243
@christinahedges the software is archived at [10.5281/zenodo.6573031](https://doi.org/10.5281/zenodo.6573056) under the version `v1.1.1`. The paper is under the joss_paper branch

[2022-05-23 12:14] blsqr commented on #4329
@editorialbot generate pdf

[2022-05-23 12:41] vissarion commented on #3329
@ArnaudHelias I also created two minor merge requests that fix minor typos and format issues in the paper.

[2022-05-23 12:49] vissarion commented on #3329
@editorialbot generate pdf

[2022-05-23 12:49] danielskatz commented on #4318
sorry, this is my fault - I had a very busy week.

👋 @matthewfeickert - if you can do this review (based on your interest and the discussion so far), it would be very helpful.

[2022-05-23 12:50] danielskatz commented on #4318
👋 @bnriiitb, @rewbenio - Would one of you be willing to review this JOSS submission?

[2022-05-23 12:51] danielskatz commented on #4328
@mhucka - any news on this license issue?

[2022-05-23 12:51] bocklund commented on #4364
@editorialbot generate my checklist

[2022-05-23 12:52] blsqr commented on #4329
Just as a brief update from my side: I am almost finished with the review and everything is looking really good. Given that the paper will be about v3.0, I'd like to wait for its official release and give it another go before concluding the review.

[2022-05-23 12:53] danielskatz commented on #4277
👋 @bastorer - Please let us know your status.

I'll also try to email you, but without you as the author responding to comments and issues, we can't make progress and may need to close this submission.

[2022-05-23 12:54] vissarion commented on #3329
@editorialbot recommend-accept

[2022-05-23 12:58] pdebuyl commented on #4077
@editorialbot generate pdf

[2022-05-23 12:58] pdebuyl commented on #4077
@editorialbot check references

[2022-05-23 13:39] jarvist commented on #3974
Dear @tiagoseq , have you been able to make any progress in retrieving some of the commit history?

[2022-05-23 13:41] jarvist commented on #4356
@lbluque , if you have a suggestion for someone who is a cluster expansion specialist on the list of reviewers, that would be greatly received!

[2022-05-23 13:46] dbrizard commented on #4404
@editorialbot generate my checklist

[2022-05-23 13:53] nociale commented on #4251
Hi @fboehm

That reference under "MISSING DOIs" was recently published (May 19th, 2022). We have just added its DOI. I hope that is good now. I just double checked and the inserted DOI correctly links to the web page of the reference which is this one: https://onlinelibrary.wiley.com/doi/10.1002/pst.2234.

Kind regards!

[2022-05-23 13:54] jarvist commented on #4386
Happy to!

[2022-05-23 13:54] jarvist commented on #4386
@editorialbot assign @jarvist as editor

[2022-05-23 13:55] jarvist commented on #4386
@dawbarton and @lucaferranti , thank you very much for your offers! A few week timeline is no problem.

If you could just confirm any conflicts of interest (it's unusual in my experience to have reviewers volunteering so readily!), and then we'll be good to go.

[2022-05-23 14:10] taoliu032 commented on #4182
Hi @arfon! Thanks for getting us help to solve the ISSN issue. May I ask what steps are left for accepting the manuscript? Our editor recommended acceptance but the command to the robot may not completely go through, due to the ISSN issue.

[2022-05-23 14:29] jbytecode commented on #4300
- line 26 : julia -> Julia
- line 41 : remove the line =========

@baxmittens could you please fix those items in paper? please have a full read and correct other typos if exist.

[2022-05-23 14:29] davidegraff commented on #4337
# Review checklist for @davidegraff

## Conflict of interest
- [x] I confirm that I have read the [JOSS conflict of interest policy](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

## Code of Conduct
- [x] I confirm

[2022-05-23 14:56] mcavs commented on #4383
@editorialbot generate my checklist

[2022-05-23 15:10] nicoguaro commented on #4389
@editorialbot generate my checklist

[2022-05-23 15:13] jarvist commented on #4386
Great! Thanks both. Let's get this party started.

[2022-05-23 15:13] jarvist commented on #4386
@editorialbot add @lucaferranti as reviewer

[2022-05-23 15:13] jarvist commented on #4386
@editorialbot start review

[2022-05-23 15:14] editorialbot opened #4414 "[REVIEW]: TimeseriesSurrogates.jl: a Julia package for generating surrogate data"
**Submitting author:** @kahaaga (<a href="http://orcid.org/0000-0001-6880-8725">Kristian Agasøster Haaga</a>)
**Repository:** https://github.com/JuliaDynamics/TimeseriesSurrogates.jl
**Branch with paper.md** (empty if default branch): main
**Version:** v2.0.1
**Editor:** @jarvist
**Reviewers:** @lucaferranti, @dawbarton
**Archive:** 10.5281/zenodo.7014633

## Status

[![status](https://joss.theoj.

[2022-05-23 15:14] #4386 closed

[2022-05-23 16:41] mhucka commented on #4328
Not yet. I just pinged them again ...

[2022-05-23 16:50] kbarnhart commented on #4282
:wave: @pfeiffea and @tdoane a friendly reminder to revisit your review of py_SBELT.

[2022-05-23 17:15] vsoch commented on #4352
Quick reference to supplement my description above - here is how the Singularity project is using it - https://sylabs.io/2022/05/whats-in-a-singularityce-release/ and  https://twitter.com/Singularity_CE/status/1528785462210469889

[2022-05-23 17:40] martinfleis commented on #4052
@cjwu Thank you! I believe that from your side it may just mean ticking the remaining boxes in the checklist above if I read your comments correctly.

@d-eggert I have been contacting potential additional reviewers, without a success so far. Will continue this week. Apologies for delays.

[2022-05-23 17:46] nicoguaro commented on #4389
I have done a first pass on the package. I have some comments:

- I don't see a clear statement of need on the README or docs.
- There isn't an API section on the docs. My guess is that it is already there in the different sections that appear on ReadTheDocs.
- There isn't a section or file specifying how to contribute to the project.

I will resume the review after these comments have been addres

[2022-05-23 17:58] sbenthall commented on #3496
Hello @Natsiopoulos -- any updates?

[2022-05-23 18:02] sbenthall commented on #4270
Hello @gcdeshpande ,

This submission has gone through a round of reviewing by @gradvohl and revisions by the author.
But it is still waiting on a second review. Looking at [your checklist](https://github.com/openjournals/joss-reviews/issues/4270#issuecomment-1078715316), is it correct to say that you haven't reviewed the software yet?
Would it be possible for you to review the submission in its c

[2022-05-23 18:03] lbluque commented on #4356
@jarvist, here's a list sorted by (imo) relevance:
 - Quantumstud, ml-evs (have cluster expansion publications)
 - bocklund (pymatgen, calphad---which is quite relevant to CE)
 - wcwitt, srmnitc (atomic cluster expansion, not the same but related)
 - dandavies99, mturiansky, mbkumar  (pymatgen)
 - rosecers (stat physics, regression)
 - georgiastuart (MCMC)

[2022-05-23 19:13] noah80 commented on #4261
I've installed the tool a couple of weeks back, but I stalled after that. I'm still interested in the review, but I would suggest a number of improvements to the authors:

- I've found the installation instructions here rather confusing:
https://cesar-p-core.readthedocs.io/en/latest/development/development-installation.html
https://cesar-p-core.readthedocs.io/en/latest/installation.html#installati

[2022-05-23 19:20] arfon commented on #2708
@ysohn – per my earlier message on the 21st April, I'm now proceeding to reject this submission. @akbaritabar, @marcjwilliams1, @martinmodrak, @kakiac – many thanks for your work here, and sorry this didn't work out.

[2022-05-23 19:21] arfon commented on #2708
@editorialbot reject

[2022-05-23 19:21] #2708 closed

[2022-05-23 19:54] lucass-carneiro commented on #4077
@pdebuyl I have removed the extraneous citation. Thanks for pointing it out.

[2022-05-23 20:00] flyaflya commented on #4358
@terrytangyuan @ChristopherLucas @joethorley  - thanks all for editing/reviewing this submission. Let me know if there are any issues encountered.  There is a known outstanding bug for `causact`'s dependency on `greta` when running on M1 chips (https://github.com/greta-dev/greta/issues/458).  So if possible, please test on a non-M1 chip machine.  Thanks!!

[2022-05-23 22:00] christinahedges commented on #4343
@editorialbot set 10.5281/zenodo.6563220 as archive

[2022-05-23 22:01] christinahedges commented on #4343
@editorialbot set v0.2.0 as version

[2022-05-23 22:01] christinahedges commented on #4343
@editorialbot recommend-accept

[2022-05-23 22:02] christinahedges commented on #4343
@editorialbot generate pdf

[2022-05-23 22:05] christinahedges commented on #4343
@warrickball, @astrobel and @danhey thanks so much participating in the JOSS review process! I'm going to recommend this submission for acceptance.

It seems like editorialbot is having a problem generating the pdf here. Maybe the EiC for this submission @kyleniemeyer can help us figure out what's going wrong with editorialbot? 😨

[2022-05-23 22:06] christinahedges commented on #4243
@editorialbot generate pdf

[2022-05-23 22:07] christinahedges commented on #4243
@editorialbot set joss_paper as branch

[2022-05-23 22:07] christinahedges commented on #4243
@editorialbot generate pdf

[2022-05-23 22:12] christinahedges commented on #4243
Hi @reichherzerp

Thank you for addressing my comments here's a quick response:

1. That looks greatly reduced, this will be much better for users, nice work!
2. Great job getting the readthedocs page sorted. I have two final comments you can address after acceptance if you like. a) You probably don't need the tests in your API doc, users won't need to look up those functions on readthedocs and th

[2022-05-23 22:13] christinahedges commented on #4243
@editorialbot recommend-accept

[2022-05-23 22:18] christinahedges commented on #4400
Hi @Jammy2211 thanks for your submission to JOSS! I'm excited to get this review kicked off, this seems like an exciting tool. I'm going to start by reading through your submission, and then I will ping some potential reviewers. We will find at least two reviewers, and then start the review. They will go through a checklist and then provide you feedback on `PyAutoGalaxy`.

I have some potential re

[2022-05-23 22:19] kyleniemeyer commented on #4343
It looks like the issue is with the figure, which references a URL that does not resolve (https://tomso.readthedocs.io/en/stable/index-1.hires.png).

Can you instead put the png locally in the directory with the paper source file?

[2022-05-24 01:16] edejong-caltech commented on #4412
@editorialbot check references

[2022-05-24 02:56] Spartanzhao commented on #4387
@jmschrei  I had uploaded my package to PypI and can be easily installed as I described in my repository.

[2022-05-24 02:58] Spartanzhao commented on #4387
@jmschrei [i](https://github.com/jmschrei) I had uploaded my package to PypI and can be easily installed as I described in my repository, README.md

[2022-05-24 03:13] chrisaberson commented on #4280
thank you @brunomontezano

Dealing with covid in our house but should be able to respond next week. We are all vaxed and should be fine.

[2022-05-24 04:17] terrytangyuan commented on #4358
@editorialbot assign @joethorley as reviewer

[2022-05-24 04:18] terrytangyuan commented on #4358
@editorialbot add @joethorley as reviewer

[2022-05-24 04:18] terrytangyuan commented on #4358
@editorialbot add @ChristopherLucas as reviewer

[2022-05-24 04:18] terrytangyuan commented on #4358
@editorialbot start review

[2022-05-24 04:18] editorialbot opened #4415 "[REVIEW]: Generative DAGs as an Interface Into Probabilistic Programming with the R Package causact"
**Submitting author:** @flyaflya (<a href="http://orcid.org/0000-0003-2871-4788">Adam Fleischhacker</a>)
**Repository:** https://github.com/flyaflya/causact/
**Branch with paper.md** (empty if default branch):
**Version:** v0.4.1
**Editor:** @arfon
**Reviewers:** @joethorley, @ChristopherLucas
**Archive:** 10.5281/zenodo.6949489

## Status

[![status](https://joss.theoj.org/papers/1e1eb42116078a46

[2022-05-24 04:18] #4358 closed

[2022-05-24 04:19] terrytangyuan commented on #4358
Thanks everyone! Looking forward to your reviews in #4415!

[2022-05-24 05:36] zhiiiyang commented on #4358
@terrytangyuan, do you already have enough reviewers?

[2022-05-24 05:56] jedbrown commented on #4157
Sorry about my delays (a medical emergency last week laid waste to all my plans). Thanks for this cool package.

## Project docs
1. I know it's hard to address disparate audiences, but I think it's pretty unclear to someone used to invoking mpiexec themselves what the workflow looks like. Could you address such users somewhere discoverable, including instructions for running a *.jl demo (in parall

[2022-05-24 07:09] chartgerink commented on #4310
@editorialbot start review.

I'll keep looking for a second reviewer but don't want to keep @daviddewhurst waiting any longer..

[2022-05-24 07:09] editorialbot opened #4416 "[REVIEW]: pydynpd: A python package for dynamic panel model"
**Submitting author:** @dazhwu (<a href="http://orcid.org/0000-0003-0304-3332">Dazhong Wu</a>)
**Repository:** https://github.com/dazhwu/pydynpd
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.5
**Editor:** @chartgerink
**Reviewers:** @Athene-ai, @mhu48
**Archive:** 10.5281/zenodo.6350362

## Status

[![status](https://joss.theoj.org/papers/ca861e4e390f5d912ba8fed06e90ac7f/st

[2022-05-24 07:09] #4310 closed

[2022-05-24 07:34] danasolav commented on #4279
I have added to the instruction manual and the paper paragraphs describing the two limitations that were raised by @mr53563:
1. Memory issues limiting the number/size of images that can be processed at once.
2. Ncorr's seed placement algorithm struggling to place the seeds correctly in case of large deformations, especially when accompanied by a large stereo angle between the cameras.

[2022-05-24 07:35] danasolav commented on #4279
Hi @abhishektha , were you able to run the tests?

[2022-05-24 08:37] jarvist commented on #4356
Thanks @lbluque ! I've contacted a couple of potential reviewers by email.

[2022-05-24 09:11] blsqr commented on #4329
Thanks for the update, @enekomartinmartinez!

I wanted to give an overview of the issues I opened in the [PySD project](https://github.com/JamesPHoughton/pysd/issues):
- [x] [Questions and suggestions regarding the software paper](https://github.com/JamesPHoughton/pysd/issues/316)
- [x] [Documentation enhancements](https://github.com/JamesPHoughton/pysd/issues/319)
- [ ] [Python 3.10 support](http

[2022-05-24 09:33] baxmittens commented on #4300
@editorialbot generate pdf

[2022-05-24 09:40] baxmittens commented on #4300
@jbytecode - I'm just about finishing...sorry for taking that long

[2022-05-24 09:53] baxmittens commented on #4300
*tagged release version id:   v0.2.0
*zenodo archive DOI:   10.5281/zenodo.6576155
*zenodo archive url:   https://doi.org/10.5281/zenodo.6576155

[2022-05-24 09:56] jbytecode commented on #4300
@editorialbot set v0.2.0 as version

[2022-05-24 09:57] jbytecode commented on #4300
@editorialbot recommend-accept

[2022-05-24 10:00] jbytecode commented on #4300
@baxmittens thank you for the submission, @mkitti and @dmbates thank you for your valuable reviews and consuming your time for JOSS.

One of the @openjournals/joss-eics will have the final decision.

Thank you!

[2022-05-24 10:07] baxmittens commented on #4300
@jbytecode @mkitti  @dmbates  - thank you for reviewing my first joss article.
Your help greatly improved the quality of my project and the paper as well. I really appriciate it!
I will publish further articels here, i guess. The next time I will be better prepared and setting up documentaion and stuff will only take me a fraction of the time I spent for this project. So I really feel I do benefit

[2022-05-24 11:45] terrytangyuan commented on #4358
Would you be interested in reviewing as well? We can add you.

[2022-05-24 12:19] michakraus commented on #2954
Dear @VivianePons and @arfon, apologies for the late reply. I have been off duty for the better part of the last 5~6 weeks.

We made some progress on the open issues, but not as much as I had hoped for. In the last months, we could not allocate a whole lot of resources to this project. However, most of the open issues need to be addressed in order to make progress on other projects or ours. So I h

[2022-05-24 13:05] martinfleis commented on #4380
Hi @ni1o1,

while looking at the software, I now realised that it is very small in scope and the actual Python code has only 915 lines, which is a borderline size for the JOSS. See https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort for details.

I will now flag the submission for a scope check by the wider editorial team to figure out if it is large enough to be con

[2022-05-24 13:05] martinfleis commented on #4380
@editorialbot query scope

[2022-05-24 13:44] pdebuyl commented on #4077
@editorialbot recommend-accept

[2022-05-24 14:08] lnacquaroli commented on #4312
Hi @arfon, the review is done. Sorry for the delay, I started actually a couple of days ago to finish it this week. It's a very nice job.

(I think there is a small typo in line 91, "revcovers" should read "recovers").

Please, let me know if there is anything else to do.

Cheers!

[2022-05-24 14:12] warrickball commented on #4343
@editorialbot generate pdf

Thanks @kyleniemeyer: I can see how this ended happening after I released the JOSS version of the package. The PNG (and short script to generate it) are now with the paper source. The draft PDF action [just passed](https://github.com/warrickball/tomso/actions/runs/2378357998).

[2022-05-24 15:03] warrickball commented on #4343
@editorialbot generate pdf

@kyleniemeyer Of course! I've replaced the macros with their standard abbreviations. i.e., `\mnras`→ MNRAS, `\apss` → Ap&SS and `\apjs` → ApJS.

[2022-05-24 15:53] ctdegroot commented on #3428
Hi All,

Apologies for the late reply, however, I am currently on parental leave and cannot help on this one.
Cheers,

Chris

[2022-05-24 16:07] reichherzerp commented on #4243
@christinahedges thanks for your additional comments! Interestingly, the size further decreased (file size ~500 kb). I removed the tests and added the tutorials directly in the documentation as you proposed. I agree that it is better like that. The software is archived at [10.5281/zenodo.6573031](https://doi.org/10.5281/zenodo.6573056) under the version v1.1.1. I think that I can't change this inf

[2022-05-24 16:32] archermarx commented on #4402
Just wanted to check in and see if there has been any movement on this?

[2022-05-24 17:11] ChristopherLucas commented on #4415
In Figure 1, why is there an edge from the estimated standard error?

[2022-05-24 17:46] smchartrand commented on #4282
Thanks @tdoane. Very good point, and not the intention of the edit. I will separate that sentence into two statements so there is no uncertainty around what we mean. I will make that edit today.

Thanks for your time and constructive feedback. It is much appreciated.

[2022-05-24 17:50] dfm commented on #4301
@editorialbot add @kaleybrauer as reviewer

Thanks @kaleybrauer for agreeing to be our second reviewer! And thanks all for your patience with this process. I'll get the review started in a new thread and I'll have lots more info over there.

[2022-05-24 17:50] dfm commented on #4301
@editorialbot start review

[2022-05-24 17:50] editorialbot opened #4417 "[REVIEW]: A-SLOTH: Ancient Stars and Local Observables by Tracing Haloes"
**Submitting author:** @HartwigTilman (<a href="http://orcid.org/0000-0001-6742-8843">Tilman Hartwig</a>)
**Repository:** https://gitlab.com/thartwig/asloth
**Branch with paper.md** (empty if default branch):
**Version:** 1.1.0
**Editor:** @dfm
**Reviewers:** @gregbryan, @kaleybrauer
**Archive:** 10.5281/zenodo.6683682

## Status

[![status](https://joss.theoj.org/papers/596b9be484b4145accfd7c6cdd

[2022-05-24 18:01] MiftariB commented on #4392
Hi @kellyrowland,

Thanks for the invitation to review this work. It seems an exciting package, but the academic year is ending, and I am a little overwhelmed by work and won't be able to review this until early July. So I will have to, unfortunately, decline.

Best Regards,

BM

[2022-05-24 18:43] j3r3m1 commented on #4336
All points have been quite well adressed, thank you to authors. However, the added diagram (Figure 2) is quite complicated to understand and hardly fit with text description. I have added a comment in the initial related issue (https://github.com/pnnl/interflow/issues/8).

[2022-05-24 19:17] jjgomera commented on #4410
iapws is the name of library module,

Actually this module does not constitute a research work in itself, it is in fact the implementation of property correlations for water. Maybe I misunderstood the scope of JOSS

I don't know how to edit the issue name, the correct would be of paper with the module name and the short description as subtitle

[2022-05-24 19:24] jjgomera commented on #4410
If JOSS requires a original research with the associated code, feel free to close the issue and paper submission associated

[2022-05-24 19:54] kanishkan91 commented on #4237
@editorialbot generate my checklist

[2022-05-24 19:55] bastorer commented on #4277
Hi @danielskatz

Sorry about the slow response. I'll work through the issues Nora's created tomorrow, including the license (thanks for pointing that out!).

[2022-05-24 21:19] Yurlungur commented on #4367
@jzrake thanks for the comments. I just updated the manuscript based on your feedback. The relevant commit is [here](https://github.com/lanl/spiner/commit/ba0fb286e1d2c75647ceaf12bbb003cd72ffe088). Here's a formal little writeup to explain the answers to your questions:

1. It's true that hardware interpolation is required for graphics applications, and is thus a feature for GPUs. Indeed, one of o

[2022-05-24 22:31] smchartrand commented on #4282
@kbarnhart @tdoane I have edited the sentence in the Theory.md which @tdoane discusses in the post today. I simply removed the clause pertaining to the lognormal distribution - the revised sentence reads: The Pareto distribution also has the advantage of
being heavy-tailed where the variance becomes undefined for certain shape parameters.

thanks.

[2022-05-24 22:36] eloisabentivegna commented on #4173
@editorialbot check references

[2022-05-24 22:36] eloisabentivegna commented on #4173
@editorialbot generate pdf

[2022-05-24 22:40] pfeiffea commented on #4282
Thanks for the prod @kbarnhart.

I'm happy with the changes the authors have made addressing my comments.

The one final checkbox on my review list was testing. I think this was my programming naivete, but simply following the *Testing your installation* code didn't work for me:
`python -m unittest src/tests/test_*` gave an import error. Should that wildcard '*' work as written? I'm running it on

[2022-05-24 22:41] eloisabentivegna commented on #4173
Thanks @amoradinejad. There seems to be an error with the compilation, due to your affiliation this time -- let me look into it.

In the meantime, could you please go through the checklist above? Items 1 and 3 have not been addressed (we're missing the version tag, and the title on Zenodo does not match the submission title).

[2022-05-25 00:12] szwiep commented on #4282
Hi @pfeiffea! I'll look into the issue with the `python -m unittest src/tests/test_*` call tonight. I'm hoping it's just an incompatibility with Windows. If you have a chance, could you post the import errors you're getting?

As for the `particle 0.0` business, those are forced errors in the `TestFindSupports.test_no_supports_available_returns_value_error` unit test. It tests that an error is thro

[2022-05-25 00:27] behollister commented on #4283
Build issue using Maven project via Eclipse IDE: https://github.com/agdturner/ccg-v3d/issues/2

[2022-05-25 02:10] zhiiiyang commented on #4358
@terrytangyuan, I am interested in reviewing but I can't promise any turnaround in a month. Feel free to pass if you expect to provide timely feedback to the authors.

[2022-05-25 02:19] fboehm commented on #4251
@editorialbot check references

[2022-05-25 02:20] fboehm commented on #4251
@editorialbot generate pdf

[2022-05-25 02:20] phoebe-p commented on #4298
Hi all, sorry for my silence, last few weeks were busy -- I will attempt to run the two examples I was having trouble with again by switching from Xyce to Ngspice, and avoiding the use of LaTeX in the other.

[2022-05-25 02:24] fboehm commented on #4251
the dois in the pdf all resolve to the correct targets.

[2022-05-25 02:27] fboehm commented on #4251
@nociale - great! Please make a tagged release of your package and archive it, for example, with zenodo. Please report here the version number for the release and the doi for the archive. Please let me know if I should provide instructions for either of these tasks. Thanks again!

[2022-05-25 02:51] terrytangyuan commented on #4415
@editorialbot add @zhiiiyang as reviewer

[2022-05-25 05:41] szwiep commented on #4282
Hi again @pfeiffea, I believe I've addressed your comments in pull requests #23 and #24 in the project repository. The new unittest commands appear to be working on both Linux and Windows systems and the stderr from passing tests have been suppressed to help make the results more clear to users. Let me know if these changes are appropriate. Thanks again!

[2022-05-25 06:03] osorensen commented on #4181
@blind-contours, could you please update us on how it's going with addressing the issues raised by the reviewers?

[2022-05-25 08:34] d-eggert commented on #4052
@martinfleis thank you. We have a new data science department at our institute, I should be able to find a potential reviewer there. If it doesn't violate some JOSS rules, I could contact and ask them.

[2022-05-25 08:39] JulianKarlBauer commented on #4389
Hi @nicoguaro
thank you very much for starting your review!
Please let me address the points of concern.

-----------------------------------

Thank you, indeed a file `CONTRIBUTING.md` only had been added to the `paper`-branch, which had been used to create the paper draft and prepare the review. I merged the `paper`-branch into master and will keep both identical side by side. As I specified the

[2022-05-25 10:04] martinfleis commented on #4052
@d-eggert That would violate the [Conflict of Interest policy](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy) due to employment by the same institution but thank you for the offer.

[2022-05-25 10:07] d-eggert commented on #4052
ok, then I will leave it you.

[2022-05-25 10:09] HartwigTilman commented on #4417
Thank you very much for accepting to review A-SLOTH, Greg and Kaley!

This is a parallel submission to JOSS and ApJ. Our methods paper, which we had submitted to ApJ, was accepted a few days ago. I have just added the ApJ paper draft to the repository under `doc/paper_draft_ApJ.pdf`. I hope you find these additional explanations useful for the review process.

[2022-05-25 10:36] RichardClayton commented on #4249
Apologies that I have taken so long to complete my initial review.

I am content to check off most of the boxes for my review. However, there are some minor revisions that I would suggest. These are:

**Functionality documentation** - The documentation at https://uncertainsci.readthedocs.io/en/latest/api_docs/index.html is of good quality, and there are some nice demos and tutorials, which enable

[2022-05-25 11:15] sairamgeethanath commented on #4278
@georgeyiasemis I have checked off my list.

[2022-05-25 11:17] sairamgeethanath commented on #4278
@editorialbot generate my checklist

[2022-05-25 11:19] sea-bass commented on #4232
According to the guidelines, the requirements are:

**Automated tests:** Are there automated tests or manual steps described so that the functionality of the software can be verified?

If there is no plan to create automated unit tests / a CI pipeline for this review process (which is a totally fair decision), could you point me to the "manual steps" that would meet the criteria above? And if not

[2022-05-25 12:11] osorensen commented on #4278
@georgeyiasemis, the reviewers have now completed their checklists. I will now read through the paper, and get back to you if I have any suggested changes.

In the meantime, could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
-

[2022-05-25 12:25] osorensen commented on #4278
@editorialbot check references

[2022-05-25 14:24] arfon commented on #3329
@editorialbot accept

[2022-05-25 14:28] arfon commented on #3982
@editorialbot accept

[2022-05-25 14:30] arfon commented on #3997
@editorialbot accept

[2022-05-25 14:43] lucass-carneiro commented on #4077
@arfon Merged! Thanks for the corrections.

[2022-05-25 14:45] arfon commented on #4231
@editorialbot accept

[2022-05-25 14:45] arfon commented on #4077
@editorialbot recommend-accept

[2022-05-25 14:50] Viech commented on #4392
Hi @kellyrowland, yes I can review this.

[2022-05-25 15:54] vsoch commented on #4352
I haven't worked with any of them - the only connection is that I interviewed the second on RSE Stories a few years ago: https://us-rse.org/rse-stories/2020/robert-haines/.

[2022-05-25 16:09] kellyrowland commented on #4249
@RichardClayton thank you for the thorough review! I understand that just about everyone is stretched quite thin these days, and the JOSS team really appreciates the effort of reviewers.

@shahmoradi checking in again on your review status - please let me know about an update when you can. If you need to set down the review for any reason, please just let me know that so I can find another reviewe

[2022-05-25 16:12] kellyrowland commented on #4392
@MiftariB thanks for the quick reply! Best wishes for the conclusion of the academic year.

@Viech Great, thank you! I'll add you as a reviewer; the formal review process will start as soon as I can secure a second reviewer.

[2022-05-25 16:12] arfon commented on #3329
@marvinjonathcn, @simonom – many thanks for your reviews here and to @vissarion for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@GustaveCoste – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-05-25 16:12] #3329 closed

[2022-05-25 16:12] kellyrowland commented on #4392
@editorialbot add @Viech as reviewer

[2022-05-25 16:17] arfon commented on #3982
@tisaac, @wence- – many thanks for your reviews here and to @jedbrown for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@mscroggs – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-05-25 16:19] arfon commented on #4077
@editorialbot accept

[2022-05-25 16:25] jarvist commented on #4414
@dawbarton @lucaferranti  - just confirming that you both got invited to this issue for the review!

[2022-05-25 16:27] lucaferranti commented on #4414
@jarvist I didn't know reviewers have to generate their checklist, is it new? Anyway I generated my checklist and looks like I can edit, so I guess everything is setup? :)

[2022-05-25 16:29] arfon commented on #4077
@JamieBamber, @cescalara – many thanks for your reviews here and to @pdebuyl for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@lucass-carneiro – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-05-25 16:29] #4077 closed

[2022-05-25 16:31] lucaferranti commented on #4414
@kahaaga @jarvist I'll come back to this within a couple of weeks

[2022-05-25 16:41] pfeiffea commented on #4282
@szwiep Those changes did the trick!

I checked the "tests" box on the review checklist. @kbarnhart from my perspective, @szwiep and @smchartrand are good to go 💯

[2022-05-25 16:44] lucaferranti commented on #4099
Hi @engyasin

first of all, I am very sorry for the delay with this. Overall, I think the submission looks good and it's almost ready for publication. The only thing I would like to do before giving the final ok is to rerun the examples on my local machine to double check functionality, I hope to get this done during this weekend. Again, apologies for the long time it took with this

best
Luca

[2022-05-25 16:49] jonschwenk commented on #4237
Big thanks to @kanishkan91 for stepping in for this review! @crvernon I believe both reviewers' checklists are complete and that all raised Issues have been addressed. The process was very enlightening and we made a few unsuggested changes to documentation to hopefully help new users figure things out quicker based on the reviewers' experience (along with the requested changes).  Please let us kno

[2022-05-25 16:57] kanishkan91 commented on #4237
@editorialbot generate pdf

[2022-05-25 17:01] kanishkan91 commented on #4237
@jonschwenk I went through the latest draft of the paper after all edits. I guess one small edit I would recommend is that this package is useful for ESMs since it may help with initialization of basin level data. It might invite even more usage of this package.

[2022-05-25 17:19] LeonieFierz commented on #4261
@noah80 thank you for starting to review our submission

we will try to state the points you mentioned in more detail.

meanwhile to get you started with playing with the library please have a look on https://github.com/hues-platform/cesar-p-usage-examples where you find different usage examples - please let me know if you have troubles with that (if you are running it on a linux system, please se

[2022-05-25 17:34] tiagoseq commented on #3974
Hello, i'm very sorry for the late reply.
Unfortunately, about 2 months ago i had a car accident, nothing too serious.
The major injuries that i had were a broken leg and a total rupture of my ACL.
And since then I have undergone two surgeries (one of them performed last week) and lots of physiotherapy.

I simply didn't have time yet to solve this issue.

Again, i'm really sorry and i'll try to ad

[2022-05-25 18:00] smchartrand commented on #4282
Thanks very much @pfeiffea for jumping back on the review this morning, and for your constructive and supportive feedback. Your time is most appreciated.

[2022-05-25 18:23] lambdaloop commented on #4362
I'm sorry, give me another week to complete the review. I'll have it done by Friday April 3rd.

[2022-05-25 19:18] diehlpk commented on #3390
Hi @Kevin-Mattheus-Moerman how is your review going?

[2022-05-25 20:14] jarvist commented on #3974
Dear Tiago,
Very sorry to hear that! Hope you mend well. Of course we can leave this open for the time being. I'll check in again in 4 weeks to see where we stand.
Best wishes!

[2022-05-25 20:15] jarvist commented on #3974
Ok, I'll try and remind myself :^)

[2022-05-25 21:30] eloisabentivegna commented on #4173
@amoradinejad, I believe I have found the source of the problem. Could you accept the pull request, and see if it works?

[2022-05-25 21:45] thewan05 commented on #3813
@drvinceknight Thank you for your help in reviewing our submission. It looks like it is very hard to find SAS reviewers. We would like to withdraw this paper from JOSS. Kindly guide us through this process.

[2022-05-25 23:08] chrisaberson commented on #4280
@editorialbot generate pdf

I believe I have address all remaining issues.

[2022-05-26 01:52] jzrake commented on #4367
@Yurlungur thank you for the thoughtful reply. I hope this content can be included in the PDF writeup, as I think it significantly clarifies the motivation and objectives of the project.

@dfm is the PDF writeup intended to be very concise, i.e. can it be as detailed as the reply above?

[2022-05-26 02:04] jzrake commented on #4367
@editorialbot generate pdf

[2022-05-26 02:05] diehlpk commented on #4351
@erasmuss sounds good. Sorry for the late respond, I was on vacation.

[2022-05-26 02:05] diehlpk commented on #4351
@editorialbot add @erasmuss as reviewer

[2022-05-26 02:05] diehlpk commented on #4351
@editorialbot start review

[2022-05-26 02:05] editorialbot opened #4418 "[REVIEW]: elwaspatid: A Python package to compute space-time diagrams for the propagation of elastic waves in 1D rods"
**Submitting author:** @dbrizard (<a href="http://orcid.org/0000-0003-2264-7131">Denis Brizard</a>)
**Repository:** https://github.com/dbrizard/elwaspatid
**Branch with paper.md** (empty if default branch):
**Version:** 2.0.1
**Editor:** @diehlpk
**Reviewers:** @obsmax, @erasmuss
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/0ed2bb9a2a6089cdb974876970ef3778/status.svg)]

[2022-05-26 02:05] #4351 closed

[2022-05-26 02:06] diehlpk commented on #4351
@dbrizard we are good and the review started.

[2022-05-26 02:12] jessicatytam commented on #3776
We've got through adding lots of tests and almost everything is now tested except for one big issue.

We're dealing with some issues with testing the functions that query an API multiple times. Since there are limitations in the scopus API, we need >10 GET requests in a single function to retrieve all of the data while handling edge cases smoothly. We are using `httptest::with_mock_api()` to test

[2022-05-26 04:15] arfon commented on #4300
@editorialbot accept

[2022-05-26 04:16] arfon commented on #4338
@editorialbot accept

[2022-05-26 04:21] arfon commented on #4300
@dmbates, @mkitti – many thanks for your reviews here and to @jbytecode for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@baxmittens – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-05-26 04:21] #4300 closed

[2022-05-26 04:22] arfon commented on #4338
@tuliofalmeida, @finsberg – many thanks for your reviews here and to @adi3 for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@AKuederle – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-05-26 04:22] #4338 closed

[2022-05-26 04:22] editorialbot opened #4419 "[PRE REVIEW]: ggmatplot: An R package for data visualization on wide-format data"
**Submitting author:** @xuan-liang (<a href="http://orcid.org/0000-0002-0792-3751">Xuan Liang</a>)
**Repository:** https://github.com/xuan-liang/ggmatplot
**Branch with paper.md** (empty if default branch):
**Version:** v.0.1.2
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/8eca7ad3c517da6cfb6b15fec8d945c6/status.svg)](

[2022-05-26 04:22] editorialbot opened #4420 "[PRE REVIEW]: Xponge: A Python package to perform pre- and post-processing of molecular simulations"
**Submitting author:** @Xia-Yijie (<a href="http://orcid.org/0000-0002-7931-4015">义杰 夏</a>)
**Repository:** https://github.com/Xia-Yijie/Xponge
**Branch with paper.md** (empty if default branch):
**Version:** v1.2.5.14
**Editor:** @richardjgowers
**Reviewers:** @ojeda-e, @hmacdope
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/31a7887ca2e6c3057d3d6a17588a34b0/st

[2022-05-26 04:22] editorialbot opened #4421 "[PRE REVIEW]: SimilaritySearch.jl: Autotuned nearest neighbor indexes for Julia"
**Submitting author:** @sadit (<a href="http://orcid.org/0000-0001-5804-9868">Eric S. Tellez</a>)
**Repository:** https://github.com/sadit/SimilaritySearch.jl
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.8.20
**Editor:** @jbytecode
**Reviewers:** @kose-y, @ahwillia
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/07835a814f6f35b0c8e53bc

[2022-05-26 04:23] editorialbot opened #4422 "[PRE REVIEW]: PyMSM: Python package for Competing Risks and Multi-State models for Survival Data"
**Submitting author:** @hrossman (<a href="http://orcid.org/0000-0002-5613-8004">Hagai Rossman</a>)
**Repository:** https://github.com/hrossman/pymsm
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.7
**Editor:** @majensen
**Reviewers:** @CamDavidsonPilon, @stefanocoretta
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/5e0118de5b2ea0b1a689a62

[2022-05-26 04:25] editorialbot opened #4423 "[PRE REVIEW]: Chyper: Functions for Conditional Hypergeometric Distributions"
**Submitting author:** @WillNickols (<a href="http://orcid.org/0000-0001-8214-9746">William Nickols</a>)
**Repository:** https://github.com/WillNickols/chyper
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/06d1eefea33512829b081236176f404c/status.svg

[2022-05-26 04:29] arfon commented on #4419
@editorialbot query scope

@xuan-liang – as this submission looks very focused on data visualization, I'm going to query the scope with our broader editorial team.

[2022-05-26 04:29] jmschrei commented on #4408
@editorialbot assign me as editor

[2022-05-26 04:31] arfon commented on #4423
@editorialbot query scope

@WillNickols – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-05-26 04:31] editorialbot opened #4424 "[PRE REVIEW]: vSmartMOM.jl: an Open-Source Julia Package for Atmospheric Radiative Transfer and Remote Sensing Tools"
**Submitting author:** @RupeshJey (<a href="http://orcid.org/0000-0003-0142-7367">Rupesh Jeyaram</a>)
**Repository:** https://github.com/RemoteSensingTools/vSmartMOM.jl
**Branch with paper.md** (empty if default branch): joss
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/e19083ce4cadbe34b1b740413a54

[2022-05-26 04:31] editorialbot opened #4425 "[PRE REVIEW]: `pygetpapers`: a Python library for automated retrieval of scientific literature"
**Submitting author:** @ayush4921 (<a href="http://orcid.org/0000-0001-7016-747X">Ayush Garg</a>)
**Repository:** https://github.com/petermr/pygetpapers/
**Branch with paper.md** (empty if default branch):
**Version:** v1.2.3
**Editor:** @chartgerink
**Reviewers:** @khinsen, @VeroniqueLegrand, @kjappelbaum
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/42421c508

[2022-05-26 04:32] editorialbot opened #4426 "[PRE REVIEW]: pyCADMium: Chemical Atoms in Diatomic Molecules. A prolate spheroidal Python module for embedding calculations."
**Submitting author:** @VHchavez (<a href="http://orcid.org/0000-0003-3765-2961">Victor Hugo Gonzalez Chavez</a>)
**Repository:** https://github.com/wasserman-group/pyCADMium
**Branch with paper.md** (empty if default branch): main
**Version:** v0.9
**Editor:** @lucydot
**Reviewers:** @raghurama123, @srmnitc
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/5cede04

[2022-05-26 04:32] editorialbot opened #4427 "[PRE REVIEW]: GPJax: A didactic Gaussian process package in Jax"
**Submitting author:** @thomaspinder (<a href="http://orcid.org/0000-0001-9854-4265">Thomas Pinder</a>)
**Repository:** https://github.com/thomaspinder/GPJax
**Branch with paper.md** (empty if default branch):
**Version:** v0.4.5
**Editor:** @dfm
**Reviewers:** @gpleiss, @theorashid
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/5f3c1d4f6470b0ef3c843d7b8fe3cf27/

[2022-05-26 04:32] editorialbot opened #4428 "[PRE REVIEW]: special: A Python package for the spectral characterization of directly imaged low-mass companions"
**Submitting author:** @VChristiaens (<a href="http://orcid.org/0000-0002-0101-8814">Valentin Christiaens</a>)
**Repository:** https://github.com/VChristiaens/special
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.2
**Editor:** @dfm
**Reviewers:** @QuentChangeat, @jgagneastro
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/8b5223782855c3523

[2022-05-26 04:32] editorialbot opened #4429 "[PRE REVIEW]: MNE-ICALabel: Automatically annotating ICA components with ICLabel in Python"
**Submitting author:** @adam2392 (<a href="http://orcid.org/0000-0001-8421-365X">Adam Li</a>)
**Repository:** https://github.com/mne-tools/mne-icalabel
**Branch with paper.md** (empty if default branch): main
**Version:** v0.1
**Editor:** @emdupre
**Reviewers:** @hvgazula, @TomDonoghue
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/d91770e35a985ecda4f2e1f1249772

[2022-05-26 04:32] editorialbot opened #4430 "[PRE REVIEW]: concstats: Market Structure, Concentration and Inequality Measures"
**Submitting author:** @schneiderpy (<a href="http://orcid.org/0000-0001-5630-1097">Andreas Schneider</a>)
**Repository:** https://github.com/schneiderpy/concstats/
**Branch with paper.md** (empty if default branch):
**Version:** v.0.1.2
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/cea5655cc993b3b1f02f5ee29d7321dd/sta

[2022-05-26 04:35] arfon commented on #4429
@adam2392 – JOSS can't compile a paper that's on a remote branch (`adam2392:joss`) sorry. Can you merge it please?

[2022-05-26 04:36] arfon commented on #4430
@editorialbot query scope

@schneiderpy – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-05-26 04:36] editorialbot opened #4431 "[PRE REVIEW]: optBuck – An R package for handling single-grip forest 1 harvester data and bucking optimization"
**Submitting author:** @lennartnoordermeer (<a href="http://orcid.org/0000-0002-8840-0345">Lennart Noordermeer</a>)
**Repository:** https://github.com/lennartnoordermeer/optBuck
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/e18e56d01892afb7ed0182ea3

[2022-05-26 04:39] arfon commented on #4431
@editorialbot query scope

@lennartnoordermeer – this software looks to be packaged in a somewhat non-standard way. As such, I'm going to query the scope to see whether the JOSS editorial team feels like this submission is ready to head out to review. We should get back to you sometime next week.

[2022-05-26 05:13] rougier commented on #3974
Or ask the bot to remind me and I'll remind you.

[2022-05-26 05:16] janmandel commented on #3821
It's fine thank you. I had to step away from testing for few weeks but then it was not straightforward to find my way back here resulting in a delay.

[2022-05-26 06:26] amartinhuertas commented on #4157
Hi @jedbrown,

thanks for your review.

I have pushed a new version of the article which I believe addresses all your concerns. Let me know if this is not the case.

Let me answer below inline to each comment.

Yes. See https://github.com/gridap/GridapDistributed.jl#execution-modes-and-how-to-execute-the-program-in-each-mode

I am not sure which is the source of the confusion (if there is any), no

[2022-05-26 07:10] lennartnoordermeer commented on #4431
Dear JOSS editor,

I have looked at the list of potential reviewers, and it seems the
following people may be suitable reviewers:

kauedesousa; ***@***.***
dlebauer; ***@***.***
Prof-ThiagoOliveira; ***@***.***

Kind regards,

Lennart Noordermeer
- on behalf of both authors -

On Thu, May 26, 2022 at 6:36 AM The Open Journals editorial robot <
***@***.***> wrote:

[2022-05-26 08:15] amartinhuertas commented on #4157
@editorialbot generate pdf

[2022-05-26 08:16] Kevin-Mattheus-Moerman commented on #4389
@likask, @lizarett thanks for your help with this review. Can you please provide an update on progress? Thanks.

[2022-05-26 08:23] amartinhuertas commented on #4157
@editorialbot generate pdf

[2022-05-26 08:29] hugoledoux commented on #4099
@Shiming94 could you please continue your review, there are several parts not ticked above: is it because you haven't had time to check or because according to you the submission doesn't fulfil them?

[2022-05-26 10:18] enekomartinmartinez commented on #4329
Thanks a lot @blsqr!
All the suggestions you proposed have been already included in the master branch and release 3.0.1. I have also merged master to paper_pysd. I will include the _citation.cff_ file in the paper_pysd branch soon.

[2022-05-26 10:51] dfm commented on #4367
@Yurlungur, @jzrake — Re: manuscript scope. Our goal here is for the manuscript to be brief with the documentation page being the primary standalone source of information, so it's generally a good idea to add some words to the documentation whenever you're extending the manuscript. I prefer the manuscript to not have any unique material (everything should be in the docs one way or another), but th

[2022-05-26 11:28] dfm commented on #4427
@editorialbot assign me as editor

I'm happy to edit this one. EiC: let me know if you'd rather assign it to someone else.

@thomaspinder: I'm offline for the next few days, but I'll do a first editorial pass then start recruiting reviewers next week.

[2022-05-26 12:44] jedbrown commented on #4157
Regarding the 4-Laplacian, the current code is
[code]
The first term of the second line is a scalar while the second is a vector. In Julia, we normally can't add these without `.+` broadcast; e.g., `1 + [2,3]` is an error and you need `1 .+ [2,3]`.

I usually write the derivative like this
[code]
or something like this to really expose the geometric intuition that Newton linearization yields a sym

[2022-05-26 13:07] adam2392 commented on #4429
@arfon done! Sorry about that. Wasn't aware of that limitation.

[2022-05-26 13:42] amartinhuertas commented on #4157
Ok. I know see what you mean. You are absolutely correct. I wrote the derivative a thousand times on paper and I was sure that it matched the code, but in the code there was a missing multiplication by `∇u` in the first term! Pair programming is definitely efficient, I think I would have not been able to see this error in 1000 years.

The code snippet below reproduces the situation. The last asser

[2022-05-26 13:51] crvernon commented on #4237
@editorialbot generate pdf

[2022-05-26 13:52] Bisaloo commented on #4361
Hi @ptitle, I found your contact while looking at BAMM and BAMMtools. Would you be interested in reviewing this [R package](https://github.com/joshwlambert/DAISIEmainland) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04361/joss.04361/10.21105.joss.04361.pdf) for JOSS? It seems very relevant to your interests.

You can have a look at our [review criteri

[2022-05-26 13:56] amartinhuertas commented on #4157
Ok. I tried your patch + suggested command and now it renders correctly. Thanks! I would swear that the command I was using was taken from the JOSS instructions per authors. But I now see that https://joss.readthedocs.io/en/latest/submitting.html?highlight=docker#docker does not match the command I was using. Nevermind, it works :-)

[2022-05-26 14:28] kyleniemeyer commented on #4343
@editorialbot recommend-accept

[2022-05-26 14:40] crvernon commented on #4341
👋 - @erexer Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-26 14:40] crvernon commented on #4341
👋 - @thurber Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-26 14:51] crvernon commented on #4237
@editorialbot check references

[2022-05-26 14:52] thurber commented on #4341
@crvernon I am willing

[2022-05-26 14:55] crvernon commented on #4237
@jonschwenk we are almost there!

I found one thing that needs to be addressed in your paper:

- [ ] Line 101:  The link for "Full Example" is broken

Next is just setting up the archive for your new release.

- We want to make sure the archival has the correct metadata that JOSS requires.  This includes a title that matches the paper title and a correct author list.

So here is what we have left

[2022-05-26 14:56] crvernon commented on #4341
@editorialbot add @thurber as reviewer

[2022-05-26 14:57] erexer commented on #4341
@crvernon sure thing

[2022-05-26 14:58] crvernon commented on #4341
@editorialbot add @erexer as reviewer

[2022-05-26 15:00] crvernon commented on #4341
:wave: @matthiasdemuzere , @thurber , @erexer - I am going to close this Pre-Review and kick off the full review which you should receive a notification for. Thanks!

[2022-05-26 15:00] crvernon commented on #4341
@editorialbot start review

[2022-05-26 15:00] editorialbot opened #4432 "[REVIEW]: W2W: A Python package that injects WUDAPT’s Local Climate Zone information in WRF"
**Submitting author:** @matthiasdemuzere (<a href="http://orcid.org/0000-0003-3237-4077">Matthias Demuzere</a>)
**Repository:** https://github.com/matthiasdemuzere/w2w
**Branch with paper.md** (empty if default branch):
**Version:** v0.4.1
**Editor:** @crvernon
**Reviewers:** @thurber, @erexer
**Archive:** 10.5281/zenodo.7016607

## Status

[![status](https://joss.theoj.org/papers/96d408b81b716997

[2022-05-26 15:02] crvernon commented on #4432
:wave: @matthiasdemuzere , @thurber , @erexer - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you f

[2022-05-26 15:08] jsta commented on #4237
@jonschwenk We also need to make sure the code in the example notebooks reflect the current API

[2022-05-26 15:11] jedbrown commented on #4157
Yeah, JOSS switched to the new software stack (which contained https://github.com/openjournals/inara/pull/4 to handle unicode fonts, plus PDF/A support and other benefits) a couple days after you first submitted. So no mistake on your end, but we can use the new system now (and it'll have better accessibility).

[2022-05-26 15:16] thurber commented on #4432
@editorialbot generate my checklist

[2022-05-26 15:53] rkurchin commented on #4373
👋 @kanderso-nrel, thanks for your earlier comment – would you actually be willing to review this submission?

[2022-05-26 15:55] rkurchin commented on #4040
Hi again @awvwgk, just checking in again!

[2022-05-26 16:03] kanderso-nrel commented on #4373
@rkurchin I am willing to review but won't have time for it until mid-late June.  Is that delay acceptable?

[2022-05-26 16:27] kyleniemeyer commented on #4343
Congratulations @warrickball on your article's publication in JOSS!

Many thanks to @danhey and @astrobel for reviewing this, and @christinahedges for editing.

[2022-05-26 16:27] #4343 closed

[2022-05-26 17:16] jmschrei commented on #4360
Great! Thanks for the clean submission, @maxibor. Would it be possible for you to put your code on a service that can generate a permanent DOI, such as Zenodo, and release a new tagged version corresponding to this release? Once you do that we can go ahead and accept the paper.

[2022-05-26 17:34] sadit commented on #4421
Updated paper.md, fixed missing DOIs

@editorialbot generate pdf

[2022-05-26 17:41] sadit commented on #4421
@editorialbot generate pdf

[2022-05-26 17:43] mbobra commented on #4327
@SimonMolinsky Did you have a chance to look at this submission? I think @athulpg007 already took a close look, so the review shouldn't take too much time on your end. Please let me know if I can help in any way!

[2022-05-26 17:44] ptitle commented on #4361
Apologies @Bisaloo but I am unable to at this time.

[2022-05-26 17:48] sadit commented on #4421
@editorialbot check references

[2022-05-26 17:53] sadit commented on #4421
@editorialbot check references

[2022-05-26 17:59] sadit commented on #4421
Regarding reviewers, I took some names from the list mentioned above

ahwillia
Datseris
juliohm
ninjin
matbesancon
ayushpatnaikgit
kose-y

[2022-05-26 18:17] bede commented on #4408
I’m happy to review

[2022-05-26 18:24] jmschrei commented on #4408
@editorialbot add @bede as reviewer

[2022-05-26 19:07] jbytecode commented on #4280
@chrisaberson  - thank you for the changes.

Dear reviewers @62442katieb and @brunomontezano, could you please update your status?

[2022-05-26 19:55] Shiming94 commented on #4099
Hi @hugoledoux, @engyasin,

I am really sorry for the late reply. I am still stuck with the problem I mentioned before. I will try to test it again on another workstation. I will finish this review this weekend. Really sorry for the long time delay.

Best,
Shiming

[2022-05-26 21:12] VHchavez commented on #4426
@editorialbot commands

[2022-05-26 22:09] kbarnhart commented on #4282
@szwiep, @smchartrand -- just letting you know that revisiting this is on my todo list, but I'm running behind. Thanks for your patience.

[2022-05-26 23:07] schneiderpy commented on #4430
Hi,
there is a similar package and published on JOSS with much less code ..
https://joss.theoj.org/papers/10.21105/joss.00828

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
Remitente
notificado con
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
26/05/22,
19:07:16

El jue, 2

[2022-05-26 23:30] kmongird commented on #4336
@j3r3m1 thank you for the follow-up comments, we appreciate your thorough review. We have simplified the figure in the paper considerably and better aligned it with the text.

[2022-05-26 23:35] schneiderpy commented on #4430
potential reviewers:
- leeper
- chrisaberson

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
Remitente
notificado con
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
26/05/22,
19:02:21

El jue, 26 may 2022 a las 0:33, The Open Journals editorial robot (<
***@***.***>) escribi

[2022-05-27 02:34] adam2392 commented on #4429
@arfon do I have to do anything special to re-run the build for the PDF?

[2022-05-27 03:21] zhiiiyang commented on #4415
@editorialbot generate my checklist

[2022-05-27 08:06] stulacy commented on #4408
Sorry, the subject area is well out of my knowledge!

[2022-05-27 08:28] rogersamso commented on #4329
Thanks a lot for your excellent review @blsqr , both the paper and the library have been greatly improved thanks to your comments and suggestions.

Looking forward to @andrecieplinski review to see if there's still room for further improvements!

[2022-05-27 09:05] drvinceknight commented on #3813
Sorry that this has been so difficult. I believe I can do the withdrawal.

[2022-05-27 09:05] drvinceknight commented on #3813
@editorialbot withdraw

[2022-05-27 09:06] drvinceknight commented on #3813
@openjournals/joss-eics could we withdraw this paper please.

[2022-05-27 09:46] Kevin-Mattheus-Moerman commented on #4410
@jjgomera we do not require original research to be submitted with the code if that is what you mean, but we do require that all software has a research application. Are you able to address this point:

I suppose submission to JOSS means that you seek to get "academic credit" for your software work. In other words you want the software reviewed and published with a DOI so that others and yourself

[2022-05-27 10:40] amoradinejad commented on #4173
@eloisabentivegna <https://github.com/eloisabentivegna> , sorry for the missing information.

Here is the checklist:
 Make a tagged release of your software, and list the version tag of the archived version here: Version v2.0.0 <https://zenodo.org/record/6576183>
 Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository): ARCHIVED IN ZENODO
 Check t

[2022-05-27 10:41] amoradinejad commented on #4173
@eloisabentivegna <https://github.com/eloisabentivegna>, thanks. I accepted the pull request.

[2022-05-27 11:46] danielskatz commented on #3813
@editorialbot withdraw

sorry about this @thewan05, and thanks for your work @drvinceknight

[2022-05-27 11:46] #3813 closed

[2022-05-27 13:16] eloisabentivegna commented on #4173
@editorialbot generate pdf

[2022-05-27 13:36] faroit commented on #4352
👋 @gflofst @sdruskat @hainesr @yochannah - would any of you be willing to review this submission for JOSS? The JOSS review process takes place on GitHub and focuses on the software and a short paper. We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under review is [CiteLang](htt

[2022-05-27 14:42] jarvist commented on #4356
@editorialbot add @KitMccoll as reviewer
Thank you Kit 👋

[2022-05-27 14:44] jarvist commented on #4356
@TomTranter if you would still be happy to review, that would be much appreciated! @kitmccoll has cluster expansion experience, and it's nicely complementary to have someone naive to the science as other reviewer, in case there's too much lingo / jargon.

[2022-05-27 14:46] hainesr commented on #4352
I could _probably_ review this - my reticence is that I don't count Python in the set of ecosystems that I am confident in. I am on leave next week and then very busy in June, but so long as "sometime in June" is an acceptable timeframe, then I can do this.

[2022-05-27 14:54] gflofst commented on #4352
I can and would like to do this.

I know someone perfect we should add though. Reed Milewicz (rmilewi@sandia.gov). This is exactly his area and he is likely to generate citations as well.

[2022-05-27 16:22] faroit commented on #4352
@editorialbot add @gflofst as reviewer

[2022-05-27 16:29] faroit commented on #4352
@gflofst thanks – great to have you on board here.

@vsoch do you see a COI with respect to @ rmmilewi?

[2022-05-27 16:32] vsoch commented on #4352
I know him from USRSE (he gives great talks!) but we’ve never worked together, so no I don’t think there is one.

[2022-05-27 17:05] jmschrei commented on #4408
No problem, thanks for responding. @tijeco are you able to review this submission?

[2022-05-27 17:46] tijeco commented on #4408
@jmschrei I'd be happy to review it!

[2022-05-27 17:55] jmschrei commented on #4408
@editorialbot add @tijeco as reviewer

[2022-05-27 17:55] jmschrei commented on #4408
@editorialbot start review

[2022-05-27 17:55] editorialbot opened #4433 "[REVIEW]: BTE: a Python module for pandemic-scale 2 mutation-annotated phylogenetic trees"
**Submitting author:** @jmcbroome (<a href="http://orcid.org/0000-0002-5002-5156">Jakob McBroome</a>)
**Repository:** https://github.com/jmcbroome/BTE
**Branch with paper.md** (empty if default branch):
**Version:** v0.8.2
**Editor:** @jmschrei
**Reviewers:** @bede, @tijeco
**Archive:** 10.5281/zenodo.7036163

## Status

[![status](https://joss.theoj.org/papers/16e578fb7ff7edaa44645086a1ed075b/sta

[2022-05-27 17:55] #4408 closed

[2022-05-27 18:18] eloisabentivegna commented on #4173
@amoradinejad, thanks for the further details. But the tag/repository now points to an old version -- could you create a new one?

[2022-05-27 19:09] Yurlungur commented on #4367
☝️ documetation updated in linked PR (now merged).

[2022-05-27 20:20] SimonMolinsky commented on #4327
@mbobra , yes, I've taken a look into the submission. I've started working on it and by the end of the next week I'll update all points of the review.

[2022-05-27 20:33] OHildreth commented on #4257
@dhhagan.  I don't know anyone approaching automation this way.  This is a side-project to address some issues I've had controlling my equipment  Most academic-level equipment programming is being done ad-hoc using LabView, which everyone hates.    I know some Swift developers that I've taken workshops with that I can recommend.  They aren't academics but they are amazing programmers.  I also know

[2022-05-27 20:54] maxibor commented on #4360
Many thanks for the constructive reviews @fasnicar and @marouenbg , and thanks a lot for the editing @jmschrei !!
I've now made a new release (1.0.0) with a Zenodo DOI: `10.5281/zenodo.6585307`

[2022-05-27 21:04] leahmendelson commented on #4398
@ronshnapp I'll use this comment as a checklist for issues I've added in the MyPTV repository

- [ ] https://github.com/ronshnapp/MyPTV/issues/16

[2022-05-27 21:11] jmschrei commented on #4433
Howdy @bede and @tijeco !

Thanks for agreeing to review this submission.

The process for conducting a review is outlined above in. Please run the command shown above to have @editorialbot generate your checklist, which will give a step-by-step process for conducting your review. Please check the boxes during your review to keep track, as well as make comments in this thread or open issues in the

[2022-05-27 21:12] jmschrei commented on #4360
@editorialbot set v1.0.0 as version

[2022-05-27 21:12] jmschrei commented on #4360
@editorialbot set 10.5281/zenodo.6585307 as archive

[2022-05-27 21:13] jmschrei commented on #4360
@editorialbot check references

[2022-05-27 21:13] jmschrei commented on #4360
@editorialbot generate pdf

[2022-05-27 21:18] jmschrei commented on #4360
@editorialbot recommend-accept

[2022-05-27 21:32] jonathanHuwP commented on #4333
Hello Lucy,

Regarding the reviews, I'm having difficulty understanding the mail chain. What do you need me to do?

Regards
   Jonathan
________________________________
From: Lucy Whalley ***@***.***>
Sent: 25 May 2022 18:53
To: openjournals/joss-reviews ***@***.***>
Cc: Jonathan Pickering ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: CrysalGrowthTracker: A

[2022-05-28 00:11] vijaysm commented on #3959
I have been trying to run the examples but have not had luck so far. I have been able to compile and link the tests without any issues. However, running the tests does not yield any output whatsoever. For example, `test-grid-2d` and `test-femadaptation` under dune/mmesh/test just sit at 100% CPU usage even after 2 hours. Are these supposed to take this long?

[2022-05-28 01:19] editorialbot opened #4434 "[PRE REVIEW]: TLViz: Visualising and analysing tensor decomposition models with Python"
**Submitting author:** @marieroald (<a href="http://orcid.org/0000-0002-9571-8829">Marie Roald</a>)
**Repository:** https://github.com/tensorly/viz
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.1.1
**Editor:** @faroit
**Reviewers:** @sara-02, @yiitozer
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/43044545885a3e47b35c6775530a67c0/sta

[2022-05-28 01:19] editorialbot opened #4435 "[PRE REVIEW]: CyMorph: fast non-parametric galaxy morphology package"
**Submitting author:** @igorkolesnikov13 (<a href="http://orcid.org/0000-0002-1189-0112">Igor Kolesnikov</a>)
**Repository:** https://github.com/igorkolesnikov13/cymorph
**Branch with paper.md** (empty if default branch):
**Version:** v2.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/941433bb2af3bf78355f339e597a387e/s

[2022-05-28 01:20] editorialbot opened #4436 "[PRE REVIEW]: wdpar: Interface to the World Database on Protected Areas"
**Submitting author:** @jeffreyhanson (<a href="http://orcid.org/0000-0002-4716-6134">Jeffrey Hanson</a>)
**Repository:** https://github.com/prioritizr/wdpar
**Branch with paper.md** (empty if default branch):
**Version:** 1.3.2
**Editor:** @martinfleis
**Reviewers:** @Jo-Schie, @DrMattG
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/2ce897960e750fee08a3df84e4d5

[2022-05-28 01:20] editorialbot opened #4437 "[PRE REVIEW]: Mashpit: sketching out genomic epidemiology"
**Submitting author:** @lskatz (<a href="http://orcid.org/0000-0002-2533-9161">Lee Katz</a>)
**Repository:** https://github.com/tongzhouxu/mashpit
**Branch with paper.md** (empty if default branch): master
**Version:** v0.9.2
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/e1f8d720b9e0b2cdbcb749987c6517af/status.svg)](ht

[2022-05-28 01:21] editorialbot opened #4438 "[PRE REVIEW]: Multiple Inference: A Python package for comparing multiple parameters"
**Submitting author:** @dsbowen (<a href="http://orcid.org/0000-0002-3033-1332">DILLON BOWEN</a>)
**Repository:** https://gitlab.com/dsbowen/conditional-inference
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.0
**Editor:** @vissarion
**Reviewers:** @blakeaw, @mattpitkin, @nhejazi
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/7a2a4af277c0a

[2022-05-28 01:23] arfon commented on #4438
:wave: @dsbowen, thanks for your submission to JOSS. As you noted in your submission form, there has been a related publication in the past. Could you share with me (e.g., a link to a diff on GitHub) the changes that have been made since the [earlier publication](https://www.aeaweb.org/articles?id=10.1257/pandp.20221065)?

[2022-05-28 01:27] arfon commented on #4437
@editorialbot query scope

@lskatz – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-05-28 01:32] max-little commented on #4286
Hi Nikoleta

Thank you for all your comments, which were very helpful. I have been busy attending to all of them in detail; you can now find a completely restructured and reworked version of the library ready on Github. As requested, I've opened issues for each item listed in your comments above, hopefully these are all satisfactory now. Of course, do let me know if there's any further clarificati

[2022-05-28 02:00] arfon commented on #4387
@Spartanzhao – as [previously noted](https://github.com/openjournals/joss-reviews/issues/3916#issuecomment-1115133666), this submission is far below the standard we expect to see for software in JOSS, as such we're rejecting this submission again.

Please do not resubmit unless you make substantial improvements to the package. Additionally:

- The submission is small for JOSS' standards, so even i

[2022-05-28 02:00] arfon commented on #4387
@editorialbot reject

[2022-05-28 02:00] #4387 closed

[2022-05-28 04:01] jeffreyhanson commented on #4436
Hi,

Thank you for considering my submission!

To address editorialbot's checks, I've just added in a LICENSE file (see [here](https://github.com/prioritizr/wdpar/commit/520387ad763a314dc772cfad4684ea415ecb52a3)).

Also, in terms of potential reviewers, I would suggest that individuals employed by UNEP-WCMC to work on the Protected Planet databases could provide especially insightful reviews, such

[2022-05-28 07:27] TomTranter commented on #4356
@jarvist ok no problem I should be able to get to it week after next

[2022-05-28 11:46] fabian-s commented on #4355
:wave: @chkoar @ortega2247 @juliensiebert @ahurriyetoglu @hvgazula @diegomcarvalho
would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-28 11:49] fabian-s commented on #4399
@editorialbot add @SimonDanner as reviewer

[2022-05-28 11:50] fabian-s commented on #4399
:wave: @alcantarar @vbaliga

Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-28 11:53] fabian-s commented on #4384
:wave: @csinva @AvianaGlobal @wxwx1993 @tedinburgh @corinne-riddell @tgerke

would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-28 14:47] tedinburgh commented on #4384
Sorry @fabian-s, I'm away on holiday for a few weeks, so unfortunately won't be able help with this

[2022-05-28 16:18] joethorley commented on #4415
@editorialbot generate my checklist

[2022-05-28 18:04] joethorley commented on #4415
@flyaflya  - this is a great piece of work. Congratulations. Comments to follow:

R code in paper should be edited so it can be copied and pasted as is see
https://github.com/flyaflya/causact/issues/45

[2022-05-28 19:20] joethorley commented on #4415
@terrytangyuan and @flyaflya - I think the paper is ready for acceptance conditional on the issues I have opened being addressed to my satisfaction (see above)

Congratulations again on a great package.

[2022-05-28 20:21] mr53563 commented on #4279
@danasolav After reducing the image size and the total image number we were able to run the code on our example data set. It took ~24 hours on a desktop machine and in the end we got some strange outputs with clear distortion. Question is now: is it worth exploring this with you to make sure we didn't do anything fundamentally wrong? Or is our data set just junk? Would it make sense for us to prov

[2022-05-28 21:15] vbaliga commented on #4399
Hi @fabian-s -- sure thing, I'd be happy to review this

[2022-05-28 21:19] kaczmarj commented on #4368
@emdupre - i finished my review in https://github.com/openjournals/joss-reviews/issues/4368#issuecomment-1116524168. i made several issues in the OSHy-X repository, and i linked them all here.

[2022-05-29 01:14] gflofst commented on #4352
@vsoch I don't know all of his COI, but I believe this is safe.

[2022-05-29 03:01] rbturnbull commented on #4212
Hi @ajstewartlang - am I right that the next step is to hear back from the other reviewer?

[2022-05-29 07:07] shivesh1210 commented on #3884
@gkthiruvathukal Any update here?

[2022-05-29 09:14] fabian-s commented on #4399
@editorialbot add @vbaliga as reviewer

[2022-05-29 09:15] fabian-s commented on #4399
@editorialbot start review

[2022-05-29 09:15] editorialbot opened #4439 "[REVIEW]: musclesyneRgies: factorization of electromyographic data in R with sensible defaults"
**Submitting author:** @alesantuz (<a href="http://orcid.org/0000-0002-6577-5101">Alessandro Santuz</a>)
**Repository:** https://github.com/alesantuz/musclesyneRgies
**Branch with paper.md** (empty if default branch): master
**Version:** v1.2.3
**Editor:** @fabian-s
**Reviewers:** @SimonDanner, @vbaliga
**Archive:** 10.5281/zenodo.6767313.

## Status

[![status](https://joss.theoj.org/papers/01bf9

[2022-05-29 09:15] #4399 closed

[2022-05-29 09:18] fabian-s commented on #4439
👋🏼 @alesantuz, @SimonDanner, @vbaliga
this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please check

[2022-05-29 09:24] fabian-s commented on #4439
@alesantuz, the paper (~1600 words) is currently rather long for JOSS, we aim for <1000 words.

You could consider moving the "typical workflow" section into a vignette for your package and replacing that section in your article with a more high-level description of the functionality, for example.

[2022-05-29 12:35] gkthiruvathukal commented on #3884
Will work on this today. Sorry for the delay.

[2022-05-29 12:44] alesantuz commented on #4439
@fabian-s I can certainly do that, since "workflow" is already a vignette and is more detailed than the text in the paper. I will cut that section down to the bone, perhaps leaving only the bullet list and the compact code example (lines 47 to 57). I'd leave the figure though, if that's ok.

[2022-05-29 13:09] ayush4921 commented on #4425
We suggest the following to be the reviewers:

VeroniqueLegrand at [pasteur.fr](http://pasteur.fr/)
khinsen
Kevin Maik Jablonka [kevin.jablonka@epfl.ch](mailto:kevin.jablonka@epfl.ch)

[2022-05-29 13:11] fabian-s commented on #4439
cool, so that won't be much trouble anyways.

perfect!

[2022-05-29 16:09] sdruskat commented on #4352
I'm very interested in reviewing this, as this is extremely relevant for my own research. Would like to get a few days to clarify a potential COI before I confirm if that's okay?

[2022-05-29 17:15] brunomontezano commented on #4280
Hope you get better ASAP. I'm sending out good vibes!

[2022-05-29 17:27] jbytecode commented on #4280
@chrisaberson - hope you get better.

Please follow to instructions that our reviewer has sent (https://github.com/chrisaberson/BetterReg/issues/8) and ping us when you have done with them.

Thank you in advance.

[2022-05-29 17:33] ronshnapp commented on #4398
@leahmendelson Thank you very much for the comments! I'll wait for comments from the other reviewer before starting the revision.

[2022-05-29 17:36] engyasin commented on #4099
Dear reviewer @Shiming94 ,

Thanks,

1. I ran the command `pip install -e .`on windows, and it's working. It just links the local code to the python installation and it's indeed useful. I'm not aware of other modifications regarding this.
2. The package for training the network (that could be changed, i.e retrained) is YOLOv4 with this library (https://github.com/Tianxiaomo/pytorch-YOLOv4) which i

[2022-05-29 18:17] alesantuz commented on #4439
@fabian-s wonderful, thank you. I amended the previous version.

@editorialbot generate pdf

[2022-05-29 18:53] lucaferranti commented on #4099
Dear editor @hugoledoux and author @engyasin , I have completed my review and confirm the paper is ready for publication on my behalf

[2022-05-29 19:16] Shiming94 commented on #4099
Dear @engyasin, Thanks for your reply. For the first point, you can just add this kind of installation method besides the ``PyPI` installation in the `Readme.md`. And the second point is pretty clear.

Dear editor @hugoledoux, I think the paper and the repo are also qualified for publication.

Best,
Shiming

[2022-05-29 21:06] alesantuz commented on #4439
@editorialbot generate pdf

[2022-05-29 23:03] gkthiruvathukal commented on #3884
@whedon generate pdf

[2022-05-29 23:04] gkthiruvathukal commented on #3884
@editorialbot generate pdf

[2022-05-29 23:04] CVHammond commented on #4362
see [this issue](https://github.com/davidpagnon/pose2sim/issues/2) about potential syntax issue

[2022-05-29 23:06] gkthiruvathukal commented on #3884
@editorialbot recommend-accept

[2022-05-29 23:07] gkthiruvathukal commented on #3884
@shivesh1210 Thank you for taking care of the bib issue. We should be nearly good to go.

[2022-05-30 00:21] chrisaberson commented on #4280
@editorialbot generate pdf

[2022-05-30 01:16] brunomontezano commented on #4280
@jbytecode I have no more pending claims. For my part, I suggest the publication of the paper aiming at the dissemination of knowledge.

[2022-05-30 06:38] csoneson commented on #4265
@editorialbot generate pdf

[2022-05-30 06:40] csoneson commented on #4265
@editorialbot check references

[2022-05-30 07:09] fraukewiese commented on #4336
@editorialbot generate pdf

[2022-05-30 07:17] fraukewiese commented on #4391
@nesnoj @blthayer: Would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
The submission under review here is [RELSAD: A Python package for reliability assessment of modern distribution systems](https://github.com/stinefm/relsad)

[2022-05-30 07:30] jbytecode commented on #4280
@brunomontezano - thank you so much for the review.

[2022-05-30 08:05] MargeritPierre commented on #4351
@diehlpk sorry for the late reply..
I will be pleased to review the paper if it is still needed, let me know.

[2022-05-30 08:17] lucydot commented on #4333
Hello @jonathanHuwP, please see the comments above from @CFGrote. They have raised a number of issues on the software repo ([#20](https://github.com/jonathanHuwP/CrystalGrowthTracker/issues/20), [#21](https://github.com/jonathanHuwP/CrystalGrowthTracker/issues/21), [#22](https://github.com/jonathanHuwP/CrystalGrowthTracker/issues/22), [#24](https://github.com/jonathanHuwP/CrystalGrowthTracker/issu

[2022-05-30 08:35] Kevin-Mattheus-Moerman commented on #4413
@dagghe thanks for this submission. We are running a couple of initial checks before we move on. In the mean time, can you check and fix those potentially missing DOIs? You can call `@editorialbot check references here` to check them again. Also you can call `@editorial bot generate pdf` to update the pdf if needed.

[2022-05-30 08:39] joshwlambert commented on #4361
@Bisaloo would you like me to search for two more potential reviews from the list?

[2022-05-30 08:50] j3r3m1 commented on #4336
Thank you @kmongird  and coauthor for responding my remarks. It is OK for me to publish the manuscript as it is. And thank to you for your contribution to the community.

[2022-05-30 08:54] arfon commented on #4413
Previous (rejected) JOSS submission for this software: https://github.com/openjournals/joss-reviews/issues/3264

[2022-05-30 08:56] arfon commented on #4421
@editorialbot invite @jbytecode as editor

:wave: @jbytecode – would you be willing to edit this one for us?

[2022-05-30 09:00] arfon commented on #4422
@editorialbot invite @majensen as editor

:wave: @majensen – I realize this is a little out of your normal areas but you're one of the few editors that looks to have some spare capacity right now 😄

[2022-05-30 09:01] jbytecode commented on #4421
@arfon - of course, gladly

[2022-05-30 09:02] arfon commented on #4424
@editorialbot invite @pdebuyl as editor

:wave: @pdebuyl – would you be willing to edit this submission for JOSS?

[2022-05-30 09:02] jbytecode commented on #4421
@sadit - thank you for the suggestions, indeed, it is very helpful.

[2022-05-30 09:05] Kevin-Mattheus-Moerman commented on #4420
@Xia-Yijie thanks for this submission to JOSS. Can you work on those potentially missing and invalid DOIs? :point_up:. If you fix these you can call `@editorialbot check references` here in a comment to check them again. Thanks.

[2022-05-30 09:06] arfon commented on #4425
@editorialbot invite @chartgerink as editor

:wave: @chartgerink – this looks like a good fit for your domain. I've not done a scope review here but if you are able to edit this, I'd appreciate if you could check if you believe this submission is in scope for JOSS.

[2022-05-30 09:07] jbytecode commented on #4421
👋👋👋 Dear @ahwillia  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**SimilaritySearch.jl: Autotuned nearest neighbor indexes for Julia**". You can find more information at the top of this Github issue (https://github.c

[2022-05-30 09:09] Kevin-Mattheus-Moerman commented on #4420
@editorialbot invite @richardjgowers as editor

[2022-05-30 09:11] jbytecode commented on #4421
👋👋👋 Dear @kose-y  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**SimilaritySearch.jl: Autotuned nearest neighbor indexes for Julia**". You can find more information at the top of this Github issue (https://github.com

[2022-05-30 09:11] Kevin-Mattheus-Moerman commented on #4412
Note to handling editor, this is a second paper, after their first JOSS publication https://joss.theoj.org/papers/10.21105/joss.03219

[2022-05-30 09:12] Bisaloo commented on #4361
Or outside of the list. We are not restricted to reviewers from the list. If you know anyone working in this area who could be a good candidate, I'm happy to reach out to them by email.

I'm continuing to try and reach out to potential reviewers that I can think of by email in the meantime.

[2022-05-30 09:15] Kevin-Mattheus-Moerman commented on #4412
@dhhagan you handled the v1 of this package for the first paper. Would you be able to help edit this one? I see that you are however handling many other submissions. If you are able to handle this one, do you want me to assign you now or would you prefer if I label this as `waitlisted` until you are ready?

[2022-05-30 09:16] csoneson commented on #4265
I have been in contact with @sahilseth offline, and decided to move on with the acceptance of this paper based on the two completed reviews.

[2022-05-30 09:16] csoneson commented on #4265
@editorialbot remove @sahilseth a reviewer

[2022-05-30 09:16] csoneson commented on #4265
@editorialbot remove @sahilseth as reviewer

[2022-05-30 09:17] arfon commented on #4426
@editorialbot invite @lucydot as editor

:wave: @lucydot – would you be able to edit this submission for JOSS?

[2022-05-30 09:18] Kevin-Mattheus-Moerman commented on #4420
Alternative, @jarvist this seems like it might be your cup of tea :tea:, but you are handling many other papers so did not invite you. If you are available let me know as there are other chemistry related papers Richard could work on too if possible. Thanks.

[2022-05-30 09:18] arfon commented on #4428
@editorialbot assign me as editor

[2022-05-30 09:19] arfon commented on #4428
:wave: @VChristiaens – could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2022-05-30 09:20] csoneson commented on #4265
@gabrielelubatti I have sent a PR with some minor fixes to the manuscript/bibliography. Could you please check and merge if you agree, and then generate a new proof with `@editorialbot generate pdf`? I also noticed that some of the preprints cited in the manuscript are now peer-reviewed and published - could you also update those citations if applicable?

Then, the next steps are as follows:
- [ ]

[2022-05-30 09:24] richardjgowers commented on #4420
@editorialbot assign @richardjgowers as editor

[2022-05-30 09:29] Kevin-Mattheus-Moerman commented on #4434
@editorialbot invite @galessiorob as editor

[2022-05-30 09:30] Kevin-Mattheus-Moerman commented on #4435
@igorkolesnikov13 thanks for this submission. Can you please check those potentially missing DOIs :point_up: ? You can call `@editorialbot check references` here to check them again. Thanks.

[2022-05-30 09:30] Kevin-Mattheus-Moerman commented on #4435
@editorialbot query scope

[2022-05-30 09:32] Kevin-Mattheus-Moerman commented on #4435
@igorkolesnikov13 I have just flagged this work for additional scope review by the editorial board. This is typical of submissions that are of a relatively small size. What we will determine is if this passes `substantial scholarly effort` criteria. This review by the board should be completed within two weeks.

[2022-05-30 09:36] danasolav commented on #4259
@YichengWu, @THUHoloLab, @julianstirling, just checking again to see if you would be interested in reviewing this software?

[2022-05-30 09:38] danasolav commented on #4281
@editorialbot generate pdf

[2022-05-30 09:43] Kevin-Mattheus-Moerman commented on #4436
@marcosvital @KristinaRiemer this seems like your cup of tea :tea: and you might be able to handle it as editor. However you appear preoccupied with many other submissions. I will therefore waitlist this work for now until one of you becomes available.

[2022-05-30 09:45] editorialbot opened #4440 "[PRE REVIEW]: MSMetaEnhancer: A Python package for mass spectra metadata annotation"
**Submitting author:** @hechth (<a href="http://orcid.org/0000-0001-6744-996X">Helge Hecht</a>)
**Repository:** https://github.com/RECETOX/MSMetaEnhancer
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.3
**Editor:** @csoneson
**Reviewers:** @marshallmcdonnell, @chryswoods
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/3f13cf143b6937634

[2022-05-30 09:48] danasolav commented on #4259
@monakhova, would you be interested in reviewing this work on Lensless Computational Imaging with a Raspberry Pi ([repository](https://github.com/LCAV/LenslessPiCam) and [short paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04259/joss.04259/10.21105.joss.04259.pdf)), for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org/)?

In case you are not familiar wit

[2022-05-30 09:50] lucydot commented on #4426
@editorialbot assign me as editor

[2022-05-30 09:54] VChristiaens commented on #4428
Hi @arfon, I think the following people would be great potential reviewers: @dfm, @christinahedges, @jessie-dotson, @mattpitkin, @benjaminrose or @ejhigson.

[2022-05-30 09:59] igorkolesnikov13 commented on #4435
Hi @Kevin-Mattheus-Moerman , thanks for the information.

@editorialbot check references

[2022-05-30 10:00] igorkolesnikov13 commented on #4435
@editorialbot check references

[2022-05-30 10:05] igorkolesnikov13 commented on #4435
@editorialbot check references

[2022-05-30 10:19] simonom commented on #4326
@dkauf42, I realised that the configuration instructions inside the .bat file (for Windows systems) were missing some detail, so have updated in the attached, and recommend inclusion in the software.  PLEASE NOTE, I couldn't attach a .bat file here, so have changed to a .txt file, and the extension therefore needs reverting back to .bat
[set_path_vars.txt](https://github.com/openjournals/joss-revi

[2022-05-30 10:21] igorkolesnikov13 commented on #4435
@editorialbot check references

[2022-05-30 11:00] Kevin-Mattheus-Moerman commented on #4440
@hechth can you fix those potentially missing DOIs? :point_up: You can call `@editorialbot check references` to check them again.

[2022-05-30 11:06] editorialbot opened #4441 "[PRE REVIEW]: DepositionMD: a molecular dynamics wrapper for modelling deposition processes"
**Submitting author:** @mmtn (<a href="http://orcid.org/0000-0003-2432-5865">Martin Cyster</a>)
**Repository:** https://github.com/mmtn/deposition-molecular-dynamics
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0-beta
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/e599cf3b0c534dc544045fcd12

[2022-05-30 11:16] Bisaloo commented on #3776
@jessicatytam, while investigating your problem, I had another look and I want to already now mention that @DrMattG's point about code duplication is not yet properly addressed in my opinion.

Most functions still include a lot of duplicated code. I have submitted a pull request (https://github.com/jessicatytam/specieshindex/pull/60) where I show how you could reduce code duplication. Please have

[2022-05-30 11:17] xuanxu commented on #4409
@editorialbot check references

[2022-05-30 11:34] vsangelidakis commented on #4404
@editorialbot generate my checklist

[2022-05-30 11:57] ejhigson commented on #4428
Hi @VChristiaens - I'm sorry but I'm afraid I don't have the capacity to do this review at the moment. Good luck with your submission!

[2022-05-30 12:15] dagghe commented on #4413
We did some minor change to the python code, for instance: (re)added the “ordmin” argument to SSI functions; updated the FDDsvp function to use broadcasting instead of for loop (Merge pull request #6 from ckesanapalli), and possibly some other minor changes to the code.
The main novelty however is the addition of a graphical user interface. This should simplify a lot the use of the module, making

[2022-05-30 12:19] alesantuz commented on #4439
@editorialbot generate pdf

[2022-05-30 12:21] vissarion commented on #3330
Thanks @apulverizer indeed there is a conflict. However, I think this should be waived for the submission to progress. It is clear from the history in this issue that it is very hard to find a suitable reviewer.

[2022-05-30 12:22] danasolav commented on #4281
@kerstinvg, @yangbai90, could you please confirm if you are satisfied with the current version of the software and paper and/or let me know if you have any further comments/questions/concerns?

[2022-05-30 12:33] danasolav commented on #4279
@mr53563 I tried processing the data you sent me and I think that the main limiting factor is the large stereo angle between the cameras. This large distortion in the images from the second camera causes Ncorr to struggle with placing the seed, which in turn makes the analysis much longer than it should be. I'm not sure if you noticed, but when seed placement succeeds, the processing time of each

[2022-05-30 12:37] georgeyiasemis commented on #4278
@editorialbot generate pdf

[2022-05-30 12:46] Kevin-Mattheus-Moerman commented on #4429
@editorialbot generate pdf

[2022-05-30 12:46] Kevin-Mattheus-Moerman commented on #4429
@adam2392 you call `@editorialbot generate pdf`

[2022-05-30 12:52] Kevin-Mattheus-Moerman commented on #4429
@editorialbot set main as branch

[2022-05-30 12:53] Kevin-Mattheus-Moerman commented on #4429
@editorialbot generate pdf

[2022-05-30 12:53] georgeyiasemis commented on #4278
Comments fixed https://github.com/NKI-AI/direct/issues/205

[2022-05-30 12:54] Kevin-Mattheus-Moerman commented on #4410
@jjgomera given the above, can you work on the paper to include a clear research application/relevance?

[2022-05-30 12:55] Kevin-Mattheus-Moerman commented on #4429
@editorialbot check repository

[2022-05-30 12:58] dagghe commented on #4413
@editorialbot check references

[2022-05-30 12:59] Kevin-Mattheus-Moerman commented on #4440
@editorialbot query scope

[2022-05-30 13:00] dagghe commented on #4413
@editorialbot generate pdf

[2022-05-30 13:02] Kevin-Mattheus-Moerman commented on #4441
@mmtn thanks for this submission. Can you check that potentially missing DOI? :point_up:. You can call `@editorialbot check references` here to check the references again. Thanks

[2022-05-30 13:03] dagghe commented on #4413
Possible reviewers:
-CWillberg
-arunmano121
-PaulDebus
-pharshalp
-e-dub
-chennachaos
-ngoiz

[2022-05-30 13:44] osorensen commented on #4278
@editorialbot recommend-accept

[2022-05-30 14:06] OlgerSiebinga commented on #4250
Dear all,

I was wondering how the review is going. Please let us know if there is anything we (as authors) can do to help finish the review.
Thanks!

[2022-05-30 14:08] georgeyiasemis commented on #4278
Hi @osorensen I have completed the checklist

[2022-05-30 14:08] pdebuyl commented on #4329
Hi all, sorry for the delays. I followed the activity but had no time to reply, I'll get to it this week.

[2022-05-30 14:24] obsmax commented on #4418
@editorialbot generate my checklist

[2022-05-30 14:27] eloisabentivegna commented on #4173
@editorialbot check references

[2022-05-30 14:39] osorensen commented on #4278
@editorialbot set version v1.0.1

[2022-05-30 14:40] osorensen commented on #4278
@editorialbot commands

[2022-05-30 14:41] osorensen commented on #4278
@editorialbot set v1.0.1 as version

[2022-05-30 14:41] osorensen commented on #4278
@editorialbot set 10.5281/zenodo.6594702 as archive

[2022-05-30 14:41] osorensen commented on #4278
@editorialbot recommend-accept

[2022-05-30 14:47] ArikaLZ commented on #3330
Dear Vissarion,
I ended up in a hospital a month ago and everything is now in hold. I sincerely apologize for not sticking to the deadlines and I hope to review papers for JOSS in the future.
Apilogies again and best wishes,
Arika

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Vissarion Fisikopoulos ***@***.***>
Sent: Monday, May 30, 2022 8:21:34 AM
To: ope

[2022-05-30 14:58] georgeyiasemis commented on #4278
@editorialbot check references

[2022-05-30 15:02] georgeyiasemis commented on #4278
@editorialbot generate pdf

[2022-05-30 15:09] csoneson commented on #4182
@editorialbot recommend-accept

[2022-05-30 15:13] VHchavez commented on #4426
@editorialbot check references

[2022-05-30 15:15] tarleb commented on #4182
Huh :confused:

Sorry about that, I'll look into it again.

[2022-05-30 15:17] csoneson commented on #4182
Thanks @tarleb! Looks like the same fix may need to be applied to the ISBN field 🙂

[2022-05-30 15:24] VHchavez commented on #4426
Hello @arfon, hello @Kevin-Mattheus-Moerman. Thank you for your editorial work.
Thank you, @lucydot for your review 😸

1. The references are now updated. I have been unable to find a DOI for one of the books. What is the appropriate way to proceed?
2. The affiliation for my entry is failing. I have checked for correctness, but I have been unable to find any problem/typo. Any help is very much appr

[2022-05-30 15:49] tarleb commented on #4182
OK, applied the fix to that field as well. Should work now. :crossed_fingers:

[2022-05-30 15:55] kose-y commented on #4421
@jbytecode Sure.

[2022-05-30 16:02] taless474 commented on #4250
@humanfactors
@bnriiitb

[2022-05-30 16:11] jbytecode commented on #4421
@editorialbot add @kose-y as reviewer

[2022-05-30 16:12] jbytecode commented on #4421
@kose-y - thank you for accepting our invitation. I will present here the instructions whenever we assign the second reviewer. Please keep in touch.

[2022-05-30 16:18] vipinagrawal25 commented on #4305
@editorialbot check references

[2022-05-30 16:22] csoneson commented on #4182
@editorialbot recommend-accept

[2022-05-30 16:23] csoneson commented on #4182
Yay! Thanks for the fix @tarleb

[2022-05-30 16:24] csoneson commented on #4182
@taoliu032 This will now go to the associate editor-in-chief on rotation for the last steps. Thanks for your patience!

[2022-05-30 16:26] diehlpk commented on #3390
@editorialbot commands

[2022-05-30 16:27] diehlpk commented on #3390
@editorialbot remind @Kevin-Mattheus-Moerman  in 1 week

[2022-05-30 16:27] Nikoleta-v3 commented on #4286
Thank you for your work @max-little! I will have a look at the changes this week and get back to you as soon as possible 😄

[2022-05-30 16:27] vipinagrawal25 commented on #4305
@editorialbot check references

[2022-05-30 16:29] taoliu032 commented on #4182
Hooray! Thank you @csoneson and thank you for the fix @tarleb

[2022-05-30 16:41] diehlpk commented on #4351
@editorialbot add @MargeritPierre as reviewer

[2022-05-30 16:47] vipinagrawal25 commented on #4305
@editorialbot generate pdf

[2022-05-30 16:50] victorapm commented on #4305
Hi @vipinagrawal25 and @thecalculon, congratulations for your nice work! I have finished my review, the most important points I wanted to highlight are code organization and performance. Please find all my comments below, and let me know if you have questions. Thank you!

- [ ] Consider fixing the compilation warnings listed below:
[code]
- [ ] Is there a reason to use 60000 MC steps by default? S

[2022-05-30 18:02] YichengWu commented on #4259
Hi @danasolav, sorry for missing your previous message. I am quite busy currently and will not be able to help. Sorry about that.

[2022-05-30 19:25] danielskatz commented on #4278
@editorialbot recommend-accept

[2022-05-30 19:36] danielskatz commented on #4278
👋 @georgeyiasemis - I'm the AEiC on duty this week, and I have a few small changes for the paper before we publish it.  Please merge https://github.com/NKI-AI/direct/pull/206 or let me know what you disagree with.

[2022-05-30 19:48] danielskatz commented on #4182
@taoliu032 - I'm the AEiC this week, and have a few small changes for the paper: please merge https://github.com/siminegroup/E2EDNA2/pull/20 or let me know what you disagree with, then we can proceed to publication.

[2022-05-30 19:51] maczokni commented on #4015
Hi apologies for delay, I will try to get to this this week.

[2022-05-30 20:10] danielskatz commented on #4182
@editorialbot recommend-accept

[2022-05-30 20:15] danielskatz commented on #4182
@editorialbot accept

[2022-05-30 20:25] danielskatz commented on #4182
Congratulations to @taoliu032 (Tao Liu) and co-authors!!

And thanks to @JoaoRodrigues and @rvhonorato for reviewing, and @csoneson for editing!
We couldn't do this without you

[2022-05-30 20:25] #4182 closed

[2022-05-30 20:28] taoliu032 commented on #4182
Thank you to all of you for your time and help!

[2022-05-30 20:44] obsmax commented on #4418
The LICENCE file contains the text of the GNU-GPL 3.0 licence but the setup.cfg file indicates that the licence is a "MIT License".

[2022-05-30 20:49] obsmax commented on #4418
- Installation
The [installation instructions](https://elwaspatid.readthedocs.io/en/latest/getting-started.html) recommend using `pip install elwaspatid` but this command do not bring the `examples` folder that is required to test the installation. To run the examples, the user is invited to get it from [github](https://github.com/dbrizard/elwaspatid) or from the [doc](https://elwaspatid.readthedo

[2022-05-30 20:49] obsmax commented on #4418
- Version tag : I'm not sure that the version tag `v2.0.1` complies with the PEP440 rule,  shouldn't it be `2.0.1` ?

[2022-05-30 20:50] obsmax commented on #4418
- Ideally, the dependencies (`numpy`, `matplotlib`[, `jupyter notebook`]) might be listed in a requirement file or being installed with the package, through the pip installation command.

[2022-05-30 20:51] obsmax commented on #4418
- Test examples
  - `plot_2_ElasticImpact.py`: a warning message suggests that things are going wrong : `ça va pas !!`, is it the case?
  - The file description of `examples/plot_6_underHood.py` differs slightly from `docs/auto_examples/plot_6_underHood.py`.    Symlinks might avoid these files to diverge in future versions.
  - The examples programs generate a lot of figures but do not display the

[2022-05-30 20:51] obsmax commented on #4418
- The sources still include old programs (e.g. `prop1D_old.py`). The git history can be used to easily recover old programs, while keeping the sources clean.

[2022-05-30 22:34] georgeyiasemis commented on #4278
Hi @danielskatz. Thanks for that. Merged it !

[2022-05-30 22:37] danielskatz commented on #4278
@editorialbot recommend-accept

[2022-05-30 22:43] danielskatz commented on #4278
@editorialbot accept

[2022-05-30 22:56] danielskatz commented on #4278
Congratulations to @georgeyiasemis (George Yiasemis) and co-authors!!

And thanks to @estenhl and @sairamgeethanath for reviewing, and @osorensen for editing!
We couldn't do this without you

[2022-05-30 22:56] #4278 closed

[2022-05-31 00:07] jGaboardi commented on #3330
@editorialbot generate pdf

[2022-05-31 00:59] Xia-Yijie commented on #4420
@editorialbot check references

[2022-05-31 01:02] Xia-Yijie commented on #4420
Thank you for your reminder!

[2022-05-31 01:43] adam2392 commented on #4429
@editorialbot commands

[2022-05-31 03:07] majensen commented on #4422
@editorialbot assign me as editor

[2022-05-31 04:17] humanfactors commented on #4250
Hi @taless474 and @OlgerSiebinga,

My review is completed insofar as I have checked off every item that I possibly can. I am satisfied with the manuscript and all changes made by the authors. As mentioned previously, I was unable to install the CARLA software and I am not sure what the editorial protocol is in such situations. If another independent review can confirm they can compile the software

[2022-05-31 05:31] engyasin commented on #4099
Dear Reviewers,
Thanks for your efforts.

Dear @Shiming94 . Readme updated accordingly.

[2022-05-31 06:27] Kevin-Mattheus-Moerman commented on #4157
@jedbrown how are you, can you provide an update on review progress? Thanks again for your help!

[2022-05-31 06:46] eferrea commented on #3956
Dear @oliviaguest, at this point we wanted to solicit a decision upon our manuscript. On March 30th reviewer 2 said “Anyway, […], I think you can continue with the submission as you see best, and that further input wouldn't change this. Thanks.”. From our side it is obvious that reviewer 2 clearly indicated with this statement that they have no intention to continue with the review; consequently,

[2022-05-31 07:00] faroit commented on #4352
I had a look at the code base and I think a deep knowledge of the python packaging system is likely to be useful. Thanks for your quick reply, though!

[2022-05-31 07:15] dbrizard commented on #4418
Thank you @obsmax for pointing out these issues.
As you might guess, this is my first serious git repository and Python package, and I am still learning !
I will try to correct them all.

- [ ] licence should be the same everywhere
- [ ] installation with `setup.py` file
- [ ] check version tag with `v` is ok or not
- [ ] handle dependencies automatically
- [ ] check examples
- [ ] remove old prog

[2022-05-31 09:44] chartgerink commented on #4425
@arfon I co-authored a paper with one of the authors in 2017 - which I think falls outside of [the conflict of interest](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy) scope?

I want to double check with you - I'd be happy to edit this if you think it appropriate 😊

[2022-05-31 09:53] samhorsfield96 commented on #4363
Unfortunately the in-text referencing hasn't worked. I shall review the latest biorxiv version.

[2022-05-31 09:56] pdebuyl commented on #4329
@editorialbot generate pdf

[2022-05-31 10:38] vissarion commented on #3330
@editorialbot commands

[2022-05-31 10:40] vissarion commented on #3330
@editorialbot add @apulverizer as reviewer

[2022-05-31 10:40] vissarion commented on #3330
@editorialbot remove @ArikaLZ from reviewers

[2022-05-31 10:41] vissarion commented on #3330
@editorialbot generate my checklist

[2022-05-31 10:49] vissarion commented on #3330
@apulverizer I added you as a reviewer!

JOSS reviews involve downloading and installing the software, and inspecting the repository
and submitted paper for key elements. See https://joss.readthedocs.io/en/latest/review_criteria.html

Please read also about the guidelines https://joss.readthedocs.io/en/latest/reviewer_guidelines.html and the checklist https://joss.readthedocs.io/en/latest/review_c

[2022-05-31 11:40] dbrizard commented on #4418
@obsmax #https://github.com/openjournals/joss-reviews/issues/4418#issuecomment-1141469926

# test examples

- warning message in example 2 was obsolete (analytical and numerical solutions overlay, see [last figure](https://elwaspatid.readthedocs.io/en/latest/auto_examples/plot_2_ElasticImpact.html#compare-analytical-and-numerical-solutions)) . Removed.
- files in `docs/auto_examples/` are copies f

[2022-05-31 12:20] danielskatz commented on #3956
👋 @eferrea and @oliviaguest - I'm writing as the JOSS Associate-Editor-in-Chief on duty this week.

I apologize to @eferrea for the length of time this is taking.

However, peer review does not succeed by time passing.  I think @oliviaguest needs to find another reviewer who can carry our a review quickly if possible, or perhaps step in and perform the review herself if she has time.

[2022-05-31 12:22] danielskatz commented on #4425
Yes, this is outside the COI time frame.  Please go ahead and take it if you feel able to do so.

[2022-05-31 12:24] oliviaguest commented on #3956
Agreed. Thanks @danielskatz. Do you have any suggestions, @eferrea? I'm happy to go with who you might have in mind.

[2022-05-31 12:50] dstansby commented on #4053
Just checked everything, and it's all good from my point of view now 👍

[2022-05-31 12:56] gabrielelubatti commented on #4265
@editorialbot generate pdf

[2022-05-31 13:26] gabrielelubatti commented on #4265
Dear @csoneson  thanks a lot for the information!
I updated some citations in the paper and merged your PR. I also archived the software on Zenodo (version v1.0.1) with DOI 10.5281/zenodo.6598821.
Let me know If something is unclear or if I need to do something else.
Best

[2022-05-31 13:49] KristinaRiemer commented on #4405
Hi @dlebauer & @istfer, could we get an idea of your timelines for completing your reviews? Thanks!

[2022-05-31 13:57] ahwillia commented on #4421
I can do it 👍

[2022-05-31 14:44] jbytecode commented on #4421
@editorialbot add @ahwillia as reviewer

[2022-05-31 14:45] jbytecode commented on #4421
@editorialbot start review

[2022-05-31 14:45] editorialbot opened #4442 "[REVIEW]: SimilaritySearch.jl: Autotuned nearest neighbor indexes for Julia"
**Submitting author:** @sadit (<a href="http://orcid.org/0000-0001-5804-9868">Eric S. Tellez</a>)
**Repository:** https://github.com/sadit/SimilaritySearch.jl
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.9.3
**Editor:** @jbytecode
**Reviewers:** @kose-y, @ahwillia
**Archive:** 10.5281/zenodo.6779410

## Status

[![status](https://joss.theoj.org/papers/07835a814f6f35b0c8

[2022-05-31 14:45] #4421 closed

[2022-05-31 14:50] jbytecode commented on #4442
Dear @kose-y and @ahwillia

this is the review thread. first, please generate your checklist as described above (generate my checklist command).

our editorial bot will create 20 check boxes for each reviewer. whenever you complete the corresponding task you can check them on.

the process is interactive, so you can always interact with the authors, reviewers, and the editor.

do not hesitate to a

[2022-05-31 16:35] rkurchin commented on #4373
Yes, that's no problem. Thanks!

[2022-05-31 16:36] rkurchin commented on #4373
@editorialbot add @kanderso-nrel as reviewer

[2022-05-31 16:36] rkurchin commented on #4373
@editorialbot start review

[2022-05-31 16:36] editorialbot opened #4443 "[REVIEW]: BifacialSimu: Hollistic Simulation of large-scale Bifacial Photovoltaic Systems"
**Submitting author:** @EwaGomez (<a href="http://orcid.org/0000-0002-7826-3754">Eva-Maria Grommes</a>)
**Repository:** https://github.com/cire-thk/BifacialSimu
**Branch with paper.md** (empty if default branch):
**Version:** 1.1.1
**Editor:** @rkurchin
**Reviewers:** @sidihamady, @kanderso-nrel
**Archive:** 10.5281/zenodo.7125653

## Status

[![status](https://joss.theoj.org/papers/0dc876c447eb1e

[2022-05-31 16:36] #4373 closed

[2022-05-31 19:11] osorensen commented on #3700
Thanks @a-ws-m. Regarding @TahiriNadia's comments, note that she has already completed her review checklist, so fixing those issues should not be blocking. However, if you want, you could create those same issues in the source repository yourself, and make sure to include a link to this review issue.

Looking forward to seeing the updates.

[2022-05-31 19:19] danielskatz commented on #4374
@aopy - I'm sorry for the delay in getting back to you.

I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission is not [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS. This does not mean that it is not software that is useful in research, but just that JOSS does not consid

[2022-05-31 19:19] danielskatz commented on #4374
@editorialbot reject

[2022-05-31 19:19] #4374 closed

[2022-05-31 19:21] danielskatz commented on #4385
@editorialbot invite @christinahedges as editor

just checking with you again on this...

[2022-05-31 19:24] danielskatz commented on #4401
👋 @hugoledoux - note your invitation above to edit this submission

[2022-05-31 19:25] danielskatz commented on #4402
@archermarx - the editor you requested is currently at their limit of submissions

[2022-05-31 19:26] danielskatz commented on #4402
Unfortunately, other appropriate editors are as well - I'm going to mark this as waitlisted for now

[2022-05-31 19:28] danielskatz commented on #4409
@xuanxu - I'll go ahead and take this as editor.  Can you suggest some reviewers, as discussed in https://github.com/openjournals/joss-reviews/issues/4409#issue-1243170590 ?

[2022-05-31 19:28] danielskatz commented on #4409
@editorialbot assign me as editor

[2022-05-31 19:29] danielskatz commented on #4410
@jjgomera - what title string would you like this to have?

[2022-05-31 19:31] danielskatz commented on #4411
👋 @majensen - would you be willing to edit this submission?

[2022-05-31 19:32] danielskatz commented on #4411
@editorialbot invite @majensen as editor

[2022-05-31 19:37] danielskatz commented on #4413
@dagghe - given the previous submission, we should hold a discussion amongst the editors about this submission before we make a decision on reviewing it.  We should get back to you in a week or two

[2022-05-31 19:37] danielskatz commented on #4413
@editorialbot query scope

[2022-05-31 19:40] danielskatz commented on #4429
@editorialbot invite @emdupre as editor

[2022-05-31 19:41] danielskatz commented on #4434
👋 @galessiorob - are you able to edit this submission?

[2022-05-31 20:01] danielskatz commented on #4441
@mmtn - Due to a lack of editors with both expertise in this area and open slots to edit more submissions, I'm going to mark this as waitlisted for now.

[2022-05-31 20:02] editorialbot opened #4444 "[PRE REVIEW]: HostPhot: global and local photometry of galaxies hosting supernovae or other transients"
**Submitting author:** @temuller (<a href="http://orcid.org/0000-0003-3939-7167">Tomás E. Müller-Bravo</a>)
**Repository:** https://github.com/temuller/hostphot
**Branch with paper.md** (empty if default branch): main
**Version:** v2.0.0
**Editor:** @arfon
**Reviewers:** @Onoddil, @krachyon
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/5f22de3b8db6dbce4f6795

[2022-05-31 20:02] editorialbot opened #4445 "[PRE REVIEW]: Efficiently Collecting Relative Similarity Judgments from Humans"
**Submitting author:** @stsievert (<a href="http://orcid.org/0000-0002-4275-3452">Scott Sievert</a>)
**Repository:** https://github.com/stsievert/salmon/
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @ajstewartlang
**Reviewers:** @hoechenberger, @stain
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/00e003e1cd7c632f80d4097

[2022-05-31 20:02] editorialbot opened #4446 "[PRE REVIEW]: MSG: A software package for interpolating stellar spectra in pre-calculated grids"
**Submitting author:** @rhdtownsend (<a href="http://orcid.org/0000-0002-2522-8605">Richard Townsend</a>)
**Repository:** https://github.com/rhdtownsend/msg-joss.git
**Branch with paper.md** (empty if default branch):
**Version:** v1.0-rc1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/05878cc0f603208c8dedc6e9c57f967

[2022-05-31 20:09] danielskatz commented on #4445
👋 @ajstewartlang - are you able to edit this submission?

[2022-05-31 20:12] danielskatz commented on #4446
@rhdtownsend - we require the submitted repository to include both software and a paper.  This appears to just be a paper, but no software.  I'm going to mark it as withdrawn, and request that you add the paper.md and paper.bib files to the repo that contains the software, then you should submit that.  Also, note that the repo is probably https://github.com/rhdtownsend/msg (note https://github.com

[2022-05-31 20:13] #4446 closed

[2022-05-31 20:33] majensen commented on #4411
@editorialbot assign me as editor

[2022-05-31 20:44] csoneson commented on #4265
Thanks @gabrielelubatti - I noticed one more thing that I missed before, sorry: the reference for Stewart (2015) seems misformatted, since it only shows one author in the reference list instead of the two that should be there. Could you fix that?

[2022-05-31 20:45] csoneson commented on #4265
@editorialbot set 10.5281/zenodo.6598821 as archive

[2022-05-31 20:45] csoneson commented on #4265
@editorialbot set v1.0.1 as version

[2022-05-31 20:59] Cristianetaniguti commented on #4242
Hello, I also finished the modifications according to @raivivek  suggestions. I am about to submit this new version to CRAN. Let me know if you have more suggestions. Thanks!

[2022-05-31 21:19] kbarnhart commented on #4282
@editorialbot generate pdf

[2022-05-31 21:20] kbarnhart commented on #4282
@editorialbot check references

[2022-05-31 21:31] kbarnhart commented on #4282
@szwiep @smchartrand, please merge https://github.com/szwiep/py_SBeLT/pull/25 and then re run the command

`@editorialbot generate pdf`

here.

Verify that the Lee and Jerolmack citation formats correctly (it was just missing an @). Presuming this resolves that issue, then do the following:

- [ ] Make a tagged release of your software.
- [ ] Archive the reviewed software in Zenodo or a similar se

[2022-05-31 21:50] jsta commented on #4237
@crvernon The repo has been archived with a DOI at: https://doi.org/10.5281/zenodo.6600733

[2022-05-31 21:53] crvernon commented on #4237
@editorialbot set 10.5281/zenodo.6600733 as archive

[2022-05-31 21:54] crvernon commented on #4237
@editorialbot set v0.5.0 as version

[2022-05-31 21:58] smchartrand commented on #4282
@editorialbot generate pdf

[2022-05-31 21:58] crvernon commented on #4237
@jonschwenk and @jsta - thanks for putting together a really nice software product! Thanks to @thurber and @kanishkan91 for a constructive and timely review!

I am recommending that your submission be accepted. An EIC will review this shortly and confirm final publication if all goes well.

[2022-05-31 21:58] crvernon commented on #4237
@editorialbot recommend-accept

[2022-05-31 22:00] crvernon commented on #4237
@jonschwenk and @jsta ... the missing DOIs above were not there in my last pass.  Could you see to these and generate a new release and post the version and archive here once resolved?

[2022-05-31 22:01] smchartrand commented on #4282
@kbarnhart: Lee and Jerolmack looks good. Thanks for correcting my mistake. We will get the remaining items on the checklist done this evening or tomorrow.

[2022-05-31 22:27] jsta commented on #4237
Done at https://doi.org/10.5281/zenodo.6600798

[2022-05-31 22:28] crvernon commented on #4237
@editorialbot generate pdf

[2022-05-31 22:28] SimonDanner commented on #4439
@editorialbot generate my checklist

[2022-05-31 22:30] crvernon commented on #4237
@editorialbot check references

[2022-05-31 22:31] danielskatz commented on #4237
@editorialbot set 10.5281/zenodo.6600798 as archive

[2022-05-31 22:31] danielskatz commented on #4237
@editorialbot set v0.5.1 as version

[2022-05-31 22:31] lambdaloop commented on #4362
See https://github.com/davidpagnon/pose2sim/issues/3 about an issue for running code on Linux

[2022-05-31 22:32] danielskatz commented on #4237
@crvernon - please let me know when this is ready to be accepted.

I'll also proofread the paper now.

[2022-05-31 22:33] crvernon commented on #4237
@jsta and @jonschwenk I still see an error in the new reference in the paper.  See line 56 on the PDF and please check for others that were recently added to make sure they compile correctly.  Once completed, let me know and I'll look again.  We will need a new version reflecting the changes.

[2022-05-31 22:33] crvernon commented on #4237
@danielskatz will do.

[2022-05-31 22:39] jsta commented on #4237
That was the only reference error (L56) that I saw.

https://doi.org/10.5281/zenodo.6600803
v0.5.2

[2022-05-31 22:40] crvernon commented on #4237
@editorialbot generate pdf

[2022-05-31 22:41] lambdaloop commented on #4362
See https://github.com/davidpagnon/pose2sim/issues/4 about underspecified community guidelines

[2022-05-31 22:45] crvernon commented on #4237
@editorialbot set 10.5281/zenodo.6600803 as archive

[2022-05-31 22:45] crvernon commented on #4237
@editorialbot set v0.5.2 as version

[2022-05-31 22:45] crvernon commented on #4237
@danielskatz this one is now ready

[2022-05-31 22:47] jonschwenk commented on #4237
@crvernon @thurber @kanishkan91 Thank you all for the thorough reviews and great suggestions! Please feel free to reach out (or open an issue) if you ever want to use `rabpro` but aren't sure about something.

[2022-05-31 22:51] lambdaloop commented on #4362
See https://github.com/davidpagnon/pose2sim/issues/5 about specifying the version of OpenSim

[2022-05-31 22:53] danielskatz commented on #4237
@editorialbot recommend-accept

[2022-05-31 22:57] danielskatz commented on #4237
@editorialbot accept

[2022-05-31 23:03] danielskatz commented on #4237
Congratulations to @jonschwenk (Jon Schwenk) and co-authors!!

And thanks to @thurber and @kanishkan91 for reviewing, and @crvernon for editing!
We couldn't do this without you

[2022-05-31 23:03] #4237 closed

[2022-05-31 23:05] jonschwenk commented on #4237
woo-hoo! What do I do with my hands???

[2022-05-31 23:34] gabrielelubatti commented on #4265
@editorialbot generate pdf

[2022-05-31 23:36] gabrielelubatti commented on #4265
@editorialbot check references

[2022-05-31 23:37] gabrielelubatti commented on #4265
Dear @csoneson I should have fixed the reference for Stewart (2015)

[2022-05-31 23:42] shivesh1210 commented on #3884
@gkthiruvathukal we again seem to get an error. Is it something on our side to fix?

[2022-05-31 23:54] gkthiruvathukal commented on #3884
@shivesh1210 I already recommended accept. I will ask one of the EICs to help.

@openjournals/joss-eics can you help to resolve these errors?

[2022-05-31 23:55] lambdaloop commented on #4362
Here is my review of the paper. It doesn't really fit as an issue in the Pose2Sim repository. Let me know if this should be placed somewhere else.

## Summary

The summary is currently overly technical for a non-specialist audience. In particular, OpenPose and OpenSim are very specific tools that most people would not have heard of. It would be better to describe them, such as:
"from an OpenPose i

[2022-05-31 23:59] lambdaloop commented on #4362
For functionality, I was able to reproduce the run the demo after fixing the issues pointed out in the issues above.

I currently only use Linux and as far as I can tell I need to compile OpenSim from source to use it, so I wasn't able to test this part of the package. I hope one of the other reviewers can address this in particular!

I'll conclude by saying that bringing markerless 3D tracking da

[2022-06-01 04:35] csoneson commented on #4265
Excellent, thanks. I'm going to hand off now to the associate EiC on rotation for the last steps. Thanks for submitting to JOSS!

[2022-06-01 04:35] csoneson commented on #4265
@editorialbot recommend-accept

[2022-06-01 04:39] csoneson commented on #4265
@gabrielelubatti - looks like there is an issue with the figure labels - all the figures have `\label{fig:flowshart}`. Could you rename them to have different labels, and we'll try again.

[2022-06-01 05:39] gabrielelubatti commented on #4265
Hello @csoneson I should have renamed the labels of the figures.

[2022-06-01 05:44] csoneson commented on #4265
@editorialbot recommend-accept

[2022-06-01 05:48] hugoledoux commented on #4401
@editorialbot assign @hugoledoux as editor

[2022-06-01 07:23] andrew-f-murphy commented on #3632
Thanks for all your feedback @henrykironde

[2022-06-01 07:23] kno10 commented on #4183
Hi, no updates in a month - any progress? @timClicks @TahiriNadia @mikldk

[2022-06-01 08:05] zStupan commented on #4355
@fabian-s can I suggest additional reviewers, since there hasn't been any responses?

[2022-06-01 08:08] pdebuyl commented on #4329
@blsqr thank you very much for the review! I commented in the issue here https://github.com/JamesPHoughton/pysd/issues/316 about the version of reference.

[2022-06-01 08:09] pdebuyl commented on #4329
@andrecieplinski could you solve the issue you encountered? You can discuss the usage of the package here, this is fine.

[2022-06-01 08:24] fabian-s commented on #4355
yes, please, that would be great.
sorry for these delays, it's unfortunately become rather difficult to find reviewers...

[2022-06-01 08:25] fabian-s commented on #4355
:wave: @chkoar @ortega2247
would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-01 08:34] pdebuyl commented on #4424
@editorialbot assign me as editor

[2022-06-01 08:35] xuanxu commented on #3884
The origin of those errors is in the [code for the figures](https://github.com/dfki-ric-underactuated-lab/torque_limited_simple_pendulum/blob/master/docs/paper/paper.md?plain=1#L95) in the paper.
The `#id .class` is not valid. I suggest that is removed from every figure.

[2022-06-01 08:46] enekomartinmartinez commented on #4329
@editorialbot generate pdf

[2022-06-01 08:51] chartgerink commented on #4425
@editorialbot assign @chartgerink as editor

[2022-06-01 08:55] zStupan commented on #4355
@fabian-s no problem. My additional suggestions are jkahn, dvysardana, timClicks and trallard

[2022-06-01 08:59] fabian-s commented on #4355
:wave: @timClicks @trallard
would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-01 09:04] enekomartinmartinez commented on #4329
@pdebuyl @andrecieplinski with the new version you will be able to translate that model but still not able to run it as some functions that it uses are still missing in PySD.

As we discussed with @blsqr in [issue 319](https://github.com/JamesPHoughton/pysd/issues/319), some functions of Vensim and XMILE may be missing, that's why we updated the status of the library from _alpha_ to _beta_ and not

[2022-06-01 09:48] mikldk commented on #4242
@raivivek and @cpalmer718: I still see missing checks in your checklist. Can you please update us how far you are?

[2022-06-01 10:08] khinsen commented on #4425
@chartgerink I'd be happy to review this submission.

[2022-06-01 10:15] xuanxu commented on #4409
A few suggestions for potential reviewers:
[code]

[2022-06-01 10:39] cpalmer718 commented on #4242
@mikldk apologies for the delay, I've been having some technical problems on the system I was using to evaluate this. I am hopeful that I'll be able to update this review in about 12 hours. sorry again for the trouble.

[2022-06-01 10:45] PaulSt commented on #4135
Hi :wave: @kyleniemeyer any update on this? :thinking:

[2022-06-01 10:47] mikldk commented on #4242
@cpalmer718 No worries, thanks for the update :+1:

[2022-06-01 10:49] timClicks commented on #4183
Sorry about the lack of contact from me! I will finish the review within 24h

[2022-06-01 11:25] Kevin-Mattheus-Moerman commented on #4412
@dhhagan I invited you just now but let me know if you prefer if I waitlist this until you have finished handling some other submissions.

[2022-06-01 11:36] Kevin-Mattheus-Moerman commented on #4118
@axel-loewe thanks again for your help here. Have you tested @CZHU20 's suggestion? :point_up:

[2022-06-01 11:37] Kevin-Mattheus-Moerman commented on #4252
@yangbai90 can you inform me on how you are getting on addressing these issues :point_up:

[2022-06-01 12:11] diegomcarvalho commented on #4355
Hi, I’m available. Sorry for the delay… All the best, d.c

Prof. Diego Carvalho, D.Sc

Associate Professor / Production Engineering Department
Graduate Programme in Production Engineering and Systems
Federal Centre for Engineering Studies and Technological Education - CEFET/RJ
Av. Maracanã, 229 - Maracanã
Rio de Janeiro - RJ - 20271-110 - Brasil/Brazil/Brésil
Il sudore non e santo, ma fa miracoli.

[2022-06-01 12:13] urban-fasel commented on #4211
Hi @Kevin-Mattheus-Moerman, yes! And sorry for not directly replying to the issue.

Hi @omtazi, the issue is related to the "yetAnotherFEcode" that we use to build the FE model of the wing. This package uses the "Parallel Computing Toolbox". If you install the toolbox, you should be able to run the code.

In case other toolboxes are missing, the required toolboxes for e.g. example2 can be found an

[2022-06-01 12:13] fabian-s commented on #4355
@diegomcarvalho great, thx!

[2022-06-01 12:15] chartgerink commented on #4425
@editorialbot add @khinsen as reviewer

Thanks a lot @khinsen for helping! The review will start as soon as I've confirmed the second reviewer (you will get a ping on here).

Until then, do feel free to already take a look at the paper 😊 Thanks again!

[2022-06-01 12:34] danielskatz commented on #4409
👋 @zpace & @bmorris3 - Would either or both of you be willing to review this submission for JOSS?

[2022-06-01 12:54] swatimanekar commented on #4363
Why am I getting number of indexed genome = 1 though I have specified three genomes. Command as follows,
mpirun -n 9 redoak --genome GLA4_1000.fa,GP39_1000.fa,DHX2_1000.fa -k 27 -o output_sam.txt
(File size (GLA4_1000.fa,GP39_1000.fa,DHX2_1000.fa) is shorten for testing)
And output file is as follows (staring few lines)

GLA4_1000.fa,GP39_1000.fa,DHX2_1000.fa
AAAAAAAAAAAAAAAATTAGCTCAGCC (1): 1
AAA

[2022-06-01 13:03] dhhagan commented on #4412
Hey @Kevin-Mattheus-Moerman - yea, I can handle it, though I forgot what's needed to be done to accept as an editor..?

[2022-06-01 13:05] danielskatz commented on #4265
👋 @gabrielelubatti - I'm the AEiC on duty this week, handing the rest of the publication process for your paper. I have some suggested changes in https://github.com/ScialdoneLab/MitoHEAR/pull/6 - please merge this or let me know what you disagree with, then we can proceed.

[2022-06-01 13:06] danielskatz commented on #4412
You can tell editorialbot via `@editorialbot assign me as editor` - thanks for doing this!!

[2022-06-01 13:33] danielskatz commented on #3884
@shivesh1210 - I'm the AEiC on duty this week who will handle the rest of the publication process.  I have a fairly large number of suggestion for the paper (mostly style and consistent language).  Please merge https://github.com/dfki-ric-underactuated-lab/torque_limited_simple_pendulum/pull/22 or let me know what you disagree with, then we can continue the process.

[2022-06-01 13:35] gabrielelubatti commented on #4265
Dear @danielskatz, thanks for your suggestions. I merged the changes.

[2022-06-01 13:50] gabrielelubatti commented on #4265
Thanks @BatoolMM  and @juanvillada for the very useful comments and feedbacks and @csoneson for editing!

[2022-06-01 13:51] danielskatz commented on #4419
@editorialbot reject

[2022-06-01 13:52] danielskatz commented on #4430
@editorialbot reject

[2022-06-01 13:52] #4430 closed

[2022-06-01 13:55] danielskatz commented on #4431
👋 @lennartnoordermeer - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet our criteria for review by JOSS, due to issues with packaging, code quality, lack of tests, etc. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you migh

[2022-06-01 13:57] dfm commented on #4053
Thanks @dstansby!

Hopefully @samaloney can also wrap up his review soon too!

[2022-06-01 14:00] #4437 closed

[2022-06-01 14:05] trallard commented on #4355
Sorry folks I am currently swamped so won't have capacity for this review

[2022-06-01 14:35] schneiderpy commented on #4430
Thank you for your clarification.
Best regards

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
Remitente
notificado con
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
01/06/22,
10:34:42

El mié, 1 jun 2022 a las 10:22, Daniel S. Katz ***@***.***>)
escribió:

[2022-06-01 14:41] kmongird commented on #4336
@fraukewiese at your earliest convenience, please let me know what steps I should take next. Thank you again to both reviewers!

[2022-06-01 15:11] 62442katieb commented on #4280
Hi @jbytecode & @chrisaberson ! Sorry for the delay. I have no pending issues either and recommend publication. Great work, all!

[2022-06-01 15:18] jbytecode commented on #4280
@62442katieb - thank you so much.

Since our reviewers have completed their tasks, I can now start the editorial stuff.

[2022-06-01 15:19] jbytecode commented on #4280
@editorialbot check references

[2022-06-01 15:23] jbytecode commented on #4280
@editorialbot generate pdf

[2022-06-01 15:29] chrisaberson commented on #4280
Fixed - looks like the publisher's metadata was off. The correct ref is to 2002 which matches the doi. Uploaded and fixed.

@editorialbot generate pdf

[2022-06-01 15:41] jbytecode commented on #4280
@chrisaberson - could you please check the repo and review my pull request? It includes some corrections and additions. Please apply it, if you are agreed with them.

[2022-06-01 15:48] jbytecode commented on #4280
@editorialbot check references

[2022-06-01 15:57] jbytecode commented on #4280
@chrisaberson - we have still some rooms for possible improvements. please check the pull request.

[2022-06-01 16:10] jbytecode commented on #4280
@editorialbot check references

[2022-06-01 16:13] jbytecode commented on #4280
Dear @chrisaberson

The manuscript now looks even better.

- [ ] Please read the paper pdf carefully, one more time.
- [ ] Create a tagged release in the software repository. Report the version here. The version should be in form of `vx.y.z`, e.g. `v1.2.3`.
- [ ] Create a Zenodo archive in https://zenodo.org/
- [ ] The Zenodo archive (with the same name/title with the JOSS paper) should have the c

[2022-06-01 16:16] ajstewartlang commented on #4445
@editorialbot assign me as editor

[2022-06-01 16:18] ajstewartlang commented on #4212
Hi @rbturnbull that's correct. I emailed @potterzot - I understand he's just back from vacation but will get to your submission asap...

[2022-06-01 16:21] danielskatz commented on #3884
@editorialbot recommend-accept

[2022-06-01 16:27] danielskatz commented on #3884
@shivesh1210 - I found a couple more small things in my hopefully final check: https://github.com/dfki-ric-underactuated-lab/torque_limited_simple_pendulum/pull/23

[2022-06-01 16:45] danielskatz commented on #3884
@editorialbot accept

[2022-06-01 16:51] #3884 closed

[2022-06-01 18:32] jbytecode commented on #4280
please remove me from the authors list, please correctly register your full name in the authors lists.

[2022-06-01 18:40] diegomcarvalho commented on #4355
@editorialbot generate my checklist
On 1 Jun 2022 09:14 -0300, The Open Journals editorial robot ***@***.***>, wrote:

[2022-06-01 18:43] danielskatz commented on #4360
👋 @maxibor - please update the zenodo metadata so that the title matches that of the paper.

[2022-06-01 18:46] danielskatz commented on #4360
Sorry for the delay in processing this - I missed it in the handover between AEiCs that happens weekly, but I've now proofread the paper and found nothing that needs to change, so once the zenodo metadata is updated, we can proceed to final acceptance and publication

[2022-06-01 18:49] danielskatz commented on #4395
@editorialbot reject

[2022-06-01 18:49] #4395 closed

[2022-06-01 18:51] bmcfee commented on #3934
It looks like there's been no movement here since early April.  Is there anything we can help with to keep this moving?

[2022-06-01 19:36] danielskatz commented on #4412
I'll go ahead and do it this time (just to reduce the list I have of unassigned papers :) ) thanks!

[2022-06-01 19:41] danielskatz commented on #4318
👋 @matthewfeickert - congratulations on your new job!!  Also, repeating, if you can do this review (based on your interest and the discussion so far), it would be very helpful.

[2022-06-01 19:57] maxibor commented on #4360
@danielskatz Zenodo metadata updated !

[2022-06-01 20:03] danielskatz commented on #4360
@editorialbot accept

[2022-06-01 21:35] Cristianetaniguti commented on #4242
Hello @cpalmer718 , thanks again for your comments. And yes, it is difficult to make the app bulletproof, but I will try to fix these types of errors as I become aware of them. I just fixed the one that you pointed out, thanks for that too!

[2022-06-01 21:52] blthayer commented on #4391
@fraukewiese - really rough timing for me personally between a recent move and "busy-ness levels" at work. Please consider me as a backup if nobody else responds in a reasonable amount of time. If I'm to be a reviewer I'll likely need until mid to late July to complete.

[2022-06-02 02:26] emdupre commented on #4429
Thank you for the invitation, @danielskatz  ! I'm happy to edit this.

[2022-06-02 02:27] emdupre commented on #4429
@editorialbot assign @emdupre as editor

[2022-06-02 02:28] emdupre commented on #4429
👋 Hi @adam2392, and thank you for your submission to JOSS !

If you have any suggestions for potential reviewers, please let me know by listing their names or GitHub handles (without the @, so they don't receive a notification) here.

You can suggest reviewers from any relevant project, though we often recommend starting with [this list of people](https://bit.ly/joss-reviewers) as they have alread

[2022-06-02 02:49] Spartanzhao commented on #4387
@[arfon](https://github.com/arfon) I really don't make sense, Does the WashU or PyGenomeTrack can reach the standard you expect to see for software in JOSS? If so,  my tools  can do all kinds of visualization that WashU or PyGenomeTrack can do. Besides, My tool has many more functions that these tools do not have, such as 4C visualization of Hi-C data, Interaction matrix comparison, RNA-seq or oth

[2022-06-02 02:55] timClicks commented on #4183
@editorialbot generate pdf

[2022-06-02 02:59] timClicks commented on #4183
Re performance claims - the paper only claims to be faster than the upstream Java implementation. I don't think that the paper should be refused because it hasn't been benchmarked against all _k_-medoids/PAM implementations. Accordingly, I have marked the item as satisfied in my review.

[2022-06-02 03:23] TahiriNadia commented on #4183
I put my comment on this document via PR. My major comment is about the package installation, it gives me a lot of errors. I asked the authors to correct this point by managing a requirements file. However, the idea of the paper is original and very relevant since it compares the best-known classification algorithms (i.e. kmedoids) in different programming languages (i.e. java, python, Rust, C++)

[2022-06-02 03:30] timClicks commented on #4183
**Re "a statement of need"** The authors describe high performance + ease of use as their motivations. This satisfies the requirements within the Documentation section of the review, but unfortunately not the Software Paper section. It requires a paragraph entitled "Statement of Need". I have submitted an [issue in the Python repository](https://github.com/kno10/python-kmedoids/issues/11).

**Re C

[2022-06-02 03:31] TahiriNadia commented on #4344
Thank you @kno10  for your answer. Is it possible to

It's a MacOS! I think it would be a good practice to have a requirements file. It will help us a lot to manage our environment and to configure the new package correctly. No trial and error!

[2022-06-02 03:34] TahiriNadia commented on #4346
It will be great, but I understand completely.

[2022-06-02 03:34] timClicks commented on #4183
Installation worked flawlessly for me today.

[2022-06-02 03:37] TahiriNadia commented on #4183
I'm trying it now and I confirm that it's OK for me too.

[2022-06-02 04:31] oliviaguest commented on #3956
I don't have time sadly. It would have to wait till after September. I'm certain, that's too long and unnecessarily so.

[2022-06-02 07:20] mikldk commented on #4242
Thanks.

Now, @raivivek and @cpalmer718 each only misses one checkbox. I hope you are able to state what is missing for those boxes to be checked?

[2022-06-02 07:24] mikldk commented on #4183
@TahiriNadia:  Can you confirm that you have finished the review and recommend that this paper is now published?

@timClicks: Thanks for [specifying the remaining items](https://github.com/openjournals/joss-reviews/issues/4183#issuecomment-1144396584) for @kno10

[2022-06-02 07:41] jbytecode commented on #4280
@editorialbot set 10.5281/zenodo.6604040 as archive

[2022-06-02 07:41] jbytecode commented on #4280
@editorialbot check references

[2022-06-02 07:41] jbytecode commented on #4280
@editorialbot generate pdf

[2022-06-02 07:46] jbytecode commented on #4280
@chrisaberson - we have one more issue about the paper (code coloring for R code). Please merge the PR.

[2022-06-02 07:59] Kevin-Mattheus-Moerman commented on #4289
@jarvist do you think you could handle this submission once you are available?

[2022-06-02 08:17] Kevin-Mattheus-Moerman commented on #4289
Alternatively, @jbytecode do you think you could handle this submission?

[2022-06-02 08:27] hugoledoux commented on #4401
@editorialbot assign @Mirmix as reviewer

[2022-06-02 08:36] jbytecode commented on #4442
@kose-y and @ahwillia - do you receive notifications from the review thread? Could you please generate your task lists by typing

`@editorialbot generate my checklist`

here? Thank you in advance.

[2022-06-02 09:11] reichherzerp commented on #4243
Hello, @christinahedges do you need something more from me to finalize the review process?

[2022-06-02 09:11] hugoledoux commented on #4401
@editorialbot add @Mirmix as reviewer

[2022-06-02 10:07] fabian-s commented on #4355
@diegomcarvalho that was an early start -- we have to wait until I find another reviewer before we start the review process, that will be done in another Github issue that we haven't openend yet. This here is just the PRE-REVIEW issue... ;)

[2022-06-02 11:26] cpalmer718 commented on #4242
@mikldk yes, dev has indicated that https://github.com/mmollina/viewpoly/issues/35 is resolvable, so I'll install the update, flag any remaining crashes I can find, and then I'll be content. I'll check the update later today.

[2022-06-02 11:37] danielskatz commented on #4243
Hi @reichherzerp - I'll jump in for a minute here on the next steps:

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes

[2022-06-02 11:38] danielskatz commented on #4243
Ah, now I see that you have done this - sorry to have not read the previous comments carefully enough

[2022-06-02 11:38] danielskatz commented on #4243
@editorialbot set v1.1.1 as version

[2022-06-02 11:39] danielskatz commented on #4243
@editorialbot set 10.5281/zenodo.6573056 as archive

[2022-06-02 11:39] danielskatz commented on #4243
@editorialbot recommend-accept

[2022-06-02 11:47] danielskatz commented on #3956
@oliviaguest - Having re-read this thread, I think you can make a decision if you think that the comments from @puolival's review needed to make this acceptable to JOSS have been met, in the absence of further feedback from @puolival.

Alternatively, you can try to find a new reviewer.

If you think I've missed an option, please let me know.

[2022-06-02 11:49] lale1009 commented on #4183
Hi @timClicks,
we benchmarked the performance against different implementations of kmedoids in different languages:
<img width="589" alt="Screenshot 2022-06-02 134622" src="https://user-images.githubusercontent.com/17047377/171622499-00c2c1df-b9f1-45ba-aa68-0263df051713.png">

[2022-06-02 11:51] danielskatz commented on #4243
@reichherzerp - there are some grammar issues in the paper that I see.  I would normally create a PR for you with suggested changes, but because this is on a gitlab instance, this means I need to create a new account to do this.  I will now try to do this, but I am also writing here to say that this is not something that makes it easy for people to contribute to the software.

[2022-06-02 11:53] danielskatz commented on #4243
Ok, now I tried to create an account but am not allowed to, I think because I don't have an email at your institution.

[2022-06-02 12:14] danielskatz commented on #4243
I've made my changes in a fork in https://github.com/danielskatz/proppy/commit/de54c1f6c309d367b3a296bf2cb7cb4c0bb76bc9 - I probably should be able to create a PR back to your repo, but I think this is good enough for you to see the changes I suggest.  In addition, the second paragraph of the comparison section is identical to the last paragraph in the previous section. I suggest you remove one of

[2022-06-02 12:24] danielskatz commented on #4380
👋 @ni1o1 - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-package

[2022-06-02 12:24] #4380 closed

[2022-06-02 12:25] danielskatz commented on #4436
@martinfleis - I wonder if you might be able to edit this submission?

[2022-06-02 12:26] danielskatz commented on #4436
@editorialbot invite @martinfleis as editor

[2022-06-02 12:40] diegomcarvalho commented on #4355
Sorry for the inconvenience… It is my first review… I’ll be waiting… All the best, d.c
On 2 Jun 2022 07:08 -0300, Fabian Scheipl ***@***.***>, wrote:

[2022-06-02 12:53] auroreloisy commented on #4266
Hi @RomainAzais, just wondering when you think you'll be able to complete the review. We're happy to help with any issue.

[2022-06-02 12:54] rmmilewi commented on #4352
Sure! I'd be happy to do so!

On Wed, Jun 1, 2022, 11:34 PM Fabian-Robert Stöter ***@***.***>
wrote:

[2022-06-02 13:27] hechth commented on #4337
@dhhagan @yguitton @davidegraff @cthoyt please let me know if you have any additional suggestions or problems with the review process 👍

[2022-06-02 13:57] chartgerink commented on #4425
@editorialbot add @VeroniqueLegrand as reviewer

Many thanks Veronique! I will start the review soon - happy to answer any questions you might have during the process (here or on email chris@libscie.org).

[2022-06-02 14:39] danielskatz commented on #4441
@mmtn - Can you explain the "This repository is not maintained!" in the readme?  I'm concerned that this will make it impossible for the software to pass the https://joss.readthedocs.io/en/latest/review_criteria.html#community-guidelines criterion.

[2022-06-02 14:59] jbytecode commented on #4280
@chrisaberson - thank you for the submission. I am now recommending an accept.

@62442katieb and @brunomontezano - thank you for spending your valuable times for reviewing. Hope to work together again.

[2022-06-02 14:59] jbytecode commented on #4280
@editorialbot recommend-accept

[2022-06-02 15:07] reichherzerp commented on #4243
@danielskatz - thank you for providing the comments on the paper. The changes are now implemented. Regarding the current problem of creating issues directly in the GitLab project, I'll check for possibilities to make this possible.

[2022-06-02 15:29] archermarx commented on #4402
Alright, thanks

[2022-06-02 16:24] yuliadm commented on #4354
Dear @jbytecode. I think I am approximately 60% there. I still need to check how the code works since I have made some adjustments + I need to answer some questions of zhiiiyang. But the defence is priority at the moment...

[2022-06-02 16:25] danielskatz commented on #4243
@editorialbot recommend-accept

[2022-06-02 16:47] christinahedges commented on #4385
@editorialbot assign me as editor

[2022-06-02 16:53] editorialbot opened #4447 "[PRE REVIEW]: Mat-dp: An open-source Python model for analysing material demand projections and their environmental implications, which result from building low-carbon systems"
**Submitting author:** @kcerva (<a href="http://orcid.org/0000-0001-9185-3022">Karla Cervantes Barron</a>)
**Repository:** https://github.com/Mat-dp/mat-dp-core
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @crvernon
**Reviewers:** @MoLi7, @nick-gorman
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/d80fdc0c76fdcaec44a0cbf

[2022-06-02 17:00] christinahedges commented on #4221
Hi @KerryPaterson, I wanted to check in with your team and see how things are going, did you have a chance to take a look at the feedback I gave above? I would encourage you to ping me if you're able to address this feedback and we can reopen your submission!

[2022-06-02 17:01] christinahedges commented on #4400
Hi @Jammy2211, just to keep you in the loop, I'm still looking for reviewers but I have some good leads so I hope to get this started soon. I'll keep you posted!

[2022-06-02 17:02] christinahedges commented on #4394
@editorialbot assign me as editor

[2022-06-02 17:12] danielskatz commented on #4243
I assume your reference change was to make the paper fit on the last page better?

If so, a better version of the author line would be
```author = {{Alves Batista}, R. and others},```

[2022-06-02 17:15] christinahedges commented on #4394
Hi @VChristiaens, thanks for your submission to JOSS! Thank you for being patient while this tool was waitlisted. I'm excited to get this review kicked off, this seems like a large and well used astronomy tool. I'm going to start by reading through your submission, and then I will ping some potential reviewers. We will find at least two reviewers, and then start the review. They will go through a

[2022-06-02 17:21] martinfleis commented on #4436
@editorialbot assign me as editor

[2022-06-02 17:22] kose-y commented on #4442
@editorialbot generate my checklist

[2022-06-02 17:24] martinfleis commented on #4436
Hi @jeffreyhanson,

I happy to edit this submission. On the first look, I noticed that it very small in scope and the actual R code has only 1285 lines, which is a borderline size for the JOSS. See https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort for details.

I have now flagged the submission for a scope check by the wider editorial team to figure out if it is la

[2022-06-02 17:24] reichherzerp commented on #4243
Yes, that's right, but now after using the proposed change it looks like `Alves Batista & others, 2021` in the text, which doesn't look correct either.

[2022-06-02 17:29] danielskatz commented on #4280
@editorialbot accept

[2022-06-02 17:30] KerryPaterson commented on #4221
Hi @christinahedges. Yes, thank you for the feedback. Apologies for the late response, I am hoping to finish working on these soon in order to open up the submission again.

[2022-06-02 17:38] chrisaberson commented on #4280
@editorialbot close issue

[2022-06-02 17:39] chrisaberson commented on #4280
@danielskatz I'm having issues seeing where I can close this.

[2022-06-02 17:40] chrisaberson commented on #4280
@jbytecode Thank you again for your work on this!

[2022-06-02 17:43] danielskatz commented on #4280
Congratulations to @chrisaberson (Christopher Aberson)!!

And thanks to @brunomontezano and @62442katieb for reviewing, and @jbytecode for editing!
We couldn't do this without you

[2022-06-02 17:43] #4280 closed

[2022-06-02 17:45] danielskatz commented on #4243
Then probably go back to the full author lists for each.

[2022-06-02 17:52] danielskatz commented on #4437
Yes, certainly.  We are trying to balance publishing on useful software and being seen as publishing substantial work similar in effort to other papers, which is sometimes tricky.

[2022-06-02 18:20] danielskatz commented on #4243
Re the private gitlab instance issue:

We've required in the past that people should be able to open issues against a repository in the past so we believe that should apply here too. (Note we say the following [in our docs](https://joss.readthedocs.io/en/latest/submitting.html?highlight=hosted#submission-requirements)):
* Permit individuals to create issues/file tickets against your repository.

A

[2022-06-02 18:27] crvernon commented on #4447
@danielskatz happy to help!

[2022-06-02 18:28] crvernon commented on #4447
@editorialbot assign @crvernon as editor

[2022-06-02 18:29] crvernon commented on #4447
👋  @kcerva - I'll be your topic editor for this submission.

The first step in this pre-review is to find at least 2 reviewers. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, this [list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) have

[2022-06-02 18:55] reichherzerp commented on #4243
Thanks for following up on this issue and proving a possible solution: I'll keep this repository https://github.com/reichherzerp/PropPy to allow users to report issues.
(I have updated the readme file accordingly)

I changed the references and keep the full author list.

[2022-06-02 19:43] cpalmer718 commented on #4242
@mikldk I've added the last checkbox. My issues have all been meaningfully addressed; thanks to @Cristianetaniguti for the excellent package and edits, and for following up on all my weird UI attempts.

[2022-06-02 19:50] smchartrand commented on #4282
@kbarnhart - here you go, and thanks again for handling the work and your support through the process - it is much appreciated.

1. Make a tagged release of your software. - **Completed by @szwiep today at 10:59**

2. Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository) - **Completed today. Made archive at figshare.**

3. Check the archival dep

[2022-06-02 19:56] jjgomera commented on #4410
Working on that, excuse me for late response

The current in paper: "iapws: A Python package for implement the IAPWS standards"

[2022-06-02 20:04] danielskatz commented on #4243
@editorialbot recommend-accept

[2022-06-02 20:06] jjgomera commented on #4410
Exactly, I have a zenodo link but is version dependent, several user ask me a better citations support and I found this journal

[2022-06-02 20:19] danielskatz commented on #4243
Congratulations to @reichherzerp (Patrick Reichherzer) and J. Becker Tjus!!

And thanks to @carmeloevoli and @amitseta90 for reviewing, and to @christinahedges for editing!
We couldn't do this without you

[2022-06-02 20:19] #4243 closed

[2022-06-02 20:22] danielskatz commented on #4410
I've updated the issue name here - when the review starts, this may need to be done by the editor in that new issue as well.

[2022-06-02 21:37] flyaflya commented on #4415
@zhiiiyang .  Thx for agreeing to review and I am working on your checklist.  Below, I want to address your question about the second author's contribution.

The second author is my PhD advisee who has been working on this project alongside me since 2019.  She authored the first draft of our submitted paper and has contributed to the development and thought process behind the `causact` package by

[2022-06-02 21:50] flyaflya commented on #4415
@joethorley - Thanks a million for all the helpful suggestions.  I think I have addressed your concerns and I went ahead and closed all the issues with comments regarding the commits that fix the raised issues.  Please have a look to make sure they are all okay.  I can reopen any issues that were not resolved properly or need further improvement (and my apologies if I should not have closed them .

[2022-06-02 21:51] dsbowen commented on #4438
@editorialbot generate pdf

[2022-06-03 00:02] raivivek commented on #4242
@mikldk I have completed the review as @Cristianetaniguti did an excellent job of addressing my comments!

[2022-06-03 07:23] timClicks commented on #4355
Yes, I am happy to review the paper. Thank you for the invitation @fabian-s.

[2022-06-03 07:37] fabian-s commented on #4355
@editorialbot add @timClicks as reviewer

[2022-06-03 07:37] fabian-s commented on #4355
@editorialbot start review

[2022-06-03 07:37] editorialbot opened #4448 "[REVIEW]: NiaARM: A minimalistic framework for Numerical Association Rule Mining"
**Submitting author:** @zStupan (<a href="http://orcid.org/0000-0001-9847-7306">Žiga Stupan</a>)
**Repository:** https://github.com/firefly-cpp/NiaARM
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.6
**Editor:** @fabian-s
**Reviewers:** @diegomcarvalho, @timClicks
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/c463434452b371917a2a169dbddecf32/status

[2022-06-03 07:39] fabian-s commented on #4448
👋🏼 @zStupan @diegomcarvalho, @timClicks this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please chec

[2022-06-03 07:41] timClicks commented on #4448
@editorialbot generate my checklist

[2022-06-03 08:13] Kevin-Mattheus-Moerman commented on #4211
@omtazi can you test this approach :point_up:

[2022-06-03 09:16] fabian-s commented on #4384
:wave: @csinva @AvianaGlobal @gcskoenig @Alex-Markham

would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-03 09:21] dagghe commented on #4413
Dear editors,
after a thorough discussion with the other authors, we have decided to withdraw the submission.

Best regards,

Dag Pasca

[2022-06-03 09:27] fabian-s commented on #4384
@LucyMcGowan sorry for the delay, as you can see I'm having a hard time finding reviewers...

To speed things up once we actually get going, in the meantime:

1. please add the missing DOIs that the bot is complaining about
2. consider shortening your paper -- it's currently more than double the typical/recommended length for JOSS papers (~ 500 - 1000 words, yours is 2500). For example, you could

[2022-06-03 09:33] MargeritPierre commented on #4418
@editorialbot generate my checklist

[2022-06-03 09:56] kerstinvg commented on #4281
@danasolav yes from my side everything is fine now. Thanks.

[2022-06-03 10:15] Alex-Markham commented on #4384
@fabian-s I'd be willing if it were in Python, but I think I'm unfortunately not familiar enough with R

[2022-06-03 10:54] editorialbot opened #4449 "[PRE REVIEW]: tell: a Python package to model future total electricity loads"
**Submitting author:** @mcgrathc (<a href="http://orcid.org/0000-0002-8808-8312">Casey McGrath</a>)
**Repository:** https://github.com/IMMM-SFA/tell
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.0
**Editor:** @fraukewiese
**Reviewers:** @euronion, @chrklemm
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/15707e5f91d573db2c221732841f289

[2022-06-03 11:41] RomainAzais commented on #4266
Hi @auroreloisy,
I'm almost done. I'll complete it by the end of next week.

[2022-06-03 11:45] danielskatz commented on #4449
@mcgrathc - please remove the period from the title in your paper.md file, then use the command `@editorialbot generate pdf` to make a new PDF. editorialbot commands need to be the first entry in a new comment.

[2022-06-03 11:48] danielskatz commented on #4449
Also, please update the BInsted & Coauthors reference to include all coauthors. You can get the full bibtex entry from https://citation.crosscite.org if you enter the DOI.

[2022-06-03 11:49] danielskatz commented on #4449
I also see that you will need to put the U.S. in the title in additional {}s to protect the case.

[2022-06-03 11:50] danielskatz commented on #4449
👋 @fraukewiese - would you be willing to edit this submission?

[2022-06-03 11:50] danielskatz commented on #4449
@editorialbot invite @fraukewiese as editor

[2022-06-03 11:52] danielskatz commented on #4413
@editorialbot withdraw

Thanks for letting us know.

[2022-06-03 11:52] #4413 closed

[2022-06-03 12:07] danielskatz commented on #4438
I think https://gitlab.com/dsbowen/conditional-inference/-/compare/1.0.0...master?from_project_id=29049195 are the changes since the previously published version

[2022-06-03 13:08] arfon commented on #4438
For easier review of these changes, I pushed a copy of the code to GitHub (we can delete this as soon as we've assessed scope/size here): https://github.com/arfon/conditional-inference-joss/compare/35e2150b29d806389fc0c733b2dd70233ed404f2...main

[2022-06-03 13:19] arfon commented on #4438
@editorialbot query scope

@dsbowen – thanks for the extra context here. I would like to ask the broader editorial team for their input here. This will likely take a week or so. Thanks in advance for your patience!

[2022-06-03 13:24] danielskatz commented on #4438
@dsbowen - is there an open version of the paper that editors can read?

[2022-06-03 15:10] TahiriNadia commented on #4183
@mikldk: Yes, I confirm that everything is finished on my side and I recommend that this paper be published.

[2022-06-03 15:57] kbarnhart commented on #4282
@editorialbot set 10.6084/m9.figshare.19967552.v2 as version

[2022-06-03 15:58] kbarnhart commented on #4282
@editorialbot set 10.6084/m9.figshare.19967552.v2 as archive

[2022-06-03 15:58] kbarnhart commented on #4282
@editorialbot set v1.0.2 as version

[2022-06-03 15:59] kbarnhart commented on #4282
@editorialbot recommend-accept

[2022-06-03 16:01] kbarnhart commented on #4282
@szwiep and @smchartrand -- I've recommended that your submission be accepted and published. One of the JOSS Editors in Chief (ping @openjournals/joss-eics) will handle the submission from this point.

Many thanks to @pfeiffea and @tdoane for your reviews.

Thanks to all for your contributions to JOSS.

[2022-06-03 16:11] yuliadm commented on #4354
Dear @zhiiiyang
Thank you so much for your review, your questions and comments!
I will do my best to answer them in as much detail as I can in this post.

_>Since the R package only has commits from Yulia. May I ask for the contributions of the other three co-authors?_

Handling GitHub repo is exactly my part of work as per agreement with my collaborators.
As for the contributions, Lilian Mueller

[2022-06-03 16:14] danielskatz commented on #4282
As AEiC this week, I'll move this forward in the next hour or two

[2022-06-03 16:20] ChristopherLucas commented on #4415
It is possible I'm misunderstanding the example or the DAG, and maybe @joethorley or @zhiiiyang can weigh in, but I don't understand why there's an edge from the _estimated_ SE. E.G., the treatment effect is not dependent on my estimates of parameters of the sampling distribution of the estimator.

Again, it's possible I'm just misunderstanding the example, but presumably others might as well.

[2022-06-03 16:20] ChristopherLucas commented on #4415
@editorialbot generate my checklist

[2022-06-03 16:27] zhiiiyang commented on #4415
@flyaflya, thank you for addressing my comments. I have encountered a fatal crash when using `greta` and the maintainers of `greta` are trying to help me debug https://github.com/greta-dev/greta/issues/526#issuecomment-1144470814. I will return the complete reviewers once we figure it out.

[2022-06-03 16:33] yuliadm commented on #4354
Dear @Athene-ai

Thank you for your comments and suggestions. I have also tried to incorporate them:

_>Please revise the installation procedure (see https://github.com/yuliadm/mixComp/issues/4#issue-1243336630)_
resolved

_>Please see this about a real data experiment (see https://github.com/yuliadm/mixComp/issues/5#issue-1243341270)_
I've added the relevant information to the paper.md file

_>Pl

[2022-06-03 16:34] yuliadm commented on #4354
Dear @jbytecode, I think I have answered more or less everything now. Thanks for your patience!

[2022-06-03 16:49] smchartrand commented on #4282
Thanks very much to you all - @kbarnhart @danielskatz @tdoane @pfeiffea.

It has been a real pleasure working through the review process for JOSS.

Have a wonderful weekend.

[2022-06-03 16:50] cdburley commented on #4449
@editorialbot generate pdf

@danielskatz Addressed the minor bugs you referenced above and merged all the updates in.

[2022-06-03 16:51] cdburley commented on #4449
@editorialbot generate pdf

[2022-06-03 16:52] cdburley commented on #4449
editorialbot check references

[2022-06-03 16:56] christinahedges commented on #4400
@editorialbot add @alexandergagliano as reviewer

[2022-06-03 16:59] christinahedges commented on #4394
@VChristiaens Thanks again for your submission. Before we proceed, I'd like to ask for you to post here a detailed description of the changes made since v0.7 of VIP that are now implemented in this version. This will allow the editorial team to verify this is a substantial new contribution over your old publication, so that it meets the submission criteria of JOSS. So long as from your list we are

[2022-06-03 17:03] christinahedges commented on #4385
Hi @webbjj, thanks for your submission to JOSS! I'm going to start by reading through your submission, and then I will ping some potential reviewers. We will find at least two reviewers, and then start the review. They will go through a checklist and then provide you feedback on `clustertools`. Here is one point that I've noted as I looked through your submission:

1. I see this tool is largely fo

[2022-06-03 17:13] kellyrowland commented on #4392
hi @jdreo @mewilhel :wave: would you be available for and interested in reviewing this JOSS submission?

[2022-06-03 17:19] danielskatz commented on #4449
@editorialbot check references

I think when you edit a comment to make it a command, editorialbot doesn't see it

[2022-06-03 17:39] danielskatz commented on #4282
I'm sorry, but I'm going to request that you change the title - in my opinion, "a software" is not grammatically correct.  Can you change it to "a software package" or "a software library" or "software" (without the "a" first)?

[2022-06-03 17:40] danielskatz commented on #4282
also, I see "bed load" and "bedload" in different parts of the paper.  Can you choose one and use it consistently?

[2022-06-03 17:42] danielskatz commented on #4282
Once these two issues are fixed, the paper looks ready to go to me

[2022-06-03 17:54] editorialbot opened #4450 "[PRE REVIEW]: UnROOT: an I/O library for the CERN ROOT file format written in Julia"
**Submitting author:** @tamasgal (<a href="http://orcid.org/0000-0001-7821-8673">Tamás Gál</a>)
**Repository:** https://github.com/JuliaHEP/UnROOT.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.8.8
**Editor:** @danielskatz
**Reviewers:** @PerilousApricot, @jpata
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/bab42b0c60f9dc7ef3b8d6460bc

[2022-06-03 17:57] danielskatz commented on #4450
@tamasgal - Thanks for this submission - Can you work on the possibly missing DOI that editorialbot suggests, but note that it may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be the fi

[2022-06-03 17:58] danielskatz commented on #4450
@editorialbot assign me as editor

[2022-06-03 17:59] danielskatz commented on #4450
@tamasgal if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-06-03 18:02] smchartrand commented on #4282
Apologies. I will take care of both of these issues in the next hour.

[2022-06-03 18:14] smchartrand commented on #4282
@danielskatz

For the title, how about: py_SBeLT: Python **model** for stochastic sediment transport under rarefied conditions?

I am glad you raised this issues. I am hesitant to use "package", and now "software" since it is really a numerical model. Thoughts?

[2022-06-03 18:16] danielskatz commented on #4282
"A Python model" sounds better grammatically to me, though I think the model is implemented in software, so I could see reasons to state this is software too, particularly as a JOSS paper.

[2022-06-03 18:27] danielskatz commented on #4282
yes, thanks

[2022-06-03 18:29] smchartrand commented on #4282
I will also correct the title in the archived repository at figshare.

I have made the corrections to the use of bedload, and have opted for "bed load". And I have changed the title. The paper is ready.

[2022-06-03 18:32] smchartrand commented on #4282
@danielskatz

Updated DOI for figshare archive: https://doi.org/10.6084/m9.figshare.19967552.v3

[2022-06-03 18:39] Moelf commented on #4450
@editorialbot check references

[2022-06-03 18:46] danielskatz commented on #4282
@editorialbot set 10.6084/m9.figshare.19967552.v3 as archive

[2022-06-03 18:46] danielskatz commented on #4282
@editorialbot recommend-accept

[2022-06-03 18:49] danielskatz commented on #4282
@editorialbot accept

[2022-06-03 18:56] danielskatz commented on #4282
Congratulations to @szwiep and @smchartrand!!

And thanks to @pfeiffea and @tdoane for reviewing, and to @kbarnhart for editing!
We couldn't do this without you

[2022-06-03 18:56] #4282 closed

[2022-06-03 18:57] chartgerink commented on #4425
@editorialbot add @kjappelbaum as reviewer

Perfect @kjappelbaum - thank you so much!

[2022-06-03 18:57] chartgerink commented on #4425
@editorialbot start review

[2022-06-03 18:57] editorialbot opened #4451 "[REVIEW]: `pygetpapers`: a Python library for automated retrieval of scientific literature"
**Submitting author:** @ayush4921 (<a href="http://orcid.org/0000-0001-7016-747X">Ayush Garg</a>)
**Repository:** https://github.com/petermr/pygetpapers/
**Branch with paper.md** (empty if default branch):
**Version:** v1.2.3
**Editor:** @chartgerink
**Reviewers:** @khinsen, @VeroniqueLegrand, @kjappelbaum
**Archive:** 10.5281/zenodo.6805842

## Status

[![status](https://joss.theoj.org/papers/424

[2022-06-03 18:57] #4425 closed

[2022-06-03 19:05] kjappelbaum commented on #4451
@editorialbot generate my checklist

[2022-06-03 19:07] szwiep commented on #4282
How exciting! Thank you again @kbarnhart, @tdoane, @pfeiffea, and @danielskatz for your efforts. I learned a lot, and the model was improved, by participating in this process. What a great experience.

[2022-06-03 19:27] danielskatz commented on #4450
👋 @sbinet & @PerilousApricot - would one or both of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-03 19:36] PerilousApricot commented on #4450
I am willing to review!

[2022-06-03 19:37] danielskatz commented on #4450
Thanks!  I'll add you, and once we also get a second reviewer, we will start the review

[2022-06-03 19:37] danielskatz commented on #4450
@editorialbot assign @PerilousApricot as reviewer

[2022-06-03 19:37] danielskatz commented on #4450
@editorialbot add @PerilousApricot as reviewer

[2022-06-03 21:56] stsievert commented on #4445
Thanks acting as the editor @ajstewartlang! I think relevant reviewers should have some experience with online research tools and/or deploying their software. I think these people have those qualifications: `felixhenninger` `Andytwoods`  `peircej` and `expectopatronum`. Every one of those reviewers are between 300 and 500 from the top of the list.

[2022-06-03 22:23] olejandro commented on #4261
@timtroendle @kristina-o while going through my checklist I've opened a few issues in the software repository which I believe must be addressed before accepting the paper.

[2022-06-03 23:01] behollister commented on #4283
@agdturner please see remaining items on review checklist for @behollister.

For documentation of the API, please run Doxygen and provide linked html (hosted on github) for:
Functionality documentation: Is the core functionality of the software documented to a satisfactory level (e.g., API method documentation)?

Currently, only code comments and brief README.md outline API.

[2022-06-03 23:16] behollister commented on #4283
@VivianePons, @agdturner, according to https://github.com/openjournals/joss-reviews/issues/4283#issuecomment-1124573068, it might be prudent for @agdturner to expand on unchecked items (@behollister 'checklist') as of Jun 3, before a possible acceptance of the submission.

@agdturner, you mention additional work this summer that will strengthen the submission in terms of "statement of need."

[2022-06-03 23:40] lbluque commented on #4356
@editorialbot set v0.0.3 as version

[2022-06-03 23:41] lbluque commented on #4356
Now I know.

[2022-06-04 03:27] zhiiiyang commented on #4354
@yuliadm, thank you so much for addressing my comments. I don't have any further questions except for following up with the requested change on the progress output below.

1. >Please reduce unnecessary progress output to simplify printed output.
I've replaced it with the progress bar where possible.
- Could you point me to the changed code? I still got a lot of progress output when running the exa

[2022-06-04 04:40] mmtn commented on #4441
@danielskatz - I can definitely understand your concern! The disclaimer is there as I am no longer working full time as an academic and will not be actively developing the code. However I do believe it has the capacity to be a useful tool for the community and would like others to have access. Regardless of my employment I do intend on being active in resolving any issues or pull requests as they

[2022-06-04 06:17] shahmoradi commented on #4249
Apologies for my delayed response. The mentions of this thread has apparently been mixed and overlooked among many other daily github emails.

+ Overall the package looks good, presents substantial work that would merit publication in JOSS. However, there are still a few major issues that need authors' attention, some of which have been also raised by @RichardClayton:
- The documentation is very a

[2022-06-04 08:01] tamasgal commented on #4450
Thanks @danielskatz for the quick response! I originally suggested `jarvist` when I submitted the review request but I am fine anyone. I was not aware of the Excel table `;)`

Sorry for the missing DOI, that slipped through... thanks to Jerry for the quick fix!

[2022-06-04 08:39] sbinet commented on #4450
I am OK reviewing the library although:
- I have helped a bit from times to times
- I am very ignorant in Julia

[2022-06-04 08:40] sbinet commented on #4450
(I could also perhaps suggest Jim Pivarski)

[2022-06-04 08:43] yuliadm commented on #4354
Dear @zhiiiyang, sure!

I have changed the following files:
mixComp/R/5_lrt_utils.R
lines: 187-193
mixComp/R/4_distances_cont.R
lines: 622-628
mixComp/R/3_distances_disc.R
lines: 372-378

[2022-06-04 09:21] Athene-ai commented on #4354
@yuliadm, thank you so much for addressing my comments. I don't have any
further questions

On Saturday, 4 June 2022, yuliadm ***@***.***> wrote:

--
Daniela Cialfi, PhD

---------------------

Postdoctoral researcher
University "G.D'Annunzio" - Chieti Pescara
Viale Pindaro 42 - 65127 Pescara ( Italy )
Tel. +39 3930571128
Email: ***@***.***
<
https://webmail.unich.it/horde/imp/message.php?mailbox=

[2022-06-04 09:23] Athene-ai commented on #4354
@yuliadm thanks you for having answer to all my questions.

[2022-06-04 09:35] rreinecke commented on #4403
@editorialbot generate my checklist

[2022-06-04 10:41] smkia commented on #4321
Checking the functionality of the package, I am trying to run the first tutorial at https://github.com/ppsp-team/PyNM/blob/master/tutorials/1-getting_started.ipynb in Google Colab (see https://colab.research.google.com/drive/1LNEIT2T2omOr3iKa4qqUPz9VlwaxeuNG?usp=sharing). I receive the following error:

`ModuleNotFoundError                       Traceback (most recent call last)
[<ipython-input-2-

[2022-06-04 12:24] danielskatz commented on #4441
@mmtn - yes, "not under active development" with some of the words you mention above regarding being active would be helpful.  Also, commands to editorialbot need to be the first thing in an comment

[2022-06-04 12:24] danielskatz commented on #4441
@editorialbot check references

[2022-06-04 12:24] danielskatz commented on #4441
@editorialbot generate pdf

[2022-06-04 12:26] danielskatz commented on #4450
@sbinet - based on what you say, you probably aren't the best reviewer for this. And Jim is conflicted.  Any other suggestions?

[2022-06-04 12:28] danielskatz commented on #4450
@tamasgal - you suggested jarvist as the editor, but he has a full plate of submissions and I had an empty slot, so I decided to take it.  Now, however, we need to find one more reviewer, which is what I was asking for.  Your suggestions are welcome.

[2022-06-04 12:49] Moelf commented on #4450
@jpata maybe

[2022-06-04 12:50] Moelf commented on #4450
or maybe @rafaelab

[2022-06-04 13:03] jpata commented on #4450
I’m available.

[2022-06-04 13:15] danielskatz commented on #4450
Thanks @jpata - I'll add you and we'll start the review

[2022-06-04 13:15] danielskatz commented on #4450
@editorialbot add @jpata as reviewer

[2022-06-04 13:15] danielskatz commented on #4450
@editorialbot start review

[2022-06-04 13:15] editorialbot opened #4452 "[REVIEW]: UnROOT: an I/O library for the CERN ROOT file format written in Julia"
**Submitting author:** @tamasgal (<a href="http://orcid.org/0000-0001-7821-8673">Tamás Gál</a>)
**Repository:** https://github.com/JuliaHEP/UnROOT.jl
**Branch with paper.md** (empty if default branch):
**Version:** 0.8.11
**Editor:** @danielskatz
**Reviewers:** @PerilousApricot, @jpata
**Archive:** 10.5281/zenodo.7008076

## Status

[![status](https://joss.theoj.org/papers/bab42b0c60f9dc7ef3b8d646

[2022-06-04 13:15] #4450 closed

[2022-06-04 13:16] danielskatz commented on #4452
@PerilousApricot and @jpata - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

As you can see above, you each should use the command `@editorialbot generate my checklist` to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

As you go over the submission,

[2022-06-04 13:17] editorialbot opened #4453 "[PRE REVIEW]: Eureka!: An End-to-End Pipeline for JWST Time-Series Observations"
**Submitting author:** @taylorbell57 (<a href="http://orcid.org/0000-0003-4177-2149">Taylor Bell</a>)
**Repository:** https://github.com/kevin218/Eureka
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.1
**Editor:** @dfm
**Reviewers:** @catrionamurray, @christinahedges
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/a1cb3f6e4e58c00bc0ab

[2022-06-04 13:18] editorialbot opened #4454 "[PRE REVIEW]: Open-Source MRI Pulse Sequences with Minimal Echo Times"
**Submitting author:** @tonggehua (<a href="http://orcid.org/0000-0001-6263-762X">Gehua Tong</a>)
**Repository:** https://github.com/imr-framework/minTE
**Branch with paper.md** (empty if default branch):
**Version:** 1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/a24dd39878bf549f08805fd54d2c41aa/status.svg)](htt

[2022-06-04 13:21] danielskatz commented on #4453
@taylorbell57 - While we find an editor, you could work on the possibly missing DOI that editorialbot suggests, but note that it may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be the

[2022-06-04 13:22] danielskatz commented on #4453
👋 @christinahedges - I wonder if you might be able to edit this submission?

[2022-06-04 13:22] danielskatz commented on #4453
@editorialbot invite @christinahedges as editor

[2022-06-04 13:24] danielskatz commented on #4454
👋 @tonggehua - Your paper does not compile. Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). In addition, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to chec

[2022-06-04 13:36] dfm commented on #4427
@editorialbot add @gpleiss as reviewer

🎉  Thanks @gpleiss for agreeing to review this submission!! I'm hoping to have a second reviewer lined up shortly and then we'll get the main review started in a separate thread.

[2022-06-04 14:25] dfm commented on #4427
@editorialbot add @theorashid as reviewer

🎉  Thanks also to @theorashid for coming on board! I'll get the main review started in a separate thread and there will be a lot more information over there.

Thanks all for agreeing to be involved in this process. Don't hesitate to get in touch with me here on GitHub or via email if you have any questions/comments/issues as we go - I'm here to help!

[2022-06-04 14:25] dfm commented on #4427
@editorialbot start review

[2022-06-04 14:25] editorialbot opened #4455 "[REVIEW]: GPJax"
**Submitting author:** @thomaspinder (<a href="http://orcid.org/0000-0001-9854-4265">Thomas Pinder</a>)
**Repository:** https://github.com/thomaspinder/GPJax
**Branch with paper.md** (empty if default branch):
**Version:** 0.4.9
**Editor:** @dfm
**Reviewers:** @gpleiss, @theorashid
**Archive:** 10.5281/zenodo.6882220

## Status

[![status](https://joss.theoj.org/papers/5f3c1d4f6470b0ef3c843d7b8fe3

[2022-06-04 14:25] #4427 closed

[2022-06-04 14:28] dfm commented on #4455
@gpleiss, @theorashid — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above, and generate your checklists by commenting `@editorialbot generate my checklist` on this issue ASAP. As you go over the submission, please check any items t

[2022-06-04 14:29] theorashid commented on #4455
@editorialbot generate my checklist

[2022-06-04 14:31] arfon commented on #4104
Hi @fanchercm – thanks for the links and responses and I'm sorry there have been communication issues on this submission.

Thanks is a helpful clarification and helps me understand what is going on here.

As you have noted, our [partnership with AAS publishing](https://blog.joss.theoj.org/2018/12/a-new-collaboration-with-aas-publishing) allows for two papers to be associated with essentially the s

[2022-06-04 14:44] joethorley commented on #4415
@flyaflya - thanks for resolving and closing my issues.

[2022-06-04 14:52] dfm commented on #4321
@smkia: Can you open this issue over on https://github.com/ppsp-team/PyNM/issues, referencing this thread instead? That tends to be a better workflow than putting issues in this thread. Thanks!

[2022-06-04 17:51] joethorley commented on #4415
I'm am happy with it being published.

[2022-06-04 17:52] joethorley commented on #4415
@ChristopherLucas My understanding is that the edge is there because the values of the treatment effect depends on the expected treatment effect and the standard deviation of the variation in the treatment effect.

[2022-06-04 19:38] zhiiiyang commented on #4354
@yuliadm, could you also change the codes for function `hellinger.boot.disc`?https://github.com/yuliadm/mixComp/blob/51aa8117ac67b0b551408e6f0722ae59d0677306/R/3_distances_disc.R#L809-L810
![Screen Shot 2022-06-04 at 12 38 31 PM](https://user-images.githubusercontent.com/7269113/172023158-16493ddd-9cb5-4230-a604-4eea316aa27e.png)

[2022-06-04 20:10] tijeco commented on #4433
@editorialbot generate my checklist

[2022-06-04 20:22] PerilousApricot commented on #4452
@editorialbot generate my checklist

[2022-06-04 21:50] evetion commented on #4342
I've updated my bug report, but the issue is blocking for most functionality as described in the vignettes.

There are no automated tests on Github. I think it would be good to run at least the vignettes there, so any errors are catched beforehand.

[2022-06-04 22:09] yuliadm commented on #4354
@zhiiiyang Done! Thanks!

[2022-06-04 22:12] tijeco commented on #4433
I just wanted to double check the author list. It seems that @jmcbroome has contributed to most of the code. On the github page, I noticed @amkram was also listed as a contributor. It seems this is because of a PR they had (https://github.com/jmcbroome/BTE/pull/1) that updated the `setup.py` script with a couple of lines. I doubt that alone would be enough to warrant adding them as an author, but

[2022-06-04 23:29] apulverizer commented on #3330
@vissarion I don't appear to have edit access to update the issue checklist. The link to https://github.com/openjournals/joss-reviews/invitations 404s for me. Can you send an invite or change my access level?

[2022-06-04 23:34] zhiiiyang commented on #4354
@yuliadm, thank you for the update. I think you need to import `progress` function.
![Screen Shot 2022-06-04 at 4 32 51 PM](https://user-images.githubusercontent.com/7269113/172028808-edc86252-df04-4925-8ab1-9678587a14d0.png)

Could you test this example in your paper and make sure it is error-free after you make the updates? Also, don't forget to rerun `devtool::test()` to ensure all the unit tes

[2022-06-04 23:36] apulverizer commented on #3330
@editorialbot generate my checklist

[2022-06-04 23:39] apulverizer commented on #3330
@editorialbot generate pdf

[2022-06-05 02:07] apulverizer commented on #3330
@vissarion I've completed my review. I logged a few enhancement requests in the [spopt repo](https://github.com/pysal/spopt/issues/created_by/apulverizer) but nothing that should hold up this paper.

@xf37 @jGaboardi Overall, I found this library very interesting and would like to contribute more to it if I had more time, nice work!

[2022-06-05 07:18] SimonMolinsky commented on #4327
Hi @marcsit ,

In the beginning, thank you for your work! The use of `naif-pds4-bundler` is simple, and it works fast & fine. You've created thorough documentation, and it guarantees reusability in the future.

The paper is clear, and I understood the scope of the software at the first reading.

I like the test coverage of the code, it is extensive and logically sorted. The only glitches related t

[2022-06-05 07:24] csoneson commented on #4407
👋🏻 @jaybee84, @markziemann - just wanted to check in on your reviews. Note that you each need to generate your own review checklist (see instructions above). Let me know if you have any questions!

[2022-06-05 12:56] mr53563 commented on #4279
Understood. With the being said and with changes being made, I think this review is complete.

[2022-06-05 14:08] dfm commented on #4428
@editorialbot assign me as editor

[2022-06-05 14:09] dfm commented on #4428
@VChristiaens: I'm taking over from @arfon as editor here and I'm working on recruiting some reviewers. I'll keep you posted as we go. Thanks for your patience!

[2022-06-05 15:25] fanchercm commented on #4104
Hi @arfon and @rkurchin,

Thank you for the consideration during the process.

On Jun 4, 2022, at 10:31 AM, Arfon Smith ***@***.******@***.***>> wrote:

Hi @fanchercm<hxxps://github.com/fanchercm> – thanks for the links and responses and I'm sorry there have been communication issues on this submission.

We had initially structured the two papers based on the IGRINS RV work (hxxps://joss.theoj.org

[2022-06-05 22:51] diegomcarvalho commented on #4448
@editorialbot generate my checklist
On 3 Jun 2022 04:39 -0300, openjournals/joss-reviews ***@***.***>, wrote:

[2022-06-06 02:52] vijaysm commented on #3959
@samuelburbulla So looks like the `.msh` files were just lfs references and so after I installed `git-lfs` as well, was able to git pull cleanly and get the full files. My further tries to run the examples still fail. I will open an issue in the repo related to this where we can further discuss and debug the issue.

[2022-06-06 03:25] jaybee84 commented on #4407
@editorialbot generate my checklist

[2022-06-06 03:39] vijaysm commented on #3959
I meant that for any fixed point in time, adapting the mesh to the interface should produce a numerical solution that is much more accurate than the un-adapted one. Hence, my question was about plotting such an error convergence as a function of the adaptation levels/iterates, which I expect to decrease monotonically. The figure you shared above, in my understanding, is a time-dependent error, whi

[2022-06-06 07:34] cagret commented on #4363
Hello, maybe the doc isn't clear enought, and thanks you :

"
 "Examples:\v"
   "* To index a single (compressed fasta) file without any extra information:\v"
   "  --genome gen1.fa.gz\v"
   "* To index several (compressed or not) files without any extra information:\v"
   "  --genome gen2_chr1.fa,gen2_chr2.fa.gz,gen2_chr3.fa\v"
   "* To index several files and provide a genome name (notice that t

[2022-06-06 08:04] arfon commented on #4262
:wave: @tammojan – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under consideration is a Julia package: [_Comrade: Composable Modeling of Radio Emission_](https://github.com/ptiede/Comrade.jl)

[2022-06-06 08:17] arfon commented on #3125
:wave: @tkonolige – just checking in here to see if you've had a chance to look into @adi3's feedback?

[2022-06-06 08:18] arfon commented on #3747
Friendly bump here again @LMMorgan.

[2022-06-06 08:19] arfon commented on #4312
Thanks for the update @lnacquaroli!

@mbernaschi – looks like we're just waiting for your review at this point. When do you think you might be able to complete it by?

[2022-06-06 08:21] arfon commented on #3896
Looks like we've essentially got two complete reviews here from @Chiil & @wdeconinck at this point. @slayoo – are you still working on any updates based on reviewer feedback at this point?

[2022-06-06 08:22] arfon commented on #3896
@editorialbot remove @olekravchenko as reviewer

[2022-06-06 08:22] arfon commented on #3896
@editorialbot remove @dmikushin as reviewer

[2022-06-06 08:24] arfon commented on #4378
:wave: folks just checking in here to see how things are going. @drobnyjt, @cticenhour – it looks like you've not started your reviews yet? As a reminder, you need to type the following to get started:

[code]

[2022-06-06 08:32] vissarion commented on #3330
@editorialbot add @apulverizer as reviewer

[2022-06-06 08:34] vissarion commented on #3330
@apulverizer have you tried the command "@editorialbot generate my checklist" ?

[2022-06-06 08:48] martinfleis commented on #3330
@vissarion I think that @apulverizer already resolved that and has a checklist at https://github.com/openjournals/joss-reviews/issues/3330#issuecomment-1146703174

[2022-06-06 09:00] vissarion commented on #3330
I didn't want to do it manually, but that's OK, I copied it above.

@apulverizer please inform us when you are OK with the three issues you opened (the one seems already resolved).