[2021-07-23 14:27] dawbarton commented on #3454
Apologies for the delay, I will take a look on Monday.

[2021-07-23 14:28] danielskatz commented on #3435
👋 @adithirgis  - I've suggested a few small changes to the paper in https://github.com/adithirgis/pollucheck/pull/3 - please merge this, or let me know what you disagree with, then we can proceed to final acceptance and publishing.

[2021-07-23 14:30] danielskatz commented on #3435
@whedon recommend-accept

[2021-07-23 14:30] whedon commented on #3435
[code]

[2021-07-23 14:30] whedon commented on #3435
[code]

[2021-07-23 14:30] whedon commented on #3435
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2476

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2476, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-23 14:33] adithirgis commented on #3435
Hi @danielskatz,

Is it possible to change the Zenodo now?

[2021-07-23 14:34] danielskatz commented on #3435
you don't need to, as we don't need the zenodo archive to have the paper at all, let alone the final version, but if you want to, that's fine - you could update it.  Let me know if you want to to, and the new DOI (and new version tag) if so

[2021-07-23 14:42] adithirgis commented on #3435
Hi @danielskatz,

Here is the new DOI - 10.5281/zenodo.5128607, no new version tag
Thanks again!

[2021-07-23 14:46] danielskatz commented on #3435
@whedon set 10.5281/zenodo.5128607 as archive

[2021-07-23 14:46] whedon commented on #3435
OK. <a href="https://doi.org/10.5281/zenodo.5128607" target="_blank">10.5281/zenodo.5128607</a> is the archive.

[2021-07-23 14:46] danielskatz commented on #3435
@whedon recommend-accept

[2021-07-23 14:46] whedon commented on #3435
[code]

[2021-07-23 14:46] whedon commented on #3435
[code]

[2021-07-23 14:46] whedon commented on #3435
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2477

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2477, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-23 14:50] danielskatz commented on #3435
@whedon accept deposit=true

[2021-07-23 14:51] whedon commented on #3435
[code]

[2021-07-23 14:51] whedon commented on #3435
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1418584612356378632) 👈 🐦🐦🐦

[2021-07-23 14:51] whedon commented on #3435
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2478
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03435](https://doi.org/10.21105/joss.03435)
2. If everything look

[2021-07-23 14:52] adithirgis commented on #3435
I just updated a little, will that be also highlighted?

[2021-07-23 14:55] danielskatz commented on #3435
I'm not sure what you mean by "highlighted".  When I did the accept, it captured what was in the paper.md and paper.bib at that time.  Did you make changes after that?

[2021-07-23 14:56] adithirgis commented on #3435
Oh ok, no worries.

Thanks! I did but I think we can skip that.

Sorry for the inconvenience caused.

[2021-07-23 14:57] danielskatz commented on #3435
Congratulations to @adithirgis (Adithi Upadhya) and co-authors!!

And thanks to @nmstreethran and @ibarraespinosa for reviewing, and @ajstewartlang for editing!

[2021-07-23 14:57] #3435 closed

[2021-07-23 14:57] whedon commented on #3435
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03435/status.svg)](https://doi.org/10.21105/joss.03435)

**We need your help!**

Journal of Open Source Softwa

[2021-07-23 15:11] michakraus commented on #2954
Hi @VivianePons, my apologies, this starts to become odd. Unfortunately, my last message still applies. I have been too busy with other things and hardly any time for coding. It seems I have the todo list of hydra: whenever I tick off one point there are at least two new ones.
However, I have been working on the documentation and some other issues for the last few days, and hope to finish the last

[2021-07-23 15:15] fboehm commented on #3393
@jakobbossek and @MatthewSmith430 - thank you for your reviews!

@strengejacke - The reviewers have recommended your submission for publication. I'll proofread the manuscript and check the referenced dois before we proceed. I may request minor corrections following my proofreading. After that, I'll ask you to create a new release and an archive. Please let me know if you have any questions about t

[2021-07-23 15:18] kostunin commented on #3416
Hi @VivianePons my conference is just finished today, I will have a look next week, sorry for delay again.

[2021-07-23 15:50] malmaud commented on #3321
@adi3 I can review this.

[2021-07-23 16:31] szkafander commented on #3321
@adi3 I am happy to review this.

[2021-07-23 16:36] adi3 commented on #3321
@whedon add @malmaud as reviewer

[2021-07-23 16:36] whedon commented on #3321
OK, @malmaud is now a reviewer

[2021-07-23 16:37] adi3 commented on #3321
@szkafander - thank you! We have the reviewers for this paper, but can I assign you the [sister paper](https://github.com/openjournals/joss-reviews/issues/3320#issuecomment-885493943) for this project? I'll message you on there.

[2021-07-23 16:37] adi3 commented on #3320
@szkafander - are you ok reviewing this one?

[2021-07-23 16:38] szkafander commented on #3320
@adi3 I will have to pass on this, sorry.

[2021-07-23 16:38] adi3 commented on #3321
@whedon start review

[2021-07-23 16:38] whedon opened #3527 "[REVIEW]: ClusterValidityIndices.jl: Batch and Incremental Metrics for Unsupervised Learning"
**Submitting author:** @AP6YC (<a href="http://orcid.org/0000-0003-2442-8901">Sasha Petrenko</a>)
**Repository:** https://github.com/AP6YC/ClusterValidityIndices.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.6.3
**Editor:** @adi3
**Reviewers:** @rMassimiliano, @malmaud
**Archive:** 10.5281/zenodo.7332045

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-07-23 16:38] whedon commented on #3321
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3527.

[2021-07-23 16:38] #3321 closed

[2021-07-23 16:38] whedon commented on #3527
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rMassimiliano, @malmaud it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-07-23 16:38] whedon commented on #3527
Wordcount for `paper.md` is 484

[2021-07-23 16:38] whedon commented on #3527
[code]

[2021-07-23 16:38] whedon commented on #3527
[code]

[2021-07-23 16:38] whedon commented on #3527
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03527/joss.03527/10.21105.joss.03527.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03527/joss.03527/10.21105.joss.03527.pdf) :page_facing_up: :point_left:

[2021-07-23 16:42] adi3 commented on #3527
👋🏼 @AP6YC this is the review thread for the paper. All of our communications will happen here from now on.

👋🏼 @rMassimiliano @malmaudBoth - you both have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

Here is a little more context for fi

[2021-07-23 19:33] whedon opened #3528 "[PRE REVIEW]: elmada: Dynamic electricity carbon emission factors and prices for Europe"
**Submitting author:** @mfleschutz (<a href="http://orcid.org/0000-0002-8516-9635">Markus Fleschutz</a>)
**Repository:** <a href="https://github.com/DrafProject/elmada" target ="_blank">https://github.com/DrafProject/elmada</a>
**Version:** v0.0.6
**Editor:** @fraukewiese
**Reviewers:** @nmstreethran, @olejandro
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

D

[2021-07-23 19:33] whedon commented on #3528
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-23 19:33] whedon opened #3529 "[PRE REVIEW]: xicorr: A Python package of a novel tie-breaking correlation metric"
**Submitting author:** olgabot (<a href="http://orcid.org/0000-0003-4412-7970">Olga Botvinnik</a>)
**Repository:** <a href="https://github.com/czbiohub/xicor/" target ="_blank">https://github.com/czbiohub/xicor/</a>
**Version:** v0.1.0dev0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2021-07-23 19:33] whedon commented on #3528
Failed to discover a `Statement of need` section in paper

[2021-07-23 19:33] whedon commented on #3528
Wordcount for `paper.md` is 480

[2021-07-23 19:33] whedon commented on #3528
[code]

[2021-07-23 19:33] whedon commented on #3529
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-23 19:33] whedon commented on #3528
[code]

[2021-07-23 19:33] whedon opened #3530 "[PRE REVIEW]: Manopt.jl: Optimization on Manifolds in Julia"
**Submitting author:** @kellertuer (<a href="http://orcid.org/0000-0001-8342-7218">Ronny Bergmann</a>)
**Repository:** <a href="https://github.com/JuliaManifolds/Manopt.jl" target ="_blank">https://github.com/JuliaManifolds/Manopt.jl</a>
**Version:** 0.3.11
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-07-23 19:33] whedon commented on #3529
Wordcount for `paper.md` is 598

[2021-07-23 19:33] whedon commented on #3530
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-23 19:33] whedon commented on #3529
[code]

[2021-07-23 19:33] whedon opened #3531 "[PRE REVIEW]: BioProv - A provenance library for bioinformatics workflows"
**Submitting author:** @vinisalazar (<a href="http://orcid.org/0000-0002-8362-3195">Vinícius Salazar</a>)
**Repository:** <a href="https://github.com/vinisalazar/BioProv/" target ="_blank">https://github.com/vinisalazar/BioProv/</a>
**Version:** v0.1.23
**Editor:** @jmschrei
**Reviewers:** @maximtrp, @Zethson
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due

[2021-07-23 19:33] whedon commented on #3529
[code]

[2021-07-23 19:33] whedon commented on #3531
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-23 19:33] whedon commented on #3528
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03528/joss.03528/10.21105.joss.03528.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03528/joss.03528/10.21105.joss.03528.pdf) :page_facing_up: :point_left:

[2021-07-23 19:33] whedon commented on #3529
PDF failed to compile for issue #3529 with the following error:
[code]

[2021-07-23 19:33] whedon commented on #3530
[code]

[2021-07-23 19:33] whedon opened #3532 "[PRE REVIEW]: bumbl: An R package for modeling growth-switchpoint-decline in bumblebee colony size"
**Submitting author:** @Aariq (<a href="http://orcid.org/0000-0002-7430-7879">Eric R. Scott</a>)
**Repository:** <a href="https://github.com/Aariq/bumbl" target ="_blank">https://github.com/Aariq/bumbl</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic,

[2021-07-23 19:33] whedon commented on #3532
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-23 19:33] whedon commented on #3531
[code]

[2021-07-23 19:34] whedon commented on #3530
PDF failed to compile for issue #3530 with the following error:
[code]

[2021-07-23 19:34] whedon opened #3533 "[PRE REVIEW]: Lidium: a 3D point cloud processing software for TLS LiDAR data"
**Submitting author:** @nsviel (<a href="http://orcid.org/0000-0002-4608-5850">Nathan</a>)
**Repository:** <a href="https://github.com/nsviel/Lidium" target ="_blank">https://github.com/nsviel/Lidium</a>
**Version:** v1.0.0
**Editor:** @martinfleis
**Reviewers:** @lachlangrose, @hechth
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-07-23 19:34] whedon commented on #3533
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-23 19:34] whedon commented on #3532
Wordcount for `paper.md` is 845

[2021-07-23 19:34] whedon commented on #3531
PDF failed to compile for issue #3531 with the following error:
[code]

[2021-07-23 19:34] whedon commented on #3532
[code]

[2021-07-23 19:34] whedon commented on #3532
[code]

[2021-07-23 19:34] whedon commented on #3533
Wordcount for `paper.md` is 753

[2021-07-23 19:34] whedon commented on #3532
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03532/joss.03532/10.21105.joss.03532.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03532/joss.03532/10.21105.joss.03532.pdf) :page_facing_up: :point_left:

[2021-07-23 19:35] whedon commented on #3533
[code]

[2021-07-23 19:35] whedon commented on #3533
PDF failed to compile for issue #3533 with the following error:
[code]

[2021-07-23 19:47] kellertuer commented on #3530
@whedon generate pdf from branch joss

[2021-07-23 19:47] whedon commented on #3530
[code]

[2021-07-23 19:47] whedon commented on #3530
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03530/joss.03530/10.21105.joss.03530.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03530/joss.03530/10.21105.joss.03530.pdf) :page_facing_up: :point_left:

[2021-07-23 19:55] kellertuer commented on #3530
As possible reviewers I would suggest

- matbesancon
- juliohm
- krystophny
- aivodji

[2021-07-23 20:02] danielskatz commented on #3530
@whedon check references from branch joss

[2021-07-23 20:02] whedon commented on #3530
[code]

[2021-07-23 20:02] whedon commented on #3530
[code]

[2021-07-23 20:04] danielskatz commented on #3530
@kellertuer - - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

[2021-07-23 20:06] danielskatz commented on #3528
👋 @fraukewiese - would you be able to edit this submission?

[2021-07-23 20:06] danielskatz commented on #3528
@whedon invite @fraukewiese as editor

[2021-07-23 20:06] whedon commented on #3528
@fraukewiese has been invited to edit this submission.

[2021-07-23 20:08] kellertuer commented on #3530
Ok, thanks for letting me know and for sure, no problem :)

[2021-07-23 20:09] danielskatz commented on #3529
👋 @olgabot - I'm sorry to say that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for y

[2021-07-23 20:09] danielskatz commented on #3529
@whedon reject

[2021-07-23 20:09] whedon commented on #3529
Paper rejected.

[2021-07-23 20:09] #3529 closed

[2021-07-23 20:11] danielskatz commented on #3531
@whedon generate pdf from branch joss-paper

[2021-07-23 20:11] whedon commented on #3531
[code]

[2021-07-23 20:11] whedon commented on #3531
PDF failed to compile for issue #3531 with the following error:
[code]

[2021-07-23 20:11] danielskatz commented on #3531
@whedon check references from branch joss-paper

[2021-07-23 20:11] whedon commented on #3531
[code]

[2021-07-23 20:11] whedon commented on #3531
[code]

[2021-07-23 20:13] danielskatz commented on #3531
👋 @vinisalazar - note that your paper does not compile. Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to chec

[2021-07-23 20:14] danielskatz commented on #3531
👋 @jmschrei - Is this a paper you would be able to edit?

[2021-07-23 20:15] danielskatz commented on #3531
@whedon invite @jmschrei as editor

[2021-07-23 20:15] whedon commented on #3531
@jmschrei has been invited to edit this submission.

[2021-07-23 20:16] danielskatz commented on #3532
👋 @Aariq - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2021-07-23 20:16] danielskatz commented on #3532
@whedon query scope

[2021-07-23 20:16] whedon commented on #3532
Submission flagged for editorial review.

[2021-07-23 20:17] jmschrei commented on #3531
@whedon assign me as editor

[2021-07-23 20:17] whedon commented on #3531
OK, the editor is @jmschrei

[2021-07-23 20:17] danielskatz commented on #3533
@whedon check references

[2021-07-23 20:20] danielskatz commented on #3533
👋 @nsviel - note that your paper does not compile. Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). I also suspect there is something incorrect in your .bib file, since the check references command isn't returning. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check agai

[2021-07-23 20:21] danielskatz commented on #3533
Additionally due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

[2021-07-23 20:26] jmschrei commented on #3531
@krother and  @genomematt, would either of you be able to serve as a reviewer for this submission?

[2021-07-23 20:40] whedon commented on #3467
:wave: @jules32, please update us on how your review is going (this is an automated reminder).

[2021-07-23 20:40] whedon commented on #3467
:wave: @HeatherWelch, please update us on how your review is going (this is an automated reminder).

[2021-07-23 22:44] vinisalazar commented on #3531
Hi @danielskatz and @jmschrei. Thank you for the prompt handling of the paper. I will make the changes as soon as possible and report back here. Have a nice weekend!

Best,
Vini

[2021-07-23 22:52] rkurchin commented on #3443
@marcocamma, would you be able/willing to review this submission to JOSS?

We carry out our checklist-driven reviews here in GitHub issues according to these guidelines. You can find out more about this submission in the first comment in this issue. Note that our editorial robot whedon is having trouble compiling the PDF right now, but if you hop over to the submission branch of their repo you can

[2021-07-23 23:02] satejsoman commented on #3464
Hi @dilawar, I've responded to/managed some of the issues you've brought up on their corresponding Github pages, and thank you for your thorough investigation. To elaborate on/respond to some of these points:

## Functionality

Generally, the `setup.py` and requirements.txt files have different uses. Python packaging practice indicates that `setup.py` have a minimal working set of requirement for

[2021-07-23 23:20] jarrah42 commented on #3143
I will take a look at progress this coming week.

[2021-07-23 23:35] dilawar commented on #3464
[code]

The package `semver` has deprecated/removed the `match` function (https://github.com/python-semver/python-semver/issues/236).

[2021-07-24 00:14] jules32 commented on #3467
Hi! I'll be reviewing by mid-week next week.

[2021-07-24 01:31] ravibandaru-lab commented on #3503
@arfon Hello! 😄 Any luck on finding an editor?

[2021-07-24 05:43] jedbrown commented on #3316
@joselado @bastikr :wave: We're searching for an additional reviewer for this submission to JOSS, the [Journal of Open Source Software](https://joss.theoj.org/about), and it looks like you've done relevant work in this area. Our [review process]((https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)) is unique and collaborative, conducted within GitHub issues. Would you be interested and

[2021-07-24 05:57] arfon commented on #3528
Just an FYI that @fraukewiese is OoO until 3 August so might be a little slow to respond here :-)

[2021-07-24 07:17] joselado commented on #3316
Thank you for the invitation. This work looks very interesting, I will be happy to contribute with a review for this submission to JOSS.

[2021-07-24 10:01] whedon commented on #3471
:wave: @hechth, please update us on how your review is going (this is an automated reminder).

[2021-07-24 10:08] sara-02 commented on #3440
@majensen Yes, I will be finishing my reviews of this by coming mid-week.

[2021-07-24 11:43] danielskatz commented on #3528
I think this is still the best option for this submission.

[2021-07-24 12:30] danielskatz commented on #3503
👋 @ravibandaru-lab - sorry, but we're going to put this on our waiting list until a suitable editor is available

[2021-07-24 12:32] danielskatz commented on #3423
@whedon reject

due to lack of response from the author - it can be resubmitted if the author so desires (but if so, the author should mention this issue)

[2021-07-24 12:32] whedon commented on #3423
Paper rejected.

[2021-07-24 12:32] #3423 closed

[2021-07-24 12:34] danielskatz commented on #3405
👋 @lucydot - Would this be something you could edit as your first JOSS editing assignment?

[2021-07-24 12:34] danielskatz commented on #3405
@whedon invite @lucydot as editor

If so, you can use `@whedon assign me as editor` to assign yourself, or let us know if not

[2021-07-24 12:34] whedon commented on #3405
@lucydot has been invited to edit this submission.

[2021-07-24 13:56] martinfleis commented on #3414
@giswqs Thanks a lot for the changes, great job! Though I could imagine higher code coverage I don't think it an issue blocking the publication. All the other comments have been resolved.

I have ticked remaining boxes in the review form above and recommend the paper for publication.

[2021-07-24 14:29] elbeejay commented on #3442
:wave: @nuest, @sgrieve, @abhishekvp, @omshinde, @arbennett, @oh-dechema, @jblindsay would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission is "GeoClimate: a Geospatial processing toolbox for environmental and climate studies". I

[2021-07-24 16:12] abhishekvp commented on #3442
Hi! thanks for the review invitation @elbeejay. I looked through the journal's conflict of interest policy. I declare that I do not have any conflict of interest. I hereby agree to review this submission for JOSS. Thanks!

[2021-07-24 18:39] PhilBoileau commented on #3273
Apologies for the delay, @fboehm! I've made a new release and archived it on Zenodo.  The package version is 1.0.0, and its DOI is [10.5281/zenodo.5132903](https://zenodo.org/record/5132903#.YPxeDZNKg-Q).

[2021-07-24 18:41] PhilBoileau commented on #3273
@whedon generate pdf

[2021-07-24 18:41] whedon commented on #3273
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03273/joss.03273/10.21105.joss.03273.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03273/joss.03273/10.21105.joss.03273.pdf) :page_facing_up: :point_left:

[2021-07-24 21:41] fboehm commented on #3273
@whedon set version as 1.0.0

[2021-07-24 21:41] whedon commented on #3273
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-24 21:42] fboehm commented on #3273
@whedon set 1.0.0 as version

[2021-07-24 21:42] whedon commented on #3273
OK. 1.0.0 is the version.

[2021-07-24 21:44] fboehm commented on #3273
@whedon set 10.5281/zenodo.5132903 as archive

[2021-07-24 21:44] whedon commented on #3273
OK. <a href="https://doi.org/10.5281/zenodo.5132903" target="_blank">10.5281/zenodo.5132903</a> is the archive.

[2021-07-24 21:44] fboehm commented on #3273
@whedon recommend-accept

[2021-07-24 21:45] whedon commented on #3273
[code]

[2021-07-24 21:45] whedon commented on #3273
[code]

[2021-07-24 21:45] whedon commented on #3273
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2479

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2479, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-24 22:04] whedon opened #3534 "[PRE REVIEW]: The Python Sky Model 3 software"
**Submitting author:** @zonca (<a href="http://orcid.org/0000-0001-6841-1058">Andrea Zonca</a>)
**Repository:** <a href="https://github.com/galsci/pysm" target ="_blank">https://github.com/galsci/pysm</a>
**Version:** 3.3.1
**Editor:** @christinahedges
**Reviewers:** @patricialarsen, @smsharma
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-07-24 22:04] whedon commented on #3534
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-24 22:04] whedon commented on #3534
Wordcount for `paper.md` is 1150

[2021-07-24 22:04] whedon commented on #3534
[code]

[2021-07-24 22:04] whedon commented on #3534
Failed to discover a valid open source license.

[2021-07-24 22:04] whedon commented on #3534
[code]

[2021-07-24 22:05] whedon commented on #3534
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03534/joss.03534/10.21105.joss.03534.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03534/joss.03534/10.21105.joss.03534.pdf) :page_facing_up: :point_left:

[2021-07-24 22:05] whedon opened #3535 "[PRE REVIEW]: tidygeocoder: An R package for geocoding"
**Submitting author:** @jessecambon (<a href="http://orcid.org/0000-0001-6854-1514">Jesse Cambon</a>)
**Repository:** <a href="https://github.com/jessecambon/tidygeocoder" target ="_blank">https://github.com/jessecambon/tidygeocoder</a>
**Version:** v1.0.3
**Editor:** @elbeejay
**Reviewers:** @cole-brokamp, @tsamsonov
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning

[2021-07-24 22:05] whedon commented on #3535
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-24 22:05] whedon commented on #3535
PDF failed to compile for issue #3535 with the following error:
[code]

[2021-07-24 22:05] whedon commented on #3535
[code]

[2021-07-25 00:04] danielskatz commented on #3534
@zonca - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

[2021-07-25 00:05] danielskatz commented on #3535
@whedon generate pdf from branch joss

[2021-07-25 00:05] whedon commented on #3535
[code]

[2021-07-25 00:05] danielskatz commented on #3535
@whedon check references from branch joss

[2021-07-25 00:05] whedon commented on #3535
[code]

[2021-07-25 00:05] whedon commented on #3535
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03535/joss.03535/10.21105.joss.03535.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03535/joss.03535/10.21105.joss.03535.pdf) :page_facing_up: :point_left:

[2021-07-25 00:05] whedon commented on #3535
[code]

[2021-07-25 00:06] danielskatz commented on #3535
👋  @elbeejay - would you be willing to edit this submission?

[2021-07-25 00:07] danielskatz commented on #3535
@whedon invite @elbeejay as editor

[2021-07-25 00:07] whedon commented on #3535
@elbeejay has been invited to edit this submission.

[2021-07-25 00:10] danielskatz commented on #3273
@PhilBoileau - can you change the metadata in the zenodo archive to match the title of the paper?

[2021-07-25 00:14] whedon opened #3536 "[PRE REVIEW]: sorn: A Python package for Self Organizing Recurrent Neural Network"
**Submitting author:** @saran-nns (<a href="http://orcid.org/0000-0002-7314-0261">Saranraj Nambusubramaniyan</a>)
**Repository:** <a href="https://github.com/Saran-nns/sorn/" target ="_blank">https://github.com/Saran-nns/sorn/</a>
**Version:** 0.4.9
**Editor:** @rkurchin
**Reviewers:** @janfreyberg, @janfb
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-07-25 00:14] whedon commented on #3536
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-25 00:14] whedon commented on #3536
Failed to discover a `Statement of need` section in paper

[2021-07-25 00:14] whedon commented on #3536
Wordcount for `paper.md` is 1639

[2021-07-25 00:14] whedon commented on #3536
[code]

[2021-07-25 00:15] whedon commented on #3536
[code]

[2021-07-25 00:15] whedon commented on #3536
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03536/joss.03536/10.21105.joss.03536.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03536/joss.03536/10.21105.joss.03536.pdf) :page_facing_up: :point_left:

[2021-07-25 00:15] danielskatz commented on #3536
👋 @Saran-nns - please add an explicit Statement of Need section to your paper.  In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF.

[2021-07-25 00:16] danielskatz commented on #3536
Also, I see some possible grammar problems in the paper - you might want to run it through a grammar checker

[2021-07-25 00:18] danielskatz commented on #3536
👋 @rkurchin - would you be willing to edit this submission?

[2021-07-25 00:18] danielskatz commented on #3536
@whedon invite @rkurchin as editor

[2021-07-25 00:18] whedon commented on #3536
@rkurchin has been invited to edit this submission.

[2021-07-25 02:11] giswqs commented on #3414
@martinfleis Thank you very much for taking the time to re-review the package. I agree with you that the code coverage can be improved. I tried my best. There are some interactive custom widgets that are a bit challenging for unit tests. I will continue to improve the code coverage in the future when unit tests for these interactive custom widgets become possible.

@TomasBeuzen Please let me know

[2021-07-25 10:39] cjbarrie commented on #3420
Could you send the reviewer invite link again? Just checking in to review now and realize the invitation link has expired. My apologies for this.

[2021-07-25 12:05] TomasBeuzen commented on #3414
@giswqs (cc @ajstewartlang) - you've (comprehensive!) addressed all my comments, and thank you for laying everything out in easy-to-navigate commits. I'm satisfied that the submissions meets all the JOSS criteria and have ticked all my boxes. Excellent work again @giswqs for this excellent submission - I look forward to following how the software develops and is used by the community into the futu

[2021-07-25 13:05] danielskatz commented on #3420
@whedon re-invite @cjbarrie as reviewer

[2021-07-25 13:05] whedon commented on #3420
OK, the reviewer has been re-invited.

@cjbarrie please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-25 13:13] elbeejay commented on #3442
@whedon add @abhishekvp as reviewer

[2021-07-25 13:13] whedon commented on #3442
OK, @abhishekvp is now a reviewer

[2021-07-25 13:21] elbeejay commented on #3535
@whedon assign @elbeejay as editor

[2021-07-25 13:21] whedon commented on #3535
OK, the editor is @elbeejay

[2021-07-25 13:25] elbeejay commented on #3535
Hi @jessecambon, thank you for submitting `tidygeocoder` to JOSS. Per the top post in this thread:

In the meantime I'll have a pre-review look through the repository to see if there are any changes that should be made prior to sending this out for review.

Feel free to reach out with any questions.

-Jay

[2021-07-25 13:47] Kevin-Mattheus-Moerman commented on #3055
@whedon set 10.5281/zenodo.5111497 as archive

[2021-07-25 13:47] whedon commented on #3055
OK. <a href="https://doi.org/10.5281/zenodo.5111497" target="_blank">10.5281/zenodo.5111497</a> is the archive.

[2021-07-25 13:47] Kevin-Mattheus-Moerman commented on #3055
@whedon accept

[2021-07-25 13:47] whedon commented on #3055
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-07-25 13:48] Kevin-Mattheus-Moerman commented on #3055
@whedon recommend-accept

[2021-07-25 13:48] whedon commented on #3055
[code]

[2021-07-25 13:48] whedon commented on #3055
[code]

[2021-07-25 13:48] whedon commented on #3055
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2480

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2480, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-25 13:50] Kevin-Mattheus-Moerman commented on #3055
@whedon accept deposit=true

[2021-07-25 13:50] whedon commented on #3055
[code]

[2021-07-25 13:51] whedon commented on #3055
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1419294116517715970) 👈 🐦🐦🐦

[2021-07-25 13:51] whedon commented on #3055
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2481
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03055](https://doi.org/10.21105/joss.03055)
2. If everything look

[2021-07-25 13:51] Kevin-Mattheus-Moerman commented on #3190
@SunilAnandatheertha can you work on the remaining points? I unticked boxes that appeared to not be completed.

[2021-07-25 13:51] PhilBoileau commented on #3273
Sorry about that, @danielskatz! Fixed.

[2021-07-25 13:57] omshinde commented on #3442
Hi @elbeejay! Thanks for the review invitation. I confirm that I do not hold any conflict of interest for this submission and would be happy to review this submission for JOSS. Regards!

[2021-07-25 16:26] jessecambon commented on #3535
Thanks @elbeejay. Here are few potential reviewers (they have R listed as a primary language and spatial listed as a domain):

nickbearman ateucher yongzesong GISerDaishaoqing nuest giskid sjsrey

[2021-07-25 16:47] amelialdrew commented on #3416
Hi @VivianePons apologies I have also been very busy but will start next week

[2021-07-25 17:33] danielskatz commented on #3273
As the AEiC this week, @kyleniemeyer will take over for the last steps

[2021-07-25 17:46] danielskatz commented on #3518
@whedon check references

[2021-07-25 17:46] robertsawko commented on #2978
Hello,

Apologies again for delay. I have now finished reviewing the code. Few minor points to consider below. Overall I think the code is an excellent contribution.

 * As far as I can see there are no automated tests for the code. I would suggest @BenMql considers whether any low-level tests can be proposed for some aspects of the solver and try some standard testing suites. If that is not possi

[2021-07-25 17:46] whedon commented on #3518
[code]

[2021-07-25 17:50] danielskatz commented on #3512
@piyalkarum - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-pack

[2021-07-25 17:50] danielskatz commented on #3512
@whedon reject

[2021-07-25 17:50] whedon commented on #3512
Paper rejected.

[2021-07-25 17:50] #3512 closed

[2021-07-25 18:21] awvwgk commented on #2976
I updated the issues at the repo and closed everything that is already addressed. Some issues are still unaddressed or only partially resolved.

[2021-07-25 18:25] whedon commented on #3482
:wave: @nicoguaro, please update us on how your review is going (this is an automated reminder).

[2021-07-25 18:25] whedon commented on #3482
:wave: @jmbr, please update us on how your review is going (this is an automated reminder).

[2021-07-25 18:32] corneliusfritz commented on #3456
I also came to the same conclusion. There seem to be 16 open issues that are all not entirely solved, as far as I can see. I only have some minor additional remarks: Some tests/examples not nested in a demo, but the actual "Examples" Section would be helpful; also, the break commands should be placed so that each segment of code is one line to enable a faster learning curve and not necessitate scr

[2021-07-25 18:45] shivam11 commented on #3420
Yes, I am available.RegardsShivam    On Tuesday, July 20, 2021, 12:25:34 PM GMT+4, Nikoleta Glynatsi ***@***.***> wrote:

👋🏻 @expectopatronum & @hiendn & @shivam11 would any of you be willing to review this submission for JOSS?

Currently looking for one more reviewer! The submission I'd like you to review is titled: "daiR: an R package for OCR with Google Document AI". You can find more informati

[2021-07-25 21:23] iammix commented on #3514
![](https://github.trello.services/images/mini-trello-icon.png) [[REVIEW] SymFEM Python Joss Journal](https://trello.com/c/U7R5DLOh/3-review-symfem-python-joss-journal)

[2021-07-25 22:04] jules32 commented on #3467
@whedon commands

[2021-07-25 22:04] whedon commented on #3467
Here are some things you can ask me to do:

[code]

[2021-07-25 22:18] jules32 commented on #3467
👋 @arfon @whedon

I'm logged in but unfortunately it looks like my review invitation has expired. I know Kristina is out, would you be able to help?

https://github.com/openjournals/joss-reviews/invitations

<img width="950" alt="image" src="https://user-images.githubusercontent.com/5891909/126915062-5e07183d-928e-466e-88a3-1199a08120f0.png">

[2021-07-26 00:02] danielskatz commented on #3467
@whedon re-invite @jules32 as reviewer

[2021-07-26 00:02] whedon commented on #3467
OK, the reviewer has been re-invited.

@jules32 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-26 02:37] jedbrown commented on #3316
Wonderful, thanks so much.

[2021-07-26 02:38] jedbrown commented on #3316
@whedon add @joselado as reviewer

[2021-07-26 02:38] whedon commented on #3316
OK, @joselado is now a reviewer

[2021-07-26 02:39] jedbrown commented on #3316
@whedon start review

[2021-07-26 02:39] whedon opened #3537 "[REVIEW]: lattice-symmetries: A package for working with quantum many-body bases"
**Submitting author:** @twesterhout (<a href="http://orcid.org/0000-0003-0200-2686">Tom Westerhout</a>)
**Repository:** <a href="https://github.com/twesterhout/lattice-symmetries" target ="_blank">https://github.com/twesterhout/lattice-symmetries</a>
**Version:** v0.8.0
**Editor:** @jedbrown
**Reviewer:** @jeffhammond, @joselado
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:

[2021-07-26 02:39] whedon commented on #3316
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3537.

[2021-07-26 02:39] #3316 closed

[2021-07-26 02:39] whedon commented on #3537
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jeffhammond, @joselado it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-07-26 02:39] whedon commented on #3537
Wordcount for `paper.md` is 1191

[2021-07-26 02:39] whedon commented on #3537
[code]

[2021-07-26 02:39] whedon commented on #3537
[code]

[2021-07-26 02:39] whedon commented on #3537
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03537/joss.03537/10.21105.joss.03537.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03537/joss.03537/10.21105.joss.03537.pdf) :page_facing_up: :point_left:

[2021-07-26 03:46] majensen commented on #3197
@felipeZ congratulations! No problem; thanks for the response.

[2021-07-26 04:17] jedbrown commented on #3537
@jeffhammond @joselado :wave: Welcome to JOSS and thanks for agreeing to review!

The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [lattice-symmetries repository](https://github.com/twesterhout/lattice-symmetries)). I'll be watching this thread if you have any questions.

JOSS reviews are different from most other journ

[2021-07-26 08:04] Nikoleta-v3 commented on #3420
Fantastic, thank you @shivam11.

[2021-07-26 08:05] Nikoleta-v3 commented on #3420
@whedon add @shivam11  as reviewer

[2021-07-26 08:07] Nikoleta-v3 commented on #3420
@whedon add @shivam11 as reviewer

[2021-07-26 08:07] whedon commented on #3420
OK, @shivam11 is now a reviewer

[2021-07-26 08:08] Nikoleta-v3 commented on #3420
@whedon start review

[2021-07-26 08:08] whedon opened #3538 "[REVIEW]: daiR: an R package for OCR with Google Document AI"
**Submitting author:** @Hegghammer (<a href="http://orcid.org/0000-0001-6253-1518">Thomas Hegghammer</a>)
**Repository:** <a href="https://github.com/Hegghammer/daiR" target ="_blank">https://github.com/Hegghammer/daiR</a>
**Version:** v0.9.2
**Editor:** @Nikoleta-v3
**Reviewers:** @cjbarrie , @geraintpalmer
**Archive:** <a href="https://doi.org/10.5281/zenodo.5792037" target="_blank">10.5281/zeno

[2021-07-26 08:08] whedon commented on #3420
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3538.

[2021-07-26 08:08] #3420 closed

[2021-07-26 08:08] whedon commented on #3538
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cjbarrie , @shivam11 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-07-26 08:08] whedon commented on #3538
Wordcount for `paper.md` is 832

[2021-07-26 08:08] whedon commented on #3538
[code]

[2021-07-26 08:08] whedon commented on #3538
[code]

[2021-07-26 08:08] whedon commented on #3538
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03538/joss.03538/10.21105.joss.03538.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03538/joss.03538/10.21105.joss.03538.pdf) :page_facing_up: :point_left:

[2021-07-26 08:11] Nikoleta-v3 commented on #3538
👋🏼 @Hegghammer  @cjbarrie @shivam11 this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements 🔝  As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from m

[2021-07-26 08:13] Nikoleta-v3 commented on #3514
@felipefr 👋🏻  Is the time period good for you?

[2021-07-26 08:36] mikldk commented on #3377
@whedon add @seabbs as reviewer

[2021-07-26 08:36] whedon commented on #3377
OK, @seabbs is now a reviewer

[2021-07-26 08:36] mikldk commented on #3377
@whedon add @strengejacke as reviewer

[2021-07-26 08:36] whedon commented on #3377
OK, @strengejacke is now a reviewer

[2021-07-26 08:37] mikldk commented on #3377
@seabbs, @strengejacke Thanks for agreeing to review.
@giovannic Thanks for the patience.

[2021-07-26 08:39] mikldk commented on #3377
@whedon add @SteRoe as reviewer

[2021-07-26 08:39] whedon commented on #3377
OK, @SteRoe is now a reviewer

[2021-07-26 08:39] mikldk commented on #3377
@SteRoe @seabbs @strengejacke Thanks for agreeing to review.
@giovannic Thanks for the patience.

[2021-07-26 08:40] mikldk commented on #3377
@whedon check references

[2021-07-26 08:40] whedon commented on #3377
[code]

[2021-07-26 08:40] mikldk commented on #3377
@whedon start review

[2021-07-26 08:40] whedon opened #3539 "[REVIEW]: individual: An R package for individual-based epidemiological models"
**Submitting author:** @giovannic (<a href="http://orcid.org/0000-0002-7024-1200">Giovanni Charles</a>)
**Repository:** <a href="https://github.com/mrc-ide/individual" target ="_blank">https://github.com/mrc-ide/individual</a>
**Version:** v0.1.6
**Editor:** @mikldk
**Reviewer:** @seabbs, @strengejacke, @SteRoe
**Archive:** <a href="https://doi.org/10.5281/zenodo.5529932" target="_blank">10.5281/z

[2021-07-26 08:40] whedon commented on #3377
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3539.

[2021-07-26 08:40] #3377 closed

[2021-07-26 08:40] whedon commented on #3539
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @seabbs, @strengejacke, @SteRoe it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2021-07-26 08:40] whedon commented on #3539
Wordcount for `paper.md` is 1188

[2021-07-26 08:40] whedon commented on #3539
[code]

[2021-07-26 08:40] whedon commented on #3539
[code]

[2021-07-26 08:41] whedon commented on #3539
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: :point_left:

[2021-07-26 08:44] mikldk commented on #3324
@ejhigson, @jakryd:  Can you confirm that you have finished the review and recommend that this paper is now published once satzbeleg/bwsample#72 is closed?

@ulf1 Please ping me once satzbeleg/bwsample#72 is closed and that you had a final read though of the paper, checking language etc. and a final check of the proofs with `@whedon generate pdf`.

[2021-07-26 08:44] mikldk commented on #3539
@seabbs, @strengejacke, @SteRoe: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in

[2021-07-26 08:45] mikldk commented on #3323
@whedon generate pdf

[2021-07-26 08:46] whedon commented on #3323
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03323/joss.03323/10.21105.joss.03323.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03323/joss.03323/10.21105.joss.03323.pdf) :page_facing_up: :point_left:

[2021-07-26 08:47] nuest commented on #3442
@elbeejay Thanks for considering me - I am not able to perform a review at this point in time, as I'm taking a leave of absence until March next year.

[2021-07-26 08:47] jakryd commented on #3324
I have completed my review and recommend the paper for publication.

[2021-07-26 08:48] mikldk commented on #3323
@maximtrp, @arunmano121 Thank you very much for your effort in reviewing this paper!

@annajenul:

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g. with [

[2021-07-26 08:50] ejhigson commented on #3324
Likewise I have also finished my review and recommend publication.

[2021-07-26 09:01] osorensen commented on #3453
@OwenWard, could you please update us on how it is going with your review?

[2021-07-26 09:39] ajstewartlang commented on #3414
@whedon check references

[2021-07-26 10:37] SteRoe commented on #3539
@mikldk: This is my first JOSS review. Filled out the check list, but I'm not sure how to submit it. Most notably I found no statement on examples and tests, so I left these checks open. Other points are fine. How to proceed?

[2021-07-26 10:53] mikldk commented on #3539
@SteRoe Thanks for asking! The check items are not to be submitted, once they are checked that is saved and all is good. The ones you do not think are okay/not satisfied you can address here in this issue to the author (minor things), or preferably create issues in the submission's repository and mention this review issue so that the issues are linked.

[2021-07-26 10:54] jeffhammond commented on #3537
# Summary

This paper describes a software package for exact diagonalization of lattice Hamiltonians. This is an important domain of computational science.  The software for solving problems in this space is challenging to write and use.  The author's contribution here is significant, and I have personal experience with how important it is to have efficient implementations of this capability.

Thi

[2021-07-26 11:09] giswqs commented on #3414
@whedon generate pdf

[2021-07-26 11:31] ajstewartlang commented on #3414
I've reached out to the rest of the JOSS team to find out why `whedon` isn't generating the pdf...

[2021-07-26 11:32] giswqs commented on #3414
@ajstewartlang Thank you for fixing the typo. I have made a tag version that includes all changes made to the paper.

- Tagged version: v0.3.5
- Zenodo link: https://doi.org/10.5281/zenodo.5137372
- DOI: 10.5281/zenodo.5137372

[2021-07-26 11:45] VivianePons commented on #3416
No problem! Just wanted to make sure it was still going on. I'll be taking a summer break myself by the end of the week so no rush

[2021-07-26 12:18] jbytecode commented on #3439
@felipefr could you please update your status?

[2021-07-26 12:20] jbytecode commented on #3452
@ChristopherLucas could you please update your status?

[2021-07-26 12:30] Saran-nns commented on #3536
@whedon check references

[2021-07-26 12:38] danielskatz commented on #3414
@whedon check references

[2021-07-26 12:52] lucydot commented on #3405
Hi @danielskatz I'm happy to try, though I am not familiar with subject area. Looking at the conversation above it may not fit neatly into any editors area of expertise - if this is the case I'm happy to take it on and do my best to find suitable reviewers.

[2021-07-26 12:58] danielskatz commented on #3405
@lucydot - great - please go ahead, and feel free to chat with me and others on slack if you need help with reviewers

[2021-07-26 13:22] lucydot commented on #3405
@whedon commands

[2021-07-26 13:22] whedon commented on #3405
Here are some things you can ask me to do:

[code]

[2021-07-26 13:26] lucydot commented on #3405
@whedon assign @lucydot as editor

[2021-07-26 13:26] whedon commented on #3405
OK, the editor is @lucydot

[2021-07-26 13:27] lucydot commented on #3405
@whedon check repository

[2021-07-26 13:39] Kevin-Mattheus-Moerman commented on #3055
Congratulations @tomgrylls ! :tada:

And thank you so much for the excellent review efforts @wimvanderbauwhede, @p-costa, @ashwinvis :clap:

[2021-07-26 13:39] #3055 closed

[2021-07-26 13:39] whedon commented on #3055
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03055/status.svg)](https://doi.org/10.21105/joss.03055)

**We need your help!**

Journal of Open Source Softwa

[2021-07-26 13:50] lucydot commented on #3405
Hi @dfujim I'll be your editor for this submission 👋

If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list ](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822)of people have already agreed to review for JOSS and may be suitable for this submissi

[2021-07-26 13:53] drvinceknight commented on #3084
Apologies for the late reply (I've been away).

That would be fine, having a PhD is not at all a requirement. If in the first instance Dr Keighley could suggest some reviewers that would be appreciated.

[2021-07-26 13:54] rkurchin commented on #3536
@whedon assign me as editor

Hi Daniel, sure, I can take this one!

[2021-07-26 13:54] whedon commented on #3536
OK, the editor is @rkurchin

[2021-07-26 13:58] OwenWard commented on #3453
@osorensen I'm nearly done, hoping to finish this week!

[2021-07-26 13:59] danielskatz commented on #3384
@Garyfallidis - any update on this?

[2021-07-26 13:59] danielskatz commented on #3295
@mviereck - just checking on your progress...

[2021-07-26 14:00] danielskatz commented on #3348
@ad48 - any news on this?

[2021-07-26 14:03] danielskatz commented on #3211
I've pinged @PierreGuilbertF by email

[2021-07-26 14:15] jgostick commented on #2976
Hi @lsurwars, @CFGrote only has 2 'unchecked boxes' in his list above, and they both seem addressable.  Can you finish these off?
- [ ] State of the field: Do the authors describe how this software compares to other commonly-used packages?
- [ ] References: Is the list of references complete, and is everything cited appropriately that should be cited (e.g., papers, datasets, software)? Do referenc

[2021-07-26 14:18] jgostick commented on #2976
Also, @Isurwars,  there are a few additional points that @CFGrote has posted on your repo.  Once these are addressed, we'll be able to move forward.  Almost there!

[2021-07-26 14:18] jgostick commented on #2976
@awvwgk, is your checklist at the top of this thread up-to-date?  Do they outline your points about which things are unaddressed?

[2021-07-26 14:19] rkurchin commented on #3536
Hi @Saran-nns, I'll be editing this submission. Could you kindly take a look at [this list](https://bit.ly/joss-reviewers) of JOSS reviewers and identify a few that you think might be appropriate? Thanks!

[2021-07-26 14:26] bmcfee commented on #3409
@whedon add @rrrlw as reviewer

[2021-07-26 14:26] HeatherWelch commented on #3467
@whedon it seems like my review invitation has also expired

[image: Screen Shot 2021-07-26 at 7.25.23 AM.png]

On Sun, Jul 25, 2021 at 5:03 PM whedon ***@***.***> wrote:

--

*Heather Welch*
Project Scientist

UCSC and NOAA SWFSC
Environmental Research Division
99 Pacific St. Suite 255A
Monterey, CA *93940*

phone (wk): 831-648-8516
<http://conservationplanning.org/people/heather-welch/>
http://c

[2021-07-26 14:26] whedon commented on #3467
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-26 14:26] bmcfee commented on #3409
@whedon start review

[2021-07-26 14:26] whedon opened #3540 "[REVIEW]: RHRT: An R package to assess Heart Rate Turbulence"
**Submitting author:** @VBlesius (<a href="http://orcid.org/0000-0002-2391-242X">Valeria Blesius</a>)
**Repository:** <a href="https://github.com/VBlesius/RHRT" target ="_blank">https://github.com/VBlesius/RHRT</a>
**Version:** 1.0
**Editor:** @bmcfee
**Reviewer:** @brunaw, @rrrlw
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemi

[2021-07-26 14:26] whedon commented on #3409
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3540.

[2021-07-26 14:26] #3409 closed

[2021-07-26 14:26] whedon commented on #3540
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @brunaw, @rrrlw it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2021-07-26 14:35] awvwgk commented on #2976
Looks good to me now. I have only minor thing left unaddressed, but those don't hinder moving the paper forward (still would be nice if they get addressed). The only outstanding issue in my opinion are the missing contributing guidelines for the project (see https://github.com/Isurwars/Correlation/issues/6).

[2021-07-26 14:38] danielskatz commented on #3467
@whedon re-invite @HeatherWelch  as reviewer

[2021-07-26 14:38] whedon commented on #3467
OK, the reviewer has been re-invited.

@heatherwelch  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-26 14:43] mviereck commented on #3295
@danielskatz I am still waiting for a response in https://github.com/indigo-dc/udocker/issues/348.

[2021-07-26 14:48] danielskatz commented on #3295
@jorge-lip - can you respond to this issue?

[2021-07-26 14:50] nicoguaro commented on #3482
@richardjgowers, @Shibabrat, I have already added some updates in my review.

[2021-07-26 14:51] whedon commented on #3414
[code]

[2021-07-26 14:51] whedon commented on #3536
[code]

[2021-07-26 14:51] whedon commented on #3405
Wordcount for `paper.md` is 876

[2021-07-26 14:51] whedon commented on #3414
[code]

[2021-07-26 14:51] whedon commented on #3484
:wave: @CamDavidsonPilon, please update us on how your review is going (this is an automated reminder).

[2021-07-26 14:51] whedon commented on #3414
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03414/joss.03414/10.21105.joss.03414.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03414/joss.03414/10.21105.joss.03414.pdf) :page_facing_up: :point_left:

[2021-07-26 14:51] whedon commented on #3405
[code]

[2021-07-26 14:51] whedon commented on #3540
Wordcount for `paper.md` is 731

[2021-07-26 14:51] whedon commented on #3540
[code]

[2021-07-26 14:51] whedon commented on #3540
[code]

[2021-07-26 14:52] whedon commented on #3540
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03540/joss.03540/10.21105.joss.03540.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03540/joss.03540/10.21105.joss.03540.pdf) :page_facing_up: :point_left:

[2021-07-26 14:54] Saran-nns commented on #3536
@whedon generate pdf

[2021-07-26 14:54] whedon commented on #3536
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03536/joss.03536/10.21105.joss.03536.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03536/joss.03536/10.21105.joss.03536.pdf) :page_facing_up: :point_left:

[2021-07-26 14:58] giovannic commented on #3539
@mikldk @SteRoe Thanks for bringing that up! Not sure how we declare these to JOSS but we have extensive automated tests ([here's our latest coverage](https://github.com/mrc-ide/individual/pull/127#issuecomment-885484195)), and our documentation has an example in the [tutorial](https://mrc-ide.github.io/individual/articles/Tutorial.html) (which had to be removed from the paper for brevity).

[2021-07-26 15:03] giovannic commented on #3539
Some other potentially useful links...

[Installation instructions](https://github.com/mrc-ide/individual#installation)
[Contributing guidelines](https://mrc-ide.github.io/individual/articles/Contributing.html)

;)

[2021-07-26 15:09] ajstewartlang commented on #3414
@whedon set 10.5281/zenodo.5137372 as archive

[2021-07-26 15:09] whedon commented on #3414
OK. <a href="https://doi.org/10.5281/zenodo.5137372" target="_blank">10.5281/zenodo.5137372</a> is the archive.

[2021-07-26 15:13] ajstewartlang commented on #3414
Many thanks @martinfleis and @TomasBeuzen for your helpful and detailed reviews - thank you @giswqs for addressing all the comments - I've read through myself and agree that this is a great submission that will be very useful to many people! Congrats and thank you for submitting to JOSS!

[2021-07-26 15:14] whedon commented on #3485
:wave: @richardsc, please update us on how your review is going (this is an automated reminder).

[2021-07-26 15:14] whedon commented on #3485
:wave: @paleolimbot, please update us on how your review is going (this is an automated reminder).

[2021-07-26 15:15] ajstewartlang commented on #3414
@whedon set v0.3.5 as version

[2021-07-26 15:15] whedon commented on #3414
OK. v0.3.5 is the version.

[2021-07-26 15:15] ajstewartlang commented on #3414
@whedon recommend-accept

[2021-07-26 15:15] whedon commented on #3414
[code]

[2021-07-26 15:16] whedon commented on #3414
[code]

[2021-07-26 15:16] whedon commented on #3414
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2482

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2482, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-26 15:19] diehlpk commented on #3274
@whedon commands

[2021-07-26 15:19] whedon commented on #3274
Here are some things you can ask me to do:

[code]

[2021-07-26 15:19] diehlpk commented on #3274
@whedon remind @vijaysm  in 2 weeks

[2021-07-26 15:19] whedon commented on #3274
Reminder set for @vijaysm  in 2 weeks

[2021-07-26 15:20] diehlpk commented on #3465
@whedon remind @taless474   in 2 weeks

[2021-07-26 15:20] whedon commented on #3465
Reminder set for @taless474   in 2 weeks

[2021-07-26 15:22] diehlpk commented on #3389
@whedon remind @daniellivingston   in 2 weeks

[2021-07-26 15:22] whedon commented on #3389
Reminder set for @daniellivingston   in 2 weeks

[2021-07-26 15:22] SteRoe commented on #3539
@giovannic Maybe, you could reference your test suite and the tutorial in a short section?

[2021-07-26 15:22] diehlpk commented on #3389
@whedon remind @pratikvn  in 2 weeks

[2021-07-26 15:22] whedon commented on #3389
Reminder set for @pratikvn  in 2 weeks

[2021-07-26 15:23] diehlpk commented on #3390
@whedon remind @HaoZeke   in 2 weeks

[2021-07-26 15:23] whedon commented on #3390
Reminder set for @HaoZeke   in 2 weeks

[2021-07-26 15:23] rusu24edward commented on #3424
@abhiramm7 Thank you for your review so far. I believe I have followed up on all the points you have mentioned above. Please see my responses to the issues you created in Abmarl [here](https://github.com/LLNL/Abmarl/issues/167) and [here](https://github.com/LLNL/Abmarl/issues/168). Please let me know if there is still more to be done on these points or on any other part of the submission.

@seba-1

[2021-07-26 15:23] diehlpk commented on #3390
@whedon remind @Kevin-Mattheus-Moerman   in 2 weeks

[2021-07-26 15:23] whedon commented on #3390
Reminder set for @Kevin-Mattheus-Moerman   in 2 weeks

[2021-07-26 15:23] Shyentist commented on #3467
Hello @HeatherWelch .
1. What do you mean that the button does not work? Does it remain greyed out? Does it do nothing upon clicking? I am unable to replicate the issue.
2. As of now, no, but that would be a nice addition indeed.

[2021-07-26 15:25] diehlpk commented on #3390
@whedon remind @likask  in 2 weeks

[2021-07-26 15:25] whedon commented on #3390
Reminder set for @likask  in 2 weeks

[2021-07-26 15:28] vinisalazar commented on #3531
@whedon check references

[2021-07-26 15:28] diehlpk commented on #3450
@Kevin-Mattheus-Moerman I can take the paper since I have experience with C++ but not with the applicaiton and I would need to reply to the reviewers there.

[2021-07-26 15:36] kbarnhart commented on #2276
@r-barnes another friendly reminder to revisit this review as you are able.

[2021-07-26 15:53] arbennett commented on #3442
Hi @elbeejay - I would be happy to review this! I also do not hold any conflict of interest for this submission.

[2021-07-26 16:17] williamfgc commented on #3143
@danielskatz sorry for the late reply. GitHub notification emails have been going to my spam folder for some reason. I still have to go through the manuscript and few more iterations on the code.

[2021-07-26 16:17] kellyrowland commented on #3212
Hi @mikejohnson51 - are you still available to review this paper?

[2021-07-26 16:39] vkrajnak commented on #3482
@nicoguaro Thank you for finding the unittest issue. In case it is acceptable to run `unittest` from a subfolder of the package, I've amended the README file to say

[code]

Then it works.

[2021-07-26 17:02] kyleniemeyer commented on #3273
@whedon accept deposit=true

[2021-07-26 17:02] whedon commented on #3273
[code]

[2021-07-26 17:03] whedon commented on #3273
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1419704897155616773) 👈 🐦🐦🐦

[2021-07-26 17:03] whedon commented on #3273
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2483
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03273](https://doi.org/10.21105/joss.03273)
2. If everything look

[2021-07-26 17:04] kyleniemeyer commented on #3414
@whedon accept deposit=true

[2021-07-26 17:04] whedon commented on #3414
[code]

[2021-07-26 17:05] whedon commented on #3414
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1419705459611783170) 👈 🐦🐦🐦

[2021-07-26 17:05] whedon commented on #3414
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2484
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03414](https://doi.org/10.21105/joss.03414)
2. If everything look

[2021-07-26 17:05] kyleniemeyer commented on #3273
Congratulations @PhilBoileau on your article's publication in JOSS!

Many thanks to @Marie-PerrotDockes and @yunanwu123 for reviewing this, and @fboehm for editing.

[2021-07-26 17:05] #3273 closed

[2021-07-26 17:05] whedon commented on #3273
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03273/status.svg)](https://doi.org/10.21105/joss.03273)

**We need your help!**

Journal of Open Source Softwa

[2021-07-26 17:09] ad48 commented on #3348
@whedon generate pdf

[2021-07-26 17:10] whedon commented on #3348
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: :point_left:

[2021-07-26 17:12] ad48 commented on #3348
@whedon generate pdf

[2021-07-26 17:12] whedon commented on #3348
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: :point_left:

[2021-07-26 17:12] kyleniemeyer commented on #3414
Congratulations @giswqs on your article's publication in JOSS!

Many thanks to @martinfleis and @TomasBeuzen for reviewing this submission, and @ajstewartlang for editing.

[2021-07-26 17:12] #3414 closed

[2021-07-26 17:13] whedon commented on #3414
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03414/status.svg)](https://doi.org/10.21105/joss.03414)

**We need your help!**

Journal of Open Source Softwa

[2021-07-26 17:15] fawda123 commented on #3485
Awesome, thanks @paleolimbot!  I really appreciate the comments.

[2021-07-26 17:16] ad48 commented on #3348
@danielskatz I think that's all of the issues responded to now. Many thanks.

[2021-07-26 17:19] danielskatz commented on #3348
👋 @dhimmel and @mfenner - Can you take a look at this again and see if the changes address your points, and if you can now check all/additional review criteria?

[2021-07-26 17:23] dhimmel commented on #3348
I'm waiting on a new PyPI release as noted at https://github.com/sagepublishing/rejected_article_tracker_pkg/issues/9#issuecomment-881663829

[2021-07-26 17:27] danielskatz commented on #3348
Should we reopen that issue?

[2021-07-26 17:30] sbenthall commented on #3487
@nmstreethran would you be able to review this package?

[2021-07-26 17:31] reality commented on #3487
@sbenthall Sorry for the delayed response. Yes, I would be happy to review this package.

[2021-07-26 17:40] mark-koren commented on #3312
Hey y'all, sorry for the long delay! I graduated and have been traveling since, but I am back now.

[2021-07-26 17:42] mark-koren commented on #3312
I had a docker solution 90% done before I left, but I am digging deeper to find out best practices (e.g. stuff like should I still use venv too, or should docker user be root, etc). I know this level of detail probably isn't needed for the review itself, but I want to make sure the docker option is available to all our users, since this dependency issue seems to be cropping up more.

[2021-07-26 17:53] giodegas commented on #3312
This is great news! Looking forward to it.

[2021-07-26 18:43] ulf1 commented on #3324
@whedon generate pdf

[2021-07-26 18:44] whedon commented on #3324
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03324/joss.03324/10.21105.joss.03324.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03324/joss.03324/10.21105.joss.03324.pdf) :page_facing_up: :point_left:

[2021-07-26 18:54] chennachaos commented on #3020
Hi @diehlpk, I don't understand how the installation can be carried out if *module* command is not available.

I would like to finish the review by the end of this week. Do you have any other method that I can follow to install and test the code on my PC? I have Ubuntu 20.04.

[2021-07-26 18:56] kbarnhart commented on #3507
@wsavran thanks for this submission. I have completed my pre-review screening of this submission and will now start soliciting reviewers. If you have reviewer recommendations, please list them here (either list github handle without the @ symbol, or a name if they do not have a github account).

A few minor points regarding the paper to consider.
1. Line 27 - should be "earthquake prediction metho

[2021-07-26 19:11] diehlpk commented on #3020
Hey @chennachaos you can just run the scripts, as I showed above. They do not use the module command at all. The scripts just write modules file, you can use on clusters, but they are optional.

I think if you follow these instructions on your Ubuntu, you can compile the code:

And I had to install the following packages using apt-get

* apt-get update
* apt-get install build-essential
* apt-get i

[2021-07-26 19:14] clavigne commented on #3274
@whedon generate pdf

[2021-07-26 19:15] whedon commented on #3274
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03274/joss.03274/10.21105.joss.03274.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03274/joss.03274/10.21105.joss.03274.pdf) :page_facing_up: :point_left:

[2021-07-26 19:29] clavigne commented on #3274
Hi @vijaysm thanks again for the thorough review and I apologize for the delay in my reply. Hopefully I can provide satisfactory responses to your raised points, but please advise if you feel that this is not the case.

I changed the example to make the reporting (somewhat) more user-friendly. It now raises `StopRecursion` instead of `RuntimeError` and the behaviour is mentioned specifically in ht

[2021-07-26 19:30] clavigne commented on #3274
@danielskatz There's also Parsl but I'm writing this more for your information than asking you to mention it, since I work on it.

Thanks! I actually wasn't aware of Parsl when I embarked on this project, and by the time I did become aware of it, I already had done a fair bit of work. Parsl is quite similar to funsies (python-based, similar architecture, free licenses), albeit significantly more m

[2021-07-26 19:34] danielskatz commented on #3274
If you (very optionally) want to mention it, feel free to do so - we like citations, particularly of https://doi.org/10.1145/3307681.3325400 !

And if you want to discuss collaboration, we're happy to do that too - best might be to join the Parsl slack via http://parsl-project.org/support.html

[2021-07-26 19:40] elbeejay commented on #3442
Great, thank you all. We will move this forward to review.

[2021-07-26 19:40] elbeejay commented on #3442
@whedon add @omshinde as reviewer

[2021-07-26 19:41] whedon commented on #3442
OK, @omshinde is now a reviewer

[2021-07-26 19:41] elbeejay commented on #3442
@whedon add @arbennett as reviewer

[2021-07-26 19:41] whedon commented on #3442
OK, @arbennett is now a reviewer

[2021-07-26 19:41] elbeejay commented on #3442
@whedon start review

[2021-07-26 19:41] whedon opened #3541 "[REVIEW]: GeoClimate: a Geospatial processing toolbox for environmental and climate studies"
**Submitting author:** @ebocher (<a href="http://orcid.org/0000-0002-4936-7079">Erwan Bocher</a>)
**Repository:** <a href="https://github.com/orbisgis/geoclimate/" target ="_blank">https://github.com/orbisgis/geoclimate/</a>
**Version:** 0.0.1
**Editor:** @elbeejay
**Reviewer:** @abhishekvp, @omshinde, @arbennett
**Archive:** <a href="https://doi.org/10.5281/zenodo.5534680" target="_blank">10.5281

[2021-07-26 19:41] whedon commented on #3442
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3541.

[2021-07-26 19:41] #3442 closed

[2021-07-26 19:41] whedon commented on #3541
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @abhishekvp, @omshinde, @arbennett it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2021-07-26 19:42] whedon commented on #3541
[code]

[2021-07-26 19:42] whedon commented on #3541
Wordcount for `paper.md` is 2368

[2021-07-26 19:42] whedon commented on #3541
[code]

[2021-07-26 19:43] whedon commented on #3541
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03541/joss.03541/10.21105.joss.03541.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03541/joss.03541/10.21105.joss.03541.pdf) :page_facing_up: :point_left:

[2021-07-26 19:54] elbeejay commented on #3541
@abhishekvp, @omshinde, and @arbennett, thanks for agreeing to review this submission to JOSS. We are currently asking reviewers to try and complete their reviews in 6 weeks.

The JOSS review process is entirely open and transparent, and takes place on GitHub. Review comments can be made as issues in the GeoClimate repository, please link this review issue when doing so (paste `https://github.com/

[2021-07-26 21:16] amelialdrew commented on #3416
Hi @VivianePons, what is the best channel to suggest small changes/additions?

[2021-07-26 21:28] Saran-nns commented on #3536
Hi @rkurchin, thank you. I suggest, @rougier  @KirstensGitHub @mvandam @janfb @agricolab @AlexChristensen

[2021-07-26 21:34] whedon commented on #3490
:wave: @nnadeau, please update us on how your review is going (this is an automated reminder).

[2021-07-26 21:34] whedon commented on #3490
:wave: @destogl, please update us on how your review is going (this is an automated reminder).

[2021-07-26 21:34] rkurchin commented on #3536
Thanks! @KirstensGitHub and @agricolab, would you be willing to review this submission to JOSS?

We carry out our checklist-driven reviews here in GitHub issues according to these guidelines. You can find out more about this submission in the first comment in this issue.

[2021-07-26 22:11] wsavran commented on #3507
@whedon generate pdf from branch pycsep_joss

[2021-07-26 22:11] whedon commented on #3507
[code]

[2021-07-26 22:11] whedon commented on #3507
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03507/joss.03507/10.21105.joss.03507.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03507/joss.03507/10.21105.joss.03507.pdf) :page_facing_up: :point_left:

[2021-07-26 22:22] wsavran commented on #3507
@kbarnhart, thanks for the feedback on the manuscript. i've asked whedon to compile a new pdf with some changes.

possible reviewers:
* leouieda
* jedbrown
* lheagy

thanks!

[2021-07-27 00:05] jcoliver commented on #3374
My initial review echos that of @iimog. This is useful software for phyloreferencing. I also think a clear Statement of Need is warranted. I added a couple of issues: one is minor clarification ([#92](https://github.com/phyloref/jphyloref/issues/92)), while the other might be of a more stylistic bent that does not necessarily need to be immediately addressed ([#93](https://github.com/phyloref/jphy

[2021-07-27 01:05] mikegrudic commented on #3406
ngoldbaum and

Thanks! On the list, some potential reviewers I see who would likely be knowledgeable about the algorithms and applications of the package would be ngoldbaum and zingale.

[2021-07-27 03:03] taless474 commented on #3492
@omid-s, @kellieotto, @nhejazi Would you be interested in reviewing this?

[2021-07-27 03:07] taless474 commented on #3492
@agisga Would you be interested in reviewing this?

[2021-07-27 05:51] agricolab commented on #3536
Dear @rkurchin and dear authors. Thanks for the invitation to review. I would be delighted to review, but currently have to decline due to time constraints.

[2021-07-27 07:44] ahurriyetoglu commented on #3448
Thanks @koaning! A couple of other minor points:
1- You can cite the scikit-learn paper and provide a URL to their homepage. (Pedregosa, F., Varoquaux, G., Gramfort, A., Michel, V., Thirion, B., Grisel, O., ... & Duchesnay, E. (2011). Scikit-learn: Machine learning in Python. the Journal of machine Learning research, 12, 2825-2830.)

2- python -> Python, it's -> it is, user the define rules -> use

[2021-07-27 08:49] SunilAnandatheertha commented on #3190
Hi, please, I will follow up soon. Thank you.

[2021-07-27 09:19] nmstreethran commented on #3487
@sbenthall Sorry, I am unable to review at the moment.

[2021-07-27 09:40] giovannic commented on #3539
I've [added](https://github.com/mrc-ide/individual/commit/ba09b93f3458d9f2ec629d08ea89ba210b1bde7d) a short note to the Licensing and Availability section.

[2021-07-27 09:45] VivianePons commented on #3416
You can discuss them here or directly on the software repo, that's up to you

[2021-07-27 10:04] faroit commented on #3347
@baileythegreen I haven't heard back from you when you were notified by our review bot. Do you need more time to finish the review?

[2021-07-27 10:44] ml-evs commented on #3458
Perhaps the managing editor from the pre-review (@danielskatz) could help with this too? I guess the review cannot start otherwise...

[2021-07-27 11:17] McGregor14 commented on #3270
Hello @KirstensGitHub, sorry for the late reply.

I have nudged @NathanHorrigan by email, so hopefully he will get back shortly.

@oliviaguest

I think it would be worth me briefly explaining the current situation and roles of the authors for future reference, too.

FLARe is a King’s College London project that has been going for around 5 years, basically creating and using different versions of t

[2021-07-27 12:13] koaning commented on #3448
1. I already cited the scikit-learn pipeline design in the paper, but I've added a citation in the acknowledgment section using a bibtex citation to the paper.
2. Done.
3. Done.

[2021-07-27 12:19] koaning commented on #3448
Looking at the list on top I figured I should also add installation instructions in the paper. I added it under a new "features" section that picks up right after the statement of need.

[2021-07-27 12:51] danielskatz commented on #3458
Given that we have to balance the needed expertise to review a submission and the fact that this often means that potential reviewers will be involved in community projects with the developers, this needs to be judged on a case-by-case basis. I think that, given @jamesrhester's comments, we can waive the COI and proceed, if that seems ok with the editor of this submission, @jgostick

[2021-07-27 12:55] uellue commented on #3394
@kasasxav Thank you for the documentation updates, a great improvement! I've checked the corresponding checkboxes.

When I wanted to test the fix for the "window problem" https://github.com/kasasxav/ImSwitch/issues/59 I ran into a new issue: https://github.com/kasasxav/ImSwitch/issues/73

Do you test these examples in your CI pipeline, actually? From my personal experience it is well worth the eff

[2021-07-27 13:13] jbytecode commented on #3448
@whedon generate pdf

[2021-07-27 13:13] whedon commented on #3448
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: :point_left:

[2021-07-27 13:40] elbeejay commented on #3535
:wave: @nickbearman, @tsamsonov, @cole-brokamp, @GISerDaishaoqing would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission is "tidygeocoder: An R package for geocoding." I am reaching out to you all based on your experience with R a

[2021-07-27 13:44] stafak commented on #3394
Thank you @uellue! :) Sorry about the regression in kasasxav/ImSwitch#73, I think I've fixed it now.

We do test a setup similar to `example_monalisa.json` in our CI pipeline, but you're right that it would be good to run the tests for all examples. (However, in this case I believe we didn't catch the error for a different reason. From the error message, it looks like it happened specifically beca

[2021-07-27 13:49] jules32 commented on #3467
Hello @Shyentist,

I’ve completed my first review, thank you for submitting. Below are some comments that I think would benefit your project; they are largely about documentation in various forms.

The Shiny App launched very quickly and was very responsive, and this seems like it will be helpful for researchers wanting to query and analyze Global Fishing Watch data. I think it would benefit from

[2021-07-27 13:59] mikejohnson51 commented on #3212
I am out this week, but could review this next week if that works for the papers timeline?

[2021-07-27 15:10] amelialdrew commented on #3416
Hi @bshoshany, this is looking good to me so far, it seems as though it would be useful for students getting to grips with Mathematica/GR and the documentation is very clear. I have a few small questions/comments organised roughly into the checkpoints I haven’t ticked off yet:

- Do you have any examples of where the code has been cited/used for more advanced research projects?

- Main parallelisa

[2021-07-27 15:24] kbarnhart commented on #3507
@wsavran thanks for making those changes. I have now started to reach out to reviewers. As I am able to confirm reviewers I will add them here. Once I get a sufficient number (2 or 3), I will start the formal review issue.

[2021-07-27 15:29] kbarnhart commented on #3398
@zsylvester a friendly reminder to provide your review by 10 August.

@jhnienhuis @salterg thank you for providing your reviews.

@amoodie thank you for addressing the review comments as the arise.

Questions, concerns, or clarification... feel free to contact me here or at krbarnhart@usgs.gov

[2021-07-27 16:10] whedon commented on #2978
:wave: @robertsawko, please update us on how your review is going (this is an automated reminder).

[2021-07-27 17:09] cole-brokamp commented on #3535
I am willing to review this submission, thanks.

[2021-07-27 17:47] nsviel commented on #3533
@whedon check references

[2021-07-27 17:48] whedon commented on #3533
[code]

[2021-07-27 17:48] nsviel commented on #3533
@whedon generate pdf

[2021-07-27 17:49] whedon commented on #3533
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03533/joss.03533/10.21105.joss.03533.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03533/joss.03533/10.21105.joss.03533.pdf) :page_facing_up: :point_left:

[2021-07-27 17:56] nsviel commented on #3533
@whedon check references

[2021-07-27 17:56] whedon commented on #3533
[code]

[2021-07-27 17:58] nsviel commented on #3533
@whedon check references

[2021-07-27 17:58] whedon commented on #3533
[code]

[2021-07-27 17:59] nsviel commented on #3533
@whedon check references

[2021-07-27 17:59] whedon commented on #3533
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "DOI" (NAME) [#<BibTeX::Bibliography data=[3]>, "@", #<BibTeX::Entry >, {:author=>["Radu Bogdan Rusu and Steve Cousins"], :title=>["{3D is here: Point Cloud Library (PCL)}"], :booktitle=>["{IEEE International Conference on Robotics and Automation (ICRA)}"], :month=>["May 9-13"], :year=>["2011"], :address

[2021-07-27 18:00] nsviel commented on #3533
@whedon check references

[2021-07-27 18:00] whedon commented on #3533
[code]

[2021-07-27 18:01] nsviel commented on #3533
@whedon generate pdf

[2021-07-27 18:01] whedon commented on #3533
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03533/joss.03533/10.21105.joss.03533.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03533/joss.03533/10.21105.joss.03533.pdf) :page_facing_up: :point_left:

[2021-07-27 18:07] rkurchin commented on #3536
Hi @AlexChristensen, would you be willing to review this submission to JOSS?

JOSS publishes articles about open source research software. It is a free, open-source, community driven and developer-friendly online journal (no publisher is seeking to raise revenue from the volunteer labor of researchers!). The review process at JOSS is unique: it takes place in a GitHub issue, is open, and author-re

[2021-07-27 18:08] annajenul commented on #3323
@whedon generate pdf

[2021-07-27 18:09] whedon commented on #3323
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03323/joss.03323/10.21105.joss.03323.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03323/joss.03323/10.21105.joss.03323.pdf) :page_facing_up: :point_left:

[2021-07-27 18:19] tomgrylls commented on #3055
Thanks so much @Kevin-Mattheus-Moerman @wimvanderbauwhede @p-costa @ashwinvis! We really appreciate the time you put towards this!

[2021-07-27 18:45] kellyrowland commented on #3212
Thank you! I think that'll be fine - I'll go ahead and edit the issue to add you as a reviewer.

[2021-07-27 18:46] kellyrowland commented on #3212
@whedon remove @nick-gauthier as reviewer

[2021-07-27 18:46] whedon commented on #3212
OK, @nick-gauthier is no longer a reviewer

[2021-07-27 18:46] kellyrowland commented on #3212
@whedon add @mikejohnson51 as reviewer

[2021-07-27 18:46] whedon commented on #3212
OK, @mikejohnson51 is now a reviewer

[2021-07-27 19:09] mwt commented on #3452
I still got the same error on a fresh Windows VM. If I set chains = 1, R crashes. If I set chains higher, each serialized chain crashes. That is, I get four crashes when there are four chains, etc. So, I think the error isn't with serialize, but is with one of the other commands run afterwards. Maybe `rstan`?

**I also tested this in Ubuntu, and it worked.** So, we're only talking about a possible

[2021-07-27 19:22] hungpham2017 opened #3542 "Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution."

[2021-07-27 19:26] uellue commented on #3394
@stafak @kasasxav Thank you for fixing https://github.com/kasasxav/ImSwitch/issues/73 so quickly! Everything seems to work now. :-)

@Kevin-Mattheus-Moerman that concludes my review and I cordially recommend this paper for publication. 💯

[2021-07-27 19:27] danielskatz commented on #3542
Please do not use the GitHub feature to open an issue from a checklist item, as it opens the issue in the wrong repository and doesn't have any content useful to the author.  Please instead open an issue manually in the source code repo as requested in the review thread comments.

[2021-07-27 19:27] #3542 closed

[2021-07-27 19:51] annajenul commented on #3323
@maximtrp @arunmano121 thank you very much for your efforts! :)
@mikldk thanks for the instructions and the coordination of the review process! I have generated a DOI at Zenodo:
10.5281/zenodo.5140349
Version v1.0.0

[2021-07-27 19:58] taless474 commented on #3492
@saniavn I guess this is related to your field. Would you be interested in reviewing this?

[2021-07-27 22:44] OwenWard commented on #3453
@whedon generate pdf

[2021-07-27 22:44] whedon commented on #3453
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03453/joss.03453/10.21105.joss.03453.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03453/joss.03453/10.21105.joss.03453.pdf) :page_facing_up: :point_left:

[2021-07-27 23:01] OwenWard commented on #3453
@pfistfl I opened a pull request for two very small typos I spotted, one in an error message and one in the paper. Also the figure doesn't currently appear in the pdf of the article proof, but that should be an easy fix.
@osorensen otherwise everything looks good to me.

[2021-07-27 23:17] baileythegreen commented on #3347
@faroit Hi, yes! I'm sorry about not responding. My computer died and I've been having to recreate some work. I have a different machine now, though, and will get caught up on this.

[2021-07-27 23:25] nhejazi commented on #3492
Sure, I’d be happy to co-review this submission

[2021-07-28 00:34] stephensrmmartin commented on #3452
@mwt Out of curiosity, what CPU are you currently using?

[2021-07-28 01:15] stephensrmmartin commented on #3452
Ok, I am trying to narrow down exactly why that is occurring.

I am thinking that this is a bug up the chain, further upstream in the Mingw64 gcc compiler shipped in MSYS2; CRAN/R use Rtools40, which in turn use MSYS2 and this gcc compiler.

Based on the comment [here](https://discourse.mc-stan.org/t/rstan-on-windows/16673/16), there is a [bug](https://github.com/msys2/MSYS2-packages/issues/1209)

[2021-07-28 01:15] omid-s commented on #3492
Sure @taless474, I'd be happy to co-review this submission as well.

[2021-07-28 01:19] taless474 commented on #3492
@whedon assign @nhejazi as reviewer
@whedon assign @omid-s as reviewer

[2021-07-28 01:19] whedon commented on #3492
OK, @nhejazi is now a reviewer

[2021-07-28 01:19] taless474 commented on #3492
@whedon assign @omid-s as reviewer

[2021-07-28 01:19] whedon commented on #3492
OK, @omid-s is now a reviewer

[2021-07-28 01:24] taless474 commented on #3492
@whedon assign @nhejazi as reviewer

[2021-07-28 01:24] whedon commented on #3492
OK, @nhejazi is now a reviewer

[2021-07-28 01:25] taless474 commented on #3492
@whedon add @omid-s as reviewer

[2021-07-28 01:25] whedon commented on #3492
OK, @omid-s is now a reviewer

[2021-07-28 01:26] taless474 commented on #3492
@whedon start review

[2021-07-28 01:26] whedon opened #3543 "[REVIEW]: TidyTensor: Utilities for multidimensional arrays as named hierarchical structures"
**Submitting author:** @oneilsh (<a href="http://orcid.org/0000-0001-6220-7080">Shawn T. O&#39;Neil</a>)
**Repository:** <a href="https://github.com/oneilsh/tidytensor" target ="_blank">https://github.com/oneilsh/tidytensor</a>
**Version:** v1.0.0
**Editor:** @taless474
**Reviewer:** @nhejazi, @omid-s
**Archive:** <a href="https://doi.org/10.5281/zenodo.5555276" target="_blank">10.5281/zenodo.5555

[2021-07-28 01:26] whedon commented on #3492
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3543.

[2021-07-28 01:26] #3492 closed

[2021-07-28 01:26] whedon commented on #3543
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nhejazi, @omid-s it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-07-28 01:26] whedon commented on #3543
Wordcount for `paper.md` is 448

[2021-07-28 01:26] whedon commented on #3543
[code]

[2021-07-28 01:26] whedon commented on #3543
[code]

[2021-07-28 01:26] whedon commented on #3543
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03543/joss.03543/10.21105.joss.03543.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03543/joss.03543/10.21105.joss.03543.pdf) :page_facing_up: :point_left:

[2021-07-28 01:31] taless474 commented on #3543
@oneilsh Would you please add the missing DOI?
(There is a Reference check error two cells above)

[2021-07-28 02:10] taless474 commented on #3465
I made the first review pass at @elwinter's `nnde`. As @hayesall did a great job on creating on-point issues, I went through the functionality check first. Executing this:
[code]
(`--update` does not work the first time), the demo was successful. However, the demos are located in another repository.

I also ran the `tests` and they all pass.
I will test it further after elwinter/nnde#9 is resolved

[2021-07-28 03:25] mwt commented on #3452
That makes the most sense to me given that the issue seems to affect only Windows.

I use an Intel i5 with 6 cores.

[2021-07-28 05:24] tystan commented on #2694
Hi @wesleyburr . I've got some leave and am away camping at the moment sorry but will be back next week. In the meantime, there are some things that are listed to be addressed in my reviewing notes [here](https://github.com/wesleyburr/subMaldi/issues/22#issue-929174183).

[2021-07-28 05:43] mdbartos commented on #3332
Unfortunately, I do not have access to a physical Windows machine right now, although I am in the process of ordering one through my department. I estimate that it should take a week or three.

If you can provide documentation describing how to install/test pyHMT2D on a cloud instance, that could also work.

If you decide to go with another reviewer, that is also OK.

[2021-07-28 08:20] mikldk commented on #3323
@whedon set 10.5281/zenodo.5140349 as archive

[2021-07-28 08:20] whedon commented on #3323
OK. <a href="https://doi.org/10.5281/zenodo.5140349" target="_blank">10.5281/zenodo.5140349</a> is the archive.

[2021-07-28 08:20] mikldk commented on #3323
@whedon set v1.0.0 as version

[2021-07-28 08:20] whedon commented on #3323
OK. v1.0.0 is the version.

[2021-07-28 08:20] mikldk commented on #3323
@whedon check references

[2021-07-28 08:20] whedon commented on #3323
[code]

[2021-07-28 08:20] mikldk commented on #3323
@whedon generate pdf

[2021-07-28 08:21] whedon commented on #3323
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03323/joss.03323/10.21105.joss.03323.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03323/joss.03323/10.21105.joss.03323.pdf) :page_facing_up: :point_left:

[2021-07-28 08:23] raoulcollenteur commented on #3175
Sorry @kthyng , the email indeed helped!

Thanks @cheginit for all the changes to the code, documentation, and the JOSS paper. I have now checked most boxes in the Review form. Just one issue that remains I think, about running the examples after a clean installation.

I checked, and these problems seem to occur because there are no minimum dependencies defined (e.g., numpy > 1.6) for installation

[2021-07-28 08:42] mikldk commented on #3323
@whedon recommend-accept

[2021-07-28 08:42] whedon commented on #3323
[code]

[2021-07-28 08:42] whedon commented on #3323
[code]

[2021-07-28 08:43] whedon commented on #3323
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2485

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2485, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-28 10:21] tsamsonov commented on #3535
Thanks for invitation! The topic is interesting, and I would be glad to review the paper.

[2021-07-28 10:37] ad48 commented on #3348
I've pushed the latest version to pypi now. Running `pip install rejected_article_tracker` will install version 1.5.6, then `python run_sample.py` produces an `output.xlsx` file which demonstrates the process working.

For context:
- The output file actually shows that the tracker fails to find one of the example articles. I thought that was worth leaving in so that users know what a null result l

[2021-07-28 11:00] accon commented on #3203
Hey all, this is Niklas Wulff, co-authoring the publication. Since Eugenio currently is in Mexico, resolving the still standing issues was delayed. Apologies for this, he is now maintainer of the repo. AFAI can see, the only open issue regards the list of dependencies under install instructions right?

[2021-07-28 11:25] professoralkmin commented on #3455
Looks good to me, and I have sure this work presents a genuine academic contribution.

So as reviewer, I recommend acceptance.

[2021-07-28 12:22] danielskatz commented on #2978
@BenMql - it looks like you now have some things to look at, as @robertsawko has just three items left to check off in the review, which I think match the comments above

[2021-07-28 12:22] danielskatz commented on #2978
@rhaas80 - when do you think you will be able to make progress on the remaining items in your review?

[2021-07-28 12:24] danielskatz commented on #3348
👋 @dhimmel - I hope you can now move forward on the remaining items?

[2021-07-28 12:25] danielskatz commented on #3348
👋 @mfenner - Can you remind us what your status is as well?

[2021-07-28 12:40] AlexChristensen commented on #3536
Hi @rkurchin,

Although I am familiar with neural networks, I do not feel I have the expertise to sufficiently evaluate the Python code. My experience is in the application of Python functions, but I have little experience writing Python code.

I appreciate the invitation and look forward to seeing @Saran-nns's result.

[2021-07-28 12:44] mfenner commented on #3348
All my issues have been adequately addressed.

[2021-07-28 12:46] danielskatz commented on #3348
Can you check off the other 4 items in your review then?

[2021-07-28 13:04] lpantano commented on #3457
@whedon check references

[2021-07-28 13:04] whedon commented on #3457
[code]

[2021-07-28 13:11] lpantano commented on #3457
Hi @dridk, At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (m

[2021-07-28 13:18] rosecers commented on #3325
Hey @ArtVoro, I've finally been able to get another look at this and was once again in a tornado of trying to install the package and run the tests.

Comments on installation and testing:
- You have included both a `requirements.txt` and `requirements_python3.6.txt`. You should instead use [environment markers ](https://www.python.org/dev/peps/pep-0508/#environment-markers) to automatically detect

[2021-07-28 13:37] timtroendle commented on #3203
That's correct.

[2021-07-28 14:03] SunilAnandatheertha commented on #3190
@Kevin-Mattheus-Moerman
Hi, I have noted, there were files from some of my other repositories in PXO, which I have removed. I have made a new release V10.1.1 and updated the Zenado accordingly (new DOI:    10.5281/zenodo.5142160), and checked the new repository for dependency errors and it works fine. Could I kindly request you to please use this instead of the older one.

I had updated the paper,

[2021-07-28 14:20] rhaas80 commented on #2978
@danielskatz @BenMql I am hosting a summer school this week, so cannot guarantee much progress before the end of the week, sorry.

[2021-07-28 14:33] Shyentist commented on #3467
Hello @jules32 ,
thank you for your feedback and advice.

- Embedding the handbook in the app was planned a couple of days after my submission, when I saw another app doing the same with its own instructions. I was waiting for the review process to end before doing that. Definitely to-do.
- Also, I am aware of the scarcity of comments in the code. Improving that is also definitely in the to-do lis

[2021-07-28 15:38] Kevin-Mattheus-Moerman commented on #3190
@whedon set version as V10.1.1

[2021-07-28 15:38] whedon commented on #3190
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-28 15:39] Kevin-Mattheus-Moerman commented on #3190
@whedon set V10.1.1 as version

[2021-07-28 15:39] whedon commented on #3190
OK. V10.1.1 is the version.

[2021-07-28 15:39] Kevin-Mattheus-Moerman commented on #3190
@whedon generate pdf

[2021-07-28 15:39] whedon commented on #3190
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: :point_left:

[2021-07-28 15:40] Kevin-Mattheus-Moerman commented on #3190
@whedon set 10.5281/zenodo.5142160 as archive

[2021-07-28 15:40] whedon commented on #3190
OK. <a href="https://doi.org/10.5281/zenodo.5142160" target="_blank">10.5281/zenodo.5142160</a> is the archive.

[2021-07-28 15:45] SunilAnandatheertha commented on #3190
@Kevin-Mattheus-Moerman  Thank you. I am not able to tick the checkboxes.

[2021-07-28 15:47] Kevin-Mattheus-Moerman commented on #3190
@SunilAnandatheertha that is okay, I'll check them when ready. Note they remain unchecked now since those steps appear not to have been changed in the latest paper. I repeat them again below:

- [ ] Check `softwares` this should read `software`
- [ ] The acronym `FEA` is not explained please fix or avoid its use. Again it is also used in full as `finite element analysis`, after its first use so pl

[2021-07-28 15:54] SunilAnandatheertha commented on #3190
@Kevin-Mattheus-Moerman Thank you for this. I have updated it.

@whedon generate pdf

[2021-07-28 16:04] Kevin-Mattheus-Moerman commented on #3190
@whedon generate pdf

[2021-07-28 16:04] whedon commented on #3190
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: :point_left:

[2021-07-28 16:08] ngoiz commented on #3399
Hello,

I have now gone through the review process for `pyFBS`.

First, let me congratulate you for the tool, it is simple to use, provides great functionality and is technically very complete. In particular, let me praise the quality of the example jupyter notebooks and the effort that has gone into creating those. For a new user to the code, they are immensely helpful.

As part of my review, I o

[2021-07-28 16:38] rkurchin commented on #3536
Hi @janfreyberg, would you be willing to review this submission to JOSS?

JOSS publishes articles about open source research software. It is a free, open-source, community driven and developer-friendly online journal (no publisher is seeking to raise revenue from the volunteer labor of researchers!). The review process at JOSS is unique: it takes place in a GitHub issue, is open, and author-review

[2021-07-28 16:42] rkurchin commented on #3443
@mikapfl, you still game to take this one? It seems Christopher can cover the Rietveld-specific stuff, and I think your broader perspective could be helpful. I'll wait for a confirmation from you that it's still okay.

[2021-07-28 16:43] rkurchin commented on #3443
@fgjorup, we should be close to having two reviewers and being ready to move this to the review stage, if you could resolve this so that we can build a proof, that would be great!

[2021-07-28 17:14] kellyrowland commented on #3419
Hello @mikaem @Himscipy - would either of you be available and willing to review this for JOSS? It looks like both of you may have ongoing JOSS reviews, so no worries about declining this.

[2021-07-28 17:30] oneilsh commented on #3543
@taless474 done :) (I think)

[2021-07-28 17:55] kyleniemeyer commented on #3323
Looks good to me!

[2021-07-28 17:55] kyleniemeyer commented on #3323
@whedon accept deposit=true

[2021-07-28 17:55] whedon commented on #3323
[code]

[2021-07-28 17:56] whedon commented on #3323
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1420442963923120134) 👈 🐦🐦🐦

[2021-07-28 17:56] whedon commented on #3323
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2486
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03323](https://doi.org/10.21105/joss.03323)
2. If everything look

[2021-07-28 18:06] janfreyberg commented on #3536
Hi @rkurchin, I'd be glad to, looking forward to it

[2021-07-28 18:12] bshoshany commented on #3416
Hi @amelialdrew,

Thanks so much for reviewing my package and for your very helpful comments! Here are my replies:

* Unfortunately I do not have any examples of this code being used in research yet, except for my own research. The package is only a few months old and it will probably take some time before people who are using it produce any papers with it. However, it is currently being used by b

[2021-07-28 18:17] kyleniemeyer commented on #3323
Congratulations  @annajenul on your article's publication in JOSS!

Many thanks to @maximtrp and @arunmano121 for reviewing this, and @mikldk for editing.

[2021-07-28 18:17] #3323 closed

[2021-07-28 18:17] whedon commented on #3323
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03323/status.svg)](https://doi.org/10.21105/joss.03323)

**We need your help!**

Journal of Open Source Softwa

[2021-07-28 18:36] taless474 commented on #3543
@whedon check references

[2021-07-28 18:36] whedon commented on #3543
[code]

[2021-07-28 19:56] beniroquai commented on #3394
@Kevin-Mattheus-Moerman I have also finished my test on including external hardware successfully. Very neat software!

[2021-07-28 20:51] ptmerz commented on #3423
Hi @danielskatz and @arfon,

Apologies for the late reply, I am just returning from vacation. I will resubmit later this week, unless this can be reopened.

[2021-07-28 20:56] danielskatz commented on #3423
Please resubmit, taking into account the comments in this issue.  Specifically
- Discuss the relationship between this submission and your previous paper about this software - https://doi.org/10.1371/journal.pone.0202764
- Fix the citations as mentioned in https://github.com/openjournals/joss-reviews/issues/3423#issuecomment-869123580
- Mention this issue (`https://github.com/openjournals/joss-rev

[2021-07-28 21:26] Himscipy commented on #3419
👋🏼  @kellyrowland,
I am available to review this JOSS submission. Thank you for reaching out.

[2021-07-28 21:29] Himscipy commented on #3428
@kyleniemeyer, I am unable to check mark the actions in the reviewers checklist.

[2021-07-28 21:45] danielskatz commented on #3428
@whedon re-invite @Himscipy as reviewer

[2021-07-28 21:45] whedon commented on #3428
The reviewer already has a pending invite.

@himscipy please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-28 21:46] bshoshany commented on #3291
Hi @gkthiruvathukal and @zeroset,

I updated the `paper` branch to v1.8 with a few small changes and bug fixes, including an additional line in `paper.md` to indicate that `submit()` now forward exceptions from tasks.

I have not yet received a reply from either of you to my comment from about a month ago. Are you able to proceed with the review without the unit tests, which I will prepare as soon

[2021-07-28 23:03] kellyrowland commented on #3419
Wonderful, thank you! I will assign you as a reviewer on the issue shortly.

[2021-07-28 23:04] kellyrowland commented on #3419
@whedon remove @csadorf as reviewer

[2021-07-28 23:04] whedon commented on #3419
OK, @csadorf is no longer a reviewer

[2021-07-28 23:05] kellyrowland commented on #3419
Hi @csadorf - I've removed you as a reviewer here to avoid the COI. Thank you again for bringing that to my attention.

[2021-07-28 23:05] kellyrowland commented on #3419
@whedon add @Himscipy as reviewer

[2021-07-28 23:05] whedon commented on #3419
OK, @Himscipy is now a reviewer

[2021-07-28 23:37] cheginit commented on #3175
@raoulcollenteur Thanks for the feedback, it's a good idea. I added minimum versions as you suggested, hopefully it will resolve the issue.

Some of the example won't work since two of the web services that I am using are having technical issues that their developers are working on to fix. I have already open two issues (cheginit/pynhd#17 and cheginit/pygeohydro#51) to update the status of those w

[2021-07-29 00:23] ArtVoro commented on #3325
Hi @rosecers. Ill adress your points one by one

Comments on installation and testing:
- i did merge both requirements files into one and added the environment markers as you suggested. i expect people to use the setup.py however and just refer to requirements.txt to look up which versions were used as a stable version (but maybe thats just my own thinking).
- i catched some versions which were de

[2021-07-29 00:38] psu-efd commented on #3332
Again, thanks for your time and effort.

For the use in cloud computing, I am not sure whether you have used AWS, Azure, or Google Cloud. Basically, you need to start a Windows instance (try the free ones) and then remote desktop to the instance. After that, it is the same as your own Windows computer. You can install whatever you like.

From: Matt Bartos ***@***.***>
Sent: Wednesday, July 28, 202

[2021-07-29 00:40] rkurchin commented on #3536
Hi @janfb, would you be willing to review this submission to JOSS?

JOSS publishes articles about open source research software. It is a free, open-source, community driven and developer-friendly online journal (no publisher is seeking to raise revenue from the volunteer labor of researchers!). The review process at JOSS is unique: it takes place in a GitHub issue, is open, and author-reviewer-edi

[2021-07-29 01:46] Eugenio2192 commented on #3203
The dependencies have been listed in the environment.yml (for conda users) and requirements.txt (for pip users). The installation instructions were refactored to be more clear including instructions referring to jupyter notebooks. The issues raised by @milicag in the repository including his suggestion to handle the CEPCI data.

Let us know if there is anything else to be handled.

[2021-07-29 02:37] gkthiruvathukal commented on #3291
@bshoshany  I would be able to live without unit tests as long as there are some clear examples that can demonstrate the entire API is working properly and the expected outputs being produced.

[2021-07-29 02:49] bshoshany commented on #3291
@gkthiruvathukal sounds fair! I will collect all the examples from `README.md` into one `.cpp` file that you can execute once to test every single aspect of the library. I'll let you know when I've uploaded it. Thanks again!

[2021-07-29 02:54] gkthiruvathukal commented on #3291
@bshoshany Consider the possibility of having separate test programs that show how to use various aspects of the library.  I always like concise examples that serve the dual purpose of performing tests and doing proper documentation. But you can also have an all-in-one driver (perhaps a script) that runs the various examples and ensures they perform the expected mission!

[2021-07-29 03:22] bshoshany commented on #3291
@gkthiruvathukal If it's okay with you, it would be easier for me, for now, to have one source file that runs all the examples instead of separate source files executed one by one via a script - the end result will be the same.

The only caveat is that they're only **examples** and not **automated tests**, so in order to see if they work or not, you will have to look at the output and compare it w

[2021-07-29 03:28] gkthiruvathukal commented on #3291
@bshoshany I know. Concurrency testing is hard. I think this is not a problem. Proceed!

[2021-07-29 03:50] bshoshany commented on #3291
@gkthiruvathukal Will do! :)

[2021-07-29 07:41] csadorf commented on #3419
Got it. Happy to review other submissions in the future!

[2021-07-29 07:55] mikapfl commented on #3443
@rkurchin Sure, I would be happy to do a review!

[2021-07-29 08:20] pfistfl commented on #3453
@whedon generate pdf

[2021-07-29 08:20] whedon commented on #3453
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03453/joss.03453/10.21105.joss.03453.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03453/joss.03453/10.21105.joss.03453.pdf) :page_facing_up: :point_left:

[2021-07-29 08:20] pfistfl commented on #3453
Thanks a lot for the PR, I think I have addressed everything.

[2021-07-29 08:45] fgjorup commented on #3443
@rkurchin I believe I have fixed the issue, though I may have missed something? I'm currently out of office, but I'll do my best to help remotely.

________________________________
From: Rachel Kurchin ***@***.***>
Sent: Wednesday, July 28, 2021, 18:44
To: openjournals/joss-reviews
Cc: Frederik Holm Gjørup; Mention
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: Reel1.0 - A visualization to

[2021-07-29 09:24] csoneson commented on #3362
👋🏻 @jeffreybarrick - just checking in. Let us know if you have any questions about the reviews provided above!

[2021-07-29 09:27] csoneson commented on #3392
👋🏻 Just wanted to check that things are on track here (I'm assuming things are moving along since there are recent activities in the package repo) - let me know if you have any questions.

[2021-07-29 09:28] dridk commented on #3457
- Tag Release:
https://github.com/labsquare/CutePeaks/releases/tag/0.2.3
- Zenodo :
https://zenodo.org/record/5145153#.YQJ0i346_RY
- DOI
10.5281/zenodo.5145153

[2021-07-29 09:35] VivianePons commented on #3416
/ooo July 30 until August 22

[2021-07-29 09:37] dridk commented on #3457
@whedon generate pdf

[2021-07-29 09:37] whedon commented on #3457
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03457/joss.03457/10.21105.joss.03457.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03457/joss.03457/10.21105.joss.03457.pdf) :page_facing_up: :point_left:

[2021-07-29 09:38] chennachaos commented on #3020
Hi @diehlpk. I managed to install all the dependencies using the commands you provided. Thanks!

I encountered some errors while building the NLMech library. The error is due to CMake being unable to find the path to the HPX library/package.
How can I fix this?

[2021-07-29 09:41] VivianePons commented on #3416
Dear all, I'm glad to see that the review is going on. I'll be on leave for the next 3 weeks. We'll see where we're at when I come back! Have a nice summer

[2021-07-29 09:45] VivianePons commented on #3454
Thanks @dawbarton no rush, I just like to know things are still on track. I'll be on leave myself for the next 3 weeks. Have a nice summer

[2021-07-29 09:47] VivianePons commented on #2954
I understand, let me know when you are done. I'll be on leave myselst for the next 3 weeks and I can process things when I come back.

Best

Viviane

[2021-07-29 10:25] Kevin-Mattheus-Moerman commented on #3190
@whedon recommend-accept

[2021-07-29 10:25] whedon commented on #3190
[code]

[2021-07-29 10:25] whedon commented on #3190
[code]

[2021-07-29 10:25] whedon commented on #3190
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2487

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2487, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-29 10:28] Kevin-Mattheus-Moerman commented on #3190
@whedon accept deposit=true

[2021-07-29 10:28] whedon commented on #3190
[code]

[2021-07-29 10:29] whedon commented on #3190
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1420692898115473409) 👈 🐦🐦🐦

[2021-07-29 10:29] whedon commented on #3190
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2488
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03190](https://doi.org/10.21105/joss.03190)
2. If everything look

[2021-07-29 10:29] Kevin-Mattheus-Moerman commented on #3190
Congratulations on your accepted paper @SunilAnandatheertha (sunil anandatheertha) :tada:

Thank you @yangbai90, @ksyang2013, @littlelazy6 for reviewing this work! We really appreciate your help!!

[2021-07-29 10:30] #3190 closed

[2021-07-29 10:30] whedon commented on #3190
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03190/status.svg)](https://doi.org/10.21105/joss.03190)

**We need your help!**

Journal of Open Source Softwa

[2021-07-29 10:37] SunilAnandatheertha commented on #3190
@Kevin-Mattheus-Moerman and the entire JOSS team: JOSS is a very good initiative. Thank you for this platform. Thank you also for considering the work in your journal. I am happy to see the acceptance. @ksyang2013 @yangbai90 @littlelazy6 Thank you so much for your review comments, they have been really helpful. Thank you all.

[2021-07-29 10:53] janfb commented on #3536
Hi @rkurchin yes I'd be happy to review

[2021-07-29 11:34] felixchenier commented on #3343
Good morning @kthyng

I don't know if this is standard since I this is my first submission to JOSS, but my manuscript has been in pre-review for nearly 2 months and I couldn't receive news from the editor (@meg-simula).

If this is standard or to be expected during this pandemic summer, please disregard this message.

Thank you and best regards,

Félix Chénier

[2021-07-29 12:16] elbeejay commented on #3535
Thank you both, we will begin the review now.

[2021-07-29 12:17] elbeejay commented on #3535
@whedon add @cole-brokamp as reviewer

[2021-07-29 12:17] whedon commented on #3535
OK, @cole-brokamp is now a reviewer

[2021-07-29 12:17] elbeejay commented on #3535
@whedon add @tsamsonov as reviewer

[2021-07-29 12:17] whedon commented on #3535
OK, @tsamsonov is now a reviewer

[2021-07-29 12:17] elbeejay commented on #3535
@whedon start review

[2021-07-29 12:17] whedon opened #3544 "[REVIEW]: tidygeocoder: An R package for geocoding"
**Submitting author:** @jessecambon (<a href="http://orcid.org/0000-0001-6854-1514">Jesse Cambon</a>)
**Repository:** <a href="https://github.com/jessecambon/tidygeocoder" target ="_blank">https://github.com/jessecambon/tidygeocoder</a>
**Version:** v1.0.3
**Editor:** @elbeejay
**Reviewer:** @cole-brokamp, @tsamsonov
**Archive:** <a href="https://doi.org/10.5281/zenodo.4686074" target="_blank">10.

[2021-07-29 12:17] whedon commented on #3535
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3544.

[2021-07-29 12:17] #3535 closed

[2021-07-29 12:17] whedon commented on #3544
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cole-brokamp, @tsamsonov it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-07-29 12:18] whedon commented on #3544
PDF failed to compile for issue #3544 with the following error:
[code]

[2021-07-29 12:18] whedon commented on #3544
[code]

[2021-07-29 12:19] elbeejay commented on #3544
@cole-brokamp and @tsamsonov thanks for agreeing to review this submission to JOSS. We are currently asking reviewers to try and complete their reviews in 6 weeks.

The JOSS review process is entirely open and transparent, and takes place on GitHub. Review comments can be made as issues in the tidygeocoder repository, please link this review issue when doing so (paste `https://github.com/openjourn

[2021-07-29 12:26] whedon commented on #3495
:wave: @steo85it, please update us on how your review is going (this is an automated reminder).

[2021-07-29 12:26] whedon commented on #3495
:wave: @malmans2, please update us on how your review is going (this is an automated reminder).

[2021-07-29 12:40] elbeejay commented on #3544
@whedon generate pdf from branch joss

[2021-07-29 12:40] whedon commented on #3544
[code]

[2021-07-29 12:40] whedon commented on #3544
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03544/joss.03544/10.21105.joss.03544.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03544/joss.03544/10.21105.joss.03544.pdf) :page_facing_up: :point_left:

[2021-07-29 13:00] elbeejay commented on #3544
@whedon check references from branch joss

[2021-07-29 13:00] whedon commented on #3544
[code]

[2021-07-29 13:01] whedon commented on #3544
[code]

[2021-07-29 13:20] mfenner commented on #3348
Done. Let me know if there is anything else you need from me.

[2021-07-29 13:23] danielskatz commented on #3348
Thanks @mfenner - I'll assume from this and your messages that you are good with this going forward to acceptance.

[2021-07-29 13:27] WesIngwersen commented on #3392
Hi @csoneson. Yes, we are still working on improvements. The reviewers helped us identify some potential installation and use issues related to different OS, Python and dependent package versions and we're working to resolve those.

[2021-07-29 13:29] mfenner commented on #3348
Yes, the authors have addressed all my questions and I am good with accepting the manuscript.

[2021-07-29 14:34] rkurchin commented on #3536
@whedon assign @janfb as reviewer

[2021-07-29 14:34] whedon commented on #3536
OK, @janfb is now a reviewer

[2021-07-29 14:34] rkurchin commented on #3536
@whedon assign @janfreyberg as reviewer

[2021-07-29 14:34] whedon commented on #3536
OK, @janfreyberg is now a reviewer

[2021-07-29 14:35] rkurchin commented on #3536
@whedon add @janfb as reviewer

[2021-07-29 14:35] whedon commented on #3536
OK, @janfb is now a reviewer

[2021-07-29 14:36] rkurchin commented on #3536
@whedon start review

[2021-07-29 14:36] whedon opened #3545 "[REVIEW]: sorn: A Python package for Self Organizing Recurrent Neural Network"
**Submitting author:** @saran-nns (<a href="http://orcid.org/0000-0002-7314-0261">Saranraj Nambusubramaniyan</a>)
**Repository:** <a href="https://github.com/Saran-nns/sorn/" target ="_blank">https://github.com/Saran-nns/sorn/</a>
**Version:** v0.6.2-beta
**Editor:** @rkurchin
**Reviewer:** @janfreyberg, @janfb
**Archive:** <a href="https://doi.org/10.5281/zenodo.5496017" target="_blank">10.5281/z

[2021-07-29 14:36] whedon commented on #3536
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3545.

[2021-07-29 14:36] #3536 closed

[2021-07-29 14:36] whedon commented on #3545
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @janfreyberg, @janfb it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-07-29 14:36] whedon commented on #3545
Wordcount for `paper.md` is 1644

[2021-07-29 14:36] whedon commented on #3545
[code]

[2021-07-29 14:36] whedon commented on #3545
[code]

[2021-07-29 14:36] rkurchin commented on #3443
@whedon add mikapfl as reviewer

[2021-07-29 14:36] whedon commented on #3545
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: :point_left:

[2021-07-29 14:36] whedon commented on #3443
OK, mikapfl is now a reviewer

[2021-07-29 14:36] rkurchin commented on #3443
@whedon generate pdf from branch JOSS-submission

[2021-07-29 14:36] whedon commented on #3443
[code]

[2021-07-29 14:37] whedon commented on #3443
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03443/joss.03443/10.21105.joss.03443.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03443/joss.03443/10.21105.joss.03443.pdf) :page_facing_up: :point_left:

[2021-07-29 14:37] rkurchin commented on #3443
@whedon start review

[2021-07-29 14:37] whedon opened #3546 "[REVIEW]: Reel1.0 - A visualization tool for evaluating powder diffraction refinements"
**Submitting author:** @fgjorup (<a href="http://orcid.org/0000-0003-3902-0247">Frederik Holm Gjørup</a>)
**Repository:** <a href="https://github.com/fgjorup/Reel/" target ="_blank">https://github.com/fgjorup/Reel/</a>
**Version:** v1.2.0
**Editor:** @rkurchin
**Reviewer:** @cmbiwer, @mikapfl
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.16817929" target="_blank">10.6084/m9.figshare.16

[2021-07-29 14:37] whedon commented on #3443
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3546.

[2021-07-29 14:37] #3443 closed

[2021-07-29 14:37] whedon commented on #3546
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cmbiwer, @mikapfl it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-07-29 14:37] whedon commented on #3546
[code]

[2021-07-29 14:37] whedon commented on #3546
PDF failed to compile for issue #3546 with the following error:
[code]

[2021-07-29 14:41] kthyng commented on #3175
Thanks everyone. As an update I did also ping @evanleeturner and he is on vacation for a couple of weeks so that review will have to wait. Thanks for your patience.

[2021-07-29 14:43] kthyng commented on #3319
Thanks for the suggestion @gonzalobravoargentina.

@diodon — Are you interested in reviewing this submission for JOSS, the Journal of Open Source Software? This is an open review which takes place on github with issues. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would hope you could start the review in the next few weeks with the in

[2021-07-29 14:54] whedon commented on #3496
:wave: @jacobsoj, please update us on how your review is going (this is an automated reminder).

[2021-07-29 14:54] whedon commented on #3496
:wave: @ha0ye, please update us on how your review is going (this is an automated reminder).

[2021-07-29 14:55] whedon commented on #3497
:wave: @ziotom78, please update us on how your review is going (this is an automated reminder).

[2021-07-29 14:55] whedon commented on #3497
:wave: @eschnett, please update us on how your review is going (this is an automated reminder).

[2021-07-29 15:15] mikapfl commented on #3546
@fgjorup Could you describe how your co-authors contributed to the work? The git history doesn't show contributions from other people than you, but git histories of course only show one side of a larger work.

[2021-07-29 15:19] fboehm commented on #3393
@whedon generate pdf

[2021-07-29 15:20] whedon commented on #3393
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03393/joss.03393/10.21105.joss.03393.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03393/joss.03393/10.21105.joss.03393.pdf) :page_facing_up: :point_left:

[2021-07-29 15:31] bshoshany commented on #3416
Have a great summer @VivianePons!

[2021-07-29 15:32] fboehm commented on #3393
One minor fix is needed:

line 34: "and the *plotmm* package". Need to add the word "and".

[2021-07-29 15:32] fboehm commented on #3393
@whedon check references

[2021-07-29 15:33] whedon commented on #3393
[code]

[2021-07-29 15:34] fboehm commented on #3393
I confirmed that the dois resolve to the cited works.

[2021-07-29 15:36] fboehm commented on #3393
@strengejacke - Please create a new release of the software and an archive. Please report in this comment thread the doi of the archive and the version number of the new release. Thanks!

PS - when creating the archive, be sure to specify the title as in your paper. Also, be sure to include the authors in the same order when creating the archive.

[2021-07-29 15:37] fboehm commented on #3393
I should say that the instructions in the above comment are steps to take after making the minor fix that I suggest above - adding the word "and" in line 34.

[2021-07-29 15:37] diehlpk commented on #3020
@chennachaos I added a new script

./build-all.sh Release without-gcc nl

and you should please use this script to compile the code. This script will set the path to all installed libraries using the previous scripts.

[2021-07-29 15:39] IndrajeetPatil commented on #3393
Thanks, corrected.

[2021-07-29 15:40] janfreyberg opened #3547 "License: Does the repository contain a plain-text LICENSE file with the contents of an OSI approved software license?"

[2021-07-29 15:40] whedon commented on #3547
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-29 15:40] whedon commented on #3547
PDF failed to compile for issue #3547 with the following error:
[code]

[2021-07-29 15:40] whedon commented on #3547
Downloading of the repository (to analyze the language) for issue #3547 failed with the following error:
[code]

[2021-07-29 15:40] whedon commented on #3547
Downloading of the repository (to check the bibtex) failed for issue #3547 failed with the following error:
[code]

[2021-07-29 15:40] janfreyberg commented on #3547
Apologies, I accidentally clicked "Convert to issue" on a checkmark!

[2021-07-29 15:40] #3547 closed

[2021-07-29 15:47] IndrajeetPatil commented on #3393
@whedon generate pdf

[2021-07-29 15:48] whedon commented on #3393
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03393/joss.03393/10.21105.joss.03393.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03393/joss.03393/10.21105.joss.03393.pdf) :page_facing_up: :point_left:

[2021-07-29 15:53] Himscipy commented on #3428
@danielskatz,
I clicked the link but it say's the invitation has expired.

[2021-07-29 15:59] danielskatz commented on #3428
@whedon re-invite @Himscipy as reviewer
let's try again

[2021-07-29 15:59] whedon commented on #3428
OK, the reviewer has been re-invited.

@himscipy please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-29 15:59] danielskatz commented on #3428
@whedon re-invite @Himscipy as reviewer

[2021-07-29 15:59] whedon commented on #3428
The reviewer already has a pending invite.

@himscipy please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-29 16:35] chennachaos commented on #3020
I pulled the new file. I am getting the same error even with **./build-all.sh Release without-gcc nl**.

[2021-07-29 16:57] rkurchin commented on #3546
@whedon generate pdf from branch JOSS-submission

[2021-07-29 16:58] whedon commented on #3546
[code]

[2021-07-29 16:58] whedon commented on #3546
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03546/joss.03546/10.21105.joss.03546.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03546/joss.03546/10.21105.joss.03546.pdf) :page_facing_up: :point_left:

[2021-07-29 17:13] wsavran commented on #3507
@kbarnhart thanks! i look forward to hearing back from the reviewers!

[2021-07-29 17:42] cwentland0 commented on #3428
@kyleniemeyer A question, since I'm unfamiliar with software journal reviews in general, especially so when I first submitted this back in April. There have been some significant changes to the code in a couple branches that will soon be merged, including general expansions of capabilities and some class names which were explicitly mentioned in the paper. Should I update the paper to reflect these

[2021-07-29 17:48] kyleniemeyer commented on #3428
@cwentland0 good question - this is always tough when software continues to evolve while under review. Minor edits to the paper are fine, especially if you summarize the changes in here for us.

Larger edits to the software, that change capabilities and would essentially require a re-review, should probably wait, so that the version mentioned with a JOSS article is actually the version reviewed.

[2021-07-29 17:59] cwentland0 commented on #3428
Maybe "significant changes" was a little overblown on my part. To be more specific, the changes will add two more classes of ROM methods, which would amount to adding two more sub-bullet points under the current "ROMs" bullet point on page 3. Would you consider that a larger edit?

[2021-07-29 18:14] kyleniemeyer commented on #3428
@cwentland0 that sounds ok to me

[2021-07-29 18:15] cwentland0 commented on #3428
Great, thanks for the help!

[2021-07-29 18:27] whedon commented on #3500
:wave: @MartinK84, please update us on how your review is going (this is an automated reminder).

[2021-07-29 18:27] whedon commented on #3500
:wave: @uecker , please update us on how your review is going (this is an automated reminder).

[2021-07-29 18:48] strengejacke commented on #3393
@fboehm Thanks! I have created a new release from the latest version, including the final fixes you suggested for the paper:
https://github.com/easystats/see/releases/tag/0.6.5

This release is also archived on zenodo, DOI: 10.5281/zenodo.5146411

[2021-07-29 20:58] EricaEgg commented on #3460
Hi,

So sorry for the delay. I need a new invitation to the repository. My link
seems to have expired.

Thanks,

Erica

On Thu, Jul 22, 2021 at 1:48 AM whedon ***@***.***> wrote:

--
*Erica Eggleton*
she/her/hers
PhD Candidate
Schwartz Research Group <https://uwemilab.github.io/>
Department of Chemical Engineering <https://www.cheme.washington.edu/>
University of Washington

[2021-07-29 21:04] danielskatz commented on #3460
@whedon re-invite @EricaEgg as reviewer

[2021-07-29 21:04] whedon commented on #3460
OK, the reviewer has been re-invited.

@ericaegg please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-29 21:26] seba-1511 commented on #3424
@rusu24edward Thanks for the update.

Re related works: Thanks for the detailed answer. I think it's fine to keep the paper mostly as-is but since some of the above works also implement RL tasks I think they are worth mentioning, if only to highlight the need for Abmarl's simulation interface. This could be just 2-3 sentences, no need for a detailed comparison as above.

Re installation issues: Ch

[2021-07-29 22:15] whedon opened #3548 "[PRE REVIEW]: bmm: Bayesian Map-matching"
**Submitting author:** @SamDuffield (<a href="http://orcid.org/0000-0002-8656-8734">Samuel Duffield</a>)
**Repository:** <a href="https://github.com/SamDuffield/bmm" target ="_blank">https://github.com/SamDuffield/bmm</a>
**Version:** v1.1
**Editor:** @taless474
**Reviewers:** @georgiastuart, @matt-graham
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-07-29 22:15] whedon commented on #3548
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-29 22:15] whedon commented on #3548
Wordcount for `paper.md` is 344

[2021-07-29 22:15] whedon commented on #3548
[code]

[2021-07-29 22:15] whedon commented on #3548
[code]

[2021-07-29 22:15] whedon commented on #3548
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03548/joss.03548/10.21105.joss.03548.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03548/joss.03548/10.21105.joss.03548.pdf) :page_facing_up: :point_left:

[2021-07-29 22:21] kyleniemeyer commented on #3548
Hi @SamDuffield, thanks for your interest in JOSS. We don't have any editors in this area with availability right now, so your submission will be placed in our waitlist until someone opens up.

In the meantime, your article is *extremely* short. Although JOSS articles are indeed short, we typically expect 250-1000 words—I would not usually count the Acknowledgments section, which is around the sam

[2021-07-29 22:31] whedon opened #3549 "[PRE REVIEW]: cerf: A Python package to evaluate the feasibility and costs of power plant siting for alternate futures"
**Submitting author:** @crvernon (<a href="http://orcid.org/0000-0002-3406-6214">Chris Vernon</a>)
**Repository:** <a href="https://github.com/IMMM-SFA/cerf" target ="_blank">https://github.com/IMMM-SFA/cerf</a>
**Version:** v2.0.0
**Editor:** @fraukewiese
**Reviewers:** @lisazeyen , @willu47
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-07-29 22:31] whedon commented on #3549
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-29 22:31] whedon commented on #3549
Wordcount for `paper.md` is 1163

[2021-07-29 22:32] whedon commented on #3549
[code]

[2021-07-29 22:32] whedon commented on #3549
[code]

[2021-07-29 22:32] whedon commented on #3549
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03549/joss.03549/10.21105.joss.03549.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03549/joss.03549/10.21105.joss.03549.pdf) :page_facing_up: :point_left:

[2021-07-29 22:42] kyleniemeyer commented on #3549
Hi @crvernon, thanks for your submission to JOSS! We do not have an editor available in this area right now, so I'm going to put your submission on our waitlist until someone opens up.

In the meantime, could you resolve that DOI error mentioned above?

[2021-07-29 22:48] whedon opened #3550 "[PRE REVIEW]: TraViA: a Traffic data Visualization and Annotation tool in Python"
**Submitting author:** @OlgerSiebinga (<a href="http://orcid.org/0000-0002-5614-1262">Olger Siebinga</a>)
**Repository:** <a href="https://github.com/tud-hri/travia" target ="_blank">https://github.com/tud-hri/travia</a>
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewers:** @rusu24edward, @tomalrussell
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-07-29 22:48] whedon commented on #3550
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-29 22:48] whedon commented on #3550
Wordcount for `paper.md` is 976

[2021-07-29 22:48] whedon commented on #3550
[code]

[2021-07-29 22:48] whedon commented on #3550
[code]

[2021-07-29 22:49] whedon commented on #3550
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03550/joss.03550/10.21105.joss.03550.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03550/joss.03550/10.21105.joss.03550.pdf) :page_facing_up: :point_left:

[2021-07-29 22:50] kyleniemeyer commented on #3550
Hi @OlgerSiebinga, thanks for your interest in JOSS!

Visualization-only software does not always meet our requirements for research software be in scope (based [our definition](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software)), so I'm going to send this out to the editorial board for a scope check, before we move forward.

[2021-07-29 22:50] kyleniemeyer commented on #3550
@whedon query scope

[2021-07-29 22:50] whedon commented on #3550
Submission flagged for editorial review.

[2021-07-29 22:51] whedon opened #3551 "[PRE REVIEW]: Mandyoc: A finite element code to simulate thermochemical convection in parallel"
**Submitting author:** @victorsacek (<a href="http://orcid.org/0000-0001-9598-5081">Victor Sacek</a>)
**Repository:** <a href="https://github.com/ggciag/mandyoc" target ="_blank">https://github.com/ggciag/mandyoc</a>
**Version:** v0.1.1
**Editor:** @jedbrown
**Reviewers:** @rbeucher
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2021-07-29 22:51] whedon commented on #3551
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-29 22:51] whedon commented on #3551
Wordcount for `paper.md` is 817

[2021-07-29 22:51] whedon commented on #3551
[code]

[2021-07-29 22:51] whedon commented on #3551
[code]

[2021-07-29 22:51] whedon commented on #3551
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03551/joss.03551/10.21105.joss.03551.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03551/joss.03551/10.21105.joss.03551.pdf) :page_facing_up: :point_left:

[2021-07-29 22:54] kyleniemeyer commented on #3551
@victorsacek thanks for your interest in JOSS! Our editors in this area are at capacity right now, so I'm going to place this on our waitlist until someone becomes available.

[2021-07-29 22:54] kyleniemeyer commented on #3551
@jedbrown I think you are at editing capacity right now, but wanted to give you a heads-up: this looks to be right in your wheelhouse.

[2021-07-29 22:55] whedon opened #3552 "[PRE REVIEW]: Octo-Tiger: a fully 3D adaptive multigrid astrophysics code accelerated using the asynchronous many-task runtime HPX"
**Submitting author:** @dmarce1 (<a href="http://orcid.org/0000-0002-2782-315X">Dominic Marcello</a>)
**Repository:** <a href="https://github.com/STEllAR-GROUP/octotiger/" target ="_blank">https://github.com/STEllAR-GROUP/octotiger/</a>
**Version:** 1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-07-29 22:55] whedon commented on #3552
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-29 22:56] whedon commented on #3552
PDF failed to compile for issue #3552 with the following error:
[code]

[2021-07-29 22:56] whedon commented on #3552
[code]

[2021-07-29 22:59] kyleniemeyer commented on #3552
Hello @dmarce1, thanks for your submission to JOSS. It looks like whedon cannot find your paper—is it in a branch?

Also, I noticed in your submission notes that you have recently published a methods paper on this software. I assume this is https://doi.org/10.1093/mnras/stab937.

Since that article is entirely about the software as well, publishing in JOSS would constitute duplicate publication ab

[2021-07-29 23:10] diodon commented on #3319
Hi @kthyng, thank you for the invitation. I'm quite busy the next 2-3 weeks but after I can review the paper. I'm quite familiar with the oce package so I will be glad to look at the submission. If the proposed time frame is good for you, then I can do it.
Cheers, EKS

[2021-07-30 00:00] kyleniemeyer commented on #3549
@whedon invite @fraukewiese as editor

Hi @fraukewiese, I think you are still out for a few more days, but this looks like it might be a good submission for you!

[2021-07-30 00:00] whedon commented on #3549
@fraukewiese has been invited to edit this submission.

[2021-07-30 00:01] kyleniemeyer commented on #3503
@whedon invite  @cMadan as editor

Hi @cMadan, could you edit this submission?

[2021-07-30 00:03] kyleniemeyer commented on #3450
Thanks @diehlpk!

[2021-07-30 00:03] kyleniemeyer commented on #3450
@whedon assign @diehlpk as editor

[2021-07-30 00:03] whedon commented on #3450
OK, the editor is @diehlpk

[2021-07-30 00:05] emdupre commented on #3500
Hi @uecker @MartinK84 !

I know we're expecting a slightly longer review period, here, so just to flag that this is still moving forward as expected. But please do let me know if you are having any difficulties in your review process !

[2021-07-30 00:06] kyleniemeyer commented on #3530
@whedon invite @dpsanders as editor

Hi @dpsanders, could you edit this?

[2021-07-30 00:06] whedon commented on #3530
@dpsanders has been invited to edit this submission.

[2021-07-30 00:09] whedon opened #3553 "[PRE REVIEW]: R-Opitools – An Opinion Analytical Tool for Big Digital Text Document (DTD)"
**Submitting author:** @MAnalytics (<a href="http://orcid.org/0000-0002-9006-4934">Monsuru Adepeju</a>)
**Repository:** <a href="https://github.com/MAnalytics/opitools" target ="_blank">https://github.com/MAnalytics/opitools</a>
**Version:** v1.8.0
**Editor:** @ajstewartlang
**Reviewers:** @cjbarrie, @justinchuntingho
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:

[2021-07-30 00:09] whedon commented on #3553
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-30 00:09] whedon commented on #3553
Wordcount for `paper.md` is 501

[2021-07-30 00:09] whedon commented on #3553
[code]

[2021-07-30 00:09] whedon commented on #3553
[code]

[2021-07-30 00:09] whedon commented on #3553
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03553/joss.03553/10.21105.joss.03553.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03553/joss.03553/10.21105.joss.03553.pdf) :page_facing_up: :point_left:

[2021-07-30 00:11] kyleniemeyer commented on #3553
Hello @MAnalytics, thanks for your interest in JOSS. I noticed that this is a resubmission of #3083 (cc @kthyng). Can you please summarize the changes you have made in response to the original feedback?

[2021-07-30 00:12] kyleniemeyer commented on #3553
@whedon invite @ajstewartlang as editor

@ajstewartlang could you edit this submission?

[2021-07-30 00:12] whedon commented on #3553
@ajstewartlang has been invited to edit this submission.

[2021-07-30 01:32] dpsanders commented on #3530
@kyleniemeyer: Yes, sure, happy to.

[2021-07-30 01:32] dpsanders commented on #3530
@whedon assign @dpsanders as editor

[2021-07-30 01:32] whedon commented on #3530
OK, the editor is @dpsanders

[2021-07-30 02:01] diehlpk commented on #3552
@whedon generate pdf from branch joss

[2021-07-30 02:01] whedon commented on #3552
[code]

[2021-07-30 02:02] whedon commented on #3552
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03552/joss.03552/10.21105.joss.03552.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03552/joss.03552/10.21105.joss.03552.pdf) :page_facing_up: :point_left:

[2021-07-30 02:11] crvernon commented on #3549
No problem @kyleniemeyer I'll fix the DOI in the morning.  Here are a few suggestions for reviewers from the JOSS list (not tagged):  `willu47`, `fwitte`, and `milicag`

Thanks!

[2021-07-30 05:43] rusu24edward commented on #3424
@whedon check references

[2021-07-30 05:43] whedon commented on #3424
[code]

[2021-07-30 05:43] rusu24edward commented on #3424
@whedon generate pdf

[2021-07-30 05:44] whedon commented on #3424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03424/joss.03424/10.21105.joss.03424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03424/joss.03424/10.21105.joss.03424.pdf) :page_facing_up: :point_left:

[2021-07-30 05:48] rusu24edward commented on #3424
@seba-1511 Thank you very much for your insights on the paper. I have updated it, and it now includes a short explanation on the two components of RL and a more detailed examination of related work. Take a look and let me know what you think. I see that you have checked everything on the checklist; please let me know if there's anything else I can do.

@abhiramm7 I hope my recent changes to the de

[2021-07-30 06:02] seba-1511 commented on #3424
Looks good to me.

[2021-07-30 07:36] zonca commented on #3534
thanks @danielskatz
Can I post a pre-print of the paper to the Arxiv in the meantime?

[2021-07-30 07:48] MAnalytics commented on #3553
Hello @kyleniemeyer @kthyng ,

The major criticism of the original submission was that the code was too narrow in scope; that it was too specific to one example application, and may be difficult for uptake in other areas. Consequently, I made the following changes:

#1. Modularizing the function 'opi_impact.R' by extracting (or separating) a new function 'word_imp.R' that will allow a text documen

[2021-07-30 08:18] mjsottile commented on #3519
@whedon list reviewers

[2021-07-30 08:18] whedon commented on #3519
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-07-30 08:19] mjsottile commented on #3519
@whedon assign @zoometh as reviewer

[2021-07-30 08:19] whedon commented on #3519
OK, @zoometh is now a reviewer

[2021-07-30 08:20] mjsottile commented on #3519
@whedon add @jonjoncardoso as reviewer

[2021-07-30 08:20] whedon commented on #3519
OK, @jonjoncardoso is now a reviewer

[2021-07-30 08:20] mjsottile commented on #3519
@whedon add @zoometh as reviewer

[2021-07-30 08:20] whedon commented on #3519
OK, @zoometh is now a reviewer

[2021-07-30 08:21] mjsottile commented on #3519
@whedon add @mschordan as reviewer

[2021-07-30 08:21] whedon commented on #3519
OK, @mschordan is now a reviewer

[2021-07-30 08:22] mjsottile commented on #3519
:wave: @arfon : for some reason whedon isn’t adding @zoometh as an assigned reviewer for this submission even though they were added.  Do you know why?

[2021-07-30 09:30] janfb opened #3554 "Installation: Does installation proceed as outlined in the documentation?"

[2021-07-30 09:30] whedon commented on #3554
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-30 09:31] whedon commented on #3554
Downloading of the repository (to analyze the language) for issue #3554 failed with the following error:
[code]

[2021-07-30 09:31] whedon commented on #3554
Downloading of the repository (to check the bibtex) failed for issue #3554 failed with the following error:
[code]

[2021-07-30 09:31] whedon commented on #3554
PDF failed to compile for issue #3554 with the following error:
[code]

[2021-07-30 09:46] janfb commented on #3554
closed in favour of https://github.com/Saran-nns/sorn/issues/25

[2021-07-30 09:46] #3554 closed

[2021-07-30 10:56] whedon commented on #3504
:wave: @sara-shiho, please update us on how your review is going (this is an automated reminder).

[2021-07-30 10:56] whedon commented on #3504
:wave: @pmyteh, please update us on how your review is going (this is an automated reminder).

[2021-07-30 11:23] crvernon commented on #3549
@whedon commands

[2021-07-30 11:23] whedon commented on #3549
Here are some things you can ask me to do:

[code]

[2021-07-30 11:23] crvernon commented on #3549
@whedon generate pdf

[2021-07-30 11:24] whedon commented on #3549
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03549/joss.03549/10.21105.joss.03549.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03549/joss.03549/10.21105.joss.03549.pdf) :page_facing_up: :point_left:

[2021-07-30 11:24] crvernon commented on #3549
@whedon check references

[2021-07-30 11:24] whedon commented on #3549
[code]

[2021-07-30 11:25] crvernon commented on #3549
@kyleniemeyer @fraukewiese the invalid DOI has now been repaired.  Thanks!

[2021-07-30 12:34] danielskatz commented on #3519
@mjsottile - please use @openjournals/dev for technical problems, and `@openjournals/joss-eics` for the editors in chief for other things, in case one person, for example @arfon, is on vacation.  And I'll check on this now

[2021-07-30 12:34] danielskatz commented on #3519
@whedon remove @zoometh as reviewer

[2021-07-30 12:34] whedon commented on #3519
OK, @zoometh is no longer a reviewer

[2021-07-30 12:35] danielskatz commented on #3519
@whedon add @zoometh as reviewer

[2021-07-30 12:35] whedon commented on #3519
OK, @zoometh is now a reviewer

[2021-07-30 12:37] jbytecode commented on #3439
Dear @scarlehoff

Thank you for your great effort. Additionally, please just check the checkbox if you don't think the software claims any performance issues so all of your reviewing tasks will be completed (20/20).

Thank you in advance.

[2021-07-30 12:37] jeffreybarrick commented on #3362
@csoneson Thanks for checking in. We are working on these recommendations.

[2021-07-30 12:39] danielskatz commented on #3519
Ok, this is now fine, as seen in the first comment in this issue, where it now says `Reviewers: @jonjoncardoso, @mschordan, @zoometh`  When I started, zoometh was listed twice, since you had added them twice, so I removed them then readded them so they would only be listed once.  The whedon command also shows this correctly in its response immediately above, but this is less important than what th

[2021-07-30 12:46] danielskatz commented on #3534
Yes, that's fine.  Also, be aware that you need to have an open source license - I see what I think is a BSD 3-clause license in a subdirectory, which JOSS did not find, so this is technically ok.  Normally, this would be in the top level of the repo and would be called LICENSE so that GitHub knows it is there and labels the repo correctly and JOSS knows it's there.  This placement is not required

[2021-07-30 12:48] danielskatz commented on #3553
As another JOSS AEiC, I don't think this is enough of a change to justify a new paper under JOSS's [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion, but let's make this a formal discussion by the editors.  You will hear back in a week or so.

[2021-07-30 12:48] danielskatz commented on #3553
@whedon query scope

[2021-07-30 12:48] whedon commented on #3553
Submission flagged for editorial review.

[2021-07-30 13:10] lpantano commented on #3457
@whedon set v0.2.3 as version

[2021-07-30 13:10] whedon commented on #3457
OK. v0.2.3 is the version.

[2021-07-30 13:12] lpantano commented on #3457
@dridk, thank you for doing this. Can you make the zenodo has the same title than the paper? thanks

[2021-07-30 13:45] amelialdrew commented on #3416
Hi @bshoshany,

Thank you for the quick reply and for the further information regarding parallelisation. My system has 4 cores which partially explains the slower speedup, but I would say not entirely. Running ```$ConfiguredKernels``` I get just ```{}```, so it seems you are right that it is not returning a ```List```. I am using Mathematica 12.3.1. Do you need any further info to help with the bu

[2021-07-30 13:45] amelialdrew commented on #3416
@VivianePons Happy holidays :)

[2021-07-30 13:56] abhiramm7 commented on #3424
Looks great, thanks @rusu24edward

[2021-07-30 14:51] bshoshany commented on #3416
@amelialdrew, are you running the code on the Wolfram Cloud, by any chance? That might explain why `$ConfiguredKernels` returns `{}`. If not, how many kernels does your Mathematica license allow? This can be found under Preferences -> Local Kernels. You will see an option "Limit by license availability (N)" where N is the number of kernels available in your license. And which OS are you using?

In

[2021-07-30 15:03] darothen commented on #3219
Hi @dhhagan, can you advise on next steps here? I want to keep this on my radar.

[2021-07-30 15:17] amelialdrew commented on #3416
@bshoshany No I am not, although I've just looked under Preferences and it says ```Local Kernels is deprecated```, so I assume this more up to date version of Mathematica has removed them. I am using macOS Big Sur 11.4. The updates sound good!

[2021-07-30 15:33] diehlpk commented on #3552
@kyleniemeyer I would like to elaborate on the methods paper. This paper has a high focus on the astrophysics aspects of the code, and the code was validated and benchmarked against other codes. As you can see at looking at the authors lists, not many names pop up in the list of GitHub contributors in that paper. The computer science details, especially the GPU acceleration, was only briefly menti

[2021-07-30 15:36] MAnalytics commented on #3553
Dear @danielskatz @kyleniemeyer @kthyng ,

I greatly appreciate your suggestion.

Based on my understanding, the original submission was deemed substantial, but (in fact) the only critic was that it seems too specific to one subject area (law enforcements) upon which the method (in a journal article) was originally published (https://www.scirp.org/journal/paperinformation.aspx?paperid=107836). How

[2021-07-30 16:09] danielskatz commented on #3553
When you say "the original submission", can you point to the specific work, so we can be sure we are talking about the same thing.

[2021-07-30 16:28] dhhagan commented on #3219
Hey @darothen thanks for checking in! As of now, we're just waiting on the review from @josephhardinee. I believe the authors made changes in response to your initial comments, so you can either review and update your checklist now or wait until the final revision comes in. Everything is a bit slow right now during the pandemic, but thanks for being on top of it!

[2021-07-30 16:47] HeatherWelch commented on #3467
Hi @Shyentist,

I have completed my review. Nice work on making GFW data more accessible and easy to manipulate. Below are a few questions and suggestions for improvement.

- It would be good to provide more background on the GFW dataset for people who are not familiar with GFW products already. E.g. what is AIS, what are the dimensions of the data (size, extent, date range), brief introduction of

[2021-07-30 17:00] SamDuffield commented on #3548
Hi @kyleniemeyer! Thanks for your comments - I have moved the dependencies into the summary and extended the paper to properly describe the core functionality of the package.

[2021-07-30 17:07] IndrajeetPatil commented on #3393
@strengejacke What's the exact URL link to the zenodo archive?
If I google `DOI: 10.5281/zenodo.5146411`, I don't see any relevant results.

[2021-07-30 17:09] dridk commented on #3457
@lpantano
https://zenodo.org/record/5148809#.YQQyEDo6-JA

[2021-07-30 17:15] danielskatz commented on #3393
http://doi.org/10.5281/zenodo.5146411 works

[2021-07-30 17:16] kyleniemeyer commented on #3548
@whedon generate pdf

[2021-07-30 17:16] whedon commented on #3548
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03548/joss.03548/10.21105.joss.03548.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03548/joss.03548/10.21105.joss.03548.pdf) :page_facing_up: :point_left:

[2021-07-30 17:26] kyleniemeyer commented on #3548
@whedon check references

[2021-07-30 17:26] whedon commented on #3548
[code]

[2021-07-30 17:33] diehlpk commented on #3020
Can you please post the error to help me to check what is going wrong?

[2021-07-30 17:46] kyleniemeyer commented on #3548
Thanks @SamDuffield! One more minor thing: it looks like one of your DOIs has the prefix in the `doi` field, could you fix that?

[2021-07-30 17:50] kyleniemeyer commented on #3552
@whedon query scope

Thanks @diehlpk for the additional context. I do think that this one is still a bit fuzzy, so I'm going to get more feedback from the rest of the editorial board via a scope query (not for the content of the software itself, which is clearly in scope for JOSS).

[2021-07-30 17:50] whedon commented on #3552
Submission flagged for editorial review.

[2021-07-30 17:57] SamDuffield commented on #3548
@whedon check references

[2021-07-30 17:57] whedon commented on #3548
[code]

[2021-07-30 17:58] danielskatz commented on #3553
Sorry, I was confusing this submission with another.

[2021-07-30 18:00] SamDuffield commented on #3548
@kyleniemeyer looks ok now!

[2021-07-30 18:01] danielskatz commented on #3553
I think it would be helpful if the paper discussed some of the use cases at a high level - basically, I think the paper should give some examples of who would use the software and for what, as part of the statement of need section.

[2021-07-30 18:08] milicag commented on #3203
One last ask is to add a line on how to activate the environment, as then not everyone needs to be familiar with the concept to use the tools. In addition, limiting the version of `geopandas` in the `yml` would lead to more smooth installation behavior for more users. I've already checked the last mark. Thanks for writing interesting code!

[2021-07-30 18:11] osorensen commented on #3455
Thanks for completing your review, @professoralkmin!

[2021-07-30 18:12] osorensen commented on #3453
Thanks for completing the review, @OwenWard!

[2021-07-30 18:18] richardsc commented on #3485
Sorry, I'm running a bit behind. Plan to get to it this weekend!

[2021-07-30 18:25] mjsottile commented on #3519
@danielskatz thanks.  When I looked at it last night the reviewer did show up in the issue body and had a checklist, but was missing from the list of assignees for the GitHub issue itself.  They appear to be listed as an assignee now.

[2021-07-30 18:32] osorensen commented on #3453
@pfistfl, I have one final comment to the article proof. On page 2, lines 52-54, I believe the last part of the sentence is not grammatically correct, particularly the word "helps".

53 of developers and data scientists to audit and post-process prediction models and helps to
54 promote fairness in machine learning and statistical estimation applications.

Here is a suggested rewrite, put feel fre

[2021-07-30 19:36] arfon commented on #3467
@Shyentist – please make your updates and let us know here when you are ready for the reviewers to take another look. You can update your paper preview at any time with `@whedon generate pdf`

[2021-07-30 19:41] bshoshany commented on #3416
Hmm... I also use v12.3.1, and I also see the message "Local Kernels is deprecated", but I also see the number of local kernels in the preferences, and my `$ConfiguredKernels` returns a `List`. I get that on both Windows and Linux (I don't have access to a Mac).

The documentation for `$ConfiguredKernels` says that "As of Version 12.3, `$ConfiguredKernels` has been superseded by `$DefaultKernels`"

[2021-07-31 00:31] AustinTSchaffer commented on #3455
Hey all, sorry for not giving a review yet. I've set aside some time for
this tomorrow.

On Fri, Jul 30, 2021, 2:11 PM Øystein Sørensen ***@***.***>
wrote:

[2021-07-31 00:34] Eugenio2192 commented on #3203
I added geopandas  but also cartopy versions to the reqs, also reordered a little the instructions so they have logical execution order. @milicag  and @igarizio Thanks for the very extensive review, we really learnt a lot from it.

[2021-07-31 00:42] jmschrei commented on #3531
@rcannood and @maximtrp, would either of you be able to serve as a reviewer for this submission?

[2021-07-31 00:43] jmschrei commented on #3447
@pps121 do you anticipate being able to start your review soon?

[2021-07-31 00:45] jmschrei commented on #3446
@younglululu, @pmeier and @n3011, can you provide a brief update on how it's going? @n3011 are you getting useful feedback that is being incorporated into the submission? Thanks so much.

[2021-07-31 03:04] pps121 commented on #3447
Yes I will start. Thanks.

Parthapratimsaha

On Sat, 31 Jul, 2021, 6:13 am Jacob Schreiber, ***@***.***>
wrote:

[2021-07-31 05:12] younglululu commented on #3446
I tried whatever I can to install the package, but failed regardless.

[2021-07-31 06:28] pmeier commented on #3446
@jmschrei I did my preliminary review in https://github.com/openjournals/joss-reviews/issues/3446#issuecomment-880581078. Since then there have been no commits, so I'm on hold for now.

[2021-07-31 07:11] maximtrp commented on #3531
@jmschrei Yes, I will be glad to

[2021-07-31 08:15] Shyentist commented on #3467
@arfon Great, thank you!

@HeatherWelch Hi again, thank you for your review and the useful feedback. I am assuming the first list concerns the Handbook, not the paper, apart from the last point.

- While the description of the data for each column would be useful and will be added, I feel like a thorough description on how the dataset was created is beyond the scope of the Handbook, the paper, and

[2021-07-31 09:27] gro5-AberUni commented on #3346
@jorgegil @hugoledoux

Thank you @jorgegil for you comments and suggestions about the plugin and the paper. I have implemented a series of changes to the plugin specifically within the GUI to improve the user performance, notably I have have added a tool bar containing the main buttons for the operation of the plugin in, as well as the option for the user to adjust the feature class value or buffe

[2021-07-31 13:42] traversaro commented on #2752
Thanks @vincentberenz for addressing my comments! @gkthiruvathukal The review is ok from my side.

[2021-07-31 13:59] ahurriyetoglu commented on #3448
Thanks @koanin. Thanks for the update, it looks better now. Some more points:

1- There's been -> there has been
2- don't -> do not
3- Snokel -> Snorkel
4-"in figure Figure 4" -> in Figure 4
5- Not all figures are mentioned in the text.
6- Code snippets require a numbering and in-text-mentioning as well.
7- The following snippet could be written better in terms of English Language: "Machine learni

[2021-07-31 14:05] gkthiruvathukal commented on #2752
@traversaro Thanks for making sure your comments have been addressed. I'll be moving toward acceptance. There are some final steps to complete. Stay tuned.

[2021-07-31 14:19] AustinTSchaffer commented on #3455
**Testing:** I don't see any unit tests or integration tests.

**Installation:** The project mentions NuGet and Unity for installation, though provides few details. The Readme should probably at least link to [the project's page on NuGet](https://www.nuget.org/packages/Biosensor-Framework/), which provides additional help with how to get the package installed with a variety of tools. Also, the pac

[2021-07-31 14:22] jkrumbiegel commented on #3349
@fverdugo I have added a citation to Plots.jl and a short paragraph describing the differences.

I have also added contribution guidelines here https://github.com/JuliaPlots/Makie.jl/blob/master/CONTRIBUTING.md

The file "airportlocations.csv" is in the released assets now, you can see an example in the docs here http://makie.juliaplots.org/stable/plotting_functions/scatter.html. The example shoul

[2021-07-31 14:53] HaoZeke commented on #3390
Many apologies for letting this sit on my backburner for so long. The package is well planned, and demonstrates suitable effort, making it viable, after the concerns raised are addressed.

[2021-07-31 15:26] osorensen commented on #3455
Thanks for your review @AustinTSchaffer!

Regarding unit tests, the [Review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html) say the following:

OK: Documented manual steps that can be followed to objectively check the expected functionality of the software (e.g., a sample input file to assert behavior)
Bad (not acceptable): No way for you, the reviewer, to objectively assess

[2021-07-31 15:42] vinisalazar commented on #3531
Hi, I'm not sure why the @whedon command did not work. The references and compilation should be ok now.

[2021-07-31 17:59] koaning commented on #3448
1. Done
2. Done
3. Done
4. Done
5. Done
6. I tried finding a guide on how to format the code snippets but couldn't find anything in [this guide](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). Is there a guide elsewhere?
7. Done
8. I originally removed the imports because the line grew too big. I'll try to figure something out here.

In terms of capabilities

[2021-07-31 20:01] ziotom78 commented on #3497
My review is almost finished; there was just the issue whether to include some statement about the performance or not, but if the authors don't feel to do this, that's fine with me.

[2021-07-31 20:47] eschnett commented on #3497
I have reviewed the paper and the software. This paper is well written; it gives a brief overview of the software (the parser), but doesn't go into any details about its usage or functionality. I think this is fine, since the README and the documentation of the software do so. The software itself seems mature and has been used for a few years in a few projects. I hope that this publication will in

[2021-07-31 20:47] eschnett commented on #3497
A remark to the editors: If software is hosted on Github, then several of the items on the checklist can be checked off almost automatically. Furthermore, if the software is written in Julia, then quite a few more can be checked off almost automatically, since the Julia packaging standards and templates almost automatically lead to well-designed and easy-to-use software.

[2021-07-31 21:37] jbytecode commented on #3448
@whedon generate pdf

[2021-07-31 21:37] whedon commented on #3448
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: :point_left:

[2021-07-31 22:13] cheginit commented on #3175
@raoulcollenteur I released new versions for all the packages. Also, the two problematic web services are now back up. So, all the example notebooks now should run without any issues. You can give them a try via [binder](https://mybinder.org/v2/gh/cheginit/hyriver-examples/HEAD?urlpath=lab/tree/notebooks).

[2021-08-01 09:10] chkern commented on #3453
@whedon generate pdf

[2021-08-01 09:10] whedon commented on #3453
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03453/joss.03453/10.21105.joss.03453.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03453/joss.03453/10.21105.joss.03453.pdf) :page_facing_up: :point_left:

[2021-08-01 09:17] zoometh commented on #3519
@fAndreuzzi I'll suggest reordering the parts of your paper & to modify some:

1. **Summary**: make it shorter, currently it is too specific (ie not enough general)
2. **Statement of need**: has to be placed _before_ the **Examples**
3. ~ **BisPy framework**: present your Python package here
4. **Examples**
5. ...

I've also noted:
- There is a missing [community guideline](https://joss.readthedoc

[2021-08-01 09:18] ahurriyetoglu commented on #3448
@koaning thanks!

I could not understand what do you mean by code formatting. I mean they should have a name and a mention in the text like the tables and figures.

A use case result could provide a sense of what to expect from your tool, although the exact results would change according to context. If you provide your context and your results, this will be enough.

[2021-08-01 09:20] chkern commented on #3453
Thanks @osorensen, we followed your suggestion.

[2021-08-01 11:39] likask commented on #3390
@diehlpk Hello, I am apologize for waiting so long. I like to check some boxes, but somehow I can't. It could be that I have not accepted invite?

[2021-08-01 11:39] jbytecode commented on #3448
@ahurriyetoglu thank you for your comments. maybe you can give a code snippet here to clarify what you mean exactly, or, send a pull request to the main repo that implements the changes for paper.md.

[2021-08-01 12:52] fAndreuzzi commented on #3519
Hi @zoometh, thank you for your feedback.

I worked a little bit on the README (fixed the typo you mentioned, and added a [new](https://github.com/fAndreuzzi/BisPy/blob/master/README.md#reporting-a-bug) section to explain in detail how to report a bug. In [this](https://github.com/fAndreuzzi/BisPy#how-to-contribute) section I explain how to submit a pull request, is this enough for you?

I'm going

[2021-08-01 14:40] MAnalytics commented on #3553
@danielskatz @kyleniemeyer Sorry for the delay in response. I have now modified the statement of need section to include application areas of the software and some examples. Thanks.
MA

[2021-08-01 14:51] nnadeau commented on #3490
@adi3 , before getting started, I think there may be an issue with the "submitting author":

- the review has @heath-henninger as the submitting author, but it's an inactive account with no contributions to the repo
- @klevis-a is the sole contributor to the repo, but isn't mentioned anywhere here

[2021-08-01 15:01] heath-henninger commented on #3490
A valid comment Nicholas.  As the PI on the grant that collected these kinematic data and stimulated the generation of the visualization and analysis application, I typically submit the manuscripts for peer-review.  In this case Klevis, a recent PhD graduate from my lab, was the lead investigator who created the code in support of his dissertation research.

This is definitely a case of our naivet

[2021-08-01 15:01] osorensen commented on #3453
@whedon check references

[2021-08-01 15:01] whedon commented on #3453
[code]

[2021-08-01 15:07] osorensen commented on #3453
@pfistfl, before we proceed, could you please do the following?

- Make a tagged release of the software.
- Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure the list is correct and people

[2021-08-01 15:10] wsarce commented on #3455
@osorensen, I've added a third example project that tests the affective computing tasks without the need for an attached body-worn sensor.   It processes the WESAD dataset that is provided in the [Dataset](https://github.com/Munroe-Meyer-Institute-VR-Laboratory/Biosensor-Framework/tree/main/Dataset) folder of the repo and reports the results in the Console output.

@AustinTSchaffer, The NuGet pack

[2021-08-01 15:39] nnadeau commented on #3490
@adi3 @klevis-a, i did a first pass of the repo from a software architecture point of view, see the issues linked above

[2021-08-01 16:27] ahurriyetoglu commented on #3448
@jbytecode, @koaning I just say: using "from sklearn.metrics import *" is not a good practice. @koaning has already fixed it.

[2021-08-01 16:40] osorensen commented on #3455
Thanks for the update @wsarce.

@AustinTSchaffer, if you find the tests/examples described in the comment by @wsarce satisfactory, please tick off the last box on the reviewer checklist.

[2021-08-01 16:44] koaning commented on #3448
@ahurriyetoglu I was referring to this bit:

I wouldn't mind adding line numbers to the code, same for in-text mentions, but I don't know if the markdown syntax allows for that. I couldn't find anything on [the docs](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). Is there a guide on how to add that to JOSS papers?

[2021-08-01 17:04] rrrlw commented on #3540
@VBlesius: the paper lists 2 authors, yourself and Andreas Dominik. I only see commits from you in the GitHub repository. Could you provide (brief) insight regarding the contributions of the second author?

[2021-08-01 17:26] rrrlw commented on #3540
Minor (and optional) note: lines 33 and 36 in the article proof could be formatted as code with backticks (`) in markdown.

[2021-08-01 19:13] diehlpk commented on #3390
@whedon commands

[2021-08-01 19:13] whedon commented on #3390
Here are some things you can ask me to do:

[code]

[2021-08-01 19:14] diehlpk commented on #3390
@whedon re-invite @likask as reviewer

[2021-08-01 19:14] whedon commented on #3390
OK, the reviewer has been re-invited.

@likask please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-08-01 19:15] diehlpk commented on #3390
@likask Please accept the invitation again und you should be able to check the check boxes.

[2021-08-01 19:24] adi3 commented on #3490
@nnadeau thank you for bringing up the point about the submitting author. @heath-henninger appreciate the additional clarity you provided. We do expect the submitting author to have made substantial contributions to the repository, but I will make an exception to continue with this review for two reasons:

1. @klevis-a, who made all (or at least most of) the commits to the repository, is still lis

[2021-08-01 19:31] likask commented on #3390
Software is easy to install; authors provide a simple Matlab script that setup all paths necessary to run code. The user guide provides with the code gives a straightforward explanation of how to run code and how to analyze results. Examples are a good start to create own structures.

The physical problem itself is classical, and standard finite element techniques can be applied. The strength of t

[2021-08-01 19:35] LMMorgan commented on #3451
Good evening @dpsanders,

I was wondering if there is any update on the progress of this submission? Have any potential reviews accepted?

Best regards,
Lucy

[2021-08-02 00:52] jamesrhester commented on #3497
We have just added a paragraph about performance as it might be of interest.

[2021-08-02 00:52] jamesrhester commented on #3497
@whedon generate pdf from branch joss_paper

[2021-08-02 00:52] whedon commented on #3497
[code]

[2021-08-02 00:52] whedon commented on #3497
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03497/joss.03497/10.21105.joss.03497.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03497/joss.03497/10.21105.joss.03497.pdf) :page_facing_up: :point_left:

[2021-08-02 03:39] gkthiruvathukal commented on #2752
Hi @traversaro, please do the following:

Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a

[2021-08-02 03:54] n3011 commented on #3446
@jmschrei  I have updated the project and the `paper.md` file to address comments from @pmeier .

Package related changes:
1. Issue related to running tests in parallel is fixed and now in the master branch.
2. API-doc strings are added.

In the `joss` branch, `paper.md` and `paper.bib` file is updated to address the followings:
1. Information about TensorFlow-datasets. Tensorflow datasets is desi

[2021-08-02 06:08] traversaro commented on #2752
I guess the message was intended for @vincentberenz ?

[2021-08-02 07:48] koaning commented on #3448
In terms of sharing some results, would [this result from the docs](https://koaning.github.io/human-learn/guide/function-classifier/function-classifier.html#comparison) be valid to share? It's on the titanic dataset, so it's not the best "benchmark dataset" out there, but it does demonstrate the validity of the approach.

[2021-08-02 08:21] ziotom78 commented on #3497
Thanks @jamesrhester , I have read the paragraph. I am fully satisfied, my review is complete.

[2021-08-02 08:22] timtroendle commented on #3203
@whedon generate pdf

[2021-08-02 08:23] whedon commented on #3203
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03203/joss.03203/10.21105.joss.03203.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03203/joss.03203/10.21105.joss.03203.pdf) :page_facing_up: :point_left:

[2021-08-02 08:23] timtroendle commented on #3203
@whedon check references

[2021-08-02 08:23] whedon commented on #3203
[code]

[2021-08-02 08:28] Kevin-Mattheus-Moerman commented on #3260
@whedon generate pdf

[2021-08-02 08:29] whedon commented on #3260
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03260/joss.03260/10.21105.joss.03260.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03260/joss.03260/10.21105.joss.03260.pdf) :page_facing_up: :point_left:

[2021-08-02 08:34] timtroendle commented on #3203
Everything looks good to me and I am happy to move forward. At this point, @Eugenio2192 could you please:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. Th

[2021-08-02 08:53] Kevin-Mattheus-Moerman commented on #3260
@danielballan @caspervdw @nkeim @tacaswell @alexlib @GenevieveBuckley would you be interested in reviewing this work for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) takes place on GitHub and focuses on [the software](https://github.com/MikeSmithLabTeam/particletracker) and [the

[2021-08-02 08:54] whedon opened #3555 "[PRE REVIEW]: CellPyLib: A Python Library for working with Cellular Automata"
**Submitting author:** @lantunes (<a href="http://orcid.org/0000-0002-4867-5635">Luis Antunes</a>)
**Repository:** <a href="https://github.com/lantunes/cellpylib" target ="_blank">https://github.com/lantunes/cellpylib</a>
**Version:** v1.0.0
**Editor:** @jbytecode
**Reviewers:** @blsqr, @szhorvat
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-08-02 08:54] whedon commented on #3555
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-02 08:54] whedon commented on #3555
Wordcount for `paper.md` is 854

[2021-08-02 08:54] whedon commented on #3555
[code]

[2021-08-02 08:54] whedon commented on #3555
[code]

[2021-08-02 08:55] whedon commented on #3555
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03555/joss.03555/10.21105.joss.03555.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03555/joss.03555/10.21105.joss.03555.pdf) :page_facing_up: :point_left:

[2021-08-02 12:03] Nikoleta-v3 commented on #3514
👋🏻 @sigvaldm Can you still review this submission? 😄 Thank you!

[2021-08-02 12:34] gkthiruvathukal commented on #2752
@traversaro Yes! That was the intention, but my fingers mentioned you instead of @vincentberenz. Thanks! I corrected it above.

[2021-08-02 13:16] lpantano commented on #3457
@whedon set 10.5281/zenodo.5148809 as archive

[2021-08-02 13:16] whedon commented on #3457
OK. <a href="https://doi.org/10.5281/zenodo.5148809" target="_blank">10.5281/zenodo.5148809</a> is the archive.

[2021-08-02 13:18] lpantano commented on #3457
@whedon recommend-accept

[2021-08-02 13:18] whedon commented on #3457
[code]

[2021-08-02 13:18] whedon commented on #3457
[code]

[2021-08-02 13:18] whedon commented on #3457
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2489

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2489, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-02 13:26] sigvaldm commented on #3514
Yes. Not this week, but I can do it next week.

[2021-08-02 13:29] AustinTSchaffer commented on #3455
LGTM!

[2021-08-02 13:38] MAnalytics commented on #3553
@whedon generate pdf

[2021-08-02 13:39] whedon commented on #3553
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03553/joss.03553/10.21105.joss.03553.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03553/joss.03553/10.21105.joss.03553.pdf) :page_facing_up: :point_left:

[2021-08-02 13:51] Nikoleta-v3 commented on #3514
That's perfect. Thank you!

[2021-08-02 13:52] Nikoleta-v3 commented on #3514
@whedon add @sigvaldm as reviewer

[2021-08-02 13:52] whedon commented on #3514
OK, @sigvaldm is now a reviewer

[2021-08-02 13:52] Nikoleta-v3 commented on #3514
@whedon start review

[2021-08-02 13:52] whedon opened #3556 "[REVIEW]: Symfem: a symbolic finite element definition library"
**Submitting author:** @mscroggs (<a href="http://orcid.org/0000-0002-4658-2443">Matthew Scroggs</a>)
**Repository:** <a href="https://github.com/mscroggs/symfem" target ="_blank">https://github.com/mscroggs/symfem</a>
**Version:** v2021.8.2
**Editor:** @Nikoleta-v3
**Reviewer:** @iammix, @sigvaldm
**Archive:** <a href="https://doi.org/10.5281/zenodo.5242891" target="_blank">10.5281/zenodo.5242891

[2021-08-02 13:53] whedon commented on #3514
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3556.

[2021-08-02 13:53] #3514 closed

[2021-08-02 13:53] whedon commented on #3556
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @iammix, @sigvaldm it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-08-02 13:53] whedon commented on #3556
Wordcount for `paper.md` is 514

[2021-08-02 13:53] whedon commented on #3556
[code]

[2021-08-02 13:53] whedon commented on #3556
[code]

[2021-08-02 13:53] whedon commented on #3556
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03556/joss.03556/10.21105.joss.03556.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03556/joss.03556/10.21105.joss.03556.pdf) :page_facing_up: :point_left:

[2021-08-02 13:54] danielskatz commented on #3384
@Garyfallidis - just checking again - this is really almost done and it would be nice to publish it

[2021-08-02 13:54] danielskatz commented on #3348
👋 @dhimmel - Any update from you on the remaining items?

[2021-08-02 13:54] danielskatz commented on #3295
👋 @jorge-lip - can you respond to this issue?

[2021-08-02 13:56] Nikoleta-v3 commented on #3556
👋🏼  @mscroggs & @iammix & @sigvaldm this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements 🔝 As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from mo

[2021-08-02 14:00] danielskatz commented on #3211
And again - If there's no response in another week (as this is a holiday period for many), I'll start planning other options.