[2016-05-04 14:22] whedon opened #10 "[REVIEW]: metricsgraphics: An R htmlwidget interface to the MetricsGraphics.js D3-based visualization library"
**Submitting author:** @hrbrmstr (<a href="http://orcid.org/0000-0001-5670-2640">Bob Rudis</a>)
**Repository:** <a href="https://github.com/hrbrmstr/metricsgraphics" target="_blank">https://github.com/hrbrmstr/metricsgraphics</a>
**Version:** v0.9.1
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.50373" target="_blank">10.5281/zenodo.50373</a>
**Editor:** @arfon
**Reviewer:** @amoeba
## Sta

[2016-05-04 14:34] whedon opened #11 "Submission: carl: a likelihood-free inference toolbox"
**Submitting author:** @glouppe (<a href="http://orcid.org/0000-0002-2082-3106">Gilles Louppe</a>)
**Repository:** <a href="https://github.com/diana-hep/carl" target="_blank">https://github.com/diana-hep/carl</a>
**Version:** v0.2
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.47798" target="_blank" >10.5281/zenodo.47798</a>

## Status

[![status](http://joss.theoj.org/papers/26a9ffd9e7b98

[2016-05-04 15:28] whedon commented on #10
Hi @hrbrmstr. Many thanks for submitting to JOSS!

The next step is to look for a couple of reviewers - if you have any suggestions please add them here. :rocket:

@karthik - this do you have any suggestions?

[2016-05-04 15:28] whedon commented on #11
Hi @glouppe. Many thanks for submitting to JOSS!

The next step is to look for a couple of reviewers - if you have any suggestions please add them here. :rocket:

@jakevdp - this do you have any suggestions?

[2016-05-04 15:34] hrbrmstr commented on #10
@timelyportfolio &  @ramnathv come quickly to mind. I'll get some others.
Also, once I get the hang of this, Oliver & I will submit `iptools` as well.

On Wed, May 4, 2016 at 11:28 AM, whedon <notifications@github.com> wrote:

[2016-05-04 15:41] cranmer commented on #11
maybe @dfm @betatim

[2016-05-04 19:20] whedon commented on #11
Compiled PDF: [paper.pdf](https://github.com/openjournals/joss-reviews/files/249424/paper.pdf)

[2016-05-04 19:22] cranmer commented on #11
Thanks @whedon would be nice if arxiv showed up in bib. should we edit bib or change style for latex?

[2016-05-04 19:26] arfon commented on #11
@cranmer This is the command that we're running to compile from Markdown to PDF: https://github.com/openjournals/whedon/blob/master/lib/whedon/processor.rb#L64 and this is the latex template: https://github.com/openjournals/whedon/blob/master/resources/latex.template

Any suggestions/modifications that would make arXiv show up very welcome 😄

[2016-05-04 19:45] betatim commented on #11
As a reviewer should I do things beyond what is listed in the initial comment on this PR or is that it? If it is only those questions I can review this and use this opportunity to declare that I am a good friend of @glouppe but don't think this creates a conflict of interest.

[2016-05-04 19:48] arfon commented on #11
@betatim - basically we just need you to work through the checklist  under `Reviewer questions`. If anything isn't clear please shout.

Also, there are some additional notes here (http://joss.theoj.org/about#reviewer_guidelines) but the review checklist should represent these guidelines.

[2016-05-04 20:25] whedon commented on #10
Compiled paper PDF: [paper.pdf](https://github.com/openjournals/joss-reviews/files/249512/paper.pdf)

[2016-05-05 03:16] whedon opened #12 "Submission: mst_clustering: Clustering via Minimum Spanning Trees"
**Submitting author:** @jakevdp (<a href="http://orcid.org/0000-0002-9623-3401">Jacob VanderPlas</a>)
**Repository:** <a href="http://github.com/jakevdp/mst_clustering" target="_blank">http://github.com/jakevdp/mst_clustering</a>
**Version:** v1.0.0
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.50995" target ="_blank">http://dx.doi.org/10.5281/zenodo.50995</a>

## Status

[![status](http:

[2016-05-05 04:17] whedon commented on #12
Compiled paper PDF: [paper.pdf](https://github.com/openjournals/joss-reviews/files/249940/paper.pdf)

[2016-05-05 04:18] whedon commented on #12
Hi @jakevdp. Many thanks for submitting to JOSS!

The next step is to look for a couple of reviewers - if you have any suggestions please add them here. :rocket:

[2016-05-05 04:32] jakevdp commented on #12
I notice that the generated PDF doesn't have any link or reference to github or the software DOI – are authors meant to put that in explicitly? I would have expected it to be included automatically somehow.

[2016-05-05 04:34] arfon commented on #12
Good catch. I've been meaning to add that but completely forgot. Thanks for the reminder!

[2016-05-05 06:49] betatim commented on #11
UI question: how do I tick off things from the list? I think technically it is impossible to organise for me to be able to edit @whedon's comment. Had a scan around openjournals/whedon to try and find the raw MD but couldn't find it sad 🐼.

[2016-05-05 06:51] betatim commented on #11
## Reviewer questions

### General checks

- [ ] **Repository:** Is the source code for this software available at the
- [ ] **License:** Does the repository contain a plain-text LICENSE file with the contents of an [OSI approved](https://opensource.org/licenses/alphabetical) software license?
- [ ] **Version:** Does the release version given match the GitHub release ()?
- [ ] **Archive:** Does th

[2016-05-05 07:19] betatim commented on #11
A few "trivial" comments are included inline. I haven't yet tried to answer the "functionality" questions.

re: statement of need in the PDF. It states "support inference in the likelihood-free setup, including density ratio estimation algorithms, parameterized supervised learning and calibration procedures". This could be improved by stating a few concrete problems, that your average researcher c

[2016-05-05 11:49] glouppe commented on #11
Thanks Tim! Changes proposed are https://github.com/diana-hep/carl/pull/53

Note: this back and forth between two github repos is not the most convenient :s

[2016-05-05 13:17] cranmer commented on #11
Thanks Tim

[2016-05-05 13:19] arfon commented on #11
@betatim - this is great point (that I didn't consider until now) - you need to be able to edit the issue too :-) I've added you to the `joss-reviewers` team which means you should be able to update the original issue.

Also, thanks for the rapid review :zap:

[2016-05-05 13:37] betatim commented on #11
I've moved everything to the first comment. Most of the missing ☑️  are being dealt with in diana-hep/carl#53. Then there is the missing DOI in the generated PDF, do you take care of that @arfon?

[2016-05-05 13:38] arfon commented on #11
Yep, tracking that in https://github.com/openjournals/joss/issues/56

[2016-05-05 17:02] gvwilson opened #13 "Title bar clipped on Firefox on Mac OS X"
Firefox 46.0.1 on Mac OS X 10.10.5, top of 'about' page is clipped:
![screen shot 2016-05-05 at 1 01 08 pm](https://cloud.githubusercontent.com/assets/911566/15050400/8f5b1076-12c1-11e6-8f1e-c5ba583f8f5d.png)

[2016-05-05 17:03] gvwilson opened #14 "Markdown not rendered in paper status summaries on home page"
Firefox 46.0.1 on Mac OS X 10.10.5, Markdown summaries on home page are not rendered properly:
![screen shot 2016-05-05 at 1 02 51 pm](https://cloud.githubusercontent.com/assets/911566/15050431/cdd18902-12c1-11e6-9d6c-22f46a26ae6d.png)

[2016-05-05 20:09] arfon commented on #13
Thanks for spotting this @gvwilson! Fixed in https://github.com/openjournals/joss/commit/5e192f4613da43fc2ddfaa1dee7139ce91b2910a

[2016-05-05 20:09] #13 closed

[2016-05-06 12:17] glouppe commented on #11
I made further changes at https://github.com/diana-hep/carl/pull/53 (now merged). Is it possible to regenerate the PDF?

[2016-05-06 14:19] whedon commented on #11
Updated paper PDF: [paper.pdf](https://github.com/openjournals/joss-reviews/files/252391/paper.pdf)

[2016-05-06 15:39] cranmer commented on #11
I don't see what the default bib style is in the wehedon resources:

https://github.com/openjournals/whedon/blob/71a1a35a21cce942378229892976ddc4c26e57e8/resources/latex.template#L98

but it looks like `\bibliographystyle{utphys}` might give a nice format for the arxiv submission

http://tex.stackexchange.com/questions/243636/mendeley-and-arxiv-citation-style

[2016-05-06 17:13] gvwilson opened #15 "Icons beside paper titles not rendering"
Firefox 46.0.1 on Mac OS X 10.10.5: small character icons (?) beside titles are showing up as unrenderable.
![screen shot 2016-05-06 at 1 11 38 pm](https://cloud.githubusercontent.com/assets/911566/15080474/6200ce38-138c-11e6-9961-8dd16b37ee14.png)

[2016-05-06 17:20] arfon commented on #15
Thanks for reporting this @gvwilson. Would you mind opening this issue on https://github.com/openjournals/joss? (Also, I realize it would be awesome if you could move issues between repos on GitHub)

[2016-05-06 17:20] #15 closed

[2016-05-06 17:20] arfon commented on #14
Thanks for reporting this @gvwilson. Would you mind opening this issue on https://github.com/openjournals/joss?

[2016-05-06 17:20] #14 closed

[2016-05-07 03:16] whedon commented on #11
Updated paper PDF: [paper.pdf](https://github.com/openjournals/joss-reviews/files/253258/paper.pdf) (now including the archive DOI and software repository address)

[2016-05-07 03:20] whedon commented on #12
Compiled paper PDF: [paper.pdf](https://github.com/openjournals/joss-reviews/files/253261/paper.pdf) (now including software repository address and archive)

[2016-05-07 03:24] arfon commented on #12
/ cc @openjournals/joss-reviewers anyone interested in reviewing this?

[2016-05-07 03:24] arfon commented on #10
/ cc @openjournals/joss-reviewers anyone interested in reviewing this?

[2016-05-07 03:33] ramnathv commented on #10
@arfon What is expected in the review process?

[2016-05-07 03:47] arfon commented on #10
@ramnathv we basically need the reviewer to work through the checklist at the [top of this issue](https://github.com/openjournals/joss-reviews/issues/10#issue-153024367).

There are also reviewer guidelines here: http://joss.theoj.org/about#reviewer_guidelines

If you're willing to review I'll add you to the `@openjournals/joss-reviewers` GitHub team which will give you permissions to edit the che

[2016-05-07 17:52] amoeba commented on #10
Hey @hrbrmstr, great package. This is the first I've sat down with the Metrics library and it's great to have an htmlwidgets interface for it. Some notes:

- License: Does the repository contain a plain-text LICENSE file with the contents of an OSI approved software license?

    No. LICENSE file indicates @hrbrmstr is the sole copyright holder. Recommend adopting one of the OSI-approved LICENSES

[2016-05-07 18:07] wrathematics commented on #10
Hope it's ok if I chime in here.  Regarding the license, their package is actually licensed MIT.  You can confirm this by checking the License line in the DESCRIPTION file.  The reason the LICENSE file contains only a few snippets is per CRAN repository rules; the idea is that you need only fill out the missing lines in the "template" [here](https://www.r-project.org/Licenses/MIT).   The rules are

[2016-05-07 18:18] amoeba commented on #10
Okay by me and thanks a ton for the information, @wrathematics. I'm new to R packaging and wasn't aware of any of that. Eager to see what others have to say.

From `DESCRIPTION`: License: MIT + file LICENSE

That's super confusing since 'file LICENSE' would seem to disagree with MIT (given my near-zero knowledge of copyright law). I'll have to read up on the CRAN rules. Thanks again.

[2016-05-07 20:02] hrbrmstr commented on #10
This. Is. *Awesome*.

I'm semi-AFK for the main part of the weekend but I'll try to get on the
edits tomorrow night.

#ty to all who are carving out cycles to make JOSS work. Pls feel free to
tap me as a reviewer for other submissions. I'll be glad to chip in.

-Bob

On Sat, May 7, 2016 at 2:18 PM, Bryce Mecum <notifications@github.com>
wrote:

[2016-05-07 22:47] arfon commented on #10
Yes @amoeba and @wrathematics many thanks for such a rapid and excellent review :zap:

On the licensing issue - I would rather see a `LICENSE` file also included in the repository if possible as I think that's both more discoverable and explicit about the licensing terms.

@hrbrmstr - please just leave a message on this thread to let us know when you've made the updates.

If you're interested then

[2016-05-07 23:39] nicoguaro commented on #12
I am writing this _review_ following the points stated above. The software provides the implementation of a particular algorithm for clustering.

# General checks

- License: Does the repository contain a plain-text LICENSE file with the contents of an OSI approved software license?

    Yes, the license is [2-clause BSD license](https://en.wikipedia.org/wiki/BSD_licenses#2-clause_license_.28.22Si

[2016-05-08 08:26] betatim commented on #11
Installing works, automated tests pass, and ran some of the examples.

There are no performance claims (as in runs faster than X) so I don't think that reviewer question applies.

Only outstanding issue is rendering of references in the pdf.

[2016-05-08 13:53] arfon commented on #12
@nicoguaro - many thanks for this review :zap: I'll let @jakevdp reply to some of your questions here.

This questions is about items in the references. Published papers and datasets will usually have a DOI and so either are cited then we would like the author to include the DOI in the reference too.

@nicoguaro - is it safe to assume that if your comments are addressed then you recommend this for

[2016-05-08 14:18] arfon commented on #11
@betatim - awesome thanks.

@cranmer @betatim how do you feel about this rendering? [paper.pdf](https://github.com/openjournals/joss-reviews/files/253947/paper.pdf)

I've not managed to get the `utphys` biblio-style working but have managed to format the reference more generically to get the arXiv URL included:

[code]

[2016-05-08 15:52] betatim commented on #11
LGTM. I use the arXiv ID/DOI as a simple way to find the article in google, if you directly link me there even better (appeals to the efficient German in me)

[2016-05-08 16:29] nicoguaro commented on #12
@arfon - yes, I think that.

[2016-05-09 14:24] jakevdp commented on #12
@nicoguaro – thanks for the review! I'll try to address everything you brought up.

One question regarding documentation: you mentioned that functions do not have docstrings, but the class and both its methods defined by the module [*do* have doc-strings](https://github.com/jakevdp/mst_clustering/blob/master/mst_clustering/_mst_clustering.py). Can you point me to what was specifically concerning y

[2016-05-09 16:22] whedon opened #16 "Submission: R3D2: Relativistic Reactive Riemann problem solver for Deflagrations and Detonations"
**Submitting author:** @harpolea (<a href="http://orcid.org/0000-0002-1530-781X">Alice Harpole</a>)
**Repository:** <a href="https://github.com/harpolea/r3d2" target ="_blank">https://github.com/harpolea/r3d2</a>
**Version:** v1.0
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.51096" target ="_blank">http://dx.doi.org/10.5281/zenodo.51096</a>

## Status

[![status](http://joss.theoj.org/pa

[2016-05-09 16:23] arfon commented on #16
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-05-09 16:32] gravypod commented on #16
I'll give it a look tomorrow if no one else has a chance. One just got to
take a quick few final exams today.
On May 9, 2016 12:23 PM, "Arfon Smith" <notifications@github.com> wrote:

[2016-05-09 17:27] nicoguaro commented on #12
@jakevdp – thanks for taking the comments into consideration.

Regarding the documentation, I apologize, I see the docstrings now. I use Spyder regularly, and the `Ctrl + i` hotkey to render docstrings through `sphinx`... but it did not work before. But the docstrings are there and they can be pulled.

I also agree that the example notebook is good enough, maybe you would like to compare the resul

[2016-05-09 21:20] kyleniemeyer commented on #16
This one is the first that probably falls under my area, so I should take a look.

[2016-05-09 23:06] arfon commented on #16
OK @kyleniemeyer - thanks! @gravypod - looks like you're off the hook.

[2016-05-10 14:35] cranmer commented on #11
Sorry I missed this earlier. LGTM too.

[2016-05-10 14:41] arfon commented on #11
Ok then I think we're done here. Congrats @glouppe and @cranmer on our first accepted paper!

I'll finish up the editorial pieces this evening.

🚀

[2016-05-10 14:42] cranmer commented on #11
Woo hoo!

[2016-05-10 15:43] glouppe commented on #11
Great, thank you all :)

[2016-05-11 11:53] betatim commented on #11
Whoop! 🏁

Our work here is done, closing the issue.

[2016-05-11 11:53] #11 closed

[2016-05-11 11:55] betatim commented on #11
Actually, where do we click to toggle the badge from under review to published?

[2016-05-11 13:25] arfon commented on #11
@betatim - I have to do this (for now).

[2016-05-11 13:46] cranmer commented on #11
I'm so excited!

[2016-05-11 15:42] whedon opened #17 "Submission: Application Skeleton: Generating Synthetic Applications for Infrastructure Research"
**Submitting author:** @zhaozhang (<a href="http://orcid.org/0000-0001-5921-0035">Zhao Zhang</a>)
**Repository:** <a href="https://github.com/applicationskeleton/Skeleton" target ="_blank">https://github.com/applicationskeleton/Skeleton</a>
**Version:** v1.2
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.13750" target ="_blank">http://dx.doi.org/10.5281/zenodo.13750</a>

## Status

[![stat

[2016-05-11 15:46] arfon commented on #17
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-05-11 16:47] krother commented on #17
:hand: I am reviewing this

[2016-05-11 16:53] krother commented on #17
- References: The article "Pegasus: A framework ..." has a doi that is not listed in the paper. I did not check the other doi-less articles.
- Paper: In my opinion the first paragraph of the summary deserves improvement. For instance, I find it hard to understand that Skeleton is about *distributed* applications.

[2016-05-11 19:19] krother commented on #17
## Recommendation:
I recommend publication after a minor review of the *statement of need* both in the README and the paper. An double-check of the doi-less references would be great.

## General checks
all checked

## Functionality
all checked

- I checked the simple example from the documentaion: it worked out of the box.
- I did not check the Pegasus / Swift examples.

## Documentation

- State

[2016-05-11 19:35] danielskatz commented on #17
Thanks @krother.

I've added the DOIs for the 3 papers that have DOIs now and will work on the other issues.

[2016-05-11 19:41] danielskatz commented on #17
regarding the statement of need, and your comment about distributed applications, I've changed the first paragraph to try to make the need/use of the software more clear, and changed the second paragraph to explain more about what types of applications can be built.  Please let me know if this seems ok, or if you think more changes here are needed.

[2016-05-11 19:51] krother commented on #17
Yes it's definitely better now. I am not entirely sure what to do with the word 'application' (I think mobile app, web app, Python app.. ). I understand for someone developing distributed systems the term translates to 'the program that does the work'. Please correct me if I'm on an entirely wrong track.

[2016-05-11 20:53] danielskatz commented on #17
I've now updated the community guidelines, and we will think about your 'application' comment a bit more, then do something tbd.

[2016-05-11 21:45] danielskatz commented on #17
@krother : I've updated the description of the applications to address your point, and also made the description of the users/need a little more clear, I hope, in both the README and the paper.

Please let us know if this suffices, or if you think it should be further improved.

[2016-05-11 21:51] danielskatz commented on #17
@arfon As we make changes in paper.md and the bib entries, how does the compiled paper get updated?  Or does it not until the review process ends?  It might be nice to have some way that the original submitter could recompile, or a hook that recompiles on changes to specific files in the repo once a submission to JOSS has been made.  If this makes sense, perhaps it should be in issue in the JOSS r

[2016-05-11 22:10] krother commented on #17
Great, I think the text is sufficiently clear now. I'm ticking all the boxes, let's see what happens next.

I have no idea about how to update the paper. I think the JOSS repo is the right place for that.

[2016-05-11 22:11] whedon commented on #17
Compiled paper PDF: [paper.pdf](https://github.com/openjournals/joss-reviews/files/260319/paper.pdf)

[2016-05-11 22:13] arfon commented on #17
@danielskatz - yeah, please file an issue in the main JOSS repo (https://github.com/openjournals/joss). Ultimately I would like this process to be automated.

[2016-05-11 23:13] danielskatz commented on #17
Please update the paper again, as there have been a couple of typos fixes.  Otherwise, I think this is done. - thanks @krother

[2016-05-11 23:23] whedon commented on #17
Compiled paper PDF: [paper.pdf](https://github.com/openjournals/joss-reviews/files/260378/paper.pdf)

[2016-05-12 03:15] arfon commented on #17
@krother - many thanks for the extremely rapid review :zap:

[2016-05-12 03:15] #17 closed

[2016-05-12 03:29] arfon commented on #11
This is now accepted and live on JOSS!

- http://joss.theoj.org/papers/10.21105/joss.00011
- http://dx.doi.org/10.21105/joss.00011

[2016-05-12 03:30] arfon commented on #17
This is now accepted and live on JOSS!

- http://joss.theoj.org/papers/10.21105/joss.00017
- http://dx.doi.org/10.21105/joss.00017

[2016-05-12 03:38] hausen commented on #17
Some chars (the curly quotes and the dashes) are garbled in the reference section.

[2016-05-12 03:40] arfon commented on #17
Yeah, not sure what's going on there. Will investigate.

[2016-05-12 04:52] arfon commented on #17
@hausen this should be fixed now. Can you confirm things are looking good for you now?

[2016-05-12 05:07] hausen commented on #17
It's ok now.

[2016-05-12 06:57] krother commented on #17
Hi Arfon,

this is looking good. Great job starting JOSS. I am very happy about the process!

Best regards,
Kristian

----

Dr. Kristian Rother
(+49) 0176 3052 4691
www.academis.eu

Create Better Science!

On 12 May 2016 at 05:30:06 +02:00, Arfon Smith <notifications@github.com> wrote:

[2016-05-12 12:30] danielskatz commented on #17
Thanks everyone - this was a great process to experience as an author!

[2016-05-12 12:36] Spencerx commented on #17
Some clarity through guidelines should avoid doubt when another review has
to be done sooner or later to avoid any doubt or confusion.
On 11 May 2016 22:53, "Daniel S. Katz" <notifications@github.com> wrote:

[2016-05-12 13:09] danielskatz commented on #11
It seems like the reference is still broken - there's no DOI or URL or way to know where the reference was published or is available

[2016-05-12 13:14] arfon commented on #11
Which reference sorry?

[2016-05-12 13:15] betatim commented on #11
Compare https://github.com/openjournals/joss-papers/blob/master/joss.00011/10.21105.joss.00011.pdf (from the journal page) to the last PDF you posted in this issue. The only reference in the PDF has a link to the arxiv in the version you posted here but not in the journal version

[2016-05-12 13:18] arfon commented on #11
Gotcha. Not sure what happened there. Will investigate.

[2016-05-12 15:26] arfon commented on #12
@jakevdp @nicoguaro - just checking in on this.

[2016-05-12 15:30] whedon opened #18 "Submission: Xenomapper - short read mapping in a mixed species context"
**Submitting author:** @genomematt (<a href="http://orcid.org/0000-0001-6624-4698">Matthew J Wakefield</a>)
**Repository:** <a href="http://github.com/genomematt/xenomapper/" target ="_blank">http://github.com/genomematt/xenomapper/</a>
**Version:** v1.0.1
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.51798" target ="_blank">10.5281/zenodo.51798 </a>

## Status

[![status](http://joss.the

[2016-05-12 15:32] arfon commented on #18
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-05-12 15:33] whedon opened #19 "[REVIEW]: riskscorer - automating risk calculation in clinical practice and research"
**Submitting author:** @meyera (<a href="http://orcid.org/0000-0002-6944-2478">Alexander Meyer</a>)
**Repository:** <a href="https://github.com/meyera/riskscorer" target ="_blank">https://github.com/meyera/riskscorer</a>
**Version:** v0.2.0
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.51342" target ="_blank">http://dx.doi.org/10.5281/zenodo.51342</a>
**Editor:** @arfon
**Reviewer:** @mae

[2016-05-12 15:35] arfon commented on #19
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-05-12 19:32] Spencerx commented on #19
I am reviewing this, surge ahead in case of latency

[2016-05-13 01:38] jakevdp commented on #12
I need to address comments. I've been wrapped up with finishing and astropy PR by tomorrow to get it into v1.2 :smile:

[2016-05-13 08:11] Spencerx commented on #19
So far;
@meyera
Repository is up and running, resolving to mentioned url.
Authors Affiliation and Credit: Checks out ✅
Software License, MIT ✅ check
References are clear enough.

Minor amendments:
You only mispelt "therefore". I'm asserting your audience is in medical or
clinical coding based on the text, this needs an explicit statement in the
abstract in the positive.
So there's a need for a eas

[2016-05-13 19:05] jakevdp commented on #12
OK – I've pushed updates to the mst_clustering repository addressing all of @nicoguaro's concerns. What's the next step @arfon?

[2016-05-13 21:01] arfon commented on #12
@nicoguaro - are we good to accept?

[2016-05-13 21:08] arfon commented on #11
OK, this is fixed in the online PDF now. The PR to fix the bibtex is here: https://github.com/diana-hep/carl/pull/56

[2016-05-13 22:53] arfon commented on #19
@Spencerx - feel free to check off items at the top of the issue as you go...

[2016-05-14 19:34] xuanxu commented on #18
:hand: I am reviewing this

[2016-05-16 10:22] xuanxu commented on #18
## General checks
all checked

## Functionality
all checked
- I confirmed the functionality using code from the test suite

## Documentation
some checked

### Missing:
- Example Usage: There is no example usage or command to run the software using some of the sample data included. **Recommendation**: Add a 'Example usage' section with step-by-step commands to run Xenomapper with files from `xenoma

[2016-05-16 16:37] arfon commented on #18
Many thanks for the review @xuanxu. @genomematt - please let us know when you've addressed @xuanxu's comments and we can move forward.

[2016-05-16 18:37] nicoguaro commented on #12
@arfon - We are good to accept. I just installed it in a different computer to check, and everything seems alright.

[2016-05-16 19:04] arfon commented on #12
👍

[2016-05-16 19:04] #12 closed

[2016-05-16 19:12] arfon commented on #12
Thanks all! http://dx.doi.org/10.21105/joss.00012

[2016-05-17 18:01] whedon opened #20 "Submission: Representation and Manipulation of Genomic Tuples in R"
**Submitting author:** @PeteHaitch (<a href="http://orcid.org/0000-0002-8153-6258">Peter Hickey</a>)
**Repository:** <a href="https://github.com/PeteHaitch/GenomicTuples" target ="_blank">https://github.com/PeteHaitch/GenomicTuples</a>
**Version:** v1.7.3
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.53186" target ="_blank">http://dx.doi.org/10.5281/zenodo.53186</a>

## Status

[![status]

[2016-05-17 18:12] arfon commented on #20
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-05-17 18:20] amoeba commented on #20
:hand: I am reviewing this.

I'll do this tonight (after 8pm pst). if anyone is eager to do a review and wants to take this on before I get to it, please do.

[2016-05-17 18:41] whedon opened #21 "Submission: pyuca: a Python implementation of the Unicode Collation Algorithm"
**Submitting author:** @jtauber (<a href="http://orcid.org/0000-0001-6534-8866">James Tauber</a>)
**Repository:** <a href="https://github.com/jtauber/pyuca" target ="_blank">https://github.com/jtauber/pyuca</a>
**Version:** v1.1.2
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.51550" target ="_blank">10.5281/zenodo.51622</a>

## Status

[![status](http://joss.theoj.org/papers/28430167d67c5

[2016-05-17 18:45] arfon commented on #21
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-05-17 18:46] luizirber commented on #21
:hand: I am reviewing this

[2016-05-17 19:09] luizirber commented on #21
- There are no performance claims, so should I will just check the box?
- Although `test.py` have examples, the `usage` in the README could include an example `words` list (like `["cafe", "caff", "café"]` from [this test](https://github.com/jtauber/pyuca/blob/e048ae43ccc89d33e3d31777701c0e4bdabe8d47/test.py#L17))
- The author affiliation is missing in paper.md
- There are no community guidelines (

[2016-05-17 22:23] whedon opened #22 "[REVIEW]: GRUPO: Gauging Research University Publication Output"
**Submitting author:** @vpnagraj (<a href="http://orcid.org/0000-0003-0060-566X">VP Nagraj</a>)
**Repository:** <a href="https://github.com/vpnagraj/grupo" target ="_blank">https://github.com/vpnagraj/grupo</a>
**Version:** v1.0.0
**Archive:** <a href="http://dx.doi.org/10.6084/m9.figshare.3383653.v1" target ="_blank">https://dx.doi.org/10.6084/m9.figshare.3383653.v1</a>
**Editor:** @arfon
**Revie

[2016-05-17 22:23] whedon opened #23 "Submission: Scowl: a Scala DSL for programming with the OWL API"
**Submitting author:** @balhoff (<a href="http://orcid.org/0000-0002-8688-6599">James P. Balhoff</a>)
**Repository:** <a href="https://github.com/phenoscape/scowl" target ="_blank">https://github.com/phenoscape/scowl</a>
**Version:** v1.1
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.51556" target ="_blank">http://dx.doi.org/10.5281/zenodo.51556</a>

## Status

[![status](http://joss.theo

[2016-05-17 22:27] arfon commented on #23
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-05-17 22:28] arfon commented on #22
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-05-17 22:49] aespinosa commented on #22
hi @arfon I'll review this entry.

[2016-05-17 22:53] janschulz commented on #22
I've had a short look at the software: it is a one page shiny app where you can chose two US universities and a timerange and the app displays the number of papers in PUBMED.

Regarding `Have the functional claims of the software been confirmed?`: IMO yes, but there is IMO a lot more things to build around the idea of analysing such data than simply choosing a date range and showing a bar plot (e.

[2016-05-17 23:18] aespinosa commented on #22
# General Checks

* version - there is no github release or git tag for v1.0.0

# Documetation

* example usage - there's no documented example usage. a screenshot on how to use would be nice
* automated tests - there are none. maybe take a look at Selenium to do basic verification of certain gui elments
* community guidelines - there is no CONTRIBUTING.md file or equivalent

# Software paper

* s

[2016-05-18 02:58] arfon commented on #22
OK thanks for the input @aespinosa & @janschulz.

@vpnagraj - is sounds like there are a few major things to address before we can move forward with this submission.

[2016-05-18 03:11] jtauber commented on #21
I'll add the `["cafe", "caff", "café"]` example to README and add a CONTRIBUTING file.

As to affiliation, I normally leave it blank as my scholarly work is independent (on academia.edu I'm under independent.academia.edu). I *could* put my company but it's not really relevant to this work.

[2016-05-18 03:29] jtauber commented on #21
@luizirber @arfon

I've updated the `README.md` and added a `CONTRIBUTING.md`.

One question (besides the outstanding affiliation question): do I need to re-release and mint a new DOI to include these changes?

[2016-05-18 04:03] luizirber commented on #21
@jtauber I left a [comment](https://github.com/jtauber/pyuca/commit/67728992e1de1d9370804da8f005a1b8c82b25a1#commitcomment-17517151) in the commit, I'll let @arfon answer about the affiliation and re-relase and new DOI questions.

[2016-05-18 04:11] arfon commented on #21
Ideally yes please!

[2016-05-18 05:42] jtauber commented on #21
@luizirber I've addressed your comment. Thank you!
@arfon no problem doing another release. Did you want me to do anything about affiliation first?

[2016-05-18 05:42] amoeba commented on #20
Interesting package. I'm completely out of my depth on the genetics part BioConductor part but I found the software easy to install and was able to run the code in the vignette. I was impressed by the detailed vignette included with the package (realizing its based on a previous vignette). My suggestions are essentially to improve the base README.md which should require copying and possibly slight

[2016-05-18 09:02] xuanxu commented on #23
:hand: I am reviewing this

[2016-05-18 12:47] arfon commented on #21
Leaving it blank is fine.

[2016-05-18 14:33] jtauber commented on #21
Okay, I'll re-release and mint another DOI.

[2016-05-18 14:34] vpnagraj commented on #22
@arfon @aespinosa @janschulz

Thank you all for taking the time to review the submission.

I will take a step back and try to address the issues around functionality / research applications for this software.

Is there currently a process in place for re-submitting? How long will the paper remain under review?

Thanks again for the feedback.

[2016-05-18 17:21] jtauber commented on #21
@luizirber @arfon re-released with new DOI: 10.5281/zenodo.51622

[2016-05-18 17:22] jtauber commented on #21
Note the version has changed to 1.1.2 too.

[2016-05-18 20:43] arfon commented on #21
👍 thanks for the review @luizirber.

[2016-05-18 20:43] #21 closed

[2016-05-18 20:57] arfon commented on #21
@jtauber http://dx.doi.org/10.21105/joss.00021 🎉

[2016-05-18 21:21] arfon commented on #20
👍 thanks for the rapid review @amoeba.

@amoeba - do you think we should seek a second reviewer here to evaluate the domain-specific aspects of the code?

@PeteHaitch - would you mind taking a look at @amoeba's comments and addressing them?

[2016-05-18 21:29] PeteHaitch commented on #20
Indeed, thanks for the speedy review, @amoeba! I aim to address these comments tomorrow morning.
Briefly, however, it seems clear that JOSS would like to encourage developer's to include much of the detail in the README. I'm not against this, but for R packages, and Bioconductor packages in particular, much of this information is in the examples in the `.Rd` documentation files and the vignettes.

[2016-05-18 21:34] labarba commented on #20
I think the solution is simple: explain in the README this convention, including links to the appropriate locations of examples or other documentation files.

[2016-05-18 21:37] amoeba commented on #20
@arfon I think a second reviewer could be good given that I can't fully verify the software does what it sets out to do. Asking another reviewer to simply check out the functional aspects of the code would be great.

[2016-05-18 21:41] PeteHaitch commented on #20
@arfon: BTW, the package includes many examples beyond the vignette. However, I haven't used roxygen2 to create the `.Rd` files, hence there are no `@example` tags in the `.R` files

[2016-05-18 21:42] PeteHaitch commented on #20
@labarba That sounds good to me, I'll do that in my amended submission.

[2016-05-18 21:47] kyleniemeyer commented on #16
Haven't forgotten about this, just been busy... plan to review this in the next day or so.

[2016-05-19 04:30] jtauber commented on #21
Thanks @luizirber and @arfon.  🎉

[2016-05-21 03:55] genomematt commented on #18
@xuanxu @afron - updated version addressing review comments pushed.  Examples are still a bit sparse but I will continue to add to them.  Data access issues with most of the worked examples I already have so I will need to hunt up some more datasets.  I really want these to be runnable notebooks. I also added an extra affiliation line to reflect my dual appointment to the paper.md

[2016-05-21 19:10] xuanxu commented on #18
:+1: thanks @genomematt!
I've checked both missing points and I consider this publication-ready now.
A small doubt, @arfon & @genomematt: the [archive link](https://zenodo.org/record/51337) in this issue and the "DOI for current release" link in the "How to cite Xenomapper" section both still point to version 1.0.0. Probably a new DOI should be created for the current 1.0.1 version and have both l

[2016-05-22 00:55] genomematt commented on #18
Ok @arfon and @xuanxu I have made an updated release with a new zenodo id 10.5281/zenodo.51798 but this is in the whedon part of the submission not the paper.md so I can't see a way for me to edit it.

Updated the how to cite to reflect JOSS, and the Zenodo badge updates automatically (links to current version not a fixed DOI).

[2016-05-22 09:57] xuanxu commented on #18
All checked!

[2016-05-22 14:17] genomematt commented on #18
Thanks @xuanxu
@arfon PDF will need regenerating.  Look forward to being official!  Where do I sign up as a reviewer and evangelist?

[2016-05-22 14:45] arfon commented on #18
Thanks @xuanxu for the review.

👍 - yes, it's regenerated and should be correct at https://github.com/openjournals/joss-papers/blob/master/joss.00018/10.21105.joss.00018.pdf

@genomematt - your DOI _will_ be http://dx.doi.org/10.21105/joss.00018 but the Crossref system seems to be a little backed up right now (this paper is pretty far back in the queue).

I'd be happy to add you to the `@openjourn

[2016-05-22 14:45] #18 closed

[2016-05-22 14:53] arfon commented on #10
*Bump* @hrbrmstr - have you had a change to look at these suggested modifications?

[2016-05-22 16:13] PeteHaitch commented on #20
Thanks again for the review, @amoeba. I've updated the README as follows:

- __Statement of need:__ Included intro paragraph to explain that the package is for storing and manipulating tuples of genomic loci (also added to repo subtitle). Explained that __GenomicTuples__ is intended to extend the functionality of the popular GenomicRanges package for use with tuples rather than ranges of genomic l

[2016-05-22 19:52] meyera commented on #19
@Spencerx @arfon
Thank you for reviewing my submission. I am not totally sure how the processes work, that's why I just would like to ask: should I start to revise the points mentioned by @Spencerx right now and commit or wait until the review is finished and I get the official decision to revise?
Thank you very much for your effort.
Alex

[2016-05-22 20:20] amoeba commented on #20
This looks perfect. I ran through the install instructions and example code in the updated README.md and checked the URLs. It all looks great! Thanks for taking the time to consider my edits. You did a nice job addressing my suggestions.

I have checked off the remaining items in the review checklist.

Grade (1):  Accept

@arfon Given that edits to the source code were made after submission, does

[2016-05-22 22:31] genomematt commented on #18
@arfon Only the second affiliation comes up on the PDF.  I will raise a bug.

Yes, add me to @openjournals/joss-reviewers

[2016-05-22 22:47] arfon commented on #20
@PeteHaitch - could you suggest a second reviewer to take a look at the library functionality that @amoeba wasn't comfortable reviewing?

[2016-05-22 22:54] arfon commented on #18
Excellent, thanks! You should have received an invite to join the team.

[2016-05-22 23:13] ctb commented on #20
I can take a look. I'm no R expert but I do -omic some genomes occasionally.
Will take me a day or two tho.

[2016-05-22 23:18] PeteHaitch commented on #20
@ctb: That'd be great if you could take a look. I'm quite confident you'll be able to assess it and I don't think any super R expertise is required. If needs be, I can probably come up with some reviewers from the Bioconductor community.

[2016-05-23 16:10] arfon commented on #18
@genomematt - the DOI is now live: http://dx.doi.org/10.21105/joss.00018

[2016-05-23 18:17] kyleniemeyer commented on #16
OK, finally performed my review (sorry for the delay!). Here are my comments:

* No performance claims (other than in one place stating performance is poor), so technically this is question is satisfied.

* Typo in Usage section of the README (also first page of the docs): `eos = eos_defn.eos_gamma_law(5.0/3.0)` should be `eos = eos_defns.eos_gamma_law(5.0/3.0)`. In addition, that section could be

[2016-05-23 18:21] kyleniemeyer commented on #16
In fact, I went ahead and corrected the typo in the docs directly via harpolea/r3d2#2

[2016-05-23 18:24] kyleniemeyer commented on #16
Of course, any other eyes on this (e.g., @gravypod) can only help.

[2016-05-23 18:27] xuanxu commented on #18
:tada:

[2016-05-23 21:23] arfon commented on #22
Excellent.

We're happy to leave this pending until you've made your improvements to the package. Please comment on this thread when you're ready for a re-review.

[2016-05-24 11:00] harpolea commented on #16
Thanks @kyleniemeyer - we've improved the documentation (adding docstrings to functions and removing the redundant 'Indices and Tables' section from the online docs) and the statement of need: harpolea/r3d2#3, harpolea/r3d2#4, harpolea/r3d2#5

[2016-05-26 01:16] ctb commented on #20
LGTM!  I made a small pull request and would recommend that you run spellcheck on the documentation, but overall looks very complete. thx, nice work!

[2016-05-26 01:22] PeteHaitch commented on #20
Thanks, Titus. I'll run a spell check over it tomorrow and report back here. Hopefully we'll then be good to go.

[2016-05-26 15:04] arfon commented on #19
@meyera - feel free to make some changes as you go. Just let @Spencerx know that you've made them.

[2016-05-26 18:57] PeteHaitch commented on #20
Typos fixed and pushed
@arfon Do I need to mint a new DOI? Anything else I need do?

[2016-05-27 02:37] arfon commented on #20
@PeteHaitch - yeah, if you've made changes then minting a new DOI would be great. Feel free to just drop the URL to the new DOI in this thread and I'll do the updates.

[2016-05-27 02:39] whedon opened #24 "Submission: corner.py: Scatterplot matrices in Python"
**Submitting author:** @dfm (<a href="http://orcid.org/0000-0002-9328-5652">Daniel Foreman-Mackey</a>)
**Repository:** <a href="https://github.com/dfm/corner.py" target ="_blank">https://github.com/dfm/corner.py</a>
**Version:** v2.0.0
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.53155" target ="_blank">http://dx.doi.org/10.5281/zenodo.53155</a>

## Status

[![status](http://joss.theoj.o

[2016-05-27 02:43] arfon commented on #24
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-05-27 02:44] tacaswell commented on #24
:hand: I will take a look at this over the weekend

[2016-05-27 05:11] kyleniemeyer commented on #16
@harpolea those changes look good—did you update the paper with the new statement of need?

@arfon: where would an updated paper show up?

[2016-05-27 12:22] arfon commented on #16
I updated the paper in the original review issue.

[2016-05-27 12:28] harpolea commented on #16
@kyleniemeyer Yes, we updated the paper to include more background information on the Riemann problem and its uses

[2016-05-27 13:18] PeteHaitch commented on #20
@arfon I made a [new release](https://github.com/PeteHaitch/GenomicTuples/releases) but I've gotten myself confused on the DOI and badge. Can you please help?

The [README](https://github.com/PeteHaitch/GenomicTuples/blob/master/README.md) currently uses:

[code]
to display the "latest" DOI badge and link. That image currently shows __[10.5281/zenodo.51498](http://dx.doi.org/10.5281/zenodo.51498)_

[2016-05-27 14:24] Spencerx commented on #19
@meyera feel free to take your time and get it right the way you need it

On Thursday, 26 May 2016, Arfon Smith <notifications@github.com> wrote:

--
Regards
[image: Spencer online]

Spencer
LinkedIn.com/in/Spencerx

[2016-05-27 14:37] arfon commented on #20
Not sure sorry. Zenodo is a third party service.

I think either is fine. The latest might make sense for people who stumble upon your repo? I'm mostly concerned that we have the correct DOI associated with this paper which is http://dx.doi.org/10.5281/zenodo.53186 right?

[2016-05-27 15:28] PeteHaitch commented on #20
Yep, that's the one. Thanks!

[2016-05-27 15:35] kyleniemeyer commented on #16
OK, at this point I think all the review criteria are satisfied.

@arfon recommend accepting now! (meta ?: should I let you add the "accepted" label, or do that myself?)

[2016-05-27 15:47] arfon commented on #16
:boom: 🎉

[2016-05-27 15:47] #16 closed

[2016-05-27 15:56] arfon commented on #16
@harpolea: http://dx.doi.org/10.21105/joss.00016 :zap: :boom: :rocket:

[2016-05-28 18:51] tacaswell commented on #24
I actually have 1 commit into this project (completely forgot about that until my name showed up in the author list on zenodo).  It is an almost trivial change: https://github.com/dfm/corner.py/commit/8b87b92739974ce48f84f0b43e2c208472b8035f

I suspect that I am being pedantic about conflict of interest here, but is this a problem?

[2016-05-28 19:02] arfon commented on #24
Thanks for bringing this to my attention. Given that the commit is very small I think it's ok to proceed with the review.

[2016-05-28 20:00] xuanxu commented on #23
Review finished, every point is checked but one:

### Community guidelines
There is no mention on how to contribute, report bugs or get support.

Please add a 'How to contribute' section to the README with at least a brief statement encouraging posible contributors to help pointing them to open a new github issue. Add also information on how to report a problem (opening an issue should be OK) and

[2016-05-28 22:00] genomematt commented on #24
@arfon I think for COI we should say bug fix patches are ok (need to be declared) but not feature additions.  This is clearly a bug fix.  With reviewers who are active and projects that are useful bug fixes may be common, and the last thing we want is to inhibit our reviewers from fixing bugs.

[2016-05-29 01:08] arfon commented on #23
Thanks for the review @xuanxu! @balhoff - could you take a look at the reviewer's responses and see what you think?

[2016-05-29 01:37] arfon commented on #20
@PeteHaitch http://dx.doi.org/10.21105/joss.00020 :party: :rocket: :boom:

Thanks for the review @amoeba & @ctb

[2016-05-29 01:37] #20 closed

[2016-05-29 01:43] PeteHaitch commented on #20
Woohoo 🎉 Thanks, @arfon, @amoeba, and @ctb. Great experience, 10/10 would do again

[2016-05-29 02:20] arfon commented on #24
@genomematt - I've added a small clarification here: https://github.com/openjournals/joss/commit/dad06058f66a9681508c907fb44b27f43e37c2c9

Perhaps we should add something to the reviewer guidelines too?

[2016-05-30 02:17] whedon opened #25 "Submission: GeneNetwork: framework for web-based genetics"
**Submitting author:** @pjotrp (<a href="http://orcid.org/0000-0002-8021-9162">Pjotr Prins</a>)
**Repository:** <a href="https://github.com/genenetwork/genenetwork2" target ="_blank">https://github.com/genenetwork/genenetwork2</a>
**Version:** 2.0-a8fcff4
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.53740" target ="_blank">10.5281/zenodo.53740</a>

## Status

[![status](http://joss.theoj

[2016-05-30 02:27] arfon commented on #25
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-05-30 08:10] krother commented on #25
:hand: I am reviewing this

[2016-05-31 14:29] balhoff commented on #23
Thanks @xuanxu! I updated the [README](https://github.com/phenoscape/scowl#question-or-problem) and added [CONTRIBUTING.md](https://github.com/phenoscape/scowl/blob/master/CONTRIBUTING.md). Please let me know what you think.

I also updated [paper.bib](https://github.com/phenoscape/scowl/blob/master/paper.bib), hoping to eliminate duplicate URLs in the reference output.

[2016-05-31 15:19] xuanxu commented on #23
Thanks @balhoff! It looks good to me.
All points checked, this is publication-ready @arfon.

[2016-06-01 03:20] arfon commented on #23
Thanks for the review @xuanxu!

@balhoff http://dx.doi.org/10.21105/joss.00023 🎉 🚀 :boom:

[2016-06-01 03:20] #23 closed

[2016-06-01 07:49] krother commented on #25
This is how software papers I like to read should look like!
I have a number of small suggestions:
- 1st par: "experimental data" could be fleshed out in 2-3 words for the biologist reader (is it SNPs, microarray data, NGS, Y2H or manually counted individuals?)
- 2nd par: "can be found in ___ guix-bioinformatics", please insert 'the article', 'the package', 'the lab fridge labeled'.. whichever is

[2016-06-01 07:58] pjotrp commented on #25
Thanks @krother for reviewing this very complex project! We'll clarify the text.

Also @agarie promised to review. Do we need a second reviewer?

[2016-06-01 08:43] krother commented on #25
Not necessarily. I think a few of the points above (contribution, mini-summary) could be spelled out in the README.

Apart from that, I'm looking forward to see the software in action. At the moment, I'm trying to install guix (binary tarball is 404, Github issue pending).

[2016-06-01 09:16] pjotrp commented on #25
We can support you on the #genenetwork IRC channel if you like. Guix binary reproducible installs can be a bit daunting the first time because there are quite a few newish concepts.

[2016-06-01 12:48] balhoff commented on #23
Great! @arfon would it be possible to regenerate the PDF at this point? I had made some tweaks to the references file hoping to remove duplicated URLs from the output.

[2016-06-01 15:02] arfon commented on #23
@balhoff - I regenerated it when I generate the DOI: https://github.com/openjournals/joss-papers/blob/master/joss.00023/10.21105.joss.00023.pdf

Does ☝️ look good? If not, we can update it.

[2016-06-01 15:11] balhoff commented on #23
@arfon I just updated paper.bib to remove the `howpublished` field. The website citations were showing the URL twice. Hopefully this will fix it. Can you regenerate? Thanks!

[2016-06-01 15:20] arfon commented on #23
Is this better? https://github.com/openjournals/joss-papers/blob/master/joss.00023/10.21105.joss.00023.pdf

[2016-06-01 15:22] balhoff commented on #23
Yes, thanks!

[2016-06-01 19:51] agarie commented on #25
Ooops, sorry for not posting before, I'm reviewing this.

* You could add a CONTRIBUTING.md file, as explained in [Setting guidelines for repository contributors](https://help.github.com/articles/setting-guidelines-for-repository-contributors/). Specifically, what are your requirements re: testing and documentation?
* How do I run the tests?
* As @krother said, these points could be added to the R

[2016-06-02 07:53] pjotrp commented on #25
@krother I have addressed these in the following commits:

https://github.com/genenetwork/genenetwork2/commit/e241d27ccd3302632fec52043fc8b42125f4cfd7

https://github.com/genenetwork/genenetwork2/commit/9669b09bdd8885acae07e05cb878e575b1b2c6e1

https://github.com/genenetwork/genenetwork2/commit/3788a3ae75d8260c167818786aeeeb20b22fb305

Yes, the code is being developed in this repo: https://github.

[2016-06-02 08:42] pjotrp commented on #25
@krother, @agarie I think I addressed most JOSS requirements by updating the README with:
https://github.com/genenetwork/genenetwork2/commit/e3fc8d16cff08ee9f42bf937121f7119d2670ded

That includes a statement of work, contact and how to contribute. We do not prescribe guidelines for coding standards etc. Maybe that will come in the future.

Note: the testing framework is new and still limited in s

[2016-06-02 08:58] krother commented on #25
I find the README.md much more informative now. Thanks!

[2016-06-02 09:01] pjotrp commented on #25
@krother and @agarie: when it comes to installation, GN2 installation reflects that it is a rather complex product with a huge number of dependencies. It includes a recent R with packages. It includes Python with packages. It includes C++ modules. It will include OpenCL dependencies soon. Even so, GNU Guix provides a *reliable* byte-identical installation path with source *and* binary deployment.

[2016-06-03 14:58] agarie commented on #25
The improved README is good!

I tried to build everything but couldn't download the tarball for `AnnotationDbi`. After reading that IRC log, the best way to install GN2 is apparently to download the substitutes from http://guix.genenetwork.org:8080, right? Given the complexity of the software, I'm fine with needing a bit of help during installation, but if you could put a public key on the docs ("

[2016-06-04 07:47] pjotrp commented on #25
@agarie, thanks, building from source can fail when upstream package maintainers remove a tar source ball. In Guix recently infrastructure was added to cache source tar balls too - so this will soon be a thing from the past.

The use of the caching guix server makes installation a lot faster - because you don't have to build everything. This is a limited guix server since it only contains GN2 rela

[2016-06-04 20:51] agarie commented on #25
I got genenetwork2 working on my own machine, using the test database (linked from [here](https://github.com/genenetwork/genenetwork2/blob/master/doc/README.org#run-mysql-server)), so the installation instructions are correct. :)

With that out of the way, @arfon, my recommendation is for acceptance.

[2016-06-05 17:12] pjotrp commented on #25
Thanks @agarie! I am really glad you succeeded because there are quite a few steps. Not surprising for a web framework with a host of dependencies. Even so, I think I can turn it into a cookbook approach - line by line.

During the installation, what were the hurdles? So we can focus on those and improve the documentation. The obvious one is the use of the Guix key for the binary caching server.

[2016-06-06 03:09] agarie commented on #25
Yeah, the key was the biggest problem — this was my first time trying out guix, but the documentation explaining how to setup guix, your notes, and the installation instructions from genenetwork2 did the job. Not that it was easy, but it's definitely doable... maybe an installation "from scratch" beginning with a quick guix install + setup? Or at least links to a tutorial with just that?

[2016-06-06 10:40] krother commented on #25
Yes I'd like to give it a try as well.

[2016-06-08 10:09] pjotrp commented on #25
@krother I wrote a 'quick installation recipe' which does not require building the software.

See https://github.com/pjotrp/genenetwork2/tree/paper/doc#quick-installation-recipe

[2016-06-08 10:21] pjotrp commented on #25
BTW we also have a plant database available now (3GB). I should add that to the paper.

[2016-06-08 13:42] tacaswell commented on #24
@dfm `quantile` is exported in the `__all__`, but is not in the built docs nor is it's docstring numpydoc format.  Was this intended to be part of the public API?

This paper makes no performance claims, how does that get handled?

The mpl paper has a DOI http://dx.doi.org/10.1109/MCSE.2007.55

The citation to the ADS search results seems strange to me, I think it is ok to assert an 'also known as

[2016-06-08 13:43] tacaswell commented on #24
I recommend publication on revision of my minor comments.

[2016-06-08 13:43] arfon commented on #24
In that case you can just check the box.

[2016-06-08 15:12] dfm commented on #24
@tacaswell: Thanks for the suggestions. I've added some tests and documentation for the quantiles function. I added the DOI for the matplotlib paper and removed the ADS citation.

Thanks!

[2016-06-08 16:04] arfon commented on #24
Thanks for the review @tacaswell.

@dfm your DOI will be http://dx.doi.org/10.21105/joss.00024 once the Crossref queue is processed (looks a little backed up right now).

[2016-06-08 16:13] dfm commented on #24
@arfon: what are your thoughts on submitting a paper from joss to arxiv?
On Wed, Jun 8, 2016 at 12:05 PM Arfon Smith <notifications@github.com>
wrote:

[2016-06-08 16:16] arfon commented on #24
Fine by me. My only request would be that you update the arXiv metadata to point to the JOSS DOI.

[2016-06-08 16:17] pjotrp commented on #25
The GTK+ fix in the recipe is actually a known bug in Guix: http://debbugs.gnu.org/cgi/bugreport.cgi?bug=21888. Mentioned workaround does fix it.

[2016-06-08 20:55] dfm commented on #24
Done. One request for the future: I had to download the pandoc latex template and generate the .tex file to submit to arxiv (they spot PDFs that were generated by LaTeX) so it would be great to make the tex available somewhere!

[2016-06-08 21:09] danielskatz commented on #24
I notice that "References: Do all archival references that should have a DOI list one (e.g. papers, datasets, software)?" never got checked in the review.  There are references listed, and while one has a DOI, the Matplotlib paper also should (specifically, 10.1109/MCSE.2007.55).  I wonder if we have a process problem here?  It seems like the review shouldn't be finalized and the paper shouldn't b

[2016-06-08 21:11] dfm commented on #24
These changes were made here: https://github.com/dfm/corner.py/blob/master/paper/paper.bib ... I'm not sure if there was something else I needed to do.

[2016-06-08 21:13] danielskatz commented on #24
It looks like there was a paper regeneration step that didn't get done.  @arfon ?

[2016-06-08 21:27] arfon commented on #24
Darn it, yes, looks like human error (on my part). Will update.

[2016-06-09 09:00] pjotrp commented on #25
To get an idea of the complexity of GN2, see the graph of dependencies at http://biobeat.org/gn2.svg

[2016-06-09 12:24] dfm commented on #24
It looks like you have updated it now. Should we close this issue again or are there outstanding problems?

[2016-06-09 12:30] danielskatz commented on #24
agreed

[2016-06-09 12:30] #24 closed

[2016-06-09 13:53] whedon opened #26 "Submission: Armadillo: a template-based C++ library for linear algebra"
**Submitting author:** @conradsnicta (<a href="http://orcid.org/0000-0002-0049-4501">Conrad Sanderson</a>)
**Repository:** <a href="https://github.com/conradsnicta/armadillo/" target ="_blank">https://github.com/conradsnicta/armadillo/</a>
**Version:** v7.200.1b
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.55251" target ="_blank">10.5281/zenodo.55251</a>

## Status

[![status](http://jos

[2016-06-09 14:00] arfon commented on #26
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-06-09 14:44] wrathematics commented on #26
I am reviewing this.

[2016-06-09 21:59] wrathematics commented on #26
Done reviewing. I have only a few minor comments.

The DOI for the software repository (incorrectly) lists the license as MPL 1.1, rather than MPL 2.0. This may seem minor, but it's worth nothing that MPL 1.1 is not an OSI approved license, though MPL 2.0 is. I actually had a mild moment of panic when I saw that, because my understanding is MPL 1.1 isn't GPL compatible, which would affect a large

[2016-06-09 22:56] arfon commented on #26
Thanks for the rapid turnaround @wrathematics!

@conradsnicta - can you reply on this thread when you've had a chance to address this?

[2016-06-10 02:40] conradsnicta commented on #26
@arfon - I've fixed the license metadata on the Zenodo archive. It now states "License: Other (Open)". Zenodo currently doesn't have an option for MPL v2.0, so this is the closest choice.

Also, I've incorporated a few minor fixes to the references (paper.bib). Could you pull them in and regenerate the paper PDF?

[2016-06-10 10:03] pjotrp commented on #25
@krother I updated the docs and reran the installation with success in a fresh and basic Debian VM. If you follow the instructions it takes a few minutes of keyboard actions (copy-paste only). Please try
https://github.com/genenetwork/genenetwork2/tree/master/doc#quick-installation-recipe

Downloading the software takes an hour on my 5 Mbs connection. Mind, the download activity is mesmerizing, so

[2016-06-10 13:50] arfon commented on #26
Updated paper: [10.21105.joss.00026.pdf](https://github.com/openjournals/joss-reviews/files/309093/10.21105.joss.00026.pdf)

[2016-06-10 13:50] arfon commented on #26
@conradsnicta - sounds good.

[2016-06-10 13:58] arfon commented on #26
@conradsnicta - I think this is good to accept now. Are there any other changes you're planning on making?

/ cc @wrathematics

[2016-06-10 14:35] conradsnicta commented on #26
@arfon - no changes from my side.

However, there seems to be an inconsistency in the referencing style in the generated paper (page 2). Specifically, the ordering of the names doesn't appear right: the first author in each reference is listed as Lastname, Firstname, and then following authors are listed as Firstname, Lastname. Is this deliberate?

[2016-06-10 14:57] arfon commented on #26
Yeah, I'd spotted that too. I'm just using the default bibliographic style from LaTeX/Pandoc.

[2016-06-10 15:08] conradsnicta commented on #26
Maybe try this in the preamble of paper.tex:
    `\usepackage{natbib}`
    `\setcitestyle{authoryear,open={(},close={)}}`
then use `\citep{refname]` inside the body for citations.
Finally, just before `\end{document}`:
      `\bibliographystyle{plainnat}`
      `\bibliography{paper}`

[2016-06-10 15:10] conradsnicta commented on #26
@arfon - Maybe try this in the preamble of paper.tex:
    `\usepackage{natbib}`
    `\setcitestyle{authoryear,open={(},close={)}}`
then use `\citep{refname}` inside the body for citations.
Finally, just before `\end{document}`:
      `\bibliographystyle{plainnat}`
      `\bibliography{paper}`

[2016-06-10 15:17] arfon commented on #26
Thanks @conradsnicta, I tried adding most of this to the [LaTeX template](https://github.com/openjournals/whedon/blob/master/resources/latex.template) but it didn't seem to change the PDF output.

I don't think we can do this as we go from the Markdown to PDF (via LaTeX) in a single step [here](https://github.com/openjournals/whedon/blob/master/lib/whedon/processor.rb#L152-L171) with the citations

[2016-06-10 15:30] conradsnicta commented on #26
@arfon - sounds good.  Please go ahead.

[2016-06-10 15:35] conradsnicta commented on #26
@arfon - issue filed: https://github.com/openjournals/whedon/issues/2

[2016-06-10 16:07] arfon commented on #26
@wrathematics many thanks again for the rapid review here!

@conradsnicta - the DOI for this paper is http://dx.doi.org/10.21105/joss.00026 🎉 🚀 :boom:. The URL doesn't resolve just yet as the Crossref submission queue is a little backed up.

[2016-06-10 16:07] #26 closed

[2016-06-12 01:47] whedon opened #27 "Submission: sourmash: a library for MinHash sketching of DNA"
**Submitting author:** @ctb (<a href="http://orcid.org/0000-0001-6001-2677">C. Titus Brown</a>)
**Repository:** <a href="https://github.com/dib-lab/sourmash/" target ="_blank">https://github.com/dib-lab/sourmash/</a>
**Version:** 1.0
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.153989" target="_blank">10.5281/zenodo.153989</a>

## Status

[![status](http://joss.theoj.org/papers/3d793c6e7

[2016-06-12 01:50] arfon commented on #27
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-06-13 13:07] krother commented on #25
Hi, I have to report that I am stuck with the installation of guix (got a 'unknown locale' at step 7). Given the amount of operations on root level, I am also concerned about the health of my system. Is it possible to install the whole thing in some kind of sandbox?
I don't want to block the review process - what are our options?

[2016-06-13 13:38] pjotrp commented on #25
@krother you can ignore the lcale error. It is harmless.

Your system is safe because guix itself and its packages are installed in /gnu/store - which is isolated from the rest of you system. A database is installed in /var/guix and an access key in /etc/acl.

One of the great things about guix is that it runs on top of any existing system.

Even so, you can install in a VM, such as KVM or Virtual

[2016-06-13 13:54] roelj commented on #25
If I may jump in..

@krother:
Your system is safe.  The only thing Guix does, is install things to `/gnu/store` and to `/var/guix/`.  By default, commands you type are looked for in directories specified by a `PATH` variable. Guix creates a system on top of a system, so to use programs installed with Guix, you have to add an entry to the `PATH` variable. Removing it, and removing `/gnu/store` and

[2016-06-13 14:16] krother commented on #25
Thanks for the quick reply. I'll try VirtualBox .. have been looking for an excuse to try that for some time :-)

[2016-06-13 14:56] pjotrp commented on #25
In general a wise idea when installing and testing software from other parties, though you are safe with Guix. If you get stuck I'll try to document those VirtualBox steps too.

[2016-06-13 15:46] arfon commented on #25
Hi @krother, given that this installation seems to be causing significant trouble for you and that @agarie has managed to install the application already I'm happy to stop here if that makes things easier?

If you agree, we can (I believe) move forward to accept.

[2016-06-13 18:22] krother commented on #25
Yes, I have seen a lot improving, and in my opinion the review process has worked well. I just checked the examples in the documentation and ticked the two remaining boxes in 'Documentation'. I agree with your suggestion to move forward to accept.

[2016-06-13 19:35] arfon commented on #25
👍 thanks @krother.

@pjotrp - do you want to make a new Zenodo release with your changes or has this already been done?

[2016-06-13 20:38] pjotrp commented on #25
@krother thanks!

@arfon no changes in the release - we only added to the documentation to clarify the installation process. Happy to go public on the current Zenodo doi.

[2016-06-13 20:54] jkahn commented on #27
:hand: I am reviewing this submission.  I should have a review by end of week; likely sooner.

[2016-06-14 02:30] arfon commented on #25
👍 thanks for the review @krother & @agarie.

@pjotrp - your DOI is http://dx.doi.org/10.21105/joss.00025 :zap: 🚀 :boom:

[2016-06-14 02:30] #25 closed

[2016-06-15 14:00] ctb commented on #27
Hi @jkahn thx - note that I just updated master with a bug fix (and a test for the bug :) for a bug discovered yesterday.

[2016-06-15 16:13] whedon opened #28 "Submission: Phylogemetric: A Python library for calculating phylogenetic network metrics"
**Submitting author:** @SimonGreenhill (<a href="http://orcid.org/0000-0001-7832-6156">Simon Greenhill</a>)
**Repository:** <a href="https://github.com/SimonGreenhill/phylogemetric" target ="_blank">https://github.com/SimonGreenhill/phylogemetric</a>
**Version:** v1.0.0
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.55663" target ="_blank">http://dx.doi.org/10.5281/zenodo.55663</a>

## Sta

[2016-06-15 17:45] arfon commented on #28
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-06-15 21:41] krother commented on #28
:hand: I am reviewing this

[2016-06-16 07:12] krother commented on #28
Checked both doi-less references. They in fact have no doi.

[2016-06-16 07:19] krother commented on #28
This is a small but very neat piece of software. It works smoothly and I understood everything (the Eigen paper on quartet analysis/statistical geometry was one of my favourites as a student). I have a couple of suggestions:

- One line on how to install the program (python setup.py install works for me) would be fine.
- One example (plus adding a small Nexus file to the repository) would make it

[2016-06-16 07:23] krother commented on #28
Another idea: since the Holland paper is available in full-text it could be hyperlinked from the README.

[2016-06-16 07:28] krother commented on #28
I am currently running a simple performance benchmark on the software. I generated 100 sequences of length 100. Finished in 1:30 on my machine. Then I generated 1000 sequences of length 100. Still running after 30 minutes. It might be worth mentioning what size of input the software is intended for (or its O(n) behaviour). Just to give students a chance to see the warning sign before they push all

[2016-06-16 16:16] arfon commented on #28
@krother, I'm pretty sure this is a standard BDS 3-Clause license: https://opensource.org/licenses/BSD-3-Clause

[2016-06-16 17:00] danielskatz commented on #28
@arfon, it's close, but not quite standard.

[2016-06-16 17:16] arfon commented on #28
@danielskatz - the only difference I see here is that they've substituted 'copyright holder' for 'Treemaker' on this line:

3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.

Am I missing something?

[2016-06-16 17:20] pjotrp commented on #25
@arfon thanks for the great journal! In the paper there is a typo in Prof. Wiliams' name and I amended a URL to point to the master branch. Can you fix that, please?

See https://github.com/genenetwork/genenetwork2/commit/75c7a0828625e3aaf6326e91fadf20df96207fc3

[2016-06-16 17:28] danielskatz commented on #28
No, but that seems to me to be a potentially important difference, and one that doesn't have any benefit.

[2016-06-16 17:29] arfon commented on #28
👍 ok. I agree that for clarity this should be switched back to the standard language. @SimonGreenhill - would you mind switching the language back to the license text here: https://opensource.org/licenses/BSD-3-Clause

[2016-06-16 23:30] jkahn commented on #27
I am not a copyright lawyer, but I don't think the text given in the release is exactly what [the BSD 3-clause](https://opensource.org/licenses/BSD-3-Clause) would say. For one thing, the Regents of the U of C *and* the MSU are mentioned the `LICENSE` file, but only the RofUofC in the header.  (I understand that @ctb has probably moved from one to the other, looking at @dib-lab .

[2016-06-17 02:27] whedon opened #29 "Submission: Git-RDM: A research data management plugin for the Git version control system"
**Submitting author:** @ctjacobs (<a href="http://orcid.org/0000-0002-0034-4650">Christian T. Jacobs</a>)
**Repository:** <a href="https://github.com/ctjacobs/git-rdm" target ="_blank">https://github.com/ctjacobs/git-rdm</a>
**Version:** v1.0.0
**Archive:** <a href="https://dx.doi.org/10.6084/m9.figshare.3443750.v1" target ="_blank">10.6084/m9.figshare.3443750.v1</a>

## Status

[![status](http://

[2016-06-17 02:32] arfon commented on #29
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-06-17 02:34] desilinguist commented on #29
:hand: I am reviewing this
On Thu, Jun 16, 2016 at 10:32 PM Arfon Smith <notifications@github.com>
wrote:

[2016-06-17 12:12] arfon commented on #25
Sure thing. That should be fixed now.

[2016-06-17 13:01] jsta commented on #29
:hand: I am reviewing this

[2016-06-17 13:53] SimonGreenhill commented on #28
Hi all, thanks for the comments/suggestions, I'll make them ASAP.

I had intended a generic BSD-3 clause, so not sure what happened (perhaps I did a dumb search and replace that messed something up -- TreeMaker  is another package I wrote). Will revert to BSD-3

[2016-06-17 14:56] jsta commented on #29
- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (such as being a major contributor to the software).

### General checks

- [x] **Repository:** Is the source code for this software available at the <a target="_blank" href="https://github.com/ctjacobs/git-rdm">repository url</a>?
- [x] **License:** Does the repository contain a plain-text LICENSE f

[2016-06-17 14:59] desilinguist commented on #29
I had replied last night that I would be reviewing this via email. I guess that not everyone saw that? Anyway, I deleted my comment and I am happy to let @jsta review this one 👍.

[2016-06-17 15:06] alex-konovalov commented on #29
Similar thing happened to me with another paper last week. I was away from browser and was only able to reply by email, but my comment did not appear under that paper so it was reviewed by another person (thanks!).

Could it be a more general problem?

[2016-06-17 15:19] jsta commented on #29
@desilinguist I saw your reply. However, I neglected to do a thorough check of other submissions or I would have seen that it was the norm to only have one reviewer per submission. I just assumed that multiple people reviewed each submission. My apologies!

[2016-06-17 15:20] desilinguist commented on #29
Ah, I see. No worries at all! You finished your review faster than I would have anyway which is better for all of us 👍

[2016-06-17 15:29] ctjacobs commented on #29
Thank you all so much for your interest in this, and for the extremely fast review! I'll start addressing your comments within the next few days.

[2016-06-17 16:49] jsta commented on #29
I realized that my comment about `.rdm/publications.db` in the **Example Usage** section is solved by:

However, I ended up verifying the contents of the file separately using:

In summary, I can see some room for improvement in the way the output of `$ git rdm ls` is formatted.

[2016-06-17 19:35] jkahn commented on #27
updated the checklist so that there are unchecked boxes corresponding to the open questions.

[2016-06-18 02:55] arfon commented on #28
@danielskatz I've been investigating how GitHub handles the templating of the BSD 3-clause license. It looks like we swap out `copyright holder` for the name of the repository: see [here](https://github.com/arfon/test-repository/blob/master/LICENSE#L14) for example.

As @SimonGreenhill entinoed, in this case it looks like `TreeMaker` is the name of another package but it seems like we should be to

[2016-06-18 02:59] arfon commented on #29
@alex-konovalov - I'm not sure what we can do about this sorry. The only tried-and-tested solution here is to visit the review issue to see if anyone has already commented on it.

Also, while we don't have a firm policy about this, having a second review isn't really a bad thing :wink:

[2016-06-18 12:46] danielskatz commented on #28
@arfon I disagree with you about the templating.  In clause 3, I'm fairly sure "copyright holder" is part of the license text, not a template variable to be filled in.  See https://opensource.org/licenses/BSD-3-Clause   This makes it clear (to me, at least) that the only variation in the license should be in the first line.

[2016-06-18 13:51] arfon commented on #28
@danielskatz - sorry, should have clarified: I wasn't trying to say this was the definitely the 'correct' behaviour, rather just try and understand why/how 'copyright holder' has been swapped out for something else. It seems like this is probably GitHub's fault.

It does seems like this treating this as a template variable might be an error on GitHub's part here hence my ping of @mlinksva

[2016-06-18 17:22] mlinksva commented on #28
There's not a single right answer, but I agree less templated fields is good. This has been recently fixed in https://github.com/github/choosealicense.com/pull/415 (and see discussion there for some of the history of the license) and has been vendored into https://github.com/benbalter/licensee/releases/tag/v8.2.0 which will make its way into the github.com license chooser when it gets that or a la

[2016-06-18 18:23] danielskatz commented on #28
For JOSS, If there's a standard, and we get submissions that don't use the standard, we shouldn't accept them.

The license is still valid, and if that's what the creators want to use, that's fine, but in the context of JOSS, I don't think this is what we want.

[2016-06-18 18:52] krother commented on #28
For me, the benefit of standard licenses is that I can consult Google instead of a lawyer whether two licenses are compatible. @danielskatz I second your point.

[2016-06-18 19:06] arfon commented on #28
@danielskatz - agreed.

@SimonGreenhill - I think you offered already but just to confirm - please switch this out to the standard license text :smile_cat:

[2016-06-19 17:39] ctjacobs commented on #29
I have addressed @jsta's comments in the [review branch](https://github.com/ctjacobs/git-rdm/tree/review) of the git-rdm repository. The main changes are:

* Added a new option `git rdm ls --raw` which outputs the raw contents of the `.rdm/publications.db` file for database verification purposes. Also added an example of its use in `README.md`.

* Bumped the version in `setup.py` to v1.0.1 (rather

[2016-06-19 17:50] ctjacobs commented on #29
For a full `diff`, please see https://github.com/ctjacobs/git-rdm/pull/2

[2016-06-19 22:09] jsta commented on #29
Awesome! I was able to install from your conda channel and test the `git rdm ls --raw` command. I really like the improvements to `README.md` describing local installs. Everything is good-to-go for acceptance as far as I am concerned.

[2016-06-19 22:21] ctjacobs commented on #29
Fantastic - many thanks for trying it out. I'll merge in the changes and update to v1.0.1.

[2016-06-19 22:55] ctjacobs commented on #29
All done. The archive for v1.0.1 is available at the following (different) DOI: https://dx.doi.org/10.6084/m9.figshare.3443750.v1

@arfon, is it possible to have the "Archive DOI" [here](http://joss.theoj.org/papers/d0641341031a50d63d61e6149768d19e) updated please?

The Conda package has also been updated to v1.0.1

[2016-06-20 04:48] arfon commented on #29
Thanks for the excellent review @jsta!

@ctjacobs your paper DOI is http://dx.doi.org/10.21105/joss.00029 . The DOI isn't quite live yet (i.e. it doesn't resolve) but should start working in the next couple of hours once the Crossref queue processes the registration request. 🎉 🚀 💥

[2016-06-20 04:48] #29 closed

[2016-06-20 07:31] SimonGreenhill commented on #28
@arfon - done. Sorry for the confusion! I'll push an update soon that fixes the license issue, and the review comments by @krother

[2016-06-20 09:04] SimonGreenhill commented on #28
Ok, all changes suggested by @krother have been made, and the LICENSE file has been updated. Many thanks for all your suggestions.

[2016-06-20 09:12] krother commented on #28
Great, I like the improvements! Just a tiny request that got under the wheels: could you label the License as BSD-3 somewhere, so that it is easy to find out which one it is? No other obstacles from my side.

[2016-06-20 09:46] ctjacobs commented on #29
Excellent. Thank you everyone!

@arfon, I would be happy to review future submissions for JOSS, so feel free to add me to @joss-reviewers.

Cheers!

[2016-06-20 10:07] SimonGreenhill commented on #28
Sure, how's [this](https://github.com/SimonGreenhill/phylogemetric/commit/a030bd057a40b79ce1a3d10cef52168f7f5ec5fe)?

[2016-06-20 16:41] arfon commented on #28
Looks good to me @SimonGreenhill.

Thanks for the rapid review here @krother. I've updated the checklist to make it clear that the license is now updated.

@SimonGreenhill - your DOI is http://dx.doi.org/10.21105/joss.00028 🎉 🚀 :boom:

[2016-06-20 16:41] #28 closed

[2016-06-20 17:39] SimonGreenhill commented on #28
Thanks everyone!

[2016-06-20 23:18] whedon opened #30 "[REVIEW]: Backtest Graphics"
**Submitting author:** @karantibrewal (<a href="http://orcid.org/0000-0003-2717-5006">Karan Tibrewal</a>)
**Repository:** <a href="https://github.com/knightsay/backtestGraphics" target ="_blank">https://github.com/knightsay/backtestGraphics</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @joshuaulrich
## Status

[![status](http://joss.theoj.org/papers/625ee3e1e9007c3c1aae2f8c8b3f7f92/stat

[2016-06-20 23:23] arfon commented on #30
@karantibrewal - thanks for submitting this. I have a couple of questions/comments before we can proceed with this submission:

- Please update your [`paper.md`](https://github.com/knightsay/backtestGraphics/blob/master/paper.md) metadata. It still has me listed as an author
- Isn't not obvious to me that this software has a research application. Could you please explain what areas of research thi

[2016-06-20 23:44] karantibrewal commented on #30
Hi Arfon,

Thank you for your email. To address your points:

1. Sorry about that. I've made the changes, and also included a paper.json
 file.

2. Although our package doesn't solve a research question directly, we have
designed it to help as a tool for others in visualization of financial
data. Recently, we presented the package to the RFinance Conference, and
received great feedback on how our

[2016-06-21 01:47] arfon commented on #30
OK thanks for the background @karantibrewal. It looks like the paper metadata is still a little wonky. It needs to be formatted as follows:

[code]

[2016-06-21 21:34] karantibrewal commented on #30
Hi Arfon,

I've made the aforementioned changes.

Thanks,
Karan

[2016-06-21 22:31] arfon commented on #30
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-06-21 22:39] desilinguist commented on #30
:hand: I can review this.

[2016-06-22 14:45] desilinguist commented on #30
Before I start my review, I have a somewhat basic question. I am wondering why the name of the author making the submission ("Karan Tibrewal") does not appear in a bunch of the documentation including the main README and the R vignette etc.  That should really be fixed.

Now on to my review:

1. The name of the license file is misspelled (`LISENCE` instead of `LICENSE`).

2. The release version sa

[2016-06-22 22:02] karantibrewal commented on #30
@desilinguist thanks a lot for the feedback. Sorry about the loose ends. We are working on it, and will address all of the aforementioned points by the end of this week.

[2016-06-23 04:01] pjotrp commented on #30
It is important that it is clear what the scientific contribution is of this work. The authors can give some examples of financial research application, preferably with figures in the docs/vignette. It would be even better if the authors can think of a broader application in scientific research and expand their audience.

[2016-06-24 18:35] whedon opened #31 "Submission: Prism: Multiple spline regression with regularization, dimensionality reduction, and feature selection"
**Submitting author:** @cMadan (<a href="http://orcid.org/0000-0003-3228-6501">Christopher R Madan</a>)
**Repository:** <a href="https://github.com/cMadan/prism" target ="_blank">https://github.com/cMadan/prism</a>
**Version:** v2.0.0
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.56821" target ="_blank">http://dx.doi.org/10.5281/zenodo.56821</a>

## Status

[![status](http://joss.theoj.or

[2016-06-24 18:58] arfon commented on #31
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-06-24 19:00] whedon opened #32 "Submission: Advanced viewshed analysis: a Quantum GIS plug-in for the analysis of visual landscapes"
**Submitting author:** @zoran-cuckovic (<a href="http://orcid.org/0000-0001-7626-4086">Zoran Čučković</a>)
**Repository:** <a href="https://github.com/zoran-cuckovic/QGIS-visibility-analysis" target ="_blank">https://github.com/zoran-cuckovic/QGIS-visibility-analysis</a>
**Version:** 0.5.1
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.59896" target="_blank">10.5281/zenodo.59896</a>

## St

[2016-06-24 19:03] arfon commented on #32
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-06-26 21:26] cMadan commented on #31
For the paper PDF, references after the first one aren't displayed quite right. Would using a semicolon between them (rather than a comma) be the fix?

[2016-06-27 13:33] Kevin-Mattheus-Moerman commented on #31
I can review this.

[2016-06-27 14:30] arfon commented on #31
@cMadan - yep, I've fixed this in https://github.com/cMadan/prism/pull/1 and updated the PDF in the review issue.

[2016-06-27 15:15] Kevin-Mattheus-Moerman commented on #31
I have reviewed this submission in terms of MATLAB implementation and installation. I have also verified the demo and benchmark work as described. However I am not an expert in the technical topic the software addresses. Would it be possible to provide a more graphical display of the functionality and technical claims of the software, i.e. plot graphs and figures visualizing the nature of the inpu

[2016-06-27 15:47] labarba commented on #31
This opens a bigger question for me—as JOSS editor—, which is: Should we be publishing packages that rely on proprietary programming and execution environments?

A quick look at the README for this submission immediately struck me with: _"requires three first-party toolboxes: (1) Curve Fitting Toolbox; (2) Statistics and Machine Learning Toolbox; (3) Signal Processing Toolbox"_
Are these paid MATL

[2016-06-27 16:19] arfon commented on #31
Yes I think these should be acceptable with the caveat that it should to be possible for a reviewer to address the following review points:

Let's have this conversation in an issue. Are you happy to start it?

[2016-06-27 16:35] cMadan commented on #31
@Kevin-Mattheus-Moerman, thanks for the review! I've fixed the typos and missing figure caption (was in paper.md, but not PDF). Reference is correct (is same as previous, 'line' notation is produced when PDF is compiled).
In demo.m, I have now added some scatter plots for evaluating the predictions.

@arfon, the subsequent references still look incorrect in the PDF. I've also made a few changes, s

[2016-06-28 03:46] arfon commented on #31
@cMadan - I've recompiled the paper [here](https://github.com/openjournals/joss-reviews/files/336251/10.21105.joss.00031.pdf). Could you take a look and see if it's formatted better now?

[2016-06-28 03:49] cMadan commented on #31
@arfon - much better! The only remaining issue is this "(e.g., (Sowell et al. 2003; Hogstrom et al. 2013; Madan and Kensinger 2016))". I'm not sure how I should change the md to make that turn out better. Effectively want something equivalent to "\cite<e.g.,>{REFS}".

[2016-06-28 03:50] nicoguaro commented on #31
I think that instead of the logo an image of a result would be much illustrative.

[2016-06-28 04:05] arfon commented on #31
@cMadan - changing the Markdown to:

[code]

results in this output:

![screen shot 2016-06-27 at 10 00 11 pm](https://cloud.githubusercontent.com/assets/4483/16403504/25401396-3cb3-11e6-83fb-2ee17ff6aff5.png)

Does that look better? I'm not a pandoc expert I'm afraid.

[2016-06-28 04:08] cMadan commented on #31
@nicoguaro - I've just added example output.

@arfon - that's sufficiently better, thanks! I really appreciate the help! I've updated paper.md on the repo.

[2016-06-28 14:41] arfon commented on #31
OK great. Here's the updated paper: [10.21105.joss.00031.pdf](https://github.com/openjournals/joss-reviews/files/337245/10.21105.joss.00031.pdf)

[2016-06-28 16:06] cMadan commented on #31
@arfon - that looks great, thanks!

[2016-06-28 16:12] whedon opened #33 "Submission: RSMTool: a Python Package for facilitating research on automated scoring models"
**Submitting author:** @desilinguist (<a href="http://orcid.org/0000-0001-9354-6851">Nitin Madnani</a>)
**Repository:** <a href="https://github.com/EducationalTestingService/rsmtool" target ="_blank">https://github.com/EducationalTestingService/rsmtool</a>
**Version:** v5.1.0
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.58851" target="_blank">10.5281/zenodo.58851</a>

## Status

[![statu

[2016-06-28 16:32] arfon commented on #33
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-06-29 22:29] jkahn commented on #33
maybe a tentative :hand: I am reviewing this?  If nobody else speaks up this week, I will take it on to do a review next week (July 5-8).

Full disclosure: Nitin (the submitting author) and I are friendly (and see each other, mostly at conferences, about every 18 months).

I don't know anything about this **specific** work of his.

[2016-06-29 23:07] desilinguist commented on #33
Thanks, Jeremy!
On Wed, Jun 29, 2016 at 6:29 PM Jeremy G. Kahn <notifications@github.com>
wrote:

[2016-06-30 02:56] arfon commented on #33
OK that sounds great @jkahn 👍

[2016-06-30 13:06] Kevin-Mattheus-Moerman commented on #31
Thanks for implementing the changes and for adding basic visualizations of results in demo.m. For the paper it seems that the reference with the title: "Sparse Bayesian Learning and the Relevance Vector Machine" misses an author field. Should this be Michael E. Tipping?
I've now ticked all the boxes above. Once the reference for the paper is verified I can recommend this paper for publication in J

[2016-06-30 13:08] Kevin-Mattheus-Moerman commented on #31
There is as you know an ongoing discussion on the inclusion of software relying on proprietary programming environments. It may be that a final decision on your submission will be made after that discussion has been concluded. Apologies for the delay.

[2016-06-30 13:53] nicoguaro commented on #31
Even though I'm not an editor I think that the output of the discussion should not influence the publication of this paper.  This paper was submitted before the discussion even started, if it would have started before maybe the author would have not submitted.

[2016-06-30 14:24] cMadan commented on #31
@Kevin-Mattheus-Moerman - The author is Tipping, but it is being displayed 'properly'. The PDF is compiled from markdown+bib by @arfon's code, and is based on an IEEE convention. See here: http://tex.stackexchange.com/questions/29381/is-it-normal-for-bibtex-to-replace-similar-author-names-with

[2016-06-30 17:04] zoran-cuckovic commented on #32
Hello!

To test my software all you need is to install the plugin into QGIS from the official repository (as any other standard plugin). The current version (submitted here ) has some 1000 dowlands - without particular errors reported.

[2016-07-01 12:51] arfon commented on #32
Hi @zoran-cuckovic - it seems like we're struggling a little to find a reviewer for this package. Please feel free to reach out to people in your community and see if they're willing to help out 😄

[2016-07-01 12:52] whedon opened #34 "Submission: Osprey: Hyperparameter Optimization for Machine Learning"
**Submitting author:** @cxhernandez (<a href="http://orcid.org/0000-0002-8146-5904">Carlos Xavier Hernández</a>)
**Repository:** <a href="https://github.com/msmbuilder/osprey" target ="_blank">https://github.com/msmbuilder/osprey</a>
**Version:** v1.1.0
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.61670" target="_blank">10.5281/zenodo.61670</a>

## Status

[![status](http://joss.theoj.or

[2016-07-01 12:55] arfon commented on #34
Hi @cxhernandez. Thanks for submitting this package to JOSS. Unfortunately it doesn't look like there's a `paper.md` file in this repository.

Could you please take a look at the [submission guidelines](http://joss.theoj.org/about#author_guidelines) and make sure there's a paper present in the repository. We can then move forward in the review process.

[2016-07-01 12:55] whedon opened #35 "[REVIEW]: LAS: an integrated language analysis tool for multiple languages"
**Submitting author:** @jiemakel (<a href="http://orcid.org/0000-0002-8366-8414">Eetu Mäkelä</a>)
**Repository:** <a href="https://github.com/jiemakel/las" target ="_blank">https://github.com/jiemakel/las</a>
**Version:** v1.4.8
**Editor:** @arfon
**Reviewer:** @desilinguist
**Archive:** <a href="https://dx.doi.org/10.5281/zenodo.160256" target="_blank">https://dx.doi.org/10.5281/zenodo.160256</a>

[2016-07-01 12:59] arfon commented on #35
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-07-01 18:57] cMadan commented on #31
@arfon - I think all of the reviewer comments have been addressed, and the paper has been recommended for publication.

[2016-07-01 18:58] desilinguist commented on #35
I'm happy to review this.

[2016-07-01 19:47] arfon commented on #31
OK thanks @cMadan. I just need you to update this thread with the archive DOI (Zenodo/figshare etc) for the software before I can complete the submission.

[2016-07-01 19:56] cMadan commented on #31
@arfon - the doi is 10.5281/zenodo.56821. I don't think I can edit the initial comment from @whedon.

[2016-07-01 20:18] arfon commented on #31
OK thanks for the review here @Kevin-Mattheus-Moerman!

@cMadan - this is now accepted into JOSS, your DOI is: http://dx.doi.org/10.21105/joss.00031

🎉 🚀 💥

[2016-07-01 20:18] #31 closed

[2016-07-01 21:02] cMadan commented on #31
I just noticed that under the second figure, it says "Figure 1" (that isn't in the markdown itself). I made a change to paper.md that hopefully fixes this.

[2016-07-01 21:53] cxhernandez commented on #34
Hey @arfon,

Sorry about that! I've added the paper to the repository now and it can be found [here](https://github.com/msmbuilder/osprey/tree/master/paper).

Thanks for your consideration!

[2016-07-02 02:26] arfon commented on #34
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-07-02 02:56] arfon commented on #31
@cMadan - could you take a look now and if this is better? https://github.com/openjournals/joss-papers/blob/master/joss.00031/10.21105.joss.00031.pdf

[2016-07-02 06:23] cMadan commented on #31
@arfon - great, thank you!

[2016-07-06 22:26] labarba commented on #32
@zoran-cuckovic — Can you recommend any distribution list where we may ask for help reviewing your submission? I made a call via Twitter:
https://twitter.com/lorenaabarba/status/748864879902195712
... which got retweeted by The Open Source Geospatial Foundation to their 13.9K followers. Yet no one has come forward.
I also targeted someone, but he said it is not his expertise:
https://twitter.com/l

[2016-07-07 00:06] desilinguist commented on #35
I'm teaching a class at a linguistics summer school all next week so I won't be able to get to this until the week after. I'm sorry for the delay and happy to yield to another reviewer if they want to review it in the meantime.

[2016-07-07 07:32] zoran-cuckovic commented on #32
@labarba, @arfon  I have made a request over QGIS developer mailing list.
Otherwise, my colleagues are mostly human sciences and not software developers - what would be required for a reviewer? Developing software, publishing on software use, actively collaborating over git-hub or similar platform?

[2016-07-07 07:54] giohappy commented on #32
I can review it, but I cannot do it immediately. If a week is ok for you I can give a help.

[2016-07-07 09:16] zoran-cuckovic commented on #32
Great!
I'm glad we got the thing started!

[2016-07-07 10:43] labarba commented on #32
I also got some response via Twitter:
https://twitter.com/geomenke/status/750878480707923968

[2016-07-07 10:44] volaya commented on #32
I don't have enough time for a full review, but just a quick comment:

The algorithm looks useful and interesting, but, being part of QGIS, it makes little sense to have it outside of the Processing framework. It would be much more useful and powerful if integrated into Processing.

Hope this helps

[2016-07-07 14:05] giohappy commented on #32
I must agree with Victor. Looking at the algorithm configuration, it would
fit very well within the Processing toolbox, but I imagine this could be a
future refactoring/enhancement...

2016-07-07 12:44 GMT+02:00 volaya <notifications@github.com>:

[2016-07-07 16:40] kyleniemeyer commented on #32
Robin Wilson (@robintw) volunteered to review via Twitter!

@arfon: can you add him as a JOSS reviewer?

[2016-07-07 17:09] zoran-cuckovic commented on #32
@volaya , @giohappy
I'm not sure the actual relationship of my software with the QGIS core is relevant here (?). I prefer having the plugin solution because inside there are several algorithms combined together and there are many options - and because I plan further enhancements. There are many visibility indices that can be added in the future, so the plan (optimistic) is to create some kind of a

[2016-07-07 22:47] jkahn commented on #33
General checks and references
---------------------
All the outer formatting looks good.

Might be nice to find a DOI for Loukina 2015 but I can't figure out how to get DOIs from ACLweb.

[2016-07-07 23:06] jkahn commented on #33
Statement of need
-------------------
I'm not 100% clear what the statement of actual need is here.  I get that this is a useful tool within the ETS, but I'm not certain about what the contribution of *this* package is, and who the researchers (outside of the ETS itself) would be that would find this to be a useful tool in hand.

I'm *not* saying that those researchers don't exist -- I might even

[2016-07-07 23:12] jkahn commented on #33
Undocumented entry points confuse new users
-------------------------------
There are at least three different command-line tools (endpoints, in the Python jargon) that all seem to take the same argument structure (a config file) but presumably have different formats expected in the config files. There's exactly one example use, scraped from a Kaggle competition, but it only uses one of the CLI en

[2016-07-07 23:17] desilinguist commented on #33
Please see the "available documentation" section in the main README. All
the config files for all four tools format are fully documented.

There's only example, that's true. That's because we expect the "rsmtool"
endpoint to be the most commonly used. We can certainly make that clearer.
On Thu, Jul 7, 2016 at 7:12 PM Jeremy G. Kahn <notifications@github.com>
wrote:

[2016-07-07 23:18] jkahn commented on #33
Separating the `pandas.DataFrame` manipulator APIs from the input and output formats
------------------------------------
As far as I can tell, the format of the input features is also undocumented. I don't have a clear picture of how I might (as an external developer) go about creating the datasets of "features" (a hugely overloaded term, further overloaded in the limited documentation provided h

[2016-07-07 23:41] jkahn commented on #33
Okay, some more digging around in `doc/` has resolved some of these (for example, the feature formats in `doc/feature_file.md`) but I still think there are too many control surfaces buried in the config file to get a clear picture of what the general uses are.

Is this a tool for new feature development? For comparing human raters? for comparing human raters to existing features? for comparing exi

[2016-07-07 23:43] jkahn commented on #33
Miscellaneous
--------
The authors make no particular performance claims, and the software runs in reasonable time (a few seconds) on the sample data and produces plausible-looking HTML documentation of correlations among users and features. I'm happy to check off the corresponding boxes there.

[2016-07-08 07:35] jkahn commented on #33
Recommendation: accept - Minor revisions.
I think it's clear that there's a docs problem here:
- statement of need is too high-level and making it lower-level will probably articulate >1 role of users
- doc'n is unclear about documenting external storage format vs internal APIs
- API doc'n is not easily browseable (e.g. through a sphinx `.. autodoc`-including `api.rst` file)
- Documentation not ea

[2016-07-08 17:33] aloukina commented on #33
Thank you for such a detailed review, Jeremy! We'll go over your suggestions with Nitin.

[2016-07-08 19:12] desilinguist commented on #33
Indeed. Thanks for the careful review, Jeremy!
On Fri, Jul 8, 2016 at 13:33 Anastassia Loukina <notifications@github.com>
wrote:

[2016-07-09 23:15] arfon commented on #33
💯 - yes thanks for this excellent review @jkahn. @aloukina & @desilinguist - please let me know when you've had a chance to update your submission based upon @jkahn's feedback.

[2016-07-10 03:19] whedon opened #36 "Submission: gwdegree: A Shiny App to Aid Interpretation of Geometrically-Weighted Degree Estimates in Exponential Random Graph Models"
**Submitting author:** @michaellevy (<a href="http://orcid.org/0000-0002-4188-2527">Michael Levy</a>)
**Repository:** <a href="https://github.com/michaellevy/gwdegree" target ="_blank">https://github.com/michaellevy/gwdegree</a>
**Version:** v0.1.1
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.57495" target ="_blank">http://dx.doi.org/10.5281/zenodo.57495</a>

## Status

[![status](http:/

[2016-07-10 03:30] arfon commented on #36
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-07-10 03:32] whedon opened #37 "Submission: tidytext: Text Mining and Analysis Using Tidy Data Principles in R"
**Submitting author:** @juliasilge (<a href="http://orcid.org/0000-0002-3671-836X">Julia Silge</a>)
**Repository:** <a href="https://github.com/juliasilge/tidytext" target ="_blank">https://github.com/juliasilge/tidytext</a>
**Version:** v0.1.1
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.56714" target ="_blank">http://dx.doi.org/10.5281/zenodo.56714</a>

## Status

[![status](http://jos

[2016-07-10 03:46] arfon commented on #37
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-07-10 11:18] rmflight commented on #37
:hand: I am reviewing this

Robert

On Sat, Jul 9, 2016, 11:46 PM Arfon Smith <notifications@github.com> wrote:

[2016-07-10 15:34] juliasilge commented on #37
I will mention @dgrtwo here so he can follow along as well.

[2016-07-10 17:21] amoeba commented on #36
✋ I can review this today.

[2016-07-11 02:57] amoeba commented on #36
Grade: 2 (Minor revisions)

General comments:

The software is easy to use and I was pleased to find a high level of attention to detail on the design of the interactive tool and the accompanying writing. The software works and works well. I can see clear research application.

Specific notes requiring action:

- **License:** Repository does contain a plain-text `LICENSE` file but the file does no

[2016-07-11 13:33] rmflight commented on #37
Regarding LICENSE, the LICENSE is the standard CRAN implementation of the MIT LICENSE, which while not exactly standard for OSS, is the standard for CRAN. Therefore I am checking it off.

[2016-07-11 15:06] rmflight commented on #37
Below is my review, which is basically copy pasting the above checklist, with some commentary interspersed. All checked off, I recommend to **publish as-is**.

@juliasilge and @dgrtwo: one of the vignettes installing from CRAN did not have the correct title, but I see in the github repo it has been corrected, so no issues. That was the only beef I had.

## Reviewer questions

### Conflict of inter

[2016-07-11 16:25] juliasilge commented on #37
Regarding the package's LICENSE, I did try submitting to CRAN with the contents of the whole MIT license in the LICENSE file, as discussed in the [author guidelines](http://joss.theoj.org/about#author_guidelines), but the CRAN administrators did not go for it.

[2016-07-11 16:30] rmflight commented on #37
Right, and I figured that was an issue. That is why I just checked it anyway, because you followed the CRAN guidelines, which is where the package is "published" for ease of installation purposes.

[2016-07-11 18:47] michaellevy commented on #36
Thanks for the quick review, @amoeba! I think I've addressed all these things in michaellevy/gwdegree@dbdbc47. A couple points:

- v0.1.0 is what I originally submitted, but v0.1.1 (current on CRAN and GitHub) is much prefered. Recognizing the journal wants to review just one version, I hope this can be accommodated.

- I left the LICENSE file as is, per CRAN's protocol; not sure if it would bothe

[2016-07-11 18:55] amoeba commented on #36
Grade: 1 (Accept)

I reviewed your changes and they address all of my concerns. Thanks!

I subsequently checked off the remaining items on the Reviewer questions checklist. In #37, it seems like JOSS may be okay with R packages that are on CRAN following the CRAN guidelines, which you have done. I've checked off the corresponding list item. It really does look like CRAN will reject a submission th

[2016-07-12 01:51] whedon opened #38 "[REVIEW]: DoSOCS: A System for Managing Open Source Risk"
**Submitting author:** @germonprez (<a href="http://orcid.org/0000-0003-2326-5901">Matt Germonprez</a>)
**Repository:** <a href="https://github.com/DoSOCSv2/DoSOCSv2" target ="_blank">https://github.com/DoSOCSv2/DoSOCSv2</a>
**Version:** 0.16.1
**Editor:** @arfon
**Reviewer:** @mlinksva
**Archive:** <a href="https://dx.doi.org/10.6084/m9.figshare.4239665.v1" target="_blank">https://dx.doi.org/10.6

[2016-07-12 01:59] arfon commented on #38
Thanks for submitting this @germonprez! It looks like this submission is missing the JOSS paper (`paper.md`). Could you take a look at our [submission guidelines](http://joss.theoj.org/about#author_guidelines) on how to structure the paper and let me know when you've added it to your repo?

[2016-07-12 02:43] arfon commented on #10
👋 @hrbrmstr - are you still interested in making these edits so we can accept this submission?

[2016-07-12 02:47] arfon commented on #36
This is OK I think @michaellevy

Thanks for the rapid review @amoeba!

Sounds good to me.

@michaellevy - I think the final thing here is to make an archive of the software in Zenodo/figshare/other similar service and update this thread with the archive DOI.

[2016-07-12 02:49] arfon commented on #37
Thanks for the rapid review @rmflight!

@juliasilge - the final thing here is to make an archive of the software in Zenodo/figshare/other similar service and update this thread with the archive DOI. I can then move forward with accepting this submission :grin:

[2016-07-12 02:54] juliasilge commented on #37
I turned on Zenodo before our last, most recent release so there is an archive of v0.1.1, the current version and what is on CRAN right now:
[![DOI](https://zenodo.org/badge/doi/10.5281/zenodo.56714.svg)](http://dx.doi.org/10.5281/zenodo.56714)

Let me know if anything needs to be changed about that, or if I need to make another release for the JOSS submission specifically or anything like that.

[2016-07-12 02:55] arfon commented on #32
Fantastic! @robintw - I've invited you to `@openjournals/joss-reviewers` team which should allow you to update this issue with your review. Also, please take a look at the reviewer guidelines to familiarized yourself with the process http://joss.theoj.org/about#reviewer_guidelines

[2016-07-12 03:27] arfon commented on #37
@juliasilge - this is now accepted into JOSS. Your DOI is http://dx.doi.org/10.21105/joss.00037 🎉 🚀 💥

[2016-07-12 03:27] #37 closed

[2016-07-12 14:25] ctb commented on #27
Hi @jkahn Thanks for all your comments - many excellent improvements resulted. I think this is ready for review once again!

[2016-07-12 14:32] ctb commented on #27
Note, the latest version is 0.9.4, https://github.com/dib-lab/sourmash/releases/tag/v0.9.4, and zenodo etc should be updated soon

[2016-07-12 15:23] michaellevy commented on #36
Great! Here is the archive: [![DOI](https://zenodo.org/badge/23239/michaellevy/gwdegree.svg)](https://zenodo.org/badge/latestdoi/23239/michaellevy/gwdegree)

Thanks @arfon and @amoeba, this whole process has been smooth, fast, and edifying.

[2016-07-12 17:23] arfon commented on #36
@michaellevy - this is now accepted into JOSS! Your DOI will be http://dx.doi.org/10.21105/joss.00036 . The Crossref processing queues are a little backed up right now but the DOI should be live in the next couple of hours ⚡ 🚀 💥

[2016-07-12 17:23] #36 closed

[2016-07-15 06:03] pjotrp opened #39 "Research/academic quality of submission"
I was just looking a newly submitted paper and wondered whether it actually addresses a research question, i.e., its academic value. I think we should add a standard reviewer question that says something about that. It is a box that needs to be ticked if we want to be taken seriously as a scientific journal. We don't want JOSS to end up as a basket for software projects that have no academic value

[2016-07-15 14:43] arfon commented on #39
We already have this listed as a requirement in the submission guidelines but I agree it should probably also be in reviewer checklist.

As for the most recent submission in question (#38), I contacted the author about this exact question, that is, whether this software has a research application. Here is his response:

So does this fit the current author requirement of:

I'm not sure it does comp

[2016-07-15 14:49] danielskatz commented on #39
I'm a little concerned with this definition.  Does is mean that we need the developers to be in academia?

On the other hand, I'm not as much concerned with what the application of the software is now, whether it's research of business, as if there's a case to be made that the software could help research (even if it's not being used for that now)

And finally, I think we should be fairly open in

[2016-07-16 02:48] arfon commented on #39
Fair point. That's not really a restriction I was looking to impose with that language 😞

Can I ask, what do you think about this particular submission @danielskatz?

Right. I've wondered about an alternative approach here which is more along the lines of 'if this has a potential career benefit for the individual' (and it meets all of the other criteria) then we should accept it for review.

[2016-07-16 02:55] pjotrp commented on #39
I don't think this is a great idea. Personally I favour the idea of supporting people building a scientific track record through code. If we include just any project that idea is watered down and we will lose the scientists. At least there will be room for another journal ;)

[2016-07-16 02:59] arfon commented on #39
I think this is what I mean by "if this has a potential career benefit for the individual" - i.e. this is someone for whom building an academic/research profile is part of their job.

[2016-07-16 03:04] arfon commented on #39
Also, with this definition I think that the submission in question _is acceptable_. Would you agree @pjotrp? This software is an outcome/product of the research of this group.

[2016-07-16 03:34] pjotrp commented on #39
If that is the case it should be fine. I would like the authors to respond about this in the issue tracker so it is clear to others. Also I would like to warn the authors that this publication will be visible forever and they should be convinced it will support their research track record in the future. Lack of research quality and/or code quality may be damaging to a career.

[2016-07-16 03:40] pjotrp commented on #39
This may actually be a good strategy. Have the authors explicitly tell us in review that they are convinced this is a worthwhile contribution, that they take pride in their achievement and that publication will support their track record. I.e., what I want to avoid is the short term gain. We should all have a long term view here - authors, reviewers and editors.

[2016-07-16 11:26] danielskatz commented on #39
I think this software is acceptable. I would like to see the paper explain what some uses of the software are, but this is hard to judge without the paper itself.

[2016-07-16 15:57] arfon commented on #39
So what about this: If the origin of the software & motivation for publishing isn't clear from the paper then we could have an optional review step where we invite the authors to describe the origin/motivation in the review issue.

[2016-07-16 16:01] arfon commented on #34
@jakevdp - do you think you might be able to find us a reviewer for this submission?

[2016-07-18 14:29] desilinguist commented on #35
#### Installation

There's no specific installation section just a section called "Running". It would be nice if we could just rename that section to "Installation" even though there's nothing really to install since that's what people generally look for. And it would be nice to have that section contain the actual steps needed to run LAS on the example referenced later.

Another point is that the

[2016-07-18 23:03] jkahn commented on #27
Pending these two concerns (both resolved by a little bit more attention to onboarding new developers), I'm satisfied that my concerns have been addressed and recommend the package re-mint and be accepted.

I want to address my one continuing gripe: I don't love that [the test code is mixed in (closed, wontfix)](https://github.com/dib-lab/sourmash/issues/19) among the shipped code (in a public-fac

[2016-07-19 03:29] pjotrp commented on #35
This software is essentially a 300+ line script that wraps existing Java tools. I would like to ask the author to confirm **here** that he thinks this software is a valuable contribution to research. I want to point out that once published this work will be visible for a long time. Adding an example of having used this tool in research would be a good idea.

[2016-07-20 16:26] jiemakel commented on #35
From @desilinguist:

I've reworded the section to be "Installation and running".

The tool employs a simple voting mechanism to tally scores between recognizers. In this case, probably because the other tools don't understand Hindi, it gets outvoted by the poorer best guesses of the other methods. (For such cases, the results of the individual recognizers are included in the results, so you can ad

[2016-07-20 17:10] desilinguist commented on #35
@jiemakel thanks so much for addressing most of my comments! I think the changes you have made are quite useful. There are still no automated tests and still not information on how a new developer can contribute. I think some tests should be added but I am not going to make that issue a blocker for publication. It would be nice for the README to contain a little blurb about how one would go about

[2016-07-20 19:22] germonprez commented on #39
Hi all. I'm the lead for the DoSOCS project in question. A brief history of this project:

1) Research program funded by the NSF in 2011 to perform field work to explore corporate engagement with open source communities
2) As part of this field work, we aimed to become contributing members with the communities we were aiming to learn from. We didn't want to simply scrape discussion data or bug fix

[2016-07-20 19:58] whedon opened #40 "Submission: PsychoPhysioCollector"
**Submitting author:** @sbogutzky (<a href="http://orcid.org/0000-0002-9279-6549">Simon Bogutzky</a>)
**Repository:** <a href="https://github.com/sbogutzky/PsychoPhysioCollector" target ="_blank">https://github.com/sbogutzky/PsychoPhysioCollector</a>
**Version:** v2.0.5
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.59387" target="_blank" >10.5281/zenodo.59387</a>

## Status

[![status](ht

[2016-07-20 19:58] whedon opened #41 "Submission: PsychoPhysioPipeline"
**Submitting author:** @sbogutzky (<a href="http://orcid.org/0000-0002-9279-6549">Simon Bogutzky</a>)
**Repository:** <a href="https://github.com/sbogutzky/PsychoPhysioPipeline" target ="_blank">https://github.com/sbogutzky/PsychoPhysioPipeline</a>
**Version:** v2.0.0
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.23671" target="_blank">10.5281/zenodo.23671</a>

## Status

[![status](http:

[2016-07-20 20:00] whedon opened #42 "Submission: Gillespie.jl: Stochastic Simulation Algorithm in Julia"
**Submitting author:** @sdwfrost (<a href="http://orcid.org/0000-0002-5207-9879">Simon Frost</a>)
**Repository:** <a href="http://github.com/sdwfrost/Gillespie.jl" target ="_blank">http://github.com/sdwfrost/Gillespie.jl</a>
**Version:** v0.0.1
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.59127" target="_blank">10.5281/zenodo.59127</a>

## Status

[![status](http://joss.theoj.org/papers/

[2016-07-20 20:12] arfon commented on #40
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-07-20 20:12] arfon commented on #41
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-07-20 20:14] vchuravy commented on #42
@sdwfrost I would recommend to register your package to simplify installation and to tag your package.

@whedon I would offer to review this. How would I proceed?

[2016-07-20 20:17] arfon commented on #42
@vchuravy - great! I've just added you to the JOSS reviewers team. Please do the following before starting this review:

-  Accept the invite to join the 'joss-reviewers' [team](https://github.com/orgs/openjournals/invitation?via_email=1) on GitHub that you should have received.
- Familiarize yourself with the JOSS [reviewer guidelines](http://joss.theoj.org/about#reviewer_guidelines)
- Complete t

[2016-07-20 21:02] vchuravy commented on #42
Ok, done.

[2016-07-20 21:15] vchuravy commented on #42
@sdwfrost I will add my thoughts here:

- [ ] Code-coverage seems not to be working
- [ ] Performance: Could you add some performance numbers comparing the C and R version with the Julia version.
- [ ] Tests: The tests you are using are testing functionality. Would it be possible to add correctness tests?
- [ ] Documentation: It is great to see that you have inline docstrings. Maybe you could use

[2016-07-21 01:21] pjotrp commented on #35
@jiemakel thanks for the clarification. If you have not done so, could you add some pointers to the other work in the paper or the README, so it is clear that this is a major effort?

[2016-07-21 01:23] pjotrp commented on #39
Thanks for the clarification! If you have not done so, could you add that to your paper or README?

[2016-07-21 01:31] pjotrp commented on #42
This software consists of 100+ lines of Julia code and is a reimplementation of existing code. I would like to ask the author to confirm here that he thinks this software is a valuable contribution to research. I want to point out that once published this work will be visible for a long time. Adding an example of having used this tool in research would be a good idea.

Also a speed claim should sh

[2016-07-21 10:27] sdwfrost commented on #42
@vchuravy Thanks for the feedback!
- The package is on its way to being in METADATA.jl (overlooked version number for Julia in requires)
- Coverage is now fixed (silly error) - at [93%](https://coveralls.io/github/sdwfrost/Gillespie.jl?branch=master).
- Happy to put in the comparisons. Would R and Rcpp suffice?
- As these are stochastic simulations, it's a bit hard to check. I can test for consist

[2016-07-21 11:18] rveltz commented on #42
Dear Simon,

I don’t understand the meaning of this mail. Is it some reviews from joss for Gillespie.jl?

Romain

[2016-07-21 11:34] sdwfrost commented on #42
Hi @rveltz - I just mentioned you in conversation in my responses to referees (as it says on the bottom of the email) - this also gives you the option to mute the thread.

[2016-07-21 13:41] rveltz commented on #42
Hi,

I did not know you could share reviews like that,

Romain

[2016-07-21 22:56] whedon opened #43 "Submission: PyGBe: Python, GPUs and Boundary elements for biomolecular electrostatics"
**Submitting author:** @labarba (<a href="http://orcid.org/0000-0001-5812-2711">Lorena A. Barba</a>)
**Repository:** <a href="https://github.com/barbagroup/pygbe" target ="_blank">https://github.com/barbagroup/pygbe</a>
**Version:** 2.1
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.60474" target="_blank">10.5281/zenodo.60474</a>

## Status

[![status](http://joss.theoj.org/papers/73fcd8f3

[2016-07-22 00:49] arfon commented on #43
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-07-22 14:03] arfon commented on #27
👍 thanks @jkahn. @ctb - please let me know when you've made these changes.

[2016-07-22 14:48] arfon commented on #42
Thanks for review @vchuravy and the updates @sdwfrost. @sdwfrost please let me know when you've had a chance to complete the other items.

[2016-07-22 17:02] vchuravy commented on #42
@sdwfrost Thank for including the benchmarks. Just for your information `@benchmark` takes the parameters `samples` and `seconds` as limits. So in your case the benchmark is not running for a 1000 samples because the time limit is exceeded, to turn that of you can set `seconds=Inf`. Also it is preferential to write `$x0` instead of `x0`, otherwise you will also benchmark the cost of accessing a gl

[2016-07-22 17:25] kyleniemeyer commented on #43
:hand: I'm happy to review this!

[2016-07-22 19:33] sdwfrost commented on #42
@vchuravy I didn't get round to finishing the writeup on the benchmarks; thanks for the tips on `@benchmark`; I didn't know that you could use interpolation. Working through Documenter.jl right now. Will update here when the rest of the items are complete. Thanks again for your input.

[2016-07-23 07:53] labarba commented on #34
See this interesting thread, where I recruit a potential reviewer for this paper:
https://twitter.com/rasbt/status/756604243465895936

[2016-07-23 13:30] robintw commented on #32
Sorry for the delay in dealing with this - I'm getting on with it now. Am I meant to actually tick the boxes in the checklist in the first post - and if so, how? I don't seem to be able to tick them - should I copy the checklist to reply and tick them there?

[2016-07-23 15:17] arfon commented on #32
Yes please @robintw. You should have received an invite to the `@openjournals/joss-reviewers` team which will give you appropriate permissions. You can accept the invitation by clicking the link at the top of the page here: https://github.com/openjournals

[2016-07-23 16:50] robintw commented on #32
Thanks @arfon - I somehow managed to miss that email. I've now got permissions to edit the checkboxes. I'll post the specific review comments shortly.

[2016-07-23 17:08] robintw commented on #32
In general, the software seems to work ok, but there are various issues that mean that I can't tick all of the boxes in the review checklist. I'll go through these points individually below in the checklist categories:

**General:**
- **Versions**
  - The latest version is 0.5.1, and this is what is installed from the QGIS Plugin Manager, but https://hub.qgis.org/projects/viewshed lists latest ver

[2016-07-24 18:30] whedon opened #44 "[REVIEW]: Elektra: universal framework to access configuration parameters"
**Submitting author:** @markus2330 (<a href="http://orcid.org/0000-0002-1493-9065">Markus Raab</a>)
**Repository:** <a href="https://github.com/ElektraInitiative/libelektra" target ="_blank">https://github.com/ElektraInitiative/libelektra</a>
**Version:** 0.8.17
**Editor:** @danielskatz
**Reviewer:** @eschnett
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.200894" target="_blank">10.5281/z

[2016-07-24 18:32] arfon commented on #44
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-07-24 18:34] arfon commented on #32
👍 thanks for this thoughtful and thorough review @robintw.

@zoran-cuckovic - please update this thread when you've had a chance to review @robintw's feedback and make the necessary changes.

[2016-07-26 13:05] meyera commented on #19
@Spencerx
Please apologize my late answer.
Here are my comments and my revision based on your remarks:

The spelling error is corrected.

The audicence are scientist and statisticians working in clinical research, The usual risk in clinical medicine are usual simple in structure, but due to the high amount of patients, the manual calculation is a hassle. Even more, there are no tools allowing for

[2016-07-26 19:15] arfon commented on #43
@kyleniemeyer - the paper has just been updated for this submission.

[2016-07-27 00:23] pjotrp commented on #19
This software consists of 350+ lines of code. I would like to ask the
author to confirm here that he thinks this software is a valuable
contribution to research. I want to point out that once this work has
been published it will be visible for a long time. Adding an example
of having used this tool in research would be a good idea.

[2016-07-27 05:41] jiemakel commented on #35
I've now added a "Contributing" section to the README, which additionally links to the other github repositories whose code is used here.

Regarding automated tests, I do agree they'd start to be useful now that the tool is seeing wider use. I'll start adding them as I do further work, but right now don't have the time to draft a comprehensive battery from the start.

[2016-07-27 14:23] desilinguist commented on #33
Hi @arfon and @jkahn.

We have just released [v5.1.0](https://github.com/EducationalTestingService/rsmtool/releases/tag/v5.1.0) of RSMTool that addresses the suggestions made in the review. Specifically:

1. The documentation has been completely overhauled and is now hosted on [readthedocs](http://rsmtool.readthedocs.io). It now includes a very clear statement of need, several tutorials, as well a

[2016-07-27 16:04] jkahn commented on #33
Well, I am delighted to see this. @desilinguist and @aloukina, the new documentation is actually enjoyable to read, with well thought out hyperlinking and walkthroughs describing real user scenarios.

It's much less of a stretch for me to imagine a non-ETS researcher using this tool now, which was the unarticulated heart of my documentation objections before.

I'm glad to hear you're exploring pip

[2016-07-27 16:12] sdwfrost commented on #42
I've added some documentation via Documenter.jl and updated the README to include proposed enhancements. I'm working on updating the benchmarks.

[2016-07-28 04:47] whedon opened #45 "Submission: ChainConsumer"
**Submitting author:** @samreay (<a href="http://orcid.org/0000-0003-2071-9349">Samuel Hinton</a>)
**Repository:** <a href="https://github.com/samreay/ChainConsumer" target ="_blank">https://github.com/samreay/ChainConsumer</a>
**Version:** 0.10.1
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.61064" target="_blank">10.5281/zenodo.61064</a>

## Status

[![status](http://joss.theoj.org/pape

[2016-07-28 04:56] arfon commented on #45
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-07-28 05:02] whedon opened #46 "[REVIEW]: pygtc: beautiful parameter covariance plots (aka. Giant Triangle Confusograms)"
**Submitting author:** @SebastianBocquet (<a href="http://orcid.org/0000-0002-4900-805X">Sebastian Bocquet</a>)
**Repository:** <a href="https://github.com/SebastianBocquet/pygtc" target ="_blank">https://github.com/SebastianBocquet/pygtc</a>
**Version:** 0.1.1
**Editor:** @arfon
**Reviewer:** @dfm
**Archive:** <a href="https://dx.doi.org/10.5281/zenodo.159225" target ="_blank">https://dx.doi.org/

[2016-07-28 05:08] arfon commented on #46
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-07-28 15:09] sdwfrost commented on #42
Dear @vchuravy @arfon @pjotrp

I think I've addressed all your comments now. Please let me know if there is anything I have missed. In summary

- Documentation is written using Documenter.jl
- Updated benchmarks are included for [Julia](https://gist.github.com/sdwfrost/8a0e926a5e16d7d104bd2bc1a5f9ed0b) and [R/Rcpp](https://gist.github.com/sdwfrost/afed3b881ef5742623b905a539197c7a). Although the pl

[2016-07-28 20:42] vchuravy commented on #42
@arfon How would one regenerate the pdf? The .bib now includes DOI's, but they don't show up the the pdf.
@sdwfrost Great work! The codecoverage seems to be off again. One last question from my side. Have you tested compatibility with Julia `v0.5` (the rc0 was just announced)?

Otherwise this is a green light from me.

[2016-07-29 02:38] arfon commented on #33
Excellent, thanks @jkahn.

@desilinguist - is there an associated DOI for the `v5.1.0` release. If so, please add the DOI as a comment here.

[2016-07-29 02:39] arfon commented on #34
@labarba - do you think you could follow up with this person to see if they're still willing/able to help out here?

[2016-07-29 02:40] arfon commented on #40
@openjournals/joss-editors - any suggestions for potential reviewers here?

[2016-07-29 02:40] arfon commented on #41
@openjournals/joss-editors - any suggestions for potential reviewers here?

[2016-07-29 02:44] arfon commented on #42
@vchuravy here's the updated PDF: [10.21105.joss.00042.pdf](https://github.com/openjournals/joss-reviews/files/389784/10.21105.joss.00042.pdf)

@sdwfrost - once you've addressed this comment I think we're good to accept this submission 🎉

[2016-07-29 02:50] desilinguist commented on #33
Hi @arfon, here is the DOI for the `v5.1.0` release

[![DOI](https://zenodo.org/badge/doi/10.5281/zenodo.58851.svg)](http://dx.doi.org/10.5281/zenodo.58851)

Please let me know if that's okay or if I need to do something else.

[2016-07-29 03:08] arfon commented on #33
Perfect. Thanks!

@desilinguist - your paper is now accepted into JOSS and you DOI is http://dx.doi.org/10.21105/joss.00033

Thanks for the great review @jkahn

[2016-07-29 03:08] #33 closed

[2016-07-29 10:27] labarba commented on #34
I did, four days ago. And he replied, but no indication of timing for the review. I'll ping again.
https://twitter.com/lorenaabarba/status/757185650600861696

[2016-07-29 10:40] labarba commented on #40
I pinged a friend that I think has the right expertise ...
https://twitter.com/lorenaabarba/status/758974889680261121

[2016-07-29 11:48] davclark commented on #40
So you just need someone to answer the reviewer questions on this page for the PDF? Here on this issue?

[2016-07-29 12:22] arfon commented on #40
@davclark - basically yes. There's an associated GitHub repository (https://github.com/sbogutzky/PsychoPhysioCollector) which is the main focus of this review together with the short PDF. See our reviewer guidelines here http://joss.theoj.org/about#reviewer_guidelines

If you think you might be able to help out, I'll add you to the `@openjournals/joss-reviewers` team so that you have permissions t

[2016-07-29 12:58] davclark commented on #40
Sounds doable. Go ahead and add me to the team :)

[2016-07-29 13:01] arfon commented on #40
@davclark 🎉 . You should have an invite to join the '@joss-reviewers' [team]
(https://github.com/orgs/openjournals/invitation?via_email=1) in your inbox. [This link](https://github.com/orgs/openjournals/invitation?via_email=1) should also work.

Please shout if anything isn't clear about the review process here.

[2016-07-29 13:24] tacaswell commented on #45
:hand: I will review this.

[2016-07-29 13:25] Samreay commented on #45
Excellent, thanks Thomas. I had a request for a another feature, so the current version is 0.9.8 I believe. Hope that isn't an issue.

[2016-07-29 14:46] sdwfrost commented on #42
@arfon @vchuravy Compatibility now checked against v0.4.6 and v0.5, all tests passing. I get some deprecation warnings on v0.5, but future releases will fix those.

@vchuravy I was getting some funny badges on Chrome for Coveralls (fine on Firefox) - click through, and you'll see coverage is still good.

[2016-07-29 14:48] vchuravy commented on #42
@sdwfrost Perfect thanks.

[2016-07-29 15:53] davclark commented on #41
I got here via accepting review for #40. A quick look suggests that more exposition is needed (explaining terms, clearly defining the broader utility and audience), and much of this would be common across #40 and this submission.

@arfon - are there specific guidelines on what should be submitted separately and what combined? These two submissions are clearly distinct code bases, but they are clos

[2016-07-29 20:40] rasbt commented on #34
@labarba @arfon Thanks for asking me to review the software;  it's a really interesting package that may turn out to be useful in some research projects. Being new to JOSS, I just read through the guidelines and posted a summary below. It would be nice if you could give me "permission" to edit the review sheet at the top.

@cxhernandez
Thanks for your submission. Although it seems like I listed a

[2016-07-29 21:58] zoran-cuckovic commented on #32
Hello!
As there were quite a number of things to improve, including the documentation in GUI, I have made a new release – it has to be installed manually, as described in [the manual](http://zoran-cuckovic.github.io/QGIS-visibility-analysis/) (with a download link).

*Functionality:*
1) Installation
-  There are no installation instructions. **Fixed** in the manual (link above)
-  Information on w

[2016-07-29 22:31] cxhernandez commented on #34
Thanks @rasbt for reviewing our work! I've tried to address everything point-by-point:

## Software

### Documentation

Thanks for the suggestion! I'll add a link to the GitHub repo on the homepage.

Good catch! We have [not updated the PyPI package yet](https://github.com/msmbuilder/osprey/issues/160). In the meantime, the recommended way to [install the latest version](https://github.com/msmbuil

[2016-07-30 00:03] rasbt commented on #34
Wow, that was quick :) Thanks for addressing and commenting on these points so thoroughly!

Hm, I had an older version indeed. However, I did install the conda version; I also suggest updating it to 1.0.

[code]

Sounds good! However, I am bit confused now, if there are unit tests, why is the coverage 0.0 for these then? Also, why did you prepend underscores (`_`) in some cases? E.g.,

[code]

Is

[2016-07-30 00:11] arfon commented on #42
@sdwfrost - as a final step, could you make an archive of the code in Zenodo/figshare? Please update this thread with the DOI of the code archive.

[2016-07-30 00:13] arfon commented on #41
Not really @davclark but this is a good question. @sbogutzky is there are reason why this and #40 were submitted separately?

[2016-07-30 02:07] arfon commented on #32
@zoran-cuckovic - thanks for these updates.

@robintw - can when you get a chance could you review these updates and let me know if we're good to accept this submission now?

[2016-07-30 02:11] arfon commented on #34
@rasbt - do you know if there's a way to handle this in LaTeX automatically? I agree this is less-than-ideal but I'm not exactly sure how to fix this.

[2016-07-30 05:53] sbogutzky commented on #41
Yes, a have some reasons:

1. You can use both tools independently
2. The PPC will be used while mobile activities; The PPP will be used stationary
3. Different authorship in both projects
4. Programming language is different

@davclark - which terms need more exposition? The audience is the flow research community e. g. European Flow Researchers Network (EFRN)

[2016-07-30 07:14] sdwfrost commented on #42
@arfon DOI from Zenodo: [10.5281/zenodo.59127](http://dx.doi.org/10.5281/zenodo.59127)

[2016-07-30 14:21] arfon commented on #42
Thanks @sdwfrost. Your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00042 :rocket: 🎉 💥

Thanks for the review @vchuravy

[2016-07-30 14:21] #42 closed

[2016-07-30 19:08] cxhernandez commented on #34
@rasbt: It should now be available through conda and pip. Sorry about that!

[2016-07-31 16:57] davclark commented on #41
Those seem like good reasons @sbogutzky - I'll start with #40, then, as I feel that's where I likely have a bit more specific expertise. Lots of folks could easily comment on an analysis pipeline.

Again, I'll restrict to #40. Feel free to apply relevant comments there to this submission, of course! The clarification of audience is helpful - in both cases, you aren't writing to hacker / programmer

[2016-08-01 02:18] davclark commented on #40
@arfon do we verify that the license is enforceable? I.e., that the copyright holder indeed has copyright?

@whedon I see you've copyrighted the work to yourself. If produced at an american university, this is often not legal - we need to assign copyright to the institution if we worked on it as a student. For free software, this is usually not a big deal - especially for a very liberal license.

[2016-08-01 02:48] davclark commented on #40
Cool stuff. This is important for social science research - and warrants a change in the language above from the JOSS review checklist:

*Data collection* is also part of science - much harder than analysis in many experiments. To this end, other guidelines are strained. What is the significance of "API documentation?"

A few more notes:

- The tag 2.0.4 does not include the paper.
- I cannot veri

[2016-08-01 02:49] davclark commented on #40
While the above seems like a lot, I'd call this "minor revisions" modulo some clarification on the things that break the "analysis software" model - most critically that I can't actually test this on the biosensor hardware.

[2016-08-01 07:24] pjotrp commented on #46
@dfm: do you mind reviewing this submission?

[2016-08-01 13:41] dfm commented on #46
:hand: sure, I'm on it.

[2016-08-01 13:52] arfon commented on #46
@dfm ✨

I'll need to add you to the `@openjournals/joss-reviewers` team so you have the correct permissions to update the checklist at the top of the issue - sound OK?

[2016-08-01 13:56] arfon commented on #40
@davclark - If you know of a reason why the author may have go this wrong then I think it's worth raising the question but we don't want to give legal advice to those submitting.

@davclark - @whedon is actually the bot that made the submission issue. @sbogutzky - this question is for you 😉

[2016-08-01 13:57] arfon commented on #40
@davclark agreed and thanks for raising this point. Would you be willing to open an issue on https://github.com/openjournals/joss outlining your concerns with the language used in the checklist?

[2016-08-01 14:05] sbogutzky commented on #40
Yes, this is right. tag 2.0.4 is the latest version of the PPC without the paper.

But you can test the basic functionality, because data will always collect from the internal sensors of the smartphone. In this way, you can for example track the arm motion of a participant with a sport armband while running.

So, you find the APK. See Installation Instructions of the readme.md

Ok.

See Used Libra

[2016-08-01 14:07] dfm commented on #46
Yep

[2016-08-01 14:09] arfon commented on #46
@dfm - you should see the invite at the top of this page: https://github.com/openjournals

[2016-08-01 16:57] davclark commented on #40
I think I may have inter-mixed some different kinds of issues above, so I'll respond to a few things again here. Let me also add that assuming it works (as I do), this is a very useful contribution. My comments are simply directed at making the publication / documentation better, and opening this up to more potential users and perhaps developers.

## Things that are up to the editors

The things i

[2016-08-01 18:50] dfm commented on #46
### General checks

There is no archived release linked from the documentation or readme and there is no DOI given in the paper.

### Functionality

The installation instructions are missing a list of prerequisites. Does scipy really need to be a hard dependency?

### Documentation

There is a vague statement of need in the README but it's not very clear and it is completely missing from the docs.

[2016-08-01 19:48] rasbt commented on #34
No worries, @cxhernandez thanks for updating it, it seems to work fine now and I will have a look at the remaining points in the review (I will go through the previous points again and check off the list items)

- [ ] One more thing that I'd recommend you to address:

In the README.md (and on PyPI), it says

---

If you have an Anaconda Python distribution, installation is as easy as:

$ conda ins

[2016-08-01 20:06] rasbt commented on #34
@arfon

I usually do this by assigning the same author index to 2 authors if they have the same affiliation:

[code]

![screen shot 2016-08-01 at 3 59 09 pm](https://cloud.githubusercontent.com/assets/5618407/17306999/e84b5b4e-5800-11e6-90ec-ba8f378c7679.png)

I only looked at the template briefly, but I think that's going to be tricky, you are right. I am not sure how to do this directly in the t

[2016-08-01 20:21] mpharrigan commented on #34
You could use a style like `revtex` to automatically condense duplicate affiliations, or look at their `.sty` file to figure out what trickery they're using to do so

[2016-08-01 21:03] rasbt commented on #34
@cxhernandez

please add

- [ ] cython
- [ ] mdtraj
- [ ] msmbuilder
- [ ] hdf5
- [ ] numexpr
- [ ] tables
- [ ] matplotlib
- [ ] numpydoc
- [ ] bokeh
- [ ] pandas

to the list of requirements. I wasn't able to run the unit tests without them.

[2016-08-01 21:20] rasbt commented on #34
@cxhernandez

Seems to work well so far :). However, I am currently not able to reproduce the results, how can I set the random state in the configuration file? I couldn't find a note in the documentation.

[2016-08-01 21:33] cxhernandez commented on #34
@rasbt: We don't currently have the option to set the random state in the configuration file, but that's a great suggestion and I'll look into implementing it!

[2016-08-01 21:35] rasbt commented on #34
Please. I think that's very, very important for reproducible research.

[2016-08-01 21:38] rasbt commented on #34
@cxhernandez

I am currently having some other issues with alternative search strategies. E.g., the following one works fine:

[code]

However, when I switch from

[code]

to

[code]

I get

[code]

When I choose

[code]

[code]

[2016-08-02 00:38] cxhernandez commented on #34
Loading trials database: sqlite:////Users/Sebastian/Desktop/osprey-trials.db...
History contains: 10 trials
Choosing next hyperparameters with grid...
Error: GridSearchStrategy is defined only for all-enum search space
[code]

I realize this is not at all clear from our current documentation, however. Also, somewhat embarrassingly, I just now found a bug in how `jump` vars are parsed. Working on a

[2016-08-02 09:15] sbogutzky commented on #40
@davclark - First of all, that's for your feedback.

@arfon - Now some questions to the editors.

Is there a rule?

I do not get it, sorry? Should I at the repo as webpage to the bib file and reference the entry in the paper? I do not see this in other paper of the journal.

There, I see Paper DOI; Software repository and Software Archive. But these things will be added by the editors, right? Afte

[2016-08-02 09:33] sbogutzky commented on #40
@davclark -

Sorry, there is a lack of understanding. What is the difference of my APK and your fork? In my case, I downloaded the APK from the repo and put it in my Google Drive or Dropbox folder and installed it on the smartphone.

[2016-08-02 10:00] sbogutzky commented on #40
@davclark -

Ok. Right. This is a quite new solution of Shimmer for a newer type of IMUs. We began our studies in 2013 and build the existing solution for an older type of Shimmer IMUs (R2). These solution seems not to meet our requirements of mobility and automatic time synchronization of more data streams. A solution, which can you use, if you find it, is that: "Psychophysiological Correlates of

[2016-08-02 13:46] davclark commented on #40
@sbogutzky I am pretty sure at this point that I've communicated my concerns / recommendations - so please make any remaining revisions and I'll wait for you to tell me you're done. I'll also wait for @arfon or another editor to chime in on the questions for them.

Regarding the google drive solution, that makes good sense. You've illustrated that there is a pretty easy way for individuals to inst

[2016-08-03 01:55] kyleniemeyer commented on #43
Hi all—sorry, I've been traveling and at a conference for the last week (hello from Seoul!), and have been delayed on finishing this review. I'm going to make an effort to get this done in the next day or two...

[2016-08-03 12:42] sbogutzky commented on #40
@davclark - Thank for your recommendations. I'm ready with my revision.

[![DOI](https://zenodo.org/badge/23671/sbogutzky/PsychoPhysioCollector.svg)](https://zenodo.org/badge/latestdoi/23671/sbogutzky/PsychoPhysioCollector)

[2016-08-03 13:23] kyleniemeyer commented on #43
Alright, so I checked off the various items that are fine, but I have a few comments—and ran into some problems when trying to run the regression and performance tests.

1. The README is quite extensive and helpful (especially the instructions on building dependencies), but none of this information (installation, usage, examples, etc.) is actually contained in the documentation (http://barbagroup.

[2016-08-03 13:55] davclark commented on #40
Looks good to me, and I hope the changes are helpful to others and (perhaps more importantly) for you substantiating this work as a genuine academic contribution.

So as reviewer, I recommend acceptance. It's up to the editors about the verification issue described above (that I can't verify all functionality without the sensors), but I recommend the "low bar" of accepting based on verification "a

[2016-08-03 16:00] sbogutzky commented on #41
@davclark - I will add some of your recommendation of #40 to this submission tomorrow, too.

[2016-08-03 16:04] sbogutzky commented on #40
Editors, please also note that change the title to "PsychoPhysioCollector: A Smartphone-Based Data Collection App for Psychophysiological Research"

It is possible to change that on the Paper page?

[2016-08-03 16:46] gforsyth commented on #43
Thanks, @kyleniemeyer !  We'll get on fixes for the pain points.
PyCUDA didn't support Cuda 7.5 last time we looked at upgrading, but it does now so we'll look into upgrading things.

[2016-08-03 16:58] ncclementi commented on #43
Thanks, @kyleniemeyer for all the comments, we'll work on that.

About the errors that you're getting when you try to run the tests on CPU:
 Did you notice that you need to change all the `.param` files on the `input files` folder to set `GPU=0` (which force PyGBe to run on CPU)?
This is explained at the end of the [README_input_format](https://github.com/barbagroup/pygbe/blob/master/README_input_

[2016-08-03 17:15] sobolevnrm commented on #43
I apologize for the delayed reply; I've been swamped with reviews and editorial duties.  I've asked @keith923 and @lizutah for help with the review.

[2016-08-03 17:34] labarba commented on #43
@kyleniemeyer Regarding comment number 2: (missing code DOI) ... we had a discussion on another thread concluding that submitting the code to Zenodo to get a DOI, and then doing it again after acceptance, resulted in wasted effort. (I looked for about 10 minutes but could not find the issue where this was discussed ... we have too many closed issues!).

Thus, if and when the software paper is acce

[2016-08-03 18:19] rasbt commented on #34
Oh yeah, that makes total sense, how would it now the increment space otherwise (unless it is hard coded). Thanks! (but adding it to the doc would be useful like you said).

Ah, sorry to hear that this review causes so much extra work, but I am happy to hear that it's been productive so far and that you discovered that bug :). And please take your time with the fixes; I think it would be worthwhil

[2016-08-03 18:30] cxhernandez commented on #34
Agreed! I'll let you know when it's ready to be tested (shouldn't take too long, hopefully). Thanks again!

[2016-08-03 21:50] gforsyth commented on #43
The README is now duplicated in the github-pages documentation, along with the contribution guide and the input files reference.

Yeah, this is a 'do as I say, not as I do' thing.  Unit tests are in the pipeline but since they're much harder to add to existing code than to new code, we're trying to foster good habits moving forward (for ourselves and others).

Thanks for the kick in the rear -- Py

[2016-08-04 07:48] sbogutzky commented on #41
@davclark - Thank for your recommendations. I'm ready with my revision.

[2016-08-04 07:51] sbogutzky commented on #41
Editors, please also note that change the title to "PsychoPhysioPipeline: A Processing and Analysis Pipeline for Psychophysiological Research"

It is possible to change that on the Paper page?

[2016-08-04 18:30] arfon commented on #40
Thanks for the review @davclark and for being responsive @sbogutzky. Some responses to questions that have come up in this thread:

Ideally the release should include the paper but I don't think this is a hard rule right now. More important to me is that the release matches the version that has been archived (e.g. with Zenodo).

That's correct. The final version of the PDF will include a direct li

[2016-08-04 18:48] arfon commented on #40
@sbogutzky you paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00040 🎉 🚀 💥

Thanks for all of your help @davclark!

[2016-08-04 18:48] #40 closed

[2016-08-04 18:53] arfon commented on #43
Your wish... [10.21105.joss.00043.pdf](https://github.com/openjournals/joss-reviews/files/402384/10.21105.joss.00043.pdf)

[2016-08-04 22:38] whedon opened #47 "[REVIEW]: A Structured-Light Scanning Software for Rapid Geometry Acquisition"
**Submitting author:** @charalambos (<a href="http://orcid.org/0000-0001-5666-5026">Charalambos Poullis</a>)
**Repository:** <a href="https://github.com/theICTlab/3DUNDERWORLD-SLS-GPU_CPU" target ="_blank">https://github.com/theICTlab/3DUNDERWORLD-SLS-GPU_CPU</a>
**Version:** v4.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @daviddoria
**Archive:** Pending

## Status

[![status](http://jos

[2016-08-04 22:46] arfon commented on #47
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-08-04 23:34] davclark commented on #47
Does the reviewer need to be a scientist at a non-profit institution? I have a colleague trained as an anthropologist who now runs a 4D scanning company who might be able to review.

[2016-08-05 01:16] arfon commented on #47
@davclark no, I think your colleague sounds good.

[2016-08-05 04:40] cxhernandez commented on #34
@arfon, @mpharrigan, @rasbt

I figured out a hack for the affiliations. If you add these lines to the template:

[code]

and then have this in the `paper.md` header:

[code]

You get the desired result:

![image](https://cloud.githubusercontent.com/assets/5142365/17426387/11a26892-5a8c-11e6-90d6-9485ead4451f.png)

[2016-08-05 04:45] rasbt commented on #34
Nice! I think it would be better to have the correct indices on the affiliations as well (currently both "1"s in the example above)

Here, you need to replace the `[1]` in

[code]
by a counter variable `1, ..., n_affiliations`

[2016-08-05 04:50] cxhernandez commented on #34
Ah! I jumped the gun! Can you even use counters in pandoc templates? I'm googling, but nothing's coming up.

[2016-08-05 04:55] rasbt commented on #34
I think you can do something like this:

[code]

and then

[code]

[2016-08-05 04:56] cxhernandez commented on #34
Ah, okay. I've updated my comment above.

[2016-08-05 04:57] rasbt commented on #34
Looks nice!

[2016-08-05 05:53] kyleniemeyer commented on #43
Great improvements! The performance and regression tests now run fine for me, and the paper changes look good.

I did run into an issue with the performance test: I was running this on a headless server, and when the test finished I got an error that seems to be the code attempting to display something:
[code]
I assume this wouldn't be a problem if this was on a local machine. However, the behavio

[2016-08-05 05:53] kyleniemeyer commented on #43
@labarba Got it—that makes sense, and now I do remember the discussion on DOI.

[2016-08-05 05:54] kyleniemeyer commented on #43
Lastly, it looks like the documentation site (http://barbagroup.github.io/pygbe/) is now down.

[2016-08-05 07:48] cxhernandez commented on #34
Alright, I've incorporated the majority of the suggestions listed above into the `master` branch. I'm holding off on making a new release (v1.1.0) until this review is complete (in case further changes are necessary).

Sorry @rasbt, I must have missed this question before. At the moment, `.csv` is not supported in our current stable of `dataset_loaders` (although it should be trivial to add); howe

[2016-08-05 09:12] labarba commented on #47
Thanks for jumping in for JOSS, @davclark !!

[2016-08-05 11:09] gforsyth commented on #43
Ahh, yeah, X-dependent backend by default.  This should be fixed on master now but I'm running it on a headless server to confirm.

Yikes.  Not sure what happened there, but it's back up now.  Thanks!

[2016-08-05 12:24] robintw commented on #32
This looks great @zoran-cuckovic - thank you for responding so quickly and so positively.

@arfon I am now happy for this to be accepted :-)

[2016-08-05 13:38] davclark commented on #47
And thanks for the invite :)

[2016-08-05 14:03] rasbt commented on #34
Sounds great, I will try to give it a look this weekend then!

Still, I am wondering how the input format looks like? E.g., for classifiers, is it samples per row and features per column, and the class label in the last column (or first column, or separate object?)? I.e., let's say that I am a new user and I want to run osprey on my own non-" MD trajectory" dataset (as far as I understand from the

[2016-08-05 14:14] kyleniemeyer commented on #43
Awesome, that worked perfectly for me.

I'm happy with the submission at this point. @sobolevnrm, @keith923, and @lizutah: are you also reviewing it?

[2016-08-05 15:36] arfon commented on #32
Thanks @robintw!

@zoran-cuckovic - could you make an archive of the current release in Zenodo/figshare and copy the DOI into this thread?

[2016-08-05 15:38] arfon commented on #43
👍

@gforsyth - could you add a link to the software archive (e.g. Zenodo/figshare) in this thread? I can then move forward with accepting this submission.

[2016-08-05 15:54] gforsyth commented on #43
Hey @arfon, I'm happy to.  Quick question re protocol:  Is it better to do a minor version bump with the post-review changes and use that or should I delete and re-tag and then submit that to Zenodo?

[2016-08-05 15:58] arfon commented on #43
I think the minor version bump is probably better.

[2016-08-05 16:27] labarba commented on #43
I would like to wait for @sobolevnrm, @keith923, and @lizutah to reply whether they are providing some additional review. It would be great to have another seal of approval before acceptance.

[2016-08-05 16:56] davclark commented on #47
My colleague may or may not have time for this, but he did point out that this paper also has the issue of difficulty of full verification without necessary hardware. So it seems openjournals/joss#156 is relevant here also.

[2016-08-05 16:58] davclark commented on #41
I'll plan to have a look at this next week. If someone else wants to grab this, you are most welcome to :)

[2016-08-05 16:59] charalambos commented on #47
That is correct in the case where you would like to scan a new object. For testing however, we provide a complete dataset (Alexander folder) which you can use.

[2016-08-05 17:12] Kevin-Mattheus-Moerman commented on #47
If example data is provided and the software is a tool for post-processing this data (i.e. the software and its claims do not rely on or control the hardware) then we can still review this submission. @charalambos for those interested in testing new objects, can you provide a link to/description of the required hardware?

[2016-08-05 17:31] v3c70r commented on #47
The only hardware required is a nVidia graphics card supports CUDA. We used Geforce GTX770 in our development.

[2016-08-05 18:01] keith923 commented on #43
I'm afraid that I can't get PyCuda to build on OS X El Capitan.  It's looking for 64 bit CUDA libs, and they don't exist in CUDA 7.5, or 6.0.  I'd need to switch to a Linux VM, and I'm not sure that CUDA will properly use the GPU in there.

[2016-08-05 19:19] gforsyth commented on #43
@keith923 -- possible fix for El Capitan and PyCUDA (sorry, no mac to test it on here):

[code]

[2016-08-05 20:25] cxhernandez commented on #34
The way this works at the moment is similar to `sklearn.datasets.load_files`. You would break up your dataset into many different files, each file representing a unique class label (eg. 'class_1.h5', ..., 'class_n. h5'). The datasets should be organized so that each column represents a feature and each row is an observation. I can add more documentation on this.

[2016-08-05 22:28] mpharrigan commented on #34
It would probably be helpful to add a tutorial/example using a non-biophysics dataset

[2016-08-06 03:43] rasbt commented on #34
It would be nice @cxhernandez if you could add the instructions for preparing a CSV file for osprey. Or maybe not necessarily a CSV file, but a NumPy data array of shape [n_rows, n_samples] and for the supervised methods a target variable array. Sorry for all the extra work, but In my opinion, this would be necessary to make it available to a general audience and to pass the JOSS requirements, suc

[2016-08-06 13:17] charalambos commented on #47
@Kevin-Mattheus-Moerman We haven't completed the detailed users' manual for this version yet, but the procedure for setting up and scanning described in the previous version (http://www.3dunderworld.org/wp-content/uploads/2014/03/3DUNDERWORLD-SLSv3.0.pdf) is the same. Please note that v4 has no dependency on CANON's EOS API

[2016-08-07 18:46] meyera commented on #19
@pjotrp @Spencerx @arfon
Thank you for your comment. I agree that one should ask questions whether submitted software to JOSS is a valuable contribution to research.

In regard to the number of lines of code: The _riskscorer_ package consists of several source files.
 - sts.R ==> 863 lines of code
 - test_sts.R ==> 383 lines of code
 - utils.R ==> 581 lines of code
 - test_utils.R ==> 221 lines of

[2016-08-07 20:25] lidapeng commented on #32
Hello Arfon @arfon . Is the review process for this paper done? If not I want to be a reviewer for this paper. Do I need to register a reviewer account?
I am running the plugin using the test data given in the data branch. The cumulative viewshed analysis takes a very long time. It also generates many files in the directory. Should I manually install the latest version? @zoran-cuckovic   Thanks.
!

[2016-08-08 16:41] arfon commented on #19
👍 thanks for this clear explanation @meyera

[2016-08-08 16:43] arfon commented on #32
@lidapeng - thanks for your interest. This review is now complete. If you're looking for support using the package I'd recommend you take a look at the project repository here: https://github.com/zoran-cuckovic/QGIS-visibility-analysis

[2016-08-08 16:46] keith923 commented on #43
Thanks @gforsyth.  That did help, and I ran into another error that made me look at the problem a bit harder.  Short story is that NVIDIA have a prefpane for updating the CUDA driver, but one needs to update the SDK manually.  I hopefully won't be much longer.

[2016-08-08 17:52] lidapeng commented on #32
OK. Thanks Arfon.

[2016-08-08 19:41] pjotrp commented on #47
How large it the git repo? I interrupted at 100Mb. Usually it is a good idea to have the data separate from the sources.

[2016-08-08 20:01] v3c70r commented on #47
@pjotrp  The repository is 299.04MB. I have no problem to clone the repository. But you are right that it is better to have the data separated.

[2016-08-09 03:21] pjotrp commented on #47
OK, put a warning on the size in the README, that should suffice for now.

[2016-08-09 15:46] zoran-cuckovic commented on #32
@lidapeng : you shoud select "cumulative" option. If it still doesn't work for you, please raise an issue in the repository.

[2016-08-09 16:49] zoran-cuckovic commented on #32
@arfon, @robintw
I have deposited the submitted version in Zenodo: [http://dx.doi.org/10.5281/zenodo.59896](http://dx.doi.org/10.5281/zenodo.59896)
The badge : [![DOI](https://zenodo.org/badge/doi/10.5281/zenodo.59896.svg)](http://dx.doi.org/10.5281/zenodo.59896)

Thanks again JOSS and reviewer!

[2016-08-09 18:44] lizutah commented on #43
Conflict of interest
- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (such as being a major contributor to the software).

General checks
- [x]  Repository: Is the source code for this software available at the repository url?
- [x]  License: Does the repository contain a plain-text LICENSE file with the contents of an OSI approved software licens

[2016-08-09 18:44] keith923 commented on #43
Running the regression tests I found the following errors.

The following tests:

* Config file: ./pygbe/tests/regression_tests/input_files/lys_8.config
Parameter file: ./pygbe/tests/regression_tests/input_files/lys.param

* Config file: ./pygbe/tests/regression_tests/input_files/molecule_stern_32K.config
Parameter file: ./pygbe/tests/regression_tests/input_files/sphere_fine.param

* Config file:

[2016-08-09 19:32] arfon commented on #32
@zoran-cuckovic - apologies for this request coming so late in the day but would you mind moving the references into the `paper.bib` file and into a bibtex format? We can't do the final paper processing/reference management with Crossref without this sorry.

[2016-08-09 19:32] labarba commented on #43
@keith923 : What CUDA card are you using?

[2016-08-09 19:38] gforsyth commented on #43
Thanks, @lizutah -- I'm working on fixing up the docs as you suggested.

@keith923 -- those all stem from memory issues, I believe.  The cards we test on all have 5+ GB of memory and I think the larger meshes are causing problems on your card.

If you edit `tests/regression_tests/regression.py` as follows it should prevent those errors.  Sorry for the trouble!

[code]

[2016-08-09 19:51] keith923 commented on #43
@labarba my Mac has a GeForce GT 750M with only 2GB of RAM.
@gforsyth while it makes sense to not try to run with the finer meshes, it might be nice if the software caught the exception and reported the problem to the user.  If it were me, I might even consider printing a warning and then using a coarser mesh.  Perhaps after asking the user if they'd like to proceed like that.

[2016-08-09 19:53] gforsyth commented on #43
@keith923 -- most definitely.  I have a patch in the works to do just that.

[2016-08-09 20:57] zoran-cuckovic commented on #32
@arfon - I've created the .bib file. Hope it works!

[2016-08-09 22:34] arfon commented on #32
@zoran-cuckovic - your paper is now accepted into JOSS. The DOI is http://dx.doi.org/10.21105/joss.00032 🎉 🚀 💥

Thanks for the review @robintw!

[2016-08-09 22:34] #32 closed

[2016-08-10 16:23] robintw opened #48 "Integration with Publons"
Publons (see https://publons.com/) is an online service that helps you get credit for peer reviewing work. A number of my colleagues have started using it to keep track of which journals they have reviewed for, and to allow them to easily show their contribution to 'the academic community' in job applications, funding applications etc.

It'd be great if JOSS could integrate with Publons? (I believ

[2016-08-10 16:25] kyleniemeyer commented on #48
Yeah, I think something like this would be nice. Based on my use of Publons so far, would this require sending out an email to each reviewer to acknowledge their work?

[2016-08-10 16:26] arfon commented on #48
@robintw - I think this is a great idea. @arhpreston can Publons pick up GitHub issues as reviews or would we need to push data to Publons _from_ JOSS?

[2016-08-10 16:28] cMadan commented on #48
I think Publons is great and it would be great to integrate our review process with them.

[2016-08-10 16:50] robintw commented on #48
Looking at their site, it seems like there is an API you can use (see https://publons.com/api/v2/ and specifically https://publons.com/api/v2/review/post/), but you have to be a 'partner' first (see https://publons.com/partner/info/). The alternative is to do it via emails as @kyleniemeyer said.

Hopefully with the API there could be some sort of automatic integration put together?

[2016-08-12 16:07] whedon opened #49 "[REVIEW]: TPIB - Transformation Peak Iterative Baseline"
**Submitting author:** @drcassar (<a href="http://orcid.org/0000-0001-6472-2780">Daniel Cassar</a>)
**Repository:** <a href="https://github.com/drcassar/TPIB" target ="_blank">https://github.com/drcassar/TPIB</a>
**Version:** v1.0.0
**Editor:** @kyleniemeyer
**Reviewer:** @nicoguaro
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/c33ddde3bc1bedc615cbdc99d656c7e5/status.svg

[2016-08-12 16:50] arfon commented on #49
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-08-12 17:50] gforsyth commented on #43
@lizutah -- I've pushed documentation fixes as you suggested.

@keith923 -- we now catch both out of memory and synchronize errors with human readable error messages

Thanks both for your comments and please let us know if there's anything else that needs doing.

[2016-08-16 09:13] pjotrp commented on #49
Someone with a physics/chemical background can pick this up

[2016-08-16 15:10] whedon opened #50 "[REVIEW]: MassMine: Your Access To Data"
**Submitting author:** @n3mo (<a href="http://orcid.org/0000-0002-0695-7765">Nicholas Van Horn</a>)
**Repository:** <a href="https://github.com/n3mo/massmine" target ="_blank">https://github.com/n3mo/massmine</a>
**Version:** v1.0.1
**Editor:** @mgymrek
**Reviewer:** @julianmcauley
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.193078" target="_blank">10.5281/zenodo.193078</a>

## Status

[2016-08-16 15:11] arfon commented on #50
@n3mo thanks for this submission! Before we can proceed would you mind extracting the references into a `paper.bib` file. We won't be able to process this submission until we can compile the paper using pandoc.

[2016-08-16 15:12] whedon opened #51 "Submission: rdefra: Interact with the UK AIR Pollution Database from DEFRA"
**Submitting author:** @cvitolo (<a href="http://orcid.org/0000-0002-4252-1176">Claudia Vitolo</a>)
**Repository:** <a href="https://github.com/kehraProject/r_rdefra" target ="_blank">https://github.com/kehraProject/r_rdefra</a>
**Version:** v0.3.0
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.61033" target="_blank">10.5281/zenodo.61033</a>

## Status

[![status](http://joss.theoj.org/pap

[2016-08-16 15:22] arfon commented on #51
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-08-16 15:51] whedon opened #52 "[REVIEW]: fuse: An R package for ensemble Hydrological Modelling"
**Submitting author:** @cvitolo (<a href="http://orcid.org/0000-0002-4252-1176">Claudia Vitolo</a>)
**Repository:** <a href="https://github.com/cvitolo/fuse" target ="_blank">https://github.com/cvitolo/fuse</a>
**Version:** v3.0.0
**Editor:** @arfon
**Reviewer:** @masalmon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.212822" target="_blank">10.5281/zenodo.212822</a>

## Status

[![status

[2016-08-16 15:53] arfon commented on #52
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-08-16 15:53] cxhernandez commented on #34
@rasbt: We've added more complete instructions [here](http://msmbuilder.org/osprey/development/getting_started.html)

Let me know what you think!

[2016-08-16 16:02] n3mo commented on #50
@arfon thanks for the quick response. I've extracted the references as requested, as well as migrated both files to a directory named "paper". Let me know if there's anything else I can do.

[2016-08-16 16:09] rasbt commented on #34
Nice, I will try to give it a whirl over the next couple of days.
Thanks for adding the random_state param. Just skimming through the documentation, I read that

So that means that every parallel trial will be run with the same random state? I think a simple workaround would be to increment the random seed for each parallel run so that they are different (and useful) but still reproducible.

[2016-08-16 16:12] arfon commented on #50
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-08-16 16:32] cxhernandez commented on #34
Exactly. One would have to create a separate configuration file for each parallel worker in this case; I can add a note about this.

[2016-08-16 17:37] pragyansmita commented on #51
:hand: I am reviewing this
I will get this reviewed by Friday (8/19) - thanks!

[2016-08-16 18:44] davclark commented on #41
Well, I lied a little. But better late than never. Note that I'm looking at the updated paper.md in the repo.

First a few small suggestions, not necessary for acceptance, but suggested:

1. Many R users don't know how to build and install packages. I could install `flow` with `R CMD build flow` and `R CMD INSTALL flow`, but package dependencies are not automatic this way. So, you could instead in

[2016-08-17 07:52] sbogutzky commented on #41
@davclark -- Thanks again, unfortunately I'm a little bit busy, because of the revision of my PhD Thesis. Maybe I can make some changes on the weekend.

Some remarks:

For 1.) The visualization at at the end is only for checking the segment and its data. The range of each segment of data based on the times of self-reports in self-report.csv
If you have a session with motion data and 4 self-reports

[2016-08-17 14:06] davclark commented on #41
JOSS seems pretty relaxed about the review process, and I'm not in any hurry. And, I'm confident you can get this in shape, as none of my concerns are core to your project. For now if you need to put something on a CV, it's fair to say you're "in revision".

To respond to your query about (4) - there should be a reliable way (i.e., the user shouldn't have to think too hard) to test the pipeline. T

[2016-08-17 14:36] labarba commented on #43
To @sobolevnrm, @keith923, and @lizutah --- Thank you for the comments that already have made us improve the code and make things better for potential users.  We have one "accept" decision by a reviewer (@kyleniemeyer). Are any of you ready to give your thumbs up? Anything else you would like us to do before you are happy?

[2016-08-17 22:58] lizutah commented on #43
Yes, happy to give a  :thumbsup:!

[2016-08-18 13:32] arfon commented on #43
@labarba - seems like we're ready to move forward on this 🎉

At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-08-18 13:48] arfon commented on #41
Thanks for the review @davclark. I'm afraid I don't fully understand your question 😕. If you're asking whether we expect libraries (or utility functions as @sbogutzky describes them here) to be exercised in the tests then ideally yes. Quoting from the http://joss.theoj.org/about#reviewer_guidelines

In addition we have some reviewer guidance about making sure there are examples of how to actually

[2016-08-18 14:24] davclark commented on #41
@arfon - I am pretty sure I didn't ask clearly. The test question was a separate thing, and I think I understand that clearly enough, and have communicated as much in my comments.

Right now, this software submission contains an R library (flow), in addition to analysis scripts which @sbogutzky considers the primary contribution. This is awkward, but I wasn't going to force him to separate this in

[2016-08-18 14:56] gforsyth commented on #43
Version bump to 2.1 with all revisions.

10.5281/zenodo.60474

:tada::tada::tada:

[2016-08-18 16:25] arfon commented on #43
Thanks for the review @kyleniemeyer!

@gforsyth @labarba your paper is now accepted and your DOI is http://dx.doi.org/10.21105/joss.00043 🚀 🎉 💥

[2016-08-18 16:25] #43 closed

[2016-08-18 16:35] labarba commented on #43
Thank you also to reviewers # 2 and # 3: @keith923 and @lizutah, and marshalling by @sobolevnrm.

[2016-08-18 18:43] jiemakel commented on #35
@desilinguist Could this be moved forward?

[2016-08-19 07:19] pjotrp commented on #51
Web scraping is a notoriously fragile method.

This software consists of 243 lines of R code. I would like to ask the
author to confirm *here* that he thinks this software is a valuable
contribution to research. I want to point out that once this work has
been published it will be visible for a long time. Adding an example
of having used this tool in research would be a good idea.

[2016-08-19 18:54] whedon opened #53 "[REVIEW]: CAZy-parser a way to extract information from the Carbohydrate-Active enZYmes Database"
**Submitting author:** @rodrigovrgs (<a href="http://orcid.org/0000-0001-5267-3002">Rodrigo Honorato</a>)
**Repository:** <a href="https://github.com/rodrigovrgs/cazy-parser" target ="_blank">https://github.com/rodrigovrgs/cazy-parser</a>
**Version:** v1.0
**Editor:** @pjotrp
**Reviewer:** @luizirber
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.200893" target="_blank">10.5281/zenodo.2008

[2016-08-19 19:09] arfon commented on #53
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-08-19 19:12] rvargas commented on #53
I'm not @rodrigovrgs

[2016-08-19 19:13] arfon commented on #53
Thanks @rvargas. Seems like @rodrigovrgs gave us the wrong GitHub handle :-|

[2016-08-19 19:14] kyleniemeyer commented on #53
That's strange—the "*Submitting author*" looks correct

[2016-08-19 19:19] arfon commented on #53
Yeah but the submitting author also just enters their GitHub handle manually which it looks like @rodrigovrgs did incorrectly.

[2016-08-21 18:02] pragyansmita commented on #51
This is part of the openSci R package and provides access to the Air Information Resource UK-AIR of the Department for Environment, Food and Rural Affairs in the United Kingdom (no public API available today).

@cvitolo - Can you please confirm the following are included?

-  a plain-text LICENSE file with the contents of an OSI approved software license
- release version number in documentation m

[2016-08-21 19:12] pragyansmita commented on #52
Downloading GitHub repo cvitolo/r_fuse@master
from URL https://api.github.com/repos/cvitolo/r_fuse/zipball/master
Error: Could not find build tools necessary to build fuse

I am using R 3.2.5 and have Rtools33 installed. I am still receiving the above error. Any idea how to move beyond to install fuse. Thanks!

[2016-08-21 19:14] pragyansmita commented on #52
:hand: I am reviewing this

[2016-08-22 17:23] rodrigovrgs commented on #53
Sorry for that, I'm the @rodrigovrgs you are looking for. @arfon, is there a way for me to fix handle?

[2016-08-22 17:25] arfon commented on #53
@rodrigovrgs - I've updated this thread with the correct GitHub handle. You can just change your GitHub username on JOSS here: http://joss.theoj.org/profile

[2016-08-23 20:25] arfon commented on #41
@davclark gotcha, thanks.

As you point out in this comment, by combining these two components this makes it somewhat more challenging to provide clear documentation for the user and tests/examples to demonstrate how to use the tool. All that said, I don't think we should force the authors into separate repositories provided they can clearly document how to use the tool.

[2016-08-25 14:26] cvitolo commented on #51
## rdefra - response to reviewers (step 1)

Many thanks for reviewing my paper/package. Below are my responses to reviewers' comments.

## @pjotrp

* I agree web scraping is a fragile method but without pubblic APIs there are not many alternatives. This is however a temporary solution, when APIs will become available I'll update the package to work with those.

* I wrote this software to carry out

[2016-08-25 16:48] whedon opened #54 "Submission: cartography: Create and Integrate Maps in your R Workflow"
**Submitting author:** @rCarto (<a href="http://orcid.org/0000-0002-1932-3323">Timothée Giraud</a>)
**Repository:** <a href="https://github.com/Groupe-ElementR/cartography" target ="_blank">https://github.com/Groupe-ElementR/cartography</a>
**Version:** v1.4.0
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.60878" target="_blank">10.5281/zenodo.60878</a>

## Status

[![status](http://joss.t

[2016-08-25 16:49] arfon commented on #54
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-08-25 17:54] janschulz commented on #54
:hand: I am reviewing this

[2016-08-25 18:23] tacaswell commented on #45
Sorry, I have fallen down on getting this done.

[2016-08-25 18:28] janschulz commented on #54
* Downloaded from the repo via devtools :heavy_check_mark:
* License is GPL (form 2007 -> DESCRIPTION says GPL-3) :heavy_check_mark:
* redid the example in the readme in an jupyter notebook on R 3.3 :heavy_check_mark: The vignette also worked like a charm :heavy_check_mark:  Unfortunatelly the only EN blogpost in http://rgeomatic.hypotheses.org/842 resulted in some errors (deprecation warnings ->

[2016-08-25 19:54] tacaswell commented on #45
- The current release on github is `0.10.0`, how can the submission be updated?
- I suggest making the installation instruction easier to find (give them a heading).  The setup.py should list `install_requires`.  Did not automatically install `statsmodels`
 - no clear link to contributing guidelines
 - statement of need in the documentation could be expanded (what does `corner` not do that this co

[2016-08-26 00:38] arfon commented on #51
@pragyansmita - CRAN has some pretty restrictive policies around where the license can be present. See this thread for background: https://github.com/openjournals/joss-reviews/issues/37#issuecomment-231787026

I believe that @cvitolo has adhered to the CRAN guidelines here which is acceptable to JOSS.

[2016-08-26 00:42] arfon commented on #54
👍 thanks for the rapid review @janschulz. @rCarto - please let me know what's happening with the  version numbers/releases.

[2016-08-26 00:44] arfon commented on #45
I can update this.

Many thanks @tacaswell. @samreay - please let us know on this thread when you've had a chance to review and incorporate @tacaswell's feedback.

[2016-08-26 07:01] Samreay commented on #45
Hi guys, am making the requested changes now. In regards to

Updated.

Have added a contribution heading with explicit details on the main page and the readme.

Have updated the introduction on the documentation page.

Neither the example [in the about page](http://joss.theoj.org/about) nor the example [example page](https://github.com/arfon/fidgit/tree/master/paper) have the software archive show

[2016-08-26 08:01] cvitolo commented on #52
@pragyansmita I'm sorry you cannot install fuse. I work only with Linux machines and I cannot reproduce your problem. I use travis-ci to check that there are no problems with installation and tests. As you can see [here](https://travis-ci.org/cvitolo/r_fuse) the package passes all the tests and builds no problem on a linux machine.

[2016-08-26 08:45] rCarto commented on #54
Thanks for the review @janschulz.
* I have updated the blogpost to reflect the current version usage.
* I have added the appveyor CI (which was surprisingly easy).

@arfon, concerning the version numbers, I was waiting for possible comments or suggestions from JOSS to integrate. Since comments and suggestions do not imply code changes I will upload this release (v1.4.0) to the CRAN today.

[2016-08-26 09:33] janschulz commented on #54
Thank you! :tada:

[Just to make sure: both were just something I observed and not related to the review here. Both could have gone as easily to the upstream repo as a issue -- and probably should have... sorry about that]

[2016-08-26 09:35] rCarto commented on #54
no problem

[2016-08-26 13:10] masalmon commented on #52
@cvitolo by the way on Travis you can also test on OSX by adding

[code]

after ` language: r` at the top of your .travis.yml.

Then you can use Appveyor for continuous integration on Windows (there's a `devtools::use_appveyor()` function which automatically creates the Appveyor config file, and then you need to activate CI for the repository on [Appveyor website](https://www.appveyor.com/) ), qui

[2016-08-26 15:24] cvitolo commented on #52
Many thanks @masalmon!

I just added the os: linux osx lines to .travis.yml. Building the job for osx takes ages, is that normal?

Also tried to configure appveyor but I keep getting this error 'Specify a project or solution file. The directory does not contain a project or solution file.'... not sure how to fix this.

[2016-08-26 15:40] masalmon commented on #52
You're welcome!

I don't know for osx, maybe it's just because it's the first build?

I am sorry I can't help for Appveyor, I never had this issue. Did you need to do something specific on Travis because of the sub directory structure?

[2016-08-26 15:42] cvitolo commented on #52
I just did:

cd fuse

I tried the same in appveyor but that did not fix the problem

[2016-08-26 15:43] masalmon commented on #52
Maybe this http://stackoverflow.com/questions/33411765/check-multiple-subdirectories-using-appveyor can help?

[2016-08-26 15:48] masalmon commented on #52
Although that's what you already did...

[2016-08-26 15:59] janschulz commented on #52
I thought this happens when appveyor doesn't see a appveyor.yml file or the file doesn't have a `build` section (or whatever the section is named which builds the project) -> per default it tries to build a MS Visual Studio solution / project file (like the default makefile for make based systems).

[2016-08-26 18:34] jkahn commented on #52
Apologies for intervening, but could these details be discussed in an issue on the submitted project rather than here in the review?

I'll file a ticket with @arfon to encourage this as a general directive to reviewers.

[2016-08-26 19:48] arfon commented on #52
Good suggestion @jkahn. @masalmon @cvitolo @janschulz - would you mind taking this discussion over to the submission repo (https://github.com/cvitolo/r_fuse)?

[2016-08-27 08:21] rCarto commented on #54
cartography v1.4.0 is on CRAN now.

[2016-08-27 20:46] pragyansmita commented on #51
@cvitolo Thank you for the information

@arfon Thank you

Recommend for publication. @arfon : Please let me know if anything else is needed. Thanks!

[2016-08-27 20:59] arfon commented on #51
Thanks @pragyansmita.

@cvitolo - at this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-08-27 21:00] arfon commented on #54
@rcarto - could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-08-27 21:26] arfon commented on #45
@tacaswell @Samreay - yes this is automatically injected at the end of the review once the submission review process is complete. Sorry for any confusion caused here.

Thanks for the rapid turnaround @Samreay. @tacaswell - would you mind taking another look to see if this is good to accept now?

[2016-08-28 03:05] tacaswell commented on #45
Statsmodels is not directly cited, where as the other 3 direct dependencies are.  I defer to @arfon on if that is a blocking issue or not.

otherwise all of my concerns are addressend and looks good to publish :+1:

the version needs to be bumped to 0.10.1

[2016-08-28 04:55] Samreay commented on #45
Yes, I hope to replace statsmodels with scikit-learns kde implementation in
their next release, so because of that, and statsmodels not having a
publicised bibtex citation (would have to @misc ref their github). In
addition, unlike matplotlib, numpy and scipy, which are used in all
instances of the library usage, the kde is only used on specific request
(which should be rare). For those reasons I

[2016-08-28 06:14] cvitolo commented on #51
Many thanks @arfon - I have just made a new release v0.3.2, here is the doi url: http://dx.doi.org/10.5281/zenodo.61033

[2016-08-28 15:35] arfon commented on #45
paper.md after the review when this changed, which seems also inappropriate.

Provided this is the only change I think we should add Statsmodels to the current list of citations. @Samreay - could you please do this and then make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submiss

[2016-08-28 15:47] arfon commented on #51
Thanks for the review @pragyansmita :zap:

@cvitolo - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00051 🎉 🚀 💥

[2016-08-28 15:47] #51 closed

[2016-08-28 15:48] whedon opened #55 "[REVIEW]: RcppCNPy: Read-Write Support for NumPy Files in R"
**Submitting author:** @eddelbuettel (<a href="http://orcid.org/0000-0001-6419-907X">Dirk Eddelbuettel</a>)
**Repository:** <a href="https://github.com/eddelbuettel/rcppcnpy" target ="_blank">https://github.com/eddelbuettel/rcppcnpy</a>
**Version:** 0.2.5
**Editor:** @cMadan
**Reviewer:** @mdnunez
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.155066" target="_blank">10.5281/zenodo.155066<

[2016-08-28 15:52] arfon commented on #55
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-08-29 05:24] Samreay commented on #45
Have added statsmodels and archived. Final doi is
http://dx.doi.org/10.5281/zenodo.61064

On Mon, Aug 29, 2016 at 1:35 AM, Arfon Smith <notifications@github.com>
wrote:

[2016-08-29 07:44] rCarto commented on #54
Here is the DOI url of the archive: http://dx.doi.org/10.5281/zenodo.60878

[2016-08-30 15:09] cxhernandez commented on #34
@rasbt: I've added the ability to specify the random seed through the CLI, which should make it much more convenient to generate many reproducible workers

[2016-08-30 15:18] arfon commented on #45
OK thanks @Samreay. This is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00045 🚀 🎉 💥

Thanks for the review @tacaswell

[2016-08-30 15:18] #45 closed

[2016-08-30 17:08] arfon commented on #54
Thanks for the rapid review @janschulz :zap:

@rCarto your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00054 🚀 🎉 💥

[2016-08-30 17:08] #54 closed

[2016-08-30 18:19] rasbt commented on #34
thanks again for the update, Carlos. Haven't had a chance to look at the updated osprey package -- just got back from yet another conference, yesterday. The review is high on my to do list though, and I hope I'll be able to give you some feedback some time this week :)

[2016-08-30 23:45] Samreay commented on #45
Thanks guys!

On Wed, Aug 31, 2016 at 1:18 AM, Arfon Smith <notifications@github.com>
wrote:

[2016-08-31 01:57] rasbt commented on #34
Hey, just got the latest release from GitHub and were trying to run the unit tests via `nose` and pumped into another little problem

[code]

Now, I am wondering, which Python version(s) does osprey support? 2.7, 3.5, others? I would recommend adding a note about that in the README and on the documentation page itself in the Installation section

[2016-08-31 02:28] rasbt commented on #34
Another little problem I bumped into when I was trying to run Osprey on a CSV version of Iris; hope you could help with that :)

I've setup the parameter file as follows

[code]

I also tried adding

[code]

but got the same error message. Also, I tried `usecols: 0, 1, 2, 3, 4` instead of `usecols: 0, 1, 2, 3` but it didn't, same error message:

[code]

The iris.csv is formatted as follows:

[code

[2016-08-31 07:59] rCarto commented on #54
Many thanks!

[2016-08-31 15:50] cxhernandez commented on #34
@rasbt: Did you share the correct csv file?

[code]

It seems to only have one row (which `np.genfromtxt` interprets as a 1-D array).

[code]

[2016-08-31 16:37] cxhernandez commented on #34
This error seems to stem from how `numpy.genfromtxt` handles the DOS carriage return characters in your CSV file. I [replaced them](https://github.com/openjournals/joss-reviews/files/447830/iris.unix.txt) with a newline character and the data-loading seems to work just as intended. I'm inclined to report this to the NumPy folks, as this shouldn't be a difficult fix.

As far as the configuration fi

[2016-08-31 16:43] cxhernandez commented on #34
I can add this to the README and docs . Osprey should support Python 2.7+.

As far as that particular error goes, you need to run `python setup.py install` (or `develop`) prior to nose testing so that the `version` module can be generated. Might be worth adding a `testing` section to the docs as well.

[2016-08-31 17:11] rasbt commented on #34
Ah, you are right, I exported the Iris feature array via numpy and then noticed that I forgot the class labels, which I quickly added via Excel. Excel must have replaced the newline chars by these weird  DOS carriage return characters. Looked normal to me in my text editor (atom), but I had the same 1-line problem when using `cat`. Thanks for the hint!

Sorry about that, I remember you mentioned t