[2022-07-26 15:54] adam2392 commented on #4484
Hi @emdupre just wanted to check to see if there were any updates on this?

Don't want to continue bothering you all w/ notifications :p. Generally what sort of timeline should we expect?

[2022-07-26 15:58] dfm commented on #4568
@editorialbot add @ColmTalbot as reviewer

I don't know what happened with the bot this time round, but hopefully this will do it!

[2022-07-26 16:42] hwloidl commented on #4592
@bcoye can you fix the error mentioned on the PRE-REVIEW pages, and by Daniel aboce: ORCID identifiers should contain only '-' (a hyphen) as non-digit identifier; I think you are using an endash (long dash), prbl a cut-and-paste issue; this is important to fix, since it stops us from generating a .pdf out of your paper.md file

[2022-07-26 16:52] masadcv commented on #4532
@editorialbot generate pdf

[2022-07-26 17:03] dunnkers commented on #4611
@editorialbot check repository from branch master

[2022-07-26 18:36] ChristopherLucas commented on #4415
Congrats, again, on a great package. I spent some time looking through the docs yesterday - awesome materials, some of which I'll probably use in one of my grad courses.

[2022-07-26 18:53] hwloidl commented on #4592
@bcoye Overall `paper.md` with Summary and Statement of NEed are good; however I suggest to add a 3rd para in Summary which is more specific about the problem you want to solve (scheduling of a task graph) and the approach you are taking; a short version of paras 3 and 4 from your EuroPar22 paper would work well to this end

[2022-07-26 18:56] hwloidl commented on #4592
@bcoye regarding Dan's comment above on "gitlab instance that is limited to INRIA " can you confirm that this repo is open and available without an account? I think I managed to clone the repo without loging in, so this part seems ok to me at this point.

[2022-07-26 18:58] hwloidl commented on #4592
@danielskatz can you double check that these messages are reaching the author? I note that the handle (@bcoye) is not bold-faced and not clickable; should he be added to the Review repo to engage in discussions?

[2022-07-26 19:14] fboehm commented on #4601
Yes, @kyleniemeyer - I'm happy to edit this submission. Thank you for the invitation.

[2022-07-26 19:15] fboehm commented on #4601
@editorialbot assign me as editor

[2022-07-26 19:47] step21 commented on #4328
I had some trouble getting testing access at least with google. Azure worked better but did not test yet. Haven't tried Amazon yet. If you would have any test credentials, this could help as I think I might have to sign up for a whole new Google account to get testing credit again.

[2022-07-26 19:53] fboehm commented on #4601
@gasparl - can you suggest several individuals who might be able to review this submission? please include their names and email addresses.

Thank you!

[2022-07-26 19:56] ConnorDonegan commented on #4578
@editorialbot generate my checklist

[2022-07-26 20:12] step21 commented on #4328
Issue re paper that there is not comparison to the field and maybe too much much usage description in the paper. https://github.com/caltechlibrary/handprint/issues/38

[2022-07-26 20:12] step21 commented on #4328
Also I would prefer if a direct usage example would also be present in the wiki, not only in the documentation site. https://github.com/caltechlibrary/handprint/issues/39

[2022-07-26 20:26] editorialbot opened #4612 "[PRE REVIEW]: graphenv: a Python library for reinforcement learning on graph search spaces"
**Submitting author:** @pstjohn (<a href="http://orcid.org/0000-0002-7928-3722">Peter C. St. John</a>)
**Repository:** https://github.com/NREL/graph-env/
**Branch with paper.md** (empty if default branch):
**Version:** v0.0.5
**Editor:** @osorensen
**Reviewers:** @iammix, @vwxyzjn, @Viech, @idoby
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/1d1427f9c72a4a

[2022-07-26 20:32] kyleniemeyer commented on #4455
@editorialbot accept

[2022-07-26 20:39] kyleniemeyer commented on #4455
Congratulations @thomaspinder on your article's publication in JOSS!

Many thanks to @gpleiss and @theorashid for reviewing this, and @dfm for editing.

[2022-07-26 20:39] #4455 closed

[2022-07-26 20:56] editorialbot opened #4613 "[PRE REVIEW]: PatchView: A Python Package for Patch-clamp Data Analysis and Visualization"
**Submitting author:** @ZeitgeberH (<a href="http://orcid.org/0000-0002-5254-5315"></a>)
**Repository:** https://github.com/ZeitgeberH/patchview
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.2
**Editor:** @jmschrei
**Reviewers:** @mstimberg, @janfreyberg
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/a1ff88d9f0a982dec788388be09c58a4/

[2022-07-26 21:07] pstjohn commented on #4612
doi:10.1038/s42256-022-00506-3 is in press and will hopefully be live before this article is published.

[2022-07-26 21:25] ZeitgeberH commented on #4613
@editorialbot commands

[2022-07-26 21:38] ZeitgeberH commented on #4613
@editorialbot generate pdf

[2022-07-26 21:43] ZeitgeberH commented on #4613
@editorialbot check references

[2022-07-26 21:57] ZeitgeberH commented on #4613
@editorialbot generate pdf

[2022-07-26 22:05] ZeitgeberH commented on #4613
Hi, I selected a few potential reviewers with Neuroscience background: GeekLogan, pausz,  vferat, adam2392
Let me know if they would like to review my paper. Thanks!

[2022-07-26 22:14] ZeitgeberH commented on #4613
@editorialbot generate pdf

[2022-07-26 22:36] andrew-f-murphy commented on #3632
Hey @cMadan anything we can do to help out?

[2022-07-26 22:37] devSJR commented on #4407
@editorialbot generate pdf

[2022-07-26 22:57] devSJR commented on #4407
@editorialbot generate pdf

[2022-07-26 23:45] devSJR commented on #4407
@editorialbot generate pdf

[2022-07-27 00:12] flyaflya commented on #4415
Thanks [@ChristopherLucas](https://github.com/ChristopherLucas) for the encouragement. I switched the example model to use another well known dataset without the weird modelling of standard errors. This time I am using a medium complexity version of the chimpanzee example from McElreath's Statistical Rethinking. Experiment discussed here: https://youtu.be/n2aJYtuGu54?t=513

The updated paper is an

[2022-07-27 00:47] CamDavidsonPilon commented on #4566
Sorry I've been so absent! Picking this up again this week. Reproducing my checklist from earlier:

## Review checklist (work in progress)

- [x] I confirm that I have read the JOSS conflict of interest policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.
- [x] I confirm that I read and will adhere to the JOSS

[2022-07-27 02:53] josephwkania commented on #4549
I've updated `jess`'  licensee to GPL-3.

[scintillation](https://github.com/josephwkania/will/blob/5e1c7ca63c91902ccc45bffeaa8a9177bb026cb0/will/create.py#L504) is  based on
https://github.com/liamconnor/injectfrb/blob/a4dd5f22438ba7bdfaa2eb792eb54736cde53fed/injectfrb/simulate_frb.py#L77
which I modified to make the scintiles (what I consider) more realistic.

[scatter_profile](https://github.co

[2022-07-27 04:33] balos1 commented on #4466
@diehlpk I can review this.

[2022-07-27 06:08] gasparl commented on #4601
Thank  you @fboehm for taking the editorial role! Below are the reviewers I suggested above, now with names and email addresses – all found on the [joss_reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) list, given in no particular order (actually the reverse order of occurrance on the _joss_reviewers_ list, as suggested above):

- c

[2022-07-27 06:22] danielskatz commented on #4592
This is not sufficient. The community must have a way to create issues as well as being to create PRs, not just clone the repo. The latter is open source, but the former is needed for this to be a community project and meet the JOSS community guidelines.

[2022-07-27 06:23] danielskatz commented on #4592
Yes, there's a problem here - thanks for catching it.  I'll try to figure it out

[2022-07-27 08:24] martinfleis commented on #4335
@editorialbot generate pdf

[2022-07-27 08:25] martinfleis commented on #4335
@editorialbot check references

[2022-07-27 08:27] martinfleis commented on #4335
Thank you all!

@sebastien-plutniak  The submission is now almost ready to be published.

The next steps you need to do now:

- [ ] Make a new tagged release (or let me know if the latest one contains all the changes) of the software, and list the version tag of the archived version here.
- [ ]  Archive the reviewed software in Zenodo or a similar service
- [ ]  Check that the archival deposit (e.

[2022-07-27 08:35] martinfleis commented on #4052
Hi @pritchardn, would you be willing to review this submission?

[2022-07-27 09:13] sebastien-plutniak commented on #4335
@martinfleis
I have made a new tagged release ([v0.8.2](https://github.com/sebastien-plutniak/archeofrag/releases/tag/v0.8.2)),
which is archived on Zenodo (DOI: [10.5281/zenodo.6912425](https://doi.org/10.5281/zenodo.6912425))
Thank you very much for handling this submission!

[2022-07-27 09:31] baptisteCoye commented on #4592
Hi, sorry couldn't get the notifications.
Yes you are right, i thought a classic gitlab account would be ok to create issues on a public git but it seems it doesn't work.
I'll recreate the repository on github, and make the necessary changes regarding the ORCID and add the paragraph @hwloidl was refering to earlier.
Should I send you the new git repository here?

[2022-07-27 09:39] martinfleis commented on #4335
@editorialbot set 10.5281/zenodo.6912425 as archive

[2022-07-27 09:39] martinfleis commented on #4335
@editorialbot set v0.8.2 as version

[2022-07-27 09:39] martinfleis commented on #4335
@editorialbot generate pdf

[2022-07-27 09:42] martinfleis commented on #4335
Thank you @sebastien-plutniak! I'm going to hand this over now to the associate EiC on rotation for the final steps.

[2022-07-27 09:42] martinfleis commented on #4335
@editorialbot recommend-accept

[2022-07-27 10:07] devSJR commented on #4407
@editorialbot generate pdf

[2022-07-27 10:30] devSJR commented on #4407
@editorialbot generate pdf

[2022-07-27 10:54] mattpitkin commented on #4568
@ColmTalbot Thanks for reporting the issue. I'll get those fixed.

I've added a reference to a review article and also cited the OSG paper.

I assume you mean `cwinpy_heterodyne` versus `cwinpy_heterodyne_pipeline`? Basically, the latter should be used for almost all practical purposes, as it will generate and run the heterodyne as a Condor DAG. The former is really just for quick testing on short

[2022-07-27 11:06] mattpitkin commented on #4568
@editorialbot generate pdf

[2022-07-27 11:50] editorialbot opened #4614 "[PRE REVIEW]: activAnalyzer: An R Shiny app to analyse ActiGraph accelerometer data and to implement the use of the PROactive Physical Activity in COPD instruments"
**Submitting author:** @pydemull (<a href="http://orcid.org/0000-0001-9157-7371">Pierre-Yves de Müllenheim</a>)
**Repository:** https://github.com/pydemull/activAnalyzer
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.4
**Editor:** @samhforbes
**Reviewers:** @elimillera, @spitschan, @angerhang
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/pa

[2022-07-27 11:52] lucask07 commented on #4586
We should also add `untzag` to the list of potential reviewers. He has done extensive instrumentation work.

[2022-07-27 11:54] Kevin-Mattheus-Moerman commented on #4595
@editorialbot assign me as editor

[2022-07-27 11:54] Kevin-Mattheus-Moerman commented on #4596
@editorialbot check references

[2022-07-27 11:57] Kevin-Mattheus-Moerman commented on #4596
@editorialbot invite @fraukewiese as editor

[2022-07-27 11:58] Kevin-Mattheus-Moerman commented on #4596
@fraukewiese this may be somewhat off topic but I am hoping you'd be able to help edit this.

[2022-07-27 11:59] liberostelios commented on #4593
Thank you very much for taking care of all the issues, especially so quickly! I am sorry for missing the docs badge, as well. 😊

I think all issues have been fixed, except for that problem with visualization in functionality, which I wonder if it's something that I am doing wrong? I'll raise an [issue](https://github.com/p-ortmann/dyntapy/issues/2) in the github repository with screenshots to disc

[2022-07-27 11:59] Kevin-Mattheus-Moerman commented on #4598
@obertscheiderfhwn can you check/fix those potentially missing/invalid DOIs? :point_up: You can check the references again by calling: `@editorialbot check references`, and you can call `@editorialbot generate pdf` to update the draft.

[2022-07-27 12:03] Kevin-Mattheus-Moerman commented on #4598
@obertscheiderfhwn I've waitlisted this submission just now since the editors in the domain are all busy handling other submissions. We will assign an editor once one becomes available.

[2022-07-27 12:04] Kevin-Mattheus-Moerman commented on #4598
@kyleniemeyer do you think you can help edit this one once you are available?

[2022-07-27 12:14] wimvanderbauwhede commented on #4590
@danielskatz @ajohnson-uoregon @tokuso2  The license issue is now closed, the tool is under the NCSA license.

[2022-07-27 12:17] Kevin-Mattheus-Moerman commented on #4599
@ddhendriks thanks for this submission. I am an AEiC with JOSS and here to help find a handling editor. Below are some minor points after having a quick look at the paper:

- [ ] Rather than using stuff like `[binary\_c-python]{.smallcaps}` throughout, can you instead `` ` `` symbols instead to create the "code like" font, e.g. :
[code]
- [ ] Please format the entire paper according to our style a

[2022-07-27 12:17] Kevin-Mattheus-Moerman commented on #4599
@editorialbot invite @xuanxu as editor

[2022-07-27 12:20] Kevin-Mattheus-Moerman commented on #4604
@xuanxu I'll assign you now and you can pick this up once you are back.

[2022-07-27 12:21] Kevin-Mattheus-Moerman commented on #4599
@editorialbot invite @eloisabentivegna as editor

[2022-07-27 12:21] Kevin-Mattheus-Moerman commented on #4599
(I already invited @xuanxu over at https://github.com/openjournals/joss-reviews/issues/4604, hence I am hoping @eloisabentivegna can help instead)

[2022-07-27 12:22] editorialbot opened #4615 "[PRE REVIEW]: BulkFastaSearch: A GUI based tool for extracting multiple sequences using their ids (.txt) from a bigger file (.fasta, fasta.gz) altogether"
**Submitting author:** @suheelyousuf (<a href="http://orcid.org/0000-0002-3793-3504">Suheel Yousuf Wani</a>)
**Repository:** https://github.com/suheelyousuf/bulkfastasearch
**Branch with paper.md** (empty if default branch): master
**Version:** v1 0.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/35ce4bff3bf8cbabc

[2022-07-27 12:28] editorialbot opened #4616 "[PRE REVIEW]: libf0: A Python Library for Fundamental Frequency Estimation in Music Recordings"
**Submitting author:** @sebastianrosenzweig (<a href="http://orcid.org/0000-0003-4964-9217">Sebastian Rosenzweig</a>)
**Repository:** https://github.com/groupmm/libf0
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/1a11c3a7b40a10532ac2f7649c3751

[2022-07-27 12:48] Kevin-Mattheus-Moerman commented on #4610
@DominiqueMaucieri I am an AEiC with JOSS and here to process the first steps and to help assign an editor if this work is deemed in scope.

- [ ] Since you are the sole author, you can remove the statement (and associated YML) that authors contributed equally.
- [ ] Please check the above potentially missing DOIs. You can get our bot to check them again by calling `@editorialbot check references`

[2022-07-27 12:50] pdebuyl commented on #4605
Hi @kyleniemeyer . I could, but not before mid-august, and possibly after going through some backlog then. Also, this seems to be an AAS paper, what are the specifics for editing such articles?

[2022-07-27 12:52] Kevin-Mattheus-Moerman commented on #4610
@KristinaRiemer this seems like your cup of tea :tea: but you are handling several other submissions already. I'll label this as waitlisted for now but was wondering if you can help edit this once you are available? Thanks

[2022-07-27 12:53] Kevin-Mattheus-Moerman commented on #4603
@jedbrown :wave:

[2022-07-27 13:03] jedbrown commented on #4603
I can edit this, but I may not be able to work on it until Monday due to family commitments this week.

[2022-07-27 13:24] Kevin-Mattheus-Moerman commented on #4612
@editorialbot invite @osorensen as editor

[2022-07-27 13:29] Kevin-Mattheus-Moerman commented on #4613
@editorialbot invite @jmschrei as editor

[2022-07-27 13:31] Kevin-Mattheus-Moerman commented on #4613
@jmschrei this may be off topic a bit but let me know if you can handle this work featuring signal processing for a neuroscience application (several editors closer to this domain are currently handling many other submissions).

[2022-07-27 13:43] jedbrown commented on #4569
Thanks @snakesonabrain @PaulDebus for your reviews.

@banesullivan Please let us know if you have questions or if anything unexpected will prevent you from reviewing in the next few weeks.

[2022-07-27 13:43] hwloidl commented on #4592
@baptisteCoye while you are at making the changes, this item in my reviewer checklist is currently not covered in the paper: Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support
I suggest you you add are short section on this and add the information mentioned above, pointing to the

[2022-07-27 13:47] hwloidl commented on #4592
@baptisteCoye Another item still to cover in paper.md is: "State of the field: Do the authors describe how this software compares to other commonly-used packages?"
You just shortly mention "lack of studies". I think your Europar22 paper has a bit more on this in the intro. One para on this (probably in the intro, or in a new background section) should address this

[2022-07-27 13:48] hwloidl commented on #4592
@editorialbot generate pdf

[2022-07-27 13:48] pritchardn commented on #4052
Hello, I will gladly help out

[2022-07-27 14:27] baptisteCoye commented on #4592
@danielskatz Here is the new git repository with the right access: (if new submission is needed let me know)
https://github.com/baptisteCoye/SimSGame

I'll add the community guidelines and state of the field right away.

[2022-07-27 14:33] martinfleis commented on #4052
@editorialbot remove @sk1p from reviewers

[2022-07-27 14:36] martinfleis commented on #4052
@pritchardn Thanks a lot! As you can see, this review is already ongoing but we have lost one reviewer along the way.  Your review will be checklist based. You will have a separate checklist that you should update when carrying out your review.

First of all you need to run this command in a separate comment to create the checklist:

[code]

The JOSS review is different from most other journals. O

[2022-07-27 15:11] ChristopherLucas commented on #4415
This looks great to me. Congrats on the package and paper!

[2022-07-27 16:38] nicholas512 commented on #4596
Sorry, I just saw this in the first comment:

[code]

From what I can tell, `Mankoff` is probably the best fit in terms of someone who works with similar kinds of data (from dataloggers or models) but is near the top of the spreadsheet.

[2022-07-27 17:03] diehlpk commented on #4466
@editorialbot add @balos1 as reviewer

[2022-07-27 17:04] diehlpk commented on #4466
@editorialbot start review

[2022-07-27 17:04] editorialbot opened #4617 "[REVIEW]: Aerobus: a C++ template library for polynomials algebra over discrete integral domains"
**Submitting author:** @JeWaVe (<a href="http://orcid.org/0000-0002-6291-3345">regis portalez</a>)
**Repository:** https://github.com/JeWaVe/aerobus
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.2.0
**Editor:** @diehlpk
**Reviewers:** @JPenuchot, @balos1
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/3c1ba7b1d77f0d84db637854a939daf6/status.svg)

[2022-07-27 17:04] #4466 closed

[2022-07-27 17:05] suheelyousuf commented on #4615
To check bibtex go the branch: FastaTool/paper/paper.md

[2022-07-27 17:35] bonh commented on #4565
Hi @JanLeppert! So far the packages looks awesome, thanks. I am trying to look into this reference [http://10.1016/j.chroma.2020.460985](http://10.0.3.248/j.chroma.2020.460985) but I cannot download it. Can you provide me a preprint?

[2022-07-27 17:39] bonh commented on #4565
Especially the documentation is outstanding.

[2022-07-27 17:41] bonh commented on #4565
@JanLeppert, I cannot find anything about "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support".

[2022-07-27 17:43] balos1 commented on #4617
@editorialbot generate my checklist

[2022-07-27 17:59] osorensen commented on #4612
@editorialbot assign @osorensen as editor

[2022-07-27 18:02] osorensen commented on #4612
@pstjohn, thanks for submitting this article to JOSS. I'll try to find reviewers now.

In the meantime, could you please correct the following reference to Zhou (2019) on line 17. Seems like the citation key is wrong, because it does not appear in the bibliography at the end either.

<img width="1110" alt="image" src="https://user-images.githubusercontent.com/21175639/181341146-4ff5f82c-90fd-4c4e-

[2022-07-27 18:04] osorensen commented on #4612
@pstjohn, in the manuscript, please also define the abbreviation "DOE", which is not obvious for readers outside the US.

[2022-07-27 18:19] azoitl commented on #4592
@editorialbot generate my checklist

[2022-07-27 18:20] osorensen commented on #4612
👋 @vwxyzjn @jorgedch @iammix would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-07-27 18:25] Kevin-Mattheus-Moerman commented on #4603
@jedbrown that is grand, thanks for helping!

[2022-07-27 18:25] Kevin-Mattheus-Moerman commented on #4603
@editorialbot assign @jedbrown as editor

[2022-07-27 18:34] iammix commented on #4612
Hello, yes I am able to review this submission.

[2022-07-27 18:39] vwxyzjn commented on #4612
Hi @osorensen and @pstjohn, this looks like a cool project. I am happy to help review 🙂

[2022-07-27 18:47] azoitl commented on #4592
@baptisteCoye how I understand this is that the community guidelines should be part of the readme.md in the repository and not in the paper.

[2022-07-27 18:50] osorensen commented on #4612
@editorialbot add @iammix as reviewer

[2022-07-27 18:50] osorensen commented on #4612
@editorialbot add @vwxyzjn as reviewer

[2022-07-27 18:56] pstjohn commented on #4612
Thanks @osorensen for handling this!

I fixed those issues with the manuscript -- We missed the '@' symbol for Zhou_2019

@editorialbot generate pdf

[2022-07-27 19:13] Kevin-Mattheus-Moerman commented on #4576
@editorialbot assign @pibion as editor

[2022-07-27 20:23] pbotros commented on #4520
Hi @gkthiruvathukal checking in here - any updates on this review? Thanks!

[2022-07-27 20:31] Kevin-Mattheus-Moerman commented on #4578
@ConnorDonegan I am an AEiC with JOSS and here to help with initial steps before we proceed. Can you check the following:

- [ ] JOSS requires an open source license. Please add an [OSI approved open source license](https://opensource.org/licenses) to your software. It is recommended to do so in the form of a plain text `LICENSE` file placed in the main folder of your repository.
- [ ] Please chec

[2022-07-27 20:40] masadcv commented on #4532
Just an update from our side.

We have taken all comments provided so far and prepared detailed documentation that covers different aspects of the package.
This includes paper comments from @jacobmerson , execution speed comparison and algorithmic detail comments from @yhtang  and instructions from @vissarion on adding details from above comments into documentation.

This can be accessed and revie

[2022-07-27 20:40] masadcv commented on #4532
@editorialbot generate pdf

[2022-07-27 20:54] DominiqueMaucieri commented on #4610
@editorialbot check references

[2022-07-27 20:59] DominiqueMaucieri commented on #4610
@editorialbot check references

[2022-07-27 21:11] sara-02 commented on #4434
Hello @faroit @MarieRoald, this project looks cool. I will be happy to review it. I am available post 20th August to help.

[2022-07-27 21:26] alexandergagliano commented on #4475
@christinahedges My review is complete. There are some outstanding remaining comments about updating references and a statement on the state of the field, but none are major and it looks like the software comments have all been addressed.

[2022-07-27 21:52] fAndreuzzi commented on #4534
Hey @max-little,

Thank you very much for the explanation, now it's clearer to me.

Perfect! Thanks for the change.

I've just opened max-little/GRAPL#12 for a minor improvement in the readability of the README file (just to let the user quickly recognize where are the tutorials, how to run them and what's the content). Feel free to reject or merge depending on what you need.

My review is over I

[2022-07-28 00:32] ConnorDonegan commented on #4578
@editorialbot check references

[2022-07-28 00:39] ConnorDonegan commented on #4578
@editorialbot check references

[2022-07-28 00:42] OHildreth commented on #4257
@MatthieuDartiailh Thanks for the comment.  That is a great point and easy to address in the manuscript with your suggestion.  We currently only support TCIP::SOCKET as you pointed out and that the ::INSTR is planned for the future.  The ::SOCKET was an easy test case to start with.

[2022-07-28 00:43] ConnorDonegan commented on #4578
@Kevin-Mattheus-Moerman Thanks, I think I've addresses those issues now.

[2022-07-28 02:16] pritchardn commented on #4052
@editorialbot generate my checklist

[2022-07-28 04:09] gkthiruvathukal commented on #4520
@pbotros Many apologies for the delay. I was at an NSF PI meeting earlier this week.
I will start with your suggestion. May ask you to choose 1-2 others so I have some backups!

[2022-07-28 04:10] gkthiruvathukal commented on #4520
@agricolab and @ixjlyons, are either or both of you available to contribute a review for this JOSS submission? I need two reviewers. Thank you for letting me know either way!

[2022-07-28 06:13] linusseelinger commented on #4605
@editorialbot generate pdf

[2022-07-28 06:17] linusseelinger commented on #4605
@pdebuyl The AAS reference was just a left over from the paper template we used. Sorry for the confusion!

I removed the AAS reference, and also added the missing DOI from above in bibliography.

[2022-07-28 06:40] ggonnella commented on #4559
@danielskatz May I ask what is the state of the discussion? Tomorrow is 3 weeks already :)

[2022-07-28 06:50] danielskatz commented on #4559
Sorry, I'm currently on vacation, but I think @Kevin-Mattheus-Moerman is on duty this week and should be able to answer

[2022-07-28 06:53] danielskatz commented on #4592
I've updated the metadata at the top of this issue for the new author username and repo address

[2022-07-28 06:53] danielskatz commented on #4592
@editorialbot check references

[2022-07-28 06:53] danielskatz commented on #4592
@editorialbot generate pdf

[2022-07-28 06:54] danielskatz commented on #4592
@editorialbot check repository

[2022-07-28 06:56] danielskatz commented on #4592
@baptisteCoye - The paper.md still has the same problem with incorrect hyphens for an ORCID - see https://github.com/openjournals/joss-reviews/issues/4592#issuecomment-1195546027

And yes, the community guidelines should be in the readme, and can also be in the paper but don't have to be there.

[2022-07-28 07:00] danielskatz commented on #4592
actually, now I see that maybe the orcid was changed - I think https://github.com/baptisteCoye/SimSGame/pull/1 should fix it

[2022-07-28 07:19] vissarion commented on #4532
We are currently waiting for the scope check by JOSS editorial team. Thia could take some time since this is a vacation period for many places on Earth.

@masadcv thanks for the feedback and all the work!

@jacobmerson and @yhtang since the mentality of JOSS is not rejecting outright submissions requiring major revisions but rather giving the author as long as they need to make modifications/impro

[2022-07-28 07:24] wouterpeere commented on #4406
@editorialbot generate pdf

[2022-07-28 07:26] vissarion commented on #4582
Hi @idoby, @farhadrclass, @amadeusine, @ben-schwen, @tbsexton, would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-07-28 07:27] JanLeppert commented on #4565
Thank you for your comments. Below you can find a copy of the reference you ask for:
[Leppert.2020b-Simulation of spatial thermal gradient gas chromatography-Annotation.pdf](https://github.com/openjournals/joss-reviews/files/9206560/Leppert.2020b-Simulation.of.spatial.thermal.gradient.gas.chromatography-Annotation.pdf)

[2022-07-28 07:35] idoby commented on #4582
@vissarion More than happy to give it a try but this would be my first time so bear with me please

[2022-07-28 07:38] arfon commented on #4457
Excellent! Thanks for the update.

[2022-07-28 08:15] Kevin-Mattheus-Moerman commented on #4579
@editorialbot invite @jarvist as editor

[2022-07-28 08:16] Kevin-Mattheus-Moerman commented on #4578
@editorialbot check repository

[2022-07-28 08:20] Kevin-Mattheus-Moerman commented on #4578
@ConnorDonegan thanks for making those changes. Note I have just `waitlisted` this submission. This is because all editors in this domain are currently busy handling other submissions. We will assign an editor to handle this work as soon as one becomes available.

[2022-07-28 08:22] editorialbot opened #4618 "[PRE REVIEW]: SICOPOLIS-AD v2: tangent linear and adjoint modeling framework for ice sheet modeling enabled by automatic differentiation tool Tapenade"
**Submitting author:** @Shreyas911 (<a href="http://orcid.org/0000-0003-2079-4218">Shreyas Sunil Gaikwad</a>)
**Repository:** https://gitlab.awi.de/sicopolis/sicopolis
**Branch with paper.md** (empty if default branch): ad
**Version:** SICOPOLIS-AD v2 (SICOPOLIS v_5.3)
**Editor:** @crvernon
**Reviewers:** @svchb, @kris-rowe
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.the

[2022-07-28 08:24] Kevin-Mattheus-Moerman commented on #4185
@Samuel-Wagner Since we have not hear from you I will now assume you cannot review this work and will remove you as a reviewer.

[2022-07-28 08:24] Kevin-Mattheus-Moerman commented on #4185
@editorialbot remove @Samuel-Wagner as reviewer

[2022-07-28 08:48] agricolab commented on #4520
Sounds interesting. Can do a review!

[2022-07-28 08:49] danielskatz commented on #4592
@editorialbot generate pdf

@baptisteCoye - note that you can do this too if you need to make further changes

[2022-07-28 08:51] danielskatz commented on #4592
@editorialbot generate pdf

[2022-07-28 08:52] danielskatz commented on #4592
👋 @xuanxu - do you understand this ☝️ error

[2022-07-28 08:52] Nikoleta-v3 commented on #3743
@EgorOrachyov 🆙 👋🏻 😄

[2022-07-28 08:53] Athene-ai commented on #4493
@editorialbot generate my checklist

[2022-07-28 08:53] danielskatz commented on #4480
👋 @matthewfeickert - when do you think you will have a chance to work on this?

[2022-07-28 08:58] Athene-ai commented on #4493
@editorialbot generate my checklist

[2022-07-28 09:01] slayoo commented on #4498
@gkthiruvathukal let us kindly ask for an update on the status of the hereby pre-review?

Let me suggest: mgalloy, emmt, clyne, mohawk2, zmughal, rgommers, mdhaber, mmuetzel

[2022-07-28 09:01] ben-schwen commented on #4582
@vissarion Thanks for thinking of me, but I kindly have to decline due to other obligations.

[2022-07-28 09:07] slayoo commented on #4412
@dhhagan, @danielskatz, let us kindly ask for the status of this pre-review, thanks.

[2022-07-28 09:12] Athene-ai commented on #4493
**More comments**:

_Installation: Does installation proceed as outlined in the documentation?_ : The reviewer suggests improving this part of the paper to explain in more details the installation procedure to newbie

_Quality of writing: Is the paper well written (i.e., it does not require editing for structure, language, or writing quality)?_ : The reviewer suggests to revise the way of writing

[2022-07-28 09:21] d-eggert commented on #4052
Welcome @pritchardn

I suggest to start checking out the documentation ([https://digital-earth.pages.geomar.de/dasf/dasf-messaging-python/](https://digital-earth.pages.geomar.de/dasf/dasf-messaging-python/)) and the corresponding examples ([https://git.geomar.de/digital-earth/dasf/dasf-full-example](https://git.geomar.de/digital-earth/dasf/dasf-full-example)).

Best,
Daniel

[2022-07-28 09:31] Kevin-Mattheus-Moerman commented on #4185
@arfon given that it has been challenging to find reviewers for this submission and that one of the reviewers was unable to complete the review I proposed that I will review this work as a second reviewer. Given my MATLAB and image analysis skills I feel I can review this quite well.

[2022-07-28 09:31] vissarion commented on #4582
@editorialbot add @idoby  as reviewer

[2022-07-28 09:32] vissarion commented on #4582
@editorialbot add @idoby as reviewer

[2022-07-28 09:33] arfon commented on #4185
Sounds good to me @Kevin-Mattheus-Moerman 👍🏻

[2022-07-28 09:33] Kevin-Mattheus-Moerman commented on #4185
@editorialbot add @Kevin-Mattheus-Moerman as reviewer

[2022-07-28 09:50] Kevin-Mattheus-Moerman commented on #4185
@mh-skjelvareid I installed and tested the software and it all works really well after I implemented the below minor fix.

# Main issue

- [ ] Can you merge [this pull request](https://github.com/mh-skjelvareid/synaptus/pull/5), it fixes a bug for Ubuntu Linux. Namely that the path definitions did not work. I went through the various test codes and replaced stuff like:
[code]

with
[code]
This fix

[2022-07-28 09:51] ajstewartlang commented on #4206
@editorialbot generate pdf

[2022-07-28 09:51] ajstewartlang commented on #4206
@editorialbot check references

[2022-07-28 09:53] editorialbot opened #4619 "[PRE REVIEW]: AnnoTS: a multi-activity annotation tool for inertial measurement unit data"
**Submitting author:** @chags1313 (<a href="http://orcid.org/0000-0001-7241-8455">Cole Hagen</a>)
**Repository:** https://github.com/chags1313/AnnoTS
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/ea14f78fefad65748c80979c34598cc8/status.svg)](h

[2022-07-28 09:54] Kevin-Mattheus-Moerman commented on #4252
@yangbai90 how are you getting on? Have you addressed those comments fully? :point_up:

[2022-07-28 09:55] Kevin-Mattheus-Moerman commented on #4389
@JulianKarlBauer can you work on the above comments by @likask :point_up: ?

[2022-07-28 09:56] Kevin-Mattheus-Moerman commented on #4389
@lizarett can you generate your check list (call `@editorialbot generate my checklist`) and proceed?

[2022-07-28 09:58] Kevin-Mattheus-Moerman commented on #4564
@AJQuinn, @vahid-sb, @anshu-97 (@DominiqueMakowski) can you please provide an update on review progress? Note you can call `@editorialbot generate my checklist` here to get set-up with a checklist to get started. Let me know if you have any questions.

[2022-07-28 10:00] vahid-sb commented on #4564
 @editorialbot generate my checklist

[2022-07-28 10:02] vahid-sb commented on #4564
Hi @Kevin-Mattheus-Moerman I have tried some of the test scripts, but not done with all the review yet. I need to open issues on the original repo and when resolved, will fill in the checklist.

[2022-07-28 10:06] Kevin-Mattheus-Moerman commented on #4564
Thanks @vahid-sb for the update. Note you may need to retry the checklist generation later, if it does not appear shortly.

@openjournals/dev the checklist is not showing up yet here it seems.

[2022-07-28 10:07] ajstewartlang commented on #4206
@editorialbot check references

[2022-07-28 10:08] vahid-sb commented on #4564
No it has not. I'd try it again tomorrow.

[2022-07-28 10:09] Kevin-Mattheus-Moerman commented on #4211
@oriolcg :wave: can you provide an update on this review? Did you manage to add those missing toolboxes?

[2022-07-28 10:10] nick-gorman commented on #4460
Thanks @crvernon and @kcerva that's all my feedback addressed!

[2022-07-28 10:11] Kevin-Mattheus-Moerman commented on #4118
@axel-loewe thanks for your help here. If you can, can you comment on @CZHU20 's response :point_up: ? Let me know, since you appear to have all boxes ticked, if you recommend this work for acceptance in JOSS or if there are still open issues. Thanks.

[2022-07-28 10:11] Kevin-Mattheus-Moerman commented on #4118
@chennachaos I think it looks like you can pick up the review again.

[2022-07-28 10:12] Kevin-Mattheus-Moerman commented on #4118
@JaroslavHron can you provide an update on the review? Are there still open issues for you? Thanks.

[2022-07-28 10:13] Kevin-Mattheus-Moerman commented on #3736
@fibreglass2 :wave:

[2022-07-28 10:16] ajstewartlang commented on #4206
@openjournals/dev any idea why the `check references` command isn't working on this submission? The pdf builds ok and has the reference list in it. The `.bib` file looks ok to me.

[2022-07-28 10:39] Kevin-Mattheus-Moerman commented on #4580
@martinfleis this seems like your cup of tea :tea:, do you think you'd be able to handle this work once you are available? Since you already seem to be handling a lot of submissions I will label this as `waitlisted` for now until you become available. Thanks.

[2022-07-28 10:40] Kevin-Mattheus-Moerman commented on #4580
Note to handling editor: This is a re-submission of https://github.com/openjournals/joss-reviews/issues/4246, which was initially deemed out of scope. The authors have now expanded the work :point_up: but please ensure reviewers do check if they feel this falls within our scholarly effort criteria.

[2022-07-28 10:50] martinfleis commented on #4580
@Kevin-Mattheus-Moerman I can take care of this one, probably even right now. I would normally query scope for this but since this is a resubmission and you are fine with it, I'll skip that and ask reviewers to assess it instead.

[2022-07-28 10:51] martinfleis commented on #4580
@editorialbot assign me as editor

[2022-07-28 11:04] martinfleis commented on #4580
Hi @BenjMy and @jgaboardi, would you be willing to review this submission? It is on the smaller side so it should not the be very demanding.

[2022-07-28 11:43] Kevin-Mattheus-Moerman commented on #4618
@Shreyas911 thanks for this submission. I am an AEiC on call this week for JOSS and here to help with first steps.

- [ ] Our system did not detect the software license. I had a look and see it is here: https://gitlab.awi.de/sicopolis/sicopolis/-/blob/master/license/GNU_GPL_V3.txt. I recommend instead to have a plain text file named `LICENSE` (no extension) in your main folder, this way our system

[2022-07-28 11:44] Kevin-Mattheus-Moerman commented on #4618
@editorialbot invite @elbeejay as editor

[2022-07-28 11:45] csoneson commented on #4545
👋🏻 @patRyserWelch8, @brunomontezano - just wanted to check in how things are going with the reviews. Don't hesitate to reach out if you have questions. Thanks!

[2022-07-28 12:17] fibreglass2 commented on #3736
All,

There is an update to the example files pending. It contains the synthetic images and statistical analysis requested by @quynhneo in https://gitlab.com/fibreglass/pivc/-/issues/18. GitLab limits releases to 10MB hence selection of example images is carefully being considered as each image pair is relatively large. In order to form a meaningful image set, several thousand images are required

[2022-07-28 12:18] axel-loewe commented on #4118
Yes, I recommend this work for publication!

[2022-07-28 12:20] dunnkers commented on #4611
@editorialbot generate pdf

(should now discover `Statement of need`)

[2022-07-28 12:21] dunnkers commented on #4611
@editorialbot generate pdf

[2022-07-28 12:47] hwloidl commented on #4592
@editorialbot check references

[2022-07-28 12:48] lizarett commented on #4389
@editorialbot generate my checklist

[2022-07-28 12:51] hwloidl commented on #4592
@editorialbot generate pdf

[2022-07-28 12:57] hwloidl commented on #4592
@baptisteCoye As @azoitl says, community guidelines are better suited for the documentation in the readme.md, but they should cover the 3 areas mentioned in the comment (and checklist item) above

[2022-07-28 13:12] jGaboardi commented on #4580
@martinfleis I can do it.

[2022-07-28 13:13] martinfleis commented on #4580
@editorialbot add @jGaboardi as reviewer

@jGaboardi Thanks!

[2022-07-28 13:33] gkthiruvathukal commented on #4498
@mgalloy Would you be willing to contribute a review for this submission?

[2022-07-28 13:35] baptisteCoye commented on #4592
Sorry I'm not sure I understood correctly, should I modify the readme.md and extend the Community guidelines?

[2022-07-28 13:36] gkthiruvathukal commented on #4498
@mohawk2 Would you be willing to contribute a review for this submission?

[2022-07-28 13:37] gkthiruvathukal commented on #4520
@editorialbot assign @agricolab as reviewer

[2022-07-28 13:38] gkthiruvathukal commented on #4520
@editorialbot add @agricolab as reviewer

[2022-07-28 13:38] k-doering-NOAA commented on #4536
@editorialbot check references

[2022-07-28 13:39] gkthiruvathukal commented on #4520
@editorialbot commands

[2022-07-28 13:51] k-doering-NOAA commented on #4536
@editorialbot check references

[2022-07-28 13:53] k-doering-NOAA commented on #4536
@editorialbot check references

[2022-07-28 13:59] k-doering-NOAA commented on #4536
@lorenzo-rovigatti thanks for the suggestion! I gave it a try, (with a few variations of using escapes and grouping using curly braces) but the editorial bot is still marking the DOI as invalid

[2022-07-28 14:06] pdebuyl commented on #4329
@editorialbot remove @andrecieplinski as reviewer

[2022-07-28 14:07] pdebuyl commented on #4329
@editorialbot add @sixpearls as reviewer

[2022-07-28 14:08] BenjMy commented on #4580
Hi @martinfleis! I can do it. Thanks for your request. The review due time is about 4 weeks isn't it?

[2022-07-28 14:09] pdebuyl commented on #4329
Thank you @sixpearls for accepting to review. Please issue the comment `@editorialbot generate my checklist` to generate your check list

[2022-07-28 14:15] martinfleis commented on #4580
@editorialbot add @BenjMy as reviewer

@BenjMy Thanks! Yes, we aim to finish the first review within about 4 weeks but considering we are in the middle of summer, I don't mind waiting a bit longer than that.

[2022-07-28 14:15] martinfleis commented on #4580
@editorialbot start review

[2022-07-28 14:17] Shreyas911 commented on #4618
@Kevin-Mattheus-Moerman, thanks for your suggestions. I need to review such changes with Dr. Ralf Greve, who is the chief developer of SICOPOLIS (the paper is about SICOPOLIS-ad v2 built on top of this base code). I have emailed him already.

I think for now such changes will be made in the ad branch, which will be merged with develop and master in the future. Is that fine?

Thanks and regards,
Sh

[2022-07-28 14:18] editorialbot opened #4620 "[REVIEW]: TessPy: a python package for geographical tessellation"
**Submitting author:** @siavash-saki (<a href="http://orcid.org/0000-0002-5413-3007">Siavash Saki</a>)
**Repository:** https://github.com/siavash-saki/tesspy
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.2
**Editor:** @martinfleis
**Reviewers:** @jGaboardi, @BenjMy
**Archive:** 10.5281/zenodo.7016503

## Status

[![status](https://joss.theoj.org/papers/c90e8d78b221d037f366e

[2022-07-28 14:18] #4580 closed

[2022-07-28 14:21] martinfleis commented on #4620
@editorialbot add @BenjMy as reviewer

[2022-07-28 14:22] martinfleis commented on #4620
👋🏼 @siavash-saki, @jgaboardi, @benjmy, this is the review thread for the paper. All of our communications will happen here from now on.

All reviewers should create checklists with the JOSS requirements using the command `@editorialbot generate my checklist`. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guideline

[2022-07-28 14:26] flyaflya commented on #4415
Fixed a few minor typos and the most recent manuscript can be found as the artifact here: https://github.com/flyaflya/causact/actions/runs/2743355474

@arfon, thanks for taking over as editor.  I believe the review process is nearing its conclusion (checklists complete and all issues have been addressed), so please let me know what I else I can do to help shepherd things along.  Thanks again!

[2022-07-28 14:37] temuller commented on #4508
@editorialbot generate pdf

@Onoddil I have made several changes, following your suggestions from [temuller/hostphot#4](https://github.com/temuller/hostphot/issues/4), which I have merged with the main branch. Thanks for you detailed report. Let me know if you think there is still some things missing.

[2022-07-28 15:09] Onoddil commented on #4508
Thanks for the thorough responses @temuller, everything looks good now following the review in https://github.com/temuller/hostphot/issues/4 so I'm happy to recommend hostphot for publication!
cc @arfon

[2022-07-28 15:11] michakraus commented on #2954
@arfon - apologies for being silent for so long. I very much agree that this has taken much longer than it should have. As mentioned before, boundary conditions have not been in favour of working on this project in the last months.
Nonetheless, a few weeks back we merged a big PR leaving only one major problem open (refactoring solutions) in addition to some more documentation.
I will be out of of

[2022-07-28 15:30] jGaboardi commented on #4620
@editorialbot generate my checklist

[2022-07-28 16:29] farhadrclass commented on #4582
@vissarion Thanks for considering me, unfortunately I am busy with a family medical emergency.
hopefully in the future I am free.

[2022-07-28 16:54] hwloidl commented on #4592
@baptisteCoye Yes there should be a section at the end of the readme.md, covering: "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

[2022-07-28 17:04] baptisteCoye commented on #4592
Oh I already added that earlier this morning but I'll expand it a bit to be sure all the different points are clear enough.

[2022-07-28 17:24] elbeejay commented on #4618
@editorialbot assign me as editor

[2022-07-28 17:25] elbeejay commented on #4618
@Shreyas911 that plan of coordination with Dr. Greve sounds fine - the website has enough information for us to proceed in the meantime.

Do you have any recommendations for reviewers for this work? As a heads-up, I am going to be out of town most of next week, so I hope to send out reviewer invitations by the end of the week so people have time to take a look and make a decision.

[2022-07-28 17:28] sgbaird commented on #4528
@editorialbot generate pdf

[2022-07-28 17:33] pstjohn commented on #4612
@editorialbot generate pdf

[2022-07-28 19:20] rkurchin commented on #4528
Thanks everyone! @sgbaird, I'll do an editorial pass over the manuscript and send any comments shortly. In the meantime, the next steps for you are:

1. Merge any and all changes from this review into your main branch and **issue a new version tag**. _(If you want to merge in the paper, you may, but it is not required that the actual manuscript live into the repo in perpetuity since JOSS will host

[2022-07-28 19:21] rkurchin commented on #4443
@EwaGomez, that's wonderful; I'm really glad to hear that as it's exactly what we strive for here at JOSS! 😊

Can you give a ping here when those last issues are resolved?

[2022-07-28 19:21] yangbai90 commented on #4252
Dear @Kevin-Mattheus-Moerman ,
 I have revised the manuscript according to reviewers' comments, please take a look at the new version.
 Best,
 Yang

[2022-07-28 19:25] rkurchin commented on #4511
No problem, thanks for letting me know.

👋 @raghurama123 and @amandadumi, you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-07-28 19:28] GregoryAshton commented on #4568
@mattpitkin I tried installing from source. using `pip install .` First, it may be worth noting you need a `gcc` compiler. Second, I then got stuck with `lintegrate`:

[code]

`lintegrate` can be installed from conda, but it seems to fail when installing with pip.

This was using `python` version 3.9.12. I'm not sure this is a show stopper, but on the other hand it is unclear how to solve.

[2022-07-28 19:44] GregoryAshton commented on #4568
@mattpitkin, when running the make fake data example, I get hit again by more gsl issues

[code]

I'm fairly confused because I have a gsl compiler and that standard build-essentials packages.

[2022-07-28 20:11] rkurchin commented on #4528
Conceptual comment:
In your Statement of Need, you compare crystal graph convolution (e.g. `cgcnn.py` to what you've done here, but I would argue there's a meaningful conceptual distinction there, in that CGCNN's are their own model architecture taking in a crystal graph as input. What you've done is create a new kind of data representation as images (which one could think of as graphs with a very

[2022-07-28 20:19] blind-contours commented on #4181
@osorensen et. al., I have made significant changes to the package in response to the JOSS issues page. I have given responses to each and made updates to the package accordingly. I'm still making some small changes but for the most part I believe the new updates are a major improvement in the package given the issues raised by reviewers. This is the first major package I have created so I really

[2022-07-28 20:34] mgalloy commented on #4498
@gkthiruvathukal I am a member of the [GDL GitHub organization](https://github.com/orgs/gnudatalanguage/people?query=galloy). I am not an active member and have not participated in this paper. Is that a conflict?

[2022-07-28 20:48] amandadumi commented on #4511
Hello @rkurchin, I would be able to review this!

[2022-07-28 20:51] catrionamurray commented on #4503
Second issue with installation: https://github.com/kevin218/Eureka/issues/415

[2022-07-28 21:13] pydemull commented on #4614
Hello,
Potential reviewers could be the followings (based on their preferences regarding R and Shiny):

  *   Ecosantos/
  *   PhilipPallmann
  *   EDiLD
  *   sandrinecharles
  *   luciorq
  *   elimillera
  *   adithirgis
  *   aj2duncan

Sincerely,
Pierre-Yves de Müllenheim

________________________________
De : The Open Journals editorial robot ***@***.***>
Envoyé : mercredi 27 juillet 2022 13

[2022-07-28 21:18] sgbaird commented on #4528
That's a good point. CGCNN was a generalization of a CNN and affected how the data was represented. This is more about screening models using a new data representation. E.g. try `xtal2png` with `imagen-pytorch`, a GAN, and a VAE, and see which one does better, then decide whether to spend more time making a generalized data representation + model combination for the one(s) that perform best. Hence

[2022-07-28 21:22] Shreyas911 commented on #4618
@elbeejay, ideally, someone who works with Fortran, Automatic Differentiation, and Numerical methods and is introduced to glaciology (or geosciences) is needed to fully understand the work. When I looked through the list, I couldn't find anyone who mentioned all of these things. I am happy to help the reviewer understand all the parts in detail. In simpler terms, our work has parallels with backpr

[2022-07-28 21:39] Sepulta commented on #4599
Fixed the suggestions @Kevin-Mattheus-Moerman and updated the repository.

[2022-07-28 22:01] mattpitkin commented on #4568
These gsl and lintegrate issues have be my bane in packaging this! Whenever I think it works ok, a case turns up where it doesn't. I'm in holiday until 7th August, but will take a look after that. I know he's currently on holiday too, but I'll cc @duncanmmacleod in case he has any insight.

[2022-07-28 22:12] mattpitkin commented on #4568
It looks like I need to remove the `march=native` from the lintegrate
compilation command in its setup.py. I'll try this and release a new
version.

On Thu, 28 Jul 2022, 20:28 Gregory Ashton, ***@***.***> wrote:

[2022-07-28 22:51] mattpitkin commented on #4568
There's now a new version of lintegrate (v0.1.14) available on PyPI that has the `march=native` flag removed, and should hopefully compile on tigerly

[2022-07-28 23:29] sgbaird commented on #4528
@rkurchin thanks for the great feedback. I addressed your comments. Lmk if this looks OK.

Looking back over the manuscript, I realized I probably need to add to the acknowledgments section (https://github.com/sparks-baird/xtal2png/issues/193) and will post the final version and DOI after that.

[2022-07-29 00:53] anshu-97 commented on #4564
@editorialbot generate my checklist

[2022-07-29 00:57] matthewfeickert commented on #4480
Apologies @danielskatz, I'm traveling again at the moment for a mix of work and vacation so conservatively I won't have a known dedicated chunk of time until August 8th (2022-08-08). It seems from the discussions though that given the very nice work that has been done this shouldn't take long to review.

[2022-07-29 01:06] raghurama123 commented on #4511
I am happy to review this submission.

[2022-07-29 02:00] CZHU20 commented on #4118
@axel-loewe Thank you so much for your review! It really helped improving our work.

[2022-07-29 03:26] fboehm commented on #4601
@chrisaberson @sestelo @mingzehuang - would you be willing to review this submission for JOSS? Thanks!

[2022-07-29 04:05] shivupa commented on #4511
Sure I'd also be interested in reviewing this!

[2022-07-29 04:11] osorensen commented on #4181
Thanks a lot for the work, @blind-contours. Could you please update your review checklists based on these latest modifications, @cpalmer718 and @GaryBAYLOR? Please let me know if you have any further questions.

[2022-07-29 04:17] osorensen commented on #4612
:wave: @idoby @Viech would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-07-29 04:43] jmschrei commented on #4524
@suyashkumar would you be able to review this submission?

[2022-07-29 04:58] Viech commented on #4612
This looks interesting and I would have time to review from 08-08.

[2022-07-29 05:03] jmschrei commented on #4613
Sorry, I just got back from vacation and need to play catch up for a while.

[2022-07-29 05:14] osorensen commented on #4612
Thanks for the quick response, @Viech!

[2022-07-29 05:14] osorensen commented on #4612
@editorialbot add @Viech as reviewer

[2022-07-29 05:44] slayoo commented on #3896
Thank you, @wdeconinck.
Typo fixed in https://github.com/atmos-cloud-sim-uj/PyMPDATA/commit/3ba899ecfbd2f99d1426e534585fba57e532eaea
The performance-analysis notebook is now merged (https://github.com/atmos-cloud-sim-uj/PyMPDATA-examples/pull/64) and is executed as a part of CI including compilation, execution and timing of libmpdata++ code (but only on Linux).
New v1.0.3 package version also rele

[2022-07-29 05:51] slayoo commented on #4498
@gkthiruvathukal just to clarify, we are adding anyone involved in discussions on GDL on GitHub to the [ gnudatalanguage/gdlteam ](https://github.com/orgs/gnudatalanguage/teams/gdlteam) user group on GitHub, hence everyone from this user community becomes a member of the GDL organization on GitHub (63 members as of now, group created to be able to send notification to users).

[2022-07-29 07:10] BenjMy commented on #4620
@editorialbot generate my checklist

[2022-07-29 07:33] idoby commented on #4612
Would love to help. This would be my first review so bear with me please.

[2022-07-29 07:42] alexskeels commented on #4491
@editorialbot generate my checklist

[2022-07-29 08:13] osorensen commented on #4612
Thanks @idoby!

@editorialbot add @idoby as reviewer

[2022-07-29 08:13] alexskeels commented on #4491
Hello @Bisaloo, @joshwlambert, @vboussange. I am very sorry for my lateness - i've been away on holidays.

A few technical issues prevented a complete review of the package. I ran into the folllowing error in vignette 4 running the ML inference:
"Error in DAISIE_ode_cs(initprobs, tvec, parsvec, atol, rtol, method, runmod = "daisie_runmod") :
  cpp_daisie_cs_runmod: too many steps"

and in vignette

[2022-07-29 08:13] osorensen commented on #4612
@editorialbot add @idoby as reviewer

[2022-07-29 08:14] osorensen commented on #4612
@editorialbot start review

[2022-07-29 08:14] editorialbot opened #4621 "[REVIEW]: graphenv: a Python library for reinforcement learning on graph search spaces"
**Submitting author:** @pstjohn (<a href="http://orcid.org/0000-0002-7928-3722">Peter C. St. John</a>)
**Repository:** https://github.com/NREL/graph-env/
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.3
**Editor:** @osorensen
**Reviewers:** @iammix, @vwxyzjn, @Viech, @idoby
**Archive:** 10.5281/zenodo.7030161

## Status

[![status](https://joss.theoj.org/papers/1d1427f9c72a4

[2022-07-29 08:14] #4612 closed

[2022-07-29 08:20] idoby commented on #4621
@editorialbot generate my checklist

[2022-07-29 08:37] iammix commented on #4621
@editorialbot generate my checklist

[2022-07-29 08:45] idoby commented on #4621
This seems like a very interesting package! I will have the time to dive in more in-depth soon, but in the meanwhile, can the authors fix the citation on line 17 of the paper to be consistent with the other citations, and resolve the invalid citation issue?

Also, please clarify the contributions of the two extra authors who are not listed as collaborators on the GitHub repo.

Thanks!

[2022-07-29 08:51] drvinceknight commented on #4543
Of course @aseyq and thank you.

[2022-07-29 08:52] drvinceknight commented on #4543
@editorialbot add @aseyq as reviewer

[2022-07-29 08:52] drvinceknight commented on #4543
@editorialbot start review

[2022-07-29 08:52] editorialbot opened #4622 "[REVIEW]: Black-it: A Ready-to-Use and Easy-to-Extend Calibration Kit for Agent-based Models"
**Submitting author:** @AldoGL (<a href="http://orcid.org/0000-0002-4737-2878">Aldo Glielmo</a>)
**Repository:** https://github.com/bancaditalia/black-it/
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.1.2
**Editor:** @drvinceknight
**Reviewers:** @Athene-ai, @aseyq
**Archive:** 10.5281/zenodo.7273564

## Status

[![status](https://joss.theoj.org/papers/1d2ecc86d273

[2022-07-29 08:52] #4543 closed

[2022-07-29 08:52] drvinceknight commented on #4543
The review takes place over on #4622, please let me know if there is anything I can assist with at any stage.

[2022-07-29 08:54] chartgerink commented on #4482
Dear @SteveViss @junbinzhao @tretherington @jgalgarra - might one/some of you be interested to review this paper on bio-logging using machine learning?

Find [the paper on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04482/joss.04482/10.21105.joss.04482.pdf), and [the source code](https://github.com/FlukeAndFeather/rstickleback) as well.

I would greatly appreciate any help you co

[2022-07-29 08:55] chartgerink commented on #4416
@editorialbot remind @daviddewhurst in two weeks

[2022-07-29 09:06] Athene-ai commented on #4416
@editorialbot generate my checklist

[2022-07-29 09:10] Athene-ai commented on #4416
@chartgerink I just submitted my completed review

[2022-07-29 09:19] JaroslavHron commented on #4118
Hi, I have looked at the current state and it looks good - nice work.

- The docker image makes it easy to run the tests. I was able to compile/run the code without any problem (ubuntu, gcc).
- May be I would recommend to mention/cite in the text of the paper that for parallel solvers the trilinos library is used for the parallel linear solvers/preconditioners (or required/recommended for some of

[2022-07-29 09:22] Mirmix commented on #4521
@editorialbot generate pdf

[2022-07-29 09:52] chartgerink commented on #4416
Thanks @Athene-ai! Very much appreciated 😊

Are there any comments you have to go with your review? For example issues that you've opened or comments regarding what you didn't check - specifically the "Functionality docs"?

This helps me understand your assessment.

[2022-07-29 09:54] jgalgarra commented on #4482
I can review the paper, it is close to my research field.

[2022-07-29 09:58] Athene-ai commented on #4416
Thanks @chartgerink for your suggestion.

Yes, _Functionality_  part should be better implemented especially in giving more details about the API method implementation

[2022-07-29 10:28] chartgerink commented on #4482
@editorialbot add @jgalgarra as reviewer

Thanks a bunch @jgalgarra! I'll give it a few days to see whether anybody else wants to join, and start the review next week Tuesday. 😊

[2022-07-29 12:08] rkurchin commented on #4511
@editorialbot add @amandadumi as reviewer

[2022-07-29 12:08] rkurchin commented on #4511
@editorialbot add @raghurama123 as reviewer

[2022-07-29 12:09] rkurchin commented on #4511
@editorialbot add @shivupa as reviewer

[2022-07-29 12:09] rkurchin commented on #4511
@editorialbot start review

[2022-07-29 12:09] editorialbot opened #4623 "[REVIEW]: solid_dmft: gray-boxing DFT+DMFT materials simulations with TRIQS"
**Submitting author:** @the-hampel (<a href="http://orcid.org/0000-0003-1041-8614">Alexander Hampel</a>)
**Repository:** https://github.com/TRIQS/solid_dmft
**Branch with paper.md** (empty if default branch): joss
**Version:** 3.1.2
**Editor:** @rkurchin
**Reviewers:** @amandadumi, @shivupa
**Archive:** https://doi.org/10.5281/zenodo.7105085

## Status

[![status](https://joss.theoj.org/papers/48e

[2022-07-29 12:09] #4511 closed

[2022-07-29 12:10] rkurchin commented on #4623
@the-hampel, do fix that one flagged reference whenever you have a moment :)

[2022-07-29 12:16] raghurama123 commented on #4623
@editorialbot generate my checklist

[2022-07-29 12:17] rkurchin commented on #4528
@editorialbot generate pdf

[2022-07-29 12:55] rkurchin commented on #4528
LGTM! (modulo version/DOI)

[2022-07-29 13:51] CZHU20 commented on #4118
@JaroslavHron Thank you very much for your comment.

I have revised the paper by adding the following sentence.

"It [svFS] also provides several built-in iterative linear solvers and preconditioners, along with many other options through Trilinos(Heroux et al., 2005)."

[2022-07-29 15:01] jgagneastro commented on #4456
This is great, I think it would be worth mentioning this in the paper & docs !

[2022-07-29 15:01] jgagneastro commented on #4456
Perfect, I agree

[2022-07-29 15:02] jgagneastro commented on #4456
I think an appropriate warning is fine. Say something like "these spectral indices have not been tested or calibrated at such a low spectral resolution (see Allers et al. 2007 for details)."

[2022-07-29 15:03] ggonnella commented on #4559
OK. Dear @Kevin-Mattheus-Moerman do you have any comment regarding the current state of the discussion? When could I count on a decision, if to proceed with peer review or not?

[2022-07-29 15:15] jgagneastro commented on #4456
I have one issue when trying to follow the example analysis with special. It seems like my pip install did not download the special-extras directory. Is this intended ?

[2022-07-29 15:18] Kevin-Mattheus-Moerman commented on #4559
@editorialbot invite @kellyrowland as editor

[2022-07-29 15:19] Kevin-Mattheus-Moerman commented on #4559
@kellyrowland I invited you given that this relates to bioinformatics. Are you able to handle this one? Thanks.

[2022-07-29 15:23] Kevin-Mattheus-Moerman commented on #4488
@xinyiguan thanks for your patience. I have just removed the `query-scope` label since we've determined this may be in scope for JOSS. We will now proceed to try to find a handling editor for this work. Note however that unfortunately we may need to put this on a waitlist as we have a backlog of submission to process at the moment.

[2022-07-29 15:25] Kevin-Mattheus-Moerman commented on #4488
@editorialbot assign @faroit as editor

[2022-07-29 15:26] Kevin-Mattheus-Moerman commented on #4596
@fraukewiese :wave:

[2022-07-29 15:28] Kevin-Mattheus-Moerman commented on #4501
@editorialbot generate pdf

[2022-07-29 15:29] jgagneastro commented on #4456
@VChristiaens In Line 29 of the tutorial (https://special.readthedocs.io/en/latest/tutorials/walkthrough.html#), I was unable to run:

`from utils import filter_reader`

[2022-07-29 15:30] Kevin-Mattheus-Moerman commented on #4501
@hkaspersen I have just removed the `query-scope` label since we've determined this may be in scope for JOSS. We will now move on to try to assign a handling editor for this work. Note however there is a backlog at the moment and most editors and handling many other submissions at the moment. Hence I'll waitlist this submission for now and we will assign an editor once one becomes available.

[2022-07-29 15:31] Kevin-Mattheus-Moerman commented on #4501
@csoneson you were suggested here as handling editor. Let me know if this is something you could help edit. Thanks.

[2022-07-29 15:31] Kevin-Mattheus-Moerman commented on #4519
@jedbrown :wave: :point_up:

[2022-07-29 15:34] Kevin-Mattheus-Moerman commented on #4525
@editorialbot set 0.2.4 as version

[2022-07-29 15:35] Kevin-Mattheus-Moerman commented on #4525
@editorialbot set release-0.2.4 as branch

[2022-07-29 15:35] Kevin-Mattheus-Moerman commented on #4525
@editorialbot check repository

[2022-07-29 15:35] Kevin-Mattheus-Moerman commented on #4525
@editorialbot generate pdf

[2022-07-29 15:38] jgagneastro commented on #4456
I would define unit_obs='si' inside of the block [38] in the tutorials since this is the first place where it is used

[2022-07-29 15:41] Kevin-Mattheus-Moerman commented on #4525
@robchallen the board has decided this work may be in scope for JOSS. Hence I've removed the `quary-scope` label. The board did have some recommendations, i.e. that the work is submitted to CRAN (which it sounds like you've done). If so, you can probably remove the statement `dtrackr is in early development. It is not yet available on CRAN.` from the README.

We will now proceed to try to find a h

[2022-07-29 15:42] jgagneastro commented on #4456
I get an error when launching line [38] in the tutorial:

[code]

ModuleNotFoundError: No module named 'utils'

I have copied tutorial/utils.py in my main special directory to be sure it would be detected by python. I can do "import utils" without issues but the MCMC still seems unable to find it.

[2022-07-29 15:42] Kevin-Mattheus-Moerman commented on #4525
@ajstewartlang you were suggested as handling editor. Is this work something you could help edit?

[2022-07-29 15:51] jgagneastro commented on #4456
Another irregularity: When I run the tutorial as explained in the docs (nproc=1), I get only a 2-parameters MCMC output with parameters Rbb1 and Tbb1.

[2022-07-29 15:53] Kevin-Mattheus-Moerman commented on #4606
@fluhus I've `waitlisted` this submission just now since all editors in this domain, including @jmschrei, are busy handling many other submissions at the moment. We will assign an editor once one becomes available.

[2022-07-29 15:54] Kevin-Mattheus-Moerman commented on #4613
@jmschrei okay. Do let us know if we can at least assign this to you for now. We have a bit of a backlog in editor assignments and it is okay if you take a bit longer to get to actually handling it. We've seen a lot of editors/reviewers saying they are on holiday so I do not expect this to go very quickly anyway. So yeah, do let me know if we can assign it to you for now. Thanks!

[2022-07-29 15:56] Kevin-Mattheus-Moerman commented on #4573
@editorialbot invite @hugoledoux as editor

[2022-07-29 15:57] Kevin-Mattheus-Moerman commented on #4573
@hugoledoux can you please help edit this submission if you feel it is a reasonable fit? Thanks

[2022-07-29 15:58] elbeejay commented on #4618
@Shreyas911 looking more closely I am identifying a potential conflict of interest for me; I did not realize you were also at UT Austin. @Kevin-Mattheus-Moerman can we find another editor to handle this submission? @jedbrown @crvernon do either of you have the bandwidth to take over on this one?

[2022-07-29 16:00] Kevin-Mattheus-Moerman commented on #4577
@cprudhom thanks for this submission. Can you please check those potentially missing/invalid DOIs? :point_up: You can edit your bib file and paper where needed and then call `@editorialbot check references` to check the DOIs again, and call `@editorialbot generate pdf` to update the draft paper.

[2022-07-29 16:02] Kevin-Mattheus-Moerman commented on #4577
@jbytecode you were suggested as handling editor here but you are handling many other submissions. I'll waitlist this for now but do let me know if we can assign this to you already. We have a backlog of editor assignments so were possible it would be great to assign already.

[2022-07-29 16:03] Kevin-Mattheus-Moerman commented on #4618
@elbeejay no worries, thanks for letting us know.

[2022-07-29 16:03] Kevin-Mattheus-Moerman commented on #4618
@editorialbot remove @elbeejay as editor

[2022-07-29 16:05] Shreyas911 commented on #4618
@elbeejay, yes I am! Small world. Nevertheless, nice to be introduced to you.

Best,
Shreyas

[2022-07-29 16:06] Kevin-Mattheus-Moerman commented on #4618
@elbeejay you'll be removed as we assign a new editor.

[2022-07-29 16:08] ajstewartlang commented on #4525
@Kevin-Mattheus-Moerman definitely - sounds interesting.

[2022-07-29 16:10] Kevin-Mattheus-Moerman commented on #4618
@crvernon do you think you can edit this work? I have flagged this as `waitlisted` for now since you seem to be handling many other submissions, but do let me know if could perhaps assign it to you already. Thanks anyway.

[2022-07-29 16:13] Kevin-Mattheus-Moerman commented on #4615
@editorialbot set paper as branch

[2022-07-29 16:13] Kevin-Mattheus-Moerman commented on #4615
@editorialbot check repository

[2022-07-29 16:14] Kevin-Mattheus-Moerman commented on #4615
@editorialbot set master as branch

[2022-07-29 16:14] Kevin-Mattheus-Moerman commented on #4615
@editorialbot check repository

[2022-07-29 16:29] jbytecode commented on #4577
@editorialbot assign me as editor

[2022-07-29 16:30] jbytecode commented on #4577
@Kevin-Mattheus-Moerman - thank you, accepting gladly, of course I can help.

[2022-07-29 16:31] jbytecode commented on #4577
@editorialbot check references

[2022-07-29 16:33] jbytecode commented on #4577
@cprudhom - could you please correct and add the invalid and the missing DOIs as suggested?

[2022-07-29 16:33] jbytecode commented on #4577
@editorialbot generate pdf

[2022-07-29 16:34] suheelyousuf commented on #4615
Updated Open Source license. (LICENSE)

[2022-07-29 16:49] jbytecode commented on #4577
Dear @cprudhom,

It seems

- the paper has two authors. it is clear that the most of the contributions were handled by the authors.
- there are more commits from other contributors including @dimitri-justeau (161 commits), @ArthurGodet (39 commits), @JLiangWaterloo (36 commits), @xlorca, @xela85, etc.

could you please clarify why those people are omitted from the manuscript as authors.

Thank you

[2022-07-29 17:40] jbytecode commented on #4563
Dear editors @akbaritabar and @briatte

Could you please update your status?

@briatte - your checklist is still waiting to be generated.

Sorry for bothering by alerts and emails.

Thank you in advance.

[2022-07-29 18:10] the-hampel commented on #4623
Hi @rkurchin,
I just fixed the one DOI that you pointed out: https://github.com/TRIQS/solid_dmft/commit/fe459150bbb4ca6e3815eec1fd8c5f33c98b14aa

[2022-07-29 18:54] lucydot commented on #4547
Ah excellent - thank you @hgandhi2411 ✨

Ok, I'll start the review thread now (this is the _pre_-review thread) - @hgandhi2411 @darinddv there will be instructions at the top of this new thread re: the review process. The first thing you will do is generate a review checklist.

Any questions, please ask! However please note I am going on a weeks holiday starting Monday...

[2022-07-29 18:54] lucydot commented on #4547
@editorialbot add @darinddv as reviewer

[2022-07-29 18:54] lucydot commented on #4547
@editorialbot add @hgandhi2411 as reviewer

[2022-07-29 18:55] lucydot commented on #4547
@editorialbot start review

[2022-07-29 18:55] editorialbot opened #4624 "[REVIEW]: ThermoFun: A C++/Python library for computing standard thermodynamic properties of substances and reactions across wide ranges of temperatures and pressures"
**Submitting author:** @gdmiron (<a href="http://orcid.org/0000-0002-6923-7300">George Miron</a>)
**Repository:** https://github.com/thermohub/thermofun
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.4.2
**Editor:** @lucydot
**Reviewers:** @hgandhi2411, @fnattino
**Archive:** 10.5281/zenodo.7614065

## Status

[![status](https://joss.theoj.org/papers/6b76d3c12421312f309b

[2022-07-29 18:55] #4547 closed

[2022-07-29 19:06] max-little commented on #4534
Excellent, thank you @fAndreuzzi for all your help and advice with this.
All the best
Max

[2022-07-29 20:27] rlskoeser commented on #4328
I agree with @step21 about the paper. Added some comments on https://github.com/caltechlibrary/handprint/issues/38 to elaborate on what could be condensed/simplified and what I'm interested to learn more about that isn't currently included.

[2022-07-29 20:31] VenkteshV commented on #4515
Apologies. I got delayed. I am working on the same and will rap it up in few days.

[2022-07-29 20:38] step21 commented on #4328
@rlskoeser did you do any functionality testing yet? My main problem with that is that I did not yet manage to get a google account with free credit - only for azure, and amazon I haven't tried yet. Mostly I would probably test with images from the tests in the software repository, though these are limited as they these are just a few examples of course.

[2022-07-29 20:42] rlskoeser commented on #4328
@step21 I tested against google because I already had a project setup that I was able to create credentials for. I don't have projects and accounts with the others and was holding off setting them up until I have a block of time that I'm confident I'll be able to get everything set up and tested.

I tested with an image from a project I'm currently working on, [Princeton Geniza Project](https://ge

[2022-07-29 20:42] sgbaird commented on #4528
Version: [`v0.9.2`](https://github.com/sparks-baird/xtal2png/tree/v0.9.2)
DOI: [10.5281/zenodo.6941615](https://doi.org/10.5281/zenodo.6941615)

[2022-07-29 20:48] rlskoeser commented on #4328
Code documentation doesn't include a statement of need; the statement of need in the JOSS paper should clarify the target audience.

https://github.com/caltechlibrary/handprint/issues/40

[2022-07-29 20:52] zhenwu0728 commented on #4561
Hi @jbytecode, I would like to submit my review.

Overall, the package looks good to me, but I still have some comments:
- I suggest removing the Example section in the paper.
- Multiple citations in one place should be in the same bracket.
- I suggest removing some of the citations in Summary - one per method should be enough.
- Lack of docstring for gas function ([Issue#68](https://github.com/Sc

[2022-07-29 20:54] step21 commented on #4328
@rlskoeser ok, thanks for the info, that is helpful.

[2022-07-29 20:57] jbytecode commented on #4561
@editorialbot generate pdf

[2022-07-29 20:59] rkurchin commented on #4528
@editorialbot set 0.9.2 as version

[2022-07-29 20:59] rkurchin commented on #4528
@editorialbot set 10.5281/zenodo.6941615 as archive

[2022-07-29 21:00] rkurchin commented on #4528
@editorialbot check references

[2022-07-29 21:00] rkurchin commented on #4528
@sgbaird almost there! Can you just fix up those couple of references? Then we should be good to accept!

[2022-07-29 21:03] rlskoeser commented on #4328
Not sure whether or not to check off the automated tests — there are some python tests, but it's a bit hard to tell which parts of the code they cover. There is no CI set up as far as I can tell, and no documentation on how to run the tests, although I was able to run them fairly easily with pytest.  (It would probably be straightforward to set up GitHub Actions to install the app and run pytest;

[2022-07-29 21:21] sgbaird commented on #4528
@rkurchin and release a new version?

[2022-07-29 21:28] sgbaird commented on #4528
References are fixed. It looks like it didn't like the `v1` for arXiv, which is interesting since that implies the "object" associated with the DOI can still have content appended to it. Maybe that's normal though since I think Zenodo supports something similar with the latest version DOI.

Either way, working on releasing `v0.9.3`.

[2022-07-29 21:34] sgbaird commented on #4528
Version: `v0.9.3`
DOI: [10.5281/zenodo.6941657](https://doi.org/10.5281/zenodo.6941657)

[2022-07-29 21:34] sgbaird commented on #4528
@editorialbot check references

[2022-07-29 21:35] rlskoeser commented on #4328
There is thorough documentation for installing, configuring, and using handprint from the command line. However, I'm not finding any code-level documentation.

@mhucka in the JOSS paper under the statement of need, you say that handprint could be used in "scripts as part of automated workflows." Is it your expectation that anyone using it that way would call handprint from the command line? If I'm

[2022-07-29 21:35] rkurchin commented on #4528
@editorialbot set 10.5281/zenodo.6941657 as archive

[2022-07-29 21:35] crvernon commented on #4618
Yes @Kevin-Mattheus-Moerman I'll take this on.  @Shreyas911 I will do some searching for reviewers for which I may not hear much back from until early next week.  Let me see what we can do.

[2022-07-29 21:35] crvernon commented on #4618
@editorialbot assign me as editor

[2022-07-29 21:36] rkurchin commented on #4528
@editorialbot set 0.9.3 as version

[2022-07-29 21:36] rkurchin commented on #4528
@editorialbot recommend-accept

[2022-07-29 21:38] sgbaird commented on #4528
Ah... woops. I thought I had changed it back to `sahariaPaletteImagetoImageDiffusion2022`, but looks like it stayed as `sahariaPaletteImagetoImageDiffusion2022a`.

[2022-07-29 21:43] sgbaird commented on #4528
Version: `v0.9.4`
DOI: [10.5281/zenodo.6941663](https://doi.org/10.5281/zenodo.6941663)

[2022-07-29 21:44] sgbaird commented on #4528
@editorialbot check references

[2022-07-29 21:45] Kevin-Mattheus-Moerman commented on #4615
@suheelyousuf unfortunately  this work is not in scope for JOSS and we will now proceed to reject this. In particular it does not conform to our [significant scholarly effort criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). The fact that it is not in scope for JOSS does not mean the software is of a low quality or not useful, it merely means it is not

[2022-07-29 21:45] Kevin-Mattheus-Moerman commented on #4615
@editorialbot reject

[2022-07-29 21:45] #4615 closed

[2022-07-29 21:55] Kevin-Mattheus-Moerman commented on #4525
@editorialbot assign @ajstewartlang as editor

[2022-07-29 21:59] crvernon commented on #4460
Thanks @nick-gorman !  @kcerva I'll move this forward with my pass and any comments this weekend.

[2022-07-29 22:01] crvernon commented on #4406
Much appreciated @nmstreethran !  @jasondegraw can you provide an update to your progress here?  Thanks!

[2022-07-29 22:03] Kevin-Mattheus-Moerman commented on #4597
@ekernf01 unfortunately the JOSS board has decided this work is not in scope for JOSS. We will now proceed to reject this. In particular the work does not conform to our [significant scholarly effort criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). The fact that it is not in scope for JOSS does not mean the software is of a low quality or not useful, i

[2022-07-29 22:04] Kevin-Mattheus-Moerman commented on #4597
@editorialbot reject

[2022-07-29 22:04] #4597 closed

[2022-07-29 22:04] larsenkg commented on #4583
Here are some suggested reviewers: ziatdinovmax, bjmorgan, cr458, AoifeHughes, uellue, SunilAnandatheertha

[2022-07-29 22:07] Kevin-Mattheus-Moerman commented on #4583
@larsenkg unfortunately our editorial board has decided this work is not in scope for JOSS and we will now proceed to reject this. In particular it does not conform to our [significant scholarly effort criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). The fact that it is not in scope for JOSS does not mean the software is of a low quality or not useful,

[2022-07-29 22:07] Kevin-Mattheus-Moerman commented on #4583
@editorialbot reject

[2022-07-29 22:07] #4583 closed

[2022-07-29 22:11] Kevin-Mattheus-Moerman commented on #4585
@gattia our board has decided this may be in scope for JOSS. We will therefore proceed to assign a handling editor here. However, we have a bit of a backlog at the moment so I will waitlist this for now until an editor becomes available.

[2022-07-29 22:12] Kevin-Mattheus-Moerman commented on #4585
@editorialbot invite @hugoledoux as editor

[2022-07-29 22:13] gattia commented on #4585
@Kevin-Mattheus-Moerman, thanks for the update. I'm looking forward to hearing back.

[2022-07-29 22:15] editorialbot opened #4625 "[PRE REVIEW]: Rho: Application to analyse electrical resistivity"
**Submitting author:** @meryemberradauwo (<a href="http://orcid.org/0000-0002-4934-0917">Meryem Berrada</a>)
**Repository:** https://github.com/meryemberradauwo/Rho.git
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/2b895fe5e28cf78b4622ca3fde01f7

[2022-07-29 22:20] Kevin-Mattheus-Moerman commented on #4625
@meryemberradauwo thanks for this submission. I have just assigned the `query-scope` label which means our editorial board will review if this work is in scope for JOSS. This is typical for submissions of this size, see also our [substantial scholarly effort criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This scope review should be completed within a

[2022-07-29 22:20] editorialbot opened #4626 "[PRE REVIEW]: CosmicProfiles: A Python package for radial profiling of finitely sampled dark matter halos and galaxies"
**Submitting author:** @tibordome (<a href="http://orcid.org/0000-0003-2586-3702">Tibor Dome</a>)
**Repository:** https://github.com/tibordome/cosmic_profiles
**Branch with paper.md** (empty if default branch):
**Version:** v1.2.6
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/cc4b94fdf39b15f91d497c0b50b459e0/statu

[2022-07-30 00:15] meryemberradauwo commented on #4625
SaumikDana

Meryem Berrada

On Jul 29, 2022, at 6:15 PM, The Open Journals editorial robot ***@***.***> wrote:

﻿

Submitting author: @meryemberradauwo<https://github.com/meryemberradauwo> (Meryem Berrada<http://orcid.org/0000-0002-4934-0917>)
Repository: https://github.com/meryemberradauwo/Rho.git
Branch with paper.md (empty if default branch):
Version: v1.0
Editor: Pending
Reviewers: Pending
Man

[2022-07-30 00:54] robchallen commented on #4525
Yes.

It is on CRAN now (with the statement that it is in early development and
not yet on cran, sigh...).

I'll put a bug fix release through cran over the next couple of weeks to
fix this and anything else that pops up.

On Fri, 29 Jul 2022, 22:41 Kevin Mattheus Moerman, ***@***.***>
wrote:

[2022-07-30 01:46] jgostick commented on #4398
@editorialbot set 10.5281/zenodo.6846969 as archive

[2022-07-30 01:46] jgostick commented on #4398
@editorialbot set V0.4.3 as version

[2022-07-30 01:48] jgostick commented on #4398
@editorialbot recommend-accept

[2022-07-30 01:49] jgostick commented on #4398
@ronshnapp very sorry for the delays on this review.  Please don't let it reflect badly on JOSS, we jsut had a reviewer drop out, and I have had full teaching load this summer, plus several conferences, etc, so it's been hectic.  Anyway, congrats, this looks like a great package.  An editor-in-chief will be by soon to make it official.

[2022-07-30 01:55] jgostick commented on #4625
I am not an editor in chief, so my comment here not official, but I encourage you to look at [this ongoing review](https://github.com/openjournals/joss-reviews/issues/4398#issuecomment-1133974495) where you can see the checklist of things that we ask reviewers look for. I think you'll agree that your package is not ready yet.  The code may work, but users require a lot more before software is adop

[2022-07-30 02:07] meryemberradauwo commented on #4625
Hello,

I understand and mentioned in the submission that I encountered difficulty with formatting the word document to the .md file. Do you know of a way I can get help with the file ?

Meryem Berrada

On Jul 29, 2022, at 9:55 PM, jgostick ***@***.***> wrote:

﻿

I am not an editor in chief, so my comment here not official, but I encourage you to look at this ongoing review<https://github.com/ope

[2022-07-30 03:13] taless474 commented on #4493
Thank you @sara-02 and @Athene-ai
@elboyran please let us know when you address the comments.

[2022-07-30 03:15] taless474 commented on #4250
@bnriiitb please let us know your suggestion

[2022-07-30 05:51] drcandacemakedamoore commented on #3632
@arfon , Did this get handed over to the EiC team yet?

[2022-07-30 08:02] ronshnapp commented on #4398
@jgostick There's nothing to be sorry about. I think JOSS is a great project and the fact people such a you do so much to keep it going is incredible. I will definitely consider chipping in as a reviewer despite a slight impostor syndrome. Thank you very much for managing this process!

[2022-07-30 08:10] Kevin-Mattheus-Moerman commented on #4252
@vijaysm, @mscroggs, @schruste it looks like @yangbai90 has made quite a few changes. Can  you pick up the review again at this point and summarize any remaining issues? Thanks!

[2022-07-30 08:19] Kevin-Mattheus-Moerman commented on #4335
@sebastien-plutniak

I am an AEiC for JOSS and here to help process the final steps for acceptance. I have studies this review issues, your repository, and the paper, and have some issues below that require your attention.

- [ ] Please add a plain text LICENSE file to your main repository folder and add your license text in it. Currently it looks like you just "mention" the license or link to it

[2022-07-30 08:44] sebastien-plutniak commented on #4335
Hi @Kevin-Mattheus-Moerman,
Thanks for handling this submission. I made the four edits you asked.
About the correspondence between the title of the paper and the title of the Zenodo archive: the correct title is the title used for the Zenodo archive (namely: _Archeofrag: an R package for Refitting and Spatial Analysis in Archaeology_) (the words “Presentation and tutorial” must be deleted in the t

[2022-07-30 08:45] eloisabentivegna commented on #4599
@editorialbot assign @eloisabentivegna as editor

[2022-07-30 08:48] eloisabentivegna commented on #4599
@trappitsch, @schristophe, would you be available to review this submission?

[2022-07-30 08:50] Kevin-Mattheus-Moerman commented on #4335
@editorialbot generate pdf

[2022-07-30 08:50] Kevin-Mattheus-Moerman commented on #4398
@ronshnapp

I am an AEiC for JOSS and here to help process the final steps for acceptance. I have studied this review issues, your repository, and the paper, and have some issues below that require your attention.

- [ ] Please manually edit the ZENODO archive such that the title matches that of the paper.
- [ ] The ZENODO archive currently lists "Other (open)" as the license. I believe you can ma

[2022-07-30 08:53] Kevin-Mattheus-Moerman commented on #4335
@sebastien-plutniak please remove the automatically added `sebastien-plutniak/archeofrag: ` from the ZENODO archive title so it fully matches that of the paper.

[2022-07-30 08:56] sebastien-plutniak commented on #4335
@Kevin-Mattheus-Moerman  done!

[2022-07-30 09:45] Kevin-Mattheus-Moerman commented on #4335
@editorialbot accept

[2022-07-30 13:02] pstjohn commented on #4621
@editorialbot generate pdf

[2022-07-30 13:04] brovelli commented on #3842
Dear @meg-simula,

Is there anything else we need to do to advance the reviewing process?

Thanks.

Best regards

[2022-07-30 13:05] idoby commented on #4621
@editorialbot commands

[2022-07-30 13:06] idoby commented on #4621
@editorialbot check references

[2022-07-30 13:09] pstjohn commented on #4621
Apologies if these contribution edits should have been made in the manuscript?
* Dmitry Duplyakin contributed documentation for running graph-env on AWS, and debugged a lot of that workflow  (NREL/graph-env#22).
* Jeffrey Law has contributed extensively to downstream repositories [NREL/rlmolecule](https://github.com/nrel/rlmolecule), and his feedback has been helpful in the direction of this more

[2022-07-30 13:12] idoby commented on #4621
I'm pretty new at reviewing for JOSS, but the documentation does not state this information has to be specified in the manuscript. So I think just your comment should be fine.

OK, LGTM then. Appreciate your work on the library and thank you for contributing it. :)

[2022-07-30 13:14] briatte commented on #4563
@editorialbot generate my checklist

[2022-07-30 13:18] idoby commented on #4621
@pstjohn Looking at it now, it seems like the merge commit for Dmitry's PR prevented him being listed as a contributor by GitHub. I'm not sure why, since it usually works fine.

[2022-07-30 14:01] osorensen commented on #4621
Wanted to chime in as editor that I agree with you. Comments in this thread are sufficient.

[2022-07-30 14:16] sebastien-plutniak commented on #4335
Thanks @Kevin-Mattheus-Moerman
I checked the pdf, and found some issues in the references. I have uploaded a corrected version of the file, could you regenerate the paper please?

[2022-07-30 14:21] Kevin-Mattheus-Moerman commented on #4335
@arfon @openjournals/dev can you help update the pdf? :point_up:

[2022-07-30 15:58] ixjlyons commented on #4520
I can review.

[2022-07-30 17:05] ronshnapp commented on #4398
Hello @Kevin-Mattheus-Moerman

Thanks for your review and comments!
I fixed the ZENODO archive as you suggested and made the corrections needed to the paper.

[2022-07-30 17:47] Kevin-Mattheus-Moerman commented on #4398
@editorialbot generate pdf

[2022-07-30 17:51] Kevin-Mattheus-Moerman commented on #4398
@ronshnapp great thanks, I just reviewed those changes, and it looks like we are all set to proceed.

[2022-07-30 17:52] Kevin-Mattheus-Moerman commented on #4398
@editorialbot accept

[2022-07-30 17:59] vwxyzjn commented on #4621
@editorialbot generate my checklist

[2022-07-30 18:16] dazhwu commented on #4416
Hi Daniela,

Thank you for your comments. Right now, we have the input part of the API document in [Tutorial](https://github.com/dazhwu/pydynpd/blob/main/vignettes/Tutorial.ipynb). I am now adding the output part of it. After I have finished, I will let you know.

Thanks,

[2022-07-30 18:37] Athene-ai commented on #4416
Perfect ;-)

[2022-07-30 20:31] arendsee commented on #4193
@editorialbot generate pdf

[2022-07-30 21:30] dazhwu commented on #4416
Hi Daniela,

I have added a new document to the github web site. Now, there are two documents regarding how to use the software.

Document 1 is on what input parameters are needed to run the command and how to form them. The link is [here](https://github.com/dazhwu/pydynpd/blob/main/vignettes/Tutorial.ipynb).

Document 2 is the new one I just added. It discusses the outputs (i.e., the objects and

[2022-07-30 21:47] aseyq commented on #4622
@editorialbot generate my checklist

[2022-07-30 22:41] gkthiruvathukal commented on #4520
@editorialbot add @ixjlyons as reviewer

[2022-07-30 22:41] gkthiruvathukal commented on #4520
@editorialbot add @agricolab as reviewer

[2022-07-30 22:42] gkthiruvathukal commented on #4520
Thank you, @ixjlyons and @agricolab!

[2022-07-30 22:42] gkthiruvathukal commented on #4520
@editorialbot start review

[2022-07-30 22:42] editorialbot opened #4627 "[REVIEW]: River: a cross-platform, high-throughput, structured streaming framework"
**Submitting author:** @pbotros (<a href="http://orcid.org/0000-0002-4797-1651">Paul Botros</a>)
**Repository:** https://github.com/pbotros/river
**Branch with paper.md** (empty if default branch): botros/manuscript
**Version:** v1.0.1
**Editor:** @gkthiruvathukal
**Reviewers:** @ixjlyons, @agricolab
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/b346a5d17d736df6bcb77374

[2022-07-30 22:42] #4520 closed

[2022-07-30 22:51] gkthiruvathukal commented on #4498
@mgalloy At first blush, this does not seem like a conflict to me. The real question is whether there would be a perceived conflict of interest. I am not seeing anything here that suggests there would be. What we are seeking is reviewers who can evaluate the submission and help the authors to improve it.  I think I am going to go ahead and assign you as a reviewer unless you think you cannot condu

[2022-07-30 22:51] gkthiruvathukal commented on #4498
@editorialbot add @mgalloy as reviewer

[2022-07-30 22:52] gkthiruvathukal commented on #4498
@clyne Are you able to contribute a review for this JOSS submission?

[2022-07-30 22:53] gkthiruvathukal commented on #4485
@editorialbot add @erik-whiting as reviewer

[2022-07-30 22:53] gkthiruvathukal commented on #4485
Thank you, @erik-whiting! Commencing review.

[2022-07-30 22:54] gkthiruvathukal commented on #4485
@editorialbot start review

[2022-07-30 22:54] editorialbot opened #4628 "[REVIEW]: DBMS-Benchmarker: Benchmark and Evaluate DBMS in Python"
**Submitting author:** @perdelt (<a href="http://orcid.org/0000-0002-3359-2386">Patrick Erdelt</a>)
**Repository:** https://github.com/Beuth-Erdelt/DBMS-Benchmarker
**Branch with paper.md** (empty if default branch):
**Version:** v0.11.22
**Editor:** @gkthiruvathukal
**Reviewers:** @simon-lewis, @erik-whiting
**Archive:** 10.5281/zenodo.7213676

## Status

[![status](https://joss.theoj.org/papers/

[2022-07-30 22:54] #4485 closed

[2022-07-30 22:55] gkthiruvathukal commented on #4311
@joao-lima are you willing to contribute a review for this JOSS submission?

[2022-07-30 22:56] gkthiruvathukal commented on #4311
@jarrah42 I am going to go ahead and add you, given that your timeline works for me. Things obviously continue to be busy for everyone, and I am willing to work to make slow progress (as opposed to no progress). Please take the time you need  I still need one more reviewer.

[2022-07-30 22:56] gkthiruvathukal commented on #4311
@editorialbot add @jarrah42 as reviewer

[2022-07-30 22:58] gkthiruvathukal commented on #3292
@markheckmann Can you please follow up on @brunaw's feedback and let us know when you might be able to act upon it?

[2022-07-31 01:14] erik-whiting commented on #4628
@editorialbot generate my checklist

[2022-07-31 02:58] jGaboardi commented on #4620
@siavash-saki @martinfleis

I have completed an initial pass for `tesspy`.

This package has the potential to make an immediate impact in the scientific & spatial/geographic communities. There are thoughtful and well-paced tutorial notebooks that provide high-level introductions and more detailed examples for the various tessellation methods offered in `tesspy`. I am excited both for the potential

[2022-07-31 03:03] travisbthomp commented on #3842
Dear @EtienneCmb  @brovelli (CC: @meg-simula),

Thank you for making changes pursuant to the review of Frites.  Regarding advancing the reviewing process (@brovelli):  I am currently traveling overseas; I will be happy to review the comments left by @EtienneCmb when I return in a few weeks.

[2022-07-31 07:11] Athene-ai commented on #4416
I think that these two documents are fine

[2022-07-31 11:37] vahid-sb commented on #4564
@editorialbot generate my checklist

[2022-07-31 15:05] arfon commented on #4508
Thanks @Onoddil! @krachyon – do you recommend JOSS accepts too?

[2022-07-31 15:07] arfon commented on #4415
I think we're in good shape here. At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper

[2022-07-31 15:08] arfon commented on #4210
@DavidDoukhan – just to clarify, I think we're waiting for your response to @vimalthilak at this point.

[2022-07-31 15:11] arfon commented on #4378
Just checking in on this review as it has been a while since there has been any movement. @joglekara – it looks like you were having some issues building the package on your (M1) architecture. Did you manage to get past this yet?

@cticenhour – it looks like you've generated your checklist but haven't gotten much further than that. Could you updates us here on when you think you might be able to c

[2022-07-31 15:16] arfon commented on #3312
Quick update: I just contacted @giodegas again for the final time over email to see if they were able to complete their review. If we don't hear back soon, I'll look for a different reviewer.

[2022-07-31 15:18] arfon commented on #2954
OK, thanks for the update. Let's make September 30th the deadline for substantial (expected review-passing) updates.

[2022-07-31 15:56] arfon commented on #2316
@editorialbot set https://gitlab.com/utopia-project/dantro as repository

[2022-07-31 16:00] arfon commented on #2316
@editorialbot reaccept

[2022-07-31 16:09] arfon commented on #2316
@xuanxu – could you assist here? I'm trying to republish a paper from a couple of years ago with a new software URL but the updated paper has a few issues:

- The published date on the site now lists this paper as being published today (31st July 2022) rather than August 2020).
- The citation string generated by the reaccept command (on the JOSS site) appears to also think the paper was published

[2022-07-31 16:24] krachyon commented on #4508
Yes, I also recommend to accept this submission

[2022-07-31 17:02] editorialbot opened #4629 "[PRE REVIEW]: gp60 Tool for Cryptosporidium Subtyping"
**Submitting author:** @SMorrison42 (<a href="http://orcid.org/0000-0002-4658-5951">Shatavia S Morrison</a>)
**Repository:** https://github.com/CDCgov/Crypto_gp60_Subtyping_Tool/
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/ea03c4e529665b08ce41fae

[2022-07-31 17:02] editorialbot opened #4630 "[PRE REVIEW]: Processing raw mobility data with the checkin package"
**Submitting author:** @kaneplusplus (<a href="http://orcid.org/0000-0003-1899-6662">Michael Kane</a>)
**Repository:** https://github.com/kaneplusplus/checkin
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/dda16ca236e736e7fedde6c783736ed2/status.svg)

[2022-07-31 17:02] editorialbot opened #4631 "[PRE REVIEW]: metrica: an R package to evaluate prediction performance of regression and classification point-forecast models"
**Submitting author:** @adriancorrendo (<a href="http://orcid.org/0000-0002-4172-289X">Adrian Correndo</a>)
**Repository:** https://github.com/adriancorrendo/metrica/
**Branch with paper.md** (empty if default branch): JOSS
**Version:** v2.0.1
**Editor:** @osorensen
**Reviewers:** @neerajdhanraj, @kauedesousa
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/c3113e

[2022-07-31 17:09] arfon commented on #4625
@editorialbot reject

@meryemberradauwo – many thanks for your submission to JOSS. Unfortunately this submission is not eligible for review at JOSS as it falls far below the quality criteria we would expect to see in software packages reviewed here.

As @jgostick mentioned above, please take a look at our [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html) and an ongoing

[2022-07-31 17:09] #4625 closed

[2022-07-31 17:11] arfon commented on #4616
@editorialbot query scope

@sebastianrosenzweig – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-07-31 17:13] arfon commented on #4619
@editorialbot query scope

@chags1313 – due to the relatively small size of this code and its application, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-07-31 17:15] arfon commented on #4629
@editorialbot query scope

@SMorrison42 – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-07-31 17:18] arfon commented on #4630
@editorialbot reject

@kaneplusplus  - thanks for your submission to JOSS. Unfortunately at ~300 lines of R code, this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how to c

[2022-07-31 17:18] #4630 closed

[2022-07-31 17:19] arfon commented on #4335
@editorialbot reaccept

[2022-07-31 17:22] arfon commented on #4335
Should be done now!

[2022-07-31 17:22] #4335 closed

[2022-07-31 17:28] #4398 closed

[2022-07-31 17:32] arfon commented on #4579
@editorialbot invite @jgostick as editor

:wave: @jgostick – not sure if this is too left-field for you, but if not, would you be willing to edit this submission for us?

[2022-07-31 17:33] adriancorrendo commented on #4631
Thank you for starting the pre-review of the article!

I have just pushed a review to the JOSS branch at https://github.com/adriancorrendo/metrica/tree/JOSS fixing:

1) the missing and invalid DOIs in the "paper.bib" file https://github.com/openjournals/joss-reviews/issues/4631#issuecomment-1200462451.
2) fixing the affiliation index of L. Bastos in the "paper.md" file that generated the error com

[2022-07-31 17:50] erik-whiting commented on #4628
@gkthiruvathukal has the citation format for the journal changed in the last few months? In reading the paper, I noticed the use of "c.f." throughout and I am unsure what it means. It appears before some citations or after others, or sometimes not at all. I'm pretty confused by it, can you confirm if it is something specific to JOSS? Sorry if this is a silly quesiton.

@perdelt if you know the ans

[2022-07-31 18:53] mohawk2 commented on #4498
@gkthiruvathukal I would! Can you steer me on how to do so?

[2022-07-31 19:07] cticenhour commented on #4378
@arfon Thanks for checking in - I had started the process, but failed to check off boxes here as I went along. I recently worked through getting the basic installation working on my M1 architecture - identified a couple issues with an optional dependency that I'll be passing along to the development team likely today or tomorrow.

I think I'll be able to get moving on going through the documentati

[2022-07-31 19:13] TomDonoghue commented on #4484
Sorry for being slow on this - the past month ended up being busier than expected!

I have worked through the review / module check including getting the module installed locally, and running through the provided example on the documentation site. In general, I left some comments that are all on the original repository (in the issues linked above). They mostly detail some small comments on documen

[2022-07-31 19:43] arfon commented on #4631
@editorialbot generate pdf

[2022-07-31 19:44] editorialbot opened #4632 "[PRE REVIEW]: ThermoCodegen: a python/C++ package for the generation of custom thermodynamic models"
**Submitting author:** @mspieg (<a href="http://orcid.org/0000-0002-5218-7466">Marc Spiegelman</a>)
**Repository:** https://gitlab.com/ENKI-portal/ThermoCodegen
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v0.6.9
**Editor:** @kyleniemeyer
**Reviewers:** @bocklund, @rdguha1995
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/776246584

[2022-07-31 19:58] perdelt commented on #4628
@erik-whiting Thank you for your comment!
This is intended to mark references that are not a source of citation, but rather invite the reader to compare information provided elsewhere.
https://tinyurl.com/mwd2ak3c
I see it's actually used a lot here, so I might remove a few.

[2022-07-31 20:41] gkthiruvathukal commented on #4498
@mohawk2 Thanks! I will add you and get the review thread started. Then you can ask questions in the review thread if you need additional help!

[2022-07-31 20:42] gkthiruvathukal commented on #4498
@editorialbot add @mohawk2 as reviewer

[2022-07-31 20:42] gkthiruvathukal commented on #4498
@editorialbot start review

[2022-07-31 20:42] editorialbot opened #4633 "[REVIEW]: GNU Data Language 1.0: a free/libre and open-source drop-in replacement for IDL/PV-WAVE"
**Submitting author:** @pjb7687 (<a href="http://orcid.org/0000-0002-9064-4912">Jeongbin Park</a>)
**Repository:** https://github.com/gnudatalanguage/gdl
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0-JOSS
**Editor:** @gkthiruvathukal
**Reviewers:** @mgalloy, @mohawk2
**Archive:** 10.5281/zenodo.7275468

## Status

[![status](https://joss.theoj.org/papers/b84d8eef2986bcafd

[2022-07-31 20:42] #4498 closed

[2022-07-31 20:46] gkthiruvathukal commented on #4628
@erik-whiting, @perdelt's explanation is correct. In general, I would like to suggest minimizing use of these additional references. These would probably make more sense for an expanded work, perhaps an article that eventually cites this software, if accepted by JOSS, of course.

[2022-07-31 20:51] tretherington commented on #4482
I know nothing about machine learning so I won't be able to spot any issues in terms of the usefulness of the results, but I am quite interested in seeing how the authors set up the using a Python package from R as that is a problem I need to solve myself.  So assuming my lack of machine learning expertise is not a problem, I can find some time to review. 😊

[2022-07-31 22:38] mgalloy commented on #4633
@editorialbot generate my checklist

[2022-07-31 23:07] simon-lewis commented on #4628
@editorialbot generate my checklist

[2022-08-01 00:05] simon-lewis commented on #4628
@gkthiruvathukal @perdelt @erik-whiting  -
Hi team. Just weighing in on this one. In my opinion, "cf." tends to be used to cite _alternative_ sources, even contradictory ones. It means "compare with" so typically used after another citation, to say "but also check this one out". Hope that helps.

I've started my review so will feed back in more detail.

Like @erik-whiting , I will try to avoid com

[2022-08-01 02:33] jacobmerson commented on #4532
@masadcv I just returned from vacation. I will take a look at the changes that have been made shortly. Thanks for making a checklist of my comments.

Based on the discussion with @yhtang I think you should include citations of the patents you list in this thread and the nvidia talk. This is important context for why you have implemented the chosen algorithms.

[2022-08-01 03:34] mohawk2 commented on #4633
@editorialbot generate my checklist

[2022-08-01 03:49] OHildreth commented on #4257
@MatthieuDartiailh I've updated the manuscript with a section listing known limitations (such as the TCIP:SOCKET you listed above) and future work.  I also provided some examples of the actor branch of SwiftVISASwift that shows how to easily access resources asynchronously.

[2022-08-01 04:46] cMadan commented on #3632
Apologies for the delay, I've been having a hectic time lately (COVID, heatwave, etc.) and I am very sorry that this has delayed me in finalising the review process here.

[2022-08-01 04:47] cMadan commented on #3632
@whedon recommend-accept

[2022-08-01 04:47] cMadan commented on #3632
@editorialbot recommend-accept

[2022-08-01 04:48] cMadan commented on #3632
@editorialbot set version as v0.1.14

[2022-08-01 04:49] cMadan commented on #3632
@editorialbot set v0.1.14 as version

[2022-08-01 04:51] cMadan commented on #3632
@editorialbot set 10.5281/zenodo.6331739 as archive

[2022-08-01 04:51] cMadan commented on #3632
@whedon generate pdf

[2022-08-01 04:51] cMadan commented on #3632
@editorialbot generate pdf

[2022-08-01 04:53] cMadan commented on #3632
@editorialbot recommend-accept

[2022-08-01 04:54] cMadan commented on #3632
@drcandacemakedamoore, it looks like one DOI needs to have the url fixed. Can you make this correction and let me know after it's done?

[2022-08-01 05:33] andrew-f-murphy commented on #3632
Hey @cMadan totally understand, I have removed https://doi.org/ from that DOI now

[2022-08-01 06:01] hugoledoux commented on #4573
@editorialbot assign @hugoledoux as editor

[2022-08-01 06:07] hugoledoux commented on #4585
@Kevin-Mattheus-Moerman I just accepted the other one about urban planning and going on holidays in 2w so if there's someone else who can be the editor that would be better I reckon.

If not I guess I can squeeze it...

[2022-08-01 06:35] lorenzo-rovigatti commented on #4553
Hi @danielskatz , any news on possible editors? Thank you!

[2022-08-01 06:47] pritchardn commented on #4052
## State of the field
The accompanying software paper is generally good but lacks comparison to other potential alternatives.

The added text wouldn't need to be particularly comprehensive, maybe a paragraph or two, or interleaved into the Structure section for each DASF component.
Aside from providing context for the software, considering the state of the field gives a broader view of what proble

[2022-08-01 07:03] MatthieuDartiailh commented on #4257
@editorialbot generate pdf

[2022-08-01 07:11] danielskatz commented on #4553
I'm on vacation currently and I think @arfon is on duty this week

[2022-08-01 07:47] zoometh commented on #4335
Congratulation Sebastien!

[2022-08-01 07:52] cMadan commented on #3632
@editorialbot check references

[2022-08-01 07:52] cMadan commented on #3632
@editorialbot recommend-accept

[2022-08-01 08:35] Bisaloo commented on #4497
Hi @droglenc :wave:, I found your profile via your work on the [fishR website](https://derekogle.com/fishR/).

Would you be interested in reviewing this [R package](https://github.com/pedersen-fisheries-lab/sspm) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04497/joss.04497/10.21105.joss.04497.pdf) for JOSS?

You can have a look at our [review criteria

[2022-08-01 08:40] markheckmann commented on #3292
@brunaw Thanks a lot for the review!
@gkthiruvathukal I am on summer vacation and traveling till the 24. of August. I can finish everything by the first week of September if that is okay.

[2022-08-01 08:59] trappitsch commented on #4599
I'm available and happy to review.

[2022-08-01 09:26] devSJR commented on #4407
@editorialbot generate pdf

[2022-08-01 09:57] devSJR commented on #4407
@editorialbot generate pdf

[2022-08-01 10:21] brunomontezano commented on #4545
@csoneson Hi Charlotte.

These last weeks were pretty busy to me but I'm going to take a further look and provide feedback ASAP, until middle of this week for sure (until Wednesday).

Thanks for your comprehension and support.

[2022-08-01 10:23] SMorrison42 commented on #4629
Good morning,
Thank you for the information. I look forward to hearing your decision.

Best,
Shatavia

[2022-08-01 10:32] oliviaguest commented on #4600
I see @jagnobli @samhforbes are discussing how to make the documentation more clear for installation, here: https://git.mpib-berlin.mpg.de/castellum/castellum/-/issues/158#note_26799. Might be useful to check out for @htwangtw too.

In general, please link to any issues you all open relating to this, so we can all keep track.

[2022-08-01 11:03] arfon commented on #3632
@editorialbot accept

[2022-08-01 11:12] arfon commented on #3632
@henrykironde, @anki-xyz – many thanks for your reviews here and to @cMadan for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@drcandacemakedamoore – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-01 11:12] #3632 closed

[2022-08-01 11:17] devSJR commented on #4407
Dear @csoneson,

we have improved the paper as requested.

Is it possible to add the vignette of the PCRedux package presented here (v. 1.1-2) as an attachment to a JOSS article. The reason for this is that the article will not change, while the vignette (which describes all the data, functions etc.) is part of an evolving system. We refer the reader to some information in the vignette in the arti

[2022-08-01 11:21] hugoledoux commented on #4573
@winstonyym as the author of a very recent survey about open-source software for urban planning, I think you would be perfect for this review. Do you agree to do this, time frame is a first pass on the code/docs/paper within about 1mo

[2022-08-01 11:29] dfm commented on #4572
@editorialbot add @marylou-gabrie as reviewer

🎉 Thanks @marylou-gabrie for agreeing to be our second reviewer!!

I'll get the review started in a new thread and I'll have lots more info for you over there. Thanks again everyone!!

[2022-08-01 11:29] dfm commented on #4572
@editorialbot start review

[2022-08-01 11:29] editorialbot opened #4634 "[REVIEW]: pocoMC: A Python package for accelerated Bayesian inference in astronomy and cosmology"
**Submitting author:** @minaskar (<a href="http://orcid.org/0000-0001-9489-4612">Minas Karamanis</a>)
**Repository:** https://github.com/minaskar/pocomc
**Branch with paper.md** (empty if default branch):
**Version:** 0.2.4
**Editor:** @dfm
**Reviewers:** @kazewong, @marylou-gabrie
**Archive:** 10.5281/zenodo.7308533

## Status

[![status](https://joss.theoj.org/papers/e7d10f594f5c8eb682d29dd84aaf

[2022-08-01 11:29] #4572 closed

[2022-08-01 11:30] dfm commented on #4634
@kazewong, @marylou-gabrie — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above, and generate your checklists by commenting `@editorialbot generate my checklist` on this issue ASAP. As you go over the submission, please check any it

[2022-08-01 12:04] skalyan91 commented on #4303
@editorialbot generate pdf

[2022-08-01 12:24] skalyan91 commented on #4303
@ajstewartlang @SietzeN I’ve tested the `joss_revision` branch of the package, and am satisfied that all of the issues I raised have been addressed. However, I am not able to see the revised version of the paper; I just asked editorialbot to recompile the paper, but it’s still showing the same version that I saw before (no references, no mention of existing packages with similar functionality). On

[2022-08-01 12:56] frankier commented on #4515
I will start with a general review summary, before prioritizing the some of the GitHub issues (I have taken the liberty of including some issues not originally filed by myself here). I have expressed it in terms of what is needed for acceptance but of course there is always room for discussion.

The library looks to be quite mature overall, and have a clear potential target audience within the fie

[2022-08-01 13:05] obertscheiderfhwn commented on #4598
@editorialbot commands

[2022-08-01 13:06] obertscheiderfhwn commented on #4598
@editorialbot check references

[2022-08-01 13:09] obertscheiderfhwn commented on #4598
@editorialbot generate pdf

[2022-08-01 13:29] dazhwu commented on #4416
Great, thanks!

[2022-08-01 13:43] obertscheiderfhwn commented on #4598
@editorialbot check references

[2022-08-01 13:44] obertscheiderfhwn commented on #4598
@editorialbot generate pdf

[2022-08-01 13:54] masadcv commented on #4532
@jacobmerson many thanks! Hope you had a nice vacation. Of course, I can add this detail as well.

I will wait for a list of required changes from yourself and @yhtang. Then I will update everything in one go and include the additional citations as you suggested.

[2022-08-01 13:59] perdelt commented on #4628
@editorialbot generate pdf

[2022-08-01 14:07] liberostelios commented on #4593
@p-ortmann thank you for fixing this issue!

I believe that this concludes the review and therefore this can be published.

Congrats on the great work and I am so happy to see that you are so quick on resolving any issues! 🙌

[2022-08-01 14:07] diehlpk commented on #4512
Hi @thomasgillis would you have time to review this paper?

[2022-08-01 14:09] kazewong commented on #4634
@editorialbot generate my checklist

[2022-08-01 14:28] editorialbot opened #4635 "[PRE REVIEW]: cntext: a Python package for text mining"
**Submitting author:** @hiDadeng (<a href="http://orcid.org/0000-0001-7391-8865">Xudong Deng</a>)
**Repository:** https://github.com/hidadeng/cntext
**Branch with paper.md** (empty if default branch):
**Version:** 1.7.9
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/de91f568fa9107e97b5e23c88e1fe11f/status.svg)](https://

[2022-08-01 14:29] editorialbot opened #4636 "[PRE REVIEW]: SnakeMAGs: a simple, efficient, flexible and scalable workflow to reconstruct prokaryotic genomes from metagenomes"
**Submitting author:** @vherve (<a href="http://orcid.org/0000-0002-3495-561X">Vincent Hervé</a>)
**Repository:** https://github.com/Nachida08/SnakeMAGs
**Branch with paper.md** (empty if default branch): main
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/317280c50fc3807046582b9981da7a24/status.svg)

[2022-08-01 14:48] vherve commented on #4636
Regarding the potential reviewers, I can suggest from your list:
RHagenson
louiejtaylor
giraola
coughls
mdehollander
mberacochea

Best,
vincent

[2022-08-01 14:55] vherve commented on #4636
@editorialbot generate pdf

[2022-08-01 14:59] mingzehuang commented on #4601
Hi, @fboehm, I'm happy to review it:)

[2022-08-01 14:59] vherve commented on #4636
[paper_github.pdf](https://github.com/openjournals/joss-reviews/files/9234899/paper_github.pdf)
I do not understand. I can generate the pdf using your online tool.

[2022-08-01 15:00] vherve commented on #4636
@editorialbot commands

[2022-08-01 15:10] Nachida08 commented on #4636
@editorialbot generate pdf

[2022-08-01 15:14] josephwkania commented on #4549
@dfm Are these changes satisfactory?

[2022-08-01 15:15] jarvist commented on #4579
I don't have much background in scanning microscopy, unfortunately.

[2022-08-01 15:33] jarvist commented on #4414
How are things going @kahaaga ?

[2022-08-01 15:37] vherve commented on #4636
The paper is in https://github.com/Nachida08/SnakeMAGs/tree/main/manuscript
But it is part of the main branch of the repository https://github.com/Nachida08/SnakeMAGs
So I made a mistake and apologize for that.
Is there a way to remove this information so you robot only looks at the main branch?
Thank you for your help and sorry for the inconvenience.

Regards,
vincent

[2022-08-01 15:39] Ajstros commented on #4586
@editorialbot generate pdf

[2022-08-01 15:41] arfon commented on #4636
@editorialbot set main as branch

[2022-08-01 15:41] arfon commented on #4636
@editorialbot check repository

[2022-08-01 15:43] arfon commented on #4636
@vherve – thanks for your submission to JOSS. Could you please clarify what/where the software contribution is here? I think this may be a submission with some workflows that our bot doesn't know how to detect.

[2022-08-01 15:48] Nachida08 commented on #4636
Hello, thanks for your reply . effectively,  it is a workflow written in snakemake/python (the SnakeMAGs.smk file) with its configuration file (config.yaml)

[2022-08-01 15:54] Ajstros commented on #4586
@Kevin-Mattheus-Moerman Thank you for your help on this submission and for your feedback on the paper. We have updated the statement of need section of the paper to add the information you mentioned.

[2022-08-01 16:00] hwloidl commented on #4592
@editorialbot generate pd

[2022-08-01 16:00] hwloidl commented on #4592
@editorialbot generate pdf

[2022-08-01 16:32] flyaflya commented on #4415
This is great news.  Thanks to all!!

@arfon the archived DOI is:  10.5281/zenodo.6949489

A link to the Zenodo archive is here:  https://zenodo.org/record/6949489#.Yuf-THbMKUk

[2022-08-01 16:33] jmschrei commented on #4524
@bmskinner we are having difficulty getting reviewers for this submission. Do you have any suggestions for potential reviewers who don't have a conflict (e.g. same institution, you've worked with in the past, etc).

[2022-08-01 17:23] mohawk2 commented on #4633
@gkthiruvathukal @pjb7687 I have completed my review as reflected by all the boxes being checked above, and believe the paper and software are good to go.

I did decide to finesse this point a bit:

...in that the various papers citing usage of GDL (and the unit tests, etc) definitely meet this, so all is well - but I feel that adding a short snippet of real-world code in the generally excellent p

[2022-08-01 17:31] shivupa commented on #4623
@editorialbot generate my checklist

[2022-08-01 17:35] mh-skjelvareid commented on #4185
@Kevin-Mattheus-Moerman  Thanks a lot for the nice fix for the path definitions, and the other comments regarding consistency and testing. I've addressed the main point and some of the listed suggestions. I've checked the boxes for issues that have been fixed, and have added comments in between.

Done!

I've gone through the code and changed this to consistent use of caxis([minVal,maxVal]).

I've

[2022-08-01 17:47] jgostick commented on #4579
@editorialbot assign @jgostick as editor

I think I can handle this

[2022-08-01 17:50] christinahedges commented on #4503
Hi all, my review is on-going as I have been having installation struggles with this tool. I'll keep working on it, but for now I've got this feedback:

## Installation
* I have had some installation issues. Given that some people don’t use conda, I tried to use a different environment/package manager. I had some of the same troubles people seem to be having installing this tool on an M1 Mac. I be

[2022-08-01 18:20] max-little commented on #4534
Hi @Athene-ai (cc @Nikoleta-v3 )

Just a quick follow-up to ask if there were any additional issues you wanted to raise, or are you happy with the now revised codebase?

Best
Max

[2022-08-01 18:23] Athene-ai commented on #4534
I am happy with the now revised codebase

[2022-08-01 18:38] thomasgillis commented on #4512
I can review.
It's my first review though so happy to learn more about the workflow

[2022-08-01 18:40] max-little commented on #4534
Many thanks for the quick response @Athene-ai , that's great and thanks for all your advice!

@Nikoleta-v3 : I assume you are OK to proceed with the next step in the publication process, i.e. for us to make a tagged release of the software?

Best
Max

[2022-08-01 18:46] taylorbell57 commented on #4503
A quick response to a couple of your points - I'll try to address a couple of these today and the rest throughout the week.

Yeah, unfortunately none of our development team has an M1 Mac (Linux and Intel Macs only), so there's nothing we can do personally to test on M1 chips and we're left to relying on user-submitted issues which we've tried to resolve quickly. I think I and others avoided M1 ch

[2022-08-01 18:47] majensen commented on #4566
No problem and thanks @CamDavidsonPilon

[2022-08-01 18:48] majensen commented on #4522
@adibender are you still able to help us with [this review](#4522)? Thanks

[2022-08-01 18:48] majensen commented on #4542
All - apologies for being AWOL, I will get invitations out this week.

[2022-08-01 18:50] azoitl commented on #4592
The error message is:
`Error running filter /usr/local/share/openjournals/data/filters/normalize-metadata.lua:
PandocLuaError "Cannot get Attr from TypeNil"
stack traceback:
	...l/share/openjournals/data/filters/normalize-metadata.lua:95: in function 'Meta'
`
Any tips what this means?

[2022-08-01 18:58] danielskatz commented on #4592
👋 @xuanxu - do you understand this ☝️ error

[2022-08-01 18:59] danielskatz commented on #4592
or @arfon maybe - do you understand this ☝️ error

[2022-08-01 19:19] kahaaga commented on #4414
@jarvist I'll have these comments addressed within a day or two.

[2022-08-01 19:36] schristophe commented on #4599
Sorry for the late reply. I would gladly review this submission.

[2022-08-01 20:29] prashjha commented on #4404
@editorialbot check references

[2022-08-01 20:29] prashjha commented on #4404
@editorialbot generate pdf

[2022-08-01 20:34] prashjha commented on #4404
Hi, @ccaprani, I am going through the draft one final time before I recommend your paper for a final decision by Editor in Chief. As you can see above, there is an error in your reference and the editorialbot is not able to generate a pdf. Please see if you can correct it.

[2022-08-01 20:36] prashjha commented on #4533
Hi @Athene-ai and @jakdot, I am wondering if you have started the review and if there is any update. Thanks!

[2022-08-01 20:36] prashjha commented on #4510
@editorialbot check references

[2022-08-01 20:37] prashjha commented on #4510
@editorialbot generate pdf

[2022-08-01 20:51] prashjha commented on #4510
Hi @stefsmeets, could you suggest a couple of reviewers for this submission? Also, please check one of the references in your paper (see the error above).

[2022-08-01 20:53] prashjha commented on #4510
Hi @KParas, would you be interested in reviewing this submission for JOSS? I believe it is related to your interest. Thank you!!

[2022-08-01 20:54] prashjha commented on #4510
Hello @jameshgrn, any chance you could review this submission for JOSS?

[2022-08-01 21:18] jameshgrn commented on #4510
@prashjha sure, what all do I need to do? would be a first time for me

[2022-08-01 21:18] ccaprani commented on #4404
@editorialbot generate pdf

[2022-08-01 21:22] ccaprani commented on #4404
@editorialbot generate pdf

[2022-08-01 21:24] ccaprani commented on #4404
@prashjha a few rogue commas missing following a push - sorry about that! All sorted now, and thank you for your time and effort on this; much appreciated.

[2022-08-01 21:56] xuanxu commented on #4592
It looks like the error is caused by the paper's metadata [having no value](https://github.com/baptisteCoye/SimSGame/blob/main/paper.md?plain=1#L2) for `title`.

[2022-08-01 22:24] rkurchin commented on #4528
@editorialbot set 0.9.4 as version

[2022-08-01 22:25] rkurchin commented on #4528
@editorialbot set 10.5281/zenodo.6941663 as archive

[2022-08-01 22:25] rkurchin commented on #4528
@editorialbot recommend-accept

(my apologies for the extra delay fixing this very tiny thing 😆 )

[2022-08-01 23:14] kellyrowland commented on #4559
I could take this on, sure. As a heads up I'm planning to be out of office September 12 - October 3, if it makes sense to ping another editor.

[2022-08-01 23:25] jmschrei commented on #4613
@editorialbot assign me as editor

[2022-08-01 23:30] jmschrei commented on #4613
@effigies, @spinicist, @djsaunde, @grlee77, this might be a little out of your wheelhouse but would any of you be able to review this submission?

[2022-08-01 23:32] kellyrowland commented on #4468
hi @jonjoncardoso would you still be able to and interested in reviewing this submission?

[2022-08-02 00:48] rkurchin commented on #4565
👋 hi @ma-sadeghi, just checking in whether you've had a chance to start your review?

[2022-08-02 00:56] prashjha commented on #4404
@editorialbot check references

[2022-08-02 00:56] prashjha commented on #4404
@editorialbot generate pdf

[2022-08-02 01:07] prashjha commented on #4510
@jameshgrn, awesome. Generally speaking, reviewing software articles for JOSS entails testing the software/library and making sure software is well documented and general enough for broad usage. If you think something is not right with the software, for example, a test does not work or part of the code is not well documented, you can open an issue in the software repository and request authors to

[2022-08-02 04:10] pritchardn commented on #4052
The example ran as expected, the links in the example back to the corresponding documentation are especially appreciated

[2022-08-02 04:53] Cadaei-Yuvxvs commented on #4368
@emdupre Thank you for following this up! The PDF compilation appears to be working now :)

[2022-08-02 05:49] pritchardn commented on #4052
## Documentation

Generally, the documentation is quite good, my only request is that installation instructions for each package should be either written out in their respective readmes or linked directly to the relevant documentation page.
Using a template largely alleviates this, but it's essential to know if a package can be installed with pip/npm vs. cloning from source.

I would also suggest

[2022-08-02 05:49] sestelo commented on #4601
@fboehm as I mentioned by mail, nowadays I can't! sorry! best regards!

[2022-08-02 06:09] danielskatz commented on #4592
@xuanxu - do you think we could create a more meaningful error message for future occurrences?

[2022-08-02 06:10] danielskatz commented on #4592
@baptisteCoye - in your paper.md, the title is commented out. Can you remove the leading #?  Then use the command `@editorialbot generate pdf` to make a new PDF. editorialbot commands need to be the first entry in a new comment.

[2022-08-02 06:11] humanfactors commented on #4250
@taless474 It is plausible that @bnriiitb may not have notifications in this thread on, as I don't believe he's made an active response since 18 Mar (> 4.5 months). Is there a protocol for seeking a third reviewer to replicate the process?

Again, I am confident that the actual software that is being published can install/run, just not how it interacts with Carla.

[2022-08-02 06:59] Athene-ai commented on #4533
@editorialbot generate my checklist

[2022-08-02 07:00] Athene-ai commented on #4533
@prashjha Just submitted

[2022-08-02 07:10] vherve commented on #4636
@arfon  - Thank you for your message. I confirm that it is a snakemake/python workflow (the SnakeMAGs.smk file) with its configuration file (config.yaml).

Regarding the potential reviewers, I can suggest from your list:
RHagenson
louiejtaylor
giraola
coughls
mdehollander
mberacochea

Regards,
vincent

[2022-08-02 07:39] baptisteCoye commented on #4592
@editorialbot generate pdf

[2022-08-02 07:59] bmskinner commented on #4524
A couple of possible options; I've never worked with either:

Pete Bankhead at the University of Edinburgh. He is the developer of QuPath, a Java-based image analysis program for histopathology:
https://www.ed.ac.uk/pathology/people/staff-students/peter-bankhead
https://github.com/qupath/qupath
https://github.com/petebankhead

Someone from the FIJI and ImageJ projects may also be suitable, such as

[2022-08-02 08:06] baptisteCoye commented on #4592
@editorialbot generate pdf

[2022-08-02 08:43] elboyran commented on #4493
Dear @sara-02 and @Athene-ai thank you for your reviews.

@taless474 I see that some check-boxes are not checked from both of the reviewers and @Athene-ai gave some comments, though very brief and generic and I cannot see comments from @sara-02.

How shall I proceed? May I contact the reviewers for more information/suggestions than given?
For example I am not sure how to approach "The reviewer sug

[2022-08-02 08:49] EwaGomez commented on #4443
@rkurchin, One of my co-authors asked to be cut out of the contribution since she does not have time to contribute anything to the changes during the review possible. Am I still able to change the authors?

[2022-08-02 09:55] spinicist commented on #4613
Sorry, I have two other (not JOSS) reviews to complete, and then I am unavailable for a good chunk of August.

If you have not found anyone by September feel free to ask again.

[2022-08-02 10:08] sara-02 commented on #4493
@elboyran For me, the paper content is acceptable. I have an issue that my automated tests failed. I will create an issue to follow up. The installation setup worked fine but to test the functionality, I need to have a model at hand. Is it possible to share a small MNIST based model or some pretrained model on hugging face that can be used to independently test the functionalities of your system?

[2022-08-02 10:21] jhidalgocarrio commented on #4521
Here is my review update.
 * [Installation Success] on Ubuntu 20.04 (w/o docker) I am testing DSOPP from scratch.
 The installation worked after several problems with -DCMAKE_CXX_STANDARD=20 in the 3rd_party modules. I needed to change a few lines. Please have a look at [this commit ](https://github.com/jhidalgocarrio/DSOPP/commit/a06af779b6f104daf9c2aa3794c438040d64d6ad).

 * [Unit Test Success]:

[2022-08-02 11:40] elboyran commented on #4493
Dear @sara-02 , the DIANNA README lists all datasets and models we have used in our project. Please, have a look at
https://github.com/dianna-ai/dianna#images-1 for a list of links to ONNX models trained on image datasets, including a 'binary MNIST' model.

[2022-08-02 12:34] hmacdope commented on #4467
@editorialbot generate my checklist

[2022-08-02 13:25] draabe commented on #4588
@editorialbot generate pdf

[2022-08-02 13:32] fboehm commented on #4601
Thanks so much, @mingzehuang ! I'll add you as a reviewer now. Once we find a second reviewer, we can begin the review. No problem, @sestelo ! I hope that we can work together on a future submission.

[2022-08-02 13:33] fboehm commented on #4601
@editorialbot add @mingzehuang as reviewer

[2022-08-02 13:35] fboehm commented on #4601
@sdparsons @mmrabe @mcavs - would you be willing to review this submission for JOSS? Our reviews are checklist-driven. Please feel free to ask me any questions that you might have. Thanks for considering this!

[2022-08-02 13:38] draabe commented on #4588
@gagolews thanks a lot for the positive feedback and helpful remarks! We've updated the article addressing your points:

1. Yes, totally makes sense to have a more comprehensive description of features in the article. We've added a (grouped) list of all features preceding the more narrative discussion of functionality. This way, there's both a quick summary as well as a more thorough explanation o

[2022-08-02 13:44] Kevin-Mattheus-Moerman commented on #4564
@AJQuinn :wave: :point_up:

[2022-08-02 14:08] stefsmeets commented on #4510
Hi @prashjha , I'd suggest:

@vijaysm
@daniellivingston
@abhishekta
@krober10nd

[2022-08-02 14:12] KParas commented on #4510
@prashjha Thank you for the invite. The topic seems quite interesting, but unfortunately reviewing this one is not possible due to my current time schedule.

[2022-08-02 14:21] azoitl commented on #4592
@baptisteCoye your references are still not correct. Please see the [citation rules](https://pandoc.org/MANUAL.html#extension-citations) for more information.

[2022-08-02 14:21] chags1313 commented on #4619
@arfon Thank you for the update. I look forward to hearing back from you.

[2022-08-02 15:15] IvanIsCoding commented on #3968
@editorialbot generate pdf

[2022-08-02 15:30] vijaysm commented on #4510
@stefsmeets @prashjha I should be available to review this in 2-3 weeks.

[2022-08-02 15:33] siavash-saki commented on #4620
@jGaboardi

Thank you for carefully reviewing our code and manuscript. We are pleased by your enthusiasm for tesspy and thank you for the insightful comments. We could definitely improve tesspy according to the issues that you opened.

I can answer some of your general questions here:

 - **Unclear what role Tobias Hagen has played in the code development (no commits).**

Tobias Hagen is the proje

[2022-08-02 15:50] diehlpk commented on #4512
@editorialbot add @thomasgillis as reviewer.

[2022-08-02 15:51] diehlpk commented on #4512
Perfect. You can find more details about the review here

https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2022-08-02 15:52] diehlpk commented on #4512
@editorialbot start review

[2022-08-02 15:52] editorialbot opened #4637 "[REVIEW]: RHEA: an open-source Reproducible Hybrid-architecture flow solver Engineered for Academia"
**Submitting author:** @lluisjofre (<a href="http://orcid.org/0000-0003-2437-259X">Lluis Jofre</a>)
**Repository:** https://gitlab.com/ProjectRHEA/flowsolverrhea
**Branch with paper.md** (empty if default branch): master
**Version:** v1.0.0
**Editor:** @diehlpk
**Reviewers:** @ctdegroot, @thomasgillis
**Archive:** 10.5281/zenodo.7525886

## Status

[![status](https://joss.theoj.org/papers/23f32f49

[2022-08-02 15:52] #4512 closed

[2022-08-02 15:55] thomasgillis commented on #4637
@editorialbot generate my checklist

[2022-08-02 15:56] baptisteCoye commented on #4592
@editorialbot generate pdf

[2022-08-02 16:51] marylou-gabrie commented on #4634
@editorialbot generate my checklist

[2022-08-02 16:51] samhforbes commented on #4600
Hi @jagnobli
I think from the example deployment this looks exciting. I appreciate there are merge requests where extensive additions are being made to docs, however I will comment on the main branch at this stage.

To avoid talking across purposes on the project repo, I'm going to highlight some issues as I see them here, and possibly open isolated issues where appropriate on the project repo. Th

[2022-08-02 17:06] hgandhi2411 commented on #4624
@editorialbot generate my checklist

[2022-08-02 17:55] thomasgillis commented on #4637
Thanks for your work in the software @lluisjofre, here is a list of my comments.
I don't think I have access to your issues, so couldn't open a new one on the target repo :-)

## paper comment

The paper is 1900 words while the limit is at 1000, maybe you will want to reduce it. There is plenty of non-relevant details that could go away and you might want to tighten your english a bit more.
I woul

[2022-08-02 19:21] rkurchin commented on #4443
Yeah, no problem, just edit it in the mansucript!

[2022-08-02 19:32] csoneson commented on #4501
Yes, I could give it a go.

[2022-08-02 19:32] csoneson commented on #4501
@editorialbot assign @csoneson as editor

[2022-08-02 19:37] csoneson commented on #4501
👋🏻 @coughls, @mberacochea - would you be interested in reviewing this submission for JOSS?

[2022-08-02 19:41] bonh commented on #4565
@editorialbot generate pdf

[2022-08-02 19:43] SietzeN commented on #4303
Hi @skalyan91 and @ajstewartlang

Thanks for your mail! That's strange, I've implemented your suggestions and recompiled the paper to test it. The markdown file is here: https://github.com/SietzeN/glottospace/blob/joss_revision/paper.md I'm not sure why it doesn't work. Perhaps I've made a mistake, should I place the md file somewhere else?
Thanks!

[2022-08-02 20:00] bonh commented on #4565
Thanks, @JanLeppert, for providing the (great!) paper. @rkurchin, I think that this submission together with this [published paper](http://10.0.3.248/j.chroma.2020.460985), see pdf provided by @JanLeppert above, might be a [Co-publication of science, methods, and software](https://joss.readthedocs.io/en/latest/submitting.html#co-publication-of-science-methods-and-software). This is somewhat indica

[2022-08-02 20:02] bonh commented on #4565
@JanLeppert, let's not discuss the points concerning the JOSS paper I raised above here but directly over at https://github.com/JanLeppert/GasChromatographySimulator.jl.

[2022-08-02 20:12] rkurchin commented on #4565
Yes, @bonh, thanks for checking – I agree that this should be fine to publish in JOSS, since the paper is a detailing of the mathematical model but makes very little reference to the software, while this submission is focused on the software and its capabilities. I definitely agree that showing how to reproduce results shown in the theory paper would be excellent content for the project docs, and

[2022-08-02 21:20] jasondegraw commented on #4512
@diehlpk Looks like you have the reviewers you need, but for the sake of completeness, I don't have time right now for this review.

[2022-08-02 21:22] jasondegraw commented on #4261
@timtroendle I should be able to go back through and update my checklist within the next couple of days.

[2022-08-02 21:24] jasondegraw commented on #4406
@crvernon I need to go back and make sure of a couple things, but I plan to work on this today/tomorrow so it should be soon.

[2022-08-02 21:32] madvn commented on #3842
Thank you for your responses @EtienneCmb .. I will get back to you, in the next week.

[2022-08-02 22:24] krober10nd commented on #4510
Sorry have to turn this one down.  Currently very busy. Thanks for the offer!

[2022-08-03 00:34] gagolews commented on #4588
I am happy with the revised version and now recommend the paper be accepted for publication.

[2022-08-03 00:44] taylorbell57 commented on #4503
Following up on the above, I just made a PR (https://github.com/kevin218/Eureka/pull/442) which adds to the documentation website some more flowcharts which describe the workflow for Eureka!'s Stages 3 and 4 (visible here for now https://eurekadocs.readthedocs.io/en/joss_docs/stages.html). I didn't bother to make flowcharts for Stages 5 and 6 as they're not that complicated or deeply nested. I add

[2022-08-03 00:51] LucyMcGowan commented on #4495
Thank you so much for the reviews, they certainly helped make the paper better! Please find my point-by-point responses below.

# Reviewer 1

* In the repository readme it says that the license is MIT, but the license fail only contains copyright information (https://github.com/LucyMcGowan/tipr/blob/master/LICENSE).

*I have added a license.md file to the repository.*

* In the documentation on yo

[2022-08-03 00:52] LucyMcGowan commented on #4495
@editorialbot generate pdf

[2022-08-03 00:55] LucyMcGowan commented on #4495
@editorialbot generate pdf

[2022-08-03 00:58] LucyMcGowan commented on #4495
@editorialbot generate pdf

[2022-08-03 01:08] LucyMcGowan commented on #4495
@editorialbot generate pdf

[2022-08-03 01:11] LucyMcGowan commented on #4495
@editorialbot generate pdf

[2022-08-03 05:23] IvanIsCoding commented on #3968
@editorialbot help

[2022-08-03 05:23] IvanIsCoding commented on #3968
@editorialbot commands

[2022-08-03 05:26] arfon commented on #4589
@yogi-tud – could you please merge this PR to associate this submission with your Europar submission? https://github.com/yogi-tud/space_gpu/pull/5

[2022-08-03 05:32] IvanIsCoding commented on #3968
@drvinceknight @arfon We have changed the name of the library to be rustworkx and need to update the title and repository link. "rustworkx: A High-Performance Graph Library for Python" and https://github.com/Qiskit/rustworkx

 .

[2022-08-03 05:32] arfon commented on #4528
@editorialbot accept

[2022-08-03 05:44] csoneson commented on #4407
Thanks @devSJR! I went through the paper again and I think this looks good - I sent another small [PR](https://github.com/PCRuniversum/PCRedux/pull/13) with a couple of minor fixes. Regarding the attachment, I would suggest that you upload the current vignette to e.g. Zenodo or FigShare, and refer to that (you would get a DOI).

Once these things are sorted, the next steps are as follows:
- [ ] Ma

[2022-08-03 05:51] arfon commented on #4528
@dandavies99, @PeterKraus – many thanks for your reviews here and to @rkurchin for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@sgbaird – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-03 05:51] #4528 closed

[2022-08-03 05:53] arfon commented on #4559
Thanks for the heads up @kellyrowland. Given capacity elsewhere, I would love to have you get this submission moving (under review etc.) and if needs be, I can provide a support if issues arise when you're OoO (please @mention me on the review thread).

[2022-08-03 05:54] arfon commented on #4559
@editorialbot assign @kellyrowland  as editor

[2022-08-03 05:54] arfon commented on #4559
@editorialbot commands

[2022-08-03 05:54] arfon commented on #4559
@editorialbot assign @kellyrowland as editor

[2022-08-03 05:57] arfon commented on #4605
Thanks @pdebuyl – I'd like to move forward and assign this to your backlog, even with the caveat about your availability. Lots of editors are in this position right now and I'd rather have this assigned to someone that leave in the waitlisted state.

@linusseelinger – heads up that even though @pdebuyl is your handling editor here, it may be another few weeks before this actually starts moving for

[2022-08-03 05:58] arfon commented on #4605
@editorialbot assign @pdebuyl as editor

[2022-08-03 05:59] arfon commented on #4626
@tibordome - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-03 06:01] arfon commented on #4631
@editorialbot invite @osorensen as editor

:wave: @osorensen – would you be able to handle this submission for us?

[2022-08-03 06:02] arfon commented on #4632
@mspieg – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-03 06:03] editorialbot opened #4638 "[PRE REVIEW]: Rho: Application to analyse electrical resistivity"
**Submitting author:** @meryemberradauwo (<a href="http://orcid.org/0000-0002-4934-0917">Meryem Berrada</a>)
**Repository:** https://github.com/meryemberradauwo/Rho.git
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/80198d2217463cef842751bd31440c5e/st

[2022-08-03 06:03] editorialbot opened #4639 "[PRE REVIEW]: PyAutoCTI: Open-Source Charge Transfer Inefficiency Calibration"
**Submitting author:** @Jammy2211 (<a href="http://orcid.org/0000-0002-8987-7401">James Nightingale</a>)
**Repository:** https://github.com/Jammy2211/PyAutoCTI
**Branch with paper.md** (empty if default branch):
**Version:** 2022.05.02.1
**Editor:** @adonath
**Reviewers:** @rjavila, @jryon
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/1ecb39b2e036537db2db427f6f

[2022-08-03 06:03] editorialbot opened #4640 "[PRE REVIEW]: PoUnce: A framework for automatized uncertainty quantification simulations on high-performance clusters"
**Submitting author:** @JakobBD (<a href="http://orcid.org/0000-0001-8961-5340">Jakob Dürrwächter</a>)
**Repository:** https://github.com/JakobBD/pounce
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @Nikoleta-v3
**Reviewers:** @georgiastuart, @salrm8
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/c62521adac904e832a1ac4130406

[2022-08-03 06:04] editorialbot opened #4641 "[PRE REVIEW]: ρμ: A Java library of randomization enhancements and other math utilities"
**Submitting author:** @cicirello (<a href="http://orcid.org/0000-0003-1072-8559">Vincent A Cicirello</a>)
**Repository:** https://github.com/cicirello/rho-mu
**Branch with paper.md** (empty if default branch):
**Version:** v2.3.2
**Editor:** @diehlpk
**Reviewers:** @xtruan, @pritchardn
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/00abc7048fe5b99d7c6fd848e0b77

[2022-08-03 06:44] osorensen commented on #4631
@editorialbot add @osorensen as editor

[2022-08-03 06:53] osorensen commented on #4631
:wave: @kauedesousa @tscheypidi @neerajdhanraj would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-03 06:55] kauedesousa commented on #4631
I can review the submission

[2022-08-03 06:56] neerajdhanraj commented on #4631
Yeah, I would like to review this article.

Best regards,

Neeraj Dhanraj Bokde, Ph.D.
https://neerajbokde.in/

On Wed, 3 Aug 2022, 12:23 pm Øystein Sørensen, ***@***.***>
wrote:

[2022-08-03 07:02] osorensen commented on #4631
Thanks both of you for very quick responses!

[2022-08-03 07:02] osorensen commented on #4631
@editorialbot add @neerajdhanraj as reviewer

[2022-08-03 07:02] fabian-s commented on #4495
@editorialbot check references

[2022-08-03 07:02] osorensen commented on #4631
@editorialbot add @kauedesousa as reviewer

[2022-08-03 07:06] fabian-s commented on #4495
thank you @LucyMcGowan, excellent. I added some very minor comments on formatting / language directly in the diffs of your commits.

@MichaelSchomaker @gcskoenig are you satisfied with these changes as well?

re:

    The dependencies are not explicitly stated in the paper.

The dependencies are in the DESCRIPTION file of the package itself (and handled by CRAN on installation) I would be happy to

[2022-08-03 07:40] mberacochea commented on #4501
Hi @csoneson Sure, it looks interesting. First time doing it, so I need some guidance to get started with it. I'm going to be on/off in August, so when is the deadline for the review?.

[2022-08-03 07:54] csoneson commented on #4501
@mberacochea Brilliant, thanks! The way it works is that once we have secured two reviewers, I will open a review issue here on GitHub, and in there you will generate your review checklist (see [here](https://joss.readthedocs.io/en/latest/review_checklist.html) for what it looks like). You will then start going through the submission, checking off the items that you feel are satisfied and raising

[2022-08-03 08:21] arfon commented on #4614
@pydemull - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-03 08:33] mbernaschi commented on #4312
@editorialbot generate my checklist

[2022-08-03 08:45] mbernaschi commented on #4312
@editorialbot generate my checklist

[2022-08-03 08:58] mbernaschi commented on #4312
@arfon Hello, I completed my review. I believe it is a pretty good package although I don't consider Julia as so "necessary" to accomplish the same tasks. I could not find explicit performance claims so I did not check the corresponding box.
As to the state of field and references, I believe the authors should add some recent packages. Let me self-cite TLBfind
(https://github.com/FrancescaPelusi/T

[2022-08-03 09:42] stefanocoretta commented on #4566
Hi! Just to say I am done with the review.

[2022-08-03 10:49] Nikoleta-v3 commented on #4534
@fAndreuzzi and @Athene-ai thank you both for your time and your reviews! I believe that the package has improved a lot thanks to your comments 🙏🏻

[2022-08-03 10:50] Nikoleta-v3 commented on #4534
@max-little what do you think about this:

[2022-08-03 10:51] jagnobli commented on #4600
Hi @samhforbes,

thanks for your valuable feedback. We will work on your requests. To some of your points I have some direct answers or comprehension questions though:

Not sure if this is helping: We currently see our main target group to be facilities that provide this service to _their_ researchers (rather than having individual researches installing it locally on their machines). Therefore, to

[2022-08-03 10:54] Kevin-Mattheus-Moerman commented on #4118
@chennachaos I think it looks like you can pick up the review again.

[2022-08-03 10:57] Athene-ai commented on #4534
The pleasure is mine!

[2022-08-03 11:01] Nikoleta-v3 commented on #4534
@max-little once you have addressed my above, could you:

-  Make a tagged release of your software, and list the version tag of the archived version here.
  - Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
  - Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and

[2022-08-03 11:23] samhforbes commented on #4600
Hi @jagnobli
Excellent stuff.

- installation instructions. Yes some of this is at your discretion of course, since the audience is specific, and I can understand that these would be facilities / centres / departments running this, not individuals - and I think you are reasonably clear about this in the docs. However, the local test deployment works, but not on all machines, and the login instruct

[2022-08-03 11:26] hwloidl commented on #4592
@baptisteCoye I had a look at the generated .pdf and have adjusted my review accordingly (above). The points remaining are, I think, a couple of minor issues and typos in the paper (below) and the issue about citations mentioned by @azoitl

[2022-08-03 11:27] hwloidl commented on #4592
@baptisteCoye Here the list of typos I mention above:
Minor issues and typos in paper.md:

personnal computers -> personal computers

developpers -> developers

and allows -> and allow

[reorder] frame (30 to 60 Frames per seconds) rate -> frame rate (30 to 60 Frames per seconds)

[I assume you want a compound noun in this case] precedences constraints -> precedence constraints

execution’s correc

[2022-08-03 11:37] chennachaos commented on #4118
Hi @Kevin-Mattheus-Moerman.
Sorry for the delay. I have been busy with a lot of stuff going on at the moment.
I will complete the review by the end of next week.

[2022-08-03 12:17] devSJR commented on #4407
@editorialbot generate pdf

[2022-08-03 12:32] LucyMcGowan commented on #4495
Thank you so much! I tried to add a line space again and I think it fixed the caption?
@editorialbot generate pdf

[2022-08-03 12:51] LucyMcGowan commented on #4495
@editorialbot generate pdf

[2022-08-03 12:54] faroit commented on #4458
@rmmilewi can you please give us an update when you will have time to finish the review? This review is already a few weeks overdue.

[2022-08-03 12:54] LucyMcGowan commented on #4495
@editorialbot generate pdf

[2022-08-03 13:17] arfon commented on #4589
@editorialbot generate pdf

[2022-08-03 13:17] yogi-tud commented on #4589
@arfon I just merged your MR.

[2022-08-03 13:25] arfon commented on #4589
@editorialbot reaccept

[2022-08-03 13:26] meryemberradauwo commented on #4638
@sj-amani
Meryem Berrada

On Aug 3, 2022, at 2:03 AM, The Open Journals editorial robot ***@***.***> wrote:

﻿

Wordcount for paper.md is 2133

—
Reply to this email directly, view it on GitHub<https://github.com/openjournals/joss-reviews/issues/4638#issuecomment-1203520316>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AXSVHB726YLN52ZCJ5OJZUDVXIDT5ANCNFSM55NRI3TA>.
You are rec

[2022-08-03 13:41] chennachaos commented on #4118
Hi @Kevin-Mattheus-Moerman, I don't have the Review checklist for me anymore.
Could you please check?

[2022-08-03 14:44] abhishekvp commented on #4283
@editorialbot generate my checklist

[2022-08-03 14:45] arfon commented on #4589
What do you think @wimvanderbauwhede and @danielskatz?: https://github.com/openjournals/joss-papers/blob/e881a2735349adace33e66f83a60aab1852227a7/joss.04589/10.21105.joss.04589.pdf

[2022-08-03 14:54] eloisabentivegna commented on #4599
Thanks, @trappitsch and @schristophe! Let's start the review.

[2022-08-03 14:55] eloisabentivegna commented on #4599
@editorialbot add @trappitsch as reviewer

[2022-08-03 14:55] eloisabentivegna commented on #4599
@editorialbot add @schristophe as reviewer

[2022-08-03 14:55] eloisabentivegna commented on #4599
@editorialbot start review

[2022-08-03 14:55] editorialbot opened #4642 "[REVIEW]: binary_c-python: A python-based stellar population synthesis tool and interface to binary_c"
**Submitting author:** @ddhendriks (<a href="http://orcid.org/0000-0002-8717-6046">David Douwe Hendriks</a>)
**Repository:** https://gitlab.com/binary_c/binary_c-python/
**Branch with paper.md** (empty if default branch): master
**Version:** 1.0.0
**Editor:** @eloisabentivegna
**Reviewers:** @trappitsch, @schristophe
**Archive:** 10.5281/zenodo.7974135

## Status

[![status](https://joss.theoj.org

[2022-08-03 14:55] #4599 closed

[2022-08-03 14:58] eloisabentivegna commented on #4642
@trappitsch, @schristophe, many thanks again for your help with this submission. Please let us know if I can clarify or facilitate anything.

[2022-08-03 15:12] Kevin-Mattheus-Moerman commented on #4118
Hi @chennachaos I removed the one on top since you created the new checklist type above in a comment: https://github.com/openjournals/joss-reviews/issues/4118#issuecomment-1099385011

Let me know if you can use that, if not I'll put the one on top back.

[2022-08-03 15:17] jameshgrn commented on #4510
@prashjha I can do it, feel free to add me.

[2022-08-03 15:29] fabian-s commented on #4495
looks like it :)

I think I'll just go ahead and make and editorial decision to accept this now , seems fine to me. (Sorry Gunnar & Michael, I want this done before my vacation)

@LucyMcGowan At this point could you please:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g.,

[2022-08-03 15:42] danielskatz commented on #4589
looks good to me - https://joss.theoj.org/papers/10.21105/joss.04589

[2022-08-03 15:43] danielskatz commented on #4591
@arfon - can you explain to @domschrei how to finalize the work on this to add the Euro-Par connection?

[2022-08-03 15:47] diehlpk commented on #4512
Thanks for letting me know.

[2022-08-03 15:58] adam2392 commented on #4484
Hi @TomDonoghue I have addressed your points raised in the https://github.com/mne-tools/mne-icalabel/issues/86#issuecomment-1204146456 issue. Thanks!

[2022-08-03 16:02] amandadumi commented on #4623
@editorialbot generate my checklist

[2022-08-03 16:17] Solonets commented on #4521
Hi @jhidalgocarrio, thank you for your effort. There was an undefined behavior in CMake which caused no visualization during the run. I fixed it.

Regarding DCMAKE_CXX_STANDARD maybe we could continue this discussion in PR if you shall open one.

[2022-08-03 16:22] ma-sadeghi commented on #4565
@rkurchin Yes, I've started the review process, and I've already opened up a few issues on the package issue tracker.

@JanLeppert, I really like your package, and I think it's a worthy contribution. Please address the issues I opened up and we'll take it from there.

[2022-08-03 16:24] abhishekvp commented on #4283
Apologies for the late review. Please find my review comments below:

The paper proposes and implements the [ccg-v3d](https://github.com/agdturner/ccg-v3d) - an extensible Java library for working with 3D Euclidian Geometry.

Thanks to @agdturner for considering to submit to the Journal of Open Source Software. The author's contribution to the open source community are appreciated.

Although the c

[2022-08-03 16:47] jgostick commented on #4579
@editorialbot assign @xaviercm94 as reviewer

[2022-08-03 16:51] LucyMcGowan commented on #4495
-[x]   Make a tagged release of your software, and list the version tag of the archived version here: https://github.com/LucyMcGowan/tipr/releases/tag/v1.0.0
-[x]   Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository): [10.5281/zenodo.6958926](https://zenodo.org/record/6958926#.YuqnZi-B0xU)
-[x]   Check the archival deposit (e.g., in Zenodo) ha

[2022-08-03 16:51] jgostick commented on #4579
@editorialbot add @xaviercm94 as reviewer

[2022-08-03 16:58] jgostick commented on #4397
Hi All, how are things progressing here?  I just got back from my first "in person" conference followed by a week of vacay, so I haven't been keeping tabs on this.  Anyway, I'm back now so let's drive this submission into the end zone!

[2022-08-03 17:49] JakobBD commented on #4640
Dear editors,
Possible reviewers include salrm8, georgiastuart, Himscipy, and AnjaliSandip/.
Best,
Jakob

[2022-08-03 18:29] emdupre commented on #4484
Thanks, @TomDonoghue and @adam2392 !

We ask that all reviews be completed [within six weeks](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) (so from our initial start date of 18 June, I wouldn't expect reviews before the end of last week). Given ongoing summer holidays, though, many folks are in-and-out of office so I'm generally assuming about a two-week buffer period.

Just as

[2022-08-03 18:34] emdupre commented on #4368
@editorialbot generate pdf

[2022-08-03 18:34] chennachaos commented on #4118
I think the one already there is fine.

[2022-08-03 18:35] enekomartinmartinez commented on #4329
Hi @pdebuyl !
We are about to migrate PySD to [SDXorg organization](https://github.com/SDXorg), find the [issue he have created to track this process](https://github.com/JamesPHoughton/pysd/issues/348).

We wanted to ask you if this could make any conflict with the pending review or future publication process. GitHub is supposed to automatically redirect the links to the new repository. However, I

[2022-08-03 18:39] emdupre commented on #4368
Thanks, @Cadaei-Yuvxvs ! I'm really not sure why that's happening sporadically, but if it's stable for now I'll go ahead and move forward as-is. I'll let the corresponding EiC confirm when they do their final checks on the paper that there's nothing on the infra side that I'm missing :)

[2022-08-03 18:48] emdupre commented on #4368
Sorry, in reviewing the final draft it looks like one small point still needs to be addressed :

The same issue would also apply to the (new !) `MriResearchTools (v0.5.2; [@Eckstein:2022])` reference. In both cases, you should be able to drop the square brackets entirely.

[2022-08-03 18:51] christinahedges commented on #4503
Hi @taylorbell57

The new flow charts look good!

Yes a README is what's needed, with a brief explanation of what the demos are and a pointer to the quickstart sounds fine.

I think it would be worth having @dfm weigh in here. Currently, as a user, I think there's not a place that I can go to find the methods this pipeline is using under the hood. @dfm, to meet the documentation of methods here, w

[2022-08-03 19:00] fboehm commented on #4601
Thank you, @mmrabe! I'll add you as a reviewer right away. We can then start the review.

[2022-08-03 19:00] fboehm commented on #4601
@editorialbot add @mmrabe as reviewer

[2022-08-03 19:00] fboehm commented on #4601
@editorialbot start review

[2022-08-03 19:00] editorialbot opened #4643 "[REVIEW]: POSSA: Power simulation for sequential analyses and multiple hypotheses"
**Submitting author:** @gasparl (<a href="http://orcid.org/0000-0001-9401-4830">Gáspár Lukács</a>)
**Repository:** https://github.com/gasparl/possa/
**Branch with paper.md** (empty if default branch):
**Version:** v0.6.1
**Editor:** @fboehm
**Reviewers:** @mingzehuang, @mmrabe
**Archive:** 10.5281/zenodo.7027767

## Status

[![status](https://joss.theoj.org/papers/3018b5213b07c69049bec226949b29f7/

[2022-08-03 19:00] #4601 closed

[2022-08-03 19:03] fboehm commented on #4530
@btmonier - How are the revisions coming along? Is there anything that I might help with?

Thanks!

[2022-08-03 19:06] mcavs commented on #4601
Hi @fboehm, the topic of the submission fits my research interest and I am willing to review.

[2022-08-03 19:18] max-little commented on #4534
Thanks @Nikoleta-v3 , tagged release GRAPL v1.4 here:
https://github.com/max-little/GRAPL/releases/tag/v1%2C4

Zenodo DOI of archived version:
https://doi.org/10.5281/zenodo.6959433

[2022-08-03 19:28] fluhus commented on #4606
Hello, adding potential reviewers from the [spreadsheet](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/) in the meantime. The following users mentioned Go and biology. I hope this helps.

- kortschak (author of biogo, relevant to this paper)
- RHagenson
- jkanche
- will-rowe
- vaniisgh
- prvst

[2022-08-03 19:34] jgostick commented on #4579
@editorialbot add @jingpengw as reviewer

[2022-08-03 19:35] jgostick commented on #4579
@editorialbot start review

[2022-08-03 19:35] editorialbot opened #4644 "[REVIEW]: SpmImage Tycoon: Organize and analyze scanning probe microscopy data"
**Submitting author:** @alexriss (<a href="http://orcid.org/0000-0002-3212-7925">Alexander Riss</a>)
**Repository:** https://github.com/alexriss/SpmImageTycoon.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.8
**Editor:** @jgostick
**Reviewers:** @jingpengw, @kasasxav
**Archive:** 10.5281/zenodo.7038825

## Status

[![status](https://joss.theoj.org/papers/62906b1951cc0e6bb

[2022-08-03 19:35] #4579 closed

[2022-08-03 19:38] jgostick commented on #4579
Hi @jingpengw and @xaviercm94, thanks for agreeing to review this submission.  A few things to note about JOSS reviews:

1. They are done publicly, so the authors and reviewers work together to improve the submission
2. The general aim is to help submissions improve until they are ready for publications rather than to reach an accept/reject decision
3. There will be a checklist of items for you to

[2022-08-03 19:41] btmonier commented on #4530
@tomsing1 - I have added new installation instructions found in the following document:

* [README.md](https://github.com/maize-genetics/rTASSEL/blob/master/README.md#installation-and-usage)

I have also created a new installation vignette where I also cover this:
* [rtassel_install.Rmd](https://github.com/maize-genetics/rTASSEL/blob/master/vignettes/rtassel_installation.Rmd)

[2022-08-03 19:45] btmonier commented on #4530
@tomsing1 - I have updated the `pkgdown` build process in which I have:

* Fixed the article ordering
* Added ORCIDs for each author
* Added links to the GitHub repository
* Added search bar for enhanced navigation (i.e. taking advantage of Bootstrap 5)

Please see the [_pkgdown.yml](https://github.com/maize-genetics/rTASSEL/blob/master/_pkgdown.yml) for further details.

[2022-08-03 19:48] ctdegroot commented on #4637
@editorialbot generate pdf

[2022-08-03 19:48] ctdegroot commented on #4637
@editorialbot generate my checklist

[2022-08-03 19:49] btmonier commented on #4530
@tomsing1 - I have added the following documentation to help with contribution and also a code of conduct guide as laid out by the Contributor Covenant Code of Conduct.

Please see the following files for further details:

* [CODE_OF_CONDUCT.md](https://github.com/maize-genetics/rTASSEL/blob/master/.github/CODE_OF_CONDUCT.md)
* [CONTRIBUTING.md](https://github.com/maize-genetics/rTASSEL/blob/maste

[2022-08-03 19:51] sbenthall commented on #4382
@PhilipPallmann Hello. This submission is waiting on you to confirm that the author has addressed all the issues that you have left off in your checklist. Could you please check to see if the revisions are sufficient and, if so, sign off on the publication? Thank you.

[2022-08-03 19:52] sbenthall commented on #3496
@Natsiopoulos Any updates? As this has been inactive for a several months, if we don't hear from you we may have to mothball this submission.

[2022-08-03 19:54] editorialbot opened #4645 "[PRE REVIEW]: Volume Segmantics: A Python Package for Semantic Segmentation of Volumetric Data Using Pre-trained PyTorch Deep Learning Models"
**Submitting author:** @OllyK (<a href="http://orcid.org/0000-0002-6152-7207">Oliver N. F. King</a>)
**Repository:** https://github.com/DiamondLightSource/volume-segmantics
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.2.6
**Editor:** @osorensen
**Reviewers:** @jingpengw, @estenhl
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/cb6e86a

[2022-08-03 19:54] editorialbot opened #4646 "[PRE REVIEW]: The ppmData R-package for setting up spatial point process models"
**Submitting author:** @skiptoniam (<a href="http://orcid.org/0000-0001-7022-0509">Skipton Nicholas Charles Woolley</a>)
**Repository:** https://github.com/skiptoniam/ppmData
**Branch with paper.md** (empty if default branch): joss_submission
**Version:** v1.0.0
**Editor:** @elbeejay
**Reviewers:** @OwenWard, @mhesselbarth
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org

[2022-08-03 19:55] editorialbot opened #4647 "[PRE REVIEW]: Pulse Physiology Engine: A Computational Physiology Engine for Whole-Body Simulation"
**Submitting author:** @aaron-bray (<a href="http://orcid.org/0000-0002-2188-7646">Aaron Bray</a>)
**Repository:** https://gitlab.kitware.com/physiology/engine
**Branch with paper.md** (empty if default branch): publication/JOSS
**Version:** v4.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/f28e96343ebb407cd458ac0e1

[2022-08-03 19:55] btmonier commented on #4530
@tkchafin - I have created a [containerized version of rTASSEL](https://hub.docker.com/repository/docker/maizegenetics/rtassel) based off the [rocker/verse](https://hub.docker.com/r/rocker/verse) Docker image.

Please see the following file for further details:
* [rtassel_installation.Rmd](https://github.com/maize-genetics/rTASSEL/blob/master/vignettes/rtassel_installation.Rmd)

[2022-08-03 19:56] arfon commented on #4647
Thanks for your submission to JOSS @aaron-bray. Could you say more about how [this previous paper](https://doi.org/10.1007/s42399-019-00053-w) (from 2019) relates to this JOSS submission?

[2022-08-03 19:57] arfon commented on #4646
@editorialbot set joss_submission as branch

[2022-08-03 19:57] btmonier commented on #4530
@tkchafin - I have revised the manuscript based on the comments you have given us.

@editorialbot generate pdf

[2022-08-03 19:57] arfon commented on #4646
@editorialbot check repository

[2022-08-03 19:58] tkchafin commented on #4530
All of my suggestions have been dealt with -- updated checklist to complete.

[2022-08-03 20:03] btmonier commented on #4530
@tkchafin - We have identified the `log4j` issue and submitted a fix which will be released in the next TASSEL standalone build (2022-08-04). Once this goes into production, we will update the JAR files for the deployment of rTASSEL. Thanks!

[2022-08-03 20:06] btmonier commented on #4530
@fboehm - I have submitted my revisions with the exception of the `log4j` issue raised by @tomsing1.

[2022-08-03 20:07] aaron-bray commented on #4647
The 2019 paper was our first overview paper introducing pulse and its components. The JOSS submission focuses on our latest features not included in the 2019 paper, including the  unity asset and unreal plugin, the ventilator and our hemorrhage improvements. These features show our advantages over other physiology engines.

[2022-08-03 20:09] ctdegroot commented on #4637
Some preliminary comments on the code before I get it installed.

- Installation instructions are lacking. I don't have YAML installed and there are no instructions or link about how to install it or what version I need. The instruction to "Modify Makefile (paths & flags) according to the computing system" is not great. This needs to be improved.
- There is no apparent documentation for example us

[2022-08-03 20:23] max-little commented on #4534
@Nikoleta-v3 OK there's now also the option to install through PyPI:
https://pypi.org/project/grapl-causal/1.4/

[2022-08-03 20:37] dfm commented on #4503
I think that overall the state of the docs looks good, but I think your point is a good one @christinahedges. In many cases the docstrings do leave something to be desired in terms of narrative discussion of what the method is doing in. I wouldn't consider this a showstopper for the JOSS review, but I also think that the user experience could be substantially improved with some expansion of the do

[2022-08-03 21:14] Nikoleta-v3 commented on #4534
Thank you!

[2022-08-03 21:14] Nikoleta-v3 commented on #4534
@editorialbot generate pdf

[2022-08-03 21:15] Nikoleta-v3 commented on #4534
@editorialbot check references

[2022-08-03 21:16] Nikoleta-v3 commented on #4534
@editorialbot check references

[2022-08-03 21:17] Nikoleta-v3 commented on #4534
@editorialbot set 10.5281/zenodo.6959433 as archive

[2022-08-03 21:18] Nikoleta-v3 commented on #4534
@editorialbot set v.1.4.0 as version

[2022-08-03 21:18] Nikoleta-v3 commented on #4534
@editorialbot set v1.4.0 as version

[2022-08-03 21:19] Nikoleta-v3 commented on #4534
@editorialbot recommend-accept

[2022-08-03 21:39] max-little commented on #4534
Great, thanks @Nikoleta-v3 . Is there anything I need to do at this point?

[2022-08-03 21:45] Nikoleta-v3 commented on #4534
Nothing else you can do for now 😃 I pinged the editorial board. One of the editors will check that everything is okay with the paper, and then publish it. They might have a few more comments but at this point they will be very minor.

[2022-08-03 21:46] max-little commented on #4534
Excellent, thank you!

[2022-08-03 21:53] wouterpeere commented on #4406
@editorialbot generate pdf

[2022-08-03 22:41] fboehm commented on #4530
@editorialbot generate pdf

[2022-08-03 22:43] fboehm commented on #4530
Thanks so much, @btmonier ! And thanks to @tkchafin, too, for the thorough review. @tkchafin, now that your review checklist is all checks, your review is completed. Thanks so much!

[2022-08-03 23:46] Cadaei-Yuvxvs commented on #4368
@emdupre Apologies for that. I've now dropped the square brackets for these two references in `paper.md`.  The references now look like

[2022-08-03 23:47] Cadaei-Yuvxvs commented on #4368
@editorialbot generate pdf

[2022-08-03 23:53] skiptoniam commented on #4646
Just had a search through your list of reviewers, here are some suggestions, mhesselbarth; lionel68; OwenWard

[2022-08-03 23:56] emdupre commented on #4368
Thank you, @Cadaei-Yuvxvs !

I'm now happy to recommend OSHy-X to the EIC team for publication -- congratulations on this impressive effort !

[2022-08-03 23:56] emdupre commented on #4368
@editorialbot recommend-accept

[2022-08-04 00:12] tomsing1 commented on #4530
Thank you for making the changes @btmonier !
That completes my checklist, @fboehm,  from my perspective, the paper is ready to go!

[2022-08-04 06:35] lorenzo-rovigatti commented on #4553
Hi @arfon ! Any news on possible handling editors? Thanks!

[2022-08-04 06:38] fabian-s commented on #4495
@editorialbot set 10.5281/zenodo.6958926 as archive

[2022-08-04 06:39] fabian-s commented on #4495
@editorialbot set <v1.0.0> as version

[2022-08-04 06:39] fabian-s commented on #4495
@editorialbot set v1.0.0 as version

[2022-08-04 06:40] fabian-s commented on #4495
@editorialbot recommend-accept

[2022-08-04 06:41] fabian-s commented on #4495
Thank you so much for your dilligent and constructive reviews, @gcskoenig & @MichaelSchomaker!

@LucyMcGowan, congratulations!

[2022-08-04 08:26] hrossman commented on #4566
Hi all,
So if I understand correctly, we are done with this round of review?
We will start fixing all issues that I am aware of and ping you here once done.
I apologize if some have been hanging for some time @CamDavidsonPilon, I was waiting to go through and fix the comments from both reviewers jointly and have had some busy schedule.

@stefanocoretta - just to make sure - your comments are in th

[2022-08-04 08:28] sdparsons commented on #4601
Hi @fboehm sounds cool, I'm in to review :)

[2022-08-04 08:34] editorialbot opened #4648 "[PRE REVIEW]: btllib: A C++ library with Python interface for efficient genomic sequence processing"
**Submitting author:** @vlad0x00 (<a href="http://orcid.org/0000-0002-2992-9935">Vladimir Nikolic</a>)
**Repository:** https://github.com/bcgsc/btllib
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.4.4
**Editor:** @fboehm
**Reviewers:** @pjb7687, @MaximLippeveld
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/685dffcfe8c91237f914eed277c

[2022-08-04 08:34] editorialbot opened #4649 "[PRE REVIEW]: Vlasiator.jl: A Julia package for processing Vlasiator data"
**Submitting author:** @henry2004y (<a href="http://orcid.org/0000-0003-4571-4501">Hongyang Zhou</a>)
**Repository:** https://github.com/henry2004y/Vlasiator.jl
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.9.25
**Editor:** @pdebuyl
**Reviewers:** @ranocha, @tkoskela
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/5ebdc267e4d49e10

[2022-08-04 08:35] arfon commented on #4648
@editorialbot set paper as branch

[2022-08-04 08:35] arfon commented on #4648
@editorialbot check repository

[2022-08-04 08:37] arfon commented on #4648
@editorialbot generate pdf

[2022-08-04 09:15] baptisteCoye commented on #4592
@editorialbot generate pdf

[2022-08-04 09:31] jagnobli commented on #4600
@editorialbot generate pdf

[2022-08-04 09:34] jagnobli commented on #4600
@editorialbot check references

[2022-08-04 09:37] jagnobli commented on #4600
@editorialbot generate pdf

[2022-08-04 09:47] jagnobli commented on #4600
Paper now contains a section on "State of the field". I decided to only mention open source tools by name. Let me know if you think I should also _promote_ commercial providers ;)

[2022-08-04 10:21] Vaibhavdixit02 commented on #4561
Thanks for the review and also opening the issues @zhenwu0728, that was very helpful.

I think it makes sense, I will describe the experiment/example in text and add a link to the docs' section that has this example.

They are there because of subsequent modifications offered by those papers and also the package contains multiple implementations for those papers.

Let me know what you think?

[2022-08-04 10:24] jbytecode commented on #4561
citations are okay but they can be refactored using semicolons to combine them in a single parenthesis.

[2022-08-04 10:45] dfm commented on #4549
@josephwkania — Yes - Thank you! I'm looking for reviewers and I'll post back here as soon as I have updates. Thanks for your patience!

[2022-08-04 13:23] blsqr commented on #2316
Thanks for looking into this, @arfon and @xuanxu!

Once the dantro publication date has been fixed and everything works as expected: Should we add separate posts in the review issues of the other two affected publications?

[2022-08-04 13:32] mmrabe commented on #4643
@editorialbot generate my checklist

[2022-08-04 14:12] fboehm commented on #4530
Great! Thanks, @tomsing1!

@btmonier - the reviewers have recommended your submission for publication. The next step is for me to proofread the paper. I'll get to this in the next few days. Thanks again!

[2022-08-04 14:16] Kevin-Mattheus-Moerman commented on #4595
@brainstorm, @rougier, @satra, @tuliofalmeida, @effigies, @szorowi1, @agricolab, @sappelhoff, @ajquinn, @vahid-sb, @cbrnr, @DominiqueMakowski, @mgbleichner would you be interested in reviewing this work featuring a Python library for EEG for [JOSS](https://joss.theoj.org/).
JOSS reviews focus on [the software](https://github.com/cbrnr/mnelab) as well as [a short paper](https://github.com/openjourn

[2022-08-04 14:20] sappelhoff commented on #4595
I can review this :+1:

[2022-08-04 14:22] dkauf42 commented on #4326
Hi @dhhagan, just checking back in to keep the forward momentum on this.
Is there anything else we can do to help it along, with one remaining review — though it's unchanged since April?

[2022-08-04 14:37] hwloidl commented on #4592
@baptisteCoye I had a look at your revised paper, and it looks ok to me now,. I've adjusted my review which is now all checked-off. @azoitl and/or @danielskatz might still want to take a look at the citation style.

[2022-08-04 14:38] vahid-sb commented on #4595
@Kevin-Mattheus-Moerman These days I  was actually thinking around the same need for a GUI myself. So, would be happy to review this library amd see to what extent it can help.

[2022-08-04 14:45] Kevin-Mattheus-Moerman commented on #4595
@editorialbot add @sappelhoff as reviewer

[2022-08-04 14:46] Kevin-Mattheus-Moerman commented on #4595
@editorialbot add @vahid-sb as reviewer

[2022-08-04 14:47] zhenwu0728 commented on #4561
Both sound good to me.

[2022-08-04 15:49] OllyK commented on #4645
Dear Editors,

Some ideas for potential reviewers:
jingpengw
abhi-glitchhg
surajpaib
mohammadul
agi-codes
vasudev-sharma
michaelberks
hofmannu
vs74

Best Wishes.

[2022-08-04 16:01] vlad0x00 commented on #4648
Hi @arfon! It looks like there was a typo in the authors section, I pushed a fix to the `paper` branch.

[2022-08-04 16:14] crvernon commented on #4432
@matthiasdemuzere and @erexer how are things going on satisfying that last checkbox?  Can you give me a progress report here on any outstanding issues?  Thanks!

[2022-08-04 16:16] crvernon commented on #4588
@kanishkan91 will you give me an update to your timeline for completing your portion of the review?  Thanks!

[2022-08-04 16:17] pstjohn commented on #4621
@editorialbot check references

[2022-08-04 16:18] VChristiaens commented on #4456
Thanks - I have updated both the paper and documentation for clarity.

[2022-08-04 16:19] crvernon commented on #4460
@editorialbot check references

[2022-08-04 16:19] crvernon commented on #4460
@editorialbot generate pdf

[2022-08-04 16:21] theendlessriver13 commented on #4432
Matthias should be back from vaccation in the next days. Then we can finally address the last point.

[2022-08-04 16:55] mcasl commented on #4611
@editorialbot generate my checklist

[2022-08-04 17:36] htwangtw commented on #4600
Hi @jagnobli!

This is a very cool project and provides a solution to the privacy issue in human research! I cannot fully verify the functionality and I do have a lot of suggestions for the documentation. In the check list, I have ticked off items that pass the OK criteria in the JOSS guideline.

### Functionality
- **Installation** - I would discuss the demo and the developer installation separat

[2022-08-04 18:18] antipa commented on #4259
Hi Dana,
   I'm sorry, but I've been much busier than expected and this keeps
slipping off my to-do list. I have an MS student who might be
able/interested in taking it on. I'll forward to them and see if they can
help out.

-Nick

On Sun, Jul 24, 2022 at 10:45 PM Dana Solav ***@***.***>
wrote:

[2022-08-04 18:20] crvernon commented on #4618
👋 @Radonirinaunimi - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-04 18:23] schristophe commented on #4642
@editorialbot generate my checklist

[2022-08-04 18:25] crvernon commented on #4618
:wave: @kris-rowe - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-04 18:29] prashjha commented on #4510
@editorialbot add @jameshgrn as reviewer

[2022-08-04 18:31] prashjha commented on #4510
Hi, @vijaysm, thanks for the quick response. I am okay with the timeline. I am adding you as a reviewer.

[2022-08-04 18:31] prashjha commented on #4510
@editorialbot add @vijaysm as reviewer

[2022-08-04 18:32] prashjha commented on #4510
@krober10nd thank you for a prompt response...no problem. :)

[2022-08-04 18:34] prashjha commented on #4510
Hi @stefsmeets we got two reviewers...I will start the review soon in a new GitHub issue.

Thanks, @jameshgrn and @vijaysm, for agreeing to review this submission. I really appreciate your time and effort in advance.

[2022-08-04 20:38] kanishkan91 commented on #4588
@crvernon my apologies. I had to meet some other deadlines. Will complete this weekend.

[2022-08-04 21:00] tuliofalmeida commented on #4595
Hi @Kevin-Mattheus-Moerman, I am available to review this paper. Thx

[2022-08-04 21:08] crvernon commented on #4588
No problem at all @kanishkan91 .  Thank you!

[2022-08-04 21:10] effigies commented on #4595
I will be available for review starting August 29. If you still need someone then, feel free to assign me.

[2022-08-04 21:32] Kevin-Mattheus-Moerman commented on #4185
@editorialbot generate pdf

[2022-08-04 21:33] Kevin-Mattheus-Moerman commented on #4185
@mh-skjelvareid thanks for implementing those changes and for your comments. I tested the changes this time using Octave on Ubuntu, rather than MATLAB, and all tests passed fine and the changes look good.

[2022-08-04 23:33] kellyrowland commented on #4559
Hi @dombennett @vc1492a 👋 would you be interested in and available to review this JOSS submission?

[2022-08-05 00:27] VChristiaens commented on #4456
Sounds good - I have now updated the warning message and the condition for it to be raised (lower spectral resolving power than used in Allers et al. 2007), and updated the notebook accordingly.

[2022-08-05 00:45] VChristiaens commented on #4456
Indeed, the tutorial is meant to be run from either downloading/cloning the special-extra directory, or running it on Binder. I have now added a line at the top of the tutorial with that disclaimer. As you guessed, the size of data+models+templates associated to the tutorial is such that it would slow down any import of special if included in the main package, hence the need for a special-extra di

[2022-08-05 00:51] VChristiaens commented on #4456
This is now added above cell [38] as recommended.

[2022-08-05 01:01] VChristiaens commented on #4456
I'm a bit puzzled regarding how to solve this one as I can't reproduce the issue. I've slightly adapted the multiprocessing wrapper contained in the `config.py` file of ``special`` - could you try again and let me know if it works? If it still doesn't work, could you provide the full error message to help me identify the root of the issue?

[2022-08-05 01:03] VChristiaens commented on #4456
If you mean the MCMC in Section 4.2, this is the intended output (blackbody fit).

[2022-08-05 03:53] DominiqueMakowski commented on #4595
Thanks for the invite! Looks great, but I'm a bit swamped at the moment, so since you seem to be covered I'll pass on this one :)

[2022-08-05 05:29] vlad0x00 commented on #4648
As for reviewers, since this submission is about a C++ and Python library in bioinformatics, my suggestion would be the following:
- gtonkinhill
- cmorris2945
- pjb7687
- MaximLippeveld
- VeroniqueLegrand

[2022-08-05 05:30] Cadaei-Yuvxvs commented on #4368
Thank you @emdupre 😊 That's great news!

[2022-08-05 05:54] Vaibhavdixit02 commented on #4561
@editorialbot generate pdf

[2022-08-05 06:53] jbytecode commented on #4561
citations look good now.

one more issue: giving mutable links in pdf is a little bit problematic if you decide to change folder structure and the content in future. The links `1` and `2` route to changeable addresses by time.

The solution: can you provide a short example that presents the basic functionality of the software rather than a three-pages long one in manuscript?

@zhenwu0728 - how do

[2022-08-05 07:39] Athene-ai commented on #4416
 @editorialbot generate my checklist

[2022-08-05 07:40] Athene-ai commented on #4416
my review is completed

[2022-08-05 07:56] trappitsch commented on #4642
@editorialbot generate my checklist

[2022-08-05 09:16] Kevin-Mattheus-Moerman commented on #4595
@editorialbot add @tuliofalmeida as reviewer

[2022-08-05 09:17] Kevin-Mattheus-Moerman commented on #4595
@effigies thanks for the reply. I think I am all set now but thanks for getting back to me. All the best.

[2022-08-05 09:17] Kevin-Mattheus-Moerman commented on #4595
@editorialbot start review

[2022-08-05 09:17] editorialbot opened #4650 "[REVIEW]: MNELAB: a graphical user interface for MNE-Python"
**Submitting author:** @cbrnr (<a href="http://orcid.org/0000-0002-6030-2233">Clemens Brunner</a>)
**Repository:** https://github.com/cbrnr/mnelab
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.8.5
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @vahid-sb, @tuliofalmeida
**Archive:** 10.5281/zenodo.7162311

## Status

[![status](https://joss.theoj.org/papers/8856e8753e

[2022-08-05 09:17] #4595 closed

[2022-08-05 09:29] sappelhoff commented on #4650
@editorialbot generate my checklist

[2022-08-05 09:35] Kevin-Mattheus-Moerman commented on #4185
@mh-skjelvareid I have proofread the paper and here are some last points and recommendations:

- [ ] Please complete the affiliation with the full name of the institute, the city name, and the country.
- [ ] Remove the statement: `NOTE: This is a draft version of a paper submitted to the Journal of Open Source Software (JOSS).`
- [ ] Check `more computationally efficient that operating` which shou

[2022-08-05 09:36] sappelhoff commented on #4650
@Kevin-Mattheus-Moerman reading the [conflict of interest guidelines](https://github.com/openjournals/joss/blob/main/COI.md) I realize that I do have a paper with @cbrnr from 2019 (also [published in JOSS](https://joss.theoj.org/papers/10.21105/joss.01896)). Furthermore, we both contribute to several repositories together, such as [mne-python](https://github.com/mne-tools/mne-python/) or [pybv](ht

[2022-08-05 09:45] Kevin-Mattheus-Moerman commented on #4650
@sappelhoff this would qualify as a COI so I'll remove you as reviewer for now. This is no problem at this stage and we still have two other reviewers. Thanks for letting us know and thanks for volunteering in principle.

[2022-08-05 09:45] Kevin-Mattheus-Moerman commented on #4650
@editorialbot remove @sappelhoff as reviewer

[2022-08-05 09:47] sappelhoff commented on #4650
Understood :+1:

I'll be happy to join for another paper where I don't have a COI.

[2022-08-05 09:59] wimvanderbauwhede commented on #4589
Yes, looks good, thanks!

[2022-08-05 11:23] Kevin-Mattheus-Moerman commented on #4596
@editorialbot invite @fraukewiese as editor

[2022-08-05 12:51] adibender commented on #4522
@majensen Hi, sorry. Yes, will finish the review until 12th of august.

[2022-08-05 14:51] sdparsons commented on #4601
Sounds good, happy to work on a future review :)

[2022-08-05 15:35] arfon commented on #4368
@a3sha2 @emdupre – it looks like @a3sha2 didn't check off the 'substantial scholarly effort' box here. Could you confirm that you're happy to check this off?

[2022-08-05 15:37] a3sha2 commented on #4368
Yes,I check it

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Arfon Smith ***@***.***>
Sent: Friday, August 5, 2022 11:35:50 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Azeez Adebimpe ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: Open-Source Hypothalamic-ForniX (OSHy-X) Atlases and Segmentation Tool for 3T and 7T (Is

[2022-08-05 15:40] arfon commented on #4495
@fabian-s – given the reviewers left open a number of checkbox items, I would like them to confirm here that they're happy with the revisions made by the author here (and update their checklists) as appropriate.

We can take care you this while you're on your vacation :-) 🏖️

[2022-08-05 15:45] arfon commented on #4534
@Nikoleta-v3 @Athene-ai – can you confirm that @Athene-ai completed a full review here? I don't see a checklist for them anywhere in this thread.

[2022-08-05 15:46] #4589 closed

[2022-08-05 15:49] Athene-ai commented on #4534
@editorialbot generate my checklist

[2022-08-05 15:49] arfon commented on #4591
@danielskatz – we need a PR to the `paper.md` for this submission that looks like this: https://github.com/yogi-tud/space_gpu/pull/5/files

Then you need to do `@editorialbot accept`

I don't think I know what the Euro-Par DOI is though for this submission?

[2022-08-05 15:49] editorialbot opened #4651 "[PRE REVIEW]: MG-MAMPOSSt, a Fortran code to test gravity at 2 galaxy-cluster scales"
**Submitting author:** @Pizzuti92 (<a href="http://orcid.org/0000-0001-5654-7580">Lorenzo Pizzuti</a>)
**Repository:** https://github.com/Pizzuti92/MG-MAMPOSSt
**Branch with paper.md** (empty if default branch): main
**Version:** v1.0.0
**Editor:** @eloisabentivegna
**Reviewers:** @ttricco
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/d2c4637cbb5478aa8a3940b1d4

[2022-08-05 15:49] Athene-ai commented on #4534
@editorialbot generate my checklist

[2022-08-05 15:49] editorialbot opened #4652 "[PRE REVIEW]: ReFreshFQ: A GUI based tool for the preprocessing of FASTQ files"
**Submitting author:** @suheelyousuf (<a href="http://orcid.org/0000-0002-3793-3504">Suheel Yousuf Wani</a>)
**Repository:** https://github.com/suheelyousuf/ReFreshFQ
**Branch with paper.md** (empty if default branch): master
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/2b9f0ba5af932ad359c74ce63f18

[2022-08-05 15:50] editorialbot opened #4653 "[PRE REVIEW]: libcdict: fast dictionaries in C"
**Submitting author:** @robizzard (<a href="http://orcid.org/0000-0003-0378-4843">Robert G Izzard</a>)
**Repository:** https://gitlab.com/robizzard/libcdict
**Branch with paper.md** (empty if default branch):
**Version:** V1.30
**Editor:** @ivastar
**Reviewers:** @langmm, @pgrete
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/60386e415c9dcfbc8594b4a5c765d958/sta

[2022-08-05 15:51] arfon commented on #4651
@editorialbot set main as branch

[2022-08-05 15:51] arfon commented on #4651
@editorialbot generate pdf

[2022-08-05 15:51] arfon commented on #4651
@editorialbot check repository

[2022-08-05 15:51] arfon commented on #4652
@editorialbot set master as branch

[2022-08-05 15:52] arfon commented on #4652
@editorialbot generate pdf

[2022-08-05 15:52] arfon commented on #4652
@editorialbot check repository

[2022-08-05 15:54] arfon commented on #4652
@editorialbot query scope

@suheelyousuf – many thank for your submission to JOSS. I'm flagging this submission for review by the editorial team as it appears to be packaged in a fairly unusual fashion, and also as it features a large amount of UI work, may not be considered in scope by us.

This scope check will likely take a week or so.

[2022-08-05 15:56] emdupre commented on #4368
Yes sorry -- we confirmed on-thread but I should have also checked it off for him to be explicit. Both reviewers have provided their approval on the authors' revisions !

[2022-08-05 15:58] arfon commented on #4330
Update – I've just emailed @luizirber to see if he's still able to handle this submission. If we don't hear back from him in the next week I'll take this on. Apologies for the delay here @relf

[2022-08-05 16:46] kbarnhart commented on #4596
@Kevin-Mattheus-Moerman I'm now back from fieldwork and could handle this if @fraukewiese is not able.

[2022-08-05 17:23] arfon commented on #4371
:wave: folks. Just checking how things are going here? @nlhepler, @rcannood – it looks like you're well on your way to completing your reviews, have you had a chance to provide all of your feedback to @falexwolf?

[2022-08-05 17:29] arfon commented on #4534
...and now we have one. Thanks @Athene-ai!

[2022-08-05 17:29] arfon commented on #4534
@editorialbot accept

[2022-08-05 17:30] Kevin-Mattheus-Moerman commented on #4596
@editorialbot assign @kbarnhart as editor

[2022-08-05 17:37] arfon commented on #4534
@Athene-ai, @fAndreuzzi – many thanks for your reviews here and to @Nikoleta-v3 for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@max-little – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-05 17:37] #4534 closed

[2022-08-05 17:38] max-little commented on #4534
Thanks @Nikoleta-v3 , @fAndreuzzi , @Athene-ai , @arfon , very much appreciated.
Happy to contribute as a reviewer, if you can use my help, do let me know.
All the best
Max

[2022-08-05 17:44] Athene-ai commented on #4534
Happy to contribute as a reviewer, if you can use my help, do let me know !😉

[2022-08-05 17:57] prashjha commented on #4510
@editorialbot start review

[2022-08-05 17:57] editorialbot opened #4654 "[REVIEW]: Nanomesh: A Python workflow tool for generating meshes from image data"
**Submitting author:** @stefsmeets (<a href="http://orcid.org/0000-0002-5413-9038">Stef Smeets</a>)
**Repository:** https://github.com/hpgem/nanomesh
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** 0.9.1
**Editor:** @prashjha
**Reviewers:** @jameshgrn, @vijaysm
**Archive:** 10.5281/zenodo.7157382

## Status

[![status](https://joss.theoj.org/papers/0fcbf050ec48e9f1aa2ec

[2022-08-05 17:57] #4510 closed

[2022-08-05 17:59] prashjha commented on #4654
Dear @jameshgrn and @vijaysm, please read the first couple of comments in this thread and **create your review checklist**. You can read the reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Also, you can browse the [closed "REVIEW" issues](https://github.com/openjournals/joss-reviews/issues?q=label%3Areview+is%3Aclosed) on the "joss-reviews" repository to

[2022-08-05 18:06] elbeejay commented on #4574
Hello @wcjochem @JosiahParry @mikemahoney218 ! I just wanted to check-in and make sure the reviews are going okay and that this hasn't fallen off of anyone's radar. Let me know if you have any questions about the process. As a reminder please make review comments as __issues__ in the `osrm` repository with a link to this review issue so everything stays connected.

Thanks!
Jay