[2020-09-18 21:37] kyleniemeyer commented on #2686
Hi @pibion, the authors suggested you to edit this submission—it's a bit outside your primary area, but can you take it?

[2020-09-18 21:37] kyleniemeyer commented on #2686
@whedon invite @pibion as editor

[2020-09-18 21:38] whedon commented on #2686
@pibion has been invited to edit this submission.

[2020-09-18 22:53] bradyrx commented on #2531
Wonderful @davidhassell. Thanks so much for the prompt response and incorporating my suggestions. Looks good to me. I am good for this to be accepted. I know we're still on a `PRE REVIEW` thread, but hopefully this does it. Congratulations, and nice work on the package. That's quite the headache to handle all aspects of CF but very important!

[2020-09-18 23:19] nhejazi commented on #2526
Echoing @mikldk, thanks very much for the thorough reviews, @rrrlw and @daviddewhurst! Addressing the issues you raised significantly improved the `hal9001` package and JOSS paper.

@mikldk, I've made minor touch-ups throughout the paper, created a new minor release (https://github.com/tlverse/hal9001/releases/tag/v0.2.7), and added the resultant release to Zenondo (DOI: https://doi.org/10.5281/ze

[2020-09-18 23:20] nhejazi commented on #2526
@whedon generate pdf

[2020-09-18 23:20] whedon commented on #2526
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02526/joss.02526/10.21105.joss.02526.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02526/joss.02526/10.21105.joss.02526.pdf) :page_facing_up: :point_left:

[2020-09-18 23:25] nhejazi commented on #2526
PDF proof looks good to me

[2020-09-18 23:29] joshia5 commented on #2513
@zingale. Thanks for your replies.
Regarding comment 1, I was on RHEL and Ubuntu systems.
@eloisabentivegna looks good to me.

[2020-09-19 02:59] d-tear commented on #2683
I incorporated those edits and included a new video showing how to import
FIJI/ImageJ rois into QuPath. This isn't a task that requires SIAL, but the
ROI Recorder program inside SIAL does make it easy to harvest FIJI/ImageJ
ROIs.

Please let me know if you have any more recommendations!

On Fri, Sep 18, 2020 at 9:52 AM David Tyrpak <tyrpak@usc.edu> wrote:

--

*David Tyrpak*
PhD Pharmaceutical Sci

[2020-09-19 02:59] d-tear commented on #2683
@whedon generate pdf

On Fri, Sep 18, 2020 at 7:58 PM David Tyrpak <tyrpak@usc.edu> wrote:

--

*David Tyrpak*
PhD Pharmaceutical Sciences
NIH Predoctoral Fellow,

http://www.mackaylab.com

University of Southern California
School of Pharmacy
1985 Zonal Avenue, PSC 306A
Los Angeles, California 90089
Tel: 323.442.4119

[2020-09-19 02:59] whedon commented on #2683
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02683/joss.02683/10.21105.joss.02683.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02683/joss.02683/10.21105.joss.02683.pdf) :page_facing_up: :point_left:

[2020-09-19 08:05] richardjgowers commented on #2576
@valeriewelborn did you mean https://github.com/MolSSI-MDI/Tinker/commits/mdi-ef ?  In general it's useful to see the commits that are "on top" of the base TINKER.  E.g. if https://github.com/WelbornGroup/Tinker_ELECTRIC could have one commit which is the check in of the release of TINKER you built on and another commit (or more) showing the changes made for this work.  That way someone can quickl

[2020-09-19 08:21] richardjgowers commented on #2576
@valeriewelborn also I think we'll need full addresses in the affiliations if possible, thanks

[2020-09-19 08:23] richardjgowers commented on #2373
@whedon generate pdf

[2020-09-19 08:23] richardjgowers commented on #2373
@whedon check references

[2020-09-19 08:23] whedon commented on #2373
PDF failed to compile for issue #2373 with the following error:

 Could not find bibliography file: paper.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-09-19 08:24] whedon commented on #2373
[code]

[2020-09-19 08:30] richardjgowers commented on #2373
@whedon generate pdf

[2020-09-19 08:31] whedon commented on #2373
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02373/joss.02373/10.21105.joss.02373.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02373/joss.02373/10.21105.joss.02373.pdf) :page_facing_up: :point_left:

[2020-09-19 08:35] richardjgowers commented on #2373
@salanne ok thanks for your patience all looks OK.  Can you make a tagged release of the software and archive it on zenodo?  Once you've done that if you could reply with the DOI from that, then that's what the paper will be published against.

[2020-09-19 14:35] TimKam commented on #2662
I have submitted my initial evaluation here: https://github.com/fidelity/seq2pat/issues/11.

Regarding the following evaluation result, I'd like to get the perspective of an editor (@galessiorob):
In essence, the library is a wrapper around research code that has been written for the corresponding [AAAI 2019 paper](https://aaai.org/ojs/index.php/AAAI/article/view/3962). The authors should be more

[2020-09-19 15:35] zingale commented on #2684
happy to be a reviewer.

[2020-09-19 16:01] arokem commented on #2663
After a private exchange with @bblais we've ascertained that he has an apparent conflict-of-interest, due to a recent joint publication with one of the authors of this paper. That means that we will have to find another reviewer to replace him here. For now, I will edit the checklist at the top to indicate that @bblais is no longer a reviewer and unassign him. Thanks @bblais! I hope we find anothe

[2020-09-19 16:02] arokem commented on #2663
👋 @DanielLenz, @zbeekman : one of the reviewers for this paper is unable to do the review. Would either of you be willing to step in as a reviewer for this article? I think that you would either be a very good match given your expertise.

[2020-09-19 16:02] arokem commented on #2663
@whedon commands

[2020-09-19 16:02] whedon commented on #2663
Here are some things you can ask me to do:

[code]

[2020-09-19 16:03] arokem commented on #2663
@whedon remove @bblais as reviewer

[2020-09-19 16:03] whedon commented on #2663
OK, @bblais is no longer a reviewer

[2020-09-19 16:27] jpfairbanks commented on #2673
I always forget that github invitations require interaction with email.

[2020-09-19 17:22] lucask07 commented on #2584
Thanks @JolleJolles. @marcosvital I approve this submission.

[2020-09-19 19:17] jpfairbanks commented on #2673
👍

[2020-09-19 19:36] uvilla commented on #2421
Hi Hugo,
 I’m on a family leave until the end of the semester, and unfortunately I
won’t be able to serve as a reviewer for Joss this time around.

I’m looking forward to serve in a future occasion.

Kind regards,

Umberto

On Fri, Sep 18, 2020 at 1:38 AM Hugo Ledoux <notifications@github.com>
wrote:

[2020-09-19 20:04] homonecloco commented on #2402
Hi,
I'm sorry for not commenting earlie. I'm mostly satisfied now. The only thing missing from the guideline is a community guideline on how to contribute to the project. A simple statement in the main readme should be enough.

Best,
Ricardo.

[2020-09-19 23:38] coljac commented on #2654
Hi authors,

I have a question about the multiprocessing. There are several methods that take a number of cores as an argument, for example `pycs3.sim.run.multirun`. The docs say:

However, when I pass in a number > 0, I see this:

[code]
However, the documentation doesn't seem to mention this.  Should the docs reflect that this feature isn't implemented, or did I miss something?

[2020-09-20 01:26] mirca commented on #2278
@sayanddude thanks for addressing some of the issues pointed out on the review process.  I have opened issues at https://github.com/daya6489/DriveML with some of my suggestions.  The quality of the writing is still a major concern, in my view.

[2020-09-20 01:52] JamesPaynter commented on #2536
Hi @kyleniemeyer , sorry about that, everything is fixed now :)

Thanks @xuanxu for the PR

[2020-09-20 05:09] kyleniemeyer commented on #2536
@whedon generate pdf

[2020-09-20 05:10] whedon commented on #2536
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02536/joss.02536/10.21105.joss.02536.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02536/joss.02536/10.21105.joss.02536.pdf) :page_facing_up: :point_left:

[2020-09-20 05:15] kyleniemeyer commented on #2536
@whedon accept

[2020-09-20 05:15] whedon commented on #2536
[code]

[2020-09-20 05:15] whedon commented on #2536
[code]

[2020-09-20 05:15] whedon commented on #2536
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1741

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1741, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-20 05:23] kyleniemeyer commented on #2536
@whedon accept deposit=true

[2020-09-20 05:23] whedon commented on #2536
[code]

[2020-09-20 05:24] whedon commented on #2536
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1307551096324403200) 👈 🐦🐦🐦

[2020-09-20 05:24] whedon commented on #2536
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1742
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02536](https://doi.org/10.21105/joss.02536)
2. If everything looks g

[2020-09-20 05:34] AxelBrandenburg commented on #2684
Thanks, Michael, for taking on this job!
Axel

On Sat, Sep 19, 2020 at 08:35:34AM -0700, Michael Zingale wrote:

[2020-09-20 05:35] kyleniemeyer commented on #2536
Congrats @JamesPaynter on your article's publication in JOSS!

Many thanks to @zingale and @grburgess for reviewing this submission, and @xuanxu for editing it.

[2020-09-20 05:35] #2536 closed

[2020-09-20 05:35] whedon commented on #2536
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02536/status.svg)](https://doi.org/10.21105/joss.02536)

**We need your help!**

Journal of Open Source Softwa

[2020-09-20 09:56] dhhagan commented on #2435
@whedon generate pdf

[2020-09-20 09:56] whedon commented on #2435
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02435/joss.02435/10.21105.joss.02435.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02435/joss.02435/10.21105.joss.02435.pdf) :page_facing_up: :point_left:

[2020-09-20 10:08] dhhagan commented on #2435
@Stefan-Heimersheim Thanks for those updates. Can you please create an archive of your repo using Zenodo, FigShare or similar? Once that's done, please report the DOI of the archive back here. Let me know if you need any help with this.

[2020-09-20 16:04] anwarbio commented on #2402
Hi,
@homonecloco Thank you very much.  I have now added a paragraph on contribute in readme.

Kind regards,
Anwar

[2020-09-20 17:47] waxlamp commented on #2410
@whedon generate pdf from branch joss-paper

[2020-09-20 17:47] whedon commented on #2410
[code]

[2020-09-20 17:48] whedon commented on #2410
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02410/joss.02410/10.21105.joss.02410.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02410/joss.02410/10.21105.joss.02410.pdf) :page_facing_up: :point_left:

[2020-09-20 17:51] waxlamp commented on #2410
@whedon generate pdf from branch joss-paper

[2020-09-20 17:51] whedon commented on #2410
[code]

[2020-09-20 17:51] whedon commented on #2410
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02410/joss.02410/10.21105.joss.02410.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02410/joss.02410/10.21105.joss.02410.pdf) :page_facing_up: :point_left:

[2020-09-20 17:59] waxlamp commented on #2410
@lpantano, @joannawolthuis, @jkanche: we have reworked the Related Work section to discuss a wider range of tools in the space. I think it does a good job of surveying the field and explaining what makes Viime unique.

[2020-09-20 23:14] ljod commented on #2633
I cannot review either but my colleague Fan Zhang can review. @zhangfanmark

[2020-09-21 01:54] coljac commented on #2654
Hi authors,

Here's the rest of my review.

Firstly, this is an excellent software package, and it serves a genuine scientific need, as time delay cosmology is only going to increase in the future and will be key in confirming or resolving the H0 tension. Congratulations on a great piece of work! It was also a pleasure to review, as everything is in great shape.

**Regarding the paper**: I am sati

[2020-09-21 02:20] kaustubh-sadekar commented on #2533
Sure. I am facing some errors with virtual environment setup and GitHub CI/CD. Its should be resolved soon.

[2020-09-21 06:40] homonecloco commented on #2402
@anwarbio , thanks for the prompt update.
@fboehm , I can canfirm that, from my side, this project meets all the requirements in the guideline.

[2020-09-21 06:53] eloisabentivegna commented on #2513
Thanks, @joshia5! And thanks again to @kegiljarhus and @bonh for your recommendation. I am pleased to start the pre-publication stage for this submission. 🎉

@zingale, could you please proceed issuing a tagged release and creating the archive? Let me know if you need assistance with these steps.

[2020-09-21 07:04] stheid commented on #2435
It seems like Zenodo forces us to make a new release in order to get a DOI. We are currently discussing it we make a small release just for this technical reasons or if we wait for the master to be in release worthy shape.

[2020-09-21 07:30] timtroendle commented on #2661
Ok, I understand.

[2020-09-21 07:32] timtroendle commented on #2661
👋 @aquilesC, @untzag, @garrettj403, @ksunden, @sptennak, @caldarolamartin, would any of you be willing to review this submission for JOSS?

[2020-09-21 08:00] davidhassell commented on #2531
That's great, @bradyrx. Thank you again for your review and your good suggestions.

@usethedata, is there any progress on  second reviewer?

[2020-09-21 08:13] DanielLenz commented on #2663
@arokem Sure, I'd be happy to review this submission.

[2020-09-21 08:19] pdebuyl commented on #2494
@yuxiang-gao is there any issue preventing the progress of the review on your side?

[2020-09-21 08:38] aquilesC commented on #2661
I can review it!

[2020-09-21 08:55] timtroendle commented on #2661
Thanks @aquilesC for the offer!

[2020-09-21 08:55] mcguinlu commented on #2651
Good morning @arfon (& @danielskatz, for reference ), and happy Monday!

As it's been a week, just flagging the above again in case it got lost in the mix - would be great to hear what you think, particularly re: comparison with `chirps`.

[2020-09-21 08:55] timtroendle commented on #2661
@whedon add @aquilesC as reviewer

[2020-09-21 08:55] whedon commented on #2661
OK, @aquilesC is now a reviewer

[2020-09-21 09:59] jbytecode commented on #2600
Dear editor @mikldk , after asking all contributors to join manuscript 11 days ago, one of the major contributor @Kopilov joined, other major contributor is no longer interested in the project and has no respond. The third major one and some of other minor contributors are happy being in the Acknowledgement section, some of them also have no response. Any actions needed?

[2020-09-21 10:11] untzag commented on #2661
@timtroendle I can review this---it looks very relevant to what I'm interested in right now

[2020-09-21 10:12] oliviaguest commented on #2621
Hey, no super pressure but when you (@TomDonoghue, @sappelhoff, @jamesheathers) get a chance could you give us a rough estimate for an ETA on your reviews, please? ☺️

[2020-09-21 10:19] mortonne commented on #2669
@samhforbes @paxtonfitzpatrick, thanks very much for your thoughtful reviews, which had some great ideas for improvements. I believe I've addressed all of the issues you raised. Let me know if there is anything else I need to work on. Thanks again!

[2020-09-21 11:19] holukas commented on #2575
Sent credentials for guest account to @mccabete

[2020-09-21 12:27] flokno commented on #2671
Hi @keipertk , would you be happy with such a contribution guideline:
https://gitlab.com/vibes-developers/vibes/-/merge_requests/23
?

[2020-09-21 12:52] arokem commented on #2663
@whedon add @DanielLenz as reviewer

[2020-09-21 12:52] whedon commented on #2663
OK, @DanielLenz is now a reviewer

[2020-09-21 12:54] arokem commented on #2663
Thank you for stepping up! I have edited the comment at the top of this issue so that you now have a checklist that you can use to check off review criteria. Please let me know if you have any questions.

[2020-09-21 12:58] stheid commented on #2435
This should be the DOI https://doi.org/10.5281/zenodo.4041278

Zenodo seems to have issues in their infrastructure right now, because the creation of this DOI took more than 4 hours. Therefore i think it should not consern that the DOI cannot be resolved yet. Hopefully it will work tomorrow.

[2020-09-21 13:03] meg-simula commented on #2592
@whedon add @jorgensd as reviewer

[2020-09-21 13:03] meg-simula commented on #2592
@whedon start review

[2020-09-21 13:03] whedon opened #2687 "[REVIEW]: SeismicMesh: Triangular meshing for seismology"
**Submitting author:** @krober10nd (<a href="http://orcid.org/0000-0002-8470-0359">Keith Roberts</a>)
**Repository:** <a href="https://github.com/krober10nd/SeismicMesh" target ="_blank">https://github.com/krober10nd/SeismicMesh</a>
**Version:** v3.3.1
**Editor:** @meg-simula
**Reviewers:** @nschloe, @jorgensd
**Archive:** <a href="https://doi.org/10.5281/zenodo.4447042" target="_blank">10.5281/ze

[2020-09-21 13:03] whedon commented on #2592
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2687.

[2020-09-21 13:03] whedon commented on #2687
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nschloe it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.th

[2020-09-21 13:04] whedon commented on #2687
[code]

[2020-09-21 13:05] meg-simula commented on #2592
@whedon add @jorgensd as reviewer

[2020-09-21 13:05] whedon commented on #2592
OK, @jorgensd is now a reviewer

[2020-09-21 13:05] meg-simula commented on #2592
@whedon start review

[2020-09-21 13:07] meg-simula commented on #2687
Issue started by whedon before proper assignment of reviewers, closing this and trying again.

[2020-09-21 13:08] meg-simula commented on #2592
@whedon start review

[2020-09-21 13:10] meg-simula commented on #2626
@whedon generate pdf

[2020-09-21 13:10] timtroendle commented on #2661
That's great @untzag, thanks!

[2020-09-21 13:10] timtroendle commented on #2661
@whedon add @untzag as reviewer

[2020-09-21 13:10] whedon commented on #2661
OK, @untzag is now a reviewer

[2020-09-21 13:11] whedon commented on #2626
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02626/joss.02626/10.21105.joss.02626.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02626/joss.02626/10.21105.joss.02626.pdf) :page_facing_up: :point_left:

[2020-09-21 13:11] salanne commented on #2373
@richardjgowers thanks for the update. We have corrected a few typos in the article, and the archive of the software is available on Zenodo: 10.5281/zenodo.4040665

[2020-09-21 13:12] meg-simula commented on #2592
@arfon Could you have a look at this case? I asked whedon to add a reviewer, and then start the review, but the review was started before the second reviewer was added. I tried closing that review issue, and starting a new one with the two reviewers, but now it seems that whedon is not too keen to. Any advice?

[2020-09-21 13:14] meg-simula commented on #2645
@whedon generate pdf from branch f/abard-JOSSPaper

[2020-09-21 13:14] whedon commented on #2645
[code]

[2020-09-21 13:16] meg-simula commented on #2626
@whedon check references

[2020-09-21 13:16] whedon commented on #2645
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: :point_left:

[2020-09-21 13:18] meg-simula commented on #2645
@whedon check references from branch f/abard-JOSSPaper

[2020-09-21 13:18] whedon commented on #2626
[code]

[2020-09-21 13:18] whedon commented on #2645
[code]

[2020-09-21 13:19] whedon commented on #2645
[code]

[2020-09-21 13:19] meg-simula commented on #2645
@ajbaird Ok, thanks! Compiles nicely now.

[2020-09-21 13:25] meg-simula commented on #2626
Hi @mikaem @chennachaos @yangbai90 @capitalaslash, would two of you like to review this submission for JOSS?

Feel free to take a look at our reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-09-21 13:26] meg-simula commented on #2682
@whedon assign @meg-simula as editor

[2020-09-21 13:27] whedon commented on #2682
OK, the editor is @meg-simula

[2020-09-21 13:27] meg-simula commented on #2682
@whedon generate pdf

[2020-09-21 13:28] whedon commented on #2682
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02682/joss.02682/10.21105.joss.02682.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02682/joss.02682/10.21105.joss.02682.pdf) :page_facing_up: :point_left:

[2020-09-21 13:30] meg-simula commented on #2682
@mscroggs Thanks for the submission, nice work! Before proceeding, could I ask you to take a look at the JOSS submission guidelines regarding paper length, and recommended structure:

https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

[2020-09-21 13:56] DanielLenz commented on #2663
Will do! This week is a bit busy - I'll do my best, but it might take me a couple of days.

[2020-09-21 14:02] krober10nd commented on #2592
Thanks @meg-simula  !

[2020-09-21 14:33] mikldk commented on #2526
@whedon check references

[2020-09-21 14:34] mikldk commented on #2583
@neerajdhanraj No, that is it. Thank you.

[2020-09-21 14:34] mikldk commented on #2583
@whedon check references

[2020-09-21 14:34] whedon commented on #2526
[code]

[2020-09-21 14:35] whedon commented on #2583
[code]

[2020-09-21 14:37] mikldk commented on #2526
@whedon set 10.5281/zenodo.4037393 as archive

[2020-09-21 14:37] whedon commented on #2526
OK. <a href="https://doi.org/10.5281/zenodo.4037393" target="_blank">10.5281/zenodo.4037393</a> is the archive.

[2020-09-21 14:38] mikldk commented on #2526
@nhejazi The title of the [zenodo](https://zenodo.org/record/4037393#.X2i6Y4axVH4) is not matching the paper's (title case). Please edit the title at Zenodo such that they are identical.

[2020-09-21 14:39] mikldk commented on #2583
@edifice1989, @neerajdhanraj:  Can you confirm that you have finished the review and recommend that this paper is now published?

@bblodfon :

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.read

[2020-09-21 14:45] garrettj403 commented on #2661
Hi @timtroendle I can review this project as well.

[2020-09-21 15:00] yangbai90 commented on #2624
@whedon check references

[2020-09-21 15:01] whedon commented on #2624
[code]

[2020-09-21 15:03] timtroendle commented on #2661
Thanks @garrettj403 , that's good to hear.

[2020-09-21 15:03] timtroendle commented on #2661
@whedon add @garrettj403 as reviewer

[2020-09-21 15:04] whedon commented on #2661
OK, @garrettj403 is now a reviewer

[2020-09-21 15:04] timtroendle commented on #2661
@whedon start review

[2020-09-21 15:04] whedon opened #2688 "[REVIEW]: Hardware-Control: Instrument Control and Automation Package"
**Submitting author:** @Grant-Giesbrecht (<a href="http://orcid.org/0000-0003-2885-4801">Grant Giesbrecht</a>)
**Repository:** https://bitbucket.org/berkeleylab/hardware-control/src/main/
**Branch with paper.md** (empty if default branch):
**Version:** 2.1.0
**Editor:** @timtroendle
**Reviewers:** @aquilesC, @untzag, @garrettj403
**Archive:** 10.5281/zenodo.6459291

**:warning: JOSS reduced servic

[2020-09-21 15:04] whedon commented on #2661
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2688.

[2020-09-21 15:04] #2661 closed

[2020-09-21 15:04] whedon commented on #2688
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @aquilesC, @untzag, @garrettj403 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog po

[2020-09-21 15:05] whedon commented on #2688
[code]

[2020-09-21 15:05] whedon commented on #2688
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02688/joss.02688/10.21105.joss.02688.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02688/joss.02688/10.21105.joss.02688.pdf) :page_facing_up: :point_left:

[2020-09-21 15:09] timtroendle commented on #2661
@bhajay, @ksunden, @sptennak, @caldarolamartin, thank you for considering to review this submission. I started the review with @aquilesC, @untzag, and @garrettj403 as reviewers.

[2020-09-21 15:13] diehlpk commented on #2514
Hi @emconsta @debdeepbh @gardner48 how is your review going? Please let me know if I can assist in any way.

[2020-09-21 15:13] edifice1989 commented on #2583
Yes. I confirm! I recommend that this paper is now published.

Best,
Ming

On Mon, Sep 21, 2020 at 8:10 AM Mikkel Meyer Andersen <
notifications@github.com> wrote:

[2020-09-21 15:18] KristinaRiemer commented on #2680
@arbennett @eviatarbach @kavir1698 @kellykochanski would any of you be able and willing to review this JOSS submission?

[2020-09-21 15:21] keipertk commented on #2671
Yep that looks great, nice work!

[2020-09-21 15:24] arokem commented on #2663
No problem. We generally hope to complete all items in the review within approximately six weeks.

[2020-09-21 15:32] neerajdhanraj commented on #2583
Yes, it is confirmed from my side. I would like to recommend it for publication.

[2020-09-21 15:51] aquilesC commented on #2688
@timtroendle, I did a quick check of the code and there are some things to check/improve. I see that the latest commit to the master branch was only 11 hours ago, so this means the code is still evolving and this means it is a moving target for reviewing. I am not sure how should I proceed?

[2020-09-21 15:54] dpsanders commented on #2673
@whedon add @apdavison as reviewer

[2020-09-21 15:54] whedon commented on #2673
OK, @apdavison is now a reviewer

[2020-09-21 15:57] dpsanders commented on #2673
Thanks @apdavison for agreeing to review this as well. Dr. Andrew Davison is one of the main authors of the Python `sumatra` package.

[2020-09-21 16:01] kellykochanski commented on #2680
@KristinaRiemer sure.

[2020-09-21 17:01] nhejazi commented on #2526
Thanks for catching this @mikldk. The title of the Zenodo archive has been fixed.

[2020-09-21 17:02] nhejazi commented on #2447
@marcosvital, whenever convenient, ready on my end to move on to final steps.

[2020-09-21 17:03] eviatarbach commented on #2680
Unfortunately I cannot commit to review this one. Thank you for the invitation!

[2020-09-21 17:10] kthyng commented on #2341
Ok then, it looks like the reviewers have both recommended this publication for acceptance. We can start the final bits to wrap up now.

[2020-09-21 17:10] kthyng commented on #2341
@whedon check references

[2020-09-21 17:11] whedon commented on #2341
[code]

[2020-09-21 17:14] kthyng commented on #2341
@whedon generate pdf

[2020-09-21 17:15] whedon commented on #2341
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02341/joss.02341/10.21105.joss.02341.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02341/joss.02341/10.21105.joss.02341.pdf) :page_facing_up: :point_left:

[2020-09-21 17:20] kthyng commented on #2341
Paper looks great!

Next, @pfeiffea can you verify the version of software you want tagged with this publication?

After that, please upload an archive of your software to something like Zenodo. When doing so, please make sure that the title of author list of the archive exactly match your JOSS paper. Then, report back here with the doi.

[2020-09-21 18:03] ajbaird commented on #2645
@meg-simula awesome, sorry about that issue!

[2020-09-21 18:18] chennachaos commented on #2626
Hi @meg-simula. Thank you for the opportunity! I am happy to review this. :)

[2020-09-21 20:18] sappelhoff commented on #2621
My final evaluation is on hold until @JanCBrammer has addressed or replied to some of my remarks. But other than that, I am basically done reviewing - see the linked issues and prs. :-)

[2020-09-21 22:21] npetra commented on #2421
Hi Hugo (@hugoledoux),

I can help with this review. What is the deadline, etc.?

Best,
Noemi

[2020-09-21 22:32] richardjgowers commented on #2373
@whedon set 10.5281/zenodo.4040665 as archive

[2020-09-21 22:32] whedon commented on #2373
OK. <a href="https://doi.org/10.5281/zenodo.4040665" target="_blank">10.5281/zenodo.4040665</a> is the archive.

[2020-09-21 22:33] richardjgowers commented on #2373
@whedon set 20.05 as version

[2020-09-21 22:33] whedon commented on #2373
OK. 20.05 is the version.

[2020-09-21 22:36] richardjgowers commented on #2373
@whedon accept

[2020-09-21 22:36] whedon commented on #2373
[code]

[2020-09-21 22:36] whedon commented on #2373
PDF failed to compile for issue #2373 with the following error:

 Can't find any papers to compile :-(

[2020-09-21 22:38] richardjgowers commented on #2373
@whedon generate from branch release-20.05

[2020-09-21 22:38] whedon commented on #2373
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-21 22:39] richardjgowers commented on #2373
@whedon generate pdf from branch release-20.05

[2020-09-21 22:39] whedon commented on #2373
[code]

[2020-09-21 22:40] whedon commented on #2373
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02373/joss.02373/10.21105.joss.02373.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02373/joss.02373/10.21105.joss.02373.pdf) :page_facing_up: :point_left:

[2020-09-21 22:41] richardjgowers commented on #2373
@openjournals/joss-eics this is good to go I think, does whedon accept allow a custom branch argument?

[2020-09-22 05:32] hugoledoux commented on #2421
@npetra great. We try to do the reviews <1mo, would that be possible?

I don't know if you've done reviews for JOSS before? If not, you should know that the review process at JOSS is unique: it takes place in a GitHub issue, is open, and author-reviewer-editor conversations are encouraged.

JOSS reviews involve downloading and installing the software, and inspecting the repository
and submitted pa

[2020-09-22 05:33] hugoledoux commented on #2421
@uvilla no problem, thanks for getting back to me quickly.

[2020-09-22 05:40] Christopher-Khan commented on #2644
@whedon generate pdf

[2020-09-22 05:40] whedon commented on #2644
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: :point_left:

[2020-09-22 05:50] jni commented on #2683
@whedon assign @bogovicj as reviewer

[2020-09-22 05:50] whedon commented on #2683
OK, @bogovicj is now a reviewer

[2020-09-22 05:51] jni commented on #2683
@whedon add @haesleinhuepf as reviewer

[2020-09-22 05:51] whedon commented on #2683
OK, @haesleinhuepf is now a reviewer

[2020-09-22 05:51] jni commented on #2683
@whedon start review

[2020-09-22 05:51] whedon opened #2689 "[REVIEW]: SIAL: A simple image analysis library for wet-lab scientists"
**Submitting author:** @d-tear (<a href="http://orcid.org/0000-0002-2281-6129">David Tyrpak</a>)
**Repository:** <a href="https://github.com/d-tear/SIAL" target ="_blank">https://github.com/d-tear/SIAL</a>
**Version:** v1.0.1
**Editor:** @jni
**Reviewer:** @bogovicj, @haesleinhuepf
**Archive:** <a href="https://doi.org/10.5281/zenodo.4312250" target="_blank">10.5281/zenodo.4312250</a>

**:warning:

[2020-09-22 05:51] whedon commented on #2683
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2689.

[2020-09-22 05:51] #2683 closed

[2020-09-22 05:51] whedon commented on #2689
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bogovicj, @haesleinhuepf it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-09-22 05:52] whedon commented on #2689
[code]

[2020-09-22 05:52] whedon commented on #2689
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02689/joss.02689/10.21105.joss.02689.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02689/joss.02689/10.21105.joss.02689.pdf) :page_facing_up: :point_left:

[2020-09-22 05:56] jni commented on #2689
@bogovicj @haesleinhuepf thank you so much for agreeing to review this paper! You should have received a github invitation to join the joss-reviews repo which will allow you to tick items on your review checklist above. And, as mentioned in my email, the review process is also well-described in the [JOSS documentation](https://joss.readthedocs.io/en/latest/index.html). If you have any questions at

[2020-09-22 07:09] npetra commented on #2421
@hugoledoux 1 month should be fine. Thanks for the details. This is the first time I am reviewing for JOSS, will take a look at the review criteria and get back to you if I have questions.

[2020-09-22 07:14] hugoledoux commented on #2421
@whedon assign @npetra as reviewer

[2020-09-22 07:14] whedon commented on #2421
OK, @npetra is now a reviewer

[2020-09-22 07:17] hugoledoux commented on #2421
@npetra super. The actual review is done in another issue, you'll be notified. At the top of the issue there are instructions about what you should do. It's a bit overwhelming at first, so don't hesitate to ask me questions.

You are allowed--and expected!--to interact directly with the authors. You can say "hey this and that doesn't work" and we expect them to fix those. It's a dialogue that goes

[2020-09-22 07:17] hugoledoux commented on #2421
@whedon start review

[2020-09-22 07:17] whedon opened #2690 "[REVIEW]: GeoBO: Python package for Multi-Objective Bayesian Optimisation and Joint Inversion in Geosciences"
**Submitting author:** @sebhaan (<a href="http://orcid.org/0000-0002-5994-5637">Sebastian Haan</a>)
**Repository:** <a href="https://github.com/sebhaan/geobo" target ="_blank">https://github.com/sebhaan/geobo</a>
**Version:** v1.0.0
**Editor:** @hugoledoux
**Reviewers:** @npetra, @sgkang
**Archive:** <a href="https://doi.org/10.5281/zenodo.4451474" target="_blank">10.5281/zenodo.4451474</a>

**:wa

[2020-09-22 07:17] whedon commented on #2421
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2690.

[2020-09-22 07:18] #2421 closed

[2020-09-22 07:18] whedon commented on #2690
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @npetra it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2020-09-22 07:18] whedon commented on #2690
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02690/joss.02690/10.21105.joss.02690.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02690/joss.02690/10.21105.joss.02690.pdf) :page_facing_up: :point_left:

[2020-09-22 07:18] whedon commented on #2690
[code]

[2020-09-22 07:24] JolleJolles commented on #2584
Dear @marcosvital, please let me know if there is anything else you'd like me to do. Many thanks.

[2020-09-22 08:53] bblodfon commented on #2583
@whedon generate pdf

[2020-09-22 08:53] whedon commented on #2583
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02583/joss.02583/10.21105.joss.02583.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02583/joss.02583/10.21105.joss.02583.pdf) :page_facing_up: :point_left:

[2020-09-22 08:56] whedon opened #2691 "[PRE REVIEW]: StarBLAST: a scalable BLAST+ solution for the classroom"
**Submitting author:** @cosimichele (<a href="http://orcid.org/0000-0001-7609-1939">Michele Cosi</a>)
**Repository:** <a href="https://github.com/LyonsLab/StarBLAST/" target ="_blank">https://github.com/LyonsLab/StarBLAST/</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-09-22 08:57] whedon commented on #2691
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-22 08:57] whedon commented on #2691
[code]

[2020-09-22 08:57] whedon commented on #2691
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02691/joss.02691/10.21105.joss.02691.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02691/joss.02691/10.21105.joss.02691.pdf) :page_facing_up: :point_left:

[2020-09-22 08:58] arfon commented on #2691
@whedon check repository

[2020-09-22 08:58] whedon commented on #2691
Failed to discover a `Statement of need` section in paper

[2020-09-22 09:02] whedon commented on #2691
[code]

[2020-09-22 09:03] bblodfon commented on #2583
Hi @mikldk,

- I read the paper one final time and made sure everything is proper
- I see that one of the reviewers is **mentioned twice** in the generated paper (as is here in the first post, I guess they are connected)
- Archived version number for the package is `v0.1.7` (see [respective release](https://github.com/bblodfon/emba/releases/tag/v0.1.7))
- Archived Zenodo DOI is `10.5281/zenodo.404

[2020-09-22 09:16] jonasrauber commented on #2607
@whedon check references

[2020-09-22 09:16] whedon commented on #2607
[code]

[2020-09-22 10:00] cMadan commented on #2166
@hvgazula, just a reminder that the review is currently waiting on your response right now.

[2020-09-22 10:27] arfon commented on #2018
I think Whedon is struggling with an unusual DOI. This PR should fix the issue: https://github.com/CliMA/Oceananigans.jl/pull/966

[2020-09-22 10:52] TomGoffrey commented on #2554
@whedon generate pdf

[2020-09-22 10:53] whedon commented on #2554
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02554/joss.02554/10.21105.joss.02554.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02554/joss.02554/10.21105.joss.02554.pdf) :page_facing_up: :point_left:

[2020-09-22 10:55] TomGoffrey commented on #2554
@arfon Apologies, I'd taken some time off before the start of term. I think we should be able to get this completed in a day or so.

@s-goldman Which branch should I be using to generate the latest version of the paper?

[2020-09-22 11:19] ali-ramadhan commented on #2018
Thank you @arfon! Just merged https://github.com/CliMA/Oceananigans.jl/pull/966. Not sure where I got the old DOI from...

[2020-09-22 11:20] arfon commented on #2018
@whedon accept

[2020-09-22 11:20] whedon commented on #2018
[code]

[2020-09-22 11:21] whedon commented on #2018
[code]

[2020-09-22 11:21] whedon commented on #2018
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1743

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1743, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-22 11:37] pdebuyl commented on #2653
@coatless do you need any further information to start the review? The review can proceed by steps, so that you can send partial feedback to the author and start with a smaller time chunk than for a full review.

[2020-09-22 11:38] arfon commented on #2018
@kthyng - I'm not sure if you had other checks to make here but this paper is now compiling properly.

[2020-09-22 11:40] pdebuyl commented on #2436
@kyleniemeyer the paper was submitted before we required the "statement of need", which is why I didn't check for it (or whedon indeed).

Should the software archive be updated if only the paper is modified or can the author keep the current version 2.0.1 and the corresponding zenodo archive?

[2020-09-22 11:46] lpantano commented on #2410
@joannawolthuis, @jkanche, let me know if this addresses everything. Thanks!

[2020-09-22 11:48] lpantano commented on #2432
Hey @afrubin, @betteridiot, can you make sure all the items in the checklist are done? I see a couple of items unchecked and I want to make sure you are fine with them.

[2020-09-22 11:49] lpantano commented on #2432
@lincoln-harris, thank you for the DOI. We need the archive to contain all the code as well, so it should be a copy of the repository at the time of publication. Can you update it, please? Thank you!!!

[2020-09-22 11:50] lpantano commented on #2432
@whedon set v1.2.0 as version

[2020-09-22 11:50] whedon commented on #2432
OK. v1.2.0 is the version.

[2020-09-22 11:56] lpantano commented on #2638
Hi @stulacy, @mdogucu, @nhejazi, would any of you like to review this tool?

[2020-09-22 12:08] oliviaguest commented on #2668
Hi @typically can you give us an ETA for your review, please? ☺️

[2020-09-22 12:14] oliviaguest commented on #2621
@sappelhoff oh, amazing! Great work — thanks. 👍

[2020-09-22 12:19] marcosvital commented on #2635
Thank you, @62442katieb! We'll move to reviewing soon, with you and @SteveViss as reviewers; a new issue will be created for that.

[2020-09-22 12:20] typically commented on #2668
Hi @oliviaguest, I should be able to get to this later next week, once students get sorted (it's orientation week here). It's on my radar!

[2020-09-22 12:21] marcosvital commented on #2635
@whedon assign @SteveViss as reviewer

[2020-09-22 12:21] whedon commented on #2635
OK, @SteveViss is now a reviewer

[2020-09-22 12:21] marcosvital commented on #2635
@whedon add @62442katieb as reviewer

[2020-09-22 12:21] whedon commented on #2635
OK, @62442katieb is now a reviewer

[2020-09-22 12:25] marcosvital commented on #2635
@whedon start review

[2020-09-22 12:25] whedon opened #2692 "[REVIEW]: UVehavior: An Annotation Desktop-Tool for Behavioral Observation"
**Submitting author:** @Manolomon (<a href="http://orcid.org/0000-0002-3398-2632">J. Manuel Pérez-Verdejo</a>)
**Repository:** https://github.com/Manolomon/uvehavior-desktop
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @marcosvital
**Reviewers:** @SteveViss, @62442katieb
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-09-22 12:25] whedon commented on #2635
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2692.

[2020-09-22 12:25] #2635 closed

[2020-09-22 12:25] whedon commented on #2692
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @SteveViss, @62442katieb it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-09-22 12:26] whedon commented on #2692
[code]

[2020-09-22 12:26] whedon commented on #2692
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02692/joss.02692/10.21105.joss.02692.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02692/joss.02692/10.21105.joss.02692.pdf) :page_facing_up: :point_left:

[2020-09-22 12:27] marcosvital commented on #2692
Dear @Manolomon: your manuscript will be reviewed in this issue, and you can reply any comments and suggestions that the reviewers might address right here.

[2020-09-22 12:29] marcosvital commented on #2692
@SteveViss and @62442katieb: thank you again for for accepting review this submission for JOSS.

Even if you are not starting the review right now, please accept the invite, as it has an expiration date (there is a link under Reviewer instructions & questions and you should also get an email notification). Furthermore, please check the instructions and checklists above, and let me know if you need

[2020-09-22 12:30] afrubin commented on #2432
@lpantano All items are checked now. Thanks for the reminder!

[2020-09-22 12:35] oliviaguest commented on #2668
@whedon remind @typically in 16 days

[2020-09-22 12:35] whedon commented on #2668
Reminder set for @typically in 16 days

[2020-09-22 12:36] oliviaguest commented on #2668
@typically OK, I set-up a realistic reminder (for both of us to stay on track) given your plan then — thank you. 😊

[2020-09-22 13:50] dhhagan commented on #2435
@whedon check references

[2020-09-22 13:51] whedon commented on #2435
[code]

[2020-09-22 13:53] dhhagan commented on #2435
@stheid It looks like the Zenodo archive doesn't contain the full/correct author list. Could you correct that and then post the final OMG version and DOI archive? As soon as that's updated, I can accept this manuscript. 👍

[2020-09-22 14:48] sayanddude commented on #2278
@whedon generate pdf

[2020-09-22 14:50] whedon commented on #2278
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02278/joss.02278/10.21105.joss.02278.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02278/joss.02278/10.21105.joss.02278.pdf) :page_facing_up: :point_left:

[2020-09-22 14:52] sayanddude commented on #2278
Hi @mirca ,
Please find above the updated version of the paper. We have addressed your comments raised in the couple of GitHub issues.
Please find below my response to each of the comments (my responses are  in italics):

-As part of the on-going JOSS review, could you please update the README and/or related documentations
in order to address how third parties would go about: 1) contributing to th

[2020-09-22 15:08] s-goldman commented on #2554
@TomGoffrey The paper.md file on the main branch is now the most up-to-date.

[2020-09-22 15:16] kthyng commented on #2018
@arfon thank you. I didn't even look at the DOIs, just saw that they were listed as ok and ignored them. Thanks.

[2020-09-22 15:20] kthyng commented on #2018
@ali-ramadhan Ok great! You are developing quickly. Do you want to use your now newest version in this publication or stop at v0.36? Also can you change the metadata in the JOSS zenodo archive so that the title and author list exactly match your JOSS paper?

[2020-09-22 15:23] betteridiot commented on #2432
All checked

[2020-09-22 15:30] ali-ramadhan commented on #2018
@kthyng Ah I think we'll stick with v0.36.0 here as we specifically tagged it for JOSS (if that's okay with JOSS).

I thought I did change the JOSS Zenodo archive metadata for v0.36.0 so the authors match the JOSS paper authors exactly (https://zenodo.org/record/4019272 from https://github.com/openjournals/joss-reviews/issues/2018#issuecomment-690279423).

There is a newer different Zenodo entry f

[2020-09-22 15:32] andremrsantos commented on #2599
Dear @tbrown122387, here are some considerations regarding your answer:

- **Contribution Guidelines**
  - I think you should just include a simple guideline such as [Rails](https://github.com/rails/rails/blob/master/CONTRIBUTING.md) listed as example in the [page](https://docs.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors) you sent, with some sugg

[2020-09-22 15:38] pibion commented on #2617
@wesleyburr apologies, it's taking some time to find a third reviewer.  I'm working on it, but in the meantime, how do you feel about two reviewers for this project?

I prefer having three reviewers, but our current reviewers have good expertise with this subject.  I'd be okay with moving ahead with only two in this case.  How do you feel?

[2020-09-22 15:42] pibion commented on #2602
@hemanthpruthvi apologies for the delay, it's taking a while to find a third reviewer!

I'm still working on it and hope to have someone identified by the end of this week.

[2020-09-22 15:52] hemanthpruthvi commented on #2602
@pibion I understand. Thank you very much for your efforts.

[2020-09-22 15:57] krystophny commented on #2644
@sjpfenninger I have finished reviewing the paper and testing the software and support the publication in JOSS after two minor changes in the README https://github.com/VU-BEAM-Lab/GENRE/issues/3 . As mentioned the package is relatively small (1000-2000 lines of code) and not very well known yet, but it looks very useful with its unique capability to solve multiple GLMs with elastic net regularizat

[2020-09-22 16:02] kthyng commented on #2018
No problem!

The title at that link is "CliMA/Oceananigans.jl: v0.36.0" but your submission title is "Oceananigans.jl: Fast and friendly geophysical fluid dynamics on GPUs". Author list looks fine on a quick glance.

[2020-09-22 16:05] pibion commented on #2686
@kyleniemeyer I'd love to edit this paper.  Telescopes are outside my area of instrumental expertise, so I'll be looking for three reviewers.  So if you know of any editors who have expertise in telescopes, feel free to boot me?

[2020-09-22 16:05] pibion commented on #2686
@whedon assign @pibion as editor

[2020-09-22 16:05] whedon commented on #2686
OK, the editor is @pibion

[2020-09-22 16:15] ali-ramadhan commented on #2018
Ah sorry I misread your comment! Just updated the title so I think both title and author list at https://zenodo.org/record/4019272 should match now.

[2020-09-22 16:15] kyleniemeyer commented on #2686
@arfon might have suggestions on such reviewers?

[2020-09-22 16:19] kyleniemeyer commented on #2436
@pdebuyl no worries!

If only the software is modified, the archive does not need to be updated, since we (JOSS) archive the software.

[2020-09-22 16:24] nwu63 commented on #2564
This is a friendly reminder now that we're coming up on 6 weeks, @matbesancon and @jgoldfar are you done with the review? Also @poulson I noticed that Jonathan is not assigned to this issue, I don't know if that causes anything. Thanks!

[2020-09-22 16:33] wesleyburr commented on #2617
I don't mind at all - 3 is certainly better for perspectives, but if the 2 reviewers who agreed are ok with it, I'm happy to work with them to make the process run as smoothly as we can!

[2020-09-22 16:56] TomDonoghue commented on #2621
I should be able to do my review by the end of the week!

[2020-09-22 17:00] kthyng commented on #2018
Excellent! That is everything now. Sorry that this has been a slow process, but appreciate you sticking with us through an on-going global pandemic.

[2020-09-22 17:00] kthyng commented on #2018
@whedon accept deposit=true

[2020-09-22 17:00] whedon commented on #2018
[code]

[2020-09-22 17:03] whedon commented on #2018
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1308451933284433928) 👈 🐦🐦🐦

[2020-09-22 17:03] whedon commented on #2018
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1744
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02018](https://doi.org/10.21105/joss.02018)
2. If everything looks g

[2020-09-22 17:07] kthyng commented on #2018
Congrats to @ali-ramadhan on your new publication! Many thanks to reviewers @funsim and @mancellin. Without your hard work and expertise we wouldn't be able to do this process. 🎉 🎉

(I will leave this issue open until the doi resolves)

[2020-09-22 17:09] ali-ramadhan commented on #2018
Awesome! Thanks so much @kthyng, @funsim, and @mancellin for your helpful reviews and feedback.

[2020-09-22 18:01] zpace commented on #2608
After having reviewed this submission, I am happy to recommend it for acceptance into JOSS. The developers have responded to my handful of comments and suggestions to my satisfaction.

[2020-09-22 18:06] lnferris commented on #2497
I have fixed and closed "Plot versus distance along transect (lnferris/ocean_data_tools#24)".

[2020-09-22 18:07] Christopher-Khan commented on #2644
Hi @krystophny. Thank you for your review! In regards to the minor points, my responses are below.

For adding the folders to the MATLAB path, in the bullet point under Windows and Linux installation in the README, I have the following statement, "Assuming the repository is on your system, go to the MATLAB directory that contains the repository folders and add them to your MATLAB path."

In regard

[2020-09-22 18:30] krystophny commented on #2644
@Christopher-Khan in that case it’s fine, now I understand that these things are correct already now. I was too hasty when reading. So all issues resolved!

[2020-09-22 18:57] arfon commented on #2686
@whedon check repository

[2020-09-22 19:00] whedon commented on #2686
[code]

[2020-09-22 19:13] arfon commented on #2686
I don't really sorry but this search came up with a good number of possible results: https://github.com/search?q=adaptive+optics

[2020-09-22 19:37] arfon commented on #2373
@whedon accept from branch release-20.05

[2020-09-22 19:37] whedon commented on #2373
[code]

[2020-09-22 19:38] whedon commented on #2373
PDF failed to compile for issue #2373 with the following error:

 fatal: Unable to create '/app/tmp/2373/.git/index.lock': File exists.

If no other git process is currently running, this probably means a
git process crashed in this repository earlier. Make sure no other git
process is running and remove the file manually to continue.
Can't find any papers to compile :-(

[2020-09-22 19:38] whedon commented on #2373
[code]

[2020-09-22 19:40] arfon commented on #2373
@whedon accept from branch release-20.05

[2020-09-22 19:40] whedon commented on #2373
[code]

[2020-09-22 19:40] nicolet5 commented on #2624
@yangbai90 Hi Yang, thank you for reviewing the package and for your comments! With regards to your questions:

1. Yes the package has autotests. You can run all the tests using `./runTests` from the root directory, or by using pytest  (see the [Running Tests](https://github.com/nicolet5/DiffCapAnalyzer#running-tests) section of the README. Additionally, I have TravisCI set up, which runs the test

[2020-09-22 19:41] whedon commented on #2373
[code]

[2020-09-22 19:41] whedon commented on #2373
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1745

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1745, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-22 19:46] lnferris commented on #2497
@kthyng at this point I wait for reviewers, correct?

[2020-09-22 20:09] TomGoffrey commented on #2554
Thanks, in case it's useful in future:

`@whedon generate pdf from branch origin/<some_branch_name>`

generates the paper from a given branch.

I'll take a look tomorrow.

[2020-09-22 20:10] s-goldman commented on #2554
@TomGoffrey Good to know, thanks.

[2020-09-22 20:16] mdogucu commented on #2638
Thank you for considering me but I have never worked with genome data in my life. I think there is something unusual with review requests I get from JOSS and I am wondering how I can correct it. Either I have made a mistake in filing my areas of interest or JOSS is sending me random review requests. Is there any place I can update my reviewer settings for JOSS and edit my areas of expertise etc. ?

[2020-09-22 20:27] Christopher-Khan commented on #2644
@krystophny Great! Thank you!

[2020-09-22 20:40] galessiorob commented on #2676
Checking in! @GregaVrbancic , @xiaohk and @atanikan please let me know if you need anything on my behalf to get started on the review, thanks!

[2020-09-22 20:41] lpantano commented on #2638
Tahnk you @mdogucu , sorry about this. I will make the request!

[2020-09-22 20:59] galessiorob commented on #2662
Thanks for raising this question @TimKam! Based on our existing lineaments while brief, this submission is valid, as for the "extensibility/adaptability" for code that builds on existing work I _think_ this paper also passes but let me get an editor in chief's opinion.

[2020-09-22 21:11] #2018 closed

[2020-09-22 21:11] whedon commented on #2018
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02018/status.svg)](https://doi.org/10.21105/joss.02018)

**We need your help!**

Journal of Open Source Softwa

[2020-09-22 21:27] nmoran commented on #2678
Installed the package alright and ran initial examples but getting the following error when trying to plot the Wilson loop winding [https://github.com/sp94/Peacock.jl/issues/9](https://github.com/sp94/Peacock.jl/issues/9).

[2020-09-22 21:32] krober10nd commented on #2592
hey @arfon I realize you're probably incredibly busy, but I think this could be an easy fix to send this paper to the official review stage. Looks like there was just some buggy interaction with the whedon bot? I would appreciate your help here very much. Thanks1

[2020-09-22 22:55] stulacy commented on #2528
Thank you for your detailed response. I am satisfied my points have been addressed.

[2020-09-22 23:00] stulacy commented on #2638
Sorry, this is quite far out of my field

On Tue, 22 Sep 2020 at 21:41, Lorena Pantano <notifications@github.com>
wrote:

--
Stuart Lacy
Research Software Engineer
Wolfson Atmospheric Chemistry Lab & Information Services
*C/G/116*
University of York
Heslington
York
YO10 5DD
+44 (0)1904 324756

[image:
https://www.york.ac.uk/media/abouttheuniversity/supportservices/informationdirectorate/images/cse

[2020-09-23 00:22] pfeiffea commented on #2341
Thanks, @kthyng!

Landlab v2.2.0

Here's the doi for a Zenodo archive: 10.5281/zenodo.4044683

[2020-09-23 00:25] sp94 commented on #2678
Thanks! sp94/Peacock.jl#9 should be fixed now. I haven't tagged a new release yet so could you run `]dev Peacock` in the REPL to check?

I missed this because I wasn't running the plot functions on Travis as I didn't know a good way to test the outputs. I've now added the plot functions to at least pick up runtime errors like this, even if the outputs are still going untested

[2020-09-23 02:00] majensen commented on #2587
@rvosa -- long time! I'm an editor now for the online journal [JOSS](https://joss.theoj.org). Would you be willing to review [this work](#2587)? All reviews are open and performed online here in GitHub. [Here is an overview](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) of the process. Please respond in this thread, or feel free to reach out to me at maj -dot- fortinbras -at- gma

[2020-09-23 02:04] majensen commented on #2587
@balhoff - can I trouble you again to consider a [JOSS](https://joss.theoj.org) review of [this work](#2487)? All my other ontology experts seem to be working hard on their ontologies and I haven't got a bite.... Appreciate your consideration! @majensen

[2020-09-23 04:14] lnferris commented on #2497
I have fixed and closed "transect_select point density (lnferris/ocean_data_tools#25)".

[2020-09-23 06:42] oliviaguest commented on #2621
@TomDonoghue Oh, great! I'll set up a reminder for both of us.

[2020-09-23 06:43] oliviaguest commented on #2621
@whedon remind @TomDonoghue in 9 days

[2020-09-23 06:43] whedon commented on #2621
Reminder set for @TomDonoghue in 9 days

[2020-09-23 06:51] aursiber commented on #2638
Sorry for the delay in responding. I have no competence in genomics to review this work.

[2020-09-23 07:57] koenderks commented on #2152
Dear @drvinceknight,

I am happy to let you know that we have found another reviewer for JASP for Audit. Ir. Ferry Geertman RE CISA (@fgeertman) is willing to act as a reviewer for this submission.

Sincerely,
Koen

[2020-09-23 08:00] sjpfenninger commented on #2666
@whedon add @brynpickering as reviewer

[2020-09-23 08:00] whedon commented on #2666
OK, @brynpickering is now a reviewer

[2020-09-23 08:01] sjpfenninger commented on #2666
@dalonsoa, thanks and no worries!

[2020-09-23 08:02] sjpfenninger commented on #2666
@nmstreethran @sevberg Would either of you be able to review this submission to JOSS?

[2020-09-23 08:17] AngryMaciek commented on #2643
Dear @majensen ,
I believe we have addressed all of the suggestions raised by the reviewers :)

(CC @rozmanowna @tkchafin @xin-huang )

[2020-09-23 08:22] sjpfenninger commented on #2644
@marouenbg @krystophny Thanks both for your reviews. Can you both confirm that you recommend to accept the submission? @krystophny can you close VU-BEAM-Lab/GENRE#3 if it is resolved?

[2020-09-23 08:39] CFGrote commented on #2436
done, thanks for the comments.

[2020-09-23 08:41] jonasrauber commented on #2607
@whedon check references

[2020-09-23 08:41] jonasrauber commented on #2607
@whedon generate pdf

[2020-09-23 08:42] whedon commented on #2607
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02607/joss.02607/10.21105.joss.02607.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02607/joss.02607/10.21105.joss.02607.pdf) :page_facing_up: :point_left:

[2020-09-23 08:46] jonasrauber commented on #2607
@GregaVrbancic @ethanwharris Thanks for taking the time to review Foolbox Native. I have addressed the four issues you opened. Thanks for the helpful feedback. Let me know if there is anything else you think I should change.

@terrytangyuan Matthias Bethge provided high-level supervision and guidance for the project and helped editing the paper.

[2020-09-23 08:50] jonasrauber commented on #2607
@whedon generate pdf

[2020-09-23 08:51] whedon commented on #2607
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02607/joss.02607/10.21105.joss.02607.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02607/joss.02607/10.21105.joss.02607.pdf) :page_facing_up: :point_left:

[2020-09-23 08:59] TomGoffrey commented on #2554
@whedon generate pdf

[2020-09-23 09:01] krystophny commented on #2644
@sjpfenninger everything resolved, I confirm the recommendation to accept the submission!

[2020-09-23 09:01] whedon commented on #2554
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02554/joss.02554/10.21105.joss.02554.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02554/joss.02554/10.21105.joss.02554.pdf) :page_facing_up: :point_left:

[2020-09-23 09:19] GregaVrbancic commented on #2676
Hi @galessiorob and @nedRad88,
I have made some progress on this review. I have opened several issues on SCALAR repository, so @nedRad88, please take a look at them. Also, please clarify Dihia Boulegane's and Albert Bifet's contributions to the paper since it is not observable from commit history (which can happen sometimes). Additionally, based on the commit history, should @gradoslovar be includ

[2020-09-23 09:32] ethanwharris commented on #2607
@terrytangyuan The authors have now updated the paper to include comparison to other libraries. The new performance comparison and updated examples suggested by @GregaVrbancic are also appreciated. I recommend acceptance :smiley:

[2020-09-23 10:10] yangbai90 commented on #2624
@whedon generate pdf

[2020-09-23 10:13] whedon commented on #2624
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02624/joss.02624/10.21105.joss.02624.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02624/joss.02624/10.21105.joss.02624.pdf) :page_facing_up: :point_left:

[2020-09-23 10:25] csoneson commented on #2659
👋 Just a quick update to say that I have contacted several possible reviewers on the more methodological side offline, hoping to have a positive response there.

[2020-09-23 10:26] csoneson commented on #2440
@neuromusic - any update on this?

[2020-09-23 10:31] yangbai90 commented on #2624
@nicolet5 Hi Nicole, thanks for the update.
Now, on my side, I think the paper is ready to publish.
BR
Yang

[2020-09-23 10:53] mjsull commented on #2451
Hi @kyleniemeyer,

All fixed.

Cheers,

Mitch

[2020-09-23 11:06] timtroendle commented on #2688
Thanks @aquilesC for pointing this out. @Grant-Giesbrecht, can you please make sure there is a stable version of the package which can be reviewed? You stated the version for this submission to be "v1.0.0", but this version does not exist in the repo. Can you please add it?

You can of course continue the development, but these changes should remain outside the scope of this submission.

[2020-09-23 11:15] meg-simula commented on #2626
Great @chennachaos, thanks!

[2020-09-23 11:15] meg-simula commented on #2626
@whedon assign @chennachaos as reviewer

[2020-09-23 11:15] whedon commented on #2626
OK, @chennachaos is now a reviewer

[2020-09-23 11:56] arfon commented on #2592
There's no automated way to do this right now sorry. The 'fix' is to add the second reviewer on the actual review issue (#2687) and add a second checklist for them over there. I'll go ahead and do this for you now...

[2020-09-23 11:56] #2592 closed

[2020-09-23 11:56] arfon commented on #2687
@whedon add @jorgensd as reviewer

[2020-09-23 11:56] whedon commented on #2687
OK, @jorgensd is now a reviewer

[2020-09-23 11:57] arfon commented on #2687
OK, you should be good to go here now @meg-simula!

[2020-09-23 12:16] martin-millon commented on #2654
Thanks, @coljac and @danhey for your reviews and for helping us to improve this package.

I have made the following changes :
 - I have completely removed the multiprocessing computing at the level of the function pycs3.sim.applyopt(). This can be done at a higher level, i.e., at the level of the function pycs3.sim.multirun(). This is now better documented in the [tutorial](https://cosmograil.gitl

[2020-09-23 12:36] arfon commented on #2654
@whedon generate pdf

[2020-09-23 12:37] whedon commented on #2654
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02654/joss.02654/10.21105.joss.02654.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02654/joss.02654/10.21105.joss.02654.pdf) :page_facing_up: :point_left:

[2020-09-23 12:45] arfon commented on #2654
Thanks for the update @martin-millon. I found one small typo in your paper which I corrected in https://gitlab.com/cosmograil/PyCS3/-/merge_requests/5

@coljac - assuming that @martin-millon's response addresses your concerns about testing, could you please check off the final item in your checklist?

@martin-millon - At this point could you make a new release of this software that includes the ch

[2020-09-23 13:43] stheid commented on #2435
Oh, thanks a lot. I completely overlooked that i have to edit the entry to be consistent. Its corrected now.

I think the DOI did not change. As said currently the versions state is for the technical reason in a bit of an unfortunate state, and we are not ready to roll out a new release right now. So we would keep everything at 0.2.0-2 if this is ok.

Where is the DOI of the release connected to J

[2020-09-23 14:16] martin-millon commented on #2654
@arfon - I have put an archive on Zenodo. Here is the DOI:  http://doi.org/10.5281/zenodo.4046260

[2020-09-23 14:48] profxj commented on #2308
@kthyng -- Kindly ping the reviewers again.
Ball has been in their court for several weeks.

Thanks!

[2020-09-23 15:04] CFGrote commented on #2672
Hi @will-rowe, I'm done with my review.  All comments are in https://github.com/kuangmeng/CIMSA/issues, 1-19. Overall recommendation is "Reject, major revisions in order."

[2020-09-23 15:38] syasini commented on #2608
Thanks, @zpace. Your comments and feedback were incredibly helpful. We appreciate your assistance and guidance in creating the documentation and all the time you spent on reviewing our software in detail.

[2020-09-23 15:42] marouenbg commented on #2644
Hi @sjpfenninger, I have no further comments, I recommend the publication of the software.

[2020-09-23 15:44] steven-murray commented on #2582
@whedon generate pdf from branch joss-paper

[2020-09-23 15:45] whedon commented on #2582
[code]

[2020-09-23 15:45] whedon commented on #2582
PDF failed to compile for issue #2582 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedon.rb:153:in `block in check_orcids': Problem with ORCID (https://orcid.org/0000-0003-1443-3483) for Catherine A. Watkinson (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedon.rb:151:in

[2020-09-23 15:52] steven-murray commented on #2582
@sambit-giri: I've updated the paper trying to address your points (see https://github.com/21cmfast/21cmFAST/pull/105/commits/371e1d8d502cec94408e4c96a423f4e1930ecf40 for the diff).

In brief:

I've added that it is Lyman-alpha and 21-cm radiation.

I've restricted it to low-frequency radio telescopes. While other observables are also useful in constraining astrophysics using 21cmFAST, I wanted to

[2020-09-23 16:14] steven-murray commented on #2582
@whedon generate pdf from branch joss-paper

[2020-09-23 16:15] whedon commented on #2582
[code]

[2020-09-23 16:15] whedon commented on #2582
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: :point_left:

[2020-09-23 16:18] kthyng commented on #2308
@profxj I see a long review from @astrom-tom above but no response from you. Have you been working on edits and/or a response to that?

@Gabriel-p Will you be able to work on your review soon?

@profxj Your editor is @harpolea, so please reach out to @harpolea first for your questions.

[2020-09-23 16:22] profxj commented on #2308
Got it.  @harpolea -- @Gabriel-p and @astrom-tom kindly broke their
review into a series of separate Issues on our GitHub:

https://github.com/pypeit/PypeIt/issues/993
https://github.com/pypeit/PypeIt/issues/994
https://github.com/pypeit/PypeIt/issues/995
https://github.com/pypeit/PypeIt/issues/1019

[2020-09-23 16:26] kthyng commented on #2308
Excellent! Bookkeeping is definitely an important part of the review process, to keep the issues linked together. Please add in links in all of the related software issues back to this review issue for tracking.

[2020-09-23 16:28] rvosa commented on #2587
Hi @majensen! Nice to hear from you. I'm sorry but I'll have to decline. Things are a bit hectic right now and this project also seems a bit outside of my expertise. Best, Rutger

[2020-09-23 16:33] majensen commented on #2587
Thanks for your consideration and quick response @rvosa - nice to hear a ping from you in any case!

[2020-09-23 16:54] harpolea commented on #2684
Great, thanks @zingale!

[2020-09-23 16:54] harpolea commented on #2684
@whedon assign @zingale as reviewer

[2020-09-23 16:55] whedon commented on #2684
OK, @zingale is now a reviewer

[2020-09-23 17:01] Gabriel-p commented on #2308
I'll resume today. Sorry for the delay.

[2020-09-23 17:06] steven-murray commented on #2582
@whedon generate pdf from branch joss-paper

[2020-09-23 17:06] whedon commented on #2582
[code]

[2020-09-23 17:07] whedon commented on #2582
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: :point_left:

[2020-09-23 17:15] majensen commented on #2587
Hey @sap218 -- would you have time and inclination to review [this work](#2587) for [JOSS](https://joss.theoj.org)? Would love to have your expertise on this.
Thanks! --@majensen

[2020-09-23 17:18] arfon commented on #2654
@whedon set 10.5281/zenodo.4046260 as archive

[2020-09-23 17:18] whedon commented on #2654
OK. <a href="https://doi.org/10.5281/zenodo.4046260" target="_blank">10.5281/zenodo.4046260</a> is the archive.

[2020-09-23 17:36] lincoln-harris commented on #2432
@lpantano requesting zenodo access from the git organization. will be able to upload the code archive as soon as that happens.

[2020-09-23 19:41] arfon commented on #2654
@whedon check references

[2020-09-23 19:42] whedon commented on #2654
[code]

[2020-09-23 19:43] arfon commented on #2654
@whedon accept

[2020-09-23 19:43] whedon commented on #2654
[code]

[2020-09-23 19:43] whedon commented on #2654
[code]

[2020-09-23 19:43] whedon commented on #2654
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1746

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1746, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-23 19:45] mikldk commented on #2600
@jbytecode Thanks. Do you have any suggested reviewers?

[2020-09-23 19:46] arfon commented on #2654
@martin-millon - please make a last check of the PDF proof in https://github.com/openjournals/joss-papers/pull/1746 (I'll do the same).

I plan to loop back on this in the morning my time to process/accept this.

[2020-09-23 19:47] mikldk commented on #2526
@whedon generate pdf

[2020-09-23 19:47] whedon commented on #2526
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02526/joss.02526/10.21105.joss.02526.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02526/joss.02526/10.21105.joss.02526.pdf) :page_facing_up: :point_left:

[2020-09-23 19:48] mikldk commented on #2630
@VincentAlcazer, can you give a brief status on the review issues raised in the separate threads by @nistara and @adithirgis?

[2020-09-23 19:49] mikldk commented on #2583
@whedon set 10.5281/zenodo.4043085 as archive

[2020-09-23 19:49] whedon commented on #2583
OK. <a href="https://doi.org/10.5281/zenodo.4043085" target="_blank">10.5281/zenodo.4043085</a> is the archive.

[2020-09-23 19:50] mikldk commented on #2583
@whedon set v0.1.7 as version

[2020-09-23 19:50] whedon commented on #2583
OK. v0.1.7 is the version.

[2020-09-23 19:50] jbytecode commented on #2600
No but if you don't have time, I can choose a few suitable reviewers from the list for you.

[2020-09-23 19:50] mikldk commented on #2583
@arfon Can you help with removing the double mention of @edifice1989 as reviewer? I am not sure how to handle that properly?

[2020-09-23 19:51] mikldk commented on #2526
@nhejazi The author orders at Zenodo and in the paper do not match up.

[2020-09-23 19:59] arunpersaud commented on #2688
Hello, I'm one of the co-authors. We do have a 1.0.0 released and that should be the version to be reviewed. The released version can be found on pypi https://pypi.org/project/hardware-control/. I noticed that we forgot to push the tag to bitbucket, I just fixed that... thanks for pointing this out.

[2020-09-23 20:02] VincentAlcazer commented on #2630
Dear @mikldk,
I  am currently working on the issues raised by the reviewers and their comments are really helping me improving the software.
Due to the pandemic evolution in France, I am also quite busy at the hospital with only few moments to work on StatAid. However, I already corrected the main issues reported and I hope I'll be able to provide my complete answer soon.
I am very sorry for this

[2020-09-23 20:06] mikldk commented on #2630
@VincentAlcazer No need to be sorry - take your time. I just wanted to check in, also for the reviewers' sake. Be safe.

[2020-09-23 20:15] nistara commented on #2630
Hi @VincentAlcazer, please take your time, we're in no hurry. Thanks for your important work right now during the pandemic.

[2020-09-23 20:19] nhejazi commented on #2526
Sorry about this @mikldk. This is an artifact of our using a different author ordering on the package than we do for the current paper. It's now been fixed for this particular Zenodo record.

[2020-09-23 21:05] Gabriel-p commented on #2308
I'm almost done with the review. The biggest hurdle now is that I do not have any input data files to test the package's functionality. I'm afraid that even if I did, I do not have the resources to do it:

This prevents me from checking the **Functionality** point. @harpolea what should be done in this case?

@profxj  some minor issues with the article:

1. It mentions release 1.0 of the package,

[2020-09-23 21:09] nmstreethran commented on #2666
@sjpfenninger Yes, I'm happy to review this submission!

[2020-09-23 21:29] dhhagan commented on #2435
@arfon Can you chime in on the last part of @stheid's request above?

[2020-09-23 21:49] mkhorton commented on #2563
Yes, I apologize. It wasn't very helpful of me to include that error without system details! This is the `gfortran` from `gcc version 10.2.0 (Homebrew GCC 10.2.0)` on macOS 10.15.6 with any necessary dependencies installed via homebrew, e.g. cmake, openmpi.

The integration tests aside, I have otherwise completed my review of matador. Matador is a toolbox for running, storing, analyzing and retrie

[2020-09-23 23:08] kyleniemeyer commented on #2436
@whedon generate pdf

[2020-09-23 23:09] whedon commented on #2436
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02436/joss.02436/10.21105.joss.02436.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02436/joss.02436/10.21105.joss.02436.pdf) :page_facing_up: :point_left:

[2020-09-23 23:12] kyleniemeyer commented on #2436
Looks good to me!

[2020-09-23 23:12] kyleniemeyer commented on #2436
@whedon accept

[2020-09-23 23:12] whedon commented on #2436
[code]

[2020-09-23 23:12] whedon commented on #2436
[code]

[2020-09-23 23:13] whedon commented on #2436
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1747

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1747, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-23 23:13] kyleniemeyer commented on #2436
@whedon accept deposit=true

[2020-09-23 23:13] whedon commented on #2436
[code]

[2020-09-23 23:14] whedon commented on #2436
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1308907574977232896) 👈 🐦🐦🐦

[2020-09-23 23:14] whedon commented on #2436
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1748
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02436](https://doi.org/10.21105/joss.02436)
2. If everything looks g

[2020-09-23 23:25] kyleniemeyer commented on #2436
I see the paper at https://joss.theoj.org/papers/10.21105/joss.02436, but the DOI does not seem to be resolving. I'll hold off closing this until it does.

[2020-09-23 23:27] kyleniemeyer commented on #2451
@whedon generate pdf

[2020-09-23 23:28] whedon commented on #2451
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02451/joss.02451/10.21105.joss.02451.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02451/joss.02451/10.21105.joss.02451.pdf) :page_facing_up: :point_left:

[2020-09-23 23:44] kyleniemeyer commented on #2451
@whedon accept

[2020-09-23 23:44] whedon commented on #2451
[code]

[2020-09-23 23:45] whedon commented on #2451
[code]

[2020-09-23 23:46] whedon commented on #2451
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1749

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1749, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-23 23:56] kyleniemeyer commented on #2451
@whedon accept deposit=true

[2020-09-23 23:56] whedon commented on #2451
[code]

[2020-09-23 23:57] whedon commented on #2451
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1308918514410033153) 👈 🐦🐦🐦

[2020-09-23 23:57] whedon commented on #2451
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1750
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02451](https://doi.org/10.21105/joss.02451)
2. If everything looks g

[2020-09-23 23:59] kyleniemeyer commented on #2451
Congrats  @mjsull on your article's publication in JOSS!

Many thanks to @telatin, @rpetit3, and @rpetit3 for reviewing this, and @will-rowe for editing it.

I see that the paper appears at https://joss.theoj.org/papers/10.21105/joss.02451, but the DOI does not yet resolve, so I'll keep this issue open until it does.

[2020-09-24 00:01] kyleniemeyer commented on #2436
But, in the meantime, congrats @CFGrote on your article's publication in JOSS!

Many thank to @jenzopr and @blakeaw for reviewing this, and @pdebuyl for editing.

[2020-09-24 00:50] pibion commented on #2602
@whedon add @mwcraig as reviewer

[2020-09-24 00:50] whedon commented on #2602
OK, @mwcraig is now a reviewer

[2020-09-24 00:51] pibion commented on #2602
@whedon start review

[2020-09-24 00:51] whedon opened #2693 "[REVIEW]: PyAstroPol : A Python package for the instrumental polarization analysis of the astronomical optics."
**Submitting author:** @hemanthpruthvi (<a href="http://orcid.org/0000-0002-4892-6561">Hemanth Pruthvi</a>)
**Repository:** <a href="https://github.com/hemanthpruthvi/PyAstroPol" target ="_blank">https://github.com/hemanthpruthvi/PyAstroPol</a>
**Version:** v0.1.0
**Editor:** @pibion
**Reviewer:** @aquilesC, @caldarolamartin, @mwcraig
**Archive:** <a href="https://doi.org/10.5281/zenodo.4285762" t

[2020-09-24 00:51] whedon commented on #2602
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2693.

[2020-09-24 00:51] #2602 closed

[2020-09-24 00:51] whedon commented on #2693
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @aquilesC, @caldarolamartin, @mwcraig it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our bl

[2020-09-24 00:51] whedon commented on #2693
[code]

[2020-09-24 00:51] whedon commented on #2693
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: :point_left:

[2020-09-24 01:01] pibion commented on #2617
@whedon start review

[2020-09-24 01:01] whedon opened #2694 "[REVIEW]: subMALDI: an open framework R package for processing irregularly-spaced mass spectrometry data"
**Submitting author:** @wesleyburr (<a href="http://orcid.org/0000-0002-2058-1899">Wesley Burr</a>)
**Repository:** <a href="https://github.com/wesleyburr/subMaldi" target ="_blank">https://github.com/wesleyburr/subMaldi</a>
**Version:** v1.0-5
**Editor:** @pibion
**Reviewers:** @jspaezp, @sigven, @tystan
**Archive:** <a href="https://doi.org/10.5281/zenodo.5498242" target="_blank">10.5281/zenodo.

[2020-09-24 01:01] whedon commented on #2617
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2694.

[2020-09-24 01:01] #2617 closed

[2020-09-24 01:01] whedon commented on #2694
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jspaezp, @sigven it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2020-09-24 01:02] pibion commented on #2686
@arfon thanks, that helps!  I've also got a lead from a friend in telescope-astro.  I've got a bunch of emails out :)

[2020-09-24 01:03] whedon commented on #2694
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02694/joss.02694/10.21105.joss.02694.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02694/joss.02694/10.21105.joss.02694.pdf) :page_facing_up: :point_left:

[2020-09-24 01:03] pibion commented on #2484
@dghoshal-lbl just wanted to check in on the status of this.  No pressure, just saying hello.

[2020-09-24 01:27] dghoshal-lbl commented on #2484
@pibion Sorry for the delay. Had too many deadlines in the last few weeks. We are working on fixing the documentation and paper. I will let you know once everything has been updated.

[2020-09-24 03:23] adithirgis commented on #2630
Hi @VincentAlcazer, I totally agree with @nistara and @mikldk, please take your time. And please stay safe.
Take care.

[2020-09-24 03:37] sultanier commented on #2582
@whedon  I can't mark the checklist, could you re-invite me again? thanks.

[2020-09-24 03:37] whedon commented on #2582
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-24 03:38] sultanier commented on #2582
@whedon re-invite @sultanier as reviewer

[2020-09-24 03:38] whedon commented on #2582
I'm sorry @sultanier, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-09-24 04:20] rpetit3 commented on #2451
Congrats @mjsull!

@kyleniemeyer I'm not sure why but I'm on there twice (2x @rpetit3's) as a reviewer.

[2020-09-24 04:44] kyleniemeyer commented on #2451
@rpetit3 oh, that's strange, I totally missed that!

@openjournals/dev can you fix this? @rpetit3 shows up twice as reviewer on the paper (likely due to showing up in the review issue twice—perhaps due to being added back at some point?)

[2020-09-24 04:45] #2436 closed

[2020-09-24 04:45] whedon commented on #2436
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02436/status.svg)](https://doi.org/10.21105/joss.02436)

**We need your help!**

Journal of Open Source Softwa

[2020-09-24 06:07] sjpfenninger commented on #2666
@whedon add @nmstreethran as reviewer

[2020-09-24 06:08] whedon commented on #2666
OK, @nmstreethran is now a reviewer

[2020-09-24 06:08] sjpfenninger commented on #2666
Thanks @nmstreethran !

[2020-09-24 06:08] sjpfenninger commented on #2666
@whedon start review

[2020-09-24 06:08] whedon opened #2695 "[REVIEW]: Multiscale Solar Water Heating"
**Submitting author:** @milicag (<a href="http://orcid.org/0000-0003-1640-3931">Milica Grahovac</a>)
**Repository:** <a href="https://github.com/LBNL-ETA/MSWH" target ="_blank">https://github.com/LBNL-ETA/MSWH</a>
**Version:** v2.0.0
**Editor:** @sjpfenninger
**Reviewer:** @brynpickering, @nmstreethran
**Archive:** <a href="https://doi.org/10.5281/zenodo.4305504" target="_blank">10.5281/zenodo.430

[2020-09-24 06:08] whedon commented on #2666
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2695.

[2020-09-24 06:08] #2666 closed

[2020-09-24 06:08] whedon commented on #2695
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @brynpickering, @nmstreethran it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2020-09-24 06:08] whedon commented on #2695
PDF failed to compile for issue #2695 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2695 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedo

[2020-09-24 06:09] sjpfenninger commented on #2666
@brynpickering, @nmstreethran thanks for agreeing to review. Let's head over to #2695 for the actual review!

[2020-09-24 06:10] sjpfenninger commented on #2171
@jordanperr Can I get a status update from you - have you completed all updates?

[2020-09-24 06:25] sjpfenninger commented on #2695
@whedon generate pdf

[2020-09-24 06:25] whedon commented on #2695
PDF failed to compile for issue #2695 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2695 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedo

[2020-09-24 06:29] sjpfenninger commented on #2695
@milicag Can you confirm which branch of the repository the review should be looking at? I see paper.md both in `master` and `issue5_submit_to_joss`. And can you move paper.md and associated files into a subdirectory inside the repository root.

[2020-09-24 06:40] sjpfenninger commented on #2644
@Christopher-Khan I have made some minor edits to the paper in VU-BEAM-Lab/GENRE#4 -- can you check and merge (ideally squash into single commit)? Also - could you adjust the table captions such that they differentiate what we see in the two tables rather than just saying "Benchmark times"?

[2020-09-24 06:42] tomazbregar commented on #2588
Dear @kyleniemeyer, perhaps potential reviewers could be ngoiz (norberto.goizueta13@imperial.ac.uk) and chennachaos (c.kadapa@swansea.ac.uk).

[2020-09-24 07:19] Christopher-Khan commented on #2644
Hi @sjpfenninger. I have squashed the edits into a single commit and merged them. I have also changed the title in the second table to differentiate it from the first table's title.

[2020-09-24 07:21] Christopher-Khan commented on #2644
@whedon generate pdf

[2020-09-24 07:21] whedon commented on #2644
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: :point_left:

[2020-09-24 07:33] arfon commented on #2435
The thing we (JOSS) care about here is that the archive of the software includes the changes that have resulted from this review.

We reference this archive in the JOSS metadata and it's linked to from the paper and the website.

[2020-09-24 07:33] arfon commented on #2583
@whedon remove @edifice1989 as reviewer

[2020-09-24 07:33] whedon commented on #2583
OK, @edifice1989 is no longer a reviewer

[2020-09-24 07:34] arfon commented on #2583
@whedon add @edifice1989 as reviewer

[2020-09-24 07:34] whedon commented on #2583
OK, @edifice1989 is now a reviewer

[2020-09-24 07:35] arfon commented on #2583
@whedon generate pdf

[2020-09-24 07:35] whedon commented on #2583
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02583/joss.02583/10.21105.joss.02583.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02583/joss.02583/10.21105.joss.02583.pdf) :page_facing_up: :point_left:

[2020-09-24 07:35] MrMinimal64 commented on #2392
@saschatimme, can you please check off the remaining items from your review checklist?
I guess @alex-konovalov is busy at the moment and won't finish his review.
@dpsanders, are there any remaining issues or objections?

[2020-09-24 07:36] arfon commented on #2583
OK, this looks fixed now in the PDF proofs?

[2020-09-24 07:58] stheid commented on #2435
that is the case! :)

In that case maybe using the version-agnostic DOI is better? 10.5281/zenodo.4041277
But in any case if you are fine with everything, we are too.

Thanks a lot for clearing things up.

[2020-09-24 08:12] will-rowe commented on #2451
Hi @kyleniemeyer and @openjournals/dev - this may have been my fault. For some reason, @rpetit3 was added to review as usual but had no access writes to the issue. We removed and added again and it fixed it, but not sure why he is listed twice! Sorry.

[2020-09-24 08:38] jbytecode commented on #2600
pragyansmita, nthomasCUBE, xin-huang, marcoapintoo, tylerwmarrs, marcoapintoo have both Java and R in their preferred programming language column.

[2020-09-24 09:29] will-moore commented on #2579
Thanks @thejohnhoffer. The install for minerva-story and minerva-author worked fine for me. The only step missing from https://github.com/labsyspharm/minerva-author#installing that I had to do was `brew install openslide`.
I was able to run the example from minerva-story.
For minerva-author I can start the app but currently I never get further than `Opening file: /path/to/image.tiff`.
This seems t

[2020-09-24 09:45] leouieda commented on #2236
I haven't able to get a third reviewer so we'll move forward with @seisman and @ThomasLecocq as reviewers.

@d-chambers apologies for the delay with this submission.

[2020-09-24 09:45] leouieda commented on #2236
@whedon add @ThomasLecocq as reviewer

[2020-09-24 09:45] whedon commented on #2236
OK, @ThomasLecocq is now a reviewer

[2020-09-24 09:45] leouieda commented on #2236
@whedon generate pdf

[2020-09-24 09:46] whedon commented on #2236
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02236/joss.02236/10.21105.joss.02236.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02236/joss.02236/10.21105.joss.02236.pdf) :page_facing_up: :point_left:

[2020-09-24 09:59] leouieda commented on #2236
@whedon start review

[2020-09-24 09:59] whedon opened #2696 "[REVIEW]: ObsPlus: A Pandas Centric ObsPy Expansion Pack"
**Submitting author:** @d-chambers (<a href="http://orcid.org/0000-0003-3656-6607">Derrick Chambers</a>)
**Repository:** <a href="https://github.com/niosh-mining/obsplus" target ="_blank">https://github.com/niosh-mining/obsplus</a>
**Version:** v0.1.0
**Editor:** @leouieda
**Reviewer:** @seisman, @ThomasLecocq
**Archive:** <a href="https://doi.org/10.5281/zenodo.4544008" target="_blank">10.5281/ze

[2020-09-24 09:59] whedon commented on #2236
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2696.

[2020-09-24 09:59] #2236 closed

[2020-09-24 09:59] whedon commented on #2696
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @seisman, @ThomasLecocq it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-09-24 10:00] whedon commented on #2696
[code]

[2020-09-24 10:00] whedon commented on #2696
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02696/joss.02696/10.21105.joss.02696.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02696/joss.02696/10.21105.joss.02696.pdf) :page_facing_up: :point_left:

[2020-09-24 10:02] leouieda commented on #2696
👋 @d-chambers @seisman @ThomasLecocq  this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from m

[2020-09-24 10:03] leouieda commented on #2696
@d-chambers please have a look at the missing DOI report from Whedon above and add the missing DOIs to your BibTex file.

[2020-09-24 10:38] aquilesC commented on #2688
Dear @arunpersaud , thanks for clarifying!

So I looked at the v1.0.0. First, I would like to acknowledge your hard work on a topic that is normally ill defined, such as instrumentation with Python. I liked some of your approaches, such as including a terminal within the UI to gain extra control of the devices without leaving it. I also appreciate the effort for defining reusable user interfaces.

[2020-09-24 10:47] sap218 commented on #2587
@majensen Hi! Thank you for the invitation :-) I've had a look and I don't understand docker/sys admin enough to do a thorough review - really sorry. Best, Samantha.

[2020-09-24 11:32] arfon commented on #2435
I think we would prefer to link to `10.5281/zenodo.4041278` as this is the version most closely associated with the review. Don't forget that the paper also links to the software repository in the margin too so readers will have a link to the live software repository to access the latest version of the code.

[2020-09-24 11:40] stheid commented on #2435
yeah, thats ok for us.

[2020-09-24 11:48] dfm commented on #2582
@whedon re-invite @sultanier as reviewer

[2020-09-24 11:48] whedon commented on #2582
OK, the reviewer has been re-invited.

@sultanier please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-24 11:48] arfon commented on #2451
This is now fixed but may take some time to update on the JOSS site due to caching.

[2020-09-24 11:48] #2451 closed

[2020-09-24 11:49] whedon commented on #2451
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02451/status.svg)](https://doi.org/10.21105/joss.02451)

**We need your help!**

Journal of Open Source Softwa

[2020-09-24 11:52] sbenthall commented on #2655
@kavir1698 would you be able to review this article?

[2020-09-24 11:52] sbenthall commented on #2655
@vchuravy would you be able to review this article?

[2020-09-24 11:54] sbenthall commented on #2605
Hello. A gentle reminder to @remram44 and @alexssandrofc to please continue your reviews.

[2020-09-24 11:54] kavir1698 commented on #2655
Yes, I would.

[2020-09-24 11:54] majensen commented on #2587
@brantapl can you please provide me some suggestions for possible reviewers? Thanks.

[2020-09-24 11:56] sbenthall commented on #2655
Thank you @kavir1698 !

[2020-09-24 11:56] sbenthall commented on #2655
@whedon assign @kavir1698 as reviewer

[2020-09-24 11:56] whedon commented on #2655
OK, @kavir1698 is now a reviewer

[2020-09-24 11:57] sbenthall commented on #2528
I believe the reviewers of this article now recommend acceptance.

We will begin the next stage of processing.

[2020-09-24 11:57] sbenthall commented on #2528
@whedon generate pdf

[2020-09-24 11:57] sbenthall commented on #2528
@whedon check references

[2020-09-24 11:58] whedon commented on #2528
PDF failed to compile for issue #2528 with the following error:

 sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.02528.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-09-24 11:59] sbenthall commented on #2528
@whedon generate pdf

[2020-09-24 11:59] whedon commented on #2528
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02528/joss.02528/10.21105.joss.02528.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02528/joss.02528/10.21105.joss.02528.pdf) :page_facing_up: :point_left:

[2020-09-24 12:00] kavir1698 commented on #2655
I am sorry but I mistakenly commented here instead of another review request. I have to reject this request.

[2020-09-24 12:07] sbenthall commented on #2655
Oh. Bummer. I'll remove you from the reviewer list.

[2020-09-24 12:07] sbenthall commented on #2655
@whedon remove @kavir1698 as reviewer

[2020-09-24 12:07] whedon commented on #2655
OK, @kavir1698 is no longer a reviewer

[2020-09-24 12:35] kthyng commented on #2341
@whedon set v2.2.0 as version

[2020-09-24 12:35] whedon commented on #2341
OK. v2.2.0 is the version.

[2020-09-24 12:36] kthyng commented on #2341
@pfeiffea You have a small typo in your title for the Zenodo archive (forbed instead of for bed) — can you fix this?

[2020-09-24 12:38] sbenthall commented on #2528
I have one comment on the paper: it might help the reader if you provide the ARDL equation early on.

To proceed with the editorial process, @andyphilips would you please:

- Do a final proofread of your paper (it will be much more difficult to change the paper after it is accepted.
- issue a new tagged release of the software (if changed)
- archive it (on Zenodo, figshare, or other)
- post the ve

[2020-09-24 12:40] brantapl commented on #2587
@majensen Thanks for all the help. Do you mean JOSS reviewers or outside of the community? Are their any requirements for reviewers?

[2020-09-24 12:54] majensen commented on #2587
@brantapl can be anyone who has some expertise in the field and is willing to do the software testing. Outside the JOSS community is fine, then we can being them in!

[2020-09-24 13:23] samhforbes commented on #2669
Hi @mortonne - great work with these issues - I'm really happy with how you have updated the docs, I think it will be good for the reader. The tests for plotting functions mentioned by @paxtonfitzpatrick are great, and the high test coverage is now really impressive. From my end I'm certainly satisfied. Well done, it's a great package, and I will be recommending it.

[2020-09-24 13:43] FlorianRhiem commented on #2107
SampleDB 0.14 was released yesterday.

Is there any way I can help you with the review?

[2020-09-24 14:12] whedon commented on #2637
:wave: @samuelduchesne, please update us on how your review is going.

[2020-09-24 14:13] whedon commented on #2637
:wave: @robinroche, please update us on how your review is going.

[2020-09-24 14:49] milicag commented on #2695
@sjpfenninger Please review the master branch. I have a few clarity questions. Should the sub-directory be of a certain name? Is it correct to assume that the associated files are: `paper.md`, `paper.bib` and `LICENSE.md`?

[2020-09-24 14:54] milicag commented on #2695
@sjpfenninger I moved the  `paper.md`, `paper.bib` and `LICENSE.md` into a new directory called `paper`. Let me know if you need anything else.

[2020-09-24 14:54] steven-murray commented on #2582
@whedon generate pdf from branch joss-paper

[2020-09-24 14:54] whedon commented on #2582
[code]

[2020-09-24 14:55] whedon commented on #2582
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: :point_left:

[2020-09-24 14:56] TomGoffrey commented on #2554
I've raised a few issues I came across whilst looking through this.

Other than that my only other comment is to come back to the discussion of citing previous use. In your readme you state:

The docs for JOSS ("What should my paper contain?") state:

My understanding is that Goldman et al. 2017 used an early version of the code, but that's not stated in the paper, so you may wish to include a com

[2020-09-24 15:21] martin-millon commented on #2654
@arfon - I've been through the paper one more time and I don't have anything to change.

[2020-09-24 15:22] profxj commented on #2308
@Gabriel-p -- Thanks for the suggestions to the paper.
I will make those edits.

As for a test run, here are a set of files for Shane Kastb
from our Development Suite:  https://drive.google.com/drive/folders/11ItdTKbY5c7Hfx-AnhSCvKcLW1g_mLAx?usp=sharing

These are small enough, 16Gb of RAM should be plenty.

[2020-09-24 15:30] profxj commented on #2308
Ok, addressed except the last one.  For SPIT, we reference it.
I attach the currently generated PDF in case the reviewers
are unable to make it themselves.

[klidmv2olhyhnshtsbjw.pdf](https://github.com/openjournals/joss-reviews/files/5277260/klidmv2olhyhnshtsbjw.pdf)

[2020-09-24 15:44] oliviaguest commented on #2674
@whedon generate pdf

[2020-09-24 15:44] pfeiffea commented on #2341
Thanks for catching that @kthyng

Fixed!

[2020-09-24 15:44] whedon commented on #2674
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02674/joss.02674/10.21105.joss.02674.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02674/joss.02674/10.21105.joss.02674.pdf) :page_facing_up: :point_left:

[2020-09-24 15:52] sjpfenninger commented on #2695
@milicag Thanks - but `LICENSE.md` should always be in the root of your repository (this is independent of your JOSS submission)

[2020-09-24 15:52] sjpfenninger commented on #2695
@whedon commands

[2020-09-24 15:52] whedon commented on #2695
Here are some things you can ask me to do:

[code]

[2020-09-24 15:52] sjpfenninger commented on #2695
@whedon generate pdf from branch master

[2020-09-24 15:52] whedon commented on #2695
[code]

[2020-09-24 15:52] whedon commented on #2695
PDF failed to compile for issue #2695 with the following error:

 sh: 1: cd: can't cd to tmp/2695
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2695 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2020-09-24 15:53] sjpfenninger commented on #2695
@openjournals/dev Any idea what is going wrong here? I suspect it is connected to the fact that `https://github.com/LBNL-ETA/MSWH/tree/issue5_submit_to_joss` is set as the submission repository.

[2020-09-24 15:57] milicag commented on #2695
@sjpfenninger Thanks, I moved the license back to the root. Just as a note, the paper compiled fine when it was on the root of the master. I deleted that branch as the PR was merged.

[2020-09-24 16:02] sjpfenninger commented on #2644
@Christopher-Khan Great, we're ready to accept this. Can you make a tagged release on GitHub and archive that release, for example on Zenodo or figshare, then report the version number and archive DOI back here in the review issue?

[2020-09-24 16:29] s-goldman commented on #2554
@TomGoffrey Thanks for the issues and for really testing the limits of the code. I'll try to have these done soon.

I was a little unsure on how to phrase how the code was previously used, and was hoping you might give some guidance on it, so thank you. I will add that an earlier version of the code has been used in Orosz et al. 2017 & Goldman et al. 2017, 2018, 2019a, 2019b.

[2020-09-24 16:43] xuanxu commented on #2695
Yeah, that was it, I've updated the URL and now it should work

[2020-09-24 16:43] xuanxu commented on #2695
@whedon generate pdf

[2020-09-24 16:44] whedon commented on #2695
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02695/joss.02695/10.21105.joss.02695.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02695/joss.02695/10.21105.joss.02695.pdf) :page_facing_up: :point_left:

[2020-09-24 16:47] danielskatz commented on #2685
Thanks for getting started @gonsie
@carothersc, let me know if you need anything on your side

[2020-09-24 16:48] danielskatz commented on #2646
👋 @skadio, @prw99r, @r-a-hoggarth - Just checking in on this again...

[2020-09-24 16:49] danielskatz commented on #2282
👋 @mikerspencer - How is your review coming?  Can you give us some idea when you might expect to complete it?

[2020-09-24 16:50] danielskatz commented on #2664
👋 @rafaelfsilva @Himscipy - I'm just checking in to see how things are going...

[2020-09-24 16:53] paxtonfitzpatrick commented on #2669
@mortonne thanks very much for addressing these issues—all your fixes look great to me!  I'm more than happy with the changes you've made, and am looking forward both to using `psifr` myself and seeing how the package grows in the future.

[2020-09-24 16:53] TomGoffrey commented on #2554
No worries. I think something along the lines of

should be fine.

I'm still trying to work out if the OrderedDict error is specific to my set-up, or a python3.6 vs python3.7 issue. I know there were changes to Dict vs OrderedDict between those two versions, but I'm not aware of those changes causing such an issue.

[2020-09-24 17:07] sjpfenninger commented on #2695
@xuanxu Great, thanks! @milicag Looks like it's resolved. Might not have been the subdir, but I suggest keeping it anyway to make things neater.

[2020-09-24 17:28] s-goldman commented on #2554
@TomGoffrey I appreciate that, i'll try to see if I can reproduce the error on my end.

[2020-09-24 17:43] s-goldman commented on #2554
@whedon generate pdf

[2020-09-24 17:44] whedon commented on #2554
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02554/joss.02554/10.21105.joss.02554.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02554/joss.02554/10.21105.joss.02554.pdf) :page_facing_up: :point_left:

[2020-09-24 18:06] kthyng commented on #2497
Ok I see issues #28 and #34 which I have commented on there. I would like to hear from the reviewers there if possible @castelao @kakearney.

@kakearney is #30 meant to be a suggestion?

Generally I'd like to hear from both reviewers about their responses to the author responses. Thank you.

[2020-09-24 18:07] kthyng commented on #2341
@whedon set 10.5281/zenodo.4044683 as archive

[2020-09-24 18:07] whedon commented on #2341
OK. <a href="https://doi.org/10.5281/zenodo.4044683" target="_blank">10.5281/zenodo.4044683</a> is the archive.

[2020-09-24 18:07] kthyng commented on #2341
@whedon accept

[2020-09-24 18:07] whedon commented on #2341
[code]

[2020-09-24 18:08] whedon commented on #2341
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1751

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1751, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-24 18:09] kthyng commented on #2341
@whedon accept deposit=true

[2020-09-24 18:10] whedon commented on #2341
[code]

[2020-09-24 18:11] whedon commented on #2341
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1309193700883521540) 👈 🐦🐦🐦

[2020-09-24 18:11] whedon commented on #2341
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1752
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02341](https://doi.org/10.21105/joss.02341)
2. If everything looks g

[2020-09-24 18:11] kthyng commented on #2341
Congrats on your new publication @pfeiffea! Many thanks to reviewers @zsylvester and @ebgoldstein for your time, expertise, and hard work. We couldn't do this without you!

(I will leave this issue open until the DOI resolves)

[2020-09-24 18:14] lnferris commented on #2497
@kthyng, thanks for the update; sounds good! Also, I added a new function (glider_build, for US IOOS archived glider data) since they reviewed. I documented it the same way as the others, but let me know if anyone has an issue with this.

[2020-09-24 18:16] #2341 closed

[2020-09-24 18:16] whedon commented on #2341
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02341/status.svg)](https://doi.org/10.21105/joss.02341)

**We need your help!**

Journal of Open Source Softwa

[2020-09-24 18:50] kakearney commented on #2497
Regarding the highlighted issues, lnferris/ocean_data_tools#28 was only a suggestion on my part.    lnferris/ocean_data_tools#30 was more of a requirement; it looks like the recent updates do add much better input parsing and validation, but I have not yet had a chance to run any tests of my own (and likely won't for another two weeks due to workload).

More details regarding 28:

Within the Matla

[2020-09-24 19:23] lnferris commented on #2497
@kakearney Do you recommend a particular markdown-to-html converter?

[2020-09-24 19:38] Gabriel-p commented on #2308
Still a no go (I have an old 8 Gb system, sorry). Perhaps @astrom-tom is able to perform a test run using these files?

This is still in the PDF. Is it a missing reference or is 'b-spline @kelson2003 sky subtraction' a method? If so, please re-phrase or expand.

[2020-09-24 19:45] arfon commented on #2654
@whedon accept deposit=true

[2020-09-24 19:45] whedon commented on #2654
[code]

[2020-09-24 19:46] whedon commented on #2654
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1309217686707228672) 👈 🐦🐦🐦

[2020-09-24 19:46] whedon commented on #2654
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1753
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02654](https://doi.org/10.21105/joss.02654)
2. If everything looks g

[2020-09-24 19:49] arfon commented on #2654
@danhey, @coljac - many thanks for your reviews here ✨

@martin-millon - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-09-24 19:49] #2654 closed

[2020-09-24 19:49] whedon commented on #2654
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02654/status.svg)](https://doi.org/10.21105/joss.02654)

**We need your help!**

Journal of Open Source Softwa

[2020-09-24 19:50] arfon commented on #2641
:wave: @bsipocz & @joshspeagle - just wanted to check in to see how you're getting along with your reviews here?

[2020-09-24 20:25] profxj commented on #2308
Have now fixed kelson on `joss-paper-branch`

[2020-09-24 20:36] arunpersaud commented on #2688
Thanks @aquilesC for the detailed review. A lot to go through ;) I agree with most points and will have to look more into some of the others. Also thanks for pointing out some of the other libraries. I wasn't aware of PyMeasure and that looks very interesting. For a few points I probably have some followup questions and was wondering if you would be available to discuss them (perhaps offline to no

[2020-09-24 22:27] prw99r commented on #2646
Just getting into the JOSS way of doing things - learning as I go...

On Thu, Sep 24, 2020 at 5:48 PM Daniel S. Katz <notifications@github.com>
wrote:

[2020-09-24 22:37] kakearney commented on #2497
Most of my own documentation is written in Matlab and converted directly to
html via Matlab's publish function.  I also use my own publishreadme
<https://github.com/kakearney/publishreadme-pkg> Matlab function to
publish marked-up
Matlab scripts
<https://www.mathworks.com/help/matlab/matlab_prog/marking-up-matlab-comments-for-publishing.html>
directly
to both html and Github-flavored markdown.  I

[2020-09-25 03:50] aquilesC commented on #2688
@arunpersaud , sure you can reach out (just check my profile to see how you prefer to do so)! However, bear in mind that my time for coaching is somewhat limited at the moment. You can also check [this meta-repository](https://github.com/python-data-acquisition/meta/issues), which has tons of interesting people involved with python+instrumentation, and [this catalog of projects](https://github.com

[2020-09-25 05:35] arfon commented on #2691
:wave: @CosiMichele -  thanks for your submission to JOSS. On quick inspection, this tool looks like it's designed for teaching which would likely make this out of scope for JOSS.

I'm going to flag this for a scope review which will take a little time and another editor will loop back to this next week sometime.

[2020-09-25 05:35] arfon commented on #2691
@whedon query scope

[2020-09-25 05:35] whedon commented on #2691
Submission flagged for editorial review.

[2020-09-25 05:36] whedon opened #2697 "[PRE REVIEW]: Predihood: an open-source tool for describing and predicting neighbourhoods' environment"
**Submitting author:** @fduchatea (<a href="http://orcid.org/0000-0001-6803-917X">Fabien Duchateau</a>)
**Repository:** <a href="https://gitlab.liris.cnrs.fr/fduchate/predihood" target ="_blank">https://gitlab.liris.cnrs.fr/fduchate/predihood</a>
**Version:** 1.0
**Editor:** @galessiorob
**Reviewers:** @jdalzatec, @omshinde, @nuest, @martinfleis
**Managing EiC:** Arfon Smith

**:warning: JOSS redu

[2020-09-25 05:37] whedon commented on #2697
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-25 05:37] whedon commented on #2697
PDF failed to compile for issue #2697 with the following error:

 Can't find any papers to compile :-(

[2020-09-25 05:37] whedon opened #2698 "[PRE REVIEW]: pytomoviewer.py: A simple tomography viewer with TIFF to RAW converter"
**Submitting author:** @victorsapucaia (<a href="http://orcid.org/0000-0002-5394-2603">Victor Wriedt Sapucaia</a>)
**Repository:** <a href="https://github.com/LCC-UFF/pytomoviewer" target ="_blank">https://github.com/LCC-UFF/pytomoviewer</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2020-09-25 05:37] whedon commented on #2698
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-25 05:37] whedon commented on #2697
[code]

[2020-09-25 05:37] whedon commented on #2698
Failed to discover a `Statement of need` section in paper

[2020-09-25 05:37] whedon commented on #2698
[code]

[2020-09-25 05:37] whedon commented on #2698
[code]

[2020-09-25 05:37] whedon commented on #2697
[code]

[2020-09-25 05:38] whedon commented on #2698
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02698/joss.02698/10.21105.joss.02698.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02698/joss.02698/10.21105.joss.02698.pdf) :page_facing_up: :point_left:

[2020-09-25 05:43] arfon commented on #2698
@whedon query scope

:wave: @victorsapucaia - thanks for your submission to JOSS. Given the size and scope of this package, I'm flagging it for editorial review for scope/fit in JOSS. This will likely take ~1 week before you hear back here.

[2020-09-25 05:43] whedon commented on #2698
Submission flagged for editorial review.

[2020-09-25 05:53] arfon commented on #2382
/ cc @augustfly for visibility on this submission as I believe @crawfordsm is no-longer acting as software editor for AAS. (Gus - we're waiting on the AAS DOI to wrap up this submission)

[2020-09-25 05:56] arfon commented on #2373
@whedon accept deposit=true from branch release-20.05

[2020-09-25 05:56] whedon commented on #2373
[code]

[2020-09-25 05:57] whedon commented on #2373
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1309371347273998336) 👈 🐦🐦🐦

[2020-09-25 05:57] whedon commented on #2373
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1754
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02373](https://doi.org/10.21105/joss.02373)
2. If everything looks g

[2020-09-25 06:00] arfon commented on #2373
@mattwthompson, @hmacdope - many thanks for your reviews here and to @richardjgowers for editing this submission ✨

@salanne - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-09-25 06:00] #2373 closed

[2020-09-25 06:00] whedon commented on #2373
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02373/status.svg)](https://doi.org/10.21105/joss.02373)

**We need your help!**

Journal of Open Source Softwa

[2020-09-25 06:09] arfon commented on #2681
@whedon reject

:wave: @vc1492a, thanks for your submission to JOSS. After review by our editorial team, this submission has been flagged as out of scope as a minor utility.

[2020-09-25 06:09] whedon commented on #2681
Paper rejected.

[2020-09-25 06:09] #2681 closed

[2020-09-25 06:44] lnferris commented on #2497
@kakearney I implemented the Matlab documentation and mentioned the availability of this documentation under "Accessing Help" in the GitHub readme. For future reference, I used [grip](https://github.com/joeyespo/grip) to convert markdown to html.

<img width="1043" alt="Screen Shot 2020-09-25 at 2 42 30 AM" src="https://user-images.githubusercontent.com/24570061/94235028-dea57d80-fed8-11ea-9c12-49

[2020-09-25 06:52] lnferris commented on #2497
@whedon generate pdf

[2020-09-25 06:53] whedon commented on #2497
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02497/joss.02497/10.21105.joss.02497.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02497/joss.02497/10.21105.joss.02497.pdf) :page_facing_up: :point_left:

[2020-09-25 07:30] yangbai90 commented on #2626
Hi @meg-simula , I'm very happy to be the reviewer.

[2020-09-25 08:41] robinroche commented on #2637
Hi, I will work on it next week. Sorry for the delay.

[2020-09-25 09:05] meg-simula commented on #2626
Great, thanks @yangbai90!

[2020-09-25 09:05] meg-simula commented on #2626
@whedon add @yangbai90 as reviewer

[2020-09-25 09:05] whedon commented on #2626
OK, @yangbai90 is now a reviewer

[2020-09-25 09:05] meg-simula commented on #2626
@whedon start review

[2020-09-25 09:06] whedon opened #2699 "[REVIEW]: hawen: time-harmonic wave modeling and inversion using hybridizable discontinuous Galerkin discretization"
**Submitting author:** @flofaucher (<a href="http://orcid.org/0000-0003-4958-7511">Florian Faucher</a>)
**Repository:** <a href="https://gitlab.com/ffaucher/hawen" target ="_blank">https://gitlab.com/ffaucher/hawen</a>
**Version:** 1.0.0
**Editor:** @meg-simula
**Reviewer:** @chennachaos, @yangbai90
**Archive:** <a href="https://doi.org/11353/10.1144094">11353/10.1144094</a>

**:warning: JOSS redu

[2020-09-25 09:06] whedon commented on #2626
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2699.

[2020-09-25 09:06] #2626 closed

[2020-09-25 09:06] whedon commented on #2699
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @chennachaos, @yangbai90 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-09-25 09:06] whedon commented on #2699
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02699/joss.02699/10.21105.joss.02699.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02699/joss.02699/10.21105.joss.02699.pdf) :page_facing_up: :point_left:

[2020-09-25 09:06] meg-simula commented on #2699
@yangbai90 @chennachaos Thanks again for agreeing to review. Checklists have been generated for each you above, ready for your review :-)

[2020-09-25 09:07] whedon commented on #2699
[code]

[2020-09-25 09:08] meg-simula commented on #2687
Ok, thanks @arfon!

@nschloe @jorgensd @krober10nd Thanks for your patience - ready for the review now.

[2020-09-25 09:25] nedRad88 commented on #2676
Hi @GregaVrbancic,
Thanks for the remarks.
Regarding authorship, the repository was not established back then when the project was started, so that is why Albert and Dihia don't appear in the commit history. If you check the second commit (https://github.com/nedRad88/SCALAR/tree/944fe1ae3eda7e3b2d481f81618dfd71d38cfa92) you can see that the project existed before creating the repository.
Regarding

[2020-09-25 09:29] will-rowe commented on #2672
Thank you very much for your detailed review @CFGrote - much appreciated.

@xyzmjf - please let us know how you are getting on with your review and if you need anything.

Cheers,

Will

[2020-09-25 09:30] whedon opened #2700 "[PRE REVIEW]: Design and Development of Open Source Software Solution for Hyperspectral Data Simulation: HyDAS"
**Submitting author:** @kamalisro (<a href="http://orcid.org/0000-0002-4264-6489">Kamal Pandey</a>)
**Repository:** <a href="https://github.com/kamalisro/HyDAS.git" target ="_blank">https://github.com/kamalisro/HyDAS.git</a>
**Version:** V1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2020-09-25 09:30] whedon commented on #2700
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-25 09:30] whedon commented on #2700
PDF failed to compile for issue #2700 with the following error:

 Can't find any papers to compile :-(

[2020-09-25 09:32] arfon commented on #2700
@whedon reject

:wave: @kamalisro, there's no paper associated with this submission. Please review the submission guidelines https://joss.readthedocs.io/en/latest/submitting.html and resubmit when you are ready.

[2020-09-25 09:32] whedon commented on #2700
Paper rejected.

[2020-09-25 09:32] #2700 closed

[2020-09-25 09:39] prw99r commented on #2646
@whedon How to I edit my review checklist?

[2020-09-25 09:39] whedon commented on #2646
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-25 09:39] prw99r commented on #2646
@danielskatz How do I edit my review checklist?

[2020-09-25 11:03] danielskatz commented on #2646
@whedon re-invite @prw99r as reviewer

[2020-09-25 11:03] whedon commented on #2646
OK, the reviewer has been re-invited.

@prw99r please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-25 11:10] caldarolamartin commented on #2693
Hi. I cannot modify the check list and the link to accept is expired. @pibion could you please give me a hand to solve this? Thanks

[2020-09-25 11:35] krober10nd commented on #2687
Thanks could you correct the title please?  It says ERR ..

[2020-09-25 12:16] anwarbio commented on #2402
Hi  @tomsing1 ,
Please let me know the concerns you may have. I am happy to consider them and make necessary modifications.
Thanks,
Anwar

[2020-09-25 12:58] mikerspencer commented on #2282
Hi @danielskatz, apologies for the radio silence. I'm in the last two weeks of my current job, so things are a little frantic finishing tasks and tidying loose ends.

I will have more time from the 12th Oct, are you OK to wait until then?

[2020-09-25 13:29] augustfly commented on #2382
@arfon I'm not finding an AAS submission id for a work related to this JOSS paper.

[2020-09-25 13:34] danielskatz commented on #2282
Ok, we can wait until then (since trying to bring in another reviewer would likely be equally as long)

[2020-09-25 13:35] danielskatz commented on #2282
@whedon reminder @mikerspencer in 17 days

[2020-09-25 13:35] whedon commented on #2282
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-25 13:35] danielskatz commented on #2282
whedon remind @mikerspencer in 17 days

[2020-09-25 13:36] danielskatz commented on #2282
@whedon remind @mikerspencer in 17 days

[2020-09-25 13:36] whedon commented on #2282
Reminder set for @mikerspencer in 17 days

[2020-09-25 13:37] mikerspencer commented on #2282
Many thanks - unfortunately life has overtaken me this time!

[2020-09-25 14:23] samuelduchesne commented on #2637
Still working on it! Thanks

[2020-09-25 14:44] kbarnhart commented on #2637
@robinroche and @samuelduchesne thanks for checking in. As I noted above, the recent reminder marks three weeks into the review and JOSS is asking reviewers to complete reviews in six weeks. Thanks in advance for your contributions to the JOSS review process.

[2020-09-25 15:39] arfon commented on #2382
OK thanks @augustfly. In [this comment](https://github.com/openjournals/joss-reviews/issues/2330#issuecomment-643191751) @KathrynJones1 suggested an AJ submission was coming.

@KathrynJones1 - can you update us on your plans here?

[2020-09-25 15:47] KathrynJones1 commented on #2382
@arfon @augustfly yes we are in the final stages of preparing the other paper and plan to submit to AJ very soon. I will let you know when we do this

[2020-09-25 16:35] davidhassell commented on #2531
@usethedata, We are happy to suggest another reviewer, if there have not yet been any other takers from your invitations.

Thanks, David

[2020-09-25 16:44] xuanxu commented on #2382
@KathrynJones1 please merge [this pending pull request](https://github.com/KathrynJones1/catwoman/pull/14), it adds the missing journal names to the paper.

[2020-09-25 17:39] Christopher-Khan commented on #2644
Hi @sjpfenninger. Great! Here is the Zenodo information: 10.5281/zenodo.4050385. Before archiving, I also made 3 minor edits to the paper unrelated to your edits (just reworded 3 sentences). Thank you!

[2020-09-25 17:47] terrytangyuan commented on #2607
@whedon check references

[2020-09-25 17:48] whedon commented on #2607
[code]

[2020-09-25 17:49] terrytangyuan commented on #2607
@jonasrauber At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:
- The title of the archive is the same as the JOSS paper title
- That the auth

[2020-09-25 19:15] mikldk commented on #2600
@marcoapintoo, @tylerwmarrs: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-09-25 19:15] mikldk commented on #2583
Thanks, @arfon . I was worried removing the reviewer would cause trouble. Cheers.

[2020-09-25 19:17] mikldk commented on #2583
@whedon check references

[2020-09-25 19:17] whedon commented on #2583
[code]

[2020-09-25 19:17] mikldk commented on #2583
@whedon accept

[2020-09-25 19:17] whedon commented on #2583
[code]

[2020-09-25 19:18] whedon commented on #2583
[code]

[2020-09-25 19:18] whedon commented on #2583
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1755

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1755, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-25 19:19] mikldk commented on #2583
@neerajdhanraj, @edifice1989 Thank you very much for your effort in reviewing this paper!

[2020-09-25 19:20] mikldk commented on #2526
@whedon check references

[2020-09-25 19:21] whedon commented on #2526
[code]

[2020-09-25 19:21] mikldk commented on #2526
@daviddewhurst, @rrrlw Thank you very much for your effort in reviewing this paper!

[2020-09-25 19:21] mikldk commented on #2526
@whedon accept

[2020-09-25 19:21] whedon commented on #2526
[code]

[2020-09-25 19:22] whedon commented on #2526
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1756

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1756, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-25 19:22] whedon commented on #2526
[code]

[2020-09-25 19:24] nhejazi commented on #2526
Hi @mikldk, I can address the missing DOI 10.1111/biom.13375 if necessary (the paper was _just accepted_ this week), but I don't think it would be a problem to accept as is, since the two submissions were ongoing concurrently. Happy to address this if it's an issue. Thanks for your work in curating/editing this JOSS submission.

[2020-09-25 19:25] fduchatea commented on #2697
Suggestions for potential reviewers: nuest, martinfleis, hugoledoux, molgor, nagelette, AndrewAnnex, omshinde,

[2020-09-25 19:25] fduchatea commented on #2697
@whedon generate pdf

[2020-09-25 19:27] whedon commented on #2697
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02697/joss.02697/10.21105.joss.02697.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02697/joss.02697/10.21105.joss.02697.pdf) :page_facing_up: :point_left:

[2020-09-25 19:44] r-a-hoggarth commented on #2646
@whedon re-invite @r-a-hoggarth as reviewer

[2020-09-25 19:45] whedon commented on #2646
I'm sorry @r-a-hoggarth, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-09-25 19:51] danielskatz commented on #2646
@whedon re-invite @r-a-hoggarth as reviewer

[2020-09-25 19:51] whedon commented on #2646
OK, the reviewer has been re-invited.

@r-a-hoggarth please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-25 20:11] fboehm commented on #2402
Thanks, @homonecloco, for your review! @tomsing1 - how is your review progressing? Please let me know if I can assist with something. Thanks again!

[2020-09-25 20:55] arfon commented on #2583
@bblodfon - could you please merge this small PR before we accept the paper: https://github.com/bblodfon/emba/pull/3 ? This just tweaks the formatting of a couple of references for improved readability.

[2020-09-25 21:06] mikldk commented on #2583
Thanks for catching these, @arfon.

[2020-09-25 21:08] mikldk commented on #2526
@nhejazi If you have an updated DOI then please use that.

[2020-09-25 21:42] lincoln-harris commented on #2432
ok the git archive has now been added to zenodo. DOI is 10.5281/zenodo.4050557, for latest version of the code, v1.2.0

[2020-09-25 21:52] nhejazi commented on #2526
@mikldk Ok, I've fixed the missing DOI identified by whedon and finalized a new Zenodo release for this submission. That Zenodo archive has DOI 10.5281/zenodo.4050561. We should be all set to finalize.

[2020-09-25 21:56] gassmoeller commented on #2585
I have reviewed the software and opened a few issues for minor points as linked above. I have some concerns about the code structure that I raise below, but the submission itself was well prepared and the code is easy to read and seems well tested. The software is useful and the paper is a nice summary and fits into JOSS's scope. I would like to have a conversation about the points I raise below,

[2020-09-25 21:58] nhejazi commented on #2526
@whedon check references

[2020-09-25 21:59] whedon commented on #2526
[code]

[2020-09-25 21:59] nhejazi commented on #2526
@whedon generate pdf

[2020-09-25 22:00] whedon commented on #2526
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02526/joss.02526/10.21105.joss.02526.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02526/joss.02526/10.21105.joss.02526.pdf) :page_facing_up: :point_left:

[2020-09-25 22:01] nhejazi commented on #2526
Proof LGTM! I'm not sure I can run whedon accept myself so I'll just wait on that one.

[2020-09-25 23:22] kbarnhart commented on #2585
@gassmoeller thanks so much for your thoughtful review. 👍

A quick note to @elbeejay and co-authors. As you address these issues I'd recommend you start an in-repo issue, and corresponding with @gassmoeller about the details there. That way the multiple comments can be addressed on separate threads.

[2020-09-25 23:38] jordanperr commented on #2171
@sjpfenninger, We have completed the issues reported by the JOSS reviewers in our issue tracker and have merged these into develop (and at this point, they are also in Master). The most recent version of the paper is still in the joss-review branch, with an open pull request in to develop.

There are still some minor things to do on the paper itself. The major challenge is that we've had a new maj

[2020-09-26 00:21] bblodfon commented on #2583
Hi @arfon, thanks for reading proof-reading my paper! I merged the PR. Though I think the **previous version** on the following sentence is better suited:
...suggest new therapeutic combination candidates, among others (Flobak at al. 2015). (**previous**)
...suggest new therapeutic combination candidates, among others Flobak et al. (2015). (**after the PR**) The way its written now allows for a mo

[2020-09-26 01:55] kenohori commented on #2538
Thank you for all the work, @skapfer! It's all looking quite well.

Honestly, not being very acquainted with Minkowski tensors, I don't have much to add regarding the paper. It's clear, reads well and serves as a very good introduction to the topic. The examples are very nice and representative. They also piqued my interest about using Minkowski tensors as shape descriptors. I think the paper has

[2020-09-26 03:31] rafaelfsilva commented on #2664
@iaklampanos, I am following the installation steps (in a local VM) provided at https://project-dare.gitlab.io/dare-platform/configuration/, but I am having issues installing Keycloak:
[code]
**Any insights?**

Also, a small typo to fix in the installation instructions for the Rook Shared file system is to have the `git checkout release-0.8` after the `cd rook/cluster/examples/kubernetes/ceph` com

[2020-09-26 06:55] arfon commented on #2583
That's fine. I think I mis-interpreted the logical flow of the sentence. Feel free to revert!

[2020-09-26 06:55] whedon opened #2701 "[PRE REVIEW]: EllipSect: A Python tool for surface brightness analysis for GALFIT"
**Submitting author:** @canorve (<a href="http://orcid.org/0000-0002-3721-8869">Christopher Anorve</a>)
**Repository:** <a href="https://github.com/canorve/EllipSect" target ="_blank">https://github.com/canorve/EllipSect</a>
**Version:**  v1.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2020-09-26 06:55] whedon commented on #2701
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-26 06:56] whedon commented on #2701
[code]

[2020-09-26 06:56] whedon commented on #2701
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02701/joss.02701/10.21105.joss.02701.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02701/joss.02701/10.21105.joss.02701.pdf) :page_facing_up: :point_left:

[2020-09-26 07:00] jonasrauber commented on #2607
@terrytangyuan Done. Foolbox 3.2.1 is now published on [Zenodo](https://zenodo.org/record/4050932). The DOI is `10.5281/zenodo.4050932` (or `10.5281/zenodo.4050931` for all versions).

[2020-09-26 07:03] arfon commented on #2701
@whedon check repository

[2020-09-26 07:03] whedon commented on #2701
Failed to discover a `Statement of need` section in paper

[2020-09-26 07:03] whedon commented on #2701
[code]

[2020-09-26 07:04] arfon commented on #2701
@whedon query scope

[2020-09-26 07:04] whedon commented on #2701
Submission flagged for editorial review.

[2020-09-26 07:06] arfon commented on #2701
@canorve - many thanks for your submission to JOSS. Before proceeding to assign and editor I'm going to check with a few other editors on the scope of this submission. This will likely take a week so sit tight for now :-)

[2020-09-26 07:31] arfon commented on #2526
@whedon set 10.5281/zenodo.4050561 as archive

[2020-09-26 07:31] whedon commented on #2526
OK. <a href="https://doi.org/10.5281/zenodo.4050561" target="_blank">10.5281/zenodo.4050561</a> is the archive.

[2020-09-26 07:31] arfon commented on #2526
@whedon accept

[2020-09-26 07:31] whedon commented on #2526
[code]

[2020-09-26 07:32] whedon commented on #2526
[code]

[2020-09-26 07:32] whedon commented on #2526
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1757

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1757, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-26 07:35] arfon commented on #2526
@whedon accept deposit=true

[2020-09-26 07:35] whedon commented on #2526
[code]

[2020-09-26 07:36] whedon commented on #2526
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1309758668804681728) 👈 🐦🐦🐦

[2020-09-26 07:36] whedon commented on #2526
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1758
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02526](https://doi.org/10.21105/joss.02526)
2. If everything looks g

[2020-09-26 07:40] arfon commented on #2526
@daviddewhurst, @rrrlw - many thanks for your reviews here and to @mikldk for editing this submission ✨

@nhejazi - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-09-26 07:40] #2526 closed

[2020-09-26 07:40] whedon commented on #2526
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02526/status.svg)](https://doi.org/10.21105/joss.02526)

**We need your help!**

Journal of Open Source Softwa

[2020-09-26 07:47] Christopher-Khan commented on #2644
@whedon generate pdf

[2020-09-26 07:48] whedon commented on #2644
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: :point_left:

[2020-09-26 07:49] Christopher-Khan commented on #2644
@whedon generate pdf

[2020-09-26 07:51] whedon commented on #2644
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: :point_left:

[2020-09-26 09:42] bblodfon commented on #2583
@whedon generate pdf

[2020-09-26 09:43] whedon commented on #2583
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02583/joss.02583/10.21105.joss.02583.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02583/joss.02583/10.21105.joss.02583.pdf) :page_facing_up: :point_left:

[2020-09-26 09:45] bblodfon commented on #2583
Ok, everything seems in order now!

[2020-09-26 10:47] sambit-giri commented on #2582
Hi @steven-murray

Can you make the GitHub repository self-sustained? You can add a short summary of what 21cmFast can do. It will be helpful for new users. You should also add some of the easiest installation method (for more details you provide a link to your readthedocs installation page), instructions about automated tests post-installation and community guidelines (contribution, raising issue

[2020-09-26 12:15] sambit-giri commented on #2582
@steven-murray

My automated tests failed. I am attaching a file containing the output I received while running `python -m pytest`.

[pytest_output.txt](https://github.com/openjournals/joss-reviews/files/5286637/pytest_output.txt)

[2020-09-26 12:17] arfon commented on #2583
@whedon accept

[2020-09-26 12:17] whedon commented on #2583
[code]

[2020-09-26 12:18] whedon commented on #2583
[code]

[2020-09-26 12:18] whedon commented on #2583
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1759

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1759, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-26 12:20] arfon commented on #2583
@whedon accept deposit=true

[2020-09-26 12:20] whedon commented on #2583
[code]

[2020-09-26 12:21] whedon commented on #2583
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1309830339351719936) 👈 🐦🐦🐦

[2020-09-26 12:21] whedon commented on #2583
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1760
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02583](https://doi.org/10.21105/joss.02583)
2. If everything looks g

[2020-09-26 12:23] arfon commented on #2583
@neerajdhanraj, @edifice1989 - many thanks for your reviews here and to @mikldk for editing this submission ✨

@bblodfon - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-09-26 12:23] #2583 closed

[2020-09-26 12:23] whedon commented on #2583
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02583/status.svg)](https://doi.org/10.21105/joss.02583)

**We need your help!**

Journal of Open Source Softwa

[2020-09-26 12:28] arfon commented on #2697
@fduchatea - thanks for your submission. Could you clarify the research purpose of this software? I'm a little unclear reading your paper.

[2020-09-26 12:33] dfm commented on #2596
:wave: @smutch: Can you take another look at this when you get a chance to see if your remaining concerns have been addressed or if you have other suggestions? Thanks!

[2020-09-26 13:04] sambit-giri commented on #2582
@steven-murray
Thanks for updating the software paper.

Just a final comment on that. The link given for Figure 1 is wrong. There is a hyphen in `light-cones` in the link given, but I see the high-resolution image at http://homepage.sns.it/mesinger/Media/lightcones_minihalo.png

[2020-09-26 14:57] ManniDasMammut commented on #2538
Dear @kenohori,

thank you very much for your feedback.

Regarding the morphometer, in our first iteration of the paper, we already have refined the title and the scope of the paper to only describe the library papaya2. We realized that having both, papaya2 and the morphometer, in the paper is too much and not very comprehensible.

In the latest iteration of the paper, we only use the morphometer

[2020-09-26 15:07] Jammy2211 commented on #2550
I have responded to all suggestions :). Pretty much every single one improved the quality of the software and docs significantly, so thank you!

I have added uravu to the software list at the bottom, but not in the main body of text. uravu looks like a really cool project and shares a lot of similarity with PyAutoFit given how we both focus on emcee and dynesty. However, it doesn't take me as a pr

[2020-09-26 15:09] Jammy2211 commented on #2550
Also, if you have any recommendations for logo designers please do let me know - its definitely one of the most important things we're missing. I have the artistic talents of a sponge :(.

[2020-09-26 15:58] kenohori commented on #2538
Thanks for the response, @ManniDasMammut.

I do agree that morphometer should be in its own repository and publication. Just wanted to point out that it's currently rather user unfriendly to download it (by finding the required files manually).

Regarding macOS Catalina, I have the same issues with -Werror. My best guess is that it's an issue with clang 10.

[2020-09-26 16:03] ManniDasMammut commented on #2538
Dear @kenohori,
can you please provide an error message, because we cannot reproduce the error on our systems with clang 10 (Catalina and High Sierra).
Thank you very much.

[2020-09-26 16:14] kenohori commented on #2538
Sure! This is what happens when I run the cgal checks manually:

[code]

[2020-09-26 16:19] skapfer commented on #2538
@kenohori  This should not be happening with the most version of the demos. Can you try that after `git pull`?

[2020-09-26 16:24] kenohori commented on #2538
Indeed it doesn't happen with the most recent version of the demos (without -Werror).

Maybe it was a misunderstanding? I thought you wanted me to provide the boost warnings that cause the clang checks to fail when -Werror is present.

[2020-09-26 16:28] ManniDasMammut commented on #2538
@kenohori, yes, this was a misunderstanding. So everything should be fine now?

[2020-09-26 16:34] kenohori commented on #2538
Yes, everything is working now!

[2020-09-26 17:01] terrytangyuan commented on #2607
@whedon set v3.2.1 as version

[2020-09-26 17:01] whedon commented on #2607
OK. v3.2.1 is the version.

[2020-09-26 17:02] terrytangyuan commented on #2607
@whedon set 10.5281/zenodo.4050932 as archive

[2020-09-26 17:02] whedon commented on #2607
OK. <a href="https://doi.org/10.5281/zenodo.4050932" target="_blank">10.5281/zenodo.4050932</a> is the archive.

[2020-09-26 17:02] terrytangyuan commented on #2607
@whedon accept

[2020-09-26 17:02] whedon commented on #2607
[code]

[2020-09-26 17:03] whedon commented on #2607
[code]

[2020-09-26 17:03] whedon commented on #2607
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1761

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1761, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-26 17:04] terrytangyuan commented on #2607
@openjournals/joss-eics This paper looks good to me now. Handing over to you now!

[2020-09-26 17:08] rafaelfsilva commented on #2664
@iaklampanos, in the software paper, could you please add one additional section that provides a short overview of the state of the field?
- **State of the field:** Do the authors describe how this software compares to other commonly-used packages?

I noticed you have a very good description of the state of the field in the papers below, so it would only be a matter of summarizing them in the soft

[2020-09-26 17:45] lootie commented on #2463
Hi @VivianePons @felixcremer @daviddewhurst I am happy to answer any questions you have or make changes based on your suggestions.
Since the submission of this article, I have added additional functionality for time series with missing data, and I welcome any comments on this as well.

[2020-09-26 18:47] Himscipy commented on #2664
👋  @danielskatz , I am on it...!! busy times at workplace.
@iaklampanos . The paper provides good source to know about the DARE platform and I agree with the @rafaelfsilva comment above that the addition of " State of the field" will further emphasis the gap which the DARE platform has filled.

[2020-09-26 21:18] fduchatea commented on #2697
Hello @arfon and thank you.
The motivation of the research is to characterize environment of neighbourhoods in a simple way (with a few attributes, such as type of buildings, type of landscape, location of the neighbourhood in the city, main social class, etc.). This is useful when people need to compare neighbourhoods (social sciences) or when searching an accomodation for instance.
However, in l

[2020-09-27 01:55] jordanperr commented on #2171
@whedon generate pdf from branch joss-review

[2020-09-27 01:55] whedon commented on #2171
[code]

[2020-09-27 01:56] whedon commented on #2171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: :point_left:

[2020-09-27 02:04] jordanperr commented on #2171
@sjpfenninger The paper is now ready aside from some very minor citation formatting issues which I will continue to work on. Please proceed with the review. The whole team is excited and eager to get this across the finish line! Thanks for your perseverance!

[2020-09-27 07:13] whedon opened #2702 "[PRE REVIEW]: Geoserver-rest: A python package for geospatial data management in geoserver"
**Submitting author:** @iamtekson (<a href="http://orcid.org/0000-0001-9275-5619">Tek Kshetri</a>)
**Repository:** <a href="https://github.com/gicait/geoserver-rest" target ="_blank">https://github.com/gicait/geoserver-rest</a>
**Version:** v1.1.3
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-09-27 07:13] whedon commented on #2702
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-27 07:13] whedon opened #2703 "[PRE REVIEW]: tipitaka: An R package for analyzing the Pali Canon"
**Submitting author:** @dangerzig (<a href="http://orcid.org/0000-0001-7138-5612">Dan Zigmond</a>)
**Repository:** <a href="https://github.com/dangerzig/tipitaka" target ="_blank">https://github.com/dangerzig/tipitaka</a>
**Version:** v0.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID

[2020-09-27 07:13] whedon commented on #2702
[code]

[2020-09-27 07:13] whedon commented on #2703
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-27 07:13] whedon commented on #2703
[code]

[2020-09-27 07:13] whedon commented on #2703
Failed to discover a valid open source license.

[2020-09-27 07:13] whedon commented on #2702
[code]

[2020-09-27 07:14] whedon commented on #2702
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02702/joss.02702/10.21105.joss.02702.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02702/joss.02702/10.21105.joss.02702.pdf) :page_facing_up: :point_left:

[2020-09-27 07:14] whedon commented on #2703
[code]

[2020-09-27 07:14] whedon commented on #2703
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02703/joss.02703/10.21105.joss.02703.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02703/joss.02703/10.21105.joss.02703.pdf) :page_facing_up: :point_left:

[2020-09-27 07:21] arfon commented on #2702
@whedon query scope

@iamtekson - many thanks for your submission to JOSS. I'm flagging this submission as potentially out of scope for JOSS due to its size and that it looks like a small API wrapper (which are out of scope for us).

In the meantime, feel free to work on your BibTeX files which @whedon has some suggestions for above.

[2020-09-27 07:21] whedon commented on #2702
Submission flagged for editorial review.

[2020-09-27 07:24] arfon commented on #2703
@dangerzig - many thanks for your submission to JOSS. Unfortunately this submission is out of scope for us due to it's [very small size](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

If the tool you have developed here was expanded into a more extended set of tools then it may become allowable in JOSS but in its current form falls well below our allowable li

[2020-09-27 07:24] arfon commented on #2703
@whedon reject

[2020-09-27 07:24] whedon commented on #2703
Paper rejected.

[2020-09-27 07:24] #2703 closed

[2020-09-27 07:26] arfon commented on #2697
Thanks @fduchatea.

Right. So the first of these sounds like a research question, the second is not. JOSS publishes _research_ software and so I'm trying to understand the research application of this tool.

Do you know if this tool has already been used for existing social science research?

[2020-09-27 07:43] arfon commented on #2218
@whedon query scope

@kthyng @richardjgowers given the scope and size of this submission I think we should ask the editorial team to review.

[2020-09-27 07:43] whedon commented on #2218
Submission flagged for editorial review.

[2020-09-27 08:18] iamtekson commented on #2702
@arfon Thank you for the quick response. It is an open-source geospatial data management project. It can do all the fundamental requirement for geoserver data management. This project seems small in size but it has a wider scope for automation of web-GIS development.

Yes, sure. I will correct the suggestions from @whedon.

According to @whedon report also, it has 1000+ LOC. I hope it meets the re

[2020-09-27 10:27] arfon commented on #2702
Just an FYI, the LOC count is mostly a guideline to help us identify submissions on the smaller side. Passing this threshold does not guarantee that a submission is in scope.

[2020-09-27 10:48] arfon commented on #2607
@whedon accept deposit=true

[2020-09-27 10:48] whedon commented on #2607
[code]

[2020-09-27 10:49] whedon commented on #2607
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1310169574504116225) 👈 🐦🐦🐦

[2020-09-27 10:49] whedon commented on #2607
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1762
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02607](https://doi.org/10.21105/joss.02607)
2. If everything looks g

[2020-09-27 10:50] arfon commented on #2607
@GregaVrbancic, @ethanwharris - many thanks for your reviews here and to @terrytangyuan for editing this submission ✨

@jonasrauber - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-09-27 10:50] #2607 closed

[2020-09-27 10:50] whedon commented on #2607
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02607/status.svg)](https://doi.org/10.21105/joss.02607)

**We need your help!**

Journal of Open Source Softwa

[2020-09-27 11:02] labarba commented on #1917
hi 👋  — it looks like this review fell in the back burner again?  @alexanderfurnas and @trallard : can you give us a status update?

[2020-09-27 11:18] labarba commented on #2509
👋 hi everybody!

It looks like @terrytangyuan has to find a second reviewer here—times are tough, so we need to be patient, but I think this needs a circle back!

[2020-09-27 11:24] labarba commented on #2565
hi 👋 @eileenrmartin – I'm the associate EiC on rotation this week. I notice this review has no movement in several weeks. Could we have an update from you about your availability to complete the review? Thanks!

[2020-09-27 11:28] labarba commented on #2483
hi 👋  – @arbennett , @usethedata: it looks like this review needs attention? The last movement is from over six weeks ago. Can you give us an update on your timeline for this? Thanks!

[2020-09-27 11:30] labarba commented on #2553
👋 hi everybody!

It looks like @usethedata needs to find reviewers here still —times are tough, so we need to be patient, but I think this needs a circle back!

[2020-09-27 11:34] labarba commented on #2277
hi 👋 – It looks like we may have lost @mih in this review? @richardjgowers, can this be taken to the finish line with the other two reviewers? It looks like we also wait for the author to report on some mods: how are you getting along, @dvm-shlee?

[2020-09-27 11:37] labarba commented on #2562
hi 👋  – It looks like this review needs attention. @trallard, @abhishektha : can we have an update from you on your timeline to work on this? Thanks!

[2020-09-27 11:40] labarba commented on #2220
hi 👋  – @lorenanicole: it looks like the reviewer needs some guidance here. Can you pop in to help?

@openjournals/dev – can you check why a reviewer is listed twice on the header comment? Should this be edited manually?

[2020-09-27 11:44] labarba commented on #2185
hi 👋 – @jedbrown, it looks like the author is waiting for your assessment of their mods. Pop in and have a look!

[2020-09-27 12:16] jonasrauber commented on #2607
@GregaVrbancic @ethanwharris @terrytangyuan @arfon Thanks for your efforts!

[2020-09-27 13:11] iamtekson commented on #2702
@arfon Thank you for taking the time to communicate with me. One more thing I just want to mention that, It is a rest API for geoserver but not just a wrapper. because the library supports the dynamic styling for raster as well as vector data. It can read the raster files and get the pixel values. Based on the raster pixel value, it can generate the style file (SLD) and for vector layer, We need t

[2020-09-27 13:11] iamtekson commented on #2702
@whedon generate pdf

[2020-09-27 13:11] xuanxu commented on #2220
He was added twice (in june [17th](https://github.com/openjournals/joss-reviews/issues/2220#issuecomment-645573740) and [26th](https://github.com/openjournals/joss-reviews/issues/2220#issuecomment-650300085)). I have edited it manually.

[2020-09-27 13:12] whedon commented on #2702
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02702/joss.02702/10.21105.joss.02702.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02702/joss.02702/10.21105.joss.02702.pdf) :page_facing_up: :point_left:

[2020-09-27 14:35] dangerzig commented on #2703
Hi. The tipitaka package is actually quite large – about 12MB, I believe.
(It was actually initially rejected by CRAN for being too big.) It is
primarily a data package, making a very valuable dataset (the Pali Canon)
widely available in electronic form for the first time. A small number of R
helped functions are provided for convenience, but the primary benefit of
the package is the data itself.

[2020-09-27 15:06] fboehm commented on #2474
Thank you, @tomaslaz ! Please let us know when you have addressed the issues.

Thanks again!!

[2020-09-27 15:08] juanvillada commented on #2638
The paper is well-written and references are appropriate. The authors make a good contribution to the field by building an open source software (R package) relevant to the identification of selective sweep in genomic regions. The package delivers what it aims. Overall, I think the paper is worth of publication.

Minor issues:

1. There are 4 co-authors listed on the paper while only one appears as

[2020-09-27 15:35] arfon commented on #2702
Thanks for the extra information. The next step is for our editorial team to give their input on this submission and whether we believe it's in scope. This will likely take up to a week so there's no action required on your part now.

[2020-09-27 15:39] arfon commented on #2703
Hi @dangerzig, at ~160 lines of R code, the _software_ associated with this submission is far too small to be considered in the Journal of Open Source _Software_.

The dataset may indeed be very valuable but I'm afraid is not appropriate for this journal.

[2020-09-27 15:39] jgostick commented on #2624
Hi  @WardLT are you still available to do this review?  The other reviewer has completed their review and the author has done some updates, so your review should be even more straight-forward.

[2020-09-27 16:11] dangerzig commented on #2703
Thanks for the further explanation. I may resubmit as the software
components become more involved.

     Dan

.

On Sun, Sep 27, 2020 at 8:39 AM Arfon Smith <notifications@github.com>
wrote:

-----------------------
Dan Zigmond
djz@shmonk.com

Sent from Gmail Mobile

[2020-09-27 17:52] arbennett commented on #2483
hi @labarba - I submitted my review on July 27 with some outstanding issues in being able to run some of the code. It looks like there has been recent development on the repo, but I haven't been updated on whether we should give another round of reviews.

[2020-09-27 18:27] WardLT commented on #2624
Excellent! I got back from vacation on Friday and will try to get this review out as I cope with my email backlog tomorrow!

[2020-09-27 18:39] dpsanders commented on #2392
I don't see a discussion in the paper about how the number of operations is counted.

@saschatimme and @henrik227, are you happy with the current version?

@alex-konovalov: Are you able to complete your review? If not, I will remove you as a reviewer.

[2020-09-27 18:47] dpsanders commented on #2678
@PhilipVinc: Would you be able to review this submission for JOSS?

[2020-09-27 18:48] dpsanders commented on #2384
Thanks! and sorry for the delay here.

I'm going to proceed towards publication!

[2020-09-27 18:49] dpsanders commented on #2384
@whedon set 10.5281/zenodo.4026516 as archive

[2020-09-27 18:49] whedon commented on #2384
OK. <a href="https://doi.org/10.5281/zenodo.4026516" target="_blank">10.5281/zenodo.4026516</a> is the archive.

[2020-09-27 18:49] dpsanders commented on #2384
@whedon set 0.1.2. as version

[2020-09-27 18:49] whedon commented on #2384
OK. 0.1.2. is the version.

[2020-09-27 18:49] dpsanders commented on #2384
@whedon set 0.1.2 as version

[2020-09-27 18:49] whedon commented on #2384
OK. 0.1.2 is the version.

[2020-09-27 18:50] dpsanders commented on #2384
@whedon accept

[2020-09-27 18:50] whedon commented on #2384
[code]

[2020-09-27 18:50] whedon commented on #2384
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1763

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1763, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-27 18:51] whedon commented on #2384
[code]

[2020-09-27 18:51] dpsanders commented on #2598
👋 Hi @davidjohannesmeyer, @dmbates and @wch: I'm checking in to check on progress with your reviews for the `set6` submission to JOSS.

[2020-09-27 18:53] dpsanders commented on #2384
@wilsonrljr Could you please fix the missing DOIs identified above? Thanks!

[2020-09-27 19:15] MrMinimal64 commented on #2392
it started here:
https://github.com/MrMinimal64/multivar_horner/issues/17#issuecomment-681935918
Now the method of counting the operations is as the reviewers have suggested.

[2020-09-27 19:30] dpsanders commented on #2392
Yes thanks; I would like the paper to describe the implemented choice for counting operations. (Maybe it's already there but I didn't see it.)

[2020-09-27 20:37] abhishektha commented on #2562
Hi 👋, sorry for the delay. Was planning on working on it this week!

[2020-09-27 22:13] majensen commented on #2643
@whedon check references

[2020-09-27 22:13] majensen commented on #2643
@whedon generate pdf

[2020-09-27 22:13] whedon commented on #2643
PDF failed to compile for issue #2643 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2643 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedo

[2020-09-27 22:16] majensen commented on #2643
@whedon generate pdf

[2020-09-27 22:16] whedon commented on #2643
PDF failed to compile for issue #2643 with the following error:

 Can't find any papers to compile :-(

[2020-09-27 22:17] majensen commented on #2643
@whedon generate pdf from branch paper

[2020-09-27 22:17] whedon commented on #2643
[code]

[2020-09-27 22:17] majensen commented on #2643
@whedon check references from branch paper

[2020-09-27 22:17] whedon commented on #2643
[code]

[2020-09-27 22:17] whedon commented on #2643
PDF failed to compile for issue #2643 with the following error:

 sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.02643.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-09-27 22:17] whedon commented on #2643
[code]

[2020-09-27 22:19] majensen commented on #2643
@openjournals/dev - please see error in compilation at https://github.com/openjournals/joss-reviews/issues/2643#issuecomment-699695148 - I was able to use https://whedon.theoj.org successfully.

[2020-09-27 22:20] majensen commented on #2643
[Proof generated by whedon.theoj.org](https://github.com/openjournals/joss-reviews/files/5289179/sp4qyhqedxejp6q3hoho.pdf)

[2020-09-27 23:27] jni commented on #2579
@whedon re-invite @sofroniewn as reviewer

[2020-09-27 23:27] whedon commented on #2579
OK, the reviewer has been re-invited.

@sofroniewn please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-27 23:29] sofroniewn commented on #2579
Thanks @jni, permissions updated, I've begun the review process, including making some minor suggestions here https://github.com/labsyspharm/minerva-story/issues/63. Will press on with further review promptly

[2020-09-27 23:32] jni commented on #2579
@whedon generate pdf

[2020-09-27 23:32] whedon commented on #2579
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02579/joss.02579/10.21105.joss.02579.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02579/joss.02579/10.21105.joss.02579.pdf) :page_facing_up: :point_left:

[2020-09-27 23:47] jni commented on #2578
@Mmj94 no pressure from this end, but just want to clarify that we are waiting for input from you at this point, *I think*! Please let us know if you need any further clarifications, or if you have questions about specific comments.

[2020-09-27 23:56] dhhagan commented on #2435
@whedon set 10.5281/zenodo.4041278 as archive

[2020-09-27 23:56] whedon commented on #2435
OK. <a href="https://doi.org/10.5281/zenodo.4041278" target="_blank">10.5281/zenodo.4041278</a> is the archive.

[2020-09-27 23:58] dhhagan commented on #2435
@whedon accept

[2020-09-27 23:58] whedon commented on #2435
[code]

[2020-09-27 23:59] whedon commented on #2435
[code]

[2020-09-27 23:59] whedon commented on #2435
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1764

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1764, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-28 00:01] Mmj94 commented on #2578
@jni thanks for the reminder! I have closed some issues in the Github repo and will be addressing other code suggestions/comments with some changes I'll be pushing along the coming week!

[2020-09-28 00:07] dhhagan commented on #2479
@Mankoff @jsta @sgrieve are any of you able to (and interested in ) reviewing this paper?

[2020-09-28 00:19] jni commented on #2689
@haesleinhuepf you should have received an invite to this repo from GitHub, could you make sure you accept it? Let me know if you can't find it and I'll re-invite you.

[2020-09-28 00:32] terrytangyuan commented on #2509
Pinging more folks here 👋 @callumrollo @agricolab @chrisvoncsefalvay @henrykironde Would any of you be interested in reviewing this submission? Thanks.

[2020-09-28 04:19] apalarcon commented on #2479
I suggest this reviewer Roberto Carlos Cruz Rodríguez, roberto.cruz.rdg@gmail.com

[2020-09-28 04:34] henrykironde commented on #2509
@terrytangyuan will do

[2020-09-28 07:04] justusschock commented on #2663
@arokem I finished my review. Overall I really like the submission. Regarding the checklist above:
* So far there is no API Documentation / Only some docstrings
* The license file must be changed from Markdown to plain text

If the above mentioned points are finished, I don't see any blockers from my side.

[2020-09-28 07:04] eloisabentivegna commented on #2555
@ianhinder @gouarin, could you provide an update on the status of your reviews?

[2020-09-28 07:11] arfon commented on #2643
@whedon check references from branch paper

[2020-09-28 07:11] whedon commented on #2643
[code]

[2020-09-28 07:11] whedon commented on #2643
[code]

[2020-09-28 07:12] arfon commented on #2643
@whedon generate pdf from branch paper

[2020-09-28 07:12] whedon commented on #2643
[code]

[2020-09-28 07:13] whedon commented on #2643
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02643/joss.02643/10.21105.joss.02643.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02643/joss.02643/10.21105.joss.02643.pdf) :page_facing_up: :point_left:

[2020-09-28 07:53] arm61 commented on #2550
100 % agree with your identification of `uravu` as not a PPL.

Full ticks from me now! As for a logo designer, unfortunately I have always done my own (which speak volumes to my skill considering that they are usually text over a matplotlib figure...)

[2020-09-28 08:47] mlxd commented on #2678
hi @sp94 I have added two issues https://github.com/sp94/Peacock.jl/issues/11 and https://github.com/sp94/Peacock.jl/issues/12 to finish my review. Once these are resolved, and the final version tagged for release I am happy to give this a thumbs-up.

[2020-09-28 08:48] crangelsmith commented on #2483
hi @labarba @arbennett, sorry for the silence. We have been working hard on the project, implementing the review comments but also in general development in view for a science paper we are also aiming to publish.

We are planning to do a PR to master this week, which will include the implementation of the comments from @arbennett. But also, the code has evolved a bit, and we would like to add a co

[2020-09-28 09:10] robinroche commented on #2637
@tylunel @kbarnhart
I am done with my review.
I have some suggestions for improvement:

1. Installation
- "open the command line interface ‘Anaconda prompt’": briefly explain how, or link to a page explaining how.
- "cd src/pvpumpingsystem pytest": I am on linux and this command did not work as is. However, splitting it in two worked.
- More information on the automated test script should be provi

[2020-09-28 09:40] gouarin commented on #2555
@eloisabentivegna could you assign me to this review ?

[2020-09-28 10:54] sjpfenninger commented on #2171
@gschivley Can you conclude your review and confirm whether there are any outstanding issues? @Ludee Would you be able to get your review done within the next week or so? The code is on the master branch, but the paper is on the joss-review branch.

[2020-09-28 10:55] sjpfenninger commented on #2171
@whedon generate pdf from branch joss-review

[2020-09-28 10:55] whedon commented on #2171
[code]

[2020-09-28 10:56] whedon commented on #2171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: :point_left:

[2020-09-28 10:58] sjpfenninger commented on #2644
@Christopher-Khan great thanks. Can you edit the Zenodo item such that title and author list are the same as for the JOSS paper?

[2020-09-28 11:02] fduchatea commented on #2697
Many social science researchers study the impact of neighbourhood environment with regards to a given criterion (eg, social conditions, health issues). But it is usually difficult to describe such environment, especially at large scale. Thus we propose Predihood as an initial solution (some environment variables, French neighbourhoods and existing prediction algorithms, all of them can be replaced

[2020-09-28 11:24] sp94 commented on #2678
Thanks for your time @nmoran and @mlxd! I believe I've resolved these issues now.

I've tagged v0.1.1 with these fixes and will edit once it the registration is complete

[2020-09-28 11:31] marcosvital commented on #2447
Hi, @nhejazi! Sorry about the delayed reply. Since all the reviewers are satisfied, we can carry on.

@klmedeiros and @joethorley, thank you very much for the time and effort put into this review!

[2020-09-28 11:31] marcosvital commented on #2447
@whedon check references

[2020-09-28 11:32] whedon commented on #2447
[code]

[2020-09-28 11:33] marcosvital commented on #2447
@nhejazi, can you check the missing DOI?

[2020-09-28 11:35] marcosvital commented on #2584
Hi, @JolleJolles, I think we are ready to go through our final steps before publication. I'll start with a simple reference's DOI check.

@lucask07 and @DerJH, thank you so much for all the time and effort you put into reviewing this submission for JOSS.

[2020-09-28 11:35] marcosvital commented on #2584
@whedon check references

[2020-09-28 11:35] eloisabentivegna commented on #2495
@whedon assign @iliantiliev as reviewer

[2020-09-28 11:35] whedon commented on #2495
OK, @iliantiliev is now a reviewer

[2020-09-28 11:35] whedon commented on #2584
[code]

[2020-09-28 11:39] marcosvital commented on #2584
Good, all references are fine.

@JolleJolles, I'll generate another manuscript proof, so you can take a carefull (maybe final?) look. I'll read it myself too, and will let you know if I find any issues, ok?

[2020-09-28 11:39] marcosvital commented on #2584
@whedon generate pdf

[2020-09-28 11:40] whedon commented on #2584
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02584/joss.02584/10.21105.joss.02584.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02584/joss.02584/10.21105.joss.02584.pdf) :page_facing_up: :point_left:

[2020-09-28 11:55] JolleJolles commented on #2584
Hi @marcosvital, I have read the proofs and they look good. I just have three small changes, all for the last paragraph:
- one small spelling mistake to the very last sentence ("their" should be "the")
- for the references in the last paragraph, fix order (2018 should be before 2019) and change reference jolles et al 2017 by 2020 (rather than add both of them as I don't want to over cite my own st

[2020-09-28 12:54] henrik227 commented on #2392
It's in the middle of page 2.

I have some minor comments:

- Is it intentional that in the example right above the description of how operations are counted, the "old" way of counting operations is used? I'm referring to "27 operations (exponentiations, multiplications and additions)"
- "the number of additions [...] remains constant irrespective of the polynomial factorisation." To me, it's not

[2020-09-28 12:57] oliviaguest commented on #2674
Hey @rougier, @rly, @libertyh — when you get a chance can you give me an ETA for your reviews, please?

[2020-09-28 12:59] oliviaguest commented on #2675
Hey @matteomancini, @rly — when you get a chance can you give me an ETA for your reviews, please?

[2020-09-28 13:00] oliviaguest commented on #2670
Hey @sneakers-the-rat, @pauldmccarthy — could you please let us know when your reviews might be ready by?

[2020-09-28 13:08] valeriewelborn commented on #2576
@richardjgowers The modifications to Tinker that enable the MDI interface used by ELECTRIC will be hosted by MolSSI at https://github.com/MolSSI-MDI/Tinker/commits/mdi-ef as part of the MolSSI MDI project. These are the Tinker changes that are part of this work. Further, we have added the MolSSI-MDI-enabled Tinker as a submodule of ELECTRIC, as suggested in issue WelbornGroup/ELECTRIC#17. WelbornG

[2020-09-28 13:41] terrytangyuan commented on #2509
@whedon addd @henrykironde as reviewer

[2020-09-28 13:41] whedon commented on #2509
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-28 13:42] terrytangyuan commented on #2509
@whedon add @henrykironde as reviewer

[2020-09-28 13:42] whedon commented on #2509
OK, @henrykironde is now a reviewer

[2020-09-28 13:42] terrytangyuan commented on #2509
@whedon start review

[2020-09-28 13:42] whedon opened #2704 "[REVIEW]: MLJ: A Julia package for composable machine learning"
**Submitting author:** @ablaom (<a href="http://orcid.org/0000-0001-6689-886X">Anthony Blaom</a>)
**Repository:** <a href="https://github.com/alan-turing-institute/MLJ.jl" target ="_blank">https://github.com/alan-turing-institute/MLJ.jl</a>
**Version:** v0.14.1
**Editor:** @terrytangyuan
**Reviewer:** @degleris1, @henrykironde
**Archive:** <a href="https://doi.org/10.5281/zenodo.4178917" target="_

[2020-09-28 13:42] whedon commented on #2509
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2704.

[2020-09-28 13:42] #2509 closed

[2020-09-28 13:42] whedon commented on #2704
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @degleris1, @henrykironde it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-09-28 13:42] terrytangyuan commented on #2509
Thanks @degleris1, @henrykironde! Looking forward to your rerviews in #2704.

[2020-09-28 13:43] whedon commented on #2704
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: :point_left:

[2020-09-28 13:51] wilsonrljr commented on #2384
@dpsanders I've fixed the missing DOIs.

[2020-09-28 13:55] caldarolamartin commented on #2693
Hi again. I've tried to tick the boxes with out success again. I have not accepted the review formally and the the link to do so (point 2 at the top) is not working. I believe this is the reason I cannot start with the review list check. @pibion, could you please take another look?

[2020-09-28 13:58] MrMinimal64 commented on #2392
I tried to address all of your remarks. Please check if your concerns persist.

[2020-09-28 13:58] MrMinimal64 commented on #2392
@whedon generate pdf

[2020-09-28 13:59] whedon commented on #2392
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02392/joss.02392/10.21105.joss.02392.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02392/joss.02392/10.21105.joss.02392.pdf) :page_facing_up: :point_left:

[2020-09-28 14:28] sappelhoff commented on #2621
As an update: @JanCBrammer has addressed most of my suggestions by now. There are three remaining open issues from my side:

- consistent docstring documentation
- test coverage reporting
- developer documentation on how to build the docs

It'd be nice to have these points addressed before a final evaluation.

[2020-09-28 14:30] balhoff commented on #2587
@majensen sorry, I have to echo Rutger and Bill. :-( But I will email you some suggestions.

[2020-09-28 15:30] diehlpk commented on #2514
Hi @emconsta @debdeepbh how is your review going? Please let me know if I can assist in any way.

[2020-09-28 15:39] mwcraig commented on #2693
Hi, I also cannot check the boxes....

[2020-09-28 15:50] galessiorob commented on #2676
Thanks for getting started @GregaVrbancic!

@nedRad88 please add @gradoslovar as co-author or mention him as a contributor, thanks!

[2020-09-28 16:03] diehlpk commented on #2514
@ketch I checked the references and please update

1. Murray, L. M. (2013). Bayesian state-space modelling on high-performance hardware usingLibBi. (add the arxiv.org information)
2. Taylor, S. (1982). Financial returns modelled by the product of two stochastic processes, astudy of daily sugar prices 1961-79,1. (Add the journal)
3. Brown, T. R. (2020). Approximating posterior predictive distributi

[2020-09-28 16:10] koldunovn commented on #2631
There are just a couple things left:

Issues: https://github.com/xgcm/xgcm/issues/243 https://github.com/xgcm/xgcm/issues/246 https://github.com/xgcm/xgcm/issues/249

Comments to the text:

**Statement of Need**
I think the statement "Xgcm supports orthogonal curvilinear grids, including complex, multiply-connected grid topologies such as the cubed-sphere." should be moved to the beggining of the

[2020-09-28 16:34] samuelduchesne commented on #2637
@kbarnhart, I am done with the review as well. On my end, I worked on MacOS and had no issues installing and using the tool from the installation documentation. I enjoyed trying out this package which is very well coded (excellent programming ethics). The examples were very useful to understand how to use the package. Having both jupyter notebooks and python scripts in the examples folder is a wel

[2020-09-28 16:48] dmbates commented on #2598
I have opened https://github.com/xoopR/set6/issues/54 regarding one of the examples - the first one, actually.  I also see a couple of typos - e.g. under Key Design Principles, 2. Key Dependencies should read "... to any object-oriented package requiring ...".   @dpsanders where should I report a typo?

[2020-09-28 16:54] pibion commented on #2693
@caldarolamartin, @mwcraig are you signed in to github?  You should only need to (1) subscribe to the issue and (2) be signed in to edit the checkboxes.

@arfon is that correct?

[2020-09-28 16:57] dmbates commented on #2598
Could someone remind me how to run the package checks?  I cloned the git repository and tried a simple but unsuccessful approach
[code]
Do I need to run roxygen in some way on the directory?  (I know it is surprising that I am so inept with R these days but I have been working almost exclusively with Julia for several years now.)

[2020-09-28 17:00] dpsanders commented on #2598
@dmbates You can e.g. make an issue on the repo with a list of typos, or even make Pull Requests. (That's easy to do using the pencil icon on the GitHub interface if they're minimal changes, for example.). Thanks!

[2020-09-28 17:06] csoneson commented on #2659
Hi again - turns out it's not so easy to find a reviewer with both clinical trial methodology expertise and free time :). I have some leads that are still open, and I will keep looking (we certainly want this aspect evaluated as well), but to avoid holding up the submission at this stage, I suggest that we start the review in the meanwhile - @rrrlw and @emilydolson, are you still available and wil

[2020-09-28 17:13] davidjohannesmeyer commented on #2598
You need to build it first, and check the .tar.gz file. Seems to pass.

On 28.09.20 18:57, Douglas Bates wrote:

[2020-09-28 17:26] arfon commented on #2693
@whedon re-invite @caldarolamartin as reviewer

[2020-09-28 17:26] whedon commented on #2693
OK, the reviewer has been re-invited.

@caldarolamartin please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-28 17:28] dpsanders commented on #2384
@whedon accept

[2020-09-28 17:28] sofroniewn commented on #2579
I've gone through the software paper and am happy with it, I think the added information that Rashid 2020 contains a comparison of existing software is sufficient to detail the state of the field.

I will continue to review the documentation and the functionality.

[2020-09-28 17:28] whedon commented on #2384
[code]

[2020-09-28 17:28] caldarolamartin commented on #2693
Yes! now it works. Thanks!

[2020-09-28 17:28] arfon commented on #2693
@mwcraig - it looks like you need to accept the invite to the the repository here https://github.com/openjournals/joss-reviews/invitations before you can click the checkboxes.

<img width="765" alt="Screen Shot 2020-09-28 at 18 26 08" src="https://user-images.githubusercontent.com/4483/94465758-4f3dea00-01b8-11eb-9485-b125b981eb23.png">

@caldarolamartin - I've re-invited you to the repository - p

[2020-09-28 17:29] whedon commented on #2384
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1765

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1765, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-28 17:29] whedon commented on #2384
[code]

[2020-09-28 17:48] rrrlw commented on #2659
Sure, happy to help!

[2020-09-28 17:57] RaphaelS1 commented on #2598
Replying to the issue here so other reviewers can see. Apologies but there is indeed a typo in the first example, it reads

[code]

It should read

[code]

[2020-09-28 17:58] nhejazi commented on #2447
@whedon check references

[2020-09-28 17:58] whedon commented on #2447
[code]

[2020-09-28 18:00] nhejazi commented on #2447
@marcosvital, no worries about the delay and thanks for catching the DOI issue. It's now fixed. Would you mind updating the package version in the first comment on this thread from 0.3.3 to 0.3.4? (I can't seem to do that myself.)