[2021-05-13 14:32] whedon commented on #3279
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-13 14:32] whedon opened #3280 "[PRE REVIEW]: ddop: A python package for data-driven operations management"
**Submitting author:** @AndreasPhilippi (<a href="http://orcid.org/0000-0002-6508-9128">Andreas Philippi</a>)
**Repository:** <a href="https://github.com/opimwue/ddop" target ="_blank">https://github.com/opimwue/ddop</a>
**Version:** v0.6.5
**Editor:** @arfon
**Reviewers:** @kramea, @g4brielvs
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-05-13 14:32] whedon commented on #3280
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-13 14:32] whedon opened #3281 "[PRE REVIEW]: ICSSgen and ICSScsv: Python programs for 2D-ICSS calculations"
**Submitting author:** @wongzit (<a href="http://orcid.org/0000-0002-9996-586X">Zhe Wang</a>)
**Repository:** <a href="https://github.com/wongzit/ICSSgen-ICSScsv" target ="_blank">https://github.com/wongzit/ICSSgen-ICSScsv</a>
**Version:** v2.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2021-05-13 14:32] whedon commented on #3281
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-13 14:32] whedon commented on #3276
[code]

[2021-05-13 14:32] whedon commented on #3276
[code]

[2021-05-13 14:33] whedon commented on #3277
[code]

[2021-05-13 14:33] whedon commented on #3276
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03276/joss.03276/10.21105.joss.03276.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03276/joss.03276/10.21105.joss.03276.pdf) :page_facing_up: :point_left:

[2021-05-13 14:34] whedon commented on #3277
[code]

[2021-05-13 14:34] mrtommyb commented on #2845
Hi @ekaterinailin, I've still working on a the examples, but one very quick thing is that in the Readme you have GitHub and email listed in several places that look like links but they don't link to anywhere.

[2021-05-13 14:34] whedon commented on #3278
[code]

[2021-05-13 14:34] whedon commented on #3277
PDF failed to compile for issue #3277 with the following error:
[code]

[2021-05-13 14:35] whedon commented on #3278
[code]

[2021-05-13 14:36] whedon commented on #3279
[code]

[2021-05-13 14:36] whedon commented on #3278
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03278/joss.03278/10.21105.joss.03278.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03278/joss.03278/10.21105.joss.03278.pdf) :page_facing_up: :point_left:

[2021-05-13 14:37] whedon commented on #3279
[code]

[2021-05-13 14:37] whedon commented on #3280
Failed to discover a `Statement of need` section in paper

[2021-05-13 14:38] ankurankan commented on #3115
Congratulations @D-K-E !!

[2021-05-13 14:38] whedon commented on #3280
[code]

[2021-05-13 14:38] danielskatz commented on #3276
👋 @epi-zen - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOIs that whedon suggests, but n

[2021-05-13 14:38] danielskatz commented on #3276
@whedon query scope

[2021-05-13 14:38] whedon commented on #3280
[code]

[2021-05-13 14:38] whedon commented on #3276
Submission flagged for editorial review.

[2021-05-13 14:38] whedon commented on #3281
[code]

[2021-05-13 14:38] whedon commented on #3281
Failed to discover a valid open source license.

[2021-05-13 14:39] whedon commented on #3281
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "-1898" (NAME) ["@", #<BibTeX::Entry >, {:author=>["{Klod}, S. and {Kleinpeter}, E."], :title=>["{Ab initio calculation of the anisotropy effect of multiple bonds and the ring current effect of arenes--application in conformational and configurational analysis}"], :journal=>["J. Chem. Soc., Perkin Trans.

[2021-05-13 14:39] whedon commented on #3280
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03280/joss.03280/10.21105.joss.03280.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03280/joss.03280/10.21105.joss.03280.pdf) :page_facing_up: :point_left:

[2021-05-13 14:40] whedon commented on #3281
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03281/joss.03281/10.21105.joss.03281.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03281/joss.03281/10.21105.joss.03281.pdf) :page_facing_up: :point_left:

[2021-05-13 14:40] danielskatz commented on #3277
👋 @jorge-lip - The first two ORCIDs in your paper.md are too short. They are likely missing the initial set of four digits.

In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file.

Then use the command `@whedon check references` to check the references again, and the command `@whedon ge

[2021-05-13 14:42] danielskatz commented on #3278
👋 @csoneson - Is there any chance you would be able to take on another editing task?  You were suggested by the submitter here.

[2021-05-13 14:42] danielskatz commented on #3278
@whedon invite @csoneson as editor

[2021-05-13 14:42] whedon commented on #3278
@csoneson has been invited to edit this submission.

[2021-05-13 14:46] sibirrer commented on #3252
Hi @kthyng : Would you like me to suggest another editor for this submission?

[2021-05-13 14:47] htjb commented on #3181
@danielskatz Thanks for the feedback.

Just to clarify, I did highlight, for transparency, the MNRAS preprint paper in my submission to JOSS and the result is merely used to illustrate the capabilities of the software. The point is that the software represents a significant improvement on previous work (which incidentally has been heavily cited see my previous comment) and it can be easily retrain

[2021-05-13 14:49] whedon commented on #3252
OK, the editor is @danielskatz

[2021-05-13 14:50] danielskatz commented on #3252
👋 @coljac, @smsharma - I'm looking for two reviewers for this JOSS submission.  Are either or ideally both of you willing to review this?

[2021-05-13 14:52] danielskatz commented on #3158
👋 @leouieda - just a ping...

[2021-05-13 14:54] danielskatz commented on #3279
👋 @hugoledoux - Is there any chance you can take on another submission to edit?  You were suggested by the authors...

[2021-05-13 14:54] danielskatz commented on #3279
@whedon invite @hugoledoux as editor

[2021-05-13 14:54] whedon commented on #3279
@hugoledoux has been invited to edit this submission.

[2021-05-13 14:56] danielskatz commented on #3280
@AndreasPhilippi - Operations Management is two words in English - please change this in your paper.  In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are rig

[2021-05-13 14:58] danielskatz commented on #3280
Also, because the code size is a little on the small side, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2021-05-13 14:58] danielskatz commented on #3280
@whedon query scope

[2021-05-13 14:58] whedon commented on #3280
Submission flagged for editorial review.

[2021-05-13 14:59] danielskatz commented on #3281
👋 @wongzit - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the bibtex problems. Please feel free to make changes

[2021-05-13 15:00] whedon commented on #3281
Submission flagged for editorial review.

[2021-05-13 15:19] amygalanter commented on #3212
Hi Kelly,

Yes I am interested. What is the timeline for review?

Thank you,
Sincerely,
Amy Galanter

--
Amy Galanter
Hydrologist
U.S. Geological Survey
New Mexico Water Science Center
6700 Edith Blvd NE, Suite B
Albuquerque, NM  87113
***@***.******@***.***>
(505) 610 - 3140 (mobile)

Pronouns<https://www.mypronouns.org/what-and-why>: she/her/hers

________________________________
From: Kelly L.

[2021-05-13 15:33] msalibian commented on #3238
This is a nice contribution (both package and manuscript). I have some minor suggestions about the text, and noted that some items from the checklist above are missing.

- In the text, when referring to "large datasets", please be specific if this is regarding the number of cases (rows), variables (columns), or both. In the robustness literature, computational effort ("complexity" in an informal w

[2021-05-13 15:36] epi-zen commented on #3276
Thanks, @danielskatz.

I found that two of the criteria for the substantial scholarly effort that you linked to are:

- Whether the software has already been cited in academic papers.

- Whether the software is sufficiently useful that it is likely to be cited by your peer group

On that note, one reason I decided to submit it for consideration for publication was that other researchers are actual

[2021-05-13 15:53] karink520 commented on #3275
@whedon check references

[2021-05-13 15:53] whedon commented on #3275
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "title" (NAME) [#<BibTeX::Bibliography data=[15]>, "@", #<BibTeX::Entry >, {:doi=>["10.1201/b10905-7"]}]

[2021-05-13 15:55] karink520 commented on #3275
@whedon check references

[2021-05-13 15:56] whedon commented on #3275
[code]

[2021-05-13 15:56] karink520 commented on #3275
@whedon generate pdf

[2021-05-13 15:57] whedon commented on #3275
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03275/joss.03275/10.21105.joss.03275.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03275/joss.03275/10.21105.joss.03275.pdf) :page_facing_up: :point_left:

[2021-05-13 15:58] karink520 commented on #3275
Thanks, @danielskatz! I updated the DOIs. There is one that is still listed as missing. It looks to me like the suggestion is a DOI for data that accompanies the book, but that there is no DOI for the book itself, so I will leave that as is if that works.

[2021-05-13 16:01] epi-zen commented on #3276
@whedon check references

[2021-05-13 16:01] whedon commented on #3276
[code]

[2021-05-13 16:02] epi-zen commented on #3276
@whedon generate pdf

[2021-05-13 16:03] whedon commented on #3276
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03276/joss.03276/10.21105.joss.03276.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03276/joss.03276/10.21105.joss.03276.pdf) :page_facing_up: :point_left:

[2021-05-13 16:04] kthyng commented on #3180
@whedon generate pdf

[2021-05-13 16:04] epi-zen commented on #3276
@danielskatz  DOIs are now fixed. Thanks

[2021-05-13 16:07] kthyng commented on #3261
Hi @JohnVolk. The list of reviewers will be helpful once this is picked up by an editor, thanks!

[2021-05-13 16:12] kthyng commented on #3180
@openjournals/dev The paper here never seems to have any error nor any follow up from whedon, despite repeated calls to generate the pdf over time.

[2021-05-13 16:17] kthyng commented on #3180
@psu-efd Thanks for the reviewer ideas!

@jmp75 and @AtrCheema — would you be interested in reviewing this submission for the Journal for Open Source Software? We would ask you to start the review in the next few weeks to be finished in 4-6 weeks, anticipated some potential back and forth of iteration with the author.  It's all done through github — you can learn more about the process here: https

[2021-05-13 16:18] kthyng commented on #3258
@dbarneche Yes, please rename it. I see your paper is pretty long — this is almost to the length where I would require it to be shorter but we try not to be too heavy handed about it. If some of it is repeat from the docs, you could cut it from the paper. But, if you feel like it is how you'd like it to be, you can leave it.

[2021-05-13 16:19] kthyng commented on #3258
@whedon assign me as reviewer

[2021-05-13 16:19] whedon commented on #3258
OK, me is now a reviewer

[2021-05-13 16:20] kthyng commented on #3258
@whedon remove me as reviewer

[2021-05-13 16:20] whedon commented on #3258
OK, me is no longer a reviewer

[2021-05-13 16:20] kthyng commented on #3258
@whedon assign @kthyng as reviewer

[2021-05-13 16:20] whedon commented on #3258
OK, @kthyng is now a reviewer

[2021-05-13 16:21] kthyng commented on #3258
@whedon start review

[2021-05-13 16:21] whedon opened #3282 "[REVIEW]: dataaimsr: An R Client for the Australian Institute of Marine Science Data Platform API which provides easy access to AIMS Data Platform"
**Submitting author:** @dbarneche (<a href="http://orcid.org/0000-0002-4568-2362">Diego Barneche</a>)
**Repository:** <a href="https://github.com/ropensci/dataaimsr" target ="_blank">https://github.com/ropensci/dataaimsr</a>
**Version:** v1.0.3
**Editor:** @kthyng
**Reviewer:** @kthyng
**Archive:** <a href="https://doi.org/10.5281/zenodo.4782786" target="_blank">10.5281/zenodo.4782786</a>

**:warn

[2021-05-13 16:21] whedon commented on #3258
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3282.

[2021-05-13 16:21] #3258 closed

[2021-05-13 16:21] whedon commented on #3282
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kthyng it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2021-05-13 16:21] whedon commented on #3282
Failed to discover a `Statement of need` section in paper

[2021-05-13 16:21] whedon commented on #3282
[code]

[2021-05-13 16:21] whedon commented on #3282
[code]

[2021-05-13 16:21] kthyng commented on #3282
@whedon generate pdf

[2021-05-13 16:22] whedon commented on #3282
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03282/joss.03282/10.21105.joss.03282.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03282/joss.03282/10.21105.joss.03282.pdf) :page_facing_up: :point_left:

[2021-05-13 16:23] kthyng commented on #3172
Just a friendly reminder on this review, @bstabler and @joferkington

[2021-05-13 16:23] whedon commented on #3282
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03282/joss.03282/10.21105.joss.03282.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03282/joss.03282/10.21105.joss.03282.pdf) :page_facing_up: :point_left:

[2021-05-13 16:23] kthyng commented on #3175
just a friendly review reminder here, @evanleeturner and @raoulcollenteur

[2021-05-13 16:26] kthyng commented on #3282
Hi @dbarneche — here we are in the review issue now, but please do look at the comments I left in the pre-review issue (I should have made them here).

[2021-05-13 16:30] kthyng commented on #3282
@openjournals/dev I think I lost my permission to edit the checkboxes above midway through checking them. They were turning blue for me and I could edit and now they are gray and I cannot edit them.

[2021-05-13 16:31] kthyng commented on #3282
@dbarneche Do you already have a zenodo repo? If so, please provide the DOI here. If not, please go ahead and make one. The title and author list in the archive should exactly match that of your JOSS paper.

[2021-05-13 16:39] kthyng commented on #3243
Hi @paleolimbot and @sheilasaia! Are you interested in reviewing this submission for the Journal for Open Source Software? This is an open review which takes place on github with issues. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would hope you could start the review in the next few weeks with the intention of being through the typi

[2021-05-13 16:40] danielskatz commented on #3275
thanks @karink520

[2021-05-13 16:42] kthyng commented on #3179
Hi @rowanc1 and @camillescott — would you be interested in reviewing this submission for JOSS? We're asking for people to start their reviews in the next few weeks in hopes the whole iterative process would be finished in 4-6 weeks. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. Thanks for your consideration!

[2021-05-13 16:45] mgalloy commented on #3265
I really like the new gallery example at https://mcalf.macbride.me/en/latest/gallery/models/plot_ibis8542data.html.

[2021-05-13 17:00] mbobra commented on #3214
👋 @danielskatz Thanks for the invite. I don't know how to program in R, so I don't think I could do this one justice. But please feel free to throw another submission (in Python) my way!

[2021-05-13 17:00] cmirzayi commented on #3093
I have finished reviewing the software and accompanying manuscript. The manuscript is well-written and provides clear rationale for the package. The package website provides extensive tutorials and helpful information.

It appears to meet all specified review criteria for JOSS; however after cloning the repo and running the package tests in R Studio, I did encounter one failed test:
[code]

And he

[2021-05-13 17:31] pibion commented on #2694
@tystan thank you for confirming!

[2021-05-13 17:35] danielskatz commented on #3214
Ok, thanks - this is something that is hard to remember and our editor bios - I'm going to add Python to your editor categories...

[2021-05-13 17:37] danielskatz commented on #3214
👋 @lpantano - would this be something you would consider editing?

[2021-05-13 17:37] danielskatz commented on #3214
@whedon invite @lpantano as editor

[2021-05-13 17:37] whedon commented on #3214
@lpantano has been invited to edit this submission.

[2021-05-13 18:17] jorge-lip commented on #3277
@whedon check references

[2021-05-13 18:18] whedon commented on #3277
[code]

[2021-05-13 18:18] jorge-lip commented on #3277
@whedon generate pdf

[2021-05-13 18:19] whedon commented on #3277
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03277/joss.03277/10.21105.joss.03277.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03277/joss.03277/10.21105.joss.03277.pdf) :page_facing_up: :point_left:

[2021-05-13 18:47] SteveMacenski commented on #2783
https://github.com/SteveMacenski/slam_toolbox/commit/7a333e5321030c8d3187c82d8fc0563fe400ae6b Done!

[2021-05-13 19:09] arfon commented on #2783
@whedon check references from branch joss

[2021-05-13 19:09] whedon commented on #2783
[code]

[2021-05-13 19:09] whedon commented on #2783
[code]

[2021-05-13 19:09] arfon commented on #2783
@whedon accept from branch joss

[2021-05-13 19:09] whedon commented on #2783
[code]

[2021-05-13 19:10] whedon commented on #2783
[code]

[2021-05-13 19:10] whedon commented on #2783
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2306

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2306, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-13 19:12] arfon commented on #2783
@whedon accept deposit=true from branch joss

[2021-05-13 19:12] whedon commented on #2783
[code]

[2021-05-13 19:13] whedon commented on #2783
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1392920888581009408) 👈 🐦🐦🐦

[2021-05-13 19:13] whedon commented on #2783
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2307
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02783](https://doi.org/10.21105/joss.02783)
2. If everything look

[2021-05-13 19:15] arfon commented on #2783
@mosteo, @carlosjoserg - many thanks for your reviews here! JOSS relies upon volunteer effort from folks like you and we simply wouldn't be able to do this without you! ✨

@SteveMacenski - your paper is now accepted and published in JOSS ⚡:rocket::boom:

[2021-05-13 19:15] #2783 closed

[2021-05-13 19:15] whedon commented on #2783
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02783/status.svg)](https://doi.org/10.21105/joss.02783)

**We need your help!**

Journal of Open Source Softwa

[2021-05-13 19:16] mgalloy commented on #3265
One last thing for me: you mention in the paper the ability to parallelize the code. I don't see anything built into you code to do this (or am I missing it?).

[2021-05-13 19:18] SteveMacenski commented on #2783
Amazing, thank you! I've added myself a bit ago as a reviewer for ROS/robotics papers, feel free to call on me if you have something in robotics/ROS!

[2021-05-13 19:31] OwenWard commented on #3133
@wjakethompson @alexpghayes thanks for providing issues and pull requests along with the other feedback. We've closed the opened issues along with using the feedback to clean up some functions and add to the statement of need in the paper.
We really appreciate all the thoughtful feedback and suggestions!

@mikldk please let me know if there is anything else

[2021-05-13 19:36] arfon commented on #3032
@whedon check references

[2021-05-13 19:36] whedon commented on #3032
[code]

[2021-05-13 19:40] arfon commented on #3032
@whedon check references from branch joss_revisions

[2021-05-13 19:40] whedon commented on #3032
[code]

[2021-05-13 19:40] whedon commented on #3032
[code]

[2021-05-13 19:42] arfon commented on #3032
@ctodd26labs - I think the DOI suggested by Whedon (`10.5220/0006639801080116`) is correct. Could you please add `doi=10.5220/0006639801080116` to that BibTeX entry?

After that, could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DO

[2021-05-13 19:53] ConorMacBride commented on #3265
Hi @mgalloy, the `IBIS8542Model.fit` method (https://mcalf.macbride.me/en/latest/api/mcalf.models.IBIS8542Model.html#mcalf.models.IBIS8542Model.fit) has an `n_pools` parameter that distributes the list of spectra to fit between a number of parallel processing pools. By default, the spectra are fitted on a single process.

[2021-05-13 20:28] struckma commented on #3093
Dear @cmirzayi,
thank you for your review. I've analyzed the problem you've found, thank you very much. Could you please try to install the anytime package using

[code]

and report, if the issue disappears? I think, the problem is in the replacement code executed only in absence of this suggested package -- which is not run by automated R CMD checks, which usually require all suggested packages b

[2021-05-13 20:35] cmirzayi commented on #3093
@struckma Ah yep just tried it and that did indeed resolve the failing test. Thanks for your prompt response.

[2021-05-13 21:18] Prof-ThiagoOliveira commented on #3122
I agree with @dlebauer. You've done a great job and addressed all our comments. I've checked the package, and it is ready to be accepted as a publication on the JOSS. I am happy to see you have gone beyond our comments. Please, @csoneson, consider the paper accepted by my side.

[2021-05-13 21:33] smsharma commented on #3252
Hi @danielskatz, I would be happy to.

[2021-05-13 21:34] danielskatz commented on #3252
Great, thanks - I'll add you in the system, but we won't actually start the review until we get one more reviewer as well.

[2021-05-13 21:34] danielskatz commented on #3252
@whedon assign @smsharma as reviewer

[2021-05-13 21:34] whedon commented on #3252
OK, @smsharma is now a reviewer

[2021-05-13 21:38] struckma commented on #3093
@cmirzayi ,

thank you -- great, that this worked. I've just created a patch and pushed it to the gitlab project. I did not yet increase the version number, since there are some more small amendments being published soon. However, your issue should now be fixed. I also plan to add a regression test for this problem later by mocking the absence of `anytime`.

 Thank you again.

[2021-05-13 21:51] sneakers-the-rat commented on #3196
sorry just saw this, sure would be happy to review :)

[2021-05-13 23:35] coljac commented on #3252
@danielskatz Yep I can do it.

[2021-05-13 23:40] danielskatz commented on #3252
Great!  I'll add you, and we can start the review

[2021-05-13 23:40] danielskatz commented on #3252
@whedon add @coljac as reviewer

[2021-05-13 23:40] whedon commented on #3252
OK, @coljac is now a reviewer

[2021-05-13 23:41] danielskatz commented on #3252
@whedon start review

[2021-05-13 23:41] whedon opened #3283 "[REVIEW]: lenstronomy II: A gravitational lensing software ecosystem"
**Submitting author:** @sibirrer (<a href="http://orcid.org/0000-0003-3195-5507">Simon Birrer</a>)
**Repository:** <a href="https://github.com/sibirrer/lenstronomy" target ="_blank">https://github.com/sibirrer/lenstronomy</a>
**Version:** 1.8.2_JOSS
**Editor:** @danielskatz
**Reviewer:** @smsharma, @coljac
**Archive:** <a href="https://doi.org/10.5281/zenodo.4913700" target="_blank">10.5281/zenodo

[2021-05-13 23:41] whedon commented on #3252
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3283.

[2021-05-13 23:41] #3252 closed

[2021-05-13 23:41] whedon commented on #3283
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @smsharma, @coljac it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-05-13 23:42] whedon commented on #3283
PDF failed to compile for issue #3283 with the following error:
[code]

[2021-05-13 23:42] danielskatz commented on #3283
@smsharma and @coljac - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

Pl

[2021-05-13 23:43] whedon commented on #3283
[code]

[2021-05-13 23:43] danielskatz commented on #3283
@whedon generate pdf from branch JOSS_paper

[2021-05-13 23:43] whedon commented on #3283
[code]

[2021-05-13 23:44] whedon commented on #3283
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03283/joss.03283/10.21105.joss.03283.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03283/joss.03283/10.21105.joss.03283.pdf) :page_facing_up: :point_left:

[2021-05-13 23:44] danielskatz commented on #3283
@whedon check references from branch JOSS_paper

[2021-05-13 23:44] whedon commented on #3283
[code]

[2021-05-13 23:45] whedon commented on #3283
[code]

[2021-05-14 00:49] ksyang2013 commented on #3190
Hello there,

Is the review process for this code still active?

I encountered following message "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account.”

Thanks,

--------------------------------------
Kesong YANG, Ph.D.

Associate Professor,
Department of NanoEngineering,
Program of Materials Science

[2021-05-14 02:24] kelly-sovacool commented on #3073
Hi @arfon, the DOI is `10.5281/zenodo.4759346`. I have verified that the title and authors in the archive are the same as those in the JOSS paper.

[2021-05-14 02:59] mgalloy commented on #3265
OK, I played around with that a bit and the scaling does look very good. I have checked off all the items on my checklist. My review is complete.

[2021-05-14 03:48] jmp75 commented on #3180
@kthyng  I am interested. This will be my first JOSS review but I'll try to do a suitable job.

[2021-05-14 05:17] ayush-1506 commented on #3208
Sure, thanks for pointing this out. Looking at the reviewer list, @{ahwillia and dpsanders} seem to be perfect.

[2021-05-14 05:19] ayush-1506 commented on #3208
Sure, thanks for pointing this out. Looking at the reviewer list, @{krystophny  and dpsanders} seem to be perfect.

[2021-05-14 05:42] hugoledoux commented on #3279
@whedon assign @hugoledoux as editor

[2021-05-14 05:42] whedon commented on #3279
OK, the editor is @hugoledoux

[2021-05-14 05:43] arfon commented on #3196
@whedon add @sneakers-the-rat as reviewer

[2021-05-14 05:43] whedon commented on #3196
OK, @sneakers-the-rat is now a reviewer

[2021-05-14 05:43] arfon commented on #3196
@whedon start review

[2021-05-14 05:43] whedon opened #3284 "[REVIEW]: S(ound)lab: A teaching-oriented Python package for designing and running psychoacoustic experiments."
**Submitting author:** @DrMarc (<a href="http://orcid.org/0000-0002-2023-1207">Marc Schönwiesner</a>)
**Repository:** <a href="https://github.com/DrMarc/slab" target ="_blank">https://github.com/DrMarc/slab</a>
**Version:** v0.9.0
**Editor:** @arfon
**Reviewer:** @hadware, @sneakers-the-rat
**Archive:** <a href="https://doi.org/10.5281/zenodo.5029602" target="_blank">10.5281/zenodo.5029602</a>

**

[2021-05-14 05:44] whedon commented on #3196
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3284.

[2021-05-14 05:44] #3196 closed

[2021-05-14 05:44] whedon commented on #3284
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hadware, @sneakers-the-rat it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-05-14 05:44] whedon commented on #3284
[code]

[2021-05-14 05:44] whedon commented on #3284
[code]

[2021-05-14 05:44] arfon commented on #3196
@hadware, @sneakers-the-rat - many thanks for agreeing to review this submission. See you over in #3284 where the actual review will take place!

[2021-05-14 05:44] whedon commented on #3284
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03284/joss.03284/10.21105.joss.03284.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03284/joss.03284/10.21105.joss.03284.pdf) :page_facing_up: :point_left:

[2021-05-14 05:45] arfon commented on #3284
@hadware, @sneakers-the-rat - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been sati

[2021-05-14 05:45] arfon commented on #3073
@whedon set 10.5281/zenodo.4759346 as archive

[2021-05-14 05:45] whedon commented on #3073
OK. <a href="https://doi.org/10.5281/zenodo.4759346" target="_blank">10.5281/zenodo.4759346</a> is the archive.

[2021-05-14 05:46] arfon commented on #3073
@whedon accept

[2021-05-14 05:46] whedon commented on #3073
[code]

[2021-05-14 05:46] shihyuntang commented on #3095
Dear @gully ,

Sorry for the confusing. The section about `wobble` was buried in the second half of the first paragraph in the statement of need. We now make it as a standalone paragraph and give a broad view on other NIR RV pipelines (including the `PySHELL` , `wobble`, and ``SERVAL``).

Sorry for not making this clear in the first place.
I hope this time we make the need of `IGRINS RV` clear.

A

[2021-05-14 05:46] whedon commented on #3073
[code]

[2021-05-14 05:47] whedon commented on #3073
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2308

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2308, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-14 05:47] arfon commented on #3256
:wave: @jbrande @nespinoza - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [_exoplanet: Gradient-based probabilistic inference forexoplanet data & other astronomical time series_](https:

[2021-05-14 05:49] benjaminpope commented on #3256
Sorry I just saw this - I for some reason didn't get a notification to my email. I'd be happy to.

[2021-05-14 05:50] arfon commented on #3073
@whedon accept deposit=true

[2021-05-14 05:50] whedon commented on #3073
[code]

[2021-05-14 05:51] whedon commented on #3073
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1393081524937973761) 👈 🐦🐦🐦

[2021-05-14 05:51] whedon commented on #3073
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2309
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03073](https://doi.org/10.21105/joss.03073)
2. If everything look

[2021-05-14 06:03] arfon commented on #3073
@JonnyTran, @FedericoComoglio - many thanks for your reviews here! JOSS relies up volunteer effort from folks like you and we simply wouldn't be able to do this without you ✨ .

@pschloss - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-05-14 06:03] #3073 closed

[2021-05-14 06:03] whedon commented on #3073
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03073/status.svg)](https://doi.org/10.21105/joss.03073)

**We need your help!**

Journal of Open Source Softwa

[2021-05-14 08:00] oliviaguest commented on #3103
I can but not in any immediate way — is it OK to take it on but "pause" it for a few weeks? 😊

[2021-05-14 08:23] csoneson commented on #3093
Thanks a lot for your review @cmirzayi!

@struckma - since the reviewers are satisfied with the state of the submission, I will also have a quick look through. From your comment above, it seems we may want to hold off generating an archive of the software (which we ask for before publishing) until you've bumped the version and included the test for the identified issue, to make sure there is no co

[2021-05-14 08:26] csoneson commented on #3093
@whedon remove @tgerke as reviewer

[2021-05-14 08:26] whedon commented on #3093
OK, @tgerke is no longer a reviewer

[2021-05-14 08:29] csoneson commented on #3093
@whedon generate pdf

[2021-05-14 08:29] whedon commented on #3093
PDF failed to compile for issue #3093 with the following error:
[code]

[2021-05-14 08:30] csoneson commented on #3093
@whedon generate pdf from branch JOSS

[2021-05-14 08:30] whedon commented on #3093
[code]

[2021-05-14 08:31] whedon commented on #3093
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03093/joss.03093/10.21105.joss.03093.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03093/joss.03093/10.21105.joss.03093.pdf) :page_facing_up: :point_left:

[2021-05-14 08:56] arfon commented on #3256
⚡ thanks @benjaminpope!

[2021-05-14 08:56] arfon commented on #3256
@whedon add @benjaminpope as reviewer

[2021-05-14 08:56] whedon commented on #3256
OK, @benjaminpope is now a reviewer

[2021-05-14 08:57] arfon commented on #3256
@whedon start review

[2021-05-14 08:57] whedon opened #3285 "[REVIEW]: exoplanet: Gradient-based probabilistic inference forexoplanet data & other astronomical time series"
**Submitting author:** @dfm (<a href="http://orcid.org/0000-0002-9328-5652">Daniel Foreman-Mackey</a>)
**Repository:** <a href="https://github.com/exoplanet-dev/exoplanet" target ="_blank">https://github.com/exoplanet-dev/exoplanet</a>
**Version:** v0.5.1
**Editor:** @arfon
**Reviewer:** @grburgess, @benjaminpope
**Archive:** <a href="https://doi.org/10.5281/zenodo.5006965" target="_blank">10.5281

[2021-05-14 08:57] whedon commented on #3256
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3285.

[2021-05-14 08:57] #3256 closed

[2021-05-14 08:57] whedon commented on #3285
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @grburgess, @benjaminpope it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-05-14 08:57] arfon commented on #3256
@grburgess, @benjaminpope - many thanks for agreeing to review this submission for JOSS. See you over in #3285 where the actual review will take place.

[2021-05-14 08:58] arfon commented on #3285
@grburgess, @benjaminpope – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisf

[2021-05-14 09:01] grburgess commented on #3285
@arfon I have had the same issue on other reviews... I am not able to check the boxes. It seems independent of the browser. Is this a common issue?

[2021-05-14 09:01] jorge-lip commented on #3277
@whedon generate pdf

[2021-05-14 09:11] jorge-lip commented on #3277
@whedon check references

[2021-05-14 09:16] jorge-lip commented on #3277
@whedon commands

[2021-05-14 09:16] whedon commented on #3277
Here are some things you can ask me to do:

[code]

[2021-05-14 09:17] whedon commented on #3285
[code]

[2021-05-14 09:17] whedon commented on #3285
[code]

[2021-05-14 09:17] whedon commented on #3285
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03285/joss.03285/10.21105.joss.03285.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03285/joss.03285/10.21105.joss.03285.pdf) :page_facing_up: :point_left:

[2021-05-14 09:18] whedon commented on #3277
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03277/joss.03277/10.21105.joss.03277.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03277/joss.03277/10.21105.joss.03277.pdf) :page_facing_up: :point_left:

[2021-05-14 09:18] whedon commented on #3277
[code]

[2021-05-14 09:36] mikldk commented on #3112
@whedon assign me as editor

[2021-05-14 09:36] whedon commented on #3112
OK, the editor is @mikldk

[2021-05-14 09:37] mikldk commented on #3112
@ulf1 - thank you for the submission.

Do you have any suggestions for reviewers ([here](https://bit.ly/joss-reviewers) is a list of potential reviewers)?

[2021-05-14 09:39] mikldk commented on #3133
I believe the review is finished once @wjakethompson checks the last few boxes. Once this is done, I will ask the reviewers if they have finished their review.

[2021-05-14 10:08] arfon commented on #3056
:wave: @rrjbca - just checking in to see how you're getting along here? Are you able to incorporate the feedback from @rmorgan10 and @cescalara ?

[2021-05-14 10:35] vissarion commented on #3077
@whedon generate pdf from branch paper

[2021-05-14 10:35] whedon commented on #3077
[code]

[2021-05-14 10:37] whedon commented on #3077
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: :point_left:

[2021-05-14 10:38] tobiasschoch commented on #3238
@msalibian - Thank you for the very helpful remarks. Before I’m going to address the points raised, I have some questions for the editor.

@fboehm - I have the following questions:

1. I’m planning to do the following (while working through the issues raised by the reviewers):
 - Make changes in the documents/ code (in the repository)
 - Add a new version tag to the repository
 - Call [at]whedon s

[2021-05-14 10:39] vissarion commented on #3077
@whedon accept

[2021-05-14 10:39] whedon commented on #3077
[code]

[2021-05-14 10:40] whedon commented on #3077
PDF failed to compile for issue #3077 with the following error:
[code]

[2021-05-14 10:43] joeweaver commented on #3212
Hi Kelly,

I'm reviewing another paper for JOSS right now, but would interested with
the understanding that I can't start this one right away.

On Thu, May 13, 2021, 00:24 Kelly L. Rowland ***@***.***>
wrote:

[2021-05-14 12:34] pschloss commented on #3073
Wonderful - thank you all for the great feed back and the wonderful experience!

Pat

[2021-05-14 13:17] danielskatz commented on #3103
Yes, that's fine - I'll assign it to you, and when you are ready to start, please remove the 'waitlisted' label and go ahead

[2021-05-14 13:18] danielskatz commented on #3103
@whedon assign @oliviaguest as editor

[2021-05-14 13:18] whedon commented on #3103
OK, the editor is @oliviaguest

[2021-05-14 13:21] danielskatz commented on #3077
@vissarion - the command you need here is `@whedon accept from branch paper`

I don't want to do this for you, since I want you to be able to check the results and let `@openjournals/joss-eics` know when this is ready to proceed

[2021-05-14 13:26] vissarion commented on #3077
@whedon accept from branch paper

[2021-05-14 13:26] whedon commented on #3077
[code]

[2021-05-14 13:27] whedon commented on #3077
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2310

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2310, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-14 13:27] whedon commented on #3077
[code]

[2021-05-14 13:30] danielskatz commented on #3077
Let me know when this is ready to go to publication, and I'll do a final proofread and proceed

[2021-05-14 13:50] vissarion commented on #3077
@pnavaro I proposed some very minor editing suggestions https://github.com/ymocquar/HOODESolver.jl/pull/16
@danielskatz after addressing the above issue it is ready from my side

[2021-05-14 13:59] jorge-lip commented on #3277
check references

[2021-05-14 14:19] gully commented on #3095
Ok, thank you @shihyuntang that satisfies all of my questions, and I believe satisfies all the remaining checkboxes of the review.  I believe this concludes my portion of the review of `igrins_rv`.  Thank you for patience with the process, for your contribution to the open source community, and for making the edits I requested.  Best wishes to you and the team on continued success with the project

[2021-05-14 14:20] gully commented on #3095
@whedon accept

[2021-05-14 14:20] whedon commented on #3095
I'm sorry @gully, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-05-14 14:24] jorge-lip commented on #3277
@whedon generate pdf

[2021-05-14 14:24] whedon commented on #3277
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03277/joss.03277/10.21105.joss.03277.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03277/joss.03277/10.21105.joss.03277.pdf) :page_facing_up: :point_left:

[2021-05-14 14:26] jorge-lip commented on #3277
I suggest The following reviewers:
kapsakcj
raivivek
koldunovn

[2021-05-14 14:36] sheilasaia commented on #3243
@kthyng thank you very much for asking but I've hit my review quota for the month. Happy to review things like this in the future, but the time frame you suggested is a big tough for me at this point in time.

[2021-05-14 15:03] ygrange commented on #3067
One of mu check boxes is " State of the field: Do the authors describe how this software compares to other commonly-used packages?" I have too little knowledge of this specific field to give some examples, but I can imagine there are several tools which may have different target audiences. Are you aware of other tools that have similar goals as Virgo?

[2021-05-14 15:04] jkanche commented on #3262
thank you @danielskatz! I am now able to review.

[2021-05-14 15:09] arfon commented on #2826
@martibosch, @usethedata - could you come and take another look at this submission and see if the author's updates are satisfactory to you?

[2021-05-14 15:32] joeweaver commented on #3247
Hi Matthew,

Looking better.  I intend to review more deeply early next week.

--Joe

On Tue, May 11, 2021 at 11:04 PM Mathew Jacob ***@***.***>
wrote:

[2021-05-14 16:15] benmarwick commented on #3191
Congratulations to the authors on such as interesting and comprehensive package! Really wonderful to see this, and I am keen to employ it in my research. I could not edit the checklist above, so I paste it below here.

[2021-05-14 16:27] ygrange commented on #3067
(maybe adding here that I'm proceed to discuss in the three issues in the repo of the entry).

[2021-05-14 17:02] csoneson commented on #3122
Thanks @Prof-ThiagoOliveira!

@DidierMurilloF - I will have a quick look through as well, and get back to you shortly with the next steps.

[2021-05-14 17:04] lpantano commented on #3214
@whedon add me as editor

[2021-05-14 17:04] whedon commented on #3214
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-05-14 17:04] lpantano commented on #3214
@whedon commands

[2021-05-14 17:04] whedon commented on #3214
Here are some things you can ask me to do:

[code]

[2021-05-14 17:04] lpantano commented on #3214
@whedon assign @lpantano as reviewer

[2021-05-14 17:05] whedon commented on #3214
You need to assign an editor first.

[2021-05-14 17:05] lpantano commented on #3214
@whedon assign @username as editor

[2021-05-14 17:05] lpantano commented on #3214
@whedon assign @lpantano as editor

[2021-05-14 17:05] whedon commented on #3214
OK, the editor is @lpantano

[2021-05-14 17:08] lpantano commented on #3201
Hi @yoonjeongcha,@marypiper, I see you are working on this recently. Can you give us an update on this? if you are waiting from authors or still working on checking the different items in the checklist. Thanks!

[2021-05-14 17:11] danielskatz commented on #3214
Thanks!

FYI `@whedon assign me as editor` would have also worked

[2021-05-14 17:22] csoneson commented on #3278
@whedon assign @csoneson as editor

[2021-05-14 17:22] whedon commented on #3278
OK, the editor is @csoneson

[2021-05-14 17:24] csoneson commented on #3278
👋🏻 @joseph-palmer  - I will handle your submission, and start by finding reviewers. If you have any suggestions (e.g., from the spreadsheet linked in the first post above), please feel free to provide them here.

[2021-05-14 17:27] csoneson commented on #3122
@whedon generate pdf

[2021-05-14 17:28] whedon commented on #3122
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03122/joss.03122/10.21105.joss.03122.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03122/joss.03122/10.21105.joss.03122.pdf) :page_facing_up: :point_left:

[2021-05-14 17:28] csoneson commented on #3122
@whedon check references

[2021-05-14 17:29] whedon commented on #3122
[code]

[2021-05-14 17:29] whedon opened #3286 "[PRE REVIEW]: ATARRI: A TESS Archive RR Lyrae Classifier"
**Submitting author:** @kennethcarrell (<a href="http://orcid.org/0000-0002-6307-992X">Kenneth Carrell</a>)
**Repository:** <a href="https://github.com/kennethcarrell/ATARRI" target ="_blank">https://github.com/kennethcarrell/ATARRI</a>
**Version:** v1.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2021-05-14 17:29] whedon commented on #3286
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-14 17:29] whedon commented on #3286
[code]

[2021-05-14 17:29] whedon commented on #3286
[code]

[2021-05-14 17:29] whedon commented on #3286
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03286/joss.03286/10.21105.joss.03286.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03286/joss.03286/10.21105.joss.03286.pdf) :page_facing_up: :point_left:

[2021-05-14 17:29] danielskatz commented on #3286
Note from author: This is a companion paper to an article submitted to The Astrophysical Journal Letters

[2021-05-14 17:31] danielskatz commented on #3286
👋 @kennethcarrell - Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2021-05-14 17:31] danielskatz commented on #3286
@whedon query scope

[2021-05-14 17:31] whedon commented on #3286
Submission flagged for editorial review.

[2021-05-14 17:36] danielskatz commented on #3277
@whedon assign me as editor

[2021-05-14 17:36] whedon commented on #3277
OK, the editor is @danielskatz

[2021-05-14 17:38] danielskatz commented on #3277
👋 @vsoch - Would you be interested in reviewing this for JOSS?

[2021-05-14 17:39] danielskatz commented on #3277
👋 @kapsakcj - Would you be interested in reviewing this for JOSS?

[2021-05-14 17:41] danielskatz commented on #3283
👋 @sibirrer - I forgot to ask before: Is this submission associated with a paper submitted to a AAS journal?

[2021-05-14 17:43] sibirrer commented on #3283
@danielskatz No, this is a stand-alone submission. There was an original paper in 2018 (Physics of the Dark Universe) (without code review, highlighting the design feature).

[2021-05-14 17:44] SunilAnandatheertha commented on #3190
@yangbai90 Thank you for the comment. Will include the performance related limitations in the code in the wiki page and will update here.

[2021-05-14 17:48] vsoch commented on #3277
huh, udocker has been around for a bit, I thought it was already published? https://www.sciencedirect.com/science/article/pii/S0010465518302042

[2021-05-14 17:48] SunilAnandatheertha commented on #3190
@ksyang2013 Thank you for the update. I think @Kevin-Mattheus-Moerman would be the best person to help you in this issue.

[2021-05-14 17:56] danielskatz commented on #3283
Thanks - it doesn't really matter in terms of the review process, but it would lead to a minor difference in the publication at the end - see https://blog.joss.theoj.org/2018/12/a-new-collaboration-with-aas-publishing for details

[2021-05-14 17:59] danielskatz commented on #3277
👋 @jorge-lip - can you address @vsoch's point?  How is this JOSS submission different than the previous publication she points to?

[2021-05-14 18:10] sibirrer commented on #3283
I see, thanks for the pointer! Was not fully aware of this, but also think that a full-fledged paper is too much work in writing. I hear your argument of financial support through AAS submissions. Perhaps future papers that are responsible for implementing specific features in lenstronomy might be worth going through a JOSS review (it would only be specific modules of lenstronomy). This would both

[2021-05-14 18:14] danielskatz commented on #3283
Note that one of our (JOSS) sensitivities is in being sure that submissions are substantial units of work, in some equivalent to a science paper, so this might be an issue. In any case, the question has been answered for this submission :)

[2021-05-14 18:45] jorge-lip commented on #3277
The mentioned publication was focused on version 1.1.0 and 1.1.1 for Python 2 since then udocker evolved a lot. Has more capabilities and was much rewritten for Python 3. Currently the latest Python 3 candidate release is 2.7.1. The initial paper introduced udocker but was also about benchmarking three scientific applications and providing performance comparisons for them with several containeriza

[2021-05-14 18:54] danielskatz commented on #3277
Thanks - that sounds good to me.

[2021-05-14 18:54] danielskatz commented on #3277
@vsoch - are you willing to review this?

[2021-05-14 19:13] vsoch commented on #3277
yes! I love containers and would love to give udocker another spin. I also hugely support that JoSS reviews "non traditional" scientific software papers - this is about containers and environments, and this is on par with my recent submission https://github.com/openjournals/joss-reviews/issues/3217. Sign me up! I can try to make some time in the next few weeks.

[2021-05-14 19:26] danielskatz commented on #3277
Thanks!  I'll add you, but as you probably know, we won't actually start the review until we also get another reviewer in

[2021-05-14 19:27] danielskatz commented on #3277
@whedon assign @vsoch as reviewer

[2021-05-14 19:27] whedon commented on #3277
OK, @vsoch is now a reviewer

[2021-05-14 19:27] vsoch commented on #3217
ping @Kevin-Mattheus-Moerman ! Do we want to look for reviewers? Do you need suggestions?

[2021-05-14 19:32] danielskatz commented on #3277
👋 @mviereck - Would you be willing to review this submission to JOSS?

[2021-05-14 20:00] whedon opened #3287 "[PRE REVIEW]: pyREX: Workflow-Orientated Python Package for Replica Exchange Molecular Dynamics"
**Submitting author:** @ArtVoro (<a href="http://orcid.org/0000-0002-5804-5151">Arthur Voronin</a>)
**Repository:** <a href="https://github.com/KIT-MBS/pyREX" target ="_blank">https://github.com/KIT-MBS/pyREX</a>
**Version:** 1.0
**Editor:** @jgostick
**Reviewers:** @janash, @rosecers
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-05-14 20:00] whedon commented on #3287
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-14 20:00] whedon opened #3288 "[PRE REVIEW]: iharm3D: Vectorized General Relativistic Magnetohydrodynamics"
**Submitting author:** @bprather (<a href="http://orcid.org/0000-0002-0393-7734">Ben S. Prather</a>)
**Repository:** <a href="https://github.com/AFD-Illinois/iharm3d/" target ="_blank">https://github.com/AFD-Illinois/iharm3d/</a>
**Version:** v3.6-alpha
**Editor:** @eloisabentivegna
**Reviewers:** @bgiacoma, @cpalenzuela
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warn

[2021-05-14 20:00] whedon commented on #3288
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-14 20:01] whedon commented on #3287
[code]

[2021-05-14 20:01] whedon commented on #3287
[code]

[2021-05-14 20:01] whedon commented on #3288
[code]

[2021-05-14 20:01] whedon commented on #3287
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03287/joss.03287/10.21105.joss.03287.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03287/joss.03287/10.21105.joss.03287.pdf) :page_facing_up: :point_left:

[2021-05-14 20:01] whedon commented on #3288
PDF failed to compile for issue #3288 with the following error:
[code]

[2021-05-14 20:01] danielskatz commented on #3288
@whedon generate pdf from branch joss-paper-branch

[2021-05-14 20:02] whedon commented on #3288
[code]

[2021-05-14 20:02] whedon commented on #3288
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03288/joss.03288/10.21105.joss.03288.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03288/joss.03288/10.21105.joss.03288.pdf) :page_facing_up: :point_left:

[2021-05-14 20:02] danielskatz commented on #3288
@whedon check references from branch joss-paper-branch

[2021-05-14 20:02] whedon commented on #3288
[code]

[2021-05-14 20:02] whedon commented on #3288
[code]

[2021-05-14 20:03] danielskatz commented on #3287
@artvoro - if you have time, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2021-05-14 20:04] danielskatz commented on #3288
@bprather - if you have time, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. You could also remove any entries from your bib file that are not actually referenced, if there are any, which will make this process easier.  Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the

[2021-05-14 20:05] danielskatz commented on #3287
👋 @jgostick - would you be willing to edit this submission?

[2021-05-14 20:05] danielskatz commented on #3287
@whedon invite @jgostick as editor

[2021-05-14 20:05] whedon commented on #3287
@jgostick has been invited to edit this submission.

[2021-05-14 20:06] danielskatz commented on #3288
👋 @eloisabentivegna - would you be able to edit this submission?

[2021-05-14 20:06] danielskatz commented on #3288
@whedon invite @eloisabentivegna as editor

[2021-05-14 20:06] whedon commented on #3288
@eloisabentivegna has been invited to edit this submission.

[2021-05-14 20:09] danielskatz commented on #3223
@isidentical - sorry for the delay here - the next step is finding a editor for this submission, who will work to find reviewers.  If you have suggestions for reviewers, please put their github usernames here (without the `@` so that they are not tagged)

[2021-05-14 20:10] mdogucu commented on #3117
I am not available to review at this time, unfortunately.

[2021-05-14 20:10] danielskatz commented on #3223
👋 @mjsottile - Is there any chance you can take on another submission to edit?

[2021-05-14 20:10] danielskatz commented on #3223
@whedon invite @mjsottile as editor

[2021-05-14 20:10] whedon commented on #3223
@mjsottile has been invited to edit this submission.

[2021-05-14 20:18] jgostick commented on #3267
Regarding the scope query, this was preemptively discussed [here](https://github.com/openjournals/joss/issues/918)

[2021-05-14 20:21] jgostick commented on #3287
arg, I keep getting these molecular dynamics packages to review though it's really not my area.  I have been relying on the list of volunteer editors, but I must be close to exhausting that list by now.  I will edit this one, but would appreciate if @ArtVoro could suggest some suitable reviewers?

[2021-05-14 20:21] danielskatz commented on #3267
Right - thanks for pointing this out - I missed this one coming in

[2021-05-14 20:21] jgostick commented on #3287
@whedon assign @jgostick as editor

[2021-05-14 20:21] whedon commented on #3287
OK, the editor is @jgostick

[2021-05-14 20:21] danielskatz commented on #3267
I'll remove the scope query label, since we already discussed it, and assign it (reluctantly) to @gkthiruvathukal, who volunteered in that earlier discussion

[2021-05-14 20:22] danielskatz commented on #3267
@whedon assign @gkthiruvathukal as editor

Thanks @gkthiruvathukal !!

[2021-05-14 20:22] whedon commented on #3267
OK, the editor is @gkthiruvathukal

[2021-05-14 20:24] jgostick commented on #3287
@ArtVoro, we have a checklist of things that the reviewers will look for, and I can already tell that your documentation will raise some flags, since there isn't any.  :-)  I can see that you have a ``doc`` folder so I'm sure you're building it and hosting it somewhere, but there is no link to this in your readme or anywhere on the github page.  Could you maybe address this first, so the reviewers

[2021-05-14 20:25] danielskatz commented on #3287
@jgostick - You could ask shantenujha if someone in his Rutgers/BNL group could review this, or bieniekmateusz or someone else in the same UCL group

[2021-05-14 20:26] danielskatz commented on #3287
Also, perhaps someone from https://github.com/orgs/MolSSI/people

[2021-05-14 20:28] jgostick commented on #3287
@ArtVovo, I should also add that your package name is essentially invisible to google since people have run molecular dynamics simulations on actual pyrex brand glass, and that is the only hits I'm getting.  I'm sure you are aware of this, but maybe consider a name change before JOSS chisels it in stone?

[2021-05-14 20:34] ArtVoro commented on #3287
@whedon check references

[2021-05-14 20:35] whedon commented on #3287
[code]

[2021-05-14 20:35] ArtVoro commented on #3287
@whedon generate pdf

[2021-05-14 20:35] whedon commented on #3287
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03287/joss.03287/10.21105.joss.03287.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03287/joss.03287/10.21105.joss.03287.pdf) :page_facing_up: :point_left:

[2021-05-14 20:49] kapsakcj commented on #3277
Hi all, thanks for the invitation to review but I have to decline as I don't think I'll be able to review in a timely manner. I recently started a new job and will be moving very soon so things are a bit hectic.

If you all are not able to find another reviewer in say...a month's time? please ping me again and I may be able to dedicate some time to this.

I too love containers and am interested in

[2021-05-14 20:53] ArtVoro commented on #3287
@jgostick i will try to fix it asap. until 2 days ago the documentation was just the doc strings of the py files.

@jgostick i will discuss some alternative names with my colleagues.

[2021-05-14 20:55] jgostick commented on #3287
Good stuff.  RE: name, ``pyrexmd`` might be enough?

[2021-05-14 20:57] ArtVoro commented on #3287
funny i was thinking the same. typically people in this field use REMD for Replica Exchange Molecular Dynamics but i really love REX so i tryed to stick to that.

[2021-05-14 21:48] gkthiruvathukal commented on #3229
@MariaPoliti  Thank you. I will get on this shortly!

[2021-05-14 21:51] gkthiruvathukal commented on #3267
My pleasure, @danielskatz! I know, I have my hands full, but the good news is that my semester is fully done so I can catch up.

[2021-05-14 22:12] fboehm commented on #3238
@tobiasschoch - Thanks for your questions. Below I try to answer them.

1. Don't worry about making the tagged release or interacting with whedon. I'll guide you through that when it's time. For now, just concentrate on your first bullet point. If you want to see how the pdf looks after your changes are made, you can tell whedon to "generate pdf", but don't create a new release until I ask you to

[2021-05-14 22:12] fboehm commented on #3238
@aalfons - how is the review going? Please let me know if you encounter any difficulties.

[2021-05-14 22:20] ulf1 commented on #3112
Hello @mikldk
maybe rasbt, desilinguist, ahurriyetoglu, betatim, yxoos, or apiad

[2021-05-14 22:29] danielskatz commented on #3277
Thanks - suggestions on your interested colleagues would be great!

[2021-05-14 22:30] bprather commented on #3288
@whedon check references

[2021-05-14 22:43] eloisabentivegna commented on #3288
Sure thing!

[2021-05-14 22:45] eloisabentivegna commented on #3288
@whedon assign @eloisabentivegna as editor

[2021-05-14 22:45] whedon commented on #3288
OK, the editor is @eloisabentivegna

[2021-05-14 22:49] bprather commented on #3288
@eloisabentivegna Thanks for taking this on!

@danielskatz is there something I'm missing activating whedon?  In any case I've taken another look at the references and I believe all the missing DOIs should be fixed in 'joss-paper-branch'

[2021-05-14 22:52] danielskatz commented on #3288
@whedon check references from branch joss-paper-branch

I'm not sure why this didn't work - let's just try it again.  If it fails, there's perhaps a problem in the bib file that is causing it to fail silently.  If this happens, we might try to generate the PDF and see if that tells us the error

[2021-05-14 22:52] whedon commented on #3288
[code]

[2021-05-14 22:52] whedon commented on #3288
[code]

[2021-05-14 22:57] bprather commented on #3288
Thanks!  I guess @whedon just doesn't like me...

[2021-05-15 02:49] sneakers-the-rat commented on #3284
hope it's alright if i do my checklist in a separate comment & copy/paste it into the OP at the end so i don't accidentally mess up anything @hadware is doing

## Review checklist for @sneakers-the-rat
### Conflict of interest

- [x] I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewi

[2021-05-15 03:00] sneakers-the-rat commented on #3284
hope it's alright if i do my checklist in a separate comment & copy/paste it into the OP at the end so i don't accidentally mess up anything @hadware is doing

## Review checklist for @sneakers-the-rat
### Conflict of interest

- [x] I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewi

[2021-05-15 03:12] lpantano commented on #3214
thanks, sorry, clearly Friday is not my day to do this kind of tasks...

[2021-05-15 09:13] csoneson commented on #3122
@DidierMurilloF - this looks good! The only thing I would suggest is on line 27 in the paper, to change ``` it allows users to specify the dimensions of the field as row and columns``` to ``` it allows users to specify the dimensions of the field (the number of rows and columns)``` or something along those lines.

The next steps would then be as follows:
- [ ] Make a tagged release of the software

[2021-05-15 09:52] csoneson commented on #3093
👋🏻 @struckma - I just sent a merge request with some minor fixes to the paper and the references (mostly to increase the consistency in their reporting). Please have a look and merge if you agree.

Then, the next steps are as follows:
- [ ] Make a tagged release of the software, and list the version tag of the archived version here.
- [ ] Archive the release in Zenodo or a similar service
- [ ] Ch

[2021-05-15 11:16] szymon-datalions commented on #2869
@whedon generate pdf from branch paper

[2021-05-15 11:16] whedon commented on #2869
[code]

[2021-05-15 11:17] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-05-15 11:19] szymon-datalions commented on #2869
@whedon generate pdf from branch paper

[2021-05-15 11:19] whedon commented on #2869
[code]

[2021-05-15 11:19] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-05-15 12:01] danielskatz commented on #3284
Please just use the checklist at the top.

[2021-05-15 12:29] szymon-datalions commented on #2869
@whedon generate pdf from branch paper

[2021-05-15 12:29] whedon commented on #2869
[code]

[2021-05-15 12:29] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-05-15 12:41] szymon-datalions commented on #2869
Hi,

I've made a major update in the paper and the package.

- @sdesabbata I've included comparison to `gstat` Kriging interpolation at the end of a paper (new chapter before Bibliography section),
- @kenohori Thank you for your help, I've updated paper accordingly, but there's a problem with a table width. Locally I'm able to control it with HTML tags but after compilation table no longer fits in

[2021-05-15 13:34] donaldRwilliams commented on #3210
@karthik It wont let me edit the check list

[2021-05-15 14:17] donaldRwilliams commented on #3210
@karthik I have opened up 8 issues on the repo. I think the proposed changes will improve the package considerably.

1.  Currently, the package contains no real world examples. (https://github.com/LangeJens/CliquePercolation/issues/3). Rather the examples are "fake" networks when it would be ideal to have at least one example with real data, I think.

[2021-05-15 14:21] wjakethompson commented on #3133
@mikldk things look good to me! I have finished my checklist.

[2021-05-15 14:31] donaldRwilliams commented on #3210
@karthik @LangeJens Note the above suggestions on the one hand are "cosmetic", but on the other, I find that nicely developed software typically include all the above. I am confident that making those changes will greatly improve the users experience and potentially increase impact (e.g., by honing in the README).

[2021-05-15 14:37] danielskatz commented on #3210
@Whedon re-invite @donaldRwilliams as reviewer

[2021-05-15 14:37] whedon commented on #3210
OK, the reviewer has been re-invited.

@donaldrwilliams please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-15 19:31] msalibian commented on #3238
@fboehm @tobiasschoch About the above:

2 - I don't have a strong opinion on this. A reference to the vignette would probably be enough. Although in that case I think it would be helpful to include in the paper a few sentences describing / quantifying the performance gain that can be expected with this implementation. Something like "When the sample size is larger than XXX, using this implementati

[2021-05-15 21:44] whedon opened #3289 "[PRE REVIEW]: BlendOsim: A Blender add-on for visualization of Opensim models and motion capture data"
**Submitting author:** @JonathanCamargo (<a href="http://orcid.org/0000-0001-5219-2110">Jonathan Camargo</a>)
**Repository:** <a href="https://github.com/JonathanCamargo/BlendOsim" target ="_blank">https://github.com/JonathanCamargo/BlendOsim</a>
**Version:** v0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-05-15 21:44] whedon commented on #3289
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-15 21:44] whedon commented on #3289
PDF failed to compile for issue #3289 with the following error:
[code]

[2021-05-15 21:44] whedon commented on #3289
[code]

[2021-05-15 21:47] danielskatz commented on #3289
@JonathanCamargo - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the build problem.  It appears you have a probl

[2021-05-15 21:47] danielskatz commented on #3289
@whedon query scope

[2021-05-15 21:47] whedon commented on #3289
Submission flagged for editorial review.

[2021-05-15 22:39] donaldRwilliams commented on #3289
@danielskatz any idea why I am getting notifications (it happened for another as well)

[2021-05-15 23:11] danielskatz commented on #3289
@donaldRwilliams - take a look at the review issue where you are reviewing, and one of the first couple of comments in the issue will show you how to unwatch other issues

[2021-05-16 00:11] 0xCoto commented on #3067
Regarding other packages, I've seen a few home-built independent efforts by newcomers writing up their own software for basic observations (just averaging spectra, for the most part), but they are nowhere near as close to the ease of use, installation, cross-platform support, functionality and documentation that this package has to offer. While marginally functional, there have been very few relea

[2021-05-16 02:43] ArtVoro commented on #3287
@whedon generate pdf

[2021-05-16 02:44] whedon commented on #3287
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03287/joss.03287/10.21105.joss.03287.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03287/joss.03287/10.21105.joss.03287.pdf) :page_facing_up: :point_left:

[2021-05-16 02:51] ArtVoro commented on #3287
@jgostick

1) i renamed the package to `pyrexMD` and fixed all files where i call it
2) i managed to build some api doc with sphinx, will add some stuff later to pep it up a bit
3) i uploaded the doc to github pages and linked it to README

[2021-05-16 02:54] ArtVoro commented on #3287
@whedon generate pdf

[2021-05-16 02:54] whedon commented on #3287
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03287/joss.03287/10.21105.joss.03287.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03287/joss.03287/10.21105.joss.03287.pdf) :page_facing_up: :point_left:

[2021-05-16 03:51] JonathanCamargo commented on #3289
@whedon commands

[2021-05-16 03:51] whedon commented on #3289
Here are some things you can ask me to do:

[code]

[2021-05-16 03:51] JonathanCamargo commented on #3289
@whedon check references

[2021-05-16 03:52] whedon commented on #3289
[code]

[2021-05-16 03:57] JonathanCamargo commented on #3289
@whedon check references

[2021-05-16 03:57] whedon commented on #3289
[code]

[2021-05-16 03:57] JonathanCamargo commented on #3289
paper.bib is fixed

[2021-05-16 03:57] JonathanCamargo commented on #3289
@whedon generate pdf

[2021-05-16 03:57] whedon commented on #3289
PDF failed to compile for issue #3289 with the following error:
[code]

[2021-05-16 04:01] JonathanCamargo commented on #3289
@whedon generate pdf

[2021-05-16 04:01] whedon commented on #3289
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03289/joss.03289/10.21105.joss.03289.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03289/joss.03289/10.21105.joss.03289.pdf) :page_facing_up: :point_left:

[2021-05-16 04:02] JonathanCamargo commented on #3289
Fixed problems with paper.md

[2021-05-16 04:16] gkthiruvathukal commented on #3267
@bshoshany Can you please suggest some potential reviewers from the list shared at the top of this issue thread?

[2021-05-16 04:17] gkthiruvathukal commented on #3052
@mdpiper Thanks for your review.

@arcuri82 Can you give an update on your review status?

[2021-05-16 04:22] gkthiruvathukal commented on #2752
@vissarion  and @traversaro Can you give me a sense of whether @vincentberenz  responses are sufficient? It seems like we are getting closer to acceptance.

[2021-05-16 04:26] gkthiruvathukal commented on #3156
@yc015 I am ready to move toward accepting this submission.

Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and peo

[2021-05-16 04:36] gkthiruvathukal commented on #2951
@markheckmann if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-05-16 06:31] egonw commented on #2558
Hi @arcuri82, @Zethson, please let me know if I can answer any further questions. Your feedback has been really appreciated.

[2021-05-16 09:23] igarizio commented on #3203
👋 @Eugenio2192 Thank you for the submission. This is a super interesting topic!
I have been reviewing your paper, code, and documentation and I have a few comments:

## General checks:
- **Contribution and authorship:** I see that you have made a lot of contributions to the software and I just wanted to check with you that the other listed authors had also made substantial contributions.

## Funct

[2021-05-16 10:18] LangeJens commented on #3210
@donaldRwilliams Thank you very much for taking the time to provide all these recommendations! I will do my best to implement them asap.

[2021-05-16 10:54] pzarabadip commented on #3171
Hi @danielskatz.
Sorry for late response. I just finished my review on the code.

I would like to thank authors for developing `surfaxe` package which is nice and useful contribution for the community.
I carefully went through code, tutorials, tests, documentation, and paper and found from my point view that the code/paper is (almost) ready to be accepted for publication in `JOSS`. I only have few

[2021-05-16 11:11] markheckmann commented on #2951
@gkthiruvathukal Thanks for the info! Based on the information on the list, I would suggest on of the following four persons: adithirgis, elimillera, aj2duncan, brunaw
Thanks and best wishes, Mark

[2021-05-16 12:09] bshoshany commented on #3267
@gkthiruvathukal Here are some potential reviewers who listed C++ as a preferred language and parallel programming as a topic they are comfortable reviewing:
* cedricchevalier19
* davidbeckingsale
* fcdimitr
* jpenuchot
* leonardojaneis
* pitsianis
* RcSepp
* zeroset

[2021-05-16 12:21] McWhity commented on #3198
Right now the software is limited one satellite type (Sentinel-1). Currently two identical Sentinel-1 satellites are in orbit (S1-A since 2014 and S1-B since 2016) and provide free available microwave data of the entire world every 6 days. The satellites were designed with a lifetime of 7 years (12 years for consumables). To ensure continuous monitoring after the lifetime of S1-A and S1-B two new

[2021-05-16 14:53] pitsianis commented on #3100
@whedon generate pdf

[2021-05-16 14:53] whedon commented on #3100
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03100/joss.03100/10.21105.joss.03100.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03100/joss.03100/10.21105.joss.03100.pdf) :page_facing_up: :point_left:

[2021-05-16 15:19] pitsianis commented on #3145
I am done with review. I like the Jupyter notebook.

[2021-05-16 15:30] yc015 commented on #3156
@gkthiruvathukal Thank you! I have tagged the release and archived the software in Zenodo.
The tagged release is here [REL: v1.3.9 JOSS release of KALMUS](https://github.com/KALMUS-Color-Toolkit/KALMUS/releases/tag/v1.3.9)
The Zenodo DOI is 10.5281/zenodo.4765745  ([link to the Zenodo page](https://zenodo.org/record/4765745#.YKE4cqhKhPY)).

[2021-05-16 16:31] poulson commented on #3145
@whedon generate pdf

[2021-05-16 16:31] whedon commented on #3145
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03145/joss.03145/10.21105.joss.03145.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03145/joss.03145/10.21105.joss.03145.pdf) :page_facing_up: :point_left:

[2021-05-16 16:32] poulson commented on #3145
@whedon check references

[2021-05-16 16:32] whedon commented on #3145
[code]

[2021-05-16 16:34] arcuri82 commented on #3052
@gkthiruvathukal  I am waiting the authors to address the points raised at https://github.com/openmainframeproject/ade/issues/85

[2021-05-16 16:36] arcuri82 commented on #2558
@egonw  Hi. I am currently on parental leave. unfortunately I have no time this week to look at your updates. but i ll try the week after

[2021-05-16 16:48] pnavaro commented on #3077
@whedon generate pdf

[2021-05-16 16:49] whedon commented on #3077
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: :point_left:

[2021-05-16 16:49] pnavaro commented on #3077
@whedon check references

[2021-05-16 16:49] whedon commented on #3077
[code]

[2021-05-16 16:55] pnavaro commented on #3077
@whedon generate pdf

[2021-05-16 16:55] whedon commented on #3077
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: :point_left:

[2021-05-16 17:04] tingyu66 commented on #3145
Hi @poulson, I just fixed the invalid DOIs and updated one reference as suggested by @berenger-eu in the `master` branch.

[2021-05-16 17:24] gkthiruvathukal commented on #3052
Thanks, @arcuri82! Appreciate all of your help.

[2021-05-16 17:25] gkthiruvathukal commented on #3156
@whedon set v1.3.9 as version

[2021-05-16 17:25] whedon commented on #3156
OK. v1.3.9 is the version.

[2021-05-16 17:25] gkthiruvathukal commented on #3156
@whedon set 10.5281/zenodo.4765745 as archive

[2021-05-16 17:25] whedon commented on #3156
OK. <a href="https://doi.org/10.5281/zenodo.4765745" target="_blank">10.5281/zenodo.4765745</a> is the archive.

[2021-05-16 17:26] gkthiruvathukal commented on #3156
@whedon generate pdf

[2021-05-16 17:26] whedon commented on #3156
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: :point_left:

[2021-05-16 17:46] gkthiruvathukal commented on #3156
@yc015 Everything looks good to go. I am proceeding to recommend acceptance.

[2021-05-16 17:46] gkthiruvathukal commented on #3156
@whedon accept

[2021-05-16 17:46] whedon commented on #3156
[code]

[2021-05-16 17:46] whedon commented on #3156
[code]

[2021-05-16 17:47] whedon commented on #3156
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2311

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2311, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-16 17:47] gkthiruvathukal commented on #3267
@zeroset Are you willing to contribute a review for this JOSS submission?

[2021-05-16 17:48] gkthiruvathukal commented on #3267
@cedricchevalier19 Are you willing to contribute a review for this JOSS submission?

[2021-05-16 17:49] gkthiruvathukal commented on #3229
@tacaswell, are you willing to contribute a review for this JOSS submission?

[2021-05-16 17:49] gkthiruvathukal commented on #3229
@rmsare, are you willing to contribute a review for this JOSS submission?

[2021-05-16 17:50] gkthiruvathukal commented on #2951
@aj2duncan, are you willing to contribute a review for this JOSS submission?

[2021-05-16 17:50] gkthiruvathukal commented on #2951
@brunaw, are you willing to contribute a review for this JOSS submission?

[2021-05-16 17:52] gkthiruvathukal commented on #3062
@marcozennaro Just following up to see how things are going with the revisions to your submission?

[2021-05-16 17:54] zeroset commented on #3267
Yes I am happy to review.

[2021-05-16 18:02] gkthiruvathukal commented on #3267
@whedon assign @zeroset as reviewer

[2021-05-16 18:02] whedon commented on #3267
OK, @zeroset is now a reviewer

[2021-05-16 18:08] yc015 commented on #3156
@gkthiruvathukal Highly appreciate!

[2021-05-16 18:30] SRSteinkamp commented on #3150
I am so sorry for the late reply, I haven't looked into my Github notifications for ages (and didn't know that the Review requests would come in this way).

I find the package quite interesting, but unfortunately do not have any resources for reviewing in the next couple of weeks.

[2021-05-16 18:31] csoneson commented on #3278
👋🏻 @mponce0, @eguidotti - would you be interested in reviewing this submission for JOSS?

[2021-05-16 18:39] tacaswell commented on #3229
I will not have any time until June.

[2021-05-16 19:33] rmsare commented on #3229
Thanks for asking, George. I'm not able to review at this time.

On Sun, May 16, 2021, 11:40 Thomas A Caswell ***@***.***>
wrote:

[2021-05-16 19:35] eguidotti commented on #3278
@csoneson Thanks but I think to be in conflict of interest with this work as I've implemented and published something very similar. I will not review according to your policies.

[2021-05-16 19:57] mjsottile commented on #3223
@whedon assign me as editor

[2021-05-16 19:57] whedon commented on #3223
OK, the editor is @mjsottile

[2021-05-16 19:58] mjsottile commented on #3223
@isidentical If you have suggestions for reviewers please let me know - I will start gathering reviewers in the coming week to start the review.

[2021-05-16 20:45] mponce0 commented on #3278
@csoneson I'm in a similar situation as @eguidotti, as I have also authored an R package for accessing covid19 data. Having said that and IFF you and JOSS are OK with this, meaning that you consider that there is no conflict of interest, I'll be OK to review the submission.

[2021-05-16 21:18] gkthiruvathukal commented on #3229
@tacaswell That works for my timeframe. We're still in reduced service mode here. I will work with your schedule and try to keep it as low-stress as possible. Same for you, @rmsare, if you are willing to work on June/July timeframe.

Thanks for responding.

[2021-05-16 22:00] vyasr commented on #3098
Other possible reviewers are hugoledoux (I know he's also an editor, so not sure what his time is like), vissarion, and evetion.

I'm working on adding an edited version of the paper figures into the docs now, I'll update when that's done!

[2021-05-17 00:53] ashleychontos commented on #3269
@arfon hello and thank your quick response with comments and suggestions!

Re: the test suite:
I have thought about adding a separate test feature (i.e. one that does not depend on input data, science, etc.), as it would also be helpful for folks interested in developing the software. We do have an example star (with output) available in the [documentation](https://pysyd.readthedocs.io/en/latest/q

[2021-05-17 00:55] usethedata commented on #2826
I've completed my review and am satisfied.

[2021-05-17 03:20] majensen commented on #3197
@junjun-zhang @dimitridarras please post a quick update in this thread when you have a chance - thanks!

[2021-05-17 03:22] majensen commented on #3246
@benjaminbolling sorry I'm dragging my feet here - lots of personal activity going on. I'm thinking about reviewers, but if you have any suggestions please let me know - thanks!

[2021-05-17 05:31] r-barnes commented on #2276
Thanks @kbarnhart, I'm in the process of looking through things now.

[2021-05-17 05:38] benjaminpope commented on #3285
**Intro Comments:**
- Thanks for producing a great library, with many citations and applications already. This is already a very useful community resource. The code is well documented, with a host of great examples. I have read the paper and examples carefully, and tested several of these to the best of my poor laptop's ability. I recommend acceptance with minor revisions, providing a few comments

[2021-05-17 05:46] jni commented on #3202
@whedon re-invite @abigailmcgovern as reviewer

[2021-05-17 05:46] whedon commented on #3202
OK, the reviewer has been re-invited.

@abigailmcgovern please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-17 06:38] arfon commented on #3269
I think these are helpful, but if I were reviewing this submission, I'd be looking for a way to verify the functionality of the files in [this directory](https://github.com/ashleychontos/pySYD/tree/master/pysyd). As we describe in https://joss.readthedocs.io/en/latest/review_criteria.html#tests, there are multiple ways to do this, and example inputs/outputs is the _minimum_ we allow but I would [e

[2021-05-17 06:51] hugoledoux commented on #3191
@whedon re-invite @benmarwick  as reviewer

[2021-05-17 06:51] whedon commented on #3191
OK, the reviewer has been re-invited.

@benmarwick  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-17 06:54] hugoledoux commented on #3191
thanks @benmarwick

I guess you didn't accept the invite a while ago and it wasn't valid anymore. I re-invited you, but also clicked the checkboxes on your behalf above.

Very nice to read this, this is the whole point of JOSS!

[2021-05-17 07:36] michakraus commented on #2954
Hi @VivianePons, my apologies for the long silence. I had hardly any time for code related work in recent weeks. I will try to sort out the remaining points during this week.

[2021-05-17 07:58] eloisabentivegna commented on #3288
@bgiacoma, @pmoesta, would you be able to review this submission?

[2021-05-17 08:10] Zethson commented on #2558
@egonw It's great to see that you continued the work on this project.
I have no further requests or questions.

Thank you!

[2021-05-17 08:57] hugoledoux commented on #3191
@zoometh the review was very smooth so far, I suggest you look at the issue opened by @benmarwick and make the appropriate change, and then we can move forward with the acceptance of the paper.

[2021-05-17 09:03] zoometh commented on #3191
@hugoledoux As far as I understand, the [only issue](https://github.com/zoometh/iconr/issues/73) was about missing docs for contributors. I've added these docs and closed the issue. Is there's something I've forgotten?

[2021-05-17 09:09] hugoledoux commented on #2869
@szymon-datalions while being precise in the paper is important, now the paper is rather long, way longer than typical papers. Could we make sure that it stays <10pages? You could for instance merge figures 2-3 and 4-5 together, and maybe the use-cases could be in a wiki in the repository or in the docs? The point is to "Mention (if applicable) a representative set of past or ongoing research proj

[2021-05-17 09:11] hugoledoux commented on #2869
hmmm, I am not sure how. You can resize figures like this, perhaps this works for tables?
[code]
If not we'll deal with this at the end.

[2021-05-17 09:21] rrjbca commented on #3056
Hi all, yes the reviews have been incredibly helpful and we're working on incorporating everything, in particular a lot of work is going into improving our documentation. It's taking a bit longer than we anticipated but we hope to get back to you shortly.

[2021-05-17 09:35] AbigailMcGovern commented on #3202
## Functionality

Both the paper and the documentation claim that the package is capable of trajectory prediction with RNNs (particuarly using LSTM). When I tried to execute the example in the docs I ran into some issues (see https://github.com/traja-team/traja/issues/83). It seems that this documentation doesn't relate to the version available of PyPI (0.2.3), which is a little confusing for a ne

[2021-05-17 09:36] hugoledoux commented on #3191
@whedon generate pdf

[2021-05-17 09:36] hugoledoux commented on #3191
@whedon check references

[2021-05-17 09:36] whedon commented on #3191
[code]

[2021-05-17 09:36] whedon commented on #3191
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03191/joss.03191/10.21105.joss.03191.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03191/joss.03191/10.21105.joss.03191.pdf) :page_facing_up: :point_left:

[2021-05-17 09:41] szymon-datalions commented on #2869
Sure, I'll do it and I'll move some sections into external notebooks with the links in the appendix.

[2021-05-17 09:51] whedon commented on #3236
:wave: @tomfaulkenberry, please update us on how your review is going (this is an automated reminder).

[2021-05-17 09:58] hugoledoux commented on #3191
oh my bad, I had not noticed you already answered, sorry.

I have fixed a few things in the paper/bib and made 2 PR:
https://github.com/zoometh/iconr/pull/74
https://github.com/zoometh/iconr/pull/75

and I have 3 things I am not sure about:

  1. the DOI checker complains about one book but not the others. I am not sure if all old books have DOIs, but we like DOIs at JOSS so could you check if all

[2021-05-17 10:20] yangbai90 commented on #3190
@whedon commands

[2021-05-17 10:20] whedon commented on #3190
Here are some things you can ask me to do:

[code]

[2021-05-17 10:20] yangbai90 commented on #3190
@whedon check references

[2021-05-17 10:20] whedon commented on #3190
[code]

[2021-05-17 10:20] yangbai90 commented on #3190
@whedon check repository

[2021-05-17 10:20] whedon commented on #3190
Failed to discover a `Statement of need` section in paper

[2021-05-17 10:20] whedon commented on #3190
[code]

[2021-05-17 10:22] yangbai90 commented on #3190
@SunilAnandatheertha
Hi sunil, please also add the `Statement of need` section in your manuscript.
BR
Yang

[2021-05-17 10:25] raoulcollenteur commented on #3175
Started on the Review today, interesting work! I will edit this comment over the next couple of days.

**Summary**
HyRiver is a collection (software stack) of six python packages that aim to improve the workflow of data collection and processing for hydrological and climatological data from public web services. This is an important and often time-consuming step in hydrological studies, and I congr

[2021-05-17 10:59] zoometh commented on #3191
I've merged your corrections on `paper.bib`

I found 1 supplementary DOI (for Hodder's book). I've added it

Done. I've added a short description of what is a Harris diagram, and a reference

Done. I've changed "*birel*: touches" to a more explicit "binary topological relationship: *touches*"

[2021-05-17 11:01] zoometh commented on #3191
I've committed these changes and added also minor changes to avoid closing and opening parenthesis touching each other, e.g.: "..)(..".

 I've run the Whedon preview: it seems fine

[2021-05-17 11:09] Goobley commented on #3265
I'm happy with all of this now!

[2021-05-17 11:16] hugoledoux commented on #3191
@whedon generate pdf

[2021-05-17 11:17] whedon commented on #3191
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03191/joss.03191/10.21105.joss.03191.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03191/joss.03191/10.21105.joss.03191.pdf) :page_facing_up: :point_left:

[2021-05-17 11:19] hugoledoux commented on #3191
OK, both reviewers recommend acceptance so we're moving towards this.

At this point could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the

[2021-05-17 11:22] dfm commented on #3285
Thanks @benjaminpope for your detailed and constructive review - all of these suggestions are very helpful!! As you've seen, I've created a series of issue threads to track these changes and I'll report back here once I've gone through them.

[2021-05-17 11:26] ygrange commented on #3067
I think with this state of the field, one of the extra added values is reproducibility. If everybody uses the same package, it makes the results much better to interpret and reproduce IMO. I personally would advice you to add the first sentence (in some rewording) to the introduction or statement of need section, since I think it is a pretty strong argument (to me at least).

That's really the onl

[2021-05-17 11:59] aj2duncan commented on #2951
Hi @gkthiruvathukal,

This looks really interesting and thank you very much for the offer but I'm not going to be able to contribute for a couple of weeks. If you're happy to wait, I'll gladly look at it then but otherwise I'll have to pass.

Thanks,

Andrew

[2021-05-17 12:00] ConorMacBride commented on #3265
Thanks @mgalloy and @Goobley for your valuable feedback on this software, helping to improve its quality. The issue (https://github.com/ConorMacBride/mcalf/issues/29) has now been resolved and closed, and it looks like both checklists are now complete @mbobra.

[2021-05-17 12:15] danielskatz commented on #3171
Thanks @pzarabadip - Do I understand correctly that these are *suggestions*, not changes that are *required* for you?

Or is the last one a requirement, tied to the fact that you didn't check the performance box in your review?

[2021-05-17 12:15] danielskatz commented on #3171
👋 @eihernan - Can you update us on the status of your review?

[2021-05-17 12:17] danielskatz commented on #3143
👋 @nkallima - How are your changes going?

[2021-05-17 12:17] danielskatz commented on #3143
👋 @hkaiser - How is your review coming along?

[2021-05-17 12:18] danielskatz commented on #3211
👋 @adi3 & @PierreGuilbertF - Just checking again: how are your reviews going?

[2021-05-17 12:24] danielskatz commented on #3277
👋 @laramaktub - Would you be willing to review this submission for JOSS?  We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-05-17 12:38] mikldk commented on #3112
@rasbt, @desilinguist: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-05-17 12:39] aalfons commented on #3238
@fboehm The only difficulty is finding time. I'll get to it by the end of the week. My apologies for the delay, I was not aware that it needs to be done so quickly.

[2021-05-17 12:40] mikldk commented on #3133
@alexpghayes also misses a few boxes -- can you please check all is okay and confirm here when you have finished your review?

[2021-05-17 12:40] mikldk commented on #3054
@soodoku, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-05-17 12:45] zoometh commented on #3191
Done -> [Warrior stelae](https://github.com/zoometh/iconr/releases/tag/0.1.1)

Done. The DOI of the archive is [10.5281/zenodo.4767529](https://doi.org/10.5281/zenodo.4767529)

[2021-05-17 12:52] markheckmann commented on #2951
@aj2duncan Dear Andrew, thanks for your offer. We are happy to wait for a couple of weeks. We would be very glad if you were willing to do it then. Thanks, Mark

[2021-05-17 13:06] tobiasschoch commented on #3238
@fboehm @msalibian @aalfons

 - I'm greatful for all the hints and comments. Now I understand how the review process works at JOSS.
 - Frederick, I don't mind if the review takes more time than usual. The reviewers are busy professors (so am I). I prefer a detailed review to a quick review. We should give aalfons more time if he needs it.
 - Next, I'm going to address the points raised by msalibia

[2021-05-17 13:10] bgiacoma commented on #3288
@eloisabentivegna can I have more details? Do I have to review a paper or the code? What is the deadline?

[2021-05-17 13:10] hkaiser commented on #3143
I'm struggling currently as the library under review builds on Linux only. I will need to build an environment somewhere to proceed.

[2021-05-17 13:12] csoneson commented on #3278
Thanks both! @mponce0 - we discussed it and we think that it is not a problem (assuming of course that you think you can make a "fair" assessment of the submission).

[2021-05-17 13:17] cedricchevalier19 commented on #3267
I will be happy to contribute too, if  necessary.

[2021-05-17 13:18] fboehm commented on #3238
@aalfons - I apologize if I implied that I expected the review to be done by now. That wasn't my intention. I merely wanted to ask if you'd gotten started or encountered difficulties. Sometimes reviewers are unsure how to start the review, especially since we use a nontraditional format at JOSS. If any questions arise, please let me know. Thanks again!!

[2021-05-17 13:20] fboehm commented on #3238
@tobiasschoch - that all sounds good. Please feel free to address the issues that @msalibian raised as the next step. Thanks!!

[2021-05-17 13:32] Eugenio2192 commented on #3203
Thanks a lot for the feedback @igarizio most of the issues have been addressed in the latest commits. Some of the changes will take some more time but the critical ones like documentation consistency and tool functionality are resolved.

Regarding the participation of the secondary authors. I have been mostly in the task of translating their contributions into code. Dr. Fuchs is behind the technic

[2021-05-17 13:33] AndreasPhilippi commented on #3280
@whedon check references

[2021-05-17 13:33] whedon commented on #3280
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "doi" (NAME) [#<BibTeX::Bibliography data=[2]>, "@", #<BibTeX::Entry >, {:title=>["From predictive to prescriptive analytics"], :author=>["Bertsimas, Dimitris and Kallus, Nathan"], :journal=>["Management Science"], :volume=>["66"], :number=>["3"], :pages=>["1025--1044"], :year=>["2020"], :publisher=>["IN

[2021-05-17 13:34] AndreasPhilippi commented on #3280
@whedon check references

[2021-05-17 13:35] whedon commented on #3280
[code]

[2021-05-17 13:35] AndreasPhilippi commented on #3280
@whedon generate pdf

[2021-05-17 13:36] whedon commented on #3280
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03280/joss.03280/10.21105.joss.03280.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03280/joss.03280/10.21105.joss.03280.pdf) :page_facing_up: :point_left:

[2021-05-17 14:11] kthyng commented on #3180
@jmp75 Excellent! I'll add you as a reviewer, but we'll wait to start the review until we have secured a second reviewer. Thanks.

[2021-05-17 14:12] kthyng commented on #3180
@whedon assign @jmp75 as reviewer

[2021-05-17 14:12] whedon commented on #3180
OK, @jmp75 is now a reviewer

[2021-05-17 14:16] hugoledoux commented on #3191
Thanks @fbiljecki and @benmarwick for your reviews, it seems the quality of @zoometh submission was already very high and thus everything went very smoothly and quick 👍

Paper is now accepted, it will go to the editors who might have some further small comments.

[2021-05-17 14:17] hugoledoux commented on #3191
@whedon set 10.5281/zenodo.4767529 as archive

[2021-05-17 14:18] whedon commented on #3191
OK. <a href="https://doi.org/10.5281/zenodo.4767529" target="_blank">10.5281/zenodo.4767529</a> is the archive.

[2021-05-17 14:18] hugoledoux commented on #3191
@whedon set v0.1.1 as version

[2021-05-17 14:18] whedon commented on #3191
OK. v0.1.1 is the version.

[2021-05-17 14:18] hugoledoux commented on #3191
@whedon accept

[2021-05-17 14:18] whedon commented on #3191
[code]

[2021-05-17 14:19] whedon commented on #3191
[code]

[2021-05-17 14:19] whedon commented on #3191
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2312

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2312, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-17 14:25] struckma commented on #3093
@whedon generate pdf from branch JOSS

[2021-05-17 14:26] whedon commented on #3093
[code]

[2021-05-17 14:26] whedon commented on #3093
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03093/joss.03093/10.21105.joss.03093.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03093/joss.03093/10.21105.joss.03093.pdf) :page_facing_up: :point_left:

[2021-05-17 14:28] timtroendle commented on #3204
👋 @kanderso-nrel, would you be willing to review this submission for JOSS?

[2021-05-17 14:35] timtroendle commented on #3187
👋 @sarats & @jtmiclat, would any of you be willing to review this submission for JOSS?

[2021-05-17 14:52] kanderso-nrel commented on #3204
Hi @timtroendle, sure I can review this.

[2021-05-17 14:55] timtroendle commented on #3204
@whedon add @kanderso-nrel as reviewer

[2021-05-17 14:55] whedon commented on #3204
OK, @kanderso-nrel is now a reviewer

[2021-05-17 15:18] ArneTillmann commented on #3240
Dear @danielskatz and @kthyng,
thank you for you feedback.
The version of the package that we submitted is a relativly early version. We would now extend the package substantially and resubmit to JOSS at a later stage, if this is possible and sensible?

[2021-05-17 15:19] mponce0 commented on #3278
@csoneson Thanks! I will certainly try my best!

[2021-05-17 15:21] csoneson commented on #3278
Brilliant, thanks a lot!

[2021-05-17 15:22] csoneson commented on #3278
@whedon assign @mponce0 as reviewer

[2021-05-17 15:22] whedon commented on #3278
OK, @mponce0 is now a reviewer

[2021-05-17 15:23] csoneson commented on #3278
@whedon add @federicomarini as reviewer

[2021-05-17 15:23] whedon commented on #3278
OK, @federicomarini is now a reviewer

[2021-05-17 15:24] csoneson commented on #3278
@whedon start review

[2021-05-17 15:24] whedon opened #3290 "[REVIEW]: covidregionaldata: Subnational data for COVID-19 epidemiology"
**Submitting author:** @joseph-palmer (<a href="http://orcid.org/0000-0002-5593-9352">Joseph Palmer</a>)
**Repository:** <a href="https://github.com/epiforecasts/covidregionaldata" target ="_blank">https://github.com/epiforecasts/covidregionaldata</a>
**Version:** 0.9.2
**Editor:** @csoneson
**Reviewer:** @mponce0, @federicomarini
**Archive:** <a href="https://doi.org/10.5281/zenodo.5059988" targe

[2021-05-17 15:24] whedon commented on #3278
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3290.

[2021-05-17 15:24] #3278 closed

[2021-05-17 15:24] whedon commented on #3290
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mponce0, @federicomarini it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-05-17 15:24] whedon commented on #3290
[code]

[2021-05-17 15:24] whedon commented on #3290
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03290/joss.03290/10.21105.joss.03290.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03290/joss.03290/10.21105.joss.03290.pdf) :page_facing_up: :point_left:

[2021-05-17 15:26] csoneson commented on #3290
👋🏼 @joseph-palmer, @mponce0, @federicomarini - this is the review thread for the submission. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other jou

[2021-05-17 15:27] DidierMurilloF commented on #3122
Dear @csoneson

I did the change you suggested in the paper, thank you. I am not familiar with the steps above, but I will learn about them as soon as possible.

Could you please indicate how should we tag the release of the software?

Best,

Didier Murillo

[2021-05-17 15:29] whedon commented on #3290
[code]

[2021-05-17 15:29] mbobra commented on #3265
@ConorMacBride Thanks! Could you please cut a new release of MCALF and [deposit it in Zenodo](https://guides.github.com/activities/citable-code/)? Please make sure that the author list and title on the Zenodo deposit matches the author list and title on the JOSS paper. Then I can move forward with accepting the paper.

[2021-05-17 15:30] csoneson commented on #3167
👋🏻 @njtierney - just checking in on your review 🙂

[2021-05-17 15:43] csoneson commented on #3122
Sure! Here's how you create a release: https://docs.github.com/en/github/administering-a-repository/managing-releases-in-a-repository. We prefer that you tag it with the version of the package (e.g., `0.1.0`).

And here's a guide to archiving the repository in Zenodo: https://guides.github.com/activities/citable-code/

[2021-05-17 15:44] alexpghayes commented on #3133
Will do. I have limited internet until Friday and anticipate completing my
review then.

El lun., 17 may. 2021 7:40 a. m., Mikkel Meyer Andersen <
***@***.***> escribió:

[2021-05-17 15:44] csoneson commented on #3122
Please also generate a new pdf with `@whedon generate pdf` once the indicated change to the paper has been pushed to the GitHub repository, so that we have the latest version.

[2021-05-17 15:49] cheginit commented on #3175
@raoulcollenteur Thanks for accepting to review this submission and your comments.

The software stack was initially a single package called `hydrodata`. As the package started to grow and I added support for more service and new functionalities, the maintenance became more difficult. So I decided to break it down into six self-contained packages, each of which has a limited scope and serves diffe

[2021-05-17 15:58] struckma commented on #3093
I've pushed the other changes and tagged it with v1.0.6 (https://gitlab.com/libreumg/dataquier/-/tags/v1.0.6).
I'm planning to do a new CRAN submission during the next weeks, but so far, I've deposited a tar.gz-release file at zenodo. I will publish this entry as soon as all authors have approved the entry.

[2021-05-17 16:00] danielskatz commented on #3240
yes

[2021-05-17 16:02] zoometh commented on #3191
@whedon accept deposit=true

[2021-05-17 16:02] whedon commented on #3191
I'm sorry @zoometh, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-05-17 16:04] DidierMurilloF commented on #3122
@whedon generate pdf

[2021-05-17 16:04] whedon commented on #3122
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03122/joss.03122/10.21105.joss.03122.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03122/joss.03122/10.21105.joss.03122.pdf) :page_facing_up: :point_left:

[2021-05-17 16:05] zoometh commented on #3191
I guess the publishing process is about to be achieved, I would like to thank you: @fbiljecki, @benmarwick, and @hugoledoux for your editorial work

[2021-05-17 16:08] struckma commented on #3093
@csoneson, sorry for the stupid question, but should I check the boxes in your TODO list? They are greyed out for me and I also cannot edit your check list as markdown.

[2021-05-17 16:09] kbarnhart commented on #2276
@r-barnes 👍 thanks for the update and for taking the time to revisit this review.

[2021-05-17 16:12] lockepatton commented on #2446
Hi @arfon and @faroit!

Perfect. I really agree that librosa could be an awesome eventual upgrade - just not at this moment before publication.

As for the name!  ```sonicpy``` is not successfully google-able due to the sonic franchise and already has software with that name.  ```pysonic``` similarly already has a collection of different softwares with that name. May I suggest ``soni-py```? That w

[2021-05-17 16:12] kbarnhart commented on #3114
@piyueh I wanted to check in and see when you anticipate addressing the in-repo issues associated with this submission. Once you have addressed them and they are closed, please let me know.

[2021-05-17 16:13] csoneson commented on #3093
Huh, interesting - it's probably a matter of permissions, but it doesn't really matter, just let me know in a comment when it's done (I just find it easier to create it as a checklist 🙂).

[2021-05-17 16:22] struckma commented on #3093
Ok, thank you. I expect to have the approval of my co-authors until Wednesday at latest.

[2021-05-17 16:27] ConorMacBride commented on #3265
Hi @mbobra, excellent! I've now created a new release ([MCALF v0.2.1](https://github.com/ConorMacBride/mcalf/releases/tag/v0.2.1)) and a new version in Zenodo ([10.5281/zenodo.4767888](http://doi.org/10.5281/zenodo.4767888)). Thanks!

[2021-05-17 16:52] faroit commented on #2446
sounds good to me. Just be aware of the python limitations for hyphens vs. underscores. pypi supports both, I think...

[2021-05-17 16:55] mviereck commented on #3277
Thank you for the invitation, I am interested to review.
I am currently looking at udocker, run some first tests and have a look at the paper.

I am a bit unsure yet if I can fulfill the requirements (lack of English language skills to understand everything well). Though, I have some experience with containers. Maybe I should just do the review and point out when/where I am unsure in single check

[2021-05-17 16:57] danielskatz commented on #3277
That would be fine - please let me know when you decide if you want to do this, and if so, I will assign you and start the review

[2021-05-17 16:57] vsoch commented on #3277
@mviereck I'll be around in the review issue and can help with that - just ask when you want to discuss something or just want clarification on a point.

[2021-05-17 16:59] zoometh commented on #3191
Sorry @whed. I thought it was my turn to accept...

[2021-05-17 17:59] mbobra commented on #3265
@whedon generate pdf

[2021-05-17 18:00] whedon commented on #3265
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03265/joss.03265/10.21105.joss.03265.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03265/joss.03265/10.21105.joss.03265.pdf) :page_facing_up: :point_left:

[2021-05-17 18:01] mbobra commented on #3265
@whedon check references

[2021-05-17 18:01] whedon commented on #3265
[code]

[2021-05-17 18:03] mbobra commented on #3265
@whedon set 10.5281/zenodo.4767888 as archive

[2021-05-17 18:03] whedon commented on #3265
OK. <a href="https://doi.org/10.5281/zenodo.4767888" target="_blank">10.5281/zenodo.4767888</a> is the archive.

[2021-05-17 18:04] mbobra commented on #3265
@whedon set v0.2.1 as version

[2021-05-17 18:04] whedon commented on #3265
OK. v0.2.1 is the version.

[2021-05-17 18:05] mbobra commented on #3265
@whedon accept

[2021-05-17 18:05] whedon commented on #3265
[code]

[2021-05-17 18:05] whedon commented on #3265
[code]

[2021-05-17 18:05] whedon commented on #3265
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2313

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2313, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-17 18:07] arfon commented on #2446
Also sounds good to me 👍

[2021-05-17 18:08] mbobra commented on #3265
@openjournals/joss-eics This paper is ready for final processing.

@ConorMacBride Thank you for your submission!

@mgalloy @Goobley Thank you both so very much for your thorough and speedy reviews! Your volunteer time keeps JOSS running and I really appreciate it! ☀️

[2021-05-17 18:28] szymon-datalions commented on #2869
@whedon generate pdf from branch paper

[2021-05-17 18:28] whedon commented on #2869
[code]

[2021-05-17 18:29] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-05-17 18:37] szymon-datalions commented on #2869
@hugoledoux I've changed paper - I moved two big blocks into separate files in the paper repository. One block is a use case and second block is a comparison of methods between two different packages but focused mostly on the specific solution. The main parts of paper are still here and I've managed to shrink it to 9. pages.

Table is still larger than the text field, this method don't work. I'll

[2021-05-17 18:43] pnavaro commented on #3077
Ok merged. Thanks @vissarion

[2021-05-17 18:45] mark-koren commented on #3213
Hello, just wanted to make sure ya'll weren't waiting on anything from me right now.

[2021-05-17 18:47] kyleniemeyer commented on #3191
@zoometh I'm the AEIC on duty this week, so I'll be doing some final checks on your submission before doing the official accept/publish steps.

[2021-05-17 18:54] sloede commented on #2942
@vavrines I am sorry, but I have to decline. I wouldn't be able to do it within an appropriate time frame :-/

[2021-05-17 19:04] kyleniemeyer commented on #3156
Hi @yc015, I'm the AEIC on duty this week doing some final checks on your submission before publishing.

In the list of references, I found some potential issues:
- Can you provide more detail on the Adams et al. reference? I can't seem to find it at all via a quick search.
- The Flueckiger and Halter ref should have 2020 as the year

[2021-05-17 19:08] kyleniemeyer commented on #3265
@ConorMacBride Hi there, I'm the AEIC on duty this week doing some final checks before publishing.

I only noticed a very minor issue: in the Panos et al. reference, it looks like some of the words in the title need to be wrapped with `{}` to preserve capitalization. Could you fix that and let me know?

[2021-05-17 19:16] gkthiruvathukal commented on #3267
@whedon add @cedricchevalier19 as reviewer

[2021-05-17 19:16] whedon commented on #3267
OK, @cedricchevalier19 is now a reviewer

[2021-05-17 19:16] gkthiruvathukal commented on #3267
Thanks to both @zeroset and @cedricchevalier19 for responding so quickly.
Starting review now!

[2021-05-17 19:16] gkthiruvathukal commented on #3267
@whedon start review

[2021-05-17 19:16] whedon opened #3291 "[REVIEW]: A C++17 Thread Pool for High-Performance Scientific Computing"
**Submitting author:** @bshoshany (<a href="http://orcid.org/0000-0003-2222-127X">Barak Shoshany</a>)
**Repository:** <a href="https://github.com/bshoshany/thread-pool" target ="_blank">https://github.com/bshoshany/thread-pool</a>
**Version:** v1.5
**Editor:** @gkthiruvathukal
**Reviewer:** @zeroset, @cedricchevalier19
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-05-17 19:16] whedon commented on #3267
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3291.

[2021-05-17 19:16] #3267 closed

[2021-05-17 19:16] whedon commented on #3291
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zeroset, @cedricchevalier19 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-05-17 19:17] whedon commented on #3291
[code]

[2021-05-17 19:17] whedon commented on #3291
PDF failed to compile for issue #3291 with the following error:
[code]

[2021-05-17 19:17] ConorMacBride commented on #3265
Hi @kyleniemeyer, I'll fix that now. Should I also preserve the all-caps title in Felipe et al. (https://doi.org/10.1088/0004-637x/795/1/9)?

[2021-05-17 19:18] gkthiruvathukal commented on #2951
@aj2duncan I hope I can interpret your response as a yes. Both the author, @markheckmann, and I are willing to work with your timeframe.  We're still very much in a COVID-19 world, so we will wait for your review. Thank you for your willingness to participate in this important process.

[2021-05-17 19:19] gkthiruvathukal commented on #2951
@whedon assign @aj2duncan as reviewer

[2021-05-17 19:19] whedon commented on #2951
OK, @aj2duncan is now a reviewer

[2021-05-17 19:19] gkthiruvathukal commented on #2951
We'll start review once I get the second reviewer, again with the understanding that this will take some time.

[2021-05-17 19:24] kyleniemeyer commented on #3191
All looks good to me, moving to accept.

[2021-05-17 19:24] kyleniemeyer commented on #3191
@whedon accept deposit=true

[2021-05-17 19:24] whedon commented on #3191
[code]

[2021-05-17 19:25] whedon commented on #3191
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1394373426765312003) 👈 🐦🐦🐦

[2021-05-17 19:25] whedon commented on #3191
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2314
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03191](https://doi.org/10.21105/joss.03191)
2. If everything look

[2021-05-17 19:58] yc015 commented on #3156
@kyleniemeyer Thank you so much for checking our submission!

The year of publication for this reference has been added.

As we mentioned in the [issue #3](https://github.com/KALMUS-Color-Toolkit/KALMUS/issues/3#issuecomment-823007923), the Adams et al. paper is still in progress, but we are happy to omit it and its associated text from this submission. This reference is only used as an example of

[2021-05-17 20:02] isidentical commented on #3223
Without any order on suggestions: lutzhamel, henrik227, yuhc

[2021-05-17 20:04] NMontanaBrown commented on #2606
Hi @arfon, I should be able to, if this is still in need of a reviewer.

[2021-05-17 20:08] kyleniemeyer commented on #3265
@ConorMacBride no, only words that should actually be capitalized in a regular sentence, I think.

[2021-05-17 20:11] kyleniemeyer commented on #3191
Congrats @zoometh on your article's publication in JOSS!

Many thanks to @fbiljecki and @benmarwick for reviewing this, and @hugoledoux for editing.

[2021-05-17 20:11] #3191 closed

[2021-05-17 20:11] whedon commented on #3191
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03191/status.svg)](https://doi.org/10.21105/joss.03191)

**We need your help!**

Journal of Open Source Softwa

[2021-05-17 20:31] ConorMacBride commented on #3265
Thanks @kyleniemeyer. I've now merged a PR (https://github.com/ConorMacBride/mcalf/pull/35) which keeps the `Mg` capitalised and sets the `ii` to small caps.

[2021-05-17 20:31] DidierMurilloF commented on #3122
@whedon generate pdf

[2021-05-17 20:32] whedon commented on #3122
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03122/joss.03122/10.21105.joss.03122.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03122/joss.03122/10.21105.joss.03122.pdf) :page_facing_up: :point_left:

[2021-05-17 20:38] DrMarc commented on #3284
"!>> the individual pages in the docs are relatively long, and you've done a good job of writing headings in your .rst, so it would be a big usability improvement for very cheap to configure the docs to enable hierarchical navigation..."

Good point! We enabled hierarchical navigation as recommended.

[2021-05-17 20:45] DidierMurilloF commented on #3122
Dear @csoneson,

Thank you for your help. I got all steps listed above. Now `FielDHub` is available at Zenodo.

The corresponding DIO is the following,

http://doi.org/10.5281/zenodo.4768155

I also did small changes to the title of the paper to match with the release at R CRAN. Thank you!

Best,

Didier Murillo.

[2021-05-17 20:48] lockepatton commented on #2446
Alight - so I started working on the name change and ran into a hiccup. [This](https://stackoverflow.com/questions/54597212/using-hyphen-dash-in-python-repository-name-and-package-name) stack overflow describes this very well.
Basiclaly, I can superficially change the name to soni-py in documentation, but need to leave the python interactable places as sonipy -- these include pypi and the home nam

[2021-05-17 21:06] chennachaos commented on #3020
Hi @diehlpk. Thanks for fixing the issues with references.

After a careful look at the documentation, I have the following comments.

1.) Although the important details seem to be there, the documentation is spanned over two different websites. Installation instructions are in the new documentation and the examples and other details are in the old site. Some details are on both sites. I recommend

[2021-05-17 21:11] kyleniemeyer commented on #3156
@yc015 ah, I didn't see that issue/discussion. My/our preference would be to only include citations for things that are either already submitted, or somehow available openly via a preprint. Is that paper at the point of submitting a preprint?

However, if it isn't, then we can proceed as-is, but should add some note to the reference about it being "in preparation".

[2021-05-17 21:11] kyleniemeyer commented on #3265
@whedon generate pdf

[2021-05-17 21:12] whedon commented on #3265
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03265/joss.03265/10.21105.joss.03265.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03265/joss.03265/10.21105.joss.03265.pdf) :page_facing_up: :point_left:

[2021-05-17 21:12] kyleniemeyer commented on #3265
@whedon accept deposit=true

[2021-05-17 21:12] whedon commented on #3265
[code]

[2021-05-17 21:13] whedon commented on #3265
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1394400639220846594) 👈 🐦🐦🐦

[2021-05-17 21:13] whedon commented on #3265
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2315
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03265](https://doi.org/10.21105/joss.03265)
2. If everything look

[2021-05-17 21:16] kyleniemeyer commented on #3265
Congrats @ConorMacBride on your article's publication in JOSS!

Many thanks to @mgalloy and @Goobley for reviewing this, and @mbobra for editing.

[2021-05-17 21:16] #3265 closed

[2021-05-17 21:16] whedon commented on #3265
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03265/status.svg)](https://doi.org/10.21105/joss.03265)

**We need your help!**

Journal of Open Source Softwa

[2021-05-17 21:25] ConorMacBride commented on #3265
Thank you @mgalloy, @Goobley, @mbobra, and @kyleniemeyer for your work on this submission, and for all of your useful feedback. Much appreciated! 🎉

[2021-05-17 21:27] tjasaki commented on #3038
@mjsottile I spend some time this weekend with the code, its operation, and the review.  I am quite satisfied and have completed my checklist.  It is a neat piece of work.  What is my next step?

[2021-05-17 21:36] yc015 commented on #3156
@kyleniemeyer Thank you for your suggestion! We don't have a preprint for that paper yet. The pandemic slows down our progress on that project.

I added a note of "in preparation" to the Adams et al. reference.

[2021-05-17 21:41] desilinguist commented on #3112
If this can wait until first week of June, I can probably do it.

[2021-05-17 21:42] lockepatton commented on #2446
Those changes are made so if the above is a good solution, I've now complete the changes you asked for. Let me know if there's anything else you see but I believe we can unpause the review!

[2021-05-17 22:02] kyleniemeyer commented on #3156
@whedon generate pdf

[2021-05-17 22:03] whedon commented on #3156
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: :point_left:

[2021-05-17 22:19] DrMarc commented on #3284
"I would strongly recommend a hash-based naming system rather than a hardcoded name"

The hashed file names are an excellent idea. It's implemented now.

[2021-05-17 22:45] diehlpk commented on #3020
@chennachaos Thanks for the remarks. We will respond to them in several comments.

[2021-05-18 05:15] sjpfenninger commented on #3213
@mark-koren Nothing needed from you. I'm contacting potential reviewers (apologies - I should have stated that here). Do let me know if you have any suggestions for reviewers though.

[2021-05-18 06:23] pzarabadip commented on #3171
Hi @danielskatz - That's correct, those are suggestions. I missed to check the performance box. The last one can improve the performance for large files but nothing against current performance of the code.

[2021-05-18 06:57] csoneson commented on #3122
@whedon set 10.5281/zenodo.4768611 as archive

[2021-05-18 06:57] whedon commented on #3122
OK. <a href="https://doi.org/10.5281/zenodo.4768611" target="_blank">10.5281/zenodo.4768611</a> is the archive.

[2021-05-18 06:57] csoneson commented on #3122
@whedon set v0.1.0 as version

[2021-05-18 06:57] whedon commented on #3122
OK. v0.1.0 is the version.

[2021-05-18 06:58] csoneson commented on #3122
@whedon accept

[2021-05-18 06:58] whedon commented on #3122
[code]

[2021-05-18 06:58] whedon commented on #3122
[code]

[2021-05-18 06:58] whedon commented on #3122
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2316

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2316, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-18 06:58] csoneson commented on #3122
Thanks @DidierMurilloF! I'm handing over now to the Associate Editor in Chief on rotation for the final steps.

[2021-05-18 07:11] ArtVoro commented on #3287
@jgostick I added more stuff to docs and reworked the doc tree, should be good now i guess.

does the package renaming matter and i have to resubmit or is everything fine as it is?

[2021-05-18 07:32] arfon commented on #2606
Yes please! I'll go ahead and set you up on the review now.

[2021-05-18 07:32] arfon commented on #2606
@whedon add @NMontanaBrown as reviewer

[2021-05-18 07:32] whedon commented on #2606
OK, @NMontanaBrown is now a reviewer

[2021-05-18 07:32] arfon commented on #2606
@whedon re-invite @NMontanaBrown as reviewer

[2021-05-18 07:32] whedon commented on #2606
@nmontanabrown already has access.

[2021-05-18 07:34] arfon commented on #2606
@NMontanaBrown - Please read the "Reviewer instructions & questions" in the first comment above.

As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet our criteria instead of merely passing judgment

[2021-05-18 07:47] whedon commented on #3169
:wave: @neuromusic, please update us on how your review is going (this is an automated reminder).

[2021-05-18 08:05] vissarion commented on #3077
@danielskatz we are ready now

[2021-05-18 08:09] faroit commented on #2446
I think it would be better to go with underscores, also otherwise this would reflect a true renaming. See https://github.com/asteroid-team/asteroid-filterbanks as a good example of dash-hyphen in use at github/packaging/pypi

[2021-05-18 08:56] joeweaver commented on #3247
Hi @will-rowe,

I'm starting to review this in earnest. It's my first time interacting with JOSS or @whedon and it seems there's a bit of a workflow for me to learn.

Do I just leave my my checklist and any additional comments in this issue, or is there some other process?

[2021-05-18 09:04] will-rowe commented on #3247
Hi @joeweaver

Thanks again for agreeing to review - looking forward to hearing what you think of this submission.

We recommend creating one or more issues in the [repository being reviewed](https://github.com/mjacob1002/Eir), either one for all your comments/requests or you can separate out over multiple issues if that is clearer. You can then reference those issues back here in the JOSS review

[2021-05-18 09:19] joeweaver commented on #3247
Thanks, that clears up about 90% of it. I'm unable to tick the boxes here, am I missing something silly?

[2021-05-18 09:21] will-rowe commented on #3247
That's odd - you should be able to. I will try to reassign you and see if that works

[2021-05-18 09:21] will-rowe commented on #3247
@whedon add @joeweaver as reviewer

[2021-05-18 09:22] whedon commented on #3247
OK, @joeweaver is now a reviewer

[2021-05-18 09:27] joeweaver commented on #3247
It's working now. The re-invite didn't originally fix it, but turning off my adblocker & Firefox enhanced tracking protection allowed it through (or it was a coincidence).

[2021-05-18 09:52] vissarion commented on #2752
@vincentberenz thanks for your replies.
@gkthiruvathukal I am OK from my side.

[2021-05-18 10:30] danielskatz commented on #3077
@kyleniemeyer is @openjournals/joss-eics this week ...

[2021-05-18 10:38] marcosvital commented on #3117
Thank you for your quick reply, @mdogucu!

[2021-05-18 10:40] traversaro commented on #2752
I plan to check the @vincentberenz replies are ok during this week.

[2021-05-18 10:42] marcosvital commented on #2692
Hello again, @Manolomon. Any news on you progress? Let us know if you are still working on this or if you are having any problems.

[2021-05-18 10:58] marcosvital commented on #3117
Dear @BrandonEdwards and @becarioprecario, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you

[2021-05-18 11:26] nkallima commented on #3143
Things were a bit hectic the previous week, thus no much progress. It remains to complete the API documentation. I will need some more time for this.

[2021-05-18 11:49] struckma commented on #3093
Dear all,

I've just published the software at Zenodo.

Here is the doi:

http://doi.org/10.5281/zenodo.4767836

I'll finally double-check all steps above and will write a comment, when I'm done.

Thank you,

Stephan

[2021-05-18 12:53] whedon commented on #3237
:wave: @mikaem, please update us on how your review is going (this is an automated reminder).

[2021-05-18 12:53] whedon commented on #3237
:wave: @mscroggs, please update us on how your review is going (this is an automated reminder).

[2021-05-18 12:53] whedon commented on #3237
:wave: @mikaem, please update us on how your review is going (this is an automated reminder).

[2021-05-18 13:25] brunaw commented on #2951
@gkthiruvathukal thanks for the invite. I am in the same situation as @aj2duncan, I am happy to review but it might take me a few days to start, would that be okay?

[2021-05-18 13:32] whedon commented on #3238
:wave: @aalfons, please update us on how your review is going (this is an automated reminder).

[2021-05-18 14:15] diehlpk commented on #3020
Sure, we had some Google Summer of Code intern last summer, and he implemented a distributed version of a non-local models, the non-local diffusion, in a separate repo

https://github.com/nonlocalmodels/nonlocalheatequation

However, this code hast not the advanced functionality as NLMech. This work will be published this year in a IDPDS workshop proceeding and the preprint is available here

http

[2021-05-18 14:20] osop-raspishake commented on #2565
Hi all! Just checking in from here in Panama to see how the review is coming along :) Thanks @eileenrmartin @iannesbitt

[2021-05-18 14:26] diehlpk commented on #3020
With respect to the complex geometry, the code's logo

https://raw.githubusercontent.com/nonlocalmodels/NLMech/main/assets/logo/logo_sim.png

geometry was used in these examples

- https://nonlocalmodels.github.io/examples/fd-logo-soft-material.html
- https://nonlocalmodels.github.io/examples/fd-logo-soft-material-2.html

and colorized with the obtained damage. The user can use gmsh to design comp

[2021-05-18 14:36] diehlpk commented on #3020
We have several papers which we will mention in the documentation and make more clear where to find the accuracy results.

[2021-05-18 14:40] diehlpk commented on #3020
@chennachaos Could you please be more specific, I could not find the broken link.

[2021-05-18 14:41] DidierMurilloF commented on #3122
Dear @csoneson thank you very much for all your help. We look forward to hearing more about the next steps.

Best regards,

Didier Murillo

[2021-05-18 14:50] donaldRwilliams commented on #3148
Giulio Costantini
sacha epskamp

[2021-05-18 14:50] diehlpk commented on #3020
I added some explanation of the command line options to run the code in parallel here

https://github.com/nonlocalmodels/NLMech#running-nlmech

[2021-05-18 14:52] whedon commented on #3247
:wave: @DARSakthi, please update us on how your review is going (this is an automated reminder).

[2021-05-18 14:52] whedon commented on #3247
:wave: @joeweaver, please update us on how your review is going (this is an automated reminder).

[2021-05-18 15:13] wholmgren commented on #3204
Sorry for the slow response here. I need to pass this time but happy to review in the future. `atlite` looks like an interesting package!

[2021-05-18 15:57] piyueh commented on #3114
Apologize for the delayed work. I will finish the revision by this Friday and let you know. Thanks!

[2021-05-18 16:03] BenMql commented on #2978
@eloisabentivegna , apologies for the long delay, thank you for your patience. We had a string of Covid19-related issues in the household (nationwide school closures, sickness, local school closure) that have proved rather incapacitating. Those all came to a resolution now.
I have started to address the issues raised by the reviewers and will send an update when finished---this should be relativel

[2021-05-18 16:12] eihernan commented on #3171
Hi @danielskatz, I've been a bit behind on this. I'll update with progress shortly.

[2021-05-18 16:17] kyleniemeyer commented on #3077
@vissarion moving forward, you can indicate that the submission is ready to accept using `@whedon accept`, which does some work and also notifies the EIC team

[2021-05-18 16:17] kyleniemeyer commented on #3077
@whedon accept

[2021-05-18 16:17] whedon commented on #3077
[code]

[2021-05-18 16:18] whedon commented on #3077
[code]

[2021-05-18 16:18] whedon commented on #3077
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2317

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2317, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-18 16:19] kyleniemeyer commented on #3156
@yc015 ah, could you move that out of the `year` field? that should just have the numeric year, since that is reflected in the in-text reference.

Also, in the text, could you change that specific citation command from `For example, in [@adams]` to `For example, in @adams`? That will result in "For example, in Adams et al. (2021)" rather than "For example, in (Adams et al., 2021)".

[2021-05-18 16:24] vissarion commented on #3077
Sure,  I have done it above but I should have done it again after the changes in the paper. Thanks for the tip!

[2021-05-18 16:29] kyleniemeyer commented on #3077
@vissarion oops, I didn't see that up there!

[2021-05-18 16:31] kyleniemeyer commented on #3077
@pnavaro Hi there, I'm doing some final checks before accepting your submission. Just to confirm, is the paper still in the `paper` branch, or on the main branch now?

[2021-05-18 16:33] danielskatz commented on #3171
ok - it's great to hear from you that you're still workin on this, and we'll look forward to a further update

[2021-05-18 16:49] yc015 commented on #3156
@kyleniemeyer I have changed the command from `[@adams]` to `@adams`.

For the "in preparation" note, I moved it into the `pubstate` field. I removed the `year` field otherwise the `pubstate` field will not show in the reference if `year` exists.

[2021-05-18 16:50] kyleniemeyer commented on #3156
@whedon generate pdf

[2021-05-18 16:51] whedon commented on #3156
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: :point_left:

[2021-05-18 16:52] kyleniemeyer commented on #3156
@yc015 ok, thanks. I think that's probably the best way to handle this.

[2021-05-18 16:52] kyleniemeyer commented on #3156
@whedon accept deposit=true

[2021-05-18 16:52] whedon commented on #3156
[code]

[2021-05-18 16:53] whedon commented on #3156
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1394697616357830663) 👈 🐦🐦🐦

[2021-05-18 16:53] whedon commented on #3156
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2318
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03156](https://doi.org/10.21105/joss.03156)
2. If everything look

[2021-05-18 16:56] kyleniemeyer commented on #3156
Congrats @yc015 on your article's publication in JOSS!

Many thanks to @thomakra and @elektrobohemian for reviewing this, and @gkthiruvathukal for editing.

[2021-05-18 16:56] #3156 closed

[2021-05-18 16:56] whedon commented on #3156
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03156/status.svg)](https://doi.org/10.21105/joss.03156)

**We need your help!**

Journal of Open Source Softwa

[2021-05-18 16:56] mark-koren commented on #3213
Ok cool, thanks for the update! A labmate published a related (Julia) package through Joss and the reviewers were
Jarvist Moore Frost (jarvist) and Sambit Kumar Dash (sambitdash), so maybe they could be good options, if they also do python.

[2021-05-18 16:57] yc015 commented on #3156
@kyleniemeyer @gkthiruvathukal Thank you again for checking our submission! @thomakra @elektrobohemian And thank you for all your invaluable comments on our work! Highly appreciate :blush::+1:.

[2021-05-18 17:30] kellyrowland commented on #3239
Hi @munkm 👋 - would you be available and willing to review this paper for JOSS? ⚛️

[2021-05-18 17:53] becarioprecario commented on #3117
I’d love to make the review but I am afraid that I am not available at the moment.

El 18 may 2021, a las 12:59, Marcos Vital (LEQ-UFAL) ***@***.******@***.***>> escribió:

Dear @BrandonEdwards<https://github.com/BrandonEdwards> and @becarioprecario<https://github.com/becarioprecario>, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in G

[2021-05-18 17:53] eloisabentivegna commented on #3288
@bgiacoma, I will send you an email with all the details. In the meantime, you can take a look here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-05-18 17:55] pnavaro commented on #3077
I just merged the paper branch into master.

[2021-05-18 17:59] pnavaro commented on #3077
Sorry, i did not really want to do it, it is a mistake...

[2021-05-18 18:04] kyleniemeyer commented on #3077
@pnavaro you did not have to merge that in, I just wanted to make sure I was using the correct source for publishing the paper. You can remove the paper from your `master` branch, if you'd like, and I will use the `paper` branch.

[2021-05-18 18:07] pnavaro commented on #3077
OK done.

[2021-05-18 18:09] BrandonEdwards commented on #3117
Hi, happy to!

[2021-05-18 18:10] kyleniemeyer commented on #3122
Hi @DidierMurilloF, I'm the AEIC on duty this week doing some final checks before publishing. I noticed some minor issues in the references, could you merge this PR I made to fix them? https://github.com/DidierMurilloF/FielDHub/pull/16

[2021-05-18 18:10] kyleniemeyer commented on #3077
@whedon accept from branch paper

[2021-05-18 18:10] whedon commented on #3077
[code]

[2021-05-18 18:10] whedon commented on #3077
[code]

[2021-05-18 18:11] whedon commented on #3077
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2319

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2319, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-18 18:36] diehlpk commented on #3060
Hey @rdeits when do you estimate to finish the review?

[2021-05-18 18:38] DidierMurilloF commented on #3122
Dear @kyleniemeyer thank you for your help! I merged the pull request.  Please, let me know if you need anything else from me.

Best,

Didier Murillo.

[2021-05-18 18:44] kyleniemeyer commented on #3122
@whedon generate pdf

[2021-05-18 18:44] whedon commented on #3122
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03122/joss.03122/10.21105.joss.03122.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03122/joss.03122/10.21105.joss.03122.pdf) :page_facing_up: :point_left:

[2021-05-18 18:45] kyleniemeyer commented on #3122
@whedon accept deposit=true

[2021-05-18 18:46] whedon commented on #3122
[code]

[2021-05-18 18:46] whedon commented on #3122
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1394726160790081541) 👈 🐦🐦🐦

[2021-05-18 18:46] whedon commented on #3122
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2320
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03122](https://doi.org/10.21105/joss.03122)
2. If everything look

[2021-05-18 18:51] schnorr commented on #2876
Sorry @arfon for taking so long to signal. I will check asap and keep you all posted.

[2021-05-18 18:56] rdeits commented on #3060
I was able to get all the examples running properly, so I should be able to
finish this weekend.

On Tue, May 18, 2021 at 2:36 PM Patrick Diehl ***@***.***>
wrote:

[2021-05-18 19:00] kyleniemeyer commented on #3122
Congrats @DidierMurilloF on your article's publication in JOSS!

Many thanks to @Prof-ThiagoOliveira and @dlebauer for reviewing this, and @csoneson for editing.

[2021-05-18 19:00] #3122 closed

[2021-05-18 19:00] whedon commented on #3122
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03122/status.svg)](https://doi.org/10.21105/joss.03122)

**We need your help!**

Journal of Open Source Softwa

[2021-05-18 19:57] eloisabentivegna commented on #2978
Thanks for the update, @BenMql. I am sorry to hear about all the disruption.

Keep us posted!

[2021-05-18 20:06] david-worrall commented on #2446
There are (still) two elephants in this room.

_1. The package claim:_ "A Perceptually Uniform Sonification Package"
Unless a /huge/ amount of work has gone on in the interim between now
and when I last looked,
"A Perceptually Uniform Sonification Package" oversells the generality
of it:

    - The "perceptions" are restricted to that of frequency as pitch is
    not a revelation. Over the history

[2021-05-18 20:37] WilkAndy commented on #3031
Just wondering if @jedbrown has an ETA for this one?

[2021-05-18 20:59] kyleniemeyer commented on #3077
Hi @pnavaro, sorry for a final change, but I just noticed that the Chartier et al. reference ("Derivative-free high-order...") is actually in press at a journal, and should include that information instead of being referenced as an arXiv eprint. Can you add the journal and update the year to 2021?

[2021-05-18 21:06] faroit commented on #2446
@arfon @david-worrall thanks for your clarifications – especially to _1_.  However, the paper subtitle has already been changed to _Pysonic: A Pitch-Based Sonification Package_, so I assume this is a more suitable subtitle. @lockepatton please change it also in the issue title etc.

Regarding the naming issue, as I pointed out earlier, we should encourage authors to respect existing software proje

[2021-05-18 21:49] sara-02 commented on #2949
@whedon generate pdf

[2021-05-18 21:49] whedon commented on #2949
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02949/joss.02949/10.21105.joss.02949.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02949/joss.02949/10.21105.joss.02949.pdf) :page_facing_up: :point_left:

[2021-05-18 21:57] sara-02 commented on #2949
Hey @lukapecnik I was trying to run the[ following example](https://github.com/lukapecnik/NiaAML#example-of-usage) post installing `niaaml` and `Niapy` but when I copy pasted the example code to a python file and ran it, I am getting this error:
[code]

[2021-05-18 22:01] junjun-zhang commented on #3197
@majensen started some testing, will report findings in the coming days

[2021-05-18 22:18] kthyng commented on #3243
@sheilasaia No worries at all, thanks for your consideration!

[2021-05-18 22:18] kthyng commented on #3243
@whedon assign @paleolimbot as reviewer

[2021-05-18 22:18] whedon commented on #3243
OK, @paleolimbot is now a reviewer

[2021-05-18 22:21] kthyng commented on #3243
@paleolimbot Thank you! I need to find a second reviewer before we can start

[2021-05-18 22:25] kthyng commented on #3243
Hi @TomasBeuzen! Are you interested in reviewing this submission for JOSS? This is an open review which takes place on github with issues. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would hope you could start the review in the next few weeks with the intention of being through the typically iterative process in 4-6 weeks. Thanks for

[2021-05-18 22:48] jedbrown commented on #3031
Thanks for the many pings. I'll be able to move this forward by the end of this week.

[2021-05-19 00:07] 0xCoto commented on #3067
@ygrange - Thanks for your comments, I agree that these points are valuable additions to the package.

An additional sentence has been appended to the first paragraph of the Statement of Need section to address the state of field.

[2021-05-19 00:08] 0xCoto commented on #3067
@whedon generate pdf

[2021-05-19 00:08] whedon commented on #3067
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03067/joss.03067/10.21105.joss.03067.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03067/joss.03067/10.21105.joss.03067.pdf) :page_facing_up: :point_left:

[2021-05-19 01:02] alexpghayes commented on #3133
Just took a look, everything seems good to me!

[2021-05-19 01:05] gkthiruvathukal commented on #3156
Congrats, @yc015!!

[2021-05-19 01:30] gkthiruvathukal commented on #2951
@brunaw Yes, it's absolutely ok! I will work with your schedule. I will just nudge both of you in a couple of weeks to see how things are going. Ok?

I'll add you and start review! Thanks so much for being willing to help.

[2021-05-19 01:30] gkthiruvathukal commented on #2951
@whedon add @brunaw as reviewer

[2021-05-19 01:30] whedon commented on #2951
OK, @brunaw is now a reviewer

[2021-05-19 01:30] gkthiruvathukal commented on #2951
@whedon start review

[2021-05-19 01:30] whedon opened #3292 "[REVIEW]: OpenRepGrid.ic: A software for Interpretive Clustering"
**Submitting author:** @markheckmann (<a href="http://orcid.org/0000-0002-0736-7417">Mark Heckmann</a>)
**Repository:** https://github.com/markheckmann/OpenRepGrid.ic
**Branch with paper.md** (empty if default branch):  joss
**Version:** v0.6.1_JOSS_submission
**Editor:** @gkthiruvathukal
**Reviewers:** @aj2duncan, @brunaw
**Archive:** 10.5281/zenodo.7655618

**:warning: JOSS reduced service mode

[2021-05-19 01:31] whedon commented on #2951
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3292.

[2021-05-19 01:31] #2951 closed

[2021-05-19 01:31] whedon commented on #3292
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @aj2duncan, @brunaw it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-05-19 01:31] whedon commented on #3292
[code]

[2021-05-19 01:31] whedon commented on #3292
PDF failed to compile for issue #3292 with the following error:
[code]

[2021-05-19 01:40] rasbt commented on #3112
Sorry, I currently have a large backlog of reviews (JOSE, ICCV, and upcoming NeurIPS) in the next weeks/months and shouldn't add more to my plate right now. I am happy to check back mid-July though in case an additional reviewer is needed

[2021-05-19 03:33] goldmanm commented on #3224
@whedon generate pdf

[2021-05-19 03:33] whedon commented on #3224
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03224/joss.03224/10.21105.joss.03224.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03224/joss.03224/10.21105.joss.03224.pdf) :page_facing_up: :point_left:

[2021-05-19 03:56] goldmanm commented on #3224
@DrDaveShaw Thank you for implementing all these changes. I am going to double check documentation creation and rerun the example and analysis to make sure it is all functioning properly.

Towards the end of this process, it might be useful to create a new version number and mention this version number in the manuscript for the package (so users can easily know exactly what software version the ma

[2021-05-19 05:20] timtroendle commented on #3204
Thanks for letting us know, @wholmgren !

[2021-05-19 05:34] timtroendle commented on #3204
👋 @hertzsprung, @crvernon would any of you be willing to review this submission for JOSS?

[2021-05-19 06:03] IndrajeetPatil commented on #3236
@mikldk In the reduced working mode of JOSS, the reviews are supposed to be finished under 6 weeks?
Just anticipating how much longer this process will take.

[2021-05-19 06:19] arfon commented on #3148
:wave: @GiulioCostantini @SachaEpskamp - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [_GGMnonreg: Non-Regularized Gaussian Graphical Models_](https://github.com/donaldRwilliams/GGMnonreg).

[2021-05-19 06:29] arfon commented on #2446
Right, thanks for pointing this out @faroit. I've updated the review thread to match the paper title.

On the naming issue: This is a challenging situation especially given that it sounds like there are already papers published that link to this tool under the name `sonipy`. Ultimately I don't think JOSS can (or should) rule on package naming but I would like to consult with the broader JOSS edito

[2021-05-19 06:36] faroit commented on #2446
@arfon sure, that sounds reasonable. Another thing to consider would be a clear statement in the readme of the project and the paper title that references the software created by @david-worrall .

[2021-05-19 07:04] pnavaro commented on #3077
@whedon generate pdf from branch paper

[2021-05-19 07:04] whedon commented on #3077
[code]

[2021-05-19 07:04] whedon commented on #3077
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: :point_left:

[2021-05-19 07:04] pnavaro commented on #3077
@whedon check references

[2021-05-19 07:06] pnavaro commented on #3077
@whedon check references from branch paper

[2021-05-19 07:06] whedon commented on #3077
[code]

[2021-05-19 07:06] whedon commented on #3077
[code]

[2021-05-19 07:07] pnavaro commented on #3077
Thanks, indeed. I changed the bibtex file.

[2021-05-19 07:33] DrDaveShaw commented on #3224
@goldmanm I believe we'll go to v1.1 after this review process so I will change the manuscript accordingly.

I am still working my way through issues raised by @khinsen on the repository itself so I don't know if you would prefer to wait until they are complete to run your checks?

Thank you again and let me know if there's anything else you would like us to address.

[2021-05-19 07:39] mikldk commented on #3133
@OwenWard:

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readthedocs.io/en/lates

[2021-05-19 07:40] mikldk commented on #3112
@ahurriyetoglu, @betatim: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-05-19 07:41] r-barnes commented on #2276
Okay, I've made another review. There are a few things left to fix.

* [ ] **Tests.** The software doesn't seem to have tests associated with it. The manual obliquely refers to a sample `basin5.asc` file which could be processed; however, this would only show that the software does something. Automating this simple test of functionality with unittest+pytest should be pretty straight-forward. Howev

[2021-05-19 08:13] ygrange commented on #3067
Last checkmark checked! Good to go from my side!

[2021-05-19 08:23] xuanxu commented on #3067
@astrom-tom please can you take a look at all the recent changes and update us on the state of your review?

[2021-05-19 08:41] bgiacoma commented on #3288
@eloisabentivegna I received the email and I also had a look at the guidelines. Are the authors the same ones listed as contributors in the github repository of the code? Just to be sure that there are no conflict of interests.

[2021-05-19 08:48] mjsottile commented on #3038
Thanks @tjasaki.  I took a look at the issues opened on the project and saw the exchange related to installation.  Glad it was resolved.  I’ll consider your review complete.  The other reviewer responded over email and has been consumed by other projects, so I’ll take over in their place and do my own review instead of looking for an additional reviewer.  Once I complete my review we’ll be able to

[2021-05-19 08:52] mjsottile commented on #3223
:wave: @lutzhamel, @yuhc.  Would you be interested in reviewing this submission to JOSS?  If you haven’t done a JOSS review before, we perform the reviews on github and the process is much lighter weight than a traditional paper review.  The review criteria that we ask reviewers to use as a guide are here (a helpful checklist is provided on the review issue for reference once the review starts): h

[2021-05-19 09:03] tomfaulkenberry commented on #3236
@IndrajeetPatil @mikldk apologies for my delay...I've gotten backed up from the end of my teaching term. I will have my review finished by the end of today.

[2021-05-19 09:07] meg-simula commented on #3150
@sappelhoff would you still be available from May 22nd and onwards? Your review would be much appreciated.

[2021-05-19 09:12] LangeJens commented on #3210
@donaldRwilliams I addressed all issues in the repository. I again want to thank you for pushing me to implement these changes. As many of these things were entirely new to me, I hope you are nevertheless satisfied with how I implemented them. I also edited the vignette to cover the new functionality.

@karthik  I also adapted the paper to the new changes.

[2021-05-19 09:41] sappelhoff commented on #3150
Yes, I'll be available for review :+1:

[2021-05-19 09:43] meg-simula commented on #3150
Excellent!

[2021-05-19 09:43] meg-simula commented on #3150
@whedon add @sappelhoff as reviewer

[2021-05-19 09:44] whedon commented on #3150
OK, @sappelhoff is now a reviewer

[2021-05-19 09:44] meg-simula commented on #3150
@whedon start review

[2021-05-19 09:44] whedon opened #3293 "[REVIEW]: fitgrid: A Python package for multi-channel event-related time series regression modeling"
**Submitting author:** @turbach (<a href="http://orcid.org/0000-0001-7993-142X">Thomas P. Urbach</a>)
**Repository:** <a href="https://github.com/kutaslab/fitgrid" target ="_blank">https://github.com/kutaslab/fitgrid</a>
**Version:** v0.5.2
**Editor:** @meg-simula
**Reviewer:** @AJQuinn, @sappelhoff
**Archive:** <a href="https://doi.org/10.5281/zenodo.3581496" target="_blank">10.5281/zenodo.358149

[2021-05-19 09:44] whedon commented on #3150
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3293.

[2021-05-19 09:44] #3150 closed

[2021-05-19 09:44] whedon commented on #3293
PDF failed to compile for issue #3293 with the following error:
[code]

[2021-05-19 09:44] whedon commented on #3293
[code]

[2021-05-19 09:51] meg-simula commented on #3293
:wave:  @turbach @AJQuinn @sappelhoff  this is the review thread for the paper.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines. We aim for reviews to be completed within about 2-4 weeks, but please let me know if any of

[2021-05-19 09:53] markheckmann commented on #3292
@whedon generate pdf from branch joss

[2021-05-19 09:53] whedon commented on #3292
[code]

[2021-05-19 09:53] whedon commented on #3292
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03292/joss.03292/10.21105.joss.03292.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03292/joss.03292/10.21105.joss.03292.pdf) :page_facing_up: :point_left:

[2021-05-19 10:08] marcosvital commented on #3117
No problem, @becarioprecario, and thank you for your quick reply.

@BrandonEdwards, thank you very much! As soon as we get one or two additional reviewers, we will start the reviewing process, ok?

[2021-05-19 10:12] marcosvital commented on #3117
@whedon assign @BrandonEdwards  as reviewer

[2021-05-19 10:12] whedon commented on #3117
OK, @BrandonEdwards  is now a reviewer

[2021-05-19 10:58] struckma commented on #3093
@csoneson  Hi, Charlotte,

I'ld like to notify you, that we have finished our final approval by the other authors. I'll just copy your TODO list, so I can check its entries:

- [x] Make a tagged release of the software, and list the version tag of the archived version here.
        --> https://gitlab.com/libreumg/dataquier/-/tags/v1.0.6
- [x] Archive the release in Zenodo or a similar service
- [x

[2021-05-19 11:00] csoneson commented on #3093
@whedon generate pdf from branch JOSS

[2021-05-19 11:00] whedon commented on #3093
[code]

[2021-05-19 11:00] whedon commented on #3093
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03093/joss.03093/10.21105.joss.03093.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03093/joss.03093/10.21105.joss.03093.pdf) :page_facing_up: :point_left:

[2021-05-19 11:01] csoneson commented on #3093
@whedon check references from branch JOSS

[2021-05-19 11:01] whedon commented on #3093
[code]

[2021-05-19 11:01] whedon commented on #3093
[code]

[2021-05-19 11:10] csoneson commented on #3093
Great @struckma, thanks for that! I just noticed that there were two details that I missed in the references, which would be good if they could be fixed:
- Maechler et al: the last author's name is displayed in an inconsistent way compared to the other references.
- Putatunda et al: The title still has [Journal Article] displayed.
Could you fix these and ask whedon to generate a new proof? Sorry f

[2021-05-19 11:11] csoneson commented on #3093
@whedon set 10.5281/zenodo.4767836 as archive

[2021-05-19 11:11] whedon commented on #3093
OK. <a href="https://doi.org/10.5281/zenodo.4767836" target="_blank">10.5281/zenodo.4767836</a> is the archive.

[2021-05-19 11:11] csoneson commented on #3093
@whedon set 1.0.6 as version

[2021-05-19 11:11] whedon commented on #3093
OK. 1.0.6 is the version.

[2021-05-19 11:18] struckma commented on #3093
Thank you,
I will address https://github.com/openjournals/joss-reviews/issues/3093#issuecomment-843998698 in the afternoon.

[2021-05-19 11:21] tomfaulkenberry commented on #3236
@IndrajeetPatil I just completed my review of the software.  Everything installed just fine. The sample analyses given in the software paper (and on the Github repo) work exactly as described on my machine. The syntax is intuitive and easy to customize.

One quick thing I wanted to ask about -- I wonder why Bayes factors are reported "raw" in the outputs, but with log(BF) in the plot expressions.

[2021-05-19 11:28] whedon commented on #3279
OK, @jorgegil is now a reviewer

[2021-05-19 11:40] IndrajeetPatil commented on #3236
@tomfaulkenberry Thanks a ton for the quick review and your kind words about the software.

In addition to this benefit you mentioned, the expressions have the additional restriction that they need to fit in the plot dimensions. The raw Bayes Factor like, e.g., `34547` will occupy more space than logged BF, which will be `10`. This is important for packages like `ggstatsplot` (https://indrajeetpat

[2021-05-19 11:43] IndrajeetPatil commented on #3236
@whedon generate pdf

[2021-05-19 11:44] whedon commented on #3236
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: :point_left:

[2021-05-19 12:19] mikldk commented on #3236
@IndrajeetPatil :

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readthedocs.io/e

[2021-05-19 12:19] brlec commented on #3171
Hi @pzarabadip,

Thank you for the thorough review!

To answer the suggestions:
- **Applying formatting/linting tools**: We have removed the unused imports in the [latest commit](https://github.com/SMTG-UCL/surfaxe/commit/d21c74a76c561c08bf5297c51b7ba3d66d7c1b75) on the `develop` branch and they will be merged with `master` once JOSS review is complete. We have added linting tools that should catc

[2021-05-19 12:20] donaldRwilliams commented on #3210
@LangeJens Wow !

I just took a look at the README and it is very (very) impressive.

I do like how all the changes look. Also note I suggested them in an effort to increase the impact of the package. e.g., before it was not clear to me how I might use the package. But now it is perfectly clear. I like it all a lot :-)

[2021-05-19 12:24] IndrajeetPatil commented on #3236
Thanks.

Checklist for me:

- [ ] Please have a final read through of the paper, checking language etc.
- [ ] Have a final check of the proofs with @whedon generate pdf
- [ ] In general, be sure that all versions are correct and that the repo is in the state that should be published.
- [ ] Please make a tagged release and archive (e.g. with Zenodo) as described here, and report the version number

[2021-05-19 12:27] crvernon commented on #3204
Hello @timtroendle I'll be happy to do this review!

[2021-05-19 12:38] LangeJens commented on #3210
@donaldRwilliams Thank you very much for your kind words! I agree that the changes you proposed will make the package more useful, accessible, and fitting to the classic approach in R. I always thought that the vignette is most helpful (and for some people it was), but I guess many people won't know about how to find it.

[2021-05-19 13:11] vincentberenz commented on #2752
@whedon generate pdf

[2021-05-19 13:11] whedon commented on #2752
PDF failed to compile for issue #2752 with the following error:
[code]

[2021-05-19 13:13] fboehm commented on #3273
@Marie-PerrotDockes and @yunanwu123 - How are the reviews going? Is there anything that I might help with? Thanks again!

[2021-05-19 13:14] whedon commented on #2752
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02752/joss.02752/10.21105.joss.02752.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02752/joss.02752/10.21105.joss.02752.pdf) :page_facing_up: :point_left:

[2021-05-19 13:15] vincentberenz commented on #2752
I made a minor change in the paper: I updated the affiliations so that they align with some new guidelines of our institute

[2021-05-19 13:47] struckma commented on #3093
Dear @csoneson,

regarding Maechler et al., we use the official citation of that package from CRAN:

https://cran.r-project.org/web/packages/robustbase/citation.html

I have no clue, why they grouped Anna di Palma together, but maybe, this altogether is Maria's surname? Since we don't know, we would prefer to leave the original citation as it is to avoid  skipping Ms Di Palma's wishes. Would that

[2021-05-19 13:47] struckma commented on #3093
@whedon generate pdf from branch JOSS

[2021-05-19 13:48] whedon commented on #3093
[code]

[2021-05-19 13:48] whedon commented on #3093
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03093/joss.03093/10.21105.joss.03093.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03093/joss.03093/10.21105.joss.03093.pdf) :page_facing_up: :point_left:

[2021-05-19 13:57] csoneson commented on #3093
Yes, I agree (I missed the `M` and jumped to conclusions too quickly) - using the official citation is the right way to go! I'm going to hand this off now to the associate editor in chief on rotation who will take you through the last steps.

[2021-05-19 13:57] csoneson commented on #3093
@whedon accept

[2021-05-19 13:57] whedon commented on #3093
[code]

[2021-05-19 13:57] whedon commented on #3093
PDF failed to compile for issue #3093 with the following error:
[code]

[2021-05-19 13:58] csoneson commented on #3093
@whedon accept from branch JOSS

[2021-05-19 13:58] whedon commented on #3093
[code]

[2021-05-19 13:58] whedon commented on #3093
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2321

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2321, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-19 14:00] ekaterinailin commented on #2845
You're right, thanks! Fixed both links :)

[2021-05-19 14:00] whedon commented on #3093
[code]

[2021-05-19 14:18] eloisabentivegna commented on #3288
@bgiacoma, you can take a look at the [paper draft](https://github.com/openjournals/joss-papers/blob/joss.03288/joss.03288/10.21105.joss.03288.pdf). The author list usually coincides with the set of code authors, but sometimes there are reasons why it does not. The author list in the paper is the one you should keep in mind (although check the [JOSS COI policy](https://github.com/openjournals/joss

[2021-05-19 14:20] danielskatz commented on #3171
Thanks @eihernan - re the installation problem, if it does continue, you might open an issue in https://github.com/SMTG-UCL/surfaxe and mention `https://github.com/openjournals/joss-reviews/issues/3171` there so we can track it.

And I'll look forward to a response from the authors to your other suggestions.

[2021-05-19 14:29] lutzhamel commented on #3223
Hi Matthew:

I'd be more than happy to review this submission. Two quick questions:
what is the typical time frame for a JOSS review?  Does the length of the
submitted paper matter? In other words, is there a minimum or maximum
number of pages that should be considered?

Thanks,
Lutz

On Wed, May 19, 2021 at 4:53 AM Matthew Sottile ***@***.***>
wrote:

[2021-05-19 14:41] bgiacoma commented on #3288
@eloisabentivegna thanks, I checked the list of authors in the draft and I do not see any conflict of interests.

[2021-05-19 14:58] DARSakthi commented on #3247
Hi,

The author presents a centralised package to automate the selection and simulation of various dynamical models of disease transmission. It is novel, if incremental, in that it comes packaged; more importantly, from what I can discern, it is a useful contribution to the methods in this field. I think my review is mostly complete, so I'll proceed with it here

Comments on the code:

Code is cle

[2021-05-19 15:42] khinsen commented on #3224
@DrDaveShaw @dhhagan Sorry for the delay - here comes my review! Thanks to the thorough first review by @goldmanm, the current version of code and paper are already much improved, which simplified my task.

INCHEM-Py belongs to the rather peculiar category of scientific software called "computational models". It is not a program/library that *implements* a model, it *is* the model. In theory, the

[2021-05-19 16:20] timtroendle commented on #3204
That's great @crvernon . Happy to have you on board. Thanks again @crvernon and @kanderso-nrel for accepting to review this submission. We'll start the review with the two of you. @sgrieve and @hertzsprung, if any of you is still interested in joining the review at a later point, please let me know.

[2021-05-19 16:20] timtroendle commented on #3204
@whedon add @crvernon as reviewer

[2021-05-19 16:20] whedon commented on #3204
OK, @crvernon is now a reviewer

[2021-05-19 16:21] timtroendle commented on #3204
@whedon start review

[2021-05-19 16:21] whedon opened #3294 "[REVIEW]: atlite: A Lightweight Python Package for Calculating Renewable Power Potentials and Time Series"
**Submitting author:** @fabianhofmann (<a href="http://orcid.org/0000-0002-6604-5450">Fabian Hofmann</a>)
**Repository:** <a href="https://github.com/PyPSA/atlite" target ="_blank">https://github.com/PyPSA/atlite</a>
**Version:** v0.2.5
**Editor:** @timtroendle
**Reviewer:** @kanderso-nrel, @crvernon
**Archive:** <a href="https://doi.org/10.5281/zenodo.5026365" target="_blank">10.5281/zenodo.50263

[2021-05-19 16:21] whedon commented on #3204
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3294.

[2021-05-19 16:21] #3204 closed

[2021-05-19 16:21] whedon commented on #3294
[code]

[2021-05-19 16:21] whedon commented on #3294
PDF failed to compile for issue #3294 with the following error:
[code]

[2021-05-19 16:21] whedon commented on #3294
Failed to discover a valid open source license.

[2021-05-19 16:23] timtroendle commented on #3294
@whedon generate pdf from branch joss-review-fneum

[2021-05-19 16:23] whedon commented on #3294
[code]

[2021-05-19 16:23] whedon commented on #3294
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03294/joss.03294/10.21105.joss.03294.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03294/joss.03294/10.21105.joss.03294.pdf) :page_facing_up: :point_left:

[2021-05-19 16:25] timtroendle commented on #3294
@crvernon,  @kanderso-nrel, we are still in reduced service mode in which we ask reviewers to finish their review within six weeks. I'll add a reminder for each of you when half of that time has elapsed.

Of course we are happy if you can finish your reviewer earlier than that.

[2021-05-19 16:25] timtroendle commented on #3294
@whedon remind @crvernon in 3 weeks

[2021-05-19 16:25] whedon commented on #3294
Reminder set for @crvernon in 3 weeks

[2021-05-19 16:26] timtroendle commented on #3294
@whedon remind @kanderso-nrel in 3 weeks

[2021-05-19 16:26] whedon commented on #3294
Reminder set for @kanderso-nrel in 3 weeks

[2021-05-19 16:46] galessiorob commented on #3048
Happy to edit this paper @danielskatz, thanks for the invite!

👋 Hi @Sergio-Bejar

I am in the process of assigning reviewers to this submission, if you have any suggestions please let me know and feel free to @ mention them here.

Basic checks to go over before we formally start the review:

 - [ ] There’s a general description of the software
           Needs expanding
 - [ ] The software is wit

[2021-05-19 16:48] DrDaveShaw commented on #3224
@khinsen thank you very much for your review, we appreciate the time taken and the level of detail given with the issues raised. I am working through these readability issues now and will have them complete for version 1.1 of the model to accompany the  paper.

With regards to the workings of the model and consulting Carslaw (2007) and other referenced/paywalled works. It is our intention to write

[2021-05-19 16:49] danielskatz commented on #3048
Thanks @galessiorob - as we might have discussed before, once you agree to edit, you can assign yourself with the same command that I will use, though I will do it this time

[2021-05-19 16:49] danielskatz commented on #3048
@whedon assign @galessiorob as editor

[2021-05-19 16:49] whedon commented on #3048
OK, the editor is @galessiorob

[2021-05-19 17:00] IndrajeetPatil commented on #3236
@whedon generate pdf

[2021-05-19 17:00] whedon commented on #3236
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: :point_left:

[2021-05-19 17:14] IndrajeetPatil commented on #3236
@mikldk Thanks for providing the checklist.

- I have done final proofreading and the language and style are OK.
- I have checked the generated wheedon PDF proof, and it looks good.
- There is already a release on GitHub with the version related to the paper
- I have created a Zenodo-archive of this release and edited/checked the meta-data.
I confirm that the GitHub release as well as the Zenodo-a

[2021-05-19 17:26] yuhc commented on #3223
Hi @mjsottile, I'd love to. Besides Lutz's questions, is there an deadline for the review and any example of how the review should be organized/posted?

[2021-05-19 17:33] FabianHofmann commented on #3294
@whedon create pdf from branch joss

[2021-05-19 17:33] whedon commented on #3294
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-05-19 17:34] FabianHofmann commented on #3294
@timtroendle the branch joss-review-fneum was only for intern review :) (I deleted it to avoid confusion)

[2021-05-19 17:35] FabianHofmann commented on #3294
@whedon generate pdf from branch joss

[2021-05-19 17:35] whedon commented on #3294
[code]

[2021-05-19 17:57] whedon commented on #3255
:wave: @vissarion, please update us on how your review is going (this is an automated reminder).

[2021-05-19 17:57] whedon commented on #3255
:wave: @adi3, please update us on how your review is going (this is an automated reminder).

[2021-05-19 17:58] mjsottile commented on #3223
Excellent - thanks for the positive responses.  In response to your questions:

- Timeframe is generally shorter than a classical journal paper, usually on the order of 1-2 months.  We used to go faster, but in the last year things have slowed down.
- The papers are usually short, anywhere from 3-6 pages usually.  Longer sometimes happens, but it’s generally discouraged unless absolutely necessary

[2021-05-19 18:00] kellyrowland commented on #3212
Hi @amygalanter @joeweaver - thanks for your responses, let me check in on timelines.

Hi @mengqi-z - do you have any time requirements for having this paper published in JOSS? Whatever the situation is is fine, we're just trying to get a sense of expectations for the potential reviewers.

[2021-05-19 18:01] danielskatz commented on #3277
@mviereck - I realize I may have read your comment incorrectly.  I'm going to assume now that "I am interested to review" means you want to review this, and I'll go ahead and add you and get things started - thanks!!

[2021-05-19 18:02] danielskatz commented on #3277
@whedon add @mviereck as reviewer

[2021-05-19 18:02] whedon commented on #3277
OK, @mviereck is now a reviewer

[2021-05-19 18:02] danielskatz commented on #3277
@whedon start review

[2021-05-19 18:02] whedon opened #3295 "[REVIEW]: udocker: a user oriented tool for unprivileged Linux containers"
**Submitting author:** @jorge-lip (<a href="http://orcid.org/0000-0002-9142-2596">Jorge Gomes</a>)
**Repository:** <a href="https://github.com/indigo-dc/udocker" target ="_blank">https://github.com/indigo-dc/udocker</a>
**Version:** v1.1.7
**Editor:** @danielskatz
**Reviewers:** @vsoch
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pa

[2021-05-19 18:02] whedon commented on #3277
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3295.

[2021-05-19 18:02] #3277 closed

[2021-05-19 18:02] whedon commented on #3295
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vsoch, @mviereck it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-05-19 18:02] whedon commented on #3295
[code]

[2021-05-19 18:02] whedon commented on #3295
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03295/joss.03295/10.21105.joss.03295.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03295/joss.03295/10.21105.joss.03295.pdf) :page_facing_up: :point_left:

[2021-05-19 18:03] whedon commented on #3295
[code]

[2021-05-19 18:04] danielskatz commented on #3295
@vsoch and @mviereck - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

Ple

[2021-05-19 18:42] mengqi-z commented on #3212
Hi @kellyrowland, Thank you for asking. We are hoping to get the paper published in JOSS as soon as possible because we want to cite this JOSS paper in another research work that is going to be published soon. Thanks a lot!

[2021-05-19 18:44] OwenWard commented on #3133
@whedon generate pdf from branch joss-paper

[2021-05-19 18:44] whedon commented on #3133
[code]

[2021-05-19 18:44] whedon commented on #3133
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03133/joss.03133/10.21105.joss.03133.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03133/joss.03133/10.21105.joss.03133.pdf) :page_facing_up: :point_left:

[2021-05-19 19:25] kyleniemeyer commented on #3077
@whedon accept deposit=true from branch paper

[2021-05-19 19:25] whedon commented on #3077
[code]

[2021-05-19 19:26] whedon commented on #3077
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1395098443346071558) 👈 🐦🐦🐦

[2021-05-19 19:26] whedon commented on #3077
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2322
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03077](https://doi.org/10.21105/joss.03077)
2. If everything look

[2021-05-19 19:38] kyleniemeyer commented on #3077
Congrats @pnavaro on your article's publication in JOSS!

Many thanks to @ranocha and @HaoZeke for reviewing this, and @vissarion for editing.

[2021-05-19 19:38] whedon commented on #3077
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03077/status.svg)](https://doi.org/10.21105/joss.03077)

**We need your help!**

Journal of Open Source Softwa

[2021-05-19 19:43] kyleniemeyer commented on #3093
@whedon accept deposit=true from branch JOSS

Looks good to me!

[2021-05-19 19:43] whedon commented on #3093
[code]

[2021-05-19 19:44] whedon commented on #3093
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1395103079608037378) 👈 🐦🐦🐦

[2021-05-19 19:44] whedon commented on #3093
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2323
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03093](https://doi.org/10.21105/joss.03093)
2. If everything look

[2021-05-19 19:46] turbach commented on #3293
@whedon generate pdf from branch joss-paper

[2021-05-19 19:46] whedon commented on #3293
[code]

[2021-05-19 19:47] whedon commented on #3293
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03293/joss.03293/10.21105.joss.03293.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03293/joss.03293/10.21105.joss.03293.pdf) :page_facing_up: :point_left:

[2021-05-19 19:49] kyleniemeyer commented on #3093
Congratulations @struckma on your article's publication in JOSS!

Many thanks to @borishejblum and @cmirzayi for reviewing this, and @csoneson for editing.

[2021-05-19 19:49] #3093 closed

[2021-05-19 19:50] whedon commented on #3093
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03093/status.svg)](https://doi.org/10.21105/joss.03093)

**We need your help!**

Journal of Open Source Softwa

[2021-05-19 20:23] kellyrowland commented on #3212
Thanks @mengqi-z !

@amygalanter - the hope for this is to have the publication out as soon as possible, so maybe on the order of in the next two weeks? Please let me know.

[2021-05-19 20:54] ArtVoro commented on #3287
i went through the reviewer list and picked some random persons related to MD stuff:

Sulstice, pszi1ard, malramsay64, HaoZeke, jmborr

[2021-05-19 21:13] lukapecnik commented on #2949
Hi @sara-02! Thank you for issue report. It seems that there's been a bit of an API change for the `niapy` package in the meantime. I created a new release of the `niaaml` (version 1.1.2) that should fix this problem. Please update the `niaaml` package and then the example should run smoothly.

Best regards

[2021-05-19 21:36] ctodd26labs commented on #3032
Hello @arfon,

Sorry for the delay everyone. Things have been super busy and I've been trying to get to this

1. 10.5281/zenodo.4774258, including example data, has been published (https://zenodo.org/record/4774258#.YKV-1pNKjmE). Please let me know if that looks good.
2. updated the DOI suggested by Whedon
3. 10.5281/zenodo.4774301, includes the tagged software with all of the requested changes (h

[2021-05-19 22:45] kyleniemeyer commented on #3242
Hello @RaT0M, thanks for your patience. The JOSS editorial board has reviewed your submission, and found that it does not meet our [substantial scholarly effort criterion](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages

[2021-05-19 22:45] kyleniemeyer commented on #3242
@whedon reject

[2021-05-19 22:45] whedon commented on #3242
Paper rejected.

[2021-05-19 22:45] #3242 closed

[2021-05-19 22:47] kyleniemeyer commented on #3250
Hello @nishanmudalige, thanks for your patience. The JOSS editorial board has reviewed your submission, and unfortunately we found that it does not meet our [substantial scholarly effort criterion](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-pu

[2021-05-19 22:47] kyleniemeyer commented on #3250
@whedon reject

[2021-05-19 22:47] whedon commented on #3250
Paper rejected.

[2021-05-19 22:47] #3250 closed

[2021-05-19 22:48] kyleniemeyer commented on #3281
Hello @wongzit, thanks for your patience. The JOSS editorial board reviewed your submission, and unfortunately found that it does not meet our [substantial scholarly effort criterion](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-softw

[2021-05-19 22:48] kyleniemeyer commented on #3281
@whedon reject

[2021-05-19 22:48] whedon commented on #3281
Paper rejected.

[2021-05-19 22:48] #3281 closed

[2021-05-19 22:49] kyleniemeyer commented on #3289
Hello @JonathanCamargo, thanks for your patience. The JOSS editorial board has reviewed your submission, and unfortunately found that it does not meet our [substantial scholarly effort criterion](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publ