[2021-04-05 14:35] whedon commented on #3055
[code]

[2021-04-05 14:36] whedon commented on #3055
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: :point_left:

[2021-04-05 14:38] tomgrylls commented on #3055
@p-costa @ashwinvis Thanks so much for your feedback and comments. I am just finalising a couple of updates and responses with the the other authors and I will provide a detailed response to all of the above soon.

[2021-04-05 14:45] kbarnhart commented on #2276
@awickert thanks for these constructive comments associated with revisiting your review.

@KevinShook thanks for being so responsive regarding these additional comments and the updates regarding DOIs and the CPU flag change.

@r-barnes and @KCallaghan as you are able, please revisit your reviews and provide an update here.

[2021-04-05 14:51] arfon commented on #2876
:wave: @VNNikolaidis - apologies for the delay here - it seems like the handling editor (@kakiac) is struggling to find time to edit right now so I will take over from here. Thanks to @MohmedSoudy and @schnorr for all of their work thus far!

My read of this thread is that this submission is close to being accepted.

The one major issue I see that has not been addressed at this point is the "State

[2021-04-05 14:58] kbarnhart commented on #3137
@davemlz I'll now start actively handling this submission, beginning by looking for reviewers. I have some thoughts on suitable reviewers but would also be interested in people you think would be appropriate for this submission.

Please indicate here people you think are appropriate (without tagging them with an @). [This list of people](https://bit.ly/joss-reviewers) have already agreed to review

[2021-04-05 15:10] danielskatz commented on #3131
@seanbergin - regarding the paper, please remove the blank orcid lines in the header - if there are no orcids for an author, those lines are not needed.

[2021-04-05 15:11] whedon opened #3146 "[PRE REVIEW]: Sapsan: Framework for Supernovae Turbulence Modeling with Machine Learning"
**Submitting author:** @pikarpov-lanl (<a href="http://orcid.org/0000-0003-4311-8490">Platon I. Karpov</a>)
**Repository:** <a href="https://github.com/pikarpov-LANL/Sapsan" target ="_blank">https://github.com/pikarpov-LANL/Sapsan</a>
**Version:** v0.2.5
**Editor:** @dfm
**Reviewers:** @kburns, @milescranmer
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due t

[2021-04-05 15:11] whedon commented on #3146
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-05 15:11] whedon opened #3147 "[PRE REVIEW]: ERFit: Entropic Regression Fit Matlab Package, for Data-Driven System Identification of Underlying Dynamic Equations"
**Submitting author:** @almomaa (<a href="http://orcid.org/0000-0001-9362-7459">Abd AlRahman AlMomani</a>)
**Repository:** <a href="https://github.com/almomaa/ERFit-Package" target ="_blank">https://github.com/almomaa/ERFit-Package</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-04-05 15:11] whedon commented on #3147
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-05 15:11] whedon opened #3148 "[PRE REVIEW]: GGMnonreg: Non-Regularized Gaussian Graphical Models"
**Submitting author:** @donaldRwilliams (<a href="http://orcid.org/0000-0001-6735-8785">Donald Williams </a>)
**Repository:** <a href="https://github.com/donaldRwilliams/GGMnonreg" target ="_blank">https://github.com/donaldRwilliams/GGMnonreg</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewers:** @AlexChristensen, @GiulioCostantini
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced servi

[2021-04-05 15:11] whedon commented on #3148
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-05 15:11] whedon opened #3149 "[PRE REVIEW]: datasailr - An R Package for Row by Row Data Processing, Using DataSailr Script"
**Submitting author:** @niceume (<a href="http://orcid.org/0000-0001-7015-621X">Toshihiro Umehara</a>)
**Repository:** <a href="https://github.com/niceume/datasailr" target ="_blank">https://github.com/niceume/datasailr</a>
**Version:** 0.8.7
**Editor:** @fboehm
**Reviewers:** @DrMattG and @crvernon
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-04-05 15:11] whedon commented on #3149
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-05 15:11] whedon opened #3150 "[PRE REVIEW]: fitgrid: A Python package for multi-channel event-related time series regression modeling"
**Submitting author:** @turbach (<a href="http://orcid.org/0000-0001-7993-142X">Thomas P. Urbach</a>)
**Repository:** <a href="https://github.com/kutaslab/fitgrid" target ="_blank">https://github.com/kutaslab/fitgrid</a>
**Version:** v0.5.0
**Editor:** @meg-simula
**Reviewers:** @AJQuinn, @sappelhoff
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-04-05 15:11] whedon commented on #3150
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-05 15:11] whedon opened #3151 "[PRE REVIEW]: ML2Pvae: An R package for high-dimensional Item Response Theory parameter estimation"
**Submitting author:** @converseg (<a href="http://orcid.org/0000-0001-8764-9950">Geoffrey Converse</a>)
**Repository:** <a href="https://github.com/converseg/ML2Pvae" target ="_blank">https://github.com/converseg/ML2Pvae</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-04-05 15:11] whedon commented on #3151
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-05 15:12] whedon commented on #3146
PDF failed to compile for issue #3146 with the following error:

 Can't find any papers to compile :-(

[2021-04-05 15:12] whedon commented on #3146
[code]

[2021-04-05 15:12] whedon commented on #3147
[code]

[2021-04-05 15:12] whedon commented on #3148
[code]

[2021-04-05 15:12] whedon commented on #3148
Failed to discover a valid open source license.

[2021-04-05 15:13] whedon commented on #3147
[code]

[2021-04-05 15:13] whedon commented on #3147
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03147/joss.03147/10.21105.joss.03147.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03147/joss.03147/10.21105.joss.03147.pdf) :page_facing_up: :point_left:

[2021-04-05 15:14] danielskatz commented on #3106
@whedon generate pdf

[2021-04-05 15:14] whedon commented on #3148
[code]

[2021-04-05 15:14] whedon commented on #3149
[code]

[2021-04-05 15:14] whedon commented on #3148
PDF failed to compile for issue #3148 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:204:in `block in parse_authors': Author (Donald R. Williams) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:202:in `each'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346

[2021-04-05 15:15] whedon commented on #3149
PDF failed to compile for issue #3149 with the following error:

 Can't find any papers to compile :-(

[2021-04-05 15:16] KevinShook commented on #2276
The CPU/GPU switch has been fixed so that it now corresponds to the documentation.

[2021-04-05 15:16] whedon commented on #3150
[code]

[2021-04-05 15:16] whedon commented on #3151
[code]

[2021-04-05 15:17] whedon commented on #3150
PDF failed to compile for issue #3150 with the following error:

 Can't find any papers to compile :-(

[2021-04-05 15:17] whedon commented on #3151
[code]

[2021-04-05 15:18] whedon commented on #3151
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03151/joss.03151/10.21105.joss.03151.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03151/joss.03151/10.21105.joss.03151.pdf) :page_facing_up: :point_left:

[2021-04-05 15:18] whedon commented on #3106
PDF failed to compile for issue #3106 with the following error:

 pandoc: BidSonym.bib: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2021-04-05 15:22] danielskatz commented on #3106
@PeerHerholz - this is waiting for your fix as described by @arfon above - https://github.com/openjournals/joss-reviews/issues/3106#issuecomment-799210422

[2021-04-05 15:29] lpantano commented on #2334
Hey @lskatz, any updates on this? Thanks!

[2021-04-05 15:29] lpantano commented on #3021
@danielskatz, yes, this is ready to go.

[2021-04-05 15:38] donaldRwilliams commented on #3148
@whedon generate pdf

[2021-04-05 15:39] whedon commented on #3148
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03148/joss.03148/10.21105.joss.03148.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03148/joss.03148/10.21105.joss.03148.pdf) :page_facing_up: :point_left:

[2021-04-05 15:41] danielskatz commented on #3021
👋 @mwaskom - there are two minor changes in https://github.com/mwaskom/seaborn/pull/2542, one of which might not matter...  If you can merge this, I can go ahead and publish the paper

[2021-04-05 15:43] mwaskom commented on #3021
Thanks @danielskatz for the PR! Merged.

[2021-04-05 15:46] danielskatz commented on #3021
@whedon accept from branch joss_review

[2021-04-05 15:46] whedon commented on #3021
[code]

[2021-04-05 15:47] whedon commented on #3021
[code]

[2021-04-05 15:49] turbach commented on #3150
https://github.com/kutaslab/fitgrid/tree/joss-paper

[2021-04-05 15:58] donaldRwilliams commented on #3148
@danielskatz

Suggested reviewers:
Payton Jones
Sacha Epskamp

[2021-04-05 15:58] donaldRwilliams commented on #3148
@whedon commands

[2021-04-05 15:58] whedon commented on #3148
Here are some things you can ask me to do:

[code]

[2021-04-05 16:08] donaldRwilliams commented on #3148
@danielskatz

I want to address the number of line of code, as the package appears meager.

That said, the package includes many analytic solutions, that I (with colleagues) have introduced to the social sciences. For example, one novel method is used to compute the expected replication of edges in large networks. This is derived analytically (few lines), whereas, if pursuing a simulation based ap

[2021-04-05 16:39] danielskatz commented on #3021
@whedon accept from branch joss_review

[2021-04-05 16:39] whedon commented on #3021
[code]

[2021-04-05 16:40] whedon commented on #3021
[code]

[2021-04-05 16:46] danielskatz commented on #3146
👋 @mbobra - are you able to edit this JOSS submission?

[2021-04-05 16:46] danielskatz commented on #3146
@whedon invite @mbobra as editor

[2021-04-05 16:47] whedon commented on #3146
@mbobra has been invited to edit this submission.

[2021-04-05 16:49] danielskatz commented on #3151
👋 @converseg - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so

[2021-04-05 16:49] danielskatz commented on #3151
@whedon query scope

[2021-04-05 16:49] whedon commented on #3151
Submission flagged for editorial review.

[2021-04-05 16:50] danielskatz commented on #3150
@whedon generate pdf from branch joss-paper

[2021-04-05 16:50] whedon commented on #3150
[code]

[2021-04-05 16:52] whedon commented on #3150
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03150/joss.03150/10.21105.joss.03150.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03150/joss.03150/10.21105.joss.03150.pdf) :page_facing_up: :point_left:

[2021-04-05 16:56] danielskatz commented on #3150
👋 @turbach - thanks for your submission.  Due to a lack of suitable and available editors, I'm going to put this on our waitlist for now

[2021-04-05 16:58] danielskatz commented on #3148
@donaldRwilliams - thanks for your message - the editors will still go ahead and discuss it, and hopefully get back to you in a week or so

[2021-04-05 16:58] danielskatz commented on #3148
@whedon query scope

[2021-04-05 16:58] whedon commented on #3148
Submission flagged for editorial review.

[2021-04-05 17:04] tjasaki commented on #3038
@mjsottile: Check.  I've asked for tangential assistance, but will proceed as I am able.

[2021-04-05 17:05] davemlz commented on #3137
Hi @kbarnhart, @whedon, thank you so much for this!

I went through the list and have these people as a suggestion: omshinde, patrickcgray, jhollist.

Thanks for the recommendation of the instructions to use the tutorials, I will add them to the documentation so that people can use them.

[2021-04-05 17:14] donaldRwilliams commented on #3148
@danielskatz

Thanks !

Also note there are many other functions (e.g., 10 or so) that I took out for publishing version `1.0.0`, but I can happily add them back in, if desired.

[2021-04-05 17:17] majensen commented on #3002
Thanks @somefunAgba  - if you can, please go ahead and update the metadata at the archive to remove my name from the author list, and then add your co-authors names.

[2021-04-05 17:23] seanbergin commented on #3131
My co-authors forgot to include them - so I've updated the fields with their orcids. Thanks

[2021-04-05 17:39] whedon commented on #3021
PDF failed to compile for issue #3021 with the following error:

[2021-04-05 17:39] whedon commented on #3021
PDF failed to compile for issue #3021 with the following error:

[2021-04-05 17:40] arfon commented on #3021
@whedon accept from branch joss_review

[2021-04-05 17:40] whedon commented on #3021
[code]

[2021-04-05 17:41] whedon commented on #3021
[code]

[2021-04-05 17:45] somefunAgba commented on #3002
@majensen  Done

[2021-04-05 17:57] danielskatz commented on #3131
thanks - many whedon commands can be done by anyone, like the ones I'm going to use now...

[2021-04-05 17:57] danielskatz commented on #3131
@whedon generate pdf

[2021-04-05 17:59] whedon commented on #3131
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03131/joss.03131/10.21105.joss.03131.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03131/joss.03131/10.21105.joss.03131.pdf) :page_facing_up: :point_left:

[2021-04-05 18:17] mbobra commented on #3091
@whedon generate pdf

[2021-04-05 18:18] whedon commented on #3091
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03091/joss.03091/10.21105.joss.03091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03091/joss.03091/10.21105.joss.03091.pdf) :page_facing_up: :point_left:

[2021-04-05 18:23] mbobra commented on #3091
@whedon check references

[2021-04-05 18:24] whedon commented on #3091
[code]

[2021-04-05 18:25] mbobra commented on #3091
@whedon set 10.5281/zenodo.4659161 as archive

[2021-04-05 18:25] whedon commented on #3091
OK. <a href="https://doi.org/10.5281/zenodo.4659161" target="_blank">10.5281/zenodo.4659161</a> is the archive.

[2021-04-05 18:25] mbobra commented on #3091
@whedon set v0.3.1 as version

[2021-04-05 18:25] whedon commented on #3091
OK. v0.3.1 is the version.

[2021-04-05 18:29] mbobra commented on #3091
@nilskroell Congratulations, your paper has been accepted to JOSS! 🎉

@tuelwer @Atif-Anwer Thank you so very much for volunteering to review this submission. I really appreciate your time and care ☀️

@openjournals/jose-eics This paper is ready for final processing.

[2021-04-05 18:30] mbobra commented on #3022
@whedon generate pdf

[2021-04-05 18:31] whedon commented on #3022
PDF failed to compile for issue #3022 with the following error:

 Can't find any papers to compile :-(

[2021-04-05 18:32] mbobra commented on #3022
@whedon generate pdf from branch issues/56/joss

[2021-04-05 18:32] whedon commented on #3022
[code]

[2021-04-05 18:32] danielskatz commented on #3091
Sorry to be a little harsh, but this paper has not yet been accepted.  The process continues...

@mbobra - your next step is to run `@whedon accept`, make sure everything looks good, then I (or the AEiC on duty) does another proof-read and continue the last steps of processing.

[2021-04-05 18:33] whedon commented on #3022
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03022/joss.03022/10.21105.joss.03022.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03022/joss.03022/10.21105.joss.03022.pdf) :page_facing_up: :point_left:

[2021-04-05 18:34] mbobra commented on #3022
@whedon check references

[2021-04-05 18:43] gully commented on #3095
`Update`: I got `igrins_rv` to run its steps 1 and 2 on the included example data.  I am now running step 3, which takes a while.  I have recommended the inclusion of a diagram of the workflow in the documentation.  I also recommend adding a progress bar, and transitioning from print to logging https://github.com/shihyuntang/igrins_rv/issues/4.

[2021-04-05 19:00] mbobra commented on #3022
@whedon check references from branch issues/56/joss

[2021-04-05 19:00] whedon commented on #3022
[code]

[2021-04-05 19:01] whedon commented on #3022
[code]

[2021-04-05 19:02] mbobra commented on #3022
@whedon set 10.5281/zenodo.4659617 as archive

[2021-04-05 19:02] whedon commented on #3022
OK. <a href="https://doi.org/10.5281/zenodo.4659617" target="_blank">10.5281/zenodo.4659617</a> is the archive.

[2021-04-05 19:11] agahkarakuzu commented on #3002
@majensen that was such a helpful comment! Despite that logistic growth is not my bread and butter, your comment gave me a great starting point to see what is really cool about considering multiple inflection points sampled at irregular finite intervals when modeling the limits of the exponential growth. I gave [Somefun et al. 2020](https://arxiv.org/abs/2008.04210) another read with the encourage

[2021-04-05 19:15] mbobra commented on #3091
@whedon accept

[2021-04-05 19:16] whedon commented on #3091
[code]

[2021-04-05 19:16] mbobra commented on #3091
@openjournals/jose-eics This paper is ready for final processing.

[2021-04-05 19:16] whedon commented on #3091
[code]

[2021-04-05 19:17] whedon commented on #3091
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2186

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2186, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-05 19:22] danielskatz commented on #3091
👋 @openjournals/dev - the xml file here seems to be missing almost all of the references.  Can you look into this?

[2021-04-05 19:33] danielskatz commented on #3091
@nilskroell - there are some small changes needed in the paper, but I am unable to fork it in GitLab, so I'm just attaching here a new version that has the changes.  Also, I can't attach an .md file here, so this is called .txt, but it's really md
[paper.txt](https://github.com/openjournals/joss-reviews/files/6260263/paper.txt)

[2021-04-05 19:46] nilskroell commented on #3091
@danielskatz Thanks a lot for editing and improving the paper, I commited your changes with the latest commit. 👍

[2021-04-05 19:51] nilskroell commented on #3091
@whedon generate pdf

[2021-04-05 19:52] mbobra commented on #3022
@JulienPeloton Are you willing to version this software using semantic versioning? It is not required, but it is a nice standard. Please let me know.

[2021-04-05 19:53] whedon commented on #3091
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03091/joss.03091/10.21105.joss.03091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03091/joss.03091/10.21105.joss.03091.pdf) :page_facing_up: :point_left:

[2021-04-05 19:56] JulienPeloton commented on #3022
Hi @mbobra -- s4cmb is already versioned using semantic versioning, see e.g.:
- https://github.com/JulienPeloton/s4cmb/releases
- https://pypi.org/project/s4cmb/#history

Only the Zenodo archive did not have a number, but it corresponds to version `1.0` of the library.

[2021-04-05 19:57] nilskroell commented on #3091
@danielskatz @mbobra I have proof read the paper again. Thanks a lot for your improvements and quick responses! From my side, everything is ready for publication.

[2021-04-05 20:15] gully commented on #3095
Overall the code appears to work as advertised for the example data.  The documentation and testing center on the commandline interface (CLI), and are adequate to reproduce the claimed results with the included example data.  I have not attempted to run the code on data beyond the examples.  The algorithmic ingredients (such as those in `Engine`) do not appear to be documented or tested.

[2021-04-05 21:16] danielskatz commented on #3091
Thanks - before we can finish up, we need @openjournals/dev to help with the lack of references in the XML file.

[2021-04-05 21:18] danielskatz commented on #3149
@whedon generate pdf from branch joss_submission

[2021-04-05 21:18] whedon commented on #3149
[code]

[2021-04-05 21:20] whedon commented on #3149
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03149/joss.03149/10.21105.joss.03149.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03149/joss.03149/10.21105.joss.03149.pdf) :page_facing_up: :point_left:

[2021-04-05 21:20] danielskatz commented on #3149
@whedon check references from branch joss_submission

[2021-04-05 21:20] whedon commented on #3149
[code]

[2021-04-05 21:20] whedon commented on #3149
[code]

[2021-04-05 21:23] danielskatz commented on #3149
👋 @fboehm - would you be able to edit this submission?

[2021-04-05 21:23] danielskatz commented on #3149
@whedon invite @fboehm as editor

[2021-04-05 21:23] whedon commented on #3149
@fboehm has been invited to edit this submission.

[2021-04-05 21:26] danielskatz commented on #3147
👋 @almomaa - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOIs that whedon suggests, but n

[2021-04-05 21:26] danielskatz commented on #3147
@whedon query scope

[2021-04-05 21:26] whedon commented on #3147
Submission flagged for editorial review.

[2021-04-05 21:27] whedon opened #3152 "[PRE REVIEW]: mobilityIndexR: an R package to calculate transition matrices and mobility indices from numeric data"
**Submitting author:** @bcmullins (<a href="http://orcid.org/0000-0002-8436-0091">Brett Mullins</a>)
**Repository:** <a href="https://github.com/bcmullins/mobilityIndexR" target ="_blank">https://github.com/bcmullins/mobilityIndexR</a>
**Version:** v0.2.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-04-05 21:27] whedon commented on #3152
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-05 21:27] whedon commented on #3152
[code]

[2021-04-05 21:28] whedon commented on #3152
[code]

[2021-04-05 21:28] mbobra commented on #3022
@JulienPeloton I see. Could you then change Zenodo archive for the JOSS paper to v1.0?

[2021-04-05 21:29] whedon commented on #3152
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03152/joss.03152/10.21105.joss.03152.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03152/joss.03152/10.21105.joss.03152.pdf) :page_facing_up: :point_left:

[2021-04-05 21:29] danielskatz commented on #3152
👋 @bcmullins - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2021-04-05 21:30] danielskatz commented on #3152
@whedon query scope

[2021-04-05 21:30] whedon commented on #3152
Submission flagged for editorial review.

[2021-04-05 21:31] JulienPeloton commented on #3022
@mbobra -- it should be OK now (just updated the version number of Zenodo)

[2021-04-05 21:31] danielskatz commented on #3151
In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command @whedon check references to check again, and the command @whedon generate pdf when the references are right to make a new PDF. Whedon commands need to the be the first entry in a new comment.

[2021-04-05 21:31] danielskatz commented on #3152
In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to the be the first entry in a new comment.

[2021-04-05 21:44] mbobra commented on #3022
@whedon set v1.0 as version

[2021-04-05 21:44] whedon commented on #3022
OK. v1.0 is the version.

[2021-04-05 21:45] mbobra commented on #3022
@whedon accept

[2021-04-05 21:45] whedon commented on #3022
[code]

[2021-04-05 21:45] mbobra commented on #3022
@JulienPeloton Congratulations, your paper has been accepted to JOSS! 🎉

@Christovis, @changhoonhahn Thank you so very much for volunteering to review this submission. I really appreciate your time and care ☀️

@openjournals/jose-eics This paper is ready for final processing.

[2021-04-05 21:46] whedon commented on #3022
PDF failed to compile for issue #3022 with the following error:

 Can't find any papers to compile :-(

[2021-04-05 21:46] mbobra commented on #3022
@whedon accept from branch issues/56/joss

[2021-04-05 21:46] whedon commented on #3022
[code]

[2021-04-05 21:46] whedon commented on #3022
[code]

[2021-04-05 21:47] whedon commented on #3022
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2187

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2187, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-05 21:49] JulienPeloton commented on #3022
Thanks @mbobra for editing the submission, thanks @Christovis @changhoonhahn for your review work, and thanks @whedon for restlessly checking things :D

@gfabbian

[2021-04-05 21:56] turbach commented on #3150
@danielskatz Got it thanks.

As editors become available perhaps cMadan, oliviaguest, arokem

Some candiate reviewers: a3sha2, SRSteinkamp, neurofractal, ajquinn, Emma-k-ward, sappelhoff, GerJuli, szorowi1

[2021-04-05 22:06] mbdemoraes commented on #3120
@danielskatz Sure! I can review this one.

[2021-04-05 23:19] danielskatz commented on #3022
@JulienPeloton - just so that you are aware, the next step is that I will proofread the paper, and if there are problems, let you know, and if not, proceed to the final steps of acceptance and publishing.

[2021-04-05 23:20] danielskatz commented on #3120
Thanks - I'll assign you, but the review won't start until we get another reviewer as well.

[2021-04-05 23:21] danielskatz commented on #3120
@whedon assign @mbdemoraes as reviewer

[2021-04-05 23:21] whedon commented on #3120
OK, @mbdemoraes is now a reviewer

[2021-04-05 23:32] danielskatz commented on #3022
@JulienPeloton - can you change the metadata in the repository so that the title is "Simulating instrumental systematics of Cosmic Microwave Background experiments with s4cmb", matching the paper (this doesn't require a new deposit or new version, just the metadata changes)

[2021-04-05 23:42] danielskatz commented on #3022
A bunch of small changes to the paper can be found in https://github.com/JulienPeloton/s4cmb/pull/58

[2021-04-05 23:52] danielskatz commented on #3146
@pikarpov-LANL - Given the comment in your README: "currently Sapsan is in alpha, but we are actively working on it and introduce new feature on a daily basis" and given that JOSS is looking for papers that are complete, I suggest this submission be withdrawn until it is more stable and more mature.  Does this seem ok to you?  If so, I will mark it as withdrawn.

[2021-04-06 02:20] junjun-zhang commented on #3130
@majensen yes, happy to review it

[2021-04-06 02:21] dhhagan commented on #3144
Looks great - I'll find some reviewers over the next week or so (hopefully).

[2021-04-06 02:23] dhhagan commented on #3144
Hey @darothen - any chance you have some time for a review?

[2021-04-06 02:24] dhhagan commented on #3110
@DrDaveShaw No worries! I'll look to find some reviewers now and hope to have them set within the week.

[2021-04-06 02:36] majensen commented on #3002
@whedon set version as 2.1.1

[2021-04-06 02:36] whedon commented on #3002
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-04-06 02:36] majensen commented on #3002
@whedon set 2.1.1 as version

[2021-04-06 02:36] whedon commented on #3002
OK. 2.1.1 is the version.

[2021-04-06 02:37] majensen commented on #3002
@whedon set 10.5281/zenodo.4662275 as archive

[2021-04-06 02:37] whedon commented on #3002
OK. <a href="https://doi.org/10.5281/zenodo.4662275" target="_blank">10.5281/zenodo.4662275</a> is the archive.

[2021-04-06 02:38] majensen commented on #3002
@whedon accept

[2021-04-06 02:38] whedon commented on #3002
[code]

[2021-04-06 02:39] whedon commented on #3002
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2188

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2188, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-06 02:40] whedon commented on #3002
[code]

[2021-04-06 02:40] majensen commented on #3130
@whedon assign @junjun-zhang as reviewer

[2021-04-06 02:40] whedon commented on #3130
OK, @junjun-zhang is now a reviewer

[2021-04-06 02:47] mossr commented on #2749
Thank you, @sbenthall.

- Tagged release of [v0.5.0](https://github.com/sisl/POMDPStressTesting.jl/releases/tag/v0.5.0)
- Archived with a DOI of [10.5281/zenodo.4663471](https://zenodo.org/record/4663471)

[2021-04-06 03:11] majensen commented on #3130
Hi @vsoch -- would you have time and inclination to review [this work](#3130) for [JOSS](https://joss.theoj.org)? Your expertise and experience would be very much appreciated!
Thanks for considering --@majensen

[2021-04-06 03:29] majensen commented on #3002
@openjournals/joss-eics - Note that all references actually appearing the paper have working DOIs, except for

`Christopoulos, D. T. (2016). On the efficient identification of an inflection point. International
Journal of Mathematics and Scientific Computing,(ISSN: 2231-5330), 6(1).`

which does not have a DOI but is available online from the journal at https://www.veltech.edu.in/wp-content/upload

[2021-04-06 03:29] jgostick commented on #2976
I have reached out the authors via email addresses and other means, but have not been able to track them down.  I'm not sure how long a submission can sit waiting before we give up?

[2021-04-06 03:35] jgostick commented on #3045
Here is a list of what to do next:

- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.
- [ ] Archive the release on Zenodo/figshare/etc and post the DOI here.
- [ ] Make sure that the title and author list (including ORC

[2021-04-06 04:39] navidcy commented on #3053
#### Response to @ranocha's remaining remarks

- There is no explicit section "Statement of need" required for review. It would be good to structure the paper a bit more, e.g. by including sections like "Features" and "Related research and software" (although some related information is contained in the manuscript already).
- How do you think about relations to Oceananigans.jl?

The revised manusc

[2021-04-06 04:39] navidcy commented on #3053
@whedon generate pdf from branch JOSS-paper

[2021-04-06 04:39] whedon commented on #3053
[code]

[2021-04-06 04:40] navidcy commented on #3053
@pdebuyl, @ranocha, and @eviatarbach: we've pushed the revised version. Feel free to have a look.

[2021-04-06 04:40] whedon commented on #3053
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03053/joss.03053/10.21105.joss.03053.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03053/joss.03053/10.21105.joss.03053.pdf) :page_facing_up: :point_left:

[2021-04-06 04:55] grburgess commented on #3045
I think many of the issues were addressed, but some of them are still open. I have not had a chance to reinstall everything.

 I still think it would be nice to have a badge in the repo detailing which operating systems BXA does work on as I was never able to get its major dependencies installed on Mac OS. This could be handles through CI badging and testing. This would help to differentiate the s

[2021-04-06 06:22] sabinomaggi commented on #2969
@whedon generate pdf

[2021-04-06 06:23] whedon commented on #2969
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02969/joss.02969/10.21105.joss.02969.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02969/joss.02969/10.21105.joss.02969.pdf) :page_facing_up: :point_left:

[2021-04-06 06:57] sabinomaggi commented on #2969
@timtroendle @kuadrat I have completed my reviewer's checklist above and, to me, the paper can now be accepted for publication. In particular I acknowledge the great work done by the authors in improving the documentation of the package.

I still think that the title of the paper should somehow mention `PIT` which, as I wrote in my report, is the "_real focal point of the paper_", but this should

[2021-04-06 07:02] whedon commented on #3021
PDF failed to compile for issue #3021 with the following error:

[2021-04-06 07:12] arfon commented on #3021
@mwaskom - apologies for the fussing with your BibTeX file but could you also merge this PR? https://github.com/mwaskom/seaborn/pull/2544

I think the BibTeX library we're using has a bug with whitespace.

[2021-04-06 08:15] IndrajeetPatil commented on #3141
@whedon generate pdf

[2021-04-06 08:19] whedon commented on #3141
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03141/joss.03141/10.21105.joss.03141.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03141/joss.03141/10.21105.joss.03141.pdf) :page_facing_up: :point_left:

[2021-04-06 08:54] timtroendle commented on #2969
Thank you, @sabinomaggi!

@Chilipp, did you have a chance to look at the latest changes?

[2021-04-06 08:59] Chilipp commented on #2969
hey @timtroendle, yes, I already commented in https://github.com/kuadrat/data-slicer/issues/10

[2021-04-06 09:01] timtroendle commented on #2969
Oh, I see. Thanks for letting me know!

[2021-04-06 09:02] arfon commented on #3091
The issue here is that Whedon doesn't know how to handle BibTeX keys with periods in them (e.g., https://git.rwth-aachen.de/ants/sensorlab/imea/-/blob/master/paper/paper.bib#L1. `Andersson.2012`).

I can process this paper manually if it's ready to go, or if @nilskroell is inclined to remove the periods in the paper and the BibTeX file then we can have Whedon accept automatically here.

[2021-04-06 09:16] nilskroell commented on #3091
@arfon Thanks a lot for the quick response. I fix the BibTeX keys an pushed everything to `master` branch. Now it should work @danielskatz .

[2021-04-06 09:16] nilskroell commented on #3091
@whedon generate pdf

[2021-04-06 09:17] whedon commented on #3091
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03091/joss.03091/10.21105.joss.03091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03091/joss.03091/10.21105.joss.03091.pdf) :page_facing_up: :point_left:

[2021-04-06 09:18] nilskroell commented on #3091
@whedon check references

[2021-04-06 09:19] whedon commented on #3091
[code]

[2021-04-06 09:38] nilskroell commented on #3091
@danielskatz @mbobra After checking everything again, I can confirm that from my side everything is go for publication.

[2021-04-06 09:55] cescalara commented on #3045
Hi @JohannesBuchner, I had another look and some final comments:
* Everything works fine on linux (ubuntu) but I haven't managed to install the necessary dependencies (Xspec/sherpa) on macOS either following what instructions I could find online. It seems like it may be possible for certain versions, but is not so simple, and definitely much harder than my experience getting set up on linux. I thi

[2021-04-06 10:35] aghaynes commented on #3118
Hi all,
I merged a new PR covering the reviews so far...

@whedon generate pdf

[2021-04-06 10:37] TomKellyGenetics commented on #3118
@whedon generate pdf

[2021-04-06 10:39] whedon commented on #3118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: :point_left:

[2021-04-06 10:41] meg-simula commented on #3108
Yes, I can take this on now.

[2021-04-06 10:41] meg-simula commented on #3108
@whedon assign meg-simula as editor

[2021-04-06 10:41] whedon commented on #3108
OK, the editor is @meg-simula

[2021-04-06 10:54] mwaskom commented on #3021
Done!

[2021-04-06 11:20] JohannesBuchner commented on #3045
@whedon generate pdf from branch joss-paper

[2021-04-06 11:20] whedon commented on #3045
[code]

[2021-04-06 11:22] whedon commented on #3045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03045/joss.03045/10.21105.joss.03045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03045/joss.03045/10.21105.joss.03045.pdf) :page_facing_up: :point_left:

[2021-04-06 11:24] Borchardt commented on #2979
@majensen quick update: https://github.com/focolab/minimo/issues/35 has been completed, and I've updated the paper per your request.

[2021-04-06 11:24] JohannesBuchner commented on #3045
Thank you for the useful comments. I address the two remaining issues below.

Regarding which operating systems BXA is supported on:

A section was added to the installation instructions at https://github.com/JohannesBuchner/BXA#installation. It refers the user to supported operating systems.

The tested operating systems of the CI is also mentioned there now (currently only Ubuntu Linux).

I am s

[2021-04-06 11:29] JulienPeloton commented on #3022
@danielskatz -- thanks for the proofreading, the changes have been merged.

I have also edited the Zenodo archive with the same title as the paper (https://zenodo.org/record/4659617).

[2021-04-06 11:32] arfon commented on #3021
@whedon accept from branch joss_review

[2021-04-06 11:32] whedon commented on #3021
[code]

[2021-04-06 11:33] whedon commented on #3021
[code]

[2021-04-06 11:34] whedon commented on #3021
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2189

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2189, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-06 11:48] mikldk commented on #2992
@danielskatz Thanks; it was a mistake; I wasn't entirely ready. Sorry.

@alemermartinez @msalibian:

1. Maybe add citation to RBF in "Statement of Need" (similar to that in the Summary; Boente et al.(2017)?)
2. Background: "Note that if [...]" for all g_j ?
3. Background: Distribution (variance? constant?) of error term (at least required for it being a standard linear regression model)?
4. Backgr

[2021-04-06 11:48] danielskatz commented on #3022
@whedon accept from branch issues/56/joss

[2021-04-06 11:48] whedon commented on #3022
[code]

[2021-04-06 11:49] whedon commented on #3022
[code]

[2021-04-06 11:50] whedon commented on #3022
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2190

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2190, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-06 11:50] hugoledoux commented on #2869
👋 @sdesabbata could you please update us on your progress for this review?

[2021-04-06 11:53] danielskatz commented on #3022
@whedon accept deposit=true from branch issues/56/joss

[2021-04-06 11:53] whedon commented on #3022
[code]

[2021-04-06 11:53] hugoledoux commented on #2970
👋  @HenrikJanPersson we are waiting for you to confirm whether the missing checkboxes are an oversight, or if you expect the authors to fix more things?

[2021-04-06 11:54] whedon commented on #3022
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1379402151135379457) 👈 🐦🐦🐦

[2021-04-06 11:54] whedon commented on #3022
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2191
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.03022](https://doi.org/10.21105/joss.03022)
2. If everything looks g

[2021-04-06 11:54] hugoledoux commented on #3061
👋 @CBenghi and @abdoulayediak please update us on how your review is going

[2021-04-06 11:56] danielskatz commented on #3021
@whedon accept deposit=true from branch joss_review

[2021-04-06 11:56] whedon commented on #3021
[code]

[2021-04-06 11:58] danielskatz commented on #3002
no problem @majensen - all references don't have to have DOIs in the bib, just the ones that actually have them irl...

[2021-04-06 11:58] whedon commented on #3021
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1379403169634131968) 👈 🐦🐦🐦

[2021-04-06 11:58] whedon commented on #3021
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2192
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.03021](https://doi.org/10.21105/joss.03021)
2. If everything looks g

[2021-04-06 12:01] JulienPeloton commented on #3022
Thanks @danielskatz for the final steps!

[2021-04-06 12:03] danielskatz commented on #3002
👋 @somefunAgba - one of your references, to "" says it is actually the same as 10.1109/MSPEC.2020.9205546 - which is how it was originally published. Can we change the reference to this original version (and add the DOI)?

I'll also suggest some more changes via a PR in a little bit

[2021-04-06 12:05] danielskatz commented on #3022
Congratulations to @JulienPeloton (Julien Peloton) and co-author!

And thanks to @Christovis and @changhoonhahn for reviewing, and @mbobra for editing!

[2021-04-06 12:05] #3022 closed

[2021-04-06 12:05] whedon commented on #3022
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03022/status.svg)](https://doi.org/10.21105/joss.03022)

**We need your help!**

Journal of Open Source Softwa

[2021-04-06 12:06] danielskatz commented on #3021
Congratulations to @mwaskom (Michael Waskom)!!

And thanks to @dangeles and @Sara-ShiHo for reviewing, and @lpantano for editing!

[2021-04-06 12:06] #3021 closed

[2021-04-06 12:06] whedon commented on #3021
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03021/status.svg)](https://doi.org/10.21105/joss.03021)

**We need your help!**

Journal of Open Source Softwa

[2021-04-06 12:20] danielskatz commented on #3002
👋 @somefunAgba - the additional changes are in https://github.com/somefunAgba/NLSIG-COVID19Lab/pull/5 - please merge this, or let me know what you disagree with.

[2021-04-06 12:26] danielskatz commented on #2976
@jgostick and @lsuwars - let's wait another 3 weeks, and if there is no contact, we can reject this, given where it is in the process, though it could be resubmitted.  I'll mark it as paused for now.

[2021-04-06 12:36] danielskatz commented on #3091
@whedon accept

[2021-04-06 12:36] whedon commented on #3091
[code]

[2021-04-06 12:37] whedon commented on #3091
[code]

[2021-04-06 12:38] whedon commented on #3091
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2193

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2193, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-06 12:38] danielskatz commented on #3091
@whedon accept deposit=true

[2021-04-06 12:39] whedon commented on #3091
[code]

[2021-04-06 12:41] whedon commented on #3091
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1379413952015314947) 👈 🐦🐦🐦

[2021-04-06 12:41] whedon commented on #3091
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2194
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.03091](https://doi.org/10.21105/joss.03091)
2. If everything looks g

[2021-04-06 12:49] danielskatz commented on #3091
Congratulations to @nilskroell (Nils Kroell)!!

And thanks to @Atif-Anwer and @tuelwer for reviewing, and @mbobra for editing!

[2021-04-06 12:49] #3091 closed

[2021-04-06 12:49] whedon commented on #3091
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03091/status.svg)](https://doi.org/10.21105/joss.03091)

**We need your help!**

Journal of Open Source Softwa

[2021-04-06 12:50] danielskatz commented on #3140
👋 @Ziqi-Li - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packa

[2021-04-06 12:50] danielskatz commented on #3140
@whedon reject

[2021-04-06 12:50] whedon commented on #3140
Paper rejected.

[2021-04-06 12:50] #3140 closed

[2021-04-06 12:54] nilskroell commented on #3091
Thanks a lot to the reviewers @tuelwer and @Atif-Anwer for your valuable feedback, @mbobra and @danielskatz for the submission support and editing and @arfon for the technical support at the end.
It was a very valuable experience to publish a paper into JOSS and I would like to thank everybody who contributed to this wonderful experience. 😄

[2021-04-06 12:55] danielskatz commented on #2951
👋 @cMadan - are you able to take this on by any chance?

[2021-04-06 12:55] danielskatz commented on #2951
@whedon invite @cMadan as editor

[2021-04-06 12:55] whedon commented on #2951
@cMadan has been invited to edit this submission.

[2021-04-06 12:56] Ziqi-Li commented on #3140
@danielskatz Thanks for letting me know. May I clarify with you which criterion that this package fails to meet? I suspect it is due to the limited LOC, if that is the case, I wonder if I could add more functionalities so that this could be re-considered by JOSS.

[2021-04-06 12:57] danielskatz commented on #3140
The LoC is probably the primary issue.  Yes, we would welcome a resubmission of a more substantial package.

[2021-04-06 12:57] Ziqi-Li commented on #3140
@danielskatz That makes sense, thank you for the updated information!

[2021-04-06 13:28] rodluger commented on #3071
@arfon

I created a new release and published it to Zenodo: https://zenodo.org/record/4665400

The DOI is https://doi.org/10.5281/zenodo.4665400

Thanks!

[2021-04-06 13:30] rodluger commented on #3071
@arfon The two associated AAS papers are still in review (one has just been accepted, the other should be accepted in the next couple days). Is there a way to synchronize the release to get the cross-refs correct?

https://ui.adsabs.harvard.edu/abs/2021arXiv210200007L/abstract
https://ui.adsabs.harvard.edu/abs/2021arXiv210201697L/abstract

[2021-04-06 13:46] fboehm commented on #3149
Thank you, @danielskatz - I'm happy to edit this submission.

[2021-04-06 13:46] fboehm commented on #3149
@whedon assign @fboehm as editor

[2021-04-06 13:46] whedon commented on #3149
OK, the editor is @fboehm

[2021-04-06 13:47] fboehm commented on #3149
@whedon list reviewers

[2021-04-06 13:47] whedon commented on #3149
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-04-06 13:51] danielskatz commented on #3063
@fboehm - is there any chance you could take this on as well?  It's related, but Ruby.  It would be useful for the same editor to handle both if possible

[2021-04-06 13:51] danielskatz commented on #3063
@whedon invite @fboehm as editor

[2021-04-06 13:52] whedon commented on #3063
@fboehm has been invited to edit this submission.

[2021-04-06 14:03] fboehm commented on #3063
Yes, I am happy to take this on, too, @danielskatz.

[2021-04-06 14:03] fboehm commented on #3063
@whedon assign @fboehm as editor

[2021-04-06 14:03] whedon commented on #3063
OK, the editor is @fboehm

[2021-04-06 14:06] danielskatz commented on #3120
👋 @colbrydi - would you be willing to review this for JOSS?

[2021-04-06 14:07] danielskatz commented on #3120
👋 @apiad - would you be willing to review this for JOSS?

[2021-04-06 14:24] whedon commented on #3127
:wave: @johnsamuelwrites, please update us on how your review is going (this is an automated reminder).

[2021-04-06 14:24] whedon commented on #3127
:wave: @djmitche, please update us on how your review is going (this is an automated reminder).

[2021-04-06 14:51] VNNikolaidis commented on #2876
@arfon - Thank you for your reply and your involvement. The editor’s ( @kakiac ) situation is more than understood, especially under these strange circumstances. I appreciate her time and involvement so far.

Since the initial submission (which was commented by the reviewers) several changes have been done both to the paper and the software, some of which where to remedy issues mentioned by the re

[2021-04-06 15:02] danielskatz commented on #3120
Great - thanks!  I'll add you and start the review

[2021-04-06 15:02] danielskatz commented on #3120
@whedon add @apiad as reviewer

[2021-04-06 15:02] whedon commented on #3120
OK, @apiad is now a reviewer

[2021-04-06 15:02] danielskatz commented on #3120
@whedon start review

[2021-04-06 15:02] whedon opened #3153 "[REVIEW]: TRUNAJOD: A text complexity library to enhance natural language processing"
**Submitting author:** @dpalmasan (<a href="http://orcid.org/0000-0003-1540-7164">Diego Palma</a>)
**Repository:** <a href="https://github.com/dpalmasan/TRUNAJOD2.0" target ="_blank">https://github.com/dpalmasan/TRUNAJOD2.0</a>
**Version:** v0.1.2
**Editor:** @danielskatz
**Reviewer:** @mbdemoraes, @apiad
**Archive:** <a href="https://doi.org/10.5281/zenodo.4707403" target="_blank">10.5281/zenodo.

[2021-04-06 15:02] whedon commented on #3120
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3153.

[2021-04-06 15:02] #3120 closed

[2021-04-06 15:02] whedon commented on #3153
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mbdemoraes, @apiad it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-04-06 15:04] whedon commented on #3153
[code]

[2021-04-06 15:04] whedon commented on #3153
[code]

[2021-04-06 15:05] whedon commented on #3153
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03153/joss.03153/10.21105.joss.03153.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03153/joss.03153/10.21105.joss.03153.pdf) :page_facing_up: :point_left:

[2021-04-06 15:05] danielskatz commented on #3153
👋 @mbdemoraes and @apiad - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

[2021-04-06 15:06] danielskatz commented on #3153
👋 @dpalmasan, can you work on the possibly missing DOIs that whedon suggests, noting that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to the be the first entry in a new comment.

[2021-04-06 15:22] mfherbst commented on #2838
On my end I've just done a similar round of updates as @mturiansky. I ticked off some extra boxes and closed some issues, but I would recommend another round of polishing.

[2021-04-06 15:47] PeerHerholz commented on #3106
Hi @danielskatz,

thanks for the ping, I'm sorry for the delay.
I addressed the issue and based on the compiled preview I tested, things should work now.

Thanks again.

Cheers, Peer

[2021-04-06 16:16] danielskatz commented on #3106
Thanks - the commands to whedon are generally usable by anyone, such as the following

[2021-04-06 16:16] danielskatz commented on #3106
@whedon generate pdf

[2021-04-06 16:18] schnorr commented on #2876
@whedon generate pdf

[2021-04-06 16:18] whedon commented on #3106
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03106/joss.03106/10.21105.joss.03106.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03106/joss.03106/10.21105.joss.03106.pdf) :page_facing_up: :point_left:

[2021-04-06 16:19] whedon commented on #2876
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02876/joss.02876/10.21105.joss.02876.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02876/joss.02876/10.21105.joss.02876.pdf) :page_facing_up: :point_left:

[2021-04-06 16:19] danielskatz commented on #3106
@PeerHerholz - now back to the waitlist...

[2021-04-06 16:25] PeerHerholz commented on #3106
Hi @danielskatz,

ok, thanks for the notice, I wasn't sure if I should go ahead and try again.
I'll do that going forward.

Thanks again.

Cheers, Peer

[2021-04-06 16:50] vsoch commented on #3130
hey @majensen ! I'm in a new job for a few months, so I'd need to check if this is okay with my supervisor. I think likely I'd need to do it on my own time on a weekend, so please reach out to other potential reviewers and don't wait for me if you want to get it started sooner than later.

[2021-04-06 16:55] galessiorob commented on #2805
@whedon generate pdf

[2021-04-06 16:57] whedon commented on #2805
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: :point_left:

[2021-04-06 17:04] majensen commented on #3130
Thanks @vsoch, will do. Really appreciate your consideration!

[2021-04-06 17:22] danielskatz commented on #3002
@whedon accept

[2021-04-06 17:22] whedon commented on #3002
[code]

[2021-04-06 17:23] dpalmasan commented on #3153
@whedon generate pdf

[2021-04-06 17:25] whedon commented on #3002
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2195

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2195, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-06 17:25] whedon commented on #3153
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03153/joss.03153/10.21105.joss.03153.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03153/joss.03153/10.21105.joss.03153.pdf) :page_facing_up: :point_left:

[2021-04-06 17:26] whedon commented on #3002
[code]

[2021-04-06 17:38] danielskatz commented on #3002
@whedon accept deposit=true

[2021-04-06 17:38] whedon commented on #3002
[code]

[2021-04-06 17:40] whedon commented on #3002
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1379489149347106817) 👈 🐦🐦🐦

[2021-04-06 17:40] whedon commented on #3002
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2196
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.03002](https://doi.org/10.21105/joss.03002)
2. If everything looks g

[2021-04-06 17:47] danielskatz commented on #3002
Congratulations to @somefunAgba (Oluwasegun Somefun) and co-authors!!

And thanks to @agahkarakuzu and @kakearney for reviewing and @majensen for editing!

[2021-04-06 17:47] #3002 closed

[2021-04-06 17:47] whedon commented on #3002
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03002/status.svg)](https://doi.org/10.21105/joss.03002)

**We need your help!**

Journal of Open Source Softwa

[2021-04-06 18:07] eviatarbach commented on #3053
Thank you for addressing my points! I am happy to recommend publication as is.

Note that MAOOAM has Python and Lua implementations in addition to the Fortran.

[2021-04-06 18:09] msalibian commented on #2992
@whedon generate pdf from branch joss

[2021-04-06 18:09] whedon commented on #2992
[code]

[2021-04-06 18:10] whedon commented on #2992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: :point_left:

[2021-04-06 18:18] galessiorob commented on #2805
@fduchatea Amazing work! Thanks for adding @martinfleis and @omshinde's recommendations.

I have opened a PR with edit suggestions [here](https://gitlab.com/fduchate/predihood/-/merge_requests/4), aside from those I think it would be good to label your figures too.

Let me know when you have taken a look, after that, I think we'll be ready to publish.

[2021-04-06 18:33] dpalmasan commented on #3153
@whedon check references

[2021-04-06 18:34] whedon commented on #3153
[code]

[2021-04-06 18:45] majensen commented on #3002
@somefunAgba this is really nice work and I just encourage you to think about creating R or Python versions of the methods
@agahkarakuzu @kakearney I really appreciate your sharing your Matlab experience with JOSS! You are a super importance resource!

[2021-04-06 19:02] JoelForamitti commented on #3065
@jamesdamillington, thank you for your comment! From other publications in JOSS (see e.g. [this recent one](https://joss.theoj.org/papers/10.21105/joss.03097)) I had the impression that it is allowed to explain the need without an explicit section title of that name. @sbenthall, could you confirm or refute this?

[2021-04-06 19:10] calum-chamberlain commented on #2696
Sorry to pester,  but @leouieda are the any updates on this? I'm keen to have this out so that I can cite it for some upcoming papers for which ObsPlus had been very useful!

[2021-04-06 19:34] danielskatz commented on #2766
👋 @leouieda - what's the status of this submission? It looks done, or close to it?

[2021-04-06 19:35] danielskatz commented on #2766
👋 @openjournals/dev - see the last comment (References) in https://github.com/openjournals/joss-reviews/issues/2766#issuecomment-792447820 - is there a good answer to this?

[2021-04-06 19:35] danielskatz commented on #3039
👋 @poulson - it looks like this is done, or very close?  What's the next step?

[2021-04-06 19:37] danielskatz commented on #2741
👋 @shahmoradi  - this is either waiting for your action, or for you to tell the editor that you have completed it.

[2021-04-06 19:39] danielskatz commented on #2813
👋 @gaelforget - This is waiting for you to make changes in your paper so that it can be published.

[2021-04-06 19:40] danielskatz commented on #3074
@KristinaRiemer - is this ready for you to recommend acceptance at this point?

[2021-04-06 19:41] whedon opened #3154 "[PRE REVIEW]: nrCascadeSim - A simulation tool for nuclear recoil cascades resulting from neutron capture"
**Submitting author:** @gerudo7 (<a href="http://orcid.org/0000-0001-5406-8367">Kitty Harris</a>)
**Repository:** <a href="https://github.com/villano-lab/nrCascadeSim" target ="_blank">https://github.com/villano-lab/nrCascadeSim</a>
**Version:** 1.0.1
**Editor:** @mbobra
**Reviewers:** @kelseymh, @matthewfeickert
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

[2021-04-06 19:41] whedon commented on #3154
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-06 19:43] whedon commented on #3154
[code]

[2021-04-06 19:43] whedon commented on #3154
[code]

[2021-04-06 19:43] whedon commented on #3154
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03154/joss.03154/10.21105.joss.03154.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03154/joss.03154/10.21105.joss.03154.pdf) :page_facing_up: :point_left:

[2021-04-06 19:45] danielskatz commented on #3154
👋 @gerudo7 - On possibly missing DOIs that whedon suggests, note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to the be the first entry in a new comment.

[2021-04-06 19:49] danielskatz commented on #3154
👋 @mbobra - Would you be able to edit this submission too?

[2021-04-06 19:49] danielskatz commented on #3154
@whedon invite @mbobra as editor

[2021-04-06 19:49] whedon commented on #3154
@mbobra has been invited to edit this submission.

[2021-04-06 19:54] navidcy commented on #3053
Thanks @eviatarbach. I’ll fix that about MAOOAM.

[2021-04-06 19:55] KristinaRiemer commented on #3074
@whedon set 10.5281/zenodo.4657750 as archive

[2021-04-06 19:55] whedon commented on #3074
OK. <a href="https://doi.org/10.5281/zenodo.4657750" target="_blank">10.5281/zenodo.4657750</a> is the archive.

[2021-04-06 19:55] KristinaRiemer commented on #3074
@whedon set v0.2.5 as version

[2021-04-06 19:55] whedon commented on #3074
OK. v0.2.5 is the version.

[2021-04-06 19:55] KristinaRiemer commented on #3074
@whedon accept

[2021-04-06 19:55] whedon commented on #3074
[code]

[2021-04-06 19:56] whedon commented on #3074
[code]

[2021-04-06 19:57] whedon commented on #3074
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2197

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2197, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-06 20:07] danielskatz commented on #3074
👋 @vbaliga - there are two small changes in https://github.com/vbaliga/gaussplotR/pull/1 - if you can merge this, we should be able to proceed to publication.

[2021-04-06 20:09] danielskatz commented on #3000
@whedon accept from branch joss

[2021-04-06 20:09] whedon commented on #3000
[code]

[2021-04-06 20:10] whedon commented on #3000
[code]

[2021-04-06 20:11] whedon commented on #3000
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2198

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2198, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-06 20:12] danielskatz commented on #3000
@whedon accept deposit=true from branch joss

[2021-04-06 20:12] whedon commented on #3000
[code]

[2021-04-06 20:13] whedon commented on #3000
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1379527801175470084) 👈 🐦🐦🐦

[2021-04-06 20:13] whedon commented on #3000
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2199
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.03000](https://doi.org/10.21105/joss.03000)
2. If everything looks g

[2021-04-06 20:18] dbkeitel commented on #3000
@danielskatz Thanks for your proofread! I've merged it, then found one more missing comma in the acknowledgments, fixed on our branch just now. But if it's too late for that one now, it's also ok.

[2021-04-06 20:20] danielskatz commented on #3000
unless it's essential, let's ignore it at this point

[2021-04-06 20:22] dbkeitel commented on #3000
Ok, thanks for the support throughout!

[2021-04-06 20:22] danielskatz commented on #3000
Congratulations to @dbkeitel (David Keitel) and co-authors!!

and thanks to @khanx169 and @RobertRosca for reviewing!

[2021-04-06 20:22] #3000 closed

[2021-04-06 20:22] whedon commented on #3000
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03000/status.svg)](https://doi.org/10.21105/joss.03000)

**We need your help!**

Journal of Open Source Softwa

[2021-04-06 20:23] TheoChristiaanse commented on #2677
@whedon generate pdf

[2021-04-06 20:25] whedon commented on #2677
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: :point_left:

[2021-04-06 20:25] danielskatz commented on #3109
👋 @sjpfenninger - are you available to edit again?

[2021-04-06 20:25] danielskatz commented on #3109
@whedon invite @sjpfenninger as editor

[2021-04-06 20:26] whedon commented on #3109
@sjpfenninger has been invited to edit this submission.

[2021-04-06 20:27] chennachaos commented on #3020
Hi @Kevin-Mattheus-Moerman, I have started my review. Hope to complete it in a couple of weeks.

[2021-04-06 20:31] TheoChristiaanse commented on #2677
Hello @danielskatz @kthyng

I went through the bibtex again, I found one more issue, but the rest look good to me. I've updated the version again to keep track of the changes.

https://gitlab.com/energyincities/besos/-/tags/2.1.3

and uploaded this version also to the zenodo.

https://zenodo.org/record/4638214

let me know if there are any other issues.

[2021-04-06 20:37] danielskatz commented on #2677
@kthyng - this looks good to me - are we ready to accept?

[2021-04-06 20:37] danielskatz commented on #2677
@whedon set 2.1.3 as version

[2021-04-06 20:37] whedon commented on #2677
OK. 2.1.3 is the version.

[2021-04-06 20:38] danielskatz commented on #2677
@whedon set 10.5281/zenodo.4667614 as archive

[2021-04-06 20:38] whedon commented on #2677
OK. <a href="https://doi.org/10.5281/zenodo.4667614" target="_blank">10.5281/zenodo.4667614</a> is the archive.

[2021-04-06 20:38] danielskatz commented on #2677
@whedon accept

[2021-04-06 20:38] whedon commented on #2677
[code]

[2021-04-06 20:39] whedon commented on #2677
[code]

[2021-04-06 20:40] whedon commented on #2677
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2200

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2200, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-06 20:44] danielskatz commented on #2677
@whedon accept deposit=true

[2021-04-06 20:44] whedon commented on #2677
[code]

[2021-04-06 20:46] whedon commented on #2677
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1379535926938992640) 👈 🐦🐦🐦

[2021-04-06 20:46] whedon commented on #2677
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2201
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02677](https://doi.org/10.21105/joss.02677)
2. If everything looks g

[2021-04-06 20:51] danielskatz commented on #2677
Congratulations to @TheoChristiaanse (Theodor Victor Christiaanse) and co-authors!!

And thanks to @fneum and @willu47 for reviewing and @sjpfenninger for editing!

[2021-04-06 20:51] #2677 closed

[2021-04-06 20:51] whedon commented on #2677
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02677/status.svg)](https://doi.org/10.21105/joss.02677)

**We need your help!**

Journal of Open Source Softwa

[2021-04-06 21:00] danielskatz commented on #3074
@whedon accept

[2021-04-06 21:00] whedon commented on #3074
[code]

[2021-04-06 21:00] whedon commented on #3074
[code]

[2021-04-06 21:01] whedon commented on #3074
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2202

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2202, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-06 21:04] danielskatz commented on #3074
@whedon accept deposit=true

[2021-04-06 21:04] whedon commented on #3074
[code]

[2021-04-06 21:05] whedon commented on #3074
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1379540802595086337) 👈 🐦🐦🐦

[2021-04-06 21:05] whedon commented on #3074
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2203
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.03074](https://doi.org/10.21105/joss.03074)
2. If everything looks g

[2021-04-06 21:06] fduchatea commented on #2805
@whedon generate pdf

[2021-04-06 21:08] whedon commented on #2805
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: :point_left:

[2021-04-06 21:09] danielskatz commented on #3074
Congratulations to @vbaliga (Vikram B. Baliga)!!

And thanks to @cddesja and @brunaw for reviewing, and @KristinaRiemer for editing!

[2021-04-06 21:09] #3074 closed

[2021-04-06 21:09] whedon commented on #3074
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03074/status.svg)](https://doi.org/10.21105/joss.03074)

**We need your help!**

Journal of Open Source Softwa

[2021-04-06 21:15] fduchatea commented on #2805
@galessiorob Thank you for improving the paper!
We have checked the paper and added labels to the figures, and whedon has produced the latest version (post above).

[2021-04-06 21:30] eloisabentivegna commented on #3099
@Sbozzolo, I am almost done with the code review.

I have a few suggestions regarding the paper text:
- The Einstein Toolkit should always have a determinate article, e.g. "made by Einstein Toolkit" -> "made by the Einstein Toolkit" on line 28.
- On line 55, "visit" -> "VisIt"
- The citation label for Frontera should be corrected
- The description of a typical workflow seems to imply that Simulati

[2021-04-06 21:37] eloisabentivegna commented on #3099
@Yurlungur, could you post an update?

[2021-04-06 22:23] whedon commented on #3099
[code]

[2021-04-06 22:24] whedon commented on #3099
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03099/joss.03099/10.21105.joss.03099.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03099/joss.03099/10.21105.joss.03099.pdf) :page_facing_up: :point_left:

[2021-04-06 22:39] Sbozzolo commented on #3099
Thanks, I took care of your comments. I added a sentence to say that `kuibit` does not assume any specific simulation workflow but gathers information from filenames and metadata.

The documentation notebooks are generated as part of the continuous integration pipeline using data that I include in the repo. They serve the purpose of showing the basic features available and how they should be used,

[2021-04-06 22:49] znicholls commented on #2766
Hi @danielskatz, just to put all the information on the table, I am hoping to do some updates in response to the last review, I am just being slow getting there (I can also do these after the paper is accepted, they're all really helpful suggestions).

[2021-04-06 22:50] vbaliga commented on #3074
@danielskatz and @KristinaRiemer  -- thank you so much!

[2021-04-06 23:54] msalibian commented on #2992
@mikldk Thank you for catching these omissions. We've fixed them. For comments (3) and (4), we now explicitly include the residual scale parameter in our model in equation (1), and we also mention that \sigma is estimated using a preliminary estimator (the MAD of the residuals from a local median fit). The distribution family of the errors in equation (1) may remain unspecified, but we mention tha

[2021-04-07 02:00] Yurlungur commented on #3099
My apologies---I fell ill last week and am only now catching up. I have much of the code review still to do. I can commit to finishing it by the end of the week.

[2021-04-07 02:08] navidcy commented on #3053
@whedon generate pdf from branch JOSS-paper

[2021-04-07 02:08] whedon commented on #3053
[code]

[2021-04-07 02:09] whedon commented on #3053
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03053/joss.03053/10.21105.joss.03053.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03053/joss.03053/10.21105.joss.03053.pdf) :page_facing_up: :point_left:

[2021-04-07 04:33] somefunAgba commented on #3002
I say a big thank you to the reviewers @agahkarakuzu @kakearney and the editors @majensen @danielskatz
for your helpful reviews and comments that has made this work better than it was initially during the time of submission.
It has been a very educating session.

I really like the work JOSS is doing, and the platform it offers. I have volunteered as a future reviewer.

@majensen,  I will try to pu

[2021-04-07 06:28] TomKellyGenetics commented on #3118
I've reported a bug here: https://github.com/CTU-Bern/presize/issues/72

This completes my review. I recommend acceptance conditional on revisions in issues opened on the https://github.com/CTU-Bern/presize repository. Great work to develop a useful package.

[2021-04-07 06:34] roshansamuel commented on #2095
Hi @nickwimer @olgadoronina , were you able to complete the tests of the code?

[2021-04-07 06:35] ThomasLecocq commented on #2696
It's all good for me

[2021-04-07 06:50] njtierney commented on #3141
Hi there!

I'd be happy to review this package. When is the due date?

[2021-04-07 08:08] yarongvili1 commented on #3040
@danielskatz, what are the next steps?

[2021-04-07 08:45] hugoledoux commented on #2970
@whedon re-invite @HenrikJanPersson as reviewer

[2021-04-07 08:45] whedon commented on #2970
OK, the reviewer has been re-invited.

@henrikjanpersson please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-04-07 09:36] arfon commented on #2826
@jGaboardi – Figure sizes can be customized by adding an optional second parameter:

[code]

[2021-04-07 09:45] arfon commented on #2876
Thank you for the update @VNNikolaidis. @schnorr and @MohmedSoudy - could I trouble you both to come and take another look at this submission to decide if you are ready to recommend this submission be accepted?

[2021-04-07 11:08] HenrikJanPersson commented on #2970
@whedon generate pdf

[2021-04-07 11:09] whedon commented on #2970
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02970/joss.02970/10.21105.joss.02970.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02970/joss.02970/10.21105.joss.02970.pdf) :page_facing_up: :point_left:

[2021-04-07 11:13] HenrikJanPersson commented on #2970
@Narayana-Rao
Thank you for the changes. I think it all looks fine and that the tool and paper make a good contribution!
I have checked all boxes.

[2021-04-07 11:41] Narayana-Rao commented on #2970
Dear @HenrikJanPersson , We want to thank you for your valuable time and suggestions, which has been instrumental in improving the technical quality of the plugin as well as the manuscript.

[2021-04-07 11:53] Narayana-Rao commented on #2970
@whedon generate pdf

[2021-04-07 11:54] whedon commented on #2970
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02970/joss.02970/10.21105.joss.02970.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02970/joss.02970/10.21105.joss.02970.pdf) :page_facing_up: :point_left:

[2021-04-07 12:12] nuest commented on #2805
@galessiorob I've taken another look and updated my checklist above and a few minor comments. As the other reviewers have already given their :+1: I leave it to you to judge if any of these should hold up publication or are left for the authors to clarify in the README later.

- Because I cloned the repo to my "regular" folder with _many_ git repositories, all those files became part of the Docker

[2021-04-07 12:19] danielskatz commented on #3040
We seem to have lost @gcdeshpande, which is ok, since we really just need two reviewers, but both @jarrah42 and @henrykironde have unchecked boxes.  So the question is really to them:

What else is needed from your points of view?

[2021-04-07 12:21] ankurankan commented on #3115
@D-K-E Thanks for the paper, it was an interesting read but I do have some concerns
which I have listed below.

From the summary, I am unable to clearly see how the PyGModels package
fits/adds to the current ecosystem of graphical model packages. From my
understanding, the main point being made is that the PyGModels package
implements both the graphical and statistical properties of PGMs. But I th

[2021-04-07 13:22] jarrah42 commented on #3040
I have updated my checklist.

[2021-04-07 13:27] danielskatz commented on #3040
Thanks @jarrah42 - just to confirm, you would be satisfied for this to proceed to acceptance?

[2021-04-07 13:41] aghaynes commented on #3118
I've addressed your comments @TomKellyGenetics. I guess it's back to you and @amoeba for 'final' acceptance...

[2021-04-07 13:41] aghaynes commented on #3118
@whedon generate pdf

[2021-04-07 13:42] whedon commented on #3118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: :point_left:

[2021-04-07 13:44] jni commented on #3098
Kind ping again @tmaric and @wolfv. Please also let us know if your situation has changed and we need to find different reviewers. 🙏

[2021-04-07 13:50] jarrah42 commented on #3040
Yes I'm satisfied.

[2021-04-07 14:00] colbrydi commented on #3120
👋 @apiad - I am also willing to review this.

[2021-04-07 14:02] csoneson commented on #3141
Thanks @njtierney! We don't impose a fixed due date (and we're a bit more flexible right now given the challenges brought by the pandemic), but we encourage reviewers to post comments as they go through the submission (no need to collect them all in one big review), and to have an initial assessment for the authors to work on within two weeks from the start of the review.

[2021-04-07 14:04] tmaric commented on #3098
Hi, sorry, chaos on my side, I'm on it.

[2021-04-07 14:04] csoneson commented on #3141
@njtierney - I will add you as a reviewer now (and you can of course start looking at the submission), but the actual review will start once we have recruited one more reviewer. At that point I'll open the review issue, where you will find your review checklist etc.

[2021-04-07 14:04] csoneson commented on #3141
@whedon assign @njtierney as reviewer

[2021-04-07 14:04] whedon commented on #3141
OK, @njtierney is now a reviewer

[2021-04-07 14:05] csoneson commented on #3122
@dlebauer - could you update us on how your review is going? Thanks!

[2021-04-07 14:39] sdesabbata commented on #2869
Hi @hugoledoux, as agreed, I should be able to complete this by mid-April. I hope to be able to get to it next week. 😄

[2021-04-07 14:58] whedon commented on #3133
:wave: @alexpghayes, please update us on how your review is going (this is an automated reminder).

[2021-04-07 14:58] whedon commented on #3133
:wave: @wjakethompson, please update us on how your review is going (this is an automated reminder).

[2021-04-07 15:03] henrykironde commented on #3040
Thanks @yarongvili1 for the patience and having to deal with all the request. I am satisfied with the library and I recommend acceptance.

[2021-04-07 15:05] jGaboardi commented on #2826
@arfon Thanks for this. Not sure how I missed it.

[2021-04-07 15:29] pibion commented on #2484
@gflofst great, thank you for the update!  @dghoshal-lbl I've got a Windows machine I can test on if it'd be useful for debugging :)

[2021-04-07 15:32] gflofst commented on #2484
My main machine is windows so I'm good there. I have had a couple of rounds of communication looking at debugging with them. Progress!

[2021-04-07 15:33] jGaboardi commented on #2826
@whedon generate pdf (reducing figure size by 50%)

[2021-04-07 15:36] whedon commented on #2826
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: :point_left:

[2021-04-07 15:45] pibion commented on #2694
@jspaezp @wesleyburr checking in again - the folks I invited in my last round of emails weren't able to review and I've sent out another round of invitations.

Sorry this is taking so long, I suspect people are a bit worn down right now.

[2021-04-07 16:04] yarongvili1 commented on #3040
Thanks @jarrah42 and @henrykironde for your helpful reviews, and @danielskatz for editing!

[2021-04-07 16:07] danielskatz commented on #3040
Thanks @jarrah42 and @henrykironde!

[2021-04-07 16:08] danielskatz commented on #3040
@yarongvili1 - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author lis

[2021-04-07 16:08] pibion commented on #2764
@mfeldt apologies again for the slow progress.  I'm writing to let you know I'm still looking for an additional reviewer!

[2021-04-07 16:26] jGaboardi commented on #2826
@whedon generate pdf (cleaning up references and citations [2])

[2021-04-07 16:26] whedon commented on #2826
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: :point_left:

[2021-04-07 17:07] pikarpov-LANL commented on #3146
Hi Daniel,

This is an outdated note, left behind before I had any physics-informed methods, analytical tools, and wiki. As it stands, Sapsan is full-featured and ready for general use as outlined in the paper. I have removed that note from README.

Thank you for bringing it to my attention!

Plato

________________________________
From: Daniel S. Katz ***@***.***>
Sent: Monday, April 5, 2021 5:52

[2021-04-07 17:29] danielskatz commented on #3146
👋 @dfm - are you able to edit this submission?

[2021-04-07 17:29] danielskatz commented on #3146
@whedon invite @dfm as editor

[2021-04-07 17:29] whedon commented on #3146
@dfm has been invited to edit this submission.

[2021-04-07 17:58] dfm commented on #3146
@whedon assign me as editor

Yes - I'm happy to edit.

@pikarpov-LANL: I'll do a first pass and then start looking for reviewers in the next few days. I'll keep you posted as this progresses and if I have any questions. You should also feel free to ask me any questions as we go.

[2021-04-07 17:58] whedon commented on #3146
OK, the editor is @dfm

[2021-04-07 18:02] mikldk commented on #2992
@whedon accept deposit=true from branch joss

[2021-04-07 18:04] mikldk commented on #2992
@whedon accept from branch joss

[2021-04-07 18:04] whedon commented on #2992
[code]

[2021-04-07 18:05] whedon commented on #2992
[code]

[2021-04-07 18:05] whedon commented on #2992
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2204

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2204, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-07 18:06] danielskatz commented on #2992
Please let @openjournals/joss know when you are happy with this, and I will go ahead and do the final proofreading and then processing

[2021-04-07 18:15] dghoshal-lbl commented on #2484
@gflofst Science Capsule has been tested on native Window OS. Were you able to use it on Windows without Docker?

If you are using Docker on Windows, ideally it should work, but haven't been tested. We have only tested with Docker on Linux and MacOS (https://bitbucket.org/sciencecapsule/sciencecapsule/src/dbf53d362548c81b3dbe49156c8def7a070040bb/docs/README-docker.md).

[2021-04-07 18:16] dghoshal-lbl commented on #2484
@pibion You are always welcome to test it on your machine and let us know how it goes :)

[2021-04-07 18:52] amoeba commented on #3118
Hello @majensen my review is now an Accept. We noticed an issue with the 0.1.3 version that's both on CRAN and the version being archived with this submission so I'd like to see a new version archived if possible once @aghaynes has minted it.

[2021-04-07 19:04] dlebauer commented on #3122
@csoneson this is my first review for JOSS. Just learning how this works. One of the first things I usually do when reviewing an article is see if it meets journal requirements. In this case I started by submitting a pr to meet the journal requirements of having an OSI approved license. However it hasn't been merged or addressed (eg with a different license). While this doesn't prevent a full revi

[2021-04-07 19:09] csoneson commented on #3122
Thanks @dlebauer. From the DESCRIPTION file it looks like the package is indeed MIT licensed. @DidierMurilloF - could you clarify the situation here (and add the license to the repository as well)?

[2021-04-07 19:28] mikldk commented on #2992
@danielskatz Just tagging the authors @alemermartinez @msalibian for the proofreading.

[2021-04-07 19:41] danielskatz commented on #2992
I've found a few small things that shoud be changed, as indicated in https://github.com/msalibian/RBF/pull/6

[2021-04-07 20:28] msalibian commented on #2992
@danielskatz Done

[2021-04-07 20:32] danielskatz commented on #2992
Done as in "I've merged those changes" or "I'm happy with the text and you can proceed to publication" or both or something else?

[2021-04-07 20:55] msalibian commented on #2992
@danielskatz Both: merged the changes and I'm happy to go ahead with the current text. Thanks.

[2021-04-07 20:57] danielskatz commented on #2992
Are you speaking for @alemermartinez  as well?

[2021-04-07 21:01] alemermartinez commented on #2992
Yes, he is. Thank you, Daniel, for this new read of the text.

Kind regards,

Alejandra

-------- Mensaje original --------
De: "Daniel S. Katz" ***@***.***>
Fecha: 7/4/21 17:57 (GMT-03:00)
A: openjournals/joss-reviews ***@***.***>
CC: Alejandra Martinez ***@***.***>, Mention ***@***.***>
Asunto: Re: [openjournals/joss-reviews] [REVIEW]: RBF: An R package to compute a robust backfitting estimator

[2021-04-07 21:02] danielskatz commented on #2992
@whedon accept from branch joss

[2021-04-07 21:02] whedon commented on #2992
[code]

[2021-04-07 21:03] whedon commented on #2992
[code]

[2021-04-07 21:03] whedon commented on #2992
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2205

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2205, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-07 21:31] danielskatz commented on #2992
@whedon accept deposit=true from branch joss

[2021-04-07 21:31] whedon commented on #2992
[code]

[2021-04-07 21:31] whedon commented on #2992
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1379909831428075522) 👈 🐦🐦🐦

[2021-04-07 21:31] whedon commented on #2992
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2206
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02992](https://doi.org/10.21105/joss.02992)
2. If everything looks g

[2021-04-07 21:39] danielskatz commented on #2992
Congratulations to @alemermartinez (Alejandra Martínez) & @msalibian!!

And thanks to @mcavs and @mmrabe for reviewing, and @mikldk for editing!

[2021-04-07 21:39] #2992 closed

[2021-04-07 21:39] whedon commented on #2992
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02992/status.svg)](https://doi.org/10.21105/joss.02992)

**We need your help!**

Journal of Open Source Softwa

[2021-04-07 22:22] dlebauer commented on #3122
Now I see it looks like the issue is that there are two files ... LICENSE and LICENSE.md, and github is only picking up the LICENSE. I will update the PR and proceed

[2021-04-07 22:27] pikarpov-LANL commented on #3146
@dfm great, thank you!

[2021-04-07 23:52] dlebauer commented on #3122
- https://github.com/DidierMurilloF/FielDHub/issues/14
- https://github.com/DidierMurilloF/FielDHub/issues/13
- https://github.com/DidierMurilloF/FielDHub/issues/12

[2021-04-08 00:43] pibion commented on #3154
@mbobra if you'd like any help finding reviewers I'm happy to help out!

[2021-04-08 01:00] TomKellyGenetics commented on #3118
Thanks for responding to reviews so promptly @aghaynes, great work! As discussed in https://github.com/CTU-Bern/presize/issues/66 version 0.2.2 will be "published" and released on CRAN. Everything seems to be in order but I'll check the updated manuscript once whedon has updated for PR https://github.com/CTU-Bern/presize/pull/73.

[2021-04-08 01:00] TomKellyGenetics commented on #3118
@whedon generate pdf

[2021-04-08 01:01] whedon commented on #3118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: :point_left:

[2021-04-08 01:05] TomKellyGenetics commented on #3118
@whedon set <v0.2.2> as version

[2021-04-08 01:05] whedon commented on #3118
I'm sorry @TomKellyGenetics, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-04-08 01:07] mbobra commented on #3154
@whedon assign me as editor

[2021-04-08 01:07] mbobra commented on #3154
@pibion Thank you! I appreciate it. If you have any suggested reviewers, please let me know here (you can give me the Github handle without @ mentioning them, e.g. mbobra instead of @mbobra).

[2021-04-08 01:21] jdmoorman commented on #2862
I am finished with my review, I recommend this submission for publication.

[2021-04-08 01:22] rdeits commented on #3060
I've submitted an issue to Kinetic.jl with some notes on the installation + setup process: https://github.com/vavrines/Kinetic.jl/issues/12

[2021-04-08 01:58] TomKellyGenetics commented on #3118
I've installed the development version 0.2.2 of `presize` from GitHub and verified that [updated documentation](https://github.com/CTU-Bern/presize/issues/66) is available and the [issue with the Shiny App](https://github.com/CTU-Bern/presize/issues/72) has been corrected. All [comments](https://github.com/CTU-Bern/presize/issues/71) on the manuscript have been satisfactorily addressed.

@majensen

[2021-04-08 03:32] majensen commented on #3118
I think with @amoeba and @TomKellyGenetics on the case, this paper has been autoedited. Thanks @aghaynes for your collaborative spirit! I will do an editorial pass on the paper, a minor PR may ensue.

[2021-04-08 06:46] eloisabentivegna commented on #3099
Thanks, @Yurlungur!

[2021-04-08 07:06] hugoledoux commented on #2970
OK, we're getting to the end of this review.

I went over the paper and fixed a few things, could you check it and merge (if you agree):
https://github.com/Narayana-Rao/PolSAR-tools/pull/7

[2021-04-08 07:32] aghaynes commented on #3118
Great, thanks for everyones help! I'll prep the CRAN submission now...

@majensen, note that the version number for the paper should be changed to 0.2.2

[2021-04-08 07:43] Narayana-Rao commented on #2970
@whedon generate pdf

[2021-04-08 07:43] whedon commented on #2970
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02970/joss.02970/10.21105.joss.02970.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02970/joss.02970/10.21105.joss.02970.pdf) :page_facing_up: :point_left:

[2021-04-08 07:47] Narayana-Rao commented on #2970
Dear @hugoledoux, Thank you very much for your edits. I have checked and merged your pull request [Narayana-Rao/PolSAR-tools#7](https://github.com/Narayana-Rao/PolSAR-tools/pull/7).

[2021-04-08 08:21] JohannesBuchner commented on #3001
Many thanks @mattpitkin and @ziatdinovmax for your useful comments, and @fboehm for the guidance through the process. It helped me a lot, as this was my first submission!

[2021-04-08 08:41] salrm8 commented on #2871
Hi @drvinceknight, is there any other thing I need to do? Thank you!

[2021-04-08 08:49] TomKellyGenetics commented on #3118
I seem to be a more friendly timezone for you than the editors so I'll let you know so you can get started on the next step of the submission process. Can you create an archive for this version on Zenodo, Figshare, or similar (see https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729 for a tutorial if needed)? Please make sure authors and the title of the archive match th

[2021-04-08 08:55] berenger-eu commented on #3145
Dear @tingyu66,

I have a single tiny remark concerning the paper, which is clear and answers all the questions I had.
Instead of citing "Blanchard, P., Bramas" for ScalFMM, I would suggest citing the SISC paper:
https://epubs.siam.org/doi/abs/10.1137/130915662

I was able to compile the code (using the dependencies already installed on my computer) and run the tests.
I looked at the CI and saw th

[2021-04-08 10:46] Borchardt commented on #2979
@majensen another update: https://github.com/focolab/minimo/issues/32 now also closed!

[2021-04-08 11:18] marcosvital commented on #3027
Thank you, @FlukeAndFeather! There is no need to sign-up. The reviewing is open, and it will happen here at GitHub. A new issue will be created for that, as soon as we have enough reviewers.

 @ajpelu and @pboesu, thank you for your quick replies. :)

[2021-04-08 12:01] dfm commented on #3146
@whedon generate pdf from branch joss

[2021-04-08 12:01] whedon commented on #3146
[code]

[2021-04-08 12:01] whedon commented on #3146
PDF failed to compile for issue #3146 with the following error:

 ORCID looks malformed
/app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:155:in `block in check_orcids': Problem with ORCID (to-fill) for Platon I. Karpov (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:153:in `each'
	from /app/vendor/bundle/ruby/2.6.0/bundl

[2021-04-08 12:02] dfm commented on #3146
@whedon check references from branch joss

[2021-04-08 12:02] whedon commented on #3146
[code]

[2021-04-08 12:03] dfm commented on #3146
@whedon check repository from branch joss

[2021-04-08 12:03] whedon commented on #3146
[code]

[2021-04-08 12:04] whedon commented on #3146
[code]

[2021-04-08 12:04] hugoledoux commented on #2970
@whedon generate pdf

[2021-04-08 12:05] hugoledoux commented on #2970
@whedon check references

[2021-04-08 12:05] whedon commented on #2970
[code]

[2021-04-08 12:05] whedon commented on #2970
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02970/joss.02970/10.21105.joss.02970.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02970/joss.02970/10.21105.joss.02970.pdf) :page_facing_up: :point_left:

[2021-04-08 12:07] dfm commented on #3146
@pikarpov-LANL: Can you make these small changes:

1. Fix the ORCID in the manuscript
2. Add the [suggested DOI](https://github.com/openjournals/joss-reviews/issues/3146#issuecomment-815724155): `10.1109/tkde.2017.2720168`
3. Add an [explicit "Statement of need" section](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) to the paper

[2021-04-08 12:08] hugoledoux commented on #2970
OK, both reviewers recommend acceptance so we're moving towards this.

At this point could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This include

[2021-04-08 12:11] whedon opened #3155 "[PRE REVIEW]: gm: R Package for Creating Music"
**Submitting author:** @flujoo (<a href="http://orcid.org/0000-0002-2841-9570">Renfei Mao</a>)
**Repository:** <a href="https://github.com/flujoo/gm" target ="_blank">https://github.com/flujoo/gm</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS i

[2021-04-08 12:11] whedon commented on #3155
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-08 12:12] whedon commented on #3155
[code]

[2021-04-08 12:12] whedon commented on #3155
[code]

[2021-04-08 12:13] whedon commented on #3155
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03155/joss.03155/10.21105.joss.03155.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03155/joss.03155/10.21105.joss.03155.pdf) :page_facing_up: :point_left:

[2021-04-08 12:13] danielskatz commented on #3155
@flujoo - The editors will now discuss if this submission is in scope for JOSS review - you should hear back in a week or so

[2021-04-08 12:14] danielskatz commented on #3155
@whedon query scope

[2021-04-08 12:14] whedon commented on #3155
Submission flagged for editorial review.

[2021-04-08 12:30] danielskatz commented on #3135
@tresoldi - the scope review has completed, and we've decided this is in scope for review, so we'll now move to finding an editor

[2021-04-08 12:31] danielskatz commented on #3135
👋 @fboehm - would you be able to edit this submission?

[2021-04-08 12:31] danielskatz commented on #3135
@whedon invite @fboehm as editor

[2021-04-08 12:31] whedon commented on #3135
@fboehm has been invited to edit this submission.

[2021-04-08 12:35] danielskatz commented on #3138
@const-ae - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission is borderline in size/[substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) and may not be [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS. This

[2021-04-08 12:36] danielskatz commented on #3138
@whedon reject

[2021-04-08 12:36] whedon commented on #3138
Paper rejected.

[2021-04-08 12:36] #3138 closed

[2021-04-08 13:37] nevrome commented on #3092
I believe everything is ready to go now - thank you for your patience!

[2021-04-08 13:53] vissarion commented on #3092
@whedon generate pdf

[2021-04-08 13:54] whedon commented on #3092
PDF failed to compile for issue #3092 with the following error:

 Error producing PDF.
! Argument of \caption@ydblarg has an extra }.
<inserted text>
                \par
l.558 project}.\label{fig:plot_map}}

Looks like we failed to compile the PDF

[2021-04-08 13:55] Narayana-Rao commented on #2970
Dear @hugoledoux,

I have finished the archival of the repository according to the given guidelines. Please verify and confirm the following check list.

1. Version [v0.7](https://github.com/Narayana-Rao/PolSAR-tools/releases/tag/v0.7)
2. Zenodo archive [10.5281/zenodo.4621292](https://doi.org/10.5281/zenodo.4621292)
3. I have verified the archive's metadata and also added ORCIDs authors.
4. Zenod

[2021-04-08 13:57] vissarion commented on #3092
@nevrome it seems there is an issue with your PDF (see message above). Please fix and run `@whedon generate pdf` to be sure there are not issues left.

[2021-04-08 13:57] nevrome commented on #3092
Oh - I think I have an idea where this might be coming from.

[2021-04-08 14:14] nevrome commented on #3092
@whedon generate pdf

[2021-04-08 14:14] whedon commented on #3092
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03092/joss.03092/10.21105.joss.03092.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03092/joss.03092/10.21105.joss.03092.pdf) :page_facing_up: :point_left:

[2021-04-08 14:18] vissarion commented on #3092
@whedon check references

[2021-04-08 14:20] whedon commented on #3092
[code]

[2021-04-08 14:24] vissarion commented on #3092
Thanks @nevrome the submission is ready to be accepted.

Could you please make a tagged release and archive (using for example [Zenodo](https://zenodo.org/) or [figshare](https://figshare.com/)), and report the version number and archive DOI here?

[2021-04-08 14:47] whedon commented on #2749
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-04-08 14:47] sbenthall commented on #2749
@whedon set 10.5281/zenodo.4663471 as archive

[2021-04-08 14:47] whedon commented on #2749
OK. <a href="https://doi.org/10.5281/zenodo.4663471" target="_blank">10.5281/zenodo.4663471</a> is the archive.

[2021-04-08 14:47] sbenthall commented on #2749
@whedon set v0.5.0 as version

[2021-04-08 14:47] whedon commented on #2749
OK. v0.5.0 is the version.

[2021-04-08 14:48] sbenthall commented on #2749
Fantastic. Thanks @mossr

[2021-04-08 14:48] sbenthall commented on #2749
@whedon accept

[2021-04-08 14:48] whedon commented on #2749
[code]

[2021-04-08 14:49] whedon commented on #2749
[code]

[2021-04-08 14:49] whedon commented on #2749
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2207

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2207, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-08 14:54] hugoledoux commented on #2970
the title in zenodo is not the same as your paper, this is the only thing left at this point, could you please change it?

[2021-04-08 15:03] aghaynes commented on #3118
The package is with CRAN now (version is now 0.2.3).

Thanks for the tips @TomKellyGenetics. I'll wait to see if there are any editorial PRs before doing Zenodo.

[2021-04-08 15:20] Narayana-Rao commented on #2970
Dear @hugoledoux, Thank you for pointing out these. I have updated them now. Please check and confirm.   [10.5281/zenodo.4621292](https://doi.org/10.5281/zenodo.4621292)

[2021-04-08 15:21] fboehm commented on #3135
Thanks for the invitation, @danielskatz. I feel like I should decline this opportunity, as I'm still finding reviewers for two other submissions.

[2021-04-08 15:31] sbenthall commented on #2749
@whedon accept deposit=true

[2021-04-08 15:31] whedon commented on #2749
I'm sorry @sbenthall, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-04-08 15:33] danielskatz commented on #2749
I'll do this later today, after a proof-read...

[2021-04-08 15:47] nevrome commented on #3092
Release: https://github.com/nevrome/bleiglas/releases/tag/1.0.0
DOI: https://doi.org/10.17605/OSF.IO/AGMD6

[2021-04-08 16:34] flujoo commented on #3155
potential reviewer: brunaw

[2021-04-08 16:40] karthik commented on #2944
@LangeJens Still no bites on the second reviewer. Julian and Riet both declined. I'll keep looking but also welcome more suggestions.

[2021-04-08 16:46] yc015 commented on #2980
@gkthiruvathukal  Good Afternoon! I just wonder if there are more suggestions needed from me, or we are still awaiting the responses from invited reviewers.

[2021-04-08 16:48] danielskatz commented on #2749
@mossr  - there are a few small changes in https://github.com/sisl/POMDPStressTesting.jl/pull/8 - if you can merge these, I'll go ahead and finish the acceptance and publishing

[2021-04-08 16:49] arfon commented on #3095
FYI, I just heard from the AAS publishing team that the DOI for their paper will be `10.3847/1538-3881/abf5e7`.

[2021-04-08 16:51] hugoledoux commented on #2970
@whedon set 10.5281/zenodo.4621292 as archive

[2021-04-08 16:51] whedon commented on #2970
OK. <a href="https://doi.org/10.5281/zenodo.4621292" target="_blank">10.5281/zenodo.4621292</a> is the archive.

[2021-04-08 16:52] hugoledoux commented on #2970
@whedon set v0.7 as version

[2021-04-08 16:52] whedon commented on #2970
OK. v0.7 is the version.

[2021-04-08 16:52] hugoledoux commented on #2970
@whedon accept

[2021-04-08 16:52] danielskatz commented on #3135
@majensen - would you be able to edit this submission?

[2021-04-08 16:52] whedon commented on #2970
[code]

[2021-04-08 16:52] danielskatz commented on #3135
@whedon invite @majensen as editor

[2021-04-08 16:52] whedon commented on #3135
@majensen has been invited to edit this submission.

[2021-04-08 16:53] whedon commented on #2970
[code]

[2021-04-08 16:53] whedon commented on #2970
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2208

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2208, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-08 16:53] gkthiruvathukal commented on #2980
@yc015 I'm going to assume @elektrobohemian will be able to do the review. Just keep in mind, we will be working at slower speed in general. I was waiting for the response but am going to assume that the review may not be completed until May (may ... May!)

Starting review now.

[2021-04-08 16:53] gkthiruvathukal commented on #2980
@whedon add @elektrobohemian as reviewer

[2021-04-08 16:54] whedon commented on #2980
OK, @elektrobohemian is now a reviewer

[2021-04-08 16:54] gkthiruvathukal commented on #2980
@elektrobohemian I'm assuming you are willing as long as we give you enough time. We'll work with your schedule!

[2021-04-08 16:54] gkthiruvathukal commented on #2980
@whedon start review

[2021-04-08 16:54] whedon opened #3156 "[REVIEW]: KALMUS: tools for color analysis of films"
**Submitting author:** @yc015 (<a href="http://orcid.org/0000-0002-4018-6095">Yida Chen</a>)
**Repository:** <a href="https://github.com/KALMUS-Color-Toolkit/KALMUS" target ="_blank">https://github.com/KALMUS-Color-Toolkit/KALMUS</a>
**Version:** v1.3.9
**Editor:** @gkthiruvathukal
**Reviewer:** @thomakra, @elektrobohemian
**Archive:** <a href="https://doi.org/10.5281/zenodo.4765745" target="_blan

[2021-04-08 16:54] whedon commented on #2980
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3156.

[2021-04-08 16:54] #2980 closed

[2021-04-08 16:54] whedon commented on #3156
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @thomakra, @elektrobohemian it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-04-08 16:56] whedon commented on #3156
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: :point_left:

[2021-04-08 16:57] whedon commented on #3156
[code]

[2021-04-08 16:57] whedon commented on #3156
[code]

[2021-04-08 17:01] danielskatz commented on #2970
@Narayana-Rao - I'm suggested a few small changes in https://github.com/Narayana-Rao/PolSAR-tools/pull/8 - if you can merge this, we can proceed with acceptance and publication

[2021-04-08 17:03] Narayana-Rao commented on #2970
Dear @danielskatz, I have merged your pull request. Please verify and confirm. Thank you!

[2021-04-08 17:04] danielskatz commented on #2970
@whedon accept

[2021-04-08 17:04] whedon commented on #2970
[code]

[2021-04-08 17:04] whedon commented on #2970
[code]

[2021-04-08 17:04] whedon commented on #2970
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2209

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2209, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-08 17:07] danielskatz commented on #2970
@Narayana-Rao- sorry, one more change - I left in a comma I meant to remove...  https://github.com/Narayana-Rao/PolSAR-tools/pull/9

[2021-04-08 17:07] danielskatz commented on #2970
@Narayana-Rao - sorry, one more change - I left in a comma I meant to remove... Narayana-Rao/PolSAR-tools#9

[2021-04-08 17:08] danielskatz commented on #2970
@whedon accept

[2021-04-08 17:08] whedon commented on #2970
[code]

[2021-04-08 17:09] whedon commented on #2970
[code]

[2021-04-08 17:09] whedon commented on #2970
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2210

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2210, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-08 17:11] danielskatz commented on #2970
@whedon accept deposit=true

[2021-04-08 17:11] whedon commented on #2970
[code]

[2021-04-08 17:12] whedon commented on #2970
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1380206928601755655) 👈 🐦🐦🐦

[2021-04-08 17:12] whedon commented on #2970
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2211
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02970](https://doi.org/10.21105/joss.02970)
2. If everything looks g

[2021-04-08 17:16] Narayana-Rao commented on #2970
Dear @danielskatz, Could you please verify the rendered .pdf file. For me it's showing 404 not found if I click on the DOI link.

[2021-04-08 17:19] danielskatz commented on #2970
Congratulations to @Narayana-Rao (NR Bhogapurapu) and co-authors!!

And thanks to @liberostelios and @HenrikJanPersson for reviewing, and @hugoledoux for editing!

[2021-04-08 17:20] danielskatz commented on #2970
It works fine for me now.  Sometimes if you try it too soon, it doesn't work, and that gets cached in your system/network.  I'm going to close this issue now, since it does work for me, but if it still isn't working for you in 24 hours, then reopen it.

[2021-04-08 17:20] #2970 closed

[2021-04-08 17:20] whedon commented on #2970
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02970/status.svg)](https://doi.org/10.21105/joss.02970)

**We need your help!**

Journal of Open Source Softwa

[2021-04-08 17:21] danielskatz commented on #3113
👋 @hugoledoux - are you able to take on another submission to edit at this point?

[2021-04-08 17:22] danielskatz commented on #3113
@whedon invite @hugoledoux as editor

[2021-04-08 17:22] whedon commented on #3113
@hugoledoux has been invited to edit this submission.

[2021-04-08 17:22] Narayana-Rao commented on #2970
Dear @danielskatz, Thank you very much for your time, edits and prompt responses.

[2021-04-08 17:22] mossr commented on #2749
@danielskatz all set!

[2021-04-08 17:23] danielskatz commented on #3120
@colbrydi - thanks! but we have enough reviewers at this point.

[2021-04-08 17:25] danielskatz commented on #2749
@whedon accept

[2021-04-08 17:25] whedon commented on #2749
[code]

[2021-04-08 17:26] whedon commented on #2749
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2212

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2212, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-08 17:26] whedon commented on #2749
[code]

[2021-04-08 17:27] danielskatz commented on #2749
@whedon accept deposit=true

[2021-04-08 17:27] whedon commented on #2749
[code]

[2021-04-08 17:28] whedon commented on #2749
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1380210907268194306) 👈 🐦🐦🐦

[2021-04-08 17:28] whedon commented on #2749
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2213
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02749](https://doi.org/10.21105/joss.02749)
2. If everything looks g

[2021-04-08 17:28] mossr commented on #2749
Thank you all for your time during this review!

[2021-04-08 17:33] danielskatz commented on #2749
Congratulations to @mossr (Robert Moss)!!

And thanks to @jarvist and @sambitdash for reviewing and @sbenthall for editing!

[2021-04-08 17:33] #2749 closed

[2021-04-08 17:33] whedon commented on #2749
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02749/status.svg)](https://doi.org/10.21105/joss.02749)

**We need your help!**

Journal of Open Source Softwa

[2021-04-08 17:33] majensen commented on #3135
@whedon assign me as editor

[2021-04-08 17:33] whedon commented on #3135
OK, the editor is @majensen

[2021-04-08 17:34] danielskatz commented on #3013
👋 @sbenthall - Are you able to edit this submission?

[2021-04-08 17:34] danielskatz commented on #3013
@whedon invite @sbenthall as editor

[2021-04-08 17:34] whedon commented on #3013
@sbenthall has been invited to edit this submission.

[2021-04-08 18:05] flujoo commented on #3155
@danielskatz May I ask why my submission being in scope is in question? If it is for the [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) requirement, I think my paper is similar to the published JOSS paper [An easy-to-use p5.js 3D object picker for visual artists](https://joss.theoj.org/papers/10.21105/joss.00475). The works in these two

[2021-04-08 18:23] majensen commented on #3135
@DavidNickle - would you have some time to review [this interesting work on phylogenetic simulation](#3135) for [JOSS](https://joss.theoj.org)?

[2021-04-08 18:32] DavidNickle commented on #3135
Hi Mark,

I would be happy to but the current link does not work.

Thanks,

David

[2021-04-08 18:33] marcosvital commented on #3027
Dear @neerajdhanraj, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to revie

[2021-04-08 18:33] danielskatz commented on #3155
@flujoo - Thanks for your explanation, which the editors will consider when discussing the submission.  Also, be aware that JOSS requirements have changed over time, and there are certainly submissions from a few years that we would no longer consider in scope.

[2021-04-08 18:34] marcosvital commented on #3027
@whedon assign @ViniciusBRodrigues  as reviewer

[2021-04-08 18:34] whedon commented on #3027
OK, @ViniciusBRodrigues  is now a reviewer

[2021-04-08 18:35] marcosvital commented on #3027
@whedon add @FlukeAndFeather  as reviewer

[2021-04-08 18:35] whedon commented on #3027
OK, @FlukeAndFeather  is now a reviewer

[2021-04-08 18:38] whedon opened #3157 "[PRE REVIEW]: mosartwmpy: A Python implementation of the MOSART-WM coupled hydrologic routing and water management model"
**Submitting author:** @thurber (<a href="http://orcid.org/0000-0002-4370-9971">Travis Thurber</a>)
**Repository:** <a href="https://github.com/IMMM-SFA/mosartwmpy" target ="_blank">https://github.com/IMMM-SFA/mosartwmpy</a>
**Version:** v0.0.3
**Editor:** @kthyng
**Reviewers:** @JannisHoch, @cheginit
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-04-08 18:38] whedon commented on #3157
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-08 18:38] whedon opened #3158 "[PRE REVIEW]: FURY: advanced scientific visualization"
**Submitting author:** @garyfallidis (<a href="http://orcid.org/0000-0002-3991-2774">Eleftherios Garyfallidis</a>)
**Repository:** <a href="https://github.com/fury-gl/fury" target ="_blank">https://github.com/fury-gl/fury</a>
**Version:** master
**Editor:** @danielskatz
**Reviewers:** @chrishavlin, @rougier, @phamvanvung
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warn

[2021-04-08 18:38] whedon commented on #3158
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-08 18:38] whedon commented on #3157
[code]

[2021-04-08 18:39] whedon commented on #3157
[code]

[2021-04-08 18:39] whedon commented on #3158
[code]

[2021-04-08 18:39] whedon commented on #3157
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03157/joss.03157/10.21105.joss.03157.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03157/joss.03157/10.21105.joss.03157.pdf) :page_facing_up: :point_left:

[2021-04-08 18:40] whedon commented on #3158
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03158/joss.03158/10.21105.joss.03158.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03158/joss.03158/10.21105.joss.03158.pdf) :page_facing_up: :point_left:

[2021-04-08 18:42] whedon commented on #3158
[code]

[2021-04-08 18:46] DavidNickle commented on #3135
I found the link :)

[2021-04-08 18:49] flujoo commented on #3155
@danielskatz I understand that. Thanks for your clarification.

[2021-04-08 18:49] danielskatz commented on #3157
@kthyng - You were requested to edit by the submitters - Can you take this on?

[2021-04-08 18:49] danielskatz commented on #3157
@whedon invite @kthyng as editor

[2021-04-08 18:49] whedon commented on #3157
@kthyng has been invited to edit this submission.

[2021-04-08 18:53] danielskatz commented on #3158
👋 @Garyfallidis - thanks for your submission.  The editors will now discuss if it meets the [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel f

[2021-04-08 18:53] danielskatz commented on #3158
@whedon query scope

[2021-04-08 18:53] whedon commented on #3158
Submission flagged for editorial review.

[2021-04-08 19:00] thurber commented on #3157
hello and thank you! Jan Dietrich (tscheypidi) and Jeffrey Hollister (jhollist) would be good potential reviewers

[2021-04-08 19:01] arfon commented on #2606
I've just emailed both @Paul92 and @urbanophile to see if they are able to return to this review sometime soon. I'm sorry this is taking so long @avik-pal.

[2021-04-08 19:23] Garyfallidis commented on #3158
Thank you @danielskatz

[2021-04-08 20:01] d-chambers commented on #2696
I would love to get this wrapped up soon. I addressed all of @seisman's comments thus far, but I am happy to make any additional improvements that might be required.

[2021-04-08 20:51] skoudoro commented on #3158
@whedon check references

[2021-04-08 21:08] eloisabentivegna commented on #3099
Thanks!

I agree. It's nice that there are pointers to the experimental branch and that users are told there are real-world examples there, but this is easy to miss at the moment. I suggest changing the section header in the readme from "Experimental Branch" to "Tutorials" (or something like that), and perhaps adding to the note in the docs/tutorials something like "For real-world tutorials, pleas

[2021-04-08 21:23] eloisabentivegna commented on #2862
Thanks, @jdmoorman!

I am happy to start the pre-publication phase for this submission. Congratulations, @mengaldo!

[2021-04-08 21:23] eloisabentivegna commented on #2862
@whedon generate pdf from branch paper/JOSS

[2021-04-08 21:23] whedon commented on #2862
[code]

[2021-04-08 21:24] whedon commented on #2862
[code]

[2021-04-08 21:24] whedon commented on #2862
PDF failed to compile for issue #2862 with the following error:
[code]

[2021-04-08 21:26] eloisabentivegna commented on #2862
@whedon generate pdf from branch papers/JOSS

[2021-04-08 21:41] eloisabentivegna commented on #2862
@mengaldo, are the DOI suggestions above valid? If so, could you add them to your `paper.bib`?

A few other style suggestions:
1) Line 12: "otherwise be not predictable" -> "not otherwise be predictable"
2) Line 13: "dynamical system theory" -> "dynamical systems theory"
3) Line 24: introduce the acronym SVD before using it (perhaps on line 15?)
4) Line 51: "their needs" -> "their own needs"
5) Li

[2021-04-08 21:42] kbarnhart commented on #3137
:wave:  @patrickcgray @giswqs @elbeejay  would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission is "eemont: A Python package that extends Google Earth Engine" and I'm contacting you based on your experience with python and remote

[2021-04-08 21:52] giswqs commented on #3137
@kbarnhart I would be happy to review it. Thanks for the invite.

[2021-04-08 21:55] RMeli commented on #3050
`kallisto` is a tool to calculate a series of useful atomic features. The library makes a series of published methods (detailed in the paper and the documentation, with reference) easily available in an easy to install Python package that can be used as a library or as standalone tool via a convenient CLI.

The code is well written, relatively easy to follow and well tested. I recommend publicatio

[2021-04-08 22:00] RMeli commented on #3050
@whedon set v1.0.7 as version

[2021-04-08 22:00] whedon commented on #3050
I'm sorry @RMeli, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-04-08 22:07] Sbozzolo commented on #3099
I added links to the examples in more places (e.g., the help section, at the bottom of the tutorials, in the opening of the readme), and expanded the section in the readme. (commit https://github.com/Sbozzolo/kuibit/commit/858bdf9e5f0526d72db5ba393ac393607131209b). Hopefully this helps.

[2021-04-08 22:22] seisman commented on #2696
I reviewed the original v0.1.0 version. It's good for me.

[2021-04-08 22:39] elbeejay commented on #3137
@kbarnhart I'm happy to review this with the caveat that I don't know how to use R (yet), so I won't be able to test the `rgee` R-compatibility of this package.

[2021-04-08 22:43] mbobra commented on #2964
@whedon remove @munkm as reviewer

[2021-04-08 22:43] whedon commented on #2964
OK, @munkm is no longer a reviewer

[2021-04-08 23:50] pikarpov-LANL commented on #3146
@dfm

1. Done
2. Done
3. I think that my Introduction served as a Statement of Need, hence I renamed it to the latter. However, if you think it is too lengthy, I will be happy to edit it down. Let me know.

[2021-04-09 01:28] mengaldo commented on #2862
@eloisabentivegna Thank you! Note that as I pointed out in a comment earlier, I also would like to add Romit Maulik as an author. I am going to make the changes above and come back to you shortly.

[2021-04-09 01:50] mengaldo commented on #2862
@whedon generate pdf from branch papers/JOSS

[2021-04-09 01:50] whedon commented on #2862
[code]

[2021-04-09 01:52] whedon commented on #2862
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: :point_left:

[2021-04-09 01:56] mengaldo commented on #2862
@whedon generate pdf from branch papers/JOSS

[2021-04-09 01:56] whedon commented on #2862
[code]

[2021-04-09 01:57] whedon commented on #2862
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: :point_left:

[2021-04-09 02:02] mengaldo commented on #2862
@whedon generate pdf from branch papers/JOSS

[2021-04-09 02:02] whedon commented on #2862
[code]

[2021-04-09 02:04] whedon commented on #2862
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: :point_left:

[2021-04-09 03:00] mengaldo commented on #2862
@whedon generate pdf from branch papers/JOSS

[2021-04-09 03:00] whedon commented on #2862
[code]

[2021-04-09 03:02] whedon commented on #2862
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: :point_left:

[2021-04-09 06:08] ThomasLecocq commented on #2696
I can't check the boxes above, but I have no further remarks other than the citation for Pandas seem buggy in the latest rendered PDF. Other than that, it's good to go

[2021-04-09 06:17] f3rmion commented on #3050
Hi @RMeli, Hi @Sulstice,

thanks for your great reviews! I think that ``kallisto`` has been drastically improved since submission. It was fun to incorporate your suggestions accordingly.

Good points, an API documentation will follow in the near future. NetworkX looks interesting (will have a look into it).

@richardjgowers All points have been checked out :)

[2021-04-09 06:54] cMadan commented on #2839
@nicholst, thank you, that's great!

The reviewer guide is here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. When the review is started (moments from now), you'll have a checklist of what you're supposed to assess in the work--a bit different than with other journals since we're reviewing software, but same spirit of giving feedback and making sure it meets set expectations. Th

[2021-04-09 06:54] cMadan commented on #2839
@whedon add @nicholst as reviewer

[2021-04-09 06:54] whedon commented on #2839
OK, @nicholst is now a reviewer

[2021-04-09 06:55] cMadan commented on #2839
@0todd0000, it's been awhile, but hopefully you are still able to review this as well. I am going to start the review now, but do let me know if your availability has changed. You may also want to see the reviewer guidance I just commented above.

[2021-04-09 06:56] cMadan commented on #2839
@whedon start review

[2021-04-09 06:56] whedon opened #3159 "[REVIEW]: fctSnPM: Factorial ANOVA and post-hoc tests for Statistical nonParametric Mapping in MATLAB"
**Submitting author:** @tramarobin (<a href="http://orcid.org/0000-0001-6807-0505">Robin Trama</a>)
**Repository:** <a href="https://github.com/tramarobin/fctSnPM" target ="_blank">https://github.com/tramarobin/fctSnPM</a>
**Version:** v2.0
**Editor:** @cMadan
**Reviewer:** @0todd0000, @nicholst
**Archive:** <a href="https://doi.org/10.5281/zenodo.5101107" target="_blank">10.5281/zenodo.5101107</a

[2021-04-09 06:56] whedon commented on #2839
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3159.

[2021-04-09 06:56] #2839 closed

[2021-04-09 06:56] whedon commented on #3159
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @0todd0000, @nicholst it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-04-09 06:57] whedon commented on #3159
[code]

[2021-04-09 06:57] whedon commented on #3159
[code]

[2021-04-09 06:58] whedon commented on #3159
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03159/joss.03159/10.21105.joss.03159.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03159/joss.03159/10.21105.joss.03159.pdf) :page_facing_up: :point_left:

[2021-04-09 07:16] vissarion commented on #3092
Thanks. I am checking the metadata of the archive and the list of authors is not the same as in the submitted paper. Could you please update?

[2021-04-09 07:24] hugoledoux commented on #3113
@whedon assign @hugoledoux as reviewer

[2021-04-09 07:24] whedon commented on #3113
You need to assign an editor first.

[2021-04-09 07:25] hugoledoux commented on #3113
@whedon assign @hugoledoux as editor

[2021-04-09 07:25] whedon commented on #3113
OK, the editor is @hugoledoux

[2021-04-09 09:10] aghaynes commented on #3118
FYI, the package has been accepted by CRAN (version 0.2.3).

[2021-04-09 09:15] danielskatz commented on #2696
@whedon re-invite @ThomasLecocq as reviewer

[2021-04-09 09:15] whedon commented on #2696
OK, the reviewer has been re-invited.

@thomaslecocq please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-04-09 09:17] danielskatz commented on #2696
This should let you check the boxes

[2021-04-09 09:27] ThomasLecocq commented on #2696
@whedon generate pdf

[2021-04-09 09:28] whedon commented on #2696
PDF failed to compile for issue #2696 with the following error:
[code]

[2021-04-09 09:28] ThomasLecocq commented on #2696
All 🟢 for me, just the missing Pandas citation in the PDF available above.

[2021-04-09 10:06] stschiff commented on #3092
Hi all. I have just created an OSF account and I see myself being listed. Seems all good.

[2021-04-09 10:07] stschiff commented on #3092
And thanks to @vissarion and @corybrunson for your careful review!

[2021-04-09 10:29] martinju commented on #3139
@mikldk I am trying to start the review, but I am not able to tick off the markers in the checklist. Also when I try to click the "accept invitation" link, it says it is expired. I am quite sure I did click that link when first being assigned as a reviewer, so I am not sure it if is related. Please let me know how to proceed.

[2021-04-09 10:34] mikldk commented on #3139
@whedon re-invite @martinju as reviewer

[2021-04-09 10:34] whedon commented on #3139
OK, the reviewer has been re-invited.

@martinju please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-04-09 10:44] bonh commented on #3096
@melissawm I hope that you are not waiting for my reply - I reacted with a thumps up right after your message (and proposed to withdraw in my message above yours). Just asking because this review thread lingers around in my todo list without anything happening.

[2021-04-09 11:04] corybrunson commented on #3092
@stschiff and to @fabian-s! The review credits are at the top of the thread in case you missed them there.

[2021-04-09 11:05] jamesdamillington commented on #3065
@JoelForamitti @sbenthall I've completed my review at [JOSS Review (JM)](https://github.com/JoelForamitti/agentpy/issues/13) and conditionally accept the submission depending on the issues highlighted there. Looks good! Any queries on my comments, just let me know.

[2021-04-09 11:06] vissarion commented on #3092
@whedon set https://doi.org/10.17605/OSF.IO/AGMD6 as archive

[2021-04-09 11:06] whedon commented on #3092
OK. <a href="https://doi.org/10.17605/OSF.IO/AGMD6" target="_blank">10.17605/OSF.IO/AGMD6</a> is the archive.

[2021-04-09 11:06] vissarion commented on #3092
@whedon set 1.0.0 as version

[2021-04-09 11:06] whedon commented on #3092
OK. 1.0.0 is the version.

[2021-04-09 11:07] vissarion commented on #3092
@whedon accept

[2021-04-09 11:07] whedon commented on #3092
[code]

[2021-04-09 11:08] whedon commented on #3092
[code]

[2021-04-09 11:08] whedon commented on #3092
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2214

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2214, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-09 11:14] vissarion commented on #3092
Thanks @stschiff and @nevrome for your cooperation here!

This is an interesting use case of computational geometry to archeology and I believe the package will be of use by practitioners on that or related fields.

I would like to thank again @corybrunson and @fabian-s for the careful reviews!

I have already recommended acceptance.

At this point, some EiC will take over to make final checks and

[2021-04-09 11:19] nevrome commented on #3092
Excellent! Thank you for managing this whole process, @vissarion!

[2021-04-09 12:31] melissawm commented on #3096
Ah - this has gotten me a few times, indeed I do not get a notification when that happens. Thanks for the heads up, @bonh !

[2021-04-09 12:38] bonh commented on #3096
Ohhh no, I wasn’t aware of that!

[2021-04-09 12:40] melissawm commented on #2974
Hello, @geoffreyp , @chkoar and @sjvrijn ! I'm just checking if you need anything from me. I see the issues being filed in the main repo so I assume the review is going well, let me know if there's anything I can do to help. Cheers!

[2021-04-09 12:49] melissawm commented on #3096
Hello, @iljah! Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

You can check a bit of the history of this review here in the thread, let me know if you have any questions or need more information.

[2021-04-09 12:55] jGaboardi commented on #2826
I'll go ahead and close the issues that @martibosch opened as we are "done" with them. If I am jumping the gun here, I'm happy to reopen.

[#574](https://github.com/pysal/spaghetti/issues/574), [#575](https://github.com/pysal/spaghetti/issues/575), [#576](https://github.com/pysal/spaghetti/issues/576), [#577](https://github.com/pysal/spaghetti/issues/577), [#578](https://github.com/pysal/spaghetti

[2021-04-09 13:02] danielskatz commented on #3092
@nevrome - As AEiC on duty currently, I've proofread the paper, and have made some suggestions in https://github.com/nevrome/bleiglas/pull/20  Please merge this or let me know what you disagree with, and we can proceed to acceptance and publication.

[2021-04-09 13:05] struckma commented on #3093
Dear @borishejblum,

thank you for your hints so far (in https://github.com/openjournals/joss-reviews/issues/3093#issuecomment-804922786). We have addressed your point about the section heading (Statement of Need), thank you for the hint. Regarding the license-disclaimer, indeed, this is because of CRAN.

I'll trigger a rebuild now.

All, have a nice weekend, thank you so far.

@whedon generate pd

[2021-04-09 13:07] struckma commented on #3093
@whedon generate pdf from branch JOSS

[2021-04-09 13:07] whedon commented on #3093
[code]

[2021-04-09 13:07] danielskatz commented on #3093
as you've discovered, commands to @whedon need to be the first line of a comment

[2021-04-09 13:07] whedon commented on #3093
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03093/joss.03093/10.21105.joss.03093.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03093/joss.03093/10.21105.joss.03093.pdf) :page_facing_up: :point_left:

[2021-04-09 13:11] fduchatea commented on #2805
@nuest Thank you for the feedback !
We have added a sentence in the README to clarify installation ("both cloned repositories should be placed into a new (empty) directory").
We agree that Predihood is more targeted towards non-IT researchers (e.g., in social sciences, history, biology). We have added a sentence in README introduction ("It makes it very easy, even for non programmers, to use predi

[2021-04-09 13:11] danielskatz commented on #3092
@whedon accept

[2021-04-09 13:11] whedon commented on #3092
[code]

[2021-04-09 13:12] whedon commented on #3092
[code]

[2021-04-09 13:12] whedon commented on #3092
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2215

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2215, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-09 13:15] danielskatz commented on #3092
👋 @openjournals/dev - this is ready for final acceptance, except that there's a reference that carries into the margin and perhaps off the page.  Any idea how to fix this?

[2021-04-09 13:25] cMadan commented on #2951
Apologies, I can't handle another submission at this time.

[2021-04-09 13:29] danielskatz commented on #3040
👋 @yarongvili1 - note that this is just waiting on some small things from you, then we can move ahead to acceptance and publishing

[2021-04-09 13:30] whedon commented on #3040
[code]

[2021-04-09 13:30] whedon commented on #3040
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03040/joss.03040/10.21105.joss.03040.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03040/joss.03040/10.21105.joss.03040.pdf) :page_facing_up: :point_left:

[2021-04-09 13:32] danielskatz commented on #3040
@whedon check references from branch joss-paper

[2021-04-09 13:32] whedon commented on #3040
[code]

[2021-04-09 13:33] danielskatz commented on #3040
Some minor proofreading changes for the paper text are in https://github.com/gvilitechltd/LibSWIFFT/pull/35

[2021-04-09 13:33] whedon commented on #3040
[code]

[2021-04-09 13:34] whedon opened #3160 "[PRE REVIEW]: microViz: an R package for microbiome data visualization and statistics"
**Submitting author:** @david-barnett (<a href="http://orcid.org/0000-0003-1961-7206">David Barnett</a>)
**Repository:** <a href="https://github.com/david-barnett/microViz" target ="_blank">https://github.com/david-barnett/microViz</a>
**Version:** 0.7.0
**Editor:** @lpantano
**Reviewers:** @marypiper
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-04-09 13:34] whedon commented on #3160
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-09 13:34] whedon opened #3161 "[PRE REVIEW]: Eir: A Python Package for Epidemic Simulation"
**Submitting author:** @mjacob1002 (<a href="http://orcid.org/0000-0001-5513-432X">Mathew Jacob</a>)
**Repository:** <a href="https://github.com/mjacob1002/Eir" target ="_blank">https://github.com/mjacob1002/Eir</a>
**Version:** v 0.1.20
**Editor:** @will-rowe
**Reviewers:** @DARSakthi, @joeweaver
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-04-09 13:34] whedon commented on #3161
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-09 13:34] whedon opened #3162 "[PRE REVIEW]: Merly.jl: Web Framework in Julia"
**Submitting author:** @neomatrixcode (<a href="http://orcid.org/0000-0002-4056-1895">JOSUE ACEVEDO MALDONADO</a>)
**Repository:** <a href="https://github.com/neomatrixcode/Merly.jl" target ="_blank">https://github.com/neomatrixcode/Merly.jl</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-04-09 13:34] whedon commented on #3162
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-09 13:35] whedon commented on #3160
[code]

[2021-04-09 13:35] whedon commented on #3161
[code]

[2021-04-09 13:35] whedon commented on #3160
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03160/joss.03160/10.21105.joss.03160.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03160/joss.03160/10.21105.joss.03160.pdf) :page_facing_up: :point_left:

[2021-04-09 13:35] whedon commented on #3160
[code]

[2021-04-09 13:36] whedon commented on #3161
[code]

[2021-04-09 13:36] whedon commented on #3162
PDF failed to compile for issue #3162 with the following error:
[code]

[2021-04-09 13:36] whedon commented on #3161
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03161/joss.03161/10.21105.joss.03161.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03161/joss.03161/10.21105.joss.03161.pdf) :page_facing_up: :point_left:

[2021-04-09 13:37] danielskatz commented on #3160
👋 @lpantano - are you able to edit this submission for JOSS?

[2021-04-09 13:37] danielskatz commented on #3160
@whedon invite @lpantano as editor

[2021-04-09 13:37] whedon commented on #3160
@lpantano has been invited to edit this submission.

[2021-04-09 13:38] danielskatz commented on #3160
👋 @david-barnett - You could work on the possibly missing DOI that whedon suggests, but note that this may be incorrect, and remove the prefix from the other. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to the be the fi

[2021-04-09 13:39] danielskatz commented on #3162
@whedon generate pdf from branch joss-paper

[2021-04-09 13:39] whedon commented on #3162
[code]

[2021-04-09 13:40] whedon commented on #3162
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03162/joss.03162/10.21105.joss.03162.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03162/joss.03162/10.21105.joss.03162.pdf) :page_facing_up: :point_left:

[2021-04-09 13:40] danielskatz commented on #3162
@whedon check references from branch joss-paper

[2021-04-09 13:40] whedon commented on #3162
[code]

[2021-04-09 13:40] whedon commented on #3162
[code]

[2021-04-09 13:41] yarongvili1 commented on #3040
Thanks, @danielskatz. I have this in my queue and expect to get to it in a couple of days.

[2021-04-09 13:42] danielskatz commented on #3150
👋 @meg-simula - would you be able to edit this submission?

[2021-04-09 13:42] danielskatz commented on #3150
@whedon invite @meg-simula as editor

[2021-04-09 13:42] whedon commented on #3150
@meg-simula has been invited to edit this submission.

[2021-04-09 13:43] danielskatz commented on #3161
@will-rowe - would you be able to edit this JOSS submission?

[2021-04-09 13:43] danielskatz commented on #3161
@whedon invite @will-rowe as editor

[2021-04-09 13:43] whedon commented on #3161
@will-rowe has been invited to edit this submission.

[2021-04-09 13:46] danielskatz commented on #3162
👋 @neomatrixcode - thanks for your submission.  The editors will now discuss if it meets the [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel

[2021-04-09 13:46] danielskatz commented on #3162
@whedon query scope

[2021-04-09 13:46] whedon commented on #3162
Submission flagged for editorial review.

[2021-04-09 13:51] david-barnett commented on #3160
@whedon check references

[2021-04-09 13:51] whedon commented on #3160
[code]

[2021-04-09 13:52] david-barnett commented on #3160
@whedon generate pdf

[2021-04-09 13:52] kthyng commented on #3157
Hi! Yes I can edit this. I'll come back to it later today or next week.

[2021-04-09 13:52] kthyng commented on #3157
@whedon assign me as editor

[2021-04-09 13:52] whedon commented on #3157
OK, the editor is @kthyng

[2021-04-09 13:53] whedon commented on #3160
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03160/joss.03160/10.21105.joss.03160.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03160/joss.03160/10.21105.joss.03160.pdf) :page_facing_up: :point_left:

[2021-04-09 13:53] neomatrixcode commented on #3162
@danielskatz thank you very much for your help.

[2021-04-09 14:01] david-barnett commented on #3160
Regarding potential reviewers, perhaps:
kelly-sovacool (from the joss_reviewers spreadsheet)
+ joey711 / mikemc / antagomir ?

[2021-04-09 14:53] labarba commented on #3145
hi @berenger-eu 👋  — first, thank you for being a reviewer!
Answering your question about the author list: the user `bloodysin` was a master's student with Rio a while back, and even though you see a bunch of commits, this was all hacking that eventually got removed, or in other words, he did not contribute meaningfully to the final product being submitted for JOSS.

Regarding your questions on GP

[2021-04-09 15:20] pjbouchet commented on #3094
I don't have any specific comments, other than the above. The app is well designed and works well when I tested it online. A couple of thoughts and suggestions for future improvements:
- I wonder about the sustainability of the workflow given the need to have custom scripts written by the curator for each survey team. In my experience, "allowing any team to submit data in nearly any format" (as st

[2021-04-09 15:24] pjbouchet commented on #3094
You may want to add a sentence to the paper indicating the lack of equivalent software in existence.

[2021-04-09 15:25] dfm commented on #3146
@whedon generate pdf from branch joss

[2021-04-09 15:25] whedon commented on #3146
[code]

[2021-04-09 15:26] whedon commented on #3146
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03146/joss.03146/10.21105.joss.03146.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03146/joss.03146/10.21105.joss.03146.pdf) :page_facing_up: :point_left:

[2021-04-09 15:59] strengejacke commented on #3139
@whedon generate pdf

[2021-04-09 16:00] whedon commented on #3139
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03139/joss.03139/10.21105.joss.03139.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03139/joss.03139/10.21105.joss.03139.pdf) :page_facing_up: :point_left:

[2021-04-09 16:01] strengejacke commented on #3139
@gjo11 All relevant update to packages that were only available on GitHub are now accepted on CRAN, thus you should be able to reproduce all outputs from the paper with both the CRAN and GitHub versions. I re-generated the PDF proof with the changes you suggested, so the most recent draft was just generated by whedon.

[2021-04-09 16:08] kthyng commented on #3102
(just pinged joferkington by email)

[2021-04-09 16:14] kthyng commented on #3128
(pinged both potential reviewers by email)

[2021-04-09 16:17] kthyng commented on #3157
Hi @jhollist! Would you be interested in reviewing this submission for JOSS? We are asking for reviews to be completed within about 4-6 weeks but would suggest you start earlier than that for this iterative process. As a refresher, you can see reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-04-09 16:19] kthyng commented on #3157
@jhollist eep! I just saw that your preferred language is R and this package is in Python. Sorry for the confusion and please disregard this invitation!

[2021-04-09 16:33] tkonolige commented on #3125
@adi3 DOIs have been added.

[2021-04-09 17:13] d-chambers commented on #2696
Ok the pdf now compiles and I think the citation looks correct.

@whedon generate pdf

[2021-04-09 17:26] danielskatz commented on #2696
@whedon generate pdf

(whedon commands need to be on the first line of a comment)

[2021-04-09 17:26] whedon commented on #2696
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02696/joss.02696/10.21105.joss.02696.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02696/joss.02696/10.21105.joss.02696.pdf) :page_facing_up: :point_left:

[2021-04-09 17:29] whedon opened #3163 "[PRE REVIEW]: FIRESONG: A python package to simulate populations of extragalactic neutrino sources"
**Submitting author:** @ChrisCFTung (<a href="http://orcid.org/0000-0001-6920-7841">Chun Fai Tung</a>)
**Repository:** <a href="https://github.com/icecube/FIRESONG" target ="_blank">https://github.com/icecube/FIRESONG</a>
**Version:** v1.6
**Editor:** @eloisabentivegna
**Reviewers:** @JostMigenda, @rafaelab
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-04-09 17:29] whedon commented on #3163
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-09 17:29] whedon opened #3164 "[PRE REVIEW]: yaml2sbml: Human-readable and -writable specification of ODE models and their conversion to SBML"
**Submitting author:** @jvanhoefer (<a href="http://orcid.org/0000-0002-3451-1701">Jakob Vanhoefer</a>)
**Repository:** <a href="https://github.com/yaml2sbml-dev/yaml2sbml" target ="_blank">https://github.com/yaml2sbml-dev/yaml2sbml</a>
**Version:** v0.2.2
**Editor:** @kellyrowland
**Reviewers:** @SirSharpest, @marouenbg
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warn

[2021-04-09 17:29] whedon commented on #3164
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-09 17:29] whedon commented on #3163
[code]

[2021-04-09 17:30] whedon commented on #3164
[code]

[2021-04-09 17:30] whedon opened #3165 "[PRE REVIEW]: popsynth: A generic astrophysical population synthesis framework"
**Submitting author:** @grburgess (<a href="http://orcid.org/0000-0003-3345-9515">J. Michael Burgess</a>)
**Repository:** <a href="https://github.com/grburgess/popsynth" target ="_blank">https://github.com/grburgess/popsynth</a>
**Version:** v1.0.1
**Editor:** @xuanxu
**Reviewers:** @HeloiseS, @warrickball
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-04-09 17:30] whedon commented on #3165
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-09 17:30] whedon commented on #3163
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03163/joss.03163/10.21105.joss.03163.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03163/joss.03163/10.21105.joss.03163.pdf) :page_facing_up: :point_left:

[2021-04-09 17:30] whedon commented on #3164
PDF failed to compile for issue #3164 with the following error:
[code]

[2021-04-09 17:30] whedon commented on #3165
[code]

[2021-04-09 17:31] whedon commented on #3165
[code]

[2021-04-09 17:31] whedon commented on #3165
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03165/joss.03165/10.21105.joss.03165.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03165/joss.03165/10.21105.joss.03165.pdf) :page_facing_up: :point_left:

[2021-04-09 17:32] whedon commented on #3163
[code]

[2021-04-09 17:34] danielskatz commented on #3165
👋 @xuanxu - are you able to edit this submission?

[2021-04-09 17:35] danielskatz commented on #3165
@whedon invite @xuanxu as editor

[2021-04-09 17:35] whedon commented on #3165
@xuanxu has been invited to edit this submission.

[2021-04-09 17:37] danielskatz commented on #3164
@jvanhoefer - where is your paper?  I don't see a paper.md (and paper.bib) in the repo, or in a branch.

[2021-04-09 17:40] danielskatz commented on #3163
👋 @ChrisCFTung - thanks for your submission. Due to a lack of suitable and available editors, I'm going to put this on our waitlist for now.

[2021-04-09 17:41] danielskatz commented on #3163
In the meantime, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2021-04-09 17:49] evanleeturner commented on #3128
I have agreed to review this submission!  -evan

[2021-04-09 17:51] fboehm commented on #3149
@whedon assign @DrMattG and @crvernon as reviewers

[2021-04-09 17:51] whedon commented on #3149
OK, @DrMattG and @crvernon is now a reviewer

[2021-04-09 17:51] galessiorob commented on #2805
Thanks for adding those final suggestions @nuest and @fduchatea - I agree that you can note the CI workflow as future improvements.

@jdalzatec could you please update your checklist? I believe this is the last bit we need to complete to get this paper published.

[2021-04-09 17:53] fboehm commented on #3149
@whedon start review

[2021-04-09 17:53] whedon opened #3166 "[REVIEW]: datasailr - An R Package for Row by Row Data Processing, Using DataSailr Script"
**Submitting author:** @niceume (<a href="http://orcid.org/0000-0001-7015-621X">Toshihiro Umehara</a>)
**Repository:** <a href="https://github.com/niceume/datasailr" target ="_blank">https://github.com/niceume/datasailr</a>
**Version:** joss0.8.8-3
**Editor:** @fboehm
**Reviewer:** @DrMattG, @crvernon
**Archive:** <a href="https://doi.org/10.5281/zenodo.4732788" target="_blank">10.5281/zenodo.4732

[2021-04-09 17:53] whedon commented on #3149
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3166.

[2021-04-09 17:53] #3149 closed

[2021-04-09 17:53] whedon commented on #3166
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @DrMattG and @crvernon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-04-09 17:53] whedon commented on #3166
[code]

[2021-04-09 17:53] whedon commented on #3166
PDF failed to compile for issue #3166 with the following error:
[code]

[2021-04-09 17:56] fboehm commented on #3166
@whedon generate pdf from branch joss_submission

[2021-04-09 17:56] whedon commented on #3166
[code]

[2021-04-09 17:56] whedon commented on #3166
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: :point_left:

[2021-04-09 18:33] mbobra commented on #2964
@whedon add @ g4brielvs as reviewer

[2021-04-09 18:34] whedon commented on #2964
OK, @ g4brielvs is now a reviewer

[2021-04-09 18:34] mbobra commented on #2964
@whedon add @g4brielvs as reviewer

[2021-04-09 18:34] whedon commented on #2964
OK, @g4brielvs is now a reviewer

[2021-04-09 18:36] mbobra commented on #2964
@whedon generate pdf

[2021-04-09 18:36] whedon commented on #2964
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02964/joss.02964/10.21105.joss.02964.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02964/joss.02964/10.21105.joss.02964.pdf) :page_facing_up: :point_left:

[2021-04-09 18:37] mbobra commented on #2964
👋  @g4brielvs Thank you so much for agreeing to review this submission!

Here's what you need:
* Here is the software repository: https://github.com/julia-wrobel/registr
* The paper describing the software is linked in Whedon's comment above ⬆️
* Here is a detailed description of the review criteria: https://joss.readthedocs.io/en/latest/review_criteria.html#review-items

Please check off the tick

[2021-04-09 18:39] lpantano commented on #3160
@whedon assign me as editor

[2021-04-09 18:39] whedon commented on #3160
OK, the editor is @lpantano

[2021-04-09 19:34] jvanhoefer commented on #3164
Oh, I apologize, it is in this repository

https://github.com/yaml2sbml-dev/paper

(I gave the link to the toolbox and not to the paper...)

[2021-04-09 19:59] lukapecnik commented on #2949
Hello @arfon and @sara-02! I hope you are well. We were wondering whether this review is going to be completed shortly. The authors would really like to use the JOSS paper as the base for further research in this research area.

We are looking forward to hearing from you soon.

Best regards

[2021-04-09 22:46] Yurlungur commented on #3099
@Sbozzolo I think I've finished my review. I found a few very minor things. Mainly, when installing from poetry for development, I got hung up on a couple related details. The installation appears to be a virtualenv in the source directory, so I need to call `poetry shell` from within that directory, and python imports only work from there. I submit a PR to update the `README` [here](https://githu

[2021-04-09 22:51] patrickcgray commented on #3137
I'm also happy to help review this!

[2021-04-09 23:26] JonnyTran commented on #3073
Hello guys,

I'm about 80% finished with my review process, and below are some of the comments as I've gone through using the `mikropml` package.

---
*Review Comments*
When running the Introduction vignettes on Ubuntu OS, it seems everything works as expected without bugs, which shows it is a well-tested, quality piece of software.

When testing `preprocess_data()` and `run_ml()` on a larger data

[2021-04-10 00:40] Sbozzolo commented on #3099
Thank you very much for your comments, @Yurlungur!

As for `poetry`. When you are in a `poetry shell`, the imports should work anywhere.  When you are not in a `poetry shell`, the imports will work only in the source directory.

I realize that people might not be familiar with `poetry`, and I will definitely add more detailed instruction if I see that this is a point of struggle for (prospective)

[2021-04-10 00:49] Yurlungur commented on #3099
Hmm. I think I tried importing kuibit from within the poetry shell but in a different directory and it didn't work. But maybe I'm mistaken.

[2021-04-10 00:54] Sbozzolo commented on #3099
It is true that you have to run `poetry shell` from the directory where the code lives, but, once you have done it, you should be able to access `kuibit` from anywhere. `poetry shell` essentially activates a virtualenv.

[2021-04-10 01:01] Yurlungur commented on #3099
Got it. I must have made a mistake when I tried before.

[2021-04-10 02:14] mengaldo commented on #2862
@eloisabentivegna All corrections you suggested done + DOI added. I think that it is good to go on my end.

[2021-04-10 02:34] majensen commented on #3118
@aghaynes I have only two minor issues:
- proof line number 15 + 86: Can you fix the reference so that it formats "Wu, V. Q., Chow, S.-C., ... " ?
- proof line number 69: you want the possessive "its", rather than contraction "it's".
After those tweaks, I say let's make the archive. Please report the resulting DOI here. Thanks!

[2021-04-10 02:35] majensen commented on #3135
You are an awesome guy @DavidNickle

[2021-04-10 02:36] majensen commented on #3135
@whedon assign @DavidNickle as reviewer

[2021-04-10 02:36] whedon commented on #3135
OK, @DavidNickle is now a reviewer

[2021-04-10 02:43] majensen commented on #2979
@whedon generate pdf from branch joss

[2021-04-10 02:43] whedon commented on #2979
[code]

[2021-04-10 02:44] whedon commented on #2979
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02979/joss.02979/10.21105.joss.02979.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02979/joss.02979/10.21105.joss.02979.pdf) :page_facing_up: :point_left:

[2021-04-10 02:49] majensen commented on #2979
Ok @Borchardt, last thing we need from you is an open archive of the code submitted to Zenodo or similar. There is a little Zenodo tutorial at [this link](https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729). JOSS prefers that the archive title match the paper title, and the archive authors match the paper authors.
Once you have this, can you report the version number a

[2021-04-10 03:49] Borchardt commented on #2979
Awesome! I'll get on this as soon as I've merged the outstanding PR for https://github.com/focolab/minimo/issues/36.

Just double checking: there's no need for me to merge code changes from mainline into our (now outdated) joss branch, correct?

[2021-04-10 05:14] majensen commented on #2979
Correct

[2021-04-10 07:39] Borchardt commented on #2979
Okay, done! Thanks for the tutorial link; very helpful!

DOI: 10.5281/zenodo.4678098
Version number: 44b306957691505bc4f95cdb0721c7e1b03a9e7d

[2021-04-10 08:14] arfon commented on #3092
@danielskatz - this PR should fix the rendering issue: https://github.com/nevrome/bleiglas/pull/21

@nevrome - could you please merge this?

[2021-04-10 09:04] nevrome commented on #3092
Done!

[2021-04-10 09:09] arfon commented on #3092
@whedon accept

[2021-04-10 09:09] whedon commented on #3092
[code]

[2021-04-10 09:09] whedon commented on #3092
[code]

[2021-04-10 09:10] whedon commented on #3092
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2216

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2216, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-10 09:23] arfon commented on #3092
@whedon accept deposit=true

[2021-04-10 09:23] whedon commented on #3092
[code]

[2021-04-10 09:24] whedon commented on #3092
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1380813906231328769) 👈 🐦🐦🐦

[2021-04-10 09:24] whedon commented on #3092
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2217
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03092](https://doi.org/10.21105/joss.03092)
2. If everything look

[2021-04-10 10:40] JoelForamitti commented on #3065
Thanks a lot @jamesdamillington. I will wait for the second review from @martibosch as well as a response from @sbenthall on the 'statement of need' section before starting to work on a revision!

[2021-04-10 10:43] arfon commented on #3092
@corybrunson , @fabian-s – many thanks for your reviews here and to @vissarion for editing this submission. JOSS relies upon the volunteer efforts of people like you, and we simply wouldn't be able to do this without you ✨

@nevrome – your papers is now accepted and published in JOSS :zap::rocket::boom:

[2021-04-10 10:43] #3092 closed

[2021-04-10 10:43] whedon commented on #3092
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03092/status.svg)](https://doi.org/10.21105/joss.03092)

**We need your help!**

Journal of Open Source Softwa

[2021-04-10 12:09] jvanhoefer commented on #3164
Regarding possible reviewers: There has been previously an article on a python based software on SBML at this journal. This paper was reviewed by marouenbg and SirSharpest.

Further from your list, I could imagine, that e.g. artgoldberg and dawbarton are a good fit.

[2021-04-10 12:37] fboehm commented on #3063
@whedon list reviewers

[2021-04-10 12:37] whedon commented on #3063
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-04-10 13:21] hansenjohnson commented on #3094
Thank you very much for your detailed feedback, @pjbouchet, it is much appreciated!
@KristinaRiemer, is it ok for me to start addressing the suggested changes, or should I wait until all reviews are complete?

[2021-04-10 14:17] fboehm commented on #3063
@whedon assign @g4brielvs as reviewer

[2021-04-10 14:17] whedon commented on #3063
OK, @g4brielvs is now a reviewer

[2021-04-10 14:18] joferkington commented on #3102
@kthyng - Sorry for not noticing this earlier! I'd be happy to review and should have time in the next week.

[2021-04-10 14:25] fboehm commented on #3063
@g4brielvs - I'm still seeking a second reviewer. Once we find one, we can begin the official review.

[2021-04-10 14:59] oliviaguest commented on #3106
I am happy to edit this, if it's not been assigned yet and at that stage. 😊

[2021-04-10 15:01] danielskatz commented on #3106
@whedon assign @oliviaguest as editor

Thanks!!

[2021-04-10 15:01] whedon commented on #3106
OK, the editor is @oliviaguest

[2021-04-10 15:27] rchew commented on #2908
@lorenanicole this is my first time as a reviewer for JOSS -- we're still waiting on getting a 2nd reviewer in order to move this into the `[REVIEW]` stage, right?  Just wanted to confirm I wasn't holding the process up.

[2021-04-10 15:42] oliviaguest commented on #3106
@whedon add @deep-introspection as reviewer

[2021-04-10 15:42] whedon commented on #3106
OK, @deep-introspection is now a reviewer

[2021-04-10 16:01] PeerHerholz commented on #3106
Thanks so much @oliviaguest!

[2021-04-10 16:06] ThomasLecocq commented on #2696
All good now!

[2021-04-10 17:09] yarongvili1 commented on #3040
Version tag v1.1.1
[DOI 10.5281/zenodo.4678576](https://zenodo.org/record/4678576#.YHHbO7DitPY)

[2021-04-10 17:11] danielskatz commented on #3040
@whedon set v1.1.1 as version

[2021-04-10 17:11] whedon commented on #3040
OK. v1.1.1 is the version.

[2021-04-10 17:11] danielskatz commented on #3040
@whedon set 10.5281/zenodo.4678576 as archive

[2021-04-10 17:11] whedon commented on #3040
OK. <a href="https://doi.org/10.5281/zenodo.4678576" target="_blank">10.5281/zenodo.4678576</a> is the archive.

[2021-04-10 17:11] danielskatz commented on #3040
@whedon accept

[2021-04-10 17:11] whedon commented on #3040
[code]

[2021-04-10 17:11] whedon commented on #3040
PDF failed to compile for issue #3040 with the following error:
[code]

[2021-04-10 17:12] danielskatz commented on #3040
@whedon accept from branch joss-paper

[2021-04-10 17:12] whedon commented on #3040
[code]

[2021-04-10 17:12] whedon commented on #3040
[code]

[2021-04-10 17:13] whedon commented on #3040
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2218

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2218, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-10 17:14] danielskatz commented on #3040
@whedon accept deposit=true from branch joss-paper

[2021-04-10 17:14] whedon commented on #3040
[code]

[2021-04-10 17:15] whedon commented on #3040
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1380932363178409988) 👈 🐦🐦🐦

[2021-04-10 17:15] whedon commented on #3040
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2219
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03040](https://doi.org/10.21105/joss.03040)
2. If everything look

[2021-04-10 17:26] danielskatz commented on #3040
Congratulations to @yarongvili1 (Yaron Gvili)!!

and thanks to @jarrah42 and @henrykironde for reviewing!

[2021-04-10 17:26] #3040 closed

[2021-04-10 17:26] whedon commented on #3040
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03040/status.svg)](https://doi.org/10.21105/joss.03040)

**We need your help!**

Journal of Open Source Softwa

[2021-04-10 17:29] danielskatz commented on #3123
@pibion - I'll go ahead and take this one

[2021-04-10 17:29] danielskatz commented on #3123
@whedon assign me as editor

[2021-04-10 17:29] whedon commented on #3123
OK, the editor is @danielskatz

[2021-04-10 17:34] danielskatz commented on #3123
👋 @arosen & @pzarabadip - would one or both of you be willing to review this submission for JOSS?

[2021-04-10 17:36] danielskatz commented on #3164
For JOSS, we need the paper and the software to be in the same repository, though if you need, the paper can be in a branch that doesn't gets merged. For most submissions, it's just in a paper or joss directory in the software repo.

[2021-04-10 17:47] pzarabadip commented on #3123
Hi @danielskatz I'd be happy to review this submission.

[2021-04-10 18:00] danielskatz commented on #3123
Thanks very much @pzarabadip  - I'll add you as a reviewer, but we won't actually start the review until we get at least one more reviewer as well

[2021-04-10 18:00] danielskatz commented on #3123
@whedon assign @pzarabadip as reviewer

[2021-04-10 18:00] whedon commented on #3123
OK, @pzarabadip is now a reviewer

[2021-04-10 18:14] gaelforget commented on #2813
@whedon generate pdf from branch josspaper

[2021-04-10 18:14] whedon commented on #2813
[code]

[2021-04-10 18:14] whedon commented on #2813
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: :point_left:

[2021-04-10 18:18] gaelforget commented on #2813
@whedon check references from branch josspaper

[2021-04-10 18:18] whedon commented on #2813
[code]

[2021-04-10 18:19] whedon commented on #2813
[code]

[2021-04-10 18:50] majensen commented on #2979
@whedon set 10.5281/zenodo.4678098 as archive

[2021-04-10 18:50] whedon commented on #2979
OK. <a href="https://doi.org/10.5281/zenodo.4678098" target="_blank">10.5281/zenodo.4678098</a> is the archive.

[2021-04-10 18:50] majensen commented on #2979
@whedon set 44b306957691505bc4f95cdb0721c7e1b03a9e7d as version

[2021-04-10 18:50] whedon commented on #2979
OK. 44b306957691505bc4f95cdb0721c7e1b03a9e7d is the version.

[2021-04-10 18:52] soodoku commented on #2908
@lorenanicole happy to review. i had planted a thumbs up to indicate that but realize that an explicit comment would have been better.

[2021-04-10 18:52] majensen commented on #2979
@whedon accept

[2021-04-10 18:52] whedon commented on #2979
[code]

[2021-04-10 18:53] whedon commented on #2979
PDF failed to compile for issue #2979 with the following error:
[code]

[2021-04-10 18:53] majensen commented on #2979
@whedon accept from branch joss

[2021-04-10 18:53] whedon commented on #2979
[code]

[2021-04-10 18:53] whedon commented on #2979
[code]

[2021-04-10 18:54] whedon commented on #2979
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2220

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2220, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-10 19:32] gaelforget commented on #2813
- Should be all set now on the references, I think -- unless there is a way, which I did not find, to remove parentheses around the year in e.g. `(Gaël Forget (2010), G. Forget et al. (2015), Gaël Forget (2018))`
- `Fortran` is now capitalized throughout
- I changed a few cosmetic details (mostly moving the plots to page 2) following a final pass on the paper

[2021-04-10 19:35] oliviaguest commented on #3106
@whedon add @chrisgorgo as reviewer

[2021-04-10 19:35] whedon commented on #3106
OK, @chrisgorgo is now a reviewer

[2021-04-10 19:35] gaelforget commented on #2813
Thanks for the very helpful directions

I would like version `v0.3.0`, which I released just before this post, to be associated with this submission.

The corresponding reference, with edited metadata, is

Gael Forget. (2021, April 10). IndividualDisplacements.jl : a Julia package to simulate and study particle displacements within the climate system (Version v0.3.0). Zenodo. http://doi.org/10.528

[2021-04-10 19:40] gaelforget commented on #2813
Hi @danielskatz

Sorry for the lag on my end. Please find above my recent updates / replies. Look forward to completing the process if we are all set.

Thank you in advance

[2021-04-10 19:45] gaelforget commented on #2813
Hi @kthyng

Thank you very much for the guidelines and all that you have done on this submission. Please find above responses to the issues listed. Thanks again

[2021-04-10 21:08] Nathaniel-Haines commented on #3041
@oliviaguest, given both issues I opened are now closed (https://github.com/sdparsons/splithalf/issues/9 and https://github.com/sdparsons/splithalf/issues/8), I am now signed off! I finalized the checklist, too.

Congrats on the package, @sdparsons! 🥳

[2021-04-10 22:29] 0todd0000 commented on #3159
@cMadan: I have just read the journal's COI policy. I am writing to disclose a potential COI.

The in-review repository [fctSPM](https://github.com/tramarobin/fctSPM) is an add-on for one of my own packages: [spm1dmatlab](https://github.com/0todd0000/spm1dmatlab), and in related [public documentation](https://spm1d.org/Addons.html) I have linked to the in-review [fctSPM](https://github.com/tramaro

[2021-04-10 23:00] D-K-E commented on #3115
@ankurankan Thanks for the detailed review. I pushed some changes to the paper according to your concerns.

Here is a list of changes in accordance with your comments:

---

## Summary

I added the phrase `PyGModels also implements several algorithms of interest on
LWF chain graphs, also known as mixed graphs.` to the summary hoping that it would underline the main contribution of this package to

[2021-04-11 01:52] gerudo7 commented on #3154
@whedon check references

[2021-04-11 01:53] whedon commented on #3154
[code]

[2021-04-11 01:54] gerudo7 commented on #3154
@whedon generate pdf

[2021-04-11 01:55] whedon commented on #3154
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03154/joss.03154/10.21105.joss.03154.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03154/joss.03154/10.21105.joss.03154.pdf) :page_facing_up: :point_left:

[2021-04-11 06:34] ankurankan commented on #3115
@whedon generate pdf

[2021-04-11 06:35] whedon commented on #3115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: :point_left:

[2021-04-11 07:43] arfon commented on #3071
@rodluger - yes, the AAS office should be asking me for the DOI of this paper. Do you have the DOIs for the AAS papers yet? We can cite them both in this paper, and link to one of them in the side-bar too using the metadata in the JOSS paper Markdown header (although you will have to pick just one of them for this).

[2021-04-11 07:51] arfon commented on #2949
Hi @lukapecnik, apologies this is taking a little longer than we might have hoped here. I've just followed up with @sara-02 to see when they might be able to complete their review by.

[2021-04-11 12:08] umutozel commented on #3121
Thank you, we felt like the project might fit in research category. Sorry for taking your time.

[2021-04-11 12:17] danielskatz commented on #3158
@whedon check references

[2021-04-11 12:18] whedon commented on #3158
[code]

[2021-04-11 14:14] lskatz commented on #2334
Hi @lpantano, sorry this last week was really busy and every day I tried to address this.  I spent some time making sure that the unit testing works because something broke on the GitHub Actions VM in the certificate authority.  I think I just have to make sure Zenodo and the DOI is correct and then I can check it all off.  I should be able to do this before Thursday of this week, hopefully much s

[2021-04-11 17:56] cMadan commented on #3159
@0todd0000, thank you for providing this information. I agree that this is not a problem here, but it's always better to have it noted/disclosed, especially since we do reviews publicly. Please go ahead and review the submission.

[2021-04-11 18:01] ankur-gupta commented on #2395
@whedon I am sorry for not replying previously. I have been quite unwell. I apologize but I don't think I'd be able to do this review for some time. I don't want to leave people waiting on me. I am really sorry. I can remove my name from list of reviewers for the coming month or more. I would like a chance to review once again once I am fully back to my regular heath.

[2021-04-11 18:01] whedon commented on #2395
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-04-11 18:02] ankur-gupta commented on #2395
@arfon I am sorry for not replying previously. I have been quite unwell. I apologize but I don't think I'd be able to do this review for some time. I don't want to leave people waiting on me. I am really sorry. I can remove my name from list of reviewers for the coming month or more. I would like a chance to review once again once I am fully back to my regular heath.

[2021-04-11 18:16] tramarobin commented on #3159
@cMadan I have the emails from our correspondence if needed.
@0todd0000, the mailbox was "consulting@spm1d.org" and not your personal one if it might help.

[2021-04-11 18:33] majensen commented on #3135
@rvosa would you be up for reviewing [this phylogenetic simulation library](#3135) for [JOSS](https://joss.theoj.org)? A guide for JOSS reviews are [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

It would be great to have you weigh in! Hope things are great for you --@majensen

[2021-04-11 18:47] meg-simula commented on #3150
@whedon assign @meg-simula as editor

[2021-04-11 18:47] whedon commented on #3150
OK, the editor is @meg-simula

[2021-04-11 19:33] eloisabentivegna commented on #2862
@whedon check references from branch papers/JOSS

[2021-04-11 19:33] whedon commented on #2862
[code]

[2021-04-11 19:34] whedon commented on #2862
[code]

[2021-04-11 19:36] eloisabentivegna commented on #2862
@mengaldo, could you fix the last DOI, and once you're done, generate a tagged release and code archive as per https://joss.readthedocs.io/en/latest/submitting.html#the-review-process?

Thanks!

[2021-04-11 19:53] yarongvili1 commented on #3040
Thanks again!

[2021-04-11 20:21] oliviaguest commented on #3041
Hey @rMassimiliano 👋  — have your points left to tick off the list been addressed? ☺️

[2021-04-11 21:10] eloisabentivegna commented on #3099
I am through with my review as well. The package is a very nice submission and, judging from the number of people I've heard over the years longing for a comprehensive viz package in Python for the ET, it fills a big gap. Thanks @Sbozzolo for the submission! I recommend acceptance.

The only reservation I have, perhaps along some of the things that @Yurlungur has expressed, is that `poetry` is a b

[2021-04-11 21:13] eloisabentivegna commented on #3099
(Changing hat.)

@Sbozzolo: congratulation on the accepted submission! 🎉

Can you provide a tagged release and code archive details (see https://joss.readthedocs.io/en/latest/submitting.html#the-review-process)?

[2021-04-11 21:14] eloisabentivegna commented on #3099
@whedon check references from branch joss-paper

[2021-04-11 21:14] whedon commented on #3099
[code]

[2021-04-11 21:15] whedon commented on #3099
[code]

[2021-04-11 21:16] eloisabentivegna commented on #3099
@sbozzolo: could you also take care of the missing DOI before creating the tagged release and archiving the code?

[2021-04-11 21:52] Sbozzolo commented on #3099
Thanks, @eloisabentivegna. I'll address your comment about `poetry`, I'll fix the DOI, and I'll follow your instruction in the next two hours or so.

[2021-04-11 23:17] Sbozzolo commented on #3099
@whedon check references from branch joss-paper

[2021-04-11 23:17] whedon commented on #3099
[code]

[2021-04-11 23:17] whedon commented on #3099
[code]

[2021-04-12 00:12] Sbozzolo commented on #3099
My intent is definitely to require `poetry` only for developers. I understand that this may be a barrier, but I think that `poetry` is getting a lot of traction in the Python community (and alternatives equivalent to `poetry` would still require contributors to learn a new tool). Depending on the developer's feedback, I will be happy to provide further instruction on how to use `poetry`. However,

[2021-04-12 01:02] kyleniemeyer commented on #2979
@whedon accept deposit=true from branch joss

[2021-04-12 01:02] whedon commented on #2979
[code]

[2021-04-12 01:04] whedon commented on #2979
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1381412867145138177) 👈 🐦🐦🐦

[2021-04-12 01:04] whedon commented on #2979
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2221
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02979](https://doi.org/10.21105/joss.02979)
2. If everything look

[2021-04-12 01:05] kyleniemeyer commented on #2979
Congrats @Borchardt on your article's publication in JOSS!

Many thanks to @bensonml and @junjun-zhang for reviewing this, and @majensen for editing.

[2021-04-12 01:05] #2979 closed

[2021-04-12 01:05] whedon commented on #2979
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02979/status.svg)](https://doi.org/10.21105/joss.02979)

**We need your help!**

Journal of Open Source Softwa