[2021-01-04 14:49] diehlpk commented on #2922
@whedon add @iammix as reviewer

[2021-01-04 14:49] whedon commented on #2922
OK, @iammix is now a reviewer

[2021-01-04 14:56] diehlpk commented on #2938
@whedon assign @diehlpk as editor

[2021-01-04 14:56] whedon commented on #2938
OK, the editor is @diehlpk

[2021-01-04 14:56] diehlpk commented on #2938
@arfon and @meg-simula Happy New Year! Sure, I can handle this one here.

[2021-01-04 14:57] diehlpk commented on #2938
@jedbrown Could you please recommend some potential reviewers?

`As a reviewer, COIs are your present or previous association with any authors of a submission: recent (past four years) collaborators in funded research or work that is published; and lifetime for the family members, business partners, and thesis student/advisor or mentor. In addition, your recent (past year) association with the sam

[2021-01-04 14:59] kbarnhart commented on #2937
@arfon its not an issue for me to take this as a 5th paper right now (one of the five is currently under revisions, and I'm going start handling the other three today as I'm now back from vacation). Not an issue to also handle this.

[2021-01-04 14:59] kbarnhart commented on #2937
@whedon assign @kbarnhart as editor

[2021-01-04 14:59] whedon commented on #2937
OK, the editor is @kbarnhart

[2021-01-04 14:59] timtroendle commented on #2914
Hi @kuadrat , I will start looking for reviewers for your submission. If you have any additional suggestions please let me know.

[2021-01-04 15:01] timtroendle commented on #2914
👋 @sabinomaggi, @jodemaey, @kgoebber would any of you be willing to review this submission for JOSS?

[2021-01-04 15:04] timtroendle commented on #2769
@sahilseth, can you please give us an update on where you stand with your review? We need to finish this first round of reviews. Can you please let me know how long this will take you?

[2021-01-04 15:07] iammix commented on #2922
I confirm that I do not have any COI with the authors.

[2021-01-04 15:09] corentin-dev commented on #2922
I confirm that I do not have any COI with the authors.

On 04/01/2021 16:08, Konstantinos Mixios wrote:

[2021-01-04 15:12] danielskatz commented on #2282
👋 @jcolomb - I hope you had a good break, and want to check in on this again so that we can get it done...

[2021-01-04 15:15] diehlpk commented on #2922
@whedon start review

[2021-01-04 15:15] whedon opened #2939 "[REVIEW]: iceFEM: A FreeFem package for wave induced ice-shelf vibrations"
**Submitting author:** @Balaje (<a href="http://orcid.org/0000-0001-6181-1876">Balaje K</a>)
**Repository:** <a href="https://github.com/Balaje/iceFem" target ="_blank">https://github.com/Balaje/iceFem</a>
**Version:** v1.0.0
**Editor:** @diehlpk
**Reviewer:** @corentin-dev, @iammix
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pande

[2021-01-04 15:15] whedon commented on #2922
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2939.

[2021-01-04 15:15] #2922 closed

[2021-01-04 15:15] whedon commented on #2939
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @corentin-dev, @iammix it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-01-04 15:16] whedon commented on #2939
[code]

[2021-01-04 15:17] whedon commented on #2939
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02939/joss.02939/10.21105.joss.02939.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02939/joss.02939/10.21105.joss.02939.pdf) :page_facing_up: :point_left:

[2021-01-04 15:18] diehlpk commented on #2577
@mou3adb and @frederickgosselin when do you plan to resubmit the paper? If it is not within the next three months, I would prefer to close this submission and invite you to resubmit once you have improved the paper.

[2021-01-04 15:28] VivianePons commented on #2926
Hi @michakraus could you check the missing DOI suggested by whedon?

Also, could you look at our [potential reviewer list](https://bit.ly/joss-reviewers) and maybe suggest reviewers (without tagging them with an @).? You can also suggest names outside of the list, just be aware of our [conflict of interest policy](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-inte

[2021-01-04 15:37] jGaboardi commented on #2826
The release is a scheduled one to coincide with the biannual PySAL federation release. It will not include any change to the actual code-base, just admin/maintenance adjustments for testing, docs, etc. I will get that out today, which will be `v1.5.4`.

[2021-01-04 16:28] kanishkan91 commented on #2890
@tscheypidi We are almost done addressing all your review comments (thanks much for those) and will do a new release today with the  fixes.

@dhhagan @sahilseth Unless you have any comments at this point, we think we can do one release now and do another later addressing any review comments you might have. Do let us know if you are OK with this. Do let us know if we are missing anything important.

[2021-01-04 16:34] VivianePons commented on #2932
@arfon I read the paper and it looks quite convincing for being on scope. What made you hesitate?

[2021-01-04 16:34] VivianePons commented on #2932
@whedon check references from branch joss

[2021-01-04 16:34] whedon commented on #2932
[code]

[2021-01-04 16:34] whedon commented on #2932
[code]

[2021-01-04 16:37] VivianePons commented on #2932
Hi @dansarie thank you very much for submitting your paper.

Could you look at our [potential reviewer list](https://bit.ly/joss-reviewers) and maybe suggest reviewers (without tagging them with an @).? You can also suggest names outside of the list, just be aware of our [conflict of interest policy](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy)

[2021-01-04 17:18] dansarie commented on #2932
Hi @VivianePons!

Here are some suggested reviewers from the list: vissarion, Brnikat, gcdeshpande. skadio also appears to be a good fit for the topic area, but does not have C listed as a preferred/other programming language.

[2021-01-04 17:23] VNNikolaidis commented on #2876
I thank everyone for their time and useful comments, I will start handling them now.
Some of the issues raised at the original repository as part of this review process have already been handled (but left open till I get your feedback).
As I am now about to attempt to handle some of the comments stated above, is it appropriate and/or convenient to the editor and reviewers to place my comments here

[2021-01-04 17:41] VNNikolaidis commented on #2876
If I may I would like to add some comments that may aid the reviewer:

Indeed, I have left that message since the NN class is new and being very versatile and I wanted to inform its users that the method it provides may change, while more methods will (and already have been) added. The message does not imply anything beyond that.

This error is expected, and I can understand why it was confusing.

[2021-01-04 17:54] kbarnhart commented on #2276
@KevinShook thanks for that update. I'll stay tuned for your response to the in-repo issues.

[2021-01-04 18:09] kbarnhart commented on #2883
@whedon generate pdf

[2021-01-04 18:09] kbarnhart commented on #2883
@whedon check references

[2021-01-04 18:10] whedon commented on #2883
[code]

[2021-01-04 18:10] whedon commented on #2883
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02883/joss.02883/10.21105.joss.02883.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02883/joss.02883/10.21105.joss.02883.pdf) :page_facing_up: :point_left:

[2021-01-04 18:19] kbarnhart commented on #2883
@kadyb a quick update to to let you know that I've returned to the office and will now start actively handling this submission. I will start to solicit reviewers shortly. Two minor points to address are in the following checklist.

- [ ] It looks like the package has two license files, "LICENSE" and "LICENSE.md". Please update the repo so there is just one plain text license file. Additional infor

[2021-01-04 18:36] kbarnhart commented on #2883
:wave: @tscheypidi, @jhollist, @nuest, @adamhsparks, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue which is used to find reviewers. Once 2-3 reviewers have been found I'll start the review on a dedicated GitHu

[2021-01-04 18:44] kbarnhart commented on #2903
@whedon generate pdf

[2021-01-04 18:44] kbarnhart commented on #2903
@whedon check references

[2021-01-04 18:44] whedon commented on #2903
[code]

[2021-01-04 18:44] whedon commented on #2903
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02903/joss.02903/10.21105.joss.02903.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02903/joss.02903/10.21105.joss.02903.pdf) :page_facing_up: :point_left:

[2021-01-04 18:46] arfon commented on #2932
Oh nothing really. Just that ~2000 LOC (in C) might be considered on the smaller-side of things for us. Happy to proceed if you think this is 👍

[2021-01-04 18:55] sabinomaggi commented on #2914
Seems very interesting. I can review the paper but not earlier than 3-4 weeks. Am I supposed to test the package to check how it works?

[2021-01-04 18:57] jkbye commented on #2891
Hello @oliviaguest thank you for your patience. I have been dealing with a family issue but will finish the review by next week.

[2021-01-04 19:02] kbarnhart commented on #2903
@ghislainv  Thanks for your submission. I'll now start actively handling it.

If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

In

[2021-01-04 19:09] Borchardt commented on #2934
Thanks! Please let me know if there's anything I can provide to help!

[2021-01-04 19:40] themkar commented on #2891
Hello @oliviaguest, Happy new year. I shall be able to have this by 31st Jan. Hope this is ok.

[2021-01-04 19:43] kbarnhart commented on #2896
@giswqs I'm now back in the office and will start actively handling this submission.

A couple of clarifying questions.

1. Is there a place where API-level documentation is provided? I've looked through the readthedocs page and can't seem to find this. I would expect that all public facing functions/classes would have detailed documentation describing the format of all inputs and outputs.
2. Coul

[2021-01-04 19:43] melissawm commented on #2895
Thank you, @geoffreyp , and really sorry for the delay in responding.

[2021-01-04 19:44] tscheypidi commented on #2883
@kbarnhart thanks for the invitation, but I have to decline due to other commitments.

[2021-01-04 19:45] melissawm commented on #2895
Hello, @sjvrijn @jmadera! Would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-01-04 19:47] kbarnhart commented on #2883
@tscheypidi thanks for the prompt response.

[2021-01-04 20:01] melissawm commented on #2829
Hello, folks! @tpoisot I can see you were able to check some of the boxes - hope the invitation worked! Let me know if there's anything else you need help with. Thanks!

[2021-01-04 20:07] kbarnhart commented on #2937
@jonschwenk thanks for this submission. At this point I've looked through the repository and have determined that I can move forward to looking for reviewers.  If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, this [list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and

[2021-01-04 20:12] sjvrijn commented on #2895
Hi @melissawm, looks relevant to me indeed, I can review

[2021-01-04 20:46] mbobra commented on #2931
@danielskatz Sorry for the late reply, I don't know why the ooo bot messages don't show up 😕

[2021-01-04 20:46] mbobra commented on #2931
@whedon assign me as editor

[2021-01-04 20:46] whedon commented on #2931
OK, the editor is @mbobra

[2021-01-04 20:47] mbobra commented on #2931
@bauer-alex Thanks for your submission! Please give me a few days to find some reviewers and then we'll start the review.

[2021-01-04 20:48] jgostick commented on #2861
@whedon add @jlopata21 as reviewer

[2021-01-04 20:48] whedon commented on #2861
OK, @jlopata21 is now a reviewer

[2021-01-04 20:49] jgostick commented on #2861
@whedon add @shimpalee as reviewer

[2021-01-04 20:49] whedon commented on #2861
OK, @shimpalee is now a reviewer

[2021-01-04 20:50] jgostick commented on #2861
@whedon start review

[2021-01-04 20:50] whedon opened #2940 "[REVIEW]: fuelcell: A Python package and graphical user interface for electrochemical data analysis"
**Submitting author:** @samaygarg (<a href="http://orcid.org/0000-0002-9872-6429">Samay Garg</a>)
**Repository:** <a href="https://github.com/samaygarg/fuelcell" target ="_blank">https://github.com/samaygarg/fuelcell</a>
**Version:** v1.0.1
**Editor:** @jgostick
**Reviewer:** @jlopata21, @shimpalee
**Archive:** <a href="https://doi.org/10.5281/zenodo.4606814" target="_blank">10.5281/zenodo.4606814

[2021-01-04 20:50] whedon commented on #2861
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2940.

[2021-01-04 20:50] #2861 closed

[2021-01-04 20:50] whedon commented on #2940
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jlopata21, @shimpalee it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-01-04 20:50] eloisabentivegna commented on #2862
Thanks, @albertonogueira and @Joao-L-S-Almeida! Are the boxes you left unticked dependent on the author's responses to your suggestions?

Same question for @jdmoorman: are you waiting on the author's response before you tick off the remaining items on your list?

[2021-01-04 20:50] whedon commented on #2940
[code]

[2021-01-04 20:51] whedon commented on #2940
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02940/joss.02940/10.21105.joss.02940.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02940/joss.02940/10.21105.joss.02940.pdf) :page_facing_up: :point_left:

[2021-01-04 20:53] aaron-bray commented on #2555
I have addressed all the issues provided and we should get an update to the paper very soon.

I hope the read me is better structured and has a better level of description for building and running our code

Thanks!

[2021-01-04 21:18] jhollist commented on #2883
Appreciate the invite, but I am going to have to decline as well.  If you
are still short a reviewer in mid-Feb, ping me again.  I should have some
time then to to do it

On Mon, Jan 4, 2021 at 1:37 PM Katy Barnhart <notifications@github.com>
wrote:

--
Jeffrey W. Hollister
email: jeff.w.hollister@gmail.com
cell: 401 556 4087
https://jwhollister.com

[2021-01-04 22:09] KristinaRiemer commented on #2575
Hi all! Hopefully everyone had a good holiday season. @r-barnes & @mccabete I'm checking about progress on your reviews of this software. Now that the issues permission problem has been taken care of by migrating everything over to GitHub, is there anything blocking your work or anything I can do to help move this forward?

[2021-01-04 22:12] KristinaRiemer commented on #2721
Hi all! Hopefully everyone had a good holiday season. It looks like @arbennett has finished his review of this software. For @kellykochanski's, there are a few items left on the checklist and also two issues (167 and 168) open in the software repo. Is there anything blocking your work or anything I can do to help move this forward?

[2021-01-04 22:17] KristinaRiemer commented on #2872
@marcjwilliams1 thank you for your review and your thoughtful questions/comments, hopefully @gabrieldansereau will have a chance to respond soon.

@dglmoore, I just noticed that you were not added as an assignee to this issue, I'm going to try to fix that now.

[2021-01-04 22:18] KristinaRiemer commented on #2872
@whedon re-invite @dglmoore as reviewer

[2021-01-04 22:18] whedon commented on #2872
OK, the reviewer has been re-invited.

@dglmoore please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-04 22:20] dglmoore commented on #2872
@KristinaRiemer thank you for re-inviting me. I'll take care of the review today.

[2021-01-04 22:34] jedbrown commented on #2938
:wave: Happy new year! I've fixed the DOI issue. For reviewers, I would consider

* Direct domain expertise
  * https://github.com/pbauman - libMesh and multiphysics solvers, now at AMD
  * https://github.com/FreddieWitherden - PyFR (similar to high-order DG), Python-based optimization and GPU offloading
  * https://github.com/lukeolson - algebraic multigrid, finite elements, and GPUs, Python
* Vo

[2021-01-04 22:38] albertonogueira commented on #2862
Yes, @eloisabentivegna. The unticked boxes correspond to issues created on the target repository. Once the issues are addressed, the boxes will be ticked.

[2021-01-04 23:11] diehlpk commented on #2938
Hey, @pbauman, @FreddieWitherden, @lukeolson, @munkm, @fhorrobin, and @thelfer would you willing to review this paper?

[2021-01-05 01:21] majensen commented on #2934
I would be pleased to review this work (pending scope check)

[2021-01-05 01:44] Borchardt commented on #2934
Thanks, majensen!

With regard to the scope check, we wanted to add a couple of notes that might provide helpful context:

Of the 3066 lines of of code reported by whedon, the 955 JSON lines (Node package information), 115 markdown lines (readme content), and 79 SVG lines (our logo) might not be considered "real" code. This still leaves 1,917 lines of core application code -- JavaScript, CSS, Dock

[2021-01-05 01:48] dglmoore commented on #2872
The article and documentation are great. The package has some really nice features that should make many common tasks painless. Performance was good and the code quality looks high.

The only concern at the moment is the failing unit tests, but I suspect that's a simple enough issue to resolve. With this possible exception, all of the JOSS requirements are met or exceeded in my opinion.

[2021-01-05 03:54] kanishkan91 commented on #2890
@whedon generate pdf

[2021-01-05 03:55] whedon commented on #2890
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02890/joss.02890/10.21105.joss.02890.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02890/joss.02890/10.21105.joss.02890.pdf) :page_facing_up: :point_left:

[2021-01-05 03:59] dhhagan commented on #2479
@whedon re-invite @kgoebber as reviewer

[2021-01-05 03:59] whedon commented on #2479
OK, the reviewer has been re-invited.

@kgoebber please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-05 04:00] dhhagan commented on #2890
@whedon remind @sahilseth in 1 day

[2021-01-05 04:00] whedon commented on #2890
Reminder set for @sahilseth in 1 day

[2021-01-05 04:10] kanishkan91 commented on #2890
@tscheypidi We have tried to address all of your review comments as a part of release v1.3.1 . I am summarizing our responses to each of the issues below for your convenience,

1.  We have removed the license restrictions as suggested and made sure that this is a BSD2 license.
2.  As suggested, we have recommended explicitly that the user build vignettes when loading the repository. Our instructio

[2021-01-05 05:35] damienmarsic commented on #2864
Hi everyone, and best wishes for the new year!
Sorry for the dealy, I was actally waiting for instructions on what to do next. Following the reviewers comments, I made the following changes in the repository:
- paper.md has now sections "Methods" and "Implementation" in addition to "Statement of need"
- The google group discussion list was removed rom README.md and replaced with a link to the repo

[2021-01-05 07:05] melund commented on #2911
Thanks a lot @Kevin-Mattheus-Moerman. But I still can't edit the checklist. And clicking the invitation link now gives me this:

![image](https://user-images.githubusercontent.com/1038978/103616397-acbaa300-4f2c-11eb-913b-62e99106b4ba.png)

[2021-01-05 07:09] whedon opened #2941 "[PRE REVIEW]: RI5C: A Visual Blockchain Navigator"
**Submitting author:** @ebarojas (<a href="http://orcid.org/0000-0003-4182-1537">Everardo J Barojas-Méndez</a>)
**Repository:** <a href="https://github.com/ebarojas/RI5C/" target ="_blank">https://github.com/ebarojas/RI5C/</a>
**Version:** v0.9
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2021-01-05 07:09] whedon commented on #2941
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-05 07:10] whedon commented on #2941
[code]

[2021-01-05 07:10] whedon commented on #2941
[code]

[2021-01-05 07:10] whedon commented on #2941
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02941/joss.02941/10.21105.joss.02941.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02941/joss.02941/10.21105.joss.02941.pdf) :page_facing_up: :point_left:

[2021-01-05 07:18] arfon commented on #2941
:wave: @ebarojas  - thanks for your submission to JOSS. I'm the EiC on rotation for JOSS this week and am trying to understand the [scale/scope of this submission](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). Can you confirm that the Python code in [this directory](https://github.com/ebarojas/RI5C/tree/master/ri5c) forms the bulk of the source code for this

[2021-01-05 07:45] thelfer commented on #2938
@diehlpk I am interested. What is the deadline ?

[2021-01-05 07:46] j-andrews7 commented on #2864
@whedon generate pdf

[2021-01-05 07:47] whedon commented on #2864
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02864/joss.02864/10.21105.joss.02864.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02864/joss.02864/10.21105.joss.02864.pdf) :page_facing_up: :point_left:

[2021-01-05 07:50] j-andrews7 commented on #2864
This looks good to me and I have no further comments other than good job and thanks for the quick edits. Personally, I feel the accuracy is adequately addressed through the examples, and given the sparsity of other options and journal guidelines, that a true benchmarking study is beyond the scope of the journal.

[2021-01-05 08:06] tscheypidi commented on #2890
@kanishkan91 Excellent work and thanks for putting so much effort into addressing my remarks. I particularly appreciate the extensions in vignette and app as well as the extended functionality of `vec2param()`.

@dhhagan I am done with my review and all my concerns have been fully addressed by the authors.

[2021-01-05 08:36] timtroendle commented on #2769
@whedon add @jgoldfar as reviewer

[2021-01-05 08:36] whedon commented on #2769
OK, @jgoldfar is now a reviewer

[2021-01-05 08:45] timtroendle commented on #2769
@openjournals/dev, sorry for the trouble but Whedon did not assign the new reviewer to this issue and I am unable to assign them manually. Is there anything I can do here?

[2021-01-05 08:58] arfon commented on #2769
@whedon re-invite @sahilseth as reviewer

[2021-01-05 08:59] whedon commented on #2769
@sahilseth already has access.

[2021-01-05 08:59] arfon commented on #2769
@whedon re-invite @jgoldfar as reviewer

[2021-01-05 08:59] whedon commented on #2769
The reviewer already has a pending invite.

@jgoldfar please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-05 09:00] mikldk commented on #2892
@whedon set v0.8.4 as version

[2021-01-05 09:00] whedon commented on #2892
OK. v0.8.4 is the version.

[2021-01-05 09:00] mikldk commented on #2892
@whedon set 10.5281/zenodo.4415671 as archive

[2021-01-05 09:00] whedon commented on #2892
OK. <a href="https://doi.org/10.5281/zenodo.4415671" target="_blank">10.5281/zenodo.4415671</a> is the archive.

[2021-01-05 09:01] arfon commented on #2769
@timtroendle - I'm not sure exactly who has the issue here but @sahilseth should be able to complete their review (update checkboxes etc.) fine, @jgoldfar needs to accept the invite in the message above before they will be able to update their checkboxes.

@timtroendle - just as an FYI - adding reviewers after the pre-review stage is generally a little more challenging (as you're finding out!) whi

[2021-01-05 09:04] timtroendle commented on #2769
@arfon - great, thanks for the update and for letting me know.

[2021-01-05 09:05] mikldk commented on #2892
@jbytecode There are some confusing about the tags/releases in your [repository](https://github.com/jbytecode/LinRegOutliers/releases) (`v0.8.4` vs `0.8.4`, see e.g. [the diff](https://github.com/jbytecode/LinRegOutliers/compare/v0.8.4...0.8.4)).

If changed have been made since 0.8.4, then I recommend making this JOSS submission version 0.8.5 as the `v` prefix is not a part of the semantic versio

[2021-01-05 09:06] arfon commented on #2796
:wave: @katyhuff - happy new year! It looks like this submission is still waiting to go out for review (and to identify a second reviewer)

[2021-01-05 09:26] jbytecode commented on #2892
It is just because the v0.8.4 was automatically created by the tag bot after publishing the latest revision in Julia repos. So I set the name of release 0.8.4, without a v prefix.

Now, I am trying to create a new release, but zenodo throws an error of "New version's files must differ from all previous versions."

what to do now ?

[2021-01-05 10:06] jbytecode commented on #2892
Dear editor @mikldk,

It is okay.
- The version is 0.8.5
- Here is the DOI: `10.5281/zenodo.4419418`
- Here is the bagdet [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4419418.svg)](https://doi.org/10.5281/zenodo.4419418)

[2021-01-05 10:34] will-rowe commented on #2913
Hi @kthyng

I'm sorry but with the latest lockdown just announced in the UK, I'm going to be looking after my kids with them home from primary school. I will be working as I can but my editorial response times will be much slower. I can still take this submission on with the understanding that I may be slow to handle this at times but if there is another editor with more capacity, that may be bett

[2021-01-05 10:42] will-rowe commented on #2817
Hi all. I hope everyone who had a break for new year had a good one.

Things are looking good here. @jcmcnch has now ticked all the required review boxes. If we could ask @johanneswerner to do the same, we can then mark this as provisionally accepted and start the ball rolling for publication.

[2021-01-05 10:46] johanneswerner commented on #2817
@will-rowe I checked off the missing boxes - those were taken care off before already.

[2021-01-05 10:47] timtroendle commented on #2914
Thanks @sabinomaggi , that's great to hear. We are currently in [Reduced service mode](https://blog.joss.theoj.org/2020/05/reopening-joss), which means that reviews may take up to six weeks. Of course, we are encouraging reviewers to start the review as soon as possible.

Regarding your question: the review includes a functionality check as well. You may want to have a quick look at our [review ch

[2021-01-05 10:53] will-rowe commented on #2817
Perfect - thanks @johanneswerner and sorry for the box ticking exercise!

[2021-01-05 10:54] will-rowe commented on #2817
@whedon generate pdf

[2021-01-05 10:54] will-rowe commented on #2817
@whedon check references

[2021-01-05 10:55] whedon commented on #2817
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02817/joss.02817/10.21105.joss.02817.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02817/joss.02817/10.21105.joss.02817.pdf) :page_facing_up: :point_left:

[2021-01-05 10:55] whedon commented on #2817
[code]

[2021-01-05 11:04] will-rowe commented on #2817
Hi @akrinos

Can you please check/fix those references. Looks like the MEGAN one might not need the `_4`

Once you have done this, please can you tag a new release and then archive it (with zenodo or similar). Then report back here with the DOI and version.

[2021-01-05 11:14] mikldk commented on #2892
@whedon set 10.5281/zenodo.4419418 as archive

[2021-01-05 11:14] whedon commented on #2892
OK. <a href="https://doi.org/10.5281/zenodo.4419418" target="_blank">10.5281/zenodo.4419418</a> is the archive.

[2021-01-05 11:14] mikldk commented on #2892
@whedon set v0.8.5 as version

[2021-01-05 11:14] whedon commented on #2892
OK. v0.8.5 is the version.

[2021-01-05 11:14] mikldk commented on #2892
@whedon check references

[2021-01-05 11:15] whedon commented on #2892
[code]

[2021-01-05 11:15] mikldk commented on #2892
@whedon generate pdf

[2021-01-05 11:16] whedon commented on #2892
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02892/joss.02892/10.21105.joss.02892.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02892/joss.02892/10.21105.joss.02892.pdf) :page_facing_up: :point_left:

[2021-01-05 11:18] mikldk commented on #2892
@salleuska, @rMassimiliano Thank you very much for your effort in reviewing this paper!

[2021-01-05 11:19] mikldk commented on #2892
@whedon accept

[2021-01-05 11:19] whedon commented on #2892
[code]

[2021-01-05 11:19] whedon commented on #2892
[code]

[2021-01-05 11:20] whedon commented on #2892
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2012

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2012, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-05 11:27] jbytecode commented on #2892
@mikldk, @salleuska, and, @rMassimiliano, Thank you very much! Hope you all have a happy new year!

[2021-01-05 11:30] arfon commented on #2892
@whedon accept deposit=true

[2021-01-05 11:30] whedon commented on #2892
[code]

[2021-01-05 11:31] whedon commented on #2892
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1346419076512567296) 👈 🐦🐦🐦

[2021-01-05 11:31] whedon commented on #2892
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2013
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02892](https://doi.org/10.21105/joss.02892)
2. If everything looks g

[2021-01-05 11:40] arfon commented on #2892
@salleuska, @rMassimiliano - many thanks for your reviews here and to @mikldk for editing this submission. JOSS relies upon the volunteer efforts of folks like yourselves and we simply couldn't do it without you!

@jbytecode - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-01-05 11:40] #2892 closed

[2021-01-05 11:40] whedon commented on #2892
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02892/status.svg)](https://doi.org/10.21105/joss.02892)

**We need your help!**

Journal of Open Source Softwa

[2021-01-05 12:17] csoneson commented on #2440
Happy New Year! @neuromusic - could you give an update of where we are standing wrt the remaining issues? Thanks!

[2021-01-05 12:18] csoneson commented on #2864
Thanks @j-andrews7!

[2021-01-05 12:28] oliviaguest commented on #2923
Hey @fmatuschke 👋  — when you get a chance can you list some [user]names of potential reviewers, please? 😊

[2021-01-05 12:29] oliviaguest commented on #2891
Great! Thanks @themkar, @CatarauCorina, and @jkbye! Just need an ETA for now, so this is all perfect! Hope you are all well. 🌼

[2021-01-05 12:30] oliviaguest commented on #2891
@whedon remind @themkar in a month

[2021-01-05 12:30] whedon commented on #2891
I don't recognize this description of time 'a' 'month
'.

[2021-01-05 12:30] oliviaguest commented on #2891
@whedon remind @themkar in 1 month

[2021-01-05 12:30] whedon commented on #2891
Reminder set for @themkar in 1 month

[2021-01-05 12:31] oliviaguest commented on #2891
@whedon remind @CatarauCorina in 1 week

[2021-01-05 12:31] whedon commented on #2891
Reminder set for @CatarauCorina in 1 week

[2021-01-05 12:31] oliviaguest commented on #2891
@whedon remind @jkbye in 2 weeks

[2021-01-05 12:31] whedon commented on #2891
Reminder set for @jkbye in 2 weeks

[2021-01-05 12:51] bauer-alex commented on #2931
@whedon generate PDF

[2021-01-05 12:52] whedon commented on #2931
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02931/joss.02931/10.21105.joss.02931.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02931/joss.02931/10.21105.joss.02931.pdf) :page_facing_up: :point_left:

[2021-01-05 12:56] bauer-alex commented on #2931
@whedon generate PDF

[2021-01-05 12:57] whedon commented on #2931
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02931/joss.02931/10.21105.joss.02931.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02931/joss.02931/10.21105.joss.02931.pdf) :page_facing_up: :point_left:

[2021-01-05 12:58] kadyb commented on #2883
Hello, thanks for the answers and suggestions!

We have two license files due to the [CRAN policy](https://www.r-project.org/Licenses/MIT). Examples of other packages are [dplyr](https://github.com/tidyverse/dplyr) or [openssl](https://github.com/jeroen/openssl).

Fixed.

The package can be installed in the standard way from CRAN or the development version from GitHub. Instructions are available i

[2021-01-05 12:59] kadyb commented on #2883
@whedon generate pdf

[2021-01-05 12:59] bauer-alex commented on #2931
I made one more slight edit in the paper. The above generated pdf contains the most current version.

[2021-01-05 12:59] whedon commented on #2883
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02883/joss.02883/10.21105.joss.02883.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02883/joss.02883/10.21105.joss.02883.pdf) :page_facing_up: :point_left:

[2021-01-05 13:00] pdebuyl commented on #2842
Hi @scivision , is there any progress on your side?

[2021-01-05 13:11] adamhsparks commented on #2883
Hi @kbarnhart, I’m available to review this.

[2021-01-05 13:16] nuest commented on #2883
Thanks for the invite, I won't be able to do this one either, need to wrap up a couple of other reviews first before I can commit again.

[2021-01-05 13:30] diehlpk commented on #2938
@thelfer within the next two month would be great.

[2021-01-05 13:34] thelfer commented on #2938
@diehlpk Perfect. So I take the review. We are currently making tests with MFEM and libCEED in my lab.  I already sent the paper to interested colleagues who will also make feedbacks on the paper (I'll centralize everything to simplify the review).

[2021-01-05 14:30] VivianePons commented on #2932
@whedon set @gradvohl as reviewer

[2021-01-05 14:30] whedon commented on #2932
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-01-05 14:30] VivianePons commented on #2932
@whedon assign @gradvohl as reviewer

[2021-01-05 14:31] whedon commented on #2932
OK, @gradvohl is now a reviewer

[2021-01-05 14:34] diehlpk commented on #2938
@whedon assign @thelfer as reviewer

[2021-01-05 14:34] whedon commented on #2938
OK, @thelfer is now a reviewer

[2021-01-05 14:57] akrinos commented on #2817
@whedon check references

[2021-01-05 14:59] whedon commented on #2817
[code]

[2021-01-05 15:17] akrinos commented on #2817
Hi @will-rowe (and thank you @johanneswerner!) - I have fixed the DOI issues listed above, and published a release to Zenodo [here](https://zenodo.org/record/4419894#.X_SCFqpKg6U), with DOI 10.5281/zenodo.4419894 for version 1.0.2, which is also fully updated on Anaconda Cloud and PyPI. I left in the _4 for MEGAN, as that is the most specific DOI for the paper. Thank you so much for your help!

[2021-01-05 16:40] giswqs commented on #2896
@kbarnhart Thank you for handling the submission. I have revised the repo according to your comments. Thanks.

- Added docstrings to all functions and classes ([link](https://lidar.readthedocs.io/en/latest/lidar.html#submodules))
- Added tests ([link](https://github.com/giswqs/lidar/blob/master/tests/test_lidar.py)) and GitHub actions ([link](https://github.com/giswqs/lidar/runs/1651187012?check_s

[2021-01-05 16:41] giswqs commented on #2896
@whedon generate pdf

[2021-01-05 16:52] whedon commented on #2896
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02896/joss.02896/10.21105.joss.02896.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02896/joss.02896/10.21105.joss.02896.pdf) :page_facing_up: :point_left:

[2021-01-05 18:27] JostMigenda commented on #2877
Thanks for the comments @bradkav!

I spent the holiday period thinking about the first-run experience of new users; the result is in [JostMigenda/sntools#20](https://github.com/JostMigenda/sntools/pull/20) and should cover your bullet points on examples and tests.

Regarding documentation: [I’ve added a note](https://github.com/JostMigenda/sntools/commit/2856adeafc71ee63b9f9965a66ba865b7cfd3792#di

[2021-01-05 18:36] ghislainv commented on #2903
@kbarnhart Thanks for handling the submission. I am out of office until Monday 11th of January. I will address your two minor comments as soon as possible next week. Regarding the potential reviewers, I would suggest: molgor, kmarkert, leouieda, martinfleis, and bradyrx.

[2021-01-05 19:06] kbarnhart commented on #2896
@giswqs thanks for that update. Could you please recommend reviewers for this submission. A list of people who have volunteered to review for JOSS is listed above. Of course, don't feel constrained to that list.

In addition, is the Arc Spatial Analyst extension is the only Arc extension required to use the toolbox? I skimmed for `arcpy.CheckOutExtension` and only saw "Spatial". I want to make sur

[2021-01-05 19:33] Jammy2211 commented on #2550
Will get it done this week, shouldn't take long but putting the final touches on a release so will make sure its done with that!

Well post in here once its up.

[2021-01-05 19:49] giswqs commented on #2896
@kbarnhart Here are some potential reviewers from that list with expertise in GIS and Python. And yes, the toolbox only requires the Spatial Analyst extension. Thanks.

- sgrieve
- Scivision
- juliohm
- sjsrey
- mikejohnson51
- nagellette
- Narayana-Rao

[2021-01-05 20:16] kgoebber commented on #2479
**General Comments**

Overall this package provides a mechanism to facilitate the inspection of various meteorological data. Most advanced functionality in this package comes from other well-established Python modules including SciPy and MetPy. Overall, it is hard to see extensive use of this package by the broader community due its limited scope, scant documentation, and better offering of simila

[2021-01-05 20:17] huddlej commented on #2906
@majensen, we've decided that the best way to acknowledge all contributors without adding unwanted responsibilities to people outside of our team was to add Nextstrain team members as authors and name all other contributors specifically in the acknowledgements.

To this end, we added three authors from the Nextstrain team and added 25 contributors to the acknowledgements. Since we were able to exp

[2021-01-05 21:15] mccabete commented on #2575
Thanks @KristinaRiemer  for the reminders. Sorry for not getting back to you both! @holukas, I added my comments as issues to the new repo.

The Wiki link is now behind an ETH login, so there was some content I had access to that I no longer have access to. That said, I had already gone through the wiki content before the migration, so I was able to post my comments. Likely 98% of my review is now

[2021-01-05 21:49] will-rowe commented on #2817
Good work - thanks @akrinos. I'm afraid one more thing is needed from my end - can you make sure the zenodo release has an author list that matches the author list in your paper?

[2021-01-06 00:20] mbobra commented on #2757
👋 @Hazboun6 Checking in again -- how is it going? Do you need any help?

[2021-01-06 00:28] gabrieldansereau commented on #2872
@marcjwilliams1 @dglmoore Thank you for your helpful reviews and sorry for the delay.

I fixed the tests in EcoJulia/SimpleSDMLayers.jl#44 and released a new version of the package. As expected by the reviewers, it was a simple fix, a problem with the download URL for one of the supported datasets, which seems to have changed. All other functionalities should work properly.

@marcjwilliams1's comm

[2021-01-06 01:45] elimillera commented on #2848
@sebdalgarno @marcosvital
Everything looks good to me!

[2021-01-06 02:45] majensen commented on #2906
@whedon generate pdf

[2021-01-06 02:45] majensen commented on #2906
@whedon check references

[2021-01-06 02:45] whedon commented on #2906
[code]

[2021-01-06 02:46] whedon commented on #2906
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02906/joss.02906/10.21105.joss.02906.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02906/joss.02906/10.21105.joss.02906.pdf) :page_facing_up: :point_left:

[2021-01-06 03:00] meenakshi-kushwaha commented on #2848
Looks good to me! Thanks

[2021-01-06 03:34] majensen commented on #2906
@huddlej Thanks very much for your thoughtful consideration; I'm certainly pleased with the team's decision.

Now, the paper looks great. I have no edits, except for the attached patch, which should fix the Alm reference so that it is not whacked by BibTeX.

Before I perform the incantation to summon the Associate Ed-in-Chief, can I have you create an open archive of your repo on Zenodo, Figshare,

[2021-01-06 04:00] whedon commented on #2890
:wave: @sahilseth, please update us on how your review is going.

[2021-01-06 08:16] jodemaey commented on #2914
Hi @timtroendle ,

Sorry, but I feel uncomfortable reviewing GUIs so I prefer to pass on this one. I hope you will find the right person to complete the review.

Best Regards,

Jonathan.

[2021-01-06 08:36] fmatuschke commented on #2923
Hi @oliviaguest, I'm so sorry I missed this. Apparently the holidays were necessary.
I looked through the document and found the following potential reviewers: vigji(luigi.petrucco@gmail.com), caldarolamartin(m.caldarola@tudelft.nl), spinicist(tobias.wood@kcl.ac.uk), AmirHoseinHadian(amir.h.hadian@gmail.com) and neurofractal(rob.seymour@ucl.ac.uk)

[2021-01-06 08:36] wkirgsn commented on #2498
Hi @Kevin-Mattheus-Moerman, happy new year!
Due to your help I figured how to change the zenodo details. However, currently I experience the following error message issued by zenodo when I want to "publish" the changes:
```Internal Server Error Error ID: 30a8cc6068734a1eaf80eaf96cc3299e```
I will let you know when this is fixed and I was able to push the details to zenodo.

[2021-01-06 09:38] timtroendle commented on #2914
@jodemaey, I understand. Thanks for letting me know.

[2021-01-06 10:38] leouieda commented on #2766
@sadielbartholomew thank you for being so thorough and trying to look at this from a different perspective. I'm happy to take your own judgement on this since @ashiklom agrees. Please let me know when you're done and all checks have been marked in the review issue.

@znicholls thank you for your patience since this review has taken longer than usual, in no small part because of me. After reviews a

[2021-01-06 11:59] alemermartinez commented on #2929
Dear Mikkel.

I have deleted both README files (and their corresponding Figures) from the "paper" branch, along with the DESCRIPTION file.

I also note that some files in the software branch of the repository (README and DESCRIPTION) have also been flagged as a conflict. However, I'd rather not make changes to the software repository, since those files play a specific role there. What can I do to

[2021-01-06 14:04] mikldk commented on #2929
@alemermartinez - please remember not to mention potential reviewers, i.e. leave out the `@` prefix. I took the liberty and changed your message above.

Also, I am not sure about the structure of your repository. Is it on purpose that you have a separate branch for JOSS (`joss`) instead of just the `master` branch?

I definitely think that the conflicts in `README` should be fixed no matter what.

[2021-01-06 14:09] muellsen commented on #2844
@glemaitre @mjsottile I added a line in the Paper.md and the README clarifying that c-lasso is a stand-alone package and not yet compatible with the scikit-learn API. It would be absolutely awesome, however, to work on this!

[2021-01-06 14:10] muellsen commented on #2844
We added the relevant benchmarks to the GitHub and the Paper

[2021-01-06 14:51] henrykironde commented on #2800
@arfon I think all issue are set, let me know incase something comes up.

[2021-01-06 15:47] arfon commented on #2800
@whedon accept deposit=true

[2021-01-06 15:48] whedon commented on #2800
[code]

[2021-01-06 15:49] jbytecode commented on #2844
@whedon generate pdf

[2021-01-06 15:49] whedon commented on #2800
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1346846334926675968) 👈 🐦🐦🐦

[2021-01-06 15:49] whedon commented on #2800
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2014
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02800](https://doi.org/10.21105/joss.02800)
2. If everything looks g

[2021-01-06 15:50] whedon commented on #2844
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02844/joss.02844/10.21105.joss.02844.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02844/joss.02844/10.21105.joss.02844.pdf) :page_facing_up: :point_left:

[2021-01-06 15:56] jbytecode commented on #2844
@muellsen, Please check the pdf

- L128: `1,8` might be `1.8` ?
- L129: `8 Go` might be `8 Gb`?

[2021-01-06 16:03] arfon commented on #2800
@RMHogervorst, @jsgalan - many thanks for your reviews here and to @fboehm for editing this submission. JOSS relies upon the volunteer efforts of folks like yourselves - we simply wouldn't be able to do this without you ✨!

@henrykironde - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-01-06 16:03] #2800 closed

[2021-01-06 16:03] whedon commented on #2800
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02800/status.svg)](https://doi.org/10.21105/joss.02800)

**We need your help!**

Journal of Open Source Softwa

[2021-01-06 16:05] whedon opened #2942 "[PRE REVIEW]: Kinetic.jl: A lightweight finite volume toolbox in Julia"
**Submitting author:** @vavrines (<a href="http://orcid.org/0000-0001-9127-9497">Tianbai Xiao</a>)
**Repository:** <a href="https://github.com/vavrines/Kinetic.jl" target ="_blank">https://github.com/vavrines/Kinetic.jl</a>
**Version:** v0.7.0
**Editor:** @diehlpk
**Reviewers:** @KristofferC, @rdeits
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-01-06 16:05] whedon commented on #2942
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-06 16:06] whedon commented on #2942
Failed to discover a `Statement of need` section in paper

[2021-01-06 16:06] whedon commented on #2942
[code]

[2021-01-06 16:06] whedon opened #2943 "[PRE REVIEW]: Open Source Infrastructure Risk Analytics (osira)"
**Submitting author:** @edwardoughton (<a href="http://orcid.org/0000-0002-2766-008X">Edward J. Oughton</a>)
**Repository:** <a href="https://github.com/edwardoughton/osira" target ="_blank">https://github.com/edwardoughton/osira</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-01-06 16:06] whedon commented on #2943
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-06 16:06] whedon commented on #2942
[code]

[2021-01-06 16:06] whedon opened #2944 "[PRE REVIEW]: CliquePercolation: An R Package for conducting and visualizing results of the clique percolation network community detection algorithm"
**Submitting author:** @LangeJens (<a href="http://orcid.org/0000-0002-5375-3247">Jens Lange</a>)
**Repository:** <a href="https://github.com/LangeJens/CliquePercolation" target ="_blank">https://github.com/LangeJens/CliquePercolation</a>
**Version:** 0.3.0
**Editor:** @karthik
**Reviewers:** @donaldRwilliams, @AlexChristensen
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :w

[2021-01-06 16:06] whedon commented on #2943
[code]

[2021-01-06 16:06] whedon commented on #2944
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-06 16:06] whedon commented on #2942
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02942/joss.02942/10.21105.joss.02942.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02942/joss.02942/10.21105.joss.02942.pdf) :page_facing_up: :point_left:

[2021-01-06 16:06] whedon commented on #2943
[code]

[2021-01-06 16:07] whedon commented on #2944
Failed to discover a `Statement of need` section in paper

[2021-01-06 16:07] whedon commented on #2944
[code]

[2021-01-06 16:07] whedon commented on #2943
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02943/joss.02943/10.21105.joss.02943.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02943/joss.02943/10.21105.joss.02943.pdf) :page_facing_up: :point_left:

[2021-01-06 16:08] whedon commented on #2944
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02944/joss.02944/10.21105.joss.02944.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02944/joss.02944/10.21105.joss.02944.pdf) :page_facing_up: :point_left:

[2021-01-06 16:08] whedon commented on #2944
[code]

[2021-01-06 16:09] arfon commented on #2942
@whedon query scope

@vavrines thanks for your submission to JOSS – due to the relatively small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that whedon's

[2021-01-06 16:09] whedon commented on #2942
Submission flagged for editorial review.

[2021-01-06 16:09] sadielbartholomew commented on #2766
Thanks @leouieda in that case I will proceed ASAP and shall aim to finish the review by the end of this week.

[2021-01-06 16:11] arfon commented on #2943
@whedon query scope

@edwardoughton thanks for your submission to JOSS – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-01-06 16:11] whedon commented on #2943
Submission flagged for editorial review.

[2021-01-06 16:11] arfon commented on #2944
@whedon query scope

@LangeJens  thanks for your submission to JOSS – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that whedon's suggesti

[2021-01-06 16:11] whedon commented on #2944
Submission flagged for editorial review.

[2021-01-06 16:36] vavrines commented on #2942
Thanks for the prompt support!
Maybe I should mention it here. The package is a combination that reexports [KitBase](https://github.com/vavrines/KitBase.jl), [KitML](https://github.com/vavrines/KitML.jl) and [KitFort](https://github.com/vavrines/KitFort.jl), and the total size of codes should be fine : )

[2021-01-06 16:38] vavrines commented on #2942
@whedon generate pdf

[2021-01-06 16:39] whedon commented on #2942
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02942/joss.02942/10.21105.joss.02942.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02942/joss.02942/10.21105.joss.02942.pdf) :page_facing_up: :point_left:

[2021-01-06 17:28] TheoChristiaanse commented on #2677
@sjpfenninger Happy new year! I hope you are doing well.

Do you know how to progress with the paper/repo review? The latest version we have launched 1.7.1 contains most of the corrections for the JOSS paper. The latest version pre2.0 will be launched soon with all the corrections applied.

[2021-01-06 18:00] sebdalgarno commented on #2848
@marcosvital my employer requested a slight change to affiliation ('Poisson Consulting' should be 'Poisson Consulting Ltd.'). I have made the change on a PR. Can I merge the PR and rebuild the paper?

[2021-01-06 18:43] edwardoughton commented on #2943
Dear @arfon, okay, I haven't run into this with previous JOSS publications, so didn't know this was an issue. I have tried to be succinct in the codebase for brevity, with most of the work carried out as preprocessing (scripts/preprocessing.py). Best wishes, Ed

[2021-01-06 18:53] nanhung commented on #2848
Looks good to me. Thanks!

[2021-01-06 19:04] arfon commented on #2942
@vavrines - I'm not sure I follow sorry. Are you saying that this package is actually four different codebases combined, or that KitBase, KitML, and KitFort are _dependencies_ of this one?

If so, JOSS' scholarly effort criterion is applied to the package under review (Kinetic.jl) in this case, not the dependent projects. From my assessment (with the caveat that I'm not a Julia user), this submiss

[2021-01-06 19:05] arfon commented on #2943
Thanks for the point. FYI, we introduced this new scope criterion last July: https://blog.joss.theoj.org/2020/07/minimum-publishable-unit

[2021-01-06 19:15] edwardoughton commented on #2943
Hi @arfon, thanks, I had a decent look over these requirements and also evaluated the other submissions you've flagged with this. I think the key point is that the software package reflects the research developed and published in the papers listed as citations on the repo, so there's many years' of work that's gone into figuring out how to do the processing. I have tried to keep things brief in th

[2021-01-06 19:31] vavrines commented on #2942
@arfon Thanks for the clarification.
Yes they're the codebases. The structs and methods have been imported into this main package so there's no need to review these sub repositories.
It's a common strategy in Julia to reduce precompilation time, e.g. [DIfferentialEquations.jl](https://github.com/SciML/DifferentialEquations.jl) and [Yao.jl](https://github.com/QuantumBFS/Yao.jl)

[2021-01-06 20:22] huddlej commented on #2906
Thank you for the citation patch, @majensen! I've applied that and generated [a DOI for Augur from Zenodo](https://doi.org/10.5281/zenodo.4421955):

10.5281/zenodo.4421955

[2021-01-06 20:47] hmacdope commented on #2824
@whedon generate pdf

[2021-01-06 20:49] whedon commented on #2824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: :point_left:

[2021-01-06 21:42] FreddieWitherden commented on #2938
I am happy to review, too, if you're short.

[2021-01-06 21:49] pbauman commented on #2938
Same.

[2021-01-06 22:16] richardjgowers commented on #2919
@whedon assign @richardjgowers as editor

[2021-01-06 22:16] whedon commented on #2919
OK, the editor is @richardjgowers

[2021-01-06 22:32] marcosvital commented on #2848
Yes, @sebdalgarno, go ahead! After that, I'll take a look at the new version, and we'll proceed.

@elimillera, @meenakshi-kushwaha, and @nanhung: thank you all again for the reviews!

[2021-01-06 22:34] ebarojas commented on #2941
Hi @arfon - I can confirm that the Python code in that directory forms the bulk of the source code. There is some server and dev-ops data in the root dir, but the relevant contributions are in the ```/ri5c``` sub-directory.

[2021-01-06 22:52] ebarojas commented on #2941
As far as potential reviewers go, my suggestions would be:
- ohmaddi
- jkbren
- dinacmistry [mismatch on area, but interesting]
- jankatins
- ati-ozgur
- jkbren
- skradha26

[2021-01-06 23:01] ebarojas commented on #2941
@whedon commands

[2021-01-06 23:01] whedon commented on #2941
Here are some things you can ask me to do:

[code]

[2021-01-07 00:15] lpantano commented on #2857
@whedon assign @preetida as reviewer

[2021-01-07 00:15] whedon commented on #2857
OK, @preetida is now a reviewer

[2021-01-07 01:08] hmacdope commented on #2824
@symmy596 Thanks for addressing all of my concerns and several of my suggestions.

I take your point about including all the theory being too much information to include in the article, I am happy for it to be in the documentation as it is currently. All of my other nitpicks appear to have been fixed up. Just one more thing:

* Would you be able to add a discussion of the sweeps parameter to the t

[2021-01-07 01:13] akrinos commented on #2817
Hi @will-rowe, thanks and no problem! I couldn't figure out how to edit the author list before. I ended up having to modify it to be release 1.0.2b on Zenodo [here](https://zenodo.org/record/4422091#.X_Zfy6pKgUs); hopefully that's okay!

[2021-01-07 01:33] diehlpk commented on #2938
@whedon add @FreddieWitherden as reviewer

[2021-01-07 01:33] whedon commented on #2938
OK, @FreddieWitherden is now a reviewer

[2021-01-07 01:33] diehlpk commented on #2938
@whedon add @pbauman as reviewer

[2021-01-07 01:34] whedon commented on #2938
OK, @pbauman is now a reviewer

[2021-01-07 01:34] diehlpk commented on #2938
Thanks, @FreddieWitherden and @pbauman for doing the review.

[2021-01-07 01:34] diehlpk commented on #2938
@whedon start review

[2021-01-07 01:34] whedon opened #2945 "[REVIEW]: libCEED: Fast algebra for high-order element-based discretizations"
**Submitting author:** @jedbrown (<a href="http://orcid.org/0000-0002-9945-0639">Jed Brown</a>)
**Repository:** <a href="https://github.com/CEED/libCEED" target ="_blank">https://github.com/CEED/libCEED</a>
**Version:** v0.9.0
**Editor:** @diehlpk
**Reviewers:** @thelfer, @FreddieWitherden,
**Archive:** <a href="https://doi.org/10.5281/zenodo.5080235" target="_blank">10.5281/zenodo.5080235</a>

**

[2021-01-07 01:34] whedon commented on #2938
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2945.

[2021-01-07 01:34] #2938 closed

[2021-01-07 01:34] whedon commented on #2945
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @thelfer, @FreddieWitherden, @pbauman it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our bl

[2021-01-07 01:35] whedon commented on #2945
PDF failed to compile for issue #2945 with the following error:

 Can't find any papers to compile :-(

[2021-01-07 01:42] jedbrown commented on #2945
@whedon generate pdf from branch joss-paper

[2021-01-07 01:42] whedon commented on #2945
[code]

[2021-01-07 01:43] whedon commented on #2945
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02945/joss.02945/10.21105.joss.02945.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02945/joss.02945/10.21105.joss.02945.pdf) :page_facing_up: :point_left:

[2021-01-07 01:46] jedbrown commented on #2945
FYI, we intend to release v0.8.0 no later than March. It's feature-complete from our perspective, but I'd love to include reviewer feedback (which could involve API changes). In any case, we'll tag v0.8.0 by the time this review completes.

[2021-01-07 03:46] sebdalgarno commented on #2848
ok @marcosvital merged the address change. Changes from the review still not merged though - let me know if you'd like me to do that too.

[2021-01-07 03:47] sebdalgarno commented on #2848
@whedon generate pdf

[2021-01-07 03:49] whedon commented on #2848
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02848/joss.02848/10.21105.joss.02848.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02848/joss.02848/10.21105.joss.02848.pdf) :page_facing_up: :point_left:

[2021-01-07 04:00] majensen commented on #2906
@whedon set 10.5281/zenodo.4421955 as archive

[2021-01-07 04:00] whedon commented on #2906
OK. <a href="https://doi.org/10.5281/zenodo.4421955" target="_blank">10.5281/zenodo.4421955</a> is the archive.

[2021-01-07 04:00] majensen commented on #2906
@whedon set 10.2.0 as version

[2021-01-07 04:00] whedon commented on #2906
OK. 10.2.0 is the version.

[2021-01-07 04:01] majensen commented on #2906
@whedon accept

[2021-01-07 04:01] whedon commented on #2906
[code]

[2021-01-07 04:01] whedon commented on #2906
[code]

[2021-01-07 04:02] whedon commented on #2906
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2015

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2015, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-07 04:03] majensen commented on #2726
@brantapl  @bwkchee can I hear from you about any progress on this work, in particular https://github.com/JHUAPL/PINE/issues/17 which is blocking review?
Thanks

[2021-01-07 06:39] kanishkan91 commented on #2890
@dhhagan @sahilseth Do let us know if you need anything with respect to this from our side. Thank you!

[2021-01-07 08:11] sjpfenninger commented on #2765
@GustaveCoste Apologies for the holiday-induced delay. The author list of the archive deposition needs to match the author list of the paper. Can you fix that?

[2021-01-07 08:15] sjpfenninger commented on #2677
@TheoChristiaanse If I understand correctly you are still working on addressing reviewer comments which will be done in version pre2.0 -- can you update here on the thread once that is ready? Then we can proceed.

[2021-01-07 09:20] whedon commented on #2927
:wave: @tweed1e, please update us on how your review is going.

[2021-01-07 09:20] whedon commented on #2927
:wave: @MilesMcBain, please update us on how your review is going.

[2021-01-07 09:22] will-rowe commented on #2817
@whedon set 10.5281/zenodo.4422091 as archive

[2021-01-07 09:22] whedon commented on #2817
OK. <a href="https://doi.org/10.5281/zenodo.4422091" target="_blank">10.5281/zenodo.4422091</a> is the archive.

[2021-01-07 09:23] will-rowe commented on #2817
@whedon set v1.0.2b as version

[2021-01-07 09:23] whedon commented on #2817
OK. v1.0.2b is the version.

[2021-01-07 09:24] will-rowe commented on #2817
@whedon accept

[2021-01-07 09:24] whedon commented on #2817
[code]

[2021-01-07 09:25] jcolomb commented on #2282
thanks, happy new year. We are back in hardcore lockdown (i.e. schools are closed) so it might be delayed a bit more, I will give updates weekly. Sorry again for the delays, and thank you for your patience. @mikerspencer thank you again for the tips, I did the first part if you have time to have a look, "only" the SVM analysis has not been tested. You may want to review here: https://github.com/jc

[2021-01-07 09:25] whedon commented on #2817
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2016

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2016, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-07 09:26] whedon commented on #2817
[code]

[2021-01-07 10:50] michakraus commented on #2926
Thanks, I added the DOI.

Potential reviewers from the list are ChrisRackauckas, Datseris and ranocha.

[2021-01-07 10:59] arfon commented on #2941
OK, thanks for confirming. I'm afraid this means that this submission is out of scope for JOSS due to our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion. You can read more about the motivations for this decision in our [blog post](https://blog.joss.theoj.org/2020/07/minimum-publishable-unit).

One possible alternative to

[2021-01-07 10:59] arfon commented on #2941
@whedon reject

[2021-01-07 10:59] whedon commented on #2941
Paper rejected.

[2021-01-07 10:59] #2941 closed

[2021-01-07 11:12] krober10nd commented on #2687
Hope the time off was relaxing! Please let me know if there’s anything else to be done. Thank you. @meg-simula

[2021-01-07 13:01] GustaveCoste commented on #2765
@sjpfenninger I just changed the authors of the archive.

[2021-01-07 14:00] gradvohl commented on #2932
# Review itens for JOSS paper #2932
**Paper title**: sboxgates: A program for finding low gate count implementations of S-boxes

## Review criteria
* A list of the authors of the software: :heavy_check_mark:
* Author affiliations: :heavy_check_mark:
* A summary describing the high-level functionality and purpose of the software for a diverse, non-specialist audience: :heavy_check_mark:
* A clear s

[2021-01-07 14:24] wuruchi commented on #2924
@whedon generate pdf

[2021-01-07 14:25] arfon commented on #2906
@whedon accept deposit=true

[2021-01-07 14:25] whedon commented on #2906
[code]

[2021-01-07 14:26] whedon commented on #2924
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02924/joss.02924/10.21105.joss.02924.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02924/joss.02924/10.21105.joss.02924.pdf) :page_facing_up: :point_left:

[2021-01-07 14:27] whedon commented on #2906
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1347188133012660224) 👈 🐦🐦🐦

[2021-01-07 14:27] whedon commented on #2906
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2017
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02906](https://doi.org/10.21105/joss.02906)
2. If everything looks g

[2021-01-07 14:28] wuruchi commented on #2924
@whedon commands

[2021-01-07 14:28] whedon commented on #2924
Here are some things you can ask me to do:

[code]

[2021-01-07 14:28] wuruchi commented on #2924
@whedon generate pdf

[2021-01-07 14:30] whedon commented on #2924
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02924/joss.02924/10.21105.joss.02924.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02924/joss.02924/10.21105.joss.02924.pdf) :page_facing_up: :point_left:

[2021-01-07 14:33] arfon commented on #2906
@dcnickle, @Maghnuso - many thanks for your reviews here and to @majensen for editing this submission. JOSS relies upon the volunteer efforts of folks like yourselves, and we simply couldn't do this without you! ✨

@huddlej - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-01-07 14:33] #2906 closed

[2021-01-07 14:33] whedon commented on #2906
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02906/status.svg)](https://doi.org/10.21105/joss.02906)

**We need your help!**

Journal of Open Source Softwa

[2021-01-07 14:39] majensen commented on #2906
@huddlej thanks very much for choosing JOSS for this very nice work. Keep on with the outstanding efforts you and your colleagues are making; it is making a difference in the real world.

[2021-01-07 14:53] arfon commented on #1917
@trallard - happy new year! I think we should go ahead and find an alternative reviewer here.

[2021-01-07 14:58] arfon commented on #2131
I agree it may be good to have @adi3 and @breezykermo take on the review here together.

I just pinged @poulson to see if he can come and make a decision here about how to proceed.

[2021-01-07 15:52] jedbrown commented on #2936
@whedon set @jedbrown as editor

[2021-01-07 15:52] whedon commented on #2936
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-01-07 15:57] jedbrown commented on #2936
@whedon assign @jedbrown as editor

[2021-01-07 15:57] whedon commented on #2936
OK, the editor is @jedbrown

[2021-01-07 16:19] jedbrown commented on #2936
Hi, @jcorbino. :wave:  At first glance, I'm curious if the documentation is rendered somewhere and how one goes about testing the software. The documentation looks to be a mix of PDF files of unknown origin and some generated Doxygen docs that have been committed to the repository. It's quite easy these days to use an action to build a GitHub Pages site containing rendered documentation. And there

[2021-01-07 16:36] kbarnhart commented on #2883
@kadyb thanks for those updates and clarification regarding the license files.

@adamhsparks thank you for your willingness to review.

[2021-01-07 16:37] kbarnhart commented on #2883
@whedon add @adamhsparks as reviewer

[2021-01-07 16:37] whedon commented on #2883
OK, @adamhsparks is now a reviewer

[2021-01-07 16:38] volkerblum commented on #2767
Hi @jgostick and @Kokookster - Happy 2021! I stayed silent earlier since @Kokookster handled everything expertly ... just wanted to carefully ask if anything is missing for the paper from our (author) side or if we are in principle all set. No problem if all set (I thought we are), just wanted to make sure. Thank you very much for all of this! Best wishes, Volker

[2021-01-07 16:38] kbarnhart commented on #2883
@jhollist and @nuest thank you for your prompt responses.

[2021-01-07 16:42] jgostick commented on #2767
Sorry for the delay...just emerging from vacay mode.  I think things are ready now.  I will process shortly.

[2021-01-07 16:43] jgostick commented on #2767
@whedon set 10.5281/zenodo.4386436 as archive

[2021-01-07 16:44] whedon commented on #2767
OK. <a href="https://doi.org/10.5281/zenodo.4386436" target="_blank">10.5281/zenodo.4386436</a> is the archive.

[2021-01-07 16:44] jgostick commented on #2767
@whedon set v1.0.2 as version

[2021-01-07 16:44] whedon commented on #2767
OK. v1.0.2 is the version.

[2021-01-07 16:46] jgostick commented on #2767
@whedon accept

[2021-01-07 16:46] whedon commented on #2767
[code]

[2021-01-07 16:47] whedon commented on #2767
PDF failed to compile for issue #2767 with the following error:

 Can't find any papers to compile :-(

[2021-01-07 16:49] whedon commented on #2767
[code]

[2021-01-07 16:49] kbarnhart commented on #2883
:wave: @jayrobwilliams @mikerspencer @sjsrey @boshek would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue which is used to find reviewers. Once 1-2 additional reviewers are found, I'll start the review on a dedicated

[2021-01-07 16:57] kbarnhart commented on #2903
:wave: @molgor, @kmarkert, @martinfleis, and @bradyrx, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue which is used to find reviewers. Once 2-3 reviewers have been found I'll start the review on a dedicated Git

[2021-01-07 16:59] jgostick commented on #2767
I don't understand the failed paper compilation thing.  An EiC will drop by to finalize the acceptance, so hopefully they'll have some insight.

[2021-01-07 16:59] jgostick commented on #2767
@whedon generate pdf

[2021-01-07 17:02] whedon commented on #2767
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02767/joss.02767/10.21105.joss.02767.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02767/joss.02767/10.21105.joss.02767.pdf) :page_facing_up: :point_left:

[2021-01-07 17:04] volkerblum commented on #2767
Great - yes, everything sounds good! Thank you so much! Hopefully the remaining issue can be resolved. We're very excited and happy about the paper and process.

Best wishes again!
Volker

[2021-01-07 17:08] kbarnhart commented on #2896
@giswqs thanks for confirming the Arc license requirements and recommending reviewers.

[2021-01-07 17:22] kbarnhart commented on #2896
:wave: @sgrieve @laijingtao @mikejohnson51 @r-barnes would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This submission includes an ArcGIS toolbox, as well as a python package that implements similar functionality. Thus, it is important that

[2021-01-07 17:25] martinfleis commented on #2903
@kbarnhart the scope seems to be quite distant from what I normally do. I am not entirely comfortable reviewing this. Sorry.

[2021-01-07 17:28] kbarnhart commented on #2937
@jonschwenk thanks for pointing me to the test instructions. That is sufficient. I had managed to miss that. 🤦

Regarding citations. One of the review criteria in the checklist that reviewers will use states

Thus I recommend adding citations to the paper to reference software used to construct RivGraph.

Let me know if that doesn't address your question.

Also, please let me know if you have reco

[2021-01-07 17:30] arfon commented on #2767
@whedon accept

[2021-01-07 17:30] whedon commented on #2767
[code]

[2021-01-07 17:31] kbarnhart commented on #2903
@martinfleis thank you for your prompt response.

[2021-01-07 17:32] whedon commented on #2767
[code]

[2021-01-07 17:32] whedon commented on #2767
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2018

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2018, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-07 18:43] jbuisine commented on #2812
Hello @melissawm, @stsievert, @torressa

First of all, I would like to apologise for the delay in responding to your comments. I would like to thank you for your very good remarks, I have modified the document (paper), the package and the documentation accordingly. Please find below my comments in relation to your various questions/comments.

The comments to the different questions are answered fo

[2021-01-07 18:44] jbuisine commented on #2812
@whedon generate pdf

[2021-01-07 18:46] whedon commented on #2812
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: :point_left:

[2021-01-07 19:07] mikerspencer commented on #2883
Yep, I'm happy to have a look at this - many thanks for the invite.

[2021-01-07 19:29] ebarojas commented on #2941
@arfon thanks for the quick response:  in this case, was this decision made on the number of lines of code?

According to the criteria you cited, it would be flagged if less than 1,000 lines of code and desk-rejected if less than 300. By my count I'm roughly at 450. Please provide a bit more depth so I can resubmit once criteria are met.

[2021-01-07 20:12] robfalck commented on #2809
@goerz

Thank you for your feedback.  My coauthors and I agree with your point about broadening the audience and have added more detail there.  We added a discussion and diagrams covering more use-cases for more multidisciplinary/co-design applications.  While you're right that optimal control often involves modeling the static system model as part of the ODE, in our experience there are applicati

[2021-01-07 20:34] williamjameshandley commented on #2784
Subject to the change suggested by @kexinrong above I'm happy to approve this for publication now

[2021-01-07 20:42] eloisabentivegna commented on #2823
@suchitakulkarni, could you post an update on your review? Thanks!

[2021-01-07 21:03] lzkelley commented on #2784
@kexinrong thanks for pointing that out!  I clarified (and cleaned up) the discussion about other packages.  New version is pushed to master.

@whedon generate pdf

[2021-01-07 21:29] mbobra commented on #2931
@whedon assign @munkm as reviewer

[2021-01-07 21:29] whedon commented on #2931
OK, @munkm is now a reviewer

[2021-01-07 21:42] matthewfeickert commented on #2823
@eloisabentivegna @bradkav Just popping in here to note that I'll get some follow up to @bradkav's last review &mdash; thanks for it too! &mdash; (and anything that @suchitakulkarni has) soon. The `pyhf` dev team all took the winter holidays off entirely and we're now trying to fight through 2 weeks of email, but we'll reply soon.

[2021-01-07 21:43] xuanxu commented on #2825
@Jammy2211 Did you have the chance to address the pending issues?

[2021-01-07 21:50] arfon commented on #2941
Yes, the LOC was the primary decision point here. I used [this report](https://github.com/openjournals/joss-reviews/issues/2941#issuecomment-754448483) to make my decision, which reports ~250 lines of Python.

[2021-01-07 21:51] arfon commented on #2784
@whedon generate pdf

@lzkelley - messages to Whedon have to be on the first line of a comment ☝️

[2021-01-07 21:52] whedon commented on #2784
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02784/joss.02784/10.21105.joss.02784.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02784/joss.02784/10.21105.joss.02784.pdf) :page_facing_up: :point_left:

[2021-01-07 21:55] arfon commented on #2767
@whedon accept

[2021-01-07 21:55] whedon commented on #2767
[code]

[2021-01-07 21:56] whedon commented on #2767
[code]

[2021-01-07 21:57] whedon commented on #2767
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2019

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2019, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-07 21:57] lzkelley commented on #2784
Woops, thanks @arfon !

[2021-01-07 22:04] arfon commented on #2767
@whedon accept deposit=true

[2021-01-07 22:04] whedon commented on #2767
[code]

[2021-01-07 22:06] whedon commented on #2767
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1347303651300290566) 👈 🐦🐦🐦

[2021-01-07 22:06] whedon commented on #2767
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2020
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02767](https://doi.org/10.21105/joss.02767)
2. If everything looks g

[2021-01-07 22:12] arfon commented on #2767
@marshallmcdonnell, @jgostick - many thanks for your reviews here and to @jgostick for editing this submission too! JOSS relies upon the volunteer efforts of folks like yourselves and we simply wouldn't be able to do this without you ✨.

@Kokookster - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-01-07 22:12] #2767 closed

[2021-01-07 22:12] whedon commented on #2767
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02767/status.svg)](https://doi.org/10.21105/joss.02767)

**We need your help!**

Journal of Open Source Softwa

[2021-01-07 22:13] jcorbino commented on #2936
Hi @jedbrown, thank you for your feedback. This is basically what we have (documentation-wise):

**#1** _mole/doc_C++_  is our Doxygen generated documentation for the C++ version of the library
**#2** _mole/doc_MATLAB_ is the API documentation for MOLE's MATLAB version (generated through m2html)
**#3** _mole/MOLE User's Manual (MATLAB version).pdf_ is a short document that explains the resolution

[2021-01-07 22:27] arfon commented on #2817
@akrinos - could you please merge this PR before we proceed?

[2021-01-07 23:37] akrinos commented on #2817
I merged it in, thanks @arfon!

[2021-01-07 23:43] ebarojas commented on #2941
There is relevant code in [this](https://github.com/ebarojas/RI5C/blob/master/ri5c/show_graph.html) file, esp. after line 40, which that report counts as HTML but is js inside a <script> tag.

[2021-01-08 08:05] glyg commented on #2888
Hi @pdebuyl happy new year!

 I'm tagging @sophietheis here so she can follow the process
Best

Guillaume

[2021-01-08 08:23] VivianePons commented on #2932
@whedon add @gcdeshpande as reviewer

[2021-01-08 08:23] whedon commented on #2932
OK, @gcdeshpande is now a reviewer

[2021-01-08 08:23] VivianePons commented on #2932
@whedon start review

[2021-01-08 08:23] whedon opened #2946 "[REVIEW]: sboxgates: A program for finding low gate count implementations of S-boxes"
**Submitting author:** @dansarie (<a href="http://orcid.org/0000-0001-9246-0263">Marcus Dansarie</a>)
**Repository:** <a href="https://github.com/dansarie/sboxgates" target ="_blank">https://github.com/dansarie/sboxgates</a>
**Version:** v2.0.0
**Editor:** @VivianePons
**Reviewers:** @gradvohl, @HeshamAlsaadi
**Archive:** <a href="https://doi.org/10.5281/zenodo.4954685" target="_blank">10.5281/zen

[2021-01-08 08:23] whedon commented on #2932
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2946.

[2021-01-08 08:23] #2932 closed

[2021-01-08 08:23] whedon commented on #2946
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gradvohl, @gcdeshpande it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-01-08 08:24] whedon commented on #2946
PDF failed to compile for issue #2946 with the following error:

 Can't find any papers to compile :-(

[2021-01-08 08:26] VivianePons commented on #2946
@whedon generate pdf from branch joss

[2021-01-08 08:26] whedon commented on #2946
[code]

[2021-01-08 08:27] whedon commented on #2946
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: :point_left:

[2021-01-08 08:31] VivianePons commented on #2946
Hi, we now have two reviewers and we move the discussion here.

@gradvohl has already made some comments [over here, in the pre-review issue](https://github.com/openjournals/joss-reviews/issues/2932#issuecomment-756133402)  . @dansarie can you have a look?

Thank you very much to @gradvohl and  @gcdeshpande let me know if you have issues or questions

[2021-01-08 09:03] arfon commented on #2817
@whedon accept

[2021-01-08 09:03] whedon commented on #2817
[code]

[2021-01-08 09:05] whedon commented on #2817
[code]

[2021-01-08 09:05] whedon opened #2947 "[PRE REVIEW]: Coral: a parallel spectral solver for fluid dynamics and partial differential equations"
**Submitting author:** @benmql (<a href="http://orcid.org/0000-0001-6283-0382">BENJAMIN MIQUEL</a>)
**Repository:** <a href="https://github.com/BenMql/coral" target ="_blank">https://github.com/BenMql/coral</a>
**Version:** v1.0.1
**Editor:** @eloisabentivegna
**Reviewers:** @robertsawko, @rhaas80
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2021-01-08 09:05] whedon commented on #2947
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-08 09:06] whedon commented on #2947
[code]

[2021-01-08 09:06] whedon commented on #2947
[code]

[2021-01-08 09:06] whedon commented on #2817
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2021

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2021, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-08 09:07] whedon commented on #2947
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02947/joss.02947/10.21105.joss.02947.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02947/joss.02947/10.21105.joss.02947.pdf) :page_facing_up: :point_left:

[2021-01-08 09:08] arfon commented on #2817
@whedon accept deposit=true

[2021-01-08 09:08] whedon commented on #2817
[code]

[2021-01-08 09:10] whedon commented on #2817
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1347470829366497282) 👈 🐦🐦🐦

[2021-01-08 09:10] whedon commented on #2817
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2022
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02817](https://doi.org/10.21105/joss.02817)
2. If everything looks g

[2021-01-08 09:17] arfon commented on #2817
@johanneswerner, @jcmcnch - many thanks for your reviews here and to @will-rowe for editing this submission. JOSS relies upon the volunteer efforts of folks like yourselves and we simply couldn't do this without you! ✨

@akrinos - your paper is now accepted into JOSS :zap::rocket::boom:

[2021-01-08 09:17] #2817 closed

[2021-01-08 09:17] whedon commented on #2817
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02817/status.svg)](https://doi.org/10.21105/joss.02817)

**We need your help!**

Journal of Open Source Softwa

[2021-01-08 10:08] Kokookster commented on #2767
@jgostick, @marshallmcdonnell,  @arfon Thanks for this terrific review! It was very helpful for me and the whole project! Not only this review, but all the requirements for submission are an excellent guide for bringing the software project into good shape!

[2021-01-08 10:56] VivianePons commented on #2926
@whedon assign @ChrisRackauckas as reviewer

[2021-01-08 10:56] whedon commented on #2926
OK, @ChrisRackauckas is now a reviewer

[2021-01-08 13:17] oalii commented on #2831
Hi @Kevin-Mattheus-Moerman and reviewers,

All the best for this coming new year. Hope you are all doing well despite the gloomy context...

A quick message to catch up on the reviewing process after the holiday season. Just before the Christmas break, we added some new examples of use to address the concerns raised by reviewer @chennachaos, changed the licence and responded to the questions raise

[2021-01-08 14:29] dansarie commented on #2946
@VivianePons I looked over @gradvohl's comments and updated the repo. Responses below.

This did not come with any clarification. Testing is done by Travis CI automatically on each commit. I've updated the readme to make this clearer.

All documentation of functions has been moved to header files and all parameters should now be documented.

After testing, the required CMake version has been lower

[2021-01-08 14:31] dansarie commented on #2946
@whedon generate pdf from branch joss

[2021-01-08 14:31] whedon commented on #2946
[code]

[2021-01-08 14:32] whedon commented on #2946
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: :point_left:

[2021-01-08 14:43] foeroyingur commented on #2768
Sorry for the long delay! I've finally started the review. I created a couple of issues related to build instructions and test for parallel execution of pmd.

[2021-01-08 15:31] pdebuyl commented on #2888
Happy new year @glyg :-)

I have proceeded with email invitations, I'll let you know of course when there is an update. Sorry that this is taking so long.

[2021-01-08 15:37] glyg commented on #2888
No worries, there's no rush

[2021-01-08 15:49] benjaminrose commented on #2877
@JostMigenda, I think this is really close. I see a few final tweaks that I think are needed before acceptance.

- [ ] Can you add a description of the available support options to the documentation? If it is just community (aka not lead by you) support centered around the GitHub issues, that is reasonable.
- [ ] I agree with @bradkav, please add a description on how to obtain the example fluxes f

[2021-01-08 19:20] sara-02 commented on #2918
Hello @arfon I too would like to review this package.

[2021-01-08 20:09] kbarnhart commented on #2883
@whedon add @mikerspencer as reviewer

[2021-01-08 20:09] whedon commented on #2883
OK, @mikerspencer is now a reviewer

[2021-01-08 20:10] kbarnhart commented on #2883
@whedon start review

[2021-01-08 20:10] whedon opened #2948 "[REVIEW]: rgugik: Search and Retrieve Spatial Data from the Polish Head Office of Geodesy and Cartography in R"
**Submitting author:** @kadyb (<a href="http://orcid.org/0000-0002-8614-3816">Krzysztof Dyba</a>)
**Repository:** <a href="https://github.com/kadyb/rgugik" target ="_blank">https://github.com/kadyb/rgugik</a>
**Version:** v0.2.1
**Editor:** @kbarnhart
**Reviewer:** @adamhsparks, @mikerspencer
**Archive:** <a href="https://doi.org/10.5281/zenodo.4606706" target="_blank">10.5281/zenodo.4606706</a>

[2021-01-08 20:10] whedon commented on #2883
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2948.

[2021-01-08 20:10] #2883 closed

[2021-01-08 20:10] whedon commented on #2948
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adamhsparks, @mikerspencer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-01-08 20:11] whedon commented on #2948
[code]

[2021-01-08 20:11] whedon commented on #2948
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02948/joss.02948/10.21105.joss.02948.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02948/joss.02948/10.21105.joss.02948.pdf) :page_facing_up: :point_left:

[2021-01-08 23:21] arfon commented on #2781
:wave: @darothen - happy new year! Just checking in on your review here.

[2021-01-08 23:23] arfon commented on #2886
:wave: @kakiac - happy new year! Just a friendly reminder that this submission is still waiting for reviewers to be assigned.

[2021-01-08 23:26] arfon commented on #2731
:wave: @essepuntato, @alexdma - happy new year! From the looks of things, neither of you have made any progress on your reviews here. Do you think you might be able to complete your initial review in the next two weeks?

[2021-01-08 23:27] arfon commented on #2900
@marcosvital - I think this is ok to proceed to review.

[2021-01-09 00:05] jdmoorman commented on #2862
Same.

[2021-01-09 00:12] alemermartinez commented on #2929
I am sorry for having mentioned the possible reviewers.

In order to separate the paper from the software, I was suggested to have the paper on a specific branch of the software repository and not in the master one.
This submission is a re-submission because in the first attempt the paper was stored in a different GitHub repository from the one containing the software.

https://github.com/openjour

[2021-01-09 10:47] arfon commented on #2918
:zap: thanks @sara-02! Given we've got two offers of reviewers here I'm going to take on this submission and get it started.

[2021-01-09 10:47] arfon commented on #2918
@whedon assign me as editor

[2021-01-09 10:47] whedon commented on #2918
OK, the editor is @arfon

[2021-01-09 10:47] arfon commented on #2918
@whedon add @adi3 as reviewer

[2021-01-09 10:47] whedon commented on #2918
OK, @adi3 is now a reviewer

[2021-01-09 10:48] arfon commented on #2918
@whedon add @sara-02 as reviewer

[2021-01-09 10:48] whedon commented on #2918
OK, @sara-02 is now a reviewer

[2021-01-09 10:48] arfon commented on #2918
@whedon start review

[2021-01-09 10:48] whedon opened #2949 "[REVIEW]: NiaAML: AutoML framework based on stochastic population-based nature-inspired algorithms"
**Submitting author:** @lukapecnik (<a href="http://orcid.org/0000-0002-3897-9774">Luka Pečnik</a>)
**Repository:** <a href="https://github.com/lukapecnik/NiaAML" target ="_blank">https://github.com/lukapecnik/NiaAML</a>
**Version:** 1.1.0
**Editor:** @arfon
**Reviewer:** @adi3, @sara-02
**Archive:** <a href="https://doi.org/10.5281/zenodo.4782445" target="_blank">10.5281/zenodo.4782445</a>

**:wa

[2021-01-09 10:48] whedon commented on #2918
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2949.

[2021-01-09 10:48] #2918 closed

[2021-01-09 10:48] whedon commented on #2949
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adi3, @sara-02 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2021-01-09 10:48] whedon commented on #2949
[code]

[2021-01-09 10:48] arfon commented on #2918
@adi3, @sara-02 - many thanks for agreeing to review this submission. See you over in #2949 where the actual review will take place.

[2021-01-09 10:49] whedon commented on #2949
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02949/joss.02949/10.21105.joss.02949.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02949/joss.02949/10.21105.joss.02949.pdf) :page_facing_up: :point_left:

[2021-01-09 10:49] arfon commented on #2949
@adi3, @sara-02 - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There

[2021-01-09 11:34] Jammy2211 commented on #2550
All done :)

[2021-01-09 13:01] Jammy2211 commented on #2825
Getting there, I've discovered how mind-blowingly-amazing binder is thanks to the review and am restructing some of the docs / turorials around it!

I should have things wrapped up next week :).

[2021-01-09 13:08] dmey commented on #2863
@whedon generate pdf from branch joss-paper

[2021-01-09 13:08] whedon commented on #2863
[code]

[2021-01-09 13:09] whedon commented on #2863
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: :point_left:

[2021-01-09 13:12] dmey commented on #2863
@khinsen in the meantime I have updated the paper and added two recent data generation tools at the end of the second paragraph -- the ones you suggested do not appear to be maintained. I have also removed the example application as I think it did not add much to the paper (it's already on the website and readme) and were issues with the layout.

[2021-01-09 13:13] dmey commented on #2863
@mnarayan would you have any update re this please?

[2021-01-09 14:00] adi3 commented on #2949
@lukapecnik thank you for your submission to JOSS. Your paper is a great start, but can do with a few modifications. Here are a few recommendations:

1. The summary section gets a little repetitive. For instance:
- "The framework incorporates stochastic population-based nature-inspired algorithms to search for the best classification pipeline"
- "NiaAML is slightly different, regarding the search

[2021-01-09 14:55] gradvohl commented on #2946
# Review itens for JOSS paper #2946
**Paper title**: sboxgates: A program for finding low gate count implementations of S-boxes
**Review round two**

## Review criteria
* A list of the authors of the software: :heavy_check_mark:
* Author affiliations: :heavy_check_mark:
* A summary describing the high-level functionality and purpose of the software for a diverse, non-specialist audience: :heavy_ch

[2021-01-09 16:06] dhhagan commented on #2890
@kanishkan91 I will take a deeper look at this over the next 48 hours and get back to you.

[2021-01-09 18:23] melissawm commented on #2744
Hello, @kfhiga ! The only remaining issue that I'm trying to check is the multiple license files. I'm checking if this is compatible with JOSS guidelines and how we can proceed to make sure this is resolved. I'll let you know as soon as I have an answer. Thanks for your patience!

[2021-01-09 18:41] melissawm commented on #2895
@whedon assign @sjvrijn as reviewer

[2021-01-09 18:41] whedon commented on #2895
OK, @sjvrijn is now a reviewer

[2021-01-09 18:45] melissawm commented on #2895
Hello, @petroniocandido! Would you be willing/available to review this submission for JOSS?

[2021-01-09 18:49] jcorbino commented on #2936
@jedbrown "User's manual" has been updated. Thanks for pointing that out!

Regarding having a more detailed GitHub page (so the different elements of documentation can be accessed from an index.md), currently I'm getting myself familiar with the creation process (I think it is a good addition), but as I mentioned in my previous comment, this has low priority.

[2021-01-10 02:13] jonschwenk commented on #2937
Ok, I didn't see a way to organically work the dependency refs into the paper so I just added a new section for that.

Here are some possible reviewers:
Erik Nesvold - https://github.com/eriknes
Charlie Marshak (author of "competing" package Orinoco) - https://scienceandtechnology.jpl.nasa.gov/charlie-marshak
Allison Pfeiffer or Jon Czuba

From JOSS list (Python preferred, 'network' or 'geomorphol

[2021-01-10 04:58] MilesMcBain commented on #2927
Hi @whedon and @afron Things are progressing smoothly so far. I'm part-way through verifying the functionality. I don't anticipate this software generating major issues or requiring extra time based on what I have seen so far. :+1:

[2021-01-10 11:06] mengaldo commented on #2862
@jdmoorman Yes, I confirm that!
I would want to add Romit Maulik as an author instead of a contributor. I will update the author list accordingly.

[2021-01-10 11:07] mengaldo commented on #2862
@eloisabentivegna I will respond to the various issues raised over the next few weeks, as it is a quite busy period. Hope this is OK.

[2021-01-10 12:37] Mmj94 commented on #2578
Hi @jni and @emilljungberg,

First o all, sorry for my delayed response (winter break + deadlines).

We believe that we could do 3D data acquisition if that's what you require for publication.
However, could you be a bit more specific about it?

We wondered if you mean 3D multi-slice acquisition, which is already supported, or you mean 3D k-space trajectory acquisition. In the case of the latter,

[2021-01-10 18:00] richardjgowers commented on #2919
@sgrieve @bovee this is a little outside of your respective areas but would either of you be free to review this submission?

[2021-01-10 18:03] richardjgowers commented on #2919
@jirhiker if you can think of someone suitable to review this then I'm open to suggestions too!

[2021-01-10 20:18] kfhiga commented on #2744
Hello @melissawm <https://github.com/melissawm>, thank you and no hurry!
I'm grateful for all of the work that goes into running JOSS.
Best regards,
Kenny

On Sat, Jan 9, 2021 at 10:24 AM Melissa Weber Mendonça <
notifications@github.com> wrote:

[2021-01-10 21:35] tweed1e commented on #2927
@whedon pretty slow, but I hope to make progress soon.

[2021-01-10 21:35] whedon commented on #2927
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-01-10 22:14] charleygros commented on #2868
Thanks for your suggestion @jcohenadad. Addressed in this [Pull Request](https://github.com/ivadomed/ivadomed/pull/616).

[2021-01-11 01:35] bradyrx commented on #2903
@kbarnhart, this looks like a really cool package. However, I just defended my PhD and got started up last week in a new position at a company. I'll be plenty swamped with onboarding and getting spun up with the team for awhile. I'll have to evaluate after a few months there if I have time to still review at JOSS, but will update you all once I know better there. Best of luck, @ghislainv!

[2021-01-11 02:39] charleygros commented on #2868
Many thanks for taking the time to review our work and providing valuable feedback @NMontanaBrown!

Thank you for raising this point! We followed your advice by:
- Opening a Feature Request to add compatibility to Windows → https://github.com/ivadomed/ivadomed/issues/604
- Adding  explanation for Windows incompatibility in installation docs → https://github.com/ivadomed/ivadomed/pull/605
- Specify

[2021-01-11 04:01] r-barnes commented on #2575
@KristinaRiemer : I can't seem to mark things off in my designated reviewer checklist above. Is there anything I can do about that? If not, I can keep track manually.

[2021-01-11 06:53] csoneson commented on #2864
@xie186 - could you clarify the last point in your review above?

[2021-01-11 07:16] Hazboun6 commented on #2757
@mbobra I keep holding back on answering you thinking that I will be done with all of the changes we'd like to make. We are _almost_ done on our end. I spent a good amount of time on the docs today and I have been closing the various Issues in our GitHub repo. I don't think we need any help at this point but I appreciate the offer. Is there a hard deadline for these responses?

[2021-01-11 07:46] hugoledoux commented on #2869
👋 @chrisbrunsdon, please update us on how your review is going

[2021-01-11 07:48] hugoledoux commented on #2690
thanks @npetra , could you check the list items above please if all is satisfactory?

[2021-01-11 07:49] hugoledoux commented on #2690
👋 @sgkang, please update us on how your review is going, the authors have addressed your comments and we're waiting for your comments on those.

[2021-01-11 08:13] eloisabentivegna commented on #2862
Certainly!

[2021-01-11 08:19] hugoledoux commented on #2933
if @usethedata cannot, I could do this. I teach with QGIS and I know some people in the SAR community

[2021-01-11 08:24] NMontanaBrown commented on #2868
Hi @charleygros, thanks for the response, the reference for DeepReg is accurate in your able. Now just waiting on resolution of [the docs update re Windows](https://github.com/ivadomed/ivadomed/pull/605), then all good to go from me 😄

[2021-01-11 08:34] wkirgsn commented on #2498
Hi @Kevin-Mattheus-Moerman,
since Zenodo still gives me an internal server error upon clicking on "publish", whereas "saving" the changes went fine, I come to think that the required changes just happened already and there is no need to re-publish the changes (albeit showing the internal server error and a big blue publish button a somewhat confusing user experience is).

Can you confirm that the

[2021-01-11 08:50] timtroendle commented on #2914
👋 @Chilipp, @krischer, would any of you be willing to review this submission for JOSS?

[2021-01-11 08:54] whedon opened #2950 "[PRE REVIEW]: uDALES: large-eddy-simulation software for urban flow, dispersion, and microclimate modelling"
**Submitting author:** @tomgrylls (<a href="http://orcid.org/0000-0002-0948-4932">Tom Grylls</a>)
**Repository:** <a href="https://github.com/uDALES/u-dales" target ="_blank">https://github.com/uDALES/u-dales</a>
**Version:** 1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @wimvanderbauwhede, @p-costa,  @ashwinvis
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warni

[2021-01-11 08:54] whedon commented on #2950
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-11 08:54] whedon opened #2951 "[PRE REVIEW]: OpenRepGrid.ic: A software for Interpretive Clustering"
**Submitting author:** @markheckmann (<a href="http://orcid.org/0000-0002-0736-7417">Mark Heckmann</a>)
**Repository:** <a href="https://github.com/markheckmann/OpenRepGrid.ic" target ="_blank">https://github.com/markheckmann/OpenRepGrid.ic</a>
**Version:** v0.5.0
**Editor:** @gkthiruvathukal
**Reviewers:** @aj2duncan, @brunaw
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :w

[2021-01-11 08:54] whedon commented on #2951
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-11 08:55] whedon commented on #2950
[code]

[2021-01-11 08:55] whedon commented on #2950
PDF failed to compile for issue #2950 with the following error:

 Can't find any papers to compile :-(

[2021-01-11 08:55] whedon commented on #2951
[code]

[2021-01-11 08:56] arfon commented on #2950
@whedon generate pdf from branch joss-paper

[2021-01-11 08:56] whedon commented on #2950
[code]

[2021-01-11 08:56] whedon commented on #2951
PDF failed to compile for issue #2951 with the following error:

 Can't find any papers to compile :-(

[2021-01-11 08:57] whedon commented on #2950
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02950/joss.02950/10.21105.joss.02950.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02950/joss.02950/10.21105.joss.02950.pdf) :page_facing_up: :point_left:

[2021-01-11 09:02] mikldk commented on #2929
@alemermartinez ,

I suggest to have the software and the paper in the same repo in the same branch. Potentially, you can have the paper (paper.md + misc) in its own branch (which is just as fine if you prefer that). So that you totally have one copy of the software and one copy of the paper, potentially across multiple branches. Now you have one copy of the software (the package) in each branch.

[2021-01-11 09:52] sjpfenninger commented on #2765
@whedon set 10.15454/6EKXJQ as archive

[2021-01-11 09:52] whedon commented on #2765
OK. <a href="https://doi.org/10.15454/6EKXJQ" target="_blank">10.15454/6EKXJQ</a> is the archive.

[2021-01-11 09:53] sjpfenninger commented on #2765
Ok, one final issue: the archive says version 1.1, do I need to update the version for the paper to 1.1 too?

[2021-01-11 10:01] GustaveCoste commented on #2765
The 1.1 version of the archive corresponds to the change in the author list in the metadata (for consistency with the paper). The dataset did not change. I don't think it is necessary to change the version for the paper.

[2021-01-11 10:04] VivianePons commented on #2946
Thank you very much @gradvohl for such an effective review. You have left the "Performance" box unchecked is it just a mistake? Can you check?

Thanks

[2021-01-11 10:12] sjpfenninger commented on #2765
@whedon accept

[2021-01-11 10:12] whedon commented on #2765
[code]

[2021-01-11 10:13] whedon commented on #2765
PDF failed to compile for issue #2765 with the following error:

 Can't find any papers to compile :-(

[2021-01-11 10:31] Chilipp commented on #2914
hey @timtroendle! yes, I will be able to review this submission until the end of January

[2021-01-11 10:32] timtroendle commented on #2914
That's great to hear, thanks @Chilipp!

[2021-01-11 11:04] bradkav commented on #2877
Hi @JostMigenda! Thanks for making the latest changes. With https://github.com/JostMigenda/sntools/pull/20 and the latest updates to the readme/documentation, I don't think I have any further comments. Everything seems to run nicely now!

Once the remaining comments raised by @benjaminrose have been addressed, I am very happy to recommend this for publication!

[2021-01-11 11:14] gradvohl commented on #2946
Sorry. It is ok now.
Best.

[2021-01-11 11:32] alexdma commented on #2731
My apologies @arfon - it is certainly no justification that I have moved to a new job and country in the meantime.

I'm trying to work through it but I can't seem to be able to tick any of the checkboxes on my list (code of conduct etc.) - how do I do that? The issue does not seem to be editable.

[2021-01-11 11:47] krischer commented on #2914
Hi @timtroendle

This looks exciting but I currently don't have the capacity to review it. Thanks for considering me.

[2021-01-11 12:01] foeroyingur commented on #2768
The issues I had have been fixed in v0.10.2 so I'm satsified. There are two points that could be improved but are acceptable as far as I can understand. One is the installation where there is a list of dependencies but no package management file. The other is manual testing which should preferably be automated.

[2021-01-11 12:29] krober10nd commented on #2687
Hi @meg-simula any updates on this process?

[2021-01-11 12:36] arfon commented on #2933
⚡ let's do it. Thanks @hugoledoux!

[2021-01-11 12:36] arfon commented on #2933
@whedon assign @hugoledoux as editor

[2021-01-11 12:36] whedon commented on #2933
OK, the editor is @hugoledoux

[2021-01-11 12:38] arfon commented on #2731
@whedon re-invite @alexdma as reviewer

[2021-01-11 12:38] whedon commented on #2731
OK, the reviewer has been re-invited.

@alexdma please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-11 12:38] arfon commented on #2731
Thanks for the update @alexdma. Please accept the invite from @whedon above and then you should be able to update the checklist.

[2021-01-11 12:45] dhhagan commented on #2890
@sahilseth Were you ever able to get access to the repository? I believe your review is the next/last step for this manuscript. Please update us on your progress once you get the chance. Thanks!

[2021-01-11 12:48] dhhagan commented on #2781
@samjsilva91 Would you be available to review this manuscript?

[2021-01-11 12:54] dhhagan commented on #2479
@apalarcon @hertzsprung @kgoebber @openjournals/jose-eics

First, I would like to thank you (@apalarcon) for submitting to JOSS. I hope that, while delayed, this process was useful and helpful for you and your work. Upon review, both reviewers have recommended this manuscript for rejection from JOSS as it currently stands due to the fact it mostly represents smaller utility functions than/should b

[2021-01-11 12:56] timtroendle commented on #2914
Thanks for letting us know, @krischer.

[2021-01-11 13:08] dfm commented on #2550
@whedon generate pdf

[2021-01-11 13:14] arfon commented on #2951
@whedon generate pdf from branch joss

[2021-01-11 13:14] whedon commented on #2951
[code]

[2021-01-11 13:16] whedon commented on #2951
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02951/joss.02951/10.21105.joss.02951.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02951/joss.02951/10.21105.joss.02951.pdf) :page_facing_up: :point_left:

[2021-01-11 13:30] arfon commented on #2550
@whedon generate pdf

[2021-01-11 13:40] whedon commented on #2550
PDF failed to compile for issue #2550 with the following error:

[2021-01-11 13:40] whedon commented on #2550
PDF failed to compile for issue #2550 with the following error:

[2021-01-11 13:45] samjsilva91 commented on #2781
Looks interesting! Before I commit, what turn around time do you need?

[2021-01-11 13:46] dfm commented on #2550
@Jammy2211: It looks like there's some issue with your paper which is causing the compiler to timeout (remotely and locally). I'll look into what's going on a bit more later today.

[2021-01-11 14:25] dhhagan commented on #2781
@samjsilva91 If you could get to it in the next 2-4 weeks, that would be great. Does that sounds reasonable?

[2021-01-11 14:28] labarba commented on #2479
ping @openjournals/joss-eics

[2021-01-11 14:29] samjsilva91 commented on #2781
@dhhagan 2-4 weeks is doable! Happy to review it.

[2021-01-11 14:32] dhhagan commented on #2781
@whedon remove @darothen as reviewer

[2021-01-11 14:32] whedon commented on #2781
OK, @darothen is no longer a reviewer

[2021-01-11 14:32] dhhagan commented on #2781
@whedon add @samjsilva91 as reviewer

[2021-01-11 14:32] whedon commented on #2781
OK, @samjsilva91 is now a reviewer

[2021-01-11 14:33] dhhagan commented on #2781
Thanks so much @samjsilva91 - let me know if you don't get the invite to edit the repository.

[2021-01-11 15:02] darothen commented on #2781
Apologies all - really badly dropped the ball here w/ poor communication and delays. Also a personal apology to @bradyrx - I've been on the receiving end of a delinquent review and it's incredibly frustrating. If there's something I can do to make it up to the community in the future then I'll try to do so.

[2021-01-11 15:24] pdebuyl commented on #2854
@rmorgan10 gentle reminder

[2021-01-11 16:16] ctodd26labs commented on #2882
Hello everyone

Wanted to follow up again with everyone. Is there anything we need to help move this along at this point?

Again, thank you for all f your help on this.

[2021-01-11 16:41] jirhiker commented on #2919
@noahmclean @pvermees are both researchers in my field that are also involved with software

[2021-01-11 17:29] diehlpk commented on #2898
@Kevin-Mattheus-Moerman Maybe Prakash, Naveen or Ross, Stewart could be some potential reviewers. However, I could not find them easily on GitHub.

[2021-01-11 17:39] JonathanReardon commented on #2827
I have the software installed and all seems to be working as expected in terms of performance and functionality. In the README (first paragraph) it might help to be more explicit about what analysis methods you feel are missing from other software packages, and what software packages you are referring to. I would also re-frame the "belts and whistles" (*bells and whistles) sentence, it's quite vag

[2021-01-11 17:41] galessiorob commented on #2805
Hi @fduchatea! I hope you had a nice holiday break 🎄

Checking in on several things so the reviewers can keep doing their work; some of the major issues to work on from your side:
- [ ] [Installation instructions issue](https://gitlab.com/fduchate/predihood/-/issues/1) (kindly opened by @martinfleis)
- [ ] [Clarifying data import and export usability](https://github.com/openjournals/joss-reviews/i

[2021-01-11 17:43] ghislainv commented on #2903
@bradyrx, thanks and good luck with your new position!

@kbarnhart, in response to your first comments, I have included two new sections: "Installation testing" and "Contributing" in the README file of the project. Also, as potential reviewers, I would add @ ecodiv, and @ NikosAlexandris. They are not in the [list of people](https://bit.ly/joss-reviewers) who have already agreed to review for JOSS

[2021-01-11 17:44] rmorgan10 commented on #2854
Hi @pdebuyl, thanks for the ping. I'll be wrapping up my responses @jiwoncpark 's review this week. I believe I'm still waiting on @shreyasbapat 's review though. If possible, I'd like to work on them simultaneously, so @shreyasbapat do you have an estimate for when your comments will be ready?

[2021-01-11 17:48] JonathanReardon commented on #2827
I couldn't see any guidelines for those wanting to contribute, report issues/problems etc. If that is not included, could you add it in? @vahid-sb

[2021-01-11 18:30] pdebuyl commented on #2854
Thanks for the reply @rmorgan10 . Indeed, you can wait for the second review (JOSS allows for both ways of working).

[2021-01-11 18:31] pdebuyl commented on #2854
@shreyasbapat gentle reminder for the review.

The review page was opened more than 6 weeks ago, so it would be nice to have the review soon.

[2021-01-11 18:42] VNNikolaidis commented on #2876
Dear @kakiac , @schnorr , @MohmedSoudy, I would like to inform you that I am in the process of revising the paper to comply with some of your comments.

[2021-01-11 18:49] martibosch commented on #2826
This would be all from my side. Looking forward to hear back from the authors. Let me clear out again that my intention is not to question the criteria of the authors (since they probably know better than me why they have made such choices), but rather ensure that the raised issues have been considered.

Best,
Martí

[2021-01-11 20:03] laijingtao commented on #2896
@kbarnhart Hi Katy, I'm happy to review this submission. Looks like an interesting work. I don't have access to ArcGIS right now so I'll focus on the Python implementation. Hope that's okay.

[2021-01-11 20:28] mbobra commented on #2757
@Hazboun6 Nope, no hard deadline. I wanted to check in to make sure everything is okay. Please take all the time you need.

If you need a lot of time, that is totally fine -- but I in that case, I would pause the submission. All this does is notify the Editors in Chief that this submission will take a bit longer. Practically, all I do is put another label on this issue that says "Paused." In any c

[2021-01-11 20:56] JostMigenda commented on #2877
@bradkav Great; many thanks for your comments and suggestions!

@benjaminrose Quick replies to the three remaining comments:
* I’ve added a sentence on getting support to the README file a few days ago in response to @bradkav, and [have updated](https://github.com/JostMigenda/sntools/commit/7fbdc6c8771c9d6d7061e84cb26a89fdf983a9c9) the documentation accordingly just now. (See the very start of cha

[2021-01-11 21:15] charleygros commented on #2868
Now merged, as well as an [additional PR](https://github.com/ivadomed/ivadomed/pull/621) about the same matter. Thanks again @NMontanaBrown :-)

[2021-01-11 21:18] charleygros commented on #2868
Hi @lbugnon,

I noticed you have not checked off the "Performance" item:

May I ask if you have some feedback for us? Cheers

[2021-01-11 21:22] lbugnon commented on #2868
Sorry, all fine by me!

[2021-01-11 21:52] jedbrown commented on #2185
@whedon set 10.5281/zenodo.4420031 as archive

[2021-01-11 21:52] whedon commented on #2185
OK. <a href="https://doi.org/10.5281/zenodo.4420031" target="_blank">10.5281/zenodo.4420031</a> is the archive.

[2021-01-11 21:54] jedbrown commented on #2185
@whedon accept

[2021-01-11 21:54] whedon commented on #2185
[code]

[2021-01-11 21:55] whedon commented on #2185
[code]

[2021-01-11 21:56] whedon commented on #2185
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2023

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2023, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-11 21:59] jedbrown commented on #2185
@cpgr @iljah Thanks for your work reviewing this submission!

@ShubhadeepSadhukhan1993 Thanks for your diligence seeing this through review. I can now recommend it for acceptance, pending final checks from an EiC.

[2021-01-11 22:52] benjaminrose commented on #2877
@whedon generate pdf from branch joss-paper

[2021-01-11 22:52] whedon commented on #2877
[code]

[2021-01-11 22:53] whedon commented on #2877
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02877/joss.02877/10.21105.joss.02877.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02877/joss.02877/10.21105.joss.02877.pdf) :page_facing_up: :point_left:

[2021-01-11 23:02] benjaminrose commented on #2877
@JostMigenda, I think I was reviewing a slightly out of date version of the paper and project. It appears that all my concerns have been addressed.

[2021-01-11 23:04] benjaminrose commented on #2877
@xuanxu I recommend `sntools` for publication in JOSS. @JostMigenda, great work!

[2021-01-12 00:46] greggj2016 commented on #2743
Hi @dwinter and @raivivek. I hope you had a nice holiday break! Did you get a chance to review our corrections (including @trang1618 and @moorejh28  in this message)?

[2021-01-12 01:55] jGaboardi commented on #2826
Thanks for the thorough review, @martibosch. We will go through the issue you raised and respond ASAP.

@slumnitz @sjsrey

[2021-01-12 02:54] ryokbys commented on #2768
@foeroyingur Thank you for your valuable comment.
Since I am not familiar with package managements, I do not know how to create something like `yum` or `brew` repository(?) and currently not thinking of it.
For the testing, I have made `test` and `test-fp` entries in the makefile at nap root directory and I thought it is sufficiently automated. I'd appreciate any suggestion about further (or bette

[2021-01-12 04:21] ebarojas commented on #2941
@arfon I understand the need for triage, but it is incorrect to gauge the LOC only with the Python files, RI5C is a full functioning scientific app and JS is just as important.

Should I re-submit in order to at least be reviewed by your editorial team?

[2021-01-12 05:15] tliu68 commented on #2921
@whedon generate pdf

[2021-01-12 05:16] whedon commented on #2921
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02921/joss.02921/10.21105.joss.02921.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02921/joss.02921/10.21105.joss.02921.pdf) :page_facing_up: :point_left:

[2021-01-12 05:23] tliu68 commented on #2921
Hello @kthyng! The paper has been updated. What would you suggest that we could modify the repo? Thank you very much for your help!

[2021-01-12 07:12] tobias-dv-lnu commented on #2791
@xirdneh please let me know if there is anything I can do to help you with the review :)

[2021-01-12 07:22] bradkav commented on #2877
@xuanxu I'm also now happy to recommend `sntools` for publication. Well done @JostMigenda!

[2021-01-12 09:06] arfon commented on #2553
I've just posted on the [JOSS Twitter](https://twitter.com/JOSS_TheOJ/status/1348918665945747457) to see if we can find any potential reviewers suitable for this submission.

@perdigao1 - as you will be aware, we've found it very challenging to find suitable reviewers for this submission. If we aren't able to find good candidates based on this latest attempt I think we will need to declare failure

[2021-01-12 09:41] foeroyingur commented on #2768
Regarding package management, I was mainly thinking about the Python package dependencies which you can put in a requirements.txt. They can then be easily installed by `pip install -r requirements.txt`. It would also allow you to specify any version requirements. See e.g. https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format.

You can setup automated testing, e.g., using [G

[2021-01-12 09:49] csoneson commented on #2440
Just checking in again to see where we are at here (@neuromusic).

[2021-01-12 10:06] jbytecode commented on #2553
Hi folks,

just writing here for helping.

@arfon this is not Visual Basic, but it is VB.NET, a new twit may increase the attentions.

I have just installed `svn` after many years,  I cloned the project, I tried the import the project in Microsoft Visual Studio 2019 for Mac (After nearly 15 years, it was fantastic to see VB code). This kind of project structure is not supported in Mono version. We

[2021-01-12 11:01] Oftatkofta commented on #2818
Hello @jni! I am a bit curious if it is possible to continue the review process by maybe inviting another reviewer? It seems like @aplyer has gone AWOL.

[2021-01-12 11:06] ryokbys commented on #2768
Preparing `requirements.txt` for installing python packages would not be so difficult and will be added soon.
On the other hand, I need some time for researching on GitHub Actions.
Thank you for your information.

[2021-01-12 11:13] foeroyingur commented on #2768
Note, as also mentioned above, that these are not required changes from my perspective.

[2021-01-12 11:15] xuanxu commented on #2877
@benjaminrose @bradkav: Great! Thank you both!

[2021-01-12 11:16] xuanxu commented on #2877
@whedon generate pdf from branch joss-paper

[2021-01-12 11:16] whedon commented on #2877
[code]

[2021-01-12 11:16] whedon commented on #2877
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02877/joss.02877/10.21105.joss.02877.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02877/joss.02877/10.21105.joss.02877.pdf) :page_facing_up: :point_left:

[2021-01-12 11:17] xuanxu commented on #2877
@whedon check references from branch joss-paper

[2021-01-12 11:17] whedon commented on #2877
[code]

[2021-01-12 11:18] whedon commented on #2877
[code]

[2021-01-12 11:41] xuanxu commented on #2877
@JostMigenda Whedon reports missing and invalid DOIs for some references but I think they are not used in the paper and can be removed from the `.bib` file so that should not be an issue.

[2021-01-12 11:48] xuanxu commented on #2877
@JostMigenda, everything looks good, you can take a final look at the [pdf draft](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02877/joss.02877/10.21105.joss.02877.pdf) and if you find it OK, here are the next steps:

- Please release a new tagged version from the current master so it includes all the changes made during the review process
- Then archive that latest release in Z

[2021-01-12 12:31] whedon commented on #2891
:wave: @CatarauCorina, please update us on how your review is going.

[2021-01-12 12:59] usethedata commented on #2826
@martibosch -- Thanks.
@jGaboardi -- My apologies for being missing in action on this.  The last several weeks have been a bit challenging.  I'll set the version on the software for the paper as one of the last things in the review process, so there aren't issues there.  I'll work on the second reviewer shortly.

[2021-01-12 13:01] usethedata commented on #2768
@richardjgowers -- There was a new version added to this review which looks to address your concerns.  When can you take a look at that?

[2021-01-12 13:05] usethedata commented on #2882
@kyleniemeyer -- Per the discussion with the editors in chief, I believe the intent was to assign someone else to edit this paper, given the challenges in my world.

@ctodd26labs -- My apologies for the lack of action here.  For a variety of personal and job-related reasons, I've not had the bandwidth to work on JOSS things and am stepping away from being a topic editor.

[2021-01-12 13:34] suchitakulkarni commented on #2823
Hi,

I was trying to complete my review today, however I can no longer access
any of the documents. Was the invitation revoked? I am sorry to have been
completely silent, I was trying to move to another city (my job is in Graz
and am stuck in Vienna). I had to confirm and reconfirm everything multiple
times due to ever changing lockdown rules in Austria.

I can still complete review if it is feasi

[2021-01-12 13:38] suchitakulkarni commented on #2823
P.S. If invited again, I will make sure to complete the review today.

On Tue, 12 Jan 2021 at 14:33, Suchita Kulkarni <suchita.kulkarni@gmail.com>
wrote:

--
(Suchita Kulkarni)

[2021-01-12 14:00] arfon commented on #2941
Hi @ebarojas, even with the additional JavaScript included, this submission is still very small for JOSS and by my (and other EiC) assessment still falls well below our threshold for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2021-01-12 15:43] CatarauCorina commented on #2891
Hi @oliviaguest , I am about to finish my review, but I have 2 questions:
1. Any errors that I have encounter should I add them under the functionality observations?
2. Is the software paper the one found on readthedocs ?https://learningsimulator.readthedocs.io/en/latest/background.html
As I can't seem to find it anywhere else.

Thank you for your help!

[2021-01-12 15:43] SabineHaas commented on #2171
@sjpfenninger Unfortunately I couldn't find the time during these weeks, but my colleague @Bachibouzouk would be interested, if you still require an additional reviewer.

[2021-01-12 16:06] CatarauCorina commented on #2891
### Functionality
✅ Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution.
      OK: A list of dependencies to install  found in requirements.txt

✅ Functionality: Have the functional claims of the software been confirmed?

- Yes, but whenever I press simulate and plot I am getting an additional wind

[2021-01-12 16:10] ebarojas commented on #2941
@arfon Equivalent reports to [this](https://github.com/openjournals/joss-reviews/issues/2941#issuecomment-754448483) seem to not be present/deleted on accepted submissions - if LOC criteria gets you desk rejected like that, without even minor feedback or recommendation on where to improve, I would make that a wee bit more clear in your submission guidelines.

[2021-01-12 16:54] markusrobertjonsson commented on #2891
@oliviaguest I can respond to issues and questions raised by the reviewers as they come in, without having to wait for a final assessment, right? And I can make commits to source code and docs to address them, if needed?

[2021-01-12 17:10] sgkang commented on #2690
@hugoledoux and @sebhaan , sounds great, and thanks for heads up. I'll finalize the review by the end of this week.

[2021-01-12 17:44] lukapecnik commented on #2949
The authors would like to thank the Reviewer @adi3  sincerely for the
time spent on reading and commenting on the paper.

The given remarks are very thorough, and extremely helpful to overcome
the shortcomings and ambiguities in our paper.

In what follows, a point-by-point reply to the Reviewer’s remarks,
comments and suggestions is given.

--------------------------------------------------------

[2021-01-12 19:12] whedon commented on #2708
:wave: @ysohn, please update us on how things are progressing here.

[2021-01-12 19:14] lukeolson commented on #2938
@diehlpk Do you need any more?  Happy to do one if you still need additional reviewers.

[2021-01-12 19:24] kbarnhart commented on #2937
:wave: @cmarshak @eriknes @pfeiffea @dbuscombe-usgs @leotrs would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission is "RivGraph: Automatic extraction and analysis of river and delta channel network topology" and I'm reaching out t

[2021-01-12 19:26] eriknes commented on #2937
Sure, I can do that.

Thanks, Erik

On Tue, Jan 12, 2021 at 8:24 PM Katy Barnhart <notifications@github.com>
wrote:

[2021-01-12 19:27] kbarnhart commented on #2896
@laijingtao thank you for your willingness to review and for letting me know about your Arc access. Focusing on the python implementation would be great and I'll make sure at least one other reviewer has access to Arc. I'll add you as a reviewer now, but won't make the JOSS review issue (which will have checkboxes to guide you through the review) until I've found another reviewer.

[2021-01-12 19:27] kbarnhart commented on #2896
@whedon add @laijingtao as reviewer

[2021-01-12 19:27] whedon commented on #2896
OK, @laijingtao is now a reviewer

[2021-01-12 19:28] dbuscombe-usgs commented on #2937
Sorry, can't do it this time - v. busy month. But keep me in mind for similar papers in the future

[2021-01-12 19:29] kbarnhart commented on #2896
:wave: @sgrieve @mikejohnson51 @r-barnes would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission is "lidar: A Python package for terrain and hydrological analysis using digital elevation models".

This submission includes an ArcGIS

[2021-01-12 19:30] kbarnhart commented on #2903
@bradyrx congratulations on defending and thanks for the update.

@ghislainv thanks for the additional reviewer recommendations.

[2021-01-12 19:32] eloisabentivegna commented on #2823
@whedon re-invite @suchitakulkarni as reviewer

[2021-01-12 19:32] whedon commented on #2823
OK, the reviewer has been re-invited.

@suchitakulkarni please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-12 19:35] eloisabentivegna commented on #2823
@suchitakulkarni, I have just reinvited you. Thanks for your help, and stay safe!

[2021-01-12 19:37] suchitakulkarni commented on #2823
Thanks a lot! I will submit my review tomorrow. I already did check a few
things out. Would still like to make few more checks and complete tasks in
order.

On Tue, 12 Jan 2021 at 20:35, Eloisa Bentivegna <notifications@github.com>
wrote:

--
(Suchita Kulkarni)

[2021-01-12 19:44] alemermartinez commented on #2929
Dear Mikkel,

Thank you very much for all the information.

We have removed all the software files from the joss branch, and hope it is OK now.

Kind regards,

Alejandra

-------- Mensaje original --------
De: Mikkel Meyer Andersen <notifications@github.com>
Fecha: 11/1/21 06:02 (GMT-03:00)
A: openjournals/joss-reviews <joss-reviews@noreply.github.com>
CC: Alejandra Martinez <ale_m_martinez@hotmai

[2021-01-12 19:54] whedon commented on #2947
OK, the editor is @eloisabentivegna

[2021-01-12 20:02] mikejohnson51 commented on #2896
@kbarnhart I have very little experience with python and no access to ArcGIS, if you are unable to find others I would be willing to do my best!

[2021-01-12 20:18] diehlpk commented on #2938
@lukeolson Thanks, however, I already have three reviewers and I am good for this paper.

[2021-01-12 20:19] diehlpk commented on #2945
@whedon commands

[2021-01-12 20:19] whedon commented on #2945
Here are some things you can ask me to do:

[code]

[2021-01-12 20:19] diehlpk commented on #2945
@whedon remind @reviewer in 3 weeks

[2021-01-12 20:19] whedon commented on #2945
@reviewer doesn't seem to be a reviewer or author for this submission.

[2021-01-12 20:20] mikldk commented on #2929
@alemermartinez, please also fix the conflict at the master branch as I mentioned. Please do not write here until everything I mentioned is fixed.

[2021-01-12 20:20] danielskatz commented on #2938
@lukeolson - did you try to volunteer since the name was so close to "[CEESD](http://ceesd.illinois.edu)"?

[2021-01-12 20:20] diehlpk commented on #2945
@whedon remind @thelfer, @FreddieWitherden, @pbauman in 2 weeks

[2021-01-12 20:20] whedon commented on #2945
Reminder set for @thelfer, @FreddieWitherden, @pbauman in 2 weeks

[2021-01-12 21:09] leotrs commented on #2937
Yes I can do it.

[2021-01-12 21:15] charleygros commented on #2868
60 / 60 :white_check_mark:
Thanks again @NMontanaBrown, @lbugnon and @justusschock for your precious feedback!

@cMadan: What would be the next steps?

[2021-01-12 21:23] KristinaRiemer commented on #2575
@r-barnes let's see if this fixes that.

[2021-01-12 21:23] KristinaRiemer commented on #2575
@whedon re-invite @r-barnes as reviewer

[2021-01-12 21:23] whedon commented on #2575
The reviewer already has a pending invite.

@r-barnes please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-12 21:23] KristinaRiemer commented on #2575
Ah, @r-barnes try going to that link and accepting the invite to see if that makes a difference?

[2021-01-12 22:03] pfeiffea commented on #2937
This month is a hectic one for me. @kbarnhart if you can't find a third reviewer in the coming week or so, ping me again and I'll see if I can clear the space for it!

[2021-01-12 23:56] jni commented on #2818
A great suggestion! Thanks for the ping @Oftatkofta and happy new year. I'll start looking.

[2021-01-13 01:13] dvm-shlee commented on #2277
@arfon Sorry about the lots of delay in revising this, I will update the address of all the commented item soon!

[2021-01-13 06:56] hugoledoux commented on #2866
@arfon I think that most/all comments have been processed, can you let us know what's next?

[2021-01-13 10:33] sgrieve commented on #2919
Afraid I don't have any spare capacity to review at the moment.

[2021-01-13 10:35] sgrieve commented on #2896
@kbarnhart Afraid I don't have any spare capacity to review at the moment, and due to the pandemic I don't have access to an ArcGIS licence. London is supposed to come out of lockdown by mid Feb, so give me a shout then if you have not found anyone else and I might be able to take a look.

[2021-01-13 11:14] arfon commented on #2866
@chenkianwee - I notice there are still a few checkboxes un-checked in your review. Can you confirm that these issues have now been addressed?

[2021-01-13 16:50] erinyoung commented on #2334
[code]

Still gives me the same error.

[code]

This time there is no file. I thought that maybe the directory `/tmp/SneakerNet.roRun.pl.KvbPif/runData` might need to be created first, so I tried that and still got the same error.

BTW, this is a different error than before. Before the file would get copied over, now there is no file getting copied over.

[2021-01-13 18:18] kbarnhart commented on #2937
@leotrs and @eriknes thanks for your willingness to review. I'll now add you as reviewers and start the review.

@cmarshak if you are interested in reviewing I can add you after I start the review.

@dbuscombe-usgs and @pfeiffea thanks for the prompt replies.

[2021-01-13 18:19] kbarnhart commented on #2937
@whedon add @eriknes as reviewer

[2021-01-13 18:19] whedon commented on #2937
OK, @eriknes is now a reviewer

[2021-01-13 18:20] kbarnhart commented on #2937
@whedon add @leotrs as reviewer

[2021-01-13 18:20] whedon commented on #2937
OK, @leotrs is now a reviewer

[2021-01-13 18:21] kbarnhart commented on #2937
@whedon start review

[2021-01-13 18:21] whedon opened #2952 "[REVIEW]: RivGraph: Automatic extraction and analysis of river and delta channel network topology"
**Submitting author:** @jonschwenk (<a href="http://orcid.org/0000-0001-5803-9686">Jon Schwenk</a>)
**Repository:** <a href="https://github.com/jonschwenk/RivGraph" target ="_blank">https://github.com/jonschwenk/RivGraph</a>
**Version:** v0.4
**Editor:** @kbarnhart
**Reviewer:** @eriknes, @leotrs
**Archive:** <a href="https://doi.org/10.5281/zenodo.4591559" target="_blank">10.5281/zenodo.4591559</

[2021-01-13 18:21] whedon commented on #2937
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2952.

[2021-01-13 18:21] #2937 closed

[2021-01-13 18:21] whedon commented on #2952
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @eriknes, @leotrs it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-01-13 18:22] whedon commented on #2952
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02952/joss.02952/10.21105.joss.02952.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02952/joss.02952/10.21105.joss.02952.pdf) :page_facing_up: :point_left:

[2021-01-13 18:23] kbarnhart commented on #2896
@mikejohnson51 and @sgrieve thanks for the info and updates. I'll keep looking for a second reviewer who has access to Arc.

[2021-01-13 18:58] ctodd26labs commented on #2882
@usethedata thank you for your help on this and the update. Also, good luck with everything you are dealing with.

@kyleniemeyer please let me know if there is anything I can do to help with the process.

[2021-01-13 19:12] whedon commented on #2952
[code]

[2021-01-13 19:23] jonschwenk commented on #2952
@kbarnhart After a Zotero update, it started exporting my full library by default instead of just a particular collection. whedon's DOI check is thus of my entire library, not just the references in the paper. I have fixed the .bib file in the RivGraph repo to only contain the relevant refs, but I'm not sure how to ask whedon to re-run the DOI check.

[2021-01-13 20:02] kbarnhart commented on #2952
@whedon check references

[2021-01-13 20:03] whedon commented on #2952
[code]

[2021-01-13 20:04] kbarnhart commented on #2952
@jonschwenk done. for reference [here is the list of things whedon can do](https://joss.readthedocs.io/en/latest/whedon.html)

[2021-01-13 20:30] crvernon commented on #2890
Hi @dhhagan !  If we don't hear back from @sahilseth I found some other reviewers from recent JOSS publications that may be able to conduct the review.  I'll not call them out here to ensure they are not tagged until you see fit, hence the quotes around their names:  `@trashbirdecology` or `@jkarreth`

[2021-01-14 00:21] majensen commented on #2726
@bill-baumgartner @bensonml I am having trouble getting a response from @brantapl on external channels. I will put this review in the "paused" state. Will ping everyone if I can rev it up again.

[2021-01-14 00:36] majensen commented on #2726
@jhuapl-lglenden - Can you comment on the status of [this paper](#2726) in JOSS, submitted by your colleague @bwkchee? Thanks for any help you can provide. Feel free to contact me at maj -dot- fortinbras -at- gmail -dot- com.

[2021-01-14 00:37] majensen commented on #2558
@egonw - just checking in with you on your progress/timeline - thanks

[2021-01-14 00:52] xie186 commented on #2864
@damienmarsic Regarding the last comment, what I meant was to include the example(s) of the document in the manuscript. Otherwise the user won't have this information while read the MS.

[2021-01-14 01:45] jordanperr commented on #2171
Thank you @brynpickering for the review! We are now working to integrate your recommendations. I will provide an update here once these are complete.

[2021-01-14 03:14] damienmarsic commented on #2864
@whedon generate pdf

[2021-01-14 03:15] whedon commented on #2864
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02864/joss.02864/10.21105.joss.02864.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02864/joss.02864/10.21105.joss.02864.pdf) :page_facing_up: :point_left:

[2021-01-14 03:18] damienmarsic commented on #2864
@xie186 Thanks for this clarification.
I added detailed information at the end of the manuscript, showing that parent-map correctly identifies all the features from the sample variants.

[2021-01-14 03:23] xie186 commented on #2864
@damienmarsic Thank you!

[2021-01-14 05:45] wvanzeist commented on #2899
Are there any updates on the second reviewer?

[2021-01-14 06:07] shreyasbapat commented on #2854
I think @jiwoncpark mentioned a majority of issues already. I created an issue which might not be very imporant from JOSS persective, but from a user's and maintainability perspective.

I feel once the tests and documentation is done, we would be good to go.

https://github.com/deepskies/deeplenstronomy/issues/42

[2021-01-14 06:44] csoneson commented on #2864
Thanks @xie186 and @damienmarsic!
@xie186 - could you confirm whether your comments have been adequately addressed and you're happy with the current state of the submission (and if so, please tick the last boxes in the checklist above), or whether there are outstanding issues?

[2021-01-14 07:01] jni commented on #2578
@emilljungberg I hope all is well with you — I suspect London is not a happy place these days! If you have a chance, would you mind clarifying your request for @Mmj94? Thanks!

[2021-01-14 07:36] adi3 commented on #2949
@whedon generate pdf

[2021-01-14 07:37] whedon commented on #2949
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02949/joss.02949/10.21105.joss.02949.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02949/joss.02949/10.21105.joss.02949.pdf) :page_facing_up: :point_left:

[2021-01-14 08:28] adi3 commented on #2949
@lukapecnik Thanks for the changes. I will be making some editorial changes myself to the draft and issuing a pull request. Please review it and merge it into your master branch. These edits will mostly be to correct syntactic usage or word choices. The aim is to keep the article crisp and to the point. It is faster for me to make these changes and issue a pull request instead of leading you throu

[2021-01-14 09:05] whedon opened #2953 "[PRE REVIEW]: splithalf: robust estimates of split half reliability"
**Submitting author:** @sdparsons (<a href="http://orcid.org/0000-0002-7048-4093">Sam Parsons</a>)
**Repository:** <a href="https://github.com/sdparsons/splithalf/" target ="_blank">https://github.com/sdparsons/splithalf/</a>
**Version:** 0.7.2
**Editor:** @oliviaguest
**Reviewers:** @jpsnijder, @Nathaniel-Haines, @rMassimiliano
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service

[2021-01-14 09:05] whedon commented on #2953
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-14 09:05] whedon commented on #2953
[code]

[2021-01-14 09:05] whedon commented on #2953
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02953/joss.02953/10.21105.joss.02953.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02953/joss.02953/10.21105.joss.02953.pdf) :page_facing_up: :point_left:

[2021-01-14 09:07] whedon commented on #2953
[code]

[2021-01-14 09:12] Kevin-Mattheus-Moerman commented on #2885
@avaxman @sgsellan @ataber are you able to help review this submission  for [JOSS](https://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) focuses on [the software](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) and this [short paper](https://github.com/openjournals/joss-papers/blob/joss.02885/joss.02885/10

[2021-01-14 09:12] mikldk commented on #2878
@r-barnes, would you mind giving a brief status of your progress?

[2021-01-14 09:13] Kevin-Mattheus-Moerman commented on #2885
@mlivesu thanks, that is okay. I take it your schedule still does not allow you to help with this work but if you change your mind let us know.  Best wishes for 2021.

[2021-01-14 09:13] Kevin-Mattheus-Moerman commented on #2911
@whedon re-invite @melund as reviewer

[2021-01-14 09:14] whedon commented on #2911
OK, the reviewer has been re-invited.

@melund please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-14 09:14] Kevin-Mattheus-Moerman commented on #2911
@melund can you access it now? Thanks

[2021-01-14 09:18] Kevin-Mattheus-Moerman commented on #2498
@openjournals/dev we're having some ZENODO issues here and might need support from their end. Or can you provide advice? @arfon do you know folks at ZENODO?

[2021-01-14 09:33] VivianePons commented on #2926
@whedon add @ranocha as reviewer

[2021-01-14 09:33] whedon commented on #2926
OK, @ranocha is now a reviewer

[2021-01-14 09:33] VivianePons commented on #2926
@whedon start review

[2021-01-14 09:33] whedon opened #2954 "[REVIEW]: GeometricIntegrators.jl: Geometric Numerical Integration in Julia"
**Submitting author:** @michakraus (<a href="http://orcid.org/0000-0001-7637-3979">Michael Kraus</a>)
**Repository:** <a href="https://github.com/JuliaGNI/GeometricIntegrators.jl" target ="_blank">https://github.com/JuliaGNI/GeometricIntegrators.jl</a>
**Version:** v0.7.0
**Editor:** @VivianePons
**Reviewer:** @ChrisRackauckas, @ranocha
**Archive:** Pending

**:warning: JOSS reduced service mode :

[2021-01-14 09:33] whedon commented on #2926
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2954.

[2021-01-14 09:33] #2926 closed

[2021-01-14 09:33] whedon commented on #2954
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ChrisRackauckas, @ranocha it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-01-14 09:33] whedon commented on #2954
PDF failed to compile for issue #2954 with the following error:

 Can't find any papers to compile :-(

[2021-01-14 09:40] VivianePons commented on #2954
@whedon generate pdf from branch joss-paper

[2021-01-14 09:40] whedon commented on #2954
[code]

[2021-01-14 09:41] whedon commented on #2954
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02954/joss.02954/10.21105.joss.02954.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02954/joss.02954/10.21105.joss.02954.pdf) :page_facing_up: :point_left:

[2021-01-14 10:47] emilljungberg commented on #2578
Hi again everyone,

Regarding 3D coverage, I was mainly thinking that it would be good to clarify how that could be achieved as it would open up your package to more researchers. If you have done 3D stack of spirals, that's great and shows that it can be done. Any chance you can include an example of those results in the manuscript? So if this capability exists, then maybe you can reword it to som

[2021-01-14 11:00] arfon commented on #2498
/ cc @lnielsen any chance you could point us in the right direction? ☝️

[2021-01-14 11:04] melund commented on #2911
@Kevin-Mattheus-Moerman . Now it works :)

[2021-01-14 11:22] sdparsons commented on #2953
I have corrected the DOI issue in the .bib file and checked the generated pdf.

[2021-01-14 11:23] sdparsons commented on #2953
@whedon generate pdf

[2021-01-14 11:23] whedon commented on #2953
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02953/joss.02953/10.21105.joss.02953.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02953/joss.02953/10.21105.joss.02953.pdf) :page_facing_up: :point_left:

[2021-01-14 11:24] Kevin-Mattheus-Moerman commented on #2911
@modenaxe we are just getting started. Would you like to join this review party? :pray:

[2021-01-14 11:26] Kevin-Mattheus-Moerman commented on #2898
@ctdegroot, @likask, @jritta would you be interested in reviewing this work for [JOSS](https://joss.theoj.org)? It features nonlocal fracture models and finite difference/meshfree methods.

The review focuses on [the software](https://github.com/nonlocalmodels/NLMech) and this [short paper](https://github.com/openjournals/joss-papers/blob/joss.02898/joss.02898/10.21105.joss.02898.pdf).

This is a

[2021-01-14 11:29] Kevin-Mattheus-Moerman commented on #2831
Great thanks for the update @oalii

@IgorBaratta, @chennachaos, can you have another look at this submission and tick more boxes if possible or summarize what are points that still need work? Thanks a lot for your help!!!

[2021-01-14 11:37] Kevin-Mattheus-Moerman commented on #2950
@tomgrylls I'll be looking for an editor to handle this submission. In the mean time it would be great if you could help suggest reviewers for this work. Also can you please review our documentation on [what the paper should contain](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain), in particular the "Statement of need" section is missing. You can update the pape

[2021-01-14 11:38] lukapecnik commented on #2949
@adi3 Thank you for the pull request. I have reviewed and merged it.

[2021-01-14 11:47] Kevin-Mattheus-Moerman commented on #2950
@whedon assign @Kevin-Mattheus-Moerman as editor

[2021-01-14 11:47] whedon commented on #2950
OK, the editor is @Kevin-Mattheus-Moerman

[2021-01-14 11:54] Kevin-Mattheus-Moerman commented on #2951
@markheckmann I've flagged this submission for additional scope review by our editorial board. In particular we will review if it is considered to have [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This is standard for submissions of this size (the core functionality appears to be captured by around 1661 lines of code).  This re

[2021-01-14 11:57] Kevin-Mattheus-Moerman commented on #2953
@sdparsons I've flagged this submission for additional scope review by our editorial board. In particular we will review if it is considered to have [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This is standard for submissions of this size (the core functionality appears to be captured by around 1366 lines of code).  This revie

[2021-01-14 11:57] whedon opened #2955 "[PRE REVIEW]: Drug Ontology Parsing Engine (DOPE): An R Package for Querying of a Comprehensive Ontology of Substances of Abuse"
**Submitting author:** @labouz (<a href="http://orcid.org/0000-0002-6616-0950">Layla Bouzoubaa</a>)
**Repository:** <a href="https://github.com/CTN-0094/DOPE" target ="_blank">https://github.com/CTN-0094/DOPE</a>
**Version:** v1.0.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2021-01-14 11:57] whedon commented on #2955
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-14 11:58] whedon commented on #2955
[code]

[2021-01-14 11:58] whedon commented on #2955
PDF failed to compile for issue #2955 with the following error:

 Can't find any papers to compile :-(

[2021-01-14 11:59] adi3 commented on #2949
@whedon generate pdf

[2021-01-14 11:59] whedon commented on #2949
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02949/joss.02949/10.21105.joss.02949.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02949/joss.02949/10.21105.joss.02949.pdf) :page_facing_up: :point_left:

[2021-01-14 12:02] Kevin-Mattheus-Moerman commented on #2955
@whedon generate pdf from branch JOSS

[2021-01-14 12:02] whedon commented on #2955
[code]

[2021-01-14 12:03] whedon commented on #2955
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02955/joss.02955/10.21105.joss.02955.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02955/joss.02955/10.21105.joss.02955.pdf) :page_facing_up: :point_left:

[2021-01-14 12:03] adi3 commented on #2949
@lukapecnik Thank you. While I go through the remainder of the checklist, can you please figure out why one of your references is showing up as having a missing DOI?

[code]

[2021-01-14 12:04] Kevin-Mattheus-Moerman commented on #2955
@labouz I've flagged this submission for additional scope review by our editorial board. In particular we will review if it is considered to have [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This is standard for submissions of this size.  This review will take about a week.

[2021-01-14 12:04] whedon opened #2956 "[PRE REVIEW]: tinselR – An RShiny Application for Annotating Outbreak Trees"
**Submitting author:** @jennahamlin (<a href="http://orcid.org/0000-0001-7037-134X">Jennafer Hamlin</a>)
**Repository:** <a href="https://github.com/jennahamlin/tinselR.git" target ="_blank">https://github.com/jennahamlin/tinselR.git</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-01-14 12:04] whedon commented on #2956
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-14 12:05] whedon commented on #2956
[code]

[2021-01-14 12:05] whedon commented on #2956
PDF failed to compile for issue #2956 with the following error:

 Can't find any papers to compile :-(

[2021-01-14 12:30] pdebuyl commented on #2854
Hi @shreyasbapat thank you for the feedback.

[2021-01-14 12:33] pdebuyl commented on #2854
@rmorgan10 many checkboxes have been ticked by @shreyasbapat now.

I suggest that you take into account all the "non paper" feedback so far. @shreyasbapat , your comments on the paper will be needed as well.

[2021-01-14 12:38] fduchatea commented on #2805
Hi @galessiorob
Thank you, and we wish an Happy New Year to all of you.

We have added a new (fake) dataset (prediction works on it), a CSV export functionality and the Community guidelines (based on the links you provided, thanks). The README has been updated to describe how to use/import another dataset.

The updated code is still on a _dev_ branch, we still perform some tests).
We should merge

[2021-01-14 12:39] salrm8 commented on #2871
Dear @drvinceknight,
Kindly, I wonder if there is any further comment which I need to take care of. Thank you!

[2021-01-14 13:03] lpantano commented on #2857
@whedon start review

[2021-01-14 13:03] whedon opened #2957 "[REVIEW]: nf-gwas-pipeline: A Nextflow Genome-Wide Association Study Pipeline"
**Submitting author:** @ZeyuanSong (<a href="http://orcid.org/0000-0002-7352-4177">Zeyuan Song</a>)
**Repository:** <a href="https://github.com/montilab/nf-gwas-pipeline" target ="_blank">https://github.com/montilab/nf-gwas-pipeline</a>
**Version:** v1.0.0
**Editor:** @lpantano
**Reviewers:** @preetida, @rspirgel
**Archive:** <a href="https://doi.org/10.5281/zenodo.4565942" target="_blank">10.5281

[2021-01-14 13:03] whedon commented on #2857
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2957.

[2021-01-14 13:03] #2857 closed

[2021-01-14 13:03] whedon commented on #2957
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @preetida it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2021-01-14 13:04] lpantano commented on #2857
I will start this so @preetida can start meanwhile I find the other reviewer. Thanks!

[2021-01-14 13:04] whedon commented on #2957
[code]

[2021-01-14 13:04] whedon commented on #2957
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02957/joss.02957/10.21105.joss.02957.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02957/joss.02957/10.21105.joss.02957.pdf) :page_facing_up: :point_left:

[2021-01-14 13:15] labouz commented on #2955
@Kevin-Mattheus-Moerman Thank you. In the form I suggested en editor on the submission form but just in case, I'm looking at elimillera or kanekalla or nanhung or praveenkumarpgiindia

[2021-01-14 13:20] Kevin-Mattheus-Moerman commented on #2956
@whedon generate pdf from branch manuscript

[2021-01-14 13:20] whedon commented on #2956
[code]

[2021-01-14 13:21] sdparsons commented on #2953
@Kevin-Mattheus-Moerman thank you for the update. If there is anything I can do to support the process, or any information I can provide (e.g. other's use of the software), I am more than happy to help.

[2021-01-14 13:21] whedon commented on #2956
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02956/joss.02956/10.21105.joss.02956.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02956/joss.02956/10.21105.joss.02956.pdf) :page_facing_up: :point_left:

[2021-01-14 13:46] RaymondBalise commented on #2955
@Kevin-Mattheus-Moerman. Thank you for the update Kevin.  Because we developed this in a private repo, we were/are concerned about the "effort" criteria.  If it matters, we can share some of the history of the repos which went into this.  They have around 100 commits, over many months, made by the full team of 4 PhDs and 3 MS level statisticians/programmers.

[2021-01-14 14:28] Kevin-Mattheus-Moerman commented on #2955
Thanks @labouz @RaymondBalise for the additional clarification. The "scholarly effort" mostly relates to the functionality contained within the code. Our editorial board will review this and make a judgement on this. They will review the repository and the paper but if you want to expand here on the functionality the code covers you are welcome to do so.

[2021-01-14 14:30] RaymondBalise commented on #2955
@Kevin-Mattheus-Moerman Sounds good.  Thank you for the note.

[2021-01-14 15:02] jennahamlin commented on #2956
Hello -

Here are my suggestions for potential reviewers:

**Those familiar with R shiny**
* aj2duncan
* adithirgis
* elimillera
* brunaw

**Those familiar with R and phylogenetics**

* giraola
* shaunpwilkinson
* gavinmdouglas
* iimog
* *vbaliga
* rachelss
* Gab0
* tkchafin
* richelbilderbeek

[2021-01-14 15:15] lukapecnik commented on #2949
@adi3 We have added the missing DOI after the submission. I think this should be fixed now.

[2021-01-14 15:22] jennahamlin commented on #2956
@whedon generate pdf from branch manuscript

[2021-01-14 15:22] whedon commented on #2956
[code]

[2021-01-14 15:23] whedon commented on #2956
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02956/joss.02956/10.21105.joss.02956.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02956/joss.02956/10.21105.joss.02956.pdf) :page_facing_up: :point_left:

[2021-01-14 15:48] adi3 commented on #2949
@whedon check references

[2021-01-14 15:49] whedon commented on #2949
[code]

[2021-01-14 16:16] dfm commented on #2899
@wvanzeist: Sorry about the delay! I have not yet recruited a second reviewer but I'll hopefully have an update soon. Thanks for your patience.

[2021-01-14 17:09] mikerspencer commented on #2282
Essentially lockdown here too. Also juggling childcare and work - fun times!

[2021-01-14 18:34] JostMigenda commented on #2877
Many thanks @benjaminrose and @bradkav for taking the time to review and giving me so many helpful comments!

@xuanxu I have submitted the corresponding physics-focussed paper to AAS yesterday. (@augustfly: manuscript number is AAS29735, in case you need that.) Should I tag & archive the latest release now? Or should we pause this review and do the final steps once the AAS paper is ready?

[2021-01-14 18:44] marcosvital commented on #2900
Hi, @bommert , I will be the editor of your submission.

Please take a look at the first manuscript proof generated above, and check if everything seems to be ok with it. If you make any changes, you can use `@whedon generate pdf` to have whedon create an update version (or just let me know and I'll do it).

At the same time, we can start assigning reviewers for you submission. We usually ask the

[2021-01-14 18:54] augustfly commented on #2877
@JostMigenda thanks for ID. yes, I've double-checked that this is being tracked appropriately on the AAS side.

[2021-01-14 18:58] xuanxu commented on #2877
@JostMigenda I'm going to pause this until the AAS paper has a DOI. After that you can update the `paper.md` file with the AAS journal name and DOI, and then tag & archive a new release.

Please report back here with the AAS paper's DOI, the new version number and the Zenodo (or similar) DOI.

For reference, the DOI of this paper (when it is published) will be `10.21105/joss.2877`. Probably the AA

[2021-01-14 19:10] kbarnhart commented on #2896
:wave: @cheginit @juliohm @Hedrick-ARS would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission is "lidar: A Python package for terrain and hydrological analysis using digital elevation models".

This submission includes an ArcGIS t

[2021-01-14 19:15] juliohm commented on #2896
Dear all, unfortunately I can't review the submission. I don't have access
to the proprietary software and haven't used Python in a while.

Thank you,
-Júlio

On Thu, Jan 14, 2021, 16:10 Katy Barnhart <notifications@github.com> wrote:

[2021-01-14 19:22] cheginit commented on #2896
@kbarnhart I am a Python developer but don't have access to ArcGIS. So I can review the non-ArcGIS parts of the submission. Please, let me know if that works.

[2021-01-14 19:32] kbarnhart commented on #2903
:wave: @molgor, @kmarkert, @ethanwhite @ecodiv would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission is "ForestAtRisk: A Python package for modelling and forecasting deforestation in the tropics".

This is a pre-review issue whic

[2021-01-15 01:37] kyleniemeyer commented on #2095
@roshansamuel I'm sorry this is taking so long—I am actively seeking another reviewer.

[2021-01-15 06:22] r-barnes commented on #2878
Apologies; I'll put this review at the top of my todo list for tomorrow.

[2021-01-15 06:24] r-barnes commented on #2896
I could take a look, but I don't have access to ArcGIS.

[2021-01-15 06:25] r-barnes commented on #2575
I'm sorry, the link expired. Can we try again? I have my JOSS reviews at the top of the queue now, so I'll be ready for it.

[2021-01-15 08:03] holukas commented on #2575
@mccabete Thanks for the feedback. Unfortunately the Wiki got lost during the migration from GitLab to GitHub, so this time I will add it to GitHub directly. I will add an updated Wiki directly to GitHub in the next days.

[2021-01-15 09:13] whedon opened #2958 "[PRE REVIEW]: The targets R package: a dynamic Make-like function-oriented pipeline toolkit for reproducibility and high-performance computing"
**Submitting author:** @wlandau (<a href="http://orcid.org/0000-0003-1878-3253">William Landau</a>)
**Repository:** <a href="https://github.com/ropensci/targets" target ="_blank">https://github.com/ropensci/targets</a>
**Version:** 0.0.1
**Editor:** @arfon
**Reviewers:** @arfon
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 p

[2021-01-15 09:13] whedon commented on #2958
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-15 09:14] whedon commented on #2958
Failed to discover a `Statement of need` section in paper

[2021-01-15 09:14] whedon commented on #2958
[code]

[2021-01-15 09:15] whedon commented on #2958
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02958/joss.02958/10.21105.joss.02958.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02958/joss.02958/10.21105.joss.02958.pdf) :page_facing_up: :point_left:

[2021-01-15 09:15] whedon commented on #2958
[code]

[2021-01-15 09:15] arfon commented on #2958
@whedon assign me as editor

[2021-01-15 09:15] whedon commented on #2958
OK, the editor is @arfon

[2021-01-15 09:16] arfon commented on #2958
@whedon assign @arfon as reviewer

[2021-01-15 09:16] whedon commented on #2958
OK, @arfon is now a reviewer

[2021-01-15 09:16] arfon commented on #2958
@whedon start review

[2021-01-15 09:16] #2958 closed

[2021-01-15 09:16] whedon opened #2959 "[REVIEW]: The targets R package: a dynamic Make-like function-oriented pipeline toolkit for reproducibility and high-performance computing"
**Submitting author:** @wlandau (<a href="http://orcid.org/0000-0003-1878-3253">William Landau</a>)
**Repository:** <a href="https://github.com/ropensci/targets" target ="_blank">https://github.com/ropensci/targets</a>
**Version:** 0.0.1
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.4438841" target="_blank">10.5281/zenodo.4438841</a>

**:warning: JOSS

[2021-01-15 09:16] whedon commented on #2958
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2959.

[2021-01-15 09:16] whedon commented on #2959
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theo

[2021-01-15 09:16] arfon commented on #2958
Moving this through a fast-track review as this was reviewed in https://github.com/ropensci/software-review/issues/401

[2021-01-15 09:17] whedon commented on #2959
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02959/joss.02959/10.21105.joss.02959.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02959/joss.02959/10.21105.joss.02959.pdf) :page_facing_up: :point_left:

[2021-01-15 09:18] arfon commented on #2959
Moving this through a fast-track review as this was reviewed in https://github.com/ropensci/software-review/issues/401

[2021-01-15 09:18] whedon commented on #2959
[code]

[2021-01-15 09:20] drvinceknight commented on #2871
Hi @ctdegroot, this is a polite nudge in case this had dropped off your horizon, let us know when you've been able to take a look at this paper :)

[2021-01-15 10:18] bommert commented on #2900
@whedon generate pdf

[2021-01-15 10:19] whedon commented on #2900
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02900/joss.02900/10.21105.joss.02900.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02900/joss.02900/10.21105.joss.02900.pdf) :page_facing_up: :point_left:

[2021-01-15 10:25] marcosvital commented on #2848
@whedon check references

[2021-01-15 10:26] whedon commented on #2848
[code]

[2021-01-15 10:31] marcosvital commented on #2848
Hi, @sebdalgarno, sorry about the delayed reply. I believe we are almost ready to go here. For now, I would like you to:

* make a final check the latest version of the manuscript generated by Whedon, to see if everything is ok.
* archive the last release of the package (on Zenodo, figshare, or other) if you already didn't do this. After that, just let me know the archive DOI.

[2021-01-15 10:44] arfon commented on #2959
@whedon set 10.5281/zenodo.4438841 as archive

[2021-01-15 10:44] whedon commented on #2959
OK. <a href="https://doi.org/10.5281/zenodo.4438841" target="_blank">10.5281/zenodo.4438841</a> is the archive.

[2021-01-15 10:44] arfon commented on #2959
@whedon accept

[2021-01-15 10:44] whedon commented on #2959
[code]

[2021-01-15 10:45] whedon commented on #2959
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2024

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2024, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-15 10:47] whedon commented on #2959
[code]

[2021-01-15 10:47] arfon commented on #2959
@whedon accept deposit=true

[2021-01-15 10:47] whedon commented on #2959
[code]

[2021-01-15 10:49] whedon commented on #2959
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1350032342686052352) 👈 🐦🐦🐦

[2021-01-15 10:49] whedon commented on #2959
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2025
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02959](https://doi.org/10.21105/joss.02959)
2. If everything looks g

[2021-01-15 10:50] arfon commented on #2959
@wlandau - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-01-15 10:50] #2959 closed

[2021-01-15 10:50] whedon commented on #2959
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02959/status.svg)](https://doi.org/10.21105/joss.02959)

**We need your help!**

Journal of Open Source Softwa

[2021-01-15 11:17] jbytecode commented on #2844
Dear authors,

please update your status.

thanks. @muellsen

[2021-01-15 11:30] muellsen commented on #2844
Just saw this, sorry. Yes. Updated!

[2021-01-15 11:33] muellsen commented on #2844
Both in .md file and benchmark folder

[2021-01-15 11:35] jbytecode commented on #2844
Dear editor @mjsottile

- The authors added the missing license entry in the software repository.
- Unit test were missing. The authors added automation tests. Now, the package is automatically tested before being available.
- The paper is well written in my opinion. Beyond this, they corrected all of the typos and code formatting that I addressed.
- There were serious performance claims in the ea

[2021-01-15 11:49] jbytecode commented on #2844
Thank you @muellsen, I am done with this. My review report is above.

[2021-01-15 12:08] whedon opened #2960 "[PRE REVIEW]: ADratio: Probabilistic classification of sex-linked scaffolds from pileup data"
**Submitting author:** @tkchafin (<a href="http://orcid.org/0000-0001-8687-5905">Tyler Chafin</a>)
**Repository:** <a href="https://github.com/tkchafin/ADratio" target ="_blank">https://github.com/tkchafin/ADratio</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2021-01-15 12:08] whedon commented on #2960
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-15 12:08] whedon opened #2961 "[PRE REVIEW]: GNSS2CHORDS: A new tool for connecting UNAVCO Real-Time GNSS Data Services to CHORDS"
**Submitting author:** @joshj55 (<a href="http://orcid.org/0000-0002-6078-4287">Joshua Jones</a>)
**Repository:** <a href="https://github.com/joshj55/GNSS2CHORDS" target ="_blank">https://github.com/joshj55/GNSS2CHORDS</a>
**Version:** v2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2021-01-15 12:08] whedon commented on #2961
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-15 12:08] whedon opened #2962 "[PRE REVIEW]: LibSWIFFT - A fast C/C++ Library for the SWIFFT Secure Homomorphic Hash Function"
**Submitting author:** @yarongvili1 (<a href="http://orcid.org/0000-0002-2221-3598">Yaron Gvili</a>)
**Repository:** <a href="https://github.com/gvilitechltd/LibSWIFFT" target ="_blank">https://github.com/gvilitechltd/LibSWIFFT</a>
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewers:** @gcdeshpande, @jarrah42
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Du

[2021-01-15 12:08] whedon commented on #2962
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-15 12:08] whedon opened #2963 "[PRE REVIEW]: eigentools: A Python package for studying differential eigenvalue problems with an emphasis on robustness"
**Submitting author:** @jsoishi (<a href="http://orcid.org/0000-0001-8531-6570">Jeffrey S. Oishi</a>)
**Repository:** <a href="https://github.com/DedalusProject/eigentools" target ="_blank">https://github.com/DedalusProject/eigentools</a>
**Version:** v 2.2101
**Editor:** @dpsanders
**Reviewers:** @ketch, @caropen
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Du

[2021-01-15 12:08] whedon commented on #2963
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-15 12:09] whedon commented on #2960
[code]

[2021-01-15 12:09] whedon commented on #2960
[code]

[2021-01-15 12:10] whedon commented on #2961
[code]

[2021-01-15 12:11] whedon commented on #2960
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02960/joss.02960/10.21105.joss.02960.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02960/joss.02960/10.21105.joss.02960.pdf) :page_facing_up: :point_left:

[2021-01-15 12:11] whedon commented on #2962
[code]

[2021-01-15 12:12] arfon commented on #2960
@whedon query scope

@tkchafin – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, t

[2021-01-15 12:12] whedon commented on #2960
Submission flagged for editorial review.

[2021-01-15 12:12] whedon commented on #2961
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02961/joss.02961/10.21105.joss.02961.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02961/joss.02961/10.21105.joss.02961.pdf) :page_facing_up: :point_left:

[2021-01-15 12:12] arfon commented on #2961
@whedon query scope

@joshj55 – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-01-15 12:12] whedon commented on #2961
Submission flagged for editorial review.

[2021-01-15 12:12] whedon commented on #2961
[code]

[2021-01-15 12:13] whedon commented on #2963
[code]

[2021-01-15 12:13] whedon commented on #2962
PDF failed to compile for issue #2962 with the following error:

 Can't find any papers to compile :-(

[2021-01-15 12:13] arfon commented on #2962
@whedon query scope

@yarongvili1 - due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-01-15 12:13] whedon commented on #2962
Submission flagged for editorial review.

[2021-01-15 12:13] arfon commented on #2962
@whedon generate pdf from branch joss-paper

[2021-01-15 12:13] whedon commented on #2962
[code]

[2021-01-15 12:14] arfon commented on #2963
@whedon query scope

@jsoishi - due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-01-15 12:14] whedon commented on #2963
Submission flagged for editorial review.

[2021-01-15 12:14] whedon commented on #2963
PDF failed to compile for issue #2963 with the following error:

 Can't find any papers to compile :-(

[2021-01-15 12:15] arfon commented on #2963
@whedon generate pdf from branch joss_paper

[2021-01-15 12:15] whedon commented on #2963
[code]

[2021-01-15 12:16] whedon commented on #2962
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02962/joss.02962/10.21105.joss.02962.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02962/joss.02962/10.21105.joss.02962.pdf) :page_facing_up: :point_left:

[2021-01-15 12:17] whedon commented on #2963
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02963/joss.02963/10.21105.joss.02963.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02963/joss.02963/10.21105.joss.02963.pdf) :page_facing_up: :point_left:

[2021-01-15 12:24] Kevin-Mattheus-Moerman commented on #2911
@BKillen05 I hope you are well, and best wishes for 2021. Can you remind us when you are able to work on this? Thanks again for your help!

[2021-01-15 12:59] muellsen commented on #2844
@jbytecode Thank you very very much. Much appreciated that you dedicated your time to this! This is awesome!

[2021-01-15 13:15] Kevin-Mattheus-Moerman commented on #2956
@jennahamlin thanks for updating the paper. Just to let you know, I have flagged this submission for additional scope review by our editorial board which is standard for submissions of this size. In particular we will review if it contains ["substantial scholarly effort"](https://joss.readthedocs.io/en/latest/review_criteria.html#substantial-scholarly-effort) given that the core functionality is ~

[2021-01-15 13:28] KristinaRiemer commented on #2575
@whedon re-invite @r-barnes as reviewer

[2021-01-15 13:28] whedon commented on #2575
OK, the reviewer has been re-invited.

@r-barnes please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-15 13:51] modenaxe commented on #2911
@Kevin-Mattheus-Moerman count me in. It might take longer than usual though. Also I will comment confidently only on the MATLAB and Python part. I forgot C++ 😅

[2021-01-15 14:09] dghoshal-lbl commented on #2484
@pibion just checking if there is any update on the reviews.

[2021-01-15 16:23] kbarnhart commented on #2896
@juliohm - thanks for the response

@cheginit and @r-barnes thanks for your willingness to review. Via email discussions, I think that I've now found a third reviewer with access to Arc, but am still confirming with them.

Thus only one you is needed as a reviewer. I'll add @cheginit as a reviewer because @r-barnes has done a review for me somewhat recently (thank you!) and then start the review i

[2021-01-15 16:23] kbarnhart commented on #2896
@whedon add @cheginit as reviewer

[2021-01-15 16:23] whedon commented on #2896
OK, @cheginit is now a reviewer

[2021-01-15 16:35] tpoisot commented on #2829
@melissawm / @vlandau - yep, all works - my comments on the (really good) paper are here:

[2021-01-15 16:42] vlandau commented on #2829
Thanks @tpoisot! I will work on addressing those comments now.

[2021-01-15 16:43] kyleniemeyer commented on #2604
@whedon remove @cryos as reviewer

[2021-01-15 16:43] whedon commented on #2604
OK, @cryos is no longer a reviewer

[2021-01-15 17:01] wkirgsn commented on #2498
![Zenodo_error](https://user-images.githubusercontent.com/16706935/104756082-9944de80-575b-11eb-9bfd-471f4c6163d8.gif)

[2021-01-15 17:21] melissawm commented on #2895
Hello, @chkoar! Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-01-15 17:57] mbobra commented on #2931
Apologies @bauer-alex -- I am having trouble soliciting reviewers. I'm still working on it. Hopefully we'll kick the review off next week.

[2021-01-15 18:37] sbenthall commented on #2855
Hello. Apologies for the further delay. I've had to take some family leave but am now back to work. I'll look at the branch you've referenced; sorry to miss it the first time.

[2021-01-15 19:19] rmorgan10 commented on #2854
Hi All, thanks for the reviews! If I understand correctly, it looks like the major required improvements are:

1. Making the doc strings available via sphinx
2. Organize the tests and clarify what is being tested
3. Minor edits to the paper text

I am happy to do all three and will hopefully have all issues resolved at the end of next week if not sooner. I am glad the code and its functionalities

[2021-01-15 19:45] vlandau commented on #2829
@tpoisot just added a figure with example outputs. Good call! I also added a sentence about multithreading to the summary, and mentioned that ASCII and GeoTIFF raster formats are supported for reading and writing.

@melissawm I think it might make sense prior to finalizing the review to tag a new patch release of Omniscape.jl so a snapshot of the documentation can be preserved. Would it be possibl

[2021-01-15 19:47] vlandau commented on #2829
@whedon generate pdf

[2021-01-15 19:49] whedon commented on #2829
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: :point_left:

[2021-01-15 20:09] molgor commented on #2903
Hi Kathy,I can do it. It would be my first time to review in the JOSS, so I might bug you with some questions. Best,JuanEl 14/01/2021, a las 13:33, Katy Barnhart <notifications@github.com> escribió:👋 @molgor, @KMarkert, @ethanwhite @ecodiv would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://jo

[2021-01-15 20:12] kbarnhart commented on #2896
@amanaster2 has confirmed that she is willing to review and has access to Arc so I will now add her and start the review.

[2021-01-15 20:12] mbobra commented on #2931
@whedon add @qpmnguyen as reviewer

[2021-01-15 20:12] whedon commented on #2931
OK, @qpmnguyen is now a reviewer

[2021-01-15 20:12] kbarnhart commented on #2896
@whedon add @amanaster2 as reviewer

[2021-01-15 20:12] whedon commented on #2896
OK, @amanaster2 is now a reviewer

[2021-01-15 20:12] mbobra commented on #2931
@whedon start review

[2021-01-15 20:13] whedon opened #2964 "[REVIEW]: registr 2.0: Incomplete Curve Registration for Exponential Family Functional Data"
**Submitting author:** @bauer-alex (<a href="http://orcid.org/0000-0003-3495-5131">Alexander Bauer</a>)
**Repository:** <a href="https://github.com/julia-wrobel/registr" target ="_blank">https://github.com/julia-wrobel/registr</a>
**Version:** v2.1.0
**Editor:** @mbobra
**Reviewers:** @qpmnguyen, @g4brielvs
**Archive:** <a href="https://doi.org/10.5281/zenodo.4734283" target="_blank">10.5281/zenod

[2021-01-15 20:13] whedon commented on #2931
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2964.

[2021-01-15 20:13] #2931 closed

[2021-01-15 20:13] whedon commented on #2964
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @munkm, @qpmnguyen it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-01-15 20:13] whedon commented on #2964
[code]

[2021-01-15 20:14] kbarnhart commented on #2896
@whedon start review

[2021-01-15 20:14] whedon opened #2965 "[REVIEW]: lidar: A Python package for delineating nested surface depressions from digital elevation data"
**Submitting author:** @giswqs (<a href="http://orcid.org/0000-0001-5437-4073">Qiusheng Wu</a>)
**Repository:** <a href="https://github.com/giswqs/lidar" target ="_blank">https://github.com/giswqs/lidar</a>
**Version:** 0.6.1
**Editor:** @kbarnhart
**Reviewers:** @laijingtao, @cheginit, @amanaster2
**Archive:** <a href="https://doi.org/10.5281/zenodo.4571011" target="_blank">10.5281/zenodo.4571011