[2019-10-18 09:32] Kevin-Mattheus-Moerman commented on #1819
@xuanxu @mbobra @meg-simula can one edit this one?

[2019-10-18 10:09] chennachaos commented on #1441
Hi @likask, I tried working with the docker installation you recently posted.
I could not pull the files without using **sudo**. I got the following message if I didn't use **sudo**.
[code]
 I am new to docker. So, I don't know why I needed to do that.

Once I downloaded the files, I followed the steps you listed for the reaction-diffusion example. I could not run it using 6 processors. So, I chan

[2019-10-18 10:20] likask commented on #1441
@chennachaos This is an issue with docker and openmpi. Here is the solution
[openmpi error solution](http://mofem.eng.gla.ac.uk/mofem/html/faqs.html#openmpi_error_in_docer)

git commit id GITDIR-NOTFOUND. This is because I install the tarball, instead of git repo, to save a space a bit.

You can look here, for direct installation in Spack. We recently updated spack,
[spack install](http://mofem.en

[2019-10-18 10:27] martibosch commented on #1777
Hello, sorry for the delay. Here I go:

- Contribution and authorship: I noticed from the repository that all code has been written by @rmsare (except a very small commit by the second author). Of course there are many potential significant contributions beyond the code itself. I am just noting this to ensure that the author list complies with [JOSS authorship criteria](https://joss.readthedocs.io

[2019-10-18 10:29] melissawm commented on #1817
I can edit it, just let me know in case @will-rowe prefers to do it.

[2019-10-18 10:33] will-rowe commented on #1817
Thanks @melissawm - as this is outside my area of expertise and also my first editing offer, I would prefer if you could this time.

[2019-10-18 10:43] Kevin-Mattheus-Moerman commented on #1817
@whedon assign @melissawm as editor

[2019-10-18 10:43] whedon commented on #1817
OK, the editor is @melissawm

[2019-10-18 10:55] srmnitc commented on #1817
@melissawm thanks for agreeing to be the editor! Would you like me to recommend some reviewers?

[2019-10-18 11:21] xuanxu commented on #1819
Relativity + R is a mix out of my area of expertise, I’ll have to pass on this one

[2019-10-18 11:24] mbdemoraes commented on #1814
Viviane,

Reference fixed! Thanks for the warning.

Att,

Matheus

Em sex, 18 de out de 2019 às 05:59, Viviane Pons <notifications@github.com>
escreveu:

[2019-10-18 11:35] melissawm commented on #1817
Yes @srmnitc, that would be very helpful. Thanks!

[2019-10-18 11:45] srmnitc commented on #1817
@melissawm  by going through their github profiles and contribution, I think all of them might be a good fit - bjmorgan, bocklund, mkhorton, lucydot, utf, kjappelbaum and lucydot.

[2019-10-18 11:45] lpantano commented on #1411
@vbarrera , @snowformatics , it is ok to unpause this and continue with the review?

[2019-10-18 11:46] lpantano commented on #1584
Thank you @rbatorsky, @olgabot remember to check the boxes when you are finishing each point. Thanks!

[2019-10-18 11:48] lpantano commented on #1731
👋 @pholme, are you still able to review this? Let me know.

[2019-10-18 11:50] lpantano commented on #1774
:wave @KayleighRutherford, @harpolea, how is the review process going, do you think you are close to finish?

[2019-10-18 11:59] chand-lab commented on #1631
@whedon generate pdf

[2019-10-18 11:59] whedon commented on #1631
[code]

[2019-10-18 13:09] lskatz commented on #1762
Thank you for your comments @luizirber !  I did the following:

1.  Added a committed installation document at https://github.com/lskatz/mashtree/blob/master/docs/INSTALL.md
  * This document is linked from the README, https://github.com/lskatz/mashtree/blob/master/README.md#installation
  * All instructions you suggested have been incorporated.  They were very helpful, thank you!  However, I swit

[2019-10-18 13:10] lskatz commented on #1762
@whedon generate pdf

[2019-10-18 13:10] whedon commented on #1762
[code]

[2019-10-18 13:11] whedon commented on #1762
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01762/joss.01762/10.21105.joss.01762.pdf)

[2019-10-18 13:34] arfon commented on #1819
I suspect this paper is going to be tough for any of our editors to be honest. I'll take it.

[2019-10-18 13:35] arfon commented on #1819
@whedon assign @arfon as editor

[2019-10-18 13:35] whedon commented on #1819
OK, the editor is @arfon

[2019-10-18 13:39] chennachaos commented on #1441
Thank you for your prompt response, @likask
I have installed MoFEM using *spack*. I must say that it was not as straightforward as I would have liked.

The *Spack setup* at http://mofem.eng.gla.ac.uk/mofem/html/install_spack.html section can be improved.

* The command `curl -s -L https://bitbucket.org/likask/mofem-cephas/downloads/mirror_v0.9.0.tar.gz \
| tar xzC $PWD/mofem_mirror  --strip 1`
fai

[2019-10-18 13:42] arfon commented on #1819
@RobinHankin - thanks for your submission to JOSS.

I've had a quick read of the paper associated with this submission and I think it could do with a little work. In particular [we ask](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) that your paper contains:

While there is some useful background here, it's not immediately clear what current research applicatio

[2019-10-18 14:14] JoshKarpel commented on #1684
@Shibabrat  @WyLyu please make sure to reference the issues (and specific commits, where reasonable) from the pull requests so we know which is addressing what.

[2019-10-18 14:18] likask commented on #1441
1. Yes, you do not have to add mirror. However dependent packages often change locations, and sometimes servers are down. This is more reliable way of installation.

2. Mirror allows installation on secure servers with restricted internet access.

3. You can load openmpi and moab from spack.

‘spack load openmpi’

That should fix problem.

Lukasz

[2019-10-18 14:36] chennachaos commented on #1441
`spack load openmpi` command fixed the issue with `PMIX`. Thank you.

I confirm that I can run the test case in parallel.

[2019-10-18 14:49] chennachaos commented on #1441
@jedbrown I have finished my review for the MoFEM software library.
Lukasz @likask has been very responsive to my queries.

MoFEM is a very powerful library for FEA. It is well designed and documented. I have verified its installation, functionality and examples. Of course, there is room for improvement in the documentation for which I have already identified few places in my earlier post. I am co

[2019-10-18 14:52] nquesada commented on #1705
@katyhuff did you hear back from @PhilipVinc ?

[2019-10-18 15:07] jgoldfar commented on #1772
I would be able to take this on at the beginning of November; I'd be happy to help if there is still a need for review.

[2019-10-18 15:50] kyleniemeyer commented on #1005
@Kevin-Mattheus-Moerman feel free to give it another look—though I'm not sure what caused the error above, since the PDF seems to generate fine.

[2019-10-18 15:52] shah314 commented on #1756
@whedon generate pdf

[2019-10-18 15:52] whedon commented on #1756
[code]

[2019-10-18 15:52] whedon commented on #1756
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01756/joss.01756/10.21105.joss.01756.pdf)

[2019-10-18 15:57] mgymrek commented on #1500
@openjournals/joss-eics we are ready to accept this.

[2019-10-18 15:58] mgymrek commented on #1742
@whedon generate pdf

[2019-10-18 15:59] whedon commented on #1742
[code]

[2019-10-18 15:59] whedon commented on #1742
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01742/joss.01742/10.21105.joss.01742.pdf)

[2019-10-18 16:05] mgymrek commented on #1742
@mikmaksi if all looks good can you complete the checklist?

@dphansti this looks great. Can you just address these very minor comments on the proof?
"use to the genomic community" -> "use to the genomics community"
"breakthroughs in genetic research"-> "breakthroughs in genetics research"

After that, can you make a Zenodo archive, ensuring the title and author list match the paper, and report th

[2019-10-18 16:10] mgymrek commented on #1813
this is not really in my arena.  @brainstorm @majensen @csoneson @lpantano would either of you be able to take this one?

[2019-10-18 16:12] shah314 commented on #1756
@arfon I have made the changes. Thanks.

The Zenodo DOI is 10.5281/zenodo.3507931

https://zenodo.org/record/3507931#.Xanj7pNKiL8

[2019-10-18 16:15] csoneson commented on #1813
This is also pretty far from my expertise I'm afraid.

[2019-10-18 16:20] jhcreed commented on #1810
Potential reviewers would be: acolum, marouenbg, ManuelaS, and dsurujon

[2019-10-18 16:22] cMadan commented on #1631
@conradsnicta, thank you for the detailed review, I very much appreciate it!

@chand-lab, I need to check over a few things now, but we're almost done!

[2019-10-18 16:25] cMadan commented on #1810
@acolum @marouenbg @ManuelaS @dsurujon, would you be available and interested in reviewing this submission?

[2019-10-18 16:26] cMadan commented on #1648
@danasolav, great, thank you! As @Kevin-Mattheus-Moerman said, we do still need another reviewer before we formally begin, but feel free to start trying to install/test the software if you have time.

[2019-10-18 16:26] cMadan commented on #1648
@whedon add @danasolav as reviewer

[2019-10-18 16:26] whedon commented on #1648
OK, @danasolav is now a reviewer

[2019-10-18 16:27] cMadan commented on #1662
@russellpierce, thank you for reviewing this submission!

@paul-buerkner, I have to do some final checks now, but we're almost done!

[2019-10-18 16:28] cMadan commented on #1620
@whedon generate pdf

[2019-10-18 16:28] whedon commented on #1620
[code]

[2019-10-18 16:29] whedon commented on #1620
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01620/joss.01620/10.21105.joss.01620.pdf)

[2019-10-18 16:29] cMadan commented on #1648
@SwathiSheshadri, do you have any additional suggestions about who might be a suitable reviewer for your submission?

[2019-10-18 16:29] cMadan commented on #1662
@whedon generate pdf

[2019-10-18 16:29] whedon commented on #1662
[code]

[2019-10-18 16:30] whedon commented on #1662
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01662/joss.01662/10.21105.joss.01662.pdf)

[2019-10-18 16:35] cMadan commented on #1631
@chand-lab, it looks like two of your references didn't resolve correctly in the PDF. See the second line of the "Software and Hardware components" section.

[2019-10-18 16:38] chand-lab commented on #1631
@whedon generate pdf

[2019-10-18 16:38] whedon commented on #1631
[code]

[2019-10-18 16:39] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-18 16:40] chand-lab commented on #1631
@whedon generate pdf

[2019-10-18 16:40] whedon commented on #1631
[code]

[2019-10-18 16:40] cMadan commented on #1662
@paul-buerkner, can you look over your bib file? It looks like there are a few mistakes to fix (missing volume/pages, incorrect page numbers, missing capitalisation).

[2019-10-18 16:40] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-18 16:42] chand-lab commented on #1631
@whedon generate pdf

[2019-10-18 16:42] whedon commented on #1631
[code]

[2019-10-18 16:43] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-18 16:44] cMadan commented on #1620
@MLHale, it looks like the bib needs a few fixes (missing year, missing capitalisation, missing page numbers).

[2019-10-18 16:45] chand-lab commented on #1631
@whedon check references

[2019-10-18 16:45] whedon commented on #1631
[code]

[2019-10-18 16:45] whedon commented on #1631
[code]

[2019-10-18 16:46] chand-lab commented on #1631
@whedon generate pdf

[2019-10-18 16:46] whedon commented on #1631
[code]

[2019-10-18 16:46] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-18 16:48] chand-lab commented on #1631
@whedon generate pdf

[2019-10-18 16:48] whedon commented on #1631
[code]

[2019-10-18 16:49] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-18 16:53] chand-lab commented on #1631
@chand-lab, it looks like two of your references didn't resolve correctly in the PDF. See the second line of the "Software and Hardware components" section.

@cMadan - This has been fixed. I think the issue was you need to separate by ; for multiple references instead of a ,.

[2019-10-18 16:58] chand-lab commented on #1631
This has been fixed. I think the issue was you need to separate by ; for multiple references instead of a ,. Apologies for the error!

[2019-10-18 17:01] MLHale commented on #1620
@cMaden - I will look over that and get it fixed tonight. Thanks

[2019-10-18 17:29] likask commented on #1441
@chennachaos Thank you.

@vijaysm @chrisrichardson, @Kevin-Mattheus-Moerman, can you have a go.

See this [link](https://github.com/openjournals/joss-reviews/issues/1441#issuecomment-541414523) as a quick and easy way of installation.

[2019-10-18 17:43] mwcraig commented on #1789
@arfon -- I'd be delighted but fear I've got a conflict of interest here. Stuart and I are co-authors on the most recent astropy paper, but perhaps more importantly, have worked together on some of the pieces of Astropy that interface most directly with SunPy.

[2019-10-18 17:44] mwcraig commented on #1789
I think I could be unbiased (the JOSS review criteria are pretty straightforward) but felt obligated to make you aware of al the appearance of a conflict of interest.

[2019-10-18 18:19] jnoynaert commented on #1642
@oliviaguest finally pushed this and tagged Will in the [original issue](https://github.com/jnoynaert/PressureDrop.jl/issues/3)

[2019-10-18 18:25] rmsare commented on #1777
@martibosch Thanks for your detailed review. Just to give myself a TODO list, here is what I think needs to be addressed:

- [ ] Improve installation, possibly with conda recipe
- [ ] Remove example data from package, but download it when `datasets.load_...` is first called
- [ ] Fix `flake8` failures and run a linter
- [ ] (Optional?) Use Coveralls CI with tests

Please let me know if there's any

[2019-10-18 18:30] rmsare commented on #1777
... and to clarify authorship, the second author @gehilley has supported development and some related data acquisition. (He is my PhD supervisor.)

Code-wise, he is also responsible for the wrapper this package depends on, which is hosted separately at https://github.com/stgl/pymcc

[2019-10-18 19:22] kellykochanski commented on #1699
@kthyng Thank you for the careful review and comments.

[2019-10-18 19:22] kellykochanski commented on #1699
@whedon generate pdf

[2019-10-18 19:22] whedon commented on #1699
[code]

[2019-10-18 19:22] whedon commented on #1699
PDF failed to compile for issue #1699 with the following error:

 Error reading bibliography ./paper.bib (line 63, column 3):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-10-18 19:24] kellykochanski commented on #1699
@whedon generate pdf

[2019-10-18 19:24] whedon commented on #1699
[code]

[2019-10-18 19:25] whedon commented on #1699
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01699/joss.01699/10.21105.joss.01699.pdf)

[2019-10-18 19:30] kellykochanski commented on #1699
@whedon generate pdf

[2019-10-18 19:30] whedon commented on #1699
[code]

[2019-10-18 19:31] whedon commented on #1699
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01699/joss.01699/10.21105.joss.01699.pdf)

[2019-10-18 19:38] kellykochanski commented on #1699
@whedon generate pdf

[2019-10-18 19:38] whedon commented on #1699
[code]

[2019-10-18 19:39] whedon commented on #1699
PDF failed to compile for issue #1699 with the following error:

 Error reading bibliography ./paper.bib (line 96, column 1):
unexpected "@"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-10-18 19:39] kellykochanski commented on #1699
@whedon generate pdf

[2019-10-18 19:39] whedon commented on #1699
[code]

[2019-10-18 19:40] whedon commented on #1699
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01699/joss.01699/10.21105.joss.01699.pdf)

[2019-10-18 19:43] whedon commented on #1699
[code]

[2019-10-18 19:45] kellykochanski commented on #1699
@kthyng I've fixed the following:

- Figure 2 caption has its own line
- Missing semicolon added to bibliography
- Missing umlaut in "Lammel" name properly formatted
- Capitalizations in paper names {bracketed}
- DOIs checked

I have not been able to fix the expanded author list for Marsh et al., despite reformatting (from quotes "" to brackets {{}}) to match the example you sent.

Currently, list

[2019-10-18 20:10] Kevin-Mattheus-Moerman commented on #1706
@whedon accept

[2019-10-18 20:10] whedon commented on #1706
[code]

[2019-10-18 20:11] whedon commented on #1706
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1031

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1031, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-18 20:11] whedon commented on #1706
[code]

[2019-10-18 20:12] Kevin-Mattheus-Moerman commented on #1706
@whedon accept deposit=true

[2019-10-18 20:12] whedon commented on #1706
[code]

[2019-10-18 20:13] whedon commented on #1706
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1185287914353238017) 👈 🐦🐦🐦

[2019-10-18 20:13] whedon commented on #1706
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1032
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01706](https://doi.org/10.21105/joss.01706)
2. If everything looks g

[2019-10-18 20:17] Kevin-Mattheus-Moerman commented on #1005
@whedon accept

[2019-10-18 20:17] whedon commented on #1005
[code]

[2019-10-18 20:18] whedon commented on #1005
PDF failed to compile for issue #1005 with the following error:

 E, [2019-10-18 20:18:05#375] ERROR -- : Failed to parse BibTeX on value "This" (NAME) ["@", "Comment"]
bibtex.y:138:in `on_error': Failed to parse BibTeX on value "This" (NAME) ["@", "Comment"] (BibTeX::ParseError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/racc/parser.rb:259:in `_racc_do_parse_c'
	from /app/vendor/ruby-2.4.4/lib/r

[2019-10-18 20:20] Kevin-Mattheus-Moerman commented on #1005
@openjournals/dev @arfon :point_up: do you know what is going on here?

[2019-10-18 20:20] #1706 closed

[2019-10-18 20:20] whedon commented on #1706
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01706/status.svg)](https://doi.org/10.21105/joss.01706)

**We need your help!**

Journal of Open Source Softwa

[2019-10-18 20:24] Kevin-Mattheus-Moerman commented on #1500
@whedon check references

[2019-10-18 20:24] whedon commented on #1500
[code]

[2019-10-18 20:25] whedon commented on #1500
[code]

[2019-10-18 20:25] Kevin-Mattheus-Moerman commented on #1500
@whedon generate pdf

[2019-10-18 20:25] whedon commented on #1500
[code]

[2019-10-18 20:25] whedon commented on #1500
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01500/joss.01500/10.21105.joss.01500.pdf)

[2019-10-18 20:27] yangkcatiu commented on #1706
Thank you all! We really appreciate your work and comments.

[2019-10-18 21:03] slithiaote commented on #1005
Is it perhaps related to the comment in the first line of my bibtex file ?
`@Comment This file was generated from lepton.nw by lepton.bin`

[2019-10-18 21:13] arfon commented on #1756
@whedon set 10.5281/zenodo.3507931 as archive

[2019-10-18 21:13] whedon commented on #1756
OK. <a href="https://doi.org/10.5281/zenodo.3507931" target="_blank">10.5281/zenodo.3507931</a> is the archive.

[2019-10-18 21:13] Kevin-Mattheus-Moerman commented on #1500
@AliYoussef96 some minor comments on the paper:

- [ ] Can  you remove the extra spaces introduced for items in brackets throughout the paper?
- [ ] Please amend your citation syntax for `...codons described by (Hersh-berg & Petrov, 2009) is implemented...` [See here](https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_syntax).
- [ ] Add hyphen to `built in` in: `...

[2019-10-18 21:14] arfon commented on #1756
@whedon accept

[2019-10-18 21:14] whedon commented on #1756
[code]

[2019-10-18 21:14] whedon commented on #1756
[code]

[2019-10-18 21:15] whedon commented on #1756
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1033

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1033, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-18 21:16] arfon commented on #1756
@whedon accept deposit=true

[2019-10-18 21:16] whedon commented on #1756
[code]

[2019-10-18 21:17] whedon commented on #1756
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1185303975291215873) 👈 🐦🐦🐦

[2019-10-18 21:17] whedon commented on #1756
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1034
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01756](https://doi.org/10.21105/joss.01756)
2. If everything looks g

[2019-10-18 21:19] arfon commented on #1005
Yeah, any chance you could remove that line please @slithiaote?

[2019-10-18 21:20] arfon commented on #1756
@sjvrijn, @stulacy - many thanks for your reviews here ✨

@shah314 - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-10-18 21:20] #1756 closed

[2019-10-18 21:20] whedon commented on #1756
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01756/status.svg)](https://doi.org/10.21105/joss.01756)

**We need your help!**

Journal of Open Source Softwa

[2019-10-18 21:27] arfon commented on #1789
OK thanks for letting me know @mwcraig. Let me ping @dhuppenkothen one more time to see if she's available, but I might come back to you later :-)

[2019-10-18 21:48] lpantano commented on #1813
I know very little. I will give another day to see if actually any of the others know more, if not, i can take it and ask for help to the authors to find reviewers.

[2019-10-18 21:52] mbobra commented on #1765
@whedon add @steffilazerte as reviewer

[2019-10-18 21:52] whedon commented on #1765
OK, @steffilazerte is now a reviewer

[2019-10-18 21:53] mbobra commented on #1765
@whedon start review

[2019-10-18 21:53] whedon opened #1820 "[REVIEW]: memochange: An R package for estimation procedures and tests for persistent time series"
**Submitting author:** @KaiWenger (<a href="http://orcid.org/0000-0002-6566-0427">Kai Wenger</a>)
**Repository:** <a href="https://github.com/KaiWenger/memochange" target ="_blank">https://github.com/KaiWenger/memochange</a>
**Version:** 1.1.0
**Editor:** @mbobra
**Reviewer:** @JonasMoss, @steffilazerte
**Archive:** <a href="https://doi.org/10.5281/zenodo.3543826" target="_blank">10.5281/zenodo.35

[2019-10-18 21:53] whedon commented on #1765
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1820. Feel free to close this issue now!

[2019-10-18 21:53] whedon commented on #1820
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JonasMoss, @steffilazerte it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2019-10-18 21:53] whedon commented on #1820
[code]

[2019-10-18 21:53] #1765 closed

[2019-10-18 21:53] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-10-18 21:55] mbobra commented on #1820
👋 @JonasMoss @steffilazerte Thank you for agreeing to review this submission! Whedon generated a checklist and linked a reviewer guide above -- let me know if you have any questions.

[2019-10-19 01:47] amoeba commented on #1796
Hey @majensen, @cimentadaj, I've conducted my first pass at the review checklist and things look very good overall. I have some items I'd like @cimentadaj to address so at this point my review is a conditional accept. See: https://github.com/cimentadaj/perccalc/issues/2.

[2019-10-19 01:47] AliYoussef96 commented on #1500
@whedon generate pdf

[2019-10-19 01:47] whedon commented on #1500
[code]

[2019-10-19 01:48] whedon commented on #1500
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01500/joss.01500/10.21105.joss.01500.pdf)

[2019-10-19 01:54] RobinHankin commented on #1819
thanks for this Arfon

I'll rewrite the submission as you suggest.  The research purpose of the
package is, as stated, to search for a generalization of the classical
distributive law; and this is ongoing work.  But, even though I've searched
a very large space for a possible distributive law, I didn't find one.
Does this matter?

<hankin.robin@gmail.com>
hankin.robin@gmail.com

<hankin.robin@gmai

[2019-10-19 02:05] AliYoussef96 commented on #1500
- [x] Can you remove the extra spaces introduced for items in brackets throughout the paper?
- [x] Please amend your citation syntax for ...codons described by (Hersh-berg & Petrov, 2009)
- [x] Add hyphen to built in in: ...with built in and third-party packages...
- [x] Use can instead of could in "...tool could be divided into three groups."
- [x] Should BCAWT’s be BCAW’s? in "...are reported in

[2019-10-19 03:59] majensen commented on #1813
I'm comfortable taking this one

Sent from my iPhone

[2019-10-19 05:51] heprom commented on #1732
Yes I'm doing it today.

On Thu, Oct 10, 2019 at 9:06 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2019-10-19 05:58] oliviaguest commented on #1754
@whedon add @soodoku as reviewer

[2019-10-19 05:58] whedon commented on #1754
OK, @soodoku is now a reviewer

[2019-10-19 05:59] oliviaguest commented on #1754
@whedon start review

[2019-10-19 05:59] whedon opened #1821 "[REVIEW]: tabula: An R Package for Analysis, Seriation and Visualization of Archaeological Count Data"
**Submitting author:** @nfrerebeau (<a href="http://orcid.org/0000-0001-5759-4944">Nicolas Frerebeau</a>)
**Repository:** <a href="https://github.com/nfrerebeau/tabula" target ="_blank">https://github.com/nfrerebeau/tabula</a>
**Version:** v1.4.0
**Editor:** @oliviaguest
**Reviewer:** @izaromanowska, @soodoku
**Archive:** <a href="https://doi.org/10.5281/zenodo.3552904" target="_blank">10.5281/zen

[2019-10-19 05:59] whedon commented on #1754
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1821. Feel free to close this issue now!

[2019-10-19 05:59] whedon commented on #1821
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @izaromanowska, @soodoku it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-10-19 05:59] whedon commented on #1821
[code]

[2019-10-19 06:00] whedon commented on #1821
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01821/joss.01821/10.21105.joss.01821.pdf)

[2019-10-19 06:02] oliviaguest commented on #1754
@izaromanowska, @soodoku :wave:

Please head on to the actual review here: #1821

[2019-10-19 06:10] oliviaguest commented on #1821
Hey @izaromanowska and @soodoku!

This is where the reviewing proper happens. You need to go through the checklist and feel free to post questions here and open review issues in the submission repository: https://github.com/nfrerebeau/tabula (If you do please link to them here to help keep track.)

[2019-10-19 06:49] heprom commented on #1732
Hi @Kevin-Mattheus-Moerman I have done a first pass at reading the paper and testing the code. There is a small bug in the examples (I thing after moving to json input files): the input file in ellipsoid_pack.py has not been changed which result in an error when running the example.

[2019-10-19 06:52] #1754 closed

[2019-10-19 07:05] Kevin-Mattheus-Moerman commented on #1813
@whedon assign @majensen as editor

[2019-10-19 07:05] whedon commented on #1813
OK, the editor is @majensen

[2019-10-19 07:12] heprom commented on #1732
A comment on the paper: first it is concise and well written. I recommend changing from "With the advent of additive manufacturing, the processing steps usually result in rather complex microstructures with elongated grains and strong crystallographic textures in metals." to something less reductive like: "Metallic material processing (including additive manufacturing) often result in complex micr

[2019-10-19 08:02] paul-buerkner commented on #1662
@whedon generate pdf

[2019-10-19 08:02] whedon commented on #1662
[code]

[2019-10-19 08:03] whedon commented on #1662
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01662/joss.01662/10.21105.joss.01662.pdf)

[2019-10-19 08:06] paul-buerkner commented on #1662
@whedon generate pdf

[2019-10-19 08:06] whedon commented on #1662
[code]

[2019-10-19 08:07] whedon commented on #1662
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01662/joss.01662/10.21105.joss.01662.pdf)

[2019-10-19 08:10] paul-buerkner commented on #1662
Thanks @cMadan! The bib file should be correct now.

[2019-10-19 09:02] mrgprasad commented on #1732
@whedon generate pdf

[2019-10-19 09:02] whedon commented on #1732
[code]

[2019-10-19 09:02] whedon commented on #1732
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01732/joss.01732/10.21105.joss.01732.pdf)

[2019-10-19 09:04] mrgprasad commented on #1732
@heprom
Thank you for the software and paper review. I have pushed an update to Kanapy's repo.
With this update I have fixed the bug in **ellipsoid_pack.py** file and the corrected the above mentioned sentence in the JOSS paper.

[2019-10-19 10:01] snowformatics commented on #1411
I am fine with unpausing, should I create a new binary nevertheless of 2
open issues?

Am Fr., 18. Okt. 2019, 13:45 hat Lorena Pantano <notifications@github.com>
geschrieben:

[2019-10-19 10:13] csoneson commented on #1744
@VivekTodur - thanks for your review!
@RafalUrniaz - please go through the comments from the reviewers above, and report back here when you are ready for them to take another look. Of course, don't hesitate to ping me or the reviewers if you have questions.

[2019-10-19 11:05] martibosch commented on #1777
Hello @rmsare . Your TODO list seems a great response to my review. I will stay tuned.

Regarding the authorship, I did not intend to cast any doubt about the contributions made by second author, I just wanted to make sure that it is in line with the JOSS guidelines.

[2019-10-19 11:26] telegraphic commented on #1554
Done!

10.5281/zenodo.3472084

[2019-10-19 11:46] ybayle commented on #1262
@whedon set v1.0.17 as version

[2019-10-19 11:46] whedon commented on #1262
I'm sorry @ybayle, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-10-19 11:47] ybayle commented on #1262
@patrikhuber Thanks for your comments. I solved ybayle/Scyland3D#10 and ybayle/Scyland3D#11. Tell me if everything is ok for you in the new version 1.0.17.

[code]

That's it, it will be updated upon acceptance.

@r-barnes Thanks for your suggestions that have all been added. N.B.: the use of argparse is far better than optget!

@Kevin-Mattheus-Moerman Everything is ok and up to date on my side, e

[2019-10-19 16:11] malmaud commented on #1453
Great, much improved! I'd be happy with accepting in this state.

[2019-10-19 16:20] alexhanna commented on #1453
Thanks so much @malmaud. Can you confirm this by checking off the necessary boxes in your review?

[2019-10-19 16:20] malmaud commented on #1453
done

[2019-10-19 16:28] hbaniecki commented on #1798
@whedon generate pdf

[2019-10-19 16:28] whedon commented on #1798
[code]

[2019-10-19 16:28] whedon commented on #1798
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01798/joss.01798/10.21105.joss.01798.pdf)

[2019-10-19 16:33] sambitdash commented on #1453
Thanks @malmaud.

[2019-10-19 16:41] hbaniecki commented on #1798
@whedon generate pdf

[2019-10-19 16:41] whedon commented on #1798
[code]

[2019-10-19 16:42] whedon commented on #1798
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01798/joss.01798/10.21105.joss.01798.pdf)

[2019-10-19 17:17] acolum commented on #1810
Thank you for contacting me, but I'm not available to review this submission at this time.

[2019-10-19 19:47] Kevin-Mattheus-Moerman commented on #1262
@whedon set v1.0.17 as version

[2019-10-19 19:47] whedon commented on #1262
OK. v1.0.17 is the version.

[2019-10-19 19:53] Kevin-Mattheus-Moerman commented on #1262
@ybayle have these issues raised by @r-barnes been addressed :point_down:

[2019-10-19 20:02] shah314 commented on #1756
Thank you very much @arfon @stulacy @sjvrijn

[2019-10-19 20:13] Kevin-Mattheus-Moerman commented on #1732
@heprom thanks for your review comments! Do you feel @mrgprasad has addressed the issues you raised?

[2019-10-19 20:14] Kevin-Mattheus-Moerman commented on #1676
@whedon start review

[2019-10-19 20:14] whedon opened #1822 "[REVIEW]: SIHR: a MATLAB/GNU Octave toolbox for single image highlight removal"
**Submitting author:** @vitorsr (<a href="http://orcid.org/0000-0002-7583-5577">Vítor Saraiva Ramos</a>)
**Repository:** <a href="https://github.com/vitorsr/SIHR" target ="_blank">https://github.com/vitorsr/SIHR</a>
**Version:** v0.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @thomakra, @Atif-Anwer
**Archive:** <a href="https://doi.org/10.5281/zenodo.3367760" target="_blank">10.5281/zenodo.

[2019-10-19 20:14] whedon commented on #1676
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1822. Feel free to close this issue now!

[2019-10-19 20:14] whedon commented on #1822
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @thomakra, @Atif-Anwer it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-10-19 20:14] whedon commented on #1822
[code]

[2019-10-19 20:15] whedon commented on #1822
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01822/joss.01822/10.21105.joss.01822.pdf)

[2019-10-19 20:17] Kevin-Mattheus-Moerman commented on #1822
@vitorsr this is where the review takes place.

@thomakra, @Atif-Anwer, thanks for helping to review this work. The checkboxes at the top guide you through the review process. You can make comments here and/or create dedicated issues on the software's repo and link to them here.

Please let me know if you have any questions.

[2019-10-19 20:17] #1676 closed

[2019-10-19 20:28] Kevin-Mattheus-Moerman commented on #1337
@whedon set 5.1 as version

[2019-10-19 20:28] whedon commented on #1337
OK. 5.1 is the version.

[2019-10-19 20:43] heprom commented on #1732
yes I'm happy with the software now.

On Sat, Oct 19, 2019 at 10:13 PM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2019-10-19 21:04] Kevin-Mattheus-Moerman commented on #1500
@AliYoussef96 thanks for implementing those. Some minor points remain:

- [ ] Please use either `the BCAWT` throughout or `BCAWT`. I propose `BCAWT`, so to remove all instances of `the` in front of BCAWT.
- [ ] Check again for BCAW and BCAWT (e.g. you still have `....are reported in the BCAW’s`)
- [ ] You currently do not have an acknowledgements section (which is optional), add one now if you fee

[2019-10-19 21:05] Kevin-Mattheus-Moerman commented on #1732
@heprom thanks. In that case are you able to tick the last box (example usage)?

[2019-10-19 21:17] Kevin-Mattheus-Moerman commented on #1613
@ramaniitrgoyal92 can you verify that you clearly state all the third party works and dependencies included with your software? Also can you make sure you check the license terms for these? E.g. if you have to include the license you do etc.

@apsabelhaus thanks for the thorough review! And also for raising these points. If works from others are included they need to be labelled as such (attributi

[2019-10-19 21:17] Kevin-Mattheus-Moerman commented on #1613
@apsabelhaus feel free to tick that license box. Thanks again for your help here!!

[2019-10-19 21:26] AliYoussef96 commented on #1500
@Kevin-Mattheus-Moerman Thank you for your quick response!!

- [x] Please use either the BCAWT throughout or BCAWT. I propose BCAWT, so to remove all instances of the in front of BCAWT.
- [x] Check again for BCAW and BCAWT (e.g. you still have ....are reported in the BCAW’s)
- [x] You currently do not have an acknowledgements section (which is optional), add one now if you feel it is appropriate.

[2019-10-19 21:27] AliYoussef96 commented on #1500
@whedon generate pdf

[2019-10-19 21:27] whedon commented on #1500
[code]

[2019-10-19 21:27] whedon commented on #1500
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01500/joss.01500/10.21105.joss.01500.pdf)

[2019-10-19 22:11] patrikhuber commented on #1262
@ybayle @Kevin-Mattheus-Moerman I've retested today and updated the issues.

[2019-10-20 00:43] melissawm commented on #1817
Thanks @srmnitc!

@bjmorgan, @lucydot would you be available and interested in reviewing this submission?

[2019-10-20 00:55] lucydot commented on #1817
Hi @melissawm and @srmnitc - I’d be happy to review

[2019-10-20 06:37] brainstorm commented on #1708
Thanks @johnbachman!  @GullyAPCBurns, please let me know if you have any doubts about the review process?

[2019-10-20 06:39] heprom commented on #1732
another small detail in the examples (both):
shouldn't the path to the input file be defined as

`inputFile = os.path.join(os.getcwd(), 'stat_input.json')`

so that it is plateform independent. I'm running linux so it works for me as is but I guess this will not work on windows.

[2019-10-20 07:46] mrgprasad commented on #1732
@heprom
Currently we intend provide Kanapy for Linux & MAC OS platforms only.
In the future, with additional functionalities (that is still under development) we may release it for Windows too.

[2019-10-20 11:25] xuanxu commented on #1554
@whedon set 10.5281/zenodo.3472084 as archive

[2019-10-20 11:25] whedon commented on #1554
OK. <a href="https://doi.org/10.5281/zenodo.3472084" target="_blank">10.5281/zenodo.3472084</a> is the archive.

[2019-10-20 11:29] xuanxu commented on #1554
Everything looks ready 🎉
Pinging @openjournals/joss-eics for final acceptance

[2019-10-20 12:02] ybayle commented on #1262
@Kevin-Mattheus-Moerman Yes but both reviewers raised new issues that I'm tackling.

[2019-10-20 12:37] Kevin-Mattheus-Moerman commented on #1500
@AliYoussef96 getting close
- [ ] Add a full stop after `... a folder named save_path` so it reads `... a folder named save_path.`
- [ ] Remove the `the` in `...are reported in the BCAW’s` so it becomes: `.....are reported in BCAW’s`

[2019-10-20 12:48] AliYoussef96 commented on #1500
• [x] Add a full stop after ... a folder named save_path so it reads ... a folder named save_path.
• [x] Remove the the in ...are reported in the BCAW’s so it becomes: .....are reported in BCAW’s

[2019-10-20 12:59] Kevin-Mattheus-Moerman commented on #1554
@telegraphic some minor points about the paper

- [ ] Check your affiliations. The second instance of `Nijmegen` is spelled wrong, it currently says `Nimegen`. Also I believe the correct affiliation there should probably be `Radboud University, Nijmegen, the Netherlands`. Please also add `United States of America`, and spell out `the Netherlands`.
- [ ] In your repo and the Zenodo archive Blimpy i

[2019-10-20 12:59] Kevin-Mattheus-Moerman commented on #1500
@whedon generate pdf

[2019-10-20 12:59] whedon commented on #1500
[code]

[2019-10-20 13:00] whedon commented on #1500
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01500/joss.01500/10.21105.joss.01500.pdf)

[2019-10-20 13:01] Kevin-Mattheus-Moerman commented on #1500
@whedon accept

[2019-10-20 13:01] whedon commented on #1500
[code]

[2019-10-20 13:02] whedon commented on #1500
[code]

[2019-10-20 13:02] whedon commented on #1500
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1035

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1035, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-20 13:02] Kevin-Mattheus-Moerman commented on #1792
@kyleniemeyer can you edit this one?

[2019-10-20 13:04] Kevin-Mattheus-Moerman commented on #1500
@whedon accept deposit=true

[2019-10-20 13:04] whedon commented on #1500
[code]

[2019-10-20 13:05] whedon commented on #1500
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1185904964729790469) 👈 🐦🐦🐦

[2019-10-20 13:05] whedon commented on #1500
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1036
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01500](https://doi.org/10.21105/joss.01500)
2. If everything looks g

[2019-10-20 13:08] #1500 closed

[2019-10-20 13:08] whedon commented on #1500
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01500/status.svg)](https://doi.org/10.21105/joss.01500)

**We need your help!**

Journal of Open Source Softwa

[2019-10-20 14:02] AliYoussef96 commented on #1500
Huge thanks to @mgymrek, @Kevin-Mattheus-Moerman, and @Benjamin-Lee.  Your effort is greatly appreciated!

[2019-10-20 14:51] ybayle commented on #1262
@Kevin-Mattheus-Moerman I have addressed all reviewers comments, suggestions and fixed every bug raised by the reviewers. I have added a new release on the main repo, could you update again the version to v1.0.18 please? Thanks! I'm waiting for confirmation from @r-barnes and @patrikhuber that everything is ok for the v1.0.18 release.

[2019-10-20 15:26] kaashif commented on #1695
Acknowledged, will work on fixing those tests and issues. I've just started a new job and been quite busy which is why I haven't gotten around to it yet, sorry about that.

[2019-10-20 15:52] alex-konovalov commented on #1695
@kaashif thanks. I've invited you to https://github.com/orgs/gap-packages/ and then you should be to migrate the repository. I suggest then to discuss technical details there.

[2019-10-20 18:04] srmnitc commented on #1817
thanks @melissawm  and @lucydot.

[2019-10-20 18:33] kyleniemeyer commented on #1792
@Kevin-Mattheus-Moerman sure, can do

[2019-10-20 18:34] kyleniemeyer commented on #1792
@whedon assign @kyleniemeyer as editor

[2019-10-20 18:34] whedon commented on #1792
OK, the editor is @kyleniemeyer

[2019-10-20 18:42] acolum commented on #1798
The references and citations look great, but I'm still noticing a few spelling errors in the first paragraph under "Introduction" and the paragraph under "Conclusions."

[2019-10-20 19:27] heprom commented on #1732
ok good then.

[2019-10-20 20:32] Shibabrat commented on #1684
We've mostly done the last few changes that include the filename, moving code to different directories, and structuring documentation using pull requests. But maybe we didn't tag or reference the issues so that's why it's not clear what we have been changing. Apologies for the confusion. We are cutting our teeth with the branching and pull requests on different but related issues.

In summary, we

[2019-10-20 20:48] mikmaksi commented on #1742
@mgymrek of course. I checked the last box that was not check (license)

[2019-10-20 21:18] telegraphic commented on #1554
@whedon generate pdf

[2019-10-20 21:18] whedon commented on #1554
[code]

[2019-10-20 21:19] whedon commented on #1554
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01554/joss.01554/10.21105.joss.01554.pdf)

[2019-10-20 21:22] telegraphic commented on #1554
@Kevin-Mattheus-Moerman Thanks, just made the suggested changes and regenerated the PDF.

[2019-10-20 22:44] peterwc commented on #1762
@csoneson I will continue with my review but I realized that I may be in a gray area for this review. I apologize for not bringing it up sooner. I am a bioinformatics researcher at the CDC, but I work in a different division than @lskatz. I have not been on any papers with him, but I do know him personally. After reading through the ethics guidelines I decided it would be best to ask for waiver be

[2019-10-21 00:53] katyhuff commented on #1705
@nquesada I'm sorry to say I have not. @PhilipVinc  is not responding to my emails.
I am going mention a few people in this issue who may be able to review instead.

[2019-10-21 01:02] katyhuff commented on #1705
Dear Lei Wang (@wangleiphy)
I'm emailing to request your expertise in quantum computational physics. Specifically, I'd like to ask for your review of a submission to the [Journal of Open Source Software](http://joss.theoj.org/). I'm one of the editors for JOSS and am in need of a reviewer to evaluate The Walrus: A library for the calculation of hafnians, Hermite polynomials and Gaussian boson samp

[2019-10-21 01:07] katyhuff commented on #1705
Dear Amit Kumar Jaiswal (@amitkumarj441)
I'm emailing to request your expertise in quantum computational physics. Specifically, I'd like to ask for your review of a submission to the [Journal of Open Source Software](http://joss.theoj.org/). I'm one of the editors for JOSS and am in need of a reviewer to evaluate The Walrus: A library for the calculation of hafnians, Hermite polynomials and Gaussi

[2019-10-21 01:14] katyhuff commented on #1705
Dear Xuemei Gu (@XuemeiGu),
I'm emailing to request your expertise in quantum computational physics. Specifically, I'd like to ask for your review of a submission to the [Journal of Open Source Software](http://joss.theoj.org/). I'm one of the editors for JOSS and am in need of a reviewer to evaluate The Walrus: A library for the calculation of hafnians, Hermite polynomials and Gaussian boson samp

[2019-10-21 03:44] gus0k commented on #1591
@igarizio , it looks like you have finished. Is that ok?

[2019-10-21 04:21] XuemeiGu commented on #1705
Dear Openjournals/Joss-Reviews and Katy,

Thank you very much for the invitation for reviewing the paper. But I have
to say sorry that I have no time for reviewing.
I'm busy with implementing some quantum experiments and some other things.
Sorry for that, I wish you all the best.

best wishes,
Xuemei Gu

On Mon, Oct 21, 2019 at 9:14 AM Katy Huff <notifications@github.com> wrote:

--
Xuemei Gu
PhD

[2019-10-21 07:10] briatte commented on #1796
Hi @majensen, @cimentadaj and @amoeba

I'm also done with [my review](https://github.com/cimentadaj/perccalc/issues/2#issuecomment-544239961): conditional accept with very minor revisions (some of which are nitpicky to the point that @cimentadaj might reasonably decide to ignore them entirely).

[2019-10-21 08:09] expectopatronum commented on #1798
Yes, I also found several typos / missing articles. I marked them in the PDF: [10.21105.joss.01798_typos.pdf](https://github.com/openjournals/joss-reviews/files/3749652/10.21105.joss.01798_typos.pdf)

[2019-10-21 08:25] Kevin-Mattheus-Moerman commented on #1554
@whedon accept

[2019-10-21 08:25] whedon commented on #1554
[code]

[2019-10-21 08:26] whedon commented on #1554
[code]

[2019-10-21 08:26] whedon commented on #1554
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1037

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1037, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-21 08:31] Kevin-Mattheus-Moerman commented on #1554
@whedon accept deposit=true

[2019-10-21 08:31] whedon commented on #1554
[code]

[2019-10-21 08:32] whedon commented on #1554
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1186198675560783878) 👈 🐦🐦🐦

[2019-10-21 08:32] whedon commented on #1554
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1038
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01554](https://doi.org/10.21105/joss.01554)
2. If everything looks g

[2019-10-21 08:33] whedon opened #1823 "[PRE REVIEW]: bifacial_radiance: a python package for modeling bifacial solar photovoltaic systems"
**Submitting author:** @shirubana (<a href="http://orcid.org/0000-0003-0180-728X">Silvana Ayala Pelaez</a>)
**Repository:** <a href="https://github.com/NREL/bifacial_radiance/" target ="_blank">https://github.com/NREL/bifacial_radiance/</a>
**Version:** v0.3.3.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @shirubana. **Currently, the

[2019-10-21 08:33] whedon commented on #1823
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-21 08:33] whedon commented on #1823
[code]

[2019-10-21 08:33] whedon commented on #1823
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01823/joss.01823/10.21105.joss.01823.pdf)

[2019-10-21 08:42] #1554 closed

[2019-10-21 08:42] whedon commented on #1554
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01554/status.svg)](https://doi.org/10.21105/joss.01554)

**We need your help!**

Journal of Open Source Softwa

[2019-10-21 08:51] Kevin-Mattheus-Moerman commented on #1823
@melissawm @lheagy @mjsottile @xuanxu despite this potentially being a bit outside of your domain of expertise, would one of you be able to edit this one? Thanks.

[2019-10-21 08:52] Kevin-Mattheus-Moerman commented on #1691
@wingtorres :point_up: do you have any suggestions for reviewers at this point?

[2019-10-21 09:11] mrgprasad commented on #1732
@Kevin-Mattheus-Moerman
Please let me know if anything more is required from my side.

For a future release of Kanapy, we are planning to include functionalities for modeling crystallographic texture. This would be a major update for the software. In this regard:

* Is it possible to submit the software for review again?
* If not, can we update the JOSS paper somehow?

[2019-10-21 09:43] Kevin-Mattheus-Moerman commented on #1262
@whedon set v1.0.18 as version

[2019-10-21 09:43] whedon commented on #1262
OK. v1.0.18 is the version.

[2019-10-21 12:36] szhorvat commented on #1766
@toph-allen @kyleniemeyer I am just giving advance notice that I may not be able to respond or comment here during most of November (travelling in a place where GitHub is blocked).

[2019-10-21 12:58] dsurujon commented on #1810
I'd be willing to review this submission

[2019-10-21 13:13] katyhuff commented on #1705
Thanks for letting us know @XuemeiGu .

[2019-10-21 13:30] ethanwhite commented on #1768
Apologies for they delay. I have it on my high priority list for this week.

[2019-10-21 13:37] apsabelhaus commented on #1613
@Kevin-Mattheus-Moerman thanks for the information, it's very helpful for future reviews! I checked the last box, and I recommend this submission for publication. Congrats to the authors for writing a nice and useful piece of software!

[2019-10-21 13:51] lskatz commented on #1762
I will ping the other potential reviewers, @csoneson. I don't anticipate anyone else will have @peterwc's concerns. What is the process for adding them as reviewers?

[2019-10-21 14:42] vijaysm commented on #1441
Thanks @likask I am almost done with the repository review and should be able to get the other items in my list done by end of this week. I will let you know my list of comments soon.

[2019-10-21 14:44] wingtorres commented on #1691
Hey Kevin thanks for trying so hard to find reviewers! We thought @bw4sz might be great if he has the time.

[2019-10-21 14:51] melissawm commented on #1817
@whedon assign @lucydot as reviewer

[2019-10-21 14:51] whedon commented on #1817
OK, the reviewer is @lucydot

[2019-10-21 14:51] melissawm commented on #1817
@bocklund would you be willing to review this paper for JOSS? Thanks!

[2019-10-21 15:18] hbaniecki commented on #1798
@whedon generate pdf

[2019-10-21 15:18] whedon commented on #1798
[code]

[2019-10-21 15:19] whedon commented on #1798
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01798/joss.01798/10.21105.joss.01798.pdf)

[2019-10-21 15:24] ramaniitrgoyal92 commented on #1613
@Kevin-Mattheus-Moerman
We have included all the third-party dependencies used in our software. We have added license and attribution to the used functions. We have also added the following in the readme file present in the Function_Library.

"This file contains all necessary functions of tensegrity dynamics and statics.
The ode solver is written by Kelly Kearney: https://github.com/kakearney/ecos

[2019-10-21 15:41] Kevin-Mattheus-Moerman commented on #1613
@whedon generate pdf

[2019-10-21 15:41] whedon commented on #1613
[code]

[2019-10-21 15:42] whedon commented on #1613
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01613/joss.01613/10.21105.joss.01613.pdf)

[2019-10-21 15:42] Kevin-Mattheus-Moerman commented on #1613
@whedon check references

[2019-10-21 15:42] whedon commented on #1613
[code]

[2019-10-21 15:42] whedon commented on #1613
[code]

[2019-10-21 15:58] ramaniitrgoyal92 commented on #1613
@whedon generate pdf

[2019-10-21 15:58] whedon commented on #1613
[code]

[2019-10-21 15:59] whedon commented on #1613
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01613/joss.01613/10.21105.joss.01613.pdf)

[2019-10-21 16:03] ramaniitrgoyal92 commented on #1613
@whedon generate pdf

[2019-10-21 16:03] whedon commented on #1613
[code]

[2019-10-21 16:04] whedon commented on #1613
PDF failed to compile for issue #1613 with the following error:

 Error reading bibliography ./paper.bib (line 107, column 3):
unexpected "p"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-10-21 16:05] ramaniitrgoyal92 commented on #1613
@whedon check references

[2019-10-21 16:05] whedon commented on #1613
[code]

[2019-10-21 16:09] ramaniitrgoyal92 commented on #1613
@whedon generate pdf

[2019-10-21 16:09] whedon commented on #1613
[code]

[2019-10-21 16:09] whedon commented on #1613
[code]

[2019-10-21 16:09] whedon commented on #1613
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01613/joss.01613/10.21105.joss.01613.pdf)

[2019-10-21 16:19] arokem commented on #1727
@So-Cool : I apologize for how long it is taking to find another reviewer. As an update: I am currently emailing some people off this issue, to see whether anyone has a good idea (or might be willing to do this themselves). I hope that we can find someone within a few days and get things kicked off here. Thank you for your patience.

[2019-10-21 16:25] Kevin-Mattheus-Moerman commented on #1613
@ramaniitrgoyal92 Some points on your paper below (I read the version just before you regenerated the pdf, can you tell me what changes you made?). Thanks

- [ ] In `Tensegrity systems (Skelton & Oliveira, 2009) dynamics...` This reads better if the reference is moved after the word `dynamics`. Please make this change if you agree.
- [ ] In `....of the class of Multi-body dynamics...`, does multi-

[2019-10-21 16:39] ramaniitrgoyal92 commented on #1613
@Kevin-Mattheus-Moerman
I added the DOI for the paper title: 'Minimum mass and optimal complexity of planar tensegrity bridges' and added some missing spaces in between references of the first paragraphs of the paper. They were not coming out fine.

[2019-10-21 16:41] ramaniitrgoyal92 commented on #1613
Agreed and changed. Working on the rest.

[2019-10-21 17:25] ramaniitrgoyal92 commented on #1613
Multi-body has been replaced with 'multi-body' throughout the paper.

Now the sentence read:
"The term tensegrity was coined by..."

The paper now reads:
"The term tensegrity was first coined by Buckminster Fuller (Fuller, 1959), and is a portmanteau of "tensional integrity". Tensegrity structures also appeared in earlier artworks by Ioganson (1921) and Snelson (1948) (Snelson, 1965)."

The paper

[2019-10-21 17:27] ramaniitrgoyal92 commented on #1613
@Kevin-Mattheus-Moerman
We have provided a response to each question separately. All the changes can be seen in the main paper file also.

@Kevin-Mattheus-Moerman Thank you so much for all the corrections and suggestions. We truly appreciate it.

[2019-10-21 19:02] csoneson commented on #1762
@peterwc - thanks a lot for your disclosure. After consideration, and in light of your personal connection with @lskatz, I would actually prefer to try to recruit a different reviewer for this submission; but I would like to thank you for engaging with JOSS and I hope we can get back to you for another review in the future!

[2019-10-21 19:04] csoneson commented on #1762
@ondovb - would you be interested in reviewing this submission for the Journal of Open Source Software?

"Mashtree: a rapid comparison of whole genome sequence files"
GitHub repository: https://github.com/lskatz/mashtree

[2019-10-21 19:27] dphansti commented on #1742
Thanks @mgymrek. I think we have addressed all of the issues.

1) We made the suggested changes (e.g. genomic -> genomics) in the paper.md file
2) We made a Zenodo archive
3) DOI of the archive is 10.5281/zenodo.3509513
4) The version is v2.29.0-3 is the newest version that has the changes in 1-3 above.

Let me know if we need to do anything else.

[2019-10-21 19:28] bocklund commented on #1817
Sure, I can review this!

[2019-10-21 19:51] whedon commented on #1691
OK, @bw4sz is now a reviewer

[2019-10-21 20:08] melissawm commented on #1817
@whedon add @bocklund as reviewer

[2019-10-21 20:08] whedon commented on #1817
OK, @bocklund is now a reviewer

[2019-10-21 20:09] melissawm commented on #1817
Great, thanks! I'll move this to a review issue then.

[2019-10-21 20:10] melissawm commented on #1817
@whedon start review

[2019-10-21 20:10] whedon opened #1824 "[REVIEW]: pyscal : A python module for structural analysis of atomic environments"
**Submitting author:** @srmnitc (<a href="http://orcid.org/0000-0002-6776-1213">Sarath Menon</a>)
**Repository:** <a href="https://github.com/srmnitc/pyscal" target ="_blank">https://github.com/srmnitc/pyscal</a>
**Version:** v2.0.1
**Editor:** @melissawm
**Reviewer:** @lucydot, @bocklund
**Archive:** <a href="https://doi.org/10.5281/zenodo.3522376" target="_blank">10.5281/zenodo.3522376</a>

## S

[2019-10-21 20:10] whedon commented on #1817
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1824. Feel free to close this issue now!

[2019-10-21 20:10] whedon commented on #1824
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lucydot, @bocklund it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-10-21 20:10] whedon commented on #1824
[code]

[2019-10-21 20:10] #1817 closed

[2019-10-21 20:10] whedon commented on #1824
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01824/joss.01824/10.21105.joss.01824.pdf)

[2019-10-21 20:14] peterwc commented on #1762
@csoneson Thank you and please keep me in mind for other opportunities to review. I am still available for this one if things change.

[2019-10-21 21:07] Kevin-Mattheus-Moerman commented on #1691
@whedon start review

[2019-10-21 21:07] whedon opened #1825 "[REVIEW]: MorphoMetriX: a photogrammetric measurement GUI for morphometric analysis of megafauna"
**Submitting author:** @wingtorres (<a href="http://orcid.org/0000-0002-1411-993X">Walter Torres</a>)
**Repository:** <a href="https://github.com/wingtorres/morphometrix" target ="_blank">https://github.com/wingtorres/morphometrix</a>
**Version:** v1.0.2
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @isaacvandor, @bw4sz
**Archive:** <a href="https://doi.org/10.5281/zenodo.3606865" target="_bla

[2019-10-21 21:07] whedon commented on #1691
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1825. Feel free to close this issue now!

[2019-10-21 21:07] whedon commented on #1825
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @isaacvandor, @bw4sz it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-10-21 21:07] whedon commented on #1825
[code]

[2019-10-21 21:07] whedon commented on #1825
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01825/joss.01825/10.21105.joss.01825.pdf)

[2019-10-21 22:35] cMadan commented on #1631
@whedon check references

[2019-10-21 22:35] whedon commented on #1631
[code]

[2019-10-21 22:36] whedon commented on #1631
[code]

[2019-10-21 22:36] cMadan commented on #1662
@whedon check references

[2019-10-21 22:36] whedon commented on #1662
[code]

[2019-10-21 22:37] whedon commented on #1662
[code]

[2019-10-21 22:37] cMadan commented on #1631
@chand-lab, everything looks good to me!

To move forward with accepting your submission, there are a few last things to take care of:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and a

[2019-10-21 22:38] cMadan commented on #1662
@paul-buerkner, everything looks good to me!

To move forward with accepting your submission, there are a few last things to take care of:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) a

[2019-10-21 22:39] mjsottile commented on #1823
I have to pass - I'd like to finish taking the first two papers I was assigned through the process before taking on an additional one.

[2019-10-21 22:40] cMadan commented on #1810
@dsurujon, that would be much appreciated, thank you!

@acolum, no problem, thanks for the prompt response.

@jhcreed, we usually have two reviewers for each submission, so we still need one more.

[2019-10-21 22:40] cMadan commented on #1810
@whedon add @dsurujon as reviewer

[2019-10-21 22:40] whedon commented on #1810
OK, @dsurujon is now a reviewer

[2019-10-21 22:47] shirubana commented on #1823
Environmental/Earth or atmospheric sciences, and/or optics people might be a good match too, as well as renewable energy~ how about @wholmgren and/or @sarats ? Thank you all!

[2019-10-21 22:57] pgrete commented on #1757
I'm done with my first pass of the review and opened issues for all things I spotted.

[2019-10-22 00:24] arfon commented on #1757
Great, thanks @pgrete. @doreenfan - looks like you've got a collection of feedback here to work through. Please let us know here when you've had a chance to make your updates.

[2019-10-22 00:33] isaacvandor commented on #1825
@Kevin-Mattheus-Moerman I've completed my review and there doesn't seem to be anything impeding acceptance. I did open an issue in the target repo with a feature enhancement I think could help, but that certainly shouldn't stop the rest of the review process.

[2019-10-22 01:05] whedon opened #1826 "[PRE REVIEW]: rtweet: Collecting and analyzing Twitter data"
**Submitting author:** @mkearney (<a href="http://orcid.org/0000-0002-0730-4694">Michael Wayne Kearney</a>)
**Repository:** <a href="https://github.com/ropensci/rtweet" target ="_blank">https://github.com/ropensci/rtweet</a>
**Version:** v0.7.0
**Editor:** @kthyng
**Reviewers:** @kthyng

**Author instructions**

Thanks for submitting your paper to JOSS @mkearney. **Currently, there isn't an JOSS e

[2019-10-22 01:06] whedon commented on #1826
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-22 01:06] whedon commented on #1826
[code]

[2019-10-22 01:06] whedon commented on #1826
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01826/joss.01826/10.21105.joss.01826.pdf)

[2019-10-22 01:07] kthyng commented on #1826
Hi @arokem! Would you be willing to edit this submission? Thanks in advance.

[2019-10-22 01:15] whedon opened #1827 "[PRE REVIEW]: BioSimSpace: An interoperable Python framework for biomolecular simulation"
**Submitting author:** @lohedges (<a href="http://orcid.org/0000-0002-5624-0500">Lester Hedges</a>)
**Repository:** <a href="https://github.com/michellab/BioSimSpace" target ="_blank">https://github.com/michellab/BioSimSpace</a>
**Version:** 2019.2.0
**Editor:** @will-rowe
**Reviewers:** @amritagos, @richardjgowers

**Author instructions**

Thanks for submitting your paper to JOSS @lohedges. The J

[2019-10-22 01:15] whedon commented on #1827
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @trallard it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in

[2019-10-22 01:15] whedon commented on #1827
[code]

[2019-10-22 01:16] whedon commented on #1827
PDF failed to compile for issue #1827 with the following error:

 Can't find any papers to compile :-(

[2019-10-22 01:18] kthyng commented on #1827
Sorry I forgot to unassign suggested editor @trallard when I started this issue.

[2019-10-22 01:18] kthyng commented on #1827
@will-rowe Would you be interested in trying this for your first JOSS submission as editor?

[2019-10-22 01:21] kthyng commented on #1827
@lohedges Is this pointing to the incorrect github repo or branch currently? Can you clarify the difference in the branches and which is correct to use for your JOSS submission?

[2019-10-22 01:28] kthyng commented on #1608
@jjmcnelis How has @Ji-Zhang responded to your concerns?

[2019-10-22 01:32] kthyng commented on #1716
Hi @jmlarson1, @gonsie, and @ThomasPak — how are things going? What are the next steps for this review?

[2019-10-22 01:40] ThomasPak commented on #1716
Hi @kthyng, the hold-up is because of me, I have yet to implement the changes that the reviewers have asked for. I was very busy for the past month because I had to write a progress report for my course and be examined on it. Fortunately, that is now behind me so I can focus on this submission again.

[2019-10-22 01:59] mkearney commented on #1826
This package has been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/302, @ropensci/editors

[2019-10-22 01:59] mkearney commented on #1826
@whedon set 10.5281/zenodo.3515425 as archive

[2019-10-22 01:59] whedon commented on #1826
I'm sorry @mkearney, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-10-22 02:10] chand-lab commented on #1631
Hi @cMadan,

Terrific. Please see mixed in below. I believe all the steps  are done!

v1.0.0 - Available here
https://github.com/chand-lab/openEyeTrack/tree/v1.0.0

Done!

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3515534.svg)](https://doi.org/10.5281/zenodo.3515534)

Please let me know if I missed something :).

Warm Regards,

Chand

[2019-10-22 05:11] jsgalan commented on #1761
Hi guys, this review escaped from email/alerts/calendars/todo-list. I am sorry.

The article explain the context very well and summarize the need for this tool and how it adds to the existing software packages.
- authors need to explain the acronyms SCAD and MCP or add some references that explains these methods.

Firstly I am using, R version 3.6.0 (2019-04-26) Platform: x86_64-apple-darwin15.6.0

[2019-10-22 05:49] cimentadaj commented on #1796
Hi everyone

Thanks for the reviews. I'm probably gonna check them out first week of November and finish them at that time. Is that good?

[2019-10-22 06:01] MaciejDanko commented on #1508
Hi @alexhanna, the performance box has been ticked, could we proceed further? :)

[2019-10-22 06:52] JedS6391 commented on #1337
Hi @Kevin-Mattheus-Moerman, I have made the requested changes to the paper. The DOI is 10.5281/zenodo.3402305 (the archive can be found [here](https://zenodo.org/record/3402305)).

[2019-10-22 07:05] paul-buerkner commented on #1662
Thanks!

Tagged release is 0.10.0 and can be found at https://github.com/paul-buerkner/thurstonianIRT/releases/tag/v0.10.0

Zenodo link is: https://github.com/paul-buerkner/thurstonianIRT/releases/tag/v0.10.0

Zenodo DOI is 10.5281/zenodo.3515749

[2019-10-22 07:31] ManuelaS commented on #1810
Hi, I could review this submission if you still need another reviewer

[2019-10-22 07:31] lohedges commented on #1827
Hi @kthyng. Our paper is currently in the `feature-paper` branch of our repository (within a `paper` directory at the top level). Our plan was to merge this into our development branch, `devel`, when ready for publication, then into `master` for our next release. If you need the paper to be accessible from the main branch then I can merge across into `devel` now. Let me know what is preferable. (T

[2019-10-22 08:12] will-rowe commented on #1827
Sure @kthyng - thanks for the invite!

[2019-10-22 08:13] will-rowe commented on #1827
@whedon assign @will-rowe as editor

[2019-10-22 08:13] whedon commented on #1827
OK, the editor is @will-rowe

[2019-10-22 08:31] will-rowe commented on #1827
Hi @richardjgowers , @fdroessler, @MDebasish - would you be able to review this paper?

[2019-10-22 09:06] Kevin-Mattheus-Moerman commented on #1337
@whedon generate pdf

[2019-10-22 09:06] whedon commented on #1337
[code]

[2019-10-22 09:06] whedon commented on #1337
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01337/joss.01337/10.21105.joss.01337.pdf)

[2019-10-22 09:07] Kevin-Mattheus-Moerman commented on #1337
@JedS6391 can you modify the archived version on Zenodo so that the title (and author list) match the paper?

[2019-10-22 09:08] KaiWenger commented on #1820
@whedon generate pdf

[2019-10-22 09:08] whedon commented on #1820
[code]

[2019-10-22 09:08] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-10-22 09:12] Kevin-Mattheus-Moerman commented on #1337
@JedS6391 I cannot see the changes yet (see boxes left  unticked, the references style is still the same and the section referring to the source is still there/unaltered)? Has the paper.md file been updated? Is the above pdf accurate?

[2019-10-22 09:13] Kevin-Mattheus-Moerman commented on #1825
@isaacvandor thanks. Can you mention/link to that issue here so we have a record of it? Thanks a lot for your help!

[2019-10-22 09:14] Kevin-Mattheus-Moerman commented on #1825
@bw4sz this is where the review takes place. The check boxes at the top guide you through the process. Let me know if you have questions.

[2019-10-22 09:15] Kevin-Mattheus-Moerman commented on #1613
@whedon generate pdf

[2019-10-22 09:15] whedon commented on #1613
[code]

[2019-10-22 09:16] whedon commented on #1613
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01613/joss.01613/10.21105.joss.01613.pdf)

[2019-10-22 09:34] Kevin-Mattheus-Moerman commented on #1613
@ramaniitrgoyal92 thanks for making those changes. At this point can you do the following:

- [ ] Can you archive a copy of the software on Zenodo and list the DOI of the archived version here? Can you make sure that the author list and the title of the archived version matches your paper?
- [ ] Can you specify what latest version tag of the reviewed and archived software is? Are we still at `v2.1

[2019-10-22 10:30] richardjgowers commented on #1827
@will-rowe yep

[2019-10-22 11:19] ThibaultMarzullo commented on #1792
Hi @Kevin-Mattheus-Moerman and @kyleniemeyer , I can review this

[2019-10-22 11:35] Kevin-Mattheus-Moerman commented on #1792
@kyleniemeyer, @ThibaultMarzullo is a colleague of mine at NUIG and works in this domain.

@ThibaultMarzullo perhaps you can also update your GitHub profile to list your academic affiliation and perhaps even an ORCID profile or similar. Thank for your help here!

[2019-10-22 13:17] lohedges commented on #1827
@whedon generate pdf from branch feature-paper

[2019-10-22 13:17] whedon commented on #1827
[code]

[2019-10-22 13:18] whedon commented on #1827
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01827/joss.01827/10.21105.joss.01827.pdf)

[2019-10-22 13:40] lohedges commented on #1827
@whedon generate pdf from branch feature-paper

[2019-10-22 13:40] whedon commented on #1827
[code]

[2019-10-22 13:40] whedon commented on #1827
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01827/joss.01827/10.21105.joss.01827.pdf)

[2019-10-22 13:44] lohedges commented on #1827
@whedon generate pdf from branch feature-paper

[2019-10-22 13:44] whedon commented on #1827
[code]

[2019-10-22 13:44] whedon commented on #1827
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01827/joss.01827/10.21105.joss.01827.pdf)

[2019-10-22 13:47] lohedges commented on #1827
Apologies for all the PDF renderings. Figured out how to compile from a custom branch. Just ironing out some minor formatting issues.

Does anyone know how to force a page break? It would be nice to make sure that the code snippets aren't split across multiple pages. (Obviously this could all change following any edits anyway.)

[2019-10-22 14:27] lohedges commented on #1827
@whedon generate pdf from branch feature-paper

[2019-10-22 14:27] whedon commented on #1827
[code]

[2019-10-22 14:28] whedon commented on #1827
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01827/joss.01827/10.21105.joss.01827.pdf)

[2019-10-22 14:38] mkearney commented on #1826
@whedon check references

[2019-10-22 14:38] whedon commented on #1826
[code]

[2019-10-22 14:39] whedon commented on #1826
[code]

[2019-10-22 14:40] ziotom78 commented on #1809
I am still completing the review of the code, but I started reading the paper as well. One thing I note is Fig. 2, which has two "X" marks that are explained neither in the caption nor in the text. The figure is obviously Fig. 3 in the [arXiv paper 1905.09110](https://arxiv.org/pdf/1905.09110.pdf); however, in the arXiv paper Fig. 3 makes sense because it is better explained and placed alongside F

[2019-10-22 15:16] mkearney commented on #1826
@whedon generate pdf

[2019-10-22 15:16] whedon commented on #1826
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01826/joss.01826/10.21105.joss.01826.pdf)

[2019-10-22 15:22] mkearney commented on #1826
@whedon check references

[2019-10-22 15:22] whedon commented on #1826
[code]

[2019-10-22 15:39] mkearney commented on #1826
@whedon check references

[2019-10-22 15:39] whedon commented on #1826
[code]

[2019-10-22 15:39] whedon commented on #1826
[code]

[2019-10-22 15:40] mkearney commented on #1826
@whedon generate pdf

[2019-10-22 15:40] whedon commented on #1826
[code]

[2019-10-22 15:40] whedon commented on #1826
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01826/joss.01826/10.21105.joss.01826.pdf)

[2019-10-22 15:42] mkearney commented on #1826
@whedon check references

[2019-10-22 15:42] whedon commented on #1826
[code]

[2019-10-22 15:43] whedon commented on #1826
[code]

[2019-10-22 16:07] mbobra commented on #1805
@whedon add @ashwinvis as reviewer

[2019-10-22 16:07] whedon commented on #1805
OK, @ashwinvis is now a reviewer

[2019-10-22 16:09] mbobra commented on #1805
@whedon start review

[2019-10-22 16:09] whedon opened #1828 "[REVIEW]: fathon: A Python package for a fast computation of detrendend fluctuation analysis and related algorithms"
**Submitting author:** @stfbnc (<a href="http://orcid.org/0000-0001-6729-8655">Stefano Bianchi</a>)
**Repository:** <a href="https://github.com/stfbnc/fathon.git" target ="_blank">https://github.com/stfbnc/fathon.git</a>
**Version:** v0.1.2
**Editor:** @mbobra
**Reviewer:** @ali-ramadhan, @ashwinvis
**Archive:** <a href="https://doi.org/10.5281/zenodo.3601637" target="_blank">10.5281/zenodo.360163

[2019-10-22 16:09] whedon commented on #1805
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1828. Feel free to close this issue now!

[2019-10-22 16:09] whedon commented on #1828
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ali-ramadhan, @ashwinvis it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-10-22 16:09] whedon commented on #1828
[code]

[2019-10-22 16:09] #1805 closed

[2019-10-22 16:09] whedon commented on #1828
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01828/joss.01828/10.21105.joss.01828.pdf)

[2019-10-22 16:12] mbobra commented on #1745
👋@sixpearls Let me know if you need any help archiving your release on Zenodo!

[2019-10-22 16:18] slithiaote commented on #1005
I would like to keep the Bibtex comment because it makes it clear that users should not edit the bib file directly. I can remove `@COMMENT` and leave the text dangling outside the Bibtex entries. Both methods are official ways to add comments in Bibtex files.

Do I need to tag a new release on zenodo with tag `@openjournals/joss-eics` ?

[2019-10-22 16:25] arfon commented on #1005
That probably works. No new release is necessary.

[2019-10-22 16:42] ramaniitrgoyal92 commented on #1613
@Kevin-Mattheus-Moerman
Yes, I have uploaded the software to Zenodo, the link is: https://zenodo.org/record/3516295#.Xa8wIOhKhPY
Yes, we have made sure the author list and the title of the archived version match our paper.
The version is still v2.1.

Thank you!

[2019-10-22 16:59] kthyng commented on #1699
Nice, thanks @kellykochanski. We can proceed.

[2019-10-22 16:59] kthyng commented on #1699
@whedon set <v1.1> as version

[2019-10-22 16:59] kbarnhart commented on #1776
thanks for your feedback @sgrieve and @tristan-salles and to @meg-simula for handling this! 🎉

the DOI for the archive on Zenodo is https://doi.org/10.5281/zenodo.3489794

[2019-10-22 16:59] whedon commented on #1699
OK. <v1.1> is the version.

[2019-10-22 17:01] kthyng commented on #1699
@kellykochanski  Please create an archive (on Zenodo, figshare, or other) and post the archive DOI here. Make sure that the title and author list in Zenodo match what you have on your paper here exactly.

[2019-10-22 17:04] slithiaote commented on #1005
@whedon generate pdf

[2019-10-22 17:04] whedon commented on #1005
[code]

[2019-10-22 17:04] whedon commented on #1005
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01005/joss.01005/10.21105.joss.01005.pdf)

[2019-10-22 17:09] kthyng commented on #1827
Actually I did click the button myself (not a bot) and I saw your note but wasn't careful enough and am not sure where to find that information now that I clicked the button to start the issue :) That's how I knew to ask anyway.

As you found, you can generate the pdf from a branch. From my understanding, the reviewers will review the code in the github repo listed on this review issue, but the pa

[2019-10-22 17:12] kthyng commented on #1827
@lohedges Can you go through your paper and work on how to cite your references inline?  You can see details here: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography
I'm looking especially at the first paragraph under Molecular dynamics on the first page.

[2019-10-22 17:15] kthyng commented on #1827
@lohedges Re: forcing page break:
I am not sure but this will work in Markdown generally so I think it should work here (found [here](https://stackoverflow.com/questions/22601053/pagebreak-in-markdown-while-creating-pdf)):

`<div style="page-break-after: always;"></div>`

[2019-10-22 17:17] kthyng commented on #1826
Just kidding, I will edit it since it is from rOpenSci.

[2019-10-22 17:18] kthyng commented on #1826
@whedon assign @kthyng as editor

[2019-10-22 17:18] whedon commented on #1826
OK, the editor is @kthyng

[2019-10-22 17:18] kthyng commented on #1826
@whedon assign @kthyng as reviewer

[2019-10-22 17:18] whedon commented on #1826
OK, the reviewer is @kthyng

[2019-10-22 17:21] kthyng commented on #1826
Hi @mkearney! Thanks for your submission. I am not familiar with rOpenSci, but in looking at your review there, I see that it is still open. Does that mean that it has not been completed yet?

[2019-10-22 17:30] kthyng commented on #1777
@martibosch Yes please check it if all available doi's have been included.

[2019-10-22 17:34] majensen commented on #1796
@cimentadaj sounds good to me. That accords with my schedule too :D
Thanks all very much!

[2019-10-22 17:37] kthyng commented on #1609
Hi @madvn! Looks like one review on your JOSS submission has been started. Will you be able to start addressing comments soon?

[2019-10-22 17:37] majensen commented on #1813
@gdetor thanks for your submission. Would you be willing to have a look at this list https://bit.ly/joss-reviewers and see if you have any reviewers you may want to recommend? The topic is quite interesting and maybe a little outside the main work of some of us, as you can see.

[2019-10-22 17:38] majensen commented on #1803
Not getting many bites from my local pool, will go to https://bit.ly/joss-reviewers list next.

[2019-10-22 17:42] alexhanna commented on #1508
@whedon generate pdf

[2019-10-22 17:42] whedon commented on #1508
[code]

[2019-10-22 17:43] whedon commented on #1508
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01508/joss.01508/10.21105.joss.01508.pdf)

[2019-10-22 17:43] kthyng commented on #1717
Hi @seanpue how are your corrections coming along?

[2019-10-22 17:45] alexhanna commented on #1508
This is looking good to me. Thanks for all your work on this, @mkearney and @soodoku.

[2019-10-22 17:49] alexhanna commented on #1508
👋 @MaciejDanko - the last step we need you to do is get a DOI number from Zenodo and post it here. We can then assign the repository a DOI and pass it off to the EIC for acceptance.

[2019-10-22 17:52] kthyng commented on #1746
Hi @lgeiger, @sbrugman, @casperdcl, @EduPH: How is this review coming along? Looks like there has been a bunch of great work but it has stalled for the past few weeks.

[2019-10-22 18:08] lgeiger commented on #1746
Thanks for checking back. I will submit a second draft in the next few days. Sorry for the delay.

[2019-10-22 18:18] poulson commented on #1609
Hi @madvn :wave:. It seems that Ryan James (@Autoplectic) is unresponsive and we will need to find a new reviewer. I already exhausted our relevant reviewer pool to get him and @ajgates42 (thank you AJ!) -- do you have any further suggestions for a replacement reviewer?

[2019-10-22 18:18] whedon commented on #1811
[code]

[2019-10-22 18:19] whedon commented on #1811
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01811/joss.01811/10.21105.joss.01811.pdf)

[2019-10-22 18:29] ajgates42 commented on #1609
You might want to try Dr. Artemy Kolchinsky,
https://santafe.edu/people/profile/artemy-kolchinsky
and on Github: artemyk

On Tue, Oct 22, 2019 at 2:18 PM Jack Poulson <notifications@github.com>
wrote:

--
Alexander Gates
Associate Research Scientist
Center for Complex Network Research
Northeastern University
http://alexandergates.net

[2019-10-22 18:32] dpsanders commented on #1811
My main review is now complete.

There is basically nothing written down about how to contribute to the package, but I think it's understood this is done initially via issues, which seems fine to me.

I opened a couple of issues in the repo with suggestions for improvements.

[2019-10-22 18:43] bw4sz commented on #1825
@patrickcgrey throw me some sample whale images to play with here?

[2019-10-22 18:45] bw4sz commented on #1825
grabbing and testing with some data from https://github.com/patrickcgray/cetacean_photogram

[2019-10-22 18:46] labarba commented on #1783
@rgerum — This is a re-submission of the same software that was considered out-of-scope on June 21:
https://github.com/openjournals/joss-reviews/issues/1499#issuecomment-504573661

Can you explain here what is different in the current submission, if anything, to the previous one?

[2019-10-22 19:30] hbaniecki commented on #1798
@whedon generate pdf

[2019-10-22 19:30] whedon commented on #1798
[code]

[2019-10-22 19:31] gdetor commented on #1813
@majensen Two potential reviewers can be @sjvrijn and @sarats
Thank you

[2019-10-22 19:31] whedon commented on #1798
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01798/joss.01798/10.21105.joss.01798.pdf)

[2019-10-22 19:35] bw4sz commented on #1825
testing with this image looks good.
![DSC00917](https://user-images.githubusercontent.com/1208492/67323789-cad2e980-f4c7-11e9-9332-afde908092cb.JPG)

[2019-10-22 19:38] hbaniecki commented on #1798
@whedon generate pdf

[2019-10-22 19:38] whedon commented on #1798
[code]

[2019-10-22 19:38] whedon commented on #1798
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01798/joss.01798/10.21105.joss.01798.pdf)

[2019-10-22 19:39] hbaniecki commented on #1798
Hopefully it is clean now.

[2019-10-22 19:41] bw4sz commented on #1825
added a small idea https://github.com/wingtorres/morphometrix/issues/2

[2019-10-22 20:06] mkearney commented on #1826
@kthyng The review of my submission has been completed, but they may consider the joss paper as part of the process? I know @ropensci has a history and documented workflow for submitting the accompanied paper.md, but I cannot speak to the nature or extent of the relationship between the two–for that hopefully @sckott can chime in!

[2019-10-22 20:07] mkearney commented on #1826
Nevermind, the issue has actually been closed!

[2019-10-22 20:45] Hazboun6 commented on #1775
@arfon I'm just getting to this now. When you refer to the authors of the archive, do you mean the authors listed, for instance in an Authors.rst? Or am I missing something in Zenodo where one would list the authors?

[2019-10-22 20:51] sckott commented on #1826
the ropensci review is done ✅

[2019-10-22 20:53] kthyng commented on #1826
@whedon start review

[2019-10-22 20:53] whedon opened #1829 "[REVIEW]: rtweet: Collecting and analyzing Twitter data"
**Submitting author:** @mkearney (<a href="http://orcid.org/0000-0002-0730-4694">Michael Wayne Kearney</a>)
**Repository:** <a href="https://github.com/ropensci/rtweet" target ="_blank">https://github.com/ropensci/rtweet</a>
**Version:** v0.7.0
**Editor:** @kthyng
**Reviewer:** @kthyng
**Archive:** <a href="https://doi.org/10.5281/zenodo.3515425" target="_blank">10.5281/zenodo.3515425</a>

## Stat

[2019-10-22 20:53] whedon commented on #1826
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1829. Feel free to close this issue now!

[2019-10-22 20:53] whedon commented on #1829
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kthyng it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently watc

[2019-10-22 20:53] #1826 closed

[2019-10-22 20:53] whedon commented on #1829
[code]

[2019-10-22 20:54] whedon commented on #1829
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01829/joss.01829/10.21105.joss.01829.pdf)

[2019-10-22 20:54] kthyng commented on #1829
This submission was already [reviewed](https://github.com/ropensci/software-review/issues/302) as part of rOpenSci.

[2019-10-22 20:55] kthyng commented on #1829
@whedon generate pdf

[2019-10-22 20:55] whedon commented on #1829
[code]

[2019-10-22 20:55] whedon commented on #1829
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01829/joss.01829/10.21105.joss.01829.pdf)

[2019-10-22 20:56] arfon commented on #1005
@whedon accept

[2019-10-22 20:56] whedon commented on #1005
[code]

[2019-10-22 20:56] whedon commented on #1005
[code]

[2019-10-22 20:57] whedon commented on #1005
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1039

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1039, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-22 20:57] kthyng commented on #1829
@mkearney There is a reference that's not coming through in your paper — can you check on that?

Also I will be needing your Zenodo archive.

[2019-10-22 20:59] arfon commented on #1775
@Hazboun6 - Zenodo will attempt to fill out the author list based on the Git commit history. This is often not accurate so we ask that you make sure the Zenodo archive authors are the same as the authors on the paper.

[2019-10-22 21:09] SuperKam91 commented on #1809
@whedon generate pdf

[2019-10-22 21:09] whedon commented on #1809
[code]

[2019-10-22 21:10] whedon commented on #1809
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01809/joss.01809/10.21105.joss.01809.pdf)

[2019-10-22 21:18] SuperKam91 commented on #1809
@whedon generate pdf

[2019-10-22 21:18] whedon commented on #1809
[code]

[2019-10-22 21:19] whedon commented on #1809
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01809/joss.01809/10.21105.joss.01809.pdf)

[2019-10-22 21:21] SuperKam91 commented on #1809
@whedon generate pdf

[2019-10-22 21:21] whedon commented on #1809
[code]

[2019-10-22 21:21] whedon commented on #1809
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01809/joss.01809/10.21105.joss.01809.pdf)

[2019-10-22 21:28] zhampel commented on #1809
@SuperKam91 As I begin my review, can you please include some guidelines for contributing or reporting issues to your codebase? Here's an [example](https://jrbourbeau.github.io/pyunfold/contributing.html).

[2019-10-22 21:31] rgerum commented on #1783
I rewrote the paper completely to stress more that the software is a tool in its own right and not just a small extension of the matplotlib package. Pylustrator is not a tool that extends the possible plotting functions of matplotlib, but is a tool to generate python code that composes single plots into complex composite figures for publication.
As I observed that most scientists I know compose th

[2019-10-22 21:47] kthyng commented on #1825
What a cool picture to get in my email from github notifications!

[2019-10-22 21:54] SuperKam91 commented on #1809
Hi @ziotom78 thank you for your comments on the paper. While I gave some information on the coordinate labels in the caption of Figure 2 (n.b. captions should be visible in the `.pdf`s generated in this thread, but probably not in the `.md` file itself), I have added a couple of sentences in the main text elaborating more on them. With regards to the figure sizes, I have tried to reduce them using

[2019-10-22 22:10] whedon commented on #1005
[code]

[2019-10-22 23:03] mkearney commented on #1829
@whedon generate pdf

[2019-10-22 23:03] whedon commented on #1829
[code]

[2019-10-22 23:04] whedon commented on #1829
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01829/joss.01829/10.21105.joss.01829.pdf)

[2019-10-22 23:05] mkearney commented on #1829
@kthyng I believe I fixed the missing reference issue. And is this what you need for the zenodo doi/archive: http://doi.org/10.5281/zenodo.3515425?

[2019-10-23 01:40] cMadan commented on #1810
@ManuelaS, that would be great, thank you!

@jhcreed @dsurujon @ManuelaS, I am going to start the review process. This will be done in a new GitHub issue--the link will appear below. This will have the reviewer checklists and should be used for the discussing the review process. (More detailed instructions will be included in the review issue.)

[2019-10-23 01:40] cMadan commented on #1810
@whedon add @ManuelaS as reviewer

[2019-10-23 01:40] whedon commented on #1810
OK, @ManuelaS is now a reviewer

[2019-10-23 01:40] cMadan commented on #1810
@whedon start review

[2019-10-23 01:40] whedon opened #1830 "[REVIEW]: MatSurv: Survival analysis and visualization in MATLAB"
**Submitting author:** @jhcreed (<a href="http://orcid.org/0000-0002-8302-2648">Jordan Creed</a>)
**Repository:** <a href="https://github.com/aebergl/MatSurv" target ="_blank">https://github.com/aebergl/MatSurv</a>
**Version:** v1.1.0
**Editor:** @cMadan
**Reviewer:** @dsurujon, @ManuelaS
**Archive:** <a href="https://doi.org/10.5281/zenodo.3632122" target="_blank">10.5281/zenodo.3632122</a>

## S

[2019-10-23 01:40] whedon commented on #1810
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1830. Feel free to close this issue now!

[2019-10-23 01:40] whedon commented on #1830
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dsurujon, @ManuelaS it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-10-23 01:40] whedon commented on #1830
[code]

[2019-10-23 01:40] #1810 closed

[2019-10-23 01:40] whedon commented on #1830
PDF failed to compile for issue #1830 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee47b240d/lib/whedon.rb:135:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee47b240d/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee47b24

[2019-10-23 01:43] cMadan commented on #1830
@jhcreed, can you please fix your paper.md? It looks like it's missing the date information.
Compare https://raw.githubusercontent.com/aebergl/MatSurv/master/Article/paper.md with https://raw.githubusercontent.com/adrn/gala/f6bb2532afeed3c0b0feea3037bf71a3f42b2a12/paper/paper.md

[2019-10-23 01:44] cMadan commented on #1631
@whedon set v1.0.0 as version

[2019-10-23 01:44] whedon commented on #1631
OK. v1.0.0 is the version.

[2019-10-23 01:44] cMadan commented on #1631
@whedon set 10.5281/zenodo.3515534 as archive

[2019-10-23 01:45] whedon commented on #1631
OK. <a href="https://doi.org/10.5281/zenodo.3515534" target="_blank">10.5281/zenodo.3515534</a> is the archive.

[2019-10-23 01:45] cMadan commented on #1631
@whedon accept

[2019-10-23 01:45] whedon commented on #1631
[code]

[2019-10-23 01:46] whedon commented on #1631
[code]

[2019-10-23 01:46] whedon commented on #1631
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1040

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1040, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-23 01:47] cMadan commented on #1631
@openjournals/joss-eics, I think we're all set to accept here!

[2019-10-23 01:48] cMadan commented on #1662
@whedon set 0.10.0 as version

[2019-10-23 01:48] whedon commented on #1662
OK. 0.10.0 is the version.

[2019-10-23 01:48] cMadan commented on #1662
@whedon set 10.5281/zenodo.3515749 as archive

[2019-10-23 01:48] whedon commented on #1662
OK. <a href="https://doi.org/10.5281/zenodo.3515749" target="_blank">10.5281/zenodo.3515749</a> is the archive.

[2019-10-23 01:48] cMadan commented on #1662
@whedon accept

[2019-10-23 01:48] whedon commented on #1662
[code]

[2019-10-23 01:49] whedon commented on #1662
[code]

[2019-10-23 01:49] whedon commented on #1662
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1041

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1041, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-23 01:50] cMadan commented on #1662
@openjournals/joss-eics, I think we're all set to accept here!

[2019-10-23 03:52] Hazboun6 commented on #1775
Alright, I think we are all set. Here is the badge for Zenodo [![DOI](https://zenodo.org/badge/178294587.svg)](https://zenodo.org/badge/latestdoi/178294587). I added a `.zenodo.json` so that the metadata file would reflect the authors of this paper. Please let me know what else you'll need me to do. Thanks!

[2019-10-23 04:10] ixjlyons commented on #1745
I've released version 0.1.1 of ndsplines and created a Zenodo entry for it: https://doi.org/10.5281/zenodo.3516465

Thank you @amritagos and @sarats for reviewing and @mbobra for editing!

[2019-10-23 07:20] martibosch commented on #1777
Hello @rmsare @kthyng !

I believe @rmsare has addressed all my comments. I have checked all the boxes of the checklist. Everything is good from my side :tada:

[2019-10-23 08:32] lohedges commented on #1827
@kthyng

Apologies for confusing you with a bot :-) You are indeed a _bot master_, wheddon caters to _your_ whims, not vice versa.

Yes, the repository is located at the link given at the top of this thread, i.e. [https://github.com/michellab/BioSimSpace](https://github.com/michellab/BioSimSpace). This points to the default branch of our repo, which is `devel`, which is what should be used for rev

[2019-10-23 08:32] lohedges commented on #1827
@whedon generate pdf from branch feature-paper

[2019-10-23 08:32] whedon commented on #1827
[code]

[2019-10-23 08:33] whedon commented on #1827
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01827/joss.01827/10.21105.joss.01827.pdf)

[2019-10-23 08:36] lohedges commented on #1827
@whedon generate pdf from branch feature-paper

[2019-10-23 08:36] whedon commented on #1827
[code]

[2019-10-23 08:36] whedon commented on #1827
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01827/joss.01827/10.21105.joss.01827.pdf)

[2019-10-23 08:53] will-rowe commented on #1827
Thanks @richardjgowers - will let you know when we are ready to start the review.

[2019-10-23 08:54] will-rowe commented on #1827
Hi @amritagos - would you be able to review this submission?

[2019-10-23 08:57] will-rowe commented on #1827
@whedon assign @richardjgowers as reviewer

[2019-10-23 08:57] whedon commented on #1827
OK, the reviewer is @richardjgowers

[2019-10-23 08:57] will-rowe commented on #1827
@whedon assign @richardjgowers as reviewer

[2019-10-23 08:57] whedon commented on #1827
OK, the reviewer is @richardjgowers

[2019-10-23 09:05] drvinceknight commented on #1811
Thank @dpsanders and @dlfivefifty, @tobydriscoll if you could confirm when you've addressed the comments that would be great.

[2019-10-23 09:27] SuperKam91 commented on #1809
Hi @zhampel , I have added a section explaining how to contribute to the project/ report issues at the bottom of the `README` of the repo.

[2019-10-23 09:30] amritagos commented on #1827
Sure, I'd be happy to @will-rowe.

[2019-10-23 09:31] will-rowe commented on #1827
Excellent - thank you @amritagos !

[2019-10-23 09:32] will-rowe commented on #1827
@whedon assign @amritagos as reviewer

[2019-10-23 09:32] whedon commented on #1827
OK, the reviewer is @amritagos

[2019-10-23 09:32] will-rowe commented on #1827
@whedon add @richardjgowers as reviewer

[2019-10-23 09:32] whedon commented on #1827
OK, @richardjgowers is now a reviewer

[2019-10-23 09:34] Kevin-Mattheus-Moerman commented on #1613
@ramaniitrgoyal92 it looks like you used the "reserved" JOSS paper DOI for your Zenodo archive. If possible can you amend the Zenodo archive to carry its own Zenodo DOI? (You may have to remove this archived version and create a new one with its own Zenodo DOI). Once you've done this can you report back here with the Zenodo DOI? Thanks.

[2019-10-23 09:34] will-rowe commented on #1827
sorry for the re-assigns, I'm still getting use to the system!

I think we have all we need now. Are you happy for the review process to start @lohedges ?

[2019-10-23 09:44] lohedges commented on #1827
Thanks, @will-rowe. I'm happy for the review process to start.

Let me know if you, or the reviewers, have any questions about the repository layout that I discussed in reply to @kthyng above. I understand that this is possibly non-standard, but hopefully it doesn't cause issue with the review process.

Cheers!

[2019-10-23 09:45] trallard commented on #1804
Hi @0todd0000  the first thing we have to do to move this review forward is finding a pair of suitable reviewers. Have you got someone in mind already?

You can start by finding some reviewers looking at our list of registered reviewers here <https://bit.ly/joss-reviewers>

[2019-10-23 09:46] trallard commented on #1680
ping @alexanderfurnas just wanted to check if you had a timeline for this review?

[2019-10-23 09:47] trallard commented on #1517
Ok I think this review is ready to be sent over to @openjournals/joss-eics  for their editorial duties.
I am recommending acceptance now that the reviews and my editorial checks have been completed.

[2019-10-23 09:47] will-rowe commented on #1827
No worries @lohedges - I'll copy over your instructions re. branch info so that they are in the review issue for reference

@whedon start review

[2019-10-23 09:52] will-rowe commented on #1827
@whedon start review

[2019-10-23 09:52] whedon opened #1831 "[REVIEW]: BioSimSpace: An interoperable Python framework for biomolecular simulation"
**Submitting author:** @lohedges (<a href="http://orcid.org/0000-0002-5624-0500">Lester Hedges</a>)
**Repository:** <a href="https://github.com/michellab/BioSimSpace" target ="_blank">https://github.com/michellab/BioSimSpace</a>
**Version:** 2019.3.0
**Editor:** @will-rowe
**Reviewer:** @amritagos, @richardjgowers
**Archive:** <a href="https://doi.org/10.5281/zenodo.3551030" target="_blank">10.528

[2019-10-23 09:52] whedon commented on #1827
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1831. Feel free to close this issue now!

[2019-10-23 09:52] whedon commented on #1831
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @amritagos, @richardjgowers it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pro

[2019-10-23 09:52] whedon commented on #1831
[code]

[2019-10-23 09:52] whedon commented on #1831
PDF failed to compile for issue #1831 with the following error:

 Can't find any papers to compile :-(

[2019-10-23 09:53] will-rowe commented on #1831
@whedon generate pdf from branch feature-paper

[2019-10-23 09:53] whedon commented on #1831
[code]

[2019-10-23 09:54] whedon commented on #1831
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01831/joss.01831/10.21105.joss.01831.pdf)

[2019-10-23 09:54] #1827 closed

[2019-10-23 09:59] will-rowe commented on #1831
Hi @amritagos and @richardjgowers - thank you both for agreeing to review!

In case you missed it on the pre-review issue, the author has some instructions as to branches for the review:

*  the repository is located at ... https://github.com/michellab/BioSimSpace. This points to the default branch of our repo, which is devel, which is what should be used for review purposes. However, the paper is

[2019-10-23 10:02] will-rowe commented on #1831
Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

Any questions/concerns please let me know.

[2019-10-23 10:07] lohedges commented on #1831
I'll try to add page breaks at a later stage to deal with layout issues in the PDF, such as larger code blocks being split across pages.

[2019-10-23 10:21] 0todd0000 commented on #1804
Hello @trallard, yes I do have a few reviewers in mind. Please see my "Suggested reviewers" message above (sixth message in this thread, sent 10 days ago).

[2019-10-23 10:43] arfon commented on #1775
@whedon set 10.5281/zenodo.3516463 as archive

[2019-10-23 10:43] whedon commented on #1775
OK. <a href="https://doi.org/10.5281/zenodo.3516463" target="_blank">10.5281/zenodo.3516463</a> is the archive.

[2019-10-23 10:43] arfon commented on #1775
@whedon accept

[2019-10-23 10:43] whedon commented on #1775
[code]

[2019-10-23 10:43] whedon commented on #1775
[code]

[2019-10-23 10:44] whedon commented on #1775
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1042

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1042, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-23 10:45] arfon commented on #1775
@whedon accept deposit=true

[2019-10-23 10:46] whedon commented on #1775
[code]

[2019-10-23 10:46] whedon commented on #1775
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1186957102092357632) 👈 🐦🐦🐦

[2019-10-23 10:46] whedon commented on #1775
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1043
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01775](https://doi.org/10.21105/joss.01775)
2. If everything looks g

[2019-10-23 10:47] arfon commented on #1789
@mwcraig - Thanks again for the offer to help here. I'd like to take you up on your offer :-)

[2019-10-23 10:47] arfon commented on #1789
@whedon assign @mwcraig as reviewer

[2019-10-23 10:48] whedon commented on #1789
OK, the reviewer is @mwcraig

[2019-10-23 10:48] arfon commented on #1789
@whedon add @ceb8 as reviewer

[2019-10-23 10:48] whedon commented on #1789
OK, @ceb8 is now a reviewer

[2019-10-23 10:48] arfon commented on #1789
@whedon start review

[2019-10-23 10:48] whedon opened #1832 "[REVIEW]: SunPy: A Python package for Solar Physics"
**Submitting author:** @Cadair (<a href="http://orcid.org/0000-0003-4217-4642">Stuart Mumford</a>)
**Repository:** <a href="https://github.com/sunpy/sunpy" target ="_blank">https://github.com/sunpy/sunpy</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @mwcraig, @ceb8
**Archive:** <a href="https://doi.org/10.5281/zenodo.3666625" target="_blank">10.5281/zenodo.3666625</a>

## Status

[![sta

[2019-10-23 10:48] whedon commented on #1789
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1832. Feel free to close this issue now!

[2019-10-23 10:49] whedon commented on #1832
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mwcraig, @ceb8 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2019-10-23 10:49] whedon commented on #1832
[code]

[2019-10-23 10:49] whedon commented on #1832
PDF failed to compile for issue #1832 with the following error:

 Can't find any papers to compile :-(

[2019-10-23 10:49] arfon commented on #1789
@mwcraig, @ceb8 - many thanks for agreeing to review this submission. Please head over to #1832 where the actual review will take place.

[2019-10-23 10:49] #1789 closed

[2019-10-23 10:50] arfon commented on #1832
@whedon generate pdf from branch joss_paper

[2019-10-23 10:50] whedon commented on #1832
[code]

[2019-10-23 10:50] whedon commented on #1832
PDF failed to compile for issue #1832 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee47b240d/lib/whedon.rb:143:in `block in check_orcids': Problem with ORCID (000-0003-4747-4329) for Tiago M. D. Pereira (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee47b240d/lib/whedon.rb:141:in `each'
	from /app/ven

[2019-10-23 10:51] arfon commented on #1832
@Cadair - could you fix that ORCID please ☝️?

[2019-10-23 10:56] arfon commented on #1832
@mwcraig, @ceb8 - one thing I forgot to mention when inviting you both to review is that this JOSS submission/paper is a joint publication with AAS Journals, i.e. this JOSS paper will be published together with another paper in one of the AAS journals. As part of this collaboration, AAS publishing makes a small donation to the running costs of JOSS.

If this is unacceptable to you, please let me k

[2019-10-23 11:00] arfon commented on #1775
Looks like the DOI isn't resolving yet. I'll hold off closing this thread until that's working properly...

[2019-10-23 11:52] arfon commented on #1790
:wave: @williamjameshandley - would you be willing to review this submission for JOSS?

[2019-10-23 11:54] arfon commented on #1790
:wave: @steven-murray - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-10-23 12:17] kyleniemeyer commented on #1792
Thanks @ThibaultMarzullo for volunteering and @Kevin-Mattheus-Moerman for the clarification!

[2019-10-23 12:17] kyleniemeyer commented on #1792
@whedon add @ThibaultMarzullo as reviewer

[2019-10-23 12:17] whedon commented on #1792
OK, @ThibaultMarzullo is now a reviewer

[2019-10-23 12:18] kyleniemeyer commented on #1792
OK, now that we have two reviewers assigned, I'm going to start the actual review, which will close this pre-review issue and open a new one.

[2019-10-23 12:18] kyleniemeyer commented on #1792
@whedon start review

[2019-10-23 12:18] whedon opened #1833 "[REVIEW]: archetypal: A Python package for collecting, simulating, converting and analyzing building archetypes"
**Submitting author:** @samuelduchesne (<a href="http://orcid.org/0000-0001-5790-878X">Samuel Letellier-Duchesne</a>)
**Repository:** <a href="https://github.com/samuelduchesne/archetypal" target ="_blank">https://github.com/samuelduchesne/archetypal</a>
**Version:** v1.3
**Editor:** @kyleniemeyer
**Reviewer:** @brynpickering, @ThibaultMarzullo
**Archive:** <a href="https://doi.org/10.5281/zenodo.

[2019-10-23 12:18] whedon commented on #1792
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1833. Feel free to close this issue now!

[2019-10-23 12:18] whedon commented on #1833
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @brynpickering, @ThibaultMarzullo it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you'

[2019-10-23 12:18] whedon commented on #1833
[code]

[2019-10-23 12:19] whedon commented on #1833
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01833/joss.01833/10.21105.joss.01833.pdf)

[2019-10-23 12:19] kahaaga commented on #1666
@oliviaguest Is there anything left for me to do here?

[2019-10-23 12:19] #1792 closed

[2019-10-23 12:19] kyleniemeyer commented on #1833
👋 @samuelduchesne @brynpickering @ThibaultMarzullo the actual review takes place in here. Please see the instructions above. Thanks!

[2019-10-23 12:58] arfon commented on #1775
@cmbiwer, @matteobachetti - many thanks for your reviews here ✨

@Hazboun6 - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-10-23 12:58] #1775 closed

[2019-10-23 12:58] whedon commented on #1775
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01775/status.svg)](https://doi.org/10.21105/joss.01775)

**We need your help!**

Journal of Open Source Softwa

[2019-10-23 13:17] Cadair commented on #1832
The author list is currently not in the right format. I am still soliciting ORCIDs and Affiliations from people, I will reformat the author list and create a zenodo author file at some point soon. I can do this at whatever point you feel is most appropriate, but am stalling to give people time to give me their info.

[2019-10-23 13:21] whedon commented on #1832
PDF failed to compile for issue #1832 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee47b240d/lib/whedon/author.rb:56:in `build_affiliation_string': undefined method `split' for #<Array:0x00000000066aaf58> (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee47b240d/lib/whedon/author.rb:17:in `initialize'
	from /app/vendor/bundle/ruby/2.4.

[2019-10-23 13:21] Cadair commented on #1832
I fixed the ORCID, but that error is because the author list is just in the wrong format.

[2019-10-23 13:31] steven-murray commented on #1790
@arfon yes I'd be happy to!

[2019-10-23 13:48] arfon commented on #1832
@mwcraig, @ceb8 - for now, please use this copy of the paper for your review for now: https://github.com/openjournals/joss-papers/blob/joss.01789/joss.01789/10.21105.joss.01789.pdf

[2019-10-23 14:12] alexhanna commented on #1591
Hi @taqtiqa-mark can you ensure that these issues have been addressed and check off the relevant boxes in your review?

[2019-10-23 14:15] alexhanna commented on #1453
:wave: @jarvist, @Datseris, @dmbates -- we're looking for a second reviewer for this piece after our first one bowed out. Could you possibly have a look at this?

[2019-10-23 14:16] Datseris commented on #1453
Thank you for the invitation, but I am sorry, I have to decline, too many deadlines to meet.

[2019-10-23 14:20] ramaniitrgoyal92 commented on #1613
@Kevin-Mattheus-Moerman Thanks for pointing out!
This is the new DOI we get:
10.5281/zenodo.3516978

Thank you!

[2019-10-23 14:40] whedon commented on #1613
OK. <a href="https://doi.org/10.5281/zenodo.3516978" target="_blank">10.5281/zenodo.3516978</a> is the archive.

[2019-10-23 14:46] Kevin-Mattheus-Moerman commented on #1613
@openjournals/joss-eics this author changes the names of the project and the paper title from: `TEAM: Tensegrity Engineering Analysis Master` to `MOTES: Modeling of Tensegrity Structures`.

Does this require any special treatment? If this is dealt with this is paper is good to be accepted.

[2019-10-23 14:56] jhcreed commented on #1830
Sorry! I have added the date and double checked that it should compile.

[2019-10-23 14:57] whedon commented on #1790
OK, @steven-murray is now a reviewer

[2019-10-23 15:09] arfon commented on #1790
@whedon add @williamjameshandley as reviewer

[2019-10-23 15:09] whedon commented on #1790
OK, @williamjameshandley is now a reviewer

[2019-10-23 15:10] arfon commented on #1790
@whedon start review

[2019-10-23 15:10] whedon opened #1834 "[REVIEW]: The ExoTETHyS package: Tools for Exoplanetary Transits around Host Stars"
**Submitting author:** @gmorello (<a href="http://orcid.org/0000-0002-4262-5661">Giuseppe Morello</a>)
**Repository:** <a href="https://github.com/ucl-exoplanets/ExoTETHyS" target ="_blank">https://github.com/ucl-exoplanets/ExoTETHyS</a>
**Version:** v1.0.1
**Editor:** @arfon
**Reviewer:** @steven-murray, @williamjameshandley
**Archive:** <a href="https://doi.org/10.5281/zenodo.3577740" target="_b

[2019-10-23 15:10] whedon commented on #1790
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1834. Feel free to close this issue now!

[2019-10-23 15:10] whedon commented on #1834
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @steven-murray, @williamjameshandley it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, y

[2019-10-23 15:10] whedon commented on #1834
[code]

[2019-10-23 15:10] whedon commented on #1834
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01834/joss.01834/10.21105.joss.01834.pdf)

[2019-10-23 15:11] arfon commented on #1790
Great, thanks for the quick response @williamjameshandley!

@steven-murray, @williamjameshandley, @gmorello - see you over in #1834 where the actual review will take place.

[2019-10-23 15:11] #1790 closed

[2019-10-23 15:13] arfon commented on #1834
@steven-murray, @williamjameshandley - One thing I forgot to mention when inviting you both to review is that this JOSS submission/paper is a joint publication with AAS Journals, i.e. this JOSS paper will be published together with another paper in one of the AAS journals. As part of this collaboration, AAS publishing makes a small donation to the running costs of JOSS.

If this is unacceptable to

[2019-10-23 15:39] steven-murray commented on #1834
@arfon it seems I am not able to check off the check-boxes in the original comment?

[2019-10-23 15:47] arfon commented on #1834
@steven-murray - did you accept the invite here? https://github.com/openjournals/joss-reviews/invitations

[2019-10-23 15:49] kthyng commented on #1777
Thanks @martibosch!

From what I can see, the reviewers comments have been addressed. It looks like @rmsare is working on getting the package into conda-forge, is that right?

[2019-10-23 15:52] kthyng commented on #1829
@mkearney Yes the reference issue looks resolved now.

Yes, that zenodo archive is what I need, though can you change the title so that it matches your paper?

[2019-10-23 15:54] jarvist commented on #1453
I am on holiday until the 28th of October, but can then review this.

On Wed, 23 Oct 2019, 15:16 George Datseris, <notifications@github.com>
wrote:

[2019-10-23 15:55] kthyng commented on #1613
@Kevin-Mattheus-Moerman hm, I am not sure. @arfon could you advise?

[2019-10-23 15:57] arfon commented on #1613
I *think* it should be fine without any special treatment.

[2019-10-23 16:02] kthyng commented on #1517
thanks @trallard!

@alvarolopez Please edit the metadata in your Zenodo archive so that the title and authors exactly match your paper here.

[2019-10-23 16:03] kthyng commented on #1777
@rmsare Ok great, ping me when you're finished.

[2019-10-23 16:11] kthyng commented on #1613
@arfon ok thanks.

@ramaniitrgoyal92 Can you go through your paper in detail and fix the citations? In a number of places, the spacing isn't correct around the references inline, and sometimes you use the parenthetical reference instead of inline, or vice versa. You can find examples for this here: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography.

Also in your

[2019-10-23 16:19] kthyng commented on #1662
@cMadan thanks for your thorough finishing up! Made it easy for me :)

[2019-10-23 16:19] kthyng commented on #1662
@whedon accept deposit=true

[2019-10-23 16:19] whedon commented on #1662
[code]

[2019-10-23 16:20] whedon commented on #1662
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1187041115700191232) 👈 🐦🐦🐦

[2019-10-23 16:20] whedon commented on #1662
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1044
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01662](https://doi.org/10.21105/joss.01662)
2. If everything looks g

[2019-10-23 16:24] kthyng commented on #1631
@whedon accept deposit=true

[2019-10-23 16:24] whedon commented on #1631
[code]

[2019-10-23 16:24] whedon commented on #1631
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1187042200330395648) 👈 🐦🐦🐦

[2019-10-23 16:24] whedon commented on #1631
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1045
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01631](https://doi.org/10.21105/joss.01631)
2. If everything looks g

[2019-10-23 16:25] kthyng commented on #1662
Congratulations to @paul-buerkner on your JOSS submission!!

Thank you to @tomfaulkenberry and @russellpierce for your time and expertise as reviewers, and thanks to @cMadan for editing.

[2019-10-23 16:25] #1662 closed

[2019-10-23 16:25] whedon commented on #1662
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01662/status.svg)](https://doi.org/10.21105/joss.01662)

**We need your help!**

Journal of Open Source Softwa

[2019-10-23 16:27] kthyng commented on #1631
Congratulations @chand-lab on your JOSS submission!! 🎉 🎉

Thank you to @conradsnicta and @thejanzimmermann for your time and expertise reviewing this submission. Thanks also to @cMadan for editing.

[2019-10-23 16:27] #1631 closed

[2019-10-23 16:27] whedon commented on #1631
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01631/status.svg)](https://doi.org/10.21105/joss.01631)

**We need your help!**

Journal of Open Source Softwa

[2019-10-23 17:04] mkearney commented on #1829
Done!

[2019-10-23 17:12] lpantano commented on #1731
@whedon add @hagberg as reviewer

[2019-10-23 17:12] whedon commented on #1731
OK, @hagberg is now a reviewer

[2019-10-23 17:42] arokem commented on #1727
👋 @adebayoj : would you be interested in reviewing this article for the [Journal of Open Source Software](https://joss.theoj.org/)? It is closely related to the work that you do, so your expertise will be
 very helpful here. For more information about the journal and our process, you can refer to this webpage:  https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2019-10-23 17:44] steven-murray commented on #1834
@arfon -- ahhh, OK now I have :-)

[2019-10-23 18:27] williamjameshandley commented on #1834
@arfon

I would consider myself an aspiring completist, but am currently not enough of one in order to disambiguate the above instruction. Could you point me to an example of how to link between a JOSS review and a GitHub issue?

[2019-10-23 18:33] lskatz commented on #1762
Hi @csoneson if no one responds, can I suggest these other reviewers?  I picked them from the JOSS list of potential reviewers.

* @iimog
* @greatfireball
* @standage

[2019-10-23 18:39] paul-buerkner commented on #1662
Thank you so much for your thorough reviewing and editing!!!

whedon <notifications@github.com> schrieb am Mi., 23. Okt. 2019, 19:25:

[2019-10-23 18:45] harpolea commented on #1774
I'm so sorry for the delay in finishing this!

Overall, this is a really cool package. I've read over the documentation and played around with the examples notebooks, and everything there looks good to me. The python test suite has good coverage (though the coverage reports on `codecov` don't seem to be working at the moment?).

I have a couple of small suggestions for the paper before I tick off

[2019-10-23 18:58] standage commented on #1762
I'd be happy to conduct a review if needed. 👍

[2019-10-23 19:02] greatfireball commented on #1762
Me too, just send me a note

[2019-10-23 19:06] mbobra commented on #1745
@whedon generate pdf

[2019-10-23 19:06] whedon commented on #1745
[code]

[2019-10-23 19:06] whedon commented on #1745
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01745/joss.01745/10.21105.joss.01745.pdf)

[2019-10-23 19:06] mbobra commented on #1745
@whedon check references

[2019-10-23 19:06] whedon commented on #1745
[code]

[2019-10-23 19:07] whedon commented on #1745
[code]

[2019-10-23 19:08] mbobra commented on #1745
@whedon set 10.5281/zenodo.3516465 as archive

[2019-10-23 19:08] whedon commented on #1745
OK. <a href="https://doi.org/10.5281/zenodo.3516465" target="_blank">10.5281/zenodo.3516465</a> is the archive.

[2019-10-23 19:08] mbobra commented on #1745
@whedon set 0.1.1 as version

[2019-10-23 19:08] whedon commented on #1745
OK. 0.1.1 is the version.

[2019-10-23 19:09] mbobra commented on #1745
@openjournals/joss-eics This paper is ready for acceptance! Nice work @sixpearls @ixjlyons 🎉

[2019-10-23 19:14] csoneson commented on #1762
@whedon remove @peterwc as reviewer

[2019-10-23 19:14] whedon commented on #1762
OK, @peterwc is no longer a reviewer

[2019-10-23 19:16] csoneson commented on #1762
@standage, @greatfireball - that's great, thank you for agreeing to review, it would be great to get your input! I'll add you both as reviewers here, and also add a checklist for each of you in the first post above.

[2019-10-23 19:16] csoneson commented on #1762
@whedon add @standage as reviewer

[2019-10-23 19:17] whedon commented on #1762
OK, @standage is now a reviewer

[2019-10-23 19:17] csoneson commented on #1762
@whedon add @greatfireball as reviewer

[2019-10-23 19:17] whedon commented on #1762
OK, @greatfireball is now a reviewer

[2019-10-23 19:24] mgymrek commented on #1761
Thanks @jsgalan and @juanvillada for the reviews.

@gmweaver, can you post your response to these comments regarding the installation process here?

[2019-10-23 19:25] mgymrek commented on #1742
@whedon set v2.29.0-3 as version

[2019-10-23 19:25] whedon commented on #1742
OK. v2.29.0-3 is the version.

[2019-10-23 19:27] mgymrek commented on #1742
Thanks @dphansti. Can you just ensure the Zenodo archive and the paper have the same title? It looks like the Zenodo archive is titled "PhanstielLab/bedtoolsr: bedtoolsr v2.29.0-3".

[2019-10-23 19:47] kellykochanski commented on #1699
@kthyng I've created a software arxiv on zenodo with doi 10.5281/zenodo.3517217

dx.doi.org/10.5281/zenodo.3517217

[2019-10-23 20:06] luizirber commented on #1762
Sounds great! I did in docker to avoid having to install a lot of extra packages in my system, but doing a home directory installation is the best path (since many people won't have admin rights to their system).

This all looks good. Thanks @lskatz!

@csoneson, checklist complete for me.

[2019-10-23 20:41] lskatz commented on #1762
Thank you @luizirber! And thank you to my new reviewers! I am looking forward to your feedback!

[2019-10-23 21:22] whedon commented on #1005
[code]

[2019-10-24 00:01] gassmoeller commented on #1797
@leouieda: I have a question about the following item on the reviewer checklist:

[code]

The authors do not explicitly describe this in the paper (although they do describe their main design principle of an easily usable library, which differs somewhat from many of the other software packages in our field), but I also have two problems with this item. First it is not mentioned on the https://joss

[2019-10-24 01:28] arfon commented on #1834
@whedon generate pdf

[2019-10-24 01:28] whedon commented on #1834
[code]

[2019-10-24 01:29] whedon commented on #1834
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01834/joss.01834/10.21105.joss.01834.pdf)

[2019-10-24 02:21] dphansti commented on #1742
@mgymrek I edited the Zenodo archive title to match the paper title. Let me know if it still doesn't look right.  Thanks.

[2019-10-24 02:21] taqtiqa-mark commented on #1591
@alexhanna As best I can tell the install instructions are not tested.
@gus0k previously waved his hands that things work on Linux, but has now qualified that to a couple of distributions.  The install instructions have been updated to add some missing step. So we are making progress (painfully).

I've made another pull request, showing the install instructions will break the users pip installatio

[2019-10-24 04:13] oliviaguest commented on #1666
@kahaaga no, thank you.

@labarba do we need the reviewers to tick this final box? 🤔

[2019-10-24 04:45] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-10-24 04:45] whedon commented on #1785
[code]

[2019-10-24 04:45] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2019-10-24 04:48] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-10-24 04:48] whedon commented on #1785
[code]

[2019-10-24 04:49] whedon commented on #1785
PDF failed to compile for issue #1785 with the following error:

 Error producing PDF.
! Undefined control sequence.
l.441 \frac{1+x}{2}sin^2(6\pixy

Looks like we failed to compile the PDF

[2019-10-24 04:54] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-10-24 04:54] whedon commented on #1785
[code]

[2019-10-24 04:55] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2019-10-24 04:58] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-10-24 04:58] whedon commented on #1785
[code]

[2019-10-24 04:58] ramaniitrgoyal92 commented on #1613
@whedon generate pdf

[2019-10-24 04:58] whedon commented on #1613
[code]

[2019-10-24 04:58] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2019-10-24 04:58] whedon commented on #1613
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01613/joss.01613/10.21105.joss.01613.pdf)

[2019-10-24 05:04] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-10-24 05:04] whedon commented on #1785
[code]

[2019-10-24 05:05] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2019-10-24 05:09] ramaniitrgoyal92 commented on #1613
@whedon generate pdf

[2019-10-24 05:09] whedon commented on #1613
[code]

[2019-10-24 05:09] whedon commented on #1613
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01613/joss.01613/10.21105.joss.01613.pdf)

[2019-10-24 05:13] BIPL-HORIE commented on #1785
@arokem
Thank you a lot for your supports.
I finally got the pdf version.

Please take a look.
Thank you.

[2019-10-24 05:15] ramaniitrgoyal92 commented on #1613
@kthyng Thanks for the input. Can you please take a look now?

[2019-10-24 07:28] alvarolopez commented on #1517
@kthyng done, check https://doi.org/10.5281/zenodo.1544377

[2019-10-24 09:08] Kevin-Mattheus-Moerman commented on #1337
@JedS6391 :wave: :point_up:

[2019-10-24 09:09] Kevin-Mattheus-Moerman commented on #1005
@whedon accept deposit=true

[2019-10-24 09:09] whedon commented on #1005
[code]

[2019-10-24 09:10] whedon commented on #1005
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1046
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01005](https://doi.org/10.21105/joss.01005)
2. If everything looks g

[2019-10-24 09:16] danielskatz commented on #1487
@tesch1 - any news?  I would like to get this published :)

[2019-10-24 09:51] Kevin-Mattheus-Moerman commented on #1005
@openjournals/dev this DOI is not resolving yet

[2019-10-24 10:31] arfon commented on #1005
Looks like the Crossref queue is backed up. It should register in the next few hours.

[2019-10-24 12:36] kyleniemeyer commented on #1005
@Kevin-Mattheus-Moerman @arfon looks good now!

[2019-10-24 12:37] kyleniemeyer commented on #1005
Congrats @slithiaote on your article's publication in JOSS—thanks for being patient over this long process. Many thanks to @tpetricek and @rljacobson for reviewing this submission!

[2019-10-24 12:37] #1005 closed

[2019-10-24 12:37] whedon commented on #1005
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01005/status.svg)](https://doi.org/10.21105/joss.01005)

**We need your help!**

Journal of Open Source Softwa

[2019-10-24 13:19] xuanxu commented on #1771
@wtgee, @Juanlu001: Friendly ping, how is that review going?

[2019-10-24 13:43] seanpue commented on #1717
Hi @kthyng  Almost done! Hopefully today.

[2019-10-24 13:43] seanpue commented on #1717
@whedon generate pdf

[2019-10-24 13:43] whedon commented on #1717
[code]

[2019-10-24 13:43] whedon commented on #1717
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01717/joss.01717/10.21105.joss.01717.pdf)

[2019-10-24 13:58] VivianePons commented on #1695
@whedon add @falque as reviewer

[2019-10-24 13:58] whedon commented on #1695
OK, @falque is now a reviewer

[2019-10-24 13:59] VivianePons commented on #1695
@whedon start review

[2019-10-24 13:59] whedon opened #1835 "[REVIEW]: RepnDecomp: A GAP package for decomposing linear representations of finite groups"
**Submitting author:** @kaashif (<a href="http://orcid.org/0000-0001-8581-5804">Kaashif Hymabaccus</a>)
**Repository:** <a href="https://github.com/gap-packages/RepnDecomp/" target ="_blank">https://github.com/gap-packages/RepnDecomp</a>
**Version:** 1.0.1
**Editor:** @VivianePons
**Reviewer:** @alex-konovalov, @falque
**Archive:** <a href="https://doi.org/10.5281/zenodo.3884306" target="_blank">1

[2019-10-24 13:59] whedon commented on #1695
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1835. Feel free to close this issue now!

[2019-10-24 13:59] whedon commented on #1835
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alex-konovalov, @falque it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-10-24 13:59] whedon commented on #1835
[code]

[2019-10-24 13:59] whedon commented on #1835
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01835/joss.01835/10.21105.joss.01835.pdf)

[2019-10-24 13:59] #1695 closed

[2019-10-24 14:10] whedon opened #1836 "[PRE REVIEW]: libRL: A Python library for the characterization of microwave absorption"
**Submitting author:** @1mikegrn (<a href="http://orcid.org/0000-0002-2525-1274">Michael Green</a>)
**Repository:** <a href="https://github.com/1mikegrn/libRL-package" target ="_blank">https://github.com/1mikegrn/libRL-package</a>
**Version:** v1.0.0
**Editor:** @dfm
**Reviewers:** @kjappelbaum, @mdoucet

**Author instructions**

Thanks for submitting your paper to JOSS @1mikegrn. **Currently, the

[2019-10-24 14:10] whedon commented on #1836
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-24 14:10] whedon commented on #1836
[code]

[2019-10-24 14:10] whedon commented on #1836
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01836/joss.01836/10.21105.joss.01836.pdf)

[2019-10-24 14:14] alex-konovalov commented on #1695
Thanks @VivianePons. I've checked https://github.com/openjournals/joss/blob/master/COI.md - just to confirm with you as an editor, do we agree that I can tick the COI box in the review, since being involved with @dimpase in OpenDreamKit and CoDiMa projects, and being employed at the same institution (since recently) in not a CoI in this particular case?

[2019-10-24 14:16] VivianePons commented on #1695
Yes, it's ok, it's been "disclosed and waived"

[2019-10-24 15:10] gkthiruvathukal commented on #1337
/ooo October 24 until October 27

[2019-10-24 15:16] elyiorgos commented on #1663
@lheagy @eskofier Thank you for your patience guys, the binder example is up and running! It's accessible from the readme in the demo section, but the following link should work as well:

https://mybinder.org/v2/gh/elyiorgos/sleeppy/master?filepath=example_notebook%2Fexample.ipynb

The environment may take a little while to set up (5-10 minutes maybe), but the version of the demo I have posted has

[2019-10-24 15:17] ramaniitrgoyal92 commented on #1613
@whedon generate pdf

[2019-10-24 15:17] whedon commented on #1613
[code]

[2019-10-24 15:19] whedon commented on #1613
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01613/joss.01613/10.21105.joss.01613.pdf)

[2019-10-24 15:19] hbaniecki commented on #1798
Hi! I would like to answer any further questions or resolve remarks to finish the review process (hopefully, by the end of the week) . 🔜 🔚 @acolum @expectopatronum

[2019-10-24 15:23] ramaniitrgoyal92 commented on #1613
@whedon generate pdf

[2019-10-24 15:23] whedon commented on #1613
[code]

[2019-10-24 15:23] whedon commented on #1613
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01613/joss.01613/10.21105.joss.01613.pdf)

[2019-10-24 15:24] seanpue commented on #1717
Hi @vc1492a @rlskoeser @gkthiruvathukal

Ok, I think it's ready to go. I have added the statement of need, updated the article, and also added bundled transliterators, a tutorial on adding bundled transliterators, and a command line interface. I have used jupyter-sphinx so that the docs automatically generate the sample code, and it can be cut and pasted or downloaded.

[2019-10-24 16:19] kthyng commented on #1699
I need to update the version number and syntax.

[2019-10-24 16:20] kthyng commented on #1699
@whedon set v1.1.1 as version

[2019-10-24 16:20] whedon commented on #1699
OK. v1.1.1 is the version.

[2019-10-24 16:25] kthyng commented on #1517
@alvarolopez Actually can you check again? The title in Zenodo should be "DEEPaaS API: a REST API for Machine Learning and Deep Learning models" right?

[2019-10-24 17:18] kbarnhart commented on #1818
@whedon remind @andreww in one week
@whedon remind  @seisman in one week
@whedon remind @brmather in one week

[2019-10-24 17:18] whedon commented on #1818
Reminder set for @andreww in one week

[2019-10-24 17:19] kbarnhart commented on #1818
@whedon remind  @seisman in one week

[2019-10-24 17:19] whedon commented on #1818
Reminder set for  @seisman in one week

[2019-10-24 17:19] kbarnhart commented on #1818
@whedon remind @brmather in one week

[2019-10-24 17:19] whedon commented on #1818
Reminder set for @brmather in one week

[2019-10-24 17:20] danielskatz commented on #1818
@kbarnhart - FYI, @whedon only takes one command at a time, and it has to be the first content in the comment

[2019-10-24 17:24] kbarnhart commented on #1818
@danielskatz thanks for the the @whedon info! 👍 I've edited the comment to split up the reminders.

[2019-10-24 18:01] kthyng commented on #1745
Hi @sixpearls! It looks like the citations in your paper aren't working when you have more than one because you are using commas to separate multiple references — please update to use semicolons. Also, please go through your references file and use {} around any words that need to stay capitalized, like MATLAB. The {} preserve capitalization.

[2019-10-24 18:03] kthyng commented on #1699
@whedon set 10.5281/zenodo.3517217 as archive

[2019-10-24 18:03] whedon commented on #1699
OK. <a href="https://doi.org/10.5281/zenodo.3517217" target="_blank">10.5281/zenodo.3517217</a> is the archive.

[2019-10-24 18:04] whedon commented on #1699
[code]

[2019-10-24 18:04] whedon commented on #1699
[code]

[2019-10-24 18:04] whedon commented on #1699
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1047

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1047, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-24 18:07] kthyng commented on #1699
@whedon accept deposit=true

[2019-10-24 18:08] whedon commented on #1699
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1187430629576720384) 👈 🐦🐦🐦

[2019-10-24 18:08] whedon commented on #1699
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1048
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01699](https://doi.org/10.21105/joss.01699)
2. If everything looks g

[2019-10-24 18:09] kthyng commented on #1699
Woohoo congratulations on your submission @kellykochanski!! 🎉

Huge thanks to @zbeekman and @rgmyr for your excellent reviews.

[2019-10-24 18:09] #1699 closed

[2019-10-24 18:09] whedon commented on #1699
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01699/status.svg)](https://doi.org/10.21105/joss.01699)

**We need your help!**

Journal of Open Source Softwa

[2019-10-24 18:19] mado89 commented on #1784
What are the requirements for the reviewer? I might know a guy who knows somebody working in the industry  (sport data)Sent from my mobile devicePlease excuse briefness and typos

-------- Original message --------
From: "Daniel S. Katz" <notifications@github.com>
Date: 24/10/2019  11:16  (GMT+01:00)
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Martin Dobiasch <martin.dobias

[2019-10-24 18:43] kthyng commented on #1829
@whedon set 10.5281/zenodo.3515425 as archive

[2019-10-24 18:43] whedon commented on #1829
OK. <a href="https://doi.org/10.5281/zenodo.3515425" target="_blank">10.5281/zenodo.3515425</a> is the archive.

[2019-10-24 18:43] kthyng commented on #1829
Ok I think I have everything now! I can go through the acceptance process now.

[2019-10-24 18:44] kthyng commented on #1829
@whedon accept

[2019-10-24 18:44] whedon commented on #1829
[code]

[2019-10-24 18:44] whedon commented on #1829
[code]

[2019-10-24 18:45] whedon commented on #1829
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1049

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1049, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-24 18:46] kthyng commented on #1829
@whedon accept deposit=true

[2019-10-24 18:46] whedon commented on #1829
[code]

[2019-10-24 18:47] whedon commented on #1829
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1187440427714207744) 👈 🐦🐦🐦

[2019-10-24 18:47] whedon commented on #1829
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1050
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01829](https://doi.org/10.21105/joss.01829)
2. If everything looks g

[2019-10-24 18:48] kthyng commented on #1613
This looks reasonable to me. Sorry I originally misunderstood your intent, but I like it better now anyway :)

[2019-10-24 18:49] kthyng commented on #1829
Congratulations @mkearney on your new paper!!

[2019-10-24 18:49] #1829 closed

[2019-10-24 18:49] whedon commented on #1829
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01829/status.svg)](https://doi.org/10.21105/joss.01829)

**We need your help!**

Journal of Open Source Softwa

[2019-10-24 18:52] kthyng commented on #1613
@whedon accept

[2019-10-24 18:52] whedon commented on #1613
[code]

[2019-10-24 18:53] whedon commented on #1613
[code]

[2019-10-24 18:53] whedon commented on #1613
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1051

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1051, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-24 18:54] kthyng commented on #1613
@whedon accept deposit=true

[2019-10-24 18:54] whedon commented on #1613
[code]

[2019-10-24 18:55] whedon commented on #1613
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1187442592876765184) 👈 🐦🐦🐦

[2019-10-24 18:55] whedon commented on #1613
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1052
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01613](https://doi.org/10.21105/joss.01613)
2. If everything looks g

[2019-10-24 19:03] kthyng commented on #1836
Hi @dfm! What do you think about editing this submission?

[2019-10-24 19:07] kthyng commented on #1823
Hi @katyhuff would you be up for editing this submission?

[2019-10-24 19:13] kthyng commented on #1666
@oliviaguest Having all the boxes checked is preferable, but it is clear this has been taken care of so the review can move forward. Do you want to go ahead and update the version number? Looks like it has continued to be updated in the meantime.

@kahaaga Which version of your package do you intend to be associated with the JOSS paper?

[2019-10-24 19:20] kahaaga commented on #1666
The latest release of the package is v0.8.2 and the functionality is still the same (but with some additional minor features), so I guess the latest version could be associated with the paper?

[2019-10-24 19:26] kthyng commented on #1613
I still don't see the DOI link working, but I need to move on for now. I will check back later.

[2019-10-24 19:37] dfm commented on #1836
@kthyng: sure thing!

@GreenScarz: Please feel free to make suggestions for reviewers! You can find a list of potential reviewers [here](https://bit.ly/joss-reviewers) Otherwise, I'll start looking shortly.

@whedon assign @dfm as editor

[2019-10-24 19:41] dfm commented on #1836
@whedon assign @dfm as editor

[2019-10-24 19:41] whedon commented on #1836
I'm sorry @dfm, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-10-24 19:45] dfm commented on #1836
Whoops! Looks like the robot doesn't know me yet. @arfon: is there something else I need besides being a member of joss-editors?

[2019-10-24 19:49] dmbates commented on #1666
I finally remembered to check the box on the version for my review.  It's all good to go as far as I am concerned.

[2019-10-24 20:00] GreenScarz commented on #1836
Hi @dfm and @kthyng , Thanks for taking the time to chat :) all of the analytical tools included therein are tools which I've used to publish materials research before; the biggest change has just been repackaging everything for general use. So really, anyone who has a knack for being hypercritical about documentation and then trying to break things will suffice as a reviewer. In the test folder i

[2019-10-24 20:20] ornlpmcp commented on #1656
@zhampel

Thank you very much for your reviews. They are indeed very helpful.

[Paper]
I modified the paper.md addressing your comments. I try to remove sentences that are too general and added some more examples.

[Usage]

The main purpose/contribution of this tool is to provide a user-friendly interface (CLI/GUI) so that users can do machine learning without programming efforts. So, it is not ou

[2019-10-24 20:26] GreenScarz commented on #1836
@whedon generate pdf

[2019-10-24 20:26] whedon commented on #1836
[code]

[2019-10-24 20:26] whedon commented on #1836
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01836/joss.01836/10.21105.joss.01836.pdf)

[2019-10-24 21:02] acolum commented on #1798
@hbaniecki Everything looks great, but there's still a few typos in the paper. In the second sentence under "Introduction," can you correct the spelling of "beeing" to "being" and "lead" to "leads"? After these are fixed, I'd be happy to approve everything for publication.

[2019-10-24 21:06] ramaniitrgoyal92 commented on #1613
Thank you so much @kthyng! I appreciate all the help!

[2019-10-24 21:10] GreenScarz commented on #1836
@whedon generate pdf

[2019-10-24 21:10] whedon commented on #1836
[code]

[2019-10-24 21:11] whedon commented on #1836
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01836/joss.01836/10.21105.joss.01836.pdf)

[2019-10-24 21:32] m-maheu-giroux commented on #1740
Hi @ellessenne and @seabbs,

First, thanks a lot for your thorough review. We have yet to publish many R packages and we really appreciate the time and efforts it took for you to revise our work (and to correct some of the omissions/blunder we made).

We believe that we have addressed all your concerns and suggestions. I have not closed the issues you raised yet as I feel it is your prerogative to

[2019-10-24 21:33] GreenScarz commented on #1836
Sorry I really don't want to be spamming this compilation command, but one last time...

[2019-10-24 21:33] GreenScarz commented on #1836
@whedon generate pdf

[2019-10-24 21:33] whedon commented on #1836
[code]

[2019-10-24 21:34] whedon commented on #1836
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01836/joss.01836/10.21105.joss.01836.pdf)

[2019-10-24 21:38] labarba commented on #1666
@oliviaguest When a reviewer misses to tick the version box, and I (as handling editor) have checked the version, the I actually click the box myself to complete the checklist.

[2019-10-24 21:39] arfon commented on #1836
@dfm can you retry the assignment now?

[2019-10-24 21:40] paudetseis commented on #1818
Question to @kbarnhart and reviewers: I see new issues on the GH repo from @seisman and making corrections as they come. Should I push them now or wait for potentially more comments from reviewers?

[2019-10-25 00:02] bocklund commented on #1824
I just finished my first pass on the review. I have a couple outstanding items to address:

**Installation:** Does installation proceed as outlined in the documentation? - I opened https://github.com/srmnitc/pyscal/issues/31. After this is closed, I can check this box.

**State of the field:** Do the authors describe how this software compares to other commonly-used packages - This is missing from

[2019-10-25 00:31] arfon commented on #1613
@kthyng - things look to be resolving OK now.

[2019-10-25 00:47] arfon commented on #1836
@whedon list editors

[2019-10-25 00:47] whedon commented on #1836
Current editors:

[code]

[2019-10-25 01:20] jmansour commented on #1797
@whedon generate pdf from branch joss

[2019-10-25 01:20] whedon commented on #1797
[code]

[2019-10-25 01:20] whedon commented on #1797
PDF failed to compile for issue #1797 with the following error:

 error: pathspec 'joss
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2019-10-25 01:24] jmansour commented on #1797
@whedon generate pdf from branch joss

[2019-10-25 01:24] whedon commented on #1797
[code]

[2019-10-25 01:25] whedon commented on #1797
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01797/joss.01797/10.21105.joss.01797.pdf)

[2019-10-25 02:07] patrickcgray commented on #1825
Hey Ben,

Late in replying but I'm happy to provide more imagery as needed, should be
plenty in that DataDryad repo as you likely saw!

Cheers,
Patrick

On Tue, Oct 22, 2019 at 5:47 PM Kristen Thyng <notifications@github.com>
wrote:

--
Patrick Clifton Gray <http://patrickgray.me/>

PhD Student
Marine Robotics and Remote Sensing Lab <http://sites.nicholas.duke.edu/uas/>
Duke University, Nicholas S

[2019-10-25 03:00] dfm commented on #1836
@whedon assign @dfm as editor

[2019-10-25 03:00] whedon commented on #1836
OK, the editor is @dfm

[2019-10-25 04:30] oliviaguest commented on #1666
Thanks all! So @labarba by check do you mean check if the version in this issue (text at the top) matches that in the code? And do I change it just by editing the text above?

[2019-10-25 06:57] srmnitc commented on #1824
@bocklund thanks a lot for the quick review. I will work on the issues soon. Just a quick clarification regarding the **State of the field** part. I know ideally it should be on the paper, but do you think adding it to documentation will suffice?

[2019-10-25 09:25] seabbs commented on #1740
Thanks for these changes @m-maheu-giroux - I think the package is looking really good!

I've just gone through the review issues and added some more comments. I think the main work left to do is making sure unit test coverage is good enough, confirming package functionality, and making the need for the package very clear (nearly there on this).

[2019-10-25 13:10] expectopatronum commented on #1798
Same here, after the typos are fixed, I can accept the paper.

[2019-10-25 13:19] kbarnhart commented on #1818
@paudetseis - it’s up to you if you want to wait for all the reviews, or start addressing the issues as they arrive.

It’s definitely good to do as @seisman has done and make sure to to link the reviews in the repository. That way the substantive review comments can be in the in-repository issues, but this issue can have a record of the the status.

[2019-10-25 13:36] GreenScarz commented on #1836
Hey does anyone here know if changing your GitHub username will negatively effect this review/publication process? Obviously I made this account before I realized that it would be used for professional functions haha, probably shouldn't be tethered to my gamertag.

[2019-10-25 13:53] kthyng commented on #1613
Great! It's working now!

Congrats to @ramaniitrgoyal92 on your new paper!! Many thanks to reviewers @apsabelhaus, @vaishnavtv, and @ctdegroot for your time, effort, and expertise, and to @Kevin-Mattheus-Moerman for editing!

[2019-10-25 13:53] #1613 closed

[2019-10-25 13:53] whedon commented on #1613
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01613/status.svg)](https://doi.org/10.21105/joss.01613)

**We need your help!**

Journal of Open Source Softwa

[2019-10-25 14:00] dfm commented on #1836
@GreenScarz: It shouldn't be a problem to change your username - just let me know!

[2019-10-25 14:09] 1mikegrn commented on #1836
so new username is @1mikegrn , the @GreenScarz links are discontinued and I've updated the docs in the libRL library to contain the new pip installation instructions.

[2019-10-25 14:11] 1mikegrn commented on #1836
just curious

@whedon generate pdf

[2019-10-25 14:12] 1mikegrn commented on #1836
@whedon generate pdf

[2019-10-25 14:12] whedon commented on #1836
[code]

[2019-10-25 14:13] whedon commented on #1836
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01836/joss.01836/10.21105.joss.01836.pdf)

[2019-10-25 14:15] dfm commented on #1836
:wave: @kjappelbaum @lucydot @utf: are any of you available to review this submission?

[2019-10-25 14:37] xoolive commented on #1812
Hello @mseri

I have first remarks about the current state of the repository/project.

- Why is the name of the paper OwlDE when the whole project name + repository + documentation says owl-ode (which is much clearer to me to understand what it is about)
- `opam install owl-ode` does not work here, even after `opam update`. Should we set a specific repository?
- There are many rendering issues (ma

[2019-10-25 14:45] sixpearls commented on #1745
@whedon generate pdf

[2019-10-25 14:48] sixpearls commented on #1745
Hi @kthyng, thank you for catching that. My co-author @ixjlyons has made those corrections and it looks correct now. Let us know if there are any other corrections.

[2019-10-25 15:00] melissawm commented on #1823
If no one is available, I can do it despite perhaps not being able to give
specific feedback on the ideas.

Em qui, 24 de out de 2019 16:07, Kristen Thyng <notifications@github.com>
escreveu:

[2019-10-25 15:44] mseri commented on #1812
Hi @xoolive. Let me reply what I can:

- We changed the name in view of the official presentation of the library during ICFP 2019. The name OwlDE was chosen because it was a contraction of Owl and ODE. The underlying library name was not changed to avoid backward incompatibilities for the moment. The current plan was to rename it to owlde with a tansition owl-ode package once owl reaches 1.0 (whic

[2019-10-25 15:49] xoolive commented on #1812
@mseri In case it helps

[code]

May I suggest you check:
[code]

Mine is:
[code]

[2019-10-25 16:05] mseri commented on #1812
Oh I see the problem. Opam has moved to opam2 since almost one year. For some reason you are using the old unmaintained repository (and potentially still opam 1).  Coq is released in the new opam2 repository as well, you should consider upgrading the system.

[2019-10-25 16:06] mseri commented on #1812
To avoid issues you could make the installation in a docker environment to avoid touching your system. But I understand that it would be more cumbersome.

[2019-10-25 16:13] kthyng commented on #1745
Great! Sorry I didn't realize to mention both @sixpearls and @ixjlyons.

The paper is looking good!

[2019-10-25 16:13] kthyng commented on #1745
@whedon accept

[2019-10-25 16:13] whedon commented on #1745
[code]

[2019-10-25 16:14] whedon commented on #1745
[code]

[2019-10-25 16:14] whedon commented on #1745
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1053

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1053, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-25 16:15] kthyng commented on #1745
@whedon accept deposit=true

[2019-10-25 16:15] whedon commented on #1745
[code]

[2019-10-25 16:16] whedon commented on #1745
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1187764788287430667) 👈 🐦🐦🐦

[2019-10-25 16:16] whedon commented on #1745
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1054
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01745](https://doi.org/10.21105/joss.01745)
2. If everything looks g

[2019-10-25 16:16] kthyng commented on #1823
@melissawm That would be great! Thanks for taking it on.

[2019-10-25 16:19] kthyng commented on #1745
Congrats @sixpearls and @ixjlyons on your new paper!!  🎉 🎉

Thanks very much to @amritagos and @sarats for your time and expertise as reviewers, and thanks to @mbobra for editing.

[2019-10-25 16:19] #1745 closed

[2019-10-25 16:19] whedon commented on #1745
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01745/status.svg)](https://doi.org/10.21105/joss.01745)

**We need your help!**

Journal of Open Source Softwa

[2019-10-25 16:20] alvarolopez commented on #1517
@kthyng yes indeed, my mistake. Now it is adjusted.

[2019-10-25 16:23] mseri commented on #1812
You can find the information about the move to opam2 and how to upgrade here: https://opam.ocaml.org/doc/Upgrade_guide.html

[2019-10-25 16:28] kthyng commented on #1517
@alvarolopez Ok great, though the version is now inconsistent between this and Zenodo. Here, it is listed as 0.5.2, which is the latest release on github. Is that correct? If so, please update it on Zenodo to match.

[2019-10-25 17:01] offray commented on #720
Hi @arfon

Unfortunately I am unable to made further advances because I needed to deal with the bureaucracy and legalize of [my University](http://ucaldas.edu.co/). So after having previous consent of my thesis advisor, proper written approval of the previous PhD director about publishing in JOSS as a way to cover one of my graduation requisites and started this long time ago with my two submitted

[2019-10-25 17:02] alvarolopez commented on #1517
@kthyng :man_facepalming: yes indeed. I forgot to create the release for that version.

[2019-10-25 17:12] arfon commented on #720
❤️ sorry to hear about these struggles @offray. Can I just check what 'indexes' are you referring to here? Do the journals you publish in need to be indexed by e.g. Scopus or something else?

[2019-10-25 17:19] majensen commented on #1803
Hello @kellieotto @daissi @stulacy -- would any of you be able to review this JOSS submission?
I appreciate the consideration - thanks!
--

[2019-10-25 17:22] StephanStock commented on #1771
@xuanxu @wtgee @Juanlu001 If there is anything you want us to do, please let us know

[2019-10-25 17:42] majensen commented on #1813
Thanks @gdetor  - @sjvrijn @sarats , would either or both of you be willing to review this submission? (I will also ping via email/LinkedIn)

[2019-10-25 17:52] katyhuff commented on #1823
@kthyng Sorry for the slow response! Thanks @melissawm for stepping up!

[2019-10-25 18:55] xoolive commented on #1812
Oh I see, I have a limited use of OCaml and wasn’t aware of the move as I have been sticking with the same packages for a while. I’ll take this as an opportunity to upgrade. Please bear with me!

[2019-10-25 19:24] daissi commented on #1803
@majensen Yes, I will review this submission.

[2019-10-25 19:52] stulacy commented on #1803
I'm not familiar with the application area but I could review it from a
technical perspective if you need it
Stuart

On Fri, 25 Oct 2019 at 20:24, Dylan Aïssi <notifications@github.com> wrote:

[2019-10-25 20:35] kthyng commented on #1517
@whedon accept

[2019-10-25 20:35] whedon commented on #1517
No archive DOI set. Exiting...

[2019-10-25 20:35] kthyng commented on #1517
Oh right

[2019-10-25 20:36] kthyng commented on #1517
@whedon set 10.5281/zenodo.3519350 as archive

[2019-10-25 20:36] whedon commented on #1517
OK. <a href="https://doi.org/10.5281/zenodo.3519350" target="_blank">10.5281/zenodo.3519350</a> is the archive.

[2019-10-25 20:36] kthyng commented on #1517
@whedon accept

[2019-10-25 20:36] whedon commented on #1517
[code]

[2019-10-25 20:36] whedon commented on #1517
[code]

[2019-10-25 20:36] whedon commented on #1517
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1055

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1055, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-25 20:37] kthyng commented on #1517
@whedon accept deposit=true

[2019-10-25 20:37] whedon commented on #1517
[code]

[2019-10-25 20:38] whedon commented on #1517
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1187830813729218561) 👈 🐦🐦🐦

[2019-10-25 20:38] whedon commented on #1517
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1056
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01517](https://doi.org/10.21105/joss.01517)
2. If everything looks g

[2019-10-25 20:42] kthyng commented on #1517
Congrats @alvarolopez on your new paper!!

Many thanks to @krother and @rougier for your time and expertise reviewing, and to @trallard for editing!

[2019-10-25 20:42] kthyng commented on #1517
@arfon I just realized that the final paper still lists as a reviewer someone who ended up not participated but is still listed. Can we remove them?

[2019-10-25 20:46] labarba commented on #1666
Authors need to make a tagged release of their software to include the latest revisions. The version number will thus increase. You, as handling editor, run `@whedon set v.xx as version`. That will update the version at the top of this issue, and then you are done, and can check off the item on the checklist.

[2019-10-25 20:55] JedS6391 commented on #1337
Hi @Kevin-Mattheus-Moerman, I think something went wrong with the automatic upload to Zenodo from GitHub so I created the archive manually (see [here](https://zenodo.org/record/3519400)). I have also updated the archive title + author list to be correct.

The new DOI is 10.5281/zenodo.3519400.

Apologies for the delay in getting this sorted.

[2019-10-25 20:55] JedS6391 commented on #1337
@whedon generate pdf

[2019-10-25 20:55] whedon commented on #1337
[code]

[2019-10-25 20:56] whedon commented on #1337
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01337/joss.01337/10.21105.joss.01337.pdf)

[2019-10-25 20:59] JedS6391 commented on #1337
I believe I need to change the DOI to the new one to get the paper to reflect the changes made?

[2019-10-25 22:01] hbaniecki commented on #1798
@whedon generate pdf

[2019-10-25 22:01] whedon commented on #1798
[code]

[2019-10-25 22:02] whedon commented on #1798
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01798/joss.01798/10.21105.joss.01798.pdf)

[2019-10-25 22:43] acolum commented on #1798
Looks great to me! I'm finished with my review and can now recommend this package and paper for publication.

[2019-10-25 23:56] majensen commented on #1803
@daissi @stulacy thanks very much. @stulacy a tech review is very welcome.

[2019-10-26 00:00] majensen commented on #1803
@whedon assign @daissi as reviewer

[2019-10-26 00:00] whedon commented on #1803
OK, the reviewer is @daissi

[2019-10-26 00:01] majensen commented on #1803
@whedon add @stulacy as reviewer

[2019-10-26 00:01] whedon commented on #1803
OK, @stulacy is now a reviewer

[2019-10-26 00:03] majensen commented on #1803
@whedon start review

[2019-10-26 00:03] whedon opened #1837 "[REVIEW]: CoralP: Flexible visualization of the human phosphatome"
**Submitting author:** @dphansti (<a href="http://orcid.org/0000-0003-2123-0051">Douglas Phanstiel</a>)
**Repository:** <a href="https://github.com/PhanstielLab/coralp" target ="_blank">https://github.com/PhanstielLab/coralp</a>
**Version:** v1.0.1
**Editor:** @majensen
**Reviewer:** @daissi, @stulacy
**Archive:** <a href="https://doi.org/10.5281/zenodo.3560845" target="_blank">10.5281/zenodo.3560

[2019-10-26 00:03] whedon commented on #1803
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1837. Feel free to close this issue now!

[2019-10-26 00:03] whedon commented on #1837
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @daissi, @stulacy it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-10-26 00:03] whedon commented on #1837
[code]

[2019-10-26 00:04] whedon commented on #1837
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01837/joss.01837/10.21105.joss.01837.pdf)

[2019-10-26 00:06] majensen commented on #1803
Thanks all!

[2019-10-26 00:06] #1803 closed

[2019-10-26 01:56] lucydot commented on #1836
Hi @dfm I'm currently in the middle of another JOSS review, I'd rather not commit to two.

[2019-10-26 05:00] lucydot commented on #1824
Hi @srmnitc - I just finished my first look over. The documentation is really nice, and I like the use of binder for someone who wants to get a quick feel for the code.

**Installation:** I have the same issue as reported in srmnitc/pyscal#31 when installing through conda. I can confirm installation runs smoothly using `python setup.py install` in a conda environment as outlined in the documentati

[2019-10-26 08:35] Kevin-Mattheus-Moerman commented on #1337
@JedS6391 no you need to make the changes in your paper.md file (https://github.com/JedS6391/LGP/blob/develop/paper.md) and run '@whedon generate pdf'. Note the two changes I proposed above. Let me know if you have questions.

[2019-10-26 09:40] kjappelbaum commented on #1836
Hi @dfm, I'm available.

[2019-10-26 10:52] Juanlu001 commented on #1771
Sorry for the long delay and thanks @StephanStock for your patience, I finished the review. Some comments:

* It would be nice to add a git tag to the repository, to clearly signal what's `v1.0.0`.
* Regarding "Contribution and authorship", I ticket off the box [because of this comment](https://github.com/openjournals/joss-reviews/issues/1724#issuecomment-530867688):

* Regarding "Functionality do

[2019-10-26 11:20] arfon commented on #1517
Sure thing, I can fix that.

[2019-10-26 11:22] arfon commented on #1517
OK done!

[2019-10-26 11:31] srmnitc commented on #1824
@lucydot thanks for the review and the comments. I think I can add few sentences in the paper about other codes. There are few other python modules, but none of them seems to be maintained/documented, and lacks all of the features this module has. Bigger tools like LAMMPS, for example, can also do this, but the target is different. We are looking at mostly post-processing of data. But I will add f

[2019-10-26 12:24] expectopatronum commented on #1798
Same here!

[2019-10-26 12:38] srmnitc commented on #1824
@lucydot @bocklund I have added both numpy and matplotlib as dependencies. srmnitc/pyscal#31 has been closed.

[2019-10-26 12:55] hbaniecki commented on #1798
@terrytangyuan

[2019-10-26 13:36] thomakra commented on #1822
@Kevin-Mattheus-Moerman I've gone though the checklist. Most things seem to be in order. I've added a few issues in the repo with small suggestions for improving the documentation.
One thing I noted was that the Zenodo DOI in the paper seems to link to a removed entry and is not the same as the one linked to in the README.

I can't find any automated tests, but number of methods are small enough t

[2019-10-26 13:46] srmnitc commented on #1824
@bocklund  @lucydot  @melissawm,  About **State of the field**, 661b6770c62dc2f5e91b066a28dcbb63f785cfbe has an updated version of paper that references another [python module](https://pyboo.readthedocs.io/en/latest/) has some overlapping functionality. This is the only one I could find with documentation and a doi. [LAMMPS](https://lammps.sandia.gov/) and [PLUMED](https://www.plumed.org/) can als

[2019-10-26 13:46] JoshKarpel commented on #1684
@Shibabrat  @WyLyu The PR churn is a little hard to follow. I'd appreciate it if you could batch your changes a little more, explain what's going on in each PR, and write comments in the PRs explaining which issues you're addressing with them. Not everything needs to be merged to master immediately; you can checkout a branch that someone else pushed to GitHub and work on it locally, then push more

[2019-10-26 15:32] vbarrera commented on #1411
Hi.
I'm good with unpausing too.

@snowformatics It would be helpful if you create the new binary with the updated version.
I'll reevaluate all issues and close them if they're no longer happening.
Thank you.

[2019-10-26 15:44] vitorsr commented on #1822
Hi, first of all, thank you @thomakra and @Atif-Anwer for taking the time to review this submission, and @Kevin-Mattheus-Moerman for editing.

I have acted according to the feedback given by @thomakra - the [latest commit](https://github.com/vitorsr/SIHR/commit/397534a3c1c866a09dc9eba66424a4eb0aa217f4) incorporates the suggestions given and closes the corresponding issues.

Please, feel free to re

[2019-10-26 15:46] vitorsr commented on #1822
@whedon generate pdf

[2019-10-26 15:46] whedon commented on #1822
[code]

[2019-10-26 15:46] whedon commented on #1822
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01822/joss.01822/10.21105.joss.01822.pdf)

[2019-10-26 15:49] andreww commented on #1818
Ok - my review is done. Comments are all added as issues in the telewavesim repository and reference this issue. As I see things, the blockers would be paudetseis/Telewavesim#21 (functionality) and paudetseis/Telewavesim#18 (community guidelines).

[2019-10-26 16:27] shah314 commented on #1733
@jedbrown Any further thoughts on the review process? Thanks.

[2019-10-26 18:02] srmnitc commented on #1824
@whedon  generate pdf

[2019-10-26 18:15] mseri commented on #1812
No problem. Please let me know if you need any help with the upgrade

[2019-10-26 18:32] dfm commented on #1836
@lucydot: sorry about that - I should have checked!

@kjappelbaum: Excellent - thanks. Just need one more!

[2019-10-26 18:32] dfm commented on #1836
@whedon assign @kjappelbaum as reviewer

[2019-10-26 18:32] whedon commented on #1836
OK, the reviewer is @kjappelbaum

[2019-10-26 19:05] terrytangyuan commented on #1798
Thanks everyone!

At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

The title of the archive is the same as the JOSS paper title
That the au

[2019-10-26 20:15] JedS6391 commented on #1337
@whedon generate pdf

[2019-10-26 20:15] whedon commented on #1337
[code]

[2019-10-26 20:15] whedon commented on #1337
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01337/joss.01337/10.21105.joss.01337.pdf)

[2019-10-26 20:18] JedS6391 commented on #1337
Hi @Kevin-Mattheus-Moerman, the generated PDF now has the reflected changes (I didn't realise whedon read from the `develop` branch). Please note that the correct DOI is as stated yesterday: 10.5281/zenodo.3519400.

[2019-10-26 21:26] sjvrijn commented on #1813
@majensen I can review this submission

[2019-10-27 07:47] Kevin-Mattheus-Moerman commented on #1337
@whedon set 10.5281/zenodo.3519400 as archive

[2019-10-27 07:47] whedon commented on #1337
OK. <a href="https://doi.org/10.5281/zenodo.3519400" target="_blank">10.5281/zenodo.3519400</a> is the archive.

[2019-10-27 07:49] Kevin-Mattheus-Moerman commented on #1337
@whedon accept

[2019-10-27 07:49] whedon commented on #1337
[code]

[2019-10-27 07:49] whedon commented on #1337
[code]

[2019-10-27 07:49] whedon commented on #1337
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1057

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1057, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-27 07:51] Kevin-Mattheus-Moerman commented on #1337
@whedon accept deposit=true

[2019-10-27 07:51] whedon commented on #1337
[code]

[2019-10-27 07:52] whedon commented on #1337
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1188362835795025920) 👈 🐦🐦🐦

[2019-10-27 07:52] whedon commented on #1337
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1058
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01337](https://doi.org/10.21105/joss.01337)
2. If everything looks g

[2019-10-27 07:53] #1337 closed

[2019-10-27 07:53] whedon commented on #1337
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01337/status.svg)](https://doi.org/10.21105/joss.01337)

**We need your help!**

Journal of Open Source Softwa

[2019-10-27 14:36] majensen commented on #1813
Thanks @sjvrijn

[2019-10-27 15:32] offray commented on #720
@arfon yes, the journals do need to be in a particular index. Because my thesis deals with non-hegemonic subjects, artifacts and places of knowledge, like hackerspaces, where the Grafoscopio and Dataviz software was prototyped, developed and extended, trying to make visible other ways of publishing and places for that seem like a perfect fit in my view, the one of my advisor and the previous PhD d

[2019-10-27 16:14] alexhanna commented on #1764
I've checked off things in @benmarwick's review which were checked in issue #1600.

@OttaviaE - there doesn't need to be a DESCRIPTION, but according to [JOSS guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html#documentation), the high-level description can be in the README.md file and include:

A statement of need
Installation instructions
Example usage
API documentation

[2019-10-27 17:31] danielskatz commented on #1784
The reviewer should be familiar with open source, ideally with the domain and language of the software, and should not be conflicted with the authors

[2019-10-27 19:06] labarba commented on #1783
👋  @ulfaslak — You published a visualization tool in JOSS a few weeks ago. Could you help us out now by reviewing this new submission?
**pylustrator: code generation for reproducible figures for publication**
https://github.com/rgerum/pylustrator

[2019-10-27 19:44] labarba commented on #1783
👋 @tacaswell — Would you be able to review this submission for JOSS? Seems right up your alley...
**pylustrator: code generation for reproducible figures for publication**
https://github.com/rgerum/pylustrator

[2019-10-27 20:04] labarba commented on #1783
👋 @aokad — Are you interested in reviewing this JOSS submission? You signed up with "visualization" as your area of interest…
**pylustrator: code generation for reproducible figures for publication**
https://github.com/rgerum/pylustrator

[2019-10-28 01:39] cMadan commented on #1830
@whedon generate pdf

[2019-10-28 01:39] whedon commented on #1830
[code]

[2019-10-28 01:40] whedon commented on #1830
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01830/joss.01830/10.21105.joss.01830.pdf)

[2019-10-28 02:49] lucydot commented on #1824
@srmnitc  - fab, I can confirm that tests pass after install via conda. I'm also happy to tick off state of the field. I'd like another day or two to play around with the code (rather than just run through the examples given) before signing off - Lucy

[2019-10-28 03:31] cMadan commented on #1830
@jhcreed, skimming your paper I found quite a few typos ("long", "calues", and a few others). Can you and your co-authors take a closer look at the text?

[2019-10-28 05:57] sarats commented on #1813
@majensen I'm happy to review this.

[2019-10-28 08:16] alvarolopez commented on #1517
@trallard @kthyng @krother @rougier thanks for taking care of the whole process.

@arfon: I just realized that my surname and name are not correctly identified. My name is "Álvaro" and surname is "López García" (i.e. I have two surnames). Can this be fixed?

Many thanks in advance.

[2019-10-28 08:36] srmnitc commented on #1824
@lucydot  thanks!

[2019-10-28 08:37] SwathiSheshadri commented on #1648
Thank you all for your responses and for helping advance our submission towards review.
@cMadan, I make the following additional reviewer suggestions.
Additional JOSS reviewer suggestions:
@thomakra
@cpontonn
In addition, I request you to reconsider my earlier suggested reviewers @sreschechtko (Sasha Reschechtko) and @brittonsauerbrei (Britton Sauerbrei) as they would be best equipped to test our

[2019-10-28 09:12] danielskatz commented on #1823
Thanks @melissawm! (for what it's worth, when you volunteer, you can then tell @whedon to assign you as editor, as I'm going to do in the next comment; you don't need an AEiC to do this.

[2019-10-28 09:13] danielskatz commented on #1823
@whedon assign @melissawm as editor

[2019-10-28 09:13] whedon commented on #1823
OK, the editor is @melissawm

[2019-10-28 09:14] aokad commented on #1783
Sorry @labarba, I am unable to review at this time.

[2019-10-28 09:31] whedon opened #1838 "[PRE REVIEW]: splot: visual analytics for spatial statistics"
**Submitting author:** @slumnitz (<a href="http://orcid.org/0000-0002-7007-5812">Stefanie Lumnitz</a>)
**Repository:** <a href="https://github.com/pysal/splot" target ="_blank">https://github.com/pysal/splot</a>
**Version:** v1.1.1
**Editor:** @leouieda
**Reviewers:** @ResidentMario, @martinfleis

**Author instructions**

Thanks for submitting your paper to JOSS @slumnitz. **Currently, there isn't

[2019-10-28 09:31] whedon commented on #1838
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-28 09:31] whedon commented on #1838
[code]

[2019-10-28 09:31] whedon commented on #1838
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01838/joss.01838/10.21105.joss.01838.pdf)

[2019-10-28 09:36] danielskatz commented on #1838
👋 @leouieda - would you be willing to edit this submission?

[2019-10-28 09:57] mikkonie commented on #1584
Hello,

FYI, I made changes according to @rbatorsky's new issue and detailed them in the issue comments.

-Mikko

[2019-10-28 12:03] dfm commented on #1836
:wave: @bjmorgan @jochym @mkhorton @yxqd: Would any of you be available to review this submission? I'd love to get one or two more reviewers. Thanks!

[2019-10-28 12:10] OttaviaE commented on #1764
Hey @alexhanna  I've just pushed some changes on GitHub that should addressed the issues in @benmarwick reviews.

Let me know whether it is okay!

[2019-10-28 12:10] OttaviaE commented on #1764
@whedon generate pdf

[2019-10-28 12:10] whedon commented on #1764
[code]

[2019-10-28 12:11] whedon commented on #1764
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01764/joss.01764/10.21105.joss.01764.pdf)

[2019-10-28 12:14] arfon commented on #1517
Sorry about that @alvarolopez. That should be fixed now. If the PDF on the JOSS site is still looking out of date it might take a while to refresh as there's caching in place.

[2019-10-28 12:14] #1517 closed

[2019-10-28 12:14] whedon commented on #1517
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01517/status.svg)](https://doi.org/10.21105/joss.01517)

**We need your help!**

Journal of Open Source Softwa

[2019-10-28 13:16] rmsare commented on #1777
@kthyng The conda package is nearly there and I've made functional recipes to install the two major dependencies (libLAS and pymcc). However there are some conflicts that will take some time to fix.

Martí Bosch [agreed](https://github.com/rmsare/pymccrgb/issues/17#issuecomment-546835055) that we can proceed with the review without a finalized conda package. I am working to debug the recipe with c

[2019-10-28 14:11] kthyng commented on #1517
Thanks @arfon! Sorry for all the after-changes.

[2019-10-28 14:43] majensen commented on #1813
@sarats thanks so much. I will start the review; look for the link that will appear below.

[2019-10-28 14:44] majensen commented on #1813
@whedon assign @sjvrijn as reviewer

[2019-10-28 14:44] whedon commented on #1813
OK, the reviewer is @sjvrijn

[2019-10-28 14:44] majensen commented on #1813
@whedon add @sarats as reviewer

[2019-10-28 14:44] whedon commented on #1813
OK, @sarats is now a reviewer

[2019-10-28 14:44] majensen commented on #1813
@whedon start review

[2019-10-28 14:44] whedon opened #1839 "[REVIEW]: GAIM: A C++ library for Genetic Algorithms and Island Models"
**Submitting author:** @gdetor (<a href="http://orcid.org/0000-0001-5891-1702">Georgios Detorakis</a>)
**Repository:** <a href="https://gitlab.com/gdetor/genetic_alg" target ="_blank">https://gitlab.com/gdetor/genetic_alg</a>
**Version:** v1.0.0
**Editor:** @majensen
**Reviewer:** @sjvrijn, @sarats
**Archive:** <a href="https://doi.org/10.5281/zenodo.3558829" target="_blank">10.5281/zenodo.3558829

[2019-10-28 14:44] whedon commented on #1813
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1839. Feel free to close this issue now!

[2019-10-28 14:44] whedon commented on #1839
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sjvrijn, @sarats it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-10-28 14:45] whedon commented on #1839
[code]

[2019-10-28 14:45] whedon commented on #1839
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01839/joss.01839/10.21105.joss.01839.pdf)

[2019-10-28 14:45] majensen commented on #1813
Thanks to all- the review will take place in issue #1839
cheers

[2019-10-28 14:45] #1813 closed

[2019-10-28 15:00] alvarolopez commented on #1517
@arfon, many thanks!

[2019-10-28 15:34] slithiaote commented on #1005
Thanks to the editors and reviewers from JOSS for their dedication and perseverance.

[2019-10-28 16:21] slumnitz commented on #1838
Suggestions for potential reviewers:
* [jorisvandenbossche](https://github.com/jorisvandenbossche) - geopandas
* [gboeing](https://github.com/gboeing) - osmnx
* [ResidentMario](https://github.com/ResidentMario) - geoplot

[2019-10-28 18:00] karthik commented on #1686
@batpigandme No rush, but when possible can you give me a rough timeline for when I should check in with you on revisions?

[2019-10-28 18:54] paudetseis commented on #1818
@whedon generate pdf

[2019-10-28 18:54] whedon commented on #1818
[code]

[2019-10-28 18:55] whedon commented on #1818
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01818/joss.01818/10.21105.joss.01818.pdf)

[2019-10-28 19:13] kmzzhang commented on #1651
@arfon I just realized that the title in the paper is incorrect. It should be “deepCR: Cosmic Ray Rejection with Deep Learning,” while the published paper has the word “Ray" missing. I may have omitted it in the paper source file — the title in the paper submission metadata is correct. Is there a way to fix this error?

[2019-10-28 19:13] kmzzhang commented on #1651
@arfon I just realized that the title in the paper is incorrect. It should be “deepCR: Cosmic Ray Rejection with Deep Learning,” while the published paper has the word “Ray" missing. I may have omitted it in the paper source file — the title in the paper submission metadata is correct. Is there a way to fix this error?

[2019-10-28 19:52] RobinHankin commented on #1819
Arfon, can I press you for some advice on my submission please?

[2019-10-28 19:56] jhcreed commented on #1830
We have looked back over it and fixed the typos. Thanks!

[2019-10-28 20:03] arfon commented on #1651
@kmzzhang - I can fix this for you.

[2019-10-28 20:08] arfon commented on #1651
OK that should be fixed now. It might take a few hours for the updated paper to show up online as there's caching in place for the PDFs.

[2019-10-28 20:10] arfon commented on #1819
Sorry, please do go ahead and redraft. I'm afraid I still don't quite understand what the research goal of this work is but I'm hoping that your reworked paper will help explain this to me (and potential readers).

[2019-10-28 20:22] meg-simula commented on #1776
Great, thanks @sgrieve and @tristan-salles for your reviews, and @kbarnhart for responding to the suggestions!

[2019-10-28 20:22] meg-simula commented on #1776
@whedon generate pdf

[2019-10-28 20:22] whedon commented on #1776
[code]

[2019-10-28 20:23] whedon commented on #1776
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01776/joss.01776/10.21105.joss.01776.pdf)

[2019-10-28 20:28] meg-simula commented on #1776
@whedon check references

[2019-10-28 20:29] whedon commented on #1776
[code]

[2019-10-28 20:29] whedon commented on #1776
[code]

[2019-10-28 20:33] meg-simula commented on #1776
@kbarnhart Could you please do an additional spell-check of the paper? (I assume "hight of mountain ranges" should be "height of ..." e.g.)

[2019-10-28 20:36] meg-simula commented on #1776
Also, the author order of the Zenodo archive is different from that of the paper, could you please provide a consistent ordering?

[2019-10-28 20:54] RobinHankin commented on #1819
thank you Arfon, I appreciate your advice.  I will rework the submission as
you suggest.  I was not aware of JOSE; I checked it out but feel that the
lorentz work is more appropriate for JOSS.

With best wishes

Robin

<hankin.robin@gmail.com>
hankin.robin@gmail.com

<hankin.robin@gmail.com>

<hankin.robin@gmail.com>

On Tue, Oct 29, 2019 at 9:10 AM Arfon Smith <notifications@github.com>
wrote: