[2020-06-07 23:14] arfon commented on #2294
@hope-data-science - looks like there's some kind of encoding issue with your files here. Could you make sure you can get your paper to compile with this service while we're waiting to assign an editor: http://whedon.theoj.org

[2020-06-07 23:16] shirubana commented on #1865
@whedon generate pdf

[2020-06-07 23:17] shirubana commented on #1865
@kyleniemeyer thanks for the tip. it works well now 👍

[2020-06-07 23:18] arfon commented on #2233
:wave: @mikldk - this looks like it might be a reasonable first submission for you. I'll go ahead and add you.

[2020-06-07 23:18] arfon commented on #2233
@whedon assign @mikldk as editor

[2020-06-07 23:18] whedon commented on #2233
OK, the editor is @mikldk

[2020-06-07 23:19] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2020-06-07 23:19] arfon commented on #2233
:wave: @markhwhiteii - thanks for being willing to edit this. We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html .

Before the review will start though, the editor (@mikldk) will need to find a second reviewer for this submission.

[2020-06-07 23:20] shirubana commented on #1865
@whedon generate pdf

[2020-06-07 23:21] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2020-06-07 23:23] shirubana commented on #1865
I had to add a dash between my two last names so it would put both at the footer of the page :)

It looks beautiful now.

[2020-06-07 23:29] kyleniemeyer commented on #1865
@shirubana just a few final edits to the text:

- in the 4th paragraph ("bifacial_radiance was first coded in ..."), the last sentence uses the references as nouns but uses the usual parenthetical citation. Could you remove the square brackets? For reference, these are the different citation commands and their results:
[code]
- please add a period after Stein's middle initial in the `Stein2019b` r

[2020-06-07 23:49] shirubana commented on #1865
@kyleniemeyer it's been updated! Thank you for being so thorough.

[2020-06-07 23:57] kyleniemeyer commented on #1865
@whedon generate pdf

[2020-06-07 23:57] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2020-06-08 00:00] kyleniemeyer commented on #1865
@shirubana almost there! It looks like that reference actually has either a missing or incorrect citation: in `[@PVSyst; @SAM]`, there does not appear to be a corresponding item for `PVSyst` in your bib file.

[2020-06-08 00:18] shirubana commented on #1865
@whedon generate pdf

[2020-06-08 00:18] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2020-06-08 00:21] shirubana commented on #1865
@whedon generate pdf

[2020-06-08 00:22] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2020-06-08 00:24] shirubana commented on #1865
@kyleniemeyer  done! I tried to put my lastname in brackets like in the bib { } but the footer didn't recognize that :( So I guess I have to stay with the dash in between. Oh well. Everything else is updated though :)

[2020-06-08 00:25] kyleniemeyer commented on #1865
@openjournals/dev @arfon I thought we could handle double barrel (but no hyphen) last names—is that not the case?

[2020-06-08 02:49] hope-data-science commented on #2294
@arfon Thank you for the prompt feedback. I've try to compile this link (<https://github.com/hope-data-science/tidyfst/tree/master/docs/JOSS>) and successed, but when I click and try to download the preview, it failed. Am I supposed to change anything in the submission system or make adjustment on the files in the Github repo?

A Word version is also available here: <https://github.com/hope-data-s

[2020-06-08 02:53] hope-data-science commented on #2294
Below are the messages from the system:
![image](https://user-images.githubusercontent.com/32947502/83988571-3a71e800-a976-11ea-80b1-35c431fe2058.png)
![image](https://user-images.githubusercontent.com/32947502/83988606-51183f00-a976-11ea-811e-7cbfa9676bc4.png)

[2020-06-08 05:31] shashwat-bhattacharya commented on #2185
@jedbrown Thanks for your reply. We will go ahead with your suggestion of retaining the definition of structure functions and basic parallelization strategy. We will move the validation part to the project documentation. We are currently making these changes and will update you when done.

[2020-06-08 06:53] OttaviaE commented on #2297
@kyleniemeyer Okay thank you! Should I still indicate any preference for an editor?

[2020-06-08 07:23] mmrabe commented on #2233
👋 Thanks for suggesting me, @DominiqueMakowski. Just in case that @mikldk would consider me as a reviewer, I would be more than happy to review this paper 👀 but unfortunately won’t be available before 29-06-2020.

[2020-06-08 07:24] kyleniemeyer commented on #2297
Hi @OttaviaE, sure, you may suggest someone, but who we ultimately ask/assign to edit also depends on editor availability and preference

[2020-06-08 07:36] uellue commented on #2006
@majensen sounds good! This is the DOI for LiberTEM 0.5.0: https://doi.org/10.5281/zenodo.3763313

[2020-06-08 07:47] VivianePons commented on #1835
Thank you @kyleniemeyer for the reminder! I will take it from here

[2020-06-08 07:48] VivianePons commented on #1835
@whedon check references

[2020-06-08 07:48] whedon commented on #1835
[code]

[2020-06-08 07:53] VivianePons commented on #1835
@kaashif could you update the archive so that the metadata match the paper (title and authors). Thanks

[2020-06-08 07:54] OttaviaE commented on #2297
@kyleniemeyer I don't think I have any preference, so I'll let you decide! Thanks again

[2020-06-08 08:22] iljah commented on #2185
Sorry for long delay, that sounds good. I'll try to get this done this week.

[2020-06-08 08:34] will-rowe commented on #2271
Hi @kyleniemeyer. I'd be happy to make time for this - it looks great!

[2020-06-08 08:35] will-rowe commented on #2271
@whedon assign @will-rowe as editor

[2020-06-08 08:35] whedon commented on #2271
OK, the editor is @will-rowe

[2020-06-08 08:39] will-rowe commented on #2271
Hi @mbod - are you still happy to review?

[2020-06-08 08:40] tabe commented on #2238
@majensen I recommend Dr Akira Funahashi @funasoul from the SBML team would be one of the best reviewer candidates.

[2020-06-08 08:41] will-rowe commented on #2271
Hi @HadrienG - would you be interested in reviewing this JOSS submission?

[2020-06-08 08:56] uellue commented on #2006
@majensen Wait, I noticed something, forgot a co-author!

[2020-06-08 09:30] pdebuyl commented on #2248
@kyleniemeyer yes [note that I self-assigned already for another submission :-) ]

[2020-06-08 09:32] Ohjeah commented on #2290
#### Software paper

- The introduction is a little bit steep for non-experts. As an outsider I would not be able to understand it (e.g. 1. sentence: What is a fitness?). Could you please add a paragraph for non-experts?
- I am missing the statement of need as well as the state of the field. I think you can repurpose parts of the "Comparison to the CGP-Library" paragraph from the README.

[2020-06-08 09:36] kinnala commented on #2301
The proof looks correct. My coauthor @gdmcbain can also confirm.

[2020-06-08 09:37] pdebuyl commented on #2248
@elena-pascal , @dalonsoa are you willing to review this paper for JOSS ?

[2020-06-08 09:41] dalonsoa commented on #2248
Hi @pdebuyl , I'm afraid I'm packed with other stuff at the moment. Sorry, maybe next time.

[2020-06-08 09:43] pdebuyl commented on #2248
@dalonsoa thank you for the quick reply!

[2020-06-08 09:53] khinsen commented on #2284
@usedata I am stuck with this review, and I'd appreciate some guidance of how to proceed.

The big problem that I see with this software is lack of clarity in the documentation. There are many specific points that I could list (here or as issues on the software's repository), but that would be a lot of work (because there are so many points) and therefore I won't be able to do this rapidly. More i

[2020-06-08 09:56] muhrin commented on #2295
Thanks @kyleniemeyer, no worries regarding the backlog - we're looking forward to your review.  I mention my coauthor, @sphuber, to bring him into the conversation.

[2020-06-08 10:28] darioizzo commented on #2290
@shah314

DOIs are added.

We extended a bit on audi, adding a sentence: "The library `audi` makes computations in this algebra rather straight-forward by defining all the basic arithmetics rules for the new type `audi::gdual<T>` which, essentially, represents a multivariate Taylor polynomial and thus contains all the derivatives of the considered expansion."

We commented explicitly upon the abse

[2020-06-08 10:29] darioizzo commented on #2290
@Ohjeah

* We explained at length the concpet of fitness
* We added a last paragraph in the intro to address your point.

[2020-06-08 10:51] marcosvital commented on #2202
Thank you very much, @jdbrunner. As soon as we have one or two more reviewers, we will move on and start the reviewing process.

@davidtourigny , if you don't mind, I would like to wait a few more days to see if we get some response from @cdiener and @pstjohn, given that many of us are not able to answer quickly during the pandemic.

[2020-06-08 10:52] marcosvital commented on #2202
@whedon check references

[2020-06-08 10:52] whedon commented on #2202
[code]

[2020-06-08 11:08] marcosvital commented on #2202
Hi, @davidtourigny , as you can see above, the DOIs should be inserted without the 'https://doi.org/'. Just omit that, and they should be recognized correctly.

[2020-06-08 11:16] marcosvital commented on #2222
Hi, @kyleniemeyer! Yes, I can handle shit submission.

[2020-06-08 11:16] marcosvital commented on #2222
@whedon assign @marcosvital as editor

[2020-06-08 11:16] whedon commented on #2222
OK, the editor is @marcosvital

[2020-06-08 11:21] arfon commented on #2299
@rajeshrinet - also, it would be very helpful if you could truncate your BibTeX file to only include the actual papers/entities that you're citing in the JOSS paper.

[2020-06-08 11:22] arfon commented on #1865
We can, but we have to handle this manually. Let me know if this is needed here.

[2020-06-08 11:24] arfon commented on #2248
@whedon assign @pdebuyl as editor

[2020-06-08 11:24] whedon commented on #2248
OK, the editor is @pdebuyl

[2020-06-08 11:25] marcosvital commented on #2222
Hi, @nhejazi, I will be the editor of your submission.

I agree with @kyleniemeyer comment, as [JOSS documentation](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) states that:

At the same time you work on that, we can start assigning reviewers for you submission. We usually ask the authors for suggestions, so let me know if you have anyone in mind that could do thi

[2020-06-08 11:26] arfon commented on #2222
@marcosvital - please remove the `waitlisted` label when you get a chance too (as you're now actively editing this).

[2020-06-08 11:27] hugoledoux commented on #2244
@whedon add @steflhermitte as reviewer

[2020-06-08 11:27] whedon commented on #2244
OK, @steflhermitte is now a reviewer

[2020-06-08 11:27] hugoledoux commented on #2244
@whedon start review

[2020-06-08 11:27] whedon opened #2305 "[REVIEW]: geemap: A Python package for interactive mapping with Google Earth Engine"
**Submitting author:** @giswqs (<a href="http://orcid.org/0000-0001-5437-4073">Qiusheng Wu</a>)
**Repository:** <a href="https://github.com/giswqs/geemap" target ="_blank">https://github.com/giswqs/geemap</a>
**Version:** v0.7.6
**Editor:** @hugoledoux
**Reviewer:** @fbiljecki, @steflhermitte
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.12608834.v1" target="_blank">10.6084/m9.figshare

[2020-06-08 11:27] whedon commented on #2244
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2305.

[2020-06-08 11:27] #2244 closed

[2020-06-08 11:27] whedon commented on #2305
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fbiljecki, @steflhermitte it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2020-06-08 11:28] whedon commented on #2305
[code]

[2020-06-08 11:30] hugoledoux commented on #2305
👋🏼 @fbiljecki @steflhermitte this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other

[2020-06-08 11:33] rajeshrinet commented on #2299
@arfon I have now removed all the remaining entries from bib which were not cited in JOSS paper.

@whedon generate pdf

[2020-06-08 11:35] rajeshrinet commented on #2299
@whedon generate pdf

[2020-06-08 11:35] whedon commented on #2299
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02299/joss.02299/10.21105.joss.02299.pdf)

[2020-06-08 11:36] harpolea commented on #2243
@kyleniemeyer I'd be happy to edit this!

[2020-06-08 11:36] harpolea commented on #2243
@whedon assign @harpolea as editor

[2020-06-08 11:36] whedon commented on #2243
OK, the editor is @harpolea

[2020-06-08 11:44] harpolea commented on #2243
Hi @profxj, thanks for your patience in getting this review started!

Do you have any suggestions for potential reviewers? This [list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2020-06-08 11:46] harpolea commented on #2299
@kyleniemeyer I'd be happy to edit this one as well!

[2020-06-08 11:46] harpolea commented on #2299
@whedon assign @harpolea as editor

[2020-06-08 11:46] whedon commented on #2299
OK, the editor is @harpolea

[2020-06-08 11:53] harpolea commented on #2299
Hi @rajeshrinet - thanks for the reviewer suggestions! I shall reach out to them now

[2020-06-08 12:01] mikldk commented on #2233
@whedon assign @markhwhiteii as reviewer

[2020-06-08 12:01] whedon commented on #2233
OK, @markhwhiteii is now a reviewer

[2020-06-08 12:02] mikldk commented on #2233
@whedon add @mmrabe as reviewer

[2020-06-08 12:02] whedon commented on #2233
OK, @mmrabe is now a reviewer

[2020-06-08 12:02] mikldk commented on #2233
@markhwhiteii, @mmrabe: Thank you very much for agreeing to review. I will init the review issue now.

[2020-06-08 12:02] mikldk commented on #2233
@whedon start review

[2020-06-08 12:02] whedon opened #2306 "[REVIEW]: Methods and Algorithms for Correlation Analysis in R"
**Submitting author:** @DominiqueMakowski (<a href="http://orcid.org/0000-0001-5375-9967">Dominique Makowski</a>)
**Repository:** <a href="https://github.com/easystats/correlation" target ="_blank">https://github.com/easystats/correlation</a>
**Version:** v0.3.0
**Editor:** @mikldk
**Reviewer:** @markhwhiteii, @mmrabe
**Archive:** <a href="https://doi.org/10.5281/zenodo.3943771" target="_blank">10

[2020-06-08 12:02] whedon commented on #2233
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2306.

[2020-06-08 12:02] #2233 closed

[2020-06-08 12:03] whedon commented on #2306
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @markhwhiteii, @mmrabe it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-06-08 12:03] whedon commented on #2306
[code]

[2020-06-08 12:03] whedon commented on #2306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02306/joss.02306/10.21105.joss.02306.pdf)

[2020-06-08 12:09] vsoch commented on #2284
@khinsen Im sorry that you don’t appreciate my library, it’s a general tool for reproducible generation of grids and I know that there is quite a bit of documentation, I’d be happy to address that list of points that you mention. I see this as a pretty good high level overview:

https://vsoch.github.io/gridtest/gridtest/

And this too:

https://vsoch.github.io/gridtest/gridtest/getting-started/

a

[2020-06-08 12:10] mikldk commented on #2306
@DominiqueMakowski: Thank you for the submission. I have now started the review.

@markhwhiteii, @mmrabe: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-refere

[2020-06-08 12:11] pdebuyl commented on #2248
@mdavezac would you review the article "Excimontec v1.0: An Open-Source Software Tool for Kinetic Monte Carlo Simulations of Organic Electronic Devices" for the Journal of Open Source Software?

[2020-06-08 12:15] fortinma commented on #2177
hi @anmolter , i just tried it without the S.A. extension and it worked like a charm once I ran the buildLUR tool.
![image](https://user-images.githubusercontent.com/1124016/84029308-29b67780-a960-11ea-8c61-52a84f3dbf97.png)

[2020-06-08 12:37] rajeshrinet commented on #2299
Hi @harpolea - thanks very much!

[2020-06-08 12:37] shirubana commented on #1865
@whedon generate pdf

[2020-06-08 12:38] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2020-06-08 12:38] shirubana commented on #1865
@arfon that would be very appreciated. Right now the last name reads "Pelaez" instead of "Ayala Pelaez" on the footer :)

[2020-06-08 12:47] arfon commented on #1865
Sure thing. I'll fix this once the paper is accepted as it's a manual process.

[2020-06-08 12:50] profxj commented on #2243
Of the ones that have listed Astronomy, I suggest:

ygrange
benjaminrose
steven-murray
github.com/Gabriel-p  -- Seems the best choice
astrom-tom  -- also very good
mwcraig
zpace

On Mon, Jun 8, 2020 at 4:44 AM Alice Harpole <notifications@github.com>
wrote:

--
--
----------------------------------------------
J. Xavier Prochaska
UCO/Lick Observatory
1156 High St.
UC Santa Cruz
Santa Cruz, CA 9506

[2020-06-08 12:55] mdavezac commented on #2248
@pdebuyl, I'll will be a bit slow in reviewing because of other commitments. If that's okay, then I'm happy to take it on.

[2020-06-08 12:57] drvinceknight commented on #2152
@koenderks I'm struggling to find reviewers for this, I have made some offline queries as well as the ones you see here. I'll continue to do that but if you had any suggestions for reviewers (including from this [list of potential reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing)) please let me know.

[2020-06-08 12:58] MariaTsantaki commented on #2048
Thank you! This is the zenado doi: 10.5281/zenodo.3885291

[2020-06-08 13:31] xuanxu commented on #2048
👌 Thanks @MariaTsantaki!

[2020-06-08 13:31] xuanxu commented on #2048
@whedon set 10.5281/zenodo.3885291 as archive

[2020-06-08 13:31] whedon commented on #2048
OK. <a href="https://doi.org/10.5281/zenodo.3885291" target="_blank">10.5281/zenodo.3885291</a> is the archive.

[2020-06-08 13:31] KristinaRiemer commented on #2247
@kyleniemeyer I can take this on. Can I assign myself as editor, or is that something you have to do?

[2020-06-08 13:33] xuanxu commented on #2048
@whedon accept

[2020-06-08 13:33] whedon commented on #2048
[code]

[2020-06-08 13:33] whedon commented on #2048
[code]

[2020-06-08 13:33] elena-pascal commented on #2248
@pdebuyl sorry my C++ is not good enough to review this.

[2020-06-08 13:35] whedon commented on #2048
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1469

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1469, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-08 13:39] danielskatz commented on #2247
You can assign yourself, either by
```@whedon assign @KristinaRiemer as editor```
or
```@whedon assign me as editor```

After you do this, remove the waitlisted label.

[2020-06-08 13:39] KristinaRiemer commented on #2247
@whedon assign me as editor

[2020-06-08 13:40] whedon commented on #2247
OK, the editor is @KristinaRiemer

[2020-06-08 13:45] harpolea commented on #2243
:wave: @Gabriel-p & @astrom-tom, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-06-08 13:54] davidtourigny commented on #2202
@whedon check references

[2020-06-08 13:54] whedon commented on #2202
[code]

[2020-06-08 13:54] harpolea commented on #2299
@whedon assign @fcooper8472 as reviewer

[2020-06-08 13:54] whedon commented on #2299
OK, @fcooper8472 is now a reviewer

[2020-06-08 13:55] Gabriel-p commented on #2243
@harpolea sure, happy to help

[2020-06-08 13:56] harpolea commented on #2243
@Gabriel-p Great, thank you!

[2020-06-08 13:56] harpolea commented on #2243
@whedon assign @Gabriel-p as reviewer

[2020-06-08 13:57] whedon commented on #2243
OK, @Gabriel-p is now a reviewer

[2020-06-08 13:58] davidtourigny commented on #2202
@whedon check references

[2020-06-08 13:58] whedon commented on #2202
[code]

[2020-06-08 13:59] davidtourigny commented on #2202
@whedon generate pdf

[2020-06-08 14:00] whedon commented on #2202
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02202/joss.02202/10.21105.joss.02202.pdf)

[2020-06-08 14:00] Ohjeah commented on #2290
- Could you add the statement of need to the online documentation as well?
- Please expand the installtion guide:
  - What versions of the thirdparty dependencies are required?
  - Did you look into an automated package management solution for the c++ version?
  - Why is the PyPI version deprecated? If it's not coming back, please remove the outdated batch from the README.
  - Please add documenta

[2020-06-08 14:15] profxj commented on #2243
Great!

X

On Mon, Jun 8, 2020 at 6:57 AM whedon <notifications@github.com> wrote:

--
--
----------------------------------------------
J. Xavier Prochaska
UCO/Lick Observatory
1156 High St.
UC Santa Cruz
Santa Cruz, CA 95064

Affiliate of IPMU
Affiliate of LBNL

http://www.ucolick.org/~xavier/
https://aaii.ucsc.edu/
http://www.ucolick.org/f-4 <https://www.ucolick.org/f-4>

831-459-2135 (Direct)

[2020-06-08 15:08] arfon commented on #2237
@whedon check repository

[2020-06-08 15:08] whedon commented on #2237
[code]

[2020-06-08 15:10] kbarnhart commented on #1969
I wanted to check in here again. Its hard for me to identify whether the authors are still working on addressing reviewer comments on the review issues or if they are in a state where reviewers @brendonhall and @JesperDramsch should revisit their reviews. @rgmyr could you give me a quick update.

Thanks!

[2020-06-08 15:13] arfon commented on #2245
@whedon assign me as editor

[2020-06-08 15:13] whedon commented on #2245
OK, the editor is @arfon

[2020-06-08 15:15] arfon commented on #2245
:wave: @spectralcode - thanks for your submission to JOSS. I'll be your editor for this submission. A couple of items I could do with your help with:

- Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?
- The paper as currently written is rather long compared to our guidelines

[2020-06-08 15:22] hugoledoux commented on #2177
@whedon generate pdf

[2020-06-08 15:23] whedon commented on #2177
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02177/joss.02177/10.21105.joss.02177.pdf)

[2020-06-08 15:23] hugoledoux commented on #2177
@whedon check references

[2020-06-08 15:24] whedon commented on #2177
[code]

[2020-06-08 15:28] hugoledoux commented on #2177
🎉

One last thing needs to be done @anmolter : you need to fix the 2 DOIs as pointed just above. You need to remove the `http://dx.doi.org/` from the "DOI" fields for 2 references in your BIB, and I guess generate a new version (or erase 1.0.0 put that one, it's possible I reckon).

[2020-06-08 15:41] richardjgowers commented on #2267
@whedon add @rmeli as a reviewer

[2020-06-08 15:41] whedon commented on #2267
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-08 15:42] oliviaguest commented on #2254
Sure — with the same proviso as before! 😊

[2020-06-08 15:43] richardjgowers commented on #2267
@whedon add @rmeli as reviewer

[2020-06-08 15:43] whedon commented on #2267
OK, @rmeli is now a reviewer

[2020-06-08 15:46] oliviaguest commented on #2254
Hi 👋  @Visdoom — could you give me some names for reviewers, please, as this is quite far outside my areas of expertise and so I'd appreciate help to find some people. 😁

[2020-06-08 15:53] cadop commented on #2211
@trallard  is there anything I should do next?

[2020-06-08 15:54] alcantarar commented on #2211
Sorry @trallard , I can't commit to reviewing this submission.

[2020-06-08 16:07] astrom-tom commented on #2243
Hi @harpolea , it is gonna be difficult for me this week but I can try next week if needed. Let me know!

[2020-06-08 16:09] oliviaguest commented on #2201
@teamPSG I have tried your suggestions and sadly none of them have replied. I'm struggling a bit and have contacted over 10 people. If you have any more suggestions that would definitely help hurry this along.

[2020-06-08 16:09] pstjohn commented on #2202
I'm willing to be a reviewer as well. Thanks!

[2020-06-08 16:18] anmolter commented on #2177
@whedon check references

[2020-06-08 16:18] whedon commented on #2177
[code]

[2020-06-08 16:21] pdebuyl commented on #2248
@whedon assign @liangtianumich as reviewer

[2020-06-08 16:21] whedon commented on #2248
OK, @liangtianumich is now a reviewer

[2020-06-08 16:21] pdebuyl commented on #2248
@whedon assign @mdavezac as reviewer

[2020-06-08 16:21] whedon commented on #2248
OK, @mdavezac is now a reviewer

[2020-06-08 16:22] uellue commented on #2006
@whedon generate PDF

[2020-06-08 16:22] pdebuyl commented on #2248
@mdavezac thank you, we are still recovering from our pause so this should be ok

[2020-06-08 16:23] pdebuyl commented on #2248
@elena-pascal thank you for the quick reply!

[2020-06-08 16:23] whedon commented on #2006
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02006/joss.02006/10.21105.joss.02006.pdf)

[2020-06-08 16:24] oliviaguest commented on #2285
@samhforbes Just to keep this under control as there are a lot of issues on the code repo, can you close (button at the bottom) these, presuming they are addressed, please? And of course any others that are dealt with. 😊

* https://github.com/samhforbes/PupillometryR/issues/14
* https://github.com/samhforbes/PupillometryR/issues/11
* https://github.com/samhforbes/PupillometryR/issues/13
* https://

[2020-06-08 16:24] pdebuyl commented on #2248
@whedon start review

[2020-06-08 16:24] whedon opened #2307 "[REVIEW]: Excimontec v1.0: An Open-Source Software Tool for Kinetic Monte Carlo Simulations of Organic Electronic Devices"
**Submitting author:** @MikeHeiber (<a href="http://orcid.org/0000-0002-1567-5663">Michael Heiber</a>)
**Repository:** <a href="https://github.com/MikeHeiber/Excimontec" target ="_blank">https://github.com/MikeHeiber/Excimontec</a>
**Version:** v1.0.0
**Editor:** @pdebuyl
**Reviewers:** @mdavezac, @Luthaf
**Archive:** <a href="https://doi.org/10.5281/zenodo.4008122" target="_blank">10.5281/zenodo.

[2020-06-08 16:24] whedon commented on #2248
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2307.

[2020-06-08 16:24] #2248 closed

[2020-06-08 16:24] whedon commented on #2307
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mdavezac it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2020-06-08 16:24] whedon commented on #2307
[code]

[2020-06-08 16:25] whedon commented on #2307
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02307/joss.02307/10.21105.joss.02307.pdf)

[2020-06-08 16:33] anmolter commented on #2177
@hugoledoux Do you mean generate a new release? Will that mess with the Zenodo link?

[2020-06-08 16:38] harpolea commented on #2299
Hi @rajeshrinet, it's come to my attention that a paper on this library has already been submitted to arXiv (https://arxiv.org/abs/1910.00909). Has this paper been accepted by another journal? If so, then I'm afraid we may not be able to accept this submission as it would involve a significant amount of overlap and duplication with an existing publication.

[2020-06-08 16:39] kyleniemeyer commented on #2254
@whedon assign @oliviaguest as editor

[2020-06-08 16:39] whedon commented on #2254
OK, the editor is @oliviaguest

[2020-06-08 16:47] rajeshrinet commented on #2299
Hi @harpolea,

No https://arxiv.org/abs/1910.00909 has not been accepted (or under consideration) for publication elsewhere. In fact, our submission to JOSS is based on https://arxiv.org/abs/1910.00909 and has been reduced in size to match the word limit. We cite it in the submission as it contains more details. I hope that it okay?

[2020-06-08 16:54] teamPSG commented on #2201
Hi @oliviaguest! Previously (like 5+ years ago) I was working with Brian Harvey (brian.harvey@biogen.com) and Liam Scott (liamscott26.2@gmail.com) and we did automated sleep scoring together so they have the expertise to review this software. However, previously we published together so we are not entirely independent. I asked coauthors too, will be back with more names if I receive suggestions. T

[2020-06-08 16:55] samuelduchesne commented on #1833
Hi @kyleniemeyer, thanks for the feedback. Paper updated with https://github.com/samuelduchesne/archetypal/commit/e9232f26c83247249b7d12d228e53480bcf4cf19 and following DOI for zenodo files: [10.5281/zenodo.3885587](10.5281/zenodo.3885587)

[2020-06-08 16:55] kyleniemeyer commented on #1865
@whedon accept

[2020-06-08 16:55] whedon commented on #1865
[code]

[2020-06-08 16:55] whedon commented on #1865
[code]

[2020-06-08 16:55] whedon commented on #1865
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1470

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1470, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-08 16:55] harpolea commented on #2243
Hi @astrom-tom, we aim for reviews to be completed within 2-4 weeks, so as long as you feel that you can complete your review within that time, that should be ok!

[2020-06-08 16:56] kyleniemeyer commented on #1833
@whedon generate pdf

[2020-06-08 16:57] whedon commented on #1833
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01833/joss.01833/10.21105.joss.01833.pdf)

[2020-06-08 16:58] samhforbes commented on #2285
Yes, tidied up now!

[2020-06-08 16:59] kyleniemeyer commented on #2299
@harpolea @rajeshrinet this seems fine to me. @harpolea is right that it would not be appropriate to have an equivalent software paper under review (or published) at a different journal, but a preprint, whether extended or not, is fine.

I think citing the arXiv eprint in this article as a sort of extended documentation/additional examples is a good idea.

[2020-06-08 17:00] kyleniemeyer commented on #1833
@whedon set 10.5281/zenodo.3885587 as archive

[2020-06-08 17:00] whedon commented on #1833
OK. <a href="https://doi.org/10.5281/zenodo.3885587" target="_blank">10.5281/zenodo.3885587</a> is the archive.

[2020-06-08 17:01] kyleniemeyer commented on #1833
@whedon accept

[2020-06-08 17:01] whedon commented on #1833
[code]

[2020-06-08 17:02] whedon commented on #1833
[code]

[2020-06-08 17:02] whedon commented on #1833
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1471

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1471, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-08 17:03] kyleniemeyer commented on #1833
@whedon accept deposit=true

[2020-06-08 17:03] whedon commented on #1833
[code]

[2020-06-08 17:04] whedon commented on #1833
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1270039033050267654) 👈 🐦🐦🐦

[2020-06-08 17:04] whedon commented on #1833
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1472
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01833](https://doi.org/10.21105/joss.01833)
2. If everything looks g

[2020-06-08 17:05] arfon commented on #2248
Heads up @pdebuyl, `assign` clobbers existing reviewer assignments which means you actually only have a single reviewer assigned now on #2307.

If you do `@whedon add @liangtianumich as reviewer` in #2307, you will then have to edit the issue at the top of #2307 to manually add a checklist for @ liangtianumich to work through.

[2020-06-08 17:05] astrom-tom commented on #2243
Ok @harpolea , Then i'll be happy to do it!

[2020-06-08 17:06] samuelduchesne commented on #1833
🎉🎉🎉!

[2020-06-08 17:08] harpolea commented on #2243
@astrom-tom great, thank you!

[2020-06-08 17:09] harpolea commented on #2243
@whedon add @astrom-tom as reviewer

[2020-06-08 17:09] diehlpk commented on #2280
@mdpiper thanks for the corrections. Could you recommend some potential reviewers?

[2020-06-08 17:09] whedon commented on #2243
OK, @astrom-tom is now a reviewer

[2020-06-08 17:10] harpolea commented on #2243
@whedon start review

[2020-06-08 17:10] whedon opened #2308 "[REVIEW]: PypeIt: The Python Spectroscopic Data Reduction Pipeline"
**Submitting author:** @profxj (<a href="http://orcid.org/0000-0002-7738-6875">J. Xavier Prochaska</a>)
**Repository:** <a href="https://github.com/pypeit/PypeIt" target ="_blank">https://github.com/pypeit/PypeIt</a>
**Version:** v1.3
**Editor:** @dfm
**Reviewer:** @Gabriel-p, @astrom-tom
**Archive:** <a href="https://doi.org/10.5281/zenodo.4323006" target="_blank">10.5281/zenodo.4323006</a>

**:w

[2020-06-08 17:10] whedon commented on #2243
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2308.

[2020-06-08 17:10] #2243 closed

[2020-06-08 17:10] whedon commented on #2308
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Gabriel-p, @astrom-tom it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-06-08 17:10] whedon commented on #2308
PDF failed to compile for issue #2308 with the following error:

 Can't find any papers to compile :-(

[2020-06-08 17:10] kyleniemeyer commented on #1833
Congrats @samuelduchesne on your article's publication in JOSS!

Many thanks to @brynpickering and @ThibaultMarzullo for reviewing this submission.

[2020-06-08 17:10] #1833 closed

[2020-06-08 17:10] whedon commented on #1833
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01833/status.svg)](https://doi.org/10.21105/joss.01833)

**We need your help!**

Journal of Open Source Softwa

[2020-06-08 17:12] harpolea commented on #2308
@whedon generate pdf from branch joss-paper-branch

[2020-06-08 17:12] whedon commented on #2308
[code]

[2020-06-08 17:13] whedon commented on #2308
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02308/joss.02308/10.21105.joss.02308.pdf)

[2020-06-08 17:18] kbarnhart commented on #2197
@Xunius I wanted to follow up with some recommendations regarding the sample data based on discussing this with the rest of the JOSS editorial team.

We would recommend that you place the sample data in a public archive (e.g., zenodo, figshare) and then provide instructions for users to obtain the data (e.g., use wget/curl in the notebook).

I would also recommend indicating a link to the data arc

[2020-06-08 17:18] kyleniemeyer commented on #1833
@samuelduchesne FYI, it looks like the PDF isn't yet showing up on the journal—that should just be a temporary issue

[2020-06-08 17:20] rajeshrinet commented on #2299
@whedon generate pdf

[2020-06-08 17:20] whedon commented on #2299
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02299/joss.02299/10.21105.joss.02299.pdf)

[2020-06-08 17:23] danielskatz commented on #1833
It's there for me

[2020-06-08 17:24] kyleniemeyer commented on #1865
Hi @shirubana sorry, looks like I missed a few issues in the references:

- remove the "https://doi.org/" from the DOI for the Holmgren 2018 reference
- remove the extraneous `\url{...}` from the Deline 2017 reference, since the DOI link is in another place
- The Anoma 2017 paper is missing the DOI
- The Deline 2019b reference should include the journal and DOI (it looks to be in press now)
- it l

[2020-06-08 17:25] samuelduchesne commented on #1833
Same here. Thank you everyone!

[2020-06-08 17:29] samuelduchesne commented on #1833
I signed up to become a reviewer 😃

[2020-06-08 17:31] kbarnhart commented on #2231
@whedon check repository

[2020-06-08 17:32] whedon commented on #2231
[code]

[2020-06-08 17:35] kyleniemeyer commented on #2303
👋 @samharrison7 - Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS we've had > 60 papers submitted and as such, yours has been put in our backlog that we will be working through over the coming weeks and month

[2020-06-08 17:57] kyleniemeyer commented on #2048
Hi @MariaTsantaki, we are about ready to wrap this up, but in my review of the article I encountered some minor issues. Could you address these and let us know when you have done so?

- missing comma after "i.e." in the first and fourth paragraphs
- missing comma after the "e.g."s in the second paragraph
- Fortran should be capitalized
- the Tsantaki et al. 2018 citation should probably be changed

[2020-06-08 17:58] 62442katieb commented on #2188
Hi @Kevin-Mattheus-Moerman, I'd be happy to review.

[2020-06-08 18:00] kbarnhart commented on #2231
@AndresPenuela thank you for submitting iRONS to JOSS. It looks like a valuable contribution to water resources. One of the first things that happens in a JOSS submission is that the handling editor (me) does an initial check of the submission. I have a couple of clarifying questions as part of this stage of the JOSS process.

1) I'm having a hard time finding the documentation for the functions p

[2020-06-08 18:02] mdpiper commented on #2280
@diehlpk I'd like to suggest @Teuben and @yangbai90 as reviewers; both are familiar with C, C++, Fortran, and Python.

[2020-06-08 18:07] teuben commented on #2280
funny you say.   If I do accept (i might, although this is not my field, and this would be my first online review), I ran into this article today, which it now on my reading shelf:

https://abompard.wordpress.com/2020/06/07/reviews-are-hard/

[2020-06-08 18:21] meg-simula commented on #2301
@whedon assign @meg-simula as editor

[2020-06-08 18:21] whedon commented on #2301
OK, the editor is @meg-simula

[2020-06-08 18:22] teuben commented on #2280
@mdpiper when i read the abstract, the amuse project in astropysics came to mind. have you heard of this before?   https://ascl.net/1107.007 has a reference. Comining legacy (and new) codes via a python hub.

[2020-06-08 18:26] mikerspencer commented on #2282
@danielskatz to be clear - @aj2duncan and I work together a little. Reviewers working together isn't specifically mentioned in the conflict of interest, but I feel it's best to be transparent.

[2020-06-08 18:27] meg-simula commented on #2195
Great, thanks @peanutfun. This looks very much ready for review. I'll reach out to reviewers and get back to you.

[2020-06-08 18:31] meg-simula commented on #2195
@rreinecke, @mikaem, @gassmoeller, @dvalters, @pratikvn @: Would you like to review this submission for JOSS? Feel free to take a look at our reviewer guidelines here:

https://joss.readthedocs.io/en/latest/reviewer_guidelines.html .

[2020-06-08 18:34] uellue commented on #2006
Ok, looks good now.

[2020-06-08 18:37] danielskatz commented on #2282
Thanks for letting me know. This isn't 100% ideal, but given that you both likely have different backgrounds and experiences, and we're focusing on a checklist-driven process, it should be ok. Let's see how it goes.

[2020-06-08 18:37] nhejazi commented on #2222
Thank you for taking a look through the paper, @marcosvital --- I'll begin the process of editing it to include a high-level summary shortly. Also, thanks for the reminder, taggin @benkeser since this was joint work.

In the meantime, from a quick look through the list of potential reviewers, I think @Tgerke, @kellieotto, @mariacuellar would all make excellent reviewers given their experience with

[2020-06-08 18:45] bmcfee commented on #2223
Thanks @jeffcsauer, however it now appears that these packages are not using a standard OSS license?  The README says "MIT", but the full text of the license should be included in the repository/ies (as per [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html)).

[2020-06-08 18:46] diehlpk commented on #2280
Hi Peter (@teuben), would you be interested to serve as a reviewer?

[2020-06-08 18:47] mdpiper commented on #2280
@teuben I hadn't seen AMUSE before, but from the examples, it looks similar to what we in the earth surface processes community are doing with [pymt](https://pymt.readthedocs.io/en/latest/). Neat! Thanks for the reference!

[2020-06-08 18:49] teuben commented on #2280
and there is another group (in amsterdam?) that has cloned amuse for their field (hydrology?). i remember looking at their link, but they are not as active as amuse it (which still is very active).

[2020-06-08 18:49] marcosvital commented on #2222
Dear  @tgerke, @kellieotto and @mariacuellar

Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review, once there are enough reviewers, we will move on to a new issue where the review will take place.

If you are not ab

[2020-06-08 18:50] marcosvital commented on #2202
Thank you very much @pstjohn, we will let you know when we start the reviewing process.

[2020-06-08 18:58] mariacuellar commented on #2222
Dear Marcos,

I am not currently available to review this due to having no childcare
during the pandemic. I appreciate the consideration.

All the best,
Maria

On Mon, Jun 8, 2020 at 2:49 PM Marcos Vital (LEQ-UFAL) <
notifications@github.com> wrote:

--
Maria Cuellar, PhD
Assistant Professor
Criminology Department
University of Pennsylvania
http://web.sas.upenn.edu/mcuellar/

[2020-06-08 19:28] shirubana commented on #1865
@whedon generate pdf

[2020-06-08 19:29] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2020-06-08 19:31] kyleniemeyer commented on #1865
@shirubana looks good, thanks!

[2020-06-08 19:31] kyleniemeyer commented on #1865
@whedon accept

[2020-06-08 19:31] whedon commented on #1865
[code]

[2020-06-08 19:31] whedon commented on #1865
[code]

[2020-06-08 19:32] whedon commented on #1865
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1473

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1473, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-08 19:35] diehlpk commented on #2280
Hi @yangbai90, would you be interested to review this paper?

[2020-06-08 19:37] kyleniemeyer commented on #1865
Hey @arfon, this is now ready to publish—do you handle the name fix before or after the final step?

[2020-06-08 19:39] jeffcsauer commented on #2223
@bmcfee thanks for pointing this out! I spoke again with the co-author and confirmed the MIT + file LICENSE is the appropriate template. I updated the [arcos_arcospy_information ](https://github.com/jeffcsauer/arcos_arcospy_information/blob/master/LICENSE) LICENSE file to avoid confusion. Could you confirm this is now conforms to submission guidelines?

[2020-06-08 19:39] shirubana commented on #1865
hold on need to push two more small reference updates! trying to add a DOI for a poster 2 mins

[2020-06-08 19:40] kaashif commented on #1835
Sure, should be done now. Sorry, this is my first time putting something on Zenodo :)

[2020-06-08 19:40] shirubana commented on #1865
ok now we're good :)

[2020-06-08 19:41] shirubana commented on #1865
@whedon generate pdf

[2020-06-08 19:41] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2020-06-08 19:43] shirubana commented on #1865
I liked.... hmmm one of the titles disapeared.

[2020-06-08 19:45] shirubana commented on #1865
@whedon generate pdf

[2020-06-08 19:46] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2020-06-08 19:52] shirubana commented on #1865
@whedon generate pdf

[2020-06-08 19:53] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2020-06-08 19:54] shirubana commented on #1865
@kyleniemeyer ok I'm good , all references have DOI if they have them now.

[2020-06-08 20:01] karthik commented on #2181
@bstewart Can you please update us on the status of your review? Can you also let us know if you are unable to complete your review?

[2020-06-08 20:05] karthik commented on #2019
Sent reminders today. If I don't get a second reviewer I'll just do it myself.

[2020-06-08 20:11] lskatz commented on #2221
Thank you @lpantano! Please let me know if there is anything else we can do to facilitate the peer review process.

Two more potential reviewers came to mind and so I just wanted to add onto my earlier comment.

[2020-06-08 20:21] kyleniemeyer commented on #1865
@whedon accept

[2020-06-08 20:21] whedon commented on #1865
[code]

[2020-06-08 20:21] whedon commented on #1865
[code]

[2020-06-08 20:21] whedon commented on #1865
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1474

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1474, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-08 21:02] kyleniemeyer commented on #1865
@whedon accept deposit=true

[2020-06-08 21:02] whedon commented on #1865
[code]

[2020-06-08 21:05] whedon commented on #1865
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1270099720795496448) 👈 🐦🐦🐦

[2020-06-08 21:05] whedon commented on #1865
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1475
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01865](https://doi.org/10.21105/joss.01865)
2. If everything looks g

[2020-06-08 21:08] kyleniemeyer commented on #1865
Hey @arfon, this is now ready for the name fix, both in the paper footer and the citation on the landing page.

[2020-06-08 21:09] kyleniemeyer commented on #1865
Congrats @shirubana on your article's publication in JOSS!

Many thanks to @wholmgren, @dalonsoa, and @usethedata for reviewing this, and @melissawm for editing.

[2020-06-08 21:10] whedon opened #2309 "[PRE REVIEW]: pyrolite: Python for geochemistry"
**Submitting author:** @morganjwilliams (<a href="http://orcid.org/0000-0003-4764-9555">Morgan Williams</a>)
**Repository:** <a href="https://github.com/morganjwilliams/pyrolite" target ="_blank">https://github.com/morganjwilliams/pyrolite</a>
**Version:** 0.2.7
**Editor:** @arfon
**Reviewers:** @arfon
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2020-06-08 21:10] whedon commented on #2309
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-08 21:10] whedon commented on #2309
PDF failed to compile for issue #2309 with the following error:

 Can't find any papers to compile :-(

[2020-06-08 21:10] arfon commented on #2309
@whedon generate pdf

[2020-06-08 21:10] whedon commented on #2309
[code]

[2020-06-08 21:11] arfon commented on #2309
@morganjwilliams - will this submission eventually be part of the pyOpenSci GitHub organization? If so, it might be worth waiting until that last step is complete before processing this paper so that the URLs to the software are correct?

[2020-06-08 21:12] whedon commented on #2309
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02309/joss.02309/10.21105.joss.02309.pdf)

[2020-06-08 21:32] arfon commented on #2309
@whedon assign me as editor

[2020-06-08 21:32] whedon commented on #2309
OK, the editor is @arfon

[2020-06-08 21:33] whedon opened #2310 "[PRE REVIEW]: A parallel global multiobjective framework for optimization: pagmo"
**Submitting author:** @bluescarni (<a href="http://orcid.org/0000-0002-3491-1828">Francesco Biscani</a>)
**Repository:** <a href="https://github.com/esa/pagmo2-paper" target ="_blank">https://github.com/esa/pagmo2-paper</a>
**Version:** v2.15.0
**Editor:** @eloisabentivegna
**Reviewers:** @dgoldri25, @jangmys
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to

[2020-06-08 21:33] whedon commented on #2310
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-08 21:33] whedon opened #2311 "[PRE REVIEW]: pyBEMT: An implementation of the Blade Element Momentum Theory in Python"
**Submitting author:** @kegiljarhus (<a href="http://orcid.org/0000-0002-4144-0454">Knut Erik Teigen Giljarhus</a>)
**Repository:** <a href="https://github.com/kegiljarhus/pyBEMT" target ="_blank">https://github.com/kegiljarhus/pyBEMT</a>
**Version:** v0.1.0
**Editor:** @sjpfenninger
**Reviewers:** @rafmudaf, @antviro
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2020-06-08 21:33] whedon commented on #2311
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-08 21:33] whedon opened #2312 "[PRE REVIEW]: Tools21cm: A python package to analyse the large-scale 21 cm signal from the Epoch of Reionization and Cosmic Dawn"
**Submitting author:** @sambit-giri (<a href="http://orcid.org/0000-0002-2560-536X">Sambit Kumar Giri</a>)
**Repository:** <a href="https://github.com/sambit-giri/tools21cm" target ="_blank">https://github.com/sambit-giri/tools21cm</a>
**Version:** v2.1
**Editor:** @pibion
**Reviewers:** @nicholebarry, @aureliocarnero
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2020-06-08 21:33] whedon commented on #2312
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-08 21:33] whedon commented on #2311
[code]

[2020-06-08 21:33] whedon commented on #2310
[code]

[2020-06-08 21:33] whedon commented on #2310
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02310/joss.02310/10.21105.joss.02310.pdf)

[2020-06-08 21:33] whedon commented on #2311
[code]

[2020-06-08 21:34] whedon commented on #2312
[code]

[2020-06-08 21:34] whedon commented on #2312
PDF failed to compile for issue #2312 with the following error:

 Can't find any papers to compile :-(

[2020-06-08 21:34] arfon commented on #2312
:wave: @sambit-giri - thanks for your submission to JOSS. Can you tell me if this submission accompanies a paper in a AAS journal?

[2020-06-08 21:34] whedon commented on #2311
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02311/joss.02311/10.21105.joss.02311.pdf)

[2020-06-08 21:35] arfon commented on #2312
Also, from what I can find, there's no `paper.md` (or other JOSS-related materials) in this repository. Please familiarize yourself with our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html) and let us know when you've added your paper.

[2020-06-08 21:38] arfon commented on #2310
:wave: @bluescarni - thanks for your submission to JOSS. Could you please explain where the software is associated with this submission? We prefer the JOSS paper to be housed together with the software if at all possible.

Additionally, as described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service

[2020-06-08 21:41] arfon commented on #2311
@whedon invite @sjpfenninger as editor

:wave: @sjpfenninger - I realize you're only somewhat able to edit right now but this looks like it's very much in your area. I'll list this as `waitlisted` but if you have the bandwidth, feel free to grab it.

[2020-06-08 21:41] whedon commented on #2311
@sjpfenninger has been invited to edit this submission.

[2020-06-08 21:42] arfon commented on #2311
:wave: @kegiljarhus - thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier a week or so ago we've had > 70 papers submitted and as such, yours has been

[2020-06-08 21:47] teamPSG commented on #2201
@whedon generate pdf

[2020-06-08 21:48] whedon commented on #2201
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02201/joss.02201/10.21105.joss.02201.pdf)

[2020-06-08 21:51] lpantano commented on #2170
Hi  @HajkD, let me know when the issues are addressed and closed so I can move forward with the acceptance :)

[2020-06-08 21:53] lpantano commented on #2221
@whedon invite @tseemann as reviewer

[2020-06-08 21:53] whedon commented on #2221
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-08 21:54] lpantano commented on #2221
Sorry, I keep doing this when is not possible.
@tseemann, would you like to review this tool?

[2020-06-08 21:56] teamPSG commented on #2201
@oliviaguest I have received suggestions for potential reviewers from one of my coauthors. I hope one of them will take on the review. Please try these contacts: Jack Allocca, Ph.D., Univ Melbourne <giancarlo.allocca@gmail.com>; Giovanna Zoccoli, M.D., Ph.D., Univ Bologna <giovanna.zoccoli@unibo.it>; Richard Stephenson, Ph.D., Univ Toronto <richard.stephenson@utoronto.ca>; Steven Fox, Merck <steve

[2020-06-08 21:56] teamPSG commented on #2201
@whedon generate pdf

[2020-06-08 21:57] whedon commented on #2201
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02201/joss.02201/10.21105.joss.02201.pdf)

[2020-06-08 22:01] ali-ramadhan commented on #2034
Hi @YoungFaithful, please accept my apologies for my extremely late review. I completely fell off the grid in the past few months. My review is below.

---

I think CapacityExpansion.jl is a well made and well documented Julia package. Everything worked out of the box and I was able to play around with it a bit. More detailed comments follow but I couldn't find any major faults. I opened a few iss

[2020-06-08 22:20] MariaTsantaki commented on #2048
Done

[2020-06-08 22:24] kyleniemeyer commented on #2048
@whedon generate pdf

[2020-06-08 22:25] whedon commented on #2048
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02048/joss.02048/10.21105.joss.02048.pdf)

[2020-06-08 22:27] arfon commented on #2221
@lpantano invites like this only work for editors (not reviewers)

[2020-06-08 22:28] kyleniemeyer commented on #2048
@whedon accept

[2020-06-08 22:29] whedon commented on #2048
[code]

[2020-06-08 22:29] whedon commented on #2048
[code]

[2020-06-08 22:47] kyleniemeyer commented on #2048
@whedon accept

[2020-06-08 22:47] whedon commented on #2048
[code]

[2020-06-08 22:47] whedon commented on #2048
[code]

[2020-06-08 22:48] whedon commented on #2048
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1476

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1476, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-08 22:49] kyleniemeyer commented on #2048
@whedon accept deposit=true

[2020-06-08 22:49] whedon commented on #2048
[code]

[2020-06-08 22:51] whedon commented on #2048
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1270126293607231488) 👈 🐦🐦🐦

[2020-06-08 22:51] whedon commented on #2048
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1477
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02048](https://doi.org/10.21105/joss.02048)
2. If everything looks g

[2020-06-08 23:04] mbobra commented on #2219
@whedon assign @mbobra as editor

[2020-06-08 23:04] whedon commented on #2219
OK, the editor is @mbobra

[2020-06-08 23:06] mbobra commented on #2219
Thanks for your submission, @mdmurbach! Please give me a few days to find some reviewers.

[2020-06-08 23:07] mbobra commented on #2125
@DingXuefeng Please let me know if you need any help with this review! I'm happy to help.

[2020-06-08 23:13] mbobra commented on #2167
@justinsalamon I'm sorry for my late response. If the functionality issues impact other parts of the software, let's wait for the submitting author to address them.

@SuperKogito Do you need any help addressing the functionality issues raised by @justinsalamon? Or do you have any questions? Please let me know!

[2020-06-08 23:39] mdmurbach commented on #2219
Awesome, thanks @mbobra! 😄

[2020-06-09 00:04] gassmoeller commented on #2195
@meg-simula I am happy to review this paper. Review should happen within the next few weeks.

[2020-06-09 00:08] majensen commented on #2006
@uellue I see the following people not in the paper author list, but listed in the archive

Dey, Shankhadeep;
 Levin, Barnaby D.A.;
 Ophus, Colin;
 Peter, Simon;
 Schyndel van, Jay;
 Shin, Jaeweon;
 Sunku, Sai;

If these folks are not willing to be on the paper, let me know here. I can understand why they would remain on the archive, so I will want to have an EIC weigh in on the protocol in this s

[2020-06-09 00:12] majensen commented on #2238
Hello @funasol -- would you be willing to review this work for [JOSS](https://joss.theoj.org)? I would welcome your assistance on this work on  [Flint](https://github.com/flintproject/Flint) by @tabe.
The review process is fully open and outlined [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Thanks for your consideration!  --@majensen

[2020-06-09 01:48] morganjwilliams commented on #2309
@arfon migration to the pyOpenSci org isn't planned at this stage, so the links should be OK.

[2020-06-09 02:57] deniederhut commented on #2136
Okay, typos and capitalization fixed. I have a question about:

The bibliographic data is what was provided by the authors. The citation export on arxiv doesn't provide anything more, except the arxiv-specific subcategory. Is this what you meant?

[2020-06-09 03:10] kyleniemeyer commented on #2048
Congrats @MariaTsantaki on your article's publication in JOSS!

Many thanks to @warrickball and @ipelupessy for reviewing this, and @xuanxu for editing.

[2020-06-09 03:10] #2048 closed

[2020-06-09 03:10] whedon commented on #2048
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02048/status.svg)](https://doi.org/10.21105/joss.02048)

**We need your help!**

Journal of Open Source Softwa

[2020-06-09 03:30] gdmcbain commented on #2301
LGTM too, thank you.

[2020-06-09 04:35] Xunius commented on #2197
@kbarnhart Thanks for the recommendation.

We have made some changes to the submission:

1. We are changing to the title to "IPART: A Python Package for Image-Processing based Atmospheric River Tracking". The github repo name is also changed to https://github.com/ihesp/IPART (I noticed that clicking the old URL at the top of this issue/thread points to the updated repo though).
2. The package is n

[2020-06-09 04:39] pdebuyl commented on #2307
@whedon add @liangtianumich as reviewer

[2020-06-09 04:39] whedon commented on #2307
OK, @liangtianumich is now a reviewer

[2020-06-09 04:42] pdebuyl commented on #2307
@mdavezac, @liangtianumich , make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines.

The review process will happen in this issue page, so questions to the author or to me can be added as comments here.

[2020-06-09 04:43] pdebuyl commented on #2248
Thanks @arfon it is fixed.

[2020-06-09 04:45] pdebuyl commented on #2293
@mbkumar please write the comments on the manuscript here, so that the review page keeps trace of it. The issues in the software repository are more suited for direct software problems (bugs, missing dependencies, for instance).

[2020-06-09 06:19] MAnalytics commented on #2019
@karthik That will be great! Thank you very much.

[2020-06-09 06:43] darioizzo commented on #2290
@Ohjeah

 * We added the statement in the background section of the web pages
 * Installation guide expanded:
     * all version required of third parties are added
     * guide on readme is now the same as that in the online docs
     * the exact version of the code available in PyPi (it may come back in the future, but we need to find the resources to maintain also those pip packages)
     * no

[2020-06-09 07:10] samharrison7 commented on #2303
Hi @kyleniemeyer, thanks for the question! To me, this classes as "research software" because it helps in the creation of software for research purposes, by giving researchers a pre-packaged error handler to use in their software. To that end, its obvious research application is to help the development of any research software using Fortran code, e.g. climate sciences, hydrology, ocean modelling,

[2020-06-09 07:15] yangbai90 commented on #2280
Hi @diehlpk , I would like to be the reviewer for this paper.

[2020-06-09 07:33] sambit-giri commented on #2312
@arfon There is no accompanying a paper in an AAS journal.
We have put the paper for submission in the [repository](https://github.com/sambit-giri/tools21cm/tree/master/paper).
I apologise for the inconvenience.

[2020-06-09 07:43] uellue commented on #2006
@majensen In the archive we have everybody who contributed a commit or who contributed to LiberTEM in other ways that establish co-authorship of the software. One would have to actively opt out of being listed there since contributing commits to a software automatically establishes co-authorship. Furthermore, being a co-author of the software doesn't mean endorsement or responsibility for the enti

[2020-06-09 07:49] pratikvn commented on #2195
@meg-simula , I am happy to review this paper.

[2020-06-09 08:02] hugoledoux commented on #2187
planning to do this later this week

[2020-06-09 08:02] bluescarni commented on #2310
Hi @arfon

the software lives in two repositories:

https://github.com/esa/pagmo2
https://github.com/esa/pygmo2

Would you like me to move the paper in a branch in the first repo?

[2020-06-09 08:03] hugoledoux commented on #2184
👋 @alvation & @desilinguist I was wondering if you need any help/instructions at this point or if I can help?

[2020-06-09 08:05] funasoul commented on #2238
Hi @majensen
Thank you for the invitation. I would be happy to accept a peer review.

[2020-06-09 08:40] mtezzele commented on #2283
- [ ] @elDan101 can you confirm me that on gitlab you are dlehm?
- [ ] Regarding the paper I would improve the "state of the field" part. I see that on the readme you have a section "How does it compare to other software?", I think a summary would fit the paper.

[2020-06-09 08:42] VivianePons commented on #1835
@whedon set 10.5281/zenodo.3884306 as archive

[2020-06-09 08:42] whedon commented on #1835
OK. <a href="https://doi.org/10.5281/zenodo.3884306" target="_blank">10.5281/zenodo.3884306</a> is the archive.

[2020-06-09 08:45] VivianePons commented on #1835
@whedon set 1.0.1 as version

[2020-06-09 08:45] whedon commented on #1835
OK. 1.0.1 is the version.

[2020-06-09 08:47] VivianePons commented on #1835
Congratulations! I am putting the paper up for acceptance.

Thank you @kaashif and @dimpase for the work and @alex-konovalov and @falque for the reviews and useful comments :)

[2020-06-09 08:47] VivianePons commented on #1835
@whedon accept

[2020-06-09 08:47] whedon commented on #1835
[code]

[2020-06-09 08:47] whedon commented on #1835
[code]

[2020-06-09 08:48] whedon commented on #1835
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1478

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1478, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-09 09:10] SuperKogito commented on #2167
@arfon @mbobra  @justinsalamon  @bmcfee,  thank you all for your assistance and reviews :heart:
@justinsalamon  @bmcfee raised quite a few interesting points, that will surely improve the library.
@mbobra I think I can handle most of the required changes. The ones that concern me the most are the functionality issues raised by @justinsalamon. I am not sure yet about the complexity of those, althou

[2020-06-09 09:16] meg-simula commented on #2195
@pratikvn @gassmoeller Excellent! I'll start the review issue. Let's move the discussion over there.

[2020-06-09 09:16] meg-simula commented on #2195
@whedon assign @reviewer as reviewer

[2020-06-09 09:16] whedon commented on #2195
OK, @reviewer is now a reviewer

[2020-06-09 09:17] meg-simula commented on #2195
@whedon assign @gassmoeller as reviewer

[2020-06-09 09:17] whedon commented on #2195
OK, @gassmoeller is now a reviewer

[2020-06-09 09:17] meg-simula commented on #2195
@whedon add @pratikvn as reviewer

[2020-06-09 09:17] whedon commented on #2195
OK, @pratikvn is now a reviewer

[2020-06-09 09:17] meg-simula commented on #2195
@whedon start review

[2020-06-09 09:17] whedon opened #2313 "[REVIEW]: DORiE: A discontinuous Galerkin solver for soil water flow and passive solute transport based on DUNE"
**Submitting author:** @peanutfun (<a href="http://orcid.org/0000-0002-4667-3652">Lukas Riedel</a>)
**Repository:** <a href="https://ts-gitlab.iup.uni-heidelberg.de/dorie/dorie" target ="_blank">https://ts-gitlab.iup.uni-heidelberg.de/dorie/dorie</a>
**Version:** 2.0.1
**Editor:** @meg-simula
**Reviewer:** @gassmoeller, @pratikvn
**Archive:** <a href="https://doi.org/10.5281/zenodo.3997152" target

[2020-06-09 09:17] whedon commented on #2195
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2313.

[2020-06-09 09:17] #2195 closed

[2020-06-09 09:17] whedon commented on #2313
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gassmoeller, @pratikvn it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-06-09 09:18] whedon commented on #2313
PDF failed to compile for issue #2313 with the following error:

 Can't find any papers to compile :-(

[2020-06-09 09:20] meg-simula commented on #2313
@gassmoeller @pratikvn Thanks again for agreeing to review. Checklists have been generated for each you above, ready for your review :-)

[2020-06-09 09:21] meg-simula commented on #2313
@whedon generate pdf from branch joss-paper

[2020-06-09 09:21] whedon commented on #2313
[code]

[2020-06-09 09:23] whedon commented on #2313
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02313/joss.02313/10.21105.joss.02313.pdf)

[2020-06-09 09:31] aj2duncan commented on #2282
Thanks @mikerspencer and apologies @danielskatz, I should have raised this too. I'm happy to provide more detail on this if needed and I'm pretty sure @mikerspencer would be too.

[2020-06-09 11:02] arfon commented on #2309
@whedon assign @arfon as reviewer

[2020-06-09 11:02] whedon commented on #2309
OK, @arfon is now a reviewer

[2020-06-09 11:03] arfon commented on #2309
@whedon start review

[2020-06-09 11:03] #2309 closed

[2020-06-09 11:03] whedon opened #2314 "[REVIEW]: pyrolite: Python for geochemistry"
**Submitting author:** @morganjwilliams (<a href="http://orcid.org/0000-0003-4764-9555">Morgan Williams</a>)
**Repository:** <a href="https://github.com/morganjwilliams/pyrolite" target ="_blank">https://github.com/morganjwilliams/pyrolite</a>
**Version:** 0.2.7
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.3877690" target="_blank">10.5281/zenodo.3877

[2020-06-09 11:03] whedon commented on #2309
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2314.

[2020-06-09 11:03] whedon commented on #2314
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theo

[2020-06-09 11:03] arfon commented on #2314
Accepting as part of pyOpenSci (https://github.com/pyOpenSci/software-review/issues/20)

[2020-06-09 11:04] whedon commented on #2314
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02314/joss.02314/10.21105.joss.02314.pdf)

[2020-06-09 11:05] arfon commented on #2312
@whedon generate pdf

[2020-06-09 11:06] whedon commented on #2312
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02312/joss.02312/10.21105.joss.02312.pdf)

[2020-06-09 11:12] drvinceknight commented on #2113
@whedon add @nikoleta-v3 as reviewer

[2020-06-09 11:12] whedon commented on #2113
OK, @nikoleta-v3 is now a reviewer

[2020-06-09 11:12] arfon commented on #2314
@morganjwilliams - Please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive. (I believe you may already have done this?)

[2020-06-09 11:12] drvinceknight commented on #2113
@whedon start review

[2020-06-09 11:13] whedon opened #2315 "[REVIEW]: BiRank: Fast and Flexible Ranking on Bipartite Networks with R and Python"
**Submitting author:** @yangkcatiu (<a href="http://orcid.org/0000-0003-4627-9273">Kai-Cheng Yang</a>)
**Repository:** <a href="https://github.com/BrianAronson/birankr" target ="_blank">https://github.com/BrianAronson/birankr</a>
**Version:** v1.0
**Editor:** @drvinceknight
**Reviewer:** @gvegayon, @nikoleta-v3
**Archive:** <a href="https://doi.org/10.5281/zenodo.3939045" target="_blank">10.5281/z

[2020-06-09 11:13] whedon commented on #2113
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2315.

[2020-06-09 11:13] #2113 closed

[2020-06-09 11:13] whedon commented on #2315
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gvegayon, @nikoleta-v3 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-06-09 11:13] whedon commented on #2315
[code]

[2020-06-09 11:13] whedon commented on #2315
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02315/joss.02315/10.21105.joss.02315.pdf)

[2020-06-09 11:13] drvinceknight commented on #2113
@nikoleta-v3 and @gvegayon thank you very much for agreeing to review this work. The review takes place on #2315, if you have any questions or if I can assist in any way let me know :+1:

[2020-06-09 11:15] arfon commented on #2312
@whedon invite @pibion as editor

:wave: @pibion - what do you think about taking on this as one of your first papers to edit?

[2020-06-09 11:15] whedon commented on #2312
@pibion has been invited to edit this submission.

[2020-06-09 11:19] arfon commented on #2310
Got it, thanks @bluescarni. I think this is OK as it seems like we're going to want to review both packages as part of this review.

While I look for an editor, please take a look at the DOI fixes that Whedon suggested above (https://github.com/openjournals/joss-reviews/issues/2310#issuecomment-640899613).

[2020-06-09 11:19] morganjwilliams commented on #2314
Yes, the Zenodo DOI is already active. For this version see [10.5281/zenodo.3877690](https://doi.org/10.5281/zenodo.3877690).

[2020-06-09 11:21] arfon commented on #2310
@whedon invite @eloisabentivegna as editor

@eloisabentivegna - what do you think about taking this submission on as one of your first papers? It is _slightly_ unusual in that the author is submitting two packages (https://github.com/esa/pagmo2 & https://github.com/esa/pygmo2) as part of the same submission which look to be C++ and Python implementations of the same library. As a result, the paper

[2020-06-09 11:21] whedon commented on #2310
@eloisabentivegna has been invited to edit this submission.

[2020-06-09 11:35] MrMinimal64 commented on #2224
I added some clarifications and examples of canonical form polynomial representations.

[2020-06-09 11:35] MrMinimal64 commented on #2224
@whedon generate pdf

[2020-06-09 11:36] whedon commented on #2224
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02224/joss.02224/10.21105.joss.02224.pdf)

[2020-06-09 11:40] arfon commented on #2314
@whedon set 10.5281/zenodo.3877690 as archive

[2020-06-09 11:40] whedon commented on #2314
OK. <a href="https://doi.org/10.5281/zenodo.3877690" target="_blank">10.5281/zenodo.3877690</a> is the archive.

[2020-06-09 11:41] arfon commented on #2314
@whedon accept

[2020-06-09 11:41] whedon commented on #2314
[code]

[2020-06-09 11:42] whedon commented on #2314
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1479

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1479, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-09 11:43] arfon commented on #2314
@whedon accept deposit=true

[2020-06-09 11:43] whedon commented on #2314
[code]

[2020-06-09 11:45] whedon commented on #2314
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1270321046361640960) 👈 🐦🐦🐦

[2020-06-09 11:45] whedon commented on #2314
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1480
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02314](https://doi.org/10.21105/joss.02314)
2. If everything looks g

[2020-06-09 11:54] arfon commented on #2314
@morganjwilliams - your paper is now accepted into JOSS :zap::rocket::boom:

/ cc @lwasser

[2020-06-09 11:54] #2314 closed

[2020-06-09 11:54] whedon commented on #2314
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02314/status.svg)](https://doi.org/10.21105/joss.02314)

**We need your help!**

Journal of Open Source Softwa

[2020-06-09 12:00] bluescarni commented on #2310
@whedon commands

[2020-06-09 12:00] whedon commented on #2310
Here are some things you can ask me to do:

[code]

[2020-06-09 12:02] morganjwilliams commented on #2314
@arfon thanks for the speedy processing! 😄
I'll hotfix the badge shortly.

[2020-06-09 12:04] bluescarni commented on #2310
@whedon generate pdf

[2020-06-09 12:05] whedon commented on #2310
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02310/joss.02310/10.21105.joss.02310.pdf)

[2020-06-09 12:05] bluescarni commented on #2310
@whedon check references

[2020-06-09 12:05] whedon commented on #2310
[code]

[2020-06-09 12:07] bluescarni commented on #2310
Cheers, I think it should be fixed now.

[2020-06-09 12:09] AndresPenuela commented on #2231
@kbarnhart<https://github.com/kbarnhart> thank you for editing this submission and for these initial comments. Also thanks for the clarifications about how the review process works, it is the first time that I submit a paper on JOSS and I’m a bit lost 😉

  1.  The documentation is inside of each of the functions, first with an introduction/explanation of the function and then short comments on the

[2020-06-09 12:10] sambit-giri commented on #2312
@whedon generate pdf

[2020-06-09 12:10] whedon commented on #2312
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02312/joss.02312/10.21105.joss.02312.pdf)

[2020-06-09 12:25] pratikvn commented on #2313
@whedon commands

[2020-06-09 12:25] whedon commented on #2313
Here are some things you can ask me to do:

[code]

[2020-06-09 12:26] pratikvn commented on #2313
@whedon check references

[2020-06-09 12:28] sambit-giri commented on #2312
@whedon generate pdf

[2020-06-09 12:28] whedon commented on #2312
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02312/joss.02312/10.21105.joss.02312.pdf)

[2020-06-09 12:37] Visdoom commented on #2254
Hi @oliviaguest :wave: ,

[2020-06-09 12:53] pibion commented on #2312
@arfon is it okay that my expertise is squarely in the "particle" part of particle astrophysics?  I do have some basic familiarity with this topic and am happy to review, but we should definitely have someone on the team who is expert in this kind of analysis.

@sambit-giri do you have any reviewers you could recommend?

[2020-06-09 13:00] arfon commented on #2312
Yeah, I think this is OK :-) . Let's just make sure we get some expert reviewers as you say.

@pibion - The next step here is to ask Whedon to assign this paper to you. You can do either `@whedon assign me as editor` or `@whedon assign @pibion as editor`.

[2020-06-09 13:11] teuben commented on #2280
@diehlp do you need one or two reviewers

[2020-06-09 13:45] eloisabentivegna commented on #2310
@arfon -- Certainly!

@whedon assign @eloisabentivegna as editor

[2020-06-09 13:46] usethedata commented on #2284
@khinsen Thanks for your comments.  It is interesting to me that we've both read the documentation and code and come to some very different conclusions.  I confess that I struggle to understand the perspectives of "no clear statement need" and "no high level overview".  That's part of what's taken me a while to respond to your questions, since my read of the paper and documentation gave me a clear

[2020-06-09 14:00] diehlpk commented on #2280
@teuben I need at least two. So I would appreciate if you can become the second reviewer.

[2020-06-09 14:00] diehlpk commented on #2280
@yangbai90 Thanks, I will add you soon.

[2020-06-09 14:02] diehlpk commented on #2280
@whedon assign @yangbai90 as reviewer

[2020-06-09 14:02] whedon commented on #2280
OK, @yangbai90 is now a reviewer

[2020-06-09 14:07] teuben commented on #2280
@diehlpk  sure go ahead, this will be a nice challenge, new field, new method, what could go wrong

[2020-06-09 14:15] arfon commented on #2310
Excellent, thanks @eloisabentivegna. One minor thing, Whedon only responds to comments at the start of a post or as standalone comments. i.e. if you now type `@whedon assign @eloisabentivegna as editor` in its own comment then Whedon will assign you.

[2020-06-09 14:19] diehlpk commented on #2280
@whedon add @teuben as reviewer

[2020-06-09 14:19] whedon commented on #2280
OK, @teuben is now a reviewer

[2020-06-09 14:19] diehlpk commented on #2280
@teuben Thanks for volunteering.

[2020-06-09 14:20] diehlpk commented on #2280
@mdpiper If you have provided us with the latest version. I will start the review soon.

[2020-06-09 14:40] blsqr commented on #2207
@whedon generate pdf from branch add-joss-paper

[2020-06-09 14:40] whedon commented on #2207
[code]

[2020-06-09 14:41] whedon commented on #2207
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02207/joss.02207/10.21105.joss.02207.pdf)

[2020-06-09 14:52] mdpiper commented on #2280
@diehlpk Yes, this is the latest version--thanks!

[2020-06-09 15:06] pibion commented on #2312
@whedon assign me as editor

[2020-06-09 15:07] whedon commented on #2312
OK, the editor is @pibion

[2020-06-09 15:12] lorenanicole commented on #2207
Great! I'll get you going then!

[2020-06-09 15:12] lorenanicole commented on #2207
Fantastic! @mdpiper let me get you setup!

[2020-06-09 15:13] lorenanicole commented on #2207
@whedon add @Chilipp as reviewer.

[2020-06-09 15:13] whedon commented on #2207
OK, @Chilipp is now a reviewer

[2020-06-09 15:14] lorenanicole commented on #2207
@whedon add @mdpiper as reviewer.

[2020-06-09 15:14] whedon commented on #2207
OK, @mdpiper is now a reviewer

[2020-06-09 15:14] lorenanicole commented on #2207
@whedon start review

[2020-06-09 15:14] whedon opened #2316 "[REVIEW]: dantro: a Python package for handling, transforming, and visualizing hierarchically structured data"
**Submitting author:** @blsqr (<a href="http://orcid.org/0000-0003-3858-0904">Yunus Sevinchan</a>)
**Repository:** <a href="https://ts-gitlab.iup.uni-heidelberg.de/utopia/dantro" target ="_blank">https://ts-gitlab.iup.uni-heidelberg.de/utopia/dantro</a>
**Version:** v0.13
**Editor:** @lorenanicole
**Reviewer:** @Chilipp, @mdpiper
**Archive:** Pending

**:warning: JOSS reduced service mode :warning

[2020-06-09 15:14] whedon commented on #2207
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2316.

[2020-06-09 15:14] #2207 closed

[2020-06-09 15:14] whedon commented on #2316
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Chilipp, @mdpiper it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-06-09 15:14] whedon commented on #2316
PDF failed to compile for issue #2316 with the following error:

 Can't find any papers to compile :-(

[2020-06-09 15:15] lorenanicole commented on #2207
Ok team (@Chilipp @mdpiper  @blsqr) - moving over to #2316 for the actual review!

[2020-06-09 15:16] lorenanicole commented on #2316
@whedon generate pdf

[2020-06-09 15:16] whedon commented on #2316
PDF failed to compile for issue #2316 with the following error:

 Can't find any papers to compile :-(

[2020-06-09 15:17] lorenanicole commented on #2316
Hmmm @arfon could you 👀 why the pdf is failing to compile?

[2020-06-09 15:19] lorenanicole commented on #2220
Excellent, thank you @albertmeronyo!

[2020-06-09 15:19] blsqr commented on #2316
That's on us. We have the paper on a separate branch, `add-joss-paper`, such that we can add changes there and merge that branch once feedback was added.

[2020-06-09 15:19] blsqr commented on #2316
@whedon generate pdf from branch add-joss-paper

[2020-06-09 15:19] whedon commented on #2316
[code]

[2020-06-09 15:20] whedon commented on #2316
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02316/joss.02316/10.21105.joss.02316.pdf)

[2020-06-09 15:20] mbkumar commented on #2293
Section on the status of the field is missing.

[2020-06-09 15:38] lorenanicole commented on #2316
Thanks @blsqr for that!

[2020-06-09 15:40] lorenanicole commented on #2316
👋  @Chilipp, @mdpiper! You are ready to start review on this issue. Please update the checklist above and provide all feedback in this issue. Also you can find the reviewer guidelines are available here 👉 https://joss.readthedocs.io/en/latest/reviewer_guidelines.html.

[2020-06-09 15:44] lorenanicole commented on #2220
Greetings @JanWielemaker @essepuntato! Would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines 👉  https://joss.readthedocs.io/en/latest/reviewer_guidelines.html.

[2020-06-09 15:44] diehlpk commented on #2280
@whedon start review

[2020-06-09 15:44] whedon opened #2317 "[REVIEW]: The Basic Model Interface 2.0: A standard interface for coupling numerical models in the geosciences"
**Submitting author:** @mdpiper (<a href="http://orcid.org/0000-0001-6418-277X">MARK PIPER</a>)
**Repository:** <a href="https://github.com/csdms/bmi" target ="_blank">https://github.com/csdms/bmi</a>
**Version:** v2.0
**Editor:** @diehlpk
**Reviewer:** @yangbai90, @teuben
**Archive:** <a href="https://doi.org/10.5281/zenodo.3955010" target="_blank">10.5281/zenodo.3955010</a>

**:warning: JOSS red

[2020-06-09 15:44] whedon commented on #2280
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2317.

[2020-06-09 15:44] #2280 closed

[2020-06-09 15:44] whedon commented on #2317
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @yangbai90, @teuben it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-06-09 15:44] whedon commented on #2317
[code]

[2020-06-09 15:45] whedon commented on #2317
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02317/joss.02317/10.21105.joss.02317.pdf)

[2020-06-09 16:01] arfon commented on #2237
:wave: @warint - thanks for your submission to JOSS. After discussing this with the JOSS editorial team, we have concluded that this submission is out of scope due to its _minor utility_ nature (https://joss.readthedocs.io/en/latest/submitting.html).

Thanks again for your interest in JOSS.

[2020-06-09 16:01] arfon commented on #2237
@whedon reject

[2020-06-09 16:02] whedon commented on #2237
Paper rejected.

[2020-06-09 16:02] #2237 closed

[2020-06-09 16:48] dmey commented on #2008
Perfect timing @kyleniemeyer -- I have now received the DOI. Thank you all for your patience.
I have update the reference accordingly -- I will not check the final proof and update to Zenodo.

[2020-06-09 16:49] dmey commented on #2008
@whedon generate pdf from branch joss-paper

[2020-06-09 16:49] whedon commented on #2008
[code]

[2020-06-09 16:50] whedon commented on #2008
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02008/joss.02008/10.21105.joss.02008.pdf)

[2020-06-09 17:33] mjsottile commented on #2008
Excellent.  Once you've posted the archive DOI and checked that the version number of the archive matches the version listed at the top of this thread, I'll run the final commands to hand off to the EIC team for the last steps.

[2020-06-09 17:45] leouieda commented on #2236
Hi @arfon I'm happy to edit this paper :+1:

@d-chambers I'll be a bit more free next week and will start looking over the paper then. Thank you for your patience :slightly_smiling_face:

[2020-06-09 17:50] elDan101 commented on #2283
@mtezzele Following your suggestion, I can add a short section in the paper to compare datafold to other software. I opened an issue for this [here](https://gitlab.com/datafold-dev/datafold/-/issues/98) (which also confirms that I am user dlehm).

[2020-06-09 17:50] kyleniemeyer commented on #2136
@whedon generate pdf

[2020-06-09 17:51] whedon commented on #2136
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02136/joss.02136/10.21105.joss.02136.pdf)

[2020-06-09 17:57] kyleniemeyer commented on #2136
@deniederhut for the Morris reference, I think the problem is that none of the arXiv info is showing properly. I'm not totally sure if our paper parser handles this, but could you try adding these fields?

[code]

If that doesn't work, then we can hack it by adding this field: `howpublished = {\tt arXiv:2005.05909 [cs.CL]}`

[2020-06-09 18:06] kyleniemeyer commented on #1835
Hello @kaashif, in my final review of the article I noticed there were some DOIs missing (though our checker didn't catch them). I just submitted a small PR that adds these, can you merge it? https://github.com/gap-packages/RepnDecomp/pull/8

[2020-06-09 18:19] spectralcode commented on #2245
@whedon generate pdf

[2020-06-09 18:20] whedon commented on #2245
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02245/joss.02245/10.21105.joss.02245.pdf)

[2020-06-09 18:25] spectralcode commented on #2245
@whedon check references

[2020-06-09 18:25] whedon commented on #2245
[code]

[2020-06-09 18:31] kaashif commented on #1835
Thanks, I merged your PR.

[2020-06-09 18:39] vgurianov commented on #2296
Some suggestions for potential reviewers.

This article will be of interest to those involved in simulate modeling and agent-based programming.
From the proposed list, this  is true for:
1.fdroessler (Molecular Dynamics Simulation, Computational Chemistry, Agent Based Models)
2.kavir1698 (Agent-based modeling, Computational biology, Bioinformatics)
And also, perhaps:
DARSakthi (Modeling, simulatio

[2020-06-09 18:39] kyleniemeyer commented on #1835
@whedon accept

[2020-06-09 18:40] whedon commented on #1835
[code]

[2020-06-09 18:40] whedon commented on #1835
[code]

[2020-06-09 18:40] whedon commented on #1835
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1481

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1481, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-09 18:43] kyleniemeyer commented on #1835
@whedon accept deposit=true

[2020-06-09 18:43] whedon commented on #1835
[code]

[2020-06-09 18:44] whedon commented on #1835
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1270426506922274816) 👈 🐦🐦🐦

[2020-06-09 18:44] whedon commented on #1835
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1482
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01835](https://doi.org/10.21105/joss.01835)
2. If everything looks g

[2020-06-09 18:50] harpolea commented on #2299
Hi @rajeshrinet, thanks for your reply - that all sounds fine to me!

[2020-06-09 18:51] harpolea commented on #2299
@whedon add @khinsen as reviewer

[2020-06-09 18:51] whedon commented on #2299
OK, @khinsen is now a reviewer

[2020-06-09 18:52] harpolea commented on #2299
@whedon start review

[2020-06-09 18:52] whedon opened #2318 "[REVIEW]: PyStokes: Stokesian hydrodynamics in Python"
**Submitting author:** @rajeshrinet (<a href="http://orcid.org/0000-0003-0266-9691">Rajesh Singh</a>)
**Repository:** <a href="https://github.com/rajeshrinet/pystokes" target ="_blank">https://github.com/rajeshrinet/pystokes</a>
**Version:** v2.2.0
**Editor:** @harpolea
**Reviewer:** @fcooper8472, @khinsen
**Archive:** <a href="https://doi.org/10.5281/zenodo.3923867" target="_blank">10.5281/zenodo

[2020-06-09 18:52] whedon commented on #2299
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2318.

[2020-06-09 18:52] #2299 closed

[2020-06-09 18:52] whedon commented on #2318
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fcooper8472, @khinsen it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-06-09 18:52] kyleniemeyer commented on #1835
Congrats @kaashif on your article's publication in JOSS!

Many thanks to @alex-konovalov and @falque for reviewing this submission, and to @VivianePons for editing.

[2020-06-09 18:52] #1835 closed

[2020-06-09 18:52] whedon commented on #1835
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01835/status.svg)](https://doi.org/10.21105/joss.01835)

**We need your help!**

Journal of Open Source Softwa

[2020-06-09 18:52] whedon commented on #2318
[code]

[2020-06-09 18:52] whedon commented on #2318
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02318/joss.02318/10.21105.joss.02318.pdf)

[2020-06-09 19:11] dmey commented on #2008
@mjsottile, thank you. I have created 4.0.0 release and deposited at https://doi.org/10.5281/zenodo.3887081. Please let me know if you need more information.

[2020-06-09 19:12] dmey commented on #2008
@whedon generate pdf

[2020-06-09 19:12] whedon commented on #2008
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02008/joss.02008/10.21105.joss.02008.pdf)

[2020-06-09 19:21] kyleniemeyer commented on #2302
Hi @jagannathBhat, thank you for your interest in JOSS.

The JOSS editors have considered your submission and, while it looks useful, it does not appear to be within the scope of JOSS, which only publishes research software / software with a clear research application. Specifically, as listed in our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html):

Based on our rev

[2020-06-09 19:21] kyleniemeyer commented on #2302
@whedon reject

[2020-06-09 19:21] whedon commented on #2302
Paper rejected.

[2020-06-09 19:21] #2302 closed

[2020-06-09 19:26] spectralcode commented on #2245
@arfon thank you for your comment regarding the paper length. I have shortened the paper drastically. Please let me know if you still have any concerns.

Here are some potential reviewers from the list:
- mlxd
- mstimberg
- adam-m-jcbs
- RainierBarrett

A very suitable reviewer who is not on the list would be datenwolf. However, I don't know if he is willing to review.

[2020-06-09 19:51] mdpiper commented on #2317
A quick note: in a pre-submission [issue](https://github.com/openjournals/joss/issues/690), editors suggested this submission be reviewed in the context of the language specifications and examples derived from the interface defined in the main repository.

[2020-06-09 20:46] HajkD commented on #2170
Dear Lorena,

Thank you so much for handling the editorial process of the `LTRpred` manuscript despite the ongoing Covid19 pandemic. I very much appreciate your efforts to keep the review process as smoothly as possible.

I now addressed all remaining suggestions raised by Dani and would wait for her approval and closure of the last issue.

Dear  Mikhail and Dani,

I am truly grateful for all your

[2020-06-09 20:47] eloisabentivegna commented on #2310
@whedon assign @eloisabentivegna as editor

@arfon, I suspected that. Thanks for clarifying!

[2020-06-09 20:47] whedon commented on #2310
OK, the editor is @eloisabentivegna

[2020-06-09 20:58] mjsottile commented on #2008
@whedon set https://doi.org/10.5281/zenodo.3887081 as archive

[2020-06-09 20:58] whedon commented on #2008
OK. <a href="https://doi.org/10.5281/zenodo.3887081" target="_blank">10.5281/zenodo.3887081</a> is the archive.

[2020-06-09 21:00] mjsottile commented on #2008
@whedon accept

[2020-06-09 21:00] whedon commented on #2008
[code]

[2020-06-09 21:01] whedon commented on #2008
[code]

[2020-06-09 21:01] whedon commented on #2008
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1483

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1483, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-09 21:34] majensen commented on #2006
@whedon check references

[2020-06-09 21:35] whedon commented on #2006
[code]

[2020-06-09 21:35] majensen commented on #2006
@whedon set 10.5281/zenodo.3763313 as archive

[2020-06-09 21:35] whedon commented on #2006
OK. <a href="https://doi.org/10.5281/zenodo.3763313" target="_blank">10.5281/zenodo.3763313</a> is the archive.

[2020-06-09 21:36] majensen commented on #2006
@whedon set 0.5.0 as version

[2020-06-09 21:36] whedon commented on #2006
OK. 0.5.0 is the version.

[2020-06-09 21:37] majensen commented on #2006
@whedon accept

[2020-06-09 21:37] whedon commented on #2006
[code]

[2020-06-09 21:38] whedon commented on #2006
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1484

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1484, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-09 21:43] majensen commented on #2006
@openjournals/joss-eics - Please note that LiberTEM is a significant and ongoing project that has its own policies for author and contributor credit. It also has its own Zenodo archive location, for which 0.5.0 is the latest version and incorporates the comments of the reviewers here.

The author list on this paper is a subset of the author list on the archive, because of the nature of the project

[2020-06-09 21:45] majensen commented on #2238
@whedon assign @funasoul as reviewer

[2020-06-09 21:45] whedon commented on #2238
OK, @funasoul is now a reviewer

[2020-06-09 21:47] kbarnhart commented on #2197
@whedon generate pdf

[2020-06-09 21:48] whedon commented on #2197
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02197/joss.02197/10.21105.joss.02197.pdf)

[2020-06-09 21:50] majensen commented on #2044
Hi @SiminaB - just checking in on whether you've had opportunity to take a look at the latest version.
@wrathematics -- are you still able to provide a review?
I really appreciate the efforts of you both.

[2020-06-09 22:17] kyleniemeyer commented on #2008
Hi @dmey - can you confirm the DOI 10.1029/2019MS001961 for your 2020 JAMES article? Is that an upcoming article that is not online yet?

[2020-06-09 22:29] dmey commented on #2008
Hi @kyleniemeyer. That is correct -- the DOI was sent out to me today but it may take a few more days before it becomes active.

[2020-06-09 22:37] kyleniemeyer commented on #2008
@whedon accept deposit=true

[2020-06-09 22:37] whedon commented on #2008
[code]

[2020-06-09 22:38] whedon commented on #2008
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1270485465267933185) 👈 🐦🐦🐦

[2020-06-09 22:38] whedon commented on #2008
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1485
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02008](https://doi.org/10.21105/joss.02008)
2. If everything looks g

[2020-06-09 22:47] kyleniemeyer commented on #2008
Congratulations  @dmey on your article's publication in JOSS!
Many thanks to @ethan-nelson and @jayten for reviewing this submission, and @mjsottile for editing it.

[2020-06-09 22:47] #2008 closed

[2020-06-09 22:47] whedon commented on #2008
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02008/status.svg)](https://doi.org/10.21105/joss.02008)

**We need your help!**

Journal of Open Source Softwa

[2020-06-09 22:53] Xunius commented on #2197
@whedon generate pdf

[2020-06-09 22:54] whedon commented on #2197
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02197/joss.02197/10.21105.joss.02197.pdf)

[2020-06-09 23:03] Xunius commented on #2197
@kbarnhart PDF looks good now.

[2020-06-10 00:58] cMadan commented on #2226
@kyleniemeyer, sure I can take this one on.

@ejhigson, thanks for volunteering to review!

[2020-06-10 00:58] cMadan commented on #2226
@whedon assign @cMadan as editor

[2020-06-10 00:58] whedon commented on #2226
OK, the editor is @cMadan

[2020-06-10 00:58] cMadan commented on #2226
@whedon add @ejhigson as reviewer

[2020-06-10 00:58] whedon commented on #2226
OK, @ejhigson is now a reviewer

[2020-06-10 01:00] cMadan commented on #2226
@akcochrane, I'll do some pre-review checks over the next few days and let you know if I have any suggestions before the review process starts.

[2020-06-10 02:20] akcochrane commented on #2226
Thanks. Looking forward to the review process!

[2020-06-10 07:18] dvanic commented on #2107
@whedon commands

[2020-06-10 07:18] whedon commented on #2107
Here are some things you can ask me to do:

[code]

[2020-06-10 07:19] dvanic commented on #2107
@whedon I need a new invitation:
![image](https://user-images.githubusercontent.com/3272378/84238511-8079a800-ab3e-11ea-8681-997976925253.png)

[2020-06-10 07:19] whedon commented on #2107
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-10 07:30] dvanic commented on #2107
@whedon generate pdf

[2020-06-10 07:30] dvanic commented on #2107
@whedon check references

[2020-06-10 07:30] dvanic commented on #2107
@whedon check repository

[2020-06-10 07:30] whedon commented on #2107
[code]

[2020-06-10 07:30] whedon commented on #2107
[code]

[2020-06-10 07:33] dvanic commented on #2107
@whedon generate pdf

[2020-06-10 07:33] whedon commented on #2107
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02107/joss.02107/10.21105.joss.02107.pdf)

[2020-06-10 07:55] dmey commented on #2008
Thank you @kyleniemeyer. Many thanks again to editors and reviewers for their useful feedback.

[2020-06-10 08:07] dvanic commented on #2107
# Review checklist for @dvanic
## Conflict of interest

- [x] I confirm that I have read the JOSS conflict of interest (COI) policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

## Code of Conduct
- [x] I confirm that I read and will adhere to the JOSS code of conduct.

## General checks

- [x] Repository: Is

[2020-06-10 09:00] uellue commented on #2006
@majensen The final proof looks good, I just verified the text, links and Orcids.

[2020-06-10 09:17] FlorianRhiem commented on #2107
Thank you for the review, Darya. I'm glad to hear that you think SampleDB could be useful for more researchers and I will try to fix these issues until the end of next week.

I think the most difficult points will be the documentation for more than the minimal setup and for the JupyterHub integration. For both there are dependencies to likely existing IT infrastructure (where should backups be sto

[2020-06-10 10:35] HajkD commented on #2170
Dear Lorena,

all issues all closed now.

Thank you very much for arranging the next steps of the submission process.

Best wishes,
Hajk

[2020-06-10 11:21] rgmyr commented on #1969
Hi @kbarnhart, I pushed another update this morning, which is meant to address Brendon's issues with the `select_model` notebook by adding some markdown instructions/comments/etc., and adds a new `segmenter_demo` notebook (to complement the `column_demo` notebook) in response to his request for something more "out of the box".

We probably won't add anything else before Brendon and/or Jesper are a

[2020-06-10 23:35] blthayer commented on #2289
@danielskatz - Thank you for kicking this off! I don't see `tonyelhabr` listed as an assignee on this issue - is that expected?

Also, I wanted to note that we tweaked the LaTex template so that a footnote appears indicating that myself and @mzy2240 contributed equally to the software. However, that footnote isn't showing up in the automatically generated .pdf file. What steps do we need to take t

[2020-06-11 00:15] danielskatz commented on #2289
I think he will be marked as assigned once he accepts the invite as mentioned in the first comment in this issue.

@arfon - can you help here?

[2020-06-11 00:54] SiminaB commented on #2044
Alright, I just added my re-review at https://github.com/thecodingdoc/neep/issues/5. I think there are still just a few outstanding issues, but it's much improved!

[2020-06-11 02:29] nistara commented on #2250
May I please get an invitation to the repository again @arfon ? The original link isn't working for me and I can't edit the checklist above. Thank you!

[2020-06-11 04:39] deniederhut commented on #2136
Ah maybe a capitalization issue in the field names? It should be fixed as of https://github.com/deniederhut/niacin/pull/29

[2020-06-11 05:11] hugoledoux commented on #2177
Yeah, it will. It's a small thing, but still could you generate v1.0.1, zenodo it, and give me the DOI here?

[2020-06-11 05:42] dvanic commented on #2294
I just came across this issue, and would love to be a reviewer for this (when it's ready for review/the formal process has kicked off).

[2020-06-11 06:57] kyleniemeyer commented on #2136
@whedon generate pdf

[2020-06-11 06:57] whedon commented on #2136
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02136/joss.02136/10.21105.joss.02136.pdf)

[2020-06-11 07:00] kyleniemeyer commented on #2136
@deniederhut sure, that will work

[2020-06-11 07:00] kyleniemeyer commented on #2136
@whedon accept

[2020-06-11 07:00] whedon commented on #2136
[code]

[2020-06-11 07:00] whedon commented on #2136
[code]

[2020-06-11 07:00] whedon commented on #2136
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1486

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1486, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-11 07:02] kyleniemeyer commented on #2136
@whedon accept deposit=true

[2020-06-11 07:02] whedon commented on #2136
[code]

[2020-06-11 07:03] whedon commented on #2136
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1270974891085479936) 👈 🐦🐦🐦

[2020-06-11 07:03] whedon commented on #2136
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1487
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02136](https://doi.org/10.21105/joss.02136)
2. If everything looks g

[2020-06-11 07:33] anmolter commented on #2177
Done. The new DOI is 10.5281/zenodo.3889604
![image](https://user-images.githubusercontent.com/34544873/84357868-389a6580-abbe-11ea-9725-44344c4f3852.png)

[2020-06-11 07:35] martinagvilas commented on #2241
Thanks @Alcampopiano!

@csoneson all my issues have been addressed, so I recommend the acceptance of Hypothesize.

[2020-06-11 07:39] sara-02 commented on #2136
Congrats @deniederhut  :partying_face: :partying_face:

[2020-06-11 07:39] csoneson commented on #2241
Thank you @martinagvilas!

[2020-06-11 07:40] csoneson commented on #2241
@arbennett - could you give a quick update on the status of your review? Of course, don't hesitate to ask if you have any questions. Thanks!

[2020-06-11 08:02] hugoledoux commented on #2177
@whedon set 10.5281/zenodo.3889604 as archive

[2020-06-11 08:02] whedon commented on #2177
OK. <a href="https://doi.org/10.5281/zenodo.3889604" target="_blank">10.5281/zenodo.3889604</a> is the archive.

[2020-06-11 08:03] hugoledoux commented on #2177
@whedon set v1.0.1 as version

[2020-06-11 08:03] whedon commented on #2177
OK. v1.0.1 is the version.

[2020-06-11 08:03] hugoledoux commented on #2177
@whedon accept

[2020-06-11 08:03] whedon commented on #2177
[code]

[2020-06-11 08:03] whedon commented on #2177
[code]

[2020-06-11 08:04] whedon commented on #2177
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1488

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1488, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-11 08:05] hugoledoux commented on #2177
Congratulations @anmolter your paper/code is now accepted! Your paper will handled and published in the near future.

Thanks to @Athelena and @fortinma for the reviews and feedback!

[2020-06-11 08:06] hugoledoux commented on #2177
@whedon accept deposit=true

[2020-06-11 08:06] whedon commented on #2177
I'm sorry @hugoledoux, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-06-11 08:19] anmolter commented on #2177
🎉 Thanks @hugoledoux @Athelena @fortinma for your help!

[2020-06-11 08:39] csoneson commented on #1992
@greglandrum - could you give us an update on the status of your review? Thanks!

[2020-06-11 08:40] labarba commented on #2177
@anmolter -- please edit the metadata of your Zenodo deposit (title and author fields) to match the JOSS paper.

In the paper, I found this problematic sentence:

It is unclear what the subject of the sentence is: "it does not use..." makes the subject "it" but before that you have three names of software, and we don't know which of these is the one that does not use the ESCAPE methodology. Please

[2020-06-11 08:53] anmolter commented on #2177
@whedon generate pdf

[2020-06-11 08:53] whedon commented on #2177
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02177/joss.02177/10.21105.joss.02177.pdf)

[2020-06-11 08:57] whedon opened #2319 "[PRE REVIEW]: shinyssdtools: A web application for fitting Species Sensitivity Distributions (SSDs)"
**Submitting author:** @sebdalgarno (<a href="http://orcid.org/0000-0002-3658-4517">Sebastian Dalgarno</a>)
**Repository:** <a href="https://github.com/bcgov/shinyssdtools" target ="_blank">https://github.com/bcgov/shinyssdtools</a>
**Version:** v0.0.1
**Editor:** @marcosvital
**Reviewers:** @elimillera, @meenakshi-kushwaha, @nanhung
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced servi

[2020-06-11 08:57] whedon commented on #2319
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-11 08:57] whedon commented on #2319
[code]

[2020-06-11 08:57] whedon commented on #2319
PDF failed to compile for issue #2319 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-2081a6a6226c/lib/whedon.rb:210:in `[]': no implicit conversion of String into Integer (TypeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-2081a6a6226c/lib/whedon.rb:210:in `block in parse_affiliations'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-2081a6a622

[2020-06-11 08:57] whedon commented on #2319
[code]

[2020-06-11 08:59] labarba commented on #2319
@openjournals/dev -- this paper is throwing an error at compilation: please help

[2020-06-11 09:00] whedon opened #2320 "[PRE REVIEW]: Rawls: A Python package for managing .rawls image files"
**Submitting author:** @jbuisine (<a href="http://orcid.org/0000-0001-6071-744X">Jérôme BUISINE</a>)
**Repository:** <a href="https://github.com/prise-3d/rawls" target ="_blank">https://github.com/prise-3d/rawls</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2020-06-11 09:01] whedon commented on #2320
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-11 09:01] whedon commented on #2320
[code]

[2020-06-11 09:01] whedon commented on #2320
[code]

[2020-06-11 09:01] whedon commented on #2320
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02320/joss.02320/10.21105.joss.02320.pdf)

[2020-06-11 09:02] anmolter commented on #2177
@labarba I've made the changes. Zenodo reset everything to default when I did a new release, but I've edited the metadata now, so everything should be correct.

[2020-06-11 09:03] whedon opened #2321 "[PRE REVIEW]: ojsr: Crawler/scraper for Open Journal System"
**Submitting author:** @gastonbecerra (<a href="http://orcid.org/0000-0001-9432-8848">gastón becerra</a>)
**Repository:** <a href="https://github.com/gastonbecerra/ojsr" target ="_blank">https://github.com/gastonbecerra/ojsr</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-06-11 09:03] whedon commented on #2321
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-11 09:03] whedon commented on #2321
[code]

[2020-06-11 09:03] whedon commented on #2321
Failed to discover a valid open source license.

[2020-06-11 09:03] whedon commented on #2321
[code]

[2020-06-11 09:04] whedon commented on #2321
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02321/joss.02321/10.21105.joss.02321.pdf)

[2020-06-11 09:09] hope-data-science commented on #2294
Thank you for the feedback. I have no idea how to advance the process at the current state.
Best.

BTW: A copy of the manuscript in MS WORD could be found at <https://github.com/hope-data-science/tidyfst/blob/master/docs/tidyfst_JOSS.docx>. I tried to compile files at <https://github.com/hope-data-science/tidyfst/tree/master/docs/JOSS> but failed to the PDF. Any hints?

[2020-06-11 09:16] whedon opened #2322 "[PRE REVIEW]: MATLAB codes for finding dense and sparse spanning trees of a given graph"
**Submitting author:** @mustafaozen (<a href="http://orcid.org/0000-0002-7708-6549">Mustafa Ozen</a>)
**Repository:** <a href="https://github.com/mustafaozen/Dense-Sparse-Spanning-Trees-Genetic-Algorithm" target ="_blank">https://github.com/mustafaozen/Dense-Sparse-Spanning-Trees-Genetic-Algorithm</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Lorena A Barba

*

[2020-06-11 09:16] whedon commented on #2322
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-11 09:16] whedon commented on #2322
[code]

[2020-06-11 09:17] whedon commented on #2322
[code]

[2020-06-11 09:17] whedon commented on #2322
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02322/joss.02322/10.21105.joss.02322.pdf)

[2020-06-11 09:19] dvanic commented on #2294
@hope-data-science You have an encoding issue. One possibility is that the "ç" character you have in your markdown is causing pandoc to flip - perhaps replace it with a c for now to test?

If not that one, I'd look at other things like quotes, symbols (@#brackets etc) that could be breaking pandoc.

[2020-06-11 09:24] whedon opened #2323 "[PRE REVIEW]: pyomeca: An Open-Source Framework for Biomechanical Analysis"
**Submitting author:** @romainmartinez (<a href="http://orcid.org/0000-0001-9681-9448">Romain Martinez</a>)
**Repository:** <a href="https://github.com/pyomeca/pyomeca/" target ="_blank">https://github.com/pyomeca/pyomeca/</a>
**Version:** 2020.0.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @BKillen05,  @mitkof6
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warni

[2020-06-11 09:24] whedon commented on #2323
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-11 09:24] whedon commented on #2323
[code]

[2020-06-11 09:24] whedon commented on #2323
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02323/joss.02323/10.21105.joss.02323.pdf)

[2020-06-11 09:24] whedon commented on #2323
[code]

[2020-06-11 09:26] whedon opened #2324 "[PRE REVIEW]: MetalWalls: A classical molecular dynamics software dedicated to the simulation of electrochemical systems"
**Submitting author:** @salanne (<a href="http://orcid.org/0000-0002-1753-491X">Mathieu Salanne</a>)
**Repository:** <a href="https://gitlab.com/ampere2/metalwalls" target ="_blank">https://gitlab.com/ampere2/metalwalls</a>
**Version:** version 1
**Editor:** @richardjgowers
**Reviewers:** @mattwthompson, @hmacdope
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

[2020-06-11 09:26] whedon commented on #2324
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-11 09:26] whedon commented on #2324
[code]

[2020-06-11 09:27] whedon commented on #2324
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02324/joss.02324/10.21105.joss.02324.pdf)

[2020-06-11 09:28] labarba commented on #2324
👋  @jgostick -- the submitting author suggested you as handling editor: please have a look and let us know if you are willing and able to take this one.

[2020-06-11 09:30] whedon opened #2325 "[PRE REVIEW]: VRPy: A Python package for solving a range of vehicle routing problems"
**Submitting author:** @Kuifje02 (<a href="http://orcid.org/0000-0003-3139-4519">Romain Montagne</a>)
**Repository:** <a href="https://github.com/Kuifje02/vrpy" target ="_blank">https://github.com/Kuifje02/vrpy</a>
**Version:** 0.2.0
**Editor:** @bstabler
**Reviewers:** @skadio
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2020-06-11 09:30] whedon commented on #2325
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-11 09:30] whedon commented on #2325
[code]

[2020-06-11 09:30] whedon commented on #2325
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02325/joss.02325/10.21105.joss.02325.pdf)

[2020-06-11 09:33] labarba commented on #2227
@whedon assign @oliviaguest as editor

[2020-06-11 09:33] whedon commented on #2227
OK, the editor is @oliviaguest

[2020-06-11 09:47] trallard commented on #2246
Hi I can take this submission

[2020-06-11 09:48] trallard commented on #2246
@whedon assign @trallard as editor

[2020-06-11 09:48] whedon commented on #2246
OK, the editor is @trallard

[2020-06-11 10:07] salanne commented on #2324
Hello, I looked at the list of joss_reviewers and I found the following list of people who may be suitable: luthaf, hmacdope, masrul, thesketh, amritagos, bjmorgan . Concerning bjmorgan we had some collaborations before but he knows very well the models tackled by the code.

[2020-06-11 10:54] Kuifje02 commented on #2325
jamiehadd
skadio
seba-1511
hanson
alex-konovalov
stsievert
gabrielspadon
drvinceknight

[2020-06-11 11:25] arfon commented on #2154
@whedon generate pdf

[2020-06-11 11:25] whedon commented on #2154
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02154/joss.02154/10.21105.joss.02154.pdf)

[2020-06-11 11:27] arfon commented on #2154
@romi1502 - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the auth

[2020-06-11 11:29] arfon commented on #2250
@whedon re-invite @nistara as reviewer

[2020-06-11 11:29] whedon commented on #2250
OK, the reviewer has been re-invited.

@nistara please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-11 11:29] arfon commented on #2250
☝️ @nistara

[2020-06-11 11:31] oliviaguest commented on #2136
Congratulations @deniederhut!  🎉

Thanks you again to the reviewers @BayesForDays and @sara-02 — don't forget to update your CVs if you have a service section. 😊

[2020-06-11 11:40] arfon commented on #2289
Unfortunately that kind of custom modification isn't supported @blthayer. That said, something similar is possible using our existing template. I've downloaded your paper locally and changed the authors block to:

[code]

...which results in the following PDF: [10.21105.joss.02289.pdf](https://github.com/openjournals/joss-reviews/files/4764477/10.21105.joss.02289.pdf)

[2020-06-11 11:52] arfon commented on #2319
This is because the YAML header is malformed. @sebdalgarno - please update the YAML header of your `paper.md` to look like this:

[code]

[2020-06-11 12:15] hope-data-science commented on #2294
@dvanic Thanks, I've made this change in the manuscript. Hope it could help later.

[2020-06-11 12:57] lpantano commented on #2170
@whedon check references

[2020-06-11 13:01] lpantano commented on #2170
@whedon generate pdf

[2020-06-11 13:01] whedon commented on #2170
PDF failed to compile for issue #2170 with the following error:

[2020-06-11 13:02] lpantano commented on #2170
perfect! meanwhile we solve this technical issues, @HajkD can you confirm the current version of your tool?

[2020-06-11 13:03] lpantano commented on #2221
@erinyoung, would you be interested on reviewing this tool?

[2020-06-11 13:04] lpantano commented on #2221
@whedon assign @lfaller as reviewer

[2020-06-11 13:04] whedon commented on #2221
OK, @lfaller is now a reviewer

[2020-06-11 13:15] arfon commented on #2252
@whedon check repository

[2020-06-11 13:15] whedon commented on #2252
[code]

[2020-06-11 13:15] whedon commented on #2252
Failed to discover a valid open source license.

[2020-06-11 13:25] martibosch commented on #2172
Hello all,

first of all thank you @rmsare and @JeffWalton-PSC for your reviews.

I have addressed your issues in the `detectree` and `detectree-example` repository. An end-to-end example is now available at https://github.com/martibosch/detectree-example/blob/master/notebooks/aussersihl-canopy.ipynb On the other hand, I have corrected the typos pointed out by @JeffWalton-PSC  in [4c34a3](https://

[2020-06-11 13:46] lskatz commented on #2221
Hi @lpantano, I _believe_ that @tseemann could be busy with other obligations, but at least a couple of the other potential reviewers have responded that they would be available if asked!

[2020-06-11 13:57] pibion commented on #2312
@sambit-giri thanks for your patience while I find an editor or two with analysis experience relevant to this software.  Just a heads up, this may take a few days.

[2020-06-11 14:01] HajkD commented on #2170
Brilliant! Thank you very much!

I can confirm that the current version of `LTRpred` is `v1.1.0`.

[2020-06-11 14:08] diehlpk commented on #2317
@mdpiper Are these listed in the JOSS paper as well? If, not would it be possible to add them?

[2020-06-11 14:23] mdpiper commented on #2317
@diehlpk Yup! See Table 1 in the paper.

[2020-06-11 14:28] iljah commented on #2185
Having trouble installing one dependency: https://github.com/anandogc/h5si/issues/1

[2020-06-11 14:39] rmsare commented on #2172
Thanks! These changes address my review.

I have one last minor suggestion about the README. The statement of need is a bit long and hard to read, It could be split into two sentences. So

*The target audience is researchers and practitioners in GIS that are interested in two-dimensional aspects of trees, such as their proportional abundance and spatial distribution throughout a region of study an

[2020-06-11 14:59] shashwat-bhattacharya commented on #2185
@iljah Thanks for pointing out the issue. I just had a conversation with the developer of h5si. He will look into it and address the problem in the github page.
From what I have seen in the link shared by you, the error message suggests that your c++ (CXX) compiler does not have mpi. Is it possible that you have mpi installed in your c compiler but not c++?
Anyway, the h5si developer should be abl

[2020-06-11 15:22] KristinaRiemer commented on #2247
@evaristor @rabernat @katmratliff @NatalieThurlby would any of you be able and willing to review this submission? Here are [the reviewing guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) for reference.

[2020-06-11 15:28] desilinguist commented on #2184
Sorry for the delay. I just started the review but I can't proceed because I am finding the installation quite confusing. It's not clear to me what instructions should be followed.

[2020-06-11 15:28] blthayer commented on #2289
@danielskatz - thank you for the clarification, and for bringing @arfon into the discussion.

@arfon - thank you for the tip! I'll get things tweaked shortly.

[2020-06-11 15:31] arfon commented on #2165
@whedon re-invite @Shibabrat as reviewer

[2020-06-11 15:31] whedon commented on #2165
OK, the reviewer has been re-invited.

@shibabrat please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-11 15:38] arfon commented on #2170
@whedon generate pdf

[2020-06-11 15:38] whedon commented on #2170
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02170/joss.02170/10.21105.joss.02170.pdf)

[2020-06-11 15:50] sambit-giri commented on #2312
@pibion Thanks for informing. I can wait.

[2020-06-11 15:52] iljah commented on #2185
I have mpicxx and mpicc but h5si doesn't seem to be using them.

[2020-06-11 15:54] martibosch commented on #2172
Indeed splitting the statement makes it more readable. I have amended it (both in the README and in the paper) in [003f76](https://github.com/martibosch/detectree/commit/003f736294e7eda2ff30788ea8a956e78c140c0f)

[2020-06-11 16:00] kyleniemeyer commented on #2136
Congrats @deniederhut on your article's publication in JOSS!

Many thanks to  @BayesForDays and @sara-02 for reviewing this, and to @oliviaguest for editing.

[2020-06-11 16:00] #2136 closed

[2020-06-11 16:00] whedon commented on #2136
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02136/status.svg)](https://doi.org/10.21105/joss.02136)

**We need your help!**

Journal of Open Source Softwa

[2020-06-11 16:25] erinyoung commented on #2221
I'd love to be a reviewer.

On Thu, Jun 11, 2020 at 7:46 AM Lee Katz <notifications@github.com> wrote:

--
Always,

Erin
erin.olde@gmail.com

[2020-06-11 16:28] shirubana commented on #1865
thank you for this!  everyone!!!! this is really great :)

[2020-06-11 16:33] shirubana commented on #1865
@arfon if you get a chance to update the last name on the footer and webpage --- to "Ayala Pelaez" instead of just Pelaez :) t

[2020-06-11 17:28] guidogz commented on #2229
The license is ready, thanks!

[2020-06-11 17:37] labarba commented on #2256
👋 @sjpfenninger — Could you have a look at this submission and let us know if you can handle it as editor?
Title: OMG: A Scalable and Flexible Simulation and Testing Environment Toolbox for Intelligent Microgrid Control
[ Article proof](https://github.com/openjournals/joss-papers/blob/joss.02256/joss.02256/10.21105.joss.02256.pdf)

[2020-06-11 17:39] labarba commented on #2256
@whedon invite @sjpfenninger as editor

[2020-06-11 17:40] whedon commented on #2256
@sjpfenninger has been invited to edit this submission.

[2020-06-11 17:41] whedon opened #2326 "[PRE REVIEW]: ‘Bioassays’; a new package in R for analyzing cellular assays"
**Submitting author:** @anwarbio (<a href="http://orcid.org/0000-0002-1693-1219">ANWAR PALAKKAN</a>)
**Repository:** <a href="https://github.com/anwarbio/bioassays" target ="_blank">https://github.com/anwarbio/bioassays</a>
**Version:** Version 0.1.0
**Editor:** @fboehm
**Reviewers:** @tomsing1
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2020-06-11 17:41] whedon commented on #2326
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-11 17:42] whedon commented on #2326
PDF failed to compile for issue #2326 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2326 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-2081a6a6226c/lib/whedo

[2020-06-11 17:42] whedon commented on #2326
[code]

[2020-06-11 17:43] labarba commented on #2326
@whedon generate pdf

[2020-06-11 17:43] whedon commented on #2326
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02326/joss.02326/10.21105.joss.02326.pdf)

[2020-06-11 17:45] labarba commented on #2326
👋  @anwarbio -- you've provided a link to a repository that contains _just the paper_. We expect a repository containing _the code_, with the paper contained within. Can you re-arrange things?

[2020-06-11 17:46] whedon opened #2327 "[PRE REVIEW]: Talisman: a JavaScript archive of fuzzy matching, information retrieval and record linkage building blocks"
**Submitting author:** @Yomguithereal (<a href="http://orcid.org/0000-0003-4916-8472">Guillaume Plique</a>)
**Repository:** <a href="https://github.com/Yomguithereal/talisman" target ="_blank">https://github.com/Yomguithereal/talisman</a>
**Version:** 1.1.2
**Editor:** @kakiac
**Reviewers:** @Fil, @atanikan
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to

[2020-06-11 17:46] whedon commented on #2327
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-11 17:46] whedon commented on #2327
[code]

[2020-06-11 17:47] whedon commented on #2327
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02327/joss.02327/10.21105.joss.02327.pdf)

[2020-06-11 17:47] whedon commented on #2327
[code]

[2020-06-11 18:01] kbarnhart commented on #1969
@rgmyr thanks for the update. I appreciate it and all the updates you guys have made. They look great.

@brendonhall and @JesperDramsch it looks like this submission is now ready for you guys to look at again. I believe that the authors have revised in response to your initial comments such that they expect you will be able to complete your reviews. Please let me know when you anticipate being abl

[2020-06-11 18:36] sebdalgarno commented on #2319
I've pushed a fix - thanks

[2020-06-11 19:09] tonyelhabr commented on #2289
@whedon My invitation expired. Can you send another?

[2020-06-11 19:10] whedon commented on #2289
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-11 19:12] danielskatz commented on #2289
@whedon re-invited @tonyelhabr as reviewer

[2020-06-11 19:13] whedon commented on #2289
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-11 19:13] tonyelhabr commented on #2289
@whedon re-invite @tonyelhabr  as reviewer

[2020-06-11 19:13] whedon commented on #2289
I'm sorry @tonyelhabr, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-06-11 19:13] danielskatz commented on #2289
@whedon re-invite @tonyelhabr as reviewer

[2020-06-11 19:13] whedon commented on #2289
OK, the reviewer has been re-invited.

@tonyelhabr please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-11 19:29] arfon commented on #1865
Sure thing. I can do that - I might not be able to get to this until tomorrow though sorry.

[2020-06-11 20:12] evaristor commented on #2247
@KristinaRiemer I can review this submission.

[2020-06-11 20:44] kbarnhart commented on #2197
@Xunius thank you for your update. Unfortunately, I don't think your changes sufficiently address the issues I pointed out in the checklist above. Based on the changes you've made I notice two additional concerns.

- [ ] I am concerned by your use of conda-forge to provide the package,  without using conda to mange the dependencies. Please correct me if I am wrong, but it appears that your conda b

[2020-06-11 20:47] kbarnhart commented on #2197
@openjournals/joss-eics could you please update the repository address and title of this submission? I don't think I have privileges to do this.

Title: "IPART: A Python Package for Image-Processing based Atmospheric River Tracking"
Repo: https://github.com/ihesp/IPART

[2020-06-11 20:54] balhoff commented on #2168
Same here!

[2020-06-11 21:06] arbennett commented on #2241
@csoneson - apologies for slowness, I have not yet started the review because of current events, but should be able to do so within the next week or so.

[2020-06-11 21:11] bstewart commented on #2181
I'm really sorry all- should complete this weekend. More soon.

[2020-06-11 21:12] karthik commented on #2181
Thanks Brandon. Much appreciated! 🙏

[2020-06-11 21:25] eloisabentivegna commented on #2310
@whedon add @dgoldri25 as reviewer

[2020-06-11 21:25] whedon commented on #2310
OK, @dgoldri25 is now a reviewer

[2020-06-11 21:26] Alcampopiano commented on #2241
@whedon generate pdf

[2020-06-11 21:26] whedon commented on #2241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02241/joss.02241/10.21105.joss.02241.pdf)

[2020-06-11 23:13] majensen commented on #2238
Hello @mstimberg - Would you be willing to review this work by @tabe on [Flint](https://github.com/flintproject/Flint) - a DE modeling package in C++ - for [JOSS](https://joss.theoj.org)? I would really appreciate your expertise here. Thanks for considering -
-- @majensen

[2020-06-11 23:45] katmratliff commented on #2247
@KristinaRiemer I am also happy to review.

[2020-06-12 00:11] KristinaRiemer commented on #2247
Great, thanks so much @evaristor and @katmratliff!

[2020-06-12 00:12] KristinaRiemer commented on #2247
@whedon assign @evaristor as reviewer

[2020-06-12 00:12] whedon commented on #2247
OK, @evaristor is now a reviewer

[2020-06-12 00:13] KristinaRiemer commented on #2247
@whedon add @katmratliff as reviewer

[2020-06-12 00:13] whedon commented on #2247
OK, @katmratliff is now a reviewer

[2020-06-12 00:14] KristinaRiemer commented on #2247
@whedon start review

[2020-06-12 00:14] whedon opened #2328 "[REVIEW]: CollatriX: A GUI to collate MorphoMetriX outputs"
**Submitting author:** @cbirdferrer (<a href="http://orcid.org/0000-0001-7763-7761">Clara Bird</a>)
**Repository:** <a href="https://github.com/cbirdferrer/collatrix" target ="_blank">https://github.com/cbirdferrer/collatrix</a>
**Version:** v1.0.5
**Editor:** @KristinaRiemer
**Reviewer:** @evaristor, @katmratliff
**Archive:** <a href="https://doi.org/10.5281/zenodo.3937611" target="_blank">10.528

[2020-06-12 00:14] whedon commented on #2247
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2328.

[2020-06-12 00:14] #2247 closed

[2020-06-12 00:14] whedon commented on #2328
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @evaristor, @katmratliff it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-06-12 00:14] whedon commented on #2328
[code]

[2020-06-12 00:15] whedon commented on #2328
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02328/joss.02328/10.21105.joss.02328.pdf)

[2020-06-12 00:21] arfon commented on #2319
@whedon generate pdf

[2020-06-12 00:21] whedon commented on #2319
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02319/joss.02319/10.21105.joss.02319.pdf)

[2020-06-12 00:45] arfon commented on #1865
@shirubana - this should be updated now although the PDF may take a while to update as it's cached.

[2020-06-12 00:45] #1865 closed

[2020-06-12 00:45] aslakbergersen commented on #2089
Hi @chennachaos, I apologize for the delay. See below for answers to your comments.

Thank you for your diligence. We have added a note that recommends users to install miniconda over the full anaconda, and provide the following [link](https://docs.conda.io/projects/conda/en/latest/user-guide/install/download.html#anaconda-or-miniconda) for users to learn more about the difference.

To make it eas

[2020-06-12 00:45] whedon commented on #1865
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01865/status.svg)](https://doi.org/10.21105/joss.01865)

**We need your help!**

Journal of Open Source Softwa

[2020-06-12 03:28] Xunius commented on #2197
@kbarnhart
Based on your comments I have made some further changes:
1. added 2 environment files and instructions for creating the conda envs with them.
2. things in `PARAM_DICT` are now function keyword arguments, function calls are changed to `func(..., **PARAM_DICT)`. The dict name being spelled using capitals does not make it "hard coded", and I wonder how much of a difference this makes.
3. I

[2020-06-12 05:51] hugoledoux commented on #2184
@flammie could you help clarify here?

[2020-06-12 08:28] mstimberg commented on #2238
Hi @majensen, looks very interesting, would be happy to review it!

[2020-06-12 08:44] labarba commented on #2321
@gastonbecerra -- After a pre-review of your submission, and an assessment by the editorial board at large, we find that it does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). In particular, while the software seems useful, it falls under the 'Minor utility' category, and we therefore decided not to put it through review.

Tha

[2020-06-12 08:45] #2321 closed

[2020-06-12 08:48] labarba commented on #2321
@whedon reject

[2020-06-12 08:48] whedon commented on #2321
Paper rejected.

[2020-06-12 08:50] labarba commented on #2322
@mustafaozen -- After a pre-review of your submission, and an assessment by the editorial board at large, we find that it does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). In particular, while the software seems useful, it falls under the 'Minor utility' category, and we therefore decided not to put it through review.

Thank

[2020-06-12 08:50] labarba commented on #2322
@whedon reject

[2020-06-12 08:50] whedon commented on #2322
Paper rejected.

[2020-06-12 08:50] #2322 closed

[2020-06-12 09:50] labarba commented on #2229
@guidogz -- After a pre-review of your submission, and an assessment by the editorial board at large, we find that it does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). In particular, it was found to be out-of-scope as not research software, and we therefore decided not to put it through review.

The assessment by our editors

[2020-06-12 09:50] labarba commented on #2229
@whedon reject

[2020-06-12 09:50] whedon commented on #2229
Paper rejected.

[2020-06-12 09:50] #2229 closed

[2020-06-12 09:51] HajkD commented on #2170
Dear @arfon

Thank you for generating the article proof. I can confirm that the text and formatting are correct and as they are supposed to be. Just a very quick question: Would it be possible to rotate __Figure 1__? Is there a way I can control the figure rotation in the Markdown file? I was trying a few LateX tricks, but they didn't work. This isn't absolutely necessary, but would make the manus

[2020-06-12 09:58] whedon opened #2329 "[PRE REVIEW]: CEST: A Centroid Extractor for Star Trackers"
**Submitting author:** @mgm8 (<a href="http://orcid.org/0000-0003-4889-6021">Gabriel Marcelino</a>)
**Repository:** <a href="https://github.com/mgm8/cest" target ="_blank">https://github.com/mgm8/cest</a>
**Version:** v0.1.0
**Editor:** @dfm
**Reviewer:** Pending
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOS

[2020-06-12 09:58] whedon commented on #2329
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-12 09:59] whedon commented on #2329
[code]

[2020-06-12 09:59] whedon commented on #2329
[code]

[2020-06-12 09:59] whedon commented on #2329
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02329/joss.02329/10.21105.joss.02329.pdf)

[2020-06-12 10:00] whedon opened #2330 "[PRE REVIEW]: catwoman: A transit modelling Python package for asymmetric light curves"
**Submitting author:** @KathrynJones1 (<a href="http://orcid.org/0000-0002-2316-6850">Kathryn Jones</a>)
**Repository:** <a href="https://github.com/KathrynJones1/catwoman" target ="_blank">https://github.com/KathrynJones1/catwoman</a>
**Version:** v1.0.4
**Editor:** @xuanxu
**Reviewers:** @christinahedges, @barentsen
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning

[2020-06-12 10:00] whedon commented on #2330
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-12 10:01] whedon commented on #2330
[code]

[2020-06-12 10:02] whedon commented on #2330
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02330/joss.02330/10.21105.joss.02330.pdf)

[2020-06-12 10:06] labarba commented on #2330
Is this JOSS submission to accompany a paper to be published with AAS journals? https://joss.readthedocs.io/en/latest/editing.html#handling-of-papers-published-together-with-aas-publishing

[2020-06-12 10:09] KathrynJones1 commented on #2330
Yes we are going to submit a paper to AJ as well

[2020-06-12 10:15] labarba commented on #2006
I can see in the comments above the rationale for the different author lists in the Zenodo archive and the JOSS paper. But is there any reason why the Zenodo archive title cannot be made to match the JOSS paper archive?

[2020-06-12 10:18] labarba commented on #2177
@whedon accept deposit=true

[2020-06-12 10:18] whedon commented on #2177
[code]

[2020-06-12 10:19] whedon commented on #2177
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1271386690117152768) 👈 🐦🐦🐦

[2020-06-12 10:19] whedon commented on #2177
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1489
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02177](https://doi.org/10.21105/joss.02177)
2. If everything looks g

[2020-06-12 10:24] labarba commented on #2177
Congratulations, @anmolter, your JOSS paper is published! 🚀

Huge thanks to our editor: @hugoledoux, and the reviewers: @Athelena, @fortinma — we couldn't do this without you 🙏

[2020-06-12 10:24] #2177 closed

[2020-06-12 10:24] whedon commented on #2177
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02177/status.svg)](https://doi.org/10.21105/joss.02177)

**We need your help!**

Journal of Open Source Softwa

[2020-06-12 10:29] labarba commented on #1989
Thank you, @story645, we really appreciate your contribution, especially on these troubled times!

@tacaswell — you have a few unchecked items in your review checklist. Can you update us on the status of your review? Many thanks 🙏

[2020-06-12 10:51] majensen commented on #2238
@whedon add @mstimberg as reviewer

[2020-06-12 10:51] whedon commented on #2238
OK, @mstimberg is now a reviewer

[2020-06-12 10:54] majensen commented on #2238
@whedon start review

[2020-06-12 10:54] whedon opened #2331 "[REVIEW]: Flint: a simulator for biological and physiological models in ordinary and stochastic differential equations"
**Submitting author:** @tabe (<a href="http://orcid.org/0000-0002-7074-4561">Takeshi Abe</a>)
**Repository:** <a href="https://github.com/flintproject/Flint" target ="_blank">https://github.com/flintproject/Flint</a>
**Version:** Flint-2.4.0RC1-JOSS
**Editor:** @majensen
**Reviewers:** @mstimberg, @dawbarton
**Archive:** <a href="https://doi.org/10.5281/zenodo.4017040" target="_blank">10.5281/zeno

[2020-06-12 10:54] whedon commented on #2238
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2331.

[2020-06-12 10:54] #2238 closed

[2020-06-12 10:54] whedon commented on #2331
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @funasoul, @mstimberg it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-06-12 10:55] whedon commented on #2331
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02331/joss.02331/10.21105.joss.02331.pdf)

[2020-06-12 10:56] chennachaos commented on #2089
Hi @aslakbergersen. Thank you for response and for the changes you made to the code and the documentation.

[2020-06-12 10:56] majensen commented on #2238
@tabe @funasoul @mstimberg looking forward to the review over at issue #2331 - thanks for your time and contribution!

[2020-06-12 10:57] marcosvital commented on #2202
Dear synchon

Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review, once there are enough reviewers, we will move on to a new issue where the review will take place. Right now we have two confirmed reviewers, so if y

[2020-06-12 10:58] marcosvital commented on #2202
Dear @synchon

Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review, once there are enough reviewers, we will move on to a new issue where the review will take place. Right now we have two confirmed reviewers, so if

[2020-06-12 10:59] marcosvital commented on #2222
Thank you for your quickly reply, @mariacuellar.

[2020-06-12 11:02] marcosvital commented on #2222
@nhejazi , do you have any other potential reviewers to suggest? If you have more than one name, you can list them here without tagging them, and I'll proceed to invite them one by one as we get some responses.

If you don't have anyone else to suggest, let me know, and I'll try to help you finding additional reviewers.

[2020-06-12 11:03] chennachaos commented on #2089
HI @Kevin-Mattheus-Moerman. I now have completed my review.

The authors have addressed all the issues and improved the quality of code, tests and documentation to a satisfactory level.
I recommend the **turtleFSI** library for publication in the JOSS.

Thank you very much for the opportunity!

[2020-06-12 11:12] arfon commented on #2170
Hrmm, I'm not sure sorry @HajkD. I don't think it's possible to rotate with Markdown/Pandoc. Perhaps it has something to do with the figure being a PDF? Could you try converting it to a PNG and see if that preserves the correct rotation?

BTW, you can experiment with paper compilation either here (which creates some notification noise for all parties) or using our preview service at http://whedon.

[2020-06-12 11:14] arfon commented on #2330
@whedon check repository

[2020-06-12 11:15] whedon commented on #2330
[code]

[2020-06-12 11:20] arfon commented on #2330
/ cc @crawfordsm for visibility from AAS.

[2020-06-12 11:52] HajkD commented on #2170
Brilliant! Thank you very much! I will try this option and will come back to all of you soon.

[2020-06-12 12:30] deniederhut commented on #2136
Woohoo! Thanks so much everyone!

[2020-06-12 13:02] kthyng commented on #2018
Hi @ysimillides — will you be able to work on this review? Everything is in disarray right now so it's totally understandable if you won't be able to finish it, but in that case please do let me know so we can get a new reviewer.

[2020-06-12 13:06] kthyng commented on #2199
Hi @zsylvester and @ebgoldstein! Are you willing and interested in reviewing this submission to the Journal for Open Source Software? The reviews are all done openly through GitHub and given the present world circumstances, I'd hope for reviews within about 6 weeks. You can learn more about the review process here: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-06-12 13:11] arfon commented on #2245
:wave: @datenwolf @mstimberg @RainierBarrett - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-12 13:45] synchon commented on #2202
@marcosvital Yeah sure, I'll be happy to review the submission.

[2020-06-12 13:48] KristinaRiemer commented on #2328
@arfon is whedon supposed to auto-assign both reviewers as assignees to the Review issue? It looks like it missed @katmratliff here.

[2020-06-12 14:33] flammie commented on #2184
Yeah, there's no pip package or similar yet, but I can look into making one in near future. The minimum installation is to get dependencies which are packaged and you probably need to run autoreconf and configure to have helper scripts use right program paths. The language models can then be downloaded from latest release instead of compiling anew. The readme improvements are tracked in an issue i

[2020-06-12 14:57] arfon commented on #2328
@KristinaRiemer - Whedon can only do this once the reviewer has accepted the invite (which it looks like they now have). Whedon then updates assignments nightly so by tomorrow the assignments should look correct.

[2020-06-12 15:44] eloisabentivegna commented on #2310
@whedon add @jangmys as reviewer

[2020-06-12 15:44] whedon commented on #2310
OK, @jangmys is now a reviewer

[2020-06-12 16:15] garrettj403 commented on #2266
Hello @edwardoughton,

I have a couple comments on your paper:
- You wrote "... access to disparate user base ...". Do you mean "dispersed user base"?
- I think that "Longley-Rice" should be hyphenated.
- You should check the capitalization of the titles in your references. E.g., "The its irregular terrain model..." should be changed to "The ITS Irregular Terrain Model...".
- The final reference i

[2020-06-12 16:15] samhforbes commented on #2285
I'm going to need to update the version because I've had to resubmit to CRAN (archived due to an older dependency that was fixed prior to peer review here).
@whedon set v0.0.3 as version

Please let me know if there's anything else I can do

[2020-06-12 16:20] mstimberg commented on #2245
:wave: @arfon. I could review from the technical side, but I have only minimal domain knowledge and don't know other software used in this area. I also have a number of reviews lined up, so this is more of an "ok, if you don't find anyone else" rather than an enthusiastic yes :wink:  (the software itself looks pretty impressive though!)

[2020-06-12 16:20] samhforbes commented on #2285
@whedon set v0.0.3 as version

[2020-06-12 16:20] whedon commented on #2285
I'm sorry @samhforbes, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-06-12 16:20] oliviaguest commented on #2285
@whedon set v0.0.3 as version

[2020-06-12 16:20] whedon commented on #2285
OK. v0.0.3 is the version.

[2020-06-12 16:21] oliviaguest commented on #2285
@whedon... you are so very strict! We like you anyway. 😆

[2020-06-12 16:21] whedon commented on #2285
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-12 16:23] datenwolf commented on #2245
I'm okay to review it. However I must stress that any review must clearly indicate my financial interest in Optores. Other than that, I can do it.

[2020-06-12 16:31] dpsanders commented on #2239
👋 Hi @sp94! Thanks for submitting to JOSS and sorry for the delay.

This looks like a very interesting submission. The first thing I notice browsing through is that there are basically no docs. Could you please write some narrative and API documentation? You can use e.g. Documenter.jl for this.

Also the paper is quite short compared to most JOSS papers. Could you please review the requirements, s

[2020-06-12 16:42] danielskatz commented on #2266
Thanks @garrettj403  - if you and @gorlapraveen can add a link to this issue (https://github.com/openjournals/joss-reviews/issues/2266) in any issues you open in the source repo, the will be flagged here and anyone looking at this issue will be able to tell if they are open or closed as well.

[2020-06-12 16:44] danielskatz commented on #2289
👋 @tonyelhabr  - I see you've checked off all the items in your list, which I assume means you didn't find anything that needed to be improved - the submission meets all the required criteria.  Do you have any comments on the paper or software otherwise?

[2020-06-12 16:51] anwarbio commented on #2326
@labarba -- Sorry for the issue. I have now uploaded all the files on GitHub.
Kind regards,
Anwar

[2020-06-12 16:52] kbarnhart commented on #2197
@Xunius thank you for making those changes.

1. I see that you have created new environment files, however, your changes have not addressed my concern regarding use of a package manager but not managing dependencies. Specifically, your environment.yml files still point to the conda-forge distribution of IPART that does not manage the dependencies.

    I will re-state what I said in the prior comm

[2020-06-12 17:03] labarba commented on #2326
@whedon check repository

[2020-06-12 17:04] whedon commented on #2326
[code]

[2020-06-12 17:04] whedon commented on #2326
Failed to discover a valid open source license.

[2020-06-12 17:08] blthayer commented on #2289
@danielskatz - I wanted to check if it's acceptable at this stage to swap out a single reference. Specifically, reference `(Thayer, 2020c)`. That reference refers to my Master's thesis, but the full text will not be publicly available until the Spring of 2022 (delayed release is conventional practice to avoid copyright issues when publishing portions of the thesis in academic journals). I've conde

[2020-06-12 17:08] zsylvester commented on #2199
Hi @kthyng - I will need to learn a bit about the JOSS review process, but yes, I am interested.

[2020-06-12 17:12] labarba commented on #2326
The submission does not currently satisfy our Review Criteria, which require the use of an OSI-approved [Software License](https://joss.readthedocs.io/en/latest/review_criteria.html?highlight=license#software-license).

[2020-06-12 17:22] danielskatz commented on #2289
Until this is published, any changes are up to you, though you should let the reviewers know what you are changing and why.

[2020-06-12 17:31] whedon opened #2332 "[PRE REVIEW]: stella: Convolutional Neural Networks for Flare Identification in TESS"
**Submitting author:** @afeinstein20 (<a href="http://orcid.org/0000-0002-9464-8101">Adina Feinstein</a>)
**Repository:** <a href="https://github.com/afeinstein20/stella" target ="_blank">https://github.com/afeinstein20/stella</a>
**Version:** v0.0.5
**Editor:** @arfon
**Reviewers:** @pearsonkyle, @RuthAngus
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due t

[2020-06-12 17:32] whedon commented on #2332
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-12 17:32] whedon commented on #2332
[code]

[2020-06-12 17:32] whedon commented on #2332
[code]

[2020-06-12 17:32] whedon commented on #2332
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02332/joss.02332/10.21105.joss.02332.pdf)

[2020-06-12 17:33] whedon opened #2333 "[PRE REVIEW]: rsudp: A Python package for real-time seismic monitoring with Raspberry Shake instruments"
**Submitting author:** @iannesbitt (<a href="http://orcid.org/0000-0001-5828-6070">Ian Nesbitt</a>)
**Repository:** <a href="https://github.com/raspishake/rsudp" target ="_blank">https://github.com/raspishake/rsudp</a>
**Version:** v1.0.1
**Editor:** @jedbrown
**Reviewers:** @eileenrmartin
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-06-12 17:33] whedon commented on #2333
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-12 17:33] whedon commented on #2333
[code]

[2020-06-12 17:33] whedon commented on #2333
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02333/joss.02333/10.21105.joss.02333.pdf)

[2020-06-12 17:38] labarba commented on #2333
@whedon check repository

[2020-06-12 17:39] whedon commented on #2333
[code]

[2020-06-12 17:40] kbarnhart commented on #2231
@AndresPenuela thank you for your patience as I completed my pre-review screening.

After consulting with the rest of the JOSS editorial board I have come to the decision to reject with encouragement to resubmit. I'll outline my reasoning below, including what I think would need to change in order for a successful re submission. In addition, if you have any questions, concerns, or clarification, p

[2020-06-12 17:41] afeinstein20 commented on #2332
The proof looks good!

[2020-06-12 17:44] danielskatz commented on #2231
@whedon reject

[2020-06-12 17:44] whedon commented on #2231
Paper rejected.

[2020-06-12 17:44] #2231 closed

[2020-06-12 17:47] tonyelhabr commented on #2289
@danielskatz I have no suggestions. I tested all examples in the documentation to verify software functionality. The examples are all non-trivial (with the exception of "Quick Start") and do bear resemblance to real-world usage (from my experience), which is good to see. The paper is concise and meets all of checklist items.

[2020-06-12 17:50] labarba commented on #2258
hi @kullrich -- I am the Associate Editor-in-Chief on rotation this week. I'm going to send this back to you for some more work, because the paper does not meet our expectations. In particular, see the section of our Documentation about the [Software paper](https://joss.readthedocs.io/en/latest/review_checklist.html?highlight=summary#software-paper). We need:

As a non-specialist, your summary is

[2020-06-12 17:59] ebgoldstein commented on #2199
Hi @kthyng,  I can review.

[2020-06-12 18:13] labarba commented on #2261
👋 @bmcfee -- Could you have a look at this submission and let us know if you can handle it as editor?
Title — gobbli: A uniform interface to deep learning for text in Python
[ Article proof](https://github.com/openjournals/joss-papers/blob/joss.02261/joss.02261/10.21105.joss.02261.pdf)

[2020-06-12 18:13] labarba commented on #2261
@whedon invite @bmcfee as editor

[2020-06-12 18:13] whedon commented on #2261
@bmcfee has been invited to edit this submission.

[2020-06-12 18:21] labarba commented on #2262
👋  @terrytangyuan -- Could you have a look at this submission and let us know if you can handle it as editor?
Title — TorchGAN: A Flexible Framework for GAN Training and Evaluation
[Article proof](https://github.com/openjournals/joss-papers/blob/joss.02262/joss.02262/10.21105.joss.02262.pdf)

[2020-06-12 18:21] labarba commented on #2262
@whedon invite @terrytangyuan as editor

[2020-06-12 18:21] whedon commented on #2262
@terrytangyuan has been invited to edit this submission.

[2020-06-12 18:24] terrytangyuan commented on #2262
@whedon assign @terrytangyuan as editor

[2020-06-12 18:24] whedon commented on #2262
OK, the editor is @terrytangyuan

[2020-06-12 18:25] terrytangyuan commented on #2262
Hi @avik-pal, if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2020-06-12 18:36] labarba commented on #2264
👋  @KristinaRiemer — Could you have a look at this submission and let us know if you can handle it as editor?
Title — Exploring meaningful visual effects and quantities of interest from dynamic models through dynamac
Language — R
[Article proof](https://github.com/openjournals/joss-papers/blob/joss.02264/joss.02264/10.21105.joss.02264.pdf)

[2020-06-12 18:37] labarba commented on #2264
@whedon invite @KristinaRiemer as editor

[2020-06-12 18:37] whedon commented on #2264
@KristinaRiemer has been invited to edit this submission.

[2020-06-12 18:47] labarba commented on #2269
👋  @oliviaguest — Could you have a look at this submission and let us know if you can handle it as editor? I realize you are handling four other submissions, but perhaps you can accept this on a 'best effort' basis (we have more than 30 submissions in the backlog).

Title — pypillometry: A Python package for pupillometric analyses
[ Article proof](https://github.com/openjournals/joss-papers/blob/j

[2020-06-12 18:47] labarba commented on #2269
@whedon invite @oliviaguest as editor

[2020-06-12 19:15] oliviaguest commented on #2269
Oh, wow — very similar to: https://joss.theoj.org/papers/65fdd6bc59eb558543282e93140eb31e but in Python! Fun!

[2020-06-12 19:15] oliviaguest commented on #2269
I'm down. 👍

[2020-06-12 19:20] labarba commented on #2269
@whedon assign @oliviaguest as editor

[2020-06-12 19:20] whedon commented on #2269
OK, the editor is @oliviaguest

[2020-06-12 19:37] diehlpk commented on #2317
@yangbai90 Can you please let me know if you finished your review?

[2020-06-12 19:42] danielskatz commented on #2269
👋 @oliviaguest - just as a reminder, you can make it easier for the AEiC: if you are willing to edit a submission, issue ```@whedon assign me as editor```, and remove the waitlisted label if there is one.

[2020-06-12 19:48] oliviaguest commented on #2269
Aha, I did not know this, @danielskatz. Ta!

[2020-06-12 20:05] bmcfee commented on #2261
@whedon assign @bmcfee as editor

[2020-06-12 20:05] whedon commented on #2261
OK, the editor is @bmcfee

[2020-06-12 20:16] bmcfee commented on #2261
:wave: @jasonnance The repo, license, and scope appear to be in order.  I'll get cracking on finding some reviewers for this submission.  Do you have any suggestions for potential reviewers?

[2020-06-12 20:22] blthayer commented on #2289
@danielskatz - thank you!
@tonyelhabr - thanks again for your review!

@tonyelhabr, @robinroche - please see [this comment](https://github.com/openjournals/joss-reviews/issues/2289#issuecomment-643388272) with regards to a very minor tweak I plan to make to a reference contained in the paper. I plan to make the reference change early next week (pending approval from arXiv).

I hope you all have gr

[2020-06-12 20:52] jasonnance commented on #2261
Thanks, @bmcfee!  I don't have any suggestions for reviewers.

[2020-06-12 21:04] robinroche commented on #2289
@blthayer
I installed ESA without any issue and I am currently going through the quick start steps.
I get the following error:

[code]
The problem appears to be with the last line of:
[code]
The warning seems normal as I am using PWS17.
For the parsing error, I suspect (but I may be wrong) that it may be related to the fact that I am using Windows 10 in French, for which the decimal point is actua

[2020-06-12 21:10] anwarbio commented on #2326
Hi, I have updated the software License as GPL 3.  Hope this will be fine.
Regards,
Anwar

[2020-06-12 21:26] shah314 commented on #2290
@whedon generate pdf from branch joss-paper-v1.5.1

[2020-06-12 21:26] whedon commented on #2290
[code]

[2020-06-12 21:27] whedon commented on #2290
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02290/joss.02290/10.21105.joss.02290.pdf)

[2020-06-12 21:45] oliviaguest commented on #2269
@whedon add @samhforbes as reviewer

[2020-06-12 21:45] whedon commented on #2269
OK, @samhforbes is now a reviewer

[2020-06-12 22:53] lpantano commented on #2221
@whedon add  @erinyoung as reviewer

[2020-06-12 22:53] whedon commented on #2221
OK,  @erinyoung is now a reviewer

[2020-06-12 22:56] lpantano commented on #2221
@whedon check references

[2020-06-12 22:57] whedon commented on #2221
[code]

[2020-06-12 23:03] lpantano commented on #2221
@whedon start review

[2020-06-12 23:03] whedon opened #2334 "[REVIEW]: SneakerNet: A modular quality assurance and quality check workflow for primary genomic and metagenomic read data"
**Submitting author:** @lskatz (<a href="http://orcid.org/0000-0002-2533-9161">Lee Katz</a>)
**Repository:** <a href="https://github.com/lskatz/SneakerNet" target ="_blank">https://github.com/lskatz/SneakerNet</a>
**Version:** v0.19.7
**Editor:** @lpantano
**Reviewers:** @lfaller, @erinyoung, @druvus
**Archive:** <a href="https://doi.org/10.5281/zenodo.4657026" target="_blank">10.5281/zenodo.46570

[2020-06-12 23:03] whedon commented on #2221
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2334.

[2020-06-12 23:03] #2221 closed

[2020-06-12 23:03] whedon commented on #2334
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lfaller, @ @erinyoung it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-06-12 23:03] whedon commented on #2334
[code]

[2020-06-12 23:04] whedon commented on #2334
PDF failed to compile for issue #2334 with the following error:

 pandoc-citeproc: reference erinyoung not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.345 }

Looks like we failed to compile the PDF

[2020-06-12 23:20] blthayer commented on #2289
@robinroche - thank you for bringing up this issue!

I agree - the warning you received is to be expected.

I have added support for comma-delimited decimal numbers. If you would like to get your hands on the changes right away, you can install ESA from source from our `develop` branch (found [here](https://github.com/mzy2240/ESA/tree/develop)).

Alternatively, I have submitted a pull request to b

[2020-06-13 01:23] nhejazi commented on #2222
Thanks for pinging @marcosvital. A longer "short-list" of potential reviewers might include any of @robohyun66, @mdogucu, @acolum, @noamross, @borishejblum, @corinne-riddell, @jenniferthompson, @Jminnier, @klmedeiros, @malcolmbarrett. Beyond these suggestions, I could definitely use help in identifying additional reviewers, @marcosvital.

[2020-06-13 01:30] mdogucu commented on #2222
I am not available to review unfortunately.

[2020-06-13 03:25] Xunius commented on #2197
@kbarnhart please checkout the new changes:
1. the environment files are re-created using `--from-history` flag, and without the `prefix`. It only includes direct dependencies.
2. Minor edits in `paper.md`.

[2020-06-13 04:11] shah314 commented on #2290
I have been struggling with installing the packages. I was able to install all dependencies (including audi), but the dcgp code is unable to find audi. To install audi from source, I installed all dependencies (including obake), but it is unable to find obake.

Is it possible to write a shell script with the steps needed to install everything? You may be aware of conda command line options that mi

[2020-06-13 04:14] acolum commented on #2222
Unfortunately, I'm not available for review either.

[2020-06-13 08:29] robinroche commented on #2289
@blthayer thanks, I'll try the new version as soon as it is released then.

[2020-06-13 13:02] mbkumar commented on #2293
Completed the review and my recommendation is publish as it is.

The manuscript is well written and the software was coded well with best practices.

@pdebuyl
Could you please send me an email acknowledging the completion of review for my record?

[2020-06-13 13:19] arfon commented on #2245
OK, thanks for letting me know @datenwolf. I'd rather not avoid this conflict it at all possible.

[2020-06-13 14:06] kullrich commented on #2258
Dear Lorena A. Barba,

I will try to make this more clear in the summary.

However, I wonder since the CRBH algorithm and its python implementation was published in JOSS, however the python implementation is not functional at the moment, which is one reason why I ported the whole pipeline into R introducing additional features and downstream functionality.

Here is the original paper:
https://joss

[2020-06-13 14:28] labarba commented on #2258
You can work on your paper in-place. No need for a new submission.

Like in every journal, peer-review is done by humans, and both editors and reviewers interpret the journal's policies somewhat differently. As the Associate Editor-in-Chief who processed this incoming submission, all I can say is that your paper is hard to understand for a non-specialist like me, and thus it's hard for me to match

[2020-06-13 15:03] kullrich commented on #2258
Dear Lorena A. Barba,

thank you for your quick response.

It is good to know that I can directly work on the paper without resubmitting.

I hope that I can make it more clear and will extend the summary and audience part.

The software is a bioinformatic tool for population and evolutionary biologist, comparing nucleotide sequences from different species or from the same species to each other (or

[2020-06-13 15:50] darioizzo commented on #2290
I cannot reproduce your issue. @shah314 can you post the exact conda command you are issuing? From the environment creation. The following for example:

[code]

also maybe we can move this in the dcgp GitHub issues?

[2020-06-13 19:00] shah314 commented on #2290
I was missing the environment creation. I am now able to install the package and run the python tests. Continued on the git issues page. Thanks.

[2020-06-13 19:02] YoungFaithful commented on #2034
Hi @ali-ramadhan,
thanks for your detailed review, the pull requests you prepared and issues you posted. I included your feedback and recommendations in a new update. Are you able to check off the items after whedon assigned you?

[2020-06-13 19:02] YoungFaithful commented on #2034
@whedon generate pdf from branch paper

[2020-06-13 19:02] whedon commented on #2034
[code]

[2020-06-13 19:03] whedon commented on #2034
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02034/joss.02034/10.21105.joss.02034.pdf)

[2020-06-13 19:30] HajkD commented on #2170
Dear @arfon

The trick worked like a charm!

Thank you so much for your help with this!

I added the PNG figure change to the Markdown file. The manuscript is perfect now.

Many thanks,
Hajk

[2020-06-13 19:50] whedon opened #2335 "[PRE REVIEW]: HPX - The C++ Standard Library for Parallelism and Concurrency"
**Submitting author:** @diehlpk (<a href="http://orcid.org/0000-0003-3922-8419">Patrick Diehl</a>)
**Repository:** <a href="https://github.com/STEllAR-GROUP/hpx" target ="_blank">https://github.com/STEllAR-GROUP/hpx</a>
**Version:** 1.4.1
**Editor:** @danielskatz
**Reviewers:** @bhatele, @davidbeckingsale
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to t

[2020-06-13 19:50] whedon commented on #2335
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-13 19:51] whedon commented on #2335
PDF failed to compile for issue #2335 with the following error:

 Can't find any papers to compile :-(

[2020-06-13 20:08] labarba commented on #2273
👋 @karthik — Could you have a look at this submission and let us know if you can handle it as editor? Perhaps you can accept this on a 'best effort' basis (we have more than 30 submissions in the backlog).

Title: _memr: An R package for medical free-text records embedding and visualization_

[2020-06-13 20:12] labarba commented on #2288
👋  @skhilton -- you've provided a link to a repository that contains _just the paper_. We expect a repository containing _the code_, with the paper contained within. Can you re-arrange things?

[2020-06-13 20:20] labarba commented on #2273
@whedon invite @karthik ad editor

[2020-06-13 20:20] whedon commented on #2273
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-13 20:20] labarba commented on #2273
@whedon invite @karthik as editor

[2020-06-13 20:20] whedon commented on #2273
@karthik has been invited to edit this submission.

[2020-06-13 20:39] kullrich commented on #2258
@whedon <https://github.com/whedon> generate pdf
--
Kristian Ullrich, Ph.D.
Scientific IT group
Department of Evolutionary Genetics
Max Planck Institute for Evolutionary Biology
August Thienemann Str. 2
24306 Plön
Germany
+49 4522 763 313
ullrich@evolbio.mpg.de

--
CONFIDENTIALITY NOTICE:
The contents of this email message and any attachments are intended solely for the addressee(s) and may contai

[2020-06-13 20:39] whedon commented on #2258
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-13 20:40] kullrich commented on #2258
@whedon generate pdf

[2020-06-13 20:41] whedon commented on #2258
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02258/joss.02258/10.21105.joss.02258.pdf)

[2020-06-13 20:45] wdduncan commented on #2168
I did another run through the documentation on github. It is looking much better! I really like the figure at the bottom :)

However, I still have issues/comments:
* In the help section on https://github.com/sap218/jabberwocky there is a typo in:
`-t, --textfile TEXT   **JSON ot TXT** file of text you want annotate. [required]` --> JSON **or** TXT file

* In the [scenario](https://github.com/sap21

[2020-06-13 21:01] kullrich commented on #2258
Dear Lorena A Barba,

I worked on the paper and hope that it now meet your journal expectations.

Summary:

I added a more clear description what Conditional Reciprocal Best Hit approach is about and that it builds on a common task in comparative genomics, namely RBH and ortholog detection.

"The Reciprocal Best Hit (RBH) approach is commonly used in bioinformatics to show that
two sequences evolv

[2020-06-14 01:09] arfon commented on #2332
:wave: @afeinstein20. Does this JOSS submission accompany a paper in a AAS journal?

[2020-06-14 02:04] mgm8 commented on #2329
@whedon generate pdf

[2020-06-14 02:04] whedon commented on #2329
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02329/joss.02329/10.21105.joss.02329.pdf)

[2020-06-14 07:37] yangbai90 commented on #2317
Hi @diehlpk, on my side, the paper is ready for publishing.

[2020-06-14 12:33] whedon opened #2336 "[PRE REVIEW]: GFF2MSS: GFF3 converter for submission to DNA Data Bank of Japan"
**Submitting author:** @maedat (<a href="http://orcid.org/0000-0003-4185-0135">Taro Maeda</a>)
**Repository:** <a href="https://github.com/maedat/GFF2MSS" target ="_blank">https://github.com/maedat/GFF2MSS</a>
**Version:** v4.0.9
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pande

[2020-06-14 12:33] whedon commented on #2336
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-14 12:34] whedon commented on #2336
PDF failed to compile for issue #2336 with the following error:

 Can't find any papers to compile :-(

[2020-06-14 12:34] whedon opened #2337 "[PRE REVIEW]: CRED-nf online checklist: An R Shiny tool to facilitate completion of the Consensus on the reporting and experimental design of clinical and cognitive-behavioural neurofeedback studies (CRED-nf) checklist"
**Submitting author:** @hugaped (<a href="http://orcid.org/0000-0002-7813-3749">Hugo Pedder</a>)
**Repository:** <a href="https://github.com/hugaped/CRED-nf" target ="_blank">https://github.com/hugaped/CRED-nf</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 p

[2020-06-14 12:34] whedon commented on #2337
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-14 12:34] whedon commented on #2337
[code]

[2020-06-14 12:34] whedon commented on #2337
[code]

[2020-06-14 12:35] whedon commented on #2337
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02337/joss.02337/10.21105.joss.02337.pdf)

[2020-06-14 12:42] sap218 commented on #2168
@wdduncan I looked over your comments:

* I fixed that typo "ot".. now fixed to "or"
* You mentioned that when looking at scenario.md that public_forum.json is not in the catch directory, but the scenario states at the top, "we are running these command in the jabberwocky-test/process directory"
* I mention in the documentation that "-p, --parameter TEXT  parameter for the JSON file text."
* the '

[2020-06-14 12:42] labarba commented on #2249
@LamaTe — After a pre-review of your submission, and an assessment by the editorial board at large, we find that it does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). In particular, while the software seems useful, it fails in this criterion: “The software should be a significant contribution to the available open source soft

[2020-06-14 12:42] labarba commented on #2249
@whedon reject

[2020-06-14 12:42] whedon commented on #2249
Paper rejected.

[2020-06-14 12:42] #2249 closed

[2020-06-14 12:50] labarba commented on #2294
@whedon generate pdf

[2020-06-14 12:50] whedon commented on #2294
PDF failed to compile for issue #2294 with the following error:

 Error reading bibliography ./paper.bib (line 64, column 3):
unexpected "C"
expecting space or ","
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-06-14 12:58] maedat commented on #2336
@whedon generate pdf

[2020-06-14 12:59] whedon commented on #2336
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02336/joss.02336/10.21105.joss.02336.pdf)

[2020-06-14 13:01] maedat commented on #2336
@whedon commands

[2020-06-14 13:01] whedon commented on #2336
Here are some things you can ask me to do:

[code]

[2020-06-14 13:07] labarba commented on #2294
@hope-data-science — you can't have spaces in labels of bibles entries; please fix:
https://github.com/hope-data-science/tidyfst/blob/dc57addcb3629a57c33e874544809acdc869089d/docs/JOSS/paper.bib#L64

[2020-06-14 13:12] hope-data-science commented on #2294
@dvanic Thanks, I've fixed that now. Let me have a try.

[2020-06-14 13:13] hope-data-science commented on #2294
@whedon generate pdf

[2020-06-14 13:13] whedon commented on #2294
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02294/joss.02294/10.21105.joss.02294.pdf)

[2020-06-14 13:16] hugaped commented on #2337
@whedon generate pdf

From: whedon <notifications@github.com>
Sent: 14 June 2020 13:35
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Hugo Pedder <hugo.pedder@bristol.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: CRED-nf online checklist: An R Shiny tool to facilitate completion of the Consensus on the reporting and experim

[2020-06-14 13:16] whedon commented on #2337
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02337/joss.02337/10.21105.joss.02337.pdf)

[2020-06-14 13:28] hope-data-science commented on #2294
@whedon generate pdf

[2020-06-14 13:29] whedon commented on #2294
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02294/joss.02294/10.21105.joss.02294.pdf)

[2020-06-14 13:35] berenger-eu commented on #2203
@poulson , sorry I was not connected for last 2 weeks (new baby at home). I do not have Yoshimichi Github login. I can ask for it, simply let me know if you need anything from my side. Thanks a lot.

[2020-06-14 13:42] wdduncan commented on #2168
@sap218

Sorry. I missed this :)

Yes, I saw that. Sorry, I wasn't clear. What does the `post` mean? Is it different that `post_text`? How is it different than `-p user-text`? E.g.: `bite --textfile social_media_posts.json --parameter user-text`.  Is there a controlled set of terms you use with `-p` flag?

[2020-06-14 13:48] sap218 commented on #2168
@wdduncan

`-p` refers to the field inside the JSON file for the text data, "-p post_text" and "-p user-text" are just two different examples - sorry about this confusion, i will change the README so all examples only refer to one example.

[2020-06-14 14:57] sap218 commented on #2168
@wdduncan I have just fixed the annotation issue regarding the synonyms, I fixed the documentation to explain this:

[2020-06-14 15:03] poulson commented on #2203
Thank you for reaching out to Yoshimichi, @berenger-eu -- that would be very helpful. I will look for other reviewers in the mean time.

[2020-06-14 15:06] poulson commented on #2203
Hi Himanshu (@Himscipy) :wave: -- Bergenger Bramas has recommended you as a reviewer for this submission on a C++ library for parallel fast multipole methods. Would you be interested in serving as a reviewer?

[2020-06-14 15:08] poulson commented on #2203
Hi Sarat (@sarats) :wave: -- Berenger Bramas suggested you would be one of the ideal reviewers for this submission on parallel fast multipole methods (written in C++).

Would you happen to have the time to serve as one of the reviewers?

[2020-06-14 15:17] wdduncan commented on #2168
@sap218 That's helpful. I think letting the users define custom relations is fine too. You just have to be clear about what is going on.

Here's a mapping project you might be interested: https://github.com/OBOFoundry/SSSOM

[2020-06-14 15:20] sap218 commented on #2168
@wdduncan Great! Thank you! Glad I was able to address your concerns! :-)

[2020-06-14 17:17] labarba commented on #2324
@whedon invite @jgostick as editor

[2020-06-14 17:17] whedon commented on #2324
@jgostick has been invited to edit this submission.

[2020-06-14 17:56] vgurianov commented on #2296
@whedon generate pdf

[2020-06-14 17:58] whedon commented on #2296
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02296/joss.02296/10.21105.joss.02296.pdf)

[2020-06-14 18:03] blthayer commented on #2289
@robinroche - the aforementioned changes have been released in ESA version `1.0.4`. I have noted the updates in the [changelog](https://mzy2240.github.io/ESA/html/welcome.html#changelog).

Assuming you installed ESA via pip, the process to upgrade is the same that you used for your initial installation, but you'll need to use pip's `--upgrade` flag. For example:

`python -m pip install --upgrade e

[2020-06-14 19:09] afeinstein20 commented on #2332
Hi @arfon it does! We just received the referee report for that paper.

[2020-06-14 19:18] evaristor commented on #2328
This software will be very useful to the users of MorphoMetriX since it automates the collation of the MorphoMetriX outputs with the aid of a friendly GUI. I suggest the authors make the following **Minor Revisions** before acceptance.

### From the checklist

**[Automated tests](https://github.com/cbirdferrer/collatrix/issues/2):** There are no automated tests. I suggest using [pytest-qt](https:/

[2020-06-14 19:19] arfon commented on #2332
Great! Thanks for letting me know. We'll try and move this quickly along so we can get these published at a similar time.

@afeinstein20 - could you suggest a few names who might be able to give this submission a good review?

[2020-06-14 19:19] arfon commented on #2332
@whedon assign me as editor

[2020-06-14 19:19] whedon commented on #2332
OK, the editor is @arfon

[2020-06-14 19:20] arfon commented on #2332
/ cc @crawfordsm for visibility

[2020-06-14 19:22] arfon commented on #2332
:wave: @RuthAngus - would you be willing to review this submission for JOSS?

[2020-06-14 19:23] arfon commented on #2332
:wave: @warrickball - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html