[2021-11-29 09:11] whedon commented on #3956
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03956/joss.03956/10.21105.joss.03956.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03956/joss.03956/10.21105.joss.03956.pdf) :page_facing_up: :point_left:

[2021-11-29 09:16] eferrea commented on #3956
Hi @oliviaguest, I am here in the new page. Thanks @puolival for reviewing the paper.

[2021-11-29 09:26] will-rowe commented on #3839
Hi @hcdenbakker - just checking in to see how you are getting on?

[2021-11-29 09:45] oliviaguest commented on #3956
Hi all! 👋 Thank you so much @mstimberg, @puolival for accepting to review this. Please read the instructions above. Any questions, feedback on the paper, etc., please post here. Any very code-specific questions, suggestions, etc., please use the issues in the code repo and link to them from this thread, so we can all keep track of them. 🌸

For examples of how this process plays out feel free to sk

[2021-11-29 11:14] ahoshiyar commented on #3828
Thank you @Kevin-Mattheus-Moerman, I see..
However, Zenodo seems to provide only the Creative Commons Attribution licenses. I've found also other JOSS related packages having different repo licenses and Zenodo licenses and was confused.
Could you please give me advice on what to do in this case?

[2021-11-29 11:16] joewandy commented on #3954
@whedon check references

[2021-11-29 11:16] whedon commented on #3954
[code]

[2021-11-29 11:18] joewandy commented on #3954
@whedon generate pdf

[2021-11-29 11:18] whedon commented on #3954
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03954/joss.03954/10.21105.joss.03954.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03954/joss.03954/10.21105.joss.03954.pdf) :page_facing_up: :point_left:

[2021-11-29 11:24] joewandy commented on #3954
Thanks for letting me know. I've fixed those missing DOIs and regenerated the paper.

[2021-11-29 11:57] joewandy commented on #3954
Hello i'd like to suggest the following people as reviewers as I'm aware they have worked on similar things in the past:

MKoesters -- worked on [SMITER](https://www.mdpi.com/2073-4425/12/3/396)
lfnothias -- worked on [MS2Planner](https://academic.oup.com/bioinformatics/article/37/Supplement_1/i231/6319686)
florian-huber -- did a lot of work on deep learning and mass spec data

[2021-11-29 12:27] EtienneCmb commented on #3842
Dear @travisbthomp,

I fixed this morning the warning message by replacing 'is' with '=='

Indeed, as you saw, we are mainly using random data for illustrating the functions

Indeed, both examples were using the develop branch. This morning I pushed the version 0.4.1 of Frites to Pypi, it should works now once updated.

[2021-11-29 12:47] matthieuaussal commented on #3945
Dear Editor,

We can suggest @agramfort, wich is a colleague from INRIA.

Otherwise, from your list, we check people both in Matlab and C++ preferred langage, with a numerical background  :

Applied math :
@junliu2050
@rosoport
@faroukm
@pitsianis
@rosoport

Others (signal processing, mechanics, etc.):
@greatv
@hasantahir
@florian-rosenthal
@somefunagba
@declanol
@ononak
@WalBytes
@AdeBytes

Is it

[2021-11-29 13:18] danielskatz commented on #3618
@whedon set 10.5281/zenodo.5733971 as archive

[2021-11-29 13:18] whedon commented on #3618
OK. <a href="https://doi.org/10.5281/zenodo.5733971" target="_blank">10.5281/zenodo.5733971</a> is the archive.

[2021-11-29 13:18] danielskatz commented on #3618
@whedon recommend-accept

[2021-11-29 13:19] whedon commented on #3618
[code]

[2021-11-29 13:19] whedon commented on #3618
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2772

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2772, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-29 13:24] danielskatz commented on #3618
@whedon accept deposit=true

[2021-11-29 13:24] whedon commented on #3618
[code]

[2021-11-29 13:24] whedon commented on #3618
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1465310795491954697) 👈 🐦🐦🐦

[2021-11-29 13:24] whedon commented on #3618
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2773
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03618](https://doi.org/10.21105/joss.03618)
2. If everything look

[2021-11-29 13:31] danielskatz commented on #3618
Congratulations @michaeltouati (Michael Touati)!!

And thanks to @tclune and @TomGoffrey for reviewing!
We couldn't do this without you

[2021-11-29 13:31] #3618 closed

[2021-11-29 13:31] whedon commented on #3618
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03618/status.svg)](https://doi.org/10.21105/joss.03618)

**We need your help!**

Journal of Open Source Softwa

[2021-11-29 13:32] danielskatz commented on #3871
Even though I'm not in the robotics domain, I'll go ahead and take this to edit

[2021-11-29 13:32] danielskatz commented on #3871
@whedon assign me as editor

[2021-11-29 13:33] whedon commented on #3871
OK, the editor is @danielskatz

[2021-11-29 13:34] danielskatz commented on #3871
👋 @liquidcronos - the next step is to find at least two reviewers.  If you have any suggestions for potential reviewers, please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-11-29 13:35] danielskatz commented on #3856
I'll edit this submission

[2021-11-29 13:35] danielskatz commented on #3856
@whedon assign me as editor

[2021-11-29 13:35] whedon commented on #3856
OK, the editor is @danielskatz

[2021-11-29 13:36] danielskatz commented on #3856
👋 @henrykironde - thanks for volunteering to review - I'll add you, and once we find another reviewer, we'll start the review

[2021-11-29 13:36] danielskatz commented on #3856
@whedon assign @henrykironde as reviewer

[2021-11-29 13:36] whedon commented on #3856
OK, @henrykironde is now a reviewer

[2021-11-29 13:38] danielskatz commented on #3856
👋 @mmmaat - the next step is to find at least two reviewers. We have one already, and need at least one more. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start

[2021-11-29 13:48] mmmaat commented on #3856
Hi @danielskatz, thank you for editing this paper. After a brief search in the reviewers list I fount 6 potential reviewers with expertise in Python and Natural Language Processing (more are available):
* sergioburdisso (Python, NLP)
* chrisbrickhouse (Python, linguistics)
* pzelasko (Python, speech, NLP)
* kmichael08 (Python, NLP)
* proycon (Python, NLP)
* aozorahime (Python, NLP)

[2021-11-29 13:50] danielskatz commented on #3856
👋 @sergioburdisso & @chrisbrickhouse - would one or both of you be willing to review this JOSS submission?

[2021-11-29 13:50] crvernon commented on #3852
@whedon add @mdbartos as reviewer

[2021-11-29 13:50] whedon commented on #3852
OK, @mdbartos is now a reviewer

[2021-11-29 13:52] crvernon commented on #3852
Ok, @mdbartos you should have just received another invite to review this submission.  After you accept, you will have access to the checklist.  Let me know if you have any further questions.

[2021-11-29 13:53] CFGrote commented on #3905
Review started. Installation went ok with minor hickups (will post separate issue later). Running the first example gave me errors, see https://github.com/Magritte-code/Magritte/issues/54. I'd like to see this fixed before I continue.

[2021-11-29 13:55] karthikncsu commented on #3668
Hi @prashjha, I have completed the review. Please let me know if I need to do anything else.

[2021-11-29 14:38] KristinaRiemer commented on #3200
@puruckertom great! Thanks for going over that.

@sandrinecharles let me know if you need anything during that process, and otherwise when you are finished.

[2021-11-29 14:41] raerickson commented on #3444
@marcosvital I only have access to one of the two reviews. (They go to a dark archive I do not have access to and I got a new computer this summer).

Here is one of the reviews:
[201109 fishStan v2 review - APA.pdf](https://github.com/openjournals/joss-reviews/files/7618838/201109.fishStan.v2.review.-.APA.pdf). The reviewer also reviewed an earlier version of the package, where she had more commen

[2021-11-29 15:06] KristinaRiemer commented on #3942
Hi @hongyuanjia! I'm looking for reviewers for your submission now, specifically for folks who have expertise in both R and the relevant domain of your submission. Do you have any suggestions for who I could reach out to that fulfills both of those aspects?

[2021-11-29 15:16] pdebuyl commented on #3917
Thanks all for the very proactive work here! I'll proceed to the editorial steps during the week.

[2021-11-29 15:18] liquidcronos commented on #3871
Hey @danielskatz thanks for the update, I have looked at the list and I found a number of suitable reviewers:
sea-bass, nnadeau, CameronDevine, SeungBack and carlosjoserg

[2021-11-29 15:42] quantumsteve commented on #3953
@whedon generate pdf from branch paper

[2021-11-29 15:42] whedon commented on #3953
[code]

[2021-11-29 15:43] whedon commented on #3953
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03953/joss.03953/10.21105.joss.03953.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03953/joss.03953/10.21105.joss.03953.pdf) :page_facing_up: :point_left:

[2021-11-29 15:55] siara-cc commented on #3919
Hi @gradvohl  I apologise I probably was too eager in pointing out what was available and documented for unit tests and performance measurements.  Surely I was not pushing for undue credit.  I request you to kindly reassess and update the checklist reflecting the shortcomings or if you can let me know what I can do to improve it, I can at least try to earn the valuation given.

[2021-11-29 15:59] hongyuanjia commented on #3942
Hi @KristinaRiemer.

First, thank you for accepting as the editor for my submission!

I went through [the list of JOSS reviewers](https://bit.ly/joss-reviewers) but did not find any R experts that work on this topic. I list folks that work on a similar topic but use python ([znicholls](https://github.com/znicholls)) or R experts that may be a good match for this review, based on their GitHub recor

[2021-11-29 16:04] McWhity commented on #3337
@danclewley: Thank you for the review. I updated the paper (https://github.com/multiply-org/sar-pre-processing/blob/master/docs/paper.pdf).

Main changes are:
- last paragraph of method section was rewritten:

- new Section regarding other python packages was added:

The ESA's SNAP toolbox has been written in Java. For python users the developers provide a python interface called Snappy. However,

[2021-11-29 16:09] gradvohl commented on #3919
Dear @siara-cc ,
Please consider the comment from November/22nd (``In my opinion, everything is ok now. Congrats.`` :clap:) as my last one on this issue. BTW, all items in my Review Checklist are already checked.
Best regards.

[2021-11-29 16:45] chartgerink commented on #3741
Thanks @alexanderfurnas for going through the checklist! Could you provide a short summary for my understanding of your assessment?

@mbod I've tried emailing you about your review - do you have a sense of when I might be able to expect it? We try to aim for a four week turnover time after invitation, and would appreciate any indication. Of course, I understand that there's a pandemic going on and

[2021-11-29 16:48] chartgerink commented on #3904
Thank you all for such an engaged review process! Fantastic to see 😊

@hknd23 there are two open checks on your checklist - are these resolved to your satisfaction based on the author's response? If so, could you mark those as done as well?

@chainsawriot thanks for being so kind to help out with the figure! @JacksonMaxfield feel free to regenerate the PDF when that's ready (you seem to know your

[2021-11-29 16:49] osorensen commented on #3700
I added the pause label, to avoid automatic notifications from `@whedon`, since it seems like this might take some time. We'll remove the label once @a-ws-m is ready.

[2021-11-29 17:01] JacksonMaxfield commented on #3904
@whedon generate pdf

[2021-11-29 17:18] Nikoleta-v3 commented on #3522
@whedon add @vaneseltine as reviewer

[2021-11-29 17:18] whedon commented on #3522
OK, @vaneseltine is now a reviewer

[2021-11-29 17:19] Nikoleta-v3 commented on #3522
👋🏼 @vaneseltine this is the review thread for the paper. Thank you again for agreeing to review this submission! 😃

You have a checklists at the top of this thread with the JOSS requirements 🔝 As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other journals. Our goal

[2021-11-29 17:28] jgostick commented on #3943
@whedon assign @dxm447 as reviewer

[2021-11-29 17:28] whedon commented on #3943
OK, @dxm447 is now a reviewer

[2021-11-29 17:29] linuxscout commented on #3919
ٍSalam,
Add me to this issue to be able to check the checklist.
Thanks

[2021-11-29 17:29] jgostick commented on #3943
@whedon start review

[2021-11-29 17:29] whedon opened #3957 "[REVIEW]: PWSpy: A Python library dedicated to the analysis of Partial Wave Spectroscopic Microscopy data."
**Submitting author:** @nanthony21 (<a href="http://orcid.org/0000-0003-2882-2471">Nicholas Anthony</a>)
**Repository:** https://github.com/BackmanLab/PWSpy
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.0
**Editor:** @jgostick
**Reviewers:** @pr4deepr, @jgostick
**Archive:** 10.5281/zenodo.6381082

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2021-11-29 17:29] whedon commented on #3943
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3957.

[2021-11-29 17:29] #3943 closed

[2021-11-29 17:29] whedon commented on #3957
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dxm447 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2021-11-29 17:30] whedon commented on #3957
PDF failed to compile for issue #3957 with the following error:
[code]

[2021-11-29 17:30] whedon commented on #3957
[code]

[2021-11-29 17:30] jgostick commented on #3957
@whedon add @pr4deepr as reviewer

[2021-11-29 17:31] whedon commented on #3957
OK, @pr4deepr is now a reviewer

[2021-11-29 17:41] gonsie commented on #3905
Thanks @FredDeCeuster, I think the author list you have now is fine, I just wanted to clarify.

[2021-11-29 17:42] sbenthall commented on #3496
@jacobsoj I wonder if you can report back on whether you can finish this review, or if we need to find a replacement.

[2021-11-29 17:50] hknd23 commented on #3904
Hi @JacksonMaxfield and @chartgerink,

I went through the repo one more time and it is looking great! All the necessary items are there, and the instructions are much easier to follow. I have checked off the final 2 items of the list.

[2021-11-29 18:19] SimonMolinsky commented on #2869
Hi @sdesabbata ,

I've found the root cause of the correlogram patterns. It is related to the theoretical variogram parameters (sill and range). If I use parameters from the `gstat` package, I obtain a much closer correlogram. I've updated the notebook with it; you can compare both theoretical models: https://github.com/SimonMolinsky/pyinterpolate-paper/blob/main/paper-examples/example-gstat-compa

[2021-11-29 18:22] diehlpk commented on #3724
@KParas, @srmnitc how is your review going?

[2021-11-29 18:36] danielskatz commented on #3871
Thanks @liquidcronos - note that I've changed the title of this submission to fix a spelling error (seriell should be serial) - Can you do this in the paper.md as well?

[2021-11-29 18:37] danielskatz commented on #3871
👋 @sea-bass & @nnadeau - Would one or both of you be willing to review this JOSS submission?

[2021-11-29 18:43] liquidcronos commented on #3871
Yeah, that the german spelling... Thanks for letting me know, it should be fixed now.

[2021-11-29 18:45] diehlpk commented on #3955
Hey @vijaysm @KParas @krober10nd @cedricchevalier19 would you be interested in reviewing this paper?

[2021-11-29 18:50] JacksonMaxfield commented on #3904
Thanks @hknd23! @chartgerink I think this is now back in your court. Please just let me know what I should do next.

[2021-11-29 18:57] chainsawriot commented on #3904
@JacksonMaxfield Thanks for updating the figure. It looks okay now.

[2021-11-29 18:58] danielskatz commented on #3871
@whedon generate pdf from branch paper

[2021-11-29 18:58] whedon commented on #3871
[code]

[2021-11-29 18:58] whedon commented on #3871
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03871/joss.03871/10.21105.joss.03871.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03871/joss.03871/10.21105.joss.03871.pdf) :page_facing_up: :point_left:

[2021-11-29 18:59] devosmitachatterjee2018 commented on #3680
@hakanfriden

Thank you for your reply.

I started checking the calculations and soon will upload my answer and the corrections.

Best regards
Devosmita

[2021-11-29 19:10] aguspesce commented on #3551
Hello @jedbrown, is there any update on the pre review process of this submission?

cc @danielskatz

[2021-11-29 19:18] meghanrjones commented on #3649
Thanks for addressing our comments. I will take a look at the revisions within the next two weeks and edit the original review checklist as needed.

[2021-11-29 19:28] whedon commented on #3916
:wave: @pkerpedjiev, please update us on how your review is going (this is an automated reminder).

[2021-11-29 19:28] whedon commented on #3916
:wave: @elliothershberg, please update us on how your review is going (this is an automated reminder).

[2021-11-29 19:31] jmschrei commented on #3944
@whedon assign @tpeulen as reviewer

[2021-11-29 19:31] whedon commented on #3944
OK, @tpeulen is now a reviewer

[2021-11-29 19:32] jmschrei commented on #3944
@ebezzam would you be available to review this submission? Thanks!

[2021-11-29 19:43] krober10nd commented on #3955
I'd be interested in reviewing.

[2021-11-29 20:27] danielskatz commented on #3851
I've been reaching out to a lot of people about being potential reviewers, and one has accepted - thanks @jsaw5

[2021-11-29 20:27] danielskatz commented on #3851
I'll add you in the system now, but we won't start the review until we find at least one more reviewer

[2021-11-29 20:28] danielskatz commented on #3851
@whedon assign @jsaw5 as reviewer

[2021-11-29 20:28] whedon commented on #3851
OK, @jsaw5 is now a reviewer

[2021-11-29 20:32] nnadeau commented on #3871
unfortunately i'm not available at the moment

[2021-11-29 20:38] chrisbrickhouse commented on #3856
I would be willing to review

[2021-11-29 20:45] KristinaRiemer commented on #3942
Luckily, we are not limited to the JOSS reviewer list, that list is just a good place to start. Anyone who feels they have the right skill set (and no conflict of interest with the authors) can be a reviewer.

I've reached out to a few folks and I'll use your list too. Thanks!

[2021-11-29 20:48] jarvist commented on #3788
Thanks! I will review the list & contact some potential reviewers by email.

[2021-11-29 20:49] diehlpk commented on #3955
@whedon assign @krober10nd as reviewer

[2021-11-29 20:49] whedon commented on #3955
OK, @krober10nd is now a reviewer

[2021-11-29 20:49] diehlpk commented on #3955
Thanks, I invited you.

[2021-11-29 20:53] danielskatz commented on #3871
👋 @CameronDevine & @SeungBack - Would one or both of you be willing to review this JOSS submission?

[2021-11-29 20:54] danielskatz commented on #3856
Thanks @chrisbrickhouse - I'll add you, and we can get started.

[2021-11-29 20:54] danielskatz commented on #3856
@whedon add @chrisbrickhouse as reviewer

[2021-11-29 20:54] whedon commented on #3856
OK, @chrisbrickhouse is now a reviewer

[2021-11-29 20:55] vijaysm commented on #3955
Hi @diehlpk, sure I should be able to review it in December, before the holidays.

[2021-11-29 20:55] danielskatz commented on #3856
@whedon start review

[2021-11-29 20:55] whedon opened #3958 "[REVIEW]: Phonemizer: Text to Phones Transcription for Multiple Languages in Python"
**Submitting author:** @mmmaat (<a href="http://orcid.org/0000-0001-7586-7133">Bernard</a>)
**Repository:** <a href="https://github.com/bootphon/phonemizer" target ="_blank">https://github.com/bootphon/phonemizer</a>
**Version:** v3.0.1
**Editor:** @danielskatz
**Reviewer:** @henrykironde, @chrisbrickhouse
**Archive:** <a href="https://doi.org/10.5281/zenodo.5791097" target="_blank">10.5281/zenodo

[2021-11-29 20:55] whedon commented on #3856
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3958.

[2021-11-29 20:55] #3856 closed

[2021-11-29 20:55] whedon commented on #3958
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @henrykironde, @chrisbrickhouse it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2021-11-29 20:55] whedon commented on #3958
[code]

[2021-11-29 20:55] whedon commented on #3958
PDF failed to compile for issue #3958 with the following error:
[code]

[2021-11-29 20:56] danielskatz commented on #3958
@whedon generate pdf from branch joss

[2021-11-29 20:56] whedon commented on #3958
[code]

[2021-11-29 20:56] whedon commented on #3958
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03958/joss.03958/10.21105.joss.03958.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03958/joss.03958/10.21105.joss.03958.pdf) :page_facing_up: :point_left:

[2021-11-29 20:56] danielskatz commented on #3958
@henrykironde and @chrisbrickhouse - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer gu

[2021-11-29 21:00] linusseelinger commented on #3076
@pdebuyl I have uploaded MUQ 0.3.2 (the reviewed version) to zenodo: [https://doi.org/10.5281/zenodo.5736508](https://doi.org/10.5281/zenodo.5736508). Should we include fixes introduced as our response to the reviews in the zenodo archive? In that case, can we update the review version number accordingly?

Fixes to the .bib should be ready soon.

[2021-11-29 21:32] jarvist commented on #3757
Still under 'pre review'! I've just emailed a potential reviewer. Finding reviewers with the requisite knowledge has been a challenge.

[2021-11-29 21:52] siara-cc commented on #3919
@gradvohl Thank you for the prompt response and support.
@linuxscout Thank you for accepting to review my submission.  I am not sure the reviews are sequential and assigned automatically or assigned manually. So I defer to @gkthiruvathukal to advise on this.

[2021-11-29 22:05] galessiorob commented on #3877
@whedon generate pdf

[2021-11-29 22:06] whedon commented on #3877
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03877/joss.03877/10.21105.joss.03877.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03877/joss.03877/10.21105.joss.03877.pdf) :page_facing_up: :point_left:

[2021-11-29 22:08] galessiorob commented on #3877
@whedon generate pdf

[2021-11-29 22:09] whedon commented on #3877
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03877/joss.03877/10.21105.joss.03877.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03877/joss.03877/10.21105.joss.03877.pdf) :page_facing_up: :point_left:

[2021-11-29 22:14] galessiorob commented on #3877
@AoifeHughes, @sachsmc, @JonasMoss Thank you so much for lending your expertise and reviewing this paper 🚀

@wlandau The next thing we need from you is to deposit your software in Zenodo and post the DOI here and the most recent version. After that, we can set the final version, generate a final proof, and have an Editor in Chief do the publishing. 🙏

[2021-11-29 22:16] Manolomon commented on #2692
Hello @marcosvital. Sorry for the late response, we are currently working on enhancing the available documentation for the software. It is our priority to fulfill all the remaining requirements and address all the observations so the review process can continue with no further delay.
Best regards

[2021-11-29 22:28] diehlpk commented on #3955
@whedon add  @vijaysm as reviewer

[2021-11-29 22:28] whedon commented on #3955
OK,  @vijaysm is now a reviewer

[2021-11-29 22:29] diehlpk commented on #3955
@whedon start review

[2021-11-29 22:29] whedon opened #3959 "[REVIEW]: Dune-MMesh: The Dune Grid Module for Moving Interfaces"
**Submitting author:** @samuelburbulla (<a href="http://orcid.org/0000-0002-2566-9777">Samuel Burbulla</a>)
**Repository:** https://github.com/samuelburbulla/dune-mmesh/
**Branch with paper.md** (empty if default branch): feature/paper
**Version:** v1.3.2
**Editor:** @diehlpk
**Reviewers:** @krober10nd, @vijaysm
**Archive:** 10.5281/zenodo.6705603

**:warning: JOSS reduced service mode :warning:**

[2021-11-29 22:29] whedon commented on #3955
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3959.

[2021-11-29 22:29] #3955 closed

[2021-11-29 22:29] whedon commented on #3959
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @krober10nd, @ @vijaysm it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-11-29 22:29] whedon commented on #3959
PDF failed to compile for issue #3959 with the following error:
[code]

[2021-11-29 22:29] whedon commented on #3959
[code]

[2021-11-29 22:29] diehlpk commented on #3959
@whedon generate pdf from branch feature/paper

[2021-11-29 22:29] whedon commented on #3959
[code]

[2021-11-29 22:30] whedon commented on #3959
PDF failed to compile for issue #3959 with the following error:
[code]

[2021-11-29 22:30] galessiorob commented on #3859
@chasmani I put together a set of edits for the paper and the readme in [this PR.](https://github.com/chasmani/piecewise-regression/pull/2) Once you've reviewed them please deposit your software in Zenodo and post the DOI and most recent version here. After that, we can set the final version, generate a final proof, and have an Editor in Chief do the publishing.

@vyasr, @htjb, @Ebedthan Thank you

[2021-11-29 22:30] diehlpk commented on #3959
@whedon generate pdf from branch feature/paper

[2021-11-29 22:30] whedon commented on #3959
[code]

[2021-11-29 22:31] whedon commented on #3959
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03959/joss.03959/10.21105.joss.03959.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03959/joss.03959/10.21105.joss.03959.pdf) :page_facing_up: :point_left:

[2021-11-29 23:00] kellyrowland commented on #3773
@whedon set 10.5281/zenodo.5726681 as archive

[2021-11-29 23:00] whedon commented on #3773
OK. <a href="https://doi.org/10.5281/zenodo.5726681" target="_blank">10.5281/zenodo.5726681</a> is the archive.

[2021-11-29 23:01] kellyrowland commented on #3773
@whedon set v1.4.5 as version

[2021-11-29 23:01] whedon commented on #3773
OK. v1.4.5 is the version.

[2021-11-29 23:01] kellyrowland commented on #3773
@whedon generate pdf

[2021-11-29 23:02] whedon commented on #3773
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03773/joss.03773/10.21105.joss.03773.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03773/joss.03773/10.21105.joss.03773.pdf) :page_facing_up: :point_left:

[2021-11-29 23:02] kellyrowland commented on #3773
@whedon check references

[2021-11-29 23:02] whedon commented on #3773
[code]

[2021-11-29 23:05] kellyrowland commented on #3773
@whedon recommend-accept

[2021-11-29 23:05] whedon commented on #3773
[code]

[2021-11-29 23:05] whedon commented on #3773
[code]

[2021-11-29 23:05] whedon commented on #3773
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2774

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2774, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-30 00:38] Cole-Monnahan-NOAA commented on #3444
@marcosvital yeah I'm still available... please advise on how I should proceed.

[2021-11-30 01:02] AP6YC commented on #3671
You've got it; for starters, [PR 46](https://github.com/AP6YC/AdaptiveResonance.jl/pull/46) answers [Issue 24](https://github.com/AP6YC/AdaptiveResonance.jl/issues/24): the target audience within the statement of need.

These and other changes are in `develop` since switching to GitFlow, and I am hoping to make a major release once I have addressed all of the reviewers' concerns and recommendation

[2021-11-30 01:13] AP6YC commented on #3671
[PR 48](https://github.com/AP6YC/AdaptiveResonance.jl/pull/48/) addresses [Issue 41](https://github.com/AP6YC/AdaptiveResonance.jl/issues/41): method redefinition (a bug, but listed here for completeness).

[2021-11-30 01:24] AP6YC commented on #3671
[PR 39](https://github.com/AP6YC/AdaptiveResonance.jl/pull/39) partially addresses [Issue 26](https://github.com/AP6YC/AdaptiveResonance.jl/issues/26): the "Hello World" example. An additional PR will come to clean up the `examples/` directory into the docs, which will also address [Issue 27](https://github.com/AP6YC/AdaptiveResonance.jl/issues/27): basic working examples.

[2021-11-30 01:32] AP6YC commented on #3527
Sure thing! The timeline is ASAP, given that I have slipped a personal deadline for end of the month. After listing the PRs that fix the issues above, I will tackle the remaining items in the checklist.

[2021-11-30 01:35] AP6YC commented on #3527
[PR 9](https://github.com/AP6YC/ClusterValidityIndices.jl/pull/9) solve [Issue 3](https://github.com/AP6YC/ClusterValidityIndices.jl/issues/3): quickstart and usage in the docs and README. This PR also significantly fleshes out the contributing page for the project after implementing GitFlow, also detailing how to contribute modules to the project.

[2021-11-30 01:48] AngryMaciek commented on #3096
Dear @danielskatz and @melissawm,
I still need more time to implement the changes I envison for this library.
Maybe it would be better then if I resubmit to _JOSS_ once everything is finished?

[2021-11-30 01:54] danielskatz commented on #3096
That seems reasonable to me.  @melissawm ?

[2021-11-30 01:58] taless474 commented on #3928
@maxpumperla would you please introduce some potential reviewers?

[2021-11-30 01:59] taless474 commented on #3651
@georgiastuart how is the review going?

[2021-11-30 02:17] MikeKaller commented on #3444
@macrosvital my review was submitted months ago. Is there anything else that I needed to do?

From: Cole Monnahan ***@***.***>
Sent: Monday, November 29, 2021 6:38 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Michael D Kaller ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: fishStan: Hierarchical Bayesian models for fisheries (#3444)

@marcosvital<https://

[2021-11-30 02:35] wlandau commented on #3877
Awesome! I added Zenodo, and the DOI is 10.5281/zenodo.5739330.

[2021-11-30 02:51] SeungBack commented on #3871
Thank you for the suggestions, and I will participate in reviewing this paper.

[2021-11-30 02:59] CameronDevine commented on #3871
@danielskatz Unfortunately I don't have time at the moment.

[2021-11-30 05:43] GaurangTandon commented on #3940
Hi @keichi, I am still going through this project one step at a time. It's a great project! Though, I wanted to discuss regarding "State of the field: Do the authors describe how this software compares to other commonly-used packages" in the software paper. I think your "Design" section is covering both design and comparison to other projects. Is my understanding correct?

[2021-11-30 06:20] galessiorob commented on #3877
@whedon set 10.5281/zenodo.5739330 as archive

[2021-11-30 06:20] whedon commented on #3877
OK. <a href="https://doi.org/10.5281/zenodo.5739330" target="_blank">10.5281/zenodo.5739330</a> is the archive.

[2021-11-30 06:22] galessiorob commented on #3877
@whedon recommend-accept

[2021-11-30 06:22] whedon commented on #3877
[code]

[2021-11-30 06:22] whedon commented on #3877
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2775

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2775, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-30 06:23] whedon commented on #3877
[code]

[2021-11-30 07:59] maxpumperla commented on #3928
hey @taless474, first of all thanks for reaching out - I'm truly sorry I missed your message the first time around.

Going through your list of reviewers, here are a few suggestions (in no particular order): sonal-raj, ahurriyetoglu, marksantcroos, FreddieV4, dghoshal-lbl

[2021-11-30 08:01] maxpumperla commented on #3933
@Kevin-Mattheus-Moerman thanks for letting me know!

[2021-11-30 08:30] jbytecode commented on #3945
👋👋👋 @junliu2050 @rosoport 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "Castor: A C++ library to code "à la matlab". You can find more information at the top of this Github issue (https://github.com/openjournals/joss-

[2021-11-30 09:38] chartgerink commented on #3904
Okay - wow I am loving this specific process 😊 Thank you all for the speed, kindness, and considerateness with which you've gone through this review process 💜

Running final checks now...

[2021-11-30 09:38] chartgerink commented on #3904
@whedon check references

[2021-11-30 09:38] whedon commented on #3904
[code]

[2021-11-30 09:40] chartgerink commented on #3904
This is not a missing DOI as @JacksonMaxfield indicated previously in the pre-review thread (https://github.com/openjournals/joss-reviews/issues/3891#issuecomment-963817116)

[2021-11-30 09:40] chartgerink commented on #3904
@whedon generate pdf

[2021-11-30 09:41] whedon commented on #3904
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03904/joss.03904/10.21105.joss.03904.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03904/joss.03904/10.21105.joss.03904.pdf) :page_facing_up: :point_left:

[2021-11-30 09:43] chartgerink commented on #3904
@JacksonMaxfield I am happy to recommend this paper for publication, based on this review process. Thank you to @chainsawriot and @hknd23 🤗

@JacksonMaxfield could you archive the code on Zenodo/Figshare and provide me with the DOI? I will add it here and then accept it and pass it on to the editor in chief 🥳

[2021-11-30 09:56] jarvist commented on #3325
Dear @ArtVoro ,
Thank you for your patience and apologies for my very late 2nd review! Teaching commitments & sick children have made for a very busy Autumn so far.

I've had a read through your paper, as well as the README.md and landing page of the documentation. I think the text is much improved, and it clearly states what the package does and why someone should be interested in it. As well as

[2021-11-30 10:08] jschlenger commented on #3061
Hi @CBenghi, @hugoledoux , @aothms, @abdoulayediak & @danielskatz

sorry for the late response. We've been struggling with the update to Visual Studio 2019 way longer than we expected, but now everything seems to be working fine.
I went through your comments, and down below, I put a list of your comments together with a response on how and where we tackled the raised issues.
Please take another lo

[2021-11-30 10:10] jschlenger commented on #3061
@whedon generate pdf from branch joss_submission

[2021-11-30 10:10] whedon commented on #3061
[code]

[2021-11-30 10:10] PTierz commented on #3649
Many thanks, @meghanrjones.
Please let us know if you required anything else from us during your review, OK?
Best regards,
Pablo

[2021-11-30 10:10] whedon commented on #3061
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03061/joss.03061/10.21105.joss.03061.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03061/joss.03061/10.21105.joss.03061.pdf) :page_facing_up: :point_left:

[2021-11-30 10:35] chasmani commented on #3859
Thanks @galessiorob for your input. I merged most of your suggestions. Thank you especially for the contribution guidelines. And thank you again to the reviewers.

I just depositied the software on zenodo and made a new release on Github.

- Zenodo DI is DOI: 10.5281/zenodo.5742317
https://zenodo.org/account/settings/github/repository/chasmani/piecewise-regression
- Version number is 1.2.0.
https:

[2021-11-30 10:45] dilawar commented on #3631
MMM is a very high-quality library with an excellent user and API documentation. The repository follows state-of-the-art DevOps. The library is a step towards a critical and hard problem of validating assumptions and discovering missing parameters while modeling a complex system. The library can also serve as a very useful pedagogical tool in Ecology class (I'd have certainly enjoyed seeing some s

[2021-11-30 11:05] linuxscout commented on #3919
I still not able to edit  (check) my reviewer checklist

[2021-11-30 11:26] linuxscout commented on #3919
Some review features need explanaition:
Documentation

- [ ] Installation instructions: need to be explained, but in this case, the author provided the C code, and many binding libraries for other languages. I thinks it's sufficient

- [x] Example usage:  the C code is sufficient.

- [] Automated tests: Are there automated tests or manual steps described so that the functionality of the software c

[2021-11-30 11:36] lionel68 commented on #3811
My bad, sorry for not checking this thread than often, but seems good to go now! Congrats @mhesselbarth for your careful and patient improvements.

[2021-11-30 11:58] ArtVoro commented on #3325
@jarvist
thank you very much for your kind words and your help with the review.

You are right with the all caps of GROMACS. I checked all files and fixed all instances in the paper as well as some within the documentation. The updated version is already pushed to the repo.

@jgostick
what are the next steps?

[2021-11-30 11:59] ArtVoro commented on #3325
@whedon generate pdf

[2021-11-30 11:59] whedon commented on #3325
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03325/joss.03325/10.21105.joss.03325.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03325/joss.03325/10.21105.joss.03325.pdf) :page_facing_up: :point_left:

[2021-11-30 12:01] McGregor14 commented on #3270
Yes, thanks all for the feedback. I think I was too focused on the author submission guidelines and should have spent time checking the reviewer checklist to see where the software stood and what was practically required to be classed as open-source. I will do my best to work with the team to fix the issues you have raised and will get back to you once I feel they have been addressed.

Thanks agai

[2021-11-30 12:15] jarvist commented on #3788
@whedon add @AstroBarker as reviewer

Thank you Brandon for agreeing to review. :wave:

[2021-11-30 12:16] whedon commented on #3788
OK, @AstroBarker is now a reviewer

[2021-11-30 12:17] jarvist commented on #3788
OK, I think we are good to go everyone :smile_cat:

[2021-11-30 12:18] jarvist commented on #3788
@whedon start review

Whedon?

[2021-11-30 12:18] whedon opened #3960 "[REVIEW]: SISSO++: A C++ Implementation of the Sure Independence Screening and Sparisifying Operator Approach"
**Submitting author:** @tpurcell90 (<a href="http://orcid.org/0000-0003-4564-7206">Thomas Purcell</a>)
**Repository:** <a href="https://gitlab.com/sissopp_developers/sissopp" target ="_blank">https://gitlab.com/sissopp_developers/sissopp</a>
**Version:** v1.0.0
**Editor:** @jarvist
**Reviewer:** @ml-evs, @AstroBarker
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-11-30 12:18] whedon commented on #3788
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3960.

[2021-11-30 12:18] #3788 closed

[2021-11-30 12:18] whedon commented on #3960
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ml-evs, @AstroBarker it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-11-30 12:18] whedon commented on #3960
Wordcount for `paper.md` is 756

[2021-11-30 12:18] whedon commented on #3960
[code]

[2021-11-30 12:19] whedon commented on #3960
[code]

[2021-11-30 12:19] whedon commented on #3960
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03960/joss.03960/10.21105.joss.03960.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03960/joss.03960/10.21105.joss.03960.pdf) :page_facing_up: :point_left:

[2021-11-30 12:21] jarvist commented on #3960
Thanks for reviewing @AstroBarker and @ml-evs!

Please beware accidentally editing each other's checklists. (I do this all the time.)

What sort of timeline would be acceptable for the first round of review? I think it would be good to get back to the authors before Christmas  / New Year closures if possible.

[2021-11-30 12:23] jarvist commented on #3886
@whedon assign @jarvist as editor

Yep, can do!

[2021-11-30 12:23] whedon commented on #3886
OK, the editor is @jarvist

[2021-11-30 12:23] jarvist commented on #3953
@whedon assign @jarvist as editor

OK, happy to edit this.

[2021-11-30 12:24] whedon commented on #3953
OK, the editor is @jarvist

[2021-11-30 12:24] jarvist commented on #3953
@quantumsteve  - do you have any reviewer suggestions?

[2021-11-30 12:25] jarvist commented on #3886
@tiagoseq do you have any reviewer suggestions? From looking at the fairly specialist problem domain, and the fairly specialist language (Julia), I suppose it might be easiest to find two reviewers with complementary scientific + programming language specific (+ PDE?) skills.

[2021-11-30 12:43] lucydot commented on #3725
@whedon generate pdf

[2021-11-30 12:43] whedon commented on #3725
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03725/joss.03725/10.21105.joss.03725.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03725/joss.03725/10.21105.joss.03725.pdf) :page_facing_up: :point_left:

[2021-11-30 12:45] lucydot commented on #3725
@whedon check references

[2021-11-30 12:46] whedon commented on #3725
[code]

[2021-11-30 12:49] lucydot commented on #3725
Thanks @temken that looks good! 🎈

[2021-11-30 12:49] lucydot commented on #3725
@whedon recommend-accept

[2021-11-30 12:49] whedon commented on #3725
[code]

[2021-11-30 12:49] whedon commented on #3725
[code]

[2021-11-30 12:49] whedon commented on #3725
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2776

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2776, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-30 13:00] lucydot commented on #3898
RE: testing - @dalonsoa are the queries you raised partly answered by the response from @tcaduser (which seems to relate to a C++ testing unit framework) or are you still hoping for more clarification from editorial point of view?

Ideally the Python interface would have automated testing using pytest or similar, however if there are tests that a user can run manually then this is acceptable.

@tc

[2021-11-30 13:02] lucydot commented on #3742
@nasserma do you have a timeline for responding to the reviewer comments? I can see that issues have been raised for each one, though no actions yet taken. If you are unsure how best to proceed, please feel free to discuss and ask questions here.

[2021-11-30 13:08] mhesselbarth commented on #3811
@lionel68 @tretherington
Thanks for all the valuable input!

[2021-11-30 13:26] danielskatz commented on #3871
Thanks @SeungBack - I'll add you in the system, but we won't start the review until we find one more reviewer.

[2021-11-30 13:27] danielskatz commented on #3871
@whedon assign @SeungBack as reviewer

[2021-11-30 13:27] whedon commented on #3871
OK, @SeungBack is now a reviewer

[2021-11-30 13:27] danielskatz commented on #3871
👋 @sea-bass - Would you be willing to review this JOSS submission? (just checking again)

[2021-11-30 13:27] danielskatz commented on #3871
@ carlosjoserg - Would you be willing to review this JOSS submission?

[2021-11-30 13:28] sea-bass commented on #3871
Hi all -- unfortunately I am unable to review at the moment. Thank you for asking!

[2021-11-30 13:28] danielskatz commented on #3919
@whedon re-invite @linuxscout as reviewer

[2021-11-30 13:28] whedon commented on #3919
The reviewer already has a pending invite.

@linuxscout please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-11-30 13:29] danielskatz commented on #3919
@linuxscout - if that doesn't work, let me know (there's a bug that might occur, but we can fix it by inviting you one more time)

[2021-11-30 13:30] danielskatz commented on #3871
👋 @carlosjoserg - Would you be willing to review this JOSS submission?

[2021-11-30 13:31] danielskatz commented on #3919
@whedon re-invite @linuxscout as reviewer

[2021-11-30 13:31] whedon commented on #3919
OK, the reviewer has been re-invited.

@linuxscout please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-11-30 13:34] linuxscout commented on #3919
Ok, It works,
I check all points.
There is one issue to handle, Automated tests.
I wait for author response.
Thanks

[2021-11-30 13:43] pdebuyl commented on #3337
Thank you @McWhity for the update.

[2021-11-30 13:44] pdebuyl commented on #3337
@whedon generate pdf

[2021-11-30 13:44] whedon commented on #3337
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03337/joss.03337/10.21105.joss.03337.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03337/joss.03337/10.21105.joss.03337.pdf) :page_facing_up: :point_left:

[2021-11-30 13:46] meg-simula commented on #3880
@whedon generate pdf

[2021-11-30 13:46] whedon commented on #3880
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03880/joss.03880/10.21105.joss.03880.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03880/joss.03880/10.21105.joss.03880.pdf) :page_facing_up: :point_left:

[2021-11-30 13:47] meg-simula commented on #3880
@whedon check references

[2021-11-30 13:48] whedon commented on #3880
[code]

[2021-11-30 13:50] meg-simula commented on #3880
@cgurrr Thanks for this submission and my apologies for the delay in handling.

If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-11-30 13:51] meg-simula commented on #3880
:wave: @martejulie would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-11-30 14:01] gkthiruvathukal commented on #3919
@linuxscout It looks like you are all set with the checklist now. Thanks for helping us to complete this review. upon hearing from @siara-cc, we should be able to proceed shortly toward acceptance.

[2021-11-30 14:03] martejulie commented on #3880
@meg-simula Absolutely!

[2021-11-30 14:03] meg-simula commented on #3880
@whedon assign @martejulie as reviewer

[2021-11-30 14:03] whedon commented on #3880
OK, @martejulie is now a reviewer

[2021-11-30 14:04] meg-simula commented on #3880
Great @martejulie! I've assigned you as a reviewer now. At least one more reviewer is needed, so feel free to just stay put and await further information.

[2021-11-30 14:18] melissawm commented on #3096
That sounds good to me, thanks for letting us know @AngryMaciek !

[2021-11-30 14:19] jgostick commented on #3325
Hi @ArtVoro, this now looks good.  Well done and thanks for your patience.  A few more items need to be checked-off at this step:

Here is a list of what to do next:

- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.
-

[2021-11-30 14:48] jbytecode commented on #3895
Dear @csinva

Could you please update your status and inform us how are corrections and revisions going?

Thank you in advance.

[2021-11-30 14:50] agramfort commented on #3945
I feel I am too close to @matthieuaussal who is working in the same
institution as me

[2021-11-30 14:52] jbytecode commented on #3945
@agramfort thank you for the response. Hope to work together in other submissions in the future.

[2021-11-30 15:02] fraukewiese commented on #3574
Thanks for the update.

[2021-11-30 15:11] siara-cc commented on #3919
Hi @linuxscout Thank you for pointing out this.  It was probably not clearly mentioned in README.md, but I have made a separate section now:

[Automated tests](https://github.com/siara-cc/Unishox2#unit-tests-automated)

Unit tests are implemented in `run_unit_tests()` function of `test_unishox2.c`, which tests all the features of Unishox2, including edge cases, using 159 strings covering several l

[2021-11-30 15:26] ArtVoro commented on #3325
@jgostick

1.0

10.5281/zenodo.5744760

[2021-11-30 15:26] rkurchin commented on #3812
@yxoos, would you be interested in reviewing this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-11-30 15:32] whedon commented on #3703
PDF failed to compile for issue #3703 with the following error:
[code]

[2021-11-30 15:34] rkurchin commented on #3703
@whedon generate pdf from branch feature/joss_paper

[2021-11-30 15:34] whedon commented on #3703
[code]

[2021-11-30 16:38] JacksonMaxfield commented on #3904
@chartgerink Zenodo now has the CDP cookiecutter archived:

Link: https://doi.org/10.5281/zenodo.5744988
DOI: 10.5281/zenodo.5744988

[2021-11-30 17:02] whedon opened #3961 "[PRE REVIEW]: TEXTLYTICS – the Text Analytics Toolkit"
**Submitting author:** @fabiolobato (<a href="http://orcid.org/0000-0002-6282-0368">Fábio Manoel França Lobato</a>)
**Repository:** <a href="https://github.com/fabiolobato/textlytics" target ="_blank">https://github.com/fabiolobato/textlytics</a>
**Version:** V1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-11-30 17:02] whedon commented on #3961
Wordcount for `paper.md` is 899

[2021-11-30 17:02] whedon commented on #3961
PDF failed to compile for issue #3961 with the following error:
[code]

[2021-11-30 17:02] whedon commented on #3961
[code]

[2021-11-30 17:02] whedon commented on #3961
[code]

[2021-11-30 17:02] whedon opened #3962 "[PRE REVIEW]: hilbertmodgroup: Reduction algorithms and framework for Hilbert Modular Groups"
**Submitting author:** @fredstro (<a href="http://orcid.org/0000-0002-6960-1002">Fredrik Stromberg</a>)
**Repository:** <a href="https://github.com/fredstro/hilbertmodgroup" target ="_blank">https://github.com/fredstro/hilbertmodgroup</a>
**Version:** 1.0
**Editor:** @danielskatz
**Reviewers:** @tbirkandan, @videlec
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

[2021-11-30 17:03] whedon commented on #3962
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-30 17:03] whedon commented on #3962
[code]

[2021-11-30 17:03] whedon commented on #3962
PDF failed to compile for issue #3962 with the following error:
[code]

[2021-11-30 17:03] whedon opened #3963 "[PRE REVIEW]: Kamodo: A functional api for space weather models and data"
**Submitting author:** @asherp (<a href="http://orcid.org/0000-0002-5718-1303">Asher Pembroke</a>)
**Repository:** <a href="https://github.com/EnsembleGovServices/kamodo-core" target ="_blank">https://github.com/EnsembleGovServices/kamodo-core</a>
**Version:** 21.10.0
**Editor:** @dfm
**Reviewers:** @dstansby, @samaloney
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warni

[2021-11-30 17:03] whedon commented on #3963
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-30 17:03] whedon commented on #3963
Wordcount for `paper.md` is 1439

[2021-11-30 17:03] whedon commented on #3963
[code]

[2021-11-30 17:04] whedon commented on #3963
[code]

[2021-11-30 17:04] whedon opened #3964 "[PRE REVIEW]: PiSCAT: A Python Package for Interferometric Scattering Microscopy"
**Submitting author:** @po60nani (<a href="http://orcid.org/0000-0002-0724-3158">Houman Mirzaalian Dastjerdi</a>)
**Repository:** <a href="https://github.com/SandoghdarLab/PiSCAT" target ="_blank">https://github.com/SandoghdarLab/PiSCAT</a>
**Version:** 0.1.20
**Editor:** @emdupre
**Reviewers:** @ziatdinovmax, @aquilesC
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warnin

[2021-11-30 17:04] whedon commented on #3964
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-30 17:04] linuxscout commented on #3919
Thanks,
I finished the review.

[2021-11-30 17:04] whedon commented on #3964
[code]

[2021-11-30 17:04] whedon commented on #3963
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03963/joss.03963/10.21105.joss.03963.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03963/joss.03963/10.21105.joss.03963.pdf) :page_facing_up: :point_left:

[2021-11-30 17:04] whedon commented on #3964
PDF failed to compile for issue #3964 with the following error:
[code]

[2021-11-30 17:11] kthyng commented on #3962
@whedon generate pdf from branch paper_joss

[2021-11-30 17:11] whedon commented on #3962
[code]

[2021-11-30 17:11] whedon commented on #3962
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03962/joss.03962/10.21105.joss.03962.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03962/joss.03962/10.21105.joss.03962.pdf) :page_facing_up: :point_left:

[2021-11-30 17:15] kthyng commented on #3962
@fredstro Thanks for your submission! Can you give me a little history? Did you bring this code over from another location Nov 16th? Thanks.

[2021-11-30 17:23] siara-cc commented on #3919
Hi @linuxscout Thanks a lot !!

[2021-11-30 17:23] kthyng commented on #3963
@dfm What do you think about editing this submission?

[2021-11-30 17:23] kthyng commented on #3963
@whedon invite @dfm as editor

[2021-11-30 17:23] whedon commented on #3963
@dfm has been invited to edit this submission.

[2021-11-30 17:29] kthyng commented on #3961
Hi @fabiolobato and thanks for your submission. Unfortunately I am [desk rejecting](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) this due to the very small size. Please check out the docs for more detailed info about the imperfect but available proxies we use for estimating "substantial scholarly effort".

[2021-11-30 17:29] kthyng commented on #3961
@whedon reject

[2021-11-30 17:29] whedon commented on #3961
Paper rejected.

[2021-11-30 17:29] #3961 closed

[2021-11-30 17:36] kthyng commented on #3755
@lucass-carneiro Thank you for your patience. Indeed we cannot get ahold of @noatamir so we will recruit a new editor now.

@pdebuyl are you interested in editing this submission?

[2021-11-30 17:36] kthyng commented on #3755
@whedon invite @pdebuyl as editor

[2021-11-30 17:37] jgostick commented on #3325
@whedon set v1.0 as version

[2021-11-30 17:37] whedon commented on #3325
OK. v1.0 is the version.

[2021-11-30 17:38] kthyng commented on #3964
@whedon generate pdf from branch JOSS-paper

[2021-11-30 17:38] whedon commented on #3964
[code]

[2021-11-30 17:38] jgostick commented on #3325
@whedon set 10.5281/zenodo.5744760 as archive

[2021-11-30 17:38] whedon commented on #3325
OK. <a href="https://doi.org/10.5281/zenodo.5744760" target="_blank">10.5281/zenodo.5744760</a> is the archive.

[2021-11-30 17:38] whedon commented on #3964
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03964/joss.03964/10.21105.joss.03964.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03964/joss.03964/10.21105.joss.03964.pdf) :page_facing_up: :point_left:

[2021-11-30 17:40] jgostick commented on #3325
@whedon recommend-accept

[2021-11-30 17:40] whedon commented on #3325
[code]

[2021-11-30 17:40] jgostick commented on #3325
@whedon check references

[2021-11-30 17:41] whedon commented on #3325
[code]

[2021-11-30 17:41] whedon commented on #3325
[code]

[2021-11-30 17:41] whedon commented on #3325
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2777

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2777, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-30 17:41] jgostick commented on #3325
HI @ArtVoro there are just a few dois that need to be fixed in the paper as you can see above.

[2021-11-30 17:53] christinahedges commented on #3922
Hi @florisvb, I spoke with the editorial team, and we agree this is acceptable. I am looking for reviewers for this work, please would you let me know your suggestions for anyone in your field who is not conflicted with this work, and able to give an impartial review.

[2021-11-30 18:04] ArtVoro commented on #3325
@whedon check references

[2021-11-30 18:04] whedon commented on #3325
[code]

[2021-11-30 18:07] chartgerink commented on #3904
@whedon set 10.5281/zenodo.5744988 as archive

[2021-11-30 18:07] whedon commented on #3904
OK. <a href="https://doi.org/10.5281/zenodo.5744988" target="_blank">10.5281/zenodo.5744988</a> is the archive.

[2021-11-30 18:08] chartgerink commented on #3904
@whedon recommend-accept

[2021-11-30 18:08] whedon commented on #3904
[code]

[2021-11-30 18:08] whedon commented on #3904
[code]

[2021-11-30 18:08] whedon commented on #3904
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2778

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2778, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-30 18:16] ArtVoro commented on #3325
@whedon check references

[2021-11-30 18:16] whedon commented on #3325
[code]

[2021-11-30 18:18] kthyng commented on #3773
@kellyrowland and @rneher - thanks for passing this on in such good condition. Looks ready to go!

[2021-11-30 18:18] kthyng commented on #3773
@whedon accept deposit=true

[2021-11-30 18:18] whedon commented on #3773
[code]

[2021-11-30 18:19] whedon commented on #3773
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1465747276077449220) 👈 🐦🐦🐦

[2021-11-30 18:19] whedon commented on #3773
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2779
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03773](https://doi.org/10.21105/joss.03773)
2. If everything look

[2021-11-30 18:29] jgostick commented on #3325
@whedon check references

[2021-11-30 18:29] kthyng commented on #3773
Congrats on your new publication @rneher! Many thanks to editor @kellyrowland and reviewers @kevinlibuit and @DavidNickle for your time, hard work, and expertise!

[2021-11-30 18:29] #3773 closed

[2021-11-30 18:29] whedon commented on #3773
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03773/status.svg)](https://doi.org/10.21105/joss.03773)

**We need your help!**

Journal of Open Source Softwa

[2021-11-30 18:29] whedon commented on #3325
[code]

[2021-11-30 18:29] jgostick commented on #3325
@whedon recommend-accept

[2021-11-30 18:29] whedon commented on #3325
[code]

[2021-11-30 18:30] whedon commented on #3325
[code]

[2021-11-30 18:30] jgostick commented on #3325
Hi @ArtVoro, well done and congrats.  An editor in chief will drop in shortly to make this official!

[2021-11-30 18:30] whedon commented on #3325
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2780

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2780, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-30 18:37] kthyng commented on #3877
Hi @wlandau! I'm here to help wrap up your submission. I see that this was already reviewed by rOpenSci — perhaps your submission is now extra-reviewed! A few notes to start:
1. Please update the metadata in your Zenodo archive so the title and author list exactly match your JOSS paper.
2. Is your software package in beta mode? I notice that the version is 0.0.1, which would imply it's very early

[2021-11-30 18:39] ajstewartlang commented on #3449
@whedon add @fredericgosselin as reviewer

[2021-11-30 18:39] hscannell commented on #3930
We appreciate the consideration @Kevin-Mattheus-Moerman and hope a re-submission is possible in the future. Thanks!

[2021-11-30 18:39] whedon commented on #3449
OK, @fredericgosselin is now a reviewer

[2021-11-30 18:40] ArtVoro commented on #3325
@jgostick thank you very much for your assistance throughout the review.

The proof seems fine. Do we have to use the "@wheadon accept deposit=true" command or is this for the editor in chief?

[2021-11-30 18:40] gkthiruvathukal commented on #3919
@linuxscout and @gradvohl: Thanks for your diligent efforts on these reviews.
@siara-cc Thanks for your responsiveness to the feedback!

For the reviewers, can you please react (simple thumbs up will do) to indicate whether you're ready to recommend this submission for acceptance?

[2021-11-30 18:41] kthyng commented on #3877
@wlandau Also please modify your .bib file to improve the capitalization in your reference list. You can put {} around characters to preserve capitalization. For example (but please look carefully through all references to check for more), R and Bayesian aren't capitalized.

[2021-11-30 18:41] gradvohl commented on #3919
👍🏼

[2021-11-30 18:44] ArtVoro commented on #3325
@jgostick I just realized...will @jarvist not be mentioned as reviewer? Its missing on the proof atleast

[2021-11-30 18:44] kthyng commented on #3725
Hi @temken! I'll help finish publishing your paper. First, can you update the metadata in your Zenodo archive so that the title and author list exactly match your JOSS paper?

[2021-11-30 18:46] kthyng commented on #3725
Paper looks good!

[2021-11-30 18:48] kthyng commented on #3096
Ok @AngryMaciek I will withdraw your submission. When you are able to resubmit, please link to this partial review to provide context. Thank you to reviewers @dvberkel, @nnadeau for your work on this submission.

[2021-11-30 18:48] kthyng commented on #3096
@whendon withdraw

[2021-11-30 18:49] kthyng commented on #3096
@whedon withdraw

[2021-11-30 18:49] whedon commented on #3096
Paper withdrawn.

[2021-11-30 18:49] #3096 closed

[2021-11-30 18:52] jbytecode commented on #3945
@whedon add @mkitti as reviewer

[2021-11-30 18:52] whedon commented on #3945
OK, @mkitti is now a reviewer

[2021-11-30 18:59] fredstro commented on #3962
Hi Kristen,

I first started working on this a long time ago with a first attempt at classes etc. for Hilbert modular groups in
https://github.com/fredstro/psage/tree/master/psage/modform/hilbert
after this I have been working on a local branch in a private git repository on bitbucket.
I only copied everything over to the public GitHub repository on Nov 16 when I felt it was ready enough to be pub

[2021-11-30 19:04] ml-evs commented on #3960
This should be do-able! I will chunk my review into comments on the paper, repo/docs and then the code/usage to minimise any hold ups.

I have had a look at the paper and skimmed relevant parts of the documentation, and have prepared some comments for @tpurcell90 below.

## Paper review

The software paper nicely introduces the exisiting applications of the SISSO approach (primarily in materials s

[2021-11-30 19:05] jbytecode commented on #3945
@whedon generate pdf

[2021-11-30 19:06] whedon commented on #3945
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03945/joss.03945/10.21105.joss.03945.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03945/joss.03945/10.21105.joss.03945.pdf) :page_facing_up: :point_left:

[2021-11-30 19:06] gkthiruvathukal commented on #3919
Great, I will follow up with the next steps later this afternoon, after my Operating Systems lecture!

[2021-11-30 19:22] florisvb commented on #3922
Great! Here are some potential reviewers.

Frank Noe, FU Berlin, ***@***.***
Benjamin Peherstorfer, Courant Institute NYU, ***@***.***
Peter Benner, Magdeburg  ***@***.***
Hayden Schaeffer, Carnegie Mellon, ***@***.***

- Floris

On Tue, Nov 30, 2021 at 9:53 AM Christina Hedges ***@***.***>
wrote:

--
Floris van Breugel   |   http://www.florisvanbreugel.com
Assistant Professor of Mechanical Engine

[2021-11-30 19:30] kthyng commented on #3325
@whedon add @jarvist as reviewer

[2021-11-30 19:30] whedon commented on #3325
OK, @jarvist is now a reviewer

[2021-11-30 19:43] kthyng commented on #3325
@janash, @rosecers I am not sure if you've followed the developments on this JOSS submission after you worked on reviews. In short, we have had another person contribute to the review and it has been found in good enough shape for acceptance. Currently you are both listed as reviewers and we'd like to list you as reviewers in recognition of your efforts here, but understand if you do not wish to b

[2021-11-30 19:46] kthyng commented on #3962
@fredstro Ok that is fine and what I was figuring but wanted to check.

[2021-11-30 19:48] kthyng commented on #3962
@drvinceknight are you interested in editing this submission?

[2021-11-30 19:48] kthyng commented on #3962
@whedon invite @drvinceknight as editor

[2021-11-30 19:48] whedon commented on #3962
@drvinceknight has been invited to edit this submission.

[2021-11-30 19:57] kthyng commented on #3904
Hi @JacksonMaxfield! I'll be helping to wrap up this submission.

I see we have version 3.0 listed at the top of this review issue for your software, but your most recent tag is [0.0.4](https://github.com/CouncilDataProject/cookiecutter-cdp-deployment/releases/tag/v0.0.4). What version should be associated with your JOSS paper?

Also, can you manually update the Zenodo archive metadata so that the

[2021-11-30 20:03] kthyng commented on #3904
@JacksonMaxfield Your paper looks good, but you'll need to preserve capitalization so your reference list is good. You can do this by adding {} around characters in your .bib file in which you want to preserve capitalization. One listing has R and Australia uncapitalized, but please check all carefully.

[2021-11-30 20:12] temken commented on #3725
Hi @kthyng, I updated the metadata of the Zenodo archive.

[2021-11-30 20:16] mkitti commented on #3945
I'm not clear if there is a rendering issue or not, but the figures appear to lack captions.

[2021-11-30 20:21] jbytecode commented on #3945
@mkitti when the review starts, you can address this issue again so the authors corrects the paper so that the figures are linked to the caption.

[2021-11-30 20:31] andyfaff commented on #3935
@rkurchin, yes I'd be happy to carry out a review.

[2021-11-30 20:50] CameronDevine commented on #3871
In case they are interested, in the past I have reviewed similar submissions with @adi3 and @trallard and have had a similar submission of my own reviewed by @bmagyar and @amjaeger17.

[2021-11-30 20:54] janash commented on #3325
Hi @kthyng - yes,I have been following. Thanks to @jarvist for finishing up the review. Please do keep my name on the reviewers list. Thanks

[2021-11-30 20:56] danielskatz commented on #3871
Thanks @CameronDevine!!

[2021-11-30 20:56] danielskatz commented on #3871
👋 @adi3 and @trallard - Would one of you be willing to review this JOSS submission?

[2021-11-30 20:56] danielskatz commented on #3871
👋 @bmagyar and @amjaeger17 - Would one of you be willing to review this JOSS submission?

[2021-11-30 21:12] junliu2050 commented on #3945
Hi, thanks for inviting me. I guess I can try to provide some feedback
based on my background in scientific computing.
Will the review process be anonymous or not? I think I like the idea of
JOSS, but never had any experience with it yet.

On Tue, Nov 30, 2021 at 2:30 AM Mehmet Hakan Satman <
***@***.***> wrote:

[2021-11-30 21:16] kellyrowland commented on #3318
Hi @munkm 👋 friendly reminder to check in here when you can.

[2021-11-30 21:28] JacksonMaxfield commented on #3904
Hey @kthyng! Thanks!

The paper has the correct version, I will push a v3.0.0 tag to the repo later today.

Ahhhh sorry. I used the default GitHub + Zenodo integration. From a brief look, it seems I need to add a `.zenodo.json` file and that should solve it. Will add that tonight as well.

Similarly, will do!

Thanks for the comments.

[2021-11-30 21:29] hcdenbakker commented on #3839
Hi @will-rowe,
Thanks for checking in! Working on it now, had some things coming up that  caused some delays.
-Henk

[2021-11-30 21:46] jedbrown commented on #3314
@whedon check references from branch next

[2021-11-30 21:47] whedon commented on #3314
[code]

[2021-11-30 21:47] whedon commented on #3314
[code]

[2021-11-30 21:48] jedbrown commented on #3314
@whedon generate pdf from branch next

[2021-11-30 21:48] whedon commented on #3314
[code]

[2021-11-30 21:48] wlandau commented on #3877
Hi @kthyng!

I added a custom `.zenodo.json` to the repo to ensure Zenodo generates proper metadata.

It is ready for serious use and back-compatibility is a priority, so I bumped the version to 1.0.0.

Should be fixed now.

[2021-11-30 21:49] whedon commented on #3314
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03314/joss.03314/10.21105.joss.03314.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03314/joss.03314/10.21105.joss.03314.pdf) :page_facing_up: :point_left:

[2021-11-30 21:53] jedbrown commented on #3314
@whedon recommend-accept from branch next

[2021-11-30 21:53] whedon commented on #3314
[code]

[2021-11-30 21:55] whedon commented on #3314
[code]

[2021-11-30 21:56] whedon commented on #3314
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2781

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2781, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-30 22:07] csinva commented on #3895
Thanks for checking in! We're in the process of revisions (sorry for the delay, we just finished the Thanksgiving break here in the US) and should be done with them some time next week.

[2021-11-30 22:10] quantumsteve commented on #3953
We suggest Nick Murphy (namurphy), Sterling Smith (smithsp),  Archis Joglekar (joglekara), Rogerio Jorge (rogeriojorge) or Carsten Fortmann-Grote (CFGrote).

[2021-11-30 22:24] WilkAndy commented on #3314
Confirming that i cannot find any mistakes in the final proof

[2021-11-30 22:38] elliothershberg commented on #3916
@jmschrei I am now starting this review, and found that the invite link for participating expired. Could you invite me a second time?

[2021-11-30 22:48] NoraLoose commented on #3947
@whedon generate pdf

I have added one sentence to the acknowledgments of the paper - hope that was okay!

[2021-11-30 22:49] whedon commented on #3947
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03947/joss.03947/10.21105.joss.03947.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03947/joss.03947/10.21105.joss.03947.pdf) :page_facing_up: :point_left:

[2021-11-30 23:05] jmschrei commented on #3916
Sorry, what invite link do you mean? You only need to go through the checklist above and give feedback in this thread or as issues in the code repository.

[2021-11-30 23:31] elliothershberg commented on #3916
The one in the reviewer instructions: https://github.com/openjournals/joss-reviews/invitations

Because the invitation expired, I'm not able to check items on the list.

[2021-12-01 00:06] pikarpov-LANL commented on #3199
@dfm , @MilesCranmer , @kburns , @Kevin-Mattheus-Moerman - thank you all for helping improve Sapsan framework and the paper. The review process itself has been immensely helpful for myself and my collaborators. This publication will make it much easier to promote Sapsan in the community. Lastly, it will be proudly highlighted in my upcoming dissertation!

[2021-12-01 00:19] jmschrei commented on #3916
@whedon re-invite @elliothershberg as reviewer

[2021-12-01 00:19] whedon commented on #3916
OK, the reviewer has been re-invited.

@elliothershberg please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-01 00:39] yxqd commented on #3935
@rkurchin I would be happy to review this but most of the authors are my colleagues at ORNL and we used to be in the same group. So I think it might be a conflict of interests. Please let me know otherwise

[2021-12-01 01:47] kthyng commented on #3877
@whedon set 10.5281/zenodo.5745858 as archive

[2021-12-01 01:47] whedon commented on #3877
OK. <a href="https://doi.org/10.5281/zenodo.5745858" target="_blank">10.5281/zenodo.5745858</a> is the archive.

[2021-12-01 01:47] kthyng commented on #3877
@whedon set v1.0.0 as version

[2021-12-01 01:47] whedon commented on #3877
OK. v1.0.0 is the version.

[2021-12-01 01:48] kthyng commented on #3325
Thank you @janash!

[2021-12-01 01:48] kthyng commented on #3877
@whedon generate pdf

[2021-12-01 01:49] whedon commented on #3877
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03877/joss.03877/10.21105.joss.03877.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03877/joss.03877/10.21105.joss.03877.pdf) :page_facing_up: :point_left:

[2021-12-01 01:49] kthyng commented on #3877
Ok all looks good, thanks for the changes!

[2021-12-01 01:50] kthyng commented on #3877
@whedon accept deposit=true

[2021-12-01 01:50] whedon commented on #3877
[code]

[2021-12-01 01:50] whedon commented on #3877
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1465860912305389572) 👈 🐦🐦🐦

[2021-12-01 01:50] whedon commented on #3877
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2782
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03877](https://doi.org/10.21105/joss.03877)
2. If everything look

[2021-12-01 01:59] kthyng commented on #3877
Congrats on your new publication @wlandau! Many thanks to editor @galessiorob and reviewers @AoifeHughes, @sachsmc, and @JonasMoss for your time, hard work, and expertise!

[2021-12-01 01:59] #3877 closed

[2021-12-01 01:59] whedon commented on #3877
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03877/status.svg)](https://doi.org/10.21105/joss.03877)

**We need your help!**

Journal of Open Source Softwa

[2021-12-01 02:31] galessiorob commented on #3859
@whedon set v1.2.0 as version

[2021-12-01 02:31] whedon commented on #3859
OK. v1.2.0 is the version.

[2021-12-01 02:32] galessiorob commented on #3859
@whedon set 10.5281/zenodo.5742317 as archive

[2021-12-01 02:32] whedon commented on #3859
OK. <a href="https://doi.org/10.5281/zenodo.5742317" target="_blank">10.5281/zenodo.5742317</a> is the archive.

[2021-12-01 02:32] galessiorob commented on #3859
@whedon generate pdf

[2021-12-01 02:33] whedon commented on #3859
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03859/joss.03859/10.21105.joss.03859.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03859/joss.03859/10.21105.joss.03859.pdf) :page_facing_up: :point_left:

[2021-12-01 02:52] QibangLiu commented on #3668
whedon generate pdf

[2021-12-01 02:52] QibangLiu commented on #3668
@whedon generate pdf

[2021-12-01 02:53] whedon commented on #3668
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03668/joss.03668/10.21105.joss.03668.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03668/joss.03668/10.21105.joss.03668.pdf) :page_facing_up: :point_left:

[2021-12-01 04:15] WilkAndy commented on #3742
Comment: define your physics in Table(1) through equations .  Eg "multi-component reacting NS" might mean lots of things.

Refs https://github.com/uw-comphys/opencmp/issues/9

[2021-12-01 04:50] gmyenni commented on #3220
Yep, we are finally ready to start this up again! Terribly sorry for the huge delay. Thank you so much for your understanding.
We have updated the documentation, and we've updated and tested the vignettes. @FlukeAndFeather hopefully it works for you now?

[2021-12-01 05:39] jgoldfar commented on #3898
I am going through the steps in [this listing](https://github.com/openjournals/joss-reviews/issues/3898#issue-1047430015) in this issue, and have found that I cannot toggle the "check boxes" - is this a problem on my end, or is it because I am not assigned to this issue?

[2021-12-01 06:15] jbytecode commented on #3945
@whedon add @junliu2050 as reviewer

Dear @junliu2050,

The reviewing process will be open and registered. Reviewers use their github usernames as their identity and they are also registered in the paper.

thank you for accepting our invitation.

[2021-12-01 06:15] whedon commented on #3945
OK, @junliu2050 is now a reviewer

[2021-12-01 06:16] jbytecode commented on #3945
@whedon start review

[2021-12-01 06:16] whedon opened #3965 "[REVIEW]: Castor: A C++ library to code "à la matlab""
**Submitting author:** @matthieuaussal (<a href="http://orcid.org/0000-0002-2812-7578">Matthieu Aussal</a>)
**Repository:** https://github.com/leprojetcastor/castor
**Branch with paper.md** (empty if default branch):
**Version:** 1.0
**Editor:** @jbytecode
**Reviewers:** @mkitti, @pitsianis
**Archive:** 10.5281/zenodo.6360120

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-12-01 06:16] whedon commented on #3945
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3965.

[2021-12-01 06:16] #3945 closed

[2021-12-01 06:16] whedon commented on #3965
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mkitti, @junliu2050 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-12-01 06:16] whedon commented on #3965
Wordcount for `paper.md` is 2074

[2021-12-01 06:16] whedon commented on #3965
[code]

[2021-12-01 06:16] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2021-12-01 06:17] whedon commented on #3965
[code]

[2021-12-01 06:21] jbytecode commented on #3965
Dear @mkitti  and  @junliu2050

- This is the review issue. Please ping me if you received this message.
- There are 20 checkbox items for each reviewer. Please follow them and click when you finish the corresping task.
- The review is live, so you can interact with the author(s) and me, open new issues in the software repo, and mention here.
- You can also contribute to software.
- Do not hesitat

[2021-12-01 08:01] jbytecode commented on #3965
Dear @matthieuaussal

I have sent a pull request. It includes the missing DOIs that whedon suggests. Please apply the patch if you are agreed with me.

thank you in advance.

[2021-12-01 08:46] pdebuyl commented on #3076
@whedon set 0.3.2 as version

[2021-12-01 08:46] whedon commented on #3076
OK. 0.3.2 is the version.

[2021-12-01 08:46] pdebuyl commented on #3076
@whedon set 10.5281/zenodo.5736508 as archive

[2021-12-01 08:47] whedon commented on #3076
OK. <a href="https://doi.org/10.5281/zenodo.5736508" target="_blank">10.5281/zenodo.5736508</a> is the archive.

[2021-12-01 08:48] lucydot commented on #3898
Hi @jgoldfar that's weird - you are listed as a reviewer so should have been assigned automatically. I'll try adding you now. Thanks for flagging this up.

[2021-12-01 08:48] lucydot commented on #3898
Ok, I've added you manually, let's see if it works!

[2021-12-01 09:25] chasmani commented on #3859
@galessiorob I'd prefer to keep it lowercase. "piecewise-regression" is the python package name so I wanted to use the python convention of lowercase.

This is common in JOSS, see:
https://joss.theoj.org/papers/10.21105/joss.03619
https://joss.theoj.org/papers/10.21105/joss.03781
https://joss.theoj.org/papers/10.21105/joss.03358

[2021-12-01 09:26] jbytecode commented on #3965
@whedon check references

[2021-12-01 09:27] whedon commented on #3965
[code]

[2021-12-01 09:27] jbytecode commented on #3965
@whedon generate pdf

[2021-12-01 09:28] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2021-12-01 09:36] whedon commented on #3920
:wave: @lassoan, please update us on how your review is going (this is an automated reminder).

[2021-12-01 09:36] whedon commented on #3920
:wave: @deepakri201, please update us on how your review is going (this is an automated reminder).

[2021-12-01 09:39] bmagyar commented on #3871
Happy to review this one!

[2021-12-01 10:06] Bisaloo commented on #3811
Great! Thanks @lionel68 and @tretherington for your valuable comments :pray: .

@mhesselbarth, is everything ready on your side? If so, I'll quickly go through everything one last time today and recommend this paper for acceptance. The editor in chief on rotation will take of the rest after.

[2021-12-01 10:20] pdebuyl commented on #3076
Hi @linusseelinger the paper updates are not important for the zenodo archive, we have the JOSS archived version for that.

I'd like the arXiv citations to have a link and the other citations that have a DOI or a link to be updated though.

[2021-12-01 11:29] travisbthomp opened #3966 "Summary: Has a clear description of the high-level functionality and purpose of the software for a diverse, non-specialist audience been provided?"

[2021-12-01 11:30] whedon commented on #3966
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-12-01 11:30] #3966 closed

[2021-12-01 11:33] travisbthomp commented on #3842
@whedon generate pdf from branch paper

[2021-12-01 11:33] whedon commented on #3842
[code]

[2021-12-01 11:34] whedon commented on #3842
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03842/joss.03842/10.21105.joss.03842.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03842/joss.03842/10.21105.joss.03842.pdf) :page_facing_up: :point_left:

[2021-12-01 11:48] KAClough commented on #3703
Thanks @rkurchin! I will update for these points and then send you the DOI shortly.

[2021-12-01 11:56] wlandau commented on #3877
Thanks everyone for the review!

[2021-12-01 12:08] matthieuaussal commented on #3965
@whedon <https://github.com/whedon> generate pdf

[2021-12-01 12:08] whedon commented on #3965
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-01 12:11] matthieuaussal commented on #3965
@whedon generate pdf

[2021-12-01 12:12] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2021-12-01 12:14] matthieuaussal commented on #3945
@mkitti we forget to define captions, sorry for that. It’s now done!

[2021-12-01 12:20] jbytecode commented on #3945
@matthieuaussal this is the pre-review issue, all issues belong to the paper review is discussed and reported in the review issue.

[2021-12-01 12:28] matthieuaussal commented on #3945
So we do not make any changes until the review report has been sent? (it’s my first submission in joss)

[2021-12-01 12:33] jbytecode commented on #3945
@matthieuaussal please use https://github.com/openjournals/joss-reviews/issues/3965, this issue was closed after we assigned reviewers.

[2021-12-01 13:26] crvernon commented on #3852
@mdbartos were you able to confirm and then access the checklist?

[2021-12-01 13:26] pdebuyl commented on #3755
@whedon assign me as editor

[2021-12-01 13:26] whedon commented on #3755
OK, the editor is @pdebuyl

[2021-12-01 13:27] pdebuyl commented on #3755
Hi @kthyng I'll edit the paper

[2021-12-01 13:34] tcaduser commented on #3898
@jgoldfar, @dalonsoa

I have merged the ``joss`` branch  with the ``r1.7.0`` branch for the latest versions of INSTALL.md, README.md, . . .  The pdf form of the documentation is in ``doc/devsim.pdf`` of the same branch.

[2021-12-01 13:41] Bisaloo commented on #3811
Yes please :+1:, it will probably be easier to review everything

[2021-12-01 13:42] tiagoseq commented on #3886
@whedon check references

[2021-12-01 13:43] whedon commented on #3886
[code]

[2021-12-01 13:43] tiagoseq commented on #3886
@whedon generate pdf

[2021-12-01 13:44] whedon commented on #3886
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03886/joss.03886/10.21105.joss.03886.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03886/joss.03886/10.21105.joss.03886.pdf) :page_facing_up: :point_left:

[2021-12-01 13:55] csoneson commented on #3954
👋🏻   @MKoesters, @florian-huber, @jorainer - would two of you be interested in reviewing this submission for the Journal of Open Source Software (JOSS)?

You can find more information about JOSS and the review process [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) - of course, happy to answer any questions as well.

[2021-12-01 14:18] jgostick commented on #3957
@whedon generate pdf from branch JOSS

[2021-12-01 14:18] whedon commented on #3957
[code]

[2021-12-01 14:19] whedon commented on #3957
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03957/joss.03957/10.21105.joss.03957.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03957/joss.03957/10.21105.joss.03957.pdf) :page_facing_up: :point_left:

[2021-12-01 14:24] jgostick commented on #3957
Hi @nanthony21, I have taken a look at your paper and it has a few shortcomings that you might want to address before the reviewers do.  It's a bit on the short side...I know that the joss paper is not meant to be a full length snooze-fest, but this is an opportunity for you to give an outline of how the code works, like which modules are offered, and maybe a few figures highlighting the output.

[2021-12-01 14:56] devosmitachatterjee2018 commented on #3680
@hakanfriden

1. Yes I agree with your point that that the NRMSE should be calculated only over the missing entries of the true matrix and the imputed matrix.
2. MissForest imputation method is an imputation method based on random forests which takes into account the correlation between the explanatory variables. The random data you used is RndMx.xlsx. This data consists of random elements which a

[2021-12-01 14:57] galessiorob commented on #3859
Totally ok @chasmani 👍

[2021-12-01 14:58] galessiorob commented on #3859
@whedon recommend-accept

[2021-12-01 14:58] whedon commented on #3859
[code]

[2021-12-01 14:58] whedon commented on #3859
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2783

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2783, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-01 14:59] whedon commented on #3859
[code]

[2021-12-01 14:59] galessiorob commented on #3859
@chasmani an editor in chief will do the final publishing.

Congrats!

[2021-12-01 15:13] pdebuyl commented on #3337
@danclewley can you take @McWhity 's update in your review? Please make sure to tick the appropriate checkboxes at the top of this page as appropriate.

[2021-12-01 15:26] diehlpk commented on #3631
@dilawar Thanks for the quick review time.

@wtraylor Could you please have a look by Friday, so we can finalize the paper?

[2021-12-01 15:39] fredstro commented on #3962
Potential reviewers should (for ease of process) have a current SageMath installation.
From the list I would suggest: tbirkandan
Otherwise, for instance:
Samuel Lelièvre <samuel.lelievre@gmail.com>
or maybe
John Cremona  <john.cremona@gmail.com>

[2021-12-01 15:59] jarvist commented on #3886
@whedon invite @rougier as reviewer

OK! Let's ask Nicolas directly here, as he seems to be a regular user of GitHub.

We need at least two reviewers for JOSS. As Nicolas appears to be a domain expert, I suppose someone with PDE / Julia experience would be complementary.

[2021-12-01 15:59] whedon commented on #3886
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-01 16:06] travisbthomp commented on #3842
# Suggestions for paper

After reviewing the paper I would like to make a few comments in the spirit of the review guidelines above.

### Summary
#### Has a clear description of the high-level functionality and purpose of the software for a diverse, non-specialist audience been provided?

The description of the high level functionality is not quite clear.  "Frites provides such an integrated frame

[2021-12-01 16:13] EtienneCmb commented on #3842
Thank you @madvn and @travisbthomp for the comments on the manuscript, I do agree with both of you about the lack of accessibility. I'll work on the manuscript soon to clarify the text and make it as accessible as possible to the non-expert.

[2021-12-01 16:13] rougier commented on #3886
I can review but I might be a bit late (note before end of December I would say)

[2021-12-01 16:16] jarvist commented on #3886
Great! As Tiago has already spoken with you, I presume such a timeline will be fine.

[2021-12-01 16:17] jarvist commented on #3886
@whedon assign @rougier as reviewer

[2021-12-01 16:17] whedon commented on #3886
OK, @rougier is now a reviewer

[2021-12-01 16:19] rougier commented on #3886
@gdetor or @sje30 might be interested in reviewing this as well.

[2021-12-01 16:37] gdetor commented on #3886
@rougier  I could review it

[2021-12-01 16:41] danielskatz commented on #3871
Thanks @bmagyar - I'll add you and we'll get started!

[2021-12-01 16:41] danielskatz commented on #3871
@whedon add @bmagyar as reviewer

[2021-12-01 16:41] whedon commented on #3871
OK, @bmagyar is now a reviewer

[2021-12-01 16:41] danielskatz commented on #3871
@whedon start review

[2021-12-01 16:41] whedon opened #3967 "[REVIEW]: TriP: A Python package for the kinematic modeling of serial-parallel hybrid robots"
**Submitting author:** @liquidcronos (<a href="http://orcid.org/0000-0002-7825-3476">Jan Baumgärtner</a>)
**Repository:** https://github.com/TriPed-Robot/TriP
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.0.3
**Editor:** @danielskatz
**Reviewers:** @SeungBack, @bmagyar
**Archive:** 10.5281/zenodo.6360087

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-12-01 16:41] whedon commented on #3871
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3967.

[2021-12-01 16:41] #3871 closed

[2021-12-01 16:42] whedon commented on #3967
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @SeungBack, @bmagyar it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-12-01 16:42] whedon commented on #3967
[code]

[2021-12-01 16:42] whedon commented on #3967
PDF failed to compile for issue #3967 with the following error:
[code]

[2021-12-01 16:43] danielskatz commented on #3967
@whedon generate pdf from branch paper

[2021-12-01 16:43] whedon commented on #3967
[code]

[2021-12-01 16:43] danielskatz commented on #3967
@whedon check references from branch paper

[2021-12-01 16:43] whedon commented on #3967
[code]

[2021-12-01 16:43] whedon commented on #3967
[code]

[2021-12-01 16:43] whedon commented on #3967
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03967/joss.03967/10.21105.joss.03967.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03967/joss.03967/10.21105.joss.03967.pdf) :page_facing_up: :point_left:

[2021-12-01 16:44] danielskatz commented on #3967
👋 @SeungBack and @bmagyar - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

[2021-12-01 16:53] rosoport commented on #3945
Hi, should be possible I would like to assist in reviewing the paper.
Kind Regards
Rodrigo Portugal

On Tue, Nov 30, 2021, 5:30 AM Mehmet Hakan Satman ***@***.***>
wrote:

[2021-12-01 16:56] jbytecode commented on #3945
@rosoport thank you for your response, however, we have already assigned two reviewers to this submission. Hope we work together in the future.

[2021-12-01 17:23] dbkeitel commented on #3925
Thanks for the clarifications @TomWagg and @arfon , I was not aware of the details of this initiative and from the documentations page I had interpreted the model as more "orthogonal" than this very "parallel" process. Still, thinking as a potential reader / end-user I'd personally find it very confusing to encounter two papers in different journals that overlap so much and even share the title; i

[2021-12-01 17:27] rkurchin commented on #3935
@whedon assign @andyfaff as reviewer

[2021-12-01 17:27] whedon commented on #3935
OK, @andyfaff is now a reviewer

[2021-12-01 17:28] rkurchin commented on #3935
👋 @DanNixon, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-12-01 17:53] jgostick commented on #3325
@rosecers has also given her go-ahead to list her as a reviewer, so this is good-to-go

[2021-12-01 17:57] travisbthomp commented on #3842
## Functionality Review

### Functionality
#### Have the functional claims of the software been confirmed?

It is not currently clear what primary claims should be assessed.  I was able to piece together a possibly-incomplete list from the documentation and accompanying paper.

From the documentation I can see a few things:

1. Frites is a Python toolbox for assessing information-based measures on

[2021-12-01 19:31] ArtVoro commented on #3325
@kthyng just pinging you, since I asume you don't get automatic notifications.

[2021-12-01 20:33] drvinceknight commented on #3867
Thanks @inakleinbottle

[2021-12-01 20:33] drvinceknight commented on #3867
@whedon add @inakleinbottle as reviewer

[2021-12-01 20:33] whedon commented on #3867
OK, @inakleinbottle is now a reviewer

[2021-12-01 20:34] nanthony21 commented on #3957
@jgostick , Thank you for the feedback. I will get started on adding more information to the paper.

[2021-12-01 20:37] drvinceknight commented on #2733
Sorry (again for the delay)! All looks good.

[2021-12-01 20:38] drvinceknight commented on #2733
@whedon set v0.16 as version

[2021-12-01 20:38] whedon commented on #2733
OK. v0.16 is the version.

[2021-12-01 20:39] drvinceknight commented on #2733
@whedon set 10.5281/zenodo.5690283 as archive

[2021-12-01 20:39] whedon commented on #2733
OK. <a href="https://doi.org/10.5281/zenodo.5690283" target="_blank">10.5281/zenodo.5690283</a> is the archive.

[2021-12-01 20:40] drvinceknight commented on #2733
@whedon recommend-accept from branch JOSS

[2021-12-01 20:41] whedon commented on #2733
[code]

[2021-12-01 20:41] whedon commented on #2733
[code]

[2021-12-01 20:41] whedon commented on #2733
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2784

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2784, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-01 20:41] drvinceknight commented on #3867
@whedon start review

[2021-12-01 20:41] whedon opened #3968 "[REVIEW]: retworkx: A High-Performance Graph Library for Python"
**Submitting author:** @IvanIsCoding (<a href="http://orcid.org/0000-0002-8257-2103">Ivan Carvalho</a>)
**Repository:** https://github.com/Qiskit/rustworkx
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** 0.12.0
**Editor:** @drvinceknight
**Reviewers:** @szhorvat, @inakleinbottle
**Archive:** 10.5281/zenodo.7158473

**:warning: JOSS reduced service mode :warning:**

Due

[2021-12-01 20:41] whedon commented on #3867
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3968.

[2021-12-01 20:41] #3867 closed

[2021-12-01 20:41] whedon commented on #3968
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @szhorvat, @inakleinbottle it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-12-01 20:41] whedon commented on #3968
PDF failed to compile for issue #3968 with the following error:
[code]

[2021-12-01 20:42] whedon commented on #3968
[code]

[2021-12-01 20:43] drvinceknight commented on #3867
@szhorvat and @inakleinbottle the review has started over on #3968 where there are instructions and guidance. If you have any queries at all or if there is anything I can assist with please let me know.

[2021-12-01 20:47] junliu2050 commented on #3945
Hi, after carefully reading through the paper, I feel I may not be very
suitable for reviewing such a library since I do not use or develop a
similar package by myself.
Hence you may assign Rodrigo Portugal as 2nd reviewer. Overall it is an
interesting package, but the examples and comparison with similar packages
can be improved.

On Wed, Dec 1, 2021 at 10:56 AM Mehmet Hakan Satman <
***@***.***>

[2021-12-01 20:47] junliu2050 commented on #3965
Hi, after carefully reading through the paper, I feel I may not be very suitable for reviewing such a library since I do not use or develop a similar package by myself.
Hence you may assign Rodrigo Portugal as 2nd reviewer. Overall it is an interesting package, but the examples and comparison with similar packages can be improved.

[2021-12-01 20:51] jbytecode commented on #3965
@rosoport do you still want to review this submission?

[2021-12-01 20:55] jbytecode commented on #3965
@whedon remove @junliu2050 as reviewer

[2021-12-01 20:55] whedon commented on #3965
OK, @junliu2050 is no longer a reviewer

[2021-12-01 21:03] danielskatz commented on #3851
Unfortunately, @jsaw5 is not going to be able to review this, so I'm removing her

[2021-12-01 21:03] danielskatz commented on #3851
@whedon remove @jsaw5 as reviewer

[2021-12-01 21:03] whedon commented on #3851
OK, @jsaw5 is no longer a reviewer

[2021-12-01 21:04] jbytecode commented on #3965
@whedon invite @rosoport as reviewer

[2021-12-01 21:04] whedon commented on #3965
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-01 21:05] jbytecode commented on #3965
@whedon add @rosoport as reviewer

[2021-12-01 21:05] whedon commented on #3965
OK, @rosoport is now a reviewer

[2021-12-01 21:07] jbytecode commented on #3965
@whedon generate pdf

[2021-12-01 21:07] kthyng commented on #3325
Ok, great sounds like the reviewer question is answered fully! I'll go through the rest of the final steps.

[2021-12-01 21:08] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2021-12-01 21:08] jbytecode commented on #3965
@whedon re-invite @rosoport as reviewer

[2021-12-01 21:08] whedon commented on #3965
The reviewer already has a pending invite.

@rosoport please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-01 21:10] jbytecode commented on #3945
@rosoport - this is an update, I invited you again as the 2nd reviewer. Please accept if you still want to review this submission. Here is the review link: https://github.com/openjournals/joss-reviews/issues/3965 . thank you.

[2021-12-01 21:18] kthyng commented on #3325
@ArtVoro things look good, though please preserve capitalization for Jupyter in a reference with {} in the .bib file around the word or character. Also check the other references carefully for correct capitalization.

[2021-12-01 21:19] dfm commented on #3963
@whedon assign me as editor

I'm happy to edit. Give me a couple of days for a few initial checks and then I'll start recruiting reviewers. This can be a little slow these days, but I'll keep this thread posted on the progress. @asherp: don't hesitate to ping me if you have questions as the review progresses!

[2021-12-01 21:19] whedon commented on #3963
OK, the editor is @dfm

[2021-12-01 21:29] kthyng commented on #3859
@chasmani Hi, I'm taking over from here. Can you update the metadata in your Zenodo archive so that the title and author list exactly match your JOSS paper?

[2021-12-01 21:32] kthyng commented on #3859
@chasmani Regarding your paper I have a few comments:
* Unless I missed it, you don't present your software package by name on the first page of your paper. Please modify to do this in the Summary and probably also Statement of Need.
* Fix capitalization in your references by adding {} around characters in your .bib file. For example, R and Python aren't always capitalized, but please look through

[2021-12-01 21:38] szhorvat commented on #3867
Thanks @drvinceknight. There seems to be an issue with compiling the PDF in #3968.

[2021-12-01 21:44] kthyng commented on #2733
Hi @koenderks! Just a comment about your paper. Can you add more detailed information to the author affiliations? Normally they at least have some geographical info like country.

[2021-12-01 21:45] kthyng commented on #3904
Ok let me know when you're finished!

[2021-12-01 21:47] koenderks commented on #2733
Hi @kthyng,

I can add "the Netherlands" after each author affiliation. Would that suffice?

[2021-12-01 21:49] kthyng commented on #3314
Ok everything looks ready to go!

[2021-12-01 21:49] kthyng commented on #3314
@whedon accept deposit=true from branch next

[2021-12-01 21:49] whedon commented on #3314
[code]

[2021-12-01 21:50] kthyng commented on #3725
@whedon accept deposit=true

[2021-12-01 21:50] whedon commented on #3725
[code]

[2021-12-01 21:50] whedon commented on #3725
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1466162882207440898) 👈 🐦🐦🐦

[2021-12-01 21:50] whedon commented on #3725
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2785
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03725](https://doi.org/10.21105/joss.03725)
2. If everything look

[2021-12-01 21:51] whedon commented on #3314
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1466163170712723460) 👈 🐦🐦🐦

[2021-12-01 21:51] whedon commented on #3314
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2786
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03314](https://doi.org/10.21105/joss.03314)
2. If everything look

[2021-12-01 21:53] kthyng commented on #3314
Congrats on your new publication @WilkAndy! Thanks to editor @jedbrown and reviewers @smolins and @volpatto for your time, hard work, and expertise!!

[2021-12-01 21:53] #3314 closed

[2021-12-01 21:53] whedon commented on #3314
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03314/status.svg)](https://doi.org/10.21105/joss.03314)

**We need your help!**

Journal of Open Source Softwa

[2021-12-01 21:53] ArtVoro commented on #3325
@kthyng i checked the reference titles based on the proof from [https://github.com/openjournals/joss-papers/pull/2780](https://github.com/openjournals/joss-papers/pull/2780). They should all be correct now.

[2021-12-01 21:54] kthyng commented on #3725
Congrats on your new publication @temken! Many thanks to editor @lucydot and reviewers @rafaelab and @villaa for your time, hard work, and expertise!!

[2021-12-01 21:54] #3725 closed

[2021-12-01 21:54] whedon commented on #3725
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03725/status.svg)](https://doi.org/10.21105/joss.03725)

**We need your help!**

Journal of Open Source Softwa

[2021-12-01 21:56] koenderks commented on #2733
@whedon generate pdf from branch JOSS

[2021-12-01 21:57] whedon commented on #2733
[code]

[2021-12-01 21:57] whedon commented on #2733
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02733/joss.02733/10.21105.joss.02733.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02733/joss.02733/10.21105.joss.02733.pdf) :page_facing_up: :point_left:

[2021-12-01 21:58] koenderks commented on #2733
@kthyng I've gone ahead and added the country to the affiliations.

[2021-12-01 21:59] szhorvat commented on #3968
Since JOSS reviews are so different from the typical peer review, I'd like to let you know in advance how I plan to proceed, just to make sure we are all on the same page. Editors, authors, please let me know if I should change this approach.

I will prefix the titles of issues I open in the retworkx repository with `[joss]`. The fact that I opened an issue doesn't mean that it must be fixed befor

[2021-12-01 22:02] ddeehere commented on #3851
@danielskatz I have reached out and waiting to hear from potential reviewers from outside JOSS volunteers.

[2021-12-01 22:05] szhorvat commented on #3968
And thus we arrive to my first comment. This checklist item isn't fulfilled at the moment:

Can you please let me know how I can seek support? I expect I will have lots of questions which you may not want to see in the issue tracker (not bug reports or feature suggestions). Please also make sure that support channels are clearly communicated to users.

[2021-12-01 22:25] mtreinish commented on #3968
@whedon generate pdf from branch joss-paper

[2021-12-01 22:25] whedon commented on #3968
[code]

[2021-12-01 22:26] whedon commented on #3968
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03968/joss.03968/10.21105.joss.03968.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03968/joss.03968/10.21105.joss.03968.pdf) :page_facing_up: :point_left:

[2021-12-01 22:26] mtreinish commented on #3968
We have a public slack channel as well as an IRC channel on oftc (the irc channel is empty except for me right now). I'll push a PR that adds a section to the bottom of the readme shortly that mentions these.

[2021-12-01 22:26] nick-gorman commented on #3596
@noah80 please let me know if UNSW-CEEM/nempy#4 and UNSW-CEEM/nempy#5 have resolved your problems.

[2021-12-01 22:33] kthyng commented on #3325
@whedon generate pdf

[2021-12-01 22:33] whedon commented on #3325
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03325/joss.03325/10.21105.joss.03325.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03325/joss.03325/10.21105.joss.03325.pdf) :page_facing_up: :point_left:

[2021-12-01 22:35] kthyng commented on #3325
Ok looks good!

[2021-12-01 22:35] kthyng commented on #3325
@whedon accept deposit=true

[2021-12-01 22:35] whedon commented on #3325
[code]

[2021-12-01 22:36] whedon commented on #3325
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1466174472264769541) 👈 🐦🐦🐦

[2021-12-01 22:36] whedon commented on #3325
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2787
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03325](https://doi.org/10.21105/joss.03325)
2. If everything look

[2021-12-01 22:37] mtreinish commented on #3968
I just remembered we do briefly mention the slack channel in our contributing documentation already: https://github.com/Qiskit/retworkx/blob/main/CONTRIBUTING.md#module-directories-when-a-single-file-is-not-enough (which also gets put in our published documentation: https://qiskit.org/documentation/retworkx/CONTRIBUTING.html?highlight=slack#module-directories-when-a-single-file-is-not-enough) but

[2021-12-01 22:41] kthyng commented on #3325
Congrats on your new publication @ArtVoro! Many thanks to editor @jgostick and reviewers @janash, @rosecers, and @jarvist on your time, hard work, and expertise!!

[2021-12-01 22:41] #3325 closed

[2021-12-01 22:42] whedon commented on #3325
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03325/status.svg)](https://doi.org/10.21105/joss.03325)

**We need your help!**

Journal of Open Source Softwa

[2021-12-01 22:44] kthyng commented on #2733
Ok sure that's probably adequate.

[2021-12-01 22:44] kthyng commented on #2733
@whedon accept deposit=true from branch JOSS

[2021-12-01 22:44] whedon commented on #2733
[code]

[2021-12-01 22:44] whedon commented on #2733
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1466176508154847235) 👈 🐦🐦🐦

[2021-12-01 22:44] whedon commented on #2733
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2788
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02733](https://doi.org/10.21105/joss.02733)
2. If everything look

[2021-12-01 22:48] mtreinish commented on #3968
I opened the PR for this here: https://github.com/Qiskit/retworkx/pull/501

[2021-12-01 22:49] kthyng commented on #2733
Congrats on your new publication @koenderks! Many thanks to editor @drvinceknight and reviewers @trstewart212 and @fgeertman for your time, hard work, and expertise!!

[2021-12-01 22:49] #2733 closed

[2021-12-01 22:49] whedon commented on #2733
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02733/status.svg)](https://doi.org/10.21105/joss.02733)

**We need your help!**

Journal of Open Source Softwa

[2021-12-01 22:50] whedon opened #3969 "[PRE REVIEW]: physical_validation: A Python package to assess the physical validity of molecular simulation results"
**Submitting author:** @ptmerz (<a href="http://orcid.org/0000-0002-7045-8725">Pascal T. Merz</a>)
**Repository:** <a href="https://github.com/shirtsgroup/physical_validation" target ="_blank">https://github.com/shirtsgroup/physical_validation</a>
**Version:** v1.0
**Editor:** @rkurchin
**Reviewers:** @tonigi, @geraldjwang and @zadehsey
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced ser

[2021-12-01 22:50] whedon commented on #3969
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-01 22:51] whedon commented on #3969
PDF failed to compile for issue #3969 with the following error:
[code]

[2021-12-01 22:51] whedon commented on #3969
[code]

[2021-12-01 22:51] whedon opened #3970 "[PRE REVIEW]: QDistRnd: A GAP package for computing the distance of quantum error-correcting codes"
**Submitting author:** @LeonidPryadko (<a href="http://orcid.org/0000-0002-4990-0259">Leonid P. Pryadko</a>)
**Repository:** <a href="https://github.com/QEC-pages/QDistRnd/" target ="_blank">https://github.com/QEC-pages/QDistRnd/</a>
**Version:** 0.7.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-12-01 22:51] whedon commented on #3970
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-01 22:51] whedon commented on #3970
Wordcount for `paper.md` is 1143

[2021-12-01 22:51] whedon commented on #3970
[code]

[2021-12-01 22:51] whedon commented on #3970
Failed to discover a valid open source license.

[2021-12-01 22:52] kthyng commented on #3969
@whedon generate pdf from branch joss-paper

[2021-12-01 22:52] whedon commented on #3970
[code]

[2021-12-01 22:52] whedon commented on #3970
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03970/joss.03970/10.21105.joss.03970.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03970/joss.03970/10.21105.joss.03970.pdf) :page_facing_up: :point_left:

[2021-12-01 22:52] whedon commented on #3969
[code]

[2021-12-01 22:52] whedon opened #3971 "[PRE REVIEW]: helayo: Reconstructing Sanskrit texts from manuscript witnesses"
**Submitting author:** @chchch (<a href="http://orcid.org/0000-0001-8247-9374">Charles Li</a>)
**Repository:** <a href="https://github.com/chchch/sanskrit-alignment/" target ="_blank">https://github.com/chchch/sanskrit-alignment/</a>
**Version:** v0.5 (helayo) v0.8 (matrix editor)
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warn

[2021-12-01 22:52] whedon commented on #3971
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-01 22:52] ArtVoro commented on #3325
I would also like to thank you all for your help with this review.

Best regards
Arthur

[2021-12-01 22:52] whedon commented on #3971
[code]

[2021-12-01 22:52] whedon opened #3972 "[PRE REVIEW]: rmap: An R package to plot and compare tabular data on customizable maps across scenarios and time"
**Submitting author:** @zarrarkhan (<a href="http://orcid.org/0000-0002-8147-8553">Zarrar Khan</a>)
**Repository:** <a href="https://github.com/JGCRI/rmap" target ="_blank">https://github.com/JGCRI/rmap</a>
**Version:** v1.0.0
**Editor:** @hugoledoux
**Reviewers:** @CamilleMorlighem, @maczokni
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-12-01 22:52] whedon commented on #3972
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-01 22:52] whedon commented on #3971
PDF failed to compile for issue #3971 with the following error:
[code]

[2021-12-01 22:52] whedon commented on #3969
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03969/joss.03969/10.21105.joss.03969.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03969/joss.03969/10.21105.joss.03969.pdf) :page_facing_up: :point_left:

[2021-12-01 22:52] whedon commented on #3972
Wordcount for `paper.md` is 1074

[2021-12-01 22:52] whedon commented on #3972
[code]

[2021-12-01 22:53] whedon commented on #3972
[code]

[2021-12-01 22:53] whedon commented on #3972
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03972/joss.03972/10.21105.joss.03972.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03972/joss.03972/10.21105.joss.03972.pdf) :page_facing_up: :point_left:

[2021-12-01 22:58] szhorvat commented on #3968
@mtreinish Thanks for the response. I will join the Slack space, but I would prefer to also have the option of using some asynchronous communication channel that's public and keeps a record of the conversation (for the sake of the review). Is there a place where I can ask my questions that way? Should I just use the issue tracker? Have you considered GitHub Discussions? It's just an idea.

The sup

[2021-12-01 23:00] danielskatz commented on #3851
Thanks - I'm continuing to do this as well

[2021-12-01 23:02] kthyng commented on #3971
@whedon generate pdf from branch joss-paper

[2021-12-01 23:02] whedon commented on #3971
[code]

[2021-12-01 23:02] danielskatz commented on #3426
@whedon withdraw

[2021-12-01 23:03] whedon commented on #3426
Paper withdrawn.

[2021-12-01 23:03] #3426 closed

[2021-12-01 23:03] whedon commented on #3971
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03971/joss.03971/10.21105.joss.03971.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03971/joss.03971/10.21105.joss.03971.pdf) :page_facing_up: :point_left:

[2021-12-01 23:12] kthyng commented on #3972
@whedon query scope

[2021-12-01 23:12] whedon commented on #3972
Submission flagged for editorial review.

[2021-12-01 23:13] kthyng commented on #3972
Hi @zarrarkhan and thanks for your submission. I am pinging the editorial board for input to make sure this submission is in scope for the journal. Usually we do this for plotting-focused packages to make sure the breadth of the package is large enough. This process will take 1-2 weeks. Thanks for your patience.

[2021-12-01 23:18] kthyng commented on #3970
Hi @drvinceknight! I know I just asked you to edit another submission but perhaps you have bandwidth for two. Do you know about GAP?

[2021-12-01 23:18] kthyng commented on #3970
@whedon invite @drvinceknight as editor

[2021-12-01 23:18] whedon commented on #3970
@drvinceknight has been invited to edit this submission.

[2021-12-01 23:18] kthyng commented on #3970
@LeonidPryadko Can you add a license to your repo?

[2021-12-01 23:20] taless474 commented on #3928
Thank you @maxpumperla
@burch-cm would you be interested in reviewing this?

[2021-12-01 23:25] LeonidPryadko commented on #3970
How do I add a license?
I already have a license listed in documentation (the manual), it says:
Copyright

© 2021 by Leonid P. Pryadko and Vadim A. Shabashov

*QDistRnd* package is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License
<http://www.fsf.org/licenses/gpl.html> as published by the Free Software
Foundation; either version 2 of the Lice

[2021-12-01 23:28] kthyng commented on #3970
You can get more info [here](https://joss.readthedocs.io/en/latest/submitting.html#typical-paper-submission-flow). In short you need to have a file called LICENSE that meets our guidelines.

[2021-12-01 23:30] kthyng commented on #3968
@szhorvat If I follow your comments correctly, I think you should feel free to use the issue tracker for your review comments.

[2021-12-01 23:31] LeonidPryadko commented on #3970
I just added GPL 2.0 (in the documentation, it says GPL 2.0 or any later
version).

Will it do?
Thanks,

Leonid

P.S.
I also corrected a doi in one of the references.

On Wed, Dec 1, 2021 at 3:28 PM Kristen Thyng ***@***.***>
wrote:

[2021-12-01 23:33] kthyng commented on #3970
@whedon check repository

[2021-12-01 23:34] whedon commented on #3970
Wordcount for `paper.md` is 1143

[2021-12-01 23:34] whedon commented on #3970
[code]

[2021-12-01 23:36] kthyng commented on #3970
Hm I thought that command would re-check for the license. Anyway it looks ok.

[2021-12-02 00:29] hakanfriden commented on #3680
Hi, just saw your mail.
So we seem to agree that the success of the imputation depends on the correlation between the variable.
I am still very suspicious of the method, as I you give no indication of the reliability of the imputation result, or do you?
If there are missing values in a variable that has little correlation with the rest, the results are very dubious!

My preferred way of handling N

[2021-12-02 00:56] mdbartos commented on #3852
Yes, it is working now. Thank you.

[2021-12-02 03:11] JLBLine commented on #3676
Hi @mkolopanis @plaplant @dfm, just a heads up, I'm on leave from the 8th of December until the new year, so would be keen to try and get this tied up before then if possible. Is there anything else you need from me? I think I've made all the necessary changes.

[2021-12-02 04:54] JacksonMaxfield commented on #3904
@kthyng All have now been resolved!

Want to point out that the DOI I provided previously points to Zenodo's "all versions" DOI. If that isn't what is desired, the v3.0.0 DOI is: 10.5281/zenodo.5748663

[2021-12-02 08:14] eirenjacobson commented on #3888
Hi all, I had planned to complete this review this week but I am currently participating in strike action to improve UK higher education staff pension, pay, equality and working conditions (for more information, see https://www.ucu.org.uk/article/11896/Why-were-taking-action). I will try to complete my review when I return from strike next week.

[2021-12-02 08:52] arfon commented on #3925
Yes, I can see how this could be a little confusing. Historically – for the ~25 papers that have been through this process so far – the titles have been identical/very similar between the JOSS and AAS paper in ~25% of cases (like here).

:+1: yes, the JOSS review is the same.

Going back to the origins/purpose of this dual review process for a moment. The AAS paper is likely to be the 'canonical'

[2021-12-02 08:52] arfon commented on #3376
Friendly reminder to get to go through these final steps when you have a moment @MamadouSDiallo ☝️

[2021-12-02 08:58] Bisaloo commented on #3811
@whedon generate pdf

[2021-12-02 08:58] whedon commented on #3811
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03811/joss.03811/10.21105.joss.03811.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03811/joss.03811/10.21105.joss.03811.pdf) :page_facing_up: :point_left:

[2021-12-02 09:15] koenderks commented on #2733
Thank you @kthyng, @drvinceknight, @trstewart212, and @fgeertman for all the work that has gone into this review and publication process. Your time and effort is very much appreciated!

@drvinceknight I have one remaining question regarding the [`JOSS`](https://github.com/koenderks/jaspAudit/tree/JOSS) branch. Is it safe to remove this branch or is there a need to keep it around?

[2021-12-02 09:39] Bisaloo commented on #3811
- I fixed a couple of typos in the manuscript in https://github.com/r-spatialecology/shar/pull/91
- It's a good idea to update your GitHub Actions from upstream from time to time. For example, you could have benefit from the new `clean = TRUE` argument in `pkgdown::deploy_to_branch()`, which would probably have helped a little with your pkgdown problems yesterday.
- If you choose to list the depen

[2021-12-02 10:12] chasmani commented on #3859
@kthyng thank you for taking a look at this.

I've completed the changes:
- Can you update the metadata in your Zenodo archive so that the title and author list exactly match your JOSS paper?
* DONE. The title and author names match exactly now. *
* In the paper I have two author affiliations. In zenodo I only included my primary affilation, because there was only room for one.*
- you don't presen

[2021-12-02 10:35] mikldk commented on #3911
@nhejazi Can you maybe suggest a few more reviewers?

[2021-12-02 10:35] mikldk commented on #3901
@fernandomayer, @fartist, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-12-02 10:36] mikldk commented on #3941
@k3yavi, @holtgrewe, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-12-02 10:44] AndreWeiner commented on #3860
@salrm8 just a friendly reminder.
Best, Andre

[2021-12-02 10:49] srmnitc commented on #3724
@diehlpk I have finished my review at this point. I apologize for the delay. This code is quite nice, well written and has already been employed in a number of publications. As such, I believe it will be useful and hence should be published in JOSS.

I have few issues which I opened in the repository:

1. In order to check the boxes **Installation, functionality and Installation instructions**: I

[2021-12-02 10:54] pdebuyl commented on #3917
Hi @shailesh1729

I went through the papers and have minor comments:
- Can you archive the companion https://carnotresearch.github.io/cr-sparse-companion/intro.html on zenodo (the rendered version or rendered+source) and cite it in your article? It is supplemental data to the code so it is better if it is archived.
- For "Yang, J., & Zhang, Y. (2011)", "Kim, S.-J., Koh, K., Lustig, M., Boyd, S., &

[2021-12-02 12:05] szhorvat commented on #3968
For reference, the paper is here on arXiv: https://arxiv.org/abs/2110.15221

[2021-12-02 12:12] szhorvat commented on #3968
Regarding the name `retworkx`: it obviously references `networkx`, which is by far the most popular graph library in Python. People are going to assume some kind of relationship, but I don't see what it is. Can you please clarify?

The API is different (not a replacement), the projects appear unrelated, and retworkx doesn't appear to be closer to networkx than any of the other Python network libra

[2021-12-02 13:23] shailesh1729 commented on #3917
@whedon generate pdf

[2021-12-02 13:24] whedon commented on #3917
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: :point_left:

[2021-12-02 13:24] mhesselbarth commented on #3811
https://github.com/r-spatialecology/shar/commit/e49029242d54503381105fc2594eb95ee511f60c

- I accepted the PR
- I added the `clean = TRUE` argument, but I think thats also the default (?)
- I removed `Rcpp` from the `DESCRIPTION` since `shar` no longer depends on it.

[2021-12-02 13:29] mhesselbarth commented on #3811
All GitHub actions currently fail because https://packagemanager.rstudio.com/ is down (https://github.com/r-lib/actions/issues/447).

[2021-12-02 13:40] Bisaloo commented on #3811
What about the reference written as plain text? Yamada et al. 2006

[2021-12-02 13:46] roderickmackenzie commented on #3727
@kostergroup
 Thanks for your comments and work. And apologies for the delay in getting back to you I was taken out by covid for a while.  Comments:

*So in the manual I think the section on trapping should be separated from the potential section (2.1.1) and given it’s own heading.   I think in the trapping section you should explicitly call it SRH trapping/recombination – at the moment you cite t

[2021-12-02 13:54] szhorvat commented on #3968
I have now read the software paper, and I believe it needs a bit of improvement. In my view, the purpose of a JOSS paper is so that readers can get answers to questions such as:

 - What does this library do? What is already implemented and what are the long-term goals? Who is the (narrower or broader) target audience?
 - What novel contributions does it bring? What new things does it make possibl

[2021-12-02 13:54] mhesselbarth commented on #3811
https://github.com/r-spatialecology/shar/commit/5ba1f84ead10cd15856826700acc665ee4980799
Ups...thanks for pointing out! That completly slipped my mind.

[2021-12-02 14:00] shailesh1729 commented on #3917
HI @pdebuyl,

Thank you for the detailed feedback. I have corrected the bibliographic and other editing issues in the new draft.

I have created the zenodo archive for the companion site:
- code (notebooks) from main branch https://doi.org/10.5281/zenodo.5749633
- rendered Jupyter book version from the gh-pages branch https://doi.org/10.5281/zenodo.5749656

I have cited the second one in the paper

[2021-12-02 14:22] Bisaloo commented on #3811
@whedon generate pdf

[2021-12-02 14:22] whedon commented on #3811
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03811/joss.03811/10.21105.joss.03811.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03811/joss.03811/10.21105.joss.03811.pdf) :page_facing_up: :point_left:

[2021-12-02 14:23] Bisaloo commented on #3811
Can you please have one last look at the paper for any last remaining typos?

If everything looks good, please tag a new version on GitHub and I can accept your submission :slightly_smiling_face:

[2021-12-02 14:23] diehlpk commented on #3724
@srmnitc Thanks for your review.

@tiburoch Please have a look at @srmnitc's comments and address them in a timely manner.

[2021-12-02 14:26] wtraylor commented on #3631
@whedon generate pdf from branch joss-paper

[2021-12-02 14:26] whedon commented on #3631
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03631/joss.03631/10.21105.joss.03631.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03631/joss.03631/10.21105.joss.03631.pdf) :page_facing_up: :point_left:

[2021-12-02 14:40] zarrarkhan commented on #3972
Here are suggested reviewers from the list. These reviewers are from the bottom of the list and indicate both R as their preferred language and spatial analysis in their domains:

- fernandomayer
- hknd23
- nickbearman
- ateucher
- tsamsonov
- yongzesong
- ssujit
- jpiburn
- wcjochem
- adithirgis
- kauedesousa
- GISerDaishaoqing
- mikerspencer
- jayrobwilliams
- mikejohnson51
- garretrc
- becariop

[2021-12-02 14:44] Kevin-Mattheus-Moerman commented on #3860
@arfon can you comment on the DOI question :point_up:, is the DOI listed "reserved" for this work? So that if accepted this becomes the actual DOI right?

[2021-12-02 14:45] wtraylor commented on #3631
@dilawar Thank you very much for your review and remarks. I have tried to rephrase the paragraph about LPJ-GUESS coupling in a clearer way. In the README, I mentioned that the educational version of LPJ-GUESS is not compatible with MMM.

I also thought about that. However, the example parameters and the plot script might change. After editing them, one could forget to update the screenshot of the

[2021-12-02 14:55] mhesselbarth commented on #3811
Fixed some last typos in https://github.com/r-spatialecology/shar/commit/bc93f1a21bb87a8d2472830d9a5fc910ea05a629

In the footer my name is abbreviated by "Hesselbarth, M.H.", however, this should be "Hesselbarth, M.H.K."! Is it possible to fix that somehow?

[2021-12-02 15:11] Bisaloo commented on #3811
Could you try to add a space between `H.` and `K.` [in the yaml header](https://github.com/r-spatialecology/shar/blob/bc93f1a21bb87a8d2472830d9a5fc910ea05a629/paper.md?plain=1#L12) please to make it clear to LaTeX that they are two different words?

I'll dig more and ask around if it doesn't work.

[2021-12-02 15:20] Bisaloo commented on #3811
If it doesn't work, for reference, initials are defined here:

https://github.com/openjournals/whedon/blob/92346a0773a4003bf0ef361b661dc2787f492936/lib/whedon/author.rb#L46-L48

[2021-12-02 15:22] kthyng commented on #3969
@whedon invite @rkurchin as editor

[2021-12-02 15:22] whedon commented on #3969
@rkurchin has been invited to edit this submission.

[2021-12-02 15:25] kthyng commented on #3859
@whedon generate pdf

[2021-12-02 15:26] whedon commented on #3859
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03859/joss.03859/10.21105.joss.03859.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03859/joss.03859/10.21105.joss.03859.pdf) :page_facing_up: :point_left:

[2021-12-02 15:29] kthyng commented on #3859
Ok looks good!

[2021-12-02 15:29] kthyng commented on #3859
@whedon accept deposit=true

[2021-12-02 15:29] whedon commented on #3859
[code]

[2021-12-02 15:30] whedon commented on #3859
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2789
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03859](https://doi.org/10.21105/joss.03859)
2. If everything look

[2021-12-02 15:33] kthyng commented on #3904
@JacksonMaxfield Ah, thank you for pointing that out with the doi. Actually I would like to use the specific DOI for the version associated with the JOSS paper so users know that for future reference as the software changes over time. With this in mind, can you update the title of *that* DOI to match your title? Looks like the author list maybe already matches?

[2021-12-02 15:33] kthyng commented on #3904
@whedon set 10.5281/zenodo.5748663 as archive

[2021-12-02 15:33] whedon commented on #3904
OK. <a href="https://doi.org/10.5281/zenodo.5748663" target="_blank">10.5281/zenodo.5748663</a> is the archive.

[2021-12-02 15:33] kthyng commented on #3904
@whedon generate pdf

[2021-12-02 15:34] whedon commented on #3904
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03904/joss.03904/10.21105.joss.03904.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03904/joss.03904/10.21105.joss.03904.pdf) :page_facing_up: :point_left:

[2021-12-02 15:34] kthyng commented on #3859
Congrats on your new publication @chasmani! Many thanks to editor @galessiorob and reviewers @vyasr, @htjb, and @Ebedthan for your time, hard work, and expertise!!

[2021-12-02 15:34] #3859 closed

[2021-12-02 15:34] whedon commented on #3859
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03859/status.svg)](https://doi.org/10.21105/joss.03859)

**We need your help!**

Journal of Open Source Softwa

[2021-12-02 15:35] kthyng commented on #3904
everything else looks ready to go.

[2021-12-02 15:41] JacksonMaxfield commented on #3904
Done!

[2021-12-02 15:43] kthyng commented on #3904
Great thanks! I'll wrap it up now!

[2021-12-02 15:43] kthyng commented on #3904
@whedon accept deposit=true

[2021-12-02 15:43] whedon commented on #3904
[code]

[2021-12-02 15:44] whedon commented on #3904
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1466433057980887051) 👈 🐦🐦🐦

[2021-12-02 15:44] whedon commented on #3904
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2790
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03904](https://doi.org/10.21105/joss.03904)
2. If everything look

[2021-12-02 15:47] kthyng commented on #3904
Congrats on your new publication @JacksonMaxfield! Many thanks to editor @chartgerink and reviewers @hknd23 and @chainsawriot for your time, hard work, and expertise!!

[2021-12-02 15:47] #3904 closed

[2021-12-02 15:47] whedon commented on #3904
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03904/status.svg)](https://doi.org/10.21105/joss.03904)

**We need your help!**

Journal of Open Source Softwa

[2021-12-02 15:57] mstimberg commented on #3956
## Review @mstimberg
As mentioned earlier, I am neither a MATLAB-expert, nor do I know much about BCI – so please read my review with this in mind.

 I was able to install and compile all dependencies, as well the `TrackM` software and the mex files for the Matlab GUI presented in this paper (under Ubuntu Linux 20.04). I was able to run both pieces of software and test its basic functionality, and

[2021-12-02 16:05] mhesselbarth commented on #3811
@whedon generate pdf

[2021-12-02 16:09] mhesselbarth commented on #3811
@whedon generate pdf

[2021-12-02 16:09] whedon commented on #3811
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03811/joss.03811/10.21105.joss.03811.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03811/joss.03811/10.21105.joss.03811.pdf) :page_facing_up: :point_left:

[2021-12-02 16:14] mhesselbarth commented on #3811
Did not work, but also not really important I think.

I created a tag called JOSS (https://github.com/r-spatialecology/shar/releases/tag/JOSS)

[2021-12-02 16:16] diehlpk commented on #3631
Thanks again for your review!

[2021-12-02 16:17] diehlpk commented on #3631
@wtraylor I will do the editorial comments by Monday and we can finish the paper next week.

[2021-12-02 16:33] eferrea commented on #3956
Hi @mstimberg, many thanks for the constructive review. I will address all of  your concerns as soon as possible.

[2021-12-02 16:39] pdebuyl commented on #3917
Thank you for the update, all is good on my side!

Thanks @Saran-nns and @mirca for the review!

[2021-12-02 16:39] pdebuyl commented on #3917
@whedon set v0.2.2 as version

[2021-12-02 16:39] whedon commented on #3917
OK. v0.2.2 is the version.

[2021-12-02 16:40] pdebuyl commented on #3917
@whedon set 10.5281/zenodo.5749792 as archive

[2021-12-02 16:40] whedon commented on #3917
OK. <a href="https://doi.org/10.5281/zenodo.5749792" target="_blank">10.5281/zenodo.5749792</a> is the archive.

[2021-12-02 16:40] pdebuyl commented on #3917
@whedon recommend-accept

[2021-12-02 16:40] whedon commented on #3917
[code]

[2021-12-02 16:41] whedon commented on #3917
[code]

[2021-12-02 16:41] whedon commented on #3917
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2791

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2791, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-02 16:55] Bisaloo commented on #3811
@openjournals/dev, it looks like whedon is not able to handle very well authors with multiple middle names. Is there anything that can be done?

[2021-12-02 16:56] mcsiple commented on #3888
Thank you for letting us know @eirenjacobson and power to the people!

[2021-12-02 17:16] kthyng commented on #3917
Hi @shailesh1729! I'll be helping with final publishing.

Can you update the metadata on your Zenodo archive so the title and author list exactly match your JOSS paper?

[2021-12-02 17:19] kthyng commented on #3917
Paper and version look good.

[2021-12-02 17:32] ha0ye commented on #3888
I have completed my review, and my detailed notes are in the issue linked directly above.

[2021-12-02 17:35] shailesh1729 commented on #3917
Thanks, @kthyng,

I just updated the metadata (title and author list) on the Zenodo archive https://doi.org/10.5281/zenodo.5749792

Does this look good?  Anything else that I need to do?

[2021-12-02 17:36] diehlpk commented on #3631
@wtraylor I found some time and read your paper. I can recommend it for acceptance if you add this last change.

- [ ] `Through the instruction file, users can... ` I think it might be helpful to put a link (https://github.com/wtraylor/modular_megafauna_model/tree/master/examples) to the examples here. Or maybe add to the end of this paragraph: Example input files can be found here or whatever you

[2021-12-02 17:38] diehlpk commented on #3631
@dirmeier Can you please confirm that you are done with your review? Just want to make sure.

[2021-12-02 17:42] pdebuyl commented on #3917
@kthyng "metadata on your Zenodo archive so the title and author list exactly match your JOSS paper" -> sorry, I forgot to check it

[2021-12-02 17:42] pdebuyl commented on #3917
and the LSQR entry from the TOMS does not have a DOI to avoid you looking for it :-)

[2021-12-02 17:45] callumrollo commented on #3947
Hi Nora, this looks like a solid submission for JOSS. I'm not a modeller, but will review the code as best I can. I have a question about authorship. Most of the authors have made contributions to the codebase, corresponding to the author order. However, I could not find code contributions by  Laure
Zanna. Could you please outline their contribution to GCM_Filters?

[2021-12-02 17:47] shailesh1729 commented on #3917
@whedon check references

[2021-12-02 17:48] whedon commented on #3917
[code]

[2021-12-02 17:48] shailesh1729 commented on #3917
It was my mistake. I added the LSQR reference later and forgot to add the DOI.

[2021-12-02 17:49] shailesh1729 commented on #3917
@whedon generate pdf

[2021-12-02 17:49] whedon commented on #3917
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: :point_left:

[2021-12-02 17:51] shailesh1729 commented on #3917
All DOIs are good now in the updated draft.

[2021-12-02 18:07] dirmeier commented on #3631
I conform we are finished here. Great work!

[2021-12-02 18:25] chasmani commented on #3859
Many thanks to JOSS and editors @kthyng, @galessiorob and reviewers @vyasr, @htjb, and @Ebedthan - you all did a great job I thought and really helped improve the paper and package.

[2021-12-02 18:39] mkolopanis commented on #3676
Thanks for the poke about this. I have reviewed the changes on the repo and updated my review checklist. All my concerns/comments have been addressed.

[2021-12-02 18:50] fboehm commented on #3417
@biblicabeebli @jponnela - we should try to wrap up the final steps soon. Please let me know if you have any questions.

[2021-12-02 19:13] kthyng commented on #3917
Great! All looks good! I missed that DOI, thanks for the follow up.

[2021-12-02 19:14] whedon commented on #3917
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1466486047697682432) 👈 🐦🐦🐦

[2021-12-02 19:14] whedon commented on #3917
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2792
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03917](https://doi.org/10.21105/joss.03917)
2. If everything look

[2021-12-02 19:22] kthyng commented on #3917
Congrats on your new publication @shailesh1729! Many thanks to editor @pdebuyl and reviewers @Saran-nns and @mirca for your time, hard work, and expertise!!

[2021-12-02 19:22] #3917 closed

[2021-12-02 19:22] whedon commented on #3917
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03917/status.svg)](https://doi.org/10.21105/joss.03917)

**We need your help!**

Journal of Open Source Softwa

[2021-12-02 19:24] chchch commented on #3971
Hello,

For potential reviewers, how about JacksonMaxfield or chrisbrickhouse?

[2021-12-02 19:25] shailesh1729 commented on #3917
Thank you everyone for your guidance and support. It is a great feeling to be published on JOSS.

[2021-12-02 19:43] kthyng commented on #3933
@maxpumperla I'm sorry to say that this has been deemed to be out of scope in terms of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort), partly because the number of lines of code that are tied directly to function instead of tests and examples is relatively low (by my count, around 500). This is by no means a commentary on the usef

[2021-12-02 19:43] kthyng commented on #3933
@whedon reject

[2021-12-02 19:43] whedon commented on #3933
Paper rejected.

[2021-12-02 19:43] #3933 closed

[2021-12-02 19:56] kthyng commented on #3971
Thanks for your submission @chchch, and the reviewer suggestions. I am going to ping the editorial board to make sure this submission is in scope; this process will take 1-2 weeks. Thank you.

[2021-12-02 19:56] kthyng commented on #3971
@whedon query scope

[2021-12-02 19:56] whedon commented on #3971
Submission flagged for editorial review.

[2021-12-02 20:06] kthyng commented on #3926
Hi @canorve and thanks for your submission. I'm sorry to say that the editorial board still feels like this is not quite in scope, despite your effort in the meantime. Specific feedback includes:
* still very close to a stand-alone script even with your changes
* needs more functionality added
* suggestion to combine with other work to make a more capable library, maybe with your other GALFIT tool

[2021-12-02 20:06] kthyng commented on #3926
@whedon reject

[2021-12-02 20:07] whedon commented on #3926
Paper rejected.

[2021-12-02 20:07] #3926 closed

[2021-12-02 20:16] kthyng commented on #3964
@emdupre would this be an ok fit for you from the imaging direction?

[2021-12-02 20:16] kthyng commented on #3964
@whedon invite @emdupre as editor

[2021-12-02 20:16] whedon commented on #3964
@emdupre has been invited to edit this submission.

[2021-12-02 20:22] devosmitachatterjee2018 commented on #3680
@hakanfriden

Thank you for your reply.

1. So we seem to agree that the success of the imputation depends on the correlation between the variable.

- Yes I agree that the missForest imputation method depends on the correlation between the variables. The reason is that the imputation method is based on Random Forests that uses observed values in each variable as the dependent variable and all the

[2021-12-02 21:07] thurber commented on #3852
hi @crvernon & @jlarsen-usgs, I've completed my review checklist and am satisfied with the resolutions of (pygsflow/pygsflow#12)[https://github.com/pygsflow/pygsflow/issues/12]. There's one unchecked box remaining, but i don't believe it to be critical path. Nice work!

[2021-12-02 21:12] jlarsen-usgs commented on #3852
Thanks @thurber!

I have been waiting to update the text fully until all of the review comments are in (journal reviews and internal USGS). The unchecked box in pygsflow#12 will be addressed in the final version.

[2021-12-02 21:50] MamadouSDiallo commented on #3376
Sorry for the delay
Zenodo: 10.5281/zenodo.1261813

[2021-12-02 22:21] nhejazi commented on #3911
perhaps a few folks among erikcs, klmedeiros, joethorley, rrrlw, carpenitoThomas, Larsvanderlaan, rachaelvp, ttriche would be willing to co-review? it'd be much appreciated if you're able to spare the time.

[2021-12-02 22:31] bvegetabile commented on #3911
Hi all, I'm sorry for the delay in response.  I'm not used to getting article reviews through Github and thought the initial request was spam.  What is the timeline for the review?  I have a lot going on through the holidays (I'm an AE for an applied stats journal and have a few manuscripts on my plate already).

[2021-12-02 22:40] szhorvat commented on #3968
## Graph Creation benchmark

This benchmark is severely flawed.

The `igraph` "graph creation" benchmark actually first builds a `networkx` graph then converts that to an igraph object. This doesn't actually measure igraph's performance, and it's no wonder that igraph ends up looking slower than networkx ...  https://github.com/mtreinish/retworkx-comparison-benchmarks/blob/main/igraph_bench/gr_par

[2021-12-02 22:44] crvernon commented on #3852
Thanks @thurber !

@mdbartos do you have an expected date that you could have your review completed by?  Thanks!

[2021-12-02 22:45] crvernon commented on #3709
@kanishkan91 and @omshinde please provide a short update in this issue thread concerning the status of your review.  Is there anything you are waiting on?  Thanks!

[2021-12-02 22:47] crvernon commented on #3824
@thurber and @acrlakshman please provide a short update in this issue thread concerning the status of your reviews. Thanks!

[2021-12-02 23:02] thurber commented on #3824
hi @crvernon, there are a few issues still outstanding in ImperialCollegeLondon/champ#70, the blocking one being a way to test the champ interface against a mock cluster. I believe @cc-a was close to implementing a solution.

[2021-12-02 23:07] crvernon commented on #3824
Thanks @thurber !

@cc-a could you provide an update as to how things are going on your end?

[2021-12-02 23:19] WilkAndy commented on #3742
Just trying to install on a fresh windows machine.  Also need:
[code]

[2021-12-02 23:29] WilkAndy commented on #3742
I think automated tests are mandatory, and i can't find any.  You have tutorial examples - great, a new user can test things are working to some degree, but it wouldn't take much work to build a test suite out of those, so that new users can be confident things are working as planned.  For instance in "tutorial 4", various norms are outputted, but these are different for my computer than are shown

[2021-12-02 23:42] WilkAndy commented on #3742
Various tutorials fail to run.  These could be because i'm running on a vanilla windows system with no extra packages installed.

Refs https://github.com/uw-comphys/opencmp/issues/12
Refs https://github.com/uw-comphys/opencmp/issues/13
Refs https://github.com/uw-comphys/opencmp/issues/14
Refs https://github.com/uw-comphys/opencmp/issues/15

[2021-12-02 23:45] WilkAndy commented on #3742
I haven't read the documentation carefully, I'm sorry.  However, at the moment i believe all your tutorials are "simple" cases that can be solved easily using other software.  If true, this doesn't really compel me to try your new software.  I believe the big new thing about your software is diffuse boundary method.  How about highlighting that through an awesome example, both in your online docum

[2021-12-02 23:54] nasserma commented on #3742
Please see the README.md file which describes our unit test procedure. We use pytest instead of unittest for unit and integration tests. We prefer it for a few reasons, but if you see the pytests/ directory there is also a README.md file with further information regarding how (i) how run the existing tests and (ii) how to create new tests.

At this point we have quite a decent amount of tests, the

[2021-12-03 00:07] salrm8 commented on #3860
Congratulations @AndreWeiner for the nice software and especially the great documentation.
The paper is written well, and improved by comments from @akaptano.

The only suggestions (minor) are:

- Creating a folder for the paper,
- Possibly adding all tests into one folder "tests".
- A guide how to adjust data from other flow solvers (dataloader).

But even without these, I strongly recommend acce

[2021-12-03 00:12] nasserma commented on #3742
Please use revision ID  a475159 for now, there was definitely an issue pushing changes from the last revision and we will resolve in shortly.

[2021-12-03 02:08] mjsottile commented on #3896
Hello @dmikushin and @olekravchenko - I was wondering if you needed anything in starting the reviews?  I noticed that there hasn't been activity since the review was initiated.  I'm happy to help or answer questions in getting started.

[2021-12-03 04:35] siara-cc commented on #3919
Hi @linuxscout I think we are awaiting your response.

[2021-12-03 04:51] gkthiruvathukal commented on #3919
Yes, @siara-cc. I think @linuxscout is ready to move to accept but I will wait a bit just to be sure. I'm inclined to move to acceptance pretty soon though, since all issues seem to be addressed.

[2021-12-03 04:55] JLBLine commented on #3676
Woot thanks @mkolopanis

[2021-12-03 06:21] omshinde commented on #3709
Hi @crvernon ! Thanks for the reminder.
I have submitted my initial review (https://github.com/openjournals/joss-reviews/issues/3709#issuecomment-953245623) and waiting for the authors response. Once they are addressed, I would be happy to proceed with the review.

[2021-12-03 06:35] AlexanderJuestel commented on #3709
@crvernon @omshinde We have some crazy days here before the Christmas Holidays. I will get back to the review as soon as I can!

[2021-12-03 07:03] nanthony21 commented on #3957
@whedon generate pdf from branch JOSS

[2021-12-03 07:04] whedon commented on #3957
[code]

[2021-12-03 07:04] whedon commented on #3957
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03957/joss.03957/10.21105.joss.03957.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03957/joss.03957/10.21105.joss.03957.pdf) :page_facing_up: :point_left:

[2021-12-03 07:13] nanthony21 commented on #3957
@whedon generate pdf from branch joss

[2021-12-03 07:13] whedon commented on #3957
[code]

[2021-12-03 07:14] whedon commented on #3957
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03957/joss.03957/10.21105.joss.03957.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03957/joss.03957/10.21105.joss.03957.pdf) :page_facing_up: :point_left:

[2021-12-03 07:17] omshinde commented on #3709
@AlexanderJuestel
I understand. Best wishes! :)

[2021-12-03 08:00] linuxscout commented on #3919
I recommend to accept this paper.

[2021-12-03 09:11] AndreWeiner commented on #3860
Hi @salrm8,
first of all, thanks for your feedback. I made a copy of the listed suggestions.
I think you still have to edit the checkboxes in the first post to complete your review.
Cheers

[2021-12-03 09:13] dbkeitel commented on #3925
Thanks @arfon ! It probably isn't a model I'd be going for myself as an author, but I agree that this submission matches your intended model, and you can sign me up for review.

Also as a purely optional and personal suggestion to @tomwagg and co-authors: to disambiguate titles, the current one seems perfect for JOSS, but maybe you could consider changing over at ApJ to something like `Computing t

[2021-12-03 09:18] AndreWeiner commented on #3860
Dear @akaptano, @JaroslavHron, @hkjeldsberg, @salrm8, and @Kevin-Mattheus-Moerman,
before this issue gets closed, I would like to take the time to thank all of you for your time and your contributions to improve flowTorch. Honest word, this has been the most constructive review process I've ever gone through. Absolutely no comparison to the process in classical journals.
Thanks again,
Andre

[2021-12-03 10:26] salrm8 commented on #3860
Hi @AndreWeiner , @Kevin-Mattheus-Moerman ,
Unfortunately I cannot edit the checkboxes, although I am logged-in and have accepted the invitation

[2021-12-03 11:58] mikldk commented on #3911
@erikcs, @klmedeiros, @joethorley: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-12-03 11:59] mikldk commented on #3911
Thanks, I'll keep you in mind. I would prefer to finished this off before the holidays.

[2021-12-03 11:59] mikldk commented on #3911
@erikcs, @klmedeiros, @joethorley: Would you be interested in reviewing this submission to The Journal of Open Source Software? Reviews are open and based on a checklist. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. If you have any questions or concerns please let me know.

[2021-12-03 12:26] marcosvital commented on #2692
Thnak you for the update, @Manolomon, and hope to hear from you soon.

[2021-12-03 12:27] marcosvital commented on #3220
Thank you, @gmyenni and @juniperlsimonis.

@FlukeAndFeather and @ViniciusBRodrigues, please let us know if you can continue to review this submission.

[2021-12-03 12:28] marcosvital commented on #3444
Thank you, @Cole-Monnahan-NOAA.
I'll add you as a reviewer and guide you through the process.

[2021-12-03 12:30] Kevin-Mattheus-Moerman commented on #3860
@whedon re-invite @salrm8 as reviewer

[2021-12-03 12:30] marcosvital commented on #3444
Dear @MikeKaller, thank you for all your work on this submission. Since you have finished your review, there is no need for you to follow this issue anymore, so feel free to turn the notifications off.

[2021-12-03 12:30] whedon commented on #3860
OK, the reviewer has been re-invited.

@salrm8 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-03 12:31] marcosvital commented on #3444
@whedon remove @BrandonEdwards as reviewer

[2021-12-03 12:31] whedon commented on #3444
OK, @BrandonEdwards is no longer a reviewer

[2021-12-03 12:31] Kevin-Mattheus-Moerman commented on #3860
@salrm8 ☝️ this should help

[2021-12-03 12:32] marcosvital commented on #3444
@whedon add @Cole-Monnahan-NOAA as reviewer

[2021-12-03 12:32] whedon commented on #3444
OK, @Cole-Monnahan-NOAA is now a reviewer

[2021-12-03 12:34] Kevin-Mattheus-Moerman commented on #3828
@arfon can you comment on this. Shouldn't the zenodo archive be editable to change the license to match that of the software?

[2021-12-03 12:41] marcosvital commented on #3444
@Cole-Monnahan-NOAA, I just added a review checklist for you on the top of this issue. Please [check here](https://github.com/openjournals/joss-reviews/invitations) if you received the invitation to work on this issue, and after that you should be able to check the boxes from the list.

Please check the instructions and the checklist, and let me know if you need any assistance.
You can also tag @r

[2021-12-03 12:45] salrm8 commented on #3860
@Kevin-Mattheus-Moerman , Thank you. Done!

[2021-12-03 14:30] fabian-sp commented on #3865
Dear @gkthiruvathukal , are there any news on this?

[2021-12-03 15:11] NoraLoose commented on #3947
Hi @callumrollo, thanks so much for reviewing our submission!

We defined the authorship criteria [here](https://github.com/ocean-eddy-cpt/gcm-filters/issues/44), following the JOSS recommendations.

The `GCM-Filters` package is being developed by the [Ocean Eddy Climate Process Team (CPT)](https://ocean-eddy-cpt.github.io/). (The CPT is also the github organization that owns the `GCM-Filters` rep

[2021-12-03 15:39] crvernon commented on #3709
Thanks for the updates @omshinde and @AlexanderJuestel !

[2021-12-03 15:42] kanishkan91 commented on #3709
@crvernon Apologies for the late message. I am also waiting on the author to respond to comments.

@AlexanderJuestel Let me know whenever and I can take a look again (I know its a busy time of year, so no hurry!). By the way its interesting that you mentioned that GemPy is also coming out with a release. This would be an interesting opportunity to see the documentation of the GemPy object document

[2021-12-03 15:44] crvernon commented on #3709
Sounds good @kanishkan91 thanks for the update!

[2021-12-03 15:47] vaneseltine commented on #3522
As I've been added in later, there's no checklist with my own name on it -- should I use the first (empty) list or a new one?

[2021-12-03 16:01] Nikoleta-v3 commented on #3522
@vaneseltine my bad -- sorry! Please first one, it should have your name now.

[2021-12-03 16:03] Nikoleta-v3 commented on #3538
👋🏻 @geraintpalmer  📳 Any updates on your review?

[2021-12-03 16:06] jarvist commented on #3757
@whedon add @federeghe as reviewer

Thank you Federico for agreeing to review this paper 👋

[2021-12-03 16:06] whedon commented on #3757
OK, @federeghe is now a reviewer

[2021-12-03 16:06] jarvist commented on #3757
@whedon start review

OK, with two reviewers we are now good to go.

[2021-12-03 16:07] whedon opened #3973 "[REVIEW]: POWERsim: A nanoPOWER ISA Functional Simulator"
**Submitting author:** @god-s-perfect-idiot (<a href="http://orcid.org/0000-0003-2213-8820">Samar Musthafa</a>)
**Repository:** https://github.com/god-s-perfect-idiot/POWER-sim
**Branch with paper.md** (empty if default branch):
**Version:** v0.7x
**Editor:** @jarvist
**Reviewers:** @dilawar, @federeghe
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-12-03 16:07] whedon commented on #3757
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3973.

[2021-12-03 16:07] whedon commented on #3973
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dilawar, @federeghe it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-12-03 16:07] whedon commented on #3973
Wordcount for `paper.md` is 1366

[2021-12-03 16:07] whedon commented on #3973
[code]

[2021-12-03 16:07] whedon commented on #3973
[code]

[2021-12-03 16:07] whedon commented on #3973
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03973/joss.03973/10.21105.joss.03973.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03973/joss.03973/10.21105.joss.03973.pdf) :page_facing_up: :point_left:

[2021-12-03 16:11] jarvist commented on #3973
Thank you again @dilawar and @federeghe for agreeing to review this paper & package.

Your task lists are in the first note on this issue, along with some links to the JOSS guidelines. A key thing I often accidentally do when reviewing is start to check off the other reviewer's list.

Would a deadline of about 2 weeks work for the first review? Otherwise I think we will start getting caught up in

[2021-12-03 16:26] erikcs commented on #3911
I'm happy to help out with a review - I should be able to get it done by early December.

[2021-12-03 16:28] jarvist commented on #3886
@whedon add @gdetor as reviewer

Great! Thank you Georgios.

[2021-12-03 16:28] whedon commented on #3886
OK, @gdetor is now a reviewer

[2021-12-03 16:29] jarvist commented on #3886
@whedon start review

Let's get this party started!

[2021-12-03 16:29] whedon opened #3974 "[REVIEW]: NeuralFieldEq.jl: A flexible solver to compute Neural Field Equations in several scenarios"
**Submitting author:** @tiagoseq (<a href="http://orcid.org/0000-0001-8579-3676">Tiago Sequeira</a>)
**Repository:** https://github.com/tiagoseq/NeuralFieldEq.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.3
**Editor:** @jarvist
**Reviewers:** @rougier, @gdetor
**Archive:** 10.5281/zenodo.6226695

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-12-03 16:29] whedon commented on #3886
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3974.

[2021-12-03 16:29] #3886 closed

[2021-12-03 16:29] whedon commented on #3974
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rougier, @gdetor it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-12-03 16:29] whedon commented on #3974
Wordcount for `paper.md` is 1046

[2021-12-03 16:29] whedon commented on #3974
[code]

[2021-12-03 16:29] whedon commented on #3974
[code]

[2021-12-03 16:30] sbenthall commented on #3845
@georgiastuart There is no strict timeline for reviews. It is common for reviews to take a month or two. If you think you can get to this in December or January, I'd say your timing is entirely appropriate. May I add you as a reviewer?

[2021-12-03 17:18] whedon commented on #3934
:wave: @kmichael08, please update us on how your review is going (this is an automated reminder).

[2021-12-03 17:18] whedon commented on #3934
:wave: @hbaniecki, please update us on how your review is going (this is an automated reminder).

[2021-12-03 17:50] gkthiruvathukal commented on #3865
@fabian-sp Yes, I'm moving forward. Please stay tuned. (It has been an intense week at work here with end of semester approaching. I will act on this now!)

[2021-12-03 17:50] gkthiruvathukal commented on #3865
@whedon set archive as 10.5281/zenodo.5718440

[2021-12-03 17:50] whedon commented on #3865
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-03 17:51] gkthiruvathukal commented on #3865
@whedon commands

[2021-12-03 17:51] whedon commented on #3865
Here are some things you can ask me to do:

[code]

[2021-12-03 17:51] gkthiruvathukal commented on #3865
@whedon set 10.5281/zenodo.5718440 as archive

[2021-12-03 17:51] whedon commented on #3865
OK. <a href="https://doi.org/10.5281/zenodo.5718440" target="_blank">10.5281/zenodo.5718440</a> is the archive.

[2021-12-03 17:51] gkthiruvathukal commented on #3865
@whedon set v0.1.7 as version

[2021-12-03 17:51] whedon commented on #3865
OK. v0.1.7 is the version.

[2021-12-03 17:52] kthyng commented on #3938
Hi @chainsawriot! I've removed the query-scope label because the editorial board thought this is in scope. So, we can proceed.

@sbenthall Would you be able to take this on as editor?

[2021-12-03 17:52] kthyng commented on #3938
@whedon invite @sbenthall as editor

[2021-12-03 17:52] whedon commented on #3938
@sbenthall has been invited to edit this submission.

[2021-12-03 17:52] gkthiruvathukal commented on #3865
@whedon generate pdf

[2021-12-03 17:53] whedon commented on #3865
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03865/joss.03865/10.21105.joss.03865.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03865/joss.03865/10.21105.joss.03865.pdf) :page_facing_up: :point_left:

[2021-12-03 17:54] kthyng commented on #3938
note for future AEIC: If sbenthall is not able to do this, I currently recommend putting this in a waitlist for an editor in the social sciences/humanities/text-related fields to open up. Choices include chartgerink, gkthiruvathukal, and ajstewartlang.

[2021-12-03 17:54] gkthiruvathukal commented on #3865
@whedon accept

[2021-12-03 17:55] kthyng commented on #3938
@chainsawriot One note that came up multiple times in feedback from the editorial board is that the "speedy" claim is dubious and that if they were judging based on that claim, this would be deemed not in scope. So, perhaps that should not be an emphasis or perhaps you can elaborate on the claim if you do want to continue in that direction.

[2021-12-03 17:56] dkauf42 commented on #3690
Hi @richardjgowers, just checking back in since the last visible comment is from two months ago: Are there any updates on our manuscript's status?  Thanks!

[2021-12-03 17:57] whedon opened #3975 "[PRE REVIEW]: ADaPT-ML: A Data Programming Template for Machine Learning"
**Submitting author:** @nulberry (<a href="http://orcid.org/0000-0001-8512-1810">Andrea Whittaker</a>)
**Repository:** <a href="https://github.com/U-Alberta/ADaPT-ML" target ="_blank">https://github.com/U-Alberta/ADaPT-ML</a>
**Version:** v1.0.0
**Editor:** @jmschrei
**Reviewers:** @aaronpeikert, @wincowgerDEV
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due

[2021-12-03 17:57] whedon commented on #3975
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-03 17:57] whedon commented on #3975
Wordcount for `paper.md` is 612

[2021-12-03 17:57] whedon commented on #3975
[code]

[2021-12-03 17:57] whedon commented on #3975
[code]

[2021-12-03 17:58] whedon commented on #3975
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03975/joss.03975/10.21105.joss.03975.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03975/joss.03975/10.21105.joss.03975.pdf) :page_facing_up: :point_left:

[2021-12-03 18:01] chainsawriot commented on #3938
@kthyng Thank you for taking care of the paper.

I can provide a benchmark later to back the speedy claim. If it is not convincing, then I can be creative and change the name of the package to a recursive acronym (sweater: Word Embedding Association Test and Extras Using R).

[2021-12-03 18:13] sbenthall commented on #3938
@whedon assign me as editor

[2021-12-03 18:13] whedon commented on #3938
OK, the editor is @sbenthall

[2021-12-03 18:23] sbenthall commented on #3938
@paragkulkarni11 Would you be able to review this package?

[2021-12-03 18:23] sbenthall commented on #3938
@mbod Would you be able to review this package?

[2021-12-03 20:13] whedon commented on #3937
:wave: @lostanlen, please update us on how your review is going (this is an automated reminder).

[2021-12-03 20:13] whedon commented on #3937
:wave: @malmaud, please update us on how your review is going (this is an automated reminder).

[2021-12-03 20:22] kthyng commented on #3865
@whedon recommend-accept

[2021-12-03 20:22] whedon commented on #3865
[code]

[2021-12-03 20:22] whedon commented on #3865
[code]

[2021-12-03 20:22] whedon commented on #3865
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2793

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2793, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-03 20:23] whedon opened #3976 "[PRE REVIEW]: DataAssimilationBenchmarks.jl: a data assimilation research framework"
**Submitting author:** @cgrudz (<a href="http://orcid.org/0000-0002-3084-3178">Colin Grudzien</a>)
**Repository:** <a href="https://github.com/cgrudz/DataAssimilationBenchmarks.jl" target ="_blank">https://github.com/cgrudz/DataAssimilationBenchmarks.jl</a>
**Version:** v0.2.0
**Editor:** @taless474
**Reviewers:** @peanutfun, @tmigot
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced servic

[2021-12-03 20:23] whedon commented on #3976
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-03 20:23] whedon commented on #3976
Wordcount for `paper.md` is 1301

[2021-12-03 20:23] whedon commented on #3976
[code]

[2021-12-03 20:23] whedon commented on #3976
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03976/joss.03976/10.21105.joss.03976.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03976/joss.03976/10.21105.joss.03976.pdf) :page_facing_up: :point_left:

[2021-12-03 20:23] whedon commented on #3976
[code]

[2021-12-03 20:30] kthyng commented on #3975
Hi @jmschrei! Would this be a good fit for you?

[2021-12-03 20:30] kthyng commented on #3975
@whedon invite @jmschrei as editor

[2021-12-03 20:30] whedon commented on #3975
@jmschrei has been invited to edit this submission.

[2021-12-03 20:36] kthyng commented on #3976
Hi @taless474! Could this be in your wheelhouse?

[2021-12-03 20:36] kthyng commented on #3976
@whedon invite @taless474 as editor

[2021-12-03 20:36] whedon commented on #3976
@taless474 has been invited to edit this submission.

[2021-12-03 20:38] kthyng commented on #3976
@cgrudz in the meantime, could you state here how the GMD paper is different from the JOSS submission? The manuscript for GMD itself certainly doesn't look like an in-depth review of the software like in JOSS, but can you speak to what the reviewers of the paper will be doing as part of their review? From my experience with GMD, there are different "types" of papers which have different levels of

[2021-12-03 20:39] whedon opened #3977 "[PRE REVIEW]: RWNN: Fast and simple non-linear modelling using random weight neural networks in R"
**Submitting author:** @svilsen (<a href="http://orcid.org/0000-0002-9718-8147">Søren Vilsen</a>)
**Repository:** <a href="https://github.com/svilsen/RWNN" target ="_blank">https://github.com/svilsen/RWNN</a>
**Version:** 0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic,

[2021-12-03 20:39] whedon commented on #3977
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-03 20:39] whedon commented on #3977
[code]

[2021-12-03 20:39] whedon commented on #3977
PDF failed to compile for issue #3977 with the following error:
[code]

[2021-12-03 20:41] kthyng commented on #3865
Did we already try to reinvite the reviewers? @jameschapman19 After I reinvite you, please accept the invitation and then you should be able to check off the review boxes above. This would be helpful for our bookkeeping.

[2021-12-03 20:41] kthyng commented on #3865
@whedon re-invite @jameschapman19 as reviewer

[2021-12-03 20:41] whedon commented on #3865
The reviewer already has a pending invite.

@jameschapman19 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-03 20:55] joethorley commented on #3911
@mikldk - Machine learning isn't really my thing - please feel free to send me Bayesian software tho

[2021-12-03 21:04] taless474 commented on #3976
Hi @kthyng . Sure, I will do it.

[2021-12-03 21:05] taless474 commented on #3976
@whedon assign me as editor

[2021-12-03 21:05] whedon commented on #3976
OK, the editor is @taless474

[2021-12-03 21:06] jameschapman19 commented on #3823
@emdupre closed that final issue. Thanks for all of the suggestions I hope that they have all been addressed in some way.

[2021-12-03 21:21] kthyng commented on #3977
@whedon generate pdf from branch JOSS

[2021-12-03 21:21] whedon commented on #3977
[code]

[2021-12-03 21:21] whedon commented on #3977
PDF failed to compile for issue #3977 with the following error:
[code]

[2021-12-03 21:23] kthyng commented on #3977
@svilsen I am going to ping the editorial board to make sure this submission is in scope. This process will take 1-2 weeks; thanks for your patience!

[2021-12-03 21:23] kthyng commented on #3977
@whedon query scope

[2021-12-03 21:24] whedon commented on #3977
Submission flagged for editorial review.

[2021-12-03 21:27] whedon opened #3978 "[PRE REVIEW]: patRoon 2.0: Improved non-target analysis workflows including automated transformation product screening"
**Submitting author:** @rickhelmus (<a href="http://orcid.org/0000-0001-9401-3133">Rick Helmus</a>)
**Repository:** <a href="https://github.com/rickhelmus/patRoon" target ="_blank">https://github.com/rickhelmus/patRoon</a>
**Version:** 2.0.0
**Editor:** @KristinaRiemer
**Reviewers:** @wesleyburr, @hechth
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-12-03 21:27] whedon commented on #3978
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-03 21:27] whedon commented on #3978
PDF failed to compile for issue #3978 with the following error:
[code]

[2021-12-03 21:28] whedon commented on #3978
[code]

[2021-12-03 21:29] kthyng commented on #3978
@whedon generate pdf from branch paper20

[2021-12-03 21:30] whedon commented on #3978
[code]

[2021-12-03 21:31] whedon commented on #3978
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03978/joss.03978/10.21105.joss.03978.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03978/joss.03978/10.21105.joss.03978.pdf) :page_facing_up: :point_left:

[2021-12-03 21:34] kthyng commented on #3978
Hi @rickhelmus and thanks for your submission! I see your paper for version 1.0 — can you describe what the review process for that paper entailed? Was there a software review? I know that you are seeking to publish on the basis of improvements between the two versions, but it would still be helpful to know what review went into v1.0. Thanks!

[2021-12-03 21:50] AP6YC commented on #3671
As promised, PR #49 now addresses Issues [26](https://github.com/AP6YC/AdaptiveResonance.jl/issues/26) [27](https://github.com/AP6YC/AdaptiveResonance.jl/issues/27) by implementing many working examples using the `DemoCards` package in the Examples section of the docs and removing the deprecated example page and folder.

[2021-12-03 22:13] villaa commented on #3932
@lucydot and @Kevin-Mattheus-Moerman , Is there any way I can help get this into review? Or is there something I can do to otherwise move things along. Thanks!

[2021-12-03 22:28] cgrudz commented on #3976
@kthyng thanks for handling this so quickly, @taless474, thanks for editing!

Regarding the scope of the different manuscripts, the GMD work is more mathematical where we develop the theory for a novel iterative estimator, the SIEnKS.  Particularly, this includes a review of several similar mathematical methods all within a Bayesian estimation framework.  We also present a variety of numerical sim

[2021-12-03 22:50] matthewfeickert commented on #3932
Hey sorry just saw the email that got sent today (I missed the first one in my slew of GitHub notifications it seems). I'll take a look at this over the weekend and make any comments here if that works for everyone.

[2021-12-03 23:13] gkthiruvathukal commented on #3865
@kthyng I don't believe I reinvited the reviewers. By the way, can you remind me again why this happens where the checklist occasionally doesn't show up?

[2021-12-04 08:16] maxpumperla commented on #3933
@kthyng yeah, you have to measure something. `lots of code == substantial` is a choice I guess I have to respect.

but you do understand that hyperas has been cited many times, right? https://scholar.google.de/scholar?hl=de&as_sdt=0%2C5&q=hyperas+keras&btnG= People try to cite it all the time, but can't do it properly just yet. This was an effort to submit a paper that has _substantial_ impact on

[2021-12-04 10:22] rickhelmus commented on #3978
Dear @kthyng,

Thanks for the swift response!

The previous paper provided a detailed overview of the functionality, implementation, infrastructure, benchmarks and a brief usage overview of patRoon 1.0. While most reviewers primarily focused on the contents of the manuscript, the website, inclusion of unit tests and software installation were also covered (for instance, providing Docker images wit

[2021-12-04 10:29] rickhelmus commented on #3978
Regarding any potential reviewers, I came up with the following suggestions:

- jorainer
- lgatto*
- sgibb
- Zhiqiang-PANG
- jsychong
- wesleyburr*
- hechth*
- joewandy*

My selection was mainly based on experience with mass spectrometry and general experience in software development. People noted with a * have previous JOSS contributions.

Thanks,
Rick

[2021-12-04 10:37] chainsawriot commented on #3938
@sbenthall Thanks for being the editor of the paper. Previously, I have suggested some potential reviewers. They are listed in the reviewer database and I know they are experts in either text analysis, developing text analytic software, or algorithmic accountability. You might also consider them.

https://github.com/openjournals/joss-reviews/issues/3938#issuecomment-974899645

[2021-12-04 10:59] lostanlen commented on #3937
LICENSE is MIT but not recognized by GitHub as such
https://github.com/UCD4IDS/WaveletsExt.jl/issues/39

Necessary vs. recommended dependencies
https://github.com/UCD4IDS/WaveletsExt.jl/issues/40

[2021-12-04 12:06] soffner commented on #3771
@zingale thank you for your comments and reviewing the code.

1.

 To some degree yes. ORION2 has some code (the FLD radiative transfer code
that was developed at LNL), which is not allowed to be released (doesn't
matter that other public FLD versions exist at this point). So we have to
strip that out in order to release it.

2.

We expect some development to take place in this repository. We also

[2021-12-04 12:20] schymane commented on #3978
Thanks @kthyng - in addition to @rickhelmus 's response, I'm adding in the link to the article plus JCheminf requirements for software articles, FYI:

https://jcheminf.biomedcentral.com/articles/10.1186/s13321-020-00477-w

https://jcheminf.biomedcentral.com/submission-guidelines/preparing-your-manuscript/software

[2021-12-04 13:26] Kevin-Mattheus-Moerman commented on #3932
@lucydot are  you able to handle this submission?

[2021-12-04 13:26] Kevin-Mattheus-Moerman commented on #3932
@whedon invite @lucydot as editor

[2021-12-04 13:26] whedon commented on #3932
@lucydot has been invited to edit this submission.

[2021-12-04 13:37] sandrinecharles commented on #3200
@Peter-Vermeiren @KristinaRiemer

Fully agree with this suggestion; we added three references of different OECD guidance documents in our summary, and cited again the reference to EFSA PPR Panel 2018 within section "Survival analysis "(end of the first §). OECD references where of course added to the final list.

[2021-12-04 14:37] zingale commented on #3771
okay, I did a PR to fix the GCC 11 compilation issues:
https://bitbucket.org/orionmhdteam/orion2_release1/pull-requests/2

[2021-12-04 14:38] zingale commented on #3771
I understand the issue of export control with rad transport (we had a similar experience), so that explanation is good by me.

[2021-12-04 14:38] zingale commented on #3771
I am going to defer to @dfm about the testing requirement for JOSS

[2021-12-04 14:43] sandrinecharles commented on #3200
@Peter-Vermeiren @KristinaRiemer

Thanks for pointing out spelling errors; we followed all your proposed changes, and also clarified where you suggested to do. Regarding spelling errors you pointed out in the message produced by 'morse' after the MFx calculations, I put an issue directly in the 'morse' package gitlab. This should be corrected with the next release but not changed immediately. I re

[2021-12-04 14:51] sandrinecharles commented on #3200
@KristinaRiemer

Thanks @Peter-Vermeiren , nice suggestion that should also apply to the reproDataCheck function in 'morse'... I put another issue in our 'morse' gitlab for the next release. I asked that the next release is made asap, hopefully just before this manuscript is accepted, if it is finally.

[2021-12-04 14:53] sandrinecharles commented on #3200
@KristinaRiemer

OK @Peter-Vermeiren , again an issue in the 'morse' gitlab for the next release. Thanks a lot for all your comments.

[2021-12-04 14:54] sandrinecharles commented on #3200
@Peter-Vermeiren you are right, automated test are not available.

[2021-12-04 14:58] lucydot commented on #3932
Hello @Kevin-Mattheus-Moerman @villaa apologies I managed to miss the first invite. I can edit this submission.

[2021-12-04 14:59] lucydot commented on #3932
@whedon assign @lucydot as editor

[2021-12-04 14:59] whedon commented on #3932
OK, the editor is @lucydot

[2021-12-04 15:04] sandrinecharles commented on #3200
@Peter-Vermeiren Thanks again for your helpful comments leading to improvement in our paper but also in the 'morse' package.
@KristinaRiemer Thank you for having managed the review process. I achieved all changes related to comments from @Peter-Vermeiren. Accordingly, the gitlab dossier with paper files has been fully updated: https://github.com/pveber/morse/tree/master/paper.

Best regards,
Sandr

[2021-12-04 15:04] zingale commented on #3771
The JOSS checklist asks to verify performance claims made in the paper.  The paper says:
[code]
I am not going to do a scaling test, but you should provide a reference for this statement.

[2021-12-04 15:13] drvinceknight commented on #2733
Hi @koenderks, I'm not actually sure here. I suggest you remove it and if that causes anything to fall over we can bring it back.

[2021-12-04 15:20] lucydot commented on #3932
Hi @matthewfeickert I've just taken a look at the [previous review thread](https://github.com/openjournals/joss-reviews/issues/3174) and can see you have invested some time into reviewing this piece of work - if you are available to give your thoughts on the changes made for this re-submission that would be very useful.

[2021-12-04 16:02] dfm commented on #3771
[We encourage, but don't require automated testing](https://joss.readthedocs.io/en/latest/review_criteria.html#tests). There should at least be some clearly documented example scripts with the expected output clearly and quantitatively defined.

[2021-12-04 16:42] kmichael08 commented on #3934
I'll get to it within a week, thanks for checking

[2021-12-04 17:05] zingale commented on #3771
okay thanks @dfm.  I think then we should just ask that a manual way to compare a run against expected output in some sense is provided.

[2021-12-04 20:16] sergioburdisso commented on #3856
@danielskatz Nice to meet you and sorry for the delay! I have no problem to review this submission, but be aware that this is going to be my first time :worried:

[2021-12-04 20:59] jmschrei commented on #3975
I can do this but I am away from my computer for the weekend

On Fri, Dec 3, 2021, 12:30 PM whedon ***@***.***> wrote: