[2018-09-07 18:33] katyhuff commented on #884
@whedon set 10.5281/zenodo.1411511 as archive

[2018-09-07 18:33] whedon commented on #884
OK. <a href="https://doi.org/10.5281/zenodo.1411511" target="_blank">10.5281/zenodo.1411511</a> is the archive.

[2018-09-07 18:34] katyhuff commented on #884
@whedon set https://doi.org/10.5281/zenodo.1411511 as archive

[2018-09-07 18:34] whedon commented on #884
OK. <a href="https://doi.org/10.5281/zenodo.1411511" target="_blank">10.5281/zenodo.1411511</a> is the archive.

[2018-09-07 18:35] katyhuff commented on #884
@sjpfenninger @ecotillasanchez : Thank you for your prompt and helpful reviews.
@wholmgren Thank you for your submission, and congratulations.

@arfon We're ready to accept this submission!

[2018-09-07 18:40] lmcinnes commented on #925
Hi @sauln,

It all looks good -- thanks for patching up the minor issues. My only remaining concern is the README provides example code that doesn't quite work. I think for the sklearn API version you want to remove the ``['dgm']``. Beyond that I think everything has been addressed.

[2018-09-07 19:28] arfon commented on #884
@sjpfenninger, @ecotillasanchez - many thanks for your reviews here and to @katyhuff for editing this submission ✨

@wholmgren - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00884 :zap: :rocket: :boom:

[2018-09-07 19:28] #884 closed

[2018-09-07 19:28] whedon commented on #884
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00884/status.svg)](https://doi.org/10.21105/joss.00884)

**We need your help!**

Journal of Open Source Softwar

[2018-09-07 19:41] sauln commented on #925
@lmcinnes, thanks for catching that example issue. I've fixed the bug and added an example image for the output.

[2018-09-07 19:41] sauln commented on #925
@whedon commands

[2018-09-07 19:41] whedon commented on #925
Here are some things you can ask me to do:

[code]

[2018-09-07 19:41] sauln commented on #925
@whedon generate pdf

[2018-09-07 19:41] whedon commented on #925
[code]

[2018-09-07 19:42] whedon commented on #925
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00925/joss.00925/10.21105.joss.00925.pdf)

[2018-09-07 19:47] sauln commented on #925
@whedon generate pdf

[2018-09-07 19:47] whedon commented on #925
[code]

[2018-09-07 19:47] whedon commented on #925
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00925/joss.00925/10.21105.joss.00925.pdf)

[2018-09-07 19:55] sauln commented on #925
The paper looks good to me.  I did notice some of the references are rendering strangely, print the first name only some of the time. I'm not sure if this is intentional or if there is something wrong with our .bib.

[2018-09-07 20:04] wholmgren commented on #884
Thank you @katyhuff @sjpfenninger @ecotillasanchez @arfon! I would be happy to review a future submission.

[2018-09-07 20:08] yochannah commented on #836
@kit-ty-kate 👋 would you be interested in reviewing this?

[2018-09-07 21:26] yochannah commented on #933
@ifellows thanks for your suggestions for potential reviewers, that's really handy!

One of the requirements for JOSS papers is that they should have an obvious research application. Could you elaborate a little bit how this package is used for research?

Re: licencing - it would probably be best if you could include a LICENSE file in your repo as well, and add it to your `.Rbuildignore` if you wi

[2018-09-07 22:05] ifellows commented on #933
Thanks.

Sorry if it wasn't immediately apparent from the paper. Like the recent `datastructures` paper, this package is supporting infrastructure for researchers. It comes out of a CDC initiative to build UIs for complex statistical methods for use by researchers in the field.

Often research requires computationally intensive activity. This package supports HPC by making it easy for the research

[2018-09-07 22:09] arfon commented on #918
@whedon generate pdf

[2018-09-07 22:09] whedon commented on #918
[code]

[2018-09-07 22:09] whedon commented on #918
PDF failed to compile for issue #918 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    14    0    14    0     0    161      0 --:--:-- --:--:-- --:--:--   162
Could not find bib

[2018-09-07 22:11] arfon commented on #918
@renatorrsilva - this change is also needed: https://github.com/renatorrsilva/nb/pull/2

[2018-09-07 22:27] renatorrsilva commented on #918
I don't know why, the reference did not work.

2018-09-07 19:25 GMT-03:00 whedon <notifications@github.com>:

[2018-09-07 22:28] arfon commented on #918
@renatorrsilva - please fix your references in `paper.bib`. The current ones you have are from the example paper, not the ones you are citing in your `paper.md` (i.e. none of these are in your `paper.bib ` file:  `@Russel:2003`, `@Koller:2009`, `@ElKourdi:2004`)

[2018-09-07 22:28] arfon commented on #918
This is the current contents of `paper.bib`:

[code]

[2018-09-07 22:39] renatorrsilva commented on #918
Thank you Arfon,

I've just replaced the references of paper.bib.

2018-09-07 19:28 GMT-03:00 Arfon Smith <notifications@github.com>:

[2018-09-07 22:45] arfon commented on #918
@whedon generate pdf

[2018-09-07 22:45] whedon commented on #918
[code]

[2018-09-07 22:46] whedon commented on #918
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00918/joss.00918/10.21105.joss.00918.pdf)

[2018-09-07 22:49] arfon commented on #918
@renatorrsilva - this is looking much better. This PR (https://github.com/renatorrsilva/nb/pull/4 for the mult) will fix a small reference formatting issue for these multiple references:
[code]

[2018-09-07 22:50] arfon commented on #918
@whedon generate pdf

[2018-09-07 22:50] whedon commented on #918
[code]

[2018-09-07 22:50] whedon commented on #918
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00918/joss.00918/10.21105.joss.00918.pdf)

[2018-09-07 22:51] arfon commented on #918
@arokem - are you willing to edit this submission for JOSS?

[2018-09-07 22:55] renatorrsilva commented on #918
Well, for me looks good, but  if you think is necessary to modify more
things, I can do.

2018-09-07 19:51 GMT-03:00 Arfon Smith <notifications@github.com>:

[2018-09-07 23:35] arfon commented on #918
Yes, this looks good now. Next we need to find a JOSS editor to handle this submission through the review process.

[2018-09-08 07:16] juanvillada commented on #932
I'll be glad to review it. Count me in 👍🏼👍🏼

[2018-09-08 09:36] rougier commented on #924
@raamana I've started the review and I've a few questions:

* I'm checking the docs but it seems there is a problem (I can read it at https://raamana.github.io/graynet/ but it's like the css style is broken. I'm using OSX/firefox to read it.
* Can you add all the missing DOI in the paper?
* In the test script, some tests are commented, is that on purpose?
* How do I check I get the right result fr

[2018-09-08 10:26] kit-ty-kate commented on #836
I'm not sure I'm well suited to review this.
I tried to compile the project, there were no instructions to compile anything and the only thing I could try (i.e. `./lepton.bin lepton.nw`) ended up in an infinite loop with some error messages and some OCaml files being generated.
The generated code itself is not very readable, almost no indentation and I don't know what to do with it. Also it uses o

[2018-09-08 12:44] raamana commented on #924
Thanks for getting started.

1. docs seem to look fine on my laptop, but are somehow broken on the website. This is a bit beyond my expertise, will followup with Sphinx etc to try why it isn't working. Are you able to follow the text without the neat layout? And confirm necessary info is there? For the time being, you could perhaps open the `index.html` at the top-level in `gh-pages` branch of the

[2018-09-08 13:30] rougier commented on #924
1. I'll look a the local version but you might want to fix the online version (such that people want to use your soft)
2. Yes, I was talking about references
3. ok
4. I'll try then.

[2018-09-08 13:39] rougier commented on #924
I cannot build the doc because of:
[code]
Where does this extension comes from?

[2018-09-08 14:15] raamana commented on #924
you don't need to build them - they are already committed to `gh-pages` branch

can you try (cd-ing to top-level graynet dir):
[code]

thanks.

[2018-09-08 14:46] rougier commented on #924
Works thanks (and documentation is much better)!

Test have passed by the way. You might want to add a subsection in the documentation under installation to tell people how to test.

[2018-09-08 14:56] raamana commented on #924
Users are not expected to run the tests themselves - the badge on the repo

[![Build Status](https://travis-ci.org/raamana/graynet.svg?branch=master)](https://travis-ci.org/raamana/graynet)

should give them confidence that its passing all the tests, and releases are not made if the tests fail.

Developers/contributors typically know what to do ;)

This document provides details:
https://github.co

[2018-09-08 14:59] rougier commented on #924
Do you think it could be possible to add a small toy example alongside the soft ?
With the missing DOI this is the last thing to do I think.

[2018-09-08 15:00] rougier commented on #924
You're right, but some users might want to test on their own machine to know if their installation is ok.

[2018-09-08 15:27] raamana commented on #924
I am not following you on

"Do you think it could be possible to add a small toy example alongside the soft ?

With the missing DOI this is the last thing to do I think."

could you elaborate please? thanks.

[2018-09-08 15:36] rougier commented on #924
Sorry. Things to do:

1. Add missing DOI from the references in your paper.md (and regenerate it)
2. ~add a small toy example~ Forget about it, I totally missed the script repo...

[2018-09-08 15:56] raamana commented on #924
Thanks - so the doc website seems to have fixed itself with a new theme: https://raamana.github.io/graynet/index.html

Per your suggestion, I've added the developer guidelines: https://github.com/raamana/graynet/blob/gh-pages/docs/contributing.rst

This will show up on the docs in a few minutes or so

I will add the DOIs now.

[2018-09-08 16:26] raamana commented on #924
The article is filled with DOIs now, except for `networkx` package which I couldn't find DOI for (seems like this old paper never got indexed). Let me know what else needs to be done.

[2018-09-08 19:48] yochannah commented on #891
👋  @luizirber is this something you might be interested in reviewing?

[2018-09-08 20:18] luizirber commented on #891
@yochannah sure!

[2018-09-08 20:40] yochannah commented on #836
@whedon generate pdf

[2018-09-08 20:40] whedon commented on #836
[code]

[2018-09-08 20:41] whedon commented on #836
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00836/joss.00836/10.21105.joss.00836.pdf)

[2018-09-08 20:57] yochannah commented on #891
Excellent!

[2018-09-08 20:57] yochannah commented on #891
@whedon assign @rasbt as reviewer

[2018-09-08 20:57] whedon commented on #891
OK, the reviewer is @rasbt

[2018-09-08 20:57] yochannah commented on #891
@whedon add @luizirber as reviewer

[2018-09-08 20:58] whedon commented on #891
OK, @luizirber is now a reviewer

[2018-09-08 20:58] yochannah commented on #891
@whedon start review

[2018-09-08 20:58] whedon opened #934 "[REVIEW]: q2-sample-classifier: machine-learning tools for microbiome classification and regression"
**Submitting author:** @nbokulich (<a href="http://orcid.org/0000-0002-1784-8935">Nicholas Bokulich</a>)
**Repository:** <a href="https://github.com/caporaso-lab/sample-classifier-ms" target ="_blank">https://github.com/caporaso-lab/sample-classifier-ms</a>
**Version:** 2018.6
**Editor:** @yochannah
**Reviewer:** @rasbt, @luizirber
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/

[2018-09-08 20:58] whedon commented on #891
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/934. Feel free to close this issue now!

[2018-09-08 20:58] whedon commented on #934
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rasbt, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-09-08 20:58] whedon commented on #934
[code]

[2018-09-08 20:59] whedon commented on #934
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00934/joss.00934/10.21105.joss.00934.pdf)

[2018-09-08 21:00] #891 closed

[2018-09-08 21:32] yochannah commented on #887
👋  Hey @hausen, might you be interested in reviewing this?

[2018-09-08 21:39] yochannah commented on #933
@ifellows Thanks, that does make sense - HPC is definitely an important part of research, and as you say, Shiny is well-loved amongst researchers too - I can see why one might want to make it more able to handle computationally intensive tasks.

Please go ahead and add a LICENSE file to your repo as well. 👍

[2018-09-08 21:40] yochannah commented on #933
👋  @wrathematics and @JohnCoene - hey there! Can we interest either or both of you in reviewing this package? Thanks!

[2018-09-08 22:03] yochannah commented on #926
@whedon assign @yochannah as editor

[2018-09-08 22:03] whedon commented on #926
OK, the editor is @yochannah

[2018-09-08 22:05] yochannah commented on #926
@pachamaltese thanks for your submission! Is there anybody you can think of who might be interested in reviewing this paper?

[2018-09-08 22:09] yochannah commented on #926
👋 Hey @xuanxu and @vyasr, is this a package either or both of you might be interested in reviewing?

[2018-09-08 23:15] rasbt commented on #934
@nbokulich @yochannah Just had a quick look at the pdf and the links link all to the manuscript repo rather than the software repo. I remember the issue came up in another review I did some time ago. Best way to address this is to put the manuscript file into the software repo that is being reviewed. E.g., you can put it into the docs subfolder.

[2018-09-08 23:17] pachamaltese commented on #926
Hi @yochannah <https://github.com/yochannah>. I have no clue. Sorry!

On Sat, Sep 8, 2018, 7:05 PM Yo Yehudi <notifications@github.com> wrote:

[2018-09-09 00:03] maxrousseau commented on #855
@whedon generate pdf

[2018-09-09 00:03] whedon commented on #855
[code]

[2018-09-09 00:05] whedon commented on #855
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00855/joss.00855/10.21105.joss.00855.pdf)

[2018-09-09 05:39] ifellows commented on #933
@yochannah : License file added. Actually made it MIT while I was at it.

[2018-09-09 13:56] vyasr commented on #926
Hmm no sorry, this doesn't look like something I'd know enough to review. Looks cool though!

[2018-09-09 16:31] yochannah commented on #926
No worries @vyasr and thanks for responding.

[2018-09-09 16:32] yochannah commented on #926
👋  Hey @khaors, might this be something you's be able to review?

[2018-09-09 17:39] yochannah commented on #934
@rasbt Good spot!

@nbokulich could you please put paper.md in the main https://github.com/qiime2/q2-sample-classifier repo? Thanks!

[2018-09-09 20:34] yochannah commented on #929
@whedon assign @yochannah as editor

[2018-09-09 20:34] whedon commented on #929
OK, the editor is @yochannah

[2018-09-09 20:38] yochannah commented on #929
👋  Hi @hiendn and @dirmeier - can I interest either or both of you in reviewing this?

[2018-09-09 23:55] arfon commented on #923
@whedon generate pdf

[2018-09-09 23:55] whedon commented on #923
[code]

[2018-09-09 23:56] whedon commented on #923
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00923/joss.00923/10.21105.joss.00923.pdf)

[2018-09-10 01:28] AsafManela commented on #923
I cannot, too busy these days. Sorry,

- Asaf

On Tue, Sep 4, 2018, 5:49 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2018-09-10 02:01] arokem commented on #508
@arfon Considering the author has indicated that he might not take this paper further to acceptance, should we close this issue for the time being, and reopen when the author(s) is(are) able to carry this work further?

[2018-09-10 02:29] arokem commented on #925
I have seen author first names in other JOSS papers as well, so I don't think this is anything unique to your paper.

Regarding DOIs: I was also not able to find DOIs for these articles. I am surprised in particular that JMLR doesn't have DOIs (for the sklearn paper), but it does seem like it doesn't.

One small comment: The paper currently suggests using `pip install ripser` (with a lower-case 'r

[2018-09-10 02:37] arokem commented on #792
Hi @nirum : just to confirm -- does this mean that the paper is ready to be accepted from your point of view?

@grg2rsr : one request from my end: could you please add the DOI for the references in the paper?

[2018-09-10 03:01] mhucka commented on #728
Unfortunately I won't have time to do anything on this until later at least in the year. I don't know what the requirements are for the paper submission in terms of timing; if it's necessary to withdraw, then that's okay since I really don't have an alternative at this time.

[2018-09-10 06:00] fdroessler commented on #930
Hi, I would be happy to have a go at it. As this is my first review it would be great to have someone to be able to get in touch if I have questions.

[2018-09-10 06:52] rougier commented on #924
Thanks @raamana. I think your paper is ready for publication (I recommend publication).
@arokem Do we need another review?

[2018-09-10 06:54] rougier commented on #924
Last question @raamana: did you find what is wrong with the online documentation? Did you managed to fix it? I can open an issue on the repo (as a reminder).

[2018-09-10 07:56] Kevin-Mattheus-Moerman commented on #810
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-09-10 07:56] whedon commented on #810
OK, the editor is @Kevin-Mattheus-Moerman

[2018-09-10 08:38] Kevin-Mattheus-Moerman commented on #810
@olivierverdier @JelteF @gpoore @alvinwan @maieul @adunning @kfeuerherm @pharos-alexandria @awtrindade would you be interested in reviewing this submission (_Samewords: Word disambiguation in critical text editions_) for the [Journal of Open Source Software (JOSS)](http://joss.theoj.org/about)? [The review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#the-joss-review-proc

[2018-09-10 08:54] maieul commented on #810
Dear @Kevin-Mattheus-Moerman I could, but as the author of the software on which Michael software is based, I am not sur to be the best man....

[2018-09-10 09:29] esguerra commented on #930
Hi @kyleniemeyer and @mpurg. I would be glad to help or help the reviewers in whichever way @kyleniemeyer  seems fit. For full disclosure I know the author of the paper and we work in the same institution, but in different groups and departments.

[2018-09-10 09:40] Kevin-Mattheus-Moerman commented on #810
@maieul thanks for your reply. You are probably hinting at a potential conflict of interest since you developed the "reledmac" package. Thanks for bringing this to our attention. Since we'll recruit multiple reviewers, and since you are not an author of the work presented here, I do not consider this to be a serious conflict of interest issue. If you are still interested I'd welcome you as a revie

[2018-09-10 09:50] maieul commented on #810
dear @Kevin-Mattheus-Moerman it could be ok for myself.

[2018-09-10 09:53] mattpitkin commented on #916
@ejhigson Sorry for the delay in starting the review, but I'm getting started now.

First, some easy fixes. In the references could you:

* add the DOI for the Matplotlib paper https://doi.org/10.1109/MCSE.2007.55
* add the arXiv URL for the "Importance Nested Sampling..." paper https://arxiv.org/abs/1306.2144

[2018-09-10 09:55] Kevin-Mattheus-Moerman commented on #810
@whedon assign @maieul as reviewer

[2018-09-10 09:55] whedon commented on #810
OK, the reviewer is @maieul

[2018-09-10 09:56] maieul commented on #810
@Kevin-Mattheus-Moerman my opinion : I don't see any problem in the article, except that is may be elliptic on two points:
- what is a critical edition
- in which way editor must mark the text manually with reledmac, and what the software does could be a good point

I don't know the FOSS, but I think the article should be more explicit for not philologist reader.

[2018-09-10 10:06] Kevin-Mattheus-Moerman commented on #810
@maieul thanks for your comments. @stenskjaer can start working on these comments. BTW as a side not this is currently a _pre-review issue_. You are welcome to start reviewing already but once I have some additional reviewers lined up I'll open the actual _review issue_. A review issue looks like [this](https://github.com/openjournals/joss-reviews/issues/845) and contains a checklist which guides

[2018-09-10 10:08] Kevin-Mattheus-Moerman commented on #671
@fernandoandreotti thanks again for your initial review. Could you please provide feedback on how the author has now dealt with your suggestions?

[2018-09-10 10:13] Kevin-Mattheus-Moerman commented on #671
@marianux thanks for your reply and for your review work. I understand your concern in relation to this package being similar to previously published works. After considering your feedback I feel this work is sufficiently original and independent enough to warrant being a potential publication in JOSS. Given this, would you be able to provide feedback (and tick boxes at the top of this issue where

[2018-09-10 10:14] Kevin-Mattheus-Moerman commented on #845
Thanks @yzhao062 for your end of the review work! :tada:

[2018-09-10 10:15] Kevin-Mattheus-Moerman commented on #845
@vc1492a we will now await @llllllllll review comments.

[2018-09-10 10:16] Kevin-Mattheus-Moerman commented on #866
:point_up: @jshermeyer can you check that paper reference to help compile your paper?

[2018-09-10 10:34] mattpitkin commented on #916
Just a small request and query for the "Quickstart demo".

In the "**Calculating errors due to implementation-specific effects**" [section](https://nestcheck.readthedocs.io/en/latest/demos/quickstart_demo.html#Calculating-errors-due-to-implementation-specific-effects) could you state explicitly that this requires you to have multiple run (I know this is kind of covered in the next section, but it

[2018-09-10 10:36] raamana commented on #924
Thank you for the speedy review, much appreciate your efforts!

Not sure why it didn’t work before, but the doc website seems to have fixed itself with a new theme:

https://raamana.github.io/graynet/index.html

Take a look

[2018-09-10 11:03] arfon commented on #508
Yes, let's close this.

[2018-09-10 11:03] #508 closed

[2018-09-10 11:05] arfon commented on #728
@mhucka - that's ok. We'll just mark this as paused. I'll ping you again in a month or so?

[2018-09-10 11:10] arfon commented on #662
Hi @benmarwick - do you know when you will be able to complete your review by?

[2018-09-10 11:11] arfon commented on #667
Hi @gomesdasilva - when do you think you will be able to revisit this?

[2018-09-10 11:15] arfon commented on #774
:wave: @alexgarciac @lmullen - when do you think you might be able to complete your review by?

[2018-09-10 11:15] arfon commented on #780
Hi @xirdneh - when do you think you might be able to complete your review by?

[2018-09-10 11:16] arfon commented on #791
Hi @MarionLegrandLogrami - when do you think you will be able to incorporate @steffilazerte's feedback?

[2018-09-10 11:17] arfon commented on #815
Friendly reminder we're waiting on you here @JeanBilheux ☝️

[2018-09-10 11:18] arfon commented on #820
@kyleniemeyer - when do you think you might be able to complete your review by?

[2018-09-10 11:29] arfon commented on #833
Apologies @biswapriyamisra - I see you already have a pending review for us on another submission.

[2018-09-10 11:49] mattpitkin commented on #916
Would you be able to add some more information to the documentation about how to go about allowing samples from different nested sampling codes to be read in to `nestcheck`? I.e., what should a code output to allow you to use it with `nestcheck` through a custom `process_XXXX_runs` function? I see from the [`process_dynesty_runs`](https://github.com/ejhigson/nestcheck/blob/master/nestcheck/data_pr

[2018-09-10 12:11] alex-konovalov commented on #904
@labarba review completed. Fixed two typos in https://github.com/drvinceknight/Nashpy/pull/50 and pointed out a couple of issues with DOIs at https://github.com/drvinceknight/Nashpy/issues/51. Otherwise, straightforward installation, proper testing and detailed documentation - @drvinceknight, thank you for submitting to JOSS!

[2018-09-10 12:43] JeanBilheux commented on #815
Good morning. I’m glad you reminded me as I was waiting too   ☺

I will work on it

Thanks

Jean

From: Arfon Smith <notifications@github.com>
Reply-To: openjournals/joss-reviews <reply@reply.github.com>
Date: Monday, September 10, 2018 at 7:17 AM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: "Bilheux, Jean-Christophe" <bilheuxjm@ornl.gov>, Mention <mention@noreply.github.com

[2018-09-10 12:44] grg2rsr commented on #792
DOIs are added

[2018-09-10 13:49] cole-brokamp commented on #812
I've revised the manuscript, code, and README based on @vsoch's review.  You can see a summary of my changes here: https://github.com/cole-brokamp/DeGAUSS/issues/10#issuecomment-419918139

[2018-09-10 13:50] cole-brokamp commented on #812
@whedon commands

[2018-09-10 13:50] whedon commented on #812
Here are some things you can ask me to do:

[code]

[2018-09-10 13:51] cole-brokamp commented on #812
@whedon generate pdf

[2018-09-10 13:51] whedon commented on #812
[code]

[2018-09-10 13:51] whedon commented on #812
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00812/joss.00812/10.21105.joss.00812.pdf)

[2018-09-10 13:52] raamana commented on #924
I have also added more info on how to test graynet locally, as well as many links to how to test python packages. It should appear at the end of developer guidelines shortly (depending on github's CDN responsiveness :)..)

[2018-09-10 13:58] lmcinnes commented on #925
Thanks @arokem and @sauln! Glad to see this getting published.

On Sun, Sep 9, 2018 at 10:29 PM Ariel Rokem <notifications@github.com>
wrote:

[2018-09-10 13:59] ChrisJefferson commented on #887
I am happy to review this package. I know Java quite well, but am a little rusty with building / classpaths / junit.

@cicirello  Could you please add explicit instructions for building the package, running the tests and running the examples?

[2018-09-10 14:19] hiendn commented on #929
Hi @yochannah, I can conduct the review. Just let me know what to do! :)

[2018-09-10 14:28] lheagy commented on #917
Hi @uvilla and @IgorBaratta, just a quick update - I have found another reviewer and am just waiting to get his github information. We can get the review started from there. Thanks for your patience!

[2018-09-10 14:37] arfon commented on #836
@slithiaote - this PR should fix the rendering issue in the PDF: https://github.com/slithiaote/lepton/pull/1

[2018-09-10 14:58] arfon commented on #836
@whedon generate pdf

[2018-09-10 14:59] whedon commented on #836
[code]

[2018-09-10 14:59] whedon commented on #836
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00836/joss.00836/10.21105.joss.00836.pdf)

[2018-09-10 15:05] ziotom78 commented on #916
@arfon, I'll have a look at it in the next days, I've come back from holidays just last week and am still trying to catch up things…

[2018-09-10 15:10] lmullen commented on #774
By the end of the day Friday.

On Mon, Sep 10, 2018 at 7:15 AM Arfon Smith <notifications@github.com>
wrote:

--
Lincoln Mullen
Assistant Professor, Department of History & Art History
George Mason University

[2018-09-10 15:39] oekosheri commented on #900
Thank you for your comments.
- I will add more description to the docstrings to describe the parameters a bit more but I hope I don't have to necessarily have full descriptions the same way python does for example. That would take a very long time.
- I  think I can consider this later but for now the installation is rather easy and it seem to work fine.
- The reason I added the Jupyter notebooks t

[2018-09-10 15:40] nbokulich commented on #934
sorry for the oversight on my part @yochannah @rasbt

I have added the manuscript to the software repo [here](https://github.com/qiime2/q2-sample-classifier/tree/master/paper)... @yochannah is there some way to reassign the repository to correct the links in the proof? (sorry — I entered that information during submission so do not see a way to edit now)

[2018-09-10 15:47] JohnCoene commented on #933
@ifellows @yochannah I had a brief look at the paper, I'm happy to review it but I'm away for the next 2 weeks and can't do anything before 1st October. Feel free to assign someone else if that is too long.

[2018-09-10 16:31] ziotom78 commented on #916
@arfon, I have downloaded the two papers cited by the package's authors and have discovered that they used it for work related to the Planck project, to whom I have belonged for a long time. I do not think there is a clear conflict of interest, as I have never interacted with any of the authors about the topics covered here. However, the JOSS Code of Conduct states clearly that I need to report th

[2018-09-10 16:37] nirum commented on #792
Yes, paper is ready to accept from my end!

[2018-09-10 17:27] jedbrown commented on #825
@whedon generate pdf

[2018-09-10 17:27] whedon commented on #825
[code]

[2018-09-10 17:27] whedon commented on #825
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00825/joss.00825/10.21105.joss.00825.pdf)

[2018-09-10 17:32] jedbrown commented on #825
I installed the software and followed one of the tutorials -- looks great.

@sjpfenninger Can you fix capitalization in the bib file? I think this is a result of a new JOSS style file, but proper names should be protected: "europe", "great britain", "ecos", "san diego, ca", "south africa", "python". When that is fixed, we'll be ready to archive. Thanks for your patience.

[2018-09-10 17:59] ifellows commented on #933
@whedon generate pdf

[2018-09-10 17:59] whedon commented on #933
[code]

[2018-09-10 18:00] whedon commented on #933
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00933/joss.00933/10.21105.joss.00933.pdf)

[2018-09-10 18:01] boyanangelov commented on #847
Thanks @goldingn. Just pushed the fixes for the undocumented functions.

[2018-09-10 20:27] yochannah commented on #929
@hiendn You are awesome! I'm still hunting for a second reviewer before I kick off the official review process, but in the meantime you can check out [the reviewer guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html) and/or start looking at the software package.

[2018-09-10 20:29] yochannah commented on #933
@JohnCoene thanks for letting us know! I'll look for someone in the meantime and loop back if we're still looking in two weeks!

[2018-09-10 20:47] yochannah commented on #933
@mschubert Hey there! 👋 Is this something you'd be interested in reviewing?

[2018-09-10 21:13] yochannah commented on #836
@slithiaote thanks for the edits you've made. I think there are still some formatting issues in your pdf around the quotes - it looks like maybe there are two single apostrophes `''` rather than a single double quote `"` around Lepton, which makes the proof look a little strange.

I'm still hunting for reviewers & will update when I find someone.

[2018-09-10 21:18] vsoch commented on #812
Bravo @cole-brokamp! You have done a beautiful job fixing up the paper and repository. I have two quick checks to do before signing off, both rather trivial.

- tests: do you describe anywhere how to test? Are there automated tests of any kind? The general goal would be that if a developer stumbles across any of the code and wants to quickly check "is this functioning as it should on my system" yo

[2018-09-10 22:07] cicirello commented on #887
@ChrisJefferson Yes, I'll add instructions for building, running the tests, running the examples.  I'm out of town at the moment, but will be back by tomorrow night, so I'll add this on Wednesday morning.  Thank you for reviewing.

[2018-09-10 23:36] malramsay64 commented on #930
I am happy to review if I am required. @fdroessler I have done one review before, and I am happy for you to direct any questions at me.

[2018-09-11 01:54] sauln commented on #925
Thank you both @lmcinnes and @arokem for pushing this through. @ctralie and I are both excited to have this accepted.

I have incremented the version to 0.3.0, made a release, and uploaded it to zenodo. The badge is below (it appears there is a delay in the doi being registered, the link in the badge doesn't work just yet)

[![DOI](https://zenodo.org/badge/96122448.svg)](https://zenodo.org/badge/l

[2018-09-11 03:07] goldingn commented on #847
Great! All ticks from me now. Good job!

[2018-09-11 03:33] kyleniemeyer commented on #930
@whedon add @malramsay64 as reviewer

[2018-09-11 03:33] whedon commented on #930
OK, @malramsay64 is now a reviewer

[2018-09-11 03:33] kyleniemeyer commented on #930
@whedon add @esguerra as reviewr

[2018-09-11 03:33] kyleniemeyer commented on #930
@whedon add @esguerra as reviewer

[2018-09-11 03:33] whedon commented on #930
OK, @esguerra is now a reviewer

[2018-09-11 03:34] kyleniemeyer commented on #930
@whedon add @fdroessler as reviewr

[2018-09-11 03:34] whedon commented on #930
OK, @fdroessler is now a reviewer

[2018-09-11 03:35] kyleniemeyer commented on #930
@whedon start review magic-word=bananas

[2018-09-11 03:35] whedon opened #935 "[REVIEW]: qtools: A Python toolset for the Q molecular simulation package."
**Submitting author:** @mpurg (<a href="http://orcid.org/0000-0003-4647-6103">Miha Purg</a>)
**Repository:** <a href="https://github.com/mpurg/qtools" target ="_blank">https://github.com/mpurg/qtools</a>
**Version:** v0.6.1
**Editor:** @kyleniemeyer
**Reviewers:** @malramsay64, @fdroessler
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/6dc33648ae23a49031b9c305cbd8300f/sta

[2018-09-11 03:35] whedon commented on #930
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/935. Feel free to close this issue now!

[2018-09-11 03:35] whedon commented on #935
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @malramsay64, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2018-09-11 03:35] whedon commented on #935
[code]

[2018-09-11 03:35] whedon commented on #935
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00935/joss.00935/10.21105.joss.00935.pdf)

[2018-09-11 03:39] #930 closed

[2018-09-11 03:39] kyleniemeyer commented on #930
@malramsay64 @esguerra @fdroessler the review will be in #935

[2018-09-11 03:40] kyleniemeyer commented on #935
@mpurg @malramsay64 @esguerra @fdroessler 👋  you each have individual checklists above. Detailed review criteria are at https://joss.readthedocs.io/en/latest/review_criteria.html

[2018-09-11 03:41] danehkar commented on #898
@mdpiper thank you for your reviews. I will solve those minor issues. did you also finish your review of **proEQUIB**?

[2018-09-11 04:04] mgalloy commented on #898
Catching up after some travel. Added some comments on issues opened by @mdpiper.

I think it would also be useful to add a short sentence after the opening description of AtomNeb database in your [README](https://github.com/atomneb/AtomNeb-idl/blob/master/README.md) that indicates precisely how `AtomNeb-idl` relates to it. Does it contain the data, access them via the web, access data you have gen

[2018-09-11 07:11] stenskjaer commented on #810
@Kevin-Mattheus-Moerman This is great! Should I start revising the article based on @maieul's comments or wait until we are furhter in the review process (comments from other reviewer and you as the editor?).

[2018-09-11 07:19] stenskjaer commented on #810
Another possible reviever could be @MarjorieBurghart who first raised the problem within the context of the reledmac LaTeX package (https://github.com/maieul/ledmac/issues/467).

[2018-09-11 10:29] sjpfenninger commented on #825
@jedbrown That should be fixed. I also bumped `codemeta.json` to v0.6.2 (the current version and the version that was online when the review started).

[2018-09-11 10:43] whedon opened #936 "[PRE REVIEW]: ungroup: An R package for efficient estimation of smooth distributions from coarsely binned data"
**Submitting author:** @mpascariu (<a href="http://orcid.org/0000-0002-2568-6489">Marius Dan Pascariu</a>)
**Repository:** <a href="https://github.com/mpascariu/ungroup" target ="_blank">https://github.com/mpascariu/ungroup</a>
**Version:** v1.0.3
**Editor:** @karthik
**Reviewers:** @rlbarter

**Author instructions**

Thanks for submitting your paper to JOSS @mpascariu. The JOSS editor (shown at t

[2018-09-11 10:43] whedon commented on #936
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-11 10:43] whedon commented on #936
[code]

[2018-09-11 10:43] whedon commented on #936
PDF failed to compile for issue #936 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: authors (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba

[2018-09-11 10:43] arfon commented on #936
:wave: @karthik - the submitting author suggested you as the handling editor.

[2018-09-11 10:45] arfon commented on #936
@mpascariu - please update your YAML paper header to exactly match this structure (looks like the `authors` field is missing) https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2018-09-11 12:36] mpascariu commented on #936
Done.

[2018-09-11 13:13] arfon commented on #936
@whedon generate pdf

[2018-09-11 13:13] whedon commented on #936
[code]

[2018-09-11 13:13] whedon commented on #936
PDF failed to compile for issue #936 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    158      0 --:--:-- --:--:-- --:--:--   160
[WARNING] Could no

[2018-09-11 13:34] dleehr commented on #840
Thanks @pjotrp. I'll let you know after I make those changes.

[2018-09-11 13:38] ejhigson commented on #916
@whedon generate pdf

[2018-09-11 13:38] whedon commented on #916
[code]

[2018-09-11 13:38] whedon commented on #916
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00916/joss.00916/10.21105.joss.00916.pdf)

[2018-09-11 13:45] danielhatton commented on #908
@whedon commands

[2018-09-11 13:45] whedon commented on #908
Here are some things you can ask me to do:

[code]

[2018-09-11 13:45] whedon commented on #908
[code]

[2018-09-11 13:46] whedon commented on #908
PDF failed to compile for issue #908 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    14    0    14    0     0    122      0 --:--:-- --:--:-- --:--:--   122
Error reading bibl

[2018-09-11 13:48] danielhatton commented on #908
@whedon generate pdf

[2018-09-11 13:48] whedon commented on #908
[code]

[2018-09-11 13:49] whedon commented on #908
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00908/joss.00908/10.21105.joss.00908.pdf)

[2018-09-11 13:50] mpascariu commented on #936
Seems to be an issue with the `tiff` files. Should I try saving the figures as `pdf` files?

[2018-09-11 13:57] danielhatton commented on #908
Dear Dr. Moerman,

I've added a paragraph to the statement of need in this paper, suggesting the applicability of the tool in research contexts.  Does it help?

[2018-09-11 14:35] mpascariu commented on #936
I have generated figures in pdf format. Hope it will work now.

[2018-09-11 15:12] uvilla commented on #917
Thank you @lheagy

[2018-09-11 15:31] jedbrown commented on #825
@whedon generate pdf

[2018-09-11 15:31] whedon commented on #825
[code]

[2018-09-11 15:32] whedon commented on #825
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00825/joss.00825/10.21105.joss.00825.pdf)

[2018-09-11 15:34] jedbrown commented on #825
@sjpfenninger Looks good. Please archive your repository using Zenodo or similar and report the DOI here.

[2018-09-11 15:49] ejhigson commented on #916
@whedon generate pdf

[2018-09-11 15:49] whedon commented on #916
[code]

[2018-09-11 15:50] whedon commented on #916
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00916/joss.00916/10.21105.joss.00916.pdf)

[2018-09-11 15:57] mattpitkin commented on #916
@ejhigson would you be able to add a `__version__` parameter to the package, so that:

[code]

gives the current version information.

[2018-09-11 16:08] ctralie commented on #925
Thank you @lmcinnes and @arokem both for getting to this so quickly!  We appreciate the attention to detail and are both very excited to have this through

[2018-09-11 16:15] arfon commented on #936
@whedon generate pdf

[2018-09-11 16:15] whedon commented on #936
[code]

[2018-09-11 16:15] whedon commented on #936
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00936/joss.00936/10.21105.joss.00936.pdf)

[2018-09-11 16:51] ejhigson commented on #916
@mattpitkin thank you very much for your comments! I think I have addressed them - please let me know if there is anything else I should add or change.

Added.

Added.

You are correct - this is a (not insignificant) typo. Thank you for pointing it out! I have fix it.

I have added a guide to this in the module docstring of data_processing - let me know if this is ok/if it can be improved.

Added

[2018-09-11 17:07] hamedmx commented on #892
@jasonclark Hello, Is there any chances to find an additional reviewer sooner except @cmccomb that we know he will be available after 9/24 ?

[2018-09-11 18:26] yochannah commented on #887
@ChrisJefferson Thank you so much for volunteering to review! I'm hunting for a second reviewer (feel free to suggest if you know anyone), and once we find them we can kick off the full review. In the meantime feel free to look at the package and browse the review guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2018-09-11 18:28] arfon commented on #936
@mpascariu - layout is tricky with Markdown/Pandoc. I suggest we wait until the review is complete before tweaking layout.

[2018-09-11 18:30] yochannah commented on #934
Thanks @nbokulich!

@arfon, do we just need to edit the url for the github issue and regenerate the pdf to fix the repo URL, or is there a better way to go about this?

[2018-09-11 18:32] mpascariu commented on #936
@arfon I agree.

[2018-09-11 18:37] arfon commented on #934
Yep, feel free to edit the issue at the top and then as Whedon to compile again.

[2018-09-11 18:47] yochannah commented on #934
@whedon generate pdf

[2018-09-11 18:47] whedon commented on #934
[code]

[2018-09-11 18:47] whedon commented on #934
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00934/joss.00934/10.21105.joss.00934.pdf)

[2018-09-11 19:42] pachamaltese commented on #926
this is not physics!! it's economics

El mar., 11 de sep. de 2018 a la(s) 16:21, Yo Yehudi (
notifications@github.com) escribió:

[2018-09-11 20:11] cole-brokamp commented on #926
Looks interesting, but I think the domain is outside of my area of expertise.  Sorry I couldn't be of more help!

[2018-09-11 20:16] yochannah commented on #926
Thanks @cole-brokamp for letting us know!

[2018-09-11 20:38] karthik commented on #936
@mpascariu I'm looking for reviewers now so stay tuned. Here are some pre-review suggestions for you to fix ahead of time:

[code]

[2018-09-11 22:06] karthik commented on #936
@whedon assign @rlbarter as reviewer

[2018-09-11 22:06] whedon commented on #936
OK, the reviewer is @rlbarter

[2018-09-11 22:06] karthik commented on #936
@whedon start review

[2018-09-11 22:06] whedon opened #937 "[REVIEW]: ungroup: An R package for efficient estimation of smooth distributions from coarsely binned data"
**Submitting author:** @mpascariu (<a href="http://orcid.org/0000-0002-2568-6489">Marius Dan Pascariu</a>)
**Repository:** <a href="https://github.com/mpascariu/ungroup" target ="_blank">https://github.com/mpascariu/ungroup</a>
**Version:** v1.0.3
**Editor:** @karthik
**Reviewer:** @rlbarter
**Archive:** <a href="https://doi.org/10.5281/zenodo.1421648" target="_blank">10.5281/zenodo.1421648</a>

#

[2018-09-11 22:06] whedon commented on #936
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/937. Feel free to close this issue now!

[2018-09-11 22:06] whedon commented on #937
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rlbarter it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-09-11 22:06] whedon commented on #937
[code]

[2018-09-11 22:07] whedon commented on #937
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00937/joss.00937/10.21105.joss.00937.pdf)

[2018-09-11 22:07] karthik commented on #936
Thanks @rlbarter for agreeing to review! Please see issue #937 for the review and reach out if you have any questions. I'll close up this issue.

[2018-09-11 22:07] #936 closed

[2018-09-11 22:33] mattpitkin commented on #916
@ejhigson thanks, it all looks good to me.

[2018-09-11 23:27] malramsay64 commented on #935
@mpurg I have taken an initial look and raised a number of issues. To be clear, only the issues with '[review]' in the title are the ones which require action based on the review criteria. The others are more suggestions which I think would make the software better. I am happy to help fix or discuss any issues.

[2018-09-12 05:04] ziotom78 commented on #916
Hi @ejhigson , I have started testing your package, I found an issue and reported it here: [#1](https://github.com/ejhigson/nestcheck/issues/1).

[2018-09-12 06:37] stenskjaer commented on #810
Yet another good possible reviewer could be @Padlina.

[2018-09-12 07:27] sjpfenninger commented on #825
The generic Zenodo DOI is 10.5281/zenodo.593292 and the DOI for version 0.6.2 is 10.5281/zenodo.1262406 -- or do you need the specific commit that contains the accepted version of the JOSS paper to be archived?

[2018-09-12 07:53] Kevin-Mattheus-Moerman commented on #810
@Padlina @MarjorieBurghart would you be interested in reviewing this submission (_Samewords: Word disambiguation in critical text editions_) for the [Journal of Open Source Software (JOSS)](http://joss.theoj.org/about)? [The review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#the-joss-review-process) focuses on [the software :floppy_disk:](https://github.com/stenskjaer/s

[2018-09-12 07:55] Kevin-Mattheus-Moerman commented on #810
@stenskjaer you can start working on the comments now if you like. We'll reiterate what has been done as part of the review in the actual review issue as well.

[2018-09-12 08:06] jshermeyer commented on #866
Apologies, have been traveling. Will address this next week. Thanks for the reminder!

-Jake

[2018-09-12 08:28] Kevin-Mattheus-Moerman commented on #810
@MarjorieBurghart @Padlina Excellent thanks! We generally aim for 2 weeks but there is not real set deadline. Some reviews take days others months but we of course prefer a speedy process.

[2018-09-12 08:28] Kevin-Mattheus-Moerman commented on #810
@whedon add @MarjorieBurghart as reviewer

[2018-09-12 08:28] whedon commented on #810
OK, @MarjorieBurghart is now a reviewer

[2018-09-12 08:29] Kevin-Mattheus-Moerman commented on #810
@whedon add @Padlina as reviewer

[2018-09-12 08:29] whedon commented on #810
OK, @Padlina is now a reviewer

[2018-09-12 08:33] Kevin-Mattheus-Moerman commented on #810
@MarjorieBurghart are [this](https://www.digitalmanuscripts.eu/people/co-ordinators/marjorie-burghart/) and [this](http://ciham.ish-lyon.cnrs.fr/membres/marjorie-burghart) accurate professional links for you?  @Padlina could you share your full name and preferably a link to a professional profile? Apologies I could not tell much from your GitHub profiles.

[2018-09-12 08:53] MarjorieBurghart commented on #810
@Kevin-Mattheus-Moerman the first link is an accurate bio but not an institutional link (it's a project website), the second is the "official" page on my research centre's website

[2018-09-12 10:27] whedon opened #938 "[PRE REVIEW]: Eniric: Extended NIR Information Content"
**Submitting author:** @jason-neal (<a href="http://orcid.org/0000-0003-0390-9896">Neal, Jason J.</a>)
**Repository:** <a href="https://github.com/jason-neal/eniric" target ="_blank">https://github.com/jason-neal/eniric</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @crawfordsm

**Author instructions**

Thanks for submitting your paper to JOSS @jason-neal. The JOSS editor (shown at the

[2018-09-12 10:27] whedon commented on #938
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-12 10:27] whedon commented on #938
[code]

[2018-09-12 10:27] whedon opened #939 "[PRE REVIEW]: Diff_classifier: Parallelization of multi-particle tracking video analyses"
**Submitting author:** @ccurtis7 (<a href="http://orcid.org/0000-0001-6312-392X">Chad Curtis</a>)
**Repository:** <a href="https://github.com/ccurtis7/diff_classifier" target ="_blank">https://github.com/ccurtis7/diff_classifier</a>
**Version:** v0.1-alpha
**Editor:** @cMadan
**Reviewers:** @stsievert

**Author instructions**

Thanks for submitting your paper to JOSS @ccurtis7. The JOSS editor (sh

[2018-09-12 10:27] whedon commented on #938
PDF failed to compile for issue #938 with the following error:

 Can't find any papers to compile :-(

[2018-09-12 10:27] whedon commented on #939
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-12 10:27] whedon commented on #939
[code]

[2018-09-12 10:27] arfon commented on #939
:wave: @cMadan - the submitting author suggested you as the handling editor.

[2018-09-12 10:28] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    144      0 --:--:-- --:--:-- --:--:--   145
Error producing PD

[2018-09-12 10:30] arfon commented on #938
@whedon generate pdf from branch paper

[2018-09-12 10:30] whedon commented on #938
[code]

[2018-09-12 10:31] whedon commented on #938
PDF failed to compile for issue #938 with the following error:

 Can't find any papers to compile :-(

[2018-09-12 10:32] arfon commented on #938
@whedon generate pdf from branch paper

[2018-09-12 10:32] whedon commented on #938
[code]

[2018-09-12 10:33] whedon commented on #938
PDF failed to compile for issue #938 with the following error:

 Can't find any papers to compile :-(

[2018-09-12 10:34] arfon commented on #938
I think this repository is too big for Whedon to clone in a reasonable timeframe... 😢

[2018-09-12 10:36] arfon commented on #938
Here's the paper I compiled locally [10.21105.joss.00938.pdf](https://github.com/openjournals/joss-reviews/files/2374711/10.21105.joss.00938.pdf)

[2018-09-12 12:05] oekosheri commented on #900
@labarba @vyasr @trallard I have updated the repository after adding more to the doctrings of the csl_generator script. I have checked the requirement for the documentation in JOSS and think my code satisfies it for the most part. If there is another necessary step that I'm missing please let me know.
Aside from this, I would like to know the timeline for the review process as I must present the c

[2018-09-12 13:14] jason-neal commented on #938
Oh, right. I am getting prepared to use BFG-repo-cleaner to clean out old large data files from the repo, that might help Whedon

[2018-09-12 14:01] ziotom78 commented on #916
@ejhigson thanks for having fixed that problem so quickly! I have used the program and read the paper, for me everything looks ok.

[2018-09-12 14:37] zfrenchee commented on #747
Would still love to see this reviewed @arfon

[2018-09-12 14:41] lheagy commented on #917
@whedon add @boehmc as reviewer

[2018-09-12 14:41] whedon commented on #917
OK, @boehmc is now a reviewer

[2018-09-12 14:42] lheagy commented on #917
@whedon start review

[2018-09-12 14:42] whedon opened #940 "[REVIEW]: hIPPYlib: An Extensible Software Framework for Large-Scale Inverse Problems"
**Submitting author:** @uvilla (<a href="http://orcid.org/0000-0002-5142-2559">Umberto Villa</a>)
**Repository:** <a href="https://github.com/hippylib/hippylib" target ="_blank">https://github.com/hippylib/hippylib</a>
**Version:** 2.1.0
**Editor:** @lheagy
**Reviewer:** @IgorBaratta, @boehmc
**Archive:** <a href="https://doi.org/10.5281/zenodo.596931" target="_blank">10.5281/zenodo.596931</a>

##

[2018-09-12 14:42] whedon commented on #917
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/940. Feel free to close this issue now!

[2018-09-12 14:42] whedon commented on #940
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @IgorBaratta, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2018-09-12 14:42] whedon commented on #940
[code]

[2018-09-12 14:42] #917 closed

[2018-09-12 14:43] whedon commented on #940
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00940/joss.00940/10.21105.joss.00940.pdf)

[2018-09-12 14:52] terrytangyuan commented on #747
Cool. Also, could you address my comments regarding community guidelines?

[2018-09-12 14:54] ccurtis7 commented on #939
@whedon commands

[2018-09-12 14:54] whedon commented on #939
Here are some things you can ask me to do:

[code]

[2018-09-12 14:55] ccurtis7 commented on #939
@whedon list reviewers

[2018-09-12 14:55] whedon commented on #939
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-09-12 15:05] ccurtis7 commented on #939
@whedon generate pdf

[2018-09-12 15:05] whedon commented on #939
[code]

[2018-09-12 15:06] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    112      0 --:--:-- --:--:-- --:--:--   112
Error producing PD

[2018-09-12 15:36] ccurtis7 commented on #939
It seems that the test PDF is failing to generate. I looked at a few [examples](https://github.com/openjournals/joss-reviews/issues/485) from other JOSS pre-reviews to see if I could track down a solution. I think it has to do with a stray character or figure that is being interpreted incorrectly. I'm not sure exactly what it is, but I suspect it is somewhere in my paper.bib file. I tried removing

[2018-09-12 15:39] arfon commented on #825
Should be sufficient as long as it represents the code associated with this submission (including any changes from the review).

[2018-09-12 15:41] arfon commented on #939
@whedon generate pdf from branch joss_review

[2018-09-12 15:41] whedon commented on #939
[code]

[2018-09-12 15:42] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    111      0 --:--:-- --:--:-- --:--:--   111
Error producing PD

[2018-09-12 15:48] zfrenchee commented on #747
- @terrytangyuan Could you share an example of what you mean by community guidelines? I'm not seeing anything that obviously seems like community guidelines in [BioPandas](https://github.com/rasbt/biopandas).
- @terrytangyuan I'm not sure it makes sense for a visual tool to provide automated tests?
- @terrytangyuan the wiki documents all the API methods for each architecture. Each architecture onl

[2018-09-12 15:56] jedbrown commented on #825
@whedon set 10.5281/zenodo.1262406 as archive

[2018-09-12 15:56] whedon commented on #825
OK. <a href="https://doi.org/10.5281/zenodo.1262406" target="_blank">10.5281/zenodo.1262406</a> is the archive.

[2018-09-12 15:56] nirum commented on #889
I don’t have time right now, unfortunately

[2018-09-12 15:57] jedbrown commented on #825
@arfon Over to you.
Thanks to @ecotillasanchez, @mdoucet, and @gonsie for your reviews.

[2018-09-12 16:10] ccurtis7 commented on #939
@whedon generate pdf from branch joss_review

[2018-09-12 16:10] whedon commented on #939
[code]

[2018-09-12 16:10] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    143      0 --:--:-- --:--:-- --:--:--   144
Error producing PD

[2018-09-12 16:27] terrytangyuan commented on #747
There is no descriptions for each parameters in the public methods.

You can find example here: http://rasbt.github.io/biopandas/contributing/#how-to-contribute
It's located in the README.md: https://github.com/rasbt/biopandas#links
You can also provide a CONTRIBUTING.md file in the repo.

Regarding automated tests for visual tool, @arfon any suggestions?

[2018-09-12 16:33] ccurtis7 commented on #939
@whedon generate pdf from branch joss_review

[2018-09-12 16:33] whedon commented on #939
[code]

[2018-09-12 16:34] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    134      0 --:--:-- --:--:-- --:--:--   136
Error producing PD

[2018-09-12 16:44] ccurtis7 commented on #939
@whedon generate pdf from branch joss_review

[2018-09-12 16:44] whedon commented on #939
[code]

[2018-09-12 16:45] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    166      0 --:--:-- --:--:-- --:--:--   165
100    17    0

[2018-09-12 16:47] arfon commented on #939
@ccurtis7 - I'm trying to debug this myself. The issue seems to be with the YAML header. I'm wondering if there are some hidden characters in there or something...

[2018-09-12 16:49] ccurtis7 commented on #939
Thanks @arfon, I couldn't narrow down where the error was.

[2018-09-12 16:49] arfon commented on #939
@ccurtis7 - the issue is with the underscore in the title. Please change:

[code]

[2018-09-12 16:50] arfon commented on #939
Also, I should try and sanitize this kind of input as it's passed to Pandoc. This isn't the first time it's caught us out...

[2018-09-12 16:53] ccurtis7 commented on #939
@whedon generate pdf from branch joss_review

[2018-09-12 16:53] whedon commented on #939
[code]

[2018-09-12 16:54] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0     27      0 --:--:-- --:--:-- --:--:--    27
Error producing PD

[2018-09-12 16:55] arfon commented on #825
@ecotillasanchez, @mdoucet, @gonsie many thanks for your reviews here and to @jedbrown for editing this submission ✨

@sjpfenninger - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00825 :zap: :rocket: :boom:

[2018-09-12 16:55] #825 closed

[2018-09-12 16:55] whedon commented on #825
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00825/status.svg)](https://doi.org/10.21105/joss.00825)

**We need your help!**

Journal of Open Source Softwar

[2018-09-12 17:05] ccurtis7 commented on #939
@whedon generate pdf from branch joss_review

[2018-09-12 17:05] whedon commented on #939
[code]

[2018-09-12 17:06] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0

[2018-09-12 17:08] ccurtis7 commented on #939
I'm not sure why it's still not working after I changed the YAML file. I'm unfamiliar with Latek, but I tried checking a [complete list](https://www.sharelatex.com/learn/Errors/Missing_$_inserted) of symbols that need to be written as math. Is the colon throwing it as well?

[2018-09-12 17:10] arfon commented on #747
Are the visualizations in HTML? If so, something like Selenium might be a good fit?

[2018-09-12 17:17] arfon commented on #939
@ccurtis7 - I'm wondering if the new command `@whedon generate pdf from branch...` is being weird. I can compile your changes on the `joss_paper` branch locally OK.

Perhaps merge what you have in the `joss_paper` branch into `master` and just try `@whedon generate pdf`?

Sorry for the both here. I've only recently added the ability for Whedon to compile papers from a different branch and it's qui

[2018-09-12 17:19] ccurtis7 commented on #939
@whedon generate pdf

[2018-09-12 17:19] whedon commented on #939
[code]

[2018-09-12 17:20] whedon commented on #939
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00939/joss.00939/10.21105.joss.00939.pdf)

[2018-09-12 17:20] zfrenchee commented on #747
@arfon that's a good point, but I think that would be overkill for this project. From the little frontend testing I have written, I can tell this would require 2-3x the code I've already written to write robust UI tests. That doesn't seem called for by this application. What do you think?

[2018-09-12 17:41] alexpghayes commented on #833
Are there steps I should be taking in terms of my review at the moment? Or are we in a waiting phase?

[2018-09-12 17:47] ccurtis7 commented on #939
@whedon generate pdf

A few minor edits from @arokem

[2018-09-12 17:47] whedon commented on #939
[code]

[2018-09-12 17:48] whedon commented on #939
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00939/joss.00939/10.21105.joss.00939.pdf)

[2018-09-12 18:38] cicirello commented on #887
@ChrisJefferson I added a subsection to the repository's readme on building the library, as well as a directory (build) with an ant build file.  Assuming compilation is successful, the build will also execute all of the JUnit tests, and terminate if any tests fail (you'll see any relevant test results during the build, such as number of test cases, etc).  If you don't usually use ant, it can be ob

[2018-09-12 19:02] jason-neal commented on #938
@whedon commands

[2018-09-12 19:02] whedon commented on #938
Here are some things you can ask me to do:

[code]

[2018-09-12 19:03] jason-neal commented on #938
@whedon generate pdf from branch develop

[2018-09-12 19:03] whedon commented on #938
[code]

[2018-09-12 19:03] whedon commented on #938
PDF failed to compile for issue #938 with the following error:

 Can't find any papers to compile :-(

[2018-09-12 19:09] arfon commented on #938
@jason-neal - did you manage to strip down the size of this repository?

[2018-09-12 19:12] jason-neal commented on #938
Yea I think I cleaned out ~1.3GB from the repo. Its now just under 300M...

[2018-09-12 20:29] arfon commented on #938
@whedon generate pdf from branch develop

[2018-09-12 20:29] whedon commented on #938
[code]

[2018-09-12 20:30] whedon commented on #938
PDF failed to compile for issue #938 with the following error:

 Can't find any papers to compile :-(

[2018-09-12 20:31] arfon commented on #938
@jason-neal we only recently added the functionality to optionally build from a branch and it doesn't look like it's working properly. Could you try either merging your `develop` branch into `master` or putting the `paper.md` and other paper-related resources into the `master` branch please?

[2018-09-13 02:53] gpoore commented on #810
@Kevin-Mattheus-Moerman I don't have any expertise in this area, just experience with Python and LaTeX. Unfortunately, I'm currently not able to take on any additional projects until at least December, so I would recommend finding others who can review this sooner.

[2018-09-13 06:41] sjpfenninger commented on #825
Thanks @jedbrown, @ecotillasanchez, @mdoucet, @gonsie for your reviews/comments/editing!

[2018-09-13 09:32] Padlina commented on #810
@Kevin-Mattheus-Moerman My full name is Roberta Padlina. I don't really have a professional profile online, except for LinkedIn ([here](https://www.linkedin.com/in/roberta-padlina-6589591)) which isn't really updated. I'm a PhD student in Medieval Philosophy at the University of Fribourg, but I also work in the DH field: I worked a long time for e-codices ([my old page](https://lettres.unifr.ch/fr

[2018-09-13 09:40] Kevin-Mattheus-Moerman commented on #810
@Padlina yes, thanks for sharing that information.

[2018-09-13 09:41] Kevin-Mattheus-Moerman commented on #810
@whedon start review magic-word=bananas

[2018-09-13 09:41] whedon opened #941 "[REVIEW]: Samewords: Word disambiguation in critical text editions"
**Submitting author:** @Stenskjaer (<a href="http://orcid.org/0000-0002-8190-679X">Michael Stenskjær Christensen</a>)
**Repository:** <a href="https://github.com/stenskjaer/samewords" target ="_blank">https://github.com/stenskjaer/samewords</a>
**Version:** 0.5.6.
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @maieul, @Padlina
**Archive:** <a href="https://doi.org/10.5281/zenodo.2609228" targ

[2018-09-13 09:41] whedon commented on #810
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/941. Feel free to close this issue now!

[2018-09-13 09:41] whedon commented on #941
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @maieul, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-09-13 09:41] whedon commented on #941
[code]

[2018-09-13 09:41] #810 closed

[2018-09-13 09:41] whedon commented on #941
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00941/joss.00941/10.21105.joss.00941.pdf)

[2018-09-13 09:43] fernandoandreotti commented on #671
I agree with @marianux  view.

[2018-09-13 09:44] Kevin-Mattheus-Moerman commented on #941
@stenskjaer, @maieul, @MarjorieBurghart, and @Padlina this is where the review happens. There are tickboxes (and information) and the top of this issue which will guide you through the review process. You may also check out our [review guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Let me know if you have any questions.
You can comment on and discuss issue here. For l

[2018-09-13 11:03] modenaxe commented on #927
I just started checking the paper and the material. It's the first time I review for JOSS, so please be patient with me @Kevin-Mattheus-Moerman if I involve you at times :)

**General checks**
- The repository should have a release version number.
- I assume @anmuller has made major contributions to the software, as he is submitting it and the paper cites several publications where he is first aut

[2018-09-13 11:15] jason-neal commented on #938
@whedon generate pdf

[2018-09-13 11:15] whedon commented on #938
[code]

[2018-09-13 11:16] whedon commented on #938
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00938/joss.00938/10.21105.joss.00938.pdf)

[2018-09-13 11:33] jason-neal commented on #938
Proof looks ok to me. (the figure should probably shrunk to keep it to 3 pages but I from looking at other reviews that can wait until after review/acceptance.)

[2018-09-13 11:46] gomesdasilva commented on #667
Hi Arfon,

I will update it next week for sure.

Regards,
João

[2018-09-13 12:32] anmuller commented on #927
@modenaxe thank you for your review. What are the errors that appeared when you run 'GenerateParameters.mlapp'?

[2018-09-13 12:34] modenaxe commented on #927
I have posted them as an [issue in the repository](https://github.com/anmuller/CusToM/issues/1), let me know if you want more details.

[2018-09-13 15:46] marcoalopez commented on #863
Hi @lheagy, Any news about @khaors?

[2018-09-13 15:51] katyhuff commented on #920
@yxqd I would like one more reviewer with no conflict of interest or appearance of a conflict of interest. @jwuttke @mikapfl @marcocamma : would any of you be willing to review this JOSS paper?

[2018-09-13 15:51] lheagy commented on #863
Hi @marcoalopez: thanks for checking in. I haven't heard anything. I will check with the editorial board on how to proceed and get back to you.

[2018-09-13 17:02] adammichaelwood commented on #836
I'm available for review. Let me know how I can best help.

[2018-09-13 19:55] yochannah commented on #836
@adammichaelwood Hooray, and thank you for volunteering!

I would like to have a second reviewer for this paper. I'll kick off the official reviewer process once I find a second (if you can suggest anyone who might be able to review this, that would be awesome!). In the meantime feel free to look at the package and look at the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria

[2018-09-13 20:38] mschubert commented on #933
As the author of the `txtq` package (which this package builds on), @wlandau might have some good input?

[2018-09-13 21:33] mikapfl commented on #920
Hi,

I could do a review of the documentation and code, but I can't really say anything about the physics since I haven't worked with Neutrons yet.

Cheers,

Mika

[2018-09-13 22:06] wlandau commented on #933
Thanks for the endorsement. However, since [`ipc`](https://github.com/fellstat/ipc) builds on [`txtq`](https://github.com/wlandau/txtq), I am not sure a review from me would be sufficiently free of bias. (And like @JohnCoene, I will be away from Sept 15 through Oct 1). I think @clarkfitzg would be an excellent second reviewer, should he accept.

[2018-09-13 22:12] arfon commented on #747
@zfrenchee - yeah, I hear you. Automated tests aren't a firm requirement for JOSS but if they're not present then something similar (documented test procedures with example data etc.) needs to be provided instead. Basically the reviewers need to be able to verify the functionality of the software.

[2018-09-13 22:18] arfon commented on #938
@jason-neal - could you take a look at the [list of potential reviewers](https://bit.ly/joss-reviewers) and identify some people who could review this submission? Also, feel free to tag anyone you might recommend here with their GitHub handle.

[2018-09-13 22:18] arfon commented on #667
Excellent, thanks @gomesdasilva

[2018-09-14 02:39] zfrenchee commented on #747
@arfon that makes a lot of sense. Let me see what I can rustle up in the way of something like tests.

[2018-09-14 07:51] ejhigson commented on #916
@whedon generate pdf

[2018-09-14 07:51] whedon commented on #916
[code]

[2018-09-14 07:52] whedon commented on #916
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00916/joss.00916/10.21105.joss.00916.pdf)

[2018-09-14 07:57] Kevin-Mattheus-Moerman commented on #923
@weijianzhang @aviks @hshindo @johnmyleswhite @abelsiqueira @dpo @vchuravy is this submission of interest to you? Would you be able to help review it for  [the Journal of Open Source Software (JOSS)](http://joss.theoj.org/)?

The [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#the-joss-review-process) focuses on [the software :floppy_disk:](https://github.com/JuliaT

[2018-09-14 08:03] oxinabox commented on #923
Prods @aviks since this package came up in your JuliaCon tutorial, I know you've already used it.

[2018-09-14 08:06] ejhigson commented on #916
@arfon I think the reviews are now complete. I have archived an up to date version on zenodo at 10.5281/zenodo.1418657

[2018-09-14 10:30] whedon opened #942 "[PRE REVIEW]: hillR: taxonomic, functional, and phylogenetic diversity and similarity through Hill Numbers"
**Submitting author:** @daijiang (<a href="http://orcid.org/0000-0002-0925-3421">Daijiang Li</a>)
**Repository:** <a href="https://github.com/daijiang/hillR" target ="_blank">https://github.com/daijiang/hillR</a>
**Version:** v0.3.0
**Editor:** @karthik
**Reviewers:** @sydnerecord

**Author instructions**

Thanks for submitting your paper to JOSS @daijiang. The JOSS editor (shown at the top of thi

[2018-09-14 10:30] whedon commented on #942
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-14 10:30] whedon commented on #942
[code]

[2018-09-14 10:30] whedon opened #943 "[PRE REVIEW]: VIVO: a system for research discovery"
**Submitting author:** @mconlon17 (<a href="http://orcid.org/0000-0002-1304-8447">Michael Conlon</a>)
**Repository:** <a href="https://github.com/vivo-project/VIVO" target ="_blank">https://github.com/vivo-project/VIVO</a>
**Version:** v1.10.0
**Editor:** @jasonclark
**Reviewers:** @sonal-raj

**Author instructions**

Thanks for submitting your paper to JOSS @mconlon17. The JOSS editor (shown at t

[2018-09-14 10:30] whedon commented on #943
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jasonclark it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-14 10:30] whedon commented on #943
[code]

[2018-09-14 10:30] whedon opened #944 "[PRE REVIEW]: Verde: Processing and gridding spatial data using Green's functions"
**Submitting author:** @leouieda (<a href="http://orcid.org/0000-0001-6123-9515">Uieda, L</a>)
**Repository:** <a href="https://github.com/fatiando/verde" target ="_blank">https://github.com/fatiando/verde</a>
**Version:** v1.0.0
**Editor:** @lheagy
**Reviewers:** @fourndo, @Fil

**Author instructions**

Thanks for submitting your paper to JOSS @leouieda. The JOSS editor (shown at the top of this

[2018-09-14 10:30] whedon commented on #944
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-14 10:30] whedon commented on #944
[code]

[2018-09-14 10:31] whedon commented on #943
PDF failed to compile for issue #943 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/943/paper/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /

[2018-09-14 10:31] whedon commented on #944
PDF failed to compile for issue #944 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    204      0 --:--:-- --:--:-- --:--:--   204
pandoc: functions

[2018-09-14 10:31] whedon commented on #942
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00942/joss.00942/10.21105.joss.00942.pdf)

[2018-09-14 10:37] arfon commented on #916
@whedon set 10.5281/zenodo.1418657 as archive

[2018-09-14 10:37] whedon commented on #916
OK. <a href="https://doi.org/10.5281/zenodo.1418657" target="_blank">10.5281/zenodo.1418657</a> is the archive.

[2018-09-14 10:40] jason-neal commented on #938
From the list possibly @nespinoza.

@mzechmeister

I also use/cite pieces from of @sczesla, @iancze but I don't know weather that causes any conflicts.

[2018-09-14 10:41] arfon commented on #916
@ziotom78, @mattpitkin - many thanks for your reviews here ✨

@ejhigson - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00916 :zap: :rocket: :boom:

[2018-09-14 10:41] #916 closed

[2018-09-14 10:41] whedon commented on #916
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00916/status.svg)](https://doi.org/10.21105/joss.00916)

**We need your help!**

Journal of Open Source Softwar

[2018-09-14 10:55] arfon commented on #943
:wave: @jasonclark - the submitting authors suggested you as the handling editor.

[2018-09-14 11:14] arfon commented on #944
@leouieda - this PR https://github.com/fatiando/verde/pull/135 will fix the paper compilation issue.

[2018-09-14 11:15] arfon commented on #944
@lheagy - the submitting author suggested you as the handling editor 😺

[2018-09-14 11:16] arfon commented on #942
👋 @karthik - the submitting author suggested you as the handling editor.

[2018-09-14 13:06] daijiang commented on #942
Hi @whedon @karthik @arfon thanks for your help. I think @aurielfournier or @ethanwhite can be good reviewers.

[2018-09-14 15:11] lheagy commented on #944
Hi @arfon: I am happy to be the editor on this!

[2018-09-14 15:13] lheagy commented on #808
👋 Hi @viktor76525, just checking in on your progress with @leouieda's review. Please keep us updated!

[2018-09-14 15:14] lheagy commented on #863
👋Hi @marcoalopez: I will take a look through your submission this weekend and see if I have any comments following up from @jsta's review and we can go from there. Thanks for your patience!

[2018-09-14 15:35] aurielfournier commented on #942
Hi @daijiang I don't do phylogenetic work, so I don't think I would be a very good reviewer for this package.. Thanks for thinking of me though

[2018-09-14 15:48] daijiang commented on #942
Hi @aurielfournier , the methods have been proposed by others. This package implements it and it is actually straightforward. I think it is more about the R code than the methods. This is why I think you should be a good reviewer candidate.

[2018-09-14 16:08] abelsiqueira commented on #923
Sorry, I have no expertise on the subject. Our NLP stands for Nonlinear Programming.

[2018-09-14 17:30] leouieda commented on #944
@arfon thanks for the fix! It's merged now.

[2018-09-14 17:40] arfon commented on #944
@whedon generate pdf

[2018-09-14 17:40] whedon commented on #944
[code]

[2018-09-14 17:41] whedon commented on #944
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00944/joss.00944/10.21105.joss.00944.pdf)

[2018-09-14 17:50] whedon opened #945 "[PRE REVIEW]: `rr2`: An R package to calculate R2s for regression models"
**Submitting author:** @arives (<a href="http://orcid.org/0000-0001-9375-9523">Anthony Ives</a>)
**Repository:** <a href="https://github.com/arives/rr2" target ="_blank">https://github.com/arives/rr2</a>
**Version:** v1.0.0
**Editor:** @karthik
**Reviewers:** @sastoudt

**Author instructions**

Thanks for submitting your paper to JOSS @arives. The JOSS editor (shown at the top of this issue) will

[2018-09-14 17:50] whedon commented on #945
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-14 17:50] whedon commented on #945
[code]

[2018-09-14 17:51] whedon commented on #945
PDF failed to compile for issue #945 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    166      0 --:--:-- --:--:-- --:--:--   166
100    17    0

[2018-09-14 17:51] arfon commented on #945
:wave: @karthik - the submitting author suggested you as the handling editor.

[2018-09-14 18:12] daijiang commented on #945
@whedon @arfon we are not sure why the PDF complication failed. We have changed `R^2^` to `$R^2$` and see whether this works.

[2018-09-14 19:10] arives commented on #945
@whedon generate pdf

[2018-09-14 19:10] whedon commented on #945
[code]

[2018-09-14 19:11] whedon commented on #945
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00945/joss.00945/10.21105.joss.00945.pdf)

[2018-09-14 19:20] arives commented on #945
@whedon generate pdf

[2018-09-14 19:20] whedon commented on #945
[code]

[2018-09-14 20:16] whedon opened #946 "[PRE REVIEW]: PyTeNet: A concise Python implementation of quantum tensor network algorithms"
**Submitting author:** @cmendl (<a href="http://orcid.org/0000-0002-6386-0230">Christian B. Mendl</a>)
**Repository:** <a href="https://github.com/cmendl/pytenet" target ="_blank">https://github.com/cmendl/pytenet</a>
**Version:** v1.0
**Editor:** @jedbrown
**Reviewers:** mlxd

**Author instructions**

Thanks for submitting your paper to JOSS @cmendl. The JOSS editor (shown at the top of this issu

[2018-09-14 20:16] whedon commented on #946
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jedbrown it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-14 20:16] whedon commented on #946
[code]

[2018-09-14 20:17] whedon commented on #946
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00946/joss.00946/10.21105.joss.00946.pdf)

[2018-09-14 20:18] arfon commented on #946
:wave: @jedbrown, the submitting author suggested you as the handling editor.

[2018-09-14 20:37] arfon commented on #833
Let's get going on this review (given we're struggling to find a second reviewer here).

[2018-09-14 20:37] arfon commented on #833
@whedon assign @alexpghayes as reviewer

[2018-09-14 20:37] whedon commented on #833
OK, the reviewer is @alexpghayes

[2018-09-14 20:37] arfon commented on #833
@whedon start review

[2018-09-14 20:37] whedon opened #947 "[REVIEW]: diwanalr: An R data analysis package for diffusing-wave spectroscopy"
**Submitting author:** @peterjwatkins (<a href="http://orcid.org/0000-0002-1290-3843">Peter Watkins</a>)
**Repository:** <a href="https://github.com/peterjwatkins/diwanalr" target ="_blank">https://github.com/peterjwatkins/diwanalr</a>
**Version:** v0.1
**Editor:** @arfon
**Reviewer:** @alexpghayes
**Archive:** <a href="https://doi.org/10.5281/zenodo.3247971" target="_blank">10.5281/zenodo.3247971

[2018-09-14 20:37] whedon commented on #833
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/947. Feel free to close this issue now!

[2018-09-14 20:37] whedon commented on #947
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alexpghayes it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-09-14 20:37] whedon commented on #947
[code]

[2018-09-14 20:38] arfon commented on #833
@alexpghayes - please head over to #947 where the actual review will take place.

[2018-09-14 20:38] #833 closed

[2018-09-14 20:38] whedon commented on #947
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00947/joss.00947/10.21105.joss.00947.pdf)

[2018-09-14 20:56] marcoalopez commented on #863
You're welcome @lheagy, thank you very much for your help!

[2018-09-14 21:01] arfon commented on #947
👋 @alexpghayes - please take a look at the review checklist above and work your way through it. If you have any questions for @peterjwatkins as you go, ask them here or make issues on the repository: https://github.com/peterjwatkins/diwanalr

If anything isn't clear, just give me a shout!

[2018-09-14 21:26] mdpiper commented on #899
My review of **proEQUIB** is complete. The library and its associated paper are appropriate for publication in JOSS, pending @danehkar's responses to the issues I've opened in the repository. Further:

1. https://github.com/equib/proEQUIB/issues/3 is especially important. There's a fair amount of code in the library (including a common block), and no tests. A set of tests that cover the library wi

[2018-09-14 22:27] cmendl commented on #946
Concerning the article proof: would it be possible to switch to numerical citation style? I've added a reference to american-physics-society.csl in paper.md but apparently this wasn't used for compiling the paper to pdf...

[2018-09-14 22:34] jedbrown commented on #946
@cmendl The citation style is meant to be standard across JOSS publications. I hope that's not a problem for you.

@jcmgray This is in a similar space to your recent article #819. Would you be available to review or could you suggest a colleague?

@mlxd We'd be thrilled if you could review this time.

[2018-09-14 23:55] lmullen commented on #774
quanteda is an impressive package, well thought out and well implemented. The package is well documented and the test suite is quite extensive.

On the test suite:

- The test suite emits numerous warnings. Some of these can obviously be ignored by comparing what is being tested to the warning message. Others, it is not clear why a warning message is being given.
- I found at least three test fail

[2018-09-15 06:50] mlxd commented on #946
Sure, I can review this.

[2018-09-15 12:39] arfon commented on #899
Excellent news, thanks @mdpiper! @danehkar - please let us know here when you've had a chance to incorporate this feedback.

[2018-09-15 13:03] jcmgray commented on #946
I'd be more than happy to review, the only caveat being I am quite busy currently so it might be over the next few weeks.

[2018-09-15 14:09] jedbrown commented on #946
@whedon add mlxd as reviewer

[2018-09-15 14:09] whedon commented on #946
OK, mlxd is now a reviewer

[2018-09-15 14:09] jedbrown commented on #946
@whedon add jcmgray is reviewer

[2018-09-15 14:10] jedbrown commented on #946
Thanks to both of you.

[2018-09-15 14:10] jedbrown commented on #946
@whedon start review

[2018-09-15 14:10] whedon commented on #946
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/948. Feel free to close this issue now!

[2018-09-15 14:10] whedon opened #948 "[REVIEW]: PyTeNet: A concise Python implementation of quantum tensor network algorithms"
**Submitting author:** @cmendl (<a href="http://orcid.org/0000-0002-6386-0230">Christian B. Mendl</a>)
**Repository:** <a href="https://github.com/cmendl/pytenet" target ="_blank">https://github.com/cmendl/pytenet</a>
**Version:** v1.0
**Editor:** @jedbrown
**Reviewer:** @mlxd, @jcmgray
**Archive:** <a href="https://doi.org/10.5281/zenodo.1464149" target="_blank">10.5281/zenodo.1464149</a>

## Sta

[2018-09-15 14:10] whedon commented on #948
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mlxd it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2018-09-15 14:10] whedon commented on #948
[code]

[2018-09-15 14:10] #946 closed

[2018-09-15 14:11] whedon commented on #948
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00948/joss.00948/10.21105.joss.00948.pdf)

[2018-09-15 14:16] jcmgray commented on #946
@jedbrown

I think this little typo might have missed me off as a reviewer.

[2018-09-15 14:30] jedbrown commented on #946
@jcmgray Thanks for catching that. I fixed the review thread #948.

[2018-09-15 18:33] mhucka commented on #728
@arfon yes, thanks!

[2018-09-15 19:49] whedon opened #949 "[PRE REVIEW]: eSCAPE: A parallel landscape dynamics & basins evolution model"
**Submitting author:** @tristan-salles (<a href="http://orcid.org/0000-0001-6095-7689">Tristan Salles</a>)
**Repository:** <a href="https://escape-model.github.io" target ="_blank">https://escape-model.github.io</a>
**Version:**  v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @tristan-salles. The JOSS editor (shown at the top of

[2018-09-15 19:49] whedon commented on #949
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-09-15 19:49] whedon commented on #949
[code]

[2018-09-15 19:49] whedon commented on #949
PDF failed to compile for issue #949 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon/processor.

[2018-09-15 19:51] arfon commented on #949
Hi @tristan-salles, could you please tell us where the source code for this project is hosted? @whedon is looking for a git repository address (not https://escape-model.github.io) and for there to be a `paper.md` and `paper.bib` file present.

[2018-09-16 01:16] arfon commented on #445
@george-githinji - could you please chase @nelkibs? This review is currently stuck.

[2018-09-16 01:17] arfon commented on #634
Hi @george-githinji - what's the status of this submission?

[2018-09-16 03:02] raamana commented on #924
I added additional info on how to test python packages, if that might be of any help. Let me know what else needs to be done.

[2018-09-16 06:35] motib commented on #887
I have agreed to review the submission although I haven't written Java for many years.....

I successfully installed ant and built the package. When I run the test case I get an error message:

D:\joss>java -classpath d:\joss\javaperm\lib;d:\joss\javaperm\testbin org.cicirello.permutations.PermutationTestCases
Error: Main method not found in class org.cicirello.permutations.PermutationTest
Cases,

[2018-09-16 11:15] yochannah commented on #887
Thanks @motib!

[2018-09-16 11:16] yochannah commented on #887
@whedon assign @ChrisJefferson as reviewer

[2018-09-16 11:16] whedon commented on #887
OK, the reviewer is @ChrisJefferson

[2018-09-16 11:17] yochannah commented on #887
@whedon add @motib as reviewer

[2018-09-16 11:17] whedon commented on #887
OK, @motib is now a reviewer

[2018-09-16 11:18] whedon opened #950 "[REVIEW]: JavaPermutationTools: A Java Library of Permutation Distance Metrics"
**Submitting author:** @cicirello (<a href="http://orcid.org/0000-0003-1072-8559">Vincent A Cicirello</a>)
**Repository:** <a href="https://github.com/cicirello/JavaPermutationTools" target ="_blank">https://github.com/cicirello/JavaPermutationTools</a>
**Version:** 1.0
**Editor:** @yochannah
**Reviewer:** @ChrisJefferson, @motib
**Archive:** <a href="https://doi.org/10.5281/zenodo.1478192" target

[2018-09-16 11:49] whedon opened #951 "[PRE REVIEW]: dyPolyChord: dynamic nested sampling with PolyChord"
**Submitting author:** @ejhigson (<a href="http://orcid.org/0000-0001-8383-4614">Edward Higson</a>)
**Repository:** <a href="https://github.com/ejhigson/dyPolyChord" target ="_blank">https://github.com/ejhigson/dyPolyChord</a>
**Version:** v0.0.4
**Editor:** @jakevdp
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @ejhigson. The JOSS editor (shown at the to

[2018-09-16 11:49] whedon commented on #951
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jakevdp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-16 11:49] whedon commented on #951
[code]

[2018-09-16 11:50] whedon commented on #951
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00951/joss.00951/10.21105.joss.00951.pdf)

[2018-09-16 11:51] arfon commented on #951
👋 @jakevdp - the submitting author suggested you as the handling editor. In addition, they posted the above with the submission. From a quick inspection, it looks like this submission does satisfy the JOSS requirements.

[2018-09-16 11:52] whedon opened #952 "[PRE REVIEW]: An Extensible Framework for Compairing Equity Portfolio Creation"
**Submitting author:** @Alasdair-Macindoe (<a href="http://orcid.org/0000-0002-8712-2582">Alasdair Macindoe</a>)
**Repository:** <a href="https://github.com/Alasdair-Macindoe/financeframework" target ="_blank">https://github.com/Alasdair-Macindoe/financeframework</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @Ala

[2018-09-16 11:52] whedon commented on #952
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-09-16 11:52] whedon commented on #952
[code]

[2018-09-16 11:53] whedon commented on #952
PDF failed to compile for issue #952 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    365      0 --:--:-- --:--:-- --:--:--   369
sh: 0: getcwd() fa

[2018-09-16 11:53] whedon opened #953 "[PRE REVIEW]: eSCAPE: parallel global-scale landscape evolution model"
**Submitting author:** @tristan-salles (<a href="http://orcid.org/0000-0001-6095-7689">Tristan Salles</a>)
**Repository:** <a href="https://github.com/Geodels/eSCAPE" target ="_blank">https://github.com/Geodels/eSCAPE</a>
**Version:** v1.0.0
**Editor:** @kthyng
**Reviewers:** @sgrieve, @kbarnhart

**Author instructions**

Thanks for submitting your paper to JOSS @tristan-salles. The JOSS editor (s

[2018-09-16 11:53] whedon commented on #953
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-16 11:53] whedon commented on #953
[code]

[2018-09-16 11:54] whedon commented on #953
PDF failed to compile for issue #953 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon/processor.

[2018-09-16 11:54] arfon commented on #953
@whedon generate pdf

[2018-09-16 11:54] whedon commented on #953
[code]

[2018-09-16 11:54] whedon commented on #953
PDF failed to compile for issue #953 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon/processor.

[2018-09-16 11:54] arfon commented on #953
:wave: @lheagy - the submitting author suggested you as the handling editor.

[2018-09-16 11:58] arfon commented on #953
@tristan-salles, please make this change to your `paper.md` file:

[code]

[2018-09-16 11:58] arfon commented on #949
Closing as a dup of #953

[2018-09-16 11:58] #949 closed

[2018-09-16 11:59] whedon opened #954 "[PRE REVIEW]: Local clustering"
**Submitting author:** @volfpeter (<a href="http://orcid.org/0000-0002-6226-4277">Péter Volf</a>)
**Repository:** <a href="https://github.com/volfpeter/localclustering" target ="_blank">https://github.com/volfpeter/localclustering</a>
**Version:** v0.10
**Editor:** @pjotrp
**Reviewers:** @DannyArends

**Author instructions**

Thanks for submitting your paper to JOSS @volfpeter. The JOSS editor (sh

[2018-09-16 11:59] whedon commented on #954
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-09-16 11:59] whedon commented on #954
[code]

[2018-09-16 11:59] whedon commented on #954
PDF failed to compile for issue #954 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/954/paper.md): did not find expected comment or line break while scanning a block scalar at line 3 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `pa

[2018-09-16 12:01] arfon commented on #953
@kthyng - this also looks like it might be a good fit for your background?

[2018-09-16 12:01] tristan-salles commented on #953
Done!

Tristan Salles | Lecturer
The University of Sydney
Faculty of Science, School of Geosciences
Rm 454, Madsen Building F09 | The University of Sydney | NSW | 2006
+61 2 8627 4123<tel://8627%204123>  | +61 451 462 502<tel://+61%20451%20462%20502>
tristan.salles@sydney.edu.au<mailto:firstname.surname@sydney.edu.au>  | sydney.edu.au<http://sydney.edu.au/>
[ web-profile<https://tristansalles.gith

[2018-09-16 12:26] volfpeter commented on #954
@whedon generate pdf

[2018-09-16 12:26] whedon commented on #954
[code]

[2018-09-16 12:26] whedon commented on #954
PDF failed to compile for issue #954 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations, bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/ge

[2018-09-16 12:26] arfon commented on #953
@whedon generate pdf

[2018-09-16 12:26] whedon commented on #953
[code]

[2018-09-16 12:27] whedon commented on #953
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00953/joss.00953/10.21105.joss.00953.pdf)

[2018-09-16 12:28] arfon commented on #954
@volfpeter - please format your `paper.md` YAML header _exactly_ as shown in this [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography)

[2018-09-16 12:30] cicirello commented on #950
@motib Just replying to your question from the pre-review issue.... JUnit tests don't have main methods. They're executed differently (either in an IDE or with a runner, such as the one within ant).   In this case, I have the ant build script set up to run all of the JUnit tests during the build.

When you run ant to build the project, you'll see the JUnit test results among the output. The releva

[2018-09-16 12:34] volfpeter commented on #954
Hi!
Thanks. I have one question. What affiliation should i set if i'm not part of any organization (i'm self-employed)?

[2018-09-16 12:35] tristan-salles commented on #953
Checked.

Tristan Salles | Lecturer
The University of Sydney
Faculty of Science, School of Geosciences
Rm 454, Madsen Building F09 | The University of Sydney | NSW | 2006
+61 2 8627 4123<tel://8627%204123>  | +61 451 462 502<tel://+61%20451%20462%20502>
tristan.salles@sydney.edu.au<mailto:firstname.surname@sydney.edu.au>  | sydney.edu.au<http://sydney.edu.au/>
[ web-profile<https://tristansalles.g

[2018-09-16 14:44] yochannah commented on #932
@whedon assign @yochannah as editor

[2018-09-16 14:44] whedon commented on #932
OK, the editor is @yochannah

[2018-09-16 14:49] yochannah commented on #932
@whedon assign @karinlag as reviewer

[2018-09-16 14:49] whedon commented on #932
OK, the reviewer is @karinlag

[2018-09-16 14:49] yochannah commented on #932
@whedon add @juanvillada as reviewer

[2018-09-16 14:49] whedon commented on #932
OK, @juanvillada is now a reviewer

[2018-09-16 14:50] yochannah commented on #932
@whedon start review

[2018-09-16 14:50] whedon commented on #932
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/955. Feel free to close this issue now!

[2018-09-16 14:50] whedon opened #955 "[REVIEW]: alv: a console-based viewer for molecular sequence alignments"
**Submitting author:** @arvestad (<a href="http://orcid.org/0000-0001-5341-1733">Lars Arvestad</a>)
**Repository:** <a href="https://github.com/arvestad/alv" target ="_blank">https://github.com/arvestad/alv</a>
**Version:** v1.2.0
**Editor:** @yochannah
**Reviewer:** @karinlag, @juanvillada
**Archive:** <a href="https://doi.org/10.5281/zenodo.1477794" target="_blank">10.5281/zenodo.1477794</a>

##

[2018-09-16 14:50] whedon commented on #955
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karinlag, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-09-16 14:50] whedon commented on #955
[code]

[2018-09-16 14:50] whedon commented on #955
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00955/joss.00955/10.21105.joss.00955.pdf)

[2018-09-16 14:51] yochannah commented on #932
@karinlag @juanvillada thanks for agreeing to review! Please hop over to #955 to start the review there.

[2018-09-16 14:51] #932 closed

[2018-09-16 14:54] whedon opened #956 "[PRE REVIEW]: Opycleid: A Python package for transformational music theory"
**Submitting author:** @AlexPof (<a href="http://orcid.org/0000-0002-3767-0361">Alexandre Popoff</a>)
**Repository:** <a href="https://github.com/AlexPof/opycleid" target ="_blank">https://github.com/AlexPof/opycleid</a>
**Version:** 0.2.5
**Editor:** @danielskatz
**Reviewers:** @drvinceknight, @adammichaelwood

**Author instructions**

Thanks for submitting your paper to JOSS @AlexPof. The JOSS e

[2018-09-16 14:54] whedon commented on #956
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danielskatz it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-16 14:54] whedon commented on #956
[code]

[2018-09-16 14:54] whedon commented on #956
PDF failed to compile for issue #956 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon.rb:116:in `parse_affiliations': undefined method `each' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon.rb:103:in `parse_authors'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba5

[2018-09-16 14:54] arfon commented on #956
:wave: @danielskatz - the submitting author suggested you as the handling editor.

[2018-09-16 16:33] AlexPof commented on #956
I'm fixing some bugs in the paper.md and paper.bib files.

@whedon generate pdf

[2018-09-16 16:34] AlexPof commented on #956
@whedon generate pdf

[2018-09-16 16:34] whedon commented on #956
[code]

[2018-09-16 16:34] whedon commented on #956
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00956/joss.00956/10.21105.joss.00956.pdf)

[2018-09-16 17:17] pjotrp commented on #918
I am happy to edit and look for a reviewer

[2018-09-16 17:32] pjotrp commented on #954
Just put in 'Independent' or your company name. I am very supportive of the independents :). We can also start looking for a reviewer. @volfpeter it would be good to put an example/application/figure in your paper to advertise the work. Do you have something that visualizes the algorithm? It is not totally necessary, but I think it will improve the paper. Also you may want to add a paragraph on fu

[2018-09-16 17:33] pjotrp commented on #954
Oh yes, it would also be good to give it a bit more context with references to prior art/state-of-the-art.

[2018-09-16 18:03] volfpeter commented on #954
@pjotrp Thanks, i'll use independent then :)

I wanted to make the paper as compact as possible. The details (detailed description, evaluation, ideas for future development) are hidden in the documents that i've referenced in the References section and the readme of the project.

The iPython [notebook](https://github.com/volfpeter/localclustering/blob/master/documents/Algorithm%20Analysis%20with%2

[2018-09-16 18:31] volfpeter commented on #954
@whedon generate pdf

[2018-09-16 18:31] whedon commented on #954
[code]

[2018-09-16 18:32] whedon commented on #954
PDF failed to compile for issue #954 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    397      0 --:--:-- --:--:-- --:--:--   404
[WARNING] Could no

[2018-09-16 18:36] volfpeter commented on #954
@whedon generate pdf

[2018-09-16 18:36] whedon commented on #954
[code]

[2018-09-16 18:36] whedon commented on #954
PDF failed to compile for issue #954 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    325      0 --:--:-- --:--:-- --:--:--   326
[WARNING] Could no

[2018-09-16 19:26] whedon commented on #792
[code]

[2018-09-16 19:26] whedon commented on #792
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00792/joss.00792/10.21105.joss.00792.pdf)

[2018-09-16 20:13] arokem commented on #792
Great! @grg2rsr : everything looks good. Could you please create an archive of the software as it is now (e.g., using https://zenodo.org/) and post the DOI here?

[2018-09-16 20:15] arokem commented on #924
@rougier : is there anything more to do here? I see that the one item remaining on your list is the examples. Was that resolved to your satisfaction?

[2018-09-16 20:16] arokem commented on #897
@raamana : is this ready for a review? It seems like you are still working on some things?

[2018-09-16 20:31] ctb commented on #905
Finished the easy bit of the review and filed some suggestions in issues --

- [ ] track down some example input files https://github.com/Benjamin-Lee/CodonAdaptationIndex/issues/2
- [ ] add a bit more documentation about contributing and filing issues https://github.com/Benjamin-Lee/CodonAdaptationIndex/issues/3

[2018-09-16 20:32] Benjamin-Lee commented on #905
On the changes now – give me ~30 mins to get those fixed

[2018-09-16 20:47] raamana commented on #897
Yes it is. Sorry I should have made that explicit.

[2018-09-16 21:05] cole-brokamp commented on #812
I’m working on adding some automated build testing to address the last comment. I’ll let you know when it’s ready for a final review.

[2018-09-16 21:17] glemaitre commented on #855
I open 2 issues which need to be addressed (for unit testing and file fetching).
I need to open another one but if those could be addressed first, it could be great.

[2018-09-16 21:46] vsoch commented on #812
+1! We had good discussion here https://github.com/cole-brokamp/DeGAUSS/issues/10#issuecomment-421098449 about tests and @cole-brokamp is tackling this probably as we speak! And I’m ready at bay for when Cole needs me!

[2018-09-16 22:01] viktor76525 commented on #808
Minor changes fixed, samples to run include quicker options (2 minutes to 12 minutes instead of 45 minutes). The output for these and the original are available to compare.
Will expand the documentation a bit.
Can break long functions into smaller ones to an extent.
Do not intend to create unit tests, will go with the option to give sample/test data instead.

[2018-09-16 23:12] vyasr commented on #900
That's fair enough. I can review as is.

The only remaining requirement I have is that you update the setup.py script to have install_requires = ['numpy']. Currently if you try to install this into a clean environment it will fail to run. The requirements.txt file is helpful, but users using pip/setup.py based installation should get the dependencies automatically. pandas and matplotlib are not ne

[2018-09-16 23:30] arfon commented on #918
:zap: thanks @pjotrp

[2018-09-17 02:33] Benjamin-Lee commented on #905
@whedon generate pdf

[2018-09-17 02:33] whedon commented on #905
[code]

[2018-09-17 02:34] whedon commented on #905
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00905/joss.00905/10.21105.joss.00905.pdf)

[2018-09-17 02:35] Benjamin-Lee commented on #905
@whedon generate pdf

[2018-09-17 02:35] whedon commented on #905
[code]

[2018-09-17 02:35] whedon commented on #905
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00905/joss.00905/10.21105.joss.00905.pdf)

[2018-09-17 04:34] lheagy commented on #944
:wave: Hi @sgrieve, @fil, @Chilipp, @WalBytes, would one of you be willing to review this submission for JOSS?

[2018-09-17 04:34] lheagy commented on #944
@whedon assign @fourndo as reviewer

[2018-09-17 04:34] whedon commented on #944
OK, the reviewer is @fourndo

[2018-09-17 04:37] lheagy commented on #953
My plate is pretty full at the moment. I can take this if need be, but if @kthyng, would be willing to - I would be grateful! Let me know what works

[2018-09-17 05:26] Fil commented on #944
yes, thanks!

[2018-09-17 05:44] Chilipp commented on #944
Me, too, if you need third one

[2018-09-17 06:02] lheagy commented on #944
Excellent, Thanks for your enthusiasm @Fil and @Chilipp! We only need two reviewers, here, so @Chilipp, I will ping you for the next one :)

[2018-09-17 06:03] lheagy commented on #944
@whedon add @Fil as reviewer

[2018-09-17 06:03] whedon commented on #944
OK, @Fil is now a reviewer

[2018-09-17 06:03] lheagy commented on #944
@whedon start review

[2018-09-17 06:03] whedon commented on #944
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/957. Feel free to close this issue now!

[2018-09-17 06:03] whedon opened #957 "[REVIEW]: Verde: Processing and gridding spatial data using Green's functions"
**Submitting author:** @leouieda (<a href="http://orcid.org/0000-0001-6123-9515">Uieda, L</a>)
**Repository:** <a href="https://github.com/fatiando/verde" target ="_blank">https://github.com/fatiando/verde</a>
**Version:** v1.0.0
**Editor:** @lheagy
**Reviewer:** @fourndo, @Fil
**Archive:** <a href="https://doi.org/10.5281/zenodo.1421979" target="_blank">10.5281/zenodo.1421979</a>

## Status

[![s

[2018-09-17 06:03] whedon commented on #957
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fourndo, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-09-17 06:03] whedon commented on #957
[code]

[2018-09-17 06:03] #944 closed

[2018-09-17 06:03] whedon commented on #957
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00957/joss.00957/10.21105.joss.00957.pdf)

[2018-09-17 06:05] lheagy commented on #957
Many thanks @fourndo, @Fil for being willing to review 🎉. Above, there is a checklist for each of you to work through to guide the review. Please let me know if you have any questions or if I can provide any clarification!

[2018-09-17 06:10] motib commented on #950
Thanks, @cicirello, I eventually got it to work.

I suggest that the readme explain how to compile and run the programs using only "javac" and "java" in directories not part of the distribution. I imagine that some researchers in algorithms are inexperienced programmers who are not familiar with the entire ecosystem (e.g. ant), and who might need help with nested packages. But you know your commun

[2018-09-17 06:40] brainstorm commented on #952
@Alasdair-Macindoe a quick look at your code reveals that you have no automated tests (required for a successful JOSS submission), although I see you had plans to implement them?: https://github.com/Alasdair-Macindoe/financeframework/issues/36

@arfon Something went wrong with whedon fetching that pdf?

[2018-09-17 06:41] motib commented on #950
After reviewing according to the review criteria, I recommend "accept with minor revisions". Suggestions follow:

JOSS paper

The paper is too long (the author guidelines state 250-1000 words). If you still think that a long paper is necessary, please give _subsections_ according to the JOSS guidelines: * A summary describing the high-level functionality, and purpose of the software for a diverse,

[2018-09-17 06:46] volfpeter commented on #954
I've added an example result to the paper.
Now i'm trying to install whedon on my mac, so i can compile the paper locally and not spam the issue with compile errors.

[2018-09-17 09:06] kbenoit commented on #774
Thanks @arfon, that's easily done and we are happy to work on the other comments and the statement of need. I can also eliminate the local CHECK failures that are caused by tests that try to open graphics devices. Should I consider the reviews complete now, and proceed with the revision?

[2018-09-17 09:30] grg2rsr commented on #792
the error is still in the pdf, but not in the README as displayed in github. Attempting to generate pdf after some time delay in case something wasn't updated after first recompilation
@whedon generate pdf

[2018-09-17 09:43] oekosheri commented on #900
@vyasr thanks! I updated setup.py file with the required numpy version.
@labarba please let me know whether I should add anything to README regarding the contributions. As stated before, my preference is that for now I will not accept contributions. Later on I can change that.

[2018-09-17 09:44] grg2rsr commented on #792
:( I have no power over whedon
It is not a biggie anyways. I wait until the end of the day and then proceed at registering a DOI at Zenodo ...

[2018-09-17 09:53] fernandoandreotti commented on #889
Sorry, I also do not have time at the moment.

[2018-09-17 10:08] arfon commented on #952
@whedon generate pdf

[2018-09-17 10:08] whedon commented on #952
[code]

[2018-09-17 10:08] whedon commented on #952
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00952/joss.00952/10.21105.joss.00952.pdf)

[2018-09-17 10:10] pjotrp commented on #954
Hmm. That sounds heroic to me. @arfon do you have any suggestions about this?

[2018-09-17 10:16] arfon commented on #954
@volfpeter - this PR should fix your paper compilation issues: https://github.com/volfpeter/localclustering/pull/1

Also, you don't appear to be citing any prior work/related materials in your paper yet.

[2018-09-17 10:16] arfon commented on #774
Yes, please go ahead.

[2018-09-17 10:18] volfpeter commented on #954
@arfon Thanks and yes, the citation list in progress.

[2018-09-17 10:20] volfpeter commented on #954
@whedon generate pdf

[2018-09-17 10:20] whedon commented on #954
[code]

[2018-09-17 10:20] whedon commented on #954
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00954/joss.00954/10.21105.joss.00954.pdf)

[2018-09-17 10:43] arfon commented on #720
@acabunoc - this review seems to be stuck?

[2018-09-17 10:46] arfon commented on #894
:wave: @brainstorm - would you be willing to edit this submission for JOSS?

[2018-09-17 10:47] arfon commented on #895
:wave: @pjotrp @george-githinji @brainstorm - would one of you be willing to edit this submission for JOSS?

[2018-09-17 10:48] arfon commented on #788
Sure thing. I can do that now.

[2018-09-17 10:48] #788 closed

[2018-09-17 10:51] arfon commented on #864
@mlgill @jankatins - would you be willing to review this submission for JOSS?

[2018-09-17 10:52] arfon commented on #896
@olivertomic - could you take a look at this [list of potential reviewers](https://bit.ly/joss-reviewers) and suggest some people who might be good candidates?

[2018-09-17 10:53] arfon commented on #951
@ejhigson - could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2018-09-17 10:54] Kevin-Mattheus-Moerman commented on #923
@abelsiqueira thanks for your reply, my sincere apologies for this mix up.

[2018-09-17 10:57] Kevin-Mattheus-Moerman commented on #908
@devinberg are you interested in reviewing this work?

[2018-09-17 11:00] Kevin-Mattheus-Moerman commented on #919
@karthik @leeper I don't mind editing this submission but would you be able to help suggest reviewers? Thanks :rabbit:

[2018-09-17 11:35] ejhigson commented on #951
Perhaps @andrewfowlie @nespinoza @steven-murray @zhampel might be willing to review this? Thanks very much!

[2018-09-17 11:41] pjotrp commented on #954
@whedon assing @DannyArends as reviewer

[2018-09-17 11:41] pjotrp commented on #954
@whedon assign @DannyArends as reviewer

[2018-09-17 11:41] whedon commented on #954
OK, the reviewer is @DannyArends

[2018-09-17 11:42] pjotrp commented on #954
We have a great reviewer. @volfpeter when you are done tell us.

[2018-09-17 12:10] andrewfowlie commented on #951
Dear all,

This is a cool way to find reviewers and perform peer review. I am very willing to review the work and participate in the JOSS journal. You can contact me here or by email.

Andrew

[2018-09-17 12:12] Kevin-Mattheus-Moerman commented on #923
@whedon assign @aviks as reviewer

[2018-09-17 12:12] whedon commented on #923
OK, the reviewer is @aviks

[2018-09-17 12:17] danielskatz commented on #956
I'm glad to have my musical abilities and affinities recognized, and I will attempt to handle this as the editor.

[2018-09-17 12:32] trallard commented on #900
- [documentation](https://github.com/oekosheri/GB_code/issues/5):  as @vyasr  noticed before your README is your main documentation, but you also have a couple of notebooks in the `test` directory it would be nice to point to their existence

[2018-09-17 13:28] arfon commented on #951
@andrewfowlie - wonderful, thanks! I'll add you as a reviewer now but we'll hold off for another day or so before actually starting the review as I'd like to have two reviewers here if possible.

[2018-09-17 13:28] arfon commented on #951
@whedon add @andrewfowlie as reviewer

[2018-09-17 13:28] whedon commented on #951
OK, @andrewfowlie is now a reviewer

[2018-09-17 13:28] jankatins commented on #864
This looks very interesting! Unfortunately, I'm currently out due to private commitments, sorry!

[2018-09-17 13:32] olivertomic commented on #896
@arfon, thank you for getting in touch.  A very good candidate would be candidate on row 338 on your list, since this person is the only one who has named chemometrics as their domain. Another great candidate would be candidate on row 275. Other possible candidates would be 108, 123, 173.

[2018-09-17 13:44] karthik commented on #919
I have a great reviewer in mind if he's available: @jeroen

[2018-09-17 13:45] cMadan commented on #600
@lassoan has provided some detailed comments and suggestions, I would appreciate it if you could respond to each of these. @thewtex has also provided some suggestions for hosting test data, as well as provided the suggestion for a reviewer.

[2018-09-17 13:47] cMadan commented on #939
Hi @ccurtis7! Do you have any suggestions for potential reviewers?

[2018-09-17 13:53] arfon commented on #896
@expectopatronum @GalenStocking @tupi @jsgalan would any of you be willing to review this submission for JOSS? You can learn more about what that process looks like here: https://joss.readthedocs.io/en/latest/review_criteria.html

[2018-09-17 13:57] whedon opened #958 "[PRE REVIEW]: Easily Carry Out Latent Profile Analysis (LPA) Using Open-Source or Commercial Software"
**Submitting author:** @jrosen48 (<a href="http://orcid.org/0000-0003-2170-0447">Joshua Rosenberg</a>)
**Repository:** <a href="https://github.com/jrosen48/tidyLPA" target ="_blank">https://github.com/jrosen48/tidyLPA</a>
**Version:** 0.2.1 (development version; most recent CRAN version is 0.2.0)
**Editor:** @arfon
**Reviewers:** @jnese, @strengejacke

**Author instructions**

Thanks for submittin

[2018-09-17 13:57] zhampel commented on #951
@arfon @ejhigson, I'm willing to review this submission. :)

[2018-09-17 13:57] whedon commented on #958
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @leeper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-17 13:57] whedon commented on #958
[code]

[2018-09-17 13:57] whedon commented on #958
PDF failed to compile for issue #958 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/958/paper.md): mapping values are not allowed in this context at line 5 column 8 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/vendor/ruby

[2018-09-17 13:57] arfon commented on #958
:wave: @leeper - the submitting author suggested you as the handling editor.

[2018-09-17 13:59] arfon commented on #958
@jrosen48 - please take a look at these example `paper.md` and `paper.bib` files and format your paper in exactly the same way please: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2018-09-17 13:59] whedon opened #959 "[PRE REVIEW]: MTSS: A CUDA software for the analysis of Multivariate Time Series"
**Submitting author:** @DavideNardone (<a href="http://orcid.org/0000-0003-0486-1791">Davide Nardone</a>)
**Repository:** <a href="https://github.com/DavideNardone/MTSS-Multivariate-Time-Series-Sofwtare" target ="_blank">https://github.com/DavideNardone/MTSS-Multivariate-Time-Series-Sofwtare</a>
**Version:** v1.0.0
**Editor:** @jedbrown
**Reviewers:** @krischer, @karlrupp

**Author instructions**

[2018-09-17 13:59] whedon commented on #959
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-17 13:59] whedon commented on #959
[code]

[2018-09-17 14:00] arfon commented on #959
:wave: @kyleniemeyer - the submitting author suggested you as the handling editor.

[2018-09-17 14:00] whedon commented on #959
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00959/joss.00959/10.21105.joss.00959.pdf)

[2018-09-17 14:01] oekosheri commented on #900
Thank you @trallard
I specified the version of python in setup.py (additionally in README).
I detailed the status on contribution in README.
Regarding the Jupyter notebooks: I have mentioned them in the README and have linked to them.
I can maybe put them outside Test and on the root directory if they are not visible. What is your suggestion?

[2018-09-17 14:07] volfpeter commented on #954
@whedon generate pdf

[2018-09-17 14:07] whedon commented on #954
[code]

[2018-09-17 14:08] whedon commented on #954
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00954/joss.00954/10.21105.joss.00954.pdf)

[2018-09-17 14:11] jrosen48 commented on #958
I'm sorry about that-I've updated these files to be formatted as the example files.

[2018-09-17 14:14] volfpeter commented on #954
@whedon generate pdf

[2018-09-17 14:14] whedon commented on #954
[code]

[2018-09-17 14:14] whedon commented on #954
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00954/joss.00954/10.21105.joss.00954.pdf)

[2018-09-17 14:19] volfpeter commented on #954
Dear @pjotrp and @DannyArends,
I've added the citations to the paper and a short Ideas for future work section. I think (hope) it is ready for review.

[2018-09-17 14:41] mlgill commented on #864
@arfon Unfortunately I'm not able to to devote the necessary time to this right now.

Could you let me know how to remove my name from the volunteer list? My work demands have unfortunately shifted dramatically at the moment.

[2018-09-17 15:27] arfon commented on #958
Please modify your `paper.md` file to have an `affiliations` section as per the example here: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2018-09-17 15:28] arfon commented on #864
Sure thing. I've removed you from the list.

[2018-09-17 15:29] lheagy commented on #863
Hi @marcoalopez, I generated a few issues with respect to licensing, packaging and installation. Please take a look when you have a chance and let me know if there is anything I can clarify!
- marcoalopez/GrainSizeTools#6
- marcoalopez/GrainSizeTools#8
- marcoalopez/GrainSizeTools#7

[2018-09-17 15:35] arfon commented on #864
@mnarayan @tianxzhu @ionlights would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2018-09-17 16:55] jrosen48 commented on #958
I've updated the `paper.md` file to have the `affiliations` section in the right format. I'm sorry again about that; thank you for walking me through this step that I should have had correct when I submitted.

[2018-09-17 17:05] trallard commented on #900
Thanks a lot for the quick actions @oekosheri.

I closed the notebooks issue as I realized that I did not notice the link to the notebooks.
But for now I'd leave them where they are

[2018-09-17 17:34] AlexPof commented on #956
@danielskatz - Thank you for accepting to be the editor for this submission. I'm afraid I'm not familiar enough with the reviewers which are mentionned in the list to make a proper choice. May I perhaps suggest drvinceknight who seems to be familiar with sagemath and Python, and who might be interested by the algebraic and computational aspects ?

[2018-09-17 17:39] danielskatz commented on #956
@drvinceknight - would you be willing to be one of the reviewers for this submission?

[2018-09-17 18:41] devinberg commented on #908
@Kevin-Mattheus-Moerman Sure, I can do this.

[2018-09-17 19:06] jrosen48 commented on #958
I'd like to suggest the following as potential reviewers (if they are available and willing):

- @strengejacke
- @jnese (if I understand correctly through a colleague, he uses [the commercial software] MPlus and can test functions the subset of functions in the package that require MPlus)

[2018-09-17 19:09] labarba commented on #900
@oekosheri : The note on the README is fine. We discussed among JOSS editors, and the minimum requirement is to have an open issue tracker, and to include mention in the README of the contributions policy, but accepting third-party contributions is not a requirement.

@trallard, @vyasr : Are you both comfortable with recommending acceptance, at this point? I need a clear statement of agreement fro

[2018-09-17 19:11] Kevin-Mattheus-Moerman commented on #908
@whedon assign @devinberg as reviewer

[2018-09-17 19:11] whedon commented on #908
OK, the reviewer is @devinberg

[2018-09-17 19:12] vyasr commented on #900
Yes, I'm fine approving this for acceptance now.

[2018-09-17 19:16] pjotrp commented on #954
Thanks. Nice improvement!

[2018-09-17 19:17] pjotrp commented on #954
@whedon start review magic-word=bananas

[2018-09-17 19:17] whedon opened #960 "[REVIEW]: Local clustering"
**Submitting author:** @volfpeter (<a href="http://orcid.org/0000-0002-6226-4277">Péter Volf</a>)
**Repository:** <a href="https://github.com/volfpeter/localclustering" target ="_blank">https://github.com/volfpeter/localclustering</a>
**Version:** v0.10
**Editor:** @pjotrp
**Reviewer:** @DannyArends
**Archive:** <a href="https://doi.org/10.5281/zenodo.1443551" target="_blank">10.5281/zenodo.144355

[2018-09-17 19:17] whedon commented on #954
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/960. Feel free to close this issue now!

[2018-09-17 19:17] whedon commented on #960
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @DannyArends it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-09-17 19:17] whedon commented on #960
[code]

[2018-09-17 19:17] #954 closed

[2018-09-17 19:17] whedon commented on #960
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00960/joss.00960/10.21105.joss.00960.pdf)

[2018-09-17 19:19] pjotrp commented on #960
@volfpeter to expedite the review process do you mind going through above list of check boxes and make sure they can be ticked (you can't tick them). Ping us here when you are done.

[2018-09-17 19:30] kthyng commented on #953
Yes, I will do this!

[2018-09-17 19:30] kthyng commented on #953
@whedon assign @kthyng as editor

[2018-09-17 19:30] whedon commented on #953
OK, the editor is @kthyng

[2018-09-17 19:35] kthyng commented on #953
@tristan-salles One high level comment: as per the [Review Criteria](https://joss.readthedocs.io/en/latest/review_criteria.html#the-joss-paper), you don't want any instructions on how to use the code in your paper, so I think your "Dependencies and Examples" section should just be in your code documentation.

Do you have any reviewer suggestions? There is a [list](https://docs.google.com/spreadshe

[2018-09-17 20:08] volfpeter commented on #960
@pjotrp I've gone through the checklist. I think everything is fine, but here are a couple of notes:
- Version: The latest release is v0.10, the code itself has not changed since that release, but obviously the paper is not included in that release. If the published release must contain the paper, then i will have to update the version.
- Automated tests: There are only manual "tests" in the form

[2018-09-17 20:12] strengejacke commented on #958
Yes, I'm available and would like to review the submission.

[2018-09-17 20:18] yochannah commented on #929
Okay, @dirmeier has agreed to be the second reviewer when he's back in the office in a few days. I'll kick off the review process now.

[2018-09-17 20:19] yochannah commented on #929
@whedon assign @hiendn as reviewer

[2018-09-17 20:19] whedon commented on #929
OK, the reviewer is @hiendn

[2018-09-17 20:19] yochannah commented on #929
@whedon add @dirmeier as reviewer

[2018-09-17 20:19] whedon commented on #929
OK, @dirmeier is now a reviewer

[2018-09-17 20:20] yochannah commented on #929
@whedon start review

[2018-09-17 20:20] whedon opened #961 "[REVIEW]: survxai: an R package for model agnostic explanations of survival models"
**Submitting author:** @AleksandraDabrowska (<a href="http://orcid.org/0000-0002-5963-6260">Aleksandra Grudziąż</a>)
**Repository:** <a href="https://github.com/MI2DataLab/survxai" target ="_blank">https://github.com/MI2DataLab/survxai</a>
**Version:** 0.2.0
**Editor:** @yochannah
**Reviewer:** @hiendn, @dirmeier
**Archive:** <a href="https://doi.org/10.5281/zenodo.1477857" target="_blank">10.5281

[2018-09-17 20:20] whedon commented on #929
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/961. Feel free to close this issue now!

[2018-09-17 20:20] whedon commented on #961
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hiendn, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-09-17 20:20] whedon commented on #961
[code]

[2018-09-17 20:21] #929 closed, assigned to yochannah

[2018-09-17 21:05] tristan-salles commented on #953
Hi @kthyng<https://protect-au.mimecast.com/s/hOpgC0YZWVF88r12f2uMyu?domain=github.com>,

Do you want me to remove this section now? In terms of potential reviewers sgrieve, kbarnhart, rmsare and mdpiper are a good fit for this.

Thanks

Tristan

Tristan Salles | Lecturer
The University of Sydney
Faculty of Science, School of Geosciences
Rm 454, Madsen Building F09 | The University of Sydney | NSW

[2018-09-17 21:28] cole-brokamp commented on #812
some delays on getting time to work on this (as usual ...), but its coming soon!

[2018-09-17 21:34] leouieda commented on #957
Hi @fourndo and @Fil, thanks for taking the time to review! Just to let you know that conda installation isn't working right now because of conda-forge/staged-recipes#6659. I'll let you know once that is resolved and we have a working conda package.

[2018-09-17 21:54] cicirello commented on #950
@whedon commands

[2018-09-17 21:54] whedon commented on #950
Here are some things you can ask me to do:

[code]

[2018-09-17 21:54] cicirello commented on #950
@whedon generate pdf

[2018-09-17 21:54] whedon commented on #950
[code]

[2018-09-17 21:55] whedon commented on #950
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00950/joss.00950/10.21105.joss.00950.pdf)

[2018-09-17 22:02] brainstorm commented on #895
Yep @arfon , I can take this one ;)

[2018-09-17 22:17] cicirello commented on #950
@motib I've made changes and/or added things based on your comments.  I believe I've accounted for almost all of your suggestions.  Here's a summary of what I've done, and what I haven't gotten to yet.

First, list of what I've done so far based on your suggestions:

(1) In the build directory, in addition to the ant build.xml, there is now a Windows batch script that uses only javac (to compile),

[2018-09-17 23:19] arfon commented on #895
@whedon assign @brainstorm as editor

[2018-09-17 23:19] whedon commented on #895
OK, the editor is @brainstorm

[2018-09-18 02:11] kthyng commented on #953
@tristan-salles Yes, please go ahead and update your paper accordingly, since otherwise I think the reviewers will request that.

Hi @sgrieve and @kbarnhart! Are you willing to refer this submission for JOSS? You can read about the review process [here](https://joss.readthedocs.io/en/latest/review_criteria.html).

[2018-09-18 02:53] karthik commented on #937
@rlbarter Good to check the latest version. The bump from `1.0.3` to `1.0.4` appears to be in response to my suggestions (most were cosmetic) which should not change any of your review comments. You can view those changes here: https://github.com/mpascariu/ungroup/commit/964b126b145ef4a390f3a0019f6717f30715265c

[2018-09-18 05:57] juanvillada commented on #955
Hi @arvestad, this is a very nice and useful tool!

Some minor suggestions:

1. Installation proceeded smoothly. I just specified a `pip` update to make sure it is updated before installing `alv`:

[code]
I would suggest you to consider moving the [installation](https://github.com/arvestad/alv#install) section to the top, before the [examples](https://github.com/arvestad/alv#examples).

2. The exa

[2018-09-18 06:32] drvinceknight commented on #956
Yup no problem at all :+1:

(We're expecting an increment to our little family over next couple of days/weeks so my review could be slightly delayed.)

[2018-09-18 06:51] pjotrp commented on #960
Just create a new release when we are ready. Tests should be fine. DOIs, please add.

@DannyArends you can start review. Thanks!

[2018-09-18 06:52] pjotrp commented on #812
No worries, as long as we get there :)

[2018-09-18 07:45] DannyArends commented on #960
Ticked all the boxes I could, in general the software is in a good state. However how to use the library, what the advantages are, and the use-cases of this clustering algorithm compared to already available methods remains a mystery to me.

I would advice the author to additionally take a close look at the language used in the paper (although this is outside of the scope of the review) I added so

[2018-09-18 07:52] rougier commented on #924
@arokem Just forgot to tick the box.

[2018-09-18 08:09] oekosheri commented on #900
@trallard I just added two lines to README from the paper as the statement of need.
@labarba Thanks for the explanation. Please let me know of the next steps I need to take.
@vyasr thank you for your help!

[2018-09-18 08:36] mpascariu commented on #937
@rlbarter Thanks for your comments. See below my response.

1) In the `README.md` it is specified the version no. of the stable software available on CRAN. The development version will change more frequently and has no real importance to the common user.

2) In GitHub we provide all the source file. The `.rmd` file can be found in `ungroup/vignettes/` folder. The already compiled vignette can be f

[2018-09-18 09:18] volfpeter commented on #960
Thanks for the comments! I'll start fixing these issues and get back to you when it's done.

[2018-09-18 09:58] mpascariu commented on #937
@rlbarter Your suggestions have been addressed in `v1.0.5` not on GitHub. Thanks.

[2018-09-18 10:15] DavideNardone commented on #959
@whedon commands

[2018-09-18 10:15] whedon commented on #959
Here are some things you can ask me to do:

[code]

[2018-09-18 10:17] DavideNardone commented on #959
@whedon generate pdf

[2018-09-18 10:17] whedon commented on #959
[code]

[2018-09-18 10:17] whedon commented on #959
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00959/joss.00959/10.21105.joss.00959.pdf)

[2018-09-18 10:55] motib commented on #950
@cicirello Really nice now.

I suggest one example for each of the five top-level packages. You could probably do this with almost no work by adapting the JUnit tests programs to be standalone programs in the examples directory.

No rush. Tomorrow is a holiday here, so I won't get to it again before Thursday.

[2018-09-18 11:05] esguerra commented on #935
@mpurg @malramsay64  @fdroessle @kyleniemeyer
Sorry  this reply has taken so long.
Only until now do I have time to read the COI policy in detail.
The author of this software and I are coauthors in a paper published less than four years ago, so,  I cannot act as a reviewer, sadly.

Thanks for the invitation and what a great idea this is,

Mauricio

[2018-09-18 12:00] danielskatz commented on #956
Thanks @drvinceknight  - I'm also working on finding another review by email, so this likely won't start immediately.

[2018-09-18 12:00] danielskatz commented on #956
@whedon assign @drvinceknight as reviewer

[2018-09-18 12:44] sgrieve commented on #953
I'd be delighted to review this! I saw some tweets about this and was planning to play with it, and this will make sure I follow through!

It's the start of teaching for me this week, so I won't have a chance till next week, if that's ok.

[2018-09-18 12:58] cicirello commented on #950
@whedon generate pdf

[2018-09-18 12:58] whedon commented on #950
[code]

[2018-09-18 12:59] whedon commented on #950
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00950/joss.00950/10.21105.joss.00950.pdf)

[2018-09-18 13:05] whedon opened #962 "[PRE REVIEW]: FixedPointFinder: A Tensorflow toolbox for identifying and characterizing fixed points in recurrent neural networks"
**Submitting author:** @mattgolub (<a href="http://orcid.org/0000-0003-4508-0537">Matthew Golub</a>)
**Repository:** <a href="https://github.com/mattgolub/fixed-point-finder" target ="_blank">https://github.com/mattgolub/fixed-point-finder</a>
**Version:** v1.0
**Editor:** @arokem
**Reviewers:** @malmaud

**Author instructions**

Thanks for submitting your paper to JOSS @mattgolub. The JOSS editor

[2018-09-18 13:05] whedon commented on #962
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-18 13:05] whedon commented on #962
[code]

[2018-09-18 13:05] arfon commented on #962
:wave: @arokem - the submitting author suggested you as the handling editor.

[2018-09-18 13:06] arfon commented on #962
@whedon generate pdf

[2018-09-18 13:06] whedon commented on #962
[code]

[2018-09-18 13:07] whedon commented on #962
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00962/joss.00962/10.21105.joss.00962.pdf)

[2018-09-18 13:26] whedon opened #963 "[PRE REVIEW]: Mobile Gaze Mapping: A Python package for mapping mobile gaze data to a fixed target stimulus"
**Submitting author:** @jeffmacinnes (<a href="http://orcid.org/0000-0003-2388-0699">Jeffrey MacInnes</a>)
**Repository:** <a href="https://github.com/jeffmacinnes/mobileGazeMapping" target ="_blank">https://github.com/jeffmacinnes/mobileGazeMapping</a>
**Version:** v1.0.0
**Editor:** @cMadan
**Reviewers:** @nnadeau

**Author instructions**

Thanks for submitting your paper to JOSS @jeffmacinnes.

[2018-09-18 13:26] whedon commented on #963
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-18 13:26] whedon commented on #963
[code]

[2018-09-18 13:27] whedon commented on #963
PDF failed to compile for issue #963 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon/author.rb:36:in `block in build_affiliation_string': Problem with affiliations for Elizabeth N. Johnson, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon/author.rb:35:in

[2018-09-18 13:28] arfon commented on #963
:wave: @cMadan - the submitting author suggested you as the handling editor.

[2018-09-18 13:41] nuest commented on #662
I see a few minor questions and some need for rephrasing, as described in https://github.com/openjournals/joss-reviews/issues/662#issuecomment-411080315, other than that I'm done.

[2018-09-18 13:46] labarba commented on #900
👋 @trallard Awaiting your confirmation that you recommend acceptance, at this point.

[2018-09-18 14:30] kthyng commented on #953
@sgrieve That sounds great! Thanks!

In the meantime, I'll start up the Review issue, which is where you should do your review (not in this issue). I'll keep this issue open while I search for a 2nd reviewer.

[2018-09-18 14:31] kthyng commented on #953
@whedon start review

[2018-09-18 14:31] whedon opened #964 "[REVIEW]: eSCAPE: parallel global-scale landscape evolution model"
**Submitting author:** @tristan-salles (<a href="http://orcid.org/0000-0001-6095-7689">Tristan Salles</a>)
**Repository:** <a href="https://github.com/Geodels/eSCAPE" target ="_blank">https://github.com/Geodels/eSCAPE</a>
**Version:** v1.0.0
**Editor:** @kthyng
**Reviewer:** @sgrieve, @kbarnhart
**Archive:** <a href="https://doi.org/10.5281/zenodo.1419844" target="_blank">10.5281/zenodo.1419844</a

[2018-09-18 14:31] whedon commented on #953
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/964. Feel free to close this issue now!

[2018-09-18 14:31] whedon commented on #964
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sgrieve it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-09-18 14:31] whedon commented on #964
[code]

[2018-09-18 14:31] whedon commented on #964
PDF failed to compile for issue #964 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon/processor.

[2018-09-18 14:33] kthyng commented on #964
@whedon generate pdf

[2018-09-18 14:33] whedon commented on #964
[code]

[2018-09-18 14:34] whedon commented on #964
PDF failed to compile for issue #964 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon/processor.

[2018-09-18 15:00] kbarnhart commented on #953
@kthyng I'd also be happy to review this.

[2018-09-18 16:04] kthyng commented on #953
Awesome! I'll add you as a review and close this issue.

[2018-09-18 16:04] kthyng commented on #953
@whedon add @kbarnhart as reviewer

[2018-09-18 16:04] whedon commented on #953
OK, @kbarnhart is now a reviewer

[2018-09-18 16:39] rlbarter commented on #937
@mpascariu Great. This all looks good to me! Up to you whether you want to add a URL link to the vignette in the README (I personally find this helpful in general when I go to R packages on GitHub).

[2018-09-18 17:18] Benjamin-Lee commented on #905
Changes are live!

[2018-09-18 17:38] mpascariu commented on #937
@rlbarter Excellent. Thank you very much.
I added the link too.

[2018-09-18 18:16] karthik commented on #937
@whedon generate pdf

[2018-09-18 18:16] whedon commented on #937
[code]

[2018-09-18 18:17] whedon commented on #937
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00937/joss.00937/10.21105.joss.00937.pdf)

[2018-09-18 18:19] arfon commented on #815
@whedon set 10.5281/zenodo.1414282 as archive

[2018-09-18 18:19] whedon commented on #815
OK. <a href="https://doi.org/10.5281/zenodo.1414282" target="_blank">10.5281/zenodo.1414282</a> is the archive.

[2018-09-18 19:18] raamana commented on #924
Thanks @rougier for the review, and recommending it for publication.

[2018-09-18 20:30] jnese commented on #958
I am also available to to review the submission.

[2018-09-18 20:31] AlexPof commented on #956
@danielskatz To anticipate the review process, I have two questions:
- I am not affiliated to any university / lab / etc. I work for a private company, and this package is completely unrelated. Can this be a problem for the submission process ?
- This package is hosted on PyPi and can be installed via pip, with version number 0.2.5. If the review process highlights some changes to be made, does th

[2018-09-18 20:43] trallard commented on #900
Sorry @labarba,  I have been to a conference/travelling.
I am happy to recommend the acceptance at this point

[2018-09-18 20:49] danielskatz commented on #956
no, this is fine.

yes, that's likely.

[2018-09-18 20:59] #953 closed

[2018-09-18 21:01] kthyng commented on #964
ok @sgrieve and @kbarnhart I have this ready for you now. Let me know if you have any questions.

@arfon Do you have any guidance for how I can determine why the pdf is not compiling?

[2018-09-18 22:35] mattgolub commented on #962
@whedon generate pdf

[2018-09-18 22:35] whedon commented on #962
[code]

[2018-09-18 22:36] whedon commented on #962
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00962/joss.00962/10.21105.joss.00962.pdf)

[2018-09-18 22:47] mattgolub commented on #962
@whedon generate pdf

[2018-09-18 22:47] whedon commented on #962
[code]

[2018-09-18 22:48] whedon commented on #962
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00962/joss.00962/10.21105.joss.00962.pdf)

[2018-09-18 23:06] mattgolub commented on #962
@whedon generate pdf

[2018-09-18 23:06] whedon commented on #962
[code]

[2018-09-18 23:07] whedon commented on #962
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00962/joss.00962/10.21105.joss.00962.pdf)

[2018-09-18 23:10] mattgolub commented on #962
@arokem I'm having trouble getting both of the figures to display in the acticle proof pdf. Are you able to help with this? Both figures appear on the Github preview of the paper.md file.

[2018-09-18 23:18] arfon commented on #964
@whedon generate pdf

[2018-09-18 23:48] kthyng commented on #964
@arfon You must have the magic touch.

[2018-09-19 00:04] arfon commented on #964
@kthyng - sometimes @whedon just needs a little encouragement :-)

[2018-09-19 00:17] arfon commented on #962
@mattgolub - I've fixed the paper in https://github.com/mattgolub/fixed-point-finder/pull/1 . The `---` lines seemed to be suppressing the figure captions.

[2018-09-19 01:12] cMadan commented on #939
@sealhuang @oesteban, would you be available and interested to review this submission?

[2018-09-19 01:18] cMadan commented on #963
Hi @jeffmacinnes! Do you have any suggestions for reviewers for this submission?

It would also be great if you can try and resolve the paper compiling errors above. After you've attempted to correct it, post a comment with just the text `@whedon generate pdf` to try and re-run the compile command

[2018-09-19 01:31] oesteban commented on #939
I'm on vacation now, and I expect to be pretty swamped for a while when I'm
back. Sorry I have to let this one go.

On Wed, Sep 19, 2018, 03:12 Christopher Madan <notifications@github.com>
wrote:

[2018-09-19 10:41] karthik commented on #937
@mpascariu As @arfon noted earlier, it is very challenging to typeset accurately when using markdown + pandoc.  Given that you also have such a short paper the accurate placement you seek would be very challenging (without inserting a lot of empty space and page breaks).  You might have to mess with figure sizes to make it fit the way you seek.

I'll let @arfon weigh in but I think the paper looks

[2018-09-19 11:28] mpascariu commented on #937
@karthik I understand.

I made some minor changes in the `.md` file. I think the paper should look better now.
Can we generate the PDF again? Thank you.

[2018-09-19 12:57] arfon commented on #937
@whedon generate pdf

[2018-09-19 12:57] whedon commented on #937
[code]

[2018-09-19 12:58] whedon commented on #937
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00937/joss.00937/10.21105.joss.00937.pdf)

[2018-09-19 12:59] arfon commented on #937
@mpascariu - you can ask @whedon to recompile the paper for you with `@whedon generate pdf`

Also, it looks like the `#Summary` needs changing to `# Summary` at the top of the paper.

[2018-09-19 14:06] kbenoit commented on #774
Please see our revised submission in https://github.com/quanteda/quanteda/pull/1431 in the branch `joss-review-response`.

@lmullen you are right that the local tests fail (on macOS) anyway for `textplot_wordcloud()` and this is due to the tests trying to open a graphics device. It does not occur on CI or CRAN, and we will fix this slightly annoying result soon. (https://github.com/quanteda/quante

[2018-09-19 14:19] ejhigson commented on #951
(minor addition to paper)

@whedon generate pdf

[2018-09-19 15:07] jshermeyer commented on #866
@whedon @Kevin-Mattheus-Moerman Appears I had the wrong year cited in the text, changed from 2015 to 2017 as I have it in the references.  Let me know if this fixes the problem.

[2018-09-19 15:13] Kevin-Mattheus-Moerman commented on #866
@whedon generate pdf

[2018-09-19 15:13] whedon commented on #866
[code]

[2018-09-19 15:14] whedon commented on #866
PDF failed to compile for issue #866 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0     54      0 --:--:-- --:--:-- --:--:--    54
pandoc: /ExamplePl

[2018-09-19 15:15] Kevin-Mattheus-Moerman commented on #866
@jshermeyer you can also do '@whedon generate pdf'

[2018-09-19 15:22] whedon opened #965 "[REVIEW]: dyPolyChord: dynamic nested sampling with PolyChord"
**Submitting author:** @ejhigson (<a href="http://orcid.org/0000-0001-8383-4614">Edward Higson</a>)
**Repository:** <a href="https://github.com/ejhigson/dyPolyChord" target ="_blank">https://github.com/ejhigson/dyPolyChord</a>
**Version:** v0.0.4
**Editor:** @arfon
**Reviewer:** @andrewfowlie, @zhampel
**Archive:** <a href="https://doi.org/10.5281/zenodo.1439193" target="_blank">10.5281/zenodo.143

[2018-09-19 15:28] jshermeyer commented on #866
@arfon Thanks, did just that, will try again

[2018-09-19 15:28] whedon commented on #866
[code]

[2018-09-19 15:29] whedon commented on #866
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00866/joss.00866/10.21105.joss.00866.pdf)

[2018-09-19 15:33] jshermeyer commented on #866
@whedon generate pdf

[2018-09-19 15:33] whedon commented on #866
[code]

[2018-09-19 15:34] whedon commented on #866
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00866/joss.00866/10.21105.joss.00866.pdf)

[2018-09-19 15:36] jshermeyer commented on #866
@arfon @Kevin-Mattheus-Moerman Thanks both, proof looks good to me.

[2018-09-19 17:44] labarba commented on #900
@oekosheri The paper currently has one big **Summary** section that includes background, software description, and some indication of the intended audience. This content would benefit from some re-organization to bring out the research application of the software into a "Statement of Need." We request that in the [Author's Guide](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my

[2018-09-19 17:57] labarba commented on #900
To clarify ☝️ — I think the content is already there, only it needs to be re-organized a bit, with a bolded paragraph heading or sub-heading "Statement of Need."

[2018-09-19 18:55] cicirello commented on #950
@whedon generate pdf

[2018-09-19 18:55] whedon commented on #950
[code]

[2018-09-19 18:55] whedon commented on #950
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00950/joss.00950/10.21105.joss.00950.pdf)

[2018-09-19 19:14] cicirello commented on #950
@whedon generate pdf

[2018-09-19 19:14] whedon commented on #950
[code]

[2018-09-19 19:15] whedon commented on #950
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00950/joss.00950/10.21105.joss.00950.pdf)

[2018-09-19 19:27] whedon commented on #950
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00950/joss.00950/10.21105.joss.00950.pdf)

[2018-09-19 19:34] cicirello commented on #950
@motib I added example programs for each of the top level packages, as you suggested.  I also trimmed down the text of the paper a bit more (and made the tables look nicer).

[2018-09-19 20:27] marcoalopez commented on #863
Hi @lheagy, I have several questions that I would like to discuss before merging the proposed modifications with the master branch and modifying the script documentation. I have tested the modifications and everything seems to work fine. However, I think they add a bit of difficulty for the non-expert user, as I will try to explain below. In addition, these modifications would imply maintaining tw

[2018-09-20 01:48] arfon commented on #894
Hi @schalkdaniel - could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2018-09-20 06:46] motib commented on #950
Thanks, @cicirello.

I ran the programs with only one problem: the ieeetevc2016.FDC program ran out of memory (heap space). I added "-Xms1g" to the "java" command and it ran, although it took a long time. (I vaguely remembered that such a parameter exists, although it doesn't appear on the "java" usage, so I had to google it....).

Please add to the readme's and program comments an indication of h

[2018-09-20 07:29] jeffmacinnes commented on #963
@whedon commands

[2018-09-20 07:29] whedon commented on #963
Here are some things you can ask me to do:

[code]

[2018-09-20 07:32] jeffmacinnes commented on #963
@whedon generate pdf

[2018-09-20 07:32] whedon commented on #963
[code]

[2018-09-20 07:32] whedon commented on #963
PDF failed to compile for issue #963 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon/author.rb:36:in `block in build_affiliation_string': Problem with affiliations for Elizabeth N. Johnson, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-2caaf5cba519/lib/whedon/author.rb:35:in

[2018-09-20 07:34] jeffmacinnes commented on #963
@whedon generate pdf

[2018-09-20 07:34] whedon commented on #963
[code]

[2018-09-20 07:35] whedon commented on #963
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00963/joss.00963/10.21105.joss.00963.pdf)

[2018-09-20 07:47] jeffmacinnes commented on #963
Hi @cMadan! I fixed the PDF issue, and you can find the proof above. From looking through the list of reviewers, I think @shivam11, @nnadeau, and @ionlights would all be well-qualified reviewers with the expertise to assess our methods and the contribution of our package. Please let me know if there's anything else I can do to help. Cheers!

[2018-09-20 08:28] oekosheri commented on #900
@labarba Thanks for the tips. So I reorganised it as you suggested and made some additional modifications. Please let me know if it looks/reads better now.

[2018-09-20 09:39] mpascariu commented on #937
@whedon generate pdf

[2018-09-20 09:39] whedon commented on #937
[code]

[2018-09-20 09:40] whedon commented on #937
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00937/joss.00937/10.21105.joss.00937.pdf)

[2018-09-20 09:42] mpascariu commented on #937
@arfon I think the article looks fine now. Thank you very much.

[2018-09-20 10:40] karthik commented on #937
@whedon set 10.5281/zenodo.1421648 as archive

[2018-09-20 10:40] whedon commented on #937
OK. <a href="https://doi.org/10.5281/zenodo.1421648" target="_blank">10.5281/zenodo.1421648</a> is the archive.

[2018-09-20 12:18] hiendn commented on #961
Hi @AleksandraDabrowska, I am one of your reviewers! My comments and suggestions will be posted on the issues page of your repository.

[2018-09-20 13:46] karthik commented on #937
@mpascariu Thank you for the submission! And thanks @rlbarter for the review! This is ready to accept @arfon :tada:

[2018-09-20 13:59] Kevin-Mattheus-Moerman commented on #889
@whedon add @mwacaan as reviewer

[2018-09-20 13:59] whedon commented on #889
OK, @mwacaan is now a reviewer

[2018-09-20 14:01] Kevin-Mattheus-Moerman commented on #889
I invited [Dr. Matthan Caan](http://www.lebic-amc.nl/matthan) to review via e-mail.

[2018-09-20 14:02] Kevin-Mattheus-Moerman commented on #889
@whedon start review magic-word=bananas

[2018-09-20 14:02] whedon opened #966 "[REVIEW]: MCSD: A MATLAB Tool for Monte-Carlo Simulations of Diffusion in biological Tissues"
**Submitting author:** @davidnsousa (<a href="http://orcid.org/0000-0001-7277-6447">David Sousa</a>)
**Repository:** <a href="https://github.com/davidnsousa/mcsd" target ="_blank">https://github.com/davidnsousa/mcsd</a>
**Version:** v0.1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @nnadeau, @mwacaan
**Archive:** <a href="https://doi.org/10.5281/zenodo.1471546" target="_blank">10.5281/zenod

[2018-09-20 14:02] whedon commented on #889
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/966. Feel free to close this issue now!

[2018-09-20 14:02] whedon commented on #966
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nnadeau, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-09-20 14:02] whedon commented on #966
[code]

[2018-09-20 14:02] #889 closed

[2018-09-20 14:02] whedon commented on #966
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00966/joss.00966/10.21105.joss.00966.pdf)

[2018-09-20 14:27] nnadeau commented on #963
@cMadan @jeffmacinnes I'm good to review :)

[2018-09-20 14:33] labarba commented on #900
@whedon generate pdf

[2018-09-20 14:33] whedon commented on #900
[code]

[2018-09-20 14:34] whedon commented on #900
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00900/joss.00900/10.21105.joss.00900.pdf)

[2018-09-20 14:37] oekosheri commented on #900
@labarba I just corrected the affiliation:
@whedon generate pdf

[2018-09-20 14:44] oekosheri commented on #900
@whedon generate pdf

[2018-09-20 14:44] whedon commented on #900
[code]

[2018-09-20 14:45] labarba commented on #900
* Small edit:  capitalize "Statement" on the heading.

* "in comparison to other GB generation codes in different scientific groups `GB_code` is faster due its extensive usage of python and Numpy library and is more comprehensive" >> several small grammatical issues with this clause, but my main question is whether you can say that `GB_code` "is faster" if you are not providing evidence via a perf

[2018-09-20 14:45] whedon commented on #900
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00900/joss.00900/10.21105.joss.00900.pdf)

[2018-09-20 15:03] oekosheri commented on #900
I made some changes to the paragraph.
The point about being faster: personal usage of other codes (I mean the two that I know, there are not many published general GB generation codes so far as I know) have led me to write it. It becomes increasing more important when creating larger structures.

I added the "To our knowledge" to reduce the emphasis. I can remove it altogether if you think it does

[2018-09-20 15:03] mpascariu commented on #937
Thank you everyone for your work! It is much appreciated.

[2018-09-20 15:14] strengejacke commented on #958
@whedon generate pdf

[2018-09-20 15:14] whedon commented on #958
[code]

[2018-09-20 15:14] whedon commented on #958
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00958/joss.00958/10.21105.joss.00958.pdf)

[2018-09-20 15:34] cMadan commented on #963
@jeffmacinnes, thanks for sorting that out! It looks like your license is a BSD-3 clause license, but has information about a related patent at the top. I'm not sure if that still fits JOSS' requirements re: using an OSI-approved license, so I'm going to consult with the other JOSS editors and get back to you.

@nnadeau, assuming the license issue get sorted, it would be great to have you as a rev

[2018-09-20 15:34] cMadan commented on #963
@whedon assign @nnadeau as reviewer

[2018-09-20 15:34] whedon commented on #963
OK, the reviewer is @nnadeau

[2018-09-20 16:04] cicirello commented on #950
@motib Thanks for catching the potential memory issue with that one experiment replication program.  That one is very memory intensive.  No problems on our server with the default heap allocation, but default is probably higher on a server JVM.

Anyway, I added a paragraph to both the repository's readme, and the readme in the replication folder on this (also mentioning it runs long), indicating t

[2018-09-20 16:17] jrosen48 commented on #958
Hi, this looks good

[2018-09-20 16:37] ejhigson commented on #965
(minor addition to paper.md giving more details about performance)

@whedon generate pdf

[2018-09-20 16:40] ejhigson commented on #965
@whedon generate pdf

[2018-09-20 16:40] whedon commented on #965
[code]

[2018-09-20 16:40] whedon commented on #965
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00965/joss.00965/10.21105.joss.00965.pdf)

[2018-09-20 16:43] ejhigson commented on #965
@whedon generate pdf

[2018-09-20 16:43] whedon commented on #965
[code]

[2018-09-20 16:44] whedon commented on #965
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00965/joss.00965/10.21105.joss.00965.pdf)

[2018-09-20 16:53] jeffmacinnes commented on #963
@cMadan Preference would be for the MIT license, but our package makes use of the SIFT algorithm (as part of the [OpenCV](https://docs.opencv.org/3.4.3/da/df5/tutorial_py_sift_intro.html) library), which is patented for any commercial use. I included the current license file to address that, but welcome any other suggestions!

[2018-09-20 17:37] oekosheri commented on #900
I don't have numbers of course and it is not a crucial point for the paper so I rephrased it according to your suggestion. Please let me know if it is better now. Thank you.

[2018-09-20 17:39] arfon commented on #937
@rlbarter - many thanks for your review here and to @karthik for editing this submission ✨

@mpascariu - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00937 :zap: :rocket: :boom:

[2018-09-20 17:39] #937 closed

[2018-09-20 17:39] whedon commented on #937
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00937/status.svg)](https://doi.org/10.21105/joss.00937)

**We need your help!**

Journal of Open Source Softwar

[2018-09-20 19:44] ChrisJefferson commented on #950
Someinitial comments:

Most methods don't have checks for invalid inputs -- personally I would have some kind of checked/debugging mode which checked that (for example) permutations are valid. At least one method I think this is more serious -- Permutation::toInteger can easily overflow (particularly as it calculates n!), but the result could still be used to build a new, invalid permutation.

The

[2018-09-20 19:48] labarba commented on #900
**Editorial fixes**:

`GB_code` is mainly designed to be a command line tool as it is documented >> `GB_code is designed to be a command-line tool, as documented… (delete superfluous adverb, hyphen compound adjective, add comma, delete extra words)

README file of the repository but the modules >> add comma before “but”

Inputs the two scripts as modules, the former >> period instead of comma

Of

[2018-09-20 21:09] cMadan commented on #963
@jeffmacinnes, I discussed this wither other JOSS editors and we decided that the license needs to be an OSI-approved license without modification (https://opensource.org/licenses/alphabetical), and that an OSI+Patents license is not acceptable.

I understand that SIFT is a standard CV method, so I'm not quite sure what to do here. I'll ask and see if any of the other editors can comment here and

[2018-09-20 21:32] alexpghayes commented on #947
## Summary

This package appears to perform a set of useful calculations, but is not yet ready for public consumption.

### Documentation

- I recommend adding the material in the intro notebook / vignette to the Github README. An increasing number of people see the README before anything else. Most R users don't use Jupyter notebooks, so it doesn't make sense for the most public facing introducti

[2018-09-20 22:20] alexpghayes commented on #947
cc @peterjwatkins @arfon -- do I need to tag y'all to make sure you get notifications or is just posting to this thread enough?

[2018-09-20 23:31] wimvanderbauwhede commented on #865
I closed issue #3, I will close the others after I've actually added the CONTRIBUTE file and the version option, in the coming days.

[2018-09-20 23:57] arfon commented on #947
We all got tagged at the top by @whedon so @peterjwatkins should be getting these notifications :-)

[2018-09-21 00:11] lheagy commented on #863
Hi @marcoalopez: thanks for your message. It is up to you, and feel free to disregard the pull request if this is not the direction you want to go. My word-of-caution here is that the current packaging doesn't allow GrainSizeTools to easily interoperate with other packages in the python ecosystem. For example, if I wanted to import grainsize tools into a workflow I have in a Jupyter notebook, that

[2018-09-21 00:43] leouieda commented on #957
The error is resolved and packages are now build and available through conda-forge.

[2018-09-21 03:44] jedbrown commented on #952
Note that "compairing" in the title is misspelled. While JOSS papers are typically short, this paper.md is unusually short. Please see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain.

[2018-09-21 05:02] peterjwatkins commented on #947
@peterjwatkins is getting the notifications :-)

Thanks for the review and feedback.. about to go on leave for 3 weeks, and I'll get back when I return.

[2018-09-21 07:34] brainstorm commented on #895
@luminita, would you like to review this JOSS paper for me? :)

[2018-09-21 07:37] oekosheri commented on #900
Thanks for the edits.
I corrected them all except:

- Of the following works >> edit the citation to remove the parenthesis around the list of refs.

by parenthesis do you mean the brackets? I have them around all other citations too. Should I remove them all?

[2018-09-21 07:38] brainstorm commented on #894
@arfon Happy to edit this one too.

I would like to summon @moonso if no other reviewer steps in ;)

[2018-09-21 08:14] moonso commented on #894
Hi @brainstorm ! Sounds interesting, what do I need do do/read?

[2018-09-21 08:26] brainstorm commented on #894
@whedon assign @brainstorm as editor

[2018-09-21 08:26] whedon commented on #894
OK, the editor is @brainstorm

[2018-09-21 08:28] brainstorm commented on #894
@whedon start review magic-word=bananas

[2018-09-21 08:28] whedon commented on #894
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/967. Feel free to close this issue now!

[2018-09-21 08:28] whedon opened #967 "[REVIEW]: compboost: Modular Framework for Component-Wise Boosting"
**Submitting author:** @schalkdaniel (<a href="http://orcid.org/0000-0003-0950-1947">Daniel Schalk</a>)
**Repository:** <a href="https://github.com/schalkdaniel/compboost" target ="_blank">https://github.com/schalkdaniel/compboost</a>
**Version:** v0.1.0
**Editor:** @brainstorm
**Reviewer:** @moonso
**Archive:** <a href="https://doi.org/10.5281/zenodo.1460435" target="_blank">10.5281/zenodo.146043

[2018-09-21 08:28] whedon commented on #967
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @moonso it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-09-21 08:28] whedon commented on #967
[code]

[2018-09-21 08:28] #894 closed

[2018-09-21 08:29] whedon commented on #967
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00967/joss.00967/10.21105.joss.00967.pdf)

[2018-09-21 08:29] brainstorm commented on #967
@moonso, please read the instructions on this issue, you are now the reviewer for this JOSS paper, let me know if anything is unclear about how to proceed with it :)

[2018-09-21 09:01] Fil commented on #957
I have installed and tested it — no problem! I just would have preferred to start a jupyter notebook rather than tutorials/*py, but that's a personal preference.

[2018-09-21 09:51] moonso commented on #967
@whedon commands

[2018-09-21 09:51] whedon commented on #967
Here are some things you can ask me to do:

[code]

[2018-09-21 11:33] stulacy commented on #893
I've made the following changes and pushed to the `development` branch.

Added LICENCE.md at directory top level

Work in progress...

Work in progress...

Added examples for these functions.

Haven't added yet although am open to doing so if it would be beneficial for users

Removed these old leftover docs.

Added.

Decided not to add, would prefer users to read README or vignette.

[2018-09-21 13:09] labarba commented on #900
When the citation is part of the sentence, then use: Author (year). If the citation is not part of the sentence, then it should appear in parenthesis.
E.g.
1. "We take inspiration from Smith et al. (2006) to ... "
2. "The code implements Theory 1 (Jones 2012) and Theory 2 (Roberts 2014) to obtain ... "

For the syntax to obtain brackets in the right places, see: https://rmarkdown.rstudio.com/autho

[2018-09-21 14:17] daijiang commented on #942
@arfon @karthik any progress with the review process? Thanks.

[2018-09-21 14:46] oekosheri commented on #900
@whedon generate pdf

[2018-09-21 14:46] whedon commented on #900
[code]

[2018-09-21 14:46] whedon commented on #900
PDF failed to compile for issue #900 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0     93      0 --:--:-- --:--:-- --:--:--    93
Error reading bibl

[2018-09-21 14:51] oekosheri commented on #900
@whedon generate pdf

[2018-09-21 14:51] whedon commented on #900
[code]

[2018-09-21 14:52] whedon commented on #900
PDF failed to compile for issue #900 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0     95      0 --:--:-- --:--:-- --:--:--    96
Error reading bibl

[2018-09-21 14:56] oekosheri commented on #900
@whedon generate pdf

[2018-09-21 14:56] whedon commented on #900
[code]

[2018-09-21 14:56] whedon commented on #900
PDF failed to compile for issue #900 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    135      0 --:--:-- --:--:-- --:--:--   136
Error reading bibl

[2018-09-21 15:05] oekosheri commented on #900
@whedon generate pdf

[2018-09-21 15:05] whedon commented on #900
[code]

[2018-09-21 15:05] whedon commented on #900
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00900/joss.00900/10.21105.joss.00900.pdf)

[2018-09-21 15:09] oekosheri commented on #900
@whedon generate pdf

[2018-09-21 15:09] whedon commented on #900
[code]

[2018-09-21 15:10] whedon commented on #900
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00900/joss.00900/10.21105.joss.00900.pdf)

[2018-09-21 15:12] oekosheri commented on #900
@labarba Sorry for testing a few times. Does the last version look acceptable?

[2018-09-21 16:48] leouieda commented on #957
The tutorials are converted to notebooks by sphinx-gallery. There's a
button to download them at the bottom of each page, like
https://www.fatiando.org/verde/latest/tutorials/overview.html#sphx-glr-download-tutorials-overview-py

Notebooks are so hard to maintain in version control. I really like this
option of editing a .py but being able to get notebooks in the end :)

[2018-09-21 16:54] labarba commented on #900
Something is wrong with the DOI links. For example, the second reference links to: `https://doi.org/https://doi.org/10.1103/PhysRevMaterials.2.043601`

Please clean up the BibTeX entries so they resolve properly.

[2018-09-21 18:32] cicirello commented on #950
@ChrisJefferson Thank you for your very useful feedback.  Here's a list of what I've done to address your comments.  I think I've covered all of your comments here.

1) Permutation::toInteger modified to throw an exception if permutation length greater than 12 (to avoid int overflow) and comments edited to document this.  Similar change made to ReversalDistance which has a similar limit.

2) On po

[2018-09-21 19:36] Fil commented on #957
ha, excellent. I had only tested in my local clone :)

[2018-09-21 21:54] whedon opened #968 "[PRE REVIEW]: TaylorSeries.jl: Taylor expansions in one and many variables in Julia"
**Submitting author:** @lbenet (<a href="http://orcid.org/0000-0002-8470-9054">Luis Benet</a>)
**Repository:** <a href="https://github.com/JuliaDiff/TaylorSeries.jl" target ="_blank">https://github.com/JuliaDiff/TaylorSeries.jl</a>
**Version:** v0.8.0
**Editor:** @jedbrown
**Reviewers:** @sriharikrishna, @tobydriscoll

**Author instructions**

Thanks for submitting your paper to JOSS @lbenet. The

[2018-09-21 21:55] whedon commented on #968
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jedbrown it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-21 21:55] whedon commented on #968
[code]

[2018-09-21 21:55] arfon commented on #968
:wave: @jedbrown - the submitting author suggested you as the handling editor.

[2018-09-21 21:55] whedon commented on #968
PDF failed to compile for issue #968 with the following error:

 Can't find any papers to compile :-(

[2018-09-21 21:55] whedon opened #969 "[PRE REVIEW]: perfectns: perfect dynamic and standard nested sampling for spherically symmetric likelihoods and priors"
**Submitting author:** @ejhigson (<a href="http://orcid.org/0000-0001-8383-4614">Edward Higson</a>)
**Repository:** <a href="https://github.com/ejhigson/perfectns" target ="_blank">https://github.com/ejhigson/perfectns</a>
**Version:** v2.1.0
**Editor:** @arfon
**Reviewers:** @ziotom78

**Author instructions**

Thanks for submitting your paper to JOSS @ejhigson. The JOSS editor (shown at the top o

[2018-09-21 21:55] whedon commented on #969
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-21 21:55] whedon commented on #969
[code]

[2018-09-21 21:56] whedon commented on #969
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00969/joss.00969/10.21105.joss.00969.pdf)

[2018-09-21 22:12] lbenet commented on #968
@arfon I didn't know that the paper has to be in master. The paper can be found at https://github.com/JuliaDiff/TaylorSeries.jl/pull/181; shall I merge it to master?

Cc: @dpsanders, coauthor of the package and paper.

[2018-09-22 03:48] jedbrown commented on #968
@lbenet Whedon takes the paper from 'master' (unless run manually). If it isn't overly disruptive to you, merging will make the automation do its job. The paper should be part of the repository that is eventually tagged (after acceptance) anyway.

[2018-09-22 10:15] ejhigson commented on #965
@whedon generate pdf

[2018-09-22 10:16] whedon commented on #965
[code]

[2018-09-22 10:16] whedon commented on #965
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00965/joss.00965/10.21105.joss.00965.pdf)

[2018-09-22 10:18] DavideNardone commented on #959
@whedon generate pdf

[2018-09-22 10:18] whedon commented on #959
[code]

[2018-09-22 10:18] whedon commented on #959
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00959/joss.00959/10.21105.joss.00959.pdf)

[2018-09-22 14:07] lbenet commented on #968
Thanks @jedbrown! I just merged https://github.com/JuliaDiff/TaylorSeries.jl/pull/181, so the paper is now in master. Sorry for the confusion.

Regarding the referees, @ChrisRackauckas, @vchuravy and/or @datseris are certainly good options.

[2018-09-22 14:25] whedon opened #970 "[PRE REVIEW]: piggyback: Managing Larger Data on a GitHub Repository"
**Submitting author:** @cboettig (<a href="http://orcid.org/0000-0002-1642-628X">Carl Boettiger</a>)
**Repository:** <a href="https://github.com/ropensci/piggyback" target ="_blank">https://github.com/ropensci/piggyback</a>
**Version:** v0.0.6
**Editor:** @arfon
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @cboettig. The JOSS editor (shown at the top of

[2018-09-22 14:27] arfon commented on #970
@whedon assign @arfon as reviewer

[2018-09-22 14:27] whedon commented on #970
OK, the reviewer is @arfon

[2018-09-22 14:27] arfon commented on #970
@whedon start review

[2018-09-22 14:27] whedon opened #971 "[REVIEW]: piggyback: Managing Larger Data on a GitHub Repository"
**Submitting author:** @cboettig (<a href="http://orcid.org/0000-0002-1642-628X">Carl Boettiger</a>)
**Repository:** <a href="https://github.com/ropensci/piggyback" target ="_blank">https://github.com/ropensci/piggyback</a>
**Version:** v0.0.6
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/5cfd756478838ef71796b6831efee8b5/status.svg

[2018-09-22 14:27] whedon commented on #970
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/971. Feel free to close this issue now!

[2018-09-22 14:27] whedon commented on #971
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-09-22 14:27] whedon commented on #971
[code]

[2018-09-22 14:28] whedon commented on #971
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00971/joss.00971/10.21105.joss.00971.pdf)

[2018-09-22 15:30] annakrystalli commented on #971
This submission has been accepted to rOpenSci. The review thread can be found at <https://github.com/ropensci/onboarding/issues/220>

[2018-09-22 16:54] ChrisRackauckas commented on #968
I'm a bit busy these next few months but if you need me I can do it.

[2018-09-22 17:27] ccurtis7 commented on #939
Others I think that might be good fits, @stsievert and @vsoch

[2018-09-22 18:32] rasbt commented on #934
Regarding the checklist above:

this still has the wrong link, but I think we can ignore it since the paper PDF has the correct link now.

[2018-09-22 18:36] rasbt commented on #934
Regarding

I see that the softw is at v2018.10 already. I guess the best thing to do is to revisit the version number references at the end, because they version numbers may change during the review stage as potential issues are being addressed

[2018-09-22 18:41] rasbt commented on #934
This looks good to me overall, however, I noticed that Benjamin D Kaehler and Gavin A Huttley haven't contributed via GitHub, and there are a few contributors who aren't listed on the paper if I see that correctly. I assume that the authorship has been discussed and handled reasonably and appropriately, but it would be nice, @nbokulich, if you could say a few things about that.

[2018-09-22 18:42] rasbt commented on #934
@nbokulich

regarding

Could you please add the DOIs to the paper

[2018-09-22 18:54] rasbt commented on #934
The paper itself looks really great. Just found a few very minor formatting issues -- would be nice if you could address these (ref https://github.com/qiime2/q2-sample-classifier/issues/132)

[2018-09-22 19:02] kyleniemeyer commented on #935
@esguerra OK, thanks for letting me know!

[2018-09-22 19:03] kyleniemeyer commented on #935
@whedon remove @esguerra as reviewer

[2018-09-22 19:03] whedon commented on #935
OK, @esguerra is no longer a reviewer

[2018-09-22 19:04] kyleniemeyer commented on #935
@fdroessler @malramsay64 Have your reviews progressed? I noticed that many/most of the checkboxes in the review list above are not filled.

[2018-09-22 20:02] oekosheri commented on #900
@whedon generate pdf

[2018-09-22 20:02] whedon commented on #900
[code]

[2018-09-22 20:03] whedon commented on #900
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00900/joss.00900/10.21105.joss.00900.pdf)

[2018-09-22 20:08] oekosheri commented on #900
It must be correct now. I removed the https. Please let me know.

[2018-09-22 20:27] labarba commented on #900
Great!

The next step is for you to make an archival copy of the full repository in a service like Zenodo, get a DOI, and tell us the archive DOI here so we can add it to the publication.

[2018-09-22 20:59] rrrlw commented on #893
Changes look great! Checked the corresponding boxes in this thread and responded to a couple things in repository issues page. Will recompile to ensure that updates to paper.bib made it properly to the article's PDF form, as compiled by @whedon.

[2018-09-22 20:59] rrrlw commented on #893
@whedon generate pdf

[2018-09-22 20:59] whedon commented on #893
[code]

[2018-09-22 21:00] whedon commented on #893
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00893/joss.00893/10.21105.joss.00893.pdf)

[2018-09-22 21:43] fdroessler commented on #935
@kyleniemeyer I should be able to get to it beginninof next week. I am currently traveling in Africa but have looked at the paper and can start the full review process shortly.

[2018-09-23 03:50] arokem commented on #792
@arfon: I believe this paper is ready to go!

[2018-09-23 03:51] arokem commented on #897
@miykael: have you had a chance to take a look?

[2018-09-23 03:54] arokem commented on #792
@whedon set https://doi.org/10.5281/zenodo.1420108 as archive

[2018-09-23 03:54] whedon commented on #792
OK. <a href="https://doi.org/10.5281/zenodo.1420108" target="_blank">10.5281/zenodo.1420108</a> is the archive.

[2018-09-23 03:56] arokem commented on #924
@rougier: thank you so much for the review!

@raamana: I believe this paper is ready to be accepted! Could you please create another release of the software and an archive (e.g., on zenodo) and then post the DOI here?

[2018-09-23 12:45] oekosheri commented on #900
Thanks @labarba.
I tried to integrate the repository on Zenodo and it constantly fails. Do you have any instructions on zenodo integration? I can't find any details on JOSS pages.

[2018-09-23 12:55] oekosheri commented on #900
Thanks @labarba, so eventually I managed to integrate the repo with Zenodo and it created a badge with Doi.
[![DOI](https://zenodo.org/badge/140718298.svg)](https://zenodo.org/badge/latestdoi/140718298)
Is it correct?

[2018-09-23 13:06] whedon opened #972 "[PRE REVIEW]: Lithology: A Landlab submodule for spatially variable rock properties"
**Submitting author:** @kbarnhart (<a href="http://orcid.org/0000-0001-5682-455X">Katherine Barnhart</a>)
**Repository:** <a href="https://github.com/landlab/landlab" target ="_blank">https://github.com/landlab/landlab</a>
**Version:** 1.5.4
**Editor:** @kthyng
**Reviewers:** @speleophysics, @tristan-salles

**Author instructions**

Thanks for submitting your paper to JOSS @kbarnhart. The JOSS edi

[2018-09-23 13:06] whedon commented on #972
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kthyng it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-23 13:06] whedon commented on #972
[code]

[2018-09-23 13:07] arfon commented on #972
Notes from the submitting author ☝️

[2018-09-23 13:07] whedon commented on #972
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00972/joss.00972/10.21105.joss.00972.pdf)

[2018-09-23 13:07] arfon commented on #972
:wave: @kthyng - the submitting author suggested you as the handling editor.

[2018-09-23 13:12] miykael commented on #897
@arokem and @raamana I apologize for my late reply, I had an unforeseen hectic two weeks. But the review has now my full attention!

The software looks very good and useful and I will write my full review in the issue tracker of https://github.com/raamana/mrivis. But I think the repo is missing a `paper.md` file (as mentioned
in the [author guidlines](https://joss.readthedocs.io/en/latest/submitti

[2018-09-23 13:18] labarba commented on #900
That DOI resolves correctly, yes. But note that the authors are listed as "oekosheri; Arfon Smith" in the Zenodo entry. Probably you had a pull-request from Arfon that you merged, and Zenodo is taking the authors from the committers, automatically. You need to manually edit the metadata to display the correct author list in Zenodo.

[2018-09-23 13:28] raamana commented on #897
thanks - looking fwd to learn your comments.

its in the docs folder, as required : https://github.com/raamana/mrivis/blob/master/docs/paper.md

[2018-09-23 13:41] oekosheri commented on #900
I edited it, thanks. Do I need to do any thing else?

[2018-09-23 13:50] labarba commented on #900
Lastly, I do have a question for you. You've only listed yourself as author in the Zenodo archive. We only see yourself as a committer in the code repository. Yet you have three authors in the JOSS paper. I'm a little worried about courtesy authorship here. The last author is the Director of the Computational Materials Design department at MPIE, and the second author is the group leader of Adaptiv

[2018-09-23 13:55] arfon commented on #792
@nirum many thanks for your review here and to @arokem for editing this submission ✨

@grg2rsr - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00792 :zap: 🚀:boom:

[2018-09-23 13:55] #792 closed

[2018-09-23 13:55] whedon commented on #792
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00792/status.svg)](https://doi.org/10.21105/joss.00792)

**We need your help!**

Journal of Open Source Softwar

[2018-09-23 13:56] raamana commented on #924
Hi Ariel, there is some issue with Zenodo - its failing to create a release
https://zenodo.org/account/settings/github/repository/raamana/graynet

Don't want to make a distinct new upload, outside the typical mechanism for Zenodo, that might separate this DOI from the previous releases.. How do you handle this?

I can try again in few days.

[2018-09-23 14:12] oekosheri commented on #900
I am the sole contributor of the code, which is a collection of work I did in the last couple of years under the active direction of the other two authors. So I can update Zenodo author list and include them as well.