[2021-04-27 09:07] arfon commented on #3142
@whedon add @levimcclenny as reviewer

[2021-04-27 09:07] whedon commented on #3142
OK, @levimcclenny is now a reviewer

[2021-04-27 09:08] arfon commented on #3142
@ankur-gupta & @Het-Shah - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission we'd be asking you to review is [_tfaip - a Generic and Powerful Research Framework for Deep Learning based on Tensorflow_](https://gi

[2021-04-27 09:09] fduchatea commented on #2805
@jdalzatec : Thank you for the review!

Following are some answers to the mentioned points:
1. (error) in the tooltip, you should select an algorithm for predicting (the predict process is automatically run after a change in the list). It seems that you have selected "---" and this has caused an error.
When selecting an algorithm in the list for this neighbourhood, prediction works (as shown on th

[2021-04-27 09:56] hadware commented on #2989
Hey @faroit, I see that some of your review points for our library still remain unsolved. Do you need more information from us to be able to resolve them? Do you see any improvement to our work that you think are essential for it to be on par with JOSS's standards?

[2021-04-27 11:53] csoneson commented on #3093
Just to say that I have started looking for an additional reviewer here.

[2021-04-27 11:55] IndrajeetPatil commented on #3111
@mikldk Here are a few other reviewer suggestions:
- Ohmaddi
- russellpierce
- mariacuellar
- tomfaulkenberry
- cimentadaj

[2021-04-27 11:57] struckma commented on #3093
Thank you.

[2021-04-27 12:20] D-K-E commented on #3115
@ankurankan I haven't updated usage examples for awhile now. Most of my commits went to documenting individual classes. I will try to add usage examples by the end of this week. I am a little busy this week, so it might extend to next week as well

[2021-04-27 14:02] kthyng commented on #3157
Thanks @JannisHoch! And @cheginit do you think this relationship would impact your ability to be impartial in your review?

[2021-04-27 14:02] kthyng commented on #3157
@whedon assign @JannisHoch as reviewer

[2021-04-27 14:02] whedon commented on #3157
OK, @JannisHoch is now a reviewer

[2021-04-27 14:16] cheginit commented on #3157
@kthyng No, it will not. I think my experience with the model itself will probably help me provide more constructive comments.

[2021-04-27 14:24] Prof-ThiagoOliveira commented on #3111
Dear Mikkel,

I am afraid I have to reject review this paper because I don't have enough time to review it accordingly this and next month. I am happy to receive more invitations in a couple of months.

best regards,

Thiago
________________________________
From: Mikkel Meyer Andersen ***@***.***>
Sent: 26 April 2021 08:44
To: openjournals/joss-reviews ***@***.***>
Cc: DE PAULA OLIVEIRA Thiago ***

[2021-04-27 15:21] mikldk commented on #3111
@Ohmaddi: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-04-27 15:49] DrMarc commented on #3196
@whedon generate pdf

[2021-04-27 15:49] whedon commented on #3196
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03196/joss.03196/10.21105.joss.03196.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03196/joss.03196/10.21105.joss.03196.pdf) :page_facing_up: :point_left:

[2021-04-27 17:09] mbobra commented on #2964
Thank you, @g4brielvs! I really appreciate your time and effort.

[2021-04-27 17:09] mbobra commented on #2964
@whedon check references

[2021-04-27 17:11] whedon commented on #2964
[code]

[2021-04-27 17:13] mbobra commented on #2964
👋 @bauer-alex We're almost there! Could you please cut a new release and [deposit it in Zenodo](https://guides.github.com/activities/citable-code/)? Please make sure that the author list on the Zenodo deposit matches the author list on the paper. Then I can move forward with accepting the paper!

[2021-04-27 18:18] csinva commented on #3192
Just fixed, thanks!

[2021-04-27 19:22] marcosvital commented on #2124
Hi, @rhagenson! I hope everything is fine with you. Let us know if you have any plans to work again on this submission, ok?

[2021-04-27 19:30] marcosvital commented on #2124
Hi, @djmitche! Thank you for all the effort you put so far on this submission. While it is possible that Ryan is ready to work on it again, it is also possible that we will let this paused for a while longer. If you feel that is better to step out of the process at this point, it will be no problem at all: I can take the role of a reviewer as we move on.

If you choose to do that, my suggestion wo

[2021-04-27 19:36] marcosvital commented on #3027
Dear @gmyenni, I'm sorry that it took so long for the reviewing process to start for you submission... Since that we can't find a third reviewer, I'll start the process with only two.

@ViniciusBRodrigues and @FlukeAndFeather, thank you for your patience so far. We will start the reviewing process right away.

[2021-04-27 19:36] marcosvital commented on #3027
@whedon start review

[2021-04-27 19:36] whedon opened #3220 "[REVIEW]: portalcasting: Supporting automated forecasting of rodent populations"
**Submitting author:** @gmyenni (<a href="http://orcid.org/0000-0001-6969-1848">Glenda Yenni</a>)
**Repository:** <a href="http://github.com/weecology/portalcasting" target ="_blank">http://github.com/weecology/portalcasting</a>
**Version:** v0.20.0
**Editor:** @marcosvital
**Reviewer:** @ViniciusBRodrigues , @FlukeAndFeather
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

[2021-04-27 19:36] whedon commented on #3027
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3220.

[2021-04-27 19:37] #3027 closed

[2021-04-27 19:37] whedon commented on #3220
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ViniciusBRodrigues , @FlukeAndFeather  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our

[2021-04-27 19:37] whedon commented on #3220
[code]

[2021-04-27 19:37] whedon commented on #3220
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03220/joss.03220/10.21105.joss.03220.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03220/joss.03220/10.21105.joss.03220.pdf) :page_facing_up: :point_left:

[2021-04-27 19:38] whedon commented on #3220
[code]

[2021-04-27 19:38] marcosvital commented on #3220
Dear @gmyenni: your manuscript will be reviewed in this issue, and you can reply any comments and suggestions that the reviewers might address right here.

[2021-04-27 19:39] marcosvital commented on #3220
@ViniciusBRodrigues and @FlukeAndFeather: thank you again for for accepting review this submission for JOSS.

Even if you are not starting the review right now, please accept the invite, as it has an expiration date (there is a link under Reviewer instructions & questions and you should also get an email notification). Furthermore, please check the instructions and checklists above, and let me kno

[2021-04-27 19:59] csoneson commented on #3093
We have another reviewer :) Thanks a lot @cmirzayi for accepting the invitation! I have added a checklist for you in the first post in this issue, together with some instructions. The reviewer guidelines are also available [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). If there are any questions, don't hesitate to ping me. Thanks!

[2021-04-27 19:59] csoneson commented on #3093
@whedon add @cmirzayi as reviewer

[2021-04-27 19:59] whedon commented on #3093
OK, @cmirzayi is now a reviewer

[2021-04-27 20:00] mbobra commented on #3195
@whedon assign @mgalloy as reviewer

[2021-04-27 20:00] whedon commented on #3195
OK, @mgalloy is now a reviewer

[2021-04-27 20:08] KCallaghan commented on #2276
It looks like the authors have handled all of the issues I brought up previously, thank you! I found running and testing the software significantly easier this time around. I feel comfortable ticking off the remaining items in my review. I do have one note:
 - Page 26 of the manual details the fields to enter when running from the command line, but leaves out the 'water runoff fraction', which can

[2021-04-27 20:14] marcosvital commented on #3117
Hi, @arfon! Yes, I can handle this submission.

[2021-04-27 20:15] marcosvital commented on #3117
@whedon assign @marcosvital as editor

[2021-04-27 20:15] whedon commented on #3117
OK, the editor is @marcosvital

[2021-04-27 20:18] marcosvital commented on #3117
Hi, @rerickson-usgs, I will be the editor of your submission.

Please take a look at the manuscript proof generated above, and check if it seems ok. If you make any changes or corrections on it you can use the command `@whedon generate pdf` to create a new version (or just let me know and I'll do it).

At the same time, we can start assigning reviewers for you submission. We usually ask the author

[2021-04-27 20:39] KevinShook commented on #2276
Whoops! Thanks for finding the error on P. 26. I'll add it right away.

There are a couple of reasons why you might not want to drain.
One is that in many prairie basins there is no need to drain, as the basin is closed (does not spill)
for any foreseeable addition of water. There's no point in draining these basins; in fact draining
can cause problems, because the program will be trying to remove

[2021-04-27 20:41] slayoo commented on #3219
@darothen, on behalf of all authors, let me thank for the feedback!

Let me just address one comment right away:

GŁ's (@golui) and AT's (@aleksandratal) contributions were subject to refactors during which we've not preserved commit authorship, yet these can be traced back, e.g., here: https://github.com/atmos-cloud-sim-uj/PySDM/pull/157 & https://github.com/atmos-cloud-sim-uj/PySDM/pull/142 Both

[2021-04-27 21:03] jsoishi commented on #3079
@dpsanders @ketch @caropen I've responded to all of @ketch's suggestions. The additions to the paper can be found in the `joss_paper` branch on github; the corrections to the documentation and `contributing.md` are on `master`.

Thanks for the really helpful suggestions.

[2021-04-27 21:13] shihyuntang commented on #3095
Dear @gully ,

Here are our reply:
* The actual paper portion should include comparisons to existing RV frameworks … and why are they deemed to be unsuitable for the task?
--> Thank you for bring `wobble` to our attention. We added this paragraph in the "Statement of need":

* Other packages like radvel and exoplanet consume …  may further clarify for readers the niche that igrins_rv satisfies.
--

[2021-04-27 21:20] KCallaghan commented on #2276
Thanks for clarifying!

[2021-04-27 21:33] KevinShook commented on #2276
Glad I could make it clearer. It's such a weird area.
I updated the manual in commit https://github.com/CentreForHydrology/WDPM/commit/fab593467c62d921c92fc16556add57c5a23b0b5

[2021-04-27 22:08] sebkopf commented on #2878
Hi @mikldk . Got zenodo finally figured out:

The release version is 1.3.0 and the archive DOI is 10.5281/zenodo.4724083:

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4724083.svg)](https://doi.org/10.5281/zenodo.4724083)

@whedon generate pdf

[2021-04-27 22:15] syoh commented on #3066
@vissarion Thanks for the invitation. I am open to reviewing it; however, I can get to it in late June or early July. If no one suitable comes along earlier than that, I am happy to review it then.

[2021-04-27 22:23] sebkopf commented on #2878
@mikldk This all looks great, happy to approve this proof. Is there anything else you need me to do? As mentioned above, zenodo DOI is [10.5281/zenodo.4724083](https://zenodo.org/badge/latestdoi/90583005)

[2021-04-28 00:51] mcsiple commented on #3094
Sorry for the delay in my comments; I think I wrote the date down incorrectly. I am working on it and will have all my comments done by this Friday (4/30/21).

[2021-04-28 01:31] whedon commented on #3171
:wave: @pzarabadip, please update us on how your review is going (this is an automated reminder).

[2021-04-28 01:31] whedon commented on #3171
:wave: @eihernan, please update us on how your review is going (this is an automated reminder).

[2021-04-28 01:50] gaelforget commented on #2813
Awesome news! Thank you @kyleniemeyer

Thank you @milankl and @visr -- your reviews definitely helped improve IndividualDisplacements.jl

Thank you also @kthyng and @kyleniemeyer for editing

[2021-04-28 07:19] Kevin-Mattheus-Moerman commented on #3217
@vsoch thanks for this submission. I have a couple of comments/questions on this submission and the paper.

- [ ] JOSS submissions should have a very clear scientific research application. I have to admit this submission is not my domain of expertise but from reading the paper I struggle to find a clear description of the direct scientific research application. Page 3 refers to "Reproducible Scien

[2021-04-28 07:21] Kevin-Mattheus-Moerman commented on #3213
@whedon generate pdf

[2021-04-28 07:22] whedon commented on #3213
PDF failed to compile for issue #3213 with the following error:
[code]

[2021-04-28 07:23] Kevin-Mattheus-Moerman commented on #3196
@arfon are you happy with the above :point_up: comments on the applications of this work? Let me know if you want me to pick this up.

[2021-04-28 07:24] Kevin-Mattheus-Moerman commented on #3213
@openjournals/dev can you help trouble shoot this paper compilation error :point_up:

[2021-04-28 07:26] Kevin-Mattheus-Moerman commented on #3213
@mark-koren since the error message relates to the ORCID profiles, can you please double check these and remove any blank entries for them.

[2021-04-28 07:26] vissarion commented on #3066
Hi @SteveDiamond, @dcajasn, @jankrepl, @wellecks  would any of you be willing to review this submission for JOSS?

 We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-04-28 07:28] vissarion commented on #3192
@whedon accept

[2021-04-28 07:28] whedon commented on #3192
[code]

[2021-04-28 07:30] whedon commented on #3192
[code]

[2021-04-28 07:30] whedon commented on #3192
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2265

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2265, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-28 07:31] Kevin-Mattheus-Moerman commented on #3209
@whedon invite @fboehm as editor

[2021-04-28 07:31] whedon commented on #3209
@fboehm has been invited to edit this submission.

[2021-04-28 07:46] Kevin-Mattheus-Moerman commented on #3218
@BreezeWhite thanks for this submission. Our editors in this domain are currently not able to take on this submission. I have therefore added the "waitlisted" label, which means one of our editors will pick up this work once they become available. Thanks for your patience.

In the mean time please consider these comments:

- [ ] Please rename/rephrase the purpose section to be the required `Statem

[2021-04-28 08:01] mikldk commented on #2878
@whedon set v1.3.0 as version

[2021-04-28 08:01] whedon commented on #2878
OK. v1.3.0 is the version.

[2021-04-28 08:02] mikldk commented on #2878
@whedon set 10.5281/zenodo.4724083 as archive

[2021-04-28 08:02] whedon commented on #2878
OK. <a href="https://doi.org/10.5281/zenodo.4724083" target="_blank">10.5281/zenodo.4724083</a> is the archive.

[2021-04-28 08:05] mikldk commented on #2878
@whedon accept

[2021-04-28 08:05] whedon commented on #2878
[code]

[2021-04-28 08:05] whedon commented on #2878
[code]

[2021-04-28 08:06] whedon commented on #2878
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2266

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2266, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-28 08:17] vissarion commented on #2752
@whedon generate pdf

[2021-04-28 08:18] whedon commented on #2752
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02752/joss.02752/10.21105.joss.02752.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02752/joss.02752/10.21105.joss.02752.pdf) :page_facing_up: :point_left:

[2021-04-28 08:23] SirSharpest commented on #3215
@kellyrowland could you have whedon assign me, I'm not able to tick the checkboxes.

[2021-04-28 08:29] vissarion commented on #2752
Hi, I did another review pass after the revision and left a few comments as issues in the target repository:

- https://github.com/intelligent-soft-robots/o80/issues/5
- https://github.com/intelligent-soft-robots/o80/issues/6
- https://github.com/intelligent-soft-robots/o80/issues/7

[2021-04-28 08:37] IndrajeetPatil commented on #3167
@csoneson Maybe Nicholas Tierny needs to be reinvited?

[2021-04-28 10:16] njtierney commented on #3167
Hi there, yes can I please be re invited?

On Wed, 28 Apr 2021, 16:37 Indrajeet Patil, ***@***.***>
wrote:

[2021-04-28 10:50] csoneson commented on #3167
@whedon re-invite @njtierney as reviewer

[2021-04-28 10:51] whedon commented on #3167
OK, the reviewer has been re-invited.

@njtierney please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-04-28 10:51] justinshenk commented on #3104
@whedon generate pdf

[2021-04-28 10:53] whedon commented on #3104
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03104/joss.03104/10.21105.joss.03104.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03104/joss.03104/10.21105.joss.03104.pdf) :page_facing_up: :point_left:

[2021-04-28 11:05] jni commented on #3104
Did you mean to do this here instead of on #3202, @justinshenk?

[2021-04-28 11:08] justinshenk commented on #3104
Good catch. Thank you for reminding me of the new location!

[2021-04-28 11:09] justinshenk commented on #3202
@whedon generate pdf

[2021-04-28 11:10] whedon commented on #3202
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: :point_left:

[2021-04-28 12:22] sbenthall commented on #3013
@mcavs would you be able to review this submission?

[2021-04-28 12:23] sbenthall commented on #3013
@pedro-teles-fonseca would you be able to review this submission?

[2021-04-28 12:24] sbenthall commented on #3065
Hello @martibosch this is a gentle reminder that this submission is waiting for your review

[2021-04-28 12:26] mcavs commented on #3013
I am sorry that I don't have enough time for this now @sbenthall

[2021-04-28 13:39] fboehm commented on #3209
@whedon assign @fboehm as editor

[2021-04-28 13:39] whedon commented on #3209
OK, the editor is @fboehm

[2021-04-28 13:47] VivianePons commented on #2954
Hi @michakraus just checking in as it's been a month, any timeframe on this?

[2021-04-28 14:12] VivianePons commented on #2946
@whedon generate pdf from branch joss

[2021-04-28 14:12] whedon commented on #2946
[code]

[2021-04-28 14:14] whedon commented on #2946
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: :point_left:

[2021-04-28 14:36] fboehm commented on #3209
@tobiasschoch - do you have suggestions for reviewers?

[2021-04-28 15:01] kthyng commented on #3157
Ok that makes sense @cheginit, thanks for letting me know. I do think you'll be able to use your knowledge to improve the software through the review process.

[2021-04-28 15:01] kthyng commented on #3157
@whedon add @cheginit as reviewer

[2021-04-28 15:01] whedon commented on #3157
OK, @cheginit is now a reviewer

[2021-04-28 15:02] kthyng commented on #3157
@whedon start review

[2021-04-28 15:02] whedon opened #3221 "[REVIEW]: mosartwmpy: A Python implementation of the MOSART-WM coupled hydrologic routing and water management model"
**Submitting author:** @thurber (<a href="http://orcid.org/0000-0002-4370-9971">Travis Thurber</a>)
**Repository:** <a href="https://github.com/IMMM-SFA/mosartwmpy" target ="_blank">https://github.com/IMMM-SFA/mosartwmpy</a>
**Version:** v0.0.8
**Editor:** @kthyng
**Reviewer:** @JannisHoch, @cheginit
**Archive:** <a href="https://doi.org/10.5281/zenodo.4976463" target="_blank">10.5281/zenodo.49764

[2021-04-28 15:02] whedon commented on #3157
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3221.

[2021-04-28 15:02] #3157 closed

[2021-04-28 15:02] whedon commented on #3221
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JannisHoch, @cheginit it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-04-28 15:02] kthyng commented on #3157
@JannisHoch and @cheginit please head on over to #3221 for the actual review issue, and let me know over there if you have any questions!

[2021-04-28 15:03] whedon commented on #3221
[code]

[2021-04-28 15:03] whedon commented on #3221
[code]

[2021-04-28 15:05] whedon commented on #3221
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03221/joss.03221/10.21105.joss.03221.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03221/joss.03221/10.21105.joss.03221.pdf) :page_facing_up: :point_left:

[2021-04-28 15:27] Kevin-Mattheus-Moerman commented on #3218
Perhaps @bmcfee or @terrytangyuan could take this submission once they are available.

[2021-04-28 15:30] whedon opened #3222 "[PRE REVIEW]: SEED: Software for the Extraction of Equations from Data"
**Submitting author:** @definitely-kyle (<a href="http://orcid.org/0000-0002-2274-4815">Kyle Kean</a>)
**Repository:** <a href="https://github.com/Statistical-Learning-4-System-Id/SEED-3.0" target ="_blank">https://github.com/Statistical-Learning-4-System-Id/SEED-3.0</a>
**Version:** 3.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service

[2021-04-28 15:30] whedon commented on #3222
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-28 15:31] whedon commented on #3222
[code]

[2021-04-28 15:31] whedon commented on #3222
[code]

[2021-04-28 15:32] whedon commented on #3222
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03222/joss.03222/10.21105.joss.03222.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03222/joss.03222/10.21105.joss.03222.pdf) :page_facing_up: :point_left:

[2021-04-28 15:32] Kevin-Mattheus-Moerman commented on #3222
@whedon query scope

[2021-04-28 15:33] Kevin-Mattheus-Moerman commented on #3222
@definitely-kyle thanks for this submission. I've flagged this submission for additional scope review by our editorial board. This is standard for submissions of this size. We should get back with a verdict within a week or so.

[2021-04-28 15:35] Kevin-Mattheus-Moerman commented on #3020
@vijaysm @chennachaos could you provide another update on review progress? I am just checking in, let me know if you need more time. Thanks

[2021-04-28 15:38] Kevin-Mattheus-Moerman commented on #3190
@yangbai90, @ksyang2013, @littlelazy6 this is where the review takes place. Could you provide an indication as to the time you need to provide your initial review? FYI we can be flexible and it is okay if you need to take quite a bit of time. Thanks again for your help!!!!

[2021-04-28 15:42] Kevin-Mattheus-Moerman commented on #2885
@vissarion I'm having some difficulty finding reviewers. Would you be okay with being added for this one?

[2021-04-28 15:45] Kevin-Mattheus-Moerman commented on #2885
@keenancrane @nmwsharp @ranahanocka @dcoeurjo @MarkGillespie @ctlee @rohan-sawhney are you able to help review this submission  for [JOSS](https://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) focuses on [the software](https://github.com/LiangliangNan/Easy3D) and this [short paper](https://github.com/openjournals/joss-papers/blob/j

[2021-04-28 15:45] whedon opened #3223 "[PRE REVIEW]: Reiz: Structural Source Code Search at Scale"
**Submitting author:** @isidentical (<a href="http://orcid.org/0000-0002-5081-5529">Batuhan Taskaya</a>)
**Repository:** <a href="https://github.com/reizio/reiz.io" target ="_blank">https://github.com/reizio/reiz.io</a>
**Version:** v1.0.0
**Editor:** @mjsottile
**Reviewers:** @lutzhamel, @yuhc
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-04-28 15:45] whedon commented on #3223
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-28 15:46] whedon commented on #3223
[code]

[2021-04-28 15:47] whedon commented on #3223
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03223/joss.03223/10.21105.joss.03223.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03223/joss.03223/10.21105.joss.03223.pdf) :page_facing_up: :point_left:

[2021-04-28 15:48] whedon commented on #3223
[code]

[2021-04-28 16:07] kellyrowland commented on #3215
Thanks for the ping, sorry about that!

@whedon add @SirSharpest as reviewer

[2021-04-28 16:10] tobiasschoch commented on #3209
@fboehm - From the list of potential JOSS reviewers, msalibian is an expert in the field of robust statistics. He may be willing to serve as a reviewer.

[2021-04-28 16:26] kellyrowland commented on #3215
@SirSharpest I've assigned you to this manually.

[2021-04-28 16:45] mark-koren commented on #3213
Oh strange, the preview system was able to compile the pdf. I'll look into the ORCID profiles asap.

[2021-04-28 16:49] arfon commented on #3215
@whedon re-invite @SirSharpest as reviewer

[2021-04-28 16:49] whedon commented on #3215
The reviewer already has a pending invite.

@sirsharpest please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-04-28 16:49] arfon commented on #3215
@SirSharpest - I think you need to accept the repository invite to be able to update the checkboxes.

[2021-04-28 17:20] kellyrowland commented on #3212
Hi @kramea and @neerajdhanraj,

Thanks for agreeing to review this paper - please make sure that you accept the repository invite so that you can update the checkboxes in the issue as the review progresses along.

If you've got any questions or run into any problems, please feel free to ping me (@kellyrowland).

[2021-04-28 17:21] gmyenni commented on #3220
Thanks for all your help @marcosvital !

[2021-04-28 17:40] ksyang2013 commented on #3190
Will return the comments within two weeks. Thanks!

--------------------------------------
Kesong YANG, Ph.D.

Associate Professor,
Department of NanoEngineering,
Program of Materials Science and Engineering,
Center for Memory and Recording Research (CMRR),
University of California San Diego
9500 Gilman Drive, Mail Code 0448
La Jolla, CA 92093-0448, USA

Office: SME 244H
Tel: (858) 534-2514
E-mail

[2021-04-28 17:47] SteveDiamond commented on #3066
@vissarion I can review the submission.

[2021-04-28 17:49] SteveDiamond commented on #3066
@robertmartin8 It should be fine if you use the ECOS_BB solver. We dropped it as the default MIP solver, but you can still access it via ``problem.solve(solver="ECOS_BB")``.

[2021-04-28 18:39] vsoch commented on #3217
Thanks @Kevin-Mattheus-Moerman ! I can definitely shorten the paper, and let's chat about the statement of need first - I am definitely not great at writing these, but creating, managing, and running scientific software is the core of a researcher's work, so the tool is definitely valuable. There is also precedence in JoSS for this exact kind of tool, namely papers that have been published before:

[2021-04-28 19:01] robertmartin8 commented on #3066
Hey @SteveDiamond, cheers for doing this!

Noted re `ECOS_BB` – I should probably add unit tests to check if it agrees with `GLPK_MI`.

[2021-04-28 19:28] FedericoComoglio commented on #3073
Hi everyone,

I completed my review of the `mikropml` package. I would like to apologize once again with the authors for the delay.

This package offers off-the-shelf ML pipelines for regression and classification tasks. All methods are supported by the `caret` package (in fact, most functions offer a sensible wrapper around `caret` functions). The examples are informative and well-crafted. The vi

[2021-04-28 19:51] jarrah42 commented on #3143
I'm waiting for the author to respond and/or make the requested changes.

[2021-04-28 21:04] mark-koren commented on #3213
@whedon  generate pdf

[2021-04-28 21:04] whedon commented on #3213
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-04-28 21:06] mark-koren commented on #3213
@whedon generate pdf

[2021-04-28 21:07] whedon commented on #3213
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03213/joss.03213/10.21105.joss.03213.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03213/joss.03213/10.21105.joss.03213.pdf) :page_facing_up: :point_left:

[2021-04-28 21:20] arfon commented on #3073
⚡ thanks for the reviews @JonnyTran & @FedericoComoglio!

@pschloss - it seems like there are some useful suggestions here from our reviewers. Could you please make your changes/updates and communicate what you have done back here?

After that, we can move forward with accepting and publishing the submission.

[2021-04-28 21:22] arfon commented on #3196
:+1: yep, this sounds reasonable to me. I'm also happy to take this submission on.

[2021-04-28 21:22] arfon commented on #3196
@whedon assign me as editor

[2021-04-28 21:22] whedon commented on #3196
OK, the editor is @arfon

[2021-04-28 21:22] arfon commented on #3196
@DrMarc - could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-04-28 22:01] mjsottile commented on #3051
Sorry for the delay: I've been thinking about the reviews and waiting to see if the authors have anything further to add.  Regarding some of the comments above:

Speaking for myself as a long time NumPy (and previously Numeric and Numarray before NumPy existed) user, I grudgingly use NumPy but do not personally care for some of the decisions the community has converged upon with respect to API des

[2021-04-28 22:03] mjsottile commented on #3038
:wave: @NMontanaBrown and @tjasaki This review appears to have stalled and I want to check to make sure you are both able to continue to make progress.  Please let me or the authors of the submission know if you are blocked and need assistance to move things along.

[2021-04-28 23:13] kbarnhart commented on #3168
@elbeejay thanks for completing your review and identifying those issues. If @giswqs or @patrickcgray have questions as you work on your reviews, please let me know.

[2021-04-28 23:17] kbarnhart commented on #2276
@KCallaghan thanks for completing your review and finding that issue. @KevinShook thanks for addressing these issues quickly as they arise and providing the above example. Very interesting.

@r-barnes as you are able please indicate if there are any remaining concerns identified by your review. As always, let me know if I can assist or clarify in the process.

[2021-04-28 23:21] kbarnhart commented on #3114
@jmansour thank you for the above comment and for completing your review.

@dlgeorge as you are able please let me know when you anticipate completing your review.

As always, if anyone has questions for me throughout the review process, please let me know.

[2021-04-29 00:21] Natsiopoulos commented on #3013
Hello @sbenthall,
Thank you for being the editor of our submission.
Searching through the reviewers list, we found some potential reviewers with relevant domain areas.
These are:
soodoku, tweed1e, ha0ye and taqtiqa-mark
Also, alexpghayes seems to have an interest in reviewing the interface and documentation which we consider a big advantage of our package.
Thank you

[2021-04-29 00:27] vijaysm commented on #3020
@Kevin-Mattheus-Moerman I should be able to complete the rest of the review by Monday.

[2021-04-29 01:03] giswqs commented on #3168
@whedon generate pdf

[2021-04-29 01:04] whedon commented on #3168
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03168/joss.03168/10.21105.joss.03168.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03168/joss.03168/10.21105.joss.03168.pdf) :page_facing_up: :point_left:

[2021-04-29 01:34] dghoshal-lbl commented on #2484
@gflofst We have updated the readme. Please let us know if run into any other issues.

@atrisovic I have updated and fixed the links in the readme. I am updating the paper and let you know once I have incorporated the changes based on your comments.

[2021-04-29 03:19] giswqs commented on #3168
I just released geemap [v0.8.15](https://github.com/giswqs/geemap/releases/tag/v0.8.15), which should help resolve the issue raised in https://github.com/davemlz/eemont/issues/18 regarding the eemont tutorial notebooks.

[2021-04-29 05:15] grburgess commented on #3165
@xuanxu They have not signed up for JOSS reviews, but farr and ilyamandel both have vast expertise in generic populations.

[2021-04-29 05:52] BreezeWhite commented on #3218
@Kevin-Mattheus-Moerman Thank you for your mention! And also thanks for the quick advice on our submission.

We are currently modifying the content according to your suggestion. As for the third point, the word count we see on the editor shows there are total 1000 words, just fit in the upper limit. Would that still be a problem? If so, we will try continue to shorten the paper.

[2021-04-29 05:52] arokem commented on #3124
@nsaunier and @abhishekbajpayee : have you had a chance to take a look? Thanks!

[2021-04-29 10:06] uellue commented on #3051
@mjsottile,

The submission here is pretty close to being a clone of NumPy/Numeric/Numarray from 15 years ago from a user perspective. If NumPy didn't exist, it would be no question that bringing Matlab-like array math to Python would be a very useful and valid project while being a solution that is already solved in other software packages, i.e. Matlab. However, NumPy exists, so this is already s

[2021-04-29 10:48] uellue commented on #3051
@mjsottile if I may add, `pyarma` is also on the lower end of the "scholarly effort" criterion. The [first commit](https://gitlab.com/jason-rumengan/pyarma/-/commit/46df2f18a34509201098d1afccaa31d59182092f) is merely 5 months old and the [first public release on PyPI](https://pypi.org/project/pyarma/#history) is from February this year. [Its user base seems to be small as well](https://github.com/

[2021-04-29 12:15] khinsen commented on #3110
@dhhagan I can review this, but might take up to three weeks to complete it due to other commitments.

[2021-04-29 12:24] littlelazy6 commented on #3190
Hi

I propose to revert next weekend, no later than 14th May. Hope this suits.

Regards
Yuhui

From: YANG Research Group@UC San Diego ***@***.***>
Sent: 2021年4月28日 18:41
To: openjournals/joss-reviews ***@***.***>
Cc: Yuhui Tu ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: PXO (Poly-XTAL Operations): Free MATLAB codebase to generate and analyse complex 2D grai

[2021-04-29 12:30] dlgeorge commented on #3114
Hi Katy,

I'm planning to have my review completed by the end of this week (hopefully
today) but no later than Friday.

thanks!

Dave

On Wed, Apr 28, 2021 at 4:22 PM Katy Barnhart ***@***.***>
wrote:

--
----------------------------------------------------
David L George ***@***.***)
Research Mathematician
Cascades Volcano Observatory
U.S. Geological Survey
Vancouver, WA
-------------------------

[2021-04-29 12:33] meg-simula commented on #3108
@whedon generate pdf

[2021-04-29 12:33] meg-simula commented on #3108
@whedon check references

[2021-04-29 12:33] whedon commented on #3108
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03108/joss.03108/10.21105.joss.03108.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03108/joss.03108/10.21105.joss.03108.pdf) :page_facing_up: :point_left:

[2021-04-29 12:41] meg-simula commented on #3108
@schruste Thanks for the submission and your patience so far. This looks ready for review. I'm reaching out to reviewers and will get back to you shortly.

[2021-04-29 13:00] meg-simula commented on #3150
@whedon generate pdf from branch joss-paper

[2021-04-29 13:00] whedon commented on #3150
[code]

[2021-04-29 13:00] meg-simula commented on #3150
@whedon check references from branch joss-paper

[2021-04-29 13:00] whedon commented on #3150
[code]

[2021-04-29 13:01] whedon commented on #3150
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03150/joss.03150/10.21105.joss.03150.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03150/joss.03150/10.21105.joss.03150.pdf) :page_facing_up: :point_left:

[2021-04-29 13:06] meg-simula commented on #3150
@turbach Thanks for the submission (and the patience so far)! This looks ready for review. I'll reach out to reviewers and then get back to you shortly to get the review started.

[2021-04-29 13:14] meg-simula commented on #3150
@SRSteinkamp, @neurofractal, @ajquinn, @sappelhoff: You have been suggested as reviewers - would you be available and willing to review this package for JOSS? Your assistance and expertise would be much appreciated.

[2021-04-29 13:17] uellue commented on #3051
@mjsottile if I understand the review criteria correctly, they don't put any particular burden on the impact or usefulness of the software other than the "scholarly effort" section, right? Just to make it clear, my criticism above is about inconsistencies in the "statement of need" and a lack of balance and depth in the "state of the field", not per se about `pyarma` itself. If one dials back some

[2021-04-29 13:30] AJQuinn commented on #3150
Hello - yes, I'm happy to review this. Looks very interesting!

[2021-04-29 13:31] meg-simula commented on #3108
@whedon assign @mscroggs as reviewer

[2021-04-29 13:31] whedon commented on #3108
OK, @mscroggs is now a reviewer

[2021-04-29 13:31] meg-simula commented on #3150
@AJQuinn Excellent, I'll assign you.

[2021-04-29 13:32] meg-simula commented on #3150
@whedon assign @AJQuinn as reviewer

[2021-04-29 13:32] whedon commented on #3150
OK, @AJQuinn is now a reviewer

[2021-04-29 13:39] dhhagan commented on #3110
Hey @khinsen that shouldn't be an issue. Thanks so much.

[2021-04-29 13:40] dhhagan commented on #3110
@whedon add @khinsen as reviewer

[2021-04-29 13:40] whedon commented on #3110
OK, @khinsen is now a reviewer

[2021-04-29 13:40] dhhagan commented on #3110
@whedon start review

[2021-04-29 13:40] whedon opened #3224 "[REVIEW]: INCHEM-Py: An open source Python box model for indoor air chemistry"
**Submitting author:** @DrDaveShaw (<a href="http://orcid.org/0000-0001-5542-0334">David Shaw</a>)
**Repository:** <a href="https://github.com/DrDaveShaw/INCHEM-Py" target ="_blank">https://github.com/DrDaveShaw/INCHEM-Py</a>
**Version:** v1.1
**Editor:** @dhhagan
**Reviewer:** @goldmanm, @khinsen
**Archive:** <a href="https://doi.org/10.5281/zenodo.5036374" target="_blank">10.5281/zenodo.5036374<

[2021-04-29 13:40] whedon commented on #3110
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3224.

[2021-04-29 13:40] #3110 closed

[2021-04-29 13:40] whedon commented on #3224
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @goldmanm, @khinsen it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-04-29 13:40] whedon commented on #3224
[code]

[2021-04-29 13:41] whedon commented on #3224
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03224/joss.03224/10.21105.joss.03224.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03224/joss.03224/10.21105.joss.03224.pdf) :page_facing_up: :point_left:

[2021-04-29 13:55] ctodd26labs commented on #3032
Hello again @arfon,

Wanted to check in again to see if there has been any progress?

[2021-04-29 14:08] whedon commented on #3172
:wave: @joferkington, please update us on how your review is going (this is an automated reminder).

[2021-04-29 14:08] whedon commented on #3172
:wave: @bstabler, please update us on how your review is going (this is an automated reminder).

[2021-04-29 14:15] sappelhoff commented on #3150
Unfortunately my earliest availability for this would be May 22nd. Please ping me if no available reviewer has been found until then, and I'll gladly help out!

[2021-04-29 14:38] rerickson-usgs commented on #3117
@marcosvital Thank you for getting back to me and sorry for my delayed response. I'm working part-time because I am on paternity leave.

Here are possible reviewers:
* https://github.com/mbjoseph because I have interacted him him on the Stan Forums
* OliverFishCode because they stared an earlier version of this code on GitHub https://github.com/OliverFishCode
* https://github.com/jsta because they

[2021-04-29 15:27] whedon commented on #3173
:wave: @rvosa, please update us on how your review is going (this is an automated reminder).

[2021-04-29 15:27] whedon commented on #3173
:wave: @DavidNickle, please update us on how your review is going (this is an automated reminder).

[2021-04-29 15:43] sebkopf commented on #2878
looks great to me, is there something else I need to do @mikldk ? Thanks for helping navigate this process for the first time.

[2021-04-29 16:47] DavidNickle commented on #3173
My review is complete on 14 days ago. See above

[2021-04-29 17:57] fboehm commented on #3209
Thank you, @tobiasschoch ! We aren't limited to using those on the JOSS review list. Are there other experts that you might like to review the submission?

[2021-04-29 18:25] yangbai90 commented on #3190
I will return the comments within two weeks. Thanks!

[2021-04-29 18:55] melissawm commented on #3096
Hello all, based on the discussion I'm flagging this for the EiC on rotation to look at. @AngryMaciek if you feel like you have anything to add, please do. Let me know if I can answer any further questions. Thanks!

[2021-04-29 18:55] melissawm commented on #3096
@whedon query scope

[2021-04-29 19:02] melissawm commented on #3208
@whedon query scope

[2021-04-29 19:02] whedon commented on #3208
Submission flagged for editorial review.

[2021-04-29 19:46] whedon commented on #3174
:wave: @kelseymh, please update us on how your review is going (this is an automated reminder).

[2021-04-29 19:46] whedon commented on #3174
:wave: @matthewfeickert, please update us on how your review is going (this is an automated reminder).

[2021-04-29 19:48] chkoar commented on #2974
Hey @melissawm! @geoffreyp has worked on issues raised by us and I suppose that he needs our feedback in order to move forward. After the bank holidays of the orthodox easter I will try to provide the feedback that he needs.

[2021-04-29 19:48] matthewfeickert commented on #3174
I have my review finished and am trying to write it up so that it is clear and informative. My goal is to post it before EOD.

[2021-04-29 21:13] mnarayan commented on #2863
Everything looks good to me.

[2021-04-29 21:22] whedon commented on #3175
:wave: @evanleeturner, please update us on how your review is going (this is an automated reminder).

[2021-04-29 21:22] whedon commented on #3175
:wave: @raoulcollenteur, please update us on how your review is going (this is an automated reminder).

[2021-04-29 21:26] dpsanders commented on #3079
@whedon generate pdf from branch joss_paper

[2021-04-29 21:26] whedon commented on #3079
[code]

[2021-04-29 21:26] deep-introspection commented on #3169
Ok, same here! Congratulations to the team for this very nice contribution.

[2021-04-29 21:27] whedon commented on #3079
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03079/joss.03079/10.21105.joss.03079.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03079/joss.03079/10.21105.joss.03079.pdf) :page_facing_up: :point_left:

[2021-04-29 21:30] dpsanders commented on #3079
@jsoishi: Following on from @ketch's comment above, I still find the installation instructions in the repo unclear.

I suggest providing a "quick install" guide in the `eigentools` repository that provides the simplest instructions for installing all required dependencies, and refer to the Dedalus repository for more advanced instructions if necessary.

I am not up to date with the Python packagin

[2021-04-29 22:05] AngryMaciek commented on #3096
Dear @melissawm,

Yes, of course! I would very much like to respond to the points raised by @nnadeau:

[1] I am not sure why, but that contribution graphs do not reflect the commit history accurately. Please take a look at the [commit history](https://github.com/AngryMaciek/hypercomplex/commits/master) of `master` directly. Initial commit for this repo dates back to 22 October, the last commit is

[2021-04-30 00:00] ilyamandel commented on #3165
Alas, I can't help. :(
I just started as an editor at ApJ earlier this year, so I am fairly busy with that at the moment.
I can recommend Jeff Andrews or Heloise Stevance.

[2021-04-30 00:25] jsoishi commented on #3079
@dpsanders Unfortunately, `conda` has limited support for dependencies requiring locally-built and optimized libraries (e.g. MPI, FFTW provided by supercomputing centers), as Dedalus does. For now, this prevents Dedalus from distributing binaries via `conda` and thus the same for `eigentools`. `eigentools` remains easily `pip` installable as long as Dedalus is properly installed.

[2021-04-30 03:22] davemlz commented on #3168
Hi to everyone!

Following @elbeejay suggestions (https://github.com/davemlz/eemont/issues/19), I have modified the paper (https://github.com/davemlz/eemont/commit/5e50b13a43ae90a5c8d0a0686ccb74934a426ece) with new sections (including the GEE Community: Developer Resources and the integration with the Earth Engine Plugin for QGIS), benefits of the package (including comparisons with the Earth Engi

[2021-04-30 04:47] kellieotto commented on #3054
Sorry @mikldk I don't have time to give this a proper review right now. Thanks for reaching out!

[2021-04-30 05:10] matthewfeickert commented on #3174
Thanks for your submission and software @gerudo7. The following is my first round review of it, which goes into detail (and so isn't just noted in the first post of this Issue) only to try to help make requested revisions more actionable and clear. Unless @mbobra has any additional comments on my review I'll proceed to open up individual GitHub issues that target the topics below in your repo to m

[2021-04-30 05:33] IndrajeetPatil commented on #3111
@mikldk Maybe we can invite a few others and check their availability? Let me know if I should suggest more reviewers.

[2021-04-30 06:48] csoneson commented on #3167
@njtierney - could you confirm that you are now able to tick the boxes in the checklist above? Let me know if you have any questions. Thanks!

[2021-04-30 07:21] arfon commented on #2606
@avik-pal - I'm afraid I think we need to find some new reviewers here 😞 . Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-04-30 07:21] arfon commented on #2606
@whedon assign me as editor

[2021-04-30 09:14] xuanxu commented on #3165
@ilyamandel Thanks, I've queried both of them via email 🤞

[2021-04-30 09:40] arfon commented on #2849
@sylvaticus - I made a few minor changes to your paper here: https://github.com/sylvaticus/BetaML.jl/pull/23 . Once you have merged this PR, could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figsh

[2021-04-30 10:45] tobiasschoch commented on #3209
@fboehm - Ok, I'll get back to you (with potential reviewers) after the weekend.

[2021-04-30 12:29] sylvaticus commented on #2849
Hello, I have created release v0.5.1 of the software which includes the text corrections of @arfon (thank you!) and I have deposited it on Zenodo: https://doi.org/10.5281/zenodo.4730205

[2021-04-30 13:56] sylvaticus commented on #2849
@whedon set 10.5281/zenodo.4730205 as archive

[2021-04-30 13:56] whedon commented on #2849
I'm sorry @sylvaticus, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-04-30 14:31] conradsnicta commented on #3051
@mjsottile

Before to stating our additional responses below, a summary of @uellue 's central positions can be paraphrased as follows: **(i)** it's not necessary to provide a Matlab-like API in Python because NumPy already exists and its API is good enough; and **(ii)** the Matlab-like API can be done on top of NumPy, so the proposed implementation is not necessary.

We respectfully disagree with

[2021-04-30 15:27] arfon commented on #2849
@whedon set 10.5281/zenodo.4730205 as archive

[2021-04-30 15:27] whedon commented on #2849
OK. <a href="https://doi.org/10.5281/zenodo.4730205" target="_blank">10.5281/zenodo.4730205</a> is the archive.

[2021-04-30 15:28] arfon commented on #2849
@whedon accept

[2021-04-30 15:28] whedon commented on #2849
[code]

[2021-04-30 15:28] whedon commented on #2849
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2267

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2267, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-30 15:29] whedon commented on #2849
[code]

[2021-04-30 15:30] whedon commented on #2849
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2268
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02849](https://doi.org/10.21105/joss.02849)
2. If everything look

[2021-04-30 15:37] arfon commented on #2849
@ablaom, @ppalmes - many thanks for your reviews here and to @terrytangyuan for editing this submission. JOSS relies upon the volunteer efforts of people like you and we simply wouldn't be able to this without you ✨

@sylvaticus - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-04-30 15:37] #2849 closed

[2021-04-30 15:37] whedon commented on #2849
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02849/status.svg)](https://doi.org/10.21105/joss.02849)

**We need your help!**

Journal of Open Source Softwa

[2021-04-30 15:48] arfon commented on #3032
@gradvohl @trp07 @Ruchirtewari @5998 – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is a Python package: [_Magicwand: A platform to provide high-quality, reliable, and reproducible data sets for l

[2021-04-30 15:53] arfon commented on #2606
@vs74 @NMontanaBrown - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission we'd be asking you to review is [_TorchGAN: A Flexible Framework for GAN Training and Evaluation_](https://github.com/torchgan/torchgan/)

[2021-04-30 16:07] whedon opened #3225 "[PRE REVIEW]: Blinkr: Computer Vision Based Blink Reminder"
**Submitting author:** @AdritRao (<a href="http://orcid.org/0000-0002-0780-033X">Adrit Rao</a>)
**Repository:** <a href="https://github.com/AdritRao/Blinkr" target ="_blank">https://github.com/AdritRao/Blinkr</a>
**Version:** Python 3.7
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID

[2021-04-30 16:07] whedon commented on #3225
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-30 16:07] whedon commented on #3225
[code]

[2021-04-30 16:07] whedon commented on #3225
Failed to discover a valid open source license.

[2021-04-30 16:07] whedon commented on #3225
PDF failed to compile for issue #3225 with the following error:
[code]

[2021-04-30 16:08] whedon commented on #3225
[code]

[2021-04-30 16:12] whedon opened #3226 "[PRE REVIEW]: Makie.jl: Flexible high-performance data visualization for Julia"
**Submitting author:** @jkrumbiegel (<a href="http://orcid.org/0000-0002-8409-5590">Julius Krumbiegel</a>)
**Repository:** <a href="https://github.com/JuliaPlots/AbstractPlotting.jl" target ="_blank">https://github.com/JuliaPlots/AbstractPlotting.jl</a>
**Version:** v.0.17.4
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @fverdugo, @gaelforget
**Managing EiC:** Kevin M. Moerman

**:warning: JO

[2021-04-30 16:12] whedon commented on #3226
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-30 16:12] Kevin-Mattheus-Moerman commented on #3226
@whedon assign @Kevin-Mattheus-Moerman as editor

[2021-04-30 16:12] whedon commented on #3226
OK, the editor is @Kevin-Mattheus-Moerman

[2021-04-30 16:12] whedon commented on #3226
PDF failed to compile for issue #3226 with the following error:
[code]

[2021-04-30 16:16] Kevin-Mattheus-Moerman commented on #3226
@jkrumbiegel

Our system cannot find the paper. Where can we find it? The repository for this submission is listed as: https://github.com/JuliaPlots/AbstractPlotting.jl is that correct or should it be https://github.com/JuliaPlots/Makie.jl ?

Thanks

[2021-04-30 16:17] whedon opened #3227 "[PRE REVIEW]: MiniSom, a minimalistic and Numpy based implementation of the Self Organizing Maps"
**Submitting author:** @JustGlowing (<a href="http://orcid.org/0000-0002-3939-2801">Giuseppe Vettigli</a>)
**Repository:** <a href="https://github.com/JustGlowing/minisom/" target ="_blank">https://github.com/JustGlowing/minisom/</a>
**Version:** 2.2.9
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2021-04-30 16:17] whedon commented on #3227
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-30 16:17] whedon commented on #3227
[code]

[2021-04-30 16:18] whedon commented on #3227
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03227/joss.03227/10.21105.joss.03227.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03227/joss.03227/10.21105.joss.03227.pdf) :page_facing_up: :point_left:

[2021-04-30 16:20] diehlpk commented on #3060
Hey @KristofferC how is your review going?

[2021-04-30 16:21] diehlpk commented on #3060
@whedon remind @rdeits in 2 weeks

[2021-04-30 16:21] whedon commented on #3060
Reminder set for @rdeits in 2 weeks

[2021-04-30 16:23] diehlpk commented on #2577
@mou3adb I will close the review next week, since I have not heard back from you since January.

[2021-04-30 16:44] whedon opened #3228 "[PRE REVIEW]: KVFinder-web: a web-based application for detecting and characterizing cavities in biomolecules"
**Submitting author:** @zgcarvalho (<a href="http://orcid.org/0000-0003-1041-0209">José Geraldo de Carvalho Pereira</a>)
**Repository:** <a href="https://github.com/LBC-LNBio/PyMOL-KVFinder-web-Tools" target ="_blank">https://github.com/LBC-LNBio/PyMOL-KVFinder-web-Tools</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced s

[2021-04-30 16:44] whedon commented on #3228
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-30 16:44] whedon commented on #3228
Failed to discover a `Statement of need` section in paper

[2021-04-30 16:44] whedon commented on #3228
[code]

[2021-04-30 16:45] whedon commented on #3228
[code]

[2021-04-30 16:45] whedon commented on #3228
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03228/joss.03228/10.21105.joss.03228.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03228/joss.03228/10.21105.joss.03228.pdf) :page_facing_up: :point_left:

[2021-04-30 16:45] whedon opened #3229 "[PRE REVIEW]: HARDy: Handling Arbitrary Recognition of Data in Python"
**Submitting author:** @MariaPoliti (<a href="http://orcid.org/0000-0002-5815-3371">Maria Politi</a>)
**Repository:** <a href="https://github.com/EISy-as-Py/hardy" target ="_blank">https://github.com/EISy-as-Py/hardy</a>
**Version:** v1.0
**Editor:** @gkthiruvathukal
**Reviewers:** @andrewtarzia, @alberto-battistel
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:

[2021-04-30 16:46] whedon commented on #3229
Failed to discover a `Statement of need` section in paper

[2021-04-30 16:46] whedon commented on #3229
[code]

[2021-04-30 16:46] whedon commented on #3229
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03229/joss.03229/10.21105.joss.03229.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03229/joss.03229/10.21105.joss.03229.pdf) :page_facing_up: :point_left:

[2021-04-30 16:46] whedon opened #3230 "[PRE REVIEW]: libfmp: A Python Package for Fundamentals of Music Processing"
**Submitting author:** @fzalkow (<a href="http://orcid.org/0000-0003-1383-4541">Frank Zalkow</a>)
**Repository:** <a href="https://github.com/meinardmueller/libfmp" target ="_blank">https://github.com/meinardmueller/libfmp</a>
**Version:** v1.1.2
**Editor:** @arfon
**Reviewers:** @brunaw, @expectopatronum
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-04-30 16:46] whedon commented on #3230
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-30 16:46] whedon commented on #3230
[code]

[2021-04-30 16:47] whedon commented on #3230
PDF failed to compile for issue #3230 with the following error:
[code]

[2021-04-30 16:47] whedon commented on #3229
[code]

[2021-04-30 16:47] Kevin-Mattheus-Moerman commented on #3230
@whedon generate pdf from branch paper

[2021-04-30 16:47] whedon commented on #3230
[code]

[2021-04-30 16:48] whedon opened #3231 "[PRE REVIEW]: funsies: A minimalist, distributed and dynamic workflow engine"
**Submitting author:** @clavigne (<a href="http://orcid.org/0000-0003-2778-1866">Cyrille Lavigne</a>)
**Repository:** <a href="https://github.com/aspuru-guzik-group/funsies" target ="_blank">https://github.com/aspuru-guzik-group/funsies</a>
**Version:** v0.7.0
**Editor:** @diehlpk
**Reviewers:** @camillescott, @gflofst
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warn

[2021-04-30 16:48] whedon commented on #3231
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-30 16:48] whedon commented on #3231
[code]

[2021-04-30 16:49] whedon commented on #3231
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03231/joss.03231/10.21105.joss.03231.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03231/joss.03231/10.21105.joss.03231.pdf) :page_facing_up: :point_left:

[2021-04-30 16:49] whedon opened #3232 "[PRE REVIEW]: CleanX: A Python library for data cleaning of large sets of X-rays"
**Submitting author:** @drcandacemakedamoore  (<a href="http://orcid.org/0000-0003-1672-7565">Candace Makeda Moore</a>)
**Repository:** <a href="https://github.com/drcandacemakedamoore/cleanX" target ="_blank">https://github.com/drcandacemakedamoore/cleanX</a>
**Version:** v0.0.7
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :wa

[2021-04-30 16:49] whedon commented on #3232
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-30 16:49] whedon commented on #3232
[code]

[2021-04-30 16:49] whedon commented on #3232
PDF failed to compile for issue #3232 with the following error:
[code]

[2021-04-30 16:49] whedon commented on #3231
[code]

[2021-04-30 16:50] whedon commented on #3232
[code]

[2021-04-30 16:51] Kevin-Mattheus-Moerman commented on #3218
@BreezeWhite if you are at the 1000 word limit that could be fine. As long as you are not repeating content from the documentation. Thanks.
FYI you can update the paper whenever you like here by calling: `@whedon generate pdf`

[2021-04-30 16:51] whedon opened #3233 "[PRE REVIEW]: RapidHRV: An Open-Source Toolbox for Extracting Heart Rate and Heart Rate Variability"
**Submitting author:** @peterakirk (<a href="http://orcid.org/0000-0003-0786-3039">Peter Kirk</a>)
**Repository:** <a href="https://github.com/peterakirk/rapidhrv" target ="_blank">https://github.com/peterakirk/rapidhrv</a>
**Version:** v0.1.5
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-04-30 16:51] whedon commented on #3233
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-30 16:51] whedon commented on #3233
[code]

[2021-04-30 16:52] whedon commented on #3233
[code]

[2021-04-30 16:52] whedon commented on #3233
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03233/joss.03233/10.21105.joss.03233.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03233/joss.03233/10.21105.joss.03233.pdf) :page_facing_up: :point_left:

[2021-04-30 16:56] gradvohl commented on #3032
Hello @arfon,
JOSS can count on me to review the paper.
Best.

[2021-04-30 17:35] arfon commented on #3032
Wonderful, thank you @gradvohl! I'll go ahead and add you to the review now.

[2021-04-30 17:35] arfon commented on #3032
@whedon add @gradvohl as reviewer

[2021-04-30 17:35] whedon commented on #3032
OK, @gradvohl is now a reviewer

[2021-04-30 17:36] arfon commented on #3032
@gradvohl - Please read the "Reviewer instructions &amp; questions" in the first comment above.

You have a checklist at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other journals. Our g

[2021-04-30 17:50] jvsguerra commented on #3228
@whedon generate pdf

[2021-04-30 17:51] whedon commented on #3228
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03228/joss.03228/10.21105.joss.03228.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03228/joss.03228/10.21105.joss.03228.pdf) :page_facing_up: :point_left:

[2021-04-30 18:09] frederickgosselin commented on #2577
Dear Patrick,
Yes you can close the review. Mouad's paper was published in the Journal of
Fluid Mechanics. The paper cite a zenodo DOI for the code
https://zenodo.org/record/4023287#.YIxHb7VKiUk
Hopefully, I get the manpower in the future to build on this code and
perhaps submit it again to JOSS in the future.
Thanks for your time,

Frédérick Gosselin
Professeur Agrégé, Département de Génie Mécani

[2021-04-30 18:10] zgcarvalho commented on #3228
@whedon commands

[2021-04-30 18:10] whedon commented on #3228
Here are some things you can ask me to do:

[code]

[2021-04-30 18:13] Kevin-Mattheus-Moerman commented on #3158
@leouieda - would you be able to handle this submission for us?

[2021-04-30 18:15] Kevin-Mattheus-Moerman commented on #3180
@whedon generate pdf

[2021-04-30 18:23] Kevin-Mattheus-Moerman commented on #3213
@whedon invite @sjpfenninger as editor

[2021-04-30 18:24] whedon commented on #3213
@sjpfenninger has been invited to edit this submission.

[2021-04-30 18:30] Kevin-Mattheus-Moerman commented on #3180
@openjournals/dev can you see why the paper wont compile here?

[2021-04-30 18:36] Kevin-Mattheus-Moerman commented on #3217
@vsoch @alecbcs thanks for those comments. Could you update the paper? Once you do you can call `@whedon generate pdf` here to update it.

[2021-04-30 18:47] Kevin-Mattheus-Moerman commented on #3223
@isidentical thanks for this submission. I have a couple of questions about this submission which I hope you can help with.
[JOSS requires](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) software to have an obvious research application. Currently, from reading the paper and the statement of need, I get the impression this work presents a very valuable and useful too

[2021-04-30 18:54] Kevin-Mattheus-Moerman commented on #3225
@AdritRao thanks for this submission.

Unfortunately this submission is not acceptable for JOSS. In particular it is not inline with our `substantial scholarly effort` requirements. [JOSS requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) state that `Submissions under 1000 LOC will usually be flagged, those under 300 LOC will be desk rejected.`

I will the

[2021-04-30 18:54] whedon commented on #3225
Paper rejected.

[2021-04-30 18:54] #3225 closed, assigned to nobody

[2021-04-30 19:59] galessiorob commented on #2805
@whedon generate pdf

[2021-04-30 20:01] whedon commented on #2805
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: :point_left:

[2021-04-30 20:03] vsoch commented on #3217
@whedon generate pdf

[2021-04-30 20:05] whedon commented on #3217
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03217/joss.03217/10.21105.joss.03217.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03217/joss.03217/10.21105.joss.03217.pdf) :page_facing_up: :point_left:

[2021-04-30 20:08] MariaPoliti commented on #3229
tacaswell
rmsare
yxoos

On Fri, Apr 30, 2021 at 9:46 AM whedon ***@***.***> wrote:

[2021-04-30 20:14] galessiorob commented on #2805
Thanks for your responses @fduchatea! I think we're good to publish as is and you can work on the remaining fixes since the core functionality is there and the readme is pretty thorough.

Could you proofread this [final version](https://github.com/openjournals/joss-papers/blob/joss.02805/joss.02805/10.21105.joss.02805.pdf), please? 🙏

Once you greenlight it we can accept it and publish it 🎉

[2021-04-30 20:24] MariaPoliti commented on #3229
@whedon generate pdf

On Fri, Apr 30, 2021 at 9:46 AM whedon ***@***.***> wrote:

[2021-04-30 20:24] MariaPoliti commented on #3229
@whedon commands

On Fri, Apr 30, 2021 at 9:46 AM whedon ***@***.***> wrote:

[2021-04-30 20:24] whedon commented on #3229
Here are some things you can ask me to do:

[code]

[2021-04-30 20:24] jkrumbiegel commented on #3226
The paper is in the `joss-paper` branch in `AbstractPlotting.jl` https://github.com/JuliaPlots/AbstractPlotting.jl/tree/joss-paper

I can also move it to `Makie.jl` if you prefer, but AbstractPlotting is actually the main repository for the Makie ecosystem, due to historical reasons. It could be that we move everything from `AbstractPlotting.jl` to `Makie.jl` in the future as part of a restructuri

[2021-04-30 20:25] whedon commented on #3229
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03229/joss.03229/10.21105.joss.03229.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03229/joss.03229/10.21105.joss.03229.pdf) :page_facing_up: :point_left:

[2021-04-30 20:25] vsoch commented on #3217
Okay I was able to get it down to around 1000 words, not including the code snippets (and I checked several papers on the current JoSS home and they are of similar length) so I think it's good for another look!

One thing I'm wondering about - I noticed that when I add multiple references, only the first renders, e.g.,:

[code]
And I think this used to work? Is there a different means to add multi

[2021-04-30 20:26] Kevin-Mattheus-Moerman commented on #3227
@whedon query scope

[2021-04-30 20:26] whedon commented on #3227
Submission flagged for editorial review.

[2021-04-30 20:27] Kevin-Mattheus-Moerman commented on #3227
@JustGlowing I've flagged this submission for editorial scope review. This is typical for submissions of this size. This scope review should take about a week.

[2021-04-30 20:28] Kevin-Mattheus-Moerman commented on #3228
@openjournals/dev can you advise on how to edit the title which contains `detectingand` but should read `detecting and`? Thanks

[2021-04-30 20:32] MariaPoliti commented on #3229
@whedon check references

On Fri, Apr 30, 2021 at 1:25 PM whedon ***@***.***> wrote:

[2021-04-30 20:32] whedon commented on #3229
[code]

[2021-04-30 20:53] Kevin-Mattheus-Moerman commented on #3228
@whedon invite @richardjgowers as editor

[2021-04-30 20:53] whedon commented on #3228
@richardjgowers has been invited to edit this submission.

[2021-04-30 21:02] Kevin-Mattheus-Moerman commented on #3229
@gkthiruvathukal @arokem @terrytangyuan this seems like your cup of tea to potentially handle as editor but I see you all have a lot on your plate at the moment. I'll add the `waitlisted` label for now until one of you becomes available.

[2021-04-30 21:05] Kevin-Mattheus-Moerman commented on #3229
@MariaPoliti as you can see I've added the `waitlisted` label as none of our editors, which appear most suitable for this submission, are currently available. Thanks for your patience.

[2021-04-30 21:15] Kevin-Mattheus-Moerman commented on #3230
@fzalkow unfortunately none of our editors in this domain are currently available to handle this submission. As such I've add the `waitlisted` label. Once an appropriate editor becomes available we will assign them and resume the review of this submission.

[2021-04-30 21:18] whedon opened #3234 "[PRE REVIEW]: RENT: A Python Package for Repeated Elastic Net Feature Selection"
**Submitting author:** @annajenul (<a href="http://orcid.org/0000-0002-6919-3483">Anna Jenul</a>)
**Repository:** <a href="https://github.com/NMBU-Data-Science/RENT" target ="_blank">https://github.com/NMBU-Data-Science/RENT</a>
**Version:** 0.0.1
**Editor:** @mikldk
**Reviewers:** @maximtrp, @arunmano121
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-04-30 21:19] whedon commented on #3234
[code]

[2021-04-30 21:19] whedon commented on #3234
[code]

[2021-04-30 21:25] Kevin-Mattheus-Moerman commented on #3231
@whedon invite  @diehlpk as editor

[2021-04-30 21:27] JustGlowing commented on #3227
Thanks @Kevin-Mattheus-Moerman !

[2021-04-30 21:29] Kevin-Mattheus-Moerman commented on #3232
@drcandacemakedamoore thanks for this submission. Can you check the above :point_up: error in relation to your paper compilation? It seems an affiliation field has been left empty.

[2021-04-30 21:36] Kevin-Mattheus-Moerman commented on #3232
@drcandacemakedamoore unfortunately none of our editors in the domains of image processing or machine learning are currently available to handle this work as editor. Hence I've labelled this issue as `waitlisted`, which means we will resume to handling/review of this work once one of our related editors becomes available. Thanks for your patience.

[2021-04-30 21:39] Kevin-Mattheus-Moerman commented on #3233
@whedon query scope

[2021-04-30 21:39] whedon commented on #3233
Submission flagged for editorial review.

[2021-04-30 21:41] Kevin-Mattheus-Moerman commented on #3233
@peterakirk I've flagged this submission for editorial scope review. This is [typical for submissions of this size](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This scope review should take about a week.

[2021-04-30 22:10] Kevin-Mattheus-Moerman commented on #3042
@fmatuschke I have proofread your paper and have some very minor comments which I hope you can address:

- [ ] Please check `It allows contrasting fibers and fiber tracts and ultimately reconstructing 3D nerve fiber orientations`, some words seem missing. Should this be something like `It provides image contrast for fibers and fiber tracts, and ultimately enables reconstruction of 3D nerve fiber o

[2021-04-30 22:10] Kevin-Mattheus-Moerman commented on #3042
@whedon set 1.1.0 as version

[2021-04-30 22:10] whedon commented on #3042
OK. 1.1.0 is the version.

[2021-04-30 22:13] Kevin-Mattheus-Moerman commented on #3226
@whedon generate pdf from branch joss-paper

[2021-04-30 22:13] whedon commented on #3226
[code]

[2021-04-30 22:13] whedon commented on #3226
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03226/joss.03226/10.21105.joss.03226.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03226/joss.03226/10.21105.joss.03226.pdf) :page_facing_up: :point_left:

[2021-04-30 22:18] diehlpk commented on #3231
@whedon assign @diehlpk as editor

[2021-04-30 22:19] whedon commented on #3231
OK, the editor is @diehlpk

[2021-04-30 22:19] diehlpk commented on #3231
@Kevin-Mattheus-Moerman Sure, I can take this paper.

[2021-04-30 23:11] mcsiple commented on #3094
Thank you all for your patience-- below are my review notes.

# WhaleMap review
This is a great tool and both the code and ui are simple and clean. An excellent use of `leaflet` for displaying several data layers. I can see how it is already a useful tool for survey teams, but could also be great for teaching about surveys for cetacean abundance.

## Substantial scholarly effort
I know that the ap

[2021-04-30 23:41] rafaelab commented on #3194
Hi @ChrisCFTung,

I have read the paper and I am now done testing the software.
It looks fine overall, easy to install and easy to use. The examples are very helpful.
I will divide my comments in two parts: first about the paper, second about the code.

--> PAPER

Overall I find the paper well-written and I have only minor comments.

- FIRESONG was motivated by IceCube, but it clearly has many app

[2021-05-01 01:54] giswqs commented on #3168
@whedon generate pdf

[2021-05-01 01:55] whedon commented on #3168
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03168/joss.03168/10.21105.joss.03168.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03168/joss.03168/10.21105.joss.03168.pdf) :page_facing_up: :point_left:

[2021-05-01 02:06] dlgeorge commented on #3114
dlgeorge review: geoclaw-landspill
=================

***Review by david george***

Thanks to the authors, I have enjoyed looking at the cases --- very interesting applications. (You could probably apply this to other applications too with some alternative friction models? (lava from a vent?))

## Minor overarching comments

* optional suggestion: "*full* shallow water equations?" Maybe omit "full

[2021-05-01 03:37] giswqs commented on #3168
@davemlz @kbarnhart I have provided my comments and suggestions at https://github.com/davemlz/eemont/issues/22 and [pull request](https://github.com/davemlz/eemont/pull/21/files#diff-e504eb580b095a7e65428b098183a581e475f0fb316db95287eacd7d4f344424).

[2021-05-01 03:59] gkthiruvathukal commented on #3229
@Kevin-Mattheus-Moerman I think I can take this one! It looks interesting!  I will go ahead and assign myself.

[2021-05-01 04:00] gkthiruvathukal commented on #3229
@whedon assign @gkthiruvathukal as editor

[2021-05-01 04:00] whedon commented on #3229
OK, the editor is @gkthiruvathukal

[2021-05-01 04:01] gkthiruvathukal commented on #3229
@MariaPoliti Can you please take a look at the list of people who can review for JOSS and suggest 2-4 of them?  This will greatly help me to get the review process started.

[2021-05-01 04:56] MariaPoliti commented on #3229
@gkthiruvathukal <https://github.com/gkthiruvathukal>,

Thank you so much for volunteering to be the editor for our submission.
Here is a list of reviewer who we think could be a good fit:

- yxoos,
- rmsare
- tacaswell

I am happy to provide other names if needed.
Best,
Maria & Moeez

On Fri, Apr 30, 2021 at 9:02 PM George K. Thiruvathukal <
***@***.***> wrote:

[2021-05-01 07:29] Kevin-Mattheus-Moerman commented on #2878
@sebkopf I've also proofread the paper and I think all looks good. I will now proceed to accept this submission in JOSS. Congratulations!

[2021-05-01 07:29] Kevin-Mattheus-Moerman commented on #2878
@whedon accept deposit=true

[2021-05-01 07:29] whedon commented on #2878
[code]

[2021-05-01 07:30] whedon commented on #2878
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1388395498554511360) 👈 🐦🐦🐦

[2021-05-01 07:30] whedon commented on #2878
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2269
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02878](https://doi.org/10.21105/joss.02878)
2. If everything look

[2021-05-01 07:31] Kevin-Mattheus-Moerman commented on #3045
@whedon accept from branch joss-paper

[2021-05-01 07:31] whedon commented on #3045
[code]

[2021-05-01 07:32] whedon commented on #3045
[code]

[2021-05-01 07:32] whedon commented on #3045
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2270

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2270, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-01 07:33] Kevin-Mattheus-Moerman commented on #2878
Once again congratulations @sebkopf on this accepted paper.

Thanks @mikldk for editing this work, and thanks @kdorheim, @r-barnes for your review efforts!!!!!!!!!

[2021-05-01 07:33] #2878 closed

[2021-05-01 07:33] whedon commented on #2878
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02878/status.svg)](https://doi.org/10.21105/joss.02878)

**We need your help!**

Journal of Open Source Softwa

[2021-05-01 07:36] Kevin-Mattheus-Moerman commented on #3232
@jgostick I see you just finished editing https://github.com/openjournals/joss-reviews/issues/3045, which sounds related (although it is imaging rather than spectroscopy) to this submission. Is this work also something you could help with too? Thanks

[2021-05-01 07:40] Kevin-Mattheus-Moerman commented on #3045
@whedon accept deposit=true from branch joss-paper

[2021-05-01 07:40] whedon commented on #3045
[code]

[2021-05-01 07:41] whedon commented on #3045
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1388398095285866498) 👈 🐦🐦🐦

[2021-05-01 07:41] whedon commented on #3045
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2271
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03045](https://doi.org/10.21105/joss.03045)
2. If everything look

[2021-05-01 08:36] Kevin-Mattheus-Moerman commented on #3166
@niceume I have proodread you paper and have some minor comments to address before we can move on. Often the word `a` or `the` seemed missing from a sentence. Please implement these changes or respond if you disagree. Thanks.

- [ ] Can you rephrase the sentence `I present yet another way to process data in a row by row manner using data manipulation oriented script, DataSailr script.`, first of a

[2021-05-01 09:10] xuanxu commented on #3165
@whedon assign @HeloiseS as reviewer

[2021-05-01 09:11] whedon commented on #3165
OK, @HeloiseS is now a reviewer

[2021-05-01 09:47] annajenul commented on #3234
From your list of potential reviewers, I suggest yxoos, arunmano121 and maximtrp as reviewers for our submission.

[2021-05-01 10:03] IndrajeetPatil commented on #3167
@whedon generate pdf

[2021-05-01 10:06] whedon commented on #3167
PDF failed to compile for issue #3167 with the following error:
[code]

[2021-05-01 11:18] IndrajeetPatil commented on #3167
@whedon generate pdf

[2021-05-01 11:20] whedon commented on #3167
PDF failed to compile for issue #3167 with the following error:
[code]

[2021-05-01 11:54] csoneson commented on #2440
@neuromusic - any news?

[2021-05-01 12:01] IndrajeetPatil commented on #3167
@whedon generate pdf

[2021-05-01 12:03] whedon commented on #3167
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03167/joss.03167/10.21105.joss.03167.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03167/joss.03167/10.21105.joss.03167.pdf) :page_facing_up: :point_left:

[2021-05-01 12:05] Kevin-Mattheus-Moerman commented on #3226
@whedon assign @fverdugo as reviewer

[2021-05-01 12:05] whedon commented on #3226
OK, @fverdugo is now a reviewer

[2021-05-01 12:07] Kevin-Mattheus-Moerman commented on #3226
@whedon add @gaelforget as reviewer

[2021-05-01 12:07] whedon commented on #3226
OK, @gaelforget is now a reviewer

[2021-05-01 12:22] isidentical commented on #3223
Hey @Kevin-Mattheus-Moerman! Thanks for the response and the question. In this research, we share the findings and a practical implementation of a source code search engine that actually process the information regarding syntactical structs in a scalable way. I believe that the major scientific value comes from the new DSL that we introduce, and the query compiler for it.

I've updated the second

[2021-05-01 12:22] isidentical commented on #3223
@whedon generate pdf

[2021-05-01 12:22] whedon commented on #3223
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03223/joss.03223/10.21105.joss.03223.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03223/joss.03223/10.21105.joss.03223.pdf) :page_facing_up: :point_left:

[2021-05-01 12:24] Kevin-Mattheus-Moerman commented on #3226
@cormullion would you be interested in helping with this review?

[2021-05-01 12:31] isidentical commented on #3223
@whedon generate pdf

[2021-05-01 12:32] whedon commented on #3223
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03223/joss.03223/10.21105.joss.03223.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03223/joss.03223/10.21105.joss.03223.pdf) :page_facing_up: :point_left:

[2021-05-01 13:02] fduchatea commented on #2805
@galessiorob : the final version of the paper is fine.
@jdalzatec : we have added fieldsets to disable fields when predicting (on both interfaces, point 3 and 6). We have also used SonarLint to improve code quality.

Thank you all for your fruitful feedback!

[2021-05-01 13:06] cormullion commented on #3226
Nice paper. I can see little that could be improved or needs comment - I would however rephrase the sentence at lines 21-24, which looks like it's missing something:

I won't be able to say anything about the software.

[2021-05-01 14:47] jgostick commented on #3232
Ok...but first I think we need to do a "scope query".

[2021-05-01 15:58] gradvohl commented on #3032
# Reviewer report for JOSS paper #3032
**Paper title**: Magicwand: A platform to provide high-quality, reliable, and reproducible data sets for low-and-slow DDoS attacks.

## Review criteria
* A list of the authors of the software: :heavy_check_mark:
* Author affiliations: :wave: (sort of -- Please see the following **Author affiliations section** in the **Reviewer Comments** section)
* A summary

[2021-05-01 17:01] Kevin-Mattheus-Moerman commented on #3232
@whedon query scope

[2021-05-01 17:01] whedon commented on #3232
Submission flagged for editorial review.

[2021-05-01 17:03] Kevin-Mattheus-Moerman commented on #3226
@whedon add @logankilpatrick

as reviewer

[2021-05-01 17:03] whedon commented on #3226
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-05-01 17:04] Kevin-Mattheus-Moerman commented on #3226
@whedon add @logankilpatrick as reviewer

[2021-05-01 17:04] whedon commented on #3226
OK, @logankilpatrick is now a reviewer

[2021-05-01 21:25] goldmanm commented on #3224
@DrDaveShaw. I really enjoyed testing this new package for indoor air chemistry that you wrote. I appreciate you taking the time to share it with the wider community.

A few initial questions/comments:

readme

1. Typically people often want improvements to the code to be submitted as a pull request. In the readme file, you mention having people email updates, which might not be the most efficient

[2021-05-02 00:57] niceume commented on #3166
@whedon generate pdf from branch joss_submission

[2021-05-02 00:57] whedon commented on #3166
[code]

[2021-05-02 00:58] whedon commented on #3166
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: :point_left:

[2021-05-02 01:05] niceume commented on #3166
@Kevin-Mattheus-Moerman - Thank you very much for your reading and comments. I have fixed the parts you mention. I also understand that this is an academic/professional work, and the personal acknowledgement part is now removed from the paper.

@fboehm - If this looks ok, I will make a new release, archive it to Zonodo and obtain a new DOI.

[2021-05-02 07:50] Kevin-Mattheus-Moerman commented on #3166
@niceume thanks for implementing those changes. I checked them and I think the paper looks good now. Since these are only editorial changes, from our perspective you do not need to create an updated release and archived version. Therefore if you wish I can process acceptance now.

If you do want the paper in the archived version to be up to date then feel free to do as you proposed. Let us know if

[2021-05-02 08:22] niceume commented on #3166
@Kevin-Mattheus-Moerman - Thank you very much for having things proceed.

The release tag and DOI are updated as follows.
The release tag is joss0.8.8-3
The Zonodo DOI is 10.5281/zenodo.4732788

[2021-05-02 08:33] Kevin-Mattheus-Moerman commented on #3166
@whedon set version as joss0.8.8-3

[2021-05-02 08:33] whedon commented on #3166
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-05-02 08:34] Kevin-Mattheus-Moerman commented on #3166
@whedon set 10.5281/zenodo as archive

[2021-05-02 08:34] whedon commented on #3166
OK. <a href="https://doi.org/10.5281/zenodo" target="_blank">10.5281/zenodo</a> is the archive.

[2021-05-02 08:35] Kevin-Mattheus-Moerman commented on #3166
@whedon set joss0.8.8-3 as version

[2021-05-02 08:35] whedon commented on #3166
OK. joss0.8.8-3 is the version.

[2021-05-02 08:36] Kevin-Mattheus-Moerman commented on #3166
@whedon set 10.5281/zenodo.4732788 as archive

[2021-05-02 08:36] whedon commented on #3166
OK. <a href="https://doi.org/10.5281/zenodo.4732788" target="_blank">10.5281/zenodo.4732788</a> is the archive.

[2021-05-02 08:36] Kevin-Mattheus-Moerman commented on #3166
@whedon accept

[2021-05-02 08:36] whedon commented on #3166
[code]

[2021-05-02 08:36] whedon commented on #3166
PDF failed to compile for issue #3166 with the following error:
[code]

[2021-05-02 08:38] Kevin-Mattheus-Moerman commented on #3166
@whedon accept from branch joss_submission

[2021-05-02 08:38] whedon commented on #3166
[code]

[2021-05-02 08:38] whedon commented on #3166
[code]

[2021-05-02 08:38] whedon commented on #3166
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2272

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2272, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-02 08:49] Kevin-Mattheus-Moerman commented on #3166
@whedon accept deposit=true from branch joss_submission

[2021-05-02 08:49] whedon commented on #3166
[code]

[2021-05-02 08:50] whedon commented on #3166
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1388777955514621955) 👈 🐦🐦🐦

[2021-05-02 08:50] whedon commented on #3166
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2273
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03166](https://doi.org/10.21105/joss.03166)
2. If everything look

[2021-05-02 08:55] Kevin-Mattheus-Moerman commented on #3166
Congratulations @niceume your paper has now been published in JOSS!

Thank you @fboehm for editing this work, and thank you very much @DrMattG and @crvernon for your review efforts!

[2021-05-02 08:55] #3166 closed

[2021-05-02 08:55] whedon commented on #3166
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03166/status.svg)](https://doi.org/10.21105/joss.03166)

**We need your help!**

Journal of Open Source Softwa

[2021-05-02 11:25] niceume commented on #3166
@fboehm @DrMattG  @crvernon @Kevin-Mattheus-Moerman
I really appreciate your helps. I am really excited! Thank you very much!!

[2021-05-02 12:46] DrMarc commented on #3196
Hi @arfon ,
Many thanks, glad to hear it. Below are the reviewers from the list that have listed relevant expertise in audio signal processing and/or psychophysics related to sound or speech stimuli:
peircej, jonathan.peirce@nottingham.ac.uk
trettenbrein, trettenbrein@cbs.mpg.de
JonathanReardon, jonathanjreardon@gmail.com
sneakers-the-rat, jlsaunders987@gmail.com
faroit, mail@faroit.com
hadware, h

[2021-05-02 13:08] danielskatz commented on #3208
@melissawm - Can you explain specifically why you flagged this, and what other editors should look for? It seems like enough code/contribution, and it seems like research software, so I'm unsure what the potential issue is. It would be better if the authors provided some examples of research problems where this could be used, but I'm fairly confident this shouldn't be difficult for them to do.

[2021-05-02 13:10] whedon commented on #3190
:wave: @yangbai90, please update us on how your review is going (this is an automated reminder).

[2021-05-02 13:10] whedon commented on #3190
:wave: @ksyang2013, please update us on how your review is going (this is an automated reminder).

[2021-05-02 13:10] whedon commented on #3190
:wave: @littlelazy6, please update us on how your review is going (this is an automated reminder).

[2021-05-02 20:04] vprusso commented on #3082
@poulson. Fixed in https://github.com/vprusso/toqito/commit/537ee6051aa5355bbb09e6e12115f1f1d6b43ebc. Thank you very much for the catch!

[2021-05-02 22:05] hansenjohnson commented on #3094
Hi @mcsiple! Thank you very much for your clear and constructive comments. Please see my responses below:

We have considered adding contact information for each survey group, but have found that doing so ends up being less efficient for a variety of reasons. For example, it makes it more difficult for a WhaleMap user to compile a comprehensive data request, and adds to the workload of each survey

[2021-05-03 00:50] D-K-E commented on #3115
I have updated documentation with usage examples. Now all the probablistic graphical models that can be inferred have a usage example. All of them have a unittest as well.

I'll try to improve the documentation on the intermediary objects.

[2021-05-03 00:53] znicholls commented on #2766
Alright I'm all done replying to the second review (https://github.com/openjournals/joss-reviews/issues/2766#issuecomment-792447820), see checklist here https://github.com/openjournals/joss-reviews/issues/2766#issuecomment-826437944 :)

[2021-05-03 06:11] whedon commented on #3191
:wave: @benmarwick, please update us on how your review is going (this is an automated reminder).

[2021-05-03 06:11] whedon commented on #3191
:wave: @fbiljecki, please update us on how your review is going (this is an automated reminder).

[2021-05-03 07:37] mikldk commented on #3111
@mariacuellar @russellpierce @tomfaulkenberry @cimentadaj @humanfactors Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me kno

[2021-05-03 07:37] mikldk commented on #3054
@ziotom78, @soodoku: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-05-03 07:55] fmatuschke commented on #3042
Dear @Kevin-Mattheus-Moerman,
I change all three of your comments. Thanks for your help.
Regarding the version number. Yes, it is now officially 1.1. Thanks to the reviewers I changed quite a bit, so I had to increase the minor version.
I have also corrected the title in the Zenodo archive.

[2021-05-03 07:55] fmatuschke commented on #3042
@whedon generate pdf

[2021-05-03 07:57] whedon commented on #3042
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03042/joss.03042/10.21105.joss.03042.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03042/joss.03042/10.21105.joss.03042.pdf) :page_facing_up: :point_left:

[2021-05-03 07:59] humanfactors commented on #3111
Happy to accept this review. Thanks for the information.

[2021-05-03 08:03] Kevin-Mattheus-Moerman commented on #3042
@whedon set version as 1.1

[2021-05-03 08:03] whedon commented on #3042
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-05-03 08:04] Kevin-Mattheus-Moerman commented on #3042
@whedon set version as 1.1.0

[2021-05-03 08:04] whedon commented on #3042
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-05-03 08:07] Kevin-Mattheus-Moerman commented on #3042
@whedon accept

[2021-05-03 08:07] whedon commented on #3042
[code]

[2021-05-03 08:08] whedon commented on #3042
[code]

[2021-05-03 08:09] whedon commented on #3042
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2274

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2274, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-03 08:11] mikldk commented on #3111
@whedon add @humanfactors as reviewer

[2021-05-03 08:11] whedon commented on #3111
OK, @humanfactors is now a reviewer

[2021-05-03 08:12] mikldk commented on #3111
Thanks, @humanfactors . (We still need one more.)

[2021-05-03 08:29] humanfactors commented on #3111
@mikldk I would like to flag a potential perceived conflict of interest (i.e., to "avoid the appearance of conflicts of interest" as per JOSS policy). Both @IndrajeetPatil and I are members of the [easystats](https://easystats.github.io/blog/portfolio/) contributor list and we both were CRAN co-authors on the `bayestestR` package (https://cran.r-project.org/web/packages/bayestestR/index.html).

If

[2021-05-03 08:44] Kevin-Mattheus-Moerman commented on #3042
@whedon accept deposit=true

[2021-05-03 08:44] whedon commented on #3042
[code]

[2021-05-03 08:45] whedon opened #3235 "[PRE REVIEW]: cvCovEst: Cross-validated covariance matrix estimator selection and evaluation in R"
**Submitting author:** @PhilBoileau (<a href="http://orcid.org/0000-0002-4850-2507">Philippe Boileau</a>)
**Repository:** <a href="https://github.com/PhilBoileau/cvCovEst" target ="_blank">https://github.com/PhilBoileau/cvCovEst</a>
**Version:** 3.5.0
**Editor:** @fboehm
**Reviewers:** @Marie-PerrotDockes, @yunanwu123
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warni

[2021-05-03 08:45] whedon commented on #3235
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-03 08:45] whedon commented on #3235
[code]

[2021-05-03 08:45] mikldk commented on #3111
@humanfactors Thanks for flagging this. I agree that this is not a COI based on the description above.

[2021-05-03 08:46] whedon commented on #3235
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03235/joss.03235/10.21105.joss.03235.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03235/joss.03235/10.21105.joss.03235.pdf) :page_facing_up: :point_left:

[2021-05-03 08:46] whedon commented on #3042
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1389139217662500865) 👈 🐦🐦🐦

[2021-05-03 08:46] whedon commented on #3042
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2275
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03042](https://doi.org/10.21105/joss.03042)
2. If everything look

[2021-05-03 08:48] whedon commented on #3235
[code]

[2021-05-03 09:22] Kevin-Mattheus-Moerman commented on #3042
Congratulations @fmatuschke this work is now published in JOSS.
Thank you @oliviaguest for editing this submission!

Thanks also to @vigji, @glyg, @RealPolitiX for your help reviewing this work!!!

[2021-05-03 09:26] #3042 closed

[2021-05-03 09:26] whedon commented on #3042
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03042/status.svg)](https://doi.org/10.21105/joss.03042)

**We need your help!**

Journal of Open Source Softwa

[2021-05-03 09:31] Kevin-Mattheus-Moerman commented on #3235
@whedon invite @fboehm as editor

[2021-05-03 09:31] whedon commented on #3235
@fboehm has been invited to edit this submission.

[2021-05-03 09:32] Kevin-Mattheus-Moerman commented on #3235
@PhilBoileau thanks for this submission. Can you work on checking/fixing those missing/invalid DOI's? :point_up:
If you make changes to the paper you can update it here by calling:
`@whedon generate pdf`

[2021-05-03 09:36] uellue commented on #3051
@conradsnicta thank you for the clarifying comments. That confirms my concerns with `pyarma` that I voiced in the review.

@mjsottile the authors confrm that there are only "perceived performance reasons" for the chosen approach. After a quick test, the example based on NumPy is actually faster for larger matrices, and plain NumPy is fastest for both large and small:

![image](https://user-images.

[2021-05-03 09:39] jni commented on #3202
@a-paxton @abigailmcgovern a kind reminder not to forget this review. 😊 I'll keep pinging weekly if I don't see any updates. Even a short status update ("I'm too busy this week, will schedule some time for next week") is very valuable so everyone knows this hasn't fallen through the cracks.

Thank you!

[2021-05-03 09:42] jni commented on #3098
@tmaric would you have some time in the coming days to dedicate to this review? Otherwise if you have some sense of when you will have time, that would be useful to hear too. 😊 Thank you! 🙏

[2021-05-03 09:42] tobiasschoch commented on #3209
@fboehm - Potential reviewers are (in addition to msalibian, Matias Salibian Barrera, from the JOSS list) aalfons (Andreas Alfons) and matthias-da (Matthias Templ).

[2021-05-03 09:42] tomfaulkenberry commented on #3111
@mikldk I'll be happy to review this.  Thanks!

[2021-05-03 09:49] mikldk commented on #3111
@whedon add @tomfaulkenberry as reviewer

[2021-05-03 09:49] whedon commented on #3111
OK, @tomfaulkenberry is now a reviewer

[2021-05-03 09:51] mikldk commented on #3111
@whedon start review

[2021-05-03 09:51] whedon opened #3236 "[REVIEW]: statsExpressions: R Package for Tidy Dataframes and Expressions with Statistical Details"
**Submitting author:** @IndrajeetPatil (<a href="http://orcid.org/0000-0003-1995-6531">Indrajeet Patil</a>)
**Repository:** <a href="https://github.com/IndrajeetPatil/statsExpressions" target ="_blank">https://github.com/IndrajeetPatil/statsExpressions</a>
**Version:** v1.0.1
**Editor:** @mikldk
**Reviewer:** @humanfactors, @tomfaulkenberry
**Archive:** <a href="https://doi.org/10.5281/zenodo.4773

[2021-05-03 09:51] whedon commented on #3111
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3236.

[2021-05-03 09:51] #3111 closed

[2021-05-03 09:51] whedon commented on #3236
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @humanfactors, @tomfaulkenberry it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2021-05-03 09:52] whedon commented on #3236
Failed to discover a `Statement of need` section in paper

[2021-05-03 09:52] whedon commented on #3236
[code]

[2021-05-03 09:52] whedon commented on #3236
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: :point_left:

[2021-05-03 09:53] mikldk commented on #3236
@humanfactors, @tomfaulkenberry: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in

[2021-05-03 09:54] whedon commented on #3236
[code]

[2021-05-03 10:00] uellue commented on #3051
Since there has been so much discussion, I'd like to point out the most important concern in my first review comment that the authors didn't address at all so far: `pyarma` is, in fact, much closer to NumPy than to Matlab given their comparison table https://pyarma.sourceforge.io/docs.html#syntax. That puts any claims of an easier transition for Matlab users compared to NumPy in question and would

[2021-05-03 10:15] IndrajeetPatil commented on #3236
@mikldk Thanks, I have renamed the relevant section.

I have also added a sentence about how the software differs from `broom`, like you had asked:

https://github.com/IndrajeetPatil/statsExpressions/blob/7690a2587a2d856cf970002808da2a0bf13d8982/paper/paper.Rmd#L117-L120

[2021-05-03 10:15] IndrajeetPatil commented on #3236
@whedon generate pdf

[2021-05-03 10:16] whedon commented on #3236
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: :point_left:

[2021-05-03 10:28] IndrajeetPatil commented on #3236
@whedon generate pdf

[2021-05-03 10:29] whedon commented on #3236
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: :point_left:

[2021-05-03 10:41] Kevin-Mattheus-Moerman commented on #3055
@tomgrylls can you respond to p-costa's comments t :point_up:

[2021-05-03 10:43] Kevin-Mattheus-Moerman commented on #3055
@ashwinvis the author(s) have responded to some of your comments :point_up:. Are you able to review their changes/comments? Are you able to tick those last boxes or could you please summarize what is preventing you from doing so? Thanks again for your continued help!!!!

[2021-05-03 10:44] Kevin-Mattheus-Moerman commented on #3020
Thanks for the update @vijaysm. @chennachaos could you also provide an update on where things stand? Thanks again for your help!!

[2021-05-03 10:59] hansenjohnson commented on #3094
@whedon generate pdf

[2021-05-03 11:00] whedon commented on #3094
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03094/joss.03094/10.21105.joss.03094.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03094/joss.03094/10.21105.joss.03094.pdf) :page_facing_up: :point_left:

[2021-05-03 11:13] hansenjohnson commented on #3094
@whedon generate pdf

[2021-05-03 11:14] whedon commented on #3094
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03094/joss.03094/10.21105.joss.03094.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03094/joss.03094/10.21105.joss.03094.pdf) :page_facing_up: :point_left:

[2021-05-03 11:43] MilesMcBain commented on #2927
Hi @afron, all boxes now checked from my perspective. :+1:

[2021-05-03 11:49] ashwinvis commented on #3055
I am happy with the reply and the changes. I have some minor comments regarding the references and it may be taken up in the proofreading round.

Please add a DOI / URL to keep the references consistent.

Is it possible to have URL pointing to yours and Sützl's thesis so that it would be findable later on?

OK, I understand. I do not see the *(in preparation)* appearing in the reference list.

[2021-05-03 11:57] jkrumbiegel commented on #3226
@Kevin-Mattheus-Moerman I'm not sure if it makes a difference, but @logankilpatrick has contributed to Makie before. It's only a couple of commits I think, but maybe that is still a conflict.

[2021-05-03 12:11] whedon commented on #3192
:wave: @yxoos , please update us on how your review is going (this is an automated reminder).

[2021-05-03 12:40] richardjgowers commented on #3228
@Kevin-Mattheus-Moerman this is a plugin for PyMOL.  PyMOL isn't free software (but is widely used freely under academic licenses), so I'm not going to be able to review this.  I'm not sure what the JOSS policy on free plugins for non-free software is.

[2021-05-03 12:53] fboehm commented on #3209
:wave: @msalibian & @aalfons & @matthias-da, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-05-03 12:54] IndrajeetPatil commented on #3236
@mikldk I am guessing this issue has been unintentionally tagged as `waitlisted`?

<img width="307" alt="Screenshot 2021-05-03 at 14 54 18" src="https://user-images.githubusercontent.com/11330453/116878309-74e41380-ac1f-11eb-905c-e1d318595411.png">

[2021-05-03 12:55] fboehm commented on #3235
@whedon assign @fboehm as editor

[2021-05-03 12:55] whedon commented on #3235
OK, the editor is @fboehm

[2021-05-03 13:16] fbiljecki commented on #3191
Kudos to the authors for developing this software and releasing it openly. Some comments:

- There is no LICENSE file, and the license is not explicit in the readme/documentation
- I cannot replicate the example in the paper before Fig 2 including the function `plot_dec_grph()` (I get `object 'imgs' not found`)
- Please add a paragraph about related efforts/work

[2021-05-03 13:32] fboehm commented on #3235
@PhilBoileau - Do you have any suggestions for reviewers? These can be people who have reviewed for JOSS in the past or any scholars in your area. If you would leave their names and github usernames in the comment thread, I'll then reach out to them.

[2021-05-03 15:30] yxoos commented on #3192
@whedon accept deposit=true

[2021-05-03 15:30] whedon commented on #3192
I'm sorry @yxoos, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-05-03 15:31] yxoos commented on #3192
@whedon accept

[2021-05-03 15:31] whedon commented on #3192
I'm sorry @yxoos, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-05-03 15:31] yxoos commented on #3192
Can someone remind me what I need to do at this stage?

[2021-05-03 15:34] peterakirk commented on #3233
Hi @Kevin-Mattheus-Moerman,

Thank you for processing the submission. We can suggest four potential reviewers:

Mohamed Elgendi (moe.elgendi@gmail.com): Expert in computer engineering, signal processing, cardiac arrhythmias, and developer of PPGSynth, the MATLAB toolbox used for the simulation of photoplethysmography cardiac data in our validation tests.

Daniel Quintana (daniel.quintana@psykologi

[2021-05-03 15:37] bauer-alex commented on #2964
@mbobra Great! The Zenodo entry for the newest release can be found [here](https://zenodo.org/record/4734283).

[2021-05-03 15:50] sdmccabe commented on #2990
Just wanted to check in on this review @adi3.

[2021-05-03 16:12] lockepatton commented on #2446
Hi @arfon  - following up on this request again. The two questions outstanding are on the use of sonipy and the use of thinkdsp.py. Let me know if there are other open tasks, but for now I'm awaiting your reply on the best way to move forward.

[2021-05-03 16:16] dfm commented on #3068
@whedon add @teuben as reviewer

Thanks Peter for agreeing to step in as the second reviewer. I will update the checklist at the top for you momentarily. Please don't hesitate to ask if you have questions as the review progresses. Thanks again!

[2021-05-03 16:16] whedon commented on #3068
OK, @teuben is now a reviewer

[2021-05-03 16:39] zgcarvalho commented on #3228
Dear @richardjgowers and @Kevin-Mattheus-Moerman,

PyMOL is a molecular visualization software originally created by Warren Lyford DeLano as an open source software. According to the original author, by 2009, almost a quarter of all published images of 3D protein structures in the scientific literature were made using PyMOL. However, when Dr. DeLano prematurely passed away ([https://www.nature.com

[2021-05-03 16:44] ctodd26labs commented on #3032
Hello @gradvohl,

Thank you for going through everything and reviewing the paper/repo. Your comments/information is incredibly helpful.

With that said, I have created https://github.com/twosixlabs/magicwand-datatool/pull/15, which addresses the comments you have made with 2 exceptions:

1. My team is talking internally about posting data to Zenodo (and anywhere else). We wanted to get the paper/r

[2021-05-03 17:21] kyleniemeyer commented on #3192
Hi @yxoos, it looks like you have checked off your reviewer checklist and provided comments - so you are done!

I see in your uploaded document of comments that you did leave a comment on the paper's statement of need, which I am copying here for @csinva and @vissarion's sake:

[2021-05-03 17:27] csinva commented on #3192
I believe we did update the statement of need (in [this reply](https://github.com/openjournals/joss-reviews/issues/3192#issuecomment-825362740) and the associated commit) and @yxoos found it satisfactory (based on [this reply](https://github.com/openjournals/joss-reviews/issues/3192#issuecomment-826869370)).

[2021-05-03 18:00] whedon commented on #3060
:wave: @KristofferC, please update us on how your review is going (this is an automated reminder).

[2021-05-03 18:00] whedon commented on #3060
:wave: @rdeits, please update us on how your review is going (this is an automated reminder).

[2021-05-03 18:32] msalibian commented on #3209
Yes. This will be my first review for JOSS, so might have some questions along the way.

[2021-05-03 18:52] AlexChristensen commented on #3210
@LangeJens and @karthik,

I've gone through the review checklist and see that everything is OK.

I ran through the example in the manuscript with some of my own data and made a few updates to the packages code. Here are the changes that I made in my fork: https://github.com/AlexChristensen/CliquePercolation

## Alex changes for JOSS review

o For `cpAlgorithm`, `cpPermuteEntropy`, and `cpThreshold

[2021-05-03 19:09] fboehm commented on #3209
Fabulous! Thank you, @msalibian ! I'll now add you as a reviewer. Once we find a second reviewer, hopefully soon, we'll start the official review. There is nothing for you to do at this moment. And yes, please ask questions as we proceed.

[2021-05-03 19:09] fboehm commented on #3209
@whedon assign @msalibian as reviewer

[2021-05-03 19:09] whedon commented on #3209
OK, @msalibian is now a reviewer

[2021-05-03 19:35] vissarion commented on #3192
I also run a whedon accept. It seems everything is OK here.

On Mon, May 3, 2021, 20:27 Chandan Singh ***@***.***> wrote:

[2021-05-03 19:36] JostMigenda commented on #3194
I have now finished testing the software and have opened issues on the FIRESONG repository where appropriate. These are mostly minor points that shouldn’t take long to resolve, so I hope that we will reach acceptance of this paper before too long.

Apart from the noted issues, the code works well and seems both versatile and useful. The notebooks give good examples for how to use the code and plot

[2021-05-03 19:40] gradvohl commented on #3032
@whedon generate pdf

[2021-05-03 19:40] msalibian commented on #3209
@fboehm is there a way to change my settings so I only get emails from this issue? I seem to be currently receiving email notifications from many other joss-reviews/issues that are not relevant to me.

[2021-05-03 19:40] whedon commented on #3032
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03032/joss.03032/10.21105.joss.03032.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03032/joss.03032/10.21105.joss.03032.pdf) :page_facing_up: :point_left:

[2021-05-03 19:56] poulson commented on #3082
@whedon generate pdf

[2021-05-03 19:57] whedon commented on #3082
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03082/joss.03082/10.21105.joss.03082.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03082/joss.03082/10.21105.joss.03082.pdf) :page_facing_up: :point_left:

[2021-05-03 19:59] gradvohl commented on #3032
Hello @ctodd26labs,
Concerning your pull request, I think it is almost done. There are two things I would like to clarify.
1. Regarding the **Note** about running as ``sudo`` (``README.md``, line 44), is it really necessary to have ``bash`` twice? Wouldn't `sudo scripts/pull_images.sh` enough?
2. Looking at the ``paper.bib``, in ``sharafaldin:2018`` reference, instead of the ``URL`` field, it's be

[2021-05-03 20:05] poulson commented on #3082
Hi @vprusso -- it is looking good but I would consider shortening "applications pertaining to physics" to "physics applications" and potentially replace the comma after "namely" with a colon given the list that follows, and potentially also add a colon after "pertaining to".

With that said, these are minor.

Would you mind registering for a DOI on zenodo (if this version of the software does not

[2021-05-03 20:28] neuromusic commented on #2440
ok, finally cut the release & updated zenodo info.

there was no additional development besides fixing some dependencies for the release.

DOI here: 10.5281/zenodo.4734993

[2021-05-03 20:34] neuromusic commented on #2440
& zenodo link here: https://zenodo.org/record/4734993

[2021-05-03 21:22] galessiorob commented on #2805
@fduchatea last thing we need from you is to deposit your software in Zenodo and post the DOI here. After that, we can set the final version, generate a final proof, and have an Editor in Chief do the publishing. 🚀

[2021-05-04 00:20] fboehm commented on #3209
@msalibian - I'm not sure why that is. Here is a link that explains some ways that this problem could arise: https://github.com/openjournals/joss/issues/200

Maybe start by trying the suggested solutions there. If they don't work, please let me know. I can reach out to other JOSS editors if the problem persists.

[2021-05-04 00:22] itaboada commented on #3194
Interesting! The governance document (including the code of conduct (appendix F) are visible publicly! It's not like that we (IceCube) were hiding the document ...
I will need to consult with others if the code of conduct, which was developed for IceCube internal affairs, can or should be applied to non-IceCube people.

[2021-05-04 00:54] kbarnhart commented on #3114
@bzindovic @jmansour @dlgeorge thank you for completing your reviews.

@piyueh I see you have created some in-repo issues to track changes associated with this review. thanks!

Once you think you have completed revisions in response to reviewer comments, please ping me and the reviewers here so we can assess the next steps. If I can provide any guidance (here or on an in-repo issue), let me know b

[2021-05-04 00:56] kbarnhart commented on #3168
@giswqs thank you for providing your review!

@patrickcgray, we are only three weeks into the stated 6-week review period, so no worries if you have not yet been able to start your review. If you have any questions for me when you are able to get to it, please let me know.

[2021-05-04 01:02] JostMigenda commented on #3194
Yes—it's linked from IceCube's public web page at https://icecube.wisc.edu/collaboration/institutions/

I noticed that the "Scope" section of the CoC already mentioned the case of "an event participant that is not an IceCube collaborator"; that's why it seemed plausible to me that it could apply here.
I understand that this is not what the CoC was originally designed for; on the other hand, having

[2021-05-04 01:48] marouenbg commented on #3215
Hi @kellyrowland, I should be able to do the review in 2 weeks, I have a grant deadline right now. Would that be ok with you?

[2021-05-04 02:11] shahmoradi commented on #2741
@whedon generate pdf

[2021-05-04 02:12] shahmoradi commented on #2741
Thank you for your patience and I apologize again for the delay. All DOIs should be now fixed. If there is anything else I have missed, please let me know.
Best regards,

[2021-05-04 02:12] whedon commented on #2741
PDF failed to compile for issue #2741 with the following error:
[code]

[2021-05-04 02:15] shahmoradi commented on #2741
@whedon generate pdf

[2021-05-04 02:20] whedon commented on #2741
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: :point_left:

[2021-05-04 04:11] yc015 commented on #3156
@whedon generate pdf

[2021-05-04 04:12] whedon commented on #3156
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: :point_left:

[2021-05-04 04:24] donaldRwilliams commented on #3148
@arfon

I wanted to follow up on this. As I mentioned, I can happily with draw the submission and resubmit at another time.

That said, I do want to bring to your attention (because I really like the mission of this journal) that I am reviewing a software paper for JOSS that is fewer lines of code (https://github.com/openjournals/joss-reviews/issues/2944). And, importantly, it is not only fewer li

[2021-05-04 06:18] humanfactors commented on #3236
I noticed that `v 1.0.1` has been released since the package was submitted, should this be target for code review, and/or should the whedon version be updated?

[2021-05-04 06:34] csoneson commented on #2440
@whedon generate pdf

[2021-05-04 06:35] whedon commented on #2440
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02440/joss.02440/10.21105.joss.02440.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02440/joss.02440/10.21105.joss.02440.pdf) :page_facing_up: :point_left:

[2021-05-04 06:36] csoneson commented on #2440
@whedon check references

[2021-05-04 06:37] whedon commented on #2440
[code]

[2021-05-04 06:42] csoneson commented on #2440
@whedon set 10.5281/zenodo.4734993 as archive

[2021-05-04 06:42] whedon commented on #2440
OK. <a href="https://doi.org/10.5281/zenodo.4734993" target="_blank">10.5281/zenodo.4734993</a> is the archive.

[2021-05-04 06:43] csoneson commented on #2440
@whedon set 0.2.2 as version

[2021-05-04 06:43] whedon commented on #2440
OK. 0.2.2 is the version.

[2021-05-04 06:46] csoneson commented on #2440
@whedon accept

[2021-05-04 06:46] whedon commented on #2440
[code]

[2021-05-04 06:47] csoneson commented on #2440
Thanks @neuromusic! I'm handing this over now to the AEiC on rotation for the last checks.

[2021-05-04 06:48] mikldk commented on #3236
@IndrajeetPatil?

[2021-05-04 06:48] whedon commented on #2440
[code]

[2021-05-04 06:48] whedon commented on #2440
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2276

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2276, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-04 06:48] csoneson commented on #3167
ping @njtierney - could you let us know how your review is going? Thanks!

[2021-05-04 06:55] IndrajeetPatil commented on #3236
@humanfactors Thanks for pointing that out! Yes, it was a minor release to fix some issues.

The whedon version should be updated, but I don't know how to do it.

[2021-05-04 06:57] mikldk commented on #3236
@whedon set v1.0.1 as version

[2021-05-04 06:57] whedon commented on #3236
OK. v1.0.1 is the version.

[2021-05-04 06:57] IndrajeetPatil commented on #3236
Thanks!

[2021-05-04 07:02] whedon commented on #3194
:wave: @JostMigenda, please update us on how your review is going (this is an automated reminder).

[2021-05-04 07:02] whedon commented on #3194
:wave: @rafaelab, please update us on how your review is going (this is an automated reminder).

[2021-05-04 07:07] hugoledoux commented on #3191
@zoometh the first review (from a GIS perspective) is in and it is a good idea to fix what is missing and update the submission now, you do not need to wait for the other reviewer (archeology perspective).

The part about citing and comparing in the paper to other similar software would be especially important to add.

[2021-05-04 08:50] LangeJens commented on #3210
@AlexChristensen and @karthik,

Thank you very much Alex. I am very grateful that you took the time to improve my code. Especially the implementation of parallel computing is amazing! I would be happy if you could create a pull request that I can then merge with the master branch. After merging, I will add a few other changes:

- Mention in the .Rd of cpPermuteEntropy, cpAlgorithm, and cpThreshold

[2021-05-04 08:57] aalfons commented on #3209
@fboehm no problem, I can be a reviewer as well.

[2021-05-04 09:30] DrDaveShaw commented on #3224
@goldmanm. Thank you very much for taking the time to begin a review of our package, your comments and questions are exceptionally helpful. I'll be going through them individually over the next couple of days making suggested adjustments or additions and will have a full response for you shortly.

[2021-05-04 10:45] will-rowe commented on #3161
Hi @emilydolson, @chrisvoncsefalvay, @joeweaver - would any of you be able to review this submission to JOSS?

[2021-05-04 10:58] matthias-da commented on #3209
Dear Frederik Boehm

I can do the review as well. Please add me as an reviewer.

Best
Matthias

On Tue, May 4, 2021 at 10:57 AM Andreas Alfons ***@***.***>
wrote:

--
Dr.habil. Matthias Templ
Zurich University of Applied Sciences (ZHAW)
Institute of Data Analysis and Process Design (IDP)
Rosenstrasse 3,
CH-8401 Winterthur
https://www.zhaw.ch/en/about-us/person/teml/
E-Mail: ***@***.***

[2021-05-04 11:44] oliviaguest commented on #2863
OK, @dmey, since you have a plan... I leave it to you to tag me when *you* are ready here. I am happy to publish when you are. Make sure you address what @danielskatz asked you to.

[2021-05-04 11:45] oliviaguest commented on #3169
Thank you @chrisgorgo and @deep-introspection — you two have been so speedy! @neuromusic let us know on a sensible/workable ETA for your review, please! 🌼

[2021-05-04 11:48] arfon commented on #3148
Sorry for the delayed responses here @donaldRwilliams.

Could you say a little more about this please? Specifically, are descriptions of the methods implemented in this software already published in another journal?

[2021-05-04 11:54] vincentberenz commented on #2752
@vissarion Thanks a lot for your time and the comments. I agreed with all of them, and did my best to address them all. Please see answers in the issues.

[2021-05-04 11:54] vincentberenz commented on #2752
@whedon generate pdf

[2021-05-04 11:55] whedon commented on #2752
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02752/joss.02752/10.21105.joss.02752.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02752/joss.02752/10.21105.joss.02752.pdf) :page_facing_up: :point_left:

[2021-05-04 12:00] arfon commented on #2446
Sorry for the delay @lockepatton.

Given that `sonipy` already exists, I think it would be appropriate to find a different name. Could something like `sonicpy`, `py-sonic`, or `python-sonic` work?

While I think @faroit's [recommendation](https://github.com/openjournals/joss-reviews/issues/2446#issuecomment-739066814) is a good one, at this point, I think it's OK to move forward with using `thinkd

[2021-05-04 12:03] VivianePons commented on #2741
@whedon check references

[2021-05-04 12:06] whedon commented on #2741
[code]

[2021-05-04 12:06] arfon commented on #2927
@boshek - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the author

[2021-05-04 12:09] arfon commented on #3032
I'm not quite sure what you're asking here @gradvohl?

[2021-05-04 12:14] donaldRwilliams commented on #3148
@arfon

Not sure I follow what you are asking.

 I do want to bring to your attention (because I really like the mission of this journal) that I am reviewing a software paper for JOSS that is fewer lines of code (https://github.com/openjournals/joss-reviews/issues/2944). And, importantly, it is not only fewer lines, but the main functionality is to compute a mere summary of what my package provide

[2021-05-04 12:14] VivianePons commented on #2741
@wheon generate pdf

[2021-05-04 12:15] VivianePons commented on #2741
@whedon generate pdf

[2021-05-04 12:16] whedon commented on #2741
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: :point_left:

[2021-05-04 12:16] VivianePons commented on #2741
It seems that you have the same paper appearing twice in the bib file (A Multilevel Empirical Bayesian Approach to Estimating the Unknown Redshifts of 1366 BATSE Catalog Long-Duration Gamma-Ray Bursts)

[2021-05-04 12:18] donaldRwilliams commented on #3148
@arfon

Not sure what you are asking. Can you clarify ?

Are you asking if the work has essentially been published elsewhere ? The answer is no.

[2021-05-04 12:25] donaldRwilliams commented on #3148
@arfon

"descriptions of the methods implemented in this software already published in another journal"

Are you asking if this work has essentially been published elsewhere with this ? The answer is no.

(but again it is not entirely clear to me what you mean)

E.g., wouldn't we hope that most (if not all) statistical methods making their way into software are peer-reviewed themselves ? In fact,

[2021-05-04 12:31] gradvohl commented on #3032
Neither do I :blush: In fact, it is @ctodd26labs who is asking. I think he needs to tag the repository as the latest version after the pull request.

[2021-05-04 12:37] chennachaos commented on #3020
Hi @Kevin-Mattheus-Moerman.  Apologies for the delay. Been busy with the preparations for the final exams. I am afraid that I won't be able to do anything this week. I will try to resume the review next week.

[2021-05-04 12:51] meg-simula commented on #3108
@whedon add @mikaem as reviewer

[2021-05-04 12:51] whedon commented on #3108
OK, @mikaem is now a reviewer

[2021-05-04 12:52] meg-simula commented on #3108
@whedon add @mikaem as reviewer

[2021-05-04 12:52] whedon commented on #3108
OK, @mikaem is now a reviewer

[2021-05-04 12:52] meg-simula commented on #3108
@whedon start review

[2021-05-04 12:52] whedon opened #3237 "[REVIEW]: ngsxfem: Add-on to NGSolve for geometrically unfitted finite element discretizations"
**Submitting author:** @schruste (<a href="http://orcid.org/0000-0003-0170-8468">Christoph Lehrenfeld</a>)
**Repository:** <a href="https://github.com/ngsxfem/ngsxfem" target ="_blank">https://github.com/ngsxfem/ngsxfem</a>
**Version:** joss
**Editor:** @meg-simula
**Reviewer:** @mscroggs, @mikaem
**Archive:** <a href="https://doi.org/10.5281/zenodo.5081124" target="_blank">10.5281/zenodo.5081124<

[2021-05-04 12:52] whedon commented on #3108
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3237.

[2021-05-04 12:52] #3108 closed

[2021-05-04 12:52] whedon commented on #3237
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mscroggs, @mikaem, @mikaem it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-05-04 12:53] whedon commented on #3237
Failed to discover a `Statement of need` section in paper

[2021-05-04 12:53] whedon commented on #3237
[code]

[2021-05-04 12:53] SirSharpest commented on #3215
@kellyrowland I've completed my review + checklist, this software package is an excellent example of open source software. I have given the authors some minor suggestions regarding potential issues which users on certain OS's may encounter. I am very happy to recommend acceptance.

[2021-05-04 12:54] whedon commented on #3237
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: :point_left:

[2021-05-04 12:55] whedon commented on #3237
[code]

[2021-05-04 12:55] meg-simula commented on #3237
:wave: @mscroggs @mikaem Thanks again for agreeing to review. Reviewer checklists have been generated for you above, feel free to get started whenever is convenient for you in the nearest few weeks. I'll check back in regularly, and do not hesitate to ask if you have questions.

[2021-05-04 13:04] ctodd26labs commented on #3032
My apologies, my request was to approve the PR once it looks good (which I have changes to make based on your comment).

Once you approve, I will merge and tag the repo as v1.0.4 (currently tagged at v1.0.3)

[2021-05-04 13:23] gradvohl commented on #3032
Well, I think that, once my last comments are implemented (including the data repo and Wong's affiliation), everything will be ok. :thumbsup:

Best.

[2021-05-04 13:31] fboehm commented on #3209
Thank you so much, @aalfons and @matthias-da ! I greatly appreciate your willingness to do the review. I hadn't anticipated that both of you would be available, as, in fact, I need only one of you. I'd like to assign @aalfons to be the reviewer for this submission. I apologize to @matthias-da, but I hope that we can find another submission for you to review soon. Also, I encourage both of you to a

[2021-05-04 13:31] fboehm commented on #3209
@whedon add @aalfons as reviewer

[2021-05-04 13:31] whedon commented on #3209
OK, @aalfons is now a reviewer

[2021-05-04 13:32] fboehm commented on #3209
@whedon start review

[2021-05-04 13:32] whedon opened #3238 "[REVIEW]: wbacon: Weighted BACON algorithms for multivariate outlier nomination (detection) and robust linear regression"
**Submitting author:** @tobiasschoch (<a href="http://orcid.org/0000-0002-1640-3395">Tobias Schoch</a>)
**Repository:** <a href="https://github.com/tobiasschoch/wbacon" target ="_blank">https://github.com/tobiasschoch/wbacon</a>
**Version:** v0.5
**Editor:** @fboehm
**Reviewer:** @msalibian, @aalfons
**Archive:** <a href="https://doi.org/10.5281/zenodo.4895167" target="_blank">10.5281/zenodo.48951

[2021-05-04 13:32] whedon commented on #3238
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @msalibian, @aalfons it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-05-04 13:32] whedon commented on #3238
[code]

[2021-05-04 13:33] whedon commented on #3238
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03238/joss.03238/10.21105.joss.03238.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03238/joss.03238/10.21105.joss.03238.pdf) :page_facing_up: :point_left:

[2021-05-04 13:34] whedon commented on #3238
[code]

[2021-05-04 13:35] fboehm commented on #3238
@msalibian and @aalfons - we're now starting the review. You can see above your review checklist. Please check the boxes as you proceed through the review. For any boxes that you can't check right now, please leave comments in this thread. You may also choose to open issues in the package repository. If you do open issues, please be sure to reference them in this thread. Please let me know if you

[2021-05-04 14:13] kthyng commented on #2440
@csoneson You made this so easy! Thanks for sending this on so ready to go!! We can move this right on through the system since I see no errors or additional items to take care of.

[2021-05-04 14:13] kthyng commented on #2440
@whedon accept deposit=true

[2021-05-04 14:13] whedon commented on #2440
[code]

[2021-05-04 14:15] ChrisCFTung commented on #3194
Thank you for the comment @rafaelab .

Regarding your comment on the paper, in the paper, we have mentioned publications which applied Firesong on studies of gamma rays in the statement of need section of the paper. Indeed, providing a function to convert Firesong's output to other messengers is one of the open issue for Firesong (#45). However, before that service is mature, we don't want to prop

[2021-05-04 14:15] whedon commented on #2440
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1389584439106232322) 👈 🐦🐦🐦

[2021-05-04 14:15] whedon commented on #2440
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2277
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02440](https://doi.org/10.21105/joss.02440)
2. If everything look

[2021-05-04 14:24] kthyng commented on #2440
Congrats on your new publication @neuromusic! Thanks to editor @csoneson and reviewers @giovp, @shazanfar, and @vals for your time, expertise, and hard work!

[2021-05-04 14:24] #2440 closed

[2021-05-04 14:24] whedon commented on #2440
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02440/status.svg)](https://doi.org/10.21105/joss.02440)

**We need your help!**

Journal of Open Source Softwa

[2021-05-04 14:29] kthyng commented on #3045
@jgostick, @grburgess Just cleaning up here and I see that none of the checkboxes are checked for one reviewer. Can I get a note here as to why that is? We require all the boxes to be checked to move past the review stage.

[2021-05-04 14:30] kthyng commented on #3192
Ok everything looks good! We can move forward.

[2021-05-04 14:30] kthyng commented on #3192
@whedon accept deposit=true

[2021-05-04 14:30] whedon commented on #3192
[code]

[2021-05-04 14:32] whedon commented on #3192
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1389588750624346113) 👈 🐦🐦🐦

[2021-05-04 14:32] whedon commented on #3192
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2278
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03192](https://doi.org/10.21105/joss.03192)
2. If everything look

[2021-05-04 14:34] whedon opened #3239 "[PRE REVIEW]: radioactivedecay: A Python package for radioactive decay calculations"
**Submitting author:** @alexmalins (<a href="http://orcid.org/0000-0003-1922-4496">Alex Malins</a>)
**Repository:** <a href="https://github.com/alexmalins/radioactivedecay/" target ="_blank">https://github.com/alexmalins/radioactivedecay/</a>
**Version:** v0.3.2
**Editor:** @kellyrowland
**Reviewers:** @bjodah, @munkm
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:

[2021-05-04 14:34] whedon commented on #3239
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-04 14:35] jgostick commented on #3045
I wasn't paying enough attention.  The dialog between the author and @grburgess was so thorough that I just subconsciously checked the boxes in my head.

[2021-05-04 14:35] whedon commented on #3239
PDF failed to compile for issue #3239 with the following error:
[code]

[2021-05-04 14:35] whedon commented on #3239
[code]

[2021-05-04 14:35] whedon opened #3240 "[PRE REVIEW]: AuDoLab: Automatic document labelling and classfication for extremely unbalanced data"
**Submitting author:** @ArneTillmann (<a href="http://orcid.org/0000-0002-2761-4518">Arne Matthias Tillmann</a>)
**Repository:** <a href="https://github.com/ArneTillmann/AuDoLab" target ="_blank">https://github.com/ArneTillmann/AuDoLab</a>
**Version:** v0.1.15
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-05-04 14:35] whedon commented on #3240
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-04 14:36] whedon commented on #3240
PDF failed to compile for issue #3240 with the following error:
[code]

[2021-05-04 14:36] whedon commented on #3240
[code]

[2021-05-04 14:36] whedon opened #3241 "[PRE REVIEW]: ImSwitch: Generalizing microscope control in Python"
**Submitting author:** @kasasxav (<a href="http://orcid.org/0000-0002-9583-9022">Xavier Casas Moreno</a>)
**Repository:** <a href="https://github.com/kasasxav/ImSwitch" target ="_blank">https://github.com/kasasxav/ImSwitch</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @MakerTobey, @uellue, @beniroquai, @untzag
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced s

[2021-05-04 14:36] whedon commented on #3240
[code]

[2021-05-04 14:36] whedon commented on #3241
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-04 14:36] whedon opened #3242 "[PRE REVIEW]: **raddo**: A Python Package for RADOLAN Weather Radar Data Provision"
**Submitting author:** @RaT0M (<a href="http://orcid.org/0000-0001-5322-4540">Thomas Ramsauer</a>)
**Repository:** <a href="https://github.com/RaT0M/raddo" target ="_blank">https://github.com/RaT0M/raddo</a>
**Version:** 0.6.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic,

[2021-05-04 14:36] whedon commented on #3242
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-04 14:37] kthyng commented on #3192
Congrats on your new publication @csinva!! Thanks to editor @vissarion and reviewers @jungtaekkim and @yxoos for your expertise, time, and hard work!

[2021-05-04 14:37] #3192 closed

[2021-05-04 14:37] whedon commented on #3192
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03192/status.svg)](https://doi.org/10.21105/joss.03192)

**We need your help!**

Journal of Open Source Softwa

[2021-05-04 14:37] whedon commented on #3241
[code]

[2021-05-04 14:38] whedon commented on #3242
[code]

[2021-05-04 14:38] kthyng commented on #3239
@whedon generate pdf from branch joss_paper

[2021-05-04 14:38] whedon commented on #3239
[code]

[2021-05-04 14:38] whedon commented on #3241
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03241/joss.03241/10.21105.joss.03241.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03241/joss.03241/10.21105.joss.03241.pdf) :page_facing_up: :point_left:

[2021-05-04 14:39] whedon commented on #3242
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03242/joss.03242/10.21105.joss.03242.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03242/joss.03242/10.21105.joss.03242.pdf) :page_facing_up: :point_left:

[2021-05-04 14:39] whedon commented on #3239
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03239/joss.03239/10.21105.joss.03239.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03239/joss.03239/10.21105.joss.03239.pdf) :page_facing_up: :point_left:

[2021-05-04 14:40] kthyng commented on #3240
@whedon query scope

[2021-05-04 14:40] whedon commented on #3240
Submission flagged for editorial review.

[2021-05-04 14:41] kthyng commented on #3240
Hi @ArneTillmann and thanks for your submission. I triggered a scope query of your submission in which the editorial board will vote as to whether this submission is in scope or not. I did this because of the small size of the submission — this doesn't automatically mean that it won't be reviewed, but that is what we will vote to decide. This will take 1-2 weeks. Thanks.

[2021-05-04 14:42] kthyng commented on #3239
@kellyrowland would you be able to take this submission on?

[2021-05-04 14:43] kthyng commented on #3239
@whedon invite @kellyrowland as editor

[2021-05-04 14:43] whedon commented on #3239
@kellyrowland has been invited to edit this submission.

[2021-05-04 14:43] joeweaver commented on #3161
Hi Will,

I'd be a first time reviewer for JOSS, so thanks for having a review
checklist publicly available so I know what I'd be responsible for
evaluating. I'd be happy to review and would almost certainly have time
within the next two weeks to do so (likely much sooner, but cannot
guarantee).

I can say, based on a cursory look at the git repo, I'd have some issues
with the minimal documentatio

[2021-05-04 14:43] whedon opened #3243 "[PRE REVIEW]: tbeptools: An R package for synthesizing estuarine data for environmental research"
**Submitting author:** @fawda123 (<a href="http://orcid.org/0000-0002-4996-0059">Marcus Beck</a>)
**Repository:** <a href="https://github.com/tbep-tech/tbeptools" target ="_blank">https://github.com/tbep-tech/tbeptools</a>
**Version:** v1.0.0
**Editor:** @kthyng
**Reviewers:** @paleolimbot, @richardsc
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-05-04 14:43] whedon commented on #3243
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-04 14:44] whedon opened #3244 "[PRE REVIEW]: ConTEXT Explorer: a web-based text analysis tool for exploring and visualizing concepts across time"
**Submitting author:** @alicia-ziying-yang (<a href="http://orcid.org/0000-0001-7705-3280">Ziying Yang</a>)
**Repository:** <a href="https://github.com/alicia-ziying-yang/conTEXT-explorer" target ="_blank">https://github.com/alicia-ziying-yang/conTEXT-explorer</a>
**Version:** v1.0
**Editor:** @faroit
**Reviewers:** @sara-02, @baileythegreen
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduce

[2021-05-04 14:44] whedon commented on #3244
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-04 14:44] whedon opened #3245 "[PRE REVIEW]: Lerche: Generating data file processors in Julia from EBNF grammars"
**Submitting author:** @jamesrhester (<a href="http://orcid.org/0000-0002-2004-8672">James Hester</a>)
**Repository:** <a href="https://github.com/jamesrhester/Lerche.jl" target ="_blank">https://github.com/jamesrhester/Lerche.jl</a>
**Version:** 0.4.3
**Editor:** @sbenthall
**Reviewers:** @ziotom78, @eschnett
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due

[2021-05-04 14:44] whedon commented on #3245
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-04 14:44] whedon opened #3246 "[PRE REVIEW]: Computer-Aided Generation of N-shift RWS"
**Submitting author:** @benjaminbolling (<a href="http://orcid.org/0000-0002-6650-5365">Benjamin Edward Bolling</a>)
**Repository:** <a href="https://github.com/benjaminbolling/RSW" target ="_blank">https://github.com/benjaminbolling/RSW</a>
**Version:** v.1.0.0
**Editor:** @majensen
**Reviewers:** @magedhelmy1, @ShantanuDash
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :

[2021-05-04 14:44] whedon commented on #3246
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-04 14:46] whedon commented on #3243
[code]

[2021-05-04 14:46] whedon commented on #3244
Failed to discover a `Statement of need` section in paper

[2021-05-04 14:46] whedon commented on #3244
[code]

[2021-05-04 14:47] whedon commented on #3243
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03243/joss.03243/10.21105.joss.03243.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03243/joss.03243/10.21105.joss.03243.pdf) :page_facing_up: :point_left:

[2021-05-04 14:47] whedon commented on #3243
[code]

[2021-05-04 14:47] kthyng commented on #3241
Hi @kasasxav and thanks for your submission. We have a backlog of submission right now and our editors are overburdened, so I have added this submission to the waitlist. Thank you for your patience.

[2021-05-04 14:47] tpoisot commented on #2721
Hi @KristinaRiemer - is there a thing we need to do at this point?

[2021-05-04 14:47] whedon commented on #3245
[code]

[2021-05-04 14:48] whedon commented on #3245
PDF failed to compile for issue #3245 with the following error:
[code]

[2021-05-04 14:48] mjacob1002 commented on #3161
Hi @joeweaver,

Thanks for the feedback! Just to clarify for myself: should I move the docstrings in the files python files themselves to the "docs" folder or add more to the docstrings themselves?

Best,
Mathew

[2021-05-04 14:48] whedon commented on #3244
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03244/joss.03244/10.21105.joss.03244.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03244/joss.03244/10.21105.joss.03244.pdf) :page_facing_up: :point_left:

[2021-05-04 14:48] whedon commented on #3246
Failed to discover a `Statement of need` section in paper

[2021-05-04 14:48] whedon commented on #3246
[code]

[2021-05-04 14:49] whedon commented on #3244
[code]

[2021-05-04 14:49] whedon commented on #3246
[code]

[2021-05-04 14:49] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-04 14:51] will-rowe commented on #3161
Thanks very much @joeweaver - we'll assign you and then kick off the review thread.

[2021-05-04 14:51] will-rowe commented on #3161
@whedon add @joeweaver as reviewer

[2021-05-04 14:51] whedon commented on #3161
OK, @joeweaver is now a reviewer

[2021-05-04 14:51] will-rowe commented on #3161
@whedon start review

[2021-05-04 14:51] whedon opened #3247 "[REVIEW]: Eir: A Python Package for Epidemic Simulation"
**Submitting author:** @mjacob1002 (<a href="http://orcid.org/0000-0001-5513-432X">Mathew Jacob</a>)
**Repository:** <a href="https://github.com/mjacob1002/Eir" target ="_blank">https://github.com/mjacob1002/Eir</a>
**Version:** v1.0.2
**Editor:** @will-rowe
**Reviewers:** @DARSakthi, @joeweaver
**Archive:** <a href="https://doi.org/10.5281/zenodo.4905077" target="_blank">10.5281/zenodo.4905077</a

[2021-05-04 14:51] whedon commented on #3161
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3247.

[2021-05-04 14:51] #3161 closed

[2021-05-04 14:51] whedon commented on #3247
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @DARSakthi, @joeweaver it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-05-04 14:52] whedon commented on #3247
[code]

[2021-05-04 14:52] whedon commented on #3247
[code]

[2021-05-04 14:52] whedon commented on #3247
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03247/joss.03247/10.21105.joss.03247.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03247/joss.03247/10.21105.joss.03247.pdf) :page_facing_up: :point_left:

[2021-05-04 14:56] KristinaRiemer commented on #2721
Oh, sorry, I didn't see that the Zenodo title was changed! Thanks for doing that @FrancisBanville.

[2021-05-04 14:57] kthyng commented on #3242
@whedon query scope

[2021-05-04 14:57] whedon commented on #3242
Submission flagged for editorial review.

[2021-05-04 14:58] KristinaRiemer commented on #2721
@whedon set 10.5281/zenodo.4716483 as archive

[2021-05-04 14:58] kthyng commented on #3242
Hi @RaT0M and thanks for your submission. I have triggered a scope query due to the relatively small size of your submission. The editorial board will take a look at it and decide if it is in scope. This process should take 1-2 weeks. Thanks for your patience!

[2021-05-04 14:58] whedon commented on #2721
OK. <a href="https://doi.org/10.5281/zenodo.4716483" target="_blank">10.5281/zenodo.4716483</a> is the archive.

[2021-05-04 14:58] joeweaver commented on #3161
The docstrings look ok. Probably no need to move all the variable
explanations over (no need to put the whole API into the paper, which I
gather is counter to JOSS), but maybe do so for the example in the README
file.  The goal (at least from the perspective of a reviewer coming from
outside epidemiology) is to provide just a touch more context.

On Tue, May 4, 2021 at 3:48 PM Mathew Jacob ***@***

[2021-05-04 14:59] KristinaRiemer commented on #2721
@whedon accept

[2021-05-04 14:59] kthyng commented on #3243
@leouieda Would you be up for editing this submission?

[2021-05-04 14:59] whedon commented on #2721
[code]

[2021-05-04 14:59] kthyng commented on #3243
@whedon invite @leouieda as editor

[2021-05-04 14:59] whedon commented on #3243
@leouieda has been invited to edit this submission.

[2021-05-04 14:59] whedon commented on #2721
PDF failed to compile for issue #2721 with the following error:
[code]

[2021-05-04 15:12] emilydolson commented on #3161
I'd be happy to review this paper! Looks like a cool package!

[2021-05-04 15:13] KristinaRiemer commented on #2721
@whedon accept from branch joss-article-review1

[2021-05-04 15:13] whedon commented on #2721
[code]

[2021-05-04 15:14] whedon commented on #2721
[code]

[2021-05-04 15:15] whedon commented on #2721
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2279

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2279, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-04 15:21] kthyng commented on #3244
Hi @alicia-ziying-yang and thanks for your submission! I've added the "waitlisted" label because the editors in your area are currently overburdened and we have a backlog of submissions. Thank you for your patience.

[2021-05-04 15:23] kthyng commented on #3245
@whedon generate pdf from joss_paper

[2021-05-04 15:23] whedon commented on #3245
PDF failed to compile for issue #3245 with the following error:
[code]

[2021-05-04 16:35] tpoisot commented on #2721
Proofs are :+1:

[2021-05-04 16:40] vijaysm commented on #3020
@Kevin-Mattheus-Moerman I am in the process of trying to build and run the examples in the repo. Unfortunately, I ran into some snags in getting the TPLs to build properly in my docker environment. I didn't get enough time to dig deeper to resolve the issue yet. But I should be able to get around to all of that this week.

[2021-05-04 16:57] grburgess commented on #3045
@kthyng @jgostick Hi, sorry, I forgot that in the beginning I was unable to check the boxes for some reason... not sure what is going on there. I think all but one of the issues have been addressed and for the final one it is not crucial. So, barring my ability to check the boxes above, I can sign off. (I think the issue with the boxes was due to a misspelling of my handle originally, so maybe the

[2021-05-04 16:57] SteveDiamond commented on #3066
@vissarion did you send me the invite to be a reviewer? Let me know what the process is.

[2021-05-04 17:02] KristinaRiemer commented on #2721
For the last step, an EiC will do the final approval, and then it will be published!

[2021-05-04 17:18] diehlpk commented on #2577
@whedon commands

[2021-05-04 17:18] whedon commented on #2577
Here are some things you can ask me to do:

[code]

[2021-05-04 17:26] gerudo7 commented on #3174
@matthewfeickert @mbobra Thank you for your comments, we have begun addressing them in a new release branch (1.0.4). Would you prefer to open issues on GitHub or should we go ahead and do so?

[2021-05-04 17:33] diehlpk commented on #2942
Hey @ChrisRackauckas and @dpsanders would you be interested to review this paper?

[2021-05-04 17:39] diehlpk commented on #2942
Hey @Adrianzo @ahwillia @vchuravy @dhhagan @jarvist would you be interested to review this paper?

[2021-05-04 17:40] diehlpk commented on #3231
@clavigne Could you please name some potential reviewers?

[2021-05-04 17:43] diehlpk commented on #3231
Hey @daissi @wjakethompson @vijaysm @gflofst @camillescott would you be interested to review this paper?

[2021-05-04 17:44] diehlpk commented on #2577
@whedon withdraw

[2021-05-04 17:44] whedon commented on #2577
I'm sorry @diehlpk, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-05-04 17:44] diehlpk commented on #2577
@openjournals/joss-eics can someone please withdraw the paper?

[2021-05-04 17:45] diehlpk commented on #2577
Sure, thing. I look forward to the updated code base. Please feel free to suggest me as the editor for any future submisison.

[2021-05-04 17:48] ahwillia commented on #2942
I can't, too many deadlines over the next 6 weeks, then a planned vacation.

[2021-05-04 17:49] matthewfeickert commented on #3174
I can open GitHub Issues later. I would highly recommend that instead of just trying to fix everything by only committing directly to one branch that you adopt a PR based GitFlow development strategy so that there is a `1:1` relationship between a GitHub Issue and a PR that resolves that Issue. It will be much easier as you're adding tests to know if you've resolved the issue properly or not if yo

[2021-05-04 18:05] villaa commented on #3174
I am new to PR based GitFlow development, I would appreciate any references you have.

[2021-05-04 18:17] villaa commented on #3174
@mbobra can you respond regarding @kelseymh 's COI? If there is a COI I would be happy to help to try to identify a new reviewer. Thank you for your time.

[2021-05-04 18:17] shahmoradi commented on #2741
Fixed.

[2021-05-04 18:17] shahmoradi commented on #2741
@whedon generate pdf

[2021-05-04 18:18] whedon commented on #2741
PDF failed to compile for issue #2741 with the following error:
[code]

[2021-05-04 18:25] shahmoradi commented on #2741
@whedon generate pdf

[2021-05-04 18:26] whedon commented on #2741
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: :point_left:

[2021-05-04 18:37] PacoCosta commented on #3211
Fixing Figure1. Qlunc basic structure. Power module components were wrong. No `issue` regarding this.

[2021-05-04 18:39] PacoCosta commented on #3211
@whedon generate pdf

[2021-05-04 18:39] whedon commented on #3211
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03211/joss.03211/10.21105.joss.03211.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03211/joss.03211/10.21105.joss.03211.pdf) :page_facing_up: :point_left:

[2021-05-04 19:26] tomgrylls commented on #3055
Thanks @p-costa - just confirming that it does makes sense to specifically acknowledge the names mentioned above as they are the only ones that have specifically contributed towards the development of uDALES from uDALES (in their work on immersed boundary methods in DALES), other contributions to DALES are less directly associated with uDALES.

Thanks for sharing the IBM reference - I will take a

[2021-05-04 19:27] vissarion commented on #3066
@whedon add @SteveDiamond  as reviewer

[2021-05-04 19:27] whedon commented on #3066
OK, @SteveDiamond  is now a reviewer

[2021-05-04 19:28] vissarion commented on #3066
@whedon remove @TolisChal  as reviewer

[2021-05-04 19:28] whedon commented on #3066
OK, @TolisChal  is no longer a reviewer

[2021-05-04 19:35] vissarion commented on #3066
@SteveDiamond indeed I invited you to be a reviewer. I though I sent you the instructions but maybe I didn't. So, please find below a few useful links
https://joss.readthedocs.io/en/latest/review_criteria.html
https://joss.readthedocs.io/en/latest/review_checklist.html
https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Your checklist is on top of this thread. Please let me know if you

[2021-05-04 19:37] tomgrylls commented on #3055
@whedon generate pdf from branch joss-paper

[2021-05-04 19:38] whedon commented on #3055
[code]

[2021-05-04 19:38] whedon commented on #3055
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: :point_left:

[2021-05-04 19:42] tomgrylls commented on #3055
Now added

Good idea - I am not sure about if this is possible but I have enquired to Imperial College London to see if we can do this.

Now added.

Thanks all again for your input on this!

[2021-05-04 20:00] p-costa commented on #3055
Thanks @tomgrylls for the reply and to all the authors for this great contribution!

@Kevin-Mattheus-Moerman I have completed my review, thanks for managing it.

[2021-05-04 20:14] whedon commented on #3197
:wave: @dimitridarras, please update us on how your review is going (this is an automated reminder).

[2021-05-04 20:14] whedon commented on #3197
:wave: @junjun-zhang, please update us on how your review is going (this is an automated reminder).

[2021-05-04 20:17] fawda123 commented on #3243
@whedon commands

[2021-05-04 20:17] whedon commented on #3243
Here are some things you can ask me to do:

[code]

[2021-05-04 20:18] camillescott commented on #3231
Sure, this is in my wheelhouse.

[2021-05-04 20:27] gerudo7 commented on #3174
(Sorry about that ^ - I forgot that it would link. I prevented the linking on all the other issues.)

I went ahead and opened issues only for things we'd already started addressing so that I could try to keep our progress organized. I'm going to get 1.0.4 released here soon so we can switch over to the PR-based strategy.

[2021-05-04 20:32] fawda123 commented on #3243
@kthyng @leouieda here's a list of potential reviewers by username.

From the [list of potential reviewers](https://bit.ly/joss-reviewers): jhollist, TomasBeuzen, paleolimbot

Not from the list of potential reviewers, but other good options: sheilasaia, jsta, padilla410, mishafredmeyer

[2021-05-04 20:35] PhilBoileau commented on #3235
Will do, @Kevin-Mattheus-Moerman!

Thanks, @fboehm. I've looked for authors of relatively recent packages in our area. The following people may be interested in reviewing our submission:

+ Anestis Touloumis (email: A.Touloumis at brighton.ac.uk, GitHub: AnestisTouloumis)
+ Drew Schmidt (email: wrathematics at gmail.com, GitHub: wrathematics)
+ Marie Perrot-Dockès (email: marie.perrocks at gmail.c

[2021-05-04 20:40] fduchatea commented on #2805
@galessiorob Here is the Zenodo DOI: [http://doi.org/10.5281/zenodo.4737729](http://doi.org/10.5281/zenodo.4737729) 🚀

[2021-05-04 21:10] melissawm commented on #3208
Hello @danielskatz - as I understand it, since the commit history in this is less than 3 months of work, this should be flagged for additional scope check. Otherwise, it does look fine - so if I'm being overzealous let me know and we can go ahead with the review :)

[2021-05-04 21:19] fboehm commented on #3235
:wave: @wrathematics & @AnestisTouloumis, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-05-04 21:27] boshek commented on #2927
Thanks @arfon

Here is the Zenodo badge: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4737824.svg)](https://doi.org/10.5281/zenodo.4737824)

[2021-05-04 21:32] kthyng commented on #2577
@whedon withdraw

[2021-05-04 21:32] whedon commented on #2577
Paper withdrawn.

[2021-05-04 21:32] #2577 closed

[2021-05-04 21:52] kthyng commented on #3179
@whedon assign me as editor

[2021-05-04 21:52] whedon commented on #3179
OK, the editor is @kthyng

[2021-05-04 21:52] kthyng commented on #3180
@whedon assign me as editor

[2021-05-04 21:52] whedon commented on #3180
OK, the editor is @kthyng

[2021-05-04 21:52] kthyng commented on #3243
Sorry @leouieda that was a misfire — I see you've already been invited to a different submission. Please ignore.

@fawda123 thanks for the reviewer suggestions! I'll be your editor.

[2021-05-04 21:52] kthyng commented on #3243
@whedon assign me as editor

[2021-05-04 21:52] whedon commented on #3243
OK, the editor is @kthyng

[2021-05-04 22:48] kenohori commented on #2869
Hi @szymon-datalions,

Thanks for the revised paper! I like the improvements very much.

Focussing on areal interpolation (of which there are fewer open implementations) is a great idea, and the explanation of why this is important helps a lot to clarify the strengths of your software. As before, I think this text is also a very nice introduction to kriging for those who are not familiar with it.

[2021-05-04 23:31] vijaysm commented on #3231
If the others are busy, sure I can review it. I just have some deadlines near term, but can start in 2-3 weeks or so, if that works.

[2021-05-05 00:05] jamesrhester commented on #3245
Can confirm that https://whedon.theoj.org/ compiles the paper from this repository if `joss_paper` is provided as the branch. Perhaps the version number causes a problem?

[2021-05-05 02:07] matthewfeickert commented on #3174
Sure. If you search "gitflow" you'll come up with a plethora of resources, some which will give you conflicting advice on how to go about development with regards to the need for `main` and `develop` branches vs. just using a `main` branch (which is more common these days in the era of abundant CI &mdash; note I am not a historian of software development best practices, so downweight that as you w

[2021-05-05 04:31] SteveDiamond commented on #3066
I looked over everything, and it's good to go from my perspective. The documentation is very thorough. I found a few typos (https://github.com/robertmartin8/PyPortfolioOpt/issues/331) but no major issues.

[2021-05-05 05:34] sjpfenninger commented on #3213
@whedon set @sjpfenninger as editor

[2021-05-05 05:34] whedon commented on #3213
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-05-05 05:35] sjpfenninger commented on #3213
@whedon assign @sjpfenninger as editor

[2021-05-05 05:35] whedon commented on #3213
OK, the editor is @sjpfenninger

[2021-05-05 06:35] martibosch commented on #3065
Hello all! I am sorry for my delay, these were (and still are) some crazy days with the end of my thesis and some proposal deadlines to find further funding opportunities.

I have finished my review, I find the package to be very neat and easy (enjoyable) to use, which is great. The examples are clear and properly cover all the features except the scenario comparison, which is why I submitted [a d

[2021-05-05 06:51] IndrajeetPatil commented on #3167
@csoneson If it turns out he doesn't have time to review right now, is it possible for us to look for an alternative reviewer?
I can suggest a few.

[2021-05-05 06:53] eloisabentivegna commented on #2555
Email reminder sent to reviewers.

[2021-05-05 07:00] humanfactors commented on #3236
I've now finished my review of StatsExpressions. I have added an issue to the original repository which includes my main feedback to the manuscript itself and items which should be resolved prior to acceptance (e.g., documentation updates). I have also opened a more specific issue, which I believe would dramatically improve the package, but I do not see as precluding publication.

- Manuscript Rev

[2021-05-05 07:03] csoneson commented on #3167
@IndrajeetPatil - let's have some patience, these are challenging times for everyone (in particular, note that JOSS is still operating in [reduced service mode](https://blog.joss.theoj.org/2020/05/reopening-joss) because of the challenges posed by the pandemic).

[2021-05-05 07:10] IndrajeetPatil commented on #3167
Oh, I see. Thanks for pointing out the reduced service mode, which does state:

So happy to wait for 3 more weeks and revisit this.

[2021-05-05 07:12] eloisabentivegna commented on #2978
@BenMql, were you able to address the reviewers' requests yet? Could you send an update?

[2021-05-05 07:16] piyueh commented on #3114
Thank you, @dlgeorge ! We will track and address the issue at https://github.com/barbagroup/geoclaw-landspill/issues/21.

I would like to address the comment regarding the installation. I think that's one reason for having Docker and Singularity containers. As long as users successfully install either Docker or Singularity, they can use this package's Docker images and Singularity images without i

[2021-05-05 07:21] IndrajeetPatil commented on #3167
@whedon set v0.7.2 as version

[2021-05-05 07:21] whedon commented on #3167
I'm sorry @IndrajeetPatil, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-05-05 07:48] VivianePons commented on #2741
@whedon check references

[2021-05-05 07:49] whedon commented on #2741
[code]

[2021-05-05 08:25] VivianePons commented on #2741
Thank you @shahmoradi for the fixes! Could you make an archive (on Zenodo, figshare, or other) of the software and give me the DOI? Be careful to use the same metadata as the paper (title and authors)

Thank you

[2021-05-05 08:44] arfon commented on #3148
Apologies, I should have been a little more explicit in my question here.

I'm responding to this comment ☝️ that you made above about there being papers describing the methods already in the literature.

In theory yes! But we're also sensitive to the idea of double-publishing for the same scholarly work, i.e., a paper describing the method, and a second (likely JOSS) paper describing the implemen

[2021-05-05 08:45] vissarion commented on #2885
Sure, happy to help. Most probably I should find time in the next month.

[2021-05-05 09:17] whedon opened #3248 "[PRE REVIEW]: OpenOmics: A bioinformatics API to integrate multi-omics datasets and interface with public databases"
**Submitting author:** @JonnyTran (<a href="http://orcid.org/0000-0002-2575-9633">Nhat Tran</a>)
**Repository:** <a href="https://github.com/BioMeCIS-Lab/OpenOmics" target ="_blank">https://github.com/BioMeCIS-Lab/OpenOmics</a>
**Version:** v0.8.8
**Editor:** @arfon
**Reviewers:** @arfon
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-05-05 09:17] whedon commented on #3248
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-05 09:18] arfon commented on #3248
Fast-tracking this submission because it has already been reviewed in https://github.com/pyOpenSci/software-review/issues/31#issuecomment-832451199

[2021-05-05 09:18] arfon commented on #3248
@whedon assign me as editor

[2021-05-05 09:18] whedon commented on #3248
OK, the editor is @arfon

[2021-05-05 09:18] arfon commented on #3248
@whedon assign @arfon as reviewer

[2021-05-05 09:18] whedon commented on #3248
OK, @arfon is now a reviewer

[2021-05-05 09:19] arfon commented on #3248
@whedon start review

[2021-05-05 09:19] whedon opened #3249 "[REVIEW]: OpenOmics: A bioinformatics API to integrate multi-omics datasets and interface with public databases"
**Submitting author:** @JonnyTran (<a href="http://orcid.org/0000-0002-2575-9633">Nhat Tran</a>)
**Repository:** <a href="https://github.com/BioMeCIS-Lab/OpenOmics" target ="_blank">https://github.com/BioMeCIS-Lab/OpenOmics</a>
**Version:** v0.8.8
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.4731011" target="_blank">10.5281/zenodo.4731011</a>

**:war

[2021-05-05 09:19] whedon commented on #3248
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3249.

[2021-05-05 09:19] #3248 closed

[2021-05-05 09:19] whedon commented on #3249
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theo

[2021-05-05 09:20] arfon commented on #3249
Fast-tracking this submission because it has already been reviewed in https://github.com/pyOpenSci/software-review/issues/31#issuecomment-832451199

[2021-05-05 09:20] whedon commented on #3248
[code]

[2021-05-05 09:21] whedon commented on #3248
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03248/joss.03248/10.21105.joss.03248.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03248/joss.03248/10.21105.joss.03248.pdf) :page_facing_up: :point_left:

[2021-05-05 09:22] whedon commented on #3249
[code]

[2021-05-05 09:24] whedon commented on #3249
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03249/joss.03249/10.21105.joss.03249.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03249/joss.03249/10.21105.joss.03249.pdf) :page_facing_up: :point_left:

[2021-05-05 09:25] whedon commented on #3248
[code]

[2021-05-05 09:26] whedon commented on #3249
[code]

[2021-05-05 09:56] gouarin commented on #2555
Hi,

sorry for the delay.

walberla and pylbm also offer GPU support and are open source. I understand that GPU is an advantage but it doesn't make your library unique.

I still not see the equations and the LB scheme that you use. Could you describe them precisely? In that way, the reader will not have to read the papers to have a first idea of what kind of equation and LB scheme can be used.

Yo

[2021-05-05 10:21] arfon commented on #2927
@whedon set 10.5281/zenodo.4737824 as archive

[2021-05-05 10:21] whedon commented on #2927
OK. <a href="https://doi.org/10.5281/zenodo.4737824" target="_blank">10.5281/zenodo.4737824</a> is the archive.

[2021-05-05 10:21] arfon commented on #2927
@whedon generate pdf

[2021-05-05 10:21] whedon commented on #2927
PDF failed to compile for issue #2927 with the following error:
[code]

[2021-05-05 10:23] robertmartin8 commented on #3066
Awesome, thanks Steven! All fixed.

[2021-05-05 10:24] arfon commented on #2927
@whedon generate pdf from branch joss

[2021-05-05 10:25] whedon commented on #2927
[code]

[2021-05-05 10:25] whedon commented on #2927
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02927/joss.02927/10.21105.joss.02927.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02927/joss.02927/10.21105.joss.02927.pdf) :page_facing_up: :point_left:

[2021-05-05 10:53] IndrajeetPatil commented on #3236
@whedon generate pdf

[2021-05-05 10:54] whedon commented on #3236
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: :point_left:

[2021-05-05 12:36] donaldRwilliams commented on #3148
I am sorry, but I have to be frank.

I am quite literally reviewing a JOSS work that is actually **fewer lines** of code and computes a **summary** of what my package would provide. I have even consulted with the other reviewer, as we are both in the field, and he agreed that this is quite frustrating given the scope of this package compared to that one

The package here does the following
![image

[2021-05-05 12:42] donaldRwilliams commented on #3148
@arfon

Note also I really much like the aims of this journal and respect very much the work you all do. And this frustration on my part will in no way compromise my review of that paper (https://github.com/openjournals/joss-reviews/issues/2944).

If you are going to reject the paper, please just do so with the option to resubmit.

I can just add the other functions in, when I have time, and we ca

[2021-05-05 13:25] majensen commented on #3246
@kthyng I am happy to handle this submission when you are ready.

[2021-05-05 14:07] kthyng commented on #2721
looks good!

[2021-05-05 14:07] kthyng commented on #2721
@whedon accept deposit=true from branch joss-article-review1

[2021-05-05 14:07] vissarion commented on #3066
@whedon generate pdf

[2021-05-05 14:07] whedon commented on #2721
[code]

[2021-05-05 14:07] kthyng commented on #3246
woohoo! Thanks @majensen!

[2021-05-05 14:08] whedon commented on #3066
PDF failed to compile for issue #3066 with the following error:
[code]

[2021-05-05 14:09] kthyng commented on #3246
@whedon assign @majensen as editor

[2021-05-05 14:09] whedon commented on #3246
OK, the editor is @majensen

[2021-05-05 14:11] whedon commented on #2721
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1389945882959917057) 👈 🐦🐦🐦

[2021-05-05 14:11] whedon commented on #2721
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2280
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02721](https://doi.org/10.21105/joss.02721)
2. If everything look

[2021-05-05 14:13] kthyng commented on #2721
Congrats on your new publication @FrancisBanville! Many thanks to editor @KristinaRiemer and reviewers @kellykochanski and @arbennett for your time, hard work, and expertise!!

[2021-05-05 14:13] #2721 closed

[2021-05-05 14:13] whedon commented on #2721
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02721/status.svg)](https://doi.org/10.21105/joss.02721)

**We need your help!**

Journal of Open Source Softwa

[2021-05-05 14:14] kthyng commented on #3245
@whedon generate pdf from joss_paper

[2021-05-05 14:14] whedon commented on #3245
PDF failed to compile for issue #3245 with the following error:
[code]

[2021-05-05 14:15] vprusso commented on #3082
Hi @poulson. All great suggestions. Updated accordingly in https://github.com/vprusso/toqito/commit/0cb52bd625de25f8149903f7f52ade91b918ed1f

And yes, I do have a DOI on Zenodo which I can provide below:
10.5281/zenodo.3699578

Thanks again for your comments, and let me know if I can provide anything else. Thanks again!

[2021-05-05 14:18] FrancisBanville commented on #2721
Great, thank you so much @kthyng, @KristinaRiemer, @kellykochanski, and @arbennett for your time and useful comments! 🎉

[2021-05-05 14:23] psu-efd commented on #3180
Thanks, @kthyng for picking up this paper.

I saw there is a message about the paper not compiling. Please let me know if I can be of any help to resolve the issue.

[2021-05-05 14:23] kthyng commented on #3045
@grburgess Thank you! I have gone ahead and checked off the boxes on your behalf to indicate your completion of the review.

Unfortunately while I was doing that, I noticed that 2 boxes are unchecked from @cescalara. @cescalara could you please check the two boxes to indicate that you are finished with your review? Thank you!

[2021-05-05 14:24] cescalara commented on #3045
@kthyng Sorry I forgot - now done!

[2021-05-05 14:30] kthyng commented on #3245
@openjournals/dev The JOSS paper is located by itself at branch `joss_paper`, but I can't compile it from there. Any ideas?

[2021-05-05 14:34] kthyng commented on #3245
Hi @jamesrhester and thanks for your submission. I have added this to our backlog of submissions due to the relevant editors being overburdened at the moment. Thank you for your patience.

[2021-05-05 14:35] vissarion commented on #3066
@whedon generate pdf from branch joss-dev

[2021-05-05 14:35] whedon commented on #3066
[code]

[2021-05-05 14:35] whedon opened #3250 "[PRE REVIEW]: BOLD.R: A bridge between the Barcode of Life Database System and the Statistical Software R"
**Submitting author:** @nishanmudalige (<a href="http://orcid.org/0000-0003-3981-9868">Nishan Mudalige</a>)
**Repository:** <a href="https://github.com/nishanmudalige/BOLD.R" target ="_blank">https://github.com/nishanmudalige/BOLD.R</a>
**Version:** 0.4.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2021-05-05 14:36] whedon commented on #3250
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-05 14:36] whedon commented on #3250
[code]

[2021-05-05 14:36] whedon commented on #3250
Failed to discover a valid open source license.

[2021-05-05 14:36] whedon commented on #3066
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03066/joss.03066/10.21105.joss.03066.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03066/joss.03066/10.21105.joss.03066.pdf) :page_facing_up: :point_left:

[2021-05-05 14:36] whedon commented on #3250
[code]

[2021-05-05 14:36] whedon opened #3251 "[PRE REVIEW]: The SAGE Rejected Article Tracker"
**Submitting author:** @ad48 (<a href="http://orcid.org/0000-0002-8529-9990">Adam Day</a>)
**Repository:** <a href="https://github.com/sagepublishing/rejected_article_tracker_pkg" target ="_blank">https://github.com/sagepublishing/rejected_article_tracker_pkg</a>
**Version:** 1.5.0
**Editor:** @danielskatz
**Reviewers:** @mfenner, @dhimmel
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced

[2021-05-05 14:37] whedon commented on #3251
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-05 14:37] whedon opened #3252 "[PRE REVIEW]: lenstronomy II: A gravitational lensing software ecosystem"
**Submitting author:** @sibirrer (<a href="http://orcid.org/0000-0003-3195-5507">Simon Birrer</a>)
**Repository:** <a href="https://github.com/sibirrer/lenstronomy" target ="_blank">https://github.com/sibirrer/lenstronomy</a>
**Version:** v1.8.1
**Editor:** @danielskatz
**Reviewers:** @smsharma, @coljac
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-05-05 14:37] whedon commented on #3252
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-05 14:37] whedon commented on #3251
[code]

[2021-05-05 14:37] whedon commented on #3251
[code]

[2021-05-05 14:37] whedon opened #3253 "[PRE REVIEW]: Human-Learn"
**Submitting author:** @koaning (<a href="http://orcid.org/0000-0003-0845-4528">Vincent Warmerdam</a>)
**Repository:** <a href="https://github.com/koaning/human-learn/" target ="_blank">https://github.com/koaning/human-learn/</a>
**Version:** 0.3.0
**Editor:** @jbytecode
**Reviewers:** @desilinguist, @ahurriyetoglu
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

[2021-05-05 14:37] whedon commented on #3253
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-05 14:37] whedon commented on #3250
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03250/joss.03250/10.21105.joss.03250.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03250/joss.03250/10.21105.joss.03250.pdf) :page_facing_up: :point_left:

[2021-05-05 14:37] whedon opened #3254 "[PRE REVIEW]: DataLad: distributed system for joint management of code, data, and their relationship"
**Submitting author:** @yarikoptic (<a href="http://orcid.org/0000-0003-3456-2493">Yaroslav Halchenko</a>)
**Repository:** <a href="https://github.com/datalad/datalad" target ="_blank">https://github.com/datalad/datalad</a>
**Version:** 0.14.3
**Editor:** @arokem
**Reviewers:** @szorowi1, @jkanche
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challe