[2021-07-02 13:53] anki-xyz commented on #3441
@arfon thanks! Let me know if I can provide any further information

[2021-07-02 14:08] ncohn commented on #3407
Thanks for looking at this initial submission @kbarnhart. We had tested on
numerous internal computers ahead of time, but looks like there is a
pathing issue related to the .xlsx file we'll almost certainly have to
resolve that went unnoticed. As for the other items, sorry if there was
confusion on our part that was required. We will correct accordingly if we
decide to resubmit to JOSS. Really app

[2021-07-02 14:28] whedon commented on #3384
:wave: @rougier, please update us on how your review is going (this is an automated reminder).

[2021-07-02 14:28] whedon commented on #3384
:wave: @chrishavlin, please update us on how your review is going (this is an automated reminder).

[2021-07-02 14:31] dfm commented on #3402
@whedon assign me as editor

Sure - I'm happy to edit!

@landreman: let me know if you have any reviewer recommendations from [our main list of volunteers](https://bit.ly/joss-reviewers) or if there's anyone else who you think would be particularly well suited (include their github handle, but don't @ them because then they'll get inundated with notifications :D). I'll do a first pass of editing a

[2021-07-02 14:31] whedon commented on #3402
OK, the editor is @dfm

[2021-07-02 14:36] phamvanvung opened #3445 "References: Is the list of references complete, and is everything cited appropriately that should be cited (e.g., papers, datasets, software)? Do references in the text use the proper citation syntax?"

[2021-07-02 14:36] whedon commented on #3445
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-02 14:36] whedon commented on #3445
Downloading of the repository (to analyze the language) for issue #3445 failed with the following error:
[code]

[2021-07-02 14:36] whedon commented on #3445
Downloading of the repository (to check the bibtex) failed for issue #3445 failed with the following error:
[code]

[2021-07-02 14:36] whedon commented on #3445
PDF failed to compile for issue #3445 with the following error:
[code]

[2021-07-02 14:40] phamvanvung commented on #3384
Hi,
For me, the automated test issue is minor and might due to version differences in my environment.
I now changed the references to be a blocker and I think it should be easy and quick for the authors to fix.

[2021-07-02 14:46] kbarnhart commented on #3407
@ncohn glad the feedback was helpful. Looking forward to seeing this resubmitted. It looks to be a great tool and a valuable contribution. If you have any questions or clarifications as you prepare to resubmit, feel free to discuss here or open a pre-submission inquiry [here](https://github.com/openjournals/joss/issues/new?title=Pre-submission%20enquiry) and tag me.

[2021-07-02 14:51] danielskatz commented on #3445
HI @phamvanvung - I see you've opened this issue in https://github.com/openjournals/joss-reviews/issues, but it is not a new JOSS review; rather it's part of the review of https://github.com/openjournals/joss-reviews/issues/3384, so it should be opened in the code repository for that review, which is https://github.com/fury-gl/fury

Since GitHub doesn't really make it possible to move an issue, ca

[2021-07-02 14:51] PTierz commented on #3436
Hello @elbeejay,

Very many thanks for your message and your encouraging words. We sincerely believe that `PyVOLCANS` [v1.1.2](https://github.com/BritishGeologicalSurvey/pyvolcans/tree/v1.1.2) can already represent a very important step forward for our community.

Unfortunately, the second half of this week has been quite busy, and I will not be able to provide you with substantial feedback on you

[2021-07-02 14:53] danielskatz commented on #3384
@phamvanvung - Can you be specific (in the copy of the issue that you will create in https://github.com/fury-gl/fury) about what you think needs to be changed?

[2021-07-02 14:54] justinshenk commented on #3202
New DOI for v0.2.10: 10.5281/zenodo.5061968
@whedon check references
Hopefully good to go now :)

[2021-07-02 14:57] justinshenk commented on #3202
@whedon check references

[2021-07-02 14:58] whedon commented on #3202
[code]

[2021-07-02 14:59] justinshenk commented on #3202
@whedon generate pdf

[2021-07-02 15:00] whedon commented on #3202
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: :point_left:

[2021-07-02 15:00] justinshenk commented on #3202
@whedon check references

[2021-07-02 15:01] whedon commented on #3202
[code]

[2021-07-02 15:06] justinshenk commented on #3202
@whedon check references

[2021-07-02 15:07] whedon commented on #3202
[code]

[2021-07-02 15:11] elbeejay commented on #3436
Great, this is no problem, please take as much time as you need.

[2021-07-02 16:01] osorensen commented on #3328
Thanks @professoralkmin, starting next week is perfectly fine.

[2021-07-02 16:03] osorensen commented on #3328
@whedon add @professoralkmin as reviewer

[2021-07-02 16:03] whedon commented on #3328
OK, @professoralkmin is now a reviewer

[2021-07-02 16:07] jmsexton03 commented on #3068
I have created the tagged release: https://github.com/AMReX-Astro/Nyx/releases/tag/21.07
I have published a zenodo release associated with that tag: https://zenodo.org/record/5059767

The incremented tag is 21.07
The zenodo DOI for 21.07 is: 10.5281/zenodo.5059767
The zenodo DOI for "All Versions" is 10.5281/zenodo.5059766

[2021-07-02 16:11] jmschrei commented on #3373
I think that @pmeier would be a good reviewer, but that we should also get someone with experience in TensorFlow as well. @n3011 do you have any recommendations on people outside this project that might provide good feedback?

[2021-07-02 16:12] jmschrei commented on #3373
@whedon add @pmeier as reviewer

[2021-07-02 16:12] whedon commented on #3373
OK, @pmeier is now a reviewer

[2021-07-02 16:15] bob-carpenter commented on #3117
Thanks for inviting me.  I read through your checklist of reviewing requirements and think they're great.  But I'm not going to have time to carry out such a thorough review.  I am happy to answer specific questions about the usage of Stan or about Bayesian modeling and will see pings or answer emails.

Another good person to ask would be @colemonnahan --- he's a fisheries scientist and knows Stan

[2021-07-02 16:21] jmschrei commented on #3373
@whedon add @younglululu as reviewer

[2021-07-02 16:21] whedon commented on #3373
OK, @younglululu is now a reviewer

[2021-07-02 16:21] jmschrei commented on #3373
@whedon start review

[2021-07-02 16:22] whedon opened #3446 "[REVIEW]: Datum: Creating and loading TFRecord datasets"
**Submitting author:** @n3011 (<a href="http://orcid.org/0000-0002-0059-2822">Mrinal Haloi</a>)
**Repository:** <a href="https://github.com/openAGI/datum" target ="_blank">https://github.com/openAGI/datum</a>
**Version:** 1.1.0
**Editor:** @jmschrei
**Reviewer:** @pmeier, @younglululu
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pan

[2021-07-02 16:22] whedon commented on #3373
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3446.

[2021-07-02 16:22] #3373 closed

[2021-07-02 16:22] whedon commented on #3446
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pmeier, @younglululu it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-07-02 16:22] whedon commented on #3446
[code]

[2021-07-02 16:22] whedon commented on #3446
PDF failed to compile for issue #3446 with the following error:
[code]

[2021-07-02 16:32] jmschrei commented on #3446
Howdy @pmeier and @younglululu

Thanks for agreeing to review this submission.

The process for conducting a review is outlined above in the checklist from @whedon. Please check the boxes during your review to keep track, as well as making comments in this thread or opening issues in the repository itself to point out issues you encounter. Keep in mind that our aim is to improve the submission to

[2021-07-02 16:36] jmschrei commented on #3446
@n3011 is there a paper for this submission? Is it possible to put it in a "paper" folder in the root directory?

[2021-07-02 16:44] danielskatz commented on #3446
@whedon generate pdf from branch joss

[2021-07-02 16:44] whedon commented on #3446
[code]

[2021-07-02 16:45] whedon commented on #3446
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03446/joss.03446/10.21105.joss.03446.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03446/joss.03446/10.21105.joss.03446.pdf) :page_facing_up: :point_left:

[2021-07-02 17:10] professoralkmin commented on #3328
@osorensen Thanks! Count on me to this review and others! :)

[2021-07-02 17:40] rougier commented on #3384
I'm waiting for author's feedback to update my review.

[2021-07-02 17:42] danielskatz commented on #3384
👋 @Garyfallidis ☝️

[2021-07-02 17:57] jmschrei commented on #3379
@whedon add @amtseng as reviewer

[2021-07-02 17:57] whedon commented on #3379
OK, @amtseng is now a reviewer

[2021-07-02 17:57] jmschrei commented on #3379
@whedon start review

[2021-07-02 17:57] whedon opened #3447 "[REVIEW]: COVID-19 Lung Segmentation"
**Submitting author:** @RiccardoBiondi (<a href="http://orcid.org/0000-0002-8682-3782">Riccardo Biondi</a>)
**Repository:** <a href="https://github.com/RiccardoBiondi/segmentation" target ="_blank">https://github.com/RiccardoBiondi/segmentation</a>
**Version:** 2.0.0
**Editor:** @jmschrei
**Reviewer:** @pps121, @amtseng
**Archive:** <a href="https://doi.org/10.5281/zenodo.5535568" target="_blank">

[2021-07-02 17:57] whedon commented on #3379
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3447.

[2021-07-02 17:57] #3379 closed

[2021-07-02 17:57] whedon commented on #3447
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pps121, @amtseng it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-07-02 17:58] whedon commented on #3447
[code]

[2021-07-02 17:58] whedon commented on #3447
[code]

[2021-07-02 17:58] whedon commented on #3447
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03447/joss.03447/10.21105.joss.03447.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03447/joss.03447/10.21105.joss.03447.pdf) :page_facing_up: :point_left:

[2021-07-02 17:59] jmschrei commented on #3447
Howdy @pps121 and @amtseng

Thanks for agreeing to review this submission.

The process for conducting a review is outlined above in the checklist from @whedon. Please check the boxes during your review to keep track, as well as making comments in this thread or opening issues in the repository itself to point out issues you encounter. Keep in mind that our aim is to improve the submission to the

[2021-07-02 18:02] jmschrei commented on #3408
@assign me as editor

[2021-07-02 18:03] jmschrei commented on #3408
@whedon assign me as editor

[2021-07-02 18:03] whedon commented on #3408
OK, the editor is @jmschrei

[2021-07-02 18:03] jmschrei commented on #3408
Howdy, I'll be serving as the editor for this submission. Let's grab some reviewers!

[2021-07-02 18:05] nick-gauthier commented on #3212
Same as above -- I'm not familiar with GCAM, etc, but happy to look at the R side of things.

[2021-07-02 18:05] jmschrei commented on #3408
Hi @bjmorgan and @richardjgowers, would either of you be able to serve as a reviewer for this submission?

[2021-07-02 18:17] kellyrowland commented on #3212
Thanks! I am out of office in the coming week, so if there are no other responses by the time I'm back (July 12), I'll ping one of you as the reviewer.

[2021-07-02 18:23] jmschrei commented on #3446
Thanks @danielskatz :)

[2021-07-02 18:24] danielskatz commented on #3446
@jmschrei - you can always look back at the prereview issue to see how the paper was generated when you aren't sure

[2021-07-02 18:59] Garyfallidis commented on #3384
Thank you all greatly for your reviews. Will get back to you at the soonest possible.

[2021-07-02 19:03] mbobra commented on #3331
👋 @ashleychontos It looks like you already got your answer -- but in any case, I will provide a rather vague response that as long as the reviewers feel (1) you have addressed their concerns and, (2) the software adheres to the JOSS guideline, I will accept the submission!

[2021-07-02 20:49] jbytecode commented on #3253
@whedon add @ahurriyetoglu as reviewer

[2021-07-02 20:49] whedon commented on #3253
OK, @ahurriyetoglu is now a reviewer

[2021-07-02 20:50] jbytecode commented on #3253
@whedon start review

[2021-07-02 20:50] whedon opened #3448 "[REVIEW]: Human-Learn"
**Submitting author:** @koaning (<a href="http://orcid.org/0000-0003-0845-4528">Vincent Warmerdam</a>)
**Repository:** https://github.com/koaning/human-learn/
**Branch with paper.md** (empty if default branch):
**Version:** 0.3.0
**Editor:** @jbytecode
**Reviewers:** @desilinguist, @ahurriyetoglu
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-07-02 20:50] whedon commented on #3253
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3448.

[2021-07-02 20:50] #3253 closed

[2021-07-02 20:50] whedon commented on #3448
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @desilinguist, @ahurriyetoglu it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-07-02 20:50] whedon commented on #3448
[code]

[2021-07-02 20:50] whedon commented on #3448
[code]

[2021-07-02 20:50] whedon commented on #3448
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: :point_left:

[2021-07-02 20:57] jbytecode commented on #3448
Dear @desilinguist  and @ahurriyetoglu ,

This is the review issue for the submission. There are 20 checkbox items for each reviewer. Please check the boxes during your review and make comments here. Since the reviewing is progressive, you can comment minor changes during the process so the authors can add/delete/correct changes simultaneously. You can also open new issues in the submitted reposit

[2021-07-02 21:28] mwt commented on #3352
@osorensen Sure. I'm happy to try reviewing it.

[2021-07-02 21:59] kellyrowland commented on #3212
/ooo July 3 until July 12

[2021-07-02 22:20] pikarpov-LANL commented on #3199
@whedon generate pdf from branch joss

[2021-07-02 22:20] whedon commented on #3199
[code]

[2021-07-02 22:21] whedon commented on #3199
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03199/joss.03199/10.21105.joss.03199.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03199/joss.03199/10.21105.joss.03199.pdf) :page_facing_up: :point_left:

[2021-07-02 22:42] jsta commented on #3383
I'm not listed as a reviewer on the sidebar of the article proof.

[2021-07-02 23:42] danielskatz commented on #3383
@whedon generate pdf

[2021-07-02 23:43] whedon commented on #3383
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03383/joss.03383/10.21105.joss.03383.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03383/joss.03383/10.21105.joss.03383.pdf) :page_facing_up: :point_left:

[2021-07-02 23:44] danielskatz commented on #3383
Now you are.  When the PDF you were looking at was generated, you weren't assigned as a reviewer in the issue, and now that you are, I've regenerated the PDF and it shows you.

[2021-07-02 23:45] danielskatz commented on #3445
I'm going to go ahead and do this to clean and close this issue

[2021-07-02 23:45] #3445 closed

[2021-07-02 23:48] danielskatz commented on #3445
See https://github.com/fury-gl/fury/issues/450 for the new version of this issue

[2021-07-03 02:28] dbarneche commented on #3352
Apologies I am unavailable to review papers until the 16th of August.

[2021-07-03 02:49] jni commented on #3202
@whedon set 10.5281/zenodo.5062086 as archive

[2021-07-03 02:49] whedon commented on #3202
OK. <a href="https://doi.org/10.5281/zenodo.5062086" target="_blank">10.5281/zenodo.5062086</a> is the archive.

[2021-07-03 02:49] jni commented on #3202
@whedon set v0.2.12 as version

[2021-07-03 02:49] whedon commented on #3202
OK. v0.2.12 is the version.

[2021-07-03 02:50] jni commented on #3202
@whedon recommend-accept

[2021-07-03 02:50] whedon commented on #3202
[code]

[2021-07-03 02:50] whedon commented on #3202
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2429

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2429, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-03 02:51] whedon commented on #3202
[code]

[2021-07-03 02:51] jni commented on #3202
@openjournals/joss-eics apologies for the false start above. This is now actually ready for acceptance and publication! 🎉

[2021-07-03 08:00] whedon commented on #3386
:wave: @pvermees, please update us on how your review is going (this is an automated reminder).

[2021-07-03 08:00] whedon commented on #3386
:wave: @bovee, please update us on how your review is going (this is an automated reminder).

[2021-07-03 08:42] ajstewartlang commented on #3401
@whedon add @da5nsy as reviewer

[2021-07-03 08:42] whedon commented on #3401
OK, @da5nsy is now a reviewer

[2021-07-03 08:44] ajstewartlang commented on #3401
Many thanks @spitschan @takuma929 and @da5nsy for agreeing to review this submission - it's much appreciated - I'll open the review issue now...

[2021-07-03 08:44] ajstewartlang commented on #3401
@whedon start review

[2021-07-03 08:44] whedon opened #3449 "[REVIEW]: SHINE_color: controlling low-level properties of colorful images"
**Submitting author:** @RodDalBen (<a href="http://orcid.org/0000-0003-2185-8762">Rodrigo Dal Ben</a>)
**Repository:** <a href="https://github.com/RodDalBen/SHINE_color" target ="_blank">https://github.com/RodDalBen/SHINE_color</a>
**Version:** 0.0.2
**Editor:** @ajstewartlang
**Reviewers:** @spitschan, @takuma929, @da5nsy, @fredericgosselin
**Archive:** Pending

**:warning: JOSS reduced service m

[2021-07-03 08:44] whedon commented on #3401
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3449.

[2021-07-03 08:44] #3401 closed

[2021-07-03 08:45] whedon commented on #3449
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @spitschan, @takuma929, @da5nsy it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2021-07-03 08:45] whedon commented on #3449
Failed to discover a `Statement of need` section in paper

[2021-07-03 08:45] whedon commented on #3449
[code]

[2021-07-03 08:45] whedon commented on #3449
[code]

[2021-07-03 08:45] whedon commented on #3449
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03449/joss.03449/10.21105.joss.03449.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03449/joss.03449/10.21105.joss.03449.pdf) :page_facing_up: :point_left:

[2021-07-03 11:36] osorensen commented on #3352
@whedon add @mwt as reviewer

[2021-07-03 11:37] whedon commented on #3352
OK, @mwt is now a reviewer

[2021-07-03 11:37] osorensen commented on #3352
@dbarneche, that's absolutely fine. Thanks for your quick response!

[2021-07-03 11:55] giodegas commented on #3312
@whedon I ma waiting from the authors to setup a better software distribution as described in my previous comment.

[2021-07-03 11:55] whedon commented on #3312
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-03 12:45] dfm commented on #3068
@whedon generate pdf

[2021-07-03 12:46] whedon commented on #3068
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03068/joss.03068/10.21105.joss.03068.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03068/joss.03068/10.21105.joss.03068.pdf) :page_facing_up: :point_left:

[2021-07-03 12:48] dfm commented on #3068
Thanks @jmsexton03! Everything is looking good from my end. Can you take one last look at the proofs 👆 and then, once you sign off, we'll be good to go!

[2021-07-03 13:29] dhimmel commented on #3348
Went through my open issues and closed the resolved ones. Still one remaining.

[2021-07-03 14:49] ayush-1506 commented on #3052
@gkthiruvathukal Yes, will be pushing a few changes this week. Thanks for your patience. Will ping here once we can move forward.

[2021-07-03 15:24] OwenWard commented on #3352
@osorensen sure, I'm happy to do it.

[2021-07-03 16:03] osorensen commented on #3352
@whedon add @OwenWard as reviewer

[2021-07-03 16:03] whedon commented on #3352
OK, @OwenWard is now a reviewer

[2021-07-03 17:24] lpantano commented on #3201
@whedon set v0.7.9 as version

[2021-07-03 17:24] whedon commented on #3201
OK. v0.7.9 is the version.

[2021-07-03 17:26] lpantano commented on #3201
@david-barnett, thank you for the link. A final detail is that the zenodo archive has to match the title and the authors as they appear in the paper. I think that would be the only modification needed. Thanks!

[2021-07-03 18:10] arfon commented on #3202
@justinshenk – could you update the Seaborn reference to the JOSS paper please (https://doi.org/10.21105/joss.03021) ? (looking at their README I think this is the preferred citation now)

[2021-07-03 21:05] arfon commented on #3290
@joseph-palmer – please merge this change which fixes the footnotes for your paper.

[2021-07-03 21:06] arfon commented on #3290
Note to @openjournals/joss-eics – this PR needs merging before publishing.

[2021-07-04 07:50] whedon opened #3450 "[PRE REVIEW]: MMM: A C++ library for simulating large herbivores"
**Submitting author:** @wtraylor (<a href="http://orcid.org/0000-0002-4813-1072">Wolfgang Traylor</a>)
**Repository:** <a href="https://github.com/wtraylor/modular_megafauna_model" target ="_blank">https://github.com/wtraylor/modular_megafauna_model</a>
**Version:** 1.1.0
**Editor:** @diehlpk
**Reviewers:** @dirmeier, @StefanOlin
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service

[2021-07-04 07:51] whedon commented on #3450
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-04 07:51] whedon commented on #3450
PDF failed to compile for issue #3450 with the following error:
[code]

[2021-07-04 07:51] whedon commented on #3450
[code]

[2021-07-04 07:51] whedon commented on #3450
Failed to discover a valid open source license.

[2021-07-04 07:52] Kevin-Mattheus-Moerman commented on #3450
@whedon generate pdf from branch joss-paper

[2021-07-04 07:52] whedon commented on #3450
[code]

[2021-07-04 07:52] whedon commented on #3450
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03450/joss.03450/10.21105.joss.03450.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03450/joss.03450/10.21105.joss.03450.pdf) :page_facing_up: :point_left:

[2021-07-04 08:00] Kevin-Mattheus-Moerman commented on #3450
@whedon check references from branch joss-paper

[2021-07-04 08:00] whedon commented on #3450
[code]

[2021-07-04 08:01] whedon commented on #3450
[code]

[2021-07-04 08:02] Kevin-Mattheus-Moerman commented on #3450
@wtraylor thanks for this submission. I will do an initial scope check and will search for a handling editor for this submission. In the mean time can you work on the following:

- [ ] I suggest you add a plain `LICENSE` file for your repository in the main folder. This way both GitHub and also our systems can detect the open source license for this work.  I see you have a LICENSES folder but perh

[2021-07-04 08:10] Kevin-Mattheus-Moerman commented on #3450
@wtraylor I've just assigned the `waitlisted` label to this paper. This is because the editors in this domain are currently all handling other submissions. We will assign a suitable editor once one becomes available.

@KristinaRiemer perhaps when you are available we could invite you to handle this?

[2021-07-04 08:10] whedon opened #3451 "[PRE REVIEW]: popoff: POtential Parameter Optimisation for Force-Fields"
**Submitting author:** @LMMorgan (<a href="http://orcid.org/0000-0002-6432-3760">Lucy M. Morgan</a>)
**Repository:** <a href="https://github.com/LMMorgan/PopOff" target ="_blank">https://github.com/LMMorgan/PopOff</a>
**Version:** v1.0.0
**Editor:** @dpsanders
**Reviewers:** @marshallmcdonnell, @lscalfi
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-07-04 08:10] whedon commented on #3451
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-04 08:11] whedon commented on #3451
[code]

[2021-07-04 08:11] whedon commented on #3451
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03451/joss.03451/10.21105.joss.03451.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03451/joss.03451/10.21105.joss.03451.pdf) :page_facing_up: :point_left:

[2021-07-04 08:12] whedon commented on #3451
[code]

[2021-07-04 08:22] jbytecode commented on #3430
Dear reviewer @sylvaticus

Thank you very much for your suggestions. Both the software and the paper are now better thanks to your comments. Here is the summary of my changes:

- Added `mcdm(df, w, fns, method)` type dispatch. For example

`julia> mcdm(df, w, fns, TopsisMethod()) `

now works. All of the methods are implemented in the same way and the methods that have optional parameters work sim

[2021-07-04 08:22] jbytecode commented on #3430
@whedon compile pdf

[2021-07-04 08:22] whedon commented on #3430
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-04 08:23] jbytecode commented on #3430
@whedon generate pdf

[2021-07-04 08:23] whedon commented on #3430
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: :point_left:

[2021-07-04 08:24] jbytecode commented on #3430
@whedon check references

[2021-07-04 08:24] whedon commented on #3430
[code]

[2021-07-04 08:26] Kevin-Mattheus-Moerman commented on #3451
@whedon invite @dpsanders as editor

[2021-07-04 08:26] whedon commented on #3451
@dpsanders has been invited to edit this submission.

[2021-07-04 08:28] thelfer commented on #2945
@diehlpk My concerns about the paper have been adressed in the current version (of the paper). Thus I recommend its publication and asked @jedbrown to close Ticket 756 (https://github.com/CEED/libCEED/issues/756). Please remind me if I have to make other tasks.
Best,
Thomas

[2021-07-04 09:08] jbytecode commented on #3387
Hi @mwt, would you be willing to assist in reviewing this submission for JOSS?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "bmgarch: An R-Package for Bayesian Multivariate GARCH models". You can find more information at the top of this Github issue.

The review process at JOSS is unique: it takes place in a GitHub issue, is open, a

[2021-07-04 14:15] mwt commented on #3352
@whedon commands

[2021-07-04 14:15] whedon commented on #3352
Here are some things you can ask me to do:

[code]

[2021-07-04 14:17] mwt commented on #3352
Are we ready to change this from pre-review to review? I'm guessing we need to do that to make the checklist appear, but I haven't done this before.

[2021-07-04 14:30] mwt commented on #3387
Hi @jbytecode. Sure, I'm happy to give it a try. I also just started reviewing #3352 just so you know. I should be able to do both unless I am underestimating how much time this takes.

I am a little concerned by:

Because I thought that you're not supposed to publish code in JOSS that is published elsewhere.

[2021-07-04 14:34] diehlpk commented on #2945
@thelfer Thanks, you are done with the review. I wait for @jedbrown to add address the issue, I mentioned above and I will recommend the paper for acceptance.

[2021-07-04 14:43] jbytecode commented on #3387
Dear @mwt,

It is not problem to have two distinct reviewing jobs at the same time. The deadline is not rigid so we can wait a little while.

The citation you have mentioned is a research paper. It is usual to have a research published somewhere else and submit a paper about its software and repository in JOSS. Thank you very much for your attention and reminder.

[2021-07-04 14:44] jbytecode commented on #3387
@whedon add @mwt as reviewer

[2021-07-04 14:44] whedon commented on #3387
OK, @mwt is now a reviewer

[2021-07-04 14:46] jbytecode commented on #3387
@whedon start review

[2021-07-04 14:46] whedon opened #3452 "[REVIEW]: bmgarch: An R-Package for Bayesian Multivariate GARCH models"
**Submitting author:** @ph-rast (<a href="http://orcid.org/0000-0003-3630-6629">Philippe Rast</a>)
**Repository:** <a href="https://github.com/ph-rast/bmgarch" target ="_blank">https://github.com/ph-rast/bmgarch</a>
**Version:** v1.0.1
**Editor:** @jbytecode
**Reviewer:** @ChristopherLucas, @mwt
**Archive:** <a href="https://doi.org/10.5281/zenodo.5168675" target="_blank">10.5281/zenodo.5168675</a

[2021-07-04 14:46] whedon commented on #3387
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3452.

[2021-07-04 14:46] #3387 closed

[2021-07-04 14:46] whedon commented on #3452
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ChristopherLucas, @mwt it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-07-04 14:46] whedon commented on #3452
[code]

[2021-07-04 14:46] whedon commented on #3452
[code]

[2021-07-04 14:47] whedon commented on #3452
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03452/joss.03452/10.21105.joss.03452.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03452/joss.03452/10.21105.joss.03452.pdf) :page_facing_up: :point_left:

[2021-07-04 14:48] jbytecode commented on #3452
Dear @ChristopherLucas  and @mwt,

This is the review issue for the submission. There are 20 checkbox items for each reviewer. Please check the boxes during your review and make comments here. Since the reviewing is progressive, you can comment minor changes during the process so the authors can add/delete/correct changes simultaneously.

You can also open new issues in the submitted repository an

[2021-07-04 15:11] osorensen commented on #3352
@mwt, thanks for following up :)

[2021-07-04 15:11] osorensen commented on #3352
@whedon start review

[2021-07-04 15:11] whedon opened #3453 "[REVIEW]: mcboost: Multi-Calibration Boosting for R"
**Submitting author:** @pfistfl (<a href="http://orcid.org/0000-0001-8867-762X">Florian Pfisterer</a>)
**Repository:** <a href="https://github.com/mlr-org/mcboost" target ="_blank">https://github.com/mlr-org/mcboost</a>
**Version:** v.0.3.3
**Editor:** @osorensen
**Reviewer:** @mwt, @OwenWard
**Archive:** <a href="https://doi.org/10.5281/zenodo.5156518" target="_blank">10.5281/zenodo.5156518</a>

[2021-07-04 15:11] whedon commented on #3352
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3453.

[2021-07-04 15:11] #3352 closed

[2021-07-04 15:11] whedon commented on #3453
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mwt, @OwenWard it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2021-07-04 15:12] whedon commented on #3453
[code]

[2021-07-04 15:12] whedon commented on #3453
[code]

[2021-07-04 15:12] whedon commented on #3453
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03453/joss.03453/10.21105.joss.03453.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03453/joss.03453/10.21105.joss.03453.pdf) :page_facing_up: :point_left:

[2021-07-04 15:14] osorensen commented on #3328
@professoralkmin, perfect! We're waiting for another reviewer before starting the review process.

[2021-07-04 16:40] seabbs commented on #3290
PR merged - thanks.

[2021-07-04 19:17] mwt commented on #3452
Hi! There are other GARCH estimators in R (eg. in `tseries`), but the SoN makes it sound like this is the first in a non-proprietary language. The R package `bayesGARCH` looks particularly similar. I think that the SoN should explain the differences between this and these other R packages.

[2021-07-04 23:29] PhilBoileau commented on #3273
I've addressed @yunanwu123's comments in a recent PR. Apologies for the delay! Please let me know if there is anything else that you would like me to address.

[2021-07-05 01:36] MikeLydeamore commented on #3438
@Nikoleta-v3 I have completed my review and have no comments on the work. The software runs as expected and the paper meets the recommended guidelines.

[2021-07-05 02:25] stemangiola commented on #3358
Hello @llrs,

I have read the article and done my review. I attach it as a WORD files with comments.

Please also have a look at my wishlist above, for the requirements that have not been ticked.

[10.21105.joss.03358.docx](https://github.com/openjournals/joss-reviews/files/6761190/10.21105.joss.03358.docx)

[2021-07-05 06:33] tresoldi commented on #3351
Hi, sorry for the delay. I expect to finish my review tomorrow, and while I will have some comments I will also endorse the publication.

[2021-07-05 06:48] Kevin-Mattheus-Moerman commented on #3290
@whedon accept

[2021-07-05 06:48] whedon commented on #3290
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-07-05 06:48] Kevin-Mattheus-Moerman commented on #3290
@whedon recommend-accept

[2021-07-05 06:48] whedon commented on #3290
[code]

[2021-07-05 06:49] whedon commented on #3290
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2430

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2430, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-05 06:49] whedon commented on #3290
[code]

[2021-07-05 06:56] Kevin-Mattheus-Moerman commented on #3290
@whedon accept deposit=true

[2021-07-05 06:56] whedon commented on #3290
[code]

[2021-07-05 06:57] whedon commented on #3290
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1411942269159194624) 👈 🐦🐦🐦

[2021-07-05 06:57] whedon commented on #3290
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2431
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03290](https://doi.org/10.21105/joss.03290)
2. If everything look

[2021-07-05 07:00] Kevin-Mattheus-Moerman commented on #3290
Congratulation @joseph-palmer this work is now published in JOSS!

Thanks @mponce0 and @federicomarini for reviewing this work!!!

Also thank you @csoneson for editing.

[2021-07-05 07:00] #3290 closed

[2021-07-05 07:00] whedon commented on #3290
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03290/status.svg)](https://doi.org/10.21105/joss.03290)

**We need your help!**

Journal of Open Source Softwa

[2021-07-05 07:00] hugoledoux commented on #3365
@hechth would you be willing to review this? You seem a good fit.

[2021-07-05 07:02] justinshenk commented on #3202
Thanks @arfon, the corrected version is v0.2.13 with DOI 10.5281/zenodo.5069231.

[2021-07-05 07:06] hugoledoux commented on #3346
@gro5-AberUni the idea is that you consider @jorgegil comments and improve the plugin and let us know here what was modified and how.

👋 @Geogoeroe you haven't ticked any of the chechboxes above, is it because you don't have write access? If so I can reinvite you.

[2021-07-05 07:23] benjaminbolling commented on #3431
Dear @majensen, @magedhelmy1 and @ShantanuDash, I will update the document to provide a more clearer statement of need. Anything else you need from me to get going?

[2021-07-05 07:36] nandaloo commented on #3395
@vissarion I made a *tagged release* with number v1.0 located at https://github.com/lumen-org/lumen/releases/tag/v1.0
 Also, I *uploaded it at zenodo* under DOI 10.5281/zenodo.5069308. The url is https://doi.org/10.5281/zenodo.5069308

[2021-07-05 08:48] llrs commented on #3358
Many thanks @stemangiola for all the comments and suggestions. I have opened an issue on the repository to track the points raised. I'll wait until the second reviewer submit the review to address them.

[2021-07-05 08:58] eloisabentivegna commented on #2555
@gouarin, @ianhinder, thanks for taking a look at the current state of the submission, and for your thorough feedback.

@rclipp: the reviewers are expressing ongoing concerns about some aspects of the package (whilst appreciating its general shape and leaning towards publication). These concerns have been raised before and remain unaddressed.

Please perform the requested changes and answer their

[2021-07-05 09:37] EduPH commented on #3438
I agree with @MikeLydeamore . @Nikoleta-v3, the software was revised and all the review tasks were satisfied.

[2021-07-05 09:37] VivianePons commented on #3315
@whedon add @kellertuer as reviewer

[2021-07-05 09:37] whedon commented on #3315
OK, @kellertuer is now a reviewer

[2021-07-05 09:38] VivianePons commented on #3315
@whedon start review

[2021-07-05 09:38] whedon opened #3454 "[REVIEW]: SummationByPartsOperators.jl: A Julia library of provably stable discretization techniques with mimetic properties"
**Submitting author:** @ranocha (<a href="http://orcid.org/0000-0002-3456-2277">Hendrik Ranocha</a>)
**Repository:** <a href="https://github.com/ranocha/SummationByPartsOperators.jl" target ="_blank">https://github.com/ranocha/SummationByPartsOperators.jl</a>
**Version:** v0.5.7
**Editor:** @VivianePons
**Reviewer:** @dawbarton, @kellertuer
**Archive:** <a href="https://doi.org/10.5281/zenodo.5226

[2021-07-05 09:38] whedon commented on #3315
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3454.

[2021-07-05 09:38] #3315 closed

[2021-07-05 09:38] whedon commented on #3454
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dawbarton, @kellertuer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-07-05 09:38] whedon commented on #3454
[code]

[2021-07-05 09:38] whedon commented on #3454
PDF failed to compile for issue #3454 with the following error:
[code]

[2021-07-05 09:40] VivianePons commented on #3454
@whedon generate pdf from branch paper

[2021-07-05 09:40] whedon commented on #3454
[code]

[2021-07-05 09:40] whedon commented on #3454
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03454/joss.03454/10.21105.joss.03454.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03454/joss.03454/10.21105.joss.03454.pdf) :page_facing_up: :point_left:

[2021-07-05 09:44] mikldk commented on #3438
Thanks both. I will start preparing a release at Zenodo etc.

[2021-07-05 09:49] morganericsson commented on #3375
@melissawm I think I forgot to accept the invitation (and it has expired), so I cannot edit the checklist. Could you please send a new invitation?

[2021-07-05 10:02] magedhelmy1 commented on #3431
Thanks. I will take a look at it and come back with my comments

[2021-07-05 10:37] Kevin-Mattheus-Moerman commented on #3260
I have sent a reminder email to the author @mikesmithlab

[2021-07-05 10:52] Nikoleta-v3 commented on #3438
Thank you both for your reviews  🙌🏻  @mikldk please hold fire. I would like to have a final read through the paper 😄 👍🏻

[2021-07-05 11:28] scarlehoff commented on #3439
Some first comments (can the authors see this?)

1) There's a grammatical mistake here: https://github.com/esa/torchquad/blob/2824f1ddacdccadf3a880851f7ddf1bc1f878a36/torchquad/integration/base_integrator.py#L73external should be either "needs to match" or "needs to be match to". In either case, since `integration_domain` is referred by variable name, `ndim` would be better to be explictly mention

[2021-07-05 11:33] mikesmithlab commented on #3260
Do apologise, I will start working on the points you raise

[2021-07-05 11:34] gomezzz commented on #3439
Yes we can see it. :)

Thank you for the feedback! We will make those changes until the end of the week! I took the liberty to create an issue for it at https://github.com/esa/torchquad/issues/89

[2021-07-05 11:47] gro5-AberUni commented on #3346
@jorgegil @hugoledoux Thank you for the comments about the paper and the plugin itself, I will make the changes and modifications you suggest and let you know when I have completed them.

[2021-07-05 11:55] scarlehoff commented on #3439
Nice :), wasn't sure if you guys were subscribed.
I will review the rest of the functionality/tests/docs during this week.

[2021-07-05 12:13] Nikoleta-v3 commented on #3438
@mikldk I opened some minor issues https://github.com/r-cas/caracas/issues/49 & https://github.com/r-cas/caracas/issues/50 (this is mostly nitpicking and spelling)

[2021-07-05 12:30] mikldk commented on #3438
@Nikoleta-v3 : Thanks for catching these. I fixed [#49](https://github.com/r-cas/caracas/issues/49) in [379fb1](https://github.com/r-cas/caracas/commit/379fb1fa76a317edaa33681e65294c447aedba15) and [#50](https://github.com/r-cas/caracas/issues/50) in [ac6f07](https://github.com/r-cas/caracas/commit/ac6f07086525b94a63122b5fa3f3a83d64d3938e).

[2021-07-05 12:40] Nikoleta-v3 commented on #3438
@whedon generate pdf

[2021-07-05 12:40] whedon commented on #3438
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03438/joss.03438/10.21105.joss.03438.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03438/joss.03438/10.21105.joss.03438.pdf) :page_facing_up: :point_left:

[2021-07-05 12:41] Nikoleta-v3 commented on #3438
@whedon check references

[2021-07-05 12:42] whedon commented on #3438
[code]

[2021-07-05 12:43] mikldk commented on #3324
@ejhigson can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

@jakryd: Can you please check the last box if you think this item is also okay?

[2021-07-05 12:43] mikldk commented on #3323
@maximtrp, @arunmano121, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-07-05 12:51] danielskatz commented on #3375
@whedon re-invite @morganericsson as reviewer

[2021-07-05 12:51] whedon commented on #3375
OK, the reviewer has been re-invited.

@morganericsson please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-05 12:54] Nikoleta-v3 commented on #3438
Thank you @mikldk 👍🏻 Everything looks good to me.

`whedon` is suggesting the doi of this [book](https://link.springer.com/chapter/10.1007%2F978-3-211-73265-6_1) (which discusses both Maple and Mathematica) for the Maple reference. But your  current citations for both Maple and Mathematica are inline with the softwares' guidelines 👍🏻

At this point could you:
- [ ] Make a tagged release of your so

[2021-07-05 12:59] mikldk commented on #3438
* The tagged release is `v.1.1.1` (as stated in the submission): <https://github.com/r-cas/caracas/releases/tag/v1.1.1>
* DOI: [10.5281/zenodo.5070324](https://doi.org/10.5281/zenodo.5070324)
* Zenodo: <https://zenodo.org/record/5070324>

[2021-07-05 13:00] mikldk commented on #3438
@Nikoleta-v3 Thanks, including agreeing on the references. I now made a release and made it available on Zenodo, cf. above.

[2021-07-05 13:07] mikldk commented on #3377
@SteRoe, @nistara: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-07-05 13:18] sap218 commented on #3440
1. Regarding "Contribution and authorship" - the submitting author (@vaneseltine) has made major contributions to the software and is an author on the paper. However I did notice in the whedon software report (https://github.com/openjournals/joss-reviews/issues/3440#issuecomment-872466076) that Derek Gulbranson made ~25% of changes for Nominally - I did quickly check the commit history and noticed

[2021-07-05 13:30] jni commented on #3202
@whedon set v0.2.13 as version

[2021-07-05 13:30] whedon commented on #3202
OK. v0.2.13 is the version.

[2021-07-05 13:30] jni commented on #3202
@whedon set 10.5281/zenodo.5069231 as archive

[2021-07-05 13:30] whedon commented on #3202
OK. <a href="https://doi.org/10.5281/zenodo.5069231" target="_blank">10.5281/zenodo.5069231</a> is the archive.

[2021-07-05 13:31] jni commented on #3202
@whedon recommend-accept

[2021-07-05 13:31] whedon commented on #3202
[code]

[2021-07-05 13:31] whedon commented on #3202
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2432

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2432, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-05 13:32] whedon commented on #3202
[code]

[2021-07-05 13:36] vissarion commented on #3395
@whedon set 10.5281/zenodo.5069308 as archive

[2021-07-05 13:36] whedon commented on #3395
OK. <a href="https://doi.org/10.5281/zenodo.5069308" target="_blank">10.5281/zenodo.5069308</a> is the archive.

[2021-07-05 13:37] vissarion commented on #3395
@whedon set v1.0 as version

[2021-07-05 13:37] whedon commented on #3395
OK. v1.0 is the version.

[2021-07-05 13:37] vissarion commented on #3395
@whedon check references

[2021-07-05 13:37] whedon commented on #3395
[code]

[2021-07-05 13:42] vissarion commented on #3395
@nandaloo thanks. Please checkout the missing DOIs found above, it seems that @whedon suggestions are correct!

[2021-07-05 13:43] fboehm commented on #3273
@yunanwu123 - please review the changes that @PhilBoileau made. If you're satisfied with the changes, then please check the appropriate boxes. If further changes are needed, please specify how the authors can make those in this thread. Thanks again!

[2021-07-05 13:53] whedon commented on #3389
:wave: @daniellivingston, please update us on how your review is going (this is an automated reminder).

[2021-07-05 13:53] whedon commented on #3389
:wave: @pratikvn, please update us on how your review is going (this is an automated reminder).

[2021-07-05 13:54] dhhagan commented on #3224
@DrDaveShaw Sorry for the long delay here. Can you update the title in Zenodo to match that of the paper? I think that's the last thing that needs to be fixed pre-publication.

[2021-07-05 13:55] dhhagan commented on #3219
Hey @piotrbartman sorry about the long delays here. I am going to start looking for a new reviewer so we can finish this up. Hope to be back with some good news later this week or next.

[2021-07-05 14:05] DrDaveShaw commented on #3224
@dhhagan fixed.

[2021-07-05 14:07] dhhagan commented on #3411
Hi @jonsampedro - Everything looks in line, so I am going to start looking for reviewers. I will let you know as soon as I've found a couple and we will kick this process off!

[2021-07-05 14:11] osorensen commented on #3328
@AustinTSchaffer, @RcSepp; would any of you be willing to review this manuscript for the Journal of Open Source Software?

[2021-07-05 14:14] dhhagan commented on #3224
@whedon set 10.5281/zenodo.5036374 as archive

[2021-07-05 14:14] whedon commented on #3224
OK. <a href="https://doi.org/10.5281/zenodo.5036374" target="_blank">10.5281/zenodo.5036374</a> is the archive.

[2021-07-05 14:15] dhhagan commented on #3224
@whedon set v1.1 as version

[2021-07-05 14:15] whedon commented on #3224
OK. v1.1 is the version.

[2021-07-05 14:15] dhhagan commented on #3224
@whedon recommend-accept

[2021-07-05 14:15] whedon commented on #3224
[code]

[2021-07-05 14:15] whedon commented on #3224
[code]

[2021-07-05 14:15] whedon commented on #3224
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2433

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2433, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-05 14:22] DrDaveShaw commented on #3224
@whedon accept deposit=true

[2021-07-05 14:22] whedon commented on #3224
I'm sorry @DrDaveShaw, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-07-05 14:23] DrDaveShaw commented on #3224
😄 nice try

[2021-07-05 14:35] wtraylor commented on #3450
@Kevin-Mattheus-Moerman Thank you for receiving my submission.

Done. ✔️

My repository follows the [REUSE](https://reuse.software/) standard by the Free Software Foundation Europe. The REUSE convention provides clear license information for each file (compare my [README](https://github.com/wtraylor/modular_megafauna_model/tree/master#license)). My project contains both both source code and docume

[2021-07-05 14:42] Kevin-Mattheus-Moerman commented on #3450
@wtraylor thanks for checking that DOI. Also thanks for your comments regarding the REUSE convention. I will have to read up on that. Given that the software caries an OSI approved license this is fully compatible with JOSS so this is fine and I think no changes are needed.

[2021-07-05 14:42] piotrbartman commented on #3219
@dhhagan Thanks for the update!

[2021-07-05 14:42] Kevin-Mattheus-Moerman commented on #3450
@whedon generate pdf from branch joss-paper

[2021-07-05 14:42] whedon commented on #3450
[code]

[2021-07-05 14:43] whedon commented on #3450
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03450/joss.03450/10.21105.joss.03450.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03450/joss.03450/10.21105.joss.03450.pdf) :page_facing_up: :point_left:

[2021-07-05 14:43] Kevin-Mattheus-Moerman commented on #3450
@whedon check references from branch joss-paper

[2021-07-05 14:43] whedon commented on #3450
[code]

[2021-07-05 14:43] whedon commented on #3450
[code]

[2021-07-05 14:44] Kevin-Mattheus-Moerman commented on #3450
@wtraylor FYI for future changes to the paper you can also make these calls to get our bot to update the paper.

[2021-07-05 15:29] EleonoraVagnoni commented on #3270
I have tried but it says command not found

[2021-07-05 15:37] Isurwars commented on #2976
Sorry for the delay in the answer.

Installation
•	There is no configure step involved which means if I had non-standard settings on my computer, make might fail to locate the compiler and/or libraries. Also, installing into a target directory is not supported (no install target).

•	We make a configure script with the help of GNU autotools. The installation process s followed now by the standard

[2021-07-05 15:49] jsta commented on #3383
Here is my review @KristianNelson @KristinaRiemer :

## Checklist

### Documentation

I don't see guidelines for 1 and 2. Often `R` packages use a `BugReports` field in the DESCRIPTION for 2 and/or a `CONTRIBUTING` file for 1.

### Software Paper

I feel like the aim of the paper is a bit muddled. Much of the text and the title suggest that the aim of the paper is to report the results of an analy

[2021-07-05 16:00] anki-xyz commented on #3328
I would love to, but beyond my area of expertise.

[2021-07-05 16:12] whedon commented on #3390
:wave: @Kevin-Mattheus-Moerman, please update us on how your review is going (this is an automated reminder).

[2021-07-05 16:12] whedon commented on #3390
:wave: @HaoZeke, please update us on how your review is going (this is an automated reminder).

[2021-07-05 16:23] ad48 commented on #3348
I've just pushed some changes, but I have a few more things to change in the paper. Will try and get those done tomorrow.

[2021-07-05 17:24] osorensen commented on #3328
@anki-xyz, that is fine. Thanks for responding :-)

[2021-07-05 18:21] david-barnett commented on #3201
ah yes, okay I have fixed that now, thanks @lpantano. https://zenodo.org/record/5048013

[2021-07-05 18:27] Nikoleta-v3 commented on #3438
@whedon set 10.5281/zenodo.5070324 as archive

[2021-07-05 18:27] whedon commented on #3438
OK. <a href="https://doi.org/10.5281/zenodo.5070324" target="_blank">10.5281/zenodo.5070324</a> is the archive.

[2021-07-05 18:28] Nikoleta-v3 commented on #3438
@whedon recommend-accept

[2021-07-05 18:28] whedon commented on #3438
[code]

[2021-07-05 18:28] whedon commented on #3438
[code]

[2021-07-05 18:29] whedon commented on #3438
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2434

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2434, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-05 18:31] Nikoleta-v3 commented on #3438
`joss-eics` team 👋🏻

Regarding the missing `doi`:

[2021-07-05 18:47] croots commented on #3362
Hi @ayush9pandey

Are you still having issues with ViennaRNA and OSTIR on Windows? We went back and noticed some issues with the unit testing on Windows with previous versions and make the necessary fixes in OSTIR v1.0.5 (it may take a bit for Bioconda to update to the latest version - install from source or pypi). You should be able to validate your ViennaRNA installation with `RNAfold --version`

[2021-07-05 19:52] adi3 commented on #3367
@sixpearls @ixjlyons @malmaud @Jgoldfar @dhrubajyoti98 @thelinuxmaniac @dglmoore @jizecn @destogl @AKuederle @nnadeau - Can any of you please help review this paper? We'd greatly appreciate your contribution!

[2021-07-05 21:00] whedon commented on #3391
:wave: @hagenw, please update us on how your review is going (this is an automated reminder).

[2021-07-05 21:00] whedon commented on #3391
:wave: @keunwoochoi, please update us on how your review is going (this is an automated reminder).

[2021-07-05 21:30] nnadeau commented on #3367
I can review

[2021-07-05 21:34] jgoldfar commented on #3367
Hey there Adi - this looks like interesting work; unfortunately, I will not
be able to review for JOSS during my next contract period. If there is a
way to re-engage after that time, I will definitely reach out. Best!

On Mon, Jul 5, 2021 at 12:52 PM Adi Singh ***@***.***> wrote:

--
Best,
Jonathan Goldfarb
+1 (321) 895 4184

[2021-07-05 22:33] chkoar commented on #2974
Hey @geoffreyp,

I have opened moead-framework/framework#69, moead-framework/framework#69 and moead-framework/framework#70. These are my objections regarding my unticked items in my report.

@melissawm I suppose that @geoffreyp's [answer](https://github.com/openjournals/joss-reviews/issues/2974#issuecomment-870455114) is adequate in order to tick the [General Checks](https://github.com/openjournal

[2021-07-05 23:04] dpsanders commented on #2838
@Swetanshu: Please make sure that the title and author list on Zenodo exactly match the JOSS paper.

[2021-07-05 23:04] dpsanders commented on #2838
@whedon set 1.0 as version

[2021-07-05 23:04] whedon commented on #2838
OK. 1.0 is the version.

[2021-07-05 23:04] dpsanders commented on #2838
@whedon set 10.5281/zenodo.5024912 as archive

[2021-07-05 23:04] whedon commented on #2838
OK. <a href="https://doi.org/10.5281/zenodo.5024912" target="_blank">10.5281/zenodo.5024912</a> is the archive.

[2021-07-05 23:05] dpsanders commented on #2838
@whedon generate pdf

[2021-07-05 23:05] whedon commented on #2838
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02838/joss.02838/10.21105.joss.02838.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02838/joss.02838/10.21105.joss.02838.pdf) :page_facing_up: :point_left:

[2021-07-05 23:07] dpsanders commented on #3079
Congratulations on the paper, @jsoishi!
Many thanks to @ketch and @caropen for your reviews, and to @kyleniemeyer for editorial help.

[2021-07-05 23:08] dpsanders commented on #2838
@Swetanshu: The paper by Rajeshkumar is still missing a title in the References section.

[2021-07-05 23:09] dpsanders commented on #3451
@whedon assign @dpsanders as editor

[2021-07-05 23:09] whedon commented on #3451
OK, the editor is @dpsanders

[2021-07-06 01:57] abartlett004 commented on #3358
I have also completed my review. I have added my comments to @stemangiola 's Word document and attached it here. I will also add comments regarding my unmarked items to the issue in the repository.

[10.21105.joss.03358_ALB edits.docx](https://github.com/openjournals/joss-reviews/files/6766795/10.21105.joss.03358_ALB.edits.docx)

[2021-07-06 02:07] benjaminbolling commented on #3431
@whedon generate pdf

[2021-07-06 02:07] whedon commented on #3431
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03431/joss.03431/10.21105.joss.03431.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03431/joss.03431/10.21105.joss.03431.pdf) :page_facing_up: :point_left:

[2021-07-06 03:40] benjaminbolling commented on #3431
@whedon generate pdf

[2021-07-06 03:40] whedon commented on #3431
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03431/joss.03431/10.21105.joss.03431.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03431/joss.03431/10.21105.joss.03431.pdf) :page_facing_up: :point_left:

[2021-07-06 03:41] benjaminbolling commented on #3431
Ready for now. Thanks all!

[2021-07-06 06:27] Swetanshu commented on #2838
@dpsanders: I don't really understand this because I can see the title in the pdf file that you have generated. Can you please check it again?
![rajesh](https://user-images.githubusercontent.com/61150617/124552485-e87aea80-de33-11eb-849b-d221a51c33e1.png)

[2021-07-06 07:16] llrs commented on #3358
Many thanks @abartlett004 for your detailed comments and your review! I will start editing the manuscript to reduce duplicated content, add the missing section statement of need, make it more precise and at the same time add more content: code examples, function definition and comparison with other methods.

[2021-07-06 07:31] whedon commented on #3392
:wave: @mfastudillo, please update us on how your review is going (this is an automated reminder).

[2021-07-06 07:31] whedon commented on #3392
:wave: @tngTUDOR, please update us on how your review is going (this is an automated reminder).

[2021-07-06 08:49] vissarion commented on #3330
Hello, @antoniomedrano, @NiklasAsselmann, @kramea would any of you be willing to help reviewing this submission for JOSS?

[2021-07-06 08:55] jbytecode commented on #3430
Dear reviewer @sylvaticus

Recent changes has been pumped in v0.2.0. Today, I have just released a new version of v0.2.1 with new documentation and several changes/corrections in both repo, online docs, and source code. The new version is ready to update in Julia.

Thank you.

[2021-07-06 09:29] hagenw commented on #3391
I will submit mine tomorrow.

[2021-07-06 09:53] faroit commented on #3391
Great. thanks! As mentioned above, a way is to split comments/concerns into smaller issues that can more easily be approached by the authors.

[2021-07-06 10:05] reyar commented on #3404
Hi @arfon and @kyleniemeyer I was wondering if you had the time to review my submissions to JOSS?

Thanks.

[2021-07-06 10:06] arfon commented on #3421
@whedon invite @emdupre as editor

:wave: @emdupre – would you be willing to edit this submission for JOSS?

[2021-07-06 10:06] whedon commented on #3421
@emdupre has been invited to edit this submission.

[2021-07-06 10:08] arfon commented on #3432
@whedon invite @emdupre as editor

:wave: @emdupre – would you be able to take on this submission for us?

[2021-07-06 10:08] whedon commented on #3432
@emdupre has been invited to edit this submission.

[2021-07-06 10:47] arfon commented on #3433
@whedon invite @osorensen as editor

:wave: @osorensen – would you be able to take this submission on for us too? (Last one for now I promise!)

[2021-07-06 10:47] whedon commented on #3433
@osorensen has been invited to edit this submission.

[2021-07-06 10:48] osorensen commented on #3433
@whedon add @osorensen as editor

[2021-07-06 10:49] whedon commented on #3433
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-06 10:49] arfon commented on #3427
@whedon invite @csoneson as editor

:wave: @csoneson – would you be able to edit this submission for JOSS?

[2021-07-06 10:49] whedon commented on #3427
@csoneson has been invited to edit this submission.

[2021-07-06 10:49] osorensen commented on #3433
@whedon command

[2021-07-06 10:49] whedon commented on #3433
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-06 10:49] osorensen commented on #3433
@whedon commands

[2021-07-06 10:49] whedon commented on #3433
Here are some things you can ask me to do:

[code]

[2021-07-06 10:50] osorensen commented on #3433
@whedon assign @osorensen as editor

[2021-07-06 10:50] whedon commented on #3433
OK, the editor is @osorensen

[2021-07-06 10:51] arfon commented on #3420
@whedon invite @Nikoleta-v3 as editor

:wave: @Nikoleta-v3 – I realize this is a little different, but we don't really have an 'ideal' editor for this submission. Would you be willing to take this one on?

[2021-07-06 10:51] whedon commented on #3420
@Nikoleta-v3 has been invited to edit this submission.

[2021-07-06 10:52] osorensen commented on #3433
@spinicist I am now the editor for this submission. If you have any suggestions for potential reviewers, please mention them by GitHub username in this thread (without the @).

[2021-07-06 10:57] arfon commented on #2446
Yes, please address this point @lockepatton.

[2021-07-06 11:04] littlelazy6 commented on #3190
Thanks for the detailed response. I have checked and convinced the capability. Look forwards to the filter (plugin) working with DREAM3D for more advanced application such as 3D models.
@Kevin-Mattheus-Moerman I have updated the review checkpoints. Please let me know if there are any other tasks on my side.

[2021-07-06 11:04] arfon commented on #3326
Thanks for raising these questions about scholarly effort @expectopatronum – the 'signals' we suggest are just pointers you might be able to use to guide your thinking. We also say that the work should represent [three or more months of effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) which is sound like it does?

After reading the README in a little more

[2021-07-06 11:06] spinicist commented on #3433
Hello,

From the recon side you could try jtamir, martink84, uecker, or any of the other contributors to BART (https://github.com/mrirecon/bart/graphs/contributors) or SigPy (https://github.com/mikgroup/sigpy/graphs/contributors).

You could also try agahkarakuzu from qMRLab (https://github.com/mikgroup/sigpy/graphs/contributors)

Thanks

[2021-07-06 11:10] arfon commented on #3317
@dsryberg @EricaEgg @kanderso-nrel – would you be willing to review this submission for JOSS? The software under review is a Python package [_RayFlare: flexible optical modelling of solar cells_](https://github.com/qpv-research-group/rayflare).

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.htm

[2021-07-06 11:12] Nikoleta-v3 commented on #3420
@whedon assign me as editor

[2021-07-06 11:12] whedon commented on #3420
OK, the editor is @Nikoleta-v3

[2021-07-06 12:07] fzalkow commented on #3326
Dear arfon,

Many thanks for your question.

Indeed libfmp covers both teaching and research aspects. This combination is due to the origin of libfmp. The starting point is Müller's [FMP book](https://www.audiolabs-erlangen.de/fau/professor/mueller/bookFMP), where fundamental music information retrieval (MIR) algorithms are presented in a didactically prepared textbook. These algorithms summarize

[2021-07-06 12:12] osorensen commented on #3433
@jtamir, @martink84, @uecker, @agahkarakuzu, @frankong, would any of you be interested in reviewing this submission to the Journal of Open Source Software?

[2021-07-06 12:14] jonsampedro commented on #3411
Perfect @dhhagan , thank you.

[2021-07-06 12:19] AustinTSchaffer commented on #3328
@osorensen sure! I can help take a look. I'm pretty familiar with C#, but I'm new to this whole thing. What can I do to assist with reviewing this?

[2021-07-06 12:50] osorensen commented on #3328
@AustinTSchaffer , thanks! We'll start a review issue, and there you will hopefully be guided through the process.

[2021-07-06 12:50] osorensen commented on #3328
@whedon add @AustinTSchaffer as reviewer

[2021-07-06 12:50] whedon commented on #3328
OK, @AustinTSchaffer is now a reviewer

[2021-07-06 12:50] osorensen commented on #3328
@whedon start review

[2021-07-06 12:50] whedon opened #3455 "[REVIEW]: Biosensor Framework: A C# Library for Affective Computing"
**Submitting author:** @wsarce (<a href="http://orcid.org/0000-0003-0819-0710">Walker Arce</a>)
**Repository:** <a href="https://github.com/Munroe-Meyer-Institute-VR-Laboratory/Biosensor-Framework" target ="_blank">https://github.com/Munroe-Meyer-Institute-VR-Laboratory/Biosensor-Framework</a>
**Version:** 1.0.0
**Editor:** @osorensen
**Reviewer:** @professoralkmin, @AustinTSchaffer
**Archive:** <

[2021-07-06 12:50] whedon commented on #3328
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3455.

[2021-07-06 12:50] #3328 closed

[2021-07-06 12:50] whedon commented on #3455
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @professoralkmin, @AustinTSchaffer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2021-07-06 12:51] whedon commented on #3455
[code]

[2021-07-06 12:51] whedon commented on #3455
[code]

[2021-07-06 12:51] whedon commented on #3455
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03455/joss.03455/10.21105.joss.03455.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03455/joss.03455/10.21105.joss.03455.pdf) :page_facing_up: :point_left:

[2021-07-06 12:52] osorensen commented on #3455
@AustinTSchaffer, regarding your question in the other thread. Here is the review issue, and hopefully the information above will help get you started. Feel very welcome to contact me if you have any more questions about the review process.

[2021-07-06 12:55] landreman commented on #3402
@dfm thank you for serving as editor. For possible reviewers, you could look at the lead developers for https://github.com/boutproject/BOUT-dev/graphs/contributors (ZedThree, bendudson, d7919, ...) or https://github.com/bendudson/freegs/graphs/contributors or https://github.com/PlasmaPy/PlasmaPy/graphs/contributors (namurphy, StanczakDominik, ...). We could also look at the speakers at http://meet

[2021-07-06 13:10] lpantano commented on #3201
@whedon set 10.5281/zenodo.5048013 as archive

[2021-07-06 13:10] whedon commented on #3201
OK. <a href="https://doi.org/10.5281/zenodo.5048013" target="_blank">10.5281/zenodo.5048013</a> is the archive.

[2021-07-06 13:12] lpantano commented on #3201
@whedon recommend-accept

[2021-07-06 13:12] whedon commented on #3201
[code]

[2021-07-06 13:12] whedon commented on #3201
[code]

[2021-07-06 13:13] whedon commented on #3201
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2435

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2435, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-06 13:16] whedon commented on #3393
:wave: @MatthewSmith430, please update us on how your review is going (this is an automated reminder).

[2021-07-06 13:16] whedon commented on #3393
:wave: @jakobbossek, please update us on how your review is going (this is an automated reminder).

[2021-07-06 13:57] SunilAnandatheertha commented on #3190
@yangbai90  @littlelazy6  I thank you for the review, your comments and suggestions for improvement.

Sincerely
Sunil

[2021-07-06 14:05] danielskatz commented on #2495
Hi all - just to let you know, because @eloisabentivegna is taking leave, I'll be stepping in as editor on this submission - please let me know when there are issues.  My expectation here is that the author will let us know when he has made changes and is ready to unpause the review.

[2021-07-06 14:06] danielskatz commented on #2555
Hi all - just to let you know, because @eloisabentivegna is taking leave, I'll be stepping in as editor on this submission - please let me know when there are issues.  I'll follow-up in a week to see what's happened with the request to @rclipp.

[2021-07-06 14:07] danielskatz commented on #2555
@whedon remind @danielskatz in 1 week

[2021-07-06 14:07] whedon commented on #2555
@danielskatz doesn't seem to be a reviewer or author for this submission.

[2021-07-06 14:12] danielskatz commented on #2978
Hi all - just to let you know, because @eloisabentivegna is taking leave, I'll be stepping in as editor on this submission - please let me know when there are issues.

[2021-07-06 14:12] danielskatz commented on #2978
👋 @rhaas80, @robertsawko - can you update me on your status?  Are your reviews currently blocked on anything from @BenMql?

[2021-07-06 14:20] mikesmithlab commented on #3260
@whedon generate pdf

[2021-07-06 14:20] hknd23 commented on #3322
Dear @cmaimone,

We thank you for providing constructive and incisive comments in your second round of peer review. We have checked and incorporated edits to our built-in documentation, implemented revisions to our paper, and addressed issues regarding our code to incorporate all your suggestions. We have also addressed all the queries you raised in your review. Please find our responses to your c

[2021-07-06 14:20] hknd23 commented on #3322
@whedon generate pdf

[2021-07-06 14:20] whedon commented on #3260
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03260/joss.03260/10.21105.joss.03260.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03260/joss.03260/10.21105.joss.03260.pdf) :page_facing_up: :point_left:

[2021-07-06 14:21] whedon commented on #3322
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: :point_left:

[2021-07-06 14:21] mikesmithlab commented on #3260
I think I've now addressed all the points you raise above, apologies about the long wait I'll check this feed more regularly now.

[2021-07-06 14:22] mikesmithlab commented on #3260
@whedon generate pdf

[2021-07-06 14:23] whedon commented on #3260
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03260/joss.03260/10.21105.joss.03260.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03260/joss.03260/10.21105.joss.03260.pdf) :page_facing_up: :point_left:

[2021-07-06 14:28] arfon commented on #3336
@bprather – I'm going to take over editing this submission as @eloisabentivegna is heading out on maternity leave soon.

[2021-07-06 14:38] arfon commented on #3336
@whedon remind @arfon in two weeks

[2021-07-06 14:38] whedon commented on #3336
Reminder set for @arfon in two weeks

[2021-07-06 14:47] rclipp commented on #2555
Hello,

@eloisebentivegna and @danielskatz, myself and my colleague are out of town
this week. We can address these changes when we return from vacation. Can
we set the deadline for July 23?

Thanks,
Rachel ***@***.***)

On Tue, Jul 6, 2021 at 9:06 AM Daniel S. Katz ***@***.***>
wrote:

--
Rachel Clipp, PhD
Technical Lead
Kitware, Inc.
http://www.kitware.com

[2021-07-06 14:59] Cole-Monnahan-NOAA commented on #3117
@bob-carpenter is right that I do seem well-placed to review this package.

I'm not familiar with JOSS reviews so not sure exactly what is going on here. Please provide more info as you see fit.

Also for arcane US gov't reasons I now have to use the tag @Cole-Monnahan-NOAA

[2021-07-06 15:00] danielskatz commented on #2555
yes, that's fine

[2021-07-06 15:00] danielskatz commented on #2555
@whedon remind @danielskatz and @rclipp in 17 days

[2021-07-06 15:00] whedon commented on #2555
Reminder set for @danielskatz and @rclipp in 17 days

[2021-07-06 15:07] danielskatz commented on #3348
👋 @mfenner - I see you started, but haven't made much progress in the checkist - is there any update?

[2021-07-06 15:09] danielskatz commented on #3143
👋 @nkallima - How are these updates going?

[2021-07-06 15:09] danielskatz commented on #3143
👋 @jarrah42 - How is this review going?

[2021-07-06 15:10] danielskatz commented on #3351
Thanks @tresoldi - I look forward to seeing your comments

[2021-07-06 15:12] danielskatz commented on #3211
👋 @PierreGuilbertF - Do you have any update for us on your review?

[2021-07-06 15:13] danielskatz commented on #3295
👋 @mviereck - How are things going with the remaining items on your checklist?

[2021-07-06 15:46] cescalara commented on #3056
Hi @rrjbca, everything looks good, I really like the improved docs and new logging functionality. Thank you!

One small thing, now that I understand better the scope of SkyPy, perhaps there is also some relation to [popsynth](https://github.com/grburgess/popsynth), a package that I am using in my work. In particular regarding luminosity function/density evolution simulation and the idea to have a

[2021-07-06 15:54] jmsexton03 commented on #3068
Good to hear @dfm, I rechecked the proofs, and everything looks correct to me (aside from the DRAFT watermark, of course 😉)

[2021-07-06 15:56] rerickson-usgs commented on #3117
@Cole-Monnahan-NOAA <https://github.com/Cole-Monnahan-NOAA> I feel ya for
the tag, although I think USGS went away from requirement! @rerickson-usgs

On Tue, Jul 6, 2021 at 9:59 AM Cole Monnahan ***@***.***>
wrote:

[2021-07-06 16:15] dfm commented on #3068
@whedon set 21.07 as version

[2021-07-06 16:15] whedon commented on #3068
OK. 21.07 is the version.

[2021-07-06 16:15] dfm commented on #3068
@whedon set 10.5281/zenodo.5059767 as archive

[2021-07-06 16:15] whedon commented on #3068
OK. <a href="https://doi.org/10.5281/zenodo.5059767" target="_blank">10.5281/zenodo.5059767</a> is the archive.

[2021-07-06 16:15] dfm commented on #3068
@whedon recommend-accept

[2021-07-06 16:15] whedon commented on #3068
[code]

[2021-07-06 16:16] whedon commented on #3068
[code]

[2021-07-06 16:16] whedon commented on #3068
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2436

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2436, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-06 16:21] dfm commented on #3068
@c-white, @teuben: Thanks for your constructive reviews!! I really appreciate the time you took.

@jmsexton03: This has now been passed off to the Editors-in-Chief for a final check and they might have some final edits for you and then they'll run the final publication step.

(P.S. I'm not quite sure why the previous run of check references missed that DOI, but I'll open a PR momentarily to fix th

[2021-07-06 16:30] jmsexton03 commented on #3068
@dfm Thanks for editing and following up regularly!

@c-white, @teuben Thanks for reviewing!

P.S. merged GADGET-4 DOI update PR

[2021-07-06 16:34] jules32 commented on #3333
Hi @KristinaRiemer – yes I would be able to review by the end of the month, would that timeline work for you?

[2021-07-06 16:56] scarlehoff commented on #3439
Everything seems to work as advertised. I don't have any important comments beyond the 3 that I added above.
The code is also quite clean and commented enough that it can be understood.

I haven't checked the performance box because while there's no direct claim to performance there are some indirect claims (and at the end of the day, that's what one would expect from a GPU code).
It would be nice

[2021-07-06 17:15] wesleyburr commented on #2694
@tystan - sorry for delay, caught me over the long weekend. The issue appears to be that the pkgdown-generated website didn't update with all our changes post-review by J. Paez. So the vignettes built into the **package** appear to be fine (we can't see what you see), but the **pkgdown** versions on the github.wesleyburr.com/subMaldi/ are referencing a year+ old code. I've re-generated the pkgdown

[2021-07-06 17:24] arfon commented on #3433
@whedon assign @emdupre as editor

Following discussions with @emdupre and @osorensen offline, swapping editors here.

[2021-07-06 17:24] whedon commented on #3433
OK, the editor is @emdupre

[2021-07-06 17:24] arfon commented on #3432
@whedon assign @osorensen as editor

[2021-07-06 17:24] whedon commented on #3432
OK, the editor is @osorensen

[2021-07-06 18:12] morganericsson commented on #3375
@melissawm I am done with the form now. Below are comments for the boxes I did not tick.

- I agree with @krystophny that I would not count this as a "substantial scholarly effort" in the JOSS sense, even if I can see how the package is useful.
- I could not find any community guidelines.
- I would like to see an improved _statement of need_ / _state of the field_ (these are quite similar in this

[2021-07-06 18:14] rhaas80 commented on #2978
@danielskatz @BenMql sorry for being so late, not blocked by @BenMql  just swamped with short term tasks right now.

[2021-07-06 19:13] osorensen commented on #3432
@PeerHerholz, @snastase, would any of you be interested in reviewing this paper for the Journal of Open Source Software?

[2021-07-06 19:14] osorensen commented on #3432
@mgxd, I am now the editor for this submission. Please let me know if you have any suggestions for reviewers.

[2021-07-06 19:23] whedon commented on #3394
:wave: @uellue, please update us on how your review is going (this is an automated reminder).

[2021-07-06 19:23] whedon commented on #3394
:wave: @MakerTobey, please update us on how your review is going (this is an automated reminder).

[2021-07-06 19:23] whedon commented on #3394
:wave: @beniroquai, please update us on how your review is going (this is an automated reminder).

[2021-07-06 19:23] whedon commented on #3394
:wave: @untzag, please update us on how your review is going (this is an automated reminder).

[2021-07-06 19:25] galessiorob commented on #3322
@whedon add @tmickleydoyle as reviewer

[2021-07-06 19:26] whedon commented on #3322
OK, @tmickleydoyle is now a reviewer

[2021-07-06 19:29] MartinK84 commented on #3433
I would be available as a reviewer and have experience in the relevant field (working with 3D non-cartesian MRI data and have used comparable toolboxes such as BART). I have to warn, however, that I'm very busy at the moment and will probably need several weeks to be able to finish reviewing this contribution thoroughly.

[2021-07-06 19:29] galessiorob commented on #3322
Based on @cmaimone's suggestion I asked @tmickleydoyle to test the package first as an external user and have now asked him to do a formal review. (Thanks for volunteering @tmickleydoyle 🎉 )

You can find his notes on installation and usage [here.](https://gist.github.com/tmickleydoyle/dbe586a6288879124ad3f551028cb6f6)

[2021-07-06 19:34] galessiorob commented on #3322
@tmickleydoyle please find [your personal checklist](https://github.com/openjournals/joss-reviews/issues/3322#issue-907576536) at the top. Feel free to open individual issues for @hknd23 to work through or mention them in this thread. Thanks again for reviewing this paper, let me know if you have any questions about the process 😄

[2021-07-06 19:49] melissawm commented on #3375
Thank you both @morganericsson and @krystophny . At this point I'm tagging @openjournals/joss-eics to evaluate next steps.

[2021-07-06 20:39] melissawm commented on #2974
From the JOSS Documentation [here](https://joss.readthedocs.io/en/latest/submitting.html#authorship) and [here](https://joss.readthedocs.io/en/latest/review_criteria.html#authorship)

*Purely financial (such as being named on an award) and organizational (such as general supervision of a research group) contributions are not considered sufficient for co-authorship of JOSS submissions, **but active

[2021-07-06 20:49] schruste commented on #3237
Hi @meg-simula . May I kindly ask for update?

[2021-07-06 20:51] csoneson commented on #3427
👋🏻 @ClaudioZandonella - thanks for your submission! To help us judge whether this is in scope to be considered by JOSS, would you mind providing a bit more details on where you see `trackdown` fall within our [definition of research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software)? Thanks!

[2021-07-06 20:51] csoneson commented on #3427
@whedon query scope

[2021-07-06 20:51] whedon commented on #3427
Submission flagged for editorial review.

[2021-07-06 21:06] diehlpk commented on #3309
@elwinter Do you have reviewers in mind? I would appreciated to get some names from you?

[2021-07-06 21:08] diehlpk commented on #2945
@jedbrown, @valeriabarra Any news on the last task? I really would like to finish this paper and take a new paper. Do you think you can finish it by the end of this week?

[2021-07-06 21:09] hknd23 commented on #3322
Thank you very much @galessiorob for your feedback and comments we received from @tmickleydoyle. The advice from @tmickleydoyle is extremely helpful and we are currently addressing all his requested revisions and edits. Please let us know if you need any additional information.

[2021-07-06 21:18] PeerHerholz commented on #3432
Ahoi hoi @osorensen,

thx for the tag. I would be very interested in reviewing this important addition to the `python-neuroimaging` software stack. However, only if the folks involved think that I would be a fitting reviewer of course.

Cheers, Peer

[2021-07-06 22:00] cmaimone commented on #3322
I've closed all of the remaining issues I had opened on the repo.  @hknd23 I think all of your work will make the package a lot easier for people to use (and feel confident in), which will hopefully also lead to more citations and use.  I'm good with the publication moving forward after @tmickleydoyle finishes testing/review.

[2021-07-06 22:10] kanderso-nrel commented on #3317
I am willing to review but it may take longer than the (extended) 6-week turnaround -- I would want to get more familiar with optical modeling techniques before completing the review.  Happy to do it if nobody else is available to do it quicker.

Side note @phoebe-p, the `RayFlare_theory.pdf` document is amazing, very excited to read it!

[2021-07-06 22:28] phoebe-p commented on #3317
@kanderso-nrel thank you! If you do read it, do let me know if you find anything which doesn't seem to make sense - it's a slightly adapted version of a chapter from my thesis so there may be parts which don't make sense/reference something which isn't actually in the document without the context of the rest of the thesis that I missed when adapting it.

[2021-07-06 22:36] jedbrown commented on #2945
Yep, the caption has version numbers and range of sizes. I'm working on release QA now.

[2021-07-06 22:48] emdupre commented on #3421
@whedon assign @emdupre as editor

[2021-07-06 22:48] whedon commented on #3421
OK, the editor is @emdupre

[2021-07-06 22:56] emdupre commented on #3421
Hi @michaelberks, thank you for submitting to JOSS ! I'll be acting as editor for this submission -- though thank you, @Kevin-Mattheus-Moerman, for offering your help, here !

If you have any recommendations for appropriate reviewers, please let us know.

[2021-07-06 22:57] emdupre commented on #3421
@whedon generate pdf

[2021-07-06 22:57] whedon commented on #3421
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03421/joss.03421/10.21105.joss.03421.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03421/joss.03421/10.21105.joss.03421.pdf) :page_facing_up: :point_left:

[2021-07-06 23:02] emdupre commented on #3433
Hi @spinicist, thanks for your submission to JOSS ! As @arfon mentioned above, we've swapped handling editors, here, so I'll be acting as editor for your submission.

@MartinK84, thank you for your willingness to review ! I'll wait a bit longer to see if other reviewers might have more availability, but I will of course keep you up to date.

[2021-07-06 23:21] hknd23 commented on #3322
@cmaimone Thank you very much. We appreciate your thoughtful feedback and comments. They were extremely helpful in improving the functionality of the code, the clarity of the documentation, and user-friendliness.

[2021-07-07 00:10] dpsanders commented on #2838
@Swetanshu: Apologies; I see it now.
The metadata (title and authors) on Zenodo is still not correct, though.

[2021-07-07 00:28] mgxd commented on #3432
Sounds great @osorensen

@PeerHerholz we would love to have you as a reviewer 😄

[2021-07-07 02:05] jgostick commented on #2976
@lsurwars, you have done an admirable job in responding to the reviewer comments.  I will ping them via email to have them revisit their check lists, in case they're not being notified by github.

[2021-07-07 02:21] jgostick commented on #3370
I am sorry, I am basically awash in github notifications.   I don't even look at my github dashboard anymore.  In fact, I only noticed this because I saw my avatar while browsing the "submissions without an editor" page.

[2021-07-07 02:21] jgostick commented on #3370
@whedon assign @jgostick as editor

[2021-07-07 02:22] whedon commented on #3370
OK, the editor is @jgostick

[2021-07-07 06:26] osorensen commented on #3432
@PeerHerholz , thanks!

[2021-07-07 06:26] osorensen commented on #3432
@whedon add @PeerHerholz as reviewer

[2021-07-07 06:27] whedon commented on #3432
OK, @PeerHerholz is now a reviewer

[2021-07-07 06:29] ClaudioZandonella commented on #3427
Hi @csoneson, thanks for the quick replay.

`trackdown` provides a simple solution for collaborative writing and editing of reproducible documents. This is very useful for researchers from any field when they have to create reports or journal articles regarding their experiments. Thus, I think `trackdown` falls within your definition of research software because it "supports the execution of resea

[2021-07-07 08:53] fabian-s commented on #3369
@whedon add @corneliusfritz as reviewer

[2021-07-07 08:53] whedon commented on #3369
OK, @corneliusfritz is now a reviewer

[2021-07-07 08:56] fabian-s commented on #3369
@whedon start review

[2021-07-07 08:56] whedon opened #3456 "[REVIEW]: Building, Importing, and Exporting GEXF Graph Files with rgexf"
**Submitting author:** @gvegayon (<a href="http://orcid.org/0000-0002-3171-0844">George Vega Yon</a>)
**Repository:** <a href="https://github.com/gvegayon/rgexf/" target ="_blank">https://github.com/gvegayon/rgexf/</a>
**Version:** v0.16.2
**Editor:** @fabian-s
**Reviewer:** @jonjoncardoso, @corneliusfritz
**Archive:** <a href="https://doi.org/10.5281/zenodo.5182709" target="_blank">10.5281/zenodo

[2021-07-07 08:56] whedon commented on #3369
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3456.

[2021-07-07 08:56] #3369 closed

[2021-07-07 08:56] whedon commented on #3456
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jonjoncardoso, @corneliusfritz it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2021-07-07 08:56] whedon commented on #3456
[code]

[2021-07-07 08:56] whedon commented on #3456
[code]

[2021-07-07 08:56] whedon commented on #3456
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03456/joss.03456/10.21105.joss.03456.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03456/joss.03456/10.21105.joss.03456.pdf) :page_facing_up: :point_left:

[2021-07-07 08:57] fabian-s commented on #3456
thanks for agreeing to review this,  @jonjoncardoso & @corneliusfritz!

[2021-07-07 09:28] arfon commented on #3317
@whedon add @kanderso-nrel as reviewer

[2021-07-07 09:28] whedon commented on #3317
OK, @kanderso-nrel is now a reviewer

[2021-07-07 09:29] arfon commented on #3317
Thanks @kanderso-nrel - that sounds great! I won't open the main review until I've identified a second reviewer here.

[2021-07-07 09:35] mviereck commented on #3295
I was still hoping for an answer in https://github.com/indigo-dc/udocker/issues/312 .
Yet I am working on a comparision to answer the questions myself.

[2021-07-07 09:35] arfon commented on #3326
Got it. Thanks for the additional context and background.

@brunaw – do you think you might be able to complete your review soon?

[2021-07-07 09:46] robertsawko commented on #2978
@danielskatz, @BenMql and @eloisabentivegna. Sorry, I have also been swamped with short term tasks and I will be away next week for 1w. I will make sure to schedule some time to finish off this review on the week of the 19th of July. You will hear from me then. Really sorry this taking so much time.

[2021-07-07 10:12] ad48 commented on #3348
@whedon generate pdf

[2021-07-07 10:12] whedon commented on #3348
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: :point_left:

[2021-07-07 10:38] whedon commented on #3397
:wave: @pmyteh, please update us on how your review is going (this is an automated reminder).

[2021-07-07 10:38] whedon commented on #3397
:wave: @matt-graham, please update us on how your review is going (this is an automated reminder).

[2021-07-07 10:40] lpantano commented on #3378
@whedon add @wdecoster as reviewer

[2021-07-07 10:40] whedon commented on #3378
OK, @wdecoster is now a reviewer

[2021-07-07 10:40] lpantano commented on #3378
@whedon start review

[2021-07-07 10:40] whedon opened #3457 "[REVIEW]: Cutepeaks: A modern viewer for Sanger trace file"
**Submitting author:** @dridk (<a href="http://orcid.org/0000-0002-4563-7537">sacha schutz</a>)
**Repository:** <a href="https://github.com/labsquare/CutePeaks" target ="_blank">https://github.com/labsquare/CutePeaks</a>
**Version:** v0.2.3
**Editor:** @lpantano
**Reviewer:** @tobiasrausch, @wdecoster
**Archive:** <a href="https://doi.org/10.5281/zenodo.5148809" target="_blank">10.5281/zenodo.5148

[2021-07-07 10:40] whedon commented on #3378
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3457.

[2021-07-07 10:40] #3378 closed

[2021-07-07 10:40] whedon commented on #3457
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tobiasrausch, @wdecoster it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-07-07 10:40] whedon commented on #3457
[code]

[2021-07-07 10:40] whedon commented on #3457
Failed to discover a `Statement of need` section in paper

[2021-07-07 10:40] whedon commented on #3457
[code]

[2021-07-07 10:41] whedon commented on #3457
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03457/joss.03457/10.21105.joss.03457.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03457/joss.03457/10.21105.joss.03457.pdf) :page_facing_up: :point_left:

[2021-07-07 12:22] danielskatz commented on #3295
Thanks @mviereck.

👋 @jorge-lip, How would you answer the questions in this issue?

[2021-07-07 12:27] ad48 commented on #3348
@whedon generate pdf

[2021-07-07 12:27] whedon commented on #3348
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: :point_left:

[2021-07-07 12:44] nkallima commented on #3143
@danielskatz I have started working on the changes that williamfgc has proposed. Also, I have replied to a few comments directly in the repository's issues.

[2021-07-07 13:23] Kevin-Mattheus-Moerman commented on #3190
@whedon re-invite @ksyang2013 as reviewer

[2021-07-07 13:23] whedon commented on #3190
OK, the reviewer has been re-invited.

@ksyang2013 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-07 13:25] Kevin-Mattheus-Moerman commented on #3190
@ksyang2013 I have sent you another inviting hoping this might work. If it doesn't work we will look into this. As an alternative you can also copy the components at the top of this issue and tick them in a normal comment window here.

[2021-07-07 13:35] KristinaRiemer commented on #3333
Hi @jules32, that would be great, thank you so much! I'll assign you a reviewer, the review won't start until I have found a second reviewer.

@saskiaotto @HeatherWelch would either of you be able to review this submission? Let me know if that's possible!

[2021-07-07 13:35] KristinaRiemer commented on #3333
@whedon assign @jules32 as reviewer

[2021-07-07 13:36] whedon commented on #3333
OK, @jules32 is now a reviewer

[2021-07-07 14:10] KristinaRiemer commented on #3450
@Kevin-Mattheus-Moerman I wouldn't be able to edit this until mid August, and I don't have any experience with C++, so I don't know if it would be worth trying to find someone else to be the editor?

[2021-07-07 14:20] jgostick commented on #3370
@whedon add @hungpham2017 as reviewer

[2021-07-07 14:20] whedon commented on #3370
OK, @hungpham2017 is now a reviewer

[2021-07-07 14:21] jgostick commented on #3370
@whedon add @jamesrhester as reviewer

[2021-07-07 14:21] whedon commented on #3370
OK, @jamesrhester is now a reviewer

[2021-07-07 14:22] jgostick commented on #3370
@whedon start review

[2021-07-07 14:22] whedon opened #3458 "[REVIEW]: optimade-python-tools: a Python library for serving and consuming materials data via OPTIMADE APIs"
**Submitting author:** @ml-evs (<a href="http://orcid.org/0000-0002-1182-9098">Matthew L Evans</a>)
**Repository:** <a href="https://github.com/Materials-Consortia/optimade-python-tools" target ="_blank">https://github.com/Materials-Consortia/optimade-python-tools</a>
**Version:** 0.16.4
**Editor:** @jgostick
**Reviewer:** @hungpham2017, @jamesrhester
**Archive:** <a href="https://doi.org/10.5281/

[2021-07-07 14:22] whedon commented on #3370
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3458.

[2021-07-07 14:22] #3370 closed

[2021-07-07 14:22] whedon commented on #3458
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hungpham2017, @jamesrhester it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-07-07 14:22] whedon commented on #3458
PDF failed to compile for issue #3458 with the following error:
[code]

[2021-07-07 14:22] whedon commented on #3458
[code]

[2021-07-07 14:29] ml-evs commented on #3458
@whedon generate pdf from branch joss

[2021-07-07 14:29] whedon commented on #3458
[code]

[2021-07-07 14:30] whedon commented on #3458
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03458/joss.03458/10.21105.joss.03458.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03458/joss.03458/10.21105.joss.03458.pdf) :page_facing_up: :point_left:

[2021-07-07 14:35] ml-evs commented on #3458
FYI @jgostick, I've just been made aware that James Hester (@jamesrhester) is a collaborator on an ongoing project with one of the authors of this package (@CasperWA) and some of the authors of the OPTIMADE specification more widely.

[2021-07-07 15:00] hagenw commented on #3391
I cannot fill out the bullet points as the invitation under https://github.com/openjournals/joss-reviews/invitations has expired.

[2021-07-07 15:00] meg-simula commented on #3237
I'll look at tonight, thanks for the patience.

[2021-07-07 15:01] meg-simula commented on #3237
/ooo until Aug 9 2021

[2021-07-07 15:01] danielskatz commented on #3391
@whedon re-invite @hagenw as reviewer

[2021-07-07 15:01] whedon commented on #3391
OK, the reviewer has been re-invited.

@hagenw please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-07 15:02] ArtVoro commented on #3325
@jgostick we pushed a new version of paper.md and extended the citations accordingly. I think all  points mentioned from the reviewers should be covered now.

[2021-07-07 15:03] ArtVoro commented on #3325
@whedon generate pdf

[2021-07-07 15:04] whedon commented on #3325
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03325/joss.03325/10.21105.joss.03325.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03325/joss.03325/10.21105.joss.03325.pdf) :page_facing_up: :point_left:

[2021-07-07 15:19] smuehlh commented on #3363
@arfon – many thanks for your assessment. Let me briefly comment on your main concerns.

First – on the code feeling like a collection of standalone scripts. Well, yes, the code is a collection of two (currently three, but I agree that there is no benefit in keeping scripts 2 and 3 separate and thus plan on merging those two) connected scripts. This design is on purpose, as the nature of the task

[2021-07-07 15:36] EricaEgg commented on #3317
I would also be happy to review.

Thanks for reaching out,

Erica Eggleton

On Tue, Jul 6, 2021 at 11:29 PM Arfon Smith ***@***.***>
wrote:

--
*Erica Eggleton*
she/her/hers
PhD Candidate
Schwartz Research Group <https://uwemilab.github.io/>
Department of Chemical Engineering <https://www.cheme.washington.edu/>
University of Washington

[2021-07-07 16:46] jedbrown commented on #2945
@whedon set 10.5281/zenodo.5080235  as archive

[2021-07-07 16:46] whedon commented on #2945
OK. <a href="https://doi.org/10.5281/zenodo.5080235" target="_blank">10.5281/zenodo.5080235</a> is the archive.

[2021-07-07 16:54] jedbrown commented on #2945
@whedon generate pdf from branch joss-paper

[2021-07-07 16:54] whedon commented on #2945
[code]

[2021-07-07 16:54] whedon commented on #2945
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02945/joss.02945/10.21105.joss.02945.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02945/joss.02945/10.21105.joss.02945.pdf) :page_facing_up: :point_left:

[2021-07-07 16:57] jedbrown commented on #2945
@whedon check references from branch joss-paper

[2021-07-07 16:57] whedon commented on #2945
[code]

[2021-07-07 16:57] whedon commented on #2945
[code]

[2021-07-07 16:59] jedbrown commented on #2945
Thanks for your patience and constructive reviews. We've released and packaged v0.9.0 and archived so this is ready from my perspective.

[2021-07-07 17:25] whedon commented on #3398
:wave: @zsylvester, please update us on how your review is going (this is an automated reminder).

[2021-07-07 17:25] whedon commented on #3398
:wave: @jhnienhuis, please update us on how your review is going (this is an automated reminder).

[2021-07-07 17:29] slayoo commented on #3219
Let me provide a point-by-point reply to @darothen's review.

First of all, on behalf of all authors, let me express again our appreciation for the feedback. We have been working on addressing the points raised in the review, and a lot is already reflected in the recent 1.4 release of PySDM (https://github.com/atmos-cloud-sim-uj/PySDM/releases/tag/v1.4).

As correctly pointed out by the reviewer,

[2021-07-07 18:04] adi3 commented on #3367
@nnadeau - awesome! Thank you!

@whedon assign @nnadeau as reviewer

[2021-07-07 18:09] danielskatz commented on #3367
@adi3  - commands to @whedon have to be the first thing in a comment - ☝️ didn't work

[2021-07-07 18:09] adi3 commented on #3367
@whedon assign @nnadeau as reviewer

[2021-07-07 18:09] whedon commented on #3367
OK, @nnadeau is now a reviewer

[2021-07-07 18:55] ksyang2013 commented on #3190
Thank you! It works now!

--------------------------------------
Kesong YANG, Ph.D.

Associate Professor,
Department of NanoEngineering,
Program of Materials Science and Engineering,
Center for Memory and Recording Research (CMRR),
University of California San Diego
9500 Gilman Drive, Mail Code 0448
La Jolla, CA 92093-0448, USA

Office: SME 244H
Tel: (858) 534-2514
E-mail: ***@***.***
http://mater

[2021-07-07 19:03] mparno commented on #3076
Thanks again to @martinmodrak and @georgiastuart for their careful reviews.   We have incorporated most of your suggestions and it has definitely made MUQ a better project.   The current version `v0.3.4` of MUQ contains all of our updates, which we're currently using to update our conda package and docker images.  Below we also provide individual responses to the main points brought up in the revi

[2021-07-07 19:07] milicag commented on #3203
Thanks @Eugenio2192, I'll take a look over the weekend and keep you posted. Regarding the testing, I was thinking more like a unit testing suite to ensure proper implementation of all the equations, or say at least some percentage of the functionality, with a simple assertion to pass or fail the test. This is also useful for any future development, as reference points. It does not need to be autom

[2021-07-07 19:21] ksyang2013 commented on #3190
@SunilAnandatheertha <https://github.com/SunilAnandatheertha>

Thanks for updates. I am checking the following items:

 Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution.

Even it is stated in README.md <https://github.com/SunilAnandatheertha/PXO#readme>, it is still desired to put an instruction

[2021-07-07 19:28] KristianNelson commented on #3383
@jsta Thank you for your feedback! I will add in those necessary guidelines and I do agree we need to clear up the aim of the paper so that it focuses more on how the package works. You make some really good points that I will consider in the edits.

To answer your first question, we utilize the Urban Water Blueprint to know where cities are getting their drinking water. Los Angeles has multiple w

[2021-07-07 19:34] PeerHerholz commented on #3432
Ahoi hoi @osorensen,

I was looking for the review issue but then realized that the review wasn't started yet :man_facepalming:.
This will be done once there are more reviewers, eh?

Cheers, Peer

[2021-07-07 19:35] meg-simula commented on #3237
@whedon generate pdf from branch master

[2021-07-07 19:35] whedon commented on #3237
[code]

[2021-07-07 19:35] whedon commented on #3237
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: :point_left:

[2021-07-07 19:36] meg-simula commented on #3237
@whedon check references

[2021-07-07 19:36] whedon commented on #3237
[code]

[2021-07-07 19:36] diehlpk commented on #2945
@thelfer and @FreddieWitherden thanks again for your review.

@jedbrown, @valeriabarra I can recommend the paper for acceptance.

[2021-07-07 19:37] diehlpk commented on #2945
@whedon recommend-accept

[2021-07-07 19:37] whedon commented on #2945
[code]

[2021-07-07 19:37] whedon commented on #2945
PDF failed to compile for issue #2945 with the following error:
[code]

[2021-07-07 19:38] diehlpk commented on #2945
@whedon generate pdf from branch joss-paper

[2021-07-07 19:38] whedon commented on #2945
[code]

[2021-07-07 19:38] whedon commented on #2945
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02945/joss.02945/10.21105.joss.02945.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02945/joss.02945/10.21105.joss.02945.pdf) :page_facing_up: :point_left:

[2021-07-07 19:39] diehlpk commented on #2945
@whedon list reviewers

[2021-07-07 19:39] whedon commented on #2945
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-07-07 19:42] diehlpk commented on #3309
Hey @smith42 @hayesall @anki-xyz @vasudev-sharma @88d52bdba0366127fffca9dfa93895 @magedhelmy1 would you be interested in reviewing this paper?

[2021-07-07 19:51] meg-simula commented on #3237
@whedon check references from branch master

[2021-07-07 19:52] whedon commented on #3237
[code]

[2021-07-07 19:52] whedon commented on #3237
[code]

[2021-07-07 19:54] meg-simula commented on #3237
Hi @schruste,

Thanks again for the submission and for handling all reviewer
feedback. I assume that the paper in the master branch is the relevant
one.

Could you address the following editorial points:
- [ ] Use Python, not python.
- [ ] Spell out w.r.t. (with regard to)
- [ ] Replace "facilities", perhaps by "functionality"?
- [ ] Use .~ to avoid breaking white space (e.g.~e.g.)
- [ ] Replace "

[2021-07-07 19:56] meg-simula commented on #3237
/ooo July 1 until August 9

[2021-07-07 20:15] sappelhoff commented on #3293
@whedon generate pdf from branch joss-paper

[2021-07-07 20:15] whedon commented on #3293
[code]

[2021-07-07 20:15] whedon commented on #3293
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03293/joss.03293/10.21105.joss.03293.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03293/joss.03293/10.21105.joss.03293.pdf) :page_facing_up: :point_left:

[2021-07-07 20:30] jedbrown commented on #2945
I think you can do `@whedon recommend-accept from branch joss-paper`

[2021-07-07 20:32] jedbrown commented on #2945
BTW, I intend to squash-merge the branch upon acceptance, but I would like to wait for AEiC approval first (for repository hygiene).

[2021-07-07 20:41] whedon commented on #3399
:wave: @ngoiz, please update us on how your review is going (this is an automated reminder).

[2021-07-07 20:41] whedon commented on #3399
:wave: @Gunnstein, please update us on how your review is going (this is an automated reminder).

[2021-07-07 21:06] diehlpk commented on #2945
@whedon recommend-accept from branch joss-paper

[2021-07-07 21:06] whedon commented on #2945
[code]

[2021-07-07 21:06] whedon commented on #2945
[code]

[2021-07-07 21:07] whedon commented on #2945
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2437

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2437, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-07 21:20] diehlpk commented on #3311
Hi @ArangoGutierrez how is your review going?

[2021-07-07 21:20] diehlpk commented on #3311
Hi @zbeekman how is your review going?

[2021-07-07 21:30] schruste commented on #3237
@meg-simula . Thank you for your reply!

Indeed the latest changes have been made to the master branch.

I applied your changes, but have problems with "Use .~ to avoid breaking white space (e.g.~e.g.)" as this doesn't behave in markdown the same way one would expect in latex, the tilde is rendered.

[2021-07-07 21:30] schruste commented on #3237
@whedon generate pdf

[2021-07-07 21:31] whedon commented on #3237
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: :point_left:

[2021-07-07 22:17] ejhigson commented on #3324
Apologies for the delay - I plan to do this in the next couple of weeks!

[2021-07-07 23:28] elwinter commented on #3309
Hi Patrick. Sorry for the delayed reply. I had suggested one reviewer from the JOSS list when I submitted the paper, but I see in my email archive that you are not having much luck getting a reviewer from your usual team. The only person on your team I could suggest is Arfon, but we know each other from working together at STScI, so that would not be appropriate, unless the reviews are blind. But

[2021-07-08 01:04] jamesrhester commented on #3458
@jgostick, I have read the COI policy and should declare here that author @CasperWA and myself are both currently involved in the [EMMO crystallography project](https://github.com/emmo-repo/CIF-ontology/). I have also participated in several zoom meetings of the OPTIMADE consortium, neither of which concerned this work, of which I was not aware until now. Neither my institution nor myself have rec

[2021-07-08 03:02] ibarraespinosa commented on #3435
hello @ajstewartlang, I can't update the checklist.

[2021-07-08 03:27] turbach commented on #3293
@whedon generate pdf from branch joss-paper

[2021-07-08 03:27] whedon commented on #3293
[code]

[2021-07-08 03:28] whedon commented on #3293
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03293/joss.03293/10.21105.joss.03293.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03293/joss.03293/10.21105.joss.03293.pdf) :page_facing_up: :point_left:

[2021-07-08 03:54] turbach commented on #3293
@sappelhoff @AJQuinn @andportnoy @meg-simula

Hi all, thanks much for the reviews, close reads, and constructive comments. The JOSS ms, fitgrid package, and docs are better for them.

The revised ms is available [above](https://github.com/openjournals/joss-reviews/issues/3293#issuecomment-876094423).

The revisions to the package and docs are incorporated into a new stable release, [fitgrid v0.5.1

[2021-07-08 04:27] osorensen commented on #3432
Yes @PeerHerholz, that's correct :-) Review has not started yet

[2021-07-08 06:01] pdebuyl commented on #3076
Hello @mparno thank you for the update. Regarding the inclusion of new features, it is not necessary. The most important is that the description of the actual capabilities be of sufficient clarity. On the principle of another paper, it is decided upon submission and I can't say already what would be the answer. If it about extending the "existing in C++" parallel capability to the Python interface

[2021-07-08 06:06] osorensen commented on #3432
@nicksisco1932, @robbisg, @DrMarc, would any of you be interested in reviewing this submission to the Journal of Open Source Software?

[2021-07-08 06:16] martinmodrak commented on #3076
Thanks for the updates. Unfortunately, I am leaving for a two weeks vacation on Friday and won't be able to look into this before returning. I'll try to get to this ASAP after returning, but a realistic date for an update from me is around July 29th. Sorry for the delay.

[2021-07-08 06:55] adithirgis commented on #3435
@whedon generate pdf

[2021-07-08 06:56] whedon commented on #3435
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: :point_left:

[2021-07-08 06:56] adithirgis commented on #3435
@whedon commands

[2021-07-08 06:56] whedon commented on #3435
Here are some things you can ask me to do:

[code]

[2021-07-08 06:56] adithirgis commented on #3435
@whedon check references

[2021-07-08 06:56] whedon commented on #3435
[code]

[2021-07-08 07:31] ShantanuDash commented on #3431
@majensen could you resend the invitation again. I forgot to join.

[2021-07-08 07:34] ajstewartlang commented on #3435
hi @ibarraespinosa can you double check that you've accepted the GH email invitation to this repo ok?

[2021-07-08 07:58] evetion commented on #3098
@vyasr The recent activity on the issues over at coxeter is great, but note that most of those are nice to haves and not required for joss. In case this wasn't clear, for this review to succeed, there are two open *blocking questions* in [my comment above](https://github.com/openjournals/joss-reviews/issues/3098#issuecomment-868688025), namely the statement of need in the documentation and the que

[2021-07-08 08:40] robbisg commented on #3432
Hi everyone, thanks for considering me as a potential reviewer. I'd be happy to review the software and help the python neuroimaging community.

[2021-07-08 08:44] osorensen commented on #3432
Thanks @robbisg !

[2021-07-08 08:44] osorensen commented on #3432
@whedon assign @robbisg as reviewer

[2021-07-08 08:44] whedon commented on #3432
OK, @robbisg is now a reviewer

[2021-07-08 08:46] osorensen commented on #3432
@whedon add @PeerHerholz as reviewer

[2021-07-08 08:46] whedon commented on #3432
OK, @PeerHerholz is now a reviewer

[2021-07-08 08:46] osorensen commented on #3432
@whedon start review

[2021-07-08 08:47] whedon opened #3459 "[REVIEW]: NiTransforms: A Python tool to read, represent, manipulate, and apply n-dimensional spatial transforms"
**Submitting author:** @mgxd (<a href="http://orcid.org/0000-0002-7252-7771">Mathias Goncalves</a>)
**Repository:** <a href="https://github.com/poldracklab/nitransforms" target ="_blank">https://github.com/poldracklab/nitransforms</a>
**Version:** 21.0.0
**Editor:** @osorensen
**Reviewer:** @robbisg, @PeerHerholz
**Archive:** <a href="https://doi.org/10.5281/zenodo.5499694" target="_blank">10.5281

[2021-07-08 08:47] whedon commented on #3432
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3459.

[2021-07-08 08:47] #3432 closed

[2021-07-08 08:47] whedon commented on #3459
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @robbisg, @PeerHerholz it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-07-08 08:47] arfon commented on #3317
@whedon add @EricaEgg as reviewer

[2021-07-08 08:47] whedon commented on #3317
OK, @EricaEgg is now a reviewer

[2021-07-08 08:47] whedon commented on #3459
Failed to discover a `Statement of need` section in paper

[2021-07-08 08:47] whedon commented on #3459
[code]

[2021-07-08 08:47] whedon commented on #3459
[code]

[2021-07-08 08:47] whedon commented on #3459
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03459/joss.03459/10.21105.joss.03459.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03459/joss.03459/10.21105.joss.03459.pdf) :page_facing_up: :point_left:

[2021-07-08 08:48] arfon commented on #3317
@whedon start review

[2021-07-08 08:48] whedon opened #3460 "[REVIEW]: RayFlare: flexible optical modelling of solar cells"
**Submitting author:** @phoebe-p (<a href="http://orcid.org/0000-0001-9082-9506">Phoebe Pearce</a>)
**Repository:** <a href="https://github.com/qpv-research-group/rayflare" target ="_blank">https://github.com/qpv-research-group/rayflare</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @kanderso-nrel, @EricaEgg
**Archive:** <a href="https://doi.org/10.5281/zenodo.5526536" target="_blank">10

[2021-07-08 08:48] whedon commented on #3317
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3460.

[2021-07-08 08:48] #3317 closed

[2021-07-08 08:48] whedon commented on #3460
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kanderso-nrel, @EricaEgg it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-07-08 08:48] whedon commented on #3460
PDF failed to compile for issue #3460 with the following error:
[code]

[2021-07-08 08:48] whedon commented on #3460
[code]

[2021-07-08 08:49] arfon commented on #3317
@kanderso-nrel @EricaEgg - thanks so much for agreeing to review! See you over in #3460 where the actual review will take place.

[2021-07-08 08:50] arfon commented on #3460
@whedon generate pdf from branch paper

[2021-07-08 08:50] whedon commented on #3460
[code]

[2021-07-08 08:50] whedon commented on #3460
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03460/joss.03460/10.21105.joss.03460.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03460/joss.03460/10.21105.joss.03460.pdf) :page_facing_up: :point_left:

[2021-07-08 08:51] arfon commented on #3460
@kanderso-nrel, @EricaEgg - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisf

[2021-07-08 09:11] awvwgk commented on #2976
@Isurwars thanks for addressing our comments. Personally, I would prefer to discuss those points in the issue tracker of your projects as it allows to more clearly associate changes or patches with an already raised topic, not only for us, but also for your users, but we can also have this discussion here.

[2021-07-08 09:40] Swetanshu commented on #2838
@dpsanders Sorry, but I am not really sure what you want me to change. Can you please explain a little about what needs to be done and how do I go about it. Thanks in advance!

[2021-07-08 10:37] sappelhoff commented on #3293
Thanks @turbach I have only three hopefully minor points that are left:

- [ ] https://github.com/kutaslab/fitgrid/issues/210 (this might be a problem with my machine and/or the docs, or an actual issue)
- [ ] https://github.com/kutaslab/fitgrid/issues/198 (feel free to ditch this one if you can't figure it out)
- [ ] https://github.com/kutaslab/fitgrid/pull/211 (minor PR to purge some unneeded sp

[2021-07-08 11:07] mparno commented on #3076
Thanks for clarifying @pdebuyl.   We'll hold off on the other paper for now.

Enjoy your vacation @martinmodrak!

[2021-07-08 11:52] fgeertman opened #3461 "State of the field: Do the authors describe how this software compares to other commonly-used packages?"
The authors do not describe how this software compares to other commonly-used packages. As a reviewer I have to answer this question with "NO", but I'm not sure if is is the intent of the authors to make a comparison. How to deal with this?

[2021-07-08 11:52] whedon commented on #3461
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-08 11:53] whedon commented on #3461
Downloading of the repository (to analyze the language) for issue #3461 failed with the following error:
[code]

[2021-07-08 11:53] whedon commented on #3461
PDF failed to compile for issue #3461 with the following error:
[code]

[2021-07-08 11:53] whedon commented on #3461
Downloading of the repository (to check the bibtex) failed for issue #3461 failed with the following error:
[code]

[2021-07-08 12:53] tobiasrausch commented on #3457
proof, line 27: The regular expression `AC.+T` should probably be `AC+T`

[2021-07-08 12:55] ibarraespinosa commented on #3435
I got this message
Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account.

[2021-07-08 12:56] nandaloo commented on #3395
@vissarion I update the bibliography file as follows:
- added missing DOI for the paper "Polaris: A System for Query, Analysis, and Visualization of Multidimensional Relational Databases":
- I added a link to the arXiv preprint version for the paper "Sum-Product Networks: A New Deep Architecture". Whdeom suggested a DOI, but that one is for a workshop version of the paper. The actual publication i

[2021-07-08 12:57] danielskatz commented on #3435
@whedon re-invite @ibarraespinosa as reviewer

[2021-07-08 12:58] whedon commented on #3435
OK, the reviewer has been re-invited.

@ibarraespinosa please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-08 12:59] wdecoster commented on #3457
Hi @dridk, @tobiasrausch, and @lpantano

This is the first time I review for JOSS, so please let me know if I make a mistake. The process appears to be very clear though.

The installation instructions for Linux mention `chmod +x cutepeaks-0.2.0-linux-x86_64.appimage`, while the name of the binary is just `cutepeaks-x86_64.AppImage`.
Upon calling the executable (`./cutepeaks-x86_64.AppImage`) I ge

[2021-07-08 13:09] dridk commented on #3457
@wdecoster sorry for that ! AppImage has been build on a previous system.
Here is a version for your system :
https://github.com/labsquare/CutePeaks/releases/download/0.2.3/cutepeaks-ubuntu_21-04-x86_64.AppImage

Should works ! I just tested it

[2021-07-08 13:15] vissarion commented on #3395
@whedon check references

[2021-07-08 13:16] whedon commented on #3395
[code]

[2021-07-08 13:17] wdecoster commented on #3457
Yes - I can confirm that works!

[2021-07-08 13:17] vissarion commented on #3395
@whedon generate pdf

[2021-07-08 13:17] whedon commented on #3395
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: :point_left:

[2021-07-08 13:19] tystan commented on #2694
Great, thanks @wesleyburr. v1.0-1 installs and the online vignettes all work now (and I'm now using the in-package vignettes too, cheers for the heads up).

[2021-07-08 13:28] vissarion commented on #3395
Thanks, I see.

I found two more papers that have available DOIs as well as open access versions; see https://github.com/lumen-org/lumen/issues/106

After fixing that I am ready to recommend acceptance.

[2021-07-08 13:51] nandaloo commented on #3395
@whedon generate pdf

[2021-07-08 13:51] whedon commented on #3395
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: :point_left:

[2021-07-08 13:54] nandaloo commented on #3395
@vissarion I mixed #106 and also added more missing DOIs. All references now include the DOIs or have none. Thank you!

[2021-07-08 14:00] vissarion commented on #3395
@whedon generate pdf

[2021-07-08 14:00] whedon commented on #3395
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: :point_left:

[2021-07-08 14:01] ibarraespinosa commented on #3435
Thanks 😊

Em qui, 8 de jul de 2021 09:58, whedon ***@***.***> escreveu:

[2021-07-08 14:02] vissarion commented on #3395
@whedon check references

[2021-07-08 14:02] whedon commented on #3395
[code]

[2021-07-08 14:02] vissarion commented on #3395
@whedon recommend-accept

[2021-07-08 14:02] whedon commented on #3395
[code]

[2021-07-08 14:03] whedon commented on #3395
[code]

[2021-07-08 14:03] whedon commented on #3395
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2438

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2438, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-08 15:06] virgesmith commented on #3351
FYI once I've got and addressed the comments from @tresoldi I plan to create a 1.0.0 release to coincide with the JOSS publication...

[2021-07-08 15:10] SunilAnandatheertha commented on #3190
@ksyang2013

Thank you for the review. I have updated the codes and documentation accordingly.

Installation instructions have been detailed in the file “installation_instructions.txt” available in the main repository root directory. A package manager will be developed in the future. It is also provided in the page: https://github.com/SunilAnandatheertha/PXO/wiki/Installation-instructions.

Automa

[2021-07-08 15:13] SunilAnandatheertha commented on #3190
@ksyang2013   Please also ensure that the working directory has full write access.

[2021-07-08 15:17] dpsanders commented on #2838
@Swetanshu: The title of the Zenodo repository must be exactly the same as the title of the JOSS paper. And the author list must also be exactly the same.

[2021-07-08 15:26] Kevin-Mattheus-Moerman commented on #3450
@KristinaRiemer okay no worries, thanks for your reply.

[2021-07-08 15:26] whedon opened #3462 "[PRE REVIEW]: sandpyper: A Python package for UAV-SfM beach volumetric and behavioural analysis"
**Submitting author:** @npucino (<a href="http://orcid.org/0000-0001-6260-6647">Nicolas Pucino</a>)
**Repository:** <a href="https://github.com/npucino/sandpyper.git" target ="_blank">https://github.com/npucino/sandpyper.git</a>
**Version:** v0.1.1
**Editor:** @kbarnhart
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2021-07-08 15:26] whedon commented on #3462
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-08 15:26] whedon commented on #3462
[code]

[2021-07-08 15:27] whedon commented on #3462
[code]

[2021-07-08 15:27] whedon commented on #3462
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03462/joss.03462/10.21105.joss.03462.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03462/joss.03462/10.21105.joss.03462.pdf) :page_facing_up: :point_left:

[2021-07-08 15:40] whedon opened #3463 "[PRE REVIEW]: lhorizon: geometry and targeting via JPL Horizons"
**Submitting author:** @m-stclair (<a href="http://orcid.org/0000-0002-7877-3148">Michael St. Clair</a>)
**Repository:** <a href="https://github.com/MillionConcepts/lhorizon" target ="_blank">https://github.com/MillionConcepts/lhorizon</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewers:** @malmans2, @steo85it
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

[2021-07-08 15:40] whedon commented on #3463
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-08 15:41] whedon commented on #3463
PDF failed to compile for issue #3463 with the following error:
[code]

[2021-07-08 15:41] whedon commented on #3463
[code]

[2021-07-08 15:41] whedon commented on #3463
[code]

[2021-07-08 15:47] diehlpk commented on #3309
Yeah, I think I asked some of the reviewers in the JOSS list. I can wait for some time and ask the next round. I was thinking you have can recommend some external ones.m since you work on this topic.

[2021-07-08 16:05] uellue commented on #3394
Probably I can get to it next week. Thank you for your understanding!

[2021-07-08 16:37] timtroendle commented on #3313
Hi @amandadsmith, to keep you up to date: I am currently looking for a second reviewer and a second review of your submission. I will update you as soon as I made progress in my search.

[2021-07-08 17:11] matt-graham commented on #3397
I have added the bulk of my review as issues on the project repository; most of these should only require small fixes. The main substantive issues I would say are some possible improvements to the API documentation (mggg/ecological-inference#60 and mggg/ecological-inference#62) and adding some discussion of MCMC convergence issues to the notebooks (mggg/ecological-inference#63).

I think overall t

[2021-07-08 17:31] ksyang2013 commented on #3190
@SunilAnandatheertha
Great! Thanks for the update!
I am glad to recommend publishing the article and code.

[2021-07-08 18:03] untzag commented on #3394
Thanks for your response @kasasxav, I'm satisfied that Andreas Bodén and Ilaria Testa are appropriate authors.

[2021-07-08 18:30] untzag commented on #3394
The authors have packaged ImSwitch and pushed it to PyPI :clap:

[2021-07-08 18:34] untzag commented on #3394
The authors have satisfied this requirement to my satisfaction, although other reviewers may of-course disagree.

[2021-07-08 18:40] rcannood commented on #3311
Sorry for taking so long to review this manuscript. I believe the work discussed in the manuscript to be a valuable contribution to the way HPC clusters are managed, and that the manuscript is well written and logically sound. I went over the review checklist and can confirm that this submission satisfies all conditions for publications :)

[2021-07-08 18:45] slayoo commented on #3219
For the record, PySDM v1.4 is now available on PyPI as well: https://pypi.org/project/PySDM/

[2021-07-08 18:55] untzag commented on #3394
All of my check-boxes have been checked.

I haven't been able to test ImSwitch with real hardware, but I've looked at the source code and I'm satisfied that everything seems reasonable. From what I can see, ImSwitch's contribution isn't raw hardware support but rather orchestration and GUI with a hardware abstraction model. It seems flexible enough to take on a variety of camera-based workloads. I

[2021-07-08 19:09] ArangoGutierrez commented on #3311
I went over my checklist and I think this qualifies for publication

[2021-07-08 19:12] vyasr commented on #3098
@evetion thanks for the ping on that. I'd appreciate any feedback from you on my work on the non-blocking items as well, but regarding the blockers:
- As I'm sure you noticed, Sharon Glotzer has not contributed any code to coxeter, but she has been involved in all of the research that led to its creation and helped guide the creation of prototypes for many features that eventually made their way i

[2021-07-08 19:24] snastase commented on #3432
I'd love to review this, but I'm a little backed up right now—probably wouldn't get to it for another week or two. Let me know if you end up needing another reviewer!

[2021-07-08 19:31] ColCarroll commented on #3397
Hey @matt-graham -- the authors talked to me beforehand. My contributions were around testing/CI (which got me on the commit history!), as well as advising on some computation and API issues, and I am delighted to be in the acknowledgements. Thank you for checking on it, too!

[2021-07-08 19:43] osorensen commented on #3432
@snastase, thanks, that's absolutely fine. We've started the review with two other reviewers, so I'll get back to you at a later submission.

[2021-07-08 20:01] matt-graham commented on #3397
@ColCarroll - thanks for the clarification!

[2021-07-08 20:49] sbenthall commented on #3245
@trallard would you be able to review this package?

[2021-07-08 20:50] sbenthall commented on #3013
@road2stat would you be able to review this package?

[2021-07-08 20:52] sbenthall commented on #3245
@eschnett would you be able to review this package?

[2021-07-08 20:53] sbenthall commented on #3013
@trallard would you be able to review this package?

[2021-07-08 21:07] eschnett commented on #3245
@sbenthall I am.

[2021-07-08 21:29] Garyfallidis commented on #3384
Dear Prof. Rougier (@rougier), the conda packages for vtk are not officially provided by Kitware and therefore we suggest using pip directly to install vtk.

This is probably because of the conda installation. Time permitted, please uninstall conda vtk and upgrade vtk using pip.

Thank you for your encouraging words.

We should be able to partially import functions with the latest versions of VTK

[2021-07-08 21:52] satejsoman commented on #3382
Hi @Nikoleta-v3, should we ask the next group of reviewers if they're available?

[2021-07-08 21:53] wxwx1993 commented on #3382
I am happy to provide the review for this submission for JOSS. Could you please let me know the deadline and any additional requirements?

[2021-07-08 22:23] Garyfallidis commented on #3384
Thank you for your review @phamvanvung and happy to hear that the instructions work well.

fury/tests/test_pick.py::test_picking_manager Fatal Python error: Segmentation fault

Yes, this looks like a conda issue. Please try to uninstall conda vtk and use the pip installer for vtk. Hopefully, this change will fix the issue.

Apologies, we are currently transitioning to an updated (new)  website. We

[2021-07-08 22:24] Garyfallidis commented on #3384
@whedon generate pdf

[2021-07-08 22:25] whedon commented on #3384
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03384/joss.03384/10.21105.joss.03384.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03384/joss.03384/10.21105.joss.03384.pdf) :page_facing_up: :point_left:

[2021-07-08 22:29] da5nsy commented on #3449
Noting this previous work: https://github.com/Ruedeerat/RGBshine

[2021-07-08 22:36] Garyfallidis commented on #3384
Dear @danielskatz we answered the reviewers we will let you notify them. Thank you in advance.

[2021-07-08 22:47] danielskatz commented on #3384
The reviewers should see your changes here.

[2021-07-08 23:25] yunanwu123 commented on #3273
I have closed my comment issue and checked the boxes. Thanks for the great package! @PhilBoileau

[2021-07-08 23:38] PhilBoileau commented on #3273
Thank for the review and helpful suggestions, @yunanwu123!

[2021-07-09 00:09] diehlpk commented on #3311
@ArangoGutierrez Please check the list again. It seems that two items are not checked.

[2021-07-09 00:15] elwinter commented on #3309
Hmm, OK. I’ll see what I (or my advisor) can come up with.

Take care

Eric

From: Patrick Diehl ***@***.***>
Sent: Thursday, July 8, 2021 11:48 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: nnde: A Python package for solving differential equations using neural networks (#3309)

Hi Patrick. So

[2021-07-09 00:56] hayesall commented on #3309
Hey @diehlpk I can help review.

[2021-07-09 01:19] diehlpk commented on #3309
@whedon add @hayesall as reviewer

[2021-07-09 01:20] brunaw commented on #3326
Dear @arfon,

I will complete my review next week. Is that okay?

[2021-07-09 01:34] brunaw commented on #3326
@expectopatronum Just my two cents of the previous discussion. It's a little strange to me that the FMP notebooks paper isn't cited much because, at least from my experience, the notebooks are widely known in the ISMIR community. I know a few people who have used it in their research so they might have missed it when writing their references. This also leads to the age question, the first time I g

[2021-07-09 01:52] nistara commented on #3377
Hi @mikldk, this submission looks really interesting, but it'll be difficult for me to review in a timely manner. If another reviewer is not found then I'd be happy to take this up if the authors and you don't mind a delay of more than a couple of weeks.

[2021-07-09 04:38] n3011 commented on #3446
This issue is resolved, right?

[2021-07-09 06:20] arfon commented on #3326
Absolutely! Thanks for the update.

[2021-07-09 06:36] pmeier commented on #3446
The paper is available on the [`joss` branch](https://github.com/openAGI/datum/tree/joss).

That leaves the question which version / branch should be reviewed:
- `master`
- `joss`
- release `1.1.0`
?

[2021-07-09 06:37] evetion commented on #3098
@vyasr Thanks for the explanation. The recent documentation is a good improvement and with the assumption you'll merge the PR, I've checked the last review boxes.

[2021-07-09 06:45] n3011 commented on #3446
`master` branch has the code of the recent release `1.2.0`. Please review `master` branch.

[2021-07-09 07:43] csoneson commented on #3362
👋🏻 Hi all - just wanted to check in on how the reviews are coming along. Thanks!

[2021-07-09 07:45] Nikoleta-v3 commented on #3382
Thank you @wxwx1993 😄

The official reviewing guidelines for JOSS are available here: https://joss.readthedocs.io/en/latest/review_checklist.html

The reviews are checklist-driven. As you can see the current issue is labeled a `pre review` issue. Once we find a second reviewer this issue will be closed, and we will open the `review` issue. There you will find a checklist that you need to complete

[2021-07-09 07:50] Nikoleta-v3 commented on #3382
👋 @dilawar & @nhtran93 & @krother & @Genomematt, would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "Epimargin: A Toolkit for Epidemiological Estimation, Prediction, and Policy Evaluat

[2021-07-09 07:58] Nikoleta-v3 commented on #3420
@whedon generate pdf

[2021-07-09 07:59] whedon commented on #3420
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03420/joss.03420/10.21105.joss.03420.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03420/joss.03420/10.21105.joss.03420.pdf) :page_facing_up: :point_left:

[2021-07-09 08:01] pratheesh3780 commented on #3437
@whedon generate pdf

[2021-07-09 08:01] whedon commented on #3437
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03437/joss.03437/10.21105.joss.03437.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03437/joss.03437/10.21105.joss.03437.pdf) :page_facing_up: :point_left:

[2021-07-09 08:01] Nikoleta-v3 commented on #3420
@whedon check references

[2021-07-09 08:01] whedon commented on #3420
[code]

[2021-07-09 08:03] Nikoleta-v3 commented on #3420
@Hegghammer thank you again for your submission with JOSS, if you have not already done so, could you take a look through https://bit.ly/joss-reviewers to suggest some potential reviewers 😄

[2021-07-09 08:27] whedon commented on #3414
:wave: @martinfleis, please update us on how your review is going (this is an automated reminder).

[2021-07-09 08:27] whedon commented on #3414
:wave: @TomasBeuzen, please update us on how your review is going (this is an automated reminder).

[2021-07-09 08:27] whedon commented on #3414
:wave: @TomasBeuzen, please update us on how your review is going (this is an automated reminder).

[2021-07-09 08:37] geoffreyp commented on #2974
@whedon generate pdf

[2021-07-09 08:37] whedon commented on #2974
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02974/joss.02974/10.21105.joss.02974.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02974/joss.02974/10.21105.joss.02974.pdf) :page_facing_up: :point_left:

[2021-07-09 09:05] LMMorgan commented on #3451
I have been through the list of potential reviews and selected 5 which seem relevant. Their usernames are:
1. lscalfi
2. marshallmcdonnell
3. masrul
4. amandadumi
5. p-snft

[2021-07-09 09:10] dilawar commented on #3382
I am happy to review this submission.

PS: This will be my first review.

[2021-07-09 09:28] Nikoleta-v3 commented on #3382
Thank you @dilawar 😄 That's absolutely fine! 🎉

You can see my message to above regarding the reviewing process: https://github.com/openjournals/joss-reviews/issues/3382#issuecomment-876987050, and you will always be able to ping me if you have any questions/concerns.

[2021-07-09 09:29] Nikoleta-v3 commented on #3382
@whedon assign @wxwx1993 as reviewer

[2021-07-09 09:29] whedon commented on #3382
OK, @wxwx1993 is now a reviewer

[2021-07-09 09:29] Nikoleta-v3 commented on #3382
@whedon add @dilawar as reviewer

[2021-07-09 09:29] whedon commented on #3382
OK, @dilawar is now a reviewer

[2021-07-09 09:43] Nikoleta-v3 commented on #3382
@whedon start review

[2021-07-09 09:43] whedon opened #3464 "[REVIEW]: Epimargin: A Toolkit for Epidemiological Estimation, Prediction, and Policy Evaluation"
**Submitting author:** @satejsoman (<a href="http://orcid.org/0000-0001-8450-7025">Satej Soman</a>)
**Repository:** <a href="https://github.com/COVID-IWG/epimargin" target ="_blank">https://github.com/COVID-IWG/epimargin</a>
**Version:** 0.6.2
**Editor:** @Nikoleta-v3
**Reviewer:** @wxwx1993, @dilawar
**Archive:** <a href="https://doi.org/10.5281/zenodo.5430698" target="_blank">10.5281/zenodo.5430

[2021-07-09 09:43] whedon commented on #3382
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3464.

[2021-07-09 09:43] #3382 closed

[2021-07-09 09:43] whedon commented on #3464
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wxwx1993, @dilawar it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-07-09 09:43] whedon commented on #3464
[code]

[2021-07-09 09:43] whedon commented on #3464
[code]

[2021-07-09 09:43] whedon commented on #3464
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03464/joss.03464/10.21105.joss.03464.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03464/joss.03464/10.21105.joss.03464.pdf) :page_facing_up: :point_left:

[2021-07-09 09:46] Nikoleta-v3 commented on #3464
👋🏼 @satejsoman @wxwx1993, @dilawar  this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from mos

[2021-07-09 09:59] drvinceknight commented on #2733
@fgeertman when you have time, it would be great, if you could take a look at the modification made by @koenderks and let us know how the review progresses as a result of that. Thanks.

[2021-07-09 10:01] drvinceknight commented on #3084
@thewan05 I'm still having a hard time finding reviewers. Could I ask if you have any suggestions of SAS users you might know that could be contacted?

Some of the people I have approached with the right expertise sadly no longer have access to SAS which is making this tricky.

[2021-07-09 10:54] SunilAnandatheertha commented on #3190
@ksyang2013  Thank you for the review, comments and suggestions.

[2021-07-09 10:56] SunilAnandatheertha commented on #3190
@Kevin-Mattheus-Moerman  Hi Kevin. I would like to make a few grammatical changes to the paper. Also, over time, I have updated the links to the repository wiki page, and these links need to be updated in the paper. The paper has "a free MATLAB codebase". I would like to remove the word "free", as being open source already implies it. Am I permitted to do these changes. Thank you.

Sincerley
Sunil

[2021-07-09 11:42] npucino commented on #3462
Hi,
please find here a list of potential reviewers:

1. TomasBeuzen
2. elbeejay
3. chrisleaman
4. hugoledoux
5. sgrieve

Thanks,
Nick

[2021-07-09 11:54] rougier commented on #3384
@Garyfallidis Thanks for all the explanations and he nice package. I hope we'll have some opportunities to interact / talk about 3D visualization.
@danielskatz I'm done with the review and all my comments have been addressed. For me the paper can be published.

[2021-07-09 11:56] Hegghammer commented on #3420
Thank you for considering the manuscript! My suggestions, in order of
perceived topic fit:

   - lmullen
   - josiahparry
   - neuroimaginador
   - adamhsparks

Best,
Thomas

On Fri, 9 Jul 2021 at 10:04, Nikoleta Glynatsi ***@***.***>
wrote:

[2021-07-09 12:11] jacobsoj commented on #3013
Hi Sebastian,
Sorry for the delay. The email got filtered to a package that I don't often check. I can review this package if you still need me to.
Jill

Jill A. Jacobson, Ph.D. Office Phone  613-533-2847
Associate Professor, Social-Personality Program
Lab Phone 613-533-6000 x75417
Queen's University      FAX  613-533-2499
Department of Psychology        Email  ***@***.***
Kingston, ON  K7L 3N6
CA

[2021-07-09 12:20] whedon commented on #3416
:wave: @amelialdrew, please update us on how your review is going (this is an automated reminder).

[2021-07-09 12:20] whedon commented on #3416
:wave: @kostunin, please update us on how your review is going (this is an automated reminder).

[2021-07-09 12:21] grburgess commented on #3257
Hi,

Sorry about the plots slowing things down. I have reduced the number of objects to try and make the plotting manageable.

Regarding the first two comments. Pareto is just a normalized power law. There are references to an economic principle, but the mathematical form should be sufficient as I would not want someone to think that it is in any way related to economics. As far as parameter range

[2021-07-09 12:22] kostunin commented on #3416
is busy with conference, will come back to review soon, sorry for delay

[2021-07-09 12:40] danielskatz commented on #3384
Thanks @rougier!

[2021-07-09 12:41] danielskatz commented on #3384
👋 @phamvanvung - seeing that you have checked off all your items, are you also supportive of publishing the work?

[2021-07-09 13:13] uecker commented on #3433
I am also happy to review this (but not sure what I have to do...)

[2021-07-09 13:21] pratheesh3780 commented on #3437
@whedon generate pdf

[2021-07-09 13:21] whedon commented on #3437
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03437/joss.03437/10.21105.joss.03437.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03437/joss.03437/10.21105.joss.03437.pdf) :page_facing_up: :point_left:

[2021-07-09 13:29] fgeertman commented on #2733
Hi,

I did and asked some questions to @koenderks<https://github.com/koenderks>, which I will follow-up after summer break.

Regards,

Ferry

From: Vince Knight ***@***.***
Sent: Friday, July 9, 2021 12:00 PM
To: openjournals/joss-reviews
Cc: Ferry Geertman; Mention
Subject: Re: [openjournals/joss-reviews] [REVIEW]: JASP for Audit: Bayesian Tools for the Auditing Practice (#2733)

@fgeertman<https

[2021-07-09 13:34] destogl commented on #3367
@adi3 What's the Deadline for the review? I am next few weeks on vacation. I could submit the review mid August

[2021-07-09 13:41] Garyfallidis commented on #3384
It would be a pleasure and an honor to talk to you @rougier. Your books, code and work have been an inspiration for myself and many members of the FURY team.

[2021-07-09 13:54] IndrajeetPatil commented on #3393
@fboehm Maybe the invitation needs to be resent?

[2021-07-09 13:57] diehlpk commented on #3309
@whedon add @hayesall as reviewer

[2021-07-09 13:57] whedon commented on #3309
OK, @hayesall is now a reviewer

[2021-07-09 13:57] diehlpk commented on #3309
@whedon start review

[2021-07-09 13:57] whedon opened #3465 "[REVIEW]: nnde: A Python package for solving differential equations using neural networks"
**Submitting author:** @elwinter (<a href="http://orcid.org/0000-0001-5226-2107">Eric Winter</a>)
**Repository:** <a href="https://github.com/elwinter/nnde" target ="_blank">https://github.com/elwinter/nnde</a>
**Version:** v1.0
**Editor:** @diehlpk
**Reviewer:** @taless474, @hayesall
**Archive:** <a href="https://doi.org/10.5281/zenodo.5879387" target="_blank">10.5281/zenodo.5879387</a>

**:warni

[2021-07-09 13:57] whedon commented on #3309
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3465.

[2021-07-09 13:57] #3309 closed

[2021-07-09 13:57] whedon commented on #3465
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @taless474, @hayesall it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-07-09 13:57] whedon commented on #3465
[code]

[2021-07-09 13:57] whedon commented on #3465
[code]

[2021-07-09 13:57] whedon commented on #3465
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03465/joss.03465/10.21105.joss.03465.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03465/joss.03465/10.21105.joss.03465.pdf) :page_facing_up: :point_left:

[2021-07-09 13:58] diehlpk commented on #3309
@elwinter Luckily, I found enough reviewers and I started the review.

[2021-07-09 13:59] elwinter commented on #3309
Wonderful,  thanks!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Patrick Diehl ***@***.***>
Sent: Friday, July 9, 2021 9:58:20 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: nnde: A Python package for solving differential equations using neural network

[2021-07-09 13:59] martinfleis commented on #3414
Dear @giswqs and @ajstewartlang,

I have finished the review of the package and its paper. Even though the package is an advanced piece of software helpful on many occasions, some issues need to be resolved before publication in JOSS. Please find a detailed explanation below.

### Review

`leafmap` will undoubtedly find its audience. It does what it promises to do and does it well. I have only a f

[2021-07-09 14:08] bdice commented on #3098
@evetion Your suggestions were very helpful! Thanks again. 😊

[2021-07-09 14:13] MatthewSmith430 commented on #3393
I would firstly like to commend the package contributors on their efforts to create a package which provides a clear and straightforward workflow for the visualisation of model parameters, predictions, and performance diagnostics. I applied the see functions to my own data using other models (not presented in the examples), such as ergms and found that the see package produced aesthetically pleasi

[2021-07-09 14:31] dilawar commented on #3464
Below is a partial review. It includes major issues I found during the installation and testing the software. I am (doker images of Linux: cenos8, debian:buster, and ArchLinux). The `setup.py` says that software is `OS Independent` and supports `>=python3.6`.  I am mostly using python3.9 and python3.8.

In my fork, I've also added a Github actions based CI and a few test cases.

## Functionality

[2021-07-09 14:50] mfenner opened #3466 "References: Is the list of references complete, and is everything cited appropriately that should be cited (e.g., papers, datasets, software)? Do references in the text use the proper citation syntax?"

[2021-07-09 14:50] whedon commented on #3466
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-09 14:50] whedon commented on #3466
PDF failed to compile for issue #3466 with the following error:
[code]

[2021-07-09 14:50] whedon commented on #3466
Downloading of the repository (to check the bibtex) failed for issue #3466 failed with the following error:
[code]

[2021-07-09 14:50] whedon commented on #3466
Downloading of the repository (to analyze the language) for issue #3466 failed with the following error:
[code]

[2021-07-09 14:54] danielskatz commented on #3466
@mfenner - please create issues in https://github.com/sagepublishing/rejected_article_tracker_pkg instead of here - once you create one there for this, please delete this one here.

[2021-07-09 14:55] danielskatz commented on #3466
And in the issue, please say what you think is wrong or needs to be fixed or added.

[2021-07-09 14:55] tresoldi commented on #3351
First of all, sorry for taking longer than promised. I played with neworder for some time, really like it and will recommend the publication. I had even started to model something for my field (diffusion of lexical innovations) that I'd submit as an example, but it is better not to tie the review to it.

I have opened a couple of issues that should be easy to address, related to installation. Over

[2021-07-09 15:01] #3466 closed

[2021-07-09 15:05] giswqs commented on #3414
@martinfleis Thank you very much for the thorough review and constructive comments. I will revise the repo and paper as suggested over the next few days.

Regarding your major comment on test coverage, I will look into the `folium` package to see how to increase the test coverage in interactive mapping. As you already pointed out, test coverage in interactive mapping is not very straightforward. I

[2021-07-09 15:14] danielskatz commented on #3351
Thanks @tresoldi

[2021-07-09 15:15] danielskatz commented on #3351
can you mention openjournals/joss-reviews#3351 in the new issues so that we can track them from here?

[2021-07-09 15:30] cescalara commented on #3056
Hi again @rrjbca, upon a closer look I did come across something that I'd like to check. I noticed  that when sampling redshift distributions and luminosity functions (e.g. [here](https://github.com/skypyproject/skypy/blob/15e1ded0ea73173666934a3efbc66a2286802465/skypy/galaxies/redshift.py#L208) and [here](https://github.com/skypyproject/skypy/blob/15e1ded0ea73173666934a3efbc66a2286802465/skypy/ut

[2021-07-09 15:31] sdesabbata commented on #2869
As agreed with @hugoledoux I am waiting for a colleague of my with regard to the discussion of Kriging. In the meantime, here are some detailed feedback on the current version of the paper.

The key point that requires further clarification in my view is the automation of the analysis, which is mainly discussed in line 98 to 105. The outcome of a Kriging process are based on a number of assuptions

[2021-07-09 15:37] drvinceknight commented on #2733
Thank you! Enjoy a no doubt well deserved break :)

[2021-07-09 15:48] HeatherWelch commented on #3333
Hi @KristinaRiemer <https://github.com/KristinaRiemer> – I can also
review by the end of the month. Best, Heather

On Wed, Jul 7, 2021 at 6:36 AM whedon ***@***.***> wrote:

--

*Heather Welch*
Project Scientist

UCSC and NOAA SWFSC
Environmental Research Division
99 Pacific St. Suite 255A
Monterey, CA *93940*

phone (wk): 831-648-8516
<http://conservationplanning.org/people/heather-welch/>
http:/

[2021-07-09 15:49] ajstewartlang commented on #3414
Thanks @danielskatz - yes, looks like I used `assign` twice rather than `add` the second time - I will remove the duplicate and regenerate the PDF....

[2021-07-09 15:49] ajstewartlang commented on #3414
@whedon remove @TomasBeuzen as reviewer

[2021-07-09 15:49] whedon commented on #3414
OK, @TomasBeuzen is no longer a reviewer

[2021-07-09 15:50] ajstewartlang commented on #3414
@whedon generate pdf

[2021-07-09 15:50] whedon commented on #3414
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03414/joss.03414/10.21105.joss.03414.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03414/joss.03414/10.21105.joss.03414.pdf) :page_facing_up: :point_left:

[2021-07-09 15:50] ajstewartlang commented on #3414
@whedon add @TomasBeuzen

[2021-07-09 15:50] whedon commented on #3414
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-09 15:51] ajstewartlang commented on #3414
@whedon add @TomasBeuzen as reviewer

[2021-07-09 15:51] whedon commented on #3414
OK, @TomasBeuzen is now a reviewer

[2021-07-09 15:51] ajstewartlang commented on #3414
@whedon generate pdf

[2021-07-09 15:51] whedon commented on #3414
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03414/joss.03414/10.21105.joss.03414.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03414/joss.03414/10.21105.joss.03414.pdf) :page_facing_up: :point_left:

[2021-07-09 16:03] martinfleis commented on #3414
That is interesting, I did not realise that. But that again only checks if the map is generated, not what it shows, right? The point of CI is to ensure the correctness of the output.

A lot of your methods can be tested independently even before they're added to the map itself (e.g. everything in `colormaps.py`), which can make it a bit easier. I've been implementing folium-based plotting to geopa

[2021-07-09 16:41] giswqs commented on #3414
@martinfleis It can check if the map is generated as well as functions within the `Map` class. Take a look at this notebook https://leafmap.org/notebooks/10_add_vector as an example. It tests functions such as `add_shp`, `add_geojson`, `add_kml`.  One can verify whether data are being loaded correctly on the map. Leafmap also has a [`add_gdf`](https://leafmap.org/foliumap/#leafmap.foliumap.Map.add

[2021-07-09 16:49] martinfleis commented on #3414
I know that the example uses those methods and they're executed during the docs creation but there's no automatic check if the result is correct, right? Just that it didn't fail. You can always check manually but that is not what CI is about. Correct me if I misunderstood what is going on there.

[2021-07-09 16:56] kyleniemeyer commented on #2945
Hi @jedbrown, I was looking over the paper before accepting, and it looks to be missing the required Statement of Need section. Can you please add this? The easiest thing is probably to just add it to the Summary section (i.e., "Summary and Statement of Need") or something.

Also, the Zenodo archive appears to have a number of authors listed that do not appear in the paper. Usually we ask that the

[2021-07-09 17:26] jedbrown commented on #2945
Thanks, I revised the heading and have matched the author list in the archive.

[2021-07-09 17:30] kyleniemeyer commented on #2945
@whedon generate pdf from branch joss-paper

[2021-07-09 17:30] whedon commented on #2945
[code]

[2021-07-09 17:30] whedon commented on #2945
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02945/joss.02945/10.21105.joss.02945.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02945/joss.02945/10.21105.joss.02945.pdf) :page_facing_up: :point_left:

[2021-07-09 17:34] kyleniemeyer commented on #2945
Thanks @jedbrown, this now looks good to me to accept. Did you want to merge the branch now, or after we do the formal acceptance?

[2021-07-09 17:40] jedbrown commented on #2945
Great, I have merged the branch.

[2021-07-09 17:41] kyleniemeyer commented on #2945
@whedon accept

[2021-07-09 17:41] whedon commented on #2945
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-07-09 17:41] kyleniemeyer commented on #2945
@whedon accept deposit=true

[2021-07-09 17:41] whedon commented on #2945
[code]

[2021-07-09 17:42] whedon commented on #2945
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1413554173619146761) 👈 🐦🐦🐦

[2021-07-09 17:42] whedon commented on #2945
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2439
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02945](https://doi.org/10.21105/joss.02945)
2. If everything look

[2021-07-09 17:48] kyleniemeyer commented on #2945
Congrats @jedbrown on your article's publication in JOSS!

Many thanks to  @thelfer and @FreddieWitherden for reviewing this submission, and @diehlpk for editing it.

[2021-07-09 17:48] #2945 closed

[2021-07-09 17:48] whedon commented on #2945
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02945/status.svg)](https://doi.org/10.21105/joss.02945)

**We need your help!**

Journal of Open Source Softwa

[2021-07-09 17:49] jedbrown commented on #2945
Thanks, everyone!

[2021-07-09 17:57] giswqs commented on #3414
@martinfleis Yes, I totally agree with you. There is no automatic check if the result is expected during the docs creation. I will learn from your [geopands/test_explore.py](https://github.com/geopandas/geopandas/blob/1e1a861b95ef6f0fc9f841bf6f133db0eb9abdc6/geopandas/tests/test_explore.py) and try my best to increase the test coverage. Getting the HTML string and checking if expected strings are

[2021-07-09 18:08] whedon commented on #3417
:wave: @Tam-Pham, please update us on how your review is going (this is an automated reminder).

[2021-07-09 18:08] whedon commented on #3417
:wave: @erik-whiting, please update us on how your review is going (this is an automated reminder).

[2021-07-09 18:17] erik-whiting commented on #3417
I opened two issues, one for documentation and one for the paper. I cannot review the functionality section until the documentation issues are addressed

[2021-07-09 18:18] erik-whiting commented on #3417
I opened two issues, one for documentation and one for the paper. I cannot review the functionality section until the documentation issues are addressed

[2021-07-09 18:20] rougier commented on #3384
@Garyfallidis I'll contact you by mail then.

[2021-07-09 18:34] emdupre commented on #3433
Thanks for your willingness to review, @uecker  ! You can find more information on the JOSS review process on [the JOSS documentation](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), including the [checklist we ask you to complete](https://joss.readthedocs.io/en/latest/review_checklist.html) during a review.

If that all sounds alright to you, I can add you as a reviewer on this s

[2021-07-09 18:49] emdupre commented on #3421
Hi @oesteban  :wave:
Any chance you'd be available and willing to edit this submission for the Journal of Open Source Software ?

[2021-07-09 18:49] emdupre commented on #3421
Hi @tianxzhu :wave:
Any chance you'd be available and willing to edit this submission for the Journal of Open Source Software ?

[2021-07-09 18:50] danielskatz commented on #3421
Hi @emdupre - I think you might be asking for reviewers, not editors?

[2021-07-09 18:52] emdupre commented on #3421
Ah sorry, yes ! That was an accident. Will fix now.

[2021-07-09 18:55] standage commented on #3362
The authors describe OSTIR, a Python application for predicting translation initiation rates for bacterial mRNAs.
For each input sequence, OSTIR identifies putative start codons and reports the corresponding translation initiation rate and several other terms relating to the free energy of the putative binding event.

The calculations performed by OSTIR provide insight into a fundamental biochemic

[2021-07-09 19:11] schruste commented on #3237
Ok, I think we are done:
- [x] we fixed the issue with the whitespaces.
- [x] The release tag is [`joss`](https://github.com/ngsxfem/ngsxfem/releases/tag/joss)
- [x] This version is now on zenodo with DOI 10.5281/zenodo.5081124, [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.5081124.svg)](https://doi.org/10.5281/zenodo.5081124)

[2021-07-09 19:12] giswqs commented on #3414
Just to add a reference to the point I raised earlier - checking the HTML string does not guarantee the map/data will be rendered successfully. Here is a relevant ipyleaflet issue (https://github.com/jupyter-widgets/ipyleaflet/issues/841) I opened last month. The map can be exported to HTML without any problem (i.e., you can get the HTML string), but the map still fails to render due to other issu

[2021-07-09 19:17] fboehm commented on #3273
Thank you to @Marie-PerrotDockes and @yunanwu123 for their constructive reviews!

@PhilBoileau - the reviewers have recommended your submission for publication. Before we proceed, I will proofread the manuscript and get back to you with any suggested fixes. Once I've done that, I'll ask you to archive the package (recording the doi) and to report the version number... but please don't do that unti

[2021-07-09 20:39] KristinaRiemer commented on #3333
@whedon add @HeatherWelch as reviewer

[2021-07-09 20:39] whedon commented on #3333
OK, @HeatherWelch is now a reviewer

[2021-07-09 20:40] KristinaRiemer commented on #3333
@whedon start review

[2021-07-09 20:40] whedon opened #3467 "[REVIEW]: fishRman: A Shiny R Dashboard improving Global Fishing Watch data availability"
**Submitting author:** @Shyentist (<a href="http://orcid.org/0000-0002-1848-9313">Pasquale Buonomo</a>)
**Repository:** <a href="https://github.com/Shyentist/fish-r-man" target ="_blank">https://github.com/Shyentist/fish-r-man</a>
**Version:** v1.0.0
**Editor:** @KristinaRiemer
**Reviewer:** @jules32, @HeatherWelch
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-07-09 20:40] whedon commented on #3333
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3467.

[2021-07-09 20:40] #3333 closed

[2021-07-09 20:40] whedon commented on #3467
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jules32, @HeatherWelch it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-07-09 20:40] whedon commented on #3467
[code]

[2021-07-09 20:40] whedon commented on #3467
[code]

[2021-07-09 20:40] whedon commented on #3467
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03467/joss.03467/10.21105.joss.03467.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03467/joss.03467/10.21105.joss.03467.pdf) :page_facing_up: :point_left:

[2021-07-09 20:41] KristinaRiemer commented on #3333
Great, thanks so much @HeatherWelch!

@jules32 and @HeatherWelch, the review will take place in the GitHub issue linked in the previous comment. There is a checklist to help guide your review over there. You can provide comments to the submission author by creating new issues in the software repository, or by posting overall comments in the review issue. Also free free to let me know how I can hel

[2021-07-09 20:42] whedon commented on #3418
:wave: @ashwinvis, please update us on how your review is going (this is an automated reminder).

[2021-07-09 20:42] whedon commented on #3418
:wave: @dgketchum, please update us on how your review is going (this is an automated reminder).

[2021-07-09 21:27] whedon commented on #3419
:wave: @1313e, please update us on how your review is going (this is an automated reminder).

[2021-07-09 21:27] whedon commented on #3419
:wave: @csadorf, please update us on how your review is going (this is an automated reminder).

[2021-07-09 22:17] justinshenk commented on #3202
@jni I believe it is ready to be published. 😇

[2021-07-10 00:20] 1313e commented on #3419
Yup, I will be on it next week.

[2021-07-10 05:21] Tam-Pham commented on #3417
I'm currently following the issue opened by @erik-whiting regarding the development setup (https://github.com/onnela-lab/beiwe-backend/issues/210). I too ran into the same problem that @erik-whiting faced. Erik has cleverly summarized those in the issue that was opened and hence I will wait till those are addressed before continuing with my review.

[2021-07-10 06:24] whedon opened #3468 "[PRE REVIEW]: NoisySignalIntegration.jl: A Julia package for uncertainty evaluation of numeric integrals"
**Submitting author:** @nluetts (<a href="http://orcid.org/0000-0001-8459-1714">Nils Lüttschwager</a>)
**Repository:** <a href="https://github.com/nluetts/NoisySignalIntegration.jl" target ="_blank">https://github.com/nluetts/NoisySignalIntegration.jl</a>
**Version:** v0.2.1
**Editor:** @jbytecode
**Reviewers:** @myousefi2016, @mseri
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced ser

[2021-07-10 06:24] whedon commented on #3468
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-10 06:24] whedon commented on #3468
[code]

[2021-07-10 06:24] whedon commented on #3468
PDF failed to compile for issue #3468 with the following error:
[code]

[2021-07-10 06:26] Kevin-Mattheus-Moerman commented on #3462
@npucino thanks for this submission. Would you be able to check those missing DOI's :point_up:, you can edit the paper and update it here by calling `@whedon generate pdf`.

[2021-07-10 06:31] Kevin-Mattheus-Moerman commented on #3462
@whedon invite @kbarnhart as editor

[2021-07-10 06:31] whedon commented on #3462
@kbarnhart has been invited to edit this submission.

[2021-07-10 06:31] whedon opened #3469 "[PRE REVIEW]: buildH: Build hydrogen atoms from united-atom molecular dynamics of lipids and calculate the order parameters"
**Submitting author:** @patrickfuchs (<a href="http://orcid.org/0000-0001-7117-994X">Patrick Fuchs</a>)
**Repository:** <a href="https://github.com/patrickfuchs/buildH" target ="_blank">https://github.com/patrickfuchs/buildH</a>
**Version:** v1.5.0
**Editor:** @richardjgowers
**Reviewers:** @lilyminium, @ojeda-e, @blakeaw
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :w

[2021-07-10 06:31] whedon commented on #3469
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-10 06:31] whedon commented on #3469
[code]

[2021-07-10 06:31] whedon commented on #3469
[code]

[2021-07-10 06:32] whedon commented on #3469
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03469/joss.03469/10.21105.joss.03469.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03469/joss.03469/10.21105.joss.03469.pdf) :page_facing_up: :point_left:

[2021-07-10 06:35] npucino commented on #3462
Thanks @Kevin-Mattheus-Moerman for handle my submission. I actually already updated the bip file but forgot to call whedon. I do it now. Thanks, Nick

[2021-07-10 06:35] npucino commented on #3462
@whedon generate pdf

[2021-07-10 06:36] whedon commented on #3462
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03462/joss.03462/10.21105.joss.03462.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03462/joss.03462/10.21105.joss.03462.pdf) :page_facing_up: :point_left:

[2021-07-10 06:39] Kevin-Mattheus-Moerman commented on #3463
@m-stclair thanks for this submission. I believe the paper compilation might have been unsuccessful due to the formatting of the affiliations. I attempted a fix which you can review and accept here: https://github.com/MillionConcepts/lhorizon/pull/3).

Also please check the invalid DOI listed :point_up:.

You can call `@whedon generate pdf` here to update the paper.

[2021-07-10 06:45] Kevin-Mattheus-Moerman commented on #3463
@m-stclair our editors and this domain are currently handling many other submissions. I have therefore assigned the `waitlisted` label to this submission. We will assign  handling editor as soon as one becomes available. Thank you for your patience.

[2021-07-10 06:46] Kevin-Mattheus-Moerman commented on #3463
@arfon this looks like something you could potentially handle or suggest another editor for.

[2021-07-10 06:47] Kevin-Mattheus-Moerman commented on #3462
@whedon check references

[2021-07-10 06:47] whedon commented on #3462
[code]

[2021-07-10 06:47] whedon opened #3470 "[PRE REVIEW]: sacio: A library for Seismic Analysis Code data files"
**Submitting author:** @savage13 (<a href="http://orcid.org/0000-0002-9252-6282">Brian Savage</a>)
**Repository:** <a href="https://github.com/savage13/sacio" target ="_blank">https://github.com/savage13/sacio</a>
**Version:** 1.0.2
**Editor:** @danielskatz
**Reviewers:** @chad-iris, @cja12, @jkmacc-LANL
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-07-10 06:47] whedon commented on #3470
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-10 06:47] whedon commented on #3470
[code]

[2021-07-10 06:47] whedon commented on #3470
[code]

[2021-07-10 06:48] whedon commented on #3470
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03470/joss.03470/10.21105.joss.03470.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03470/joss.03470/10.21105.joss.03470.pdf) :page_facing_up: :point_left:

[2021-07-10 06:48] Kevin-Mattheus-Moerman commented on #3468
@whedon generate pdf from branch paper

[2021-07-10 06:48] whedon commented on #3468
[code]

[2021-07-10 06:49] whedon commented on #3468
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03468/joss.03468/10.21105.joss.03468.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03468/joss.03468/10.21105.joss.03468.pdf) :page_facing_up: :point_left:

[2021-07-10 06:51] Kevin-Mattheus-Moerman commented on #3468
@whedon invite @jbytecode as editor

[2021-07-10 06:51] whedon commented on #3468
@jbytecode has been invited to edit this submission.

[2021-07-10 06:52] Kevin-Mattheus-Moerman commented on #3468
@jbytecode I would be grateful if you could help with this submission. Note if you have been invited for a `waitlisted` submission those take precedence and need to be handled first.

[2021-07-10 06:54] Kevin-Mattheus-Moerman commented on #3469
@patrickfuchs thank you for your submission to JOSS. Can you please check those invalid DOI's :point_up:
Note that you can call `@whedon generate pdf` to update the paper and `@whedon check references` to update the reference check.

[2021-07-10 06:57] m-stclair commented on #3463
Thank you for your notes! I have merged your fix and fixed the DOI, and the paper now appears to compile successfully.

[2021-07-10 06:58] Kevin-Mattheus-Moerman commented on #3469
@patrickfuchs I have added the `waitlisted` label to this submission as all editors in this domain are currently preoccupied with other submissions. We will assign an editor once one becomes available.

@richardjgowers perhaps you could handle this submission once you are available?

[2021-07-10 06:58] m-stclair commented on #3463
@whedon generate pdf

[2021-07-10 06:59] whedon commented on #3463
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03463/joss.03463/10.21105.joss.03463.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03463/joss.03463/10.21105.joss.03463.pdf) :page_facing_up: :point_left:

[2021-07-10 07:07] Kevin-Mattheus-Moerman commented on #3470
@savage13 thanks for this submission.

- [ ] Check `...released as under an...`, this should probably read `...released under an...`
- [ ] Please work to expand your statement of need to specifically state what scientific research this work enables. Also expand the paper in general with a more detailed discussion of related scientific research and or scientific research that already used this work

[2021-07-10 07:09] Kevin-Mattheus-Moerman commented on #3470
I have added the `waitlisted` label to this submission as all our editors in this domain are currently handling other papers. We will assign an editor as soon as one becomes available. Thank you for your patience.

@kbarnhart do you think you could edit this work once you are available?

[2021-07-10 07:14] arfon commented on #3071
@rodluger – friendly bump on this. Could you please add the AAS paper DOI to your JOSS paper?

[2021-07-10 07:20] Kevin-Mattheus-Moerman commented on #3068
@whedon accept deposit=true

[2021-07-10 07:20] whedon commented on #3068
[code]

[2021-07-10 07:21] whedon commented on #3068
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1413760282049056771) 👈 🐦🐦🐦

[2021-07-10 07:21] whedon commented on #3068
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2440
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03068](https://doi.org/10.21105/joss.03068)
2. If everything look

[2021-07-10 07:24] Kevin-Mattheus-Moerman commented on #3201
@whedon accept deposit=true

[2021-07-10 07:24] whedon commented on #3201
[code]

[2021-07-10 07:25] whedon commented on #3201
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1413761271737028608) 👈 🐦🐦🐦

[2021-07-10 07:25] whedon commented on #3201
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2441
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03201](https://doi.org/10.21105/joss.03201)
2. If everything look

[2021-07-10 07:26] Kevin-Mattheus-Moerman commented on #3068
Congratulations @jmsexton03 on your accepted paper!

Thank you @dfm for editing this work!

And a special thanks to the reviewers @c-white and @teuben!!!

[2021-07-10 07:26] #3068 closed

[2021-07-10 07:26] whedon commented on #3068
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03068/status.svg)](https://doi.org/10.21105/joss.03068)

**We need your help!**

Journal of Open Source Softwa

[2021-07-10 07:27] Kevin-Mattheus-Moerman commented on #3201
Congratulations @david-barnett on your accepted paper!

Thank you @lpantano for editing this work!

And a special thanks to the reviewers @marypiper and @yoonjeongcha!!!

[2021-07-10 07:27] #3201 closed

[2021-07-10 07:27] whedon commented on #3201
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03201/status.svg)](https://doi.org/10.21105/joss.03201)

**We need your help!**

Journal of Open Source Softwa

[2021-07-10 07:37] Kevin-Mattheus-Moerman commented on #3202
@justinshenk I have proofread your paper and most looks good. Below are some final minor steps to work on:

- [ ] Please amend the title for the ZENODO archive version so that it matches the paper `Traja: A Python toolbox for animal trajectory analysis`, you will likely have to manually edit this.
- [ ] The text in figure 12 is very difficult to read. Would it be possible to increase the size of t

[2021-07-10 07:54] Nikoleta-v3 commented on #3420
👋 @lmullen & @josiahparry & @adamhsparks & @neuroimaginador, would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "daiR: an R package for OCR with Google Document AI". You can find more

[2021-07-10 09:48] virgesmith commented on #3351
@tresoldi you can now see the contributing guidelines on the latest docs build : https://neworder.readthedocs.io/en/latest/ pls confirm you're happy.

also, latest version of paper with proper noun fixes is here https://github.com/virgesmith/neworder/suites/3205032474/artifacts/74112696

[2021-07-10 09:59] hugoledoux commented on #3365
@whedon add @RonaldEnsing as reviewer

[2021-07-10 09:59] whedon commented on #3365
OK, @RonaldEnsing is now a reviewer

[2021-07-10 10:00] hugoledoux commented on #3365
@whedon add @hechth as reviewer

[2021-07-10 10:00] whedon commented on #3365
OK, @hechth is now a reviewer

[2021-07-10 10:01] hugoledoux commented on #3365
@whedon start review

[2021-07-10 10:01] whedon opened #3471 "[REVIEW]: pointcloudset: Efficient analysis of large datasets of point clouds recorded over time"
**Submitting author:** @tgoelles (<a href="http://orcid.org/0000-0002-3925-6260">Thomas Goelles</a>)
**Repository:** <a href="https://github.com/virtual-vehicle/pointcloudset/" target ="_blank">https://github.com/virtual-vehicle/pointcloudset/</a>
**Version:** v0.3.3
**Editor:** @hugoledoux
**Reviewer:** @RonaldEnsing, @hechth
**Archive:** <a href="https://doi.org/10.5281/zenodo.5529805" target="_

[2021-07-10 10:01] whedon commented on #3365
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3471.

[2021-07-10 10:01] #3365 closed

[2021-07-10 10:01] whedon commented on #3471
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @RonaldEnsing, @hechth it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-07-10 10:01] whedon commented on #3471
PDF failed to compile for issue #3471 with the following error:
[code]

[2021-07-10 10:01] whedon commented on #3471
[code]

[2021-07-10 10:05] hugoledoux commented on #3471
@whedon check references from branch paper

[2021-07-10 10:06] whedon commented on #3471
[code]

[2021-07-10 10:06] whedon commented on #3471
[code]

[2021-07-10 10:07] hugoledoux commented on #3471
@whedon generate pdf from branch paper

[2021-07-10 10:07] whedon commented on #3471
[code]

[2021-07-10 10:07] whedon commented on #3471
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: :point_left:

[2021-07-10 10:41] Kevin-Mattheus-Moerman commented on #3260
@whedon check references

[2021-07-10 10:41] whedon commented on #3260
[code]

[2021-07-10 10:44] Kevin-Mattheus-Moerman commented on #3260
@mikesmithlab Thanks for making those edits, I ticked those boxes. One more thing:
- [ ] In your code of conduct document you need to `[INSERT CONTACT METHOD]`

[2021-07-10 10:45] Kevin-Mattheus-Moerman commented on #3260
@mikesmithlab at this point I'll be looking for reviewers. Let me know if you have any recommended reviewers in mind (you can mention them here but do not use the `@` in their github handles. Thanks.

[2021-07-10 10:57] tresoldi commented on #3351
Great, thanks @virgesmith ! @danielskatz all good from my side, I have check all tasks.

[2021-07-10 11:58] richardjgowers commented on #3469
Yeah I can take this.

On Sat, Jul 10, 2021 at 07:58, Kevin Mattheus Moerman <
***@***.***> wrote:

[2021-07-10 12:39] danielskatz commented on #3351
@whedon generate pdf

[2021-07-10 12:40] whedon commented on #3351
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03351/joss.03351/10.21105.joss.03351.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03351/joss.03351/10.21105.joss.03351.pdf) :page_facing_up: :point_left:

[2021-07-10 12:44] danielskatz commented on #3351
@virgesmith - I've suggested two minor wording changes in https://github.com/virgesmith/neworder/pull/69

[2021-07-10 12:46] danielskatz commented on #3351
If you are ok with them, please merge them, and then
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) a

[2021-07-10 12:58] Swetanshu commented on #2838
@dpsanders The title and the author list have been modified on Zenodo. Let me know if everything is in order now or if there is anything else that needs to be modified.
Thanks again!

[2021-07-10 13:24] patrickfuchs commented on #3469
Thank you @Kevin-Mattheus-Moerman and @richardjgowers for handling and editing the submission of our submission.
I have fixed the DOI's.

[2021-07-10 13:25] patrickfuchs commented on #3469
@whedon check references

[2021-07-10 13:25] whedon commented on #3469
[code]

[2021-07-10 13:26] rodluger commented on #3071
@whedon generate pdf

[2021-07-10 13:26] patrickfuchs commented on #3469
@whedon generate pdf

[2021-07-10 13:26] whedon commented on #3071
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03071/joss.03071/10.21105.joss.03071.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03071/joss.03071/10.21105.joss.03071.pdf) :page_facing_up: :point_left:

[2021-07-10 13:27] whedon commented on #3469
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03469/joss.03469/10.21105.joss.03469.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03469/joss.03469/10.21105.joss.03469.pdf) :page_facing_up: :point_left:

[2021-07-10 13:27] rodluger commented on #3071
@arfon Done! So sorry for the delay.

[2021-07-10 13:43] patrickfuchs commented on #3469
Regarding potential reviewers, those with keywords Python and Molecular Dynamics or Molecular Simulations should be well suited. For example, we spotted these ones: joaorodrigues, diegoenry, fdroessler, khinsen, pszi1ard, rvhonorato, xyzmjf, junghans.

[2021-07-10 13:46] Kevin-Mattheus-Moerman commented on #3469
@richardjgowers great. Feel free to assign yourself at any time or let me know when I can assign you.

[2021-07-10 14:32] lmullen commented on #3420
With apologies, I'm not available at this time. Best wishes for the review.

[2021-07-10 16:21] virgesmith commented on #3351
@danielskatz @platipodium @tresoldi thanks for your efforts, really appreciated esp in current circumstances
I will get on with the v1.0.0 release now...

[2021-07-10 16:38] jbytecode commented on #3468
@whedon assign me as editor

[2021-07-10 16:38] whedon commented on #3468
OK, the editor is @jbytecode

[2021-07-10 16:48] fboehm commented on #3393
@jakobbossek - Have you had a chance to accept the invitation to participate in the review on Github? If so, how is your review going? Is there something that I can help with?

[2021-07-10 16:50] fboehm commented on #3273
@whedon generate pdf

[2021-07-10 16:50] whedon commented on #3273
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03273/joss.03273/10.21105.joss.03273.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03273/joss.03273/10.21105.joss.03273.pdf) :page_facing_up: :point_left:

[2021-07-10 16:51] jbytecode commented on #3468
Dear @Kevin-Mattheus-Moerman,

I gladly accept to handle this submission. Thank you.

[2021-07-10 16:56] jbytecode commented on #3468
Dear @nluetts,

Do you have suggestions for the potential reviewers for your submission? You can use the [list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit) and filter some proper reviewers. If you use this list, please start your search from the bottom of the list.