[2022-07-12 19:34] itepifanio commented on #4480
@editorialbot generate pdf

[2022-07-12 19:35] itepifanio commented on #4480
@csadorf thanks for your feedback. I believe that our last modifications address your suggestions.

You can find a PR with the [JOSS paper changes](https://github.com/palaimon/ipyannotator/pull/28) and another with the [documentation enhancements](https://github.com/palaimon/ipyannotator/pull/27). The following changes were made:

- We add a new section on the paper to describe why Ipyannotator is

[2022-07-12 20:03] chrisaberson commented on #4562
I would like to see a clearer, real-world example. I recognize that this is a complex method but the present example really only will be of use to experts

[2022-07-12 20:08] ThomasThelen commented on #4562
That can definitely be done. I can take a look at more classical motivating ABM examples and create an additional vignette demonstrating it under this framework.

[2022-07-12 21:45] SimonBiggs commented on #4555
Hi @ProfLeao,

Indeed that is a good find. Thank you!

@pchlap, might you be in a position to fix this?

[2022-07-12 22:36] slayoo commented on #3896
Here's an updated plot with libmpdata++ timings added, and with the JIT-disabled timing shown in a separate subplot. It shows that, in this particular case (3D problem, 32x32x32 grid, 3 MPDATA iterations), PyMPDATA performs a even better than libmpdata++, and over 1000-times faster than with Numba JIT disabled.
![Screenshot from 2022-07-13 00-24-07](https://user-images.githubusercontent.com/89685/

[2022-07-12 22:53] kyleniemeyer commented on #4531
Thanks @elauksap!

[2022-07-13 03:33] jedbrown commented on #3380
@jcorbino Please let us know within a week if you intend to continue with this submission.

@editorialbot remind @jedbrown in one week

[2022-07-13 03:58] dschult commented on #3968
The NetworkX devs would prefer that your package not be named so close to the name networkx.
The names retworkx and networkx are too close for packages that don't try to provide the same API.

Almost all of us also thought retworkx wasn't a very good name. You probably want to make it clear that it is rust. Many also expressed that it would be really cool to have a drop-in Rust version where the A

[2022-07-13 04:59] BiologicalScientist commented on #4369
@arfon I have merged the pull request on Magnus' behalf, should be all good to go now.

[2022-07-13 06:21] CFGrote commented on #4333
sounds good, i'm busy with conference travel and grant deadlines this week, will take another look early next week.

[2022-07-13 06:21] arfon commented on #4369
@editorialbot recommend-accept

[2022-07-13 06:30] IvanIsCoding commented on #3968
Thanks for the response, we will keep track of the change of name proposal in https://github.com/Qiskit/retworkx/issues/641.

The rollout of this is more complicated than just changing the name of the paper. There is quite a few users depending on us so as Matthew highlighted.

I personally suggest `reseaux` for the new package name. It comes from the French [réseaux](https://en.wiktionary.org/wik

[2022-07-13 06:47] stefanocoretta commented on #4566
@editorialbot generate my checklist

[2022-07-13 08:24] lucydot commented on #4459
Hi @VHchavez its been a couple of weeks - have you got any update on progress so far?

[2022-07-13 08:29] lucydot commented on #4402
@archermarx one option may be to contact some of those you have cited in the JOSS paper: Kentaro Harra, Rupali Sahu or Adnan Mansour. Before I do, can I ask if you have any possible conflict of interest? I know in some fields its hard _not_ to have a conflict of interest with those you are citing!

[2022-07-13 08:50] vissarion commented on #4492
@editorialbot generate pdf

[2022-07-13 08:53] vissarion commented on #4492
@editorialbot check references

[2022-07-13 08:55] Bisaloo commented on #4497
No problem, thanks for your quick answer and best of luck on your various projects!

I would recommend to fill out [this form](https://joss.theoj.org/reviewer-signup.html) to be added to our [list of potential reviewers](https://bit.ly/joss-reviewers) so other JOSS editors are also aware you are willing to review in the future.

[2022-07-13 09:09] vissarion commented on #4492
@dsbowen the submission is ready to be accepted!

Could you please make a tagged release and archive (using for example [Zenodo](https://zenodo.org/) or [figshare](https://figshare.com/)), and report the version number and archive DOI here?

[2022-07-13 09:12] JorenSix commented on #4554
@editorialbot generate pdf

[2022-07-13 09:48] JorenSix commented on #4554
@dpwe Thanks for the review, it raises a couple of issues that have been addressed and included in the paper (above) and in the readme. In the same order:

- I have made explicit how to contribute in the readme. See the [contribute](https://github.com/JorenSix/Panako#contribute) section.
- On being the only system against time-scale robustness: that claim indeed needs to be tapered. In the paper I

[2022-07-13 09:59] vissarion commented on #4492
@dsbowen I did a proofread of the paper and in general I found it OK.

I have though a few questions:

- The submitted package is called `Multiple Inference` in the whole paper and in the documentation but the python package is called `conditional_inference` this is a bit misleading to me. Is there any reason behind choosing those names?
- About truncated distributions see https://gitlab.com/dsbow

[2022-07-13 10:02] nimgould commented on #4291
Apologies ... I replied to Mellisa's email on the 6th of April, but my response to her request didn't show up here. Here it is again

1. I looked through the list, but no names jump out at me
(and the majority of people with an optimization preference,
seem to have python as their "go-to" language).

Of the more "mature" users that I am familiar with, I would
suggest any of (for example)

  Sven L

[2022-07-13 10:08] Bisaloo commented on #4497
Hi @quang-huynh :wave:, I found your profile via your work on the [SAMtool R package](https://github.com/Blue-Matter/SAMtool/).

Would you be interested in reviewing this [R package](https://github.com/pedersen-fisheries-lab/sspm) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04497/joss.04497/10.21105.joss.04497.pdf) for JOSS?

You can have a look at ou

[2022-07-13 10:36] lucydot commented on #4547
Hi @gdmiron 👋 I'll be your editor for this submission.

[2022-07-13 10:36] lucydot commented on #4547
@editorialbot generate pdf

[2022-07-13 10:41] arfon commented on #4369
@gtonkinhill, @DavidNickle – many thanks for your reviews here and to @majensen  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@milnus  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-07-13 10:41] #4369 closed

[2022-07-13 10:51] lucydot commented on #4547
@gdmiron I can see you fixed the links - excellent.

I agree with Daniel that the paper is rather long and could be trimmed down. See the paper as a short advert for the package itself. Scanning through, I'd say that the Statement of Need section is particularly long - usually here we don't go into the scientific details, but outline the key purpose (usually in a single paragraph - an "elevator pi

[2022-07-13 10:51] mattpitkin commented on #4492
I agree with @vissarion that, unless there's a good reason, it would be better for the paper/package and Python package name to be called the same thing. It looks like multiple-inference https://pypi.org/project/multiple-inference/ is *not* taken as a package name in PyPI. So, it could work to change it (unless there are other packages that you know are dependent on it being called `conditional-in

[2022-07-13 11:03] maczokni commented on #4015
Hi All,

I read your response about the main contribution, but now I wonder if the paper needs updating then? You state in the comment above "So the true utility of rmap comes in comparing data across scenarios, classes and time" That is only 1 out of 4 points raised in the original paper. Would it be worth to focus the package and paper to this contribution?

If you must keep the table to map par

[2022-07-13 11:55] majensen commented on #4566
## Review checklist for @CamDavidsonPilon

- [x] I confirm that I have read the JOSS conflict of interest policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.
- [x] I confirm that I read and will adhere to the JOSS code of conduct.
- [x] Repository: Is the source code for this software available at the reposito

[2022-07-13 12:06] mattpitkin commented on #4492
I think option 2 is also preferable along with a note in the docs saying, e.g., "Prior to v1.1.0, the Python package was called `conditional-inference`".

[2022-07-13 12:16] thomaspinder commented on #4455
Updating the pdf to reflect the updates made in response to the review from @gpleiss

[2022-07-13 12:23] vissarion commented on #4492
Option 2 seems OK to me. So if you prefer it please go ahead.

At least in github the name of the project can change and github takes care of old link and redirections. Rtd also has an option for project renaming but I do not know if it redirects the old url. Last, if you decide to rename your package then also in the paper is better to use the exact name of the package in the text i.e. `multiple-

[2022-07-13 12:31] mattpitkin commented on #4492
I've changed project names in gitlab without any problems too

[2022-07-13 12:32] krachyon commented on #4508
Cool, thanks for taking the extra time! With regards to the question marks in my checklist, maybe @Onoddil can have a closer look at those in their review.

As far as I'm concerned, everything looks good, so I would consider my review finished and in my opinion the software/paper should be accepted.

[2022-07-13 12:35] archermarx commented on #4402
I'll give it some thought ans get back to you!

On Wed, Jul 13, 2022, 4:30 AM Lucy Whalley ***@***.***> wrote:

[2022-07-13 15:10] blsqr commented on #2316
@arfon Just pushing this again, because our servers will soon have to shut down. How would we go about re-rendering the papers and the project pages?

[2022-07-13 15:46] jbytecode commented on #4551
👋👋👋 Dear @simonpcouch  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**COINr: An R package for developing composite indicators**". You can find more information at the top of this Github issue (https://github.com/open

[2022-07-13 16:37] darinddv commented on #4547
@lucydot I'd be happy to review this, it's certainly in my area.

[2022-07-13 16:39] diehlpk commented on #4377
@editorialbot remove @GuillaumeDerval as reviewer

[2022-07-13 16:56] blind-contours commented on #4181
Hi @osorensen, I have responded to issue #5 and #6 in regards to the JOSS paper submission. Generally, I have added details to elaborate on more abstruse terms and moved parts of different sections around to better match organization. Hopefully these edits meet the reviewers comments but please let me know if there are any other suggestions. The current paper.md is the most updated draft.

[2022-07-13 17:00] blind-contours commented on #4181
Issues #1 and #3 have been resolved - this is regarding CVtreeMLE not being available on CRAN. I've simply removed this from the documentation and download is only available off github as the package currently relies on SL3 for ensemble machine learning. In the future, I can update code to use tidymodels or HAL9001 nonparametric estimators which will allow for CRAN submission but for now this is n

[2022-07-13 17:03] blind-contours commented on #4181
I am currently cleaning the existing code to pass linting tests and updating documentation to meet reviewer comments #7, #4, and #14. I expect all issues to be resolved by August 1st.

[2022-07-13 17:12] osorensen commented on #4181
Thanks @blind-contours! It's absolutely fine that this takes some time, but please give a new update on the progress in the beginning of August.

[2022-07-13 17:20] danielskatz commented on #4452
👋 @PerilousApricot - checking in again...

[2022-07-13 17:21] danielskatz commented on #4461
👋 @CFGrote - I just wanted to check in again with you about the status of this review...

[2022-07-13 17:22] chrisaberson commented on #4551
I won't be able to do this one - am scheduled to leave for a trip

[2022-07-13 17:23] danielskatz commented on #4480
@csadorf - does this ☝️ satisfy your concerns?

[2022-07-13 17:23] danielskatz commented on #4480
👋  @matthewfeickert - I know you've been and are busy with conferences, but just wanted to remind you about this again...

[2022-07-13 17:24] fartist commented on #4551
Me neither - have a move scheduled coming up, sorry.

Best,

On Wed, Jul 13, 2022 at 10:22 AM chrisaberson ***@***.***>
wrote:

[2022-07-13 17:24] bocklund commented on #4364
@rkurchin @utf  Yes, sorry for the delay. My review is complete and I can recommend accepting Simmate into JOSS. Very nice work @jacksund!

[2022-07-13 17:24] sebastien-plutniak commented on #4335
Dear All,
Sorry for the long delay in revising my package following your suggestions. It is finally done!

Best,
Sébastien

[2022-07-13 17:26] danielskatz commented on #4277
👋 @bastorer - I plan to reject this submission in 2 weeks if I don't hear anything from you.

[2022-07-13 18:04] simonpcouch commented on #4551
Thanks for the holler, @jbytecode! I'll be unable to review this one. Best of luck!

[2022-07-13 18:14] jbytecode commented on #4551
👋👋👋 Dear @PhilipPallmann  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**COINr: An R package for developing composite indicators**". You can find more information at the top of this Github issue (https://github.com/o

[2022-07-13 18:17] jbytecode commented on #4551
👋👋👋 Dear @bauer-alex  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**COINr: An R package for developing composite indicators**". You can find more information at the top of this Github issue (https://github.com/openj

[2022-07-13 19:07] bradweiner commented on #4551
Thanks for the invite. I am terribly sorry but I just got a new position and simply do not have the capacity to take this on at this time. Best wishes and be sure to keep me on the list!

[2022-07-13 19:09] jbytecode commented on #4551
@bradweiner - good luck with your new position. By the way, I've never had such a hard time finding a reviewer :)

[2022-07-13 19:51] omalled commented on #4560
Regarding Wu Hao and Dylan Harp, I got the author list by including the people who made a commit. If I do `git log | grep Ha`, I see Dylan Harp and Wu Hao on there. I haven't checked the code coverage.

[2022-07-13 20:52] dsbowen commented on #4492
@editorialbot generate pdf

[2022-07-13 22:41] slayoo commented on #3896
@editorialbot generate pdf

[2022-07-13 22:47] slayoo commented on #3896
@wdeconinck @Chiil, in the above updated pdf, the manuscript is extended with a 1.5-page long "Performance" section. There are two new plots composed into Fig. 2 which present analysis of scaling with the number of threads and scaling with the domain size. The plots include wall-time measurements for PyMPDATA with Numba JIT disabled and enabled, as well as measurements for libmpdata++. Comments we

[2022-07-13 22:52] jacksund commented on #4364
@bocklund thank you so much for looking through! Means a lot 😄

[2022-07-14 00:48] ajohnson-uoregon commented on #4552
I can make a separate repo with just the code you'll need (y'all don't need MLIR or Flang and such). Hopefully that'll be small enough to clone in a reasonable amount of time.

[2022-07-14 03:03] asher-pembroke commented on #4053
@editorialbot generate pdf

[2022-07-14 03:18] bauer-alex commented on #4551
Hi @jbytecode,
I can gladly revise the submission. :+1:

[2022-07-14 04:53] jbytecode commented on #4551
@editorialbot add @bauer-alex as reviewer

@bauer-alex - thank you for accepting our invitation. The review will start after finding a second reviewer in a new thread.

[2022-07-14 07:12] CFGrote commented on #4461
Hi, working on it...

[2022-07-14 07:31] ajstewartlang commented on #4206
@editorialbot add @MikeLydeamore as reviewer

[2022-07-14 07:31] ajstewartlang commented on #4206
@editorialbot remove @volkerschmid as reviewer

[2022-07-14 08:35] Bisaloo commented on #4497
@editorialbot add @quang-huynh as reviewer

[2022-07-14 08:53] lucydot commented on #4547
Excellent @darinddv, thank-you!

Once we find a second a reviewer, I'll start the review process ✨

[2022-07-14 08:59] dfm commented on #4549
@josephwkania — I'm going through this submission now and I was hoping you could provide a few more details about the relationship between this submission and (a) the required dependency [jess](https://github.com/josephwkania/jess), and (b) the intellectual predecessor of `will.create`, [injectfrb](https://github.com/liamconnor/injectfrb). Neither of these other projects are open source licensed,

[2022-07-14 09:46] CFGrote commented on #4333
@editorialbot set joss-submission as branch

[2022-07-14 09:46] CFGrote commented on #4333
@editorialbot generate pdf

[2022-07-14 10:01] CFGrote commented on #4333
Paper is fine IMHO, would be great if the GUI crashes i reported in https://github.com/jonathanHuwP/CrystalGrowthTracker/issues/22 can be addressed.

[2022-07-14 10:01] gdmiron commented on #4547
@lucydot I see your point and that the journal insists on "short" papers. I am really happy that there is an opportunity to publish code without the need of elaborate application/examples. I just feel that that now we are going to the other "extreme" of having just an abstract paper / extended abstract. In the end one can have everything on a documentation site and leave just the title to be publi

[2022-07-14 10:55] vissarion commented on #4492
Great thanks!

Please check that there are not remaining references to `conditional-inference` e.g. https://dsbowen-conditional-inference.readthedocs.io/en/latest/examples/stats.html

[2022-07-14 11:31] paulrougieux commented on #4551
@jbytecode I don't have good connectivity at the moment, but I'm available for the review in case you didn't  find someone else already.

[2022-07-14 11:38] swatimanekar commented on #4363
@editorialbot generate my checklist

[2022-07-14 11:46] jbytecode commented on #4551
@paulrougieux - thank you for the response. it is not too much urgent, when will you plan to be available?

[2022-07-14 12:01] paulrougieux commented on #4551
I'll be available the week after next.

[2022-07-14 12:07] jbytecode commented on #4551
@editorialbot start review

[2022-07-14 12:07] editorialbot opened #4567 "[REVIEW]: COINr: An R package for developing composite indicators"
**Submitting author:** @bluefoxr (<a href="http://orcid.org/0000-0002-6467-4472">William Becker</a>)
**Repository:** https://github.com/bluefoxr/COINr
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.0
**Editor:** @jbytecode
**Reviewers:** @bauer-alex, @paulrougieux
**Archive:** 10.5281/zenodo.7180388

## Status

[![status](https://joss.theoj.org/papers/187b1759658c96177f8d17f

[2022-07-14 12:07] #4551 closed

[2022-07-14 12:09] jbytecode commented on #4567
Dear Reviewers: @bauer-alex and @paulrougieux

This is the review thread. Please type

`@editorialbot generate my checklist`

to generate your task list. In this list, there are 20 review items. Whenever you complete a task, you can check off the corresponding check box.

You can always interact with the author(s), other reviewers, and the editor during the reviewing process. You can also open iss

[2022-07-14 12:18] lwang-astro commented on #4483
One issue related to installation @webbjj
When I try the first installation method
[code]
I obtain an error
[code]

[2022-07-14 12:19] swatimanekar commented on #4363
Please find an attachement for the comments,
[Review_comments_final_RedOak.docx](https://github.com/openjournals/joss-reviews/files/9111647/Review_comments_final_RedOak.docx)

[2022-07-14 12:29] arfon commented on #4053
@asher-pembroke @lrastaet – is this fixed now? If so, can we go ahead and publish?

[2022-07-14 12:54] dsbowen commented on #4492
Thanks! I removed the reference to `conditional-inference` and added further clarification on how `TruncatedNormal` works.

[2022-07-14 12:54] dsbowen commented on #4492
@editorialbot generate pdf

[2022-07-14 13:25] siavash-saki commented on #4246
@editorialbot check repository

[2022-07-14 13:25] siavash-saki commented on #4246
@editorialbot generate pdf

[2022-07-14 13:27] siavash-saki commented on #4246
@editorialbot check references

[2022-07-14 13:33] vissarion commented on #4492
Thanks a lot for all the work and the explanations!

We can now move on to the creation of a tagged release and archive (e.g. zenodo). Please report the version number and archive DOI here. The archive metadata (title, author list, affiliations) should be **exactly** the same as the ones of the paper.

[2022-07-14 13:43] siavash-saki commented on #4246
@danielskatz
Thank you and the editorial board for carefully reviewing our submission.

- In the last months, we worked on the TessPy package and added significantly to it.
- In addition, regarding the reviewers' comments, we significantly improved the paper:
  - The statement of need is now clarified and explains why and when TessPy is useful and how it is needed when starting many spatial analys

[2022-07-14 14:03] lrastaet commented on #4053
Yes, the issue has been fixed. You can go ahead and publish.

[2022-07-14 14:12] siavash-saki commented on #4246
@danielskatz Ok, great, Thanks!

[2022-07-14 15:36] rkurchin commented on #4364
Thanks @bocklund!

@utf, have you had a chance to proceed with your review?

[2022-07-14 16:32] csadorf commented on #4480
Thank you for addressing my concerns.

I think the edited description provides a much better justification for this claim, however the fact that ipyannotator is implemented in Python and executed via Jupyter notebooks provides barely any justification for this claim since the same could be said for literally any other open-source software. While I understand that this is to be understood as hyperb

[2022-07-14 16:45] LeonieFierz commented on #4261
@noah80 thank you again for looking into cesar-p-core. Please note following updates with version 2.3.0:

- Installation instructions have been improved, for cesar-p-core and cesar-p-usage-examples. See https://cesar-p-core.readthedocs.io/en/latest/installation.html to get started. It links to cesar-p-usage-examples to get you started after the installation.
- As the default installation is straig

[2022-07-14 16:46] LeonieFierz commented on #4261
@olejandro thank you for your review! we addressed the points you created issues for with version 2.3.0. I closed the issues and mentioned what we did shortly in the issue comment.

[2022-07-14 16:54] webbjj commented on #4483
Thanks @lwang-astro .

I haven't tested the code with anything less than python 3, so I am wondering if that is the issue with the install error. Just to confirm, you normally have permission to install in the directory '/usr/local/lib/python2.7/dist-packages/test-easy-install-118055.write-test'? If so I will try and reproduce the error and track down the problem. It will be helpful to know if it

[2022-07-14 17:09] rieder commented on #4483
I would suggest not supporting any Python versions below 3.5 or so. Those older versions are phased out / unsupported anyway, and it avoids a *lot* of headaches.

[2022-07-14 17:30] KristinaRiemer commented on #4030
HI @hongyuanjia, just want to let you know that I'm going to be on vacation for the next three weeks. Hopefully you'll have a chance to wrap up the rest of your improvements by then! Thanks.

[2022-07-14 17:35] KristinaRiemer commented on #4405
/ooo July 15 until August 5

[2022-07-14 17:53] arfon commented on #4053
@editorialbot recommend-accept

[2022-07-14 18:30] arfon commented on #4053
@editorialbot accept

[2022-07-14 19:24] arfon commented on #4053
@dstansby, @samaloney – many thanks for your reviews here and to @dfm for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@asherp – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-07-14 19:24] #4053 closed

[2022-07-14 20:47] lucydot commented on #4547
@gdmiron we can also see what the reviewers think, and come back to this point. If you have not already, I suggest reading a few of the JOSS papers already published - to see how they balance this trade-off.

I am on leave from tomorrow (15th Jul) for one week. I will continue to look for a second reviewer, however please note that my responses may be more delayed than usual.

[2022-07-14 20:48] lucydot commented on #4459
Excellent, please give us an update with whatever progress you make.

I am going away on leave tomorrow (15th Jul) for one week - my responses during this time will be delayed (perhaps until I return).

[2022-07-14 20:49] lucydot commented on #4402
@archermarx I am away on leave for one week starting tomorrow (15th Jul). I will continue to look for a second reviewer (suggestions still welcome, or perhaps I can contact one of the people you cite - please see my previous comment about COI), however my responses will be more delayed than usual.

[2022-07-14 20:51] lucydot commented on #4333
Thanks @CFGrote I can see all your review boxes are ticked, can you confirm that the issue raised in https://github.com/jonathanHuwP/CrystalGrowthTracker/issues/22 is the only remaining acceptance-blocker?

@KedoKudo please could you update any of your review tick boxes in light of the recent changes made by the authors?

Please note that I am going away on annual leave for one week starting tomor

[2022-07-14 20:54] CFGrote commented on #4333
Confirmed

[2022-07-14 20:58] KedoKudo commented on #4333
Done, sorry about the delay.

[2022-07-15 02:02] quynhneo commented on #4398
I am very sorry for my absence. I hope the review is going well.

[2022-07-15 02:12] tonggehua commented on #4454
@arfon What is the timeline for starting the review process?

Many thanks,
Gehua

[2022-07-15 02:38] jgostick commented on #4398
Hi @quynhneo, I actually removed you from the reviewer list and started doing it myself, but I'd be VERY glad to re-add you.  The package appears to be in greate shape, so your troubles will be minimzied.
Should I re-add you?

[2022-07-15 04:34] jacobmerson commented on #4532
Sorry for the delay. I'll try to finalize my review this weekend.

[2022-07-15 04:42] emdupre commented on #4368
Thanks again for your patience here, @Cadaei-Yuvxvs ! A few small asks on the paper itself :

- [ ] Could you please update the text under the `Tool` subsection of `Methodology`  to fix the formatting of the Wang reference; i.e., `Joint Label Fusion (JLF) [@Wang:2013]` --> Joint Label Fusion (JLF; `@Wang:2013`)
- [ ] Please add a reference for `MriResearchTools`, as currently only the 0.5.2 versio

[2022-07-15 05:17] CZHU20 commented on #4118
Dear all, thank you very much for your patience. We have finally completed all revisions. Here are our responses to @axel-loewe 's comments.

We thank the reviewer for the thorough evaluation of the software, and we have used these comments to improve our software.

Per the reviewer’s recommendation, we have renamed Copyright-Simvasscular.txt to Licence.txt.
Since multiple parities were involved i

[2022-07-15 06:43] MikeLydeamore commented on #4206
@editorialbot generate my checklist

[2022-07-15 06:44] lwang-astro commented on #4483
@webbjj This installation error is independent of Python vesion, but relate to the default path to install, the same error occur for Python3.8.
[code]

For Linux system (Ubuntu), standard users don't have permission to install package in '/usr/local/lib/'
It only works when 'sudo' is used:
`sudo python3 setup.py install`

I think that this is a general feature for Python installation for either se

[2022-07-15 06:51] chartgerink commented on #4482
Thanks @ianjonsen for letting us know! 😊

@chfleming and @rociojoo - might one of you be interested to review this paper on bio-logging using machine learning?

Find [the paper on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04482/joss.04482/10.21105.joss.04482.pdf), and [the source code](https://github.com/FlukeAndFeather/rstickleback) as well.

[2022-07-15 07:03] MikeLydeamore commented on #4206
I have completed my review of the package. Overall I agree with the previous reviewer. The package is very thoroughly documented, works as expected and has good development practices.

I believe it to be a valuable addition to the journal.

My only recommendation is the naming of a few of the included datasets be renamed to avoid overriding R functions with datasets.

[2022-07-15 07:25] fAndreuzzi commented on #4534
Thank you for addressing the problem we raised @max-little, I'm quite busy these days so I'll have a look next week.

[2022-07-15 07:38] enekomartinmartinez commented on #4329
Hi @pdebuyl
Thank you for the feedback. We'll wait for updates :)

[2022-07-15 08:15] dfm commented on #4476
@editorialbot add @colmtalbot as reviewer

🎉 Thanks @colmtalbot for agreeing to review!!

[2022-07-15 08:17] dfm commented on #4476
@editorialbot add @gregoryashton as reviewer

🎉 Thanks also to @gregoryashton!!

I'll get the review started in a different thread and we'll go from there.

[2022-07-15 08:17] dfm commented on #4476
@editorialbot start review

[2022-07-15 08:17] editorialbot opened #4568 "[REVIEW]: CWInPy: a Python package for inference with continuous gravitational-wave signals from pulsars"
**Submitting author:** @mattpitkin (<a href="http://orcid.org/0000-0003-4548-526X">Matthew Pitkin</a>)
**Repository:** https://github.com/cwinpy/cwinpy
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.9.0
**Editor:** @dfm
**Reviewers:** @GregoryAshton, @ColmTalbot
**Archive:** 10.5281/zenodo.7121400

## Status

[![status](https://joss.theoj.org/papers/758efd099304e45c86e8f

[2022-07-15 08:17] #4476 closed

[2022-07-15 08:18] dfm commented on #4568
@ColmTalbot, @GregoryAshton — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above, and generate your checklists by commenting `@editorialbot generate my checklist` on this issue ASAP. As you go over the submission, please check any i

[2022-07-15 08:20] dfm commented on #4503
@catrionamurray, @christinahedges — A quick reminder to keep this on your radar! Let me know if you have any questions or issues as you go through your review. Thanks!!

[2022-07-15 08:23] ajstewartlang commented on #4206
Many thanks for your review and for your helpful comments @MikeLydeamore - I very much appreciate it! @n8thangreen could you address the datasets naming issue and let me know when that's done please?

[2022-07-15 08:29] mattpitkin commented on #4568
@gregoryashton @colmtalbot thanks very much for agreeing to perform the review. When looking at the documentation it's worth looking at the [latest version](https://cwinpy.readthedocs.io/en/latest/index.html) rather than the stable version. The [internal LVK review](https://git.ligo.org/groups/cwinpy/-/epics/1) (you should be able to see that material if you want to) of the code should be concludi

[2022-07-15 08:45] mattpitkin commented on #4568
@editorialbot generate pdf

[2022-07-15 08:58] fraukewiese commented on #4472
/ooo July 16 until August 7

[2022-07-15 08:59] fraukewiese commented on #4516
/ooo July 16 until August 7

[2022-07-15 09:14] PeterKraus commented on #4528
Alright, I have made two more issues, but they are not a blocker for me accepting. After you address the comments in https://github.com/sparks-baird/xtal2png/issues/144, feel free to close the issue. The documentation issue, https://github.com/sparks-baird/xtal2png/issues/146, can be closed already.

@rkurchin, do I need to do anything with the bot to recommend accept?

[2022-07-15 09:56] axel-loewe commented on #4118
I suggest mentioning the Docker container also in the [INSTALL.md file](https://github.com/SimVascular/svFSI/blob/JOSS_paper/INSTALL.md)

The authors markedly improved the documentation. For the future it would be great if there was also a complete user manual / documentation of parameters besides the examples.

[2022-07-15 10:22] CFGrote commented on #4461
@editorialbot generate pdf

[2022-07-15 10:27] CFGrote commented on #4461
Raised issues on:
- [ ] Tests https://github.com/xuanxu/starmatrix/issues/59
- [ ] API documentation https://github.com/xuanxu/starmatrix/issues/60
- [ ] Interactive usage https://github.com/xuanxu/starmatrix/issues/61
- [ ] Physical units https://github.com/xuanxu/starmatrix/issues/62
- [ ] Q matrix datatype https://github.com/xuanxu/starmatrix/issues/63

[2022-07-15 10:42] CFGrote commented on #4461
Just two minor comments on the paper, see attached.
[10.21105.joss.04461_annotated_CFGrote.pdf](https://github.com/openjournals/joss-reviews/files/9120150/10.21105.joss.04461_annotated_CFGrote.pdf)

[2022-07-15 10:52] CFGrote commented on #4461
and sorry it took me so long

[2022-07-15 11:17] faroit commented on #4434
👋 @ahwillia @jamiehadd @neel-dey @danielakuinchtner - would any of you be willing to review this submission for JOSS? The JOSS review process takes place on GitHub and focuses on the software and a short paper. We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under review is [Te

[2022-07-15 13:10] hugoledoux commented on #4474
@katmratliff would you be willing to review this submission for us?

[2022-07-15 13:14] hugoledoux commented on #4521
@Solonets @DaniilSinitsyn the comment above from @Mirmix is very relevant (for the paper):

    I would be glad if the author wrote more about the "delta" of their work, against the original implementation. "

Since your work is a rewrite and improvements over the original DSO, the users of the original code should be informed about what has changed and why you think it's better.

[2022-07-15 13:25] hugoledoux commented on #4015
thanks @maczokni for the update, this is clear and I agree with what you wrote.

Reviewers are expected indeed to test the package, but reviewers are indeed not debuggers. That being said, there are often bugs in software and one can't expect all software to be perfect.

@CamilleMorlighem a point was raised about testing, and since you did the review a while ago (before changes to the package were

[2022-07-15 14:03] danielskatz commented on #4461
FYI, for future JOSS reviews, you can also suggest changes in the paper via a PR on the paper source, if that's easier

[2022-07-15 14:14] PerilousApricot commented on #4452
Errrr, apparently the Github email connector isn't working?? Sorry about that -- I *tried* to say earlier that I was on vacation until the 13th... I've nearly completed the review now and should be able to sign off on the paper in the next hour

[2022-07-15 14:36] webbjj commented on #4483
@rieder - thanks for the heads up on python 2.7. I looked at it quickly and seems like a headache and not worth it. I image going from 2.7 to 3 was a lot of work for AMUSE.

@lwang-astro
- I have updated the installation instructions for users that might not have permissions to install in certain directories. I agree it was bad form to assume a user knows how to deal with such issues.
- I have unf

[2022-07-15 14:39] PerilousApricot commented on #4452
LGTM! Great paper & great project all

[2022-07-15 14:51] danielskatz commented on #4452
👋 @PerilousApricot and @jpata - it looks like both of you have checked off all items on your lists.
Please confirm that you are ready for this to be accepted.

[2022-07-15 14:52] PerilousApricot commented on #4452
@danielskatz I confirm that I am ready for this to be accepted

[2022-07-15 14:55] danielskatz commented on #4452
Ah, @jpata, I see that you didn't check off an item: "**Quality of writing**: Is the paper well written (i.e., it does not require editing for structure, language, or writing quality)?"

What needs to be done for you to check this off?

[2022-07-15 15:03] CZHU20 commented on #4118
Hi @axel-loewe, thanks for the quick feedback. We have added the following sentence to [INSTALL.md](https://github.com/SimVascular/svFSI/blob/JOSS_paper/INSTALL.md) to include Docker container information.

A complete user manual and developer guide are definitely planned for the future. But users are always welcome to reach out to us with any usage/development questions.

Meanwhile, please let me

[2022-07-15 15:11] katmratliff commented on #4474
@hugoledoux apologies, I need to decline reviewing at this time due to workload.

[2022-07-15 15:12] archermarx commented on #4402
Alright, I'll try to have a few suggestions by the time you get back

[2022-07-15 15:16] Moelf commented on #4452
I think when he comes back from vacation and take a look at the PR that closed:
- https://github.com/JuliaHEP/UnROOT.jl/issues/171

they probably can decide if we have more items to do

[2022-07-15 15:36] hugoledoux commented on #4474
@ EricaEgg would you be willing to review this submission for us?

[2022-07-15 17:31] EricaEgg commented on #4474
Yes, I am happy to review!

[2022-07-15 17:55] xuanxu commented on #4461
Yeah, working on them. Thanks @CFGrote!

[2022-07-15 18:12] VivianePons commented on #4283
Update: I have contacted the other reviewer, he had been busy these past months but he will be doing the review soon.

I will be on leave for the next few weeks and will follow things when I come back.

[2022-07-15 18:13] VivianePons commented on #4283
/ooo July 16 until August 4

[2022-07-15 18:36] xuanxu commented on #4461
@editorialbot generate pdf

Latest paper should include all recent changes

[2022-07-15 18:42] jedbrown commented on #4324
Thanks, all. And sorry about my lapse here (our household got covid, via 2yo's childcare). I'll start the review.

[2022-07-15 18:43] jedbrown commented on #4324
@editorialbot add @PaulDebus as reviewer

[2022-07-15 18:43] jedbrown commented on #4324
@editorialbot add @banesullivan as reviewer

[2022-07-15 18:43] jedbrown commented on #4324
@editorialbot start review

[2022-07-15 18:43] editorialbot opened #4569 "[REVIEW]: python-ags4: A Python library to read, write, and validate AGS4 geodata files"
**Submitting author:** @asitha-sena (<a href="http://orcid.org/0000-0001-7525-1160">Asitha Senanayake</a>)
**Repository:** https://gitlab.com/ags-data-format-wg/ags-python-library
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v0.4.1
**Editor:** @jedbrown
**Reviewers:** @PaulDebus, @banesullivan, @snakesonabrain
**Archive:** 10.5281/zenodo.7264282

## Status

[![status

[2022-07-15 18:46] jedbrown commented on #4569
:wave: @PaulDebus, @banesullivan, @jessepisel :wave:  Welcome to JOSS and thanks for agreeing to review! The comments from @editorialbot above outline the review process, which takes place in this thread (possibly with issues filed in the python-ags4 repository). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with

[2022-07-15 18:50] osorensen commented on #4515
@jinhangjiang can you please update us on how it's going with your review?

[2022-07-15 20:03] jinhangjiang commented on #4515
Yeah, I will have it done by this Sunday night CST.

Sent from my iPhone

[2022-07-15 23:40] davidpagnon commented on #4362
Dear reviewers,

Thank you for your input! I'm sorry about my late answer, I had a difficult deadline to meet. Anyway, here it is!\
I answered to the issues you have posted on the repository (feel free to follow up if you're not satisfied), now here are my answers to each of the reviewers in separate posts.

Also, I'm not sure you're going to be able to compile the paper with the @editorialbot gen

[2022-07-15 23:48] davidpagnon commented on #4362
Answers to @lambdaloop

Rephrased to:

"`Pose2Sim` provides a workflow for 3D markerless kinematics, as an alternative to the more usual marker-based motion capture methods.\
Pose2Sim stands for "OpenPose to OpenSim", as it uses OpenPose inputs (2D coordinates obtained from multiple videos) and leads to an OpenSim result (full-body 3D joint angles)."

Agreed.

-----

I removed the section about go

[2022-07-15 23:57] davidpagnon commented on #4362
Answers to @CVHammond

I did follow [these guidelines](https://simtk-confluence.stanford.edu:8443/display/OpenSim/Marker+%28.trc%29+Files) on how to produce a TRC file, however I wasn't aware of the STOAdapter class, thanks! I'm not sure I should use it though, as it is written in C++ and embedding it would require quite some heavy modifications to the code, which I would like to keep light. This

[2022-07-15 23:57] lwang-astro commented on #4483
I use the version installed from the pip. Maybe it is not a up-to-date version yet.

[2022-07-16 00:18] max-little commented on #4534
Thanks @fAndreuzzi .

[2022-07-16 00:47] davidpagnon commented on #4362
Answers to @jonmatthis.

The other I answered your other feedback directly on this issue: https://github.com/perfanalytics/pose2sim/issues/9

I rephrased this part to:
"For the last few decades, marker-based kinematics has been considered as the best choice for the analysis of human movement, when regarding the trade-off between ease-of-use and accuracy. However, the system is hard to set outdoors

[2022-07-16 03:37] chfleming commented on #4482
@chartgerink I don't know how this works, but okay. The paper & package look interesting.

[2022-07-16 03:39] zarrarkhan commented on #4015
@hugoledoux @maczokni

Thank you for your latest comments and the time you put into your thorough review. Your comments are addressed below and in the latest version of the paper draft: https://res.cloudinary.com/hkvhhndao/image/upload/v1657942383/ew2vgphg2dfqi6qy5n0t.pdf which can also be seen at:
https://github.com/JGCRI/rmap/blob/main/paper/paper.md

--------------------------------------------

[2022-07-16 09:34] CFGrote commented on #4461
All good for me, remaining comments are suggestions and will be addressed in an upcoming future release according to @xuanxu. No blocking issues from my point of view.

[2022-07-16 11:06] webbjj commented on #4483
@lwang-astro - I have pushed a new version (1.0.1) to pip. My apologies, as I thought I updated the pip version when I submitted to JOSS.

[2022-07-16 15:44] jgostick commented on #4398
@ronshnapp I think this package is good to go and I will begin the process of accepting it.  Well done! There are a few steps left, as outlined in the checklist below:

Here is a list of what to do next:

# Post-Review Checklist for Editor and Authors
## Additional Author Tasks After Review is Complete
- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the softw

[2022-07-16 15:45] jgostick commented on #4398
@editorialbot generate pdf

[2022-07-16 15:45] jgostick commented on #4398
@editorialbot check references

[2022-07-16 20:40] kyleniemeyer commented on #4558
Hi @danielhatton, unfortunately, the JOSS editorial board has reviewed your submission and found that it does not meet our requirements to be reviewed due to its relatively small size.

To receive credit for your submission, you do have a few other options available, such a following [GitHub’s guide](https://guides.github.com/activities/citable-code/) on how to create a permanent archive and DOI f

[2022-07-16 20:41] kyleniemeyer commented on #4558
@editorialbot reject

[2022-07-16 20:41] #4558 closed

[2022-07-16 20:44] editorialbot opened #4570 "[PRE REVIEW]: fseval: A Benchmarking Framework for Feature Selection and Feature Ranking Algorithms"
**Submitting author:** @dunnkers (<a href="http://orcid.org/0000-0003-3304-3800">Jeroen Gerard Sebastiaan Overschie</a>)
**Repository:** https://github.com/dunnkers/fseval
**Branch with paper.md** (empty if default branch): paper
**Version:** v3.0.2
**Editor:** @diehlpk
**Reviewers:** @mcasl, @estefaniatalavera
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/d8

[2022-07-16 20:47] kyleniemeyer commented on #4570
@openjournals/dev it looks like this submission has the paper in an orphaned branch, or at least one that doesn't have any of the actual software package. Will that work for doing the repo checks?

[2022-07-16 20:50] kyleniemeyer commented on #4257
@MatthieuDartiailh JOSS reviews are a bit different than traditional academic journals: the reviews are [checklist driven](https://joss.readthedocs.io/en/latest/review_checklist.html) and take place openly in a GitHub issue like this one (this specific issue is just for getting the review process ready though).

The paper PDF is linked above in a prior comment, copied here for convenience:

👉📄 [Do

[2022-07-16 20:51] kyleniemeyer commented on #4337
Hi @hechth, just wanted to check on those items above ☝️  to help wrap up your submission.

[2022-07-16 20:53] editorialbot opened #4571 "[PRE REVIEW]: ATRACKCS: An Algorithm For Tracking Convective Systems"
**Submitting author:** @alramirezca (<a href="http://orcid.org/0000-0003-2887-7763">Alvaro Ramirez Cardona</a>)
**Repository:** https://github.com/alramirezca/ATRACKCS/
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/4bd8d27d0c7463fc2948672fc6c102ef/

[2022-07-16 20:54] editorialbot opened #4572 "[PRE REVIEW]: pocoMC: A Python package for accelerated Bayesian inference in astronomy and cosmology"
**Submitting author:** @minaskar (<a href="http://orcid.org/0000-0001-9489-4612">Minas Karamanis</a>)
**Repository:** https://github.com/minaskar/pocomc
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.0
**Editor:** @dfm
**Reviewers:** @kazewong, @marylou-gabrie
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/e7d10f594f5c8eb682d29dd84aaf71be

[2022-07-16 20:57] kyleniemeyer commented on #4571
Hi @alramirezca, due to the relatively small size of your software package, the JOSS editors are going to take a look and make sure it meets our requirements for [substantial scholarly effort]() in order to be reviewed. This should hopefully take a week or so. ("Fortunately", we don't really have an editor with the bandwidth to handle the submission right now anyways!)

[2022-07-16 20:57] kyleniemeyer commented on #4571
@editorialbot query scope

[2022-07-16 21:01] kyleniemeyer commented on #4572
Hi @minaskar, unfortunately our current editors with expertise in astronomy, cosmology, and astrophysics do not have any availability to take on new submissions—you might have seen that we actually have a [call for new editors](https://blog.joss.theoj.org/2022/07/call-for-editors-astro) particularly in these areas. So, we have to waitlist your submission for the time being, until an editor becomes

[2022-07-16 21:13] kyleniemeyer commented on #4432
Hi @erexer, just checking in on the status of your review. Are you able to complete it soon, or do you have feedback for the authors based on the unchecked items?

[2022-07-16 21:14] kyleniemeyer commented on #4464
@draabe it would be ideal if things don't change much during the review, particularly in terms of functionality. Could that work be done on a branch that becomes a new version following review of the current version? (In contrast, if these are important fixes, then it might be best to pause the review until they are complete.)

[2022-07-16 21:15] editorialbot opened #4573 "[PRE REVIEW]: ur-scape: harnessing data for stakeholder participation in city-making processes"
**Submitting author:** @luyuhao0326 (<a href="http://orcid.org/0000-0001-8574-1999">Yuhao Lu</a>)
**Repository:** https://github.com/UrbanRuralSystems/ur-scape
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.9.96
**Editor:** @hugoledoux
**Reviewers:** @winstonyym, @cforgaci
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/a26d6189208eb1

[2022-07-16 21:15] crvernon commented on #4432
@kyleniemeyer ... @erexer notified me that they will be back from vacation next week. Thanks!

[2022-07-16 21:18] kyleniemeyer commented on #4570
@openjournals/dev or, is there some other reason why the repo details and license are not found? The repo link above looks ok, actually, so I'm not sure what is going on.

[2022-07-16 21:21] kyleniemeyer commented on #4573
@editorialbot check repository

[2022-07-16 21:32] ronshnapp commented on #4398
Hi @jgostick,
Thank you very much, I'm very excited to see MyPTV advancing with its first publication!

The version tag is V0.4.3
The DOI on Zenodo in: 10.5281/zenodo.6846969
I confirm checking that the author list and affiliations are correct on the paper and on Zenodo.

[2022-07-16 21:33] danielskatz commented on #4573
@editorialbot set paper as branch

[2022-07-16 21:33] danielskatz commented on #4573
@editorialbot check repository

[2022-07-16 21:35] danielskatz commented on #4573
@editorialbot check references

[2022-07-16 21:35] danielskatz commented on #4573
@editorialbot generate pdf

[2022-07-16 22:26] gkthiruvathukal commented on #3292
@brunaw Thank you!

[2022-07-17 00:53] alramirezca commented on #4571
reviewers with Python and health background:

apalarcon
andreas-h
josephhardinee
wholmgren
ethan-nelson
ashwinvis
ali-ramadhan
rchg
slayoo
simonom
RBhupi
jimmielin
syedhamidali

[2022-07-17 01:19] ajohnson-uoregon commented on #4552
Okay I've made a separate repo with only the necessary code, let's see if this works: https://github.com/ajohnson-uoregon/clang-rewrite-only/tree/joss22

[2022-07-17 01:20] danielskatz commented on #4552
@editorialbot set https://github.com/ajohnson-uoregon/clang-rewrite-only as repository

let's see if this new command works yet

[2022-07-17 01:21] danielskatz commented on #4552
maybe not - I'll change it in the header, but this means we'll have to remember to change it again when we start the actual review

[2022-07-17 01:21] danielskatz commented on #4552
@editorialbot check references

[2022-07-17 01:22] danielskatz commented on #4552
@editorialbot generate pdf

[2022-07-17 01:23] danielskatz commented on #4552
👋 @xuanxu - any thoughts on the above 4 commands/actions?

[2022-07-17 03:11] brunaw commented on #3292
Thanks all, I've finished my review now, my apologies for the delay. I only have a few quick suggestions/comments:

- Because this is a shiny app, I think it would be nice to have a gif in the package README file showing how to use the app instead of just a screenshot of the interface, or at least a few more screenshots indicating the steps to run the analysis
- Also on the exemplification, it wou

[2022-07-17 09:26] jbytecode commented on #4567
@editorialbot remind @bauer-alex in 3 days

[2022-07-17 09:27] jbytecode commented on #4567
@editorialbot remind @paulrougieux in 3 days

[2022-07-17 09:28] jbytecode commented on #4563
@editorialbot remind @briatte in 3 days

[2022-07-17 09:29] jbytecode commented on #4556
@editorialbot remind @tpoisot in 3 days

[2022-07-17 09:29] jbytecode commented on #4556
@editorialbot remind @Zitzeronion in 3 days

[2022-07-17 09:33] Zitzeronion commented on #4556
@editorialbot generate my checklist

[2022-07-17 10:16] Zitzeronion commented on #4556
Hey @jbytecode,

I am sorry for the delay, started yesterday reviewing the project.
So far so good, one thing that is somewhat conflicting to me is the **Contribution and authorship**.
To my understanding, @lrennels (Lisa Rennels) is the creator and main contributor of the project.
@tonyewong contributed, but it is hard for me to assess his commits as major contributions.
Can @tonyewong please cla

[2022-07-17 10:41] jbytecode commented on #4556
Thank you @Zitzeronion for stressing this point.

- It seems the initial state of the model is published elsewhere: [Journal Article](https://gmd.copernicus.org/articles/10/2741/2017/)
- The first author is @tonyewong but they stated that the authors contributed equally to this work
- The abstract states that the initial attempts are written in R and FORTRAN.
- Does the role of @lrennels here cons

[2022-07-17 11:17] tonyewong commented on #4556
@Zitzeronion @jbytecode 's assessment is accurate. I'm responsible for actively guiding/managing the project and doing some of the code development in tandem with @lrennels, who as you note is most active as a developer in terms of numbers of lines of code and commits.

Our team's understanding from the [JOSS submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html#authorship)

[2022-07-17 11:49] xuanxu commented on #4552
It looks like the references command and compiling the pdf are working ok. The new 'set repository' command is ready but has not being deployed. Once this is merged it will work https://github.com/openjournals/buffy/pull/72

[2022-07-17 11:55] xuanxu commented on #4570
The repo checks are by default performed on the branch set in the header. But the command should accept other branch, let's try

[2022-07-17 11:55] xuanxu commented on #4570
@editorialbot check repository from branch master

[2022-07-17 12:01] elbeejay commented on #4477
Going to start this review now while I try to find a third reviewer. Sorry for the delay all.

[2022-07-17 12:01] elbeejay commented on #4477
@editorialbot start review

[2022-07-17 12:01] editorialbot opened #4574 "[REVIEW]: osrm: Interface Between R and the OpenStreetMap-Based Routing Service OSRM"
**Submitting author:** @rCarto (<a href="http://orcid.org/0000-0002-1932-3323">Timothée Giraud</a>)
**Repository:** https://github.com/riatelab/osrm/
**Branch with paper.md** (empty if default branch):
**Version:** v4.0.0
**Editor:** @elbeejay
**Reviewers:** @JosiahParry, @mikemahoney218, @wcjochem
**Archive:** 10.5281/zenodo.7228376

## Status

[![status](https://joss.theoj.org/papers/66682b47d14

[2022-07-17 12:01] #4477 closed

[2022-07-17 12:07] mikemahoney218 commented on #4574
@editorialbot generate my checklist

[2022-07-17 12:12] elbeejay commented on #4574
@mikemahoney218  and @JosiahParry thanks again for agreeing to review this submission to JOSS. We've just switched over from whedon to the new editorialbot, and the review process has changed subtly. Please refer to the post at the top of this issue page for a link to the reviewer guidelines as well as the command for generating your reviewer checklist (@mikemahoney218 wasted no time in generating

[2022-07-17 12:12] elbeejay commented on #4574
@editorialbot remind @mikemahoney218 in three weeks

[2022-07-17 12:13] elbeejay commented on #4574
@editorialbot remind @JosiahParry in three weeks

[2022-07-17 12:17] Zitzeronion commented on #4556
Thanks @jbytecode for putting such a nice bullet point list in such a short time.
Thanks @tonyewong for the answer, maybe one additional question is @Irennels a PhD student under your supervision?

I understand this reasoning, and I understand @tonyewong's role as active_guiding/managing_ of the project. My only concern is that this statement can't be easily seen from the repositories' metadata.

[2022-07-17 12:21] MatthieuDartiailh commented on #4257
Thanks for the explanation. I will start looking at the paper and the code but may not be able to test the code (I do not own a Mac and I do not have access to a linux VM at the moment). What will be the next steps and timeline ?

[2022-07-17 12:32] MatthieuDartiailh commented on #4257
Currently my main issue with the paper is the claim: `SwiftVISASwift uses CoreSwiftVISA types and protocols and implements communication over TCI/IP instruments`. This claim is overly broad since as far as I can tell this is limited to TCPIP:SOCKET resources and no support is offered for instruments relying on the VXI-11 protocol or the more recent hislip protocol.

[2022-07-17 12:33] jbytecode commented on #4556
At the end of the day, the repository owner is in the authors list and it seems @tonyewong has the full-control over the subject, software, and the other thinks, so that is okay for me. Of course, reviewers thoughts have higher priority in this stage to give a decision.

[2022-07-17 13:34] ManjariKiran commented on #4486
Thanks for your review and comment. Could you please let us know if the rejection is due to less than 1000 lines of codes?

[2022-07-17 13:41] wcjochem commented on #4477
Hi @elbeejay, following up from my email, I'm happy to review this submission also. Thanks.

[2022-07-17 14:15] elbeejay commented on #4574
@editorialbot add @wcjochem as reviewer

[2022-07-17 14:16] elbeejay commented on #4574
@wcjochem thanks again for agreeing to review this submission. Please see the above instructions on how to generate your review checklist and let me know if you have any questions about the process. I'll be asking the editorialbot to send you a reminder in 3 weeks as well just so that things stay on track.

[2022-07-17 14:16] elbeejay commented on #4574
@editorialbot remind @wcjochem in three weeks

[2022-07-17 14:37] danielskatz commented on #4552
@ajohnson-uoregon - note the reference checker is finding some DOIs that are missing in your bib file.  On the other hand, I think that your bib file includes some references that are not in the paper, so to resolved this, you might remove the unneeded references.

[2022-07-17 15:33] danasolav commented on #4279
Hi @arfon, would you be able to correct my ORCID number in the published paper?
Thanks

[2022-07-17 17:33] zoometh commented on #4335
@martinfleis according to me, the complete configuration of the R package ***archeofrag*** is finished, my checklist (https://github.com/openjournals/joss-reviews/issues/4335#issuecomment-1118290161) is now completed

[2022-07-17 19:07] pdebuyl commented on #4205
ping @bkmi

[2022-07-17 19:19] dfm commented on #4572
@editorialbot assign me as editor

[2022-07-17 19:21] dfm commented on #4572
I'm happy to edit!

@minaskar — I'll do a first pass and start recruiting reviewers over the next few days and keep you posted. This process can typically take a week or two.

[2022-07-17 19:23] minaskar commented on #4572
Hi @dfm , many thanks!

Let me know if you require anything else.

Cheers,
Minas

[2022-07-17 20:49] jinhangjiang commented on #4515
@editorialbot generate my checklist

[2022-07-17 20:53] bauer-alex commented on #4567
@editorialbot generate my checklist

[2022-07-17 22:14] jinhangjiang commented on #4515
@editorialbot generate pdf

[2022-07-18 03:16] jinhangjiang commented on #4515
Hi @osorensen, I have finished the first round of reviews. It looks like a mature, solid, and domain-dependent python package to me. The authors are able to provide sufficient documents to help users to understand what it can achieve. The example codes are reproducible from my end.

I only have two questions for the authors (@derNarr):

- First, based on what I read, the API only takes the data in

[2022-07-18 04:37] osorensen commented on #4515
Thanks a lot for your review, @jinhangjiang. Since you have completed your checklist, you are done with your tasks now. However, I hope the author @derNarr can answer your questions here, and if possibly include your suggested improvements in the package.

[2022-07-18 04:38] osorensen commented on #4515
@VenkteshV, can you please update us on how it's going with your review?

[2022-07-18 05:56] VHchavez commented on #4459
Currently working on the docs issues highlighted by @srmnitc.

[2022-07-18 06:29] CFGrote commented on #4509
@editorialbot generate pdf

[2022-07-18 06:58] pdebuyl commented on #4424
@editorialbot add @arjunsavel as reviewer

[2022-07-18 06:59] pdebuyl commented on #4424
@editorialbot start review

[2022-07-18 06:59] editorialbot opened #4575 "[REVIEW]: vSmartMOM.jl: an Open-Source Julia Package for Atmospheric Radiative Transfer and Remote Sensing Tools"
**Submitting author:** @RupeshJey (<a href="http://orcid.org/0000-0003-0142-7367">Rupesh Jeyaram</a>)
**Repository:** https://github.com/RemoteSensingTools/vSmartMOM.jl
**Branch with paper.md** (empty if default branch): joss
**Version:** v1.0.1
**Editor:** @pdebuyl
**Reviewers:** @jimmielin, @arjunsavel
**Archive:** 10.5281/zenodo.7373457

## Status

[![status](https://joss.theoj.org/papers/e1908

[2022-07-18 07:10] arjunsavel commented on #4575
@editorialbot generate my checklist

[2022-07-18 07:32] derNarr commented on #4515
The ``ndl.ndl`` learner expects the data to be in a tab-separated format where in the first column cues (inputs) are defined, where the only special delimiting character is the underscore ``_``. In the second column the outcomes (outputs) are defined in the same way. This tab-separated file can / should be gunzipped (deflate compressed). As you can continue the learning, learning events can be spl

[2022-07-18 08:04] timtroendle commented on #4261
@LeonieFierz thanks for keeping us updated!

@olejandro @noah80 @jasondegraw could you have a look at these changes and let us know whether they address your comments? Can you please update your checklists accordingly?

[2022-07-18 08:07] fabian-s commented on #4495
👋🏼 @LucyMcGowan could you update us on your timeline to adress the reviewers' comments?

[2022-07-18 08:08] fabian-s commented on #4448
@timClicks how much more time do you think you'll need for your review?

[2022-07-18 08:11] fabian-s commented on #4403
@gdede-hua could you update us on your progress on this and/or give an estimate how much more time you will need to adress the issues pointed out by our reviewers?

[2022-07-18 08:16] fabian-s commented on #4448
@zStupan to speed up this process, you could begin to adress some of the issues identified by @diegomcarvalho while we wait for @timClicks to review the paper.

If you have questions or comments about specific points of the review or what would be required to adress them, please create separate GH issues for them in your repository and link to them here so we can have focussed discussions about th

[2022-07-18 08:35] bkmi commented on #4205
good timing. just got back from vacation. working on that right now.

[2022-07-18 08:36] editorialbot opened #4576 "[PRE REVIEW]: GORILLA: Guiding-center ORbit Integration with Local Linearization Approach"
**Submitting author:** @micheder (<a href="http://orcid.org/0000-0002-1392-1664">Michael Eder</a>)
**Repository:** https://github.com/itpplasma/GORILLA
**Branch with paper.md** (empty if default branch):
**Version:** v1.1
**Editor:** @pibion
**Reviewers:** @rogeriojorge, @hasantahir
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/842b83a430e4c2985d202c79ed626587/

[2022-07-18 08:37] editorialbot opened #4577 "[PRE REVIEW]: Choco-solver: A Java library for constraint programming"
**Submitting author:** @cprudhom (<a href="http://orcid.org/0000-0002-4546-9027">Charles Prud&#39;homme</a>)
**Repository:** https://github.com/chocoteam/choco-solver
**Branch with paper.md** (empty if default branch):
**Version:** 4.10.8
**Editor:** @jbytecode
**Reviewers:** @skadio, @ozgurakgun
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/c4e6329e6ef023c0b85

[2022-07-18 08:37] editorialbot opened #4578 "[PRE REVIEW]: geostan: An R package for Bayesian spatial analysis"
**Submitting author:** @ConnorDonegan (<a href="http://orcid.org/0000-0002-9698-5443">Connor Donegan</a>)
**Repository:** https://github.com/ConnorDonegan/geostan
**Branch with paper.md** (empty if default branch): JOSS
**Version:** V0.3.0
**Editor:** @jbytecode
**Reviewers:** @wcjochem, @becarioprecario
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/8505b8bf192

[2022-07-18 08:37] editorialbot opened #4579 "[PRE REVIEW]: SpmImage Tycoon: Organize and analyze scanning probe microscopy data"
**Submitting author:** @alexriss (<a href="http://orcid.org/0000-0002-3212-7925">Alexander Riss</a>)
**Repository:** https://github.com/alexriss/SpmImageTycoon.jl
**Branch with paper.md** (empty if default branch):
**Version:** 0.3.6
**Editor:** @jgostick
**Reviewers:** @xaviercm94, @jingpengw
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/62906b1951cc0e6bb5ada0

[2022-07-18 08:37] editorialbot opened #4580 "[PRE REVIEW]: TessPy: a python package for geographical tessellation"
**Submitting author:** @siavash-saki (<a href="http://orcid.org/0000-0002-5413-3007">Siavash Saki</a>)
**Repository:** https://github.com/siavash-saki/tesspy
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.0
**Editor:** @martinfleis
**Reviewers:** @jGaboardi, @BenjMy
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/c90e8d78b221d037f366e5fd1f6

[2022-07-18 08:38] arfon commented on #4580
Note to editors, this is a resubmission of #4246

[2022-07-18 08:38] editorialbot opened #4581 "[PRE REVIEW]: MacLeish: An R package for monitoring environmental conditions in Whately, Massachusetts"
**Submitting author:** @beanumber (<a href="http://orcid.org/0000-0002-3279-0516">Benjamin Baumer</a>)
**Repository:** https://github.com/beanumber/macleish
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.9
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/fd63cfd19e3c73163271a5abe2d403d8/status.svg)]

[2022-07-18 08:39] editorialbot opened #4582 "[PRE REVIEW]: Metaheuristics: A Julia Package for Single- and Multi-Objective Optimization"
**Submitting author:** @jmejia8 (<a href="http://orcid.org/0000-0002-0367-2967">Jesus-Adolfo Mejia-de-Dios</a>)
**Repository:** https://github.com/jmejia8/Metaheuristics.jl
**Branch with paper.md** (empty if default branch): paper
**Version:** v3.2.9
**Editor:** @vissarion
**Reviewers:** @idoby, @PaulDebus, @JustinSGray
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/pa

[2022-07-18 08:39] editorialbot opened #4583 "[PRE REVIEW]: pyMFD: A package for multipoint force-deflection analysis"
**Submitting author:** @larsenkg (<a href="http://orcid.org/0000-0001-9968-2133">Kyle Larsen</a>)
**Repository:** https://github.com/larsenkg/pyMFD
**Branch with paper.md** (empty if default branch): paper
**Version:** 1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/fc7796ba58bd511da78c3a87c6592e99/status.svg)](htt

[2022-07-18 08:39] editorialbot opened #4584 "[PRE REVIEW]: Spafe: Simplified python audio features extraction"
**Submitting author:** @SuperKogito (<a href="http://orcid.org/0000-0002-9008-7562">Ayoub Malek</a>)
**Repository:** https://github.com/SuperKogito/spafe
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.0
**Editor:** @faroit
**Reviewers:** @hadware, @hbredin
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/dd1872c99f05b308d805eb56bd34d401/stat

[2022-07-18 08:40] editorialbot opened #4585 "[PRE REVIEW]: PyCPD: Pure NumPy Implementation of the Coherent Point Drift Algorithm"
**Submitting author:** @gattia (<a href="http://orcid.org/0000-0001-6717-8979">Anthony Gatti</a>)
**Repository:** https://github.com/siavashk/pycpd
**Branch with paper.md** (empty if default branch): master
**Version:** 2.0.0
**Editor:** @hugoledoux
**Reviewers:** @zexinyang, @rickie95
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/87f2f01d2e127356ec58f3620ce499

[2022-07-18 08:41] editorialbot opened #4586 "[PRE REVIEW]: Pyripherals: A Python Package for Communicating with Peripheral Electronic Devices"
**Submitting author:** @Ajstros (<a href="http://orcid.org/0000-0001-9412-2049">Abraham Stroschein</a>)
**Repository:** https://github.com/Ajstros/pyripherals
**Branch with paper.md** (empty if default branch):
**Version:** v0.0.2
**Editor:** @danielskatz
**Reviewers:** @untzag, @askuric
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/35fd570e4d8132210476bbaf747c

[2022-07-18 08:41] editorialbot opened #4587 "[PRE REVIEW]: datapact: a Python library for checking assumptions on DataFrames"
**Submitting author:** @skn0tt (<a href="http://orcid.org/0000-0002-4852-3738">Simon Knott</a>)
**Repository:** https://github.com/skn0tt/datapact
**Branch with paper.md** (empty if default branch):
**Version:** v0.9.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/1a295cfd77bbbc8379aed2d1e9c4d690/status.svg)](https://j

[2022-07-18 08:43] bkmi commented on #4205
Alright! I updated the author list and the title as requested.

this is the most recent release and relevant record
https://zenodo.org/record/6412465

[2022-07-18 08:43] arfon commented on #4519
@jedbrown – do these comments satisfy your concerns, and if so, would you be able to edit this submission for JOSS?

[2022-07-18 08:48] chartgerink commented on #4482
@editorialbot add @chfleming as reviewer

Thanks @chfleming! Once review commences, a new issue will be added where you can start [your review checklist](https://joss.readthedocs.io/en/latest/review_checklist.html). You then go through the items and you may leave issues on the original repository.

I'm always around to answer questions so feel free to ping me! For now, you don't need to do anythin

[2022-07-18 08:57] arfon commented on #4576
Note to editors this is a resubmission of https://github.com/openjournals/joss-reviews/issues/3116

[2022-07-18 09:00] arfon commented on #4581
@editorialbot query scope

@beanumber – many thanks for your submission to JOSS. Due to the small size and limited scope of this package, I'm going to flag it for a scope review with the broader JOSS editorial team.

[2022-07-18 09:01] arfon commented on #4583
@editorialbot query scope

@larsenkg – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-07-18 09:02] arfon commented on #4585
@editorialbot query scope

@gattia – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-07-18 09:04] arfon commented on #4587
@editorialbot – query scope

@Skn0tt – due to the relatively small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-07-18 09:08] micheder commented on #4576
@editorialbot generate pdf

[2022-07-18 09:08] Skn0tt commented on #4587
Looking through topic areas in the Spreadsheet, these reviewers look like a good fit:

- csadorf (Pandas, Jupyter)
- a-slide (Jupyter, Data processing, bio informatics)
- ulf1 (statistics, time series)

[2022-07-18 09:09] micheder commented on #4576
We would kindly like to suggest the following potential reviewers:
* sigvaldm
* Christovis
* ketch
* vickysharma0812
* robashaw

[2022-07-18 09:13] micheder commented on #4576
@editorialbot generate pdf

[2022-07-18 09:28] CFGrote commented on #4509
This concludes my first round of review. I'm really impressed by the quality of the code and documentation and for following OS Dev best practices in general. I'm looking forward to your response @Jacks0nJ .

[2022-07-18 09:58] PaulDebus commented on #4569
@editorialbot generate my checklist

[2022-07-18 10:33] Jacks0nJ commented on #4509
Cheers @CFGrote! I'll try to work on your feedback over the next two days but I'm on holiday 20/07/22-29/07/22, so just to let you know some fixes might come after then.

If there is anything else I should do @drvinceknight apart from what @CFGrote has already highlighted, do let me know.

[2022-07-18 11:19] fjprichard commented on #3821
**line 16, reasearchs -> researchs
    line 31, developping -> developing**

Done.

**I want to check that I'm understanding correctly: Are the topothesy and Hurst functions the "methods that estimate the features derived from the parameters of the AFBF," or are they the "features derived from the parameters of the AFBF?"
I'm not confident I know what "features" refers to - the topothesy and Hurst

[2022-07-18 11:49] draabe commented on #4464
thanks for the reply, @kyleniemeyer! we'll follow your first suggestion and won't change the package during review. the bug fixes we found are rather cosmetic, so there's nothing urgent right now.

[2022-07-18 12:39] JosiahParry commented on #4574
@editorialbot generate my checklist

[2022-07-18 12:43] beanumber commented on #4581
OK, thanks!

[2022-07-18 12:44] Jacks0nJ commented on #4509
@editorialbot generate pdf

[2022-07-18 12:57] k-doering-NOAA commented on #4536
@danielskatz and @Kevin-Mattheus-Moerman, just wondering if either of you had a suggestion of what to do about the one DOI I cannot figure out how to make valid? (see [previous post in thread](https://github.com/openjournals/joss-reviews/issues/4536#issuecomment-1176336065))

[2022-07-18 13:17] jedbrown commented on #4569
@editorialbot add @snakesonabrain as reviewer

[2022-07-18 13:19] jedbrown commented on #4569
Welcome @snakesonabrain (author of Groundhog)! Please make a comment here with
[code]
to get started, and let me know if you have any questions.

[2022-07-18 13:19] ConnorDonegan commented on #4578
A few potential reviewers: Volkerschmid  becarioprecario  wcjochem

[2022-07-18 13:23] jedbrown commented on #4569
Now that we have direct AGS4 expertise thanks to Bruno, if one of the reviewers who hasn't started yet would like to rotate off this submission, please just let us know here. Of course you're welcome to stay.

[2022-07-18 13:34] itepifanio commented on #4480
@csadorf thanks for the suggestions.

We tried to make the "infinitely hackable" claim clearer on [#30](https://github.com/palaimon/ipyannotator/pull/30).

[#31](https://github.com/palaimon/ipyannotator/pull/31) tries to improve the documentation of the tests.

We're running using poetry only because it's easier on the CI (it guarantees that the environment is active), it's not a requirement or re

[2022-07-18 13:38] oliviaguest commented on #4538
@jagnobli could you suggest some names (or usernames **but no tags**) of reviewers, please?

[2022-07-18 13:57] wdeconinck commented on #3896
@slayoo That looks great, it shows off very nicely to be on par with the classic HPC languages or even better, with the added benefits of Python.
One typo in line 130: built-in instead of build-in.

[2022-07-18 13:58] oliviaguest commented on #4538
@editorialbot add @samhforbes as reviewer

[2022-07-18 14:01] danielskatz commented on #4461
@CFGrote and @ygrange - can you both please confirm that you are ready for this to move to acceptance and publication?

[2022-07-18 14:02] jmejia8 commented on #4582
@editorialbot commands

[2022-07-18 14:53] jimmielin commented on #4575
@editorialbot generate my checklist

[2022-07-18 14:57] galessiorob commented on #4542
@Kevin-Mattheus-Moerman @mzabrams thanks for the invite and apologies for the very late reply. I'm tied up at the moment and unfortunately don't have bandwidth to edit this paper. Thanks for understanding.

[2022-07-18 15:00] snakesonabrain commented on #4569
@editorialbot generate my checklist

[2022-07-18 15:12] mbarzegary commented on #4531
@editorialbot check references

[2022-07-18 15:46] utf commented on #4364
Apologies for the delay getting back my review.

I've finished reviewing simmate and recommend that it be accepted. There is an incredible amount of functionality in the package, the documentation is very thorough and easy to follow, and I can confirm that all examples work as intended.

[2022-07-18 15:52] tonyewong commented on #4556
Thanks for the clarification!

@Zitzeronion , would a suitable solution be to add a section to the repository README.md file that outlines Author Contributions? Or perhaps more broadly a "Contributions" section where we can give credit to our various users/contributors?

[2022-07-18 15:57] jimmielin commented on #4575
Hello all, I've had an opportunity to look at this package during the pre-review phase, and have just went through the software and manuscript again. Please find my comments below.

## Summary
`vSmartMOM.jl` is a Julia package for computing atmospheric optical properties and fully-polarized multiple-scattering radiance simulations with the Matrix Operator Method. The software is open-source licens

[2022-07-18 16:03] jacksund commented on #4364
@utf Thank you!!

[2022-07-18 16:10] crvernon commented on #4464
:wave:  @kanishkan91 - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-07-18 16:12] crvernon commented on #4460
Thanks @kcerva !  Once you confirm that all is well from your perspective @nick-gorman let me know and check off your remaining boxes and I'll take a look.

Great work!

[2022-07-18 16:12] gbaltz commented on #4555
@editorialbot generate my checklist

[2022-07-18 16:14] jessepisel commented on #4569
@jedbrown I am happy to rotate off this review now that Bruno has agreed to review the repository.

[2022-07-18 16:16] jedbrown commented on #4172
Thanks @YohannDudouit for your comprehensive review.

@jeremiah-corrado how are you doing? From the perspective of JOSS, we are looking for accuracy. So if you don't want to make major changes to the library, you can adjust the abstract to make clear that it's a library for linear $H(\text{curl})$ problems or whatever is an accurate statement of what is currently supported. Of course software can

[2022-07-18 16:16] kanishkan91 commented on #4464
@crvernon Yup. Can do it. Though will start on the 22nd and will take two weeks from then. Is that ok?

[2022-07-18 16:17] crvernon commented on #4406
📣 Rally time!

👋 @nmstreethran - It looks like you are making good progress on your review but I do see a few boxes left unchecked.  Could you update me here to anything that is remaining from your perspective?

👋 @jasondegraw - I see you have gotten started.  Could you update me here to your progress?  Thanks!

Keep up the good work!

[2022-07-18 16:17] crvernon commented on #4464
Sounds great @kanishkan91 !

[2022-07-18 16:18] jinhangjiang commented on #4515
@derNarr Thank you for answering my questions throughout. I really appreciate the details you shared. When I said I thought it was hard to scale up, I was thinking about how to prepare the inputs in something like pandas/spark dataframe as I am more familiar with those frameworks. What you have explained makes sense to me. As you have experimented with 100 million learning events, I would suggest

[2022-07-18 16:18] crvernon commented on #4464
@editorialbot start review

[2022-07-18 16:18] editorialbot opened #4588 "[REVIEW]: floodlight - A high-level, data-driven sports analytics framework"
**Submitting author:** @draabe (<a href="http://orcid.org/0000-0001-7264-4575">Dominik Raabe</a>)
**Repository:** https://github.com/floodlight-sports/floodlight
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.3.3
**Editor:** @crvernon
**Reviewers:** @gagolews, @kanishkan91
**Archive:** 10.5281/zenodo.7017412

## Status

[![status](https://joss.theoj.org/papers/4316da6491

[2022-07-18 16:18] #4464 closed

[2022-07-18 16:21] crvernon commented on #4588
👋 @draabe , @gagolews, and @kanishkan91 This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have

[2022-07-18 16:22] jedbrown commented on #4569
@editorialbot remove @jessepisel as reviewer

[2022-07-18 16:22] crvernon commented on #4588
@editorialbot add @kanishkan91 as reviewer

[2022-07-18 16:23] CFGrote commented on #4461
Confirmed

[2022-07-18 16:26] danielskatz commented on #4461
@xuanxu - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (ma

[2022-07-18 16:49] melissawm commented on #4291
Thank you for your response @nimgould !

About the documentation - yes I see that page does contain all the links, thanks for pointing that out.

I can follow up with reviewers who are not on the spreadsheet - as long as they can follow the review process here on github, that should not be an issue. I will contact them and update the issue with their responses.

[2022-07-18 16:52] melissawm commented on #4502
Hello, @fabian-sp ! We had a [discussion about this in the pre-review](https://github.com/openjournals/joss-reviews/issues/4198#issuecomment-1070335568). @yhtang can you confirm that this is correct? Thank you!

[2022-07-18 17:27] diehlpk commented on #4570
@editorialbot assign @diehlpk as editor

[2022-07-18 17:28] jbytecode commented on #4556
The review threads are always attached to the published papers, so what we discussed here is available for those who are interested in.

We can leave this issue as is, or, of course it can be added as a small note in the paper as well as in the README.md.

[2022-07-18 17:48] robbiemorrison commented on #4472
## Legal context of reviewed software

@euronion asked me to review an issue they raised here: https://github.com/IMMM-SFA/tell/issues/31

And here is my response.  I apologize in advance for the complexities involved.

<br>

The matter concerns a disclaimer provided in addition to a recognized open source license and any adverse interactions that might arise.

The particular issue was recently di

[2022-07-18 18:06] rkurchin commented on #4364
Thanks everyone! Authors, I'll do an editorial pass over the manuscript and send any comments shortly. In the meantime, the next steps for you are:

1. Merge any and all changes from this review into your main branch and **issue a new version tag**. _(If you want to merge in the paper, you may, but it is not required that the actual manuscript live into the repo in perpetuity since JOSS will host

[2022-07-18 18:10] rkurchin commented on #4364
Some very minor editorial comments (this is by far the smallest number of these I've ever had, so 👏 from my editor hat 🎩):
* line 41: when used as a noun, "best practices" doesn't need to be hyphenated
* 49: "full-feature" -> "full-featured"
* 42: "high-level" is a compound adjective and _should_ be hyphenated here
* 66: needs a comma after "integrations"

[2022-07-18 18:26] danielskatz commented on #4526
Thanks @wimvanderbauwhede for being the second reviewer.  We'll now start the review

[2022-07-18 18:27] danielskatz commented on #4526
@editorialbot start review

[2022-07-18 18:27] editorialbot opened #4589 "[REVIEW]: Accelerating Parallel Operation for Compacting Selected Elements on GPUs"
**Submitting author:** @yogi-tud (<a href="http://orcid.org/0000-0001-7898-0502">Johannes Fett</a>)
**Repository:** https://github.com/yogi-tud/space_gpu
**Branch with paper.md** (empty if default branch):
**Version:** 1.0
**Editor:** @danielskatz
**Reviewers:** @robertszafa, @wimvanderbauwhede
**Archive:** 10.5281/zenodo.6884000

## Status

[![status](https://joss.theoj.org/papers/46f248b28d020ee

[2022-07-18 18:27] #4526 closed, assigned to danielskatz, robertszafa

[2022-07-18 18:27] erexer commented on #4432
@kyleniemeyer As Chris said I was out the past couple of weeks but I'll be reviewing w2w this week. Thanks for your patience!

[2022-07-18 19:16] majensen commented on #4542
@editorialbot set me as editor

[2022-07-18 19:17] majensen commented on #4542
@editorialbot assign me as editor

[2022-07-18 19:26] danielskatz commented on #4552
👋 @wimvanderbauwhede - thanks for agreeing to be the second reviewer here.

[2022-07-18 19:26] danielskatz commented on #4552
@editorialbot add @wimvanderbauwhede as reviewer

[2022-07-18 19:27] danielskatz commented on #4552
We'll now start the review

[2022-07-18 19:27] danielskatz commented on #4552
@editorialbot start review

[2022-07-18 19:27] editorialbot opened #4590 "[REVIEW]: MARTINI: The Little Match and Replace Tool for Automatic Code Rewriting"
**Submitting author:** @ajohnson-uoregon (<a href="http://orcid.org/0000-0002-7199-8221">Alister Johnson</a>)
**Repository:** https://github.com/ajohnson-uoregon/clang-rewrite-only/
**Branch with paper.md** (empty if default branch): joss22
**Version:** joss22+europar22
**Editor:** @danielskatz
**Reviewers:** @wimvanderbauwhede, @tokuso2
**Archive:** https://doi.org/10.6084/m9.figshare.20483967.v1

[2022-07-18 19:28] danielskatz commented on #4590
@editorialbot check references

[2022-07-18 19:28] danielskatz commented on #4590
@editorialbot generate pdf

[2022-07-18 19:31] danielskatz commented on #4535
@editorialbot add @massimotorquati as reviewer

[2022-07-18 19:31] danielskatz commented on #4535
@editorialbot start review

We'll now start the review

[2022-07-18 19:31] editorialbot opened #4591 "[REVIEW]: Mallob: Scalable SAT Solving On Demand With Decentralized Job Scheduling"
**Submitting author:** @domschrei (<a href="http://orcid.org/0000-0002-4185-1851">Dominik Schreiber</a>)
**Repository:** https://github.com/domschrei/mallob
**Branch with paper.md** (empty if default branch): joss
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewers:** @ARMartinelli, @massimotorquati
**Archive:** v1.1.0

## Status

[![status](https://joss.theoj.org/papers/700e9010c4080ffe8ae4d

[2022-07-18 19:42] danielskatz commented on #4590
👋 @Tokuso, @wimvanderbauwhede  - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

As you can see above, you each should use the command `@editorialbot generate my checklist` to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

As you go over the submissio

[2022-07-18 19:45] VenkteshV commented on #4515
Greetings. I am working on the same and will complete the first round of reviews by this week.

[2022-07-18 22:53] pibion commented on #3821
@editorialbot generate pdf

[2022-07-18 22:56] pibion commented on #3821
@editorialbot generate pdf

[2022-07-18 23:06] pibion commented on #3821
@fjprichard this version is very clear, thank you!  My only comment is that on line 16 I think that "researchs" should be "research".

Once you've made that change, make a tagged release and archive, and report the version number and archive DOI in this thread.  Then I'll follow the steps at https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance, which end in recom

[2022-07-19 00:16] jasondegraw commented on #4406
@crvernon Hmmm, something is wrong, I had a comment that I was sure I posted here. Maybe I didn't click "Comment" or something? I'll have to reconstitute it from my notes, I guess, because I'm not finding any old browser tabs with unsubmitted comments. Apologies for the delay.

[2022-07-19 00:24] nick-gorman commented on #4460
Hi @kcerva and @crvernon,

I think the only outstanding point is a question I still have on the documentation: https://github.com/Mat-dp/mat-dp-core/issues/23

Regarding example complexity happy to accept it as is, they are definitely sufficient to explain how to use Mat-dp.

However, just as general feedback, I still think it would be really useful to see Mat-dp simulating a system of real world

[2022-07-19 00:45] neel-dey commented on #4434
Hi @faroit, thank you for reaching out and my apologies for the delayed response. Unfortunately, I don't have the capacity to properly review this submission at the moment.

[2022-07-19 01:14] jacksund commented on #4364
@editorialbot generate pdf

[2022-07-19 01:55] jacksund commented on #4364
@rkurchin awesome, thanks for editing the manuscript! 🥳 I've addressed your comments in the newest version.

Also, I'll make a new release + create a DOI on Zennedo once I get the chance.  There was a libwebp release made a few hours ago that prevents any conda-forge updates and causes my CI for MacOS to fail. They already have [an issue](https://github.com/conda-forge/libwebp-feedstock/issues/40)

[2022-07-19 04:04] ajohnson-uoregon commented on #4590
Per the suggestion in the pre-review thread, I updated the bibliography to only have things that are actually cited so editorialbot doesn't go looking for dois.

[2022-07-19 04:44] dsbowen commented on #4492
Thank you! Here is the archive DOI: 10.5281/zenodo.6859614, version number 1.1.0. Here's the [link](https://zenodo.org/record/6859614#.YtY2cLbMKUk).

[2022-07-19 06:38] domschrei commented on #4591
Hi there! :wave: Thank you for reviewing our submission.

Regarding the invalid DOI, this is a figshare reference to our software reproducibility artifact which got us invited to the Euro-Par special issue. The DOI is not active yet, but it should become active together with the Euro-Par '22 proceedings.

[2022-07-19 07:33] Bisaloo commented on #4491
Hi @alexskeels :wave:, do you expect to be able to complete your first round of review soon? It's okay if you need more time but having a tentative timeline would be helpful :relaxed:

[2022-07-19 07:43] fjprichard commented on #3821
Release TAG: v0.1.5
DOI: 10.5281/zenodo.6860333

[2022-07-19 07:53] vissarion commented on #4492
@editorialbot set  10.5281/zenodo.6859614 as archive

[2022-07-19 07:53] vissarion commented on #4492
@editorialbot set 1.1.0 as version

[2022-07-19 07:57] wouterpeere commented on #4406
@editorialbot generate pdf

[2022-07-19 08:00] vissarion commented on #4492
@editorialbot recommend-accept

[2022-07-19 08:08] luyuhao0326 commented on #4573
suggested reviewer (from the bottom of the given list): zfergus, jhwohlgemuth, and
MOHSEN.MOJRI@GMAIL.COM (no username was found in the sheet).

[2022-07-19 08:19] gdmiron commented on #4547
@paleolimbot, glad to hear about your interest in the work, is there something similar to pybind11 available for making R bindings?

[2022-07-19 08:23] robertszafa commented on #4589
@editorialbot generate my checklist

[2022-07-19 09:02] robertszafa commented on #4589
Hi @yogi-tud, I've added a few issues related to documentation. The rest looks good to me.

[2022-07-19 09:31] jonathanHuwP commented on #4333
@CFGrote @KedoKudo @lucydot @JoannaLeng

Hello,

Just to let you know, I posted on issue #22 last night.

Also I will be on leave from Thursday 21 July to Friday 5 August inclusive. I'll be abel to restart work on Monday 8 August.

Regards
   Jonathan

[2022-07-19 09:35] csadorf commented on #4480
I think it is sufficient now.

Unfortunately the instructions remain ambiguous. I have provided a detailed explanation in [this issue](https://github.com/palaimon/ipyannotator/issues/33).

[2022-07-19 10:46] paulrougieux commented on #4567
@editorialbot generate my checklist

[2022-07-19 10:47] danielskatz commented on #4590
@editorialbot check references

[2022-07-19 10:51] paulrougieux commented on #4567
@jbytecode @bluefoxr ([William Becker](http://orcid.org/0000-0002-6467-4472)) is a former colleague from the Joint Research Centre, a large research organisation, but we were working in different research groups.

[2022-07-19 10:54] danielskatz commented on #4590
Thanks @ajohnson-uoregon.

[2022-07-19 10:55] tpoisot commented on #3565
@arfon - just a bump, would appreciate a response on this to decide whether to resubmit at JOSS or somewhere else

[2022-07-19 11:02] paulrougieux commented on #4567
From a couple of years ago.

[2022-07-19 11:07] danielskatz commented on #4567
Can you define a couple?

[2022-07-19 11:08] danielskatz commented on #4492
no, it's directed to the JOSS associate-editor-in-chief on duty (@openjournals/joss-eics)

[2022-07-19 11:12] AWehrhahn commented on #4462
Ok, where do I submit the review?

[2022-07-19 11:15] lpantano commented on #4236
@sdhutchins, do you think you could finish the review in the next two weeks? Thanks!

[2022-07-19 11:15] bluefoxr commented on #4567
Hi @danielskatz I invited @paulrougieux  since we were short on reviewers. I worked in the European Commission's Joint Research Centre up until March 2020. Paul worked there as well, and still works there. He has a lot of experience in R and has actually used the COINr package (the subject of this paper). I am sure Paul would give an objective review, but if this is too much of a conflict of inter

[2022-07-19 12:03] danielskatz commented on #4567
Our COI rules use 4 years as the conflict in this type of situation, so the editor (@jbytecode) now need to decide whether this COI that we've found should be waived.

[2022-07-19 12:17] danielskatz commented on #4567
@bluefoxr - You are correct.  I was misremembering the [JOSS guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy), which say that the organizational conflict period is one year, while the collaboration conflict period is four years.  So there is no conflict here, and the review can proceed without concern.

[2022-07-19 12:42] bluefoxr commented on #4567
@danielskatz fantastic, thanks

[2022-07-19 13:20] nhejazi commented on #4522
Thanks very much for agreeing to review this submission, @adibender and @turgeonmaxime. No rush at all, but don’t hesitate to let me know if I can clarify anything about the package or paper

[2022-07-19 13:25] pibion commented on #3821
@editorialbot generate pdf

[2022-07-19 13:48] pibion commented on #3821
@editorialbot set 10.5281/zenodo.6860333 as archive

[2022-07-19 13:49] pibion commented on #3821
@editorialbot set v0.1.5 as version

[2022-07-19 13:49] pibion commented on #3821
@editorialbot recommend-accept

[2022-07-19 14:01] xuanxu commented on #4461
Updated!

This is literally the amount of an element that is converted by nucleosynthesis into another element, so the data in the matrix is (for instance) the mass that initially is present in the star as Hydrogen but it is ejected as Oxygen.

Changed!

[2022-07-19 14:01] xuanxu commented on #4461
@editorialbot generate pdf

[2022-07-19 14:03] diehlpk commented on #4466
Hi @mlxd or @abuccts or @nnadeau would you have time to review this paper?

[2022-07-19 14:06] diehlpk commented on #4512
Hi @ctdegroot or @mikaem or @chennachaos would you have time to review this paper?

[2022-07-19 14:12] danielskatz commented on #4461
Then maybe "masses of elements j converted to element in and ejected to the galactic medium"?

[2022-07-19 14:14] danielskatz commented on #4461
Also, see https://github.com/xuanxu/starmatrix/pull/66 related to the first suggestion

[2022-07-19 14:17] xuanxu commented on #4461
@editorialbot generate pdf
Paper updated!

[2022-07-19 14:21] danielskatz commented on #4461
@editorialbot set v1.7.2 as version

[2022-07-19 14:21] danielskatz commented on #4461
@editorialbot set 10.5281/zenodo.6861996 as archive

[2022-07-19 14:21] danielskatz commented on #4461
@editorialbot recommend-accept

[2022-07-19 14:24] danielskatz commented on #4461
@editorialbot accept

[2022-07-19 14:28] martinfleis commented on #4436
Hey @Jo-Schie, @fguilhaumon, @DrMattG, would you be willing to review the `wdpar` package and accompanying software paper for the JOSS? You can see the details on the submission above.

If you are not aware of JOSS 👉 JOSS is a free, open-source, community driven and developer-friendly online journal (no publisher is seeking to raise revenue from the volunteer labor of researchers!).

The review pr

[2022-07-19 14:33] danielskatz commented on #4461
Congratulations to @xuanxu (Juanjo Bazán) and co-author!!

And thanks to @CFGrote and @ygrange for reviewing - the review was very smooth, and we couldn't do this without you!

(Note that for me, the DOI is not resolving yet, so I'll keep this open until it does)

[2022-07-19 14:36] kcerva commented on #4460
Thanks @nick-gorman! Just answered the other question.

Also, I think we should stress that this isn't just another energy systems model, it is tailored towards identifying the materials needed for building systems. Therefore, the variability that you mention associated to intermittency of renewables is not an issue, since power plants are designed for a given capacity or power demand (usually tak

[2022-07-19 14:37] fjprichard commented on #3821
@editorialbot accept

[2022-07-19 15:11] nnadeau commented on #4466
unfortunately i'm not available at the moment

[2022-07-19 15:48] flyaflya commented on #4415
Hi all - just wanted to gently check on the progress of this review.   @ChristopherLucas does https://github.com/openjournals/joss-reviews/issues/4415#issuecomment-1147543764 help ease your concerns about the presented model in the paper?  @terrytangyuan is there any additional outstanding comments/issues that I can help address?

Thanks to all for the help!

[2022-07-19 15:55] christinahedges commented on #4503
@editorialbot generate pdf

[2022-07-19 16:20] davidanthoff commented on #4556
I just submitted the package to the General Julia registry, see https://github.com/JuliaRegistries/General/pull/64547. It should get merged in about three days, which is currently the wait time for new package registrations.

[2022-07-19 16:21] VChristiaens commented on #4456
Hi @QuentChangeat, thank you for your feedback!
1. I have now updated the home page of the documentation as suggested;
2. I have now made the reference to the paper in which the data are published clearer, including a hyperlink, at the location where the data are loaded (it was further down in the tutorial) - FITS files are standard format for both reduced images and measured spectra in the direct

[2022-07-19 16:33] pdebuyl commented on #4205
Yes, it is all good, thank you :-)

[2022-07-19 16:53] danielskatz commented on #4529
👋 thanks @hwloidl for agreeing to be the second reviewer - I'll add you, and then we'll start the review

[2022-07-19 16:53] danielskatz commented on #4529
@editorialbot add @hwloidl as reviewer

[2022-07-19 16:54] danielskatz commented on #4529
@editorialbot start review

[2022-07-19 16:54] editorialbot opened #4592 "[REVIEW]: SimSGamE : Scheduling simulator for modern game engines"
**Submitting author:** @baptisteCoye (<a href="http://orcid.org/0000-0002-7619-4492">Baptiste Coye</a>)
**Repository:** https://github.com/baptisteCoye/SimSGame
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.0
**Editor:** @danielskatz
**Reviewers:** @azoitl, @hwloidl
**Archive:** 10.5281/zenodo.6984771

## Status

[![status](https://joss.theoj.org/papers/4a548f7836a51a43f65a8

[2022-07-19 16:54] #4529 closed, assigned to danielskatz

[2022-07-19 16:55] danielskatz commented on #4592
👋 @azoitl, @hwloidl - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

As you can see above, you each should use the command `@editorialbot generate my checklist` to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

As you go over the submission, please c

[2022-07-19 16:57] danielskatz commented on #4592
👋 @bcoye - In your paper.md file, you have an endash rather then a hyphen in the ORCID for Raymond Namyst.  Please change this, then use the command `@editorialbot generate pdf` to make a new PDF. editorialbot commands need to be the first entry in a new comment.

[2022-07-19 17:01] tonyewong commented on #4556
@Zitzeronion @jbytecode I went ahead and added a brief Author Contributions section to the top-level README.md.

https://github.com/raddleverse/MimiBRICK.jl/pull/54#issue-1309801567

[2022-07-19 17:02] hugoledoux commented on #4474
@editorial start review

[2022-07-19 17:03] hugoledoux commented on #4474
@editorialbot commands

[2022-07-19 17:04] hugoledoux commented on #4474
@editorialbot start review

[2022-07-19 17:04] editorialbot opened #4593 "[REVIEW]: dyntapy: dynamic and static traffic assignment in python"
**Submitting author:** @p-ortmann (<a href="http://orcid.org/0000-0002-1451-3662">Paul Ortmann</a>)
**Repository:** https://gitlab.kuleuven.be/ITSCreaLab/public-toolboxes/dyntapy
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.2.1
**Editor:** @hugoledoux
**Reviewers:** @liberostelios, @EricaEgg
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/e35f5

[2022-07-19 17:04] #4474 closed

[2022-07-19 17:05] thodson-usgs commented on #4562
Technically a real-world example is not required in our reviewer checklist:
"Example usage: Do the authors include examples of how to use the software (*ideally* to solve real-world analysis problems)."
I think the authors have minimally satisfied that requirement, but @chrisaberson is right.

[2022-07-19 17:22] jmschrei commented on #4524
@spinicist or @peerherholz, would either of you be available to review this submission?

[2022-07-19 17:34] mlxd commented on #4466
Apologies, but I am also unavailable for review right now.

[2022-07-19 18:18] Jo-Schie commented on #4436
Sure. I'd used and I am still using this software. It's a great package and I'd be happy to contribute in form of a review.

Just to repeat what is expected for me: basically downloading, installing, testing and cross-checking with the criteria mentioned [here](JOSS reviews involve downloading and installing the software, and inspecting the repository and submitted paper for key elements. See http

[2022-07-19 18:38] martinfleis commented on #4436
Thanks @Jo-Schie! I will formally start the review once I get a second reviewer and then the review issue contains all the information again but the review criteria cover most of it. We ask reviewers to follow [this checklist](https://joss.readthedocs.io/en/latest/review_checklist.html) which will be generated for you by our bot in the review issue later.

[2022-07-19 18:44] jacksund commented on #4364
@rkurchin I just made the Zenodo upload [here](https://zenodo.org/record/6863068#.Ytb6pNLMJkg)

v0.7.1 --> DOI: 10.5281/zenodo.6863068
all versions --> DOI: 10.5281/zenodo.6863067

[2022-07-19 19:11] spinicist commented on #4524
Sorry, but no. This is a bit outside my area of expertise and I have a lot on at the moment. I wish you luck finding another reviewer.

[2022-07-19 19:11] DrMattG commented on #4436
I would also be happy to review this.

Cheers
Matt

[2022-07-19 19:21] bauer-alex commented on #4567
@bluefoxr Seems like a very interesting paper! I especially appreciate the high effort you put into documenting all functionalities appropriately. I opened some technical and documentation issues in the [COINr repository](https://github.com/bluefoxr/COINr/issues). Once these are dealt with I will take a deeper look over the paper itself.

One additional question: In the GitHub repository you are t

[2022-07-19 19:44] arfon commented on #4415
@editorialbot assign @arfon as editor

:wave: folks. As @terrytangyuan is stepping down from the JOSS editorial team (thanks for all of your help over the years Yuan!) I'm going to be taking over this review.

Based on my reading of the review thread thus far, it looks like there has been some feedback from @flyaflya in response to @ChristopherLucas' feedback. @ChristopherLucas – could you take an

[2022-07-19 19:48] arfon commented on #4151
@editorialbot assign @arfon as editor

:wave: folks, as @terrytangyuan is stepping down from the JOSS editorial team (thanks for all of your efforts over the years Yuan!), I will be taking over this submission.

@njuaplusplus, @Kraks, @bzz – it looks like the authors have made a number of changes to the software and paper. Could I ask you to revisit this review and see if you're able to sign off o

[2022-07-19 19:57] jmschrei commented on #4524
No problem, thanks for responding.

[2022-07-19 20:01] mbarzegary commented on #4531
Hi @kyleniemeyer and @psanan,

I guess generally it's better to open an issue on the software repo for review comments, but since the submission is part of PETSc, I put the comments here instead of opening an issue on the PETSc repo in GitLab.

The software build and testing processes are straightforward as expected (I say “as expected” because it's part of PETSc), and the test cases and tutorials

[2022-07-19 20:01] rkurchin commented on #4364
@editorialbot set 0.7.1 as version

[2022-07-19 20:02] rkurchin commented on #4364
@editorialbot set 10.5281/zenodo.6863068 as DOI

[2022-07-19 20:03] rkurchin commented on #4364
@editorialbot set 10.5281/zenodo.6863068 as archive

[2022-07-19 20:04] rkurchin commented on #4364
@editorialbot recommend-accept

[2022-07-19 20:25] martinfleis commented on #4436
@editorialbot add @Jo-Schie as reviewer

[2022-07-19 20:26] martinfleis commented on #4436
@editorialbot add @DrMattG as reviewer

@DrMattG Thank you!

[2022-07-19 20:26] martinfleis commented on #4436
@editorialbot start review

[2022-07-19 20:26] editorialbot opened #4594 "[REVIEW]: wdpar: Interface to the World Database on Protected Areas"
**Submitting author:** @jeffreyhanson (<a href="http://orcid.org/0000-0002-4716-6134">Jeffrey Hanson</a>)
**Repository:** https://github.com/prioritizr/wdpar
**Branch with paper.md** (empty if default branch):
**Version:** v1.3.3.2
**Editor:** @martinfleis
**Reviewers:** @Jo-Schie, @DrMattG
**Archive:** 10.5281/zenodo.7195676

## Status

[![status](https://joss.theoj.org/papers/2ce897960e750fee08a

[2022-07-19 20:26] #4436 closed

[2022-07-19 20:42] arfon commented on #4581
@beanumber – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2022-07-19 20:42] arfon commented on #4581
@editorialbot reject

[2022-07-19 20:42] #4581 closed

[2022-07-19 20:43] editorialbot opened #4595 "[PRE REVIEW]: MNELAB: a graphical user interface for MNE-Python"
**Submitting author:** @cbrnr (<a href="http://orcid.org/0000-0002-6030-2233">Clemens Brunner</a>)
**Repository:** https://github.com/cbrnr/mnelab
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.8.4
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @sappelhoff, @vahid-sb, @tuliofalmeida
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/885

[2022-07-19 20:43] martinfleis commented on #4594
👋🏼 @jeffreyhanson, @Jo-Schie & @DrMattG this is the review thread for the paper. All of our communications will happen here from now on.

All reviewers should create checklists with the JOSS requirements using the command `@editorialbot generate my checklist`. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelin

[2022-07-19 20:48] arfon commented on #3821
@editorialbot accept

[2022-07-19 20:49] yogi-tud commented on #4589
Hi @robertszafa
Thanks for the input. I have added the documentation and a readme file providing an example.
Also some information about contributing in a file called CONTRIBUTE.

[2022-07-19 20:56] arfon commented on #3821
@vitorsr, @janmandel – many thanks for your reviews here and to @pibion for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@fjprichard – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-07-19 20:56] #3821 closed

[2022-07-19 20:59] arfon commented on #4364
@editorialbot accept

[2022-07-19 21:00] arfon commented on #4205
@mattpitkin, @olgadoronina – many thanks for your reviews here and to @pdebuyl for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@bkmi – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-07-19 21:00] #4205 closed

[2022-07-19 21:02] arfon commented on #4511
@editorialbot invite @rkurchin as editor

:wave: @rkurchin – I realize you've just wrapped up another submission, but would you be willing to take this one on next for us?

[2022-07-19 21:04] arfon commented on #4364
@bocklund, @utf – many thanks for your reviews here and to @rkurchin for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@jacksund – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-07-19 21:04] #4364 closed

[2022-07-19 21:10] arfon commented on #4492
@editorialbot accept

[2022-07-19 21:11] arfon commented on #4571
@alramirezca - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code

[2022-07-19 21:11] arfon commented on #4571
@editorialbot reject

[2022-07-19 21:11] #4571 closed

[2022-07-19 21:14] arfon commented on #4573
@editorialbot invite @pdebuyl as editor

:wave: @pdebuyl – I realize this submission is a little distant from 'remote sensing' but I wondered if you'd be willing to take it on for us?

[2022-07-19 21:14] fboehm commented on #4530
@btmonier - Thanks for your question. It's fine to add the changes to your master branch; you don't need to make a new branch. Also, adding the changes to the master branch will make it easier for the second reviewer to find them.

[2022-07-19 21:14] arfon commented on #4492
@blakeaw, @mattpitkin, @nhejazi – many thanks for your reviews here and to @vissarion for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@dsbowen – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-07-19 21:14] #4492 closed

[2022-07-19 21:16] turgeonmaxime commented on #4522
@editorialbot commands

[2022-07-19 21:17] arfon commented on #4576
@editorialbot invite @pibion as editor

:wave: @pibion – would you be willing to edit this submission for JOSS? Please note that this is a resubmission of https://github.com/openjournals/joss-reviews/issues/3116 so the first task would likely be to assess whether this submission is ready to head out for review.

[2022-07-19 21:18] turgeonmaxime commented on #4522
@majensen I finished reviewing this submission, I was just wondering if there's anything else I need to do (I don't see any command that says "completed review" or something of the sort).

[2022-07-19 21:19] arfon commented on #4582
@editorialbot invite @vissarion as editor

:wave: @vissarion - would you be willing to edit this submission for JOSS?

[2022-07-20 06:38] editorialbot opened #4596 "[PRE REVIEW]: tsp ("Teaspoon"): A library for ground temperature data"
**Submitting author:** @nicholas512 (<a href="http://orcid.org/0000-0002-2719-0671">Nick Brown</a>)
**Repository:** https://gitlab.com/permafrostnet/teaspoon
**Branch with paper.md** (empty if default branch): joss
**Version:** v1.0.1
**Editor:** @kbarnhart
**Reviewers:** @Elchin, @mdpiper
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/4c4a5818941114c38148106340

[2022-07-20 06:38] editorialbot opened #4597 "[PRE REVIEW]: Lazy matrix evaluation in R"
**Submitting author:** @ekernf01 (<a href="http://orcid.org/0000-0002-2310-8191">Eric Kernfeld</a>)
**Repository:** https://github.com/ekernf01/MatrixLazyEval
**Branch with paper.md** (empty if default branch): paper
**Version:** 0.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/4d6be24a5ad96d40fc7d275b8852605a/statu

[2022-07-20 06:45] ccamara commented on #4546
Sorry for not having seen it until now, but thanks for counting on me. Hope to be faster next time ;)

[2022-07-20 07:16] vissarion commented on #4582
@editorialbot assign @vissarion  as editor

[2022-07-20 07:16] vissarion commented on #4582
@editorialbot assign @vissarion as editor

[2022-07-20 07:25] raybecker commented on #4114
Hi. I'm working on it this afternoon. I will update you by tomorrow evening and hopefully be finished.

[2022-07-20 07:39] editorialbot opened #4598 "[PRE REVIEW]: RTMsim - A Julia module for filling simulations in Resin Transfer Moulding with the Finite Area Method"
**Submitting author:** @obertscheiderfhwn (<a href="http://orcid.org/0000-0002-0023-497X">Christof Obertscheider</a>)
**Repository:** https://github.com/obertscheiderfhwn/RTMsim
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** @Fei-Tao
**Reviewers:** @duhd1993, @bbrelje
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/ac97b5f0bc8

[2022-07-20 07:55] nimgould commented on #4291
Many thanks @melissawm

[2022-07-20 08:27] VChristiaens commented on #4394
Hi @christinahedges, any luck in finding reviewers? Thanks in advance!

[2022-07-20 08:38] bkmi commented on #4205
Thank you all very much, especially for patience and expertise!

[2022-07-20 08:43] arfon commented on #3821
@editorialbot re-accept

[2022-07-20 08:44] arfon commented on #3821
@editorialbot reaccept

[2022-07-20 09:38] pdebuyl commented on #4573
Hi @arfon . I could, but not before mid-august. Seems a bit more GIS than what I do though.

[2022-07-20 09:44] bluefoxr commented on #4567
@bauer-alex Thanks very much for taking the time to look over the package. I will deal with all the issues you raised although as mentioned expanding the unit testing coverage will take a little while as this is quite a big task.

As regards the co-authors they are included due to a lot of helpful input in conceptualising the package, testing features and providing feedback.

[2022-07-20 09:46] PeerHerholz commented on #4524
Ahoi hoi folks.

thx for the invite. I had a quick look at the project but also have to say that this is outside my area of expertise.
I'm very sorry! I hope you find reviewers soon!

Cheers, Peer

[2022-07-20 09:49] tkchafin commented on #4530
@editorialbot generate my checklist

[2022-07-20 09:58] arfon commented on #4597
@editorialbot query scope

@ekernf01 – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-07-20 10:02] editorialbot opened #4599 "[PRE REVIEW]: binary_c-python: A python-based stellar population synthesis tool and interface to binary_c"
**Submitting author:** @ddhendriks (<a href="http://orcid.org/0000-0002-8717-6046">David Douwe Hendriks</a>)
**Repository:** https://gitlab.surrey.ac.uk/ri0005/binary_c-python
**Branch with paper.md** (empty if default branch): master
**Version:** v0.9.4
**Editor:** @eloisabentivegna
**Reviewers:** @trappitsch, @schristophe
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.or

[2022-07-20 10:05] liberostelios commented on #4593
@editorialbot generate my checklist

[2022-07-20 10:07] Onoddil commented on #4508
@editorialbot generate my checklist

[2022-07-20 10:14] d-eggert commented on #4052
Thanks for the update. I will be patient.

[2022-07-20 11:32] wimvanderbauwhede commented on #4590
@danielskatz Can you please change @Tokuso  to @tokuso2, he got locked out because he can't do the 2FA as he's travelling.

[2022-07-20 11:45] glemaitre commented on #4524
The same for me. I have never done `java` coding and the application side is unknown to me.

[2022-07-20 12:02] wimvanderbauwhede commented on #4589
@editorialbot generate my checklist

[2022-07-20 12:11] Mirmix commented on #4521
Thanks for the updates and for addressing some of my aforementioned issues. Although there are still a few unaddressed issues are still there, to not repeat myself here (and since the main updates are in installation) I will be mainly focused on Docker-based installation issues that are still there.

I tried to install the repo using docker. As I mentioned before some packages were forgotten (*zip

[2022-07-20 12:16] danielskatz commented on #4590
@editorialbot remove @tokuso as reviewer

[2022-07-20 12:16] danielskatz commented on #4590
@editorialbot add @tokuso2 as reviewer

[2022-07-20 12:17] danielskatz commented on #4590
@editorialbot remove @Tokuso as reviewer

[2022-07-20 12:24] tokuso2 commented on #4590
@editorialbot generate my checklist

[2022-07-20 12:31] danielskatz commented on #4537
Yes, that's what I was thinking.  @ergus, if you agree, we ideally want the JOSS paper in the same repo as the software (thought it can be in a branch). My suggestion would be that you then make a new submission, mentioning both EuroPar and this issue when you do so, and making it clear what the reusable software is (and which specific code/release should be reviewed), then I would mark this submi

[2022-07-20 13:07] beanumber commented on #4581
OK, thank you.

[2022-07-20 13:51] jbytecode commented on #4556
@editorialbot generate pdf

@Zitzeronion fyi

[2022-07-20 14:02] Onoddil commented on #4508
Hi @temuller, @arfon,

I've just submitted my review issue over at https://github.com/temuller/hostphot/issues/4. It should hopefully be mostly relatively minor suggestions and some clarifications on my end, but let me know if there are any issues with the review.

[2022-07-20 14:03] Onoddil commented on #4508
One issue I did have was that the paper seems to be out of sync with the markdown. The markdown preview on github is quite good so I believe my review to be unaffected by this, but just in case I'll re-review the paper if I can get the PDF version to update...

@editorialbot generate pdf

[2022-07-20 14:09] wimvanderbauwhede commented on #4590
@danielskatz @ajohnson-uoregon If I read it correctly, according to [https://llvm.org/docs/DeveloperPolicy.html#id34](https://llvm.org/docs/DeveloperPolicy.html#id34), developers can still choose the [OSI approved "The University of Illinois/NCSA Open Source License (NCSA)"](https://opensource.org/licenses/UoI-NCSA.php). If that is acceptable, I'd propose to add this license to the sources in `cla

[2022-07-20 14:27] thomaspinder commented on #4455
From the checklists, it looks like all of the reviewers' issues have been resolved. Is there anything else required @dfm?

[2022-07-20 14:33] dfm commented on #4455
@thomaspinder — Great! I'll do a last pass through the manuscript then have a few processing steps for you before publication.

@gpleiss, @theorashid — Thanks both for your constructive and thorough reviews! I really appreciate you volunteering your time and we definitely couldn't do this without you!!

[2022-07-20 14:45] oliviaguest commented on #4538
@editorialbot add @htwangtw as reviewer

[2022-07-20 14:45] oliviaguest commented on #4538
@editorialbot start review

[2022-07-20 14:46] editorialbot opened #4600 "[REVIEW]: Castellum: A participant management tool for scientific studies"
**Submitting author:** @jagnobli (<a href="http://orcid.org/0000-0003-0218-6358">Timo Göttel</a>)
**Repository:** https://git.mpib-berlin.mpg.de/castellum/castellum
**Branch with paper.md** (empty if default branch): joss-submission
**Version:** v0.82.0
**Editor:** @oliviaguest
**Reviewers:** @samhforbes, @htwangtw
**Archive:** 10.5281/zenodo.7177876

## Status

[![status](https://joss.theoj.org/p

[2022-07-20 14:46] #4538 closed

[2022-07-20 15:26] samhforbes commented on #4600
@editorialbot generate my checklist

[2022-07-20 15:31] htwangtw commented on #4600
@editorialbot generate my checklist

[2022-07-20 16:07] tkchafin commented on #4530
@fboehm : I've completed my review. The submitted R package and accompanying manuscript are valuable contributions to the field, and adds considerable value (e.g., through integrated plotting and interaction with other R packages) beyond simply wrapping the TASSEL toolkit.

In addition to the issues pointed out by @tomsing1 (i.e., installation and contributing docs), I would suggest that the autho

[2022-07-20 16:34] yhtang commented on #4502
Correct. Our LBNL variant of the BSD license is an [OSI-approved open-source license](https://opensource.org/licenses/alphabetical). We had a minor format issue during the pre-review, and that was already fixed.

[2022-07-20 16:38] editorialbot opened #4601 "[PRE REVIEW]: POSSA: Power simulation for sequential analyses and multiple hypotheses"
**Submitting author:** @gasparl (<a href="http://orcid.org/0000-0001-9401-4830">Gáspár Lukács</a>)
**Repository:** https://github.com/gasparl/possa/
**Branch with paper.md** (empty if default branch):
**Version:** v0.5.5
**Editor:** @fboehm
**Reviewers:** @mingzehuang, @mmrabe
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/3018b5213b07c69049bec226949b29f7/status

[2022-07-20 17:16] yhtang commented on #4532
I am a bit concerned regarding whether this submission meets the **Substantial scholarly effort** criterion. My concerns are based on the following facts:

1. Lines of code. The main package folder `FastGeodis` contains 1090 lines of CUDA C++/Python code as of today, which seems to be just above the 1000 LOC rule-of-thumb in the review guideline. There are 307 and 490 additional lines of Pythons c

[2022-07-20 17:22] blthayer commented on #4516
@editorialbot generate my checklist

[2022-07-20 17:26] danielskatz commented on #4591
ok, thanks - let's leave it as is then

[2022-07-20 17:31] danielskatz commented on #4585
👋 @gattia - You could fix the invalid DOI that editorialbot found. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be the first entry in a new comment.

[2022-07-20 17:36] majensen commented on #4522
@adibender how is your review coming along?

[2022-07-20 17:58] Ergus commented on #4537
Hi:
Sorry but these days we are really very very busy until October and we don't have much time to handle this now. If it is possible we will try to do what you suggest then. Thanks for your help.
Ergus

[2022-07-20 17:59] gbaltz commented on #4555
Hi,
Looks like several of the links in the documentation section of the readme are broken, namely: "getting started", "library users guide", "CLI users guide", and "General".

Additionally I think the README file is missing a couple of the required sections as part of my Documentation review checklist. Currently missing sections are "Statement of Need" and "Automated Tests". I also think an "Examp

[2022-07-20 18:09] Zitzeronion commented on #4556
I've been active in the repo.
There is just one thing left from the checkbox for the paper, which is **State of the field**.

The paper is well written, but I've hoped to see at least one comparison with another OSS package.

[2022-07-20 18:50] gattia commented on #4585
@editorialbot check references

[2022-07-20 18:50] gattia commented on #4585
@editorialbot generate pdf

[2022-07-20 19:18] thomaspinder commented on #4455
I would also like to thank the reviews provided by @theorashid and @gpleiss - your comments have undoubtedly improved the package and have been nothing but constructive.

[2022-07-20 19:20] masadcv commented on #4532
Hi @yhtang ,
Yes of course.
The script used for getting these figures is here: [samples/test_speed_benchmark.py](https://github.com/masadcv/FastGeodis/blob/master/samples/test_speed_benchmark.py). When you run it, it will output two figures found here: [figures/experiment_2d.png](https://github.com/masadcv/FastGeodis/blob/master/figures/experiment_2d.png) and here [figures/experiment_3d.png](https

[2022-07-20 19:23] masadcv commented on #4532
Many thanks for pointing this out. The main equation is found here: https://github.com/masadcv/FastGeodis/pull/2#issue-962801700
We will add this and layman description of distance transforms (including geodesic and euclidean distance transforms) to documentation and to the paper as well.

[2022-07-20 19:30] danielskatz commented on #4537
@ergus - An alternative is simply to withdraw this submission.  JOSS does expect authors to be reasonably responsive regarding their submissions.

[2022-07-20 22:21] ekernf01 commented on #4597
Thanks for considering. I don't have specific reviewers in mind, but starting from the bottom of your list, gtonkinhill, vinisalazar, mouneem, stevokeyo, or DanielRivasMD might be a good fit.

[2022-07-20 22:34] SimonBiggs commented on #4555
Hi @Matthew-Jennings, would you be able to take this one?

[2022-07-20 22:36] SimonBiggs commented on #4555
@nlambriICH might you be able to take this one?

[2022-07-20 22:59] slayoo commented on #4412
@dhhagan, let me then suggest some more names: zzheng93, mdpetters, maul1609, smturbev, emmasimp

[2022-07-20 23:30] Ergus commented on #4537
Ok, do it please.

[2022-07-20 23:37] danielskatz commented on #4537
@editorialbot withdraw

[2022-07-20 23:37] #4537 closed

[2022-07-21 02:13] guanfada commented on #4555
@SimonBiggs I have a co-authored paper accepted by PMB today, so I guess tomorrow or later I can get the DOI of this accepted paper. Then we can put it into our JOSS paper as a reference. What do you think?

[2022-07-21 02:31] Matthew-Jennings commented on #4555
@SimonBiggs: Yep, will try to tonight.

[2022-07-21 05:14] jacobmerson commented on #4532
I think this library may be on the edge in terms of "scholarly effort" w.r.t. the code. In general writing performant cuda kernels can be quite time consuming. I looked through the commit history and it looks like most of the development was done in a few short bursts a few days at a time. Now, this can be misleading because often work gets done that sits around and doesn't get committed back unti

[2022-07-21 06:18] jacobmerson commented on #4532
Paper comments: @masadcv

Summary:
You mention that Geodesic distance transforms are important for image segmentation. If this is for a non-expert audience you should mention what is segmentation and why it is important.

You need to specify what is a Geodesic distance transform and how it differs from the Euclidean distance transform.

I am in agreement with @yhtang if you want to make the speedu

[2022-07-21 06:21] gasparl commented on #4601
Here are some potentially fitting reviewers I found on the [joss_reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) list, in no particular order (actually the reverse order of occurrance on the joss_reviewers list, as suggested above): **chrisaberson, sestelo, mingzehuang, sdparsons, mmrabe, mcavs, craddm, cimentadaj**

[2022-07-21 06:26] arfon commented on #3119
And update for this thread, I've heard over email from @Midnighter that they plan to compete their review in the next week.

[2022-07-21 06:44] ronshnapp commented on #4398
Hi @jgostick , Is this all the information that was needed? Thank you!

[2022-07-21 07:18] nlambriICH commented on #4555
@SimonBiggs Sure, I can take it.

[2022-07-21 08:07] SimonBiggs commented on #4555
@guanfada would you be interested in giving @nlambriICH a hand? Potentially @nlambriICH you might be able to delegate some to @guanfada?

[2022-07-21 08:26] oliviaguest commented on #4538
@htwangtw @samhforbes please go to #4600 to continue this process. 😊

[2022-07-21 08:27] oliviaguest commented on #4600
@jagnobli can you check out [that missing DOI](https://github.com/openjournals/joss-reviews/issues/4600#issuecomment-1190380132) when you get a sec — no big rush?

[2022-07-21 08:28] oliviaguest commented on #4600
@editorialbot generate pdf

[2022-07-21 08:32] oliviaguest commented on #4600
👋  @samhforbes, @htwangtw: thank you both so much for agreeing to review this! ☺️

Any code-related questions, feel free to open [issues on the package's repo itself](https://git.mpib-berlin.mpg.de/castellum/castellum/-/issues) and then link to whatever issue you open from here. This means we can all keep track of what is being asked of the authors from this thread. Everything important about the

[2022-07-21 08:59] lwang-astro commented on #4483
@webbjj
Thank for the update. The new pip version have included the rcore function. But I notice two new issues.

1. The value return from `rcore` is different from the definition used in NBODY6 and PeTar codes.

I used mcluster code (https://github.com/lwang-astro/mcluster) to generate a Plummer model with
rvir = 1.20395   rh = 1.00000    rplummer = 0.76628.
The corresponding commander: `mcluster

[2022-07-21 09:20] liberostelios commented on #4593
The paper is very clear and concise and I found it easy to follow. I can see the purpose of the software and, having some basic experience with road networks myself, I think this can be very useful for the use cases presented (speeding up experimentation with data and teaching).

However, I have some considerations regarding some aspects of the software:

#### **Functionality**

Using the provided

[2022-07-21 09:28] zoometh commented on #4335
Well done @sebastien-plutniak

[2022-07-21 09:33] nmstreethran commented on #4406
@crvernon Sorry for the delay. I need to finish going through the paper and some of the examples. I'll complete my review by the end of the week. Thanks!

[2022-07-21 10:33] dunnkers commented on #4570
Hi @diehlpk. Great that you accepted to be the editor for our submission. We suggest the following reviewers:

- Talavera Martinez, Estefania <e.talaveramartinez@utwente.nl>
- Michael Biehl <m.biehl@rug.nl>
- Antonio GRECO <agreco@unisa.it>
- Manuel Castejon Limas <manuel.castejon@unileon.es>
- leotrs <leo@leotrs.com> (From JOSS reviewers list. Python proficiency and dimensionality reduction among

[2022-07-21 12:59] Cadaei-Yuvxvs commented on #4368
@editorialbot generate pdf

[2022-07-21 13:13] Cadaei-Yuvxvs commented on #4368
Thanks very much @emdupre! I have made the edits requested.

In regards to the acquisition parameters - I have updated the reference to our atlas repository instead, which now has the parameters in its wiki. Our unpublished work is currently undergoing revisions with the European Journal of Neurology.

Let me know if there's anything else that needs editing 😊

I have made a tagged release: OSHy-X

[2022-07-21 13:38] tonyewong commented on #4556
To keep @jbytecode updated - The comparison was added to the paper, and @Zitzeronion has closed the issue (https://github.com/raddleverse/MimiBRICK.jl/issues/52). Thanks for the useful feedback @Zitzeronion !

[2022-07-21 13:45] jbytecode commented on #4556
@editorialbot generate pdf

[2022-07-21 13:46] #4221 closed

[2022-07-21 13:47] masadcv commented on #4532
Many thanks @jacobmerson , your feedback is much appreciated. I am working on improving the paper based on your and @yhtang suggestions. Below is my response to some of your questions, which I will include in paper.

The main comparison is with existing open-source library that perform similar operation (GeodisTK). We report performance numbers as compared to this. GeodisTK implements with a singl

[2022-07-21 13:54] arfon commented on #4462
@editorialbot add @AWehrhahn as reviewer

[2022-07-21 13:54] arfon commented on #4462
@editorialbot start review

[2022-07-21 13:54] editorialbot opened #4602 "[REVIEW]: MSG: A software package for interpolating stellar spectra in pre-calculated grids"
**Submitting author:** @rhdtownsend (<a href="http://orcid.org/0000-0002-2522-8605">Richard Townsend</a>)
**Repository:** https://github.com/rhdtownsend/msg
**Branch with paper.md** (empty if default branch): joss
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @AWehrhahn, @ivastar
**Archive:** 10.5281/zenodo.7559319

## Status

[![status](https://joss.theoj.org/papers/fdb605600d48545f98dfb9f8

[2022-07-21 13:54] #4462 closed

[2022-07-21 13:55] vissarion commented on #4532
Thanks @yhtang for your raising this question about scope and thanks @jacobmerson for your feedback. I personally found the scholarly effort on the edge especially on the length of the core source code. Thus following the guidelines
[code]
@masadcv I am bringing this issue to the JOSS editorial team to seek the input of a few of our editors. This process will likely take a week or so.

[2022-07-21 13:55] arfon commented on #4602
@AWehrhahn – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above. Please create your checklist typing:

[code]

As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is

[2022-07-21 13:55] arfon commented on #4602
Note to all: I'm still on the look out for a second reviewer here.

[2022-07-21 13:55] vissarion commented on #4532
@editorialbot query scope

[2022-07-21 13:57] AWehrhahn commented on #4602
@editorialbot generate my checklist

[2022-07-21 13:59] Bisaloo commented on #4497
Hi again @HVoltBb, I'm still not completely sure if you accept to review this submission or not. Could you please confirm you're interested? I will then formally add you and we can get started.

[2022-07-21 14:06] AWehrhahn commented on #4602
Here are some comments on the points in the checklist that I didn't check off yet

Installation instructions: Bad
No python version given. Dependencies are given only by package name, no minimum versions requirement.
No automated installation of dependencies either.

Example usage: Good
    Clear easy to run example of the software. Although I would like to see this example included as a script in

[2022-07-21 14:14] wimvanderbauwhede commented on #4589
@editorialbot commands

[2022-07-21 14:21] AWehrhahn commented on #4602
Also please note that I have only tested the Python interface, not the C or Fortran APIs

[2022-07-21 16:10] PaulDebus commented on #4569
Hey,

I started my review but ran into issues pretty early on while trying to load files. I opened an [an issue](https://gitlab.com/ags-data-format-wg/ags-python-library/-/issues/52) in the repository and only link here for the breadcrumbs.

I will update here, once the issue is resolved.

Cheers

[2022-07-21 16:25] masadcv commented on #4532
Many thanks @vissarion for suggesting scope check with editorial team. Below is our comment for consideration of the editorial review:

As rightly picked by @jacobmerson, CUDA code requires quite a lot of effort and time to apply to any given problem. One potential drawback of getting things right is that it may result in less lines of code.

The main contribution here is the impact of how much im

[2022-07-21 17:13] jgagneastro commented on #4456
Hey Valentin, sorry for the delay. I got back from vacation last week, but I was slow to get into the dozens of things I have gotten myself into before vacations because I came back with COVID. I'm now 100% and finally getting through the stuff I need to do.

I have another comment about this specific point " A statement of need: Do the authors clearly state what problems the software is designed

[2022-07-21 17:47] DrMattG commented on #4594
@editorialbot generate my checklist

[2022-07-21 18:07] jgagneastro commented on #4456
Regarding "State of the field: Do the authors describe how this software compares to other commonly-used packages?", I think it would be relevant to discuss similarities/differences with Adam Burgasser's splat python package in the docs.

[2022-07-21 18:09] jgagneastro commented on #4456
Regarding "References: Is the list of references complete, and is everything cited appropriately that should be cited (e.g., papers, datasets, software)? Do references in the text use the proper [citation syntax](https://pandoc.org/MANUAL.html#extension-citations)?" The references seem appropriate to me in the article proofs, but the pandoc.org manual seems to require having citations between squa

[2022-07-21 18:15] jgagneastro commented on #4456
Valentin, I am a bit worried about the use of Allers et al. (2007) Na I index with a spectral resolution much lower than SpeX-prism. Was this tested for a set of field and low-gravity dwarfs in the literature and I'm just not aware of it ? I could see this causing a lot of low-gravity false-positives.

[2022-07-21 18:32] jagnobli commented on #4600
sure thing, @oliviaguest will do that next week...

[2022-07-21 18:36] jagnobli commented on #4600
@samhforbes I wasn't aware that issues should be opened over there - this is a bit annoying, sorry. Will ask a colleague to set up a guest account for you (and @htwangtw as well). Could you please _pm me_ your mail address that should be used as account?

[2022-07-21 18:40] oliviaguest commented on #4600
Ah, true. Sorry and thanks! I actually noticed that and then forgot. @openjournals/joss-eics (see above comment by @samhforbes) shall we just post here in this thread — thoughts? Would that work @jagnobli event tho it makes things harder (probably) to keep track for you?

[2022-07-21 18:50] danielskatz commented on #4600
This isn't just a problem for the reviewer, but it's a problem for meeting the `Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support` criterion as well. In some cases, an option has been to create a github mirror of the software for the purpose of issues and contributions, but it's

[2022-07-21 20:36] VChristiaens commented on #4456
Hi @jgagneastro - no worries, sorry to hear you caught the bug but glad you recovered! Thanks for your comments! I have now updated the relevant part of the documentation as suggested. The answer is yes: the main routines of ``special`` are in fact compatible with the input spectrum of any kind of object regardless of the way the spectrum was obtained (provided a relevant model grid or template li

[2022-07-21 20:53] VChristiaens commented on #4456
Thanks for the suggestion, I have now updated the paper draft including a comparison to ``splat``. I am a bit reluctant to add it on the readthedocs documentation though, mainly for two reasons:
(i) although common to find such comparison in a paper introduction to motivate new work, it feels somewhat too aggressive (to me) towards the other package and its maintainer when on a documentation page;

[2022-07-21 20:58] VChristiaens commented on #4456
You're right this is risky (I do not know either whether these were tested at low spectral resolution). At the moment, a warning is raised when the routines calculating spectral or gravity indices are called with a low-resolution input spectrum. I can adapt the behaviour to  raise an error instead, when the wavelength sampling of the input spectrum is sparser than a given threshold, if you deem it

[2022-07-21 21:07] snakesonabrain commented on #4569
@PaulDebus Tried the same files and does seem to work for me. Also tried on several ags files from my own archives and no issues sofar. Only thing which could be improved is automatic recognition of legacy AGS3.1 files, for which the code will not work.

[2022-07-21 21:11] snakesonabrain commented on #4569
My review is essentially complete. The only thing I'm missing is some autogenerated docs for the core modules of the package. Also, a state of the field is missing in the paper.

[2022-07-21 21:46] crvernon commented on #4406
Thanks @nmstreethran !

[2022-07-21 21:51] crvernon commented on #4460
@nick-gorman no apologies necessary, we appreciate your perspective and input as a reviewer!  Our goal is help the authors  build the best, and most robust, software possible within the scope of what has been submitted.  Your comments were constructive and helpful.  Thank you!

[2022-07-21 21:52] crvernon commented on #4460
@kcerva thank you for the clarification!

[2022-07-21 21:55] crvernon commented on #4460
Let me know if you need assistance with the outstanding documentation issue and when you have resolved it and we will move forward.  Thanks!

[2022-07-22 02:54] guanfada commented on #4555
Sure thing. Please let me know what I can do for the revision. @SimonBiggs @nlambriICH

[2022-07-22 06:27] TomTranter commented on #4504
@arfon @jarvist I have completed my review

[2022-07-22 06:43] csoneson commented on #4407
👋🏻 Just wanted to check in what's the state of the review/discussion here. Thanks!

[2022-07-22 06:55] csoneson commented on #4494
👋🏻 Just wanted to check in how things are going here. It looks to me like things are moving in order to address the test failue in the open issues above 👍🏻 - @hechth, feel free to post here if there are questions related to the other reviewer comments, or when you are ready for them to take a second look. Thanks!

[2022-07-22 07:08] massimotorquati commented on #4591
@editorialbot generate my checklist

[2022-07-22 07:11] chartgerink commented on #4416
@editorialbot remind @Athene-ai in two weeks

[2022-07-22 07:11] chartgerink commented on #4416
@editorialbot remind @daviddewhurst

[2022-07-22 07:12] chartgerink commented on #4416
@editorialbot remind  @daviddewhurst in three days

[2022-07-22 07:15] chartgerink commented on #4482
Dear @pboesu @robohyun66 @skummerf - might one/some of you be interested to review this paper on bio-logging using machine learning?

Find [the paper on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04482/joss.04482/10.21105.joss.04482.pdf), and [the source code](https://github.com/FlukeAndFeather/rstickleback) as well.

I would greatly appreciate any help you could provide in revi

[2022-07-22 07:18] oliviaguest commented on #4600
Thanks, and it would likely be only a step 0. This is because given @danielskatz comment above, your code currently does not indeed meet our guidelines.

[2022-07-22 07:52] dfm commented on #4455
@editorialbot generate pdf

[2022-07-22 07:52] dfm commented on #4455
@editorialbot check references

[2022-07-22 08:13] dfm commented on #4455
@thomaspinder — I've opened a PR with some minor edits to the paper. After merging or responding to that, here are the final steps that I'll need from you:

1. Take one last read through the manuscript to make sure that you're happy with it (it's harder to make changes later!), especially the author names and affiliations. I've taken a pass and it looks good to me!
2. Increment the version number

[2022-07-22 08:27] arfon commented on #4454
@tonggehua – apologies for the delayed response here. We've struggled to get editor feedback on this submission.

In summary, we have some concerns about sending this submission out for review for a number of reasons:

- There are a fair number of sections in your code where the logic has been commented out which raises concerns that this submission might not be ready to go out for review yet.
- T

[2022-07-22 08:43] ARMartinelli commented on #4591
@danielskatz, I have finished my review. I have no complaints.

[2022-07-22 09:31] wimvanderbauwhede commented on #4589
@danielskatz All issues are closed, both forms completed @robertszafa

[2022-07-22 09:50] thomaspinder commented on #4455
Thanks @dfm!

Version number - 0.4.9
Zenodo DOI - 10.5281/zenodo.6882220

Zenodo archive link - https://zenodo.org/record/6882220

[2022-07-22 10:36] nlambriICH commented on #4555
@guanfada Can you start adding a draft for these required sections in the README?. We can then work together for the final version.

[2022-07-22 11:59] danielskatz commented on #4591
Thanks @ARMartinelli

[2022-07-22 11:59] danielskatz commented on #4591
@massimotorquati - I notice your review is almost complete as well - is there anything blocking you from checking the last criterion?

[2022-07-22 12:01] danielskatz commented on #4589
@editorialbot generate pdf

[2022-07-22 12:03] massimotorquati commented on #4591
Yes, I completed the missing points. I have no objections; the work is OK with me.

[2022-07-22 12:14] danielskatz commented on #4589
@yogi-tud - I'm suggesting a number of small changes to your paper in https://github.com/yogi-tud/space_gpu/pull/4.  In addition, I think a reference would be useful for "the NVIDIA-supplied CUB library"  Once this is done, we can move to the final acceptance steps

[2022-07-22 12:22] danielskatz commented on #4591
@domschrei - I'm suggesting some minor changes in https://github.com/domschrei/mallob/pull/8. (note that this includes removing the funding agency logo at the end, which would be appropriate on slides or a poster, but not in a paper)  Please merge this, or let me know what you disagree with, and we can move forward on acceptance.

[2022-07-22 12:49] yogi-tud commented on #4589
@danielskatz There is already a reference to the cub main page. I renamed it to "NVIDIA CUB library" in the bib.
Is that okay?

[2022-07-22 12:52] yogi-tud commented on #4589
@editorialbot generate pdf

[2022-07-22 12:55] danielskatz commented on #4589
ok, thanks.

[2022-07-22 12:55] danielskatz commented on #4589
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure th

[2022-07-22 12:59] yogi-tud commented on #4589
I have a question about meta data in Zenodo.
Should it be "publication" or "software"?

[2022-07-22 13:08] yogi-tud commented on #4589
https://doi.org/10.5281/zenodo.6884000

I uploaded the 1.0 release which was just created from the github repo to zenodo.
As my funding institutions were not listes as possible options, I did not add them unter the optional funding category.

[2022-07-22 13:09] danielskatz commented on #4589
@editorialbot set 10.5281/zenodo.6884000 as archive

[2022-07-22 13:09] danielskatz commented on #4589
@editorialbot set 1.0 as version

[2022-07-22 13:10] danielskatz commented on #4589
@editorialbot recommend-accept

[2022-07-22 13:16] danielskatz commented on #4589
@editorialbot accept

[2022-07-22 13:24] danielskatz commented on #4589
Congratulations to @yogi-tud (Johannes Fett) and co-authors!

And thanks to @robertszafa and @wimvanderbauwhede for reviewing!
We couldn't do this without you

[2022-07-22 13:25] danielskatz commented on #4589
I'm going to leave this open for now, as I realize we had intended to mention Euro-Par in the final published PDF, which I think @arfon will need to do manually.

[2022-07-22 13:27] yogi-tud commented on #4589
Thanks for the review and the smooth editorial process.

[2022-07-22 13:30] danielskatz commented on #4589
Also @wimvanderbauwhede, do we know the DOI for the Euro-Par paper?  If so, we could also mention that in the left column, as we do with AAS-partnered papers, such as in https://joss.theoj.org/papers/10.21105/joss.04417

[2022-07-22 13:39] danielskatz commented on #4591
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure th

[2022-07-22 14:11] SietzeN commented on #4303
Hi @skalyan91 @fauxneticien and @ajstewartlang,

I have now addressed all comments and fixed all issues. If there are no further issues with the software itself, I will re-submit the markdown file in a new branch (JOSS revision).

Thanks!
Sietze (and co-authors)

[2022-07-22 15:11] btmonier commented on #4530
@tomsing1, @tkchafin - thank you very much for your reviews and constructive comments! I am meeting with my collaborators next week to go over these issues. Most of these should be quickly resolved by the end of next week.

[2022-07-22 15:23] bastorer commented on #4277
Hi @danielskatz

I'm very sorry about the slow responses. It also looks like my in-line email responses didn't show up like I thought they would, but I was also very slow to respond.

I've submitted commits addressing the issues posted on the FlowSieve repository, including changing the license to one on the OSI-approved list.

[2022-07-22 15:26] danielskatz commented on #4277
@bastorer - thanks. Perhaps you can add some comments in the issues that you think are now resolved, and the creators of those issues can then potentially close them and continue their reviews

[2022-07-22 15:27] danielskatz commented on #4277
@NoraLoose & @kris-rowe - I hope we can now continue your reviews.

[2022-07-22 15:37] GregoryAshton commented on #4568
@editorialbot generate my checklist

[2022-07-22 15:37] GregoryAshton commented on #4568
@dfm it looks like I am not tagged as a reviewer?

[2022-07-22 15:41] dfm commented on #4568
@editorialbot add @GregoryAshton as reviewer

Whoa - strange!! Let's try again and see if it works now?

[2022-07-22 15:42] GregoryAshton commented on #4568
@editorialbot generate my checklist

[2022-07-22 15:54] hechth commented on #4337
@dhhagan & @kyleniemeyer sorry for the absence and the delay.

The archive DOI is 10.5281/zenodo.6884922 ([link](https://zenodo.org/record/6884922)), version is 0.3.3

[2022-07-22 16:42] hechth commented on #4494
@chryswoods @csoneson and @marshallmcdonnell Thanks for the great review and handling of this submission.

I think we will still have a look at the package structure and dependence management system as these things are quite important for us as well to get right!

[2022-07-22 16:58] jmschrei commented on #4524
No problem, thanks for getting back to us!

@oesteban, @brechmos, or @glatard, would any of you be able to serve as a reviewer for this paper?

[2022-07-22 16:58] pibion commented on #4576
@arfon this is an exciting topic for me - I do have two papers that are high-needs right now.  So my progress on this paper might be slow.

In other words, if there's nobody else who can edit I might be a good candidate :)

[2022-07-22 17:00] pibion commented on #3665
@arfon thank you!

[2022-07-22 17:00] pibion commented on #3665
@dtabell are you still available to review?  If so I'll start the review now!

[2022-07-22 17:13] lbluque commented on #4504
@editorialbot generate pdf

[2022-07-22 17:42] fAndreuzzi commented on #4534
Hi @max-little, first of all thank you for addressing the issues mentioned by @Athene-ai and me. I ticked some more checkboxes in my review.

Looking at the tutorials, I have some more observations:
- I don't feel the need to import and then run tutorials in two separate commands, I fixed this in max-little/GRAPL#11
- In my opinion I should not need to open the code for a tutorial (or run it) to s

[2022-07-22 18:28] p-ortmann commented on #4593
Thank you for the detailed feedback! I've taken some steps to address your comments:

I've set up a github mirror https://github.com/p-ortmann/dyntapy and wrote a [CONTRIBUTING.md](https://github.com/p-ortmann/dyntapy/blob/master/CONTRIBUTING.md) with some instructions on how to test etc.

There's now also some explanation and instruction on how the testing with pytest works, see [here](https://gi

[2022-07-22 19:39] webbjj commented on #4483
Thanks for this check @lwang-astro

- I have added two ways of adding binary stars as outlined in the docs (https://clustertools.readthedocs.io/en/latest/cluster.html#the-starcluster-class). In short, you can now pass nb when adding stars. So in your test you would pass nb=500 when using add_stars. There is also now an add_binary_stars option where you can add the pairs individually. This actually

[2022-07-22 21:10] rkurchin commented on #4511
@editorialbot assign me as editor

Sure, I can take this one!

[2022-07-22 21:12] rlskoeser commented on #4328
@mhucka I'm glad you got the permission to change the license. I see that you edited both `LICENSE` and `LICENSE.html` but GitHub doesn't seem to recognize the html version:

![Screen Shot 2022-07-22 at 5 09 33 PM](https://user-images.githubusercontent.com/691231/180569106-2e8605c6-33b2-4ea4-b70a-ca00f0cea488.png)
![Screen Shot 2022-07-22 at 5 09 38 PM](https://user-images.githubusercontent.com/69

[2022-07-22 21:33] yhtang commented on #4532
The CUDA kernel appears to be straightforward stencil code without much in-depth optimization. They are memory-bound because each CUDA thread repeatedly loads the pixel data for distance computation without sharing and reusing. The arithmetic intensity (amount of computation per unit of data) is very low. Patterns such as shared memory tiling, register blocking, and warp shuffle are commonly used

[2022-07-22 22:23] EricaEgg commented on #4593
@editorialbot generate my checklist

[2022-07-23 00:11] masadcv commented on #4532
Hi @yhtang

Many thanks for your detailed analysis of our 2D case. Really appreciate your time and effort looking into this and reporting the findings.

I believe the main algorithm for our approach may be misunderstood here. Although we have a full image data, we can only process one row/plane at a time and can only parallelize workload over this row/plane. This is unlike other image processing k

[2022-07-23 03:25] asitha-sena commented on #4569
Thanks for taking the time to review the paper and the repo.

@PaulDebus  I added responses to the issues opened in the Gitlab repository. Hope that clarifies things. I'll be happy to answer any follow-up questions or concerns.

@snakesonabrain We did not add a "State of Field" as it is not listed in the guidelines (https://joss.readthedocs.io/en/latest/submitting.html). However, we would be happy

[2022-07-23 04:08] jedbrown commented on #4569
There doesn't need to be a section called "State of the Field", but there should be enough comparison with related tools for a prospective user to make an informed choice.

[2022-07-23 04:41] yhtang commented on #4532
I believe there are more recent works that handle the dependencies in a more sophisticated way. For example, see this [GTC talk](https://on-demand.gputechconf.com/gtc/2013/presentations/S3090-GPUGeoS-Geodesic-Distance-Transforms-for-Editing.pdf).

[2022-07-23 06:06] dfm commented on #4572
@editorialbot add @kazewong as reviewer

🎉 Thanks @kazewong for agreeing to review this submission! Once I have a second reviewer lined up, we'll get the main review started in a new thread.

[2022-07-23 06:07] dfm commented on #4455
@editorialbot generate pdf

[2022-07-23 06:07] dfm commented on #4455
@editorialbot set 0.4.9 as version

[2022-07-23 06:09] dfm commented on #4455
@editorialbot set 10.5281/zenodo.6882220 as archive

[2022-07-23 06:10] dfm commented on #4455
@editorialbot recommend-accept

[2022-07-23 06:13] dfm commented on #4455
@thomaspinder — I've now handed this off to the managing editors who may have some final edits before publication. Thanks for your submission and your responses to the reviewers!!

@gpleiss, @theorashid — Thanks again for your reviews!!

[2022-07-23 07:17] Jo-Schie commented on #4594
@editorialbot generate my checklist

[2022-07-23 07:28] snakesonabrain commented on #4569
@asitha-sena I'm happy to accept the README and examples as documentation. I just read API method documentation in the review requirements. But if that is not mandatory for the journal, we can leave things as they are.

[2022-07-23 08:17] Jo-Schie commented on #4594
Check installation for:

- [ ] Ubuntu/Linux
- [ ] MacOS
- [ ] Windows @DrMattG : Do you have a Windows machine where you could test installation? @martinfleis : do we both need to test installation on all platforms or can we have a division of labor somehow? I work mostly with linux but I'm also able to check on MacOS.

[2022-07-23 08:42] DrMattG commented on #4594
I have windows - so can test installation

[2022-07-23 08:44] domschrei commented on #4591
I created a tagged release [v1.1.0](https://github.com/domschrei/mallob/releases/tag/v1.1.0) and uploaded that version on Zenodo. The DOI is: https://doi.org/10.5281/zenodo.6890240

[2022-07-23 08:48] thomaspinder commented on #4455
Great! Thanks for coordinating such a smooth and enjoyable review process @dfm!

[2022-07-23 09:05] martinfleis commented on #4594
@Jo-Schie If you have a possibility to check on more OS it would be welcome to do so, but don't feel obliged to test on all.

[2022-07-23 09:18] Jo-Schie commented on #4594
@martinfleis : I opened a new issue in the repo. Is the link there enough or do I need to link from here to there as well? As far as I can see, the issue appears anyway in this threat...

[2022-07-23 09:19] martinfleis commented on #4594
Yeah, link there is enough. Thanks!

[2022-07-23 09:31] Jo-Schie commented on #4594
AFAIK all packages on CRAN are going through some automated installation checks anyways before publication...not sure if this is cross-Plattform though.

[2022-07-23 12:06] danielskatz commented on #4591
@editorialbot set 10.5281/zenodo.6890240 as archive

[2022-07-23 12:06] danielskatz commented on #4591
@editorialbot set v1.1.0 as archive

[2022-07-23 12:07] danielskatz commented on #4591
@editorialbot recommend-accept

[2022-07-23 12:11] danielskatz commented on #4591
👋 @domschrei - I see that you have a duplicate bib entry for froleyks2021sat - Can you remove the first one, then we can try again.

[2022-07-23 12:57] bencardoen commented on #4532
@vissarion please remove me from the reviewers list, I'm unable to complete the review within timelimits, my apologies for the inconvenience

[2022-07-23 14:13] domschrei commented on #4591
Done!

[2022-07-23 14:22] jedbrown commented on #4569
I think the question is what is useful/expected by the target audience. If they'll be happy with inline help via docstrings rendered in their IDE, then that's enough. If you'll miss a sizable fraction of the audience by not having a sphinx site that users can browse and link to, then you can recommend creating one.

[2022-07-23 15:22] danielskatz commented on #4591
@editorialbot recommend-accept

[2022-07-23 15:28] danielskatz commented on #4591
Current status:
* paper is proofread, and content is ready to publish
* missing DOI is ok, it's a DOI that will be associate with a to-be-published paper
* As a Euro-Par associated paper, we need to fix the left column to add appropriate language and logo before final publishing

We're now on hold until the last item is figured out.

[2022-07-23 19:24] LucyMcGowan commented on #4495
Thank you so much! I hope to have these addressed by next week.

[2022-07-23 20:22] catrionamurray commented on #4503
A question about the conflict of interest policy: I haven't directly worked with any of the authors on the Eureka! paper but I am a coauthor on two papers with Adina Feinstein (and potentially a few more people in the author list). I wasn't sure if I need to disclose this, or if it's an issue?

[2022-07-23 21:31] kevin218 commented on #4503
It's not a problem on our end.  I think most potential reviewers will have worked with at least one person on the Eureka! team.

[2022-07-23 21:34] kevin218 commented on #4503
@catrionamurray, @christinahedges — What's your timeline for providing feedback?  The first ERS paper will likely be ready within a week and it would be great to use the JOSS reference.

[2022-07-24 03:54] dkauf42 commented on #4326
Dear @slayoo, once again thank you for your comments and recommendations. Our responses are below, and you will find the associated changes in [Pull Request 13](https://github.com/E3SM-Project/gdess/pull/13):
-	We have replaced the `gdess` output figures (3,4, and 5) with vector (.svg) versions.
-	We have completely revised the github.io page (https://e3sm-project.github.io/gdess/) to show documen

[2022-07-24 04:28] arjunsavel commented on #4575
Hi all, I've finished my look at this package!

With `vSmartMOM`, the authors have put together a well-developed package and a welcome addition to the open-source radiative transfer literature. The code is fast, modular, and appears well-tested, and it definitely has sufficient documentation and tutorials. I have a few comments, and pending their resolution I recommend this project for acceptance.

[2022-07-24 06:49] gagolews commented on #4588
@editorialbot generate my checklist

[2022-07-24 06:53] gagolews commented on #4588
@draabe: Further remarks:

1. The package description in the article is quite abstract, how about providing some more details, e.g., list all the methods/algorithms implemented? I see that such a list is featured in the README file, so at least this fact should be mentioned in the article.

2. For the example code on p.2, please include the results generated.

3. Check all citations: in many place

[2022-07-24 09:37] arfon commented on #3973
@editorialbot reject

This paper is being rejected due to lack of activity on the part of the author. @dilawar, @federeghe, @jarvist - thanks for your efforts here. Sorry this didn't work out.

[2022-07-24 09:37] #3973 closed

[2022-07-24 09:41] arfon commented on #3125
@adi3 - could I ask you to take another look here to see if these updates meet your expectations?

[2022-07-24 11:25] cbrnr commented on #4595
Potential reviewers include everyone with "neuroscience" or "EEG" in their topics.

[2022-07-24 11:28] arfon commented on #2954
@michakraus - it's now nearly the end of July and we've not heard back from you in some time. Reviews in JOSS can sometimes take a while, but this submission looks to have been in review now for a very long time.

I propose we agree a firm deadline for you addressing the outstanding feedback (I propose one month from today), and if you're unable to meet this, we would proceed reject (or you could

[2022-07-24 19:00] mhucka commented on #4328
@rlskoeser Thanks for spotting that. I guess the html version is not really needed anyway, so I'll delete it right now. Thanks again!

[2022-07-24 19:11] snakesonabrain commented on #4569
I believe the readme and examples are sufficient, so I will tick this box now.

[2022-07-24 22:05] kyleniemeyer commented on #4337
@editorialbot set 10.5281/zenodo.6884922 as archive

[2022-07-24 22:06] kyleniemeyer commented on #3934
Hi @sergioburdisso, it's been a while since we have heard from you. Are you still planning on working on this submission? If we do not hear from you in the next few days, either here or via email, we will have to withdraw this submission.

[2022-07-24 22:07] kyleniemeyer commented on #4337
@editorialbot set 0.3.3 as version

[2022-07-24 22:09] kyleniemeyer commented on #4337
@editorialbot recommend-accept

[2022-07-25 00:41] rkurchin commented on #4511
👋 @shivupa and @xwang862, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-07-25 00:42] rkurchin commented on #4528
@sgbaird, have you had a chance to implement @dandavies99's suggestions above? I think that's the only remaining blocker here...

[2022-07-25 00:43] rkurchin commented on #4443
Hi @EwaGomez, just checking in on this!

[2022-07-25 00:43] rkurchin commented on #4565
Reminder to @ma-sadeghi and @bonh to get your reviews started!

[2022-07-25 01:16] OHildreth commented on #4257
@MatthieuDartiailh
I must not have worded things as clearly as I thought in the manuscript. I'm happy to fix that.  The project is divided into multiple Repositories and evolutions.  The original one, SwiftVISA, wraps National Instruments pre-compiled VISA framework and has most of the functionality that pyVISA does (USB, TCI/IP, etc.).

Using the original SwiftVISA requires both installing the VI

[2022-07-25 01:40] asitha-sena commented on #4569
@editorialbot generate pdf

@snakesonabrain I added some information about the "state of field" and related tools. Please have a look at the updated paper and let me know if it's sufficient.

[2022-07-25 02:10] hongyuanjia commented on #4030
Hi @KristinaRiemer, I think most of the feature implementations have completed. I should be able to complete the documentation during this time period. Thanks!

[2022-07-25 05:45] danasolav commented on #4259
👋 @jamesfolberth, @Nikunj-Gupta, @THUHoloLab, @julianstirling, @monakhova, @aquilesC
Checking again if you would be willing to review this software submission, or if you could suggest another person who would be a good fit for this review?
Thanks!

[2022-07-25 05:48] danasolav commented on #4362
@davidpagnon Thank you for the detailed responses to the reviewer's comments.
@lambdaloop @jonmatthis @CVHammond , could you please take a look to see if you are satisfied with these answers and revisions, and update your checklists accordingly or raise new questions/comments if you have any?
Thanks!

[2022-07-25 06:34] snakesonabrain commented on #4569
@asitha-sena Thanks for updating!

@jedbrown That concludes my review, all boxes ticked.

[2022-07-25 06:35] arfon commented on #4457
Thanks for confirming @mileslucas!

@cescalara - how are you getting along with your review?

[2022-07-25 06:37] jaybee84 commented on #4407
Thanks @devSJR @csoneson for your patience with this review. My review is complete and I am happy to recommend acceptance for this software.

[2022-07-25 06:37] arfon commented on #4508
@editorialbot generate pdf

@Onoddil - commands to @editorialbot have to be at the start of a comment.

[2022-07-25 06:43] csoneson commented on #4407
Thank you @jaybee84!

@devSJR - I will take a quick look through the submission as well, and get back to you shortly with the next steps.

[2022-07-25 06:45] devSJR commented on #4407
@jaybee84 thanks!

[2022-07-25 07:26] cescalara commented on #4457
I plan to send my review this week or early next week!

[2022-07-25 07:28] jagnobli commented on #4600
hmmm, perhaps I am a little _small-minded_ here (sorry):

I actually think that we provide clear "guidelines for third parties wishing to [...] Contribute [...] Report issues [...] Seek support" in a _contributing markdown_ of our [repo](https://git.mpib-berlin.mpg.de/castellum/castellum/-/blob/main/docs/contributing.md).

So, from my point of view the community guidelines should be more explicit

[2022-07-25 07:34] csoneson commented on #4407
@editorialbot generate pdf

[2022-07-25 07:36] csoneson commented on #4407
@editorialbot check references

[2022-07-25 08:17] EwaGomez commented on #4443
Hi @rkurchin, I was already able to close 7 issues and I am working on the last 3. The discussion with both of the reviewers is really helpful and I have never experienced such a good open review process. Thanks a lot!

[2022-07-25 08:43] ThomasA commented on #4524
Thanks for the patience; vacation mode...
The application area seems too unfamiliar to me and I have not programmed in Java for over 20 years.

[2022-07-25 09:29] stefanocoretta commented on #4566
@majensen Is the source of the paper PDF available somewhere? It just have a couple edit suggestions and would be easier if I could comment on the source on GitHub.

[2022-07-25 09:41] hechth commented on #4337
All good from my side - thanks to everyone for your efforts!

[2022-07-25 09:50] MatthieuDartiailh commented on #4257
Sorry if I gave the impression your paper was unclear. It is not so and I did follow the split between the different packages. Since this is only a pre-review and I don't think the actual issue to do the review was opened I just decided to share the one thing that bothered me and did not expand on the overall quality of the paper.

To make my point clearer, the VISA specification (https://www.ivif

[2022-07-25 09:52] PaulDebus commented on #4569
Thanks, @asitha-sena for answering my [issue]https://gitlab.com/ags-data-format-wg/ags-python-library/-/issues/52) in the original repository. It clarified many issues and I think, we can resolve it soon. It is the only thing blocking me review from being complete.

For the rest, I mostly agree with @snakesonabrain, especially with the documentation of the methods. The docstrings are well designed

[2022-07-25 10:20] yguitton commented on #4337
@editorialbot accept

[2022-07-25 10:32] jonmatthis commented on #4362
I am happy and satisfied with these answers. I have no additional requests and am happy to approve this project.

[2022-07-25 10:49] masadcv commented on #4532
Many thanks for sharing this @yhtang !

We are already aware of Weber et al's [1] method (we already cite this in our paper), this method is protected by multiple patents [2, 3, 4[ and hence we did not spent time implementing it.

[1] Weber, Ofir, et al. "Parallel algorithms for approximation of distance maps on parametric surfaces." ACM Transactions on Graphics (TOG), (2008).
[2] Bronstein, Alexa

[2022-07-25 10:57] GregoryAshton commented on #4568
@mattpitkin regarding the paper, there is a typo in the summary: a missing "to" between "user" and "search" in paragraph 2.

I also wondered if there is an appropriate link to documentation on what an "ephemeris" file should be? While this is a well-understood concept in radio pulsar astronomy, users of this package may be unfamiliar and unable to create an ephemeris. Moreover, the definition of a

[2022-07-25 11:11] dfm commented on #4503
Thanks for bringing this up, @catrionamurray! I believe that this potential conflict is sufficiently minor that, as long as you're confident that you can provide a fair review, I'm happy to waive this apparent conflict of interest. If anyone involved feels that this in inappropriate, please feel free to comment here, or contact me directly via email (thanks @kevin218 for your confirmation already!

[2022-07-25 11:18] lucydot commented on #4333
@CFGrote it appears that the points raised in https://github.com/jonathanHuwP/CrystalGrowthTracker/issues/22 have been addressed - however you will be best placed to judge if this is the case.

[2022-07-25 11:23] lucydot commented on #4547
Thanks @alejandrogallo for your response - I'll see if there is someone who is more comfortable with the scientific context - though I may be back in contact!

Thanks @paleolimbot for your reply

@hgandhi2411 @fnattino are you available to review this JOSS submission?

[2022-07-25 11:40] arfon commented on #4602
@editorialbot add @ivastar as reviewer

[2022-07-25 11:41] lucydot commented on #4402
A note here that I have contacted Kentaro Hara (who is cited in the paper) to ask if they or someone in their team can review.

[2022-07-25 11:42] arfon commented on #4602
@ivastar - many thanks for agreeing to review this submission for JOSS!

Please take a look at the instructions above and let me know if you have any questions! https://github.com/openjournals/joss-reviews/issues/4602#issuecomment-1191517285

[2022-07-25 11:47] ivastar commented on #4602
@editorialbot generate my checklist

[2022-07-25 12:08] majensen commented on #4566
@stefanocoretta yes - it is in the "paper.md" file at the top level of the code repo (https://github.com/hrossman/pymsm/blob/main/paper.md). The bibliography is in "paper.bib".

[2022-07-25 12:16] archermarx commented on #4402
thanks!

On Mon, Jul 25, 2022, 7:41 AM Lucy Whalley ***@***.***> wrote:

[2022-07-25 12:18] csoneson commented on #4407
👋🏻 @devSJR - I've sent a small [PR](https://github.com/PCRuniversum/PCRedux/pull/12) to fix some inconsistencies in the references in the paper. Moreover, at the moment the paper is a bit too long - a JOSS paper should be between 250 and 1,000 words (see the [guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)), while this one is over 2,000 words. Could

[2022-07-25 12:39] devSJR commented on #4407
Dear @csoneson,

Thanks for the feedback. We will shorten the paper ASAP and merge the bibliography.

Kind regards

[2022-07-25 12:53] jagnobli commented on #4600
should now present the missing doi:

@editorialbot generate pdf

[2022-07-25 12:57] sgbaird commented on #4528
I just got back from 2 weeks of international travel, and during that @kjappelbaum took the initiative to address @dandavies99 's comments. I looked over and merged the changes as well.

[2022-07-25 13:21] slayoo commented on #4326
Thank you, @dkauf42. I've just marked all remaining checkboxes in my review check list.

[2022-07-25 13:25] masadcv commented on #4532
@yhtang I have opened an issue related to this and should have a PR to reduce the number of invocations in the current algorithm soon.

[2022-07-25 13:43] wimvanderbauwhede commented on #4589
@danielskatz I have the DOIs for the conference papers but they are not live yet so if we put them in the JOSS paper they won't work yet.

[2022-07-25 13:45] rlskoeser commented on #4328
@mhucka great. Checking off the license now on my checklist. 🙂

[2022-07-25 13:54] csadorf commented on #4480
All good from my side.

[2022-07-25 13:54] n8thangreen commented on #4206
I've changed the e, c and pi objects in the package supplied data to eff, cost and pi_post. I've pushed to the default branch dev. Is this sufficient? Thanks.

[2022-07-25 13:58] Kevin-Mattheus-Moerman commented on #4579
@alexriss thanks for this submission. I am the AEiC on call this week. Can you check those potentially invalid DOI's? :point_up: Once you've ammended them you can call `@editorialbot check references` here and use `@editorialbot generate pdf` to update the paper.

[2022-07-25 14:08] alexriss commented on #4579
@editorialbot check references

[2022-07-25 14:10] ma-sadeghi commented on #4565
@rkurchin I'm a bit busy until this Wednesday, I'll get started in a few days, and will try to make up for the delay. I'm sorry for that.

[2022-07-25 14:10] ma-sadeghi commented on #4565
@rkurchin Btw, I can't find my checklist, could you please ask the bot to create it? Thanks!

[2022-07-25 14:11] ma-sadeghi commented on #4565
@editorialbot generate my checklist

[2022-07-25 14:16] oliviaguest commented on #4600
@editorialbot generate pdf

[2022-07-25 14:16] oliviaguest commented on #4600
@jagnobli @editorialbot command has to be a comment on its own to work 😊

[2022-07-25 14:19] alexriss commented on #4579
@editorialbot generate pdf

@Kevin-Mattheus-Moerman Thank you - I have updated the DOIs.

[2022-07-25 14:19] Kevin-Mattheus-Moerman commented on #4580
@siavash-saki thanks for this re-submission. I am an AEiC on call this week. Can you please clarify what changes you have made (and/or what functionality was added) since the last submission? Thanks.

[2022-07-25 14:27] kyleniemeyer commented on #4337
@editorialbot accept

[2022-07-25 14:36] RBrearton commented on #4397
Hi @daguiam,

With regards to hardcoded paths, I think these are only given where appropriate at the moment. The only diamond filesystem path in the repo is in a default argument to `i07reduce` in runner.py, which seems like a reasonable default since that function is designed to specifically handle data from diamond's i07 beamline. Another local path can of course be passed in place of that defau

[2022-07-25 14:36] kyleniemeyer commented on #4337
Congratulations @hechth on your article's publication in JOSS!

Many thanks to  @yguitton and @davidegraff for reviewing this, and @dhhagan for editing.

[2022-07-25 14:36] #4337 closed

[2022-07-25 14:37] diehlpk commented on #4570
Hi @estefaniatalavera or @agrecounisa or @mcasl do you have time to review this paper?

[2022-07-25 14:38] diehlpk commented on #4377
@jonjoncardoso @stsievert could you please have a look at the changes?

[2022-07-25 14:40] diehlpk commented on #4466
Hi @luckystarufo or @benjaminbolling or @balos1 do you have time to review this paper?

[2022-07-25 14:49] ctdegroot commented on #4512
I would be willing to review it.

[2022-07-25 15:57] editorialbot opened #4603 "[PRE REVIEW]: Motorcycle: A spectral boundary-integral method for seismic cycles on multiple faults"
**Submitting author:** @sbarbot (<a href="http://orcid.org/0000-0003-4257-7409">Sylvain Barbot</a>)
**Repository:** https://bitbucket.org/sbarbot/motorcycle/src/master/
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @jedbrown
**Reviewers:** @mherman09, @willic3
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/fea1b49d635e7a0b

[2022-07-25 16:00] kyleniemeyer commented on #4603
Hi @jedbrown, can you edit this submission?

[2022-07-25 16:00] kyleniemeyer commented on #4603
@editorialbot invite @jedbrown as editor

[2022-07-25 16:07] editorialbot opened #4604 "[PRE REVIEW]: PACMAN: A pipeline to reduce and analyze Hubble Wide Field Camera 3 IF Grism data"
**Submitting author:** @sebastian-zieba (<a href="http://orcid.org/0000-0003-0562-6750">Sebastian Zieba</a>)
**Repository:** https://github.com/sebastian-zieba/PACMAN
**Branch with paper.md** (empty if default branch):
**Version:** v0.1-alpha
**Editor:** @xuanxu
**Reviewers:** @astrobel, @grburgess
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/73b451e3272d57c

[2022-07-25 16:46] kyleniemeyer commented on #4604
Hi @xuanxu, could you edit this submission?

[2022-07-25 16:46] kyleniemeyer commented on #4604
@editorialbot invite @xuanxu as editor

[2022-07-25 16:47] editorialbot opened #4605 "[PRE REVIEW]: UM-Bridge: Uncertainty quantification and modeling bridge"
**Submitting author:** @linusseelinger (<a href="http://orcid.org/0000-0001-8632-8493">Linus Seelinger</a>)
**Repository:** https://github.com/UM-Bridge/umbridge
**Branch with paper.md** (empty if default branch):
**Version:** 1.1.1
**Editor:** @pdebuyl
**Reviewers:** @georgiastuart, @Himscipy
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/8a27aa01b2e7c391d87d

[2022-07-25 16:55] catrionamurray commented on #4503
I had an error installing Eureka! I've opened a new issue here: https://github.com/kevin218/Eureka/issues/421

[2022-07-25 16:56] catrionamurray commented on #4503
I am happy that I can provide a fair review!

[2022-07-25 16:57] catrionamurray commented on #4503
I'm happy I can provide a fair review!

[2022-07-25 17:03] catrionamurray commented on #4503
I found a potential mistake in the Quickstart docs, opened new issue here: https://github.com/kevin218/Eureka/issues/422

[2022-07-25 17:04] yhtang commented on #4532
Thanks for sharing this knowledge. This is sad and ridiculous. But since the NVIDIA guy already implemented and presented it, I suppose maybe a better understanding of the scope of the patent could lead to workarounds?

Regardless of the patent, there are still many commonly used CUDA techniques that can be potentially used to prevent the kernels in FastGeodis from being memory-bound (I don't thin

[2022-07-25 17:09] catrionamurray commented on #4503
There are missing references in the text to JWST, HST etc., issue here: https://github.com/kevin218/Eureka/issues/423

[2022-07-25 17:32] jbytecode commented on #4561
Dear @zhenwu0728 and @storyetfall

Could you please update us on how is your review going?

Thank you in advance.

[2022-07-25 18:01] masadcv commented on #4532
@yhtang Great idea, I had not thought of this before. I have just now implemented something similar to address the invocation issue that you reported above. this PR https://github.com/masadcv/FastGeodis/pull/21 shows that indeed having less kernel calls leads to improvement in overall performance. The threads now work on calculation on their calculation for a given row, and synchronise to after ea

[2022-07-25 18:14] zhenwu0728 commented on #4561
Hi @jbytecode, I'm trying out the tutorials in the documentation and I plan to submit my review by the end of this week.

[2022-07-25 18:22] xwang862 commented on #4511
Hi Rachel, thanks for your invitation. I am not sure if I am eligible to review this work because of a Conflict of Interest - I worked in the same institute as two of the authors in the past few years.

[2022-07-25 18:24] xuanxu commented on #4604
I'm OOO until August 8th, if by then it is not yet assigned I'll take it.

[2022-07-25 18:44] hgandhi2411 commented on #4547
@lucydot this article is in my general area of research, I’m happy to review.

[2022-07-25 18:50] kyleniemeyer commented on #4605
Hi @pdebuyl, could you edit this submission?

[2022-07-25 18:50] kyleniemeyer commented on #4605
@editorialbot invite @pdebuyl as editor

[2022-07-25 18:51] editorialbot opened #4606 "[PRE REVIEW]: biostuff: a computational biology package suite for Go"
**Submitting author:** @fluhus (<a href="http://orcid.org/0000-0003-3928-5907">Amit Lavon</a>)
**Repository:** https://github.com/fluhus/biostuff
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.1.18
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/43335d4bc35b40ab6514544e35031eb4/status.svg)](h

[2022-07-25 18:54] lbluque commented on #4504
:wave: @kitmccoll just want to check in on your timing on reviewing this. Thanks in advance

[2022-07-25 18:57] jmlondon commented on #4482
@chartgerink many apologies for not responding earlier. I'm just returning from time away from the office and we are entering a busy field season. So, unfortunately, I can't make the time for a review now. But, please keep me in mind for future, similar papers.

[2022-07-25 18:59] kyleniemeyer commented on #4606
Hi @jmschrei, could you edit this submission?

[2022-07-25 18:59] kyleniemeyer commented on #4606
@editorialbot invite @jmschrei as editor

[2022-07-25 19:13] kyleniemeyer commented on #4455
Hi @thomaspinder, I'm doing some final checks before publishing. It looks like a few references are missing DOIs (not sure why `editorialbot` didn't catch them), specifically for articles from the _Journal of Statistical Software_. Could you add those? I would also point out that arXiv articles also now have DOIs that can/probably should be included, though we are not currently able to automatical

[2022-07-25 19:15] kyleniemeyer commented on #4601
@editorialbot invite @fboehm as editor

[2022-07-25 19:15] kyleniemeyer commented on #4601
Hi @fboehm, could you edit this submission?

[2022-07-25 19:21] EricaEgg commented on #4593
Great work! My review is complete.

[2022-07-25 19:25] Kevin-Mattheus-Moerman commented on #4584
@SuperKogito This pull request should hopefully fix it: https://github.com/SuperKogito/spafe/pull/41

I just added `affiliation: 1` [as per our example](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

[2022-07-25 19:30] Kevin-Mattheus-Moerman commented on #4584
@SuperKogito in addition can you make sure to have a _Statement of need_ section? This is a requirement now for JOSS. Can you [check our guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) and rework your paper to cover these requirements? Thanks.

[2022-07-25 19:33] Kevin-Mattheus-Moerman commented on #4584
@faroit the authors are working on a couple of issues with the paper :point_up:, however, once they are ready, do you think you'd be able to help edit this one?

[2022-07-25 19:33] Kevin-Mattheus-Moerman commented on #4584
@editorialbot invite @faroit as editor

[2022-07-25 19:48] dandavies99 commented on #4528
Looking good. Just one query which I've commented on [this issue](https://github.com/sparks-baird/xtal2png/issues/184).

[2022-07-25 20:07] dandavies99 commented on #4528
Great all good after getting to the bottom of that, happy to approve this 👍

[2022-07-25 20:34] masadcv commented on #4532
Tracking paper changes requested by @jacobmerson in [this comment above](https://github.com/openjournals/joss-reviews/issues/4532#issuecomment-1191085210)

- [ ] What is Geodesic distance? How it differs from Euclidean distance? What is segmentation?
- [x] Provide the hardware information for speedup claims.
- [ ] Be clear about what you are comparing, CPU single thread vs GPU? or something else.

[2022-07-25 21:20] diehlpk commented on #4512
@editorialbot add @ctdegroot as reviewer

[2022-07-25 21:34] faroit commented on #4584
@Kevin-Mattheus-Moerman happy to edit this one!

[2022-07-25 22:14] emdupre commented on #4368
@editorialbot set 0.4 as version

[2022-07-25 22:15] emdupre commented on #4368
@editorialbot set 10.5281/zenodo.6874987 as archive

[2022-07-25 22:18] emdupre commented on #4368
@editorialbot generate pdf

[2022-07-25 22:29] emdupre commented on #4368
@openjournals/joss-eics I think this article is ready for `recommend-accept` but the PDF compilation is silently failing. Any suggestions how to approach debugging this, or if the issue is more likely on the editorial infra ?

[2022-07-25 23:48] max-little commented on #4534
Thanks @fAndreuzzi . I've merged in your suggested changes to the tutorials and the readme, which look sensible to me. I'll see about adding a short explanatory table for the tutorials.

Re: syntax error, well, obviously, if you just put random text into the DSL parser without understanding the language at all, then you will likely just get lexical, syntax or semantic errors, which would happen wi

[2022-07-26 00:10] max-little commented on #4534
OK @fAndreuzzi , more detailed description of tutorials now included in the README, as requested.

[2022-07-26 01:02] SuperKogito commented on #4584
Just restructured the paper to comply with the requirements. The paper is yet a bit over 1k characters, due to some theory details that I deem useful. However, if the reviewers/ editor disagree, we can discuss how to  shorten it.

[2022-07-26 01:02] SuperKogito commented on #4584
@editorialbot generate pdf

[2022-07-26 01:29] ChristopherLucas commented on #4415
This all makes sense to me. I still worry that researchers regularly working with DAGs will find it confusing to mix the causal structure with assumptions about the estimator for estimands denoted by that structure. I think the authors know precisely what they mean by the example, and that they mean something sensible, but I do think it will be unclear to many researchers who regularly work with D

[2022-07-26 05:12] asitha-sena commented on #4569
@PaulDebus Thanks for the update. I added some more information to the README as suggested. Hope that addresses your final concern.

[2022-07-26 05:58] danielskatz commented on #4589
@wimvanderbauwhede - Can we continue this discussion in the email I sent you around the same time as the comment above?

[2022-07-26 07:30] estefaniatalavera commented on #4570
Yes, I can review it

[2022-07-26 07:46] ajstewartlang commented on #4206
@editorialbot generate pdf

[2022-07-26 07:48] ajstewartlang commented on #4206
@editorialbot check references

[2022-07-26 07:56] vissarion commented on #4532
@editorialbot remove @bencardoen  from reviewers

[2022-07-26 08:03] vissarion commented on #4532
According to JOSS guidelines novel results should not be placed in the paper. That is, if there are (research) papers describing the method implemented by the package you should site those. Adding a detailed description in the documentation and provide the link in the paper is ideal. Please also add (in the same section in the docs) the explanations in your comment above to one of the reviewers (@

[2022-07-26 08:32] vissarion commented on #4532
@editorialbot remove @bencardoen from reviewers

[2022-07-26 08:33] lorenzo-rovigatti commented on #4553
@editorialbot generate pdf

[2022-07-26 09:18] Solonets commented on #4521
Hi @hugoledoux , @Mirmix . Thank you for the comments. I agree there is a value in writing it down. We extended the paper with this info. Could you please check it?

[2022-07-26 09:29] drvinceknight commented on #4543
Very helpful, thank you @AldoGl.

[2022-07-26 09:32] drvinceknight commented on #4543
@rickecon @igarizio @Athene-ai @seyhunsaral I'm pinging you to ask if you would be able to assist with reviewing this submissions to JOSS (The Journal of Open Source Software).

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: “Black-it: A Ready-to-Use and Easy-to-Extend Calibration Kit for Agent-based Models”. You can find more informat

[2022-07-26 09:33] enekomartinmartinez commented on #4329
I have merged PySD 3.5.0 on paper_pysd branch. There are no changes on the paper, only bug fixes and support for new functions.

[2022-07-26 09:35] drvinceknight commented on #4509
Nothing more for you to do @Jacks0nJ, I'm still looking for a second reviewer.

Thanks for the awesome review work @CFGrote, note that once I have a second reviewer an actual review issue will be opened. I'll go ahead and tick off the checkboxes that will appear there.

[2022-07-26 09:43] Athene-ai commented on #4543
@drvinceknight I am very happy to serve as reviewer

[2022-07-26 09:50] drvinceknight commented on #4543
Thank you @Athene-ai!

Once I have a second reviewer I will start the review process.

[2022-07-26 09:50] drvinceknight commented on #4543
@editorialbot add @Athene-ai as reviewer

[2022-07-26 09:50] agrecounisa commented on #4570
Yes, I can review it

[2022-07-26 09:57] mcasl commented on #4570
With great pleasure!

[2022-07-26 10:02] arfon commented on #4394
@RemiSoummer @anand0xff @tomasstolker @jlustigy @blacy – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is [_VIP: A Python package for high-contrast imaging_](https://github.com/vortex-exopla

[2022-07-26 10:04] drvinceknight commented on #4509
@editorialbot add @geraintpalmer as reviewer

[2022-07-26 10:05] drvinceknight commented on #4509
This is the paper I was just talking to you about @geraintpalmer.

[2022-07-26 10:06] drvinceknight commented on #4509
@editorialbot start review

[2022-07-26 10:06] editorialbot opened #4607 "[REVIEW]: PyFPT: A Python package for first-passage times"
**Submitting author:** @Jacks0nJ (<a href="http://orcid.org/0000-0002-1564-1607">Joseph Jackson</a>)
**Repository:** https://github.com/Jacks0nJ/PyFPT
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.2.1
**Editor:** @drvinceknight
**Reviewers:** @CFGrote, @geraintpalmer
**Archive:** 10.5281/zenodo.7436767

## Status

[![status](https://joss.theoj.org/papers/771dacf123576f6d5e3

[2022-07-26 10:06] #4509 closed

[2022-07-26 10:06] drvinceknight commented on #4509
The review will take place on #4607, I know @geraintpalmer that you're heading on leave but thank you for accepting.

[2022-07-26 10:08] siavash-saki commented on #4580
@Kevin-Mattheus-Moerman

The new features are introduced in v0.1.0 for doing Clustering analysis. The section "`06 Clustering Urban Areas`" in the documentation is added in v0.1.0 to showcase how one can use tesspy to discretize and cluster city areas. These clusters can represent, for example, functional zones such as residential area, central business district (CBD), etc. However, the final inte

[2022-07-26 10:11] storyetfall commented on #4561
I'm in a similar position! (Though more likely to submit after the weekend.)

[2022-07-26 10:21] hwloidl opened #4608 "@editorialbot commands"
STOP STOP STOP STOP STOP
STOP STOP STOP STOP STOP
👇 ================================== 👇

Issues in this repository are automatically generated by the journal submission system. DO NOT FILE ISSUES HERE.

If you have a question about JOSS then please open an issue on the main JOSS repository: https://github.com/openjournals/joss

☝ ================================== ☝

THANKS FOR NOT OPENING AN ISS

[2022-07-26 10:21] #4608 closed

[2022-07-26 10:29] hwloidl opened #4609 "@editorialbot generate my checklist"
STOP STOP STOP STOP STOP
STOP STOP STOP STOP STOP
👇 ================================== 👇

Issues in this repository are automatically generated by the journal submission system. DO NOT FILE ISSUES HERE.

If you have a question about JOSS then please open an issue on the main JOSS repository: https://github.com/openjournals/joss

☝ ================================== ☝

THANKS FOR NOT OPENING AN ISS

[2022-07-26 10:29] #4609 closed

[2022-07-26 10:30] mattpitkin commented on #4568
@GregoryAshton Thanks for spotting the typo. I'll get that fixed.

I think the appropriate reference for the ephemeris file format is the Tempo2 [manual](https://www.jb.man.ac.uk/~pulsar/Resources/tempo2_manual.pdf). I'll add a link to that. I can also add to the documentation explicit information about the required parameters that must be in a par file for CWInPy.

[2022-07-26 10:31] PaulDebus commented on #4569
@asitha-sena thanks for addressing my concerns and updating the README in a way that helps people with the same confusion I had. Therefore, I can finish my review.

The collaboration on the review was enjoyable and I am confident you will provide the same support for users of the software if any issues should arise. Further, I learned about some interesting tools and formats, which I liked.

@jedb

[2022-07-26 10:32] hwloidl commented on #4592
@editorialbot generate my checklist

[2022-07-26 10:51] Kevin-Mattheus-Moerman commented on #4584
@editorialbot assign @faroit as editor

[2022-07-26 12:00] simonom commented on #4326
Thanks @dkauf42, all my checkboxes are now ticked.  @dhhagan, I recommend publication in JOSS.

[2022-07-26 12:05] slayoo commented on #4326
@dhhagan, same here - I recommend publication in JOSS.

[2022-07-26 12:55] Kevin-Mattheus-Moerman commented on #4586
@Ajstros it looks like most editors in this domain are currently handling other submission. I have therefore waitlisted this submission for the moment. We will assign an editor when one becomes available.

[2022-07-26 12:56] Kevin-Mattheus-Moerman commented on #4586
@jarvist would this work be too far off topic for you to handle as editor?

[2022-07-26 12:58] thomaspinder commented on #4455
@editorialbot check references

[2022-07-26 13:01] thomaspinder commented on #4455
@editorialbot check references

[2022-07-26 13:03] thomaspinder commented on #4455
@editorialbot generate pdf

[2022-07-26 13:03] jarvist commented on #4586
A bit too far away I'm afraid; sounds like more of a job for an electrical engineer, or at least an expt physicist who does a lot of hardware interaction.

[2022-07-26 13:09] thomaspinder commented on #4455
@editorialbot check references

[2022-07-26 13:11] thomaspinder commented on #4455
@editorialbot generate pdf

[2022-07-26 13:11] mattpitkin commented on #4568
@editorialbot generate pdf

[2022-07-26 13:12] mattpitkin commented on #4568
@GregoryAshton I've added a section to the documentation about the parameter file specification https://cwinpy.readthedocs.io/en/latest/pipelines.html#source-parameter-specification. I've also linked to this in the paper and added a reference to the Tempo2 manual.

[2022-07-26 13:14] thomaspinder commented on #4455
Thanks for catching that @kyleniemeyer. All the DOIs should be accounted for now, including arXiv references.

[2022-07-26 13:28] hwloidl commented on #4592
@editorialbot commands

[2022-07-26 13:28] hwloidl commented on #4592
@editorialbot generate pdf

[2022-07-26 13:58] wouterpeere commented on #4406
@editorialbot generate pdf

[2022-07-26 14:13] hwloidl commented on #4592
@danielskatz see some general reviewing questions that I just sent in a separate email; there still seems to be a problem with generating the .pdf for the paper (above)

[2022-07-26 14:13] sara-02 commented on #4493
@editorialbot generate my checklist

[2022-07-26 14:16] wouterpeere commented on #4406
@editorialbot generate pdf

[2022-07-26 14:17] Athene-ai commented on #4493
my review will be ready for next week

[2022-07-26 14:18] danielskatz commented on #4592
I'm on vacation, and am not sure I saw your email - can you resend it?

Diving into the error message above, it still gets to

Problem with ORCID (0000−0001−7734−1258) for Raymond Namyst. ORCID looks malformed (Theoj::Error)

And it still looks to me like all of the dashes are endashes `−` rather than hyphens `-`.

Try changing it to `0000-0001-7734-1258`

[2022-07-26 14:20] danielskatz commented on #4592
Another problem is that this work is being done in a gitlab instance that is limited to INRIA and collaborators, so community members cannot open issues or make pull requests.

[2022-07-26 14:24] editorialbot opened #4610 "[PRE REVIEW]: quadcleanR: An R Package for the Cleanup and Visualization of Quadrat Data"
**Submitting author:** @DominiqueMaucieri (<a href="http://orcid.org/0000-0003-1849-2472">Dominique G. Maucieri</a>)
**Repository:** https://github.com/DominiqueMaucieri/quadcleanR
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @fboehm
**Reviewers:** @ViniciusBRodrigues, @diazrenata
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.or

[2022-07-26 15:02] diehlpk commented on #4570
@editorialbot add @mcasl as reviewer

[2022-07-26 15:02] diehlpk commented on #4570
@editorialbot add @estefaniatalavera as reviewer

[2022-07-26 15:03] diehlpk commented on #4570
@editorialbot start review

[2022-07-26 15:03] editorialbot opened #4611 "[REVIEW]: fseval: A Benchmarking Framework for Feature Selection and Feature Ranking Algorithms"
**Submitting author:** @dunnkers (<a href="http://orcid.org/0000-0003-3304-3800">Jeroen Gerard Sebastiaan Overschie</a>)
**Repository:** https://github.com/dunnkers/fseval
**Branch with paper.md** (empty if default branch): paper
**Version:** 3.1.0
**Editor:** @diehlpk
**Reviewers:** @mcasl, @estefaniatalavera
**Archive:** 10.5281/zenodo.7343417

## Status

[![status](https://joss.theoj.org/papers

[2022-07-26 15:03] #4570 closed

[2022-07-26 15:14] omtazi commented on #4211
Hello, I wrote a synthesis of the comments I had on the code and the article. Let me know if you need anything else.

FlexWingROM is a useful Matlab framework that allows to model flexible wings. The paper clearly gives context on the need that the code aims at responding and that motivates this work, and pedagogically explains the approach adopted to contribute to the field of aeroelastic reduce-