[2020-10-25 18:19] whedon commented on #2166
PDF failed to compile for issue #2166 with the following error:

 Can't find any papers to compile :-(

[2020-10-25 18:20] kyleniemeyer commented on #2166
@whedon generate pdf from branch paper-branch

[2020-10-25 18:20] whedon commented on #2166
[code]

[2020-10-25 18:21] usethedata commented on #2483
Minor issue with paper bibliography case.  Fix proposed in https://github.com/alan-turing-institute/monitoring-ecosystem-resilience/pull/481

[2020-10-25 18:21] whedon commented on #2166
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02166/joss.02166/10.21105.joss.02166.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02166/joss.02166/10.21105.joss.02166.pdf) :page_facing_up: :point_left:

[2020-10-25 18:21] fcooper8472 commented on #2645
@arfon  I'm having problems configuring with CMake on Ubuntu 20.04.  I realise there aren't any specific instructions for 20.04, but the problematic dependency is identical to that on 18.04, so perhaps I'm missing something:

I'm following [these instructions](https://github.com/BioGearsEngine/core/wiki/Using-Ubuntu-package-system):

[code]

But get, when running CMake:

[code]

I see that ultimat

[2020-10-25 18:21] kyleniemeyer commented on #2166
@whedon accept deposit=true from branch paper-branch

[2020-10-25 18:21] whedon commented on #2166
[code]

[2020-10-25 18:22] whedon commented on #2166
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1320430666115358721) 👈 🐦🐦🐦

[2020-10-25 18:22] whedon commented on #2166
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1856
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02166](https://doi.org/10.21105/joss.02166)
2. If everything looks g

[2020-10-25 18:40] arfon commented on #2645
@ajbaird - I think this question is actually for you :-)

[2020-10-25 18:42] usethedata commented on #2483
An observation for the team @crangelsmith @samvanstroud is that the Azure messages feel annoying and are inconsistent with the structure of the other output.  For example, getting this output from the test run:

[code]

getting the azure_config.py message twice, and not as a (for example) `[INFO]` message feels off.  For that matter, why not have the default install be something that includes a `a

[2020-10-25 18:42] fcooper8472 commented on #2645
Aha yes, my bad!

[2020-10-25 18:42] gcdeshpande commented on #2506
@pmkruyen  Yes.. It works.

[2020-10-25 18:43] kyleniemeyer commented on #2166
Congrats @hvgazula on your article's publication in JOSS!

Many thanks to @gkiar and @yarikoptic for reviewing this, and @cMadan for editing.

[2020-10-25 18:43] #2166 closed

[2020-10-25 18:43] whedon commented on #2166
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02166/status.svg)](https://doi.org/10.21105/joss.02166)

**We need your help!**

Journal of Open Source Softwa

[2020-10-25 18:43] kyleniemeyer commented on #2674
Congrats @alexrockhill on your article's publication in JOSS!

Many thanks to @rougier, @rly, and @libertyh for reviewing this, and @oliviaguest for editing.

[2020-10-25 18:43] #2674 closed

[2020-10-25 18:43] whedon commented on #2674
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02674/status.svg)](https://doi.org/10.21105/joss.02674)

**We need your help!**

Journal of Open Source Softwa

[2020-10-25 18:44] kyleniemeyer commented on #2585
Congrats @elbeejay on your article's publication in JOSS!

Many thanks to @dbuscombe-usgs and @gassmoeller for reviewing this, and @kbarnhart for editing.

[2020-10-25 18:44] #2585 closed

[2020-10-25 18:44] whedon commented on #2585
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02585/status.svg)](https://doi.org/10.21105/joss.02585)

**We need your help!**

Journal of Open Source Softwa

[2020-10-25 18:47] gcdeshpande commented on #2506
@pmkruyen  is the user interface of an application available in English? Any plans of making the app multi-lingual.

[2020-10-25 18:48] miriammenzel commented on #2675
@kyleniemeyer: Thanks for letting me know. I have added a Statement of Need section at the end of our [paper](https://github.com/3d-pli/SLIX/blob/master/paper/paper.pdf) and corrected the citations in the first paragraph. Please let me know if everything is OK now.

[2020-10-25 18:50] ajbaird commented on #2645
Hi @fcooper8472 @arfon ! So I think there are two solutions to the issue you are having, you can opt to use the xsd version provided in the apt-get package manager, I think its called xsdcxx (we haven't tested using this but I think it'll probably work, the brew version works on macOS).

I feel like with our testing, we didn't need to configure cmake prefix paths to point to xsd on linux (when usi

[2020-10-25 18:54] usethedata commented on #2483
Regarding the state of the field question @arbennett raises:  I've read the section of the paper carefully and consulted with a couple of colleagues on the question.  The short answer is that I'm comfortable with this as presented.

The longer answer is that the ecosystem resilience is an application area as far as this paper is concerned.  The paper does not have an exhaustive list of references

[2020-10-25 19:10] Thyre commented on #2675
@whedon generate pdf

[2020-10-25 19:10] whedon commented on #2675
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: :point_left:

[2020-10-25 20:17] dhhagan commented on #2781
Sounds great @darothen!

[2020-10-25 20:20] pmkruyen commented on #2506
Hi @gcdeshpande, thanks for continuing the review.

At the moment, the only active survey is in Dutch (hence, the credentials I gave you 'direct' you to the Dutch survey). In principle, however, the app is multilingual. If you install the app on your own machine (e.g., laptop), the app is populated with an English sample survey [(see the installation instructions on the Wiki](https://github.com/pm

[2020-10-25 20:24] AngryMaciek commented on #2643
Hi @kyleniemeyer :)
Done in https://github.com/AngryMaciek/angry-moran-simulator/commit/431773d1872301f62dbdde76283988cf0fa8797e

[2020-10-25 20:25] fboehm commented on #2743
@whedon re-invite @raivivek as reviewer

[2020-10-25 20:25] whedon commented on #2743
OK, the reviewer has been re-invited.

@raivivek please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-25 20:25] fboehm commented on #2743
Sorry about that, @raivivek. I was away from email for much of the weekend.

Thanks again for your work on this! Please let me know how I can assist you.

[2020-10-25 20:26] oliviaguest commented on #2675
@Thyre can you merge and compile the PDF again with this change, please? https://github.com/3d-pli/SLIX/pull/16

[2020-10-25 20:30] oliviaguest commented on #2674
@rougier, @rly, @libertyh thank you for all your hard work and congratulations to  @alexrockhill! 😊

[2020-10-25 20:38] miriammenzel commented on #2675
@whedon generate pdf

[2020-10-25 20:39] whedon commented on #2675
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: :point_left:

[2020-10-25 20:51] arfon commented on #2564
Fixed.

[2020-10-25 20:51] poulson commented on #2444
Hi Nikos (@pitsianis) :wave:

It's been a few weeks since the other two reviewers completed their reviews and it looks like you have been busy with other work. Would you mind circling back to let the author know if there are any desired changes so that we can procede?

With Thanks,
Jack

[2020-10-25 20:52] oliviaguest commented on #2675
Oh, I think that "M." is errant in like "M. Axer, Amunts, et al., 2011", but maybe I'm wrong ? Either way that didn't fix it.

[2020-10-25 20:54] poulson commented on #2131
Hi Lachlan (@breezykermo). Yes, what Kristen (@kthyng) said. Please let us know if you feel qualified to provide constructive feedback on the software and domain of this paper.

[2020-10-25 20:55] alexrockhill commented on #2674
Thank you Nicolas, Ryan and Liberty for a super helpful review and Olivia for editing!! And Kyle for copy editing! 😊

[2020-10-25 21:15] csoneson commented on #1740
Thanks for letting us know @m-maheu-giroux - we will close this submission. Thanks a lot to @ellessenne and @seabbs for your time reviewing!

[2020-10-25 22:12] gkthiruvathukal commented on #2546
@arfon Yes, I'll get on it! Thanks for the gentle nudge.

[2020-10-25 22:14] gkthiruvathukal commented on #2546
@xirdneh  Can you let me know if you have decided whether you can participate as a reviewer for this submission?

[2020-10-25 22:16] gkthiruvathukal commented on #2752
@giodegas and  @traversaro, can you provide a brief update on the status of your reviews?

[2020-10-25 22:20] traversaro commented on #2752
Hi @gkthiruvathukal, I provided some preliminary comments to @vincentberenz on the installation procedure, that @vincentberenz addressed, now I need to install the software using the new docs, and play a bit with the examples to go forward with the review.

[2020-10-25 22:49] fcooper8472 commented on #2645
Thanks @ajbaird, got it working by unzipping the bz2 package and specifying `CMAKE_PREFIX_PATH`.  I then get a warning:

[code]

but can't see how to specify the boost location AND the XSD location using `CMAKE_PREFIX_PATH`.

Without boost, though, it seems to have configured and compiled fine.

[2020-10-25 22:51] sadielbartholomew commented on #2407
Hi @kbarnhart, I have a little time later tonight to have a look. I'll see how far I can get and let you know a new estimate after that.

I was seeing some errors (as per linked Issue above) that are probably related to issues in my environment, but I need to be that is the case before I can proceed. Until I fix those I can't test the functionality etc. properly. So that is what is holding me up.

[2020-10-25 23:59] kyleniemeyer commented on #2643
@whedon generate pdf

[2020-10-26 00:00] whedon commented on #2643
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02643/joss.02643/10.21105.joss.02643.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02643/joss.02643/10.21105.joss.02643.pdf) :page_facing_up: :point_left:

[2020-10-26 00:00] kyleniemeyer commented on #2643
@whedon accept deposit=true

[2020-10-26 00:00] whedon commented on #2643
[code]

[2020-10-26 00:01] whedon commented on #2643
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1320515913217617922) 👈 🐦🐦🐦

[2020-10-26 00:01] whedon commented on #2643
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1857
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02643](https://doi.org/10.21105/joss.02643)
2. If everything looks g

[2020-10-26 00:02] kyleniemeyer commented on #2675
@oliviaguest @miriammenzel I have seen behavior like that with combined citations that include the same surname, so I think it is ok and probably not (easily) changeable

[2020-10-26 00:02] kyleniemeyer commented on #2675
@whedon accept

[2020-10-26 00:02] whedon commented on #2675
[code]

[2020-10-26 00:03] whedon commented on #2675
[code]

[2020-10-26 00:03] kyleniemeyer commented on #2643
Congrats @AngryMaciek on your article's publication in JOSS!

Many thanks to  @xin-huang and @tkchafin for reviewing this, and @majensen for editing it.

[2020-10-26 00:03] #2643 closed

[2020-10-26 00:03] whedon commented on #2643
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02643/status.svg)](https://doi.org/10.21105/joss.02643)

**We need your help!**

Journal of Open Source Softwa

[2020-10-26 00:03] whedon commented on #2675
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1858

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1858, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-26 00:04] kyleniemeyer commented on #2675
@whedon accept deposit=true

[2020-10-26 00:04] whedon commented on #2675
[code]

[2020-10-26 00:05] whedon commented on #2675
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1320516804423331840) 👈 🐦🐦🐦

[2020-10-26 00:05] whedon commented on #2675
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1859
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02675](https://doi.org/10.21105/joss.02675)
2. If everything looks g

[2020-10-26 00:19] henrykironde commented on #2724
@fboehm the vignettes are in.

[2020-10-26 00:21] SuperKogito commented on #2167
This is very fair of you, I apologize for the long inactivity. I discussed this with the other contributor and we really like to try to close this -at the latest- by the end of November. We already implemented some of the requested changes, but didn't mention it in the issues yet. So my request is to give us a couple of more weeks as we work on the code and hopefully by November, this will be done

[2020-10-26 00:39] raivivek commented on #2743
Thanks @fboehm! No worries at all. It's working as expected now. On the same note, I have completed my first-round of reviews and have a few revisions for @greggj2016 to consider.

Overall, I think the software paper and documentation is well done. The code for the software can use some refactoring but it doesn't prohibit use in its current form. I have highlighted some of those specific suggestio

[2020-10-26 00:47] terrytangyuan commented on #2512
Hi @shibabrat @dawbarton @mdavezac @StanczakDominik @amritagos, would any of you be interested in reviewing this submission?

[2020-10-26 02:52] dpsanders commented on #2598
@davidjohannesmeyer Thanks for your review. Are you happy with the changes?

[2020-10-26 03:24] dpsanders commented on #2673
@Datseris @tamasgal I sent a few minor corrections to the paper.

Once that's done I think the paper is ready to accept!
Please archive it at Zenodo and let me know the version and DOI. You need to make sure that the title and author info in Zenodo match the paper exactly. Thanks!

[2020-10-26 03:25] dpsanders commented on #2678
Thanks @sp94, I think we're ready to proceed with publication!

[2020-10-26 03:25] dpsanders commented on #2678
@whedon accept

[2020-10-26 03:25] whedon commented on #2678
No archive DOI set. Exiting...

[2020-10-26 03:27] dpsanders commented on #2648
👋 @bjack205 and @thowell: Would either of you be able to review this submission for JOSS?

[2020-10-26 03:29] dpsanders commented on #2648
👋 @moorepants and @goerz: Would you be able to review this submission for JOSS?

[2020-10-26 03:30] dpsanders commented on #2678
@whedon commands

[2020-10-26 03:30] whedon commented on #2678
Here are some things you can ask me to do:

[code]

[2020-10-26 03:31] dpsanders commented on #2678
@whedon set 0.1.1 as version

[2020-10-26 03:31] cMadan commented on #2776
@kyleniemeyer, sure, I can take this one.

[2020-10-26 03:31] whedon commented on #2678
OK. 0.1.1 is the version.

[2020-10-26 03:31] dpsanders commented on #2678
@whedon set 10.5281/zenodo.4097236 as archive

[2020-10-26 03:31] cMadan commented on #2776
@whedon assign @cMadan as editor

[2020-10-26 03:31] whedon commented on #2678
OK. <a href="https://doi.org/10.5281/zenodo.4097236" target="_blank">10.5281/zenodo.4097236</a> is the archive.

[2020-10-26 03:31] whedon commented on #2776
OK, the editor is @cMadan

[2020-10-26 03:31] dpsanders commented on #2678
@whedon accept

[2020-10-26 03:31] whedon commented on #2678
[code]

[2020-10-26 03:31] whedon commented on #2678
[code]

[2020-10-26 03:32] cMadan commented on #2776
@ClaudioZandonella, do you have any suggestions for reviewers? (See initial comment in this issue.)

[2020-10-26 03:32] whedon commented on #2678
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1860

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1860, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-26 03:53] ablaom commented on #2704
cc @darenasc

[2020-10-26 05:12] lydialucchesi commented on #2409
@nuest, below is a link comparing the version that was reviewed (I pushed a few minor fixes after we submitted to JOSS and prior to your review) and the updated version of Vizumap.
https://github.com/lydialucchesi/Vizumap/compare/75628e…059c21d

Here is a link to the repository prior to the revisions.
https://github.com/lydialucchesi/Vizumap/tree/75628e28b79c52355b574e699688f53a0d9f284d

[2020-10-26 06:09] kyleniemeyer commented on #2675
Congrats @Thyre on your article's publication in JOSS!

Many thanks to @matteomancini, @rly, and @alexrockhill for reviewing this, and @oliviaguest for editing.

[2020-10-26 06:09] #2675 closed

[2020-10-26 06:09] whedon commented on #2675
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02675/status.svg)](https://doi.org/10.21105/joss.02675)

**We need your help!**

Journal of Open Source Softwa

[2020-10-26 06:15] kyleniemeyer commented on #2758
@0xCoto Unfortunately, the JOSS editors have decided that this submission does not meet the substantial scholarly effort criterion for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your work.

[2020-10-26 06:15] kyleniemeyer commented on #2758
@whedon reject

[2020-10-26 06:15] whedon commented on #2758
Paper rejected.

[2020-10-26 06:15] #2758 closed

[2020-10-26 06:16] kyleniemeyer commented on #2756
@trang1618 Unfortunately, the JOSS editors have decided that this submission does not meet the substantial scholarly effort criterion for review by JOSS, due to the close connection with the prior publication. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your w

[2020-10-26 06:16] kyleniemeyer commented on #2756
@whedon reject

[2020-10-26 06:16] whedon commented on #2756
Paper rejected.

[2020-10-26 06:16] #2756 closed

[2020-10-26 06:17] kyleniemeyer commented on #2753
@matloff Unfortunately, the JOSS editors have decided that this submission does not meet the substantial scholarly effort criterion for review by JOSS; while useful, it is quite small. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your work.

[2020-10-26 06:17] kyleniemeyer commented on #2753
@whedon reject

[2020-10-26 06:17] whedon commented on #2753
Paper rejected.

[2020-10-26 06:17] #2753 closed

[2020-10-26 06:18] kyleniemeyer commented on #2742
@CJMvS Unfortunately, the JOSS editors have decided that this submission does not meet the substantial scholarly effort criterion for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your work.

[2020-10-26 06:18] kyleniemeyer commented on #2742
@whedon reject

[2020-10-26 06:18] whedon commented on #2742
Paper rejected.

[2020-10-26 06:18] #2742 closed

[2020-10-26 06:18] kyleniemeyer commented on #2723
@kordk Unfortunately, the JOSS editors have decided that this submission does not meet the substantial scholarly effort criterion for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your work.

[2020-10-26 06:18] kyleniemeyer commented on #2723
@whedon reject

[2020-10-26 06:18] whedon commented on #2723
Paper rejected.

[2020-10-26 06:18] #2723 closed

[2020-10-26 06:21] kyleniemeyer commented on #2775
@whedon invite @bmcfee as editor

Hey @bmcfee, could you edit this submission?

[2020-10-26 06:21] whedon commented on #2775
@bmcfee has been invited to edit this submission.

[2020-10-26 06:31] kyleniemeyer commented on #2344
Hi @Adamoso - unfortunately, the JOSS editors have decided that this submission does not meet the substantial scholarly effort criterion for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your work.

[2020-10-26 06:31] kyleniemeyer commented on #2344
@whedon reject

[2020-10-26 06:31] whedon commented on #2344
Paper rejected.

[2020-10-26 06:31] #2344 closed

[2020-10-26 06:51] jni commented on #2578
Hi all! As per usual, no pressure from me, but just want to make sure things are chugging along and that no one needs help unblocking something!

[2020-10-26 06:54] mikldk commented on #2630
@nistara, @adithirgis: Can you confirm that you have finished the review and recommend that this paper is now published?

@VincentAlcazer:

* In the paper you have "Compared to other free similar software, StatAid has been designed to quickly produce publication-ready graph and table by guiding the user through their data analysis and providing multiple graph customization options."
   + To me it

[2020-10-26 06:54] tomaslaz commented on #2474
@fboehm - apologies for taking our time addressing the concerns. @OscartGiles, any updates?

[2020-10-26 06:56] mikldk commented on #2763
@gagolews, @brunaw:  Can you confirm that you have finished the review and recommend that this paper is now published?

@assignUser:

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readthedocs.i

[2020-10-26 06:57] mikldk commented on #2722
@xin-huang: What is the status with your review?

[2020-10-26 07:19] pitsianis commented on #2444
Yes I will wrap it up, as soon as possible.

[2020-10-26 07:27] moorepants commented on #2648
@dpsanders Sorry, I can't. I'm still reviewing another JOSS paper.

[2020-10-26 07:47] ellessenne commented on #1740
No worries!
Happy to re-review this once it gets resubmitted! 😃

[2020-10-26 07:50] timtroendle commented on #2715
Hello Max, thanks for coming back! We started the review with two reviewers, but if there is still a need closer towards December, I may come back to you.

[2020-10-26 08:17] holtgrewe commented on #1584
@arfon thanks for the warning, it's actually on my calendar for *today*

[2020-10-26 08:20] martin-millon commented on #2654
Thanks  !

[2020-10-26 08:40] lbrea commented on #2705
@Kevin-Mattheus-Moerman I've finished my review (see further comments above). The package looks great to me, and I would recommend acceptance.

[2020-10-26 08:46] AngryMaciek commented on #2643
Thank you very much @majensen @xin-huang @tkchafin for all your work and help!

[2020-10-26 08:49] JanCBrammer commented on #2621
@oliviaguest, I released a new version ([v.1.4.1](https://github.com/JanCBrammer/biopeaks/releases/tag/v1.4.1)) containing the improvements related to this review. I've then deposited the repository at [10.5281/zenodo.4133324](http://doi.org/10.5281/zenodo.4133324).

[2020-10-26 09:24] Datseris commented on #2673
Hi @dpsanders thanks for the improvements to the paper.

Here is the Zenodo DOI: [10.5281/zenodo.4133570 ](https://zenodo.org/account/settings/github/repository/JuliaDynamics/DrWatson.jl#)

The only problem is, I don't know how to do this... I didn't find a way in the website to alter the archived Zenodo information (and Zenodo archives GitHub repositories automatically). Do I have to make a manua

[2020-10-26 09:24] OscartGiles commented on #2474
Dear @fboehm and @tomaslaz - I'm planning to work through these this week so we should have a response soon. All the best.

[2020-10-26 09:36] adithirgis commented on #2630
Hi all!

I confirm that I have reviewed the paper and I recommend to publish this. All the best @VincentAlcazer! StatAid is an amazing and useful software.

Though I am not a good English language speaker/ user, but I do feel that the first point of plural usage seems correct.

Thanks so much again for inviting me!

Regards and Stay Safe
Adithi

[2020-10-26 09:41] hemanthpruthvi commented on #2693
@mwcraig Thank you very much for the review and the offer to help.

1. I very much agree with you, and with @aquilesC and @caldarolamartin  as well, regarding the installability.  I absolutely intended/intend to have a ``setup.py`` so that the users can install the package by simply using ``pip``, like all other packages. The reason it is not there at the moment is something to do with the *user d

[2020-10-26 10:33] ngoiz commented on #2588
Hi @kyleniemeyer, happy to help out and review this for JOSS!

[2020-10-26 10:40] brunaw commented on #2763
@mikldk Yes

[2020-10-26 11:02] assignUser commented on #2763
@whedon generate pdf from branch joss-submission

[2020-10-26 11:02] whedon commented on #2763
[code]

[2020-10-26 11:03] whedon commented on #2763
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: :point_left:

[2020-10-26 11:20] aquilesC commented on #2693
@hemanthpruthvi , what you mention does not have a unique answer, it will depend a bit on what you expect the users to achieve. There are two things you can do. One is, during installation create a folder in the $HOME directory (or create it the first time the package runs) and put the examples and materials in that folder, so the user can easily modify them.

You can also use a variable (environm

[2020-10-26 11:50] csoneson commented on #2706
ping @emilydolson

[2020-10-26 11:55] goerz commented on #2648
I can, but I’m pretty busy this week. If next week is ok, then yes

[2020-10-26 12:10] majensen commented on #2643
@AngryMaciek congrats- It's a nice application and an interesting paper. Thanks for choosing JOSS!

[2020-10-26 12:42] trang1618 commented on #2756
@kyleniemeyer Thanks for taking a look!

[2020-10-26 12:44] assignUser commented on #2763
@whedon generate pdf from branch joss-submission

[2020-10-26 12:44] whedon commented on #2763
[code]

[2020-10-26 12:45] whedon commented on #2763
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: :point_left:

[2020-10-26 12:45] VivianePons commented on #2779
I'm having a look at the paper regarding the scope query requested by @kyleniemeyer . Is it normal that the paper is extremely short? The Github pdf only contains a "Summary" and "Acknowledgments" sections, it seems rather incomplete and I wonder if this is an involuntary mistake

[2020-10-26 12:53] trallard commented on #2562
@whedon check references

[2020-10-26 12:54] whedon commented on #2562
[code]

[2020-10-26 12:59] trallard commented on #2562
Thanks for your review and contribution to JOSS @abhishektha this is much appreciated

---
@pariterre your paper is needing an explicit [Statemen t of Need](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) section.
I know this is pretty much covered in the Summary section, but we are now requesting for this to be a separate section for al JOSS papers

[2020-10-26 13:01] trallard commented on #1917
@alexanderfurnas I am planning to complete my review today/tomorrow is there any chance you can update us on your status?

[2020-10-26 13:01] trallard commented on #1917
@whedon generate pdf

[2020-10-26 13:01] trallard commented on #1917
@whedon check references

[2020-10-26 13:03] dmey commented on #2779
@VivianePons thanks for looking into this. My understanding is that the summary paper needs to be very short -- abstract like -- as it is meant only as summary of the motivation and purpose of the tool and because the purpose of the review is to review the software rather than paper as done in more traditional journals. I have checked again at https://joss.readthedocs.io/en/latest/submitting.html

[2020-10-26 13:03] whedon commented on #1917
[code]

[2020-10-26 13:03] whedon commented on #1917
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.01917/joss.01917/10.21105.joss.01917.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.01917/joss.01917/10.21105.joss.01917.pdf) :page_facing_up: :point_left:

[2020-10-26 13:03] trallard commented on #1917
@whedon generate pdf

[2020-10-26 13:05] whedon commented on #1917
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.01917/joss.01917/10.21105.joss.01917.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.01917/joss.01917/10.21105.joss.01917.pdf) :page_facing_up: :point_left:

[2020-10-26 13:12] trallard commented on #1917
@AustinNar I have opened a couple of issues in the repo

Also I have emailed Alexander to check the status of his review. Shall he not be able to complete it I can find another reviewer to expedite this submission

[2020-10-26 13:20] 0xCoto commented on #2758
@kyleniemeyer - Thank you very much for taking the time to evaluate the work.

Could you please further elaborate on why the submission does not meet the substantial scholarly effort criterion? If the problem is the fact that the code has <1000 LOC, would you consider a resubmission with the implementation of additional features that would lead to this standard being fulfilled?

Lastly, I would li

[2020-10-26 13:23] valeriewelborn commented on #2576
Done @kyleniemeyer. Thanks

[2020-10-26 13:24] fboehm commented on #2724
Thanks so much, @henrykironde ! I'll now search for reviewers. Once I find them, we can begin the official review.

[2020-10-26 13:32] ClaudioZandonella commented on #2776
@cMadan, thanks for accepting being the editor.
I list below possible reviewers:
 - mmrabe
 - lindemann09
 - jacobsoj

Let me know if more names are needed.
Thanks!

[2020-10-26 13:36] VivianePons commented on #2779
Indeed, papers are rather short but they are still a bit more furnished. Look at our example paper: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

In particular, papers should contain a "Statement of need" which is missing in your case. You can also have some other sections such as "Features", "Examples"

You can browse through our recent publications to give

[2020-10-26 13:40] lskatz commented on #2334
@whedon generate pdf

[2020-10-26 13:41] whedon commented on #2334
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02334/joss.02334/10.21105.joss.02334.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02334/joss.02334/10.21105.joss.02334.pdf) :page_facing_up: :point_left:

[2020-10-26 13:42] kthyng commented on #2497
@castelao We need to hear back from you in this review! What is your review status?

[2020-10-26 13:42] lskatz commented on #2334
This new PDF just reflects the co-first author labels.  https://github.com/lskatz/SneakerNet/commit/0b0b84e182820dc20652a289a533e84c3a934009

[2020-10-26 13:43] leouieda commented on #2696
Thank you for the update @seisman 🙂

[2020-10-26 13:44] kthyng commented on #2713
@gaelforget Still waiting to hear back from you about reviewer suggestions too.

[2020-10-26 13:45] tylunel commented on #2637
The release version is v1.0.0 (https://github.com/tylunel/pvpumpingsystem/releases/tag/v1.0.0) and the DOI of the archive version is 10.5281/zenodo.4134280 (https://zenodo.org/record/4134280).

[2020-10-26 13:45] kthyng commented on #2736
@marvinjonathcn: are you interested in reviewing this submission to JOSS? Reviews for JOSS are open on github and are checklist-driven. As you find items to bring up in the review process, you open issues to the software repository itself, link to the review issue, and explain the comment. We're asking for reviews within 5-6 weeks, a long timeline due to the pandemic. You can find more information

[2020-10-26 13:46] kthyng commented on #2762
Ok! Looks good now! We can wrap this up.

[2020-10-26 13:47] kthyng commented on #2762
@whedon set 10.5281/zenodo.4076183 as archive

[2020-10-26 13:47] whedon commented on #2762
OK. <a href="https://doi.org/10.5281/zenodo.4076183" target="_blank">10.5281/zenodo.4076183</a> is the archive.

[2020-10-26 13:47] kthyng commented on #2762
@whedon accept

[2020-10-26 13:47] whedon commented on #2762
[code]

[2020-10-26 13:47] whedon commented on #2762
[code]

[2020-10-26 13:48] whedon commented on #2762
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1861

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1861, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-26 13:49] AnaWaldila commented on #2548
@asmusskar, thank you to modify all topics of revision. Only 3 other topics I need that you modify, but in this case, are details.

- In repository <https://github.com/asmusskar/ALVA> and in paper <https://github.com/asmusskar/ALVA/blob/master/paper.md>, the topic "Main input parameters" presents the Figure 2 and their description.  This descritption presents "Poisson’s ratio Νn" and Figure 2 show

[2020-10-26 13:51] kthyng commented on #2762
@whedon accept deposit=true

[2020-10-26 13:51] whedon commented on #2762
[code]

[2020-10-26 13:51] dmey commented on #2779
@VivianePons many thanks for clarifying this, please allow me to make the necessary changes as advised.

[2020-10-26 13:52] whedon commented on #2762
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1320724942388944896) 👈 🐦🐦🐦

[2020-10-26 13:52] whedon commented on #2762
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1862
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02762](https://doi.org/10.21105/joss.02762)
2. If everything looks g

[2020-10-26 13:55] StanczakDominik commented on #2512
Hey, sorry, but I don't feel well-versed enough in classical ML methods to really be of any use here - and I'm kind of swamped atm, so I have to pass :(

Good luck!

[2020-10-26 13:55] danielskatz commented on #2779
@whedon check references from branch joss-paper

[2020-10-26 13:55] whedon commented on #2779
[code]

[2020-10-26 13:55] whedon commented on #2779
[code]

[2020-10-26 13:57] kthyng commented on #2762
Congrats on your JOSS submission @richelbilderbeek!

[2020-10-26 13:57] #2762 closed

[2020-10-26 13:57] whedon commented on #2762
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02762/status.svg)](https://doi.org/10.21105/joss.02762)

**We need your help!**

Journal of Open Source Softwa

[2020-10-26 13:58] oliviaguest commented on #2621
@whedon set 10.5281/zenodo.4133324 as archive

[2020-10-26 13:58] whedon commented on #2621
OK. <a href="https://doi.org/10.5281/zenodo.4133324" target="_blank">10.5281/zenodo.4133324</a> is the archive.

[2020-10-26 13:58] oliviaguest commented on #2621
@whedon set v1.4.1 as version

[2020-10-26 13:58] whedon commented on #2621
OK. v1.4.1 is the version.

[2020-10-26 13:59] oliviaguest commented on #2621
@whedon generate pdf

[2020-10-26 14:00] VivianePons commented on #2779
In particular,  I would like to understand what your software adds specifically in terms of implementation. Considering the small amount of code, we might fear that it is mainly a python wrapper to some other tools like vinecopulib. Could you give us some information regarding this aspect?

[2020-10-26 14:00] whedon commented on #2621
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02621/joss.02621/10.21105.joss.02621.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02621/joss.02621/10.21105.joss.02621.pdf) :page_facing_up: :point_left:

[2020-10-26 14:02] oliviaguest commented on #2670
👋 @katjaq @r03ert0 👋

Just a little bump for this review thread: is everything going OK?

[2020-10-26 14:02] dfm commented on #2550
@Jammy2211: I wanted to send an update here. @eteq has also stopped responding to my emails so I'm in the process of finding a new second reviewer. Thanks for your patience!

[2020-10-26 14:03] Jammy2211 commented on #2550
No problem! :)

[2020-10-26 14:04] oliviaguest commented on #2621
@whedon check references

[2020-10-26 14:04] whedon commented on #2621
[code]

[2020-10-26 14:05] oliviaguest commented on #2621
@whedon accept

[2020-10-26 14:05] whedon commented on #2621
[code]

[2020-10-26 14:05] oliviaguest commented on #2621
@JanCBrammer does this all look good to you (the final PDF, etc.)?

[2020-10-26 14:06] whedon commented on #2621
[code]

[2020-10-26 14:06] whedon commented on #2621
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1863

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1863, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-26 14:07] lpantano commented on #2334
Thank you @lfaller, and @lskatz for the quick reply. @erinyoung, can you take a look and update your review? thanks!

[2020-10-26 14:18] pariterre commented on #2562
@trallard
Hi! Thanks for reviewing, that is really appreciated. There is a section called "The need for `biorbd`" Do you mean that I must add another one or just that the section's name should be "Statement of need"?

[2020-10-26 14:26] sadielbartholomew commented on #2407
I'll finish my review by Wednesday morning (UK time). Thanks again to all for your patience.

[2020-10-26 14:33] JanCBrammer commented on #2621
@oliviaguest, the final article proof looks good to me!

[2020-10-26 14:37] holtgrewe commented on #1584
Dear all (in particular @olgabot and @arfon),

we're reallly sorry about the long delay but we got derailed by the usual and unusual things in academia...

Anyway, I think the main point to drive forward is:

- https://github.com/bihealth/sodar_core/issues/11

and our current planned change is

- https://github.com/bihealth/sodar_core/pull/14

There also is the raised point [#12](https://github.co

[2020-10-26 14:44] kescobo commented on #2673
@Datseris once you've linked the repo to Zenodo, every time you make a release (a github release, which may or may not happen automatically depending on your bots) it will automatically archive it

[2020-10-26 14:47] Datseris commented on #2673
Yes I have done this. But David has some additional requirements regarding author info and paper title _in Zenodo_. I do not see this info somewhere at the moment...

[2020-10-26 14:57] kbarnhart commented on #2407
No problem @sadielbartholomew thanks for the update.

[2020-10-26 14:58] kbarnhart commented on #2637
@whedon set v1.0.0 as version

[2020-10-26 14:58] whedon commented on #2637
OK. v1.0.0 is the version.

[2020-10-26 14:58] kbarnhart commented on #2637
@whedon set 10.5281/zenodo.4134280 as archive

[2020-10-26 14:58] whedon commented on #2637
OK. <a href="https://doi.org/10.5281/zenodo.4134280" target="_blank">10.5281/zenodo.4134280</a> is the archive.

[2020-10-26 14:59] kbarnhart commented on #2637
@whedon accept

[2020-10-26 14:59] whedon commented on #2637
[code]

[2020-10-26 14:59] whedon commented on #2637
[code]

[2020-10-26 14:59] kbarnhart commented on #2637
@tylunel this is now in the hands of the JOSS handling Editor in Chief who manages final publication.

[2020-10-26 15:00] whedon commented on #2637
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1864

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1864, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-26 15:07] kescobo commented on #2673
Ahh, sorry I missed that. I think that you can manually edit the title and authors of your last release, and then it will automatically keep the same ones going forward. So:

1. Click "uploads" in the top banner

[2020-10-26 15:11] ajbaird commented on #2645
Ok, yeah there should just be a check for the version of boost and we rely on a few optional parameters from 1.73, so as long as it compiled ok, I believe you are good to go! We are updating the wiki for your 20.04 build to mention unzipping the bz2 package instead of relying on the .deb package! Thanks for the input.

[2020-10-26 15:17] davekinkead commented on #2780
Hi @arfon I've completed a first pass and added issues on the software's issue page https://github.com/uluturki/social-annotate/issues.

If the author(s) could let me know when they have  addressed or clarified these, that would be 🥳 ... I'll have another look then.

[2020-10-26 15:18] fboehm commented on #2743
@raivivek - Thanks so much for your hard work on this! In future reviews, you can feel free to either list concerns in the review (like you've done here) and/or to open issues in the package submission repository. What you've done here is perfectly sufficient. Should you wish to open issues in the package repository, please be sure to link to them in the review.

I expect that the authors will app

[2020-10-26 15:20] fboehm commented on #2743
@greggj2016 - please reply to each of the comments from @raivivek as you revise the package. Please use this review thread to discuss and clarify any points that need elaboration. Thanks again!

[2020-10-26 15:23] kyleniemeyer commented on #2576
@whedon generate pdf

[2020-10-26 15:24] whedon commented on #2576
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02576/joss.02576/10.21105.joss.02576.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02576/joss.02576/10.21105.joss.02576.pdf) :page_facing_up: :point_left:

[2020-10-26 15:26] Datseris commented on #2673
Thanks so much @kescobo ! @dpsanders now everything is in order here: https://zenodo.org/record/4133570 !

[2020-10-26 15:26] kyleniemeyer commented on #2576
@valeriewelborn sorry, one more thing: the references in the first paragraph need a space between them and the preceding words.

[2020-10-26 15:27] fboehm commented on #2474
Thanks so much, @tomaslaz and @OscartGiles ! Please let me know if you have any questions, and please feel free to use this review thread to discuss and clarify the needed edits.

[2020-10-26 15:29] kyleniemeyer commented on #2758
@0xCoto the view from the editorial board was that the package was too small, and also somewhat minor in terms of utility. If you extended the functionality by adding more features, we would reconsider a new submission at a later point.

[2020-10-26 15:30] kyleniemeyer commented on #2588
@whedon add @ngoiz as reviewer

[2020-10-26 15:30] whedon commented on #2588
OK, @ngoiz is now a reviewer

[2020-10-26 15:39] assignUser commented on #2763
@mikldk @kgoldfeld The tagged release is https://github.com/kgoldfeld/simstudy/releases/tag/v0.2.2 archived on Zenodo with the DOI: https://doi.org/10.5281/zenodo.4134675
meta data should be correct.

[2020-10-26 15:40] davidjohannesmeyer commented on #2598
Yes!

Best, David

[2020-10-26 15:44] mwcraig commented on #2693
@hemanthpruthvi -- thanks for the explanation about #1, that makes much more sense. One suggestion (though I'm finishing out my review indicating this is ready to go) is to add a note to your README asking users to provide feedback on this.

[2020-10-26 15:47] kyleniemeyer commented on #2678
Hi @sp94, in processing your submission, I noticed that Figure 1 references the Zi et al. 2003 PNAS paper for the copyright for part of it. In general, one would need to obtain permission from a publisher for reusing a figure from a published article, unless shared under a CC BY (or similar) license which explicitly gives permission. According to [their policies](https://www.pnas.org/page/about/ri

[2020-10-26 15:54] galessiorob commented on #2697
@whedon assign @jdalzatec as reviewer

[2020-10-26 15:54] whedon commented on #2697
OK, @jdalzatec is now a reviewer

[2020-10-26 15:57] sp94 commented on #2678
Hi @kyleniemeyer, we contacted PNAS and they confirmed that publishing in the JOSS counts as non-commercial usage, and express permission isn't required so long as we include that copyright notice.

Here is their full reply:

[2020-10-26 16:02] galessiorob commented on #2697
@whedon add @omshinde as reviewer

[2020-10-26 16:02] whedon commented on #2697
OK, @omshinde is now a reviewer

[2020-10-26 16:03] galessiorob commented on #2697
@whedon add @nuest as reviewer

[2020-10-26 16:03] whedon commented on #2697
OK, @nuest is now a reviewer

[2020-10-26 16:03] galessiorob commented on #2697
@whedon add @martinfleis as reviewer

[2020-10-26 16:03] whedon commented on #2697
OK, @martinfleis is now a reviewer

[2020-10-26 16:04] kyleniemeyer commented on #2678
Great! Thanks for sharing that response.

[2020-10-26 16:06] kyleniemeyer commented on #2678
@whedon accept deposit=true

[2020-10-26 16:06] whedon commented on #2678
[code]

[2020-10-26 16:07] galessiorob commented on #2676
@whedon generate pdf

[2020-10-26 16:07] whedon commented on #2678
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1320759083197149185) 👈 🐦🐦🐦

[2020-10-26 16:07] whedon commented on #2678
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1865
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02678](https://doi.org/10.21105/joss.02678)
2. If everything looks g

[2020-10-26 16:08] whedon commented on #2676
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: :point_left:

[2020-10-26 16:11] kyleniemeyer commented on #2095
Hi @adam-m-jcbs, are you available to review this submission for JOSS?

[2020-10-26 16:12] nuest commented on #2736
@kthyng Sorry, I am just about to start another JOSS review and wouldn't be able to get to this even within the extended timeline.

@tscheypidi are you a JOSS reviewer yet?

[2020-10-26 16:15] kyleniemeyer commented on #2678
Congrats @sp94 on your article's publication in JOSS!

Many thanks to @mlxd and @nmoran for reviewing this, and @dpsanders for editing it.

[2020-10-26 16:15] #2678 closed

[2020-10-26 16:15] whedon commented on #2678
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02678/status.svg)](https://doi.org/10.21105/joss.02678)

**We need your help!**

Journal of Open Source Softwa

[2020-10-26 16:19] sara-02 commented on #2780
@davekinkead I guess we need an issue for documentation as well, covering the points ` t**he core functionality of the software documented to a satisfactory level (e.g., API method documentation)? and Example usage: Do the authors include examples of how to use the software (ideally to solve real-world analysis problems)**`. If you have not already covered them in the existing issues I can add one

[2020-10-26 16:20] amanchokshi commented on #2629
Hi @mbobra, there have been quite significant updates to the [Embers by Example](https://embers.readthedocs.io/en/latest/embersbyexample.html) section of the documentation.

Can you begin by updating to version 0.7.4 and deleting all the old files you may have created?

The instructions begin with downloading one day of sample data from a new data repository, which all the subsequent examples use.

[2020-10-26 16:23] diehlpk commented on #2514
@ketch I needed this information to accept the publication. Could you might provide it soonish?

[2020-10-26 16:23] jbuxt commented on #2483
@arbennett and @usethedata Thank you both for reviewing this over the weekend and for providing constructive and helpful comments.

I believe that @crangelsmith has approved the pull request to update the biblography and I will improve the Crystal ball reference. We will discuss as a group how best to address the rest of the comments in order to make some improvements.

[2020-10-26 16:25] xillig commented on #2507
Hi @kyleniemeyer,

thank you very much for your feedback. Unfortunatly, for the two references that have no DOIs now, there are none available to your knowledge. Appart from that, we have incorporated all of your suggested points. Please let us know if we can do anything else or move forward.

Thanks to everyone!

[2020-10-26 16:28] teuben commented on #2629
Just a suggestion on this test though:   is there no way you could make
this test run in a few minutes?  If a cosmological simulation takes 3
hours, you can either take fewer steps or a smaller grid, but it should
functionally give some answer (that can be compared to something given
as baseline result).  I'm not too happy that I would need to wait 3
hours on a test.

On 10/26/20 12:20 PM, Aman Ch

[2020-10-26 16:29] lpantano commented on #2638
Hey @marcrr, do you have an update on this? Thanks!

[2020-10-26 16:30] lpantano commented on #2638
Hey @chorscroft, can you comment on  @juanvillada comments? Thanks!

[2020-10-26 16:43] assignUser commented on #2763
@whedon generate pdf

[2020-10-26 16:43] assignUser commented on #2763
@whedon check references

[2020-10-26 16:44] whedon commented on #2763
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: :point_left:

[2020-10-26 16:44] whedon commented on #2763
[code]

[2020-10-26 16:45] dpsanders commented on #2678
Congrats @sp94!

Many thanks to @nmoran and @mlxd for the reviews, and to @kyleniemeyer for overseeing the process.

[2020-10-26 16:46] dpsanders commented on #2648
Ok thanks @moorepants.

Thanks @goerz, next week is great.

[2020-10-26 16:48] dpsanders commented on #2673
I'm now wondering if the title should be `DrWatson.jl: the...` instead of just `DrWatson`?

[2020-10-26 16:54] bradyrx commented on #2781
FYI, I fixed the missing DOI here: https://github.com/pangeo-data/climpred/pull/505. I'll implement any other changes requested from @darothen and @neerajdhanraj there as well (unless they're big enough to require separate PRs).

[2020-10-26 17:14] arokem commented on #2778
Yeah. I can take this one.

[2020-10-26 17:14] arokem commented on #2778
@whedon assign arokem as editor

[2020-10-26 17:14] whedon commented on #2778
OK, the editor is @arokem

[2020-10-26 17:18] chennachaos commented on #2588
Hi @kyleniemeyer. Thank you for the invitation!
Although I work on the Finite Element Method, the application area covered in this library is outside the scope of my expertise. So, I don't think I am adequately qualified to review this submission.

[2020-10-26 17:20] lnferris commented on #2497
If he does not come back, do we start over again?

[2020-10-26 17:20] arokem commented on #2778
👋 @snastase : Would you be willing to review this article for JOSS?

[2020-10-26 17:21] arokem commented on #2778
👋 @JonathanReardon : Would you be willing to review this article for JOSS?

[2020-10-26 17:23] kthyng commented on #2497
@lnferris haha, no don't worry. I reached out by email too and verified he'll be back soon.

[2020-10-26 17:25] fboehm commented on #2724
@whedon add @rmhogervorst as reviewer

[2020-10-26 17:25] whedon commented on #2724
OK, @rmhogervorst is now a reviewer

[2020-10-26 17:28] arbennett commented on #2483
@usethedata  - thanks for checking that. I'm happy to check the box then given your perspective. I'm also pretty new to reviewing for JOSS so I'm not always certain on the exact criteria. This is helpful though, thanks!

[2020-10-26 17:30] JonathanReardon commented on #2778
Hi @arokem, I'm happy to review this -- looks like a nice project. When would you want it completed by?

[2020-10-26 17:30] arokem commented on #2778
@vahid-sb : while we are waiting for reviewers to come on-board, a few comments from me:

- There are several other software libraries that do things that are closely related to what MiTfAT does. For example, [nilearn](https://nilearn.github.io/). I think that you will need to add a section to your paper describing previous similar work and describing the relationship between the present library a

[2020-10-26 17:31] arokem commented on #2778
@JonathanReardon : thanks for your quick response here! We usually aim to finish all parts of the review within six weeks, so if you think that you could turn around comments in two-three weeks, that would be ideal.

[2020-10-26 17:31] arokem commented on #2778
@whedon add @JonathanReardon as reviewer

[2020-10-26 17:31] whedon commented on #2778
OK, @JonathanReardon is now a reviewer

[2020-10-26 17:31] JonathanReardon commented on #2778
Yes, absolutely fine! thanks

[2020-10-26 17:38] sp94 commented on #2678
Great! Thanks @kyleniemeyer for overseeing, @dpsanders for editing (your comments in the prereview were really helpful), and @nmoran and @mlxd for reviewing!

[2020-10-26 17:43] kyleniemeyer commented on #2507
@whedon generate pdf

[2020-10-26 17:43] whedon commented on #2507
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02507/joss.02507/10.21105.joss.02507.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02507/joss.02507/10.21105.joss.02507.pdf) :page_facing_up: :point_left:

[2020-10-26 17:47] kyleniemeyer commented on #2507
@whedon set 10.5281/zenodo.4133399 as archive

[2020-10-26 17:47] whedon commented on #2507
OK. <a href="https://doi.org/10.5281/zenodo.4133399" target="_blank">10.5281/zenodo.4133399</a> is the archive.

[2020-10-26 17:48] kyleniemeyer commented on #2507
@whedon accept

[2020-10-26 17:48] whedon commented on #2507
[code]

[2020-10-26 17:48] whedon commented on #2507
[code]

[2020-10-26 17:49] whedon commented on #2507
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1866

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1866, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-26 17:51] kyleniemeyer commented on #2507
@whedon accept deposit=true

[2020-10-26 17:51] whedon commented on #2507
[code]

[2020-10-26 17:52] whedon commented on #2507
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1320785306283614211) 👈 🐦🐦🐦

[2020-10-26 17:52] whedon commented on #2507
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1867
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02507](https://doi.org/10.21105/joss.02507)
2. If everything looks g

[2020-10-26 17:54] kyleniemeyer commented on #2507
Congrats @xillig on your article's publication in JOSS!

Many thanks to @sara-02 , @linuxscout, and @aozorahime for reviewing this submission, and @trallard for editing it.

[2020-10-26 17:54] #2507 closed

[2020-10-26 17:54] whedon commented on #2507
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02507/status.svg)](https://doi.org/10.21105/joss.02507)

**We need your help!**

Journal of Open Source Softwa

[2020-10-26 18:06] asmusskar commented on #2548
Thanks @AnaWaldila, the modifications proposed have now been implemented.

[2020-10-26 18:28] ajjackson commented on #2671
Re:

I find that the introductory paragraph in the README and landing page of the documentation does a good job of outlining the scope and problems. However, it may not be so obvious who the target audience is. The _tutorials_ do repeatedly reiterate that users are expected to have some experience of lattice dynamics and/or molecular dynamics simulations. I worry that a naive user (or, say, a supe

[2020-10-26 18:49] arfon commented on #2580
@whedon generate pdf

[2020-10-26 18:50] whedon commented on #2580
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02580/joss.02580/10.21105.joss.02580.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02580/joss.02580/10.21105.joss.02580.pdf) :page_facing_up: :point_left:

[2020-10-26 18:51] ajjackson commented on #2671
I have completed tutorials up to the Fireworks part. This will require a bit more configuration to check, I'm afraid.

Re:

There are quite a few aspects to the documentation here.
- The command-line tool, with autocompletion, has a useful inbuilt help capability
- The tutorials are of decent quality (I hit a couple of pain-points that I have yet to report on gitlab, but they're not a big deal.)
-

[2020-10-26 19:07] marshallmcdonnell commented on #2767
@Kokookster really like your software package, see it as one of many needs to bring web-based solutions in the materials modeling and simulation domain! Great documentation and clean website design, very intuitive. I have went ahead and opened the following issues in the GIMS repository for my request of minor revisions. Besides that, I don't see any issues publishing in JOSS.

**Minor revisions**

[2020-10-26 19:08] xillig commented on #2507
Thank you everyone for your awesome work!

Best wishes,
Gillian, Christoph, Benjamin

[2020-10-26 19:08] arfon commented on #2580
@spectralcode - could you please merge this PR which implements a few small fixes to your paper: https://github.com/spectralcode/OCTproZ/pull/5

After this could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For t

[2020-10-26 19:12] arfon commented on #2746
:wave: @kexinrong @williamjameshandley - would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software (_kalepy: a python package for kernel density estimation and sampling_) is [here](https://github.com/lzkelley/kalepy) and the short

[2020-10-26 19:13] arfon commented on #2641
👋 @bsipocz & @joshspeagle - any chance you could try and complete your reviews in the next week or so?

[2020-10-26 19:33] nistara commented on #2630
@whedon generate pdf

[2020-10-26 19:34] whedon commented on #2630
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02630/joss.02630/10.21105.joss.02630.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02630/joss.02630/10.21105.joss.02630.pdf) :page_facing_up: :point_left:

[2020-10-26 19:37] marcjwilliams1 commented on #2708
I don't seem to be able to check off items on the checklist, if I click through to https://github.com/openjournals/joss-reviews/invitations as suggested I get the following message
`Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account.`

[2020-10-26 19:41] cscherrer commented on #2062
Thanks @arfon . I think resubmission would be fine. We have some changes to our SymPy approach that we should update anyway. This was my first JOSS submission with the current system; next time I'll work through the checklist before hitting submit. Thanks to everyone here for your time.

[2020-10-26 19:52] jgostick commented on #2767
Hi @marshallmcdonnell, thanks for a terrific review!

[2020-10-26 19:54] marvinjonathcn commented on #2736
Hello @kthyng , I would like to be a reviewer for this publication.

[2020-10-26 19:56] arfon commented on #2062
OK thanks @cscherrer.  I'll go ahead and reject now but please do feel free to resubmit again in the future.

@kose-y - many thanks for your efforts on the review here. I'm sorry this paper didn't make it through the review process.

[2020-10-26 19:56] arfon commented on #2062
@whedon reject

[2020-10-26 19:56] whedon commented on #2062
Paper rejected.

[2020-10-26 19:56] #2062 closed

[2020-10-26 20:01] arfon commented on #2563
@whedon accept

[2020-10-26 20:01] whedon commented on #2563
[code]

[2020-10-26 20:02] whedon commented on #2563
[code]

[2020-10-26 20:02] whedon commented on #2563
PDF failed to compile for issue #2563 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/lib/whedon/bibtex_parser.rb:77:in `doi_citation': undefined method `encode' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/lib/whedon/bibtex_parser.rb:64:in `make_citation'
	from /app/vendor/bundle/ruby/2.4.0/bundler

[2020-10-26 20:12] arfon commented on #2563
@ml-evs - could you merge this PR which modifies the DOIs to the more standard format? https://github.com/ml-evs/matador/pull/132

[2020-10-26 20:19] ml-evs commented on #2563
Hi @arfon, done. Was ShortDOI the problem?

[2020-10-26 20:30] arfon commented on #1740
👍 ok thanks all. I'll go ahead and close this now but please do consider a re-submission again in the future.

[2020-10-26 20:30] arfon commented on #1740
@whedon reject

[2020-10-26 20:30] whedon commented on #1740
Paper rejected.

[2020-10-26 20:30] #1740 closed

[2020-10-26 20:32] mccabete commented on #2575
Sorry about the delay!

I am still running into issues - @holukas convinced ETH to give me a guest account (thanks!). However, it seems like ETH gave me an account that may/might not include github.ethz.ch privileges. I sent out an email to ETH Zurich's service desk today.

[2020-10-26 20:32] kyleniemeyer commented on #2774
@whedon query scope

Hi @javitausia, thanks for your submission. Due to the relatively small size of your software package, the editorial board is going to evaluate whether this is in scope for JOSS.

[2020-10-26 20:32] whedon commented on #2774
Submission flagged for editorial review.

[2020-10-26 20:34] mccabete commented on #2575
I am essentially sitting on the review. @KristinaRiemer if the ETH service desk doesn't get back to me soon, I am willing to just post issues/comments on this thread instead. Is that joss-acceptable?

[2020-10-26 20:35] arfon commented on #2319
@whedon check repository

[2020-10-26 20:35] arfon commented on #2319
@whedon query scope

[2020-10-26 20:35] whedon commented on #2319
Submission flagged for editorial review.

[2020-10-26 20:35] whedon commented on #2319
Failed to discover a `Statement of need` section in paper

[2020-10-26 20:35] whedon commented on #2319
[code]

[2020-10-26 20:37] arfon commented on #2319
@sebdalgarno - looks like this submission got lost in our editorial processes. I've flagged this for an additional editorial review will will likely take another week or so.

[2020-10-26 20:54] kthyng commented on #2736
@marvinjonathcn - excellent! I will add you now. We need to find another reviewer before continue on in the review process, so hold tight for now.

[2020-10-26 20:55] kthyng commented on #2736
@whedon assign @marvinjonathcn as reviewer

[2020-10-26 20:55] whedon commented on #2736
OK, @marvinjonathcn is now a reviewer

[2020-10-26 20:55] kthyng commented on #2736
@nuest of course, totally understand, thanks for getting back to me.

[2020-10-26 20:59] kthyng commented on #2736
@tscheypidi [Here](https://joss.theoj.org/reviewer-signup.html) is the link to sign up as a JOSS reviewer generally if you'd like. Are you interested in being a reviewer on this submission?

[2020-10-26 21:16] tscheypidi commented on #2736
@kthyng @nuest Thanks for the invitation. I haven't reviewed for JOSS yet, but I am happy to help.

[2020-10-26 21:54] mbobra commented on #2629
@teuben I agree that it would be nice if the tests run faster. This is not a requirement for passing review, though (unless the software makes performance claims). I advise opening an issue on the repo about the runtime. And I'm happy to co-sign that. But this is not a blocking item.

[2020-10-26 21:55] mbobra commented on #2629
@amanchokshi Thank you for all this hard work. I'm happy to recommend Embers for publication pending an accessible reference to Chokshi et al., in prep.

[2020-10-26 21:57] vahid-sb commented on #2778
Thanks, @arokem, and thanks @JonathanReardon for agreeing to review.
@arokem I have updated the paper correcting the typos you kindly reminded me of. About Nilearn, I am aware of that and it is one of the requirements for mitfat, although I have used it merely for IO operations. But mitfat treats the data in a more comprehensive manner, not simply as separate NumPy arrays that might or might not b

[2020-10-26 22:24] xin-huang commented on #2722
Hi @mikldk I just finished my presentation. I will complete the review by the end of the week. Thanks!

[2020-10-26 23:14] matthewfeickert commented on #2734
Just wanted to give a gentle ping here to see if there was any further thoughts on having @betatim review the paper given @eloisabentivegna's request.

[2020-10-26 23:37] sebdalgarno commented on #2319
thanks @arfon I look forward to the review!

[2020-10-27 01:20] amanchokshi commented on #2629
Hi @teuben, the tests for embers are automated, and take ~20 minutes on Travis.

The examples shown in [Embers by Example](https://embers.readthedocs.io/en/latest/embersbyexample.html) do take longer, but are meant to be a guide to show new users how to begin interacting with Embers. I've reduces the amount of sample data as much as possible (only 1 day of data, instead of 6 months), but some of t

[2020-10-27 01:24] usethedata commented on #2483
@whedon generate pdf

[2020-10-27 01:25] amanchokshi commented on #2629
Thanks @mbobra, I've talked to my supervisor regarding the reference to Chokshi et al., in prep, and we've decided to remove the reference from the JOSS paper. The other reference, Line et al. outlines the premise of the experimental setup, and provide sufficient scientific background for this work.

I've removed Chokshi et al., in prep, from the paper and have reworded things a bit. Hope that's o

[2020-10-27 01:25] whedon commented on #2483
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02483/joss.02483/10.21105.joss.02483.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02483/joss.02483/10.21105.joss.02483.pdf) :page_facing_up: :point_left:

[2020-10-27 01:27] usethedata commented on #2483
@arbennett -- what's left from your perspective on the review?  Thanks.

[2020-10-27 01:28] cMadan commented on #2776
@ClaudioZandonella, before inviting reviewers I did an initial pass of the repository to see check if I noticed anything missing, and I don't see clear community guidelines.

You can see the reviewer checklist here (https://joss.readthedocs.io/en/latest/review_checklist.html), this is the exact same list that reviewers would need to evaluate your submission on. Please take a look and make sure tha

[2020-10-27 01:38] gagolews commented on #2763
@mikldk I now recommend the paper be accepted for publication.

[2020-10-27 01:49] d-tear commented on #2689
Hi @jni , @bogovicj , and @haesleinhuepf ,

I believe I've addressed the open issues. If everything looks good, you can close them (or I can, either way).

(John, I went ahead closed the issue for the min number of phenotypes >=2. Let me know if that's OK. I also added some additional documentation for the ROI Recorder program.)

Please let me know if there's anything else to correct. I appreciate

[2020-10-27 01:50] d-tear commented on #2689
@whedon generate pdf

[2020-10-27 01:50] whedon commented on #2689
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02689/joss.02689/10.21105.joss.02689.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02689/joss.02689/10.21105.joss.02689.pdf) :page_facing_up: :point_left:

[2020-10-27 01:56] castelao commented on #2497
@kthyng , after going through the review checklist, I believe that this submission satisfies all the requirements for JOSS and is ready for publication.

Congratulations on the great work, @lnferris  .

[2020-10-27 02:05] lnferris commented on #2497
Thank you @castelao, and thank you very much for reviewing!

[2020-10-27 03:16] lootie commented on #2463
To update on progress, I've implemented all but two of the blockers (continuous integration will take some thought), and expect to complete the issues marked "major" by the end of the week. Will update again when these are ready.

[2020-10-27 03:35] dwinter commented on #2743
Hi @fboehm, apologies for being out of the loop. We've had a bit of a difficult run with a few illnesses in our family. Nothing major, and all back to normal now. I have made a start on reviewing the package, and should be able to tick some boxes and provide some comments later in the week.

[2020-10-27 05:53] nistara commented on #2630
Hi @mikldk, @VincentAlcazer, and @adithirgis

I had previously submitted a pull request for typos and minor issues of the like in the paper/software (https://github.com/VincentAlcazer/StatAid/commit/d0afe60a93836b246158fe15b35f81567d1b8fc8), however, I am not sure if I can make extensive grammatical edits as a reviewer. I do realize/respect that as multilingual people we might require some assista

[2020-10-27 06:13] ketch commented on #2514
@diehlpk I've tried to do what you asked.  The release version number is 1.0.1 and the DOI is 10.5281/zenodo.4138077.  I don't see any author information or any way to set the author information on Zenodo.

[2020-10-27 06:17] ranocha commented on #2514
I've submitted a PR to RK-Opt to fix that: https://github.com/ketch/RK-Opt/pull/60

[2020-10-27 06:46] karthik commented on #2379
@MAnalytics I have checked in with Nick and he will respond in the next few days.

[2020-10-27 07:02] VincentAlcazer commented on #2630
Dear @nistara ,

Thank you for this complete proofread of the paper. If it's fine for everybody, I am waiting your pull request to integrate it and make the new Zenodo archive.

Best regards,

Vincent

[2020-10-27 07:22] arfon commented on #2563
Yes, our system currently doesn't support these (although it looks like we should!)

[2020-10-27 07:22] arfon commented on #2563
@whedon accept

[2020-10-27 07:22] whedon commented on #2563
[code]

[2020-10-27 07:23] whedon commented on #2563
[code]

[2020-10-27 07:23] whedon commented on #2563
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1868

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1868, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-27 07:26] arfon commented on #2563
@whedon accept deposit=true

[2020-10-27 07:26] whedon commented on #2563
[code]

[2020-10-27 07:27] whedon commented on #2563
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1320990592697065472) 👈 🐦🐦🐦

[2020-10-27 07:27] whedon commented on #2563
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1869
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02563](https://doi.org/10.21105/joss.02563)
2. If everything looks g

[2020-10-27 07:32] arfon commented on #2563
@mkhorton, @srmnitc - many thanks for your reviews here and to @jgostick for editing this submission ✨

@ml-evs - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-10-27 07:32] #2563 closed

[2020-10-27 07:32] whedon commented on #2563
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02563/status.svg)](https://doi.org/10.21105/joss.02563)

**We need your help!**

Journal of Open Source Softwa

[2020-10-27 07:50] mikldk commented on #2630
@nistara @VincentAlcazer That sounds like a good plan. Thanks. Please ping me once the PR has been merged and the archive updated.

[2020-10-27 07:51] mikldk commented on #2763
@whedon set 10.5281/zenodo.4134675 as archive

[2020-10-27 07:51] whedon commented on #2763
OK. <a href="https://doi.org/10.5281/zenodo.4134675" target="_blank">10.5281/zenodo.4134675</a> is the archive.

[2020-10-27 07:52] mikldk commented on #2763
@whedon set v0.2.2 as version

[2020-10-27 07:52] whedon commented on #2763
OK. v0.2.2 is the version.

[2020-10-27 07:53] mikldk commented on #2763
@whedon generate pdf

[2020-10-27 07:53] whedon commented on #2763
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: :point_left:

[2020-10-27 07:54] mikldk commented on #2763
@gagolews, @brunaw Thank you very much for your effort in reviewing this paper!

[2020-10-27 07:54] mikldk commented on #2763
@whedon accept

[2020-10-27 07:54] whedon commented on #2763
[code]

[2020-10-27 07:54] whedon commented on #2763
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1870

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1870, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-27 07:55] whedon commented on #2763
[code]

[2020-10-27 08:01] davekinkead commented on #2780
Agree @sara-02

[2020-10-27 08:01] MAnalytics commented on #2379
@karthik @njtierney Thank you very much. I look forward to it.

[2020-10-27 09:10] ketch commented on #2514
Thanks, @ranocha .  I think everything is in order now.  Here is the corrected information:

Release: 1.0.2
DOI: 10.5281/zenodo.4138949

[2020-10-27 09:15] ml-evs commented on #2563
Great, thanks @arfon for getting it over the last hurdle!

[2020-10-27 09:27] Datseris commented on #2673
It is not clear to me whether I have to respond or do something :D

[2020-10-27 09:55] hemanthpruthvi commented on #2693
@aquilesC Thank you very much for all your suggestions! I will be considering them when revising the installation scheme.

@mwcraig I have appended README with a request to the users about the feedback regarding the installation sheme.

[2020-10-27 10:08] chainsawriot commented on #2461
Dear @kakiac ,

I was wondering if the paper is now "conditionally accepted" or not?

Are we waiting for @mbod 's response? If yes, should we set a time limit for this?

Thank you very much!

[2020-10-27 10:18] chainsawriot commented on #2730
@sbenthall

Thank you so much for your invitation. I can give it a try, although I am not an expert in Python. If I can get this running, the documentation should have done a good job.

[2020-10-27 10:44] williamjameshandley commented on #2746
Happy to help out with this, should have time next week to start the review.

[2020-10-27 11:32] flokno commented on #2671
Hi Adam, thanks for the further comments, we're awaiting your issues on gitlab and comments on fireworks.

[2020-10-27 12:04] sara-02 commented on #2780
Added: https://github.com/uluturki/social-annotate/issues/25

[2020-10-27 12:55] fboehm commented on #2743
@dwinter - No problem at all. I'm relieved that things are back to normal now. Please let me know if you encounter any difficulties or have any questions. Thanks for your work on this!!

[2020-10-27 13:03] usethedata commented on #2483
@jbuxt -- as a clarification to my earlier comments (about the Azure message).  If there's a simple fix for that issue, then great, and I'd love to see it addressed before publication.  However, I do not consider it a blocker from my perspective as a reviewer.  It is a suggestion for the team to consider.

[2020-10-27 13:24] kthyng commented on #2736
Ok thanks @tscheypidi, looks like you are a good fit.

[2020-10-27 13:24] kthyng commented on #2736
@whedon add @tscheypidi as reviewer

[2020-10-27 13:25] whedon commented on #2736
OK, @tscheypidi is now a reviewer

[2020-10-27 13:25] kthyng commented on #2736
@whedon start review

[2020-10-27 13:25] whedon opened #2782 "[REVIEW]: hectorui: A web-based interactive scenario builder and visualization application for the Hector climate model"
**Submitting author:** @evanoffPNNL (<a href="http://orcid.org/0000-0002-8858-2783">Jason Evanoff</a>)
**Repository:** <a href="https://github.com/JGCRI/hectorui/" target ="_blank">https://github.com/JGCRI/hectorui/</a>
**Version:** v1.1.6
**Editor:** @kthyng
**Reviewer:** @marvinjonathcn, @tscheypidi
**Archive:** <a href="https://doi.org/10.5281/zenodo.4317756" target="_blank">10.5281/zenodo.4317

[2020-10-27 13:25] whedon commented on #2736
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2782.

[2020-10-27 13:25] #2736 closed

[2020-10-27 13:25] whedon commented on #2782
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @marvinjonathcn, @tscheypidi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2020-10-27 13:25] whedon commented on #2782
[code]

[2020-10-27 13:26] whedon commented on #2782
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02782/joss.02782/10.21105.joss.02782.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02782/joss.02782/10.21105.joss.02782.pdf) :page_facing_up: :point_left:

[2020-10-27 13:27] kthyng commented on #2782
@marvinjonathcn, @tscheypidi: this is where the actual review takes places. Please look through [reviewer docs](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) to see how the review process works, and look through the checklist above too. As issues arise in the review process, open an issue per comment in the submission repo on github and link back to this issue. Don't hesitate to

[2020-10-27 13:42] kescobo commented on #2673
`DrWatson` seems like the name of the software, `DrWatson.jl` is the package that implements it. I think either would work, but fine to leave as-is.

[2020-10-27 13:56] carlosjoserg commented on #2572
Sorry, I'm just seeing this thread now. I'm not a SLAM expert, I come more from the manipulation world. If you are interested in me reviewing the soft/paper, let me know.

[2020-10-27 14:16] ClaudioZandonella commented on #2776
@cMadan, thanks! I just added a Contributor Code of Conduct link.

I checked all the other points. Probably the only other missing information is a clear statement about contribution and authorship. The other authors gave fundamental contributions to the package development in the theoretical aspects, design phase, and paper writing. However, I coded the most part so considering git commits it see

[2020-10-27 14:24] gcdeshpande commented on #2506
@pmkruyen  ok... I got some error while installing on Ubuntu 20..... But it worked on Ubuntu 16.... I am checking it.. will complete the review in a couple of days.

[2020-10-27 14:34] kanishkan91 commented on #2755
@danielskatz We addressed the initial review comments (paper length, invalid DOIs). Do let us know if you have any updates on editors/reviewers or if you need anything else from our side. Thanks!

[2020-10-27 14:39] pmkruyen commented on #2506
B2W, good to know that Ubuntu does not work, is there some issue with the Docker? Will check this too. Peter

[2020-10-27 15:29] diehlpk commented on #2514
@whedon commands

[2020-10-27 15:29] whedon commented on #2514
Here are some things you can ask me to do:

[code]

[2020-10-27 15:29] diehlpk commented on #2514
@whedon set v1.0.2 as version

[2020-10-27 15:29] whedon commented on #2514
OK. v1.0.2 is the version.

[2020-10-27 15:32] nbarlowATI commented on #2483
@usethedata I think it is a good point about the Azure message being a bit "nag"y, when as you say, it is entirely optional whether the user would want to use Azure.   We will silence this (probably relegate it to an ERROR if a function that actually does use Azure is called) in the next update, in the next couple of days.

[2020-10-27 15:36] greggj2016 commented on #2743
@raivivek - Thank you for your thorough review! We will work on incorporating your suggestions. Could you please elaborate on your comment “Unit testing module provides no feedback on what tests it’s running and their status”? I believe the tests print statements about which tests run and whether they pass.

[2020-10-27 15:46] valeriewelborn commented on #2576
@kyleniemeyer, done!

[2020-10-27 16:05] diehlpk commented on #2514
@ketch The title of the Zendo thingy has to match the paper's title. You can edit/update the current version and change the title or rearrange authors. Note that the order of authors has to match the paper as well.

[2020-10-27 16:06] diehlpk commented on #2514
@whedon generate pdf

[2020-10-27 16:06] whedon commented on #2514
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02514/joss.02514/10.21105.joss.02514.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02514/joss.02514/10.21105.joss.02514.pdf) :page_facing_up: :point_left:

[2020-10-27 16:12] ranocha commented on #2514
I've submitted a PR to make the title on Zenodo match the title of the paper: https://github.com/ketch/RK-Opt/pull/62.

The order of authors looks to me identical on Zenodo and the paper (David I. Ketcheson;  Matteo Parsani;  Zachary J. Grant;  Aron J. Ahmadia;  Hendrik Ranocha).

[2020-10-27 16:18] diehlpk commented on #2514
Ok, perfect. Once I have the new release and the DOI. I can accept the paper. If you like to avoid having a new release, you can log in to Zendo and change the title there.

[2020-10-27 16:25] kyleniemeyer commented on #2576
@whedon generate pdf

[2020-10-27 16:26] whedon commented on #2576
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02576/joss.02576/10.21105.joss.02576.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02576/joss.02576/10.21105.joss.02576.pdf) :page_facing_up: :point_left:

[2020-10-27 16:26] kyleniemeyer commented on #2576
@whedon accept deposit=true

[2020-10-27 16:26] whedon commented on #2576
[code]

[2020-10-27 16:27] whedon commented on #2576
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1321126475618201601) 👈 🐦🐦🐦

[2020-10-27 16:27] whedon commented on #2576
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1871
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02576](https://doi.org/10.21105/joss.02576)
2. If everything looks g

[2020-10-27 16:30] kyleniemeyer commented on #2576
Congrats @valeriewelborn on your article's publication in JOSS!

Many thanks to @amandadumi and @govarguz for reviewing this, and @richardjgowers for editing it.

[2020-10-27 16:30] #2576 closed

[2020-10-27 16:34] nschloe commented on #2687
Okay, I'm going over the text now. One thing I noticed is the following
- [ ] "The usage of 11 cores reduces the generation time of this example from 20 minutes to approximately 2 wall-clock minutes". According to the graph, it's more "from 6 minutes". I would also like to see a dashed line in the graph for perfect speed up (or equal scaling in the axes.)
- [ ] Also a question: Why don't we have p

[2020-10-27 16:36] marcosvital commented on #2692
Hi again, @SteveViss and @62442katieb! Hope everything is fine with both of you. Any news about this revision? Please don't hesitate to ask for assistance if you need, and also feel free to let me know if you are not able to review this submission anymore (it happens sometimes).

[2020-10-27 16:54] npetra commented on #2421
@hugoledoux I am ready to submit my review (sorry for the slight delay) but unfortunately it looks like the invite has expired. Is it possible to renew the invite? Thanks!

[2020-10-27 16:57] npetra commented on #2690
Hi @hugoledoux, can you please resend the invite to me as well? Thanks! Plan to submit my initial review today or tomorrow. Thanks!

[2020-10-27 17:07] krober10nd commented on #2687
Hey @nschloe

 For the future, I think we should discuss this in the repository with an issue but I will answer this here briefly. We can start an issue and discuss in the repo.

Sure. I can fix this.

There are two reasons: 1) the domain decomposition strategy that I use does not consider load balancing (it simply slices one axis and does not consider the spatial distribution of points) 2) the co

[2020-10-27 17:29] kexinrong commented on #2746
Also happy to help out and will start reviewing next week!

[2020-10-27 17:52] kanishkan91 commented on #2755
@whedon commands

[2020-10-27 17:52] whedon commented on #2755
Here are some things you can ask me to do:

[code]

[2020-10-27 18:01] usethedata commented on #2768
@foeroyingur @richardjgowers -- let me know if you have any questions on the review.  Just checking in.  Thanks.

[2020-10-27 18:06] mbobra commented on #2629
@whedon generate pdf

[2020-10-27 18:08] whedon commented on #2629
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02629/joss.02629/10.21105.joss.02629.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02629/joss.02629/10.21105.joss.02629.pdf) :page_facing_up: :point_left:

[2020-10-27 19:43] sbenthall commented on #2730
Ok @chainsawriot Thanks for your reply! I will keep searching for a second reviewer. In the meantime, I wonder if you could check to see if you can feel confident about your review. If so, I'll assign you officially to review. If not, please let me know so I can keep looking.

[2020-10-27 19:43] KristinaRiemer commented on #2575
@mccabete (and @r-barnes), I agree with your assessment. I think you should not worry about creating issues in the repo and just post your review comments and discussion here in this thread, so as to not slow down the review any more.

[2020-10-27 19:49] sbenthall commented on #2749
Hello @jarvist and @sambitdash . This is a gentle reminder to please review this article.

[2020-10-27 19:50] sbenthall commented on #2605
Thank you for this review, @alexssandrofc !

[2020-10-27 19:53] artgoldberg commented on #2685
Hello @danielskatz

If Chris is not able to review our paper, perhaps another reviewer could step in. Among the other potential reviewers I recommended in the PRE REVIEW, I would suggest Robert Clayton Blake. He has the appropriate discrete-event simulation and software expertise, and has, in general, been responsive in recent years.

Regards
Arthur

[2020-10-27 20:13] danielskatz commented on #2685
@carothersc - can you give us a firm date here by when you can do this so we know if we should bring in another reviewer instead of you?

[2020-10-27 20:18] jarvist commented on #2749
I just finished lecturing today, so I should be able to do this during the later half of this week.

[2020-10-27 20:18] arfon commented on #2572
Thanks for the response @carlosjoserg - we'd love to have your assistance here ✨. I'll go ahead and add you as a reviewer now and start the review process.

[2020-10-27 20:19] arfon commented on #2572
@whedon add @carlosjoserg as reviewer

[2020-10-27 20:19] whedon commented on #2572
OK, @carlosjoserg is now a reviewer

[2020-10-27 20:19] arfon commented on #2572
@whedon start review

[2020-10-27 20:19] whedon opened #2783 "[REVIEW]: SLAM Toolbox: SLAM for the dynamic world"
**Submitting author:** @stevemacenski (<a href="http://orcid.org/0000-0003-1090-7733">Steven Macenski</a>)
**Repository:** <a href="https://github.com/SteveMacenski/slam_toolbox" target ="_blank">https://github.com/SteveMacenski/slam_toolbox</a>
**Version:** 2.3.0
**Editor:** @arfon
**Reviewer:** @mosteo, @carlosjoserg
**Archive:** <a href="https://doi.org/10.5281/zenodo.4749721" target="_blank">1

[2020-10-27 20:19] whedon commented on #2572
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2783.

[2020-10-27 20:19] #2572 closed

[2020-10-27 20:19] whedon commented on #2783
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mosteo, @carlosjoserg it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-10-27 20:20] arfon commented on #2572
@mosteo, @carlosjoserg - please head over to #2783 where the actual review will take place!

[2020-10-27 20:20] whedon commented on #2783
PDF failed to compile for issue #2783 with the following error:

 Can't find any papers to compile :-(

[2020-10-27 20:20] arfon commented on #2783
@whedon generate pdf from branch joss

[2020-10-27 20:20] whedon commented on #2783
[code]

[2020-10-27 20:21] arfon commented on #2783
@mosteo, @carlosjoserg - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied

[2020-10-27 20:21] whedon commented on #2783
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02783/joss.02783/10.21105.joss.02783.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02783/joss.02783/10.21105.joss.02783.pdf) :page_facing_up: :point_left:

[2020-10-27 20:30] arfon commented on #2746
Wonderful, thanks so much @williamjameshandley and @kexinrong! I'll set up the review issue now.

[2020-10-27 20:30] arfon commented on #2746
@whedon add @williamjameshandley as reviewer

[2020-10-27 20:30] whedon commented on #2746
OK, @williamjameshandley is now a reviewer

[2020-10-27 20:30] arfon commented on #2746
@whedon add @kexinrong as reviewer

[2020-10-27 20:30] whedon commented on #2746
OK, @kexinrong is now a reviewer

[2020-10-27 20:31] arfon commented on #2746
@whedon start review

[2020-10-27 20:31] whedon opened #2784 "[REVIEW]: kalepy: a python package for kernel density estimation and sampling"
**Submitting author:** @lzkelley (<a href="http://orcid.org/0000-0002-6625-6450">Luke Zoltan Kelley</a>)
**Repository:** <a href="https://github.com/lzkelley/kalepy" target ="_blank">https://github.com/lzkelley/kalepy</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @williamjameshandley, @kexinrong
**Archive:** <a href="https://doi.org/10.5281/zenodo.4456130" target="_blank">10.5281/zenodo.4

[2020-10-27 20:31] whedon commented on #2746
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2784.

[2020-10-27 20:31] #2746 closed

[2020-10-27 20:31] whedon commented on #2784
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @williamjameshandley, @kexinrong it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog po

[2020-10-27 20:31] arfon commented on #2746
@williamjameshandley, @kexinrong - see you over in #2784 where the actual review will take place.

[2020-10-27 20:32] whedon commented on #2784
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02784/joss.02784/10.21105.joss.02784.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02784/joss.02784/10.21105.joss.02784.pdf) :page_facing_up: :point_left:

[2020-10-27 20:32] whedon commented on #2784
[code]

[2020-10-27 20:34] arfon commented on #2784
@williamjameshandley, @kexinrong - this is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been

[2020-10-27 20:37] arfon commented on #2748
@whedon reject

@trettenbrein - many thanks for your submission to JOSS. After consulting with the editorial team, we have concluded that this submission is out of scope for JOSS due to [its limited size](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2020-10-27 20:37] whedon commented on #2748
Paper rejected.

[2020-10-27 20:37] #2748 closed

[2020-10-27 20:39] arfon commented on #2621
@whedon accept deposit=true

[2020-10-27 20:40] whedon commented on #2621
[code]

[2020-10-27 20:42] whedon commented on #2621
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1321190653318017024) 👈 🐦🐦🐦

[2020-10-27 20:42] whedon commented on #2621
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1872
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02621](https://doi.org/10.21105/joss.02621)
2. If everything looks g

[2020-10-27 20:49] arfon commented on #2621
@TomDonoghue, @sappelhoff, @jamesheathers - many thanks for your reviews here and to @oliviaguest for editing this submission ✨

@JanCBrammer - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-10-27 20:52] #2621 closed

[2020-10-27 20:52] whedon commented on #2621
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02621/status.svg)](https://doi.org/10.21105/joss.02621)

**We need your help!**

Journal of Open Source Softwa

[2020-10-27 20:55] arfon commented on #2637
@whedon accept deposit=true

[2020-10-27 20:55] whedon commented on #2637
[code]

[2020-10-27 20:56] whedon commented on #2637
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1321193978130124800) 👈 🐦🐦🐦

[2020-10-27 20:56] whedon commented on #2637
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1873
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02637](https://doi.org/10.21105/joss.02637)
2. If everything looks g

[2020-10-27 20:58] arfon commented on #2637
@samuelduchesne, @robinroche - many thanks for your reviews here and to @kbarnhart for editing this submission ✨

@tylunel - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-10-27 20:58] #2637 closed

[2020-10-27 20:58] whedon commented on #2637
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02637/status.svg)](https://doi.org/10.21105/joss.02637)

**We need your help!**

Journal of Open Source Softwa

[2020-10-27 21:10] arfon commented on #2763
@whedon accept deposit=true

[2020-10-27 21:10] whedon commented on #2763
[code]

[2020-10-27 21:11] whedon commented on #2763
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1321197821224124416) 👈 🐦🐦🐦

[2020-10-27 21:11] whedon commented on #2763
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1874
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02763](https://doi.org/10.21105/joss.02763)
2. If everything looks g

[2020-10-27 21:13] arfon commented on #2763
@gagolews, @brunaw - many thanks for your reviews here and to @mikldk for editing this submission ✨

@assignUser - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-10-27 21:13] #2763 closed

[2020-10-27 21:13] whedon commented on #2763
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02763/status.svg)](https://doi.org/10.21105/joss.02763)

**We need your help!**

Journal of Open Source Softwa

[2020-10-27 21:16] arfon commented on #2770
@whedon reject

@Nicolas-Schmidt - many thanks for your submission to JOSS. After consulting with the editorial team, we have concluded that this submission is out of scope for JOSS due to [its limited size and scope](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2020-10-27 21:16] whedon commented on #2770
Paper rejected.

[2020-10-27 21:16] #2770 closed

[2020-10-27 21:23] raivivek commented on #2743
@greggj2016 Great that you brought this up. So the way I tested this is that I simply executed the file `regens_testers.py`. This gave no output and no feedback. Because there are no instructions as to how to run the tests, I presumed this would be the way to go. So I'd say as a first-step, you could revise the README to include unit-testing instructions. I'd also like to highlight that this would

[2020-10-27 21:27] arfon commented on #2747
@zoran-cuckovic - thanks for submitting to JOSS. After an initial review, it looks like this submission could do with a substantial amount of work before it could be considered for review in JOSS.

In particular:
- It looks like this software isn't structured in a very user-friendly way. Could you take a look at the [Python packaging guidelines](https://packaging.python.org)
- It's not immediately

[2020-10-27 21:27] arfon commented on #2747
@whedon reject

[2020-10-27 21:27] whedon commented on #2747
Paper rejected.

[2020-10-27 21:27] #2747 closed

[2020-10-27 21:28] whedon opened #2785 "[PRE REVIEW]: PySensors: A Python Package for Sparse Sensor Placement"
**Submitting author:** @briandesilva (<a href="http://orcid.org/0000-0003-0944-900X">Brian de Silva</a>)
**Repository:** <a href="https://github.com/dynamicslab/pysensors/" target ="_blank">https://github.com/dynamicslab/pysensors/</a>
**Version:** v.0.3.0
**Editor:** @pdebuyl
**Reviewers:** @jordanperr, @tuelwer
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due

[2020-10-27 21:28] whedon commented on #2785
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-27 21:28] whedon commented on #2785
Failed to discover a `Statement of need` section in paper

[2020-10-27 21:28] whedon commented on #2785
[code]

[2020-10-27 21:28] whedon opened #2786 "[PRE REVIEW]: Atmospheric Rossby waves identification and tracking with a raytracing numerical model"
**Submitting author:** @salvatirehbein (<a href="http://orcid.org/0000-0002-8714-7931">Amanda Rehbein</a>)
**Repository:** <a href="https://github.com/salvatirehbein/raytracing" target ="_blank">https://github.com/salvatirehbein/raytracing</a>
**Version:** 0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-10-27 21:28] whedon commented on #2786
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-27 21:28] whedon commented on #2785
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02785/joss.02785/10.21105.joss.02785.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02785/joss.02785/10.21105.joss.02785.pdf) :page_facing_up: :point_left:

[2020-10-27 21:28] whedon commented on #2786
[code]

[2020-10-27 21:28] whedon opened #2787 "[PRE REVIEW]: secuTrialR: Seamless interaction with clinical trial databases in R"
**Submitting author:** @PatrickRWright (<a href="http://orcid.org/0000-0002-1153-0846">Patrick R. Wright</a>)
**Repository:** <a href="https://github.com/SwissClinicalTrialOrganisation/secuTrialR" target ="_blank">https://github.com/SwissClinicalTrialOrganisation/secuTrialR</a>
**Version:** 1.0.6
**Editor:** @csoneson
**Reviewers:** @pacoramon, @sachsmc
**Managing EiC:** Arfon Smith

**:warning: J

[2020-10-27 21:28] whedon commented on #2787
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-27 21:28] whedon commented on #2786
PDF failed to compile for issue #2786 with the following error:

 Error producing PDF.
! Use of \\author doesn't match its definition.
\new@ifnextchar ...served@d = #1\def \reserved@a {
                                                  #2}\def \reserved@b {#3}\f...
l.318 ....br}{\nolinkurl{amanda.rehbein@usp.br}}}}

Looks like we failed to compile the PDF

[2020-10-27 21:28] whedon commented on #2787
Failed to discover a `Statement of need` section in paper

[2020-10-27 21:28] whedon commented on #2787
[code]

[2020-10-27 21:29] whedon opened #2788 "[PRE REVIEW]: Pyinterpolate: Spatial Interpolation in Python for point measurements and aggregated datasets"
**Submitting author:** @szymon-datalions (<a href="http://orcid.org/0000-0003-3525-2104">Szymon Moliński</a>)
**Repository:** <a href="https://github.com/szymon-datalions/pyinterpolate" target ="_blank">https://github.com/szymon-datalions/pyinterpolate</a>
**Version:** v0.2.0
**Editor:** @hugoledoux
**Reviewers:** @chrisbrunsdon
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode

[2020-10-27 21:29] whedon commented on #2788
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-27 21:29] whedon opened #2789 "[PRE REVIEW]: PyAutoLens: Open-Source Strong Gravitational Lensing"
**Submitting author:** @Jammy2211 (<a href="http://orcid.org/0000-0002-8987-7401">James Nightingale</a>)
**Repository:** <a href="https://github.com/Jammy2211/PyAutoLens" target ="_blank">https://github.com/Jammy2211/PyAutoLens</a>
**Version:** 1.7.8
**Editor:** @xuanxu
**Reviewers:** @aureliocarnero, @zonca
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to t

[2020-10-27 21:29] whedon commented on #2789
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-27 21:29] whedon commented on #2787
[code]

[2020-10-27 21:29] whedon opened #2790 "[PRE REVIEW]: A Repository to Simulate the Spread of COVID-19 in any Population with a Known Age-Structure, Made in Tübingen."
**Submitting author:** @vahid-sb (<a href="http://orcid.org/0000-0001-6544-7960">Vahid S. Bokharaie</a>)
**Repository:** <a href="https://github.com/vahid-sb/MiTepid_sim" target ="_blank">https://github.com/vahid-sb/MiTepid_sim</a>
**Version:** v0.0.5
**Editor:** @majensen
**Reviewers:** @AngryMaciek, @adi3
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to th

[2020-10-27 21:29] whedon commented on #2790
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-27 21:30] whedon commented on #2786
[code]

[2020-10-27 21:30] whedon commented on #2787
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02787/joss.02787/10.21105.joss.02787.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02787/joss.02787/10.21105.joss.02787.pdf) :page_facing_up: :point_left:

[2020-10-27 21:30] whedon commented on #2788
[code]

[2020-10-27 21:30] whedon commented on #2788
PDF failed to compile for issue #2788 with the following error:

 Can't find any papers to compile :-(

[2020-10-27 21:30] arfon commented on #2786
@whedon query scope

[2020-10-27 21:30] whedon commented on #2789
Failed to discover a `Statement of need` section in paper

[2020-10-27 21:30] whedon commented on #2786
Submission flagged for editorial review.

[2020-10-27 21:31] whedon commented on #2789
[code]

[2020-10-27 21:32] arfon commented on #2786
@salvatirehbein - many thanks for your submission to JOSS. This submission will need to go through an additional review by the JOSS editorial team due to its very small size - this will likely take a week or so.

[2020-10-27 21:32] whedon commented on #2790
[code]

[2020-10-27 21:32] whedon commented on #2790
[code]

[2020-10-27 21:32] whedon commented on #2789
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02789/joss.02789/10.21105.joss.02789.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02789/joss.02789/10.21105.joss.02789.pdf) :page_facing_up: :point_left:

[2020-10-27 21:33] whedon commented on #2790
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02790/joss.02790/10.21105.joss.02790.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02790/joss.02790/10.21105.joss.02790.pdf) :page_facing_up: :point_left:

[2020-10-27 21:33] arfon commented on #2788
@whedon generate pdf from branch paper

[2020-10-27 21:33] whedon commented on #2788
[code]

[2020-10-27 21:34] whedon commented on #2785
[code]

[2020-10-27 21:34] whedon commented on #2788
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02788/joss.02788/10.21105.joss.02788.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02788/joss.02788/10.21105.joss.02788.pdf) :page_facing_up: :point_left:

[2020-10-27 21:35] arfon commented on #2789
:wave: @Jammy2211 - is this submission associated with a paper in a AAS publication?

[2020-10-27 21:39] kyleniemeyer commented on #2588
@chennachaos Understood, thanks!

[2020-10-27 22:02] gaelforget commented on #2713
Based on the list of volunteers (Preferred Language + Domain Expertise, mostly) and from my own network (incl. https://github.com/JuliaClimate) I may suggest:

- juliohm, felixcremer, visr, Alexander-Barth, natgeo-wong, milankl
- wkearn, Jgoldfar, eviatarbach (not in JuliaClimate)

Would this work?

ps. Others that came to mind but I felt may be too closely connected to me (`conflicting`?) include

[2020-10-27 22:09] Mmj94 commented on #2578
Hi all, thank you again for your patience in this long process.
I believe we've finally implemented all of your comments in both the manuscript and code. Everything is now updated in the repository.
For the comments related to the manuscript, I've created a summary document that I'm attaching here.

Please let me know if any other action is required from my side.
Thanks again!

[Response to review

[2020-10-27 22:23] kullrich commented on #2424
Dear Kristina Riemer,

I am almost done with restructuring and finalising the vignettes.

Due to mandatory steps in the processing of the input data I added three more functions.

1. directly extract longest isoform CDS from NCBI or Ensembl URL input
2. extract gene position from CDS from NCBI or Ensembl URL input
3. assign tandem duplicates

With these changes it is now possible to directly get a

[2020-10-27 22:26] greggj2016 commented on #2743
Sorry for the confusion. The file regens_testers.py only contains the testing functions. It does not implement them, which is why you received no output. Each test is its own folder and should be run after changing your working directory to that folder.

[2020-10-27 22:31] briandesilva commented on #2785
@whedon generate pdf

[2020-10-27 22:32] whedon commented on #2785
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02785/joss.02785/10.21105.joss.02785.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02785/joss.02785/10.21105.joss.02785.pdf) :page_facing_up: :point_left:

[2020-10-28 02:32] ablaom commented on #2704
@whedon generate pdf

[2020-10-28 02:33] whedon commented on #2704
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: :point_left:

[2020-10-28 02:37] ablaom commented on #2704
@terrytangyuan @arfon

Thanks to @darenasc I believe the bib issue is now sorted.

[2020-10-28 04:06] sambitdash commented on #2749
Will review the paper this week and the software early next week. Thanks for the reminder @sbenthall.

[2020-10-28 04:40] terrytangyuan commented on #2704
@whedon check references

[2020-10-28 04:40] whedon commented on #2704
[code]

[2020-10-28 04:58] terrytangyuan commented on #2704
Looks great! There still seems to be one missing DOI though. Could you fix that as well?

[2020-10-28 05:01] danehkar commented on #2773
I think @arfon might be busy. Hello @xuanxu @dfm Are either of you willing to serve as an editor for this code?

[2020-10-28 05:01] JanCBrammer commented on #2621
@oliviaguest, @TomDonoghue, @sappelhoff, @jamesheathers thank you all for your time and the thorough, helpful and timely reviews!

[2020-10-28 05:02] danehkar commented on #2772
I think @arfon may be busy. Hi @xuanxu @dfm Are you willing to serve as an editor for this program also?

[2020-10-28 06:18] ablaom commented on #2704
@whedon check references

[2020-10-28 06:18] whedon commented on #2704
[code]

[2020-10-28 06:19] ablaom commented on #2704
@terrytangyuan All DOIs in now.

@darenasc Thanks

[2020-10-28 07:08] ketch commented on #2514
I couldn't find a way to change the title on Zenodo.  Actually, it looks correct there already.  But in case it's needed, I made another release.

New release: 1.0.3
DOI: 10.5281/zenodo.4146740

[2020-10-28 07:12] VincentAlcazer commented on #2630
@whedon generate pdf

[2020-10-28 07:13] whedon commented on #2630
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02630/joss.02630/10.21105.joss.02630.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02630/joss.02630/10.21105.joss.02630.pdf) :page_facing_up: :point_left:

[2020-10-28 07:16] VincentAlcazer commented on #2630
Dear @mikldk ,

The paper has been completely reviewed and the software archive updated on zenodo (StatAid v1.1.0 - DOI 10.5281/zenodo.4146739).

I would like to thank again the reviewers @nistara and @adithirgis for their amazing work and the time they have taken to help me improving both the software and the paper.

Best regards,

Vincent Alcazer

[2020-10-28 07:21] mikldk commented on #2630
@whedon set v1.1.0 as version

[2020-10-28 07:21] whedon commented on #2630
OK. v1.1.0 is the version.

[2020-10-28 07:21] mikldk commented on #2630
@whedon set 10.5281/zenodo.4146739 as archive

[2020-10-28 07:21] whedon commented on #2630
OK. <a href="https://doi.org/10.5281/zenodo.4146739" target="_blank">10.5281/zenodo.4146739</a> is the archive.

[2020-10-28 07:24] mikldk commented on #2630
@VincentAlcazer There seem to be an issue with the archive. The file available for download is named 1.1 (not 1.1.0), and at the repo there is no 1.1.0 release (<https://github.com/VincentAlcazer/StatAid/releases>).

[2020-10-28 07:28] VincentAlcazer commented on #2630
The version has been corrected on github. The archive available on Zenodo is also the good version with the updated paper, only the name has not been changed (because the software itself was not changed).

Would you prefer that I upload a new version on Zenodo with the renamed archive (1.1.0 intead of 1.1)?

[2020-10-28 07:31] PatrickRWright commented on #2787
Suggestions for reviewers:
masalmon, Tgerke, acolum, pacoramon, Jminnier, sachsmc, rrrlw

Really anyone in [the list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) which a background in R and medicine/health/epidemiology.

[2020-10-28 07:33] PatrickRWright commented on #2787
Hey, @aghaynes and @markomi this is the thread for the secuTrialR submission to JOSS.

[2020-10-28 08:02] mikldk commented on #2630
At <https://joss.readthedocs.io/en/latest/submitting.html> you can read that "Upon successful completion of the review, authors will make a tagged release of the software, and deposit a copy of the repository with a data-archiving service such as Zenodo [...]".

So yes, the version in the paper (1.1.0) must have a tagged release of same version that is also available at Zenodo. All same version. Y

[2020-10-28 08:05] arfon commented on #2773
@danehkar - please sit tight for a little, I'll have a response for you today.

[2020-10-28 08:06] arfon commented on #2772
@danehkar - please sit tight for a little, I'll have a response for you today.

[2020-10-28 08:07] arfon commented on #2382
:wave: @augustfly @KathrynJones1 - any updates on the status of the AJ paper here?

[2020-10-28 08:12] egemose commented on #2097
@arfon You may close this submission. I will do a resubmission when I find the time at a later point.

[2020-10-28 08:15] VincentAlcazer commented on #2630
@mikldk : Sorry for this inconvenience. The Zenodo archive has been linked with github and published with the updated name (DOI: 10.5281/zenodo.4146817).

[2020-10-28 08:45] Jammy2211 commented on #2789
It is not.

[2020-10-28 09:08] arfon commented on #2772
Hi @danehkar, many thanks for your submission to JOSS.

After discussing with the JOSS editorial team, we've determined that https://github.com/atomneb/AtomNeb-py is out of scope for JOSS as it is a direct port of your earlier package (https://github.com/atomneb/AtomNeb-idl) and therefore does not reach our threshold for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitti

[2020-10-28 09:08] arfon commented on #2773
Hi @danehkar, many thanks for your submission to JOSS.

After discussing with the JOSS editorial team, we've determined that https://github.com/equib/pyEQUIB is out of scope for JOSS as it is a direct port of your earlier package (https://github.com/equib/proEQUIB) and therefore does not reach our threshold for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#su

[2020-10-28 09:13] arfon commented on #2097
OK, thanks for the update @egemose.

[2020-10-28 09:14] arfon commented on #2097
@whedon reject

[2020-10-28 09:14] whedon commented on #2097
Paper rejected.

[2020-10-28 09:14] #2097 closed

[2020-10-28 09:14] arfon commented on #2097
@abhishekbajpayee, @jizecn, @kthyng  - thanks for your efforts here, sorry it didn't work out this time.

[2020-10-28 09:16] arfon commented on #2755
@whedon generate pdf

[2020-10-28 09:17] whedon commented on #2755
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02755/joss.02755/10.21105.joss.02755.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02755/joss.02755/10.21105.joss.02755.pdf) :page_facing_up: :point_left:

[2020-10-28 09:21] arfon commented on #2755
@whedon assign @dhhagan as editor

[2020-10-28 09:21] whedon commented on #2755
OK, the editor is @dhhagan

[2020-10-28 09:22] arfon commented on #2755
:wave: @dhhagan - further to @danielskatz's [request from ~10 days ago](https://github.com/openjournals/joss-reviews/issues/2755#issuecomment-710026146) I've gone ahead and assigned you here.

[2020-10-28 09:23] WilkAndy commented on #2176
@jedbrown 's final suggestions have been implemented and merged into the master branch

tag = https://github.com/idaholab/moose/releases/tag/snapshot-20-10-27   (ie, tag name is snapshot-20-10-27 )

https://zenodo.org/record/4071026#.X5kq-9sRXOQ

Metadata is correct

doi = 10.5281/zenodo.4071026

[2020-10-28 09:24] tylunel commented on #2637
A big thank you to all! I wish you all the best :D

[2020-10-28 09:24] arfon commented on #2771
@whedon invite @kbarnhart as editor

:wave: @kbarnhart - would you be able to take this submission?

[2020-10-28 09:24] whedon commented on #2771
@kbarnhart has been invited to edit this submission.

[2020-10-28 09:27] arfon commented on #2777
@whedon invite @melissawm as editor

[2020-10-28 09:27] whedon commented on #2777
@melissawm has been invited to edit this submission.

[2020-10-28 09:28] romainsacchi commented on #2765
@whedon generate pdf from branch joss

[2020-10-28 09:28] whedon commented on #2765
[code]

[2020-10-28 09:29] arfon commented on #2785
:wave: @briandesilva - could you please make sure your paper has a clear statement of need for a general, non-specialist audience?

[2020-10-28 09:32] whedon commented on #2765
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02765/joss.02765/10.21105.joss.02765.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02765/joss.02765/10.21105.joss.02765.pdf) :page_facing_up: :point_left:

[2020-10-28 09:36] romainsacchi commented on #2765
The author has adequately answered all the issues I raised.

[2020-10-28 10:27] Kokookster commented on #2767
Hi @marshallmcdonnell,
Thanks for your kind words and your constructive review! All points are really helpful. Thanks even for fixing small typos and adding the Docker!
Will start to address your MRs, today.

[2020-10-28 10:49] hugoledoux commented on #2421
@whedon re-invite @npetra as reviewer

[2020-10-28 10:49] whedon commented on #2421
OK, the reviewer has been re-invited.

@npetra please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-28 11:59] mikldk commented on #2630
@whedon set 10.5281/zenodo.4146817 as archive

[2020-10-28 11:59] whedon commented on #2630
OK. <a href="https://doi.org/10.5281/zenodo.4146817" target="_blank">10.5281/zenodo.4146817</a> is the archive.

[2020-10-28 12:04] mikldk commented on #2630
It looks like you have folders such as `.Rproj.user` in your Git. Please remove it by creating a `.gitignore` file. Check other folders, too - I am not sure about e.g. `rsconnect`.

[2020-10-28 12:06] danehkar commented on #2773
I am fine with Addendum.

Please include that its dependent Python packages are different than its IDL version:

The package implementation requires the Python packages `NumPy` [@Walt:2011; @Harris:2020], `SciPy` [@Virtanen:2020], and `AtomNeb`. The latest version of this package can be installed directly from its repository on the GitHub using ``python setup.py install``, and its stable version f

[2020-10-28 12:10] danehkar commented on #2772
I am fine with Addendum.

Please include that its dependent Python packages are different than its IDL version:

`AtomNeb` uses the FITS handling routines of the Python package `Astropy` [@Astropy:2013; @Astropy:2018] to retrieve the atomic data from its FITS files. It also requires the Python packages `NumPy` [@Walt:2011; @Harris:2020] and `pandas` [@McKinney:2010; @McKinney:2011; @McKinney:2017]

[2020-10-28 12:42] VincentAlcazer commented on #2630
@mikldk  it is strange as the .gitignore file already included .Rproj.user. I manually deleted the folders and added rsconnect exclusion in the .gitignore file. It seems to work correctly now.

I had to push a new version to update the Github and Zenodo releases:
version: 1.1.01
DOI: 10.5281/zenodo.4147144

[2020-10-28 13:44] sadielbartholomew commented on #2407
Nearly there! Bear with me, I will report back by tonight. Thanks.

[2020-10-28 14:04] mathpluscode commented on #2705
Hi @zhangfanmark @lbrea, thank you so much for your reviews. We've addressed all the mentioned issues and please feel free to try again ;)

[2020-10-28 14:05] mathpluscode commented on #2705
@whedon generate pdf

[2020-10-28 14:06] whedon commented on #2705
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02705/joss.02705/10.21105.joss.02705.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02705/joss.02705/10.21105.joss.02705.pdf) :page_facing_up: :point_left:

[2020-10-28 14:30] terrytangyuan commented on #2704
At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:
- The title of the archive is the same as the JOSS paper title
- That the authors of the ar

[2020-10-28 14:45] whedon commented on #2771
OK, the editor is @kbarnhart

[2020-10-28 15:38] diehlpk commented on #2514
@whedon set v1.0.3 as version

[2020-10-28 15:38] whedon commented on #2514
OK. v1.0.3 is the version.

[2020-10-28 15:39] diehlpk commented on #2514
@whedon set 10.5281/zenodo.4146740 as archive

[2020-10-28 15:39] whedon commented on #2514
OK. <a href="https://doi.org/10.5281/zenodo.4146740" target="_blank">10.5281/zenodo.4146740</a> is the archive.

[2020-10-28 15:41] diehlpk commented on #2514
@ketch

![image](https://user-images.githubusercontent.com/3922435/97459718-0fc70280-190a-11eb-8d8d-ed40d2136f10.png)

The title is still `ketch/RK-OPT` but should be the same title as in the paper.

[2020-10-28 15:48] ashiklom commented on #2766
## General checks

- **Repository**: Link is valid; code is well-organized according to typical standards of a Python module.
- **License**: BSD 3-caluse, present in full in [LICENSE file](https://github.com/openscm/openscm-twolayermodel/blob/master/LICENSE) in the repository
- **Contribution and authorship**: Submission author @znicholls is the [largest contributor](https://github.com/openscm/ope

[2020-10-28 15:49] diehlpk commented on #2514
@ketch

![image](https://user-images.githubusercontent.com/3922435/97460802-17d37200-190b-11eb-95e8-26a5c2164371.png)

There is the edit button and you should be able to replace `ketch/RK-OPT` with the paper title there without doing a new release.

[2020-10-28 15:54] xirdneh commented on #2546
@gkthiruvathukal Yes, I can review this.
IS it OK if I submit the review by next week?

[2020-10-28 16:43] gkthiruvathukal commented on #2546
@xirdneh Awesome. Yes, by next week is fine. But we are still in COVID-19 service mode, so we'll work with your schedule.  Thanks!!

[2020-10-28 16:43] gkthiruvathukal commented on #2546
@whedon add @xirdneh as reviewer

[2020-10-28 16:43] whedon commented on #2546
OK, @xirdneh is now a reviewer

[2020-10-28 16:43] gkthiruvathukal commented on #2546
@whedon start review

[2020-10-28 16:43] whedon opened #2791 "[REVIEW]: s4rdm3x: A Tool Suite to Explore Code to Architecture Mapping Techniques"
**Submitting author:** @tobias-dv-lnu (<a href="http://orcid.org/0000-0003-1154-5308">Tobias Olsson</a>)
**Repository:** <a href="https://github.com/tobias-dv-lnu/s4rdm3x" target ="_blank">https://github.com/tobias-dv-lnu/s4rdm3x</a>
**Version:** v1.3
**Editor:** @gkthiruvathukal
**Reviewer:** @kinow, @xirdneh
**Archive:** <a href="https://doi.org/10.5281/zenodo.4475664" target="_blank">10.5281/ze

[2020-10-28 16:43] whedon commented on #2546
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2791.

[2020-10-28 16:43] #2546 closed

[2020-10-28 16:43] whedon commented on #2791
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kinow, @xirdneh it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2020-10-28 16:44] whedon commented on #2791
PDF failed to compile for issue #2791 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - 241d63aa7177374e42894fdd (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a69

[2020-10-28 17:18] npetra commented on #2690
Hi @sebhaan (& co),

GeoBO seems to be a useful and great software package for the community. Thanks for working on it and for sharing it with the community.

Here are my comments:

**Functionality**

- [ ] The package is successfully installed by “python setup.py install”. However, it seems that the package is not registered in PyPI, and cannot be installed through ‘pip3’.

- [ ] Is the software

[2020-10-28 17:33] briandesilva commented on #2785
@arfon, I just added a statement of need section to the paper.

[2020-10-28 17:49] danehkar commented on #2773
@arfon, actually, a direct port is not a correct description. There is a possibility to port IDL into Python. However, the new python package is not a port of IDL version, it is purely a new implementation in Python language and translation of IDL version into Python code. You can see the Python codes here:

https://github.com/equib/pyEQUIB/blob/master/pyequib/pyequib.py

IDL verison depends on th

[2020-10-28 17:49] melissawm commented on #2777
Hi all, I'll be happy to even though the subject is not one I'm totally familiar with.

[2020-10-28 17:50] melissawm commented on #2777
@whedon assign @melissawm as editor

[2020-10-28 17:50] whedon commented on #2777
OK, the editor is @melissawm

[2020-10-28 17:52] melissawm commented on #2744
:wave: Hello all, just checking in to see if there's anything I can help you with.

[2020-10-28 17:54] melissawm commented on #2658
Thank you, @jbuisine, that is much clearer now. I'll proceed with the reviewer's invitations. If you have any further questions or comments, please let me know!

[2020-10-28 17:55] danehkar commented on #2772
@arfon, actually,  i think that a direct port is not a correct description. There is a possibility to port IDL into Python. However, the new python package is not a port of IDL version, it is purely a new implementation in Python language and translation of IDL version into Python code. You can see the Python codes here:

https://github.com/atomneb/AtomNeb-py/blob/master/atomneb/atomneb.py

Atomic

[2020-10-28 17:58] melissawm commented on #2658
:wave: Hello @stsievert, @rowanc1 would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html Let me know if you need any more information. Thank you!

[2020-10-28 18:00] arbennett commented on #2483
I think the paper itself is in good condition but still wasn't able to successfully run through the tutorials via binder.  It seems issue I submitted is still open, so I think that's still being worked out.

[2020-10-28 18:03] melissawm commented on #2729
Hello, @corentin-dev, @jakryd would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Let me know if you have need any more information. Thanks!

[2020-10-28 18:04] npetra commented on #2690
Ups, sorry, it looks like I closed the issue by mistake. Trying to reopen it.

[2020-10-28 18:10] danehkar commented on #2773
@arfon For porting IDL package into Python, we should use [idlwrap](https://pypi.org/project/idlwrap/), https://r4lv.github.io/idlwrap/Porting%20IDL%20to%20Python.html, which is not the case her. Here we have a translation and partly implementation of this package purely in the Python language without the use of IDL language . I do not use any library such as [idlwrap](https://pypi.org/project/idl

[2020-10-28 18:30] kfhiga commented on #2744
Hi everyone and thanks for checking @melissawm. I've committed some changes
in response to the issues noted in the Bitbucket issue tracker. I should
probably have mentioned that here in case Bitbucket doesn't send
notifications on issue updates (sorry, still pretty new to this).

Thanks,
Kenny

On Wed, Oct 28, 2020 at 10:52 AM Melissa Weber Mendonça <
notifications@github.com> wrote:

[2020-10-28 18:31] danehkar commented on #2773
@arfon I am happy to update the paper and mention its Python implementation. Can we also revise the title of my published paper? For example, to "proEQUIB/pyEQUIB: IDL/Python Package for Plasma Diagnostics and Abundance Analysis"

[2020-10-28 18:33] danehkar commented on #2772
@arfon I am happy to update the published paper and mention its Python implementation. Can we also revise the title of my published paper? For example, to "AtomNeb: IDL/Python Package for Atomic Data of Ionized Nebulae"

[2020-10-28 18:34] melissawm commented on #2744
No problem! This is the first time I edit a submission that is not on github, so I'm new to this workflow as well. Glad to see things are ok, please ping me if there's any questions or comments. Thanks!

[2020-10-28 19:33] arfon commented on #2773
I don't think we can modify the old paper sorry - this is considered [bad practice](https://www.stm-assoc.org/2017_09_05_STM_Guide_Preserving_the_Record_of_Science_5_September_2017.pdf). The addendum would be a separate (very short) note describing pyEQUIB. The addendum will be a citable object in itself (i.e. will have its own DOI) and we'll make sure it links back to the proEQUIB paper.

We coul

[2020-10-28 19:36] arfon commented on #2772
Similar to my [comment](https://github.com/openjournals/joss-reviews/issues/2773#issuecomment-718161693) on `pyEQUIB`, we can't modify the original paper but we can make sure the new package is mentioned in the addendum title, e.g.:

`AtomNebpy, an addendum to AtomNeb: IDL Library for Atomic Data of Ionized Nebulae`

(or something like that)

[2020-10-28 19:40] danehkar commented on #2773
You probably need to include the following text in addendum:

The Python package `pyEQUIB` requires the Python packages `NumPy` [@Walt:2011; @Harris:2020], `SciPy` [@Virtanen:2020], and `AtomNeb`. The latest version of this package can be installed directly from its repository on the GitHub using ``python setup.py install``, and its stable version from the Python Package Index (PyPi) via ``pip ins

[2020-10-28 19:40] danehkar commented on #2773
@arfon it is OK.

[2020-10-28 19:45] danehkar commented on #2772
The name of python package is still atomneb:
https://pypi.org/project/atomneb/
https://pypi.org/project/atomneb/

so it is better to be `AtomNeb Python Package, an addendum to AtomNeb: IDL Library for Atomic Data of Ionized Nebulae`

[2020-10-28 19:46] danehkar commented on #2772
@arfon The name of python package is still atomneb:
https://pypi.org/project/atomneb/
https://pypi.org/project/atomneb/

so it is better to be `AtomNeb Python Package, an addendum to AtomNeb: IDL Library for Atomic Data of Ionized Nebulae`

[2020-10-28 19:46] danehkar commented on #2773
@arfon

It is better to be `pyEQUIB Python Package, an addendum to AtomNeb: IDL Library for Atomic Data of Ionized Nebulae`

[2020-10-28 19:47] danehkar commented on #2773
@arfon

It is better to be `pyEQUIB Python Package, an addendum to proEQUIB: IDL Library for Plasma Diagnostics and Abundance Analysis`

[2020-10-28 20:05] mikldk commented on #2630
@whedon set 10.5281/zenodo.4147144 as archive

[2020-10-28 20:05] whedon commented on #2630
OK. <a href="https://doi.org/10.5281/zenodo.4147144" target="_blank">10.5281/zenodo.4147144</a> is the archive.

[2020-10-28 20:09] mikldk commented on #2630
@VincentAlcazer I apologise for being pedantic, but 1.1.01 is not a valid semantic version number, which I strongly suggest to stick to. See <https://semver.org/> under [§2](https://semver.org/#spec-item-2) ("A normal version number MUST take the form X.Y.Z where X, Y, and Z are non-negative integers, and MUST NOT contain leading zeroes.").

I would suggest calling it version 1.1.1 instead.

[2020-10-28 20:37] spectralcode commented on #2580
@whedon generate pdf

[2020-10-28 20:38] whedon commented on #2580
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02580/joss.02580/10.21105.joss.02580.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02580/joss.02580/10.21105.joss.02580.pdf) :page_facing_up: :point_left:

[2020-10-28 21:02] tristan-salles commented on #2771
Thanks @kbarnhart !

[2020-10-28 21:45] arfon commented on #2772
Sounds good to me @danehkar. I've stubbed out a basic addendum format [here](https://gist.githubusercontent.com/arfon/17449e908eaa77112a8027e91d7116a0/raw/ff72f34f4971b388acd56f0f8f90e736ed2eb0f5/paper.md). Could you update the `paper.md` in the https://github.com/atomneb/AtomNeb-py repository with a paragraph describing the Python package?

Also, please do something similar over in https://github

[2020-10-28 21:45] whedon opened #2792 "[PRE REVIEW]: Cellocity: A Python package for analysis of confluent cell layer dynamics"
**Submitting author:** @oftatkofta (<a href="http://orcid.org/0000-0002-8945-2665">Jens Eriksson</a>)
**Repository:** <a href="https://github.com/Oftatkofta/cellocity" target ="_blank">https://github.com/Oftatkofta/cellocity</a>
**Version:** 1.0.0
**Editor:** @jni
**Reviewers:** @rfezzani, @aplyer
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2020-10-28 21:45] whedon commented on #2792
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-28 21:46] whedon opened #2793 "[PRE REVIEW]: BVPy: A Python package based on FEniCS and Gmsh for solving boundary value problems in cell and tissue mechanics."
**Submitting author:** @oalii (<a href="http://orcid.org/0000-0001-7671-7225">Olivier Ali</a>)
**Repository:** <a href="https://gitlab.inria.fr/mosaic/bvpy" target ="_blank">https://gitlab.inria.fr/mosaic/bvpy</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @IgorBaratta, @chennachaos, @finsberg
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning

[2020-10-28 21:46] whedon commented on #2793
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-28 21:46] whedon commented on #2792
[code]

[2020-10-28 21:46] whedon opened #2794 "[PRE REVIEW]: effectsize: Estimation and Interpretation of Effect Size Indices and Standardized Parameters"
**Submitting author:** @mattansb (<a href="http://orcid.org/0000-0002-4287-4801">Mattan S. Ben-Shachar</a>)
**Repository:** <a href="https://github.com/easystats/effectsize" target ="_blank">https://github.com/easystats/effectsize</a>
**Version:** 0.4.0.001
**Editor:** @mikldk
**Reviewers:** @trashbirdecology, @jkarreth
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:

[2020-10-28 21:46] whedon commented on #2792
[code]

[2020-10-28 21:46] whedon commented on #2794
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-28 21:46] whedon opened #2795 "[PRE REVIEW]: aiapy: A Python Package for Analyzing Solar EUV Image Data from AIA"
**Submitting author:** @wtbarnes (<a href="http://orcid.org/0000-0001-9642-6089">Will Barnes</a>)
**Repository:** <a href="https://gitlab.com/LMSAL_HUB/aia_hub/aiapy" target ="_blank">https://gitlab.com/LMSAL_HUB/aia_hub/aiapy</a>
**Version:** v0.3.0
**Editor:** @arfon
**Reviewers:** @hayesla, @samaloney
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2020-10-28 21:46] whedon commented on #2795
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-28 21:46] whedon commented on #2793
[code]

[2020-10-28 21:46] whedon commented on #2792
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02792/joss.02792/10.21105.joss.02792.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02792/joss.02792/10.21105.joss.02792.pdf) :page_facing_up: :point_left:

[2020-10-28 21:46] whedon commented on #2793
PDF failed to compile for issue #2793 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (890fd4099fd333577252941f/paper/paper.md): found character that cannot start any token while scanning for the next token at line 4 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ru

[2020-10-28 21:47] whedon commented on #2794
[code]

[2020-10-28 21:47] whedon commented on #2795
[code]

[2020-10-28 21:47] whedon commented on #2794
PDF failed to compile for issue #2794 with the following error:

 Can't find any papers to compile :-(

[2020-10-28 21:47] whedon commented on #2795
PDF failed to compile for issue #2795 with the following error:

 Can't find any papers to compile :-(

[2020-10-28 21:51] arfon commented on #2793
@oalii - there are a number of issues with your `paper.md`. I've attempted to address them in: https://gist.githubusercontent.com/arfon/fe64794a79cbe9d0004b8ede620df49f/raw/4752f38cb5db08998161c43fda197b64929c81b9/paper.md

[2020-10-28 21:52] arfon commented on #2794
@whedon generate pdf from branch paper

[2020-10-28 21:52] whedon commented on #2794
[code]

[2020-10-28 21:53] whedon commented on #2794
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02794/joss.02794/10.21105.joss.02794.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02794/joss.02794/10.21105.joss.02794.pdf) :page_facing_up: :point_left:

[2020-10-28 21:55] arfon commented on #2794
@mattansb - thanks for your submission to JOSS. Could you please suggest an alternative title for your paper without the innuendo?

[2020-10-28 21:56] arfon commented on #2795
@whedon generate pdf from branch joss-paper

[2020-10-28 21:56] whedon commented on #2795
[code]

[2020-10-28 21:56] whedon commented on #2795
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02795/joss.02795/10.21105.joss.02795.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02795/joss.02795/10.21105.joss.02795.pdf) :page_facing_up: :point_left:

[2020-10-28 22:00] mattansb commented on #2794
@arfon An alternative title would be "effectsize: Estimation and Interpretation of Effect Size Indices and Standardized Parameters".
Would that be acceptable?

For reviewers, we would like to suggest Guy Prochilo (gprochilo), Tristan Mahr (tjmahr) or Matt Craddock (craddm).

Thanks!

[2020-10-28 22:07] wtbarnes commented on #2795
Possible suggested reviewers:

Laura Hayes: hayesla
Shane Maloney: samaloney
Matt Craig: mwcraig
Shreyas Bapat: shreyasbapat

[2020-10-28 22:59] katjaq commented on #2670
Hello :)

A huge thank you to the reviewers for their amazing detailed reviews. We addressed all of the points mentioned, implemented the suggested add ons, and included more info in the doc as well as a pointer to the doc in the Readme. Please find the detailed  answers to each issue below.

Q: "append to existing rotation matrices i'm not entirely sure what it means to append an affine matrix, s

[2020-10-28 23:03] spectralcode commented on #2580
@arfon Thank you for the fixes. I merged your pull request!
Here is the DOI of the Zenodo archive: https://doi.org/10.5281/zenodo.4148992

The version number of the most recent release is v1.2.1

Please note: I have made some minor changes to the paper. One change that is noticable is figure 2, which I redesigned to make the text in the figure easier to read. I hope this is fine for everybody, ple

[2020-10-29 00:12] dpsanders commented on #2673
I guess my point is that it's not clear from the title that this is a Julia package. But I'm happy to go with it as is.

[2020-10-29 00:13] dpsanders commented on #2673
@whedon set version as 1.16.3

[2020-10-29 00:13] whedon commented on #2673
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-29 00:13] dpsanders commented on #2673
@whedon set 1.16.3 as version

[2020-10-29 00:13] whedon commented on #2673
OK. 1.16.3 is the version.

[2020-10-29 00:13] dpsanders commented on #2673
@whedon set https://zenodo.org/record/4133570 as archive

[2020-10-29 00:13] whedon commented on #2673
https://zenodo.org/record/4133570 doesn't look like an archive DOI.

[2020-10-29 00:15] dpsanders commented on #2673
@Datseris Could you please check that the version number is correct

[2020-10-29 00:15] dpsanders commented on #2673
@whedon accept

[2020-10-29 00:15] whedon commented on #2673
No archive DOI set. Exiting...

[2020-10-29 02:39] dpsanders commented on #2673
@whedon set 10.5281/zenodo.4133570 as archive

[2020-10-29 02:39] whedon commented on #2673
OK. <a href="https://doi.org/10.5281/zenodo.4133570" target="_blank">10.5281/zenodo.4133570</a> is the archive.

[2020-10-29 02:39] dpsanders commented on #2673
@whedon accept

[2020-10-29 02:39] whedon commented on #2673
[code]

[2020-10-29 02:40] whedon commented on #2673
[code]

[2020-10-29 02:40] dpsanders commented on #2598
@whedon generate pdf

[2020-10-29 02:41] whedon commented on #2673
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1875

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1875, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-29 02:41] whedon commented on #2598
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02598/joss.02598/10.21105.joss.02598.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02598/joss.02598/10.21105.joss.02598.pdf) :page_facing_up: :point_left:

[2020-10-29 03:02] dpsanders commented on #2648
👋 @Jgoldfar: Would you be able to review this submission for JOSS?

[2020-10-29 04:35] sadielbartholomew commented on #2407
I am very happy to now recommend this paper for publication, with many congratulations to Guangzhi and thanks for their patience in waiting for the final review. IPART is clearly an innovative package and I expect it will be a very useful tool for research into or involving atmospheric rivers.

I do have a small number of final comments/questions about the paper content that @Xunius may or may not

[2020-10-29 05:11] sadielbartholomew commented on #2407
(That, as linked to this Issue, is now all of the PRs and Issues I wanted to raise, FYI. To recap, only ihesp/IPART#14 needs to be looked at before in my eyes the paper can be published; the rest are suggestions for further work as general improvements.)

[2020-10-29 06:17] mattansb commented on #2794
@arfon I've changed the title.

[2020-10-29 06:17] mattansb commented on #2794
@whedon generate pdf from branch paper

[2020-10-29 06:17] whedon commented on #2794
[code]

[2020-10-29 06:18] whedon commented on #2794
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02794/joss.02794/10.21105.joss.02794.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02794/joss.02794/10.21105.joss.02794.pdf) :page_facing_up: :point_left:

[2020-10-29 06:36] ketch commented on #2514
@diehlpk Thanks, but I can't see that.  Here is what I see:

![Screen Shot 2020-10-29 at 9 34 41 AM](https://user-images.githubusercontent.com/697763/97533899-22a10c00-19ca-11eb-833d-ebda6c233661.png)

Can you tell me how to get to the page with the "edit" and "New version" buttons?

[2020-10-29 06:40] ketch commented on #2514
Okay, I think I finally found it and fixed it:

![Screen Shot 2020-10-29 at 9 38 54 AM](https://user-images.githubusercontent.com/697763/97534193-a2c77180-19ca-11eb-92c1-c6addd210ea0.png)

Although on the other page I screenshotted above, it still shows exactly the same thing as before.

[2020-10-29 06:49] arfon commented on #2580
@whedon set 10.5281/zenodo.4148992 as archive

[2020-10-29 06:49] whedon commented on #2580
OK. <a href="https://doi.org/10.5281/zenodo.4148992" target="_blank">10.5281/zenodo.4148992</a> is the archive.

[2020-10-29 06:50] arfon commented on #2580
@whedon accept

[2020-10-29 06:50] whedon commented on #2580
[code]

[2020-10-29 06:50] whedon commented on #2580
[code]

[2020-10-29 06:51] VincentAlcazer commented on #2630
@mikldk I understand and sorry for this fastidious release. In fact I chose 1.1.01 due to Zenodo conflicts for 1.1.1.

I updated the version (and had to change the number for Zenodo):
New version: 1.1.2
10.5281/zenodo.4152933

Thank you again for your time.

Best regards,

Vincent Alcazer

[2020-10-29 06:51] whedon commented on #2580
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1876

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1876, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-29 06:56] arfon commented on #2580
@whedon accept deposit=true

[2020-10-29 06:56] whedon commented on #2580
[code]

[2020-10-29 06:57] whedon commented on #2580
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1321707627894706176) 👈 🐦🐦🐦

[2020-10-29 06:57] whedon commented on #2580
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1877
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02580](https://doi.org/10.21105/joss.02580)
2. If everything looks g

[2020-10-29 06:59] arfon commented on #2673
@Datseris - could you please merge this PR which fixes some issues with your DOIs? https://github.com/JuliaDynamics/DrWatson.jl/pull/208

[2020-10-29 07:00] arfon commented on #2580
@jdavidli, @brandondube - many thanks for your reviews here ✨

@spectralcode - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-10-29 07:00] #2580 closed

[2020-10-29 07:00] whedon commented on #2580
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02580/status.svg)](https://doi.org/10.21105/joss.02580)

**We need your help!**

Journal of Open Source Softwa

[2020-10-29 07:01] whedon opened #2796 "[PRE REVIEW]: SHED: Streaming Heterogeneous Event Data Tracking with Provenance"
**Submitting author:** @CJ-Wright (<a href="http://orcid.org/0000-0003-2522-7028">Christopher Wright</a>)
**Repository:** <a href="https://github.com/xpdAcq/SHED" target ="_blank">https://github.com/xpdAcq/SHED</a>
**Version:** 0.7.5
**Editor:** @arfon
**Reviewers:** @remram44
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pa

[2020-10-29 07:01] whedon commented on #2796
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-29 07:02] whedon commented on #2796
[code]

[2020-10-29 07:02] whedon commented on #2796
PDF failed to compile for issue #2796 with the following error:

 Can't find any papers to compile :-(

[2020-10-29 07:02] arfon commented on #2772
@whedon assign me as editor

[2020-10-29 07:02] whedon commented on #2772
OK, the editor is @arfon

[2020-10-29 07:02] arfon commented on #2772
@whedon add @arfon as reviewer

[2020-10-29 07:02] whedon commented on #2772
OK, @arfon is now a reviewer

[2020-10-29 07:03] arfon commented on #2772
@whedon start review

@danehkar - I'm going to move this forward to 'review' even though it will only be you and I working on the addendum together (no additional external review).

[2020-10-29 07:03] #2772 closed

[2020-10-29 07:03] whedon opened #2797 "[REVIEW]: AtomNeb: Python Package for Atomic Data of Ionized Nebulae"
**Submitting author:** @danehkar (<a href="http://orcid.org/0000-0003-4552-5997">Ashkbiz Danehkar</a>)
**Repository:** <a href="https://github.com/atomneb/AtomNeb-py" target ="_blank">https://github.com/atomneb/AtomNeb-py</a>
**Version:** v0.2.3
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.4287566" target="_blank">10.5281/zenodo.4287566</a>

**:warni

[2020-10-29 07:03] whedon commented on #2772
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2797.

[2020-10-29 07:03] whedon commented on #2797
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theo

[2020-10-29 07:03] arfon commented on #2773
@whedon assign me as editor

[2020-10-29 07:03] whedon commented on #2773
OK, the editor is @arfon

[2020-10-29 07:03] arfon commented on #2773
@whedon add @arfon as reviewer

[2020-10-29 07:03] whedon commented on #2773
OK, @arfon is now a reviewer

[2020-10-29 07:04] arfon commented on #2773
@whedon start review

@danehkar - I'm going to move this forward to 'review' even though it will only be you and I working on the addendum together (no additional external review).

[2020-10-29 07:04] whedon opened #2798 "[REVIEW]: pyEQUIB: Python Package for Plasma Diagnostics and Abundance Analysis"
**Submitting author:** @danehkar (<a href="http://orcid.org/0000-0003-4552-5997">Ashkbiz Danehkar</a>)
**Repository:** <a href="https://github.com/equib/pyEQUIB" target ="_blank">https://github.com/equib/pyEQUIB</a>
**Version:** v0.3.3
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.4287576" target="_blank">10.5281/zenodo.4287576</a>

**:warning: JOSS r

[2020-10-29 07:04] whedon commented on #2773
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2798.

[2020-10-29 07:04] #2773 closed

[2020-10-29 07:04] whedon commented on #2798
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theo

[2020-10-29 07:04] whedon commented on #2797
[code]

[2020-10-29 07:04] whedon commented on #2798
[code]

[2020-10-29 07:04] whedon commented on #2797
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02797/joss.02797/10.21105.joss.02797.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02797/joss.02797/10.21105.joss.02797.pdf) :page_facing_up: :point_left:

[2020-10-29 07:05] whedon commented on #2798
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02798/joss.02798/10.21105.joss.02798.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02798/joss.02798/10.21105.joss.02798.pdf) :page_facing_up: :point_left:

[2020-10-29 07:05] arfon commented on #2798
@danehkar - please adapt your `paper.md` to follow the same format as I described over here: https://github.com/openjournals/joss-reviews/issues/2772#issuecomment-718227083

Once you've done that, I can work on getting the addendum published.

[2020-10-29 07:05] arfon commented on #2796
@whedon generate pdf from branch joss-paper

[2020-10-29 07:05] whedon commented on #2796
[code]

[2020-10-29 07:06] whedon commented on #2796
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02796/joss.02796/10.21105.joss.02796.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02796/joss.02796/10.21105.joss.02796.pdf) :page_facing_up: :point_left:

[2020-10-29 07:16] leouieda commented on #2766
@ashiklom thank you for your thorough review (and issues on the software repository)!

@znicholls please do you best to address some of the points raised, in particular:

1. Adding suggested context to the statement of need. Including it in the docs is a good idea and helps define the scope of the project.
2. Fleshing out the "State of the field" in the JOSS paper.

Please keep us posted on your p

[2020-10-29 07:17] arfon commented on #2779
@dmey - could you elaborate? This will help us making our editorial scope decision.

[2020-10-29 07:22] arfon commented on #2789
@whedon invite @xuanxu as editor

:wave: @xuanxu - could you edit this submission for us?

[2020-10-29 07:22] whedon commented on #2789
@xuanxu has been invited to edit this submission.

[2020-10-29 07:25] mikldk commented on #2630
@whedon set 10.5281/zenodo.4152933 as archive

[2020-10-29 07:25] whedon commented on #2630
OK. <a href="https://doi.org/10.5281/zenodo.4152933" target="_blank">10.5281/zenodo.4152933</a> is the archive.

[2020-10-29 07:25] mikldk commented on #2630
@whedon set v1.1.2 as version

[2020-10-29 07:25] whedon commented on #2630
OK. v1.1.2 is the version.

[2020-10-29 07:26] mikldk commented on #2630
@whedon generate pdf

[2020-10-29 07:26] whedon commented on #2630
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02630/joss.02630/10.21105.joss.02630.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02630/joss.02630/10.21105.joss.02630.pdf) :page_facing_up: :point_left:

[2020-10-29 07:27] arfon commented on #2793
@whedon invite @Kevin-Mattheus-Moerman as editor

:wave: @Kevin-Mattheus-Moerman - I realise you already have a number of papers on your plate but would you be able to take this one too?

[2020-10-29 07:27] whedon commented on #2793
@Kevin-Mattheus-Moerman has been invited to edit this submission.

[2020-10-29 07:29] mikldk commented on #2630
@whedon accept

[2020-10-29 07:29] whedon commented on #2630
[code]

[2020-10-29 07:29] whedon commented on #2630
[code]

[2020-10-29 07:29] whedon commented on #2630
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1878

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1878, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-29 07:30] mikldk commented on #2630
@nistara, @adithirgis Thank you very much for your effort in reviewing this paper!

[2020-10-29 07:31] Datseris commented on #2673
Thank you @arfon , I just did!

[2020-10-29 08:17] Kevin-Mattheus-Moerman commented on #2793
@whedon assign me as editor

[2020-10-29 08:17] whedon commented on #2793
OK, the editor is @Kevin-Mattheus-Moerman

[2020-10-29 08:39] arfon commented on #2673
@whedon check references

[2020-10-29 08:40] whedon commented on #2673
[code]

[2020-10-29 08:41] arfon commented on #2673
@whedon accept

[2020-10-29 08:41] whedon commented on #2673
[code]

[2020-10-29 08:42] whedon commented on #2673
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1879

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1879, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-29 08:43] whedon commented on #2673
[code]

[2020-10-29 08:50] dmey commented on #2779
@arfon -- may I give you my response by early next week?

[2020-10-29 08:50] arfon commented on #2673
@whedon accept deposit=true

[2020-10-29 08:51] whedon commented on #2673
[code]

[2020-10-29 08:51] whedon commented on #2673
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1321736482017759232) 👈 🐦🐦🐦

[2020-10-29 08:51] whedon commented on #2673
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1880
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02673](https://doi.org/10.21105/joss.02673)
2. If everything looks g

[2020-10-29 08:53] arfon commented on #2630
@whedon accept deposit=true

[2020-10-29 08:53] whedon commented on #2630
[code]

[2020-10-29 08:53] whedon commented on #2630
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1321737015784886273) 👈 🐦🐦🐦

[2020-10-29 08:53] whedon commented on #2630
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1881
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02630](https://doi.org/10.21105/joss.02630)
2. If everything looks g

[2020-10-29 08:54] arfon commented on #2673
@jpfairbanks, @kescobo, @apdavison - many thanks for your reviews here and to @dpsanders for editing this submission ✨

@Datseris - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-10-29 08:54] #2673 closed

[2020-10-29 08:54] whedon commented on #2673
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02673/status.svg)](https://doi.org/10.21105/joss.02673)

**We need your help!**

Journal of Open Source Softwa

[2020-10-29 08:56] arfon commented on #2785
@whedon generate pdf

[2020-10-29 08:56] whedon commented on #2785
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02785/joss.02785/10.21105.joss.02785.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02785/joss.02785/10.21105.joss.02785.pdf) :page_facing_up: :point_left:

[2020-10-29 08:57] VivianePons commented on #2779
No problem!

[2020-10-29 08:57] arfon commented on #2630
@nistara, @adithirgis - many thanks for your reviews here and to @mikldk for editing this submission ✨

@VincentAlcazer - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-10-29 08:57] #2630 closed

[2020-10-29 08:57] whedon commented on #2630
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02630/status.svg)](https://doi.org/10.21105/joss.02630)

**We need your help!**

Journal of Open Source Softwa

[2020-10-29 09:00] arfon commented on #2785
@whedon invite @drvinceknight as editor

:wave: @drvinceknight - would you be able to take on this submission?

[2020-10-29 09:00] whedon commented on #2785
@drvinceknight has been invited to edit this submission.

[2020-10-29 09:01] arfon commented on #2787
@whedon invite @csoneson as editor

:wave: @csoneson - would you be able to handle this submission for JOSS?

[2020-10-29 09:01] whedon commented on #2787
@csoneson has been invited to edit this submission.

[2020-10-29 09:05] arfon commented on #2788
@whedon invite @hugoledoux as editor

:wave: @hugoledoux - would you feel comfortable taking on another submission right now?

[2020-10-29 09:05] whedon commented on #2788
@hugoledoux has been invited to edit this submission.

[2020-10-29 09:07] arfon commented on #2794
@whedon invite @mikldk as editor

:wave: @mikldk - would you be able to edit this submission for JOSS?

[2020-10-29 09:08] whedon commented on #2794
@mikldk has been invited to edit this submission.

[2020-10-29 09:09] arfon commented on #2795
@whedon assign me as editor

[2020-10-29 09:09] whedon commented on #2795
OK, the editor is @arfon

[2020-10-29 09:11] arfon commented on #2795
:wave: @hayesla and @samaloney - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software (_aiapy: A Python Package for Analyzing Solar EUV Image Data from AIA_) we'd be asking you to review is here: https://gitlab.com/LMSAL_HUB/a

[2020-10-29 09:13] arfon commented on #2796
@whedon invite @katyhuff as editor

:wave: @katyhuff - would you be able to edit this submission for JOSS?

[2020-10-29 09:13] whedon commented on #2796
@katyhuff has been invited to edit this submission.

[2020-10-29 09:46] mikldk commented on #2794
@whedon assign me as editor

[2020-10-29 09:46] hugoledoux commented on #2788
sure!

[2020-10-29 09:46] whedon commented on #2794
OK, the editor is @mikldk

[2020-10-29 09:57] arfon commented on #2788
@whedon assign @hugoledoux as editor

[2020-10-29 09:58] whedon commented on #2788
OK, the editor is @hugoledoux

[2020-10-29 10:03] arfon commented on #2792
@whedon invite @lpantano as editor

:wave: @lpantano - would you be able to take on this submission for us?

[2020-10-29 10:03] whedon commented on #2792
@lpantano has been invited to edit this submission.

[2020-10-29 10:25] tscheypidi commented on #2782
@evanoffPNNL, I am just checking the list of authors and did not find all mentioned authors in the commit history of hectorui. Could you please clarify how Stephanie Waldhoff, Abigail Snyder and Corinne Hartin contributed to the Software?

[2020-10-29 10:42] xuanxu commented on #2789
@whedon assign me as editor

[2020-10-29 10:42] whedon commented on #2789
OK, the editor is @xuanxu

[2020-10-29 11:13] sebhaan commented on #2690
Hi @npetra,

thank you for your very helpful comments and taking your time to review this package.
I will have some more time to work on it next week and will come back to you soon with the details for each point.

[2020-10-29 11:27] hayesla commented on #2795
Hey @arfon - yes I'm happy to review this submission to JOSS

[2020-10-29 11:43] xuanxu commented on #2789
@Jammy2211 A quick comment before I look for reviewers: I got some errors cloning the repo, because the .git directory is big (~260Mb), so I had to install the [LFS extension](https://git-lfs.github.com/) for git to be able to work with it. I'd recommend adding a note in the _Cloning/forking_ section of the Installation guide, and/or trying to reduce the size of the repo objects in the git history

[2020-10-29 11:46] Jammy2211 commented on #2789
Thanks. I literally added the LFS stuff last night, having not used it before. Sounds like it is cumbersome so I will remove it entirely and switch the files to some sort of a URL download or separate GIt repo :).

[2020-10-29 11:52] Jammy2211 commented on #2789
We're also aware of an issue where the imports in the `transdimensional` and `slam` runners in the autolens_workspace will give import errors, which require setting your PYTHONPATH to fix.

We did a big refactor before submitting (probably not the best idea...) changing how we handle paths / configs / output and are still having a few teething issues, but the goal is to make it so users don't have

[2020-10-29 12:25] arfon commented on #2795
Great, thanks @hayesla. I'll add you here now but won't actually open the review thread (a separate issue) until I've identified a second reviewer.

[2020-10-29 12:25] arfon commented on #2795
@whedon add @hayesla as reviewer

[2020-10-29 12:25] whedon commented on #2795
OK, @hayesla is now a reviewer

[2020-10-29 12:25] whedon opened #2799 "[PRE REVIEW]: EUKulele: Taxonomic annotation of the unsung eukaryotic microbes"
**Submitting author:** @akrinos (<a href="http://orcid.org/0000-0001-9767-8392">Arianna Krinos</a>)
**Repository:** <a href="https://github.com/AlexanderLabWHOI/EUKulele" target ="_blank">https://github.com/AlexanderLabWHOI/EUKulele</a>
**Version:** v1.0.0
**Editor:** @will-rowe
**Reviewers:** @johanneswerner, @jcmcnch
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:*

[2020-10-29 12:25] whedon commented on #2799
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-29 12:26] whedon commented on #2799
[code]

[2020-10-29 12:26] whedon commented on #2799
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02799/joss.02799/10.21105.joss.02799.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02799/joss.02799/10.21105.joss.02799.pdf) :page_facing_up: :point_left:

[2020-10-29 12:27] arfon commented on #2799
@whedon invite @will-rowe as editor

:wave: @will-rowe - the submitting author suggested you as the handling editor, do you have capacity to take this on right now?

[2020-10-29 12:27] whedon commented on #2799
@will-rowe has been invited to edit this submission.

[2020-10-29 12:34] whedon commented on #2799
[code]

[2020-10-29 12:43] danielskatz commented on #2646
👋 @skadio, @prw99r, @r-a-hoggarth - ping... ⬆️

[2020-10-29 12:44] danielskatz commented on #2646
@r-a-hoggarth - it looks like you've checked off everything - can I take that to mean you are satisfied with the submission?

[2020-10-29 12:48] danielskatz commented on #2282
👋 @mikerspencer  - see https://github.com/jcolomb/HCS_analysis/issues/30#issuecomment-718730338

[2020-10-29 12:56] fboehm commented on #2724
@whedon add @jsgalan as reviewer

[2020-10-29 12:56] whedon commented on #2724
OK, @jsgalan is now a reviewer

[2020-10-29 12:56] fboehm commented on #2724
@whedon start review

[2020-10-29 12:56] whedon opened #2800 "[REVIEW]: rdataretriever: An R package for downloading, cleaning, and installing publicly available datasets"
**Submitting author:** @henrykironde (<a href="http://orcid.org/0000-0001-7105-5808">henry senyondo</a>)
**Repository:** <a href="https://github.com/ropensci/rdataretriever" target ="_blank">https://github.com/ropensci/rdataretriever</a>
**Version:** v3.0.1
**Editor:** @fboehm
**Reviewer:** @rmhogervorst, @jsgalan
**Archive:** <a href="https://doi.org/10.5281/zenodo.4314115" target="_blank">10.528

[2020-10-29 12:56] whedon commented on #2724
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2800.

[2020-10-29 12:57] #2724 closed

[2020-10-29 12:57] whedon commented on #2800
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rmhogervorst, @jsgalan it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-10-29 12:57] whedon commented on #2800
[code]

[2020-10-29 12:57] whedon commented on #2800
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: :point_left:

[2020-10-29 12:59] fboehm commented on #2800
@jsgalan and @RMHogervorst - please check boxes above as you complete your review. For any boxes that you can't check right now, due to needed edits or fixes, please discuss the issues here or open issues in the submission repository. And please let me know if you have any questions. Thank you again!

[2020-10-29 13:13] skadio commented on #2646
A quick update: I looked at the submissions but haven't completed the list yet, hoping to get back to it this weekend.

[2020-10-29 13:22] danielskatz commented on #2685
I have email from @carothersc that he is not able to complete this due to teaching responsibilities

[2020-10-29 13:24] danielskatz commented on #2685
👋 @rblake-llnl - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-10-29 13:24] danielskatz commented on #2685
(and we already have one complete review, so I hope nothing major will come up)

[2020-10-29 13:55] agricolab commented on #2463
@VivianePons , I can do the review, as requested by your mail today.

[2020-10-29 13:56] VivianePons commented on #2463
Thank you! I am adding you as a reviewer

[2020-10-29 13:56] VivianePons commented on #2463
@whedon add @agricolab as reviewer

[2020-10-29 13:56] whedon commented on #2463
OK, @agricolab is now a reviewer

[2020-10-29 14:02] arfon commented on #2708
@whedon re-invite @marcjwilliams1 as reviewer

[2020-10-29 14:02] whedon commented on #2708
OK, the reviewer has been re-invited.

@marcjwilliams1 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-29 14:03] arfon commented on #2708
@marcjwilliams1 - can you try clicking the invite link again now? I believe the invites expire after a week.

[2020-10-29 14:08] marcjwilliams1 commented on #2708
@arfon working now, thanks.

[2020-10-29 14:11] arfon commented on #2697
:wave: @galessiorob - is this ready to go out for review? It looks like we have four reviewers assigned here :-)

[2020-10-29 14:22] benjaminbolling commented on #1942
@majensen Sorry for the delay in my reply, I have a lot of work nowadays during the pandemic.

I have replied to [Issue #3](https://github.com/benjaminbolling/DynaGUI/issues/3).

I will deal with [Issue #7](https://github.com/benjaminbolling/DynaGUI/issues/7) this evening.

I am close to finished with the API documentation for [Issue #8](https://github.com/benjaminbolling/DynaGUI/issues/8), and wi

[2020-10-29 14:30] rcarragh commented on #2706
@rrrlw - I've added a comment in rcarragh/c212#6 to address your question about state of the field.
I didn't close the issue so if you want to add anything further of course please do, but if you are happy with the response then we can close it.

[2020-10-29 14:43] prw99r commented on #2646
I have some time scheduled this week to check things out some more.

On Thu, 29 Oct 2020, 13:13 skadio, <notifications@github.com> wrote:

[2020-10-29 15:11] kbarnhart commented on #2771
@tristan-salles let me know if you have any thoughts on suitable reviewers for gospl. Please mention them with a space between the @ and their handle (so you would refer to me as "@ kbarnhart").

I have some thoughts on suitable reviewers but am interested in your input.

[2020-10-29 15:21] kbarnhart commented on #2407
@sadielbartholomew thank you for completing your review! I agree with your distinction between issues should be addressed before publication (https://github.com/ihesp/IPART/pull/14) and others.

@Xunius once you've addressed the comments by @sadielbartholomew above, please ping me here and I'll start the final steps in the JOSS review process.

[2020-10-29 15:49] dpsanders commented on #2673
Congrats @tamasgal and @datseris!

Many thanks to @kescobo, @jpfairbanks and @apdavison for your reviews.

[2020-10-29 16:26] raivivek commented on #2743
Hi @greggj2016 — thanks for the explanation. It's great to know that there are amazing tests bundled with REGENS. If possible, I'd encourage you to create a wrapper script that runs all of these tests for the end-user and reports results in one output. For example, the output exit status of this script can be used to ascertain if the software is working as expected or not in pipelines. Also, you m

[2020-10-29 16:30] vincentberenz commented on #2459
@traversaro @giodegas

I am working on generating a debian for o80. I will finalize this in the upcoming days (i.e. broader support, documentation, etc), but I though sharing it with you early on may help with the review.

https://owncloud.tuebingen.mpg.de/index.php/s/saSsfK6G5G7aAj9

[code]

limitations:
- only amd64
- assumes default python3 is python3.6.*

I tested on both my desktop (ubuntu 18

[2020-10-29 16:57] chorscroft commented on #2638
Thank you @juanvillada for putting the time and effort to review my paper!

Apologies for the slow response, I wasn't sure if I was supposed to wait for all the reviews to be returned.

Response to issue 1:
Thanks for raising this point! I created the software and coded it all myself, however my co-authors have been invaluable to the project by:
- testing the code
- reading the documentation
- dev

[2020-10-29 17:22] samaloney commented on #2795
Hi @arfon I'm also happy to review this JOSS submission

[2020-10-29 17:34] diehlpk commented on #2514
@arfon Do you have any idea what is going on? I do not know why the title is different in the two different views?

[2020-10-29 18:03] diehlpk commented on #2514
@ketch I see in your screenshot that you have one draft. Have you published your edit? You first have to save the edit and in addition you have to publish it. Could you please check if you have published it? Just some idea, since I saw the draft in the scrrenshot.

[2020-10-29 18:18] spectralcode commented on #2580
@brandondube , @jdavidli many thanks for your reviews and to @kthyng and @arfon for editing this submission!

[2020-10-29 18:32] arfon commented on #2795
@whedon add @samaloney as reviewer

[2020-10-29 18:32] whedon commented on #2795
OK, @samaloney is now a reviewer

[2020-10-29 18:33] arfon commented on #2795
@whedon start review

[2020-10-29 18:33] whedon opened #2801 "[REVIEW]: aiapy: A Python Package for Analyzing Solar EUV Image Data from AIA"
**Submitting author:** @wtbarnes (<a href="http://orcid.org/0000-0001-9642-6089">Will Barnes</a>)
**Repository:** <a href="https://gitlab.com/LMSAL_HUB/aia_hub/aiapy" target ="_blank">https://gitlab.com/LMSAL_HUB/aia_hub/aiapy</a>
**Version:** v0.3.0
**Editor:** @arfon
**Reviewer:** @hayesla, @samaloney
**Archive:** <a href="https://doi.org/10.5281/zenodo.4274931" target="_blank">10.5281/zenodo.42

[2020-10-29 18:33] whedon commented on #2795
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2801.

[2020-10-29 18:33] #2795 closed

[2020-10-29 18:33] whedon commented on #2801
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hayesla, @samaloney it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-10-29 18:33] whedon commented on #2801
PDF failed to compile for issue #2801 with the following error:

 Can't find any papers to compile :-(

[2020-10-29 18:33] arfon commented on #2795
@hayesla, @samaloney, @wtbarnes  - see you over in #2801 where the actual review will take place.

[2020-10-29 18:33] arfon commented on #2801
@whedon generate pdf from branch joss-paper

[2020-10-29 18:33] whedon commented on #2801
[code]

[2020-10-29 18:34] whedon commented on #2801
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02801/joss.02801/10.21105.joss.02801.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02801/joss.02801/10.21105.joss.02801.pdf) :page_facing_up: :point_left:

[2020-10-29 18:34] arfon commented on #2801
@hayesla, @samaloney - this is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied.

[2020-10-29 18:43] danielskatz commented on #2685
👋 @yadudoc - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-10-29 18:56] vlandau commented on #2777
@whedon commands

[2020-10-29 18:56] whedon commented on #2777
Here are some things you can ask me to do:

[code]

[2020-10-29 19:37] yadudoc commented on #2685
@danielskatz, I can review.

[2020-10-29 19:41] danielskatz commented on #2685
Thanks @yadudoc  - I'm going to create a checklist for you, and invite you.  You will need to accept the invitation, then you can work through the checklist items.  You should look at the first couple of issues above regarding notifications as well - let me know what else I can do to help you.

[2020-10-29 19:41] danielskatz commented on #2685
@whedon add @yadudoc as reviewer

[2020-10-29 19:41] whedon commented on #2685
OK, @yadudoc is now a reviewer

[2020-10-29 19:41] danielskatz commented on #2685
@whedon re-invite @yadudoc as reviewer

[2020-10-29 19:41] whedon commented on #2685
The reviewer already has a pending invite.

@yadudoc please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-29 19:43] danielskatz commented on #2685
@yadudoc - you now have a checklist at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet our criteria instead of merely passing judgment on the s

[2020-10-29 19:50] tristan-salles commented on #2771
Hi @kbarnhart, here are some suitable reviewers:
+ @ sgrieve,
+ @ BCampforts,
+ @ SiccarPoint,
+ @ benbovy, or
+ @ johnjarmitage

[2020-10-29 20:20] danehkar commented on #2798
@arfon Thank you. I will adapt my `paper.m` accordingly soon. I will let you know when it is ready.

[2020-10-29 20:22] mikldk commented on #2794
@whedon check refereces from branch paper

[2020-10-29 20:22] whedon commented on #2794
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-29 20:23] mikldk commented on #2794
@whedon check references from branch paper

[2020-10-29 20:23] whedon commented on #2794
[code]

[2020-10-29 20:24] whedon commented on #2794
[code]

[2020-10-29 20:26] mvandam commented on #2764
The paper meets the criteria set out, but is very short. I am not a regular reader of JOSS, but I would have expected to see
(1) a comprehensive list of the important features (I know that the software is evolving), (2)  an idea of how long it takes to run on standard hardware and (3) a list of user cases (other than METIS). The paper does not do a particularly good job of "selling" the software.

[2020-10-29 20:28] mikldk commented on #2794
@trashbirdecology, @tbrown122387: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-10-29 20:28] kullrich commented on #2424
@whedon generate pdf

[2020-10-29 20:29] whedon commented on #2424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: :point_left:

[2020-10-29 20:44] rowanc1 commented on #2658
Hi @melissawm, I don't have time at this point, sorry.

[2020-10-29 20:50] csoneson commented on #2787
@whedon add @csoneson as editor

[2020-10-29 20:50] whedon commented on #2787
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-29 20:51] csoneson commented on #2787
@whedon assign @csoneson as editor

[2020-10-29 20:51] whedon commented on #2787
OK, the editor is @csoneson

[2020-10-29 20:54] stsievert commented on #2658
@melissawm yes, I can review this.

[2020-10-29 20:54] csoneson commented on #2787
👋 @PatrickRWright - I will handle your submission, and start by inviting suitable reviewers. In the meanwhile, could you please add a 'Statement of Need' section to your paper (see e.g. [here](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain))? Also, during a quick read-through I noticed that there was one place in the manuscript where `CDMS` was misspelled as `CM

[2020-10-29 21:10] kbarnhart commented on #2771
:wave: @cmshobe, @SiccarPoint, @johnjarmitage, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue which is used to find reviewers. Once 2-3 reviewers have been found I'll start the review on a dedicated GitH

[2020-10-29 21:26] benjaminbolling commented on #1942
I have now dealt with [Issue #7](https://github.com/benjaminbolling/DynaGUI/issues/7), let's see if this will do. 🙂

Continuing with [Issue #8](https://github.com/benjaminbolling/DynaGUI/issues/8) now.

[2020-10-29 22:47] lnferris commented on #2497
I created a new release (1.0.1) and switched the cited DOI to this release.

[2020-10-30 00:01] Xunius commented on #2407
@whedon generate pdf

@kbarnhart Thanks. https://github.com/ihesp/IPART/pull/14 has been merged.

[2020-10-30 00:02] whedon commented on #2407
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02407/joss.02407/10.21105.joss.02407.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02407/joss.02407/10.21105.joss.02407.pdf) :page_facing_up: :point_left:

[2020-10-30 01:03] tbrown122387 commented on #2794
@mikldk sorry I’m really busy at the moment

[2020-10-30 01:21] thowell commented on #2648
@dpsanders happy to do a review sometime during the next two weeks if that works

[2020-10-30 01:42] dwinter commented on #2743
Hi @greggj2016 and @raivivek,

I am working my way through this review and will have more detailed comments soon. Regens looks like a useful and well-written piece of software, and as far as I can tell it works as it says it does. I think think the major room for improvement will be in software engineering approaches that will make it easier for others ti work with or contribute to regens (and for

[2020-10-30 03:07] kanishkan91 commented on #2755
@whedon list reviewers

[2020-10-30 03:07] whedon commented on #2755
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-10-30 06:49] ketch commented on #2514
Thanks; apparently I clicked the wrong button previously.  Now it is published.

[2020-10-30 07:19] oalii commented on #2793
Hello @arfon, thanks for your editing of the `paper.md`. https://gist.githubusercontent.com/arfon/fe64794a79cbe9d0004b8ede620df49f/raw/4752f38cb5db08998161c43fda197b64929c81b9/paper.md

Since this is my first submission to JOSS I don't know how it works: Do I need to do anything with these modifications (update and push the file on our gitlab repo ?).

[2020-10-30 07:22] arfon commented on #2793
Hi @oalii. Yes, please update your paper and test is compiles with either the Whedon paper preview service (http://whedon.theoj.org) or here by issuing the command `@whedon generate pdf`.

The entire JOSS editorial process happens in the GitHub review issues and so it's essential that the paper can be compiled by Whedon here.

[2020-10-30 07:23] mikldk commented on #2794
@kellieotto: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-10-30 07:55] oalii commented on #2793
@whedon generate pdf

[2020-10-30 07:56] whedon commented on #2793
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02793/joss.02793/10.21105.joss.02793.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02793/joss.02793/10.21105.joss.02793.pdf) :page_facing_up: :point_left:

[2020-10-30 08:00] oalii commented on #2793
@arfon,
ok I updated `paper.md` with your modifications, the pdf is properly generated and all our tests pass. Again a stupid *newbie* question : I pushed the modify in the develop branch, should I merge it in the master or should I wait the end of the review process before pushing everything on the master ?

[2020-10-30 08:04] puolival commented on #2578
@Mmj94 Could you please recompile the manuscript? I'd like to compare the response to reviewers to the updated manuscript. Thanks!

[2020-10-30 08:07] PatrickRWright commented on #2787
Hi @csoneson - Thank you, its appreciated. I have added the 'Statement of Need' and corrected the typo you pointed out.

[2020-10-30 08:28] arfon commented on #2793
👍. There are no stupid questions here, these are all good ones :-)

Whedon can compile from the default (`master` in your case) or a named branch so it's up to you. Some authors never merge the JOSS paper into their default branch (preferring to keep it on a named branch for the entire process).

[2020-10-30 08:41] flokno commented on #2671
@ajjackson I understand your comments on the manuscript are complete and mainly focus on the "state of the field" section with a clearer separation between examples/potential future directions and implemented featuers? If yes I'll go back to my coauthors and revise the script to progess on that end.

[2020-10-30 09:13] whedon opened #2802 "[PRE REVIEW]: netrd: A library for network reconstruction and graph distances"
**Submitting author:** @sdmccabe (<a href="http://orcid.org/0000-0002-7180-145X">Stefan McCabe</a>)
**Repository:** <a href="https://github.com/netsiphd/netrd" target ="_blank">https://github.com/netsiphd/netrd</a>
**Version:** v0.2.2
**Editor:** @arfon
**Reviewers:** @adi3, @sonal-raj
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO