[2020-03-09 19:37] danielskatz commented on #2105
Thanks to @Luthaf and @rcannood for reviewing, and congratulations to @waxlamp and coauthors!

[2020-03-09 19:37] #2105 closed

[2020-03-09 19:37] whedon commented on #2105
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02105/status.svg)](https://doi.org/10.21105/joss.02105)

**We need your help!**

Journal of Open Source Softwa

[2020-03-09 19:52] waxlamp commented on #2105
Thank you, reviewers! And thank you @danielskatz for your support during this very first JOSS paper submission experience for me!

[2020-03-09 19:59] arfon commented on #2101
You're invited again @christinahedges.

[2020-03-09 20:39] christinahedges commented on #2101
Thanks @arfon.

I've taken a look at LATTE and added my review comments to an issue [here](https://github.com/noraeisner/LATTE/issues/3). @noraeisner and @xuanxu, I have left comments there why some of the boxes are unticked.

I find the biggest comment I have to be the state of the field in the paper needs to be improved. I think that the SPOC validation reports, MIT QLP validation reports, elean

[2020-03-09 22:00] malcolmbarrett commented on #1991
Thanks again for your patience and to the reviewers for their very helpful feedback. We have worked a substantial amount of this feedback into our paper and introductory vignette in particular, as well as other areas of the repository, which are now all available in the master branch of the repository.

## Paper updates

### Clarity

Per the suggestions from both reviewers, we have reworked the in

[2020-03-09 22:20] markgalassi commented on #2072
Further testing: thanks @SirSharpest for addressing the issues I reported previously.  Smaller ones now:
1. Since you document how to run *before* you document installation, you should slip in a "after installing (according to the instructions below)" here and there.
2. Because of the python community's sad failure in updating the world to python3, you might want to mention that on many systems th

[2020-03-09 22:45] hausen commented on #1655
@arfon @poulson done

[2020-03-09 22:49] arfon commented on #2149
:wave: @dglmoore @platipodium - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-03-09 23:43] malramsay64 commented on #2141
Hi @dfm, I am willing and able to review this submission.

[2020-03-10 00:17] utf commented on #2102
This is a fantastic package and will be of use to many researchers studying first-principles defects. The paper is well written and very clear. The package itself is well structured and the API is clean. The module level documentation is also excellent. Overall, I strongly recommend this paper be accepted.

I have a number of minor concerns which I've raised as pull requests and issues.

[2020-03-10 02:14] deniederhut commented on #2136
Sure thing 😄

[2020-03-10 02:23] phillima commented on #1960
Hello @gkthiruvathukal. I have performed the steps as requested. Could you please verify that I have done it correctly? Thank you very much!

Version tag: 2.2.1

Zenodo DOI: 10.5281/zenodo.3701910

[2020-03-10 03:21] deniederhut commented on #2136
Okay, I have added some more detail about the transformations, and included a table with the two libraries mentioned. Let me know what you think!

[2020-03-10 03:55] clauswilke commented on #1991
Has the new paper pdf been generated?

[2020-03-10 04:01] malcolmbarrett commented on #1991
@whedon generate pdf

[2020-03-10 04:02] whedon commented on #1991
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01991/joss.01991/10.21105.joss.01991.pdf)

[2020-03-10 04:19] clauswilke commented on #1991
I'm fine with the revisions. No further comments.

[2020-03-10 04:22] arbennett commented on #2042
@sjpfenninger - I have updated the introduction to be more friendly to a general audience.

[2020-03-10 08:00] jenzopr commented on #2061
@whedon generate pdf

[2020-03-10 08:01] whedon commented on #2061
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02061/joss.02061/10.21105.joss.02061.pdf)

[2020-03-10 08:38] richardjgowers commented on #2132
@rmeli any chance you can look at this?

[2020-03-10 08:40] lfduquey commented on #2155
@danielskatz I have submitted the paper again.

[2020-03-10 08:41] richardjgowers commented on #2132
@amandadumi would you be interested in reviewing this?

[2020-03-10 08:41] richardjgowers commented on #2142
@luthaf any chance you can help review this?

[2020-03-10 08:44] richardjgowers commented on #2142
@amritagos are you free to review this?

[2020-03-10 09:15] meg-simula commented on #2094
Thanks @streeve for your prompt review and @DorianDepriester for the prompt response!

[2020-03-10 09:15] meg-simula commented on #2094
@ralfHielscher :wave:  We are waiting on your review to proceed with this submission.

[2020-03-10 09:18] meg-simula commented on #1848
@whedon generate pdf

[2020-03-10 09:18] meg-simula commented on #1848
I'll check the references and then we are good to go!

[2020-03-10 09:19] whedon commented on #1848
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01848/joss.01848/10.21105.joss.01848.pdf)

[2020-03-10 09:37] SirSharpest commented on #2072
Again, thank you for the comments and suggestions. Particularly towards testing and the errors in the examples, I was running them sequentially and so variables were carried over.

I've made updates to the readme to remove the unnecessary text also.
I'm reluctant to mention pip3 commands, simply because I state twice that this is a python 3 library and adding pip3 would cause errors for some setup

[2020-03-10 09:40] jdber1 commented on #2128
Hi @kyleniemeyer, it would probably be better for the reviewers to have an experimental setup, but it is not necessary. I can give you a list of people who I know have used OpenDrop v1 for their research. Do they need to be active on github to review? That might be a bit harder.

There are also test images for interfacial tension in tests/samples/images, and I can add test images for contact angle

[2020-03-10 09:41] Kevin-Mattheus-Moerman commented on #2142
@richardjgowers a colleague of mine from NUIG @MahdiTavakol (a PhD student in our lab who works on molecular dynamics simulations) is keen to join this review. Add him if you can use an additional reviewer.

[2020-03-10 09:42] aj2duncan commented on #2116
Hi @johannes-titz,

As @strengejacke says, the paper is well written and everything is well documented. The app is intuitive and it is very nice that it is hosted online for users. The only minor comments I would make are related to Shiny and I have no further comments about the paper.

In terms of the app I can see two small things to consider for improvements. First is to consider adding a progr

[2020-03-10 09:46] trichter commented on #1808
@ThomasLecocq Thank you for the review, I am glad that you found the time.
@leouieda Anything I can do to move forward the status of this manuscript?

[2020-03-10 09:48] SuperKogito commented on #2151
Suggestions for potential reviewers: desilinguist, rougier, krother, sealhuang, ahurriyetoglu, or jkahn.

[2020-03-10 10:07] strengejacke commented on #2116
That's a good recommendation, indeed. I didn't run into performance problems, so I didn't realize that issue - but having larger data sets, it might make more sense to select your input variables first, then click on an "update-button" or similar, which might be useful in particular for very large data sets.

[2020-03-10 10:49] pmcharrison commented on #2088
Hi @Cognitive-Modeller, @DivyaSeernani - what do you think about this performance claim question? Do you think I need to run and report some scaling tests, or do you think it's fine to rely on personal experience using psychTestR in studies?

[2020-03-10 11:13] lfduquey commented on #2155
@danielskatz  I am sorry, it is my first time I submit a paper in this journal, and I have made several mistakes. The system asks me this information when submitting the paper:
•	Title: MDBED: An R package…
•	Repository address: https://github.com/lfduquey/MDBED
•	Software version: 1.0.0
•	Suggested editor:
In the last discussion, you suggested to me to include my GitHub handle, so I do not unders

[2020-03-10 11:25] temuller commented on #2122
See my review attached.
[JOSS_Review_2122.pdf](https://github.com/openjournals/joss-reviews/files/4312102/JOSS_Review_2122.pdf)

[2020-03-10 11:40] arfon commented on #2155
@lfduquey @danielskatz - I've fixed up the metadata on this submission. Let's stick with this one rather than using the resubmission.

[2020-03-10 11:40] arfon commented on #2155
@whedon check repository

[2020-03-10 11:40] whedon commented on #2155
[code]

[2020-03-10 11:40] whedon commented on #2155
Failed to discover a valid open source license.

[2020-03-10 11:41] Samreay commented on #2122
Hey Tomás! I've added a link to the SNANA report and made the purpose statement clearer in the main readme. As to reporting issues or seeking support, I've updated the contribution section to make it clear that it applies to seeking support and raising issues.

As to the functionality, this is definitely a hassle - because Pippin is a pipeline that stitches other software together, running it nece

[2020-03-10 11:42] arfon commented on #2155
@whedon generate pdf

[2020-03-10 11:42] whedon commented on #2155
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02155/joss.02155/10.21105.joss.02155.pdf)

[2020-03-10 11:43] meg-simula commented on #1848
Ok, looks great @fcooper8472!

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata, this includes the title (should match the paper title)

[2020-03-10 11:47] 1313e commented on #2004
@arfon Do you, by any chance, know how long it usually takes for ADS to index new JOSS papers?
I was looking at ADS, and it seems that it indexes new JOSS papers that it flags as 'astronomy-related' incredibly quickly, whereas other JOSS papers take quite some time.
(All JOSS papers published this year that are indexed by ADS, which is 5 in total, are flagged as 'astronomy-related', which I doubt

[2020-03-10 11:49] lfduquey commented on #2155
Thank you @arfon.

[2020-03-10 11:49] arfon commented on #2004
I don't sorry. Last time I checked it was every couple of months.

[2020-03-10 12:03] meg-simula commented on #1701
@whedon generate pdf

[2020-03-10 12:03] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2020-03-10 12:22] meg-simula commented on #1701
@whedon check references

[2020-03-10 12:23] whedon commented on #1701
[code]

[2020-03-10 12:24] xuanxu commented on #2138
👋 @mstimberg: would you be willing to review this paper? I think your knowledge of math and Python makes you a great fit for this submission.

[2020-03-10 12:25] xuanxu commented on #2138
👋 @rljacobson would you be willing to review this paper? I think your expertise on mathematics makes you a great fit for this submission.

[2020-03-10 12:30] chennachaos commented on #2089
Hi @Kevin-Mattheus-Moerman. Apologies for the delay.
I will try to complete the review by the end of this month.

[2020-03-10 12:35] danielskatz commented on #2155
@lfduquey - you need to have an OSI-approved license in your repository.  See the first bullet in https://joss.readthedocs.io/en/latest/submitting.html#typical-paper-submission-flow

[2020-03-10 12:37] danielskatz commented on #2155
Additionally, I because of the small amount of code here, this could be viewed as out of the scope of JOSS.  Specifically, https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements includes

Can you explain why you think this does not apply to your submission?

[2020-03-10 12:39] mstimberg commented on #2138
@xuanxu yes, I'd be happy to review the paper.

[2020-03-10 12:46] xuanxu commented on #2138
@mstimberg great, thanks! Once I have the second reviewer I'll start a new issue where the actual review will take place. Stay tuned!

[2020-03-10 12:47] meg-simula commented on #1701
@gbertoldo: Nice work on responding to the reviews.

Could you please also address the following editorial comments for the paper:

- []: Please run a spell-check on the paper see e.g. "paralellization", "a set o flat"
- []: Please consider alternatives to the words "elaborated" and "suffers", I think you mean something slightly different.
- []: Please check your citation call outs in the text, in

[2020-03-10 12:47] temuller commented on #2122
Hi Sam, thanks for the prompt reply.

I know installing SNANA can be a hassle (I have installed it myself!), but as it is a core package used by Pippin, you should be able to provide a straight forward example (assuming the user has SNANA already installed). If you think recording a video can show the usage properly, there is no problem with that, but I am not sure if it is actually simpler that w

[2020-03-10 12:48] meg-simula commented on #1701
@gbertoldo: Nice work!

Could you please also address the following editorial comments for the paper:

- [ ] Please run a spell-check on the paper see e.g. "paralellization", "a set o flat"
- [ ] Please consider alternatives to the words "elaborated" and "suffers", I think you mean something slightly different.
- [ ] Please check your citation call outs in the text, in particular add white space w

[2020-03-10 12:57] meg-simula commented on #2120
@srmnitc @nnadeau @raphaeltimbo :wave: Just checking in - how are matters progressing?

[2020-03-10 12:58] Samreay commented on #2122
Ah, thanks for the catch on the hyperlink I broke! And ah, if you have a working SNANA install, I am hoping that this config file would run without hassle for you: https://github.com/Samreay/Pippin/blob/master/configs/examples/example_sim.yml

If there are issues I'll record the video - Im conscious about not taking too much of your time installing deps and smacking paths around given how much wor

[2020-03-10 13:00] srmnitc commented on #2120
@meg-simula I took a first look, everything seems to be well documented and easy to review. I hope to finish my first round of review in 2-3 days !

[2020-03-10 13:10] lpantano commented on #2129
@dcassol, would you like to review this tool about LTRpred: de novo annotation of intact retrotransposons?

[2020-03-10 13:12] lpantano commented on #2129
@oushujun, would you like to review this tool about de novo annotation of intact retrotransposons?

[2020-03-10 13:19] marcosvital commented on #2134
Hi, @JonathanReardon, no need to apologize!

In order to be able to tick the boxes, you need to accept the invite as a collaborator on the joss-reviews repository - GitHub should have sent you an invite. This is easily missed depending on how you handle notifications from GitHub, so I'll send you another one.

@whedon re-invite @JonathanReardon as reviewer

Let me know if this works, ok?

[2020-03-10 13:28] koenderks commented on #2152
Dear Arfon, dear (future) reviewer,

Thank you for taking the time to pre-review our submission. Hereby we would like to clarify which files build up JASP for Audit (JfA). JfA consists of three different types of files: QML files for the user-interface, R files to run the computations and display the results, and .jasp files that can be loaded from JASP’s internal data library that contain example

[2020-03-10 13:37] lfduquey commented on #2155
Dear @danielskatz, the MDBED has been accepted in CRAN, and it is made up of seven functions.  It describes the bivariate exponential distribution (BED) entirely, to the best of my knowledge, there is not a statistical free software that does it. The BED has been used in many areas such as reliability, queueing systems, or hydrology; this package can be, therefore, considered as an excellent resea

[2020-03-10 13:45] amritagos commented on #2142
@richardjgowers I would be happy to review this.

[2020-03-10 13:51] Luthaf commented on #2142
@richardjgowers I can do it, or leave it MahdiTavakol if they want to do this!

[2020-03-10 14:03] cddesja commented on #1941
@marcosvital, sounds good. Are you waiting on me, right now? Or are we waiting on

[2020-03-10 14:10] temuller commented on #2122
Pippin is complaining about the "group" keyword for SNANA in the cfg.yml file. It doesn't seem to find it anywhere. Is it meant to work with midway?

[2020-03-10 14:18] fcooper8472 commented on #1848
Thanks @meg-simula

When checking the Zenodo metadata @mirams found one of the author affiliations was incorrect so I have made a new commit fixing that.  It might be worth checking the proof again just in case something has gone wrong.

In terms of the other information you requested:

Tagged as `release_2019.1` ([link](https://github.com/Chaste/Chaste/releases/tag/release_2019.1))

Done: https:/

[2020-03-10 14:18] Samreay commented on #2122
Ah, yes, it's trying to set the group ownership over newly created files to Rick Kessler's group by default (the one we use in DES) so that other members of the collaboration can use it. You should be able to set the group to your own name or whatever group you are part of

[2020-03-10 14:19] meg-simula commented on #1848
@whedon generate pdf

[2020-03-10 14:22] whedon commented on #1848
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01848/joss.01848/10.21105.joss.01848.pdf)

[2020-03-10 14:24] temuller commented on #2122
It doesn't find any group if I run it locally on my machine

[2020-03-10 14:25] meg-simula commented on #1848
Looks good to me, thanks @fcooper8472!

[2020-03-10 14:27] fcooper8472 commented on #1848
@meg-simula the metadata is correct now.

[2020-03-10 14:29] meg-simula commented on #1848
@whedon set 10.5281/zenodo.3702736 as archive

[2020-03-10 14:29] whedon commented on #1848
OK. <a href="https://doi.org/10.5281/zenodo.3702736" target="_blank">10.5281/zenodo.3702736</a> is the archive.

[2020-03-10 14:30] meg-simula commented on #1848
@whedon set release_2019.1 as version

[2020-03-10 14:30] whedon commented on #1848
OK. release_2019.1 is the version.

[2020-03-10 14:30] meg-simula commented on #1848
@whedon accept

[2020-03-10 14:30] whedon commented on #1848
[code]

[2020-03-10 14:33] whedon commented on #1848
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1366

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1366, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-10 14:34] Samreay commented on #2122
As in it can't find the property itself? Throw me the stack if you can,
I'll get it fixed up asap

On Wed, 11 Mar 2020, 12:24 am temuller, <notifications@github.com> wrote:

[2020-03-10 14:38] temuller commented on #2122
Here is the output
[pippin_output.txt](https://github.com/openjournals/joss-reviews/files/4312986/pippin_output.txt)

[2020-03-10 14:41] richardjgowers commented on #2132
@dotsdl are you interested in this?

[2020-03-10 14:48] danielskatz commented on #1848
👋 @fcooper8472 - as the AEiC currently on duty, I have some requests before this goes into the final acceptance processing

- [ ] please remove a large number of the reference related to use of Chaste -  you do not need to cite all papers in which Chaste has been used, just a selection showing its breadth, perhaps 5-10.  This paper is far longer than a JOSS paper is recommended to be, and while so

[2020-03-10 14:53] Kevin-Mattheus-Moerman commented on #2146
@gkthiruvathukal can you handle this as editor?

[2020-03-10 15:01] dotsdl commented on #2132
@richardjgowers I am interested. I can allocate time to review later this week.

[2020-03-10 15:26] RMeli commented on #2132
@richardjgowers I can have a look by the end of the week or this weekend.

[2020-03-10 15:28] kbarnhart commented on #1978
@nkarasiak thanks for the update. Perhaps you can provide another update once the conda-forge PR is merged. This will let the reviewer's know that it is sensible for them to continue with the review process.

[2020-03-10 15:32] kbarnhart commented on #2043
Thanks to @daniellivingston and @joa-quim for completing your reviews.

@fhorrobin a friendly reminder to provide an update on when you expect to complete your review?  If I don't hear back in the next day or two, I will likely decide to move forward with the review process (as JOSS only requires two reviews).

[2020-03-10 15:34] JonathanReardon commented on #2134
Thanks @marcosvital, I see the invite at the top (I missed that before), though I think it has now expired.

"Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account"

Could you reset that perhaps? I didn't get any email with an invite, I just noticed the invite at the top of this page.

[2020-03-10 15:44] sandwichmaker commented on #2131
@poulson is there a pdf here somewhere? if its rust code, I have no rust knowledge.

[2020-03-10 15:46] whedon opened #2156 "[PRE REVIEW]: ldaPrototype: A method in R to get a Prototype of multiple Latent Dirichlet Allocations"
**Submitting author:** @JonasRieger (<a href="http://orcid.org/0000-0002-0007-4478">Jonas Rieger</a>)
**Repository:** <a href="https://github.com/JonasRieger/ldaPrototype" target ="_blank">https://github.com/JonasRieger/ldaPrototype</a>
**Version:** v0.1.1
**Editor:** @karthik
**Reviewers:** @tommyjones
**Managing EiC:** Daniel S. Katz

**Author instructions**

Thanks for submitting your paper to

[2020-03-10 15:46] whedon commented on #2156
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-10 15:46] whedon commented on #2156
[code]

[2020-03-10 15:46] whedon commented on #2156
[code]

[2020-03-10 15:47] whedon commented on #2156
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02156/joss.02156/10.21105.joss.02156.pdf)

[2020-03-10 15:54] danielskatz commented on #2156
👋 @JonasRieger - thanks for your submission.  I will now find an editor for it.  While I do so, can you:

1. fix the cases in the references, using {}s to protect cases, along with any other proofreading of the paper. When you have made changes, you can add a new comment here with ```@whedon generate pdf``` to see the built pdf.  One example is "tools for r" which should be "tools for R"

1. Sugge

[2020-03-10 16:02] danielskatz commented on #2156
@whedon invite @mbobra as editor

I know this is a second current invitation, but I promise no more this week :)

[2020-03-10 16:02] whedon commented on #2156
@mbobra has been invited to edit this submission.

[2020-03-10 16:05] danielskatz commented on #1741
👋 @rhagenson - can you provide an update on your progress, and an expected date by which you think you will be done with your changes?

[2020-03-10 16:05] danielskatz commented on #1766
👋 @toph-allen - It's now been another month - is there any news on this?

[2020-03-10 16:06] amandadumi commented on #2132
@richardjgowers I am interested. I will also have a look by this weekend.

[2020-03-10 16:08] danielskatz commented on #1740
Could we get a date when you think there will be progress?  (This just helps up know when to check on this again.)

[2020-03-10 16:28] danielskatz commented on #1752
👋 @KingZee - any further progress to report? Can you provide an estimate on when the review will be able to progress again?

[2020-03-10 16:29] mbobra commented on #2151
@whedon assign @mbobra as editor

[2020-03-10 16:29] whedon commented on #2151
OK, the editor is @mbobra

[2020-03-10 16:30] mbobra commented on #2156
@danielskatz I don't know R at all, and I don't think that's fair to the submitting author, so I'll decline this one. I accepted the other invitation.

[2020-03-10 16:30] rljacobson commented on #2138
@xuanxu I am unable to at this time. Sorry!

[2020-03-10 16:31] danielskatz commented on #2047
👋 @nicoguaro - can you provide an estimate of when you think we might be ready to start the review?

[2020-03-10 16:33] danielskatz commented on #2062
👋 @cscherrer - it seems like this review is waiting for your response to @kose-y's comments above.

[2020-03-10 16:35] danielskatz commented on #2107
👋 @eteq, @dvanic - It doesn't look like there's been any progress on this review in about 3 1/2 weeks - Can everyone please check in and provide an estimate of when your reviews might be started/finished?

[2020-03-10 16:37] danielskatz commented on #2156
👋 @karthik - can you take this one?

[2020-03-10 16:39] danielskatz commented on #1917
👋 @trallard - this seems like it is waiting for you to take action, either as a review or as the editor

[2020-03-10 16:40] danielskatz commented on #2110
👋 @lorenanicole - how are you doing on this?

[2020-03-10 16:42] danielskatz commented on #2016
👋 @akeshavan - can you update us all on the status of this review?

[2020-03-10 16:43] whedon commented on #2088
:wave: @Cognitive-Modeller, please update us on how your review is going.

[2020-03-10 16:47] oliviaguest commented on #2088
@Cognitive-Modeller see @pmcharrison's comment aboive in relation to:

:point_up: :relaxed:

[2020-03-10 16:48] celliern commented on #2138
@xuanxu Hello! If you need it, I would be happy to review this work. I have been recently published in JOSS for a similar software ([here](https://joss.theoj.org/papers/10.21105/joss.01356)) and have some skill in Python and PDE modeling. Do not feel obliged to, if you find a more relevant reviewer or if you find both works being to close to each other.

[2020-03-10 16:50] mbobra commented on #2004
@1313e If you want to speed up the process, you can ask ADS to index your paper [using this form](http://adsabs.harvard.edu/adsfeedback/submit_abstract.php) and they will likely approve it right away.

[2020-03-10 16:51] Kevin-Mattheus-Moerman commented on #2146
@whedon assign @gkthiruvathukal as editor

[2020-03-10 16:51] whedon commented on #2146
OK, the editor is @gkthiruvathukal

[2020-03-10 16:54] danielskatz commented on #2018
@whedon re-invite @ysimillides as reviewer

[2020-03-10 16:54] whedon commented on #2018
Sorry, I couldn't re-invite @ysimillides.

[2020-03-10 16:54] danielskatz commented on #2018
👋 @arfon - can you explain this?

[2020-03-10 16:54] richardjgowers commented on #2132
@whedon add @dotsdl as reviewer

[2020-03-10 16:55] whedon commented on #2132
OK, @dotsdl is now a reviewer

[2020-03-10 16:55] richardjgowers commented on #2132
@whedon add @rmeli as reviewer

[2020-03-10 16:55] whedon commented on #2132
OK, @rmeli is now a reviewer

[2020-03-10 16:55] richardjgowers commented on #2132
@whedon add @amandadumi as reviewer

[2020-03-10 16:55] whedon commented on #2132
OK, @amandadumi is now a reviewer

[2020-03-10 16:56] danielskatz commented on #2097
👋 @abhishekbajpayee and @jizecn - repeating @kthyng's comment: When do you think you'll be able to work on your reviews?

[2020-03-10 16:56] richardjgowers commented on #2132
@whedon start review

[2020-03-10 16:56] whedon opened #2157 "[REVIEW]: pygen-structures: A Python package to generate 3D molecular structures for simulations using the CHARMM forcefield"
**Submitting author:** @thesketh (<a href="http://orcid.org/0000-0002-0502-9596">Travis Paul Hesketh</a>)
**Repository:** <a href="https://github.com/thesketh/pygen-structures" target ="_blank">https://github.com/thesketh/pygen-structures</a>
**Version:** v0.2.4
**Editor:** @richardjgowers
**Reviewer:** @dotsdl, @rmeli, @amandadumi
**Archive:** <a href="https://doi.org/10.5281/zenodo.3739128" targ

[2020-03-10 16:56] whedon commented on #2132
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2157.

[2020-03-10 16:56] #2132 closed

[2020-03-10 16:56] whedon commented on #2157
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dotsdl, @rmeli, @amandadumi it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pr

[2020-03-10 16:56] whedon commented on #2157
PDF failed to compile for issue #2157 with the following error:

 Error reading bibliography ./paper.bib (line 75, column 3):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-03-10 16:58] richardjgowers commented on #2157
@thesketh looks like three's an issue with the bibtex

[2020-03-10 16:58] danielskatz commented on #2102
Thanks @utf - over to @frssp again now

[2020-03-10 16:59] richardjgowers commented on #2142
@whedon add @amritagos as reviewer

[2020-03-10 16:59] whedon commented on #2142
OK, @amritagos is now a reviewer

[2020-03-10 16:59] richardjgowers commented on #2142
@whedon add @luthaf as reviewer

[2020-03-10 16:59] whedon commented on #2142
OK, @luthaf is now a reviewer

[2020-03-10 16:59] richardjgowers commented on #2142
@mahditavakol are you free to review this?

[2020-03-10 17:00] DivyaSeernani commented on #2088
Hey @pmcharrison I'm fine with experiments that have actually used the package and reporting these studies; have checked the relevant box.

[2020-03-10 17:00] thesketh commented on #2157
@whedon generate pdf

[2020-03-10 17:00] marcosvital commented on #2134
Yes, I can try to reset it, the command I gave Whedon should have done the trick, but I think it didn't work. I'll try again:

[2020-03-10 17:01] whedon commented on #2157
PDF failed to compile for issue #2157 with the following error:

 Error reading bibliography ./paper.bib (line 75, column 3):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-03-10 17:01] marcosvital commented on #2134
@whedon re-invite @JonathanReardon as reviewer

[2020-03-10 17:01] whedon commented on #2134
Sorry, I couldn't re-invite @jonathanreardon.

[2020-03-10 17:02] thesketh commented on #2157
@whedon generate pdf

[2020-03-10 17:02] rhagenson commented on #1741
@danielskatz Thank you for bumping this to the top of my list.

Unfortunately, through this review process I have realized that `bio-go` (now `sembio/go`) is not the priority it should be for me to maintain a project of its scale in the longterm. I still believe `sembio/go`'s approach is valuable. However, I do not currently have the necessary bandwidth to maintain, extend, and improve `sembio/go`

[2020-03-10 17:02] whedon commented on #2157
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02157/joss.02157/10.21105.joss.02157.pdf)

[2020-03-10 17:02] marcosvital commented on #2134
Didn't work... I'll ask for help with the editor team and will come back here soon, ok?

[2020-03-10 17:04] danielskatz commented on #2134
👋 @openjournals/dev - another case where this doesn't seem to work

[2020-03-10 17:04] danielskatz commented on #2134
And @marcosvital - FYI, any command to @whedon has to be the start of a comment, not later in the comment (but this isn't the main problem here)

[2020-03-10 17:05] danielskatz commented on #1741
Thanks for letting us know - you can, of course, resubmit at a later time if your desires change

[2020-03-10 17:06] danielskatz commented on #1741
Thanks to @kortschak & @will-rowe for your reviewing work and @lpantano for your editing

[2020-03-10 17:06] danielskatz commented on #1741
@whedon withdraw

[2020-03-10 17:06] whedon commented on #1741
Paper withdrawn.

[2020-03-10 17:06] #1741 closed

[2020-03-10 17:07] marcosvital commented on #2134
Thanks, @danielskatz! I imagined that after my first attempt, as Whedon didn't respond anything.

[2020-03-10 17:07] utf commented on #2102
Everything has now been resolved except merging my PR here: WMD-group/CarrierCapture.jl#5

[2020-03-10 17:10] marcosvital commented on #1941
Hi, @cddesja! I was waiting to know about the unchecked box. But since it's just a single item from the whole list, I'll make a final and quick check on everything myself, and we'll move on, ok? Will be back here soon.

[2020-03-10 17:21] JonathanReardon commented on #2134
All good now, I got the invite! Thank you @marcosvital and @danielskatz

[2020-03-10 17:27] scivision commented on #2039
@whendon start review

[2020-03-10 17:28] scivision commented on #2039
@whedon start review

[2020-03-10 17:28] whedon commented on #2039
I'm sorry @scivision, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-03-10 17:32] scivision commented on #2083
Hmm it says I'm not authorized to review

[2020-03-10 17:33] scivision commented on #2083
Review checklist for @scivision
Conflict of interest
[x] I confirm that I have read the JOSS conflict of interest (COI) policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.
Code of Conduct
 I confirm that I read and will adhere to the JOSS code of conduct.
General checks
 Repository: Is the source code for this

[2020-03-10 17:39] danielskatz commented on #2083
👋 @scivision - you already have a checklist in the first comment in this review thread - you shouldn't create your own

[2020-03-10 17:40] toph-allen commented on #1766
Hi @danielskatz. Sorry for my slow response; thank you for your patience.

I'll be able to respond to the issues in the next week. I'll reply to the individual issue threads on the yenpathy repo, and will post here when it's done. I'll raise any other questions I have here.

[2020-03-10 17:44] scivision commented on #2083
Thanks Daniel, for some reason I don't have access to that, I can't edit that comment. It may be an invitation issue. I can move that information to the first comment upon gaining access

[2020-03-10 17:45] sjpfenninger commented on #2083
@whedon re-invite @scivision as reviewer

[2020-03-10 17:45] whedon commented on #2083
Sorry, I couldn't re-invite @scivision.

[2020-03-10 17:46] sjpfenninger commented on #2083
@danielskatz hm, any idea what's going wrong here?

[2020-03-10 17:46] scivision commented on #2083
I had my status set to Away, that might have blocked the invite. I just turned off Away.

[2020-03-10 17:48] danielskatz commented on #2083
@scivision - can you check again now?
@openjournals/dev - if not, can you help?

[2020-03-10 18:12] scivision commented on #2083
I think the invite has to be sent again, now that my status in Github is not away

[2020-03-10 18:16] xuanxu commented on #2138
@celliern Great, thanks! I'll assign you now and start the review issue

[2020-03-10 18:17] xuanxu commented on #2138
@whedon add @celliern as reviewer

[2020-03-10 18:17] whedon commented on #2138
OK, @celliern is now a reviewer

[2020-03-10 18:17] xuanxu commented on #2138
@whedon add @@mstimberg as reviewer

[2020-03-10 18:17] whedon commented on #2138
OK, @@mstimberg is now a reviewer

[2020-03-10 18:18] xuanxu commented on #2138
@whedon start review

[2020-03-10 18:18] whedon opened #2158 "[REVIEW]: py-pde: A Python package for solving partial differential equations"
**Submitting author:** @david-zwicker (<a href="http://orcid.org/0000-0002-3909-3334">David Zwicker</a>)
**Repository:** <a href="https://github.com/zwicker-group/py-pde" target ="_blank">https://github.com/zwicker-group/py-pde</a>
**Version:** v0.5
**Editor:** @xuanxu
**Reviewer:** @celliern, @mstimberg
**Archive:** <a href="https://doi.org/10.5281/zenodo.3739300" target="_blank">10.5281/zenodo.3

[2020-03-10 18:18] whedon commented on #2138
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2158.

[2020-03-10 18:18] #2138 closed

[2020-03-10 18:18] whedon commented on #2158
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @celliern, @@mstimberg it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-03-10 18:19] whedon commented on #2158
[code]

[2020-03-10 18:19] whedon commented on #2158
PDF failed to compile for issue #2158 with the following error:

 pandoc-citeproc: reference mstimberg not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.369 }

Looks like we failed to compile the PDF

[2020-03-10 18:20] xuanxu commented on #2138
@mstimberg @celliern please head over to #2158 where the review will take place.

[2020-03-10 18:25] arfon commented on #2018
@danielskatz - I think this is because they have already been invited (I can see a pending invite on the repository). I don't think GitHub gives us any kind of semantic response when issuing these invites.

[2020-03-10 18:27] mstimberg commented on #2158
I think there was an issue with `@@mstimberg` instead of `@mstimberg` being added as a reviewer. Maybe removing and readding will fix it?

[2020-03-10 18:32] danielskatz commented on #2158
This is a problem with a reference in the .md and .bib files - the .md file is trying to reference something that is not in the bib file (or the bib file has a problem that leads to it not being parsed correctly)

[2020-03-10 18:34] danielskatz commented on #2158
👋 @openjournals/dev - can you look at this?

[2020-03-10 18:47] xuanxu commented on #2158
@whedon generate pdf

[2020-03-10 18:47] whedon commented on #2158
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02158/joss.02158/10.21105.joss.02158.pdf)

[2020-03-10 18:50] martinmodrak commented on #2016
From my side there are two major issues that block further progress:
- Save/load doesn't work on my computer: https://github.com/drwaseemsheikh/audiometry/issues/7
- The connection to research is unclear https://github.com/drwaseemsheikh/audiometry/issues/12 (this might be actually resolved just by clarifying what the software intends to do and what it does not).

On both I am waiting for reaction

[2020-03-10 19:02] mulhod commented on #2135
Create issue about benchmark test failure: https://github.com/ynop/audiomate/issues/109

[2020-03-10 19:24] whedon opened #2159 "[PRE REVIEW]: MPA: a novel cross-language API for time series analysis"
**Submitting author:** @vanbenschoten (<a href="http://orcid.org/0000-0002-7944-6237">Andrew Van Benschoten</a>)
**Repository:** <a href="https://github.com/matrix-profile-foundation/joss_paper" target ="_blank">https://github.com/matrix-profile-foundation/joss_paper</a>
**Version:** Misc (multiple repos)
**Editor:** @arfon
**Reviewers:** @coljac, @krystophny
**Managing EiC:** Daniel S. Katz

**Au

[2020-03-10 19:24] whedon commented on #2159
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-10 19:24] whedon commented on #2159
[code]

[2020-03-10 19:24] whedon commented on #2159
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02159/joss.02159/10.21105.joss.02159.pdf)

[2020-03-10 19:26] danielskatz commented on #2159
👋 @vanbenschoten - Where is the software that you want to have reviewed as this submission?

[2020-03-10 19:35] csoneson commented on #2144
ping @bovee, @lgatto, @jorainer

[2020-03-10 19:36] callumrollo commented on #1985
Hi @kthyng  sorry for missing this, I was at sea for 6 weeks with no internet. Just the kind of thing I would be happy to review in future though. @castelao I'll have a proper dig into the code once I'm caught up on post cruise admin. Looks like an awesome tool!

[2020-03-10 19:40] vanbenschoten commented on #2159
@danielskatz there are three individual repos that comprise the software described in our paper. The manuscript is in matrix-profile-foundation/joss_paper, and the actual codebases are:

1. matrix-profile-foundation/tsmp
2. matrix-profile-foundation/go-matrixprofile
3. matrix-profile-foundation/matrixprofile

I connected with @arfon last week about how to handle this situation, and he advised me t

[2020-03-10 19:44] danielskatz commented on #2159
👋 @arfon, do you want to handle this as editor? (you were suggested by the authors)

[2020-03-10 19:56] fccoelho commented on #2145
@whedon commands

[2020-03-10 19:56] whedon commented on #2145
Here are some things you can ask me to do:

[code]

[2020-03-10 19:56] fccoelho commented on #2145
@whedon generate pdf

[2020-03-10 19:57] whedon commented on #2145
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02145/joss.02145/10.21105.joss.02145.pdf)

[2020-03-10 19:58] sbrugman commented on #2145
@whedon set v0.3.0 as version

[2020-03-10 19:58] whedon commented on #2145
I'm sorry @sbrugman, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-03-10 19:59] sbrugman commented on #2145
@mjsottile Could you set the version to v0.3.0, please.

[2020-03-10 20:13] kthyng commented on #2097
Just pinged both by email.

[2020-03-10 20:28] ryanpmcg commented on #2029
@kbarnhart do you have emails or other contact methods for @khaors and @stoor001? I noticed that neither of those reviewers have had any commit activity on GitHub recently. They may not be getting these messages at all.

[2020-03-10 20:40] arfon commented on #2159
@whedon assign @arfon as editor

[2020-03-10 20:40] whedon commented on #2159
OK, the editor is @arfon

[2020-03-10 20:46] marcosvital commented on #1941
Hello again, @cddesja, I think that everything seems ok, so let's proceed with our last steps towards acceptance!

[2020-03-10 20:46] marcosvital commented on #1941
@whedon generate pdf

[2020-03-10 20:47] mjsottile commented on #2145
Sure - no problem.

[2020-03-10 20:47] mjsottile commented on #2145
@whedon set v0.3.0 as version

[2020-03-10 20:47] whedon commented on #2145
OK. v0.3.0 is the version.

[2020-03-10 20:47] whedon commented on #1941
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01941/joss.01941/10.21105.joss.01941.pdf)

[2020-03-10 20:51] marcosvital commented on #1941
@whedon check references

[2020-03-10 20:51] whedon commented on #1941
[code]

[2020-03-10 20:53] dpsanders commented on #2133
👋 Hello @joglekara. Thanks for your submission to JOSS.

Looking over the repo, I notice that there is no (narrative) documentation. Could you please add documentation on the system being solved (as in the paper) and on how to use your implementation (API) before we proceed to review?

I didn't quite understand the relation between this submission and PlasmaPy.

There's also a missing reference at

[2020-03-10 20:55] marcosvital commented on #1941
@cddesja, please check out the manuscript references: they should have the DOIs listed, ok?

[2020-03-10 20:55] dcassol commented on #2129
Sure!

[2020-03-10 21:00] tristan-salles commented on #2083
We would like to thank @bradyrx for his really useful and helpful comments. **They have all helped to improve significantly the quality of the package!**

Below is a point by point revisions of his suggestions.

**General Comments/Questions**

+ I would consider renaming the package to radwave. PEP guidelines suggest that python packages should be named in all lowercase, and only use underscores t

[2020-03-10 21:02] nkarasiak commented on #1978
Here it is, my first conda-forge package :fireworks:  : https://github.com/conda-forge/museotoolbox-feedstock.
I updated the corresponding issue : https://github.com/nkarasiak/MuseoToolBox/issues/25
All the issues has been addressed, I'm now waiting for reviewers' feedback.

[2020-03-10 21:02] lpantano commented on #2129
@whedon assign @dcassol as reviewer

[2020-03-10 21:02] whedon commented on #2129
OK, @dcassol is now a reviewer

[2020-03-10 21:03] Samreay commented on #2122
Ah, so yeah we need to find you a valid group - you can list groups in linux using `groups $USER`. The second error is then because Pippin needs python3.7+ as per the doco alas - text is a new kwarg. Let me make a quick video showing it in action so you dont have to dick around.

[2020-03-10 21:12] marcosvital commented on #1941
@markhwhiteii, as JOSS requires only two reviewers, we are proceeding with the paper acceptance. Since the reviewers are listed on the published paper, I'll remove your name from the list. I understand that taking time to review a paper is not easy, so thanks for trying to help with this one, and I hope we can count on you in future reviewing tasks.

[2020-03-10 21:12] marcosvital commented on #1941
@whedon remove @markhwhiteii  as reviewer

[2020-03-10 21:12] whedon commented on #1941
OK, @markhwhiteii  is no longer a reviewer

[2020-03-10 21:18] kbarnhart commented on #2029
@ryanpmcg thank you for the thought. I have already reached out to both of them via email.

[2020-03-10 21:20] oushujun commented on #2129
@ipantano Hello I don't know what this is for but seems interesting. Unfortunately I don't have open times until Mar. 25.

[2020-03-10 21:23] lpantano commented on #2129
Thanks @oushujun, do you know somebody who could be a reviewer for this tool? JOSS makes its reviewing process through github, and it is a very nice experience in general.

[2020-03-10 21:23] lgatto commented on #2144
Here are my comments regarding this submission:
- The submission contains a repository (but see below) and a valid OSI approved license.
- I find the manuscript to be extremely short. In particular, I miss some citation/comparison with existing alternatives in general, and a description of this software compares to other commonly-used packages in this research area.
- There are no references.
- Th

[2020-03-10 21:34] dpsanders commented on #2133
@whedon check repository

[2020-03-10 21:35] whedon commented on #2133
[code]

[2020-03-10 21:44] dpsanders commented on #2133
Also, there is only 1 contributor to the repo. Could you please comment about the fact that the paper has 2 authors?

[2020-03-10 22:16] bradyrx commented on #2083
Thank you for the quick turnaround @tristan-salles! I suggest that this is accepted/published after addressing the two minor comments below:

I would make it `generateTimeSeries` for consistency with camelCase. I should have noted that.

The above is from the updated text. There's still some grammatical issues here. I would change it to:

"While domain experts are able to assess satellite radar al

[2020-03-10 22:24] srmnitc commented on #2120
@meg-simula @raphaeltimbo I have completed my first round of review. I think the submission already meets most of the review checkpoints and is quite nicely documented with a lot of examples. I only have three main issues - with installation, tests and citations in the paper. I have raised these issues on the repository. The jupyter notebooks are quite helpful, I will also go a bit more into detai

[2020-03-10 22:32] Samreay commented on #2122
Heres a link to executing the sim example and showing the output log results of our preliminary 5yr DES analysis, let me know if youd like other examples: https://youtu.be/pCaPvzFCZ-Y

[2020-03-10 22:34] RMeli commented on #2157
I had a first look at the package and have a few comments, none of which I deemed worth of its own issue for now (besides, some issues were already open). I will have a deeper look in the upcoming days, but I thought it might be useful to have some initial comments earlier.

(@richardjgowers if you prefer to see the comments in bulk do let me know and I'll adjust for next time)

## Functionality

[2020-03-10 23:01] richardjgowers commented on #2157
Hey Rocco, thanks for the feedback, I think these points are probably good
to be raised as issues too

On Tue, Mar 10, 2020 at 22:34, Rocco Meli <notifications@github.com> wrote:

[2020-03-10 23:08] tristan-salles commented on #2083
Thanks! The 2 comments have been resolved and the docker image regenerated and tested as well as the binder one! Again thanks for all the feedbacks and insights!

[2020-03-10 23:35] arfon commented on #2018
OK, errors should be more semantic now as of https://github.com/openjournals/whedon-api/pull/94

[2020-03-10 23:39] tristan-salles commented on #2083
Thanks @scivision for the reviews & suggestions. We have addressed all your comments.

+ The package uses the src/ directory as the top level for Python code, which is a popular layout choice. However, I believe such package still generally keep the setup.cfg and setup.py at the topmost level of the repo, as the repo won't install without descending into the src/ directory, which would be remediat

[2020-03-10 23:41] temuller commented on #2122
Thanks for the video Sam. I was able to correct the errors I had, but I encountered a new one (it has to do with subprocess.check_output). However, I think that after solving this one, the example should run fine. See below.

[pippin_output2.txt](https://github.com/openjournals/joss-reviews/files/4315325/pippin_output2.txt)

[2020-03-10 23:42] tristan-salles commented on #2083
Hi @sjpfenninger, I think we have answered to all the reviewers comments.

[2020-03-10 23:42] arfon commented on #2133
@dpsanders @joglekara - I made a couple of minor readability improvements in https://github.com/joglekara/VlaPy/pull/6

[2020-03-10 23:43] Samreay commented on #2122
Ah yes, so Pippin is supposed to be run on an HPC, as it submits and checks
on the status of jobs. To do that it executes squeue, which seems to be
having an issue - are you on an HPC?

On Wed, Mar 11, 2020 at 9:41 AM temuller <notifications@github.com> wrote:

[2020-03-10 23:47] temuller commented on #2122
Ah, I see! I am not! I will see if I can do that tomorrow. I will just give it a try and see how that goes, but I guess I am quite happy with the changes. I will double-check everything tomorrow so I can finish the review. Thanks a lot!

[2020-03-10 23:57] okanbulut commented on #1941
@marcosvital, I fixed the missing DOIs in the paper. They all should be good now. Thank for catching that.

[2020-03-11 00:23] markgalassi commented on #2072
I have checked most of the boxes in the paper checklist.  Here is a small suggested diff (below) so you don't assume that users are steeped in markdown.  I would suggest that the "statement of need" in the readme.md file could do with a bit more, and that the paper put a math citation at the moment of stating "The mathematical models provided are simple and robust @iWouldCiteMySourceHere".  I also

[2020-03-11 01:41] majensen commented on #2137
@corybrunson would you be able to review [this submission](#2137) to [JOSS](https://joss.theoj.org)? Thanks for considering!

[2020-03-11 01:45] 1313e commented on #2145
Once the issues raised in dylan-profiler/visions#22, dylan-profiler/visions#30, dylan-profiler/visions#31 and dylan-profiler/visions#32 are resolved, I am happy for this paper to be accepted.

[2020-03-11 01:49] majensen commented on #2137
@rcannood would appreciate your review of [this submission]() to [JOSS](https://joss.theoj.org). Please let me know -- thanks!

[2020-03-11 01:51] majensen commented on #2006
@whedon remove @mamcdona77 as reviewer

[2020-03-11 01:51] whedon commented on #2006
OK, @mamcdona77 is no longer a reviewer

[2020-03-11 01:55] majensen commented on #1942
@benjaminbolling can you give us an idea of your timeline, per @labarba 's comment? I will see if I can reach you via an alternative channel as well.

[2020-03-11 02:45] ProbShin commented on #1843
@shah314 Sorry for the late, I had been trapped by some accidents before. I am working on the reviews recently. Here are some [comments](https://github.com/shah314/graphcoloring/issues/5#issue-578970792) about the experiment results.

[2020-03-11 04:01] shah314 commented on #1843
@ProbShin No problem. I completely understand. Sorry for the impatience. I'll reply to your comments in the issue thread. Thank you.

[2020-03-11 04:11] sbrugman commented on #2145
@whedon generate pdf

[2020-03-11 04:12] whedon commented on #2145
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02145/joss.02145/10.21105.joss.02145.pdf)

[2020-03-11 04:13] 1313e commented on #2145
Alright, I am happy for this paper to be accepted now.
Great work @sbrugman (and @ieaves) in solving the issues this quickly. :)

[2020-03-11 04:17] shah314 commented on #1843
@whedon generate pdf

[2020-03-11 04:18] whedon commented on #1843
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01843/joss.01843/10.21105.joss.01843.pdf)

[2020-03-11 04:21] shah314 commented on #1843
@whedon generate pdf

[2020-03-11 04:22] whedon commented on #1843
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01843/joss.01843/10.21105.joss.01843.pdf)

[2020-03-11 06:28] rcannood commented on #2137
Sure!

On Wed, 11 Mar 2020, 02:49 Mark Jensen, <notifications@github.com> wrote:

[2020-03-11 07:07] csoneson commented on #2144
Thanks @lgatto (that was super fast 😃)!
Once one more reviewer confirms their interest, I will close this issue and open the actual review issue that contains the checklist for each reviewer. I will then transfer your comments above over there so that we have everything in one place.

[2020-03-11 07:42] ysimillides commented on #2018
Apologies for the delay, will try and get it done by the end of this week!

[2020-03-11 08:26] JonasRieger commented on #2156
1. done
`@whedon generate pdf`
2. kbenoit would definitely fit as reviewer, cmaimone could also fit according to the given list. Maybe bagheria or lmullen could also fit.

[2020-03-11 08:28] JonasRieger commented on #2156
@whedon generate pdf

[2020-03-11 08:28] whedon commented on #2156
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02156/joss.02156/10.21105.joss.02156.pdf)

[2020-03-11 09:05] thesketh commented on #2157
Thanks for the preliminary comments, Rocco. I'll address these as soon as I can. I think I can fix the poor coverage of `convenience_functions` by comparing `code_to_mol` and `sequence_to_mol` with a manually created `Molecule`.

The `requirements.txt` file is necessary for PyPI distribution. I could remove RDKit from the requirements and catch the `ImportError` at runtime to produce a more helpfu

[2020-03-11 09:28] jorainer commented on #2144
Dear @csoneson - I'm quite busy at present with other reviews - so I would only want to accept to review yet another one when it's absolutely necessary. Would be happy if another reviewer would accept to review...

[2020-03-11 09:34] mstimberg commented on #2158
@xuanxu I cannot edit the checklist and I did not receive an invite – is this because this is my first review for JOSS and I have to do something else first? Or is it because of the earlier `@@mstimberg` issue?

[2020-03-11 09:40] faroit commented on #2151
@mbobra I would also like to bring up @justinsalamon the author of [scaper](https://github.com/justinsalamon/scaper) and @bmcfee the author of [muda](https://github.com/bmcfee/muda) which are both software packages with a very similar use case. I think it would be important to include one of them as reviewers to reduce the overlap between these packages.

[2020-03-11 09:48] xuanxu commented on #2158
@mstimberg I guess it's the previous `@@` issue, let's try to reinvite you.

[2020-03-11 09:48] xuanxu commented on #2158
@whedon re-invite @mstimberg as reviewer

[2020-03-11 09:48] whedon commented on #2158
OK, the reviewer has been re-invited.

@mstimberg please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-03-11 09:55] frssp commented on #2102
Merged.

[2020-03-11 09:59] mstimberg commented on #2158
Thanks @xuanxu, it's working now :+1:

[2020-03-11 10:28] FlorianRhiem commented on #2107
@trallard SampleDB v0.9.0 has been released yesterday. I've updated the [`paper.json`](https://github.com/sciapp/sampledb/blob/develop/docs/publications/joss/paper.json). Could you please run `@whedon set v0.9.0 as version` to update the version here?

[2020-03-11 10:48] temuller commented on #2122
Hi again Sam. I am finally happy with the changes you made. I would like you to add the description/example video to the documentation so users have access to it, but that is last thing I will ask you to do. Thanks!

[2020-03-11 10:51] Samreay commented on #2122
Awesome, thanks for finally getting it working! I've added a link to the video in the description :)

[2020-03-11 11:01] RMeli commented on #2157
Thanks for clarifying the situation with `toppar`; the lack of license on their end is a bit  strange... In the light of the forum discussion you linked, what you suggest to do sounds very reasonable.

I'm not well versed with PyPI distribution, but I have a package on PyPI without any `requirements.txt`. I think PyPI deployment only uses `install_requires` in `setup.py`  (see [here](https://packa

[2020-03-11 11:13] csoneson commented on #2144
@jorainer - no problem! If you happen to have a suggestion for someone that I might reach out to, that would be awesome :)

[2020-03-11 11:42] SirSharpest commented on #2072
@whedon generate pdf

[2020-03-11 11:42] whedon commented on #2072
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02072/joss.02072/10.21105.joss.02072.pdf)

[2020-03-11 11:59] SirSharpest commented on #2072
I do see your points on issues with notebooks - I will move away from these in future (currently investigating your suggestion to make them non issues with tracking).

And thank you for your interest, we were surprised when we found how little narrow escape problems have been applied to problems outside of physics. We hope this library will help with that by making it more accessible. As per your

[2020-03-11 12:06] jorainer commented on #2144
@sgibb eventually - but I'm not sure if he's available.

[2020-03-11 12:17] poulson commented on #1655
Thank you, Rodrigo (@hausen)!

Hi Scott (@stsievert) :wave: -- it seems you still have four boxes unchecked:
 - Statement of need
 - Example Usage
 - Functionality Documentation
 - References

Do you have any lingering concerns on any of these four?

[2020-03-11 12:19] danielskatz commented on #2102
👋 @frssp - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata, this includes the title (should match the paper title) and author list (ma

[2020-03-11 12:24] kiretd commented on #1958
Thanks @effigies looks good to me, just waiting for one more person to review in case I missed something.

@dfm Just want to check in to see where we are with the process. I know I took some time to respond while we made the updates, so hopefully nothing is waiting on me right now.

[2020-03-11 12:54] thesketh commented on #2157
Thanks for the tip about the `install_requires`, it seems that there's even a page on ["install_requires vs requirements files"](https://packaging.python.org/discussions/install-requires-vs-requirements/#install-requires-vs-requirements-files). I was under the impression that `requirements.txt` was necessary. I think you're probably right and that deleting it is the right thing to do, but I'll hol

[2020-03-11 13:03] fcooper8472 commented on #1848
@danielskatz, please see responses inline:

We added a comprehensive list of research using/enabled by Chaste because that was listed on the JOSS website under "What should my paper contain?", which included:

"Mention (if applicable) of any past or ongoing research projects using the software and recent scholarly publications enabled by it."

The paper is longer than the recommended limit of 1000

[2020-03-11 13:08] cddesja commented on #1941
@marcosvital, I'd like to make a reference to our two vignettes included in the package by adding the following sentence bolded below. Is this okay? I'll add the citation to the paper.bib if this is fine.

The R package ``profileR``, currently in version 0.3-6 on the comprehensive R archive network (CRAN), implements profile reliability [@bulut2013between; @bulut2017], criterion-related profile an

[2020-03-11 13:08] danielskatz commented on #1848
@whedon generate pdf

[2020-03-11 13:10] whedon commented on #1848
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01848/joss.01848/10.21105.joss.01848.pdf)

[2020-03-11 13:13] danielskatz commented on #1848
I disagree - please make the changes I requested.

Thank you

Rather than a problem with JOSS, we could call this a feature that comes from pandoc - titles, including booktitles, are changed to only an initial capital letter.

[2020-03-11 13:20] dfm commented on #2141
@malramsay64: awesome - thanks! I'll add you and get the review started.

[2020-03-11 13:21] dfm commented on #2141
@whedon add @malramsay64 as reviewer

[2020-03-11 13:21] whedon commented on #2141
OK, @malramsay64 is now a reviewer

[2020-03-11 13:21] dfm commented on #2141
@whedon start review

[2020-03-11 13:21] whedon opened #2160 "[REVIEW]: PyZFS: A Python package for first-principles calculations of zero-field splitting tensors"
**Submitting author:** @hema-ted (<a href="http://orcid.org/0000-0001-8987-8562">He Ma</a>)
**Repository:** <a href="https://github.com/hema-ted/pyzfs" target ="_blank">https://github.com/hema-ted/pyzfs</a>
**Version:** v1.3
**Editor:** @dfm
**Reviewer:** @xwang862, @malramsay64
**Archive:** <a href="https://doi.org/10.5281/zenodo.3728346" target="_blank">10.5281/zenodo.3728346</a>

## Status

[![

[2020-03-11 13:21] whedon commented on #2141
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2160.

[2020-03-11 13:21] #2141 closed

[2020-03-11 13:21] whedon commented on #2160
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @xwang862, @malramsay64 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2020-03-11 13:22] whedon commented on #2160
[code]

[2020-03-11 13:22] whedon commented on #2160
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02160/joss.02160/10.21105.joss.02160.pdf)

[2020-03-11 13:22] dfm commented on #2141
@hema-ted, @malramsay64, @xwang862: We can now move over to the review thread #2160 to continue our conversation.

[2020-03-11 13:23] dfm commented on #2160
@hema-ted: Please update the DOIs in the paper as suggested by whedon. Thanks!

[2020-03-11 13:25] majensen commented on #2137
@whedon assign @rcannood as reviewer

[2020-03-11 13:25] dfm commented on #2160
@xwang862, @malramsay64: Your reviewer instructions and checklists are above and there's more info on the documentation page: https://joss.readthedocs.io/en/latest/index.html

Please don't hesitate to ask if you have any questions throughout this process!

[2020-03-11 13:25] whedon commented on #2137
OK, @rcannood is now a reviewer

[2020-03-11 13:28] majensen commented on #1942
Thanks @benjaminbolling for touching base with me on the alternative channel. We'll add the "paused" label to this submission for now. Feel free to pick it back up with a post here.

[2020-03-11 13:30] dfm commented on #1958
@sauln: Do you feel that @kiretd has addressed some of your concerns? Do you have more feedback?

@kiretd: In response to your question to @sauln:

I believe that that was what he was saying. In general, [unit tests](https://en.wikipedia.org/wiki/Unit_testing) should test each sub-component of the code, not just the end-to-end result. Unit testing, specifically, is not a *requirement* for JOSS, bu

[2020-03-11 14:02] corybrunson commented on #2137
@majensen not this week, but i would be able to next week! If that's OK, then i'm glad to be assigned.

[2020-03-11 14:19] kiretd commented on #1958
@dfm and @sauln Thanks, yep, unit testing makes sense. I'm going to look into whether we have the resources to add that in now, or if we'll need to add it in gradually. I'm looking into exactly what would be the best way to do it now.

[2020-03-11 14:32] dsryberg commented on #2042
@arbennett  - The updated descriptions of the disaggregation methods looks a lot better now. Also the paper introduction is more readable as well. I am definitely satisfied with these two updates. However, have you taken into consideration the other topics I previously listed?

Namely:

1. Test run time
2. physics.py testing coverage
3. Making the examples more digestible
4. The potential bug with

[2020-03-11 15:01] lorenanicole commented on #2110
Hi folks! I apologize, some Python Software Foundation commitments are sending me scrambling due to covid19. Should be freed up this weekend!

[2020-03-11 15:01] lorenanicole commented on #2126
Hi folks! I apologize, some Python Software Foundation commitments are sending me scrambling due to covid19. Should be freed up this weekend!

[2020-03-11 15:09] kbarnhart commented on #2043
I'm going to move this review forward.

Now that the two reviews have been completed, @daniellivingston and @joa-quim could you please reply and confirm your review recommendation.

At that point @anowacki could you please point me towards the current version of the paper (it is currently on a branch I think). I will provide some final, likely minor, editorial comments on the paper.

Once those ar

[2020-03-11 15:09] kbarnhart commented on #2043
@whedon remove @fhorrobin as reviewer

[2020-03-11 15:10] whedon commented on #2043
OK, @fhorrobin is no longer a reviewer

[2020-03-11 15:24] JoshuaSteer commented on #2060
Thanks for all your great comments. It's really helped improve and focus the package:

@Kevin-Mattheus-Moerman all your following have now been sorted
- Check typos in the README, see these: Licesnse, founde, and here here
- I suggest linking to your contributing guidelines in the README
- A super minor nitpicky point. Perhaps capitalize laplacian throughout documentation (I see laplacian in the f

[2020-03-11 15:44] martibosch commented on #2143
I have added [an "Advanced Topics"](https://detectree.readthedocs.io/en/latest/advanced_topics.html) page in the documentation, which I hope addresses (or at least partly addresses) the comment of @kthyng :smiley:

[2020-03-11 16:51] arfon commented on #2159
:wave: @vanbenschoten - thanks for your could your submission to JOSS. Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2020-03-11 17:03] karthik commented on #2156
Sure

[2020-03-11 17:03] karthik commented on #2156
@@whedon assign @karthik as editor

[2020-03-11 17:03] karthik commented on #2156
@whedon assign @karthik as editor

[2020-03-11 17:03] whedon commented on #2156
OK, the editor is @karthik

[2020-03-11 17:11] karthik commented on #2156
Pinged `@cpsievert` to review over email

[2020-03-11 17:27] ProbShin commented on #1843
@shah314  Thanks for your understanding.

Here are some [comments](https://github.com/shah314/graphcoloring/issues/6#issue-579422802) about the code implementation. And I need to emphasize again that some modification is recommended, and some modification is only needed depending on the goal of the project.

[2020-03-11 17:41] karthik commented on #2156
@JonasRieger Do you have any reviewer suggestions that do not result in a conflict of interest? If so please suggest names.

[2020-03-11 19:16] djmitche commented on #2124
I'm having a bit of trouble figuring out what this does, as someone not familiar with this kind of analysis.  The README is very clear about input formats, but for example doesn't explain what "relatedness" means.  Is there another resource that could help me understand this sort of thing?

[2020-03-11 19:40] kbarnhart commented on #2029
@whedon re-invite @frengers as reviewer

[2020-03-11 19:40] whedon commented on #2029
The reviewer already has a pending invite.

@frengers please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-03-11 19:41] kbarnhart commented on #2029
@frengers you mentioned to me earlier today that you were having issues checking the check boxes (this is a problem we are having in general at JOSS right now, sorry).

I believe that you should be able to fix this by clicking the above link. Please let me know if you continue to have checkbox editing issues.

[2020-03-11 19:42] rhagenson commented on #2124
@djmitche Great question and a bit of oversight on my part assuming relatedness is more widely known. In short, relatedness is the measure of how much two individuals overlap genetically -- ranging from 0 (no relation) to 1 (clones). `relped` began its lifecycle as a quasi-extension to a tool called [ML-Relate](http://www.montana.edu/kalinowski/software/ml-relate/index.html), which is where the co

[2020-03-11 19:53] marcosvital commented on #2124
@djmitche, I think that would be nice to explain that on the manuscript's summary.

It's actually on JOSS guidelines, the summary should "have a clear description of the high-level functionality and purpose of the software for a diverse, non-specialist audience been provided".

So a quick and simple explanation on relatedness should be there - and perhaps a slightly more detailed explanation could

[2020-03-11 20:00] rabdill commented on #2124
Thanks for clarifying, @rhagenson. I agree with @marcosvital about adding some of this to the project—my only note so far was that there was very little background for how this could be applied. The software documentation itself is helpful, and I'm sure someone already doing this work would see how it fits into their workflow, but the description assumes a lot of prior knowledge.

[2020-03-11 20:09] vanbenschoten commented on #2159
@arfon here's a list of some folks who I think would be good reviewers:

wrathematics
suyashkumar
vc1492a
robohyun66
marksantcroos
galenstocking
ionlights
jkahn

[2020-03-11 20:18] rhagenson commented on #2124
@rabdill, @djmitche, and @marcosvital I will add a briefing on relatedness to the paper and README to frame `relped`.

@rabdill, specifically, when you say "there was very little background for how this could be applied" do you mean you had difficulties identifying the usefulness of `relped`, or where it fits in a hypothetical project?

If it would be helpful, I can put a few sentences in the pape

[2020-03-11 20:25] rhagenson commented on #2124
I have shared `relped` (post-entering review) with a few agriculture former colleagues, conservationists, and zoo/aquarium staff as I can see where it would be useful in those areas. Already have a couple Thank You's for building it so I am confident that when @rabdill said "someone already doing this work would see how it fits into their workflow" that is very much true.

[2020-03-11 21:58] arbennett commented on #2042
@sjpfenninger - I just release a new version, 2.2.1, to fix the timestamp bug as well as another bug found by a user when simulating polar regions. Is is possible to update the version for this paper?

@dsryberg - Thanks for the followup. I have released a new version to deal with the bug you describe in 4, along with an additional bug.

On the topic of tests, we don't have much bandwidth to impro

[2020-03-11 23:04] arfon commented on #2137
@TomKellyGenetics - you might want to truncate your bibtex entries to only those that are cited in the JOSS paper to prevent Whedon responses like this one: https://github.com/openjournals/joss-reviews/issues/2137#issuecomment-594413402

[2020-03-11 23:10] tkonolige commented on #2131
@sandwichmaker The pdf is here: https://github.com/openjournals/joss-papers/blob/joss.02131/joss.02131/10.21105.joss.02131.pdf

[2020-03-11 23:20] joa-quim commented on #2043
Hi,
Yes, I confirm my recommendation for accepting this paper.

[2020-03-12 01:03] majensen commented on #2137
That would be excellent @corybrunson -- very much appreciated!

[2020-03-12 01:04] majensen commented on #2137
@whedon add @corybrunson as reviewer

[2020-03-12 01:04] whedon commented on #2137
OK, @corybrunson is now a reviewer

[2020-03-12 01:08] majensen commented on #2137
@whedon start review

[2020-03-12 01:08] whedon opened #2161 "[REVIEW]: graphsim: An R package for simulating gene expression data from graph structures of biological pathways"
**Submitting author:** @TomKellyGenetics (<a href="http://orcid.org/0000-0003-3904-6690">S. Thomas Kelly</a>)
**Repository:** <a href="https://github.com/TomKellyGenetics/graphsim" target ="_blank">https://github.com/TomKellyGenetics/graphsim</a>
**Version:** v1.0.0-joss
**Editor:** @majensen
**Reviewer:** @rcannood, @corybrunson
**Archive:** <a href="https://doi.org/10.5281/zenodo.3931288" target

[2020-03-12 01:08] whedon commented on #2137
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2161.

[2020-03-12 01:08] #2137 closed

[2020-03-12 01:08] whedon commented on #2161
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rcannood, @corybrunson it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2020-03-12 01:09] whedon commented on #2161
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02161/joss.02161/10.21105.joss.02161.pdf)

[2020-03-12 01:10] majensen commented on #2137
Thanks @rcannood and @corybrunson for stepping up to review this interesting work by @TomKellyGenetics - please join us at #2161!

[2020-03-12 01:13] whedon commented on #2161
[code]

[2020-03-12 01:22] majensen commented on #2161
Replicating @arfon comment here regarding trimming bibtex entries:

https://github.com/openjournals/joss-reviews/issues/2137#issuecomment-597923101

[2020-03-12 01:28] majensen commented on #2161
@TomKellyGenetics - in the first paragraph of *Methodology and software*, there is a sentence:

Seems like the package name is missing here, or I'm missing something.

[2020-03-12 01:36] gkthiruvathukal commented on #2146
@Kevin-Mattheus-Moerman Thanks. I will take care of this over the weekend. Thanks to everyone for your patience until I can get to it.

[2020-03-12 01:50] majensen commented on #2044
I've reached out to @scwest via an alternate channel for an update.

[2020-03-12 04:57] abhishekbajpayee commented on #2097
@kthyng apologies for the delay.

I installed things and launched the application using provided instructions. Using calibration video in the sample dataset, I was able to calibrate. I did notice a few things that might be worth addressing here:
1) The UI to pick a calibration video file only shows mp4 video files but the sample file is an mov file. Dragging and dropping worked for me but seeing o

[2020-03-12 06:48] torressa commented on #2049
Hi @sjvrijn! Sorry for the delay and thanks for the reply.
I've updated the check point list :sunglasses:
Thanks @melissawm

4.2 That looks good actually, missed the subsections on my first look. Also, pretty cool that you set up a gitter channel.
4.3 Fair enough, didn't know that. I just came across several cases when python constructs (maps, generators and list comprehensions) where a lot faster

[2020-03-12 07:10] csoneson commented on #2144
@sgibb - would you be interested in reviewing this submission for the Journal of Open Source Software?

software: https://github.com/MetabolomicsAustralia-Bioinformatics/metabio
accompanying paper: https://github.com/openjournals/joss-papers/blob/joss.02144/joss.02144/10.21105.joss.02144.pdf

instructions on reviewing for JOSS: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-03-12 07:13] csoneson commented on #1992
@olivertomic - please update us on the status of your review.

[2020-03-12 07:43] JonasRieger commented on #2156
kbenoit, cmaimone, bagheria, lmullen

[2020-03-12 07:45] mjsottile commented on #2145
:wave: @fccoelho It looks like your checklist is complete as well.  Do you agree with @1313e regarding acceptance?  If so, I'll do my pass through the submission and move on to next steps.

[2020-03-12 08:40] dsryberg commented on #2042
@arbennett Thanks for the detailed response. In my opinion, the bug I came across was the most crucial issue to fix, so thanks for dealing with that. I've also just checked out the video walkthrough, and it is definitely very informative and well made. Maybe eventually this information should be put into a text form (so that one doesn't need to search through a 1.2 hr video to find the information

[2020-03-12 10:40] frssp commented on #2102
- [x] v0.3 is released
- [x] the release v0.3 is archived in Zenodo.
- [x] The Zenodo archive checked.
- [x] The DOI of the archived version is 10.5281/zenodo.3707592

[2020-03-12 11:07] fccoelho commented on #2145
@mjsottile , I am done and recommend the paper for publication.

[2020-03-12 11:46] jizecn commented on #2097
Hi, I also tried the software following the instructions provided.

Docker to facilitate the installation and testing works fine for me. However, I need to use "sudo" to start the software. Maybe it is only for me, but might be worth mentioning in the document (ps. I use Linux Ubuntu 16.04).

A few comments/suggestions:
1. The calibration process looks similar to the annotation part. I by mistake

[2020-03-12 12:32] danielskatz commented on #2102
@whedon set v0.3 as version

[2020-03-12 12:32] whedon commented on #2102
OK. v0.3 is the version.

[2020-03-12 12:32] danielskatz commented on #2102
@whedon set 10.5281/zenodo.3707592 as archive

[2020-03-12 12:33] whedon commented on #2102
OK. <a href="https://doi.org/10.5281/zenodo.3707592" target="_blank">10.5281/zenodo.3707592</a> is the archive.

[2020-03-12 12:34] danielskatz commented on #2102
@frssp - please fix the zenodo metadata so that the authors match the authors on the paper (order and real names)

[2020-03-12 12:38] frssp commented on #2102
The Zenodo metadata are updated.

[2020-03-12 12:41] danielskatz commented on #2102
@whedon generate pdf

[2020-03-12 12:42] whedon commented on #2102
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02102/joss.02102/10.21105.joss.02102.pdf)

[2020-03-12 12:43] danielskatz commented on #2102
@whedon check references

[2020-03-12 12:44] whedon commented on #2102
[code]

[2020-03-12 12:47] danielskatz commented on #2102
@frssp - if you can merge https://github.com/WMD-group/CarrierCapture.jl/pull/10, we will be ready for final acceptance

[2020-03-12 12:59] frssp commented on #2102
Merged! Thanks @danielskatz

[2020-03-12 13:00] danielskatz commented on #2102
@whedon accept

[2020-03-12 13:00] whedon commented on #2102
[code]

[2020-03-12 13:00] whedon commented on #2102
[code]

[2020-03-12 13:01] whedon commented on #2102
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1367

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1367, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-12 13:06] frssp commented on #2102
@whedon accept deposit=true

[2020-03-12 13:06] whedon commented on #2102
I'm sorry @frssp, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-03-12 13:09] danielskatz commented on #2102
@whedon accept deposit=true

[2020-03-12 13:09] whedon commented on #2102
[code]

[2020-03-12 13:10] whedon commented on #2102
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1238089944570216448) 👈 🐦🐦🐦

[2020-03-12 13:10] whedon commented on #2102
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1368
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02102](https://doi.org/10.21105/joss.02102)
2. If everything looks g

[2020-03-12 13:12] danielskatz commented on #2102
Thanks to @utf & @taylor-a-barnes for reviewing!

[2020-03-12 13:14] danielskatz commented on #2102
Congratulations to @frssp and co-authors!

[2020-03-12 13:14] #2102 closed

[2020-03-12 13:14] whedon commented on #2102
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02102/status.svg)](https://doi.org/10.21105/joss.02102)

**We need your help!**

Journal of Open Source Softwa

[2020-03-12 13:16] frssp commented on #2102
Thanks, @danielskatz, and reviews @utf and @taylor-a-barnes.
Of course, thanks @whedon.

[2020-03-12 13:54] babinyurii commented on #2014
Hi @will-rowe, now I've added answers to  @lamhm 's comments. It would be great, if you could go through the manuscript just to look at the articles. I would really appreciate it.

[2020-03-12 13:55] rhagenson commented on #2124
@whedon generate pdf

@rabdill, @djmitche, and @marcosvital, the update to add a brief introduction to relatedness in both manuscript and documentation has been completed.

[2020-03-12 13:56] whedon commented on #2124
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02124/joss.02124/10.21105.joss.02124.pdf)

[2020-03-12 14:53] cscherrer commented on #2062
Thanks for bumping this @danielskatz !

Hi @kose-y, thank you for your helpful comments; I'm sorry to not have responded sooner. This project is my first experience with both Julia's documentation and test system, so the software engineering side of this is taking me some time. The [docs|dev](https://cscherrer.github.io/Soss.jl/dev) button now works, but there's nothing really there yet. I should

[2020-03-12 15:03] TomKellyGenetics commented on #2161
@whedon generate pdf

[2020-03-12 15:04] whedon commented on #2161
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02161/joss.02161/10.21105.joss.02161.pdf)

[2020-03-12 15:06] johannes-titz commented on #2116
@aj2duncan, @strengejacke  Thank you for very much for the feedback! I really like the idea of having a progress bar. Unfortunately this is not a trivial think to do (e.g. see discussion here https://github.com/lme4/lme4/issues/482). It would be easier to show the iteration step and the optimization criterion, which is sort of a progress indicator (e.g. one can anticipate when it converges). But e

[2020-03-12 15:07] TomKellyGenetics commented on #2161
This should build with updates from minor (formatting) corrections from errors found while submitting to CRAN and bioRxiv. I’ll look into removing unneeded references from the bibtex file.

[2020-03-12 15:19] VivianePons commented on #1988
@whedon check repository

[2020-03-12 15:19] whedon commented on #1988
[code]

[2020-03-12 16:25] mirams commented on #1848
Hi, I am one of the authors of the Chaste paper, I have spent a while trying to shorten it down as requested. I would ask that you take another look, for a couple of reasons.

Firstly in my draft I've had to remove all the citations to similar software that feature in the comparison table we added (as requested before), this seems against the spirit of JOSS in giving credit to these people for dev

[2020-03-12 16:38] majensen commented on #2044
All - I've heard from @scwest, he has been swamped. We should hear from him within about 2 weeks. Thanks!

[2020-03-12 17:11] MariaTsantaki commented on #2048
Hi all,
The author of MOOG is kindly ok with its redistribution. He mentioned to add a disclaimer on the README that we are not taking responsibility for proper use of MOOG as it is also mentioned in his website which I guess lies under the MIT license. I will ask him if possible to add the license online but he mentioned he is also willing to send a letter to the journal if necessary about this.

[2020-03-12 17:29] xuanxu commented on #2048
@MariaTsantaki Great, if he specifies the MIT license online and/or adds [the license file](https://choosealicense.com/licenses/mit/) to the downloadable .tar.gz file with the code, that would be enough.

[2020-03-12 17:40] jordanperr commented on #2114
@sjpfenninger Sounds good. Let me know if there's anything I can do.

[2020-03-12 17:58] danielskatz commented on #1848
The original request I made was "you do not need to cite all papers in which Chaste has been used, just a selection showing its breadth, perhaps 5-10." - I did not mean that you should remove references to things that Chaste depends on, or those to similar software, just to reduce the number of references in the section "Recent Publications enabled by Chaste" to a representative 5 to 10 rather tha

[2020-03-12 17:58] danielskatz commented on #1848
@whedon generate pdf

[2020-03-12 18:01] whedon commented on #1848
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01848/joss.01848/10.21105.joss.01848.pdf)

[2020-03-12 19:26] mjsottile commented on #2145
@whedon check references

[2020-03-12 19:27] whedon commented on #2145
[code]

[2020-03-12 19:46] mjsottile commented on #2145
@whedon generate pdf

[2020-03-12 19:47] whedon commented on #2145
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02145/joss.02145/10.21105.joss.02145.pdf)

[2020-03-12 19:54] mjsottile commented on #2145
The only thing I found when reviewing the paper and repository was that the first word of Figure 1's caption should be capitalized.

Given that everyone seems to agree that the paper is good to go forward, the next steps for @sbrugman are:

- Submit a version of the software to an archive (e.g., figshare or zenodo) and post the DOI for the archive in this thread.

- Please verify that the version

[2020-03-12 20:15] meg-simula commented on #2120
/ooo March 12 until March 27

[2020-03-12 20:15] meg-simula commented on #2094
/ooo March 12 until March 27

[2020-03-12 20:16] meg-simula commented on #1701
/ooo March 12 until March 27

[2020-03-12 20:17] meg-simula commented on #1848
/ooo March 12 until March 27

[2020-03-12 20:44] finsberg commented on #1848
/ooo March 12 until March 27

[2020-03-12 22:14] ProbShin commented on #1843
@shah314 Thanks for the modification and update.
@jedbrown I have put several comments on test results and code implementation and provide the basic explanations. The author and I had a brief discussion of the modifications and changes.  I have done my review and I am pleased to recommend this for publication.

[2020-03-12 22:30] fcooper8472 commented on #1848
@whedon generate pdf

[2020-03-12 22:32] whedon commented on #1848
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01848/joss.01848/10.21105.joss.01848.pdf)

[2020-03-12 22:38] fcooper8472 commented on #1848
@danielskatz here is the substantially lighter version.

Please let me know if you would like any further changes.  We will need to generate a new archive & DOI reflecting these changes before publication.

[2020-03-12 22:59] danielskatz commented on #1848
looks good - thanks - let me know the new archive and doi when you have them

[2020-03-12 23:26] fcooper8472 commented on #1848
The new Zenodo archive is:
https://zenodo.org/record/3708497

with DOI:
[10.5281/zenodo.3708497](http://doi.org/10.5281/zenodo.3708497)

@mirams will be able to update the title and author list at that new Zenodo archive to match this JOSS paper.

[2020-03-12 23:40] danielskatz commented on #1848
Thanks - please let me know when that is done

[2020-03-12 23:40] danielskatz commented on #1848
@whedon set 10.5281/zenodo.3708497 as archive

[2020-03-12 23:40] whedon commented on #1848
OK. <a href="https://doi.org/10.5281/zenodo.3708497" target="_blank">10.5281/zenodo.3708497</a> is the archive.

[2020-03-13 01:12] joglekara commented on #2133
Hi @dpsanders , thanks for your comments. @arfon , thanks for the improvements.

Re: Docs and API:
The API instructions are provided through a jupyter-notebook but we understand that it should be more obvious. We will add some more documentation about the equations being solved along with instructions on how to use the API.

Re: PlasmaPy
This was partially motivated by the explicit mention by the

[2020-03-13 01:37] jedbrown commented on #1843
@whedon generate pdf

[2020-03-13 01:37] whedon commented on #1843
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01843/joss.01843/10.21105.joss.01843.pdf)

[2020-03-13 01:39] jedbrown commented on #1843
@ProbShin Thanks for your review. Before we proceed, could you please you check off your checklist at [the top of this thread](https://github.com/openjournals/joss-reviews/issues/1843#issue-514116573)?

[2020-03-13 03:59] arnavs commented on #2090
@VivianePons Any news about this? (No worries if you all are still discussing.)

[2020-03-13 08:57] will-rowe commented on #2014
That's great @babinyurii. When @betteridiot signs off on his review, I will go through and help edit the paper.

Pinging @betteridiot - I know it's hectic times at the moment and I understand if this has dropped off your radar. Please let us know if you'll be able to check your comments have been addressed. If you can't manage it in the next week or two, I'll make the decision based on what you ha

[2020-03-13 09:46] celliern commented on #2158
First, I wanted to say that I'm impressed ! The library is clean and well
organized and I will definitively add it in my research toolbox. It also fit
well the Python scientific ecosystem, especially compared with my work () that
has not be designed to easily write tensor-based PDE equation. This is a
welcome approach as this is a very common task among a wide range of
scientific topics.

The feat

[2020-03-13 10:20] mirams commented on #1848
@danielskatz I have updated the Zenodo metadata to match the paper title and authors.

[2020-03-13 12:18] sgibb commented on #2144
@csoneson I am sorry but I am currently not able to review anything.

[2020-03-13 12:25] danielskatz commented on #1848
@whedon accept

[2020-03-13 12:25] whedon commented on #1848
[code]

[2020-03-13 12:27] whedon commented on #1848
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1369

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1369, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-13 12:29] danielskatz commented on #1848
@whedon accept deposit=true

[2020-03-13 12:29] whedon commented on #1848
[code]

[2020-03-13 12:31] whedon commented on #1848
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1238442446620688385) 👈 🐦🐦🐦

[2020-03-13 12:31] whedon commented on #1848
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1370
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01848](https://doi.org/10.21105/joss.01848)
2. If everything looks g

[2020-03-13 12:35] danielskatz commented on #1848
Thanks to @finsberg & @IgorBaratta for reviewing!
And to @meg-simula for editing!

[2020-03-13 12:36] danielskatz commented on #1848
Congratulations to @fcooper8472!
And again, apologies for your getting penalized with some extra work as we changed our guidelines.

[2020-03-13 12:36] #1848 closed

[2020-03-13 12:36] whedon commented on #1848
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01848/status.svg)](https://doi.org/10.21105/joss.01848)

**We need your help!**

Journal of Open Source Softwa

[2020-03-13 12:37] whedon opened #2162 "[PRE REVIEW]: DALEXtra: Cross language model comparison"
**Submitting author:** @maksymiuks (<a href="http://orcid.org/0000-0002-3120-1601">Szymon Maksymiuk</a>)
**Repository:** <a href="https://github.com/ModelOriented/DALEXtra" target ="_blank">https://github.com/ModelOriented/DALEXtra</a>
**Version:** 0.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**Author instructions**

Thanks for submitting your paper to JOSS @ma

[2020-03-13 12:37] whedon commented on #2162
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-13 12:37] whedon commented on #2162
[code]

[2020-03-13 12:37] whedon commented on #2162
Failed to discover a valid open source license.

[2020-03-13 12:38] whedon commented on #2162
PDF failed to compile for issue #2162 with the following error:

 Can't find any papers to compile :-(

[2020-03-13 12:39] danielskatz commented on #2150
@dipongkor - we've decided to reject this submission as out of scope for JOSS because of its focus on students, not research, as well as the potential reviewer comments.

[2020-03-13 12:39] danielskatz commented on #2150
@whedon reject

[2020-03-13 12:39] whedon commented on #2150
Paper rejected.

[2020-03-13 12:39] #2150 closed

[2020-03-13 12:42] maksymiuks commented on #2162
@whedon generate pdf

[2020-03-13 12:43] whedon commented on #2162
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02162/joss.02162/10.21105.joss.02162.pdf)

[2020-03-13 12:44] danielskatz commented on #2162
@maksymiuks - this paper appears incomplete: there are some sections without content.

[2020-03-13 12:46] danielskatz commented on #2162
Due to that, and to the very recent hiatus in JOSS receiving submissions, I'm going to push this back for now, and ask you to resubmit once we are accepting submissions again.  We welcome a resubmission of a complete paper in the future, once we are accepting submissions.

[2020-03-13 12:46] danielskatz commented on #2162
@whedon withdraw

[2020-03-13 12:46] whedon commented on #2162
Paper withdrawn.

[2020-03-13 12:46] #2162 closed

[2020-03-13 13:03] ProbShin commented on #1843
@jedbrown Sure, I tried, but I cannot edit the checklist. I noticed that the invitation link might be revoked. Is it possible to reinvite me somehow, I guess that might grant me access to the checklist.

[2020-03-13 13:14] jedbrown commented on #1843
@whedon re-invite @ProbShin as reviewer

[2020-03-13 13:14] whedon commented on #1843
OK, the reviewer has been re-invited.

@probshin please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-03-13 13:30] drvinceknight commented on #2152
@whedon set @drvinceknight as editor

[2020-03-13 13:30] whedon commented on #2152
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-03-13 13:30] drvinceknight commented on #2152
@whedon assign @drvinceknight as editor

[2020-03-13 13:30] whedon commented on #2152
OK, the editor is @drvinceknight

[2020-03-13 13:34] ProbShin commented on #1843
Thanks, @jedbrown

[2020-03-13 14:23] gbertoldo commented on #1701
Hi, @meg-simula! We will address these problems. Thanks!

[2020-03-13 15:00] castelao commented on #2063
Response to @jessicaaustin

Thanks! As a side note, the package OceansDB was originally together with CoTeDe, as a  single package (since the first generation, ~ 2006), but as CoTeDe grew larger and I realized that some people could use OceansDB outside CoTeDe’s scope, I moved it outside as an independent package (~ 2015).

Thanks for sharing your opinion on using xarray or pandas. It’s now clear

[2020-03-13 15:08] castelao commented on #2063
Response to @evanleeturner

Thanks, I’m glad to hear that we have the same vision on shared public QC procedures and the importance of giving freedom to the operator to decide which tests to apply, including the tunning of each test. Please, don’t hesitate to open issues with requests or discussions that could help you to implement CoTeDe in your project. My vision for the QC configuration was on

[2020-03-13 15:10] castelao commented on #2063
@kthyng , could you confirm the next step, please? Is it correct that the reviewers need to checkmark each box in the very first post before we move to the next step? Thanks!

[2020-03-13 15:33] nicoguaro commented on #2074
@sohrabtowfighi, I already suggested the publication. I think that we are waiting for @arokem.

[2020-03-13 15:43] trallard commented on #2107
@whedon set v0.9.0 as version

[2020-03-13 15:43] whedon commented on #2107
OK. v0.9.0 is the version.

[2020-03-13 15:43] trallard commented on #2107
@eteq and @dvanic any chance you could check in an give any updates re
 your review?

[2020-03-13 15:45] trallard commented on #2106
Thanks for completing your review @Ebedthan

@AKuederle  do you have any updates on this? It seems like there is only one item on your checklist missing?

[2020-03-13 15:46] evanleeturner commented on #2063
So I can't seem to edit the first post.  When I click on the ... my only options are "copy link" and "quote reply"

[2020-03-13 15:48] trallard commented on #1917
As an update: I will pick up this back on Monday

[2020-03-13 15:50] danielskatz commented on #2063
@whedon re-invite @evanleeturner as reviewer

[2020-03-13 15:50] whedon commented on #2063
The reviewer already has a pending invite.

@evanleeturner please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-03-13 15:51] evanleeturner commented on #2063
I just did.  It said the invitation has expired.

[2020-03-13 15:51] danielskatz commented on #2063
👋 @evanleeturner - you shouldn't edit the first comment, but you should check boxes in it.  If you have comments, add them as new comments

[2020-03-13 15:51] AKuederle commented on #2106
I am waiting for a response on https://github.com/Sage-Bionetworks/mhealthtools/issues/210

[2020-03-13 15:51] danielskatz commented on #2063
@openjournals/dev - can you check on the issue @evanleeturner is having?

[2020-03-13 15:52] evanleeturner commented on #2063
It won't let me change the box when I click it - nothing happens.

[2020-03-13 15:56] danielskatz commented on #2063
that's a permission problem since you are not in the group - @openjournals/dev will need to fix it since the re-invite didn't work for some reason

[2020-03-13 15:58] olivertomic commented on #1992
@csoneson In progress. Please see the checked boxes above.

[2020-03-13 16:04] castelao commented on #2063
@danielskatz , thanks!

[2020-03-13 17:48] pySRURGS commented on #2074
@nicoguaro please check off all the tick boxes

[2020-03-13 17:59] arokem commented on #2074
@nicoguaro : I see that "example usage" is still unchecked.  Just making sure: is this ready for publication from your point of view?

[2020-03-13 17:59] arokem commented on #2074
@whedon check references

[2020-03-13 18:00] whedon commented on #2074
[code]

[2020-03-13 18:00] arokem commented on #2074
@whedon generate pdf

[2020-03-13 18:00] arokem commented on #2074
In the meanwhile, @pySRURGS : could you please fix the missing DOI?

[2020-03-13 18:00] whedon commented on #2074
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02074/joss.02074/10.21105.joss.02074.pdf)

[2020-03-13 18:01] shah314 commented on #1843
@jedbrown @ProbShin @HaoZeke Thanks all for the reviews!

[2020-03-13 18:03] shah314 commented on #1843
@jedbrown I have created a Zenodo archive release. Here is the DOI:

10.5281/zenodo.3709625

Thank you!

[2020-03-13 19:06] pySRURGS commented on #2074
@arokem no doi available for that reference

[2020-03-13 19:14] arokem commented on #2074
I see now. The DOI suggested by whedon is incorrect (points to another resource). I think that you can leave this as is.

In the meanwhile, while we are waiting for @nicoguaro's final approval, could you please go ahead and proceed with the following steps:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Z

[2020-03-13 19:15] nicoguaro commented on #2074
Yes, it is checked now.

[2020-03-13 21:16] kbarnhart commented on #2043
@daniellivingston can I ping you to confirm your recommendation for this publication.

[2020-03-13 21:18] daniellivingston commented on #2043
@kbarnhart Yes, I confirm my recommendation for accepting this publication.

[2020-03-13 21:18] kbarnhart commented on #2043
Thanks @daniellivingston

[2020-03-13 21:20] kbarnhart commented on #2043
@whedon generate pdf from branch joss-review

@anowacki is this the most up to date version of the publication? I may have a couple of minor editorial comments on the paper---just want to make sure I'm looking at the right thing.

[2020-03-13 21:20] whedon commented on #2043
[code]

[2020-03-13 21:21] whedon commented on #2043
PDF failed to compile for issue #2043 with the following error:

 error: pathspec 'joss-review
' did not match any file(s) known to git.
error: pathspec 'joss-review
' did not match any file(s) known to git.
pandoc-citeproc: reference joa-quim not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let

[2020-03-13 21:28] VivianePons commented on #2090
Dear @arnavs thank you very much for your patience.

We have had a thorough discussion with the editorial team. I am sorry but we believe that the reviewer comments confirm our initial concern that the submission is a bit too small to be considered for publication (the quantity of code is an indicator here but not a barrier in itself) . We are right now improving our processes and guidelines to he

[2020-03-13 21:43] kbarnhart commented on #2043
@whedon generate pdf from branch joss-review

[2020-03-13 21:43] whedon commented on #2043
[code]

[2020-03-13 21:43] whedon commented on #2043
PDF failed to compile for issue #2043 with the following error:

 pandoc-citeproc: reference joa-quim not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.330 }

Looks like we failed to compile the PDF

[2020-03-13 21:45] arnavs commented on #2090
OK, sorry to hear that but thanks for the thorough response and hard work. Will definitely resubmit when the library grows.

[2020-03-13 22:59] pySRURGS commented on #2074
https://github.com/pySRURGS/pyGOURGS/releases/tag/0.1
http://doi.org/10.5281/zenodo.3710475

[2020-03-13 22:59] pySRURGS commented on #2074
All done

[2020-03-13 23:37] danielskatz commented on #2090
As on-duty Associate Editor in Chief, I'm going mark this as withdrawn, to take it out of the review system and database

[2020-03-13 23:38] danielskatz commented on #2090
@whedon withdraw

[2020-03-13 23:38] whedon commented on #2090
Paper withdrawn.

[2020-03-13 23:38] #2090 closed

[2020-03-13 23:55] arfon commented on #2043
@whedon generate pdf from branch joss-review

[2020-03-13 23:56] whedon commented on #2043
[code]

[2020-03-13 23:56] whedon commented on #2043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02043/joss.02043/10.21105.joss.02043.pdf)

[2020-03-14 00:09] Sergio-Bejar commented on #2069
Hi @marcosvital, would it be possible to move to the next stage (i.e. review) since at least 2 potential reviewers accepted the request a couple of weeks ago?
Thanks!

[2020-03-14 00:15] arfon commented on #2160
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:15] arfon commented on #2161
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:15] arfon commented on #2159
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:15] arfon commented on #2158
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:15] arfon commented on #2157
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:15] arfon commented on #2156
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:15] arfon commented on #2154
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:15] arfon commented on #2155
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:15] arfon commented on #2153
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:15] arfon commented on #2152
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:15] arfon commented on #2149
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:15] arfon commented on #2151
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:15] arfon commented on #2146
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:15] arfon commented on #2145
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2144
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2143
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2142
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2140
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2136
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2139
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2135
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2134
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2133
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2131
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2129
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2130
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2128
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2126
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2125
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2124
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2123
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2122
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2121
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2120
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2119
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2117
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2118
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2116
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2114
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2113
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2111
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2110
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2109
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2107
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2106
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2101
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2104
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2097
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2095
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2094
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2089
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2088
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2086
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2083
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2077
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2072
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2074
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2069
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2063
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2062
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2061
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2060
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2048
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2049
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2047
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2044
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2043
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2042
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2034
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2029
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2019
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2018
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2017
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2016
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2008
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:22] arfon commented on #2014
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #2006
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #2003
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1992
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1991
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1989
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1988
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1978
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1983
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1969
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1968
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1960
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1958
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1942
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1941
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1918
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1936
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1917
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1906
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1904
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1882
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1867
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1865
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1847
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1843
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1835
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1833
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1808
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1766
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1752
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1753
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1740
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1720
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1701
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1655
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1608
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1584
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:23] arfon commented on #1277
Dear authors and reviewers

We wanted to notify you that in light of the current COVID-19 pandemic, JOSS has decided to suspend submission of new manuscripts and to handle existing manuscripts (such as this one) on a "best efforts basis". We understand that you may need to attend to more pressing issues than completing a review or updating a repository in response to a review. If this is the case,

[2020-03-14 00:28] arfon commented on #2063
@whedon re-invite @evanleeturner as reviewer

[2020-03-14 00:29] whedon commented on #2063
OK, the reviewer has been re-invited.

@evanleeturner please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-03-14 00:30] danielskatz commented on #2063
note that I tried that a few hours ago and it didn't seem to work...

[2020-03-14 00:32] arfon commented on #2063
Whedon's invite functionality is definitely making the invite correctly:

<img width="544" alt="Screen Shot 2020-03-13 at 8 29 39 PM" src="https://user-images.githubusercontent.com/4483/76670933-c5a33380-6569-11ea-9f07-75702a4ab9cb.png">

@evanleeturner - are you sure you're logged in with the correct GitHub account when clicking the link?

[2020-03-14 00:40] thesketh commented on #2157
Thank you for your comment, @arfon . It is refreshing to see a journal which cares about its authors, editorial staff, and reviewers.

In Scotland, we are relatively unaffected (as of yet) but I implore the editor and the reviewers to take the time they need in light of the current crisis. This submission can wait, your health can not. If you have comments to make, they are appreciated, but please

[2020-03-14 00:40] shirubana commented on #1865
Hello @arfon, we would still like to proceed if possible with this manuscript as best as we can. Our first reviewer @dalonsoa gave us much great feedback and we implemented all of it, but we've been stuck first with installation issues of Radiance raytrace software (not ours - we've documented as best we can from other users) and with getting another reviewer. We've put a lot of effort in this pac

[2020-03-14 00:41] rhagenson commented on #2124
As far as I know, I am as available as usual so no immediate need to pause.
However, have no expectation of the same reality among this submission's
editor and reviewers.

Please be safe and protect yourselves; this submission can wait for
everyone to be happy and healthy during these times. =)

On Fri, Mar 13, 2020, 7:22 PM Arfon Smith <notifications@github.com> wrote:

[2020-03-14 00:42] natallah commented on #2061
@jenzopr   @jspaezp
The proof overall looks really good!  One thing we  need to figure out is why Figure 3 in the paper.md is showing up labeled as Figure 1 in the pdf.  We definitely do not want to have two figure 1s!

[2020-03-14 00:45] arfon commented on #1865
Hi @shirubana, incase my message wasn't clear - we still plan to review this submission, I'm just asking for you patience with reviewers and editors who may be dealing with other matters during this time.

[2020-03-14 00:46] shirubana commented on #1865
Ahh! Sorry didn't get it thanks for the clarification. Of course, Patience hat on :D

[2020-03-14 00:46] briandesilva commented on #2104
Thanks, Arfon, for the update. At the moment we **do not** need to put a pause on our involvement in the review process.

[2020-03-14 01:53] stsievert commented on #1655
- Problem statement: no. I've checked the box.
- [ ] Example usage: yes. The link to "examples" is broken on the docs (on *[Using cspy]*), and I'd like to see a simple example as expressed in https://github.com/torressa/cspy/issues/15#issuecomment-566115714
- [ ] Functionality Documentation: one small concerns. The `n_res` parameter on the algorithms page is not defined (e.g, [GRASP]). It is expla

[2020-03-14 12:05] #1936 closed

[2020-03-14 12:31] danielskatz commented on #2155
@lfduquey - The JOSS editors have decided that this remains out of scope for JOSS review.

[2020-03-14 12:31] danielskatz commented on #2155
@whedon reject

[2020-03-14 12:31] whedon commented on #2155
Paper rejected.

[2020-03-14 12:31] #2155 closed

[2020-03-14 12:55] lfduquey commented on #2155
@danielskatz Thank you for letting me know.

[2020-03-14 14:01] yarikoptic commented on #1847
@cMadan I can review, just will need at least a week to get to it.

[2020-03-14 14:41] alletsee commented on #2069
Hi @Sergio-Bejar @marcosvital

I would still be willing and able to review the package within the next 2 weeks approximately. From my perspective, we could open the Github issue for the checklist-based review.

[2020-03-14 16:01] sixpearls commented on #2104
Hi @briandesilva, I will be happy to do a follow up review when you are ready. I will need guidance on the authorship question.

@arfon could you advise on my authorship question?

[2020-03-14 18:33] arfon commented on #2104
@sixpearls - we generally try and steer clear of making authorship decisions. That said, we definitely do *not* require that all authors have to have contributed code/commits to the software as it's clearly possible for people to be important members of a project/collaboration without actually authoring the git commits.

[2020-03-14 18:38] jayrobwilliams commented on #2111
I've completed my initial review. I largely agree with @paulgovan, but have noted a couple of other issues on the package repo. I'm also going to attempt to compile the paper as it's currently missing.

[2020-03-14 18:38] jayrobwilliams commented on #2111
@whedon generate pdf

[2020-03-14 18:39] whedon commented on #2111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02111/joss.02111/10.21105.joss.02111.pdf)

[2020-03-14 19:20] cddesja commented on #1941
@arfon, the paper is done. I posted the software on Zendodo.
DOI: 10.5281/zenodo.3711046
Version: 0.3-6
The paper.md and paper.bib files are done.

[2020-03-14 19:37] danielskatz commented on #2140
@whedon invite @majensen as editor

[2020-03-14 19:37] whedon commented on #2140
@majensen has been invited to edit this submission.

[2020-03-14 21:32] arfon commented on #1941
👍 roger that @cddesja. We'll just wait to hear back from @marcosvital before finalizing the accept/publish steps.

[2020-03-15 01:51] majensen commented on #2140
@whedon assign @majensen as editor

[2020-03-15 01:51] whedon commented on #2140
OK, the editor is @majensen

[2020-03-15 02:19] majensen commented on #2140
@wdduncan -- would you be willing to review [this software]() for [JOSS](https://joss.theoj.org)? Information about reviewing is [available here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Please let me know here or via other channels - thanks for considering! --@majensen

[2020-03-15 15:08] sixpearls commented on #2104
Thanks, @arfon. I must have been mis-remembering the policy. I'll check it off.

[2020-03-15 16:26] wdduncan commented on #2140
@majensen
Yes, I would. You can also reach me at wdduncan@gmail.com.

[2020-03-15 16:27] wdduncan commented on #2140
@majensen
 Chris Mungall might be interested too.

[2020-03-15 17:03] markgalassi commented on #2072
I just reviewed again and see that "A Statement of Need" is now in the readme.md file.  In the paper you also have more of a reference to existing software efforts.  I have checked off the missing boxes.

[2020-03-15 17:13] amandadumi commented on #2157
I am still making my way through the code, but I had another thought about the handling of the additional testing dependency.  I agree that avoiding having users search for openmm installation instructions would be good.  @RMeli provided this solution, which was nice!

Another way that this can be done is to define these as extras in the setup.py as described [here](https://setuptools.readthedocs.

[2020-03-15 20:03] RMeli commented on #2157
@amandadumi I think that would be a good idea, but it seems to me that in order to [install OpenMM](http://docs.openmm.org/latest/userguide/application.html#installing-openmm) `conda` is needed (with the `-c omnia -c conda-forge` channels).

[2020-03-15 20:07] richardjgowers commented on #2157
Iirc there was an effort to get a minimal openmm working on conda-forge...
the hang up was cuda dependencies

On Sun, Mar 15, 2020 at 20:03, Rocco Meli <notifications@github.com> wrote:

[2020-03-15 20:08] richardjgowers commented on #2157
By @jaimergp

On Sun, Mar 15, 2020 at 20:06, Richard Gowers <richardjgowers@gmail.com>
wrote:

[2020-03-15 20:48] sherbold commented on #2110
Thanks for the info. I would be happy with any progress, but understand waiting as well. My own workload is also quite heavily impacted already.

[2020-03-15 21:28] RMeli commented on #2157
@thesketh I didn't have enough time to dig deep into the code, but I have some comments about the paper below.

## Software Paper

### Statement of Need

A big chunk of Fig. 1 details "planned future work". This gives the impression that `pygen-structures` is incomplete and there is still a lot of work to do. I'm wondering if it  would be better to focus on what the program does instead of outlini

[2020-03-16 00:35] corybrunson commented on #2017
@whedon generate pdf

[2020-03-16 00:35] whedon commented on #2017
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02017/joss.02017/10.21105.joss.02017.pdf)

[2020-03-16 00:51] majensen commented on #2140
@wdduncan great thought- will give it a shot

[2020-03-16 00:51] majensen commented on #2140
@whedon assign @wdduncan as reviewer

[2020-03-16 00:52] whedon commented on #2140
OK, @wdduncan is now a reviewer

[2020-03-16 00:55] majensen commented on #2140
@cmungall - would you have time and inclination to review [this software]() for [JOSS](https://joss.theoj.org)? Reviewing information is [available here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Let me know here or at maj.fortinbras@gmail.com if you have any questions. Thanks for considering! --@majensen

[2020-03-16 01:13] TomKellyGenetics commented on #2161
Dear Arfon,

[2020-03-16 01:18] TomKellyGenetics commented on #2161
Dear Arfon,

Thank you for informing us on your policy. I'm currently based in Japan (which is considering to declare a state of emergency) so we're acutely aware of the developing situation here. I understand completely if reviews will take longer than usual during this time. I am safely able to work from home so can still respond to reviewers if they are able to.

Thank you,

Tom Kelly, Postdoct

[2020-03-16 02:19] markgalassi commented on #2072
@whedon commands

[2020-03-16 02:19] whedon commented on #2072
Here are some things you can ask me to do:

[code]

[2020-03-16 02:21] markgalassi commented on #2072
I think I might be done and I'm happy to recommend the software+paper as it is now. I also find that my fellow reviewer was a bit more subtle in some of their comments so I would encourage the author to incorporate those comments, but I would not require it for readiness. Editor: do I have to take any specific steps beyond stating this here?

[2020-03-16 03:26] bovee commented on #2144
@csoneson Sorry about the delay! I'm a little stretched right now, but happy to review.

[2020-03-16 04:21] clauswilke commented on #2017
I am fine with this revised manuscript. No more comments from me.

[2020-03-16 05:01] jspaezp commented on #2061
@natallah
Oddly enough, when previewing the paper using the `Whedon paper preview service`, the figure is correctly labelled.

here is the link to the current preview ...
https://whedon.theoj.org/preview?id=8b96fc6483534375133ccd09

[2020-03-16 05:07] lmweber commented on #1991
The authors have comprehensively addressed all of the previous comments raised. I have updated the tick boxes in the reviewer checklist above.

A couple of additional minor comments that I noticed in the update (but which should not stop acceptance):

- PCA should be "principal component analysis" not "principal components analysis"

- the reference to the `cluster` R package (page 2 of paper) cou

[2020-03-16 06:56] jenzopr commented on #2061
I can confirm that. The link sent by @jspaezp does not lead to the paper immediately, but if you use the service with the scTree repo URL as input, the figure labels are correct.

[2020-03-16 06:57] jenzopr commented on #2061
I accidentally hit the Close and Comment button 🙈 Sorry for that!

[2020-03-16 07:41] csoneson commented on #2144
@bovee - brilliant, thanks so much! I'll add you too as a reviewer and open the actual review issue.

[2020-03-16 07:42] csoneson commented on #2144
@whedon assign @lgatto as reviewer

[2020-03-16 07:42] whedon commented on #2144
OK, @lgatto is now a reviewer

[2020-03-16 07:42] csoneson commented on #2144
@whedon add @bovee as reviewer

[2020-03-16 07:42] whedon commented on #2144
OK, @bovee is now a reviewer

[2020-03-16 07:43] csoneson commented on #2144
@whedon start review

[2020-03-16 07:43] whedon opened #2163 "[REVIEW]: MASTR-Quant: An Open-Source Web-based Software Tool for the Quantitive Analysis of Mass Spectrometry-based Data"
**Submitting author:** @MetabolomicsAustralia-Bioinformatics (<a href="http://orcid.org/0000-0003-3980-7496">Vinod Narayana</a>)
**Repository:** <a href="https://github.com/MetabolomicsAustralia-Bioinformatics/metabio" target ="_blank">https://github.com/MetabolomicsAustralia-Bioinformatics/metabio</a>
**Version:** 1.0
**Editor:** @csoneson
**Reviewer:** @lgatto, @bovee
**Archive:** Pending

## St

[2020-03-16 07:44] whedon commented on #2144
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2163.

[2020-03-16 07:44] #2144 closed

[2020-03-16 07:44] whedon commented on #2163
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lgatto, @bovee it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2020-03-16 07:44] whedon commented on #2163
[code]

[2020-03-16 07:45] whedon commented on #2163
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02163/joss.02163/10.21105.joss.02163.pdf)

[2020-03-16 07:51] csoneson commented on #2163
@lgatto, @bovee - thanks for accepting to review this submission! This is where the actual review takes place - your checklists are in the first post above, together with some more instructions. Just ping me if you have any questions.

@lgatto - I'll paste your comments from the PRE-REVIEW issue below.

@MetabolomicsAustralia-Bioinformatics - please have a look at these comments. As I also mention

[2020-03-16 07:52] csoneson commented on #2163
Comments from @lgatto, transferred from the PRE-REVIEW issue:

Here are my comments regarding this submission:

* The submission contains a repository (but see below) and a valid OSI approved license.
* I find the manuscript to be extremely short. In particular, I miss some citation/comparison with existing alternatives in general, and a description of this software compares to other commonly-used

[2020-03-16 08:01] csoneson commented on #1991
@clauswilke, @lmweber - thanks a lot for your thorough reviews and for checking the revised submission!

@malcolmbarrett - I will take a look at the submission and get back to you shortly with the next steps.

[2020-03-16 08:50] aureliocarnero commented on #2101
Hello @noraeisner, I have no capabilities at the moment to run the mpi example.... Nonetheless, we can pause now the review. Don't worry about this now. Take care and speak soon!

[2020-03-16 09:04] anowacki commented on #2043
Hi @kbarnhart—yes, this version is the current one, so please do let me know of any comments you have, the current situation permitting of course.

[2020-03-16 09:07] will-rowe commented on #2119
Pinging @openjournals/jose-eics - I think this can be closed now?

[2020-03-16 09:46] jaimergp commented on #2157
Hi! Yes, we have a functional `openmm` recipe on `conda-forge`, but still not publicly available (it's on the `testing` label). We have to sort out how to deal with potentially unsupported OpenCL implementations (check https://github.com/conda-forge/cfep/issues/17). In the meantime, the `omnia` channel is needed, but as you can see in the issue this is subject to change in the near-term future.

[2020-03-16 10:29] corybrunson commented on #2017
@whedon generate pdf

[2020-03-16 10:29] whedon commented on #2017
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02017/joss.02017/10.21105.joss.02017.pdf)

[2020-03-16 10:36] corybrunson commented on #2017
@clauswilke thank you! @tweed1e i've addressed some of your concerns with the new example, adapted from a data set that comes with the package. I did away with the alluvial plot of geom–stat pairings, since it was contrived in the first place to provide a plot for the paper. I can add labels and pointers if it would add to the quick-readability, but i wanted to first push a version that's reproduc

[2020-03-16 10:54] arfon commented on #2101
Or you're all welcome to continue working on this... The message above was designed to set expectations for reviewers, editors, and authors accordingly. If you all are able to keep working on this, please feel free to do so.

[2020-03-16 10:55] #2119 closed

[2020-03-16 10:55] whedon commented on #2119
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02119/status.svg)](https://doi.org/10.21105/joss.02119)

**We need your help!**

Journal of Open Source Softwa

[2020-03-16 10:55] arfon commented on #2119
Just a heads up @will-rowe that you mentioned the wrong EiC group here :-)

[2020-03-16 11:03] arfon commented on #2061
@natallah - Pandoc knows how to number figures already so this change should fix your numbering issue: https://github.com/jspaezp/sctree/pull/13

[2020-03-16 11:12] noraeisner commented on #2101
Hi all, thank you so much for your review comments and I'm so sorry for my delayed reply. It took me a couple of days to relocate (I'm in isolation in Belgium now) but I will be working on the comments today and I'll respond to the individual comments as I address them. Of course I also completely understand if the reviewers prefer to pause the process for now. I hope everyone is safe and well!

[2020-03-16 11:32] marcosvital commented on #2069
Hey, everyone!

@Sergio-Bejar , yes, we can move on. I was still expecting a possible response from a third reviewer, but that's not very important.

@alletsee and @andybega , thank you again for your response. We will move on to a different repository, and this one will be automatically closed.

[2020-03-16 11:33] aureliocarnero commented on #2101
Im glad you are good! We in Spain are isolated as well now... So I'm happy to continue with the validation. Fortunately I'm healthy and I haven't been affected at all so far.
Apart from Christina's comment that I agree with, I just need to look at the parallel example now. I'm happy to continue with the validation until the end....
Let me see if I can finish, my computer at home is not the best th

[2020-03-16 11:33] marcosvital commented on #2069
@whedon start review

[2020-03-16 11:33] whedon commented on #2069
It looks like you don't have an editor and reviewer assigned yet so I can't start the review. Try one or more of these commands:

[code]

[2020-03-16 11:34] marcosvital commented on #2069
@whedon assign @alletsee as reviewer

[2020-03-16 11:34] whedon commented on #2069
OK, @alletsee is now a reviewer

[2020-03-16 11:35] marcosvital commented on #2069
@whedon add @andybega as reviewer

[2020-03-16 11:35] whedon commented on #2069
OK, @andybega is now a reviewer

[2020-03-16 11:35] marcosvital commented on #2069
@whedon start review

[2020-03-16 11:35] whedon opened #2164 "[REVIEW]: BayesMFSurv: An R Package to Estimate Bayesian Split-Population Survival Models With (and Without) Misclassified Failure Events"
**Submitting author:** @Nicolas-Schmidt (<a href="http://orcid.org/0000-0001-5083-5792">Nicolás Schmidt</a>)
**Repository:** <a href="https://github.com/Nicolas-Schmidt/BayesMFSurv" target ="_blank">https://github.com/Nicolas-Schmidt/BayesMFSurv</a>
**Version:** v0.2.0
**Editor:** @marcosvital
**Reviewer:** @alletsee, @andybega
**Archive:** <a href="https://doi.org/10.5281/zenodo.3746286" target="

[2020-03-16 11:35] whedon commented on #2069
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2164.

[2020-03-16 11:35] #2069 closed

[2020-03-16 11:35] whedon commented on #2164
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alletsee, @andybega it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2020-03-16 11:36] whedon commented on #2164
[code]

[2020-03-16 11:36] whedon commented on #2164
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02164/joss.02164/10.21105.joss.02164.pdf)

[2020-03-16 11:44] marcosvital commented on #2164
Dear @alletsee and @andybega, thank you very much for accepting review this submission for JOSS.
Even if you are not starting the review right now, please accept the invite, as it has an expiration date (there is a link under **Reviewer instructions & questions** and you should also get an email notification). Furthermore, please check the instructions and checklists above, and let me know if you

[2020-03-16 11:47] marcosvital commented on #1941
Everything looks fine, so we can move on to acceptance! Let's make a final check on references and proof.

[2020-03-16 11:47] marcosvital commented on #1941
@whedon check references

[2020-03-16 11:48] whedon commented on #1941
[code]

[2020-03-16 11:48] marcosvital commented on #1941
@cddesja , there is a final invalid DOI. Can you check and correct it?

[2020-03-16 11:56] melissawm commented on #1865
Hello @shirubana I'm so sorry we haven't been able to find a third reviewer, but I'll keep looking.

[2020-03-16 12:00] melissawm commented on #1865
@usethedata would you be willing to review this software paper for JOSS? At this time, we understand the disruptions caused by the COVID-19 pandemic so if you are willing to do it (even if it takes more time than usual) we would greatly appreciate it if you could mention it here. Thanks!

[2020-03-16 12:56] aureliocarnero commented on #2101
Hello @noraeisner so I tested the script example_parallelized_code.py and even though I have MPI installed, I do not have more than 1 core, therefore it enters into the serial part of the code. Here, I have this error. Could you please help me?

Traceback (most recent call last):
  File "example_parallelized_code.py", line 250, in <module>
    transit_list = ast.literal_eval(((df.loc[df['TIC_ID']

[2020-03-16 13:11] drvinceknight commented on #2072
No @markgalassi that's it! Thank you for your work, it's appreciated.

[2020-03-16 13:32] okanbulut commented on #1941
@cddesja @marcosvital , the invalid DOI has been fixed now. Thanks!

[2020-03-16 13:47] usethedata commented on #1865
Give me a couple of days to get through the chaos.  I'm a line manager, and I'm in the midst of getting my group configured for 100% remote work.  But I should be able to start on this by the end of the week.

[2020-03-16 13:47] cddesja commented on #1941
Can I look at the final proof just to make it looks okay? Thanks for fixing the DOI, Okan.
Chris

[2020-03-16 14:18] marcosvital commented on #1941
@whedon check references

[2020-03-16 14:18] whedon commented on #1941
[code]

[2020-03-16 14:20] marcosvital commented on #1941
Thank you for correcting it, @okanbulut , everything seems fine!

@cddesja , I'll generate another proof.

[2020-03-16 14:21] marcosvital commented on #1941
@whedon generate pdf

[2020-03-16 14:21] whedon commented on #1941
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01941/joss.01941/10.21105.joss.01941.pdf)

[2020-03-16 14:49] cddesja commented on #1941
Okay, I changed profileR to ``profileR`` and uploaded the new paper.md.
Everything else looks good to me.

On Mon, Mar 16, 2020 at 10:22 AM whedon <notifications@github.com> wrote:

[2020-03-16 15:27] thesketh commented on #2157
@whedon generate pdf

Thank you both for your comments! I'm aware of the attempts to get OpenMM onto conda-forge, but I use OpenMM quite extensively in my research so I'm following this as well.

@amandadumi I've addressed this now in the installation instructions (and fixed the issue you opened about the RDKit installation instructions), but sadly I don't think there's an easy way to get around u

[2020-03-16 15:28] whedon commented on #2157
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02157/joss.02157/10.21105.joss.02157.pdf)

[2020-03-16 15:30] kbarnhart commented on #2043
@whedon generate pdf

[2020-03-16 15:30] thesketh commented on #2157
It would help if I'd pushed the changes to the flowchart.

@whedon generate pdf

[2020-03-16 15:31] kbarnhart commented on #2043
@whedon check references

[2020-03-16 15:31] whedon commented on #2043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02043/joss.02043/10.21105.joss.02043.pdf)

[2020-03-16 15:31] whedon commented on #2043
[code]

[2020-03-16 15:38] kbarnhart commented on #2043
@anowacki I only have a couple of comments. They are meant to improve readability and accessibility for a non-specialist audience.

- [ ] In paragraph 2: Define abbreviations: I think this only means writing out PREM as Preliminary Reference Earth Model. If you are aware of better written out names of the other Earth models, I'd recommend using them, but I suspect they will stay as AK135 and iasp9

[2020-03-16 16:40] wdduncan commented on #2140
Other people you might consider:

Jim Balhoff - balhoff
James Overton - jamesaoverton
Alan Ruttenberg - alanruttenberg

[2020-03-16 16:45] melissawm commented on #1865
@usethedata thank you so much, I'll assign you as a reviewer but feel free to start your review when you are ready (as per the message above by Arfon, JOSS is currently working on a "best effort basis").

[2020-03-16 16:46] melissawm commented on #1865
@whedon add @usethedata as reviewer

[2020-03-16 16:46] whedon commented on #1865
OK, @usethedata is now a reviewer

[2020-03-16 16:47] anowacki commented on #2043
@whedon generate pdf from branch joss-review

[2020-03-16 16:47] whedon commented on #2043
[code]

[2020-03-16 16:48] whedon commented on #2043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02043/joss.02043/10.21105.joss.02043.pdf)

[2020-03-16 17:35] jessicaaustin commented on #2063
@castelao

Yes, I agree that CoTeDe's model is flexible and I don't think you should change it. All I am saying is that many people will come into this with their data model already in xarray/pandas/netcdf/etc and having some example code to copy/paste to get them started quickly will be a huge help. Probably some unit tests too, to be safe. Basically, since those data models are widely used in th

[2020-03-16 18:15] castelao commented on #2063
@jessicaaustin , thanks for the fast response. Yes, my bad. The latest version of the documentation is on the dev branch:

https://cotede.readthedocs.io/en/dev/api.html

[2020-03-16 18:24] jessicaaustin commented on #2063
Ok great thanks. I'm going to check off the rest of the items on my checklist; at this point I think this is ready to accept.

[2020-03-16 19:19] rabdill commented on #2124
Hi! Working my way through the rest of the review now, thank you for your patience. I have a few minor notes, but I ran into something that might be a bigger issue, so I'll just post that until I can make more progress.

I'm not clear on whether this is a problem or not, but I noticed that the **inferred connections are not consistent between runs**. I realize the layout of the diagrams may change

[2020-03-16 19:51] rhagenson commented on #2124
@rabdill, I am investigating this right now one piece at a time (so expect follow-up messages).

On M2->F3 not appearing consistently: it appears what is happening is that when M2->F3 does not appear, F7->F3 appears. What I suspect is happening is that the quasi-random order of which edges are pruned is "deciding" whether M2->F3 or F7->F3 is "chosen" for the final plot. In the input that you are u

[2020-03-16 19:54] rhagenson commented on #2124
Loops, such as in iteration 2 should be removed already. That one is going to take some head work to solve as there is already a cycle removal step.

[2020-03-16 19:56] rhagenson commented on #2124
I think I know what I did here. The step did exist, but then at a later stage of development I removed it as the (mistakenly) thought the improved pruning covered it already so removed what was thought of as a unnecessary repetition of work.

[2020-03-16 20:35] rhagenson commented on #2124
On O4->O11: the direction switch is expected behavior. Without additional parentage or demographic information, a direction is chosen. In the input you use, although you provide parentage there is no way to infer the age of O4 and O11 to direct it the same way on every iteration. However, this relationship dropping out is strange. I will need to find a pattern to when it drops out to determine the

[2020-03-16 20:40] rhagenson commented on #2124
On the M1 and F8 disconnect, I suspect the same programmatic disconnect as M2->F3 or F7->F3 because M1->F8 is a codified entry of half-sibling. Ensuring any codified entries cannot be dropped (as I would expect from the program as a user) will fix this issue.

[2020-03-16 20:41] rhagenson commented on #2124
One the F2 to M2 disconnect. See the above comment on M1 and F8.

[2020-03-16 20:46] rhagenson commented on #2124
Overall, @rabdill, it seems you IDed some regressions in the program logic which predated effective testing for such regressions.

The two remedies that should fix all the ID problems are:

+ Fixing the loop-removal procedure to ensure no loops between different unknown/inferred individuals among known individuals
+ Specially mark any codified relationship and ensure those relationships cannot be

[2020-03-16 22:05] amandadumi commented on #2157
@thesketh and @Rmeli, this is clear now. I do not use openmm and was didn't realize the [openmm pypi project](https://pypi.org/project/openmm/) was simply for a user-friendly interface.

I was also able to go through the paper and had some general comments, many of mine echo what had previously been said, but I had a few specifics that applied to the most recent article proof. I don't think the ca

[2020-03-16 23:48] kthyng commented on #2039
Hi @scivision, the review is happening at: https://github.com/openjournals/joss-reviews/issues/2083

[2020-03-17 00:02] arfon commented on #2157
@whedon generate pdf

[2020-03-17 00:03] whedon commented on #2157
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02157/joss.02157/10.21105.joss.02157.pdf)

[2020-03-17 00:03] arfon commented on #2157
@amandadumi - the Whedon calls need to be in their own comment ☝️

[2020-03-17 01:20] mbobra commented on #2151
@whedon assign @bmcfee as reviewer

[2020-03-17 01:21] whedon commented on #2151
OK, @bmcfee is now a reviewer

[2020-03-17 01:32] majensen commented on #2140
@balhoff - would you have time and inclination to review [this software]() for [JOSS](https://joss.theoj.org)? Reviewing information is [available here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Let me know here or at maj.fortinbras@gmail.com if you have any questions. Thanks for considering! --@majensen

[2020-03-17 01:36] majensen commented on #2140
To all - JOSS is operating under a [very relaxed schedule](https://github.com/openjournals/joss-reviews/issues/2161#issuecomment-598980193) during these days of COVID-19. @sap218, @wdduncan , please just drop a note here if you need to pause the review process to attend to more pressing matters.

[2020-03-17 03:00] dotsdl commented on #2157
Hi @thesketh, here are my review notes. Great work on this submission; I believe this to be a good fit for JOSS. I am satisfied that much of the criteria for submission are met, and so the notes below focus heavily on items that I think should be addressed yet.

## High-level notes

1. Nice tool! I find the CHARMM forcefield tooling to be particularly difficult to work with, so this is a welcome a

[2020-03-17 04:35] bovee commented on #2163
I've done a preliminary review of the software and have some suggestions for improvement, but it appears GitHub issues are disabled on the repo (and there's no other documentation about how to make suggestions) so I'm unable to proceed.

[2020-03-17 07:58] platipodium commented on #2149
Dear @arfon, thanks for inviting me to review this paper.  I am also grounded at home, but I will be able to do the review.  I did find information on review criteria, checklist and guidelines https://joss.readthedocs.io/en/latest/reviewer_guidelines.html , but I did not find information on how to technically do the review through github.  Any hints for me?

[2020-03-17 09:28] anowacki commented on #2043
@kbarnhart I have archived v1.1.0 of SeisModels.jl at Figshare with doi 10.6084/m9.figshare.11993313.

[2020-03-17 10:25] arfon commented on #2149
Thanks for the response @platipodium. Yes, once I've identified reviewers for this submission I'll be setting up another issue on GitHub with a checklist for you to work through (see [this one as an example](https://github.com/openjournals/joss-reviews/issues/2073)).

As it might take a while to find a second reviewer I'll go ahead and do this now.

[2020-03-17 10:25] arfon commented on #2149
@whedon add @platipodium as reviewer

[2020-03-17 10:25] whedon commented on #2149
OK, @platipodium is now a reviewer

[2020-03-17 10:25] arfon commented on #2149
@whedon start review

[2020-03-17 10:25] whedon opened #2165 "[REVIEW]: Utopia: A Comprehensive and Collaborative Modeling Framework for Complex and Evolving Systems"
**Submitting author:** @peanutfun (<a href="http://orcid.org/0000-0002-4667-3652">Lukas Riedel</a>)
**Repository:** <a href="https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia" target ="_blank">https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia</a>
**Version:** latest
**Editor:** @arfon
**Reviewers:** @platipodium, @Shibabrat, @szhorvat
**Archive:** <a href="https://doi.org/10.5281/zenodo.40

[2020-03-17 10:25] whedon commented on #2149
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2165.

[2020-03-17 10:25] whedon commented on #2165
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @platipodium it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2020-03-17 10:26] arfon commented on #2149
@platipodium - see you over in #2165!

[2020-03-17 10:26] whedon commented on #2165
PDF failed to compile for issue #2165 with the following error:

 Can't find any papers to compile :-(

[2020-03-17 10:26] arfon commented on #2165
@whedon generate pdf from branch joss-paper

[2020-03-17 10:27] whedon commented on #2165
[code]

[2020-03-17 10:27] whedon commented on #2165
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02165/joss.02165/10.21105.joss.02165.pdf)

[2020-03-17 10:27] arfon commented on #2165
@platipodium - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-03-17 10:29] arfon commented on #2149
:wave: @Shibabrat @szhorvat - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-03-17 10:43] szhorvat commented on #2149
@arfon It is not entirely clear to me what this tool actually does, and who would want to use it, and therefore to judge at a glance if I have the expertise to review it. This could actually be considered as the first piece of feedback to the authors.

Can you give me a couple of days to take a more careful look before I commit? I would give my final response about whether I can do it by Thursday

[2020-03-17 10:46] arfon commented on #2149
Understood, thanks @szhorvat. I don't know if you managed to take a look at the paper yet ([this comment](https://github.com/openjournals/joss-reviews/issues/2149#issuecomment-596178906)) - this may help?

[2020-03-17 11:11] szhorvat commented on #2149
I am sorry, I forgot to look at the paper. I am still relatively new to JOSS, having done only half a review so far.

It looks like an interesting tool. I can do the review. It might take a bit longer than usual because of the situation.

I would still recommend listing [some example models that can be implemented](https://hermes.iup.uni-heidelberg.de/utopia_doc/latest/html/models/ContDisease.html

[2020-03-17 11:17] platipodium commented on #2149
@szhorvat  I have the same issue with first glance at the manuscript and code and help pages.  Purpose and added value are not easy to grasp.  It is a complex framework with lots of flexibility and they do provide examples.   I agree with @arfon that we should make this a first recommendation to @peanutfun in our review.

[2020-03-17 11:34] ljwolf commented on #1882
Thanks @arfon, I understand this is a challenging time for everyone. I believe the submission is complete; @leouieda's suggestions were the last ones remaining, and have been addressed.

[2020-03-17 11:35] thesketh commented on #2157
@whedon generate pdf

[2020-03-17 11:36] whedon commented on #2157
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02157/joss.02157/10.21105.joss.02157.pdf)

[2020-03-17 11:36] thesketh commented on #2157
@whedon generate pdf

[2020-03-17 11:37] whedon commented on #2157
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02157/joss.02157/10.21105.joss.02157.pdf)

[2020-03-17 11:37] arfon commented on #1882
@whedon accept

[2020-03-17 11:37] whedon commented on #1882
No archive DOI set. Exiting...

[2020-03-17 11:38] arfon commented on #1882
@ljwolf - I'm not sure of @leouieda's availability to handle the final steps here so...

At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

-

[2020-03-17 11:39] ljwolf commented on #1882
Will do. Thanks!

[2020-03-17 11:59] slumnitz commented on #1882
@ljwolf thanks for taking this on. I finally have a stable wifi connection again here in Italy. I will take this on tonight. Would you be able to review as soon as I made the PR's?

[2020-03-17 12:24] thesketh commented on #2157
Thank you both for your comments!

@amandadumi I think I've addressed most of these now. I haven't changed the sentence containing "the RDKit" as this is how the package is referred to in [its documentation.](https://www.rdkit.org/docs/GettingStartedInPython.html). I read it as "the Rational Discovery Kit" in my head.

Yes, in the past I've encountered similar behaviour from different 2D and 3D ch

[2020-03-17 13:37] samjsilva91 commented on #1918
Hello,

I apologize for the delay on getting to this review. COVID-19 here in Washington has been a bit hectic!
As I am going through the review process, I can’t actually get the checklist options to work. As in, when I click a check box, it doesn’t actually register a check.
Is there an issue on my end somewhere?

Best,
Sam

From: Jed Brown <notifications@github.com>
Reply-To: openjournals/joss-r

[2020-03-17 13:44] jedbrown commented on #1918
@whedon re-invite @samjsilva91 as reviewer

[2020-03-17 13:44] whedon commented on #1918
OK, the reviewer has been re-invited.

@samjsilva91 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-03-17 13:45] jedbrown commented on #1918
@samjsilva91 You should be able to click after accepting that invitation. :point_up_2:

[2020-03-17 13:48] samjsilva91 commented on #1918
Yep, it works!

Thanks,
Sam

From: Jed Brown <notifications@github.com>
Reply-To: openjournals/joss-reviews <reply@reply.github.com>
Date: Tuesday, March 17, 2020 at 6:46 AM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: "Silva, Sam J" <sam.silva@pnnl.gov>, Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: PyCHAM: CHemistry with Aerosol Mi

[2020-03-17 14:15] kbarnhart commented on #2043
@whedon set 10.6084/m9.figshare.11993313 as archive

[2020-03-17 14:15] whedon commented on #2043
OK. <a href="https://doi.org/10.6084/m9.figshare.11993313" target="_blank">10.6084/m9.figshare.11993313</a> is the archive.