[2021-07-16 21:37] arunmano121 commented on #3323
@mikldk - I have completed the review. In my opinion, the package RENT meets all the reviewer criteria. I was able to install, test and run some sample cases without any issues as described in the documentation. Well done authors - @annajenul and team. Let me know if anything else is needed from my side.

[2021-07-16 21:41] ArtVoro commented on #3325
thanks for the feedback. the repeated code on gmx.py was actually on my todo list but had low priority. however since its not much effort i can fix it over this weekend.

about the notebooks, i can take another look at it and add more comments/explanation as you suggested but I dont know when exactly. Im working on 2 papers right now and my schedule is already packed. due to the delays in reviews

[2021-07-17 00:37] npucino commented on #3462
Dear @kbarnhart , thanks for the time spent in reviewing my submission. I really appreciate your feedbacks and agree with the points you raised for the rejection. I will work on those points and resubmit as soon as I fixed it. Thanks again for this learning experience! Regards, Nick

[2021-07-17 04:49] gaurav commented on #3374
Hi @iimog! Thank you so much for the positive review. I think we've addressed all of the concerns you raised, except for your suggestion for rearranging the summary section a bit, which we're currently discussing and will fully address once all the reviews are complete (https://github.com/phyloref/jphyloref/pull/91). Please let us know if there's anything else that needs improving!

[2021-07-17 08:45] whedon commented on #3449
:wave: @da5nsy, please update us on how your review is going (this is an automated reminder).

[2021-07-17 08:45] whedon commented on #3449
:wave: @spitschan, please update us on how your review is going (this is an automated reminder).

[2021-07-17 08:45] whedon commented on #3449
:wave: @takuma929, please update us on how your review is going (this is an automated reminder).

[2021-07-17 10:26] jbytecode commented on #3430
@whedon generate pdf

Dear reviewer @brunaw,

Firstly, thank you for your valuable comments. Thanks to your suggestions, the new version of the package is now better. Please let me know if some of the listed issues are not complete or if I unluckily misunderstood something. Here is a list of my changes:

- [X] The summary section is refactored.

- [X] State of the field is divided into an Introduc

[2021-07-17 10:26] whedon commented on #3430
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: :point_left:

[2021-07-17 10:44] tomgrylls commented on #3055
@Kevin-Mattheus-Moerman thanks for making these next steps so clear. I have now done all of the above. @dmey thanks for your help!

The release is v1.0.0. I have created the DOI: 10.5281/zenodo.5111497. As seen at this [link](https://zenodo.org/record/5111497#.YPKzmGZKjlw)

Please let me know if there is anything more that we need to do.

[2021-07-17 11:22] hechth commented on #3471
Sorry for letting you wait, I started with the review process today, I'll see how far I get. I will be finished by 02.08. though for sure, so there are no problems with letting things rest during your vacation.

[2021-07-17 13:20] iimog commented on #3374
My pleasure. I can confirm that beside the textual changes I have no remaining concerns.

[2021-07-17 14:15] kbarnhart commented on #3462
@npucino I'm glad to here this feedback was helpful. I look forward to seeing this resubmitted.

[2021-07-17 14:33] maximtrp commented on #3323
@mikldk I will finish the review in a couple of days.

[2021-07-17 15:03] ArtVoro commented on #3325
i fixed the repeated code by calling help functions now.

[2021-07-17 16:01] arfon commented on #3098
@whedon accept deposit=true

[2021-07-17 16:01] whedon commented on #3098
[code]

[2021-07-17 16:02] whedon commented on #3098
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1416428021196668933) 👈 🐦🐦🐦

[2021-07-17 16:02] whedon commented on #3098
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2453
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03098](https://doi.org/10.21105/joss.03098)
2. If everything look

[2021-07-17 16:04] whedon opened #3505 "[PRE REVIEW]: BFClust: a python package for pangenome clustering with confidence scores"
**Submitting author:** @dsurujon (<a href="http://orcid.org/0000-0001-7964-3057">Defne Surujon</a>)
**Repository:** <a href="https://github.com/dsurujon/BFClust-python" target ="_blank">https://github.com/dsurujon/BFClust-python</a>
**Version:** 0.1.26
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-07-17 16:04] whedon commented on #3505
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-17 16:04] whedon opened #3506 "[PRE REVIEW]: CleanX: A Python library for data cleaning of large sets of radiology images"
**Submitting author:** @drcandacemakedamoore  (<a href="http://orcid.org/0000-0003-1672-7565">Candace Makeda Moore</a>)
**Repository:** <a href="https://github.com/drcandacemakedamoore/cleanX" target ="_blank">https://github.com/drcandacemakedamoore/cleanX</a>
**Version:** v0.1.7
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warn

[2021-07-17 16:04] whedon commented on #3506
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-17 16:04] whedon commented on #3505
[code]

[2021-07-17 16:04] whedon commented on #3505
[code]

[2021-07-17 16:04] whedon opened #3507 "[PRE REVIEW]: pyCSEP: A Python Package For Earthquake Forecast Developers"
**Submitting author:** @wsavran (<a href="http://orcid.org/0000-0001-5404-0778">William Savran</a>)
**Repository:** <a href="https://github.com/SCECcode/pycsep" target ="_blank">https://github.com/SCECcode/pycsep</a>
**Version:** v0.4.1
**Editor:** @kbarnhart
**Reviewers:** @nvanderelst
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-07-17 16:04] whedon commented on #3507
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-17 16:04] whedon commented on #3506
[code]

[2021-07-17 16:04] whedon commented on #3506
[code]

[2021-07-17 16:04] whedon commented on #3506
PDF failed to compile for issue #3506 with the following error:
[code]

[2021-07-17 16:05] whedon commented on #3505
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03505/joss.03505/10.21105.joss.03505.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03505/joss.03505/10.21105.joss.03505.pdf) :page_facing_up: :point_left:

[2021-07-17 16:05] whedon commented on #3507
[code]

[2021-07-17 16:05] whedon commented on #3507
PDF failed to compile for issue #3507 with the following error:
[code]

[2021-07-17 16:05] danielskatz commented on #3505
👋 @dsurujon - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2021-07-17 16:05] danielskatz commented on #3505
@whedon query scope

[2021-07-17 16:05] whedon commented on #3505
Submission flagged for editorial review.

[2021-07-17 16:07] danielskatz commented on #3506
👋 @drcandacemakedamoore - note that your paper doesn't compile, but the error message indicates the likely problem.  Please feel free to make changes to your .md file, then use the command `@whedon generate pdf` to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2021-07-17 16:08] danielskatz commented on #3507
@whedon generate pdf from branch pycsep_Joss

[2021-07-17 16:08] whedon commented on #3507
[code]

[2021-07-17 16:08] whedon commented on #3507
PDF failed to compile for issue #3507 with the following error:
[code]

[2021-07-17 16:08] danielskatz commented on #3507
@whedon generate pdf from branch pycsep_joss

[2021-07-17 16:08] whedon commented on #3507
[code]

[2021-07-17 16:08] whedon commented on #3507
PDF failed to compile for issue #3507 with the following error:
[code]

[2021-07-17 16:08] danielskatz commented on #3507
@whedon check references from branch pycsep_joss

[2021-07-17 16:09] whedon commented on #3507
[code]

[2021-07-17 16:09] whedon commented on #3507
[code]

[2021-07-17 16:11] danielskatz commented on #3507
👋 @wsavran - your paper doesn't compile- please make the headers match those in the [example](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).  Also, you might be able to fix the possibly missing DOI that whedon suggests, but note that this may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references from

[2021-07-17 16:16] arfon commented on #3098
@wolfv, @evetion – many thanks for your reviews here and to @jni for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@vyasr – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-07-17 16:16] #3098 closed

[2021-07-17 16:16] whedon commented on #3098
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03098/status.svg)](https://doi.org/10.21105/joss.03098)

**We need your help!**

Journal of Open Source Softwa

[2021-07-17 16:24] dsurujon commented on #3505
@danielskatz thanks for the heads up, looking forward to hearing back

[2021-07-17 16:35] arfon commented on #3257
@whedon accept deposit=true

[2021-07-17 16:35] whedon commented on #3257
[code]

[2021-07-17 16:36] arfon commented on #3395
@whedon recommend-accept

[2021-07-17 16:36] whedon commented on #3395
[code]

[2021-07-17 16:36] whedon commented on #3395
[code]

[2021-07-17 16:36] whedon commented on #3257
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1416436682052755458) 👈 🐦🐦🐦

[2021-07-17 16:36] whedon commented on #3257
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2454
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03257](https://doi.org/10.21105/joss.03257)
2. If everything look

[2021-07-17 16:36] whedon commented on #3395
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2455

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2455, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-17 16:40] arfon commented on #3257
@HeloiseS, @warrickball – many thanks for your reviews here and to @xuanxu for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@grburgess  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-07-17 16:40] #3257 closed

[2021-07-17 16:40] whedon commented on #3257
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03257/status.svg)](https://doi.org/10.21105/joss.03257)

**We need your help!**

Journal of Open Source Softwa

[2021-07-17 16:41] arfon commented on #3395
@whedon accept deposit=true

[2021-07-17 16:41] whedon commented on #3395
[code]

[2021-07-17 16:42] whedon commented on #3395
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1416438126755651585) 👈 🐦🐦🐦

[2021-07-17 16:42] whedon commented on #3395
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2456
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03395](https://doi.org/10.21105/joss.03395)
2. If everything look

[2021-07-17 16:45] arfon commented on #3395
@crhea93, @szkafander – many thanks for your reviews here and to @vissarion for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@nandaloo – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-07-17 16:45] #3395 closed

[2021-07-17 16:45] whedon commented on #3395
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03395/status.svg)](https://doi.org/10.21105/joss.03395)

**We need your help!**

Journal of Open Source Softwa

[2021-07-17 17:07] grburgess commented on #3257
Thanks a lot for the fun discussions @HeloiseS and @warrickball !

[2021-07-17 19:19] arfon commented on #3437
@pratheesh3780 – could you merge this last PR which has a few more minor changes for readability: https://github.com/pratheesh3780/grapesAgri1/pull/8

[2021-07-17 19:20] arfon commented on #3202
Friendly reminder to get to make these changes @justinshenk.

[2021-07-17 19:28] arfon commented on #3293
I'm going to jump in here to help @meg-simula who is on vacation for the next few weeks.

@turbach – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make s

[2021-07-17 20:50] milicag commented on #3203
@Eugenio2192 I can't find where you've addressed my suggested installation instructions from this issue thread: https://gitlab.com/dlr-ve/autumn/-/issues/2. That would be very practical and is usually required by JOSS. In my experience the users really like to have a set of commands they can just copy over and run, without knowing a whole lot about the packages themselves. If you send people to ea

[2021-07-17 21:44] justinshenk commented on #3202
@whedon pdf generate

@Kevin-Mattheus-Moerman @arfon thanks for your review and reminder. The requested edits to the ZENODO title and image text have been made. Looking forward to your further review.

[2021-07-17 21:44] whedon commented on #3202
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-17 21:45] justinshenk commented on #3202
@whedon generate pdf

[2021-07-17 21:45] whedon commented on #3202
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: :point_left:

[2021-07-17 21:52] dfm commented on #3402
@landreman: Just a quick update that I'm still working on recruiting reviewers and I'll keep you posted as I find them. Thanks for your patience!

[2021-07-17 21:57] dfm commented on #3199
@MilesCranmer, @kburns, @pikarpov-LANL: I wanted to check in here to see where we stand. It looks to me like we're currently waiting on @MilesCranmer and @kburns to take a look at @pikarpov-LANL's responses on the review issues (https://github.com/pikarpov-LANL/Sapsan/issues/99, https://github.com/pikarpov-LANL/Sapsan/issues/100). Is that correct and, if so, @MilesCranmer, @kburns can you make sur

[2021-07-17 22:33] pikarpov-LANL commented on #3199
@dfm indeed! I have responded to the comments and have fixed up all the noted issues in the code.

[2021-07-17 22:40] Kevin-Mattheus-Moerman commented on #3202
@arfon all looks good now.

[2021-07-18 06:31] drcandacemakedamoore commented on #3506
Actually, we just discovered some major problems with the build we want to fix instead of making installation instructions that are too different from the typical. I will withdraw and re-submit.

[2021-07-18 07:07] arfon commented on #3202
@whedon recommend-accept

[2021-07-18 07:08] whedon commented on #3202
[code]

[2021-07-18 07:08] whedon commented on #3202
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2457

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2457, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-18 07:08] whedon commented on #3202
[code]

[2021-07-18 07:09] arfon commented on #3202
@whedon accept deposit=true

[2021-07-18 07:09] whedon commented on #3202
[code]

[2021-07-18 07:10] whedon commented on #3202
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1416656548567334913) 👈 🐦🐦🐦

[2021-07-18 07:10] whedon commented on #3202
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2458
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03202](https://doi.org/10.21105/joss.03202)
2. If everything look

[2021-07-18 07:23] pratheesh3780 commented on #3437
@arfon  changes were merged! Thank You!

[2021-07-18 07:23] pratheesh3780 commented on #3437
@whedon generate pdf

[2021-07-18 07:23] whedon commented on #3437
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03437/joss.03437/10.21105.joss.03437.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03437/joss.03437/10.21105.joss.03437.pdf) :page_facing_up: :point_left:

[2021-07-18 07:33] arfon commented on #3437
@whedon recommend-accept

[2021-07-18 07:33] whedon commented on #3437
[code]

[2021-07-18 07:33] whedon commented on #3437
[code]

[2021-07-18 07:33] whedon commented on #3437
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2459

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2459, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-18 07:46] arfon commented on #3202
@a-paxton, @AbigailMcGovern – many thanks for your reviews here and to @jni for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@justinshenk – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-07-18 07:46] #3202 closed

[2021-07-18 07:46] whedon commented on #3202
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03202/status.svg)](https://doi.org/10.21105/joss.03202)

**We need your help!**

Journal of Open Source Softwa

[2021-07-18 07:53] arfon commented on #3437
@whedon accept deposit=true

[2021-07-18 07:53] whedon commented on #3437
[code]

[2021-07-18 07:53] whedon commented on #3437
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1416667538801545216) 👈 🐦🐦🐦

[2021-07-18 07:53] whedon commented on #3437
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2460
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03437](https://doi.org/10.21105/joss.03437)
2. If everything look

[2021-07-18 07:59] arfon commented on #3437
@adithirgis, @elimillera – many thanks for your reviews here and to @fabian-s for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@pratheesh3780  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-07-18 07:59] #3437 closed

[2021-07-18 07:59] whedon commented on #3437
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03437/status.svg)](https://doi.org/10.21105/joss.03437)

**We need your help!**

Journal of Open Source Softwa

[2021-07-18 08:02] arfon commented on #3437
Also, congrats to @fabian-s on editing his first paper for JOSS 🥳

[2021-07-18 08:16] arfon commented on #3503
@whedon invite @jni as editor

:wave: @jni – would you be able to edit this submission for us?

[2021-07-18 08:16] whedon commented on #3503
@jni has been invited to edit this submission.

[2021-07-18 08:23] maximtrp opened #3508 "A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is?"

[2021-07-18 08:23] whedon commented on #3508
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-18 08:23] whedon commented on #3508
Downloading of the repository (to analyze the language) for issue #3508 failed with the following error:
[code]

[2021-07-18 08:23] whedon commented on #3508
Downloading of the repository (to check the bibtex) failed for issue #3508 failed with the following error:
[code]

[2021-07-18 08:23] whedon commented on #3508
PDF failed to compile for issue #3508 with the following error:
[code]

[2021-07-18 08:23] #3508 closed

[2021-07-18 10:01] derrynknife commented on #3484
Thanks again @MatthewReid854

- Typo fixed
- line 49 changed
- type fixed
- Fixed
- made to be two sentences.
- changed to True

[2021-07-18 10:02] derrynknife commented on #3484
@MatthewReid854, would me sharing the jupyter notebook with all the documentation examples be helpful?

[2021-07-18 10:03] derrynknife commented on #3484
@whedon generate pdf

[2021-07-18 10:04] whedon commented on #3484
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03484/joss.03484/10.21105.joss.03484.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03484/joss.03484/10.21105.joss.03484.pdf) :page_facing_up: :point_left:

[2021-07-18 11:39] justinshenk commented on #3202
Thanks everyone for your contributions to Open Science and this paper. 🙏

[2021-07-18 12:18] mikldk commented on #3438
@kthyng Thanks. I have now fixed these in https://github.com/r-cas/caracas/commit/53ff25db23928a3de035b817c1b1f94b1f99a4a8 . As this is only in the paper I am not sure if I should make a new Zenodo release or just keep the "old" one (with reviewed software, but out-of-sync paper source)?

[2021-07-18 12:34] xp-song commented on #3486
Hi @kthyng, thank you for looking into our work. I've fixed this in commit [06f7047](https://github.com/ecological-cities/home2park/commit/06f70477262169855daa371c552f10057e5559a7)

[2021-07-18 13:02] mikldk commented on #3323
Thanks, @arunmano121.

@maximtrp: Thanks. Let me know if you have any questions.

[2021-07-18 13:03] mikldk commented on #3324
@jakryd - thanks for completing the checklist.

@ejhigson - thanks for the update :+1:.

[2021-07-18 13:04] mikldk commented on #3377
@seabbs, @strengejacke: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-07-18 13:10] xp-song commented on #3486
Here are several reviewer suggestions based on the provided list:

- Jeffrey Hollister ([jhollist](https://github.com/jhollist)) - work on spatial ecology and environmental sciences, and experience in GIS and spatial statistics in R.
- Bryce Mecum ([amoeba](https://github.com/amoeba)) - experience in spatial data manipulation in R.
- Daniel Nüst ([nuest](https://github.com/nuest)) - experience in

[2021-07-18 14:18] ejhigson commented on #3324
Hi @ulf1 - congratulations on a nice software package! Everything ran with no issues for me. I only have a couple of very minor comments on the paper:

1) One of the criteria is to state "how this software compares to other commonly-used packages" - please can you comment on this? If you don't know of any other best-worst sampling packages then just stating that is fine I think.

2) I saw a few sm

[2021-07-18 14:46] whedon commented on #3452
:wave: @ChristopherLucas, please update us on how your review is going (this is an automated reminder).

[2021-07-18 14:46] whedon commented on #3452
:wave: @mwt, please update us on how your review is going (this is an automated reminder).

[2021-07-18 14:50] kellertuer commented on #3454
I wrote a few points to review [here](https://github.com/ranocha/SummationByPartsOperators.jl/issues/108) which we surely can also discuss there and I will check the remaining points atop as soon as they are done.

[2021-07-18 15:12] whedon commented on #3453
:wave: @mwt, please update us on how your review is going (this is an automated reminder).

[2021-07-18 15:12] whedon commented on #3453
:wave: @OwenWard, please update us on how your review is going (this is an automated reminder).

[2021-07-18 15:12] RodDalBen commented on #3449
Hi @da5nsy,
Following your review, I added the following in the new version of the manuscript:
- a new "Summary" section;
- the former "Summary" was renamed to "Statement of need";
- a citation of [RGBShine](https://github.com/Ruedeerat/RGBshine);
- fixed typos;
- accepted word changes;
- fixed tutorial pointing to the right subfolder `SHINE_color/toolbox`.
**Thank you** for the careful review!

[2021-07-18 15:51] mwt commented on #3452
Hi @ph-rast,

I ran the unit tests provided and there were many successful tests. However, I got an error when it reached the `pdBEKKMGARCH` model. I got the same error when trying to run Example 1 from the docs (which uses this model). The example I'm referring to is:

[code]

My return from this is

[code]

This is on Windows in R 4.1.0 using the latest CRAN (not development) version. Please let

[2021-07-18 15:53] mwt opened #3509 "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

[2021-07-18 15:53] whedon commented on #3509
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-18 15:53] whedon commented on #3509
Downloading of the repository (to check the bibtex) failed for issue #3509 failed with the following error:
[code]

[2021-07-18 15:53] whedon commented on #3509
Downloading of the repository (to analyze the language) for issue #3509 failed with the following error:
[code]

[2021-07-18 15:53] whedon commented on #3509
PDF failed to compile for issue #3509 with the following error:
[code]

[2021-07-18 15:53] danielskatz commented on #3506
ok, thanks

[2021-07-18 15:54] danielskatz commented on #3506
@whedon withdraw

[2021-07-18 15:54] whedon commented on #3506
Paper withdrawn.

[2021-07-18 15:54] #3506 closed

[2021-07-18 15:54] danielskatz commented on #3438
You can choose - we don't require the paper source be in the repo at all, so either way is ok.

[2021-07-18 15:56] danielskatz commented on #3509
@mwt - you need to manually open an issue in the repository for the software.  The github feature you used doesn't work with JOSS, because it opens an issue in the wrong place, and the issue doesn't tell the author anything useful about the problem

[2021-07-18 15:56] #3509 closed

[2021-07-18 16:26] mwt commented on #3453
@osorensen @pfistfl it looks all clear to me. There are automated tests which all pass and there are vignettes which compile and seem to be doing what they're supposed to.

[2021-07-18 16:47] galessiorob commented on #3322
@whedon set v0.1.1 as version

[2021-07-18 16:47] whedon commented on #3322
OK. v0.1.1 is the version.

[2021-07-18 16:50] galessiorob commented on #3322
@hknd23 last thing we need from you is to deposit your software in Zenodo and post the DOI here. After that, we can set the final version, generate a final proof, and have an Editor in Chief do the publishing. 🚀

[2021-07-18 17:11] jbytecode commented on #3468
Hi @myousefi2016, @ranocha, @mvaldes 👋👋👋

Would you be willing to assist in reviewing this submission for JOSS (Journal of Open Source Software) ?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "NoisySignalIntegration.jl: A Julia package for uncertainty evaluation of numeric integrals". You can find more information at the top of this

[2021-07-18 17:20] da5nsy commented on #3449
We're only just getting started! 😉

I've realised I need to read the original Willenbockel+ paper before I can comment further, but I'll come back to this once I've done so.

[2021-07-18 17:21] da5nsy commented on #3449
@whedon generate pdf

[2021-07-18 17:21] whedon commented on #3449
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03449/joss.03449/10.21105.joss.03449.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03449/joss.03449/10.21105.joss.03449.pdf) :page_facing_up: :point_left:

[2021-07-18 17:27] ahurriyetoglu commented on #3448
@koaning Thanks for this cool software. I am interested and have worked on combining rules and machine learning. I started the review by reading the paper from the PDF I found in this thread, generated 6 days ago. My points:

1- The English should be improved. Some examples:
"There’s" -> "There is" There are many cases like this.
python -> Python
"also host a" -> also hosts
"(Kluyver et al. (2016)

[2021-07-18 17:43] hknd23 commented on #3322
Hi @galessiorob. We have uploaded the package to Zenodo and updated the metadata there. Here is the DOI:
10.5281/zenodo.5112352
Please let us know if there is anything else you need.

[2021-07-18 19:04] emdupre commented on #3421
Hi @Lestropie @mfroeling @grlee77 @jdtournier @matteomancini :wave:

Would you be willing to review _Madym: A C++ toolkit for quantitative DCE-MRI analysis_  for [JOSS (the Journal of Open Source Software)](https://github.com/openjournals/joss-reviews/issues/joss.theoj.org/) ?

The [review](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on GitHub and focuses on [the so

[2021-07-18 21:22] ulf1 commented on #3324
@ejhigson
1. No, I don't know comparable software packages. See also the comment above https://github.com/openjournals/joss-reviews/issues/3324#issuecomment-869620104
2. Thank you for spotting the typos.

[2021-07-18 21:28] danielskatz commented on #3486
@whedon generate pdf

[2021-07-18 21:29] whedon commented on #3486
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03486/joss.03486/10.21105.joss.03486.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03486/joss.03486/10.21105.joss.03486.pdf) :page_facing_up: :point_left:

[2021-07-18 21:32] danielskatz commented on #3486
@xp-song - I'm unsure if this is limited to use in Singapore - can you explain if this is correct or not?

[2021-07-18 22:48] wsavran commented on #3507
@whedon check references from branch pycsep_joss/paper

[2021-07-18 22:49] whedon commented on #3507
[code]

[2021-07-18 23:20] wsavran commented on #3507
@whedon generate pdf from branch pycsep_joss/paper

[2021-07-18 23:20] whedon commented on #3507
[code]

[2021-07-18 23:21] whedon commented on #3507
PDF failed to compile for issue #3507 with the following error:
[code]

[2021-07-18 23:23] wsavran commented on #3507
@whedon generate pdf from branch pycsep_joss

[2021-07-18 23:23] whedon commented on #3507
[code]

[2021-07-18 23:23] whedon commented on #3507
PDF failed to compile for issue #3507 with the following error:
[code]

[2021-07-18 23:28] danielskatz commented on #3507
You can try to merge https://github.com/SCECcode/pycsep/pull/129 and see if that works - if not, the problem is likely the @ in the email address, which perhaps needs to be protected/quoted in some way.  Perhaps @arfon will know the answer

[2021-07-18 23:30] wsavran commented on #3507
@whedon generate pdf from branch pycsep_joss

[2021-07-18 23:30] whedon commented on #3507
[code]

[2021-07-18 23:30] whedon commented on #3507
PDF failed to compile for issue #3507 with the following error:
[code]

[2021-07-18 23:31] xp-song commented on #3486
@danielskatz The package can be used anywhere (user provided data), and functions are included to download/process OSM data. So out of the box, it may be used anywhere where OSM is available. The example provided is for the city of Singapore

[2021-07-19 00:09] wsavran commented on #3507
@whedon generate pdf from branch pycsep_joss

[2021-07-19 00:09] whedon commented on #3507
[code]

[2021-07-19 00:09] whedon commented on #3507
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03507/joss.03507/10.21105.joss.03507.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03507/joss.03507/10.21105.joss.03507.pdf) :page_facing_up: :point_left:

[2021-07-19 00:31] jni commented on #3503
@arfon no rest for the wicked ey? 😂 I apologise, I must decline, as I am trying to close some loops before going on leave next month. 🙏 (The editor dashboard was down for me yesterday but I've made a note there now.)

[2021-07-19 01:02] salterg opened #3510 "I confirm that I have read the JOSS conflict of interest (COI) policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review."

[2021-07-19 01:02] whedon commented on #3510
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-19 01:02] whedon commented on #3510
Downloading of the repository (to analyze the language) for issue #3510 failed with the following error:
[code]

[2021-07-19 01:02] whedon commented on #3510
Downloading of the repository (to check the bibtex) failed for issue #3510 failed with the following error:
[code]

[2021-07-19 01:02] whedon commented on #3510
PDF failed to compile for issue #3510 with the following error:
[code]

[2021-07-19 01:20] danielskatz commented on #3510
@salterg - you have to manually open issues in the source code repository. The GitHub feature you used opens issues in the wrong place and without any specific information for the author

[2021-07-19 01:21] #3510 closed

[2021-07-19 01:53] diehlpk commented on #3311
Hi @zbeekman how is your review going?

[2021-07-19 01:53] diehlpk commented on #3274
@clavigne can you please look at the reviewer's comments?

[2021-07-19 03:45] zbeekman commented on #3311
Sorry for holding this up, I didn’t intend to become the dreaded “reviewer 3” 😱 but work and life have placed some unexpected demands on my time these past few weeks. This is a great project and paper and I do want to get this wrapped up ASAP so it can get published. I need to re-read the paper in light of the discussion/comments on the project repository issue I opened—I may have one or two follo

[2021-07-19 05:22] turbach commented on #3293
Hi @arfon, thanks much for stepping in.

Our software source is on [github.com/kutaslab/fitgrid](https://github.com/kutaslab/fitgrid) and we tag and release [stable versions](https://github.com/kutaslab/fitgrid/releases), most recently v0.5.1 and v0.5.2.

The changes from the JOSS reviews were already included in fitgrid v0.5.1 released on July 8. As luck would have it, on July 9 mamba 0.15.0 was

[2021-07-19 05:29] VBlesius commented on #3409
Hi @bmcfee !

Thanks a lot!

Right, thank you for the hint! I have added a licence file to the repo.

[2021-07-19 05:32] koaning commented on #3448
1. Fair! I just ran Grammarly over it. The `(Kluyver et al., 2016)` example is generated by bibtex though.
2. The dependencies are listed in the `setup.py` file.
3-4. Added the code for the function classifiers, this should give a proper overview of what the library is about. Also added the example for the fraud case.
5. I guess I could mention that project. The goal of this project isn't to be st

[2021-07-19 05:33] koaning commented on #3448
@whedon generate pdf

[2021-07-19 05:33] whedon commented on #3448
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: :point_left:

[2021-07-19 05:54] koaning commented on #3448
Made a few minor edits.

@whedon generate pdf

[2021-07-19 06:06] arfon commented on #3293
@whedon set v0.5.2 as version

[2021-07-19 06:07] whedon commented on #3293
OK. v0.5.2 is the version.

[2021-07-19 06:07] arfon commented on #3293
@whedon set 10.5281/zenodo.3581496 as archive

[2021-07-19 06:07] whedon commented on #3293
OK. <a href="https://doi.org/10.5281/zenodo.3581496" target="_blank">10.5281/zenodo.3581496</a> is the archive.

[2021-07-19 06:08] arfon commented on #3293
@whedon recommend-accept from branch joss-paper

[2021-07-19 06:08] whedon commented on #3293
[code]

[2021-07-19 06:08] whedon commented on #3293
[code]

[2021-07-19 06:08] whedon commented on #3293
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2461

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2461, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-19 06:12] arfon commented on #3293
@whedon accept deposit=true from branch joss-paper

[2021-07-19 06:12] whedon commented on #3293
[code]

[2021-07-19 06:13] whedon commented on #3293
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1417004675988131840) 👈 🐦🐦🐦

[2021-07-19 06:13] whedon commented on #3293
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2462
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03293](https://doi.org/10.21105/joss.03293)
2. If everything look

[2021-07-19 06:16] arfon commented on #3293
@AJQuinn, @sappelhoff  – many thanks for your reviews here and to @meg-simula for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@turbach – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-07-19 06:16] #3293 closed

[2021-07-19 06:16] whedon commented on #3293
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03293/status.svg)](https://doi.org/10.21105/joss.03293)

**We need your help!**

Journal of Open Source Softwa

[2021-07-19 06:18] ibarraespinosa commented on #3435
Hello  @ajstewartlang, I have already reviewed the paper by @adithirgis. It consists in a software to analyze air pollution measurements with different databases. **pollucheck** analyze different type of data-sets. I have been working with air pollution since 14 years ago in many countries and I`m sure this software will be used in many countries. Thanks for the invitation to review this paper and

[2021-07-19 06:31] faroit commented on #3434
@lutzhamel thanks for your review and your time

[2021-07-19 06:32] adithirgis commented on #3435
Thank you so much @ibarraespinosa , we have addressed the OpenAQ issue, please let us know if you still face same issue.

[2021-07-19 06:45] osorensen commented on #3453
Thanks for conducting the review, @mwt!

[2021-07-19 07:02] CFGrote commented on #2976
Hi there, just coming back from vacation, I'll do another review as soon as I digged through the pileup on my desk ...

[2021-07-19 07:29] mikldk commented on #3438
@danielskatz Then we'll just use the current archive/release 👍.

[2021-07-19 07:30] mikldk commented on #3438
@whedon generate pdf

[2021-07-19 07:30] whedon commented on #3438
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03438/joss.03438/10.21105.joss.03438.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03438/joss.03438/10.21105.joss.03438.pdf) :page_facing_up: :point_left:

[2021-07-19 07:45] Mkoopm commented on #3412
Hi @rkurchin, I'm a PhD student working with @ljakoster. @ljakoster is on holiday until the beginning of August, so the reply will take a while, unfortunately.

[2021-07-19 08:07] jbytecode commented on #3448
@whedon generate pdf

@koaning Whatever the message contains, the whedon commands should be on the first line.

[2021-07-19 08:07] whedon commented on #3448
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: :point_left:

[2021-07-19 08:22] ejhigson commented on #3324
Thank you very much for this, and sorry I had missed the above comment! I have now completed my review.

[2021-07-19 08:39] SteRoe commented on #3377
Dear all,

yes, I'm interested in this review.

Best, Stefan

Am 18.07.2021 um 15:04 schrieb Mikkel Meyer Andersen:

--
Stefan Röder, PhD
Wissenschaftler / Scientist
Department Umweltimmunologie / Environmental Immunology
Departmentleitung: Prof. Ana C. Zenclussen
Helmholtz-Zentrum für Umweltforschung GmbH - UFZ
Helmholtz Centre for Environmental Research - UFZ
Permoserstraße 15 / 04318 Leipzig /

[2021-07-19 08:42] jakobbossek commented on #3393
@fboehm I will start with the review soon.

[2021-07-19 08:43] mikapfl commented on #3443
Hi,

I haven't done any Rietveld refinement myself, so I can't really review the scientific usefulness of the software and how it relates to the wider ecosystem of powder diffraction analysis software. If that is fine with you, I would be happy to do a review. (-:

Cheers,

Mika

[2021-07-19 08:54] seabbs commented on #3377
Happy to review 😄

[2021-07-19 08:57] strengejacke commented on #3377
Me too, I'd be happy to review the submission.

[2021-07-19 09:02] magedhelmy1 commented on #3431
@whedon re-invite @magedhelmy1 as reviewer

[2021-07-19 09:02] whedon commented on #3431
I'm sorry @magedhelmy1, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-07-19 09:03] magedhelmy1 commented on #3431
@majensen kindly reinvite me :)

[2021-07-19 09:14] ajstewartlang commented on #3435
Many thanks for your helpful review @ibarraespinosa - @nmstreethran are you getting on ok with your review?

[2021-07-19 09:34] matteomancini commented on #3421
Hi @emdupre thanks for inviting me!
I'd be glad to review this software/paper.

[2021-07-19 09:38] whedon commented on #3454
:wave: @dawbarton, please update us on how your review is going (this is an automated reminder).

[2021-07-19 09:38] whedon commented on #3454
:wave: @kellertuer, please update us on how your review is going (this is an automated reminder).

[2021-07-19 09:44] timtroendle commented on #3203
@igarizio , could you please update us on your remaining concerns? Are they resolved?

[2021-07-19 10:03] MatthewReid854 commented on #3484
Article looks good now.

Question for @dfm , to what level of detail are we expected to scrutinize the code? I can run a few examples from the documentation and the output seems to be fine. As reviewers, how thorough are we expected to be?

Question for @derrynknife , how do I extract the offset parameter from the results as I have done below with alpha and beta?
[code]

[2021-07-19 10:23] sap218 commented on #3440
@vaneseltine Thank you for the reply!

I have gone through the checklist and I'll put my final reviewer comments below :)

**General Checks**
All good!

**Functionality**
All good!

**Documentation**
1. A statement of need should included the the main git repo (just a shortened version from the paper)
2. Installation instructions are needed in the main git repo
3. Include instructions how to run t

[2021-07-19 10:25] derrynknife commented on #3484
@MatthewReid854, it is stored as 'gamma':

`model = surv.Weibull.fit(x, offset=True)
alpha = model.params[0]
beta = model.params[1]`

[2021-07-19 10:51] fabian-s commented on #3491
@lutzhamel:

Your package currently does not follow many of the coding standards JOSS aims for (see below for the full output of `goodpractice::gp("popsom")`)  -- most importantly:

- please add automated tests with decent coverage for the core functionality
- please add proper dependency management ("Imports:", "Suggests:", ...) and namespace directives to the package

In addition, before we try

[2021-07-19 11:00] nmstreethran commented on #3435
Hi @ajstewartlang, I'm working on the review just now and will open an issue in the target repository. I'll update you once my review is complete.

Thanks.

[2021-07-19 11:52] lutzhamel commented on #3491
@fabian-s Interesting automated feedback for the package.  Quick question: The R release process requires you to embed vignettes into the documentation.  These vignettes are treated by the R release process as automated test cases and the release process will terminate if these cases do not succeed. Neither will the release process continue if the documentation does not include these vignettes.  N

[2021-07-19 12:08] fabian-s commented on #3491
@lutzhamel

I don't agree with the implied premise that vignettes, which are part of your documentation, are equivalent to regression or unit tests or can replace them.

I do concede that, by having vignettes that are being rebuilt whenever the package is bundled, you will frequently discover if something breaks really badly, but not in a systematic or structured way (e.g. you'll know about the fi

[2021-07-19 12:46] danielskatz commented on #3431
@whedon re-invite @magedhelmy1 as reviewer

[2021-07-19 12:46] whedon commented on #3431
OK, the reviewer has been re-invited.

@magedhelmy1 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-19 12:53] danielskatz commented on #3438
@whedon recommend-accept

[2021-07-19 12:53] whedon commented on #3438
[code]

[2021-07-19 12:53] whedon commented on #3438
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2463

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2463, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-19 12:54] danielskatz commented on #3438
@whedon accept deposit=true

[2021-07-19 12:54] whedon commented on #3438
[code]

[2021-07-19 12:55] whedon commented on #3438
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1417105701042900997) 👈 🐦🐦🐦

[2021-07-19 12:55] whedon commented on #3438
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2464
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03438](https://doi.org/10.21105/joss.03438)
2. If everything look

[2021-07-19 12:55] turbach commented on #3293
Many hands make light work, thanks to all ... @andportnoy @sappelhoff @AJQuinn @meg-simula and @arfon.

[2021-07-19 12:56] whedon commented on #3438
[code]

[2021-07-19 12:56] fboehm commented on #3393
Thanks so much, @jakobbossek !

[2021-07-19 12:58] danielskatz commented on #3438
Congratulations to @mikldk (Mikkel Meyer Andersen) and co-author!

And thanks to @Nikoleta-v3 for editing, and @EduPH and @MikeLydeamore for reviewing!

[2021-07-19 12:58] #3438 closed

[2021-07-19 12:59] whedon commented on #3438
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03438/status.svg)](https://doi.org/10.21105/joss.03438)

**We need your help!**

Journal of Open Source Softwa

[2021-07-19 13:00] ArangoGutierrez commented on #3311
Hey sorry, I was on PTO and outside my country so was hard to get back to this, will prioritize this today

[2021-07-19 13:10] RodDalBen commented on #3449
Nice, Willenbockel et al. is the mothership! Actually, the seed for the adaptation is on their paper (see p. 682, "Applying SHINE to Color Images").

[2021-07-19 13:20] gonzalobravoargentina commented on #3319
Hi @kthyng
Perhaps @diodon could be a good reviewer.
Cheers

[2021-07-19 13:22] rkurchin commented on #3412
No worries, thanks for letting me know!

@danielskatz, should I just label this as "paused" and circle back in a couple weeks?

[2021-07-19 13:24] danielskatz commented on #3412
You don't need to pause it for a couple of weeks, though you could and should if it is longer than that - here you could just use the @whedon remind mechanism to send a reminder in 2 weeks, or 18 days, ...

[2021-07-19 13:25] rkurchin commented on #3412
@whedon commands

[2021-07-19 13:25] whedon commented on #3412
Here are some things you can ask me to do:

[code]

[2021-07-19 13:25] rkurchin commented on #3412
@whedon remind me in 2 weeks

[2021-07-19 13:26] whedon commented on #3412
Sorry, I can't set reminders on PRE-REVIEW issues.

[2021-07-19 13:26] lutzhamel commented on #3491
@fabian-s Got it.  Thanks for the links, very helpful.  Another quick question, is there a way for me to run the gp() function manually in order to check that my code conforms to the joss standards?

Thanks,
Lutz

[2021-07-19 13:26] danielskatz commented on #3412
oh, sorry, didn't read enough - yes, you could use paused in this case.

[2021-07-19 13:29] mikldk commented on #3438
Thanks to you all, @Nikoleta-v3, @EduPH, @MikeLydeamore, @danielskatz, @kthyng 🥇.

[2021-07-19 13:36] danielskatz commented on #3384
👋 @Garyfallidis - please let me know when you have made your changes.

[2021-07-19 13:37] danielskatz commented on #3348
👋 @ad48 - how are you doing in responding to the issues from the reviewers?  Can we get an update here?

[2021-07-19 13:38] danielskatz commented on #3295
👋 @jorge-lip - how are you doing in responding to the issues from the @mviereck?  Can we get an update here?

[2021-07-19 13:38] danielskatz commented on #3211
👋 @PierreGuilbertF - Do you have any update for us on your review?

[2021-07-19 13:39] fabian-s commented on #3491
Sure, glad it was helpful.

re. `gp()`:
not sure I really understand what you're asking -- to use it you install the `goodpractice` package from CRAN and then call its `gp()`-function with the folder path to the source R package you want to check.

Note that `gp()` does not define/implement JOSS standards for submitted R code, though, I didn't mean to create that impression -- it's just a quick an

[2021-07-19 13:41] danielskatz commented on #3143
👋 All, I was on vacation last week, and am now trying to catch up.
@jarrah42 & @williamfgc - can you let me know what your reviews are blocked on at this point?
@nkallima - can you let me know where you are in responding to reviewer issues?

[2021-07-19 13:46] lutzhamel commented on #3491
Thanks for getting back to me so quickly.  I didn't realize that gp() was part of a CRAN package.  I will follow up.

Best,
Lutz

[2021-07-19 13:48] adi3 commented on #3321
👋🏼 @AP6YC, do you have any updates for us?

[2021-07-19 13:48] adi3 commented on #3320
👋🏼 @AP6YC, do you have any updates for us?

[2021-07-19 14:29] kthyng commented on #3462
@whedon reject

[2021-07-19 14:29] whedon commented on #3462
Paper rejected.

[2021-07-19 14:29] #3462 closed

[2021-07-19 14:32] pfistfl commented on #3453
@mwt @osorensen Thank you so much for the review! If there are any questions/ issues please let me know!

[2021-07-19 14:37] chkoar commented on #2974
OK. Checked.

[2021-07-19 14:41] nkallima commented on #3143
@danielskatz
Please check at https://github.com/nkallima/sim-universal-construction/issues/32
and at https://github.com/nkallima/sim-universal-construction/issues/31

[2021-07-19 14:41] kthyng commented on #3172
@semiautomaticgit The first link seems to point to error reporting, but not basic testing of the software — am I misinterpreting? Basically the user needs to be able to run the software through some basic steps and get a verified result to know it is working correctly.

[2021-07-19 14:42] kthyng commented on #3405
Ok understandable! We will keep this submission on the waitlist for now. Thanks @rkurchin.

[2021-07-19 14:46] nkallima commented on #3143
@danielskatz, @jarrah42 & @williamfgc
Now most of the API documentation is provided under the github-pages (https://nkallima.github.io/sim-universal-construction/index.html).
Although the most important parts are documented, a small part of the API remains to be documented.

[2021-07-19 15:03] cmbiwer commented on #3443
Hi, I have worked on several visualization tools/automation tools for diffraction analysis and Rietveld analysis, and I am available to review this submission.

[2021-07-19 15:17] zbeekman commented on #3311
@ArangoGutierrez I think the editor (@diehlpk) may have been under the impression that you had finished your review? I'm in the process of wrapping mine up as described in the comment you quoted above.

[2021-07-19 15:21] lutzhamel commented on #3434
@faroit My pleasure!  Best, Lutz

[2021-07-19 15:40] diehlpk commented on #3311
@ArangoGutierrez, I think you are good with your review. Just two boxes were not checked and I checked them for you, since I assumed you finished the review. If not, please uncheck them.

[2021-07-19 15:44] ArangoGutierrez commented on #3311
I am I left this https://github.com/openjournals/joss-reviews/issues/3311#issuecomment-876677672 , but then I think I simply forgot those 2 points, I think the doc has good value for the community

[2021-07-19 15:46] vsoch commented on #3311
Thanks @ArangoGutierrez !

[2021-07-19 15:48] rusu24edward commented on #3424
Hi @seba-1511 and @abhiramm7. Thanks for the review work you have done so far. I just wanted to check in since we are at the dates now where we've anticipated the review would be done. Is there anything you need from me to help move this along? Any feedback on the software or paper?

[2021-07-19 16:56] clavigne commented on #3274
Hi @vijaysm , thank you for the careful review.

I do not have access to an OSX machine to test it, so I'm not sure if this is expected. The Redis installation through pip is from this package https://github.com/pywharf/redis-server which states support for `macosx_10_15_x86_64`. At this time, Redis 4.x or above is supported by funsies. I've added this information to the Readme, as well as the des

[2021-07-19 17:03] ranocha commented on #3454
@whedon generate pdf from branch paper

[2021-07-19 17:03] whedon commented on #3454
[code]

[2021-07-19 17:04] whedon commented on #3454
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03454/joss.03454/10.21105.joss.03454.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03454/joss.03454/10.21105.joss.03454.pdf) :page_facing_up: :point_left:

[2021-07-19 17:04] clavigne commented on #3274
@vijaysm as to your second comment,

The raised errors are used for control flow. They terminate the mergesort recursion dynamically without having to know in advance the required recursion depth. I'm updating the example to make this more clear, and to make it raise a more self-explanatory exception.

(By the way, the exception is in fact caught, it's just displayed by the worker in its log file

[2021-07-19 17:27] kellyrowland commented on #3374
Hi @daisieh and @jcoliver 👋 would either of you be available and willing to review this paper for JOSS?

[2021-07-19 17:37] daisieh commented on #3374
I would love to, but Gaurav is a good friend of mine and that's probably a conflict of interest...if JOSS doesn't think so, I would love to!

[2021-07-19 17:42] fzalkow commented on #3326
Dear @arfon, we made a new release (latest: v1.2.1) and a Zenodo archive (DOI: [10.5281/zenodo.5113869](https://doi.org/10.5281/zenodo.5113869)). Please let us know if everything looks right. Many thanks.

[2021-07-19 17:47] kellyrowland commented on #3374
Thanks for disclosing! I think we should err on the side of caution and not have you do the review in that case.

[2021-07-19 17:59] jcoliver commented on #3374
Sure, @kellyrowland . If you could point me to directions for your reviewing practices & procedures, that'll be a help.

[2021-07-19 18:04] kellyrowland commented on #3374
Great, thank you!

The general reviewer guidelines are at this page: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Review criteria are listed here: https://joss.readthedocs.io/en/latest/review_criteria.html

An example review checklist is here: https://joss.readthedocs.io/en/latest/review_checklist.html

I will have our review bot add you as a reviewer to this paper and I will ed

[2021-07-19 18:05] kellyrowland commented on #3374
@whedon add @jcoliver as reviewer

[2021-07-19 18:05] whedon commented on #3374
OK, @jcoliver is now a reviewer

[2021-07-19 18:35] rkurchin commented on #3443
@whedon assign @cmbiwer as reviewer

[2021-07-19 18:35] whedon commented on #3443
OK, @cmbiwer is now a reviewer

[2021-07-19 18:38] rkurchin commented on #3443
Thanks, Christopher! And thanks for info, Mika, I'll try one or two other people and come back to you if need be. :)

[2021-07-19 18:39] rkurchin commented on #3443
@stuartcampbell, would you be able/willing to review this submission to JOSS?

We carry out our checklist-driven reviews here in GitHub issues according to these guidelines. You can find out more about this submission in the first comment in this issue. Note that our editorial robot whedon is having trouble compiling the PDF right now, but if you hop over to the submission branch of their repo you

[2021-07-19 19:17] emdupre commented on #3421
Thank you, @matteomancini ! I'll add you as a reviewer on this submission now.

[2021-07-19 19:18] emdupre commented on #3421
@whedon add @matteomancini as reviewer

[2021-07-19 19:18] whedon commented on #3421
OK, @matteomancini is now a reviewer

[2021-07-19 19:32] sbenthall commented on #3487
@reality would you be able to review this package?

[2021-07-19 19:33] sbenthall commented on #3497
@jamesrhester any ideas as to why there is a PDF compilation error? We'll need to fix this to enable to reviewers.

[2021-07-19 19:55] grlee77 commented on #3421
I appreciate the offer, but do not have the bandwidth to do a solid review at the moment.

[2021-07-19 20:45] danielskatz commented on #3507
@kbarnhart - could you edit this submission?

[2021-07-19 20:45] danielskatz commented on #3507
@whedon invite @kbarnhart as editor

[2021-07-19 20:45] whedon commented on #3507
@kbarnhart has been invited to edit this submission.

[2021-07-19 20:46] myousefi2016 commented on #3468
Hi @jbytecode

Thanks for inviting me to review this open-source research software. I would be happy to help.

Best,

Mehrdad

[2021-07-19 20:48] danielskatz commented on #3499
@aaronlikens - as you can see above, your code did not compile - please make the headers match those in the [example](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).  Please make changes, then use the command `@whedon generate pdf` to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2021-07-19 20:49] danielskatz commented on #3499
Also, due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Having a paper that they can read will help them.  You should hear back sometime next week.

[2021-07-19 20:49] danielskatz commented on #3499
@whedon query scope

[2021-07-19 20:49] whedon commented on #3499
Submission flagged for editorial review.

[2021-07-19 20:50] jbytecode commented on #3468
@whedon add @myousefi2016 as reviewer

@myousefi2016 thank you for accepting! the review process will start after we assign the second reviewer. please keep on touch!

[2021-07-19 20:50] mjsottile commented on #3493
Hi @fAndreuzzi  : I have found one reviewer via email and will reach out to others on here to find one or two more.  In the meantime, I looked at the paper and it has a few typos (e.g., line 41 - I assume "parse" should be "sparse"?).  I would recommend doing a proofreading pass to find simple errors like that.  It might also be worth adding a small example in the paper that demonstrates the packa

[2021-07-19 20:50] whedon commented on #3468
OK, @myousefi2016 is now a reviewer

[2021-07-19 20:51] danielskatz commented on #3494
👋 @xuanxu - would you be able to edit this submission?

[2021-07-19 20:51] danielskatz commented on #3494
@whedon invite @xuanxu as editor

[2021-07-19 20:51] whedon commented on #3494
@xuanxu has been invited to edit this submission.

[2021-07-19 20:54] mjsottile commented on #3493
:wave: Hello @jkbren,  @zoometh, @jonjoncardoso : you were suggested by the author of this submission to the Journal of Open Source Software (JOSS) as potential reviewers. Would you be interested in providing a review? If you haven't reviewed for JOSS before, you can see the review criteria here : https://joss.readthedocs.io/en/latest/review_criteria.html

Please let me know if you are interested

[2021-07-19 20:54] danielskatz commented on #3405
👋 @meg-simula - would you be able to edit this submission?

[2021-07-19 20:54] danielskatz commented on #3405
@whedon invite @meg-simula as editor

[2021-07-19 20:54] whedon commented on #3405
@meg-simula has been invited to edit this submission.

[2021-07-19 20:56] danielskatz commented on #3423
👋 @ptmerz - I don't see any response from you to these above requests from @arfon.  I'm going to mark this as rejected later this week unless I hear back from you before then.

[2021-07-19 20:59] danielskatz commented on #3470
👋  @rkurchin - would you be able to edit this submission?  (Note that @kbarnhart has [volunteered to help find reviewers](https://github.com/openjournals/joss-reviews/issues/3470#issuecomment-878339073))

[2021-07-19 20:59] danielskatz commented on #3470
@whedon invite @rkurchin as editor

[2021-07-19 20:59] whedon commented on #3470
@rkurchin has been invited to edit this submission.

[2021-07-19 21:00] danielskatz commented on #3492
👋 @taless474 - would you be able to edit this submission for JOSS?

[2021-07-19 21:00] danielskatz commented on #3492
@whedon invite @taless474 as editor

[2021-07-19 21:00] whedon commented on #3492
@taless474 has been invited to edit this submission.

[2021-07-19 21:01] whedon opened #3511 "[PRE REVIEW]: DBSP_DRP: A Python package for automated spectroscopic data reduction of DBSP data"
**Submitting author:** @finagle29 (<a href="http://orcid.org/0000-0003-1118-3132">Milan Roberson</a>)
**Repository:** <a href="https://github.com/finagle29/DBSP_DRP/" target ="_blank">https://github.com/finagle29/DBSP_DRP/</a>
**Version:** v0.9.0
**Editor:** @arfon
**Reviewers:** @crhea93, @arjunsavel
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-07-19 21:01] whedon commented on #3511
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-19 21:01] whedon opened #3512 "[PRE REVIEW]: An R package for analyses of bioassays and probit graphs"
**Submitting author:** @piyalkarum (<a href="http://orcid.org/0000-0002-1934-145X">Piyal Karunarathne</a>)
**Repository:** <a href="https://github.com/milesilab/BioRssay.git" target ="_blank">https://github.com/milesilab/BioRssay.git</a>
**Version:** v0.9.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-07-19 21:01] whedon commented on #3512
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-19 21:01] whedon commented on #3511
Wordcount for `paper.md` is 1158

[2021-07-19 21:01] whedon commented on #3511
[code]

[2021-07-19 21:01] whedon commented on #3511
[code]

[2021-07-19 21:01] whedon opened #3513 "[PRE REVIEW]: Taguette: open-source qualitative data analysis"
**Submitting author:** @remram44 (<a href="http://orcid.org/0000-0002-0524-2282">Rémi Rampin</a>)
**Repository:** <a href="https://gitlab.com/remram44/taguette" target ="_blank">https://gitlab.com/remram44/taguette</a>
**Version:** 1.0.0
**Editor:** @Nikoleta-v3
**Reviewers:** @alexhanna , @cmaimone
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-07-19 21:01] whedon commented on #3512
Wordcount for `paper.md` is 757

[2021-07-19 21:01] whedon commented on #3513
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-19 21:01] whedon commented on #3512
[code]

[2021-07-19 21:01] whedon opened #3514 "[PRE REVIEW]: Symfem: a symbolic finite element definition library"
**Submitting author:** @mscroggs (<a href="http://orcid.org/0000-0002-4658-2443">Matthew Scroggs</a>)
**Repository:** <a href="https://github.com/mscroggs/symfem" target ="_blank">https://github.com/mscroggs/symfem</a>
**Version:** v2021.7.6
**Editor:** @Nikoleta-v3
**Reviewers:** @iammix, @sigvaldm
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-07-19 21:01] whedon commented on #3514
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-19 21:01] whedon commented on #3512
PDF failed to compile for issue #3512 with the following error:
[code]

[2021-07-19 21:01] whedon commented on #3511
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03511/joss.03511/10.21105.joss.03511.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03511/joss.03511/10.21105.joss.03511.pdf) :page_facing_up: :point_left:

[2021-07-19 21:01] whedon commented on #3513
[code]

[2021-07-19 21:01] whedon commented on #3514
Wordcount for `paper.md` is 514

[2021-07-19 21:01] whedon commented on #3512
[code]

[2021-07-19 21:01] whedon commented on #3514
[code]

[2021-07-19 21:01] whedon commented on #3513
PDF failed to compile for issue #3513 with the following error:
[code]

[2021-07-19 21:01] whedon commented on #3514
[code]

[2021-07-19 21:02] whedon commented on #3514
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03514/joss.03514/10.21105.joss.03514.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03514/joss.03514/10.21105.joss.03514.pdf) :page_facing_up: :point_left:

[2021-07-19 21:06] danielskatz commented on #3514
👋 @Nikoleta-v3 - would you be able to edit this submission?

[2021-07-19 21:06] danielskatz commented on #3514
@whedon invite @Nikoleta-v3 as editor

[2021-07-19 21:06] whedon commented on #3514
@Nikoleta-v3 has been invited to edit this submission.

[2021-07-19 21:07] danielskatz commented on #3513
@whedon check references from branch 2021-joss-paper

[2021-07-19 21:07] whedon commented on #3513
[code]

[2021-07-19 21:08] danielskatz commented on #3513
@whedon generate pdf from branch 2021-joss-paper

[2021-07-19 21:08] whedon commented on #3513
[code]

[2021-07-19 21:08] whedon commented on #3513
PDF failed to compile for issue #3513 with the following error:
[code]

[2021-07-19 21:09] danielskatz commented on #3511
👋 @xuanxu - if you could also take this one, that would be great, or let me know if you can just take one, which one you prefer

[2021-07-19 21:09] danielskatz commented on #3511
@whedon invite @xuanxu as editor

[2021-07-19 21:09] whedon commented on #3511
@xuanxu has been invited to edit this submission.

[2021-07-19 21:10] remram44 commented on #3513
I removed the `` comment

[2021-07-19 21:12] remram44 commented on #3513
@whedon generate pdf

[2021-07-19 21:12] whedon commented on #3513
PDF failed to compile for issue #3513 with the following error:
[code]

[2021-07-19 21:13] remram44 commented on #3513
@whedon generate pdf from branch 2021-joss-paper

[2021-07-19 21:13] whedon commented on #3513
[code]

[2021-07-19 21:13] whedon commented on #3513
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03513/joss.03513/10.21105.joss.03513.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03513/joss.03513/10.21105.joss.03513.pdf) :page_facing_up: :point_left:

[2021-07-19 21:13] taless474 commented on #3492
@danielskatz , thanks for bringing this to my attention. Yes, I like to.

[2021-07-19 21:14] danielskatz commented on #3512
@piyalkarum - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOIs that whedon suggests, but

[2021-07-19 21:14] danielskatz commented on #3512
@whedon query scope

[2021-07-19 21:14] whedon commented on #3512
Submission flagged for editorial review.

[2021-07-19 21:16] danielskatz commented on #3513
@whedon check references from branch 2021-joss-paper

[2021-07-19 21:16] whedon commented on #3513
[code]

[2021-07-19 21:16] whedon commented on #3513
[code]

[2021-07-19 21:19] danielskatz commented on #3513
👋 @remram44 - we're currently overloaded on editors in the area of this submission, so I'm going to mark it as waitlisted until an editor is available - thanks for submitting it and quickly cleaning up the build issue

[2021-07-19 21:22] danielskatz commented on #3492
@taless474 - thanks.  I'll do this for you now, but in the future, you can use the same command I'm going to use, or even replace your account name simply by `me`

[2021-07-19 21:22] danielskatz commented on #3492
@whedon assign @taless474 as editor

[2021-07-19 21:22] whedon commented on #3492
OK, the editor is @taless474

[2021-07-19 21:24] danielskatz commented on #2863
@dmey - any news?

[2021-07-19 21:25] danielskatz commented on #2838
👋 @dpsanders - it looks like this is ready for your final processing?

[2021-07-19 21:25] danielskatz commented on #3190
👋 @Kevin-Mattheus-Moerman - this looks like it's ready for you to move to the final steps

[2021-07-19 21:46] abhiramm7 opened #3515 "Installation: Does installation proceed as outlined in the documentation?"

[2021-07-19 21:46] whedon commented on #3515
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-19 21:47] whedon commented on #3515
Downloading of the repository (to check the bibtex) failed for issue #3515 failed with the following error:
[code]

[2021-07-19 21:47] whedon commented on #3515
PDF failed to compile for issue #3515 with the following error:
[code]

[2021-07-19 21:47] whedon commented on #3515
Downloading of the repository (to analyze the language) for issue #3515 failed with the following error:
[code]

[2021-07-19 21:48] dhhagan commented on #3219
👋  @andreas-h, @josephhardinee, @ashwinvis : are you available and interested in reviewing this paper for JOSS?

[2021-07-19 21:49] #3515 closed

[2021-07-19 21:50] dhhagan commented on #3411
👋  @richardsc, @PharaohCola13, @molgor, @nanhung : are any of you currently available and interested in reviewing this paper?

[2021-07-19 21:50] rkurchin commented on #3470
I don't know C or anything about seismic analysis, so I doubt I'm a good fit either...

[2021-07-19 22:24] felixchenier commented on #3343
Good morning @meg-simula
Thanks for being part of this amazing journal.
I'm wondering if my submission has been forgotten since it's been in pre-review for a while, but I understand we are in a pandemic summer so I don't expect things to go fast. I was just wondering.
Thank you again,
Felix Chenier

[2021-07-19 22:25] dpsanders commented on #2838
@whedon recommend-accept

[2021-07-19 22:25] whedon commented on #2838
[code]

[2021-07-19 22:25] whedon commented on #2838
[code]

[2021-07-19 22:26] whedon commented on #2838
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2465

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2465, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-19 22:29] semiautomaticgit commented on #3172
Thank you @kthyng

Yes it is error reporting, but I was particularly referring to the point 3 of the instructions where it is described the button "Test dependencies" to check software dependencies, which should report if there are any installations issues.

The second link (tutorial) is a full basic tutorial that one can follow to perform a semi-automatic land cover classification. Also other tut

[2021-07-19 22:57] nanhung commented on #3411
Hi @dhhagan - Yes, I can do this.

[2021-07-19 23:06] fAndreuzzi commented on #3493
Thank you, I will review the paper again to fix this kind of typo.

Sure, I'm going to add a meaningful example.

[2021-07-19 23:20] fAndreuzzi commented on #3493
@whedon generate pdf

[2021-07-19 23:20] whedon commented on #3493
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03493/joss.03493/10.21105.joss.03493.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03493/joss.03493/10.21105.joss.03493.pdf) :page_facing_up: :point_left:

[2021-07-19 23:26] kbarnhart commented on #3507
@danielskatz I can do this.

@wsavran it will later in this week that I start actively handling this.

[2021-07-19 23:27] kbarnhart commented on #3507
@whedon assign @kbarnhart as editor

[2021-07-19 23:27] whedon commented on #3507
OK, the editor is @kbarnhart

[2021-07-19 23:47] zbeekman commented on #3311
I have concluded my review and recommend this excellent paper (and piece of software!) for publication. :tada:

[2021-07-19 23:53] seba-1511 commented on #3424
@rusu24edward Apologies for the delay -- so far the submission looks good. I think ray in requirements.txt should be updated to `ray[default]` (a warning otherwise pops up) but even with that, I get the following stack trace when following the quickstart instructions:

[code]

Specifically, I ran the following:

[code]

[2021-07-20 00:08] seba-1511 commented on #3424
Other than that (and once I can confirm functionality), my only minor comment is on state of need/scholarship. The discussion around existing software around multi-agent RL could be more thorough; for example, here's some popular software that could be discussed:

* MADDPG, from OpenAI: https://github.com/openai/maddpg
* pymarl, from Oxford: https://github.com/oxwhirl/pymarl
* SMARTS, from Huawei:

[2021-07-20 01:37] jamesrhester commented on #3497
See #3245. I believe the correct syntax is:
@whedon generate pdf from branch joss_paper

[2021-07-20 01:44] jamesrhester commented on #3497
@whedon generate pdf from branch joss_paper

[2021-07-20 01:44] whedon commented on #3497
[code]

[2021-07-20 02:00] jamesrhester commented on #3458
@jgostick @ml-evs just bumping this in case my request for a waiver on COI has been missed.

[2021-07-20 02:27] Lestropie commented on #3421
Eager to review for JOSS at some point, but am already behind schedule on a couple of others 😩

[2021-07-20 03:12] abhiramm7 commented on #3424
@rusu24edward I've created two issues [168](https://github.com/LLNL/Abmarl/issues/168 ) and [167](https://github.com/LLNL/Abmarl/issues/167 ) regarding installation and documentation. The examples and documentation were really thorough; I would just recommend adding a note on dependencies in the installation instructions and also providing links the python files (e.g., `multi_corridor_example.py`)

[2021-07-20 03:28] abhiramm7 commented on #3312
@mark-koren I am running into an issue with version of torch when I try  `pip install ast-toolbox`.
[code]
I am using python3.9 and OS X. Is there a specific feature in torch 1.3.0 that ast-toolbox requires?

[2021-07-20 07:25] dmey commented on #2863
@danielskatz and @oliviaguest yes, sorry. It's in production but they could not generate the DOI before it's finalized... Looking at their average processing time, it looks like it will take a further 3 to 4 weeks. Would it be possible to wait until then?

[2021-07-20 07:25] kellertuer commented on #3454
I had a nice discussion with @ranocha yesterday in the linked issue I opened in the repository of SummationByPartsOperators.jl (and in the corresponding PR) and I checked all points in the check list above, since I after these changes I can propose to accept the paper.

[2021-07-20 08:01] wdecoster commented on #3457
Hi @dridk, looking at the checklist both the paper and documentation miss a "statement of need", and the paper should additionally get a comparison to the "State of the field" - could you look into adding these sections?

[2021-07-20 08:13] Nikoleta-v3 commented on #3514
Sure thing @danielskatz 😄

[2021-07-20 08:14] Nikoleta-v3 commented on #3514
@whedon assign me as editor

[2021-07-20 08:14] whedon commented on #3514
OK, the editor is @Nikoleta-v3

[2021-07-20 08:24] timtroendle commented on #3313
Apologies for the slow process, @amandadsmith . It's a bit difficult to find a replacement reviewer at this point, as many people are about to leave or have left into their summer breaks. I found a few people that would like to review this submission but can do so only in a few days time. I will assign one of them as soon as they are ready. Please bear with us.

[2021-07-20 08:25] Nikoleta-v3 commented on #3420
👋🏻 @expectopatronum & @hiendn & @shivam11 would any of you be willing to review this submission for JOSS?

Currently looking for one more reviewer! The submission I'd like you to review is titled: "daiR: an R package for OCR with Google Document AI". You can find more information at the top of this Github issue 🆙

We carry out our checklist-driven reviews here in GitHub issues and follow these gui

[2021-07-20 08:26] jakobbossek commented on #3393
@fboehm Could you please send me another review invitation. The invitation expired unfortunately 🙈

[2021-07-20 08:29] Nikoleta-v3 commented on #3514
👋🏻 @mscroggs thank you for your submission with JOSS, if you have not already done so, could you take a look through https://bit.ly/joss-reviewers to suggest some potential reviewers 😄

[2021-07-20 08:30] travisjwiltshire commented on #3499
@whedon generate pdf

[2021-07-20 08:30] whedon commented on #3499
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03499/joss.03499/10.21105.joss.03499.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03499/joss.03499/10.21105.joss.03499.pdf) :page_facing_up: :point_left:

[2021-07-20 08:32] mscroggs commented on #3514
Suitable potential reviewers from the list: felipefr, oalii, sigvaldm, thelfer, iammix

Suitable potential reviewers not from the list: wence, ReubenHill

[2021-07-20 08:48] Nikoleta-v3 commented on #3514
👋 @felipefr & @oalii & @sigvaldm & @iammix  would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "Symfem: a symbolic finite element definition library". You can find more information at

[2021-07-20 08:55] zoometh commented on #3493
@mjsottile thank you for the proposal, I'll do the review

[2021-07-20 10:00] Kevin-Mattheus-Moerman commented on #3190
@SunilAnandatheertha looks like we are ready for the final steps.

I have just read your paper and provide the following required minor changes:
- [ ] Check `...developed for Ising model...`, perhaps this should read `...developed for the Ising model...`
- [ ] Check `... is used to simulate grain growth over a simplified manner, and...`, should  this read  `... is used to simulate grain growth in

[2021-07-20 10:09] SunilAnandatheertha commented on #3190
@Kevin-Mattheus-Moerman
Thank you for the valuable suggestions. I will update accordingly soon.

[2021-07-20 10:11] arfon commented on #3326
@whedon set 10.5281/zenodo.5113869 as archive

[2021-07-20 10:11] whedon commented on #3326
OK. <a href="https://doi.org/10.5281/zenodo.5113869" target="_blank">10.5281/zenodo.5113869</a> is the archive.

[2021-07-20 10:11] arfon commented on #3326
@whedon set v1.2.1 as version

[2021-07-20 10:11] whedon commented on #3326
OK. v1.2.1 is the version.

[2021-07-20 10:11] arfon commented on #3326
@whedon recommend-accept from branch paper

[2021-07-20 10:11] whedon commented on #3326
[code]

[2021-07-20 10:12] whedon commented on #3326
PDF failed to compile for issue #3326 with the following error:
[code]

[2021-07-20 10:15] arfon commented on #3326
@fzalkow – could you please merge this PR which fixes your paper: https://github.com/meinardmueller/libfmp/pull/5

[2021-07-20 10:35] fzalkow commented on #3326
Done!

[2021-07-20 11:00] iammix commented on #3514
Hello @Nikoleta-v3,

yes I could. Unless there is a time limit and the review should be completed by the end of this month.

[2021-07-20 11:05] maximtrp commented on #3323
@mikldk I have finished the review, all the issues are resolved now.

[2021-07-20 11:14] ad48 commented on #3348
@danielskatz  We have 2 things left on the todo list: one is to create a sample file to make testing the app easy. The other is to post the training data to an open data repository. Both are quite do-able, but time has been a little limited over this last week. Hopefully will have it done this week. The feedback from both referees has been highly constructive and greatly appreciated.

[2021-07-20 11:29] adithirgis commented on #3435
@whedon check references

[2021-07-20 11:29] whedon commented on #3435
[code]

[2021-07-20 11:30] adithirgis commented on #3435
@whedon generate pdf

[2021-07-20 11:30] whedon commented on #3435
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: :point_left:

[2021-07-20 11:31] adithirgis commented on #3435
Hi @ibarraespinosa!

We have implemented your suggestion of adding case study.

Thank you!

[2021-07-20 11:32] expectopatronum commented on #3420
Hey! My vacation will start soon so I am not available at this time. Sorry!

[2021-07-20 12:35] danielskatz commented on #3393
@whedon re-invite @jakobbossek as reviewer

[2021-07-20 12:35] whedon commented on #3393
OK, the reviewer has been re-invited.

@jakobbossek please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-20 12:47] mviereck commented on #3295
@jorge-lip provided a more [comprehensive summary of the changes](https://github.com/indigo-dc/udocker/issues/312#issuecomment-875747957) done in udocker. It boils down to good code maintenance and a broader support of different environments.
The essential idea and concept is still the same and fits the description in the first paper. So there is basically no need for a new paper except to provide

[2021-07-20 12:50] whedon commented on #3455
:wave: @professoralkmin, please update us on how your review is going (this is an automated reminder).

[2021-07-20 12:50] whedon commented on #3455
:wave: @AustinTSchaffer, please update us on how your review is going (this is an automated reminder).

[2021-07-20 12:58] danielskatz commented on #3295
@mviereck - I think the changes/work are sufficient for a new version of the paper, so let's take this as ok from the point of view of the journal (though I agree it's a complicated issue where we don't have a good simply-stated policy), and focus on other issues, like the question about the authors. In addition to this, I see three more unchecked boxes in your review - what information/changes wo

[2021-07-20 13:01] mviereck commented on #3295
I have checked this one off.

I am just checking point after point. Once I've checked one off, I go to the next. So I did not look closer yet to the remaining points.

[2021-07-20 13:02] danielskatz commented on #2863
ok

[2021-07-20 13:03] danielskatz commented on #2863
@whedon remind me in 4 weeks

[2021-07-20 13:03] whedon commented on #2863
Reminder set for me in 4 weeks

[2021-07-20 13:08] dhhagan commented on #3411
@nanhung awesome! I will add you as a reviewer now.

[2021-07-20 13:08] dhhagan commented on #3411
@whedon add @nanhung as a reviewer

[2021-07-20 13:08] whedon commented on #3411
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-20 13:09] dhhagan commented on #3411
@whedon assign @nanhung as reviewer

[2021-07-20 13:09] whedon commented on #3411
OK, @nanhung is now a reviewer

[2021-07-20 13:24] felipefr commented on #3514
Hello @Nikoleta-v3 <https://github.com/Nikoleta-v3>,

Yes I can, but I can only return mine in one month (maybe a little less).
What are the deadlines?

Felipe Rocha @felipefr

On Tue, 20 Jul 2021 at 13:00, Konstantinos Mixios ***@***.***>
wrote:

--
Felipe Figueredo

[2021-07-20 13:45] Nikoleta-v3 commented on #3420
That's okay! Enjoy your holiday and thank you for getting back to me @expectopatronum 😄

[2021-07-20 14:04] Nikoleta-v3 commented on #3514
Thank you both for getting back to me! 🙏🏻

There is no hard deadline. We aim for reviews to be completed within about 2-4 weeks. I can use Whedon (our bot) to set an automatic reminder in a month if you are both still happy to do the review 😄

I understand that this is a busy period and understand if you are unable to review at the present time.

[2021-07-20 14:05] danielskatz commented on #2838
@whedon accept deposit=true

[2021-07-20 14:05] whedon commented on #2838
[code]

[2021-07-20 14:06] whedon commented on #2838
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2466
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02838](https://doi.org/10.21105/joss.02838)
2. If everything look

[2021-07-20 14:10] cheginit commented on #3175
@kthyng @raoulcollenteur @evanleeturner Please let me know if there are any issues that I need to address for this submission. Also, since April I made one minor release (0.11) that includes breaking changes and a new patch release (0.11.x) is around the corner. So please make sure to check out the latest version.

[2021-07-20 14:12] arfon commented on #3326
@whedon recommend-accept from branch paper

[2021-07-20 14:12] danielskatz commented on #2838
Congratulations to  @Swetanshu (Swetanshu Tandon) and co-authors!!

And thanks to @mturiansky and @mfherbst for reviewing, and @dpsanders for editing!

[2021-07-20 14:12] #2838 closed

[2021-07-20 14:12] whedon commented on #3326
[code]

[2021-07-20 14:13] whedon commented on #2838
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02838/status.svg)](https://doi.org/10.21105/joss.02838)

**We need your help!**

Journal of Open Source Softwa

[2021-07-20 14:13] whedon commented on #3326
[code]

[2021-07-20 14:13] whedon commented on #3326
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2467

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2467, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-20 14:16] danielskatz commented on #3488
@milandv - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-package

[2021-07-20 14:16] danielskatz commented on #3488
@whedon reject

[2021-07-20 14:16] whedon commented on #3488
Paper rejected.

[2021-07-20 14:16] #3488 closed

[2021-07-20 14:17] diehlpk commented on #3311
@whedon check references

[2021-07-20 14:17] danielskatz commented on #3489
I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other

[2021-07-20 14:17] whedon commented on #3311
[code]

[2021-07-20 14:17] danielskatz commented on #3489
@whedon reject

[2021-07-20 14:17] whedon commented on #3489
Paper rejected.

[2021-07-20 14:17] #3489 closed

[2021-07-20 14:18] galessiorob commented on #3322
@whedon set v0.1.1 as version

[2021-07-20 14:18] whedon commented on #3322
OK. v0.1.1 is the version.

[2021-07-20 14:18] arfon commented on #3326
@whedon accept deposit=true from branch paper

[2021-07-20 14:18] whedon commented on #3326
[code]

[2021-07-20 14:18] whedon commented on #3326
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1417489194453250048) 👈 🐦🐦🐦

[2021-07-20 14:18] whedon commented on #3326
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2468
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03326](https://doi.org/10.21105/joss.03326)
2. If everything look

[2021-07-20 14:19] danielskatz commented on #3498
@florianboergel - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Additional issues are the lack of packaging and the lack of tests. Please see https://joss.readthedocs.io/en/latest/

[2021-07-20 14:19] danielskatz commented on #3498
@whedon reject

[2021-07-20 14:19] whedon commented on #3498
Paper rejected.

[2021-07-20 14:19] #3498 closed

[2021-07-20 14:19] galessiorob commented on #3322
@whedon set 10.5281/zenodo.5112352 as archive

[2021-07-20 14:19] whedon commented on #3322
OK. <a href="https://doi.org/10.5281/zenodo.5112352" target="_blank">10.5281/zenodo.5112352</a> is the archive.

[2021-07-20 14:20] galessiorob commented on #3322
@whedon accept

[2021-07-20 14:20] danielskatz commented on #3505
@dsurujon - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packag

[2021-07-20 14:20] whedon commented on #3322
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-07-20 14:20] danielskatz commented on #3505
@whedon reject

[2021-07-20 14:20] whedon commented on #3505
Paper rejected.

[2021-07-20 14:20] #3505 closed

[2021-07-20 14:20] galessiorob commented on #3322
@whedon recommend-accept

[2021-07-20 14:20] whedon commented on #3322
[code]

[2021-07-20 14:20] whedon commented on #3322
[code]

[2021-07-20 14:20] whedon commented on #3322
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2469

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2469, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-20 14:21] whedon opened #3516 "[PRE REVIEW]: Ensemble Learning for Harmonization and Annotation of Single Cells (ELeFHAnt)"
**Submitting author:** @praneet1988 (<a href="http://orcid.org/0000-0002-8713-6570">Praneet Chaturvedi</a>)
**Repository:** <a href="https://github.com/praneet1988/ELeFHAnt" target ="_blank">https://github.com/praneet1988/ELeFHAnt</a>
**Version:** v1.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-07-20 14:21] whedon commented on #3516
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-20 14:21] whedon commented on #3516
Wordcount for `paper.md` is 938

[2021-07-20 14:21] whedon commented on #3516
[code]

[2021-07-20 14:21] whedon commented on #3516
[code]

[2021-07-20 14:21] whedon commented on #3516
PDF failed to compile for issue #3516 with the following error:
[code]

[2021-07-20 14:22] galessiorob commented on #3322
@hknd23 an editor in chief will run the final steps to get it published. Thanks so much for working through the review and congrats!

[2021-07-20 14:23] danielskatz commented on #3442
👋 @elbeejay - Would you be able to edit this submission?

[2021-07-20 14:24] danielskatz commented on #3442
@whedon invite @elbeejay as editor

[2021-07-20 14:24] whedon commented on #3442
@elbeejay has been invited to edit this submission.

[2021-07-20 14:25] danielskatz commented on #3486
This has passed the scope query, but we don't have editors in this area currently available, so we'll put in on the waiting list for a little bit

[2021-07-20 14:28] danielskatz commented on #3516
@praneet1988 - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the error in the code - then use the command `@whed

[2021-07-20 14:28] danielskatz commented on #3516
@whedon query scope

[2021-07-20 14:28] whedon commented on #3516
Submission flagged for editorial review.

[2021-07-20 14:30] ibarraespinosa commented on #3435
Hi Adithi, thanks you!.

Em ter., 20 de jul. de 2021 às 08:31, Adithi R. Upadhya <
***@***.***> escreveu:

[2021-07-20 14:44] danielskatz commented on #3322
@hknd23 - I've suggested a bunch of changes in https://github.com/hknd23/idcempy/pull/24.  Also, I note entries in the bib that aren't in the right case - you can use extra {}s to protect cases in these entries.

e.g. The routledge handbook of agricultural economics should be The Routledge Handbook of Agricultural Economics; Modern applied statistics with s should be Modern Applied Statistics with

[2021-07-20 14:46] diehlpk commented on #3311
@whedon generate pdf

[2021-07-20 14:47] whedon commented on #3311
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03311/joss.03311/10.21105.joss.03311.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03311/joss.03311/10.21105.joss.03311.pdf) :page_facing_up: :point_left:

[2021-07-20 14:47] jdtournier commented on #3421
HI @emdupre, I'm sorry, I won't be able to review this, I'm about to go on leave. Do keep me in mind for future reviews though!

[2021-07-20 14:55] danielskatz commented on #3513
👋 @Nikoleta-v3 - would this be another submission you can edit?

[2021-07-20 14:55] danielskatz commented on #3513
@whedon invite @Nikoleta-v3 as editor

[2021-07-20 14:55] whedon commented on #3513
@Nikoleta-v3 has been invited to edit this submission.

[2021-07-20 14:58] diehlpk commented on #3311
@vsoch Can you please  add the city and country to the affiliations?

[2021-07-20 14:59] Nikoleta-v3 commented on #3513
@whedon assign me as editor

[2021-07-20 14:59] whedon commented on #3513
OK, the editor is @Nikoleta-v3

[2021-07-20 15:00] danielskatz commented on #3322
@hknd23 - I see you've merged the changes - once you've made the bib changes, please use `@whedon generate pdf` to regenerate the paper, and let me know when you are done, then we can proceed with acceptance

[2021-07-20 15:01] Nikoleta-v3 commented on #3513
👋🏻  @remram44 thank you for your submission with JOSS, if you have not already done so, could you take a look through https://bit.ly/joss-reviewers to suggest some potential reviewers 😄

[2021-07-20 15:03] diehlpk commented on #3311
@vsoch I recently was the editor for the following paper

https://joss.theoj.org/papers/10.21105/joss.02403

and I was wondering how your paper is different, and I was wondering if this paper should be cited?

[2021-07-20 15:04] danielskatz commented on #3513
👋 @Nikoleta-v3 - thanks for editing this. (just as a note, if you take something from the waiting list, you should remove that label, which I will do in this case)

[2021-07-20 15:07] sigvaldm commented on #3514
In case you need more, I can contribute too, but I have the same time reservations as the others.

[2021-07-20 15:13] kthyng commented on #3175
Thanks @cheginit. I just pinged by email to try to rise above the github notification noise.

[2021-07-20 15:20] hknd23 commented on #3322
@whedon generate pdf

[2021-07-20 15:21] whedon commented on #3322
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: :point_left:

[2021-07-20 15:23] remram44 commented on #3513
Thanks, reviewers with "Python" and "social science" are probably good reviewers:

- tresoldi
- vaneseltine
- soodoku
- alexhanna
- jboynyc
- natematias
- zhanglipku
- cmaimone
- ajoer
- Kudusch
- sdmccabe

[2021-07-20 15:23] hknd23 commented on #3322
@whedon generate pdf

[2021-07-20 15:23] whedon commented on #3322
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: :point_left:

[2021-07-20 15:25] hknd23 commented on #3322
@whedon generate pdf

[2021-07-20 15:25] whedon commented on #3322
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: :point_left:

[2021-07-20 15:33] hknd23 commented on #3322
@danielskatz Thank you very much for your suggestions. We have reviewd and  incorporated them to the paper. We also capitalized the journal and book names in the .bib file and removed the duplicated entries. Please let us know if there is anything else you need.

[2021-07-20 15:35] kyleniemeyer commented on #2095
Hi @olgadoronina, do you have the bandwidth to check the updated installation process? Thanks for hanging in there.

[2021-07-20 15:36] arfon commented on #3326
@brunaw, @expectopatronum – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@fzalkow – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-07-20 15:36] #3326 closed

[2021-07-20 15:36] whedon commented on #3326
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03326/status.svg)](https://doi.org/10.21105/joss.03326)

**We need your help!**

Journal of Open Source Softwa

[2021-07-20 15:41] danielskatz commented on #3322
@whedon recommend-accept

[2021-07-20 15:41] whedon commented on #3322
[code]

[2021-07-20 15:42] whedon commented on #3322
[code]

[2021-07-20 15:42] whedon commented on #3322
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2470

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2470, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-20 15:44] danielskatz commented on #3322
@whedon accept deposit=true

[2021-07-20 15:44] whedon commented on #3322
[code]

[2021-07-20 15:44] whedon commented on #3322
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1417510826014089224) 👈 🐦🐦🐦

[2021-07-20 15:44] whedon commented on #3322
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2471
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03322](https://doi.org/10.21105/joss.03322)
2. If everything look

[2021-07-20 15:50] Nikoleta-v3 commented on #3513
@danielskatz got it 👍🏻  thank you!

[2021-07-20 15:51] danielskatz commented on #3322
Congratulations to @hknd23 (Nguyen Huynh) and co-authors!!

And thanks to @cmaimone, @jungtaekkim, and @tmickleydoyle for reviewing, and @galessiorob for editing!

[2021-07-20 15:51] whedon commented on #3322
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03322/status.svg)](https://doi.org/10.21105/joss.03322)

**We need your help!**

Journal of Open Source Softwa

[2021-07-20 16:00] vsoch commented on #3311
@diehlpk all set!  https://github.com/singularityhub/singularity-hpc/commit/060fe7a684d0fc97cf8659dcc66f49776016b4ac

That work appears to be for a workflow manager (for cloud workflows) which is a totally different animal. [There are a to of them](https://github.com/pditommaso/awesome-pipeline) and shpc is not in that family. Probably the fact that "reproducible" has become a buzzword (and common

[2021-07-20 16:04] diehlpk commented on #3311
@vsoch Thanks for the clarification. Can you please provide me with a new release including all the changes of the review?

[2021-07-20 16:05] diehlpk commented on #3311
@vsoch Can you please upland that release to Zenodo or Fighshare and provide me with some DOI? Note that the title and authors of the upload have to match the ones of the paper.

[2021-07-20 16:10] danielskatz commented on #2978
@whedon remind @robertsawko in 1 week

[2021-07-20 16:10] whedon commented on #2978
Reminder set for @robertsawko in 1 week

[2021-07-20 16:10] danielskatz commented on #2978
@whedon remind @danielskatz in 1 week

[2021-07-20 16:10] whedon commented on #2978
Reminder set for @danielskatz in 1 week

[2021-07-20 16:15] vijaysm commented on #3274
@clavigne Thanks for quickly updating README.

I didn't drill down on the reasons why pip didn't install on OSX, but showing alternative workflows to get the TPLs installed is helpful for new users. The installation information looks complete enough now.

[2021-07-20 16:16] amandadsmith commented on #3313
I understand @timtroendle. It's a hard time to reach academics. Thanks for keeping us apprised of what's going on.

[2021-07-20 16:21] vsoch commented on #3311
All set! https://zenodo.org/record/5116598#.YPb4FzpMFH4

[2021-07-20 16:22] vijaysm commented on #3274
Got it. I assumed the runtime error was intentional, but the log messages with trace information would confuse users, and lead them to worry that either the example is broken, or their build/installation is incompatible. So displaying this in a better, more user-friendly way would be better.

You should also update README.md or appropriate documentation for funsies to describe how runtime errors a

[2021-07-20 16:23] ph-rast commented on #3452
Thanks @mwt -- I installed the package on a fresh Windows VM with a fresh install of R 4.1.0. The model ran without errors. I also checked on macOS and Ubuntu, where it also runs without error.
I am not sure where the error you get might be coming from to be honest, looks like parallelization maybe failed? You could run fewer iterations on just one chain with `chains = 1`?

[2021-07-20 16:24] vijaysm commented on #3274
Keyboard shortcut accidentally closed the issue :-) I re-opened it again.

[2021-07-20 16:24] SunilAnandatheertha commented on #3190
@whedon generate pdf

[2021-07-20 16:24] whedon commented on #3190
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: :point_left:

[2021-07-20 16:31] diehlpk commented on #3311
@vsoch Not yet, the title of the above item should read as

Collaborative Container Modules with Singularity1
Registry HPC

and not read as

singularityhub/singularity-hpc: Singularity Registry HPC v0.0.31

[2021-07-20 16:31] diehlpk commented on #3311
@whedon commands

[2021-07-20 16:31] whedon commented on #3311
Here are some things you can ask me to do:

[code]

[2021-07-20 16:32] diehlpk commented on #3311
@whedon set v0.0.31 as version

[2021-07-20 16:32] whedon commented on #3311
OK. v0.0.31 is the version.

[2021-07-20 16:32] vsoch commented on #3311
okay now all set? https://zenodo.org/record/5116598#.YPb6lTpMFH4

[2021-07-20 16:33] diehlpk commented on #3311
@whedon set 10.5281/zenodo.5116598 as archive

[2021-07-20 16:33] whedon commented on #3311
OK. <a href="https://doi.org/10.5281/zenodo.5116598" target="_blank">10.5281/zenodo.5116598</a> is the archive.

[2021-07-20 16:34] diehlpk commented on #3311
@whedon list reviewers

[2021-07-20 16:34] whedon commented on #3311
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-07-20 16:34] diehlpk commented on #3311
@whedon recommend-accept

[2021-07-20 16:34] whedon commented on #3311
[code]

[2021-07-20 16:34] whedon commented on #3311
PDF failed to compile for issue #3311 with the following error:
[code]

[2021-07-20 16:34] whedon commented on #3311
[code]

[2021-07-20 16:35] diehlpk commented on #3311
@whedon generate pdf

[2021-07-20 16:36] whedon commented on #3311
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03311/joss.03311/10.21105.joss.03311.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03311/joss.03311/10.21105.joss.03311.pdf) :page_facing_up: :point_left:

[2021-07-20 16:36] vsoch commented on #3311
That was strange!

[2021-07-20 16:39] diehlpk commented on #3311
Yes, thanks.

[2021-07-20 16:41] diehlpk commented on #3311
@vsoch I pinged the dev time about the error while generating the PDF for acceptance.

[2021-07-20 16:41] vsoch commented on #3311
ok!

[2021-07-20 16:42] vsoch commented on #3311
I want to say thank you again to my reviewers and editor - I think the review process was really helpful and I’m grateful for your time!

[2021-07-20 16:59] fzalkow commented on #3326
Awesome! Many thanks, @arfon, @brunaw, and @expectopatronum for the fantastic review process! :partying_face:

[2021-07-20 17:02] vijaysm commented on #3274
@clavigne Can you add other workflow engines like Snakemake that are routinely used for distributed systems ? I am aware of [Fabsim](https://fabsim3.readthedocs.io/en/latest/index.html) which is a flexible workflow engine, though targeted at multiscale apps. It may be a bit more complex in terms of usage though. Another one is [Galaxy](https://training.galaxyproject.org/training-material/topics/ad

[2021-07-20 17:06] SunilAnandatheertha commented on #3190
Please use the new `PXO-10.1.0`

[2021-07-20 17:08] SunilAnandatheertha commented on #3190
@Kevin-Mattheus-Moerman   Hi kevin, I am unable to tick the checks above. I have tried in both recent browsers: Google Chrome and Edge

[2021-07-20 17:10] PTierz commented on #3436
Dear @elbeejay,

Very many thanks for your support and your patience. Your comments have been very useful for us to improve the documentation for our program, and to revisit the timeline and requirements needed to successfully continue with our 'translation' of the Matlab VOLCANS code, into the Python PyVOLCANS code. Many thanks.

Concerning the first point you raised, there are indeed plans of co

[2021-07-20 17:18] mwt commented on #3452
That's great. I'll try it on a new Windows VM just to make sure, but I imagine it's fine.

[2021-07-20 18:05] kthorner commented on #3516
@whedon generate pdf

I believe I have made the necessary corrections. Thank you!

[2021-07-20 18:05] whedon commented on #3516
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03516/joss.03516/10.21105.joss.03516.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03516/joss.03516/10.21105.joss.03516.pdf) :page_facing_up: :point_left:

[2021-07-20 18:08] praneet1988 commented on #3516
@danielskatz Thank you so much for your reply. @kthorner and I look forward to hear from you.
We have corrected the compile pdf issue.

Thank you so much.

Best,
Praneet

[2021-07-20 18:14] danielskatz commented on #3190
@whedon re-invite @SunilAnandatheertha as reviewer

[2021-07-20 18:14] whedon commented on #3190
OK, the reviewer has been re-invited.

@sunilanandatheertha please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-20 18:15] danielskatz commented on #3190
@SunilAnandatheertha - ☝️ should solve your problem

[2021-07-20 18:18] danielskatz commented on #3274
There's also [Parsl](http://parsl-project.org) but I'm writing this more for your information than asking you to mention it, since I work on it.

[2021-07-20 18:48] vijaysm commented on #3020
@Kevin-Mattheus-Moerman My review of NLMech is complete. Apart from some hiccups in the installation process from source, I do not have any other pending issues as @diehlpk has promptly addressed all the concerns I raised here, and at [NLMech issue #131](https://github.com/nonlocalmodels/NLMech/issues/131). I recommend acceptance of the submission once all the other reviews are in. Sorry about the

[2021-07-20 18:53] SunilAnandatheertha commented on #3190
@Kevin-Mattheus-Moerman  The DOI of the archived version is: 10.5281/zenodo.5117452

@danielskatz Thank you for this. It worked.

[2021-07-20 18:54] SunilAnandatheertha commented on #3190
Zenodo upload is at: https://zenodo.org/record/5117452

[2021-07-20 19:03] oalii commented on #3514
Hi @Nikoleta-v3 ,

I won't be available until last week of August... Sorry, not the best time. But if this delay is acceptable for you, let me know and I'd be happy to help.

All the best.

[2021-07-20 19:05] diehlpk commented on #3311
@whedon recommend-accept

[2021-07-20 19:05] whedon commented on #3311
[code]

[2021-07-20 19:05] whedon commented on #3311
PDF failed to compile for issue #3311 with the following error:
[code]

[2021-07-20 19:05] whedon commented on #3311
[code]

[2021-07-20 19:10] vsoch commented on #3311
It looks like we are getting here:

https://github.com/openjournals/whedon/blob/919a44c1cae3a44f4475db2cd3bbc17b3b3ff721/lib/whedon/bibtex_parser.rb#L82

And the value that we are trying to call encode on is nil.

[2021-07-20 19:10] vsoch commented on #3311
This seems fun let me see if I can reproduce locally.

[2021-07-20 19:14] danielskatz commented on #3311
yes, looks like a problem in a DOI in a citation - is there a bibtex entry with a DOI = {} field?

[2021-07-20 19:16] danielskatz commented on #3311
try changing

to

[2021-07-20 19:16] danielskatz commented on #3311
I also see a

that should say "GitHub"

[2021-07-20 19:17] danielskatz commented on #3311
Also probably remove

                 autamus/binoc",

This isn't causing the error but will confuse the XML that is submitted to crossref

[2021-07-20 19:18] kthorner commented on #3516
@whedon generate pdf

Generating the final version of the PDF so figures display correctly.

[2021-07-20 19:18] danielskatz commented on #3311
similarly, remove the abstract from Wandell2015-yt

[2021-07-20 19:19] danielskatz commented on #3311
actually, I'll make a bunch of changes in a PR

[2021-07-20 19:19] whedon commented on #3516
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03516/joss.03516/10.21105.joss.03516.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03516/joss.03516/10.21105.joss.03516.pdf) :page_facing_up: :point_left:

[2021-07-20 19:22] danielskatz commented on #3311
ok, try merging https://github.com/singularityhub/singularity-hpc/pull/427 and rebuilding

[2021-07-20 19:27] danielskatz commented on #3311
@whedon recommend-accept

trying again now

[2021-07-20 19:27] whedon commented on #3311
[code]

[2021-07-20 19:27] whedon commented on #3311
PDF failed to compile for issue #3311 with the following error:
[code]

[2021-07-20 19:27] whedon commented on #3311
[code]

[2021-07-20 19:28] danielskatz commented on #3311
oh well, seemed like it would work - let me look at the bib again

[2021-07-20 19:30] vsoch commented on #3311
I'm close to being able to debug locally but I'm missing a style file?

[code]
I'll see if I can find it anywhere.

[2021-07-20 19:30] danielskatz commented on #3311
see https://github.com/singularityhub/singularity-hpc/pull/428 - the first DOI was wrong (incomplete)

[2021-07-20 19:31] vsoch commented on #3311
I think what's happening is the DOI is not matching either of the regular expressions.

[2021-07-20 19:31] danielskatz commented on #3311
right - see my PR for why
DOIs should be x/y
this was just y

[2021-07-20 19:36] danielskatz commented on #3311
@whedon recommend-accept

trying again again

[2021-07-20 19:36] whedon commented on #3311
[code]

[2021-07-20 19:37] whedon commented on #3311
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2472

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2472, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-20 19:37] danielskatz commented on #3311
yeah!  Ok, I'll do a final proofread now

[2021-07-20 19:37] vsoch commented on #3311
yay @whedon!

[2021-07-20 19:46] Garyfallidis commented on #3384
Dear @danielskatz your changes have been addressed in this merged pull request https://github.com/fury-gl/fury/pull/464

[2021-07-20 19:52] danielskatz commented on #3311
see https://github.com/singularityhub/singularity-hpc/pull/429 (and note the two comments/questions in the PR) and https://github.com/singularityhub/singularity-hpc/pull/430

[2021-07-20 19:58] danielskatz commented on #3384
@whedon generate pdf

[2021-07-20 19:59] whedon commented on #3384
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03384/joss.03384/10.21105.joss.03384.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03384/joss.03384/10.21105.joss.03384.pdf) :page_facing_up: :point_left:

[2021-07-20 20:00] danielskatz commented on #3311
@whedon recommend-accept

[2021-07-20 20:00] vsoch commented on #3311
both merged!

[2021-07-20 20:00] whedon commented on #3311
[code]

[2021-07-20 20:00] whedon commented on #3311
[code]

[2021-07-20 20:00] whedon commented on #3311
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2473

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2473, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-20 20:05] danielskatz commented on #3384
I think two more small changes are needed - see https://github.com/fury-gl/fury/pull/466

[2021-07-20 20:05] Kevin-Mattheus-Moerman commented on #3190
@whedon assign 10.5281/zenodo.5117452 as archive

[2021-07-20 20:05] whedon commented on #3190
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-20 20:05] Kevin-Mattheus-Moerman commented on #3190
@whedon set 10.5281/zenodo.5117452 as archive

[2021-07-20 20:05] whedon commented on #3190
OK. <a href="https://doi.org/10.5281/zenodo.5117452" target="_blank">10.5281/zenodo.5117452</a> is the archive.

[2021-07-20 20:05] danielskatz commented on #3311
@whedon accept deposit=true

[2021-07-20 20:05] whedon commented on #3311
[code]

[2021-07-20 20:06] whedon commented on #3311
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1417576651106529284) 👈 🐦🐦🐦

[2021-07-20 20:06] whedon commented on #3311
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2474
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03311](https://doi.org/10.21105/joss.03311)
2. If everything look

[2021-07-20 20:08] Garyfallidis commented on #3384
Done and merged. Apologies we missed that.

[2021-07-20 20:08] Garyfallidis commented on #3384
@whedon generate pdf

[2021-07-20 20:08] whedon commented on #3384
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03384/joss.03384/10.21105.joss.03384.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03384/joss.03384/10.21105.joss.03384.pdf) :page_facing_up: :point_left:

[2021-07-20 20:09] danielskatz commented on #3384
@whedon recommend-accept

[2021-07-20 20:09] whedon commented on #3384
No archive DOI set. Exiting...

[2021-07-20 20:09] rcannood commented on #3311
Congratulations @vsoch !!! This publication is more than well deserved :)

[2021-07-20 20:09] danielskatz commented on #3384
@Garyfallidis - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author li

[2021-07-20 20:12] danielskatz commented on #3311
I don't see the paper itself (PDF) at the DOI yet - once I do, I'll close this issue

[2021-07-20 20:33] danielskatz commented on #3311
Congratulations to @vsoch (Vanessa Sochat) and co-author!!

And thanks to @rcannood, @zbeekman and @ArangoGutierrez for reviewing, and @diehlpk for editing!

[2021-07-20 20:33] #3311 closed

[2021-07-20 20:33] whedon commented on #3311
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03311/status.svg)](https://doi.org/10.21105/joss.03311)

**We need your help!**

Journal of Open Source Softwa

[2021-07-20 20:45] Kevin-Mattheus-Moerman commented on #3190
@SunilAnandatheertha

Thanks for implementing many of those points

- [ ] Check above several boxes remain unticked
- [ ] Please edit the ZENODO archive so that the license matches [your BSD 3-Clause License](https://github.com/SunilAnandatheertha/PXO/blob/main/LICENSE.md).
- [ ] On the ZENODO archive please remove the `Rights holder(s)` field
- [ ] The version tag should be one of the following:

[2021-07-20 20:45] Kevin-Mattheus-Moerman commented on #3190
@whedon set V10.1.0 as version

[2021-07-20 20:45] whedon commented on #3190
OK. V10.1.0 is the version.

[2021-07-20 20:54] dfm commented on #3484
@MatthewReid854: Thanks for the question! Our main focus for this review is on the usage instructions and documentation. It's good to check the functionality claims (e.g. does the code run and give the expected results and performance), but you're definitely not expected to do a full code review. It sounds to me like you've done your due diligence, but let us know if there's anything else missing

[2021-07-20 20:58] dridk commented on #3457
Hi @wdecoster ,
I reformulated a bit the paper to have the required section.

Hi @tobiasrausch
I added the contributions section here :
https://github.com/labsquare/CutePeaks#contributions--bugs

For testing, I don't know if it is enough, but I compile the code each time from github action.

[2021-07-20 21:04] iammix commented on #3514
@Nikoleta-v3 Okay, time period sounds good to me. I can do the review.

[2021-07-20 21:11] elbeejay commented on #3442
@whedon assign @elbeejay as editor

[2021-07-20 21:11] whedon commented on #3442
OK, the editor is @elbeejay

[2021-07-20 21:23] elbeejay commented on #3442
Hi @ebocher, is there API documentation somewhere in your wiki? One of the [JOSS review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html#api-documentation) is for the software to have some documentation of at least the core API functions. I apologize if I've missed seeing it in the wiki.

Secondly, can you recommend any reviewers that would be a good fit to review this work? A

[2021-07-20 21:53] elbeejay commented on #3436
Hi @PTierz, thank you for this explanation and thoughtful response.

I do not doubt the usefulness of the software for the community, however I still struggle slightly with the submitted software lacking the foundational computations which create the analog matrices, as well as the lack of [API documentation](https://joss.readthedocs.io/en/latest/review_criteria.html#api-documentation).

Given you

[2021-07-20 21:53] elbeejay commented on #3436
@whedon query scope

[2021-07-20 21:53] whedon commented on #3436
Submission flagged for editorial review.

[2021-07-20 23:06] fAndreuzzi commented on #3493
@whedon generate pdf

[2021-07-20 23:07] whedon commented on #3493
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03493/joss.03493/10.21105.joss.03493.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03493/joss.03493/10.21105.joss.03493.pdf) :page_facing_up: :point_left:

[2021-07-20 23:31] kbarnhart commented on #2276
@r-barnes a friendly reminder to revisit this review as you are able.

[2021-07-20 23:52] jonjoncardoso commented on #3493
Yes, you can count me in for the review

[2021-07-21 00:05] emdupre commented on #3421
Thank you @jdtournier @Lestropie and @grlee77 for letting me know !

[2021-07-21 00:45] rusu24edward commented on #3424
Thanks for the reviews! I will try to address each of these points by the end of the week.

[2021-07-21 01:16] diehlpk commented on #3465
Hey @taless474 how is your review going?

[2021-07-21 01:20] rusu24edward commented on #3424
@seba-1511 Regarding your comment on other popular software that can be addressed, I'd be happy to include more discussion on comparisons with popular software, but I think it's important to clarify the suggestions you made as it will shed light on what ABMARL targets. Reinforcement learning has two components: simulation and algorithm (also commonly referred to as environment and agent). Our soft

[2021-07-21 04:25] expectopatronum commented on #3326
@fzalkow Thanks as well, it was nice working with you! Congrats on your paper!

[2021-07-21 04:33] rusu24edward commented on #3424
@seba-1511 Thanks for bringing this to my attention. I just ran a fresh virtual environment and did not get any error. We technically specify that python 3.7+ is required, can you try this again with python3.7?

[2021-07-21 04:47] mdbartos commented on #3332
Greetings,

Thanks for your help. Unfortunately, the link doesn't seem to work for me.

I've completed all the checklist items that I can complete. Unfortunately, I am not sure that I will be able to complete all aspects of the review at this time. The package is Windows-only (https://github.com/psu-efd/pyHMT2D/issues/4), and also requires access to external software that is only supported in Wind

[2021-07-21 05:26] rusu24edward commented on #3424
@abhiramm7 I've added links to the tutorials as you suggested.
I wasn't sure exactly what you meant for the dependency note in the installation instructions. Please take a look at [this PR](https://github.com/LLNL/Abmarl/pull/174) and let me know if this is what you had in mind.

[2021-07-21 06:06] adithirgis commented on #3435
@whedon generate pdf

[2021-07-21 06:06] whedon commented on #3435
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: :point_left:

[2021-07-21 06:51] MatthewReid854 commented on #3484
I am satisfied that the SurPyval python library functions as claimed in this paper. My testing is limited to the claims made in this paper and did not involve a thorough test of every function within the library.
I believe that the documentation is clear enough for a new user to become familiar with the API, though it could be improved with more examples and the inclusion of all required code in e

[2021-07-21 07:07] ebocher commented on #3442
Hi @elbeejay ,

Thanks for the comments.
All GeoClimate algorithms are documented in the code using the javadoc syntax. Here you have an example : https://github.com/orbisgis/geoclimate/blob/master/geoindicators/src/main/groovy/org/orbisgis/geoclimate/geoindicators/BlockIndicators.groovy#L12

About potential reviewers there are  sjsrey, nuest, sgrieve, hugoledoux.

Note I will be OoO until middle

[2021-07-21 08:33] piyalkarum commented on #3512
I find "amoeba" and "rmflight" as two potential reviewers.

[2021-07-21 08:35] piyalkarum commented on #3512
@whedon check references
@whedon generate pdf

[2021-07-21 08:35] whedon commented on #3512
[code]

[2021-07-21 08:37] piyalkarum commented on #3512
@whedon generate pdf

[2021-07-21 08:37] whedon commented on #3512
PDF failed to compile for issue #3512 with the following error:
[code]

[2021-07-21 08:44] jakobbossek commented on #3393
Thanks for this package. I think it is of scientific interest for a good part of R users.

I agree with all minor points for improvement raised by @MatthewSmith430
Furthermore, I believe that the API/function documentation can be improved (see easystats/see#178) and in particular argument checks are missing throughout the package (see easystats/see#175). The latter is IMHO a problem in most R pack

[2021-07-21 08:50] xuanxu commented on #3494
@whedon Assign me as editor

[2021-07-21 08:50] whedon commented on #3494
OK, the editor is @xuanxu

[2021-07-21 08:50] IndrajeetPatil commented on #3393
Daniel can respond to this as well, but I just want to address the biggest concern you've raised here:

This is **by choice**. Both `README` and the _JOSS_ paper are supposed to provide a quick overview about the package design and functionality, and we want to be as **consistent** across these two documents as possible. Because not everyone who is going to read the `README` document is also going

[2021-07-21 08:52] xuanxu commented on #3511
@danielskatz sorry, right now I can't take this one

[2021-07-21 08:55] piyalkarum commented on #3512
@whedon generate pdf

[2021-07-21 08:55] whedon commented on #3512
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03512/joss.03512/10.21105.joss.03512.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03512/joss.03512/10.21105.joss.03512.pdf) :page_facing_up: :point_left:

[2021-07-21 08:56] whedon commented on #3456
:wave: @corneliusfritz, please update us on how your review is going (this is an automated reminder).

[2021-07-21 08:56] whedon commented on #3456
:wave: @jonjoncardoso, please update us on how your review is going (this is an automated reminder).

[2021-07-21 08:58] piyalkarum commented on #3512
@whedon commands

[2021-07-21 08:58] whedon commented on #3512
Here are some things you can ask me to do:

[code]

[2021-07-21 08:58] piyalkarum commented on #3512
@whedon check repository

[2021-07-21 08:58] whedon commented on #3512
Wordcount for `paper.md` is 758

[2021-07-21 08:58] whedon commented on #3512
[code]

[2021-07-21 09:38] fAndreuzzi commented on #3493
@whedon generate pdf

[2021-07-21 09:39] whedon commented on #3493
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03493/joss.03493/10.21105.joss.03493.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03493/joss.03493/10.21105.joss.03493.pdf) :page_facing_up: :point_left:

[2021-07-21 09:50] kasasxav commented on #3394
Hi @uelle, thank you for your feedback!

## Functionality
The issue [kasasxav/ImSwitch#59](https://github.com/kasasxav/ImSwitch/issues/59) is now addressed, thank you for bringing it up.

## State of the field
We totally agree with your points, ImSwitch aims at providing a solution for microscopy in general but in practice we support specifically light-based microscopy. I have added a sentence in

[2021-07-21 09:56] piyalkarum commented on #3512
@whedon check repository

[2021-07-21 09:56] whedon commented on #3512
Wordcount for `paper.md` is 758

[2021-07-21 09:56] whedon commented on #3512
[code]

[2021-07-21 10:02] kasasxav commented on #3394
You can check the latest documentation at https://imswitch.readthedocs.io/en/latest/

[2021-07-21 10:32] richardjgowers commented on #3469
@whedon add @lilyminium as reviewer

[2021-07-21 10:32] whedon commented on #3469
OK, @lilyminium is now a reviewer

[2021-07-21 10:38] richardjgowers commented on #3469
@ojeda-e @blakeaw would you be interested in reviewing this?

[2021-07-21 10:41] whedon commented on #3457
:wave: @tobiasrausch, please update us on how your review is going (this is an automated reminder).

[2021-07-21 10:41] whedon commented on #3457
:wave: @wdecoster, please update us on how your review is going (this is an automated reminder).

[2021-07-21 10:47] tobiasrausch commented on #3457
Hi @dridk, I think GitHub defaults to a contributing.md file in case you want to add this. Here is the [link for your repo](https://github.com/labsquare/CutePeaks/community). Did you have a chance to check your regex in the paper? I believe this should be AC+T and not AC.+T from the examples you show afterwards.

[2021-07-21 12:19] danielskatz commented on #3393
@IndrajeetPatil - @fboehm is the editor so he should respond.  I'm the AEiC on duty this week, and when I'm on duty if I see something easy to take care of, like re-inviting a reviewer whose invitation has expired, I tend to do it.

[2021-07-21 12:26] IndrajeetPatil commented on #3393
@danielskatz Oops, sorry for the confusion.

When I said,

I was referring to Daniel Lüdecke (first author on our paper) 🙈

[2021-07-21 12:26] danielskatz commented on #3511
@finagle29 - I'm going to put this on our waiting list until a suitable editor is available.

[2021-07-21 12:27] whedon opened #3517 "[PRE REVIEW]: WODEN: A CUDA-enabled package to simulate low-frequency radio interferometric data"
**Submitting author:** @JLBLine (<a href="http://orcid.org/0000-0002-9130-5920">Jack L. B. Line</a>)
**Repository:** <a href="https://github.com/JLBLine/WODEN" target ="_blank">https://github.com/JLBLine/WODEN</a>
**Version:** v1.0.0
**Editor:** @dfm
**Reviewers:** @plaplant, @mkolopanis
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2021-07-21 12:27] whedon commented on #3517
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-21 12:27] whedon opened #3518 "[PRE REVIEW]: Luci: A Python package for SITELLE spectral analysis"
**Submitting author:** @crhea93 (<a href="http://orcid.org/0000-0003-2001-1076">Carter Rhea</a>)
**Repository:** <a href="https://github.com/crhea93/LUCI" target ="_blank">https://github.com/crhea93/LUCI</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic,

[2021-07-21 12:27] whedon commented on #3518
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-21 12:27] whedon commented on #3517
Wordcount for `paper.md` is 1091

[2021-07-21 12:27] whedon commented on #3517
[code]

[2021-07-21 12:28] whedon commented on #3517
[code]

[2021-07-21 12:28] whedon commented on #3518
Failed to discover a `Statement of need` section in paper

[2021-07-21 12:28] whedon commented on #3518
Wordcount for `paper.md` is 925

[2021-07-21 12:28] whedon commented on #3518
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "@" (AT) [#<BibTeX::Bibliography data=[4]>, "@", #<BibTeX::Entry >, {:title=>["{ORBS}: A data reduction software for the imaging Fourier transform spectrometers {SpIOMM} and {SITELLE}"], :volume=>["8451"], :url=>["https://www.spiedigitallibrary.org/conference-proceedings-of-spie/8451/84513K/ORBS--A-data-

[2021-07-21 12:28] whedon commented on #3517
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03517/joss.03517/10.21105.joss.03517.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03517/joss.03517/10.21105.joss.03517.pdf) :page_facing_up: :point_left:

[2021-07-21 12:28] whedon commented on #3518
[code]

[2021-07-21 12:28] whedon commented on #3518
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03518/joss.03518/10.21105.joss.03518.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03518/joss.03518/10.21105.joss.03518.pdf) :page_facing_up: :point_left:

[2021-07-21 12:40] danielskatz commented on #3518
👋 @openjournals/dev  - any ideas on the bib problem here?

[2021-07-21 12:45] danielskatz commented on #3518
👋 @crhea93 - Thanks for your submission - due to a lack of available editors in the topic area, I'm going to put it on our waiting list, hopefully just for a short time.  Also note that we need to have an explicit Statement of Need section in the paper, so please add one, and then use `@whedon generate pdf` as the first line in a new comment to regenerate the PDF

[2021-07-21 12:47] danielskatz commented on #3518
Also, the comment in the paper "At her heart, LUCI is nothing more than a wrapper for a scipy.optimize.minimize function call" concerns me a little, so I'm going to ask other editors to look at the scope of this to ensure it is suitable for review by JOSS.

[2021-07-21 12:47] danielskatz commented on #3518
@whedon scope check

[2021-07-21 12:47] whedon commented on #3518
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-21 12:48] danielskatz commented on #3518
@whedon scope queury

[2021-07-21 12:48] whedon commented on #3518
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-21 12:48] danielskatz commented on #3518
@whedon query scope

[2021-07-21 12:48] whedon commented on #3518
Submission flagged for editorial review.

[2021-07-21 12:50] danielskatz commented on #3517
@JLBLine - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

[2021-07-21 13:01] psu-efd commented on #3332
Hi Matt,

Thanks for reviewing this work. How about virtual machine?

Xiaofeng Liu

From: Matt Bartos ***@***.***>
Sent: Wednesday, July 21, 2021 12:47 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Dr. Xiaofeng Liu, Environmental Fluid Dynamics Group, Penn State University ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: pyHMT2D: Python-based two-dimensiona

[2021-07-21 13:42] ojeda-e commented on #3469
Yes, absolutely @richardjgowers Sounds great.

[2021-07-21 13:43] CFGrote commented on #2976
@Isurwars, I can't find some of the changes you list in your review response (such as the configure script) in the main branch. Shall I wait until you pushed everything to main?

[2021-07-21 13:44] crhea93 commented on #3518
@danielskatz Thank you for the information! I will add the  Statement of Need.

As for the comment, it was perhaps a gross oversimplification, but the essence of all fitting code is a single function call to fit a spectrum. That being said, LUCI does a considerable amount of work to get the spectra into the proper format (including several steps of corrections) and a large amount of post-processin

[2021-07-21 13:49] wesleyburr commented on #2694
@tystan - how's it going?

[2021-07-21 13:57] richardjgowers commented on #3469
@whedon add @ojeda-e as reviewer

[2021-07-21 13:57] whedon commented on #3469
OK, @ojeda-e is now a reviewer

[2021-07-21 14:10] CFGrote commented on #2976
@whedon generate pdf from branch Testing

[2021-07-21 14:10] whedon commented on #2976
[code]

[2021-07-21 14:11] whedon commented on #2976
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02976/joss.02976/10.21105.joss.02976.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02976/joss.02976/10.21105.joss.02976.pdf) :page_facing_up: :point_left:

[2021-07-21 14:22] whedon commented on #3458
:wave: @jamesrhester, please update us on how your review is going (this is an automated reminder).

[2021-07-21 14:22] whedon commented on #3458
:wave: @hungpham2017, please update us on how your review is going (this is an automated reminder).

[2021-07-21 14:27] CFGrote commented on #2976
My 2nd round of review comments are here: https://github.com/Isurwars/Correlation/issues/7#issuecomment-884233704 with links to issues for each comment.

[2021-07-21 15:06] kthyng commented on #3332
@mdbartos Do you have multiple github accounts? If so make sure you are signed into the one associated with this review when clicking on the link and working on the review. If there is still an issue I'll ask for help.

@mdbartos and @psu-efd: Will a virtual machine approach work? Or something like Binder? The limitation of this being able to run in Windows only should be clear in the readme as we

[2021-07-21 15:14] Garyfallidis commented on #3384
Sounds good. Working on the different steps.

[2021-07-21 15:30] Nikoleta-v3 commented on #3514
Thank you all very much for getting back to me!

[2021-07-21 15:32] Nikoleta-v3 commented on #3514
whedon assign @iammix as reviewer

[2021-07-21 15:35] majensen commented on #3440
@sara-02 - are you still available to review [this work](#3440) for JOSS? Please let me know and rough idea of timeframe. Thank you for your willingness to review!

[2021-07-21 15:35] Nikoleta-v3 commented on #3514
@whedon assign @iammix as reviewer

[2021-07-21 15:36] whedon commented on #3514
OK, @iammix is now a reviewer

[2021-07-21 15:36] majensen commented on #3197
:wave: @felipeZ - can you ping here on your progress? Thank you!

[2021-07-21 15:37] majensen commented on #3173
:wave: @tresoldi - hoping to hear from you soon; thanks!

[2021-07-21 15:37] majensen commented on #3431
thanks @danielskatz

[2021-07-21 15:40] Nikoleta-v3 commented on #3513
👋 @ajoer & @soodoku & @alexhanna & @cmaimone would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "Taguette: open-source qualitative data analysis". You can find more information at the

[2021-07-21 15:46] soodoku commented on #3513
hola, @Nikoleta-v3! love the intent behind the package. i don't think i have the right skills to review this package well so i am going to pass. but thank you for pinging me!

[2021-07-21 16:04] lutzhamel commented on #3491
@fabian-s

I believe I have addressed all the issues raised and adjusted the repository appropriately.

* please add proper dependency management ("Imports:", "Suggests:", ...) and namespace directives to the package

* add the missing DOIs (see whedon bot output above) to your paper

* use a suitable LICENSE for the package

* add a CONTRIBUTING file and/or community guidelines to the repository

[2021-07-21 16:12] alexhanna commented on #3513
Ooh I'm quite familiar with Taguette -- actually yes, I can do this.

On Wed, Jul 21, 2021 at 8:46 AM soodoku ***@***.***> wrote:

--
Alex Hanna, PhD
alex-hanna.com
Senior Research Scientist | Google
Lecturer | UC Berkeley School of Information

[2021-07-21 16:17] psu-efd commented on #3332
I think a virtual machine should work. Binder will not work. This package is developed to help run 2D hydraulics models, which currently support U.S. Army Corps of Engineer's HEC-RAS and U.S. Bureau of Reclamation's SRH-2D. Both only run on Windows because they are used by engineers and practitioners.

I will highlight in the README and the User Manual that currently only Windows is supported (thi

[2021-07-21 16:55] mjsottile commented on #3493
Hi @fAndreuzzi  : let me know when you've finished updating the paper so I can start the review.

[2021-07-21 17:03] kthyng commented on #3332
The user manual currently specifically says that it works with Mac and Linux, and of course the point of a user manual is to help new users figure out how to use your software including whether they should be using it at all. Same for the JOSS paper.

I think it is a valid argument that engineers tend to use Windows, but certainly that doesn't mean the software should by definition only run on Win

[2021-07-21 17:12] fAndreuzzi commented on #3493
Hi @mjsottile, I finished updating the paper, let me know if there's something else I should do.

[2021-07-21 17:53] crhea93 commented on #3518
I've updated that particular sentence to reflect my previous statement.

[2021-07-21 17:53] crhea93 commented on #3518
@whedon generate pdf

[2021-07-21 17:53] whedon commented on #3518
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03518/joss.03518/10.21105.joss.03518.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03518/joss.03518/10.21105.joss.03518.pdf) :page_facing_up: :point_left:

[2021-07-21 18:12] mjsottile commented on #3493
@whedon assign @zoometh as reviewer

[2021-07-21 18:12] whedon commented on #3493
OK, @zoometh is now a reviewer

[2021-07-21 18:12] mjsottile commented on #3493
@whedon add @mschordan as reviewer

[2021-07-21 18:12] whedon commented on #3493
OK, @mschordan is now a reviewer

[2021-07-21 18:13] mjsottile commented on #3493
@whedon add @jonjoncardoso as reviewer

[2021-07-21 18:13] whedon commented on #3493
OK, @jonjoncardoso is now a reviewer

[2021-07-21 18:13] mjsottile commented on #3493
@whedon start review

[2021-07-21 18:13] whedon opened #3519 "[REVIEW]: BisPy: Bisimulation in Python"
**Submitting author:** @fAndreuzzi (<a href="http://orcid.org/0000-0002-9508-7801">Francesco Andreuzzi</a>)
**Repository:** <a href="https://github.com/fAndreuzzi/BisPy" target ="_blank">https://github.com/fAndreuzzi/BisPy</a>
**Version:** v0.2.3
**Editor:** @mjsottile
**Reviewers:** @jonjoncardoso, @mschordan, @zoometh
**Archive:** <a href="https://doi.org/10.5281/zenodo.5532910" target="_blank">

[2021-07-21 18:13] whedon commented on #3493
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3519.

[2021-07-21 18:13] #3493 closed

[2021-07-21 18:13] whedon commented on #3519
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zoometh, @mschordan, @jonjoncardoso it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blo

[2021-07-21 18:13] whedon commented on #3519
Wordcount for `paper.md` is 988

[2021-07-21 18:13] whedon commented on #3519
[code]

[2021-07-21 18:13] whedon commented on #3519
[code]

[2021-07-21 18:14] whedon commented on #3519
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03519/joss.03519/10.21105.joss.03519.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03519/joss.03519/10.21105.joss.03519.pdf) :page_facing_up: :point_left:

[2021-07-21 19:07] cmaimone commented on #3513
Yes, I can review this

[2021-07-21 19:11] praneet1988 commented on #3516
@whedon generate pdf

[2021-07-21 19:41] psu-efd commented on #3332
That is a good point. I have temporally changed the README to point out that if the user wants to run 2D models on Windows, then they have to install and use pyHMT2D on Windows. There are other 2D models (currently not supported) which can run on Linux and Mac. pyHMT2D can be used on Linux and Mac because it is a python library and the python code itself can be run on any OS. That is why on Page 6

[2021-07-21 19:56] kthyng commented on #3332
@psu-efd For the review process, the reviewers need to actually run your software. So, either you need to make it really easy for @mdbartos to do this with a virtual machine setup or another approach (by giving clear step-by-step instructions, etc), or we need to add another reviewer who can run the windows-based software. Please remember that the reviewers are volunteering their time to improve y

[2021-07-21 19:58] mdbartos commented on #3332
Another solution could be to include pre-compiled binaries for different platforms, like PySWMM does with the EPA stormwater management model (https://github.com/OpenWaterAnalytics/pyswmm).

Not sure about whether USBR or USACE provide access to source code though.

[2021-07-21 19:58] Kevin-Mattheus-Moerman commented on #3255
@bhajay can you provide an update about how you are getting on with this review? Thanks

[2021-07-21 20:16] whedon commented on #3516
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03516/joss.03516/10.21105.joss.03516.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03516/joss.03516/10.21105.joss.03516.pdf) :page_facing_up: :point_left:

[2021-07-21 20:28] psu-efd commented on #3332
I totally understand this. @mdbartos You don't have access to Windows computer at all? If that is the case, I think the last resort is to use cloud computing service such as AWS. They provide free tier Windows instance.

@kthyng: I know the review process sometime can get unexpected issues. If @mdbartos can't use Windows, we may have to find another reviewer.

[2021-07-21 20:31] psu-efd commented on #3332
pyHMT2D is something similar to PySWMM. But pyHMT2D itself does not contain the model code. Unfortunately both HEC-RAS and SRH-2D are closed source. So I can't compile them into a library as part of pyHMT2D.

[2021-07-21 20:36] giswqs commented on #3414
@whedon generate pdf

[2021-07-21 20:36] whedon commented on #3414
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03414/joss.03414/10.21105.joss.03414.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03414/joss.03414/10.21105.joss.03414.pdf) :page_facing_up: :point_left:

[2021-07-21 20:42] giswqs commented on #3414
@martinfleis @TomasBeuzen Thank you again for your constructive comments. I have revised the repo, documentation and paper based on your comments. You can check out the commit history referenced in https://github.com/giswqs/leafmap/issues/83. Each commit addresses one of your comments, in no particular order. Please review it and let me know if you have any further concerns. Thank you very much fo

[2021-07-21 21:21] arfon commented on #3518
@whedon check references

[2021-07-21 21:22] whedon commented on #3518
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "@" (AT) [#<BibTeX::Bibliography data=[4]>, "@", #<BibTeX::Entry >, {:title=>["{ORBS}: A data reduction software for the imaging Fourier transform spectrometers {SpIOMM} and {SITELLE}"], :volume=>["8451"], :url=>["https://www.spiedigitallibrary.org/conference-proceedings-of-spie/8451/84513K/ORBS--A-data-

[2021-07-21 21:33] blakeaw commented on #3469
Sure, @richardjgowers.

[2021-07-21 21:34] arfon commented on #3518
Something in the BibTeX is tripping up Whedon. Removing [this line](https://github.com/crhea93/LUCI/blob/main/Luci.bib#L80) from `Luci.bib` should fix things.

[2021-07-21 22:52] dridk commented on #3457
@tobiasrausch Oups.. didn't see the wrong regexp.. I just fixed it  !

[2021-07-22 07:25] tobiasrausch commented on #3457
@whedon generate pdf

[2021-07-22 07:25] whedon commented on #3457
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03457/joss.03457/10.21105.joss.03457.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03457/joss.03457/10.21105.joss.03457.pdf) :page_facing_up: :point_left:

[2021-07-22 07:29] strengejacke commented on #3393
Sorry for being so quiet here - I was on vacation, so my co-authors took the opportunity to address your raised issues. Let me briefly respond to your points, to summarize what we have done so far.

@MatthewSmith430 thank you for your review. Here are our replies:

_It would be very useful to clarify whether it is possible to edit the parameter names in the plots; this is related to the examples p

[2021-07-22 07:32] strengejacke commented on #3393
@jakobbossek I will work on your raised issues and respond in this thread later.

[2021-07-22 07:38] wdecoster commented on #3457
I think for a tool like this the best automated testing is testing if it compiles - so I think that requirement is fulfilled.

[2021-07-22 07:41] strengejacke commented on #3393
@whedon generate pdf

[2021-07-22 07:42] whedon commented on #3393
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03393/joss.03393/10.21105.joss.03393.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03393/joss.03393/10.21105.joss.03393.pdf) :page_facing_up: :point_left:

[2021-07-22 07:58] tresoldi commented on #3173
@majensen sorry I have been so much out of touch. I am able to get back to it now, I have now planned to submit the reviewed draft by tomorrow (Friday) evening.

[2021-07-22 08:04] igarizio commented on #3203
@timtroendle My apologies for the delay. Everything has been resolved ✔️

[2021-07-22 08:07] adithirgis commented on #3435
@whedon generate pdf

[2021-07-22 08:09] whedon commented on #3435
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: :point_left:

[2021-07-22 08:40] felipeZ commented on #3197
@majensen I am starting a new job outside academia and I would like to have some more time to address the issues that the reviewers have raised.

[2021-07-22 08:40] leouieda commented on #3327
👋🏽 hi @joergbuchwald this submission is a little bit unusual since it is reporting on two separate software packages. I've been reading through your paper and project documentation to get a better idea for both of them. Could you please briefly explain your reasoning for including both of them in a single paper? To be clear, this is unusual but not prohibited so I'm just trying to better understan

[2021-07-22 08:47] whedon commented on #3459
:wave: @robbisg, please update us on how your review is going (this is an automated reminder).

[2021-07-22 08:47] whedon commented on #3459
:wave: @PeerHerholz, please update us on how your review is going (this is an automated reminder).

[2021-07-22 08:48] whedon commented on #3460
:wave: @EricaEgg, please update us on how your review is going (this is an automated reminder).

[2021-07-22 08:48] whedon commented on #3460
:wave: @kanderso-nrel, please update us on how your review is going (this is an automated reminder).

[2021-07-22 09:28] volcan01010 commented on #3436
Hi @elbeejay, thank you for reviewing our submission,

Since the original submission we have restructured our README.md and created the [wiki](https://github.com/BritishGeologicalSurvey/pyvolcans/wiki) page.

The aim of PyVOLCANS is to allow relatively non-technical users the query the analogy matrix data files, so the only real user-facing API is the command-line interface.  The description of th

[2021-07-22 09:51] joergbuchwald commented on #3327
Hi @leouieda thank you for the question. Both packages evolved together as pre- and post-processing utils for OGS. However, the application field of VTUinterface is somewhat broader, as also other simulation software are using VTU and PVD as output formats, so it made sense for us to have separate packages. For this paper, the original idea was to sell the pre- and postprocessing of OGS in python

[2021-07-22 11:47] Nikoleta-v3 commented on #3513
@whedon assign @alexhanna  as reviewer

[2021-07-22 11:47] whedon commented on #3513
OK, @alexhanna  is now a reviewer

[2021-07-22 11:48] Nikoleta-v3 commented on #3513
@whedon add @cmaimone as reviewer

[2021-07-22 11:48] whedon commented on #3513
OK, @cmaimone is now a reviewer

[2021-07-22 12:29] danielskatz commented on #3436
Just to interject as one of the JOSS AEiCs, the JOSS concern about API documentation is related to the fact that this is open source software where we hope that others developers will contribute to and use the software or elements of it, not just as end users.  So please don't think of our API documentation review criterion as entirely user-facing.

[2021-07-22 12:39] jonjoncardoso opened #3520 "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

[2021-07-22 12:39] whedon commented on #3520
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-22 12:44] #3520 closed

[2021-07-22 12:46] adithirgis commented on #3435
@whedon generate pdf

[2021-07-22 12:47] jonjoncardoso commented on #3456
The only thing I missed was a `CONTRIBUTING.md` file or an equivalent section on the README to highlight how people could contribute to the code so as to the journal's documentation checklist:

Other than that, all good from my side. I've managed to install, follow the examples and generate some .gexf files myself.

I have used rgexf in the past for a netviz project and I remember it being very us

[2021-07-22 13:04] richardjgowers commented on #3469
@whedon add @blakeaw as reviewer

[2021-07-22 13:04] whedon commented on #3469
OK, @blakeaw is now a reviewer

[2021-07-22 13:05] richardjgowers commented on #3469
@whedon start review

[2021-07-22 13:05] whedon opened #3521 "[REVIEW]: buildH: Build hydrogen atoms from united-atom molecular dynamics of lipids and calculate the order parameters"
**Submitting author:** @patrickfuchs (<a href="http://orcid.org/0000-0001-7117-994X">Patrick Fuchs</a>)
**Repository:** <a href="https://github.com/patrickfuchs/buildH" target ="_blank">https://github.com/patrickfuchs/buildH</a>
**Version:** v1.6
**Editor:** @richardjgowers
**Reviewer:** @lilyminium, @ojeda-e, @blakeaw
**Archive:** <a href="https://doi.org/10.5281/zenodo.5356246" target="_blank">1

[2021-07-22 13:05] whedon commented on #3469
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3521.

[2021-07-22 13:05] #3469 closed

[2021-07-22 13:05] whedon commented on #3521
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lilyminium, @ojeda-e, @blakeaw it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2021-07-22 13:09] crhea93 commented on #3518
@arfon I have updated the bib file. Thank you immensely for diagnosing that issue!

[2021-07-22 13:15] Nikoleta-v3 commented on #3513
@whedon start review

[2021-07-22 13:15] whedon opened #3522 "[REVIEW]: Taguette: open-source qualitative data analysis"
**Submitting author:** @remram44 (<a href="http://orcid.org/0000-0002-0524-2282">Rémi Rampin</a>)
**Repository:** <a href="https://gitlab.com/remram44/taguette" target ="_blank">https://gitlab.com/remram44/taguette</a>
**Version:** 1.1.1
**Editor:** @Nikoleta-v3
**Reviewers:**  @cmaimone, @vaneseltine
**Archive:** <a href="https://doi.org/10.5281/zenodo.5574555" target="_blank">10.5281/zenodo.5574

[2021-07-22 13:15] whedon commented on #3513
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3522.

[2021-07-22 13:15] #3513 closed

[2021-07-22 13:15] whedon commented on #3522
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alexhanna , @cmaimone it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-07-22 13:18] brunaw commented on #3326
@fzalkow No problem at all, it was a pleasure, congrats on the excellent work 😊

[2021-07-22 13:29] Nikoleta-v3 commented on #3522
👋🏼 @remram44 @alexhanna  @cmaimone this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements 🆙  As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from mo

[2021-07-22 13:34] adithirgis commented on #3435
@whedon generate pdf

[2021-07-22 13:39] jbytecode commented on #3448
@koaning the example code added in the paper overfits the page so
- please refactor the code so that it doesn't overflow the width of the paper.
- please use a space before and after a binary operator, so the code will be more readable, for example `a=b` become `a = b`.
- please test your pdf using https://whedon.theoj.org/ before trig `whedon generate pdf` here.

[2021-07-22 13:47] jbytecode commented on #3468
Hi @mseri 👋👋👋

Would you be willing to assist in reviewing this submission for JOSS (Journal of Open Source Software) ?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "NoisySignalIntegration.jl: A Julia package for uncertainty evaluation of numeric integrals". You can find more information at the top of this Github issue (https://gith

[2021-07-22 13:48] fabian-s commented on #3491
@lutzhamel thanks, sounds reasonable!

[2021-07-22 13:51] emdupre commented on #3421
@agahkarakuzu @matteomancini Thanks again for agreeing to review this submission. I'll go ahead and start the review now !

[2021-07-22 13:51] fabian-s commented on #3491
@whedon generate pdf

[2021-07-22 13:51] emdupre commented on #3421
@whedon start review

[2021-07-22 13:51] whedon opened #3523 "[REVIEW]: Madym: A C++ toolkit for quantitative DCE-MRI analysis"
**Submitting author:** @michaelberks (<a href="http://orcid.org/0000-0003-4727-2006">Michael Berks</a>)
**Repository:** <a href="https://gitlab.com/manchester_qbi/manchester_qbi_public/madym_cxx/" target ="_blank">https://gitlab.com/manchester_qbi/manchester_qbi_public/madym_cxx/</a>
**Version:** v4.15.0
**Editor:** @emdupre
**Reviewer:** @agahkarakuzu, @matteomancini
**Archive:** Pending

**:warn

[2021-07-22 13:51] whedon commented on #3421
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3523.

[2021-07-22 13:51] #3421 closed

[2021-07-22 13:51] whedon commented on #3523
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @agahkarakuzu, @matteomancini it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-07-22 13:54] fabian-s commented on #3491
:wave: @rcannood & @HerrMo, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-07-22 14:13] nicoguaro commented on #3482
@richardjgowers, do you have a proposed time frame for this review?

[2021-07-22 14:17] KirstensGitHub commented on #3270
@McGregor14 can you advise?

[2021-07-22 14:20] rcannood commented on #3491
I would love to review this submission as the topic interests me greatly. However, I'm currently out of office and would only be back on the 2nd of august; I can probably finish reviewing by August 7th. Would that be okay?

[2021-07-22 14:25] richardjgowers commented on #3482
@nicoguaro we usually aim to get reviews done within 6 weeks at the most

[2021-07-22 14:27] fabian-s commented on #3491
@rcannood sure, that's fine! thanks for taking this on.

[2021-07-22 14:28] whedon commented on #3491
OK, @rcannood is now a reviewer

[2021-07-22 15:24] HerrMo commented on #3491
@fabian-s I am happy to review the submission

[2021-07-22 15:49] fabian-s commented on #3491
thanks for taking this on, @HerrMo

[2021-07-22 15:49] fabian-s commented on #3491
@whedon add @HerrMo as reviewer

[2021-07-22 15:49] whedon commented on #3491
OK, @HerrMo is now a reviewer

[2021-07-22 15:50] fabian-s commented on #3491
@whedon start review

[2021-07-22 15:50] whedon opened #3524 "[REVIEW]: popsom: A Very Efficient Implementation of Self-Organizing Maps with Starburst Visualizations for R"
**Submitting author:** @lutzhamel (<a href="http://orcid.org/0000-0002-2302-3358">Lutz Hamel</a>)
**Repository:** <a href="https://github.com/lutzhamel/popsom" target ="_blank">https://github.com/lutzhamel/popsom</a>
**Version:** v5.2
**Editor:** @fabian-s
**Reviewer:** @rcannood, @HerrMo
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2021-07-22 15:50] whedon commented on #3491
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3524.

[2021-07-22 15:50] #3491 closed

[2021-07-22 15:50] whedon commented on #3524
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rcannood, @HerrMo it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-07-22 15:52] fabian-s commented on #3524
👋🏼 @HerrMo @rcannood this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other journal

[2021-07-22 15:52] fabian-s commented on #3524
@whedon generate pdf

[2021-07-22 17:47] ziotom78 commented on #3497
@jamesrhester , I am posting this here instead of opening an issue, because this is mostly relevant in the context of this review. I am not able to find any information about how to contribute to your code (see the point «**Community guidelines**» in the checklist and the [JOSS guide](https://joss.readthedocs.io/en/latest/review_criteria.html#community-guidelines)).

[2021-07-22 17:51] dfm commented on #3402
@whedon assign @ZedThree as reviewer

@ZedThree has agreed to review this submission - thanks Peter! Please let me know if you have any questions as we progress.

I'm still working on finding a second reviewer and I'll get the review started as soon as we get our second volunteer. Thanks all for your patience!

[2021-07-22 17:51] whedon commented on #3402
OK, @ZedThree is now a reviewer

[2021-07-22 18:10] kellyrowland commented on #3419
Hi @csadorf - thanks for bringing this up. I will try to find another reviewer in the interest of conservatism with respect to the COI policy. Having said that, if we're unable to find another reviewer, it does sound like there is enough separation in this case that we could waive it.

[2021-07-22 18:11] ziotom78 commented on #3497
@jamesrhester , I cannot find any performance claim of Lerche over Lark, and while this is not mandatory for a successful review at JOSS, it would make a valuable addition and would probably find its place in the *Statement of need* in the paper itself.

I created the simple JSON parser described in the Lerche.jl documentation and the same parser in Lark, and then I benchmarked the time required t

[2021-07-22 19:06] jmschrei commented on #3447
@pps121 do you anticipate being able to start this review soon? Thanks!

[2021-07-22 19:22] AP6YC commented on #3320
@adi3 Thank you for pinging me! I do sincerely apologize for the great delay.

After going through the list and selecting based upon Julia and domain knowledge, I have selected the following 6 reviewers (listed by username):

- ChrisRackauckas
- malmaud
- degleris1
- rMassimiliano
- aaronpeikert
- szkafander

[2021-07-22 19:25] AP6YC commented on #3321
@adi3 As in the other thread, thank you for pinging me! I do sincerely apologize for the great delay.

Because this project requires similar domain knowledge, I am listing the same 6 reviewers as in AdaptiveResonance.jl (listed by username):

- ChrisRackauckas
- malmaud
- degleris1
- rMassimiliano
- aaronpeikert
- szkafander

If you wish, I am more than happy to select a separate group of reviewer

[2021-07-22 19:40] danielskatz commented on #3408
@andrewtarzia - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-pa

[2021-07-22 19:41] danielskatz commented on #3408
@whedon reject

[2021-07-22 19:41] whedon commented on #3408
Paper rejected.

[2021-07-22 19:41] #3408 closed

[2021-07-22 19:42] andrewtarzia commented on #3408
That's disappointing. Is it possible to get further information into the decision?

[2021-07-22 19:43] dfm commented on #3402
@whedon add @StanczakDominik as reviewer

Thanks Dominik for agreeing to be our second reviewer!

I'm going to start the review in a new thread so let's head over there to get started. Please let me know if any of you have issues or questions as we go.

[2021-07-22 19:43] whedon commented on #3402
OK, @StanczakDominik is now a reviewer

[2021-07-22 19:43] dfm commented on #3402
@whedon start review

[2021-07-22 19:43] whedon opened #3525 "[REVIEW]: SIMSOPT: A flexible framework for stellarator optimization"
**Submitting author:** @landreman (<a href="http://orcid.org/0000-0002-7233-577X">Matt Landreman</a>)
**Repository:** <a href="https://github.com/hiddenSymmetries/simsopt" target ="_blank">https://github.com/hiddenSymmetries/simsopt</a>
**Version:** v0.4.7
**Editor:** @dfm
**Reviewer:** @ZedThree, @StanczakDominik
**Archive:** <a href="https://doi.org/10.5281/zenodo.5498111" target="_blank">10.528

[2021-07-22 19:43] whedon commented on #3402
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3525.

[2021-07-22 19:43] #3402 closed

[2021-07-22 19:43] whedon commented on #3525
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ZedThree, @StanczakDominik it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-07-22 19:45] dfm commented on #3525
@ZedThree, @StanczakDominik, @landreman – This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submissio

[2021-07-22 19:47] dfm commented on #3525
@whedon generate pdf from branch joss_paper

☝️ Since the paper lives on the `joss_paper` branch in the repo, I think we'll need to use this command to compile the paper.

[2021-07-22 19:47] whedon commented on #3525
[code]

[2021-07-22 19:48] andrewtarzia commented on #3408
@danielskatz

[2021-07-22 19:59] danielskatz commented on #3408
We examined the amount of code and number of commits and development time, etc. - the items under https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort

[2021-07-22 20:03] danielskatz commented on #3525
@whedon commands

[2021-07-22 20:04] whedon commented on #3525
Here are some things you can ask me to do:

[code]

[2021-07-22 20:04] danielskatz commented on #3525
@whedon generate pdf from branch joss_paper

[2021-07-22 20:04] whedon commented on #3525
[code]

[2021-07-22 20:05] danielskatz commented on #3525
@whedon check references from branch joss_paper

[2021-07-22 20:05] whedon commented on #3525
[code]

[2021-07-22 20:08] amtseng commented on #3447
#### Extended feedback
**Installation**
Although the instructions say to install the dependencies by running `pip install -r` followed by `python setup.py`, I actually found it much easier to install the package directly by doing `pip install segmentation/` (i.e. treating the repository as a package). I would highly recommend switching to this style of installation in the instructions.

It would b

[2021-07-22 20:10] jmschrei commented on #3447
Thanks @amtseng!  @RiccardoBiondi, do you foresee any issues with incorporating these suggestions into the package?

[2021-07-22 20:31] whedon commented on #3520
Downloading of the repository (to analyze the language) for issue #3520 failed with the following error:
[code]

[2021-07-22 20:31] whedon commented on #3520
Downloading of the repository (to check the bibtex) failed for issue #3520 failed with the following error:
[code]

[2021-07-22 20:31] whedon commented on #3520
PDF failed to compile for issue #3520 with the following error:
[code]

[2021-07-22 20:31] whedon commented on #3521
Wordcount for `paper.md` is 1437

[2021-07-22 20:32] whedon commented on #3521
[code]

[2021-07-22 20:32] whedon commented on #3521
[code]

[2021-07-22 20:32] whedon commented on #3522
[code]

[2021-07-22 20:32] whedon commented on #3522
PDF failed to compile for issue #3522 with the following error:
[code]

[2021-07-22 20:32] whedon commented on #3435
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: :point_left:

[2021-07-22 20:32] whedon commented on #3521
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03521/joss.03521/10.21105.joss.03521.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03521/joss.03521/10.21105.joss.03521.pdf) :page_facing_up: :point_left:

[2021-07-22 20:32] whedon commented on #3523
Wordcount for `paper.md` is 928

[2021-07-22 20:32] whedon commented on #3491
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03491/joss.03491/10.21105.joss.03491.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03491/joss.03491/10.21105.joss.03491.pdf) :page_facing_up: :point_left:

[2021-07-22 20:32] whedon commented on #3435
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: :point_left:

[2021-07-22 20:33] whedon commented on #3523
[code]

[2021-07-22 20:33] whedon commented on #3524
Wordcount for `paper.md` is 815

[2021-07-22 20:33] whedon commented on #3523
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03523/joss.03523/10.21105.joss.03523.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03523/joss.03523/10.21105.joss.03523.pdf) :page_facing_up: :point_left:

[2021-07-22 20:33] whedon commented on #3524
[code]

[2021-07-22 20:33] whedon commented on #3524
[code]

[2021-07-22 20:33] whedon commented on #3523
[code]

[2021-07-22 20:33] whedon commented on #3524
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: :point_left:

[2021-07-22 20:33] whedon commented on #3525
[code]

[2021-07-22 20:33] whedon commented on #3525
PDF failed to compile for issue #3525 with the following error:
[code]

[2021-07-22 20:34] whedon commented on #3524
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: :point_left:

[2021-07-22 20:42] arfon commented on #3525
@whedon generate pdf from branch joss_paper

[2021-07-22 20:42] whedon commented on #3525
[code]

[2021-07-22 20:43] whedon commented on #3525
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03525/joss.03525/10.21105.joss.03525.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03525/joss.03525/10.21105.joss.03525.pdf) :page_facing_up: :point_left:

[2021-07-22 20:46] dfm commented on #3525
@ZedThree, @StanczakDominik, @landreman — sorry about all the noise! Our bot `@whedon` was having issues, but it looks like we're back up and running.

[2021-07-22 21:35] kellyrowland commented on #3419
Hello @adam-m-jcbs @gonsie 👋 would either of you be available and willing to review this paper for JOSS?

[2021-07-22 22:18] remram44 commented on #3522
@whedon generate pdf from branch 2021-joss-paper

[2021-07-22 22:18] whedon commented on #3522
[code]

[2021-07-22 22:18] whedon commented on #3522
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03522/joss.03522/10.21105.joss.03522.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03522/joss.03522/10.21105.joss.03522.pdf) :page_facing_up: :point_left:

[2021-07-22 22:31] gonsie commented on #3419
Sorry, I’m not available to provide a review.

[2021-07-22 23:13] kellyrowland commented on #3419
No worries, thanks for the response!

[2021-07-22 23:31] josephhardinee commented on #3219
I could probably help generically on the python and modeling side, but let me check if a colleague with more domain knowledge, especially around chemistry, would be interested in reviewing for JOSS first.

[2021-07-22 23:59] josephhardinee commented on #3219
@dhhagan One is overbooked right now and the other has a COI so I can act as a second reviewer for this.

[2021-07-23 00:43] nicoguaro commented on #3482
I followed the installation described in the README and got the following

[code]

[2021-07-23 03:06] jamesrhester commented on #3497
I have just added two short sections "Issues" and "Contributions" to the top-level README. Hopefully these are sufficient.

[2021-07-23 03:11] jamesrhester commented on #3497
An earlier draft contained some performance claims but we decided that on balance comparing to interpreted Python was not very helpful when things like PyPy can dramatically improve Python execution speed. I will consult with my coauthor on suitable additional text, as it is true that most people do expect some statements about execution speed in the context of Julia.

[2021-07-23 04:04] JLBLine commented on #3517
Roger that @danielskatz, no problem. Looking through the list of potential reviewers, I picked out a number who are both astronomers and have CUDA listed in their languages: devanshkv, Fipanther, adam-m-jcbs, hopefully that helps

[2021-07-23 05:14] nmstreethran commented on #3435
Hi @ajstewartlang, I have completed my review (adithirgis/pollucheck#2). `pollucheck` is very useful for performing exploratory data analysis on open air pollution data. The app provides users an interactive way to do this without needing any programming knowledge. I'm happy to recommend this submission for publication. Please let me know if there is anything else I can do.

Thanks!

[2021-07-23 05:29] adithirgis commented on #3435
Thanks @ibarraespinosa and @nmstreethran for a thorough review.

Thanks @ajstewartlang!

[2021-07-23 06:46] ziotom78 commented on #3497
I see. I just wanted to raise a flag because this is what people usually look after when they see a Python package ported to Julia, but  I do not think it's mandatory to include this information.

[2021-07-23 07:14] koaning commented on #3448
The code no longer overflows. I'm not 100% what your comment on binary operators is referring to though. I've formatted the code using `black` which means that all declarations when defining a function are written via `param=default`. Is this what you're referring to? I tried looking for it but the binary operator `~` is not used anywhere in the paper.

[2021-07-23 07:23] adi3 commented on #3320
@AP6YC no problem, thank you for the list!

@ChrisRackauckas @malmaud @degleris1 @rMassimiliano @aaronpeikert @szkafander - Would any of you be interested in reviewing this paper? We'd greatly appreciate your help!

[2021-07-23 07:25] adi3 commented on #3321
@ChrisRackauckas @malmaud @degleris1 @rMassimiliano @aaronpeikert @szkafander - This is a separate paper from the other request. Both papers cover similar topics, so you can choose which one you'd like to review (if not both!). Do let us know if you can become a reviewer for this one :)

[2021-07-23 07:49] jakobbossek commented on #3393
I am happy with the changes and additions done by the authors. IMHO the paper is ready to be accepted 🚀

[2021-07-23 07:52] strengejacke commented on #3393
@jakobbossek Thanks for your comments! Let me briefly summarize what we have done to address your issues.

_Furthermore, I believe that the API/function documentation can be improved (see easystats/see#178)_

We have revised the documentation and replaced plain URLs by clickable hyperlinks. Furthermore, we explained the required data types for arguments, where missing. Finally, we improved the des

[2021-07-23 07:53] strengejacke commented on #3393
Ok, I was still typing when you replied to this.

[2021-07-23 08:07] IndrajeetPatil commented on #3393
@fboehm Please let us know if you would like us to make any other changes to the manuscript. Thanks!

[2021-07-23 08:47] ChrisRackauckas commented on #3321
Too busy right now.

[2021-07-23 08:48] ChrisRackauckas commented on #3320
Too busy right now.

[2021-07-23 09:29] mseri commented on #3468
Hi @jbytecode, I would be happy to help

[2021-07-23 09:34] ajstewartlang commented on #3435
@whedon generate pdf

[2021-07-23 09:35] whedon commented on #3435
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: :point_left:

[2021-07-23 09:35] ajstewartlang commented on #3435
@whedon check references

[2021-07-23 09:35] whedon commented on #3435
[code]

[2021-07-23 09:35] jbytecode commented on #3468
@whedon add @mseri as reviewer

[2021-07-23 09:35] whedon commented on #3468
OK, @mseri is now a reviewer

[2021-07-23 09:38] jbytecode commented on #3468
@whedon start review

@myousefi2016 and @mseri thank you for accepting to be reviewers. Our bot, Whedon, will not create a new issue for reviewing. In this page, there will be 20 checkboxes for each reviewer. These boxes indicate the corresponding reviewing task. Please have a look at the [Reviewing Guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) page.

Please do not he

[2021-07-23 09:38] whedon opened #3526 "[REVIEW]: NoisySignalIntegration.jl: A Julia package for uncertainty evaluation of numeric integrals"
**Submitting author:** @nluetts (<a href="http://orcid.org/0000-0001-8459-1714">Nils Lüttschwager</a>)
**Repository:** <a href="https://github.com/nluetts/NoisySignalIntegration.jl" target ="_blank">https://github.com/nluetts/NoisySignalIntegration.jl</a>
**Version:** v0.2.2
**Editor:** @jbytecode
**Reviewer:** @myousefi2016, @mseri
**Archive:** <a href="https://doi.org/10.5281/zenodo.5338743" tar

[2021-07-23 09:38] whedon commented on #3468
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3526.

[2021-07-23 09:38] #3468 closed

[2021-07-23 09:38] whedon commented on #3526
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @myousefi2016, @mseri it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-07-23 09:39] whedon commented on #3526
[code]

[2021-07-23 09:39] whedon commented on #3526
PDF failed to compile for issue #3526 with the following error:
[code]

[2021-07-23 09:40] jbytecode commented on #3526
@whedon generate pdf from branch paper

[2021-07-23 09:40] whedon commented on #3526
[code]

[2021-07-23 09:41] whedon commented on #3526
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03526/joss.03526/10.21105.joss.03526.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03526/joss.03526/10.21105.joss.03526.pdf) :page_facing_up: :point_left:

[2021-07-23 09:43] whedon commented on #3464
:wave: @dilawar, please update us on how your review is going (this is an automated reminder).

[2021-07-23 09:43] whedon commented on #3464
:wave: @wxwx1993, please update us on how your review is going (this is an automated reminder).

[2021-07-23 09:43] jbytecode commented on #3526
Dear @myousefi2016 and @mseri,

Thank you for accepting our invitation.

This is the reviewing page for the current submission. In this page, there are 20 checkboxes for each reviewer. These boxes indicate the corresponding reviewing tasks. Please fill them whenever you complete the corresponding task.

Please have a look at the [Reviewing Guidelines](https://joss.readthedocs.io/en/latest/reviewer

[2021-07-23 09:46] jbytecode commented on #3448
@koaning that is okay for now. thank you. I'll post other editorial comments when the review is finished.

[2021-07-23 09:48] ajstewartlang commented on #3435
Many thanks @ibarraespinosa and @nmstreethran for your helpful and detailed reviews. I've had a read through myself @adithirgis and agree that `pollucheck` is a very nice and useful piece of software. Congrats!

@adithirgis can I now ask you to do the following please?

- Make a [tagged release](https://docs.github.com/en/github/administering-a-repository/releasing-projects-on-github/managing-rele

[2021-07-23 10:14] nluetts commented on #3526
Also thank you for accepting the review from my side!

[2021-07-23 12:08] danielskatz commented on #3517
Thanks - the editor will follow-up with you on this.

[2021-07-23 12:19] dhhagan commented on #3219
@josephhardinee Thanks! I will edit the checklist above and invite you.

[2021-07-23 12:20] dhhagan commented on #3219
@whedon add @josephhardinee as reviewer

[2021-07-23 12:20] whedon commented on #3219
OK, @josephhardinee is now a reviewer

[2021-07-23 12:22] adithirgis commented on #3435
Thanks @ajstewartlang!

 - We made a tagged release of the v1.0.0
 - Here is the link to the metadata - https://zenodo.org/record/5126939#.YPqqUegzZPY (I checked the deposit)
 - DOI version from Zenodo - 10.5281/zenodo.5126939.

 Let me know if there is any issue with these.

 Thanks again!
 Adithi

[2021-07-23 12:44] PTierz commented on #3436
Hi @elbeejay,

Very many thanks for your further comments. I just would like to comment on the topics concerning the validity, usefulness, and transparency of VOLCANS and, therefore, PyVOLCANS. Many thanks in advance.

Unfortunately, it is a bit difficult for us to fully understand where our submitted manuscript fails in terms of complying with the [submission requirements]( https://joss.readthedo

[2021-07-23 12:58] rMassimiliano commented on #3321
Hi @adi3 I am happy to review this.

[2021-07-23 13:14] ajstewartlang commented on #3435
@whedon set 10.5281/zenodo.5126939 as archive

[2021-07-23 13:14] whedon commented on #3435
OK. <a href="https://doi.org/10.5281/zenodo.5126939" target="_blank">10.5281/zenodo.5126939</a> is the archive.

[2021-07-23 13:15] ajstewartlang commented on #3435
@whedon recommend-accept

[2021-07-23 13:15] whedon commented on #3435
[code]

[2021-07-23 13:15] whedon commented on #3435
[code]

[2021-07-23 13:15] whedon commented on #3435
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2475

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2475, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-23 13:32] adi3 commented on #3321
@rMassimiliano wonderful, thank you!

[2021-07-23 13:33] adi3 commented on #3321
@whedon assign @rMassimiliano as reviewer

[2021-07-23 13:33] whedon commented on #3321
OK, @rMassimiliano is now a reviewer

[2021-07-23 13:57] whedon commented on #3465
:wave: @hayesall, please update us on how your review is going (this is an automated reminder).

[2021-07-23 13:57] whedon commented on #3465
:wave: @taless474, please update us on how your review is going (this is an automated reminder).

[2021-07-23 14:16] VivianePons commented on #3454
Thank you very much @kellertuer for your review and the constructive discussions

@dawbarton have you had time to start looking at the paper?

[2021-07-23 14:19] VivianePons commented on #3416
Dear @amelialdrew and @kostunin , have you had time to start looking at the paper?

[2021-07-23 14:20] VivianePons commented on #2954
Hi @michakraus any update?