[2021-11-19 17:18] whedon commented on #3906
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3934.

[2021-11-19 17:18] #3906 closed

[2021-11-19 17:18] whedon commented on #3934
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hbaniecki, @kmichael08 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-11-19 17:18] bmcfee commented on #3906
I've opened up the review issue, but it may still be a little bit before our reviewers are available to get started on it.  This way it will at least be ready to go when they are.

[2021-11-19 17:18] whedon commented on #3934
Wordcount for `paper.md` is 1642

[2021-11-19 17:18] whedon commented on #3934
[code]

[2021-11-19 17:19] whedon commented on #3934
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03934/joss.03934/10.21105.joss.03934.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03934/joss.03934/10.21105.joss.03934.pdf) :page_facing_up: :point_left:

[2021-11-19 17:19] whedon commented on #3934
[code]

[2021-11-19 17:28] christinahedges commented on #3922
Hello @florisvb, welcome to JOSS! Thanks for your submission. Taking a look at your paper submission I can see a few fixable issues that you may want to work on while I find reviewers:

1. The references are missing DOIs (see whedon's comments above)
2. In your submission we usually encourage a state of the field section or paragraph which references common software that is use to solve similar pr

[2021-11-19 17:57] sdesabbata commented on #2869
Thank you, @SimonMolinsky, for the edits to the paper. I think the new version reads much better, and it provides an improved showcase of the package. However, in my second reading, I have found two issues, one of which took me some time to clarify.

The first issue relates to the *Spatial Interpolation with Kriging* section. There seems to be an error in equation 2 and 3, or rather in their descr

[2021-11-19 18:10] TomWagg commented on #3925
@arfon, gladly, very excited for the review! 😄

Here's a couple of potential reviewers that I think should work

- duncanmmacleod
- cmbiwer
- johnveitch
- db87
- dbkeitel
- sbozzolo

[2021-11-19 18:14] taless474 commented on #3928
Yes, I like to!

[2021-11-19 18:14] taless474 commented on #3928
@whedon assign me as editor

[2021-11-19 18:14] whedon commented on #3928
OK, the editor is @taless474

[2021-11-19 18:16] TomWagg commented on #3925
@whedon set v0.1.6 as version

[2021-11-19 18:16] whedon commented on #3925
I'm sorry @TomWagg, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-11-19 18:17] whedon opened #3935 "[PRE REVIEW]: pyRS: A Python package for the reduction and analysis of neutron residual stress data"
**Submitting author:** @fanchercm (<a href="http://orcid.org/0000-0002-3952-5168">Chris Fancher</a>)
**Repository:** <a href="https://github.com/neutrons/PyRS/" target ="_blank">https://github.com/neutrons/PyRS/</a>
**Version:** v1.0.1
**Editor:** @rkurchin
**Reviewers:** @andyfaff, @sangpham171
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-11-19 18:17] whedon commented on #3935
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-19 18:17] whedon opened #3936 "[PRE REVIEW]: Castor: A C++ library to code “à la matlab”"
**Submitting author:** @matthieuaussal (<a href="http://orcid.org/0000-0002-2812-7578">Matthieu Aussal</a>)
**Repository:** <a href="https://gitlab.labos.polytechnique.fr/leprojetcastor/joss_paper" target ="_blank">https://gitlab.labos.polytechnique.fr/leprojetcastor/joss_paper</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced

[2021-11-19 18:17] whedon commented on #3936
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-19 18:18] whedon commented on #3936
Wordcount for `paper.md` is 2074

[2021-11-19 18:18] whedon commented on #3936
[code]

[2021-11-19 18:18] whedon commented on #3936
Failed to discover a valid open source license.

[2021-11-19 18:18] whedon commented on #3936
[code]

[2021-11-19 18:18] whedon commented on #3936
PDF failed to compile for issue #3936 with the following error:
[code]

[2021-11-19 18:25] arfon commented on #3936
@matthieuaussal  – thanks for your submission to JOSS. Please resubmit with the JOSS paper within the `Castor` source code repository. Please note, the paper can be in a separate branch that doesn't get merged into the main branch.

[2021-11-19 18:25] arfon commented on #3936
@whedon reject

[2021-11-19 18:25] whedon commented on #3936
Paper rejected.

[2021-11-19 18:25] #3936 closed

[2021-11-19 18:28] arfon commented on #3924
@whedon invite @prashjha as editor

:wave: @prashjha – would you be able to handle this submission for us?

[2021-11-19 18:28] whedon commented on #3924
@prashjha has been invited to edit this submission.

[2021-11-19 18:33] JostMigenda commented on #3772
For posterity, since I forgot to mention this JOSS review issue in the respective issues:
* SNEWS2/snewpy#145 and SNEWS2/snewpy#146 were opened as part of the review and are fixed already.
* SNEWS2/snewpy#147 is still open, but more of a suggestion so it shouldn’t block progress here—@PeterDenton, I hope I’m not misrepresenting you here!

It looks like both review checklists are completed now. I’l

[2021-11-19 18:34] JostMigenda commented on #3772
@whedon check references
@whedon generate pdf

[2021-11-19 18:34] whedon commented on #3772
[code]

[2021-11-19 18:37] JostMigenda commented on #3772
@whedon generate pdf

(Huh; multiple commands in one post don’t work, apparently?)

[2021-11-19 18:38] whedon commented on #3772
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03772/joss.03772/10.21105.joss.03772.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03772/joss.03772/10.21105.joss.03772.pdf) :page_facing_up: :point_left:

[2021-11-19 18:45] dfm commented on #3772
@JostMigenda Awesome - thanks for the summary! Give me a few days to do some final checks and edits, then I'll have a couple of small tasks for you before publication.

@PeterDenton @apizzuto: thank you both for your reviews!! I really appreciate the time and expertise that you donated to this process.

[2021-11-19 18:46] kbarnhart commented on #3658
@mbarall many thanks for your review!

@wsavran - I would recommend you comment on SCECcode/pycsep/issues/163 once you've addressed the issues outlined there. At that point, @mbarall and I can assess whether you have addressed those concerns.

It is up to you whether you want to address these concerns now, or wait until @nvanderelst has completed his review.

Let me know with any questions, commen

[2021-11-19 18:46] osorensen commented on #3828
@fartist, there is one unchecked box in your review checklisit at the top of this thread, regarding references. Could you please check if this issue has now been resolved?

[2021-11-19 18:46] osorensen commented on #3828
@whedon generate pdf

[2021-11-19 18:47] whedon commented on #3828
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03828/joss.03828/10.21105.joss.03828.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03828/joss.03828/10.21105.joss.03828.pdf) :page_facing_up: :point_left:

[2021-11-19 18:50] fartist commented on #3828
Thanks - @osorensen,  have completed the review.
I have no further comments - @ahoshiyar did a great job addressing my concerns - I recommend it to be accepted.

[2021-11-19 19:03] jonsampedro commented on #3820
@nanhung I have updated the function documentation (in the four modules) including all the units and the sources for:

-  Full names of the regions and list of the countries that form each region
-  List of commodities that form each crop category

[2021-11-19 19:12] villaa commented on #3932
@afron sure, the list of things that were done can be found [here](https://raw.githubusercontent.com/villano-lab/nrCascadeSim/master/RELEASENOTES.md). All the work from v1.1.0. to v1.2.2 has been done in response to the earlier review.

[2021-11-19 19:24] jGaboardi commented on #3330
@whedon generate pdf

[2021-11-19 19:25] whedon commented on #3330
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03330/joss.03330/10.21105.joss.03330.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03330/joss.03330/10.21105.joss.03330.pdf) :page_facing_up: :point_left:

[2021-11-19 19:29] arfon commented on #3673
@joergbuchwald  – there are a number of software packages mentioned in the paper (e.g., Jupyter, Pandas, scipy) which aren't cited. Could you please look up the default citations for these packages and cite them in your paper?

Many thanks!

[2021-11-19 19:33] jGaboardi commented on #3330
The acknowledgement that applies to my authorship renders properly as a block quote in [`paper.md`](https://github.com/pysal/spopt/blob/main/paper/paper.md#acknowledgements), but not in the proof. Any advice on how to correct what I'm doing wrong?

@vissarion @arfon

[2021-11-19 19:36] majensen commented on #3777
@GaurangTandon would you be available to review [this work](#3777) for [JOSS](https://joss.theoj.org)? We could really benefit from your expertise. Please have a look at the [reviewer information](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Thanks for your consideration! -@majensen

[2021-11-19 19:38] majensen commented on #3777
@Milantex - would you have time and interest to review [this work](#3777) for [https://joss.theoj.org](JOSS)? We would really appreciate your expertise. Please have a look at the [reviewer information](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and let me know in this thread. Thanks for your consideration! -@majensen

[2021-11-19 19:44] osorensen commented on #3828
Thanks a lot to @fartist, @FranjoIM, and @mingzehuang for their reviews. You work is very much appreciated!

@ahoshiyar, I will now read through the paper once again, and get back to you if I have any furter comments. In the meantime, could you please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed s

[2021-11-19 19:59] martinfleis commented on #3330
@jGaboardi -> https://github.com/pysal/spopt/pull/207

[2021-11-19 20:09] biblicabeebli commented on #3417
@fboehm I'll take care of that.  Is there a timeliness factor at play here?  Next week is complicated by the thanksgiving holiday and I'm trying to manage expectations on several things.   :b

[2021-11-19 20:12] bmcfee commented on #3912
@whedon add @malmaud as reviewer

[2021-11-19 20:12] whedon commented on #3912
OK, @malmaud is now a reviewer

[2021-11-19 20:13] bmcfee commented on #3912
@whedon start review

[2021-11-19 20:13] whedon opened #3937 "[REVIEW]: WaveletsExt.jl: Extending the boundaries of wavelets in Julia"
**Submitting author:** @ShozenD (<a href="http://orcid.org/0000-0001-5575-641X">Shozen Dan</a>)
**Repository:** <a href="https://github.com/UCD4IDS/WaveletsExt.jl" target ="_blank">https://github.com/UCD4IDS/WaveletsExt.jl</a>
**Version:** v0.1.17
**Editor:** @bmcfee
**Reviewer:** @lostanlen, @malmaud
**Archive:** <a href="https://doi.org/10.5281/zenodo.5893843" target="_blank">10.5281/zenodo.5893

[2021-11-19 20:13] whedon commented on #3912
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3937.

[2021-11-19 20:13] #3912 closed

[2021-11-19 20:13] whedon commented on #3937
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lostanlen, @malmaud it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-11-19 20:13] whedon commented on #3937
Wordcount for `paper.md` is 1310

[2021-11-19 20:13] whedon commented on #3937
[code]

[2021-11-19 20:13] whedon commented on #3937
[code]

[2021-11-19 20:14] whedon commented on #3937
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03937/joss.03937/10.21105.joss.03937.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03937/joss.03937/10.21105.joss.03937.pdf) :page_facing_up: :point_left:

[2021-11-19 20:20] nvanderelst commented on #3658
Hi Katy,
I hoped to have the review completed today, but I have stalled out because I cannot get some of the aspects of the code to work. I'm no python whiz, so I'm probably doing something stupid -- I think Michael got things to work just fine. I will need to work with Bill to figure things out, but this means the review will probably not be finished until after the thanksgiving holiday, as I'm h

[2021-11-19 20:29] kbarnhart commented on #3658
@nvanderelst Thanks for the update, I'll check back early in the week of 11/29. Enjoy the desert 🌵 !

[2021-11-19 20:58] jGaboardi commented on #3330
@whedon generate pdf

[2021-11-19 20:59] whedon commented on #3330
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03330/joss.03330/10.21105.joss.03330.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03330/joss.03330/10.21105.joss.03330.pdf) :page_facing_up: :point_left:

[2021-11-19 21:07] wsavran commented on #3658
@nvanderelst nope, you didn't do anything stupid at all. this one is one me. i merged a new pull request that added new features (ROC plots and Kagan I1 score) including updated documentation. i didn't publish a new release that included those changes, which caused the errors you were getting. i'm fixing that stuff now, and also addressing the trouble with getting the plots to show in the terminal

[2021-11-20 04:21] akaptano commented on #3845
@whedon generate pdf

[2021-11-20 04:22] whedon commented on #3845
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03845/joss.03845/10.21105.joss.03845.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03845/joss.03845/10.21105.joss.03845.pdf) :page_facing_up: :point_left:

[2021-11-20 04:24] akaptano commented on #3845
@whedon generate pdf from branch PDEFIND_and_IntegralSINDy

[2021-11-20 04:24] whedon commented on #3845
[code]

[2021-11-20 04:24] whedon commented on #3845
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03845/joss.03845/10.21105.joss.03845.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03845/joss.03845/10.21105.joss.03845.pdf) :page_facing_up: :point_left:

[2021-11-20 08:00] hoanganhngo610 commented on #3929
@arfon Thank you so much for handling our application for JOSS! I'm Hoang-Anh, co-author with @tuankhoin of the model and also of this tool. I really hope I can have a few words to back up our application to the journal.

Originally, we decided to create a Python library out of this with more flexibility, which is the ability to create a full model from scratch, define the compartments and hyperpa

[2021-11-20 09:27] Ebedthan commented on #3859
I think you made nice improvements to the repository and paper. For the next steps, @galessiorob will have a look at all the stuff made.
Thanks, @chasmani.

[2021-11-20 11:00] janfreyberg commented on #3897
@whedon generate pdf from branch joss-ecog-gui

[2021-11-20 11:00] whedon commented on #3897
[code]

[2021-11-20 11:01] whedon commented on #3895
:wave: @richrobe, please update us on how your review is going (this is an automated reminder).

[2021-11-20 11:01] whedon commented on #3895
:wave: @kmichael08, please update us on how your review is going (this is an automated reminder).

[2021-11-20 11:01] whedon commented on #3897
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03897/joss.03897/10.21105.joss.03897.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03897/joss.03897/10.21105.joss.03897.pdf) :page_facing_up: :point_left:

[2021-11-20 11:20] GaurangTandon commented on #3777
@majensen Sure, I'd be happy to do a review.

[2021-11-20 11:33] larkz commented on #3804
Thanks for the notes, we will take some time to go over them and make the corrections.

[2021-11-20 12:16] prashjha commented on #3924
@arfon sure...thanks!

[2021-11-20 12:17] prashjha commented on #3924
@whedon assign me as editor

[2021-11-20 12:17] whedon commented on #3924
OK, the editor is @prashjha

[2021-11-20 12:41] arfon commented on #3935
@whedon generate pdf from branch JOSS_paper

[2021-11-20 12:41] whedon commented on #3935
[code]

[2021-11-20 12:42] whedon commented on #3935
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03935/joss.03935/10.21105.joss.03935.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03935/joss.03935/10.21105.joss.03935.pdf) :page_facing_up: :point_left:

[2021-11-20 12:42] arfon commented on #3935
@whedon check repository

[2021-11-20 12:43] whedon commented on #3935
[code]

[2021-11-20 12:54] siara-cc commented on #3919
@gradvohl I have addressed all the points raised during review and made commits to the repo.  Please review to see if the changes meet expected standards when it is convenient.  I have also added the pre-review latex pdf as suggested to ResearchGate [at this url](https://www.researchgate.net/publication/356411501_Unishox_-A_hybrid_encoder_for_Short_Unicode_Strings) since arXiv is off-limits for an

[2021-11-20 13:08] gradvohl commented on #3919
@whedon generate pdf

[2021-11-20 13:08] whedon commented on #3919
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03919/joss.03919/10.21105.joss.03919.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03919/joss.03919/10.21105.joss.03919.pdf) :page_facing_up: :point_left:

[2021-11-20 13:50] gradvohl commented on #3919
Hello @siara-cc

Sorry, but not all points were appropriately addressed. In my opinion, there are some missed points as follows:
1. The link for Burrows & Wheeler (1994)'s work in the reference section is still missing.
2. There are no comments on the source code using a standard (e.g., Doxygen or other software).
3. The CONTRIBUTING.md file misses the "project team" email (actually your email) in

[2021-11-20 14:04] lutzhamel commented on #3849
@inpefess @VivianePons That all looks good.  I have two minor additional comments:

1. Please also explain the acronym TPTP in the introductory paragraph
2. Does it make sense to have some references from the "Architecture" section to the "Usage" section?  It seems to me that Figure 1 is a precise embodiment of the usage example.

This concludes my review and I recommend publication.

[2021-11-20 14:05] chainsawriot commented on #3904
@JacksonMaxfield @chartgerink

I read with interest the paper by @JacksonMaxfield et al. I think the entire software suite is useful for political scientists, among others, who are interested in US local politics. I am very impressed with the [live demo](https://councildataproject.org/seattle/#/).

The software uses speech-to-text technology from Google to make speeches machine-readable and search

[2021-11-20 15:22] majensen commented on #3777
@whedon assign @GaurangTandon as reviewer

[2021-11-20 15:22] whedon commented on #3777
OK, @GaurangTandon is now a reviewer

[2021-11-20 15:59] joergbuchwald commented on #3673
@whedon generate pdf

[2021-11-20 15:59] whedon commented on #3673
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: :point_left:

[2021-11-20 16:16] joergbuchwald commented on #3673
@whedon generate pdf

[2021-11-20 16:16] whedon commented on #3673
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: :point_left:

[2021-11-20 16:20] joergbuchwald commented on #3673
@arfon thanks for the hint. I added now all missing citations.

[2021-11-20 16:55] inpefess commented on #3849
@lutzhamel Thank you! Your comments helped me to improve the draft quality.

Done.

Yes, it looks like a good idea. I mentioned relevant lines of the example in the beginning  of the "Architecture" section.

[2021-11-20 16:56] inpefess commented on #3849
@whedon generate pdf from branch joss-paper

[2021-11-20 16:56] whedon commented on #3849
[code]

[2021-11-20 16:56] whedon commented on #3849
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03849/joss.03849/10.21105.joss.03849.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03849/joss.03849/10.21105.joss.03849.pdf) :page_facing_up: :point_left:

[2021-11-20 18:06] arfon commented on #3926
@whedon query scope

@canorve – many thanks for your submission to JOSS. After a cursory review of the repository, I'm going to ask my fellow editors to conduct a scope review of this submission. This will likely take a week or so, thanks for your patience!

[2021-11-20 18:06] whedon commented on #3926
Submission flagged for editorial review.

[2021-11-20 18:52] fboehm commented on #3417
Thanks, @biblicabeebli. It's not urgent that you do this. Delaying it will merely delay the publication of your work.

[2021-11-20 19:23] pkerpedjiev commented on #3916
So just to be clear, comments on the paper should be communicated by opening an issue in the software's issues page?

[2021-11-20 19:37] pkerpedjiev commented on #3916
Perhaps I'm missing something but I don't see any screenshots in either the [README](https://github.com/Spartanzhao/Annoroad-Browser) or the [paper itself](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03916/joss.03916/10.21105.joss.03916.pdf).

The authors should spend a bit of time to clean up the README. The one sample command I could find was near the bottom, not properly for

[2021-11-20 19:41] jmschrei commented on #3916
Yes, specific suggestions should be made as issues on their repo that can be closed once they're resolved. Feel free to leave general comments here, though.

[2021-11-20 20:11] gkthiruvathukal commented on #3919
@gradvohl  Thanks for your comments.  @siara-cc, can you please address these as soon as possible?

@siara-cc Can you also clarify your points about ArXiv? It should absolutely not be "off-limits". I checked the submission requirements again, and don't think you are in any way prevented from submitting. If you mean that you are not allowed to post, it is just a matter of having an endorser. @gradv

[2021-11-20 21:29] siara-cc commented on #3919
Hi @gradvohl ,

Thank you so much for reviewing it again. I have addressed these issues and please see my replies:

I realise now that the URL is missing and I have added it now.  If my understanding is incorrect, please let me know.

I have added Doxygen comments to `unishox2.c`, `unishox2.h` and `test_unishox2.c`, which are the source code files related to the present version of Unishox (byte co

[2021-11-20 21:29] siara-cc commented on #3919
@whedon generate pdf

[2021-11-20 21:30] whedon commented on #3919
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03919/joss.03919/10.21105.joss.03919.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03919/joss.03919/10.21105.joss.03919.pdf) :page_facing_up: :point_left:

[2021-11-20 21:34] siara-cc commented on #3919
@gkthiruvathukal  Yes, I actually meant I did not know anyone who could endorse my work since I am not affiliated to an institution.  So I could not succeed in publishing with arXiv in the past.  However, I have published to figshare now successfully. Thanks.

[2021-11-20 21:37] gkthiruvathukal commented on #3919
@siara-cc Figshare is fine, for now. If you continue to publish and want to use ArXiv, you can reach out for an endorsement. I've had people ask me in the past. Figshare will do for now!

[2021-11-20 22:27] majensen commented on #3777
@Fil - would you be able to review [this work](#3777) for [JOSS](https://joss.theoj.org)? Your JS expertise would be very helpful. Thanks for your consideration - -@majensen

[2021-11-20 23:43] siara-cc commented on #3919
Sure, thanks @gkthiruvathukal !!

[2021-11-21 00:27] taless474 commented on #3928
@xirdneh, are you interested in reviewing this?
@maxpumperla Hi, nice submission. Do you know any potential reviewers?

[2021-11-21 02:00] lpantano commented on #3358
@whedon recommend-accept

[2021-11-21 02:00] whedon commented on #3358
No archive DOI set. Exiting...

[2021-11-21 02:06] lpantano commented on #3358
Thank you! almost there, I forgot the last step :)

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. **This includes the title (shoul

[2021-11-21 02:30] hknd23 commented on #3904
Hi @JacksonMaxfield,

The CDP project has many potential applications in the social sciences such as Political Science, Public Policy, and Sociology, as well as Legal Studies. The website and interface are well developed, and the ability to collect rich data is noteworthy.
Please note that due to the cost to host my own instance, I also have not deployed the project myself. However, I have followe

[2021-11-21 05:06] mithun218 commented on #3885
Hi @peanutfun I went through your suggestion:

and did just as you suggested, more or less [here](https://github.com/mithun218/GiNaCDE/pull/18) and [here](https://github.com/mithun218/GiNaCDE/pull/19).

1. I have updated README and documentation files as you suggested in [this](https://github.com/mithun218/GiNaCDE/issues/5) issue.
2. I have removed the tar balls as proposed in [this](https://githu

[2021-11-21 06:47] mithun218 commented on #3885
Hi @peanutfun I went through your suggestion:

and did just as you suggested, more or less [here](https://github.com/mithun218/GiNaCDE/pull/20).

1. I have updated README file as you proposed in [this](https://github.com/mithun218/GiNaCDE/issues/8) issue.

Please let us know if we can do anything more.

[2021-11-21 07:03] whedon commented on #3896
:wave: @dmikushin, please update us on how your review is going (this is an automated reminder).

[2021-11-21 07:03] whedon commented on #3896
:wave: @olekravchenko, please update us on how your review is going (this is an automated reminder).

[2021-11-21 09:21] Bisaloo commented on #3909
Are you sure you're okay with reviewing two papers back to back? I can look for other reviewers.

If you think it's fine, we can easily wait one week.

[2021-11-21 11:41] whedon opened #3938 "[PRE REVIEW]: sweater: Speedy Word Embedding Association Test and Extras Using R"
**Submitting author:** @chainsawriot (<a href="http://orcid.org/0000-0002-6232-7530">Chung-hong Chan</a>)
**Repository:** <a href="https://github.com/chainsawriot/sweater" target ="_blank">https://github.com/chainsawriot/sweater</a>
**Version:** v0.1.0
**Editor:** @sbenthall
**Reviewers:** @kbenoit, @cmaimone
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Du

[2021-11-21 11:41] whedon commented on #3938
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-21 11:41] whedon commented on #3938
Wordcount for `paper.md` is 1324

[2021-11-21 11:41] whedon commented on #3938
[code]

[2021-11-21 11:41] whedon commented on #3938
[code]

[2021-11-21 11:41] whedon commented on #3938
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03938/joss.03938/10.21105.joss.03938.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03938/joss.03938/10.21105.joss.03938.pdf) :page_facing_up: :point_left:

[2021-11-21 11:49] mlxd commented on #3743
Apologies for the delays. I have added a new issue for compiling the library at https://github.com/JetBrains-Research/spbla/issues/13

[2021-11-21 11:52] whedon commented on #3897
:wave: @TomDonoghue, please update us on how your review is going (this is an automated reminder).

[2021-11-21 11:52] whedon commented on #3897
:wave: @janfreyberg, please update us on how your review is going (this is an automated reminder).

[2021-11-21 12:07] mlxd commented on #3743
Issue added for adding additional examples: https://github.com/JetBrains-Research/spbla/issues/14

[2021-11-21 12:11] mlxd commented on #3743
Issue added for community guidelines https://github.com/JetBrains-Research/spbla/issues/16

[2021-11-21 12:13] mlxd commented on #3743
Issue added for API functionality documentation https://github.com/JetBrains-Research/spbla/issues/15

[2021-11-21 14:13] TimKam commented on #3909
Should be okay, as I am done with the other review by now.

[2021-11-21 15:08] chainsawriot commented on #3938
@whedon generate pdf

[2021-11-21 15:09] whedon commented on #3938
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03938/joss.03938/10.21105.joss.03938.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03938/joss.03938/10.21105.joss.03938.pdf) :page_facing_up: :point_left:

[2021-11-21 15:24] chainsawriot commented on #3938
I've checked and added all missing DOIs.

[2021-11-21 15:37] JasonGellis commented on #3738
@whedon generate pdf

[2021-11-21 15:38] whedon commented on #3738
PDF failed to compile for issue #3738 with the following error:
[code]

[2021-11-21 17:39] chainsawriot commented on #3938
@whedon generate pdf

[2021-11-21 17:40] whedon commented on #3938
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03938/joss.03938/10.21105.joss.03938.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03938/joss.03938/10.21105.joss.03938.pdf) :page_facing_up: :point_left:

[2021-11-21 18:19] jbytecode commented on #3895
Dear @kmichael08 and @richrobe

Thank you for your effort on reviewing. A small trick:

Could you please mention the `JOSS thread URL` in your issue entries in the target repo, so we can keep tracking of your work.

Thank you in advance.

[2021-11-21 18:26] arfon commented on #3673
@whedon accept

[2021-11-21 18:26] whedon commented on #3673
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-11-21 18:26] arfon commented on #3673
@whedon recommend-accept

[2021-11-21 18:26] whedon commented on #3673
[code]

[2021-11-21 18:26] whedon commented on #3673
[code]

[2021-11-21 18:26] whedon commented on #3673
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2759

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2759, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-21 18:27] benjaminbolling commented on #3431
@majensen : Thanks for the reminder/motivator. I push it now.

[2021-11-21 18:28] benjaminbolling commented on #3431
@whedon generate pdf

[2021-11-21 18:28] whedon commented on #3431
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03431/joss.03431/10.21105.joss.03431.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03431/joss.03431/10.21105.joss.03431.pdf) :page_facing_up: :point_left:

[2021-11-21 18:29] arfon commented on #3673
@whedon accept deposit=true

[2021-11-21 18:29] whedon commented on #3673
[code]

[2021-11-21 18:30] whedon commented on #3673
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1462488622670692355) 👈 🐦🐦🐦

[2021-11-21 18:30] whedon commented on #3673
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2760
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03673](https://doi.org/10.21105/joss.03673)
2. If everything look

[2021-11-21 18:34] Fil commented on #3777
Can do!

[2021-11-21 18:34] arfon commented on #3673
@cpgr, @TobbeTripitaka, @akaszynski – many thanks for your reviews here and to @leouieda for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@joergbuchwald – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-11-21 18:34] #3673 closed

[2021-11-21 18:34] whedon commented on #3673
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03673/status.svg)](https://doi.org/10.21105/joss.03673)

**We need your help!**

Journal of Open Source Softwa

[2021-11-21 18:35] arfon commented on #3376
Not at all. Thanks so much for getting back to us @rchew!

@MamadouSDiallo – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title o

[2021-11-21 18:58] lucydot commented on #3725
@whedon set v1.0.0 as version

[2021-11-21 18:58] whedon commented on #3725
OK. v1.0.0 is the version.

[2021-11-21 19:00] lucydot commented on #3725
It looks to me that everything is good to go now @kyleniemeyer? I'll recommend acceptance now..
Congratulations @temken  looks like we are *almost* there!

[2021-11-21 19:00] lucydot commented on #3725
@whedon recommend-accept

[2021-11-21 19:00] whedon commented on #3725
[code]

[2021-11-21 19:01] whedon commented on #3725
[code]

[2021-11-21 19:01] whedon commented on #3725
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2761

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2761, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-21 19:06] lucydot commented on #3725
@temken it looks like the pre-print from Griffin et al has just been published in PRD (10.1103/physrevd.104.095015) - please could you update the paper reference to reflect this? Thank-you

[2021-11-21 19:17] Saran-nns opened #3939 "A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is?"

[2021-11-21 19:17] whedon commented on #3939
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-11-21 19:17] #3939 closed

[2021-11-21 19:21] gradvohl commented on #3919
Hello @siara-cc,

I apologize for being so critical, but I am still not satisfied with some information in your repository.

First, I understand that you prefer to document the functions in the `.h` file, and I see no problems in doing this. However, in the "**File List**" section on the generated documentation, there is no reference to the ``unishox2.c`` file. Therefore, since you are expecting t

[2021-11-21 19:43] chainsawriot commented on #3938
@whedon generate pdf

[2021-11-21 19:43] whedon commented on #3938
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03938/joss.03938/10.21105.joss.03938.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03938/joss.03938/10.21105.joss.03938.pdf) :page_facing_up: :point_left:

[2021-11-21 20:26] kmichael08 commented on #3895
Hey @csinva, @jbytecode. I went through the code, paper and documentation.
VeridicalFlow seems to be an exciting and solid package, and I could use it in the future!
I list some issues below, the most pressing for me are the issues with examples.

### Software

- Smooth setup
- Minor comment for requirements (https://github.com/Yu-Group/veridical-flow/issues/18)
- Code looks good in general, altho

[2021-11-21 20:32] jbytecode commented on #3895
Dear @kmichael08 : Thank you for your comments and issues created in the target repo.

Dear @csinva: please consider applying the recommendations that our reviewer addressed. If you don't argue with him, please let us know why.

[2021-11-21 20:52] majensen commented on #3777
@whedon add @Fil as reviewer

[2021-11-21 20:52] whedon commented on #3777
OK, @Fil is now a reviewer

[2021-11-21 20:52] majensen commented on #3777
@whedon start review

[2021-11-21 20:52] whedon opened #3940 "[REVIEW]: Binary-parser: A declarative and efficient parser generator for binary data"
**Submitting author:** @keichi (<a href="http://orcid.org/0000-0002-1607-5694">Keichi Takahashi</a>)
**Repository:** <a href="https://github.com/keichi/binary-parser" target ="_blank">https://github.com/keichi/binary-parser</a>
**Version:** v2.0.1
**Editor:** @majensen
**Reviewer:** @GaurangTandon, @Fil
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-11-21 20:52] whedon commented on #3777
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3940.

[2021-11-21 20:52] #3777 closed

[2021-11-21 20:52] whedon commented on #3940
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @GaurangTandon, @Fil it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-11-21 20:52] whedon commented on #3940
[code]

[2021-11-21 20:52] whedon commented on #3940
PDF failed to compile for issue #3940 with the following error:
[code]

[2021-11-21 20:53] majensen commented on #3777
@GaurangTandon @Fil thanks so much for helping review @keichi 's work. The review has now begun over in issue #3940.

[2021-11-21 20:56] majensen commented on #3197
@felipeZ  - checking if you have made progress on Ceiba. Let me know if you would prefer to put this review on pause. Not a problem - thanks -@majensen

[2021-11-21 21:18] majensen commented on #3940
@whedon generate pdf from branch joss-paper

[2021-11-21 21:18] whedon commented on #3940
[code]

[2021-11-21 21:19] whedon commented on #3940
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03940/joss.03940/10.21105.joss.03940.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03940/joss.03940/10.21105.joss.03940.pdf) :page_facing_up: :point_left:

[2021-11-21 21:33] chainsawriot commented on #3938
I've edited the paper a bit to add the missing DOIs.

May I suggest the following reviewers: pmyteh kbenoit alexhanna

[2021-11-21 21:35] arokem commented on #3124
@szkafander : have you had a chance to review the paper and software?

@nsaunier : where do things stand on your end? Have all your concerns been addressed? I see that you have not checked all of the boxes in your check list yet.

[2021-11-21 21:56] siara-cc commented on #3919
Hi @gradvohl , Sure, I have added `unishox2.c` to Doxygen doc and uploaded the actual PDF to figshare with a link in README.md.  I have documented each function and variable in `unishox2.c` to make it easy to understand for viewers and future contributors.  Thank you for pointing this out.

[2021-11-21 22:10] csinva commented on #3895
Thanks for the thoughtful feedback! We'll get to work on addressing and applying the recommendations.

[2021-11-21 23:40] Saran-nns commented on #3917
Hi, a quick update. I created an [issue](https://github.com/carnotresearch/cr-sparse/issues/21#issue-1059511222) with some suggestions at the repository.

[2021-11-22 01:37] szkafander commented on #3124
@arokem I have not been able to install or build the package so far. I saw some discussion about it in previous comments and I've been hoping those issues are addressed. I am still having issues with installation. I will post the errors as issues and wait for a resolution.

[2021-11-22 03:48] szkafander commented on #3124
@arokem I figured that you wanted to move on with this review since it has been pending for a while. This is my experience with the code so far:

Installation does not work on Windows. I could not find any indication in the docs about the supported operating systems so I assumed that it should work on Windows. I was able to install on Linux. Did not try on Mac.

The package works as intended on de

[2021-11-22 07:33] fabian-s commented on #3780
@ArkajyotiSaha what's your timeline for adressing our reviewers' comments?

[2021-11-22 07:34] fabian-s commented on #3844
@perrydv please update us on your progress adressing these issues.

[2021-11-22 07:36] fabian-s commented on #3652
@WildfireXIII please update us on your progress in adressing these issues.

[2021-11-22 07:45] Spartanzhao commented on #3916
Okay, I'll fix my README and other problems

[2021-11-22 07:47] ArkajyotiSaha commented on #3780
@fabian-s I am working on the revision and am almost done with them. I plan to submit them by the end of the thanksgiving weekend (29th Nov). Please let me know if the timeline works for you. Thanks!

[2021-11-22 07:49] fabian-s commented on #3780
great, thanks for the update.

[2021-11-22 09:35] mikldk commented on #3911
@tedinburgh, @mariacuellar: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-11-22 10:09] hugoledoux commented on #2869
@sdesabbata could you please tick the boxes above so that we can clearly identify what is left?

And the code has been checked already by the other reviewer, so I assume this is okay.

- - -

@SimonMolinsky can you address the notation issue raised?  And I agree that adding legends to the maps is required.

[2021-11-22 10:41] llrs commented on #3358
After merging the paper branch with the main branch of the software I made a tagged release with version: [0.1.1](https://github.com/llrs/experDesign/releases/tag/v0.1.1).
I updated archive on Zenodo at: https://doi.org/10.5281/zenodo.5718051 (I copied the title and author's data copied from the manuscript).
I haven't submitted the new version of the package to CRAN, let me know if this is also ne

[2021-11-22 11:05] timtroendle commented on #3596
@noah80, this review is currently blocked by the unfinished second review. Can you please give us an update?

[2021-11-22 11:13] pdebuyl commented on #3076
ping @georgiastuart

[2021-11-22 11:17] pdebuyl commented on #3917
Hi @shailesh1729 thanks for the editing, this is better. The listing of features in the summary is still excessive (explicit and detailed listing of all subpackages is also for the documentation). Also, a mention such as "For details, see the onlinedocumentation" is redundant.

[2021-11-22 11:21] SimonMolinsky commented on #2869
@sdesabbata,

Thank you for your comments. You were right with the description of Lagrange Multiplier, it was a mistake that I've described this parameter as a "process mean". I've checked code to be sure that the implementation doesn't use any "mean" too :) and there is a correct Lagrange Multiplier in the final equation of Ordinary Kriging.

I'll change descriptions and notations, add legends to

[2021-11-22 11:29] koenderks commented on #2733
Hi @drvinceknight,

Just a polite nudge to see if you have had a chance to look at the software archive and DOI provided above. If there is anything I can do to assist, or if there is something that needs to be changed about the archive, I would be glad to help out.

[2021-11-22 11:39] gradvohl commented on #3919
Hello @siara-cc,
In my opinion, everything is ok now. Congrats. :clap:

[2021-11-22 11:43] sdesabbata commented on #2869
Thank you @SimonMolinsky. I have re-run the example and added the legends to better review the results. I have created a pull request for the paper repo.

@hugoledoux Based on the replies above, the presence of those patters is the only concern I have at the moment.

[2021-11-22 11:47] mikldk commented on #3831
@whedon add @holtgrewe as reviewer

[2021-11-22 11:47] whedon commented on #3831
OK, @holtgrewe is now a reviewer

[2021-11-22 11:48] mikldk commented on #3831
@whedon start review

[2021-11-22 11:48] whedon opened #3941 "[REVIEW]: Rasusa: Randomly subsample sequencing reads to a specified coverage"
**Submitting author:** @mbhall88 (<a href="http://orcid.org/0000-0003-3683-6208">Michael Hall</a>)
**Repository:** <a href="https://github.com/mbhall88/rasusa" target ="_blank">https://github.com/mbhall88/rasusa</a>
**Version:** v0.6.1
**Editor:** @mikldk
**Reviewer:** @k3yavi, @holtgrewe
**Archive:** <a href="https://doi.org/10.5281/zenodo.5895111" target="_blank">10.5281/zenodo.5895111</a>

**:w

[2021-11-22 11:48] whedon commented on #3831
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3941.

[2021-11-22 11:48] #3831 closed

[2021-11-22 11:48] whedon commented on #3941
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @k3yavi, @holtgrewe it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-11-22 11:48] whedon commented on #3941
[code]

[2021-11-22 11:48] whedon commented on #3941
PDF failed to compile for issue #3941 with the following error:
[code]

[2021-11-22 11:48] mikldk commented on #3941
@whedon check references from branch joss_paper

[2021-11-22 11:48] whedon commented on #3941
[code]

[2021-11-22 11:48] whedon commented on #3941
[code]

[2021-11-22 11:49] mikldk commented on #3941
@whedon generate pdf from branch joss_paper

[2021-11-22 11:49] whedon commented on #3941
[code]

[2021-11-22 11:50] whedon commented on #3941
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03941/joss.03941/10.21105.joss.03941.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03941/joss.03941/10.21105.joss.03941.pdf) :page_facing_up: :point_left:

[2021-11-22 11:51] mikldk commented on #3941
@k3yavi, @holtgrewe: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this review

[2021-11-22 11:58] whedon opened #3942 "[PRE REVIEW]: epwshiftr: Create future EnergyPlus Weather files using CMIP6 data"
**Submitting author:** @hongyuanjia (<a href="http://orcid.org/0000-0002-0075-8183">Hongyuan Jia</a>)
**Repository:** <a href="https://github.com/ideas-lab-nus/epwshiftr" target ="_blank">https://github.com/ideas-lab-nus/epwshiftr</a>
**Version:** v0.1.3
**Editor:** @KristinaRiemer
**Reviewers:** @mitmat, @bczernecki
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warnin

[2021-11-22 11:58] whedon commented on #3942
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-22 11:58] whedon commented on #3942
Failed to discover a `Statement of need` section in paper

[2021-11-22 11:58] whedon commented on #3942
Wordcount for `paper.md` is 709

[2021-11-22 11:58] whedon commented on #3942
[code]

[2021-11-22 11:58] whedon commented on #3942
[code]

[2021-11-22 11:58] whedon commented on #3942
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03942/joss.03942/10.21105.joss.03942.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03942/joss.03942/10.21105.joss.03942.pdf) :page_facing_up: :point_left:

[2021-11-22 12:18] richardjgowers commented on #3927
@rvhonorato @rmeli @mikemhenry would any/all of you be available to help review this?

[2021-11-22 12:22] richardjgowers commented on #3907
@andrewtarzia @mcs07 @ojeda-e would any/all of you be available to review this?

[2021-11-22 13:07] tedinburgh commented on #3911
It looks very interesting, but I'm also unable to do fit this review in I'm afraid. Apologies and best of luck!

[2021-11-22 13:09] whedon commented on #3898
:wave: @jgoldfar, please update us on how your review is going (this is an automated reminder).

[2021-11-22 13:09] whedon commented on #3898
:wave: @dalonsoa, please update us on how your review is going (this is an automated reminder).

[2021-11-22 13:21] mcs07 commented on #3907
Yes I'd be happy to review!

[2021-11-22 13:23] siara-cc commented on #3919
Hi @gradvohl Thank you and appreciate your patience 👍

[2021-11-22 13:28] RMeli commented on #3927
@richardjgowers As much as I would like to review this submission, I am too busy in this period (up to Christmas) to ensure a timely review and therefore I'll have to pass.

[2021-11-22 13:28] danielskatz commented on #3619
👋 @savage13 - just a note that there are some issues for you to work on from @mbegnaud

[2021-11-22 13:33] rvhonorato commented on #3927
@richardjgowers yes, thanks for the invite (:

[2021-11-22 13:33] danielskatz commented on #3618
👋 @rouson - I'm going to go ahead with accepting this now.  Please feel free to make any comments to the author in the source repo, but we won't consider that part of the review, which will now end.

[2021-11-22 13:34] andrewtarzia commented on #3907
Happy to - just confirming it is just that module of the code base?

[2021-11-22 13:34] danielskatz commented on #3618
👋 @michaeltouati - I'm now going to proofread the paper

[2021-11-22 13:35] dfm commented on #3199
@pikarpov-LANL: You said

a few weeks ago - any updates on this? I know how the weeks seem to go these days, but I wanted to check in :D

[2021-11-22 13:42] whedon opened #3943 "[PRE REVIEW]: PWSpy: A Python library dedicated to the analysis of Partial Wave Spectroscopic Microscopy data."
**Submitting author:** @nanthony21 (<a href="http://orcid.org/0000-0003-2882-2471">Nicholas Anthony</a>)
**Repository:** <a href="https://github.com/BackmanLab/PWSpy" target ="_blank">https://github.com/BackmanLab/PWSpy</a>
**Version:** 0.2.11
**Editor:** @jgostick
**Reviewers:** @dxm447
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-11-22 13:42] whedon commented on #3943
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-22 13:42] whedon commented on #3943
PDF failed to compile for issue #3943 with the following error:
[code]

[2021-11-22 13:42] whedon commented on #3943
[code]

[2021-11-22 13:44] vissarion commented on #3330
Hi @tmickleydoyle!  Do you have any other concerns on the review after the last revision? There are two unchecked boxes on your review list.

Hi @ArikaLZ! Any updates on this ongoing review?

[2021-11-22 13:46] tmickleydoyle commented on #3330
I forgot to check. All good here and thank you for the reminder. Great work y'all!!!

[2021-11-22 13:50] Kevin-Mattheus-Moerman commented on #3933
@maxpumperla thanks for this submission. I have just flagged this work for additional scope review by our editorial board. This is normal for submissions of this sizes and should take about 1-2 weeks.

[2021-11-22 13:52] danielskatz commented on #3618
👋 @michaeltouati - I've suggested some changes in https://github.com/michaeltouati/ESVM/pull/15.  In addition, this paper is too long.  See https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain.  Specifically, please remove the sections:
* Equations computed by ESVM
* ESVM units
* ESVM numerical stability
* ESVM Plasma Physics academic case simulations
* Any correspond

[2021-11-22 13:54] dfm commented on #3772
@JostMigenda: Thanks for your patience. I've checked in about the formatting issue with the manuscript and we're actually just going to fix that in post production, so for now, we're going to proceed with the final processing. Here are the steps that I'll need from you:

1. Take one last read through the manuscript to make sure that you're happy with it (it's harder to make changes later!), especi

[2021-11-22 13:59] stewartsl commented on #3652
We have made some progress and will continue to work on these next week after the holiday break.

[2021-11-22 14:04] shailesh1729 commented on #3917
@whedon generate pdf

[2021-11-22 14:05] whedon commented on #3917
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: :point_left:

[2021-11-22 14:35] andrewtarzia commented on #3829
I have completed my review and recommend acceptance of this software paper, the work is potentially very useful, although some checklist items above remain unticked for me, which I highlight here:

- [ ] Example usage: Do the authors include examples of how to use the software (ideally to solve real-world analysis problems).

- [ ]  Functionality documentation: Is the core functionality of the sof

[2021-11-22 14:39] devosmitachatterjee2018 commented on #3680
@arfon

Hope you are doing good.

I contacted our reviewer. He is currently on vacation but he assured that he will continue with the review process. He also sent me some comments on the software. Please find attached the comments.

Best regards
Devosmita

[2021-11-22 14:42] devosmitachatterjee2018 commented on #3680
@arfon I received this email from the reviewer on Nov 5.

Dear Devosmita!

A quick reflection:

I read the link you gave me: https://towardsdatascience.com/missforest-the-best-missing-data-imputation-algorithm-4d01182aed3

The imputation in the example given assumes Age is correlated to Score. How can they assume this?

In General: How can you assume that other variables in a dataset are correlate

[2021-11-22 14:53] devosmitachatterjee2018 commented on #3680
@arfon I sent this email to the reviewer on Nov 17.

Dear Håkan,

My answers to your questions are as follows.

1. I read the link you gave me: https://towardsdatascience.com/missforest-the-best-missing-data-imputation-algorithm-4d01182aed3. The imputation in the example given assumes Age is correlated to Score. How can they assume this?

The given link assumes that Age is correlated to Score usin

[2021-11-22 14:55] devosmitachatterjee2018 commented on #3680
@arfon I received this email from the reviewer on Nov 5.

Dear Devosmita!

In regression modelling, X -> Y, there is a procedure called cross-validation.
In essence it implies iteratively holding out parts of a dataset, often 1/7, making a model on the remaining part, using the X of the held-out part to predict its Y.
Since we know the held-out Y, we can evaluate the predictability of these Ys. We

[2021-11-22 14:58] mariacuellar commented on #3911
I can't do it either. Thanksgiving is a bad time for me.

But have you tried Brian Vegetabile from RAND? He would be a great
reviewer: ***@***.***

On Mon, Nov 22, 2021 at 8:07 AM tedinburgh ***@***.***> wrote:

[2021-11-22 15:01] ahoshiyar commented on #3828
Thank you so much for your comments, @osorensen!
The tagged version is 1.0.1 & Zenodo DOI is 10.5281/zenodo.5718572

[2021-11-22 15:03] kthyng commented on #3344
@mcflugen I know this has been a long review process and I'm sorry about that. But, I want to check in and see if you've had a chance to look at input from @cheginit?

[2021-11-22 15:04] kthyng commented on #3594
Hi @SeascapeScience! Might you have a chance to start this review in the next week or two?

[2021-11-22 15:05] ahoshiyar commented on #3828
@whedon generate pdf

[2021-11-22 15:05] kthyng commented on #3814
@briochemc Looks like we are waiting to hear back from you on your reviewer input.

[2021-11-22 15:05] whedon commented on #3828
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03828/joss.03828/10.21105.joss.03828.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03828/joss.03828/10.21105.joss.03828.pdf) :page_facing_up: :point_left:

[2021-11-22 15:24] nanthony21 commented on #3943
@whedon commands

[2021-11-22 15:24] whedon commented on #3943
Here are some things you can ask me to do:

[code]

[2021-11-22 15:25] nanthony21 commented on #3943
@whedon generate pdf from branch JOSS

[2021-11-22 15:25] whedon commented on #3943
[code]

[2021-11-22 15:25] whedon commented on #3943
PDF failed to compile for issue #3943 with the following error:
[code]

[2021-11-22 15:26] htjb commented on #3859
@whedon generate pdf

[2021-11-22 15:26] Kevin-Mattheus-Moerman commented on #3935
@whedon invite @rkurchin as editor

[2021-11-22 15:26] whedon commented on #3935
@rkurchin has been invited to edit this submission.

[2021-11-22 15:27] whedon commented on #3859
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03859/joss.03859/10.21105.joss.03859.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03859/joss.03859/10.21105.joss.03859.pdf) :page_facing_up: :point_left:

[2021-11-22 15:27] Kevin-Mattheus-Moerman commented on #3935
@rkurchin this may be off topic a bit but seems most aligned with you, are you able to handle this work?

[2021-11-22 15:28] mithun218 commented on #3885
Hi @peanutfun I went through your suggestion:

and did just as you suggested, more or less [here](https://github.com/mithun218/GiNaCDE/pull/21).

Please let us know if we can do anything more.

[2021-11-22 15:30] fabian-sp commented on #3865
@gkthiruvathukal The Github release tag is `v0.1.7`.
The Zenodo archive ihas the DOI `10.5281/zenodo.5718440` (link: https://zenodo.org/record/5718440#.YZuuRJHMI5k)

Let me know if the metadata is correct.

[2021-11-22 15:30] Kevin-Mattheus-Moerman commented on #3938
@chainsawriot thanks for this submission and for suggesting potential reviewers. A first step is to confirm whether this work is in scope for JOSS. I have just assigned the `query-scope` label here. This means I have triggered an additional scope review by the editorial board. This is typical for submissions of this size so essentially we will determine whether this work presents with [sufficient

[2021-11-22 15:37] Kevin-Mattheus-Moerman commented on #3924
@prashjha I am interested in this work and would like to "take it for a spin". I could serve as an N+1th reviewer if you like. I say N+1th, since I am quite new to Julia, so do recommend you get some much more experienced reviewers here too.

FYI I'd say that the reviewers and developers of Gridap (https://joss.theoj.org/papers/10.21105/joss.02520) would be great as a reviewer for this too e.g.: f

[2021-11-22 15:38] nanthony21 commented on #3943
The paper builds fine through [Github Actions](https://github.com/BackmanLab/PWSpy/actions/runs/1490905003), Docker, and the online previewer, I'm not sure what the issue is here.

[2021-11-22 15:38] rkurchin commented on #3935
I can do it, but I'm hoping not to take on any new stuff this week so I can have a bit of a break over the holiday. Is it okay if I pick this up in a week's time?

[2021-11-22 15:41] chartgerink commented on #3904
Thank you @chainsawriot and @hknd23 for the constructive reviews! 🥳

@JacksonMaxfield the ball is back in your court regarding the reviewer's comments. I agree that the main points to respond to are:

* Installation instructions
* Figure 1 readability
* Community guidelines

Please feel free to ping me here once you feel you've worked on these points to resolve the reviewer's questions/comments to

[2021-11-22 15:42] Kevin-Mattheus-Moerman commented on #3942
@whedon invite @timtroendle as editor

[2021-11-22 15:42] whedon commented on #3942
@timtroendle has been invited to edit this submission.

[2021-11-22 15:43] whedon opened #3944 "[PRE REVIEW]: Rainbow: Automated Air-Liquid Interface Cell Culture Analysis Using Deep Optical Flow"
**Submitting author:** @AlphonsG (<a href="http://orcid.org/0000-0002-9607-2839">Alphons Gwatimba</a>)
**Repository:** <a href="https://github.com/AlphonsG/Rainbow-Optical-Flow-For-ALI" target ="_blank">https://github.com/AlphonsG/Rainbow-Optical-Flow-For-ALI</a>
**Version:** 0.1.0
**Editor:** @jmschrei
**Reviewers:** @tpeulen, @Assistedevolution
**Managing EiC:** Kevin M. Moerman

**:warning: JOS

[2021-11-22 15:43] whedon commented on #3944
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-22 15:44] whedon commented on #3944
PDF failed to compile for issue #3944 with the following error:
[code]

[2021-11-22 15:44] whedon commented on #3944
[code]

[2021-11-22 15:47] Kevin-Mattheus-Moerman commented on #3943
@openjournals/dev can you help troubleshoot this error :point_up:

[2021-11-22 15:52] catsch commented on #3659
I think It was done on my side (checking box and closing the issue I raised )
Do I miss something ?

[2021-11-22 15:53] prashjha commented on #3924
@Kevin-Mattheus-Moerman thanks and I am cool with you being the reviewer....adding you now

[2021-11-22 15:54] prashjha commented on #3924
@whedon assign @Kevin-Mattheus-Moerman as reviewer

[2021-11-22 15:54] whedon commented on #3924
OK, @Kevin-Mattheus-Moerman is now a reviewer

[2021-11-22 15:54] Kevin-Mattheus-Moerman commented on #3943
@whedon invite @jgostick as editor

[2021-11-22 15:54] htjb commented on #3859
Dear @chasmani,

Thank you for the response to my comments and apologies I haven't had a chance to look at this work again sooner.

It looks like you have made some good progress with the repository and the testing/coverage looks great. The changes that have been made to the paper are also really helpful. Particularly the more detailed statement of need is great and the google colab notebook will

[2021-11-22 15:54] whedon commented on #3943
@jgostick has been invited to edit this submission.

[2021-11-22 15:55] prashjha commented on #3924
Hi @fverdugo, @Kevin-Mattheus-Moerman and I think this submission will be of interest to you. Would you be able to review this?

[2021-11-22 15:58] Kevin-Mattheus-Moerman commented on #3944
@whedon generate pdf from branch dev

[2021-11-22 15:58] whedon commented on #3944
[code]

[2021-11-22 15:59] Kevin-Mattheus-Moerman commented on #3944
@AlphonsG I am using the correct branch there, i.e. `dev` to generate the paper from?

[2021-11-22 15:59] whedon commented on #3944
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03944/joss.03944/10.21105.joss.03944.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03944/joss.03944/10.21105.joss.03944.pdf) :page_facing_up: :point_left:

[2021-11-22 16:04] kthyng commented on #3659
@catsch Oops! It looks like you're right! Sorry for the extraneous ping. Can I verify then that the submission is acceptable from your perspective?

[2021-11-22 16:07] SeascapeScience commented on #3594
Yes, thanks for your patience. I'll dig in in the next few days.

[2021-11-22 16:07] Kevin-Mattheus-Moerman commented on #3944
@whedon invite @jmschrei as editor

[2021-11-22 16:07] whedon commented on #3944
@jmschrei has been invited to edit this submission.

[2021-11-22 16:09] Kevin-Mattheus-Moerman commented on #3944
@jmschrei from the available editors this seems most aligned with your expertise, are you able to help edit?

[2021-11-22 16:11] AndreWeiner commented on #3860
Dear @Kevin-Mattheus-Moerman,
a quick question: I guess the DOI printed in the draft is not going to be the final DOI but acts as a placeholder, right?
I'll have to submit another article next week, in which I'd like to cite flowTorch using a proper DOI.
Thanks,
Andre

[2021-11-22 16:13] AlphonsG commented on #3944
Hello @Kevin-Mattheus-Moerman, nice to virtually meet you. I have merged `dev` with the main branch so please use the main branch to review the paper and software. Apologies for forgetting to merge.

[2021-11-22 16:17] ojeda-e commented on #3907
I'm in!

[2021-11-22 16:25] timtroendle commented on #3942
I am sorry but I cannot edit one more paper at this point.

[2021-11-22 16:31] perrydv commented on #3844
@fabian-s Apologies for the delay and I am working on it now.

[2021-11-22 16:38] AlphonsG commented on #3944
@whedon generate pdf

[2021-11-22 16:40] whedon commented on #3944
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03944/joss.03944/10.21105.joss.03944.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03944/joss.03944/10.21105.joss.03944.pdf) :page_facing_up: :point_left:

[2021-11-22 16:48] gkthiruvathukal commented on #3865
@fabian-sp Thank you! I will check everything a bit later today.

[2021-11-22 16:52] AlphonsG commented on #3944
@whedon commands

[2021-11-22 16:52] whedon commented on #3944
Here are some things you can ask me to do:

[code]

[2021-11-22 16:56] AlphonsG commented on #3944
May I also suggest Shihao Jiang as a potential reviewer (email address shihao.jiang@anu.edu.au, GitHub username zacjiang).

[2021-11-22 16:58] catsch commented on #3659
yes it is

--
Catherine Schmechtig

0681827411

LEFE-CYBER Database
http://www.obs-vlfr.fr/proof

BGC Argo
http://biogeochemical-argo.org/

https://github.com/catsch

OSU Ecce Terra
Sorbonne Université - CNRS - UMS 3455
4, Place Jussieu
75 252 Paris Cedex 05
Tour 45 - couloir 45-55
2eme etage - 207

De: "Kristen Thyng" ***@***.***>
À: "openjournals" ***@***.***>
Cc: "Catherine Schmechtig" ***@***.

[2021-11-22 17:02] jorgedch commented on #3124
Thank you for your feedback @szkafander.

[Installation on Windows]
Good catch, the package is intended to be used in Linux and MacOS, so we'll clarify this in the documentation and setup file.

[Detection accuracy]
Indeed, it is the case that the accuracy of the logo detections of the provided model is not very high. We describe in the README the following:

"additionally to sharing with you a co

[2021-11-22 17:11] nanthony21 commented on #3943
@whedon generate pdf from branch JOSS

[2021-11-22 17:11] whedon commented on #3943
[code]

[2021-11-22 17:12] whedon commented on #3943
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03943/joss.03943/10.21105.joss.03943.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03943/joss.03943/10.21105.joss.03943.pdf) :page_facing_up: :point_left:

[2021-11-22 17:13] nanthony21 commented on #3943
It looks like it may have been because my `affiliations` section was missing `index: 1`. It's fixed now.

[2021-11-22 17:30] galessiorob commented on #3859
@whedon generate pdf

[2021-11-22 17:31] whedon commented on #3859
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03859/joss.03859/10.21105.joss.03859.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03859/joss.03859/10.21105.joss.03859.pdf) :page_facing_up: :point_left:

[2021-11-22 17:31] jmschrei commented on #3944
@whedon assign me as editor

[2021-11-22 17:31] whedon commented on #3944
OK, the editor is @jmschrei

[2021-11-22 17:32] jmschrei commented on #3944
@ivergara and @tpeulen would either of you be available to review this submission?

[2021-11-22 18:04] KAClough commented on #3703
@Sbozzolo sorry for the delay, I have now updated the major points you made regarding the wiki, in particular:

- The home page https://github.com/GRChombo/GRChombo/wiki now gives a lot more guidance on how to use the wiki, and how to report bugs, contribute (I have simply linked to this in the README.md file, rather than duplicate wording from the wiki).
- There is a new Capabilities page: https:

[2021-11-22 18:14] arfon commented on #3925
@whedon set v0.1.6 as version

[2021-11-22 18:14] whedon commented on #3925
OK. v0.1.6 is the version.

[2021-11-22 18:16] arfon commented on #3925
@duncanmmacleod @cmbiwer @johnveitch – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is: _LEGWORK: A python package for computing the evolution and detectability of stellar-origin gravitatio

[2021-11-22 18:41] galessiorob commented on #3859
Thank you @vyasr @Ebedthan @htjb for your thorough and kind reviews! We're getting very close to the finish line for this paper 🚀

@chasmani Could you please take a look at @htjb 's suggestions on their last issue, please? I don't think the PEP8 compatibility issue should be a blocker for publishing but will check with other editors. As for the formatting it'd be great if you could get to it 🎉

I

[2021-11-22 18:44] kadglass commented on #2920
@arfon @dfm We have finished implementing the testing for the repository.  Please take a look and let us know of any additional issues that need to be addressed.  Thank you!

[2021-11-22 18:57] osorensen commented on #3828
@whedon set 10.5281/zenodo.5718572 as arcive

[2021-11-22 18:57] whedon commented on #3828
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-11-22 18:57] osorensen commented on #3828
@whedon set 10.5281/zenodo.5718572 as archive

[2021-11-22 18:57] whedon commented on #3828
OK. <a href="https://doi.org/10.5281/zenodo.5718572" target="_blank">10.5281/zenodo.5718572</a> is the archive.

[2021-11-22 18:57] osorensen commented on #3828
@whedon set 1.0.1 as version

[2021-11-22 18:57] whedon commented on #3828
OK. 1.0.1 is the version.

[2021-11-22 18:57] osorensen commented on #3828
@whedon recommend-accept

[2021-11-22 18:57] whedon commented on #3828
[code]

[2021-11-22 18:58] whedon commented on #3828
[code]

[2021-11-22 18:58] whedon commented on #3828
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2762

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2762, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-22 19:16] galessiorob commented on #3877
@MaaniBeigy will you be able to add your review in the next upcoming days? If not out of respect for the author and reviewers we'll go ahead and publish without your review, please let me know.

We have plenty of other papers that need reviewers should this timeline not work for you.

[2021-11-22 19:19] JacksonMaxfield commented on #3904
Thank you all!

I will work on the community guidelines + contributing for the cookiecutter repository and I will work on the figure 1 readability.

A follow up question for @hknd23 regarding installation steps:

Agree. Will add a "prerequisites" section.

These [SETUP steps](https://github.com/CouncilDataProject/cookiecutter-cdp-deployment/tree/main/%7B%7B%20cookiecutter.hosting_github_repo_name%

[2021-11-22 19:30] elbeejay commented on #3649
Thanks Pablo.

In the interest of our reviewers time, could you ping us all once PR#17 as well as the anticipated PR regarding the additional tests for `pyvolcans.py` have been merged? I think it will make more sense for us to all have another look once you and your collaborators are finished making, reviewing, and merging the various changes.

-Jay

[2021-11-22 19:32] JostMigenda commented on #3772
@dfm I’ve tagged a new version (`v1.1`) and archived it to Zenodo ([DOI:10.5281/zenodo.5719209](https://zenodo.org/record/5719209)). The metadata that’s automatically generated by GitHub isn’t correct; I’ll contact a co-author who has permissions to edit that and will respond here as soon as that’s fixed.

[2021-11-22 19:41] elbeejay commented on #3894
:wave: @isgiddy, would you be willing to review this submission to JOSS? I think your experience as an ocean scientist would allow you to provide the authors with a constructive review. At JOSS we do checklist-driven reviews, the JOSS review criteria can be found [here](https://joss.readthedocs.io/en/latest/review_criteria.html).

The submission is "GCM-Filters: A Python Package for Diffusion-base

[2021-11-22 19:44] alexanderfurnas commented on #3741
I am terribly sorry, I waited too long again. Please re-invite me and I will be sure to complete my review this week

[2021-11-22 20:35] hakanfriden commented on #3680
Hello Devosmita!

I am still very suspicious to the used imputation procedure.
As an experiment I created a uniformly distributed random dataset [50*50], RndMx.xlsx
[ImputationEvaluation.xlsx](https://github.com/openjournals/joss-reviews/files/7584075/ImputationEvaluation.xlsx)
[RndMx.xlsx](https://github.com/openjournals/joss-reviews/files/7584076/RndMx.xlsx)
.
I replaced 10 (20%) of the values i

[2021-11-22 20:55] hakanfriden commented on #3680
Hello again!

I get an error when imputing:
Error using DataCleaningTool/ImputeButtonPushed (line 4472)
Undefined function 'eq' for input arguments of type 'cell'.

Error using matlab.ui.control.internal.controller.ComponentController/executeUserCallback (line 410)
Error while evaluating Button PrivateButtonPushedFcn.
The error occurs on line 4472:             writetable(Tbl_true,'filesize.csv')
I

[2021-11-22 21:01] arfon commented on #3680
Hi @hakanfriden – thanks for providing your feedback here! When you get a chance, please update your review checklist at the [top of this issue ](https://github.com/openjournals/joss-reviews/issues/3680#issue-985209930) so we can get an idea of roughly how much of your review you have completed thus far.

Many thanks!

[2021-11-22 21:14] Sbozzolo commented on #3703
This is terrific work! I think that the documentation improved dramatically. My final (non-blocking) comments are:
- In the documentation, you ask users to report bug `detailing the exact version of the code you are using`. If this identified with the commit hash?
- I would think about the copyright more carefully, even it is something that is not typically important in software for numerical rela

[2021-11-22 21:39] SimonMolinsky commented on #2869
@sdesabbata Thanks a lot! So now I'll investigate those patterns.

[2021-11-22 21:40] mikemhenry commented on #3927
@richardjgowers yes!

[2021-11-22 22:36] briochemc commented on #3814
@kthyng Yes! I've been working (slowly) on the code revisions according to @zhenwu0728's code comments! (I already merged a PR with one fix for output display, and I am trying options for moving the notebooks from Jupyter to Pluto)

[2021-11-22 22:56] siara-cc commented on #3919
Hi @gradvohl it still shows 2 items pending for the first review. Anything I need to do to close them ?
@gkthiruvathukal

[2021-11-22 23:11] gradvohl commented on #3919
Hello @siara-cc,
Your software does not cover the two items (Automated Tests and Performance claims). That is the reason why I left both items checked off.

[2021-11-22 23:28] siara-cc commented on #3919
Hi @gradvohl I have unit tests that provide good coverage and presented performance numbers in the performance section comparing to other competitive technologies. Also another person has made comprehensive tests and performance comparison with reddit posts as mentioned in the credits section. Kindly see if this meets thess requirements.

[2021-11-22 23:30] gkthiruvathukal commented on #3919
@gradvohl is right. In some cases, the items are not required. Being a software engineer myself, I like to see automatic tests  or unit tests but there are some cases where requiring it doesn't make sense.

I'm still hoping to hear some input from @linuxscout. Based on the detailed review of @gradvohl and subsequent efforts by @siara-cc to resolve the issues, I feel like we are moving toward an ac

[2021-11-22 23:40] siara-cc commented on #3919
Thanks @gkthiruvathukal but I have both unit tests and performance tests in place. Please see my reply here: https://github.com/openjournals/joss-reviews/issues/3919#issuecomment-976005023

[2021-11-22 23:54] gkthiruvathukal commented on #3919
@gradvohl  Can you please check? Or clarify what you mean by *does not cover*?  It would be great if you check both of these based on @siara-cc's follow up.

[2021-11-23 01:53] gradvohl commented on #3919
Hello @gkthiruvathukal and @siara-cc,
As far as I know, the performance tests deal with memory and CPU usage metrics. Unfortunately, I did not find any information about those metrics in the repository. The fact that Unishox2 reaches better compression rates when compared to other software is essential, indeed. However, that fact is tied to the software's core and novelty, not its performance.

Co

[2021-11-23 02:30] gkthiruvathukal commented on #3919
@gradvohl Thanks for your clarification. It seems like there is nothing preventing acceptance here, but if any of these issues are blockers, please feel free to speak up. The JOSS approach is to make sure a submission results in as few open issues as possible, with the hope that the software delights users when they try to use it.

Regarding *unit tests*, my view is that if someone else did the te

[2021-11-23 06:10] siara-cc commented on #3919
Hi @gradvohl , Thank you for the clarification.  So far Unishox outperforms all other technologies on compression ratio and memory usage but not speed due to complexity of logic.  I have mentioned this in the documentation and have not been able to find a better way to present it so far.

I do have Unit tests and CI pipeline in the repo that does rigorous testing with API calls and files for sever

[2021-11-23 07:33] esteinig commented on #2991
@luizirber yep totally, apologies for the delay (and thanks for the ping)

* Release: `0.8.3`
* Zenodo: `10.5281/zenodo.5720098 `

[2021-11-23 07:42] briochemc commented on #3814
@whedon commands

[2021-11-23 07:42] whedon commented on #3814
Here are some things you can ask me to do:

[code]

[2021-11-23 07:54] chartgerink commented on #3741
@whedon re-invite @alexanderfurnas as reviewer

[2021-11-23 07:54] whedon commented on #3741
OK, the reviewer has been re-invited.

@alexanderfurnas please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-11-23 08:04] lionel68 commented on #3811
Sorry for the long wait, will look at this this afternoon, @mhesselbarth is there a new article proof, would be easier for me than going through the md file.

[2021-11-23 08:05] Bisaloo commented on #3811
@whedon generate pdf

[2021-11-23 08:05] whedon commented on #3811
PDF failed to compile for issue #3811 with the following error:
[code]

[2021-11-23 08:06] Bisaloo commented on #3811
@whedon generate pdf from branch joss

[2021-11-23 08:06] whedon commented on #3811
[code]

[2021-11-23 08:07] whedon commented on #3811
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03811/joss.03811/10.21105.joss.03811.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03811/joss.03811/10.21105.joss.03811.pdf) :page_facing_up: :point_left:

[2021-11-23 08:50] PTierz commented on #3649
Good morning @elbeejay (@jifarquharson, and @meghanrjones),

Many thanks for your message. Certainly. We will do so as soon as the two merges have been carried out. We expect this to happen by close of play on Friday 26th November.

Hopefully, the changes will be satisfactory for you and the reviewers. I personally think that the code will have significantly improved by the time we have incorporat

[2021-11-23 09:38] rneher commented on #3773
@kellyrowland sorry for bugging, but somehow this process seems stalled. kevinlibuit has finished his review, as did DavidNickle (but the check-boxes are not ticked). And we haven't heard from EduanWilkinson in a while.

[2021-11-23 09:40] pikarpov-LANL commented on #3199
@whedon generate pdf from branch joss

[2021-11-23 09:40] whedon commented on #3199
[code]

[2021-11-23 09:40] whedon commented on #3199
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03199/joss.03199/10.21105.joss.03199.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03199/joss.03199/10.21105.joss.03199.pdf) :page_facing_up: :point_left:

[2021-11-23 09:48] pikarpov-LANL commented on #3199
@dfm , thank you for checking in! Unfortunately, due to a family emergency on the other side of the globe, I had to spend a few weeks with my family. This caused a number of delays on all work fronts, but I just got back and trying to catch up.

That said, I think that I am happy with the paper at the point. All of the figures have been updated to reflect the latest state of Sapsan. In addition, t

[2021-11-23 10:07] johnveitch commented on #3925
Hi @arfon. Thanks for the invitation to act as a reviewer for JOSS. I had a look through LegWork and it seems to be a very nicely put together package. I would be happy to review it but I've got a pretty full diary before Christmas so I don't think I'll be very swift. Perhaps if we can divide the work between myself and others it would be possible on that timescale, if that would suit you.

[2021-11-23 10:40] michaeltouati commented on #3618
I have accepted your pull request @danielskatz .

Also, following your suggestion, I removed the mentioned sections in the JOSS paper and I re-wrote them in separate pdf files in the code repo.

Finally, I have checked and corrected the references to make sure they are all in Title Case.

[2021-11-23 10:41] michaeltouati commented on #3618
@whedon generate pdf

[2021-11-23 10:42] whedon commented on #3618
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: :point_left:

[2021-11-23 10:47] Kevin-Mattheus-Moerman commented on #3942
@timtroendle okay, no worries, thanks for getting back to me.

[2021-11-23 10:47] Kevin-Mattheus-Moerman commented on #3942
@whedeon invite @KristinaRiemer as editor

[2021-11-23 10:48] Kevin-Mattheus-Moerman commented on #3935
@rkurchin yes you can be as flexible with time as needed. Would you mind if I assign you now, and that you pick this up when ready?

[2021-11-23 10:49] devosmitachatterjee2018 commented on #3680
@hakanfriden

Thank you very much for your feedback.

By this friday evening,
1. I will create a new release of my software in this repository (updated software as per your comments). Meanwhile you can find the latest version of the software in the google drive link: https://drive.google.com/drive/folders/1aAWoT33w17XFEOXtAYGx4yQf-ReoqwSS?usp=sharing
2. Also, I will check your given dataset and NR

[2021-11-23 10:59] noah80 commented on #3596
The PDF update is excellent and fulfills now all criteria. I couldn't get the tests running so far though.

@nick-gorman : Could you contact me? Maybe I'm doing something wrong.

[2021-11-23 11:26] mikldk commented on #3911
@csinva, @tgerke: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-11-23 11:33] hakanfriden commented on #3680
Dear Devosmita

What about the bug I encountered?
Now, the program crashes during the Imputation procedure.
We could look at it on a Teams session if you with.

/Håkan

[2021-11-23 12:01] Saran-nns commented on #3917
@shailesh1729 Besides the length of the draft as mentioned by @pdebuyl, I am convinced with the recent draft. I closed the issue https://github.com/carnotresearch/cr-sparse/issues/21 in favor of @shailesh1729

[2021-11-23 12:51] whedon commented on #3901
:wave: @fernandomayer, please update us on how your review is going (this is an automated reminder).

[2021-11-23 12:51] whedon commented on #3901
:wave: @fartist, please update us on how your review is going (this is an automated reminder).

[2021-11-23 13:08] Kevin-Mattheus-Moerman commented on #3886
@arfon I'll proceed to invite an alternative editor

[2021-11-23 13:10] Kevin-Mattheus-Moerman commented on #3886
@jarvist it looks like this, although a neuroscientific application, might be a good editor for this. Are you able to help?

[2021-11-23 13:11] Kevin-Mattheus-Moerman commented on #3886
@whedon invite @jarvist as editor

[2021-11-23 13:11] whedon commented on #3886
@jarvist has been invited to edit this submission.

[2021-11-23 13:18] whedon opened #3945 "[PRE REVIEW]: Castor: A C++ library to code "à la matlab""
**Submitting author:** @matthieuaussal (<a href="http://orcid.org/0000-0002-2812-7578">Matthieu Aussal</a>)
**Repository:** <a href="https://github.com/leprojetcastor/castor" target ="_blank">https://github.com/leprojetcastor/castor</a>
**Version:** v1.0.0
**Editor:** @jbytecode
**Reviewers:** @mkitti, @junliu2050
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:*

[2021-11-23 13:18] whedon commented on #3945
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-23 13:18] whedon commented on #3945
[code]

[2021-11-23 13:18] whedon commented on #3945
[code]

[2021-11-23 13:18] whedon commented on #3945
PDF failed to compile for issue #3945 with the following error:
[code]

[2021-11-23 13:20] whedon opened #3946 "[PRE REVIEW]: METASnake: A Snakemake Workflow to facilitate automated processing of metagenomic data through the metaWRAP pipeline"
**Submitting author:** @jkrapohl (<a href="http://orcid.org/0000-0003-0364-6387">John Krapohl</a>)
**Repository:** <a href="https://github.com/jkrapohl/METASnake" target ="_blank">https://github.com/jkrapohl/METASnake</a>
**Version:** 1.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2021-11-23 13:20] whedon commented on #3946
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-23 13:20] whedon commented on #3946
Wordcount for `paper.md` is 455

[2021-11-23 13:20] whedon commented on #3946
[code]

[2021-11-23 13:20] whedon commented on #3946
[code]

[2021-11-23 13:20] whedon commented on #3946
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03946/joss.03946/10.21105.joss.03946.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03946/joss.03946/10.21105.joss.03946.pdf) :page_facing_up: :point_left:

[2021-11-23 13:21] rkurchin commented on #3935
No problem, go for it!

—————————————
Rachel C. Kurchin, PhD
Postdoctoral Researcher (formerly MolSSI and MFI Fellow)
Carnegie Mellon Mechanical Engineering and Materials Science
https://rkurchin.github.io
On Nov 23, 2021, 5:48 AM -0500, Kevin Mattheus Moerman ***@***.***>, wrote:

[2021-11-23 13:24] danielskatz commented on #3618
@whedon check references

[2021-11-23 13:24] whedon commented on #3618
[code]

[2021-11-23 13:25] danielskatz commented on #3618
@michaeltouati - I've created one more PR to try to fix two lists: https://github.com/michaeltouati/ESVM/pull/16
In addition, please remove the 'https://doi.org/' prefix from the DOIs listed above.

[2021-11-23 13:31] Kevin-Mattheus-Moerman commented on #3946
@jkrapohl thanks for this submission. Unfortunately this work is not substantial enough, in terms of code content, and therefore does not match our [substantial scholarly effort criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). I will therefore proceed to reject this submission at this point.

Note that rejection does not mean the software is not useful

[2021-11-23 13:31] Kevin-Mattheus-Moerman commented on #3946
@whedon reject

[2021-11-23 13:31] whedon commented on #3946
Paper rejected.

[2021-11-23 13:31] #3946 closed

[2021-11-23 13:32] Kevin-Mattheus-Moerman commented on #3945
@whedon generate pdf

[2021-11-23 13:32] whedon commented on #3945
PDF failed to compile for issue #3945 with the following error:
[code]

[2021-11-23 13:32] michaeltouati commented on #3618
@danielskatz - I've accepted your pull request and removed all "https://doi.org/" from the paper.bib file.

[2021-11-23 13:33] danielskatz commented on #3618
@whedon check references

[2021-11-23 13:34] whedon commented on #3618
[code]

[2021-11-23 13:34] danielskatz commented on #3618
@whedon generate pdf

[2021-11-23 13:34] whedon commented on #3618
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: :point_left:

[2021-11-23 13:36] danielskatz commented on #3618
Just one more change, I think - sorry I didn't see this before.
https://github.com/michaeltouati/ESVM/pull/17

[2021-11-23 13:37] danielskatz commented on #3618
Once you've accepted this, can you

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (m

[2021-11-23 13:39] Kevin-Mattheus-Moerman commented on #3935
@whedon assign @rkurchin as editor

[2021-11-23 13:39] whedon commented on #3935
OK, the editor is @rkurchin

[2021-11-23 13:51] Kevin-Mattheus-Moerman commented on #3945
@openjournals/dev can you see what is wrong with the paper :point_up:

[2021-11-23 13:54] lionel68 commented on #3811
Thanks @whedon

Some further / last minor comments:

1. line 24: I would rephrase, "Spatial autocorrelation of the environmental conditions could also ..."
2. line 27: this sentence is a bit cryptic regarding the method developed in the package, maybe best to directly name it? Like "Previous research have shown that violation of independence assumptions led to higher number of false-positive habit

[2021-11-23 13:55] Kevin-Mattheus-Moerman commented on #3945
@whedon invite @jbytecode as editor

[2021-11-23 13:56] whedon commented on #3945
@jbytecode has been invited to edit this submission.

[2021-11-23 14:03] Kevin-Mattheus-Moerman commented on #3871
@liquidcronos I've checked today (I am AEiC on call this week) and all editors in the robotics domain are still fully occupied with other submissions. I'll check again in a couple of days and we will proceed to invite/assign an editor once they become available.

[2021-11-23 14:08] michaeltouati commented on #3618
@danielskatz - done
https://zenodo.org/record/5720926#.YZz1bXvMJH4 (DOI : 10.21105/joss.03618)

[2021-11-23 14:16] danielskatz commented on #3618
@michaeltouati - unfortunately, you've given the JOSS DOI (for the paper) to zenodo. Here, we need to the DOI of the archived software itself. The JOSS DOI will be for the paper. Let zenodo create its own DOI for the software, and give us that.

And I think the version tag is "esvm-v1.0" - is this correct?

[2021-11-23 14:18] mhesselbarth commented on #3811
- [ ]  line 24: I would rephrase, "Spatial autocorrelation of the environmental conditions could also ..."
- [ ]  line 27: this sentence is a bit cryptic regarding the method developed in the package, maybe best to directly name it? Like "Previous research have shown that violation of independence assumptions led to higher number of false-positive habitat associations when using method XX compared

[2021-11-23 14:33] whedon commented on #3945
OK, the editor is @jbytecode

[2021-11-23 14:47] KristinaRiemer commented on #3200
@sandrinecharles have you had a chance to review @Peter-Vermeiren's review yet?

And @puruckertom, I think you still need to look over the changes that have been made and update your review checklist?

[2021-11-23 14:54] KristinaRiemer commented on #3942
@whedon assign me as editor

[2021-11-23 14:54] whedon commented on #3942
OK, the editor is @KristinaRiemer

[2021-11-23 14:57] sandrinecharles commented on #3200
Argh sorry @KristinaRiemer I totally forgot to do this... I will spend time by the end of the week for sure.

[2021-11-23 15:19] NoraLoose commented on #3894
Hey @elbeejay! Just another thought: in case we are still short on reviewers, here are two more suggestions:

* raphaeldussin
* Jiawei Zhuang

[2021-11-23 15:20] Kevin-Mattheus-Moerman commented on #3856
It looks like @faroit might be a good editor for this. They are however preoccupied with other submissions at the moment so I will mark this as `waitlisted` for the moment.
@faroit if you can take this, let me know if we can assign you as editor. Thanks.

[2021-11-23 15:23] Kevin-Mattheus-Moerman commented on #3932
@arfon could you judge this, based on what you looked at already, or do you want me to take a look?

[2021-11-23 15:25] elbeejay commented on #3894
Thank you, yes I am hoping to find one more reviewer before we move from "pre-review" to the "review" itself.

[2021-11-23 15:36] ljakoster commented on #3727
@whedon <https://github.com/whedon> generate pdf

--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen
open-source simulator for perovskite and organic PV
<https://github.com/kostergroup/SIMsalabim>
group website <http://www.koster-group.nl>

On Mon, 15 Nov 2021 at 14:15, Marten Koopmans ***@***.***>
wrote:

[2021-11-23 15:36] whedon commented on #3727
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-11-23 15:39] mhesselbarth commented on #3811
Fixed in r-spatialecology/shar@75c571b188d03ec82fcb48b6bc5f3ab23fe28063

[2021-11-23 15:43] rkurchin commented on #3703
Fantastic! Thanks everyone here for your extensive efforts on a review that has clearly made this software better and easier to use!

@KAClough, I'll let you decide if you want to make any changes corresponding to the last few comments above. Next steps will be for me to make an editorial pass over the manuscript to be another set of eyes for typographical/style errors, etc. and then we should be

[2021-11-23 15:43] kostergroup commented on #3727
@whedon generate pdf

[2021-11-23 15:43] whedon commented on #3727
PDF failed to compile for issue #3727 with the following error:
[code]

[2021-11-23 15:45] isgiddy commented on #3894
Hi @elbeejay. This looks interesting and I'd be happy to learn more about this filtering technique and wider applications via the review process.

[2021-11-23 15:46] kostergroup commented on #3727
@whedon generate pdf

[2021-11-23 15:46] whedon commented on #3727
PDF failed to compile for issue #3727 with the following error:
[code]

[2021-11-23 15:48] michaeltouati commented on #3618
Yes, "esvm-v1.0" is correct @danielskatz

I've also modified the DOI. it is now:
10.5282/zenodo.5720926

[2021-11-23 15:48] kostergroup commented on #3727
@whedon generate pdf

[2021-11-23 15:48] whedon commented on #3727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: :point_left:

[2021-11-23 15:53] kostergroup commented on #3727
@roderickmackenzie
Your use of the V in equations 2.1 -2.6 is a bit confusing because commonly V is only used in the DD equations when hetero-junctions are not taken into account. When the model has been adjusted to handle hetero-junctions (as yours seems to be 2.13-2.14) it's conmen to write Ec and Ev in the DD equations instead of V, to explicitly say that heterosteps can drive current. This is

[2021-11-23 15:56] Bisaloo commented on #3811
@lionel68, you didn't check "State of the field: Do the authors describe how this software compares to other commonly-used packages?".

Is this on purpose or did you miss it?

[2021-11-23 16:06] danielskatz commented on #3618
@whedon set esvm-v1.0 as version

[2021-11-23 16:06] whedon commented on #3618
OK. esvm-v1.0 is the version.

[2021-11-23 16:06] danielskatz commented on #3618
@whedon set 10.5282/zenodo.5720926 as archive

[2021-11-23 16:06] whedon commented on #3618
OK. <a href="https://doi.org/10.5282/zenodo.5720926" target="_blank">10.5282/zenodo.5720926</a> is the archive.

[2021-11-23 16:08] cmbiwer commented on #3925
I just finished reviewing another JOSS submission a couple weeks ago, so I'd let others have a chance before me. But if no one else is available, then I can be one of the reviewers.

[2021-11-23 16:08] danielskatz commented on #3618
@michaeltouati - unfortunately, that DOI does not resolve currently.  I think something got messed up in the process.  I suggest you either contact zenodo help and see if they can fix the problem, or create a new archive where the doi is automatically generated, the contact zenodo help to ask them to remove the old one.

[2021-11-23 16:13] KAClough commented on #3703
Thanks @rkurchin, @Sbozzolo and @rashti-alireza, we did really find this a useful review process :-)

I have updated for the 1st and 3rd bullets (the 2nd and 4th will take a bit more time and discussion amongst the collaboration to resolve), so I think everything is good for you @rkurchin to go over the draft next week or whenever you have time. Happy Thanksgiving!

[2021-11-23 16:14] savage13 commented on #3619
Updated and fixed issues opened by mbegnaud.  Sorry for the delay.

[2021-11-23 16:18] kthyng commented on #3814
@briochemc Ok perfect! Carry on.

[2021-11-23 16:19] danielskatz commented on #3619
@mbegnaud - please take a look at the issues/responses when you get a chance, and check off more items, or let us know what else needs to be done in your opinion.  Thanks!

[2021-11-23 16:36] elbeejay commented on #3894
Awesome, thanks!

[2021-11-23 16:37] elbeejay commented on #3894
@whedon add @isgiddy as reviewer

[2021-11-23 16:37] whedon commented on #3894
OK, @isgiddy is now a reviewer

[2021-11-23 16:37] elbeejay commented on #3894
@whedon start review

[2021-11-23 16:37] whedon opened #3947 "[REVIEW]: GCM-Filters: A Python Package for Diffusion-based Spatial Filtering of Gridded Data"
**Submitting author:** @NoraLoose (<a href="http://orcid.org/0000-0002-3684-9634">Nora Loose</a>)
**Repository:** <a href="https://github.com/ocean-eddy-cpt/gcm-filters" target ="_blank">https://github.com/ocean-eddy-cpt/gcm-filters</a>
**Version:** v0.2.3
**Editor:** @elbeejay
**Reviewer:** @callumrollo, @AleksiNummelin, @isgiddy
**Archive:** <a href="https://doi.org/10.5281/zenodo.6039860" targe

[2021-11-23 16:37] whedon commented on #3894
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3947.

[2021-11-23 16:37] #3894 closed

[2021-11-23 16:37] whedon commented on #3947
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @callumrollo, @AleksiNummelin, @isgiddy it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our

[2021-11-23 16:37] whedon commented on #3947
Wordcount for `paper.md` is 1131

[2021-11-23 16:37] whedon commented on #3947
[code]

[2021-11-23 16:37] whedon commented on #3947
[code]

[2021-11-23 16:38] whedon commented on #3947
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03947/joss.03947/10.21105.joss.03947.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03947/joss.03947/10.21105.joss.03947.pdf) :page_facing_up: :point_left:

[2021-11-23 16:38] dfm commented on #3199
@whedon check references from branch joss

[2021-11-23 16:38] whedon commented on #3199
[code]

[2021-11-23 16:38] whedon commented on #3199
[code]

[2021-11-23 16:38] dfm commented on #3199
@whedon set v0.4.6 as version

[2021-11-23 16:38] whedon commented on #3199
OK. v0.4.6 is the version.

[2021-11-23 16:39] dfm commented on #3199
@whedon set 10.5281/zenodo.5720254 as archive

[2021-11-23 16:39] whedon commented on #3199
OK. <a href="https://doi.org/10.5281/zenodo.5720254" target="_blank">10.5281/zenodo.5720254</a> is the archive.

[2021-11-23 16:40] matthieuaussal commented on #3945
Hi,

Can we do something to help you?

M. Aussal & L. Series

[2021-11-23 16:40] dfm commented on #3199
@whedon recommend-accept from branch joss

[2021-11-23 16:40] whedon commented on #3199
[code]

[2021-11-23 16:41] whedon commented on #3199
[code]

[2021-11-23 16:41] whedon commented on #3199
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2763

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2763, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-23 16:42] elbeejay commented on #3947
@callumrollo, @AleksiNummelin, and @isgiddy, thanks for agreeing to review this submission to JOSS. We are currently asking reviewers to try and complete their reviews in 6 weeks.

The JOSS review process is entirely open and transparent, and takes place on GitHub. Review comments can be made as issues in the **GCM-Filters** repository, please link this review issue when doing so (paste `https://g

[2021-11-23 16:43] mbegnaud commented on #3619
@danielskatz I have checked everything off. I think those are the only suggestions on my side.

[2021-11-23 16:43] dfm commented on #3199
@pikarpov-LANL: I've passed this off to the EiCs, who will handle the final processing (and may have some last edits). Thanks for your submission and all your hard work through the process!

@kburns, @MilesCranmer: Thanks both for your reviews! I really appreciate the time you volunteered and all the work you put into your reviews! 🎉

[2021-11-23 16:46] whedon commented on #3772
OK. v1.1 is the version.

[2021-11-23 16:46] dfm commented on #3772
@whedon set 10.5281/zenodo.5719209 as archive

[2021-11-23 16:46] whedon commented on #3772
OK. <a href="https://doi.org/10.5281/zenodo.5719209" target="_blank">10.5281/zenodo.5719209</a> is the archive.

[2021-11-23 16:47] dfm commented on #3772
@JostMigenda thanks! Just ping me once they have had a chance to update it and I'll get us wrapped up.

[2021-11-23 16:55] danielskatz commented on #3619
Thanks @mbegnaud!

[2021-11-23 16:56] danielskatz commented on #3619
@savage13 - Next I'll proofread the paper, provide any comments, and provide instruction on archiving the software, which is what we need to proceed to acceptance.

[2021-11-23 17:04] arfon commented on #3680
@hakanfriden – please leave this issue open.

[2021-11-23 17:07] Bisaloo commented on #3909
@whedon add @TimKam as reviewer

[2021-11-23 17:07] whedon commented on #3909
OK, @TimKam is now a reviewer

[2021-11-23 17:07] Bisaloo commented on #3909
@whedon start review

[2021-11-23 17:07] whedon opened #3948 "[REVIEW]: Cacatoo: building, exploring, and sharing spatially structured models of biological systems"
**Submitting author:** @bramvandijk88 (<a href="http://orcid.org/0000-0002-6330-6934">Bram van Dijk</a>)
**Repository:** <a href="https://github.com/bramvandijk88/cacatoo" target ="_blank">https://github.com/bramvandijk88/cacatoo</a>
**Version:** 1.0.3
**Editor:** @Bisaloo
**Reviewer:** @emilydolson, @TimKam
**Archive:** <a href="https://doi.org/10.5281/zenodo.5918404" target="_blank">10.5281/zeno

[2021-11-23 17:07] whedon commented on #3909
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3948.

[2021-11-23 17:07] #3909 closed

[2021-11-23 17:07] whedon commented on #3948
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @emilydolson, @TimKam it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-11-23 17:08] whedon commented on #3948
[code]

[2021-11-23 17:08] whedon commented on #3948
[code]

[2021-11-23 17:08] whedon commented on #3948
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03948/joss.03948/10.21105.joss.03948.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03948/joss.03948/10.21105.joss.03948.pdf) :page_facing_up: :point_left:

[2021-11-23 17:08] jbytecode commented on #3945
Dear @matthieuaussal - maybe you can use [https://whedon.theoj.org/](https://whedon.theoj.org/) to debug your md file and make it successfully compiled to pdf.

[2021-11-23 17:09] Bisaloo commented on #3948
:wave: :wave: :wave: @bramvandijk88 @emilydolson @TimKam this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review

[2021-11-23 17:15] kegiljarhus commented on #3869
Dear Kevin,

Sorry for the late reply on this one. Thank you for considering me as a
reviewer, but this falls outside my field of expertise so I hope someone
else more suitable can contribute.

Regards,
Knut Erik Giljarhus

On Tue, 23 Nov 2021 at 16:30, Kevin Mattheus Moerman <
***@***.***> wrote:

[2021-11-23 17:25] xuanxu commented on #3945
The PDF is not compiling due to unscaped characters. [This change](https://github.com/leprojetcastor/castor/pull/1) should fix it.

[2021-11-23 17:27] jbytecode commented on #3945
Dear @matthieuaussal, please apply the pull request that @xuanxu sent then ping me.

[2021-11-23 17:31] avigna commented on #3838
@HeloiseS if the offer still holds, I'd be keen to check it out. I just got into thinking/working on it, and haven't decided which way to proceed, so your suggestions might be elucidating. Thanks in advance.

[2021-11-23 17:48] HeloiseS commented on #3838
i think this is worth discussing viva voce in a call (becuse it'll clog the thread which is already lengthy) - i don't even think you need  something like what I'd refactored it as initially (but it depends on what you want from it later!) and it's easier to explain with the document under our eyes. email me at hfstevance@gmail.com and we can zom or something. then i can write a summary on here fo

[2021-11-23 17:50] matthieuaussal commented on #3945
@xuanxu <https://github.com/xuanxu> merge accepted, is it ok?

[2021-11-23 17:50] jbytecode commented on #3945
@whedon generate pdf

[2021-11-23 17:51] whedon commented on #3945
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03945/joss.03945/10.21105.joss.03945.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03945/joss.03945/10.21105.joss.03945.pdf) :page_facing_up: :point_left:

[2021-11-23 17:58] jbytecode commented on #3945
👋👋👋 Dear @amadeusine  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "Castor: A C++ library to code "à la matlab". You can find more information at the top of this Github issue (https://github.com/openjournals/joss-revi

[2021-11-23 17:59] jbytecode commented on #3945
👋👋👋 Dear @jingnanshi  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "Castor: A C++ library to code "à la matlab". You can find more information at the top of this Github issue (https://github.com/openjournals/joss-revi

[2021-11-23 18:15] chasmani commented on #3859
@hjtb thanks for looking at it again. I've just made it completely PEP8 compliant, I think. Running `flake8 piecewise_regression/ --select=E,F` now returns nothing. I'm new to PEP8 but yes I agree its a good standard to have, and I'll be using it in the future.

Thank you @galessiorob, @hjtb @vyasr and @Ebedthan for all your comments and reviews.

I think that is everything now :)

[2021-11-23 18:27] hknd23 commented on #3904
Hi @JacksonMaxfield,

The instructions from SETUP look great. I was able to follow the steps without much issue when I first set up my example, and my impression is that these steps are the same with every generated repository. My suggestion is to have a section for or link to these steps in the main installation instructions so users can see them before having to set up the generated repository.

[2021-11-23 18:57] kellyrowland commented on #3773
Thanks for the ping on this, @rneher . Since we have two reviewers who have recommended the submission for acceptance, I'll proceed with the checkout process.

(That is, I will check off the review boxes for DavidNickle and remove EduanWilkinson as a reviewer.)

Could you please create a new tagged software release (if the software has changed in this review process) and archive the release (on Ze

[2021-11-23 18:58] danielskatz commented on #3619
@whedon check references

[2021-11-23 18:58] whedon commented on #3619
[code]

[2021-11-23 18:59] danielskatz commented on #3619
@whedon generate pdf

[2021-11-23 18:59] whedon commented on #3619
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03619/joss.03619/10.21105.joss.03619.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03619/joss.03619/10.21105.joss.03619.pdf) :page_facing_up: :point_left:

[2021-11-23 19:02] kellyrowland commented on #3773
I have updated the top post in this issue as per my above note.

@EduanWilkinson thank you for your interest here - we're going to proceed with the paper acceptance since we have positive recommendations from two reviewers at this point. I do hope that you'll consider reviewing for JOSS in the future.

[2021-11-23 19:10] florisvb commented on #3922
Sorry for the delay --

I have added in DOIs based on whedon's comments, as well as a state of the
field section with some additional software references.

- Floris

On Fri, Nov 19, 2021 at 9:28 AM Christina Hedges ***@***.***>
wrote:

--
Floris van Breugel   |   http://www.florisvanbreugel.com
Assistant Professor of Mechanical Engineering
& Graduate Program for Neuroscience
University of Nevada,

[2021-11-23 19:11] danielskatz commented on #3619
@savage13 - I've suggested some minor changes in https://github.com/savage13/sacio/pull/10  Overall, this looks good. Can you merge this?

Then, can you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposi

[2021-11-23 20:56] nick-gorman commented on #3596
@noah80 Good to hear I've been able to address your comments.

I've opened an issue on the nempy repo regarding the unit tests, see https://github.com/UNSW-CEEM/nempy/issues/4 . Can you reply on this issue and provide details of your problem running the unit tests?

I don't have your email, but you can contact me at n.gorman - at - unsw.edu.au

[2021-11-23 21:04] vaneseltine commented on #3739
Apologies for my delays, but I've now been able to spend a good chunk of time on this.

---

### Fix: Community guidelines

As @andrewheiss mentioned, a little more guidance for potential contributors or those with problems would be helpful. I see you have an issue up https://github.com/ElectionDataAnalysis/electiondata/issues/731 -- this doesn't need to be extensive, but it's good to have some cl

[2021-11-23 21:07] puruckertom commented on #3200
@KristinaRiemer @sandrinecharles I am happy with the revisions to my comments and have updated the checklist.

[2021-11-23 21:29] rneher commented on #3773
thanks, @kellyrowland. Will post version and DOI tomorrow!

[2021-11-23 21:35] devosmitachatterjee2018 commented on #3680
@hakanfriden

Sorry for the late reply.

I will definitely check the bug (that you encountered) tomorrow and keep you informed.

Yes I am absolutely available for a teams meeting.

Thank you.
Best regards
Devosmita

[2021-11-23 21:36] savage13 commented on #3619
* [x]  Make a tagged release of your software, and list the version tag of the archived version here.
* [x]  Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
* [x]  Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure the list is correct and

[2021-11-23 21:44] JostMigenda commented on #3772
@dfm We've updated the Zenodo metadata; so go ahead whenever you're ready! 😊

[2021-11-23 21:45] danielskatz commented on #3619
@whedon set 10.5281/zenodo.5722418 as archive

[2021-11-23 21:46] whedon commented on #3619
OK. <a href="https://doi.org/10.5281/zenodo.5722418" target="_blank">10.5281/zenodo.5722418</a> is the archive.

[2021-11-23 21:46] danielskatz commented on #3619
@whedon set v1.0.3 as version

[2021-11-23 21:46] whedon commented on #3619
OK. v1.0.3 is the version.

[2021-11-23 21:46] danielskatz commented on #3619
@whedon recommend-accept

[2021-11-23 21:46] whedon commented on #3619
[code]

[2021-11-23 21:46] whedon commented on #3619
[code]

[2021-11-23 21:47] whedon commented on #3619
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2764

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2764, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-23 21:48] danielskatz commented on #3619
@whedon accept deposit=true

[2021-11-23 21:48] whedon commented on #3619
[code]

[2021-11-23 21:49] whedon commented on #3619
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1463263467121647616) 👈 🐦🐦🐦

[2021-11-23 21:49] whedon commented on #3619
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2765
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03619](https://doi.org/10.21105/joss.03619)
2. If everything look

[2021-11-23 21:55] danielskatz commented on #3619
Congratulations to @savage13 (Brian Savage)!!

And thanks to @chad-iris and @mbegnaud for reviewing!
We couldn't do this without you

[2021-11-23 21:55] #3619 closed

[2021-11-23 21:55] whedon commented on #3619
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03619/status.svg)](https://doi.org/10.21105/joss.03619)

**We need your help!**

Journal of Open Source Softwa

[2021-11-23 22:00] vyasr commented on #3859
I just went through and double-checked that all my suggestions have been implemented. I've checked all the boxes and I don't have anything further to add. Both the repo and the paper are looking good!

[2021-11-23 23:01] mikegrudic commented on #3675
Thanks to @maxwelltsai and @adrn for taking the time to give useful feedback. The package has been revised extensively, and in particular we now have [sphinx documentation](https://pytreegrav.readthedocs.io/en/latest/) and an automated `pytest` test. This contains a lot of the additional content requested in your reviews. There is still a ways to go to fully document the codebase, but at least all

[2021-11-24 04:38] luizirber commented on #2991
@whedon set 10.5281/zenodo.5720098 as archive

[2021-11-24 04:38] whedon commented on #2991
OK. <a href="https://doi.org/10.5281/zenodo.5720098" target="_blank">10.5281/zenodo.5720098</a> is the archive.

[2021-11-24 04:39] luizirber commented on #2991
@whedon set v0.8.3 as version

[2021-11-24 04:39] whedon commented on #2991
OK. v0.8.3 is the version.

[2021-11-24 04:39] luizirber commented on #2991
@whedon recommend-accept

[2021-11-24 04:39] whedon commented on #2991
[code]

[2021-11-24 04:39] whedon commented on #2991
[code]

[2021-11-24 04:39] whedon commented on #2991
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2766

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2766, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-24 05:38] csoneson commented on #3887
👋🏻 @craddm, @lindemann09 - just wanted to check in to see how things are going. Don't hesitate to let me know if you have questions. Thanks!

[2021-11-24 06:26] shailesh1729 commented on #3917
@Saran-nns, I have resolved carnotresearch/cr-sparse#22. Kindly check.

[2021-11-24 07:57] mscroggs commented on #3878
@jedbrown Hello! Is there anything else we need to do on our end to move this pre-review forward?

[2021-11-24 09:06] esteinig commented on #2991
Wohooo, looking good! :partying_face: Thanks so much for your patience and feedback, really appreciated this process.

[2021-11-24 09:26] puolival commented on #3638
@oliviaguest I would be happy to review this submission if the schedule isn't tight. I am currently reviewing many manuscripts for a conference, and would be free to start working on this after Dec 17th. Does that work for you?

[2021-11-24 09:41] htjb commented on #3859
Brilliant thank you! This looks great. Congrats on a nice piece of software :smile:

[2021-11-24 10:26] craddm commented on #3887
@csoneson working on it when I get the chance, shouldn't be too much longer!

[2021-11-24 10:34] michaeltouati commented on #3618
I've send a message to the zenodo help contact. I'm waiting for their answer.

[2021-11-24 11:04] martinmodrak commented on #3076
Sorry for further delays. I think the package was greatly improved and I don't think any further adjustments are necessary for JOSS. I wish the developers good fortune in further developments.

There might be a minor technical issue in that some of the added classes (e.g. `SampleEstimator`) cannot be found in the documentation at https://mituq.bitbucket.io/source/_site/latest/index.html so maybe t

[2021-11-24 11:13] dalonsoa commented on #3898
It's in my ToDo list for this week. Expect an updated by the weekend.

[2021-11-24 11:18] roderickmackenzie commented on #3727
@kostergroup Thanks for this. I'm currently out of action due to illness.  I hope I will be better next week.  Will look at this as a priority then. best, Rod

[2021-11-24 11:30] arfon commented on #3925
:wave: @sbozzolo @dbkeitel – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is: _LEGWORK: A python package for computing the evolution and detectability of stellar-origin gravitational-wave sources

[2021-11-24 11:32] arfon commented on #3932
If you could that would be great. Thanks @Kevin-Mattheus-Moerman. Ideally @mbobra would be able to do this but I think she's on leave until January.

[2021-11-24 11:37] LegrandNico commented on #3832
I have added a [sentence](https://github.com/embodied-computation-group/systole/commit/1777819ffd13462f88acccddac7aeba7b445802a) in the manuscript to clarify the unique features of the package.

If this one is accepted, I think I have fixed all the issues that were raised by the reviewers.

Just let me know if I can do anything to improve the package/manuscript.

[2021-11-24 11:41] peanutfun commented on #3885
@whedon generate pdf

[2021-11-24 11:42] whedon commented on #3885
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03885/joss.03885/10.21105.joss.03885.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03885/joss.03885/10.21105.joss.03885.pdf) :page_facing_up: :point_left:

[2021-11-24 12:03] osorensen commented on #3832
Thanks @LegrandNico.

@axel-loewe, can you please see if your points have been addressed, and if so, update the checklist at the top of this thread?

[2021-11-24 12:03] osorensen commented on #3832
@whedon generate pdf

[2021-11-24 12:04] whedon commented on #3832
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03832/joss.03832/10.21105.joss.03832.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03832/joss.03832/10.21105.joss.03832.pdf) :page_facing_up: :point_left:

[2021-11-24 12:13] duncanmmacleod commented on #3925
Sorry @arfon, similar to John I don't think I'll be able to get to this quickly, but could come back to this in the new year if you haven't been able to find a reviewer before then.

[2021-11-24 13:13] michakraus commented on #2954
Hi @VivianePons, sorry for the late reply. I was quite busy last week, but now, for the first time this year, I am free of any deadlines. I plan to spent most of my time until Christmas on software development. Unfortunately, in the last three months since my last status report (it's hard to comprehend that it has already been three months!), I did not have much time. Still, a few things that got

[2021-11-24 13:28] whedon opened #3949 "[PRE REVIEW]: dumux-sediment: A fully implicit framework for bedload transport simulations"
**Submitting author:** @MartinBAW (<a href="http://orcid.org/0000-0002-2303-0662">Martin Utz</a>)
**Repository:** <a href="https://git.iws.uni-stuttgart.de/dumux-appl/dumux-sediment" target ="_blank">https://git.iws.uni-stuttgart.de/dumux-appl/dumux-sediment</a>
**Version:** 1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :war

[2021-11-24 13:28] whedon commented on #3949
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-24 13:28] whedon commented on #3949
Wordcount for `paper.md` is 1196

[2021-11-24 13:28] whedon commented on #3949
[code]

[2021-11-24 13:28] whedon commented on #3949
[code]

[2021-11-24 13:28] whedon commented on #3949
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03949/joss.03949/10.21105.joss.03949.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03949/joss.03949/10.21105.joss.03949.pdf) :page_facing_up: :point_left:

[2021-11-24 13:30] pdebuyl commented on #3337
Hi @McWhity can you reply to @danclewley 's review?

[2021-11-24 13:33] richardjgowers commented on #3927
@whedon add @mikemhenry as reviewer

[2021-11-24 13:33] whedon commented on #3927
OK, @mikemhenry is now a reviewer

[2021-11-24 13:34] richardjgowers commented on #3927
@whedon add @rvhonorato as reviewer

[2021-11-24 13:34] whedon commented on #3927
OK, @rvhonorato is now a reviewer

[2021-11-24 13:34] richardjgowers commented on #3927
@whedon start review

[2021-11-24 13:34] whedon opened #3950 "[REVIEW]: pyscreener: A Python Wrapper for Computational Docking Software"
**Submitting author:** @davidegraff (<a href="http://orcid.org/0000-0003-1250-3329">David E. Graff</a>)
**Repository:** https://github.com/coleygroup/pyscreener.git
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v1.1.1
**Editor:** @richardjgowers
**Reviewers:** @mikemhenry, @rvhonorato
**Archive:** 10.5281/zenodo.6327783

**:warning: JOSS reduced service mode :warning:

[2021-11-24 13:34] whedon commented on #3927
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3950.

[2021-11-24 13:34] #3927 closed

[2021-11-24 13:34] whedon commented on #3950
[code]

[2021-11-24 13:34] whedon commented on #3950
PDF failed to compile for issue #3950 with the following error:
[code]

[2021-11-24 13:35] richardjgowers commented on #3950
@whedon generate pdf from branch joss-paper

[2021-11-24 13:35] whedon commented on #3950
[code]

[2021-11-24 13:35] whedon commented on #3950
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03950/joss.03950/10.21105.joss.03950.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03950/joss.03950/10.21105.joss.03950.pdf) :page_facing_up: :point_left:

[2021-11-24 13:37] richardjgowers commented on #3950
👋🏼 @davidegraff  @mikemhenry @rvhonorato this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different fro

[2021-11-24 13:38] richardjgowers commented on #3907
@whedon add @ojeda-e as reviewer

[2021-11-24 13:38] whedon commented on #3907
OK, @ojeda-e is now a reviewer

[2021-11-24 13:38] richardjgowers commented on #3907
@whedon add @andrewtarzia as reviewer

[2021-11-24 13:38] whedon commented on #3907
OK, @andrewtarzia is now a reviewer

[2021-11-24 13:38] richardjgowers commented on #3907
@whedon add @mcs07 as reviewer

[2021-11-24 13:38] whedon commented on #3907
OK, @mcs07 is now a reviewer

[2021-11-24 13:39] richardjgowers commented on #3907
@whedon start review

[2021-11-24 13:39] whedon opened #3951 "[REVIEW]: OpenCADD-KLIFS: A Python package to fetch kinase data from the KLIFS database"
**Submitting author:** @dominiquesydow (<a href="http://orcid.org/0000-0003-4205-8705">Dominique Sydow</a>)
**Repository:** <a href="https://github.com/volkamerlab/opencadd" target ="_blank">https://github.com/volkamerlab/opencadd</a>
**Version:** v1.0.1
**Editor:** @richardjgowers
**Reviewer:** @ojeda-e, @andrewtarzia, @mcs07
**Archive:** <a href="https://doi.org/10.5281/zenodo.6065555" target="_

[2021-11-24 13:39] whedon commented on #3907
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3951.

[2021-11-24 13:39] #3907 closed

[2021-11-24 13:39] whedon commented on #3951
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ojeda-e, @andrewtarzia, @mcs07 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2021-11-24 13:39] whedon commented on #3951
PDF failed to compile for issue #3951 with the following error:
[code]

[2021-11-24 13:40] Kevin-Mattheus-Moerman commented on #3949
@MartinBAW thanks for this submission. I have just flagged this submission for a scope review by our editorial board. This means that we shall determine if this in in scope in terms of the size and functionality this submissions offers (see also our criteria around ["substantial scholarly effort"](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)). This is standar

[2021-11-24 13:46] danielskatz commented on #3851
@whedon generate pdf

[2021-11-24 13:47] whedon commented on #3851
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03851/joss.03851/10.21105.joss.03851.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03851/joss.03851/10.21105.joss.03851.pdf) :page_facing_up: :point_left:

[2021-11-24 13:48] jgostick commented on #3943
@whedon assign @jgostick as editor

[2021-11-24 13:48] whedon commented on #3943
OK, the editor is @jgostick

[2021-11-24 14:11] Kevin-Mattheus-Moerman commented on #3736
@fibreglass2 I hope you are getting on well. Let us know if you have any updates.

[2021-11-24 14:16] Sbozzolo commented on #3925
I am in the same boat as cmbiwer: I can review LEGWORK, but I finished another JOSS review two days ago and I am happy to let others go. If no one is available, you can count on me.

[2021-11-24 14:49] georgiastuart commented on #3076
Sorry for the delay. I've reviewed the changes and I'm satisfied that the authors have incorporated our feedback and think the JOSS paper is ready for publication. I'll follow the future of MUQ with interest!

[2021-11-24 15:12] pdebuyl commented on #3076
Cool, thanks @georgiastuart for the review!

[2021-11-24 15:13] pdebuyl commented on #3076
@mparno we are almost there :-) I'll proceed to the ["editor" part](https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance) of the review.

[2021-11-24 15:25] katiebreivik opened #3952 "A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is?"

[2021-11-24 15:25] whedon commented on #3952
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-11-24 15:25] #3952 closed

[2021-11-24 16:19] dalonsoa commented on #3898
I have a problem with testing.

`devsim` includes a collection of python scripts that run as part of its testing suite and that check the different functionality. However, it uses no standard testing framework for the high level python interface ([`pytest`](https://docs.pytest.org/en/6.2.x/), [`unittest`](https://docs.python.org/3/library/unittest.html)) nor a unit testing framewrok for the low le

[2021-11-24 16:21] katiebreivik commented on #3838
Hi All -- here is my long awaited (APOLOGIES) review:

The paper contains all the necessary information and is clear and concise! I was also able to follow all of the documentation for the installation/running of COMPAS as expected with the exception of a couple of typos I found after the updates based on @HeloiseS's suggestions above so I dropped an issue: [#713](https://github.com/TeamCOMPAS/COM

[2021-11-24 16:30] axel-loewe commented on #3832
All good from my end!

[2021-11-24 16:49] tcaduser commented on #3898
Hello,

The tests are driven via CTest and are run as part of the release system.  For each platform, the regressions are run and new results are updated before each release.

These are the existing regression tests:
https://github.com/devsim/devsim_tests_msys
https://github.com/devsim/devsim_tests_win64
https://github.com/devsim/devsim_tests_macos_gcc_x86_64
https://github.com/devsim/devsim_tests

[2021-11-24 16:53] dalonsoa commented on #3898
About the paper:

The description of the **State of the field** is a bit limited. It mentions two open source packages that operate in the same field, but it does not make any comparison with them in terms of features or capabilities. More importantly, it does not compare with the very strong comercial packages (SILVACO, COMSOL). Obviously, one of the benefits of `devsim` is that is is open source

[2021-11-24 17:26] christinahedges commented on #3892
Hi @BjoernBiltzinger, just checking in, I'm still digging for reviewers for this submission. We'll find people, I'll keep you posted!

[2021-11-24 17:31] christinahedges commented on #3922
@whedon check references

[2021-11-24 17:32] whedon commented on #3922
[code]

[2021-11-24 17:33] JacksonMaxfield commented on #3904
Hello all! (cc @chartgerink)

I just pushed some changes that I believe resolve your comments: https://github.com/CouncilDataProject/cookiecutter-cdp-deployment/commit/a3c202858a1cfa9d6c4a2619dffb0188410fbeb0

Thanks again for your comments :slightly_smiling_face:

[2021-11-24 17:33] JacksonMaxfield commented on #3904
@whedon generate pdf

[2021-11-24 17:33] whedon commented on #3904
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03904/joss.03904/10.21105.joss.03904.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03904/joss.03904/10.21105.joss.03904.pdf) :page_facing_up: :point_left:

[2021-11-24 17:37] diehlpk commented on #3390
@Muhao-Chen Could you give some estimate when you intend to finish working on the reviewer's remarks?

[2021-11-24 17:44] christinahedges commented on #3838
@HeloiseS, @ilyamandel and @avigna, I'd like to ask you to discuss these suggestions as much as possible in the thread here, or on the repo. These reviews are open, and taking the review into a different format (zoom) excludes other participants in the review. If @HeloiseS has suggestions for code and you want to keep this thread shorter, feel free to open an issue or PR on the main repo and then

[2021-11-24 17:55] christinahedges commented on #3922
@florisvb, thank you for fixing your DOIs (it looks like there's one invalid DOI that is easily fixed.)

I see from your submission that you have [published a paper](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7899139/) on this topic in another journal. There may be some concern from JOSS that this is not a unique submission. Could you please justify that this submission to JOSS is unique, and se

[2021-11-24 18:00] christinahedges commented on #3838
Hello all, thank you to both @HeloiseS and @katiebreivik  for your excellent feedback, and thorough review. I think @HeloiseS may have further review comments and suggestions after @katiebreivik's final review, please do post these here. I want to check in at this point and sum up that
- There are a few issues pointed out by both reviewers which need to be fixed before the submission can be accept

[2021-11-24 18:15] florisvb commented on #3922
I fixed the DOI issue.

Regarding the previous IEEE paper. The previous paper was a scientific
advance in optimization methods for numerical differentiation, which we
illustrated using 4 differentiation methods. Our PyNumDiff package, on the
other hand, provides 22 differentiation methods, organized documentation,
and is compliant with all the open source software requirements. Together,
this repr

[2021-11-24 18:47] Nikoleta-v3 commented on #3738
👋🏻 @JasonGellis `whedon` failed to compile the pdf because of an error in the `bib` file. Can you please tweak the file?

[2021-11-24 18:48] emilydolson commented on #3948
@Bisaloo should I be able to edit this issue to check things off? I don't seem to be able to. I suspect this has to do with me not having accepted the invitation to collaborate on this repository before it expired.

[2021-11-24 18:48] chainsawriot commented on #3904
@JacksonMaxfield Thanks for updating the paper. I have checked the community guidelines box above.

I don't want to be a "Reviewer 2". The figure actually looks [okay on its own](https://github.com/chainsawriot/cookiecutter-cdp-deployment/blob/main/paper/assets/cdp_core_infrastructure.png). However, it got resized in the paper because it needs to be inside that small column. Sorry for my old eyes,

[2021-11-24 19:01] osorensen commented on #3832
@whedono check references

[2021-11-24 19:01] whedon commented on #3832
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-11-24 19:02] dfm commented on #3772
@whedon recommend-accept

[2021-11-24 19:02] whedon commented on #3772
[code]

[2021-11-24 19:03] whedon commented on #3772
[code]

[2021-11-24 19:03] whedon commented on #3772
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2767

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2767, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-24 19:06] dfm commented on #3772
This has now been handed off to the EiCs for the final processing, and they may have some remaining edits before publication. But, in the meantime, thanks @JostMigenda, @PeterDenton, and @apizzuto for participating in this process!!

👋 ping @arfon re formatting issues

[2021-11-24 19:07] osorensen commented on #3832
@whedon check references

[2021-11-24 19:07] whedon commented on #3832
[code]

[2021-11-24 19:08] osorensen commented on #3832
@LegrandNico, I have created some issues in the source repository pointing out a few things that need to be corrected before I can recommend accept. Also, can you please

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the

[2021-11-24 19:39] JacksonMaxfield commented on #3904
Ahhh sorry @chainsawriot. That's not reviewer #2 that's actually incredibly kind of you to offer but don't worry we will handle it!

[2021-11-24 19:42] chainsawriot commented on #3904
@JacksonMaxfield I am halfway creating it. I have tried to test it by embedding it in your paper. It works great with this size.

https://docs.google.com/drawings/d/1IPebeFrgqOLVRpuANxOXkxZ7I54DYC3EOKWFYbcdZck/edit?usp=sharing

[2021-11-24 20:37] devosmitachatterjee2018 commented on #3680
@hakanfriden

I tried to check the bug (that you encountered) today with the latest version of my software and the Impute button worked for for your dataset 'RndMx.xlsx'.

Before imputation
![image](https://user-images.githubusercontent.com/49337890/143308584-6891a250-5db8-4201-bdd6-5ec635bea5b6.png)

After imputation
![image](https://user-images.githubusercontent.com/49337890/143309533-4488af5f-4

[2021-11-24 23:24] Bisaloo commented on #3948
@emilydolson, yes, you should be able to edit the checklist once you have accepted the invitation. I'll re-invite you :relaxed:

[2021-11-24 23:25] Bisaloo commented on #3948
@whedon re-invite @emilydolson as reviewer

[2021-11-24 23:25] whedon commented on #3948
OK, the reviewer has been re-invited.

@emilydolson please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-11-24 23:55] arunpersaud commented on #2688
Hello, we just tagged and uploaded to pypi version 2.0.0 (commit fb23d17). This is a large rewrite of the original code taking into account many of the excellent comments we got here so far. Please use this commit for the review of the package. Looking forward to hearing from you. Happy Thanksgiving (in case you are in the US;))

[2021-11-25 00:40] tpeulen commented on #3944
I am available and agree to review this submission.

[2021-11-25 07:35] whedon commented on #3904
:wave: @hknd23, please update us on how your review is going (this is an automated reminder).

[2021-11-25 08:41] rneher commented on #3773
Hi @kellyrowland
I made a DOI for version 1.4.5 at Zenodo:

Version 1.4.5
10.5281/zenodo.5726681

https://zenodo.org/record/5726681

We'll have automated registration with zenodo for future releases, but weren't quite ready to make a new release just now.

[2021-11-25 09:23] McWhity commented on #3337
Sorry for the delay. I will give an update/response on the weekend.

@arthur-e and @danclewley: Thanks a lot for the review.

[2021-11-25 10:50] fraukewiese commented on #3574
@noah80 : Are there any updates on the submission?

[2021-11-25 12:04] devosmitachatterjee2018 commented on #3680
@hakanfriden

I checked the above calculations as follows.

1. I deleted the first variable 'ONam' from the matrix [RndMx.xlsx](https://github.com/openjournals/joss-reviews/files/7584076/RndMx.xlsx) for simplicity. Now we have a 50*50 random matrix with 10 missing values.

2. Use the following true matrix and imputed matrix.
[RndMx_Imputed.xlsx](https://github.com/openjournals/joss-reviews/files/7

[2021-11-25 12:21] whedon opened #3953 "[PRE REVIEW]: ASGarD: Adaptive Sparse Grid Discretization"
**Submitting author:** @quantumsteve (<a href="http://orcid.org/0000-0002-2018-7904">Steven Hahn</a>)
**Repository:** https://github.com/project-asgard/asgard
**Branch with paper.md** (empty if default branch):
**Version:** v0.4.0
**Editor:** @arfon
**Reviewers:** @joglekara, @drobnyjt, @cticenhour
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-11-25 12:21] whedon commented on #3953
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-25 12:22] whedon commented on #3953
PDF failed to compile for issue #3953 with the following error:
[code]

[2021-11-25 12:22] whedon commented on #3953
[code]

[2021-11-25 12:22] Kevin-Mattheus-Moerman commented on #3886
@jarvist could you help edit this work?

[2021-11-25 13:34] devosmitachatterjee2018 commented on #3680
@hakanfriden

Please find the latest version of the software (updated code) via the repository link:
[https://github.com/devosmitachatterjee2018/DataCleaningTool/tree/main/Functions](https://github.com/devosmitachatterjee2018/DataCleaningTool/tree/main/Functions)

Please let me know if you have any query.
Best regards
Devosmita

[2021-11-25 13:42] tpurcell90 commented on #3788
@jarvist Sorry for the late response I somehow missed this

Based on the JOSS list I would recommend AstroBarker, codeling, ccaprani, and jdreo.

@ml-evs  Thanks for offering to review!

[2021-11-25 13:56] pdebuyl commented on #3076
@whedon check references

[2021-11-25 13:57] whedon commented on #3076
[code]

[2021-11-25 13:59] noah80 commented on #3574
We are currently preparing the new release. Should be out soon. Almost all tests pass already. I'll update the issue as soon as it's released.

[2021-11-25 14:12] pdebuyl commented on #3076
@whedon generate pdf

[2021-11-25 14:12] whedon commented on #3076
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03076/joss.03076/10.21105.joss.03076.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03076/joss.03076/10.21105.joss.03076.pdf) :page_facing_up: :point_left:

[2021-11-25 14:37] jiemakel commented on #3504
* Regression and defensive programming unit tests added in https://github.com/hsci-r/finnish-media-scrapers/commit/6c7bf11a8524f7e7433354a6b73062f50126af2a
* README and paper updated to better introduce the tool and related work in https://github.com/hsci-r/finnish-media-scrapers/commit/89f5a63969464baf87492178b7a99aa7eafffc0a

[2021-11-25 15:16] Kevin-Mattheus-Moerman commented on #3953
@whedon generate pdf from branch paper

[2021-11-25 15:17] whedon commented on #3953
[code]

[2021-11-25 15:17] whedon commented on #3953
PDF failed to compile for issue #3953 with the following error:
[code]

[2021-11-25 15:25] Kevin-Mattheus-Moerman commented on #3953
@quantumsteve please remove the invalid (all zero) orcid id's from the paper. Instead leave out the orcid specification for these if they do not have an orcid id, see also below and:
https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[code]

After fixing the paper you can update the pdf draft here by calling `@whedon generate pdf from branch paper`

[2021-11-25 15:29] Kevin-Mattheus-Moerman commented on #3953
@whedon invite @jarvist as editor

[2021-11-25 15:29] whedon commented on #3953
@jarvist has been invited to edit this submission.

[2021-11-25 16:21] jbytecode commented on #3945
👋👋👋 Dear @mewilhel  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "Castor: A C++ library to code "à la matlab". You can find more information at the top of this Github issue (https://github.com/openjournals/joss-review

[2021-11-25 17:37] osorensen commented on #3700
@a-ws-m: any news on how it is going with the benchmarks?

[2021-11-25 17:38] osorensen commented on #3864
Dear @drj11, could you please update us on how it is going with your review of this submission?

[2021-11-25 19:49] lpantano commented on #3358
@whedon set 10.5281/zenodo.5718051 as archive

[2021-11-25 19:50] whedon commented on #3358
OK. <a href="https://doi.org/10.5281/zenodo.5718051" target="_blank">10.5281/zenodo.5718051</a> is the archive.

[2021-11-25 19:50] lpantano commented on #3358
@whedon set v0.1.1 as version

[2021-11-25 19:50] whedon commented on #3358
OK. v0.1.1 is the version.

[2021-11-25 19:52] lpantano commented on #3358
@whedon recommend-accept

[2021-11-25 19:52] whedon commented on #3358
[code]

[2021-11-25 19:52] whedon commented on #3358
[code]

[2021-11-25 19:53] whedon commented on #3358
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2768

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2768, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-25 20:03] marcosvital commented on #3444
Hi, @raerickson, I'm sorry this is taking so long.

Please, do share with us the USGS software review.

I will try to find an additional reviewer for your submission as fast as possible, so we can finish this.

[2021-11-25 20:09] marcosvital commented on #3444
Dear @Cole-Monnahan-NOAA

You answered before about the possibility to review this submission to JOSS. At that time, we had two reviewers, so we started the process with them. Unfortunately one of them could not continue to review, so I would like to know if you are still available.

[2021-11-25 20:11] marcosvital commented on #2692
Hi again, @Manolomon. Did you get the chance to work on the documentation as pointed above?

@SteveViss, please let us know if you can continue.

[2021-11-25 20:11] a-ws-m commented on #3700
While I was running the benchmarks I discovered a compatibility issue with the earlier version of TensorFlow Probability I was using. This means I've had to train the models on my local machine, as the cluster's version of CUDA is incompatible with the newer version. The framework is all in place to train the models and I should be able to transfer it over to the new cluster I have just got access

[2021-11-25 20:12] marcosvital commented on #3220
Hi, @gmyenni and @juniperlsimonis!
Please let us know if you think you can work on this submission again, ok?

[2021-11-25 20:41] osorensen commented on #3700
Thanks @a-ws-m. This is absolutely fine, but if you think you need more than two weeks, I suggest I add the **Paused** label to this issue, so @whedon doesn't give reminders to the reviewers every 14 days. Once you're ready, just let me know in this thread, and we'll start the review again.

[2021-11-25 21:34] pdebuyl commented on #3076
Hi @mparno can you check the references? Some articles do not have a complete journal ref, such as Carpenter et al which is very likely this: https://www.jstatsoft.org/article/view/v076i01 with DOI 10.18637/jss.v076.i01 . Please fix the bib entry (including journal name);

For arXiv references, please add the URL as the authors have done in https://joss.theoj.org/papers/10.21105/joss.01237

For pu

[2021-11-26 01:51] MilesCranmer commented on #3199
Thanks @dfm. Congrats on the JOSS paper @pikarpov-LANL!

[2021-11-26 06:37] mirca commented on #3917
@shailesh1729 I'm happy with the current state of the library/paper apart from the issues I have opened in the repo. Please, take a look.

[2021-11-26 07:19] shailesh1729 commented on #3917
@whedon generate pdf

[2021-11-26 07:19] whedon commented on #3917
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: :point_left:

[2021-11-26 07:23] shailesh1729 commented on #3917
@mirca, thanks a lot for your feedback. I have updated the online docs and the paper based on the issues you filed. Kindly check. Let me know if there is anything else missing.

[2021-11-26 09:45] Kevin-Mattheus-Moerman commented on #3930
@hscannell Unfortunately, after a scope review by the JOSS editorial board, it was determined that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

At this point we will proceed to reject this submission.

Note that this rejection does not mean the software is not usef

[2021-11-26 09:46] Kevin-Mattheus-Moerman commented on #3930
@whedon reject

[2021-11-26 09:46] whedon commented on #3930
Paper rejected.

[2021-11-26 09:46] #3930 closed

[2021-11-26 09:53] Kevin-Mattheus-Moerman commented on #3921
@IliyaShofman Unfortunately, after a scope review by the JOSS editorial board, it was determined that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

At this point we will proceed to reject this submission.

Note that this rejection does not mean the software is not u

[2021-11-26 09:53] Kevin-Mattheus-Moerman commented on #3921
@whedon reject

[2021-11-26 09:53] whedon commented on #3921
Paper rejected.

[2021-11-26 09:53] #3921 closed

[2021-11-26 09:57] Kevin-Mattheus-Moerman commented on #3929
@tuankhoin Unfortunately, after a scope review by the JOSS editorial board, it was determined that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

At this point we will proceed to reject this submission.

Note that this rejection does not mean the software is not usef

[2021-11-26 09:57] Kevin-Mattheus-Moerman commented on #3929
@whedon reject

[2021-11-26 09:57] whedon commented on #3929
Paper rejected.

[2021-11-26 09:57] #3929 closed

[2021-11-26 10:16] whedon opened #3954 "[PRE REVIEW]: ViMMS 2.0: A framework to develop, test and optimise 2 fragmentation strategies in LC-MS metabolomics"
**Submitting author:** @joewandy (<a href="http://orcid.org/0000-0002-3068-4664">Joe Wandy</a>)
**Repository:** <a href="https://github.com/glasgowcompbio/vimms/" target ="_blank">https://github.com/glasgowcompbio/vimms/</a>
**Version:** v2.0
**Editor:** @csoneson
**Reviewers:** @jspaezp, @MKoesters
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-11-26 10:16] whedon commented on #3954
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-26 10:17] whedon commented on #3954
Wordcount for `paper.md` is 1985

[2021-11-26 10:17] whedon commented on #3954
[code]

[2021-11-26 10:17] whedon commented on #3954
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03954/joss.03954/10.21105.joss.03954.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03954/joss.03954/10.21105.joss.03954.pdf) :page_facing_up: :point_left:

[2021-11-26 10:17] whedon commented on #3954
[code]

[2021-11-26 10:19] whedon opened #3955 "[PRE REVIEW]: Dune-MMesh: The Dune Grid Module for Moving Interfaces"
**Submitting author:** @samuel.burbulla (<a href="http://orcid.org/0000-0002-2566-9777">Samuel Burbulla</a>)
**Repository:** <a href="https://github.com/samuelburbulla/dune-mmesh/" target ="_blank">https://github.com/samuelburbulla/dune-mmesh/</a>
**Version:** 1.3
**Editor:** @diehlpk
**Reviewers:** @krober10nd,  @vijaysm
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :w

[2021-11-26 10:20] whedon commented on #3955
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-26 10:20] whedon commented on #3955
PDF failed to compile for issue #3955 with the following error:
[code]

[2021-11-26 10:20] whedon commented on #3955
[code]

[2021-11-26 10:23] llrs commented on #3358
@whedon generate pdf

[2021-11-26 10:23] whedon commented on #3358
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: :point_left:

[2021-11-26 10:24] Kevin-Mattheus-Moerman commented on #3954
@whedon invite @csoneson as editor

[2021-11-26 10:25] whedon commented on #3954
@csoneson has been invited to edit this submission.

[2021-11-26 10:26] Kevin-Mattheus-Moerman commented on #3954
@joewandy could you check those missing DOI's :point_up:  you can call `@whedon generate pdf` here to update the paper or call `@whedon check references` to check those DOI's again. Thanks.

[2021-11-26 10:27] Kevin-Mattheus-Moerman commented on #3955
@whedon generate pdf from branch feature/paper

[2021-11-26 10:27] whedon commented on #3955
[code]

[2021-11-26 10:27] whedon commented on #3955
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03955/joss.03955/10.21105.joss.03955.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03955/joss.03955/10.21105.joss.03955.pdf) :page_facing_up: :point_left:

[2021-11-26 10:27] Kevin-Mattheus-Moerman commented on #3955
@samuel.burbulla did I use the correct branch to build the paper :point_up: ?

[2021-11-26 10:29] llrs commented on #3358
Hi, many thanks for accepting the manuscript. I noticed that when merging the branches the flow chart has disappeared from the pdf. Not sure how to proceed as the [preview shows](https://github.com/llrs/experDesign/blob/master/paper.md) the figure and I haven't modified that (till latest commit after releasing 0.1.1)

[2021-11-26 10:30] Kevin-Mattheus-Moerman commented on #3955
@whedon invite @hugoledoux as editor

[2021-11-26 10:30] whedon commented on #3955
@hugoledoux has been invited to edit this submission.

[2021-11-26 10:30] Kevin-Mattheus-Moerman commented on #3955
Alternatively @diehlpk you could handle this paper if you are interested. However since you are handling quite a few already I invited @hugoledoux first here.

[2021-11-26 10:53] Kevin-Mattheus-Moerman commented on #3932
@arfon okay thanks. I cannot thoroughly check if all functionality and documentation issues are fully resolved wrt the previous review (since this software is outside of my area of expertise) but it seems we may be ready to move on based on @villaa 's comments above and the [release notes](https://github.com/villano-lab/nrCascadeSim/blob/master/RELEASENOTES.md), which seem to tick off most of [iss

[2021-11-26 10:59] Kevin-Mattheus-Moerman commented on #3932
@pibion this seems to me to be exactly your cup of tea! It looks like you are handling many other submissions at the moment, would you be able to handle this submission once you are available?

[2021-11-26 11:01] Kevin-Mattheus-Moerman commented on #3932
@arfon @villaa I'll waitlist this submission for now as most of our physics related editors are fully occupied and it does look like @pibion would be a great fit.

[2021-11-26 11:02] Kevin-Mattheus-Moerman commented on #3932
@villaa while we wait for an editor you have some time to create the clearest possible description here of what was needed in the former review and how the issues raised were addressed. Does that sound good?

[2021-11-26 12:07] whedon commented on #3905
:wave: @CFGrote, please update us on how your review is going (this is an automated reminder).

[2021-11-26 12:07] whedon commented on #3905
:wave: @gonsie, please update us on how your review is going (this is an automated reminder).

[2021-11-26 12:52] diehlpk commented on #3955
@Kevin-Mattheus-Moerman I can do it, since one paper is close to be accepted. Just waiting for the author's last edit.

However, if the other editor wants to take it, it is fine.

[2021-11-26 13:13] Kevin-Mattheus-Moerman commented on #3955
@whedon assign @diehlpk as editor

[2021-11-26 13:13] whedon commented on #3955
OK, the editor is @diehlpk

[2021-11-26 13:14] dominiquesydow commented on #3951
@whedon generate pdf from branch joss-paper

[2021-11-26 13:14] whedon commented on #3951
[code]

[2021-11-26 13:14] whedon commented on #3951
PDF failed to compile for issue #3951 with the following error:
[code]

[2021-11-26 13:15] Kevin-Mattheus-Moerman commented on #3955
Thanks @diehlpk. I decided to assign you since you responded first and it is good to get as many papers of the AEiC desk and out for review as possible. Thanks again!

[2021-11-26 13:19] Kevin-Mattheus-Moerman commented on #2991
@luizirber thanks for editing this work. Some points need to be addressed here which you can keep in mind for the future so you fix these before recommending acceptance. In particular the archived version meta-data (title, author lists, etc) should match that of the paper.

[2021-11-26 13:31] Kevin-Mattheus-Moerman commented on #2991
@esteinig I have reviewed your paper and the archived data and have the following issues that need your attention:

- [ ] Edit the ZENODO archive such that the meta-data matches the paper.
- The title should be: `Nanoq: ultra-fast quality control for nanopore reads`.
- The author lists should match the paper
- You may also add ORCID profiles to the authors on ZENODO

- [ ] Check throughout for pot

[2021-11-26 13:39] Kevin-Mattheus-Moerman commented on #3199
I proofread the paper and reviewed the ZENODO archive. All seems in order. I will now proceed to accept this work in JOSS.

[2021-11-26 13:56] McGregor14 commented on #3270
Hello @oliviaguest,

It has been a little while since I have heard anything on this and I just wondered if there is anything we can do to help things get moving again or what the next steps are?

All the best,

Tom

[2021-11-26 13:59] Kevin-Mattheus-Moerman commented on #3199
@whedon accept deposit=true from branch joss

[2021-11-26 13:59] whedon commented on #3199
[code]

[2021-11-26 13:59] whedon commented on #3199
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1464232461710286852) 👈 🐦🐦🐦

[2021-11-26 13:59] whedon commented on #3199
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2769
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03199](https://doi.org/10.21105/joss.03199)
2. If everything look

[2021-11-26 14:00] PTierz commented on #3649
Dear @meghanrjones, @jifarquharson and @elbeejay,

I sincerely hope this message finds you well.

Please let me thank you once again for all your work, feedback and suggestions on how to improve the `PyVOLCANS` code and our submission of it to the Journal of Open Source Software.

I am elated to let you know that the latest requested changes have now been incorporated into a new [`v1.3.0`](https:/

[2021-11-26 14:25] JasonGellis commented on #3738
@whedon generate pdf

[2021-11-26 14:25] whedon commented on #3738
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: :point_left:

[2021-11-26 14:27] JasonGellis commented on #3738
@Nikoleta-v3 The bib file has been fixed and the PDF can be generated. I have also addressed all issues raised by @steko and @MichaelHoltonPrice and merged them into the main branch of the repo.

[2021-11-26 15:08] ajstewartlang commented on #3764
I've just been going through this submission - it looks like there is just one open issue outstanding. Is it in a position to be closed? @zbeekman and @lorenzo-rovigatti might you soon be in a position to tick off the last few points in the checklist?

[2021-11-26 15:13] Kevin-Mattheus-Moerman commented on #3199
Looks like we are all set.

@pikarpov-LANL Congratulations on getting this work published in JOSS!

Thanks a lot @kburns, @MilesCranmer for your stellar review efforts! Thanks @dfm for editing this work!

[2021-11-26 15:13] #3199 closed

[2021-11-26 15:13] whedon commented on #3199
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03199/status.svg)](https://doi.org/10.21105/joss.03199)

**We need your help!**

Journal of Open Source Softwa

[2021-11-26 15:15] jgostick commented on #3943
@whedon assign @pr4deepr as reviewer

[2021-11-26 15:15] whedon commented on #3943
OK, @pr4deepr is now a reviewer

[2021-11-26 15:37] pibion commented on #3932
@Kevin-Mattheus-Moerman I'd absolutely love to edit this submission - it's exactly my cup of tea :)

There is a potential COI - I'm @villaa's spouse.  I feel like I can still fairly edit, but I also don't want to overstep.

[2021-11-26 15:57] tcaduser commented on #3898
@whedon generate pdf

[2021-11-26 15:58] whedon commented on #3898
PDF failed to compile for issue #3898 with the following error:
[code]

[2021-11-26 15:58] tcaduser commented on #3898
@whedon generate pdf from branch joss

[2021-11-26 15:58] whedon commented on #3898
[code]

[2021-11-26 15:59] whedon commented on #3898
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: :point_left:

[2021-11-26 16:11] tcaduser commented on #3898
@dalonsoa

Thank you for your insight.  The TCAD landscape is very broad.  Since I have not used the other OSI-compliant open source offerings, I do not feel it is fair to comment on their capabilities.  Especially in that both Solcore and Charon are subject to rapid change.  Cogenda TCAD (GPL3) has not made any updates to their software in the recent future.

As for the commercial offering, I wou

[2021-11-26 16:41] lorenzo-rovigatti commented on #3764
Hey! It's mostly there for me. There is the small issue about testing (which is what the repo's issue is about) and then the paper is good to go as soon as I am concerned.

[2021-11-26 16:41] Kevin-Mattheus-Moerman commented on #3932
@pibion okay we do consider that a (perceived) COI so I will look for an alternative editor.  Thanks for getting back to me.

[2021-11-26 16:45] dbkeitel commented on #3925
This looks like a very professionally assembled package, and in principle I'd be happy to help with review. However I'm confused by the intended relation between the JOSS paper and the longer one at https://arxiv.org/abs/2111.08717 with the exact same title and very similar abstract. From https://joss.readthedocs.io/en/latest/submitting.html#co-publication-of-science-methods-and-software I see tha

[2021-11-26 16:48] peircej commented on #3270
For my part, I'm stuck ticking the boxes for the following:
- **Example usage:** I could see any documentation showing usage.
- **Functionality documentation.** As above. For the phone app I couldn't see any signs of documentation other than how to build/install. For the portal there is a mention that, after installing the portal docs can be viewed at localhost but it would surely be worth providi

[2021-11-26 16:59] McGregor14 commented on #3270
Thanks for the feedback @peircej. I will see what we can do about these issues and report back.

[2021-11-26 17:30] villaa commented on #3932
@Kevin-Mattheus-Moerman , sure I can provide that. The previous submission had one reviewer give detailed comments and the authors believe we have addressed those comments in full. In the previous review the second reviewer had not given any comments and the author team had made the mistake of waiting on the first reviewer's comments for when the second reviewer responded. This made the review tak

[2021-11-26 18:42] PTierz commented on #3649
Dear @meghanrjones, @jifarquharson and @elbeejay,

I just wanted to let you know that we have also updated the main [README file](https://github.com/BritishGeologicalSurvey/pyvolcans#readme) in the PyVOLCANS GitHub repository, as well as the [PyVOLCANS Wiki pages](https://github.com/BritishGeologicalSurvey/pyvolcans/wiki) to reflect all changes incorporated up to [PyVOLCANS v1.3.0](https://github.

[2021-11-26 19:30] TomWagg commented on #3925
Hi @dbkeitel, I'm sure @arfon will have more thoughts but my understanding was that this was the point behind co-publication. Our motivation behind also submitting to JOSS is that we are able to get a review of the code itself. Only the manuscript that we submit to AAS will be reviewed and it was important to us that we ensure that not just our writing, but also our package was reviewed and that's

[2021-11-26 20:03] whedon commented on #3914
:wave: @klmedeiros, please update us on how your review is going (this is an automated reminder).

[2021-11-26 20:03] whedon commented on #3914
:wave: @acolum, please update us on how your review is going (this is an automated reminder).

[2021-11-26 20:07] schruste commented on #3882
@taless474 @whedon :
It seems the invitation is no longer valid, could you please re-invite me?

[2021-11-26 20:38] schruste commented on #3882
@stammler:
I don't have the rights to set the check marks yet, so I will start with some direct comments:

I think the `simframe` package is an interest package with a well-defined (small) set of features which seem to be however quite useful. Here some further remarks:

* It seems that you have not community guidelines, yet. Perhaps you can add them to your `README.md` ?
* In `paper.md` you have

[2021-11-26 21:12] acolum commented on #3914
For a quick update: I've completed half of my reviewing tasks, and I expect to complete the other half within the next few weeks.

[2021-11-27 05:22] Saran-nns commented on #3917
@pdebuyl My checklist is finished.  It is my pleasure to review this package and I am happy to accept it. Well done @shailesh1729  💯

[2021-11-27 06:32] mcflugen commented on #3344
@kthyng Yes, we have had a chance to look over @cheginit's input (thanks @cheginit!). We're working on it now.

[2021-11-27 07:13] arfon commented on #3772
@whedon accept deposit=true

[2021-11-27 07:13] whedon commented on #3772
[code]

[2021-11-27 07:14] whedon commented on #3772
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1464492837618204675) 👈 🐦🐦🐦

[2021-11-27 07:14] whedon commented on #3772
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2770
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03772](https://doi.org/10.21105/joss.03772)
2. If everything look

[2021-11-27 07:17] arfon commented on #3772
@apizzuto, @PeterDenton – many thanks for your reviews here and to @dfm  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@JostMigenda – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-11-27 07:17] #3772 closed

[2021-11-27 07:17] whedon commented on #3772
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03772/status.svg)](https://doi.org/10.21105/joss.03772)

**We need your help!**

Journal of Open Source Softwa

[2021-11-27 08:30] Kevin-Mattheus-Moerman commented on #3358
@llrs @lpantano I have proofread the paper and have inspected the archived software on ZENODO and found all to be in order. I will now proceed to accept this work in JOSS.

[2021-11-27 08:31] Kevin-Mattheus-Moerman commented on #3358
@whedon accept deposit=true

[2021-11-27 08:31] whedon commented on #3358
[code]

[2021-11-27 08:31] whedon commented on #3358
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1464512240112050180) 👈 🐦🐦🐦

[2021-11-27 08:31] whedon commented on #3358
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2771
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03358](https://doi.org/10.21105/joss.03358)
2. If everything look

[2021-11-27 08:32] Kevin-Mattheus-Moerman commented on #3932
@whedon invite @lucydot as editor

[2021-11-27 08:32] whedon commented on #3932
@lucydot has been invited to edit this submission.

[2021-11-27 08:34] Kevin-Mattheus-Moerman commented on #3358
@llrs congratulations on getting this work published in JOSS!

Thank you @abartlett004 and @stemangiola for your review efforts, and thank you @lpantano for editing this work!

[2021-11-27 08:34] #3358 closed

[2021-11-27 08:34] whedon commented on #3358
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03358/status.svg)](https://doi.org/10.21105/joss.03358)

**We need your help!**

Journal of Open Source Softwa

[2021-11-27 08:35] Kevin-Mattheus-Moerman commented on #3725
@temken a change was requested here :point_up: , let us know when this is ready to proceed.

[2021-11-27 08:40] Kevin-Mattheus-Moerman commented on #3828
@ahoshiyar I have proofread your paper which seems in order. However the ZENODO archive needs changes as listed below:

- [ ] Please amend the license on the ZENODO archive (you have to do this manually) to match your software license: https://github.com/ahoshiyar/ordPens/blob/master/LICENSE, it currently lists cc-by.

[2021-11-27 09:54] liquidcronos commented on #3871
Thanks for the update @Kevin-Mattheus-Moerman .
I have to say I have been really impressed so far with how open this process is!

[2021-11-27 11:04] mithun218 commented on #3885
I again went through the paper, and I changed only one word.
The change is:
on the base of ⇾ on the basis of

[2021-11-27 11:08] hugoledoux commented on #3955
I'm too slow 🤷🏼‍♂️

[2021-11-27 11:29] whedon commented on #3915
:wave: @marwahaha, please update us on how your review is going (this is an automated reminder).

[2021-11-27 11:29] whedon commented on #3915
:wave: @sfuxy, please update us on how your review is going (this is an automated reminder).

[2021-11-27 13:22] krystophny commented on #3866
@dpsanders @kellertuer I have completed my review of the `Manopt.jl` package and the software paper. Please forgive the long time it took, despite the optimism on finishing sooner. After a detailed analysis, I haven't found any obvious requirements to improve, so I can recommend publication in the present form.

In my opinion, software and paper are of high quality and up to standards in terms of

[2021-11-27 13:28] EleonoraVagnoni commented on #3270
Hello,
sorry for the late reply. I have tried to run brew install watchman. I am still stuck.
I think it is too difficult for a person with limited coding experience to download the software. I have been looking online for the errors I got but I have been copying and pasting lines without really understanding what I was doing. Even with your step-by-step guidance, I was not able to download it and

[2021-11-27 13:45] lucaferranti commented on #3882
@whedon generate pdf

[2021-11-27 13:46] whedon commented on #3882
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03882/joss.03882/10.21105.joss.03882.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03882/joss.03882/10.21105.joss.03882.pdf) :page_facing_up: :point_left:

[2021-11-27 13:46] lucaferranti commented on #3882
@whedon check references

[2021-11-27 13:46] whedon commented on #3882
[code]

[2021-11-27 14:03] dirmeier commented on #3631
@whedon generate pdf

[2021-11-27 14:03] whedon commented on #3631
PDF failed to compile for issue #3631 with the following error:
[code]

[2021-11-27 14:04] dirmeier commented on #3631
@whedon generate pdf from branch joss-paper

[2021-11-27 14:04] whedon commented on #3631
[code]

[2021-11-27 14:05] whedon commented on #3631
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03631/joss.03631/10.21105.joss.03631.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03631/joss.03631/10.21105.joss.03631.pdf) :page_facing_up: :point_left:

[2021-11-27 14:07] dirmeier commented on #3631
Thanks for the updates to code and paper @wtraylor

[2021-11-27 14:19] lucaferranti commented on #3882
Hi @stammler , very nice work, here are some comments:

### Paper

- [ ] **comparison to other softwares**: the paper says that there are plenty of ODE solvers packages (which is definitely true), it would be good to mention a few and give a more detailed comparison of simframe to other similar packages, i.e. what features simframe has that other mainstream packages haven't and vice versa.
- [ ] *

[2021-11-27 15:33] gonsie commented on #3905
@whedon generate pdf

[2021-11-27 15:34] whedon commented on #3905
PDF failed to compile for issue #3905 with the following error:
[code]

[2021-11-27 16:03] xuanxu commented on #3905
@whedon generate pdf from branch joss_paper_1.0

[2021-11-27 16:03] whedon commented on #3905
[code]

[2021-11-27 16:04] whedon commented on #3905
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03905/joss.03905/10.21105.joss.03905.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03905/joss.03905/10.21105.joss.03905.pdf) :page_facing_up: :point_left:

[2021-11-27 18:09] travisbthomp commented on #3842
Getting around to this now with other deadlines mostly behind me.

[2021-11-27 18:19] gonsie commented on #3905
@FredDeCeuster can you clarify the author list on the paper?

In the readme Atulit Srivastava is listed as a developer, but I can't find any contributions from them in GitHub.

In the readme Ward Homan and Jan Bolte are listed as technical advisors, but they are not included in the author list.

[2021-11-27 18:53] mdbartos commented on #3852
@crvernon Can I get permissions to edit my checklist? Thx.

[2021-11-27 19:01] travisbthomp commented on #3842
@EtienneCmb  I am running some of the examples from the documentation.  I noticed the following (likely unintentional) output from plot_stim_spec_network.py

plot_stim_spec_network.py:211: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if direction is 'x->y':
plot_stim_spec_network.py:213: SyntaxWarning: "is" with a literal. Did you mean "=="?
  elif direction is 'y->x':
plot_stim_spec_n

[2021-11-27 19:22] travisbthomp commented on #3842
@EtienneCmb  The second figure generated  by plot_wf_mi_cc.py does not match the second figure in the corresponding documentation.

[2021-11-28 03:38] prashjha commented on #3668
Hi @Balaje and @karthikncsu, could you please provide an update on how the review is going and a tentative time to finish it? I truly appreciate your efforts. :)

[2021-11-28 03:40] prashjha commented on #3775
Hi @fusionet24, would you be interested in reviewing this submission for JOSS?

[2021-11-28 03:47] prashjha commented on #3924
Hi @Jgoldfar, any chance you could review this submission for JOSS?

[2021-11-28 04:05] madvn commented on #3842
Hello all, I am just getting to this as well.

Looks like a very interesting toolbox. I think the idea of feature-specific functional networks using mutual information can be used widely in not just neuroscientific settings but also sociology or even, more topically, epidemiology. I've updated my checklist based on a quick look at the repo and installing the package. I also took a quick look at th

[2021-11-28 07:08] kamapu commented on #3776
# Review by Miguel

Sorry for the late response. It is my first review of a package and the way to proceed has been challenging for me. Also some "spontaneous" activities were kipping me busy and I just managed to finish my review.

While this package seems to be promising for its use also in the context of my own work, I see the necessity of a major revision of both, the structure of functions as

[2021-11-28 11:08] felipeZ commented on #3197
@majensen - it would be great if the review progress can be put on pause until I found some time to spend on it. Thanks!

[2021-11-28 11:16] hakanfriden commented on #3680
Hi Devosmita!
I was so puzzled to see you NRSME of 0.1!
Today I read your message more accurately.
The dataset has 50*50=2500 values, I had excluded 10 values in the first column.
When I looked at your formula I see that you made the sum over all 2500 values, so even those that were not NaN-ed, and thus have no error!
For the computation, you should **only sum over the excluded** 10 values, as I s

[2021-11-28 11:29] temken commented on #3725
Hi @lucydot and @Kevin-Mattheus-Moerman,
I updated the reference ([link to commit](https://github.com/temken/obscura/commit/b2f28438cc06689d4099dc964aff45cb090b67be)). All should be ready now.

[2021-11-28 12:16] jbytecode commented on #3945
Dear @matthieuaussal

Do you have any suggestions for potential reviewers? You can also use the list [here](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822).
Please mention the GitHub users without using the @ character.

Thank you in advance.

[2021-11-28 12:36] larkz commented on #3804
@TimKam @adi3 @slim-patchy all of the comments regarding our paper and code have been addressed (from the authors' perspective) - please see https://github.com/aqtech-ca/mctreesearch4j/pull/68, we would kindly ask for a resolution moving forward. And feel free to let us know if further editions are required.

[2021-11-28 18:24] Zitzeronion commented on #3728
@whedon generate pdf from branch JOSS

[2021-11-28 18:24] whedon commented on #3728
[code]

[2021-11-28 18:24] whedon commented on #3728
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03728/joss.03728/10.21105.joss.03728.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03728/joss.03728/10.21105.joss.03728.pdf) :page_facing_up: :point_left:

[2021-11-28 18:30] Zitzeronion commented on #3728
Dear @dpsanders and @jramirezcr,

I am terribly sorry for keeping you wait for ever. I hope you two do fine in this strange times.

I tried to update the paper according to your suggestions @dpsanders , there is a simple and easy use case outside of the tutorial section of the documentation. There is a minor review of other software solutions that can be used to simulate the thin film equation.

A

[2021-11-28 19:37] diehlpk commented on #3465
@elwinter Do you think we can finish the paper by the end of next week? I would like to finalize the paper and take a new paper.

[2021-11-28 19:40] diehlpk commented on #3955
@samuel.burbulla would you mind recommending some reviewers?

[2021-11-28 19:44] diehlpk commented on #3631
Hi @amadeusine @no @sa501428 @luciorq @dilawar would you be interest to review this paper?

[2021-11-28 19:58] dilawar commented on #3631
@diehlpk I am happy to review this work.

[2021-11-28 20:37] dfm commented on #3771
👋 @zingale: I wanted to ping to make sure that this is still on your radar. I know that this is a busy time of year, but keep us posted and let me know if you run into any issues. Thanks!

[2021-11-28 20:40] zingale commented on #3771
yep, I'm on it.  Should be done this week

[2021-11-28 20:41] dfm commented on #3771
Awesome - thank you!!

[2021-11-28 20:45] taless474 commented on #3882
@whedon re-invite @schruste as reviewer

[2021-11-28 20:45] whedon commented on #3882
OK, the reviewer has been re-invited.

@schruste please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-11-28 21:09] elwinter commented on #3465
Hi Patrick. I thought I had already addressed all of the issues a couple
of weeks ago, but now I see a message from you on 15 November. My apologies
- I did not see that message originally. I will plan to make further
modifications early this week. I too would like to put this one "to
bed".... :^)

Take care
Eric

On Sun, Nov 28, 2021 at 2:38 PM Patrick Diehl ***@***.***>
wrote:

[2021-11-28 22:40] zingale commented on #3771
I have a question about the git repo on bitbucket.  The name is "orion_release1", and looking at the git history, it seems like this repo was only created for the purposes of doing the JOSS paper.

So, is this the actual repo where the code is being developed? or is the development hidden from the public and there will be periodic drops of the code to new repos?

[2021-11-28 22:42] zingale commented on #3771
created docs issue:
https://bitbucket.org/orionmhdteam/orion2_release1/issues/2/joss-review

[2021-11-28 22:43] zingale commented on #3771
are there any plans to host the docs on a webserver (readthedocs? or something else?).  This would make it easier for users.

[2021-11-28 22:49] zingale commented on #3771
the orion-users group is private by default -- you should consider making the past posts public so new users can read past messages and understand the development community without having to ask permission to join.

[2021-11-28 22:59] zingale commented on #3771
created dependency issue
https://bitbucket.org/orionmhdteam/orion2_release1/issues/3/joss-review-add-csh-as-dependency

[2021-11-28 23:04] zingale commented on #3771
I have not been able to build Chombo because of an interface mismatch:
https://bitbucket.org/orionmhdteam/orion2_release1/issues/4/joss-review-chombo-compilation-error

[2021-11-28 23:05] zingale commented on #3771
I would also like to understand the testing strategy.

[2021-11-28 23:06] diehlpk commented on #3631
@whedon add @dilawar as reviewer

[2021-11-28 23:06] whedon commented on #3631
OK, @dilawar is now a reviewer

[2021-11-28 23:07] diehlpk commented on #3631
@whedon commands

[2021-11-28 23:08] whedon commented on #3631
Here are some things you can ask me to do:

[code]

[2021-11-28 23:08] diehlpk commented on #3631
@whedon remove @StefanOlin  as reviewer

[2021-11-28 23:08] whedon commented on #3631
OK, @StefanOlin  is no longer a reviewer

[2021-11-28 23:09] diehlpk commented on #3631
@StefanOlin I removed you as a reviewer, since I have not heard back from you in a while. If you are still interested, I will add you again.

[2021-11-28 23:09] zingale commented on #3771
The JOSS paper should address "State of the field: Do the authors describe how this software compares to other commonly-used packages?"

Can the author add a section explaining how Orion2 compares and differs from other open AMR MHD codes in terms of capability, performance, community, etc.

[2021-11-28 23:09] diehlpk commented on #3631
@dilawar Thanks, I added you as the second reviewer.

[2021-11-28 23:10] diehlpk commented on #3631
@wtraylor I found a new reviewer and we seem to be good again.

[2021-11-28 23:17] mdbartos commented on #3852
Could I get another invite? I still don't have permissions to edit the checklist.

[2021-11-29 05:40] mirca commented on #3917
@pdebuyl I have completed my review and I'm happy to recommend this package for acceptance in JOSS. Thanks @shailesh1729!

[2021-11-29 06:06] shailesh1729 commented on #3917
@whedon generate pdf

[2021-11-29 06:06] whedon commented on #3917
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: :point_left:

[2021-11-29 06:09] shailesh1729 commented on #3917
Thank you @Saran-nns  and @mirca for your kind feedback.

@pdebuyl I have done one more round of editing and brought down the paper to 7 pages while keeping all the changes and additions suggested by the reviewers.  Kindly, let me know if this is good enough.

[2021-11-29 06:27] jedbrown commented on #3314
@whedon generate pdf

[2021-11-29 06:28] whedon commented on #3314
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03314/joss.03314/10.21105.joss.03314.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03314/joss.03314/10.21105.joss.03314.pdf) :page_facing_up: :point_left:

[2021-11-29 06:29] jedbrown commented on #3314
@whedon check references

[2021-11-29 06:31] whedon commented on #3314
[code]

[2021-11-29 07:11] FredDeCeuster commented on #3905
@gonsie

Atulit Srivastava developed parts for a future version (currently not public), but also already contributed ideas for this version.

Ward Homan and Jan Bolte mostly contributed to the science done with Magritte (see papers in documentation), but I would be happy to include them as co-authors on this paper.

[2021-11-29 07:25] jedbrown commented on #3314
Returning from the holiday, I'm sorry I missed this the first time around. This fixes the missing DOI. I guess it needs an issue and a PR referencing that issue.
https://github.com/jedbrown/moose/commit/836b5f6867dbba0d897ddf403b09de9a1207260c

[2021-11-29 07:33] csoneson commented on #3954
@whedon assign @csoneson as editor

[2021-11-29 07:33] whedon commented on #3954
OK, the editor is @csoneson

[2021-11-29 07:34] csoneson commented on #3954
👋🏻  @joewandy - I will handle your submission and start by looking for suitable reviewers. If you have suggestions, please let me know here (without tagging them with `@`).

[2021-11-29 08:05] oliviaguest commented on #3270
@EleonoraVagnoni this sounds like a very important point thanks for bringing it up.

[2021-11-29 08:18] oliviaguest commented on #3638
@whedon add @puolival as reviewer

[2021-11-29 08:18] whedon commented on #3638
OK, @puolival is now a reviewer

[2021-11-29 08:32] chryswoods commented on #3914
Thanks :-)

[2021-11-29 08:40] michaeltouati commented on #3618
@danielskatz - due to the absence of answer to my message from the zenodo help contact, I have uploaded another time the software. Here is the DOI :
https://doi.org/10.5281/zenodo.5733971

[2021-11-29 08:46] adi3 commented on #3671
@AP6YC - please update us on your progress, and an estimated date for completion. Thank you!

[2021-11-29 08:47] adi3 commented on #3527
@AP6YC - please update us on your progress, and an estimated date for completion. Thank you!

[2021-11-29 09:10] oliviaguest commented on #3638
@whedon start review

[2021-11-29 09:10] whedon opened #3956 "[REVIEW]: BCImat: a Matlab-based framework for Intracortical Brain-Computer Interfaces and their simulation with an artificial spiking neural network"
**Submitting author:** @eferrea (<a href="http://orcid.org/0000-0003-1352-4789">Enrico Ferrea</a>)
**Repository:** https://github.com/eferrea/BCI-Master
**Branch with paper.md** (empty if default branch):
**Version:** v.1.0.0
**Editor:** @oliviaguest
**Reviewers:** @mstimberg, @puolival
**Archive:** 10.5281/zenodo.6759182

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-11-29 09:10] whedon commented on #3638
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3956.

[2021-11-29 09:10] #3638 closed

[2021-11-29 09:10] whedon commented on #3956
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mstimberg, @puolival it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-11-29 09:10] whedon commented on #3956
Wordcount for `paper.md` is 1175

[2021-11-29 09:10] whedon commented on #3956
[code]

[2021-11-29 09:11] whedon commented on #3956
[code]

[2021-11-29 09:11] oliviaguest commented on #3638
@eferrea @mstimberg @puolival please move to #3956 where the review itself will take place! 😊