[2019-09-30 14:45] lpantano commented on #1748
It was an error, I fixed it. Sorry about that.

On September 30, 2019 at 10:18:16 AM, Madicken Munk (
notifications@github.com) wrote:

@lpantano <https://github.com/lpantano> am I supposed to be a reviewer on
my own paper?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openjournals/joss-reviews/issues/1748?email_source=not

[2019-09-30 15:26] TrashBirdEcology commented on #1566
@terrytangyuan done

[2019-09-30 15:33] terrytangyuan commented on #1722
@whedon set v0.1.0 as version

[2019-09-30 15:33] whedon commented on #1722
OK. v0.1.0 is the version.

[2019-09-30 15:34] terrytangyuan commented on #1722
@whedon set 10.5281/zenodo.3464224  as archive

[2019-09-30 15:34] whedon commented on #1722
OK. <a href="https://doi.org/10.5281/zenodo.3464224" target="_blank">10.5281/zenodo.3464224</a> is the archive.

[2019-09-30 15:34] terrytangyuan commented on #1722
@whedon accept

[2019-09-30 15:34] whedon commented on #1722
[code]

[2019-09-30 15:34] whedon commented on #1722
[code]

[2019-09-30 15:35] whedon commented on #1722
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/988

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/988, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-30 15:35] terrytangyuan commented on #1722
@ShanaScogin @jkarreth Could you fix the above missing DOI?

[2019-09-30 15:39] gkthiruvathukal commented on #1752
All, ok, now that there is reviewer feedback (thanks @nnadeau and @nthomasCUBE) and a response from @KingZee, we are heading in the right direction. Please keep in mind that JOSS operates differently from your typical academic journal. As an editor, I rarely put anything up for review that lacks some novelty or technical merit, and I see potential in this work. Ultimately,  the formal peer review

[2019-09-30 16:10] kyleniemeyer commented on #1738
@whedon set 10.5281/zenodo.3464672 as archive

[2019-09-30 16:10] whedon commented on #1738
OK. <a href="https://doi.org/10.5281/zenodo.3464672" target="_blank">10.5281/zenodo.3464672</a> is the archive.

[2019-09-30 16:11] kyleniemeyer commented on #1738
@nnadeau sorry to drag this out, but it looks like you released v0.7.3—should that be what we use?

[2019-09-30 16:13] lgeiger commented on #1746
Thank you very much about the thorough review and the PRs to larq. Your feedback is extremely useful for us.

I am also doing the reponse in parts. For now I tried to address all the issues related to the library itself and the documentation. Please let me know if I am missing something.

### Response to comments from @sbrugman

I tried to clarify it in https://github.com/larq/larq/pull/261

I agr

[2019-09-30 16:16] jkarreth commented on #1722
@terrytangyuan done, this is now added to paper.bib

[2019-09-30 16:16] gvegayon commented on #1566
Same here @terrytangyuan

[2019-09-30 16:33] terrytangyuan commented on #1566
Thanks everyone!

@JonasMoss At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

The title of the archive is the same as the JOSS paper title

[2019-09-30 16:33] terrytangyuan commented on #1722
@whedon accept

[2019-09-30 16:33] whedon commented on #1722
[code]

[2019-09-30 16:34] whedon commented on #1722
[code]

[2019-09-30 16:34] whedon commented on #1722
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/989

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/989, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-30 16:38] terrytangyuan commented on #1722
@whedon check references

[2019-09-30 16:38] whedon commented on #1722
[code]

[2019-09-30 16:39] whedon commented on #1722
[code]

[2019-09-30 16:52] hsezhiyan commented on #1524
@mbobra do you have any update on this? :)

[2019-09-30 17:14] jkarreth commented on #1722
I'm not sure why this keeps happening, but if it's OK with you, @terrytangyuan, that DOI is not essential. It's attached to the replication data for the article we cite (and the article itself doesn't have a DOI since it's from 2000), so the citation should still be correct even without DOI.

[2019-09-30 17:17] statsmaths commented on #1758
Of course. Here are some names:

- @duhaime **Douglas Duhaime**
- @adavidzh **André David**
- @SeguinBe **Benoit Seguin**
- @jgonggrijp **Julian Gonggrijp**
- @ZoeLeBlanc **Zoe LeBlanc**

[2019-09-30 17:34] shah314 commented on #1733
The compilation warning is because the code does not use generics. I think it is completely harmless.

About execution time, there are several parameters in Constants.java which can be used to control the run time. For instance, one could disable local search, or reduce the number of iterations and get a much better run time. On the inithx.i.3 instance with 621 vertices, this algorithm takes 2 sec

[2019-09-30 17:46] lgeiger commented on #1746
Thanks for bringing this up. We also aren't sure about how to deal with this.
Currently all main contributors of Larq are part of the Plumerai Research Team. Some contributions (initial API design and feedback, work on planned improvements, etc) don't show up on GitHub. Therefor we opted for a group authorship to keep it timeless and also give credit to people who are currently working on larq but

[2019-09-30 18:06] kyleniemeyer commented on #1722
Whedon's DOI warnings are only meant to be warnings, so if you checked on one manually and it doesn't look like an actual issue, we can ignore

[2019-09-30 18:16] terrytangyuan commented on #1722
Thanks @kyleniemeyer. Since you are already here, could you take it from here? The paper looks good to me.

[2019-09-30 18:17] terrytangyuan commented on #1746
@openjournals/joss-eics Could you advise on the question above? Thanks.

[2019-09-30 18:43] nnadeau commented on #1738
@kyleniemeyer sure! that was outside the scope of this review process (i.e., travis CI update), but sure, go ahead!

DOI:
    10.5281/zenodo.3464685

[2019-09-30 18:47] malmans2 commented on #1720
Hi @sam-greenwood. I just started the review and I'm going to work on it this week. Sorry about the delay!
While reading the paper I noticed a couple of minor issues:

- [ ] Figure 1 is never mentioned.
- [ ] All references are missing a doi.

Other than that, I think it's well written and well structured.
I also have a suggestion about figure 2 and 3: Have you considered showing them in a single

[2019-09-30 18:50] MuellerSeb commented on #1759
@whedon generate pdf

[2019-09-30 18:50] whedon commented on #1759
[code]

[2019-09-30 18:51] whedon commented on #1759
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01759/joss.01759/10.21105.joss.01759.pdf)

[2019-09-30 18:58] jedbrown commented on #1733
Editing compile-time constants is a poor interface for a potential application. It would be *much* better to have a configurable public interface with examples. I'm not personally familiar with Java documentation practices, but it's very common for JOSS submissions to have API documentation plus tutorials written with tools like Sphinx or Doxygen. If you want the package to be used, it would be ve

[2019-09-30 19:13] kyleniemeyer commented on #1738
@whedon set 10.5281/zenodo.3464685 as archive

[2019-09-30 19:13] whedon commented on #1738
OK. <a href="https://doi.org/10.5281/zenodo.3464685" target="_blank">10.5281/zenodo.3464685</a> is the archive.

[2019-09-30 19:13] kyleniemeyer commented on #1738
@whedon accept

[2019-09-30 19:13] whedon commented on #1738
[code]

[2019-09-30 19:14] whedon commented on #1738
[code]

[2019-09-30 19:14] whedon commented on #1738
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/990

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/990, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-30 19:21] arfon commented on #1758
:wave: @duhaime @adavidzh @SeguinBe @jgonggrijp @ZoeLeBlanc - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-09-30 19:24] arfon commented on #1755
:wave: @matteobachetti - would you be willing to review this submission for JOSS?

[2019-09-30 19:25] arfon commented on #1751
:wave: @jhollist, @ha0ye - how are you both getting along with your reviews?

[2019-09-30 19:26] jhollist commented on #1751
About half way there.  Should be completed by tomorrow.

[2019-09-30 19:32] nnadeau commented on #1738
@kyleniemeyer looks good! Thank you everyone for this review process.

[2019-09-30 19:34] ha0ye commented on #1751
I have this planned for second half of the week - currently dealing with end of month deadlines.

[2019-09-30 19:39] arfon commented on #1751
👍 thanks for the updates both!

[2019-09-30 19:51] jkanche commented on #1665
@mlindsk Thanks for making the changes! Looks great!

[2019-09-30 20:47] banesullivan commented on #1720
Hi @sam-greenwood, apologies for taking a while to get around to this! As a first pass, I just opened up quite a few issues in the repo that we can work together to resolve for this review.

I'll try to review the paper soon here as well!

Overall (from my first pass) it looks like the library is in need of:

- [ ] clean up around the install script (`setup.py` and repo meta info)
- [ ] clear test

[2019-09-30 21:10] heilerich commented on #1626
@arfon I have seen your message! Thanks for the reminder. I'm really sorry for the delay, I'm terribly busy at the moment. I will try to fit this in tomorrow.

[2019-09-30 21:22] arfon commented on #1626
Got it, thanks for the update!

[2019-09-30 21:31] lpantano commented on #1748
@whedon start review

[2019-09-30 21:31] whedon opened #1774 "[REVIEW]: widgyts: Custom Jupyter Widgets for Interactive Data Exploration with yt"
**Submitting author:** @munkm (<a href="http://orcid.org/0000-0003-0117-5366">Madicken Munk</a>)
**Repository:** <a href="https://github.com/data-exp-lab/widgyts" target ="_blank">https://github.com/data-exp-lab/widgyts</a>
**Version:**  v0.3.2
**Editor:** @lpantano
**Reviewer:** @harpolea , @KayleighRutherford
**Archive:** <a href="https://doi.org/10.5281/zenodo.3583416" target="_blank">10.5281/z

[2019-09-30 21:31] whedon commented on #1748
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1774. Feel free to close this issue now!

[2019-09-30 21:31] whedon commented on #1774
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @harpolea , @KayleighRutherford it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're

[2019-09-30 21:31] whedon commented on #1774
[code]

[2019-09-30 21:31] #1748 closed

[2019-09-30 21:32] whedon commented on #1774
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01774/joss.01774/10.21105.joss.01774.pdf)

[2019-09-30 22:09] malmans2 commented on #1720
I agree with all bullet points by @banesullivan, especially on tests and documentation.
@sam-greenwood here are a few more:

- [ ] Follow the style guide for Python.
- [ ] Add community guidelines.
- [ ] Since your coauthors are not in the github contributors list, mention them in the documentation.

I haven't play much with the tools yet, I'm going to do it in the next couple of days!

[2019-09-30 22:44] mbobra commented on #1524
@whedon check references

[2019-09-30 22:44] whedon commented on #1524
[code]

[2019-09-30 22:45] whedon commented on #1524
[code]

[2019-09-30 22:46] mbobra commented on #1524
@openjournals/joss-eics This paper is ready for acceptance! Nice work @hsezhiyan @alexanderimanicowenrivers @bryanlimy  🎉

[2019-09-30 23:05] kyleniemeyer commented on #1738
@whedon accept deposit=true

[2019-09-30 23:05] whedon commented on #1738
[code]

[2019-09-30 23:06] whedon commented on #1738
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1178808463922778112) 👈 🐦🐦🐦

[2019-09-30 23:06] whedon commented on #1738
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/991
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01738](https://doi.org/10.21105/joss.01738)
2. If everything looks go

[2019-09-30 23:16] lgeiger commented on #1746
@sbrugman I agree, the paper would be interesting to reproduce, though I am not sure if I'll find time for it any time soon. That being said, we already have multiple examples of how you would use Larq to reproduce a paper. All models currently available under https://larq.dev/models/ are reproductions of papers in the field of extremely quantized neural networks. In total we reproduced the result

[2019-09-30 23:24] shah314 commented on #1733
@jedbrown I think I have addressed all of your suggestions.

The code now has several command line arguments that can be passed in. I have mentioned this in both README.md files in the tests as well as the root directories.

I have added an "automatedtests.sh" file that will output if the tests passed for both heuristics as well as the backtracking algorithms.

I created a parameters.md file that

[2019-09-30 23:39] danielskatz commented on #1772
@whedon set v1.1.6 as version

[2019-09-30 23:39] whedon commented on #1772
OK. v1.1.6 is the version.

[2019-09-30 23:41] danielskatz commented on #1772
I still don't see a readme or a license in the source repo.

[2019-09-30 23:44] danielskatz commented on #1769
@janniswarnat - In our opinion, this does not currently qualify as research software, as it is presented in the repo and the paper. Therefore, we are going to mark it as rejected.  If you want to recast it as solving a research problem, feel free to resubmit.

[2019-09-30 23:45] #1769 closed

[2019-09-30 23:50] kyleniemeyer commented on #1738
Congrats @nnadeau on your article's publication in JOSS! Thanks to @adi3 and @CameronDevine for reviewing!

[2019-09-30 23:50] #1738 closed

[2019-09-30 23:50] whedon commented on #1738
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01738/status.svg)](https://doi.org/10.21105/joss.01738)

**We need your help!**

Journal of Open Source Softwa

[2019-09-30 23:58] KingZee commented on #1752
@gkthiruvathukal Thank you very much for your bullet points, I absolutely agree with them and feel that they all are very pertinent. I will do my best over the course of the next few weeks to check off everything.

I have a single concern about the second half of the third bullet point. I agree with both of you and @nnadeau that javadoc might not have been the best choice,  and will do my best to

[2019-10-01 01:07] kyleniemeyer commented on #1722
Hi @jkarreth,

We're nearly done, just a few typos/fixes for the paper:
- in your author list, some of the affiliations are missing states
- in your code snippet on page 2, some of the commented text is cut off; I would suggest rearranging and moving stuff to new (shorter) lines
- on page 5, "or observed 1s" seems to be a typo (or is otherwise not clear); should "1s" be "ones"?
- add commas after

[2019-10-01 01:16] amritagos commented on #1773
@whedon check references

On Tue, Oct 01, 2019 at 6:31am, whedon < notifications@github.com [notifications@github.com] > wrote:
Assigned #1773 [https://github.com/openjournals/joss-reviews/issues/1773] to @amritagos [https://github.com/amritagos] .

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub [https://github.com/openjournals/joss-reviews/issu

[2019-10-01 01:16] whedon commented on #1773
[code]

[2019-10-01 01:28] kyleniemeyer commented on #1425
Hi @benmaier, I fixed the NetworkX reference, please merge this PR: https://github.com/benmaier/netwulf/pull/35

[2019-10-01 01:32] kyleniemeyer commented on #1501
@whedon check references

[2019-10-01 01:32] whedon commented on #1501
[code]

[2019-10-01 01:32] whedon commented on #1501
[code]

[2019-10-01 01:42] kyleniemeyer commented on #1524
@whedon generate pdf

[2019-10-01 01:42] whedon commented on #1524
[code]

[2019-10-01 01:42] whedon commented on #1524
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01524/joss.01524/10.21105.joss.01524.pdf)

[2019-10-01 02:05] kyleniemeyer commented on #1524
Hi @alexanderimanicowenrivers, some fixes needed in the paper before we publish:

- [ ]  in the abstract, you have some undefined acronyms
- [ ]  in related work, you need some spaces between words and in-text citations (actually, I see this in a few places throughout the paper)
- [ ]  The in-text citation associated with "stable baselines" is not showing up correctly
- [ ]  on page 3, the citatio

[2019-10-01 02:07] kyleniemeyer commented on #1746
@lgeiger @terrytangyuan regarding the team authorship question, we've definitely seen this used by some software projects. From my/our perspective, if this is how the project prefers to be cited, then it's fine. (Or, if they don't make a list of authors/contributors obvious.)

[2019-10-01 02:24] nhejazi commented on #1663
Hi Yiorgos ---

Thanks for your quick reply and for pointing out the items that I missed. The included `CONTRIBUTING.md` file looks good to me --- please do link to it from the `README.md` though as this will make it much easier for interested users to find the document. Also, you're right that formal unit tests are technically not necessary to pass the JOSS review, that is, the checks currently i

[2019-10-01 02:39] kyleniemeyer commented on #1683
Hi @duetosymmetry, just a few edits necessary in the paper:
- [ ] In the first sentence of the second paragraph, remove the `[ ]` around the reference to get the an "Author et al. (2001)"-style citation.
- [ ] In the first sentence of the third paragraph, I'd suggest changing `e.g. [@Dolan:2009nk]` to `e.g., as given by @Dolan:2009nk` (or something similar)
- [ ] later in the third paragraph, chan

[2019-10-01 02:52] duetosymmetry commented on #1683
@kyleniemeyer thanks for the suggestions! I have implemented many of them. Regarding the links to London's git repo, and Berti's web page: These resources do not have some versions of record (e.g. journal article or Zenodo archive), neither has a DOI. How should I cite these resources?

[2019-10-01 02:53] duetosymmetry commented on #1683
@whedon generate pdf

[2019-10-01 02:53] whedon commented on #1683
[code]

[2019-10-01 02:53] whedon commented on #1683
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01683/joss.01683/10.21105.joss.01683.pdf)

[2019-10-01 04:20] rouson commented on #1555
@labarba Yes, I believe I can complete my review within a week of today.

[2019-10-01 04:57] ramaniitrgoyal92 commented on #1613
@ctdegroot @apsabelhaus Could you please check our .docx file response and let us know your ideas? Thanks, indeed!

[2019-10-01 05:08] kyleniemeyer commented on #1683
@duetosymmetry thanks! for the software refs, a typical software citation should include:
- author(s)
- title + version number
- year of release associated with the version
- DOI associated with version, if possible
- URL directing to landing page

If only some of these are available, that's ok—not many have adopted archiving with DOIs yet.

[2019-10-01 05:42] mlindsk commented on #1665
Good morning all @jdeligt @jkanche @csoneson

It seems that we are in a final stage. @jkanche could you check for installation? I believe this is the only checkbox left. @csoneson would you consider changing the version number to v.1.0.0?

[2019-10-01 06:20] tonigi commented on #1773
Perhaps stuck because the paper is not in the default branch. Re-committed there and retrying.

@whedon check references

[2019-10-01 07:08] csoneson commented on #1665
@jdeligt, @jkanche - thanks for your reviews! And thanks @jdeligt for letting us know that you are happy with the current state.

@mlindsk - I have sent a PR with some fixes to the references in the paper, and a couple of additional comments.
The version number will be set once the submission is accepted and archived in Zenodo (it will not change in this issue).

[2019-10-01 07:19] adavidzh commented on #1758
I'm afraid that I cannot help this time around.

[2019-10-01 07:34] mlindsk commented on #1665
@whedon generate pdf

[2019-10-01 07:34] whedon commented on #1665
[code]

[2019-10-01 07:35] whedon commented on #1665
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01665/joss.01665/10.21105.joss.01665.pdf)

[2019-10-01 07:36] mlindsk commented on #1665
The saturated model is now motivated - it is a natural "go to model", but I argue that one shouldn't use it.

[2019-10-01 07:39] PolymerGuy commented on #1704
@katyhuff @PingjunChen @dgursoy Thank you all for your kind supervision and helpful advice on my first software submission! I have now archived the repo at Zenodo and got the following DOI:
10.5281/zenodo.3466426

I kept the version as it was during the review.

[2019-10-01 07:50] matteobachetti commented on #1755
Hi @arfon, sure.
It's the first time I do that for JOSS, could you point me to the guidelines?

[2019-10-01 08:28] JonasMoss commented on #1566
Thanks! Here's the doi of the Zenodo archive.
10.5281/zenodo.3466547
https://zenodo.org/record/3466547

[2019-10-01 08:50] leouieda commented on #1753
Hi @danielskatz I'd be happy edit this submission :+1:

[2019-10-01 08:50] leouieda commented on #1753
@whedon assign @leouieda as editor

[2019-10-01 08:50] whedon commented on #1753
OK, the editor is @leouieda

[2019-10-01 09:17] benmaier commented on #1425
Done!

[2019-10-01 09:43] jpaolocasas commented on #1631
@whedon generate pdf

[2019-10-01 09:43] whedon commented on #1631
[code]

[2019-10-01 09:43] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 09:46] tonigi commented on #1773
@whedon check references

[2019-10-01 09:46] whedon commented on #1773
[code]

[2019-10-01 09:53] jpaolocasas commented on #1631
@whedon generate pdf

[2019-10-01 09:53] whedon commented on #1631
[code]

[2019-10-01 09:53] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 10:04] tesch1 commented on #1487
Sorry for the little delay, was upgrading to XCode 11 (apple clang 11), which doesn't have these issues.

In general, the library works with other compilers, and uses the same metaprogramming that Eigen does, only with one extra layer in the case of `complex<dual<>>`. The main idea of this project is to provide optimized templates, so I think there's not really room to reduce that.

What are the c

[2019-10-01 10:14] jpaolocasas commented on #1631
@whedon generate pdf

[2019-10-01 10:14] whedon commented on #1631
[code]

[2019-10-01 10:14] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 10:21] jgonggrijp commented on #1758
@arfon I would be willing, but I could only start November 11th at the earliest.

@statsmaths Out of curiosity, how did you find/know about me?

[2019-10-01 10:29] jpaolocasas commented on #1631
@whedon generate pdf

[2019-10-01 10:29] whedon commented on #1631
[code]

[2019-10-01 10:30] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 10:47] jpaolocasas commented on #1631
@whedon generate pdf

[2019-10-01 10:47] whedon commented on #1631
[code]

[2019-10-01 10:47] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 10:53] arfon commented on #1755
@whedon add @matteobachetti as reviewer

[2019-10-01 10:53] whedon commented on #1755
OK, @matteobachetti is now a reviewer

[2019-10-01 10:54] arfon commented on #1755
Great, thanks so much! I'll go ahead and set up the review now and link to the guidelines there.

[2019-10-01 10:54] arfon commented on #1755
@whedon start review

[2019-10-01 10:54] whedon opened #1775 "[REVIEW]: Hasasia: A Python package for Pulsar Timing Array Sensitivity Curves"
**Submitting author:** @Hazboun6 (<a href="http://orcid.org/0000-0003-2742-3321">Jeffrey Hazboun</a>)
**Repository:** <a href="https://github.com/Hazboun6/hasasia" target ="_blank">https://github.com/Hazboun6/hasasia</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @cmbiwer, @matteobachetti
**Archive:** <a href="https://doi.org/10.5281/zenodo.3516463" target="_blank">10.5281/zenodo.3516463

[2019-10-01 10:54] whedon commented on #1755
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1775. Feel free to close this issue now!

[2019-10-01 10:55] whedon commented on #1775
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cmbiwer, @matteobachetti it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-10-01 10:55] arfon commented on #1755
@cmbiwer, @matteobachetti, @Hazboun6 - see you over in #1775 where the actual review will take place.

[2019-10-01 10:55] #1755 closed

[2019-10-01 10:55] whedon commented on #1775
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01775/joss.01775/10.21105.joss.01775.pdf)

[2019-10-01 10:55] arfon commented on #1775
@cmbiwer, @matteobachetti - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-10-01 10:56] arfon commented on #1773
@whedon check references from branch joss-paper

[2019-10-01 10:56] whedon commented on #1773
[code]

[2019-10-01 10:56] whedon commented on #1773
[code]

[2019-10-01 10:58] arfon commented on #1758
Thanks @jgonggrijp. Is that OK with you timing-wise?

[2019-10-01 11:20] whedon commented on #1773
[code]

[2019-10-01 11:30] statsmaths commented on #1758
Waiting until 11 November would be fine. Maybe we could just wait a day to see if @duhaime might be willing (he reacted to the initial listing but is on New York time and likely has not seen the follow-up request yet).

@jgonggrijp Thanks! I found you through the UU DH Lab website. I work with several DH colleagues at Utrecht (e.g., Jasmijn van Gorp), know of the university's strength in visual DH

[2019-10-01 11:41] jkarreth commented on #1722
Thank you for the close read and for finding these issues, @kyleniemeyer ! These should now all be fixed in https://github.com/ShanaScogin/BayesPostEst/tree/master/JOSSpaper:

- [x] in your author list, some of the affiliations are missing states
- [x] in your code snippet on page 2, some of the commented text is cut off; I would suggest rearranging and moving stuff to new (shorter) lines
- [x] on

[2019-10-01 12:20] mailchand commented on #1631
@whedon generate pdf

[2019-10-01 12:20] whedon commented on #1631
[code]

[2019-10-01 12:20] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 12:30] mailchand commented on #1631
@whedon generate pdf

[2019-10-01 12:30] whedon commented on #1631
[code]

[2019-10-01 12:31] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 12:41] matteobachetti commented on #1775
Overall, a very useful software package, well documented. I'm not done with the review, but I can start putting down some thoughts as I go through the checklist.

- Re. the statement of need: I ticked it because I think it's pretty clear what the software does and who can benefit, even if the audience is not *explicitly* mentioned.

- Tests are run on Travis. I'm verifying that they cover a signif

[2019-10-01 12:42] danielskatz commented on #1487
@StewMH - It looks like you have options that work, and for those that do not, there are bugs in the compilers that have been reported. Given this, can you complete your review?

[2019-10-01 12:47] whedon commented on #1773
[code]

[2019-10-01 12:48] mailchand commented on #1631
@whedon generate pdf

[2019-10-01 12:48] whedon commented on #1631
[code]

[2019-10-01 12:48] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 12:55] mailchand commented on #1631
@whedon generate pdf

[2019-10-01 12:55] whedon commented on #1631
[code]

[2019-10-01 12:56] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 13:00] mailchand commented on #1631
@whedon generate pdf

[2019-10-01 13:00] whedon commented on #1631
[code]

[2019-10-01 13:00] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 13:08] mailchand commented on #1631
@whedon generate pdf

[2019-10-01 13:08] whedon commented on #1631
[code]

[2019-10-01 13:08] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 13:36] duhaime commented on #1758
@statsmaths @afron Thanks for the heads up on this! I wish I could help out, as the DVT will be useful to many researchers in @YaleDHLab, but my cup overfloweth at the moment. I'm glad @jgonggrijp can tackle this one!

[2019-10-01 13:48] mikldk commented on #1763
@whedon generate pdf

[2019-10-01 13:48] whedon commented on #1763
[code]

[2019-10-01 13:48] whedon commented on #1763
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01763/joss.01763/10.21105.joss.01763.pdf)

[2019-10-01 13:49] StewMH commented on #1487
Hi,

I'd be happy with a statement in the documentation that it's confirmed to work with XCode + AppleClang, and that it may work on other platforms + compilers. With that in place I'm ready to sign off on it.

Cheers,

Stewart

[2019-10-01 13:53] kbarnhart commented on #1736
@tristan-salles thanks for being willing to review this. I don't think I get to make decisions about reviewers or can ask `@whedon` to do assign reviewers. I'll wait for @meg-simula to respond.

[2019-10-01 13:56] meg-simula commented on #1736
Hi @tristan-salles, yes, we do. Thanks! I'll assign you and start the review process.

[2019-10-01 13:56] meg-simula commented on #1736
@whedon add @tristan-salles as reviewer

[2019-10-01 13:56] whedon commented on #1736
OK, @tristan-salles is now a reviewer

[2019-10-01 13:56] meg-simula commented on #1736
@whedon start review

[2019-10-01 13:57] whedon opened #1776 "[REVIEW]: umami: A Python package for Earth surface dynamics objective function construction"
**Submitting author:** @kbarnhart (<a href="http://orcid.org/0000-0001-5682-455X">Katherine Barnhart</a>)
**Repository:** <a href="https://github.com/TerrainBento/umami" target ="_blank">https://github.com/TerrainBento/umami</a>
**Version:** v1.0.1
**Editor:** @meg-simula
**Reviewer:** @sgrieve, @tristan-salles
**Archive:** <a href="https://doi.org/10.5281/zenodo.3521085" target="_blank">10.5281/z

[2019-10-01 13:57] whedon commented on #1736
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1776. Feel free to close this issue now!

[2019-10-01 13:57] whedon commented on #1776
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sgrieve, @tristan-salles it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-10-01 13:57] whedon commented on #1776
[code]

[2019-10-01 13:57] whedon commented on #1776
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01776/joss.01776/10.21105.joss.01776.pdf)

[2019-10-01 13:58] meg-simula commented on #1776
@tristan-salles @sgrieve Thanks again for agreeing to review! Reviewer checklists have been generated for each you above - please take a look and dig in at will.

[2019-10-01 13:58] #1736 closed

[2019-10-01 14:00] meg-simula commented on #1713
Thanks for checking @danielskatz - I have some open reviews and I would like to get those sorted before taking on more though.

[2019-10-01 14:01] meg-simula commented on #1701
@HaoZeke and @dham, could you give us an update on how the review is going? Is there any additional information needed?

[2019-10-01 14:08] arfon commented on #1713
@whedon assign @arfon as editor

[2019-10-01 14:10] whedon commented on #1631
[code]

[2019-10-01 14:11] whedon commented on #1683
[code]

[2019-10-01 14:12] whedon commented on #1683
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01683/joss.01683/10.21105.joss.01683.pdf)

[2019-10-01 14:12] mailchand commented on #1631
@whedon generate pdf

[2019-10-01 14:13] whedon commented on #1631
[code]

[2019-10-01 14:13] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 14:14] HaoZeke commented on #1701
I have opened some issues which have not yet been resolved. I could
complete the rest of the review but it will not be complete until the
authors address the issues.

[2019-10-01 14:19] duetosymmetry commented on #1683
@kyleniemeyer Here's the best I could accomplish. Neither of these codes have releases or version numbers. For London's, I included the short hash of the latest (2017) commit. For Berti's, I found the earliest appearance of the file on archive.org (2010), and it is identical to the presently served version.

[2019-10-01 14:36] tesch1 commented on #1487
Hi,

How about this added to the readme in a section "Compiler notes"?

"XCode 11 (Apple Clang 11) is known to work.  Also g++.  Clang 8.0
appears to have some trouble with compiling the optimized templates for
Eigen,
as evidenced by its propensity to segfault when compiling the cppduals
test programs."

Cheers,
Michael

On Tue, Oct 1, 2019 at 3:49 PM Stewart Martin-Haugh <
notifications@github.co

[2019-10-01 14:46] danielskatz commented on #1487
that seems reasonable to me - maybe also a statement that unexpected user experiences should be submitted as issues?

[2019-10-01 15:24] jhollist commented on #1751
First, nice job on the package.

Added my checklist to the original post in this thread and in the items I did not check, I provided details over at https://github.com/junbinzhao/FluxCalR/issues/2.

Any questions let me know!

[2019-10-01 15:24] matt002 commented on #1713
@arfon - Sure: moorepants, nirum, melund, ixjlyons, could be good fits to review my submission. Apologies for the confusion, I would like the matt002 identity to be associated with this submission.

[2019-10-01 15:26] vaishnavtv commented on #1613
@Kevin-Mattheus-Moerman, I've completed the review. The authors have addressed all the issues I have raised, and amended the paper to reflect the edits I've suggested. If there's nothing else left to review on my part, I would like to recommend this paper for publication. Kindly let me know if you'd like my assistance with anything else on this submission.

[2019-10-01 15:37] kyleniemeyer commented on #1425
@whedon generate pdf

[2019-10-01 15:37] whedon commented on #1425
[code]

[2019-10-01 15:37] whedon commented on #1425
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01425/joss.01425/10.21105.joss.01425.pdf)

[2019-10-01 15:39] rmsare commented on #1760
@whedon generate pdf

[2019-10-01 15:39] whedon commented on #1760
[code]

[2019-10-01 15:39] whedon commented on #1760
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01760/joss.01760/10.21105.joss.01760.pdf)

[2019-10-01 15:48] whedon commented on #1631
[code]

[2019-10-01 15:48] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 16:00] statsmaths commented on #1758
Not a problem @duhaime, just didn't want to misinterpret your reaction from earlier!

Okay, let's just go with @jgonggrijp if still willing. Thanks again to everyone!

[2019-10-01 16:01] corybrunson commented on #1766
Hi @toph-allen, thanks for building the package! I was unfamiliar with Yen's algorithm and am enjoying seeing it play out.

The software paper is rich with examples but begins with a minimal justificatory paragraph. This is appropriate to the light weight of the package. I have a minor suggestion: to change "a method to find the _k_ shortest paths through a network" to "a method to find the shorte

[2019-10-01 16:08] matteobachetti commented on #1775
<img width="566" alt="Screenshot 2019-10-01 at 18 03 48" src="https://user-images.githubusercontent.com/7190189/65979624-e2ddbd00-e475-11e9-835c-3c96c5ceb82a.png">
Coverage is not bad. There are quite a few seemingly important pieces of the code left untested in `sensitivity.py`, including many of the methods in the `Spectrum` and `Sensitivity` classes. Even though I wouldn't block the publication

[2019-10-01 16:10] kthyng commented on #1760
@martibosch great! I'll add you as a reviewer, but we'll need to wait to start the actual review until we have a second reviewer.

[2019-10-01 16:10] kthyng commented on #1760
@whedon assign @martibosch as reviewer

[2019-10-01 16:10] whedon commented on #1760
OK, the reviewer is @martibosch

[2019-10-01 16:13] yangkcatiu commented on #1706
Hi @arokem , we haven't heard any feedback for a while now, we are wondering what would be the next steps. Thank you!

[2019-10-01 16:14] matteobachetti commented on #1775
Bottom line of my review: this is good code and deserves publication on JOSS. Before publication, I suggest to fix and improve the references as reported above (fix the broken one, add Astropy 2018 and a review on PTAs), and add some community/code of conduct guidelines to the repository.

As a further suggestion, it would be good to improve the test coverage, covering at least all important class

[2019-10-01 16:15] arokem commented on #1706
@mkearney : have you had a chance to take a look and see whether you are able to check off the remaining items?

[2019-10-01 16:18] kthyng commented on #1047
@whedon accept

[2019-10-01 16:18] whedon commented on #1047
[code]

[2019-10-01 16:18] whedon commented on #1047
[code]

[2019-10-01 16:19] whedon commented on #1047
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/992

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/992, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-01 16:20] kthyng commented on #1047
@whedon accept deposit=true

[2019-10-01 16:20] whedon commented on #1047
[code]

[2019-10-01 16:20] whedon commented on #1047
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1179068701494173696) 👈 🐦🐦🐦

[2019-10-01 16:21] whedon commented on #1047
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/993
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01047](https://doi.org/10.21105/joss.01047)
2. If everything looks go

[2019-10-01 16:21] MuellerSeb commented on #1759
My response to @virgesmith can be found here: https://github.com/GeoStat-Framework/pentapy/issues/2#issuecomment-537114042

[2019-10-01 16:23] kthyng commented on #1047
Woohoo congratulations @jshermeyer!!! Thanks so much to @zhampel, @rmsare, @jjmcnelis for reviewing, and to @Kevin-Mattheus-Moerman for editing!

[2019-10-01 16:23] #1047 closed

[2019-10-01 16:23] whedon commented on #1047
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01047/status.svg)](https://doi.org/10.21105/joss.01047)

**We need your help!**

Journal of Open Source Softwa

[2019-10-01 16:27] ramaniitrgoyal92 commented on #1613
@vaishnavtv Thank you so much for your helpful reviews! @Kevin-Mattheus-Moerman Appreciate your time and efforts!

[2019-10-01 16:32] corybrunson commented on #1766
Hi again @toph-allen, i'm having trouble reproducing the benchmark analysis at the end of the software paper, specifically the dramatic increase in `shortest_paths()` runtime with `mode = "all"`. In case it's due to a differently sampled random graph, is there a standard or empirical graph you've demonstrated the comparison on?

[code]

<sup>Created on 2019-10-01 by the [reprex package](https://re

[2019-10-01 16:33] corybrunson commented on #1766
@kyleniemeyer apologies; i meant to move my previous comment to an issue on the repo, to avoid clutter here in the review thread, and i'll do so now.

[2019-10-01 16:50] jshermeyer commented on #1047
Thanks all  @zhampel, @rmsare, @jjmcnelis, @Kevin-Mattheus-Moerman, @kthyng !

This is presently giving me a 404:
https://joss.theoj.org/papers/10.21105/joss.01047

Assuming it will auto-update given a bit of time?

[2019-10-01 16:54] kthyng commented on #1047
Weird! It is not giving me a 404. Is it still?

[2019-10-01 16:55] jshermeyer commented on #1047
Working on another browser, all good! I must just have to clear my cookies or something.

[2019-10-01 17:02] kyleniemeyer commented on #1722
@whedon generate pdf

[2019-10-01 17:02] whedon commented on #1722
[code]

[2019-10-01 17:02] whedon commented on #1722
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01722/joss.01722/10.21105.joss.01722.pdf)

[2019-10-01 17:07] kyleniemeyer commented on #1683
@duetosymmetry I think those look fine, thanks!

[2019-10-01 17:07] kyleniemeyer commented on #1683
@whedon accept

[2019-10-01 17:07] whedon commented on #1683
[code]

[2019-10-01 17:07] whedon commented on #1683
[code]

[2019-10-01 17:07] whedon commented on #1683
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/994

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/994, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-01 17:08] kyleniemeyer commented on #1425
@whedon accept

[2019-10-01 17:08] whedon commented on #1425
[code]

[2019-10-01 17:09] whedon commented on #1425
[code]

[2019-10-01 17:09] kyleniemeyer commented on #1683
@whedon accept deposit=true

[2019-10-01 17:10] kyleniemeyer commented on #1425
@whedon accept deposit=true

[2019-10-01 17:10] whedon commented on #1425
[code]

[2019-10-01 17:11] whedon commented on #1425
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1179081388684972032) 👈 🐦🐦🐦

[2019-10-01 17:11] whedon commented on #1425
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/996
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01425](https://doi.org/10.21105/joss.01425)
2. If everything looks go

[2019-10-01 17:15] kyleniemeyer commented on #1425
Congrats @ulfaslak on your article's publication in JOSS!

Many thanks to @leouieda for editing, and  @camillescott and @vc1492a for reviewing, this submission.

[2019-10-01 17:15] #1425 closed

[2019-10-01 17:16] whedon commented on #1425
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01425/status.svg)](https://doi.org/10.21105/joss.01425)

**We need your help!**

Journal of Open Source Softwa

[2019-10-01 17:16] kyleniemeyer commented on #1683
@whedon accept deposit=true

[2019-10-01 17:16] jkarreth commented on #1722
Not sure how, but some of the references were lost in the latest .bib file. I just re-inserted them. Sorry about that!

[2019-10-01 17:16] whedon commented on #1683
[code]

[2019-10-01 17:16] jkarreth commented on #1722
@whedon generate pdf

[2019-10-01 17:16] whedon commented on #1722
[code]

[2019-10-01 17:16] Hazboun6 commented on #1775
@matteobachetti thanks for the quick/thorough review! I really like the real time refereeing. I assume it's kosher for me to do some real time fixes?

One question. For community guidelines, the docs have [this](https://hasasia.readthedocs.io/en/latest/contributing.html) standard template blurb about contributing. Is the issue that it's buried in the docs, i.e. that I should make it more front and

[2019-10-01 17:17] whedon commented on #1722
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01722/joss.01722/10.21105.joss.01722.pdf)

[2019-10-01 17:17] whedon commented on #1683
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1179082933690388480) 👈 🐦🐦🐦

[2019-10-01 17:17] whedon commented on #1683
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/997
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01683](https://doi.org/10.21105/joss.01683)
2. If everything looks go

[2019-10-01 17:22] kyleniemeyer commented on #1683
Congrats @duetosymmetry on your article's publication in JOSS!

Many thanks to @xuanxu for editing, and @mattpitkin & @duncanmmacleod for reviewing, this submission.

[2019-10-01 17:22] #1683 closed

[2019-10-01 17:22] whedon commented on #1683
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01683/status.svg)](https://doi.org/10.21105/joss.01683)

**We need your help!**

Journal of Open Source Softwa

[2019-10-01 17:23] kyleniemeyer commented on #1722
@whedon accept

[2019-10-01 17:23] whedon commented on #1722
[code]

[2019-10-01 17:23] whedon commented on #1722
[code]

[2019-10-01 17:24] whedon commented on #1722
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/998

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/998, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-01 17:24] kyleniemeyer commented on #1766
@corybrunson no worries, it's fine either way

[2019-10-01 17:26] kyleniemeyer commented on #1722
@whedon accept deposit=true

[2019-10-01 17:26] whedon commented on #1722
[code]

[2019-10-01 17:27] whedon commented on #1722
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1179085380873834509) 👈 🐦🐦🐦

[2019-10-01 17:27] whedon commented on #1722
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/999
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01722](https://doi.org/10.21105/joss.01722)
2. If everything looks go

[2019-10-01 17:58] mailchand commented on #1631
@whedon generate pdf

[2019-10-01 17:58] whedon commented on #1631
[code]

[2019-10-01 17:59] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 18:17] kyleniemeyer commented on #1722
Congrats @jkarreth on your article's publication in JOSS!

Many thanks to @terrytangyuan for editing, and @svmiller & @TiagoVentura for reviewing, this submission.

[2019-10-01 18:17] #1722 closed

[2019-10-01 18:17] whedon commented on #1722
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01722/status.svg)](https://doi.org/10.21105/joss.01722)

**We need your help!**

Journal of Open Source Softwa

[2019-10-01 18:23] terrytangyuan commented on #1722
@whedon set 1.1.0 as version

[2019-10-01 18:23] whedon commented on #1722
OK. 1.1.0 is the version.

[2019-10-01 18:24] terrytangyuan commented on #1566
@whedon set 1.1.0 as version

[2019-10-01 18:24] whedon commented on #1566
OK. 1.1.0 is the version.

[2019-10-01 18:26] terrytangyuan commented on #1566
@whedon set 10.5281/zenodo.3466547 as archive

[2019-10-01 18:26] whedon commented on #1566
OK. <a href="https://doi.org/10.5281/zenodo.3466547" target="_blank">10.5281/zenodo.3466547</a> is the archive.

[2019-10-01 18:26] terrytangyuan commented on #1566
@whedon accept

[2019-10-01 18:26] whedon commented on #1566
[code]

[2019-10-01 18:27] whedon commented on #1566
PDF failed to compile for issue #1566 with the following error:

 pandoc-citeproc: Cannot decode byte '\x20': Data.Text.Internal.Encoding.decodeUtf8: Invalid UTF-8 stream
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-10-01 18:28] kyleniemeyer commented on #1501
Hi @prabhuramachandran, while going through the final checks I noticed the (sole) citation to a prior paper from last year, also about ViXeN.

How is this submission reporting on different scholarship than the article ["ViXeN: An open‐source package for managing multimedia data"](https://doi.org/10.1111/2041-210X.12892), published in _Methods in Ecology and Evolution_ ? They both appear to be soft

[2019-10-01 18:29] terrytangyuan commented on #1566
@whedon generate pdf

[2019-10-01 18:29] whedon commented on #1566
[code]

[2019-10-01 18:29] whedon commented on #1566
PDF failed to compile for issue #1566 with the following error:

 pandoc-citeproc: Cannot decode byte '\x20': Data.Text.Internal.Encoding.decodeUtf8: Invalid UTF-8 stream
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-10-01 18:30] terrytangyuan commented on #1566
@JonasMoss Could you take a look at your recent changes to see what caused the above compilation failure?

[2019-10-01 18:32] matteobachetti commented on #1775
Sorry for the confusion. The issue is not the contribution guideline, which you do have also in the `CONTRIBUTING.rst` file. I meant something like https://www.astropy.org/code_of_conduct.html, more about the quality of interaction in the community than how to technically do things.
Some templates can also be found at https://help.github.com/en/articles/adding-a-code-of-conduct-to-your-project

[2019-10-01 18:47] JonasMoss commented on #1566
I changed the encoding from ANSI to UTF-8 at the Github repo now.

@whedon generate pdf

[2019-10-01 18:50] mailchand commented on #1631
@whedon generate pdf

[2019-10-01 18:50] whedon commented on #1631
[code]

[2019-10-01 18:50] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 18:59] terrytangyuan commented on #1566
@whedon generate pdf

[2019-10-01 18:59] whedon commented on #1566
[code]

[2019-10-01 18:59] prabhuramachandran commented on #1501
@kyleniemeyer -- Thanks for checking!  The Methods in Ecology and Evolution paper was really about the application in the domain of ecology and camera trap videos/images and looked at a case study from the perspective of field biologists.  It talks about other tools relevant to the area and how this tool is useful in that context. The JOSS paper doesn't focus on the ecological application but on t

[2019-10-01 18:59] whedon commented on #1566
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01566/joss.01566/10.21105.joss.01566.pdf)

[2019-10-01 18:59] terrytangyuan commented on #1566
@whedon accept

[2019-10-01 19:00] whedon commented on #1566
[code]

[2019-10-01 19:00] whedon commented on #1566
[code]

[2019-10-01 19:00] whedon commented on #1566
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1000

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1000, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-01 19:04] jkarreth commented on #1722
Thank you very much @svmiller and @TiagoVentura for your reviews, and @terrytangyuan and @kyleniemeyer for editing! I really appreciate it.

[2019-10-01 19:07] terrytangyuan commented on #1566
@JonasMoss Could you fix the invalid DOI shown above?

[2019-10-01 19:07] fblavoie commented on #1685
@klmedeiros ,
Contributing instructions and test scripts were indeed missing. They were added. I have also uploaded the website on the github repo.

[2019-10-01 19:11] JonasMoss commented on #1566
@terrytangyuan Fixed.

[2019-10-01 19:12] mikldk commented on #1763
@EduPH, thanks for good comments! I have tried making a few corrections in documentation ([diff](https://github.com/mikldk/ryacas/commit/c8e4af65bd4d57c9c907840d78daed37e3393c51#diff-c87dadc225fad3d4b5c2429f3261b341)) and in the paper ([diff](https://github.com/mikldk/ryacas/compare/459fe7f200b044cae5fa3bb0ff8589cf42773653..7190e22b4019e0127c6f980708450aa8e45aa5b1)) as suggested. I have also updat

[2019-10-01 19:13] terrytangyuan commented on #1566
@whedon accept

[2019-10-01 19:13] whedon commented on #1566
[code]

[2019-10-01 19:14] whedon commented on #1566
[code]

[2019-10-01 19:14] whedon commented on #1566
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1001

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1001, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-01 19:15] terrytangyuan commented on #1566
@whedon check references

[2019-10-01 19:15] whedon commented on #1566
[code]

[2019-10-01 19:15] whedon commented on #1566
[code]

[2019-10-01 19:17] whedon commented on #1566
[code]

[2019-10-01 19:18] mailchand commented on #1631
@whedon generate pdf

[2019-10-01 19:18] whedon commented on #1631
[code]

[2019-10-01 19:18] terrytangyuan commented on #1566
@openjournals/joss-eics Could you take from here? The paper looks good to me. I manually verified that the DOI has been fixed.

[2019-10-01 19:19] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 19:22] kyleniemeyer commented on #1566
Hi @JonasMoss, not sure if this is causing the whedon error (and if so, why it's only showing up for one of them), but if you look in the list of references, a number of them have repeated "doi:" in the DOIs.

Please remove the extra `doi:` from these references: Chen 1999, Chen 2000, Hjort 1995, Jones 2007, Marron 1994, Silverman 2018 (and any others, if I missed any)

(in other words, change `do

[2019-10-01 19:26] mailchand commented on #1631
@whedon generate pdf

[2019-10-01 19:26] whedon commented on #1631
[code]

[2019-10-01 19:27] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-01 19:44] JonasMoss commented on #1566
@kyleniemeyer OK, done it.

The doi 10.2307/2346189 was in fact invalid acccording to doi.org though. I replaced it with the correct doi.

The string "10.2307/2346189" isn't in the paper.bib on the Github repo (i.e. search finds nothing), so it looks like whedon isn't looking at the right place. Perhaps the document must be compiled again?

[2019-10-01 19:47] kyleniemeyer commented on #1566
@whedon generate pdf

[2019-10-01 19:47] whedon commented on #1566
[code]

[2019-10-01 19:48] whedon commented on #1566
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01566/joss.01566/10.21105.joss.01566.pdf)

[2019-10-01 19:48] kyleniemeyer commented on #1566
@whedon check references

[2019-10-01 19:48] whedon commented on #1566
[code]

[2019-10-01 19:48] whedon commented on #1566
[code]

[2019-10-01 19:49] kyleniemeyer commented on #1566
@JonasMoss looks to be resolved now!

[2019-10-01 20:19] kyleniemeyer commented on #1566
@JonasMoss nearly there! I just have one final paper edit: could you add a sentence or two at the beginning of the paper to satisfy this requirement:

(from our list of things that JOSS papers [should contain](https://openjournals.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain))

[2019-10-01 20:50] heilerich commented on #1626
@arfon Okay, released, tagged, deployed, archived ;)
I hope everything works now. The DOI of the zenodo archive is `10.5281/zenodo.3468534`

[2019-10-01 21:31] mgymrek commented on #1500
Thanks for fixing the proof. We are almost there. Last step: Can you now create a Zenodo archive and report the DOI in this thread. Please make sure the Zenodo archive has the same title and author list as the paper. Also please indicate whether the version needs to be updated (it is listed as v1.0.0 on this thread).

[2019-10-01 21:33] mgymrek commented on #1761
Thanks @juanvillada for the review!

@jsgalan Please post any comments about your review and complete the checklist above as soon as you are able.

[2019-10-01 21:36] mgymrek commented on #1742
Thanks @nhejazi and @mikmaksi for your helpful reviews.

@dphansti: Please address these comments here. I think they all look minor and addressable.

[2019-10-01 21:37] ramiyaari commented on #1772
There is a README.txt and a LICENSE.txt file under inst/joss in the repo, together with paper.md

[2019-10-01 22:28] KedoKudo commented on #1732
@Kevin-Mattheus-Moerman
After carefully reviewing `kanapy`, I think the following aspects of `kanapy` could be improved:

* Add a CLI to allow easy integration into existing workflow on a high performance computing environment (https://github.com/mrgprasad/kanapy/issues/2).
* The documentation can benefit from the features laid out in https://github.com/mrgprasad/kanapy/issues/3
* Some other minor

[2019-10-01 22:41] AliYoussef96 commented on #1500
@whedon set v1.0.3 as version

[2019-10-01 22:41] whedon commented on #1500
I'm sorry @AliYoussef96, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-10-01 22:48] AliYoussef96 commented on #1500
Hi @mgymrek, thank you for your response.

I created the Zenodo archive, DOI:  [![DOI](https://zenodo.org/badge/189912439.svg)](https://zenodo.org/badge/latestdoi/189912439) . With the same title and author list as the [paper](https://github.com/openjournals/joss-papers/blob/joss.01500/joss.01500/10.21105.joss.01500.pdf).

Yes, I want to update the version to v1.0.3 as pip [version](https://pypi.o

[2019-10-01 23:44] arfon commented on #1626
@whedon set 10.5281/zenodo.3468534 as archive

[2019-10-01 23:44] whedon commented on #1626
OK. <a href="https://doi.org/10.5281/zenodo.3468534" target="_blank">10.5281/zenodo.3468534</a> is the archive.

[2019-10-01 23:44] arfon commented on #1626
@whedon accept

[2019-10-01 23:44] whedon commented on #1626
[code]

[2019-10-01 23:45] whedon commented on #1626
[code]

[2019-10-01 23:45] whedon commented on #1626
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1002

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1002, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-01 23:47] arfon commented on #1626
@whedon accept deposit=true

[2019-10-01 23:47] whedon commented on #1626
[code]

[2019-10-01 23:48] whedon commented on #1626
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1179181367290208256) 👈 🐦🐦🐦

[2019-10-01 23:48] whedon commented on #1626
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1003
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01626](https://doi.org/10.21105/joss.01626)
2. If everything looks g

[2019-10-01 23:53] arfon commented on #1626
@rougier, @satra - many thanks for your reviews here, and to @brainstorm for editing this one ✨

@heilerich - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-10-01 23:53] #1626 closed

[2019-10-01 23:53] whedon commented on #1626
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01626/status.svg)](https://doi.org/10.21105/joss.01626)

**We need your help!**

Journal of Open Source Softwa

[2019-10-02 00:05] gbertoldo commented on #1701
Dear @meg-simula  and @HaoZeke, I was not sure about modifying the repository during the review. I will provide changes asked by @HaoZeke  as soon as possible.

[2019-10-02 00:32] kyleniemeyer commented on #1501
@prabhuramachandran You're right that our purpose here is to review the software only, and not results—in fact, we do not really allow inclusion of results in our article (only examples). However, the concern here is that the other paper already describes the software in detail, in effect providing a "paper credit" for the software development, and a JOSS article would repeat that.

Has the scope

[2019-10-02 03:25] tristan-salles commented on #1776
I would like to thank the authors for this contribution, it has been a very enjoyable experience to explore this software and I am pleased to recommend publication, pending the minor issues highlighted below being resolved.

## Version

I noticed that the corresponding version for **umami** is still missing (from `versioneer.py` it is Version: 0.18). It would be good to clarify this, it is especia

[2019-10-02 04:27] Hazboun6 commented on #1775
I see. Thanks for the explanation and links @matteobachetti . That was very easy and I'm excited to include a Code of Conduct in the documents. I also went through and added a number of test for the code. I'm up to 87% coverage now. I've also added a few references and changed the `astropy` ref.

[2019-10-02 06:56] mrgprasad commented on #1732
@KedoKudo
Thank you for taking time and reviewing the repo and the paper. I will make the necessary changes and get back to you soon.

[2019-10-02 07:02] trallard commented on #1680
hey @alexanderfurnas  we expect the reviews to be dealt with within a couple of weeks, but if you have other commitments we can wait a bit longer.

[2019-10-02 07:33] virgesmith commented on #1759
@drvinceknight I am happy to recommend this package now, @MuellerSeb has addressed all the points I raised.

[2019-10-02 07:38] inakleinbottle commented on #1759
@drvinceknight I too am now happy to recommend this package.

[2019-10-02 07:55] drvinceknight commented on #1759
Wonderful! Thank you all for your efforts and congratulations @MuellerSeb. :+1:

[2019-10-02 07:57] drvinceknight commented on #1759
@whedon check references

[2019-10-02 07:57] whedon commented on #1759
[code]

[2019-10-02 07:58] whedon commented on #1759
[code]

[2019-10-02 07:58] MuellerSeb commented on #1759
@virgesmith and @inakleinbottle thank you for your detailed reviews. That really helped to further improve the package! @drvinceknight thank you for being such a nice editor!
Thanks everybody!

[2019-10-02 07:59] drvinceknight commented on #1759
@openjournals/joss-eics this paper is ready to be accepted (unless I've missed something - this is my first paper as editor so please let me know if I'm forgetting something).

[2019-10-02 08:38] MuellerSeb commented on #1759
I will make a release of pentapy 1.0.1 that includes all changes to get a proper DOI.
This is in line with the paper, since Version 1.0 is mentioned there, so I think a newer PATCH release is ok.
(Maybe it could be a good hint for further papers to use a pre-released release candidate for the review)

[2019-10-02 09:52] alvarolopez commented on #1517
@t

@trallard I think we are ready to go. The paper in the master branch is updated, and the Zenodo record is here: https://doi.org/10.5281/zenodo.1544377

Anything else from our side?

[2019-10-02 10:33] tesch1 commented on #1487
I've added a section to the README "Compiler notes" to address this.  I
believe this was the final outstanding issue?

On Tue, Oct 1, 2019 at 4:46 PM Daniel S. Katz <notifications@github.com>
wrote:

[2019-10-02 10:50] sam-greenwood commented on #1720
Thanks both for the feedback, I'll get to work making the changes and address any issues I've got questions about (which I'm sure there will be as I'm somewhat new to this!)

[2019-10-02 11:17] labarba commented on #1759
👋 @drvinceknight — The pre-publication steps to request authors are:

- [ ] Please make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who on

[2019-10-02 11:19] MuellerSeb commented on #1759
Zenodo fails to release the 1.0.1 version... uargh!
I created an Issue: https://github.com/zenodo/zenodo/issues/1878
BUT: the DOI in the paper references the "general" Zenodo publication, that means, it always directs to the latest version. Is that ok?

[2019-10-02 11:21] MuellerSeb commented on #1759
@labarba I see. So I have to wait for Zenodo to resolve that issue.

[2019-10-02 11:25] labarba commented on #1759
The JOSS paper should link to the DOI for the _specific version_ or the Zenodo archive that corresponds to the software _as reviewed and improved_ for the JOSS publication (not the general DOI for all versions).

Also, note that the Zenodo archive DOI is displayed in the margin decorators of the first page, and we thus request that you do not add it in your list of references. (It will also be inc

[2019-10-02 11:26] labarba commented on #1759
@whedon set v1.0.2 as version

[2019-10-02 11:26] whedon commented on #1759
OK. v1.0.2 is the version.

[2019-10-02 11:31] MuellerSeb commented on #1759
OK, I will remove it from the list of references. Now we have to wait until someone from zenodo fixes my failed release. v1.0.2 was just to trigger another zenodo release (which again failed), but I will leave it that way.

[2019-10-02 12:11] arfon commented on #1713
OK thanks. Many of those reviewers have been doing a lot for us recently so I'm going to look a little more broadly.

[2019-10-02 12:11] arfon commented on #1713
@finsberg @abhishektha - would you both be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-10-02 12:13] arfon commented on #1758
@whedon add @jgonggrijp as reviewer

[2019-10-02 12:13] whedon commented on #1758
OK, @jgonggrijp is now a reviewer

[2019-10-02 12:14] arfon commented on #1758
:zap: thanks for agreeing to review @jgonggrijp. I won't actually start the review issue here until we've found a second reviewer.

@statsmaths - I'd like to find another reviewer for this submission. If you can think of any other names I'd be grateful - I'll also do some digging.

[2019-10-02 12:20] finsberg commented on #1713
@arfon, I can review this submission.

[2019-10-02 12:45] danielskatz commented on #1487
👋 @StewMH - Can you now check off the rest of your review items? If so, please do. If not, please let us know which you cannot and why.

[2019-10-02 13:54] bwoshea commented on #1636
@danielskatz sorry for the delay.  We now have a DOI:  10.5281/zenodo.3468822:

 <a href="https://zenodo.org/badge/latestdoi/178911062"><img src="https://zenodo.org/badge/178911062.svg" alt="DOI"></a>

The lates version number is Enzo v2.6.1.

We are verifying the paper text and references right now.  The one issue I can see with the paper is the overlapping text in the bottom-left corner of the f

[2019-10-02 13:56] arfon commented on #1713
Wonderful, thanks so much @finsberg. I'll add you as a reviewer now but will hold off starting the actual review thread until I've found a second reviewer.

[2019-10-02 13:56] arfon commented on #1713
@whedon add @finsberg as reviewer

[2019-10-02 13:56] whedon commented on #1713
OK, @finsberg is now a reviewer

[2019-10-02 13:57] arfon commented on #1636
@bwoshea @danielskatz - this is an issue with our LaTeX template not handling long author lists very well. @danielskatz - feel free to accept this paper with Whedon here but I'll need to manually update the PDF afterwards to fix the layout issues.

[2019-10-02 13:58] danielskatz commented on #1636
@whedon set 10.5281/zenodo.3469922 as archive

[2019-10-02 13:58] whedon commented on #1636
OK. <a href="https://doi.org/10.5281/zenodo.3469922" target="_blank">10.5281/zenodo.3469922</a> is the archive.

[2019-10-02 13:58] danielskatz commented on #1636
@whedon set v2.6.1 as version

[2019-10-02 13:58] whedon commented on #1636
OK. v2.6.1 is the version.

[2019-10-02 14:07] elyiorgos commented on #1663
Hi Nima,

Thanks for taking a look at what I mentioned. I went ahead and updated the
the README to include a link to the contributions document. I completely
agree with your testing point, robust unit testing and integration tests
for the project are at the top of our to do list in terms of development.
Thanks again for your help and responsiveness! We're very excited!

Best,
Yiorgos

On Mon, Sep

[2019-10-02 14:17] kthyng commented on #1760
Hi @callumrollo, @daniellivingston, and @banesullivan! I need one more reviewer for this JOSS submission. Are any of you interested in reviewing? We ask for reviews within about 3 weeks and you can get more information about the process and details here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2019-10-02 14:22] cmbiwer commented on #1775
I will be able to take a thorough look after Friday afternoon, if that timeline is alright.

[2019-10-02 14:51] oliviaguest commented on #1666
@kahaaga hi there, what is left to be done to the code and in general from your end? 😊

[2019-10-02 14:51] oliviaguest commented on #1642
@wkearn just a quick reminder to report back if/when you can — thanks. 😄

[2019-10-02 15:07] sravan953 commented on #1725
@mathieuboudreau @grlee77 @spinicist We also have AMRI-Scanner as an Online Service (AMRI-SOS). AMRI-SOS lets you upload a sequence file to Google Drive and request a scan. On our end, we run an AMRI-SOS script that downloads the uploaded *.seq file and runs it on a Siemens Prisma 3T. This way we can prove functionality. Thanks @sairamgeethanath for the idea!

[2019-10-02 15:24] jpaolocasas commented on #1631
@whedon generate pdf

[2019-10-02 15:24] whedon commented on #1631
[code]

[2019-10-02 15:26] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-02 15:49] chennachaos commented on #1732
Hi @mrgprasad. I have started the review for `Kanapy`.
I have a remark related to **State of the field** in the **Software paper** section.

The paper discusses the issues with a couple of techniques used for generating synthetic microstructures, and then presents algorithms used in `Kanapy`, which is good. But, it does not mention anything about the need for Kanapy package. To convince the reader

[2019-10-02 16:11] prabhuramachandran commented on #1501
@kyleniemeyer -- I am sorry if I completely misunderstood the scope of JOSS papers and wasted everyone's time.  While we discussed the software in the previous paper, the review process did not go into  checking the software the way JOSS does or concern itself with archiving it etc. When we saw the nice talks at SciPy on JOSS, we thought we might submit it here to check it out.  At the time,  I re

[2019-10-02 16:16] abhishektha commented on #1713
@arfon, Sure! Would be glad to review!

[2019-10-02 16:32] daniellivingston commented on #1760
Hi @kthyng , I would be more than happy to review this submission.

[2019-10-02 16:40] kyleniemeyer commented on #1501
@prabhuramachandran totally understand—we don't have entirely clear guidelines on this, as it hasn't come up too often. We'll discuss internally and get back to you. Either way, it looks like the software is great and the review process has made it even better :)

[2019-10-02 16:46] mailchand commented on #1631
@whedon generate pdf

[2019-10-02 16:46] whedon commented on #1631
[code]

[2019-10-02 16:46] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-02 16:55] kthyng commented on #1760
@daniellivingston perfect! We can proceed with this review then.

[2019-10-02 16:55] kthyng commented on #1760
@whedon add @daniellivingston as reviewer

[2019-10-02 16:55] whedon commented on #1760
OK, @daniellivingston is now a reviewer

[2019-10-02 16:55] kthyng commented on #1760
@whedon start review

[2019-10-02 16:55] whedon opened #1777 "[REVIEW]: pymccrgb: Color- and curvature-based classification of multispectral point clouds in Python"
**Submitting author:** @rmsare (<a href="http://orcid.org/0000-0003-3711-6771">Robert Sare</a>)
**Repository:** <a href="https://github.com/rmsare/pymccrgb" target ="_blank">https://github.com/rmsare/pymccrgb</a>
**Version:** v0.1.6
**Editor:** @kthyng
**Reviewer:** @martibosch, @daniellivingston
**Archive:** <a href="https://doi.org/10.5281/zenodo.3519582" target="_blank">10.5281/zenodo.3519582</

[2019-10-02 16:56] whedon commented on #1760
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1777. Feel free to close this issue now!

[2019-10-02 16:56] whedon commented on #1777
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @martibosch, @daniellivingston it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're

[2019-10-02 16:56] whedon commented on #1777
[code]

[2019-10-02 16:56] whedon commented on #1777
PDF failed to compile for issue #1777 with the following error:

 Can't find any papers to compile :-(

[2019-10-02 16:56] banesullivan commented on #1760
Hi @kthyng - looks like @daniellivingston beat me here! This library looks really cool and I'd be happy to review if needed (although a bit busy lately). Thanks for thinking of me! I'll definitely be scoping out this package and maybe finding a way to couple [PyVista](https://docs.pyvista.org) with it

[2019-10-02 16:57] kthyng commented on #1760
@martibosch and @daniellivingston head on over to #1777 to do your reviews.

@banesullivan Thanks for being willing to help out! I'll keep you in mind for the next relevant submission.

[2019-10-02 16:57] #1760 closed

[2019-10-02 16:59] mailchand commented on #1631
@whedon generate pdf

[2019-10-02 16:59] whedon commented on #1631
[code]

[2019-10-02 16:59] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-10-02 17:02] StewMH commented on #1487
Done! Thanks everyone

[2019-10-02 17:05] mailchand commented on #1631
Hello @conradsnicta and @cMadan

We have now revised the paper. I think we have caught all the issues that @conradsnicta raised and have resolved them. We apologize if we have missed something because the issue list is mixed in with all the generate pdf commands.

- All links have been checked.
- Citations to OpenCV now cite the websites and the book from Bradski and Kaehler minus the URL.
- Poor

[2019-10-02 17:11] rmsare commented on #1777
@whedon commands

[2019-10-02 17:11] whedon commented on #1777
Here are some things you can ask me to do:

[code]

[2019-10-02 17:12] rmsare commented on #1777
Oops, the repo URL should be https://github.com/rmsare/pymccrgb

[2019-10-02 17:16] arfon commented on #1713
@whedon add @abhishektha as reviewer

[2019-10-02 17:16] whedon commented on #1713
OK, @abhishektha is now a reviewer

[2019-10-02 17:20] arfon commented on #1713
@whedon start review

[2019-10-02 17:20] whedon opened #1778 "[REVIEW]: GaitPy: An Open-Source Python Package for Gait Analysis Using an Accelerometer on the Lower Back"
**Submitting author:** @matt002 (<a href="http://orcid.org/0000-0001-9954-7003">Matthew Czech</a>)
**Repository:** <a href="https://github.com/matt002/GaitPy" target ="_blank">https://github.com/matt002/GaitPy</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @finsberg, @abhishektha
**Archive:** <a href="https://doi.org/10.5281/zenodo.3528115" target="_blank">10.5281/zenodo.3528115</a>

## St

[2019-10-02 17:20] whedon commented on #1713
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1778. Feel free to close this issue now!

[2019-10-02 17:20] whedon commented on #1778
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @finsberg, @abhishektha it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-10-02 17:20] whedon commented on #1778
[code]

[2019-10-02 17:20] whedon commented on #1778
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01778/joss.01778/10.21105.joss.01778.pdf)

[2019-10-02 17:20] arfon commented on #1713
@finsberg, @abhishektha - many thanks for agreeing to review this submission. See you over in #1778 where the actual review will take place.

[2019-10-02 17:20] #1713 closed

[2019-10-02 17:46] mrgprasad commented on #1732
@chennachaos
Thank you for the paper review and pointing out that I have skipped over the actual motivation for developing Kanapy. I will address this and the related questions and push a new version of the paper soon.

[2019-10-02 17:46] prabhuramachandran commented on #1501
@kyleniemeyer sure, thank you!  Yes, the review process is very good indeed and we are very grateful for their time,  attention, and feedback.

[2019-10-02 17:48] toph-allen commented on #1766
@corybrunson I think your suggested change for the first paragraph is definitely clearer, and will push that change up. I'm going to discuss your other comments on the issues in the repo. Thanks!

[2019-10-02 17:53] corybrunson commented on #1766
@toph-allen cool, glad it suits you. I may not respond to updates this workweek but i'll be back to the review this weekend.

[2019-10-02 18:34] knaidoo29 commented on #1721
@whedon generate pdf

[2019-10-02 18:34] whedon commented on #1721
[code]

[2019-10-02 18:35] whedon commented on #1721
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01721/joss.01721/10.21105.joss.01721.pdf)

[2019-10-02 18:56] csoneson commented on #1744
Hi all, just checking in on how the reviews are progressing here - @jlincbio, thanks for your comments above! @VivekTodur - do you think you will have the chance to provide your review in the coming week? Thanks!

[2019-10-02 19:59] kthyng commented on #1777
I just edited the first comment in this issue to update all of the URLs (I think). Let me know if you find one with the old one.

[2019-10-02 20:07] rmsare commented on #1777
@whedon generate pdf

[2019-10-02 20:07] whedon commented on #1777
[code]

[2019-10-02 20:08] whedon commented on #1777
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01777/joss.01777/10.21105.joss.01777.pdf)

[2019-10-02 20:09] rmsare commented on #1777
Thanks, looks great!

cc'ing @gehilley for visibility

[2019-10-02 20:19] whedon opened #1779 "[PRE REVIEW]: Telewavesim: Python software for teleseismic body wave modeling"
**Submitting author:** @paudetseis (<a href="http://orcid.org/0000-0003-2364-9454">Pascal Audet</a>)
**Repository:** <a href="https://github.com/paudetseis/Telewavesim" target ="_blank">https://github.com/paudetseis/Telewavesim</a>
**Version:** v0.1.0
**Editor:** @kbarnhart
**Reviewers:** @andreww, @seisman, @brmather

**Author instructions**

Thanks for submitting your paper to JOSS @paudetseis.

[2019-10-02 20:19] whedon commented on #1779
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-02 20:19] whedon commented on #1779
[code]

[2019-10-02 20:19] whedon commented on #1779
PDF failed to compile for issue #1779 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1779/paper/paper.md): mapping values are not allowed in this context at line 14 column 16 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/v

[2019-10-02 20:26] paudetseis commented on #1779
@whedon generate pdf

[2019-10-02 20:26] whedon commented on #1779
[code]

[2019-10-02 20:27] whedon commented on #1779
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01779/joss.01779/10.21105.joss.01779.pdf)

[2019-10-02 20:28] kyleniemeyer commented on #1779
Hi @leouieda, can you edit this article?

[2019-10-02 20:42] whedon opened #1780 "[PRE REVIEW]: ComplexRegions.jl: A Julia package for regions in the complex plane"
**Submitting author:** @tobydriscoll (<a href="http://orcid.org/0000-0002-1490-2545">Tobin Driscoll</a>)
**Repository:** <a href="https://github.com/complexvariables/ComplexRegions.jl" target ="_blank">https://github.com/complexvariables/ComplexRegions.jl</a>
**Version:** v0.1.0
**Editor:** @drvinceknight
**Reviewers:** @dlfivefifty, @dpsanders

**Author instructions**

Thanks for submitting your

[2019-10-02 20:42] whedon commented on #1780
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-02 20:42] whedon commented on #1780
[code]

[2019-10-02 20:43] whedon commented on #1780
PDF failed to compile for issue #1780 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.242/3357d2f1f823ca2031ac9cc4fc4a70707debb275.svg': check that rsvg2pdf is in path.
  rsvg-convert: createProcess: runInteractiveProcess: exec: does not exist (No such file or directory)
Error producing PDF.
! LaTeX Error: Cannot determine size of graphic in /tmp/tex2pdf.242/3357d2f1f82

[2019-10-02 20:43] kyleniemeyer commented on #1780
Hi @drvinceknight, how do you feel about taking on another submission as editor?

[2019-10-02 20:44] kyleniemeyer commented on #1780
@arfon can papers use SVG images, or does this need to be converted to (e.g.) PDF?

[2019-10-02 20:50] arfon commented on #1780
Unfortunately we don't currently support SVG. We can support PNG, PDF, JPEG, etc.

[2019-10-02 21:20] rmsare commented on #1777
I wanted to note that one reference ([Pedregosa, et al., 2011, JMLR](http://www.jmlr.org/papers/volume12/pedregosa11a/pedregosa11a.pdf)) does not have a DOI.

It appears that the journal did not assign it a DOI as it's not in CrossRef. The arxiv version of this paper has the same issue.

[2019-10-02 21:31] garrettj403 commented on #1554
Hi @telegraphic

The recent changes look good. It's much easier to understand the functionality with the new changes to the paper and the workflow example.

I still have a few remaining comments that I would like to be addressed:
- I can't see an archive for Blimpy (i.e., through a 3rd party archiving service such as Zenodo)
- The version is 1.3.5 on GitHub, but 1.4.0 on PyPI
- The package API is

[2019-10-02 22:36] kbarnhart commented on #1776
@tristan-salles thanks for your review. Based on it I made four Issues in the repo and will address them. Doing fieldwork tomorrow, so will be later this week/early next week.

[2019-10-02 23:50] HaoZeke commented on #1701
@gbertoldo, sorry I should have clarified the process at the onset. JOSS is an inclusive journal, and as the review progresses, I shall be opening issues to shepard the software towards being in accordance to our guidelines. Once the issues have all been addressed, @meg-simula will give her comments and move forward with the publication. Thanks for getting started on the issues.

[2019-10-03 02:57] kyleniemeyer commented on #1780
@tobydriscoll could you replace the SVG image included in your article with a different format?

[2019-10-03 04:59] jlincbio commented on #1744
@csoneson thanks for checking in. Please let me know when I need to follow up. I have a few things on the agenda for the next two weeks but quick checks are not a problem.

[2019-10-03 07:02] ramiyaari commented on #1772
@danielskatz: There is a README.txt and a LICENSE.txt file under inst/joss in the repo, together with paper.md

[2019-10-03 07:42] Kevin-Mattheus-Moerman commented on #1691
@whedon assign @isaacvandor as reviewer

[2019-10-03 07:42] whedon commented on #1691
OK, the reviewer is @isaacvandor

[2019-10-03 07:42] Kevin-Mattheus-Moerman commented on #1691
@isaacvandor thanks. I've assigned you as reviewer. I'm hoping to recruit at least one more but hopefully 3 in total.

[2019-10-03 07:45] Kevin-Mattheus-Moerman commented on #1691
@theoniphotopoulou @mattdawkins @meredithmjackson @readicculus @jgraving @alexander-hamme would you be interested in reviewing [this software](https://github.com/wingtorres/morphometrix) package (a python GUI for marine animal size analysis from aerial image data), for the Journal of Open Source Software (JOSS)? The streamlined [review process](https://joss.readthedocs.io/en/latest/reviewer_guidel

[2019-10-03 07:49] Amudtogal commented on #1326
We are running through the last stages, I will keep you updated!
There will be a change from LGPL to BSD, but I guess that is no problem...

[2019-10-03 09:07] theoniphotopoulou commented on #1691
Hi there,
I'm afraid I am completely swamped at the moment. Sorry I can't help!
Best,
Theoni

On Thu, 3 Oct 2019 at 08:45, Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Theoni Photopoulou, Newton International Fellow
Scottish Oceans Institute, School of Biology
University of St Andrews

SOI on Monday, Tuesday and Friday - CREEM on Wednesday and Thursday

[2019-10-03 09:39] ezsolti commented on #1650
@whedon generate pdf

[2019-10-03 09:39] whedon commented on #1650
[code]

[2019-10-03 09:40] whedon commented on #1650
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01650/joss.01650/10.21105.joss.01650.pdf)

[2019-10-03 09:47] ezsolti commented on #1650
Hello @katyhuff , after reading through couple of more JOSS articles, I saw that some authors directly include a Statement of Need sections, so I tried to go with that. I also dropped the jargon. Please let me know what do you think of the text now?

[2019-10-03 11:58] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-03 11:59] whedon commented on #1701
[code]

[2019-10-03 11:59] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-10-03 12:04] bwoshea commented on #1636
@whedon generate pdf

[2019-10-03 12:04] whedon commented on #1636
[code]

[2019-10-03 12:06] whedon commented on #1636
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01636/joss.01636/10.21105.joss.01636.pdf)

[2019-10-03 12:08] drvinceknight commented on #1780
Yup no problem.

[2019-10-03 12:08] drvinceknight commented on #1780
@whedon assign @drvinceknight as editor

[2019-10-03 12:08] whedon commented on #1780
OK, the editor is @drvinceknight

[2019-10-03 12:09] drvinceknight commented on #1780
@tobydriscoll I'll aim to get to this next week but in the meantime if you had any suggestions for reviewers please let me know.

[2019-10-03 12:09] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-03 12:09] whedon commented on #1701
[code]

[2019-10-03 12:10] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-10-03 12:20] bwoshea commented on #1636
@danielskatz We've proofread the paper and pushed a small change.  The revised PDF looks good to me.  I think we're good to go!

[2019-10-03 13:11] danielskatz commented on #1636
@whedon accept

[2019-10-03 13:11] whedon commented on #1636
[code]

[2019-10-03 13:11] whedon commented on #1636
[code]

[2019-10-03 13:12] whedon commented on #1636
PDF failed to compile for issue #1636 with the following error:

 sh: 158: Syntax error: newline unexpected
Looks like we failed to compile the Crossref XML

[2019-10-03 13:14] danielskatz commented on #1636
@whedon accept

[2019-10-03 13:14] whedon commented on #1636
[code]

[2019-10-03 13:15] whedon commented on #1636
[code]

[2019-10-03 13:15] whedon commented on #1636
PDF failed to compile for issue #1636 with the following error:

 sh: 158: Syntax error: newline unexpected
Looks like we failed to compile the Crossref XML

[2019-10-03 13:15] danielskatz commented on #1636
👋 @arfon - can you debug this?

[2019-10-03 13:16] danielskatz commented on #1636
Actually, if you want to take over given that you have to generate the PDF manually for the spacing issue, please go ahead - this is fully ready to publish

[2019-10-03 13:21] lpantano commented on #1731
Thank you @acolum! 👋 @pholme let me know if you need something else to complete the review.

[2019-10-03 13:23] lpantano commented on #1584
@mikkonie, I am going to pause this for now. Let me know when you have time to continue.

[2019-10-03 13:59] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-03 13:59] whedon commented on #1701
[code]

[2019-10-03 13:59] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-10-03 14:17] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-03 14:17] whedon commented on #1701
[code]

[2019-10-03 14:17] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-10-03 14:17] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-03 14:17] whedon commented on #1701
[code]

[2019-10-03 14:18] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-10-03 14:21] xuanxu commented on #1554
About the Zenodo archive: There is no need to archive the code before the review is finished. That way the archive created will include all changes made during the review process.

[2019-10-03 14:27] arfon commented on #1636
@zingale, @rtfisher - many thanks for your reviews here and to @danielskatz for editing this submission ✨

@bwoshea - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-10-03 14:27] #1636 closed

[2019-10-03 14:27] whedon commented on #1636
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01636/status.svg)](https://doi.org/10.21105/joss.01636)

**We need your help!**

Journal of Open Source Softwa

[2019-10-03 14:34] danielskatz commented on #1636
@arfon - can you generate a tweet for this?

[2019-10-03 14:34] tobydriscoll commented on #1780
I've pushed a change of the figure to PDF.

Possible reviewers are dlfivefifty, ajt60gaibb, daanhb. nakatsukasayuji.

[2019-10-03 14:37] sjvrijn commented on #1756
I have some remarks and questions:

Community Guidelines:
- CONTRIBUTING.md mentions 'graph coloring code' instead of gamultiknapsack
- How should interested third parties seek support?

Paper
- Summary:
  - [line 2-3] "It is a strongly NP-hard problem, and [it] might be difficult to solve [it] using ..." the "it"s in square brackets can be removed.
- Mathematics:
  - [line 8] expect a colon ':' b

[2019-10-03 14:40] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-03 14:40] whedon commented on #1701
[code]

[2019-10-03 14:40] whedon commented on #1701
PDF failed to compile for issue #1701 with the following error:

 Error producing PDF.
! Undefined control sequence.
l.654   \(f(\boldsymbol{x})=-\sum_{i=1}^{D} \lt

Looks like we failed to compile the PDF

[2019-10-03 14:41] russellpierce commented on #1662
@cMadan Spinning up, hoping to do work on this today - which will be made manifest by me actually doing it.  Apologies to you and to Paul for the delay.

[2019-10-03 14:41] arfon commented on #1636
Sure thing: https://twitter.com/JOSS_TheOJ/status/1179768071877214208?s=20

[2019-10-03 15:06] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-03 15:06] whedon commented on #1701
[code]

[2019-10-03 15:06] whedon commented on #1701
PDF failed to compile for issue #1701 with the following error:

 Error producing PDF.
! Undefined control sequence.
l.731 \(P_m\le P_{\text{tol}}=\num

Looks like we failed to compile the PDF

[2019-10-03 15:28] kyleniemeyer commented on #1780
@whedon generate pdf

[2019-10-03 15:28] whedon commented on #1780
[code]

[2019-10-03 15:28] whedon commented on #1780
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01780/joss.01780/10.21105.joss.01780.pdf)

[2019-10-03 15:56] kellykochanski commented on #1699
@zbeekman I believe these issues have now been addressed; issues 35 and 37 are closed, and it would be great if you could confirm our work on [41](https://github.com/kellykochanski/rescal-snow/issues/41).

I'm curious to see your results for the performance test.

[2019-10-03 15:57] shah314 commented on #1756
@whedon generate pdf

[2019-10-03 15:57] whedon commented on #1756
[code]

[2019-10-03 15:58] whedon commented on #1756
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01756/joss.01756/10.21105.joss.01756.pdf)

[2019-10-03 16:02] shah314 commented on #1756
@sjvrijn Thank you for the comments. I think I have made the changes you suggested.

About the (Shah, 2019) reference, the algorithm is similar (not the same). The cited paper solves the 0/1 knapsack problem while this paper solves the multidimensional knapsack problem. So, though similar, the two applications are entirely different. I changed the text in the paper.

About domain knowledge, what I

[2019-10-03 16:05] VivekTodur commented on #1744
Yes, I am almost done with the review. I can revert back by this Sunday...

Thanks

On Thu, 3 Oct 2019, 12:27 am Charlotte Soneson, <notifications@github.com>
wrote:

[2019-10-03 16:22] shah314 commented on #1756
@whedon generate pdf

[2019-10-03 16:22] whedon commented on #1756
[code]

[2019-10-03 16:22] whedon commented on #1756
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01756/joss.01756/10.21105.joss.01756.pdf)

[2019-10-03 17:01] JonasMoss commented on #1566
@kyleniemeyer OK! We added two sentences to the beginning of the paper now.

[2019-10-03 17:14] kyleniemeyer commented on #1566
@whedon generate pdf

[2019-10-03 17:14] whedon commented on #1566
[code]

[2019-10-03 17:15] whedon commented on #1566
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01566/joss.01566/10.21105.joss.01566.pdf)

[2019-10-03 17:18] kyleniemeyer commented on #1566
@JonasMoss thanks! just one minor correction: I think you are missing "R" at near the beginning of the second sentence: "This (R Core Team, 2019) package..." -> "This R (R Core Team, 2019) package..."

[2019-10-03 17:31] JonasMoss commented on #1566
@kyleniemeyer Thanks. Fixed.

[2019-10-03 17:42] Shibabrat commented on #1684
We have updated the methods by separating the problem-specific functions. The demonstration script which loads the method as module is the starting point for a user to modify according to their problem of interest.

[2019-10-03 18:05] kyleniemeyer commented on #1566
@whedon generate pdf

[2019-10-03 18:05] whedon commented on #1566
[code]

[2019-10-03 18:06] whedon commented on #1566
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01566/joss.01566/10.21105.joss.01566.pdf)

[2019-10-03 18:06] kyleniemeyer commented on #1566
@whedon accept

[2019-10-03 18:06] whedon commented on #1566
[code]

[2019-10-03 18:07] whedon commented on #1566
[code]

[2019-10-03 18:07] whedon commented on #1566
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1004

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1004, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-03 18:09] kyleniemeyer commented on #1566
@whedon accept deposit=true

[2019-10-03 18:09] whedon commented on #1566
[code]

[2019-10-03 18:10] whedon commented on #1566
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1179821104917028864) 👈 🐦🐦🐦

[2019-10-03 18:10] whedon commented on #1566
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1005
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01566](https://doi.org/10.21105/joss.01566)
2. If everything looks g

[2019-10-03 18:13] kyleniemeyer commented on #1566
Congrats @JonasMoss on your article's publication in JOSS!

Many thanks to @gvegayon & @TrashBirdEcology for reviewing, and @terrytangyuan for editing, this submission.

[2019-10-03 18:13] #1566 closed

[2019-10-03 18:13] whedon commented on #1566
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01566/status.svg)](https://doi.org/10.21105/joss.01566)

**We need your help!**

Journal of Open Source Softwa

[2019-10-03 18:58] tobydriscoll commented on #1780
Checked the proof and fixed typos in the references.

[2019-10-03 19:20] kyleniemeyer commented on #1780
@whedon generate pdf

[2019-10-03 19:21] whedon commented on #1780
[code]

[2019-10-03 19:21] whedon commented on #1780
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01780/joss.01780/10.21105.joss.01780.pdf)

[2019-10-03 23:39] HaoZeke commented on #1749
Hi. I would be willing to review this submission. @BIPL-HORIE and @arokem

[2019-10-03 23:57] kyleniemeyer commented on #1501
Hi @prabhuramachandran, the Associate Editors in Chief discussed this issue, and unfortunately we decided that we cannot publish this article, because we consider the prior article a software paper analogous to—albeit longer than—the JOSS article (even if the review process did not focus on the software like ours).

We do completely support JOSS authors in submitting research articles that use the

[2019-10-03 23:57] #1501 closed

[2019-10-03 23:57] whedon commented on #1501
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01501/status.svg)](https://doi.org/10.21105/joss.01501)

**We need your help!**

Journal of Open Source Softwa

[2019-10-04 01:59] telegraphic commented on #1554
Hi @garrettj403 and @xuanxu, I've got a draft in Zenodo ready -- it looks like I can fill in the Journal ID as metadata, so I'll fill this in once the review is finished?

We've fixed the Travis-CI problem, added CONTRIBUTIONS.md, and I went through and improved docstrings. I've bumped to v 1.4.1 also, which we will push to PyPi (relevant collaborator is currently on vacation, so might take a few

[2019-10-04 03:11] JoshKarpel commented on #1684
I poked around in the latest version, and I definitely like where this is heading! Now that I think we're on the right architectural path for a reusable package, I'll start making issues in the repository again to address specific issues.

[2019-10-04 07:23] hsezhiyan commented on #1524
Hi Kyle,

Thanks for you update! I apologize for the delayed response.

I've addressed your comments in [PR#32](https://github.com/for-ai/rl/pull/32)

I've fixed all issues except the Silver 2014 reference. I checked other papers on arxiv, and they cite they cite it the exact same way. Let me know if you have other concerns.

[2019-10-04 08:57] mozhgan-kch commented on #1611
@whedon generate pdf

[2019-10-04 08:57] whedon commented on #1611
[code]

[2019-10-04 08:57] whedon commented on #1611
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01611/joss.01611/10.21105.joss.01611.pdf)

[2019-10-04 09:01] mozhgan-kch commented on #1611
@kavir1698 Thanks for fixing this. One more comment:

- [ ] Please check the article proof (see above) and fix the citation in paragraph 2.

[2019-10-04 09:02] conradsnicta commented on #1631
@cMadan - As I don't have the necessary hardware (specific camera), I am unable to tick the "Functionality" and "Performance" boxes within the review. Other than that it looks mostly okay.

There is a limitation/problem which must be pointed out. In README.md, it's stated that the software specs include "Ubuntu 16.04". On an Ubuntu 18.04 system, after manually installing qt5 development packages (

[2019-10-04 09:05] kavir1698 commented on #1611
Thank you, @mozhgan-kch. It should be fixed now.

[2019-10-04 10:03] mozhgan-kch commented on #1611
@whedon generate pdf

[2019-10-04 10:03] whedon commented on #1611
[code]

[2019-10-04 10:03] whedon commented on #1611
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01611/joss.01611/10.21105.joss.01611.pdf)

[2019-10-04 10:05] mozhgan-kch commented on #1611
Great! Thanks @kavir1698.
@jedbrown, I am happy with the changes.

[2019-10-04 10:47] tonigi commented on #1773
@whedon check references

[2019-10-04 10:47] whedon commented on #1773
[code]

[2019-10-04 10:47] whedon commented on #1773
[code]

[2019-10-04 13:46] garrettj403 commented on #1554
Hi @telegraphic, the changes to the docstrings look good. For some reason [``blimpy.waterfall.Waterfall``](https://blimpy.readthedocs.io/en/latest/blimpy.html#blimpy.waterfall.Waterfall) doesn't display all of the arguments correctly online, but it does display them correctly using ``pydoc``.

@xuanxu, I'm ready to recommend publication. The documentation is very nice and it includes an [example w

[2019-10-04 13:48] xuanxu commented on #1554
@garrettj403 Thanks!

[2019-10-04 15:07] danielskatz commented on #1487
👋 @tesch1 - to finish up now, I need you to

1. deposit the repository in an archive (e.g. zenodo) and report the DOI here
1. tell me the latest version number here
1. confirm that the paper text and references are final

[2019-10-04 15:09] danielskatz commented on #1772
These need to be at the top level of the repo

[2019-10-04 15:43] whedon commented on #1524
[code]

[2019-10-04 15:56] kyleniemeyer commented on #1524
Hi @hsezhiyan, thanks for making those edits. I just submitted a PR that fixes two final things in the references: https://github.com/for-ai/rl/pull/33

- the Sutton 2000 reference was still missing some information; it looks like you added the BiBTeX citation I gave above, but your paper was referencing the original (incorrect) entry.
- For the Silver 2014 reference, it looks like the other paper

[2019-10-04 16:01] whedon opened #1781 "[PRE REVIEW]: perccalc: An R package for estimating percentiles from categorical variables"
**Submitting author:** @cimentadaj (<a href="http://orcid.org/0000-0001-5594-1156">Jorge Cimentada</a>)
**Repository:** <a href="https://github.com/cimentadaj/perccalc/" target ="_blank">https://github.com/cimentadaj/perccalc/</a>
**Version:** v1.0.4
**Editor:** @majensen
**Reviewers:** @briatte, @amoeba

**Author instructions**

Thanks for submitting your paper to JOSS @cimentadaj. **Currently, t

[2019-10-04 16:01] whedon commented on #1781
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-04 16:01] whedon commented on #1781
[code]

[2019-10-04 16:01] whedon commented on #1781
PDF failed to compile for issue #1781 with the following error:

 Can't find any papers to compile :-(

[2019-10-04 16:03] kyleniemeyer commented on #1781
Hi @cimentadaj, thanks for your submission. Before we get started, can you please rename the article source file to `paper.md`? Our automated build system requires the article to be called that, though it can be located anywhere in the repo.

[2019-10-04 16:04] kyleniemeyer commented on #1781
@karthik can you edit this R submission?

[2019-10-04 16:06] whedon opened #1782 "[PRE REVIEW]: OwlDE: making ODEs first-class `Owl` citizens"
**Submitting author:** @mseri (<a href="http://orcid.org/0000-0002-8563-5894">Marcello Seri</a>)
**Repository:** <a href="https://github.com/owlbarn/owl_ode/" target ="_blank">https://github.com/owlbarn/owl_ode/</a>
**Version:** v0.2.0
**Editor:** @mjsottile
**Reviewers:** @xoolive, @rljacobson, @dagit

**Author instructions**

Thanks for submitting your paper to JOSS @mseri. **Currently, there is

[2019-10-04 16:06] whedon commented on #1782
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-04 16:06] whedon commented on #1782
[code]

[2019-10-04 16:07] whedon commented on #1782
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01782/joss.01782/10.21105.joss.01782.pdf)

[2019-10-04 16:08] kyleniemeyer commented on #1782
Hi @mjsottile, how do you feel about taking on this submission as your first editorial assignment?

[2019-10-04 16:08] whedon opened #1783 "[PRE REVIEW]: pylustrator: code generation for reproducible figures for publication"
**Submitting author:** @rgerum (<a href="http://orcid.org/0000-0001-5893-2650">Richard Gerum</a>)
**Repository:** <a href="https://github.com/rgerum/pylustrator" target ="_blank">https://github.com/rgerum/pylustrator</a>
**Version:** v0.12.0
**Editor:** @labarba
**Reviewers:** @story645, @tacaswell

**Author instructions**

Thanks for submitting your paper to JOSS @rgerum. **Currently, there isn't

[2019-10-04 16:08] whedon commented on #1783
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-04 16:08] whedon commented on #1783
[code]

[2019-10-04 16:09] whedon commented on #1783
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01783/joss.01783/10.21105.joss.01783.pdf)

[2019-10-04 16:11] kyleniemeyer commented on #1783
@labarba can you edit this submission focused on reproducibility?

[2019-10-04 16:12] whedon opened #1784 "[PRE REVIEW]: pyHoops: A Python package for advanced basketball data analytics"
**Submitting author:** @alessandroBombelli (<a href="http://orcid.org/0000-0001-7889-9552">Alessandro Bombelli</a>)
**Repository:** <a href="https://github.com/alessandroBombelli/pyHoops" target ="_blank">https://github.com/alessandroBombelli/pyHoops</a>
**Version:** v1.5
**Editor:** @danielskatz
**Reviewers:** @mado89, @ctsilva

**Author instructions**

Thanks for submitting your paper to JOSS @a

[2019-10-04 16:12] whedon commented on #1784
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-04 16:12] whedon commented on #1784
[code]

[2019-10-04 16:12] whedon commented on #1784
Failed to discover a valid open source license.

[2019-10-04 16:12] whedon commented on #1784
PDF failed to compile for issue #1784 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedon.rb:135:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-ef

[2019-10-04 16:14] kyleniemeyer commented on #1784
Hello @alessandroBombelli, thanks for your interest in JOSS. Before we proceed, during my review of your submission, I could not find the research application of your software. While useful for folks in basketball, I don't quite see where someone would cite this in the academic literature (not an explicit requirement, but one way we think about whether software has a research use).

Can you clarif

[2019-10-04 16:20] danielskatz commented on #1487
some suggestions on the paper:
"having unit dual part." <- "having a unit dual part."
"Template specializations which map the dual" <- "Template specializations that map the dual"
"A dual number had a real part" <- "A dual number has a real part"
"a specific cpu architecture" <- "a specific CPU architecture"

[2019-10-04 16:26] danielskatz commented on #1784
https://github.com/alessandroBombelli/pyHoops/pull/46 should fix the immediate paper building process

[2019-10-04 16:57] alessandroBombelli commented on #1784
Dear @kyleniemeyer, apologies if the research application is not clear. I agree that, at a first glance, the obvious research application might not be as straight-forward as in other cases. On the other hand, a strong interest in data analytics applied to sports has been growing in recent years, as testified by ad-hoc conferences (MIT Sloan Sports Analytics Conference) and journals (Journal of Spo

[2019-10-04 17:06] danielskatz commented on #1784
I can take

[2019-10-04 17:14] mrgprasad commented on #1732
@whedon generate pdf

[2019-10-04 17:14] whedon commented on #1732
[code]

[2019-10-04 17:14] whedon commented on #1732
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01732/joss.01732/10.21105.joss.01732.pdf)

[2019-10-04 17:19] mrgprasad commented on #1732
@Kevin-Mattheus-Moerman, @KedoKudo, @chennachaos and @heprom
I have pushed an update to the Kanapy repo based on KedoKudo's  review.

[2019-10-04 17:22] alessandroBombelli commented on #1784
Dear @danielskatz, sorry for the issue. but it is my first time here and, as such, I am not familiar with the formatting. I followed the example provided in the guidelines but thought that, being a single author, the distinction between affiliation and affiliations was not necessary. I fixed the issue now. Please let me know otherwise.
Thank you very much

[2019-10-04 17:27] mrgprasad commented on #1732
@KedoKudo
I have updated the software paper based on your comments. Do let me know if you have any further suggestions. Also, I have removed the acknowledgement section.

@chennachaos
With this update I have also tried to address our queries. I hope the motivation for Kanapy's development, its design and unique features and how it addresses the limitations of other software libraries is clear now.

[2019-10-04 17:49] kyleniemeyer commented on #1784
@danielskatz thanks for volunteering—did you mean to close the issue?

[2019-10-04 17:50] kyleniemeyer commented on #1784
@alessandroBombelli ok, so I think it would help to revise your article to better describe the research applications of the software, so this is clear to reviewers (and readers), focusing specifically on the types of research questions/problems this helps answer.

What you are describing to me sounds more like what a basketball team might use, but not an academic researcher writing a publication (

[2019-10-04 18:01] hsezhiyan commented on #1524
@kyleniemeyer thanks for the review and the pull request! I have merged your PR.

Are we good to go?

[2019-10-04 18:03] kyleniemeyer commented on #1524
@whedon generate pdf

[2019-10-04 18:03] whedon commented on #1524
[code]

[2019-10-04 18:03] whedon commented on #1524
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01524/joss.01524/10.21105.joss.01524.pdf)

[2019-10-04 18:03] kyleniemeyer commented on #1524
@whedon set 10.5281/zenodo.3408453 as archive

[2019-10-04 18:04] whedon commented on #1524
OK. <a href="https://doi.org/10.5281/zenodo.3408453" target="_blank">10.5281/zenodo.3408453</a> is the archive.

[2019-10-04 18:04] kyleniemeyer commented on #1524
@whedon accept

[2019-10-04 18:04] whedon commented on #1524
[code]

[2019-10-04 18:04] whedon commented on #1524
[code]

[2019-10-04 18:05] whedon commented on #1524
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1006

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1006, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-04 18:06] kyleniemeyer commented on #1524
@whedon accept deposit=true

[2019-10-04 18:06] whedon commented on #1524
[code]

[2019-10-04 18:07] whedon commented on #1524
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1180182634611331072) 👈 🐦🐦🐦

[2019-10-04 18:07] whedon commented on #1524
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1007
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01524](https://doi.org/10.21105/joss.01524)
2. If everything looks g

[2019-10-04 18:15] kyleniemeyer commented on #1524
Congrats @hsezhiyan on your article's publication in JOSS!

Many thanks to @desilinguist & @paragkulkarni11 for reviewing, and @mbobra for editing, this submission.

[2019-10-04 18:15] #1524 closed

[2019-10-04 18:15] whedon commented on #1524
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01524/status.svg)](https://doi.org/10.21105/joss.01524)

**We need your help!**

Journal of Open Source Softwa

[2019-10-04 18:37] arokem commented on #1749
Thanks!

[2019-10-04 18:38] arokem commented on #1749
@whedon assign @HaoZeke as reviewer

[2019-10-04 18:38] whedon commented on #1749
OK, the reviewer is @HaoZeke

[2019-10-04 18:38] arokem commented on #1749
@BIPL-HORIE : any thoughts on a second potential reviewer?

[2019-10-04 18:38] arokem commented on #1749
@HaoZeke : once I have two reviewers lined up for this, I will start the review process for this paper.

[2019-10-04 18:58] lheagy commented on #1663
Many thanks @nhejazi for your speedy review!

@elyiorgos: if you are able to include a test suite, that would be preferable for publication. Although having examples run does act as a test, that really is the bare minimum.

[2019-10-04 19:01] lheagy commented on #1663
:wave: Just checking in @eskofier. How are things going? In order to check-off the boxes for the review, you will need to have accepted the JOSS invitation: https://github.com/openjournals/joss-reviews/invitations. Please let me know if you have any questions. Thanks for your work on this!

[2019-10-04 19:04] gavinmdouglas commented on #1635
All of my points have been addressed in https://github.com/marekborowiec/spruceup/issues/5 and I have nothing else to add.

[2019-10-04 19:08] danielskatz commented on #1784
@whedon generate pdf

[2019-10-04 19:08] whedon commented on #1784
[code]

[2019-10-04 19:09] whedon commented on #1784
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01784/joss.01784/10.21105.joss.01784.pdf)

[2019-10-04 19:26] danielskatz commented on #1784
I've suggested more changes in https://github.com/alessandroBombelli/pyHoops/pull/48 - after merging this, you can enter ```@whedon generate pdf``` as a new comment here to regenerate the paper.

[2019-10-04 19:29] kyleniemeyer commented on #1784
@whedon assign @danielskatz as editor

[2019-10-04 19:29] whedon commented on #1784
OK, the editor is @danielskatz

[2019-10-04 19:36] mjsottile commented on #1782
I could do it - it sounded like it was possible to get a "buddy" to help me through the first one to make sure the process goes smoothly.  Is that possible?

[2019-10-04 19:57] kyleniemeyer commented on #1782
@mjsottile yes, absolutely—feel free to email any of the AEiCs for questions about the process, if @arfon didn't mention a specific person.

[2019-10-04 19:58] kyleniemeyer commented on #1782
@whedon assign @mjsottile as editor

[2019-10-04 19:58] whedon commented on #1782
OK, the editor is @mjsottile

[2019-10-04 21:12] mseri commented on #1782
@whedon generate pdf

[2019-10-04 21:12] whedon commented on #1782
[code]

[2019-10-04 21:12] whedon commented on #1782
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01782/joss.01782/10.21105.joss.01782.pdf)

[2019-10-04 21:44] russellpierce commented on #1662
Pending the completion of https://github.com/paul-buerkner/thurstonianIRT/issues/9 and https://github.com/paul-buerkner/thurstonianIRT/issues/4  I too am now quite satisfied with everything. My review is now complete and I endorse publication!

[2019-10-04 22:12] sixpearls commented on #1745
Hi @amritagos, @sarats, how are the reviews going? Thanks for opening the issue about the license, @amritagos, will wait to bulk process the changes.

CC'ing my co-author, @ixjlyons

[2019-10-05 00:01] hsezhiyan commented on #1524
Thank you very much @kyleniemeyer for your close collaboration at the last steps!

Thank you @mbobra for your guidance! And thanks @desilinguist and @paragkulkarni11 for your reviews!

[2019-10-05 04:58] rouson commented on #1555
@labarba @Kevin-Mattheus-Moerman I'm attempting to complete my review but finding that I'm unable to check any of the checkboxes on my checklist.  Is this this submission still under review?

[2019-10-05 06:23] paul-buerkner commented on #1662
Thank you @russellpierce for your very thorough and helpful review! I have incorporated all the requested changes and think the software and related paper are now ready.

[2019-10-05 06:43] HaoZeke commented on #1749
Sure, thanks @arokem.

[2019-10-05 07:10] ramiyaari commented on #1772
OK, fixed it

[2019-10-05 10:24] dirmeier commented on #1749
I can't follow. With @HaoZeke and me there are two reviewers?

[2019-10-05 10:24] csoneson commented on #1740
@ellessenne, @seabbs - thanks a lot for your comments!
@brittanyblouin - please go through the comments above and the issues that have been opened in your repository - don't hesitate to ping me and/or continue the discussion in the respective issue if you have any questions, and please report back here when you are ready for the reviewers to take another look!

[2019-10-05 11:40] labarba commented on #1555
You mean, while logged in to GitHub, you click on the box, and nothing happens? It could be a permissions issue. Though you should have been automatically added to the right team when added as a reviewer. @arfon : could you check this?

[2019-10-05 12:07] iimog commented on #1635
Same applies to me. All my points have been addressed to my satisfaction. Nothing to add.

[2019-10-05 12:35] arokem commented on #1749
Whoops. I lost track of my papers. We are on. Let me start the review for this!

[2019-10-05 12:35] arokem commented on #1749
@whedon add @dirmeier as reviewer

[2019-10-05 12:35] whedon commented on #1749
OK, @dirmeier is now a reviewer

[2019-10-05 12:36] arokem commented on #1749
@whedon start review

[2019-10-05 12:36] whedon opened #1785 "[REVIEW]: LIBSDNN: A Selective Desensitization Neural Network Library"
**Submitting author:** @BIPL-HORIE (<a href="http://orcid.org/0000-0001-7320-5478">和正 堀江</a>)
**Repository:** <a href="https://github.com/BIPL-HORIE/LIBSDNN" target ="_blank">https://github.com/BIPL-HORIE/LIBSDNN</a>
**Version:** v1.0
**Editor:** @arokem
**Reviewer:** @HaoZeke, @dirmeier
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/6e2e2cbec72da96f91f2996aa1dfe5c0/stat

[2019-10-05 12:36] whedon commented on #1749
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1785. Feel free to close this issue now!

[2019-10-05 12:36] whedon commented on #1785
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @HaoZeke, @dirmeier it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-10-05 12:36] whedon commented on #1785
[code]

[2019-10-05 12:36] whedon commented on #1785
PDF failed to compile for issue #1785 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedon.rb:143:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Atsuo Suemitsu (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedon.rb:141:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whed

[2019-10-05 12:36] arokem commented on #1749
I am closing this issue now.

@HaoZeke  and @dirmeier : please head over to #1785 for the review.

[2019-10-05 13:06] arfon commented on #1555
@rouson - you need to accept this invite: https://github.com/openjournals/joss-reviews/invitations

[2019-10-05 13:14] csoneson commented on #1635
@whedon generate pdf

[2019-10-05 13:15] whedon commented on #1635
[code]

[2019-10-05 13:15] whedon commented on #1635
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01635/joss.01635/10.21105.joss.01635.pdf)

[2019-10-05 13:16] csoneson commented on #1635
@whedon check references

[2019-10-05 13:16] whedon commented on #1635
[code]

[2019-10-05 13:16] whedon commented on #1635
[code]

[2019-10-05 13:42] labarba commented on #1783
@whedon assign @labarba as editor

[2019-10-05 13:42] whedon commented on #1783
OK, the editor is @labarba

[2019-10-05 13:55] csoneson commented on #1635
@iimog, @gavinmdouglas - thanks a lot for your thorough reviews!

@marekborowiec - I have sent a PR with a couple of small fixes to a few bib items. I'll get back to you shortly to finalize the acceptance.

[2019-10-05 17:00] jedbrown commented on #1733
I don't understand what environment you're on that can't commit mode changes, but it's fully supported by Git; here's an example PR:
https://github.com/shah314/graphcoloring/pull/2
Edit: I see you merged this, but the docs talking about using `chmod` should also be updated.

I also demonstrated more idiomatic markdown formatting [here](https://github.com/jedbrown/graphcoloring/blob/jed/markdown/pa

[2019-10-05 17:02] rouson commented on #1555
@arfon - that did it. Thanks!

[2019-10-05 17:26] mikldk commented on #1763
@drvinceknight I see that I wrote version 1.0.0, but it actually should be version 1.1.0. Is that something that you can change? Sorry about this.

[2019-10-05 17:49] whedon opened #1786 "[PRE REVIEW]: PyUoI: The Union of Intersections Framework in Python"
**Submitting author:** @pssachdeva (<a href="http://orcid.org/0000-0002-6809-2437">Pratik Sachdeva</a>)
**Repository:** <a href="https://github.com/BouchardLab/pyuoi" target ="_blank">https://github.com/BouchardLab/pyuoi</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @pssachdeva. **Currently, there isn't an JOSS e

[2019-10-05 17:49] whedon commented on #1786
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-05 17:49] whedon commented on #1786
[code]

[2019-10-05 17:49] whedon commented on #1786
PDF failed to compile for issue #1786 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedon.rb:135:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e616

[2019-10-05 18:13] whedon opened #1787 "[PRE REVIEW]: Geometric nested sampling: sampling from distributions defined on non-trivial geometries"
**Submitting author:** @SuperKam91 (<a href="http://orcid.org/0000-0002-2089-3964">Kamran Javid</a>)
**Repository:** <a href="https://github.com/SuperKam91/gns" target ="_blank">https://github.com/SuperKam91/gns</a>
**Version:** v1.01
**Editor:** @mbobra
**Reviewers:** @ziotom78, @zhampel

**Author instructions**

Thanks for submitting your paper to JOSS @SuperKam91. **Currently, there isn't an JO

[2019-10-05 18:13] whedon commented on #1787
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-05 18:13] whedon commented on #1787
[code]

[2019-10-05 18:13] whedon commented on #1787
PDF failed to compile for issue #1787 with the following error:

 Can't find any papers to compile :-(

[2019-10-05 18:19] kyleniemeyer commented on #1787
Hi @SuperKam91, thanks for your interest in JOSS. Before we start our process, I noticed that while your repository contains a number of Python files, it is not structured like a formal, installable Python package.

Can you work on structuring it in this way, for example following guidelines like https://docs.python-guide.org/writing/structure/ ?

Regarding the paper, I think you need to fix the h

[2019-10-05 18:24] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-05 18:24] whedon commented on #1701
[code]

[2019-10-05 18:25] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-10-05 18:30] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-05 18:30] whedon commented on #1701
[code]

[2019-10-05 18:30] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-10-05 18:35] whedon opened #1788 "[PRE REVIEW]: modelStudio: Interactive Studio with Explanations for ML Predictive Models"
**Submitting author:** @hbaniecki (<a href="http://orcid.org/0000-0001-6661-5364">Hubert Baniecki</a>)
**Repository:** <a href="https://github.com/ModelOriented/modelStudio" target ="_blank">https://github.com/ModelOriented/modelStudio</a>
**Version:** v0.1.8
**Editor:** @terrytangyuan
**Reviewers:** @acolum, @expectopatronum

**Author instructions**

Thanks for submitting your paper to JOSS @hban

[2019-10-05 18:35] whedon commented on #1788
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-05 18:35] whedon commented on #1788
[code]

[2019-10-05 18:36] whedon commented on #1788
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01788/joss.01788/10.21105.joss.01788.pdf)

[2019-10-05 18:36] kyleniemeyer commented on #1788
Hi @terrytangyuan, can you edit this submission?

[2019-10-05 18:47] kyleniemeyer commented on #1786
Hi @pssachdeva, thanks for your interest in JOSS! It looks like the article has one or two problems preventing compilation:
- in the YAML header, please add a date field: `date: 5 August 2019` (e.g.)
- author entries with multiple affiliations need those wrapped in quotation marks, so please wrap the affiliations for authors 1, 2, and 4 (e.g., `affiliation: 1, 2, 3` -> `affiliation: "1, 2, 3"`)

[2019-10-05 18:53] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-05 18:53] whedon commented on #1701
[code]

[2019-10-05 18:54] whedon commented on #1701
PDF failed to compile for issue #1701 with the following error:

 Error producing PDF.
! Undefined control sequence.
l.795 The maximizer \(\bs

Looks like we failed to compile the PDF

[2019-10-05 18:55] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-05 18:55] whedon commented on #1701
[code]

[2019-10-05 18:56] whedon commented on #1701
PDF failed to compile for issue #1701 with the following error:

 Error producing PDF.
! Undefined control sequence.
l.795 The maximizer \(\bs

Looks like we failed to compile the PDF

[2019-10-05 18:56] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-05 18:56] whedon commented on #1701
[code]

[2019-10-05 18:57] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-10-05 19:10] terrytangyuan commented on #1788
@whedon assign @terrytangyuan as editor

[2019-10-05 19:10] whedon commented on #1788
OK, the editor is @terrytangyuan

[2019-10-05 19:16] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-05 19:16] whedon commented on #1701
[code]

[2019-10-05 19:16] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-10-05 20:45] pssachdeva commented on #1786
OK, thanks for pointing that out. Hopefully things should work out now.

[2019-10-05 20:45] pssachdeva commented on #1786
@whedon generate pdf

[2019-10-05 20:45] whedon commented on #1786
[code]

[2019-10-05 20:46] whedon commented on #1786
PDF failed to compile for issue #1786 with the following error:

 Error producing PDF.
! LaTeX Error: File `algorithm.sty' not found.

Type X to quit or <RETURN> to proceed,
or enter new name. (Default extension: sty)

Enter file name:
! Emergency stop.
<read *>

l.263 \usepackage

Looks like we failed to compile the PDF

[2019-10-05 20:52] kyleniemeyer commented on #1786
@pssachdeva ah, unfortunately I don't believe our template supports the `header-includes:` command.

@arfon, can you confirm? It looks like they want to use an `algorithm` LaTeX environment:
[code]

[2019-10-05 20:52] jedbrown commented on #1611
Thanks for your reviews, @mozhgan-kch and @Datseris.

@kavir1698 I posted a PR above with some copy edits to the paper. I have just a couple comments before proceeding:
* The discussion of GUI features is awkward and I don't know what you intend. Is this suggesting that such a feature would be valuable future work? Could you please reword that bit?
* The *Features* section is currently a mix of ph

[2019-10-05 20:54] pssachdeva commented on #1786
@kyleniemeyer Hm, OK. If we definitely can't use the `algorithm` package, perhaps we could include a picture of the pseudocode instead?

[2019-10-05 21:04] kavir1698 commented on #1611
Thank you, @jedbrown. I have made changes to the paper.

[2019-10-05 21:53] jedbrown commented on #1611
Could you please downcase "cellular automata" (not a proper noun in [existing publications](https://scholar.google.com/scholar?hl=en&q=cellular%20automata&as_sdt=1%2C6&as_sdtp=)), tag a release (annotated tag preferred), and archive your repository on Zenodo or similar. When finished, please report the DOI back here. Thanks.

[2019-10-05 22:48] arfon commented on #1786
@pssachdeva is it just the `algorithms` package you need here?

[2019-10-05 23:16] shah314 commented on #1733
@jedbrown Thank you for the thorough review.

I have made some major changes.

The build now uses Maven (which is standard for Java code).

I have added API documentation. The user can now call the code using a Java API by adding the jar in the classpath (api.md).

I have converted all md files to markdown instead of using HTML.

I have updated the tests to use Maven instead of directly using java

[2019-10-06 01:08] pssachdeva commented on #1786
Right now it's using `algorithms` and `algpseudocode`, but we could switch to something else if that would make it easier.

[2019-10-06 01:44] amritagos commented on #1745
Hi @sixpearls, I have completed my review and am waiting for the issue to be resolved for my closing comments. Great work!

[2019-10-06 01:44] jedbrown commented on #1733
Excellent, I think really improves the research utility and distribution options. What versions of JDK are meant to be supported? I'm getting this:
[code]

[2019-10-06 03:05] shah314 commented on #1733
I changed pom.xml with the maven compiler version. I think JDK version 1.8 should work fine. Please do a git pull and try again. Thanks.

[2019-10-06 03:24] jedbrown commented on #1733
Works, though I think you need the following to suppress a warning.
[code]

[2019-10-06 03:46] jedbrown commented on #1733
@gabrielspadon @sonal-raj @camillescott @hooman650 :wave: Would you be available to review this submission for JOSS?

[2019-10-06 09:14] hariradh commented on #1555
@whedon accept

[2019-10-06 09:14] whedon commented on #1555
I'm sorry @hariradh, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-10-06 09:16] hariradh commented on #1555
@labarba I recommend that with the latest changes and documentation provided by @jayten, the paper be accepted.

[2019-10-06 10:40] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-06 10:40] whedon commented on #1701
[code]

[2019-10-06 10:40] whedon commented on #1701
PDF failed to compile for issue #1701 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedon.rb:135:in `check_fields': Paper YAML header is missing expected fields: tags, authors, affiliations, bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby

[2019-10-06 10:41] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-06 10:41] whedon commented on #1701
[code]

[2019-10-06 10:42] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-10-06 10:52] arfon commented on #1786
@whedon generate pdf

[2019-10-06 10:52] whedon commented on #1786
[code]

[2019-10-06 10:53] whedon commented on #1786
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01786/joss.01786/10.21105.joss.01786.pdf)

[2019-10-06 10:54] arfon commented on #1786
OK,  looks like that's working now ☝️

[2019-10-06 11:16] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-06 11:16] whedon commented on #1701
[code]

[2019-10-06 11:17] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-10-06 13:16] sairamgeethanath commented on #1725
@mathieuboudreau @grlee77 @spinicist Could you please let us know of action points to take this review forward?

[2019-10-06 13:16] sairamgeethanath commented on #1725
https://docs.google.com/forms/d/e/1FAIpQLSf3MIC6bcOpV20-yYrqmO_OhK4wNgsKZu3oBqRYe4CLbzIT8A/viewform?fbzx=3238199011716171808

[2019-10-06 13:49] szhorvat commented on #1766
@kyleniemeyer

What is the procedure to follow when a reviewer requests changes? Should I write up the review as-is for now (to complete it on time), or should I wait until the authors address the concerns?

Since the review is open, I assume that the review will keep going continuously until all concerns are addressed (even if this may take a long time). Let me know if this is not how it works.

[2019-10-06 15:28] pssachdeva commented on #1786
Perfect! Thanks for your help!

[2019-10-06 17:44] kyleniemeyer commented on #1786
@terrytangyuan apologies for another editing request, but this one looks like it well matches your expertise. Can you take on another?

[2019-10-06 17:46] kyleniemeyer commented on #1766
@szhorvat yes, the review process is meant to be iterative and keep going until concerns are addressed—but this isn't meant to work as slowly as a traditional process where the authors get all reviewer comments at once, prepare a rebuttal, and repeat, but instead more like a conversation.

Feel free to leave comments here or in the software repo as you work through your review. Hope that answers y

[2019-10-06 19:36] terrytangyuan commented on #1786
@whedon assign @terrytangyuan as editor

[2019-10-06 19:36] whedon commented on #1786
OK, the editor is @terrytangyuan

[2019-10-06 19:36] kyleniemeyer commented on #1786
Thanks @terrytangyuan!

[2019-10-06 21:28] SeguinBe commented on #1758
Hello,

Sorry I am currently in holidays at the moment, so just seeing this
thread now, I will have a closer look at it around the 14th to see if
I could squeeze it in my agenda.

Le mer. 2 oct. 2019 à 14:14, Arfon Smith <notifications@github.com> a écrit :

[2019-10-06 22:34] ikarosilva commented on #1663
Hi Guys, sorry for the delay.
Update my review list. My feedback:

1) I did not see any unit tests (am I missing something)? Would be nice to have a standard unit test folder that uses python unit test frameworks (nose etc).

2) Please avoid the use of wild imports such as:

from sleeppy.sleep import *
Instead, limit the scope of your import to only those functions/classes necessary.

3)

[2019-10-07 03:08] mailchand commented on #1631
@conradsnicta - Great re: Functionality and Performance.

Re: 16.04 vs. 18.04 -- Thanks for raising this issue. We have an 18.04 test suite as well and now re test the software on 18.04 and see if I can mitigate the issue you have raised. We will attempt to  provide a revised install script for 18.04. Your point about ensuring 18.04 and 20.04 compatibility is well taken. Here is our plan:

1) Atte

[2019-10-07 03:19] wandreopoulos commented on #693
@arfon , @jedbrown  : Thank you for your feedback on this submission. I plan to resubmit once I have addressed all your feedback.

This comment confused me a bit:
_> The directory hierarchy is unusual and probably causing some of the trouble with the install._
Could you show me an example of a typical directory hierarchy? Perhaps from another project? Then I will replicate that directory structure

[2019-10-07 03:46] jedbrown commented on #693
I recommend looking at popular mature packages such as scipy, scikit-learn, pandas, etc. You can also find smaller packages that are still very popular if you like. These packages handle real-world complexities that may not appear in the [packaging guide](https://packaging.python.org/tutorials/packaging-projects/), which explains how to do things like make a `pip` installable package. Note that it

[2019-10-07 07:54] drvinceknight commented on #1763
@whedon set v1.1.0 as version

[2019-10-07 07:54] whedon commented on #1763
OK. v1.1.0 is the version.

[2019-10-07 07:55] drvinceknight commented on #1763
That's taken care of @mikldk :+1:

[2019-10-07 07:55] drvinceknight commented on #1763
@EduPH everything is ticked off on your list except "Functionality documentation" if you could let me know when you're happy with that side of things that'd be great :+1:

[2019-10-07 07:57] tonigi commented on #1773
@amritagos Regarding the missing checkboxes, do they mean that you would like them amended, or just not assessed yet? Thanks

[2019-10-07 08:06] drvinceknight commented on #1780
@dlfivefifty, @ajt60gaibb, @daanhb would you be able to review this paper for JOSS? It describes a Julia package for working with complex regions.

If you have not reviewed for JOSS before, there are instructions here https://joss.readthedocs.io/en/latest/index.html and I'd be happy to answer any questions you might have.

Once we have 2 reviewers I will open a second issue where the review itself

[2019-10-07 08:38] oliviaguest commented on #1754
Hi 👋 @soodoku would you be interested and available to review this?

[2019-10-07 08:38] Kevin-Mattheus-Moerman commented on #1262
@ybayle :wave: :point_up:

[2019-10-07 08:41] Kevin-Mattheus-Moerman commented on #1676
@Atif-Anwer Would you be interested in reviewing this submission for the Journal of Open Source Software (JOSS)? This package implements (MATLAB/Octave) and compares several single image highlight removal methods. [The review process focuses](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) largely on [the software](https://github.com/vitorsr/SIHR) and also a [short paper]

[2019-10-07 08:48] Kevin-Mattheus-Moerman commented on #1613
@apsabelhaus @ctdegroot can you review the changes proposed by @ramaniitrgoyal92 and summarize what points you feel are still remaining? Thanks!

[2019-10-07 08:50] Kevin-Mattheus-Moerman commented on #1691
@jdpye @mdsumner would you be interested in reviewing [this software](https://github.com/wingtorres/morphometrix) package (a python GUI for marine animal size analysis from aerial image data), for the Journal of Open Source Software (JOSS)? The streamlined [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on GitHub and focuses largely on evaluating the so

[2019-10-07 08:55] Kevin-Mattheus-Moerman commented on #1779
@kyleniemeyer I can take this one

[2019-10-07 08:56] Kevin-Mattheus-Moerman commented on #1779
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-10-07 08:56] whedon commented on #1779
OK, the editor is @Kevin-Mattheus-Moerman

[2019-10-07 09:12] Kevin-Mattheus-Moerman commented on #1779
@krischer @danielpeter @HongjianFang @seisman @NoisyLeon @andreww @shicks-seismo @martinvandriel would you be interested in reviewing this work for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org)?
[**Telewavesim: Software for teleseismic body wave modeling**](https://github.com/paudetseis/Telewavesim)
The streamlined [review process](https://joss.readthedocs.io/en/latest/revie

[2019-10-07 09:13] dham commented on #1701
@meg-simula I finally have some time to look at this. It appears I don't have permission to edit the initial post so I don't seem to be able to fill out the checklist.

[2019-10-07 09:18] meg-simula commented on #1701
@dham Interesting... I've added you as an assignee now, does that help?

[2019-10-07 09:24] MuellerSeb commented on #1759
@whedon generate pdf

[2019-10-07 09:24] whedon commented on #1759
[code]

[2019-10-07 09:25] whedon commented on #1759
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01759/joss.01759/10.21105.joss.01759.pdf)

[2019-10-07 09:26] Atif-Anwer commented on #1676
Hi!
I would be glad to review the paper. It is quite inline with my current area of research also.
What is the deadline for submitting the review (if any)?
This would be my first time reviewing/contributing, and I have gone through the guidelines you linked above. But I'm confused as to where do reviewers submit their comments (or are they not visible to the public?)
Regards,
Atif

[2019-10-07 09:28] MuellerSeb commented on #1759
The DOI from Zenodo was now successfully created:
10.5281/zenodo.3474843

[2019-10-07 09:30] spinicist commented on #1725
@whedon commands

[2019-10-07 09:30] whedon commented on #1725
Here are some things you can ask me to do:

[code]

[2019-10-07 09:31] spinicist commented on #1725
I think my points have been sufficiently addressed. I have no further comments.

I'm not actually sure how to mark my review as complete?

[2019-10-07 09:33] meg-simula commented on #1701
Hm. I assume you tried:

" If you cannot edit the checklist please:

   1. Make sure you're logged in to your GitHub account
   2. Be sure to accept the invite at this URL:
   https://github.com/openjournals/joss-reviews/invitations

"
?

On Mon, 7 Oct 2019 at 11:32, David A. Ham <notifications@github.com> wrote:

[2019-10-07 09:37] dham commented on #1701
OK that was it. My bad.

[2019-10-07 09:39] dlfivefifty commented on #1780
What’s the expected timeline?

[2019-10-07 09:47] Kevin-Mattheus-Moerman commented on #1676
@whedon add @Atif-Anwer as reviewer

[2019-10-07 09:47] whedon commented on #1676
OK, @Atif-Anwer is now a reviewer

[2019-10-07 09:48] Kevin-Mattheus-Moerman commented on #1676
Thanks @Atif-Anwer. I aim to recruit one more reviewer and then we'll get started. In the mean time you can familiarize yourself with the [review guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2019-10-07 09:49] Kevin-Mattheus-Moerman commented on #1725
@spinicist thanks for your help! :tada:

[2019-10-07 09:55] drvinceknight commented on #1780
A few weeks would be great but if that's not possible let me know what you could possibly manage. (In my experience reviewing for JOSS takes less time and is more enjoyable than traditional publications - just FYI in case you haven't reviewed for JOSS before.)

[2019-10-07 10:25] dlfivefifty commented on #1780
I’m a bit busy but could probably do it within 3 weeks

[2019-10-07 10:31] drvinceknight commented on #1780
That would be great, I'll add you as a reviewer now @dlfivefifty.

[2019-10-07 10:32] drvinceknight commented on #1780
@whedon assign @dlfivefifty as reviewer

[2019-10-07 10:32] whedon commented on #1780
OK, the reviewer is @dlfivefifty

[2019-10-07 10:42] kavir1698 commented on #1611
v1.1.7 is already tagged. Do you mean to tag a new release?

[2019-10-07 10:55] andreww commented on #1779
Yes - I'm happy to review this.

[2019-10-07 11:08] Kevin-Mattheus-Moerman commented on #1779
@whedon assign @andreww as reviewer

[2019-10-07 11:08] whedon commented on #1779
OK, the reviewer is @andreww

[2019-10-07 11:08] arfon commented on #1758
:wave: @elektrobohemian - you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-10-07 11:08] Kevin-Mattheus-Moerman commented on #1779
@andreww great thanks! I aim to find 2 more reviewers before we start. I'll let you know when we are ready.

[2019-10-07 11:43] amritagos commented on #1773
Sorry, have been dragging my feet on this a little. Will have my review completed today. Not assessed them fully yet, will have more detailed input (issues) if amendments are needed.

[2019-10-07 11:57] ajt60gaibb commented on #1780
@drvinceknight, I am afraid that I have too many refereeing jobs right now. I wouldn't be able to do it in a reasonable time frame. This process looks interesting, though.

[2019-10-07 12:19] amritagos commented on #1773
@tonigi The commit style is not clear at all.
![image](https://user-images.githubusercontent.com/32496815/66310730-8faeb300-e92a-11e9-8b91-aa40bb3abb9c.png)
However it is too late to change that so do keep it in mind for future work. Once the issues have been resolved I will be happy to complete my review.

[2019-10-07 12:22] jdpye commented on #1691
It's a bit outside my expertise, I'm afraid.

[2019-10-07 12:27] whedon opened #1789 "[PRE REVIEW]: SunPy: A Python package for Solar Physics"
**Submitting author:** @Cadair (<a href="http://orcid.org/0000-0003-4217-4642">Stuart Mumford</a>)
**Repository:** <a href="https://github.com/sunpy/sunpy" target ="_blank">https://github.com/sunpy/sunpy</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @mwcraig, @ceb8

**Author instructions**

Thanks for submitting your paper to JOSS @Cadair. The JOSS editor @arfon, will work with you on

[2019-10-07 12:27] whedon commented on #1789
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `

[2019-10-07 12:27] whedon commented on #1789
[code]

[2019-10-07 12:27] arfon commented on #1789
:wave: @Cadair - thanks for your submission to JOSS. Does this JOSS submission accompany a publication in a AAS journal?

[2019-10-07 12:28] whedon commented on #1789
PDF failed to compile for issue #1789 with the following error:

 Can't find any papers to compile :-(

[2019-10-07 12:28] arfon commented on #1789
@whedon generate pdf from branch joss_paper

[2019-10-07 12:28] whedon commented on #1789
[code]

[2019-10-07 12:29] whedon commented on #1789
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01789/joss.01789/10.21105.joss.01789.pdf)

[2019-10-07 13:00] jedbrown commented on #1611
Yes, we ask to archive the post-review software and it should be tagged. It could be `v1.1.7.1` or `v1.1.8` as you see fit.

[2019-10-07 13:01] oliviaguest commented on #1754
@whedon add @izaromanowska as reviewer

[2019-10-07 13:01] whedon commented on #1754
OK, @izaromanowska is now a reviewer

[2019-10-07 13:14] mlindsk commented on #1665
@jkanche Is it possible for you to make the installation check? I believe this is one of last things in the process now.

[2019-10-07 13:20] kavir1698 commented on #1611
Agents.jl v1.1.7 has all the changes that were suggested in the review process. Review number 2 did not require any changes to the code, but only to the paper. Shall I still make a new release?

[2019-10-07 13:35] terrytangyuan commented on #1786
@pssachdeva  if you have any suggestions for potential reviewers then please mention them here in this thread. In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2019-10-07 13:47] arfon commented on #1789
Also, @Cadair, could you identify potential reviewers for this submission? Given your epic author list (I'll fix the left-hand margin issue when this paper is published), I suspect finding reviewers might be tough... 😅

[2019-10-07 13:58] giodegas commented on #1727
I would be happy to do it, but cannot allocate time at the moment.
Sorry.

[2019-10-07 14:10] seisman commented on #1779
@Kevin-Mattheus-Moerman I'm glad to review it.

[2019-10-07 14:21] jnoynaert commented on #1642
Sorry, I haven't had a chance to get back and make those documentation changes yet. I should have some spare time this week to finish them.

[2019-10-07 14:49] drvinceknight commented on #1780
No problem @ajt60gaibb thanks for responding. :+1:

[2019-10-07 14:53] cimentadaj commented on #1781
Thanks @kyleniemeyer, I renamed everything to `paper.*` so all should be set. From reviewing the list , I think @rmhogervorst, @lebebr01, @mkearney or @briatte could be reviewers.

[2019-10-07 14:55] kthyng commented on #1693
@Shibabrat How is your review coming along?

[2019-10-07 14:58] kthyng commented on #1684
Hi @dpsanders Will you be able to work on your review very soon?

[2019-10-07 15:24] szhorvat commented on #1766
@corybrunson wrote:

I know exactly what you mean. An easy fix (to avoid this misunderstanding) would be to use `n` instead of `k`.

[2019-10-07 15:34] szhorvat commented on #1766
The first stage of my review is complete. I am now waiting for the comments to be addressed.

### Summary

This R package provides a function to find the `k` shortest paths between two given vertices of a graph. It relies on [an existing C++ library](https://github.com/yan-qi/k-shortest-paths-cpp-version). The main contribution is exposing the functionality to R, and making it convenient to use fr

[2019-10-07 15:46] kyleniemeyer commented on #1781
@whedon generate pdf

[2019-10-07 15:46] whedon commented on #1781
[code]

[2019-10-07 15:47] marekborowiec commented on #1635
Thank you, @csoneson!

[2019-10-07 15:59] brittanyblouin commented on #1740
Hi @ellessenne and @seabbs, Thank you so much for the comments and review of our package.  We will go over all comments and issues shortly and get back with an improved version.

[2019-10-07 16:01] cmbiwer commented on #1775
A Python package for building sensitivity curves for PTAs is presented. Overall, I believe the submission is suitable for publication in JOSS with minor comments to address. Going through the documentation, I found it to be readable and the functionality promised is presented. I do not believe any of these should prevent publication but that addressing them would strengthen the submission.

I outl

[2019-10-07 16:01] brittanyblouin commented on #1740
Hi @csoneson - Can we add co-author @m-maheu-giroux as a corresponding author for this submission?

[2019-10-07 16:03] jkanche commented on #1665
@mlindsk Sorry about that, I thought I already checked it off. I did test the package and it works! Thanks for all the work you put in!

[2019-10-07 16:06] pssachdeva commented on #1786
Sure thing, here are some suggestions:

mdehollander
alessandroBombelli
yzhao062
puolival
standage

[2019-10-07 16:09] mlindsk commented on #1665
@jkanche No problem. And thanks for pushing things in a better direction.

@csoneson FYI - the reviewers are now finished and all checkboxes are checked.

[2019-10-07 16:09] grlee77 commented on #1725
I have checked off the remaining items as well and do not have any other remaining unaddressed comments.

Thanks for provided the additional AMRI info, @sravan953.

[2019-10-07 16:09] knaidoo29 commented on #1721
@whedon generate pdf

[2019-10-07 16:09] whedon commented on #1721
[code]

[2019-10-07 16:10] whedon commented on #1721
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01721/joss.01721/10.21105.joss.01721.pdf)

[2019-10-07 16:13] mathieuboudreau commented on #1725
I did the same earlier today - looks complete on my end !

[2019-10-07 16:25] terrytangyuan commented on #1786
Hi 👋  @mdehollander @alessandroBombelli @yzhao062 @puolival @standage, if you would like to review for this submission, please let us know here and we need at least two reviewers!

[2019-10-07 16:33] ha0ye commented on #1751
Nice work on a useful tool. The post-calculation graph was nicely done.

There were some checklist items that @jhollist already covered, so I only added comments where I had additional thoughts or suggestions for improvements, over in junbinzhao/FluxCalR#3

[2019-10-07 16:38] toph-allen commented on #1766
@szhorvat Thanks for the review! It's helpful to receive comments from someone with more experience in this field than I do.

We'll make the minor copy changes you suggest.

Responding to your other comments:
- In R, the general convention is for the top-level README.md to contain a high-level overview, with more elaborate examples going in the package vignettes. This package contains one vignette

[2019-10-07 16:44] szhorvat commented on #1766
@toph-allen

Thanks for the explanation! Could you let me know how to access it? I was using the R Studio interface to browse the documentation and I do not see it there (for other packages I do). I also tried

[code]

but it says `no vignettes found`.

I am not experienced with R.

[2019-10-07 16:45] danielskatz commented on #1784
@alessandroBombelli - do you have suggestions for reviewers?  They can be from [this list of potential reviewers](https://bit.ly/joss-reviewers) (please start at the bottom of the list), or individuals who are not on this list; if so, please mention their GitHub handles here.

[2019-10-07 16:53] dphansti commented on #1742
Thank you so much for your quick and helpful reviews.  We believe we have addressed all of the comments and issues.

**Mikmaksi’s comments**

We followed reviewer nhejazi’s instructions below to properly handle licensing for the R package and for the repository.

Great suggestion.  We have added the following text to README.md:
“bedtoolsr should work on any system with R and bedtools installed. It

[2019-10-07 17:01] arfon commented on #1751
@junbinzhao - looks like there's a bunch of reasonable amount of feedback here from @jhollist & @ha0ye for you to work through.

Could you let us know when you've had a chance to review and incorporate their suggestions?

[2019-10-07 17:02] ehsteve commented on #1789
@arfon FYI, there is a companion paper that was submitted and accepted by ApJ.

[2019-10-07 17:12] mbobra commented on #1765
@whedon assign @mbobra as editor

[2019-10-07 17:12] whedon commented on #1765
OK, the editor is @mbobra

[2019-10-07 17:42] hbaniecki commented on #1788
Hi @terrytangyuan, just by looking at `Domains` in your document i can see that @expectopatronum has written `Interpretable machine learning` there, which is cool.
I have also intersected all of your 723 reviewers with 481 stargazers of DALEX R package. This has led me to 7 people. Some of them list `R` as their language and `Machine Learning` as their domain: @mkearney, @alexpghayes, @acolum .

[2019-10-07 17:53] amritagos commented on #1745
@mbobra, I have completed my review and am certain that the work presented by @sixpearls and @ixjlyons is well within the JOSS purview. The work is in accordance with the rules and standards of JOSS and I am glad to recommend this for acceptance and subsequent publication. Thanks!

[2019-10-07 17:57] terrytangyuan commented on #1788
Hi 👋 @expectopatronum  @mkearney, @alexpghayes, @acolum, if you'd like to review this submission, please let us know here (we need at least two reviewers)!

[2019-10-07 18:00] acolum commented on #1788
Thanks for contacting me, and yes, I'd like to review this submission.

[2019-10-07 18:11] tachukao commented on #1782
@whedon generate pdf

[2019-10-07 18:11] whedon commented on #1782
[code]

[2019-10-07 18:12] whedon commented on #1782
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01782/joss.01782/10.21105.joss.01782.pdf)

[2019-10-07 18:23] mbobra commented on #1745
Thank you, @amritagos!

[2019-10-07 18:23] Cadair commented on #1789
@arfon Is there a list of reviewers somewhere? People related to the astro ecosystem, i.e. astropy  or yt contributors would be at the top of the list I would think of.

[2019-10-07 18:23] mbobra commented on #1745
@whedon remind @sarats in one hour

[2019-10-07 18:23] whedon commented on #1745
Reminder set for @sarats in one hour

[2019-10-07 18:39] csoneson commented on #1635
@whedon generate pdf

[2019-10-07 18:39] whedon commented on #1635
[code]

[2019-10-07 18:40] whedon commented on #1635
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01635/joss.01635/10.21105.joss.01635.pdf)

[2019-10-07 18:42] arfon commented on #1789
/ cc @crawfordsm

[2019-10-07 18:42] arfon commented on #1789
@Cadair [this list of people](https://bit.ly/joss-reviewers) posted at the top of this thread have volunteered but feel free to suggest people from outside of this list who you think could give a good review.

[2019-10-07 18:44] arfon commented on #1789
Also, given this is a joint submission with AAS Journals, could you add metadata like this to the YAML header of the `paper.md` file @Cadair?

[code]

[2019-10-07 18:45] corybrunson commented on #1766
Hi @szhorvat and @toph-allen, just in case this isn't obvious (it wasn't to me until i figured it out), R package vignettes may only become available when a package is installed with a specific flag for it:

[code]

[2019-10-07 18:53] csoneson commented on #1635
@marekborowiec - paper looks good. Here are the next steps:
- [ ] Check that the software version is consistently reported
- [ ] Create a tagged release of the current version of the software and report the version tag here
- [ ] Archive the software in Zenodo. Make sure that the title and authors of the archive are the same as those of the paper (you can also add ORCID)
- [ ] Report back the doi

[2019-10-07 18:55] csoneson commented on #1665
@whedon generate pdf

[2019-10-07 18:55] marekborowiec commented on #1635
The pdf looks great! One minor remark: the current release is 2019.2.2, not 2019.1.1 as indicated at the top of this page.

[2019-10-07 18:55] whedon commented on #1665
[code]

[2019-10-07 18:56] whedon commented on #1665
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01665/joss.01665/10.21105.joss.01665.pdf)

[2019-10-07 18:57] csoneson commented on #1635
That's fine - we'll set the release version when the Zenodo archive is done. That will be the final version reported with the publication.

[2019-10-07 18:57] csoneson commented on #1665
@whedon check references

[2019-10-07 18:57] whedon commented on #1665
[code]

[2019-10-07 18:57] whedon commented on #1665
[code]

[2019-10-07 19:15] csoneson commented on #1665
@mlindsk - I noticed one more typo in the paper: first sentence of the use case should be "advances [...] _have_", not "advances [...] has". Could you fix this and generate a new pdf proof (`@whedon generate pdf`)?

The next steps are then as follows:
- [ ] Check that the software version is consistently reported
- [ ] Create a tagged release of the current version of the software and report the v

[2019-10-07 19:24] whedon commented on #1745
:wave: @sarats, please update us on how your review is going.

[2019-10-07 19:26] sixpearls commented on #1745
Thank you @amritagos!

[2019-10-07 19:27] puolival commented on #1786
Hi @terrytangyuan, I would be happy to review this submission!

[2019-10-07 19:35] csoneson commented on #1740
@brittanyblouin Since @m-maheu-giroux is mentioned in this issue now, I believe he will be notified of all further activity here (which would also be achieved by clicking the "Subscribe" button above). Would that be a satisfactory solution? Or do you rather mean that you would like to hand over the "submitting author" status?

[2019-10-07 19:38] m-maheu-giroux commented on #1740
Yes, this is a satisfactory solution (thanks!).
Brittany Blouin shall remain "submitting author".

[2019-10-07 19:44] Benjamin-Lee commented on #1500
@arfon, who is responsible for copyediting the final paper?

[2019-10-07 20:11] jedbrown commented on #1611
If changes were contained to the paper, then archiving v1.1.7 is okay, but if there are changes to project source or documentation, please tag a new release.

[2019-10-07 21:05] szhorvat commented on #1766
Thanks @corybrunson, it works this way. Indeed it would be nice to add it to the installation instructions.

[2019-10-07 21:28] eskofier commented on #1663
Dear all,

I took a look at this with my senior PhD student Stefan Gradl (github: gradlman, also CCed). Feedback:

-> the code looks well documented where needed
-> we could not really test the code because of its programming in python 2.7. I don’t have a 2.7 installation anymore, neither does Stefan or most people in my lab (except 1). Stefan tried to get the code running for half a day by downlo

[2019-10-07 21:31] daniellivingston commented on #1777
Hi @kthyng , it appears that I haven't been formally assigned to this review yet.

[2019-10-07 21:41] EduPH commented on #1763
@drvinceknight , yes, everything is fine for me :)

[2019-10-07 22:50] mailchand commented on #1631
Hi @conradsnicta and @cMadan

In response to the concern @conradsnicta raised. I followed the steps outlined in Readme.md to install openEyeTrack on an 18.04.3 ubuntu install and a 19.04 install. Both of these were done on a Zotac EN51050 machine without any existing software in them and I did do clean installs. My approach is typical of experimental rigs where the computers are often dedicated to

[2019-10-07 23:10] Hazboun6 commented on #1775
Thanks @cmbiwer for the detailed review! That `Deprecation error` appeared in the Python 3.6 and 3.7 builds on Travis, but I never saw them locally. The `r"""` did in fact fix things. I've fixed most of the points above. Regarding the last two points point, the newer version of the [manuscript](https://github.com/Hazboun6/hasasia/blob/master/paper/paper.md) mention the pickled NANOGrav sensitivity

[2019-10-08 01:48] dpsanders commented on #1684
@kthyng Sorry, I hope to be able to during the next few days.

[2019-10-08 02:05] conradsnicta commented on #1631
@mailchand @cMadan I have a separate box with an Ubuntu 18.04 installation, which has proprietary AMD and NVIDIA drivers and repos enabled (for GPU related work via OpenCL and CUDA). Other than the installation wasn't modified to my knowledge.

It's entirely possible that the proprietary drivers and/or extra repos may hinder with the installation of openEyeTrack. This in turn may indicate that a p

[2019-10-08 03:13] arokem commented on #1637
@imr-framework  : have you had a chance to address this?

[2019-10-08 03:23] briatte commented on #1781
Dear all,

I'd be happy to review the package, although let me admit that I'm biased, since I know @cimentadaj's excellent work on other survey-related packages :)

All the best,

François

[2019-10-08 04:14] mailchand commented on #1631
Hi @conradsnicta,

Hmm, that is entirely possible. I am sure you have way more experience dealing with Linux issues given your experience with intensive development in Linux. I personally encounter issues when trying to install new software because my dependencies are not properly structured. For instance, when trying to install DeepLabCut, an open source behavioral tracking tool that uses Tensorf

[2019-10-08 06:30] mikldk commented on #1763
@drvinceknight: I have made a [release of v1.1.0](https://github.com/mikldk/ryacas/releases/tag/1.1.0) (via [a small commit](https://github.com/mikldk/ryacas/commit/d60287363844ef75f4dc5e339abc7bc6e588c14a)). I have archived this on Zenodo: <https://doi.org/10.5281/zenodo.3475813>. Let me know if I need to do more.

@EduPH and @MikeLydeamore: Thanks a lot for your help with a fast and thorough rev

[2019-10-08 07:08] mlindsk commented on #1665
@whedon generate pdf

[2019-10-08 07:08] whedon commented on #1665
[code]

[2019-10-08 07:09] whedon commented on #1665
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01665/joss.01665/10.21105.joss.01665.pdf)

[2019-10-08 07:13] mlindsk commented on #1665
@csoneson

 - Tag: v1.0.0
 - DOI: 10.5281/zenodo.3475854

[2019-10-08 07:14] expectopatronum commented on #1788
I haven't worked with R for about a year now (switched jobs) but my main focus is interpretable machine learning. If you don't find anyone more suitable I'd gladly review this submission.
Off topic: Does anyone know where I can update my entry in this spreadsheet?

[2019-10-08 07:14] danielpeter commented on #1779
thanks for the invite, but too much stretched out at the moment...

[2019-10-08 07:16] csoneson commented on #1665
@mlindsk Please fix the metadata of the Zenodo archive - the title and authors should be the same as the paper.

[2019-10-08 07:25] mlindsk commented on #1665
@csoneson I was a little too fast I see; should be fixed now.

[2019-10-08 07:26] csoneson commented on #1665
I still see the title "mlindsk/molic: First release", and authors "mlindsk; Charlotte Soneson" on the DOI above.

[2019-10-08 07:29] junbinzhao commented on #1751
@arfon & @jhollist & @ha0ye , Thank you for looking at the package! I roughly went through the comments and they look very helpful. I will find time to revise it this month. But since my calendar is bit tight recently, I'll try to finish revising early next month (November).

Thank you again!

Cheers,

Junbin

[2019-10-08 07:33] mlindsk commented on #1665
Ok - I was not aware that I should hit "publish" after saving.

[2019-10-08 07:35] csoneson commented on #1665
@whedon set 10.5281/zenodo.3475854 as archive

[2019-10-08 07:35] whedon commented on #1665
OK. <a href="https://doi.org/10.5281/zenodo.3475854" target="_blank">10.5281/zenodo.3475854</a> is the archive.

[2019-10-08 07:35] csoneson commented on #1665
@whedon set v1.0.0 as version

[2019-10-08 07:35] whedon commented on #1665
OK. v1.0.0 is the version.

[2019-10-08 07:36] csoneson commented on #1665
@whedon accept

[2019-10-08 07:36] whedon commented on #1665
[code]

[2019-10-08 07:36] whedon commented on #1665
[code]

[2019-10-08 07:37] whedon commented on #1665
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1008

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1008, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-08 07:37] csoneson commented on #1665
@mlindsk - ok, looks good! I'll hand over to @openjournals/joss-eics to finalize the process

[2019-10-08 07:39] mlindsk commented on #1665
@csoneson

Thank very much for all the work you have put into this project - it is very much appreciated for a first-timer like me!

[2019-10-08 09:46] Kevin-Mattheus-Moerman commented on #1725
Thanks for your help @grlee77, @mathieuboudreau, @spinicist !!! :tada: :robot:

[2019-10-08 09:47] Kevin-Mattheus-Moerman commented on #1725
@whedon generate pdf

[2019-10-08 09:47] whedon commented on #1725
[code]

[2019-10-08 09:48] whedon commented on #1725
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01725/joss.01725/10.21105.joss.01725.pdf)

[2019-10-08 09:48] Kevin-Mattheus-Moerman commented on #1725
@whedon check references

[2019-10-08 09:48] whedon commented on #1725
[code]

[2019-10-08 09:49] whedon commented on #1725
[code]

[2019-10-08 09:57] MuellerSeb commented on #1759
@whedon commands

[2019-10-08 09:58] whedon commented on #1759
Here are some things you can ask me to do:

[code]

[2019-10-08 10:16] Kevin-Mattheus-Moerman commented on #1725
@imr-framework here are some additional issues/comments in relation to your paper. Please make these required changes:

- [ ] Check that you've added all possible DOI's to your references
- [ ] The hyper links `[TOPPE](toppe)`, `[Bruker](bruker)`,  `[PyPulseq-gpi](pypulseq-gpi-branch)`, and `[GPI](gpilab)` do not link to valid web content. Can you remove these links or fix them with proper URLs?
-

[2019-10-08 10:43] arfon commented on #1751
Sounds good. I'll set a reminder for us all.

[2019-10-08 10:44] arfon commented on #1751
@whedon remind @junbinzhao in 5 weeks

[2019-10-08 10:44] whedon commented on #1751
Reminder set for @junbinzhao in 5 weeks

[2019-10-08 10:54] MuellerSeb commented on #1759
@labarba : I think that I have done everything on your list. How to proceed?

[2019-10-08 11:23] labarba commented on #1759
@whedon set 10.5281/zenodo.3474843 as archive

[2019-10-08 11:23] whedon commented on #1759
OK. <a href="https://doi.org/10.5281/zenodo.3474843" target="_blank">10.5281/zenodo.3474843</a> is the archive.

[2019-10-08 11:38] mikkonie commented on #1584
Hello,

Apologies for the radio silence. I have actually made changes as suggested by your comments into the master branch of the project and commented on these changes in the issue tickets raised in our project. I missed the updates here and didn't realize I also had to respond in this issue.

Again, sorry about this. Please let me know if you have further comments regarding the issues as they've

[2019-10-08 11:39] labarba commented on #1759
I made some minor copy edits in https://github.com/GeoStat-Framework/pentapy/pull/3
Note that the paper has links to the source repository and Zenodo archive on the margin decorators of the first page, and we don't need that mentioned in the body text.

I wasn't sure what the abbreviated word was here:

And finally, you present a figure with a performance test: it would be nice if you said what ha

[2019-10-08 11:49] mikldk commented on #1763
@drvinceknight: I have made a release of v1.1.0. I have archived this on Zenodo: https://zenodo.org/record/3476220 (DOI: [10.5281/zenodo.3476220](https://doi.org/10.5281/zenodo.3476220)). Let me know if I need to do more.

I also updated the package at CRAN: <https://CRAN.R-project.org/package=Ryacas>.

@EduPH and @MikeLydeamore: Thanks a lot for your help with a fast and thorough review.

[2019-10-08 13:05] gbertoldo commented on #1701
@whedon generate pdf

[2019-10-08 13:05] whedon commented on #1701
[code]

[2019-10-08 13:05] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-10-08 13:19] lpantano commented on #1584
Thanks! @olgabot , @rbatorsky, let me know if you can continue with the review.

[2019-10-08 13:25] rbatorsky commented on #1584
Hi all,
Sorry, I missed the update.
I'll be able to review the changes and hopefully complete the review this week.
Thanks,
Rebecca

[2019-10-08 14:11] paudetseis commented on #1779
Hi @Kevin-Mattheus-Moerman, @andreww and @seisman
Thanks for handling the paper. I'd just like to point out that I just merged a PR from @trichter that improved the code significantly. You might want to do a git pull if you already cloned the repo.

[2019-10-08 14:28] whedon commented on #1759
[code]

[2019-10-08 14:29] whedon commented on #1759
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01759/joss.01759/10.21105.joss.01759.pdf)

[2019-10-08 14:30] MuellerSeb commented on #1759
@labarba I merged your edits, removed the abbreviation and added the sys specs.

[2019-10-08 15:17] alessandroBombelli commented on #1784
@whedon generate pdf

[2019-10-08 15:17] whedon commented on #1784
[code]

[2019-10-08 15:17] whedon commented on #1784
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01784/joss.01784/10.21105.joss.01784.pdf)

[2019-10-08 15:18] alessandroBombelli commented on #1784
@danielskatz, I slightly modified references because I realized two of them were not correctly compiled. In one case, there was a @ missing. In the other case, where I am citing a website, I am not sure what the problem is. I am using the same citation type I would use in a classic LaTeX file, where I know it should work. On the other hand, I am not very familiar with the integration of the .md fi

[2019-10-08 15:19] alessandroBombelli commented on #1784
@danielskatz never mind, it is fixed now. Sorry for the confusion

[2019-10-08 15:22] alessandroBombelli commented on #1784
Dear @danielskatz, I checked the list and I think @mado89 should be a good match. No preference for the second reviewer instead.

[2019-10-08 15:23] cimentadaj commented on #1781
Yes, for full disclosure, @briatte has helped out on other packages.

[2019-10-08 15:23] danielskatz commented on #1784
Perhaps you can suggest some other people not on the list?  Maybe from other types of sport analytics?

[2019-10-08 15:24] marekborowiec commented on #1635
https://github.com/marekborowiec/spruceup/tree/v2019.2.2

@csoneson
https://doi.org/10.5281/zenodo.3476720

[2019-10-08 15:29] danielskatz commented on #1784
👋 @mado89 - would you be willing to review this submission for JOSS?

[2019-10-08 15:34] poulson commented on #1371
FWIW, via email @jordigh stated that he would have completed over last weekend.

[2019-10-08 15:37] danielskatz commented on #1784
👋 @ctsilva - would you (or someone in your group) be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

If not, could you suggest some others in the field of software and sports analytics who might be suitable?

[2019-10-08 15:40] mado89 commented on #1784
@danielskatz I can do it. But I might need some time (and maybe a gentle reminder in 1.5 weeks) as I am quite busy this and next week.

[2019-10-08 15:41] danielskatz commented on #1784
Thanks @mado89 - we won't start until I find another reviewer, but I'll put you into the system for now, and I will be sure to remind you again once things start, or it's been a little time :)

[2019-10-08 15:41] danielskatz commented on #1784
@whedon assign @mado89 as reviewer

[2019-10-08 15:42] tonigi commented on #1773
Thanks! Should be amended. The development history could be rebased in the future.

[2019-10-08 15:42] tonigi commented on #1773
@whedon generate pdf

[2019-10-08 15:43] whedon commented on #1773
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01773/joss.01773/10.21105.joss.01773.pdf)

[2019-10-08 15:46] alessandroBombelli commented on #1784
@whedon generate pdf

[2019-10-08 15:47] whedon commented on #1784
PDF failed to compile for issue #1784 with the following error:

 Error reading bibliography ./pyHoops_references.bib (line 18, column 3):
unexpected "p"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-10-08 15:48] apsabelhaus commented on #1613
I'll work on this today. Thanks for everyone's patience.

[2019-10-08 15:48] alessandroBombelli commented on #1784
@whedon generate pdf

[2019-10-08 15:48] whedon commented on #1784
[code]

[2019-10-08 15:49] whedon commented on #1784
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01784/joss.01784/10.21105.joss.01784.pdf)

[2019-10-08 15:50] alessandroBombelli commented on #1784
@whedon generate pdf

[2019-10-08 15:50] whedon commented on #1784
[code]

[2019-10-08 15:51] whedon commented on #1784
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01784/joss.01784/10.21105.joss.01784.pdf)

[2019-10-08 16:02] karthik commented on #1781
@kyleniemeyer Unfortunately my editorial plate is too full to handle this. :/

[2019-10-08 16:09] kthyng commented on #1777
@arfon Is whedon sometimes slow about assignments? In this case it would be days slow...

@daniellivingston now looks like you are set.

[2019-10-08 16:11] apsabelhaus commented on #1613
@ramaniitrgoyal92, you mentioned that you'd responded to comments in the issues in the repository in response to @vaishnavtv's point, but I still had to sort through the word document for issue #1 since the full responses weren't actually in the Github issues. This review is becoming tiresome, and it would be very much appreciated if the authors were more careful and more thorough in the future wh

[2019-10-08 16:15] apsabelhaus commented on #1613
Also, @ramaniitrgoyal92 when sending a reminder for me to complete this review, it's more helpful to use mentions in this thread (which send emails through Github) instead of contacting me directly at my personal email address as the authorship team did a week ago. See for example how @Kevin-Mattheus-Moerman did so.

[2019-10-08 16:23] ramaniitrgoyal92 commented on #1613
@apsabelhaus Thanks for your comments! I added a note to the #1 issue. (Note: setup.m must be run every time MATLAB opens, before any other file.) Thanks for reminding us and sorry indeed for the inconvenience!

[2019-10-08 16:28] apsabelhaus commented on #1613
@Kevin-Mattheus-Moerman I finished up this penultimate round of reviews. The only remaining issue (which may be substantial, I'm unsure) is the licensing where the authors use someone else's code. If you could take over and work with the authors on that, it would be appreciated, since I can't speak to JOSS' policies. Once that's fixed, I would recommend this submission for publication!

[2019-10-08 16:37] nhejazi commented on #1742
Thanks for the quick work on this dphansti --- all looks good to me!

[2019-10-08 17:00] mikmaksi commented on #1742
Look good to me as well. Thank you @dphansti

[2019-10-08 17:47] yzhao062 commented on #1786
@terrytangyuan I should be able to review it but may need some extra time. Could you confirm the deadline to turn the review back?

[2019-10-08 18:09] katyhuff commented on #1650
@whedon check references

[2019-10-08 18:09] whedon commented on #1650
[code]

[2019-10-08 18:09] whedon commented on #1650
[code]

[2019-10-08 18:10] katyhuff commented on #1650
Thank you @kellyrowland and @sskutnik for your reviews -- we couldn't do this without you.
Thank you @ezsolti for your submission and for engaging actively in the review process! I have looked over the paper, double-checked all the DOI links, and have conducted a high-level review of the code itself. Everything looks ship-shape to me. At this point, please double-check the paper yourself, review a

[2019-10-08 18:12] katyhuff commented on #1704
@whedon set 10.5281/zenodo.3466426 as archive

[2019-10-08 18:12] whedon commented on #1704
OK. <a href="https://doi.org/10.5281/zenodo.3466426" target="_blank">10.5281/zenodo.3466426</a> is the archive.

[2019-10-08 18:13] katyhuff commented on #1704
@whedon generate pdf

[2019-10-08 18:13] whedon commented on #1704
[code]

[2019-10-08 18:14] whedon commented on #1704
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01704/joss.01704/10.21105.joss.01704.pdf)

[2019-10-08 18:15] NoisyLeon commented on #1779
Thanks for the invitation, but I do not really have time for this at the moment...

[2019-10-08 18:18] katyhuff commented on #1704
@openjournals/jose-eics  Hi there, I believe this one is ready for acceptance!

[2019-10-08 18:33] csoneson commented on #1635
@whedon set v2019.2.3 as version

[2019-10-08 18:33] whedon commented on #1635
OK. v2019.2.3 is the version.

[2019-10-08 18:33] csoneson commented on #1635
@whedon set 10.5281/zenodo.3476875 as archive

[2019-10-08 18:33] whedon commented on #1635
OK. <a href="https://doi.org/10.5281/zenodo.3476875" target="_blank">10.5281/zenodo.3476875</a> is the archive.

[2019-10-08 18:33] csoneson commented on #1635
@whedon accept

[2019-10-08 18:34] whedon commented on #1635
[code]

[2019-10-08 18:34] whedon commented on #1635
[code]

[2019-10-08 18:34] whedon commented on #1635
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1009

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1009, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-08 18:34] csoneson commented on #1635
@openjournals/joss-eics - we're ready for you to take over!

[2019-10-08 18:35] ctdegroot commented on #1613
@Kevin-Mattheus-Moerman I'm satisfied with the changes made by the authors and think that is suitable for all points on the checklist.

[2019-10-08 18:37] ybayle commented on #1262
@Kevin-Mattheus-Moerman Hi!
Sorry for the delay. All comments are relevant and useful and are being processed. I'll push soon and keep you updated!
Thanks!

[2019-10-08 18:39] gvegayon commented on #1493
Hi @arfon I've finished rebranding sluRm to slurmR (paper included). The version of the repository that should be published is here: https://github.com/USCbiostats/slurmR/tree/257577f2197747ea926dfc9a7349c795d7a85e88
Thanks!

[2019-10-08 19:11] sravan953 commented on #1725
@Kevin-Mattheus-Moerman Thanks for the comments! I believe I have addressed your inputs, and have pushed my commit. Please let me know.

[2019-10-08 19:16] sravan953 commented on #1725
@Kevin-Mattheus-Moerman Thanks for the comments! I believe I have addressed your inputs, and have pushed my commit - 985516b7bd3b3905911a8fa826a98f79ef11aa9b. Please let me know.

[2019-10-08 19:36] elyiorgos commented on #1663
Hello all,

I'll try to address things in order, though forgive me if I miss something.

@nhejazi Thank you for your quick feedback, and quick responses!

@lheagy With regards to a testing suite, without getting into any unnecessary details, the research project that helped spawn the package is currently being overhauled from a testing point of view, which will eventually require the addition of a

[2019-10-08 19:51] eskofier commented on #1663
Hi,

pip install did not work on an apple computer

Bjoern$ pip install sleeppy
Collecting sleeppy
  ERROR: Could not find a version that satisfies the requirement sleeppy (from versions: none)
ERROR: No matching distribution found for sleeppy

Manual install did not work

error: Setup script exited with error: library dfftpack has Fortran sources but no Fortran compiler found
(as well as several

[2019-10-08 20:27] mjsottile commented on #1782
Some potential reviewers are @rljacobson, @xoolive, @ziotom78, and @ocramz.  Would any of you be interested in reviewing this paper?

[2019-10-08 20:37] ziotom78 commented on #1782
Hi @mjsottile, the last time I used OCaml was almost ten years ago, so it would be better to hand this to somebody more knowledgeable of the language.

[2019-10-08 20:38] arfon commented on #1493
Roger that. The paper should now be updated although it might take a few hours to show up modified on the JOSS site as the PDFs are cached.

[2019-10-08 20:55] MuellerSeb commented on #1759
@whedon generate pdf

[2019-10-08 20:55] whedon commented on #1759
[code]

[2019-10-08 20:56] whedon commented on #1759
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01759/joss.01759/10.21105.joss.01759.pdf)

[2019-10-08 20:58] xoolive commented on #1782
Hello. I would be glad to review this paper/project.

[2019-10-08 21:09] MuellerSeb commented on #1759
@whedon generate pdf

[2019-10-08 21:09] whedon commented on #1759
[code]

[2019-10-08 21:09] whedon commented on #1759
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01759/joss.01759/10.21105.joss.01759.pdf)

[2019-10-08 21:19] MuellerSeb commented on #1759
@labarba merged!

[2019-10-08 21:21] kavir1698 commented on #1611
Since there was a small change in the documentation, I tagged a new release. Here is the DOI from Zenodo: `doi.org/10.5281/zenodo.3477581`.

[2019-10-08 21:22] alexpghayes commented on #1788
I don't have the bandwidth to review at the moment, but this looks like a cool project!

[2019-10-08 21:27] jedbrown commented on #1611
doi.org is being slow. Can you please update the author list to match the paper (i.e., just you).

[2019-10-08 21:27] jedbrown commented on #1611
@whedon set v1.1.8 as version

[2019-10-08 21:27] whedon commented on #1611
OK. v1.1.8 is the version.

[2019-10-08 21:27] jedbrown commented on #1611
@whedon set 10.5281/zenodo.3477581 as archive

[2019-10-08 21:27] whedon commented on #1611
OK. <a href="https://doi.org/10.5281/zenodo.3477581" target="_blank">10.5281/zenodo.3477581</a> is the archive.

[2019-10-08 21:33] kavir1698 commented on #1611
The author list is updated.

[2019-10-08 21:43] labarba commented on #1759
@whedon accept

[2019-10-08 21:43] whedon commented on #1759
[code]

[2019-10-08 21:43] whedon commented on #1759
[code]

[2019-10-08 21:43] whedon commented on #1759
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1010

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1010, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-08 21:45] labarba commented on #1759
@whedon generate pdf

[2019-10-08 21:45] whedon commented on #1759
[code]

[2019-10-08 21:46] whedon commented on #1759
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01759/joss.01759/10.21105.joss.01759.pdf)

[2019-10-08 21:46] labarba commented on #1759
@whedon accept deposit=true

[2019-10-08 21:46] whedon commented on #1759
[code]

[2019-10-08 21:47] whedon commented on #1759
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1181687525003411456) 👈 🐦🐦🐦

[2019-10-08 21:47] whedon commented on #1759
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1011
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01759](https://doi.org/10.21105/joss.01759)
2. If everything looks g

[2019-10-08 21:47] labarba commented on #1759
Congratulations, @MuellerSeb, your JOSS paper is published! 🚀

Huge thanks to our editor: @drvinceknight, and the reviewers: @inakleinbottle, @virgesmith — we couldn't do this without you 🙏

[2019-10-08 21:50] labarba commented on #1759
I'm not seeing the PDF yet, but the DOI resolves. I'll leave this issue open for now...

[2019-10-08 21:54] jedbrown commented on #1611
@whedon accept

[2019-10-08 21:54] whedon commented on #1611
[code]

[2019-10-08 21:54] MuellerSeb commented on #1759
YEAH! Thanks @drvinceknight, @inakleinbottle, @virgesmith and @labarba for this pleasant review!
I see the PDF ;-)
This was a very nice experience!

[2019-10-08 21:54] whedon commented on #1611
[code]

[2019-10-08 21:54] whedon commented on #1611
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1012

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1012, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-08 21:56] jedbrown commented on #1611
Thanks, @kavir1698. Over to you, @openjournals/joss-eics.

[2019-10-08 21:57] kavir1698 commented on #1611
Thank you, @jedbrown.

[2019-10-08 22:02] labarba commented on #1759
👋 @arfon —The PDF is not showing in the embedded frame for me, even though the file does exist ... see: https://joss.theoj.org/papers/10.21105/joss.01759

[2019-10-08 22:10] Datseris commented on #1611
@kavir1698 congratulations!

[2019-10-08 22:12] kavir1698 commented on #1611
Thank you very much, @Datseris

[2019-10-08 22:14] labarba commented on #1635
@whedon accept deposit=true

[2019-10-08 22:14] whedon commented on #1635
[code]

[2019-10-08 22:15] whedon commented on #1635
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1181694542984155136) 👈 🐦🐦🐦

[2019-10-08 22:15] whedon commented on #1635
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1013
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01635](https://doi.org/10.21105/joss.01635)
2. If everything looks g

[2019-10-08 22:18] labarba commented on #1635
Congratulations, @marekborowiec, your JOSS paper is now published! 🚀

Big thanks to our editor: @csoneson, and the reviewers: @iimog, @gavinmdouglas — your contribution to JOSS is greatly appreciated 🙏