[2022-09-09 20:28] #4728 closed

[2022-09-09 20:30] kthyng commented on #4729
Hi @bsnichols and thanks for your submission. Unfortunately, the JOSS editorial board has determined that it is out of scope in terms of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). If this package is substantially expanded in the future, you are welcome to resubmit (and please link to this issue in that case). Thank you.

[2022-09-09 20:30] kthyng commented on #4729
@whedon reject

[2022-09-09 20:30] kthyng commented on #4729
@editorialbot reject

[2022-09-09 20:30] #4729 closed

[2022-09-09 20:35] RupeshJey commented on #4575
Just leaving an update that we've made great progress on all the feedback made above. We've made suggested modifications to the paper and documentation. We are in the process of fixing a bunch of the technical issues like dead links, citation issues, etc.

[2022-09-09 20:38] lbluque commented on #4504
Thanks for voicing your view on this @TomTranter. Indeed, as some of my previous comments on this and the pre-review issue suggest, my experience is consistent with your comment.

[2022-09-09 20:39] kthyng commented on #4733
Hi @jugacostase and thanks for your submission. Unfortunately, the JOSS editorial board has determined that it is out of scope in terms of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort), but also as an API wrapper. Thank you.

[2022-09-09 20:39] kthyng commented on #4733
@editorialbot reject

[2022-09-09 20:39] #4733 closed

[2022-09-09 20:43] kthyng commented on #4746
@neillu23 Our relevant editors are busy at the moment so I'll add this submission to the waitlist. Thanks for your patience.

[2022-09-09 20:45] editorialbot opened #4749 "[PRE REVIEW]: MetaGenePipe: An Automated, Portable Pipeline for Contig-based Functional and Taxonomic Analysis"
**Submitting author:** @ParkvilleData (<a href="http://orcid.org/0000-0002-7393-810X">Babak Shaban</a>)
**Repository:** https://github.com/ParkvilleData/MetaGenePipe/
**Branch with paper.md** (empty if default branch):
**Version:** v.1.0.0
**Editor:** @jmschrei
**Reviewers:** @Ebedthan, @rjorton
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/c9c52942084258507e

[2022-09-09 20:45] editorialbot opened #4750 "[PRE REVIEW]: EvoDynamics.jl: a framework for modeling eco-evolutionary dynamics"
**Submitting author:** @kavir1698 (<a href="http://orcid.org/0000-0003-0895-1495">Ali Rezaee Vahdati</a>)
**Repository:** https://github.com/kavir1698/EvoDynamics.jl
**Branch with paper.md** (empty if default branch):
**Version:** 0.16.0
**Editor:** @mikldk
**Reviewers:** @slwu89, @tijeco
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/8c79b00b22447e7cab1d4ae29

[2022-09-09 21:09] frankecurtis commented on #4291
@melissawm Following up here on a couple of emails that I sent to you.  I would be grateful for a pointer to some guidance on reviewing for this journal, since I'm unfamiliar with the process.  Are there particular review questions that I should be answering, or should I simply comment on anything that I find relevant?  I see an earlier comment with a paper (a few pages).  I suppose I should be re

[2022-09-09 21:39] mhucka commented on #4328
@rlskoeser @step21 Thank you, very much, for your time and efforts on the review.

[2022-09-09 21:43] kthyng commented on #4749
Hi @jmschrei could you edit this submission?

[2022-09-09 21:43] kthyng commented on #4749
@editorialbot invite @jmschrei as editor

[2022-09-09 21:46] kthyng commented on #4750
Hi @Bisaloo! Are you able to edit this submission?

[2022-09-09 21:46] kthyng commented on #4750
@editorialbot invite @Bisaloo as editor

[2022-09-09 21:47] editorialbot opened #4751 "[PRE REVIEW]: GNOLL: Efficient Multi-Lingual Software for Real-World Dice Notation and Extensions"
**Submitting author:** @ianfhunter (<a href="http://orcid.org/0000-0003-3408-8138">Ian Hunter</a>)
**Repository:** https://github.com/ianfhunter/GNOLL
**Branch with paper.md** (empty if default branch):
**Version:** v2.7.1
**Editor:** @galessiorob
**Reviewers:** @smattr
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/c704c5148e622d32403948320c5e96a1/status.svg)

[2022-09-09 22:06] kthyng commented on #4743
@jgostick What do you think about editing this submission? (Very different than the last request!)

[2022-09-09 22:06] kthyng commented on #4743
@editorialbot invite @jgostick as editor

[2022-09-09 22:07] hseabolt commented on #4677
@csoneson I have competed my initial review and have updated the review checklist in this thread as much as I am able to verify.  I do have additional specific comments for the authors -- should those comments and my recommendation be posted here directly or should those be sent to you to collect and share with the authors?

Thanks!

[2022-09-09 22:14] kthyng commented on #3896
@openjournals/dev Could you take a look at this?

[2022-09-09 22:14] kthyng commented on #4495
@openjournals/dev  Could you take a look at this?

[2022-09-09 22:20] kthyng commented on #4745
Hi @AoifeHughes! Is this anywhere near your area of expertise?

[2022-09-09 22:20] kthyng commented on #4745
@editorialbot invite @AoifeHughes as editor

[2022-09-09 22:23] AoifeHughes commented on #4745
Sure, I'd be glad to handle as editor!

[2022-09-09 22:31] kthyng commented on #4559
@kellyrowland I'll see if I can find someone.

@AoifeHughes Could you try to find a second reviewer for this submission while editor @kellyrowland is out of town for a weeks, so the review can get started? Is this in your area of expertise?

[2022-09-09 22:32] kthyng commented on #4745
@editorialbot assign @AoifeHughes as editor

[2022-09-09 22:55] AoifeHughes commented on #4559
Sure!

[2022-09-09 22:57] AoifeHughes commented on #4745
Hi @cmorris2945, @mbarzegary, @storyetfall, @sdelandtsheer, as per the submitting author's suggestions would any of you like to / feel able to review this?

[2022-09-09 23:29] rbturnbull commented on #4749
Sorry we missed some of the DOIs. Hopefully they are all there now.

@editorialbot check references

[2022-09-10 01:18] jgostick commented on #4743
This one is my jam!  I will almost certainly use this in my work.

@editorialbot assign @jgostick as editor

[2022-09-10 01:25] jgostick commented on #4743
@editorialbot assign @jgostick as editor

[2022-09-10 05:44] ianfhunter commented on #4751
Based on the list, perhaps
- colleenb
- nmullins
For their review areas of game development
Perhaps:
- smattr
- ocramz (though the project does not contain Haskell)
For their compiler domains (though this is a parser)

[2022-09-10 06:22] DanNixon commented on #4722
@editorialbot generate my checklist

[2022-09-10 06:23] lucaferranti commented on #4722
@editorialbot generate my checklist

[2022-09-10 06:52] Bisaloo commented on #4750
Hi @kthyng, this looks interesting but it's not a great moment for me :disappointed:. I'm starting a new job, so I'm fully booked with meetings, and I'll be on annual leave after that.

[2022-09-10 08:38] dunnkers commented on #4611
Hi @mcasl thanks for the review and @diehlpk thanks for notifying me - I am going to have a look.

[2022-09-10 08:43] arfon commented on #4576
:wave: @pibion – how are you getting on finding reviewers for this submission?

[2022-09-10 08:52] arfon commented on #4607
@drvinceknight – it looks like neither of the reviewers have formally started their reviews here yet. Can you check in with them and see how they're getting on?

[2022-09-10 09:22] zStupan commented on #4448
@fabian-s I believe there are no issues to address. Everything on the checklist is present in the repository.

[2022-09-10 10:00] arfon commented on #4414
@editorialbot set 10.5281/zenodo.7014633 as archive

[2022-09-10 10:00] arfon commented on #4414
@editorialbot set v2.0.1 as version

[2022-09-10 10:01] arfon commented on #4414
@editorialbot recommend-accept

(@jarvist – I noticed this submission was waiting on a last couple of steps so did the honours for you 😄)

[2022-09-10 10:46] milenamilena commented on #4740
I have completed my review, and I found this package very useful and holistic in giving an overview of data. The functions are very clear and well explained. The latex tables were beneficial, as the format is very clear. I also found very interesting the use of the Venn diagram and the ability to customise some gglots. I agree with the comments made by @drmowinckels and am happy to see that they w

[2022-09-10 11:20] arfon commented on #4403
@gdede-hua – are you still interested in pursuing this submission with JOSS?

@fabian-s – it seems like the author may have abandoned this submission, I would suggest giving @gdede-hua one month notice to return here with substantial updates otherwise I think we should reject this submission as abandoned by the author. What do you think?

[2022-09-10 11:21] arfon commented on #4311
@gkthiruvathukal – looks like we still need another reviewer here?

[2022-09-10 11:24] arfon commented on #4291
:wave: @frankecurtis – EiC of JOSS here. You can read more about our reviewing process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2022-09-10 11:29] arfon commented on #4257
@dhhagan – given that @MatthieuDartiailh has shown their willingness to start the review here (thank you @MatthieuDartiailh!) I think we should move this forward to the main review stage and look for a second reviewer once the submission is under review.

[2022-09-10 11:29] arfon commented on #4257
@editorialbot add @MatthieuDartiailh as reviewer

[2022-09-10 11:29] arfon commented on #4257
@editorialbot start review

[2022-09-10 11:29] editorialbot opened #4752 "[REVIEW]: SwiftVISA: Controlling Instrumentation with a Swift-based Implementation of the VISA Communication Protocol"
**Submitting author:** @ohildreth (<a href="http://orcid.org/0000-0001-5358-9080">Owen Hildreth</a>)
**Repository:** https://github.com/SwiftVISA/SwiftVISASwift.git
**Branch with paper.md** (empty if default branch):
**Version:** 0.2.0
**Editor:** @dhhagan
**Reviewers:** @MatthieuDartiailh, @jarrah42
**Archive:** 10.5281/zenodo.7767610

## Status

[![status](https://joss.theoj.org/papers/2c7d5cc7c

[2022-09-10 11:29] #4257 closed

[2022-09-10 11:30] arfon commented on #4257
@MatthieuDartiailh @OHildreth – see you over in #4752 where the actual review will take place.

[2022-09-10 11:32] arfon commented on #4752
Noting from the pre-review issue there are multiple repositories associated with this submission: https://github.com/orgs/SwiftVISA/repositories

[code]

[2022-09-10 11:32] arfon commented on #4752
@MatthieuDartiailh – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above. Please create your checklist typing:

[code]

As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS re

[2022-09-10 11:58] csoneson commented on #4677
@hseabolt Thank you! Please post the comments in this thread, or feel free to open issues directly in the software repository if that is easier (just mention this thread there so that we can keep an eye on what's going on).

[2022-09-10 11:59] csoneson commented on #4677
@mberacochea, @rcannood - could you update us on the state of your reviews? Thanks!

[2022-09-10 12:03] csoneson commented on #4494
Ping @hechth

[2022-09-10 14:30] arfon commented on #4052
@editorialbot set joss-submission as branch

[2022-09-10 14:32] arfon commented on #4052
@editorialbot generate pdf

[2022-09-10 14:40] arfon commented on #3761
:wave: @martinfleis – looks like this review has stalled somewhat?

[2022-09-10 14:41] jarrah42 commented on #4257
do you still need me to review this manuscript, or would it be better if I took a look at a different one?

[2022-09-10 14:42] arfon commented on #3665
:wave: @pibion – this submission is still waiting to go out for review. How are you getting on finding a second reviewer?

[2022-09-10 14:53] arfon commented on #2764
@mvandam, @frigaut, @andrewpaulreeves, @pibion – many thanks for your efforts here but it seems like the author no-longer wants to pursue this publication here.

[2022-09-10 14:53] arfon commented on #2764
@editorialbot withdraw

[2022-09-10 14:53] #2764 closed

[2022-09-10 15:45] Datseris commented on #4414
@arfon I am submitting a proposal to the EU this Tuesday, and I guess it would be beneficial for me to include this paper in my publication lists since it is accepted. Given that the bot has some difficulties, do you know perhaps what will be the assigned DOI for this paper so I can use that in my proposal? Thanks!

[2022-09-10 16:05] lpantano commented on #4236
thank @sdhutchins for the review, thank you @jvkersch to address this as soon as you can. I will be on top of this to try to move the acceptance quickly when all is done.

[2022-09-10 16:07] lpantano commented on #4363
Hi @cagret, do you have an idea on when you can work on the requests from the reviewers? it will give them an idea to be on top when they are done and try to speed up this. Thanks

[2022-09-10 16:32] MatthieuDartiailh commented on #4752
@editorialbot generate my checklist

[2022-09-10 16:57] hseabolt commented on #4677
@csoneson Thank you!  My review is below.

## General comments for the authors of ALPPACA, a Nextflow pipeline designed for prokaryotic phylogenetic and clustering analysis.

- The Nextflow code looks overall well designed and implemented -- why did the authors choose to include Shell wrapper scripts around Nextflow rather than just calling Nextflow and specifying the CLI arguments directly?
  Thi

[2022-09-10 17:16] ProfLeao commented on #4555
Hello @osorensen  the `recommend-accept` command is only for editors right? I have finished my review process, what should I do?

[2022-09-10 17:17] cagret commented on #4363
@swatimanekar I fixed all the review from the docx, except the square which indicates the end of the theorem. I didI did not regenerate the pdf. For the main review i don't understand "Given the non-dedicated tools like jellyfish and BFT, it's not completely clear to me that the time and memory as resource comparisons are fair", I only see time and RAM to compare tools that only use time and memor

[2022-09-10 17:21] lpantano commented on #4363
@editorialbot generate pdf

[2022-09-10 17:26] lpantano commented on #4363
@cagret can you check the error during compilation to make sure the document can be rendered. Maybe some issue with some references characters?thanks

[2022-09-10 17:49] cagret commented on #4363
Latexmk: If appropriate, the -f option can be used to get latexmk
  to try to force complete processing.
[makePDF] Run #1
Rc files read:
  NONE
Latexmk: Run number 1 of rule 'lualatex'
This is LuaHBTeX, Version 1.15.0 (TeX Live 2022)
 restricted system commands enabled.
Latexmk: Getting log file '/tmp/tex2pdf.-00f6c558cb30663e/input.log'
Collected error summary (may duplicate other messages):
  lu

[2022-09-10 17:51] cagret commented on #4363
@editorialbot generate pdf

[2022-09-10 18:18] osorensen commented on #4555
Thanks for completing your review @ProfLeao! You don't need to do more at this point.

[2022-09-10 18:55] blthayer commented on #4516
Update: I've begun my review, but am running into issues in the tutorial. See https://github.com/stinefm/relsad/issues/2

Please accept my apologies for the serious delays on my end in getting to this review.

[2022-09-10 19:31] cmorris2945 commented on #4745
Sorry, what's the issue here? I don't know what a "DOI" is?
This has to do with something about tagging electro-cardiac
data or something?

[2022-09-10 19:35] cagret commented on #4363
@editorialbot generate pdf

[2022-09-10 19:37] cagret commented on #4363
@editorialbot commands

[2022-09-10 19:38] cagret commented on #4363
@editorialbot check repository

[2022-09-10 19:39] jmschrei commented on #4749
Hi @rbturnbull @kthyng. I'm trying to assess whether this submission meets the requirement for substantial scholarly effort (**https://joss.readthedocs.io/en/latest/review_criteria.html#substantial-scholarly-effort**) and I'm having some difficulty, in part because I'm not as familiar with metagenomics as I am other fields of genomics. After reading the manuscript, the repo, and the associated doc

[2022-09-10 19:40] arfon commented on #4394
:wave: @ivastar – anything I can do to help you find reviewers here?

[2022-09-10 19:42] jmschrei commented on #4749
And also, just to clarify, are any of the workflow steps new ones that you're proposing, or are all of them just wrappers for commonly used code that others have developed? The latter is not a problem, but I wanted to make sure I understood the contribution correctly.

[2022-09-10 19:59] mbarzegary commented on #4745
hi, sure, will be a pleasure to help reviewing this submission.

[2022-09-10 20:08] cagret commented on #4363
@editorialbot generate pdf

[2022-09-10 20:16] cagret commented on #4363
@editorialbot check references

[2022-09-10 20:21] cagret commented on #4363
@editorialbot check references

[2022-09-10 20:26] cagret commented on #4363
@editorialbot check references

[2022-09-10 20:27] cagret commented on #4363
@editorialbot generate pdf

[2022-09-10 20:32] cagret commented on #4363
@lpantano hi, I don't understand the error, with This is pdfTeX, Version 3.141592653-2.6-1.40.24 (TeX Live 2022/Debian) (preloaded format=pdflatex) it compiles without any error.
If you can get help I'm interested.
Thanks in advance

[2022-09-10 20:49] faroit commented on #4726
@oliviaguest Thanks for the invite. I would be able to handle another review at this time but this submission seems too much outside of my domain. Both, in terms of programming language (no Java background) and in the field of research (NLP). The submission looks really good so think it deserves an editor with more expertise. I therefore decline.

[2022-09-10 20:58] gkthiruvathukal commented on #4311
@arfon Oops, I will get on it shortly.

[2022-09-10 21:34] cmorris2945 commented on #4745
Ok, what's the submission about?

[2022-09-11 01:57] ojeda-e commented on #4467
Thanks for addressing all my comments @Xia-Yijie. And thanks, @hmacdope for your review.
Since the author has made all the suggested modifications, I approve this submission.

[2022-09-11 02:01] hmacdope commented on #4467
@Xia-Yijie congratulations. It is recommended that you make a new git tag and archive it on Zenodo or similar. See the docs [here](https://joss.readthedocs.io/en/latest/editing.html).

Other than that @richardjgowers we are good to roll. 👍👍

[2022-09-11 05:08] LTLA commented on #4742
Thanks @jsun.

**(1)** Your comment prompted me to restructure the vignette to highlight the different pieces of information for different target audiences. Specifically, I made one section explicitly for package developers, and one section explicitly for end users. Admittedly this isn't close to what you suggested, but hear me out...

The (former) Section 3.4 was intended for package developers,

[2022-09-11 06:59] Kevin-Mattheus-Moerman commented on #4650
@vahid-sb thank again for your help here. Can you pick up this review again. I see you several boxes unticked. Can you summarise to @cbrnr what actions you expect for these?

@tuliofalmeida looks like all your boxes are ticked. Would you be happy to formally recommend acceptance? Thanks again for your help!

[2022-09-11 07:02] Kevin-Mattheus-Moerman commented on #4118
@editorialbot recommend-accept

[2022-09-11 07:03] Kevin-Mattheus-Moerman commented on #4118
@editorialbot generate pdf

[2022-09-11 07:15] Kevin-Mattheus-Moerman commented on #4118
@CZHU20 since all reviewers are now happy we are ready to process this work for acceptance in JOSS. There a couple of steps remaining.

On the paper, I have read it and it looks good, I only have the following minor editorial comments:
- [ ] Please add the city and country to each of your affiliations. Do not use acronyms for countries, e.g. please spell out USA as United States of America.
- [ ]

[2022-09-11 07:18] Kevin-Mattheus-Moerman commented on #4564
@vferat @mscheltienne can you estimate how long it will take to address the reviewers comments? It would be good to process these as soon as you are able to, to avoid the risk of loosing track of reviewers for instance.
If you expect it to take very long I can suggest to `pause` this submission for now. This way I leave it up to you to inform us to resume review. But once again, it would be a sham

[2022-09-11 07:24] Kevin-Mattheus-Moerman commented on #4389
@nicoguaro, @likask, @lizarett can you provide an update on review progress or what is still outstanding? It looks like @JulianKarlBauer has addressed several points.

@lizarett can you check if you are now happy to tick that last box and recommend acceptance?

@likask can you check the response to your comments? :point_up: https://github.com/openjournals/joss-reviews/issues/4389#issuecomment-1212

[2022-09-11 07:25] Kevin-Mattheus-Moerman commented on #4389
@JulianKarlBauer apologies for the slow response from my end. Semester has started again so I was snowed under quite a bit. I have pinged the reviewers just now so hopefully the pace will pick up now again soon.

[2022-09-11 07:27] Kevin-Mattheus-Moerman commented on #3736
@clarka34, @quynhneo can you please pick up the review process again? It looks like @fibreglass2 made several changes, and responded to your feedback.

[2022-09-11 07:28] Kevin-Mattheus-Moerman commented on #4252
@vijaysm, @mscroggs, @schruste it looks like @yangbai90 has made quite a few changes. Can you pick up the review again at this point and summarize any remaining issues? Thanks!

[2022-09-11 07:29] Kevin-Mattheus-Moerman commented on #4211
@oriolcg please can you get back to us on this review? Thanks!

[2022-09-11 07:49] finsberg commented on #4745
@cmorris2945  You can read more about the submission here: https://github.com/ComputationalPhysiology/simcardems but in short it is a library for performing cardiac electro-mechanics simulations

[2022-09-11 09:14] sdelandtsheer commented on #4745
Sure, I have time to review this submission later this week

[2022-09-11 10:06] mscheltienne commented on #4564
I don't think a pause is necessary. On my side, I plan on finishing this up in the last week of September.

[2022-09-11 10:08] tuliofalmeida commented on #4650
Hi @Kevin-Mattheus-Moerman, sorry for not doing this sooner. I recommend acceptance, the interface worked well in my tests and has good documentation. I understand that the features of the MNE will be implemented in the future, and they met what they proposed.

[2022-09-11 10:43] rbturnbull commented on #4749
Thanks for the messages @jmschrei. We will respond in the next couple of days when we're back on deck at work.

[2022-09-11 10:52] Matthew-Jennings commented on #4555
Almost! The outstanding items are:

1. An open PR with the statement of need on its own page but directly linked to in the opening paragraph of the README. This will likely be pulled in very soon. We hope this is acceptable to you, @gbaltz. If it's not too much trouble, we'd would prefer not to have the statement of need text directly in the README.
2. We haven't yet addressed @gbaltz's suggestion

[2022-09-11 11:16] vahid-sb commented on #4650
@Kevin-Mattheus-Moerman I have opened an Issue in the MNELAB repo two weeks ago, currently includes two issues needs resolving, and have been waiting for the authors to resolve those issues. When done I can continue with the review.

[2022-09-11 11:31] arfon commented on #4475
:wave: @Jammy2211 – how are you getting along making your updates based on the reviewer feedback?

[2022-09-11 11:38] arfon commented on #4448
:wave: @fabian-s – it looks like the reviews might have stalled here?

[2022-09-11 11:41] arfon commented on #3968
@editorialbot set https://github.com/Qiskit/rustworkx as repository

[2022-09-11 14:42] fabian-s commented on #4448
@arfon yes, sorry, seems so. I lost track of this over the summer.

@zStupan very sorry for the delay. I tend to agree that the open points left in @diegomcarvalho checklist all seem to be present in the repo.

@diegomcarvalho please confirm that the items missing in your checklist are satisfied in the repo or open issues/provide some additional feedback on the specific points that you feel need a

[2022-09-11 14:43] fabian-s commented on #4403
@arfon - I agree & sorry for the lack of follow-up from my side - will do better going forward

[2022-09-11 15:04] danielskatz commented on #4277
@kris-rowe - do you have an update?

[2022-09-11 15:09] danielskatz commented on #4586
@Ajstros - given the wait, I'll go ahead and edit this submission.

[2022-09-11 15:09] danielskatz commented on #4586
@editorialbot assign me as editor

[2022-09-11 15:10] danielskatz commented on #4586
👋 @untzag - Would you be willing to review this JOSS submission?

[2022-09-11 15:11] danielskatz commented on #4586
👋 @ixjlyons - Would you be willing to review this JOSS submission?

[2022-09-11 15:11] danielskatz commented on #4586
👋 @sptennak - Would you be willing to review this JOSS submission?

[2022-09-11 15:12] danielskatz commented on #4649
👋 @pdebuyl - Would you be able to edit this submission? (asking again...)

[2022-09-11 15:12] danielskatz commented on #4649
@editorialbot invite @pdebuyl as editor

[2022-09-11 15:16] danielskatz commented on #4660
👋 @matteoettam09 - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software

[2022-09-11 15:16] danielskatz commented on #4660
@editorialbot reject

[2022-09-11 15:16] #4660 closed

[2022-09-11 15:19] danielskatz commented on #4701
👋 @martinfleis - Would you be able to edit this JOSS submission?

[2022-09-11 15:19] danielskatz commented on #4701
@editorialbot invite @martinfleis as editor

[2022-09-11 15:22] danielskatz commented on #4715
@jdiasn - this has passed the JOSS scope query, so it can be reviewed, with the expectation that reviewers may have suggestions regarding examples and documentation

[2022-09-11 15:23] danielskatz commented on #4715
👋 @elbeejay - Would you be willing to edit this submission?

[2022-09-11 15:23] danielskatz commented on #4715
@editorialbot invite @elbeejay as editor

[2022-09-11 15:26] danielskatz commented on #4734
👋 @equitable-equations - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-so

[2022-09-11 15:26] danielskatz commented on #4734
@editorialbot reject

[2022-09-11 15:26] #4734 closed

[2022-09-11 15:43] martinfleis commented on #4701
@danielskatz I'm afraid this is beyond my expertise. Sorry!

[2022-09-11 15:44] danielskatz commented on #4701
👋 @fabian-s - would you be able to edit this JOSS submission?

[2022-09-11 15:44] danielskatz commented on #4701
@editorialbot invite @fabian-s as editor

[2022-09-11 15:50] danielskatz commented on #4303
Hi @SietzeN - I'm the AEiC who will do the final processing of your submission. I'm suggesting a few small changes in https://github.com/SietzeN/glottospace/pull/123. Please merge this, or let me know what you disagree with, and we can move to acceptance and publication.

[2022-09-11 15:52] danielskatz commented on #4731
👋 @nathansam - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS, even though it has passed peer-review via rOpenSci.  Please see https://joss.readthedocs.io/en/latest/submitting.html#ot

[2022-09-11 15:52] danielskatz commented on #4731
@editorialbot reject

[2022-09-11 15:52] #4731 closed

[2022-09-11 16:51] lorenzo-rovigatti commented on #4693
I never thought that oxDNA would be so intimidating to potential reviewers :p

[2022-09-11 18:41] stinefm commented on #4516
Hi @blthayer, @fraukewiese,

Thank you for the thorough feedback! I have been working on improvements based on the task lists you have provided. I have tried to respond to all the provided suggestions where I have ticked off the tasks I have addressed. Below is a summary of the issues.

**Configuration Suggestions:**
Thank you for the good suggestions, I totally agree that including everything in

[2022-09-11 18:57] ivastar commented on #4394
@arfon thanks for the offer! I have reached out to 7 potential reviewer so far. Still waiting on several responses.

[2022-09-11 18:58] fabian-s commented on #4701
Sure, I can handle this submission.

[2022-09-11 19:33] jdiasn commented on #4715
@editorialbot generate pdf

[2022-09-11 19:33] Rupali-Sahu commented on #4672
This is a good initiative and I hope it can be extended to incorporate other plasma dynamics and higher dimensions as well.

I am working remotely on a company laptop which doesn't allow third party installations, so I cannot comment on the functionality or documentation of the code. I hope that is not a problem. I have a few questions/concerns regarding the computational model and the physics bei

[2022-09-11 19:53] AoifeHughes commented on #4745
@editorialbot add @mbarzegary as reviewer

[2022-09-11 19:54] AoifeHughes commented on #4745
@editorialbot add @sdelandtsheer as reviewer

[2022-09-11 19:55] AoifeHughes commented on #4745
@editorialbot start review

[2022-09-11 19:55] editorialbot opened #4753 "[REVIEW]: simcardems: A FEniCS-based cardiac electro-mechanics solver"
**Submitting author:** @finsberg (<a href="http://orcid.org/0000-0003-3766-2393">Henrik Nicolay Topnes Finsberg</a>)
**Repository:** https://github.com/ComputationalPhysiology/simcardems
**Branch with paper.md** (empty if default branch): master
**Version:** v2023.0.0
**Editor:** @AoifeHughes
**Reviewers:** @mbarzegary, @sdelandtsheer
**Archive:** https://doi.org/10.5281/zenodo.7503468

## Status

[2022-09-11 19:55] #4745 closed

[2022-09-11 19:55] AoifeHughes commented on #4745
Fantastic @mbarzegary and @sdelandtsheer thanks for agreeing! We can get this show on the road :)

[2022-09-11 20:42] danielskatz commented on #4701
Thanks @fabian-s - I'll assign it to you, but also please remember you can do this yourself via `@editorialbot assign @fabian-s as editor` next time

[2022-09-11 20:42] danielskatz commented on #4701
@editorialbot assign @fabian-s as editor

[2022-09-11 21:02] lizarett commented on #4389
all ticked

[2022-09-11 21:17] mbarzegary commented on #4753
@editorialbot generate my checklist

[2022-09-12 01:01] jsun commented on #4742
Thanks, @LTLA, sounds good! By the way, I checked the vignette hosted on the Bioconductor website last time; this time I downloaded the vignette source from the github main branch.

- For (1), I understood your opinion, as the main targets of basilisk are software developers;
- for (2), I can check the sample codes about `sklearn`, thanks (This is a great package, I'll use this in my research soon

[2022-09-12 02:16] cmorris2945 commented on #4745
ok thanks

[2022-09-12 03:42] harveyaa commented on #4321
Hi @dfm, I'm very sorry for the delay. I responded to all but one of the issues, which is only waiting on a pypi update and will be done shortly. Thank you for your patience and time!!

[2022-09-12 06:57] oliviaguest commented on #4726
hi @ajstewartlang, do you think you could take this on — perhaps after you have a chance to reduce your load? 😊

[2022-09-12 06:58] faroit commented on #4434
@editorialbot generate pdf

[2022-09-12 07:12] fraukewiese commented on #4516
@robinroche : Are you satisfied with the improvements connected to your comments and suggestions?

[2022-09-12 07:13] fraukewiese commented on #4516
@blthayer : Are the issues you mentioned in the tutorial solved from your point of view?

[2022-09-12 07:15] fraukewiese commented on #4472
@chrklemm , @euronion : Are you satisfied with the changes and improvements made?

[2022-09-12 07:19] fraukewiese commented on #4712
@brynpickering , @fneum , @EwaGomez : Would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
The submission under review here is [CLOVER: A modelling framework for sustainable community-scale energy systems #4712](https://github.com/CLOVER

[2022-09-12 07:21] faroit commented on #4434
@editorialbot start review

[2022-09-12 07:21] editorialbot opened #4754 "[REVIEW]: TLViz: Visualising and analysing tensor decomposition models with Python"
**Submitting author:** @marieroald (<a href="http://orcid.org/0000-0002-9571-8829">Marie Roald</a>)
**Repository:** https://github.com/tensorly/viz
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.1.6
**Editor:** @faroit
**Reviewers:** @sara-02, @yiitozer
**Archive:** 10.5281/zenodo.7274925

## Status

[![status](https://joss.theoj.org/papers/43044545885a3e47b35c6775530a67

[2022-09-12 07:21] #4434 closed

[2022-09-12 07:23] fabian-s commented on #4701
:wave: @s-canchi  @mmrabe @mcavs
Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-09-12 07:31] eloisabentivegna commented on #4651
@ptiede, could you help with this submission?

[2022-09-12 07:33] faroit commented on #4754
👏 @MarieRoald @@sara-02 @yiitozer - this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please check an

[2022-09-12 07:48] AoifeHughes commented on #4559
Hi, @KonradHoeffner does this seem like something you could review?

[2022-09-12 07:52] KonradHoeffner commented on #4559
@AoifeHughes: Sure, I would be happy to review the paper!

[2022-09-12 08:02] ajstewartlang commented on #4726
Thanks @oliviaguest - yes, happy to :-)

[2022-09-12 08:18] adi3 commented on #3527
@malmaud - thanks so much for completing your review and recommending the paper!
@rMassimiliano - would you be able to finish the remainder of your checklist this month? Anything that the author can assist with?

[2022-09-12 08:27] adi3 commented on #4671
@mmpourhashem - Thank you for agreeing to review this paper! We track all progress and discussion in Github threads for full transparency. You can learn more about our reviewing guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Once we find a second reviewer, I'll get this review kicked off.

[2022-09-12 08:39] arfon commented on #4744
@WEgeophysics – to assist here could you please provide a link to a diff that demonstrates the differences between the version of the software associated with your [earlier paper](https://doi.org/10.1016/j.jappgeo.2022.104647) and this current version submitted here at JOSS? You can find out how to do this here: https://docs.github.com/en/pull-requests/committing-changes-to-your-project/viewing-an

[2022-09-12 08:44] hugoledoux commented on #4593
I should be, for the final version the line numbers are removed.

[2022-09-12 08:48] hugoledoux commented on #4593
Two issues that need to be fixed:

1. the name of the 2nd author is not the same in zenodo/orcid and here: "M.J." is added. They should be the same!
2. I noticed that in the title and in the paper python is written with a small p, but it should be Python with a capital P. Can you fix, also in the title? And thus in zenodo title too?

[2022-09-12 08:53] d-eggert commented on #4052
I expanded the mentioned installation instructions.

By the end of the week I will have updated the paper to address the state of field and provided some testing for the progress api package, so @pritchardn will be able to finish the review.

[2022-09-12 08:55] d-eggert commented on #4052
@cjwu please formulate some clear points that I can address, so you can finish your review as well.

Best,
Daniel

[2022-09-12 08:56] arfon commented on #4414
@xuanxu – can you take a look at the error from this submission? It looks like it might be associated with the JATS file uploads? https://github.com/openjournals/joss-papers/runs/8283823992?check_suite_focus=true#logs

[2022-09-12 08:56] arfon commented on #4414
@Datseris – the DOI will be `10.21105/joss.04414` 

[2022-09-12 08:58] WEgeophysics commented on #4744
https://github.com/WEgeophysics/pycsamt/compare/v1.1.2...master

[2022-09-12 09:08] Jammy2211 commented on #4475
Got overwhemed with deadlines this month, things finally clear up this week so will get them sorted!

[2022-09-12 09:10] hugoledoux commented on #4015
@editorialbot generate pdf

[2022-09-12 09:12] cbrnr commented on #4650
I'm back from vacation today and I will start working on the open issues! I'll also comment here once they have been resolved.

[2022-09-12 09:23] JulianKarlBauer commented on #4389
Thank you for your help and commitment. I appreciate the volunteer work of you, lizarett and likask very much!

[2022-09-12 09:31] nathansam commented on #4731
Absolutely no worries, thank you for you consideration.

[2022-09-12 09:35] hechth commented on #4494
@csoneson Sorry for the delay and absence - I think we fixed all issues that were mentioned in the review, I am now testing the newly deployed version on our Galaxy instance to make sure everything runs also smoothly in production. I will make a release on Zenodo with that version afterwards so we can continue with the publication process :).

Thank you very much for your time and patience.

[2022-09-12 09:37] SietzeN commented on #4303
Hi @danielskatz !
Thanks a lot for your message. I've just merged the pull request.
All the best,
Sietze

[2022-09-12 09:52] hugoledoux commented on #4015
@editorialbot check references

[2022-09-12 09:54] hugoledoux commented on #4015
@zarrarkhan thanks, everything looks good in the paper and the docs.

I have 2 small comments/questions:

1. what are ggplot "arguments"? (l.53+56). I don't use ggplot and I wouldn't know what you're referring to, perhaps just use "functionalities"?
2. the reference for Pebesma simple feature has the name of the journal missing, and then the github repo is cited. To fix.

[2022-09-12 10:04] elboyran commented on #4493
Dear @Athene-ai ,

Could you, please, elaborate on your suggestions, especially for "The reviewer suggests to revise the way of writing this paper"?

[2022-09-12 10:33] xuanxu commented on #4414
@arfon it was an error when uploading files in subfolders. Please try again, it should be fixed now.

[2022-09-12 10:34] kavir1698 commented on #4750
Hello,
We would like to suggest the following reviewers: tpoisot, arbennett.

[2022-09-12 10:36] Athene-ai commented on #4493
Sure @elboyran

Here there are more comments

_Quality of writing: Is the paper well written (i.e., it does not require editing for structure, language, or writing quality)? : The reviewer suggests to revise the way of writing this paper_  With this expression I would like to say that the author should better write the paper

[2022-09-12 10:45] AoifeHughes commented on #4559
@editorialbot add @KonradHoeffner as reviewer

[2022-09-12 10:48] AoifeHughes commented on #4559
@editorialbot start review

[2022-09-12 10:48] editorialbot opened #4755 "[REVIEW]: Fastsubtrees: simple and efficient subtrees extractions in Python with applications to NCBI taxonomy"
**Submitting author:** @ggonnella (<a href="http://orcid.org/0000-0003-3900-5397">Giorgio Gonnella</a>)
**Repository:** https://github.com/ggonnella/fastsubtrees
**Branch with paper.md** (empty if default branch): main
**Version:** 2.1
**Editor:** @kellyrowland
**Reviewers:** @vinisalazar, @KonradHoeffner
**Archive:** 10.5281/zenodo.7312100

## Status

[![status](https://joss.theoj.org/papers/3937

[2022-09-12 10:48] #4559 closed

[2022-09-12 10:48] AoifeHughes commented on #4559
@editorialbot start review

[2022-09-12 11:06] danielskatz commented on #4303
@editorialbot accept

[2022-09-12 11:16] danielskatz commented on #4303
Congratulations to @SietzeN (Sietze Norder) and co-authors!!

And thanks to @fauxneticien and @skalyan91 for reviewing, and to @ajstewartlang for editing!
We couldn't do this without you

[2022-09-12 11:24] SietzeN commented on #4303
Thanks again @danielskatz @ajstewartlang @skalyan91 @fauxneticien !!

[2022-09-12 11:37] ivastar commented on #4653
@editorialbot add @pgrete as reviewer

[2022-09-12 11:39] ivastar commented on #4653
@editorialbot start review

[2022-09-12 11:39] editorialbot opened #4756 "[REVIEW]: libcdict: fast dictionaries in C"
**Submitting author:** @robizzard (<a href="http://orcid.org/0000-0003-0378-4843">Robert G Izzard</a>)
**Repository:** https://gitlab.com/robizzard/libcdict
**Branch with paper.md** (empty if default branch):
**Version:** 1.41
**Editor:** @ivastar
**Reviewers:** @langmm, @pgrete
**Archive:** 10.5281/zenodo.10287855

## Status

[![status](https://joss.theoj.org/papers/60386e415c9dcfbc8594b4a5c765d9

[2022-09-12 11:39] #4653 closed

[2022-09-12 11:48] elboyran commented on #4493
Thank you, but I am still unclear in what respect it should be better? The (English) language? The length? The structure? Anything else?

[2022-09-12 11:54] Athene-ai commented on #4493
English language

On Monday, 12 September 2022, Elena Ranguelova ***@***.***>
wrote:

--
Daniela Cialfi, PhD

---------------------

Postdoctoral researcher
University "G.D'Annunzio" - Chieti Pescara
Viale Pindaro 42 - 65127 Pescara ( Italy )
Tel. +39 3930571128
Email: ***@***.***
<
https://webmail.unich.it/horde/imp/message.php?mailbox=INBOX.sent-mail&index=37#>

[2022-09-12 12:07] lucydot commented on #4459
@editorialbot generate pdf

[2022-09-12 12:07] lucydot commented on #4459
@editorialbot check references

[2022-09-12 12:10] lucydot commented on #4672
Hi thanks @Rupali-Sahu for your feedback so far. RE:

This is not necessary for a JOSS submission.

@StanczakDominik are you able to take a look at this code over the next few weeks?

[2022-09-12 12:13] lucydot commented on #4459
Ok @VHchavez, looks good to me now - I'll ping the editors-in-chief team

[2022-09-12 12:14] VHchavez commented on #4459
Awesome. Thank you :) @lucydot

[2022-09-12 12:15] lucydot commented on #4459
@editorialbot set 10.5281/zenodo.7039713 as archive

[2022-09-12 12:15] lucydot commented on #4459
@editorialbot set v0.9.1 as version

[2022-09-12 12:15] lucydot commented on #4459
@editorialbot reocommend-accept

[2022-09-12 12:16] lucydot commented on #4459
@editorialbot recommend-accept

[2022-09-12 12:35] danasolav commented on #4362
@davidpagnon the DOIs are fine.
Please edit the Zenodo metadata (title and authors) such that they are identical to the paper. After that, I can recommend acceptance.

[2022-09-12 12:38] danielskatz commented on #4459
@VHchavez - I'm the AEiC who will finalize this.  I see a few changes needed, as shown in https://github.com/wasserman-group/pyCADMium/pull/11 - please merge this, or let me know what you disagree with, then we can continue to acceptance and publication.

[2022-09-12 12:41] jarvist commented on #4504
Dear @lbluque and @TomTranter my apologies, I certainly could have been more communicative.
I have been attempting to contact Kit weekly, but with no response this side of summer.

I will extend the invitation to review.
But also, @kitmccoll, you are very welcome to contribute now if you've been away over summer.

[2022-09-12 12:42] jarvist commented on #4414
@editorialbot recommend-accept

[2022-09-12 12:45] adi3 commented on #4071
@Rehablab - We need a response from you to determine whether you're still interested in proceed with this review. If we do not hear back from you by the end of September, I will proceed to reject this submission. Let me know if I can help in any way meanwhile.

[2022-09-12 12:46] adi3 commented on #4071
@editorialbot commands

[2022-09-12 12:46] jarvist commented on #4656
I'm sorry to say that neither of the first two contacted reviewers replied to the invitation. I've followed up with them, but will also look for additional / alternative reviewers.

[2022-09-12 12:47] jarvist commented on #4656
@SYalouz did you update the paper?

[2022-09-12 12:49] jarvist commented on #4414
Sorry @xuanxu  - I don't have an inkling what that error could be. Is 'Theiler' a reference perhaps?
@arfon  - any ideas?

[2022-09-12 12:50] haagadev commented on #4414
@jarvist Theiler is one of the references, but I can't decipher the error message any further than that. The reference seems ok in the markdown file from what I can gather.

[2022-09-12 12:51] kahaaga commented on #4414
@jarvist Theiler is one of the references, but I can't decipher the error message any further than that. The reference seems ok in the markdown file from what I can gather.

[2022-09-12 13:00] the-hampel commented on #4623
Hi, thank you all for your feedback so far. We (all authors) are working on the reports / issues this week and have a meeting scheduled later this week to finalize corrections.

[2022-09-12 13:03] jarvist commented on #4414
I wonder if it's the `Andr{\'{e}}` markup in the author list, if Theiler:1992 is the one it's triggering on. But then Lucio:2012 should also be causing problems.

[2022-09-12 13:04] EwaGomez commented on #4712
@fraukewiese - If the review could wait another 3-4 weeks, I will be able to do it. The topic is quite interesting. So keep me in mind in case you don't find a reviewer, who has more time at the moment.

[2022-09-12 13:44] danasolav commented on #4362
Great! One last editorial request, and sorry for not noticing it earlier: could you please use lowercase in the title for "open-source" and "package"?

[2022-09-12 13:50] davidpagnon commented on #4362
Okay no problem, it is done both on the github repository and on the zenodo metadata

[2022-09-12 14:02] VHchavez commented on #4459
Hello @danielskatz. Merged.

[2022-09-12 14:06] danielskatz commented on #4459
@editorialbot accept

[2022-09-12 14:08] adonath commented on #4626
@editorialbot add @benediktdiemer as reviewer

[2022-09-12 14:14] p-ortmann commented on #4593
@editorialbot generate pdf

[2022-09-12 14:15] danielskatz commented on #4459
Congratulations to @VHchavez (Victor Hugo Gonzalez Chavez) and co-authors!!

And thanks to @raghurama123 and @srmnitc for reviewing, and @lucydot for editing!
We couldn't do this without you

[2022-09-12 14:15] #4459 closed

[2022-09-12 14:22] mberacochea commented on #4677
Busy last couple of weeks. I'm aiming to get the review done this week.

[2022-09-12 14:25] p-ortmann commented on #4593
done!

[2022-09-12 14:28] danasolav commented on #4362
@editorialbot generate pdf

[2022-09-12 14:30] danasolav commented on #4362
@editorialbot set 10.5281/zenodo.7064026 as archive

[2022-09-12 14:31] danasolav commented on #4362
@editorialbot set <v0.2.2> as version

[2022-09-12 14:33] danasolav commented on #4362
@editorialbot set v0.2.2 as version

[2022-09-12 14:33] danasolav commented on #4362
@editorialbot recommend-accept

[2022-09-12 14:38] danasolav commented on #4747
@vboomi, @raolivei13 the review process takes place here.
Please see the instructions in the thread above (generate your checklists etc.) and in this [link](https://joss.readthedocs.io/en/latest/review_criteria.html).
Thanks!

[2022-09-12 14:44] danielskatz commented on #4362
@davidpagnon - I'm the AEiC on duty this week, and I'll be proof-reading this submission fairly soon, then will either suggest changes or will proceed with acceptance and publication.

[2022-09-12 14:44] pdebuyl commented on #4575
Thanks for the update @RupeshJey , let us know when it is appropriate for the reviewers to take a new look at the repository/doc/paper.

[2022-09-12 15:08] kthyng commented on #4749
@jmschrei Thanks for your comments. Given this, a scope query is appropriate to ping the editorial board and gather a consensus about the fit of this submission for JOSS. I'll start that process.

@rbturnbull It'd be helpful if you can address @jmschrei's comments in the meantime so we can consider that information alongside your submission. This process will take 1-2 weeks.

[2022-09-12 15:09] malmans2 commented on #4366
Hi @marcosvital, apologies for the late reply!

@NRaillard thanks for addressing my previous comments. I have a couple of additional comments/issues, then I think the package is ready for publication:
- [ ] I'm not able to check whether the CI is properly working. I can see the CI configuration files in the repository, but I can't find a link to the actual CI actions/logs. Could you please share t

[2022-09-12 15:12] kthyng commented on #4750
@Bisaloo Ok no problem! Can you edit your [editor page](https://joss.theoj.org/editors/120/edit) to update your availability? A comment for when you're available again would be useful, and change your availability to 0 for now.

@kavir1698 I need to waitlist your submission while we wait for an appropriate editor to become available. Thanks for your patience.

[2022-09-12 15:15] vinisalazar commented on #4755
@editorialbot generate my checklist

[2022-09-12 15:16] kthyng commented on #4745
@cmorris2945 Sorry there must have been some confusion with the text in this issue — DOI is about references in the paper associated with this submission (Digital Object Identifier), not about the submission software itself. Looks like the submission has two reviewers so the review has begun, but thank you for your interest!

[2022-09-12 15:17] kthyng commented on #4743
@jgostick Awesome! It's hard to know what is the best fit from this end of things :)

[2022-09-12 15:29] pdebuyl commented on #4329
Hi @sixpearls is this the kind of verification that you have in mind?

![teacup](https://user-images.githubusercontent.com/1121690/189694197-1a2f52c9-dddc-4716-8282-c94b9435c108.png)

it is the teacup example with an exponential of "70 + (T0-70) * exp(t / t0)"

[2022-09-12 15:40] SYalouz commented on #4656
Dear @jarvist,

Sorry to hear that. I hope they will give an answer soon.

To answer to your question : yes I included the references you mentioned.

[2022-09-12 15:40] mmrabe commented on #4701
Thank you for considering me as a reviewer! I will be on parental leave between 2022-09-14 and 2022-10-16, and will therefore not be able to review this submission in the next couple of weeks.

[2022-09-12 15:53] danielskatz commented on #4362
I've suggested some changes in https://github.com/perfanalytics/pose2sim/pull/10, mostly to use markdown rather than forcing formatting.

[2022-09-12 15:56] archermarx commented on #4672
Hi Rupali! Thank you for your feedback. Let me try and address some of the concerns. Note that many of these were not included in the paper due to the word limit. I don't know if you had a chance to look through the documentation, but many of these ought to be covered there.

Yes, this is a typo. It should say "perpendicular to the applied magnetic field"

I'm not sure these are necessarily lesser

[2022-09-12 15:58] timtroendle commented on #4261
👋 @noah80 and @jasondegraw, can you let us know what the status of your reviews are? We should really finish this up. Can you let us know whether further changes are necessary?

[2022-09-12 16:00] KonradHoeffner commented on #4755
## Functionality
### Installation
Installation only works with an undocumented workaround, see Documentation -> installation instructions
### Functionality
### Performance
I tried to run the fastsubtrees-construct script but it is not clear how exactly to reproduce the tables in the paper.
There should be a single parameterless script that runs all the benchmarks.
A Dockerfile that installs all ne

[2022-09-12 16:35] dshean commented on #4700
Hi @leouieda. Just wanted to confirm that the new repo addresses all of your requests. We can provide additional reviewer suggestions if needed. Thanks!

[2022-09-12 16:50] jarvist commented on #4656
@editorialbot generate pdf

OK! Let's regenerate the PDF so the potential reviewers see the latest version if they click through to here.

[2022-09-12 16:51] ajstewartlang commented on #4726
@editorialbot assign me as editor

[2022-09-12 16:54] ajstewartlang commented on #4206
@editorialbot set v2.4.2 as version

[2022-09-12 16:54] ajstewartlang commented on #4206
@editorialbot set 10.5281/zenodo.7040450 as archive

[2022-09-12 16:57] ajstewartlang commented on #4206
Many thanks @rowlandseymour and @MikeLydeamore for your really helpful and detailed reviews - and many thanks @n8thangreen for a great submission!

[2022-09-12 16:57] ajstewartlang commented on #4206
@editorialbot recommend-accept

[2022-09-12 17:00] ajstewartlang commented on #4517
:wave:

@stain and @hoechenberger - just checking in to see how your reviews of this submission are going?

[2022-09-12 17:02] nicoguaro commented on #4389
@editorialbot generate pdf

[2022-09-12 17:06] sixpearls commented on #4329
@pdebuyl  Yes, this a stable, linear, first-order system with a known analytic solution. The verification should show error as the step-size of the Euler method changes. Best,

[2022-09-12 17:51] danielskatz commented on #4206
@n8thangreen - I'm the AEiC currently working on accepting and publishing your paper.  I'm suggesting some style changes in https://github.com/n8thangreen/BCEA/pull/121 and https://github.com/n8thangreen/BCEA/pull/122 - please merge these, or let me know what you disagree with, then we can proceed

[2022-09-12 18:15] danielskatz commented on #4206
@editorialbot recommend-accept

(making sure the changes worked right)

[2022-09-12 18:20] danielskatz commented on #4206
@editorialbot accept

[2022-09-12 18:34] danielskatz commented on #4206
Congratulations to @n8thangreen (Nathan Green) and co-authors!!

And thanks to @rowlandseymour and @MikeLydeamore for reviewing, and to @ajstewartlang for editing!
We couldn't do this without you

[2022-09-12 18:34] #4206 closed

[2022-09-12 19:10] xuanxu commented on #4414
I think the error is caused by a [reference](https://github.com/JuliaDynamics/TimeseriesSurrogates.jl/blob/main/paper/paper.md?plain=1#L50) to `Theiler:1991` in the paper that can't be found in the bib file

[2022-09-12 19:30] raolivei13 commented on #4747
@editorialbot generate my checklist

[2022-09-12 19:53] kahaaga commented on #4414
@jarvist The year was indeed wrong for one of the references to the Theiler paper. It it fixed in the `main` branch on the repo now.

[2022-09-12 19:55] danielskatz commented on #4414
@editorialbot recommend-accept

[2022-09-12 19:58] danielskatz commented on #4414
@jarvist - Please confirm that the files look ok and you are ready for this to go to me (as the AEiC on duty)

[2022-09-12 20:00] jarvist commented on #4414
Looking good to me!

[2022-09-12 20:00] jgostick commented on #4743
@editorialbot add @espottesmith as reviewer

[2022-09-12 20:01] jgostick commented on #4743
@editorialbot add @fwitte as reviewer

[2022-09-12 20:01] jgostick commented on #4743
@editorialbot begin review

[2022-09-12 20:02] jgostick commented on #4743
@editorialbot start review

[2022-09-12 20:02] editorialbot opened #4757 "[REVIEW]: PYroMat: A Python package for thermodynamic properties"
**Submitting author:** @jranalli (<a href="http://orcid.org/0000-0002-8184-9895">Joseph Ranalli</a>)
**Repository:** https://github.com/chmarti1/PYroMat
**Branch with paper.md** (empty if default branch): joss2022
**Version:** 2.2.4
**Editor:** @jgostick
**Reviewers:** @espottesmith, @fwitte
**Archive:** 10.5281/zenodo.7262173

## Status

[![status](https://joss.theoj.org/papers/42d6ea5759b5467dad

[2022-09-12 20:02] #4743 closed

[2022-09-12 20:04] jasondegraw commented on #4261
@timtroendle Looks like I didn't post here after I completed my checklist back in August, sorry about that. My concerns have been addressed based on what I saw in the repo.

[2022-09-12 20:15] olejandro commented on #4261
@timtroendle, sorry for the long silence! I will update the status this week

[2022-09-12 20:17] danielskatz commented on #4414
me too

[2022-09-12 20:17] danielskatz commented on #4414
@editorialbot accept

[2022-09-12 20:17] jarvist commented on #4504
Some additional reviewers invited by email.

[2022-09-12 20:19] jarvist commented on #4656
OK, two further reviewers invited by email.

By the way, if anyone has contact for Thomas E. Baker that might be useful (I attempted to invite him in the first round, and again now). His York.ac.uk address bounces, his Twitter does not accept DMs, and I have not been able to find updated contact details.

[2022-09-12 20:21] jarvist commented on #4414
Congratulations! Apologies that I did not notice this being stuck in purgatory between myself & the editor in chiefs these last 21 days.

[2022-09-12 20:25] danielskatz commented on #4414
Congratulations to @kahaaga (Kristian Agasøster Haaga) and co-author!!

And thanks to @lucaferranti and @dawbarton for reviewing, and to @jarvist for editing!
We couldn't do this without you

[2022-09-12 20:25] #4414 closed

[2022-09-12 20:29] danielskatz commented on #4751
👋 @ianfhunter - thanks for your submission.
Due to the current workload of our editors, I'm going to put it on our waiting list until an appropriate editor is available.

[2022-09-12 20:32] danielskatz commented on #4750
👋 @mikldk - Would you be able to edit this submission?

[2022-09-12 20:32] danielskatz commented on #4750
@editorialbot invite @mikldk as editor

[2022-09-12 20:35] danielskatz commented on #4751
👋 @galessiorob - this is probably outside your traditional area, but do you think you could edit it for JOSS?

[2022-09-12 20:35] danielskatz commented on #4751
@editorialbot invite @galessiorob as editor

[2022-09-12 21:13] galessiorob commented on #4751
@editorialbot add @galessiorob as editor

[2022-09-12 21:37] zarrarkhan commented on #4015
Thanks @hugoledoux. Both comments addressed as follows in latest push:
http://res.cloudinary.com/hkvhhndao/image/upload/v1663018510/xpwhvwopcw7c7jm9q3ir.pdf

1. Updated to say ggplot `functionality` and `ggplot chart objects`
2. Reference fixed with full journal name added (The R Journal).

Let me know if you have additional comments/edits for me to make.
Best
Zarrar

[2022-09-12 22:39] elbeejay commented on #4715
@editorialbot assign me as editor

[2022-09-12 23:27] elbeejay commented on #4715
Hi @jdiasn :wave: Thank you for your submission to JOSS. I have a few minor suggestions for the paper below, and I plan to begin reaching out to reviewers this week.

Paper suggestions:

- Line 9: delete the word "the" before "wind has become"
- Line 14: consider switching to the singular form "Wind lidar has been used ..."
- Line 18: change syntax to avoid nested parentheses here from `(VAD,  [@l

[2022-09-13 04:22] Xia-Yijie commented on #4467
@editorialbot set <v1.2.6.8> as version

[2022-09-13 04:28] Xia-Yijie commented on #4467
@richardjgowers the version number should be `1.2.6.8`, and archive DOI is `10.5281/zenodo.7073359
`

[2022-09-13 06:06] hugoledoux commented on #4593
@editorialbot set 10.5281/zenodo.7062273 as archive

[2022-09-13 06:07] hugoledoux commented on #4593
@editorialbot set v0.2.3 as version

[2022-09-13 06:07] hugoledoux commented on #4593
@editorialbot recommend-accept

[2022-09-13 06:08] hugoledoux commented on #4015
@editorialbot generate pdf

[2022-09-13 06:11] hugoledoux commented on #4015
@editorialbot check references

[2022-09-13 06:18] hugoledoux commented on #4015
Thanks, all looks good.

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and

[2022-09-13 06:56] NRaillard commented on #4366
thanks @malmans2 for the updates.

- I have given you  the 'reporter' role, so that you can now access the  CI/CD actions and logs [here](https://gitlab.ifremer.fr/resourcecode/resourcecode/-/pipelines).
- I have closed [#11](https://gitlab.ifremer.fr/resourcecode/resourcecode/-/issues/11) and [#12](https://gitlab.ifremer.fr/resourcecode/resourcecode/-/issues/12) and will merge the 'joss_branch' i

[2022-09-13 07:24] mikldk commented on #4750
@editorialbot assign me as editor

[2022-09-13 07:25] drmowinckels commented on #4740
I have completed my review and am happy with the responses and changes made to the package and paper. The package functionality is well documented and covers something that has no real alternative in the R eco-system as I know it. Its clearly well-thought out and tested, and the implementation is great.

@samhforbes I believe both reviewers are happy with the package and paper status.

[2022-09-13 08:28] yiitozer commented on #4754
@editorialbot generate my checklist

[2022-09-13 08:49] Datseris commented on #4414
Thank you all so much for the support :) ❤️

[2022-09-13 08:55] malmans2 commented on #4366
@NRaillard could you please review [MR #2](https://gitlab.ifremer.fr/resourcecode/resourcecode/-/merge_requests/2)? It should address the points I've raised in [Issue #17](https://gitlab.ifremer.fr/resourcecode/resourcecode/-/issues/17)

[2022-09-13 09:08] kahaaga commented on #4414
Thank you all for your efforts! 🚀

[2022-09-13 09:10] fneum commented on #4712
@fraukewiese - Similar here. Fully booked until mid-Oct but am interested to review after then.

[2022-09-13 09:12] NRaillard commented on #4366
Works like a charm, thanks a lot: I wasn't able to make `pytest --doctest-glob README.md' run on my own...

[2022-09-13 09:14] n8thangreen commented on #4206
Thank you @danielskatz, @rowlandseymour, @MikeLydeamore and @ajstewartlang.

Looks great! 🎉

[2022-09-13 10:01] davidpagnon commented on #4362
Thanks @danielskatz! I suggested one last rearrangement, moving some text above the picture to avoid large white spaces.

[2022-09-13 10:04] jsun commented on #4742
Hi, @Nikoleta-v3, I finalized my review.

[2022-09-13 10:06] noah80 commented on #4261
@editorialbot generate pdf

[2022-09-13 10:13] andreikitaitsev commented on #4660
Hello, Danielskatz!
Thank you for the comments.
The [substantial scholarly ](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) effort content-wise requires the paper to be "likely to be cited by peers" and to implement a new  valuable method. The package we have developed is a _new_ method , not just a combination of _old_ methods. Moreover, in the readme we illus

[2022-09-13 10:23] noah80 commented on #4261
I've got it to run and execute the simple example. Everything seems to be working.

The updated paper is much nicer, thanks for that! Except it seems to be in the wrong branch? As far as I can see the updated paper is in the main branch and the joss-branch has the old version.

The only thing I haven't found is the "State of the field: Do the authors describe how this software compares to other co

[2022-09-13 10:33] mikldk commented on #4750
@kavir1698 - thank you for the submission.

Regarding the last sentence in Statement of need ("`EvoDynamics.jl` is being used in a couple of studies to understand the interplay between the genotypic and phenotypic architectures to understand biodiversity patterns and species coexistence."). Are those studies published or what is the status of the studies?

[2022-09-13 10:45] elboyran commented on #4493
@Athene-ai, could you, please, give me example sentence(s) where the English of the paper is not good?

[2022-09-13 10:51] kavir1698 commented on #4750
Thank you, @mikldk!
Those studies are in preparation. They will demonstrate results obtained with this package.

[2022-09-13 11:43] jarvist commented on #4504
@editorialbot add @zhubonan as reviewer

Thank you Bonan for agreeing to be an additional reviewer on an expedited timeframe of two weeks (27th September).

Bonan, there's some discussion on https://github.com/CederGroupHub/smol/issues/227 from Tom and Luis which may help orientate you to the areas of discussion / focus.

[2022-09-13 11:44] jarvist commented on #4504
@editorialbot generate pdf

I believe you've made some edits since 25 Jun @lbluque ? This is a fresh PDF for you @zhubonan.

[2022-09-13 11:47] malmans2 commented on #4366
@marcosvital I also finished my review. The package is in great shape and I think it's ready for publication!

[2022-09-13 11:51] marcosvital commented on #4366
Thank you so much for your effort, @malmans2.

[2022-09-13 11:54] danielskatz commented on #4362
@editorialbot recommend-accept

[2022-09-13 11:54] VeroniqueLegrand commented on #4648
Hello, Sorry for the late delay.
Yes, I would be happy to review this software.

Best regards,
Véronique

--
Véronique Legrand
Software & IT engineer – HPC/HTC
https://research.pasteur.fr/en/member/veronique-legrand/
HPC platform
Institut Pasteur Paris
Tel : 01 44 38 95 03
        07 88 15 34 68

From: Frederick Boehm ***@***.***>
Reply-To: openjournals/joss-reviews ***@***.***>
Date: Tuesday 30 A

[2022-09-13 11:55] marcosvital commented on #4366
@krober10nd, please let us know if you are still able to review this submission, ok? And let me know if you need any assistance.

[2022-09-13 11:58] danielskatz commented on #4660
@andreikitaitsev - you can certainly resubmit, but there would need to be changes to the repository that we could reevaluate. Note that a main point here is the size of the codebase, specifically in regards to "Total lines of code (LOC). Submissions under 1000 LOC will usually be flagged, those under 300 LOC will be desk rejected."

[2022-09-13 11:59] arfon commented on #4279
@editorialbot re-accept

[2022-09-13 12:00] arfon commented on #4279
@editorialbot commands

[2022-09-13 12:01] danielskatz commented on #4362
@davidpagnon - note that the list on page 2 now has elements 2.1, 2.2, etc, which no longer matches Figure 1's caption or the text in the figure itself.  How do you think this should be addressed?

[2022-09-13 12:03] samhforbes commented on #4740
@editorialbot generate pdf

[2022-09-13 12:04] mikldk commented on #4750
Can you then add e.g. " (in prep.)"?

[2022-09-13 12:09] samhforbes commented on #4740
Hi @milenamilena @drmowinckels thanks for your hard work and suggestions. We appreciate both your thoroughness and the time spent reviewing and improving packages for JOSS.

@cosimameyer it looks like things are all coming together!

There's a couple of things we need to do before ticking off the final box. So can you please:
- Let me know the final version number (I think you are now on 0.0.11, d

[2022-09-13 12:11] davidpagnon commented on #4362
You mean, the 2.1 vs. 2.i ? I'm not sure how to do it in markdown and I need to leave now, I'll find a way tomorrow! I do notice a typo in the figure too, "cameras calibration" instead of "camera calibration". I'll correct it, too.

[2022-09-13 12:11] hechth commented on #4494
@csoneson @chryswoods and @marshallmcdonnell - Version 0.2.4 is released and also available on Galaxy. It contains a simplified setup, and the circuit breaker pattern for aiohttp.

Please let me know whether the paper can be considered as accepted so that I can create the repository on Zenodo :).

[2022-09-13 12:15] danielskatz commented on #4593
@p-ortmann - I'm the AEiC on-duty, and have some suggestions for changes to your paper, as shown in https://github.com/p-ortmann/dyntapy/pull/6.  Please merge this, or let me know what you disagree with, then we can continue to acceptance and publication.

[2022-09-13 12:16] danielskatz commented on #4362
yes, correct.  I don't know how to change it in markdown either, but you could change the figure caption and text in the figure to use 2.1 etc, which might be easier.

[2022-09-13 12:27] kavir1698 commented on #4750
I just updated the ms accordingly.

[2022-09-13 12:28] mikldk commented on #4750
@editorialbot generate pdf

[2022-09-13 12:32] mikldk commented on #4750
@tpoisot, @arbennett: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-09-13 12:36] micheder commented on #4576
@arfon @pibion - May we politely ask, if we can support the editorial process?

[2022-09-13 13:02] marshallmcdonnell commented on #4494
@hechth Thanks for addressing all of my reviewer comments! Much appreciated and great work!

@csoneson I am happy and in my opinion, the submission is ready! :+1:

[2022-09-13 13:09] danielskatz commented on #4668
Sorry @lavrovaliz - It appears that @cMadan might have lost track of this after he accepted editing it.  I hope this will bring it back to the top of his queue.

[2022-09-13 13:16] dhhagan commented on #4412
@edejong-caltech unfortunately not. Finding reviewers for anything has been *incredibly* difficult recently. I just reached out to a different batch offline, and will be reaching out to another batch on GitHub as well. Sorry for the delay.

[2022-09-13 13:18] dhhagan commented on #4257
Hi @jarrah42 yes, it would be very helpful. Let me add you the the review thread.

[2022-09-13 13:19] dhhagan commented on #4752
@editorialbot add @jarrah42 as reviewer

[2022-09-13 13:20] dhhagan commented on #4752
Hi @jarrah42 - please comment with "@editorialbot generate my checklist" as seen a few comments above to generate your review checklist. Feel free to reach out to me with any questions. Thanks!

[2022-09-13 13:24] dhhagan commented on #4412
👋 @andreas-h @wholmgren @ethan-nelson @ashwinvis: would you be able to review this manuscript for JOSS?

[2022-09-13 13:32] dhhagan commented on #4698
👋 @desilinguist @betatim @wtgee @nnadeau: would you be willing to review this manuscript?

[2022-09-13 13:37] Athene-ai commented on #4493
@elboyran the reviewer suggests improving the paragraph _Used by_

[2022-09-13 14:13] fboehm commented on #4648
Thanks so much, @VeroniqueLegrand ! We actually found reviewers for this submission. I hope that I can work with you on a future submission. Thanks again!

[2022-09-13 14:45] d-eggert commented on #4052
@whedon generate pdf

[2022-09-13 14:45] d-eggert commented on #4052
@editorialbot generate pdf

[2022-09-13 14:53] d-eggert commented on #4052
I added a `state of the field` section to the accompanying software paper discussing potential alternatives.

[2022-09-13 15:10] cosimameyer commented on #4740
Thanks for the update and for putting your time into it - it’s highly appreciated!
This review process is one of the best I've experienced (not just because of the outcome 😉) I think the discussions here and in the issues as well as the general feedback you get are so valuable! So thanks to all you for volunteering at the journal and for sharing your expertise ☺️

@samhforbes here's the missing in

[2022-09-13 15:14] samhforbes commented on #4740
@cosimameyer Brilliant stuff - I'll make those changes here, and then I am satisfied we can recommend accept. Well done on a great package and paper.

[2022-09-13 15:15] samhforbes commented on #4740
@editorialbot set v0.0.12 as version

[2022-09-13 15:15] p-ortmann commented on #4593
@danielskatz  I just merged the changes that you made, thanks!

[2022-09-13 15:15] samhforbes commented on #4740
@editorialbot set 10.5281/zenodo.7075665 as archive

[2022-09-13 15:18] samhforbes commented on #4740
@editorialbot recommend-accept

[2022-09-13 15:27] oliviaguest commented on #4740
@editorialbot check references

[2022-09-13 15:32] cosimameyer commented on #4740
@oliviaguest  Thanks for following up! I'm not sure if it really is a missing DOI (I didn't change anything in the references). The first two were already part of our initial submission (and, as far as I know, they don't have a DOI) and the third one (`naniar`) was added as part of the review process - but I checked the references after making the changes here (https://github.com/openjournals/joss

[2022-09-13 15:38] diehlpk commented on #4377
@editorialbot commands

[2022-09-13 15:39] diehlpk commented on #4377
@editorialbot remind @stsievert in 2 weeks

[2022-09-13 15:39] diehlpk commented on #4377
@editorialbot remind @jonjoncardoso in 2 weeks

[2022-09-13 15:44] danielskatz commented on #4593
@editorialbot accept

[2022-09-13 15:56] diehlpk commented on #4637
Reminder set for @ctdegroot in 2 weeks

[2022-09-13 15:57] diehlpk commented on #4637
Reminder set for @thomasgillis  in 2 weeks

[2022-09-13 16:00] diehlpk commented on #4730
Hi @jordigh or @Volkerschmid would you have time to review this paper?

[2022-09-13 16:01] diehlpk commented on #4730
Hi @ziotom78 would you have time to review this paper?

[2022-09-13 16:01] f-t-s commented on #4730
Sorry I totally forgot to reply. I can review the paper.

[2022-09-13 16:04] f-t-s commented on #4730
The only thing I want to mention is that I am in the process of starting a collaboration with Youssef, in case that constitutes a conflict of interest.

[2022-09-13 16:23] desilinguist commented on #4698
Sorry, I won't be able to help out for this one.

[2022-09-13 16:36] gbaltz commented on #4555
@Matthew-Jennings yes this would be fine with me

[2022-09-13 16:50] gbaltz commented on #4555
@osorensen I have completed my review

[2022-09-13 17:04] osorensen commented on #4555
Thanks @gbaltz!

[2022-09-13 18:25] apratap commented on #4699
Hi @arfon  - Just wondering if the editorial team has reviewed our submission. I totally understand the team might be getting many similar status check requests. Appreciate any updates when feasible for you.

Cheers!
-Abhi

[2022-09-13 18:39] nicoguaro commented on #4389
All of them have been addressed except for the "state of the field". @JulianKarlBauer mentioned something before about it, but I don't see anything about it in the compiled version of the paper.

[2022-09-13 19:17] majensen commented on #4522
Thanks @nhejazi - I will review by end of the week

[2022-09-13 19:19] majensen commented on #4566
Sorry @hrossman about the delay - I will do my best to review this week. Real job is heating up a bit.

[2022-09-13 19:53] zhubonan commented on #4504
@editorialbot generate my checklist

[2022-09-13 19:54] hrossman commented on #4566
No worries @majensen , totally understandable and we thank you for your valuable voluntary work here

[2022-09-13 20:13] JulianKarlBauer commented on #4389
Sorry, I had not yet merged [pull request](https://github.com/JulianKarlBauer/mechkit/pull/52) mentioned above. After having merged it, are your concerns addressed?

[2022-09-13 20:15] JulianKarlBauer commented on #4389
@editorialbot generate pdf

[2022-09-13 20:23] JulianKarlBauer commented on #4389
Branch "master" had not been merged to branch "paper" from which editorialbot is compiling...

@editorialbot generate pdf

[2022-09-13 20:25] JulianKarlBauer commented on #4389
@editorialbot generate pdf

[2022-09-13 21:04] elbeejay commented on #4715
@ashwinvis, @tgoelles would you perhaps be interested in reviewing this submission "lidarSuit: A python package for retrieving wind profiles from Doppler lidar observations" for JOSS? @tgoelles I believe this package aligns reasonable well with your scientific expertise. @ashwinvis I'm less sure that this is a perfect fit for your background in terms of the specific scientific subdomain, however y

[2022-09-13 21:07] elbeejay commented on #4646
:wave: @mhesselbarth, @lionel68, @OwenWard would you be willing to review this submission to JOSS? From what I can gather, your collective expertise and backgrounds would provide a set of high-quality and comprehensive reviews of this software. At JOSS we do open checklist-driven reviews; peer-review criteria can be viewed [here](https://joss.readthedocs.io/en/latest/review_criteria.html).

The su

[2022-09-13 21:37] oliviaguest commented on #4740
OK, just try again later, @samhforbes. Thanks @xuanxu! ☺️

[2022-09-13 21:38] editorialbot opened #4758 "[PRE REVIEW]: PyArabic: A Python package for Arabic text"
**Submitting author:** @linuxscout (<a href="http://orcid.org/0000-0001-9960-5533">Taha Zerrouki</a>)
**Repository:** https://github.com/linuxscout/pyarabic
**Branch with paper.md** (empty if default branch): paper
**Version:** 0.6.15
**Editor:** @ajstewartlang
**Reviewers:** @amitkumarj441, @kikarimullah
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/88253a3

[2022-09-13 21:42] danielskatz commented on #4758
👋 @linuxscout - the [paper.md in your repo](https://github.com/linuxscout/pyarabic/blob/master/paper.md) appears empty. We cannot proceed without a paper.

Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) and note that you can click on the error above to find out more about it. Please feel free to make changes to your .md and .

[2022-09-13 21:46] danielskatz commented on #4758
👋 @linuxscout - note that your paper does not compile. Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) and note that you can click on the error above to find out more about it. It appears that you should change the affiliation in line 12 from `[1]` to just `1`.  In addition, you could work on the possibly missing DOIs that edi

[2022-09-13 21:48] danielskatz commented on #4586
👋 @chekoduadarsh - Would you be willing to review this JOSS submission?

[2022-09-13 21:48] danielskatz commented on #4586
👋 @sneakers-the-rat - Would you be willing to review this JOSS submission?

[2022-09-13 21:48] danielskatz commented on #4586
👋 @ askuric - Would you be willing to review this JOSS submission?

[2022-09-13 21:49] danielskatz commented on #4586
👋 @askuric - Would you be willing to review this JOSS submission?

[2022-09-13 21:49] ParkvilleData commented on #4749
Hi @jmschrei, I have updated the README to include an output tree of all output files, descriptions of the output files and extra paragraphs detailing the usefulness of taxonomic profiling. There is also a table that represents how the profiles are represented in the outputs.

The workflow is a collection of "wrappers" that encompass bioinformatics standard software in the field of metagenomics. A

[2022-09-13 21:57] linuxscout commented on #4758
Hi @danielskatz, I will work on it. thanks

[2022-09-13 22:08] nicoguaro commented on #4389
Yes.

@Kevin-Mattheus-Moerman, I have marked all the boxes now and recommend the publication.

[2022-09-13 22:46] OwenWard commented on #4646
Happy to review!

[2022-09-14 00:28] linuxscout commented on #4758
@editorialbot check references

[2022-09-14 00:32] linuxscout commented on #4758
@editorialbot check references

[2022-09-14 00:37] linuxscout commented on #4758
@editorialbot generate pdf

[2022-09-14 01:56] pritchardn commented on #4052
Awesome! I'm satisfied with the changes and am happy to recommend accepting this submission :)

[2022-09-14 03:50] havishaJ commented on #4710
Thank you very much, @arfon, for the comments. We have edited our submission per the comments and are pleased to resubmit the paper.

Regards
Aslam

[2022-09-14 06:13] tgoelles commented on #4715
Yes I am am willing to review the project.

[2022-09-14 07:04] martinfleis commented on #4052
@editorialbot generate pdf

[2022-09-14 07:06] martinfleis commented on #4052
@editorialbot check references

[2022-09-14 07:14] martinfleis commented on #4052
Thank you both!

Given the https://github.com/openjournals/joss-reviews/issues/4052#issuecomment-1101262038 and the recent updates, I believe I can now suggest acceptance of the paper. Before that, I have a few notes:

- [ ] I believe that the GWT reference is incorrectly formatted as it shows up in text as Project (2022). Please ensure that the name of the authors is not formatted as first name a

[2022-09-14 07:14] martinfleis commented on #4052
@editorialbot check references

[2022-09-14 08:08] jdiasn commented on #4715
@editorialbot generate pdf

[2022-09-14 08:12] linuxscout commented on #4758
@editorialbot generate pdf

[2022-09-14 08:17] jdiasn commented on #4715
Hi @elbeejay 👋 , Thank you for your recommendation! I corrected the manuscript according to your suggestion.

[2022-09-14 08:18] linuxscout commented on #4758
Can you help me to find the error in pdf generation?

[2022-09-14 08:23] davidpagnon commented on #4362
Okay, this is done!

[2022-09-14 09:21] relf commented on #4737
@arfon Actually the version under review is 0.4.0+ instead of the past 0.2.1 mentioned in the issue description. I will likely release a 0.5.0 after the reviewing process.

[2022-09-14 09:59] samhforbes commented on #4740
@editorialbot check references

[2022-09-14 10:02] chryswoods commented on #4494
Thanks - I also really appreciate all the work you have done. I am though still struggling to install the software following the instructions on your website. I have tried on a variety of platforms. For example, it doesn't install on Linux using a new, clean installation of the latest version of miniconda. Here's all the output;

[code]

I suspect the versions of too many packages are being pinned

[2022-09-14 10:50] hoechenberger commented on #4517
@ajstewartlang I'm sorry for the delay, I'm working on the review right now and will submit ASAP!

[2022-09-14 10:51] hoechenberger commented on #4517
@editorialbot generate my checklist

[2022-09-14 10:53] linuxscout commented on #4758
@editorialbot generate pdf

[2022-09-14 11:01] linuxscout commented on #4758
@editorialbot generate pdf

[2022-09-14 11:11] linuxscout commented on #4758
@editorialbot generate pdf

[2022-09-14 11:19] linuxscout commented on #4758
@editorialbot generate pdf

[2022-09-14 11:21] mhesselbarth commented on #4646
Same here, happy to review!

[2022-09-14 11:33] jarvist commented on #4656
@editorialbot add @wcwitt as reviewer

Thank you Chuck for agreeing to review on a 4-5 week timeframe. 🙌

[2022-09-14 11:58] elbeejay commented on #4646
Great, thank you both! I will have the bot add you to the list of reviewers now

[2022-09-14 11:58] elbeejay commented on #4646
@editorialbot add @OwenWard as reviewer

[2022-09-14 11:58] elbeejay commented on #4646
@editorialbot add @mhesselbarth as reviewer

[2022-09-14 12:00] elbeejay commented on #4715
@editorialbot add @tgoelles as reviewer

Thanks @tgoelles! The bot should have added you to the list of reviewers now. Will wait to get a second reviewer onboard before starting the official "review" issue.

[2022-09-14 12:34] linuxscout commented on #4758
@editorialbot commands

[2022-09-14 12:37] OllyK commented on #4691
Hi @jingpengw I've made some changes to the paper now as requested. I'll ask editorialbot to regenerate the PDF and check references again, just in case. Best wishes OllyK

[2022-09-14 12:37] OllyK commented on #4691
@editorialbot generate pdf

[2022-09-14 12:51] chryswoods commented on #4494
Ok - I've fixed it. The conda channel order priority was borked on my computer. I removed ~/.conda and ~/.condarc, removed ~/miniconda3 and then unpacked everything and tried again. It is now working :-)

I've run all of the tests and get these test failures;

[code]

[2022-09-14 12:52] chryswoods commented on #4494
(the OS is Oracle Linux 7.9, which is heavily based on RedHat Enterprise 7.9)

[2022-09-14 12:56] hoechenberger commented on #4517
Hello @stsievert @ajstewartlang,

I am happy with everything except with the installation procedure. I managed to get Salmon to run on an AWS instance, but local installation failed, both via Docker and via `conda`.

There is a problem when running `docker-compose build`. I'm pasting the relevant parts here:
[code]
And for installation from the `salmon.yaml` file via `conda`, I run into:
[code]
Th

[2022-09-14 13:00] osorensen commented on #4555
@Matthew-Jennings, both reviewers have now completed their checklists. Are there any further changes you would like to do to the paper or software before I read it a final time?

[2022-09-14 13:35] danielskatz commented on #4758
Thanks @linuxscout - the editor (once assigned) will decide on reviewers to invite

[2022-09-14 13:35] danielskatz commented on #4758
👋 @ajstewartlang - would you be able to edit this submission?

[2022-09-14 13:36] danielskatz commented on #4758
@editorialbot invite @ajstewartlang as editor

[2022-09-14 13:52] #4362 closed

[2022-09-14 14:01] davidpagnon commented on #4362
Thank you everyone! It all looks fine 🧘‍♂️

[2022-09-14 14:12] untzag commented on #4586
@danielskatz you bet, please mark me as a reviewer

[2022-09-14 14:15] danielskatz commented on #4586
Thanks @untzag - I'll add you, and once we get a second reviewer as well, we'll start the review

[2022-09-14 14:15] danielskatz commented on #4586
@editorialbot add @untzag as reviewer

[2022-09-14 14:52] richardjgowers commented on #4467
@editorialbot set v1.2.6.8 as version

[2022-09-14 14:53] richardjgowers commented on #4467
@editorialbot set 10.5281/zenodo.7073359 as archive

[2022-09-14 14:53] richardjgowers commented on #4467
@editorialbot check references

[2022-09-14 14:53] richardjgowers commented on #4467
@editorialbot generate pdf

[2022-09-14 15:11] pgrete commented on #4756
@ivastar as mentioned via mail, I'll first be able to start the review around the second half of October

[2022-09-14 15:19] jarvist commented on #4656
@editorialbot start review

Given the difficulty in finding reviewers, I'm going to start the review with just Chuck, so that there's somewhere for them to work while I continue recruiting.
We still require at least two reviews before publication.

[2022-09-14 15:19] editorialbot opened #4759 "[REVIEW]: QuantNBody: a python package for quantum chemistry and physics to build and manipulate many-body operators and wave functions."
**Submitting author:** @SYalouz (<a href="http://orcid.org/0000-0002-8818-3379">SAAD YALOUZ</a>)
**Repository:** https://github.com/SYalouz/QuantNBody
**Branch with paper.md** (empty if default branch):
**Version:** v 1.0.0
**Editor:** @jarvist
**Reviewers:** @wcwitt, @erikkjellgren
**Archive:** 10.5281/zenodo.7440993

## Status

[![status](https://joss.theoj.org/papers/e55aaba1fa5772fd36ad48753fb

[2022-09-14 15:19] #4656 closed

[2022-09-14 15:34] jarvist commented on #4759
Thanks @editorialbot !

OK, @SYalouz, there's some checking cross-references & augmenting your BibTeX suggestions above. You can re-regenerate the paper by asking Editorialbot here, once you've made changes to the repo.

[2022-09-14 15:44] galessiorob commented on #4751
Hi @ianfhunter 👋

I'm in the process of sending out invites to the reviewers you suggested and some additional ones. Looking forward to working on this paper!

[2022-09-14 15:52] szhorvat commented on #4727
Hello @prashjha, could you please indicate whether you are available, so that the handling of this paper can proceed?

[2022-09-14 16:15] SYalouz commented on #4759
Dear @jarvist,

As recommended, I have added the three missing DOIs in the bib file of the paper. I am going now to regenerate the paper.

[2022-09-14 16:24] kthyng commented on #4727
@szhorvat I appreciate your enthusiasm, but please leave it up to the JOSS editorial staff to reach out to editors and, in the future, reviewers. We do, however, appreciate the reviewer suggestions you gave above. This is a particularly busy time of year for everyone and we are all doing our best to engage in a timely manner.

[2022-09-14 16:32] jbytecode commented on #4736
Dear @jmejia8 and @HaoZeke,

Could you please update your status and tell us about how is your review going?

@HaoZeke - Could you please generate your tasklist?

Thank you in advance!

[2022-09-14 16:33] jbytecode commented on #4718
@editorialbot remind @max-little in two days

[2022-09-14 16:33] jbytecode commented on #4718
Thanks @editorialbot !

[2022-09-14 16:35] jbytecode commented on #4716
@editorialbot remind @wcjochem in two days

[2022-09-14 16:36] jbytecode commented on #4716
@editorialbot remind @becarioprecario in two days

[2022-09-14 16:36] jbytecode commented on #4716
Thanks @editorialbot !

[2022-09-14 16:52] blacy commented on #4394
Hi Ivelina,

Unfortunately, this work seems outside of my expertise to be an adequate
reviewer for you. Best of luck!

-Brianna

On Sun, Sep 11, 2022 at 11:58 AM Ivelina Momcheva ***@***.***>
wrote:

[2022-09-14 17:07] ianfhunter commented on #4751
Thanks :) I look forward to working with you too!

[2022-09-14 18:27] ajstewartlang commented on #4758
@editorialbot assign me as editor

[2022-09-14 18:36] brunomontezano commented on #4562
@marcosvital I did a final check and approved all criteria based on the checklist. From my perspective, I suggest publishing.

I am at your disposal for any questions or further steps.

[2022-09-14 18:48] cosimameyer commented on #4740
@editorialbot check references

[2022-09-14 18:54] cosimameyer commented on #4740
@samhforbes  it worked 🎉

[2022-09-14 19:14] Xia-Yijie commented on #4467
@editorialbot check references

[2022-09-14 19:18] editorialbot opened #4760 "[PRE REVIEW]: cookiecutter-cmdstanpy-analysis: an interactive template for statisical analysis projects"
**Submitting author:** @teddygroves (<a href="http://orcid.org/0000-0002-7109-3270">Teddy Groves</a>)
**Repository:** https://github.com/teddygroves/cookiecutter-cmdstanpy-analysis/
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/7838538ee7d2049c47

[2022-09-14 19:18] editorialbot opened #4761 "[PRE REVIEW]: greymodels: A PACKAGE FOR GREY FORECASTING MODELS IN R"
**Submitting author:** @havishaJ (<a href="http://orcid.org/0000-0001-7920-8645">Aslam Saib</a>)
**Repository:** https://github.com/havishaJ/greymodels
**Branch with paper.md** (empty if default branch): main
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/6fa28500994b5a5c40a443ef90594600/status.sv

[2022-09-14 19:23] danielskatz commented on #4760
👋 @teddygroves - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. I'm also unsure if it is [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-resea

[2022-09-14 19:23] danielskatz commented on #4760
@editorialbot query scope

[2022-09-14 19:24] danielskatz commented on #4761
@editorialbot set paper as branch

[2022-09-14 19:24] danielskatz commented on #4761
@editorialbot check repository

[2022-09-14 19:25] danielskatz commented on #4761
@editorialbot set main as branch

[2022-09-14 19:25] danielskatz commented on #4761
@editorialbot check repository

[2022-09-14 19:29] teddygroves commented on #4760
Sounds good, please let me know if I can make your assessment easier by clarifying anything!

[2022-09-14 19:31] danielskatz commented on #4761
👋 @havishaJ - I'm going to reject this submission at this point, as it doesn't use git/GitHub in the normal way, as a version control repository for the project but rather is using it as an archival repository.  Please review some of the repositories of other software published by JOSS, and take a look at R packaging guidelines (for example, https://ourcodingclub.github.io/tutorials/writing-r-pack

[2022-09-14 19:32] danielskatz commented on #4761
@editorialbot reject

[2022-09-14 19:32] #4761 closed

[2022-09-14 19:36] askuric commented on #4586
Hi everyone,
I'd be happy to review this paper/repo but due to some work constraints I would not be able to start before the 25th of September.
If that is fine with your schedule don't hesitate to let me know.

[2022-09-14 19:36] cosimameyer commented on #4740
As far as I understand the log (and I might be completely off here), there is an invalid JATS. Is it the DOI that I provided that causes the problems? I'm not sure but I believe it [should be fine](https://zenodo.org/record/7075665). If there's anything that I can/should do, let me know 😊

[2022-09-14 19:37] danielskatz commented on #4586
@askuric - that's fine. I'll add you, and start the review now, but will add a note there that you will be delayed in starting until 25 Sept. Thanks!!

[2022-09-14 19:38] danielskatz commented on #4586
@editorialbot add @askuric as reviewer

[2022-09-14 19:38] danielskatz commented on #4586
@editorialbot start review

[2022-09-14 19:38] editorialbot opened #4762 "[REVIEW]: Pyripherals: A Python Package for Communicating with Peripheral Electronic Devices"
**Submitting author:** @Ajstros (<a href="http://orcid.org/0000-0001-9412-2049">Abraham Stroschein</a>)
**Repository:** https://github.com/Ajstros/pyripherals
**Branch with paper.md** (empty if default branch):
**Version:** v0.0.3
**Editor:** @danielskatz
**Reviewers:** @untzag, @askuric
**Archive:** 10.5281/zenodo.7308636

## Status

[![status](https://joss.theoj.org/papers/35fd570e4d8132210476bb

[2022-09-14 19:38] #4586 closed

[2022-09-14 19:40] danielskatz commented on #4762
Note: @askuric will be delayed in starting their review until 25 Sept.

[2022-09-14 19:42] danielskatz commented on #4762
@untzag and @askuric - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

As you can see above, you each should use the command `@editorialbot generate my checklist` to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

As you go over the submission, please

[2022-09-14 19:42] askuric commented on #4586
OK perfect thanks, I'm looking forward to it.

[2022-09-14 19:43] danielskatz commented on #4762
👋 @Ajstros (Abraham Stroschein) - please work on the possibly missing DOI and incorrectly prefixed DOI that editorialbot suggests, but note that the missing one may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. edito

[2022-09-14 19:45] danielskatz commented on #4740
@xuanxu - can you take a look at this?

[2022-09-14 19:56] lbluque commented on #4504
Thank you @jarvist I can certainly understand getting a response from reviewers may be tricky or overly busy schedules can make them fall off the map entirely. As I stated before, it would have just been more helpful to get an update rather than getting no response month-long stretches of time.

In any case, thank you for taking the time to find someone else to review.

[2022-09-14 19:57] lbluque commented on #4504
The most recent changes I've made were 12 days ago.

[2022-09-14 20:16] robinroche commented on #4516
@fraukewiese : Yes, thank you @stinefm

[2022-09-14 20:23] zarrarkhan commented on #4015
@hugoledoux

Addressed as follows:
- Tagged version of software: v1.0.2 https://github.com/JGCRI/rmap/releases/tag/v1.0.2
- Archived on Zenodo: https://doi.org/10.5281/zenodo.7080178
- Metadata checked with correct title matching paper title and all author names with ORCID IDs from paper.
- DOI: 10.5281/zenodo.7080178

Please let me know if you need anything else.

Best

Zarrar

[2022-09-14 20:29] HaoZeke commented on #4736
@editorialbot generate my checklist

[2022-09-14 20:33] brunomontezano commented on #4675
@crvernon Thanks a lot for the invitation but these coming weeks are going to be really busy for me. I hope I can participate later improving some papers on JOSS. Great review process for you @balima78!

[2022-09-14 20:39] jarvist commented on #4759
@editorialbot add @erikkjellgren as reviewer

Many thanks to Erik @erikkjellgren for agreeing to review this paper! 🙌

[2022-09-14 20:40] jarvist commented on #4759
@editorialbot check references

[2022-09-14 22:14] fepegar commented on #4524
Not my field, sorry!

[2022-09-14 22:41] suyashkumar commented on #4524
Apologies for the late response, but if y'all still need another reviewer, I'm happy to review and feel I have enough context to make the assessments [JOSS requires of reviewers](https://joss.readthedocs.io/en/latest/review_criteria.html).

[2022-09-14 23:02] Matthew-Jennings commented on #4555
Hi @osorensen. No, I think we're happy!

[2022-09-15 03:07] Fei-Tao commented on #4598
@editorialbot start review

[2022-09-15 03:07] editorialbot opened #4763 "[REVIEW]: RTMsim - A Julia module for filling simulations in Resin Transfer Moulding with the Finite Area Method"
**Submitting author:** @obertscheiderfhwn (<a href="http://orcid.org/0000-0002-0023-497X">Christof Obertscheider</a>)
**Repository:** https://github.com/obertscheiderfhwn/RTMsim
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** @Fei-Tao
**Reviewers:** @duhd1993, @Zitzeronion, @mrbuche
**Archive:** 10.5281/zenodo.7799266

## Status

[![status](https://joss.theoj.or

[2022-09-15 03:07] #4598 closed

[2022-09-15 03:08] Fei-Tao commented on #4598
Thanks everyone! Looking forward to your reviews in https://github.com/openjournals/joss-reviews/issues/4763.

[2022-09-15 04:44] prashjha commented on #4727
Hi @kthyng, thanks for the invite. I will be happy to be the editor. But please know that I am traveling for the next two weeks, which may cause some delay.

[2022-09-15 05:18] cbrnr commented on #4650
Relevant issue is https://github.com/cbrnr/mnelab/issues/359.

[2022-09-15 05:29] hugoledoux commented on #4015
one tiny thing to fix: Tomas Wild is Tom Wild on Zenodo. The names have to be exactly the same, edit one to harmonise please.

[2022-09-15 06:00] osorensen commented on #4555
@editorialbot generate pdf

[2022-09-15 06:00] osorensen commented on #4555
@editorialbot check references

[2022-09-15 06:17] osorensen commented on #4555
@Matthew-Jennings, could you please make the following changes to the paper?

Lines 85, 105, and 135: change "monte carlo" to "Monte Carlo".
Line 97: change "winston-lutz" to "Winston-Lutz".

[2022-09-15 06:19] osorensen commented on #4555
@Matthew-Jennings, after fixing the above issue, could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper

[2022-09-15 07:32] d-eggert commented on #4052
@editorialbot check references

[2022-09-15 07:38] d-eggert commented on #4052
@editorialbot generate pdf

[2022-09-15 07:48] d-eggert commented on #4052
@editorialbot generate pdf

[2022-09-15 08:08] SYalouz commented on #4759
Dear @jarvist,

Glad to see that a new reviewer has accepted to be part of the process.

I saw there were still some inconsistencies in the DOI sections of the .bib file. I went through all the references and added DOIs everywhere there was one missing. Hopefully, now there will not be problem on this side.

I am going to regenerate the pdf file and ask editorial bot for another round of reference

[2022-09-15 08:09] SYalouz commented on #4759
@editorialbot generate pdf

[2022-09-15 08:11] SYalouz commented on #4759
@editorialbot check references

[2022-09-15 08:40] wcwitt commented on #4759
@editorialbot generate my checklist

[2022-09-15 08:54] xuanxu commented on #3896
@kthyng if the paper is already updated in the original repo, the `reaccept` command should regenerate the metadata

[2022-09-15 09:46] martinfleis commented on #4052
That is fine. As long as we have DOI, it doesn't matter where it is archived. Let me know!

[2022-09-15 09:52] rCarto commented on #4574
Hello @elbeejay , @wcjochem , @JosiahParry and @mikemahoney218

Here is the list of modifications I have applied to the package in order to take into account your comments:

* State of the field
riatelab/osrm#92
I've added a reference about `osrmr` pkg.

* How to use the package
riatelab/osrm#92
I've added a section on how to use the package with a short demonstration of key functionalities in the

[2022-09-15 11:02] chrklemm commented on #4472
Dear @mcgrathc,
many thanks for the extensive revision of the tell-package.

I would like to address two of my original criticisms again:

- Installation: During the installation under Windows, an error message still occurs: ![tell_installation_issue](https://user-images.githubusercontent.com/48713015/190387445-082e4b51-9263-45c5-8b88-a03e3a24fd7c.png)

- Test-coverage: Despite the new tests, test

[2022-09-15 12:00] IndrajeetPatil commented on #4684
@osorensen We needed to make a new CRAN release. Therefore, can you please bump the version to `0.6.0`? Thanks.

[2022-09-15 12:01] CZHU20 commented on #4118
@editorialbot generate pdf

[2022-09-15 12:03] osorensen commented on #4684
@IndrajeetPatil, we set the final version once the paper is ready for acceptance, so no need to bump the version right now.

[2022-09-15 12:04] osorensen commented on #4684
But I can do it anyway:

[2022-09-15 12:04] osorensen commented on #4684
@editorialbot set 0.6.0 as version

[2022-09-15 12:23] danielskatz commented on #4727
Thanks @prashjha - I'll assign you, and @szhorvat will be aware that there may be some delay in starting.

[2022-09-15 12:23] danielskatz commented on #4727
@editorialbot assign @prashjha as editor

[2022-09-15 12:24] editorialbot opened #4764 "[PRE REVIEW]: apa: Format output of statistical tests in R according to APA guidelines"
**Submitting author:** @dgromer (<a href="http://orcid.org/0000-0002-8619-7478">Daniel Gromer</a>)
**Repository:** https://github.com/dgromer/apa
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.3.3.9000
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/174857e07e79fcac6ff3a6de78fcdbdb/status.sv

[2022-09-15 12:24] editorialbot opened #4765 "[PRE REVIEW]: pySDAS: a Python Tool for Automatic Secondary Dendrite Arm Spacing Detection for aluminum alloy castings"
**Submitting author:** @junou (<a href="http://orcid.org/0000-0002-6867-0540">Jun Ou</a>)
**Repository:** https://github.com/JunOu/pySDAS
**Branch with paper.md** (empty if default branch):
**Version:** V1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/2458ebe5b26bc65e4dac3353d3145b13/status.svg)](https://joss.th

[2022-09-15 12:24] editorialbot opened #4766 "[PRE REVIEW]: Spectral Connectivity: a python package for computing multitaper spectral estimates and frequency-domain brain connectivity measures on the CPU and GPU"
**Submitting author:** @edeno (<a href="http://orcid.org/0000-0003-4606-087X"></a>)
**Repository:** https://github.com/Eden-Kramer-Lab/spectral_connectivity
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.3
**Editor:** @emdupre
**Reviewers:** @AJQuinn, @sappelhoff, @EtienneCmb
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/27eb33e699c9ea

[2022-09-15 12:39] danielskatz commented on #4766
👋 @meg-simula - would you be able to edit this JOSS submission?

[2022-09-15 12:39] danielskatz commented on #4766
@editorialbot invite @meg-simula as editor

[2022-09-15 12:40] danielskatz commented on #4766
👋 @edeno - note that editorialbot has suggested some possible DOIs for some of your references, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be the first entry in

[2022-09-15 12:43] crvernon commented on #4675
Thanks @brunomontezano we will keep in touch for future reviews!

[2022-09-15 12:43] danielskatz commented on #4765
👋 @JunOu - thanks for your submission. Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. The lack of packaging also may be an issue. You should hear back in a week or so.

[2022-09-15 12:43] danielskatz commented on #4765
@editorialbot scope query

[2022-09-15 12:43] danielskatz commented on #4765
@editorialbot query scope

[2022-09-15 12:44] crvernon commented on #4675
@turgeonmaxime I see you have "thumbs up" the request I sent.  I'll add you now!  Thanks!

[2022-09-15 12:44] crvernon commented on #4675
@editorialbot add @turgeonmaxime as reviewer

[2022-09-15 12:46] crvernon commented on #4675
👋 - @ellessenne Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-09-15 12:48] danielskatz commented on #4764
👋 @dgromer - Thanks for your submission. However, I am unsure if it is [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS. This does not mean that it is not software that is useful in research, but just that JOSS might not consider it in scope for review as research software. The editors will now discuss this. You should

[2022-09-15 12:48] danielskatz commented on #4764
@editorialbot query scope

[2022-09-15 12:51] crvernon commented on #4679
:wave: - @Shreyas911 @svchb @ @kris-rowe Will you please provide an update to the status of this review in this thread?

[2022-09-15 12:51] danielskatz commented on #4749
@editorialbot check references

(just following up from the try by @rbturnbull a few days ago - editorialbot commands need to be the first thing in a comment)

[2022-09-15 12:54] crvernon commented on #4695
👋 - @tonyewong Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-09-15 13:06] svchb commented on #4679
@crvernon Shreyas911 started working on my comments a week ago and is finished with like 80-90% of my first round of comments.

[2022-09-15 13:14] elbeejay commented on #4574
@editorialbot check references

[2022-09-15 13:14] elbeejay commented on #4574
@editorialbot generate pdf

[2022-09-15 13:17] arfon commented on #4766
@editorialbot check references

[2022-09-15 14:08] kthyng commented on #3896
@editorialbot reaccept

[2022-09-15 14:48] step21 commented on #4328
No worries, it was a pleasure. A good rest of the week to everyone!

[2022-09-15 15:17] teddygroves commented on #4760
@editorialbot check references

[2022-09-15 15:17] teddygroves commented on #4760
@editorialbot check repository

[2022-09-15 15:49] slayoo commented on #3896
@kthyng it's now fixed:
![image](https://user-images.githubusercontent.com/89685/190449370-a5fa4df0-b774-47ba-9170-2bbe5040c2df.png)

Thank you for your help!

[2022-09-15 15:59] ptmerz commented on #4693
Here's a few points from my first pass, mostly focussing on the paper and more formal aspects of the submission. I will get back with feedback on the program itself and the documentation soon.

In general, my first impression of the oxDNA software and its associated paper is very positive. There is a clearly defined statement of need, and the software and the model is well-established, proving its

[2022-09-15 16:26] zarrarkhan commented on #4015
@hugoledoux

oops, sorry about that. Thanks for catching that! Updated and minted again:

- Tagged version of software: v1.0.3 https://github.com/JGCRI/rmap/releases/tag/v1.0.3
- Archived on Zenodo: https://zenodo.org/record/7082820#.YyNRrXbMJaQ
- Metadata checked with correct title matching paper title and all author names with ORCID IDs from paper.
- DOI: 10.5281/zenodo.7082820

Best

Zarrar

[2022-09-15 17:27] jmschrei commented on #4524
Great, thanks!

[2022-09-15 17:28] jmschrei commented on #4524
@editorialbot add @suyashkumar as reviewer

[2022-09-15 17:28] jmschrei commented on #4524
@editorialbot start review

[2022-09-15 17:28] editorialbot opened #4767 "[REVIEW]: Nuclear Morphology Analysis 2.0.0: Improved image analysis software for measuring nuclear shape"
**Submitting author:** @bmskinner (<a href="http://orcid.org/0000-0002-7152-1167">Ben Skinner</a>)
**Repository:** https://bitbucket.org/bmskinner/nuclear_morphology
**Branch with paper.md** (empty if default branch): paper
**Version:** 2.0.0
**Editor:** @jmschrei
**Reviewers:** @petebankhead, @suyashkumar
**Archive:** 10.5281/zenodo.7303498

## Status

[![status](https://joss.theoj.org/papers/286

[2022-09-15 17:28] #4524 closed

[2022-09-15 17:31] jmschrei commented on #4767
Howdy @petebankhead and @suyashkumar!

Thanks for agreeing to review this submission.

The process for conducting a review is outlined above. Please run the command shown above to have @editorialbot generate your checklist, which will give a step-by-step process for conducting your review. Please check the boxes during your review to keep track, as well as make comments in this thread or open issu

[2022-09-15 17:37] adonath commented on #4639
What is the current status of the API documentation and license file @Jammy2211 ?

[2022-09-15 17:39] rMassimiliano commented on #3527
Hi @adi3 sorry I completely missed the updates on this. I'll give a look and provide comments in the next days.

[2022-09-15 17:48] marcosvital commented on #4562
Great, thank you for your time, @brunomontezano!

[2022-09-15 17:50] marcosvital commented on #4365
@editorialbot check references

[2022-09-15 17:53] marcosvital commented on #4562
@editorialbot generate pdf

[2022-09-15 18:08] marcosvital commented on #4562
Hi, @ThomasThelen. This might be the last version of the manuscript before publication. Please take a careful look, and generate a new pdf as I did above if you happen to make any final corrections or changes.

[2022-09-15 18:12] Shreyas911 commented on #4679
@crvernon We hope to be done addressing almost all issues over this weekend. I think some Gitlab issues are not exactly under our purview, so I will address them in the comments in Gitlab itself.

[2022-09-15 18:30] dfm commented on #4033
@kadglass — Please let me know what your timeline is for this. Let's get it published!!

[2022-09-15 19:23] mdpiper commented on #4704
Opened issues [#7](https://gitlab.com/permafrostnet/teaspoon/-/issues/7), [#8](https://gitlab.com/permafrostnet/teaspoon/-/issues/8), and [#9](https://gitlab.com/permafrostnet/teaspoon/-/issues/9) in the target repository, which @nicholas512 has resolved and closed.

[2022-09-15 21:59] ParkvilleData commented on #4749
Hi, I have updated Missing DOIs. Fastqc doesn't seem to have one.

@editorialbot check references

[2022-09-15 22:00] OHildreth commented on #4752
Hi @dhhagan,

  I noticed that some of the repositories within the SwiftVISA organization were missing the MIT license.  I've fixed that and all of the repositories now have a dedicated LICENSE file containing a plain-text MIT license.

[2022-09-15 22:36] danielskatz commented on #4749
@editorialbot check references

editorialbot commands need to be the first thing in a comment

[2022-09-15 22:49] galessiorob commented on #4751
@editorialbot add @smattr as reviewer

[2022-09-15 23:19] edeno commented on #4766
Potential reviewers: TomDonoghue, effigies, ahwillia, rly

[2022-09-16 00:45] gtonkinhill commented on #4742
Hi @LTLA,

I think this is a really useful package that significantly reduces the pain of combining R and python code. The paper is well written and I was able to successfully install and run the package. I have a few suggestions that are mostly things that I think would be nice to have rather than required changes.

1) It would be nice to include a function to automatically set up a new package t

[2022-09-16 05:00] CZHU20 commented on #4118
@Kevin-Mattheus-Moerman Thank you.
I have fixed the affliction problem and used "open source" everywhere.

Regarding software version and ZENODO archive,  the development on the public repository has been frozen since the JOSS paper was submitted. After discussing with other authors, we intend to create a new tag for the current version and archive the same version in ZENODO. But we don't want to

[2022-09-16 06:22] petebankhead commented on #4767
@editorialbot generate my checklist

[2022-09-16 06:43] hugoledoux commented on #4015
@editorialbot set 10.5281/zenodo.7082820 as archive

[2022-09-16 06:43] hugoledoux commented on #4015
@editorialbot set v1.0.3 as version

[2022-09-16 06:43] hugoledoux commented on #4015
@editorialbot recommend-accept

[2022-09-16 06:45] hugoledoux commented on #4015
Congraluations @zarrarkhan and team 🎉

It's been a not so simple journey to get there, but I believe the package is better and I hope it'll benefit others. Thanks @maczokni and @CamilleMorlighem for your thorough review and for testing the code!

[2022-09-16 06:57] teddygroves commented on #4760
@editorialbot generate pdf

[2022-09-16 07:00] teddygroves commented on #4760
@editorialbot check references

[2022-09-16 08:36] Kevin-Mattheus-Moerman commented on #4389
@likask can you check the response to your comments? :point_up: https://github.com/openjournals/joss-reviews/issues/4389#issuecomment-1212835958

[2022-09-16 08:41] likask commented on #4389
@JulianKarlBauer @Kevin-Mattheus-Moerman

Hi, I am happy from your modifications. Green light from me.

Yes, some time ago I was working on second-order continuum description, dealing with third order tensors was painful in vector notation.

[2022-09-16 09:00] Kevin-Mattheus-Moerman commented on #4389
Great @likask can  you chech those last boxes? :point_right: https://github.com/openjournals/joss-reviews/issues/4389#issuecomment-1173047773

[2022-09-16 10:09] martinfleis commented on #3761
Hey @RafalKucharskiPK, will you be able to check the response to your comments and update the checklist?

[2022-09-16 10:40] vlad0x00 commented on #4720
Hi!

I've added the code to reproduce the figures in the `paper` branch of btllib repo: https://github.com/bcgsc/btllib/tree/paper
The code can be found in `benchmarks` directory. It was tested under a Linux system and requires a recent `gcc` compiler, and `Python` and `R` to plot the figures. The code tests btllib with up to 128 threads so to properly reproduce the results your machine would need

[2022-09-16 11:38] tonyewong commented on #4695
Hello, and thanks for the invitation!

I'd be happy to help... with the caveat that I'm traveling for the next 2 weeks so during that time my access to email may be a bit sporadic. If that's no problem, then please feel free to add me to the reviewers list!

[2022-09-16 12:24] danielskatz commented on #4015
Hi @zarrarkhan - I'm the AEiC on duty this week, and have proofread your paper. Please merge https://github.com/JGCRI/rmap/pull/92 for some very minor changes in it.

It appears https://doi.org/10.1002/wics.147 is a DOI for the Wickham reference. If you agree, please add it. Similar, I think at least a URL is needed for Brunsdon & Chen.

Once these are done, we can move to acceptance and publicati

[2022-09-16 12:31] ivastar commented on #4394
@editorialbot add @m-samland as reviewer

🎉

[2022-09-16 13:05] arfon commented on #4737
@editorialbot set 0.4.0 as version

[2022-09-16 13:08] editorialbot opened #4768 "[PRE REVIEW]: PyNGHam: A Python library of the NGHam protocol"
**Submitting author:** @mgm8 (<a href="http://orcid.org/0000-0003-4889-6021">Gabriel Marcelino</a>)
**Repository:** https://github.com/mgm8/pyngham
**Branch with paper.md** (empty if default branch): main
**Version:** v1.0.0
**Editor:** @jbytecode
**Reviewers:** @pritchardn, @0xCoto
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/cf5b9150f924d3fbb6adee6cd253e0

[2022-09-16 13:08] editorialbot opened #4769 "[PRE REVIEW]: Guitarsounds : A Python package to visualize harmonic sounds for musical instrument testing"
**Submitting author:** @olivecha (<a href="http://orcid.org/0000-0003-3294-2812">Olivier Chabot</a>)
**Repository:** https://github.com/olivecha/guitarsounds
**Branch with paper.md** (empty if default branch): JOSS-Paper
**Version:** v1.1.0
**Editor:** @bmcfee
**Reviewers:** @cwitkowitz, @ebezzam
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/744e53a27255b095

[2022-09-16 13:08] editorialbot opened #4770 "[PRE REVIEW]: APAV: Python for Atom Probe Tomography"
**Submitting author:** @jdasm (<a href="http://orcid.org/0000-0001-7402-6658">Jesse Smith</a>)
**Repository:** https://gitlab.com/jesseds/apav
**Branch with paper.md** (empty if default branch): JOSS
**Version:** v1.3.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/ee06a37a09339a80f36b0a1ddeba6b27/status.svg)](https

[2022-09-16 13:13] zarrarkhan commented on #4015
@danielskatz @hugoledoux

Thank you so much for all your comments and edits. We agree that the review process has been very helpful and we feel much more confident in the usefulness of the software for multiple users. Updated and released in v1.0.4 with following changes:

- Wheadon preview: http://res.cloudinary.com/hkvhhndao/image/upload/v1663333163/oj1b28zu3aml6r9nb4zx.pdf
- DOI for the Wickham

[2022-09-16 13:15] danielskatz commented on #4768
👋 @mgm8 - please add a "Statement of Need" section to your paper, as discussed in https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain then use the command `@editorialbot generate pdf` to make a new PDF. editorialbot commands need to be the first entry in a new comment.

You might also see if there is a DOI or URL that can be added for your first reference.

In additi

[2022-09-16 13:15] danielskatz commented on #4768
@editorialbot query scope

[2022-09-16 13:20] danielskatz commented on #4770
@jdasm - thanks for your submission.
Due to a current shortage of appropriate editors with slots to work on new submissions, I'm going to put it on our waiting list until one is available.

[2022-09-16 13:25] danielskatz commented on #4769
👋 @olivecha - thanks for your submission.  A few comments/questions:

1. It doesn't have any references, which is quite unusual for a JOSS paper. Is there no related work or anything that this builds on that should be cited?
2. Is this software intended for research, or for education?

[2022-09-16 13:38] danielskatz commented on #4015
@editorialbot set v1.0.5 as version

[2022-09-16 13:39] danielskatz commented on #4015
@editorialbot set 10.5281/zenodo.7085969 as archive

[2022-09-16 13:39] danielskatz commented on #4015
@editorialbot recommend-accept

[2022-09-16 13:44] danielskatz commented on #4015
@zarrarkhan - note that the new DOI should be `doi = {10.1002/wics.147},` instead of `doi = { https://doi.org/10.1002/wics.147},`

You do not need to generate a new version or a new archive for this, since it will only be a change in the paper, which is not required to be in the archived repo, but if you want to, you can.

[2022-09-16 13:45] webbjj commented on #4483
@rieder - after some serious rewrites I think clustertools should now fully support AMUSE units. You would have to specify `units='AMUSE'` though when you initiate the `StarCluster`. The main issue was that I build all the arrays using numpy.append, which seemed to take an AMUSE VectorQuantity and turn it into an array of ScalarQuantities which many functions wouldn't work on. So I have just chang

[2022-09-16 13:46] rieder commented on #4483
Thanks @webbjj, great work! I will have time to continue the review next week :).

[2022-09-16 14:28] olivecha commented on #4769
Hi Daniel,

  1.  There is a citation for the librosa package which intersects with guitarsounds (see paper.bib). The package builds upon the numpy/scipy/matplotlib stack which could be cited.
  2.  It's main purpose is research but it is also used in education to introduce students to signal processing and sound analysis for musical instrument desing.

Hope this answer your questions,

Thanks,

O

[2022-09-16 14:32] danielskatz commented on #4769
Re 1, there is no reference that builds in the paper, so perhaps you aren't putting the citation into the text that would trigger this.  Please see the [sample paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

Re 2, can you perhaps add a little more to the paper that explains the research use?

Please feel free to make changes to your .bib or .md files,

[2022-09-16 14:56] zarrarkhan commented on #4015
@danielskatz
oops. Sorry about that. I've changed this in `paper.bib` which is merged into master now. I won't create a new version. Is that okay?

[2022-09-16 14:58] danielskatz commented on #4015
should be - let's see :)

[2022-09-16 14:58] danielskatz commented on #4015
@editorialbot recommend-accept

[2022-09-16 15:29] danielskatz commented on #4015
sorry @zarrarkhan - there is one more change needed - for the first Pebesma reference, please add `doi = {10.32614/RJ-2018-009},` rather than the URL that is there now.

[2022-09-16 15:51] zarrarkhan commented on #4015
no worries! Done and merged into main.
Happy to make any other changes as needed.

[2022-09-16 15:54] danielskatz commented on #4015
@editorialbot recommend-accept

[2022-09-16 15:55] the-hampel commented on #4623
Hi, this is just to let you know that we addressed all open issues and corrected the paper (joss branch) and corresponding parts in the code on github (unstable branch).
- Alex

[2022-09-16 16:00] danielskatz commented on #4015
@editorialbot accept

[2022-09-16 16:07] samhorsfield96 commented on #4363
Yes this looks good. I've updated the checklist.

[2022-09-16 16:16] danielskatz commented on #4015
Congratulations to @zarrarkhan (Zarrar Khan) ad co-authors!!

And thanks to @CamilleMorlighem and @maczokni for reviewing, and to @hugoledoux for editing!
We couldn't do this without you.

[2022-09-16 16:16] #4015 closed

[2022-09-16 16:28] diegomcarvalho commented on #4448
Hi @fabian-s, all items are satisfied by the collection provided in the repository.

Cheers, d.c

[2022-09-16 16:49] max-little commented on #4718
Thanks, will be able to respond next week.

On Friday, 16 September 2022, The Open Journals editorial robot <
***@***.***> wrote:

automated reminder).

***@***.***>

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Sign

[2022-09-16 17:37] olivecha commented on #4769
@editorialbot generate pdf

Hi daniel,

Re 1 : There was a problem with the way the references citations were included, it is fixed now.

Re 2 : A description of the research used was added in the "statement of need"  section

[2022-09-16 17:39] danielskatz commented on #4769
@editorialbot check references

[2022-09-16 17:39] danielskatz commented on #4769
thanks @olivecha

[2022-09-16 17:42] danielskatz commented on #4769
👋 @bmcfee - you clearly look like the right editor for this. I know you don't formally have a slot available to take a new submission, but I wonder if you think you will soon?

[2022-09-16 17:46] bmcfee commented on #4769
:wave: yeah, this seems like my wheelhouse.  I think I should have a slot freeing up soon, hopefully within the next couple of weeks.

[2022-09-16 17:49] danielskatz commented on #4769
Would you be willing to take this (have this assigned to you) now, with the understanding of the author that you won't start immediately?  I don't think there's a better or quicker path to editing/review...

[2022-09-16 17:52] bmcfee commented on #4769
Sure, happy to!  I'll try to nudge my nearly-complete one along in the meantime.

[2022-09-16 17:53] bmcfee commented on #4554
@hendriks73 @dpwe just giving a little nudge here.  Could you please check over the recent changes in response to your reviews, and update things if necessary?

Thanks!

[2022-09-16 17:54] danielskatz commented on #4769
@editorialbot assign @bmcfee as editor

[2022-09-16 18:12] kadglass commented on #4033
@editorialbot generate pdf

[2022-09-16 18:43] banesullivan commented on #4569
Hi @asitha-sena, thank you so much for your patience!!! It took me far too long to get around to this, and for that, I sincerely apologize. This is a great tool you all have created, and I'm eager to help you all get it published.

There are a handful of things I'd like to address and some more recommendations after that. As I wrap up my review, I will outline what I think are things that MUST be

[2022-09-16 18:51] banesullivan commented on #4569
I have two checks left:

### Functionality documentation: Is the core functionality of the software documented to a satisfactory level (e.g., API method documentation)?

I would like to a more accessible form of the API documentation. Right now, you all have some fantastic docstrings that specify the parameters on return types. This is seriously awesome. However, discoverability is a concern. User

[2022-09-16 19:17] kadglass commented on #4033
@editorialbot generate pdf

[2022-09-16 19:31] kadglass commented on #4033
@dfm Working on it!  The paper is ready to go, and I just tagged the code: the current version is v1.2.0.  We had previously linked the repo to Zenodo (DOI:10.5281/zenodo.7086886), so now we just need to figure out how to update the metadata to match the paper.

[2022-09-16 19:45] cprudhom commented on #4708
Dear all,
First of all, thank you for your comments. I have revised the structure of the article.
But, I made the choice not to add a specific example / code but to link to available tutorials, I hope this is not prohibitive.
So, here is a revision of the paper.

@editorialbot generate pdf

Best

[2022-09-16 19:47] cprudhom commented on #4708
@editorialbot generate pdf

[2022-09-16 19:54] janfreyberg commented on #4706
Hi,

this looks great! Fantastic piece of software. I have left a few Issues and PRs on the original repository. Mostly those are minor, so if @ZeitgeberH resolves them (or closes with justification), I think this is good to go.

Thanks,
Jan

[2022-09-16 20:03] ashwinvis commented on #4715
Thanks for the invitation @elbeejay. However, just as you assumed, I have no background knowledge of lidar measurements. I know that @linabroman is an experienced researcher in the use of lidars. I am not sure if she is available though.

[2022-09-16 20:06] elbeejay commented on #4715
@linabroman - your expertise would be much appreciated as a reviewer for this submission if you are available and interested! At JOSS we do open checklist-driven reviews; peer-review criteria can be viewed [here](https://joss.readthedocs.io/en/latest/review_criteria.html). Let me know if you have any questions about the process.

Thanks for the reply @ashwinvis !

[2022-09-16 20:10] zarrarkhan commented on #4015
@danielskatz @hugoledoux @maczokni @CamilleMorlighem
Thanks to all of you for the great review and very helpful feedback. We appreciate it very much!
Best
Zarrar

[2022-09-16 20:13] skadio commented on #4708
Thank you for the revised version that improves over the initial submission. I especially like the new Summary and showcasing practical industry applications.

While I still believe that a formal Definition of a CSP/COP and then illustrative an example to make that Definition concrete would be good for the general reader, I won't hold that against the paper.

I doubt any CP-er would have difficult

[2022-09-16 20:15] skadio commented on #4708
Related to my Statemenf of Need comment: the review form has a question on "Do the authors describe how this software compares to other commonly-used packages?" Something to consider.

With these minor comments, the paper is good to go from my end. Thank you @cprudhom

[2022-09-16 20:17] jmschrei commented on #4706
Great, thanks for your review!

[2022-09-16 21:35] lorenzo-rovigatti commented on #4693
Hey @ptmerz , thanks a lot for all your comments, I really appreciated the effort you are putting into improving this submission!

Here are some answers to your remarks.

## Authorship

FerdinandoR was a PhD student who wrote a custom interaction (with related analysis classes) to study a specific model that was the focus of his thesis. He did not contribute to the core package, and his last commi

[2022-09-16 21:35] lorenzo-rovigatti commented on #4693
@editorialbot generate pdf

[2022-09-16 22:07] xtruan commented on #4721
First thank you for submitting this interesting project! I don't have much domain expertise in this area, however this seems like a useful tool.

I have created a few issues in the repository: https://github.com/Basvanstein/GSAreport/issues/13, https://github.com/Basvanstein/GSAreport/issues/14, https://github.com/Basvanstein/GSAreport/issues/15.

I would like to be able to build the container and

[2022-09-17 00:53] dfm commented on #4033
@kadglass — Great! When I navigate to a Zenodo archive that I own, I see the following buttons in the top right of the page:

<img width="383" alt="Screen Shot 2022-09-16 at 8 52 09 PM" src="https://user-images.githubusercontent.com/350282/190834104-ff4ed1a1-f62b-40fa-b298-56f10ddc5ea3.png">

Clicking on "Edit" let's me change the metadata. Are you able to access this?

[2022-09-17 05:51] osorensen commented on #4655
👋 @neerajdhanraj, @kauedesousa, could you please update us on how it's going with your reviews?

[2022-09-17 07:25] kauedesousa commented on #4655
Hi @osorensen I am so sorry for the long silence. I was in the middle of several duty travels. I will deliver my report in 1 week. Is that ok? Best regards

[2022-09-17 08:25] osorensen commented on #4655
Thanks @kauedesousa, that sounds great 👍

[2022-09-17 09:14] bytesnake commented on #4737
@editorialbot generate my checklist

[2022-09-17 09:36] ulf1 commented on #4718
Hello @klb2,
you can see my current review in https://github.com/openjournals/joss-reviews/issues/4718#issuecomment-1231505103 and in https://github.com/klb2/qmkpy/issues/created_by/ulf1

[2022-09-17 09:56] klb2 commented on #4718
Thank you @ulf1 for your thorough review of the QMKPy framework.
I will implement the required changes and close the corresponding issues. Once I am done with everything, I will let you know in this review issue.

[2022-09-17 15:07] majensen commented on #4522
@nhejazi I really appreciate your work on this. I think it reads very well and highlights the advance this algorithm makes within the context of the theory, whereas before I felt it was somewhat buried. It should now lead interested reader on to downloading and trying the software!

The final task is for you to create an open archive of the code repository, using Zenodo, FigShare or similar open s

[2022-09-17 15:47] AldoGl commented on #4622
Thank you @Athene-ai for taking the time to learn about Black-it and for your comments. We improved our work following your suggestions, the details are in the following.

- Contribution and authorship

The list of the Authors of Black-it appears in this page https://github.com/bancaditalia/black-it/blob/main/AUTHORS.md. In this "Authors" page there is a link to the “Contributing” page, this one h

[2022-09-17 15:49] AldoGl commented on #4622
Thank you @aseyq for taking the time to learn about our work and for assessing our package and manuscript.

Following your suggestions we did the following.

- To make the documentation more easily visible, we linked the documentation website in the right column of the GitHub page (in the ”About” section), as it is often done for GitHub packages.

- The documentation website does contain an API de

[2022-09-17 16:19] marylou-gabrie commented on #4634
Thanks @minaskar for your helpful answers.

My only remaining question is how do you evaluate the forward KL: using which samples (and potential reweighting) to approximate the expectation over $p$ (where $p$ is the succesively annealed distribution if I am not mistaken)?

Please let us know when the missing references have been added to the paper.

After that, all good for me.

[2022-09-17 16:52] nhejazi commented on #4522
Thanks for confirming @majensen and glad to hear the updated paper reads better (I agree that the presentation of the key points is much improved in this draft).

Regarding the repository archive, the package/repository already had already been archived on Zenodo with a perpetual DOI (for all versions) of https://doi.org/10.5281/zenodo.3698329, so I've just created a new release of the package (ht

[2022-09-17 16:56] danielskatz commented on #4735
👋 @sskutnik, @munkm, @yadudoc - how are things going?  It doesn't look like any of you have created your checklists and gotten started yet.  Please do.

[2022-09-17 16:58] danielskatz commented on #4722
👋 @vitorsr, @DanNixon, and @lucaferranti  - It's great to see you all have started your reviews. However, I don't see any open issues, so I wonder if you can let me know where you are, and anything that might be blocking you from making progress that either I or the authors can act on.  Thanks!

[2022-09-17 16:59] lucaferranti commented on #4722
Apologies for the delay. This whole week I have been travelling for work. I'll carry the review during the upcoming week

[2022-09-17 19:24] mberacochea commented on #4677
# My review of ALPPACA.

ALPPACA is a well written Nextflow pipeline, the code is clean and easy to follow. The paper is very well written and clearly states
the problem the authors are trying to solve.

## Documentation

The documentation of the software is stored in the GitHub Wiki section, but there are no links to it on either the manuscript or the repo README. Less experienced users will stru

[2022-09-17 19:59] ZeitgeberH commented on #4706
Hi Jan,
Thanks very much for your suggestions. I've made changes accordingly and closed the issues.
Zeta

[2022-09-17 20:11] arfon commented on #3312
:wave: @mark-koren – I just heard back from @giodegas that they won't be able to complete their review. I will provide second review myself. Before I do so however I would like you to confirm that you're still interested in pursing this publication with JOSS?

I ask as it looks like you didn't respond to https://github.com/sisl/AdaptiveStressTestingToolbox/issues/53 or https://github.com/sisl/Adap

[2022-09-17 20:13] arfon commented on #3312
@editorialbot remove @giodegas as reviewer

[2022-09-17 20:18] arfon commented on #3119
Friendly bump here @sbillinge @CJ-Wright!

[2022-09-17 20:28] arfon commented on #2954
Friendly reminder that we're expecting an update from you in a couple of weeks @michakraus.

[2022-09-17 20:29] arfon commented on #4378
Hi folks, just checking in again here. How are you getting along with responding to reviewer feedback @joglekara ?

[2022-09-17 20:34] arfon commented on #4151
Update – I just emailed @njuaplusplus, @Kraks, and @bzz to ask them to revisit their reviews.

[2022-09-17 20:34] arfon commented on #4210
Friendly bump here @DavidDoukhan.

[2022-09-18 00:07] joglekara commented on #4378
Thanks for checking in. I opened a couple of issues asking for example usage and a summary / statement of need and forgot to cross-link them.

https://github.com/project-asgard/asgard/issues/429
https://github.com/project-asgard/asgard/issues/430

I will follow up on those now

[2022-09-18 00:55] Ajstros commented on #4762
@editorialbot check references

[2022-09-18 00:58] Ajstros commented on #4762
@editorialbot generate pdf

[2022-09-18 01:03] Ajstros commented on #4762
@danielskatz Thank you for the note. The invalid DOI has been fixed, and the suggested missing DOI is incorrect.

[2022-09-18 08:22] adi3 commented on #3125
@whedon generate pdf

[2022-09-18 08:23] adi3 commented on #3125
@editorialbot generate pdf

[2022-09-18 08:29] adi3 commented on #3125
@tkonolige - I'm almost finished reviewing this submission. Functionality-wise, I'm satisfied. However, in your paper, we need a section titled "Statement of Need" which will include most of the information you already have in your first paragraph. The Summary section itself can just be a few lines long and should provide only a high-level overview of the software and its benefits. Once you make t

[2022-09-18 09:57] erikkjellgren commented on #4759
# Review checklist for @erikkjellgren

### Conflict of interest

- [ ] I confirm that I have read the [JOSS conflict of interest policy](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### Code of Conduct
- [ ]  I co

[2022-09-18 12:40] erik-whiting commented on #4628
Good morning everyone. @gkthiruvathukal the author has completed everything I pointed out in the review and I suggest publishing. Thanks @perdelt for suggesting me as a reviewer and for responding so promptly to everything. Thanks also to @simon-lewis for his help reviewing as well.

Enjoy the rest of your weekend!

[2022-09-18 12:51] gkthiruvathukal commented on #4628
Great! I will act on this and other pending submissions by Monday in US Central. More soon.

[2022-09-18 13:32] enekomartinmartinez commented on #4329
Hi @pdebuyl and @sixpearls !

I have added some tests for Euler method convergence in the following file (still not merged to master and thus not merged to paper branch):
https://github.com/SDXorg/pysd/blob/migration/tests/pytest_integration/pytest_integration_euler.py

I have included the following tests:

- Local truncation error test in some random points with several time steps, which is expec

[2022-09-18 14:35] jarrah42 commented on #4311
Do you still need me for this review?

[2022-09-18 15:24] corybrunson commented on #4563
@editorialbot generate my checklist

[2022-09-18 15:56] asitha-sena commented on #4569
@banesullivan Thanks for the thorough review and helpful suggestions. I also appreciate your kind words about  quality of the doc strings.

I have responded to the issues and merge requests that you opened on Gitlab. The two main issues holding up the publication are multi-platform testing and testing of code snippets. I added a detailed explanation about multi-platform testing not being fully sup

[2022-09-18 16:39] corybrunson commented on #4563
@jbytecode i've encountered a small bug in (i think) how JOSS renders PDFs from 'paper.md'. This submission's paper includes some plain double quotes in R code chunks (e.g. `data("dbces11")`) that are changed to smart quotes (`data(”dbces11”)`) in the PDF. This prevents me from executing the code when copying it from the PDF and pasting it to the console. While i can use the Markdown file to repro

[2022-09-18 16:42] jbytecode commented on #4563
@corybrunson - thank you for addressing this issue. I will report this issue to our system developers.

[2022-09-18 17:52] lpantano commented on #4363
@samhorsfield96, can you check your list again? I see four items still unchecked: Functionality documentation, Automated tests, A statement of need,Quality of writing. Can you double check what is resolved for you again, and mention what is still need more work? I know you have pointed in previous comments your review, but since there has been many changes, it would be good to see a new comment wi

[2022-09-18 17:52] lpantano commented on #4363
@arfon we are having an issue with compiling the paper that the author can not reproduce, do you have any tips for this error? Thanks!

[2022-09-18 17:56] mgm8 commented on #4768
@editorialbot generate pdf

[2022-09-18 19:30] Basvanstein commented on #4721
Thank you @xtruan for the review so far.
I have resolved the 3 reported issues in the last commit.
The local build was failing because the base docker image was updated, I have updated the dependencies such that it works correctly again.

For your other questions:

1. @elenaraponi contributed by testing, evaluating the user experience and helping with the mathematics of some of the methods. It is

[2022-09-18 19:52] Basvanstein commented on #4721
@editorialbot generate pdf

[2022-09-18 20:30] LeonieFierz commented on #4261
@noah80 Thank you for your feedback.

We pushed the latest version including the JOSS Paper to the master, I will delete the joss-paper branch once the Review process has finished.

The ""State of the field: Do the authors describe how this software compares to other commonly-used packages?" is briefly addressed with ".... Various review papers summarize available tools, including their key-featur

[2022-09-18 20:46] stsievert commented on #4377
Thanks for the update @jfowkes, the install went really smooth and it's looking much better. I've checked off all but one of the boxes, and have one recommendation:

* *(issue)* Thank you for including the relevant emails, both on the homepage and CONTRIBUTING.md. I'm still not seeing any "clear" guidelines for anyone "seeking support" (though it's not explicit, people seeking support do have a me

[2022-09-18 21:12] linabroman commented on #4715
Hi,

Thanks for the invitation! I have some experience working with lidar data, however, I have left the University now and are not available for this review due to my new job.

Best,

Lina

________________________________
Från: J. Hariharan ***@***.***>
Skickat: den 16 september 2022 22:07:07
Till: openjournals/joss-reviews
Kopia: Lina Broman; Mention
Ämne: Re: [openjournals/joss-reviews] [PRE R

[2022-09-18 21:24] jeremiah-corrado commented on #4172
Hi @jedbrown, I made some updates to the paper a few weeks ago that reduced the claimed scope of the library to the H(curl) functionality that is currently supported. I also make it clear that extending the library into other domains would be more intensive than creating custom implementations of the basis-function and integral traits. I believe these changes should address the remaining issues in

[2022-09-18 21:55] stsievert commented on #4517
@hoechenberger thanks for the review! I'm glad to see everything went smoothly. I've fixed the conda install issue I think, and released v1.0.0rc5. What version of conda do you have?

[1]:https://github.com/stsievert/salmon/pull/139/commits/2d3669036ab8800bbbc5af9c251e0a4f4f33b5a8
[2]:https://github.com/stsievert/salmon/pull/139/commits/b4f43733fa5ebff760f7f3178628587fbb21f2b3

[2022-09-18 22:26] corybrunson commented on #4563
@schochastics i have concluded my initial review! The package is the first i've seen of this research program since Bauer's positionality paper from several years ago, and it was fascinating to dive into. Thank you so much for making the work so accessible.

While i made several other suggestions that i hope are valuable, my checklist awaits resolutions only to issues [#13](https://github.com/scho

[2022-09-18 22:48] Shreyas911 commented on #4679
Hello @svchb @crvernon,

It is not common to have features like documentation, and CI in softwares that are used in our field. We therefore would prefer to mention them in the paper explicitly. We have reduced the size of the paper from 2500 words to about 1500 words. We have also addressed the issues raised on Gitlab.

[2022-09-18 23:24] LTLA commented on #4742
Thanks @gtonkinhill.

**1.** An interesting idea. It would probably help anyone trying to build a **basilisk** client from scratch. I'd need to think about it though; at least a few of the existing clients come from the position of having an existing R package that interfaces with Python, and they only added **basilisk** integration as part of the BioC review process. In those cases, a more useful

[2022-09-18 23:31] LTLA commented on #4742
@editorialbot generate pdf

[2022-09-18 23:59] gtonkinhill commented on #4742
Great, thanks @LTLA. @Nikoleta-v3, I have finished my review and recommend acceptance!

[2022-09-19 05:30] rcannood commented on #4677
I created an issue in the ALPPACA repository. @csoneson Feel free to chime in on whether some of these comments are not required for the manuscript's acceptance at JOSS.

[2022-09-19 06:49] sara-02 commented on #4493
Last I was trying I was facing issues running the tests, I have updated by OS since then let me try again and revert asap.

[2022-09-19 06:50] sara-02 commented on #4754
@editorialbot generate my checklist

[2022-09-19 07:05] richardjgowers commented on #4467
@editorialbot recommend-accept

[2022-09-19 07:54] EtienneCmb commented on #3842
We thank @[travisbthomp](https://github.com/travisbthomp) for the review and the new suggestions. Please find below our answer to the missing points to be resolved :

We included the target audience in the first page of the documentation.

We thank the reviewer for suggesting adding examples following object description in the API. However, almost all of the objects, methods and functions describe

[2022-09-19 07:54] EtienneCmb commented on #3842
@editorialbot generate pdf

[2022-09-19 08:10] drvinceknight commented on #4607
Hi @Jacks0nJ, thanks for your patience.

I have spoken to @geraintpalmer and he is working on this.

I will attempt to get an update from @CFGrote.

No action needed from you @Jacks0nJ.

[2022-09-19 08:21] csoneson commented on #4677
@mberacochea, @hseabolt, @rcannood - thanks a lot for your thorough reviews!
@hkaspersen - please have a look at the reviewers' comments, and let us know if you have questions or when you are ready for them to take a second look. Thanks!

[2022-09-19 08:25] fabian-s commented on #4701
:wave: @s-canchi @mcavs @muellsen
Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-09-19 08:28] fabian-s commented on #4448
@timClicks are you still willing to do this review for JOSS?

[2022-09-19 08:29] fabian-s commented on #4403
@gdede-hua are you still interested in pursuing this JOSS publication?
If so please update us on your progress on this and/or give an estimate how much more time you will need to adress the issues pointed out by our reviewers.

[2022-09-19 08:31] csoneson commented on #4545
I have not heard back from @patRyserWelch8, so at this point I will try to find an additional reviewer to move the submission forward. Apologies for the delay.

[2022-09-19 08:38] csoneson commented on #4545
👋🏻 @joao-lima, @dghoshal-lbl - would one of you be available and interested in reviewing this submission for JOSS?

Thanks in advance!

[2022-09-19 08:39] hkaspersen commented on #4677
Dear @mberacochea, @hseabolt, @rcannood, and @csoneson.
Thank you so much for taking the time for this review, your feedback is invaluable! I am relatively new to Nextflow, so this will be a learning process for me. The feedback regarding the Nextflow standards is especially useful - I will try to make the pipeline more in line with these standards.

If you have any useful resources to share regar

[2022-09-19 08:41] hkaspersen commented on #4677
Also, should the changes made to the pipeline based on the comments above be registered as issues on the ALPPACA github page?

[2022-09-19 08:58] csoneson commented on #4677
No direct time limit - in order to respect the reviewers' time I'd just like to make sure that the submission is indeed "actively worked on" (i.e., not set aside and stalled for months without updates). It would be great to have a few updates along the way and perhaps an estimate of when you think there may be a new version for the reviewers to look at, but no stress - the main goal is to have a p

[2022-09-19 09:02] CFGrote commented on #4607
I'm on it

[2022-09-19 09:07] Xia-Yijie commented on #4467
There are some errors in `MISSING DOIs`, but I do not know what is going wrong and what I should do to fix these errors. Are these network errors?
The final proof looks good to me.

[2022-09-19 10:19] bzz commented on #4151
Thank you for addressing the initial feedback @Theomat and for the heads up @arfon!
Going to make another pass this week and post the review.

[2022-09-19 10:27] bzz commented on #4151
@whedon generate pdf from branch joss

[2022-09-19 10:27] bzz commented on #4151
@editorialbot generate pdf from branch joss

[2022-09-19 10:49] bzz commented on #4151
@editorialbot commands

[2022-09-19 10:49] bzz commented on #4151
@editorialbot set joss as branch
@editorialbot generate pdf

[2022-09-19 10:50] bzz commented on #4151
@editorialbot generate pdf

[2022-09-19 11:11] Kevin-Mattheus-Moerman commented on #4118
@CZHU20 Yes, what you suggest regarding the archiving and leaving out the paper.md etc is fine.

[2022-09-19 11:14] Kevin-Mattheus-Moerman commented on #3736
@clarka34, @quynhneo :wave: :point_up:

[2022-09-19 11:14] Kevin-Mattheus-Moerman commented on #4211
@oriolcg :wave:

[2022-09-19 11:15] Kevin-Mattheus-Moerman commented on #4252
@vijaysm, @mscroggs, @schruste :wave:

[2022-09-19 13:00] fraukewiese commented on #4712
@phil-sandwell : Would you prefer to wait until mid-october or to try to find other reviewers? In the latter case, do you have any further suggestions?

[2022-09-19 13:17] sbenthall commented on #3496
@ha0ye and @jessie-dotson -- the author of this submission has made some edits based on your reviews. Would you be able to revisit this submission and determine if it meets all the acceptance criteria?

[2022-09-19 13:19] susilehtola commented on #4459
The current reference to Libxc is not Marques et al 2012 but

Fully numerical calculations on atoms and diatomic molecules have been recently reviewed in

An open-source implementation of the finite element method for diatomic molecules in the prolate spheroidal coordinate system has been described in

Note that HelFEM is open source, as well, and includes a full interface to Libxc.

I also I do n

[2022-09-19 13:22] sskutnik commented on #4735
@editorialbot generate my checklist

[2022-09-19 13:22] sbenthall commented on #4536
@r-barnes Would you please be able to review this submission?

[2022-09-19 13:23] sbenthall commented on #4536
@molgor Would you please be able to review this submission?

[2022-09-19 14:01] aseyq commented on #4622
Dear @AldoGl,
Thank you very much for the work done. I think this is a very nice piece of software and I am sure the community will benefit from it. I am looking forward to seeing it published.

Just let me write my comments:
- Thank you for adding the paragraph. Similarly, thank you for the improvements in the documentation. I believe it will help people to understand the nature of the package an

[2022-09-19 14:06] jgostick commented on #4397
@RBrearton have you tried again lately? The site *looks* ok now.  There are uploads with recent dates.

[2022-09-19 14:07] mcavs commented on #4701
Hi @fabian-s, I can review it in next two weeks!

[2022-09-19 14:09] elbeejay commented on #4646
I am going to formally begin the review issue. Hopefully we will hear from @lionel68 soon.

[2022-09-19 14:09] rkurchin commented on #4443
@sidihamady and @kanderso-nrel, from a glance at the discussion here and on issues, it looks like perhaps all of the concerns have been addressed? If not, please make sure @EwaGomez is aware of what other issues you have. If not, it would be great if you can finish up your checklists!

And @sidihamady, to the lack of automated tests point, I think you can still check that box since the full text d

[2022-09-19 14:09] elbeejay commented on #4646
@editorialbot start review

[2022-09-19 14:09] editorialbot opened #4771 "[REVIEW]: The ppmData R-package for setting up spatial point process models"
**Submitting author:** @skiptoniam (<a href="http://orcid.org/0000-0001-7022-0509">Skipton Nicholas Charles Woolley</a>)
**Repository:** https://github.com/skiptoniam/ppmData
**Branch with paper.md** (empty if default branch): joss_submission
**Version:** v1.0.0
**Editor:** @elbeejay
**Reviewers:** @OwenWard, @mhesselbarth
**Archive:** 10.5281/zenodo.7679406

## Status

[![status](https://joss.the

[2022-09-19 14:10] #4646 closed

[2022-09-19 14:13] elbeejay commented on #4771
@OwenWard and @mhesselbarth instructions for completing your reviews are provided in the top comment of this issue. Please make specific comments pertaining to your review in the ppmData repository itself, and reference this overarching JOSS review issue with a hyperlink, to maintain some connectivity between this review issue and individual repository issues. Feel free to provide a summary of you

[2022-09-19 14:14] elbeejay commented on #4771
@editorialbot remind @OwenWard in four weeks

[2022-09-19 14:14] elbeejay commented on #4771
@editorialbot remind @mhesselbarth in four weeks

[2022-09-19 14:15] elbeejay commented on #4715
No problem, thanks for the reply @linabroman.

[2022-09-19 14:20] elbeejay commented on #4715
@Scivision would you be interested in reviewing this submission to JOSS? I believe you have the expertise necessary to provide an insightful and constructive review.

[2022-09-19 14:22] elbeejay commented on #4574
Here just to follow-up on @rCarto's message. @wcjochem , @JosiahParry and @mikemahoney218 when y'all get a chance to take another look at this, please do and let us know if your comments have been addressed, or if you think further changes are necessary before this is acceptable for publication.

Thanks!
Jay

[2022-09-19 14:28] sidihamady commented on #4443
@rkurchin, for me all the issues are addressed.
You're right, I then checked the automated tests box.

[2022-09-19 14:58] sskutnik commented on #4735
Comment / suggestion on the paper; not well-formed enough to form a PR yet, but I wanted to put this out for discussion with the authors and other reviewers:

It seems like a substantial component of the "lift" being done by Watts specifically is in the [https://watts.readthedocs.io/en/latest/reference/generated/watts.Plugin.html#watts.Plugin](plugin class). That is, it acts as a functional adapte

[2022-09-19 15:12] xuanxu commented on #4604
I'm having no luck with any of the potential reviewers I've contacted via email so far, I'll keep trying.
But just in case: @nespinoza / @hpparvi After these weeks, are you available now for the review?

[2022-09-19 15:53] kazewong commented on #4634
I have added comments in the discussion thread in the code repo. Once that is addressed, I am happy with the submission.

[2022-09-19 16:35] sskutnik commented on #4735
Other comments; It would probably be a good idea to explicitly document required Python modules, beyond what is managed by Pip. Installation is easy and is readily reproduced from the instructions, but an explicit list of dependencies would be useful for users installing offline.

Repo has good documentation for developer contributions and use examples; I don't know how stringent we want to be wit

[2022-09-19 16:36] phil-sandwell commented on #4712
@fraukewiese I'm very happy to wait until mid-October to fit around the availability of @EwaGomez and @fneum.

[2022-09-19 17:56] yadudoc commented on #4311
@gkthiruvathukal Yes, I'll start on this today.

[2022-09-19 17:58] yadudoc commented on #4735
@editorialbot generate my checklist

[2022-09-19 18:51] shivupa commented on #4623
OK Sorry for the speed of this review, but I just wanted to say that the issues I have opened have been addressed.

I had worked through one of the tutorials (SrVO3 Metal Insulator transition), and I was able to get a little bit of experience of using the code. The example does require pretty significant computational resources, but this was mentioned in the tutorial so it wasn't a surprise to me.

[2022-09-19 18:57] rkurchin commented on #4623
Wonderful, thanks @shivupa!

🔔 Checking in again on @raghurama123 and @amandadumi regarding their reviews...

[2022-09-19 19:07] amandadumi commented on #4623
Hello,

I just need to take a look at the recent updates from @the-hampel and should be able to finish the review by tomorrow morning.

[2022-09-19 19:19] Jacks0nJ commented on #4607
Cheers both!

[2022-09-19 20:05] catrionamurray commented on #4503
@editorialbot generate pdf

[2022-09-19 20:06] catrionamurray commented on #4503
@editorialbot generate pdf

[2022-09-19 20:07] taylorbell57 commented on #4503
Oh my, it appears I broke something with the Bibtex or something. Let me try and fix that for you!

[2022-09-19 20:08] catrionamurray commented on #4503
Just rounding up my review, but I'm getting a compile error when trying to generate the pdf?

[2022-09-19 20:15] taylorbell57 commented on #4503
Aha, found the typo - the STScI had a missing } in the bibtex snippet they gave me. Should compile fine for you now!

[2022-09-19 20:21] catrionamurray commented on #4503
@editorialbot generate pdf

[2022-09-19 20:37] gkthiruvathukal commented on #4311
Thank you so much, @yadudoc!!
I'll kick this off now. 🥇

[2022-09-19 20:38] gkthiruvathukal commented on #4311
@editorialbot add @yadudoc as reviewer

[2022-09-19 20:38] gkthiruvathukal commented on #4311
@editorialbot add @yadudoc as reviewer

[2022-09-19 20:39] gkthiruvathukal commented on #4311
@editorialbot start review

[2022-09-19 20:39] editorialbot opened #4772 "[REVIEW]: WRENCH 2.0: Cyberinfrastructure simulation workbench"
**Submitting author:** @henricasanova (<a href="http://orcid.org/0000-0001-6310-0365">Henri Casanova</a>)
**Repository:** https://github.com/wrench-project/wrench
**Branch with paper.md** (empty if default branch): joss_2022
**Version:** v2.0
**Editor:** @gkthiruvathukal
**Reviewers:** @jarrah42, @yadudoc
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/84f6fc2beb491f62e2d

[2022-09-19 20:39] #4311 closed

[2022-09-19 21:00] catrionamurray commented on #4503
Thanks Taylor!

From my end the minimum checklist has been completed, I just reran through the (M1 chip) installation and Quickstart using the v0.5 of Eureka! and I'm happy that it installs and runs as it should. A small note is that the Quickstart plots are probably from an older version, so the plots/MAD values etc. I got following the tutorial were slightly different. Not a big deal, but I thou

[2022-09-19 22:11] diehlpk commented on #4730
Has the collaboration already started? I would say if the collaboration starts before the review ends, it's a conflict. If you can wait for the collaboration until you finished the review, it would be fine.

[2022-09-20 00:41] taylorbell57 commented on #4503
Amazing, I'm very glad to hear that it is now working on M1!! Good point on the quickstart figures - I'll try to remember to update those when I get the chance.

For the docs, how much of this has been addressed by the flowcharts found [here](https://eurekadocs.readthedocs.io/en/latest/stages.html). Are you suggesting a link to that page from the top of the API page or from within some key functio

[2022-09-20 01:03] blthayer commented on #4516
@fraukewiese @stinefm

Stine has done an _excellent_ job addressing my first round of feedback. I have found some additional errors/issues and filed them [here](https://github.com/stinefm/relsad/issues/4).

I plan to continue my review later this week, but no sooner than Wednesday evening after work. In the worst case, I'll be picking this back up this upcoming weekend. Again - I'm sincerely sorry

[2022-09-20 02:21] arbennett commented on #4750
Hi @mikldk and @kavir1698 - unfortunately I do not feel like I have adequate bandwidth to review this article, and I also feel it is a bit too far outside of my domain of expertise.

[2022-09-20 02:35] ConnorDonegan commented on #4716
@editorialbot generate pdf

[2022-09-20 04:34] rreinecke commented on #4721
@editorialbot generate my checklist

[2022-09-20 04:54] rreinecke commented on #4721
Dear @Basvanstein adding to the already stated remarks I opened an issue https://github.com/Basvanstein/GSAreport/issues/16 concerning additional notes on the added value of the software.

[2022-09-20 06:51] gdede-hua commented on #4403
Dear Fabien,

I am interested in pursuing this publication. May I kindly ask you to give
more time (e.g. by the middle of October?)

Many thanks in advance.

On Mon, Sep 19, 2022 at 11:29 AM Fabian Scheipl ***@***.***>
wrote:

--
Dr. Georgia Dede
Research Associate and Adjunct Lecturer
Harokopio University of Athens
Department of Informatics and Telematics
Tel. +30 210 9549416
email: ***@***.***

[2022-09-20 07:16] mikldk commented on #4750
@kavir1698 Can you please suggest 2 more reviewers?

[2022-09-20 07:25] jbytecode commented on #4716
@wcjochem, @becarioprecario - could you please update your status?

Can I kindly ask you to create your check list first?

Thank you in advance.

[2022-09-20 07:48] cbrnr commented on #4650
Just a heads up, the issues raised by @vahid-sb have been resolved. Looking forward for your review.

[2022-09-20 08:04] enekomartinmartinez commented on #4329
@pdebuyl @sixpearls required changes and new tests have already included in the paper branch.

About the non-blocking suggestion:
- There is already a short description of the tests in https://pysd.readthedocs.io/en/master/development/guidelines.html#test-suite I will try to improve it in the future but, currently, I don't have time.
- About the structure section, I am thinking about reordering th

[2022-09-20 08:04] enekomartinmartinez commented on #4329
@editorialbot generate pdf

[2022-09-20 09:14] jbytecode commented on #4563
@corybrunson - thank you for the suggestions and opening issues in the target repo.

@schochastics - could you please update your status?

Thank you in advance.

[2022-09-20 09:34] AldoGl commented on #4622
Dear @aseyq,

Thank you for your kind assessment of the software, and for appreciating our revision work on the documentation and on the manuscript.

Your comments on the interface between Black-it and ABM simulators are very helpful. To follow up on them, and on other independent feedback we received in that direction, we are willing to facilitate as much as possible the integration of Black-it w

[2022-09-20 09:41] kavir1698 commented on #4750
Hi @mikldk, I would like to suggest slwu89 and tijeco please.

[2022-09-20 11:30] marastadler commented on #4701
@fabian-s I can review this submission within the next two weeks as well.

[2022-09-20 11:35] fabian-s commented on #4701
ty @marastadler !

[2022-09-20 11:35] fabian-s commented on #4701
@editorialbot assign @mcavs as reviewer

[2022-09-20 11:36] fabian-s commented on #4701
@editorialbot add @mcavs as reviewer

[2022-09-20 11:37] fabian-s commented on #4701
@editorialbot add @marastadler  as reviewer

[2022-09-20 11:38] fabian-s commented on #4701
@editorialbot add @marastadler as reviewer

[2022-09-20 11:39] fabian-s commented on #4701
@editorialbot start review

[2022-09-20 11:39] editorialbot opened #4773 "[REVIEW]: enetLTS: Robust and Sparse Methods for High Dimensional Linear, Binary, and Multinomial Regression"
**Submitting author:** @fatmasevinck (<a href="http://orcid.org/0000-0002-5958-7366">Fatma Sevinç Kurnaz</a>)
**Repository:** https://github.com/fatmasevinck/enetLTS
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.0
**Editor:** @fabian-s
**Reviewers:** @mcavs, @marastadler
**Archive:** 10.5281/zenodo.7598948

## Status

[![status](https://joss.theoj.org/papers/571e01add8e8da5

[2022-09-20 11:39] #4701 closed

[2022-09-20 11:41] fabian-s commented on #4773
👋🏼 @fskurnaz @mcavs @marastadler this is the review thread for the paper. All of our communications will happen here from now on.

**As a reviewer, the first step is to create a checklist for your review by entering**

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please check a

[2022-09-20 11:46] ivastar commented on #4394
@editorialbot add @bethbiller as reviewer

[2022-09-20 11:47] ivastar commented on #4394
@editorialbot start review

[2022-09-20 11:47] editorialbot opened #4774 "[REVIEW]: VIP: A Python package for high-contrast imaging"
**Submitting author:** @VChristiaens (<a href="http://orcid.org/0000-0002-0101-8814">Valentin Christiaens</a>)
**Repository:** https://github.com/vortex-exoplanet/VIP
**Branch with paper.md** (empty if default branch):
**Version:** v1.3.5
**Editor:** @ivastar
**Reviewers:** @m-samland, @bethbiller
**Archive:** 10.5281/zenodo.7499314

## Status

[![status](https://joss.theoj.org/papers/0daafcc27f28

[2022-09-20 11:47] #4394 closed

[2022-09-20 11:51] ivastar commented on #4774
@m-samland & @bethbiller please let me know if you have any questions. We are looking to get a review in max 6-8 weeks (preferably sooner since this paper was submitted a while back).

[2022-09-20 11:59] stefsmeets commented on #4654
@jameshgrn @vijaysm Thanks for reviewing Nanomesh and the feedback! I have addressed the spelling mistakes, clarified the text and update the contributing guidelines. I addressed the more in-depth comments and feedback below.

I agree. I have revised the contributing guidelines and made them available from the [documentation](https://nanomesh.readthedocs.io/en/latest/contributing.html) as well as

[2022-09-20 13:06] enekomartinmartinez commented on #4329
@pdebuyl I have recently changed my affiliation. I will keep the CREAF affiliation in the paper as it is the place where my work in PySD was done. However, @rogersamso suggested that I could add my new affiliation as a footnote saying "Currently at...". My current superior also said that it was not necessary but up to me to include my new affiliation in the same way.

Is there any standard of doin

[2022-09-20 13:07] mikldk commented on #4750
@slwu89, @tijeco: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-09-20 13:22] corentin-dev commented on #4365
@editorialbot generate pdf

[2022-09-20 13:28] diehlpk commented on #4611
@dunnkers how are things going?

[2022-09-20 13:37] samhforbes commented on #4740
Right Crossref seems to think all systems are operational so I'll have another go here.

[2022-09-20 13:37] samhforbes commented on #4740
@editorialbot recommend-accept

[2022-09-20 14:05] xuanxu commented on #4740
Footnotes are not allowed in the Institutions list. The error is caused by the syntax used here: https://github.com/cosimameyer/overviewR/blob/master/paper/paper.md?plain=1#L16

[2022-09-20 14:09] samhforbes commented on #4740
@xuanxu thanks for this - I wouldn't have known this is an issue. @cosimameyer would you mind fixing this, and we can re-run with everything crossed.

[2022-09-20 14:12] cosimameyer commented on #4740
Thanks for the update! I'll change it - is there a way to include the footnote info somewhere? Or should we leave it out?

[2022-09-20 14:16] xuanxu commented on #4740
Maybe adding it as a second affiliation for both authors?

[2022-09-20 14:41] slwu89 commented on #4750
Hi @mikldk, yes I’m able to review this article.

[2022-09-20 15:15] amandadumi commented on #4623
Hello,

I also want to apologize that this took me longer than intended, but thanks for the patience!

I was able to work through a different tutorial, "3. CSC with QE/W90 and HubbardI: total energy in Ce2O". This specific tutorial was reasonable in computational cost and was easy to work through. A quick look at the other tutorials suggests that these are also seemed informative and relevant to r

[2022-09-20 15:35] corentin-dev commented on #4365
@editorialbot generate pdf

[2022-09-20 15:42] corentin-dev commented on #4365
@editorialbot check repository

[2022-09-20 15:51] timClicks commented on #4448
Yes I am! Sorry for the lack of contact. Please give me 24h.

[2022-09-20 16:20] jbytecode commented on #4708
Dear @cprudhom

Could you please revise your code and the paper in light of our reviewer's suggestions. Please ping us when you have done with them.

Thank you in advance.

[2022-09-20 16:23] kyleniemeyer commented on #4467
@Xia-Yijie I think the bot struggled with those items; can you confirm those are the appropriate citations for those things? In particular, for the software, are there DOIs available?

[2022-09-20 16:33] cosimameyer commented on #4740
@editorialbot generate pdf

[2022-09-20 16:36] cosimameyer commented on #4740
@editorialbot check references

[2022-09-20 16:41] samhforbes commented on #4740
Thanks @editorialbot
We are going to try again for real! Fingers crossed.

[2022-09-20 16:41] cosimameyer commented on #4740
Excellent suggestion, thanks @xuanxu.
I archived the new version at @samhforbes, the new DOI is 10.5281/zenodo.7097560 (https://doi.org/10.5281/zenodo.7097560). Can you update it?

[2022-09-20 16:42] samhforbes commented on #4740
@editorialbot set 10.5281/zenodo.7097560 as archive

[2022-09-20 16:43] samhforbes commented on #4740
@editorialbot recommend-accept

[2022-09-20 16:51] cosimameyer commented on #4740
This looks great 🚀  What a wonderful way to (possibly) finish a workday! :)

[2022-09-20 16:57] catrionamurray commented on #4503
I don't think the improvements on either the docs or the tests are necessary for JOSS acceptance (though maybe @dfm has more insight into this). However, I think it would be great for the user if there should be something along the lines of what exists for the JWST pipeline (https://jwst-pipeline.readthedocs.io/en/latest/jwst/background_step/description.html) at least for the major steps beyond St

[2022-09-20 17:13] wcjochem commented on #4716
Hi @jbytecode when I agreed to review this submission I said I couldn't start until after 15 September. So I have only started my review and it is ongoing. Thanks.

[2022-09-20 17:34] vahid-sb commented on #4650
@Kevin-Mattheus-Moerman I am done with the review, and I can recommend MNELAB to be published in JOSS.

[2022-09-20 18:19] rkurchin commented on #4623
@the-hampel since we have two reviewers' approval, I'm going to go ahead and proceed here and just remove the third reviewer. I'll do an editorial pass over the manuscript and send any comments shortly. In the meantime, the next steps for you are:

1. Merge any and all changes from this review into your main branch and **issue a new version tag**. _(If you want to merge in the paper itself, you ma

[2022-09-20 18:19] rkurchin commented on #4623
@editorialbot remove @raghurama123 from reviewers

[2022-09-20 18:21] rkurchin commented on #4623
@editorialbot generate pdf

[2022-09-20 18:53] rkurchin commented on #4623
@editorialbot check references

[2022-09-20 18:55] rkurchin commented on #4623
Some minor editorial comments:
* line 14: should read "...packages *have begun* to become..." (tense consistency)
* 15: "self-written" is a bit of an awkward phrase. I might rephrase this to something like "...carried out by in-house codes developed and used in individual research groups."
* 17: a bit awkward (and strictly ungrammatical) as-written here, maybe rephrase to "...whether black-box sof

[2022-09-20 19:04] adonath commented on #4626
@tibordome I'm still waiting for responses from potential 2nd reviewers, I'll keep you up to date...

[2022-09-20 19:13] gcattan commented on #4114
@oliviaguest It looks like @raybecker is not available (which I can understand based on the situation he explained earlier).
Do you think the software has sufficiently improved after the review of @ekinney-lang?
If not, could we invite another reviewer?

[2022-09-20 19:19] oliviaguest commented on #4114
I think it's possible @raybecker returns, from what we discussed over email

However, I'm very happy to invite another reviewer. Do you have any suggestions? 😊

[2022-09-20 19:31] kyleniemeyer commented on #4740
Hi @cosimameyer, I just made a PR with a few minor edits to the paper, could you merge that? https://github.com/cosimameyer/overviewR/pull/34

Then I can proceed with accepting the paper.

[2022-09-20 19:36] schochastics commented on #4563
@corybrunson Thanks for the thorough review and the kind words.
@jbytecode I am givings a workshop this week so have limited time but will try to resolve the issues as soon as possible.

[2022-09-20 19:39] gcattan commented on #4114
Oh ok, I did not know that. If he is willing to continue the review that totally fine :)
If not, I can suggest may be `brianjohannes` or `VlastaKoudelka`.

[2022-09-20 19:43] cosimameyer commented on #4740
Thanks, @kyleniemeyer - it's merged 😊

[2022-09-20 19:50] kyleniemeyer commented on #4740
@editorialbot generate pdf

[2022-09-20 19:53] kyleniemeyer commented on #4740
@editorialbot accept

[2022-09-20 20:01] kbarnhart commented on #4704
@Elchin and @mdpiper - I see you have both started your reviews, and have also started opening issues in the main repository. Thank you!

If you could write a quick update here indicating when you anticipate completing your review, that would be excellent. Completing your review doesn't mean you need to have checked off every checkbox in the above lists... If there are checkboxes that you do not t

[2022-09-20 20:48] schochastics commented on #4563
@editorialbot generate pdf

I addressed issues 13 and 16. I think 16 is already resolved and now just waiting for @corybrunson to confirm the reproducibility of benchmark results.

The only thing that was changed in the paper is to explicitly state that the graph is a toy example specifically crafted for the purpose of illustration.

[2022-09-20 20:51] corybrunson commented on #4563
@jbytecode all of my concerns have been addressed, and i am prepared to recommend the paper for acceptance. (I left one follow-up request on issue 16 but the checklist issue has been addressed. (Thanks, @schochastics !)

[2022-09-20 21:29] vlad0x00 commented on #4720
Just a quick comment -- I updated the scripts in `paper` branch to download the latest btllib version. The one it downloaded previously had some missing files which could've caused compile issues. If you successfully compiled it with the previous `paper` branch, that's alright, the code should've worked fine, it was just a compilation-related issue.

[2022-09-20 21:42] tibordome commented on #4626
@adonath sounds good!

[2022-09-20 21:49] stinefm commented on #4516
Hi @blthayer, @fraukewiese,

Thank you for the feedback! I have worked on the issues you addressed. Below is a summary of the issues.

Documentation Suggestions:
The typos and spellings you mentioned are fixed. I have created a "Setup" section for the "Traditional power system" tutorial as suggested to improve maintainability and readability. The "Sequential simulation" tutorial contained a bug wh

[2022-09-20 23:21] max-little commented on #4718
@editorialbot generate my checklist

Message ID: ***@***.***>
--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Signal Processing, Oxford University Press
global.oup.com/academic/product/machine-learning-for-signal-proces

[2022-09-20 23:23] max-little commented on #4661
@editorialbot generate my checklist

On Mon, 29 Aug 2022 at 21:09, The Open Journals editorial robot
***@***.***> wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Signal Processing, Oxford University Press
global

[2022-09-20 23:33] max-little commented on #4718
@editorialbot generate my checklist

On Mon, 29 Aug 2022 at 21:08, The Open Journals editorial robot
***@***.***> wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Signal Processing, Oxford University Press
global

[2022-09-20 23:38] max-little commented on #4718
Main set of review comments now provided, raised as issues on the project
page.

On Fri, 16 Sept 2022 at 17:33, The Open Journals editorial robot <
***@***.***> wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Si

[2022-09-20 23:39] max-little commented on #4718
@jbytecode <https://github.com/jbytecode> Editorial bot doesn't seem to
want to generate my review checklist, for some reason?

On Mon, 29 Aug 2022 at 21:08, The Open Journals editorial robot <
***@***.***> wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate

[2022-09-20 23:43] max-little commented on #4661
@klb2 @jbytecode @ulf1 You can find a set of fairly extensive reviews on the project page, raised as issues.

[2022-09-20 23:55] max-little commented on #4718
## Review checklist for @max-little

### Conflict of interest

- [x] I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### Code of Conduct

- [x] I confirm that I read and will adhere to

[2022-09-21 01:02] VHchavez commented on #4459
Thanks for the additional references!

[2022-09-21 03:24] Xia-Yijie commented on #4467
@editorialbot check references

[2022-09-21 03:47] Xia-Yijie commented on #4467
@kyleniemeyer I find that there are three available DOIs for the software and I have added them to the file `paper.bib`, but there are no available DOIs for the others.
Every time I asked the bot to check references, the bot gave me `None` in `MISSING DOIs`, but when you asked it to check references, it raised some errors. Why?

[2022-09-21 06:04] raybecker commented on #4114
I'm recovering after a week of having nightmares, but I have the head for this now. The lab is flying to Pisa tomorrow, and then I have a presentation on Friday morning. So once that is off my place and I get a few hours at least on this work vacation, let me update you on progress. Maybe a deadline of next Wednesday, before I head to the next conference?

[2022-09-21 07:44] tarleb commented on #3742
Hi all! We are working towards a more unified archive of all JOSS papers. In this process, I noted that the Markdown sources for this paper contain markup to include an image that does not exist, namely `images/tutorial_8_geom.png`, and is hence not included in the PDF. Judging from the surrounding text, the image may have been combined with another graphic, so this may not be a problem. Otherwise

[2022-09-21 07:52] tarleb commented on #3766
Hi all! We are working towards a more unified archive of all JOSS papers. In this process, I noted that the Markdown sources for this paper contain markup to include an image that does not exist, namely `images/Onedim_GP.png`. It seems that the image was supposed to be a combination of three files in the *figures* folder. For best results, the figure caption should be given as the image descriptio

[2022-09-21 08:05] dunnkers commented on #4611
Hi @diehlpk. I just merged https://github.com/dunnkers/fseval/pull/81 and am working on https://github.com/dunnkers/fseval/pull/83, making improvements where necessary. So it's in-progress.

[2022-09-21 12:25] kyleniemeyer commented on #4740
Congratulations @cosimameyer on your article's publication in JOSS!

Many thanks to @drmowinckels and @milenamilena for reviewing this, and @samhforbes for editing.

[2022-09-21 12:25] #4740 closed

[2022-09-21 12:35] Jammy2211 commented on #4639
Deadlines are finally over so sorting this out this week.

Its a bit less trivial than it should be, as we have made a key dependency pip installable so I'll update installation docs at the same time, which should make the life of the reviewers easier.

[2022-09-21 12:38] kyleniemeyer commented on #4467
@Xia-Yijie Thanks for adding those. It could have been a temporary issue with something behind the scenes. At the end of the day, those messages are meant more as guidance anyways.

[2022-09-21 12:38] kyleniemeyer commented on #4467
@editorialbot generate pdf

[2022-09-21 12:39] gcattan commented on #4114
Ok, thanks for the update. I am not sure if the question was for me, but if yes, Wednesday sounds good to me. Good luck with the presentation :)

[2022-09-21 13:32] ppxasjsm commented on #4693
@degiacom, would you possibly be able to review this paper?

[2022-09-21 13:51] ppxasjsm commented on #4693
I am not aware of anything specific in the guidelines after a quick search, but making them clearly visible as links would be helpful I think.

FerdinandoR was a PhD student who wrote a custom interaction (with related analysis classes) to study a specific model that was the focus of his thesis. He did not contribute to the core package, and his last commit dates back to 2018, which predates (by a

[2022-09-21 14:08] edeno commented on #4766
@editorialbot commands

[2022-09-21 14:09] edeno commented on #4766
@editorialbot check references

[2022-09-21 14:09] edeno commented on #4766
@editorialbot generate pdf

[2022-09-21 14:26] mhesselbarth commented on #4771
@editorialbot generate my checklist

[2022-09-21 14:51] merkelm commented on #4623
Dear @rkurchin, thank you for your comments on the paper! I just incorporated them in [this commit](https://github.com/TRIQS/solid_dmft/commit/3ec8bc363352bb3048dd600350bc7a2b38b0f470).
-- Max

[2022-09-21 14:53] rkurchin commented on #4623
Great! So once you finish up the stuff in [this comment](https://github.com/openjournals/joss-reviews/issues/4623#issuecomment-1252741234) we should be good to go!

[2022-09-21 14:57] chryswoods commented on #4494
I am away on extended leave and won't be able to look at this again until November. I am happy for the paper to be published once all of the unit tests pass.

[2022-09-21 15:01] langmm commented on #4756
@editorialbot generate my checklist

[2022-09-21 15:18] hechth commented on #4494
@chryswoods We just merged a PR which contains fixes to the unit tests. Maybe @marshallmcdonnell could you confirm this?

@csoneson would this then be enough to accept the submission for publication?

[2022-09-21 15:28] mdpiper commented on #4704
@editorialbot generate pdf

[2022-09-21 18:19] nicholas512 commented on #4704
I just noticed a small error in the inline citations.  This has been fixed.

@editorialbot generate pdf

[2022-09-21 18:20] danielskatz commented on #4704
@editorialbot generate pdf

a command needs to be the first thing in a comment...

[2022-09-21 18:59] mdpiper commented on #4704
@kbarnhart My review is complete. A summary note: this is a tidy, well-focused package, perfect for JOSS. Years ago, I worked with snow temperature profile data from Campbell Scientific CR-10 dataloggers. This package would have been helpful!

[2022-09-21 19:07] nicholas512 commented on #4704
Thanks for the review @mdpiper!

[2022-09-21 19:21] pdebuyl commented on #4329
Thanks @enekomartinmartinez for the updates.

@sixpearls could you assess the changes? From a first look, it seems that all of your requirements are met.

@enekomartinmartinez regarding the affiliations, I could not find specific instructions either. The footnote that you suggest is fine. If you wish that the affilication is included in the metadata, you can add it as a second affiliation though.

[2022-09-21 19:23] pdebuyl commented on #4748
Hi @georgiastuart thanks for starting the review.

@Himscipy do you have any question regarding the editorial process?

[2022-09-21 20:42] jarrah42 commented on #4772
@editorialbot generate my checklist

[2022-09-21 20:50] jarrah42 commented on #4772
@gkthiruvathukal One of the authors works at the same organization as me, but not in the same part of the organization. I have collaborated with him in the past and have had recent interactions with him. Does that constitute a COI for this review?

[2022-09-21 21:18] meg-simula commented on #4766
A bit outside my scope, and in light of my (symptomatic) response time, I think I'll have decline this one.

[2022-09-22 01:33] majensen commented on #4522
@editorialbot set doi.org/10.5281/zenodo.7089147 as archive

[2022-09-22 01:34] majensen commented on #4522
@editorialbot set v0.2.5 as version

[2022-09-22 01:34] majensen commented on #4522
@editorialbot recommend-accept

[2022-09-22 01:45] majensen commented on #4522
@nhejazi Can you review the above output from the paper build - I believe there are two references you can add ("Missing DOIs"), and it looks like there is a duplicate reference that could be deleted. Thanks!

[2022-09-22 02:05] Xia-Yijie commented on #4467
@kyleniemeyer  Thanks for you reply. I see.

The final proof looks good to me.

[2022-09-22 02:41] yadudoc commented on #4772
@editorialbot generate my checklist

[2022-09-22 04:31] nhejazi commented on #4522
@majensen --- thanks for catching these necessary edits. I've removed the duplicated bibliography entry and added the two missing DOIs (these manuscripts both completed their respective publication processes sometime after this software paper was submitted, so the DOIs were not available back then).

[2022-09-22 08:58] teddygroves commented on #4760
fwiw this repository contains over 1000 lines of source code (648+93+75+75+71+26+22 as above + 64 non-blank lines in `.stan` files not counted by cloc)

[2022-09-22 09:32] jonathanHuwP commented on #4333
@lucydot @JoannaLeng

Hello Lucy,

This is a list of what we have done to address your concerns.

•	The reference “Krasner, G., & Pope, S. (1988)” is from 1988 which is before the common use of DOIs and we have not been able to find any. This reference relates to the MVC (Model View Control” architecture that we used and mention in the design section. It is an old and well recognised architecture.

[2022-09-22 09:43] marastadler commented on #4773
@editorialbot generate my checklist

[2022-09-22 10:08] fabian-s commented on #4448
@timClicks seems like 24h might have been too ambitious ... :smirk:
Could you let us know what a realistic time frame for getting this done is, please?

[2022-09-22 10:09] OllyK commented on #4691
Hi @osorensen , according to the docs, only editors can run the editorialbot `check references` command. Would it be possible for you to run it? -  I updated the references last week. Kind regards

[2022-09-22 10:42] osorensen commented on #4691
@editorialbot check references

[2022-09-22 11:08] edejong-caltech commented on #4412
Thanks @dhhagan for the update! Let me know if we can be of any help.

[2022-09-22 11:54] kyleniemeyer commented on #4467
@editorialbot accept

[2022-09-22 12:09] kyleniemeyer commented on #4467
Congratulations @Xia-Yijie on your article's publication in JOSS!

Many thanks to @ojeda-e and @hmacdope for reviewing this, and @richardjgowers for editing.

[2022-09-22 12:09] #4467 closed

[2022-09-22 12:15] tijeco commented on #4750
@mikldk I'm happy to review this!

[2022-09-22 14:35] jonathanHuwP commented on #4333
Hi @lucydot

We have merged and checked and are happy with the result.

Thanks to the reviewers @KedoKudo  and @CFGrote

[2022-09-22 14:45] the-hampel commented on #4623
Dear @rkurchin,
I hope I did everything correctly: https://doi.org/10.5281/zenodo.7105085 . This Zenodo DOI refers to a new release 3.1.2 : https://github.com/TRIQS/solid_dmft/releases/tag/3.1.2 . I included in this release all changes we made during the review process plus some small fixes to the code. We decided to keep the JOSS branch separate, so that people download the paper from the JOSS we

[2022-09-22 14:52] RBrearton commented on #4397
Zenodo is still broken for automatically archiving repositories (at least on my end it is), but I did a manual upload so that we aren't just waiting forever.

I've updated the paper to use the new doi (10.5281/zenodo.7105217). I double checked affiliations and made a new release with all the changes (in fact, I made a lot of released with the changes while trying to get zenodo to work, so we ended

[2022-09-22 15:12] jgostick commented on #4397
@editorialbot set 1.0.7 as version

[2022-09-22 15:12] jgostick commented on #4397
@editorialbot set 10.5281/zenodo.7105217 as archive

[2022-09-22 15:13] jgostick commented on #4397
@editorialbot generate pdf

[2022-09-22 15:19] jgostick commented on #4397
Hey @RBrearton, the PDF has 3 authors, but the zenodo archive only lists you and Andrew McCluskey

[2022-09-22 15:25] RBrearton commented on #4397
Is this a hard requirement? Tim supervised the project. He provided direction and helped both McCluskey and me a great deal. He didn't directly push any commits to the repository, though, so I thought it was appropriate to list him an author on the article but not as an author of the source code.

I can change this if required, but I thought this was a good way of representing authorship!

[2022-09-22 15:58] ha0ye commented on #3496
Looks good to me!

[2022-09-22 16:24] danielskatz commented on #4705
The rOpenSci review has now been successful.

[2022-09-22 16:25] danielskatz commented on #4705
@bcjaeger - are any changes in the paper needed (based on the review process)?

[2022-09-22 16:26] danielskatz commented on #4705
Also, is the current software in zenodo or a similar repo now?

[2022-09-22 16:54] jgostick commented on #4397
I'm not actually sure.  I think I need the EiC to answer this one.

[2022-09-22 16:54] jgostick commented on #4397
@editorialbot check references

[2022-09-22 16:59] danielskatz commented on #4397
This is fine in this case. We might suggest that Tim also be added as an author of the zenodo repo based on his role in the project (project contributions don't have to be commits to source code), and then the authors would be consistent, but it's up to you.

[2022-09-22 17:04] thchang commented on #4468
@Viech here is our response to your review.  Your review was very helpful to us, thank-you for your thoroughness.

FYI, all changes to our source code and docs that you suggested are now active in the develop branch, and were addressed in the following PR, so you can conveniently view the diffs here:  https://github.com/parmoo/parmoo/pull/39

Additionally, we have not yet updated the paper, but we

[2022-09-22 17:53] jgostick commented on #4397
Hi @RBrearton , thanks to the editorialbot I just noticed that only 1 of your references has a doi. Can update the paper to include these for each reference?

[2022-09-22 17:55] jgostick commented on #4397
Thanks @danielskatz, I guess we just have to deal with the doi thing and i'll be ready for 'dry run' acceptance time!

[2022-09-22 19:19] espottesmith commented on #4757
@editorialbot generate my checklist

[2022-09-22 19:25] suyashkumar commented on #4767
@editorialbot generate my checklist

[2022-09-22 19:26] rkurchin commented on #4623
@editorialbot add 3.1.2 as version

[2022-09-22 19:27] rkurchin commented on #4623
@editorialbot commands

[2022-09-22 19:27] rkurchin commented on #4623
@editorialbot set 3.1.2 as version

[2022-09-22 19:27] rkurchin commented on #4623
@editorialbot set https://doi.org/10.5281/zenodo.7105085 as archive

[2022-09-22 19:28] rkurchin commented on #4623
@editorialbot generate pdf

[2022-09-22 19:30] rkurchin commented on #4697
I'm about to finish up another submission and would be happy to edit this one as it's right up my alley!

[2022-09-22 19:31] rkurchin commented on #4623
@editorialbot check references

[2022-09-22 19:32] rkurchin commented on #4623
@editorialbot recommend-accept

[2022-09-22 19:32] bcjaeger commented on #4705
Thanks for checking! I re-read the paper and can confirm it does not need an update.

v0.0.2 is on CRAN now - is that what you mean by similar repo to zenodo? I am happy to publish it on zenodo if that would be helpful, just let me know.

[2022-09-22 20:07] jarrah42 commented on #4772
@editorialbot commands

[2022-09-22 21:20] rkurchin commented on #4694
@SotaYoshida, just wanted to check in on the progress on these updates. How are things going?

[2022-09-22 21:22] rkurchin commented on #4443
@sidihamady, just checking on on your last checkbox regarding performance claims. What actions do you see as necessary for checking off that last criterion?

[2022-09-22 21:31] espottesmith commented on #4757
My review is complete.

The authors have produced and described `pyromat`, a utility for calculation of gas-phase (and, to a certain extent, mixed gas/liquid) thermodynamic properties, based on established models. They provide data for ~1000 unique species, which include both common and uncommon gas-phase molecules and ions. The code is written clearly, and the documentation is, for the most part,

[2022-09-22 21:41] majensen commented on #4522
@editorialbot recommend-accept

[2022-09-22 21:55] jranalli commented on #4757
Thank you very much for your time in the review. I'd just like to clarify the two major issues:
- We have some tests stored in branch `tests-jranalli`. Specifically the files `test_ig` and `test_mp1`. Is there some type of documentation of that we could add that would help to satisfy this concern?
- I agree that the cycle codes are half finished. It represents a longer term goal for the project to

[2022-09-23 00:10] SotaYoshida commented on #4694
@rkurchin Thank you for the reminder.
According to the reviewer(@mdavezac)'s comment, I have made dozens of modifications so far.
I will tag v0.1.5 within a couple of days and, then reply to the comments with summary of modifications.

[2022-09-23 00:47] quang-huynh commented on #4724
I reviewed the software by installing the package on my local desktop and going through the example in the **An_example_with_simulated_data** vignette. I was able to replicate the steps in the vignette on my R console and replicate the figures.

**Documentation suggestions:**

I noticed that many figures in the vignette are too small, so the figure width needs to be wider in the Rmarkdown document

[2022-09-23 00:55] fboehm commented on #4720
@MaximLippeveld and @pjb7687 - once you've had a chance to check the revisions from the authors, please feel free to update the review checklists and to comment here with any additional revisions needed. Thanks again!

[2022-09-23 00:58] fboehm commented on #4674
@diazrenata  - once you've had a chance to review the revisions from @DominiqueMaucieri , please feel free to update the review checklist, if possible. If additional revisions are needed, please feel free to discuss them here. Thanks again!

[2022-09-23 07:02] mikldk commented on #4750
@editorialbot add @slwu89 as reviewer

[2022-09-23 07:02] mikldk commented on #4750
@editorialbot add @tijeco as reviewer

[2022-09-23 07:03] mikldk commented on #4750
@editorialbot start review

[2022-09-23 07:03] editorialbot opened #4775 "[REVIEW]: EvoDynamics.jl: a framework for modeling eco-evolutionary dynamics"
**Submitting author:** @kavir1698 (<a href="http://orcid.org/0000-0003-0895-1495">Ali Rezaee Vahdati</a>)
**Repository:** https://github.com/kavir1698/EvoDynamics.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.17.0
**Editor:** @mikldk
**Reviewers:** @slwu89, @tijeco
**Archive:** 10.5281/zenodo.7303672

## Status

[![status](https://joss.theoj.org/papers/8c79b00b22447e7cab1d

[2022-09-23 07:03] #4750 closed

[2022-09-23 07:05] mikldk commented on #4775
@slwu89, @tijeco: Thanks for agreeing to review. Please carry out your review in this issue by first creating a checklist (`@editorialbot generate my checklist`) and then updating it as the review proceeds. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to a

[2022-09-23 08:51] petebankhead commented on #4767
I had no problems running the software, and the documentation seems very clear and extensive.

Some minor points, relevant to the checklist above:

* I didn't see information about the source of the test/sample images, to check off the 'Human and animal research' box

* I tried the software on macOS, so no installer was available. Installation instructions do work, but the need for Java 16+ compli

[2022-09-23 09:11] PaulDebus commented on #4723
@editorialbot generate my checklist

[2022-09-23 10:33] dfm commented on #4321
@smkia, @saigerutherford — Can I get you to check in on your checklists again and @harveyaa's responses to the issues you raised? Thanks!!

[2022-09-23 10:39] dfm commented on #4692
@abatten — Please keep this on your radar - let us know if you have any questions or comments related to the remaining check boxes. Thanks for your work so far!!

[2022-09-23 10:43] dfm commented on #4503
Agreed! We want to provide constructive feedback to improve the usability and reliability of scientific software, but we don't want to be too hard line. I agree with @catrionamurray and @christinahedges that these documentation improvements should be high priority for the development team to increase the impact of Eureka, but a complete overhaul is not necessary for this submission as far as I'm c

[2022-09-23 14:11] danielskatz commented on #4557
@phpuech - This is indeed taking longer than normal. For many papers, the review would be complete by this time.

@prashjha - can you let us know what's going on?

[2022-09-23 14:41] kyleniemeyer commented on #4623
@editorialbot accept

[2022-09-23 14:41] RBrearton commented on #4397
Hi there, I've just updated the DOI's (the Rigaku paper doesn't have a DOI). I've also added Tim as an author on the Zenodo repository (@danielskatz is right about authorship; the place for tracking commits to source code is github, not Zenodo).

[2022-09-23 14:42] kyleniemeyer commented on #4522
@editorialbot set 10.5281/zenodo.7089147 as archive

[2022-09-23 14:43] kyleniemeyer commented on #4522
@editorialbot accept

[2022-09-23 14:49] kyleniemeyer commented on #4623
Congratulations @the-hampel on your article's publication in JOSS!8614))

Many thanks to @amandadumi and @shivupa for reviewing this, and @rkurchin for editing.

[2022-09-23 14:49] #4623 closed

[2022-09-23 14:50] kyleniemeyer commented on #4522
Congratulations @nhejazi on your article's publication in JOSS!

Many thanks to @turgeonmaxime and @adibender for reviewing this submission, and @majensen for editing.