[2022-06-06 09:15] faroit commented on #4352
@editorialbot add @rmmilewi as reviewer

[2022-06-06 09:17] faroit commented on #4352
@editorialbot generate pdf

[2022-06-06 09:24] hainesr commented on #4352
I thought as much! No worries

[2022-06-06 10:34] gcattan commented on #4403
@editorialbot generate my checklist

[2022-06-06 10:47] dfm commented on #4428
Thanks for volunteering @mattpitkin! I may just take you up on that, but give me a day or two to get back to you since I already have a few emails out to other folks. Thanks again!!

[2022-06-06 10:52] dfm commented on #4428
@editorialbot add @QuentChangeat as reviewer

🎉 Thanks @QuentChangeat for agreeing to be one of our reviewers!! I expect to have the second reviewer lined up shortly and then we'll get the main review thread started.

[2022-06-06 12:15] vsoch commented on #4352
@editorialbot generate pdf

[2022-06-06 12:19] vsoch commented on #4352
I'm not sure if the bot here is using a cache? I fixed the URLs at the bottom to address https://github.com/vsoch/citelang/issues/41 (see preview attached from Whedon preview service) but it doesn't appear to be reflected above.
[whedon-preview-service.pdf](https://github.com/openjournals/joss-reviews/files/8844387/whedon-preview-service.pdf)

[2022-06-06 12:55] jGaboardi commented on #3330
@apulverizer Thanks for your super quick review. @gegen07 and I will look into resolving pysal/spopt#240 and pysal/spopt#242 as soon as possible. Regarding pysal/spopt#241, I left an explanation on why that should be "leave as is" and closed it out.

[2022-06-06 13:00] cticenhour commented on #4378
@editorialbot generate my checklist

[2022-06-06 14:05] gregbryan commented on #4417
@editorialbot generate my checklist

[2022-06-06 14:55] fboehm commented on #4251
@nociale - are there any questions about the next steps? Once I get the archive doi and release version number, we should be ready to publish the submission.

[2022-06-06 14:58] flyaflya commented on #4415
@ChristopherLucas A nearly equivalent representation of the eight-schools problem can be shown like this:
![image](https://user-images.githubusercontent.com/17184441/172177380-73c916d5-2918-4e3a-a484-866e249f6824.png)
(`variable()` represents a flat prior).  This picture above exactly matches the description in Gelman et al. (2014) p. 119-120 (available here: http://www.stat.columbia.edu/~gelman/b

[2022-06-06 16:57] dfm commented on #4428
@editorialbot add @jgagneastro as reviewer

🎉 Thanks @jgagneastro for agreeing to act as the second reviewer!! I'll get the main review thread started and I'll have lots more info for you over there.

@mattpitkin: you're off the hook this time. Thanks again for offering your time and I'll definitely be taking you up on it in the near future :D

[2022-06-06 16:57] dfm commented on #4428
@editorialbot start review

[2022-06-06 16:57] editorialbot opened #4456 "[REVIEW]: special: A Python package for the spectral characterization of directly imaged low-mass companions"
**Submitting author:** @VChristiaens (<a href="http://orcid.org/0000-0002-0101-8814">Valentin Christiaens</a>)
**Repository:** https://github.com/VChristiaens/special
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.4
**Editor:** @dfm
**Reviewers:** @QuentChangeat, @jgagneastro
**Archive:** 10.5281/zenodo.7181950

## Status

[![status](https://joss.theoj.org/papers/8b5223782855

[2022-06-06 16:57] #4428 closed

[2022-06-06 16:59] dfm commented on #4456
@QuentChangeat, @jgagneastro — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above, and generate your checklists by commenting `@editorialbot generate my checklist` on this issue ASAP. As you go over the submission, please check any

[2022-06-06 17:02] dfm commented on #4456
@editorialbot remind @jgagneastro in five weeks

Jonathan will do most of his review after some travel that he's doing for the next few weeks and the bot will send a ping then.

@jgagneastro: Before you leave, can you comment `@editorialbot generate my checklist` on this thread and go through the conflict of interest just so it's there?

@QuentChangeat: You're welcome / encouraged to start your re

[2022-06-06 17:45] christinahedges commented on #4221
Hi @KerryPaterson that sounds great! Reach out if you need anything at all.

[2022-06-06 18:26] emdupre commented on #4368
Thank you, @kaczmarj, for your review ! I noticed that the authors have begun to address your comments, and I will continue to track progress directly in the linked GitHub issues (thank you for opening those, too !).

[2022-06-06 19:11] danielskatz commented on #4409
👋 @nespinoza & @hayesla - Would either or both of you be willing to review this submission for JOSS?

[2022-06-06 19:11] danielskatz commented on #4409
👋 @CFGrote - Would you be willing to review this submission for JOSS?

[2022-06-06 19:17] hvgazula commented on #4429
Sure.

[2022-06-06 19:36] matthewfeickert commented on #4318
Sorry for going into radio silence &mdahs; I had GitHub notifications turned off for awhile. I've got them back on again and will be following up here later today.

[2022-06-06 19:42] gcattan commented on #4403
Hi,
Why there is two `decision-survey-platform` in your profile? Why there is no commit history on this repository? Why there are so many authors in the paper when you are only two contributors and 6 commits?

[2022-06-06 19:43] CFGrote commented on #4409
Hi @danielskatz, happily accepting your invitation to review this submission.

[2022-06-06 19:54] danielskatz commented on #4409
Thanks @CFGrote - I'll add you in the system, but we won't actually start the review until we find one more reviewer

[2022-06-06 19:55] danielskatz commented on #4409
@editorialbot add @CFGrote as reviewer

[2022-06-06 19:55] danielskatz commented on #4409
👋 @xuanxu - do you have any more suggestions for potential reviewers?

[2022-06-06 21:55] taylorbell57 commented on #4453
@editorialbot check references

[2022-06-06 21:55] taylorbell57 commented on #4453
@editorialbot generate pdf

[2022-06-06 21:56] vbaliga commented on #4439
@editorialbot generate my checklist

[2022-06-06 22:29] OHildreth commented on #4257
@dhhagan, did that help?  Do you want more reviewers?

[2022-06-07 05:29] conradsnicta commented on #4401
@hugoledoux apologies - no time

[2022-06-07 05:34] jedbrown commented on #4157
@editorialbot generate pdf

[2022-06-07 05:44] jedbrown commented on #4157
@amartinhuertas Are you going to update the p-Laplacian test?

I think the FEniCS book (https://fenicsproject.org/book/) is a better reference. I think this needs some rewording because it seems the point is that FEniCS *does* rely on a (reasonably sophisticated) form compiler that is problematic to apply to various challenging problems. For example, return mapping algorithms in plasticity need to

[2022-06-07 05:46] jedbrown commented on #4157
@editorialbot check references

[2022-06-07 05:47] jedbrown commented on #4157
Also, the libMesh paper is https://doi.org/10.1007/s00366-006-0049-3

With these minor revisions, I'm happy to recommend for publication.

[2022-06-07 06:18] jcarpent commented on #4401
@hugoledoux Sorry, my expertise in the domain is a bit too weak.

[2022-06-07 06:20] amartinhuertas commented on #4157
Yes, I already updated it 12 days ago. https://github.com/gridap/GridapDistributed.jl/pull/88/files

Am I missing something else here? (i.e., another source file with the same error?)

[2022-06-07 06:36] amartinhuertas commented on #4157
Ok, I think I know now what happened. I updated the master branch, but you were looking at the code in the joss_paper branch. I have now pull master into joss_paper branch so that both branches are synced.

[2022-06-07 06:54] devSJR commented on #4407
@csoneson I noticed in the checklist under General checks the entry "License: Does the repository contain a plain-text LICENSE file with the contents of an [OSI approved](https://opensource.org/licenses/alphabetical) software license?"

So far the LICENSE (MIT) was stated in the DESCRIPTION file. However, there was no LICENSE text. I have added the text from https://opensource.org/licenses/MIT

[2022-06-07 06:56] amartinhuertas commented on #4157
I have reworded. Let me know if you are happy with the sentence in the current form.

[2022-06-07 06:57] amartinhuertas commented on #4157
Done!

[2022-06-07 06:57] amartinhuertas commented on #4157
Done!

[2022-06-07 06:58] amartinhuertas commented on #4157
@jedbrown ... I am done with my revision changes.

[2022-06-07 07:03] khinsen commented on #4425
@chartgerink There's a review section for @kjappelbaum in #4451, but none for @VeroniqueLegrand and myself.

[2022-06-07 07:21] bmorris3 commented on #4409
Hi @danielskatz, sorry I'm busy with an international move for a bit.

[2022-06-07 08:04] lennartnoordermeer commented on #4431
Dear editor,

Thank you for considering our submission, we understand that the package
does not the JOSS criteria. The package is in an early stage and will be
developed further the coming years as part of a research project. If at a
later point in time, say in one year, we feel that the package is eligeble
for resubmission to JOSS, would that be a possibility? During the coming
year, we will be i

[2022-06-07 08:06] danielskatz commented on #4431
Yes, we would be happy to consider a future submission.

[2022-06-07 08:52] fraukewiese commented on #4449
@cdburley : Do you have any suggestions for reviewers? : [This list might be helpful](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822)

[2022-06-07 09:06] mikldk commented on #4242
@cpalmer718, @jkanche, @raivivek: Thank you for your reviews.

@Cristianetaniguti :

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@editorialbot generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g. with [Zenodo](

[2022-06-07 09:24] Kevin-Mattheus-Moerman commented on #4410
@jjgomera

Please can you address my previous comments on the "Statement of need" section in the paper? Expand it by clearly describing the research applications of this submission. Also perhaps review other related software. You may also want to cite papers which have used your software already.

[2022-06-07 10:27] Bisaloo commented on #4361
Hi @ohagen :wave:, would you be interested in reviewing this [R package](https://github.com/joshwlambert/DAISIEmainland) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04361/joss.04361/10.21105.joss.04361.pdf) for JOSS? Two persons (including the first author of the submission) recommended you for this submission and I do agree you would be a good fit.

[2022-06-07 10:35] fraukewiese commented on #4336
@kmongird , some minor point regarding the article, please check:
- Line 21: I think there is something missing in the sentence, maybe "to" before pull?
- Line 22: Should it be "help "to" investigate?" - Here I am absolutely not sure since I am not a native speaker, so please check and if you think it is correct without "to", then it is fine
- Reference List: Greenberg et al 2017: Link not working

[2022-06-07 10:36] fraukewiese commented on #4336
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure th

[2022-06-07 10:37] fraukewiese commented on #4391
Thanks @blthayer ! I will contact you in case we do not find anybody able to review earlier.

[2022-06-07 10:38] fraukewiese commented on #4391
@nesnoj : Would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
The submission under review here is [RELSAD: A Python package for reliability assessment of modern distribution systems](https://github.com/stinefm/relsad)

[2022-06-07 11:08] Bisaloo commented on #4361
@editorialbot add @alexskeels as reviewer

[2022-06-07 11:58] markziemann commented on #4407
@editorialbot generate my checklist

[2022-06-07 12:06] gdede-hua commented on #4403
@gcattan Thank you for your feedback. Please find below the answers to your questions:
-There was an older software in PHP named decision-survey-platform.
-There is no commit history because we have squashed the commits in order to have a clear branch for the publication in JOSS.
-The rest authors have contributed to the research of the AHP methodology and the related algorithm but in the the deve

[2022-06-07 12:13] fabian-s commented on #4403
Thanks, @gdede-hua & @gcattan!

- To speed up the review process, I would like to ask @gdede-hua to start discussing/addressing the other issues  identified by @gcattan while we wait for rreinecke's review.

- Regarding co-authorship, [JOSS's guidelines](https://joss.readthedocs.io/en/latest) say that "[p]urely financial (such as being named on an award) and organizational (such as general supervi

[2022-06-07 12:17] gdede-hua commented on #4403
@fabian-s Many thanks for your prompt response.
I confirm that the current list of co-authors fulfill the aforementioned criteria.

[2022-06-07 12:57] jedbrown commented on #4157
@editorialbot generate pdf

[2022-06-07 13:03] jedbrown commented on #4157
1. This seems to be saying that a hallmark of FEniCS/FreeFEM++ relative to deal.II et al is that it uses Julia JIT. I think your intent is perhaps that a hallmark of Gridap relative to these is that you implement weak forms in a full-featured language (Julia) and thus benefit from Julia's JIT rather than a custom one.
2. "intrincate" -> "intricate"

[2022-06-07 13:11] gcattan commented on #4403
Ok, I understand better now. Thanks for the explanation.

[2022-06-07 13:53] khinsen commented on #4451
@editorialbot generate my checklist

[2022-06-07 14:46] Cristianetaniguti commented on #4242
@editorialbot generate pdf

[2022-06-07 15:17] markziemann commented on #4407
Checklist is complete. All good from my end. Great piece of work.

[2022-06-07 15:25] pibion commented on #3821
@janmandel thank you for the update!

[2022-06-07 15:32] pibion commented on #3821
@arfon this paper is in a non-standard location , do you have a suggestion for how to proceed?

@fjprichard, @vitorsr pointed out:

We need the paper to build, so you may need to move `paper.md` so it conforms to the expected location.

[2022-06-07 15:34] jgagneastro commented on #4456
@editorialbot generate my checklist

[2022-06-07 15:34] pibion commented on #3821
@arfon on the form (https://joss.theoj.org/papers/new) it does look like you can set the branch that contains `paper.md` - can this be done after the paper is submitted?

[2022-06-07 15:43] jgagneastro commented on #4456
A reminder for myself: (1) Should add link to tutorials in README directly (2) should replace the path "../datasets/CrA-9_2019_IFS_pca_annulus.fits" with os.path.dirname(__file__)+"/datasets/CrA-9_2019_IFS_pca_annulus.fits" such that the tutorial works regardless of where we are cd'ed

[2022-06-07 15:45] marcsit commented on #4327
@athulpg007 thanks a lot for your review. Your comments are highly appreciated!

All the feedback that I incorporate as per the comments below will be available in the upcoming release v1.2.1

Replying to your suggestions:

Because of the wider scope of the documentation --which might not be the best approach-- instead I have added a note and a pointer to the installation instructions in the "How

[2022-06-07 15:46] pibion commented on #3821
@editorialbot generate pdf

[2022-06-07 15:54] arfon commented on #4262
Based on my own experience, the initial review (working through a checklist) takes a few hours, and then depending upon the state of the software (and whether additional updates are required by the authors), another hour or two might be required.

[2022-06-07 15:58] eloisabentivegna commented on #4173
@amoradinejad, the tag refers to the code version before the last few fixes. Can you update it so it points to the current version instead?

[2022-06-07 15:58] eloisabentivegna commented on #4173
@editorialbot check references

[2022-06-07 16:10] kcerva commented on #4447
@editorialbot generate pdf

[2022-06-07 16:14] kcerva commented on #4447
Thank you @crvernon! I had a look at the list and found these potential reviewers: FWuellhorst and MoLi7. nick-gorman might be another option too.

[2022-06-07 16:16] kcerva commented on #4447
@crvernon I also have a question, how can I change the self-generated citation at the end of the pdf? It should say "Cervantes Barron" rather than just "Barron" (this is how last names work for Spanish speakers).
This is what I mean, by the way: "**Barron**, & Cullen. (2022). Mat-dp: An open-source Python model for analysing material demand projections and their environmental implications, which r

[2022-06-07 16:45] kmongird commented on #4336
@fraukewiese I have updated the link for the Greenberg et al. 2017 reference and provided the DOI for the Webber 2017 reference. Regarding the sentences in lines 21 and 22, both have been double checked in a grammar evaluation software and confirmed to be grammatically correct as is so no changes have been made to the text.

[2022-06-07 16:47] kmongird commented on #4336
version tag for tagged release:
v1.0.3

Zenodo DOI:
10.5281/zenodo.6620928

[2022-06-07 16:52] nicoguaro commented on #4389
It is better. Although, I would add an API section in the left menu bar to group all the different modules.

Regarding the paper, I don't see any mention of similar packages. I do not know if there are any besides [SymPy's module](https://docs.sympy.org/latest/modules/physics/continuum_mechanics/index.html) (not so similar) and [continuum_mechanics](https://continuum-mechanics.readthedocs.io/en/la

[2022-06-07 17:47] taylorbell57 commented on #4453
Some potential reviewers that our team came up with are Jason Eastman (jdeast), Hugh Osborn (hposborn), or Dan Foreman-Mackey (dfm)

[2022-06-07 18:42] lavaux commented on #4033
@dfm Done as well

[2022-06-07 18:47] mcgrathc commented on #4449
@fraukewiese We suggest the following candidates as reviewers: FMuellhorst, jasondegraw, euronion, olejandro. Thanks!

[2022-06-07 19:10] JulianKarlBauer commented on #4389
Thanks, I'll fight with Sphinx to clean the lean toctree.

Thank you for mentioning these packages which also refer to continuum mechanics. However, the tasks accomplished by these packages are quite varying. This is probably caused by the fact that the phrase continuum mechanics describes a high-level topic. As far as I know, no packages similar to mechkit exist. This is the reason, why I did not

[2022-06-07 19:27] dfm commented on #4033
@changhoonhahn, @lavaux — Thanks both!! 🎉 🎉

@kadglass — Thanks for you patience!! I'm going to do a quick pass through the proofs etc. then I'll have some final quick processing steps for you before publication.

[2022-06-07 19:27] dfm commented on #4033
@editorialbot generate pdf

[2022-06-07 19:27] dfm commented on #4033
@editorialbot check references

[2022-06-07 19:32] Cristianetaniguti commented on #4242
* Package version: [0.2.0](https://github.com/mmollina/viewpoly/releases/tag/v0.2.0)
* DOI: 10.5281/zenodo.6621089

[2022-06-07 19:47] dfm commented on #4033
@kadglass — I've opened a PR with some minor edits to the paper. After merging or responding to that, here are the final steps that I'll need from you:

1. Comment `@editorialbot generate pdf`, and take one last read through the manuscript to make sure that you're happy with it (it's harder to make changes later!), especially the author names and affiliations. I've taken a pass and it looks good t

[2022-06-07 20:32] miesli commented on #4298
@editorialbot set 1.6.0 as version

[2022-06-07 20:46] marcsit commented on #4327
@SimonMolinsky thanks a lot for your review, it was worth the wait! -and there is no rush anyway.

I have reported the feedback to the PDS Engineering Node who are responsible of these guidelines which are "out of the scope" of NPB. I will CC you on the email I will send them.

Probably my lack of a deeper understanding of Python, I followed some IDE suggestions. My bad.

Please feel free to do so

[2022-06-07 21:13] arfon commented on #4262
@editorialbot add @cescalara as reviewer

[2022-06-07 21:14] arfon commented on #4262
@editorialbot start review

@tammojan – if you decide you're willing and able to help with the review here I'd be delighted to have you as a third reviewer on this submission (as a past JOSS reviewer, @cescalara knows what they are signing up for 😄).

[2022-06-07 21:14] editorialbot opened #4457 "[REVIEW]: Comrade: Composable Modeling of Radio Emission"
**Submitting author:** @ptiede (<a href="http://orcid.org/0000-0003-3826-5648">Paul Tiede</a>)
**Repository:** https://github.com/ptiede/Comrade.jl
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.3.1
**Editor:** @arfon
**Reviewers:** @mileslucas, @cescalara
**Archive:** 10.5281/zenodo.6977819

## Status

[![status](https://joss.theoj.org/papers/ad2af695e3987cfa61091d

[2022-06-07 21:14] arfon commented on #4457
@mileslucas, @cescalara – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above. Please create your checklist typing:

[code]

As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JO

[2022-06-07 21:54] yhtang commented on #4198
How about `fabian-sp`, who just signed up as a JOSS reviewer and specializes in Python,, Optimization, Statistical/Machine learning, and Network inference? @melissawm

[2022-06-07 22:32] pibion commented on #3821
@fjprichard minor suggestions for the paper:

* line 9-10, the sentence that begins, "It enables to set ..." -> "Users can generate a wide variety of textures by setting the simulated model manually or randomly."
* line 10, "It also include tools" -> "It also includes tools"
* line 65, "A documentation" -> "Documentation"

[2022-06-07 23:33] amartinhuertas commented on #4157
@editorialbot generate pdf

[2022-06-07 23:34] amartinhuertas commented on #4157
@editorialbot check references

[2022-06-07 23:54] mileslucas commented on #4457
@editorialbot generate my checklist

[2022-06-08 05:30] lucaferranti commented on #4414
Hi @kahaaga (cc @jarvist ) overall a good submission! Here is the first batch of comments related to the code

**Note**: This PR is based on the code and docs in the main branch. I noticed you have a PR "JOSS paper" that with a quick look seems to address some of the comments I have below, could you clarify the status of that PR? Maybe it can be merged if it's ready?

### Functionality

- [ ] At t

[2022-06-08 05:41] Nikoleta-v3 commented on #4286
Thank you for your work and for replying to my comments @max-little . I still have some concerns regarding the software but the major points have been addressed. I think we should move on with the review 😄 👍🏻

[2022-06-08 05:41] Nikoleta-v3 commented on #4286
👋 @alexanderfurnas  & @gabrielspadon & @szhorvat would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "GRAPL: A computational library for nonparametric structural causal modelling, analy

[2022-06-08 07:17] szhorvat commented on #4286
Unfortunately I can't afford the time right now.

[2022-06-08 07:54] ajstewartlang commented on #4303
:wave: @skalyan91 and @fauxneticien I'm just checking in to see that your reviews are progressing ok. If you could let me know, that would be great.

[2022-06-08 08:03] Kevin-Mattheus-Moerman commented on #4157
Great thanks @jedbrown!

[2022-06-08 08:07] kahaaga commented on #4414
Hey @lucaferranti! Thanks for the initial comments.

When submitting the paper, I had the option to select a branch to be considered for the publication. I chose the `JOSSPaper` branch, so that's the latest version of the paper/docs/etc. However, I see that it's more convenient if everything is on the master branch, so I merged it now. The documentation badge in the repo readme now points to the u

[2022-06-08 08:13] Kevin-Mattheus-Moerman commented on #4389
@likask, @lizarett can you please update us on review progress? Thanks again for your help!

[2022-06-08 08:13] Kevin-Mattheus-Moerman commented on #4118
@axel-loewe thanks again for your help here. Have you tested @CZHU20 's suggestion? point_up

[2022-06-08 08:14] Kevin-Mattheus-Moerman commented on #4252
@vijaysm, @schruste :wave:

[2022-06-08 08:14] Kevin-Mattheus-Moerman commented on #4211
@omtazi :wave:

[2022-06-08 08:14] Kevin-Mattheus-Moerman commented on #3736
@clarka34, @quynhneo. :wave: could you give me an update on review progress?

[2022-06-08 08:14] Kevin-Mattheus-Moerman commented on #4185
@Samuel-Wagner can you please update us on review progress?

[2022-06-08 08:16] Kevin-Mattheus-Moerman commented on #4434
@galessiorob :wave:

[2022-06-08 09:02] fabian-s commented on #4384
:wave: @gcskoenig @dandls  @csinva @AvianaGlobal

would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-08 09:05] fabian-s commented on #4384
reposted so it does not get lost here.

[2022-06-08 09:23] fraukewiese commented on #4336
@editorialbot set 10.5281/zenodo.6620928 as archive

[2022-06-08 09:38] axel-loewe commented on #4118
I‘m currently on parental leave. Might find some time next week or the week after. Maybe some of the other reviewers can have a look in the meantime.

Am 08.06.2022 um 10:13 schrieb Kevin Mattheus Moerman ***@***.***>:

﻿

@axel-loewe<https://github.com/axel-loewe> thanks again for your help here. Have you tested @CZHU20<https://github.com/CZHU20> 's suggestion? ☝️

—
Reply to this email directly,

[2022-06-08 09:47] clarka34 commented on #3736
@Kevin-Mattheus-Moerman sorry for the delay! Currently, the documentation seems pretty sparse to me, so I was waiting to see how @fibreglass2 updated the documentation since they mentioned that they are currently working on that.  Specifically, I was waiting to see if the example sections get expanded. The example only uses two images, but it would be useful to have some real-world image sets and

[2022-06-08 09:56] gcskoenig commented on #4384
I am currently in vacation until the week after next week, but afterwards I can do a review.

[2022-06-08 09:58] hmacdope commented on #4420
@richardjgowers sure thing. Would love to.

[2022-06-08 09:59] Nikoleta-v3 commented on #4286
Thank you for the reply @szhorvat! I completely understand, I hope you great week 😃

[2022-06-08 11:17] fraukewiese commented on #4336
@editorialbot set v1.0.3 as version

[2022-06-08 11:24] fraukewiese commented on #4336
@editorialbot generate pdf

[2022-06-08 11:29] fraukewiese commented on #4336
@kmongird In the latest article proof I cannot see the changes made (Greenberg et al. 2017 link and Webber 2017 DOI) - could you please check where you made the changes? Thank you.

[2022-06-08 11:34] skalyan91 commented on #4303
@ajstewartlang Yes, it’s going OK so far. I’ll try to finish it this weekend.

[2022-06-08 11:35] fraukewiese commented on #4449
@chrklemm , @jasondegraw , @euronion : Would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
The submission under review here is [tell: a Python package to model future total electricity loads #4449](https://github.com/IMMM-SFA/tell)

[2022-06-08 12:29] euronion commented on #4449
Hi @fraukewiese , yes I'd be happy to help with the review.

[2022-06-08 12:30] faroit commented on #4352
@vsoch thanks for the quick response. For me the proof looks fine now

[2022-06-08 12:30] editorialbot opened #4458 "[REVIEW]: CiteLang: Modeling the Research Software Ecosystem"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** https://github.com/vsoch/citelang
**Branch with paper.md** (empty if default branch):
**Version:** 0.0.33
**Editor:** @faroit
**Reviewers:** @gflofst, @rmmilewi
**Archive:** https://doi.org/10.5281/zenodo.7048920

## Status

[![status](https://joss.theoj.org/papers/3e3f4e819e6f9400ba20

[2022-06-08 12:31] danielskatz commented on #4318
@matthewfeickert - what do you think? (not trying to bug you too much, just want to get this review going...)

[2022-06-08 12:31] danielskatz commented on #4409
👋 @xuanxu - I could really use a few more suggestions for possible reviewers

[2022-06-08 12:33] faroit commented on #4458
👋🏼 @vsoch @gflofst @rmmilewi this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please check any items

[2022-06-08 12:42] Kevin-Mattheus-Moerman commented on #4434
@faroit if you can edit this I'd be glad to assign you. Would you be okay with that? You can also do this yourself by calling `@editorialbot assign me as editor`. Thanks for your comment here.

[2022-06-08 12:46] melissawm commented on #4198
Hello @fabian-sp, are willing to review this submission to JOSS, following our review guidelines: [joss.readthedocs.io/en/latest/review_criteria.html](https://joss.readthedocs.io/en/latest/review_criteria.html) ? Thank you!

[2022-06-08 13:07] jgostick commented on #4397
Hi @andyfaff and @daguiam, how are things coming along with this review?  I assume you are in contact with the author via their github repo, so hopefully things are progressing?

[2022-06-08 13:10] andyfaff commented on #4397
I've submitted a few issues, waiting for those to progress.

[2022-06-08 13:10] jgostick commented on #4398
I have just emailed the other review to ask for a time frame for their review.

[2022-06-08 13:12] RBrearton commented on #4397
Ahh, my apologies! For some reason I missed the notification that issues had been raised in the github repository. I'll work through those over the next day or so and let you know when everything is finished on my end.

[2022-06-08 13:41] pdebuyl commented on #4329
Thank you for the clarification. The limitation should be stated more explicitly in the article and the documentation. The current phrasing is "forward looking", which I can appreciate, but does not give a clear view on the code capabilities. This is not a criticism of the software. A "limitation" paragraph in the docs, for instance, could be one way to do this.

[2022-06-08 14:14] kmongird commented on #4336
Hi @fraukewiese,

On lines 103-104, the broken Greenberg et al. 2017 link has been removed and has been replaced with this working link:  https://flowcharts.llnl.gov/report

For the Webber 2017 reference, I removed the title link and have included the doi that is now shown on line 129: https://doi.org/10.1016/B978-0-12-803237-4.00012-4

[2022-06-08 14:17] martinfleis commented on #4335
Hi @sebastien-plutniak,

I see that both reviewers have opened some issues in the repository and left additional comments in this one. Can you give us an indication on when you'll get back to the package and the paper? I am just trying to ensure that the review will not get stale.

Thanks!

[2022-06-08 14:31] ojeda-e commented on #4420
Yes, I'll be happy to review @richardjgowers.

[2022-06-08 14:54] LucyMcGowan commented on #4384
@fabian-s thank you so much! I've corrected the DOIs and removed several examples to shorten the paper.

I also realized in my reviewer suggestions above I had the wrong handle for Maëlle Salmon, it should have been @ maelle

Thank you, again!

[2022-06-08 16:07] lucydot commented on #4298
@phoebe-p I can see you have ticked off all boxes and (from your last comment) have ran the examples, so I guess you are happy to recommend for acceptance (in fact I think you recommended for acceptance a few messages ago, so I'll assume that is still the case!).

@miesli let me know when the CI is fixed (I tried checking this myself, but the CI status button at the top of your README file was bro

[2022-06-08 16:11] lucydot commented on #4333
@JoannaLeng I'm not sure if you got the previous ping above, but if so, please could you point @jonathanHuwP to this issue thread? The messages I have received from @jonathanHuwP have all been sent via email so I am not sure if they have seen the thread on Github (I think the email notifications alone, without this thread, will not make much sense!)

[2022-06-08 16:13] lucydot commented on #4426
@VHchavez the article has compiled (link in the message above) - please read through to double-check it reads / is formatted as intended.

[2022-06-08 16:18] lucydot commented on #4426
@raghurama123 @srmnitc are you available to review this JOSS submission?

[2022-06-08 16:57] fabian-s commented on #4384
@editorialbot generate pdf

@LucyMcGowan this triggers re-rendering ;)

[2022-06-08 17:02] fabian-s commented on #4384
@editorialbot check references

.. and this checks the DOIs

[2022-06-08 17:05] fabian-s commented on #4384
:wave: @maelle
would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-08 18:43] VHchavez commented on #4426
Thanks, @lucydot Lucy, the article is formatted as intended.

Thank you, @raghurama123 for kindly helping us with the paper!

[2022-06-08 18:45] crvernon commented on #4447
This is what I mean, by the way: "Barron, & Cullen. (2022). Mat-dp: An open-source Python model for analysing material demand projections and their environmental implications, which result from building low-carbon systems. Journal of Open Source Software, 0(0), 4447"

I'll check on this for you.

[2022-06-08 19:23] mikemhenry commented on #4420
I'll catch the next one! @richardjgowers

[2022-06-08 19:59] MoLi7 commented on #4447
Hi @crvernon, thanks for the invitation! I'd be more than happy to review this submission.

[2022-06-08 20:00] tonggehua commented on #4454
@editorialbot commands

[2022-06-08 20:46] crvernon commented on #4447
@editorialbot add @MoLi7 as reviewer

Thanks so much @MoLi7 !

[2022-06-08 21:20] VChristiaens commented on #4394
Hi @christinahedges thank you for your feedback! I have now added a discussion of similar tools in the first paragraph of the statement of need, as requested. I have also listed a detailed list of all changes brought to the VIP package since v0.7 in [this announcement for all VIP users](https://github.com/vortex-exoplanet/VIP/discussions/512) (it is very long, but please let me know if you absolut

[2022-06-08 21:21] VChristiaens commented on #4394
@editorialbot generate pdf

[2022-06-08 21:33] tonggehua commented on #4454
@editorialbot generate pdf

[2022-06-08 21:35] VChristiaens commented on #4394
Since the definition used by JOSS for potential conflict of interest is quite strict, it is difficult for me to come up with a few people that haven't collaborated with any of the VIP co-authors in the past 4 years... Checking among co-authors of the two most similar tools to VIP ([``pynpoint``](https://ui.adsabs.harvard.edu/abs/2019A%26A...621A..59S/abstract) and [``pyklip``](https://ui.adsabs.ha

[2022-06-08 21:35] lucydot commented on #4333
@JoannaLeng, thanks for your update.

Once you and @jonathanHuwP have a rough timescale for working through the reviewer points raised, please let us know here. The JOSS process is different from more traditional journals - it is a conversation between authors, reviewers and editors. So if anything is unclear or would benefit from more discussion please don't hesitate to raise it here in the issue

[2022-06-08 21:36] lucydot commented on #4333
If anything is unclear, please just ask!

[2022-06-08 21:38] lucydot commented on #4426
@editorialbot add @raghurama123 as reviewer

[2022-06-08 22:03] fauxneticien commented on #4303
@ajstewartlang — same, I'll finish it up this weekend

[2022-06-08 22:09] MoLi7 commented on #4447
@editorialbot commands

[2022-06-08 22:12] crvernon commented on #4447
Once we get one more reviewer on board, I'll send this pre-review to a full review thread which will provide you more instructions on how to setup your checklists, etc.  Thanks!

[2022-06-08 22:13] sebastien-plutniak commented on #4335
Hi all,

Thank you very much for your comments and suggestions!
I had no time to revise the package in the last week, however I will
do it before the end of June. I hope it will be fine for the JOSS!

[2022-06-08 23:07] tkonolige commented on #3125
@adi3

Added

Yes, but it is not easy and would require work in an upstream dependency.

Done

Done

Done

Looks like not enough locations for cameras were generated, try increasing the number for `--cameras`. (I've added a statement to that effect to the error message).

[2022-06-09 00:18] amartinhuertas commented on #4157
The latest public release of GridapDistributed.jl is v0.2.6. We need to update the version tag for this submission to v0.2.6.

Done.

Done.

10.5281/zenodo.6622081

[2022-06-09 01:18] raghurama123 commented on #4426
@editorialbot generate my checklist

[2022-06-09 02:39] tonggehua commented on #4454
@danielskatz Thanks for the reminder. The paper now compiles and the missing DOIs have been added.

[2022-06-09 05:27] raghurama123 commented on #4426
I have started the review. Here are some initial comments on the content of Readme.md and paper.md: [pull request](https://github.com/wasserman-group/pyCADMium/pull/9). In each document, I have a comment in single quotes beginning with `[COMMENT raghurama123]: ...`. Please address these and remove my comments.

Software review will take some time.

[2022-06-09 05:35] nick-gorman commented on #4447
Hi @crvernon, yeah happy to be a reviewer!

[2022-06-09 06:06] maelle commented on #4384
@fabian-s sorry, no I wouldn't have time. Thanks for asking!

[2022-06-09 06:40] lale1009 commented on #4183
@mikldk and @timClicks: We have finished the [remaining items](https://github.com/openjournals/joss-reviews/issues/4183#issuecomment-1144396584)

[2022-06-09 07:12] kno10 commented on #4183
to see the added statement of need:
@editorialbot generate pdf

[2022-06-09 07:12] mikldk commented on #4183
@kno10 @lale1009: Thanks. I'll wait on @timClicks have the time to check the items.

[2022-06-09 07:13] rreinecke commented on #4403
Dear @gdede-hua ,
currently there a multiple issues concerning the documentation that do not allow me to further assess the functionality of your submitted software. Please address them accordingly.

[2022-06-09 07:19] srmnitc commented on #4426
@lucydot I can also review it.

[2022-06-09 07:29] timClicks commented on #4183
@editorialbot generate pdf

[2022-06-09 07:39] lucydot commented on #4426
Hi @srmnitc @raghurama123, excellent that you are both able to review ✨

This is the _pre-review_ thread, I will ask editorialbot to create a _review_ thread, and our review discussion will take place over there. @raghurama123 please could you re-create your checklist on the review thread?

[2022-06-09 07:39] lucydot commented on #4426
@editorialbot add @srmnitc as reviewer

[2022-06-09 07:40] lucydot commented on #4426
@editorialbot start review

[2022-06-09 07:40] editorialbot opened #4459 "[REVIEW]: pyCADMium: Chemical Atoms in Diatomic Molecules. A prolate spheroidal Python module for embedding calculations."
**Submitting author:** @VHchavez (<a href="http://orcid.org/0000-0003-3765-2961">Victor Hugo Gonzalez Chavez</a>)
**Repository:** https://github.com/wasserman-group/pyCADMium
**Branch with paper.md** (empty if default branch): main
**Version:** v0.9.1
**Editor:** @lucydot
**Reviewers:** @raghurama123, @srmnitc
**Archive:** 10.5281/zenodo.7039713

## Status

[![status](https://joss.theoj.org/papers

[2022-06-09 07:40] #4426 closed

[2022-06-09 07:42] srmnitc commented on #4459
@editorialbot generate my checklist

[2022-06-09 07:48] raghurama123 commented on #4426
@editorialbot generate my checklist

[2022-06-09 07:48] raghurama123 commented on #4426
@editorialbot generate my checklist

[2022-06-09 07:49] raghurama123 commented on #4459
@editorialbot generate my checklist

[2022-06-09 07:52] fabian-sp commented on #4198
Hello @melissawm , yes I would be willing to review.

[2022-06-09 07:52] raghurama123 commented on #4459
Here are some initial comments on the content of Readme.md and paper.md: [pull request](https://github.com/wasserman-group/pyCADMium/pull/9). In each document, I have a comment in single quotes beginning with `[COMMENT raghurama123]: ...`. Please address these and remove my comments.

I will provide the software review soon.

[2022-06-09 07:58] Kevin-Mattheus-Moerman commented on #4157
@editorialbot set version to v0.2.6

[2022-06-09 07:58] Kevin-Mattheus-Moerman commented on #4157
@editorialbot set v0.2.6 as version

[2022-06-09 07:58] Kevin-Mattheus-Moerman commented on #4157
@editorialbot set 10.5281/zenodo.6622081 as archive

[2022-06-09 07:59] Kevin-Mattheus-Moerman commented on #4157
@editorialbot recommend accept

[2022-06-09 08:00] Athene-ai commented on #4365
**Additional comments**
**Installation:**  The description of the installation should be better explained expecially if this package will be installed by a R newbee

**A statement of need**: It is necessay provide what problems the software is designed to solve and who the target audience is

**Example usage**: Authors should include it in the package description

**Automated tests, Community guid

[2022-06-09 08:03] Kevin-Mattheus-Moerman commented on #4157
@editorialbot check references

[2022-06-09 08:04] Kevin-Mattheus-Moerman commented on #4157
@openjournals/dev hmmm can you check what is going on here? :point_up:

[2022-06-09 08:05] Kevin-Mattheus-Moerman commented on #4252
@schruste can you also provide an update?

[2022-06-09 08:45] timClicks commented on #4183
@mikldk I recommend this paper for publication.

@kno10 @lale1009 Please accept my apologies for the repeated delays.

[2022-06-09 08:50] hugoledoux commented on #4099
@editorialbot generate pdf

[2022-06-09 09:12] mikldk commented on #4183
@timClicks, @TahiriNadia: Thanks for your reviews.

@kno10:

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@editorialbot generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as

[2022-06-09 09:13] xuanxu commented on #4157
The [code for a couple of figures](https://github.com/gridap/GridapDistributed.jl/blob/joss_paper/joss_paper/paper.md?plain=1#L91-L95) with multiple images with the same caption was invalid. [This PR](https://github.com/gridap/GridapDistributed.jl/pull/90) changes it to use a single image with multiple panels and using [valid syntax](https://joss.readthedocs.io/en/latest/submitting.html#example-pa

[2022-06-09 09:14] Kevin-Mattheus-Moerman commented on #4157
@amartinhuertas can you check this :point_up:

Thanks for your help @xuanxu!

[2022-06-09 09:15] Kevin-Mattheus-Moerman commented on #4157
@xuanxu this does not explain the reference checking to behave differently though right? :point_up:

[2022-06-09 09:17] enekomartinmartinez commented on #4329
Thank you @pdebuyl for the suggestion, this could also help PySD users to understand why PySD doesn't work sometimes.

I have...

- Merged master (3.1.0) in paper_pysd. This includes some extra Vensim functions and a section with examples for adding new functions to the builder. See the [latest release notes](https://pysd.readthedocs.io/en/latest/whats_new.html).
- Included the paragraph you sugge

[2022-06-09 09:19] hugoledoux commented on #4099
@engyasin I went over the paper and fixed a few things (please use a spell-checker next time): https://github.com/engyasin/Offline_MOT/pull/1

[2022-06-09 09:32] amartinhuertas commented on #4157
I already accepted the PR. Thanks @xuanxu !

[2022-06-09 09:43] Kevin-Mattheus-Moerman commented on #4157
@editorialbot recommend-accept

[2022-06-09 09:44] #4104 closed

[2022-06-09 10:09] crvernon commented on #4447
:wave: Alright @kcerva @MoLi7 @nick-gorman - I am going to close this Pre-Review and kick off the full review which you should receive a notification for.  Thanks!

[2022-06-09 10:09] crvernon commented on #4447
@editorialbot start review

[2022-06-09 10:09] editorialbot opened #4460 "[REVIEW]: Mat-dp: An open-source Python model for analysing material demand projections and their environmental implications, which result from building low-carbon systems"
**Submitting author:** @kcerva (<a href="http://orcid.org/0000-0001-9185-3022">Karla Cervantes Barron</a>)
**Repository:** https://github.com/Mat-dp/mat-dp-core
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @crvernon
**Reviewers:** @MoLi7, @nick-gorman
**Archive:** 10.5281/zenodo.7002733

## Status

[![status](https://joss.theoj.org/papers/d80fdc0c76fdcaec44a0

[2022-06-09 10:09] #4447 closed

[2022-06-09 10:21] RomainAzais commented on #4266
Hello,

My overall opinion of OTTO is very positive: the installation and testing procedures are clear, the readme file and the documentation are very complete and at the right level of detail, and the examples help to understand how to use it. I only encountered a small bug during the installation (with tensorflow apparently) but it has been solved. Setting up a ci/cd pipeline might avoid this ki

[2022-06-09 10:36] JoannaLeng commented on #4333
@lucydot
@jonathanHuwP and I are just finishing our meeting. We will give some updates to you and the reviewers.
There is an issue with the references we wanted to ask your advice on. We were asked to provide a reference for the Model-View-Controller paridigm. The reference we found is from 1988 for which there is no DOI. This is likley to come up with an error. Is there a way we can suppess the e

[2022-06-09 10:41] JoannaLeng commented on #4333
@KedoKudo and @CFGrote thank you for your reviews.

Both of you highlighted issues arround documentation and tutorials. @CFGrote created issues #22 and #23 that both relate to these concerns. We have looked into them and I have put nots on both of these issues below. Please let us know if you are happy with this solution.

JOSS Review: Documentation -- Example Usage #22
We intend to produce videos

[2022-06-09 10:45] JoannaLeng commented on #4333
@CFGrote

JOSS REVIEW: README.md #20
There were a number of issues here. Most were easy to fix except the unitest one. We closed that issue and created issue #25 just for the unitests.

For the other issues can you let us know how we decided when JOSS review issue are resolved.

[2022-06-09 10:56] danielskatz commented on #4409
👋 @barentsen & @ygrange - We need one more reviewer for this submission - Are either of you willing?

[2022-06-09 11:05] crvernon commented on #4460
@kcerva regarding your question about name customization:  https://github.com/openjournals/inara/blob/main/docs/names.md

Let me know if you have any questions.

[2022-06-09 11:12] ygrange commented on #4409
Oh that actually looks interesting, I have done some abundance stuff in the past so I could pick it up. But I have to say that I will probably have zero time the coming two weeks, so at earliest I could start looking at this in three weeks.

[2022-06-09 11:39] danielskatz commented on #4409
Thanks @ygrange - that sounds fine.  I'll add you and start the review, with the understanding that you may not start immediately.  I probably also will forget this and will ask you how things are going too soon, so please remind me of my error then :)

[2022-06-09 11:40] danielskatz commented on #4409
@editorialbot start review

[2022-06-09 11:40] editorialbot opened #4461 "[REVIEW]: Starmatrix: Modelling nucleosynthesis of galactic chemical elements"
**Submitting author:** @xuanxu (<a href="http://orcid.org/0000-0001-7699-3983">Juanjo Bazán</a>)
**Repository:** https://github.com/xuanxu/starmatrix
**Branch with paper.md** (empty if default branch):
**Version:** v1.7.0
**Editor:** @danielskatz
**Reviewers:** @CFGrote, @ygrange
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/35c924541de86ca264e090f0b80efbd7/status.svg)]

[2022-06-09 11:42] mikldk commented on #4242
@editorialbot set 10.5281/zenodo.6621089 as archive

[2022-06-09 11:43] mikldk commented on #4242
@editorialbot set v0.2.0 as version

[2022-06-09 11:43] mikldk commented on #4242
@editorialbot generate pdf

[2022-06-09 11:48] mikldk commented on #4242
@Cristianetaniguti

Author names do not match between archive and paper as requested:

[code]

Please let me known once you have read through the paper a final time.

[2022-06-09 11:53] mikldk commented on #4383
@mcavs: Can you please update us on your status? All items are checked so are you now recommending an accept? I see mdhaber/scipy#82 is still not closed.

[2022-06-09 12:42] LucyMcGowan commented on #4384
@editorialbot generate pdf

[2022-06-09 12:59] davidpagnon commented on #4362
Dear reviewers,
Thank you for your insightful reviews that we are going to take into account soon.
We have transferred the gitlab to this address: https://github.com/perfanalytics/pose2sim in order to make issues and contributing more coherent.

[2022-06-09 13:14] maczokni commented on #4015
Hi, I'm having trouble downloading the new version:

[code]
I also tried with remotes instead of devtools but no luck. I can download other repos no problem with the same method (e.g. `devtools::install_github("mpjashby/sfhotspot")` downloads the package no problem).

Here's my session info:

[code]

I suspect it will be to do with the package size and therefore time it takes to download. If I dow

[2022-06-09 13:31] Jean-Romain commented on #4342
I do not have the issue reported by @evetion. Or I least I don't think I have it because it seems I went further than him. Yet I stopped the process before the end. The first few lines of the tutorials take me something like 30-45 minutes to run. It is not reasonable for a tutorial. I suspect the non fixed issue (https://github.com/mlampros/IceSat2R/issues/4) I reported to increase even more the c

[2022-06-09 14:22] lucydot commented on #4333
@JoannaLeng I think this may be a question about the review process, although I don't fully understand the wording. Are you asking how we determine if each of the review criteria are met? Each reviewer will work through the individual checklists they have generated in the thread above. Once they are persuaded a checklist item has been met (either through inspection of the repo, or through conversa

[2022-06-09 14:23] lucydot commented on #4298
@editorialbot generate pdf

[2022-06-09 14:23] lucydot commented on #4298
@editorialbot check references

[2022-06-09 15:21] temuller commented on #4444
@editorialbot generate pdf

[2022-06-09 15:25] ahwillia commented on #4442
@editorialbot generate my checklist

[2022-06-09 16:52] engyasin commented on #4099
@hugoledoux  Thanks.
merged, and checked spelling again.

[2022-06-09 17:07] auroreloisy commented on #4266
Dear @RomainAzais,
thank you very much for spending time on reviewing OTTO, and for your positive feedback.
Following your suggestion, we have added the following sentence in the paper to clarify the purpose of the package: "It is primarily designed to rigorously study the statistical properties of near-optimal strategies and of their heuristic approximations."
(cf [commit](https://github.com/C0PE

[2022-06-09 18:07] martinagvilas commented on #4429
Hi @emdupre 👋  Thank you for the invitation. Unfortunately, at the moment I'm lacking the time to review due to other commitments. I hope to be available for other reviews in the near future.

The article looks very interesting, all the best to the authors!

[2022-06-09 18:48] Cristianetaniguti commented on #4242
Hello @mikldk ,

I just went through the paper once more and I am confused about where should I change the co-author name, both places seem to be already matching.

[2022-06-09 18:54] mikldk commented on #4242
@editorialbot recommend-accept

[2022-06-09 19:14] majensen commented on #4411
@nhejazi thanks for the submission. Are you able to suggest one or two possible reviewers? Thanks

[2022-06-09 19:15] majensen commented on #4422
@hrossman thanks for this submission. Do you have any personal suggestions for one or two reviewers? Much appreciated.

[2022-06-09 19:20] hrossman commented on #4422
I would love to have @CamDavidsonPilon, author of the awesome lifelines package (which also serves our package very well). I know he has published on JOSS but do not know his availability for review.
Thank you for your time and effort on this!

[2022-06-09 19:25] majensen commented on #4422
Sounds like a plan: @CamDavidsonPilon, would you be willing to review [this work](#4422) for [JOSS](https://joss.theoj.org)? Our guide for reviewers is at https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. We would appreciate your expertise very much - thanks for your consideration - --@majensen

[2022-06-09 21:05] mcavs commented on #4383
A sufficient [revision](https://github.com/mdhaber/scipy/pull/83) has been made by the author, and I recommend accepting @mikldk.

[2022-06-09 21:48] behollister commented on #4283
Hi @VivianePons. Can you please answer @agdturner 's question here:
https://github.com/agdturner/ccg-v3d/issues/4#issuecomment-1146891572

Also, before any decision can be made, I believe we need feedback from @abhishekvp as well.

[2022-06-09 22:43] editorialbot opened #4462 "[PRE REVIEW]: MSG: A software package for interpolating stellar spectra in pre-calculated grids"
**Submitting author:** @rhdtownsend (<a href="http://orcid.org/0000-0002-2522-8605">Richard Townsend</a>)
**Repository:** https://github.com/rhdtownsend/msg
**Branch with paper.md** (empty if default branch): joss
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @AWehrhahn
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/fdb605600d48545f98dfb9f825dc833d/statu

[2022-06-09 22:45] kyleniemeyer commented on #4462
Hi @rhdtownsend, we will use this pre-review issue to find an editor and reviewers for your submission. Any recommendations you might have for the latter would be welcome.

As we are getting started, can you take a look at those missing DOIs from your references?

[2022-06-09 22:45] kyleniemeyer commented on #4462
Hi @christinahedges, are you available to edit this submission? Thanks!

[2022-06-09 22:45] kyleniemeyer commented on #4462
@editorialbot invite @christinahedges as editor

[2022-06-09 22:49] editorialbot opened #4463 "[PRE REVIEW]: stacks: Stacked Ensemble Modeling with Tidy Data Principles"
**Submitting author:** @simonpcouch (<a href="http://orcid.org/0000-0001-5676-5107">Simon Couch</a>)
**Repository:** https://github.com/tidymodels/stacks
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.3
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/53561aa0549d1080196072043212fa16/status.svg)](

[2022-06-09 22:50] kyleniemeyer commented on #4463
Hi @simonpcouch, we will use this pre-review issue to find an editor and reviewers for your submission.

Hi @osorensen, could you edit this submission?

[2022-06-09 22:51] kyleniemeyer commented on #4463
@editorialbot invite @osorensen as editor

[2022-06-09 22:51] editorialbot opened #4464 "[PRE REVIEW]: floodlight - A high-level, data-driven sports analytics framework"
**Submitting author:** @draabe (<a href="http://orcid.org/0000-0001-7264-4575">Dominik Raabe</a>)
**Repository:** https://github.com/floodlight-sports/floodlight
**Branch with paper.md** (empty if default branch): paper
**Version:** 0.3.2
**Editor:** @crvernon
**Reviewers:** @gagolews
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/4316da64910988e4d7b148fe3ed5d

[2022-06-09 22:53] kyleniemeyer commented on #4464
Hi @draabe, we will use this pre-review issue to find an editor and reviewers for your submission. Any suggestions you have for the latter are welcome.

Hi @crvernon, could you edit this submission? I realize the topic is a bit outside your application areas, but the authors pointed out that the analyses are similar to geospatial analysis.

[2022-06-09 22:53] kyleniemeyer commented on #4464
@editorialbot invite @crvernon as editor

[2022-06-09 22:54] editorialbot opened #4465 "[PRE REVIEW]: xtal2png: A Python package for representing crystal structure as PNG files"
**Submitting author:** @sgbaird (<a href="http://orcid.org/0000-0002-4491-6876">Sterling Baird</a>)
**Repository:** https://github.com/sparks-baird/xtal2png
**Branch with paper.md** (empty if default branch): main
**Version:** v0.4.0
**Editor:** @rkurchin
**Reviewers:** @dandavies99, @PeterKraus
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/0c704f6ae9739c1e97

[2022-06-09 22:56] kyleniemeyer commented on #4465
Hi @sgbaird, we will use this pre-review issue to find an editor and reviewers for your submission. Any suggestions you have for the latter are welcome.

Hi @rkurchin, are you available to edit this submission? Thanks!

[2022-06-09 22:57] kyleniemeyer commented on #4465
@editorialbot invite @rkurchin as editor

[2022-06-09 23:00] crvernon commented on #4464
@editorialbot assign @crvernon as editor

Happy to help!

[2022-06-09 23:02] crvernon commented on #4464
👋  @draabe - I'll be your topic editor for this submission.

The first step in this pre-review is to find at least 2 reviewers. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, this [list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) have

[2022-06-09 23:17] kyleniemeyer commented on #4242
@editorialbot accept

[2022-06-09 23:19] kyleniemeyer commented on #4435
Hello @igorkolesnikov13,  unfortunately, after discussion among the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-pa

[2022-06-09 23:19] kyleniemeyer commented on #4435
@editorialbot reject

[2022-06-09 23:19] #4435 closed

[2022-06-09 23:22] kyleniemeyer commented on #4242
Congratulations @Cristianetaniguti on your article's publication in JOSS!

Many thanks to @cpalmer718, @jkanche, and @raivivek for reviewing this, and @mikldk for editing.

[2022-06-09 23:22] #4242 closed

[2022-06-09 23:24] kyleniemeyer commented on #4438
Hi @dsbowen, after further review the editorial board has decided this is good to proceed to review. We'll now find an editor and reviewers.

[2022-06-09 23:24] kyleniemeyer commented on #4438
@editorialbot invite @vissarion as editor

Hi @vissarion, are you available to edit this submission? Thanks!

[2022-06-09 23:26] kyleniemeyer commented on #4440
Hi @hechth, after further review the editorial board has decided this is good to proceed with review. We'll find an editor and reviewers now.

[2022-06-09 23:27] kyleniemeyer commented on #4440
@editorialbot invite @csoneson as editor

Hi @csoneson, are you able to edit this submission? Thanks!

[2022-06-09 23:29] kyleniemeyer commented on #4402
Hi @pdebuyl, is this something you could edit for us?

[2022-06-09 23:30] kyleniemeyer commented on #4402
@editorialbot invite @pdebuyl as editor

[2022-06-09 23:31] kyleniemeyer commented on #4441
Hi @richardjgowers, could you edit this submission?

[2022-06-09 23:31] kyleniemeyer commented on #4441
@editorialbot invite @richardjgowers as editor

[2022-06-10 00:02] CamDavidsonPilon commented on #4422
👋 happy to help!

[2022-06-10 00:05] mdhaber commented on #4383
@mcavs https://github.com/mdhaber/scipy/issues/83 has not been merged. Would that resolve your concerns expressed in https://github.com/mdhaber/scipy/issues/82? If so, could you indicate your approval in https://github.com/mdhaber/scipy/issues/83? Thanks!

[2022-06-10 00:53] phoebe-p commented on #4298
@lucydot Your assumption is correct, I am recommending acceptance :)

[2022-06-10 01:21] Cristianetaniguti commented on #4242
Thank you @kyleniemeyer!
And thank you again @mikldk, @jkanche , @raivivek  and @cpalmer718! 🎉🌈🦄💃👻🤘

[2022-06-10 01:53] jGaboardi commented on #3330
@editorialbot generate pdf

[2022-06-10 01:59] sgbaird commented on #4465
## Suggested Reviewers
As this is a materials informatics repository, the following potential reviewers from Google Sheets may be good candidates:
- 1mikegrn
- pythonpanda2
- dandavies99

Additionally, the following materials science reviewers from Google Sheets:
- ml-evs (disclaimer, I may be collaborating with ml-evs in the near future, see https://github.com/materialsproject/matbench/pull/99)
-

[2022-06-10 04:47] osorensen commented on #4463
@editorialbot assign @osorensen as editor

[2022-06-10 04:49] osorensen commented on #4181
@blind-contours, can you please update us on how it is going with addressing the points raised by the reviewers?

[2022-06-10 04:50] osorensen commented on #3700
@a-ws-m I removed the paused label and look forward to seeing your updates soon.

[2022-06-10 04:52] osorensen commented on #4304
@yannikschaelte, could you please update us on how it is going addressing the points raised by the reviewers?

[2022-06-10 04:53] osorensen commented on #4248
@sebastientourbier can you please update us on how it is going addressing the points raised by the reviewers?

[2022-06-10 04:54] zhiiiyang commented on #4415
@terrytangyuan, I just found out that I can't use this package since it depends on `greta` failing to run on an M1 Mac。:(. This has been confirmed by the maintainer. Could you remove me from the reviewer list? Sorry about the inconveniences.
https://github.com/greta-dev/greta/issues/526#issuecomment-1151903419

[2022-06-10 07:05] hechth commented on #4440
As reviewers I'd suggest

chryswoods
marshallmcdonnell
marouenbg
arianesasso
smsaladi
semacu
mskwark

[2022-06-10 07:18] jasmainak commented on #4429
Hi @emdupre, sorry for the late response as I’m out of town currently. I’d
be happy to review!

I do have a COI with Adam Li on the mne-bids paper which was published in
JOSS 3 years ago. Does that make me ineligible to review?

On Thu 9 Jun 2022 at 20:08, Martina G. Vilas ***@***.***>
wrote:

--
Sent from my iPhone

[2022-06-10 07:19] abhishektha commented on #4279
@danasolav thank you so much for updating the document and providing clarification. My apologies for the delay, I did run the tests a few days ago but forgot to check the results! I was able to follow the instructions clearly and got results that seem to match the instruction manual. I believe this concludes the review as well!

[2022-06-10 07:49] pdebuyl commented on #4402
Hi @kyleniemeyer I can't take more submissions at this time, sorry :-/

[2022-06-10 08:15] vissarion commented on #3330
@jGaboardi is v0.1.1 the current version? Also could you please archive the package on [Zenodo](https://zenodo.org/), [figshare](https://figshare.com/), or other to get a DOI and post it in this issue.

[2022-06-10 08:31] vissarion commented on #3330
@editorialbot check references

[2022-06-10 09:10] draabe commented on #4464
Hi @crvernon and thank you for editing this submission. Really appreciate this, especially as the application area might not be your no. 1 topic!

I've checked the list for reviewers preferring Python with some keywords and found (from bottom to top)

_sport_: gagolews, mado89

_exercise_, _training_, _collective behavio(u)r_, _spatio(-)temporal_, _football_, _soccer_, _basketball_, _handball_, _h

[2022-06-10 09:39] vissarion commented on #4438
@editorialbot assign @vissarion as editor

[2022-06-10 09:41] askuric commented on #4232
Hey everyone,

I am sorry for a late reply!

At the moment the CI pipeline for unit testing of the software components is really not our priority. Mostly because the most of the problems due to the library code comes from the MCU specific issues which cannot really be unit tested.
We are definitely interested in integrating the unit testing at some point (the sooner the better) but at the moment w

[2022-06-10 09:48] vissarion commented on #4438
:wave: @adavidzh, @blakeaw, @Pqrs6, @mattpitkin, @nhejazi, @williamjameshandley would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-10 09:53] adavidzh commented on #4438
I'm afraid I can't right now. Pinging @amarini in case he can get involved with JOSS.

[2022-06-10 12:07] ibayer commented on #4318
@danielskatz Thanks for staying on top of things. Please let us know if we can do anything else to pass the [PRE REVIEW] stage and get going. We are very much looking forward to getting more feedback that helps us to improve ipyannotator. :)

[2022-06-10 12:23] crvernon commented on #4464
👋 - @gagolews Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-10 12:25] crvernon commented on #4464
👋 - @lepisma Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-10 12:48] jdreo commented on #4392
I can do a review of this submission.

[2022-06-10 12:49] szhorvat commented on #3968
The paper is in a much better shape now, and many of the concerns I had were issued. While this library is still young, and has missing features and rough edges, it is making good progress, and show promise. The intended use cases have now been better explained in the paper. I recommend publication in JOSS.

However, I would like to ask the authors to respond about whether they have cleared the na

[2022-06-10 13:06] szhorvat commented on #3968
This is a question to the JOSS editors, @drvinceknight

I see several citations of GitHub repos. Does JOSS have guidelines on how to cite repositories, especially how to determine the author list when the project does not provide citation information?

[2022-06-10 13:50] hugoledoux commented on #4342
@mlampros I have read all the reviews and discussions (and issues the reviewers opened).

Let me start by saying that JOSS has a formal peer-review process that is designed to *improve the quality of the software submitted*, and our reviewers become (knowledgeable) users, they are asked to consider the software both from the point-of-views of the code, and from the users.

I have to agree with @Je

[2022-06-10 13:50] jGaboardi commented on #3330
@vissarion OK, I will see about getting to these edits ASAP and I will touch base again when I have another completed draft. Regarding the version, we are currently on `v0.4.0` and should bump to either `v0.4.1` or `v0.5.0` (@gegen07 do you minor or patch release is appropriate?) to incorporate the changes following @apulverizer's review.

[2022-06-10 14:06] VivianePons commented on #4266
@editorialbot generate pdf

[2022-06-10 14:18] VivianePons commented on #4283
Dear @agdturner and @behollister

If I understand correctly, @behollister has raised an issue and @agdturner is asking if it's better to withdraw and resubmit. This really depends on how much time is needed to "fix" the issue in a way that would be sufficient for the the reviewer to be satisfied. From what I read, it does not concern directly the software but more the paper itself and in particula

[2022-06-10 14:18] VivianePons commented on #4266
@editorialbot check references

[2022-06-10 14:25] VivianePons commented on #4266
Good!

@RomainAzais can you confirm that you're satisfied with the answer from @auroreloisy to your comment?

@auroreloisy can you fix the Invalid DOI that is shown by the edit bot?

[2022-06-10 14:32] sea-bass commented on #4232
@askuric thank you for clarifying that and pointing me to the right resources -- I think that absolutely meets the testing requirements, and agree with your prioritization especially given the hardware-focused nature of the project.

LGTM :)

[2022-06-10 14:37] marcsit commented on #4327
@SimonMolinsky NASA PDS developers have confirmed that they will add the suggestion to include the PEP8 exception to their contribution recommendations.

[2022-06-10 14:48] askuric commented on #4232
Thanks @ixjlyons  and @sea-bass  for yout reviews, we appreciate it!
@gkthiruvathukal  don't hesitate to let us know what we need to do to advance to the next step.

I have one question though, would it be possible to chnage the title of the paper to:
"SimpleFOC: A Cross-Platform Field Oriented Control (FOC) Library for Controlling Brushless Direct Current (BLDC) and Stepper Motors"

I think it mi

[2022-06-10 15:06] editorialbot opened #4466 "[PRE REVIEW]: Aerobus: a C++ template library for polynomials algebra over discrete integral domains"
**Submitting author:** @JeWaVe (<a href="http://orcid.org/0000-0002-6291-3345">regis portalez</a>)
**Repository:** https://github.com/JeWaVe/aerobus
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.2.0
**Editor:** @diehlpk
**Reviewers:** @JPenuchot, @balos1
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/3c1ba7b1d77f0d84db637854a939daf6/

[2022-06-10 15:07] richardjgowers commented on #4420
@editorialbot add @ojeda-e as reviewer

[2022-06-10 15:07] VeroniqueLegrand commented on #4451
@editorialbot generate my checklist

[2022-06-10 15:07] richardjgowers commented on #4420
@editorialbot add @hmacdope as reviewer

[2022-06-10 15:08] richardjgowers commented on #4420
@editorialbot start review

[2022-06-10 15:08] editorialbot opened #4467 "[REVIEW]: Xponge: A Python package to perform pre- and post-processing of molecular simulations"
**Submitting author:** @Xia-Yijie (<a href="http://orcid.org/0000-0002-7931-4015">义杰 夏</a>)
**Repository:** https://github.com/Xia-Yijie/Xponge
**Branch with paper.md** (empty if default branch):
**Version:** v1.2.6.8
**Editor:** @richardjgowers
**Reviewers:** @ojeda-e, @hmacdope
**Archive:** 10.5281/zenodo.7073359

## Status

[![status](https://joss.theoj.org/papers/31a7887ca2e6c3057d3d6a17588a34

[2022-06-10 15:08] #4420 closed

[2022-06-10 15:10] richardjgowers commented on #4467
Hi @hmacdope @ojeda-e I think you've both reviewed before so you know the drill. Reach out if you have any questions!

[2022-06-10 15:12] kyleniemeyer commented on #4466
Hi @JeWaVe, this pre-review issue is where we will find an editor and reviewers for your submission. Any suggestions you have for the latter would be welcome.

Unfortunately, we do not have any editors in this area available to handle any additional submissions right now, so I will have to put your submission on our waitlist for the time being.

In the meantime, could you check that missing DOI me

[2022-06-10 15:14] JeWaVe commented on #4466
Of course I will.
My citation comes from Google scholar, I'll try to find additional info.

Best regards

Regis.

Envoyé depuis ProtonMail mobile

-------- Message d'origine --------
Le 10 juin 2022 à 17:13, Kyle Niemeyer a écrit :

[2022-06-10 15:34] osorensen commented on #4463
@mllg would you be interested in reviewing this submission to the Journal of Open Source Software?

[2022-06-10 15:35] fauxneticien commented on #4303
@ajstewartlang — I see that there are in-text citations (e.g. `[@Wickham:2016]` on page 3) in the draft paper (https://github.com/openjournals/joss-papers/blob/joss.04303/joss.04303/10.21105.joss.04303.pdf) but the references section is empty. Is that an artefact of the build?

[2022-06-10 15:40] osorensen commented on #4463
@rcannood would you be interested in reviewing this submission to the Journal of Open Source Software?

[2022-06-10 15:43] osorensen commented on #4463
@mcavs would you be interested in reviewing this submission to the Journal of Open Source Software?

[2022-06-10 15:47] mcavs commented on #4463
@osorensen sure, I can!

[2022-06-10 15:51] osorensen commented on #4463
@editorialbot add @mcavs as reviewer

[2022-06-10 16:09] rcannood commented on #4463
@osorensen I'd be happy to! :)

[2022-06-10 16:15] kellyrowland commented on #4392
Great, thank you!

[2022-06-10 16:15] kellyrowland commented on #4392
@editorialbot add @jdreo as reviewer

[2022-06-10 16:16] kellyrowland commented on #4392
@editorialbot start review

[2022-06-10 16:16] editorialbot opened #4468 "[REVIEW]: ParMOO: A Python library for parallel multiobjective simulation optimization"
**Submitting author:** @thchang (<a href="http://orcid.org/0000-0001-9541-7041">Tyler Chang</a>)
**Repository:** https://github.com/parmoo/parmoo
**Branch with paper.md** (empty if default branch): joss-rev
**Version:** 0.2.0
**Editor:** @kellyrowland
**Reviewers:** @Viech, @JianqiaoMao
**Archive:** 10.5281/zenodo.7600559

## Status

[![status](https://joss.theoj.org/papers/398f0708b35d3f7c1134b3c

[2022-06-10 16:16] #4392 closed

[2022-06-10 16:23] osorensen commented on #4463
@editorialbot add @rcannood as reviewer

[2022-06-10 16:31] joethorley commented on #4415
@zhiiiyang - that is good to know - is there any sense of when this might be fixed?

[2022-06-10 16:39] diehlpk commented on #4279
Can you please check all the missing checkboxes if you understood correctly that the review is done.

[2022-06-10 16:41] diehlpk commented on #4466
@kyleniemeyer I can take the paper, since two of my current papers are close to be done.

[2022-06-10 16:41] diehlpk commented on #4466
@editorialbot assign @diehlpk as editor

[2022-06-10 16:42] mr53563 commented on #4279
done!

[2022-06-10 16:57] kyleniemeyer commented on #4466
@diehlpk great, thanks!

[2022-06-10 16:57] JeWaVe commented on #4466
Paper is quite short as it looks to be the standard here. I can afford many explanations and benchmarks if needed though.

Best regards.

Envoyé depuis ProtonMail mobile

-------- Message d'origine --------
Le 10 juin 2022 à 18:42, The Open Journals editorial robot a écrit :

[2022-06-10 17:24] Viech commented on #4468
My calendar is full until the 23rd but I will aim to review this month.

[2022-06-10 17:35] kellyrowland commented on #4468
Thanks for the heads up, noted.

[2022-06-10 19:16] samuelburbulla commented on #3959
Of course, for any point in time we can compare the non-adapted solution to the adapted one, and the latter is always lower.
For the moving example this looks like this:

<img width="444" alt="Screenshot 2022-06-10 at 20 52 52" src="https://user-images.githubusercontent.com/34940349/173134607-028e4360-555b-4dd9-a73c-a086ae09d719.png">

Probably I have to clarify one point: We do not adapt the mesh

[2022-06-10 19:30] rhdtownsend commented on #4462
Fixed the DOIs — thanks! This is a new process for me, so getting used to what’s expected.

On Jun 9, 2022, at 5:45 PM, Kyle Niemeyer ***@***.******@***.***>> wrote:

Hi @rhdtownsend<https://github.com/rhdtownsend>, we will use this pre-review issue to find an editor and reviewers for your submission. Any recommendations you might have for the latter would be welcome.

As we are getting started, c

[2022-06-10 19:37] ajstewartlang commented on #4303
@editorialbot generate pdf

[2022-06-10 19:48] terrytangyuan commented on #4415
@editorialbot remove @zhiiiyang from reviewers

[2022-06-10 19:50] ajstewartlang commented on #4303
@editorialbot set joss as branch

[2022-06-10 19:50] ajstewartlang commented on #4303
@editorialbot generate pdf

[2022-06-10 20:10] ajstewartlang commented on #4303
👋  @SietzeN can you check the citations in the file paper.md please? The reference list isn't appearing in the pdf build as I believe it's because the citations are not in the appropriate format in paper.md. The backticks aren't need in the markdown file - you can see an example paper with bibliography [here](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

[2022-06-10 21:01] majensen commented on #4422
@editorialbot  assign @CamDavidsonPilon as reviewer

[2022-06-10 21:01] majensen commented on #4422
@editorialbot set @CamDavidsonPilon as reviewer

[2022-06-10 21:01] majensen commented on #4422
@editorialbot commands

[2022-06-10 21:02] majensen commented on #4422
@editorialbot add @CamDavidsonPilon as reviewer

[2022-06-10 21:43] yangbai90 commented on #4281
Dear @danasolav , from my side everything is fine, it should be published. Thanks.

[2022-06-10 22:22] zhiiiyang commented on #4415
@joethorley the greta maintainer asked me to follow this issue https://github.com/greta-dev/greta/issues/458

[2022-06-10 22:52] dsbowen commented on #4438
Is it possible to amend the paper? I implemented a new method this week, and I'd like to add a sentence or two to the effect, "This package contains the first Python implementation of robust empirical Bayes confidence intervals (Armstrong et al., 2020)."  No worries if it's too late in the review process.

[2022-06-10 23:46] Yurlungur commented on #4367
Thanks, @lgarrison and also thanks for the all the issues+PRs. This week has been incredibly busy, so I haven't had a chance to go through everything in detail. But I wanted to let you know I'm on it and should have some updates soon.

[2022-06-11 00:43] ixjlyons commented on #4299
Hi @aliaksei135, thanks for the review. Your comments are addressed below.

We now test only the position and orientation states to tighter tolerances since these "lowest order" states should capture the effect of every computation in the model while integrating out minor numerical differences. We've updated the continuous integration testing to run all cases (including 15 and 16) across a range o

[2022-06-11 00:53] gegen07 commented on #3330
@jGaboardi I think it should be okay to bump the version up to `v0.4.1` because I just fixed some errors and documented the class properties better.

[2022-06-11 04:46] prashjha commented on #4308
Hi @travisseymour, if you can suggest 2-3 more reviewers it will be great.

[2022-06-11 04:48] prashjha commented on #4308
Hi @abrsvn, would you have time to review this software and the accompanying software article for JOSS? This may be in your area of work. If you need more information, please feel free to ask. Thanks!

[2022-06-11 06:00] abrsvn commented on #4308
I am really sorry, I won't be able to do this for several months. It
sounds like a very valuable library though. Thank you for thinking of
me.

On Fri, Jun 10, 2022 at 9:48 PM Prashant K. Jha
***@***.***> wrote:

[2022-06-11 06:05] SimonMolinsky commented on #4327
Hi @marcsit,

I'll start from the last comment:

It is great to hear!

I'm happy that my review was valuable to you. And I'll work on those issues this weekend. Hopefully, it will be a fast ride (with the test coverage you've written, it should be). I'll let you know in this thread when I'm done.

[2022-06-11 06:14] alesantuz commented on #4439
Thank you @SimonDanner and @vbaliga! I will certainly attempt to address all your points and thanks for the issue about the README.

[2022-06-11 07:26] gagolews commented on #4464
I agree to take on this one.

[2022-06-11 07:58] matthewfeickert commented on #4318
Hi. I am currently traveling in a remote part of the US with terrible internet. @danielskatz I will try to read through all of this and give some useful response by Sunday night (I will be home and have stable internet on Monday).

[2022-06-11 08:14] danielskatz commented on #4318
Thanks @matthewfeickert

[2022-06-11 09:32] maczokni commented on #4015
Thanks for this! It might be that I initially downloaded at work with better internet access. I am not an expert in packaging data into packages, but is there not a solution to appeal to a database? The package sizes for rnaturalearth and rnaturalearthdata are both much smaller (<1mb and 3mb) and from what I understand perform roughly the same functionality of finding a relevant shapefile from a q

[2022-06-11 12:31] cescalara commented on #4457
@editorialbot generate my checklist

[2022-06-11 12:33] agdturner commented on #4283
I don't have time in the next two months to develop a scientific use case that proves the utility of the software in providing a new capability. There are many general applications for processing tetrahedra (https://en.wikipedia.org/wiki/Tetrahedron#Applications) and this is one thing that the library supports, for example, calculating the minimum distance between two tetrahedrons, which could be

[2022-06-11 13:25] crvernon commented on #4464
@editorialbot add @gagolews as reviewer

[2022-06-11 14:13] VivianePons commented on #4283
Yes I perfectly understand.

From what I read in the comment, the original question was about the "References" check box but somehow, it drifted and now it seems to me we are discussing the "Substancial scholarly effort"

So my questions would be for @behollister : in the current state of the paper and with the explanation from @agdturner , do you believe you can check those two boxes? If not, can

[2022-06-11 15:06] slayoo commented on #4326
@editorialbot generate pdf

[2022-06-11 16:12] blakeaw commented on #4438
Hi @vissarion, sure. I'm willing to review the submission.

[2022-06-11 17:02] gkthiruvathukal commented on #4232
@askuric It looks like we are good to go. I will follow up with the next steps momentarily!

[2022-06-11 17:03] drussellmrichie commented on #4308
Just chiming in again to say that I still think someone in the ACT-R community would be really well-suited to review this (and better suited than me). Perhaps Dario Salvucci at Drexel University?

[2022-06-11 17:08] gkthiruvathukal commented on #4232
@editorialbot generate pdf

[2022-06-11 17:24] prashjha commented on #4308
@abrsvn thanks for your prompt response.

[2022-06-11 17:25] prashjha commented on #4308
@drussellmrichie thank you again. I am contacting him next. If unsuccessful, I will look into more who work in that area. Fingers crossed.

[2022-06-11 17:27] prashjha commented on #4308
Dear @salvucci, would you be interested in reviewing this software and the accompanying software article for JOSS? This might be in your area of work. I can help you with questions about the review process.

[2022-06-11 18:19] gcdeshpande commented on #4270
Hello @sbenthall and @kasnder,
Since the author has implemented the suggestions and I don’t find any issues the submission can be accepted.

[2022-06-11 21:54] slayoo commented on #4326
First of all, apologies for the delay.

Some final remarks:
- please replace raster graphics with vector graphics in the paper, this will also attest to the ability of `gdess` to produce publication-quality output (hence, as a placeholder, leaving out "Quality of writing" checkbox unchecked for now)
- while the paper mentions comprehensive docstrings, there seem to be no instructions provided for

[2022-06-11 22:43] vimalthilak commented on #4210
@arfon and Authors: Thanks for following up and also for your patience.
I am done with my initial review of https://github.com/ina-foss/inaFaceAnalyzer/. The package is well written and has many components expected by users ( & reviewers). Two issues
- I noted one issue while doing a test run on my side
- I didn't see a mention of "related work" in terms of other packages that cover portions of th

[2022-06-12 00:20] kyleniemeyer commented on #4402
Hi @lucydot, I realize this is a bit outside your application area, but could you edit this submission?

[2022-06-12 00:22] kyleniemeyer commented on #4402
@editorialbot invite @lucydot as editor

[2022-06-12 01:36] christinahedges commented on #4453
@danielskatz I'm happy to edit this submission, but I have three new submissions at the moment, and right now I am doing a cross country move. I can take this on in a few weeks, if that works?

[2022-06-12 13:09] kcerva commented on #4460
@editorialbot generate pdf

Thanks a lot @crvernon! I've updated my last name as needed, so hopefully that shows properly in the regenerated pdf.

[2022-06-12 15:53] engyasin commented on #4099
Thanks,

Version Tag: v1.0.7
Version DOI: https://doi.org/10.5281/zenodo.6636144

[2022-06-12 16:24] jGaboardi commented on #3330
@editorialbot generate pdf

[2022-06-12 16:43] jGaboardi commented on #3330
@editorialbot check references

[2022-06-12 16:56] jGaboardi commented on #3330
@editorialbot check references

[2022-06-12 16:57] jGaboardi commented on #3330
@editorialbot generate pdf

[2022-06-12 20:05] gkthiruvathukal commented on #4232
@askuric: Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the  title (should match the paper title) and author list (make sure the list is  correct and people who only made a small fix are not on it); you

[2022-06-12 20:11] danielskatz commented on #4453
@christinahedges - We can let the current @openjournals/joss-eics decide ...

[2022-06-13 00:03] fboehm commented on #4305
@vipinagrawal25 and @thecalculon - do you have any questions about the next steps? Thanks again!

[2022-06-13 01:10] emdupre commented on #4429
Hi everyone, and thanks for your responses !

@jasmainak since the co-authorship is within the last four years, it would count as a conflict of interest. Apologies for not catching that ! Thanks to both you and @vferat for letting me know about these concerns. I will, though, keep you (and @martinagvilas !) in mind for reviews in the future.

Thanks, too, to @hvgazula for agreeing to review ! I'll

[2022-06-13 01:10] emdupre commented on #4429
@editorialbot add @hvgazula to reviewers

[2022-06-13 01:15] adam2392 commented on #4429
I actually wasn't a co-author on that publication :p

However, I did work with @jasmainak on the MNE-BIDs package a lot post-JOSS publication.

[2022-06-13 01:41] jGaboardi commented on #3330
@editorialbot generate pdf

[2022-06-13 07:12] humanfactors commented on #4250
Just to follow up again, I can appreciate it has been some time in validating this review. @bnriiitb do you still have capacity to test the installation? If you likewise have trouble, we may need to discuss alternative methods for validating it...

[2022-06-13 08:15] editorialbot opened #4469 "[PRE REVIEW]: Cylindrical Alignment App: A Java Application for Aligning Biomolecules in 3-D"
**Submitting author:** @lesfoster (<a href="http://orcid.org/0000-0002-8909-3711">Leslie Foster</a>)
**Repository:** https://github.com/lesfoster/cylindrical-alignment-app
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/ebefbbb7b3a872c40ef8e06b6deb7c

[2022-06-13 08:15] editorialbot opened #4470 "[PRE REVIEW]: PyMedPhys: A community effort to develop an open standard library for Medical Physics in Python"
**Submitting author:** @Matthew-Jennings (<a href="http://orcid.org/0000-0002-1288-2683">Matthew Jennings</a>)
**Repository:** https://github.com/pymedphys/pymedphys
**Branch with paper.md** (empty if default branch):
**Version:** 0.38.0
**Editor:** @osorensen
**Reviewers:** @ProfLeao, @gbaltz
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/2992a30f426890227839e1

[2022-06-13 08:17] arfon commented on #4453
Yes, let's waitlist this for now. Thanks @christinahedges!

[2022-06-13 08:19] vipinagrawal25 commented on #4305
@fboehm,

Thank you for the question. The reviewer's comments are very clear and we are modifying the code and text accordingly. We have incorporated most of the suggestions and are in the process of finalizing everything. You will hear from us soon.

Thanks & Regards
Vipin & Vikash

[2022-06-13 08:28] arfon commented on #4444
:wave: @temuller – thanks for your submission to JOSS. Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission? Also, please don't use the `@` at the front of GitHub handles (to avoid @mentioning them here).

[2022-06-13 08:30] arfon commented on #4454
@editorialbot query scope

@tonggehua – I've noticed that there are a fair number of sections in your code where the logic has been commented out which raises a concern on my side that this submission might not be ready to go out for review yet. I'm querying the scope here to seek the input of a few of our editors. This process will likely take a week or so.

[2022-06-13 08:40] faroit commented on #4434
@editorialbot assign me as editor

[2022-06-13 08:43] temuller commented on #4444
Here is the list: benjaminrose, zpace and hechth.

[2022-06-13 08:48] arfon commented on #4210
Wonderful, thank you for the update @vimalthilak! @DavidDoukhan – with two reviews now submitted, could you give me an update on your progress addressing the reviewer feedback?

[2022-06-13 08:49] faroit commented on #4434
👋 Hi @MarieRoald, thanks again for your submission to JOSS. I will be serving as the editor for this now. We'll use this issue to identify reviewers and resolve technical issues.

i won't be able to start the review process before start of next week as I am currently on vacation but I will already contact some scholars that I know have worked closely with parafac and python. @MarieRoald, please fe

[2022-06-13 09:03] mllg commented on #4463
I'm author of a similar package (mlr3pipelines, https://mlr3book.mlr-org.com/pipelines.html#pipe-model-ensembles-stacking). In order to not give the appearance of a conflict of interests, I would withdraw unless I'm really needed.

[2022-06-13 09:07] SimonBiggs commented on #4470
Reading from the bottom of the list, we have the following person:

**username:** ProfLeao
**Preferred Programming Languages:** Python
**Domains/topic areas you are comfortable reviewing:** Chemistry, Physics, Chemical Engineering, Medical Physics

[2022-06-13 09:20] Matthew-Jennings commented on #4470
ProfLeao

[2022-06-13 09:21] lucydot commented on #4298
@miesli I've made some edits to the paper wording. I have tried editing this directly on Gitlab but keep getting an annoying error about someone editing the file at the same time (I'm 99% sure this is not the case so I'm not sure why it keeps popping up...). So I've pasted the proposed changes as a gist here: https://gist.github.com/lucydot/9d7afb8bd387d0f13d7ee1ce75aebfcd - please check meaning h

[2022-06-13 10:13] osorensen commented on #4463
Thanks, @mllg, then we'll proceed without you as a reviewer.

[2022-06-13 10:13] osorensen commented on #4463
@editorialbot start review

[2022-06-13 10:13] editorialbot opened #4471 "[REVIEW]: stacks: Stacked Ensemble Modeling with Tidy Data Principles"
**Submitting author:** @simonpcouch (<a href="http://orcid.org/0000-0001-5676-5107">Simon Couch</a>)
**Repository:** https://github.com/tidymodels/stacks
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.4
**Editor:** @osorensen
**Reviewers:** @mcavs, @rcannood
**Archive:** 10.5281/zenodo.6800026

## Status

[![status](https://joss.theoj.org/papers/53561aa0549d1080196072043212f

[2022-06-13 11:35] dbrizard commented on #4404
This is a detail, but the *enforcement* section of the code of conduct has not been personalised.
https://github.com/MonashSmartStructures/ospgrillage/blob/main/.github/CODE_OF_CONDUCT.md

[2022-06-13 11:43] csoneson commented on #4440
Yes, I can do this - I'm out of office for a couple of days, but will get it started later this week!

[2022-06-13 11:43] csoneson commented on #4440
@editorialbot assign @csoneson as editor

[2022-06-13 11:43] askuric commented on #4232
Hello @gkthiruvathukal,

1. We already have a zenodo entry for our releases so I've updated the metadata of the paper for our latest release. I hope that is fine with you.

2. I've changed the title of the paper just a bit, by adding "Cross-Platform" to the title
"SimpleFOC: A **Cross-Platform** Field Oriented Control (FOC) Library for Controlling Brushless Direct Current (BLDC) and Stepper Motors

[2022-06-13 11:47] lucydot commented on #4402
@editorialbot assign me as editor

[2022-06-13 11:48] lucydot commented on #4402
@editorialbot check repository

[2022-06-13 11:50] lucydot commented on #4402
@editorialbot check references

[2022-06-13 11:55] swatimanekar commented on #4363
Now it is working fine with "mpirun -n 9 redoak --genome GLA4_1000.fa --genome GP39_1000.fa --genome DHX2_1000.fa -k 27 -o output_sam.txt".
It is mentioned in the manuscript that for JellyFish, a small modification of the merge tool implementation  and also a program has been created that simulates a parallelization of jobs. If you could provide this programme, it would be much easier for me to co

[2022-06-13 12:01] lucydot commented on #4402
Hi @archermarx thanks for your submission to JOSS ✨

Please could you take a look at this [list of people](https://bit.ly/joss-reviewers) and suggest those who may be suitable for reviewing your submission?

[2022-06-13 12:27] nociale commented on #4251
@fboehm Please apologize for the large delay (I was on annual leave for a while). I provide below the information about version number of the release and the doi of the archive:

- The archive: https://zenodo.org/record/6632154 (DOI: 10.5281/zenodo.6632154)
- The github release: https://github.com/insightsengineering/rbmi/releases/tag/v1.1.4 (Version: 1.1.4)

I hope we addressed the tasks correctl

[2022-06-13 12:29] ajstewartlang commented on #4445
@editorialbot add @hoechenberger as reviewer

[2022-06-13 13:01] pdebuyl commented on #4205
@editorialbot generate pdf

[2022-06-13 13:16] jakdot commented on #4308
@prashjha Sorry I did not respond earlier. I see it's hard to find reviewers for the paper. How quickly would you need to have  the review? I could write it, but I will have time to do it only in the week of July 11 - is that ok?

[2022-06-13 13:20] dbrizard commented on #4418
@MargeritPierre thank you for the comments and the review.
Yes, there are no novelty in this program, apart from additional boundary conditions compared to the equations given by Bacon in his 1993 paper. Again, nothing extraordinary nor new. The purpose is to automatically draw space-time diagram, and be able to understand complex signals when multiple waves from various reflections overlay.

Inde

[2022-06-13 13:29] pdebuyl commented on #4205
@editorialbot check references

[2022-06-13 13:35] dbrizard commented on #4404
Two **references** should be improved, even though they are not so hard to find (because it is not possible to guess what type of reference it is from the bibliography alone):

- Almutairi et al: I suggest adding the report number and the institution;
- Yang et al: add the proceeding title and the place.

[2022-06-13 13:40] andrew-f-murphy commented on #3632
hey @anki-xyz , @cMadan anything on our end that you require?

[2022-06-13 13:49] dbrizard commented on #4404
Even if I am not in the "brigdes" field, I believe this software is a important contribution to the community.
The code is very clean, well organised, the documentation is exhaustive and with many examples which greatly facilitates the understanding and getting started phase. This software is worth being published to JOSS :+1:

[2022-06-13 13:52] pdebuyl commented on #4205
Hi @bkmi thanks for the update. It is in good shape :-) The changes do not impact the code, only the documentation configuration, so that there is no need for a further release.

Can you edit the metadata of the zenodo entry so that it matches the one of the paper?
- Title should be "swyft: Truncated Marginal Neural Ratio Estimation in Python"
- Authors should be the same and in the same order. If

[2022-06-13 13:58] jonathanHuwP commented on #4333
Apologies for not responding sooner. I didn't realize that this issue was the preferred means of communicationa and was wondering why no emails.

I have renamed the default branch from 'master' => 'main', you will need to either reclone or in you local repos, make sure you are using the old 'master' branch and run the following.

git branch -m master main
git fetch origin
git branch -u origin/main

[2022-06-13 14:10] jGaboardi commented on #3330
@editorialbot check references

[2022-06-13 14:10] jGaboardi commented on #3330
@editorialbot generate pdf

[2022-06-13 14:14] jGaboardi commented on #3330
@editorialbot generate pdf

[2022-06-13 14:18] fjprichard commented on #3821
I corrected the doi

[2022-06-13 14:21] fjprichard commented on #3821
I made the corrections.

[2022-06-13 14:23] fjprichard commented on #3821
I read the proof. It's fine.

[2022-06-13 14:30] archermarx commented on #4402
Yeah,

Looking at the spreadsheet, I think StanczakDominik, joglekara, akaptano, ygrange, ysimillides, datseris, clemaitre58, jameshclrk, matbesancon are all good possible reviewers. I'm unsure whether to prioritize preferred language or subject matter, so I've picked a mix of both.

[2022-06-13 14:35] rcannood commented on #4471
@editorialbot generate my checklist

[2022-06-13 14:58] jGaboardi commented on #3330
@editorialbot generate pdf

[2022-06-13 15:07] potterzot commented on #4212
Review checklist for @potterzot

----

My apologies on taking a substantial amount of time for this. I could offer a number of reasons but it really doesn't justify the time that I've taken. Reviewers should be prompt and I have not been. I hope the following review will be helpful. There are several small suggestions that I have listed below and created issues for in the project repository. Most

[2022-06-13 15:10] RomainAzais commented on #4266
My mistake, I guess I was expecting it at the "summary" place. But that's perfectly fine.

Yes, I am.

[2022-06-13 15:19] rkurchin commented on #4465
@editorialbot assign me as editor

[2022-06-13 15:21] arfon commented on #3330
@tarleb – it looks like these failures were due to an issue pulling the container image from Docker. I _had_ thought that we were pulling images from the GitHub container registry these days?

[2022-06-13 15:25] jGaboardi commented on #3330
@vissarion I believe we have complete all requested manuscript clean up. We have:
* cleaned up & added appropriate references
* cleaned up hyperlinks and added some as footnotes
* made several minor addition/edits in the facility location section of the manuscript
* removes to large code block in facility location section
* reviewed for typos & grammar, etc.

Below is the information for the versi

[2022-06-13 15:26] rkurchin commented on #4465
👋 @pythonpanda2 and @csadorf, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-13 15:28] rkurchin commented on #4443
Hi @sidihamady, I know @kanderso-nrel may not yet have bandwidth to get to this, but you can certainly go ahead and get your review started (see instructions above). Let me know if you have any questions about the process! Also, feel free to open review-related issues in the target repo; please link to this review issue if you do for easy tracking.

[2022-06-13 15:30] rkurchin commented on #4040
🔔 ping again @awvwgk!

[2022-06-13 17:33] taylorbell57 commented on #4453
During our Eureka team meeting today, we were wondering if it would be possible to get a more rapid review of our paper. With the first JWST Early Release Science data becoming public on July 12, our hope is to have a paper that users of our pipeline can cite when publishing those first observations so that our work gets properly recognized. It seems unfortunate to us to have most of the time betw

[2022-06-13 17:41] faroit commented on #4434
/ooo June 13 until June 20

[2022-06-13 19:48] DavidDoukhan commented on #4210
Dear @vimalthilak , I'm not sure to fully understand what you mean with a mention of "related work" (i'm not native English speaker).

Do you mean a listing of the software components and libraries used to build inaFaceAnalyzer ?
Or do you rather mean a listing of open-source softwares adressing similar problems ?

Kind regards,

[2022-06-13 20:11] christinahedges commented on #4400
@editorialbot add @sloneil as reviewer

[2022-06-13 20:21] christinahedges commented on #4394
@VChristiaens thanks for the link and information on the changes in this version. It seems like there have been significant changes, and that a lot of the improvements have been along the lines of testing, documentation and tutorials. This is great! i'm going to get together some reviewers for this submission, thank you for your suggestion. Once we get two reviewers, we'll get this review started.

[2022-06-13 23:21] rbturnbull commented on #4212
Thanks @potterzot. That's all great feedback. I'll get to work on those issues right away

[2022-06-13 23:40] VChristiaens commented on #4456
Thanks for taking the lead as editor @jfm, and thanks @jgagneastro and @QuentChangeat for accepting to review this submission!
I have implemented your first suggestions in my latest push @jgagneastro. In fact the tutorial links were already in the README, but having another look at it made me realize I had forgotten to mention my latest addition to `special` - that is compatibility with the UltraN

[2022-06-14 01:30] lesfoster commented on #4469
Hello,
This software is meant to be under CDDL.  If it is not properly thus, please let me know.

Regarding reviewers, I would suggest the following people whose handles I saw in the joss_reviewers list.  All listed Java as one of their programming languages.   I have indicated the background skill/interest that seemingly would make them a good fit.
* jdeligt - Genomics, Bioinformatics
* martinmod

[2022-06-14 02:39] rbturnbull commented on #4212
Hi @potterzot - I've gone through the issues and issued a new release to PyPI. In addition to the issues, I added a function to easily get the raw CPI data as a pandas dataframe. I've added information about how to use this function in the docs. Please let me know if I need to do anything else.

[2022-06-14 02:55] HartwigTilman commented on #4417
Greg has still some specific boxed unchecked and I was wondering if I can help the reviewers to find the relevant information? If this is not appropriate, please feel free to ignore or delete my comment.

- Statement of Need: Section in JOSS paper draft (line 27-48)
- Automated tests: we provide 5 tutorials with expected outcomes that users can reproduce (including walk-throughs on YouTube) https:

[2022-06-14 06:20] danasolav commented on #4281
@mbarzegary, congrats! your submission is ready to be accepted.
Please issue a new tagged release of the software (if changed), and archive it (on [Zenodo](https://zenodo.org/), [figshare](https://figshare.com/), or other). Then post the version number and archive DOI in this issue. Upon completing these steps, I will proceed with the acceptance steps.

[2022-06-14 06:24] hugoledoux commented on #4099
sorry but the name of the first author is not the same, in the PDF there's a middle name but not for the ORCID!

Fix either of these, we require that they are the exact same!

[2022-06-14 06:32] hugoledoux commented on #4342
I am disappointed to read this @mlampros.

The 3 requirements I describe above are what the reviewers and myself think is necessary to be accepted by JOSS.

[2022-06-14 06:54] vissarion commented on #4438
The review haven't started yet, so please go ahead and edit your paper!

[2022-06-14 06:55] vissarion commented on #4438
@editorialbot add @blakeaw as reviewer

[2022-06-14 06:59] mlampros commented on #4342
@hugoledoux you shouldn't be disappointed.
Probably it wasn't a good decision to submit an API package to JOSS and also as an R package developer and maintainer to make the false assumption that this API package tutorial will be accepted.
As I said previously vignettes (or tutorials otherwise said) is not a requirement for an R package when submitting to CRAN. I just included these so that R users

[2022-06-14 07:01] vissarion commented on #4438
Hi @SuperKam91@matt-graham @johnveitch @dflemin3 @GregoryAshton @AvianaGlobal would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-14 07:06] chrklemm commented on #4449
Hi @fraukewiese, I will also be happy to help with the review.

[2022-06-14 07:07] Nikoleta-v3 commented on #3743
👋🏻 @bencardoen any updates? 😄

[2022-06-14 07:09] Nikoleta-v3 commented on #4286
👋 @sonal-raj & @nidhog would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "GRAPL: A computational library for nonparametric structural causal modelling, analysis and inference". You ca

[2022-06-14 07:55] mattpitkin commented on #4438
@vissarion I'm able to review the paper

[2022-06-14 07:56] vissarion commented on #4438
@editorialbot add @mattpitkin  as reviewer

[2022-06-14 07:57] vissarion commented on #4438
@editorialbot add @mattpitkin as reviewer

[2022-06-14 08:06] vissarion commented on #3330
@jGaboardi thanks for the detailed answer and for addressing the comments!

I have two more comments:
- please edit the title of the zenodo entry to be exactly the same as the title of the paper
- in would be handy to have clickable hyperlinks (just like the ones in references) for the webpages listed in footnotes

[2022-06-14 08:29] Jammy2211 commented on #4400
Non from me.

[2022-06-14 08:44] csadorf commented on #4465
@rkurchin I am already tagged for another review (#4318 ).

[2022-06-14 09:11] bencardoen commented on #3743
@Nikoleta-v3 https://github.com/JetBrains-Research/spbla/issues/19 (general feedback/comments) is open, the other issues have been addressed. I've updated the comment above to reflect the changes.

[2022-06-14 09:13] miesli commented on #4298
@lucydot here are my changes (also in the gist to make an easy diff)

https://gist.github.com/miesli/f94111018af08fe855b828e441283b4c/revisions?diff=split

I also merged the changes into main so version 1.6.1 is the correct one now (finished CI bugfix in 1.6.1)

[2022-06-14 09:13] Jean-Romain commented on #4342
Well, all of this is not required for CRAN acceptation this is correct. On my side I do not actually see the missing features as a problem for publication. I only answered to questions asked by JOSS. JOSS has publication requirements and I'm not questioning these requirements. JOSS wants unit tests? My answer is that there is not really any true unit tests. I did not conclude for rejection myself

[2022-06-14 09:14] Nikoleta-v3 commented on #3743
Perfect -- thank you! @EgorOrachyov ⬆️  please have a look at the issue.

[2022-06-14 09:36] fraukewiese commented on #4370
@andr1976 Thanks for your review so far! Have your comments been adequately answered/handled?

[2022-06-14 09:39] fraukewiese commented on #4336
@editorialbot recommend-accept

[2022-06-14 09:41] fraukewiese commented on #4449
Thanks @euronion and @chrklemm!

[2022-06-14 09:42] fraukewiese commented on #4449
@editorialbot add @euronion as reviewer

[2022-06-14 09:42] fraukewiese commented on #4449
@editorialbot add @chrklemm as reviewer

[2022-06-14 09:43] fraukewiese commented on #4449
@editorialbot start review

[2022-06-14 09:43] editorialbot opened #4472 "[REVIEW]: tell: a Python package to model future total electricity loads."
**Submitting author:** @mcgrathc (<a href="http://orcid.org/0000-0002-8808-8312">Casey McGrath</a>)
**Repository:** https://github.com/IMMM-SFA/tell
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @fraukewiese
**Reviewers:** @euronion, @chrklemm
**Archive:** 10.5281/zenodo.7246116

## Status

[![status](https://joss.theoj.org/papers/15707e5f91d573db2c221732841f2

[2022-06-14 09:43] #4449 closed

[2022-06-14 09:45] fraukewiese commented on #4449
@chrklemm @euronion @cdburley  : See you over in #4472 where the review will take place :)

[2022-06-14 09:48] ekorudiawan commented on #4401
Thank you @hugoledoux for inviting me as a reviewer
Sorry, I am unable to review this paper, I don't have expertise with this  topic

[2022-06-14 09:58] mbarzegary commented on #4281
@danasolav thank you. I'm so happy about it :)
I haven't changed the software since I created this tagged release, so we can use this one:

the version number is v0.8.1: https://github.com/mbarzegary/BioDeg-UI/releases/tag/v0.8.1
the archive DOI is 10.5281/zenodo.6472450: https://doi.org/10.5281/zenodo.6472450

[2022-06-14 10:47] mlampros commented on #4342
I include tests (either for CRAN or only for Continuous Integration) that are feasible regarding execution time (https://github.com/mlampros/IceSat2R/tree/master/tests/testthat). The vignettes can not be tested because they take too long. I don't know if it would make sense to have only a single small tutorial which would consist of a few lines and would be feasible to run on CRAN or can be tested

[2022-06-14 10:48] cagret commented on #4363
Sure how can i send you the "hacked version" ?

[2022-06-14 10:49] andr1976 commented on #4370
Yes they have

On Tue, Jun 14, 2022 at 11:36 AM fraukewiese ***@***.***>
wrote:

[2022-06-14 10:50] cagret commented on #4363
Using the hacked version :
step 1: count the k-mers of the files with the count subcommand (well, no need to do it again, this has not been modified).
step 2 : use the merge subcommand with the jellyfish binary dumps as input. The output file will look very similar to the one produced by RedOak (but the k-mers are not ordered).

We just merge the jellyfish dumps and measure the time it takes (the

[2022-06-14 10:54] cagret commented on #4363
[code]

[2022-06-14 10:58] lpantano commented on #4236
@jvkersch, let me know when you think this can be addressed. Thanks!
@sdhutchins, any chance you can click on the task that are done in your checklist? Thanks!

[2022-06-14 11:12] danasolav commented on #4281
@editorialbot check references

[2022-06-14 11:16] danasolav commented on #4281
@editorialbot set https://github.com/mbarzegary/BioDeg-UI/releases/tag/v0.8.1 as archive

[2022-06-14 11:17] danasolav commented on #4281
@editorialbot set v0.8.1 as version

[2022-06-14 11:21] danasolav commented on #4281
@mbarzegary thanks, please check the final proof and confirm it is good to go.

[2022-06-14 11:27] mbarzegary commented on #4281
@danasolav I confirm it is good to go.

[2022-06-14 11:40] awvwgk commented on #4040
Thanks for the reminder, last months have been busy for me with study related work and interviewing.

---

I had a look on the CC-aims tutorial and unfortunately failed based on the given instructions. There is an issue that no stable FHI-aims release currently supports the shown example and a development version has to used from the latest git source. This seems like a moving target and an issue

[2022-06-14 11:40] pythonpanda2 commented on #4465
Unfortunately, I am about to enter a busy review season. I would nominate @atanikan

[2022-06-14 11:43] jvkersch commented on #4236
@lpantano Thanks for the ping -- @tamarahadz's comments on our repo were very helpful and prompted a flurry of improvements. There is one issue still outstanding, but I am afraid we have been a bit busy. I hope we can return to it this week or the next, and get the ball rolling again. Thank you everybody for your patience.

[2022-06-14 11:49] Evmoerman commented on #4040
I agree with your assessment: I expected the next release to be sooner, so that I didn't think your first finding would originally  be a problem. However, until then I will add a comment about it in the CC-aims documentation.
Wrt. your second point, I originally didn't add the new functionalities to the FHI-aims documentation on purpose, because I considered it unfinished until it's published/offi

[2022-06-14 11:50] dbrizard commented on #4418
@MargeritPierre I updated the paper by adding a new _state of the field_ section with references to other software dealing with wave propagation.

[2022-06-14 11:53] swatimanekar commented on #4363
I have used the following commands (for two genomes)
./jellyfish count -m 27 -C -s 300M -t 9 -L 2 -o redoak_27_GP39 dataset/GP39.fa
./jellyfish count -m 27 -C -s 300M -t 9 -L 2 -o redoak_27_DHX2 dataset/DHX2.fa
./jellyfish merge -o mer_counts_merged.jf redoak_27_GP39 redoak_27_DHX2
May you assist me with such command lines to get the output in the desired format?

[2022-06-14 12:19] cagret commented on #4363
Did you change the source code of JellyFish ? By change i mean add the overload write function.

[2022-06-14 12:24] swatimanekar commented on #4363
no

[2022-06-14 12:41] jGaboardi commented on #3330
@vissarion

* Zenodo title is now exactly the same
* The links in the footnotes work for me. Do they not work for you?

https://user-images.githubusercontent.com/8590583/173579219-aa1ba185-8ad3-474f-80c5-0da1141ac5c2.mov

[2022-06-14 13:07] vissarion commented on #3330
@editorialbot set 0.4.1 as version

[2022-06-14 13:08] vissarion commented on #3330
@editorialbot generate pdf

[2022-06-14 13:16] alexandergagliano commented on #4400
None from me!

[2022-06-14 13:28] vissarion commented on #3330
@jGaboardi hyperlinks do not work for me, unfortunately, in Ubuntu 12 with neither `okular` nor `document viewer` nor `Firefox` but `Chrome` opens them! Anyway maybe it is something local on my side or something with the markdown to pdf conversion.

[2022-06-14 13:33] jGaboardi commented on #3330
I can try to add in the links again and regenerate. If I do this though, will I have to bump to `v0.4.2` and create a new release, etc.?

[2022-06-14 13:40] tarleb commented on #3330
@arfon: The GitHub Container Registry requires users to authenticate before pulling -- that would require some more changes to the action which I haven't implemented yet.

@jGaboardi: Can you try to enclose the links with `<`/`>` as in `<https://example.com>`?

[2022-06-14 14:10] awvwgk commented on #4040
I see I already mentioned this a while ago, see https://github.com/openjournals/joss-reviews/issues/4040#issuecomment-1028435682.

I still think this is a blocker which must be addressed in either CC-aims and FHI-aims. We don't have to wait for an FHI-aims release here with the respective documentation update and bug fixes, if the CC-aims repository provides a sufficient detailed documentation on

[2022-06-14 14:18] Evmoerman commented on #4040
I'm not sure if you have taken this into account, but there is a detailed documentation of the CC-aims related keywords for FHI-aims on the CC-aims documentation under  "For FHI-aims users/Running CC-aims in FHI-aims".

[2022-06-14 14:20] awvwgk commented on #4040
The crucial information about the status in FHI-aims and the required version is missing for example.

[2022-06-14 14:21] Evmoerman commented on #4040
Yes, that is correct. I'm going to add that. I was referring to the second half of your objections.

[2022-06-14 14:24] hugoledoux commented on #4099
@editorialbot generate pdf

[2022-06-14 14:24] hugoledoux commented on #4099
@editorialbot check references

[2022-06-14 14:30] hugoledoux commented on #4099
That DOI points to v1.0.7 ?!

(last thing to fix, then we're good)

[2022-06-14 15:00] arfon commented on #4453
Hi @taylorbell57 – I totally understand the time pressure here but I also want to gently point out that you're asking a volunteer editorial team to do more work. We've waitlisted this for a good reason (limited capacity) and will get to this paper when we can.

Also, as a workaround (to provide something citable before the JOSS process is complete), you could post a pre-print to the arXiv which wi

[2022-06-14 15:19] jGaboardi commented on #3330
@editorialbot generate pdf

[2022-06-14 15:24] jGaboardi commented on #3330
@vissarion OK, I regenerated the paper and can confirm that the link now open within Acrobat. I had only used Chrome before, but once I checked in Acrobat I can see that the previous versions' footnote links did not work. Should I cut a new `spopt` release and Zenodo Archive?

[2022-06-14 15:26] martinfleis commented on #3330
That shouldn't be necessary, I assume. There was no change to the package itself, only to the paper.

[2022-06-14 15:34] fboehm commented on #4251
@editorialbot set 10.5281/zenodo.6632154 as archive

[2022-06-14 15:35] fboehm commented on #4251
@editorialbot set v1.1.4 as version

[2022-06-14 15:35] fboehm commented on #4251
@editorialbot recommend-accept

[2022-06-14 15:40] sbenthall commented on #4270
@gcdeshpande Thank you!

The reviewers recommend acceptance and we can now proceed with finalizing the submission!

[2022-06-14 15:40] sbenthall commented on #4270
@editorialbot check references

[2022-06-14 15:47] sbenthall commented on #4270
@kasnder Could you please:
- make a tagged Git release for the final cut of the code
- submit an archive to e.g. Zenodo
- Report back the release version number and the archive DOI in this review thread.

[2022-06-14 16:24] flyaflya commented on #4415
@terrytangyuan Even though @zhiiiyang is no longer an official reviewer, her comments/suggestions were much appreciated and there is a new CRAN release of `causact` as of today to support adding a vignette.  You can see more details about my response to @zhiiiyang 's review here: https://github.com/flyaflya/causact/issues/43#issuecomment-1155419729

[2022-06-14 17:15] behollister commented on #4283
Hi @VivianePons and  @agdturner,

Currently there are only unit tests and one reference.

An application (short) need not be an original use case, but something complementary to existing literature -- @abhishekvp may have less/more requirements. Select an existing publication suggesting a calculation using the submission library for completeness. Include the application (and reference paper) with

[2022-06-14 17:28] raghurama123 commented on #4459
I have provided my review. I am very positive about the utility of the package. I think it is a very useful tool. As stated, the write-up requires some edits. Once these are done, I will check off the remaining boxes.

[2022-06-14 17:52] sidihamady commented on #4443
Hi @rkurchin, I will and I'll need your help ;)

[2022-06-14 18:02] VHchavez commented on #4459
Hello @raghurama123, thank you so much for your review!! :)
 I am in the middle of a few hectic days, but I'll address your comments in just a few days.

[2022-06-14 18:53] nhejazi commented on #4411
@majensen sure, thanks for reminding me about this. here are a few possible referees from the JOSS list: stefanocoretta, mhu48, turgeonmaxime, graystatistics, stmcg

[2022-06-14 18:56] gregbryan commented on #4417
Thanks Hartwig for the pointers (apologies for the delay but I did want to take the time to look over everything carefully). Overall, it seems really great -- the code is in excellent condition and the documentation and paper are both very nice. I think this shouldn't take too long to finish up, but before signing off, I do have two thoughts/suggestions that you might want to think about.
- Althou

[2022-06-14 19:07] rkurchin commented on #4465
👋 @dandavies99 and @trallard, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-14 19:46] Zitzeronion commented on #4312
@mbernaschi is there anything I can do to help with the process, please let me know.

Thanks for the very positive review @lnacquaroli and thanks for taking the time to run and test the package 😄

[2022-06-14 20:49] editorialbot opened #4473 "[PRE REVIEW]: dsBinVal: Conducting distributed ROC analysis and Calibration using DataSHIELD"
**Submitting author:** @schalkdaniel (<a href="http://orcid.org/0000-0003-0950-1947">Daniel Schalk</a>)
**Repository:** https://github.com/difuture-lmu/dsBinVal
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** @csoneson
**Reviewers:** @patRyserWelch8, @brunomontezano
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/05f3c28b18afaf

[2022-06-14 20:50] arfon commented on #4473
Note for other editors, this is a re-submission of a previously-rejecting submission (https://github.com/openjournals/joss-reviews/issues/4287)

[2022-06-14 20:51] editorialbot opened #4474 "[PRE REVIEW]: dyntapy: dynamic and static traffic assignment in python"
**Submitting author:** @p-ortmann (<a href="http://orcid.org/0000-0002-1451-3662">Paul Ortmann</a>)
**Repository:** https://gitlab.kuleuven.be/ITSCreaLab/public-toolboxes/dyntapy
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.2.1
**Editor:** @hugoledoux
**Reviewers:** @liberostelios, @EricaEgg
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/pap

[2022-06-14 20:52] christinahedges commented on #4385
@editorialbot add @lwang-astro as reviewer

[2022-06-14 20:53] arfon commented on #4474
@editorialbot set joss as branch

[2022-06-14 20:53] christinahedges commented on #4385
Thank you for joining us for the review @lwang-astro, I think you will have a great perspective for this submission. If you are able to check that you agree you have no [conflicts of interest](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy) with the submitting team, I will find our second reviewer and we'll get this kicked off soon.

[2022-06-14 20:53] christinahedges commented on #4400
@editorialbot start review

[2022-06-14 20:53] editorialbot opened #4475 "[REVIEW]: PyAutoGalaxy: Open-Source Multiwavelength Galaxy Structure & Morphology"
**Submitting author:** @Jammy2211 (<a href="http://orcid.org/0000-0002-8987-7401">James Nightingale</a>)
**Repository:** https://github.com/Jammy2211/PyAutoGalaxy
**Branch with paper.md** (empty if default branch):
**Version:** 2023.1.15.1
**Editor:** @christinahedges
**Reviewers:** @alexandergagliano, @sloneil
**Archive:** 10.5281/zenodo.7546915

## Status

[![status](https://joss.theoj.org/paper

[2022-06-14 20:53] #4400 closed

[2022-06-14 20:55] christinahedges commented on #4475
@jammy2211, @alexandergagliano, @sloneil – This is the review thread for the`PyAutoGalaxy` paper. Please don't hesitate to message me here if you have questions (use @christinahedges). ✉️

Please read the "Reviewer instructions & questions" in the first comment above to get started. If you get lost, you can also see the reviewer guidelines. **You will have to generate your review "checklist" by ad

[2022-06-14 21:03] arfon commented on #4474
@editorialbot generate pdf

[2022-06-14 21:04] editorialbot opened #4476 "[PRE REVIEW]: CWInPy: a Python package for inference with continuous gravitational-wave signals from pulsars"
**Submitting author:** @mattpitkin (<a href="http://orcid.org/0000-0003-4548-526X">Matthew Pitkin</a>)
**Repository:** https://github.com/cwinpy/cwinpy
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.8.0
**Editor:** @dfm
**Reviewers:** @colmtalbot, @gregoryashton
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/758efd099304e45c86e8f430b61

[2022-06-14 21:04] editorialbot opened #4477 "[PRE REVIEW]: osrm: Interface Between R and the OpenStreetMap-Based Routing Service OSRM"
**Submitting author:** @rCarto (<a href="http://orcid.org/0000-0002-1932-3323">Timothée Giraud</a>)
**Repository:** https://github.com/riatelab/osrm/
**Branch with paper.md** (empty if default branch):
**Version:** v4.0.0
**Editor:** @elbeejay
**Reviewers:** @JosiahParry, @mikemahoney218
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/66682b47d145b791fe2e8aa292b8

[2022-06-14 21:04] editorialbot opened #4478 "[PRE REVIEW]: Pycrostates: a Python library to study EEG microstates"
**Submitting author:** @vferat (<a href="http://orcid.org/0000-0003-1952-7657">Victor Férat</a>)
**Repository:** https://github.com/vferat/pycrostates
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @AJQuinn, @vahid-sb, @tuliofalmeida, @anshu-97
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/pape

[2022-06-14 21:05] editorialbot opened #4479 "[PRE REVIEW]: A New Software Accessory to the Rapid Antigen Test"
**Submitting author:** @Donald-Besong (<a href="http://orcid.org/0000-0003-0531-5311">Donald</a>)
**Repository:** https://github.com/Donald-Besong/Covid_Test_Reporting
**Branch with paper.md** (empty if default branch):
**Version:** 1.00
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/34f1b27c707034c5c99211dd32241dd0/sta

[2022-06-14 21:10] arfon commented on #3330
@editorialbot accept

[2022-06-14 21:13] vimalthilak commented on #4210
Hi @DavidDoukhan : Thanks for the clarifying question. When I reread my comment I observed that perhaps I could have phrased it better.

Or do you rather mean a listing of open-source softwares adressing similar problems ?

I was wondering if you have come across similar open-source of even commercial tools that addresses the problem you are solving with  ```inaFaceAnalyzer```. This information wo

[2022-06-14 21:14] arfon commented on #3732
@AlexanderMacL – my understanding is that @vissarion been waiting for a number of weeks on your input here, and has been in contact over email to try and get your attention.

At this point I would like a re-confirmation from you in the next couple of weeks (by 28th June) that you're still interested in pursuing this publication with JOSS. Thank you!

[2022-06-14 21:15] arfon commented on #3330
@tmickleydoyle, @apulverize – many thanks for your reviews here and to @vissarion for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@xf37 – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-06-14 21:15] #3330 closed

[2022-06-14 21:16] tmickleydoyle commented on #3330
w00t

[2022-06-14 21:20] arfon commented on #4251
@nociale – I made a couple of minor tweaks to the paper here, could you merge them please? https://github.com/insightsengineering/rbmi/pull/367

[2022-06-14 21:27] arfon commented on #4336
@editorialbot accept

[2022-06-14 21:31] arfon commented on #4281
@kerstinvg, @yangbai90 – many thanks for your reviews here and to @danasolav for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

Special congratulations to @danasolav for editing their first JOSS submission 🎉

@mbarzegary – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-06-14 21:31] #4281 closed

[2022-06-14 21:37] arfon commented on #4336
@wiljnich, @j3r3m1 – many thanks for your reviews here and to @fraukewiese for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@kmongird – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-06-14 21:37] #4336 closed

[2022-06-14 21:40] arfon commented on #4470
@editorialbot – invite @danasolav as editor

:wave: @danasolav – would you be able to edit this submission for us?

[2022-06-14 21:40] arfon commented on #4470
@editorialbot invite @danasolav as editor

👋 @danasolav – would you be able to edit this submission for us?

[2022-06-14 21:41] arfon commented on #4473
@editorialbot invite @csoneson as editor

:wave: @csoneson – would you be able to edit this submission for JOSS?

[2022-06-14 22:15] yhtang commented on #4198
@melissawm Could we move on to the next step of the review process? Feel free to let me and @campsd know if there is anything further that we can provide. Thanks!

[2022-06-14 22:42] theorashid commented on #4455
Hey @dfm , I've done the first round of reviewing. It's a good package. I've commented inline whilst working through the checklist. Could I have a bit of advice on the next steps?

- There are a few points which I haven't ticked off. Let me know what you think about these: if any of them should be mentioned in an issue and dealt with
- I've made a list of things that would be "nice to have" in the

[2022-06-14 23:10] dfm commented on #4455
Thanks @theorashid! I think would be better to open an issue with those comments so that we keep a record, but that's also fine, just don't delete them when they're finished (you can just add a ~~strike-through~~ maybe?).

@thomaspinder: heads up that @theorashid's comments are currently inline above: https://github.com/openjournals/joss-reviews/issues/4455#issuecomment-1146623201

[2022-06-15 00:37] CamDavidsonPilon commented on #4422
### Review checklist (work in progress)

- [x] I confirm that I have read the JOSS conflict of interest policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.
- [x] I confirm that I read and will adhere to the JOSS code of conduct.
- [ ] Repository: Is the source code for this software available at the repository

[2022-06-15 00:51] jGaboardi commented on #3330
Thanks @tmickleydoyle & @apulverizer for the great reviews and @vissarion, @arfon, & @martinfleis for the editorial support!

[2022-06-15 01:11] lbluque commented on #4356
Hi @jarvist :wave: just checking in again on the status here.

Seems we have kitmccoll and TomTranter as reviewers now. Can we move a long to the review now so this doesn't go stale?

P.S. Thanks to everyone for volunteering :smile:

[2022-06-15 01:34] lwang-astro commented on #4385
Thanks for adding me, I have no conflict of interest and I am happy to review this submission.

[2022-06-15 01:34] lwang-astro commented on #4385
Thanks for adding me, I have no conflict of interest and I am happy to review this submission.

[2022-06-15 01:37] jessicatytam commented on #3776
Thanks for the comments! I'll have another look at the updated code again and come up with a list of things to do and a timeline.

[2022-06-15 03:21] AlexanderMacL commented on #3732
Hi Arfon, Vissarion,

Many thanks for your email, and my sincere apologies for missing your
previous.

I am very much still interested in publishing this work - as of February
this year it was unclear to me as to whether the reviews were complete,
following Vissarion's email.

It looks like several reviewers were loathe to review MATLAB code, so it
was difficult to get traction on this.

What are

[2022-06-15 04:58] engyasin commented on #4099
Done,
I think this doi will always point to the latest version:

[DOI: 10.5281/zenodo.6569416](https://doi.org/10.5281/zenodo.6569416)

[2022-06-15 05:14] hugoledoux commented on #4099
@editorialbot set 10.5281/zenodo.6644282 as archive

[2022-06-15 05:15] hugoledoux commented on #4099
@editorialbot set v1.0.9 as version

[2022-06-15 05:15] hugoledoux commented on #4099
@editorialbot recommend-accept

[2022-06-15 05:20] mikldk commented on #4383
@mcavs, @acolum: Thanks for your reviews.

@mdhaber :

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@editorialbot generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as descr

[2022-06-15 05:20] MarDiehl commented on #4356
@jarvist: as stated above, I don't feel confident enough to judge the scientific aspect of the submission but would like to follow the review procedure and comment on the technical/programming aspects.
Is there a template for the [review checklist](https://joss.readthedocs.io/en/latest/review_checklist.html) where I could comment on the technical aspects (source code available, test coverage, ...)

[2022-06-15 05:40] mdhaber commented on #4383
Thanks @mcavs, @acolum!

@mikldk Thanks! I'll do the final checks.

ALso, the software reported here is part of SciPy, which is a very complex library. Do you have any recommendations about the preferred repo state? The version of the repo I added the paper to was branched from SciPy `main` sometime between releases. SciPy 1.9 should be released soon - should I merge the released version of 1.9 in

[2022-06-15 05:48] Het-Shah commented on #4401
Thank you @hugoledoux for inviting me as a reviewer. I am currently on a break and don't have enough time.

[2022-06-15 05:53] danasolav commented on #4259
:wave: @jamesfolberth & @Nikunj-Gupta,

would any of you be willing to review this submission for JOSS?

JOSS is a free, open-source, community driven and developer-friendly online journal
(no publisher is seeking to raise revenue from the volunteer labor of researchers!).

The review process at JOSS is unique: it takes place in a GitHub issue, is open,
and author-reviewer-editor conversations are

[2022-06-15 05:53] jessicatytam commented on #3776
- [ ] unused arguments (https://github.com/jessicatytam/specieshindex/issues/61#issue-1253599082)
- [ ] storing results w/in a loop (https://github.com/jessicatytam/specieshindex/issues/62#issue-1253657243)
- [ ] reduce code duplication (https://github.com/jessicatytam/specieshindex/pull/60#issue-1252587022)
- [ ] fix dataset documentation duplication

[2022-06-15 06:02] hugoledoux commented on #4342
@editorialbot withdraw

[2022-06-15 06:04] danasolav commented on #4470
Hi @arfon,
I could not understand from the readme file what this software does. Medical physics is extremely broad. According to the paper it looks like it focuses on radiation, but the paper also lacks some key information that it should contain. Perhaps the authors can revise the readme and paper to be more specific and informative?
In any case, radiation is not my area of expertise, so it looks

[2022-06-15 06:05] hugoledoux commented on #4342
okay, then I will flag it for scope, and one EiC should withdraw the paper, for the reasons explained above.

[2022-06-15 06:06] hugoledoux commented on #4342
@editorialbot query scope

[2022-06-15 06:17] wouterpeere commented on #4406
@jasondegraw, did you have some time already to take a look at the repository? I'm looking forward to your comments.

[2022-06-15 06:55] anki-xyz commented on #3632
I was going through the software, seems to work on my end. I would also be happy to accept the software as is.
The manuscript could be improved in two (minor) ways:
- Specify **how** CleanX speeds up software
- The manuscript contains abundant "many", and "some" - if you could be more specific here.

[2022-06-15 07:08] JeWaVe commented on #4466
@editorialbot generate pdf

[2022-06-15 07:43] nociale commented on #4251
@arfon - Sure, I have just merged.

[2022-06-15 08:04] matthewfeickert commented on #4318
Thanks for everyone's extreme patience here.

Thanks @itepifanio. As `Annotator` only exposes 3 public methods this is a pretty good start, so we can discuss any further bits in the review proper.

I'll support moving `ipyannotator` into review status. I'm willing to do the review, and I hope it can be done quickly, but I also know that things are going to be pretty hectic between now and the last

[2022-06-15 08:06] dandavies99 commented on #4465
Hi @rkurchin, I'd be very happy to review this.

[2022-06-15 08:16] auroreloisy commented on #4266
@VivianePons I have just updated the reference, it works now

[2022-06-15 08:29] rCarto commented on #4477
Hello,
I've added a license file and corrected missing or invalid DOIs.
I suggest wcjochem, mikemahoney218, josiahparry, ssujit or Maczokni  as potential reviewers.

[2022-06-15 08:30] rCarto commented on #4477
@editorialbot generate pdf

[2022-06-15 08:58] arfon commented on #4251
@editorialbot recommend-accept

[2022-06-15 09:00] p-ortmann commented on #4474
@editorialbot generate pdf

[2022-06-15 09:10] arfon commented on #4251
@editorialbot accept

[2022-06-15 09:14] arfon commented on #4479
@editorialbot reject

[2022-06-15 09:14] #4479 closed

[2022-06-15 09:29] arfon commented on #4251
@DanielRivasMD, @JoranTiU – many thanks for your reviews here and to @fboehm for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@nociale – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-06-15 09:29] #4251 closed

[2022-06-15 09:32] arfon commented on #4444
:wave: @zpace and @hechth – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is a Python package: _[HostPhot: global and local photometry of galaxies hosting supernovae or other transients](https://gi

[2022-06-15 09:35] mattpitkin commented on #4476
Some potential reviewers are:

* afeinstein20
* KAClough
* dbkeitel
* colmtalbot
* ejhigson
* vallis
* gregoryashton
* ReinhardPrix
* sixbynine

[2022-06-15 09:36] arfon commented on #4478
@vferat – please see the example paper for how you can denote corresponding and co-authors (this has recently been updated): https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2022-06-15 09:40] arfon commented on #4099
@engyasin – I've found a couple of minor typos in the paper. Could you merge this PR please? https://github.com/engyasin/Offline_MOT/pull/2

[2022-06-15 10:28] kasnder commented on #4270
@editorialbot generate pdf

[2022-06-15 11:43] engyasin commented on #4099
Merged

[2022-06-15 12:06] arfon commented on #4099
@editorialbot accept

[2022-06-15 12:17] arfon commented on #4099
@Shiming94, @lucaferranti – many thanks for your reviews here and to @hugoledoux for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@engyasin – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-06-15 12:17] #4099 closed

[2022-06-15 12:25] temuller commented on #4444
oops, @hechth sorry about that!

[2022-06-15 12:39] kasnder commented on #4270
@sbenthall, here is the requested information:

Tagged release: <https://github.com/TrackerControl/tracker-control-android/releases/tag/2022061501>

Archive DOI: [10.5281/zenodo.6645297](https://doi.org/10.5281/zenodo.6645297)

Release version number: 2022061501

[2022-06-15 12:49] vissarion commented on #3732
Hi @AlexanderMacL, great that you are still interesting in publishing this work!

Regarding reviewers let me first ping the current reviewers once again.

Regarding the Python port or Octave I do not have experience but if that solution can be used without having MATLAB installed I think it will help a lot to find more reviewers (and will also broaden the user base of your package).

[2022-06-15 12:49] vissarion commented on #3732
:wave: @drewbitllama, @astanziola are you still interesting in finishing your reviews for this package?

[2022-06-15 12:50] engyasin commented on #4099
Thanks for your effort @arfon ,

Many thanks also for the editor @hugoledoux , and the reviewers @Shiming94 and @lucaferranti, for the many helpful comments and for your efforts in reviewing this software. 🎉🎉🎉

[2022-06-15 13:29] engyasin commented on #4099
@arfon I just noticed, that the orcid IDs for the co-author are not added in the paper (my mistake) but only on zenodo archive , can it be done now in the journal website for the orcid ids to be added and especially the last co-author Jörg Müller,--> Jörg P. Müller, to match the orcid name.

Sorry for the inconvenience.

[2022-06-15 13:29] samaloney commented on #4053
Sorry for the delay looks ok to me too.

Shouldn't hold up the review but trying to run the FieldIntegration.ipynb example gives an error about missing dependancy `kaleido`.  While just commenting out the `pio.write_image(fig, '....')` call allows the notebook to run there are no figure outputs as there are no `fig.show()` calls, same in the other notebooks too.

[2022-06-15 13:57] danielskatz commented on #4318
Thanks @matthewfeickert - I'll add you and start the review

[2022-06-15 13:58] danielskatz commented on #4318
@editorialbot add @matthewfeickert as reviewer

[2022-06-15 13:58] danielskatz commented on #4318
@editorialbot start review

[2022-06-15 13:58] editorialbot opened #4480 "[REVIEW]: Ipyannotator: the infinitely hackable annotation framework"
**Submitting author:** @itepifanio (<a href="http://orcid.org/0000-0003-0279-0942">Ítalo Epifânio</a>)
**Repository:** https://github.com/palaimon/ipyannotator/
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.8.5
**Editor:** @danielskatz
**Reviewers:** @csadorf, @matthewfeickert
**Archive:** 10.5281/zenodo.7018311

## Status

[![status](https://joss.theoj.org/papers/5306e2

[2022-06-15 13:58] #4318 closed

[2022-06-15 13:59] danielskatz commented on #4480
@csadorf and @matthewfeickert - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

As you can see above, you each should use the command `@editorialbot generate my checklist` to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

As you go over the submission

[2022-06-15 14:06] zpace commented on #4444
Sorry, I don't have the capacity right now: I moved to the private sector
and am in principle willing to review in the future, this is just a bad
time for me.

On Wed, Jun 15, 2022, 4:32 AM Arfon Smith ***@***.***> wrote:

[2022-06-15 14:52] diehlpk commented on #4279
@abhishektha, @mr53563 thanks for finishing the review.

[2022-06-15 14:52] diehlpk commented on #4279
@editorialbot check references

[2022-06-15 14:57] oliviaguest commented on #3956
No, indeed, I have more time now (Dutch teaching goes till the end of July sadly) — and I am happy to recommend that we proceed without a new reviewer.

[2022-06-15 14:58] oliviaguest commented on #3956
@editorialbot check references

[2022-06-15 14:58] Theomat commented on #4151
Hi,

We just added a paragraph about PROSE and rewrote the state of the art part in our paper.

Best,

Nath and Théo

[2022-06-15 14:58] oliviaguest commented on #3956
@eferrea can you fix the DOI issue, please? 😊

[2022-06-15 15:01] diehlpk commented on #4279
@danasolav

I would like to make some editorial comments:

- [ ]  I think it would be beneficial for the reader to mention some closed software products here.

- [ ]  Could you please add a link to the example data?

After these changes, I will accept the paper.

[2022-06-15 15:02] diehlpk commented on #4377
@jfowkes  can you please recommend new reviewers?

[2022-06-15 15:32] arfon commented on #4342
Thanks for the productive conversation here folks. I'm happy to go ahead and withdraw the paper on behalf of the author.

[2022-06-15 15:32] arfon commented on #4342
@editorialbot withdraw

[2022-06-15 15:35] VivianePons commented on #4266
@editorialbot generate pdf

[2022-06-15 15:36] VivianePons commented on #4266
@editorialbot check references

[2022-06-15 15:38] theorashid commented on #4455
@editorialbot generate pdf

[2022-06-15 15:42] VivianePons commented on #4266
Thank you @auroreloisy, I believe we have now everything and we will move to the last steps before final acceptance. Congrats! And thank you to @11michalis11 and @RomainAzais for the reviews.

@auroreloisy : can you make a tagged release of the software (on [Zenodo](https://zenodo.org/), [figshare](https://figshare.com/), or other). This needs to have the **same title and authors** as the submissi

[2022-06-15 15:56] nociale commented on #4251
That is really a great news! :)

@arfon, @fboehm Thanks a lot for helping with the review and publication process!
@DanielRivasMD @JoranTiU Again, thanks for the review and for the positive feedback!

@arfon, @fboehm May I ask you about one little detail: The web title as currently appears in a Google search contains a typo. It is "rbmi: AR package for standard and reference-based multiple ...", w

[2022-06-15 16:33] bocklund commented on #4364
@rkurchin Thanks for the pings. I had some travel the last few weeks, but getting back to this now!

[2022-06-15 16:46] bocklund commented on #4364
@rkurchin is an explicit "Statement of Need" section required for the paper? ([question here](https://github.com/openjournals/joss-reviews/issues/4364#issuecomment-1119762968)).

[2022-06-15 17:07] jmschrei commented on #4433
@jmcbroome can you clarify the question above?

[2022-06-15 17:16] vijaysm commented on #3959
Yes. That was exactly what I was asking. Thanks for clarifying this point. Perhaps this should also be mentioned in the paper as I had the impression that the grid adapts at the interface as well.

[2022-06-15 17:20] vipinagrawal25 commented on #4305
@fboehm,
We have finished the review. We thank the referees, @mgiardino and @victorapm, for the generous comments. We have taken care of most of them. The comments have significantly improved the quality of the code. Below, we summarize the changes that we have made in our package as well as in the paper.

`Consider fixing the compilation warnings listed below:
src/init.cpp: In function ‘void init

[2022-06-15 17:21] jmcbroome commented on #4433
Ah yes, sorry. @amkram helped me during initial testing phases, particularly in installing it on machines other than my development environment; he pushed some small tweaks he had to make to the setup.py to allow it to build on his machine (and on other architectures more generally) to save me the short time of reimplementing them myself. As he did not contribute any part of the actual codebase of

[2022-06-15 18:03] diehlpk commented on #3390
@editorialbot remind @Kevin-Mattheus-Moerman in 1 week

[2022-06-15 18:15] jmschrei commented on #4433
Yes, thank you.

[2022-06-15 19:15] gcattan commented on #4403
Installation with Docker is smooth, but you should indicate a description of your API ports.
Also, if I create an account and log in, I am not sure how to start from there.
I recommend providing a detailed tutorial with ideally a demo docker image, with data already loaded and 2 accounts (one administrator, and one standard user).

[2022-06-15 19:32] danielskatz commented on #4452
Hi @PerilousApricot and @jpata - I just wanted to check in and see how things are going...

[2022-06-15 19:43] rkurchin commented on #4364
Thanks for checking. @jacksund, if you could split those up I think that would be preferable. While the rendered version of that paper (from 2017) has them combined, if you look at the [updated source in the docs](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography), it has separate headers, so I think that's what's recommended currently.

[2022-06-15 19:49] hrossman commented on #4422
Thank you for the detailed review @CamDavidsonPilon , Much appreciated!
We will start work to address all of the issues you raised

@majensen  - The plan is to address issues & push all relevant code, docs, and paper changes. After that, we will update and summarize changes here at the end. is that Ok or is there any other prefered process?
Thanks both

[2022-06-15 19:54] majensen commented on #4422
Well still seeking a second reviewer, the official review hasn't started yet. Not a big deal, just continue the conversation here. The review checklist will appear in the review issue and this can be filled in at that time.

[2022-06-15 20:25] rieder commented on #4385
I can confirm that I have no conflict of interest!

[2022-06-15 20:45] marina-haliem commented on #3761
Hi @martinfleis ,
Any updates regarding this submission?

Thank you,
Marina

[2022-06-15 20:48] Evmoerman commented on #4040
I added a disclaimer about using the development version of FHI-aims to the "For FHI-aims users"-section of the documentation.

[2022-06-15 22:08] eferrea commented on #3956
Hi @oliviaguest , thanks for accepting finishing reviewing. I corrected the DOI.

[2022-06-15 22:26] yuliadm commented on #4354
Dear @zhiiiyang, everything should be working now!
I reran the unit tests for the current package version, they seem to be working as well. Could you have a quick look at it once again?
P.S. Sorry it took me a while to implement these comments. I needed to submit my doctoral thesis during these 2 past weeks. Now that it's all over, I have time.
Thanks!!

[2022-06-16 00:29] fboehm commented on #4305
Thank you, @thecalculon and @vipinagrawal25 !
@victorapm and @mgiardino - are you satisfied with the fixes that the authors have implemented? Please comment here. Once you're satisfied with the submission, we'll proceed towards publication.

[2022-06-16 00:36] asitha-sena commented on #4324
@arfon @danielskatz @jedbrown
I don't mean to rush anyone but I am confused about what to do next. I haven't heard anything back since Apr 28. Can anyone please advice?
Thanks.

[2022-06-16 00:38] victorapm commented on #4305
@vipinagrawal25, thanks for addressing my points and congratulations again for your nice work!

@fboehm I'm satisfied with the changes implemented by the authors. Thanks for the opportunity in reviewing this work and please let me know about other opportunities...

[2022-06-16 00:41] asitha-sena commented on #4324
@Rogerchandler @Didymograptus @KoalaGeo
FYI Our paper is still under pre-review.

[2022-06-16 03:50] lesfoster commented on #4469
Hello,
This software is meant to be under CDDL. If it is not properly thus, please let me know.

Regarding reviewers, I would suggest the following people whose handles I saw in the joss_reviewers list. All listed Java as one of their programming languages. I have indicated the background skill/interest that seemingly would make them a good fit.

    jdeligt - Genomics, Bioinformatics
    martinmo

[2022-06-16 05:44] danasolav commented on #4279
@diehlpk
I addressed your comments in my last commit.
I wasn't sure if you wanted the link to the sample data to appear in the text or just as a hyperlink (I did the latter). Please let me know if that's ok.
Thanks!

[2022-06-16 06:22] HartwigTilman commented on #4417
@editorialbot generate pdf

[2022-06-16 06:32] HartwigTilman commented on #4417
Dear Greg,
thank you very much for carefully testing A-SLOTH and for your valuable feedback.

We **fixed the typo** in the paper.

Thanks for pointing out that our **documentation lacked a proper introduction**. I have changed this by adding a brief summary to the main page of our documentation: https://a-sloth.readthedocs.io/en/latest/index.html (sometimes you need to reload the page in order to

[2022-06-16 07:45] sebastientourbier commented on #4248
Dear all,

I would like to let you know that the release of a new version (3.0.4) that includes all changes is now available.

The new paper is now up-to-date with the new high-level summary on the `master` branch.

You can consult a summary of the changes at the following URL: https://github.com/connectomicslab/connectomemapper3/releases/tag/v3.0.4

Let me know if I need to do something else.

Be

[2022-06-16 07:47] osorensen commented on #4248
@editorialbot generate pdf

[2022-06-16 08:03] thomaspinder commented on #4455
Updating the pdf as we have made capitalisation of paper titles consistent now in our references e.g., "Gaussian" -> "{G}aussian".

[2022-06-16 08:33] mgiardino commented on #4305
@fboehm I'm satisfied with the changes implemented by the authors, I think they've been very solicitous to our comments. Many thanks for this opportunity, I hope that my contribution was helpful to improve their nice work.

[2022-06-16 08:46] fabian-s commented on #4439
@vbaliga thanks a *lot* for your careful review and constructive comments - if you feel the issues you pointed out have been addressed satisfactorily, please check off the respective items in your checklist.
Re the LICENSE/LICENSE.md issue: as @alesantuz explained, this is standard operating procedure for CRAN packages.

@alesantuz I have some additional suggestions that should hopefully be easy t

[2022-06-16 08:49] martinfleis commented on #3761
@marina-haliem It is waiting for the second round of revisions, sorry for delays.

@RafalKucharskiPK can you have a look at the response above and update the checklist in [the first post](https://github.com/openjournals/joss-reviews/issues/3761#issue-1005904121)?

[2022-06-16 09:36] rogersamso commented on #4329
Dear @pdebuyl for the lack of response to all direct mentions made in this thread, I am concerned @andrecieplinski is not receiving Github's notifications.
I was wondering if reviewers of JOSS have a time limit to submit their reviews?
Regards

[2022-06-16 09:39] andrew-f-murphy commented on #3632
Thanks @anki-xyz for your suggestions, we have made those changes.

[2022-06-16 10:53] auroreloisy commented on #4266
@VivianePons : here is the zenodo link https://zenodo.org/record/6651884

[2022-06-16 10:56] dfm commented on #4053
Awesome! Thanks @samaloney and @dstansby!!

@asherp: I'm going to do a quick pass through everything (it shouldn't take long!) and then I'll have some proofs and final steps for you.

[2022-06-16 10:57] dfm commented on #4053
@editorialbot generate pdf

[2022-06-16 11:28] nhejazi commented on #4438
@vissarion i’m able to review the package and paper too if that’s still helpful

[2022-06-16 11:39] dfm commented on #4053
@asherp — I've opened a PR with some minor edits to the paper. After merging or responding to that, here are the final steps that I'll need from you:

1. Comment `@editorialbot generate pdf`, and take one last read through the manuscript to make sure that you're happy with it (it's harder to make changes later!), especially the author names and affiliations. I've taken a pass and it looks good to

[2022-06-16 11:41] editorialbot opened #4481 "[PRE REVIEW]: tidyqpcr: Quantitative PCR analysis in the tidyverse."
**Submitting author:** @ewallace (<a href="http://orcid.org/0000-0001-8025-6361">Edward Wallace</a>)
**Repository:** https://github.com/ropensci/tidyqpcr
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @arfon
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/51996e6ce004532d31c0d83a6a806334/status.svg)](https:

[2022-06-16 12:20] Bisaloo commented on #4361
Hi @vboussange :wave:, would you be interested in reviewing this [R package](https://github.com/joshwlambert/DAISIEmainland) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04361/joss.04361/10.21105.joss.04361.pdf) for JOSS? Someone recommended you as a reviewer for this submission and you do seem like a good fit.

You can have a look at our [review crite

[2022-06-16 12:22] Bisaloo commented on #4361
Hi @wrightaprilm :wave:, would you be interested in reviewing this [R package](https://github.com/joshwlambert/DAISIEmainland) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04361/joss.04361/10.21105.joss.04361.pdf) for JOSS? The first author of the submission recommended you as a reviewer.

You can have a look at our [review criteria](https://joss.readt

[2022-06-16 13:19] eloisabentivegna commented on #4173
@amoradinejad, please let me know if you need support with the new tag. Creating a new one should be no different than what you did the first time, but I am happy to guide you step-by-step if need be.

[2022-06-16 13:19] hechth commented on #4337
@dhhagan @yguitton @davidegraff @cthoyt please let me know what you would need to finalize the review.

[2022-06-16 13:34] kanderso-nrel commented on #4443
@editorialbot generate my checklist

[2022-06-16 13:37] khinsen commented on #4451
@editorialbot generate pdf

[2022-06-16 14:07] ewallace commented on #4481
Hello and thank you.

The software was already reviewed and accepted at @ropensci, see review thread https://github.com/ropensci/software-review/issues/470

Suggestions from your list of reviewers & editors:
- editors lpantano, fboehm, Bisaloo, majensen, jni, csoneson all look appropriate
- this is an R package to analyse qPCR (molecular biology / clinical detection) data, aimed at researchers, so

[2022-06-16 14:11] gregbryan commented on #4417
Hi Hartwig -- Perfect! I'm happy to sign off on the review -- as I said, a really nice piece of software.

Regarding the automated testing, there are many nice descriptions online of the various approaches, so I'll just quickly answer your immediate questions. The ideal would be unit testing, which tests individual components (subroutines) to make sure they return what is expected. This is done fo

[2022-06-16 15:09] davidegraff commented on #4337
oh sorry I missed the second PR that addressed linting/style! @dhhagan I'm done with my review and satisfied with the quality!

[2022-06-16 15:19] fboehm commented on #4305
Thanks so much, @victorapm and @mgiardino! I really appreciate the thorough reviews, and I hope that we can work together on future submissions.
@vipinagrawal25 - the reviewers have recommended your submission for publication. The next step is for me to review the manuscript. I may offer minor corrections to it before we proceed. You can expect to hear from me in the next few days.

[2022-06-16 15:20] fboehm commented on #4251
@nociale - can you point me to where you're seeing the erroneous title? Is there a specific url? Thanks again!

[2022-06-16 15:45] VivianePons commented on #4266
@editorialbot set v1.0.1 as version

[2022-06-16 15:45] VivianePons commented on #4266
@editorialbot set 10.5281/zenodo.6651884 as archive

[2022-06-16 15:46] VivianePons commented on #4266
@editorialbot recommend-accept

[2022-06-16 15:46] VivianePons commented on #4266
Perfect, I just recommended acceptance, thank you all for the work on the paper!

[2022-06-16 16:22] arfon commented on #4266
@editorialbot accept

[2022-06-16 16:28] arfon commented on #4266
@11michalis11, @RomainAzais – many thanks for your reviews here and to @VivianePons for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@auroreloisy – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-06-16 16:29] editorialbot opened #4482 "[PRE REVIEW]: rstickleback: supervised behavior detection in bio-logging data"
**Submitting author:** @FlukeAndFeather (<a href="http://orcid.org/0000-0002-6302-905X">Max Czapanskiy</a>)
**Repository:** https://github.com/FlukeAndFeather/rstickleback
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.3.0
**Editor:** @chartgerink
**Reviewers:** @chfleming, @jgalgarra, @tretherington
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.

[2022-06-16 16:35] adam2392 commented on #4429
Hi @emdupre are there any updates here, or action items needed from us?

Also just wanted to see if there was any insight into what we should expect and when for the JOSS process? Is there a summary you can point me to perhaps? Thanks!

[2022-06-16 16:36] arfon commented on #4481
@editorialbot query scope

[2022-06-16 16:39] diehlpk commented on #4279
@editorialbot generate pdf

[2022-06-16 16:44] diehlpk commented on #4279
@danasolav Thanks for the edit, I am fine with the paper.

- [ ] Please generate a new version, including all changes during the review and post it here.
- [ ] Please generate a DOI of this version on Zenodo or FigShare and post the DOI here.

After that, I can recommend your paper for acceptance.

[2022-06-16 16:45] arfon commented on #4482
@FlukeAndFeather – it looks like the ORCID for one of the authors is incorrect: https://github.com/openjournals/joss-papers/runs/6922434417?check_suite_focus=true#step:3:95

Also, given the size of this submission, I will need to do a scope review to verify with the wider editorial team that this submission meets our [substantial scholarly effort criterion](https://joss.readthedocs.io/en/latest/su

[2022-06-16 16:45] arfon commented on #4482
@editorialbot query scope

[2022-06-16 16:46] diehlpk commented on #4418
@MargeritPierre could you please have a look, so we could finish the review?

[2022-06-16 16:47] diehlpk commented on #4466
@JeWaVe could you please recommend some reviewers?

[2022-06-16 17:04] arfon commented on #4444
:wave: @ebertin @Onoddil @shivangeerathi @krachyon – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is a Python package: _[HostPhot: global and local photometry of galaxies hosting supernovae or oth

[2022-06-16 17:14] arfon commented on #4474
@editorialbot invite @hugoledoux as editor

:wave: @hugoledoux – would you be able to edit this submission for JOSS?

[2022-06-16 17:16] FlukeAndFeather commented on #4482
Sorry, not sure how that happened. I corrected both authors' ORCIDs [550102f](https://github.com/FlukeAndFeather/rstickleback/commit/550102fb6a8bf868757f94bd9c9e77d285f2d3c9).

Understood. There might have been a better way for me to submit this software, as it also includes the [`stickleback`](https://github.com/FlukeAndFeather/stickleback) Python package, which is a separate repository. I decide

[2022-06-16 17:25] FlukeAndFeather commented on #4482
Potential reviewers.

From the list:
r4ecology
EDiLD
mikemahoney218
mhesselbarth
wwzhang

In my field:
jmlondon
ianjonsen
bmcclintock

[2022-06-16 18:00] Yurlungur commented on #4367
Thanks for quickly digging in to all of that, @lgarrison ! I just updated the paper to address your comments. Here's a more detailed discussion:

Regarding the performance results on CPU Vs. GPU and context for the performance of Spiner: We believe that the phrase "speedup" is misleading, as the goal here is not to speed up an EOS calculation in a CPU code by offloading it to GPU, although that's

[2022-06-16 18:01] Yurlungur commented on #4367
@editorialbot generate pdf

[2022-06-16 18:12] arfon commented on #4312
FYI I've just followed up with @mbernaschi over email to ask when they might be able to complete their review by.

[2022-06-16 18:17] arfon commented on #3747
@LMMorgan – it has been over six months since you've been active on this review. At this point it would appear that you are no-longer interested in pursuing a publication in JOSS.

If we don't hear back from you in the next two weeks, I will assume the submission is abandoned, and proceed to reject this submission.

[2022-06-16 18:23] ejikeugba commented on #4382
Thanks, @NRaillard  and @PhilipPallmann for your review comments and suggestions thus far. I like to know if there are more suggestions @PhilipPallmann on changes that could satisfy the remaining unchecked points?

[2022-06-16 18:56] christinahedges commented on #4385
@editorialbot start review

[2022-06-16 18:56] editorialbot opened #4483 "[REVIEW]: clustertools: A Python Package for Analyzing Star Cluster Simulations"
**Submitting author:** @webbjj (<a href="http://orcid.org/0000-0003-3613-0854">Jeremy Webb</a>)
**Repository:** https://github.com/webbjj/clustertools
**Branch with paper.md** (empty if default branch):
**Version:** 1.1
**Editor:** @christinahedges
**Reviewers:** @lwang-astro, @rieder
**Archive:** 10.5281/zenodo.7941851

## Status

[![status](https://joss.theoj.org/papers/705af345dad802b0515db09f9

[2022-06-16 18:56] #4385 closed

[2022-06-16 19:02] christinahedges commented on #4483
@webbjj, @lwang-astro, @rieder – This is the review thread for the `clustertools` paper. Please don't hesitate to message me here if you have questions (use @christinahedges). ✉️

Please read the "Reviewer instructions & questions" in the first comment above to get started. If you get lost, you can also see the reviewer guidelines. You will have to generate your review "checklist" by adding the co

[2022-06-16 19:02] christinahedges commented on #4483
**FYI for both reviewers:** In the pre-review we discussed with the submitting authors that this tool is designed to improve the interface with products from several other tools. We believe this type of tool can still count under JOSS's requirement for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) and can meet the JOSS requiremen

[2022-06-16 19:09] lgarrison commented on #4367
Thanks @Yurlungur! I'm happy to give 👍 to publication.

[2022-06-16 19:21] rieder commented on #4483
@editorialbot generate my checklist

[2022-06-16 19:44] SimonMolinsky commented on #4327
Hi @marcsit , Hi @mbobra

I've updated your code @marcsit . Along the way, I've identified more things that could be improved (as always with a code :) ), but this is outside the scope of JOSS and doesn't affect performance and usability. I like how you've designed tests in the package; it helps with refactoring.

Anyway, I'm convinced that the package works well. You have my green light; @mbobra

[2022-06-16 19:51] NRaillard commented on #4382
Everything is fine on my side, the issues I raised have been solved.

[2022-06-16 20:45] Yurlungur commented on #4367
Thanks for the in-depth review and helpful comments, @lgarrison !

[2022-06-16 20:47] Yurlungur commented on #4367
@jzrake I just wanted to quickly reach out---have you had a chance to go through the revised manuscript and if so, do you have any additional comments?

[2022-06-16 21:01] awvwgk commented on #4040
Thanks, I think this should address all my remaining concerns.

[2022-06-16 21:41] rkurchin commented on #4040
@editorialbot generate pdf

[2022-06-16 21:45] rkurchin commented on #4040
Thanks everyone! Authors, I'll do an editorial pass over the manuscript and send any comments shortly. In the meantime, the next steps for you are:

1. Merge any and all changes from this review into your main branch and **issue a new version tag**. _(If you want to merge in the paper, you may, but it is not required that the actual manuscript live into the repo in perpetuity since JOSS will host

[2022-06-16 22:00] rkurchin commented on #4040
Some fairly minor editorial comments:
* line 24-25: "allows to calculate" is ungrammatical, rephrase to either "...allows one to calculate..." or "...enables calculation of..."
* 25: I think "ground-state" should be hyphenated
* 36: boron nitride does not need to be hyphenated
* 45: remove comma after "groups"
* 46: perform -> performs
* 55-56: "straightforward" is one word
* 64: change "which" to

[2022-06-16 23:12] emdupre commented on #4429
👋 Hi @TomDonoghue, @rdgao, @ixjlyons  !

Would you be willing to review _MNE-ICALabel: Automatically annotating ICA components with ICLabel in Python_ for [JOSS (the Journal of Open Source Software)](https://joss.theoj.org/)?

You can learn more about reviewing for JOSS -- including our conflict of interest policy -- [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

The revi

[2022-06-16 23:24] Evmoerman commented on #4040
@whedon generate pdf

[2022-06-16 23:24] Evmoerman commented on #4040
@editorialbot generate pdf

[2022-06-16 23:29] deep-introspection commented on #4321
Dear @smkia, it should be okay now.

[2022-06-16 23:56] rkurchin commented on #4040
I'm not very familiar with either GitLab or figshare, to be honest. Have you tried Zenodo? If that doesn't work, either, I can tag in the EiC team for some help.

[2022-06-17 00:15] Evmoerman commented on #4040
I could also just manually zip a local copy of the current gitlab repo and upload that to figshare (i.e without any synchronization). Would that be alright?

[2022-06-17 01:36] nick-gorman commented on #4460
@editorialbot generate my checklist

[2022-06-17 02:07] kaleybrauer commented on #4417
Apologies for my delay as well, but I have been playing with the code throughout this week and am very excited that your group has developed and openly shared this. I haven't found any issues; everything seems to run easily and correctly, and the tutorials are thorough and well done.

I second Greg's suggestion about automated tests, but also don't think it is necessary for a project this size, mo

[2022-06-17 02:55] skalyan91 commented on #4303
Functions to test:

- [ ] glottobooster
- [ ] glottocheck
- [ ] glottoclean
- [ ] glottocode_exists
- [ ] glottoconvert
- [ ] glottocreate
- [ ] glottocreate_addsample
- [ ] glottocreate_addstructure
- [ ] glottodist
- [ ] glottofilter
- [ ] glottofiltermap
- [ ] glottoget
- [ ] glottojoin
- [ ] glottomap
- [ ] glottonmds
- [ ] glottoplot
- [ ] glottosave
- [ ] glottosearch
- [ ] glottosimplify
-

[2022-06-17 03:00] vbaliga commented on #4439
Hi @alesantuz and @fabian-s

I'm quite happy with the edits that Ale made regarding my comments, and have checked off the corresponding items in the checklist. It's great to see this type of work being published open-source and I think it will be a fine addition to JOSS. Please feel free to let me know if you need anything else from me

Best regards,
Vikram 🐢

[2022-06-17 03:34] nick-gorman commented on #4460
Hi @kcerva, I've just been reviewing the authorship and contributions and from the github pages I can see that @mark-todd and @elliott-huge have made significant contributions to the software. Do you think it would be appropriate for them to be included as co-authors?

[2022-06-17 04:08] HartwigTilman commented on #4417
Dear Kaley,
thank you very much for the thorough testing and constructive feedback.
Yes, we will definitely keep the automated tests in mind and implement them once the A-SLOTH community grows to a size where we get frequent pull requests.

You are right, our online documentation is rather technical and lacks astrophysical explanations. Following your suggestion, I have added a link to the ApJ pap

[2022-06-17 04:18] zhiiiyang commented on #4354
@yuliadm, congratulations on achieving a milestone in your doctoral training!
The new edits look great: 1) all unit tests passed; 2) excessive output is now simplified.

@jbytecode, I don't have any further comments. :)

[2022-06-17 04:50] yuliadm commented on #4354
@zhiiiyang Thanks so much!!

[2022-06-17 06:20] arfon commented on #4476
:wave: @mattpitkin – thanks for your submission to JOSS. We're a little short on editorial capacity to handle this submission right now so I'm going to waitlist this until we have capacity (this will likely be less than a month).

Thanks in advance for your patience!

[2022-06-17 06:22] arfon commented on #4198
@editorialbot add @fabian-sp as reviewer

[2022-06-17 06:23] arfon commented on #4198
:wave: @melissawm – I think this submission can move forward to review if you're happy to do that with the two reviewers you have?

[2022-06-17 06:24] arfon commented on #4330
@luizirber – how are you getting along finding reviewers for this submission? Is there anything I can do to help here?

[2022-06-17 06:25] arfon commented on #4371
:wave: @nlhepler – how are you getting along with your review here?

[2022-06-17 06:30] arfon commented on #3197
@majensen @felipeZ – it has now been close to 6 months since there have been any updates here. I would gently recommend that it might be appropriate for the author to withdraw this submission unless they can make a firm commitment to completing this review with us.

[2022-06-17 06:39] rieder commented on #4483
A question:
The review specifies version 1.0 of Clustertools. However, it seems that this version was released two years ago (according to the GitHub tag). I guess we should look at the current version instead? Maybe a new tag would be appropriate?

[2022-06-17 07:19] lwang-astro commented on #4483
@editorialbot generate my checklist

[2022-06-17 07:19] SietzeN commented on #4303
Thanks a lot @skalyan91, @fauxneticien  and @ajstewartlang for all your time and effort! I'll soon make a start with addressing your comments. Regarding the reference list, I'll remove the backticks from the markdown file. Cheers!

[2022-06-17 07:30] gcattan commented on #4114
@raybecker Did you have the time to look into the software? I am still waiting for your review :)

[2022-06-17 08:53] hugoledoux commented on #4401
@Solonets as you can maybe see, I am having trouble finding suitable reviewers (I also emailed more than what you see here, no luck, either no time or not enough knowledge). Perhaps you could list the github username of potential reviewer? Without the "@" please so that they do not get warned

[2022-06-17 08:54] hugoledoux commented on #4474
@editorialbot assign me as editor

[2022-06-17 09:08] sidihamady commented on #4443
@editorialbot generate my checklist

[2022-06-17 09:15] p-ortmann commented on #4474
We would suggest pedrocamargo , RafalKucharskiPK/ , katmratliff , EricaEgg and  nsaunier as potential reviewers.

In the interest of full disclosure: I've previously had some contact with Pedro as he has expressed interest in using the dynamic assignment routines of dyntapy in his own package [AequilibraE](https://github.com/AequilibraE/aequilibrae) . I am not sure if this constitutes a conflict o

[2022-06-17 09:35] Solonets commented on #4401
Hi @hugoledoux, i see it's hard to find a reviewer. I think I can try to do it myself. Should it be a person from some particular list, or can be also a 3rd person, i.e some of my fellow researchers?

[2022-06-17 09:53] ewallace commented on #4481
Thank you @arfon.

Regarding the substantial scholarly effort criterion, we have cited the software in our preprint:

And we expect to cite the software again.

[2022-06-17 10:45] hugoledoux commented on #4401
you cannot do it yourself, but you can recommend me names and I'll approach them!

We have a list but I tried most having computer vision as keywords... It can be academics, researchers in governmental organisation or companies. But (obviously) not your direct colleagues or people you worked in the past with...

[2022-06-17 11:55] skalyan91 commented on #4303
@ajstewartlang I’ve opened the following issues on the project’s GitHub repository:

1. https://github.com/SietzeN/glottospace/issues/98
2. https://github.com/SietzeN/glottospace/issues/99
3. https://github.com/SietzeN/glottospace/issues/100
4. https://github.com/SietzeN/glottospace/issues/101
5. https://github.com/SietzeN/glottospace/issues/102
6. https://github.com/SietzeN/glottospace/issues/103

[2022-06-17 12:11] vferat commented on #4478
@editorialbot check repository
@editorialbot check references

[2022-06-17 12:13] vferat commented on #4478
@editorialbot check references

[2022-06-17 12:17] vferat commented on #4478
@arfon Should be all good now

[2022-06-17 12:29] SietzeN commented on #4303
Thanks a lot @skalyan91! I will address these issues and get back to you!

[2022-06-17 13:00] ebezzam commented on #4259
@aquilesC just reaching out to see if you have some spare time to do the review?

Thanks,
Eric

[2022-06-17 13:43] TomDonoghue commented on #4429
hey @emdupre - I'd be happy to review this submission!

[2022-06-17 16:19] emdupre commented on #4429
Thank you, @TomDonoghue ! I'll add you as a reviewer now and then give another 24h for any additional reviewer responses before opening the review issue ! 🚀

[2022-06-17 16:19] emdupre commented on #4429
@editorialbot add @TomDonoghue to reviewers

[2022-06-17 16:34] fboehm commented on #4305
@editorialbot check references

[2022-06-17 16:35] fboehm commented on #4305
@vipinagrawal25 - can you examine the above output from the check references command? Is the suggested "missing doi" accurate? If so, would you please update your manuscript to include it?

[2022-06-17 16:39] thecalculon commented on #4305
@editorialbot check references

[2022-06-17 16:41] thecalculon commented on #4305
@fboehm the doi suggeted by the 'good bot' was correct. We have updated it in the paper.

[2022-06-17 16:45] fboehm commented on #4305
Excellent! Thanks, @thecalculon and @vipinagrawal25 !

[2022-06-17 17:09] fboehm commented on #4305
the doi for Gompper & Kroll resolves to a reference other than that listed. Can you fix this?

[2022-06-17 17:12] fboehm commented on #4305
@vipinagrawal25 @thecalculon - the other dois, excepting Gompper and Kroll, resolve to the intended targets.

[2022-06-17 19:26] mbobra commented on #4327
@editorialbot check references

[2022-06-17 19:31] mbobra commented on #4327
Congratulations @marcsit  -- we're almost ready to publish the paper!

Could you please cut a new release of NAIF PDS4 Bundler, deposit it in Zenodo, and put the link to the Zenodo deposit in this thread? Please make sure that the author list and title on the Zenodo deposit matches the author list and title on the JOSS paper. Then I can move forward with accepting the paper.

[2022-06-17 19:33] mbobra commented on #4170
👋 @danehkar @matthewfeickert How is it going with the review? Do you need any help? Please let me know!

[2022-06-17 19:35] mbobra commented on #3331
👋 How is it going @ashleychontos? Do you need any help or clarification?

[2022-06-17 19:41] matthewfeickert commented on #4170
Thanks for the ping @mbobra! I should have my review finished this weekend (it is mostly there, just need to formalize it).

[2022-06-17 19:52] tamarahadz commented on #4236
Hi @lpantano and @jvkersch I have gone through my checklist and finished my review - After going through the reproducible example on the VPSearch GitHub, package installation was quick and with minimal problems. The package itself was also easy to use and was very quick. I tested it with the reproducible example they provided on their GitHub, and with three fasta files from [Human](https://rnacent

[2022-06-17 19:55] sdhutchins commented on #4236
@lpantano I'll be updating my checklist tonight and tomorrow to ensure this review proceeds as ASAP.

[2022-06-17 20:18] dfm commented on #4453
@editorialbot assign me as editor

I'm happy to jump in as editor here. Thanks for your patience @taylorbell57 et al.!

[2022-06-17 20:20] dfm commented on #4453
@editorialbot add @catrionamurray as reviewer

🎉 Thanks @catrionamurray for agreeing to review this submission! I'm still working on recruiting a second reviewer then we'll get the main thread rolling.

[2022-06-17 20:22] aliaksei135 commented on #4299
Thanks for making the changes @ixjlyons

I've run everything through again and it works well.

I am happy to conclude my review and recommend accepting this submission.

[2022-06-17 20:45] Evmoerman commented on #4040
DOI has been generated by zenodo: version is 1.0.1 and doi is 10.5281/zenodo.6658117

[2022-06-17 22:54] elbeejay commented on #4477
@editorialbot assign me as editor

[2022-06-17 23:00] elbeejay commented on #4477
Hi @rCarto, thanks for making this submission. I'll have a closer look this weekend before making any pre-review suggestions and searching for reviewers, but when I took a glance I had one question. In the README, you state:

\> [“Most of the previously active core devs have either moved on to new
roles, or are simply busy on different projects (…)”](https://github.com/Project-OSRM/osrm-backend/is

[2022-06-18 06:21] jbytecode commented on #4354
@editorialbot check references

[2022-06-18 06:21] jbytecode commented on #4354
@editorialbot generate pdf

[2022-06-18 06:55] jbytecode commented on #4354
Dear @yuliadm

- I have just sent a pull request that includes some corrections for the manuscript and the bibtex.
- Please carefully check them. If you are agreed with the corrections, please apply.
- Ping me, when you have done with them.

Thank you in advance.

[2022-06-18 10:22] JeWaVe commented on #4466
@shumow @CaseyCarter Could you please help review this paper ?
It's a polynomial algrebra (over a discrete integral domain) library, full template.
@shumow It might interest you for the maths
@CaseyCarter It might be a good usage sample for the msvc c++ standard lib.

[2022-06-18 11:38] yuliadm commented on #4354
Dear @jbytecode I checked the corrections and merged the pull request. Is there anything else I need to do or is it fine?
Thanks!!

[2022-06-18 12:39] jbytecode commented on #4354
@editorialbot check references

[2022-06-18 12:39] jbytecode commented on #4354
@editorialbot generate pdf

[2022-06-18 12:43] jbytecode commented on #4354
Dear @yuliadm

- [ ] Please read the paper pdf carefully, one more time, correct any issue if exists.
- [ ] Create a tagged release in the software repository. Report the version here. The version should be in form of `vx.y.z`, e.g. `v1.2.3`.
- [ ] Create a Zenodo archive in https://zenodo.org/
- [ ] The Zenodo archive (with the same name/title with the JOSS paper) should have the correct metadata

[2022-06-18 15:33] emdupre commented on #4429
Thanks @rdgao, @ixjlyons for considering this invitation, but we'll go ahead and move forward as-is to get this submission under review !

[2022-06-18 15:33] emdupre commented on #4429
@editorialbot start review

[2022-06-18 15:33] editorialbot opened #4484 "[REVIEW]: MNE-ICALabel: Automatically annotating ICA components with ICLabel in Python"
**Submitting author:** @adam2392 (<a href="http://orcid.org/0000-0001-8421-365X">Adam Li</a>)
**Repository:** https://github.com/mne-tools/mne-icalabel
**Branch with paper.md** (empty if default branch): main
**Version:** v0.4
**Editor:** @emdupre
**Reviewers:** @TomDonoghue, @adswa
**Archive:** 10.5281/zenodo.7017165

## Status

[![status](https://joss.theoj.org/papers/d91770e35a985ecda4f2e1f1249

[2022-06-18 15:33] #4429 closed

[2022-06-18 15:36] emdupre commented on #4484
Hi  @hvgazula and @TomDonoghue 👋 Thanks again for agreeing to review this submission ! The review will take place in this issue, and you can generate your individual reviewer checklists by asking `editorialbot` directly with `@\editorialbot generate my checklist`.

In working through the checklist, you're likely to have specific feedback on _MNE-ICALabel_. Whenever possible, please open relevant i

[2022-06-18 15:38] yuliadm commented on #4354
Dear @jbytecode, thanks for the instructions. I did reread the paper and did not find any mistakes there... Since I will be leaving my registration data on this website (whether sharing it from Git or otherwise), may I at least know why it is required (I do not remember reading about it) and whether there are conflicts of interest from your side. Thanks! Sorry for the question.

[2022-06-18 15:45] jbytecode commented on #4354
@yuliadm - we always ask authors to create an archive of the current form of the software (as stated in https://joss.readthedocs.io/en/latest/editorial_bot.html?highlight=zenodo#setting-the-software-archive and https://joss.readthedocs.io/en/latest/submitting.html?highlight=zenodo#the-review-process).

I only recommended some small changes and there is not a conflict of interest from our side.

Is

[2022-06-18 15:48] yuliadm commented on #4354
@jbytecode, yes! That is clear. Thanks a lot!

[2022-06-18 19:55] arfon commented on #2316
Is the exact same paper present in the repository (https://gitlab.com/utopia-project/dantro) as was the case when the original paper was published? Also, for the other two papers?

[2022-06-18 20:05] arfon commented on #4478
@editorialbot invite @meg-simula as editor

:wave: @meg-simula – would you be able to handle this submission for JOSS?

[2022-06-18 20:05] editorialbot opened #4485 "[PRE REVIEW]: DBMS-Benchmarker: Benchmark and Evaluate DBMS in Python"
**Submitting author:** @perdelt (<a href="http://orcid.org/0000-0002-3359-2386">Patrick Erdelt</a>)
**Repository:** https://github.com/Beuth-Erdelt/DBMS-Benchmarker
**Branch with paper.md** (empty if default branch):
**Version:** v0.11.22
**Editor:** @gkthiruvathukal
**Reviewers:** @simon-lewis, @erik-whiting
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/82d2fa

[2022-06-18 20:06] editorialbot opened #4486 "[PRE REVIEW]: CHOLAR: Characterization Of lncRNA from Raw reads"
**Submitting author:** @ManjariKiran (<a href="http://orcid.org/0000-0003-0153-7072">Manjari Kiran</a>)
**Repository:** https://github.com/schosio/CHOLAR
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/3991f2e967ade03e513ab09fc372e821/status.svg)](ht

[2022-06-18 20:06] editorialbot opened #4487 "[PRE REVIEW]: MimiBRICK.jl: A Julia package for the BRICK model for sea-level change in the Mimi integrated modeling framework"
**Submitting author:** @tonyewong (<a href="http://orcid.org/0000-0002-7304-3883">Anthony Wong</a>)
**Repository:** https://github.com/raddleverse/MimiBRICK.jl
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @jbytecode
**Reviewers:** @tpoisot, @Zitzeronion
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/0e0a2b8b9428ccf46394047ac8

[2022-06-18 20:06] editorialbot opened #4488 "[PRE REVIEW]: py2lispIDyOM: A Python package for IDyOM"
**Submitting author:** @xinyiguan (<a href="http://orcid.org/0000-0002-4570-906X">Xinyi Guan</a>)
**Repository:** https://github.com/xinyiguan/py2lispIDyOM
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** @faroit
**Reviewers:** @AoifeHughes, @hayesall
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/3f2e7b31cf9ee2f96ba631ff2617f8

[2022-06-18 20:06] editorialbot opened #4489 "[PRE REVIEW]: libACA, pyACA, and ACA-Code: Audio Content Analysis in 3 Languages"
**Submitting author:** @alexanderlerch (<a href="http://orcid.org/0000-0001-6319-578X">Alexander Lerch</a>)
**Repository:** https://github.com/alexanderlerch/libACA
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.3.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/509e98536cab2deb6d30fd5c686bcd7f

[2022-06-18 20:07] editorialbot opened #4490 "[PRE REVIEW]: DMStag: Staggered, Structured Grids for PETSc"
**Submitting author:** @psanan (<a href="http://orcid.org/0000-0003-3968-8482">Patrick Sanan</a>)
**Repository:** https://gitlab.com/petsc/petsc
**Branch with paper.md** (empty if default branch): psanan/dmstag-joss
**Version:** v3.17.2-562-g2ed6c4b646c
**Editor:** @kyleniemeyer
**Reviewers:** @kris-rowe, @elauksap, @mbarzegary
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theo

[2022-06-18 20:11] arfon commented on #4485
@editorialbot query scope

@perdelt – many thanks for your submission to JOSS. I'm flagging this for a scope query by our editorial board as it't not clear to me on first inspection that this software meets our definition of [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software). This process will likely take a week or so.

In the meantime, ple

[2022-06-18 20:13] arfon commented on #4486
@editorialbot query scope

@ManjariKiran – thanks for your submission to JOSS. As this submission is quite small (R + Shell code), I'm going to flag this for a scope review by our editorial board. This will likely take a week or so.

[2022-06-18 20:17] arfon commented on #4487
@tonyewong – I believe the paper isn't compiling as Bakker's affiliations need quoting, i.e. like this:

[code]

[2022-06-18 20:17] arfon commented on #4487
@editorialbot invite @jedbrown as editor

:wave: @jedbrown – would you be willing to edit this submission for JOSS?

[2022-06-18 20:18] arfon commented on #4488
@editorialbot invite @faroit as editor

:wave: @faroit – would you be willing to edit this submission for JOSS?

[2022-06-18 20:20] arfon commented on #4489
@alexanderlerch – many thanks for your submission to JOSS. Can you confirm that the focus of this software is on teaching/education? If so, I'm afraid this makes it out of scope for JOSS.

[2022-06-18 20:24] rCarto commented on #4477
Hi @elbeejay ,

I plan to maintain `osrm` the R package. I've placed this warning in the README at a time I thought there could be some problems with OSRM maintenance. It has appeared since that the project is still maintained, it receives contributions, its issues are taken care of, its mailing list is still active and new versions are released. In fact I should just remove this statement from th

[2022-06-18 20:28] arfon commented on #4490
Per the submission notes, the implementation under consideration here is `DMStag` which is mostly contained within `src/dm/impls/stag`. `cloc` for those files:

[code]

[2022-06-18 20:30] arfon commented on #4490
@editorialbot invite @kyleniemeyer as editor

:wave: @kyleniemeyer – would you be willing to edit this submission for JOSS?

[2022-06-18 21:13] alexanderlerch commented on #4489
@arfon It has been used in research projects over the years, but the main focus is educational.

[2022-06-19 01:01] elbeejay commented on #4477
Thanks @rCarto that explanation helps.

Some minor suggestions for the paper:

- In the second sentence of the Summary section add "users" (see below)

- Consider changing the final sentence of the Summary section to one of the below versions (or similar):

- The second sentence in the Statement of need is very casual, I'd consider finding a way to write it more succinctly, maybe something like: "

[2022-06-19 01:22] nick-gorman commented on #4460
Hi @kcerva, At the start of the paper there is broad claim about the ability of MAT-dp to calculate the  resources needed in any system or supply chain. However, the examples given in the documentation  are all simplistic, demonstrating the functionality on system of real world complexity would makeit much easier to confirm the software's stated functionality claim. The hydro dam example doesn't s

[2022-06-19 04:23] andrew-f-murphy commented on #3632
Candace are going to be busy for a while but I will be around, please let me know if you require anything else @anki-xyz @cMadan

[2022-06-19 04:50] psanan commented on #4490
Re potential reviewers, these names from the bottom of the list might be appropriate. I don't believe I know any of these people directly - these choices are just based on the spreadsheet data:

* mbarzegary
* elauksap
* kris-rowe
* SaumikDana
* justinsgray
* nasserma

[2022-06-19 06:02] falexwolf commented on #4371
@arfon We moved the repository from theislab/anndata to https://github.com/scverse/anndata. Could you update the metadata here?

[2022-06-19 06:58] psanan commented on #4490
@editorialbot generate pdf

[2022-06-19 08:03] Cadaei-Yuvxvs commented on #4368
@editorialbot generate pdf

[2022-06-19 08:55] danasolav commented on #4279
@diehlpk
This is the tagged release: https://github.com/SolavLab/DuoDIC/releases/tag/v.1.1.0
And the DOI of the Zenodo archive: https://doi.org/10.5281/zenodo.6664889
Thanks!

[2022-06-19 10:03] Cadaei-Yuvxvs commented on #4368
@editorialbot generate pdf

[2022-06-19 10:22] bkmi commented on #4205
The author order is not allowed to be altered? The reason we want to is because the largest code contributor is the PI of the lab. Also, a significant amount of the code, written by some contributors, is ipython notebook output.

Am I understanding it right that it's possible to move people off the author list who have contributed code as long as they're are added to the contributors list?

The ot

[2022-06-19 11:06] rCarto commented on #4477
Thank you very much @elbeejay !
I have accepted all your suggestions. As you may have noticed, I am not a native English speaker. I have also removed the warning about OSRM maintenance in the README.

[2022-06-19 12:36] diehlpk commented on #4279
@editorialbot set v1.1.0 as version

[2022-06-19 12:37] diehlpk commented on #4279
@danasolav can you please update the title of the Zenodo archive to match with the paper title?

[2022-06-19 13:38] yguitton commented on #4337
My bad, I only create my own testing files yesterday (works fine and easily ). I 'm satisfied with the tool and the paper.

[2022-06-19 13:40] yguitton commented on #4337
@dhhagan I have filled all the remaining fields in my review checklist. What is the next step ?

[2022-06-19 16:51] vipinagrawal25 commented on #4305
@editorialbot check references

[2022-06-19 16:52] vipinagrawal25 commented on #4305
@fboehm Thanks for your comments. DOIs and the text are fixed now.

[2022-06-19 17:00] blsqr commented on #2316
Yes, the papers are exactly the same for both dantro ([history](https://gitlab.com/utopia-project/dantro/-/commits/master/joss) only contains a deleted whitespace) and Utopia ([history](https://gitlab.com/utopia-project/utopia/-/commits/master/joss)).

The DORiE paper has no changes either ([history](https://ts-gitlab.iup.uni-heidelberg.de/dorie/dorie/-/commits/master/joss)) but the repository has

[2022-06-19 18:01] osorensen commented on #4181
@openjournals/joss-eics I have not been able to get in touch with the submitting author @blind-contours, despite repeated attempts. The last response is on 17 March and none of the issues opened by the reviewers in the source repository appear to have been addressed. Could you please consider if this submission should be rejected, with an opportunity to resubmit? I have also searched extensively f

[2022-06-19 18:29] tonyewong commented on #4487
https://github.com/openjournals/joss-reviews/issues/4487#issuecomment-1159554233

Sorry about that! Just updated paper.md to add the quotations.

[2022-06-19 18:52] blind-contours commented on #4181
@osorensen -- sorry for the delay. I've started addressing the issues made by @cpalmer718. My email address is david_mccoy@berkeley.edu, I will add it to the readme and update the link to my bio page. I wasn't able to get the package on CRAN because the SL3 dependency is not on CRAN so I am removing that section of the manuscript and updating the READme. Thank you for your review of this package,

[2022-06-19 19:16] srmnitc commented on #4459
@lucydot @VHchavez I have completed my first review of the package. I think pyCADMium is a useful package that should be published in JOSS. The code is well-written, and the set of examples are convincing. The JOSS paper is also well written. There are some issues which prevent me from checking all the boxes. Most of them are related to documentation and functionality. I have raised two separate i

[2022-06-19 20:18] osorensen commented on #4181
Thanks @blind-contours. Please keep us updated about the progress.

[2022-06-19 21:19] csoneson commented on #4407
👋🏻 @jaybee84 - could you update us on the status of your review? Thanks!

[2022-06-19 21:26] csoneson commented on #4440
👋🏻 @smsaladi, @marshallmcdonnell, @chryswoods - would you be interested in reviewing this submission for JOSS?

[2022-06-19 21:39] pdebuyl commented on #4205
From Zenodo's FAQ:

So you can change Zenodo's author order and update the record. You cannot change the files in a record.

JOSS policy is that the author list between the paper and archive must match. See in the editorial guide https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance I can't find the same guideline in the "author info" part of our documentation. If

[2022-06-19 21:47] diehlpk commented on #4279
@editorialbot set 10.5281/zenodo.6664889 as archive

[2022-06-19 23:22] nick-gorman commented on #4460
A few extra notes on the paper:
- The summary at the start could be revised for greater clarity:
   - For example, mentioning that the underlying model is a linear program
   - Also the key thing driving the optimisation is the objective function, alongside the constraints you mention
   - I'm not sure it's entirely correct to say that the "system can be optimised by using three types of inbuilt c

[2022-06-20 01:54] gagolews commented on #4464
@crvernon Will there be a separate GH Issue where I can submit the review?

[2022-06-20 06:26] arfon commented on #4099
@editorialbot re-accept

[2022-06-20 06:26] arfon commented on #4099
@editorialbot reaccept

[2022-06-20 07:27] Bisaloo commented on #4361
Amazing, thanks for your answer! With two reviewers, we can now get properly started with the review :tada:. I'll open an new issue which will contain the necessary instructions.

[2022-06-20 07:28] Bisaloo commented on #4361
@editorialbot add @vboussange as reviewer

[2022-06-20 07:29] Bisaloo commented on #4361
@editorialbot start review

[2022-06-20 07:30] editorialbot opened #4491 "[REVIEW]: DAISIEmainland: an R package for simulating an island-mainland system for macroevolution on islands"
**Submitting author:** @joshwlambert (<a href="http://orcid.org/0000-0001-5218-3046">Joshua Lambert</a>)
**Repository:** https://github.com/joshwlambert/DAISIEmainland
**Branch with paper.md** (empty if default branch): joss_submission
**Version:** v1.0.0
**Editor:** @Bisaloo
**Reviewers:** @alexskeels, @vboussange
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/6913e20fc

[2022-06-20 07:30] #4361 closed

[2022-06-20 07:42] peanutfun commented on #2316
Migration of DORiE will probably conclude within this week.

@blsqr Thanks a lot for bringing this up! 🙌

@soilros fyi, with DORiE and our other repos migrating from our GitLab instance we would like to update the JOSS papers with the new repository links

[2022-06-20 07:47] arfon commented on #4099
@engyasin – the paper should be updated now.

[2022-06-20 07:49] Bisaloo commented on #4491
:wave: :wave: :wave: @joshwlambert, @alexskeels, @vboussange, this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the s