[2019-12-03 20:56] whedon commented on #1868
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1151
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01868](https://doi.org/10.21105/joss.01868)
2. If everything looks g

[2019-12-03 20:59] danielskatz commented on #1868
Thanks to @kjappelbaum & @mdoucet for reviewing, and to @dfm for editing!

And congratulations to @1mikegrn and co-author!

[2019-12-03 20:59] #1868 closed

[2019-12-03 20:59] whedon commented on #1868
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01868/status.svg)](https://doi.org/10.21105/joss.01868)

**We need your help!**

Journal of Open Source Softwa

[2019-12-03 21:17] leouieda commented on #1928
Hi @danielskatz thank you for editing the submission. From the list of reviewers, here are a few that might be interested: @krother @dghoshal-lbl @mih Others that come to mind are the main developers of Intake, which has some similar functionality to Pooch: @martindurant and @jsignell. There is also @hmaarrfk who is implementing Pooch as the download manager for scikit-image.

[2019-12-03 22:53] joelmiller commented on #1731
@whedon generate pdf

[2019-12-03 22:53] whedon commented on #1731
[code]

[2019-12-03 22:53] whedon commented on #1731
PDF failed to compile for issue #1731 with the following error:

 Error reading bibliography ./paper.bib (line 39, column 1):
unexpected "y"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-12-03 22:58] joelmiller commented on #1731
@whedon generate pdf

[2019-12-03 22:58] whedon commented on #1731
[code]

[2019-12-03 22:59] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-12-03 23:03] ornlpmcp commented on #1656
generate pdf

[2019-12-03 23:04] ornlpmcp commented on #1656
@whedon generate pdf

[2019-12-03 23:04] whedon commented on #1656
[code]

[2019-12-03 23:05] whedon commented on #1656
PDF failed to compile for issue #1656 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1656/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/

[2019-12-03 23:30] joelmiller commented on #1731
Hi @lpantano - Do you know if there is any way to embed a video into the pdf file?  One of the final things I want to show is a tool to build an animation, but at present I can't find any way to embed it.

[2019-12-03 23:46] labarba commented on #1555
@rouson --- Thank you very much for the detailed recommendations for improvements that you have provided to the authors.

Note, though, that the JOSS review process seldom leads to a _rejection_, in the manner of traditional journals. The Review Guidelines, in the section on [**What happens if the software I’m reviewing doesn’t meet the JOSS criteria?**](https://joss.readthedocs.io/en/latest/revie

[2019-12-03 23:56] lheagy commented on #1663
Thanks @eskofier! Have you had a chance to take a look at the check-boxes in the main issue description? If you are satisfied with their current state, could you please tick off the boxes under your name? If you are unable to check the boxes, you might need to accept the invitation at: https://github.com/openjournals/joss-reviews/invitations

[2019-12-04 00:06] ornlpmcp commented on #1656
@whedon generate pdf

[2019-12-04 00:06] whedon commented on #1656
[code]

[2019-12-04 00:07] whedon commented on #1656
PDF failed to compile for issue #1656 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1656/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/

[2019-12-04 00:11] ornlpmcp commented on #1656
@whedon generate pdf

[2019-12-04 00:11] whedon commented on #1656
[code]

[2019-12-04 00:12] whedon commented on #1656
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01656/joss.01656/10.21105.joss.01656.pdf)

[2019-12-04 00:15] ornlpmcp commented on #1656
@whedon generate pdf

[2019-12-04 00:15] whedon commented on #1656
[code]

[2019-12-04 00:16] whedon commented on #1656
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01656/joss.01656/10.21105.joss.01656.pdf)

[2019-12-04 00:37] ornlpmcp commented on #1656
@whedon generate pdf

[2019-12-04 00:37] whedon commented on #1656
[code]

[2019-12-04 00:38] whedon commented on #1656
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01656/joss.01656/10.21105.joss.01656.pdf)

[2019-12-04 00:39] ornlpmcp commented on #1656
@whedon generate pdf

[2019-12-04 00:39] whedon commented on #1656
[code]

[2019-12-04 00:39] whedon commented on #1656
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01656/joss.01656/10.21105.joss.01656.pdf)

[2019-12-04 00:50] ornlpmcp commented on #1656
@terrytangyuan @zhampel @jrbourbeau

Dear reviewers, I've addressed all of your review items as far as I understand.
Please advise, if there's anything else I need to work on. Here are the major updates.

- I fixed paper.md to deal with the compile error.
- I addressed all issues mentioned by @jrbourbeau
- I added testing in the jupyter notebook
- I simplified the process of installation
- I added

[2019-12-04 03:04] Sulstice commented on #1916
@arfon Done!

[2019-12-04 04:42] arfon commented on #1916
@whedon generate pdf

[2019-12-04 04:42] whedon commented on #1916
[code]

[2019-12-04 04:43] whedon commented on #1916
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01916/joss.01916/10.21105.joss.01916.pdf)

[2019-12-04 06:27] gioacchinowang commented on #1889
@pqrs6 sorry for my late reply, in terms of the LICENSE, it is the COPYING file, we can rename it if you think it is necessary.
In terms of the other issues related to the jupyter notebook, I'm working on it, hopefully I can solve them in a few days.
Previously, I run the notebooks only on the docker image, and so didn't realize there are so many issues.

[2019-12-04 09:29] will-rowe commented on #1915
Thank you @afrubin and @bede for your thorough and speedy reviews! Apologies for my slowness in getting back to this - I had to take some carer leave this week.

I think this is a lovely piece of work and we're close to acceptance. @jbloom - could you let us know if you intend to make any changes in light of the reviewer comments. I agree that support for new file formats or conda installation is

[2019-12-04 09:53] eskofier commented on #1663
Hi,

I just read through all the boxes and I would tick them all off if I could - how do I do that (on an iPhone)? I just spent 15 minutes searching and trying.

Best regards,
Bjoern

-sent from mobile office-

[2019-12-04 09:58] joelmiller commented on #1731
@hagberg

I've added the functional testing (created by @tinghf )  into the repository under EoN/tests

I've also added a discussion of related packages into the paper.

Let me know of anything else you'd like improved.

[2019-12-04 10:09] LRydin commented on #1693
@whedon generate pdf

[2019-12-04 10:09] whedon commented on #1693
[code]

[2019-12-04 10:10] whedon commented on #1693
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01693/joss.01693/10.21105.joss.01693.pdf)

[2019-12-04 10:21] LRydin commented on #1693
Dear @kthyng, @Shibabrat, and @dawbarton,

I have made all the changes I deemed necessary. I reread the paper and made the final corrections. In this manner, I have only two remarks:
 - I've added the explicit mention of what the kernel-based estimations is: The [Nadaraya–Watson kernel regression](https://en.wikipedia.org/wiki/Kernel_regression), and the two relevant references there from Nadaraya

[2019-12-04 11:12] MaaniBeigy commented on #1863
Hello everybody,
The current state is fulfilling.
Congratulations, @JonasMoss :+1:
Best wishes,
Maani

[2019-12-04 11:27] dvalters commented on #1933
I'm happy to review this

[2019-12-04 12:03] danielskatz commented on #1928
👋 @krother & @martindurant - would you be willing to review this submission for JOSS?  (See https://joss.readthedocs.io/en/latest/reviewer_guidelines.html for what reviewing for JOSS)

[2019-12-04 14:10] martindurant commented on #1928
The authors of Pooch ought to know about Intake ( https://github.com/fatiando/rockhound/issues/43 ), and indeed the ability of Pooch to be hooked into other systems is an important point. Will try to find time for a proper review, but don't want to commit.

[2019-12-04 14:15] terrytangyuan commented on #1799
@whedon check references

[2019-12-04 14:15] whedon commented on #1799
[code]

[2019-12-04 14:16] whedon commented on #1799
[code]

[2019-12-04 14:17] terrytangyuan commented on #1799
@pssachdeva Could you fix the missing DOIs mentioned above?

[2019-12-04 14:18] terrytangyuan commented on #1903
👋 @nhejazi Would you be able to review this soon?

[2019-12-04 14:20] arfon commented on #1863
Excellent, thanks for confirming @MaaniBeigy & @vbaliga.

@JonasMoss - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the

[2019-12-04 14:29] puolival commented on #1799
@pssachdeva About the algorithm: I was thinking about providing a more detailed explanation of the algorithm's main steps for the less mathematically inclined reader, geared towards providing a conceptual understanding.

@pssachdeva @terrytangyuan I have no further comments to the manuscript or the software. I think the last point above can be satisfactorily addressed with minor changes, and doesn

[2019-12-04 14:46] JonasMoss commented on #1863
@arfon Great!

DOI: 10.5281/zenodo.3562385
The archive is https://zenodo.org/record/3562385

[2019-12-04 14:49] whedon opened #1934 "[PRE REVIEW]: Enhanced software and platform for the Town Energy Balance (TEB) model"
**Submitting author:** @dmey (<a href="http://orcid.org/0000-0002-7071-7547">D. Meyer</a>)
**Repository:** <a href="https://github.com/teb-model/teb" target ="_blank">https://github.com/teb-model/teb</a>
**Version:** 4.0.0
**Editor:** @mjsottile
**Reviewers:** @rasmussn, @ethan-nelson

**Author instructions**

Thanks for submitting your paper to JOSS @dmey. **Currently, there isn't an JOSS editor

[2019-12-04 14:49] whedon commented on #1934
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-04 14:49] whedon commented on #1934
[code]

[2019-12-04 14:49] whedon commented on #1934
[code]

[2019-12-04 14:49] whedon commented on #1934
PDF failed to compile for issue #1934 with the following error:

 Can't find any papers to compile :-(

[2019-12-04 14:50] danielskatz commented on #1934
@whedon generate pdf from joss-paper

[2019-12-04 14:50] whedon commented on #1934
[code]

[2019-12-04 14:50] kthyng commented on #1768
@TrashBirdEcology You're not being difficult at all! I see at your archive link now that your title and author list is consistent with your JOSS submission. I wanted to check that since it isn't always true.

[2019-12-04 14:50] whedon commented on #1934
PDF failed to compile for issue #1934 with the following error:

 Can't find any papers to compile :-(

[2019-12-04 14:50] danielskatz commented on #1934
@whedon generate pdf from branch joss-paper

[2019-12-04 14:50] whedon commented on #1934
[code]

[2019-12-04 14:50] whedon commented on #1934
PDF failed to compile for issue #1934 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-df8b50fe58b8/lib/whedon/author.rb:56:in `build_affiliation_string': undefined method `split' for [1, 2]:Array (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-df8b50fe58b8/lib/whedon/author.rb:17:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/

[2019-12-04 14:50] kthyng commented on #1768
@whedon accept

[2019-12-04 14:51] whedon commented on #1768
[code]

[2019-12-04 14:51] whedon commented on #1768
[code]

[2019-12-04 14:51] whedon commented on #1768
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1152

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1152, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-04 14:53] dmey commented on #1934
@danielskatz I think this may be due to the 2 affiliations (see https://github.com/teb-model/teb/blame/joss-paper/paper/paper.md#L15).

[2019-12-04 14:53] danielskatz commented on #1934
👋 @dmey - the multiple affiliations line needs to be of the form
affiliation: "1, 2"
with quote marks, not square brackets

Once you've made this change, you can enter a new comment in this thread with ```@whedon generate pdf from branch joss-paper``` to try again.  Feel free to iterate until things look right.

[2019-12-04 14:54] dmey commented on #1934
@whedon generate pdf from branch joss-paper

[2019-12-04 14:55] whedon commented on #1934
[code]

[2019-12-04 14:55] whedon commented on #1934
PDF failed to compile for issue #1934 with the following error:

 Error reading bibliography ./paper.bib (line 323, column 1):
unexpected "@"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-12-04 14:57] dmey commented on #1934
@whedon generate pdf from branch joss-paper

[2019-12-04 14:57] whedon commented on #1934
[code]

[2019-12-04 14:58] whedon commented on #1934
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01934/joss.01934/10.21105.joss.01934.pdf)

[2019-12-04 15:00] dmey commented on #1934
@danielskatz many thanks -- still a few issues with the typesetting -- will try to fix this momentarily.

[2019-12-04 15:03] whedon commented on #1934
[code]

[2019-12-04 15:04] majensen commented on #1796
Hey @briatte, sorry, we need you to check off the rest of the boxes on your review - thanks

[2019-12-04 15:12] dmey commented on #1934
@whedon generate pdf from branch joss-paper

[2019-12-04 15:12] whedon commented on #1934
[code]

[2019-12-04 15:13] whedon commented on #1934
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01934/joss.01934/10.21105.joss.01934.pdf)

[2019-12-04 15:16] dmey commented on #1934
@danielskatz I have fixed the references but there is still an issue with the typesetting of footnotes. It looks like table footnotes are made part of the table itself and not of the page footer.  Have you experienced a similar issue before?

[2019-12-04 15:24] kthyng commented on #1768
@whedon accept deposit=true

[2019-12-04 15:24] whedon commented on #1768
[code]

[2019-12-04 15:25] whedon commented on #1768
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1202247629582872577) 👈 🐦🐦🐦

[2019-12-04 15:25] whedon commented on #1768
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1153
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01768](https://doi.org/10.21105/joss.01768)
2. If everything looks g

[2019-12-04 15:27] TrashBirdEcology commented on #1768
Ahh yes I see you referred to the title and authorship discrepancies. Apologies!!

Sent from my iPhone

[2019-12-04 15:30] kthyng commented on #1768
Congratulations on your new paper @TrashBirdEcology!!! Many thanks to reviewers @ethanwhite and @jsta for your time and expertise.

[2019-12-04 15:30] #1768 closed

[2019-12-04 15:30] whedon commented on #1768
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01768/status.svg)](https://doi.org/10.21105/joss.01768)

**We need your help!**

Journal of Open Source Softwa

[2019-12-04 15:32] TrashBirdEcology commented on #1768
thank you for handling @kthyng

[2019-12-04 15:33] arfon commented on #1863
@whedon set 10.5281/zenodo.3562385 as archive

[2019-12-04 15:33] whedon commented on #1863
OK. <a href="https://doi.org/10.5281/zenodo.3562385" target="_blank">10.5281/zenodo.3562385</a> is the archive.

[2019-12-04 15:33] arfon commented on #1863
@whedon accept

[2019-12-04 15:33] whedon commented on #1863
[code]

[2019-12-04 15:33] kthyng commented on #1933
Thanks @dvalters!

@nicgaspar (or others who have been mentioned): are you interested in reviewing this submission for JOSS? We ask for reviews within about 3 weeks if possible and you can learn more about review guidelines here: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-12-04 15:34] whedon commented on #1863
[code]

[2019-12-04 15:34] kthyng commented on #1933
@whedon assign @dvalters as reviewer

[2019-12-04 15:34] whedon commented on #1933
OK, the reviewer is @dvalters

[2019-12-04 15:34] whedon commented on #1863
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1154

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1154, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-04 15:38] arfon commented on #1863
@whedon accept deposit=true

[2019-12-04 15:38] whedon commented on #1863
[code]

[2019-12-04 15:38] kthyng commented on #1693
@LRydin I think it makes sense to provide the most up to date information available when we're ready to finalize everything in your submission. Alternatively, if you prefer, we can wait for the full reference info on that paper and pause this in the meantime.

[2019-12-04 15:38] kthyng commented on #1693
@dawbarton Can you make a final check on this submission? I see a few boxes unchecked above.

[2019-12-04 15:38] whedon commented on #1863
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1202250954504130560) 👈 🐦🐦🐦

[2019-12-04 15:39] whedon commented on #1863
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1155
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01863](https://doi.org/10.21105/joss.01863)
2. If everything looks g

[2019-12-04 15:43] LRydin commented on #1693
Dear @kthyng, I have reached out to the publisher to see if they already attributed an issue, but I have to wait for the publication procedure to advance a bit more. With luck next week there will be some more details, and then I could change the details in the JOSS paper. Else, I'd say, next week we finalise this, if all the boxes are ticked.

Best regards,
Leonardo Rydin
@fmeirinhos

[2019-12-04 15:43] arfon commented on #1863
@MaaniBeigy, @vbaliga - many thank for your reviews here ✨

@JonasMoss - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-12-04 15:43] #1863 closed

[2019-12-04 15:43] whedon commented on #1863
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01863/status.svg)](https://doi.org/10.21105/joss.01863)

**We need your help!**

Journal of Open Source Softwa

[2019-12-04 15:44] danielskatz commented on #1934
@arfon - Any thoughts?

[2019-12-04 15:46] nicgaspar commented on #1933
Hi! I can do this, but I'm kind of drowning right now. Realistic for me would be a Jan 1 deadline.

[2019-12-04 15:47] arfon commented on #1934
No idea sorry. I think this is probably pushing the limit of the Markdown/Pandoc template sorry. I'd recommend trying to find a different way to accomplish this.

[2019-12-04 15:50] dmey commented on #1934
@whedon generate pdf from branch joss-paper

[2019-12-04 15:51] whedon commented on #1934
[code]

[2019-12-04 15:51] whedon commented on #1934
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01934/joss.01934/10.21105.joss.01934.pdf)

[2019-12-04 15:53] dmey commented on #1934
@arfon  @danielskatz  Thanks and not problems -- I removed the footnote and used a start (*) instead this with clarification in the caption. LGTM now but please let me know for any issues.

[2019-12-04 16:00] pqrs6 commented on #1889
@gioacchinowang I think it would be good to rename the COPYING file, just to conform with standards.

Thanks!

[2019-12-04 16:38] khdusenbury commented on #1915
My apologies for being slow at getting the reviewer comments, but thank you all for the reviews and being so fast with getting to this!

I've started working on the issues @afrubin and @bede raised and hope to have their changes incorporated soon.

[2019-12-04 17:55] danielskatz commented on #1934
👋 @mjsottile - would you be willing to edit this submission? It's a bit out of your area, but the .F90 part makes you a potentially good option.

[2019-12-04 17:57] danielskatz commented on #1928
👋 @jsignell - would you be willing to review this submission for JOSS? (See https://joss.readthedocs.io/en/latest/reviewer_guidelines.html for what reviewing for JOSS)

[2019-12-04 17:59] csoneson commented on #1916
Thanks @Sulstice. I will take care of your submission, and start by finding suitable reviewers. If you have suggestions (e.g., from the list linked in the first post above), please let me know.

[2019-12-04 18:06] kthyng commented on #1933
@nicgaspar If you're willing, that would be ok from my end. I will proceed with you as the second reviewer.

[2019-12-04 18:06] kthyng commented on #1933
@whedon add @nicgaspar as reviewer

[2019-12-04 18:07] whedon commented on #1933
OK, @nicgaspar is now a reviewer

[2019-12-04 18:07] kthyng commented on #1933
@whedon start review

[2019-12-04 18:07] whedon opened #1935 "[REVIEW]: GroundwaterDupuitPercolator: A Landlab component for groundwater flow"
**Submitting author:** @davidlitwin (<a href="http://orcid.org/0000-0002-8097-4029">David Litwin</a>)
**Repository:** <a href="https://github.com/landlab/landlab" target ="_blank">https://github.com/landlab/landlab</a>
**Version:** v2.0.0b5
**Editor:** @kthyng
**Reviewers:** @dvalters, @rreinecke
**Archive:** <a href="https://doi.org/10.5281/zenodo.3660698" target="_blank">10.5281/zenodo.3660698</

[2019-12-04 18:07] whedon commented on #1933
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1935. Feel free to close this issue now!

[2019-12-04 18:07] whedon commented on #1935
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dvalters, @nicgaspar it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-12-04 18:07] whedon commented on #1935
[code]

[2019-12-04 18:07] whedon commented on #1935
[code]

[2019-12-04 18:07] whedon commented on #1935
[code]

[2019-12-04 18:08] whedon commented on #1935
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01935/joss.01935/10.21105.joss.01935.pdf)

[2019-12-04 18:08] kthyng commented on #1933
@dvalters and @nicgaspar the review itself will take place in the review issue. I'll check back in in a week or two to see how it's going. Thanks!

[2019-12-04 18:08] #1933 closed

[2019-12-04 18:33] KayleighRutherford commented on #1774
my comments are in issue #45 in the repo (sorry just realised I was supposed to create a new one..)

[2019-12-04 18:58] pssachdeva commented on #1799
@whendon generate pdf

[2019-12-04 18:59] pssachdeva commented on #1799
@whedon generate pdf

[2019-12-04 18:59] whedon commented on #1799
[code]

[2019-12-04 19:00] whedon commented on #1799
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01799/joss.01799/10.21105.joss.01799.pdf)

[2019-12-04 19:01] pssachdeva commented on #1799
@whedon check references

[2019-12-04 19:01] whedon commented on #1799
[code]

[2019-12-04 19:01] nhejazi commented on #1903
Sure @terrytangyuan, I'll complete this review by the end of this week (will be ready prior to Monday, 09 December).

[2019-12-04 19:02] whedon commented on #1799
[code]

[2019-12-04 19:11] terrytangyuan commented on #1799
Thanks everyone!

@pssachdeva  At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:
* The title of the archive is the same as the JOSS paper tit

[2019-12-04 21:24] munkm commented on #1774
@lpantano @KayleighRutherford and @harpolea -- thank you all for the reviews (and helping shepherd the paper). I've opened some PRs hopefully addressing the reviewer comments in the repository (data-exp-lab/widgyts#46 and data-exp-lab/widgyts#47). After they get reviewed and merged, I think things should be good!

[2019-12-04 21:27] rreinecke commented on #1933
@kthyng Is that a new review process? Just woke up to 15 emails without then even the chance to respond. I would have been interested to review as well - but if this is the new way Joss is assigning reviewers ... Could you explain this new process? Till a week ago the handling editor used to choose the reviewers - and only when they declined somebody else was asked (again by the editor not the per

[2019-12-04 21:41] kthyng commented on #1933
@rreinecke No, not new. The submitting author listed possible reviewers, as is always requested in the first comment in a pre-review issue and I as the handling editor additionally requested this list. The submitter author mentioned them specifically through github so people were aware of the suggestion before I subsequently wrote to them, and one volunteered from that list of mentions. I then spe

[2019-12-04 22:22] pssachdeva commented on #1799
@whedon generate pdf

[2019-12-04 22:22] whedon commented on #1799
[code]

[2019-12-04 22:22] whedon commented on #1799
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01799/joss.01799/10.21105.joss.01799.pdf)

[2019-12-04 22:22] dhhagan commented on #1918
Hi @simonom - do you know if the newer versions of SUNDIALS will work? The current version is 5.0, but some of the dependencies list only v2.x - there are also dependency issues associated with python version as well that could possibly cause issues?

[2019-12-04 22:40] pssachdeva commented on #1799
@terrytangyuan

Here is the DOI for the package, which we uploaded on Zenodo: 10.5281/zenodo.3563147

[2019-12-04 22:45] pssachdeva commented on #1799
Edited the above to the "all versions" DOI.

[2019-12-05 00:10] rreinecke commented on #1933
@kthyng Thank you for your thorough explanation. However, you have to be aware that this way I'm getting unnecessary spam for a review I'm not even involved in. If I'm not going to review, or to be more precise given the chance to accept or decline that review, I don't want to be mentioned at all. Or am I missing something here?

[2019-12-05 00:18] Sulstice commented on #1916
@csoneson I looked through the list

Username: mskwark, road2stat, semacu seem most reasonable since they are in the peptide/cheminformatics space.

[2019-12-05 00:47] danielskatz commented on #1799
JOSS wants the DOI associated with the specific version that is being discussed in this paper, not the “concept” or “all versions” DOI

[2019-12-05 00:50] pssachdeva commented on #1799
@terrytangyuan @danielskatz OK, here's the DOI for the version discussed in the paper: 10.5281/zenodo.3563147

[2019-12-05 02:12] Sulstice commented on #1916
Should I be doing a release of the software so y'all can pip install it? Or should I wait pending on whether you approve or not?

[2019-12-05 05:07] mjsottile commented on #1934
I can, but can't start the process until next week: end of semester + travel = no time for the next 7 days or so.

[2019-12-05 05:33] danielskatz commented on #1934
That's fine - thanks.

[2019-12-05 05:33] danielskatz commented on #1934
@whedon assign @mjsottile as editor

[2019-12-05 05:33] whedon commented on #1934
OK, the editor is @mjsottile

[2019-12-05 05:42] danielskatz commented on #1930
👋 @kbarnhart - would you be willing to edit this submission?

[2019-12-05 05:42] danielskatz commented on #1901
👋 @kbarnhart - would you be willing to edit this submission?

[2019-12-05 06:28] kbarnhart commented on #1930
Yes. I can do it

[2019-12-05 06:29] kbarnhart commented on #1930
@whedon assign @kbarnhart  as editor

[2019-12-05 06:29] whedon commented on #1930
OK, the editor is @kbarnhart

[2019-12-05 06:29] kbarnhart commented on #1901
Yup. I can do it.

[2019-12-05 06:29] kbarnhart commented on #1901
@whedon assign @kbarnhart  as editor

[2019-12-05 06:30] whedon commented on #1901
OK, the editor is @kbarnhart

[2019-12-05 06:47] gioacchinowang commented on #1889
@pqrs6 Sure, done, and I've integrated the jupyter notebook tests (with pytest and nbval plugin) into the bitbucket pipeline as Andrea suggested, now at least everything is fine in the docker image, and the issue #1 is solved, #6 is due to my fault by using absolute file path instead of the relative one, already fixed that.

[2019-12-05 07:04] gioacchinowang commented on #1889
@pqrs6 btw, we have a wiki page for the python wrapper, https://bitbucket.org/hammurabicode/hamx/wiki/wrapper/hampyx.md

[2019-12-05 07:18] zonca commented on #1889
ok, software and docs are fine, now sent feedback on paper, we are almost done.

[2019-12-05 08:27] zonca commented on #1889
@gioacchinowang well done,
@dfm paper accepted

[2019-12-05 08:29] gioacchinowang commented on #1889
@dfm @zonca @pqrs6 Thank you all for reviewing and suggestions, learned a lot through this process :)

[2019-12-05 09:08] YoungFaithful commented on #1892
@katyhuff thanks for being the editor. What are the next steps that I can do?

[2019-12-05 09:10] trallard commented on #1870
Hey @0todd0000  I will start with my final editor duties. In the meantime, can you please complete the following actions?

- Final review of the paper for typos, author affiliations and missing DOIs
- Create a final release of the package and archive (i.e. Zenodo, Figshare)
- Indicate the final version of the package here
- Share the newly generated DOI here

[2019-12-05 09:10] trallard commented on #1870
@whedon generate pdf

[2019-12-05 09:10] whedon commented on #1870
[code]

[2019-12-05 09:10] trallard commented on #1870
@whedon check references

[2019-12-05 09:10] whedon commented on #1870
[code]

[2019-12-05 09:11] whedon commented on #1870
[code]

[2019-12-05 09:11] whedon commented on #1870
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01870/joss.01870/10.21105.joss.01870.pdf)

[2019-12-05 09:12] trallard commented on #1917
@whedon remind @alexanderfurnas in 1 week

[2019-12-05 09:12] whedon commented on #1917
Reminder set for @alexanderfurnas in 1 week

[2019-12-05 09:12] trallard commented on #1917
@whedon remind @trallard in 1 week

[2019-12-05 09:12] whedon commented on #1917
Reminder set for @trallard in 1 week

[2019-12-05 09:19] trallard commented on #1917
@AustinNar I have created a couple of issues on the repo that will need to be dealt with for the review to move forward

[2019-12-05 09:42] danielskatz commented on #1740
I'm going to mark this as paused for now

[2019-12-05 09:43] danielskatz commented on #1701
👋 this is just a ping to see how this review is going

[2019-12-05 09:45] danielskatz commented on #1441
👋 @vijaysm - just noting that it's now a couple of weeks after Nov 18

[2019-12-05 09:47] danielskatz commented on #1411
👋 @lpantano - just checking in on this review, where I can't quite tell what's blocking progress...

[2019-12-05 09:48] danielskatz commented on #1761
Hi - sorry, this doesn't seem to have been acted on by the AEiC on duty at the time, so I will do it now.

[2019-12-05 09:48] danielskatz commented on #1761
@whedon generate pdf

[2019-12-05 09:48] whedon commented on #1761
[code]

[2019-12-05 09:49] whedon commented on #1761
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01761/joss.01761/10.21105.joss.01761.pdf)

[2019-12-05 09:56] danielskatz commented on #1761
👋 @gmweaver - There are a few small issues with the paper, as indicated in https://github.com/USCbiostats/xrnet/pull/32.  Please merge this, or let me know which changes you disagree with.

[2019-12-05 09:58] danielskatz commented on #1655
👋 @poulson - just checking in on the status of this submission...

[2019-12-05 10:00] danielskatz commented on #1825
👋 @wingtorres - Have you made progress on this?

[2019-12-05 10:01] danielskatz commented on #1682
👋 @zhuyouliang — Could we have a status update of your work on responding to reviewer comments?

[2019-12-05 10:03] danielskatz commented on #1371
👋 @poulson - it looks like this is waiting for you

[2019-12-05 10:04] danielskatz commented on #1262
👋 @r-barnes - note that this submission is waiting on your check

[2019-12-05 10:06] danielskatz commented on #1875
👋 @Kevin-Mattheus-Moerman - it looks like this submission needs another reviewer?

[2019-12-05 10:07] danielskatz commented on #1867
👋 @Kevin-Mattheus-Moerman - How is this review going?

[2019-12-05 10:08] paulvangentcom commented on #1867
Thanks for the reminder. I'll wrap up the review tomorrow.

[2019-12-05 10:09] danielskatz commented on #1834
👋 @arfon - How is this review going?

[2019-12-05 10:10] danielskatz commented on #1830
👋 @ManuelaS - how is your review going?

[2019-12-05 10:14] aureliocarnero commented on #1881
@brittonsmith about improving the readability of the paper. I think it could be improve, for example, I suggest the following changes:

In the phrase:
1) In the early Universe, matter is very evenly distributed, with only small fluxuations
about the average density.
Change to
In the early Universe, matter is distributed homogeneously, with only small fluctuations
about the average density.

2) Hal

[2019-12-05 10:21] dirmeier commented on #1785
For some reason, I didn't receive notifications on this thread, sorry. I will do the review over the weekend.

[2019-12-05 10:28] Kevin-Mattheus-Moerman commented on #1875
@danielskatz thanks for the reminder

[2019-12-05 10:29] Kevin-Mattheus-Moerman commented on #1875
@gkontoudis @cmavrogiannis @liarokapis would you be interested in reviewing this submission for [JOSS](https://joss.theoj.org) on prosthetic socket design?

[2019-12-05 10:36] danielskatz commented on #1865
👋 @melissawm - I'm just checking in on the progress of this review

[2019-12-05 10:38] danielskatz commented on #1584
👋 @mikkonie - it looks like this review is waiting on you...

[2019-12-05 10:42] danielskatz commented on #1904
👋 @arokem - I can't quite understand the status of this review - can you let me know where it is?

[2019-12-05 10:43] danielskatz commented on #1904
@whedon generate pdf

[2019-12-05 10:43] whedon commented on #1904
[code]

[2019-12-05 10:43] whedon commented on #1904
PDF failed to compile for issue #1904 with the following error:

 pandoc-citeproc: reference osolari not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.324 }

Looks like we failed to compile the PDF

[2019-12-05 10:46] danielskatz commented on #1904
👋 @arfon - something seems messed up here - the reference that pandoc mentions isn't in the paper, I don't think, but is one of the reviewers (?!)  And the reviewer info in the first comment in this issue seems to have an extra ```@``` - Any ideas?

[2019-12-05 10:49] danielskatz commented on #1843
👋 @jedbrown - just checking in on the status of this review...

[2019-12-05 10:52] danielskatz commented on #1797
👋 @gabersyd - How is this going?

31 October:

[2019-12-05 10:54] danielskatz commented on #1832
👋 @arfon - it looks like this is waiting for the ApJ paper's DOI, correct?  Assuming so, I'm going to mark it as paused for now.

[2019-12-05 11:11] dawbarton commented on #1693
@kthyng: boxes now checked! Looks good to me.

[2019-12-05 11:35] kbarnhart commented on #1890
Thanks to @csherwood-usgs @ncohn @edlazarus for your reviews.

@TomasBeuzen, please ping me here when you've finished addressing reviewer comments.

[2019-12-05 11:50] danielskatz commented on #1895
Hi @CostRagno - I've consulted with the JOSS editorial team and we've concluded that this submission is not in scope for JOSS as it falls into our 'minor utility' category.

For increased visibility, we would encourage you to consider contributing the code for polygon ordering upstream to the [geopandas](https://github.com/geopandas/geopandas) library.

Alternatively, the general usability of the

[2019-12-05 11:50] #1895 closed

[2019-12-05 12:01] kbarnhart commented on #1930
@ryanpmcg if you have recommendations for reviewers please tag them on this thread.

This here is a pre-review issue. Once I've attracted sufficient reviewers I'll open a dedicated review issue where check-boxes guide you through the review process.

Let me know if you have questions.

[2019-12-05 12:54] ryanpmcg commented on #1930
Thank you @kbarnhart, I am working on that, but I am new to the community and have not yet built up a network of potential reviewers on GitHub. Am I correct that they should have a GitHub account to be considered as a potential reviewer?

[2019-12-05 13:27] ryanpmcg commented on #1930
There are two post-docs who have now used WEPPCLIFF, and I can ask them to join and review. Otherwise, I saw two persons in the list of people who agreed to be reviewers for the journal (one with climate background and one with soil background).

[2019-12-05 13:50] steven-murray commented on #1834
Currently the author is working on closing the issues that we have made in his repo -- most of them have now been addressed.

[2019-12-05 13:51] dalonsoa commented on #1865
I'm waiting for some changes to be made in this PR https://github.com/NREL/bifacial_radiance/pull/199 before I can tick all the remaining boxes in the review. It seems that the PR is not passing all checks for now, so no sure what is the status of the review.

[2019-12-05 14:14] terrytangyuan commented on #1799
@whedon set 10.5281/zenodo.3563147 as version

[2019-12-05 14:14] whedon commented on #1799
OK. 10.5281/zenodo.3563147 is the version.

[2019-12-05 14:15] terrytangyuan commented on #1799
@whedon set 1.0.0 as version

[2019-12-05 14:15] whedon commented on #1799
OK. 1.0.0 is the version.

[2019-12-05 14:16] terrytangyuan commented on #1799
@whedon set 10.5281/zenodo.3563147 as archive

[2019-12-05 14:16] whedon commented on #1799
OK. <a href="https://doi.org/10.5281/zenodo.3563147" target="_blank">10.5281/zenodo.3563147</a> is the archive.

[2019-12-05 14:16] terrytangyuan commented on #1799
@whedon accept

[2019-12-05 14:16] whedon commented on #1799
[code]

[2019-12-05 14:17] whedon commented on #1799
[code]

[2019-12-05 14:17] whedon commented on #1799
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1156

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1156, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-05 14:18] terrytangyuan commented on #1799
@danielskatz The paper looks good to me now. Could you take it from here?

[2019-12-05 14:22] kthyng commented on #1933
@rreinecke We don't have control over whether people are mentioned by submitters in reviews the way we are doing things, but we are always open to feedback on our process. Do you have any specific suggestions for improvements?

[2019-12-05 14:30] jedbrown commented on #1843
@ProbShin @HaoZeke :wave: How is your review going? Is there anything we can do to assist?

[2019-12-05 14:31] danielskatz commented on #1799
Yes, but in the future, please mention @openjournals/jose-eics in such requests

[2019-12-05 14:42] danielskatz commented on #1799
@pssachdeva - please merge https://github.com/BouchardLab/pyuoi/pull/193 and check to make sure all the cases are correct in the references.

[2019-12-05 14:59] lskatz commented on #1762
Hi @csoneson , the coauthors and I have looked over the latest version and approve of it for publication.  Thank you so much for getting us this far.  What are our next steps?

[2019-12-05 15:38] rreinecke commented on #1933
@kthyng of course you do. At least a little bit: 1) Only ask for 2 suggestions for possible reviewers and only ask for more if they decline or do not answer in a given time frame. Or 2) as many of the other editors are doing it just recommend two reviewers yourself. Yes everything will be slowed down a little bit but you at least reduce the possibility to get mail on submissions one is not even co

[2019-12-05 15:44] kthyng commented on #1933
Thank you @rreinecke I will share this with the editorial board.

[2019-12-05 15:44] danielskatz commented on #1933
@rreinecke - one thing we should make clear in our documentation and instructions from editor is for the author to suggest reviewers without the @ so that there are no notifications that start at this point.  I'll open an issue and also work on a PR to try to address this.

[2019-12-05 15:56] rreinecke commented on #1933
Thank you for hearing my concerns @kthyng and @danielskatz ! Keep up the great work for this unique journal!

[2019-12-05 15:56] dvalters commented on #1933
@rreinecke - you are welcome to review in my place if you are interested in the submission. I've done a fair few reviews this year for JOSS and would be happy to pass the opportunity on to someone else.

[2019-12-05 15:59] dfm commented on #1889
@whedon generate pdf

[2019-12-05 15:59] whedon commented on #1889
[code]

[2019-12-05 16:00] whedon commented on #1889
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01889/joss.01889/10.21105.joss.01889.pdf)

[2019-12-05 16:01] dfm commented on #1889
@whedon check references

[2019-12-05 16:01] whedon commented on #1889
[code]

[2019-12-05 16:01] whedon commented on #1889
[code]

[2019-12-05 16:13] dfm commented on #1889
@zonca @pqrs6: Thanks for your constructive reviews!

@gioacchinowang: Two minor comments on the paper:

- Please add the DOI for Boulanger et al: https://ui.adsabs.harvard.edu/abs/2018JCAP...08..049B/exportcitation
- "To extract information ~on~ from observations of the Galactic magnetic fields ~from observations~, Boulanger et al. (2018) proposed ~rigorous Bayesian analysis machinery~ a Bayesian

[2019-12-05 16:14] dmey commented on #1934
@mjsottile and @danielskatz many thanks for this -- In the meantime, I would like to suggest a few names [from the JOSS list of reviewers](https://bit.ly/joss-reviewers) that may be suitable for the review:

[code]

[2019-12-05 16:50] gioacchinowang commented on #1889
@dfm Thanks! Done.

[2019-12-05 16:50] rreinecke commented on #1933
@dvalters No worries. Same for me. I'd just wanted to point that out. I'm pretty swamped. But of course if somebody is not able to it at all I'm happy to step in.

[2019-12-05 16:54] shirubana commented on #1865
sorry! I'll do this today. I hadn't realized that. ugh.

[2019-12-05 16:58] simonom commented on #1918
It's a good question @dhhagan.  I'm looking into this now, whilst updating the installation instructions as you recommended.

[2019-12-05 16:59] gioacchinowang commented on #1889
@whedon generate pdf

[2019-12-05 16:59] whedon commented on #1889
[code]

[2019-12-05 17:00] whedon commented on #1889
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01889/joss.01889/10.21105.joss.01889.pdf)

[2019-12-05 17:05] brittonsmith commented on #1881
@aureliocarnero, thanks for your suggestions on the paper. I've implemented them all, including for Figure 1, in [this PR](https://github.com/ytree-project/ytree/pull/35). The wording in the Figure caption was a mistake; I had ancestor and descendents switched. It should make sense now. Anyway, please let me know if that looks ok.

[2019-12-05 17:11] arfon commented on #1904
@whedon generate pdf

[2019-12-05 17:11] whedon commented on #1904
[code]

[2019-12-05 17:11] whedon commented on #1904
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01904/joss.01904/10.21105.joss.01904.pdf)

[2019-12-05 17:12] mgymrek commented on #1742
Pinging @openjournals/joss-eics again it looks like this might have been missed.

[2019-12-05 17:13] danielskatz commented on #1742
@whedon generate pdf

[2019-12-05 17:13] whedon commented on #1742
[code]

[2019-12-05 17:14] arfon commented on #1904
Very weird. I'm not sure what's going on here. I've manually fixed up the review issue at the top. Also, the compilation error is related to the extra `@` which was then being fed into Pandoc (as we now include reviewer names in the compiled papers).

[2019-12-05 17:14] whedon commented on #1742
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01742/joss.01742/10.21105.joss.01742.pdf)

[2019-12-05 17:17] danielskatz commented on #1742
please merge https://github.com/PhanstielLab/bedtoolsr/pull/4

[2019-12-05 17:20] danielskatz commented on #1742
also https://github.com/PhanstielLab/bedtoolsr/pull/5

[2019-12-05 17:21] danielskatz commented on #1904
Thanks @arfon

[2019-12-05 17:21] danielskatz commented on #1904
👋 @arokem - this is now ready for you to start the review process

[2019-12-05 18:15] dphansti commented on #1742
@danielskatz Both have been merged.  Thanks.

[2019-12-05 18:38] pssachdeva commented on #1799
OK, just merged.

[2019-12-05 18:38] pssachdeva commented on #1799
@whedon generate pdf

[2019-12-05 18:38] whedon commented on #1799
[code]

[2019-12-05 18:38] whedon commented on #1799
PDF failed to compile for issue #1799 with the following error:

 Error reading bibliography ./paper.bib (line 11, column 19):
unexpected "2"
expecting white space, "#", "," or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-12-05 19:12] rouson commented on #1555
@labarba I love that and fully support everything you wrote.  JOSS is a breath of fresh air!

[2019-12-05 19:17] pssachdeva commented on #1799
@whedon generate pdf

[2019-12-05 19:17] whedon commented on #1799
[code]

[2019-12-05 19:17] whedon commented on #1799
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01799/joss.01799/10.21105.joss.01799.pdf)

[2019-12-05 19:19] kbarnhart commented on #1930
@ryanpmcg I think that its most important that the reviewers are well suited to reviewing the software.

If there are people who you think would be good, but who are not yet on GitHub, I can reach out to them via email, see if they are interested in reviewing, and if they are willing, they would make a GitHub account in order to submit the review.

[2019-12-05 19:19] pssachdeva commented on #1799
@danielskatz The casing in the references looks good now.

[2019-12-05 19:23] gmweaver commented on #1761
@danielskatz reviewed the changes in your pull request and everything looks good! Merged pull request and created a new release with changes.

New version is v0.1.3 and Zenodo DOI is 10.5281/zenodo.3564788

[2019-12-05 19:38] lpantano commented on #1411
Hi @danielskatz , the reviewer is finishing the last round.Thanks.

[2019-12-05 20:36] shirubana commented on #1865
@dalonsoa @danielskatz  I have addressed all of issues and the PR comments now as well.

[2019-12-05 22:29] kbarnhart commented on #1890
@edlazarus can you assess the license file and either check that box or request a change?

[2019-12-05 22:41] hagberg commented on #1731
Looks good.  Issues are closed.

[2019-12-05 23:36] arfon commented on #1800
I just emailed @elektrobohemian to ask them to give us an update on their review.

[2019-12-06 00:35] petebachant commented on #1885
I noticed a small error in one of the sample cases, but was able to confirm the functionality of the software with a different one. This submission is acceptable to me.

[2019-12-06 03:02] joelmiller commented on #1731
@whedon generate pdf

[2019-12-06 03:02] whedon commented on #1731
[code]

[2019-12-06 03:03] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-12-06 03:29] majensen commented on #1858
@andrewfowlie - would you be willing to review this paper for [JOSS](https://joss.theoj.org)? I appreciated your consideration!

[2019-12-06 03:35] majensen commented on #1858
@Chilipp, @alexpghayes - would either of you be able to review this paper for [JOSS](https://joss.theoj.org)? Please let me know on this thread -- thanks in advance!

[2019-12-06 03:38] alexpghayes commented on #1858
I don't think I have the expertise necessary to review this package.

[2019-12-06 03:43] majensen commented on #1919
Hey @pythonpanda2, would you be willing to review this submission for [JOSS](https://joss.theoj.org)? Please let us know in this thread. Thanks for the consideration!

[2019-12-06 03:45] majensen commented on #1858
@alexpghayes - no problem, thanks for the quick response

[2019-12-06 03:51] vijaysm commented on #1441
I should be able to finish the review by Sunday. Thanks for the reminder. @danielskatz

[2019-12-06 04:05] pythonpanda2 commented on #1919
Hey @majensen ,

Thanks for reaching out to me . I will be happy to do the review.

[2019-12-06 04:18] lpantano commented on #1731
I will need to ask about this, not sure this is possible.

[2019-12-06 04:34] andrewfowlie commented on #1858
In general I'm very willing to review submissions to joss, but it's not my area of expertise either, so I cannot review it. I don't think I know anyone suitable so cannot offer an alternative either.

[2019-12-06 04:57] danielskatz commented on #1731
I’m fairly sure the answer is no

[2019-12-06 05:04] danielskatz commented on #1742
@whedon generate pdf

[2019-12-06 05:04] whedon commented on #1742
[code]

[2019-12-06 05:05] whedon commented on #1742
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01742/joss.01742/10.21105.joss.01742.pdf)

[2019-12-06 05:07] danielskatz commented on #1742
@whedon accept

[2019-12-06 05:07] whedon commented on #1742
[code]

[2019-12-06 05:07] whedon commented on #1742
[code]

[2019-12-06 05:08] whedon commented on #1742
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1157

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1157, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-06 05:08] joelmiller commented on #1731
@whedon generate pdf

[2019-12-06 05:08] whedon commented on #1731
[code]

[2019-12-06 05:08] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-12-06 05:09] danielskatz commented on #1742
@whedon accept deposit=true

[2019-12-06 05:09] whedon commented on #1742
[code]

[2019-12-06 05:09] whedon commented on #1742
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1202817422375436289) 👈 🐦🐦🐦

[2019-12-06 05:09] whedon commented on #1742
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1158
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01742](https://doi.org/10.21105/joss.01742)
2. If everything looks g

[2019-12-06 05:11] joelmiller commented on #1731
@lpantano @danielskatz

Okay - I've removed the animation from the paper.md file.  Should be good to go now.

[2019-12-06 05:15] danielskatz commented on #1742
Thanks to @nhejazi & @mikmaksi for reviewing, and @mgymrek for editing!
And congratulations to @dphansti and co-authors!

[2019-12-06 05:15] #1742 closed

[2019-12-06 05:15] whedon commented on #1742
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01742/status.svg)](https://doi.org/10.21105/joss.01742)

**We need your help!**

Journal of Open Source Softwa

[2019-12-06 05:17] danielskatz commented on #1799
@whedon accept

[2019-12-06 05:17] whedon commented on #1799
[code]

[2019-12-06 05:17] whedon commented on #1799
[code]

[2019-12-06 05:17] whedon commented on #1799
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1159

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1159, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-06 05:18] danielskatz commented on #1761
@whedon set v0.1.3 as version

[2019-12-06 05:18] whedon commented on #1761
OK. v0.1.3 is the version.

[2019-12-06 05:18] danielskatz commented on #1761
@whedon set 10.5281/zenodo.3564788 as archive

[2019-12-06 05:18] whedon commented on #1761
OK. <a href="https://doi.org/10.5281/zenodo.3564788" target="_blank">10.5281/zenodo.3564788</a> is the archive.

[2019-12-06 05:19] danielskatz commented on #1761
@whedon accept

[2019-12-06 05:19] whedon commented on #1761
[code]

[2019-12-06 05:19] whedon commented on #1761
[code]

[2019-12-06 05:19] whedon commented on #1761
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1160

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1160, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-06 05:21] danielskatz commented on #1799
👋 @arfon - please see the XML, ref 7, for the same issue we saw before with the URL
Please let me know how to proceed

[2019-12-06 05:24] danielskatz commented on #1761
@whedon accept deposit=true

[2019-12-06 05:24] whedon commented on #1761
[code]

[2019-12-06 05:25] whedon commented on #1761
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1202821251540115456) 👈 🐦🐦🐦

[2019-12-06 05:25] whedon commented on #1761
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1161
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01761](https://doi.org/10.21105/joss.01761)
2. If everything looks g

[2019-12-06 05:27] danielskatz commented on #1761
Thanks to @juanvillada, @jsgalan for reviewing, and @mgymrek for editing!
And congratulations to @gmweaver and co-author!

[2019-12-06 05:27] #1761 closed

[2019-12-06 05:27] whedon commented on #1761
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01761/status.svg)](https://doi.org/10.21105/joss.01761)

**We need your help!**

Journal of Open Source Softwa

[2019-12-06 05:27] danielskatz commented on #1761
and sorry for the delay in processing this...

[2019-12-06 05:30] danielskatz commented on #1932
Hi @myaseen208 - I've consulted with the JOSS editorial team and we've concluded that this submission is not in scope for JOSS as it falls into our 'minor utility' category.

Thanks again for your interest in JOSS.

[2019-12-06 05:30] #1932 closed

[2019-12-06 05:32] whedon opened #1936 "[PRE REVIEW]: EspressoDB: A scientific database for managing high-performance computing workflows"
**Submitting author:** @ckoerber (<a href="http://orcid.org/0000-0002-9271-8022">Christopher Körber</a>)
**Repository:** <a href="https://github.com/callat-qcd/espressodb" target ="_blank">https://github.com/callat-qcd/espressodb</a>
**Version:** v1.0.0
**Editor:** @gkthiruvathukal
**Reviewers:** @remram44, @ixjlyons

**Author instructions**

Thanks for submitting your paper to JOSS @ckoerber. **C

[2019-12-06 05:32] whedon commented on #1936
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-06 05:32] whedon commented on #1936
[code]

[2019-12-06 05:32] whedon commented on #1936
[code]

[2019-12-06 05:33] whedon commented on #1936
[code]

[2019-12-06 05:33] whedon commented on #1936
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01936/joss.01936/10.21105.joss.01936.pdf)

[2019-12-06 05:34] danielskatz commented on #1936
👋 @gkthiruvathukal - would you be willing to edit this submission?

[2019-12-06 05:35] whedon opened #1937 "[PRE REVIEW]: ggalluvial: Layered Grammar for Alluvial Plots"
**Submitting author:** @corybrunson (<a href="http://orcid.org/0000-0003-3126-9494">Jason Cory Brunson</a>)
**Repository:** <a href="https://github.com/corybrunson/ggalluvial" target ="_blank">https://github.com/corybrunson/ggalluvial</a>
**Version:** v0.11.1
**Editor:** @akeshavan
**Reviewers:** @clauswilke, @njtierney

**Author instructions**

Thanks for submitting your paper to JOSS @corybrunso

[2019-12-06 05:35] whedon commented on #1937
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @akeshavan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in

[2019-12-06 05:35] whedon commented on #1937
[code]

[2019-12-06 05:35] whedon commented on #1937
[code]

[2019-12-06 05:35] whedon commented on #1937
Failed to discover a valid open source license.

[2019-12-06 05:36] whedon commented on #1937
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01937/joss.01937/10.21105.joss.01937.pdf)

[2019-12-06 05:36] whedon commented on #1937
[code]

[2019-12-06 05:36] danielskatz commented on #1937
👋 @akeshavan - sorry, I assigned this to you while starting the process without checking with you first. Are you willing to edit this submission?

[2019-12-06 05:39] danielskatz commented on #1937
👋 @corybrunson - this submission needs a license - please add a plain text LICENSE file with the OSI-approved license that you are using for the software (which I think is GPL-3).

[2019-12-06 05:40] danielskatz commented on #1937
Also, please check to see if the missing DOI whedon suggests is correct, and if so, add it to the .bib file. (Whedon suggestions are just suggestions, and sometimes they are wrong.)

[2019-12-06 05:40] whedon opened #1938 "[PRE REVIEW]: threshmodelsPackage: A Python package for a Peak-Over-Threshold modeling"
**Submitting author:** @iagolemos1 (<a href="http://orcid.org/0000-0002-5829-7711">Iago Lemos</a>)
**Repository:** <a href="https://github.com/iagolemos1/threshmodelsPackage" target ="_blank">https://github.com/iagolemos1/threshmodelsPackage</a>
**Version:** v0.0.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @iagolemos1. **Currently,

[2019-12-06 05:41] whedon commented on #1938
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-06 05:41] whedon commented on #1938
[code]

[2019-12-06 05:41] whedon commented on #1938
[code]

[2019-12-06 05:41] whedon commented on #1938
[code]

[2019-12-06 05:41] whedon commented on #1938
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01938/joss.01938/10.21105.joss.01938.pdf)

[2019-12-06 05:50] danielskatz commented on #1938
👋 @iagolemos1 - please see https://github.com/iagolemos1/threshmodelsPackage/pull/1 for grammar, spelling, etc. fixes

[2019-12-06 07:02] mjsottile commented on #1850
@ramiyaari it looks like the review checklists are complete.  I will look everything over in a few days when I return from travel and see what the next steps are.

[2019-12-06 07:32] danielskatz commented on #1845
@mado89 - Can you make some specific suggestions? (see my previous comment)

[2019-12-06 07:32] danielskatz commented on #1844
@marksantcroos - thanks

[2019-12-06 08:02] edlazarus commented on #1890
Done! Dunno how I missed that box. Apologies!

[2019-12-06 09:21] nhejazi commented on #1903
@mllg, the `mlr3` R package looks quite useful, well-tested, and well-documented (from a design perspective, our own `sl3` package https://github.com/tlverse/sl3/ seems to have tried to do something very similar, so it's good to see a more robust project on the same track). To echo @osorensen, the paper is also quite excellently written. You've made the job of reviewing this work very easy!

[2019-12-06 09:31] dalonsoa commented on #1865
I'll tick those things that have been solved... but the PR is still not passing 🤷‍♂ .

[2019-12-06 10:18] brittonsmith commented on #1881
@whedon generate pdf

[2019-12-06 10:18] whedon commented on #1881
[code]

[2019-12-06 10:19] whedon commented on #1881
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01881/joss.01881/10.21105.joss.01881.pdf)

[2019-12-06 10:23] kbarnhart commented on #1930
@ryanpmcg while we are working to find suitable reviewers, I wanted to follow up with an additional comment. Based on looking over the contents of the submission, I would consider adding instructions describing how a user might test that the software has been installed correctly and is working as expected.

Some more information about testing can be found in [this part of the JOSS docs](https://jo

[2019-12-06 11:05] dalonsoa commented on #1865
@shirubana Installing "Radiance" (the Step 0 dependency of bifacial_radiance) is a pain. That's absolutely not your fault and there's nothing you need to do there except, maybe, asking the "Radiance" team to improve the installation pipeline.

Other than an issue I've just opened with something more of a suggestion than a requirement (https://github.com/NREL/bifacial_radiance/issues/217), this is

[2019-12-06 11:16] corybrunson commented on #1937
@danielskatz thank you! I've added the missing DOI. To be sure, is it good practice to simply put the standard GPLv3 license text (file name `LICENSE`) in the root directory, assuming i don't intend any deviations from that standard?

[2019-12-06 11:17] corybrunson commented on #1937
@whedon generate pdf

[2019-12-06 11:17] whedon commented on #1937
[code]

[2019-12-06 11:17] danielskatz commented on #1938
@whedon generate pdf

[2019-12-06 11:17] whedon commented on #1938
[code]

[2019-12-06 11:18] whedon commented on #1938
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01938/joss.01938/10.21105.joss.01938.pdf)

[2019-12-06 11:18] whedon commented on #1937
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01937/joss.01937/10.21105.joss.01937.pdf)

[2019-12-06 11:18] johannes-titz commented on #1900
Just for your information: I had to submit a patch to CRAN because the behavior of the *class* function has changed in the development version of R. So version 0.1.1 of my package is out now. If you happen to work with the development version or run tests on it, version 0.1.0 will throw an error. In the current version of R (3.6.1) passt v.0.1.0 still works fine. But note that version 3.6.2 is alr

[2019-12-06 11:25] danielskatz commented on #1937
Yes, and if there are any deviations, you have changed the license to a non-OSI-approved one, which would mean that JOSS would not consider the submission.

[2019-12-06 12:31] majensen commented on #1919
@whedon assign @pythonpanda2 as reviewer

[2019-12-06 12:31] whedon commented on #1919
OK, the reviewer is @pythonpanda2

[2019-12-06 12:38] iagolemos1 commented on #1938
Hello there,
I would like to suggest some individuals to review my work. Following a list of usernames:

nicoguaro
krother
betatim
djmitche
kellieotto
jmbr
aokad
paragkulkarni11
sarats

[2019-12-06 12:51] corybrunson commented on #1937
Right, thank you for pointing that out. In a moment i'll push the Markdown GPLv3 obtained from [here](https://www.gnu.org/licenses/gpl-3.0.en.html), renamed `LICENSE.md`.

[2019-12-06 12:51] iagolemos1 commented on #1938
Everything's ok, Daniel, thanks!

[2019-12-06 13:00] iagolemos1 commented on #1938
Hello there,
I would like to suggest some individuals for the review:
betatim
djmitche
kellieotto
soodoku
molgor
jmbr
kczimm
tupi
mnarayan
tianxzhu
acolum
GalenStocking
dhhagan
acolum
barryrowlingson
stensy
terrytangyuan
ziotom78
rasbt
benjaminrose
zhampel
nespinoza
stulacy
dirmeier
williamjameshandley
adavidzh
andrewfowlie
sjsrey
andremrsantos
snastase
malmaud
lindemann09
Nazeeefa
JonathanReardon

[2019-12-06 13:03] iagolemos1 commented on #1938
Hello there,
I would like to suggett some reviwers usernames:

betatim
djmitche
kellieotto
jmbr
GalenStocking
terrytangyuan
adavidzh
andremrsantos
malmaud
ali-ramadhan
Stat-Cook
agisga
Pqrs6
kose-y

[2019-12-06 13:04] danielskatz commented on #1937
not LICENSE.md but LICENSE

[2019-12-06 13:06] danielskatz commented on #1938
Thanks - the JOSS editors are currently discussing if this is in scope, and will get back to you in the next couple of days

[2019-12-06 13:19] corybrunson commented on #1937
Thank you, this has been changed (using the plain text version of GPLv3).

[2019-12-06 13:23] gkthiruvathukal commented on #1936
@danielskatz Yes!

[2019-12-06 13:30] terrytangyuan commented on #1903
@whedon check references

[2019-12-06 13:30] whedon commented on #1903
[code]

[2019-12-06 13:30] whedon commented on #1903
[code]

[2019-12-06 13:31] terrytangyuan commented on #1903
Thanks!

@mllg At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:
* The title of the archive is the same as the JOSS paper title
* That the au

[2019-12-06 13:46] Chilipp commented on #1858
Thanks for asking @majensen! Unfortunately I am completely packed with work for December and beginning of January, so I won't be able to do a review until the 20th of January (approximately). But if this is okay for you, I am happy to review the software.

[2019-12-06 13:54] danielskatz commented on #1936
@whedon assign @gkthiruvathukal as editor

George, note that you can also do this yourself once you've agree :)

[2019-12-06 13:54] whedon commented on #1936
OK, the editor is @gkthiruvathukal

[2019-12-06 14:13] corybrunson commented on #1937
From the list of potential reviewers, @kellieotto, @njtierney, and @clauswilke seem to have very relevant expertise and interests.

[2019-12-06 14:15] alcantarar commented on #1910
@Kevin-Mattheus-Moerman all good on my end, thanks!

[2019-12-06 14:20] alcantarar commented on #1910
@whedon generate pdf

[2019-12-06 14:20] whedon commented on #1910
[code]

[2019-12-06 14:20] whedon commented on #1910
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01910/joss.01910/10.21105.joss.01910.pdf)

[2019-12-06 14:49] arfon commented on #1799
Please let me know how to proceed

I've fixed this manually and deposited the metadata with Crossref. Assuming this is OK then I think we're good to mark this as accepted here and close the review.

[2019-12-06 15:12] Kevin-Mattheus-Moerman commented on #1910
@whedon accept

[2019-12-06 15:12] whedon commented on #1910
[code]

[2019-12-06 15:12] whedon commented on #1910
[code]

[2019-12-06 15:13] whedon commented on #1910
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1162

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1162, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-06 15:16] trichter commented on #1808
I updated the reference for the telewavesim package, which was recently published in JOSS.

[2019-12-06 15:16] trichter commented on #1808
@whedon generate pdf

[2019-12-06 15:16] whedon commented on #1808
[code]

[2019-12-06 15:17] whedon commented on #1808
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01808/joss.01808/10.21105.joss.01808.pdf)

[2019-12-06 15:19] majensen commented on #1858
Thanks @andrewfowlie and @Chilipp - @Chilipp I get it! Are you ok if I add you as reviewer "in reserve", ie if I can find someone who is able to review sooner I let you off the hook?

[2019-12-06 15:20] Chilipp commented on #1858
Yes, sure @majensen. That's fine with me

[2019-12-06 15:23] benjaminbolling commented on #1858
Thank you for the replies and for the effort you put in to find a reviewer, and it is great that you have found someone who can review it. :)

[2019-12-06 15:23] majensen commented on #1796
@danielskatz : My guess is @briatte is OOO, since he is usu. very responsive. In view of comment from @briatte 's comment at https://github.com/openjournals/joss-reviews/issues/1796#issuecomment-558501728 and previous, I would recommend moving forward with the publication.

[2019-12-06 15:25] majensen commented on #1858
@benjaminbolling no problem -- are you ok with the review pending till late Jan?

[2019-12-06 15:25] majensen commented on #1858
@whedon assign @Chilipp as reviewer

[2019-12-06 15:25] whedon commented on #1858
OK, the reviewer is @Chilipp

[2019-12-06 15:32] akeshavan commented on #1902
@whedon assign @serine as reviewer

[2019-12-06 15:32] whedon commented on #1902
OK, the reviewer is @serine

[2019-12-06 15:32] shirubana commented on #1865
PR passing now :)

[2019-12-06 15:43] Kevin-Mattheus-Moerman commented on #1910
@whedon accept deposit=true

[2019-12-06 15:43] whedon commented on #1910
[code]

[2019-12-06 15:43] szorowi1 commented on #1913
Hi there,

Apologies for the delay. Would be more than happy to review. This would be my first review for JoSS. Beyond the [review checklist](https://joss.readthedocs.io/en/latest/review_checklist.html), anything else I should be aware of?

Thanks!
-Sam

[2019-12-06 15:44] whedon commented on #1910
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1202977037838962689) 👈 🐦🐦🐦

[2019-12-06 15:44] whedon commented on #1910
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1163
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01910](https://doi.org/10.21105/joss.01910)
2. If everything looks g

[2019-12-06 15:49] Kevin-Mattheus-Moerman commented on #1910
Congratulations @alcantarar! And thank you @agricolab, @DARSakthi, @mwptrsn for reviewing this work!

[2019-12-06 15:49] #1910 closed

[2019-12-06 15:49] whedon commented on #1910
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01910/status.svg)](https://doi.org/10.21105/joss.01910)

**We need your help!**

Journal of Open Source Softwa

[2019-12-06 15:54] benjaminbolling commented on #1858
I am fine with the review pending until January.

[2019-12-06 16:04] munkm commented on #1774
@whedon generate pdf

[2019-12-06 16:04] whedon commented on #1774
[code]

[2019-12-06 16:05] whedon commented on #1774
PDF failed to compile for issue #1774 with the following error:

 Error producing PDF.
! Missing $ inserted.
<inserted text>
                $
l.404 ... data}} < n*[t_{\text{image_calc, server}

Looks like we failed to compile the PDF

[2019-12-06 16:06] leouieda commented on #1808
Hi @trichter thanks for the update. Apologies for the delay in this submission. I'll see if we can speed things up after AGU next week.

[2019-12-06 16:18] munkm commented on #1774
@whedon generate pdf

[2019-12-06 16:18] whedon commented on #1774
[code]

[2019-12-06 16:19] whedon commented on #1774
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01774/joss.01774/10.21105.joss.01774.pdf)

[2019-12-06 16:37] munkm commented on #1774
@whedon generate pdf

[2019-12-06 16:38] whedon commented on #1774
[code]

[2019-12-06 16:38] whedon commented on #1774
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01774/joss.01774/10.21105.joss.01774.pdf)

[2019-12-06 17:11] leouieda commented on #1808
/ooo December 7 until December 17

[2019-12-06 17:41] arokem commented on #1896
Thanks for the thorough review, @TomDonoghue!

@jdkent : have you had a chance to take a look?

[2019-12-06 17:45] khdusenbury commented on #1915
@whedon generate pdf

[2019-12-06 17:45] whedon commented on #1915
[code]

[2019-12-06 17:45] whedon commented on #1915
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01915/joss.01915/10.21105.joss.01915.pdf)

[2019-12-06 17:53] khdusenbury commented on #1915
@will-rowe I think the manuscript and repo now incorporate @bede and @afrubin's reviews. Please let us know if there are additional changes you would like us to make. Thank you!

[2019-12-06 17:56] vc1492a commented on #1902
@akeshavan thanks for reaching out about the opportunity to review this work. I'll be taking a long vacation in about a week's time and will not be returning until close to the end of January. If that's all right with you and the authors, I'm happy to review this work. However I'll be largely unavailable during that time due to travel.

The work is interesting although it's not typically a field I

[2019-12-06 18:29] TomasBeuzen commented on #1890
@kbarnhart - I believe I've addressed all reviewer comments.

@csherwood-usgs @ncohn @edlazarus - thank you so much for your time and effort in reviewing pybeach, it's very much appreciated!

[2019-12-06 18:47] danielskatz commented on #1799
@arfon  - can you go ahead and do this? Since I'm not 100% sure exactly what you mean.

[2019-12-06 18:52] csoneson commented on #1916
@Sulstice - yes, I think that would be nice.

[2019-12-06 18:57] csoneson commented on #1916
@whedon add @floux as reviewer

[2019-12-06 18:57] whedon commented on #1916
OK, @floux is now a reviewer

[2019-12-06 18:58] csoneson commented on #1916
@mskwark, @semacu - would one of you be willing to review this submission for JOSS?

[2019-12-06 19:08] ckoerber commented on #1936
@whedon commands

[2019-12-06 19:08] whedon commented on #1936
Here are some things you can ask me to do:

[code]

[2019-12-06 19:12] arfon commented on #1799
👍

[2019-12-06 19:14] arfon commented on #1799
@puolival, @yzhao062 - many thanks for your reviews here and to @terrytangyuan for editing this submission ✨

@pssachdeva - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-12-06 19:14] #1799 closed

[2019-12-06 19:14] whedon commented on #1799
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01799/status.svg)](https://doi.org/10.21105/joss.01799)

**We need your help!**

Journal of Open Source Softwa

[2019-12-06 19:39] toph-allen commented on #1766
@kthyng Thanks for clarifying. After discussing with the package's other contributor, we've decided that it's best to pause the submission. We'll check back in the new year, when things have calmed down a little, and let you know when we're ready to continue work.

Thanks again for being flexible. 😅

[2019-12-06 19:45] kbarnhart commented on #1901
@guillaume-irstea I wanted to follow up with a couple of additional questions that will help me understand the content of the submission better.

1. Do you have a way to test your code, or at least a way for a user to verify that it is running correctly?

2. Can you elaborate a little more on the practical aspects of re-using the software for other applications. I know that above in the conversati

[2019-12-06 19:53] ckoerber commented on #1936
Hello @gkthiruvathukal,

I have skimmed through the above list of potential referees and found a few candidates which might be fitting for this review:

@ixjlyons
@sarats
@sjvrijn
@krother
@remram44
@adammichaelwood
@pgadige

Best regards,

Christopher

[2019-12-06 20:19] lpantano commented on #1731
@whedon check references

[2019-12-06 20:19] whedon commented on #1731
[code]

[2019-12-06 20:19] whedon commented on #1731
[code]

[2019-12-06 20:38] lpantano commented on #1731
@joelmiller, it seems there are missing DOIs, can you double check this? Thanks!

[2019-12-06 20:40] lpantano commented on #1774
@whedon check references

[2019-12-06 20:40] whedon commented on #1774
[code]

[2019-12-06 20:40] whedon commented on #1774
[code]

[2019-12-06 20:50] lpantano commented on #1774
Hi @munkm, Any chance you can check the missing DOIs the test is finding?

[2019-12-06 22:07] mjsottile commented on #1812
@whedon remove @dagit as reviewer

[2019-12-06 22:07] whedon commented on #1812
OK, @dagit is no longer a reviewer

[2019-12-06 22:09] mjsottile commented on #1812
I removed the reviewer who went completely unresponsive.  I left @rljacobson for now as they have at least checked a few boxes, but appear to have stopped responding.

I am reaching out to a couple other potential reviewers off of GitHub.  @mseri - do you have any suggested people I should try to recruit?  If I cannot find an additional reviewer, I will do the review myself when I return from trav

[2019-12-06 22:14] mjsottile commented on #1850
Can the reviewers @cscherrer, @jgoldfar, @osorensen confirm their recommendation to accept the submission by responding in this thread?

Also, @ramiyaari - I see that there is a pull request still waiting for a documentation correction.  Can you address that and close the open pull request?

[2019-12-06 22:46] munkm commented on #1774
Hi @lpantano I just pushed a change that should fix the doi in that reference. Should I regenerate the PDF?

[2019-12-06 23:33] lheagy commented on #1663
Thanks @eskofier, with your written confirmation, I can tick them off for you.

[2019-12-06 23:34] lheagy commented on #1663
@whedon generate pdf

[2019-12-06 23:34] whedon commented on #1663
[code]

[2019-12-06 23:35] whedon commented on #1663
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01663/joss.01663/10.21105.joss.01663.pdf)

[2019-12-07 03:49] jdkent commented on #1896
Yes, I had a chance to take a look.
`MNE-BIDS` is a useful package for converting MEG, EEG, and (experimentally) iEEG datasets into BIDS format and interfacing with those BIDS organized datasets.

I have made issues pertaining to the following sections:

## Functionality
- [x] commandline app not working as intended: mne-tools/mne-bids#296 (addressed)
- [x] similarity/differences from pybids: mne-

[2019-12-07 03:54] arokem commented on #1896
Fantastic! Thank you both for the detailed and valuable reviews.

@sappelhoff: please let me know if you have any questions and/or ping me here when you have had a chance to address the comments.

[2019-12-07 04:49] danielskatz commented on #1796
If you are sure this is ok, please check the missing box for @briatte, then let me know, and I will do the further processing in the next 24 hours.

[2019-12-07 05:41] HaoZeke commented on #1701
@whedon check references

[2019-12-07 05:41] whedon commented on #1701
[code]

[2019-12-07 05:41] HaoZeke commented on #1843
@whedon check references

[2019-12-07 05:41] whedon commented on #1843
[code]

[2019-12-07 05:41] HaoZeke commented on #1785
@whedon check references

[2019-12-07 05:41] whedon commented on #1785
[code]

[2019-12-07 05:41] whedon commented on #1701
[code]

[2019-12-07 05:41] whedon commented on #1843
[code]

[2019-12-07 05:41] whedon commented on #1785
[code]

[2019-12-07 05:41] HaoZeke commented on #1843
@jedbrown sorry, been dragging my feet because of a recent move. Will finish ASAP.

[2019-12-07 05:44] HaoZeke commented on #1785
@BIPL-HORIE just to keep you informed. I will be working on my review with issues opened in the repository which should link back to this thread as well. Please let me know if there are any questions.

[2019-12-07 05:45] HaoZeke commented on #1701
@gbertoldo just to keep you informed. I will be working on my review with issues opened in the repository which should link back to this thread as well. Please feel free to address the issues as when and when you can.

[2019-12-07 05:46] HaoZeke commented on #1843
@shah314 just to keep you informed. I will be working on my review with issues opened in the repository which should link back to this thread as well. Please feel free to address the issues as when and when you can.

[2019-12-07 07:08] osorensen commented on #1850
@mjsottile , I confirm my recommendation.

[2019-12-07 09:34] jayten commented on #1555
We are thankful to the reviewer @rouson for his insightful comments. Our team is not familiar with the latest Fortran version, but based on the reviewer's suggestion, it seems like the right way forward to use newer features supported by the latest Fortran version.  However, at the same time, we want to make sure that It does not create any conflict with our already planned work - implementation o

[2019-12-07 11:33] torressa commented on #1655
@whedon generate pdf

[2019-12-07 11:33] whedon commented on #1655
[code]

[2019-12-07 11:33] whedon commented on #1655
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01655/joss.01655/10.21105.joss.01655.pdf)

[2019-12-07 12:13] csoneson commented on #1762
@whedon check references

[2019-12-07 12:13] whedon commented on #1762
[code]

[2019-12-07 12:13] whedon commented on #1762
[code]

[2019-12-07 12:13] csoneson commented on #1762
@whedon generate pdf

[2019-12-07 12:13] whedon commented on #1762
[code]

[2019-12-07 12:14] whedon commented on #1762
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01762/joss.01762/10.21105.joss.01762.pdf)

[2019-12-07 12:44] csoneson commented on #1762
@lskatz - I sent a PR with a couple of fixes to the bibliography and a few typos. Please check, merge and ask whedon to generate a new pdf.
Then, please:
1) Check that version information is consistently reported
2) Make a tagged release of the software
3) Report the version here
4) Make a Zenodo archive. Check that the Zenodo archive has the same title and author list as the paper (you can also a

[2019-12-07 12:47] csoneson commented on #1762
@whedon remove @greatfireball as reviewer

[2019-12-07 12:47] whedon commented on #1762
OK, @greatfireball is no longer a reviewer

[2019-12-07 14:04] mado89 commented on #1845
Review:

I now - finally - had time to give the software a thorough review.
As mentioned in my previous comments I have the feeling that the author needs to polish the structure of the project. Some (vital) aspects such as the LICENSE file and setup.py are spread over different branches.
Moreover, the main software is duplicated (once in root, once in tests).
The generated graphs in the test direc

[2019-12-07 14:07] mado89 commented on #1845
I made some comments above and opened some issues. My main concern is that there are some problems with using git / version control in this project (see https://github.com/alessandroBombelli/pyHoops/issues/56 and https://github.com/alessandroBombelli/pyHoops/issues/49).
If I am too strict on this matter please let me know!

[2019-12-07 15:44] poulson commented on #1655
Hi @torressa and @stsievert -- in our previous discussion a few weeks ago it looked like @torressa just needed to finalize some changes requested by @stsievert.

@torressa: How are those changes coming along?

@stsievert: Are you happy with the changes so far?

[2019-12-07 18:26] kbarnhart commented on #1890
@TomasBeuzen can you close the issues in your repository that you have finished addressing? I may have inadvertently re-opened one of them while linking with this repo (sorry).

@csherwood-usgs @ncohn @edlazarus if you are satisfied with the changes made in response to your reviews, can you please confirm you recommendation to accept this submission by commenting here (this is a standard part of t

[2019-12-07 18:31] ncohn commented on #1890
I recommend accepting the submission in it's current state

[2019-12-07 18:35] kbarnhart commented on #1890
@whedon generate pdf

[2019-12-07 18:35] whedon commented on #1890
[code]

[2019-12-07 18:35] karthik commented on #1816
@vchuravy Another ping to check in. Can you give us a sense for when you might complete this review?

[2019-12-07 18:35] kbarnhart commented on #1890
@whedon check references

[2019-12-07 18:36] whedon commented on #1890
[code]

[2019-12-07 18:36] whedon commented on #1890
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01890/joss.01890/10.21105.joss.01890.pdf)

[2019-12-07 18:36] whedon commented on #1890
[code]

[2019-12-07 19:07] edlazarus commented on #1890
I also recommend accepting the submission as it now stands.

[2019-12-07 19:46] Sulstice commented on #1916
@csoneson I released the cocktail shaker v1.1.0 and it is labeled as a "pre-release" for now pending the JOSS approval.

You should be able to easily install with this command `pip install cocktail-shaker==1.1.0`

[2019-12-07 20:20] shah314 commented on #1843
@whedon generate pdf

[2019-12-07 20:20] whedon commented on #1843
[code]

[2019-12-07 20:21] whedon commented on #1843
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01843/joss.01843/10.21105.joss.01843.pdf)

[2019-12-07 20:21] shah314 commented on #1843
@whedon check references

[2019-12-07 20:21] whedon commented on #1843
[code]

[2019-12-07 20:21] whedon commented on #1843
[code]

[2019-12-07 20:23] shah314 commented on #1843
@HaoZeke I have fixed the DOIs. Thanks for agreeing to review.

[2019-12-07 23:28] aebergl commented on #1830
Hello all, We have made the changes to MatSurv and the Documentation as suggested by @dsurujon and we are waiting for the second reviewer comments so we can finalize our edits of the article.

[2019-12-08 02:26] majensen commented on #1796
@danielskatz boxes checked  thanks

[2019-12-08 06:13] njtierney commented on #1937
Happy to provide a review, when would you like it completed? The end of the year is looming and I'm not sure if I could get it completed before December 20, but can try.

[2019-12-08 06:49] ramiyaari commented on #1850
Thanks @mjsottile . I've merged the pull request.

[2019-12-08 09:34] mseri commented on #1812
Thanks @mjsottile. I don’t really have a suggestion, but I can think at some ocaml users that are not related with the owl project if you want.

[2019-12-08 10:59] xuanxu commented on #1920
:wave: @HeloiseS would you be willing to review this submission for JOSS? I think your knowledge of Python and Astrophysics makes you a good fit for this submission.

[2019-12-08 12:06] danielskatz commented on #1796
@whedon accept

[2019-12-08 12:06] whedon commented on #1796
[code]

[2019-12-08 12:06] whedon commented on #1796
[code]

[2019-12-08 12:07] whedon commented on #1796
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1164

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1164, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-08 12:10] danielskatz commented on #1796
@whedon accept deposit=true

[2019-12-08 12:10] whedon commented on #1796
[code]

[2019-12-08 12:11] whedon commented on #1796
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1203648300047650816) 👈 🐦🐦🐦

[2019-12-08 12:11] whedon commented on #1796
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1165
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01796](https://doi.org/10.21105/joss.01796)
2. If everything looks g

[2019-12-08 12:26] danielskatz commented on #1796
Thanks to @briatte and @amoeba for reviewing and @majensen for editing!
And congratulations to @cimentadaj!

[2019-12-08 12:26] #1796 closed

[2019-12-08 12:26] whedon commented on #1796
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01796/status.svg)](https://doi.org/10.21105/joss.01796)

**We need your help!**

Journal of Open Source Softwa

[2019-12-08 12:40] danielskatz commented on #1845
Thanks @mado89 - I don't think you are being too strict

One of the requirements for JOSS is

I think the things you are asking for here fall into the

category

[2019-12-08 12:41] danielskatz commented on #1845
@mado89  - I also appreciate your time and thoroughness in the review and feedback so far

[2019-12-08 12:42] danielskatz commented on #1928
👋 @hmaarrfk - would you be willing to review this submission for JOSS?  (See https://joss.readthedocs.io/en/latest/reviewer_guidelines.html for what reviewing for JOSS)

[2019-12-08 12:43] danielskatz commented on #1928
👋 @dghoshal-lbl - would you be willing to review this submission for JOSS?  (See https://joss.readthedocs.io/en/latest/reviewer_guidelines.html for what reviewing for JOSS)

[2019-12-08 12:43] whedon opened #1939 "[PRE REVIEW]: WordTokenizers.jl: Basic tools for tokenizing natural language in Julia"
**Submitting author:** @oxinabox (<a href="http://orcid.org/0000-0003-1386-1646">Lyndon White</a>)
**Repository:** <a href="https://github.com/JuliaText/WordTokenizers.jl/" target ="_blank">https://github.com/JuliaText/WordTokenizers.jl/</a>
**Version:**  v0.5.3
**Editor:** @will-rowe
**Reviewers:** @leios, @ninjin

**Author instructions**

Thanks for submitting your paper to JOSS @oxinabox. **Cur

[2019-12-08 12:44] whedon commented on #1939
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-08 12:44] whedon commented on #1939
[code]

[2019-12-08 12:44] whedon commented on #1939
[code]

[2019-12-08 12:44] whedon commented on #1939
[code]

[2019-12-08 12:44] whedon commented on #1939
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01939/joss.01939/10.21105.joss.01939.pdf)

[2019-12-08 12:51] danielskatz commented on #1939
👋 @oxinabox  - thanks for your submission!

As you can see above, @whedon thinks some of your bib entries might be missing DOIs (but @whedon is also sometimes wrong)

Please check

There also seem to be some other things in the generated pdf that could be fixed, such as double (())s around some citations, missing spaces before some citations, and some extra "s in one reference

After you make chan

[2019-12-08 13:02] danielskatz commented on #1939
👋 @will-rowe - would you be willing to edit this submission?

[2019-12-08 13:03] danielskatz commented on #1937
👋 @akeshavan - sorry, I assigned this to you while starting the process without checking with you first. Are you willing to edit this submission? (we already have one potential reviewer who has agreed...)

[2019-12-08 13:12] danielskatz commented on #1938
👋 @iagolemos1 - I've discussed this submission with the the JOSS editorial board, and we have determined that it is not suitable for JOSS at this time, as we state in our docs:

Based on this, I'm rejecting this submission

However, we also noted your comment in the README:

and would be happy to consider a more substantial software package in the future, though this is no guarantee

[2019-12-08 13:12] #1938 closed

[2019-12-08 13:18] iagolemos1 commented on #1938
Ok, thank you. I am going to work on a complete package and hope to be
accepeted.

Em dom, 8 de dez de 2019 10:12, Daniel S. Katz <notifications@github.com>
escreveu:

[2019-12-08 13:47] hmaarrfk commented on #1928
Is there a version that can be downloaded with double spacing so we may write our notes on it?

[2019-12-08 13:56] Gabriel-p commented on #1920
@xuanxu should there be a check list here for the reviewer?

[2019-12-08 13:58] HeloiseS commented on #1920
Hello

I'm happy to help. By when does this need doing?

Cheers,
Heloise

On Sun, 8 Dec 2019, 10:59 AM Juanjo Bazán, <notifications@github.com> wrote:

[2019-12-08 14:04] danielskatz commented on #1928
No, sorry

Note that the [paper](https://github.com/openjournals/joss-papers/blob/joss.01928/joss.01928/10.21105.joss.01928.pdf) is fairly short, and the review is of both the paper and software, using a checklist for the [reviewer criteria](https://joss.readthedocs.io/en/latest/review_criteria.html)

JOSS reviewers generally write note either here as comments, or in the source repository as issue

[2019-12-08 14:06] hmaarrfk commented on #1928
got it, i typically go through my notes on paper and organize them again a second time, just being visual, it sometimes helps to be able to scribble things down.

[2019-12-08 14:13] danielskatz commented on #1928
Are you willing to review this?

[2019-12-08 14:13] hmaarrfk commented on #1928
yes.

[2019-12-08 14:14] xuanxu commented on #1920
@Gabriel-p this is the pre-review. Once I have the two reviewers I’ll start the review in a new issue with a checklist for each of the reviewers. Stay tuned!

[2019-12-08 14:16] xuanxu commented on #1920
@HeloiseS in the next two/three weeks if possible. Is that ok for you?

[2019-12-08 14:18] danielskatz commented on #1928
thank you - I'll assign you in our system, but the review itself won't start until we get a second reviewer, and it will take place in a new "review" issue, not this "pre-review" issue

[2019-12-08 14:18] danielskatz commented on #1928
@whedon assign @hmaarrfk as reviewer

[2019-12-08 14:19] whedon commented on #1928
OK, the reviewer is @hmaarrfk

[2019-12-08 14:38] HeloiseS commented on #1920
Yeah should be fine :)

On Sun, 8 Dec 2019, 2:16 PM Juanjo Bazán, <notifications@github.com> wrote:

[2019-12-08 14:58] xuanxu commented on #1920
@whedon add @Gabriel-p as reviewer

[2019-12-08 14:58] whedon commented on #1920
OK, @Gabriel-p is now a reviewer

[2019-12-08 14:58] xuanxu commented on #1920
@whedon add @HeloiseS as reviewer

[2019-12-08 14:58] whedon commented on #1920
OK, @HeloiseS is now a reviewer

[2019-12-08 15:03] xuanxu commented on #1920
@whedon start review

[2019-12-08 15:03] whedon opened #1940 "[REVIEW]: whampy: Python Package to Interact with, Visualize, and Analyze the Wisconsin H-Alpha Mapper - Sky Survey"
**Submitting author:** @Deech08 (<a href="http://orcid.org/0000-0002-7955-7359">Dhanesh Krishnarao</a>)
**Repository:** <a href="https://github.com/Deech08/whampy" target ="_blank">https://github.com/Deech08/whampy</a>
**Version:** v1.0.1
**Editor:** @xuanxu
**Reviewer:** @Gabriel-p, @HeloiseS
**Archive:** <a href="https://doi.org/10.5281/zenodo.3591960" target="_blank">10.5281/zenodo.3591960</a>

[2019-12-08 15:03] whedon commented on #1920
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1940. Feel free to close this issue now!

[2019-12-08 15:03] whedon commented on #1940
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Gabriel-p, @HeloiseS it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-12-08 15:03] whedon commented on #1940
[code]

[2019-12-08 15:03] whedon commented on #1940
[code]

[2019-12-08 15:03] whedon commented on #1940
[code]

[2019-12-08 15:04] xuanxu commented on #1920
@Gabriel-p @HeloiseS please head over to #1940 where the review will take place.

[2019-12-08 15:04] whedon commented on #1940
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01940/joss.01940/10.21105.joss.01940.pdf)

[2019-12-08 15:04] #1920 closed

[2019-12-08 17:43] vbarrera commented on #1411
@whedon commands

[2019-12-08 17:44] whedon commented on #1411
Here are some things you can ask me to do:

[code]

[2019-12-08 17:44] vbarrera commented on #1411
@whedon generate pdf

[2019-12-08 17:44] whedon commented on #1411
[code]

[2019-12-08 17:44] vbarrera commented on #1411
@whedon check references

[2019-12-08 17:44] whedon commented on #1411
[code]

[2019-12-08 17:45] whedon commented on #1411
[code]

[2019-12-08 17:45] whedon commented on #1411
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01411/joss.01411/10.21105.joss.01411.pdf)

[2019-12-08 18:02] vbarrera commented on #1411
@snowformatics
Thanks for solving all the issues.
Software is working properly and all issues have been addressed.

Please, for the final approval, update documents to describe the latest version:
- testing_guidelines (i.e: FASTQ to FASTA is described and it's no longer a functionality of the software).
- update README to include those changes.
- update manual to include changes. Also, non English

[2019-12-08 19:22] sbrugman commented on #1746
Hi @lgeiger,

The paper has really benefitted from the revisions, good job. I have some suggestions:

- Bringing the power ... everyday lives => Bringing this technology outside of data centers is not a key point here, the same statement could hold for running the models in a data center. You are trying to say that deep-learning algorithms have this potential.

- reseach => research

- The referen

[2019-12-08 21:52] rafmudaf commented on #1885
After the latest updates to the build system, I was able to compile on macOS exactly as documented. I also was able to run the example cases and confirm the functionality. Very good work!

[2019-12-08 22:02] labarba commented on #1885
@petebachant, @rafmudaf —I see that both of you have checked off all the items in the review checklist. Do we have a recommendation to publish, from each of you?

[2019-12-08 22:03] rafmudaf commented on #1885
Yes, I recommend publishing.

[2019-12-08 22:05] petebachant commented on #1885
I also recommend publishing.

[2019-12-08 22:12] labarba commented on #1885
@whedon generate pdf

[2019-12-08 22:12] whedon commented on #1885
[code]

[2019-12-08 22:12] whedon commented on #1885
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01885/joss.01885/10.21105.joss.01885.pdf)

[2019-12-08 22:26] labarba commented on #1885
@fonsocarre — small typo: ¶4 "These longer and much slender…" >> These longer and more slender...

Also, please use consistent capitalization for your references: normal cap for article titles, camel case for journal or conference title. The first two references need proper capitalization of the conference (scitech forum >> SciTech Forum), and the 7th reference needs the article title in normal ca

[2019-12-08 22:34] ngoiz commented on #1885
Thanks @labarba, @petebachant and @rafmudaf for the review and suggestions!

We will update the JOSS submission with the above, release and share the DOI.

Thanks!

[2019-12-08 23:34] afrubin commented on #1915
@will-rowe I've looked over the changes and updated manuscript and I'm happy to recommend that we move towards acceptance.

[2019-12-09 03:41] joelmiller commented on #1731
@whedon check references

[2019-12-09 03:41] whedon commented on #1731
[code]

[2019-12-09 03:41] whedon commented on #1731
[code]

[2019-12-09 03:45] joelmiller commented on #1731
@whedon generate pdf

[2019-12-09 03:45] whedon commented on #1731
[code]

[2019-12-09 03:45] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-12-09 04:15] joelmiller commented on #1731
@whedon generate pdf

[2019-12-09 04:15] whedon commented on #1731
[code]

[2019-12-09 04:15] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-12-09 04:26] joelmiller commented on #1731
@whedon generate pdf

[2019-12-09 04:26] whedon commented on #1731
[code]

[2019-12-09 04:26] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-12-09 04:30] joelmiller commented on #1731
@whedon generate pdf

[2019-12-09 04:30] whedon commented on #1731
[code]

[2019-12-09 04:31] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-12-09 06:27] alexhanna commented on #1591
👋 @taqtiqa-mark - have you been able to check the remaining items?

[2019-12-09 08:56] ManuelaS commented on #1830
Apologies for the delay. I'll get to this in the next few days.

[2019-12-09 09:21] paulvangentcom commented on #1867
I think the paper can benefit from additional integration with existing literature, especially a more recent state of the field.

Although many toolboxes exist to work with PPG, ECG, or the resulting tachograms, I think _hrv_ can play a role here as an accessible toolbox for those already having tachograms available and only need to analyse these.

The software needs to be documented with proper d

[2019-12-09 09:36] will-rowe commented on #1915
Thanks @khdusenbury for your work in addressing the reviews - and thank you @afrubin for checking this so quickly.

I think this looks great and I'm happy to move this on for publication.

[2019-12-09 09:36] will-rowe commented on #1915
@whedon generate pdf

[2019-12-09 09:37] whedon commented on #1915
[code]

[2019-12-09 09:37] whedon commented on #1915
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01915/joss.01915/10.21105.joss.01915.pdf)

[2019-12-09 09:38] will-rowe commented on #1915
@whedon check references

[2019-12-09 09:38] whedon commented on #1915
[code]

[2019-12-09 09:38] whedon commented on #1915
[code]

[2019-12-09 09:41] will-rowe commented on #1915
Okay - paper looks good to me. If you're happy @khdusenbury, can you please make a tagged release and archive. Then can you let me know the version number and archive DOI

[2019-12-09 09:44] alex-konovalov commented on #1835
@kaashif @dimpase is there a plan to submit this package for the redistribution with GAP?

[2019-12-09 09:45] will-rowe commented on #1939
This looks cool - happy to.

[2019-12-09 09:45] will-rowe commented on #1939
@whedon assign @will-rowe as editor

[2019-12-09 09:45] whedon commented on #1939
OK, the editor is @will-rowe

[2019-12-09 09:47] will-rowe commented on #1939
Hi @vchuravy and @ahwillia - would you both be willing to review this submission?

[2019-12-09 09:52] dimpase commented on #1835
@alex-konovalov - will we make the coming GAP 4.11 release if we do it this week?

[2019-12-09 10:13] alex-konovalov commented on #1835
If it will satisfy the requirements and pass integration tests, then yes. To go ahead, please suggest depositing the package by email to GAP Support, and submit a PR to https://github.com/gap-system/gap-distribution/blob/master/DistributionUpdate/PackageUpdate/currentPackageInfoURLList adding its PackageInfo.g URL.

[2019-12-09 10:18] alex-konovalov commented on #1835
@dimpase however, you need to establish a proper package webpage and releases process first - at the moment, https://gitlab.com/kaashif/decomp/blob/master/PackageInfo.g just points to the GitLab repository, and the link to package archive will not work. Maybe you want to migrate to https://github.com/gap-packages first, and then use ReleaseTools and GitHubPagesForGAP to set them up using our stand

[2019-12-09 10:34] oliviaguest commented on #1900
Do you want me to change the version to 0.1.1?

[2019-12-09 10:47] johannes-titz commented on #1900
If this is possible and does not create any problems, yes, please. Thank you!

[2019-12-09 10:58] oliviaguest commented on #1900
@whedon set v0.1.1 as version

[2019-12-09 10:58] whedon commented on #1900
OK. v0.1.1 is the version.

[2019-12-09 11:24] alessandroBombelli commented on #1845
Dear @mado89, thanks for the exhaustive comments. Indeed, I agree with all of them and already started to apply changes. Here are my replies to your comments:

- I worked on the PyPi implementation (so that this becomes an actual package) over the weekend, but had some issues in the uploading process. I think I am following the right steps (I am following these intructions https://medium.com/@joel

[2019-12-09 11:32] snowformatics commented on #1411
@vbarrera

Thank you very much for reviewing the manuscript and your patience, I think the software got major improvements.
I updated the documents and fixed the reference issue.

Best regards
Stefanie

[2019-12-09 12:11] xuanxu commented on #1940
@Deech08, @Gabriel-p, @HeloiseS : this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most

[2019-12-09 12:57] marcosvital commented on #1908
Hi, @cddesja , and sorry for the delayed reply.

The problem with the figure captions is probably easy to solve: you should try to insert the figure in a single separated line in the md file, with the caption inside brackets.

Take a look at this example: https://raw.githubusercontent.com/pyvista/pyvista/master/joss/paper.md

That will generate this: https://github.com/pyvista/pyvista/blob/master/

[2019-12-09 12:59] marcosvital commented on #1908
Reviewers, as soon as the proof gets ready, we are ready to begin with the reviewing process. Please take a look at the guidelines if it's your first time reviewing for JOSS:

https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2019-12-09 13:23] janfreyberg commented on #1862
Hi @arokem - apologies for the delay! I've been away with work.

I've ticked the bits I was able to verify and will raise a few issues on their repo now.

[2019-12-09 14:29] cimentadaj commented on #1796
Thanks to everyone for the great review!

[2019-12-09 14:55] torressa commented on #1655
Hi @poulson! Thanks for the follow up.
I have made a few changes to accommodate for the comments.
I might still add some additional examples and update the docs.

[2019-12-09 16:16] sreschechtko commented on #1849
Thank you for responding to my review issues. I have closed the majority of issues because I think they are satisfactorily addressed, although I had a few minor comments on [5](https://github.com/SwathiSheshadri/pose3d/issues/5) and [7](https://github.com/SwathiSheshadri/pose3d/issues/7).

The only issue I raised which I am leaving open is [3](https://github.com/SwathiSheshadri/pose3d/issues/3) fo

[2019-12-09 16:24] jgoldfar commented on #1850
@mjsottile I confirm my recommendation

[2019-12-09 16:26] mikkonie commented on #1584
@olgabot and @danielskatz, I apologize for the delay in reacting to this.

Regarding the version number: there have indeed been some updates and I expect to tag version 0.7.1 before the holidays. If this does not cause issues from the review side, it sounds logical to update the version. Please let me know if something needs to be clarified regarding the new releases.

As for the usage of the pack

[2019-12-09 16:29] cscherrer commented on #1850
Sorry I had missed this. Yes, I confirm my recommendation

[2019-12-09 18:34] arfon commented on #1919
@raullaasner you can do `MatD^3^` which should work.

[2019-12-09 18:50] ornlpmcp commented on #1656
Dear @terrytangyuan
Would you please advise us so that we can move forward?
Thank you very much.

[2019-12-09 18:52] gbertoldo commented on #1701
Thanks, @haoZeke!

Em sáb., 7 de dez. de 2019 às 02:45, Rohit Goswami <notifications@github.com>
escreveu:

--
Atenciosamente, Guilherme Bertoldo.

[2019-12-09 18:54] terrytangyuan commented on #1656
@ornlpmcp Thanks!

@zhampel @jrbourbeau It looks like the author has addressed a lot of mentioned issues. Could you take another look to see what's left to move this forward?

[2019-12-09 19:17] raullaasner commented on #1919
@arfon Thanks! I made the change and can confirm that it produces the desired output.

[2019-12-09 19:51] mbobra commented on #1809
@zhampel Please let me know if you need any help assessing whether this submission passes review! I am happy to help.

[2019-12-09 19:55] mbobra commented on #1828
@stfbnc Let me know your timeline/plans for this paper. You should feel absolutely free to take as much time as you need, so there's no rush or anything. I only want to know the timeline because if it is long (>1 month or so) we can add a "paused" label to this review to indicate to the Editors in Chief that they don't need to watch over this thread in the interim.

[2019-12-09 19:56] oxinabox commented on #1939
@whedon generate pdf

[2019-12-09 19:56] whedon commented on #1939
[code]

[2019-12-09 19:57] whedon commented on #1939
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01939/joss.01939/10.21105.joss.01939.pdf)

[2019-12-09 20:02] mbobra commented on #1828
/ooo December 16 until January 6

[2019-12-09 20:07] yiorg commented on #1663
Thank you everyone!

From what I can tell the article proof looks good. Please let me know about any next steps on our end.

Best,
Yiorgos

[2019-12-09 20:29] stfbnc commented on #1828
@mbobra Actually I already have improved the installation procedure and I have added to the package what the reviewers pointed out was missing.
I was waiting for @ali-ramadhan and @ashwinvis comments on the improved version of the package.

[2019-12-09 20:50] lheagy commented on #1663
@whedon check references

[2019-12-09 20:50] whedon commented on #1663
[code]

[2019-12-09 20:51] whedon commented on #1663
[code]

[2019-12-09 21:05] lskatz commented on #1762
@csoneson
1. Version information is consistently reported (should I write the tag into the paper?)
2. Tagged release done
3. https://github.com/lskatz/mashtree/releases/tag/v1.0
4. Made a Zenodo archive
5. Zenodo DOI: DOI: 10.5281/zenodo.3568322

[2019-12-09 21:06] lskatz commented on #1762
@whedon generate pdf

[2019-12-09 21:06] whedon commented on #1762
[code]

[2019-12-09 21:06] whedon commented on #1762
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01762/joss.01762/10.21105.joss.01762.pdf)

[2019-12-09 21:06] lskatz commented on #1762
@whedon check references

[2019-12-09 21:06] whedon commented on #1762
[code]

[2019-12-09 21:07] whedon commented on #1762
[code]

[2019-12-09 21:08] lskatz commented on #1762
I wasn't sure how to add ORCIDs to Zenodo

[2019-12-09 21:22] lskatz commented on #1762
http://doi.org/10.5281/zenodo.3568386 - this is the new DOI with author ORCIDs

[2019-12-09 21:46] zhampel commented on #1809
@SuperKam91

I apologize for my delay in coming back to your submission.

Thanks for addressing most of the issues. However, I still feel like leaving extremely long comments in **code** sets a negative precedent for JOSS accepted submissions. You wrote the following:

yet, I see this massive single line (327) in tests/test.py:

`setupDict = {'verbose': True, 'trapezoidalFlag': False, 'ZLiveType':

[2019-12-09 22:16] vijaysm commented on #1441
@likask I was able to build the MoFEM examples and executed several of them. Some comments below after my experiments.

1. Executing examples under (container)likask/mofem_build_with_um and (folder) /mofem_build/um/basic_finite_elements

- The parallel run of the example prints many errors like below, per every timestep of the calculation. These errors should be better handled and/or documented in

[2019-12-09 22:33] likask commented on #1441
Thanks @vijaysm

1.  Docker MPI error is fixed. I've updated docker build file to eliminate that problem. How to handle that error is as well described in  FAQs.
2. You right. Cubit is a tool that we used in the past, now we moving toward Slome and other free & open meshes. The Computational Homogenization example is not mange by us directly, it is a user module which is not part of the MoFEM libr

[2019-12-09 23:13] csoneson commented on #1762
@whedon set v1.0 as version

[2019-12-09 23:13] whedon commented on #1762
OK. v1.0 is the version.

[2019-12-09 23:15] csoneson commented on #1762
@whedon set 10.5281/zenodo.3568386 as archive

[2019-12-09 23:15] whedon commented on #1762
OK. <a href="https://doi.org/10.5281/zenodo.3568386" target="_blank">10.5281/zenodo.3568386</a> is the archive.

[2019-12-09 23:15] csoneson commented on #1762
@whedon accept

[2019-12-09 23:15] whedon commented on #1762
[code]

[2019-12-09 23:16] whedon commented on #1762
[code]

[2019-12-09 23:16] whedon commented on #1762
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1166

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1166, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-09 23:16] csoneson commented on #1762
@lskatz - thanks for this! I'm handing over to the AEiC on duty for the final steps.

@openjournals/joss-eics - I believe we are ready here!

[2019-12-10 00:06] mbobra commented on #1809
@zhampel Thank you for your time and your well-considered review. I totally and completely understand your comments. We at JOSS are trying to strike some kind of reasonable balance between incentivizing people to write open source software (with a reasonable amount of time and effort and also) and adhering to the most ideal coding standards. I personally agree with you that long comments don't adh

[2019-12-10 00:09] mbobra commented on #1809
@SuperKam91 We're almost there! Can you please [archive your release on Zenodo](https://guides.github.com/activities/citable-code/) to obtain a DOI and then put that in your README.md file? After that I think we're done 🎉

[2019-12-10 00:12] mbobra commented on #1828
Ah! Thank you for the clarification!

@ali-ramadhan and @ashwinvis, do @stfbnc's improvements pass your review?

[2019-12-10 00:37] majensen commented on #1919
@whedon generate pdf

[2019-12-10 00:37] whedon commented on #1919
[code]

[2019-12-10 00:38] whedon commented on #1919
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01919/joss.01919/10.21105.joss.01919.pdf)

[2019-12-10 00:57] majensen commented on #1919
Dear @computron - would you be willing to review the [paper](https://github.com/openjournals/joss-papers/blob/joss.01919/joss.01919/10.21105.joss.01919.pdf) in this issue for [Journal of Open Source Software](https://theoj.joss.org)? If you have any questions, please feel free to [email me](mailto:maj.fortinbras@gmail.com) . Thanks for your consideration! --@majensen

[2019-12-10 01:42] 0todd0000 commented on #1870
@melund
@demotu
Thank you very much for your time and comments!!!

[2019-12-10 01:42] 0todd0000 commented on #1870
@trallard

All final tasks complete. Here are the details:

* Final review of the paper for typos, author affiliations and missing DOIs

    * Two minor additions made to the paper for clarity. No typos found.
    * Author affiliations are correct.
    * No missing DOIs;  all DOIs re-checked.

* Create a final release of the package and archive (i.e. Zenodo, Figshare)

    * Done (Zenodo).

* Indi

[2019-12-10 01:51] joelmiller commented on #1731
@whedon generate pdf

[2019-12-10 01:51] whedon commented on #1731
[code]

[2019-12-10 01:52] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-12-10 02:02] joelmiller commented on #1731
@whedon generate pdf

[2019-12-10 02:02] whedon commented on #1731
[code]

[2019-12-10 02:03] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-12-10 02:03] joelmiller commented on #1731
@whedon check references

[2019-12-10 02:03] whedon commented on #1731
[code]

[2019-12-10 02:03] whedon commented on #1731
[code]

[2019-12-10 02:07] joelmiller commented on #1731
@lpantano - I think this is good to go now.  I've updated the references and gone through the paper a couple times.

[2019-12-10 02:21] ryanpmcg commented on #1930
@kbarnhart I have uploaded automated testing scripts for OSX and Windows. All changes have been added to an AUTOTEST folder in the repository. I tested both on my two machines, and verified the outputs. I will update the Readme.md with instructions soon; it will be exactly the same as the AutoTutorial shell and batch scripts for consistency.

[2019-12-10 02:22] pythonpanda2 commented on #1919
@majensen

I was reviewing the  JOSS Conflict of Interest (COI) Policy.  I regret to inform you that my current employment at ANL and an ongoing collaboration with submitter research group might lead to COI.

I would like to nominate @aykol for review.

[2019-12-10 02:33] 0todd0000 commented on #1870
@whedon generate pdf

[2019-12-10 02:33] whedon commented on #1870
[code]

[2019-12-10 02:34] whedon commented on #1870
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01870/joss.01870/10.21105.joss.01870.pdf)

[2019-12-10 02:36] 0todd0000 commented on #1870
@trallard
The updated proof looks good.

[2019-12-10 03:00] katyhuff commented on #1892
Sorry for the delay in getting this one moving.

Thanks for agreeing to review @sjpfenninger .

@lheagy or @ali-ramadhan , would either of you be available to review this submission?

[2019-12-10 03:00] katyhuff commented on #1892
@whedon assign @sjpfenninger as reviewer

[2019-12-10 03:00] whedon commented on #1892
OK, the reviewer is @sjpfenninger

[2019-12-10 03:11] majensen commented on #1919
Thanks for your diligence on that issue @pythonpanda2 -- @aykol are you willing to review this submission?

[2019-12-10 03:23] lpantano commented on #1731
thank you! Last step is to create a Zenodo archive: The title needs to be the same than in the paper, together with the authors. When you are ready you can paste here the Zenodo link. Thanks!

[2019-12-10 03:24] lpantano commented on #1774
@whedon generate pdf

[2019-12-10 03:24] whedon commented on #1774
[code]

[2019-12-10 03:24] whedon commented on #1774
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01774/joss.01774/10.21105.joss.01774.pdf)

[2019-12-10 03:25] lpantano commented on #1774
@whedon check references

[2019-12-10 03:25] whedon commented on #1774
[code]

[2019-12-10 03:25] whedon commented on #1774
[code]

[2019-12-10 03:34] lpantano commented on #1774
@KayleighRutherford can you confirm that all your questions are addressed and checked the items if yes, or ask for more if no? Thanks

[2019-12-10 03:38] joelmiller commented on #1731
That's actually a bit problematic.  The software was developed initially alongside a textbook I was writing, so it sits within https://github.com/springer-math.  I've sent a request to give Zenodo the necessary access.  But the editor who set up that site has left, and I'm not even sure that anyone will get the message.

Thoughts?  The obvious idea would be to create a new repository.  But I prefe

[2019-12-10 03:55] joelmiller commented on #1731
@lpantano

That's actually a bit problematic. The software was developed initially alongside a textbook I was writing, so it sits within https://github.com/springer-math (which I don't own). I've sent a request to give Zenodo the necessary access. But the editor who set up that site has left the company, and I'm not even sure that anyone will get the message.  It looks like it hasn't been used sin

[2019-12-10 10:42] guillaume-irstea commented on #1901
@kbarnhart Thanks for your comment.

It is necessary to create the structure of the SQL database, thanks to the SQL code provided (https://github.com/hydroGR/SHyP/blob/master/SQL/scoreboard_empty_structure.sql). If you are familiary with SQL this should be no problem I guess, otherwise here are some step-by-step instruction: https://github.com/hydroGR/SHyP/blob/master/Read_Me/Instructions.md
Then

[2019-12-10 11:20] trallard commented on #1870
@whedon check references

[2019-12-10 11:20] whedon commented on #1870
[code]

[2019-12-10 11:21] whedon commented on #1870
[code]

[2019-12-10 11:22] trallard commented on #1870
Thanks @0todd0000 just one note, the DOI in Zenodo points only to one single author (you in this case) but the paper has 2 more authors.

[2019-12-10 12:56] danielskatz commented on #1731
You can simply tar the repo and manually deposit it in Zenodo (or figshare, or any other archival repository that will accept it and provide a DOI)

This is what the GitHub - Zenodo link automates, but you don't have to use the automatic mechanism

[2019-12-10 13:18] pythonpanda2 commented on #1919
@majensen  I would also nominate @dga_smith

[2019-12-10 13:38] majensen commented on #1858
Hey @pythonpanda2 - might you be able to review this one?

[2019-12-10 13:47] cddesja commented on #1908
@marcosvital <https://github.com/marcosvital>, the figures should now be
fixed and the proof should be ready.

On Mon, Dec 9, 2019 at 7:59 AM Marcos Vital (LEQ-UFAL) <
notifications@github.com> wrote:

[2019-12-10 14:01] SuperKam91 commented on #1809
Hi @zhampel I will ensure down the road that the code is full pep8 compliant (including comment/docstring lines), even if I do this process gradually, rather than all at once.

Thanks again for taking the time to do the review. Also thank you to @ziotom78 for his review, and to @mbobra for overseeing everything.

[2019-12-10 14:08] bede commented on #1915
The minor points I raised before have been addressed, and the tool now installs with a single command. Everything looks great from here.

[2019-12-10 14:17] csherwood-usgs commented on #1890
I also recommend accepting the submission as it now stands.

[2019-12-10 14:20] Shibabrat commented on #1684
@kthyng @dpsanders and @JoshKarpel we have made some recent updates to the documentation and tests (this is available in the test directory as tests.ipynb) that are compatible with the module structure of the methods.

The correctness test will soon be restructured as an assert test along with the visual comparison (at the moment).

API documentation will feature example code snippets and referenc

[2019-12-10 14:28] aureliocarnero commented on #1881
After checking all the issues, I consider this publication is ready for submission and publication to JOSS

[2019-12-10 15:25] majensen commented on #1919
Hi @dgasmith - would you be willing to review this submission to [JOSS](https://joss.theoj.org)?

[2019-12-10 16:14] danielskatz commented on #1928
👋 @martindurant - can I ask you again if you would be willing to be a reviewer?

[2019-12-10 16:19] danielskatz commented on #1844
@marksantcroos  - any update?

[2019-12-10 16:25] mgckind commented on #1881
I've started with the review. I should be done by today/tomorrow.

[2019-12-10 16:39] jmlarson1 commented on #1716
I have no further concerns.

[2019-12-10 16:43] JoshKarpel commented on #1684
I submitted some new issues with high-level feedback on the docs.

The tests are moving in the right direction; very happy to hear that you'll be able to do an actual assertion. There should be some information in the README about how to run the tests and how to do any manual verification, but that can wait until the structure settles down.

[2019-12-10 17:28] marcosvital commented on #1908
Great, let's check it out!

[2019-12-10 17:29] marcosvital commented on #1908
@whedon generate pdf

[2019-12-10 17:29] whedon commented on #1908
[code]

[2019-12-10 17:29] whedon commented on #1908
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01908/joss.01908/10.21105.joss.01908.pdf)

[2019-12-10 17:33] marcosvital commented on #1908
@cddesja , I think that everything is fine with the proof now. Please take a look, and we can jump to review as soon as you say we are ready.

[2019-12-10 17:35] cddesja commented on #1908
Can you recompile it? I updated the text for Figure 2 and forgot to push it
to GitHub and itshould be current there now.

On Tue, Dec 10, 2019 at 12:34 PM Marcos Vital (LEQ-UFAL) <
notifications@github.com> wrote:

[2019-12-10 17:36] marcosvital commented on #1908
Yep, no problem.

[2019-12-10 17:36] marcosvital commented on #1908
@whedon generate pdf

[2019-12-10 17:36] whedon commented on #1908
[code]

[2019-12-10 17:36] whedon commented on #1908
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01908/joss.01908/10.21105.joss.01908.pdf)

[2019-12-10 17:41] kyleniemeyer commented on #1762
@whedon generate pdf

[2019-12-10 17:41] whedon commented on #1762
[code]

[2019-12-10 17:42] whedon commented on #1762
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01762/joss.01762/10.21105.joss.01762.pdf)

[2019-12-10 17:44] marcosvital commented on #1908
@cddesja , new version is ready for you to check.

[2019-12-10 17:46] zhampel commented on #1656
@terrytangyuan Yes, I'll chip away at this during this week, as NeurIPS is taking most of my time ;) I'll get back by the end of the week.

[2019-12-10 17:49] kyleniemeyer commented on #1762
LGTM.

[2019-12-10 17:49] kyleniemeyer commented on #1762
@whedon accept

[2019-12-10 17:49] whedon commented on #1762
[code]

[2019-12-10 17:50] whedon commented on #1762
[code]

[2019-12-10 17:50] whedon commented on #1762
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1167

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1167, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-10 17:52] cddesja commented on #1908
@marcosvital, looks good to me.

[2019-12-10 17:55] marcosvital commented on #1908
Great, I'll start the review. this issue will be closed, and we will begin to communicate at the new issue that will be created by Whedon.

[2019-12-10 17:55] marcosvital commented on #1908
@whedon start review

[2019-12-10 17:55] whedon opened #1941 "[REVIEW]: profileR: An R package for profile analysis"
**Submitting author:** @cddesja (<a href="http://orcid.org/0000-0002-8234-9665">Christopher Desjardins</a>)
**Repository:** <a href="https://github.com/cddesja/profileR" target ="_blank">https://github.com/cddesja/profileR</a>
**Version:** v0.3-6
**Editor:** @marcosvital
**Reviewers:** @wjakethompson, @jrosen48
**Archive:** <a href="https://doi.org/10.5281/zenodo.3711046" target="_blank">10.5281/z

[2019-12-10 17:55] whedon commented on #1908
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1941. Feel free to close this issue now!

[2019-12-10 17:55] whedon commented on #1941
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wjakethompson, @jrosen48, @markhwhiteii  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a review

[2019-12-10 17:55] whedon commented on #1941
[code]

[2019-12-10 17:55] whedon commented on #1941
[code]

[2019-12-10 17:55] whedon commented on #1941
[code]

[2019-12-10 17:55] whedon commented on #1941
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01941/joss.01941/10.21105.joss.01941.pdf)

[2019-12-10 17:57] #1908 closed

[2019-12-10 18:19] dgasmith commented on #1919
@majensen Yes, happy to review the submission.

[2019-12-10 18:29] kyleniemeyer commented on #1762
@whedon accept deposit=true

[2019-12-10 18:29] whedon commented on #1762
[code]

[2019-12-10 18:30] whedon commented on #1762
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1204468509926969345) 👈 🐦🐦🐦

[2019-12-10 18:30] whedon commented on #1762
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1168
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01762](https://doi.org/10.21105/joss.01762)
2. If everything looks g

[2019-12-10 19:17] likask commented on #1441
@vijaysm We starting work on postprocessing documentation (and other suggestions). Link to MoAB documentation is fixed.

@jedbrown what about two remaining reviewers?

[2019-12-10 19:18] kyleniemeyer commented on #1762
Congrats  @lskatz on your article's publication in JOSS!

Many thanks to @luizirber and @standage for reviewing, and  @csoneson for editing.

[2019-12-10 19:18] #1762 closed

[2019-12-10 19:18] whedon commented on #1762
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01762/status.svg)](https://doi.org/10.21105/joss.01762)

**We need your help!**

Journal of Open Source Softwa

[2019-12-10 19:44] jedbrown commented on #1441
@chrisrichardson @Kevin-Mattheus-Moerman :wave: Could you please have a look at the remaining items on your checklist and let us know what requests you may have in order to check those?

[2019-12-10 19:46] lskatz commented on #1762
Thank you @kyleniemeyer @csoneson @luizirber and @standage !!

[2019-12-10 20:15] mbobra commented on #1809
@SuperKam91 I appreciate your effort; I think pep8 compliance would make the code much more legible. Could you please [archive your release on Zenodo](https://guides.github.com/activities/citable-code/) to obtain a DOI and then put that in your README.md file? Please make sure the title and author list of the Zenodo entry match the title and author list of the JOSS paper. Thank you!

[2019-12-10 21:53] majensen commented on #1919
@whedon assign @dgasmith as reviewer

[2019-12-10 21:53] whedon commented on #1919
OK, the reviewer is @dgasmith

[2019-12-10 22:06] computron commented on #1919
Hey @majensen , sorry but I am unable to perform this review

[2019-12-10 22:12] dgasmith commented on #1919
@computron /wave!

I could also suggest @mkhorton.

[2019-12-10 22:23] mkhorton commented on #1919
I'd be happy to take a look at this, I can't make a strong commitment on time however.

[2019-12-10 22:49] SuperKam91 commented on #1809
Done!

[2019-12-10 23:23] mllg commented on #1903
I've released version 0.1.5 on GitHub (https://github.com/mlr-org/mlr3/releases/tag/v0.1.5) and CRAN (https://cran.r-project.org/package=mlr3). The GitHub release is uploaded to Zenodo with DOI 10.5281/zenodo.3569963: https://zenodo.org/record/3569963

[2019-12-10 23:40] taqtiqa-mark commented on #1591
Apologies.  One of my parents has just died and am dealing with that - likely two weeks.

[2019-12-11 00:04] terrytangyuan commented on #1903
@whedon set v0.1.5 as version

[2019-12-11 00:04] whedon commented on #1903
OK. v0.1.5 is the version.

[2019-12-11 00:05] terrytangyuan commented on #1903
@whedon set 10.5281/zenodo.3569963 as archive

[2019-12-11 00:05] whedon commented on #1903
OK. <a href="https://doi.org/10.5281/zenodo.3569963" target="_blank">10.5281/zenodo.3569963</a> is the archive.

[2019-12-11 00:05] terrytangyuan commented on #1903
@whedon accept

[2019-12-11 00:05] whedon commented on #1903
[code]

[2019-12-11 00:06] whedon commented on #1903
[code]

[2019-12-11 00:06] whedon commented on #1903
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1169

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1169, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-11 00:32] 0todd0000 commented on #1870
@trallard
Oops!  Sorry about that, the author list is now updated at Zenodo.

[2019-12-11 00:56] terrytangyuan commented on #1903
@openjournals/joss-eics The paper looks good to me now! Could you take it from here?

[2019-12-11 01:04] majensen commented on #1919
Thanks for your response @computron -
@mkhorton - thx - what would be a workable timeline for you?

[2019-12-11 01:10] ryanpmcg commented on #1930
@kbarnhart how should R packages used in WEPPCLIFF be given credit? Right now they are listed in the WEPPCLIFF documentation (acknowledgements). Should they also be listed in the paper somewhere?

[2019-12-11 01:49] mkhorton commented on #1919
Hopefully within the next two weeks but it's difficult to guarantee with
the holidays.

On Tue, Dec 10, 2019 at 5:04 PM Mark Jensen <notifications@github.com>
wrote:

[2019-12-11 01:50] pythonpanda2 commented on #1858
@majensen

This might be  out of my area of expertise.

[2019-12-11 02:36] majensen commented on #1919
@mkhorton understood. I will start the review, but @raullaasner I expect we all will be off and on until 1 Jan - does this sound ok?

[2019-12-11 02:36] majensen commented on #1919
@whedon add @mkhorton as reviewer

[2019-12-11 02:36] whedon commented on #1919
OK, @mkhorton is now a reviewer

[2019-12-11 02:48] majensen commented on #1858
@pythonpanda2  - much appreciated. My intuition (correct me if I'm wrong @benjaminbolling ) is this work addresses a need for a UI in a highly specialized field -- which makes it cool IMO and suitable for the journal-- and it's really the UI functionality and the packaging that would take up the bulk of the review. The package has a "dummy backend" (Randomizer - see [comment above](https://github.

[2019-12-11 02:51] majensen commented on #1858
(@benjaminbolling -- I see you asked a question about reviewers with Qt experience. I have some passing familiarity with it; if we need some hardcore expertise, I'm confident we can find it.)

[2019-12-11 02:52] majensen commented on #1858
@whedon add @pythonpanda2 as reviewer

[2019-12-11 02:52] whedon commented on #1858
OK, @pythonpanda2 is now a reviewer

[2019-12-11 02:56] majensen commented on #1858
@whedon start review

[2019-12-11 02:56] whedon opened #1942 "[REVIEW]: The DynaGUI package"
**Submitting author:** @benjaminbolling (<a href="http://orcid.org/0000-0002-6650-5365">Benjamin Edward Bolling</a>)
**Repository:** <a href="https://github.com/benjaminbolling/DynaGUI" target ="_blank">https://github.com/benjaminbolling/DynaGUI</a>
**Version:** v1.0.1
**Editor:** @majensen
**Reviewer:** @Chilipp, @pythonpanda2
**Archive:** <a href="https://doi.org/10.5281/zenodo.4396227" target="

[2019-12-11 02:56] whedon commented on #1858
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1942. Feel free to close this issue now!

[2019-12-11 02:56] whedon commented on #1942
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Chilipp, @pythonpanda2 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-12-11 02:56] whedon commented on #1942
[code]

[2019-12-11 02:56] whedon commented on #1942
[code]

[2019-12-11 02:57] whedon commented on #1942
[code]

[2019-12-11 02:57] whedon commented on #1942
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01942/joss.01942/10.21105.joss.01942.pdf)

[2019-12-11 02:57] majensen commented on #1858
All - our trusty bot has begun the review issue at #1942 ; please join the conversation there.

[2019-12-11 02:57] #1858 closed

[2019-12-11 04:43] khdusenbury commented on #1915
@will-rowe Took me a bit to figure out Zenodo, but I think we have it archived properly. We archived version 0.1.1. and the DOI is 10.5281/zenodo.3569587. This is my first time working with Zenodo, so please let me know if there's anything I need to fix!

[2019-12-11 05:56] csoneson commented on #1916
Ping @mskwark, @semacu

[2019-12-11 07:54] benoit-combes commented on #1862
@janfreyberg @neuroimaginador. Thanks for accepted to review my work and for your first inputs. If I can do anything that may help you in the reviewing process, please let me know.

[2019-12-11 10:01] xuanxu commented on #1771
@wtgee Just a friendly ping here.

[2019-12-11 10:11] will-rowe commented on #1915
@whedon set 10.5281/zenodo.3569587 as archive

[2019-12-11 10:11] whedon commented on #1915
OK. <a href="https://doi.org/10.5281/zenodo.3569587" target="_blank">10.5281/zenodo.3569587</a> is the archive.

[2019-12-11 10:12] will-rowe commented on #1915
@whedon set 0.1.1 as version

[2019-12-11 10:12] whedon commented on #1915
OK. 0.1.1 is the version.

[2019-12-11 10:12] will-rowe commented on #1915
Thanks @khdusenbury  - looks good

[2019-12-11 10:13] will-rowe commented on #1915
Hey @openjournals/joss-eics - this is good to go. Thanks everyone

[2019-12-11 10:17] will-rowe commented on #1939
Hi @ChrisRackauckas and @leios - would you please be able to review this submission for us?

[2019-12-11 10:19] leios commented on #1939
Hey @will-rowe I can do it next week, if that works for everyone

[2019-12-11 10:20] drvinceknight commented on #1922
@corybrunson I realise that this is a python package and not R but your knowledge of geometry could be nonetheless helpful here in reviewing. Would you be able to take a look at the paper and let me know if you might be able to review?

[2019-12-11 10:21] will-rowe commented on #1939
Perfect - thanks a lot @leios. Next week is great. Once we've got a second reviewer, I can move this submission into review.

[2019-12-11 10:22] drvinceknight commented on #1922
@EduPH would you consider reviewing this paper on a topic called "Wulff Constructions", I'm not 100 familiar but I believe your familiarity with algebraic topology could be relevant here. Let me know your thoughts.

[2019-12-11 10:24] drvinceknight commented on #1922
@mzszym is this paper on a modelling technique of nanoparticles something you could review?

EDIT: If you have not reviewed for JOSS before there is documentation here https://joss.readthedocs.io/en/latest/reviewer_guidelines.html and I'd be very happy to assist in any way I can.

[2019-12-11 10:24] ChrisRackauckas commented on #1939
Hi, I will not be able to.

[2019-12-11 10:25] drvinceknight commented on #1922
@jarvist would you be able to review this paper on nanoparticles?

If you have not reviewed for JOSS before there is documentation here https://joss.readthedocs.io/en/latest/reviewer_guidelines.html and I'd be very happy to assist in any way I can.

[2019-12-11 10:26] will-rowe commented on #1939
No worries @ChrisRackauckas - thanks for letting me know quickly

[2019-12-11 10:27] will-rowe commented on #1939
Hi @ninjin - would you please be able to review this submission for us?

[2019-12-11 12:18] corybrunson commented on #1922
@drvinceknight thank you for the invitation! The package does look interesting. I can't commit the time this or next week, but if reviewers are still sought then i can check back next weekend.

[2019-12-11 12:48] mzszym commented on #1922
@drvinceknight : I think I could review it as well. The code looks OK and also I im in the domain (solid state physicist) by training. If I do it, what is the expected dead-line to report?

[2019-12-11 13:52] whedon commented on #1326
:wave: @Amudtogal, please update us on how things are progressing here.

[2019-12-11 15:58] martindurant commented on #1928
Alright, I'll have a little look

[2019-12-11 16:12] danielskatz commented on #1928
Thanks - I'll add you and we can start the review

[2019-12-11 16:12] danielskatz commented on #1928
@whedon add @martindurant as reviewer

[2019-12-11 16:12] whedon commented on #1928
OK, @martindurant is now a reviewer

[2019-12-11 16:12] danielskatz commented on #1928
@whedon start review

[2019-12-11 16:12] whedon opened #1943 "[REVIEW]: Pooch: A friend to fetch your data files"
**Submitting author:** @leouieda (<a href="http://orcid.org/0000-0001-6123-9515">Uieda, L</a>)
**Repository:** <a href="https://github.com/fatiando/pooch" target ="_blank">https://github.com/fatiando/pooch</a>
**Version:** v0.7.1
**Editor:** @danielskatz
**Reviewer:** @hmaarrfk, @martindurant
**Archive:** <a href="https://doi.org/10.5281/zenodo.3611376" target="_blank">10.5281/zenodo.3611376</a>

[2019-12-11 16:12] whedon commented on #1928
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1943. Feel free to close this issue now!

[2019-12-11 16:12] whedon commented on #1943
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hmaarrfk, @martindurant it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-12-11 16:12] whedon commented on #1943
[code]

[2019-12-11 16:12] whedon commented on #1943
[code]

[2019-12-11 16:12] danielskatz commented on #1928
We'll move over to #1934 now...

[2019-12-11 16:12] #1928 closed

[2019-12-11 16:12] whedon commented on #1943
[code]

[2019-12-11 16:13] whedon commented on #1943
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01943/joss.01943/10.21105.joss.01943.pdf)

[2019-12-11 16:21] danielskatz commented on #1943
👋 @hmaarrfk & @martindurant - here we are in the review thread

As I think you know you, your job now is go through the paper and repository and check off boxes in your checklist

Also please be sure to read the prior comments in this issue

[2019-12-11 16:22] danielskatz commented on #1943
Also, thanks for agreeing to review!

[2019-12-11 16:28] gus0k commented on #1591
@taqtiqa-mark I am very sorry to hear this. Please, take all the time you need.

[2019-12-11 17:22] sappelhoff commented on #1896
Dear @jdkent and @TomDonoghue we believe that all your valuable feedback has now been addressed. We took extra care to cross link from each of your raised issues to the PRs solving them, so the progress should be thoroughly documented on GitHub.

Thanks again for your reviews - this has really improved our current status with the package!

[2019-12-11 17:22] sappelhoff commented on #1896
and thanks @arokem for organizing the review so far! :-)

[2019-12-11 17:37] alexhanna commented on #1591
Sorry to hear this, @taqtiqa-mark. Yes, please take your time.

[2019-12-11 17:43] EduPH commented on #1922
@drvinceknight Hi! If I am still needed I can :)

[2019-12-11 18:11] kyleniemeyer commented on #1903
looks good to me too!

[2019-12-11 18:11] kyleniemeyer commented on #1903
@whedon accept deposit=true

[2019-12-11 18:11] whedon commented on #1903
[code]

[2019-12-11 18:12] whedon commented on #1903
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1204826305499451393) 👈 🐦🐦🐦

[2019-12-11 18:12] whedon commented on #1903
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1170
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01903](https://doi.org/10.21105/joss.01903)
2. If everything looks g

[2019-12-11 18:19] kyleniemeyer commented on #1903
Congrats @mllg on your article's publication in JOSS!

Many thanks to @nhejazi and @osorensen for reviewing, and  @terrytangyuan for editing.

[2019-12-11 18:19] #1903 closed

[2019-12-11 18:19] whedon commented on #1903
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01903/status.svg)](https://doi.org/10.21105/joss.01903)

**We need your help!**

Journal of Open Source Softwa

[2019-12-11 18:21] mbobra commented on #1809
@whedon generate pdf

[2019-12-11 18:21] whedon commented on #1809
[code]

[2019-12-11 18:21] whedon commented on #1809
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01809/joss.01809/10.21105.joss.01809.pdf)

[2019-12-11 18:22] kyleniemeyer commented on #1915
@whedon generate pdf

[2019-12-11 18:22] whedon commented on #1915
[code]

[2019-12-11 18:23] TomDonoghue commented on #1896
@whedon generate pdf

[2019-12-11 18:23] whedon commented on #1915
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01915/joss.01915/10.21105.joss.01915.pdf)

[2019-12-11 18:23] whedon commented on #1896
[code]

[2019-12-11 18:23] whedon commented on #1896
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01896/joss.01896/10.21105.joss.01896.pdf)

[2019-12-11 18:24] kyleniemeyer commented on #1915
Hi @jbloom, I'm the Associate Editor-in-Chief on duty this week, so I'm going to do the final checks on your submission and then publish.

First off, can you edit the Zenodo entry metadata so that the title and authors match the submission? You can edit those without affecting the DOI.

[2019-12-11 18:24] mbobra commented on #1809
@whedon check references

[2019-12-11 18:24] whedon commented on #1809
[code]

[2019-12-11 18:24] whedon commented on #1809
[code]

[2019-12-11 18:27] martindurant commented on #1943
What is the usual timeframe for this process?

[2019-12-11 18:29] TomDonoghue commented on #1896
Thank you @sappelhoff for all the detailed responses and clear linking between comments and PRs - I've been able to follow along clearly with all the updates to all the points, and everything looks great to me!

I think this is a great package in great shape! I have ticked of my remaining review points, and from my end I absolutely think this project / paper is good to be published in JOSS.

[2019-12-11 18:32] mbobra commented on #1809
@SuperKam91 Could you please include DOIs for all your references? So for example, the first entry in paper.bib would look like this:

[code]

Thank you 😄

[2019-12-11 18:36] danielskatz commented on #1943
normally a couple of weeks, but with the December holidays, a bit longer is fine

[2019-12-11 18:46] kbarnhart commented on #1930
@ryanpmcg

1. I think your approach to adding a testing component to this repository is a good one. Thanks for adding that. Now the repository will be prepared for the reviewers to test the ability to test WEPPCLIFF.

2. If it is possible to cite those packages, I would recommend citing them in the paper. If not, I suspect that your approach thus far is good.

3. I've found one reviewer for this p

[2019-12-11 18:48] kbarnhart commented on #1930
@whedon assign @frengers as reviewer

[2019-12-11 18:48] whedon commented on #1930
OK, the reviewer is @frengers

[2019-12-11 18:50] kbarnhart commented on #1930
@frengers. Thanks for agreeing to review this. The review process is a bit different than other academic journals. The streamlined [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on GitHub and focuses on the software and a [very short paper](https://github.com/openjournals/joss-papers/blob/joss.01887/joss.01887/10.21105.joss.01887.pdf).

This here is a

[2019-12-11 18:59] khdusenbury commented on #1915
@kyleniemeyer I think I successfully updated the author and title information in the latest PR. Thanks for handling the submission and please let me know if there are other changes to make.

[2019-12-11 19:19] kyleniemeyer commented on #1915
@khdusenbury did you make the change at Zenodo? At https://doi.org/10.5281/zenodo.3569587 they look unchanged.

[2019-12-11 20:10] khdusenbury commented on #1915
Whoops, I had just made the change in the repo. I think the changes should be on Zenodo now (and the repo `.zenodo.json` metadata file has been updated to match Zenodo).

[2019-12-11 20:11] SwathiSheshadri commented on #1849
Thank you for closing the issues @sreschechtko
I have addressed the open issue #3 as well as the minor comments in the latest release of pose3d (v2.1.0).
The plotting function has been updated to allow feature annotation along with plotting video frames/images used for 2D tracking recorded from primary camera. Alternatively, make_illustrative_movie.m helper function is now updated to allow users t

[2019-12-11 20:33] kyleniemeyer commented on #1915
@whedon accept

[2019-12-11 20:33] whedon commented on #1915
[code]

[2019-12-11 20:33] whedon commented on #1915
[code]

[2019-12-11 20:34] whedon commented on #1915
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1171

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1171, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-11 21:24] jdkent commented on #1896
Thanks @sappelhoff! All the issues I raised were followed up on and all of them have reached a satisfactory conclusion. I have happily checked off all remaining tick marks.

Another :+1: from me for publishing this project in JOSS.

[2019-12-11 23:25] kyleniemeyer commented on #1915
@whedon accept deposit=true

[2019-12-11 23:25] whedon commented on #1915
[code]

[2019-12-11 23:26] whedon commented on #1915
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1204905309665464320) 👈 🐦🐦🐦

[2019-12-11 23:26] whedon commented on #1915
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1172
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01915](https://doi.org/10.21105/joss.01915)
2. If everything looks g

[2019-12-11 23:54] kyleniemeyer commented on #1915
Congrats @jbloom and @khdusenbury on your article's publication in JOSS!

Many thanks to @bede and @afrubin for reviewing, and @will-rowe for editing.

[2019-12-11 23:54] #1915 closed

[2019-12-11 23:54] whedon commented on #1915
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01915/status.svg)](https://doi.org/10.21105/joss.01915)

**We need your help!**

Journal of Open Source Softwa

[2019-12-12 02:26] lgeiger commented on #1746
@whedon generate pdf

[2019-12-12 02:26] whedon commented on #1746
[code]

[2019-12-12 02:26] whedon commented on #1746
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01746/joss.01746/10.21105.joss.01746.pdf)

[2019-12-12 02:32] lgeiger commented on #1746
Thanks for the comments, I tired to update the references to refer to the conference versions.

I don't think that is entirely true. The examples of self-driving cars or autonomous drones are not really possible with data center based networks due to latency or privacy constraints.

[2019-12-12 03:17] arokem commented on #1896
Yep - looks great. I added a small suggestion to language in https://github.com/mne-tools/mne-bids/pull/333.

Once that's merged or closed, could you please:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service
- [ ] Check the Zenodo deposit has the correct metadata, this includes th

[2019-12-12 03:20] arokem commented on #1921
:wave: @nmoran : would you be willing to review this  paper for JOSS?

[2019-12-12 03:20] arokem commented on #1921
:wave: @zoomelectrico: would you be willing to review this paper for JOSS?

[2019-12-12 06:06] mgckind commented on #1881
@brittonsmith , @xuanxu.  I'm sorry again for being late but here I am.
Great package and nice documentation, I went through every point, I checked aurelio's comments and installed and used `ytree`. Everything looks good to me.
 I've created 2 issues in the original repo in regards to the [paper](https://github.com/ytree-project/ytree/issues/36) and some [functionalities](https://github.com/ytree-

[2019-12-12 09:01] drvinceknight commented on #1922
Thank you all, if it's ok I'd appreciate all of your reviews on this one (I think the various disciplines and specialities will complement each other and help arrive at a great paper).

In terms of deadline, @mzszym I understand how busy anyone is so anything over the next month or so would be great but if that's not going to be possible that's ok just let me know.

[2019-12-12 09:02] drvinceknight commented on #1922
@whedon set @EduPH as reviewer

[2019-12-12 09:03] drvinceknight commented on #1922
@whedon assign @EduPH as reviewer

[2019-12-12 09:03] whedon commented on #1922
OK, the reviewer is @EduPH

[2019-12-12 09:03] drvinceknight commented on #1922
@whedon add @mzszym as reviewer

[2019-12-12 09:03] whedon commented on #1922
OK, @mzszym is now a reviewer

[2019-12-12 09:04] drvinceknight commented on #1922
@whedon add @corybrunson as reviewer

[2019-12-12 09:04] whedon commented on #1922
OK, @corybrunson is now a reviewer

[2019-12-12 09:04] drvinceknight commented on #1922
@whedon start review

[2019-12-12 09:04] whedon opened #1944 "[REVIEW]: WulffPack: A Python package for Wulff constructions"
**Submitting author:** @magnusrahm (<a href="http://orcid.org/0000-0002-6777-0371">Magnus Rahm</a>)
**Repository:** <a href="https://gitlab.com/materials-modeling/wulffpack" target ="_blank">https://gitlab.com/materials-modeling/wulffpack</a>
**Version:** v1.1
**Editor:** @drvinceknight
**Reviewer:** @EduPH, @mzszym, @corybrunson
**Archive:** <a href="https://doi.org/10.5281/zenodo.3600252" target

[2019-12-12 09:04] whedon commented on #1922
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1944. Feel free to close this issue now!

[2019-12-12 09:04] whedon commented on #1944
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @EduPH, @mzszym, @corybrunson it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're p

[2019-12-12 09:04] whedon commented on #1944
[code]

[2019-12-12 09:04] whedon commented on #1944
[code]

[2019-12-12 09:04] whedon commented on #1944
PDF failed to compile for issue #1944 with the following error:

 Can't find any papers to compile :-(

[2019-12-12 09:05] drvinceknight commented on #1922
The review will take place on #1944, there is a checklist there for each of the reviewers. If there's anything at all that I can assist with please let me know.

[2019-12-12 09:05] #1922 closed

[2019-12-12 09:06] drvinceknight commented on #1944
@whedon generate pdf from branch joss-pape

[2019-12-12 09:06] whedon commented on #1944
[code]

[2019-12-12 09:06] whedon commented on #1944
PDF failed to compile for issue #1944 with the following error:

 error: pathspec 'joss-pape' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2019-12-12 09:06] drvinceknight commented on #1944
@whedon generate pdf from branch joss-paper

[2019-12-12 09:06] whedon commented on #1944
[code]

[2019-12-12 09:07] whedon commented on #1944
[code]

[2019-12-12 09:07] whedon commented on #1944
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01944/joss.01944/10.21105.joss.01944.pdf)

[2019-12-12 09:11] will-rowe commented on #1939
Hi @ionlights - would you please be able to review this submission?

[2019-12-12 09:12] whedon commented on #1917
:wave: @alexanderfurnas, please update us on how your review is going.

[2019-12-12 09:12] whedon commented on #1917
:wave: @trallard, please update us on how your review is going.

[2019-12-12 12:44] tomalrussell commented on #1911
@whedon generate pdf

[2019-12-12 12:44] whedon commented on #1911
[code]

[2019-12-12 12:44] whedon commented on #1911
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01911/joss.01911/10.21105.joss.01911.pdf)

[2019-12-12 13:00] ManuelaS commented on #1830
**Review**
Apologies for the delay to getting to this review.
I enjoyed reading through the manuscript and using MatSurv. MatSurv is well-written, easy to “install” and use, has good documentation and offers plenty of options to tailor Kaplan-Meier plots to the specific study needs. I believe MatSurv will be a useful addition for the MATLAB community.

**Below some suggestions:**

- Survival analy

[2019-12-12 13:14] LRydin commented on #1693
Dear @kthyng,

I think we should proceed. I'll stick with the ArXiv version of the paper, as in the end the doi of the final publication is likely to also be linked to the same (ArXiv) doi. Should I alter the reference and include *in press* and the journal's name (Phys. Rev. E.)?

On another note, thank you @dawbarton and @Shibabrat for the reviews, the paper and the library are certainly looking

[2019-12-12 13:31] sbrugman commented on #1746
Let me clarify. The introduction appears unclear to me, when reading it for the first time. Most of the information you want to convey is there (you might want to add the latency or privacy constaints that you mention), though the information ordering is confusing to me.

The paper starts off with a lot to process, in my opinion. The first sentence implies that deep learning currently happends ins

[2019-12-12 14:26] majensen commented on #1919
Applying the tacit approval principle, I will start this review. Thanks all.

[2019-12-12 14:26] majensen commented on #1919
@whedon start review

[2019-12-12 14:26] whedon opened #1945 "[REVIEW]: MatD3: A Database and Online Presentation Package for Research Data Supporting Materials Discovery, Design, and Dissemination"
**Submitting author:** @raullaasner (<a href="http://orcid.org/0000-0002-9714-1189">Raul Laasner</a>)
**Repository:** <a href="https://github.com/HybriD3-database/MatD3" target ="_blank">https://github.com/HybriD3-database/MatD3</a>
**Version:** v1
**Editor:** @majensen
**Reviewer:** @dgasmith, @mkhorton
**Archive:** <a href="https://doi.org/10.5281/zenodo.3609195" target="_blank">10.5281/zenodo.3

[2019-12-12 14:26] whedon commented on #1919
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1945. Feel free to close this issue now!

[2019-12-12 14:26] whedon commented on #1945
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dgasmith, @mkhorton it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-12-12 14:26] whedon commented on #1945
[code]

[2019-12-12 14:26] whedon commented on #1945
[code]

[2019-12-12 14:26] #1919 closed

[2019-12-12 14:26] whedon commented on #1945
[code]

[2019-12-12 14:27] whedon commented on #1945
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01945/joss.01945/10.21105.joss.01945.pdf)

[2019-12-12 14:38] ryanpmcg commented on #1930
@kbarnhart in response to your three points:

1. Thank you. The tests are different for each system, and I do not know enough to make them identical for each. The OSX test is the better one (and the system I use most often). The Windows check does not use checksums because there are slight differences in the binary files produced in windows versus OSX from the same R code. So I just check the main

[2019-12-12 15:35] brittonsmith commented on #1881
@whedon generate pdf

[2019-12-12 15:35] whedon commented on #1881
[code]

[2019-12-12 15:35] whedon commented on #1881
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01881/joss.01881/10.21105.joss.01881.pdf)

[2019-12-12 15:37] fonsocarre commented on #1885
@whedon generate pdf

[2019-12-12 15:37] whedon commented on #1885
[code]

[2019-12-12 15:38] whedon commented on #1885
PDF failed to compile for issue #1885 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.-10d38b739308f138/686c07f142856d364b54fcb193b3058840e96c03.shtml': Cannot load file
  Jpeg Invalid marker used
  PNG Invalid PNG file, signature broken
  Bitmap Invalid Bitmap magic identifier
  GIF Invalid Gif signature :

  HDR Invalid radiance file signature
  Tiff Invalid endian ta

[2019-12-12 15:45] fonsocarre commented on #1885
@whedon generate pdf

[2019-12-12 15:45] whedon commented on #1885
[code]

[2019-12-12 15:45] whedon commented on #1885
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01885/joss.01885/10.21105.joss.01885.pdf)

[2019-12-12 15:46] casperdcl commented on #1746
- (minor) not sure about authorship; it seems that if the larq team is fine with the current paper's author list then this should not be a problem - but I can't see any confirmation of this.
- the "statement of need" in the paper is titled "Encouraging reproducible research in `larq/zoo`. This sounds more like text than a title. It should be moved to the text and a more explicit title ("Statement

[2019-12-12 16:03] ngoiz commented on #1885
Hi all,

We have now released SHARPy v1.1 which includes all the comments from the review process. It is archived in Zenodo https://zenodo.org/record/3572512 with DOI: 10.5281/zenodo.3572512

That is the version specific DOI. The concept DOI is 10.5281/zenodo.3531965

Thanks again for your reviews and suggestions!

[2019-12-12 16:49] fonsocarre commented on #1885
I just wanted to thank you all for the constructive suggestions and the positive tone of the review process. SHARPy now is much easier to use than when we submitted. If there's some aero-related software and you need a reviewer, give me a shout, I'll be happy to contribute.

[2019-12-12 16:58] elyiorgos commented on #1663
Hi @lheagy,

Based on the above passing I went ahead and made a new release (0.2.21) and archived it at zenodo with DOI: 10.5281/zenodo.3572581

I made sure the title of the archive matches the title of the paper and that the authors of the archive match the authors of the paper.

Please let me know if everything looks good and if there's anything else for me to take care of. Thank you!

Best,
Yio

[2019-12-12 17:03] petebachant commented on #1885
Happy to do it, and thank you for releasing your work as open source!

[2019-12-12 17:17] kthyng commented on #1935
Just a quick note to reviewers @dvalters, @nicgaspar that this is where the review is to take place. Thanks!

[2019-12-12 17:20] rafmudaf commented on #1885
Likewise, I'm happy to be a part of the process. Keep up the good work!

[2019-12-12 17:21] kthyng commented on #1684
@Shibabrat Looks like your documentation should be your main focus now.

[2019-12-12 17:25] kthyng commented on #1693
@LRydin Yes that change sounds appropriate. Let me know when you're done and we can proceed.

[2019-12-12 17:32] whedon opened #1946 "[PRE REVIEW]: CoreBreakout: Subsurface Core Images to Depth-Registered Datasets"
**Submitting author:** @rgmyr (<a href="http://orcid.org/0000-0003-2344-554X">Ross Meyer</a>)
**Repository:** <a href="https://github.com/rgmyr/corebreakout" target ="_blank">https://github.com/rgmyr/corebreakout</a>
**Version:** v0.2
**Editor:** @kbarnhart
**Reviewers:** @brendonhall, @JesperDramsch, @jessepisel

**Author instructions**

Thanks for submitting your paper to JOSS @rgmyr. **Currentl

[2019-12-12 17:32] whedon commented on #1946
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-12 17:32] whedon commented on #1946
[code]

[2019-12-12 17:32] whedon commented on #1946
[code]

[2019-12-12 17:34] whedon opened #1947 "[PRE REVIEW]: scikit-hubness: Hubness Reduction and Approximate Neighbor Search"
**Submitting author:** @VarIr (<a href="http://orcid.org/0000-0003-2216-4295">Roman Feldbauer</a>)
**Repository:** <a href="https://github.com/VarIr/scikit-hubness/" target ="_blank">https://github.com/VarIr/scikit-hubness/</a>
**Version:** v0.21.1
**Editor:** @terrytangyuan
**Reviewers:** @ryEllison, @aozorahime

**Author instructions**

Thanks for submitting your paper to JOSS @VarIr. **Currentl

[2019-12-12 17:34] whedon commented on #1947
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-12 17:34] whedon commented on #1947
[code]

[2019-12-12 17:34] whedon commented on #1947
[code]

[2019-12-12 17:34] whedon commented on #1946
PDF failed to compile for issue #1946 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1946 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd7dadefdab3/lib/whedo

[2019-12-12 17:35] whedon commented on #1947
[code]

[2019-12-12 17:35] whedon commented on #1947
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01947/joss.01947/10.21105.joss.01947.pdf)

[2019-12-12 17:35] kyleniemeyer commented on #1946
@kbarnhart could you edit this submission?

[2019-12-12 17:37] kyleniemeyer commented on #1946
@openjournals/dev any ideas why the paper won't compile? The error message is not too helpful for me.

[2019-12-12 17:38] kyleniemeyer commented on #1947
@terrytangyuan could you edit this submission?

[2019-12-12 17:39] whedon opened #1948 "[PRE REVIEW]: shapr: An R-package for explaining machine learning models with dependence-aware Shapley values"
**Submitting author:** @martinju (<a href="http://orcid.org/0000-0003-3908-5155">Martin Jullum</a>)
**Repository:** <a href="https://github.com/NorskRegnesentral/shapr" target ="_blank">https://github.com/NorskRegnesentral/shapr</a>
**Version:** v0.1.0
**Editor:** @terrytangyuan
**Reviewers:** @frycast, @expectopatronum

**Author instructions**

Thanks for submitting your paper to JOSS @martinju.

[2019-12-12 17:39] whedon commented on #1948
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-12 17:39] whedon commented on #1948
[code]

[2019-12-12 17:39] whedon commented on #1948
[code]

[2019-12-12 17:40] whedon commented on #1948
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01948/joss.01948/10.21105.joss.01948.pdf)

[2019-12-12 17:40] whedon commented on #1948
[code]

[2019-12-12 17:41] kyleniemeyer commented on #1948
@terrytangyuan sorry for the double ask, but this one looks well-suited for you to edit as well. Do you have bandwidth to edit another submission?

[2019-12-12 17:43] danielskatz commented on #1946
could be a problem with a file - is the bib file correctly named and does it exist?  or any images?

[2019-12-12 17:49] HeloiseS commented on #1940
I got a quick question: do we expect there to be an explicit list of dependencies even if the package is pip installable?

[2019-12-12 17:51] terrytangyuan commented on #1947
@whedon assign @terrytangyuan as editor

[2019-12-12 17:51] whedon commented on #1947
OK, the editor is @terrytangyuan

[2019-12-12 17:51] terrytangyuan commented on #1948
@whedon assign @terrytangyuan as editor

[2019-12-12 17:51] whedon commented on #1948
OK, the editor is @terrytangyuan

[2019-12-12 17:54] whedon opened #1949 "[PRE REVIEW]: SampleDB: A sample and measurement metadata database"
**Submitting author:** @FlorianRhiem (<a href="http://orcid.org/0000-0001-6461-9433">Florian Rhiem</a>)
**Repository:** <a href="https://github.com/sciapp/sampledb" target ="_blank">https://github.com/sciapp/sampledb</a>
**Version:** v0.8.1
**Editor:** @trallard
**Reviewers:** @eteq, @dvanic

**Author instructions**

Thanks for submitting your paper to JOSS @FlorianRhiem. **Currently, there isn't

[2019-12-12 17:54] whedon commented on #1949
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-12 17:54] whedon commented on #1949
[code]

[2019-12-12 17:54] whedon commented on #1949
[code]

[2019-12-12 17:54] whedon commented on #1949
[code]

[2019-12-12 17:55] whedon commented on #1949
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01949/joss.01949/10.21105.joss.01949.pdf)

[2019-12-12 17:55] kyleniemeyer commented on #1949
Hi @trallard, could you edit this one for us?

[2019-12-12 17:56] whedon opened #1950 "[PRE REVIEW]: Museo ToolBox : a python library for remote sensing including a new way to handle rasters."
**Submitting author:** @nkarasiak (<a href="http://orcid.org/0000-0002-1558-0816">Nicolas Karasiak</a>)
**Repository:** <a href="https://github.com/nkarasiak/MuseoToolBox" target ="_blank">https://github.com/nkarasiak/MuseoToolBox</a>
**Version:** v0.12
**Editor:** @kbarnhart
**Reviewers:** @cmillion, @mollenburger

**Author instructions**

Thanks for submitting your paper to JOSS @nkarasiak. **Cu

[2019-12-12 17:56] whedon commented on #1950
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-12 17:56] whedon commented on #1950
[code]

[2019-12-12 17:56] whedon commented on #1950
[code]

[2019-12-12 17:56] whedon commented on #1950
[code]

[2019-12-12 17:56] whedon commented on #1950
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01950/joss.01950/10.21105.joss.01950.pdf)

[2019-12-12 17:58] kyleniemeyer commented on #1950
Hi @kbarnhart, sorry for two requests today, but could you edit this one as well? With the focus on remote observations I thought it might be in your wheelhouse.

[2019-12-12 18:01] whedon opened #1951 "[PRE REVIEW]: Pubmed Parser: A Python Parser for PubMed Open-Access XML Subset and MEDLINE XML Dataset XML Dataset"
**Submitting author:** @titipata (<a href="http://orcid.org/0000-0002-2124-2979">Titipat Achakulvisut</a>)
**Repository:** <a href="https://github.com/titipata/pubmed_parser" target ="_blank">https://github.com/titipata/pubmed_parser</a>
**Version:** v0.2.1
**Editor:** @majensen
**Reviewers:** @timClicks, @tleonardi

**Author instructions**

Thanks for submitting your paper to JOSS @titipata. **Cu

[2019-12-12 18:01] whedon commented on #1951
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-12 18:01] whedon commented on #1951
[code]

[2019-12-12 18:01] whedon commented on #1951
[code]

[2019-12-12 18:01] whedon commented on #1951
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01951/joss.01951/10.21105.joss.01951.pdf)

[2019-12-12 18:01] whedon commented on #1951
[code]

[2019-12-12 18:08] kyleniemeyer commented on #1951
Hi @titipata, it looks like your article is missing DOIs for a number of the references; could you add those? Please review all the references (including their formatting), in case others are missing DOIs as well.

[2019-12-12 18:09] oxinabox commented on #1939
@ninjin would be an awesome reviewer (being a NLP researcher and a Julia dev).
But I know is incredibly busy right now.

[2019-12-12 18:11] terrytangyuan commented on #1948
:wave @martinju if you have any suggestions for potential reviewers then please mention them here in this thread. In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2019-12-12 18:11] kyleniemeyer commented on #1951
Hi @majensen, could you edit this one for us?

[2019-12-12 18:12] terrytangyuan commented on #1947
👋 @VarIr if you have any suggestions for potential reviewers then please mention them here in this thread. In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2019-12-12 18:14] titipata commented on #1951
Hi @kyleniemeyer, definitely, thank you! I added the missing DOIs and will check the other references.

[2019-12-12 18:14] kyleniemeyer commented on #1946
The bib file looks ok, but there is an image in the article: `![Figure 1](JOSS_figure_workflow.png)`

I do see a `JOSS_figure_workflow.png` in the repo, in the same location as the `paper.md`, so I'm not sure why that would cause an error.

[2019-12-12 18:17] whedon opened #1952 "[PRE REVIEW]: The MFrontGenericInterfaceSupport project"
**Submitting author:** @thelfer (<a href="http://orcid.org/0000-0003-2460-5816">Thomas Helfer</a>)
**Repository:** <a href="https://github.com/thelfer/MFrontGenericInterfaceSupport" target ="_blank">https://github.com/thelfer/MFrontGenericInterfaceSupport</a>
**Version:** v1.0.1
**Editor:** @arfon
**Reviewers:** @srmnitc, @IgorBaratta

**Author instructions**

Thanks for submitting your paper to J

[2019-12-12 18:17] whedon commented on #1952
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-12 18:17] whedon commented on #1952
[code]

[2019-12-12 18:17] whedon commented on #1952
[code]

[2019-12-12 18:18] whedon commented on #1952
PDF failed to compile for issue #1952 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1952 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd7dadefdab3/lib/whedo

[2019-12-12 18:19] whedon commented on #1952
Failed to discover a valid open source license.

[2019-12-12 18:20] kyleniemeyer commented on #1952
@openjournals/dev initially the repo link above was to the specific paper location rather than the repo itself, could that be causing these errors?

[2019-12-12 18:22] kyleniemeyer commented on #1952
Hi @thelfer, thanks for your interest in JOSS. Before we get moving on this, could you clarify how this submission is research software? It looks like it cannot be used by itself, but only by MFront, which is the actual "software" that others would use.

[2019-12-12 18:28] whedon opened #1953 "[PRE REVIEW]: DAFSA: a Python library for Deterministic Acyclic FiniteState Automata"
**Submitting author:** @tresoldi (<a href="http://orcid.org/0000-0002-2863-1467">Tiago Tresoldi</a>)
**Repository:** <a href="https://github.com/tresoldi/dafsa" target ="_blank">https://github.com/tresoldi/dafsa</a>
**Version:** v0.5.1
**Editor:** @gkthiruvathukal
**Reviewers:** @geoffbacon, @desilinguist

**Author instructions**

Thanks for submitting your paper to JOSS @tresoldi. **Currently, th

[2019-12-12 18:28] whedon commented on #1953
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-12 18:28] whedon commented on #1953
[code]

[2019-12-12 18:28] whedon commented on #1953
[code]

[2019-12-12 18:29] kyleniemeyer commented on #1953
Hi @gkthiruvathukal, can you edit this one?

[2019-12-12 18:29] whedon commented on #1953
[code]

[2019-12-12 18:30] whedon commented on #1952
[code]

[2019-12-12 18:30] whedon commented on #1953
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01953/joss.01953/10.21105.joss.01953.pdf)

[2019-12-12 18:31] kyleniemeyer commented on #1953
Hi @tresoldi, could you review the references in your article and add DOIs for those missing?

[2019-12-12 18:32] kyleniemeyer commented on #1952
@whedon generate pdf

[2019-12-12 18:32] whedon commented on #1952
[code]

[2019-12-12 18:32] whedon commented on #1952
PDF failed to compile for issue #1952 with the following error:

 [WARNING] Could not fetch resource 'img/MCAS_disc_hole_cyclic_show_axes.png%20%22Elasto-plastic%20modelling%20of%20a%20cyclically%20loaded%20cavity%20in%20a%20cohesive-frictional%20material.%22': replacing image with description
[WARNING] Could not convert image '/tmp/tex2pdf.-320c8807a51eb223/48cccc899e5145c31c90736dbafe5fbf5619bb9

[2019-12-12 18:33] whedon opened #1954 "[PRE REVIEW]: LFSpy: A Python Implementation of Local Feature Selection for Data Classification with scikit-learn Compatibility"
**Submitting author:** @kiretd (<a href="http://orcid.org/0000-0003-4849-732X">Kiret Dhindsa</a>)
**Repository:** <a href="https://github.com/McMasterRS/LFSpy" target ="_blank">https://github.com/McMasterRS/LFSpy</a>
**Version:** 1.0.0
**Editor:** @dfm
**Reviewers:** @effigies, @mnarayan

**Author instructions**

Thanks for submitting your paper to JOSS @kiretd. **Currently, there isn't an JOSS ed

[2019-12-12 18:33] whedon commented on #1954
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-12 18:33] whedon commented on #1954
[code]

[2019-12-12 18:33] whedon commented on #1954
[code]

[2019-12-12 18:33] whedon commented on #1954
[code]

[2019-12-12 18:34] whedon commented on #1954
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01954/joss.01954/10.21105.joss.01954.pdf)

[2019-12-12 18:34] kyleniemeyer commented on #1954
Hi @kiretd, could you review the references and add the missing DOIs? (Including other references that whedon may have missed)

[2019-12-12 18:34] kyleniemeyer commented on #1954
Hi @dfm, could you edit this submission for us?

[2019-12-12 18:36] titipata commented on #1951
@kyleniemeyer here is my list other potential reviewers if majensen is not available: Gweissman, stensy, timClicks, cbrueffer, ethanwhite, and skummerf

[2019-12-12 18:40] gkthiruvathukal commented on #1953
@kyleniemeyer Yes. I will assign myself, if I can!

[2019-12-12 18:41] gkthiruvathukal commented on #1953
@whedon assign @gkthiruvathukal as editor

[2019-12-12 18:41] whedon commented on #1953
OK, the editor is @gkthiruvathukal

[2019-12-12 18:53] trallard commented on #1949
Sure send this my way!

[2019-12-12 18:55] kyleniemeyer commented on #1949
@whedon assign @trallard as editor

[2019-12-12 18:55] whedon commented on #1949
OK, the editor is @trallard

[2019-12-12 19:04] LRydin commented on #1693
@whedon generate pdf

[2019-12-12 19:04] whedon commented on #1693
[code]

[2019-12-12 19:05] whedon commented on #1693
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01693/joss.01693/10.21105.joss.01693.pdf)

[2019-12-12 19:08] thelfer commented on #1952
Maybe the paper is not clear enough on this.

`MFront` generates shared library that must be called by the thermo-mechanical solvers. It is a mature project with has been described and used in many scientific papers.

The `MFrontGenericInterfaceSupportè (`MGIS`) provides tools to the solvers'developers to load those shared libraries and handle the constitutive laws generated by `MFront`. It is a r

[2019-12-12 19:09] thelfer commented on #1952
@whedon commands

[2019-12-12 19:09] LRydin commented on #1693
@whedon generate pdf

[2019-12-12 19:09] whedon commented on #1693
[code]

[2019-12-12 19:09] whedon commented on #1952
Here are some things you can ask me to do:

[code]

[2019-12-12 19:09] whedon commented on #1693
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01693/joss.01693/10.21105.joss.01693.pdf)

[2019-12-12 19:12] thelfer commented on #1952
I think I selected

Kevin-Mattheus-Moerman

when submitting the paper.

[2019-12-12 19:13] LRydin commented on #1693
Dear @kthyng,

That's that. It is ready. The last thing to do is to get the figures out of the tables and simply utilise captions... which I have no idea how it's done... Do you do that on your side, in the processing for the publication?

Best regards,
Leonardo Rydin
@fmeirinhos

[2019-12-12 19:15] thelfer commented on #1952
@kyleniemeyer  BTW, when I tried to check the generation of the paper, I got a page telling me that the build was successful but couln't dowload the pdf (file not file).

[2019-12-12 19:18] dfm commented on #1954
@kyleniemeyer sure!

[2019-12-12 19:18] dfm commented on #1954
@whedon assign @dfm as editor

[2019-12-12 19:18] whedon commented on #1954
OK, the editor is @dfm

[2019-12-12 19:21] dfm commented on #1954
@kiretd: as well as fixing the DOIs, please take a look at [this list of potential reviewers](https://bit.ly/joss-reviewers) and let me know if you see anyone who would be an especially good fit (don't @ them!). I'll start pinging reviewers in the next few days one way or another. Thanks!

[2019-12-12 19:26] kyleniemeyer commented on #1952
@thelfer regarding the image errors in the paper:
- we don't support SVG images, so please convert that one to a PDF (or something)
- I'm not sure what's causing the other error, with `MCAS_disc_hole_cyclic_show_axes.png`. That may not actually be an error, but I can't tell.

Regarding the other question, we do some initial checks before assigning an editor to handle the submission—thanks for your

[2019-12-12 19:41] thelfer commented on #1952
@whedon generate pdf

[2019-12-12 19:41] whedon commented on #1952
[code]

[2019-12-12 19:41] whedon commented on #1952
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01952/joss.01952/10.21105.joss.01952.pdf)

[2019-12-12 20:16] joelmiller commented on #1731
@danielskatz @lpantano

2 things;

- I've updated the version to 1.1 (from 1.0.8)
- I've reserved the DOI 10.5281/zenodo.3572756.  I'd like to know the final paper reference before I finalize the submission to Zenodo.  Will that be feasible?  Otherwise I'll just go ahead and submit it.

[2019-12-12 20:22] danielskatz commented on #1731
It will be https://doi.org/10.21105/joss.01731

[2019-12-12 20:22] majensen commented on #1951
@whedon assign @majensen as editor

[2019-12-12 20:22] tresoldi commented on #1953
Thank you, everyone!

I've pushed a `paper.bib` with the DOIs (commit https://github.com/tresoldi/dafsa/commit/1e3b555f00c90809d172fa45a5bdf34adf680163) and the preview is working ([here](https://res.cloudinary.com/hju22ue2k/image/upload/v1576182013/hdshcpv6jw19uz8so5fl.pdf)).

@whedon generate pdf

[2019-12-12 20:22] whedon commented on #1951
OK, the editor is @majensen

[2019-12-12 20:23] tresoldi commented on #1953
@whedon generate pdf

[2019-12-12 20:23] whedon commented on #1953
[code]

[2019-12-12 20:24] whedon commented on #1953
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01953/joss.01953/10.21105.joss.01953.pdf)

[2019-12-12 20:38] thelfer commented on #1952
@whedon generate pdf

[2019-12-12 20:38] whedon commented on #1952
[code]

[2019-12-12 20:38] titipata commented on #1951
Thanks a lot @majensen and @kyleniemeyer! Let me know if you need any help providing an extra list of suggested reviewers!

[2019-12-12 20:38] whedon commented on #1952
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01952/joss.01952/10.21105.joss.01952.pdf)

[2019-12-12 21:25] melissawm commented on #1906
Hi all, just checking in on this review. Is there anything I can help with?

[2019-12-12 21:26] melissawm commented on #1912
Hi all, just checking in to see if there's anything I can help you with.

[2019-12-12 21:30] thelfer commented on #1952
@kyleniemeyer This is fixed now.

@kyleniemeyer This is quite strange. I just put the whole figure declaration in one line and now it workds. This was not an issue with github engine nor with my version of pandoc.

Anyway, the pdf looks good now. Thank you for your help.

[2019-12-12 21:30] melissawm commented on #1865
Thank you, @dalonsoa !

If you all have anything else I can help you with, feel free to let me know.

[2019-12-12 21:44] matbesancon commented on #1912
@melissawm a bunch of issues were opened, some being "nice-to-have" improvements on the package, but some being fairly necessary to navigate through the package and understand what is going on, how to use it & for which classes of problems. My opinion is that there is a fair bit of polishing still to do but I'll let the author voice in

[2019-12-12 21:45] matbesancon commented on #1912
cc @kirui93

[2019-12-12 21:49] kirui93 commented on #1912
@matbesancon Thank you so much for mentioning that. I think I have implemented all the review comments that you had stated and that has enabled us to bump up the package. If you update to the new version, you will see that almost all the details are incorporated. What we are remaining with only is to change to use Plots.jl instead of PyPlot.jl which we will do it in some time to come as for now Py

[2019-12-12 22:08] lpantano commented on #1584
I think is ok to update the version we can update it. I would say one case example should help here, from start to tend. @olgabot, please add anything else, if any. Thanks

[2019-12-12 22:09] lpantano commented on #1731
@joelmiller, let me know when this is ready and I can update here the information.

[2019-12-12 22:10] lpantano commented on #1411
@vbarrera can you confirm all is good now?

[2019-12-12 23:42] labarba commented on #1885
@whedon set v1.1.0-2 as version

[2019-12-12 23:42] whedon commented on #1885
OK. v1.1.0-2 is the version.

[2019-12-12 23:43] labarba commented on #1885
@fonsocarre — I'm going to ask you to edit the metadata of the Zenodo deposit (no need to get new version or new DOI) so the title and author list match the JOSS paper.

[2019-12-13 00:07] kiretd commented on #1954
Hi @dfm and @kyleniemeyer, thanks for such a quick turnaround!
I've added the DOIs for all references.
Going through the list of reviewers, here are some candidates that look like a really good fit to me:
desilinguist, rougier, sealhuang, krother, ahurriyetoglu, nirum, arokem, effigies, oesteban, jsgalan, tupi, mnarayan, tianxzhu, GalenStocking, ryEllison

[2019-12-13 00:25] ninjin commented on #1939
I can do it, as long as I get two weeks to do so. That way I can clear the pre-Christmas hell first.

[2019-12-13 00:57] arfon commented on #1946
A couple of issues here:

- Whedon is likely timing out here as the repository is _very_ large (2.3GB!) even though there's only ~104MB of files present in the repository.
- Also, the bibtex has errors that I've fixed in https://github.com/rgmyr/corebreakout/pull/3

Finally, here's a copy of the paper I compiled locally: [10.21105.joss.01946.pdf](https://github.com/openjournals/joss-reviews/files/

[2019-12-13 01:00] kyleniemeyer commented on #1946
@arfon  @rgmyr wow! That is a huge repository... is the large size due to files that were removed but are in the history?

If you know the files, you can remove them from the history using this: https://help.github.com/en/github/authenticating-to-github/removing-sensitive-data-from-a-repository#purging-a-file-from-your-repositorys-history

This is likely going to continue to be an issue, not only

[2019-12-13 01:24] arfon commented on #1952
Yes, Whedon doesn't know how to handle that.

[2019-12-13 01:26] arfon commented on #1952
@thelfer - do you think you could reduce your bibtex file to only include the entries that you're actually citing in this paper?

[2019-12-13 02:41] wholmgren commented on #1865
@cdeline the license is still not quite standard BSD-3. The 3rd clause contains "the United States Government, the United States Department of Energy," and the disclaimer contains "IN NO EVENT SHALL THE COPYRIGHT HOLDER, CONTRIBUTORS, UNITED STATES GOVERNMENT OR UNITED STATES DEPARTMENT OF ENERGY, NOR ANY OF THEIR EMPLOYEES..." instead of "IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS..."

[2019-12-13 03:17] joelmiller commented on #1731
@lpantano Here you go: https://zenodo.org/record/3572756

[2019-12-13 03:23] rgmyr commented on #1946
Sounds good, thanks for the help guys. I wasn't sure what the problem was with paper compilation -- it seemed to be working via the preview service for awhile, and then it just stopped being able to compile all of the sudden.

I've merged @arfon's PR, and will look through the history to see where that extra size is coming from... I'm not sure of the top of my head, but I wouldn't be surprised if

[2019-12-13 03:26] wholmgren commented on #1865
I'm not able to install radiance with a reasonable amount of effort on MacOS. I realize this is not  really the fault of the `bifacial_radiance` developers, and @dalonsoa was able to get it done, so I don't feel comfortable holding up the review on my account. I recommend 1. improving the MacOS install instructions or dropping the claim of support and 2. finding another reviewer. Seems that @mikof