[2021-04-12 02:16] majensen commented on #2979
@Borchardt congrats! Really appreciate all your work to make this code great. @junjun-zhang, @bensonml  -- as always , thanks

[2021-04-12 03:10] kbarnhart commented on #2276
@r-barnes and @KCallaghan a friendly reminder to revisit your review of this contribution now that the author has worked to address issues raised.

[2021-04-12 03:12] kbarnhart commented on #3114
@jmansour @bzindovic @dlgeorge a friendly reminder that we are about four weeks into this review. JOSS is asking reviewers to try and complete their reviews within six weeks. Of course is this is not possible, please just keep me posted here. And if you have any questions as you work on your reviews, don't hesitate to ask.

[2021-04-12 03:16] kbarnhart commented on #3137
@giswqs, @elbeejay, and @patrickcgray thanks for your enthusiasm to review this.

@giswqs and/or @patrickcgray would either of you be able to review the `rgee` portion of the package ([described here](https://eemont.readthedocs.io/en/0.1.9/guide/eemontR.html)).

Once I confirm that someone is able to review the R portion I'll add you all as reviewers and start the main review issue.

[2021-04-12 03:38] giswqs commented on #3137
@kbarnhart Yes, I can review the rgee portion of the package.

[2021-04-12 05:35] Borchardt commented on #2979
Thanks for the congratulations, and a huge thanks back to you and our reviewers! Very much appreciate everybody's help in making this happen!

[2021-04-12 06:14] csoneson commented on #2440
ping @neuromusic

[2021-04-12 06:54] aghaynes commented on #3118
@whedon generate pdf

[2021-04-12 06:57] whedon commented on #3118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: :point_left:

[2021-04-12 07:07] eloisabentivegna commented on #3099
@whedon set 10.5281/zenodo.4679863 as archive

[2021-04-12 07:07] whedon commented on #3099
OK. <a href="https://doi.org/10.5281/zenodo.4679863" target="_blank">10.5281/zenodo.4679863</a> is the archive.

[2021-04-12 07:09] eloisabentivegna commented on #3099
@Sbozzolo, can I assume 1.0.0 is the tagged release you created for this submission?

[2021-04-12 07:41] xuanxu commented on #3165
@whedon assign me as editor

[2021-04-12 07:41] whedon commented on #3165
OK, the editor is @xuanxu

[2021-04-12 07:45] arfon commented on #2395
OK, thanks for letting me know @ankur-gupta - we'll go looking for a second reviewer to take over from you here. I hope you're feeling better soon!

[2021-04-12 07:46] f3rmion commented on #3050
@richardjgowers what are the next steps?

[2021-04-12 07:49] arfon commented on #2395
@jasonnance - thanks for your ongoing patience here! I've just contacted a couple of potential new reviewers over email, and have also asked @W4ngatang to complete their review soon if they can.

[2021-04-12 08:00] mengaldo commented on #2862
@eloisabentivegna Should I create the the tagged release for the main branch and not for the JOSS branch, I suppose. Correct?

Thank you!

[2021-04-12 08:23] richardjgowers commented on #3050
@f3rmion now that the reviewers are satisfied I'll have to give it a once over and then send it up to the EiC.

[2021-04-12 08:39] iljah commented on #3096
@melissawm thanks for the opportunity but I have very little experience even with regular complex numbers and no experience with more complex numbers. @AngryMaciek what did stand out from documentation (https://angrymaciek.github.io/hypercomplex/html/index.html) was need for manual memory management when using MPFR types. I've almost not used MPFR but at least it should be possible to automate muc

[2021-04-12 08:40] csoneson commented on #3141
@whedon add @kevinrue as reviewer

[2021-04-12 08:41] csoneson commented on #3141
@njtierney, @kevinrue - thanks for accepting to review this submission! I'll start the review issue now, and we'll move the discussion over there.

[2021-04-12 08:42] csoneson commented on #3141
@whedon start review

[2021-04-12 08:42] whedon opened #3167 "[REVIEW]: Visualizations with statistical details: The 'ggstatsplot' approach"
**Submitting author:** @IndrajeetPatil (<a href="http://orcid.org/0000-0003-1995-6531">Indrajeet Patil</a>)
**Repository:** <a href="https://github.com/IndrajeetPatil/ggstatsplot" target ="_blank">https://github.com/IndrajeetPatil/ggstatsplot</a>
**Version:** 0.7.2
**Editor:** @csoneson
**Reviewer:** @njtierney, @kevinrue
**Archive:** <a href="https://doi.org/10.5281/zenodo.4681705" target="_blank

[2021-04-12 08:42] whedon commented on #3141
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3167.

[2021-04-12 08:42] #3141 closed

[2021-04-12 08:42] whedon commented on #3167
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @njtierney, @kevinrue it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-04-12 08:43] csoneson commented on #3167
👋🏼 @IndrajeetPatil, @njtierney, @kevinrue - this is the review thread for the submission. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other journa

[2021-04-12 08:48] whedon commented on #3167
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03167/joss.03167/10.21105.joss.03167.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03167/joss.03167/10.21105.joss.03167.pdf) :page_facing_up: :point_left:

[2021-04-12 08:49] whedon commented on #3167
[code]

[2021-04-12 08:55] aghaynes commented on #3118
@whedon set 10.5281/zenodo.4680282  as archive

[2021-04-12 08:55] whedon commented on #3118
I'm sorry @aghaynes, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-04-12 08:56] pdebuyl commented on #3053
Thank you @navidcy for the update.

[2021-04-12 08:57] pdebuyl commented on #3053
Thank you @eviatarbach for the re-review! Can you make sure to tick all the remaining boxes for completing the review though? The boxes and explicit acceptance are both part of the review process.

[2021-04-12 09:02] aghaynes commented on #3118
@majensen, the zenodo DOI is 10.5281/zenodo.4680282 :)

[2021-04-12 09:09] bzindovic commented on #3114
Dear Katy,

I apologize for not finishing my duties as promised: my 1.5-year-old-son
got a rotavirus infection a few weeks ago and, due to my wife's job
obligations I was parenting the whole time. He was feeling well for a few
days but, as he lost almost 10% of body weight and didn't recuperate fully,
he got a fever and I again had to take care of him. I had very little time
to devote to review so

[2021-04-12 09:25] f3rmion commented on #3050
@whedon generate pdf

[2021-04-12 09:26] whedon commented on #3050
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: :point_left:

[2021-04-12 09:39] dmey commented on #2863
@whedon generate pdf from branch joss-paper

[2021-04-12 09:39] whedon commented on #2863
[code]

[2021-04-12 09:40] whedon commented on #2863
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: :point_left:

[2021-04-12 09:54] cMadan commented on #3159
@tramarobin, I don't think that's necessary, but I appreciate the offer.

[2021-04-12 10:01] dmey commented on #2863
Sorry for the delay in getting back, I think I have addressed all the issues that were previously raised. @khinsen and @mnarayan could you please let me know if you are OK with the changes I made to the repo and summary-paper?

[2021-04-12 10:01] dmey commented on #2863
@whedon generate pdf from branch joss-paper

[2021-04-12 10:01] whedon commented on #2863
[code]

[2021-04-12 10:02] whedon commented on #2863
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: :point_left:

[2021-04-12 10:15] pdebuyl commented on #2973
Thanks @glyg for the update.

[2021-04-12 10:15] pdebuyl commented on #2973
@whedon generate pdf

[2021-04-12 10:16] whedon commented on #2973
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: :point_left:

[2021-04-12 10:35] Chilipp commented on #2969
alright :smiley:  thanks @kuadrat for working on the plugin description!

@timtroendle, I recommend to accept this paper for publication, too

[2021-04-12 10:42] sdparsons commented on #3041
I've left open @rMassimiliano 's documentation issue open (https://github.com/sdparsons/splithalf/issues/10) as I need to sort this for the testretest.multiverse function. Currently working on it and disliking past Sam for not thinking forward and building in all of the same input checks as the main functions...

[2021-04-12 11:03] pdebuyl commented on #3076
@mparno you can already take into account @martinmodrak 's feedback. If you act on the issues that he open at your repository, I would appreciate a notification here to follow the developments.

[2021-04-12 11:31] mparno commented on #3076
@martinmodrak Thanks for this great feedback.  It is very helpful for our team.   I'm working with the other authors to address these the issues you brought up (and created on the MUQ2 repository).   I will let you and @pdebuyl know when MUQ is ready for another look.

[2021-04-12 11:50] ranocha commented on #3053
Thanks to @navidcy and co-workers! This is a nice contribution to the community and everything looks good to me after the revisions :+1:

[2021-04-12 12:18] mengaldo commented on #2862
@eloisabentivegna Just completed the above tasks. Here it is: https://doi.org/10.5281/zenodo.4680581

[2021-04-12 12:26] eviatarbach commented on #3053
@pdebuyl Done! Thank you.

[2021-04-12 12:29] dhhagan commented on #3110
@whedon add @goldmanm as reviewer

[2021-04-12 12:29] whedon commented on #3110
OK, @goldmanm is now a reviewer

[2021-04-12 12:31] dhhagan commented on #3110
👋  Hey @annahodshire would you be interested in reviewing this paper?

[2021-04-12 13:27] Sbozzolo commented on #3099
Yes, correct.

On Mon, Apr 12, 2021, 00:09 Eloisa Bentivegna ***@***.***>
wrote:

[2021-04-12 13:40] omendezmorales commented on #3066
Hi  @robertmartin8,
I'm contacting you in the context of the review of your article for the [JOSS Journal](https://github.com/openjournals/joss-reviews/issues/3066).

I want to congratulate you for the effort you have put in PyPortfolioOpt, and just draw your attention to the simple documentation [issue I filed](https://github.com/robertmartin8/PyPortfolioOpt/issues/319), and  deserves (maybe) a m

[2021-04-12 14:03] oliviaguest commented on #3106
@whedon add @neuromusic as reviewer

[2021-04-12 14:03] whedon commented on #3106
OK, @neuromusic is now a reviewer

[2021-04-12 14:08] kbarnhart commented on #3137
Thanks @giswqs !

[2021-04-12 14:08] kbarnhart commented on #3137
@whedon add @giswqs as reviewer

[2021-04-12 14:08] whedon commented on #3137
OK, @giswqs is now a reviewer

[2021-04-12 14:08] kbarnhart commented on #3137
@whedon add @elbeejay as reviewer

[2021-04-12 14:08] whedon commented on #3137
OK, @elbeejay is now a reviewer

[2021-04-12 14:09] kbarnhart commented on #3137
@whedon add @patrickcgray as reviewer

[2021-04-12 14:09] whedon commented on #3137
OK, @patrickcgray is now a reviewer

[2021-04-12 14:09] kbarnhart commented on #3137
@whedon start review

[2021-04-12 14:09] whedon opened #3168 "[REVIEW]: eemont: A Python package that extends Google Earth Engine"
**Submitting author:** @davemlz (<a href="http://orcid.org/0000-0002-9010-3286">David Montero Loaiza</a>)
**Repository:** <a href="https://github.com/davemlz/eemont" target ="_blank">https://github.com/davemlz/eemont</a>
**Version:** v0.2.0
**Editor:** @kbarnhart
**Reviewer:** @giswqs, @elbeejay, @patrickcgray
**Archive:** <a href="https://doi.org/10.5281/zenodo.4900067" target="_blank">10.5281/ze

[2021-04-12 14:09] #3137 closed

[2021-04-12 14:09] whedon commented on #3168
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @giswqs, @elbeejay, @patrickcgray it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog p

[2021-04-12 14:10] whedon commented on #3168
[code]

[2021-04-12 14:11] whedon commented on #3168
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03168/joss.03168/10.21105.joss.03168.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03168/joss.03168/10.21105.joss.03168.pdf) :page_facing_up: :point_left:

[2021-04-12 14:11] whedon commented on #3168
[code]

[2021-04-12 14:13] kbarnhart commented on #3114
@bzindovic I am so sorry to hear about your son and my best wishes for his health and your family. Feel free to take the time you need, and if necessary, to withdraw from this review. It is not at all a problem (we only require 2 reviewers, but prefer 3), and your family is of course much more important.

[2021-04-12 14:15] kbarnhart commented on #3168
@giswqs, @elbeejay, @patrickcgray - thanks for agreeing to review this submission to JOSS. In the prior comments there is a checklist that you can use to guide you through your review.

We have an automatic reminder set up in two weeks to ask you how the review is going. At present we request that reviewers complete their reviews within 6 weeks. JOSS is trying to be mindful of changes people have

[2021-04-12 14:17] georgiastuart commented on #3076
So sorry this took so long. Here is my review. As agreed, I primarily looked at the python side of things.

## General Thoughts

Overall, very nice package. I enjoyed looking at it and I can see myself using this package as a UQ framework in my own research.

Here's the overview of my concerns/requests:
- I think documentation on whether the docker containers work with Singularity would be very he

[2021-04-12 14:18] georgiastuart commented on #3076
I'd also like to add that the authors are active on their slack and very quick to respond to questions. Good support!

[2021-04-12 14:21] jhollist commented on #3157
Disregarded!  Good luck with the review.

On Fri, Apr 9, 2021 at 12:20 PM Kristen Thyng ***@***.***>
wrote:

--
Jeffrey W. Hollister
email: ***@***.***
cell: 401 556 4087
https://jwhollister.com

[2021-04-12 14:23] lskatz commented on #2334
Hi @lpantano I have created a DOI in Zenodo and finally reviewed all the metadata behind it:  10.5281/zenodo.4657026

[2021-04-12 14:27] eloisabentivegna commented on #3099
@whedon set 1.0.0 as version

[2021-04-12 14:27] whedon commented on #3099
OK. 1.0.0 is the version.

[2021-04-12 14:28] pdebuyl commented on #3053
Thank you @ranocha and @eviatarbach for the review!

@navidcy I will now take over for the next step of the editorial procedure https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance . When I am done (after possibly asking minor changes), I'll notify the eic for publication.

[2021-04-12 14:28] eloisabentivegna commented on #3099
@whedon generate pdf from branch joss-paper

[2021-04-12 14:28] whedon commented on #3099
[code]

[2021-04-12 14:30] whedon commented on #3099
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03099/joss.03099/10.21105.joss.03099.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03099/joss.03099/10.21105.joss.03099.pdf) :page_facing_up: :point_left:

[2021-04-12 14:32] eloisabentivegna commented on #3099
@sbozzolo, one more request: could you change the Zenodo archive title to match this submission title (see https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance)? The author list should also match the submission's author list. (But thanks for the credit! :) )

[2021-04-12 14:37] Sbozzolo commented on #3099
How do I do it? Everything was generated automatically by Zenodo

[2021-04-12 14:56] Sbozzolo commented on #3099
Okay, I think I got it (even if I had to regenerate the archive 3 times)!

The new DOI is 10.5281/zenodo.4681119

[2021-04-12 15:02] sdparsons commented on #3041
I have now sorted this for the testretest.multiverse function. I believe that this ticks off the last of the major issues.

Given that combined these were some bigger changes, I plan to update the package version to 0.8.1 (and relevant documentation) and resubmit to CRAN - assuming that there are no further outstanding issues to fix?

[2021-04-12 15:03] rMassimiliano commented on #3041
Hi @oliviaguest  and @sdparsons, I saw that the issues I opened are now closed. I will give a check and update you soon!

[2021-04-12 15:22] jpsnijder commented on #3041
All good for me!

[2021-04-12 15:31] IndrajeetPatil commented on #3111
Can this submission be reconsidered for review?

Two of my other submissions (both `R` packages) at _JOSS_ were submitted after this submission and are already under review. So I am guessing someone might be available now to edit this submission?

[2021-04-12 16:26] diehlpk commented on #2945
@whedon commands

[2021-04-12 16:26] whedon commented on #2945
Here are some things you can ask me to do:

[code]

[2021-04-12 16:27] diehlpk commented on #2945
@whedon remove @pbauman  as reviewer

[2021-04-12 16:27] whedon commented on #2945
OK, @pbauman  is no longer a reviewer

[2021-04-12 16:28] diehlpk commented on #2945
@pbauman I removed you as reviewer for now, since I have not heard back from you for a while. If you are still interested, I can add you again.

[2021-04-12 16:29] diehlpk commented on #2945
Hey, @thelfer any update on your review?

[2021-04-12 16:31] glwagner commented on #3053
I apologize for the late response --- I just wanted to add to @navidcy's response!

I think it's a valid criticism that the design of `GeophysicalFlows.jl` / `FourierFlows.jl` isn't built around multiple dispatch but instead relies on passing functions around (in particular, `FourierFlows.Equation` stores the function `calcN!` as data). I'd argue, however, that whether or not the code is organized

[2021-04-12 16:36] JostMigenda commented on #2877
Just to give a quick update: The physics paper was just accepted by ApJ; I expect we’ll hear from their editorial office soon and can then progress here.

[2021-04-12 16:44] jvanhoefer commented on #3164
Thank you for the info, that wasn't clear to me. The paper is now in

https://github.com/yaml2sbml-dev/yaml2sbml/tree/JOSS_review/doc/JOSS_paper

(i.e. in folder `doc/JOSS_paper` of the `JOSS_review` branch.)

[2021-04-12 17:47] whedon commented on #3139
:wave: @gjo11, please update us on how your review is going (this is an automated reminder).

[2021-04-12 17:47] whedon commented on #3139
:wave: @martinju, please update us on how your review is going (this is an automated reminder).

[2021-04-12 18:35] eloisabentivegna commented on #3099
@whedon set 10.5281/zenodo.4681119 as archive

[2021-04-12 18:35] whedon commented on #3099
OK. <a href="https://doi.org/10.5281/zenodo.4681119" target="_blank">10.5281/zenodo.4681119</a> is the archive.

[2021-04-12 18:35] eloisabentivegna commented on #3099
@whedon generate pdf from branch joss-paper

[2021-04-12 18:35] whedon commented on #3099
[code]

[2021-04-12 18:37] whedon commented on #3099
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03099/joss.03099/10.21105.joss.03099.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03099/joss.03099/10.21105.joss.03099.pdf) :page_facing_up: :point_left:

[2021-04-12 18:42] eloisabentivegna commented on #3099
@whedon accept

[2021-04-12 18:42] whedon commented on #3099
[code]

[2021-04-12 18:44] whedon commented on #3099
PDF failed to compile for issue #3099 with the following error:
[code]

[2021-04-12 18:44] eloisabentivegna commented on #3099
@whedon accept from branch from branch joss-paper

[2021-04-12 18:44] whedon commented on #3099
[code]

[2021-04-12 18:45] whedon commented on #3099
PDF failed to compile for issue #3099 with the following error:
[code]

[2021-04-12 18:47] eloisabentivegna commented on #3099
@whedon accept from branch joss-paper

[2021-04-12 18:47] whedon commented on #3099
[code]

[2021-04-12 18:48] arfon commented on #3111
Not necessarily so. Please be patient.

[2021-04-12 18:49] whedon commented on #3099
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2222

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2222, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-12 18:49] whedon commented on #3099
[code]

[2021-04-12 18:54] arfon commented on #2446
👋 @lockepatton - how are you getting on with your changes?

[2021-04-12 19:18] adi3 commented on #3125
@whedon commands

[2021-04-12 19:18] whedon commented on #3125
Here are some things you can ask me to do:

[code]

[2021-04-12 19:18] adi3 commented on #3125
@whedon check references

[2021-04-12 19:19] whedon commented on #3125
[code]

[2021-04-12 19:20] adi3 commented on #3125
@tkonolige Please fix invalid DOIs and then run `@whendon check references` to make sure your DOIs list as OK.

[2021-04-12 19:22] kyleniemeyer commented on #3147
Hello @almomaa, the JOSS editorial board has reviewed your submission, and found that it falls outside our scope at this time, due to the relatively small size of the software package and narrow functionality. Editors also pointed out that the package could use some cleaning up and better organization following open-source best practices.

[2021-04-12 19:22] kyleniemeyer commented on #3147
@whedon reject

[2021-04-12 19:22] whedon commented on #3147
Paper rejected.

[2021-04-12 19:22] #3147 closed

[2021-04-12 19:24] kyleniemeyer commented on #3162
Hello @neomatrixcode, thanks for your interest in JOSS. The editorial board has reviewed your submission, and unfortunately finds that it is not in scope for review by JOSS, due to not being considered research software by [our definition](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software).

[2021-04-12 19:24] kyleniemeyer commented on #3162
@whedon reject

[2021-04-12 19:24] whedon commented on #3162
Paper rejected.

[2021-04-12 19:24] #3162 closed

[2021-04-12 19:26] kyleniemeyer commented on #3151
Hello @converseg, thanks for your interest in JOSS. Unfortunately, after a review by the editorial board, we found that your software is not in scope for JOSS, due to its small size.

[2021-04-12 19:26] kyleniemeyer commented on #3151
@whedon reject

[2021-04-12 19:26] whedon commented on #3151
Paper rejected.

[2021-04-12 19:26] #3151 closed

[2021-04-12 19:28] kyleniemeyer commented on #3152
Hello @bcmullins, thanks for your interest in JOSS. The editorial board has reviewed your submission, and unfortunately found that your submission is too small to meet our requirement for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). If you extend your package, we might consider it again in the future.

[2021-04-12 19:28] kyleniemeyer commented on #3152
@whedon reject

[2021-04-12 19:28] whedon commented on #3152
Paper rejected.

[2021-04-12 19:28] #3152 closed

[2021-04-12 19:31] kyleniemeyer commented on #3155
Hello @flujoo, thanks for your interest in JOSS. The editorial board has considered your submission, and unfortunately we found that it falls outside our current scope of [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software). We do realize that our scope has narrowed somewhat over time as the journal has matured. We suggest that you consider [

[2021-04-12 19:31] kyleniemeyer commented on #3155
@whedon reject

[2021-04-12 19:31] whedon commented on #3155
Paper rejected.

[2021-04-12 19:31] #3155 closed

[2021-04-12 20:15] oliviaguest commented on #3106
@whedon start review

[2021-04-12 20:16] whedon opened #3169 "[REVIEW]: BIDSonym - a BIDSapp for the pseudo-anonymization of neuroimaging datasets"
**Submitting author:** @peerherholz (<a href="http://orcid.org/0000-0002-9840-6257">Peer Herholz</a>)
**Repository:** <a href="https://github.com/PeerHerholz/BIDSonym/" target ="_blank">https://github.com/PeerHerholz/BIDSonym/</a>
**Version:** v0.0.5
**Editor:** @oliviaguest
**Reviewer:** @deep-introspection, @chrisgorgo, @neuromusic
**Archive:** <a href="https://doi.org/10.5281/zenodo.5301625" ta

[2021-04-12 20:16] whedon commented on #3106
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3169.

[2021-04-12 20:16] #3106 closed

[2021-04-12 20:16] whedon commented on #3169
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @deep-introspection, @chrisgorgo, @neuromusic it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in

[2021-04-12 20:17] whedon commented on #3169
[code]

[2021-04-12 20:18] whedon commented on #3169
[code]

[2021-04-12 20:18] whedon commented on #3169
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03169/joss.03169/10.21105.joss.03169.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03169/joss.03169/10.21105.joss.03169.pdf) :page_facing_up: :point_left:

[2021-04-12 20:18] oliviaguest commented on #3169
Hi all! 👋 Thank you so much, @deep-introspection, @chrisgorgo, @neuromusic for accepting to review this. Please read the instructions above. If you have trouble ticking things off in the list above, remember you need to click to "accept" here: https://github.com/openjournals/joss-reviews/invitations! Any questions, feedback on the paper, etc., please post here. Any very code-specific questions, su

[2021-04-12 20:22] oliviaguest commented on #3041
@rMassimiliano thank you! 😸

[2021-04-12 20:44] martinju commented on #3139
I have done the majority of the review work. Will finish up and give my feedback in a few days. Spoiler: Very nice package!

[2021-04-12 20:55] majensen commented on #3118
@whedon set 10.5281/zenodo.4680282 as archive

[2021-04-12 20:55] whedon commented on #3118
OK. <a href="https://doi.org/10.5281/zenodo.4680282" target="_blank">10.5281/zenodo.4680282</a> is the archive.

[2021-04-12 20:55] majensen commented on #3118
@whedon set 0.2.3 as version

[2021-04-12 20:55] whedon commented on #3118
OK. 0.2.3 is the version.

[2021-04-12 20:55] majensen commented on #3118
@whedon accept

[2021-04-12 20:55] whedon commented on #3118
[code]

[2021-04-12 20:56] whedon commented on #3118
[code]

[2021-04-12 20:56] whedon commented on #3118
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2223

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2223, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-12 21:40] eloisabentivegna commented on #3099
Thanks @Sbozzolo for the nice package, and thanks @Yurlungur for an exceptionally thorough review! I appreciate your collaboration.

[2021-04-12 21:40] eloisabentivegna commented on #3099
Thanks @Sbozzolo for the nice package, and thanks @Yurlungur for an exceptionally thorough review! I appreciate your collaboration.

[2021-04-12 23:43] Yurlungur commented on #3099
My pleasure. I'm very excited to see Kuibit enter the Einstein Toolkit ecosystem!

[2021-04-12 23:51] kyleniemeyer commented on #3099
Hi @Sbozzolo, I am the AEIC on duty this week doing some final checks before accepting.

I noticed that the Guercilena citation might have the incorrect title or URL, can you double check that one? I think it should be rugutils.

[2021-04-12 23:59] kyleniemeyer commented on #3118
Hi @aghaynes, I am the AEIC on duty this week doing some final checks before accepting your paper.

It looks like your article is currently missing a Statement of Need section, a [required element](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) of JOSS papers that " clearly illustrates the research purpose of the software." Usually our bot identifies when these

[2021-04-12 23:59] Sbozzolo commented on #3099
Thank you very much, @eloisabentivegna and @Yurlungur !

@kyleniemeyer, yes, thanks, I just pushed a new version. I also took the chance to add the Cactus citation inline when I mention Cactus.

[2021-04-13 00:19] TomKellyGenetics commented on #3118
To clarify @kyleniemeyer, the article did have a "Statement of Need" section in earlier version. Based on [previous discussions with the editor](https://github.com/openjournals/joss-reviews/issues/2161#issuecomment-603312770), I suggested removing the heading and merging into the "Summary" section. Sorry if this has caused confusion.

[2021-04-13 00:50] majensen commented on #3118
Guilty as charged @kyleniemeyer of corrupting the youth of Athens - This is my bad.

[2021-04-13 00:51] majensen commented on #3118
(I still prefer not having "Statement of Need", which I still think is gauche - BUT - if it's actually part of Whedon's API, I acquiesce)

[2021-04-13 04:08] flujoo commented on #3155
Thank you all all the same.

[2021-04-13 04:47] kyleniemeyer commented on #3118
Ah, sorry for the back and forth. This isn't whedon specifically, but it is a JOSS requirement that we mandate for all articles (starting a year ago or so).

[2021-04-13 04:51] majensen commented on #3118
@aghaynes sorry about that, can you follow the guidance of @kyleniemeyer (and I will too!)

[2021-04-13 07:00] kyleniemeyer commented on #3099
@whedon generate pdf

[2021-04-13 07:01] whedon commented on #3099
PDF failed to compile for issue #3099 with the following error:
[code]

[2021-04-13 07:01] kyleniemeyer commented on #3099
@whedon generate pdf from branch joss-paper

[2021-04-13 07:02] whedon commented on #3099
[code]

[2021-04-13 07:03] whedon commented on #3099
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03099/joss.03099/10.21105.joss.03099.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03099/joss.03099/10.21105.joss.03099.pdf) :page_facing_up: :point_left:

[2021-04-13 07:06] kyleniemeyer commented on #3099
@whedon accept from branch joss-paper

[2021-04-13 07:07] whedon commented on #3099
[code]

[2021-04-13 07:07] whedon commented on #3099
[code]

[2021-04-13 07:08] whedon commented on #3099
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2224

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2224, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-13 08:12] will-rowe commented on #3161
Hi @smjenness - would you be willing to review this submission to JOSS?

[2021-04-13 08:13] will-rowe commented on #3161
Hi @joelmiller - would you be able to review this?

[2021-04-13 08:21] arfon commented on #2849
:wave: all, I'm stepping in here to assist @terrytangyuan who is struggling to make time for JOSS editorial work at this time.

Firstly, @ppalmes and @ablaom, many thanks for your careful and constructive reviews. There is some excellent feedback here for the @sylvaticus.

I do need to address one aspect of this feedback however, best captured in this comment:

I agree this is important but it's n

[2021-04-13 08:27] aghaynes commented on #3118
Hi @kyleniemeyer. I probably won't have time for this today, but I'll look at it tomorrow. I guess then a new submission to zenodo will also be needed?

[2021-04-13 08:53] ppalmes commented on #2849
Yeah, I am ok to proceed with publication. My suggestions are to make the work more usable to the wider community. It is usable at the current form and I believe that the work will continue to improve.

[2021-04-13 09:01] joelmiller commented on #3161
Unfortunately I am too busy right now to take on any new reviewing tasks.

[2021-04-13 09:06] oliviaguest commented on #3105
@McGregor14 I changed the title because I realised this (the new one) is what it should be, right?

[2021-04-13 09:08] will-rowe commented on #3161
No worries @joelmiller - thanks for your reply.

[2021-04-13 09:11] will-rowe commented on #3161
Hi @aineniamh - are you able to review this please? Or do you have any suggestions for other reviewers?

[2021-04-13 09:25] sylvaticus commented on #2849
Yes, as you can see [in the commit log](https://github.com/sylvaticus/BetaML.jl/commits/master), I am actually still implementing the modifications required by the reviewers.. I created an interface to my models for one of the toolbox cited (these interfface has been already being pushed but still needs to be included in a release of BetaML) and I am implementing a more detailed set of tutorials.

[2021-04-13 10:01] dmey commented on #2863
@whedon generate pdf from branch joss-paper

[2021-04-13 10:01] whedon commented on #2863
[code]

[2021-04-13 10:02] whedon commented on #2863
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: :point_left:

[2021-04-13 10:05] arfon commented on #2849
:zap: thanks for the feedback @sylvaticus, looking forward to seeing the updates!

[2021-04-13 10:18] McGregor14 commented on #3105
@oliviaguest Yep! Thank you very much. I think the line numbers snuck in there somehow!

[2021-04-13 11:43] majensen commented on #3118
@aghaynes I'd say since the code won't change there's no need for a new archive.

[2021-04-13 11:49] robertmartin8 commented on #3066
Hi @omendezmorales,

Really appreciate you taking the time to go through the package and to provide thoughtful feedback! I've addressed the documentation issue you raised – good spot.

The `GLPK_MI` issue is quite a thorny one. `GLPK_MI` is supposed to come installed with CVXOPT, so in the past, a quick `pip install cvxopt` did the job. More recently, I've had some issues with that (as per the thr

[2021-04-13 13:24] omendezmorales commented on #3066
Awesome, @robertmartin8 ,

I'll have a look to the updated documentation, and will let you know in case I have other suggestions.

Best,
Orlando.

[2021-04-13 13:32] Garyfallidis commented on #3158
@whedon generate pdf

[2021-04-13 13:34] whedon commented on #3158
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03158/joss.03158/10.21105.joss.03158.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03158/joss.03158/10.21105.joss.03158.pdf) :page_facing_up: :point_left:

[2021-04-13 13:40] oliviaguest commented on #3105
@whedon add @peircej as reviewer

[2021-04-13 13:40] whedon commented on #3105
OK, @peircej is now a reviewer

[2021-04-13 14:35] fboehm commented on #3063
@whedon add @Nachootal as reviewer

[2021-04-13 14:35] whedon commented on #3063
OK, @Nachootal is now a reviewer

[2021-04-13 14:35] fboehm commented on #3063
@whedon start review

[2021-04-13 14:35] whedon opened #3170 "[REVIEW]: StatSailr: Reproducible and Easy Statistics Environment with StatSailr Script"
**Submitting author:** @niceume (<a href="http://orcid.org/0000-0001-7015-621X">Toshihiro Umehara</a>)
**Repository:** <a href="https://github.com/niceume/statsailr/" target ="_blank">https://github.com/niceume/statsailr/</a>
**Version:** v0.7.2
**Editor:** @fboehm
**Reviewer:** @g4brielvs, @Nachootal
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-04-13 14:36] whedon commented on #3063
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3170.

[2021-04-13 14:36] #3063 closed

[2021-04-13 14:36] whedon commented on #3170
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @g4brielvs, @Nachootal it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-04-13 14:36] whedon commented on #3170
[code]

[2021-04-13 14:36] whedon commented on #3170
PDF failed to compile for issue #3170 with the following error:
[code]

[2021-04-13 14:52] pdebuyl commented on #3053
Thank you @glwagner for the extra information. I understand the appeal for being "pythonic", "julian", etc, but indeed software authors can still make architectural choices that deviate from that :-)

[2021-04-13 14:53] pdebuyl commented on #3053
@navidcy I can't guess what to do with the very sparse installation instructions. `] add GeophysicalFlows` does not help much, can you let me know what to do. (and update the readme and also explain installation in the web documentation?)

[2021-04-13 14:58] fboehm commented on #3170
@whedon generate pdf from branch joss_submission

[2021-04-13 14:58] whedon commented on #3170
[code]

[2021-04-13 14:59] whedon commented on #3170
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03170/joss.03170/10.21105.joss.03170.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03170/joss.03170/10.21105.joss.03170.pdf) :page_facing_up: :point_left:

[2021-04-13 15:03] fboehm commented on #3166
@DrMattG and @crvernon - I think that whedon has sent you a notice inviting you to the review. I believe that you need to indicate that you accept the invitation before you can check boxes. Please let me know if you didn't get this notification. I can try to send it again.

[2021-04-13 15:05] fboehm commented on #3166
@whedon list commands

[2021-04-13 15:05] whedon commented on #3166
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-04-13 15:05] fboehm commented on #3166
@whedon commands

[2021-04-13 15:05] whedon commented on #3166
Here are some things you can ask me to do:

[code]

[2021-04-13 15:21] DrMattG commented on #3166
@fboehm can you send it again - I thought I had accepted it but I can not check the boxes.

[2021-04-13 16:21] crvernon commented on #3166
@fboehm @DrMattG I also get:
[code]

when visiting https://github.com/openjournals/joss-reviews/invitations

I am signed in.  Thanks.

[2021-04-13 17:05] farshidtz commented on #3075
@gkthiruvathukal Do you require anything else from us? Or the final steps are in progress?

Thanks

[2021-04-13 17:08] sebkopf commented on #2878
Hi @mikldk and @r-barnes - could you give me an update when you get the chance? It has been ~2 months since we addressed the last concerns and I was wondering if there is anything more that we need to do to get this published. I appreciate your time and effort on this publication very much. Best regards

[2021-04-13 17:16] villaa commented on #3154
@mbobra I am a co-author of this paper alongside @gerudo7 who submitted the paper. The paper doesn't show up in my JOSS profile but it does in @gerudo7 . Is there a way to make it show up in mine too as a convenience?

[2021-04-13 17:37] SteveMacenski commented on #2783
@carlosjoserg anything I can do to help you in your review?

[2021-04-13 17:37] gerudo7 commented on #3154
@mbobra Hi! We have a couple of reviewer suggestions who are not on the list. The first is kelseymh. We don't know the second person's github username. Since this is publicly visible we didn't want to give their contact information without asking first - what's the best way to indicate who they are?

Regarding the list, we looked for people who were comfortable with physics - preferably particle p

[2021-04-13 17:44] mikldk commented on #2878
@sebkopf I understand your request for an update - this slipped through my filter, sorry.

@r-barnes Please finalise your review as soon as possible.

[2021-04-13 17:44] oliviaguest commented on #3105
@whedon add @Andytwoods as reviewer

[2021-04-13 17:44] whedon commented on #3105
OK, @Andytwoods is now a reviewer

[2021-04-13 17:47] navidcy commented on #3053
@pdebuyl the docs include much more detail on how to install.
https://fourierflows.github.io/GeophysicalFlowsDocumentation/dev/installation_instructions/
Could you please let me know if indeed the doc instructions seem clear to you? If so, I can update the readme to reflect what the docs include. If you still feel docs instructions are not clear then I’ll update both.

[2021-04-13 18:27] kyleniemeyer commented on #3099
@whedon accept deposit=true from branch joss-paper

[2021-04-13 18:27] whedon commented on #3099
[code]

[2021-04-13 18:28] whedon commented on #3099
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1382038094434734081) 👈 🐦🐦🐦

[2021-04-13 18:28] whedon commented on #3099
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2225
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03099](https://doi.org/10.21105/joss.03099)
2. If everything look

[2021-04-13 18:29] fboehm commented on #3166
Thanks for the prompt replies, @DrMattG and @crvernon ! I think it was my error when initially inviting you via whedon. I must have used the wrong syntax. Let me "reinvite" you.

[2021-04-13 18:29] fboehm commented on #3166
@whedon re-invite @DrMattG as reviewer

[2021-04-13 18:29] whedon commented on #3166
OK, the reviewer has been re-invited.

@drmattg please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-04-13 18:30] fboehm commented on #3166
@whedon re-invite @crvernon as reviewer

[2021-04-13 18:30] whedon commented on #3166
OK, the reviewer has been re-invited.

@crvernon please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-04-13 18:33] pdebuyl commented on #3053
Thanks for the reply. I was not familiar with the `]` syntax for accessing Pkg. It does not work by copy-paste, is that normal?

I must have had a outdated cache for the documentation, the current version is fine, thanks. The readme version is then the one that didn't allow me to proceed.

I asked "add GeophysicalFlows" but still had to install explicitly FourierFlows, FFTW, and Plot. That should

[2021-04-13 18:36] andytwoods commented on #3105
I am sorry but I do not feel comfortable reviewing this work. React and Docker are core technologies used here, both of which I have no experience with. I just cannot review this article in any sensible amount of time -- it takes days to get familiar with new tech stacks. And please note that there is an interplay between the different technologies that is also burdensome. It' not just the case th

[2021-04-13 18:53] jarrah42 commented on #3143
I see two other contributors on the project, but they are not listed in the paper.

[2021-04-13 19:05] pdebuyl commented on #3076
Thanks @georgiastuart for the review!

[2021-04-13 19:11] jarrah42 commented on #3143
The project is missing installation instructions, user/developer documentation, and API documentation.

[2021-04-13 19:40] lockepatton commented on #2446
Hi @afron,

Apologies for the delay - things are going well. I believe I've completed most of the requests you asked for listed above. Two are outstanding:

- This code still needs a name. I've tried the name you suggested - pysonic - but it has already been populated on github and pip. No luck in finding another better alternative that has not already been similarly populated, although I did rese

[2021-04-13 19:43] kyleniemeyer commented on #3099
Congratulations @Sbozzolo on your article's publication in JOSS!

Many thanks to @Yurlungur for reviewing this, and @eloisabentivegna for editing (and reviewing).

[2021-04-13 19:43] #3099 closed

[2021-04-13 19:43] whedon commented on #3099
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03099/status.svg)](https://doi.org/10.21105/joss.03099)

**We need your help!**

Journal of Open Source Softwa

[2021-04-13 19:44] martinju commented on #3139
Done with the review!

I agree with @gjo11 that performance seems like a very nice package. There is clearly a comprehensive amout of work underneath here. The package serves an important purpose, seems to be well programmed, is easy to use, well documented and tested and provides visually appealing plots and console print out. I only have a few comments. I am just putting them in a task list belo

[2021-04-13 21:09] strengejacke commented on #3139
@martinju Thanks for your comments and suggestions. Let me summarize what I have done so far to address your issues.

- Author list: Philip is an early member of the team, who hasn't contributed much _code_ lately. However, he made substantial contributions to this paper. Thus, since he both contributed to package code, ideas and the documentation/paper, from our point of view, he definitely deser

[2021-04-13 21:09] strengejacke commented on #3139
@whedon generate pdf

[2021-04-13 21:10] whedon commented on #3139
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03139/joss.03139/10.21105.joss.03139.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03139/joss.03139/10.21105.joss.03139.pdf) :page_facing_up: :point_left:

[2021-04-13 21:25] wjakethompson commented on #3133
I've completed my initial review. Just few minor comments/suggestions.

* __Community guidelines__: See OwenWard/ppdiag#54
* __References__: See OwenWard/ppdiag#55

Some other thoughts:

* There are authors on the paper that haven't contributed to the repo, but I went ahead and checked that box based on [this comment](https://github.com/openjournals/joss-reviews/issues/3085#issuecomment-791029381)

[2021-04-13 23:07] villaa commented on #3154
@mbobra another possible reviewer is a collaborator of mine on a different project, github handle: tsaab. He is familiar with coding in C and the physics behind our code submission, but has not worked on this project with us.

[2021-04-14 00:01] navidcy commented on #3053
OK, @pdebuyl, I see... you probably tried to run the examples and run into that because, e.g., `Plots.jl` is not a dependency of `GeophysicalFlows.jl` so it must be installed separately.

We'll add a remark on that in the examples. And we'll try to clean up/smooth what's been re-exported by which package so, e.g., all `FourierFlows.jl` namespace is available to the user as soon they call `using Ge

[2021-04-14 01:30] danielskatz commented on #3123
👋 @eihernan - thanks for agreeing to review this submission.  I'll add you, and we'll start the review.

[2021-04-14 01:30] danielskatz commented on #3123
@whedon add @eihernan as reviewer

[2021-04-14 01:30] whedon commented on #3123
OK, @eihernan is now a reviewer

[2021-04-14 01:31] danielskatz commented on #3123
@whedon start review

[2021-04-14 01:31] whedon opened #3171 "[REVIEW]: Surfaxe: Systematic surface calculations"
**Submitting author:** @brlec (<a href="http://orcid.org/0000-0003-1485-1888">Katarina Brlec</a>)
**Repository:** <a href="https://github.com/SMTG-UCL/surfaxe" target ="_blank">https://github.com/SMTG-UCL/surfaxe</a>
**Version:** v1.2
**Editor:** @danielskatz
**Reviewer:** @pzarabadip, @eihernan
**Archive:** <a href="https://doi.org/10.5281/zenodo.4776449" target="_blank">10.5281/zenodo.4776449</a

[2021-04-14 01:31] whedon commented on #3123
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3171.

[2021-04-14 01:31] #3123 closed

[2021-04-14 01:31] whedon commented on #3171
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pzarabadip, @eihernan it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-04-14 01:33] danielskatz commented on #3171
👋 @pzarabadip and @eihernan - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guideline

[2021-04-14 01:33] whedon commented on #3171
[code]

[2021-04-14 01:34] whedon commented on #3171
[code]

[2021-04-14 01:34] whedon commented on #3171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03171/joss.03171/10.21105.joss.03171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03171/joss.03171/10.21105.joss.03171.pdf) :page_facing_up: :point_left:

[2021-04-14 01:34] danielskatz commented on #3171
👋 @pzarabadip and @eihernan - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guideline

[2021-04-14 01:55] rMassimiliano commented on #3041
Hi @sdparsons, good job! A couple of minor suggestions for the documentations in the following. I don't think they require an issue.

1. In the documentation there are several sentences like `The (unofficial) function version name is  "This function will make you a master in bird law"` is this on purpose? In case fine by me. Maybe I just don't get the jokes.

2. I do not get why  `multiverse.plot(

[2021-04-14 02:15] gkthiruvathukal commented on #3075
@farshidtz I will work on the final steps. Thank you for your patience!

[2021-04-14 02:15] gkthiruvathukal commented on #3075
@whedon set v1.0.0-beta.21 as version

[2021-04-14 02:15] whedon commented on #3075
OK. v1.0.0-beta.21 is the version.

[2021-04-14 02:16] gkthiruvathukal commented on #3075
@whedon set 10.5281/zenodo.4616483 as archive

[2021-04-14 02:16] whedon commented on #3075
OK. <a href="https://doi.org/10.5281/zenodo.4616483" target="_blank">10.5281/zenodo.4616483</a> is the archive.

[2021-04-14 02:18] gkthiruvathukal commented on #3075
@farshidtz I think we are good to go!  About to accept.

@yadudoc and @sarathsp06, thank you for your help in reviewing this submission.

[2021-04-14 02:18] gkthiruvathukal commented on #3075
@whedon accept

[2021-04-14 02:18] whedon commented on #3075
[code]

[2021-04-14 02:19] whedon commented on #3075
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2226

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2226, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-14 02:19] whedon commented on #3075
[code]

[2021-04-14 03:22] kbarnhart commented on #3168
/ooo April 15 until April 20

[2021-04-14 03:22] kbarnhart commented on #3168
FYI, I will be out of the office from April 15 until April 20. The ooo bot should respond indicating this if you tag me during that time. I will respond to any comments once I return.

[2021-04-14 03:23] kbarnhart commented on #2276
FYI, I will be out of the office from April 15 until April 20. The ooo bot should respond indicating this if you tag me during that time. I will respond to any comments once I return.

[2021-04-14 03:23] kbarnhart commented on #3114
FYI, I will be out of the office from April 15 until April 20. The ooo bot should respond indicating this if you tag me during that time. I will respond to any comments once I return.

[2021-04-14 04:15] kyleniemeyer commented on #3118
Yes, this is right—JOSS archives the paper itself, and so we can refer to the existing Zenodo archive for the software.

[2021-04-14 05:31] aghaynes commented on #3118
@whedon generate pdf

[2021-04-14 05:32] whedon commented on #3118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: :point_left:

[2021-04-14 05:40] aghaynes commented on #3118
@whedon generate pdf

[2021-04-14 05:41] whedon commented on #3118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: :point_left:

[2021-04-14 05:52] aghaynes commented on #3118
OK, i think it's ready again...

There is one reference thats still a little odd (the one for `trialsize`), but i dont know how to fix that. I tried the [@author:year; other stuff] syntax, but that didnt compile properly (it didnt work for any of the references I tried it for).

![image](https://user-images.githubusercontent.com/6594028/114660624-ec481680-9cf5-11eb-82bc-e3026e528eb4.png)

[2021-04-14 07:31] pdebuyl commented on #3053
Thank you @navidcy for the detailed reply. Regarding the changes that you propose, my feedback is the one of a user testing the first example. I don't know if this warrants changing the way FourierFlows and GeophysicalFlows should expose the API of imported packages. The note about installing Plots.jl is of course welcome in the example section or in the installation section. For the rest, it is i

[2021-04-14 07:36] navidcy commented on #3053
@pdebuyl, I see your point.

But we discussed with @glwagner and thought that this way would feel much more natural to the `GeophysicalFlows.jl` users. The PR https://github.com/FourierFlows/GeophysicalFlows.jl/pull/229 adds remarks in all examples for installing packages that are not dependency of GeophysicalFlows.jl (e.g., Plots.jl) and also simplifies the packages needed to be called at the beg

[2021-04-14 09:24] arfon commented on #2395
@whedon re-invite @ljvmiranda921 as reviewer

[2021-04-14 09:25] whedon commented on #2395
OK, the reviewer has been re-invited.

@ljvmiranda921 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-04-14 09:25] arfon commented on #2395
@ljvmiranda921 - many thanks for agreeing to take over here!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The

[2021-04-14 09:29] ljvmiranda921 commented on #2395
Sounds good, thanks for facilitating @arfon ! Will start my review by next week 👍

[2021-04-14 10:47] sdparsons commented on #3041
thanks @rMassimiliano
1. Yeah, these are little easter-egg references to It's always sunny in Philadelphia. Largely for my own amusement.
2. Fair point. Originally it was because the set-up code is needed anyway, so I didnt think it would confuse things to include this too. But, I've removed the example code that is not relevant to that function.
3. Good point, I've worked through to catch these.

[2021-04-14 11:03] oliviaguest commented on #3105
Ah, apologies. I think I misunderstood you @andytwoods, and I shall remove you. Thanks for the feedback!

[2021-04-14 11:04] oliviaguest commented on #3105
@whedon remove @andytwoods as reviewer

[2021-04-14 11:04] whedon commented on #3105
OK, @andytwoods is no longer a reviewer

[2021-04-14 11:58] smjenness commented on #3161
The "manuscript" (really just an extended abstract) appears fine. I am not able to review the software itself, as I don't work in Python.

[2021-04-14 12:00] AngryMaciek commented on #3096
Thanks for the comment @iljah!
1.  Each _MPFR_  variable has to be manually freed from the memory, that's how the library is designed. In the specialisation for `Hypercomplex` which is based on these types I do free the internal variables in the [class destructror](https://github.com/AngryMaciek/hypercomplex/blob/2f7db6fdc4dbeff9b5115a8244f4d7c8819b162f/hypercomplex/Hypercomplex.hpp#L652). These c

[2021-04-14 12:04] mikldk commented on #3139
@martinju, @gjo11 Can you please ensure your checklists are updated and get back when you have done so? If there are any unresolved issues, please let me know, too.

[2021-04-14 12:04] mikldk commented on #3133
@alexpghayes, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-04-14 12:35] OwenWard commented on #3133
Thank you very much for your feedback @wjakethompson, we will try to address these comments shortly.

[2021-04-14 13:30] majensen commented on #3118
Hi @aghaynes - pull in https://github.com/CTU-Bern/presize/pull/79 - should fix.

[2021-04-14 13:31] arfon commented on #2395
@whedon re-invite @sisco0 as reviewer

[2021-04-14 13:32] whedon commented on #2395
OK, the reviewer has been re-invited.

@sisco0 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-04-14 13:32] arfon commented on #2395
@sisco0 - many thanks for agreeing to take over here!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS re

[2021-04-14 13:34] arfon commented on #2395
Great news everyone, @sisco0 has also kindly agreed to review here so between @W4ngatang, @ljvmiranda921, & @sisco0 I'm hoping we can move this forward in the coming weeks.

[2021-04-14 13:47] aineniamh commented on #3161
Hey @will-rowe, I'm really sorry but I'm the same as Joel right now. I can't commit to any new reviewing tasks- trying to fit thesis writing around the current pandemic workload too.

[2021-04-14 13:48] aghaynes commented on #3118
obvious really... thanks @majensen!

@whedon generate pdf

[2021-04-14 13:49] majensen commented on #3118
Another pair of eyes can do wonders!

[2021-04-14 13:56] danielskatz commented on #3118
@whedon generate pdf

a command to whedon needs to be on the first line of a comment

[2021-04-14 13:57] whedon commented on #3118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: :point_left:

[2021-04-14 14:06] lpantano commented on #2334
Thank you, could you make the title of the zenodo archive match the title of the paper, please? Thanks

[2021-04-14 14:07] lpantano commented on #2334
@whedon set v0.19.7 as version

[2021-04-14 14:07] whedon commented on #2334
OK. v0.19.7 is the version.

[2021-04-14 14:07] lpantano commented on #2334
@whedon generate pdf

[2021-04-14 14:10] whedon commented on #2334
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02334/joss.02334/10.21105.joss.02334.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02334/joss.02334/10.21105.joss.02334.pdf) :page_facing_up: :point_left:

[2021-04-14 14:20] lpantano commented on #2334
@lskatz, I noticed the zenodo authors are not the same than in the paper, could you check title and authors are the same? Thanks!

[2021-04-14 14:47] kyleniemeyer commented on #3118
@whedon accept

OK, this goods good to me now.

[2021-04-14 14:47] whedon commented on #3118
[code]

[2021-04-14 14:49] whedon commented on #3118
[code]

[2021-04-14 14:49] whedon commented on #3118
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2227

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2227, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-14 14:58] alexpghayes commented on #3133
I have started my review but need to find a chunk of time to sit down and complete it. I anticipate this will happen within the next week.

[2021-04-14 15:32] arfon commented on #2877
@JostMigenda - I've just head from the AAS that the DOI for their paper is `10.3847/1538-4357/abf7c4`. I've opened a PR to add this to your paper (https://github.com/JostMigenda/sntools/pull/24), but I'm not sure if the journal name also needs updating (i.e., is _Astrophysical Journal_ the correct journal name?)

[2021-04-14 16:40] nkallima commented on #3143
@jarrah42

First of all, thank you for your feedback. Most of the content on this repository is an extension of my research on concurrent data-structures/algorithms and performance evaluation. Recently, my colleague Spiros Agathos used the software extensively and gently contributed a few patches/fixes. Moreover, Eftychia Datsika (edatsika) improved the logo of the repository. I acknowledge Spiros

[2021-04-14 16:55] wolfv commented on #3098
Hi, so finally found some time to read the paper and take a look at the docs + code.

I think this is excellent work!

I have some comments to the documentation of this project:

- it would be great to see some 'real-life' example use (maybe in a jupyter notebook, with visible plots of the different shapes, too)
- I think the docs are very thorough, but a tutorial or some other high-level introduc

[2021-04-14 17:06] kyleniemeyer commented on #3118
@whedon accept deposit=true

[2021-04-14 17:06] whedon commented on #3118
[code]

[2021-04-14 17:07] whedon commented on #3118
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1382379989987946499) 👈 🐦🐦🐦

[2021-04-14 17:07] whedon commented on #3118
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2228
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03118](https://doi.org/10.21105/joss.03118)
2. If everything look

[2021-04-14 17:11] kyleniemeyer commented on #3075
Hi @farshidtz, I am the AEIC on duty this week doing final checks before accepting. I noticed that one reference (Schaaf 2016, for the FROST server) seems to have an issue with the author names. I think if you change the `author` field in the `.bib` file to `{Hylke {van der Schaaf} and Michael Jacoby}` or `{van der Schaaf, Hylke and Jacoby, Michael}` then bibtex should parse it correctly.

[2021-04-14 17:12] mbobra commented on #3154
I don't think so, I'm sorry! Our system attaches the paper to the submitting author. @openjournals/joss-eics Can you please confirm?

[2021-04-14 17:27] kyleniemeyer commented on #3158
Hi @Garyfallidis, the JOSS editorial board reviewed your submission and found that it is within our scope. However, due to a lack of suitable and available editors, I'm going to put this on our waitlist for now. We will assign this to an editor as soon as one becomes available.

[2021-04-14 17:28] farshidtz commented on #3075
Thanks @kyleniemeyer. I have changed it and the produced [artifact](https://github.com/linksmart/thing-directory/suites/2496106542/artifacts/53883249) shows the name correctly now.

[2021-04-14 17:29] kyleniemeyer commented on #3075
@whedon generate pdf

[2021-04-14 17:30] whedon commented on #3075
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03075/joss.03075/10.21105.joss.03075.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03075/joss.03075/10.21105.joss.03075.pdf) :page_facing_up: :point_left:

[2021-04-14 17:32] jarrah42 commented on #3143
I think we can work with you until the review criteria is satisfied. It's not like a paper submission where you only get on chance.

Regarding the Readme. I would like to see a little more detail on how to build the software. E.g. where do you run the `make` command? Are there other configuration steps? Most packages these days provide some kind on installation command that will at least copy the

[2021-04-14 17:33] marcosvital commented on #3027
Dear @jhollist, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to review, pl

[2021-04-14 17:34] kyleniemeyer commented on #3075
@whedon accept deposit=true

[2021-04-14 17:34] whedon commented on #3075
[code]

[2021-04-14 17:35] danielskatz commented on #3143
@nkallima - As a reminder, the goal of this review is to openly and collaboratively review and improve the work until it gets to the point where it can be accepted.

[2021-04-14 17:35] kyleniemeyer commented on #3118
Congrats @aghaynes on your article's publication in JOSS!

Many thanks to @amoeba and @TomKellyGenetics for reviewing this, and @majensen for editing it.

(FYI, the DOI seems to still not be resolving, but this is likely just a delay. Everything else on the JOSS side looks good.)

[2021-04-14 17:35] whedon commented on #3118
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03118/status.svg)](https://doi.org/10.21105/joss.03118)

**We need your help!**

Journal of Open Source Softwa

[2021-04-14 17:35] whedon commented on #3075
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1382387097886203904) 👈 🐦🐦🐦

[2021-04-14 17:35] whedon commented on #3075
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2229
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03075](https://doi.org/10.21105/joss.03075)
2. If everything look

[2021-04-14 17:40] kyleniemeyer commented on #3075
Congratulations @farshidtz on your article's publication in JOSS!

Many thanks to @yadudoc and @sarathsp06 for their reviews, and @gkthiruvathukal for editing this.

It looks like the DOI is not yet resolving, so I'm going to leave this issue open until that step is finished. You can see the final paper here: https://joss.theoj.org/papers/10.21105/joss.03075

[2021-04-14 17:40] majensen commented on #3118
Great work @aghaynes @amoeba @TomKellyGenetics  - you gave me an editorial hat trick this month! Whedon and I really appreciate all the effort.

[2021-04-14 17:41] Garyfallidis commented on #3158
Thank you @kyleniemeyer

[2021-04-14 17:41] kyleniemeyer commented on #3118
Looks like the DOI is still not resolving, which is likely a delay with CrossRef. In the meantime you can see the published article here: https://joss.theoj.org/papers/10.21105/joss.03118

[2021-04-14 17:43] kyleniemeyer commented on #3039
@whedon generate pdf

Hi @robashaw, I am the AEIC on duty this week. It looks like this submission has reached the final stages, so I'm going to help it past the finish line.

[2021-04-14 17:44] dpalmasan commented on #3153
@whedon generate pdf

[2021-04-14 17:44] kyleniemeyer commented on #3039
@whedon generate pdf from branch joss

[2021-04-14 17:44] whedon commented on #3039
[code]

[2021-04-14 17:45] whedon commented on #3039
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03039/joss.03039/10.21105.joss.03039.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03039/joss.03039/10.21105.joss.03039.pdf) :page_facing_up: :point_left:

[2021-04-14 17:45] whedon commented on #3153
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03153/joss.03153/10.21105.joss.03153.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03153/joss.03153/10.21105.joss.03153.pdf) :page_facing_up: :point_left:

[2021-04-14 17:46] whedon commented on #3039
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03039/joss.03039/10.21105.joss.03039.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03039/joss.03039/10.21105.joss.03039.pdf) :page_facing_up: :point_left:

[2021-04-14 17:46] ateucher commented on #2927
@whedon generate pdf from branch joss

[2021-04-14 17:46] whedon commented on #2927
[code]

[2021-04-14 17:46] ateucher commented on #2927
@whedon commands

[2021-04-14 17:46] whedon commented on #2927
PDF failed to compile for issue #2927 with the following error:
[code]

[2021-04-14 17:47] kyleniemeyer commented on #3039
@robashaw Your article looks good; can you now archive your software repository (e.g., on Zenodo) and provide the DOI here? That is the last thing we need to accept this.

[2021-04-14 17:48] Garyfallidis commented on #3158
Perhaps @jni could be a potential editor for this ?

[2021-04-14 17:48] ateucher commented on #2927
@whendon commands

[2021-04-14 17:50] ateucher commented on #2927
@whedon commands

[2021-04-14 17:50] whedon commented on #2927
Here are some things you can ask me to do:

[code]

[2021-04-14 17:50] kyleniemeyer commented on #2741
Hello @shahmoradi, just checking in again. We are essentially ready to accept your submission, but just need you to make that change to your article.

[2021-04-14 17:55] kyleniemeyer commented on #2969
@whedon generate pdf

[2021-04-14 17:55] shahmoradi commented on #2741
My Apologies for the delay, I have become fully occupied with some personal
and family matters over the past month. Please give me until this weekend
to fix the outstanding issues and resubmit this paper to JOSS. Thank you.

On Wed, Apr 14, 2021 at 12:50 PM Kyle Niemeyer ***@***.***>
wrote:

[2021-04-14 17:56] whedon commented on #2969
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02969/joss.02969/10.21105.joss.02969.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02969/joss.02969/10.21105.joss.02969.pdf) :page_facing_up: :point_left:

[2021-04-14 17:58] JostMigenda commented on #2877
@arfon Merged your PR, thanks! ApJ is still correct; though I’ve noticed that the official name is "_The_ Astrophysical Journal"—I’ve updated that.

I’ve just tagged a new release (v0.7.3) and archived it on Zenodo ([10.5281/zenodo.4688040](https://dx.doi.org/10.5281/zenodo.4688040)). Please let me know if you need anything else!

[2021-04-14 17:58] kyleniemeyer commented on #2969
@kuadrat I am the AEIC on duty this week, and just stepping in to help get this past the finish line. It looks like we are ready to accept this submission; all we need now is for you to archive the software repository (e.g., in Zenodo) and provide the DOI here.

[2021-04-14 18:04] kyleniemeyer commented on #3050
Hi @f3rmion, I'm the AEIC on duty this week. It looks like this submission is at the finish line - I took a look over the paper and it seems in good shape.

Can you now archive the software repository (e.g., in Zenodo) and provide the DOI here?

[2021-04-14 18:05] kyleniemeyer commented on #2813
@whedon generate pdf from branch josspaper

[2021-04-14 18:05] whedon commented on #2813
[code]

[2021-04-14 18:06] lskatz commented on #2334
Done!  I think the only author change was to add my middle initial, right?  I also changed the title to match the paper.

[2021-04-14 18:07] whedon commented on #2813
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: :point_left:

[2021-04-14 18:08] kyleniemeyer commented on #2696
Hi @d-chambers, I'm the AEIC on duty this week, and stepping in here to help get this past the finish line. It looks like the reviewers have both recommended this for acceptance.

Some final steps needed:
- [ ] Your article is missing a Statement of Need section, which is a [required element](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) of JOSS papers. You ma

[2021-04-14 18:11] kyleniemeyer commented on #2813
@whedon set 10.5281/zenodo.4678742 as archive

[2021-04-14 18:11] whedon commented on #2813
OK. <a href="https://doi.org/10.5281/zenodo.4678742" target="_blank">10.5281/zenodo.4678742</a> is the archive.

[2021-04-14 18:18] kyleniemeyer commented on #2813
Hi @gaelforget, this is nearly ready for acceptance, but the parenthetical issues with the references throughout the paper remain.

When citing things, you do not need to include "e.g." or "see" or "for example"—this is implied whenever you cite one or more publications. But, this is more a preference, I suppose. The only real places that need to be fixed are when you have the nested parentheses l

[2021-04-14 18:19] kyleniemeyer commented on #2741
@shahmoradi no problem, just let us know

[2021-04-14 18:24] kyleniemeyer commented on #2334
Hi @lskatz @lpantano, I'm the AEIC on duty this week, just looking to help get this past the finish line!

Everything looks good, except for one minor issue in the paper: it is missing the Statement of Need section, which is a [required element](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) of JOSS papers.

Could you add this section? You can likely move some

[2021-04-14 18:24] kyleniemeyer commented on #2334
@whedon set 10.5281/zenodo.4657026 as archive

[2021-04-14 18:24] whedon commented on #2334
OK. <a href="https://doi.org/10.5281/zenodo.4657026" target="_blank">10.5281/zenodo.4657026</a> is the archive.

[2021-04-14 18:26] ateucher commented on #2927
@whedon @arfon we have now finished addressing the reviewer's comments:

@MilesMcBain's review identified several blockers to acceptance:

 - bcgov/bcdata#244: Addressed by bcgov/bcdata#266
 - bcgov/bcdata#246: Addressed by bcgov/bcdata#261
 - bcgov/bcdata#245: Addressed by bcgov/bcdata#263
 - bcgov/bcdata#242: Addressed by bcgov/bcdata#266

He also had one issue which he strongly recommended we a

[2021-04-14 18:26] whedon commented on #2927
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-04-14 18:29] kyleniemeyer commented on #3127
@whedon generate pdf

[2021-04-14 18:31] kyleniemeyer commented on #2871
@whedon generate pdf

[2021-04-14 18:31] whedon commented on #3127
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03127/joss.03127/10.21105.joss.03127.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03127/joss.03127/10.21105.joss.03127.pdf) :page_facing_up: :point_left:

[2021-04-14 18:31] whedon commented on #2871
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02871/joss.02871/10.21105.joss.02871.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02871/joss.02871/10.21105.joss.02871.pdf) :page_facing_up: :point_left:

[2021-04-14 18:35] gjo11 commented on #3139
I have no remaining issues and am I happy to recommend this for publication. Thank you to everyone who put work into this!

[2021-04-14 18:37] kyleniemeyer commented on #2973
Hi there, I'm the AEIC on duty this week, just looking to help submissions get past the finish line. It looks like @glyg and @sophietheis made some edits to the article in response to @SergeDmi's comments, so I'm thinking this may be nearly ready to accept?

I did notice some issues with references, that you can address:
- the "Cell Flow Reorients..." citation seems to be missing authors
- The Hon

[2021-04-14 18:43] kyleniemeyer commented on #2871
Hi @salrm8, I am the AEIC on duty this week, and it looks like this submission is essentially ready to be accepted. I noticed some small issues with citation formatting, and fixed them in https://github.com/KTH-Nek5000/UQit/pull/3. Can you merge this PR?

Once you've done that, you can archive your software repository (e.g., on Zenodo) and let us know the DOI here.

[2021-04-14 18:44] kyleniemeyer commented on #3127
Hi @tyronerees, it looks like we may be waiting on you to make some edits to the article?

[2021-04-14 18:54] RMeli commented on #3050
@kyleniemeyer I think the version number needs to be updated as well.

[2021-04-14 18:54] kyleniemeyer commented on #2862
@whedon generate pdf

[2021-04-14 18:56] kyleniemeyer commented on #2862
@whedon generate pdf from branch papers/JOSS

[2021-04-14 18:56] whedon commented on #2862
[code]

[2021-04-14 18:56] whedon commented on #2862
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: :point_left:

[2021-04-14 18:58] whedon commented on #2862
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: :point_left:

[2021-04-14 19:02] thelfer commented on #2945
Hi @diehlpk,
I am ashamed to take so long to finish the review. The article is acknowledgly well written, my tests went fine, the documentation is pretty good. Just need to find the time to conclude the review. Hopefully on friday if no other imperative and urgent duties don't appear out of nowhere again.
Thomas

[2021-04-14 19:09] kyleniemeyer commented on #3050
@RMeli we actually do not need to update that, as long as the DOI archives the appropriate version of the software

[2021-04-14 19:12] kyleniemeyer commented on #2862
Hi @mengaldo, I am the AEIC on duty this week looking to help get this submission past the finish line.

There are a few remaining issues with your article that need addressing:
- [ ] In the author name list, the formatting we use is "Given Middle-initial Surname"; it looks like yours are reversed. Could you review and correct this? Normally we also use written-out names, with only an initial for

[2021-04-14 19:12] kyleniemeyer commented on #2862
@whedon set 10.5281/zenodo.4680581 as archive

[2021-04-14 19:12] whedon commented on #2862
OK. <a href="https://doi.org/10.5281/zenodo.4680581" target="_blank">10.5281/zenodo.4680581</a> is the archive.

[2021-04-14 19:15] kyleniemeyer commented on #2951
@whedon invite @gkthiruvathukal as editor

Hi @gkthiruvathukal, I realize you just wrapped up a submission, but we are trying to trim the backlog... can you edit this submission?

[2021-04-14 19:15] whedon commented on #2951
@gkthiruvathukal has been invited to edit this submission.

[2021-04-14 19:16] kyleniemeyer commented on #3161
@whedon assign @will-rowe as editor

(whoops, realized we didn't formally assign this)

[2021-04-14 19:16] whedon commented on #3161
OK, the editor is @will-rowe

[2021-04-14 19:19] jhollist commented on #3027
@marcosvital Thanks for the invite, but unfortunately I am going to have to decline.  I've got several reviews waiting on me right now and can't take on anymore for the time being.  Sorry!

[2021-04-14 19:21] gkthiruvathukal commented on #2951
Hi @kyleniemeyer. Yes, I can edit it.

[2021-04-14 19:23] martinju commented on #3139
Just a minor thing about this

My point here was to compute these measures for a model, but on out-of-sample data. From what I can see, the performance_* only does this for the data used to fit the model. Maybe you could just add two new optional arguments to the functions ytest and xtest which are used to compute the measures if provided?

If necessary we can continue the discussion in the releva

[2021-04-14 19:25] kyleniemeyer commented on #2951
@whedon assign @gkthiruvathukal as editor

Thank you!

[2021-04-14 19:25] martinju commented on #3139
I am happy with the response and adjustments from @strengejacke to my comments.
(Note: I consider the above feature request comments that to be a feature for a potential future version and not something required at this stage.)

All points in the checklist are now checked off, and I recommend the current version of this package and paper for publication! Nice work @strengejacke et al.

[2021-04-14 19:25] whedon commented on #2951
OK, the editor is @gkthiruvathukal

[2021-04-14 19:32] kyleniemeyer commented on #2871
@whedon generate pdf

[2021-04-14 19:34] whedon commented on #2871
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02871/joss.02871/10.21105.joss.02871.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02871/joss.02871/10.21105.joss.02871.pdf) :page_facing_up: :point_left:

[2021-04-14 19:36] salrm8 commented on #2871
@kyleniemeyer Thank you! I will archive the repo and let you know.

[2021-04-14 19:51] mbobra commented on #3154
@whedon assign @kelseymh as reviewer

[2021-04-14 19:51] whedon commented on #3154
OK, @kelseymh is now a reviewer

[2021-04-14 19:54] strengejacke commented on #3139
Thanks to you all for your suggestions and comments that helped improving the paper and repo!

[2021-04-14 20:30] #3118 closed

[2021-04-14 20:30] whedon commented on #3118
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03118/status.svg)](https://doi.org/10.21105/joss.03118)

**We need your help!**

Journal of Open Source Softwa

[2021-04-14 20:30] #3075 closed

[2021-04-14 20:30] whedon commented on #3075
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03075/status.svg)](https://doi.org/10.21105/joss.03075)

**We need your help!**

Journal of Open Source Softwa

[2021-04-14 20:47] jedbrown commented on #2945
Thanks for your time, @thelfer. We recently released v0.8.0 and would be happy to incorporate additional feedback into a subsequent v0.8.1.

[2021-04-14 20:55] jpsnijder commented on #3041
Honestly, I would love to go toe to toe with you in bird law... filibuster..

Sent from my iPhone

On Apr 14, 2021, at 12:47, Sam Parsons ***@***.***> wrote:

﻿

thanks @rMassimiliano<https://github.com/rMassimiliano>

  1.  Yeah, these are little easter-egg references to It's always sunny in Philadelphia. Largely for my own amusement.
  2.  Fair point. Originally it was because the set-up code is

[2021-04-14 20:57] jpsnijder commented on #3041
Please disregard that last email, it was for Sam.

My apologies,

Jean-Paul

Sent from my iPhone

[2021-04-14 22:55] gaelforget commented on #2813
Merged. Thanks @kyleniemeyer

[2021-04-14 22:56] ablaom commented on #2849
@afron Thanks for this clarification! Your statements makes perfect sense to me and I am very happy to see this work acknowledged through publication.

[2021-04-14 23:13] jni commented on #3098
Yes, good tips @wolfv and thank you for taking the time to look over everything!

The only question is whether you would suggest this as feedback for the authors but still recommend acceptance, or whether you see a tutorial/real-life example as a pre-requisite before publication. I can see arguments either way.

[2021-04-15 03:12] vyasr commented on #3098
Yes thanks for the review @wolfv. Whether or not you think this is a prerequisite for publication, a tutorial+examples is definitely something I'll work to add. What would you think about publishing the notebooks used to generate the components of the paper figure as a set of representative "real-life" examples? Each panel in the figure was made with a separate notebook that I could directly add (

[2021-04-15 03:17] jni commented on #3158
Thanks for the ping @Garyfallidis! It's indeed right up my alley but I'm currently editing two other manuscripts and don't have the bandwidth for another. Happy to pick it up once my queue is clear, or perhaps another editor will have availability...

[2021-04-15 03:20] jni commented on #3098
@vyasr since you are the author you can choose whatever copyright you want. If you use CC-BY/CC0 for your docs and refer to them in the paper, everything should be fine. We don't publish papers that have been published in other peer-reviewed venues, but basing the paper on the docs and vice versa is A-ok.

[2021-04-15 04:07] navidcy commented on #3053
@pdebuyl, we've tagged a new release GeophysicalFlows.jl v0.12.0 which includes:
- updated installation instructions in Readme
- simpler loading of packages in examples (e.g., users don't need to call `using FourierFlows` nor `using CUDA` any more)
- remarks on the extra packages needed to be installed for each experiment

Have a look and let me know how that looks. Note that if you've installed G

[2021-04-15 04:54] aghaynes commented on #3118
Thanks for the help everyone!

[2021-04-15 06:25] f3rmion commented on #3050
Hi @kyleniemeyer,

v1.0.7 includes all changes and is now archived in Zenodo, DOI: 10.5281/zenodo.4692147

[2021-04-15 06:56] glyg commented on #2973
Thanks @kyleniemeyer , checking those now

[2021-04-15 07:00] iljah commented on #3096
I mean that at least code shown in documentation could be moved to hypercomplex constructor I think. Hypercomplex<mpfr_t, 8> already knows that there will be 8 mpfr types so it could call mpfr_init2 in constructor. Constructor could also call mpfr_set_d which would allow using H{1,2,3,...} directly. Although now I notice that same thing applies to doubles so hypercomplex never owns its storage? Th

[2021-04-15 07:22] xuanxu commented on #2877
@whedon set v0.7.3 as version

[2021-04-15 07:22] whedon commented on #2877
OK. v0.7.3 is the version.

[2021-04-15 07:22] xuanxu commented on #2877
@wheodn set 10.5281/zenodo.4688040 as archive

[2021-04-15 07:23] xuanxu commented on #2877
@whedon set 10.5281/zenodo.4688040 as archive

[2021-04-15 07:23] whedon commented on #2877
OK. <a href="https://doi.org/10.5281/zenodo.4688040" target="_blank">10.5281/zenodo.4688040</a> is the archive.

[2021-04-15 07:23] xuanxu commented on #2877
@whedon accept

[2021-04-15 07:23] whedon commented on #2877
[code]

[2021-04-15 07:24] whedon commented on #2877
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2230

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2230, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-15 07:25] whedon commented on #2877
[code]

[2021-04-15 08:09] kuadrat commented on #2969
@kyleniemeyer I have uploaded a zip of the current repository on Zenodo. The DOI is:

10.5281/zenodo.4692467

[2021-04-15 08:23] oliviaguest commented on #3041
@jpsnijder no worries — deleted them from this public thread. 🌼

@rMassimiliano I think only "Functionality documentation: Is the core functionality of the software documented to a satisfactory level (e.g., API method documentation)?" is left now, right?

@sdparsons this is looking very close to ready: exciting! ☺️

[2021-04-15 08:39] oliviaguest commented on #3042
I assume the other two reviewers are not checking their notifications, I will email them now.

[2021-04-15 08:46] rvosa commented on #3135
Hey Mark! Sure, I'll be happy to do that. Thanks for the guide but this isn't even my first JOSS rodeo ;-)

Hope things are good with you too!

[2021-04-15 09:53] arfon commented on #2927
@ateucher - many thanks for the detailed response.

@tweed1e, @MilesMcBain - please could you come and take another look at this submission and see if these updates address your feedback? If they do, please update your checklists accordingly, if not, please let us know why.

[2021-04-15 09:55] arfon commented on #3154
Yeah, I'm afraid the paper can only be associated with a single author in our submission system.

[2021-04-15 10:19] marcosvital commented on #3027
No problem, @jhollist, and thank you for the quick reply.

[2021-04-15 10:19] marcosvital commented on #3027
Dear @bradyrx, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to review, ple

[2021-04-15 11:25] mengaldo commented on #2862
@whedon generate pdf from branch main

[2021-04-15 11:25] whedon commented on #2862
[code]

[2021-04-15 11:27] whedon commented on #2862
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: :point_left:

[2021-04-15 11:38] mengaldo commented on #2862
@kyleniemeyer Thank you for the help! These should be all fixed. The only issue seems to be related to the url of one of the references. Also, please use the main branch to compile the paper now, as I moved everything there, and papers/JOSS will be removed. Thank you for handling the publication process!

[2021-04-15 12:50] marcosvital commented on #2692
Hi, @Manolomon! I'm just passing by to check if you have any news on the revision. Let us know if you have any problems, ok?

[2021-04-15 12:50] will-rowe commented on #3161
Thanks both - I'll keep trying. Good luck with the write up @aineniamh!

[2021-04-15 12:51] will-rowe commented on #3161
Hi @acolum - would you be able to review this for us?

[2021-04-15 12:52] will-rowe commented on #3161
Hi @giskid - would you be able to review this JOSS submission?

[2021-04-15 13:13] djmitche commented on #2124
Hi folks -- should we consider closing this?  It's been in my list of assigned issues for a long time....

[2021-04-15 13:16] Garyfallidis commented on #3158
Sounds good @jni.

[2021-04-15 13:24] pdebuyl commented on #3053
I have the error

[code]

I hope this is not a silly mistake on my side. I updated the code and restarted to copy-paste the first example...

[2021-04-15 13:29] pdebuyl commented on #3053
@whedon check references

[2021-04-15 13:42] robashaw commented on #3039
@kyleniemeyer Thanks, I've archived it on Zenodo, the DOI is ```10.5281/zenodo.4694353```

[2021-04-15 13:43] rMassimiliano commented on #3041
Hi @oliviaguest all box checked. The package looks fine to me 😄

@sdparsons great job! The documentation looks much nicer. Here three typos I spotted:

1. `multiverse.plot()`

* in the description     `reliabilty` -> `reliabiltiy`

* in value    `visualistation` -> `visualization`

2. `splithalf()`

* in the description `ourcomes` -> `outcomes`

[2021-04-15 13:49] sdparsons commented on #3041
This process is definitely highlighting how bad I am at proofing text in RStudio...
Thanks for catching these @rMassimiliano - all fixed now. :)

[2021-04-15 14:04] kthyng commented on #3128
@whedon assign @evanleeturner as reviewer

[2021-04-15 14:04] whedon commented on #3128
OK, @evanleeturner is now a reviewer

[2021-04-15 14:06] kthyng commented on #3128
Hi @raoulcollenteur! Are you interested in reviewing this submission for the Journal of Open Source Software? You can read about the process [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and we are asking for reviews to be finished within about 4-6 weeks but since it is often an iterative process, you would want to start sooner than that. Thanks for your consideration.

[2021-04-15 14:07] kthyng commented on #3102
Thanks @joferkington!

[2021-04-15 14:07] kthyng commented on #3102
@whedon add @joferkington as reviewer

[2021-04-15 14:07] whedon commented on #3102
OK, @joferkington is now a reviewer

[2021-04-15 14:07] pdebuyl commented on #3053
@whedon check references

[2021-04-15 14:07] kthyng commented on #3102
@whedon start review

[2021-04-15 14:07] whedon opened #3172 "[REVIEW]: Semi-Automatic Classification Plugin: A Python tool for the download and processing of remote sensing images in QGIS"
**Submitting author:** @semiautomaticgit (<a href="http://orcid.org/0000-0001-7283-116X">Luca Congedo</a>)
**Repository:** <a href="https://github.com/semiautomaticgit/SemiAutomaticClassificationPlugin" target ="_blank">https://github.com/semiautomaticgit/SemiAutomaticClassificationPlugin</a>
**Version:** 7.8.0
**Editor:** @kthyng
**Reviewer:** @bstabler, @joferkington
**Archive:** Pending

**:war

[2021-04-15 14:07] whedon commented on #3102
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3172.

[2021-04-15 14:07] #3102 closed

[2021-04-15 14:07] whedon commented on #3172
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bstabler, @joferkington it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-04-15 14:09] kthyng commented on #3102
@bstabler and @joferkington, please head on over to #3172  for the actual review issue, and let me know if you have any questions. Thanks!

[2021-04-15 14:09] whedon commented on #3172
PDF failed to compile for issue #3172 with the following error:
[code]

[2021-04-15 14:10] whedon commented on #3172
[code]

[2021-04-15 14:12] kthyng commented on #3157
Hi @thurber! I see you suggested two reviewers, but they both state their preferred language as R while your package is written in Python. Could you suggest reviewers who are a better fit for your submission?

[2021-04-15 14:49] DavidNickle commented on #3135
**Conflict of interest:** I confirm that I have read the JOSS conflict of interest policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.
**Code of Conduct**

**Repository:** The source code for this software is available at the repository url **YES**

**License:** The repository contain a plain-text LICENSE file

[2021-04-15 15:21] amoeba commented on #3118
Congrats @aghaynes! It was a pleasure to review. And thanks @majensen and @TomKellyGenetics for the help.

[2021-04-15 15:24] majensen commented on #3135
@DavidNickle thanks for the review, you can reenter it when we start the official review-- coming soon!

[2021-04-15 15:24] majensen commented on #3135
@rvosa you as usual are "the man"!

[2021-04-15 15:25] majensen commented on #3135
@whedon add @rvosa as reviewer

[2021-04-15 15:25] whedon commented on #3135
OK, @rvosa is now a reviewer

[2021-04-15 15:26] majensen commented on #3135
@whedon start review

[2021-04-15 15:26] whedon opened #3173 "[REVIEW]: Ngesh: a Python library for synthetic phylogenetic data"
**Submitting author:** @tresoldi (<a href="http://orcid.org/0000-0002-2863-1467">Tiago Tresoldi</a>)
**Repository:** <a href="https://github.com/tresoldi/ngesh" target ="_blank">https://github.com/tresoldi/ngesh</a>
**Version:** v0.5
**Editor:** @majensen
**Reviewer:** @DavidNickle, @rvosa
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2021-04-15 15:26] whedon commented on #3135
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3173.

[2021-04-15 15:26] #3135 closed

[2021-04-15 15:26] whedon commented on #3173
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @DavidNickle, @rvosa it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-04-15 15:27] whedon commented on #3173
Failed to discover a `Statement of need` section in paper

[2021-04-15 15:27] whedon commented on #3173
[code]

[2021-04-15 15:28] whedon commented on #3173
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: :point_left:

[2021-04-15 15:28] majensen commented on #3135
@tresoldi @DavidNickle @rvosa please join the review now open over at #3173 - thanks!

[2021-04-15 15:30] whedon commented on #3173
[code]

[2021-04-15 15:38] DavidNickle commented on #3173
**Conflict of interest:** I confirm that I have read the JOSS conflict of interest policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.
**Code of Conduct**

**Repository:** The source code for this software is available at the repository url **YES**

**License:** The repository contain a plain-text LICENSE file

[2021-04-15 15:44] kyleniemeyer commented on #3039
@whedon set 10.5281/zenodo.4694353 as archive

[2021-04-15 15:44] whedon commented on #3039
OK. <a href="https://doi.org/10.5281/zenodo.4694353" target="_blank">10.5281/zenodo.4694353</a> is the archive.

[2021-04-15 15:45] kyleniemeyer commented on #3039
@whedon accept

[2021-04-15 15:45] whedon commented on #3039
[code]

[2021-04-15 15:46] whedon commented on #3039
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2231

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2231, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-15 15:46] whedon commented on #3039
[code]

[2021-04-15 15:47] kyleniemeyer commented on #3039
@whedon accept deposit=true

[2021-04-15 15:47] whedon commented on #3039
[code]

[2021-04-15 15:48] whedon commented on #3039
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1382722584572223491) 👈 🐦🐦🐦

[2021-04-15 15:48] whedon commented on #3039
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2232
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03039](https://doi.org/10.21105/joss.03039)
2. If everything look

[2021-04-15 15:52] kyleniemeyer commented on #3039
Congrats @robashaw on your article's publication in JOSS!

Many thanks to @felipeZ and @lorenzo-rovigatti for reviewing this, and @poulson for editing.

[2021-04-15 15:52] #3039 closed

[2021-04-15 15:52] whedon commented on #3039
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03039/status.svg)](https://doi.org/10.21105/joss.03039)

**We need your help!**

Journal of Open Source Softwa

[2021-04-15 16:09] kyleniemeyer commented on #2969
@whedon set 10.5281/zenodo.4692467 as archive

[2021-04-15 16:09] whedon commented on #2969
OK. <a href="https://doi.org/10.5281/zenodo.4692467" target="_blank">10.5281/zenodo.4692467</a> is the archive.

[2021-04-15 16:09] kyleniemeyer commented on #2969
@whedon accept

[2021-04-15 16:09] whedon commented on #2969
[code]

[2021-04-15 16:10] whedon commented on #2969
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2233

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2233, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-15 16:13] kyleniemeyer commented on #2877
OK, this looks good to me!

[2021-04-15 16:14] kyleniemeyer commented on #2877
@whedon accept deposit=true

[2021-04-15 16:14] whedon commented on #2877
[code]

[2021-04-15 16:16] whedon commented on #2877
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1382729449330900993) 👈 🐦🐦🐦

[2021-04-15 16:16] whedon commented on #2877
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2234
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02877](https://doi.org/10.21105/joss.02877)
2. If everything look

[2021-04-15 16:17] kyleniemeyer commented on #2969
Hi @kuadrat, our bot found some possible DOI issues in the references. It *does* look like that you can add that DOI for the ParaView reference; the other two may be false positives, due to references in your `.bib` file that aren't actually cited in the paper. Can you review these?

[2021-04-15 16:18] kyleniemeyer commented on #2877
Congrats @JostMigenda on your article's publication in JOSS!

Many thanks to  @bradkav and @benjaminrose for reviewing this, and @xuanxu for editing.

[2021-04-15 16:18] #2877 closed

[2021-04-15 16:18] whedon commented on #2877
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02877/status.svg)](https://doi.org/10.21105/joss.02877)

**We need your help!**

Journal of Open Source Softwa

[2021-04-15 16:20] kyleniemeyer commented on #3050
@whedon set v1.0.7 as version

(just for completeness😃)

[2021-04-15 16:20] whedon commented on #3050
OK. v1.0.7 is the version.

[2021-04-15 16:20] kyleniemeyer commented on #3050
@whedon set 10.5281/zenodo.4692147 as archive

[2021-04-15 16:21] whedon commented on #3050
OK. <a href="https://doi.org/10.5281/zenodo.4692147" target="_blank">10.5281/zenodo.4692147</a> is the archive.

[2021-04-15 16:21] kyleniemeyer commented on #3050
@whedon accept

[2021-04-15 16:21] whedon commented on #3050
[code]

[2021-04-15 16:22] whedon commented on #3050
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2235

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2235, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-15 16:22] whedon commented on #3050
[code]

[2021-04-15 16:26] kyleniemeyer commented on #3050
@whedon accept deposit=true

[2021-04-15 16:26] whedon commented on #3050
[code]

[2021-04-15 16:28] whedon commented on #3050
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1382732483289096200) 👈 🐦🐦🐦

[2021-04-15 16:28] whedon commented on #3050
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2236
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03050](https://doi.org/10.21105/joss.03050)
2. If everything look

[2021-04-15 16:52] kyleniemeyer commented on #3050
Congrats @f3rmion on your article's publication in JOSS!

Many thanks to @RMeli and @Sulstice for reviewing this, and @richardjgowers for editing.

[2021-04-15 16:52] #3050 closed

[2021-04-15 16:52] whedon commented on #3050
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03050/status.svg)](https://doi.org/10.21105/joss.03050)

**We need your help!**

Journal of Open Source Softwa

[2021-04-15 16:52] kyleniemeyer commented on #2813
@whedon generate pdf

[2021-04-15 16:54] whedon commented on #2813
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: :point_left:

[2021-04-15 16:55] raoulcollenteur commented on #3128
Happy to help, agree to review!

[2021-04-15 17:28] lukapecnik commented on #2949
Hi @arfon, thank you for responding. Has there been any response from @sara-02? Thank you.

[2021-04-15 17:48] whedon commented on #3143
:wave: @jarrah42, please update us on how your review is going (this is an automated reminder).

[2021-04-15 17:48] whedon commented on #3143
:wave: @hkaiser, please update us on how your review is going (this is an automated reminder).

[2021-04-15 17:52] kyleniemeyer commented on #2813
Hi @gaelforget, looks like there were still some issues, or perhaps I made mistakes: https://github.com/JuliaClimate/IndividualDisplacements.jl/pull/72

[2021-04-15 17:59] tresoldi commented on #3173
Thanks! I will add the DOIs when reviews are over. I can also add a short "Statement of need" if preferred (once more, after the first round of review is over).

[2021-04-15 18:01] pdebuyl commented on #3053
@whedon check references

[2021-04-15 18:16] sisco0 commented on #2395
The current document shows comments on each one of the Checklist points for https://github.com/openjournals/joss-reviews/issues/2395. After reviewing the solution, I could say that it seems a promising solution for allowing researchers to integrate into current development pipelines. This tool could provide a fast way for comparing different solutions while easing the task of model configuration a

[2021-04-15 18:25] d-chambers commented on #2696
@whedon generate pdf

[2021-04-15 18:27] whedon commented on #2696
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02696/joss.02696/10.21105.joss.02696.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02696/joss.02696/10.21105.joss.02696.pdf) :page_facing_up: :point_left:

[2021-04-15 18:38] d-chambers commented on #2696
Current-version DOI: http://doi.org/10.5281/zenodo.4544008

All-version DOI: http://doi.org/10.5281/zenodo.3228432

[2021-04-15 18:40] d-chambers commented on #2696
ok @kyleniemeyer, let me know if anything else is required. Also, thanks for your work on JOSS :smile:

[2021-04-15 19:28] RMeli commented on #3050
Congratulations @f3rmion !

[2021-04-15 19:45] mbobra commented on #3154
@whedon add @matthewfeickert as reviewer

[2021-04-15 19:45] whedon commented on #3154
OK, @matthewfeickert is now a reviewer

[2021-04-15 19:46] mbobra commented on #3154
@whedon start review

[2021-04-15 19:46] whedon opened #3174 "[REVIEW]: nrCascadeSim - A simulation tool for nuclear recoil cascades resulting from neutron capture"
**Submitting author:** @gerudo7 (<a href="http://orcid.org/0000-0001-5406-8367">Kitty Harris</a>)
**Repository:** <a href="https://github.com/villano-lab/nrCascadeSim" target ="_blank">https://github.com/villano-lab/nrCascadeSim</a>
**Version:** 1.0.1
**Editor:** @mbobra
**Reviewer:** @kelseymh, @matthewfeickert
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-04-15 19:46] whedon commented on #3154
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3174.

[2021-04-15 19:46] #3154 closed

[2021-04-15 19:46] whedon commented on #3174
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kelseymh, @matthewfeickert it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-04-15 19:46] whedon commented on #3174
[code]

[2021-04-15 19:46] whedon commented on #3174
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03174/joss.03174/10.21105.joss.03174.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03174/joss.03174/10.21105.joss.03174.pdf) :page_facing_up: :point_left:

[2021-04-15 19:47] whedon commented on #3174
[code]

[2021-04-15 19:47] mbobra commented on #3154
👋 @kelseymh @matthewfeickert @gerudo7 See you over in #3174 where we'll do the review!

[2021-04-15 19:49] mbobra commented on #3174
👋 @kelseymh, @matthewfeickert Thank you so much for agreeing to review this submission!

Here's what you need:

* Here is the software repository: https://github.com/villano-lab/nrCascadeSim
* The paper describing the software is linked in Whedon's comment above ⬆️
* Here is a detailed description of the review criteria: https://joss.readthedocs.io/en/latest/review_criteria.html#review-items

Plea

[2021-04-15 19:57] eloisabentivegna commented on #2862
Thanks, @kyleniemeyer!

[2021-04-15 20:03] navidcy commented on #3053
Strange. Could you paste the output of
[code]
?

[2021-04-15 20:08] kyleniemeyer commented on #2696
Thanks @d-chambers - can you clean up the author list on the current-version Zenodo record to match that of the paper?

[2021-04-15 20:13] glwagner commented on #3053
@navidcy do you need to update the compat tag for `FourierFlows`? It's set to 0.6.16, but I think the reexport stuff was added to 0.6.17?

https://github.com/FourierFlows/GeophysicalFlows.jl/blob/e4f1ba3402eaa9982b62f4775bc58680290cf1a2/Project.toml#L24

https://github.com/FourierFlows/FourierFlows.jl/pull/271/files

[2021-04-15 20:14] navidcy commented on #3053
🤦‍♂️

(I thought I did it...)

[2021-04-15 20:18] mbdemoraes commented on #3153
@dpalmasan great job so far! I believe these should be the last issues:

- https://github.com/dpalmasan/TRUNAJOD2.0/issues/50
- https://github.com/dpalmasan/TRUNAJOD2.0/issues/51

[2021-04-15 20:24] lskatz commented on #2334
Hi @kyleniemeyer and @lpantano, I have added a Statement of Need section.  Does this affect the Zenodo archive at all or versioning?  Or is this one-off acceptable?

[2021-04-15 20:24] d-chambers commented on #2696
Done. My apologies for not doing it originally, I am new to Zenodo.

[2021-04-15 20:24] lskatz commented on #2334
@whedon generate pdf

[2021-04-15 20:25] whedon commented on #2334
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02334/joss.02334/10.21105.joss.02334.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02334/joss.02334/10.21105.joss.02334.pdf) :page_facing_up: :point_left:

[2021-04-15 21:10] thurber commented on #3157
@kthyng, whoops, sorry about that!

Looking through the list of potential reviewers... looks like raoulcollenteur, JannisHoch, zgxn, Hendrick-ARS, cheginit, dbuscombe-usgs, rchg, and AtrCheema would all be good candidates

[2021-04-15 21:20] kthyng commented on #3128
@raoulcollenteur awesome! Ok I'll get things rolling then.

[2021-04-15 21:20] kthyng commented on #3128
@whedon add @raoulcollenteur as reviewer

[2021-04-15 21:20] whedon commented on #3128
OK, @raoulcollenteur is now a reviewer

[2021-04-15 21:21] kthyng commented on #3128
@whedon start review

[2021-04-15 21:22] whedon opened #3175 "[REVIEW]: HyRiver: Hydroclimate Data Retriever"
**Submitting author:** @cheginit (<a href="http://orcid.org/0000-0002-5430-6000">Taher Chegini</a>)
**Repository:** <a href="https://github.com/cheginit/HyRiver" target ="_blank">https://github.com/cheginit/HyRiver</a>
**Version:** v0.10.x
**Editor:** @kthyng
**Reviewer:** @evanleeturner, @raoulcollenteur
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-04-15 21:22] whedon commented on #3128
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3175.

[2021-04-15 21:22] #3128 closed

[2021-04-15 21:22] whedon commented on #3175
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @evanleeturner, @raoulcollenteur it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog po

[2021-04-15 21:22] whedon commented on #3175
[code]

[2021-04-15 21:22] whedon commented on #3175
[code]

[2021-04-15 21:22] kthyng commented on #3128
@evanleeturner and @raoulcollenteur please head over to #3175 for the actual review issue, and let me know if you have any questions!

[2021-04-15 21:22] whedon commented on #3175
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03175/joss.03175/10.21105.joss.03175.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03175/joss.03175/10.21105.joss.03175.pdf) :page_facing_up: :point_left:

[2021-04-15 21:23] navidcy commented on #3053
@pdebuyl, I pushed a patch v0.12.1. Could you try updating again and give it a go?
If you get an error then please paste here the output from
[code]
and
[code]

[2021-04-15 21:56] kyleniemeyer commented on #2696
@whedon set 10.5281/zenodo.4544008 as archive

[2021-04-15 21:56] whedon commented on #2696
OK. <a href="https://doi.org/10.5281/zenodo.4544008" target="_blank">10.5281/zenodo.4544008</a> is the archive.

[2021-04-15 21:56] kyleniemeyer commented on #2696
@whedon accept

[2021-04-15 21:56] whedon commented on #2696
[code]

[2021-04-15 21:56] whedon commented on #2696
[code]

[2021-04-15 21:57] whedon commented on #2696
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2237

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2237, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-15 22:01] kyleniemeyer commented on #2696
@d-chambers sorry, looks like I missed something - the QuakeML is actually missing some key citation details, including a few authors, the volume (54) and number (1), and DOI: `10.4401/ag-4874`

Can you add these?

[2021-04-15 22:42] d-chambers commented on #2696
Ok, I have added the volume, number and DOI.

The missing authors issues is interesting. The authors are included in the bib but don't show up in the PDF. Same issue for the ObsPy reference. I will dig into it more.

[2021-04-15 22:45] kyleniemeyer commented on #2862
Hi @mengaldo, I still saw some minor issues (or maybe I'm just very particular), which I fixed in https://github.com/mengaldo/PySPOD/pull/14 - can you merge this?

[2021-04-15 22:45] kyleniemeyer commented on #2696
@whedon generate pdf

[2021-04-15 22:46] whedon commented on #2696
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02696/joss.02696/10.21105.joss.02696.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02696/joss.02696/10.21105.joss.02696.pdf) :page_facing_up: :point_left:

[2021-04-15 22:49] d-chambers commented on #2696
Sorry haven't merged the changes to master yet, still trying to figure out why the middle authors aren't showing.

[2021-04-15 22:50] kyleniemeyer commented on #2696
Ah, I think the issue related to the commas in the `author` fields.

For the ObsPy reference, it should be `{Krischer, L. and Megies, T. and Barsch, R. and Beyreuther, M. and Lecocq, T. and Caudron, C. and Wassermann, J.}` (you want "and" rather than commas between the authors)

Also, you also do not need brackets around all the surnames, except in uncommon cases.

[2021-04-15 22:51] kyleniemeyer commented on #2696
and then `{Schorlemmer, D. and Euchner, F. and Kästli, P. and Saul, J.}` for QuakeML

[2021-04-15 22:55] d-chambers commented on #2696
@whedon generate pdf

Ok thanks, should be good now

[2021-04-15 22:56] whedon commented on #2696
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02696/joss.02696/10.21105.joss.02696.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02696/joss.02696/10.21105.joss.02696.pdf) :page_facing_up: :point_left:

[2021-04-15 22:57] kyleniemeyer commented on #2696
@d-chambers ah, one final issue: please remove the `https://doi.org/` from the QuakeML DOI, it should just include the DOI itself.

[2021-04-15 22:59] d-chambers commented on #2696
Done

[2021-04-15 22:59] kyleniemeyer commented on #2696
@whedon accept

[2021-04-15 22:59] whedon commented on #2696
[code]

[2021-04-15 22:59] whedon commented on #2696
[code]

[2021-04-15 22:59] dpalmasan commented on #3153
@whedon generate pdf

[2021-04-15 23:00] whedon commented on #2696
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2238

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2238, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-15 23:00] whedon commented on #3153
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03153/joss.03153/10.21105.joss.03153.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03153/joss.03153/10.21105.joss.03153.pdf) :page_facing_up: :point_left:

[2021-04-15 23:01] kyleniemeyer commented on #2696
@whedon accept deposit=true

[2021-04-15 23:01] whedon commented on #2696
[code]

[2021-04-15 23:02] whedon commented on #2696
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1382831621691248641) 👈 🐦🐦🐦

[2021-04-15 23:02] whedon commented on #2696
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2239
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02696](https://doi.org/10.21105/joss.02696)
2. If everything look

[2021-04-15 23:03] kyleniemeyer commented on #2696
Congrats @d-chambers on your article's publication in JOSS!

Many thanks to @seisman and @ThomasLecocq for reviewing this, and @leouieda for editing it.

[2021-04-15 23:03] #2696 closed

[2021-04-15 23:03] whedon commented on #2696
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02696/status.svg)](https://doi.org/10.21105/joss.02696)

**We need your help!**

Journal of Open Source Softwa

[2021-04-15 23:05] d-chambers commented on #2696
Thanks everyone. :tada:

[2021-04-15 23:09] mbdemoraes commented on #3153
@danielskatz My review has been completed.

[2021-04-15 23:11] danielskatz commented on #3153
@mbdemoraes - just to confirm, you are now satisfied that this work can be published?

[2021-04-15 23:11] danielskatz commented on #3153
👋 @apiad - there's no hurry, but how are things coming for you?

[2021-04-15 23:16] mbdemoraes commented on #3153
@danielskatz Sure! I'm ready to approve it.

[2021-04-15 23:51] TomKellyGenetics commented on #3118
Well done @aghaynes! Delighted to see this accepted. Best of luck for your future endeavours.

[2021-04-16 00:59] apiad commented on #3153
I'm pretty confident I'll get it done during the weekend. The work seems pretty solid. I just have to download and check the functional claims but other than that I'm quite convinced it's gonna be a smooth review.

[2021-04-16 01:00] apiad commented on #3153
Sorry, clicked a button by accident...

[2021-04-16 01:16] mengaldo commented on #2862
@kyleniemeyer Thank you, just did.

[2021-04-16 01:50] niceume commented on #3170
@fboehm @g4brielvs - Thank you for your reviewing. I come to think that I need to once withdraw this StatSailr's submission. I have another repository reviewed at https://github.com/openjournals/joss-reviews/issues/3166#event-4590901219 , and I am receiving comments. Considering those comments, I also think I need to update this StatSailr's paper and README especially about testing part.

I am sor

[2021-04-16 03:07] kyleniemeyer commented on #2862
@whedon generate pdf

[2021-04-16 03:08] whedon commented on #2862
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: :point_left:

[2021-04-16 03:51] kyleniemeyer commented on #2862
@whedon accept

[2021-04-16 03:51] whedon commented on #2862
[code]

[2021-04-16 03:52] whedon commented on #2862
[code]

[2021-04-16 03:52] whedon commented on #2862
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2240

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2240, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-16 03:58] kyleniemeyer commented on #2862
@whedon accept deposit=true

[2021-04-16 03:58] whedon commented on #2862
[code]

[2021-04-16 03:59] whedon commented on #2862
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1382906484930052096) 👈 🐦🐦🐦

[2021-04-16 03:59] whedon commented on #2862
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2241
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02862](https://doi.org/10.21105/joss.02862)
2. If everything look

[2021-04-16 04:04] kyleniemeyer commented on #2862
Congrats @mengaldo on your article's publication in JOSS!

Many thanks to  @albertonogueira, @Joao-L-S-Almeida, and @jdmoorman for reviewing this, and @eloisabentivegna for editing.

[2021-04-16 04:04] #2862 closed

[2021-04-16 04:04] whedon commented on #2862
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02862/status.svg)](https://doi.org/10.21105/joss.02862)

**We need your help!**

Journal of Open Source Softwa

[2021-04-16 05:59] nachootal commented on #3170
Hi @niceume , thanks for letting us know. I'll wait for you to let us know when can we continue. As I had already started reviewing it, I have a suggestion. I understand the focus of the software is skilled scientists, specifically staticians, that might very well know how to install R and have it set up on their computers but newbies might not be so skilled. Since this is an important requirement

[2021-04-16 06:43] r-barnes commented on #2878
I hope to have time this weekend or late Friday night :-(

[2021-04-16 06:43] r-barnes commented on #2575
I hope to have time this weekend or late Friday night :-(

[2021-04-16 06:43] r-barnes commented on #2276
I hope to have time this weekend or late Friday night :-(

[2021-04-16 07:05] kyleniemeyer commented on #3046
@whedon invite @vissarion as editor

Hi @vissarion, could you edit this one?

[2021-04-16 07:05] whedon commented on #3046
@vissarion has been invited to edit this submission.

[2021-04-16 07:07] kyleniemeyer commented on #3124
Hello @arokem, @nsaunier, @abhishekbajpayee: I'm just checking in on the status of this submission. Do you have ETAs on when you might be able to submit your reviews?

[2021-04-16 07:09] kyleniemeyer commented on #3163
@whedon invite @eloisabentivegna as editor

Hi @eloisabentivegna, can you edit this? We are trying to work through our backlog of submissions.

[2021-04-16 07:09] whedon commented on #3163
@eloisabentivegna has been invited to edit this submission.

[2021-04-16 07:21] vigji commented on #3042
I am very sorry, yes, I was missing the notifications!

I went again through the repository. For the review, I opened 6 issues (https://github.com/3d-pli/fastpli/issues/1, https://github.com/3d-pli/fastpli/issues/2, https://github.com/3d-pli/fastpli/issues/3, https://github.com/3d-pli/fastpli/issues/4, https://github.com/3d-pli/fastpli/issues/5, https://github.com/3d-pli/fastpli/issues/6) concerni

[2021-04-16 08:11] Kevin-Mattheus-Moerman commented on #3018
@ksyang2013, @jan-janssen, @jic198, @hitliaomq, @DavidMercier, @czambaldi , @ralfHielscher, @frankNiessen, @millerta, @ketch, @yangbai90, would you be interested in reviewing this submission  for [JOSS](https://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) focuses on [the software](https://github.com/SunilAnandatheertha/PXO) and th

[2021-04-16 08:36] whedon commented on #3113
OK, @fbiljecki is now a reviewer

[2021-04-16 08:47] pdebuyl commented on #3053
@whedon check references

[2021-04-16 08:51] navidcy commented on #3053
Perhaps it needs ` from branch JOSS-paper`?

[2021-04-16 08:51] kuadrat commented on #2969
@kyleniemeyer indeed, the invalid DOIs appear in the .bib file but are not actually used (and are not needed) in the paper.
Can I just remove them and add the ParaView DOI?

Also, I'll get back to you regarding the proof in about an hour at the latest.

[2021-04-16 08:54] pdebuyl commented on #3053
@whedon check references from branch JOSS-paper

[2021-04-16 08:54] whedon commented on #3053
[code]

[2021-04-16 08:54] pdebuyl commented on #3053
Thanks, sometimes JOSS is unresponsive and I expected an error if it was online but my command wrong.

[2021-04-16 09:16] tyronerees commented on #3127
Thanks for the prompt, @kyleniemeyer -- we've just merged in an updated article with a state of the field section added.

@whedon generate pdf

[2021-04-16 09:23] tyronerees commented on #3127
@whedon generate pdf

[2021-04-16 09:24] whedon commented on #3127
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03127/joss.03127/10.21105.joss.03127.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03127/joss.03127/10.21105.joss.03127.pdf) :page_facing_up: :point_left:

[2021-04-16 09:28] pdebuyl commented on #3053
Hi @navidcy

I could test succesfully some of the examples, thanks.

A few extra comments before proceeding:
- the zenodo citation for FourierFlows in the paper lists three authors, whereas the zenodo page lists five. Can you either edit the zenodo entry or the citation so that they match?
- can you cite a preprint instead for Pearson 2021? The paper does not have a pre-publication DOI and it is t

[2021-04-16 09:31] navidcy commented on #3053
Thanks. I’ll deal with these tomorrow.
@BrodiePearson is there a doi for your paper yet?

[2021-04-16 10:50] micheder commented on #3116
@dpsanders May we politely ask, if we can support the editorial process?

[2021-04-16 10:51] micheder commented on #3116
@whedon generate pdf

[2021-04-16 10:52] whedon commented on #3116
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03116/joss.03116/10.21105.joss.03116.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03116/joss.03116/10.21105.joss.03116.pdf) :page_facing_up: :point_left:

[2021-04-16 11:24] vissarion commented on #3046
@whedon assign @vissarion  as editor

[2021-04-16 11:24] whedon commented on #3046
OK, the editor is @vissarion

[2021-04-16 11:58] navidcy commented on #3053
@pdebuyl, should the release that will be attached to the JOSS paper include the `paper` folder (e.g., merge https://github.com/FourierFlows/GeophysicalFlows.jl/tree/JOSS-paper to master and then make a release)?

[2021-04-16 12:08] pdebuyl commented on #3053
@navidcy the paper can remain in a separate branch, see https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements

Many authors let their paper in `paper/` or `doc/paper`, but it is not mandatory. For publishing purposes, JOSS stores the pdf and the metadata of the paper.

[2021-04-16 12:18] omendezmorales commented on #3066
Hi @vissarion,
I'm done with my revision. Best,

[2021-04-16 12:35] hkaiser commented on #3143
I'll be back next week and will take care of the review then.

[2021-04-16 13:29] apiad commented on #3153
@dpalmasan I just checked all the functional claims and documentation. I opened a (hopefully easy) issue to improve the contribution guidelines just a little bit.

I'm now reviewing the paper itself, and I have some suggestions. I'll finish reviewing it and open a single issue with all of them. Most of them are gonna are optional suggestions that I think can improve the quality of the writing, not

[2021-04-16 13:45] apiad commented on #3153
@danielskatz what's in your opinion the best UX for a writing/grammar review? Should I open an issue and just say "where you say ... in line X" or is there a better way to use the Github UI, maybe opening a PR with suggested changes, etc.?

What I would ideally prefer is to go over `paper.md` and just add comments on specific lines, so the PR workflow seems perfect for this, but to open a PR I hav

[2021-04-16 14:00] pdebuyl commented on #2842
@milancurcic are you interested in pursuing this review?

[2021-04-16 14:01] pdebuyl commented on #2973
@SergeDmi would you give a look at the updates?

[2021-04-16 14:27] robertmartin8 commented on #3066
@omendezmorales

Cheers for putting in the time!

Robert

[2021-04-16 14:29] fboehm commented on #3170
Thanks, @niceume. We'll withdraw your submission now.

[2021-04-16 14:29] fboehm commented on #3170
@whedon withdraw

[2021-04-16 14:29] whedon commented on #3170
I'm sorry @fboehm, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-04-16 14:30] danielskatz commented on #3170
@whedon withdraw

[2021-04-16 14:30] whedon commented on #3170
Paper withdrawn.

[2021-04-16 14:30] #3170 closed

[2021-04-16 14:33] majensen commented on #3130
All, will be inviting other reviewers in next day or so, thanks for your patience!

[2021-04-16 15:03] milancurcic commented on #2842
Yes, sorry, I forgot about this thread completely. I'm now back in the loop and will respond shortly.

[2021-04-16 15:34] sbenthall commented on #3065
I'm actually not sure myself. I'll need to ask somebody with more experience. @xuanxu can you answer this question about Statement of Need?

[2021-04-16 15:58] kyleniemeyer commented on #2969
@kuadrat no need to do anything about the invalid DOIs, it will not affect the final paper (just adds a bit of noise to that message). But yes, please do add the ParaView DOI

[2021-04-16 16:09] kuadrat commented on #2969
@kyleniemeyer Alright, thanks for clarifying. I have added the ParaView DOI and the preview did compile correctly. The proof looks fine to us as well.

[2021-04-16 16:40] BrodiePearson commented on #3053
@navidcy It has been assigned the following DOI: 10.1017/jfm.2021.247
Because it is in the proofing stage this DOI has not been activated yet, is it still allowed? I expect it to be published imminently, and I do not have a preprint.

[2021-04-16 17:42] xuanxu commented on #3065
Yes, the `Statement of need` is a required section and we just [recently](https://github.com/openjournals/joss/pull/883) [changed](https://github.com/openjournals/joss/pull/862) the documentation to better refelct this and avoid exceptions like the mentioned paper.

[2021-04-16 17:53] kyleniemeyer commented on #2969
@whedon generate pdf

[2021-04-16 17:54] whedon commented on #2969
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02969/joss.02969/10.21105.joss.02969.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02969/joss.02969/10.21105.joss.02969.pdf) :page_facing_up: :point_left:

[2021-04-16 18:02] kyleniemeyer commented on #2969
@whedon accept

[2021-04-16 18:02] whedon commented on #2969
[code]

[2021-04-16 18:03] whedon commented on #2969
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2242

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2242, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-16 18:04] whedon commented on #2969
[code]

[2021-04-16 18:05] kyleniemeyer commented on #2969
@whedon accept deposit=true

[2021-04-16 18:05] whedon commented on #2969
[code]

[2021-04-16 18:06] whedon commented on #2969
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1383119689975529475) 👈 🐦🐦🐦

[2021-04-16 18:06] whedon commented on #2969
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2243
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02969](https://doi.org/10.21105/joss.02969)
2. If everything look

[2021-04-16 18:09] kyleniemeyer commented on #2969
Congrats @kuadrat on your article's publication in JOSS!

Many thanks to @sabinomaggi and @Chilipp for reviewing this submission, and @timtroendle for editing.

[2021-04-16 18:09] #2969 closed

[2021-04-16 18:09] whedon commented on #2969
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02969/status.svg)](https://doi.org/10.21105/joss.02969)

**We need your help!**

Journal of Open Source Softwa

[2021-04-16 18:11] kyleniemeyer commented on #2334
Thanks @lskatz, no need to update the Zenodo archive, since the software has not changed.

[2021-04-16 18:11] kyleniemeyer commented on #2334
@whedon accept

[2021-04-16 18:12] whedon commented on #2334
[code]

[2021-04-16 18:13] whedon commented on #2334
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2244

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2244, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-16 18:13] whedon commented on #2334
[code]

[2021-04-16 18:15] kyleniemeyer commented on #3127
Great, thanks @tyronerees! One final thing I noticed: for the Arnold et al. reference, you give a URL (that I'm not sure I think is appropriate, if that is a journal citation), but is there a DOI for that paper?

After making that change, can you archive the software repository (e.g., on Zenodo), and provide the DOI here? That is the last thing we need before accepting.

[2021-04-16 18:15] kyleniemeyer commented on #2334
@whedon accept deposit=true

[2021-04-16 18:16] whedon commented on #2334
[code]

[2021-04-16 18:17] whedon commented on #2334
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1383122315152658448) 👈 🐦🐦🐦

[2021-04-16 18:17] whedon commented on #2334
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2245
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02334](https://doi.org/10.21105/joss.02334)
2. If everything look

[2021-04-16 18:18] kyleniemeyer commented on #2334
Congratulations @lskatz on your article's publication in JOSS!

Many thanks to @lfaller, @erinyoung, and @druvus for reviewing this, and @lpantano for editing.

[2021-04-16 18:18] #2334 closed

[2021-04-16 18:18] whedon commented on #2334
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02334/status.svg)](https://doi.org/10.21105/joss.02334)

**We need your help!**

Journal of Open Source Softwa

[2021-04-16 18:21] jan-janssen commented on #3018
@Kevin-Mattheus-Moerman Thank you for the invitation - I would prefer to focus on reviewing python packages as I only have very limited experience with MATLAB.

[2021-04-16 18:25] JoelForamitti commented on #3065
Ok, thanks! I will include it in the revised version

[2021-04-16 18:26] AngryMaciek commented on #3096
@iljah OK thanks for the input! I remember that there were some constraints on how the constructor would work due to the recursive implementation of the multiplication operator. I will for sure look into this deeper once we move on with the review.

[2021-04-16 18:27] kelseymh commented on #3174
Regarding conflict of interest: @villaa and I are collaborators on the SuperCDMS experiment.  We show up as authors on all SuperCDMS papers over the past several years, and as the simulations software lead in the experiment, I have worked with Anthony directly.  I have no personal concerns about impartially evaluating this nrCascadeSim package (that's part of my resonsibility in the Collaboration)

[2021-04-16 19:14] johnsamuelwrites commented on #3127
Thanks @tyronerees for adding "State of the field". I have now updated the checklist. Apart from the comment from @kyleniemeyer above, everything else looks fine.

[2021-04-16 19:50] BenMql commented on #2978
Thank you both for your suggestions and corrections. I did not have time to implement them yet, and the sanitary measures in France are such that in all likelihood I will be able to resume my work on this project by the end of the month only. Apologies for the delay and thank you for your patience.

[2021-04-16 20:42] eloisabentivegna commented on #3163
@kyleniemeyer, certainly!

[2021-04-16 20:43] eloisabentivegna commented on #3163
@whedon  assign @eloisabentivegna as editor

[2021-04-16 20:43] whedon commented on #3163
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-04-16 20:44] eloisabentivegna commented on #3163
@whedon assign @eloisabentivegna as editor

[2021-04-16 20:44] whedon commented on #3163
OK, the editor is @eloisabentivegna

[2021-04-16 20:47] eloisabentivegna commented on #2978
@BenMql, thanks for the update. I will wait for your changes before pinging the reviewers again.

[2021-04-16 20:49] eloisabentivegna commented on #2555
@gouarin, @ianhinder: please go over the current status of the submission, and let us know if you're ready to make a final recommendation.

[2021-04-16 21:43] jasonnance commented on #2395
@whedon generate pdf from branch joss-paper

[2021-04-16 21:43] whedon commented on #2395
[code]

[2021-04-16 21:43] whedon commented on #2395
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02395/joss.02395/10.21105.joss.02395.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02395/joss.02395/10.21105.joss.02395.pdf) :page_facing_up: :point_left:

[2021-04-16 21:44] jasonnance commented on #2395
Thanks, @sisco0!  I've implemented your suggested changes and had the pdf regenerated.

[2021-04-16 21:46] navidcy commented on #3053
I can add the DOI but I don't know if `whendon` will still complain since it's not active...

@BrodiePearson, any chance you push it onto arXiv so we cite that? Then, as soon as paper is published you can add the DOI and full publications details in the arXiv as metadata.

[2021-04-16 21:47] navidcy commented on #3053
@whedon generate pdf from branch JOSS-paper

[2021-04-16 21:47] whedon commented on #3053
[code]

[2021-04-16 21:48] whedon commented on #3053
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03053/joss.03053/10.21105.joss.03053.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03053/joss.03053/10.21105.joss.03053.pdf) :page_facing_up: :point_left:

[2021-04-16 21:49] navidcy commented on #3053
great!

done

done

done

yes, that's a good version to associate with the JOSS paper. I've changed the Zenodo metadata to reflect the paper title and authors.

(The only outstanding remark is the citation to Pearson et al. 2021.)

[2021-04-16 22:06] whedon commented on #3145
:wave: @pitsianis, please update us on how your review is going (this is an automated reminder).

[2021-04-16 22:06] lskatz commented on #2334
Thank you all so much! Makes my weekend :)

[2021-04-16 23:47] sisco0 commented on #2395
Given the recent changes shown in the paper, my review is complete and a sign of approval is had. I hope the best for this professional and integrable project.

[2021-04-16 23:58] whedon opened #3176 "[PRE REVIEW]: pypbomb: A Python package with tools for the design of detonation tubes"
**Submitting author:** @cartemic (<a href="http://orcid.org/0000-0002-5559-936X">Mick Carter</a>)
**Repository:** <a href="https://github.com/cartemic/pypbomb/" target ="_blank">https://github.com/cartemic/pypbomb/</a>
**Version:** v1.1.0
**Editor:** @kyleniemeyer
**Reviewers:** @mefuller, @wenkailiang
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-04-16 23:58] whedon commented on #3176
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-16 23:58] whedon commented on #3176
[code]

[2021-04-16 23:59] kyleniemeyer commented on #3176
Hey @cartemic, nice to see this submission! I will go ahead and assign myself to edit this one.

[2021-04-16 23:59] whedon commented on #3176
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03176/joss.03176/10.21105.joss.03176.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03176/joss.03176/10.21105.joss.03176.pdf) :page_facing_up: :point_left:

[2021-04-16 23:59] kyleniemeyer commented on #3176
@whedon assign @kyleniemeyer as editor

[2021-04-16 23:59] whedon commented on #3176
OK, the editor is @kyleniemeyer

[2021-04-16 23:59] whedon commented on #3176
[code]

[2021-04-17 00:02] whedon opened #3177 "[PRE REVIEW]: morse: an R-package in support of Environmental Risk Assessment"
**Submitting author:** @sandrinecharles (<a href="http://orcid.org/0000-0003-4604-0166">Sandrine CHARLES</a>)
**Repository:** <a href="https://github.com/pveber/morse" target ="_blank">https://github.com/pveber/morse</a>
**Version:** 3.3.1
**Editor:** @KristinaRiemer
**Reviewers:** @BrandonEdwards, @puruckertom
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due

[2021-04-17 00:02] whedon commented on #3177
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-17 00:02] whedon commented on #3177
[code]

[2021-04-17 00:02] whedon commented on #3177
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03177/joss.03177/10.21105.joss.03177.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03177/joss.03177/10.21105.joss.03177.pdf) :page_facing_up: :point_left:

[2021-04-17 00:03] whedon commented on #3177
[code]

[2021-04-17 00:04] kyleniemeyer commented on #3177
Hi @sandrinecharles, thanks for your submission to JOSS. So, it looks like the repository you submitted points to one for the paper, rather than the software itself. The typical approach we expect is for the paper to be included in the software repository itself, and then we just have a single repo (for the submitted software package).

Can you move your paper to the repository for the software it

[2021-04-17 00:05] kyleniemeyer commented on #3177
@whedon invite @KristinaRiemer as editor

Hi Kristina, this one looks right up your alley—I realize you already have a few other submissions at various stages right now, but wanted to see if you could take this on.

[2021-04-17 00:05] whedon commented on #3177
@KristinaRiemer has been invited to edit this submission.

[2021-04-17 00:06] kyleniemeyer commented on #3164
@whedon generate pdf from branch JOSS_review

[2021-04-17 00:06] whedon commented on #3164
[code]

[2021-04-17 00:07] whedon opened #3178 "[PRE REVIEW]: nnde: A Python package for solving differential equations using neural networks"
**Submitting author:** @elwinter (<a href="http://orcid.org/0000-0001-5226-2107">Eric Winter</a>)
**Repository:** <a href="https://github.com/elwinter/nnde_joss_paper" target ="_blank">https://github.com/elwinter/nnde_joss_paper</a>
**Version:** 0.0.7
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-04-17 00:07] whedon commented on #3178
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-17 00:07] whedon commented on #3178
[code]

[2021-04-17 00:07] whedon commented on #3164
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03164/joss.03164/10.21105.joss.03164.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03164/joss.03164/10.21105.joss.03164.pdf) :page_facing_up: :point_left:

[2021-04-17 00:07] kyleniemeyer commented on #3178
Hi @elwinter - thanks for your interest in JOSS. For submissions, we need the paper and the software to be in the same repository, though if you need, the paper can be in a branch that doesn't gets merged. For most submissions, it's just in a `paper` or `joss` directory in the software repo.

[2021-04-17 00:07] whedon commented on #3178
[code]

[2021-04-17 00:07] whedon commented on #3178
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03178/joss.03178/10.21105.joss.03178.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03178/joss.03178/10.21105.joss.03178.pdf) :page_facing_up: :point_left:

[2021-04-17 00:10] kyleniemeyer commented on #3164
Hey @openjournals/dev, do we need to do something to point at the correct repository? It should be https://github.com/yaml2sbml-dev/yaml2sbml

[2021-04-17 00:11] whedon opened #3179 "[PRE REVIEW]: The Babelizer: language interoperability for model coupling in the geosciences"
**Submitting author:** @mcflugen (<a href="http://orcid.org/0000-0002-5864-6459">ERIC HUTTON</a>)
**Repository:** <a href="https://github.com/csdms/babelizer/" target ="_blank">https://github.com/csdms/babelizer/</a>
**Version:** v1.0.0
**Editor:** @kthyng
**Reviewers:** @PythonCHB, @lheagy
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-04-17 00:11] whedon commented on #3179
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-17 00:11] whedon commented on #3179
[code]

[2021-04-17 00:11] whedon commented on #3179
PDF failed to compile for issue #3179 with the following error:
[code]

[2021-04-17 00:11] whedon opened #3180 "[PRE REVIEW]: pyHMT2D: Python-based two-dimensional hydraulic modeling tools"
**Submitting author:** @psu-efd (<a href="http://orcid.org/0000-0002-8296-7076">Xiaofeng Liu</a>)
**Repository:** <a href="https://github.com/psu-efd/pyHMT2D" target ="_blank">https://github.com/psu-efd/pyHMT2D</a>
**Version:** v1.0.1
**Editor:** @kthyng
**Reviewers:** @jmp75, @mdbartos
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-04-17 00:11] whedon commented on #3180
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-17 00:12] kyleniemeyer commented on #3179
@whedon generate pdf from branch joss

[2021-04-17 00:12] whedon commented on #3179
[code]

[2021-04-17 00:12] jameshclrk commented on #3082
I had a few comments in vprusso/toqito#54. Otherwise, almost good to go.

[2021-04-17 00:12] whedon commented on #3180
[code]

[2021-04-17 00:13] kyleniemeyer commented on #3180
@whedon invite @kbarnhart as editor

Hi @kbarnhart, I know you have a few other submissions right now, but wanted to see if you could take this on. If you don't have availability right now, we can waitlist it.

[2021-04-17 00:13] whedon commented on #3180
@kbarnhart has been invited to edit this submission.

[2021-04-17 00:13] whedon opened #3181 "[PRE REVIEW]: globalemu: A flexible framework for emulating the sky-averaged 21-cm signal from the cosmic dawn and epoch of reionization"
**Submitting author:** @htjb (<a href="http://orcid.org/0000-0002-4367-3550">Harry Bevins</a>)
**Repository:** <a href="https://github.com/htjb/globalemu" target ="_blank">https://github.com/htjb/globalemu</a>
**Version:** v1.1.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandem

[2021-04-17 00:13] whedon commented on #3181
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-17 00:14] whedon commented on #3181
[code]

[2021-04-17 00:14] kyleniemeyer commented on #3181
@whedon check scope

[2021-04-17 00:14] whedon commented on #3181
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-04-17 00:15] whedon commented on #3181
[code]

[2021-04-17 00:15] kyleniemeyer commented on #3181
@whedon query scope

[2021-04-17 00:15] whedon commented on #3181
Submission flagged for editorial review.

[2021-04-17 00:15] whedon commented on #3181
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03181/joss.03181/10.21105.joss.03181.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03181/joss.03181/10.21105.joss.03181.pdf) :page_facing_up: :point_left:

[2021-04-17 00:16] kyleniemeyer commented on #3181
Hi @htjb, thanks for your interest in JOSS. Because of the relatively small size of the codebase, the JOSS editorial board is going to review your submission to see if it meets our requirement for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2021-04-17 00:17] whedon opened #3182 "[PRE REVIEW]: autumn: A Python library for dynamic modelling of captured CO~2~ cost potential curves"
**Submitting author:** @Eugenio2192 (<a href="http://orcid.org/0000-0003-2508-3976">Eugenio Salvador Arellano Ruiz</a>)
**Repository:** <a href="https://gitlab.com/dlr-ve/autumn/" target ="_blank">https://gitlab.com/dlr-ve/autumn/</a>
**Version:** 0.1.0
**Editor:** @timtroendle
**Reviewers:** @potterzot, @igarizio
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

[2021-04-17 00:17] whedon commented on #3182
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-17 00:17] whedon commented on #3182
[code]

[2021-04-17 00:18] whedon commented on #3182
[code]

[2021-04-17 00:18] kyleniemeyer commented on #3182
@whedon invite @timtroendle as editor

Hi @timtroendle, can you take this submission on?

[2021-04-17 00:18] whedon commented on #3182
@timtroendle has been invited to edit this submission.

[2021-04-17 00:18] whedon commented on #3182
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03182/joss.03182/10.21105.joss.03182.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03182/joss.03182/10.21105.joss.03182.pdf) :page_facing_up: :point_left:

[2021-04-17 00:18] whedon opened #3183 "[PRE REVIEW]: Circular profile of a ring over a stack of images"
**Submitting author:** @jeanbilheux (<a href="http://orcid.org/0000-0003-2172-6487">Jean Bilheux</a>)
**Repository:** <a href="https://github.com/neutronimaging/circular_profiler" target ="_blank">https://github.com/neutronimaging/circular_profiler</a>
**Version:** v1.0.0
**Editor:** @jgostick
**Reviewers:** @prasantapal, @michaelberks
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced serv

[2021-04-17 00:19] whedon commented on #3183
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-17 00:19] whedon commented on #3183
[code]

[2021-04-17 00:20] kyleniemeyer commented on #3183
@whedon query scope

[2021-04-17 00:20] whedon commented on #3183
[code]

[2021-04-17 00:20] whedon commented on #3183
Submission flagged for editorial review.

[2021-04-17 00:20] whedon commented on #3183
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03183/joss.03183/10.21105.joss.03183.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03183/joss.03183/10.21105.joss.03183.pdf) :page_facing_up: :point_left:

[2021-04-17 00:22] kyleniemeyer commented on #3183
Hi @JeanBilheux, thanks for your interest in JOSS. The editors will now discuss if it meets the [research software criterion](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) for review by JOSS. You should hear back in a week or so.

[2021-04-17 00:23] kyleniemeyer commented on #3179
@whedon invite @kthyng as editor

Hey @kthyng, this looks up your alley—are you able to take another submission on as editor?

[2021-04-17 00:23] whedon commented on #3179
@kthyng has been invited to edit this submission.

[2021-04-17 00:24] whedon opened #3184 "[PRE REVIEW]: PERFORM: A Python package for developing reduced-order models for reacting fluid flows"
**Submitting author:** @cwentland0 (<a href="http://orcid.org/0000-0002-8500-569X">Christopher Wentland</a>)
**Repository:** <a href="https://github.com/cwentland0/perform" target ="_blank">https://github.com/cwentland0/perform</a>
**Version:** v0.1
**Editor:** @kyleniemeyer
**Reviewers:** @clemaitre58, @Himscipy
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

D

[2021-04-17 00:24] whedon commented on #3184
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-17 00:25] whedon commented on #3184
[code]

[2021-04-17 00:25] whedon commented on #3184
PDF failed to compile for issue #3184 with the following error:
[code]

[2021-04-17 00:25] whedon opened #3185 "[PRE REVIEW]: plutus: An R package to calculate electricity investments and stranded assets from the Global Change Analysis Model (GCAM)"
**Submitting author:** @mengqi-z (<a href="http://orcid.org/0000-0001-5385-2758">Mengqi Zhao</a>)
**Repository:** <a href="https://github.com/JGCRI/plutus.git" target ="_blank">https://github.com/JGCRI/plutus.git</a>
**Version:** v0.1.0
**Editor:** @kellyrowland
**Reviewers:** @kramea, @neerajdhanraj
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-04-17 00:25] whedon commented on #3185
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-17 00:26] whedon commented on #3185
[code]

[2021-04-17 00:26] whedon commented on #3185
PDF failed to compile for issue #3185 with the following error:
[code]

[2021-04-17 00:27] kyleniemeyer commented on #3185
Hello @mengqi-z, thanks for your interest in JOSS. Can you specify which branch has the JOSS paper? I see both `joss-paper-branch_plp` and `joss-paper-branch`.

[2021-04-17 00:28] kyleniemeyer commented on #3185
@whedon invite @kellyrowland as editor

Hi Kelly! I realize this submission is a bit outside your wheelhouse, but could you edit this? The author has provided some suggested reviewers already: `tscheypidi` and `jhollist`

[2021-04-17 00:28] whedon commented on #3185
@kellyrowland has been invited to edit this submission.

[2021-04-17 00:29] kyleniemeyer commented on #3184
@whedon generate pdf from branch paper

[2021-04-17 00:29] whedon commented on #3184
[code]

[2021-04-17 00:29] kyleniemeyer commented on #3184
@whedon assign @kyleniemeyer as editor

[2021-04-17 00:29] whedon commented on #3184
OK, the editor is @kyleniemeyer

[2021-04-17 00:29] mengqi-z commented on #3185
Hi @kyleniemeyer, the latest paper is located in `joss-paper-branch`. Thanks!

[2021-04-17 00:30] kyleniemeyer commented on #3184
Hi @cwentland0, thanks for your interest in JOSS! This actually looks up my alley, so I'm going to serve as editor. We'll use this pre-review issue to find and assign reviewers, which I'll be doing in the coming week.

[2021-04-17 00:31] whedon commented on #3184
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03184/joss.03184/10.21105.joss.03184.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03184/joss.03184/10.21105.joss.03184.pdf) :page_facing_up: :point_left:

[2021-04-17 00:31] whedon opened #3186 "[PRE REVIEW]: Defect Detection and Quantification Toolbox (DDQT)"
**Submitting author:** @arunmano121 (<a href="http://orcid.org/0000-0003-2446-5008">Arun Manohar</a>)
**Repository:** <a href="https://github.com/arunmano121/DDQT" target ="_blank">https://github.com/arunmano121/DDQT</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2021-04-17 00:31] whedon commented on #3186
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-17 00:31] whedon commented on #3186
[code]

[2021-04-17 00:32] whedon commented on #3186
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03186/joss.03186/10.21105.joss.03186.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03186/joss.03186/10.21105.joss.03186.pdf) :page_facing_up: :point_left:

[2021-04-17 00:33] whedon commented on #3186
[code]

[2021-04-17 00:34] whedon opened #3187 "[PRE REVIEW]: diyepw: A Python package for Do-It-Yourself EnergyPlus 1 weather file generation"
**Submitting author:** @amandadsmith (<a href="http://orcid.org/0000-0003-2990-2190">Amanda D. Smith</a>)
**Repository:** <a href="https://github.com/IMMM-SFA/diyepw/" target ="_blank">https://github.com/IMMM-SFA/diyepw/</a>
**Version:** 1.0.4
**Editor:** @timtroendle
**Reviewers:** @samuelduchesne, @ritwikagarwal
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

[2021-04-17 00:34] whedon commented on #3187
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-17 00:34] whedon opened #3188 "[PRE REVIEW]: The stantargets R package: a workflow framework for efficient reproducible Stan-powered Bayesian data analysis pipelines"
**Submitting author:** @wlandau (<a href="http://orcid.org/0000-0003-1878-3253">William Landau</a>)
**Repository:** <a href="https://github.com/ropensci/stantargets" target ="_blank">https://github.com/ropensci/stantargets</a>
**Version:** 0.0.0.9003
**Editor:** @kyleniemeyer
**Reviewers:** @kyleniemeyer
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-04-17 00:34] whedon commented on #3188
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-17 00:35] kyleniemeyer commented on #3186
Hi @arunmano121, thanks for your interest in JOSS. Due to the relatively small size of your submission, the editors are going to review your submission to see if it meets our requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). You should hear back in a week or so.

[2021-04-17 00:35] kyleniemeyer commented on #3186
@whedon query scope

[2021-04-17 00:36] whedon commented on #3186
Submission flagged for editorial review.

[2021-04-17 00:36] whedon commented on #3187
PDF failed to compile for issue #3187 with the following error:
[code]

[2021-04-17 00:36] whedon commented on #3188
Failed to discover a `Statement of need` section in paper

[2021-04-17 00:36] whedon commented on #3188
[code]

[2021-04-17 00:36] whedon commented on #3187
[code]

[2021-04-17 00:37] whedon commented on #3188
[code]

[2021-04-17 00:37] whedon commented on #3188
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03188/joss.03188/10.21105.joss.03188.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03188/joss.03188/10.21105.joss.03188.pdf) :page_facing_up: :point_left:

[2021-04-17 00:37] kyleniemeyer commented on #3188
Hi @wlandau, since this submission was already reviewed and accepted by rOpenSci, the review at JOSS will be fast-tracked.

rOpenSci review issue: https://github.com/ropensci/software-review/issues/430

[2021-04-17 00:38] kyleniemeyer commented on #3188
@wlandau however, it does look like your paper is missing the required statement of need section, one of the [required elements](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) of JOSS papers. Can you add this, then we will proceed?

[2021-04-17 00:38] kyleniemeyer commented on #3188
@whedon assign @kyleniemeyer as editor

[2021-04-17 00:38] whedon commented on #3188
OK, the editor is @kyleniemeyer

[2021-04-17 00:39] whedon opened #3189 "[PRE REVIEW]: JPP : Java-Parallel-Pipeline"
**Submitting author:** @rsegretain (<a href="http://orcid.org/0000-0003-3044-9792">Rémi Segretain</a>)
**Repository:** <a href="https://gitlab.com/rsegretain/jpp" target ="_blank">https://gitlab.com/rsegretain/jpp</a>
**Version:** V1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2021-04-17 00:39] whedon commented on #3189
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-17 00:39] kyleniemeyer commented on #3187
@whedon generate pdf from branch joss-paper

[2021-04-17 00:39] whedon commented on #3189
[code]

[2021-04-17 00:39] whedon commented on #3187
[code]

[2021-04-17 00:40] whedon commented on #3189
[code]

[2021-04-17 00:40] kyleniemeyer commented on #3189
@whedon query scope

[2021-04-17 00:40] whedon commented on #3189
Submission flagged for editorial review.

[2021-04-17 00:40] kyleniemeyer commented on #3189
Hi @rsegretain, thanks for your interest in JOSS. Because of the relatively small size of the codebase, the JOSS editorial board is going to review your submission to see if it meets our requirement for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). You should hear back within a week or so.

[2021-04-17 00:40] whedon commented on #3189
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03189/joss.03189/10.21105.joss.03189.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03189/joss.03189/10.21105.joss.03189.pdf) :page_facing_up: :point_left:

[2021-04-17 00:41] whedon commented on #3187
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03187/joss.03187/10.21105.joss.03187.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03187/joss.03187/10.21105.joss.03187.pdf) :page_facing_up: :point_left:

[2021-04-17 00:42] cwentland0 commented on #3184
@kyleniemeyer Sounds great! Thanks for taking this up, I appreciate it.

[2021-04-17 00:43] kyleniemeyer commented on #3187
Hi @amandadsmith, thanks for your interest in JOSS. Unfortunately, we have a bit of a backlog, and due to a lack of suitable and available editors, I'm going to put this on our waitlist for now. We will assign this to an editor as soon as one becomes available.

[2021-04-17 00:45] kyleniemeyer commented on #3185
@whedon generate pdf from branch joss-paper-branch

[2021-04-17 00:45] whedon commented on #3185
[code]

[2021-04-17 00:47] whedon commented on #3185
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03185/joss.03185/10.21105.joss.03185.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03185/joss.03185/10.21105.joss.03185.pdf) :page_facing_up: :point_left:

[2021-04-17 00:54] arunmano121 commented on #3186
Hello,

Here is a list of possible reviewers;
1) ngoiz
2) satish-annigeri
3) corentin-dev
4) e-dub
5) PaulDebus
6) Jesusbill
7) vsangelidakis

Thank you.

On Apr 16, 2021, at 5:31 PM, whedon ***@***.******@***.***>> wrote:

Submitting author: @arunmano121<https://github.com/arunmano121> (Arun Manohar<http://orcid.org/0000-0003-2446-5008>)
Repository: <https://github.com/arunmano121/DDQT> https://g

[2021-04-17 01:21] hitliaomq commented on #3018
Dear Kevin,

Thank you for your invitation.

But I have no time recently, I must focus on my Ph.D thesis. In the future (after september), I'm glad to review papers or codes.

Thank you again.

Best,
Mingqing

On 4/16/2021 16:11，Kevin Mattheus ***@***.***> wrote：

@ksyang2013, @jan-janssen, @jic198, @hitliaomq, @DavidMercier, @czambaldi , @ralfHielscher, @frankNiessen, @millerta, @ketch, @yangbai9

[2021-04-17 04:42] niceume commented on #3166
@whedon generate pdf from branch joss_submission

[2021-04-17 04:43] whedon commented on #3166
[code]

[2021-04-17 04:44] whedon commented on #3166
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: :point_left:

[2021-04-17 07:16] htjb commented on #3181
Hi @kyleniemeyer, great to hear from you! If it helps your decision;

-  The paper detailing the previous state of the art emulator has been extensively cited (19 times) since it's publication 10 months ago illustrating the need for these tools. Note also that that emulator, ``21cmGEM``, is not designed to be re-trained by the user on new models containing an updated understanding of the physics a

[2021-04-17 07:36] FedericoComoglio commented on #3073
Hi everyone,

I am running late to deliver on this review due to unforeseen circumstances. I now reserved a time slot mid next week to complete my review of this package. I apologize for any inconvenience this might cause.

[2021-04-17 10:06] niceume commented on #3166
@whedon generate pdf from branch joss_submission

[2021-04-17 10:06] whedon commented on #3166
[code]

[2021-04-17 10:10] whedon commented on #3166
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: :point_left:

[2021-04-17 12:31] wlandau commented on #3188
Thanks @kyleniemeyer, https://github.com/ropensci/stantargets/commit/bd5e306d05c60274b45eb584e83ef76ea3158716 adds a statement of need section.

[2021-04-17 15:55] lpantano commented on #2334
@kyleniemeyer, Thank you for catching the missing section! Congrats @lskatz.

[2021-04-17 20:58] jdalzatec commented on #2805
Hi @fduchatea and authors!
cc: @galessiorob

System settings while reviewing:
OS - Manjaro Linux
Web browser: Firefox

Thank you for having me review this great application. I found this tool very interesting and exciting to use. It gives you very good information and it is really easy to use. I am sure people are going to use it considering that is both useful and fast. Results are obtained quick

[2021-04-17 21:15] acolum commented on #3161
Hi Will,

Thank you for contacting me, but I have too many other commitments at the
moment to review this submission.

Best,
Alyssa

On Thu, Apr 15, 2021 at 5:51 AM Will Rowe ***@***.***> wrote:

[2021-04-17 21:46] ksyang2013 commented on #3018
Dear Kevin,

I am willing to review this codebase. Thanks!

Best,
Kesong

--------------------------------------
Kesong YANG, Ph.D.

Associate Professor,
Department of NanoEngineering,
Program of Materials Science and Engineering,
Center for Memory and Recording Research (CMRR),
University of California San Diego
9500 Gilman Drive, Mail Code 0448
La Jolla, CA 92093-0448, USA

Office: SME 244H
Tel:

[2021-04-18 11:48] thomakra commented on #3156
@gkthiruvathukal I'm mostly done with the review and have very few comments.
The paper is well written, the package is well documented and I was able to install and use the software as described.
I've added some suggestions in the [KALMUS repository](https://github.com/KALMUS-Color-Toolkit/KALMUS/issues/3).
Once the reference list (last remaining checkbox) has been improved to make the references

[2021-04-18 13:01] yangbai90 commented on #3018
@Kevin-Mattheus-Moerman
Dear Kevin, I'm willing to review this package. Thanks!

BR
Yang

[2021-04-18 13:03] Kevin-Mattheus-Moerman commented on #3018
@whedon assign @yangbai90 as reviewer

[2021-04-18 13:03] whedon commented on #3018
OK, @yangbai90 is now a reviewer

[2021-04-18 13:04] Kevin-Mattheus-Moerman commented on #3018
@whedon add @ksyang2013 as reviewer

[2021-04-18 13:04] whedon commented on #3018
OK, @ksyang2013 is now a reviewer

[2021-04-18 13:06] Kevin-Mattheus-Moerman commented on #3018
@whedon add @littlelazy6 as reviewer

[2021-04-18 13:06] whedon commented on #3018
OK, @littlelazy6 is now a reviewer

[2021-04-18 13:09] Kevin-Mattheus-Moerman commented on #3018
@littlelazy6 (a PhD student at NUIG working on grain structures with Dr Noel Harrison) who expressed an interest to review this has also been added as a reviewer.

[2021-04-18 13:10] Kevin-Mattheus-Moerman commented on #3018
@whedon start review

[2021-04-18 13:10] whedon opened #3190 "[REVIEW]: PXO (Poly-XTAL Operations): Free MATLAB codebase to generate and analyse complex 2D grain structures"
**Submitting author:** @SunilAnandatheertha (<a href="http://orcid.org/0000-0001-6535-8191">sunil anandatheertha</a>)
**Repository:** <a href="https://github.com/SunilAnandatheertha/PXO" target ="_blank">https://github.com/SunilAnandatheertha/PXO</a>
**Version:** V10.1.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @yangbai90, @ksyang2013, @littlelazy6
**Archive:** <a href="https://doi.org/10

[2021-04-18 13:10] whedon commented on #3018
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3190.

[2021-04-18 13:10] #3018 closed

[2021-04-18 13:10] whedon commented on #3190
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @yangbai90, @ksyang2013, @littlelazy6 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our bl

[2021-04-18 13:10] whedon commented on #3190
Failed to discover a `Statement of need` section in paper

[2021-04-18 13:10] whedon commented on #3190
[code]

[2021-04-18 13:10] whedon commented on #3190
[code]

[2021-04-18 13:10] whedon commented on #3190
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: :point_left:

[2021-04-18 17:00] r-barnes commented on #2878
After working through the software again and reviewing responses to prior comments, I think this is good to go and put my Reviewer's Mark of Approval™ on it. My apologies again for being so late on this.

[2021-04-18 17:22] tpoisot commented on #2721
Hi @KristinaRiemer - just checking-in, have you got any news? We'd like to use this paper as evidence that we are making progress on these tools for a grant, and as the submission deadline is soon, it would really help to have a decision, or comments to address in order to get closer to one.

[2021-04-18 17:52] r-barnes commented on #2575
@mccabete : I accidentally clicked some of your check boxes :-( There's not an undo button, so I tried to reverse as best I could, but may have made a couple of mistakes.

[2021-04-18 17:57] r-barnes commented on #2575
I feel like my concerns have been reasonably addressed and that the remaining issues I've left open shouldn't preclude moving this toward publication. My ability to really deep-dive into the results/processing of the package is hampered by my lack of domain knowledge here, but I think there's sufficient explanatory information that a user with this knowledge would be able to figure out what's goin

[2021-04-18 18:02] cartemic commented on #3176
I'm excited to be submitting it! Thanks for taking the time to review this!

[2021-04-18 18:56] r-barnes commented on #2276
I was able to make another pass today.

Some issues:
* The build system seems complicated versus what's needed. I've put up a PR CentreForHydrology/WDPM#56 that shows how I'd do this. However, I have not been able to test it on Mac/Windows.
* I've made a few other comments regarding code quality.

I think my biggest concern is that so much of the documentation is wrapped up in a PDF file. I don't

[2021-04-18 20:49] yc015 commented on #3156
@whedon generate pdf

[2021-04-18 20:50] whedon commented on #3156
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: :point_left:

[2021-04-18 20:51] yc015 commented on #3156
@whedon check references

[2021-04-18 20:52] whedon commented on #3156
[code]

[2021-04-18 20:59] yc015 commented on #3156
@whedon generate pdf

[2021-04-18 21:00] whedon commented on #3156
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03156/joss.03156/10.21105.joss.03156.pdf) :page_facing_up: :point_left:

[2021-04-18 21:01] yc015 commented on #3156
@whedon check references

[2021-04-18 21:01] whedon commented on #3156
[code]

[2021-04-18 21:07] yc015 commented on #3156
@whedon check references

[2021-04-18 21:08] whedon commented on #3156
[code]

[2021-04-18 21:13] gkthiruvathukal commented on #3156
@thomakra  Thank you for your review.  I will wait until we get some input from @elektrobohemian.

[2021-04-18 22:31] WilkAndy commented on #3031
Keeping this JOSS paper on @jedbrown 's radar.

[2021-04-19 03:19] neuromusic commented on #2440
thanks @csoneson, we'll cut a new release this week :D

[2021-04-19 04:14] matthewfeickert commented on #3174
@mbobra @gerudo7 The current review information has the following for version information

but the repository has a [tag `1.0.3`](https://github.com/villano-lab/nrCascadeSim/releases/tag/v1.0.3) that was recently released. Unless I am told otherwise, I am going to base the review only on what is available in [tag `v1.0.1`](https://github.com/villano-lab/nrCascadeSim/releases/tag/v1.0.1), but am ha

[2021-04-19 05:59] timtroendle commented on #3182
@whedon assign me as editor

[2021-04-19 05:59] whedon commented on #3182
OK, the editor is @timtroendle

[2021-04-19 05:59] timtroendle commented on #3182
Hello @Eugenio2192, I will start looking for reviewers for your submission. If you have any suggestions, please let me know.

[2021-04-19 06:11] hugoledoux commented on #3113
@whedon add @benmarwick as reviewer

[2021-04-19 06:11] whedon commented on #3113
OK, @benmarwick is now a reviewer

[2021-04-19 06:11] hugoledoux commented on #3113
@whedon start review

[2021-04-19 06:11] whedon opened #3191 "[REVIEW]: Analysis of Prehistoric Iconography with the R package iconr"
**Submitting author:** @zoometh (<a href="http://orcid.org/0000-0002-1112-6122">Huet Thomas</a>)
**Repository:** <a href="https://github.com/zoometh/iconr" target ="_blank">https://github.com/zoometh/iconr</a>
**Version:** v0.1.1
**Editor:** @hugoledoux
**Reviewer:** @fbiljecki, @benmarwick
**Archive:** <a href="https://doi.org/10.5281/zenodo.4767529" target="_blank">10.5281/zenodo.4767529</a>

**

[2021-04-19 06:11] whedon commented on #3113
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3191.

[2021-04-19 06:11] #3113 closed

[2021-04-19 06:11] whedon commented on #3191
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fbiljecki, @benmarwick it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-04-19 06:13] whedon commented on #3191
[code]

[2021-04-19 06:13] whedon commented on #3191
[code]

[2021-04-19 06:13] whedon commented on #3191
Failed to discover a valid open source license.

[2021-04-19 06:13] whedon commented on #3191
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03191/joss.03191/10.21105.joss.03191.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03191/joss.03191/10.21105.joss.03191.pdf) :page_facing_up: :point_left:

[2021-04-19 06:27] vissarion commented on #3046
:wave: @RohitRathore1, @yxoos, @jungtaekkim, @juliensiebert, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-04-19 07:01] timtroendle commented on #3182
:wave: @igarizio, @potterzot & @milicag, would any of you be willing to review this submission for JOSS?

[2021-04-19 07:09] Eugenio2192 commented on #3182
Hello @timtroendle  I am looking foward to this review process let me know if  you need anything from me I extend this to the potential reviewers.
I currently don't have any suggestion but I let you know if someone shows up.

[2021-04-19 07:10] eloisabentivegna commented on #3163
@JostMigenda, @apizzuto, would you be able to review this submission?

[2021-04-19 07:11] jungtaekkim commented on #3046
I am willing to review this submission.

[2021-04-19 07:16] kuadrat commented on #2969
@kyleniemeyer Thank you for finishing up the publication process and thanks to @timtroendle for ediiting!

And many thanks again to @sabinomaggi and @Chilipp for their work, patience and useful inputs on improving the paper & code!
I must say that this has to be the most constructive review process I have witnessed so far.

[2021-04-19 08:07] oliviaguest commented on #3042
@fmatuschke when you feel everything has been decided to be "ready", let know (get whedon to compile the most recent PDF, etc.)... and I'll pop back in here and move this along. ☺️

[2021-04-19 08:14] mikldk commented on #2878
@whedon generate pdf

[2021-04-19 08:15] whedon commented on #2878
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02878/joss.02878/10.21105.joss.02878.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02878/joss.02878/10.21105.joss.02878.pdf) :page_facing_up: :point_left:

[2021-04-19 08:17] pdebuyl commented on #3053
@navidcy thank you for the updates. Regarding the upcoming paper in J. Fluid Mech. how long until it public? If you don't want to wait I can check with the other editors how to handle such a reference.

[2021-04-19 08:19] mikldk commented on #2878
@sebkopf:

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readthedocs.io/en/latest

[2021-04-19 08:29] oliviaguest commented on #3041
@sdparsons the next step is to check your paper for any typos/changes you need to make. Also can you please deposit the code in a place like Zenodo.org (or similar) with the title the same as that of the paper. Once done, post the DOI here, please! 😊

[2021-04-19 08:34] Kevin-Mattheus-Moerman commented on #2885
@keenancrane @nmwsharp @ranahanocka @dcoeurjo @MarkGillespie @ctlee @rohan-sawhney are you able to help review this submission  for [JOSS](https://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) focuses on [the software](https://github.com/LiangliangNan/Easy3D) and this [short paper](https://github.com/openjournals/joss-papers/blob/j

[2021-04-19 08:58] oliviaguest commented on #3041
@whedon generate pdf

[2021-04-19 08:59] whedon commented on #3041
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03041/joss.03041/10.21105.joss.03041.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03041/joss.03041/10.21105.joss.03041.pdf) :page_facing_up: :point_left:

[2021-04-19 09:11] navidcy commented on #3053
@BrodiePearson any ETA on that?

[2021-04-19 09:11] navidcy commented on #3053
@BrodiePearson any ETA on that?

[2021-04-19 09:15] oliviaguest commented on #3041
@sdparsons yeah, post the DOI for me though as I can't spot it. 😅

[2021-04-19 09:15] oliviaguest commented on #3041
Ah, it's this! 10.6084/m9.figshare.11956746.v5

[2021-04-19 09:16] oliviaguest commented on #3041
@whedon set 10.6084/m9.figshare.11956746.v5 as archive

[2021-04-19 09:16] whedon commented on #3041
OK. <a href="https://doi.org/10.6084/m9.figshare.11956746.v5" target="_blank">10.6084/m9.figshare.11956746.v5</a> is the archive.

[2021-04-19 09:16] adi3 commented on #2885
@Kevin-Mattheus-Moerman Did you see my message up above offering to review this?

[2021-04-19 09:16] oliviaguest commented on #3041
@whedon check references

[2021-04-19 09:21] JostMigenda commented on #3163
I’m happy to review this, yes!
It looks like @apizzuto is a co-author on this paper, though, and therefore can’t be a reviewer.

[2021-04-19 09:22] whedon commented on #3041
[code]

[2021-04-19 09:25] sdparsons commented on #3041
Sorry, my bad!  https://doi.org/10.6084/m9.figshare.11956746.v5

[2021-04-19 09:26] sdparsons commented on #3041
ah whoops, should have checked all the messages first

[2021-04-19 09:27] oliviaguest commented on #3041
@sdparsons no worries! Check the paper and tag me when it's good to go. ✨

[2021-04-19 09:45] mikldk commented on #3139
@gjo11:  Can you also confirm that you have finished the review and recommend that this paper is now published?

@strengejacke :

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged r

[2021-04-19 09:50] Kevin-Mattheus-Moerman commented on #2885
@adi3, sorry that slipped through the net. Thanks,  that is great, I'll add you as a reviewer since you are interested. I will hopefully recruit two more reviewers.

[2021-04-19 09:51] Kevin-Mattheus-Moerman commented on #2885
@whedon assign @adi3 as reviewer

[2021-04-19 09:51] whedon commented on #2885
OK, @adi3 is now a reviewer

[2021-04-19 10:14] ljvmiranda921 commented on #2395
Hi everyone (@arfon @jasonnance ) ! I'm done reviewing this repository. I've checked all the boxes in the reviewer guidelines above. I **approve** this submission with my review and suggestions below:

## Review Summary

The `gobbli` library provides a high-level NLP interface that eases the use and speeds-up experimentation in the field. Aside from abstracting away other libraries such as spacy,

[2021-04-19 11:35] oliviaguest commented on #2863
@dmey I just pinged the reviewers myself. Given there are only a few minor fixes left, could you please post your code in a place like Zenodo.org and post the DOI back here, please? Make sure the title is the same as that of the paper — thanks! ☺️

[2021-04-19 11:36] oliviaguest commented on #2863
@whedon set v0.3.0 as version

[2021-04-19 11:36] whedon commented on #2863
OK. v0.3.0 is the version.

[2021-04-19 11:36] oliviaguest commented on #2863
@whedon check references

[2021-04-19 11:38] oliviaguest commented on #2863
Yes, please make sure you both have checked off everything in the list above. It seems only one or two things remain, and they are about the paper itself. Below this comment, I will ask whedon to compile the PDF again, so you can view the newest version.

[2021-04-19 11:38] yxoos commented on #3046
I am open to review as well.

On Mon, Apr 19, 2021, 3:11 AM Jungtaek Kim ***@***.***> wrote:

[2021-04-19 11:38] oliviaguest commented on #2863
@whedon generate pdf from branch joss-paper

[2021-04-19 11:39] whedon commented on #2863
[code]

[2021-04-19 11:39] whedon commented on #2863
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: :point_left:

[2021-04-19 11:53] dmey commented on #2863
Thanks! OK can you please keep it as v1.0.0 so that I release a new version and upload it to Zenodo once everything is finalized?

[2021-04-19 11:54] gjo11 commented on #3139
I confirm I have finished the review and recommend publication.

[2021-04-19 11:56] danielskatz commented on #3153
@apiad - feel free to do whichever seems best to you. As an Associate Editor in Chief, I do a lot of proofreading, and generally use PRs, but that's just me