[2020-08-31 08:32] Kevin-Mattheus-Moerman commented on #2431
@whedon generate pdf

[2020-08-31 08:33] whedon commented on #2431
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02431/joss.02431/10.21105.joss.02431.pdf)

[2020-08-31 08:47] pdebuyl commented on #2307
@whedon set https://doi.org/10.5281/zenodo.4008122 as archive

[2020-08-31 08:47] whedon commented on #2307
OK. <a href="https://doi.org/10.5281/zenodo.4008122" target="_blank">10.5281/zenodo.4008122</a> is the archive.

[2020-08-31 08:47] pdebuyl commented on #2307
@whedon set v1.0.0 as version

[2020-08-31 08:47] whedon commented on #2307
OK. v1.0.0 is the version.

[2020-08-31 08:48] pdebuyl commented on #2307
@MikeHeiber what is the branch to use, now and for final publication?

[2020-08-31 09:13] bblodfon commented on #2583
Issue bblodfon/emba#2 is now resolved. Please use the development version of the package if you stumble upon this issue (install with `remotes::install_github("bblodfon/emba")`) and after the reviews are over I will have the newer version (`0.1.7`) with all relevant changes uploaded to CRAN.

[2020-08-31 09:21] VivianePons commented on #2603
The checklist appear on the review issue, we are still on the "pre review". I have just confirmed a second reviewer and am about to launch the review :)

[2020-08-31 09:21] VivianePons commented on #2603
@whedon add @sauln as reviewer

[2020-08-31 09:21] whedon commented on #2603
OK, @sauln is now a reviewer

[2020-08-31 09:22] whedon opened #2614 "[REVIEW]: Ripserer.jl: flexible and efficient persistent homology computation in Julia"
**Submitting author:** @mtsch (<a href="http://orcid.org/0000-0003-0734-2719">Matija Čufar</a>)
**Repository:** <a href="https://github.com/mtsch/Ripserer.jl" target ="_blank">https://github.com/mtsch/Ripserer.jl</a>
**Version:** v0.15.2
**Editor:** @VivianePons
**Reviewer:** @juliohm, @sauln
**Archive:** <a href="https://doi.org/10.5281/zenodo.4081109" target="_blank">10.5281/zenodo.4081109</a>

[2020-08-31 09:22] whedon commented on #2603
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2614.

[2020-08-31 09:22] #2603 closed

[2020-08-31 09:22] whedon commented on #2614
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @juliohm, @sauln it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2020-08-31 09:23] whedon commented on #2614
[code]

[2020-08-31 09:23] whedon commented on #2614
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02614/joss.02614/10.21105.joss.02614.pdf)

[2020-08-31 09:43] mtsch commented on #2614
I fixed the missing DOI.

@whedon generate pdf

[2020-08-31 09:48] mtsch commented on #2614
@whedon generate pdf

[2020-08-31 09:49] whedon commented on #2614
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02614/joss.02614/10.21105.joss.02614.pdf)

[2020-08-31 10:34] gdede-hua commented on #2605
@whedon the article is ok.

On Fri, Aug 28, 2020 at 4:57 PM whedon <notifications@github.com> wrote:

--
Dr. Georgia Dede
Research Associate and Adjunct Lecturer
Harokopio University of Athens
Department of Informatics and Telematics
Tel. +30 210 9549416
email: gdede@hua.gr

[2020-08-31 10:34] whedon commented on #2605
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-31 10:34] gdede-hua commented on #2605
@whedon commands

On Mon, Aug 31, 2020 at 1:34 PM whedon <notifications@github.com> wrote:

--
Dr. Georgia Dede
Research Associate and Adjunct Lecturer
Harokopio University of Athens
Department of Informatics and Telematics
Tel. +30 210 9549416
email: gdede@hua.gr

[2020-08-31 10:35] whedon commented on #2605
Here are some things you can ask me to do:

[code]

[2020-08-31 10:40] gdede-hua commented on #2605
@sbenthall I have received the proofs of my paper. May I kindly ask you to
inform how I can include the figures in the paper?

On Fri, Aug 28, 2020 at 9:36 AM Georgia Dede <gdede@hua.gr> wrote:

--
Dr. Georgia Dede
Research Associate and Adjunct Lecturer
Harokopio University of Athens
Department of Informatics and Telematics
Tel. +30 210 9549416
email: gdede@hua.gr

[2020-08-31 10:54] arfon commented on #2260
@adam-m-jcbs, @zeroset - many thanks for your reviews here and to @mjsottile for editing this submission ✨

@pratikvn - your paper is now accepted into JOSS... [AND IT'S OUR 1000TH PAPER](https://blog.joss.theoj.org/2020/08/1000-papers-published-in-joss) :zap::rocket::boom:🥳!

[2020-08-31 10:54] #2260 closed

[2020-08-31 10:54] whedon commented on #2260
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02260/status.svg)](https://doi.org/10.21105/joss.02260)

**We need your help!**

Journal of Open Source Softwa

[2020-08-31 10:56] CFGrote commented on #2436
I have just submitted our responses to the reviews: https://github.com/mpievolbio-scicomp/cancer_sim/issues/11#issuecomment-683706999 and https://github.com/mpievolbio-scicomp/cancer_sim/issues/16#issuecomment-683707010 All relevant changes are pushed to the master branch in https://github.com/mpievolbio-scicomp/cancer_sim.

Thanks again to @blakeaw  and @jenzopr for the careful reading and detail

[2020-08-31 11:50] lpantano commented on #2560
Hey @juanvillada, @vbaliga, would you like to review this tool?

[2020-08-31 12:05] marcosvital commented on #2447
Hi, @klmedeiros.
Can you give us an update about the review? Please let us know if you think you won't be able to review anymore, ok?

[2020-08-31 12:17] Kevin-Mattheus-Moerman commented on #2431
@romainmartinez

I've reviewed your paper. Here are some final comments (fee free to disagree with these):

- [ ] Throughout this paper it seems to be the word "biomechanics" is used to refer to "musculoskeletal biomechanics", or at least biomechanics research featuring motion capture data. Given this, the following sentence (and some others) feels overly general: `While biomechanics branches into

[2020-08-31 12:19] Kevin-Mattheus-Moerman commented on #2548
@AnaWaldila thanks for letting us know. Sorry to hear that. We can be flexible. Let us know when you are able to pick this up again.

[2020-08-31 12:19] Kevin-Mattheus-Moerman commented on #2548
@CBenghi how are you getting on with this review? Let me know if you have any questions.

[2020-08-31 12:20] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch :wave: were you able to accept that invitation to get started? Thanks

[2020-08-31 12:21] Kevin-Mattheus-Moerman commented on #2343
@62442katieb :point_up: let us know if all issues have not been resolved or if you have further comments. Thanks.

[2020-08-31 12:28] marcosvital commented on #2342
@davidtourigny, @Midnighter and @carrascomj, we are almost done here. You will need to archive the last release of the package (on Zenodo, figshare, or other) - and if you already didn't do this, please let me know the package version number and archive DOI. Once this is done, we'll be ready to publish!

[2020-08-31 12:53] Kevin-Mattheus-Moerman commented on #2601
@jgostick @pibion @pdebuyl could one of you handle this submission?

[2020-08-31 12:57] jdber1 commented on #2604
@kyleniemeyer I have updated the bib file to include DOIs and also delete any un-cited references.

[2020-08-31 13:02] Kevin-Mattheus-Moerman commented on #2381
@whedon accept

[2020-08-31 13:02] whedon commented on #2381
[code]

[2020-08-31 13:03] whedon commented on #2381
[code]

[2020-08-31 13:03] whedon commented on #2381
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1687

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1687, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-31 13:06] Kevin-Mattheus-Moerman commented on #2381
@whedon accept deposit=true

[2020-08-31 13:06] whedon commented on #2381
[code]

[2020-08-31 13:07] whedon commented on #2381
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1300419890998804481) 👈 🐦🐦🐦

[2020-08-31 13:07] whedon commented on #2381
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1688
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02381](https://doi.org/10.21105/joss.02381)
2. If everything looks g

[2020-08-31 13:11] marcosvital commented on #2584
@whedon re-invite @lucask07 as reviewer

[2020-08-31 13:11] whedon commented on #2584
OK, the reviewer has been re-invited.

@lucask07 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-08-31 13:12] marcosvital commented on #2584
Let me know if it's working, @lucask07.

[2020-08-31 13:18] kthyng commented on #2425
Ok great!

Next, please make a tagged release of the repository in github and then archive it at a place like Zenodo. After that, report the version number and archive DOI in the review thread please.

[2020-08-31 13:22] yangbai90 commented on #2477
@jgostick Hello Prof. Gostick, I'm very interested in your paper, I will do the reviewing for it.

[2020-08-31 13:31] kthyng commented on #2497
@lnferris There isn't a specific deadline, but I would say if you plan to take a hiatus from this review issue for more than a few weeks, we can pause the issue in the meantime while you work in the background. If you want to work and reply here along the way for the various issues, then we don't need to pause and you can just work along. Does that make sense?

[2020-08-31 13:34] juliohm commented on #2614
I love to review submissions such as this, really well-written, to the point, and a great piece of software! Thanks @mtsch for this amazing work. I only have one minor comment that I already shared as a GitHub issue yesterday about the related Julia packages you recently added to the docs: https://mtsch.github.io/Ripserer.jl/dev/related-work/

Do you think that these should also be listed in the J

[2020-08-31 13:43] arokem commented on #2589
@whedon assign @justusschock as reviewer

[2020-08-31 13:43] whedon commented on #2589
OK, @justusschock is now a reviewer

[2020-08-31 13:43] arokem commented on #2589
Thanks! Let's wait until I find one more person, before starting the review.

[2020-08-31 13:45] tylunel commented on #2361
@kbarnhart Now it should be okay!
As often in this kind of case, the problem was quite stupid but it still took me a long time to find out where it came from... Anyway, the API online is now as expected.

[2020-08-31 13:47] teamPSG commented on #2377
Thank you @oliviaguest! The DOI for Zenodo is: 10.5281/zenodo.4009178 :rocket:

[2020-08-31 13:49] davidtourigny commented on #2342
@marcosvital great! We have tagged the latest release version 0.1.8 and archived it using Zendo DOI: [10.5281/zenodo.4009224](https://zenodo.org/record/4009224#.X0z_TUl7nOQ).

I don't seem to be able to add this information to the origional issue comment, sorry.

[2020-08-31 13:49] ajbaird commented on #2611
looks like there were a few updates to the acknowledgements that i had
forgotten to push up before submission. Just pushed those up. Should be
good to go on our end.

Thanks!

Austin

On Sun, Aug 30, 2020 at 10:33 AM whedon <notifications@github.com> wrote:

--
Regards,

Austin Baird

[2020-08-31 13:51] ronikobrosly commented on #2523
Hi @oliviaguest I just changed the zenodo repo title like you asked 👍

[2020-08-31 14:17] gmaze commented on #2425
ok,

I've merged the PR and specific JOSS-paper branch back to master

I've created a new release [version **v0.1.6**](https://github.com/euroargodev/argopy/releases/tag/v0.1.6) with the paper in the main master branch.

The release has been archived at zenodo under doi: 10.5281/zenodo.4009264
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4009264.svg)](https://doi.org/10.5281/zenodo.4009264)

[2020-08-31 14:22] 62442katieb commented on #2343
Hi @Kevin-Mattheus-Moerman, I apologize for the delay. All issues have been resolved. Thanks!

[2020-08-31 14:43] WardLT commented on #2477
Sure, I'll gladly review. How do I get started?

[2020-08-31 14:43] klmedeiros commented on #2447
@marcosvital my sincerest apologies, this slipped my mind. i'm going to work on it today with hopes to have it reviewed by tomorrow.

[2020-08-31 15:01] emconsta commented on #2514
@ketch I am using a commercial Matlab license and do not have access to all toolboxes. In addition to required toolboxes,
 I believe parpool is in 'Parallel Computing Toolbox'. I think that should be listed as a requirement or optional requirement since it's not critical.

[2020-08-31 15:14] Kevin-Mattheus-Moerman commented on #2343
That is fine. Thanks for your help here @62442katieb

[2020-08-31 15:15] Kevin-Mattheus-Moerman commented on #2343
@62442katieb would you mind ticking all boxes :point_up: if all issues have been resolved and if you recommend acceptance? Thanks

[2020-08-31 15:15] #2381 closed

[2020-08-31 15:15] whedon commented on #2381
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02381/status.svg)](https://doi.org/10.21105/joss.02381)

**We need your help!**

Journal of Open Source Softwa

[2020-08-31 15:16] Kevin-Mattheus-Moerman commented on #2381
Congratulations @merrygoat.

@KedoKudo, @mikapfl thanks for reviewing this work for JOSS!

[2020-08-31 15:17] Kevin-Mattheus-Moerman commented on #2291
@diehlpk sorry I cannot review this at this time.

[2020-08-31 16:04] josephhardinee commented on #2123
The authors have addressed all issues I've raised so this is good to go on my end.

[2020-08-31 16:10] vbaliga commented on #2560
I'm sorry to say the content goes beyond my area of expertise, so it's probably best that not I be a reviewer. Thanks for the offer, though

[2020-08-31 16:20] ekschuman commented on #2123
They have also addressed everything I have raised, so it is good on my end as well.

[2020-08-31 16:34] marcosvital commented on #2447
No problem, @klmedeiros!

[2020-08-31 16:38] marcosvital commented on #2342
No need to worry about it, @davidtourigny, I'll do it.

[2020-08-31 16:38] marcosvital commented on #2342
@whedon set v0.1.8 as version

[2020-08-31 16:38] whedon commented on #2342
OK. v0.1.8 is the version.

[2020-08-31 16:39] marcosvital commented on #2342
@whedon set 10.5281/zenodo.4009224 as archive

[2020-08-31 16:39] whedon commented on #2342
OK. <a href="https://doi.org/10.5281/zenodo.4009224" target="_blank">10.5281/zenodo.4009224</a> is the archive.

[2020-08-31 16:40] kthyng commented on #2613
@majensen Are you able to and interested in taking this submission on? I see you already have a number of submissions you are handling, but it also looks like a good fit for you.

[2020-08-31 16:40] kthyng commented on #2613
@whedon invite @majensen as editor

[2020-08-31 16:40] whedon commented on #2613
@majensen has been invited to edit this submission.

[2020-08-31 16:41] marcosvital commented on #2342
@whedon accept

[2020-08-31 16:41] whedon commented on #2342
[code]

[2020-08-31 16:41] whedon commented on #2342
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1689

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1689, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-31 16:48] kthyng commented on #2612
Hi @jni! Are you interested and able to edit this submission? I think it is in your general expertise...

[2020-08-31 16:48] kthyng commented on #2612
@whedon invite @jni as editor

[2020-08-31 16:48] whedon commented on #2612
@jni has been invited to edit this submission.

[2020-08-31 16:52] kthyng commented on #2611
@meg-simula Could you edit this submission?

[2020-08-31 16:52] kthyng commented on #2611
@whedon invite @meg-simula as editor

[2020-08-31 16:52] whedon commented on #2611
@meg-simula has been invited to edit this submission.

[2020-08-31 16:54] kthyng commented on #2610
@KshitijAggarwal Please add in a statement of need

[2020-08-31 16:55] majensen commented on #2613
@whedon add @majensen as editor

[2020-08-31 16:55] whedon commented on #2613
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-31 16:56] majensen commented on #2613
@whedon set @majensen as editor

[2020-08-31 16:56] whedon commented on #2613
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-31 16:56] majensen commented on #2613
@whedon assign me as editor

[2020-08-31 16:57] whedon commented on #2613
OK, the editor is @majensen

[2020-08-31 16:58] majensen commented on #2613
Thanks @kthyng - looks interesting. Moran models take me back to my misspent youth.

[2020-08-31 16:58] ketch commented on #2514
@emconsta You're right; thanks for pointing that out.  I've added a note to the README in 67e0916.

[2020-08-31 17:00] kthyng commented on #2610
@xuanxu, @harpolea, @dfm Could one of you take this on? You all have several submissions and I can't tell if one of you is more closely related. Thanks!

[2020-08-31 17:08] kthyng commented on #2602
Hi @pibion! Are you up for editing this submission?

[2020-08-31 17:08] kthyng commented on #2602
@whedon invite @pibion as editor

[2020-08-31 17:08] whedon commented on #2602
@pibion has been invited to edit this submission.

[2020-08-31 17:08] KshitijAggarwal commented on #2610
@kthyng Added statement of need, and fixed DOIs
 https://github.com/thepetabyteproject/your/commit/e36938e008689d9280267db2057d01b9cc226835, https://github.com/thepetabyteproject/your/commit/e70a4a19abc131e4bee66705a7f9d4341decd923

[2020-08-31 17:11] KshitijAggarwal commented on #2610
Suggestions for reviewers: hpparvi, olebole

[2020-08-31 17:11] kthyng commented on #2609
Hi @mikldk can you edit this submission?

[2020-08-31 17:11] kthyng commented on #2609
@whedon invite @mikldk as editor

[2020-08-31 17:11] whedon commented on #2609
@mikldk has been invited to edit this submission.

[2020-08-31 17:20] kthyng commented on #2342
@whedon generate pdf

[2020-08-31 17:20] whedon commented on #2342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02342/joss.02342/10.21105.joss.02342.pdf)

[2020-08-31 17:22] davidtourigny commented on #2342
Everything looks good to me. Thanks

[2020-08-31 17:27] kthyng commented on #2342
A few tweaks for your paper (I'm not used to gitlab and looks harder to directly edit and submit a PR as an outside person than it is in github):

- [ ] "(as described in (Harwood, Höffner, & Barton, 2016))" — the reference shouldn't be parenthetical
- [ ] It's become the norm now in JOSS papers to make the "statement of need" a separate paragraph. You can keep all the words the same, but please

[2020-08-31 17:27] mikldk commented on #2609
@whedon assign me as editor

[2020-08-31 17:27] whedon commented on #2609
OK, the editor is @mikldk

[2020-08-31 17:27] kthyng commented on #2342
I see the version and Zenodo archive had been added and the metadata for the archive are correct, excellent!

[2020-08-31 17:30] kbarnhart commented on #2341
I've addressed the second two comments identified by @zsylvester on landlab/landlab/pull/1237. Should get merged later today after CI runs.

My answers to the first two are as one of the authors of this paper but reflect knowledge that I have of the JOSS pdf-building and review process that come from being a topical editor.

* I'm not sure whether its possible to point the repository link to
  htt

[2020-08-31 17:33] kthyng commented on #2523
Hi @ronikobrosly! I see @oliviaguest set the version as v0.3.2 but your repo has a version v0.3.7 — which is correct for the JOSS archive/publication?

[2020-08-31 17:35] kthyng commented on #2523
Am I seeing an old version of the Zenodo archive? When I look at it, I see the title still needing to change. It should be "causal-curve: A Python Causal Inference Package to Estimate Causal Dose-Response Curves".

[2020-08-31 17:39] kthyng commented on #2523
The paper looks good! Just read through.

[2020-08-31 17:41] ronikobrosly commented on #2523
Hi @kthyng , nice to meet you! You're right, I changed the zenodo repo name but forgot to publish it. It should be right now. Could we use v0.3.7 for publication?

[2020-08-31 18:19] davidtourigny commented on #2342
@whedon generate pdf

[2020-08-31 18:20] whedon commented on #2342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02342/joss.02342/10.21105.joss.02342.pdf)

[2020-08-31 18:23] davidtourigny commented on #2342
The latest version should take care of all your points @kthyng . Thank you

[2020-08-31 19:05] kthyng commented on #2523
@whedon set v0.3.7 as version

[2020-08-31 19:05] whedon commented on #2523
OK. v0.3.7 is the version.

[2020-08-31 19:05] eviatarbach commented on #2597
qgs provides a modular implementation of a quasi-geostrophic atmospheric model. Having previously used the MAOOAM model in research, I was impressed with its ease-of-use, highly readable code, the elegance of the tensor-based implementation, and built-in tangent linear and adjoint models. qgs builds on this by adding two different land components, and making it easy to switch between ocean and lan

[2020-08-31 19:06] kthyng commented on #2523
@whedon accept deposit=true

[2020-08-31 19:06] whedon commented on #2523
[code]

[2020-08-31 19:08] whedon commented on #2523
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1300510676029509633) 👈 🐦🐦🐦

[2020-08-31 19:08] whedon commented on #2523
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1690
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02523](https://doi.org/10.21105/joss.02523)
2. If everything looks g

[2020-08-31 19:10] kthyng commented on #2523
Congrats to @ronikobrosly on your new publication!! Thanks to editor @oliviaguest and to reviewers @cmparlettpelleriti, @tomfaulkenberry, and @alexjonesphd — we rely on your expertise and hard work to make this process happen.

I'll close this issue once the doi resolves. Thanks all!!

[2020-08-31 19:15] #2523 closed

[2020-08-31 19:15] whedon commented on #2523
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02523/status.svg)](https://doi.org/10.21105/joss.02523)

**We need your help!**

Journal of Open Source Softwa

[2020-08-31 19:26] kthyng commented on #2342
@davidtourigny excellent looks good!!

[2020-08-31 19:28] kthyng commented on #2342
@whedon check references

[2020-08-31 19:28] whedon commented on #2342
[code]

[2020-08-31 19:29] kthyng commented on #2342
@whedon accept deposit=true

[2020-08-31 19:29] whedon commented on #2342
[code]

[2020-08-31 19:30] whedon commented on #2342
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1300516339916984324) 👈 🐦🐦🐦

[2020-08-31 19:30] whedon commented on #2342
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1691
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02342](https://doi.org/10.21105/joss.02342)
2. If everything looks g

[2020-08-31 19:32] kthyng commented on #2342
Congrats to @davidtourigny on your new publication! Thanks to editor @marcosvital and to reviewers @jdbrunner, @pstjohn, and @synchon — this all wouldn't be possibly with your time and expertise.

(I'll close this issue once the doi resolves)

[2020-08-31 19:33] mkhorton commented on #2563
I'm just getting started on the code review. For the record, I want to add the same note as in the [pre-review thread](https://github.com/openjournals/joss-reviews/issues/2529#issuecomment-665162592) that I know @ml-evs in the context of another project. This project is [OPTIMADE](https://github.com/Materials-Consortia/OPTIMADE/), a consortium of research groups and organizations in the computatio

[2020-08-31 19:37] ml-evs commented on #2563
Thanks @mkhorton --- just to confirm we are part of the same consortium but haven't worked together directly.

[2020-08-31 19:38] whedon opened #2615 "[PRE REVIEW]: CircuitGraph: A Python package for Boolean circuits"
**Submitting author:** @jpsety (<a href="http://orcid.org/0000-0002-3775-8638">Joseph Sweeney</a>)
**Repository:** <a href="https://github.com/circuitgraph/circuitgraph" target ="_blank">https://github.com/circuitgraph/circuitgraph</a>
**Version:** v0.0.1
**Editor:** @danielskatz
**Reviewers:** @skadio, @prw99r, @r-a-hoggarth
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :

[2020-08-31 19:38] whedon commented on #2615
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-31 19:38] whedon opened #2616 "[PRE REVIEW]: FGlT: Fast Graphlet Transform"
**Submitting author:** @fcdimitr (<a href="http://orcid.org/0000-0003-1190-4075">Dimitis Floros</a>)
**Repository:** <a href="https://github.com/fcdimitr/fglt" target ="_blank">https://github.com/fcdimitr/fglt</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pa

[2020-08-31 19:38] whedon commented on #2615
[code]

[2020-08-31 19:38] whedon commented on #2616
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-31 19:38] whedon commented on #2615
[code]

[2020-08-31 19:38] whedon opened #2617 "[PRE REVIEW]: subMALDI: an open framework R package for processing irregularly-spaced mass spectrometry data"
**Submitting author:** @wesleyburr (<a href="http://orcid.org/0000-0002-2058-1899">Wesley Burr</a>)
**Repository:** <a href="https://github.com/wesleyburr/subMaldi" target ="_blank">https://github.com/wesleyburr/subMaldi</a>
**Version:** v1.0.0
**Editor:** @pibion
**Reviewers:** @jspaezp, @sigven
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-08-31 19:39] whedon commented on #2616
Failed to discover a `Statement of need` section in paper

[2020-08-31 19:39] whedon commented on #2617
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-31 19:39] whedon commented on #2616
[code]

[2020-08-31 19:39] whedon commented on #2615
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02615/joss.02615/10.21105.joss.02615.pdf)

[2020-08-31 19:39] whedon commented on #2616
[code]

[2020-08-31 19:39] whedon opened #2618 "[PRE REVIEW]: EMBERS: Experimental Measurement of BEam Responses with Satellites"
**Submitting author:** @amanchokshi (<a href="http://orcid.org/0000-0003-1130-6390">Aman Chokshi</a>)
**Repository:** <a href="https://github.com/amanchokshi/EMBERS" target ="_blank">https://github.com/amanchokshi/EMBERS</a>
**Version:** v0.7.0
**Editor:** @mbobra
**Reviewers:** @teuben, @hasantahir
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2020-08-31 19:39] whedon commented on #2618
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-31 19:40] whedon commented on #2616
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02616/joss.02616/10.21105.joss.02616.pdf)

[2020-08-31 19:40] whedon commented on #2617
[code]

[2020-08-31 19:40] whedon opened #2619 "[PRE REVIEW]: SCALAR - A Platform for Real-time Machine Learning Competitions on Data Streams"
**Submitting author:** @nedRad88 (<a href="http://orcid.org/0000-0001-5056-6270">Nedeljko Radulovic</a>)
**Repository:** <a href="https://github.com/nedRad88/SCALAR" target ="_blank">https://github.com/nedRad88/SCALAR</a>
**Version:** v0.1
**Editor:** @galessiorob
**Reviewers:** @GregaVrbancic, @atanikan
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-08-31 19:40] whedon commented on #2619
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-31 19:40] whedon opened #2620 "[PRE REVIEW]: BESOS: Building and Energy Systems Optimization and Surrogate-modelling"
**Submitting author:** @TheoChristiaanse (<a href="http://orcid.org/0000-0003-4082-3338">Theodor Victor Christiaanse</a>)
**Repository:** <a href="https://gitlab.com/energyincities/besos/" target ="_blank">https://gitlab.com/energyincities/besos/</a>
**Version:** 1.6.1
**Editor:** @sjpfenninger
**Reviewers:** @fneum, @willu47
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :

[2020-08-31 19:40] whedon commented on #2617
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02617/joss.02617/10.21105.joss.02617.pdf)

[2020-08-31 19:40] whedon commented on #2618
[code]

[2020-08-31 19:40] whedon commented on #2620
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-31 19:40] whedon commented on #2618
[code]

[2020-08-31 19:41] whedon commented on #2619
[code]

[2020-08-31 19:41] oliviaguest commented on #2593
@whedon add @jamesheathers as reviewer

[2020-08-31 19:41] whedon commented on #2593
OK, @jamesheathers is now a reviewer

[2020-08-31 19:41] whedon commented on #2619
[code]

[2020-08-31 19:41] whedon commented on #2618
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02618/joss.02618/10.21105.joss.02618.pdf)

[2020-08-31 19:41] whedon commented on #2619
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02619/joss.02619/10.21105.joss.02619.pdf)

[2020-08-31 19:41] whedon commented on #2620
[code]

[2020-08-31 19:41] whedon commented on #2620
PDF failed to compile for issue #2620 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2620/paper.md): mapping values are not allowed in this context at line 19 column 44 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/

[2020-08-31 19:42] davidtourigny commented on #2342
Thank you so much @marcosvital @kthyng @pstjohn @synchon @jdbrunner for your time and hard work!

[2020-08-31 19:43] ronikobrosly commented on #2523
Thanks so much @oliviaguest, @cmparlettpelleriti, @tomfaulkenberry, @alexjonesphd, and @kthyng !

[2020-08-31 19:44] oliviaguest commented on #2593
@whedon start review

[2020-08-31 19:44] whedon opened #2621 "[REVIEW]: biopeaks: a graphical user interface for feature extraction from heart- and breathing biosignals"
**Submitting author:** @JanCBrammer (<a href="http://orcid.org/0000-0002-7664-3753">Jan C. Brammer</a>)
**Repository:** <a href="https://github.com/JanCBrammer/biopeaks" target ="_blank">https://github.com/JanCBrammer/biopeaks</a>
**Version:** v1.4.1
**Editor:** @oliviaguest
**Reviewer:** @TomDonoghue, @sappelhoff, @jamesheathers
**Archive:** <a href="https://doi.org/10.5281/zenodo.4133324" target

[2020-08-31 19:44] whedon commented on #2593
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2621.

[2020-08-31 19:44] #2593 closed

[2020-08-31 19:44] whedon commented on #2621
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @TomDonoghue, @sappelhoff, @jamesheathers it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [ou

[2020-08-31 19:45] whedon commented on #2621
[code]

[2020-08-31 19:45] oliviaguest commented on #2593
Hi, @JanCBrammer, @TomDonoghue, @sappelhoff, @jamesheathers, please on over to #2621 to get the review started! 😊

[2020-08-31 19:45] whedon commented on #2621
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02621/joss.02621/10.21105.joss.02621.pdf)

[2020-08-31 19:48] kthyng commented on #2615
Hi @danielskatz would you be up for editing this submission?

[2020-08-31 19:49] kthyng commented on #2615
@whedon invite @danielskatz as editor

[2020-08-31 19:49] whedon commented on #2615
@danielskatz has been invited to edit this submission.

[2020-08-31 19:51] meg-simula commented on #2611
@whedon assign @meg-simula as editor

[2020-08-31 19:51] whedon commented on #2611
OK, the editor is @meg-simula

[2020-08-31 19:52] kthyng commented on #2616
@whedon query scope

[2020-08-31 19:52] whedon commented on #2616
Submission flagged for editorial review.

[2020-08-31 19:55] kthyng commented on #2617
Hi @pibion, the author suggested you as a possible editor. Are you up for it?

[2020-08-31 19:55] kthyng commented on #2617
@whedon invite @pibion as editor

[2020-08-31 19:55] whedon commented on #2617
@pibion has been invited to edit this submission.

[2020-08-31 19:58] kthyng commented on #2618
Hi @mbobra! The author suggested you as editor — are you up for it?

[2020-08-31 19:58] kthyng commented on #2618
@whedon invite @mbobra as editor

[2020-08-31 19:58] whedon commented on #2618
@mbobra has been invited to edit this submission.

[2020-08-31 19:59] oliviaguest commented on #2621
👋👋👋

Hey @JanCBrammer @TomDonoghue, @sappelhoff, @jamesheathers! Welcome to where the review itself will take place. Please make sure to read the instructions above.

For any and all things worthy of discussion or comment, use this issue right here — so drop comments or questions for me, the author, etc., here. For any very code-specific things please feel free to start an issue on the repo of the

[2020-08-31 19:59] kthyng commented on #2619
Hi @galessiorob! The author suggested you as editor — are you interested?

[2020-08-31 20:00] kthyng commented on #2619
@whedon invite @galessiorob as editor

[2020-08-31 20:00] whedon commented on #2619
@galessiorob has been invited to edit this submission.

[2020-08-31 20:02] wesleyburr commented on #2617
Suggested reviewers are the overlap between R and mass spectrometry:
jpaezpae@purdue.edu
bbmisraccb@gmail.com
sigven@ifi.uio.no (not mass spec, but might be a good overlap)

[2020-08-31 20:06] kthyng commented on #2620
Hi @sjpfenninger are you interested in editing this submission?

[2020-08-31 20:07] kthyng commented on #2620
@whedon invite @sjpfenninger as editor

[2020-08-31 20:07] whedon commented on #2620
@sjpfenninger has been invited to edit this submission.

[2020-08-31 20:10] whedon opened #2622 "[PRE REVIEW]: EnhancedVolcano: Publication-ready volcano plots with enhanced colouring and labeling"
**Submitting author:** @kevinblighe (<a href="http://orcid.org/0000-0002-6322-6571">Kevin Blighe</a>)
**Repository:** <a href="https://github.com/kevinblighe/EnhancedVolcano" target ="_blank">https://github.com/kevinblighe/EnhancedVolcano</a>
**Version:** v1.6.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-08-31 20:10] whedon commented on #2622
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-31 20:10] whedon opened #2623 "[PRE REVIEW]: SLIX: A Python package for fully automated evaluation of Scattered Light Imaging measurements on brain tissue"
**Submitting author:** @Thyre (<a href="http://orcid.org/0000-0002-1219-0310">Jan André Reuter</a>)
**Repository:** <a href="https://github.com/3d-pli/SLIX" target ="_blank">https://github.com/3d-pli/SLIX</a>
**Version:** v1.1
**Editor:** @oliviaguest
**Reviewers:** @matteomancini, @rly
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-08-31 20:10] whedon commented on #2622
[code]

[2020-08-31 20:10] whedon commented on #2623
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-31 20:10] whedon commented on #2622
Failed to discover a valid open source license.

[2020-08-31 20:10] whedon commented on #2622
PDF failed to compile for issue #2622 with the following error:

 Can't find any papers to compile :-(

[2020-08-31 20:10] whedon commented on #2623
Failed to discover a `Statement of need` section in paper

[2020-08-31 20:10] whedon commented on #2623
[code]

[2020-08-31 20:11] whedon commented on #2623
[code]

[2020-08-31 20:11] whedon commented on #2623
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02623/joss.02623/10.21105.joss.02623.pdf)

[2020-08-31 20:11] kthyng commented on #2622
@whedon query scope

[2020-08-31 20:11] whedon commented on #2622
Submission flagged for editorial review.

[2020-08-31 20:11] Midnighter commented on #2342
Thank you indeed! What a pleasant process it was overall. Definitely have definitely created a nice publishing experience.

[2020-08-31 20:12] kthyng commented on #2623
@whedon query scope

[2020-08-31 20:12] whedon commented on #2623
Submission flagged for editorial review.

[2020-08-31 20:17] kthyng commented on #2425
@whedon set v0.1.6 as version

[2020-08-31 20:17] whedon commented on #2425
OK. v0.1.6 is the version.

[2020-08-31 20:21] kthyng commented on #2425
Excellent, got the version.

Can you change the title of your Zenodo archive to match the title of your JOSS paper? Also it looks strange as an archive, usually the files are all shown. For example, following are links to two of the last zenodo archives I've dealt with: https://zenodo.org/record/3996524#.X01br_hKjOQ and https://zenodo.org/record/4009224#.X01bsvhKjOQ.  Is yours different just becau

[2020-08-31 20:23] galessiorob commented on #2619
@whedon assign @galessiorob as editor

[2020-08-31 20:23] whedon commented on #2619
OK, the editor is @galessiorob

[2020-08-31 20:27] kthyng commented on #2587
Hi @kakiac! Are you up for editing another submission? You look like a good fit for this one!

[2020-08-31 20:27] kthyng commented on #2587
@whedon invite @kakiac as editor

[2020-08-31 20:27] whedon commented on #2587
@kakiac has been invited to edit this submission.

[2020-08-31 20:29] danielskatz commented on #2615
@whedon assign me as editor

[2020-08-31 20:30] whedon commented on #2615
OK, the editor is @danielskatz

[2020-08-31 20:40] danielskatz commented on #2615
👋 @jpsety - I hope you can help me by suggesting some possible reviewers...

If you have any suggestions for potential reviewers, then please mention them here in this thread (without tagging them with an @).

In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2020-08-31 20:47] mortonne commented on #2612
Here are some potential reviewers:
* cMadan
* janfreyberg
* snastase
* neuromusic
* JonathanReardon

[2020-08-31 20:50] mortonne commented on #2612
The article proof looks right.

[2020-08-31 20:50] mbobra commented on #2618
@kthyng Yes! 👍

[2020-08-31 20:50] mbobra commented on #2618
@whedon assign @mbobra as editor

[2020-08-31 20:50] whedon commented on #2618
OK, the editor is @mbobra

[2020-08-31 20:52] mbobra commented on #2618
@amanchokshi Thanks for your submission! Please give me a few days to find some reviewers.

[2020-08-31 21:03] kthyng commented on #2618
@amanchokshi it's always a good idea for the author of a submission to check out the list of reviewers given to make suggestions of your own too!

[2020-08-31 21:10] salanne commented on #2373
Hi @mattwthompson, sorry again for the delay. We fixed the issues you raised on the repository, please let me know if this is fine for you now. Concerning the file conversion, we are indeed developing some tools, these will be made available on the MW page when it is done. Thanks again for the review!

[2020-08-31 21:31] mbobra commented on #2618
@whedon add @teuben as reviewer

[2020-08-31 21:31] whedon commented on #2618
OK, @teuben is now a reviewer

[2020-08-31 22:07] dhhagan commented on #2479
@whedon remove @RCHG as reviewer

[2020-08-31 22:08] whedon commented on #2479
OK, @RCHG is no longer a reviewer

[2020-08-31 22:11] dhhagan commented on #2435
@whedon remind @gonsie in 3 days

[2020-08-31 22:11] whedon commented on #2435
Reminder set for @gonsie in 3 days

[2020-08-31 22:26] jdbaugher commented on #2556
Thanks @Maghnuso for your time and expertise! I have corrected the broken documentation hyperlinks at https://serotools.readthedocs.io/en/latest/repository.html. Thanks for catching those! I am not sure how to further clarify the usage instructions for the ``cluster`` command documented at https://serotools.readthedocs.io/en/latest/usage.html#cluster.

[2020-08-31 22:42] lucask07 commented on #2584
Hi @marcosvital
It's working, I can click on the check-boxes now.

[2020-08-31 23:08] lucask07 commented on #2584
@JolleJolles

A few comments as I'm working through the **Documentation** section of the reviewer checklist.

- README page is missing an explanation of how others may "1) Contribute to the software"
- The _Statement of Need_ should be elaborated on in both the README and the github.io page.
- The software does not have automated tests. "Automated tests: Are there automated tests or manual steps d

[2020-08-31 23:14] lucask07 commented on #2584
For the scholarly contribution a check with [CLOC](https://github.com/AlDanial/cloc) ("count lines of code") shows:

- Python: 1093 lines of code, and 402 lines of comment
- Markdown 1150 lines of code
- Jupyter Notebook: 52 lines of code, 973 lines of comment

So this work is above the LOC threshold. Submissions with LOC less than 1000 are "flagged" per the JOSS [scholarly effort guidelines](http

[2020-08-31 23:25] jpsety commented on #2615
Looking through the list its sparse for hardware people, but maybe:
julianstirling
skadio
reality

[2020-09-01 01:50] amanchokshi commented on #2618
Hi @mbobra, @teuben and @kthyng! Thanks for doing this.
I'm not sure how many reviewers are required for the process, but I've gone through the list and have found a couple of people who may be suitable - astrom-tom and olebole.

[2020-09-01 03:06] alexssandrofc commented on #2605
Hi @gdede-hua,

I hope to help you, I made available some tips for the development of your paper.

Figures can be included like this:
![Caption for example figure.\label{fig:example}](figure.png)

As an example available in https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

It is possible to check a preview of your paper at https://whedon.theoj.org/

I also verif

[2020-09-01 03:09] majensen commented on #2556
@jdbaugher I think all that is needed here (based on discussions with @Maghnuso ) is connecting the dots a little more. That is, to explicitly say that the data in the code box under the "Input" header is actually _in_ a text file, and then that the text file's name is what goes at <input_file> in the command

`` serotools cluster -i <input_file>``

This seems _almost_ obvious - but we found for m

[2020-09-01 03:21] jni commented on #2612
@kthyng I'm bandwidth-limited at the moment and currently editing two other manuscripts, so I won't be able to edit this one for now.

[2020-09-01 03:41] MikeHeiber commented on #2307
@pdebuyl The latest version of the paper is on the joss-proofing branch.  I am finished with my edits, so if you don't have any other required edits, you can create the final publication using this branch.  I will then merge it into master once the paper it published.

[2020-09-01 03:52] jgostick commented on #2477
@whedon assign @WardLT as reviewer

[2020-09-01 03:52] whedon commented on #2477
OK, @WardLT is now a reviewer

[2020-09-01 03:53] jgostick commented on #2477
@whedon assign @yangbai90 as reviewer

[2020-09-01 03:53] whedon commented on #2477
OK, @yangbai90 is now a reviewer

[2020-09-01 03:53] jgostick commented on #2477
@whedon start review

[2020-09-01 03:54] whedon opened #2624 "[REVIEW]: DiffCapAnalyzer: A Python Package for Quantitative Analysis of Total Differential Capacity Data"
**Submitting author:** @nicolet5 (<a href="http://orcid.org/0000-0003-3411-7373">Nicole  Thompson</a>)
**Repository:** <a href="https://github.com/nicolet5/DiffCapAnalyzer" target ="_blank">https://github.com/nicolet5/DiffCapAnalyzer</a>
**Version:** v0.1.1
**Editor:** @jgostick
**Reviewers:** @yangbai90, @WardLT
**Archive:** <a href="https://doi.org/10.5281/zenodo.4089118" target="_blank">10.5281

[2020-09-01 03:54] whedon commented on #2477
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2624.

[2020-09-01 03:54] #2477 closed

[2020-09-01 03:54] whedon commented on #2624
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @yangbai90 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.

[2020-09-01 03:55] whedon commented on #2624
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02624/joss.02624/10.21105.joss.02624.pdf)

[2020-09-01 03:58] jgostick commented on #2624
Hi @WardLT, you asked in the 'pre-review' thread how to get started.  I have added a checklist to the top of this issues under your name...you now just check off the boxes, and give the author(s) of the package any tips on how to improve their code for any of the boxes that are not 'check-worthy'.

[2020-09-01 04:00] jgostick commented on #2477
@arfon something odd happened on this issue when I assigned reviewers.  I assigned @WardLT, then assigned @yangbai90, and whedon did something unexpected (I think) as you can see by his/her comments above.  Is this buggy or did I screw up?

[2020-09-01 04:39] jedbrown commented on #2123
@whedon generate pdf

[2020-09-01 04:40] jedbrown commented on #2123
@whedon check references

[2020-09-01 04:40] whedon commented on #2123
PDF failed to compile for issue #2123 with the following error:

 sh: 0: getcwd() failed: No such file or directory
sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.02123.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-09-01 04:40] whedon commented on #2123
[code]

[2020-09-01 05:26] jdbaugher commented on #2556
@majensen @Maghnuso Ok understood. I have updated the Usage documentation with clarification as discussed - https://serotools.readthedocs.io/en/latest/usage.html#cluster

[2020-09-01 05:38] castelao commented on #2497
@lnferris and @kthyng , I'm sorry for my slow response. I'll point my comments as issues in the project repository, and I'll make it clear what I consider critical from suggestions.

Impressive the review from @kakearney. Nice job!

[2020-09-01 06:30] arfon commented on #2477
@jgostick `assign` clobbers all existing assignments, `add` adds a new reviewer so your second comment here: https://github.com/openjournals/joss-reviews/issues/2477#issuecomment-684181713 removed the first reviewer.

You can fix this over in #2624 by:

1. Running `@whedon add @WardLT as reviewer`
2. Editing the issue at the top of the thread to add a second checklist for @WardLT

Are you OK to do

[2020-09-01 06:51] JolleJolles commented on #2584
Thanks @lucask07. I will address your comments 1 and 2 immideately.

For Comment 3, I read in the author guidelines that automated tests are not a requirement and that "Documented manual steps that can be followed to objectively check the expected functionality of the software" would also be okay. I have detailed tutorials to run through the whole software (jollejolles.github.io/pirecorder), which

[2020-09-01 06:56] JolleJolles commented on #2584
Thanks. I have actually very limited comments throughout my code. The only commented code would be the function documentation. Could you guide me on what to here? Thank you.

[2020-09-01 07:29] mikldk commented on #2609
@VincentAlcazer Thank you for this submission. Do you have any reviewers in mind (e.g. from [the list of people](https://bit.ly/joss-reviewers) mentioned above)?

The title of the paper has "a R package". This should be changed to "an R package" (or maybe even "An R package").

[2020-09-01 07:31] gmaze commented on #2425
ok:

1. I updated the zenodo archive with the JOSS paper title
1. To have files more explicit, I uploaded a .zip instead of .tar.gz for zenodo to be able to display files.
But this changed the zenodo DOI, it's now: **10.5281/zenodo.4010160**

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4010160.svg)](https://doi.org/10.5281/zenodo.4010160)

([both files comes from the github tagged release

[2020-09-01 07:37] VincentAlcazer commented on #2609
@mikldk Thank you for your comment. Based on the list, I could suggest @adithirgis who seems to have an expertise in data analysis and Shiny apps, and @nistara who seems to be comfortable with health-related areas.

I am making the change for the title.

[2020-09-01 07:39] mikldk commented on #2583
@sahilseth, @edifice1989: What is the status of your reviews? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2020-09-01 07:41] mikldk commented on #2526
@nhejazi: What is the status of the opened issues related to this review?
@daviddewhurst, @rrrlw: What is the status of your reviews?

This is not to rush you, merely to give me an impression of the progress and time-frame.

[2020-09-01 07:41] pdebuyl commented on #2307
@whedon generate pdf from branch joss-proofing

[2020-09-01 07:41] whedon commented on #2307
[code]

[2020-09-01 07:41] VincentAlcazer commented on #2609
@whedon generate pdf

[2020-09-01 07:42] whedon commented on #2307
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02307/joss.02307/10.21105.joss.02307.pdf)

[2020-09-01 07:42] whedon commented on #2609
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02609/joss.02609/10.21105.joss.02609.pdf)

[2020-09-01 07:51] strengejacke commented on #2445
@sbenthall I have finished all requested steps, I think. Can you confirm that no further action from my side is required at the moment?

[2020-09-01 08:17] DerJH commented on #2584
Hi, I think a python file which executes several functions would be a good idea, but as I am also new to the software testing business (and github reviewing)  not sure if that is the way these things go about.

[2020-09-01 08:29] DerJH commented on #2584
I have some more questions/comments

1. Is there a way to save the ROI directly into the config file? So 1. opening stream, 2. making rectangle, 3. press "s", 4. save to the current .conf file?

2. In the convert function I might have discovered a tiny bug.

from pirecorder import Convert
Convert(indir = "/home/pi/Videos", outdir = "/home/pi/Videos/converted", resizeval = 0.5)
Convert(indir = "/ho

[2020-09-01 08:34] CBenghi commented on #2548
Sorry to hear that, @AnaWaldila.
I need a little more time to adjust to recent workplace changes, will be able to pick up next week.
Sorry for the delay.
Claudio

[2020-09-01 08:51] Nico-Curti commented on #2589
@arokem Thanks for your comments. We will provide an updated version of the paper with your suggestions in few days.
As for the second reviewer we would like to suggest professor [Brian Blais](https://github.com/bblais) since he is an expert in the field and a very competent Python programmer.

[2020-09-01 09:36] pdebuyl commented on #2307
@whedon accept from branch joss-proofing

[2020-09-01 09:36] whedon commented on #2307
[code]

[2020-09-01 09:36] whedon commented on #2307
[code]

[2020-09-01 09:37] whedon commented on #2307
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1692

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1692, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-01 09:51] pdebuyl commented on #2307
@MikeHeiber this is a good time to merge if you wish. Else, the process carries on with the other branch. One of the editors-in-chief will take over the rest of the process.

[2020-09-01 10:10] #2342 closed

[2020-09-01 10:10] whedon commented on #2342
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02342/status.svg)](https://doi.org/10.21105/joss.02342)

**We need your help!**

Journal of Open Source Softwa

[2020-09-01 10:12] jenzopr commented on #2436
@whedon generate pdf

[2020-09-01 10:12] whedon commented on #2436
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02436/joss.02436/10.21105.joss.02436.pdf)

[2020-09-01 10:45] lukasheinrich commented on #2403
@sritchie I successfully tested caliban locally but still have trouble  accessing the cloud. Are the credentials you sent me still valid?

[2020-09-01 12:41] will-moore commented on #2579
I've checked off all the items that I feel able to just now.
I have issues setting up ruby on my Mac to test the install instructions, but I'll continue to look at that.
Other issues are:
 - I'm not sure if API documentation is essential, given that this is presented as a GUI tool rather than a software library?
 - I couldn't see any Automated tests or community guidelines for contributing.
 - The

[2020-09-01 12:50] WardLT commented on #2624
Thanks!

[2020-09-01 13:04] mjsull commented on #2451
Hi Will,

Apologies, I was waiting to get feedback from my co-author (who has been a
bit snowed under by sars-cov-2 related work). He said he'd get back to me
later today.

Thanks again,

Mitch

On Mon, 31 Aug 2020 at 04:41, Will Rowe <notifications@github.com> wrote:

[2020-09-01 13:05] will-rowe commented on #2451
No problem at all!

[2020-09-01 13:22] kthyng commented on #2425
@whedon set 10.5281/zenodo.4010160 as archive

[2020-09-01 13:22] whedon commented on #2425
OK. <a href="https://doi.org/10.5281/zenodo.4010160" target="_blank">10.5281/zenodo.4010160</a> is the archive.

[2020-09-01 13:24] kthyng commented on #2425
@whedon accept

[2020-09-01 13:24] whedon commented on #2425
[code]

[2020-09-01 13:24] whedon commented on #2425
[code]

[2020-09-01 13:24] whedon commented on #2425
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1693

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1693, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-01 13:26] kthyng commented on #2425
@whedon accept deposit=true

[2020-09-01 13:26] whedon commented on #2425
[code]

[2020-09-01 13:27] whedon commented on #2425
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1300787259231416321) 👈 🐦🐦🐦

[2020-09-01 13:27] whedon commented on #2425
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1694
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02425](https://doi.org/10.21105/joss.02425)
2. If everything looks g

[2020-09-01 13:31] kthyng commented on #2425
Congrats to @gmaze on your new publication!!! Many thanks to reviewers @dhruvbalwada and @DamienIrving — we couldn't make this happen without your time and expertise.

[2020-09-01 13:31] #2425 closed

[2020-09-01 13:31] arokem commented on #2589
Hi @bblais -- would you be willing to review this software contribution to [The Journal of Open Source Software](https://joss.theoj.org/)? The reviews are conducted openly, through a GitHub issue. More instructions are available [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

[2020-09-01 13:48] eloisabentivegna commented on #2338
Thanks, @jangmys and @dgoldri25! It sounds like we are ready to accept the paper. @arfon, is there something special we need to do because of the double code repository?

[2020-09-01 14:15] juanvillada commented on #2560
Hey @lpantano

Yes, I would like to review this tool. Count me in 👍🏼

[2020-09-01 14:27] gmaze commented on #2425
Thanks to you @kthyng and reviewers @dhruvbalwada and @DamienIrving !

[2020-09-01 14:28] romainmartinez commented on #2431
@whedon generate pdf

[2020-09-01 14:28] whedon commented on #2431
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02431/joss.02431/10.21105.joss.02431.pdf)

[2020-09-01 14:31] romainmartinez commented on #2431
Thanks for your comments @Kevin-Mattheus-Moerman.

You are absolutely right, done in [`45429fa`](https://github.com/romainmartinez/pyomeca/commit/45429fa3c1ed06146358e4aca2c5e611793497c5).

Done in [`b30b116`](https://github.com/romainmartinez/pyomeca/commit/b30b116c470994d142f66cee9f96045f2e822c41).

Done in [`37b7a55`](https://github.com/romainmartinez/pyomeca/commit/37b7a551e7504589105d50f7f7ef

[2020-09-01 14:31] whedon commented on #2560
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-01 14:35] lpantano commented on #2560
@whedon assign @juanvillada  as reviewer

[2020-09-01 14:35] whedon commented on #2560
OK, @juanvillada  is now a reviewer

[2020-09-01 14:44] lpantano commented on #2560
@dcgerard, would you like to review this tool? link to the guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-09-01 14:58] sritchie commented on #2403
Hey @lukasheinrich , I realize I had not added your gmail account to the project, which is probably causing the issue here. Mind giving it another run? If you run into trouble I'll debug deeply and make sure you're all set, but I think this should get you going.

Cheers!

[2020-09-01 15:01] arfon commented on #2338
We need the authors to make a single archive with e.g. Zenodo of all of the software associated with the submission. This will likely require a little extra work on the part of the authors compared with some of the automated methods for doing this with GitHub.

[2020-09-01 15:07] bluescarni commented on #2338
@arfon would it be enough to make an archive of the latest releases of pagmo and pygmo (i.e., from the released tarballs on github)?

[2020-09-01 15:11] arfon commented on #2338
We would like the archive to include any changes that have been made as a result of this review. Would that be the case if you used the latest releases?

[2020-09-01 15:13] lukasheinrich commented on #2403
Hi @sritchie,

thanks! This seems to work and I'm able to push some new images.

Cheers!

[2020-09-01 15:14] kbarnhart commented on #2361
Nice work @tylunel. Glad you were able to get the docs to build on readthedocs! They look great and I think this is a huge improvement already!

I've now un-paused this submission and will begin the stage of the JOSS review process in which I find two or three reviewers for this submission.

If you have any suggestions for potential reviewers then please mention them here in this thread (without t

[2020-09-01 15:18] kbarnhart commented on #2407
@sadielbartholomew and @rabernat thanks for your review comments thus far. I wanted to check in and see what your time-frame is for revisiting and potentially completing your reviews. As best as I can tell @Xunius has addressed the current outstanding issues that this review has raised.

* ihesp/IPART/issues/5 is open and must be closed, but I think the issues have been addressed.
* ihesp/IPART/is

[2020-09-01 15:22] rabernat commented on #2407
Sorry for my long silence here. I just left some comments on both my issues. I appreciate everyone's patience.

[2020-09-01 15:25] kbarnhart commented on #2407
@rabernat thanks for the update and those comments on the relevant issue threads.

JOSS is trying to be mindful of the impact of COVID on people's availability (see [statement of reduced service mode](https://github.com/openjournals/joss-reviews/issues/2407#issue-647682667) above). Which is to say that we understand things may take longer at the moment.

[2020-09-01 15:30] sadielbartholomew commented on #2407
Thanks to everyone for their patience as well with respect to my review. I am hoping to be able to finish my review tonight, if not by the mid-week at latest.

[2020-09-01 15:31] kbarnhart commented on #2341
@whedon generate pdf

[2020-09-01 15:32] whedon commented on #2341
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02341/joss.02341/10.21105.joss.02341.pdf)

[2020-09-01 15:40] kbarnhart commented on #2341
Updates addressing half of @zsylvester 's comments now merged into master.

[2020-09-01 15:41] kbarnhart commented on #2407
Thanks for the updates @rabernat and @sadielbartholomew. 👍

[2020-09-01 16:00] jedbrown commented on #2123
@whedon generate pdf

[2020-09-01 16:01] whedon commented on #2123
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02123/joss.02123/10.21105.joss.02123.pdf)

[2020-09-01 16:06] Maghnuso commented on #2556
Thanks @majensen for clarifying my request and @jdbaugher for the changes in usage documentation, they will help the likes of me get full value from the software! All of my boxes are checked and I'm happy to recommend "Accept". -Maghnus

[2020-09-01 16:58] whedon opened #2625 "[PRE REVIEW]: nap: A molecular dynamics package with parameter-optimization programs for classical and machine-learning potentials"
**Submitting author:** @ryokbys (<a href="http://orcid.org/0000-0001-8244-5844">Ryo KOBAYASHI</a>)
**Repository:** <a href="https://github.com/ryokbys/nap" target ="_blank">https://github.com/ryokbys/nap</a>
**Version:** v0.9.2
**Editor:** @usethedata
**Reviewers:** @richardjgowers, @foeroyingur
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2020-09-01 16:58] whedon commented on #2625
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-01 16:58] whedon opened #2626 "[PRE REVIEW]: hawen: time-harmonic wave modeling and inversion using hybridizable discontinuous Galerkin discretization"
**Submitting author:** @flofaucher (<a href="http://orcid.org/0000-0003-4958-7511">Florian Faucher</a>)
**Repository:** <a href="https://gitlab.com/ffaucher/hawen" target ="_blank">https://gitlab.com/ffaucher/hawen</a>
**Version:** v0.1.2
**Editor:** @meg-simula
**Reviewers:** @chennachaos, @yangbai90
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-09-01 16:58] whedon commented on #2626
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-01 16:58] whedon commented on #2625
[code]

[2020-09-01 16:58] whedon commented on #2625
[code]

[2020-09-01 16:58] whedon opened #2627 "[PRE REVIEW]: J3D: using moments to quantify the shape of molecular clouds in 3D"
**Submitting author:** @SJaffa (<a href="http://orcid.org/0000-0002-6711-6345">Sarah Jaffa</a>)
**Repository:** <a href="https://github.com/SJaffa/Jplots" target ="_blank">https://github.com/SJaffa/Jplots</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic,

[2020-09-01 16:58] whedon commented on #2626
Failed to discover a `Statement of need` section in paper

[2020-09-01 16:58] whedon commented on #2626
[code]

[2020-09-01 16:58] whedon commented on #2627
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-01 16:58] whedon commented on #2625
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02625/joss.02625/10.21105.joss.02625.pdf)

[2020-09-01 16:58] whedon opened #2628 "[PRE REVIEW]: Xgcm: A Python Package for Analyzing Data from General Circulation Models"
**Submitting author:** @rabernat (<a href="http://orcid.org/0000-0001-5999-4917">Ryan Abernathey</a>)
**Repository:** <a href="https://github.com/xgcm/xgcm" target ="_blank">https://github.com/xgcm/xgcm</a>
**Version:** v.0.3.0
**Editor:** @kthyng
**Reviewers:** @koldunovn, @vrx-
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2020-09-01 16:58] whedon commented on #2628
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-01 16:59] whedon commented on #2627
Failed to discover a `Statement of need` section in paper

[2020-09-01 16:59] whedon commented on #2626
[code]

[2020-09-01 16:59] whedon commented on #2626
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02626/joss.02626/10.21105.joss.02626.pdf)

[2020-09-01 16:59] whedon commented on #2627
[code]

[2020-09-01 16:59] whedon commented on #2627
[code]

[2020-09-01 16:59] whedon commented on #2628
[code]

[2020-09-01 16:59] whedon commented on #2628
[code]

[2020-09-01 17:00] whedon commented on #2627
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02627/joss.02627/10.21105.joss.02627.pdf)

[2020-09-01 17:00] whedon commented on #2628
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02628/joss.02628/10.21105.joss.02628.pdf)

[2020-09-01 17:00] kthyng commented on #2625
Hi @jgostick could you edit this submission?

[2020-09-01 17:00] kthyng commented on #2625
@whedon invite @jgostick as editor

[2020-09-01 17:00] whedon commented on #2625
@jgostick has been invited to edit this submission.

[2020-09-01 17:07] kthyng commented on #2626
Hi @meg-simula could you take on this submission?

[2020-09-01 17:07] kthyng commented on #2626
@whedon invite @meg-simula as editor

[2020-09-01 17:07] whedon commented on #2626
@meg-simula has been invited to edit this submission.

[2020-09-01 17:08] meg-simula commented on #2626
@whedon assign @meg-simula as editor

[2020-09-01 17:08] kthyng commented on #2627
@whedon query scope

[2020-09-01 17:08] whedon commented on #2626
OK, the editor is @meg-simula

[2020-09-01 17:08] whedon commented on #2627
Submission flagged for editorial review.

[2020-09-01 17:12] kthyng commented on #2628
Hi @rabernat! It's great to see `xgcm` here! I'll be your editor.

Can you start by checking out the doi's noted above as possible problems, and then suggest reviewers either from your own network and/or from the [list of volunteers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing). The best reviewers would be present or future users of xgcm who

[2020-09-01 17:12] kthyng commented on #2628
@whedon add @kthyng as editor

[2020-09-01 17:12] whedon commented on #2628
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-01 17:12] kthyng commented on #2628
@whedon assign @kthyng as editor

[2020-09-01 17:12] whedon commented on #2628
OK, the editor is @kthyng

[2020-09-01 17:18] bluescarni commented on #2338
@arfon No, there were no code changes as a result of the review.

[2020-09-01 18:02] mbobra commented on #2618
@whedon add @hasantahir as reviewer

[2020-09-01 18:02] whedon commented on #2618
OK, @hasantahir is now a reviewer

[2020-09-01 18:02] mbobra commented on #2618
@whedon start review

[2020-09-01 18:03] whedon opened #2629 "[REVIEW]: EMBERS: Experimental Measurement of BEam Responses with Satellites"
**Submitting author:** @amanchokshi (<a href="http://orcid.org/0000-0003-1130-6390">Aman Chokshi</a>)
**Repository:** <a href="https://github.com/amanchokshi/EMBERS" target ="_blank">https://github.com/amanchokshi/EMBERS</a>
**Version:** v1.0.0
**Editor:** @mbobra
**Reviewers:** @teuben, @mbobra
**Archive:** <a href="https://doi.org/10.5281/zenodo.4287813" target="_blank">10.5281/zenodo.4287813</a

[2020-09-01 18:03] whedon commented on #2618
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2629.

[2020-09-01 18:03] #2618 closed

[2020-09-01 18:03] whedon commented on #2629
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @teuben, @hasantahir it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-09-01 18:03] whedon commented on #2629
[code]

[2020-09-01 18:03] whedon commented on #2629
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02629/joss.02629/10.21105.joss.02629.pdf)

[2020-09-01 18:06] mbobra commented on #2629
👋 @teuben @hasantahir Thank you so much for agreeing to review this submission! You'll see your reviewer checklists above. If you'd like more information on any of these items, please reference the [review critera](https://joss.readthedocs.io/en/latest/review_criteria.html). Also, we encourage open communication between the reviewers, submitting author, and editor. So please feel free to ask quest

[2020-09-01 18:19] rabernat commented on #2628
Thanks @kthyng!

I have fixed the DOIs on the master branch.

Based on your guidance and the spreadsheet, I would suggest

- @sadielbartholomew
- @edoddridge
- @koldunovn
- @wingtorres

Additional possible reviewers who are not on the JOSS list could be

- @vrx-
- @emmomp

[2020-09-01 18:49] nistara commented on #2609
I'd be happy to review this submission; it looks really interesting.

[2020-09-01 19:03] mdsteiner commented on #2521
Thanks again @chainsawriot for the helpful comments! We have now uploaded a preprint of our paper where we report the simulation analyses concerning the default implementation of PAF and promax used in the `EFA()` function and have adapted our citation in the manuscript by citing the preprint as you suggested.

[2020-09-01 19:37] chainsawriot commented on #2521
@whedon generate pdf

[2020-09-01 19:38] whedon commented on #2521
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02521/joss.02521/10.21105.joss.02521.pdf)

[2020-09-01 19:42] chainsawriot commented on #2521
@mdsteiner Thanks for keeping me updated. It is really nice that the preprint is available for all of us. I hope that the review of both papers (this JOSS paper and your preprint) can go faster.

[2020-09-01 19:49] mikldk commented on #2609
@whedon assign @nistara as reviewer

[2020-09-01 19:49] whedon commented on #2609
OK, @nistara is now a reviewer

[2020-09-01 19:50] mikldk commented on #2609
@adithirgis: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-09-01 20:40] kthyng commented on #2628
Sorry for the github pings everyone! (we list github handles without the "@" to not email people at this stage to limit noise for potential reviewers, but I forgot to say that)

I am going to narrow down @rabernat's list, especially to avoid people who are already actively reviewing for us!

@koldunovn and @vrx- would you be interested in reviewing this package? The review process is all on github

[2020-09-01 20:51] adithirgis commented on #2609
Hi,

Thanks, I would be interested to review this. I will be able to start only
in a couple of days though. Is that ok?

Thanks!

On Wed 2 Sep, 2020, 1:20 AM Mikkel Meyer Andersen, <notifications@github.com>
wrote:

[2020-09-01 22:40] pibion commented on #2617
@kthyng I'm not super experienced with R, but this is a topic I'm comfortable with.  I'll go ahead and accept.

[2020-09-01 22:41] pibion commented on #2617
@whedon assign @pibion as editor

[2020-09-01 22:41] whedon commented on #2617
OK, the editor is @pibion

[2020-09-01 22:43] lucask07 commented on #2584
@JolleJolles : I think this is fine and there's no needed action on your part. I was just documenting my findings.

[2020-09-01 22:46] pibion commented on #2602
@kthyng I have a lot of experience with simulating beam polarization in accelerator systems, which maps weirdly well onto modeling optical systems.  But I've never applied that knowledge outside of beam modeling.

I'm comfortable being the editor, although I'd go for three reviewers rather than two.

How does that sound?  Totally understand if you'd rather have someone with telescope-specific expe

[2020-09-01 23:02] edifice1989 commented on #2583
@mikldk I have finished the review checklist, anything else I need to do?

[2020-09-01 23:13] majensen commented on #2556
@whedon check references

[2020-09-01 23:14] majensen commented on #2556
@whedon generate pdf

[2020-09-01 23:14] whedon commented on #2556
[code]

[2020-09-01 23:14] whedon commented on #2556
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02556/joss.02556/10.21105.joss.02556.pdf)

[2020-09-01 23:38] sadielbartholomew commented on #2407
(I'm commenting regarding review points out of order with respect to the review list here, purely to address the 'low hanging fruit' firstly.)

@Xunius with regards to the 'Quality of writing' point of the paper itself, I think it is very well written and clear, so well done for that. It is all great as far as I am concerned.

Before I tick that off, though, I wanted to check if you would agree th

[2020-09-01 23:45] pibion commented on #2617
@wesleyburr I've invited your suggested reviewers and I'll post in this space as they accept or decline.

It's taking a little while longer than usual both to find reviewers and for them to review, but we'll try to keep the process moving along :)

[2020-09-02 00:05] majensen commented on #2556
@jdbaugher we're closing in. I've looked over the paper itself. The text looks fine to me.

Can you consider the following improvements to the bibliography:

* Please format the text in the references so that all Latin binomials are appropriately capitalized/italicized (e.g. _Escherichia coli_, _**S**almonella_), and serovar names (e.g. Lubbock) are capitalized.
* Please format same so that proper

[2020-09-02 00:16] sofroniewn commented on #2579
I will start my review asap @jni, thanks @will-moore for ironing out some of those early issues!

[2020-09-02 00:18] AnaWaldila commented on #2548
Hi Kelvin,
So.... my father deaed in 26th August.
Well, sorry about the long time to reviewer the paper.
I am finishing now. The last part is completing the list of revision that I received from @whedon.
I have a question:

  *   Functionality: Have the functional claims of the software been confirmed?
  *   Performance: If there are any performance claims of the software, have they been confirmed

[2020-09-02 00:32] lydialucchesi commented on #2409
I am working on revisions and have a running list of what has been done so far saved in the paper folder in the Vizumap repo: https://github.com/lydialucchesi/Vizumap/blob/master/paper/revisionList.docx.

[2020-09-02 00:57] jspaezp commented on #2617
I would love to review this paper, sign me up! (jpaezpae@purdue.edu here)

[2020-09-02 01:01] wesleyburr commented on #2617
No worries - I read the announcement about the delays. The fact that you folks are working as fast as you are in this "time of COVID" is remarkable, and we're thankful for any review at any pace folks can handle.

[2020-09-02 01:44] ryokbys commented on #2625
I'd like to list up some potential reviewers,

- masrul
- govarguz
- srmnitc
- jeffhammond
- ml-evs
- mbkumar
- ChrisDowning
- utf

[2020-09-02 01:49] mattwthompson commented on #2373
@salanne as I said over, on GitLab, the fixes you & your peers have implemented each look good to me :+1:

Looking over my wall of text, each of my issues have been addressed, therefore I am happy to recommend it for publication. @richardjgowers

[2020-09-02 02:17] rabernat commented on #2628
Makes sense. Sorry for my blunder!

[2020-09-02 02:56] mtsch commented on #2614
Thanks for the kind words!

I added a short paragraph listing Julia packages. I also added citation for Julia and a reference to a Ripser fork I forgot to include.

[2020-09-02 02:56] mtsch commented on #2614
@whedon generate pdf

[2020-09-02 02:57] whedon commented on #2614
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02614/joss.02614/10.21105.joss.02614.pdf)

[2020-09-02 02:59] juliohm commented on #2614
I am happy to approve the submission. Everything is checked on my side :100:

[2020-09-02 05:00] benjaminpope commented on #2596
Dear @htjb,

Thank you for producing a useful and well-documented software package `maxsmooth`. I could install and run it with no trouble at all.

Overall it is good and I expect it will not be too much work to fix up such small comments as I have. I will put these here rather than in separate Issues but happy to break any that you think are substantive into Issues.

My first high-level comment i

[2020-09-02 05:03] benjaminpope commented on #2596
I should add, going back over the checklist - I'm happy to check it off, but it wouldn't hurt to add more description and citation to the **State of the Field** in the paper.

[2020-09-02 06:31] tukiains commented on #2123
The proof looks good to me.

[2020-09-02 07:43] VivianePons commented on #2614
Thank you very much @juliohm for reviewing so efficiently! @sauln let me know when you are done and do not hesitate to ask questions / make comments to the author, also you can take your time ;) The other reviewer was particularly quick!

[2020-09-02 08:02] koldunovn commented on #2628
Hello, everyone. Sure, I will do the review. Might not be very fast, but hope to manage in 5-6 weeks.

[2020-09-02 08:32] teamPSG commented on #2377
Hello @oliviaguest! Will this Zenodo archive work for the JOSS publication: https://zenodo.org/record/4009178#.X09YJ4uxX0O or with DOI https://doi.org/10.5281/zenodo.4009178

Thanks,
 Tamás

[2020-09-02 08:33] tylunel commented on #2361
Thank you!
I would specially recommend @ motahhir who seems to already work on PV pumping systems. Then, from the 'topic/areas' column, @ kumar and @ robinroche could fit as well. Lastly, @ wholmgren may be also interested as _pvpumpingsystem_ uses his package _pvlib-python_, and that some of the structure/philosophy of my package was inspired by his.

[2020-09-02 09:11] Kevin-Mattheus-Moerman commented on #2600
@jbytecode

Some notes on your paper:
- [ ] Typo: `persfective` -> `perspective`

- [ ] We do not accept previously published scholarly works in JOSS. If major changes have been made, or if the focus on the paper is significantly different, exceptions can be made. Therefore, can you please clarify what the difference in focus/content/intent is for the current submission with respect to this paper:

[2020-09-02 09:13] Kevin-Mattheus-Moerman commented on #2600
@mikldk @kakiac could one of you edit this submission?

[2020-09-02 09:15] Kevin-Mattheus-Moerman commented on #2601
@jgostick @pibion @pdebuyl :wave: :point_up:

[2020-09-02 09:34] geekysquirrel commented on #2537
Oh, I'm surprised! To clarify: the tests are run on Node, not Electron but they should all pass. In the linting stage there are some warnings related to the fact the tool is "normally" run in a browser, not on Node, but there are no errors and the unit tests all pass (not just on my machine locally but you can also see the test results from the Gitlab demo deployment [here](https://geekysquirrel.g

[2020-09-02 09:42] Kevin-Mattheus-Moerman commented on #2431
@whedon generate pdf

[2020-09-02 09:43] whedon commented on #2431
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02431/joss.02431/10.21105.joss.02431.pdf)

[2020-09-02 09:45] geekysquirrel commented on #2537
Oh sorry I forgot to reply to your point about online use.
BigX is not supposed to be an integrated collaboration platform. Its purpose is to visualise data in different cases:

- "quick prototyping", where somebody just wants a quick way to combine datasets and explore the data visually on their local machine - all they have to do for that is to create a new layer and add the path to their data a

[2020-09-02 09:46] Kevin-Mattheus-Moerman commented on #2431
@whedon check references

[2020-09-02 09:47] whedon commented on #2431
[code]

[2020-09-02 09:50] Kevin-Mattheus-Moerman commented on #2431
@romainmartinez I've checked my requested changes and all seems fine now. Below are final steps.

- [ ] Can you archive a copy of the software on ZENODO and report back here with the DOI of the archived version (do not alter or set the DOI yourself, please accept the ZENODO generated DOI)? Please ensure that the title and author list is the same as the JOSS paper for this ZENODO archived version (

[2020-09-02 09:56] Kevin-Mattheus-Moerman commented on #2548
@AnaWaldila our condolences on your loss. Thank you for your continued help here. Again we can be flexible with time so please take as much time as you need, all your help is greatly appreciated.

Yes please comment here if you have minor comments/issues or open dedicated issues on the software repository for longer comments/issues. Let me know if you are still unsure what to do or if you have mor

[2020-09-02 09:59] Kevin-Mattheus-Moerman commented on #2343
@62442katieb thanks

[2020-09-02 09:59] Kevin-Mattheus-Moerman commented on #2343
@whedon generate pdf

[2020-09-02 10:00] whedon commented on #2343
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02343/joss.02343/10.21105.joss.02343.pdf)

[2020-09-02 10:06] jbytecode commented on #2600
@Kevin-Mattheus-Moerman Dear editor, new features such as support for DataFrames, R Start-up options, Java Scripting API (JSR 223), performance improvements, and minor API changes are not included in the paper you mentioned above. I will highlight the differences. Thanks.

[2020-09-02 10:10] Kevin-Mattheus-Moerman commented on #2343
@agahkarakuzu I've reviewed your paper and it seems fine. Below are the last steps to complete:

- [ ] Can you archive a copy of the software on ZENODO and report back here with the DOI of the archived version (do not alter or set the DOI yourself, please accept the ZENODO generated DOI)? Please ensure that the title and author list is the same as the JOSS paper for this ZENODO archived version (y

[2020-09-02 10:15] agahkarakuzu commented on #2343
@Kevin-Mattheus-Moerman thanks! Now that the review has been completed, I would like to release `v.2.4.1` that includes changes suggested by the reviewers and update the citation information to the JOSS reference. Is there a way to know how the citation is going to look like at this stage?

[2020-09-02 10:21] Kevin-Mattheus-Moerman commented on #2343
@agahkarakuzu That is fine, I can set `v.2.4.1` as the version once you confirm that. That way it will be recorded with the paper publication meta data.

@openjournals/dev @arfon I take it that the DOI for this submission will become `https://doi.org/10.21105/joss.02343` (as currently shown on the proof)? Perhaps @agahkarakuzu can use that with the citation information for this release.

[2020-09-02 10:24] Shibabrat commented on #2384
Hi @dpsanders, I have a few more things to check and will be finishing them by 10th Sept.

[2020-09-02 10:25] arfon commented on #2343
Yes, `https://doi.org/10.21105/joss.02343` will be the DOI.

[2020-09-02 10:27] agahkarakuzu commented on #2343
Thank you @arfon and @Kevin-Mattheus-Moerman I will make the release and go through the checklist.

[2020-09-02 10:36] mikldk commented on #2609
@adithirgis That's fine. Thank you.

[2020-09-02 10:36] mikldk commented on #2609
@whedon add @adithirgis as reviewer

[2020-09-02 10:36] whedon commented on #2609
OK, @adithirgis is now a reviewer

[2020-09-02 10:37] mikldk commented on #2609
@whedon start review

[2020-09-02 10:37] whedon opened #2630 "[REVIEW]: StatAid: a R package with a graphical user interface for data analysis"
**Submitting author:** @VincentAlcazer (<a href="http://orcid.org/0000-0003-1843-6286">Vincent Alcazer</a>)
**Repository:** <a href="https://github.com/VincentAlcazer/StatAid" target ="_blank">https://github.com/VincentAlcazer/StatAid</a>
**Version:** v1.1.2
**Editor:** @mikldk
**Reviewer:** @nistara, @adithirgis
**Archive:** <a href="https://doi.org/10.5281/zenodo.4152933" target="_blank">10.5281

[2020-09-02 10:37] whedon commented on #2609
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2630.

[2020-09-02 10:37] #2609 closed

[2020-09-02 10:37] whedon commented on #2630
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nistara, @adithirgis it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-09-02 10:38] mikldk commented on #2630
@nistara, @adithirgis: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this revie

[2020-09-02 10:39] whedon commented on #2630
[code]

[2020-09-02 10:39] whedon commented on #2630
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02630/joss.02630/10.21105.joss.02630.pdf)

[2020-09-02 11:10] jbytecode commented on #2600
@whedon generate pdf

[2020-09-02 11:11] whedon commented on #2600
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02600/joss.02600/10.21105.joss.02600.pdf)

[2020-09-02 11:36] hvgazula commented on #2166
Thank you @cMadan and @gkiar. As suggested, the templates have been put in place now. Yet to hear from @yarikoptic.

[2020-09-02 11:48] mstimberg commented on #2331
Everything is good from my side as well, happy to recommend the paper's acceptance in its current form. A very minor final comment on the `CONTRIBUTING.md` document: In the end it says "Optionally, subscribe the official mailing list flint-discuss@googlegroups.com", but it's not entirely clear *how* to subscribe (send "subscribe" to that address?). Maybe it could link instead (or additionally) to

[2020-09-02 11:50] mou3adb commented on #2577
Hi @chennachaos. Thank you for these comments. Here are our responses:

Comment 1.) _In essence, this library is a finite element analysis code for studying the response of a single elastic rod modelled with 2-noded elements. The coupling between the fluid and solid is modelled as an external force and van der Pol equation. It does not even model multiple rods and their interactions. The problem t

[2020-09-02 11:51] mou3adb commented on #2577
@whedon generate pdf

[2020-09-02 11:52] whedon commented on #2577
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02577/joss.02577/10.21105.joss.02577.pdf)

[2020-09-02 12:12] yarikoptic commented on #2166
@whedon generate pdf from branch paper-branch

[2020-09-02 12:12] whedon commented on #2166
[code]

[2020-09-02 12:12] whedon commented on #2166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02166/joss.02166/10.21105.joss.02166.pdf)

[2020-09-02 12:47] yarikoptic commented on #2166
I am satisfied with edits to the paper, and have nothing you add to @gkiar 's comments.

[2020-09-02 12:52] peanutfun commented on #2165
@arfon - We created a [tagged release](https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/-/releases/joss-release) of the latest version of Utopia, including all changes resulting from the review. We uploaded this version to [Zenodo](https://doi.org/10.5281/zenodo.4011978), the DOI of the archived version is `10.5281/zenodo.4011979`. We currently have no versioning scheme for Utopia, so we name

[2020-09-02 12:53] peanutfun commented on #2165
@whedon generate pdf from branch joss-paper

[2020-09-02 12:53] whedon commented on #2165
[code]

[2020-09-02 12:54] whedon commented on #2165
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02165/joss.02165/10.21105.joss.02165.pdf)

[2020-09-02 12:59] hvgazula commented on #2166
Thank you very much, @yarikoptic! With the templates too in place as @gkiar suggested, probably it's now up to @cMadan to decide on the next steps.

[2020-09-02 13:25] arfon commented on #2165
@whedon set 10.5281/zenodo.4011979 as archive

[2020-09-02 13:25] whedon commented on #2165
OK. <a href="https://doi.org/10.5281/zenodo.4011979" target="_blank">10.5281/zenodo.4011979</a> is the archive.

[2020-09-02 13:25] arfon commented on #2165
@whedon accept

[2020-09-02 13:25] whedon commented on #2165
[code]

[2020-09-02 13:26] whedon commented on #2165
PDF failed to compile for issue #2165 with the following error:

 Can't find any papers to compile :-(

[2020-09-02 13:26] arfon commented on #2165
@whedon accept from branch joss-paper

[2020-09-02 13:27] whedon commented on #2165
[code]

[2020-09-02 13:27] whedon commented on #2165
[code]

[2020-09-02 13:27] whedon commented on #2165
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1695

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1695, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-02 13:27] jgostick commented on #2601
There seems to be lots of capable MD reviewers on the list of volunteers, so this should be relatively easy to edit...

@whedon assign @jgostick as editor

[2020-09-02 13:28] jgostick commented on #2601
@whedon assign @jgostick as editor

[2020-09-02 13:28] whedon commented on #2601
OK, the editor is @jgostick

[2020-09-02 13:29] kbarnhart commented on #2361
@whedon generate pdf

[2020-09-02 13:29] whedon commented on #2361
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02361/joss.02361/10.21105.joss.02361.pdf)

[2020-09-02 13:32] arfon commented on #2165
@whedon accept deposit=true from branch joss-paper

[2020-09-02 13:32] whedon commented on #2165
[code]

[2020-09-02 13:33] whedon commented on #2165
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1301151214785171458) 👈 🐦🐦🐦

[2020-09-02 13:33] whedon commented on #2165
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1696
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02165](https://doi.org/10.21105/joss.02165)
2. If everything looks g

[2020-09-02 13:33] agahkarakuzu commented on #2343
@whedon generate pdf

[2020-09-02 13:35] whedon commented on #2343
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02343/joss.02343/10.21105.joss.02343.pdf)

[2020-09-02 13:37] arfon commented on #2165
@platipodium, @Shibabrat, @szhorvat - many thanks for your reviews here ✨

@peanutfun - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-09-02 13:37] #2165 closed

[2020-09-02 13:37] whedon commented on #2165
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02165/status.svg)](https://doi.org/10.21105/joss.02165)

**We need your help!**

Journal of Open Source Softwa

[2020-09-02 13:58] tabe commented on #2331
All right, done at https://github.com/flintproject/Flint/commit/74cd69a5b6f5abde578901240ac2cc7519971b89
Thanks @mstimberg

[2020-09-02 14:01] peanutfun commented on #2165
@platipodium, @Shibabrat, @szhorvat, thank you very much for your reviews and for endorsing our publication! @arfon, thank you for your work! 🎊

[2020-09-02 14:08] agahkarakuzu commented on #2343
@Kevin-Mattheus-Moerman

**Zenodo DOI:** 10.5281/zenodo.4012104

[![DOI](https://zenodo.org/badge/41506224.svg)](https://zenodo.org/badge/latestdoi/41506224)

✅ Author list on Zenodo matches that on the PDF.

✅ Tag is now at [`v2.4.1`](https://github.com/qMRLab/qMRLab/releases/tag/v2.4.1).

The [`v2.4.1.` release pipeline](https://dev.azure.com/neuropoly/qMRLab/_releaseProgress?_a=release-pipeline

[2020-09-02 14:09] romainmartinez commented on #2431
Thanks @Kevin-Mattheus-Moerman.

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4012118.svg)](https://doi.org/10.5281/zenodo.4012118)

Yes, the current version is still `2020.0.1`.

I reread the paper, checked the author list, affiliations, and the acknowledgements section for accuracy, and all seems fine.

[2020-09-02 14:12] diehlpk commented on #2352
Release number 1.5.0

https://github.com/STEllAR-GROUP/hpx/tree/1.5.0

[2020-09-02 14:44] diehlpk commented on #2352
@danielskatz Please find above the requested information, since we released the latest HPX version today.

[2020-09-02 14:56] Kevin-Mattheus-Moerman commented on #2343
@whedon set v.2.4.1 as version

[2020-09-02 14:56] whedon commented on #2343
OK. v.2.4.1 is the version.

[2020-09-02 14:56] Kevin-Mattheus-Moerman commented on #2343
@whedon set 10.5281/zenodo.4012104 as archive

[2020-09-02 14:56] whedon commented on #2343
OK. <a href="https://doi.org/10.5281/zenodo.4012104" target="_blank">10.5281/zenodo.4012104</a> is the archive.

[2020-09-02 14:58] Kevin-Mattheus-Moerman commented on #2343
@agahkarakuzu can you amend the title of the ZENODO archived version to match that of the paper? It is currently `qMRLab/qMRLab: Release v2.4.1 Zenodo Archive` but should be `qMRLab: Quantitative MRI analysis, under one umbrella`

[2020-09-02 15:01] agahkarakuzu commented on #2343
@Kevin-Mattheus-Moerman I fixed the title.

[2020-09-02 16:42] samuelduchesne commented on #2361
Sure, I can review that.

[2020-09-02 16:44] adithirgis commented on #2630
@whedon commands

[2020-09-02 16:44] whedon commented on #2630
Here are some things you can ask me to do:

[code]

[2020-09-02 16:55] danielskatz commented on #2352
@whedon set 1.5.0 as version

[2020-09-02 16:55] whedon commented on #2352
OK. 1.5.0 is the version.

[2020-09-02 16:55] danielskatz commented on #2352
@whedon set 10.6084/m9.figshare.12907034 as archive

[2020-09-02 16:55] whedon commented on #2352
OK. <a href="https://doi.org/10.6084/m9.figshare.12907034" target="_blank">10.6084/m9.figshare.12907034</a> is the archive.

[2020-09-02 16:57] whedon commented on #2352
PDF failed to compile for issue #2352 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2352/docs/joss_paper/paper.md): mapping values are not allowed in this context at line 3 column 29 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	fr

[2020-09-02 16:57] danielskatz commented on #2352
@whedon generate pdf from branch JOSS

[2020-09-02 16:57] whedon commented on #2352
[code]

[2020-09-02 16:58] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-09-02 16:59] danielskatz commented on #2352
👋 @diehlpk - which paper is the right one? In the branch or in master?  Note the one in master didn't build...

[2020-09-02 17:04] diehlpk commented on #2352
@danielskatz Both should be the same, since i did a pull request from the branch JOSS to master. I will check soon why the pull request failed.

[2020-09-02 17:33] nhejazi commented on #2526
Thanks for checking in @mikldk. https://github.com/tlverse/hal9001/pull/71 contains all changes related to the issues brought to my attention. The only outstanding issue afaik is https://github.com/tlverse/hal9001/issues/69, which recommends a few real data analysis examples. I don't have any prepared offhand, so I may ask that this be deferred as something we should add in the future rather than

[2020-09-02 17:55] danielskatz commented on #2352
I can use the JOSS branch - comments aren't really support in markdown, which is causing this issue...

[2020-09-02 17:56] danielskatz commented on #2352
@whedon check references from branch JOSS

[2020-09-02 17:56] whedon commented on #2352
[code]

[2020-09-02 17:57] whedon commented on #2352
[code]

[2020-09-02 17:58] hkaiser commented on #2352
@danielskatz the paper on the JOSS branch might not be the latest version, we'll remove the comment on the master branch.

[2020-09-02 18:07] diehlpk commented on #2352
@whedon generate pdf

[2020-09-02 18:09] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-09-02 18:11] diehlpk commented on #2352
@danielskatz We fixed the paper in the master branch. Sorry for the inconvenience.

[2020-09-02 18:34] danielskatz commented on #2352
I'm suggesting a number of small changes in https://github.com/STEllAR-GROUP/hpx/pull/4939 - please either merge this or let me know what you disagree with.

[2020-09-02 18:40] pdebuyl commented on #2307
ping @openjournals/joss-eics

[2020-09-02 18:54] pibion commented on #2617
@whedon add @jspaezp as reviewer

[2020-09-02 18:54] whedon commented on #2617
OK, @jspaezp is now a reviewer

[2020-09-02 18:55] hkaiser commented on #2352
@danielskatz thanks for the changes, I have merged it.

[2020-09-02 18:55] pibion commented on #2617
@jspaezp great, thank you!  Once we have two more reviewers I'll start the review and a new thread with reviewer instructions at the top will get opened up.

[2020-09-02 18:57] kthyng commented on #2307
Hi @pdebuyl I saw this but thought I'd give @MikeHeiber a chance to do the merging before I moved ahead. Should I just go ahead now?

[2020-09-02 19:14] danielskatz commented on #2352
@whedon accept

[2020-09-02 19:14] whedon commented on #2352
[code]

[2020-09-02 19:15] whedon commented on #2352
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1697

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1697, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-02 19:16] danielskatz commented on #2352
@whedon accept deposit=true

[2020-09-02 19:16] whedon commented on #2352
[code]

[2020-09-02 19:18] whedon commented on #2352
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1301238095631855616) 👈 🐦🐦🐦

[2020-09-02 19:18] whedon commented on #2352
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1698
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02352](https://doi.org/10.21105/joss.02352)
2. If everything looks g

[2020-09-02 19:21] danielskatz commented on #2352
Thanks to

[2020-09-02 19:21] kthyng commented on #2602
Hi @pibion that works for me! Thank you!

[2020-09-02 19:21] kthyng commented on #2602
@whedon assign @pibion as editor

[2020-09-02 19:21] whedon commented on #2602
OK, the editor is @pibion

[2020-09-02 19:22] danielskatz commented on #2352
Thanks to @bhatele & @davidbeckingsale for reviewing!

Congratulations to @diehlpk & @hkaiser & co-authors!!

[2020-09-02 19:22] #2352 closed

[2020-09-02 19:22] whedon commented on #2352
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02352/status.svg)](https://doi.org/10.21105/joss.02352)

**We need your help!**

Journal of Open Source Softwa

[2020-09-02 19:25] kthyng commented on #2612
@jni ok got it! I've marked you more appropriately on the AEIC table too to limit the pings you get.

[2020-09-02 19:26] Kevin-Mattheus-Moerman commented on #2343
@whedon accept

[2020-09-02 19:26] whedon commented on #2343
[code]

[2020-09-02 19:27] danielskatz commented on #2615
If you have suggestions from outside the list, including potential users, that would be great too!

[2020-09-02 19:27] kthyng commented on #2612
@cMadan would you be able to edit this submission?

[2020-09-02 19:27] whedon commented on #2343
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1699

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1699, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-02 19:27] kthyng commented on #2612
@whedon invite @cmadan as editor

[2020-09-02 19:28] vrx- commented on #2628
Yes, I will do the review.

[2020-09-02 19:28] danielskatz commented on #2615
👋 @julianstirling, @skadio, @reality - Are one or two of you willing to review this submission for JOSS?

[2020-09-02 19:29] kthyng commented on #2628
Excellent! We can move forward with our two reviewers.

[2020-09-02 19:29] kthyng commented on #2628
@whedon assign @koldunovn as reviewer

[2020-09-02 19:30] kthyng commented on #2628
@whedon add @vrx- as reviewer

[2020-09-02 19:30] whedon commented on #2628
OK, @vrx- is now a reviewer

[2020-09-02 19:30] kthyng commented on #2628
@whedon start review

[2020-09-02 19:30] whedon opened #2631 "[REVIEW]: Xgcm: A Python Package for Analyzing Data from General Circulation Models"
**Submitting author:** @rabernat (<a href="http://orcid.org/0000-0001-5999-4917">Ryan Abernathey</a>)
**Repository:** <a href="https://github.com/xgcm/xgcm" target ="_blank">https://github.com/xgcm/xgcm</a>
**Version:** v.0.3.0
**Editor:** @kthyng
**Reviewer:** @koldunovn, @vrx-
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic,

[2020-09-02 19:30] whedon commented on #2628
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2631.

[2020-09-02 19:30] #2628 closed

[2020-09-02 19:30] whedon commented on #2631
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @koldunovn, @vrx- it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2020-09-02 19:30] whedon commented on #2631
PDF failed to compile for issue #2631 with the following error:

 Error reading bibliography ./paper.bib (line 73, column 1):
unexpected "<"
expecting space, letter, digit, white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-09-02 19:31] Kevin-Mattheus-Moerman commented on #2431
@whedon set 10.5281/zenodo.4012118 as archive

[2020-09-02 19:31] whedon commented on #2431
OK. <a href="https://doi.org/10.5281/zenodo.4012118" target="_blank">10.5281/zenodo.4012118</a> is the archive.

[2020-09-02 19:31] kthyng commented on #2628
@koldunovn and @vrx- the review itself will occur over in #2631.

[2020-09-02 19:33] kthyng commented on #2631
Here we are in the review @koldunovn, @vrx-! You can see your checklists above to drive the review process. As you find issues to raise as part of the review, please share them by starting a github issue in the software repo itself, then link it back to this review issue by including a link to here. This will help keep everything organized. Then you can write a small summary of the issues you've r

[2020-09-02 19:35] whedon opened #2632 "[PRE REVIEW]: rgeoprofile: Geographic Profiling Methods for Serial Crime Analysis"
**Submitting author:** @JSSpaulding (<a href="http://orcid.org/0000-0002-4232-368X">Jamie Spaulding</a>)
**Repository:** <a href="https://github.com/JSSpaulding/rgeoprofile" target ="_blank">https://github.com/JSSpaulding/rgeoprofile</a>
**Version:** v0.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-09-02 19:35] whedon commented on #2632
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-02 19:35] whedon commented on #2632
Failed to discover a `Statement of need` section in paper

[2020-09-02 19:35] whedon commented on #2632
[code]

[2020-09-02 19:35] whedon commented on #2632
Failed to discover a valid open source license.

[2020-09-02 19:35] whedon commented on #2632
PDF failed to compile for issue #2632 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2632/paper/paper.md): found character that cannot start any token while scanning for the next token at line 23 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.

[2020-09-02 19:36] whedon opened #2633 "[PRE REVIEW]: DeepReg: a deep learning toolkit for medical image registration"
**Submitting author:** @mathpluscode (<a href="http://orcid.org/0000-0002-1184-7421">Yunguan Fu</a>)
**Repository:** <a href="https://github.com/DeepRegNet/DeepReg" target ="_blank">https://github.com/DeepRegNet/DeepReg</a>
**Version:** v0.1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @ethanwharris, @lbrea, @zhangfanmark
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mo

[2020-09-02 19:36] whedon commented on #2633
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-02 19:36] whedon opened #2634 "[PRE REVIEW]: Empirical and non-parametric copula models with the `cort` R package"
**Submitting author:** @lrnv (<a href="http://orcid.org/0000-0002-7508-999X">Oskar Laverny</a>)
**Repository:** <a href="https://github.com/lrnv/cort" target ="_blank">https://github.com/lrnv/cort</a>
**Version:** 0.3.1
**Editor:** @pdebuyl
**Reviewers:** @coatless, @agisga
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pan

[2020-09-02 19:36] whedon commented on #2634
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-02 19:36] whedon commented on #2633
Failed to discover a `Statement of need` section in paper

[2020-09-02 19:36] whedon commented on #2633
[code]

[2020-09-02 19:36] whedon opened #2635 "[PRE REVIEW]: UVehavior: An Annotation Desktop-Tool for Behavioral Observation"
**Submitting author:** @Manolomon (<a href="http://orcid.org/0000-0002-3398-2632">J. Manuel Pérez-Verdejo</a>)
**Repository:** <a href="https://github.com/Manolomon/uvehavior-desktop" target ="_blank">https://github.com/Manolomon/uvehavior-desktop</a>
**Version:** v1.0.0
**Editor:** @marcosvital
**Reviewers:** @SteveViss, @62442katieb
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced servi

[2020-09-02 19:36] whedon commented on #2635
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-02 19:37] whedon commented on #2634
[code]

[2020-09-02 19:37] whedon opened #2636 "[PRE REVIEW]: epair: An R package for acquiring EPA data easily"
**Submitting author:** @GLOrozcoM (<a href="http://orcid.org/0000-0002-9011-409X">George Leonard Orozco-Mulfinger</a>)
**Repository:** <a href="https://github.com/GLOrozcoM/epair" target ="_blank">https://github.com/GLOrozcoM/epair</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-09-02 19:37] whedon commented on #2636
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-02 19:37] whedon commented on #2633
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02633/joss.02633/10.21105.joss.02633.pdf)

[2020-09-02 19:37] whedon commented on #2634
[code]

[2020-09-02 19:37] whedon commented on #2634
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02634/joss.02634/10.21105.joss.02634.pdf)

[2020-09-02 19:37] whedon commented on #2635
Failed to discover a `Statement of need` section in paper

[2020-09-02 19:37] whedon commented on #2635
[code]

[2020-09-02 19:37] whedon commented on #2633
[code]

[2020-09-02 19:37] hkaiser commented on #2352
Thanks everybody for making this happen! I very much appreciate your work.

[2020-09-02 19:37] whedon commented on #2636
[code]

[2020-09-02 19:37] whedon commented on #2635
[code]

[2020-09-02 19:38] whedon commented on #2636
[code]

[2020-09-02 19:38] whedon commented on #2635
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02635/joss.02635/10.21105.joss.02635.pdf)

[2020-09-02 19:38] whedon commented on #2636
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02636/joss.02636/10.21105.joss.02636.pdf)

[2020-09-02 19:38] kthyng commented on #2632
@whedon query scope

[2020-09-02 19:38] majensen commented on #2331
Wonderful all, I will do a light proofread of the paper and will get back to you @tabe within a day or two

[2020-09-02 19:38] Kevin-Mattheus-Moerman commented on #2431
@romainmartinez Minor point, the paper title is `pyomeca: An Open-Source Framework for Biomechanical Analysis`, while the archive is: `Pyomeca: a Python toolbox for biomechanics analysis`.

- [ ] Can you update the archive title to match that of the paper (fix use of capital letters)

[2020-09-02 19:38] whedon commented on #2632
Submission flagged for editorial review.

[2020-09-02 19:38] Kevin-Mattheus-Moerman commented on #2431
@whedon accept

[2020-09-02 19:38] whedon commented on #2431
[code]

[2020-09-02 19:39] whedon commented on #2431
[code]

[2020-09-02 19:39] whedon commented on #2431
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1700

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1700, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-02 19:39] rabernat commented on #2631
I introduced a typo into our bib file when addressing https://github.com/openjournals/joss-reviews/issues/2628#issuecomment-685008307. This has been fixed in https://github.com/xgcm/xgcm/commit/5634d71af4f45a86062d6b0bbb2138ea416b112a. I have verified that the preview now builds using  https://whedon.theoj.org/.

[2020-09-02 19:42] kthyng commented on #2633
Hi @mathpluscode! Thanks for your submission. There are a few things to take care of before proceeding with the review:

- Need a statement of need in the paper
- your paper is far too long. As stated in the [docs](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain), it should be 250–1000 words.
- you can see the doi's listed above are missing; please fix this.

[2020-09-02 19:44] kthyng commented on #2633
@arokem Do you have bandwidth for handling a JOSS submission right now? We have you marked as "somewhat able" but I seem to remember maybe that is overstating it.

[2020-09-02 19:44] kthyng commented on #2633
@whedon invite @arokem as editor

[2020-09-02 19:44] whedon commented on #2633
@arokem has been invited to edit this submission.

[2020-09-02 19:47] kthyng commented on #2634
Hi @lrnv, thanks for your submission. Upon looking through your paper, I see that it does not [have](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)

I cannot as a non-expert in your field understand enough to pass this onto a handling editor. Please make this change and ping back here when that is finished. While you are at it, please add the missing doi's list

[2020-09-02 19:49] romainmartinez commented on #2431
@Kevin-Mattheus-Moerman, It is done. Sorry I was not sure if the DOI was attached to the GitHub repo or the paper.

[2020-09-02 19:52] mathpluscode commented on #2633
Hi @kthyng, thanks for the advice! We will fix this now ;)

[2020-09-02 19:52] kthyng commented on #2635
@marcosvital are you interested in reviewing this submission?

[2020-09-02 19:52] kthyng commented on #2635
@whedon invite @marcosvital as editor

[2020-09-02 19:52] whedon commented on #2635
@marcosvital has been invited to edit this submission.

[2020-09-02 19:53] kthyng commented on #2636
@whedon query scope

[2020-09-02 19:53] whedon commented on #2636
Submission flagged for editorial review.

[2020-09-02 19:55] dfm commented on #2610
@kthyng: Sorry - I missed this! I'm happy to edit this submission.

[2020-09-02 19:56] dfm commented on #2610
@whedon assign me as editor

[2020-09-02 19:56] whedon commented on #2610
OK, the editor is @dfm

[2020-09-02 20:19] jedbrown commented on #2123
Reads well to me. In order to proceed with acceptance, could you please:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should matc

[2020-09-02 20:20] jedbrown commented on #2123
And should the version be v1.0.7 or one of the later releases (v1.2.4 looks to be the most recent)?

[2020-09-02 20:45] julianstirling commented on #2615
I am a hardware person, but I have very little FPGA experience which I think this project needs. [Rowan Hoggarth at Imperial](http://www.imperial.ac.uk/a-z-research/quantum-optics-and-laser-science/people/academic-and-research-staff/) would have the correct experience I would think.

[2020-09-02 21:02] pdebuyl commented on #2436
Thank you @jenzopr for your review!

[2020-09-02 21:05] jcolomb commented on #2282
hopefully done with the difficult parts, hope to finish tomorrow.

[2020-09-02 21:08] scwest commented on #2044
Thanks, Mark! I appreciate all the effort and hard work that came from the
reviewers, but especially you!

Sean

On Mon, Aug 31, 2020 at 1:22 AM whedon <notifications@github.com> wrote:

[2020-09-02 21:21] pdebuyl commented on #2436
@blakeaw the reply to your review is at https://github.com/mpievolbio-scicomp/cancer_sim/issues/16

[2020-09-02 21:28] mathpluscode commented on #2633
Hi @kthyng, for the reference, does every reference have to have a DOI? Is it ok if some references do not have DOI? Thx!

[2020-09-02 21:28] pdebuyl commented on #2307
Hi @kthyng thanks for the reply. The merge of the custom branch should be a "fast-forward" merge only and the software release won't change. Please go ahead with the custom branch then, @MikeHeiber is waiting to cite this paper in others, so it is better to proceed.

[2020-09-02 22:10] waxlamp commented on #2410
@lpantano, @joannawolthuis, and @jkanche, thank you all for serving as reviewers and providing valuable feedback to us!

I've been trying to keep up with the various issues and requests, and I *believe* I've at least addressed everything that has been brought up so far. That is, we have fixed some bugs, made documentation updates to explain certain things better, and filed issues for other bugs. M

[2020-09-03 00:42] mathpluscode commented on #2633
@whedon generate pdf

[2020-09-03 00:43] whedon commented on #2633
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02633/joss.02633/10.21105.joss.02633.pdf)

[2020-09-03 02:06] MikeHeiber commented on #2307
@kthyng Please go ahead and publish the paper in it's current form.  I'll merge the joss-proofing branch in afterwards and also update the branch to include the reference information.

[2020-09-03 02:27] jgostick commented on #2625
I just accepted another one this morning, giving me three active submissions at the moment. Can I pass?

[2020-09-03 02:30] jgostick commented on #2624
@whedon add @WardLT

[2020-09-03 02:30] whedon commented on #2624
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-03 02:31] jgostick commented on #2624
@whedon add @WardLT as reviewer

[2020-09-03 02:31] whedon commented on #2624
OK, @WardLT is now a reviewer

[2020-09-03 02:31] whedon commented on #2624
OK, @WardLT is now a reviewer

[2020-09-03 02:32] jgostick commented on #2624
@whedon assign @yangbai90 as reviewer

[2020-09-03 02:32] whedon commented on #2624
OK, @yangbai90 is now a reviewer

[2020-09-03 02:32] jgostick commented on #2624
@whedon add @WardLT as reviewer

[2020-09-03 02:32] whedon commented on #2624
OK, @WardLT is now a reviewer

[2020-09-03 05:01] jdber1 commented on #2604
@whedon generate pdf

[2020-09-03 05:02] whedon commented on #2604
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02604/joss.02604/10.21105.joss.02604.pdf)

[2020-09-03 06:38] robinroche commented on #2361
@kbarnhart Yes, I can also review this submission.

[2020-09-03 06:38] tukiains commented on #2123
Yes, the correct version is the latest (v1.2.4). This tagged release is archived in Zenodo with the correct metadata.

The DOI of the archived version is [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4011843.svg)](https://doi.org/10.5281/zenodo.4011843)

[2020-09-03 07:36] bluescarni commented on #2338
@arfon where should the archive be uploaded?

[2020-09-03 07:40] mikldk commented on #2526
@nhejazi I think it would be a great idea to refer to a few places where HAL is used - both in `paper.md` and in the help pages of the software.

[2020-09-03 07:42] flokno commented on #2601
Hi @jgostick thanks for picking this up, I suggest ajjackson and marshallmcdonnell as potential reviewers.

[2020-09-03 07:52] lrnv commented on #2634
I did correct the DOIs and rework the paper. Tell me if you think it's still not clear -- As the software solves a research-level problem, it's quite hard to describe to non-specialist, but i tried.

@whedon generate pdf

[2020-09-03 07:52] kuangmeng commented on #2493
Dear @will-rowe ,

Thank you for waiting so long. Since the calculation results of each step of my CIMSA are uncertain, I can't add normal unit tests. Therefore, in order to determine the correctness of each step, I add the `assert()` statement and print the intermediate running state. I hope this can help you understand my program better. Thanks.

[2020-09-03 07:53] lrnv commented on #2634
@whedon generate pdf

[2020-09-03 07:53] whedon commented on #2634
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02634/joss.02634/10.21105.joss.02634.pdf)

[2020-09-03 07:55] kuangmeng commented on #2493
@labarba @will-rowe Please let me know what I should provide for further consideration. I really appreciate your comments and suggestions. Thanks.

[2020-09-03 08:03] cMadan commented on #2166
@yarikoptic, thanks for taking another look! Could you please update the checklist in the first issue? Thanks!

[2020-09-03 08:18] lrnv commented on #2634
Forgot to push..

@whedon generate pdf

[2020-09-03 08:21] arfon commented on #2338
We need an archive DOI from e.g. Zenodo or figshare.

[2020-09-03 08:23] htjb commented on #2596
Dear @benjaminpope,

Thank you for the detailed comments and feedback they are very helpful! I am glad you found the software easy to install and use.

Just as an update, I am currently working my way through your comments and making relevant changes to the paper, docs and repo. I am tracking my changes so that I can make you aware of what I have done and I am aiming to get this sorted ASAP. I wil

[2020-09-03 08:33] benjaminpope commented on #2596
I don't think this would be a problem!

On Thu, Sep 3, 2020 at 6:24 PM htjb <notifications@github.com> wrote:

--
Dr Benjamin Pope
NASA Sagan Fellow
Center for Cosmology and Particle Physics // Center for Data Science
New York University
benjaminpope.github.io

[2020-09-03 09:03] bluescarni commented on #2338
@arfon Is this ok?

https://zenodo.org/record/4013250

[2020-09-03 09:21] lukasheinrich commented on #2403
Hi @sritchie

I successfully ran through the examples and went through the checklist and am generally satisfied (all boxes are checked)

Generally I think it would be useful if the demo tutorial was included in the docs (and not link back out to github) and agree with @arokem that it would be useful to cite binder/repo2docker.

Apologies again for the delay. This seems like a very useful piece of

[2020-09-03 09:34] will-rowe commented on #2493
Hi @kuangmeng - thanks for your update. My concern is that this still falls short of our reviewer [criteria](https://joss.readthedocs.io/en/latest/review_criteria.html?highlight=tests#tests):

[code]

This might be my fault for not being specific enough. Could you include some sort of "truth set". For example, a set of sequences and the expected MSA? These expected MSAs could be generated using ot

[2020-09-03 10:03] mzszym commented on #2183
@VivianePons @miketuri I apologize for additional days of delay. I am done with the review, I believe it is a good piece of software. It certainly does what it should, and is of value for people in electronics community.

On side of small comments:
- It would be great to add community guidelines directly to the README; currently I find it in paper.md which I believe is not the place where people w

[2020-09-03 10:35] jboynyc commented on #2594
@whedon generate pdf from branch joss

[2020-09-03 10:35] whedon commented on #2594
[code]

[2020-09-03 10:47] jcolomb commented on #2282
I am basically done, lots of debug and extension for online data in mbr format, documentation in readme and in metadata_information/readme were reworked quite a bit.
Changes are in the https://github.com/jcolomb/HCS_analysis/tree/joss_reviewanswers branch, and comment may be done in the pull request https://github.com/jcolomb/HCS_analysis/pull/27

Thank you a lot for all the feedback.

[2020-09-03 11:01] iaklampanos commented on #2552
Daniel, I apologise for the delay.

After discussing with colleagues we believe It would make better sense for this submission to cover the complete platform.  To this end, I've rewritten parts of the paper to make clear what the software is, and I've added a couple of authors who have also contributed to the core software of the platform.

I am looking forward to receiving your feedback - many th

[2020-09-03 11:35] yarikoptic commented on #2166
Done

[2020-09-03 12:10] kthyng commented on #2343
Hi @agahkarakuzu, I am the rotating EIC and I just read through your paper and I see that the capitalization in your references is incorrect. I made changes to your .bib file in [this PR](https://github.com/qMRLab/qMRLab/pull/407).

[2020-09-03 12:22] marcosvital commented on #2635
Yes, I can review this submission, @kthyng.

[2020-09-03 12:22] marcosvital commented on #2635
@whedon assign @marcosvital as editor

[2020-09-03 12:22] whedon commented on #2635
OK, the editor is @marcosvital

[2020-09-03 12:27] marcosvital commented on #2635
Hi, @Manolomon, I will be the editor of your submission.

Please take a look on your manuscript proof, generated above, and check if everything seems to be ok with it, as it will be the version used to start revision if nothing else changes. If you make any changes, you can use [call whedon to create a new proof ](https://joss.readthedocs.io/en/latest/whedon.html#author-commands)- or just ask me t

[2020-09-03 12:29] marcosvital commented on #2635
@Manolomon, you can also tag any of your co-authors here (and also on the issue that will be created on review starts), so they can follow the process.

[2020-09-03 12:51] kthyng commented on #2431
Hi @romainmartinez, I am the EIC on rotation this week and will help finish publishing your paper. Your references were not capitalized all correctly. Please check the edits I made [here](https://github.com/pyomeca/pyomeca/pull/112) and if you agree, merge them in.

[2020-09-03 12:54] sritchie commented on #2403
Thanks @lukasheinrich! I did mention boot2docker and binder in related work, so thanks for that:

![image](https://user-images.githubusercontent.com/69635/92117245-2e00fe00-edb2-11ea-910b-f184da7353db.png)

Yes, I think you're probably right about mirroring the tutorial. I bet I can do some readthedocs magic and get the docs site to import the README wholesale...

[2020-09-03 12:54] kthyng commented on #2343
@whedon generate pdf

[2020-09-03 12:55] danielskatz commented on #2615
Rowan has agreed to review, so I will add him shortly, and now need to find a second reviewer.

[2020-09-03 12:56] kthyng commented on #2634
@whedon generate pdf

[2020-09-03 12:57] whedon commented on #2634
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02634/joss.02634/10.21105.joss.02634.pdf)

[2020-09-03 12:57] kthyng commented on #2343
Ok it looks good to me!

[2020-09-03 12:57] kthyng commented on #2343
@whedon check references

[2020-09-03 12:58] majensen commented on #2558
@egonw can you comment regarding @arcuri82 's concern?

[2020-09-03 12:58] romainmartinez commented on #2431
Hi @kthyng and thanks for the edits. I just merged them.

[2020-09-03 12:58] whedon commented on #2343
[code]

[2020-09-03 13:01] majensen commented on #1942
@Chilipp @pythonpanda2 @benjaminbolling I would like to take stock of where we are in this review. Could reviewers please make sure that the items they are satisfied with are checked off in their reviewer forms? What are the next steps @benjaminbolling for finishing with reviewer suggestions? Thank you all-

[2020-09-03 13:01] kthyng commented on #2343
@whedon accept

[2020-09-03 13:01] whedon commented on #2343
[code]

[2020-09-03 13:02] majensen commented on #2331
@whedon check references

[2020-09-03 13:02] majensen commented on #2331
@whedon generate pdf

[2020-09-03 13:02] danielskatz commented on #2282
@aj2duncan & @mikerspencer - back over to you

[2020-09-03 13:02] whedon commented on #2331
PDF failed to compile for issue #2331 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2331 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-132474d2711b/lib/whedo

[2020-09-03 13:03] whedon commented on #2343
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1701

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1701, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-03 13:07] kthyng commented on #2343
@whedon accept deposit=true

[2020-09-03 13:07] whedon commented on #2343
[code]

[2020-09-03 13:07] majensen commented on #2331
That's weird (@arfon), didn't compile (in https://github.com/openjournals/joss-reviews/issues/2331#issuecomment-686473971)
Was able to create proof using https://whedon.theoj.org/preview, pdf attached.

[wyc0zmno62jsio38fcxy.pdf](https://github.com/openjournals/joss-reviews/files/5168663/wyc0zmno62jsio38fcxy.pdf)

[2020-09-03 13:08] whedon commented on #2343
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1301507377955561475) 👈 🐦🐦🐦

[2020-09-03 13:08] whedon commented on #2343
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1702
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02343](https://doi.org/10.21105/joss.02343)
2. If everything looks g

[2020-09-03 13:09] kthyng commented on #2633
@whedon check references

[2020-09-03 13:10] whedon commented on #2633
[code]

[2020-09-03 13:10] kthyng commented on #2343
Congrats to @agahkarakuzu and @mathieuboudreau on your new publication!! Thanks to editor @Kevin-Mattheus-Moerman
 and reviewers @grlee77, @mfroeling, and @62442katieb. We wouldn't be able to do this without your time and expertise.

[2020-09-03 13:10] #2343 closed

[2020-09-03 13:10] whedon commented on #2343
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02343/status.svg)](https://doi.org/10.21105/joss.02343)

**We need your help!**

Journal of Open Source Softwa

[2020-09-03 13:13] mathpluscode commented on #2633
@kthyng We are fixing these two DOI now.

[2020-09-03 13:13] kthyng commented on #2633
Any reference that has a doi needs to include it in your references. It looks like there are two more missing to consider above. If they are correct, they need to be included.

I have updated this.

[2020-09-03 13:19] kthyng commented on #2307
Hi @MikeHeiber! I'll help finish up the details for your publication. Please change the metadata for your zenodo archive to exactly match your JOSS paper (title and authors).

[2020-09-03 13:20] aj2duncan commented on #2282
Thanks @jcolomb and @danielskatz, will look at this again as soon as I can.

[2020-09-03 13:26] kthyng commented on #2307
I just read through your paper @MikeHeiber. It looks fine, except for some reason all the references were listed after the period of the sentence they were used in. I changed this in [this PR](https://github.com/MikeHeiber/Excimontec/pull/117). Please look through and see if you want to merge.

[2020-09-03 13:30] kthyng commented on #2625
@jgostick of course.

@usethedata Are you able to edit this submission?

[2020-09-03 13:30] kthyng commented on #2625
@whedon invite @usethedata as editor

[2020-09-03 13:30] whedon commented on #2625
@usethedata has been invited to edit this submission.

[2020-09-03 13:32] whedon commented on #2431
[code]

[2020-09-03 13:33] whedon commented on #2431
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1703

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1703, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-03 13:40] kthyng commented on #2431
@whedon accept deposit=true

[2020-09-03 13:40] whedon commented on #2431
[code]

[2020-09-03 13:42] whedon commented on #2431
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1301515840567881730) 👈 🐦🐦🐦

[2020-09-03 13:42] whedon commented on #2431
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1704
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02431](https://doi.org/10.21105/joss.02431)
2. If everything looks g

[2020-09-03 13:44] kthyng commented on #2431
Congratulations to @romainmartinez on your new publication! Thanks to @Kevin-Mattheus-Moerman and reviewers @BKillen05 and @mitkof6. This process couldn't happen without your time and expertise!

[2020-09-03 13:44] #2431 closed

[2020-09-03 13:44] whedon commented on #2431
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02431/status.svg)](https://doi.org/10.21105/joss.02431)

**We need your help!**

Journal of Open Source Softwa

[2020-09-03 13:49] mathpluscode commented on #2633
@whedon check references

[2020-09-03 13:49] whedon commented on #2633
[code]

[2020-09-03 13:50] mathpluscode commented on #2633
@whedon generate pdf

[2020-09-03 13:51] whedon commented on #2633
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02633/joss.02633/10.21105.joss.02633.pdf)

[2020-09-03 13:51] mathpluscode commented on #2633
Hi, @kthyng, we've fixed the DOIs.

[2020-09-03 13:53] romainmartinez commented on #2431
Thanks @BKillen05, @mitkof6 and @Kevin-Mattheus-Moerman for your time and your valuable comments.
I would also like to thank the JOSS journal and @kthyng for the smooth and fresh workflow for paper publication.

[2020-09-03 13:54] andyphilips commented on #2528
Hi @sbenthall,
Just checking...we're still waiting on one more review right? No rush....

[2020-09-03 13:55] egonw commented on #2558
Yes, I can and will. Right now, I'm swamped in university year start and project mid terms reviews. I have some ideas, some take a bit more time to work out. Other things I have to try and see how they work out. I have created a project on GitHub to work out ideas the reviewers gave, towards the rebuttal/revision: https://github.com/egonw/bacting/projects/1?add_cards_query=is%3Aopen

I will report

[2020-09-03 13:58] whedon commented on #2331
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02331/joss.02331/10.21105.joss.02331.pdf)

[2020-09-03 14:00] arfon commented on #2331
Sometimes Whedon is a little flaky...

[2020-09-03 14:07] kbarnhart commented on #2361
@whedon add @samuelduchesne as reviewer

[2020-09-03 14:07] whedon commented on #2361
OK, @samuelduchesne is now a reviewer

[2020-09-03 14:07] kbarnhart commented on #2361
@whedon add @robinroche as reviewer

[2020-09-03 14:07] whedon commented on #2361
OK, @robinroche is now a reviewer

[2020-09-03 14:08] liberostelios commented on #2537
I've installed and used the software. It works fine on my laptop and I was able to play with some of the original data.

The software seems to work as intended. But, same as mentioned by @hugoledoux and @jvdkwast before, I am a bit confused about the motivation. I can see @geekysquirrel arguments about how it compares to QGIS online, but I think there is some relevant software with similar functio

[2020-09-03 14:10] kbarnhart commented on #2361
@samuelduchesne and @robinroche thank you for your willingness to review. I will now start the main issue thread.

If one of the other invited reviewers would like to provide a review as well, let me know here and I can add you as a reviewer too.

[2020-09-03 14:10] kbarnhart commented on #2361
@whedon start review

[2020-09-03 14:10] whedon opened #2637 "[REVIEW]: pvpumpingsystem: a python package for modeling and sizing photovoltaic water pumping systems"
**Submitting author:** @tylunel (<a href="http://orcid.org/0000-0003-3008-1422">Tanguy Lunel</a>)
**Repository:** <a href="https://github.com/tylunel/pvpumpingsystem" target ="_blank">https://github.com/tylunel/pvpumpingsystem</a>
**Version:** v1.0.0
**Editor:** @kbarnhart
**Reviewer:** @samuelduchesne, @robinroche
**Archive:** <a href="https://doi.org/10.5281/zenodo.4134280" target="_blank">10.52

[2020-09-03 14:10] whedon commented on #2361
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2637.

[2020-09-03 14:10] #2361 closed

[2020-09-03 14:11] whedon commented on #2637
[code]

[2020-09-03 14:11] whedon commented on #2637
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02637/joss.02637/10.21105.joss.02637.pdf)

[2020-09-03 14:11] kbarnhart commented on #2637
@samuelduchesne and @robinroche thanks for agreeing to review this submission to JOSS. As noted above, we are trying to adjust to authors, reviewers, and editors needs under COVID. Thus we are asking reviewers try and complete reviews in 6 weeks. I am going to use whedon the editorial bot to remind you about your review in three weeks, half way through the requested timeline.

If there are any que

[2020-09-03 14:12] kbarnhart commented on #2637
@whedon remind @samuelduchesne in three weeks

[2020-09-03 14:12] whedon commented on #2637
Reminder set for @samuelduchesne in three weeks

[2020-09-03 14:12] kbarnhart commented on #2637
@whedon remind @robinroche in three weeks

[2020-09-03 14:12] whedon commented on #2637
Reminder set for @robinroche in three weeks

[2020-09-03 14:57] danielskatz commented on #2552
@whedon generate pdf

[2020-09-03 14:57] whedon commented on #2552
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02552/joss.02552/10.21105.joss.02552.pdf)

[2020-09-03 15:06] lincoln-harris commented on #2432
@lpantano any updates?

[2020-09-03 15:08] lpantano commented on #2432
@betteridiot, @afrubin, do you think you can update on the final version? thanks

[2020-09-03 15:09] lpantano commented on #2432
@lincoln-harris, can you comment on the open issues opened by @betteridiot? if they are addressed or not?

[2020-09-03 15:15] jdbaugher commented on #2556
@majensen I have updated the bibliography to correct (hopefully) all of the issues mentioned (and caught some other conversion issues) and modified the first paragraph as suggested. Definitely looking better! Thanks!

[2020-09-03 15:16] majensen commented on #2556
@whedon generate pdf

[2020-09-03 15:17] whedon commented on #2556
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02556/joss.02556/10.21105.joss.02556.pdf)

[2020-09-03 15:19] majensen commented on #2044
@scwest by all means! It a nice idea made very functional, and I'm glad we could bring it in for a landing.

[2020-09-03 15:23] whedon commented on #2634
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02634/joss.02634/10.21105.joss.02634.pdf)

[2020-09-03 15:25] lrnv commented on #2634
@whedon generate pdf

[2020-09-03 15:26] whedon commented on #2634
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02634/joss.02634/10.21105.joss.02634.pdf)

[2020-09-03 15:30] majensen commented on #2556
@whedon recommend accept

[2020-09-03 15:30] whedon commented on #2556
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-03 15:39] majensen commented on #2556
@whedon recommend acceptance

[2020-09-03 15:39] whedon commented on #2556
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-03 15:42] majensen commented on #2556
@jdbaugher oops, I'm jumping the gun here. Can I first ask you to create an archive of your repo using Zenodo, FigShare or similar? Then please report the DOI of the archive back here. Let me know if you need any help with this.

[2020-09-03 15:53] lrnv commented on #2634
@kthyng What do you think about this last version ? If this is still not enough, i'll rethink it dont hesitate to tell me.

Thanks for taking care of that :)

[2020-09-03 16:25] Manolomon commented on #2635
Hi @marcosvital, thanks for the advice!

I took a look at the list and found that the following accounts could help as reviewers, according to their area of expertise and coding experience:

- felixhenninger
- SteveViss
- arose

Unfortunately, my coauthors don't have a github account, but they are following the process through this site.

Thank you

[2020-09-03 18:01] bhatele commented on #2352
Congrats to the authors!

[2020-09-03 18:16] jedbrown commented on #2123
@whedon set v1.2.4 as version

[2020-09-03 18:16] whedon commented on #2123
OK. v1.2.4 is the version.

[2020-09-03 18:17] jedbrown commented on #2123
@whedon set 10.5281/zenodo.4011843 as DOI

[2020-09-03 18:17] whedon commented on #2123
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-03 18:17] jedbrown commented on #2123
@whedon set 10.5281/zenodo.4011843 as archive

[2020-09-03 18:17] whedon commented on #2123
OK. <a href="https://doi.org/10.5281/zenodo.4011843" target="_blank">10.5281/zenodo.4011843</a> is the archive.

[2020-09-03 18:17] jedbrown commented on #2123
@whedon accept

[2020-09-03 18:17] whedon commented on #2123
[code]

[2020-09-03 18:18] whedon commented on #2123
[code]

[2020-09-03 18:18] whedon commented on #2123
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1705

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1705, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-03 18:39] ali-ramadhan commented on #2018
@whedon generate pdf from branch joss-paper

[2020-09-03 18:39] whedon commented on #2018
[code]

[2020-09-03 18:39] whedon commented on #2018
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02018/joss.02018/10.21105.joss.02018.pdf)

[2020-09-03 18:41] ali-ramadhan commented on #2018
We released Oceananigans v0.35.0 yesterday which should contain all the changes suggested by @funsim and @mancellin.

[2020-09-03 20:01] jpsety commented on #2615
Zeye Liu at Intel might be a good fit. DexterDinny is his username

[2020-09-03 20:08] oliviaguest commented on #2377
@whedon set 10.5281/zenodo.4009178 as archive

[2020-09-03 20:08] whedon commented on #2377
OK. <a href="https://doi.org/10.5281/zenodo.4009178" target="_blank">10.5281/zenodo.4009178</a> is the archive.

[2020-09-03 20:09] #2527 closed

[2020-09-03 20:09] whedon commented on #2527
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02527/status.svg)](https://doi.org/10.21105/joss.02527)

**We need your help!**

Journal of Open Source Softwa

[2020-09-03 20:41] miketuri commented on #2183
@mzszym Thank you for your review.  @victorvalgenti also indicated that it should be easier to find the community guidelines.  To address this I have added a new version to the repository (version 1.1.4) to add support/contribution info, author contact info, and copyright/warranty info to the main README, as well as the README in the examples/ directory.  I also made some minor changes to batchexe

[2020-09-03 21:36] TheoChristiaanse commented on #2620
@whedon generate pdf

[2020-09-03 21:36] whedon commented on #2620
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02620/joss.02620/10.21105.joss.02620.pdf)

[2020-09-03 21:55] skadio commented on #2615
Not a hardware person here, from Boolean circuits/SAT perspective I can provide a review for this with the exception that the next few weeks is tricky for me.

[2020-09-03 22:00] jpsety commented on #2615
I might have misspoke, a hardware background isn't necessary. Really a Boolean circuits/SAT perspective is what is best.

[2020-09-03 22:01] ramadatta commented on #2473
Hi @will-rowe - just an update on manuscript. I am almost done with manuscript and awaiting my collaborator's go-ahead to submit. Thank you.

[2020-09-03 22:11] whedon commented on #2435
:wave: @gonsie, please update us on how your review is going.

[2020-09-03 22:56] skadio commented on #2615
Hardware/fpga background would be good to create "interesting" circuits I guess, but, at a second look, this would be a good fit for me. I vaguely remember my Karnaugh maps and logical circuit design.

Quick question:

I am about to submit a paper to JOSS from our research group. Any conflict of interest I should be declaring? I checked the Ethics Guideline with no immediate concern but worth doub

[2020-09-03 23:16] julianstirling commented on #2615
Could also try [Frank Seifert](https://www.nist.gov/people/frank-seifert) very experience electrical engineer with FPGA python experience.

[2020-09-03 23:27] ashleefv commented on #1643
I recently got the feedback that our acronym in the first word of the title reversed the B & M. It should be SBMLtoODEpy. Additionally this accidental reversal of the letters appeared one other time int he document. Can this be corrected?

[2020-09-03 23:39] ashleefv commented on #1643
@mgymrek We aren't sure if our title issue and internal typo can be updated. We accidentally switched the letters B&M in the title of our paper and in one other place (I'm fine if that internal typo is not corrected, but the title would be best to fix.). I never caught the error because it blended together for me visually. Someone just commented on our github repository pointing out the issue.

[2020-09-04 00:23] danielskatz commented on #2615
@skadio - thanks. There is no conflict between submitting and reviewing. I'll add you as a reviewer, and once I get some info from Rowan, I'll also add him and we can start the review.  Don't worry about the time, if it takes a few weeks, that's ok.  We normally try to get reviews done in 3 weeks, but with Covid, some are taking longer...

[2020-09-04 00:23] danielskatz commented on #2615
@whedon assign @skadio as reviewer

[2020-09-04 00:23] whedon commented on #2615
OK, @skadio is now a reviewer

[2020-09-04 01:08] AnaWaldila commented on #2548
Hi Kevin,
I finished the revision. Thank you soo much for the compreension and thank you for the condolences. The last days was hard for me.
How can I send to you my considerations about the paper?
One more time, thank you for compreension and I are allways avaiable for a new revision to you.
Kind Regards,
Ana Reis

----------------------------------------------------------------------------------

[2020-09-04 02:25] majensen commented on #2613
@AngryMaciek - thanks for this interesting submission. Do you happen to have any suggestions for reviewers?
There is a [long list](https://bit.ly/joss-reviewers) of people who have agreed to review that you can consider. Much appreciated.

[2020-09-04 02:30] majensen commented on #2613
@spond - it has been a long time! Would you be willing to perform a software review of [this work](#2613) for the [Journal of Open Source Software](https://joss.theoj.org)? All reviews are performed openly and online in GitHub; an overview of the expectations are [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

It would be great to have your popgen expertise on this work. I

[2020-09-04 02:32] majensen commented on #2613
@RHagenson - reaching out to see if you would have time and interest in reviewing [this work](#2613) for [JOSS](https://joss.theoj.org). Thanks for your consideration!

[2020-09-04 03:27] MikeHeiber commented on #2307
@kthyng The Zenodo archive is now updated as requested, and your PR is merged into the joss-proofing branch.

[2020-09-04 07:35] sjpfenninger commented on #2620
@whedon assign @sjpfenninger as editor

[2020-09-04 07:35] whedon commented on #2620
OK, the editor is @sjpfenninger

[2020-09-04 07:35] sjpfenninger commented on #2620
@kthyng  Yes, happy to edit this (apologies for the delayed response)

[2020-09-04 07:36] VivianePons commented on #2183
@whedon check references

[2020-09-04 07:36] whedon commented on #2183
[code]

[2020-09-04 07:36] VivianePons commented on #2183
@whedon generate pdf

[2020-09-04 07:37] whedon commented on #2183
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02183/joss.02183/10.21105.joss.02183.pdf)

[2020-09-04 07:41] sjpfenninger commented on #2620
@TheoChristiaanse Thanks for your submission! A very quick initial comment is that was not straightforward for me to:

1. find the documentation (the links to the notebooks and tutorials at https://besos.uvic.ca/#documentation don't work )
2. understand which parts of this can be run offline and how that relates to what you describe as the "cloud-based portal" -- is what you offer online simply a

[2020-09-04 07:46] VivianePons commented on #2183
Thank you very much @miketuri for the work and @mzszym and @victorvalgenti for the helpful reviews! I am very happy about the course this submission took, the review process has clearly improved the quality of the paper and we are now heading towards acceptance!

I am only missing one checkbox from @victorvalgenti : can you look at the latest changes made by @miketuri regarding community guideline

[2020-09-04 07:50] sjpfenninger commented on #2620
@fneum would you be willing to review this submission for JOSS?

[2020-09-04 07:54] sjpfenninger commented on #2480
@whedon generate pdf

[2020-09-04 07:55] whedon commented on #2480
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02480/joss.02480/10.21105.joss.02480.pdf)

[2020-09-04 08:02] oliviaguest commented on #2377
@whedon check references

[2020-09-04 08:04] whedon commented on #2377
[code]

[2020-09-04 08:04] oliviaguest commented on #2377
@teamPSG can you fix these DOIs above, please?

[2020-09-04 08:05] fneum commented on #2620
@sjpfenninger yes, happy to review this submission.

[2020-09-04 08:13] sjpfenninger commented on #2480
@whedon check references

[2020-09-04 08:14] whedon commented on #2480
[code]

[2020-09-04 08:21] sjpfenninger commented on #2480
@kegiljarhus Almost ready for acceptance! Can you check [my PR](https://github.com/kegiljarhus/pyBEMT/pull/2) for some minor fixing up of the paper. I notice that you do not provide a PyPI package. It might make sense to do so to make installation easier, but that's not mandatory.

After addressing the above, to proceed to acceptance, can you make a tagged release on GitHub and archive that on a r

[2020-09-04 08:28] mikldk commented on #2600
I am rather busy at the moment, so I prefer if @kakearney could handle this interesting submission. But if they cannot, I will be happy to.

[2020-09-04 08:32] mikldk commented on #2583
Thanks, @edifice1989. No, that's good for now. I just need to hear from @sahilseth.

[2020-09-04 08:49] teamPSG commented on #2377
@whedon check references

[2020-09-04 08:50] whedon commented on #2377
[code]

[2020-09-04 08:50] teamPSG commented on #2377
@whedon generate pdf

[2020-09-04 08:52] whedon commented on #2377
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02377/joss.02377/10.21105.joss.02377.pdf)

[2020-09-04 08:55] teamPSG commented on #2377
@oliviaguest: DOIs fixed, proof looks good to me. Thanks.

[2020-09-04 09:29] arfon commented on #1643
@ashleefv - please make the necessary changes to your `paper.md` file and let me know when you've done this. I can then update the paper.

[2020-09-04 10:34] cMadan commented on #2166
@yarikoptic, thank you again for reviewing this submission!

@hvgazula, I have to do some final checks now, but we're almost done!

[2020-09-04 10:34] cMadan commented on #2166
@whedon generate pdf

[2020-09-04 10:34] whedon commented on #2166
PDF failed to compile for issue #2166 with the following error:

 Can't find any papers to compile :-(

[2020-09-04 10:36] cMadan commented on #2166
@whedon generate pdf from branch paper-branch

[2020-09-04 10:36] whedon commented on #2166
[code]

[2020-09-04 10:37] whedon commented on #2166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02166/joss.02166/10.21105.joss.02166.pdf)

[2020-09-04 10:40] cMadan commented on #2166
@hvgazula, can you fix the bib so that the capitalisation of named programs is correct in the reference list? (E.g., ENIGMA, MCIC, VBM, etc.)

[2020-09-04 10:42] cMadan commented on #2166
@whedon check references

[2020-09-04 10:54] oliviaguest commented on #2377
@whedon accept

[2020-09-04 10:54] whedon commented on #2377
[code]

[2020-09-04 10:56] whedon commented on #2377
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1706

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1706, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-04 10:57] cMadan commented on #2166
@whedon check references from branch paper-branch

[2020-09-04 10:58] whedon commented on #2166
[code]

[2020-09-04 10:58] whedon commented on #2166
[code]

[2020-09-04 11:37] lpantano commented on #2334
Hey @lskatz, are you still addressing the reviewer's comments? Thanks

[2020-09-04 11:38] lpantano commented on #2410
Hi @joannawolthuis , @jkanche, let me know if the last version addresses all your comments. Thanks!

[2020-09-04 11:39] lpantano commented on #2560
I will start this review, and continue to look for the second reviewer. This way @juanvillada can start working on this :)

[2020-09-04 11:39] lpantano commented on #2560
@whedon start review

[2020-09-04 11:39] whedon opened #2638 "[REVIEW]: zalpha: an R package for the identification of regions of the genome under selection"
**Submitting author:** @chorscroft (<a href="http://orcid.org/0000-0001-5679-5912">Clare Horscroft</a>)
**Repository:** <a href="https://github.com/chorscroft/zalpha" target ="_blank">https://github.com/chorscroft/zalpha</a>
**Version:** v0.2.0
**Editor:** @lpantano
**Reviewers:** @juanvillada , @marcrr
**Archive:** <a href="https://doi.org/10.5281/zenodo.4301636" target="_blank">10.5281/zenodo.43

[2020-09-04 11:39] whedon commented on #2560
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2638.

[2020-09-04 11:39] #2560 closed

[2020-09-04 11:39] whedon commented on #2638
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @juanvillada  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jo

[2020-09-04 11:40] whedon commented on #2638
PDF failed to compile for issue #2638 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2638 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-132474d2711b/lib/whedo

[2020-09-04 11:47] lpantano commented on #2560
Hey @alachins, @FerRacimo would you like to review this tool? link to the guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-09-04 12:21] hvgazula commented on #2166
Thank you @cMadan. You are right. Indeed, the capitalizations are missing ENIGMA, MCIC and VBM in the reference list. It seems that if a title starts with all upper case it works fine. However, an all uppercase in the middle of the title is not retained in the final output. Please advise how I can address this.

[2020-09-04 12:28] yarikoptic commented on #2166
Enclose within `{}`, so `{ENIGMA}` which will retain capitalization

[2020-09-04 12:32] meg-simula commented on #2592
@jorgensd would you be available to review this submission for JOSS? Please take a look at our reviewer guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html, and let us know. Your help would be much appreciated.

[2020-09-04 12:36] hvgazula commented on #2166
Worked like a charm. Thank you very much for the suggestion, @yarikoptic.

[2020-09-04 12:37] hvgazula commented on #2166
@cMadan The capitalization has been taken care of.

[2020-09-04 12:37] meg-simula commented on #2626
@flofaucher Thanks for your submission to JOSS. This looks exciting, but before I reach out to reviewers, would you take another look at the JOSS stipulations regarding paper scope (in particular length):

https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

This paper looks substantially longer than 250-1000 words.

[2020-09-04 12:43] meg-simula commented on #2611
@ajbaird Thanks for submitting BioGears to JOSS. Do you have any suggestions for reviewers?

[2020-09-04 12:44] meg-simula commented on #2611
@whedon generate pdf from branch f/abard-JOSSPaper

[2020-09-04 12:44] whedon commented on #2611
[code]

[2020-09-04 12:45] whedon commented on #2611
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02611/joss.02611/10.21105.joss.02611.pdf)

[2020-09-04 12:47] meg-simula commented on #2611
Also, @ajbaird, could you please take a look at (and fix) the code formatting?

[2020-09-04 13:45] victorvalgenti commented on #2183
@VivianePons I have checked the final checkbox.

[2020-09-04 13:57] diehlpk commented on #2403
@lukasheinrich It seems that

`Functionality: Have the functional claims of the software been confirmed?`

is not checked. Could you please verify?

[2020-09-04 13:57] diehlpk commented on #2403
@lukasheinrich @arokem Thanks for finishing the review.

[2020-09-04 13:59] diehlpk commented on #2403
@sritchie Let me know once you accomplished that.

[2020-09-04 14:02] flofaucher commented on #2626
@meg-simula
Thank you, I must apologize it is indeed much more...
Regarding the modifications, should I simply update a new (shorter) version of the paper directly,
or should I submit as a new paper in JOSS?
I thank you for your time.

[2020-09-04 14:07] diehlpk commented on #2577
@chennachaos and @ilyasst Would you mind to have a look into the response of the authors?

[2020-09-04 14:58] lnferris commented on #2497
@castelao and @kakearney thank you both for your comments! @kthyng I can start working on these issues now.

[2020-09-04 15:10] terrytangyuan commented on #2512
@sylvaticus You will be able to update both the version of the software and the paper.

[2020-09-04 15:10] terrytangyuan commented on #2512
Ping @denizyuret @tpapp @dpsanders @h-Klok again in case this is losing track.

[2020-09-04 15:40] teamPSG commented on #2377
Thanks @oliviaguest, both files look good to me.

[2020-09-04 15:52] oliviaguest commented on #2377
Cool! Somebody from @openjournals/joss-eics will take over this final step — so just sit tight. 😊

[2020-09-04 15:56] teamPSG commented on #2377
Great! Thanks for the adventure :volcano:

[2020-09-04 16:23] kthyng commented on #2018
Sorry I missed this. Yes we will update your version at the end of this process, and have you tag a release at that point too if you haven't already.

[2020-09-04 16:25] kthyng commented on #2018
Ok @ali-ramadhan I think you have satisfied the requests and comments from your reviewers. We can now move forward with final publication.

[2020-09-04 16:25] kthyng commented on #2018
@whedon set v0.35.0 as version

[2020-09-04 16:26] whedon commented on #2018
OK. v0.35.0 is the version.

[2020-09-04 16:27] kthyng commented on #2018
@ali-ramadhan Please upload an archive of your code to Zenodo or something similar, and report back here with the doi. Please note that you will want to edit the metadata of your Zenodo archive so that the title and author list exactly matches your JOSS paper.

[2020-09-04 16:27] kthyng commented on #2018
@whedon check references from branch joss-paper

[2020-09-04 16:27] whedon commented on #2018
[code]

[2020-09-04 16:27] whedon commented on #2018
[code]

[2020-09-04 16:34] kthyng commented on #2018
@whedon accept from branch joss-paper

[2020-09-04 16:34] whedon commented on #2018
No archive DOI set. Exiting...

[2020-09-04 16:35] kthyng commented on #2018
Oops, too soon. Anyway, I read through your paper and it looks great. After you report back here with the Zenodo archive, we'll be good to finish up!

[2020-09-04 16:37] kthyng commented on #2377
@teamPSG Hi! I will take over from here. Can you verify the version number for your software? I also encourage you to tag a release to mark this occasion if you want.

[2020-09-04 16:42] kthyng commented on #2377
@teamPSG Your paper looks great!

[2020-09-04 17:27] ashleefv commented on #1643
@arfon I have updated paper.md in the repository: https://github.com/SMRuggiero/sbmltoodepy

[2020-09-04 17:37] kthyng commented on #2307
@whedon generate pdf from branch joss-proofing

[2020-09-04 17:37] whedon commented on #2307
[code]

[2020-09-04 17:38] whedon commented on #2307
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02307/joss.02307/10.21105.joss.02307.pdf)

[2020-09-04 17:41] kthyng commented on #2307
@whedon accept from branch joss-proofing

[2020-09-04 17:41] whedon commented on #2307
[code]

[2020-09-04 17:42] whedon commented on #2307
[code]

[2020-09-04 17:42] whedon commented on #2307
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1707

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1707, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-04 17:45] kthyng commented on #2307
@whedon accept deposit=true from branch joss-proofing

[2020-09-04 17:45] whedon commented on #2307
[code]

[2020-09-04 17:46] whedon opened #2639 "[PRE REVIEW]: Seq2Pat: Sequence-to-Pattern Generation Library"
**Submitting author:** @skadio (<a href="http://orcid.org/0000-0002-4672-6830">Serdar Kadioglu</a>)
**Repository:** <a href="https://github.com/fidelity/seq2pat" target ="_blank">https://github.com/fidelity/seq2pat</a>
**Version:** v1.1.1
**Editor:** @galessiorob
**Reviewers:** @HaoZeke, @shreyasbapat
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-09-04 17:46] whedon commented on #2639
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-04 17:46] whedon opened #2640 "[PRE REVIEW]: BrainGlobe Atlas API: a common interface for neuroanatomical atlases"
**Submitting author:** @adamltyson (<a href="http://orcid.org/0000-0003-3225-1130">Adam Luke Tyson</a>)
**Repository:** <a href="https://github.com/brainglobe/bg-atlasapi" target ="_blank">https://github.com/brainglobe/bg-atlasapi</a>
**Version:** 0.2.0
**Editor:** @oliviaguest
**Reviewers:** @typically, @vitay
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due

[2020-09-04 17:46] whedon commented on #2640
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-04 17:46] whedon commented on #2307
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1301939718175764487) 👈 🐦🐦🐦

[2020-09-04 17:46] whedon commented on #2307
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1708
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02307](https://doi.org/10.21105/joss.02307)
2. If everything looks g

[2020-09-04 17:46] whedon commented on #2639
[code]

[2020-09-04 17:46] whedon commented on #2639
[code]

[2020-09-04 17:47] whedon commented on #2640
PDF failed to compile for issue #2640 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2640 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-132474d2711b/lib/whedo

[2020-09-04 17:47] whedon commented on #2639
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02639/joss.02639/10.21105.joss.02639.pdf)

[2020-09-04 17:47] terrytangyuan commented on #2639
Thanks for suggesting me as the editor. Unfortunately I am not available to edit this at the moment.

[2020-09-04 17:48] adamltyson commented on #2640
cc @FedeClaudi @vigji

[2020-09-04 17:50] kthyng commented on #2639
Hi @skadio, thank you for your submission. Please update your paper to meet the JOSS [submission](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) requirement of:

[2020-09-04 17:51] adamltyson commented on #2640
Is the PDF failing to compile because I gave a link to the repository branch? I couldn't work out how to specify the branch (with the paper on) when submitting.

[2020-09-04 17:54] teamPSG commented on #2377
Hello @kthyng! Thanks for guiding us through the last steps :world_map:

Version number is v1.0 and I created a release with this tag here: https://github.com/teamPSG/kNN_Sleep_Scorer_kNNSS/releases/tag/v1.0

[2020-09-04 17:56] sbenthall commented on #2445
@whedon generate pdf

[2020-09-04 17:56] kthyng commented on #2639
Hi @galessiorob! I can't tell if your expertise in data science overlaps with this submission. Are you interested in editing?

[2020-09-04 17:56] lskatz commented on #2334
Hi @lpantano I believe we have addressed all comments up to this point.  Please let me know if anything else is outstanding though @erinyoung and @lfaller !

[2020-09-04 17:56] kthyng commented on #2639
@whedon invite @galessiorob as editor

[2020-09-04 17:56] whedon commented on #2639
@galessiorob has been invited to edit this submission.

[2020-09-04 17:56] whedon commented on #2445
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02445/joss.02445/10.21105.joss.02445.pdf)

[2020-09-04 17:57] ali-ramadhan commented on #2018
Ah thanks for the reminder! We'll merge the `joss-paper` branch into the `master` branch (forgot to do this) and tag v0.36.0 which includes some new bug fixes and should show up on Zenodo.

[2020-09-04 17:58] kthyng commented on #2307
Congrats to @MikeHeiber on your new publication! Thanks to editor @pdebuyl and reviewers @mdavezac and @Luthaf. This wouldn't be possible without your time and expertise.

[2020-09-04 17:58] #2307 closed

[2020-09-04 17:58] whedon commented on #2307
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02307/status.svg)](https://doi.org/10.21105/joss.02307)

**We need your help!**

Journal of Open Source Softwa

[2020-09-04 17:58] sbenthall commented on #2528
@andyphilips Yes, this is still waiting on a review from @dormezil.

@dormezil , I wonder if you could give an update on when you think you will be able to get to this?

@andyphilips It looks as thought there were some issues raised by @stulacy 's review. I wonder if you could address them.

[2020-09-04 17:59] sbenthall commented on #2445
@whedon check references

[2020-09-04 17:59] whedon commented on #2445
[code]

[2020-09-04 18:02] sbenthall commented on #2605
Thank you @alexssandrofc

Are you able to make progress with those instructions, @gdede-hua ?

[2020-09-04 18:21] vigji commented on #2640
I guess so, but I have no solutions to offer there..

[2020-09-04 18:32] kthyng commented on #2377
Ok, looks good.

[2020-09-04 18:32] kthyng commented on #2377
@whedon accept deposit=true

[2020-09-04 18:32] whedon commented on #2377
[code]

[2020-09-04 18:34] whedon commented on #2377
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1301951828305866755) 👈 🐦🐦🐦

[2020-09-04 18:34] whedon commented on #2377
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1709
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02377](https://doi.org/10.21105/joss.02377)
2. If everything looks g

[2020-09-04 18:36] kthyng commented on #2377
Congrats on your new publication @teamPSG! Thanks to editor @oliviaguest and reviewers @Emma-k-ward, @sbuergers, @trisbek, and @samikakumar. This process couldn't happen without your time and hard work.

(will leave issue open until the doi resolves)

[2020-09-04 18:38] kthyng commented on #2634
@lrnv I think that works, thanks.

[2020-09-04 18:41] sbenthall commented on #2445
@whedon set 10.5281/zenodo.4004846 as archive

[2020-09-04 18:41] whedon commented on #2445
OK. <a href="https://doi.org/10.5281/zenodo.4004846" target="_blank">10.5281/zenodo.4004846</a> is the archive.

[2020-09-04 18:42] sbenthall commented on #2445
@whedon set 0.8.3 as version

[2020-09-04 18:42] whedon commented on #2445
OK. 0.8.3 is the version.

[2020-09-04 18:44] sbenthall commented on #2445
This paper is ready to be accepted.

Before I do so finally, may I ask you @strengejacke to please check the proof one last time?

This is for your full satisfaction with the article, as making changes after the acceptance is more difficult.

[2020-09-04 18:47] kthyng commented on #2640
Hi @adamltyson! Thank you for your submission. Is `https://github.com/brainglobe/bg-atlasapi/tree/joss` the url of the repository you want reviewed as your submission?

[2020-09-04 18:51] kthyng commented on #2634
@pdebuyl Are you willing to edit this submission?

[2020-09-04 18:51] kthyng commented on #2634
@whedon invite @pdebuyl as editor

[2020-09-04 18:52] whedon commented on #2634
@pdebuyl has been invited to edit this submission.

[2020-09-04 18:52] kthyng commented on #2640
Hi @oliviaguest, would you be up for editing this paper, once the repo/paper situation has been worked out?

[2020-09-04 18:52] kthyng commented on #2640
@whedon invite @oliviaguest as editor

[2020-09-04 18:52] whedon commented on #2640
@oliviaguest has been invited to edit this submission.

[2020-09-04 18:53] danielskatz commented on #2552
I'm suggesting some minor changes in https://gitlab.com/project-dare/dare-platform/-/merge_requests/5

Also, I don't know what "It delivers mappings to diverse computing infrastructures" means

[2020-09-04 18:53] danielskatz commented on #2552
overall, this looks much more clear.

[2020-09-04 18:54] kthyng commented on #2633
@arokem Totally understand! No worries!

[2020-09-04 18:54] danielskatz commented on #2552
Can you suggest any reviewers, either from the community (of course, who are not conflicted), or from [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

If so, please mention them here in this thread (without tagging them with an @).

[2020-09-04 18:56] kthyng commented on #2633
Hey @Kevin-Mattheus-Moerman! Could you edit this submission?

[2020-09-04 18:56] kthyng commented on #2633
@whedon invite @Kevin-Mattheus-Moerman as editor

[2020-09-04 18:56] whedon commented on #2633
@Kevin-Mattheus-Moerman has been invited to edit this submission.

[2020-09-04 18:56] adamltyson commented on #2640
Hi @kthyng, the repository is `https://github.com/brainglobe/bg-atlasapi`. `https://github.com/brainglobe/bg-atlasapi/tree/joss` is the `joss` branch that is otherwise identical to the default, but with the paper. I wasn't sure how to submit the URL to reflect this.

[2020-09-04 18:57] teamPSG commented on #2377
Thanks everybody for your contribution in the work! (The DOI now resolves alright).

[2020-09-04 18:59] kthyng commented on #2640
Hi @openjournals/dev! Do I have the power to change the URL in a submission in the database, rather than just editing it in the comment above? I think what needs to happen is for the repo url to change to "https://github.com/brainglobe/bg-atlasapi" with the JOSS paper then being accessible as a branch from there.

[2020-09-04 19:06] kthyng commented on #2123
@whedon accept deposit=true

[2020-09-04 19:06] whedon commented on #2123
[code]

[2020-09-04 19:18] kthyng commented on #2123
Congrats on your new publication to @tukiains! Thanks to editor @jedbrown and to reviewers @josephhardinee and @ekschuman. This process couldn't occur without your time and expertise.

[2020-09-04 19:18] #2123 closed

[2020-09-04 19:18] whedon commented on #2123
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02123/status.svg)](https://doi.org/10.21105/joss.02123)

**We need your help!**

Journal of Open Source Softwa

[2020-09-04 19:19] #2377 closed

[2020-09-04 19:19] whedon commented on #2377
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02377/status.svg)](https://doi.org/10.21105/joss.02377)

**We need your help!**

Journal of Open Source Softwa

[2020-09-04 19:49] jeffcsauer commented on #2450
Hi @bmcfee @edonnachie, would it be possible to get an update on the review status? Apologies as know summer is wrapping up and a new semester is kicking off.

[2020-09-04 19:59] jeffcsauer commented on #2450
@edonnachie thank you for the quick response! Totally understand, it has indeed been a pressing and unique situation these past few months. I look forward to integrating your comments and feedback.

[2020-09-04 20:07] Kevin-Mattheus-Moerman commented on #2633
@whedon assign me as editor

[2020-09-04 20:07] whedon commented on #2633
OK, the editor is @Kevin-Mattheus-Moerman

[2020-09-04 20:08] strengejacke commented on #2445
Thank you, @sbenthall. I carefully proof-read the paper. Everything is fine for me, I'm ok with publication.

[2020-09-04 20:45] oliviaguest commented on #2640
@kthyng sure thing! 😊

[2020-09-04 20:46] oliviaguest commented on #2640
@whedon assign @oliviaguest as editor

[2020-09-04 20:46] whedon commented on #2640
OK, the editor is @oliviaguest

[2020-09-04 21:09] ajbaird commented on #2611
Hi @meg-simula, no special comments for the reviews. So sorry about that formatting, I'll have a new document submitted tonight!

[2020-09-04 22:28] majensen commented on #2556
@whedon set version as 0.2.1

[2020-09-04 22:28] whedon commented on #2556
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-04 22:28] majensen commented on #2556
@whedon set 0.2.1 as version

[2020-09-04 22:28] majensen commented on #2556
@whedon set 10.5281/zenodo.4015335 as archive

[2020-09-04 22:28] whedon commented on #2556
OK. <a href="https://doi.org/10.5281/zenodo.4015335" target="_blank">10.5281/zenodo.4015335</a> is the archive.

[2020-09-04 22:31] majensen commented on #2556
Thanks @jdbaugher - could you do one thing, and name the archive with the name of the paper "SeroTools: a Python package for Salmonella serotype data analysis"? This strongly desired by JOSS.

[2020-09-04 22:52] erinyoung commented on #2334
Even without the kraken database, it is still a rather large container, so I had to get a little creative on how to install it and get it working.

[2020-09-04 22:53] erinyoung commented on #2334
Is SneakerNet.ro.pl in the documentation supposed to be SneakerNet.roRun.pl?

[2020-09-04 23:24] galessiorob commented on #2619
👋 Hi @nedRad88

I am in the process of assigning reviewers to this submission, but if you have any suggestions for reviewers please let me know.

In the meantime, it looks like you're only missing 1 DOIs, if you could nail that one down that would be great.

Many thanks!

Basic checks:

 - [ ] There’s a general description of the software
 - [ ] The software is within the scope as research softwar

[2020-09-04 23:47] galessiorob commented on #2639
Happy to edit!
@whedon assign @galessiorob as editor

[2020-09-04 23:48] jdbaugher commented on #2556
@majensen I edited the 'title' of the archive as requested. Is it set up correctly now?

[2020-09-04 23:54] galessiorob commented on #2639
@whedon assign @galessiorob as editor

[2020-09-04 23:54] whedon commented on #2639
OK, the editor is @galessiorob

[2020-09-05 00:31] majensen commented on #2556
Perfect, let's pull the handle...

[2020-09-05 00:32] majensen commented on #2556
@whedon accept

[2020-09-05 00:32] whedon commented on #2556
[code]

[2020-09-05 00:32] whedon commented on #2556
[code]

[2020-09-05 00:32] whedon commented on #2556
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1711

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1711, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-05 00:51] ajbaird commented on #2611
Hi @meg-simula , just updated the code formatting, shouldn't be overrun any longer. Really sorry about this, we are very verbose with a lot of function calls! :)

[2020-09-05 06:09] tpapp commented on #2512
Sorry, ML is not my area of expertise.

[2020-09-05 08:34] AngryMaciek commented on #2613
@majensen Thanks for the editorial effort you put in.
I am not from the field of population biology (unlike the second author, who is the brain behind this operation) so unfortunately, I do not have any suggestions...
@rozmanowna - could you please take a look at the list of potential reviewers?

[2020-09-05 12:05] dormezil commented on #2528
@sbenthall Reviewing this weekend. Sorry for the delay.

[2020-09-05 12:41] skadio commented on #2639
Thank you @galessiorob!

[2020-09-05 12:44] skadio commented on #2639
CC: @takojunior @aminhn @dorukkilitcioglu

[2020-09-05 12:48] skadio commented on #2408
I do not have an issue with the slightly longer resulting paper --as it is adding value. Same for the additional author.

That said, I cannot comment on these "editorially" from JOSS perspective but only as a reviewer.

[2020-09-05 12:52] skadio commented on #2615
@whedon commands

[2020-09-05 12:52] whedon commented on #2615
Here are some things you can ask me to do:

[code]

[2020-09-05 13:36] lnferris commented on #2497
I have fixed and closed "Revise or remove more_colors (lnferris/ocean_data_tools#13)".

[2020-09-05 13:53] arfon commented on #2591
:wave: @joshspeagle @catherinezucker - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-09-05 14:12] arfon commented on #2556
@whedon accept deposit=true

[2020-09-05 14:13] whedon commented on #2556
[code]

[2020-09-05 14:14] whedon commented on #2556
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1302248758470729728) 👈 🐦🐦🐦

[2020-09-05 14:14] whedon commented on #2556
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1712
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02556](https://doi.org/10.21105/joss.02556)
2. If everything looks g

[2020-09-05 14:20] arfon commented on #2556
@amoeba, @Maghnuso - many thanks for your reviews here and to @majensen for editing this submission ✨

@jdbaugher - your papers now accepted into JOSS :zap::rocket::boom:

[2020-09-05 14:20] #2556 closed

[2020-09-05 14:20] whedon commented on #2556
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02556/status.svg)](https://doi.org/10.21105/joss.02556)

**We need your help!**

Journal of Open Source Softwa

[2020-09-05 14:21] arfon commented on #2408
It's OK to go a little over so as long as @kakiac is OK with this you should be fine.

[2020-09-05 14:22] lnferris commented on #2497
I have fixed and closed "Revise or remove netcdf_info (lnferris/ocean_data_tools#16)".

[2020-09-05 14:39] arfon commented on #2554
@s-goldman - looking at the cross-linked issues above, it seems like you've had a bunch more feedback. How are you getting along with your responses to these?

[2020-09-05 14:46] majensen commented on #2556
@jdbaugher - congrats! This is nice software that should be really useful in the biz. @Maghnuso - you're now officially a bioinformatician, congrats. @amoeba - appreciate your help once again from the Land of the Midnight Sun.

[2020-09-05 14:49] majensen commented on #2331
@whedon check references

[2020-09-05 14:49] majensen commented on #2331
@whedon generate pdf

[2020-09-05 14:50] whedon commented on #2331
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02331/joss.02331/10.21105.joss.02331.pdf)

[2020-09-05 14:50] lnferris commented on #2497
I have fixed and closed "Rename bathymetry_region (lnferris/ocean_data_tools#18)".

[2020-09-05 14:51] whedon commented on #2331
[code]

[2020-09-05 14:56] majensen commented on #2331
@tabe - I am going to make one more editing pass, to get the language sounding great. Expect only one more pull request. Thanks!

[2020-09-05 15:40] joshspeagle commented on #2591
I’d be happy to sign up as a reviewer.

[2020-09-05 15:44] s-goldman commented on #2554
@arfon Thank you for pointing this out. I wasn't getting notifications for the new issues, but I've changed that. I'll get right on these issues.

[2020-09-05 16:21] arfon commented on #2591
@whedon add @joshspeagle as reviewer

[2020-09-05 16:21] whedon commented on #2591
OK, @joshspeagle is now a reviewer

[2020-09-05 16:21] arfon commented on #2591
@whedon start review

[2020-09-05 16:22] whedon opened #2641 "[REVIEW]: astrosource: automating optical astronomy measurement, calibration and analysis for variable stellar sources from provided photometry"
**Submitting author:** @mfitzasp (<a href="http://orcid.org/0000-0001-6554-1826">Michael Fitzgerald</a>)
**Repository:** <a href="https://github.com/zemogle/astrosource/" target ="_blank">https://github.com/zemogle/astrosource/</a>
**Version:** v1.5.2
**Editor:** @arfon
**Reviewer:** @zackdraper, @joshspeagle
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.14113667.v1" target="_blank">10

[2020-09-05 16:22] whedon commented on #2591
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2641.

[2020-09-05 16:22] #2591 closed

[2020-09-05 16:22] whedon commented on #2641
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bsipocz, @joshspeagle it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-09-05 16:23] whedon commented on #2641
[code]

[2020-09-05 16:23] whedon commented on #2641
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02641/joss.02641/10.21105.joss.02641.pdf)

[2020-09-05 17:03] JolleJolles commented on #2584
@lucask07 it would be great to get your response to my reply earlier this week so I can best address your points. Thanks

[2020-09-05 17:05] JolleJolles commented on #2584
With regards to revising the paper/package, would it be best to wait for all comments to incorporate them all at once in a new release or address them as they come in? I have no experience in this submission and revision process via Github yet so appreciate your understanding. Thanks!

[2020-09-05 17:09] jdbaugher commented on #2556
Thanks everyone! @arfon @majensen @amoeba @Maghnuso

[2020-09-05 17:51] poulson commented on #2131
Hi Mathieu :wave:  (@matbesancon) -- I hate to repeatedly request you as a reviewer, but, as you can see, we've been having issues finding reviewers who are comfortable with both Rust and reviewing a bundle adjustment project. You list both Rust and a combination of optimization and statistics in your expertise and are one of the better first. Would you happen to be interested and able to help rev

[2020-09-05 17:57] poulson commented on #2131
Hi Lachlan :wave: (@breezykermo) -- Given your listed expertise in Rust and computer graphics, you appear to be one of the few potential reviewers who fits the bill for this Rust Bundle Adjustment submission. Would you be interested and able to help review this submission?

[2020-09-05 19:07] arfon commented on #2591
@bsipocz, @joshspeagle - many thanks for agreeing to review this submission. See you over in #2641 where the review will take place.

[2020-09-05 19:08] arfon commented on #2641
@bsipocz, @joshspeagle

This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied.

[2020-09-05 19:15] amoeba commented on #2556
Congratulations @jdbaugher! And many thanks @majensen.

[2020-09-05 19:20] Chilipp commented on #1942
Everything's up-to-date from my side @majensen

[2020-09-05 19:33] lnferris commented on #2497
I have fixed and closed "argo_build confuses pressure and depth (lnferris/ocean_data_tools#17)".

[2020-09-05 20:49] eloisabentivegna commented on #2338
@bluescarni, thanks for posting the archive DOI! The title should match the paper's, though. Could you change it to "A parallel global multiobjective framework for optimization: pagmo"?

[2020-09-05 20:50] eloisabentivegna commented on #2338
@whedon generate pdf

[2020-09-05 20:50] whedon commented on #2338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02338/joss.02338/10.21105.joss.02338.pdf)

[2020-09-05 21:08] eloisabentivegna commented on #2338
@whedon check references

[2020-09-05 21:09] whedon commented on #2338
[code]

[2020-09-05 21:56] edonnachie commented on #2450
Before I get to the package itself, here are a few initial comments on the paper:

__Summary:__

- It would be helpful to explain what the Opoid Overdose Crisis is, perhaps with link to the [CDC](https://www.cdc.gov/opioids/strategy.html). It's not clear to me whther the overdoses are accidental (due to overuse of this drug therapy) or suicide-related (due to the controls being too lax).

- You wr