[2019-08-01 16:21] labarba commented on #1618
@jedbrown — the author suggested you as handling editor. Do you think you could take this one?

[2019-08-01 16:22] whedon opened #1619 "[PRE REVIEW]: Porpoise tracker"
**Submitting author:** @henrikmidtiby (<a href="http://orcid.org/0000-0002-3310-5680">Henrik Skov Midtiby</a>)
**Repository:** <a href="https://github.com/henrikmidtiby/PorpoiseTrackerJOSSPaper/" target ="_blank">https://github.com/henrikmidtiby/PorpoiseTrackerJOSSPaper/</a>
**Version:** v1.0.0
**Editor:** @kthyng
**Reviewers:** @abhishekbajpayee, @jizecn

**Author instructions**

Thanks for submi

[2019-08-01 16:22] whedon commented on #1619
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-01 16:22] whedon commented on #1619
[code]

[2019-08-01 16:22] whedon commented on #1619
PDF failed to compile for issue #1619 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:123:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Henrik Dyrberg Egemose (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:121:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-08-01 16:23] whedon commented on #1619
Failed to discover a valid open source license.

[2019-08-01 16:31] cole-brokamp commented on #1578
FYI... @vsoch is currently helping me through some of my own issues with running the example (totally my own fault!) over here: https://github.com/singularityhub/singularity-compose/issues/22

...I'll report back soon

[2019-08-01 16:33] labarba commented on #1619
@henrikmidtiby — You have a placeholder there instead of your real ORCID number. Please fix.

Also, JOSS expects the `paper.md` and `paper.bib` file to reside in the software repository, and for you to link that repository to this submission, i.e.,
https://github.com/henrikmidtiby/PorpoiseTracker

[2019-08-01 16:34] arokem commented on #1590
Hi @spinicist : thanks. How substantial is substantial (when do you think that you will be able to get to it)?

[2019-08-01 16:35] spinicist commented on #1590
Realistically, early September.

[2019-08-01 16:36] arokem commented on #1590
Thanks! Let me see if I can get someone else who would be willing to give this a look earlier than that.

[2019-08-01 16:52] arfon commented on #791
@MarionLegrandLogrami - I've just emailed @boshek to ask if they can come and take another look at this review soon.

[2019-08-01 17:03] vsoch commented on #1578
Totally not his fault! Singularity changes *so* fast that nobody can really keep up.

[2019-08-01 17:06] eidheim commented on #1592
Thank you @gkthiruvathukal .

* I added a tagged release v3.0.1: https://gitlab.com/eidheim/Simple-Web-Server/tree/v3.0.1
* The Zenodo DOI of the archived v3.0.1 zip: 10.5281/zenodo.3358045

[2019-08-01 17:10] gkthiruvathukal commented on #1592
@whedon check references

[2019-08-01 17:10] whedon commented on #1592
[code]

[2019-08-01 17:11] whedon commented on #1592
[code]

[2019-08-01 17:11] gkthiruvathukal commented on #1592
@whedon commands

[2019-08-01 17:11] whedon commented on #1592
Here are some things you can ask me to do:

[code]

[2019-08-01 17:12] gkthiruvathukal commented on #1592
@whedon set 10.5281/zenodo.3358045 as archive

[2019-08-01 17:12] whedon commented on #1592
OK. <a href="https://doi.org/10.5281/zenodo.3358045" target="_blank">10.5281/zenodo.3358045</a> is the archive.

[2019-08-01 17:12] gkthiruvathukal commented on #1592
@whedon set v3.0.1 as version

[2019-08-01 17:12] whedon commented on #1592
OK. v3.0.1 is the version.

[2019-08-01 17:13] leouieda commented on #1511
:wave: @weikang9009 and @darribas please have a final look to see if all your comments have been addressed.

@darribas I see that there are some unchecked items in your reviewer checklist. Are these still in progress or have they been satisfied with the recent changes?

[2019-08-01 17:14] gkthiruvathukal commented on #1592
@eidheim The one thing I am seeing is the missing DOI issue for Boost. I've gone ahead and set the archive and version as these won't change if you correct that issue.

@openjournals/joss-editors Pending the one issue with DOIs (which may require your help as well) I am ready to recommend acceptance of this submission.

[2019-08-01 17:15] leouieda commented on #1315
Hi @sauln no problem, this has been a crazy month for me as well. I'll have a final look at the submission as soon as I get back from travel next week.

[2019-08-01 17:16] gkthiruvathukal commented on #1578
Thanks, @cole-brokamp and all. Just wanted to get an idea of where we stand.

[2019-08-01 17:16] leouieda commented on #1425
Hi @benmaier sorry for the long delay. I'm away on travel right now but as soon as I get back next week I'll have a look at the submission and see if we're good to go.

[2019-08-01 17:18] elyiorgos commented on #1617
@labarba Should be all set, thank you!

[2019-08-01 17:19] shivupa commented on #1612
Hi the version has  progressed to 1.0.33. Is it possible to update the submission to reflect this?

[2019-08-01 17:21] jedbrown commented on #1612
@shivupa We can set the version at acceptance. It's common for the review to result in a new release.

[2019-08-01 17:21] jedbrown commented on #1612
@whedon set 1.0.33 as version

[2019-08-01 17:21] whedon commented on #1612
OK. 1.0.33 is the version.

[2019-08-01 17:23] eidheim commented on #1592
@gkthiruvathukal The reported missing DOI is incorrect. Please see previous comment: https://github.com/openjournals/joss-reviews/issues/1592#issuecomment-517176440.

[2019-08-01 17:25] shivupa commented on #1612
Yeah that makes sense, and also thanks! (Thanks @whedon)

[2019-08-01 17:26] boshek commented on #791
Ok I will commit to having this finished by the end of August 9th. Sorry to have languished so long here. I still think that too much complexity is being offloaded to the user here rather than abstracting that away.

[2019-08-01 17:29] gkthiruvathukal commented on #1592
@eidheim That is one of the reasons I wrote what I did above. I am pulling in the editors to have them take a look. This must be some sort of parsing issue, etc. One thing you could try is to remove the http + hostname from the DOI. If you look at how i set the DOI for your paper, it starts with the numeric portion of the identifier.

[2019-08-01 17:35] jedbrown commented on #1618
@whedon assign @jedbrown as editor

[2019-08-01 17:39] kyleniemeyer commented on #1592
@eidheim @gkthiruvathukal the `doi` fields of the .bib file should only have the DOIs themselves—please remove `https://doi.org/`

[2019-08-01 17:44] jedbrown commented on #1618
@ThomasPak Could you please address [Community Guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html#community-guidelines)?

In your paper, this naming would result in `PacMan` (which of course is impossible to search for). Using your last name makes it distinguishable, but I think it's worth thinking about what that looks like to potential contributors if building a community is

[2019-08-01 17:55] liashchynskyi commented on #1615
@whedon generate pdf

[2019-08-01 17:55] whedon commented on #1615
[code]

[2019-08-01 17:56] whedon commented on #1615
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01615/joss.01615/10.21105.joss.01615.pdf)

[2019-08-01 17:59] liashchynskyi commented on #1615
@whedon generate pdf

[2019-08-01 17:59] whedon commented on #1615
[code]

[2019-08-01 17:59] whedon commented on #1615
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01615/joss.01615/10.21105.joss.01615.pdf)

[2019-08-01 18:08] darribas commented on #1511
Completed now, good good to go!

[2019-08-01 18:11] weikang9009 commented on #1511
Also good to go from my side!

[2019-08-01 18:12] liashchynskyi commented on #1615
@whedon generate pdf

[2019-08-01 18:12] whedon commented on #1615
[code]

[2019-08-01 18:13] whedon commented on #1615
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01615/joss.01615/10.21105.joss.01615.pdf)

[2019-08-01 18:13] eidheim commented on #1592
@kyleniemeyer Thank you, but that is not the issue I think. There is no `https://doi.org/` in the .bib file (https://gitlab.com/eidheim/Simple-Web-Server/blob/master/paper/paper.bib).

[2019-08-01 18:14] liashchynskyi commented on #1615
@labarba check, plaese 😄

[2019-08-01 18:24] labarba commented on #1617
@whedon generate pdf

[2019-08-01 18:25] whedon commented on #1617
[code]

[2019-08-01 18:25] whedon commented on #1617
PDF failed to compile for issue #1617 with the following error:

 Error reading bibliography ./paper.bib (line 49, column 10):
unexpected "{"
expecting letter, digit, white space or "="
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-01 18:27] labarba commented on #1617
Please merge this fix
https://github.com/elyiorgos/sleeppy/pull/2

[2019-08-01 18:29] liashchynskyi commented on #1615
@whedon generate pdf

[2019-08-01 18:29] whedon commented on #1615
[code]

[2019-08-01 18:30] whedon commented on #1615
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01615/joss.01615/10.21105.joss.01615.pdf)

[2019-08-01 18:32] liashchynskyi commented on #1615
@whedon generate pdf

[2019-08-01 18:32] whedon commented on #1615
[code]

[2019-08-01 18:33] whedon commented on #1615
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01615/joss.01615/10.21105.joss.01615.pdf)

[2019-08-01 18:36] liashchynskyi commented on #1615
@labarba check, please 🐱

[2019-08-01 18:47] liashchynskyi commented on #1615
latest @whedon generate pdf

[2019-08-01 18:48] liashchynskyi commented on #1615
@whedon generate pdf

[2019-08-01 18:48] whedon commented on #1615
[code]

[2019-08-01 18:48] ThomasPak commented on #1618
@jedbrown Hi Jed, thanks for your comment.

I designed Pakman so that it is easy to extend with additional ABC algorithms. This is mentioned in the [code documentation](https://codedocs.xyz/ThomasPak/pakman/index.html). In addition, I  wrote a page that goes into practical detail on how to do this (see [Implementing a Controller subclass](https://codedocs.xyz/ThomasPak/pakman/controller.html)).

I

[2019-08-01 18:48] whedon commented on #1615
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01615/joss.01615/10.21105.joss.01615.pdf)

[2019-08-01 18:49] kyleniemeyer commented on #1592
@eidheim oh, I misunderstood the issue (and didn't read the prior comments above). You cited the boost libraries directly, and whedon found something with a DOI that has the same name.

Unless you intend to cite the book chapter (perhaps in addition to the software itself, but this isn't necessary), then we can safely ignore this.

whedon's DOI messages are not something we have to resolve, they a

[2019-08-01 19:02] jedbrown commented on #1618
I think the documentation on extensibility is nice, but it would help to add a [CONTRIBUTING.md](https://help.github.com/en/articles/setting-guidelines-for-repository-contributors) and explain how you would like for issues and questions to be raised. It's common to ask for pull requests and issues to be created on GitHub, but you might want something different or might want to provide further guid

[2019-08-01 19:40] DanielLenz commented on #1557
Thanks for the discussion, I'm curious to see what @wtgee thinks.

In the meantime, could you add references to all the Python libraries that you're using (not only in mirapy itself, but also in the tutorial)? Examples are sklearn, matplotlib, and numpy.

Furthermore, please add references (and DOIs, if they exist) to the data sets which you use in the tutorials.

[2019-08-01 20:01] ha0ye commented on #1550
I don't think I'll be able to do 3 weeks, since I have upcoming travel all the way through Sept. 9. If you still need someone after that point, I'll be able to help out.

Some other options might be @mstrimas, @SaraVarela, or @sebpardo who each have rOpenSci packages for bird data.

[2019-08-01 20:03] mbobra commented on #1557
@wtgee Please let me know if you need any help with your review!

[2019-08-01 20:13] swapsha96 commented on #1557
@DanielLenz a list of all Python libraries required for tutorials is [here](https://github.com/mirapy-org/tutorials/blob/master/requirements.txt).

Regarding, adding references, do you want me to add them (includind DOIs) in tutorials repository?

[2019-08-01 20:31] arfon commented on #1387
@whedon generate pdf

[2019-08-01 20:32] whedon commented on #1387
[code]

[2019-08-01 20:32] swapsha96 commented on #1557
@whedon generate pdf

[2019-08-01 20:32] whedon commented on #1557
[code]

[2019-08-01 20:32] whedon commented on #1387
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01387/joss.01387/10.21105.joss.01387.pdf)

[2019-08-01 20:32] whedon commented on #1557
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01557/joss.01557/10.21105.joss.01557.pdf)

[2019-08-01 20:35] swapsha96 commented on #1557
@whedon generate pdf

[2019-08-01 20:35] whedon commented on #1557
[code]

[2019-08-01 20:35] whedon commented on #1557
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01557/joss.01557/10.21105.joss.01557.pdf)

[2019-08-01 20:40] swapsha96 commented on #1557
@whedon generate pdf

[2019-08-01 20:40] whedon commented on #1557
[code]

[2019-08-01 20:40] whedon commented on #1557
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01557/joss.01557/10.21105.joss.01557.pdf)

[2019-08-01 21:33] DanielLenz commented on #1557
Thanks for adding the DOIs for the data sets!
I think it would be appropriate to also cite the different python packages in the paper, many of them have accompanying publications or other bibtex items (e.g. [for sklearn](https://scikit-learn.org/stable/about.html#citing-scikit-learn)).

[2019-08-01 22:06] leouieda commented on #1574
:wave: Hi @fil would you be interested in reviewing this submission for JOSS?

[2019-08-01 22:45] goldingn commented on #1601
Thanks for the review @joethorley! There's one item (references) still unchecked in your review list. I think that's resolved now.

[2019-08-02 00:19] Cavenfish commented on #1612
@whedon generate pdf

[2019-08-02 00:19] whedon commented on #1612
[code]

[2019-08-02 00:20] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-08-02 00:45] r-barnes commented on #1262
When I try `pip install -U Scyland3D` and run `Scyland3D` from the CLI, I get
[code]
a similar error occurs when using `python3 setup.py install --user`

[2019-08-02 01:11] r-barnes commented on #1262
I see the following issues:
 * [ ] Both `pip3 install -U Scyland3D` and `python3 setup.py install Scyland3D --user` lead to an unusable state: `ImportError: cannot import name 'main'`
 * [ ] Calling without command line arguments does not provide help. Instead, an example directory is parsed. This violates the principle of least surprise.
 * [ ] Argument parsing seems unnecessarily verbose. My fir

[2019-08-02 01:15] r-barnes commented on #1262
@whedon commands

[2019-08-02 01:15] whedon commented on #1262
Here are some things you can ask me to do:

[code]

[2019-08-02 01:42] cole-brokamp commented on #1578
I completed my review and have checked off everything on my reviewer checklist.  @vsoch has done an outstanding job on this one, as usual! :clap:

[2019-08-02 03:23] Cavenfish commented on #1612
An issue with AutoGAMESS angle calculations has recently been pointed out to me. I should have this fixed in less than a day, the changes will be reflected in the paper as well.
I apologize for not catching this sooner.

[2019-08-02 03:27] arosen93 commented on #1612
@Cavenfish Good to know. Just FYI, I plan to get to this review over the weekend (by Monday at the latest).

[2019-08-02 07:16] Fil commented on #1574
yes — I already know the software so it will be easy

[2019-08-02 07:33] lionel68 commented on #1601
@whedon @terrytangyuan I am starting the review but I can't seem to be able to update the review checklist above. Am I missing something?

[2019-08-02 07:33] labarba commented on #1616
@whedon generate pdf

[2019-08-02 07:33] whedon commented on #1616
[code]

[2019-08-02 07:34] whedon commented on #1616
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01616/joss.01616/10.21105.joss.01616.pdf)

[2019-08-02 07:37] eidheim commented on #1592
@kyleniemeyer Thank you again. @gkthiruvathukal then we can safely ignore the output from `MISSING DOIs` as I do not wish to cite the book chapter mentioned.

[2019-08-02 07:41] terrytangyuan commented on #1601
It looks like you are not a collaborator of this repo, @kyleniemeyer could you help take a look?

[2019-08-02 07:47] xuanxu commented on #1582
:wave: @dandavies99 — would you be willing to contribute a review for JOSS on this submission?

[2019-08-02 07:52] labarba commented on #1617
@whedon generate pdf

[2019-08-02 07:53] whedon commented on #1617
[code]

[2019-08-02 07:53] whedon commented on #1617
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01617/joss.01617/10.21105.joss.01617.pdf)

[2019-08-02 07:58] arfon commented on #1580
@whedon assign @usethedata as editor

[2019-08-02 08:03] arfon commented on #1580
@whedon assign @usethedata as editor

[2019-08-02 08:03] whedon commented on #1580
OK, the editor is @usethedata

[2019-08-02 08:03] arfon commented on #1618
@whedon assign @jedbrown as editor

[2019-08-02 08:03] whedon commented on #1618
OK, the editor is @jedbrown

[2019-08-02 08:10] Datseris commented on #1611
@jedbrown  @kavir1698 I think I have now finished the first round of review. The above checklist states what I feel should be taken care of before acceptance.

[2019-08-02 08:50] cMadan commented on #1476
@whedon add @adswa as reviewer

[2019-08-02 08:50] whedon commented on #1476
OK, @adswa is now a reviewer

[2019-08-02 08:50] cMadan commented on #1476
@adswa, great, I will add you and start the review then! :)

[2019-08-02 08:50] cMadan commented on #1476
@whedon start review

[2019-08-02 08:50] whedon opened #1620 "[REVIEW]: Eyestream: An open WebSocket-based middleware for serializing and streaming eye tracker event data from Gazepoint GP3 HD research hardware"
**Submitting author:** @MLHale (<a href="http://orcid.org/0000-0002-8433-2744">Matthew Hale</a>)
**Repository:** <a href="https://github.com/MLHale/eyestream" target ="_blank">https://github.com/MLHale/eyestream</a>
**Version:** 1.1
**Editor:** @cMadan
**Reviewer:** @RingoHHuang, @adswa
**Archive:** <a href="https://doi.org/10.5281/zenodo.3549022" target="_blank">10.5281/zenodo.3549022</a>

## Sta

[2019-08-02 08:50] whedon commented on #1476
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1620. Feel free to close this issue now!

[2019-08-02 08:50] whedon commented on #1620
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @RingoHHuang, @adswa it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-08-02 08:50] whedon commented on #1620
[code]

[2019-08-02 08:50] #1476 closed

[2019-08-02 08:51] whedon commented on #1620
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01620/joss.01620/10.21105.joss.01620.pdf)

[2019-08-02 08:53] lionel68 commented on #1601
greta is a very promising software and is likely to become a very handy tool in the data scientist toolbox.

I opened three issues:

greta-dev/greta#299 (example R code not running on my laptop)
greta-dev/greta#300 (python warnings when running greta::model)
greta-dev/greta#301 (minor textual comments)

Looking forward to using the capacities of greta.

[2019-08-02 08:54] cMadan commented on #1541
Thanks for the thorough review, @tjmahr!

@DominiqueMakowski, it looks like there are no outstanding issues, is that correct?

[2019-08-02 09:15] DominiqueMakowski commented on #1541
@cMadan That is correct ☺️

[2019-08-02 09:19] fauvernierma commented on #1434
@whedon generate pdf

[2019-08-02 09:19] whedon commented on #1434
[code]

[2019-08-02 09:20] whedon commented on #1434
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01434/joss.01434/10.21105.joss.01434.pdf)

[2019-08-02 09:25] henrikmidtiby commented on #1619
@whedon commands

[2019-08-02 09:25] whedon commented on #1619
Here are some things you can ask me to do:

[code]

[2019-08-02 09:28] henrikmidtiby commented on #1619
@labarba Thanks for the comments. They raise two questions.

* One of the authors don't have a orcid yet, is that required to submit to JOSS?
* Is it possible to change the repository of this submission, or should I just create a new submission with the proper repository?

[2019-08-02 09:28] fauvernierma commented on #1434
Hello, @csoneson

I would like to make "the CENSUR working survival group" appear as a group author after the name "Laurent Roche", is it possible ?

I thought I did it but obviously it did not work

Thank you

[2019-08-02 12:38] csoneson commented on #1533
@whedon set 10.5281/zenodo.3357938 as archive

[2019-08-02 12:38] whedon commented on #1533
OK. <a href="https://doi.org/10.5281/zenodo.3357938" target="_blank">10.5281/zenodo.3357938</a> is the archive.

[2019-08-02 12:39] csoneson commented on #1533
@whedon set v2.05 as version

[2019-08-02 12:39] whedon commented on #1533
OK. v2.05 is the version.

[2019-08-02 12:40] csoneson commented on #1533
@bii-absd - great, thanks! Just for completeness, I will as @rabdill to check the version reporting as well to complete his checklist.

[2019-08-02 12:52] csoneson commented on #1434
Hi @fauvernierma - sorry, just to clarify, when you say "is it possible", and "it did not work" - do you mean from a technical point of view, or is the question whether it is ok to have a group author?

[2019-08-02 13:03] fauvernierma commented on #1434
It was a technical question as I do not know how to make it appear on the markdown document

[2019-08-02 13:12] whedon commented on #1539
:wave: @melund, please update us on how your review is going.

[2019-08-02 13:54] dandavies99 commented on #1582
Hi @xuanxu, sure I'd be happy to.

[2019-08-02 14:45] chennachaos commented on #1441
**Software paper**
**Authors:** Yes, the paper includes a list of authors and their affiliations.

**A statement of need:** The authors clearly state the motivation for incorporating the new techniques and technologies for tackling a wide range of challenging problems in computational engineering. The authors also provide examples that demonstrate the class of problems the library can solve. The t

[2019-08-02 14:47] gweissman commented on #1526
@brainstorm Thanks for thinking of me. I am unavailable until October.

[2019-08-02 15:20] kyleniemeyer commented on #1601
@whedon add @lionel68 as reviewer

[2019-08-02 15:21] whedon commented on #1601
OK, @lionel68 is now a reviewer

[2019-08-02 15:21] kyleniemeyer commented on #1601
@lionel68 can you edit the checklist now?

[2019-08-02 15:52] labarba commented on #1619
I *think* if you leave the ORCID field blank, the compilation will work. Let's try it.

If you move your paper to the software repository, I can update the repository URL by editing the comment above.

[2019-08-02 15:55] labarba commented on #1619
👋 @kthyng — Could you handle this submission as editor?

PorpoiseTracker: a tool to measure the size and track porpoises or other marine animals from  UAV recordings
https://github.com/henrikmidtiby/PorpoiseTracker

[2019-08-02 16:13] xuanxu commented on #1582
great @dandavies99, thanks! I'll assign you now and start the review

[2019-08-02 16:13] xuanxu commented on #1582
@whedon add @dandavies99 as reviewer

[2019-08-02 16:13] whedon commented on #1582
OK, @dandavies99 is now a reviewer

[2019-08-02 16:14] xuanxu commented on #1582
@whedon start review

[2019-08-02 16:14] whedon opened #1621 "[REVIEW]: rtdpy: A python package for residence time distributions"
**Submitting author:** @MatthewFlamm (<a href="http://orcid.org/0000-0002-2040-5481">Matthew Flamm</a>)
**Repository:** <a href="https://github.com/Merck/rtdpy" target ="_blank">https://github.com/Merck/rtdpy</a>
**Version:** v0.5.1
**Editor:** @xuanxu
**Reviewer:** @ctdegroot, @dandavies99
**Archive:** <a href="https://doi.org/10.5281/zenodo.3371640" target="_blank">10.5281/zenodo.3371640</a>

##

[2019-08-02 16:14] whedon commented on #1582
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1621. Feel free to close this issue now!

[2019-08-02 16:14] whedon commented on #1621
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ctdegroot, @dandavies99 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-08-02 16:14] whedon commented on #1621
[code]

[2019-08-02 16:15] whedon commented on #1621
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01621/joss.01621/10.21105.joss.01621.pdf)

[2019-08-02 16:15] xuanxu commented on #1582
@ctdegroot, @dandavies99 - please head over to #1621 where the review will take place.

[2019-08-02 16:15] #1582 closed

[2019-08-02 16:21] likask commented on #1441
@chennachaos We put in the text key reference, however for problems like magnetostatics we have no publication as such. However, you can reproduce quickly figure by running example in users modules, see for instance build/basic_finite_elements/magnetostatic/README. Key papers are included in code bibliography [bibliography](http://mofem.eng.gla.ac.uk/mofem/html/citelist.html) and through Zenodo li

[2019-08-02 16:38] urmi-21 commented on #1589
@csoneson Thank you for accepting the paper.
@labarba Thank you for the comments. I have fixed the tag issue. the current release in now v1.0 this is also reflected in the zenodo archive. The doi is the same i.e.

10.5281/zenodo.3357162

I have reformatted the paper as suggested. I hope it's acceptable now.

[2019-08-02 16:38] urmi-21 commented on #1589
@whedon generate pdf

[2019-08-02 16:38] whedon commented on #1589
[code]

[2019-08-02 16:39] whedon commented on #1589
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01589/joss.01589/10.21105.joss.01589.pdf)

[2019-08-02 16:41] urmi-21 commented on #1589
@whedon check references

[2019-08-02 16:41] whedon commented on #1589
[code]

[2019-08-02 16:41] whedon commented on #1589
[code]

[2019-08-02 16:47] labarba commented on #1589
I'm confused: the release number goes _back_ from v1.0.2 to v1.0?

[2019-08-02 17:05] jhollist commented on #1550
I'm in the same boat as @ha0ye.  Got a crazy schedule until mid September.  I can commit to a review by Sep 20th.  Hopefully, I'll be the last resort and you get a review quicker than that.

Sorry!

[2019-08-02 17:05] urmi-21 commented on #1589
Sorry. Yes, it might be confusing. I have made it so that it's consistent with what is mentioned in the software. I would like this release to be v1.0. I have deleted the other releases/tags from GitHub.

[2019-08-02 17:07] kthyng commented on #1550
Ok still looking for a second reviewer. People have lots of travel at this time of year — I'm traveling too!

[2019-08-02 17:08] kthyng commented on #1550
@mstrimas, @SaraVarela, or @sebpardo are you interested and available to do a review on this JOSS submission? We ask for reviews within about 3 weeks, and you can get more information here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html .
We need one more reviewer to move forward!

[2019-08-02 17:12] kthyng commented on #1619
Yep! I'll assign myself.

[2019-08-02 17:12] kthyng commented on #1619
@whedon assign @kthyng as editor

[2019-08-02 17:12] whedon commented on #1619
OK, the editor is @kthyng

[2019-08-02 17:13] kthyng commented on #1619
Hi @henrikmidtiby! Please look through this list of volunteers and provide some suggestions for people to review your submission: https://bit.ly/joss-reviewers
We'll need two reviewers to proceed, so we'll most likely need more than two suggestions. I've noticed a lot of people are traveling right now, too, and are unavailable.

[2019-08-02 17:23] kthyng commented on #1595
Ah, I'm sorry too — I'm traveling and looking through email but missing some things.

[2019-08-02 17:31] kyleniemeyer commented on #1568
Hi @FaustinCarter, I realize the submission #1532 is still in progress, but would you also be willing to review this one?

[2019-08-02 17:48] TrashBirdEcology commented on #1550
@kthyng  I am OK with the wait as the FTP server on which some of these functions relies just underwent a major overhaul without warning.  I will need to update two of the functions, which I plan to do within ~10 days.

[2019-08-02 18:09] lionel68 commented on #1601
Yes it works thanks @whedon and @kyleniemeyer , I'll finish filling the checklist early on next week!

[2019-08-02 18:20] labarba commented on #1589
@whedon set v1.0 as version

[2019-08-02 18:20] whedon commented on #1589
OK. v1.0 is the version.

[2019-08-02 18:21] labarba commented on #1589
@whedon accept

[2019-08-02 18:21] whedon commented on #1589
[code]

[2019-08-02 18:21] whedon commented on #1589
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/877

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/877, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-02 18:23] labarba commented on #1589
@whedon accept deposit=true

[2019-08-02 18:23] whedon commented on #1589
[code]

[2019-08-02 18:24] whedon commented on #1589
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1157356437389156352) 👈 🐦🐦🐦

[2019-08-02 18:24] whedon commented on #1589
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/878
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01589](https://doi.org/10.21105/joss.01589)
2. If everything looks go

[2019-08-02 18:28] labarba commented on #1589
Congratulations, @urmi-21, your JOSS paper is published! 🚀

Huge thanks to our editor: @csoneson, and the reviewers: @jdeligt, @holtgrewe — your contribution to JOSS is greatly appreciated 🙏

[2019-08-02 18:28] #1589 closed

[2019-08-02 18:28] whedon commented on #1589
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01589/status.svg)](https://doi.org/10.21105/joss.01589)

**We need your help!**

Journal of Open Source Softwa

[2019-08-02 18:30] whedon opened #1622 "[PRE REVIEW]: The UCSCXenaTools R package: a toolkit for accessing genomics data from UCSC Xena platform, from cancer multi-omics to single-cell RNA-seq"
**Submitting author:** @ShixiangWang (<a href="http://orcid.org/0000-0001-9855-7357">Wang Shixiang</a>)
**Repository:** <a href="https://github.com/ropensci/UCSCXenaTools/" target ="_blank">https://github.com/ropensci/UCSCXenaTools/</a>
**Version:** v1.2.5
**Editor:** @arfon
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @ShixiangWang. **Currently, there i

[2019-08-02 18:30] whedon commented on #1622
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-02 18:30] whedon commented on #1622
[code]

[2019-08-02 18:30] whedon commented on #1622
PDF failed to compile for issue #1622 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1622 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-07bb23bf8f0b/lib/whedo

[2019-08-02 18:33] labarba commented on #1622
👋 @ShixiangWang — You provided the archive DOI instead of the repository URL, and our bot cannot build your paper.

Please confirm that this is the correct submission repository:
https://github.com/ropensci/UCSCXenaTools/

[2019-08-02 18:36] whedon opened #1623 "[PRE REVIEW]: GoFish: Fishing for Line Observations in Protoplanetary Disks"
**Submitting author:** @richteague (<a href="http://orcid.org/0000-0003-1534-5186">Richard Teague</a>)
**Repository:** <a href="https://github.com/richteague/gofish" target ="_blank">https://github.com/richteague/gofish</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @zhampel, @nespinoza

**Author instructions**

Thanks for submitting your paper to JOSS @richteague. **Currently, there is

[2019-08-02 18:36] whedon commented on #1623
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-02 18:36] whedon commented on #1623
[code]

[2019-08-02 18:36] whedon commented on #1623
PDF failed to compile for issue #1623 with the following error:

 Error reading bibliography ./paper.bib (line 53, column 98):
unexpected "E"
expecting space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-02 18:42] urmi-21 commented on #1589
@holtgrewe @jdeligt @csoneson @labarba I would like to thank you all again 🙏

[2019-08-02 18:42] labarba commented on #1623
please merge this fix
https://github.com/richteague/gofish/pull/2

[2019-08-02 18:43] whedon opened #1624 "[PRE REVIEW]: ENZO: An Adaptive Mesh Refinement Code for Astrophysics (Version 2.6)"
**Submitting author:** @bwoshea (<a href="http://orcid.org/0000-0002-2786-0348">Brian O&#39;Shea</a>)
**Repository:** <a href="https://github.com/enzo-project/enzo-dev" target ="_blank">https://github.com/enzo-project/enzo-dev</a>
**Version:** v2.6
**Editor:** @danielskatz
**Reviewers:** @zingale, @rtfisher

**Author instructions**

Thanks for submitting your paper to JOSS @bwoshea. **Currently, t

[2019-08-02 18:43] whedon commented on #1624
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-02 18:43] whedon commented on #1624
[code]

[2019-08-02 18:43] whedon commented on #1624
PDF failed to compile for issue #1624 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1624/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/

[2019-08-02 18:43] elyiorgos commented on #1617
@whedon generate pdf

On Fri, Aug 2, 2019 at 3:53 AM whedon <notifications@github.com> wrote:

[2019-08-02 18:43] whedon commented on #1617
[code]

[2019-08-02 18:44] whedon commented on #1617
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01617/joss.01617/10.21105.joss.01617.pdf)

[2019-08-02 18:47] elyiorgos commented on #1617
@whedon generate pdf

On Fri, Aug 2, 2019 at 2:44 PM whedon <notifications@github.com> wrote:

[2019-08-02 18:47] whedon commented on #1617
[code]

[2019-08-02 18:48] kthyng commented on #1550
Ok @TrashBirdEcology, I will put this on pause for now, please ping me when you are ready to move forward. Thank!

[2019-08-02 18:48] whedon commented on #1617
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01617/joss.01617/10.21105.joss.01617.pdf)

[2019-08-02 18:53] labarba commented on #1624
👋 @bwoshea — something is not quite right with `paper.md`…not sure what. I do notice that the indentation of the tags doesn't quite match the other blocks. Could this be it?

Also, JOSS papers usually reside in the software repository (a different branch is OK), but here you've created a separate repo for just the paper. Is this the software repo?
https://github.com/enzo-project/enzo-dev

Note tha

[2019-08-02 18:54] danielskatz commented on #1573
@whedon remind @ahwillia in 7 days

[2019-08-02 18:54] whedon commented on #1573
Reminder set for @ahwillia in 7 days

[2019-08-02 18:54] labarba commented on #1624
@xuanxu — the submitting author suggested you as handling editor. Could you take this one?

**ENZO: An Adaptive Mesh Refinement Code for Astrophysics**
https://github.com/enzo-project/enzo-dev

[2019-08-02 18:55] danielskatz commented on #1487
👋 @StewMH, @mdavezac - pinging again...

[2019-08-02 18:56] elyiorgos commented on #1617
@whedon generate pdf

On Fri, Aug 2, 2019 at 2:48 PM whedon <notifications@github.com> wrote:

[2019-08-02 18:56] whedon commented on #1617
[code]

[2019-08-02 18:57] whedon commented on #1617
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01617/joss.01617/10.21105.joss.01617.pdf)

[2019-08-02 18:58] danielskatz commented on #1317
Sorry for the delay in seeing this - I was expecting you to say you had merged the PR, which would have led to a GH notification.  @labarba - this was in the midst of acceptance, perhaps as the on-duty @openjournals/joss-eics you can continue the process

[2019-08-02 18:59] labarba commented on #1624
@bwoshea — if you make changes to the paper, you can run `@whedon generate pdf` right here to get our bot to attempt compilation.

[2019-08-02 19:00] whedon opened #1625 "[PRE REVIEW]: SMBLtoODEpy: A software program for converting SBML models into ODE models in Python"
**Submitting author:** @ashleefv (<a href="http://orcid.org/0000-0001-9059-5703">Ashlee N. Ford Versypt</a>)
**Repository:** <a href="https://github.com/SMRuggiero/sbmltoodepy" target ="_blank">https://github.com/SMRuggiero/sbmltoodepy</a>
**Version:** v.1.0.2
**Editor:** @mgymrek
**Reviewers:** @SirSharpest, @marouenbg

**Author instructions**

Thanks for submitting your paper to JOSS @ashleefv.

[2019-08-02 19:00] whedon commented on #1625
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-02 19:00] whedon commented on #1625
[code]

[2019-08-02 19:00] whedon commented on #1625
PDF failed to compile for issue #1625 with the following error:

 Error reading bibliography ./paper.bib (line 14, column 5):
unexpected "t"
expecting space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-02 19:03] labarba commented on #1623
@whedon generate pdf

[2019-08-02 19:03] whedon commented on #1623
[code]

[2019-08-02 19:04] whedon commented on #1623
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01623/joss.01623/10.21105.joss.01623.pdf)

[2019-08-02 19:07] labarba commented on #1623
@arfon — the submitting author suggested you as handling editor. Could you take it?

**GoFish: Fishing for Line Observations in Protoplanetary Disks**
https://github.com/richteague/gofish
[ Article proof :page_facing_up: ](https://github.com/openjournals/joss-papers/blob/joss.01623/joss.01623/10.21105.joss.01623.pdf)

[2019-08-02 19:13] pankajkmishra commented on #1173
@whedon generate pdf

[2019-08-02 19:13] whedon commented on #1173
[code]

[2019-08-02 19:14] whedon commented on #1173
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01173/joss.01173/10.21105.joss.01173.pdf)

[2019-08-02 19:28] pankajkmishra commented on #1173
@kyleniemeyer I have updated the paper showing better clarity for the value addition:
Added the statistics toolbox  dependency as @vijaysm had suggested.  However, I couldn't make a similar 3D extension of it at the moment and it continues to be in the future work section. If the present form of the repository does not qualify to be listed in JOSS, I would be happy to withdraw the submission :)
P.

[2019-08-02 19:39] xuanxu commented on #1624
@labarba I can’t take this right now, sorry. I’ll be mostly offline next week. I’d prefer you find another editor for this one.

[2019-08-02 19:40] danielskatz commented on #1624
@whedon assign @danielskatz as editor

[2019-08-02 19:40] whedon commented on #1624
OK, the editor is @danielskatz

[2019-08-02 19:43] danielskatz commented on #1624
Hi @bwoshea - suggestions for potential reviewers are very welcome. Please consider people on [this list](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2019-08-02 19:49] danielskatz commented on #1624
@bwoshea - part of the problem with the paper compiling is (or will be) blank ORCIDs - for authors without ORCIDS, remove the blank ORCID line from the .md file

[2019-08-02 19:54] rougier commented on #1598
I'm currently involved in two reviews for JOSS (and I'm on vacation) so it might be better to ask someone else, sorry.

[2019-08-02 19:56] ashleefv commented on #1625
@whedon generate pdf

[2019-08-02 19:56] whedon commented on #1625
[code]

[2019-08-02 19:56] whedon commented on #1625
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01625/joss.01625/10.21105.joss.01625.pdf)

[2019-08-02 19:58] ashleefv commented on #1625
I approve of the proof.

[2019-08-02 19:58] ashleefv commented on #1625
@whedon commands

[2019-08-02 19:58] whedon commented on #1625
Here are some things you can ask me to do:

[code]

[2019-08-02 20:06] kyleniemeyer commented on #1173
Thanks @pankajkmishra.

@vijaysm, do you recommend acceptance based on the changes made?

[2019-08-02 20:27] chennachaos commented on #1441
Fair enough, @likask. Thank you.

[2019-08-02 20:33] rabdill commented on #1533
@csoneson All set! Sorry for the delay.

[2019-08-02 20:50] chennachaos commented on #1441
I have been looking at the documentation. I think that the documentation is quite exhaustive. My main concern with the documentation is in the way the examples are presented. I am yet to test the installation, the examples and the test; I will do this in the coming days. But before that, I have a few comments on the documentation which the authors might want to take into account. The only intentio

[2019-08-02 21:31] Cavenfish commented on #1612
Okay, I have committed the edits to the code and paper.

[2019-08-02 21:31] Cavenfish commented on #1612
@whedon generate pdf

[2019-08-02 21:31] whedon commented on #1612
[code]

[2019-08-02 21:32] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-08-02 21:50] likask commented on #1441
@chennachaos Thanks, that is very useful. We will break down on tasks and start to work on this.  We will begin to remove long command lines.

[2019-08-02 21:58] arfon commented on #1623
@whedon assign @arfon as editor

[2019-08-02 21:58] whedon commented on #1623
OK, the editor is @arfon

[2019-08-02 22:00] arfon commented on #1623
:wave: @richteague, thanks for your submission to JOSS! A couple of quick questions:

- Is this paper accompanying a submission in a AAS publication?
- Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2019-08-02 22:40] marekborowiec commented on #1616
Seems like I didn't set the figure caption correctly. Please try again.

[2019-08-03 01:48] bii-absd commented on #1533
@csoneson, @andreysmelter  and @rabdill - Thank you all!

[2019-08-03 01:53] ShixiangWang commented on #1622
@labarba Yes, this is the package repository. I followed the instruction from https://github.com/ropensci/software-review/issues/315#issuecomment-515795175 to submit a Zenodo DOI instead of GitHub repository. I am sorry if this operation was wrong.

[2019-08-03 07:24] labarba commented on #1622
@arfon — I'm confused. The author was told to "Submit to JOSS using the Zenodo DOI" after acceptance of his software on rOpenSci. We need the software repo URL, so I think there's some confusion here.

[2019-08-03 07:27] labarba commented on #1616
@whedon generate pdf

[2019-08-03 07:27] whedon commented on #1616
[code]

[2019-08-03 07:28] whedon commented on #1616
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01616/joss.01616/10.21105.joss.01616.pdf)

[2019-08-03 07:35] labarba commented on #1624
Perhaps @zingale might be willing to contribute a review for this submission…
—@zingale: ENZO has been submitted to JOSS: could you review?

[2019-08-03 07:51] labarba commented on #1317
@whedon accept

[2019-08-03 07:52] whedon commented on #1317
[code]

[2019-08-03 07:52] whedon commented on #1317
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/879

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/879, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-03 07:54] csoneson commented on #1533
@whedon accept

[2019-08-03 07:54] whedon commented on #1533
[code]

[2019-08-03 07:55] whedon commented on #1533
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/880

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/880, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-03 07:55] csoneson commented on #1533
@openjournals/joss-eics - over to you!

[2019-08-03 07:58] labarba commented on #1317
@CamDavidsonPilon — the listing on the bottom of page 2 bleeds into the margin. Could you add some line breaks to make that render better?

[2019-08-03 08:01] csoneson commented on #1434
I'm sorry, I'm probably missing the point, but could you not just add "the CENSUR working survival group" as another author in the markdown yaml header?

[2019-08-03 08:02] labarba commented on #1317
Also, I had a look at the Zenodo archive here: http://doi.org/10.5281/zenodo.805993
It shows a long list of authors, possibly an automatic listing from the commits.

We request that authors modify the Zenodo-archive metadata so that the title and author list match the JOSS paper. You may also want to add your ORCID to the metadata.

[2019-08-03 08:16] labarba commented on #1616
👋 @csoneson — the submitting author suggested you as handling editor. Could you take this one?

**Spruceup: fast and flexible identification, visualization, and removal of outliers from large multiple sequence alignments**
https://github.com/marekborowiec/spruceup
[ Article proof :page_facing_up: ](https://github.com/openjournals/joss-papers/blob/joss.01616/joss.01616/10.21105.joss.01616.pdf)

[2019-08-03 08:19] csoneson commented on #1434
@fauvernierma - could you please clarify why you would like to add a group author at this stage, and what are the contributions to the submission? According to the JOSS authorship guidelines (https://joss.readthedocs.io/en/latest/submitting.html#authorship), purely financial or organizational contributions, for example, are not sufficient for inclusion among the authors.

[2019-08-03 08:28] labarba commented on #1533
@whedon accept deposit=true

[2019-08-03 08:28] whedon commented on #1533
[code]

[2019-08-03 08:29] whedon commented on #1533
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1157569164275519488) 👈 🐦🐦🐦

[2019-08-03 08:29] whedon commented on #1533
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/881
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01533](https://doi.org/10.21105/joss.01533)
2. If everything looks go

[2019-08-03 08:30] labarba commented on #1533
Congratulations, @bii-absd, your JOSS paper is published! 🚀

Sincere thanks to our editor: @csoneson, and the reviewers: @rabdill, @andreysmelter — we really appreciate your contributions to JOSS 🙏

[2019-08-03 08:30] #1533 closed

[2019-08-03 08:30] whedon commented on #1533
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01533/status.svg)](https://doi.org/10.21105/joss.01533)

**We need your help!**

Journal of Open Source Softwa

[2019-08-03 08:32] csoneson commented on #1616
@whedon assign @csoneson as editor

[2019-08-03 08:32] whedon commented on #1616
OK, the editor is @csoneson

[2019-08-03 08:37] labarba commented on #1617
👋  @lheagy — Could you handle this JOSS submission as editor? (You might get @fperez to review it: I know he was capturing data from his sleep at one point!)

**SleepPy: A python package for sleep analysis from accelerometer data**
https://github.com/elyiorgos/sleeppy
[ Article proof :page_facing_up:](https://github.com/openjournals/joss-papers/blob/joss.01617/joss.01617/10.21105.joss.01617.pdf)

[2019-08-03 08:41] csoneson commented on #1616
@whedon check references

[2019-08-03 08:41] whedon commented on #1616
[code]

[2019-08-03 08:44] whedon commented on #1616
[code]

[2019-08-03 08:47] labarba commented on #1625
👋  @mgymrek — the submitting author suggested you as handling editor. Could you take this one?

**SMBLtoODEpy: A software program for converting SBML models into ODE models in Python**
https://github.com/SMRuggiero/sbmltoodepy
[ Article proof :page_facing_up: ](https://github.com/openjournals/joss-papers/blob/joss.01625/joss.01625/10.21105.joss.01625.pdf)

[2019-08-03 08:50] csoneson commented on #1616
Ok, not exactly sure what just happened with the reference check, that looks a bit excessive...

Anyway - @marekborowiec, do you have suggestions for reviewers that would be suitable for your submission (e.g. from the list linked in the first post in this issue)?

While we are looking for reviewers, could you also fix a couple of small things in the paper:
- [ ] remove the "editor" line in the .bi

[2019-08-03 09:08] labarba commented on #1615
👋  @mbobra — Could you handle this new JOSS submission as editor?

**Rudi: Lightweight image converter and dataset augmentor**
https://github.com/liashchynskyi/rudi
[ Article proof :page_facing_up: ](https://github.com/openjournals/joss-papers/blob/joss.01615/joss.01615/10.21105.joss.01615.pdf)

[2019-08-03 11:05] SaskiaFreytag commented on #1596
@whedon commands

[2019-08-03 11:05] whedon commented on #1596
Here are some things you can ask me to do:

[code]

[2019-08-03 11:05] SaskiaFreytag commented on #1596
@whedon check references

[2019-08-03 11:06] whedon commented on #1596
[code]

[2019-08-03 11:06] whedon commented on #1596
[code]

[2019-08-03 13:18] Amudtogal commented on #1326
As of now, the tests are on the master branch :smiley:
It might take a week until the Travis Setup is activated (as I do not have access to the phobos-owning github account), however the e-mail for this is sent already.
The latest build can be found on my fork Travis (https://travis-ci.org/Amudtogal/phobos) and works as intended.
As soon as the Travis Setup is activated, I will write again!
Thanks

[2019-08-03 13:24] gkthiruvathukal commented on #1326
@Amudtogal Ok, great! I am already happy with what you're demonstrating here (your latest build). Hopefully, you can get the photos owner to authorize Travis. Then approval will be almost spontaneous. I'm looking forward to accepting your submission and appreciate your work on the last mile (or last kilometer). We're almost there.

[2019-08-03 13:52] frycast commented on #1587
Thanks @arokem ! On another note, we just noticed a typo in the address of author Pierre Orban (saying "Monstreal" instead of "Montreal"). Should I update that on the repo now and recompile?

[2019-08-03 14:29] zingale commented on #1624
yes, I can do this, but as it is quite a big code, it would be useful to have additional reviewer(s).

[2019-08-03 14:40] labarba commented on #1624
Oh, yes, absolutely! We've defaulted to a minimum of two reviewers in JOSS now. But maybe here we need three? Do you know anyone you might recommend?

[2019-08-03 14:40] labarba commented on #1624
@whedon assign @zingale as reviewer

[2019-08-03 14:41] whedon commented on #1624
OK, the reviewer is @zingale

[2019-08-03 14:59] danielskatz commented on #1624
Hey @labarba - do you want to take over editing this one?

[2019-08-03 15:24] labarba commented on #1624
👋  @bwoshea — to stave off any confusion: I am the Associate-Editor-in-Chief on rotation this week, and generally pushing things along for new submissions (or stuck ones). @danielskatz volunteered to be your handling editor, and will take this into review.

[2019-08-03 16:18] labarba commented on #1624
@danielskatz — here's a lead for you for another potential reviewer
https://github.com/r-j-arnold
https://software.ac.uk/about/fellows/becky-arnold

[2019-08-03 16:38] zingale commented on #1624
Maybe @rtfisher would be interested in reviewing.

[2019-08-03 18:23] CamDavidsonPilon commented on #1317
Okay, both those should be done @labarba

[2019-08-03 18:35] ThomasPak commented on #1618
@jedbrown Thanks for the resources on writing contributing guidelines. I have now added a [CONTRIBUTING.md](https://github.com/ThomasPak/pakman/blob/master/CONTRIBUTING.md), as well as a [CODE_OF_CONDUCT.md](https://github.com/ThomasPak/pakman/blob/master/CODE_OF_CONDUCT.md). Apologies for the delay, this is my first open source project so it is all a bit new to me.

After discussing the naming ma

[2019-08-03 18:36] labarba commented on #1317
I see your latest tagged release is v0.22.2, but here we have 0.21.1 — could you double check which version we should be associating the JOSS paper with?

[2019-08-03 18:37] labarba commented on #1317
Also, the Zenodo archive shows the repo name as title. Could you edit the metadata to match the JOSS paper title?

[2019-08-03 18:41] kevinrue commented on #1596
@lpantano Both reviewers have ticked all our respective boxes. Let us know if you need anything else from us!

[2019-08-03 18:42] danielskatz commented on #1624
👋 @r-j-arnold - please let me know if you would be willing to review this for JOSS

[2019-08-03 18:43] danielskatz commented on #1624
@zingale - thanks - you were actually suggested to me by some else as well, so it's great to have you on board.  We'll need to wait for some changes to the paper so that it compiles, and a second reviewer, then we'll start the reviews

[2019-08-03 19:13] CamDavidsonPilon commented on #1317
If I change the JOSS paper to be associated to 0.22.2, does it need to be re-reviewed, etc.? If not, v0.22.2 is correct.

[2019-08-03 19:48] rtfisher commented on #1624
I'm happy to pitch in the reviewing.

[2019-08-03 19:58] r-j-arnold commented on #1624
Hi @danielskatz I'm afraid I'm submitting my thesis and moving to america in the next few weeks so I wouldn't be able to do this in a timely fashion. Since Robert and Michael have now said yes, it may be best to proceed with them.

[2019-08-03 20:53] danielskatz commented on #1624
Thanks @rtfisher, and no worries, @r-j-arnold
We'll start the reviews once @bwoshea makes the needed changes in the paper

[2019-08-03 20:53] danielskatz commented on #1624
@whedon add @rtfisher as reviewer

[2019-08-03 20:53] whedon commented on #1624
OK, @rtfisher is now a reviewer

[2019-08-03 22:57] labarba commented on #1317
@whedon set v0.22.2 as archive

[2019-08-03 22:58] whedon commented on #1317
v0.22.2 doesn't look like an archive DOI.

[2019-08-03 22:59] labarba commented on #1317
@whedon set v0.22.2 as version

[2019-08-03 22:59] whedon commented on #1317
OK. v0.22.2 is the version.

[2019-08-04 04:09] lpantano commented on #1596
Thank you so much, @kevinrue and @SaskiaFreytag!, I’ll move to final steps then.

[2019-08-04 04:17] vijaysm commented on #1173
@pankajkmishra Thanks for the description update.

@kyleniemeyer While the updated paper makes the application space clearer than before, I would like to reiterate that the work on NodeLab still remains incremental. Node generation support for 3-D volumes or surfaces would certainly compel me to accept the paper. Also, other open-source Matlab packages by Per-Olof Persson (Distmesh [1]) and by Dar

[2019-08-04 07:48] labarba commented on #1317
@whedon accept

[2019-08-04 07:48] whedon commented on #1317
[code]

[2019-08-04 07:49] whedon commented on #1317
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/882

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/882, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-04 08:01] labarba commented on #1317
@CamDavidsonPilon — just one more tweak on the comment line that bleeds into the margin, please!

[2019-08-04 08:02] labarba commented on #1317
You can run `@whedon generate pdf` right here to see the proof.

[2019-08-04 08:27] fauvernierma commented on #1434
Of course,

I would like to add the contribution of a working group that all the other authors and I are a part of. This CENSUR project involves our team and other teams from other European countries. It is cited as an author for the method article as it offers guidelines and subjects for future work and the method article and survPen are related to one of said subject.

Do you think it is possibl

[2019-08-04 09:47] bwoshea commented on #1624
@labarba thank you for all of the information!  I just made some updates to the repository and will test it momentarily.

Regarding repositories, would it be fine if we moved the paper to a subdirectory called 'method-paper-JOSS-2019' within our code repository?  It's a bit unclear from the JOSS submission instructions.  I can do that essentially immediately.

[2019-08-04 09:48] bwoshea commented on #1624
@whedon generate pdf

[2019-08-04 09:48] whedon commented on #1624
[code]

[2019-08-04 09:48] whedon commented on #1624
PDF failed to compile for issue #1624 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1624/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/

[2019-08-04 09:48] bwoshea commented on #1624
@danielskatz  Thank you!  @rtfisher and @zingale would be great reviewers.

[2019-08-04 10:00] bwoshea commented on #1624
@whedon generate pdf

[2019-08-04 10:00] whedon commented on #1624
[code]

[2019-08-04 10:01] whedon commented on #1624
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01624/joss.01624/10.21105.joss.01624.pdf)

[2019-08-04 10:02] labarba commented on #1624
You could do that. Our bot [`@whedon`](https://joss.readthedocs.io/en/latest/whedon.html) knows how to look into folders for the paper source. You can also put the paper in a branch, in which case the command to compile will be `@whedon generate pdf from branch <branch-name>`. In any case, we will have to change the repository listed here by editing the top comment. Let us know the URL here.

[2019-08-04 10:06] labarba commented on #1624
@arfon — have a look at this compiled [article proof](https://github.com/openjournals/joss-papers/blob/joss.01624/joss.01624/10.21105.joss.01624.pdf). With a very long author list, the margin decorators get pushed to the bottom of the page, colliding with the footer. This may require some change to the paper template.

[2019-08-04 10:08] bwoshea commented on #1624
@whedon generate pdf

[2019-08-04 10:09] whedon commented on #1624
[code]

[2019-08-04 10:09] whedon commented on #1624
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01624/joss.01624/10.21105.joss.01624.pdf)

[2019-08-04 10:12] bwoshea commented on #1624
@whedon generate pdf

[2019-08-04 10:12] whedon commented on #1624
[code]

[2019-08-04 10:12] whedon commented on #1624
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01624/joss.01624/10.21105.joss.01624.pdf)

[2019-08-04 10:15] bwoshea commented on #1624
@labarba @arfon I've made a few updates to the repo to fix a few formatting issues, but the link @labarba shared a few minutes ago seems to point to the correct PDF.  Thanks to all for the suggestions about how to sort out the compilation issue!

[2019-08-04 10:17] bwoshea commented on #1624
Understood.  Let me check with the other Enzo developers regarding how they wish to do that.  Would it be OK to proceed with the review using the current repository for the moment?

[2019-08-04 10:31] labarba commented on #1624
I believe so.
@arfon — does manually editing the URL to the software repository on the top comment of the Review issue update the link on the paper's front page in subsequent compilations?

[2019-08-04 10:32] arfon commented on #1624
It does not but I can fix up the JOSS site so that it will.

[2019-08-04 11:02] bwoshea commented on #1624
Excellent, thanks!  I just messaged all of the Enzo developers, and we'll move on the repository issue pretty quickly as soon as we reach consensus (meaning on the 2-3 day time frame, given the number of developers).

[2019-08-04 11:04] labarba commented on #1411
@snowformatics — Could we have a status update on your revisions? I see you were moving back in June, but hopefully things have settled for you. If not, and you will need extended time to work on your submission, it would help if you let us know and we can add the "paused" label here.

[2019-08-04 11:08] labarba commented on #1453
@alexhanna — did you ever hear back from @jameshclrk about this review?
The author has made changes to the software, but the review remains inactive for more than a month now. Please have a look.

[2019-08-04 11:14] labarba commented on #1371
@artivis — could we have a status update on your revision?

@poulson — one reviewer (@jordigh) has all items unchecked still; have you given up on their review?

[2019-08-04 11:18] labarba commented on #1508
@alexhanna — reviewer @mkearney seems to have gone MIA: could you try reaching out via email to get a status update? The other reviewer has completed his checklist.

[2019-08-04 11:25] labarba commented on #1468
@andreas-h — it looks like this review is waiting for you to complete it... could you give us all an update?

[2019-08-04 11:30] labarba commented on #1466
hey @abhishektha ... do you have updates with regards to the documentation? As to your question, if you could get someone to contribute some functionality checks to this review, that would good, give the restrictions we face.

[2019-08-04 11:31] labarba commented on #1509
@sayanddude — can you give us a status update? If you will need considerable more time, it would help if you let us know and we can add a "paused" label here.

[2019-08-04 11:35] labarba commented on #1461
@katyhuff — have you had any success looking for alternate reviewers?

[2019-08-04 11:38] labarba commented on #1486
@katyhuff — it looks like both reviewers have completed their checklists here. What's the status of this submission?

[2019-08-04 11:40] labarba commented on #1500
@mgymrek — it looks like the author is waiting for a response here: what's the status of this submission?

[2019-08-04 12:18] sayanddude commented on #1509
@labarba - Hi! We are almost done addressing all the comments of the reviewer. We are now at the final stages of creating the unit test for the package. Please give us a couple of more days, we will update the code repository along with the updated paper by Tuesday (6th Aug, 2019) end of the day. Thanks!

[2019-08-04 12:21] CamDavidsonPilon commented on #1317
@whedon generate pdf

[2019-08-04 12:21] whedon commented on #1317
[code]

[2019-08-04 12:22] whedon commented on #1317
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01317/joss.01317/10.21105.joss.01317.pdf)

[2019-08-04 12:44] arfon commented on #1624
Thanks for spotting this. This is something we'll have to fix at the end of the review as I'll have to manually override the margin formatting for this paper.

[2019-08-04 16:04] kyleniemeyer commented on #1173
Hi @vijaysm, thanks for your input.

I should point out that JOSS does not reject submissions for novelty, originality, or impact; instead, we only reject when the authors are unwilling to improve the software to meet our standards. Since both you and @Kevin-Mattheus-Moerman have checked off all the review items, and it doesn't seem like there are any remaining items of that nature, I am going to

[2019-08-04 16:52] kyleniemeyer commented on #1525
Hi @FelixHenninger, just wanted to check in our your review—thanks!

[2019-08-04 16:54] kyleniemeyer commented on #1005
Hi @rljacobson, just checking in on the status of your review. Thanks!

[2019-08-04 17:22] labarba commented on #1317
@whedon accept deposit=true

[2019-08-04 17:22] whedon commented on #1317
[code]

[2019-08-04 17:23] whedon commented on #1317
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1158065976501526529) 👈 🐦🐦🐦

[2019-08-04 17:23] whedon commented on #1317
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/883
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01317](https://doi.org/10.21105/joss.01317)
2. If everything looks go

[2019-08-04 17:25] labarba commented on #1317
Congratulations, @CamDavidsonPilon, your JOSS paper is published! 🚀

Huge thanks to our editor: @trallard, and the reviewers: @becarioprecario, @sunhwan — we greatly appreciate your contribution to JOSS 🙏

[2019-08-04 17:26] #1317 closed

[2019-08-04 17:26] whedon commented on #1317
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01317/status.svg)](https://doi.org/10.21105/joss.01317)

**We need your help!**

Journal of Open Source Softwa

[2019-08-04 17:51] mgymrek commented on #1256
Great, thanks for the changes. This looks good.

To prepare for publication can you:

* Fix the following minor typos:
"few text mining R packages in Italian language" -> "few text mining R packages in the Italian language"
"main differences ... is... " -> "main differences ...are..."
"extract users communication pattern" -> "extract users' communication patterns"

* Please add DOIs to all referen

[2019-08-04 17:57] mgymrek commented on #1500
Thanks for the updates. @Benjamin-Lee can you also finish going throug the checklist after these revisions to see if remaining requirements are met?

One point: the pip version is 0.2.0 but the version listed on this review is v1.0.0. Which one is the most recent release?

[2019-08-04 18:05] mgymrek commented on #1625
@labarba Sure I can take this one.

[2019-08-04 18:05] mgymrek commented on #1625
@whedon assign @mgymrek as editor

[2019-08-04 18:05] whedon commented on #1625
OK, the editor is @mgymrek

[2019-08-04 18:17] Cavenfish commented on #1612
@arosen93  Your comments on the paper were greatly appreciated! I have made revisions to the paper taking your comments into account, and I believe it has strengthened the paper.

I look forward to hearing more comments from you all.

[2019-08-04 18:17] Cavenfish commented on #1612
@whedon generate pdf

[2019-08-04 18:17] whedon commented on #1612
[code]

[2019-08-04 18:17] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-08-04 20:54] henrikmidtiby commented on #1619
@labarba
The JOSS paper was added to the repository in this commit
https://github.com/henrikmidtiby/PorpoiseTracker/commit/4e079085983324f23651395fdaf9691ab85dc2db

@kthyng
I would suggest the following reviewers based on their descriptions on the list and I have also mentioned why I thinkt they are applicable.
nicoguaro, due to physics and math background
krother, due to biology background
sealhu

[2019-08-04 21:08] vijaysm commented on #1173
@kyleniemeyer Fair enough. In that case, the description update from @pankajkmishra was all that was needed to make the submission complete for me.

[2019-08-04 21:35] kthyng commented on #1619
I’m going to mark myself out of office bc I’m traveling but I’ll still be checking in every couple days.

[2019-08-04 21:35] kthyng commented on #1619
/ooo August 4 to August 22

[2019-08-04 21:36] kthyng commented on #1619
Ill check back in tonight or tomorrow to follow up on reviewers!

[2019-08-04 22:39] usethedata commented on #1558
@ionlights Sorry to have been out of communication, and I really thought I'd responded to your question.  Don't worry about training time in any absolute sense.  Anything you can do in a reasonable amount of time that checks for qualitative agreement with their claims is appreciated.

[2019-08-04 22:40] usethedata commented on #1608
@kellieotto Just checking in (I've been off-line working a major proposal and getting my house on the market to sell).  Any questions?

[2019-08-04 22:42] usethedata commented on #1513
@fiveop I'm checking back in after getting through a major proposal and putting my house on the market to sell.  The main thing we're waiting for at this point is for you to create a tagged release, archive at Zenodo, and report the DOI back here.  Let me know if you have any questions.  And thanks to @labarba for helping to push this forward.

[2019-08-04 22:52] usethedata commented on #1532
Thanks.  I've done some basic work with this today, and I'll go through and finish my review in the next couple of days.  Thanks, to @FaustinCarter for your work in thinking through constructive suggestions for the authors.

[2019-08-04 22:54] usethedata commented on #1542
Bumping issue.  I've reached out to @monogan and @andrewheiss via email.

[2019-08-04 22:57] usethedata commented on #1588
@dntrinca My apologies for being less responsive than I should.  It's been a crazy week. I'll go over things and start working on getting reviewers.

[2019-08-04 23:09] alexanderimanicowenrivers commented on #1524
I hope you had a nice holiday @desilinguist , I look forward to hearing back from you and @paragkulkarni11

[2019-08-04 23:45] katyhuff commented on #1486
@labarba Thank you for the ping.

@pshriwise and @kellyrowland Thank you for your reviews -- we couldn't do this without you.

@ryanstwrt Thank you for your submission and for engaging actively in the review process! I have looked over the paper, double-checked all the DOI links, and have conducted a high-level review of the code itself. Thank you for handling my remaining comments.

Everything lo

[2019-08-05 00:18] monogan commented on #1542
Yes, I'm still glad to do this review. When is the due date?

[2019-08-05 01:09] usethedata commented on #1542
The target is 2-3 weeks of when the review issue opened.  So, the sooner you can get to it, the better.  Thanks.

[2019-08-05 01:31] lheagy commented on #1617
Happy to @labarba!

[2019-08-05 01:32] lheagy commented on #1617
👋 Hi @elyiorgos, do you have any recommendations for reviewers?

[2019-08-05 01:59] ShixiangWang commented on #1622
@labarba Maybe rOpenSci should update the approval comment template.

Could you help me correct the repository URL?

I still see the Zenodo DOI, but I cannot edit it.

![image](https://user-images.githubusercontent.com/25057508/62433587-94f35400-b767-11e9-9331-29c6f9e7bd5c.png)

[2019-08-05 03:21] FaustinCarter commented on #1532
I think I'm about ready to recommend for publication on my end. The image links in the updated markdowns are broken though. I'd suggest using relative image links in the files so that you don't have to update all the image links every time a new commit/version happens.

Also, in the paper, the references should list a DOI (or equivalent for arxiv).

Once those are fixed, the version number is bump

[2019-08-05 03:35] FaustinCarter commented on #1568
In theory, yes. In practice, it depends on whether I can get IgorPro 8 to give me another trial period. I have an older license, but this code does not appear to be backwards compatible. Give me a couple days and I'll have a definite. If you find a different reviewer in the meantime, that is also fine.

[2019-08-05 03:36] andrewheiss commented on #1542
Ahhh, sorry! I moved across the country to start a new job and this got dropped from my todo list. I'll get to it ASAP.

[2019-08-05 03:51] igarizio commented on #1591
Hello @gus0k 👋,
Great work on PyMarket! It is really well written and nicely documented. Also, the idea behind it seems really useful.

Here are some of my comments:

- Software version: This may be silly, but I prefer to ask. The review states v0.7.4 but your last version is v0.7.5, I suppose you want to publish the last version, right? (@alexhanna if that is the case, is it possible to just chan

[2019-08-05 06:10] brainstorm commented on #1552
@whedon assign @rougier as reviewer

[2019-08-05 06:10] whedon commented on #1552
OK, the reviewer is @rougier

[2019-08-05 06:11] brainstorm commented on #1552
@whedon add @satra as reviewer

[2019-08-05 06:11] whedon commented on #1552
OK, @satra is now a reviewer

[2019-08-05 06:11] brainstorm commented on #1552
@whedon start review

[2019-08-05 06:11] whedon opened #1626 "[REVIEW]: neurone_loader: A Python module for loading EEG data recorded with Bittium NeurOne"
**Submitting author:** @heilerich (<a href="http://orcid.org/0000-0002-9068-2679">Felix Heilmeyer</a>)
**Repository:** <a href="https://github.com/heilerich/neurone_loader" target ="_blank">https://github.com/heilerich/neurone_loader</a>
**Version:** v1.1.0
**Editor:** @brainstorm
**Reviewer:** @rougier, @satra
**Archive:** <a href="https://doi.org/10.5281/zenodo.3468534" target="_blank">10.5281/z

[2019-08-05 06:11] whedon commented on #1552
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1626. Feel free to close this issue now!

[2019-08-05 06:11] whedon commented on #1626
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rougier, @satra it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2019-08-05 06:11] whedon commented on #1626
[code]

[2019-08-05 06:11] #1552 closed

[2019-08-05 06:12] whedon commented on #1626
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01626/joss.01626/10.21105.joss.01626.pdf)

[2019-08-05 07:31] labarba commented on #1617
@whedon assign @lheagy as editor

[2019-08-05 07:31] whedon commented on #1617
OK, the editor is @lheagy

[2019-08-05 07:33] labarba commented on #1622
@whedon generate pdf

[2019-08-05 07:33] whedon commented on #1622
[code]

[2019-08-05 07:33] whedon commented on #1622
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01622/joss.01622/10.21105.joss.01622.pdf)

[2019-08-05 07:44] ShixiangWang commented on #1622
Amazing!

[2019-08-05 07:50] labarba commented on #1486
Before the archive, we will need a new tagged release with all the changes during this review
https://github.com/ryanstwrt/FRIDGe/releases

[2019-08-05 09:00] fiveop commented on #1513
I was away from work for two weeks. I should get to it today or tomorrow.

[2019-08-05 09:47] tleonardi commented on #1610
Hi @holtgrewe, I'm in the process of reviewing the submission and still have to test its functionality.
In the meantime I have a couple of comments.

I've noticed that the paper lists "Mathias Kuhring, Mikko Nieminen, Jennifer Kirwan, Dieter Beule and Manuel Holtgrewe" as authors. However, `AUTHORS.rst` and the Credits section of the docs only report Kuhring, Nieminen and Holtgrewe (with commits o

[2019-08-05 09:52] dntrinca commented on #1588
@usethedata Dear Bruce, That is very good, I am looking forward to hear from you soon. Best, D Narcis

[2019-08-05 11:39] arfon commented on #1622
Yes, that's not correct. @ShixiangWang - could you point me to the documentation from rOpenSci that asks for this?

[2019-08-05 11:41] arfon commented on #1622
@whedon assign @arfon as editor

[2019-08-05 11:41] whedon commented on #1622
OK, the editor is @arfon

[2019-08-05 11:41] arfon commented on #1622
@whedon assign @arfon as reviewer

[2019-08-05 11:41] whedon commented on #1622
OK, the reviewer is @arfon

[2019-08-05 11:41] arfon commented on #1622
@whedon start review

[2019-08-05 11:41] whedon opened #1627 "[REVIEW]: The UCSCXenaTools R package: a toolkit for accessing genomics data from UCSC Xena platform, from cancer multi-omics to single-cell RNA-seq"
**Submitting author:** @ShixiangWang (<a href="http://orcid.org/0000-0001-9855-7357">Wang Shixiang</a>)
**Repository:** <a href="https://github.com/ropensci/UCSCXenaTools" target ="_blank">https://github.com/ropensci/UCSCXenaTools</a>
**Version:** v1.2.5
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.3358530" target="_blank">10.5281/zenodo.3358530</a>

[2019-08-05 11:41] whedon commented on #1622
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1627. Feel free to close this issue now!

[2019-08-05 11:41] whedon commented on #1627
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently watch

[2019-08-05 11:41] whedon commented on #1627
[code]

[2019-08-05 11:41] #1622 closed

[2019-08-05 11:42] whedon commented on #1627
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01627/joss.01627/10.21105.joss.01627.pdf)

[2019-08-05 11:42] arfon commented on #1627
Accepting this submission as it's already been [accepted by rOpenSci](https://github.com/ropensci/software-review/issues/315)

[2019-08-05 11:46] arfon commented on #1627
@whedon set 10.5281/zenodo.3358530 as archive

[2019-08-05 11:46] whedon commented on #1627
OK. <a href="https://doi.org/10.5281/zenodo.3358530" target="_blank">10.5281/zenodo.3358530</a> is the archive.

[2019-08-05 11:46] arfon commented on #1627
@whedon accept

[2019-08-05 11:46] whedon commented on #1627
[code]

[2019-08-05 11:46] whedon commented on #1627
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/884

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/884, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-05 11:47] arfon commented on #1627
@whedon accept deposit=true

[2019-08-05 11:47] whedon commented on #1627
[code]

[2019-08-05 11:48] whedon commented on #1627
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1158344032432640000) 👈 🐦🐦🐦

[2019-08-05 11:48] whedon commented on #1627
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/885
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01627](https://doi.org/10.21105/joss.01627)
2. If everything looks go

[2019-08-05 11:49] lpantano commented on #1540
👋 @giraola, any update in the review? Thanks!

[2019-08-05 11:50] arfon commented on #1627
@ShixiangWang - your submission is now accepted into JOSS :zap::rocket::boom:

[2019-08-05 11:50] #1627 closed

[2019-08-05 11:50] whedon commented on #1627
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01627/status.svg)](https://doi.org/10.21105/joss.01627)

**We need your help!**

Journal of Open Source Softwa

[2019-08-05 11:50] lpantano commented on #1596
@whedon generate pdf

[2019-08-05 11:50] whedon commented on #1596
[code]

[2019-08-05 11:51] whedon commented on #1596
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01596/joss.01596/10.21105.joss.01596.pdf)

[2019-08-05 12:28] richteague commented on #1623
Hi @arfon!

No, this paper should be a stand alone, although the methods have previously been described in various AAS articles.

For reviewers, I could suggest ygrange, nespinoza or zhampel, although I'd be happy with any reviewer that's familiar with astronomy.

[2019-08-05 12:36] ShixiangWang commented on #1622
@arfon It's from to do list at here https://github.com/ropensci/software-review/issues/315#issuecomment-515795175

[2019-08-05 12:41] torressa commented on #1571
Based on the expertise listed in the database, I would suggest the following reviewers:
@stsievert
@oesteban
@sarats
@andim
@sjvrijn

[2019-08-05 12:43] frycast commented on #1587
@whedon generate pdf

[2019-08-05 12:43] whedon commented on #1587
[code]

[2019-08-05 12:44] whedon commented on #1587
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01587/joss.01587/10.21105.joss.01587.pdf)

[2019-08-05 12:49] frycast commented on #1587
Hi @arokem  @jminner @klmedeiros. I've updated the typo in the author's affiliation and recompiled the pdf. How is it looking now?

[2019-08-05 12:52] ShixiangWang commented on #1627
@arfon Amazing. Thanks a lot :).

[2019-08-05 13:08] CamDavidsonPilon commented on #1317
Thanks @labarba, @trallard, @becarioprecario and @sunhwan!

[2019-08-05 13:25] lpantano commented on #1596
Hi @beringresearch, can you create a Zenodo archive from your github and make sure it matches the title and authors of the paper?, thanks

[2019-08-05 13:26] csoneson commented on #1434
Thank you for the clarification! To me this sounds like an "organizational contribution"; however I would like to check with the current AEiC on duty for their opinion as well @openjournals/joss-eics

[2019-08-05 13:27] idroz commented on #1596
Hi @lpantano , Zenodo archive should have already been created - https://zenodo.org/record/3268357#.XUguXi2ZPOQ

[2019-08-05 13:37] lpantano commented on #1596
@whedon set 10.5281/zenodo.3360569 as archive

[2019-08-05 13:37] whedon commented on #1596
OK. <a href="https://doi.org/10.5281/zenodo.3360569" target="_blank">10.5281/zenodo.3360569</a> is the archive.

[2019-08-05 13:38] lpantano commented on #1596
@openjournals/joss-eics, reviewers are done, please, let us know if this is ready to go. Thanks everybody!

[2019-08-05 13:41] kevinrue commented on #1596
Argh, @lpantano was too fast for me. Here is what I was just typing:

As flattered as I am to be listed as a co-author on the citation in ZENODO

I think what Lorena needs (if it's possible) would be to only have " Ignat Drozdov & Benjamin Szubert" as authors.
Also, "beringresearch" is an affiliation rather than an author.

With regards to my contributions to the R package during the review proces

[2019-08-05 13:44] lpantano commented on #1596
Good catch, I checked the previous version. @idroz, if you could update the metadata, please? or if you create a new version let me know, I can update both references. Thanks

[2019-08-05 13:46] desilinguist commented on #1524
@alexanderimanicowenrivers thanks so much for considering my suggestions! I think there has been great progress. However, I still see a couple of issues:

1. I don't see the changes you described in the README in `setup.sh`. For example, I don't see the `mac_package_manaager` variable anywhere in `setup.sh` in the `master` branch?

2.  I don't see the external documentation linked anywhere from th

[2019-08-05 13:59] idroz commented on #1596
Still getting to know my way around Zenodo! Author list should now be fixed. I have also modified R package DESCRIPTION file to acknowledge @kevinrue contribution. Thanks again!

[2019-08-05 14:04] AliYoussef96 commented on #1500
I updated the pip version to 1.0.0. to give the match with the GitHub release (v1.0.0).

[*The pip version*](https://pypi.org/project/BCAWT/)

[2019-08-05 14:05] lpantano commented on #1596
Thank you @idroz, but you may need to bump the version and get another zenodo. Right now DESCRIPTION in master has @kevinrue  as author, but not the zenodo archive file. It would be possible to create a v 1.2.4 to make sure we point to the final version and the zenodo points to the final version? Thanks!

[2019-08-05 14:14] elyiorgos commented on #1617
Hello! @lheagy, I don't have anyone in particular in mind, though from the available list of reviewers  provided @jminnier, or others with knowledge of python and backgrounds in health, medicine, or a clinical environment would be good choices.

[2019-08-05 14:15] elyiorgos commented on #1617
I found others as well but for some reason was unable to @ them, @nirum for instance, I'm not sure why that is.

[2019-08-05 14:19] idroz commented on #1596
v 1.2.4 released and author details synced across zenodo and GitHub.

[2019-08-05 14:37] lpantano commented on #1596
@whedon set v1.2.4 as version

[2019-08-05 14:37] whedon commented on #1596
OK. v1.2.4 is the version.

[2019-08-05 14:39] lpantano commented on #1596
Thanks, version looks good, and zenode as well, just need to update the title of the zenodo archive. The title should match the title of your paper (ivis: dimensionality reduction in very large datasets using Siamese Networks). thanks.

[2019-08-05 14:41] holtgrewe commented on #1610
@tleonardi Thanks for finding this. Yes, while Beule and Kirwan have contributed no lines of code, they have contributed a lot in terms of software design and domain-specific knowledge, without this, the code would not be where it is now. Also, Nieminen is sitting next to Kuhring in the office and has worked (accumulated certainly hours) with Kuhring in pair programming, discussion, and consulting

[2019-08-05 14:45] idroz commented on #1596
Done.

[2019-08-05 14:47] holtgrewe commented on #1610
@tleonardi And of course, I can add DOIs (just added to `master`).

@whedon generate pdf

[2019-08-05 14:48] holtgrewe commented on #1610
@whedon generate pdf

[2019-08-05 14:49] whedon commented on #1610
[code]

[2019-08-05 14:49] whedon commented on #1610
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01610/joss.01610/10.21105.joss.01610.pdf)

[2019-08-05 14:54] lpantano commented on #1596
@whedon set 10.5281/zenodo.3360634 as archive

[2019-08-05 14:54] whedon commented on #1596
OK. <a href="https://doi.org/10.5281/zenodo.3360634" target="_blank">10.5281/zenodo.3360634</a> is the archive.

[2019-08-05 14:54] lpantano commented on #1596
thanks!

ok, @openjournals/joss-eics , this time for real. I think all makes sense now. Sorry about the noise.

[2019-08-05 14:56] Benjamin-Lee commented on #1500
I’ll get on it!

[2019-08-05 15:29] JonasMoss commented on #1566
@gvegayon Okay! I've addressed the issues. Details are on the Github issues pages.

[2019-08-05 15:39] mailchand commented on #1598
@cMadan  I would perhaps suggest @conradsnicta as a potential reviewer as well. He has C++ experience and also appears to be involved in computer vision and might actually be an ideal reviewer for this small package.

[2019-08-05 15:58] kyleniemeyer commented on #1543
Hi @katyhuff @fcontino just checking in on this.

[2019-08-05 16:09] kthyng commented on #1619
Thanks for your suggestions @henrikmidtiby!

@Scivision and @jizecn Are you interested in reviewing this JOSS submission? We ask for reviews within about 3 weeks, and you can find more information about this process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2019-08-05 16:37] terrytangyuan commented on #1566
@gvegayon Please take another look when you get a chance. Also ping @TrashBirdEcology for review when you are back from traveling.

[2019-08-05 16:43] katyhuff commented on #1543
I'll send an email -- he may not be getting notifications.

[2019-08-05 16:47] kellieotto commented on #1608
Thanks for checking in. I plan to get to it this week, no questions!

On Sun, Aug 4, 2019 at 3:40 PM Bruce Wilson <notifications@github.com>
wrote:

--
Kellie Ottoboni
Ph.D. Statistics '19, University of California, Berkeley
Fellow at Berkeley Institute for Data Science

Mobile: (650) 520-5056
Website: www.kellieottoboni.com

[2019-08-05 17:08] snowformatics commented on #1411
Dear Lorena,

I apologize for my silence. I am working on the revision but the movement
took much longer then expected.  Since yesterday we are settled and now I
am going to work more often on the software.  A paused label would be very
helpful,  I put myself a deadline for end of August.

Thanks for your understanding and tolerance

Stefanie

Am So., 4. Aug. 2019, 13:04 hat Lorena A. Barba <notif

[2019-08-05 17:27] labarba commented on #1411
@whedon remind @snowformatics in 26 days

[2019-08-05 17:27] whedon commented on #1411
Reminder set for @snowformatics in 26 days

[2019-08-05 17:47] Cavenfish commented on #1612
@shivupa @colleeneb @arosen93

Hey, If there is anything I can do to make this review process easier for you three please let me know.

[2019-08-05 17:51] ShanaScogin commented on #1542
Thank you all for reviewing/editing, especially during the busy summer! Let me know if there are any questions or clarifications. We look forward to the review.

[2019-08-05 18:16] melund commented on #1539
I am done with my review. I think pulse more than qualifies for JOSS. It is a really good example of how to structure an open-source software project. With the recent addition of conda-forge package, I am also sure that the library will continue to work in the future.

All in all, nice work @finsberg  👍

[2019-08-05 19:00] andrewheiss commented on #1542
**modeLLtest** is a helpful new package that makes it easy to compare the performance of different models with cross-validated log-likelihood values. It includes two real-world datasets to accompany its examples, and it is fairly well documented. I came across a few issues, noted below. The biggest issue is that some objects are somewhat difficult to use since they're simple R lists without helper

[2019-08-05 19:03] dap-biospec commented on #1532
@FaustinCarter, @usethedata  - links have been fixed. Apologies - while we are learning, we use testing repo to verify content and some replacements slipped through. Relative links is a good idea.

Known DOI have been updated, One of our cited papers will be re-submitted with minor requested revisions tomorrow (8/6/19) and it does not have a DOI yet. The editor did not respond to me regarding post

[2019-08-05 19:09] dap-biospec commented on #1568
@FaustinCarter - I would greatly appreciate it. Please let me know if we can help you with IgorPro 8 in any way. For example, we can set up a remote desktop to one of our computers with IgorPro running site license. I can also reach out to Wavemetrics if you would like.

[2019-08-05 19:38] noamross commented on #1622
Thanks for pointing this out, @ShixiangWang.  @arfon, we'll fix this in our templates.  Has the submission form changed? I seem to remember that one previously had to put the Zenodo DOI into the form (in addition to the repo URL).

[2019-08-05 21:01] mgckind commented on #1614
There is one author that contributed to the repo and appears in the Authors.txt (Nabil Freij) which is not on the paper, is that intentionally? just wondering about not missing anybody. Thanks

[2019-08-05 21:33] FaustinCarter commented on #1568
Either one of those sound like reasonable options to me. If you can make
one of them work I'm on board.

On Mon, Aug 5, 2019 at 12:09 PM dap-biospec <notifications@github.com>
wrote:

[2019-08-05 22:01] leouieda commented on #1574
@whedon add @Fil as reviewer

[2019-08-05 22:01] whedon commented on #1574
OK, @Fil is now a reviewer

[2019-08-05 22:01] leouieda commented on #1574
@whedon start review

[2019-08-05 22:01] whedon opened #1628 "[REVIEW]: Pannellum: a lightweight web-based panorama viewer"
**Submitting author:** @mpetroff (<a href="http://orcid.org/0000-0002-4436-4215">Matthew Petroff</a>)
**Repository:** <a href="https://github.com/mpetroff/pannellum" target ="_blank">https://github.com/mpetroff/pannellum</a>
**Version:** v2.5.3
**Editor:** @leouieda
**Reviewer:** @vsoch, @Fil
**Archive:** <a href="https://doi.org/10.5281/zenodo.3373725" target="_blank">10.5281/zenodo.3373725</a>

[2019-08-05 22:01] whedon commented on #1574
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1628. Feel free to close this issue now!

[2019-08-05 22:01] whedon commented on #1628
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vsoch, @Fil it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2019-08-05 22:01] whedon commented on #1628
[code]

[2019-08-05 22:01] #1574 closed

[2019-08-05 22:03] whedon commented on #1628
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01628/joss.01628/10.21105.joss.01628.pdf)

[2019-08-05 22:04] vsoch commented on #1628
Thanks @whedon! I'll be able to get started on this soon.

[2019-08-05 22:05] leouieda commented on #1628
:wave: @vsoch @Fil thank you for agreeing to review! Please feel free to post your comments on this thread and/or open issues or pull-requests on the software repository. If opening issues or PRs, please remember to mention `openjournals/joss-reviews#1628` so that they are linked back to this thread. This makes it easier for me to monitor the review progress.

@vsoch @Fil @mpetroff please feel fre

[2019-08-05 22:21] arfon commented on #1622
Nope, it's the same as it's always been. 😁

[2019-08-05 23:38] FaustinCarter commented on #1532
Regarding versioning:

It's good practice to put your version somewhere in your code base. Since IGOR doesn't have a well-defined way to do this, two possible (out of many) options are:

 - Use a VERSION.md file
 - Make a wave in your top level .ipf file called "version" and hardcode the number into it

In either case, after you do that and commit, you'll want to add a git tag with the new version

[2019-08-06 00:02] dap-biospec commented on #1532
Thank you, @FaustinCarter.  We have version coded in KinESim as a string constants in the root procedure files. These versions are displayed in GUI "info" dialog and core version is printed in the history (the latest version is 1.7.0a).  Dependencies are checked for the minimal file date stamp (implemented via "#pragma version = yyyymmdd" integer value) and Igor will alert the user if any dependen

[2019-08-06 00:24] dap-biospec commented on #1568
@FaustinCarter  I am asking our IT staff to set up a limited time VPN access for you (I have control of my group our workstations). What email address would you like to use? It would be better if it is more official than GMail (not for me, for administration). If you do not want to post it here, email me directly at dapro@chemistry.msu.edu.

Thanks for understanding!

[2019-08-06 00:52] ryanstwrt commented on #1486
@whedon generate pdf

[2019-08-06 00:52] whedon commented on #1486
[code]

[2019-08-06 00:53] whedon commented on #1486
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01486/joss.01486/10.21105.joss.01486.pdf)

[2019-08-06 01:00] ryanstwrt commented on #1486
@whedon generate pdf

[2019-08-06 01:00] whedon commented on #1486
[code]

[2019-08-06 01:01] whedon commented on #1486
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01486/joss.01486/10.21105.joss.01486.pdf)

[2019-08-06 01:03] arfon commented on #1434
I think that's OK. I'm not exactly how our editorial toolchain will handle this but perhaps you can just add an extra author called `CENSUR project team` with an affiliation of `CENSUR project` or something like that?

[2019-08-06 01:03] arfon commented on #1596
@whedon accept

[2019-08-06 01:03] whedon commented on #1596
[code]

[2019-08-06 01:04] whedon commented on #1596
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/886

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/886, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-06 01:05] arfon commented on #1596
@whedon accept deposit=true

[2019-08-06 01:05] whedon commented on #1596
[code]

[2019-08-06 01:06] whedon commented on #1596
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1158544893356257280) 👈 🐦🐦🐦

[2019-08-06 01:06] whedon commented on #1596
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/887
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01596](https://doi.org/10.21105/joss.01596)
2. If everything looks go

[2019-08-06 01:11] arfon commented on #1596
@SaskiaFreytag, @kevinrue - many thanks for your reviews here and to @lpantano for editing this submission ✨

@beringresearch - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-08-06 01:11] #1596 closed

[2019-08-06 01:11] whedon commented on #1596
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01596/status.svg)](https://doi.org/10.21105/joss.01596)

**We need your help!**

Journal of Open Source Softwa

[2019-08-06 01:16] alexanderimanicowenrivers commented on #1524
Dear @desilinguist,

Apologies, below are the final amendments. We are just working out how to add the badge from shields.io as we speak.

1. See https://github.com/for-ai/rl/pull/18
2. See https://github.com/for-ai/rl/pull/17
3. See https://github.com/for-ai/rl/pull/19

Let me know what you think.

Bests,
Alex

[2019-08-06 01:34] ryanstwrt commented on #1486
I have released a new version of FRIDGe and archived it via Zenodo.
Here is the DOI for the archive: 10.21105/joss.01486
Feel free to let me know if you need anything else.

[2019-08-06 01:53] pankajkmishra commented on #1173
Hey @kyleniemeyer , thanks! I'll do it ASAP.
Thank you @vijaysm @Kevin-Mattheus-Moerman for your valuable inputs.

[2019-08-06 01:56] kyleniemeyer commented on #1532
I can change the version here—is v1.7.0a is the final version?

[2019-08-06 02:02] kyleniemeyer commented on #1568
Great, thanks @FaustinCarter and @dap-biospec for working something out! I'll go ahead and add you as a reviewer and we can get the formal review started.

[2019-08-06 02:02] kyleniemeyer commented on #1568
@whedon add @FaustinCarter as reviewer

[2019-08-06 02:02] whedon commented on #1568
OK, @FaustinCarter is now a reviewer

[2019-08-06 02:02] kyleniemeyer commented on #1568
@whedon start review

[2019-08-06 02:02] whedon opened #1629 "[REVIEW]: G3F: Global, Multidimensional Spectral Regression Analysis"
**Submitting author:** @dap-biospec (<a href="http://orcid.org/0000-0003-4625-0323">Denis Proshlyakov</a>)
**Repository:** <a href="https://github.com/dap-biospec/G3F" target ="_blank">https://github.com/dap-biospec/G3F</a>
**Version:** v1.0a4
**Editor:** @kyleniemeyer
**Reviewer:** @tcausgrove, @FaustinCarter
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/0654a85582980ef

[2019-08-06 02:02] whedon commented on #1568
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1629. Feel free to close this issue now!

[2019-08-06 02:02] whedon commented on #1629
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tcausgrove, @FaustinCarter it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pro

[2019-08-06 02:02] whedon commented on #1629
[code]

[2019-08-06 02:03] whedon commented on #1629
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01629/joss.01629/10.21105.joss.01629.pdf)

[2019-08-06 02:03] #1568 closed

[2019-08-06 02:04] kyleniemeyer commented on #1629
👋 @dap-biospec @tcausgrove @FaustinCarter the review takes place in here

[2019-08-06 02:34] dap-biospec commented on #1532
@kyleniemeyer this is correct, v1.7.0a is the final version unless further changes are requested.

[2019-08-06 02:35] kyleniemeyer commented on #1532
ok, I'll hold off until all the reviews are done. I can set the final version at the acceptance point.

[2019-08-06 03:19] FaustinCarter commented on #1532
Great. I'll check that box off then.

[2019-08-06 05:40] conradsnicta commented on #1598
@cMadan @mailchand - I'll take a look, though it may take a little while (~2 weeks) as I'm juggling a few projects. I do not have the requisite hardware to do proper testing, so any review will necessarily not cover all the aspects of the software.

[2019-08-06 05:51] fiveop commented on #1513
I released a new version that includes the changes made due to this review process (1.0.1) and uploaded the new version to Zenodo (https://zenodo.org/record/3361131 / DOI 10.5281/zenodo.3361131).

[2019-08-06 05:56] telegraphic commented on #1554
Thanks @garrettj403 (et al), we're having a look now and will get back to you soon!

[2019-08-06 07:13] goldingn commented on #1601
Hi @terrytangyuan, how does the JOSS review process deal with changing version numbers, and things like CRAN submission?

There's a version 0.3.0 of greta on CRAN (and in the GitHub commit history), and a development version currently at 0.3.0.9008 on GitHub. On submission I stated that review is for 0.3.0, and @lionel68 reviewed that version exactly. He hit an issue which I'm pretty sure is fixed

[2019-08-06 09:06] tleonardi commented on #1610
@holtgrewe thanks for the clarification about authorship, I think this is perfectly in line with the journal's policy.

[2019-08-06 09:11] tleonardi commented on #1610
@lpantano could you advise on JOSS policy about citing manuscripts _in preparation_? The authors are citing their _SODAR_ manuscript as _Nieminen, Holtgrewe and Beule, 2020_. Is this ok?

[2019-08-06 09:12] Kevin-Mattheus-Moerman commented on #1262
@whedon add @patrikhuber as reviewer

[2019-08-06 09:12] whedon commented on #1262
OK, @patrikhuber is now a reviewer

[2019-08-06 09:12] Kevin-Mattheus-Moerman commented on #1262
@whedon generate pdf

[2019-08-06 09:12] whedon commented on #1262
[code]

[2019-08-06 09:13] whedon commented on #1262
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01262/joss.01262/10.21105.joss.01262.pdf)

[2019-08-06 09:18] Kevin-Mattheus-Moerman commented on #1262
Thanks @patrikhuber I've just added you as an official reviewer. Since you did all the work and did effectively perform a review I think it is best to keep track of it officially like this. You should be able to tick the boxes at the top of this issue under your handle.
Let me know if you have any questions. Thanks again!

[2019-08-06 09:21] Kevin-Mattheus-Moerman commented on #1613
@apsabelhaus, @vaishnavtv, @ctdegroot Let me know if you have any questions.

[2019-08-06 13:02] desilinguist commented on #1524
@alexanderimanicowenrivers I think it would be better to review the changes all together after they are merged into the `master` branch.

In any case, I looked at the first PR for `setup.sh` and it looks like it hasn't really been tested with `macports`. I get the following error when running the command `port install qt open-mpi pkg-config ffmpeg`:

[2019-08-06 13:35] arfon commented on #1486
@ryanstwrt - please don't use `10.21105/joss.01486` as the DOI for the archive. This is the DOI that we will use for the JOSS paper.

Please use a Zenodo-issued DOI.

[2019-08-06 13:52] sayanddude commented on #1509
@whedon generate pdf

[2019-08-06 13:52] whedon commented on #1509
[code]

[2019-08-06 13:53] whedon commented on #1509
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01509/joss.01509/10.21105.joss.01509.pdf)

[2019-08-06 13:58] terrytangyuan commented on #1601
@goldingn Yes, we can update the version number here through a `@whedon` command prior to JOSS paper publication/acceptance. So your outlined procedure looks fine to me. Before step 4, you'll need to create an archive on services like Zenondo (I'll provide more details on the requirements once accepted).

[2019-08-06 13:59] sayanddude commented on #1509
@terrytangyuan  We have worked on addressing all of your comments. Please find below our response to each action items:

•	_I see lots of long functions with >150 lines of code and the code style is not consistent (I suggest running a lintr check). Similarly, in the roxygen docs, the style is not consistent. I see both ##' and #'. The indentation levels and the roxygen syntax are sometimes incorre

[2019-08-06 14:03] sayanddude commented on #1509
@labarba Hi! As discussed, we have completed working on the comments and have updated the Github code repository along with the paper.

[2019-08-06 14:04] whedon opened #1630 "[PRE REVIEW]: virtualNicheR: generating virtual fundamental and realised niches for use in virtual ecology experiments"
**Submitting author:** @tretherington (<a href="http://orcid.org/0000-0002-3187-075X">Thomas R Etherington</a>)
**Repository:** <a href="https://github.com/manaakiwhenua/virtualNicheR" target ="_blank">https://github.com/manaakiwhenua/virtualNicheR</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @ViniciusBRodrigues, @lsw5077

**Author instructions**

Thanks for submitting your paper to JOS

[2019-08-06 14:04] whedon commented on #1630
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-06 14:04] whedon commented on #1630
[code]

[2019-08-06 14:05] whedon commented on #1630
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01630/joss.01630/10.21105.joss.01630.pdf)

[2019-08-06 14:06] arfon commented on #1630
:wave: @tretherington - thanks for your submission to JOSS. Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2019-08-06 14:08] labarba commented on #1509
The handling editor, @mgymrek, will take it from here.

[2019-08-06 14:19] slithiaote commented on #1005
I agree that it would be more natural to write in Markdown for Github, and this is possible in Lepton. However, my priority when writing Lepton was scientific journals, hence LaTeX. Incidentally, the relevant information hides in the `lepton.nw` file, which is a LaTeX / text format, and not so much harder to read than Markdown, at least for this document.

Concerning README.md, I tried to mimick J

[2019-08-06 15:56] marekborowiec commented on #1616
I believe the following people should be able to review this:

@iimong, @gvegayon, @gavinmdouglas, @shaunpwilkinson, @giraola, @dsurujon, @Nazeeefa, @camillescott

I have also removed the editor line from bibliography entries for journal articles and attempted to make consistent use of unabbreviated journal names.

I also introduced a couple adjustments to the `paper.md` file so that it (hopefully

[2019-08-06 16:20] gvegayon commented on #1616
I'm sorry, but I'm not familiar with the topic, so I'm afraid I can't help.

[2019-08-06 16:40] lheagy commented on #1617
Thanks @elyiorgos. Before assigning reviewers, there are a few things that I wasn't able to find in the repository that are a part of the [review checklist](https://joss.readthedocs.io/en/latest/review_checklist.html). If you would be willing to address the following before we start the review process, this should help streamline the review:

- [ ] [Community guidelines](https://joss.readthedocs.i

[2019-08-06 17:14] TrashBirdEcology commented on #1566
Added dependency issue, [issue #56](https://github.com/JonasMoss/kdensity/issues/56)

[2019-08-06 17:48] pankajkmishra commented on #1173
@kyleniemeyer following is the Zenodo DOI
10.5281/zenodo.3361734

[2019-08-06 18:29] mgckind commented on #1614
@xuanxu , @kbg. I'm done with the review,
I installed it, looked at the documentation, the paper, I ran a few examples and others and everything seems in order. After addressing the following points this is ready to go:
- I made a comment about the authors above
- I created 3 issues related to the paper, tests and community guidelines, sunpy/drms#30, sunpy/drms#31 and sunpy/drms#32
- I think addin

[2019-08-06 18:34] liashchynskyi commented on #1615
@terrytangyuan Would you be an editor? 😄

[2019-08-06 18:35] liashchynskyi commented on #1615
come on, people 🐱

[2019-08-06 19:18] terrytangyuan commented on #1594
Hi @mkhorton @nagoue @lebebr01 @Scivision @Suman-d @janfreyberg, if you would like to review this submission, please let us know here!

[2019-08-06 19:20] terrytangyuan commented on #1615
I am a little bit overloaded recently. Let's see if @mbobra is available first.

[2019-08-06 19:21] lpantano commented on #1610
Thanks @tleonardi, I will check that.

[2019-08-06 20:11] labarba commented on #1615
Thank you, @terrytangyuan—feel free to unsubscribe from this issue...  @mbobra won't be handling this one (feel free to unsubscribe, also!).

@liashchynskyi — Please bear with us as we identify a handling editor for your submission.

[2019-08-06 20:30] lpantano commented on #1610
Hi @tleonardi  and @holtgrewe, the board of editors recommends to deposit that paper into biorxiv if you really want to cite it. If that is not possible, sadly it needs to be removed from the reference and mentioned in the paper that it is under preparation or working on that. I hope that works.

[2019-08-06 20:37] holtgrewe commented on #1610
@lpantano Sounds very well in line with the spirit of JOSS. We'll be happy to remove it as we don't have much to show for it right now.

[2019-08-06 20:41] holtgrewe commented on #1610
@whedon generate pdf

[2019-08-06 20:41] whedon commented on #1610
[code]

[2019-08-06 20:42] whedon commented on #1610
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01610/joss.01610/10.21105.joss.01610.pdf)

[2019-08-06 21:01] tretherington commented on #1630
Hi @arfon - and thank you for setting up the journal! :smile:

Based on a filter for "ecology" and "R" I would suggest @trashbirdecology, @ha0ye, or @ViniciusBRodrigues

[2019-08-06 22:09] abhishektha commented on #1466
@labarba Sorry for the delay, I had some trouble using Sphinx with the numpydoc style of tooltips I had been using, but its all fixed now and we finally have API documentation hosted on Github Pages and linked from the readme. @ixjlyons, @melund, please let me know if this new API documentation meets the standards.

I would like to suggest @alcantarar to contribute functionality checks to the revi

[2019-08-06 22:37] ryanstwrt commented on #1486
I apologize, I misunderstood. Here is the new DOI: 10.5281/zenodo.3361822

[2019-08-06 23:28] arfon commented on #1616
@marekborowiec - it would be good if you could also limit the entries in your bibtex file to just those references that you cite in this paper.

[2019-08-06 23:45] goldingn commented on #1601
Great, thanks @terrytangyuan. I'll do that and leave off on the citation then.

[2019-08-07 00:04] cMadan commented on #1470
Since this still hasn't been responded to, I am going to withdraw the submission.

[2019-08-07 00:04] #1470 closed

[2019-08-07 00:06] cMadan commented on #1598
@conradsnicta, thank you for agreeing, that's fine with me. We do have another reviewer with access to the hardware, so just be as thorough as you can.

[2019-08-07 00:06] cMadan commented on #1598
@whedon add @conradsnicta as reviewer

[2019-08-07 00:07] whedon commented on #1598
OK, @conradsnicta is now a reviewer

[2019-08-07 00:07] cMadan commented on #1598
@whedon add @thejanzimmermann as reviewer

[2019-08-07 00:07] whedon commented on #1598
OK, @thejanzimmermann is now a reviewer

[2019-08-07 00:08] cMadan commented on #1598
@whedon start review

[2019-08-07 00:08] whedon opened #1631 "[REVIEW]: openEyeTrack - A high speed multi-threaded eye tracker for head-fixed applications"
**Submitting author:** @chand-lab (<a href="http://orcid.org/0000-0002-1711-590X">Chandramouli Chandrasekaran</a>)
**Repository:** <a href="https://github.com/chand-lab/openEyeTrack" target ="_blank">https://github.com/chand-lab/openEyeTrack</a>
**Version:** v1.0.0
**Editor:** @cMadan
**Reviewer:** @conradsnicta, @thejanzimmermann
**Archive:** <a href="https://doi.org/10.5281/zenodo.3515534" targe

[2019-08-07 00:08] whedon commented on #1598
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1631. Feel free to close this issue now!

[2019-08-07 00:08] whedon commented on #1631
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @conradsnicta, @thejanzimmermann it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you'r

[2019-08-07 00:08] whedon commented on #1631
[code]

[2019-08-07 00:08] #1598 closed

[2019-08-07 00:09] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-08-07 00:10] mpetroff commented on #1628
@whedon generate pdf

[2019-08-07 00:10] whedon commented on #1628
[code]

[2019-08-07 00:11] cMadan commented on #1541
@DominiqueMakowski, great!!

To move forward with accepting your submission, there are a few last things to take care of:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (m

[2019-08-07 00:11] whedon commented on #1628
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01628/joss.01628/10.21105.joss.01628.pdf)

[2019-08-07 00:23] marekborowiec commented on #1616
Done

[2019-08-07 00:55] arfon commented on #1623
👍understood. Thanks.

:wave: @zhampel & @nespinoza - would you be willing to review this submission for JOSS?

[2019-08-07 01:33] DominiqueMakowski commented on #1541
@cMadan we have tagged a [v0.2.5 release](https://github.com/easystats/bayestestR/releases/tag/v0.2.5) and a [Zenodo](https://zenodo.org/badge/latestdoi/165641861) identifier ☺️

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3361605.svg)](https://doi.org/10.5281/zenodo.3361605)

[2019-08-07 02:06] katyhuff commented on #1486
@whedon set v1.0.1 as version

[2019-08-07 02:06] whedon commented on #1486
OK. v1.0.1 is the version.

[2019-08-07 02:07] katyhuff commented on #1486
@whedon set 10.5281/zenodo.3361822 as archive

[2019-08-07 02:07] whedon commented on #1486
OK. <a href="https://doi.org/10.5281/zenodo.3361822" target="_blank">10.5281/zenodo.3361822</a> is the archive.

[2019-08-07 02:45] ShanaScogin commented on #1542
@andrewheiss Thank you for your time and comments! I've implemented the suggestions in the documentation and contributions sections and have begun addressing the suggestions in usage. Thank you again for your time - we appreciate the feedback!

[2019-08-07 02:58] katyhuff commented on #1486
@whedon generate pdf

[2019-08-07 02:58] whedon commented on #1486
[code]

[2019-08-07 02:58] whedon commented on #1486
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01486/joss.01486/10.21105.joss.01486.pdf)

[2019-08-07 04:31] ramaniitrgoyal92 commented on #1613
@whedon generate pdf

[2019-08-07 04:31] whedon commented on #1613
[code]

[2019-08-07 04:31] whedon commented on #1613
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01613/joss.01613/10.21105.joss.01613.pdf)

[2019-08-07 04:39] ramaniitrgoyal92 commented on #1613
@whedon generate pdf

[2019-08-07 04:39] whedon commented on #1613
[code]

[2019-08-07 04:39] whedon commented on #1613
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01613/joss.01613/10.21105.joss.01613.pdf)

[2019-08-07 04:44] katyhuff commented on #1486
Thanks again to @ryanstwrt for your submission, and thanks very much to @pshriwise @kellyrowland for your reviews. I think this is ready to accept @openjournals/joss-eics !

[2019-08-07 05:01] ramaniitrgoyal92 commented on #1613
@Kevin-Mattheus-Moerman @apsabelhaus @ctdegroot We did the suggested changes. Thanks a lot!

[2019-08-07 07:56] janfreyberg commented on #1594
I unfortunately have a very busy August so won't be available for reviews until September

[2019-08-07 08:30] csoneson commented on #1616
@whedon generate pdf

[2019-08-07 08:31] whedon commented on #1616
[code]

[2019-08-07 08:31] whedon commented on #1616
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01616/joss.01616/10.21105.joss.01616.pdf)

[2019-08-07 08:32] csoneson commented on #1616
👋 @iimog, @gavinmdouglas, @shaunpwilkinson, @giraola, @dsurujon, @Nazeeefa, @camillescott - would (two of) you be willing to review this submission for JOSS?

[2019-08-07 08:34] csoneson commented on #1593
@tgerke - would you be interested in reviewing this submission for JOSS?

[2019-08-07 08:38] iimog commented on #1616
:wave: @camillescott I'd be willing to review this submission.

[2019-08-07 08:52] LarsHernandez commented on #1593
Hey Charlotte, thank you for your effort so far. I just returned from vacation and I've just been fixing some of the Github issues raised by @joethorley, and looked into the comments from @BarryDeCicco, thanks a lot for the issues/comments. This is my first submission/article, so i'm very new in this, but i guess the submission needs two reviewers right? If @tgerke doesn't answer i can try to sugg

[2019-08-07 08:53] tleonardi commented on #1610
@lpantano I have now completed my review of this submission. AltamISA is a useful research software that facilitates the systematic annotation of experimental procedure in line with the FAIR (Findable, Accessible, Interoperable, and Reusable) guidelines. The paper is clear and well written - as is the code, which is also well documented and thoroughly tested.
In my review I have only found some mi

[2019-08-07 08:55] fcontino commented on #1543
Sorry everyone, I didn't receive the notifications. I'll check this quickly.

[2019-08-07 08:56] csoneson commented on #1593
Hi @LarsHernandez - welcome back :) Yes, I would like to have two reviewers - I'm hoping either @zedtaha or @tgerke will be available, otherwise we'll keep looking!

[2019-08-07 08:57] csoneson commented on #1616
Thanks @iimog!

[2019-08-07 08:58] csoneson commented on #1616
@whedon assign @iimog as reviewer

[2019-08-07 08:58] whedon commented on #1616
OK, the reviewer is @iimog

[2019-08-07 09:32] fcontino commented on #1543
I have installed pyMARS successfully on my Mac.

I am proceeding with some tests.

My first concern is that after installing, `pymars --help` does not give me the same as stated [here](https://niemeyer-research-group.github.io/pyMARS/usage.html). It gives me the following:

`pymars -help
usage: pymars [-h] -m MODEL [-e ERROR] [--method {DRG,DRGEP,PFA}]
              [--targets TARGETS [TARGETS ...

[2019-08-07 10:30] mikldk commented on #1607
@labarba Thank you very much for considering our submission. We acknowledge your judgement of the submission we made. At the time of submission we had already been working on an extension package for a while that integrated `R` and `yacas` much more closely, e.g. using `yacas` matrices as `R` matrices (with `[` subsetting, finding inverses via `solve()` etc.). The idea was to release it separately

[2019-08-07 10:30] arfon commented on #1486
@whedon accept

[2019-08-07 10:30] whedon commented on #1486
[code]

[2019-08-07 10:30] whedon commented on #1486
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/888

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/888, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-07 10:31] arfon commented on #1486
@whedon accept deposit=true

[2019-08-07 10:31] whedon commented on #1486
[code]

[2019-08-07 10:32] whedon commented on #1486
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1159049736361353216) 👈 🐦🐦🐦

[2019-08-07 10:32] whedon commented on #1486
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/889
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01486](https://doi.org/10.21105/joss.01486)
2. If everything looks go

[2019-08-07 10:34] arfon commented on #1486
@kellyrowland, @pshriwise - many thank for your reviews here and to @katyhuff for editing this submission ✨

@ryanstwrt - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-08-07 10:34] #1486 closed

[2019-08-07 10:34] whedon commented on #1486
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01486/status.svg)](https://doi.org/10.21105/joss.01486)

**We need your help!**

Journal of Open Source Softwa

[2019-08-07 11:14] lionel68 commented on #1601
The issue I had with the example code were resolved by installing the dev version of greta from Github. I now checked all review items in the list above.

[2019-08-07 11:48] ViniciusBRodrigues commented on #1630
I can handle it if needed.

[2019-08-07 12:17] vyasr commented on #1570
Additional notes relating to my review:
* I don't think most of the elements added to setup_requires are actually necessary for users (e.g. sphinx, bumpversion, wheel, twine, etc). I would remove those that the user shouldn't actually need. Developers can install those as needed.
* A few tests currently fail because they're referring to nonexistent files. Based on your documentation, these tests (

[2019-08-07 12:47] arfon commented on #1630
@whedon assign @arfon as editor

[2019-08-07 12:47] whedon commented on #1630
OK, the editor is @arfon

[2019-08-07 12:48] arfon commented on #1630
@whedon add @ViniciusBRodrigues as reviewer

[2019-08-07 12:48] whedon commented on #1630
OK, @ViniciusBRodrigues is now a reviewer

[2019-08-07 12:48] arfon commented on #1630
Excellent. Thanks @ViniciusBRodrigues. I won't start the actual review until I've found a second reviewer for this submission but thanks in advance for agreeing to help here!

[2019-08-07 13:07] labarba commented on #1466
👋  @alcantarar — would you be willing to contribute a partial review of this JOSS submission, given that the assigned reviewers both lack access to the needed hardware to confirm functionality?

[2019-08-07 13:11] LarsHernandez commented on #1593
Thanks, and that sounds good, also I've just added a standard code of conduct to the repository which should check the **community guidelines** box

[2019-08-07 13:23] alcantarar commented on #1466
I would be willing to assist with the review.
Should I just open issues in the Dynamo repo as needed and comment below when my review is complete? I was going to follow the functionality section of the review checklist you've provided above.

[2019-08-07 14:04] labarba commented on #1466
@whedon add @alcantarar as reviewer

[2019-08-07 14:05] whedon commented on #1466
OK, @alcantarar is now a reviewer

[2019-08-07 14:10] labarba commented on #1466
Hi @alcantarar — thanks for agreeing to provide an additional review. I have added a review checklist for you. If you don't want to check off all items, that is OK, but we do need the COI and CoC responses from you, and especially need the functionality items that the other two reviewers could not check. Godspeed!

[2019-08-07 14:37] thejanzimmermann commented on #1631
@whedon accept

[2019-08-07 14:37] whedon commented on #1631
I'm sorry @thejanzimmermann, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-08-07 15:57] zhampel commented on #1623
@arfon Yes, I'm willing to review this submission.

[2019-08-07 16:12] kyleniemeyer commented on #1543
Hi @fcontino, it looks like the version you installed is not the latest version (v1.1.0a8). That command-line interface was used before we made some changes in response to @jcsutherland's feedback.

If you installed using conda, could you try installing the latest version with `conda install -c niemeyer-research-group pymars=1.1.0a8`?

[2019-08-07 17:01] JonasMoss commented on #1566
Thanks a lot @TrashBirdEcology ! I've addressed your issues with details on the repository's issues page.

[2019-08-07 17:03] arfon commented on #1623
@whedon add @zhampel as reviewer

[2019-08-07 17:03] whedon commented on #1623
OK, @zhampel is now a reviewer

[2019-08-07 17:04] arfon commented on #1623
Excellent thanks! I won't start the actual review until I have a second reviewer but thanks in advance for your help here.

[2019-08-07 17:28] arfon commented on #1615
@whedon assign @arfon as editor

[2019-08-07 17:28] whedon commented on #1615
OK, the editor is @arfon

[2019-08-07 17:28] arfon commented on #1615
@liashchynskyi - thanks for your submission. Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2019-08-07 17:37] liashchynskyi commented on #1615
@arfon maybe these 5 - desilinguist, 12 - rougier, 596 - soroushj

i don't know 😹

[2019-08-07 17:43] arfon commented on #1615
@shivam11 @soroushj @casperdcl would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-08-07 17:51] mbobra commented on #1557
@whedon remind @wtgee in one hour

[2019-08-07 17:51] whedon commented on #1557
Reminder set for @wtgee in one hour

[2019-08-07 17:52] marekborowiec commented on #1616
Is there a way to make the figure go before References?

[2019-08-07 18:17] mbobra commented on #1614
@kbg invited all contributors to coauthor (see [this issue](https://github.com/sunpy/drms/issues/27)) and Nabil declined.

[2019-08-07 18:51] whedon commented on #1557
:wave: @wtgee, please update us on how your review is going.

[2019-08-07 19:08] jmborr commented on #1461
I am running the instructions in [README.md](https://github.com/haptork/csaransh/blob/master/README.md) in a Ubuntu 16.04 box. This I was able to do:
- [x] build the C++ post-processor and run the after-build tests
- [x] run `csaransh_pp` and `pp.py` on `data/lammps` to produce `cascades-data.js`
- [x] run the interface as a web application with node server. Here _instructions should state_ to `np

[2019-08-07 19:10] mgckind commented on #1614
oh I see, yes this is good. Thanks!

[2019-08-07 20:57] nespinoza commented on #1623
Hi all! Thanks for inviting me to review this exciting piece of software, @arfon. Sadly I will have to decline this time as I am swamped during the next few weeks, and wouldn't want to slow down the process. If there are still no reviewers in two weeks from now, please consider me again!

[2019-08-07 21:24] elyiorgos commented on #1617
Hi @lheagy, I just added community guidelines today after looking at the example you sent, and a few other accepted joss examples, I appreciate the guidance :)

As a way to test the function of the package, there is a demo file and demo run script provided in the sleeppy folder. Essentially what this does is take an acceptable input data file, and run the full package on it, and produce all interm

[2019-08-07 21:35] kyleniemeyer commented on #1553
Just for transparency, I am still seeking out a second reviewer, via email.

[2019-08-07 21:54] richteague commented on #1623
So I'm actually on vacation for the next two and a bit weeks so maybe this would work? I'll be back in the office early September so from my side there's no rush.

[2019-08-07 22:04] ctdegroot commented on #1621
A few comments as I am going through the review:

- Please add your import statements to the example given in the readme.
- I do not see any community guidelines if someone wanted to contribute to the project.
- Please add instructions to run the tests; I'm guessing pytest?

[2019-08-08 00:19] kellieotto commented on #1608
I've created issues in the repo for the problems I encountered. The biggest issue is that I'm not able to get the examples to run. Maybe I'm doing something silly on my end, but I think there's a dependency management issue here.

[2019-08-08 00:24] casperdcl commented on #1615
@arfon sure, can do

[2019-08-08 00:37] arfon commented on #1615
Great, thanks! I'll go ahead and add you as a reviewer, but we won't start the actual review until I've identified a second reviewer.

[2019-08-08 00:37] arfon commented on #1615
@whedon add @casperdcl as reviewer

[2019-08-08 00:38] whedon commented on #1615
OK, @casperdcl is now a reviewer

[2019-08-08 01:18] cMadan commented on #1631
@thejanzimmermann, it looks like you finished your review, can you provide some comments on your assessment?

[2019-08-08 07:46] goldingn commented on #1601
The new release is running the gauntlet at CRAN...

[2019-08-08 08:36] nespinoza commented on #1623
If that's the case then yes, I could start reviewing this the first days of September :-). Does this sound good @arfon?

[2019-08-08 08:54] gus0k commented on #1591
@whedon generate pdf

[2019-08-08 08:54] whedon commented on #1591
[code]

[2019-08-08 08:54] whedon commented on #1591
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01591/joss.01591/10.21105.joss.01591.pdf)

[2019-08-08 08:57] gus0k commented on #1591
@whedon set v0.7.5 as version

[2019-08-08 08:57] whedon commented on #1591
I'm sorry @gus0k, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-08-08 09:03] gus0k commented on #1591
@igarizio @taqtiqa-mark Thank you both so far for your input. I have updated the paper to list the implemented algorithms and their references.

@alexhanna  Would it be possible to update the version number to 0.7.5?

Regarding the acknowledgements, Telecom ParisTech is paying for my PhD. In that sense, I feel it plays the same role as funding entities.

Best regards,
K

[2019-08-08 10:15] arfon commented on #1623
Sounds great to me!

[2019-08-08 10:15] arfon commented on #1623
@whedon add @nespinoza as reviewer

[2019-08-08 10:15] whedon commented on #1623
OK, @nespinoza is now a reviewer

[2019-08-08 10:15] arfon commented on #1623
@whedon start review

[2019-08-08 10:15] whedon opened #1632 "[REVIEW]: GoFish: Fishing for Line Observations in Protoplanetary Disks"
**Submitting author:** @richteague (<a href="http://orcid.org/0000-0003-1534-5186">Richard Teague</a>)
**Repository:** <a href="https://github.com/richteague/gofish" target ="_blank">https://github.com/richteague/gofish</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @zhampel, @nespinoza
**Archive:** <a href="https://doi.org/10.5281/zenodo.3403894" target="_blank">10.5281/zenodo.3403894</

[2019-08-08 10:15] whedon commented on #1623
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1632. Feel free to close this issue now!

[2019-08-08 10:15] whedon commented on #1632
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zhampel, @nespinoza it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-08-08 10:15] whedon commented on #1632
[code]

[2019-08-08 10:16] arfon commented on #1623
Thanks folks, see you over in #1632 for the actual review.

[2019-08-08 10:16] #1623 closed

[2019-08-08 10:16] whedon commented on #1632
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01632/joss.01632/10.21105.joss.01632.pdf)

[2019-08-08 10:16] arfon commented on #1632
Re-stating here that @nespinoza won't be able to start his review until early September.

[2019-08-08 10:21] Ji-Zhang commented on #1608
@whedon generate pdf

[2019-08-08 10:21] whedon commented on #1608
[code]

[2019-08-08 10:22] whedon commented on #1608
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01608/joss.01608/10.21105.joss.01608.pdf)

[2019-08-08 12:07] fauvernierma commented on #1434
Duely noted

Thank you very much

[2019-08-08 12:08] fauvernierma commented on #1434
@whedon generate pdf

[2019-08-08 12:08] whedon commented on #1434
[code]

[2019-08-08 12:09] whedon commented on #1434
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01434/joss.01434/10.21105.joss.01434.pdf)

[2019-08-08 12:11] fauvernierma commented on #1434
It looks good to me but i'll check with the other authors

Thanks again

[2019-08-08 12:12] csoneson commented on #1616
Hm, making figures appear in the desired place in the output is certainly not always easy. From https://github.com/jgm/pandoc/issues/845 I think you can override the default placement of the figure, and it is also possible to explicitly add `\pagebreak` to force a new page. Whether that will look better in the end remains to be seen. Btw, I'm not sure you need a separate section for the figure - c

[2019-08-08 12:12] fauvernierma commented on #1434
I want to check with them because I am not used to adding an affiliation for this kind of group author

[2019-08-08 12:49] arfon commented on #1616
I would suggested waiting on fixing this issue until the submission is reviewed and accepted. Layouts are notoriously hard with Markdown/Pandoc and as the paper contents may change during review, we should just fix this once at the end.

Does that sounds reasonable to everyone?

[2019-08-08 12:59] iimog commented on #1616
@whedon start review

[2019-08-08 12:59] whedon commented on #1616
I'm sorry @iimog, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-08-08 13:01] csoneson commented on #1616
Hi @iimog - we're just waiting for one more reviewer, then I'll officially start the review; i.e., open the actual review issue, with the reviewer checklists etc. (of course, you can already start looking at the submission :))

[2019-08-08 13:16] iimog commented on #1616
Thanks @csoneson and sorry for being impatient :)

[2019-08-08 13:47] nuest commented on #1603
@whedon generate pdf

[2019-08-08 13:47] whedon commented on #1603
[code]

[2019-08-08 13:48] whedon commented on #1603
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01603/joss.01603/10.21105.joss.01603.pdf)

[2019-08-08 14:21] Cavenfish commented on #1612
Thank you for the comments on my paper @shivupa! I have made changes to the paper taking into consideration your comments and I believe it looks much better now.

[2019-08-08 14:21] Cavenfish commented on #1612
@whedon generate pdf

[2019-08-08 14:21] whedon commented on #1612
[code]

[2019-08-08 14:22] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-08-08 15:19] mgymrek commented on #1509
@sayanddude thanks for making these changes

@nhejazi, @terrytangyuan can you now go over the revision? If your comments have been sufficiently addressed please finish filling out the checklist

[2019-08-08 15:21] marekborowiec commented on #1616
Sounds good to me. I was just wondering if my markdown file was properly formatted.

[2019-08-08 15:23] mgymrek commented on #1625
@marouenbg @sirsharpest @dsurujon @sdelandtsheer would either of you be willing to review this submission?

[2019-08-08 15:28] jminnier commented on #1587
This software looks great and the addition of visualizations makes this data accessing package really nice and extra useful.

I just had minor questions:
https://github.com/frycast/studentlife/issues/7 (a couple typos, I think)
https://github.com/frycast/studentlife/issues/8 (contribution info missing as far as I can tell)

Thanks for making this package @frycast!

[2019-08-08 15:34] arokem commented on #1587
Thanks for taking a look @jminnier !

@klmedeiros : have you had a chance to look into this?

[2019-08-08 16:05] thejanzimmermann commented on #1631
The authors provide a logical and necessary extension of previously published work on high speed eye tracking. This is especially important since most human applications or other open source initiatives provide low tracking speeds not acceptable to research applications.

The software is easy to compile, very well documented and understandable and provides a great place to start for researchers.

[2019-08-08 17:20] MatthewFlamm commented on #1621
Thanks @ctdegroot.  I attempted to address items 1 and 3.

For item 2, I need to get internal guidance on this and will update here once I have a path forward.

[2019-08-08 18:26] chand-lab commented on #1631
Dear @thejanzimmermann,

Thank you for the kind comments on the manuscript. As far as we understand it, the opencv blob detector which is what is used for detecting the pupil should function even with partially occluded pupils.

The circle is drawn as a visual aid to denote to the experimenter that a position was identified. We found that when windowing the image to only detect images within a par

[2019-08-08 19:33] thejanzimmermann commented on #1631
Dear @chand-lab , I could not agree more with you ! and it's not a dealbreaker at all.

I can forward you experimental code on adjusted center of mass approaches that I have written that might at least mitigate this a little.

Best

Jan

[2019-08-08 19:41] boshek commented on #791
I am actively working on this but the end of August 9th might not be possible. I will update my status at the end of August 9th.

[2019-08-09 00:10] jjmcnelis commented on #1047
@Kevin-Mattheus-Moerman Apologies for the radio silence over the last week.

@jshermeyer I'm satisfied with the improvements to the repo. My main critiques about the README content have all been addressed:
1. Outlined basic steps for the primary use case (check - displayed prominently atop README.)
2. Supported formats (check - would've been fine with "All GDAL/OGR compatible formats are supported

[2019-08-09 00:13] danielskatz commented on #1624
@bwoshea - any news on this?

[2019-08-09 00:14] danielskatz commented on #1573
@jgoldfar - any update on this?

[2019-08-09 00:18] danielskatz commented on #1606
👋 @j-braun - note that there are a couple of issues waiting for your response

[2019-08-09 00:18] danielskatz commented on #1487
👋 @StewMH, @mdavezac - pinging again...

[2019-08-09 02:07] marouenbg commented on #1625
Hi @mgymrek, I´d be happy to.

[2019-08-09 03:50] frycast commented on #1587
Thanks for the useful comments @jminnier . I've fixed both typos and appended community guidelines to the README . Thanks @arokem .

[2019-08-09 04:10] lheagy commented on #1617
Thanks @elyiorgos!

One note on testing, we do expect that there is at least some testing that objectively checks the code (e.g. a sample input and `assert` statements or similar that numerically verify the results). Tests that require a visual check aren't enough to meet [those criteria](https://joss.readthedocs.io/en/latest/review_criteria.html#tests)

As for reviewers, yes - it is acceptable to

[2019-08-09 04:55] goldingn commented on #1601
OK, accepted on CRAN and updated on Github master.

@terrytangyuan, could you please change the version of record to 0.3.1?

I think all of the reviewers' comments have been addressed now too.

[2019-08-09 06:49] haptork commented on #1461
Thank you for taking this up. :)

Yes, the duplication is meant for comparison. The widget has a lock on top left. With lock open, it will show the stats for currently viewing cascade while once locked the stats get fixed on the current one selected. Thus, one cascade can be fixed on one of the widget and its stats can be compared with others as one views different cascades on the other widget wit

[2019-08-09 07:04] Kevin-Mattheus-Moerman commented on #1047
@zhampel can you finalize the review on your end? Are you satisfied with the changes made? Thanks

[2019-08-09 08:10] j-braun commented on #1606
@whedon generate pdf

[2019-08-09 08:10] whedon commented on #1606
[code]

[2019-08-09 08:11] whedon commented on #1606
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01606/joss.01606/10.21105.joss.01606.pdf)

[2019-08-09 08:37] StewMH commented on #1487
Sorry, let me address this today

[2019-08-09 08:41] SirSharpest commented on #1625
@mgymrek I'd be happy to also (otherwise, if you just want one, I'm happy to bow out)

[2019-08-09 09:16] Fil commented on #1628
Done reviewing, and it's a 💡

[2019-08-09 10:26] whedon opened #1633 "[PRE REVIEW]: PressureDrop.jl: Pressure traverses for oil & gas wells"
**Submitting author:** @jnoynaert (<a href="http://orcid.org/0000-0002-2986-0376">Jared Noynaert</a>)
**Repository:** <a href="https://github.com/jnoynaert/PressureDrop.jl" target ="_blank">https://github.com/jnoynaert/PressureDrop.jl</a>
**Version:** v1.0.1
**Editor:** @oliviaguest
**Reviewers:** @wkearn, @mancellin

**Author instructions**

Thanks for submitting your paper to JOSS @jnoynaert. **

[2019-08-09 10:26] whedon commented on #1633
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-09 10:26] whedon commented on #1633
[code]

[2019-08-09 10:26] whedon opened #1634 "[PRE REVIEW]: Kanapy: A Python package for generating complex synthetic polycrystalline microstructures."
**Submitting author:** @mrgprasad (<a href="http://orcid.org/0000-0003-2546-0161">Mahesh R. G. Prasad</a>)
**Repository:** <a href="https://github.com/mrgprasad/kanapy" target ="_blank">https://github.com/mrgprasad/kanapy</a>
**Version:** v0.0.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @heprom, @KedoKudo, @chennachaos

**Author instructions**

Thanks for submitting your paper to JOSS @mr

[2019-08-09 10:26] whedon commented on #1634
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-09 10:26] whedon commented on #1634
[code]

[2019-08-09 10:27] whedon commented on #1634
PDF failed to compile for issue #1634 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1634/joss/paper.md): could not find expected ':' while scanning a simple key at line 23 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2019-08-09 10:27] whedon commented on #1633
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01633/joss.01633/10.21105.joss.01633.pdf)

[2019-08-09 10:30] arfon commented on #1634
:wave: @mrgprasad - this PR should fix your paper: https://github.com/mrgprasad/kanapy/pull/1

[2019-08-09 10:33] arfon commented on #1633
Thanks for your submission to JOSS @jnoynaert. Please could you remove the backticks around the citations you have in your `paper.md` so Pandoc can pick them up?

[2019-08-09 11:20] mrgprasad commented on #1634
@arfon - Thank you for the changes, I have merged your pull request.

[2019-08-09 11:21] mrgprasad commented on #1634
@whedon generate pdf

[2019-08-09 11:21] whedon commented on #1634
[code]

[2019-08-09 11:21] whedon commented on #1634
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01634/joss.01634/10.21105.joss.01634.pdf)

[2019-08-09 11:21] kbg commented on #1614
@mgckind : Thanks for the feedback. I'm currently going through the issues you opened. I will leave a comment there, when I think that I have resolved them.

About adding more examples to the online documentation: Have you had a look at the [Tutorial](https://drms.readthedocs.io/en/latest/tutorial.html)? It contains quite some information about how to use the `drms` module.

[2019-08-09 12:20] bwoshea commented on #1624
@danielskatz - yes, I'm moving it over to the enzo-dev repository right now.  As soon as the PR is approved you will be able to find it in the master branch of github.com/enzo-project/enzo-dev in the subdirectory "method-paper-joss-2019".  I'm working to get our required number of approvals right now, and expect that will happen pretty soon.

[2019-08-09 12:49] astrom-tom commented on #1559
Dear all,

Sorry for the late answer I was unavailable for more than a month. I would be happy to be a reviewer as well if there is still time.

let me know!
Cheers,

R
Sent from my iPhone

[2019-08-09 12:50] danielskatz commented on #1624
Thanks - please be sure to let us know when this is done so that we can start the review

[2019-08-09 13:03] arokem commented on #1590
I am having difficulties finding another reviewer for this paper.

@imr-framework : do you have any suggestions for potential reviewers?

[2019-08-09 13:06] j-braun commented on #1606
@whedon generate pdf

[2019-08-09 13:06] whedon commented on #1606
[code]

[2019-08-09 13:07] whedon commented on #1606
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01606/joss.01606/10.21105.joss.01606.pdf)

[2019-08-09 13:12] j-braun commented on #1606
@danielskatz  - we took care of the issues and fixed them

[2019-08-09 13:28] StewMH commented on #1487
Hi @tesch1

How do I build and test the package? It's a while since I looked at this, and I'm now getting some weird errors if I try to build the tests:

[code]

[2019-08-09 13:29] sairamgeethanath commented on #1590
Here are some names/emails of potential reviewers:
1. Nikola Stikov nikola.stikov@polymtl.ca
2. Jonathan Tamir jtamir@eecs.berkeley.edu
3. Jon-Fredrick Nielsen  jfnielse@umich.edu

I am more than happy to provide a few more from the open-source Magnetic
Resonance Imaging (https://www.opensourceimaging.org/) community if need be.

On Fri, Aug 9, 2019 at 9:03 AM Ariel Rokem <notifications@github.com

[2019-08-09 13:48] danielskatz commented on #1606
👋 @jbasney, @jteheran - please check and see what else needs to be done, if anything

[2019-08-09 13:50] jbasney commented on #1606
looks good to me

[2019-08-09 13:56] ahwillia commented on #1573
Looking through this now. I'm generally very impressed and think we should be able to approve this in short order. I am confirming that I can install and execute the package now.

My biggest piece of feedback is that the README and description of the package should emphasize even more applications. I think this package will be **broadly** useful to many fields! For example, the first sentence of t

[2019-08-09 13:57] gavinmdouglas commented on #1616
I'm familiar and interested in the topic although not an expert regarding alignment trimming - if that's ok then I'm happy to be a reviewer.

[2019-08-09 14:01] ahwillia commented on #1573
One final thought, I don't insist on changing the name of the repo, but something like "TimeSeriesClustering.jl" would seem to better capture the function of the package. The name ClustForOpt doesn't make it super clear what the package does...

Also can the authors comment on the differences between this package and other time series packages in julia (e.g `TimeSeries.jl`) in the paper / README?

[2019-08-09 14:04] bwoshea commented on #1624
@danielskatz - the PR is now merged, and you can find the paper in the Enzo code repository (specifically, in https://github.com/enzo-project/enzo-dev/tree/master/method-paper-joss-2019) .  Do you need anything else to start the review?

[2019-08-09 14:06] csoneson commented on #1616
Thank you @gavinmdouglas!

[2019-08-09 14:06] csoneson commented on #1616
@whedon add @gavinmdouglas as reviewer

[2019-08-09 14:06] whedon commented on #1616
OK, @gavinmdouglas is now a reviewer

[2019-08-09 14:07] csoneson commented on #1616
@whedon start review

[2019-08-09 14:07] whedon opened #1635 "[REVIEW]: Spruceup: fast and flexible identification, visualization, and removal of outliers from large multiple sequence alignments"
**Submitting author:** @marekborowiec (<a href="http://orcid.org/0000-0001-7510-4064">Marek Borowiec</a>)
**Repository:** <a href="https://github.com/marekborowiec/spruceup" target ="_blank">https://github.com/marekborowiec/spruceup</a>
**Version:** v2019.2.3
**Editor:** @csoneson
**Reviewer:** @iimog, @gavinmdouglas
**Archive:** <a href="https://doi.org/10.5281/zenodo.3476875" target="_blank">10.

[2019-08-09 14:07] whedon commented on #1616
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1635. Feel free to close this issue now!

[2019-08-09 14:07] whedon commented on #1635
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @iimog, @gavinmdouglas it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-08-09 14:07] whedon commented on #1635
[code]

[2019-08-09 14:07] whedon commented on #1635
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01635/joss.01635/10.21105.joss.01635.pdf)

[2019-08-09 14:08] #1616 closed

[2019-08-09 14:10] csoneson commented on #1635
@iimog, @gavinmdouglas - please perform your review in this issue (see instructions in the first comment above). If you have any questions, don't hesitate to ping me.

 @marekborowiec - please have a look at the review criteria in the checklists above and check that your repository contains all the required items. Otherwise, you can add them already now to simplify the review process!

[2019-08-09 14:18] jteheran commented on #1606
looks good to me too

[2019-08-09 14:26] labarba commented on #1624
@whedon generate pdf

[2019-08-09 14:26] whedon commented on #1624
[code]

[2019-08-09 14:27] whedon commented on #1624
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01624/joss.01624/10.21105.joss.01624.pdf)

[2019-08-09 14:28] labarba commented on #1624
I changed the repository URL on the top comment of this issue, then compiled with `whedon`, and it's all good!

[2019-08-09 14:41] mgckind commented on #1614
Yes, I went through the tutorial and through the example pages, I made a comment on showing for example how to reproduce Figures from the paper, I think with that it should be enough.

[2019-08-09 14:55] tesch1 commented on #1487
Hi @StewMH - the tests directory is a dependent subdirectory of the base - so you need `cmake ..` instead of `cmake ../tests`.  But also cmake flags to enable testing/benchmarking, from the base cppduals dir: (I'll update this in the docs too)

[code]

Disclosure: I cant test this at the moment, because I just got a new machine and the latest Apple clang is crashing on building the tests, but it s

[2019-08-09 15:18] joethorley commented on #1601
I am happy

[2019-08-09 15:25] terrytangyuan commented on #1601
@whedon set 0.3.1 as version

[2019-08-09 15:25] whedon commented on #1601
OK. 0.3.1 is the version.

[2019-08-09 15:26] terrytangyuan commented on #1601
@whedon accept

[2019-08-09 15:26] whedon commented on #1601
No archive DOI set. Exiting...

[2019-08-09 15:27] terrytangyuan commented on #1601
@whedon check references

[2019-08-09 15:27] whedon commented on #1601
[code]

[2019-08-09 15:27] whedon commented on #1601
[code]

[2019-08-09 15:28] terrytangyuan commented on #1601
Thank you!

@goldingn - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

* The title of the archive is the same as the JOSS paper title
* T

[2019-08-09 15:32] danielskatz commented on #1606
@whedon generate pdf

[2019-08-09 15:32] whedon commented on #1606
[code]

[2019-08-09 15:33] whedon commented on #1606
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01606/joss.01606/10.21105.joss.01606.pdf)

[2019-08-09 15:33] danielskatz commented on #1606
@whedon check references

[2019-08-09 15:33] whedon commented on #1606
[code]

[2019-08-09 15:34] whedon commented on #1606
[code]

[2019-08-09 15:48] elyiorgos commented on #1617
Thanks @lheagy!

The existing demo produces a visual report that includes calculated
endpoints(their numerical values), which could be compared with the
expected endpoints manually, but based on your response and for ease of use
I added an automated check for that process today. That should serve as a
more robust validation of the output.

To help identify external reviewers I'm going to include m

[2019-08-09 15:49] danielskatz commented on #1606
@j-braun - please merge https://github.com/CROSSINGTUD/bc-hybrid-certificates/pull/4 or let me know any changes you don't agree with.

[2019-08-09 15:50] danielskatz commented on #1606
After that, please make a Zenodo archive of the software, and report the DOI here.  If the version number has changed, please report that here as well.

[2019-08-09 16:14] danielskatz commented on #1624
Ok, let's try it and see how the review issue looks

[2019-08-09 16:14] danielskatz commented on #1624
@whedon start review

[2019-08-09 16:14] whedon opened #1636 "[REVIEW]: ENZO: An Adaptive Mesh Refinement Code for Astrophysics (Version 2.6)"
**Submitting author:** @bwoshea (<a href="http://orcid.org/0000-0002-2786-0348">Brian O&#39;Shea</a>)
**Repository:** <a href="https://github.com/enzo-project/enzo-dev" target ="_blank">https://github.com/enzo-project/enzo-dev</a>
**Version:** v2.6.1
**Editor:** @danielskatz
**Reviewer:** @zingale, @rtfisher
**Archive:** <a href="https://doi.org/10.5281/zenodo.3469922" target="_blank">10.5281/zeno

[2019-08-09 16:14] whedon commented on #1624
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1636. Feel free to close this issue now!

[2019-08-09 16:14] whedon commented on #1636
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zingale, @rtfisher it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-08-09 16:14] whedon commented on #1636
[code]

[2019-08-09 16:14] whedon commented on #1636
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01636/joss.01636/10.21105.joss.01636.pdf)

[2019-08-09 16:15] StewMH commented on #1487
OK, on Red Hat I have this issue:
[code]
But I do have a BLAS:
[code]

[2019-08-09 16:16] danielskatz commented on #1636
I had to update the repository URL on the top comment of this issue. (note to @arfon -  whedon didn't use the URL in the pre-report issue, and this may also lead to a problem when we do the final acceptance.)

[2019-08-09 16:16] danielskatz commented on #1636
@whedon generate pdf

[2019-08-09 16:16] whedon commented on #1636
[code]

[2019-08-09 16:17] #1624 closed

[2019-08-09 16:17] whedon commented on #1636
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01636/joss.01636/10.21105.joss.01636.pdf)

[2019-08-09 16:20] danielskatz commented on #1636
@bwoshea - merging https://github.com/enzo-project/enzo-dev/pull/93 will fix 2 small bib entries

[2019-08-09 16:23] danielskatz commented on #1636
👋 @zingale, @rtfisher - we are ready for you to review this now.  Please read the first 2 comments in this issue carefully.  Your job now is to go through the paper (the latest "check article proof" in this issue) and the repository, and check off items in your checklist until you are done, and if you find problems, either report them here or create an issue in the repo and mention this issue in t

[2019-08-09 17:08] shyamalpatel commented on #1617
We would like to nominate Prof. Bjoern Eskofier (@eskofier) as a reviewer. Dr. Eskofier is a professor in the Department of Computer Science at University of Erlangen (https://www.fau.eu/) and leads a research group focused on wearable computing and machine learning.

Best,
Shyamal

[2019-08-09 17:10] tesch1 commented on #1487
Do you have openblas-devel installed, or can you install it?

On Friday, August 9, 2019, Stewart Martin-Haugh <notifications@github.com>
wrote:

[2019-08-09 17:27] arokem commented on #1590
OK. I contacted @nstikov who has agreed to do the review in tandem with @mathieuboudreau.

I'll add @nstikov to the review and launch the review forum and @mathieuboudreau is welcome to chime in there or on the project issues as well.

[2019-08-09 17:28] arokem commented on #1590
@whedon assign @nstikov as reviewer

[2019-08-09 17:28] whedon commented on #1590
OK, the reviewer is @nstikov

[2019-08-09 17:28] arokem commented on #1590
@whedon add @vsoch as reviewer

[2019-08-09 17:28] whedon commented on #1590
OK, @vsoch is now a reviewer

[2019-08-09 17:28] arokem commented on #1590
@whedon start review

[2019-08-09 17:28] whedon opened #1637 "[REVIEW]: Virtual Scanner: MRI on a Browser"
**Submitting author:** @imr-framework (<a href="http://orcid.org/0000-0002-3776-4114">Sairam Geethanath</a>)
**Repository:** <a href="https://github.com/imr-framework/virtual-scanner" target ="_blank">https://github.com/imr-framework/virtual-scanner</a>
**Version:** 1.0.0
**Editor:** @arokem
**Reviewers:** @nstikov, @vsoch, @mathieuboudreau
**Archive:** <a href="https://doi.org/10.5281/zenodo.3550

[2019-08-09 17:28] whedon commented on #1590
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1637. Feel free to close this issue now!

[2019-08-09 17:28] whedon commented on #1637
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nstikov, @vsoch it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2019-08-09 17:28] whedon commented on #1637
[code]

[2019-08-09 17:29] whedon commented on #1637
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01637/joss.01637/10.21105.joss.01637.pdf)

[2019-08-09 17:29] arokem commented on #1590
OK - @vsoch, @nstikov and @mathieuboudreau, please head over to #1637 for your review checklists and for the up-to-date pdf of the manuscript. Let me know if you have any questions. Thanks a lot!

[2019-08-09 17:29] #1590 closed

[2019-08-09 17:30] vsoch commented on #1637
Wowza this is my third this week, will get started when I can!

[2019-08-09 18:40] zhampel commented on #1047
@Kevin-Mattheus-Moerman I see that the author has addressed my earlier comments as well as those of the other reviewers. The documentation has been improved, and I think users will appreciate the addition of sample data for testing purposes. The final two boxes have been checked. Thanks.

[2019-08-09 18:54] whedon commented on #1573
:wave: @ahwillia, please update us on how your review is going.

[2019-08-09 18:56] effigies commented on #1294
Turns out, @tyarkoni doesn't have the magic touch for Zenodo. It's @yarikoptic who started the archive (https://github.com/bids-standard/pybids/issues/299), so only he has the power.

Yarik, would you mind updating the title of https://zenodo.org/record/3333492 (specifically that one) to "PyBIDS: Python tools for BIDS datasets".

[2019-08-09 19:07] yarikoptic commented on #1294
- how do I share the super powers?
- updated title for that one and 0.9.3 -- clicked Save -- but do not see that reflected anywhere

[2019-08-09 19:16] zhampel commented on #1632
@richteague

*Paper*
Corrections/Clarifications:
- requirer -> require
- which is assumed to random -? which is assumed to be random / which is assumed random
- Can you please specify what is meant by random, i.e. type or distribution?
- Does 'correcting' need to be in quotes? It is a correction operation itself, no?
- mass of the mass of the central star -> mass of the central star

*Documentatio

[2019-08-09 19:38] Kevin-Mattheus-Moerman commented on #1047
@zhampel thanks a lot!

[2019-08-09 19:40] Kevin-Mattheus-Moerman commented on #1047
@jjmcnelis thanks for the update too

[2019-08-09 19:41] effigies commented on #1294
I haven't been able to find a way to share super powers on my repositories. We should probably open an issue with Zenodo, because this is extremely inconvenient for projects that don't have a BDFL.

[2019-08-09 19:42] Kevin-Mattheus-Moerman commented on #1047
@jshermeyer @rmsare all boxes are ticked. However is it correct to say some work remains related to https://github.com/CosmiQ/CometTS/issues/16 raised by @rmsare?

[2019-08-09 19:42] effigies commented on #1294
@yarikoptic I wonder if hitting "Publish" instead of "Save" would make a difference.

[2019-08-09 19:43] Kevin-Mattheus-Moerman commented on #1047
@whedon generate pdf

[2019-08-09 19:43] whedon commented on #1047
[code]

[2019-08-09 19:43] Kevin-Mattheus-Moerman commented on #1047
Thanks!

*Dr K.M. Moerman* <https://kevinmoerman.org/>
*Lecturer in Biomedical Engineering*

*Research Affiliate, MIT Media Lab*
+353 (0)91 49 3552
*ORCID iD* 0000-0003-3768-4269 <http://orcid.org/0000-0003-3768-4269>
Biomedical Engineering, Alice Perry Engineering Building
NUI Galway, University Road, Galway, H91 HX31, Ireland

On Fri, 9 Aug 2019 at 19:40, Zigfried Hampel-Arias <notifications@git

[2019-08-09 19:43] whedon commented on #1047
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01047/joss.01047/10.21105.joss.01047.pdf)

[2019-08-09 19:49] jnoynaert commented on #1633
@whedon generate pdf

[2019-08-09 19:49] whedon commented on #1633
[code]

[2019-08-09 19:49] whedon commented on #1633
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01633/joss.01633/10.21105.joss.01633.pdf)

[2019-08-09 19:59] jnoynaert commented on #1633
Maybe @wkearn would be a good reviewer?

[2019-08-09 20:01] Datseris commented on #1611
@whedon generate pdf

[2019-08-09 20:01] whedon commented on #1611
[code]

[2019-08-09 20:02] whedon commented on #1611
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01611/joss.01611/10.21105.joss.01611.pdf)

[2019-08-09 20:24] kavir1698 commented on #1611
Thank you, @Datseris, for your review.

@jedbrown I have released a new version (v1.1.7) for the package. I do not know how to change the version in the paper, though.

[2019-08-09 20:36] swapsha96 commented on #1557
@whedon generate pdf

[2019-08-09 20:37] whedon commented on #1557
[code]

[2019-08-09 20:37] whedon commented on #1557
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01557/joss.01557/10.21105.joss.01557.pdf)

[2019-08-09 20:37] jedbrown commented on #1611
@whedon set v1.1.7 as version

[2019-08-09 20:37] whedon commented on #1611
OK. v1.1.7 is the version.

[2019-08-09 20:39] swapsha96 commented on #1557
@whedon generate pdf

[2019-08-09 20:40] whedon commented on #1557
[code]

[2019-08-09 20:40] whedon commented on #1557
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01557/joss.01557/10.21105.joss.01557.pdf)

[2019-08-09 20:44] swapsha96 commented on #1557
@mbobra @DanielLenz @whedon I've added citations of different Python packages in the paper.
I see one check is left in Daniel's list. So what's next?

[2019-08-09 20:54] Datseris commented on #1611
Please notice that for my review to conclude, a new version of the software should be released in the Julia package ecosystem. That will correspond to the version a user would obtain via normal installation, `pkg> add Agents`. Although this seems a technicality, it is nevertheless the way a Julia package is installed (unless one wants to mess with the master branch, where versions do not really ma

[2019-08-09 21:22] zhampel commented on #1554
@telegraphic

After installing via `pip install blimpy` and running `python setup.py test`, I receive an error regarding the lack of module `bitshuffle`. Any guidance on properly prepping & running the test suite?

Regarding the docs, I'm not sure the 'Writing Docs' page is necessary nor particularly instructive for the purposes of contributing to the blimpy codebase. I think a contributing guide

[2019-08-09 22:01] wkearn commented on #1633
I would be happy to review this submission!

[2019-08-09 23:47] rmsare commented on #1047
@Kevin-Mattheus-Moerman @jshermeyer Yes, I think the claims in the paper need to be revised a bit to describe what's new in CometTS, and some small edits remain. Otherwise the package is in good shape, and I'd be happy to recommend an updated submission for acceptance.

[2019-08-10 00:47] goldingn commented on #1601
This version of the software is now released on GitHub and on CRAN. Here's a figshare archive of this version of the software:
https://doi.org/10.6084/m9.figshare.9461447.v1
Title and authors are the same as this paper.

[2019-08-10 04:04] holgerteichgraeber commented on #1573
Thank you for your feedback, these are great ideas! I am out for the weekend, and will get back to this next week.

[2019-08-10 04:09] holgerteichgraeber commented on #1573
In case that there are any papers that you can recommend to read in the suggested application areas, suggestions are greatly appreciated.

[2019-08-10 05:22] boshek commented on #791
This is an update to this process.

## Using the stacomi package

I was running into issues because of leftover installations and other uses of a local PostgreSQL server. Additionally I was running into issues because I had installed the ODBC driver via the StackBuilder. That installed the driver in a different place than manually installing like the instructions said. **I would recommend having y

[2019-08-10 08:21] alexanderimanicowenrivers commented on #1524
The major changes have now been merged, as well as the bug for macports has now been fixed in this PR - https://github.com/for-ai/rl/pull/27

Thanks @desilinguist

Alex

[2019-08-10 09:58] whedon opened #1638 "[PRE REVIEW]: Welcome to the tidyverse"
**Submitting author:** @hadley (<a href="http://orcid.org/0000-0003-4757-117X">Hadley Wickham</a>)
**Repository:** <a href="http://github.com/tidyverse/tidyverse" target ="_blank">http://github.com/tidyverse/tidyverse</a>
**Version:** v1.3.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @hadley. **Currently, there isn't an JOSS editor

[2019-08-10 09:58] whedon commented on #1638
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-10 09:58] whedon commented on #1638
[code]

[2019-08-10 09:58] whedon opened #1639 "[PRE REVIEW]: BioVirusHost is a simple Python interface to query information from Virus-Host database."
**Submitting author:** @AliYoussef96 (<a href="http://orcid.org/0000-0002-5201-387X">Ali Youssef</a>)
**Repository:** <a href="https://github.com/AliYoussef96/BioVirusHost" target ="_blank">https://github.com/AliYoussef96/BioVirusHost</a>
**Version:** v1.0.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @AliYoussef96. **Currently, ther

[2019-08-10 09:58] whedon commented on #1639
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-10 09:58] whedon commented on #1639
[code]

[2019-08-10 09:58] whedon commented on #1638
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01638/joss.01638/10.21105.joss.01638.pdf)

[2019-08-10 09:58] whedon commented on #1639
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01639/joss.01639/10.21105.joss.01639.pdf)

[2019-08-10 09:59] arfon commented on #1639
:wave: @brainstorm - the submitting author suggested you as the handling editor. Would you be able to take this one?

[2019-08-10 10:02] arfon commented on #1638
:wave: @hadley - thanks for your submission to JOSS. The editor you suggested to handle this submission (@karthik) is currently on leave from JOSS for a couple of months so I'm going to ask one of our other editors to handle this submission.

@mbobra - would you be willing to handle this submission?

[2019-08-10 10:03] Amudtogal commented on #1326
@gkthiruvathukal There has not been any update yet. I have resent the mail to the repo owners, let's hope for next week!
Thanks for your patience during this marathon!

[2019-08-10 10:09] j-braun commented on #1606
@whedon generate pdf

[2019-08-10 10:09] whedon commented on #1606
[code]

[2019-08-10 10:10] whedon commented on #1606
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01606/joss.01606/10.21105.joss.01606.pdf)

[2019-08-10 10:30] j-braun commented on #1606
@danielskatz I agreed to your changes, and only fixed one last typo.
Version is now v1.0.1
DOI: 10.5281/zenodo.3365225

@danielskatz, @jbasney, @jteheran -  thank you very much for your quick review and support

[2019-08-10 12:21] usethedata commented on #1532
@whedon generate pdf

[2019-08-10 12:21] whedon commented on #1532
[code]

[2019-08-10 12:21] whedon commented on #1532
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01532/joss.01532/10.21105.joss.01532.pdf)

[2019-08-10 12:25] usethedata commented on #1532
Sorry my review took a lot longer than it should, but it is complete.  I very much appreciate the work that @FaustinCarter did.  There's nothing I see that needs to be changed and I recommend publication.

[2019-08-10 12:25] dap-biospec commented on #1532
@kyleniemeyer we received permission from the editor at J. Phys. Chem. to deposit preprint to ChemRxiv. Bibliography now includes DOI for all cited items. We hope that this will allow to complete the review.

cc: @cfneese

[2019-08-10 12:35] usethedata commented on #1513
@whedon set 1.0.1 as version

[2019-08-10 12:35] whedon commented on #1513
OK. 1.0.1 is the version.

[2019-08-10 12:37] usethedata commented on #1513
@whedon set 10.5281/zenodo.3361131 as archive

[2019-08-10 12:37] whedon commented on #1513
OK. <a href="https://doi.org/10.5281/zenodo.3361131" target="_blank">10.5281/zenodo.3361131</a> is the archive.

[2019-08-10 12:38] usethedata commented on #1513
@whedon generate pdf

[2019-08-10 12:38] whedon commented on #1513
[code]

[2019-08-10 12:39] whedon commented on #1513
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01513/joss.01513/10.21105.joss.01513.pdf)

[2019-08-10 12:41] usethedata commented on #1513
@whedon check references

[2019-08-10 12:41] whedon commented on #1513
[code]

[2019-08-10 12:41] whedon commented on #1513
[code]

[2019-08-10 12:42] usethedata commented on #1513
@openjournals/jose-eics I believe this paper is ready for publication

[2019-08-10 12:43] arfon commented on #1513
@whedon accept

[2019-08-10 12:43] whedon commented on #1513
[code]

[2019-08-10 12:43] whedon commented on #1513
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/890

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/890, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-10 12:45] arfon commented on #1513
@whedon accept deposit=true

[2019-08-10 12:45] whedon commented on #1513
[code]

[2019-08-10 12:45] whedon commented on #1513
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1160170389349249024) 👈 🐦🐦🐦

[2019-08-10 12:45] whedon commented on #1513
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/891
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01513](https://doi.org/10.21105/joss.01513)
2. If everything looks go

[2019-08-10 12:49] arfon commented on #1513
@jimmccusker, @nicholascar - many thanks for your reviews here and to @usethedata for editing this submission.

@fiveop - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-08-10 12:49] #1513 closed

[2019-08-10 12:49] whedon commented on #1513
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01513/status.svg)](https://doi.org/10.21105/joss.01513)

**We need your help!**

Journal of Open Source Softwa

[2019-08-10 13:06] usethedata commented on #1542
@andrewheiss Thanks much for your thoughtful review.

[2019-08-10 13:15] gkthiruvathukal commented on #1326
@Amudtogal Thanks for following up! I am about to go on break until after the 18th. Will follow up sometime after that date.

[2019-08-10 13:16] gkthiruvathukal commented on #1326
/ooh August 11 until August 18

[2019-08-10 13:17] gkthiruvathukal commented on #1326
/ooo August 11 until August 18

[2019-08-10 13:29] danielskatz commented on #1606
@whedon set 1.0.1 as version

[2019-08-10 13:30] whedon commented on #1606
OK. 1.0.1 is the version.

[2019-08-10 13:30] danielskatz commented on #1606
@whedon set 10.5281/zenodo.3365225 as archive

[2019-08-10 13:30] whedon commented on #1606
OK. <a href="https://doi.org/10.5281/zenodo.3365225" target="_blank">10.5281/zenodo.3365225</a> is the archive.

[2019-08-10 13:31] danielskatz commented on #1606
@j-braun - Can you change the title of the zenodo archive to match the paper title?

[2019-08-10 14:28] rtfisher commented on #1636
I am just beginning the review process. I find the documentation link (https://enzo-project.org/docs/2.6/) under https://github.com/enzo-project/enzo-dev returns a 404.

[2019-08-10 15:05] vsoch commented on #1628
My review is complete! @mpetroff has addressed all of my issues (linked above), and specifically:
 - the paper is well written, clearly communicates a need, walks the reader through some background and how it works, and finishes by directing to the documentation
 - the repository now has a clean set of examples, one of which is driven by a Dockerfile to lower the barrier to entry
 - testing is aut

[2019-08-10 16:08] kyleniemeyer commented on #1532
Hi @cfneese, are you able to submit your review soon?

[2019-08-10 16:25] vijaysm commented on #1441
@likask I was able to go through with the installation with your new instructions. Thanks.

However, when running the examples, the input meshes are actually in the Docker volume containing the user-module sources and not in the container with the build. So please update the workflow for running examples, or the instructions here [1] that state:

```mpirun -np 2 ./elasticity -my_file LShape.h5m -k

[2019-08-10 16:28] vijaysm commented on #1441
Additionally, I also want to point out that latest versions of VisIt can natively read MOAB h5m files for visualization and you do not need to perform a `mbconvert` operation. However, if you want to use other tools like ParaView (there is a MOAB plugin you can compile for this as well), you will want a conversion to VTK.

[2019-08-10 17:27] arfon commented on #1634
:wave: @Kevin-Mattheus-Moerman - would you be willing to edit this submission for JOSS?

[2019-08-10 17:28] arfon commented on #1633
:wave: @oliviaguest - would you be willing to edit this submission for JOSS?

[2019-08-10 17:32] likask commented on #1441
If you repeat exactly that sequence
[code]
all files necessary to run code should be in build and install directories. That should be fixed now, however, if you pull from the master branch is still a bug. We will be making a bigger release soon with this fix included. We work as well on a suggestion by @chennachaos to move long parameters from the command line tp PETSc param file.

Very good point

[2019-08-10 17:38] mbobra commented on #1557
👋@openjournals/joss-eics, @wtgee is no longer available to review this submission. Should I assign another reviewer or move forward with only one review of the submission?

[2019-08-10 19:06] garrettj403 commented on #1554
@zhampel

They have a couple extra packages listed under ``extras_require`` in ``setup.py``, including bitshuffle. From your local copy of blimpy, you can run: ``pip install -e .[full]``

Again, this should be explained in the installation instructions.

[2019-08-10 20:19] arfon commented on #1557
@mbobra - I think we have two options here: 1) you do a review of the submission yourself, 2) we find a new reviewer.

Either is fine with me.

[2019-08-10 20:23] kyleniemeyer commented on #1553
@whedon add @jiajiexiao as reviewer

[2019-08-10 20:23] whedon commented on #1553
OK, @jiajiexiao is now a reviewer

[2019-08-10 21:03] effigies commented on #1294
@cMadan I'm going to see if I can update the title through our metadata (bids-standard/pybids#470). In which case, we'll go with the 0.9.4 tag.

[2019-08-10 22:37] karthik commented on #1638
@arfon I'd be happy to handle this one during my break.

[2019-08-11 00:19] arfon commented on #1638
Awesome. Thanks @karthik

[2019-08-11 00:19] arfon commented on #1638
@whedon assign @karthik as editor

[2019-08-11 00:19] whedon commented on #1638
OK, the editor is @karthik

[2019-08-11 08:19] oliviaguest commented on #1633
@arfon yes, I am more than happy to edit this! 😄

@whedon assign @oliviaguest as editor

[2019-08-11 08:21] oliviaguest commented on #1633
@whedon add @wkearn as reviewer

[2019-08-11 08:31] oliviaguest commented on #1633
@mancellin are you interested and able to review *[PressureDrop.jl: Pressure traverses for oil & gas wells](https://github.com/jnoynaert/PressureDrop.jl)* for [JOSS](https://joss.theoj.org)?

[2019-08-11 09:24] Kevin-Mattheus-Moerman commented on #1634
Yes, thanks. Looks interesting

[2019-08-11 09:25] Kevin-Mattheus-Moerman commented on #1634
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-08-11 09:26] whedon commented on #1634
OK, the editor is @Kevin-Mattheus-Moerman

[2019-08-11 11:01] arfon commented on #1633
BTW, you need to issue commands to @whedon on their own (i.e. not after some other comment).

[2019-08-11 11:02] arfon commented on #1633
@whedon assign @oliviaguest as editor

[2019-08-11 11:02] whedon commented on #1633
OK, the editor is @oliviaguest

[2019-08-11 11:02] arfon commented on #1633
@whedon add @wkearn as reviewer

[2019-08-11 11:02] whedon commented on #1633
OK, @wkearn is now a reviewer

[2019-08-11 11:06] whedon opened #1640 "[PRE REVIEW]: pySRURGS - a python package for symbolic regression by uniform random global search"
**Submitting author:** @pySRURGS (<a href="http://orcid.org/0000-0002-3050-8943">Sohrab Towfighi</a>)
**Repository:** <a href="https://github.com/pySRURGS/pySRURGS" target ="_blank">https://github.com/pySRURGS/pySRURGS</a>
**Version:** 0.1
**Editor:** @mbobra
**Reviewers:** @henrik227, @SirSharpest

**Author instructions**

Thanks for submitting your paper to JOSS @pySRURGS. **Currently, there isn

[2019-08-11 11:06] whedon commented on #1640
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-11 11:07] whedon commented on #1640
[code]

[2019-08-11 11:07] arfon commented on #1640
:wave: @mbobra - would you be willing to edit this submission for JOSS?

[2019-08-11 11:07] whedon commented on #1640
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01640/joss.01640/10.21105.joss.01640.pdf)

[2019-08-11 12:34] oliviaguest commented on #1633
@arfon ah, thanks!

[2019-08-11 13:24] pySRURGS commented on #1640
Can also consider @hausen, @krother, @benjamin-lee, @stulacy, @r-barnes, @jmadera

[2019-08-11 14:14] danielskatz commented on #1636
Now that this has been done, I will recompile - @bwoshea, you can do this too, just the way I am, with an instruction in whedon in a new comment (letting you know in case more changes are needed)

[2019-08-11 14:14] danielskatz commented on #1636
@whedon generate pdf

[2019-08-11 14:14] whedon commented on #1636
[code]

[2019-08-11 14:15] whedon commented on #1636
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01636/joss.01636/10.21105.joss.01636.pdf)

[2019-08-11 16:39] pySRURGS commented on #1640
@whedon generate pdf

[2019-08-11 16:40] whedon commented on #1640
[code]

[2019-08-11 16:40] whedon commented on #1640
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01640/joss.01640/10.21105.joss.01640.pdf)

[2019-08-11 17:26] zingale commented on #1636
regarding

There are 2 references to Enzo itself, referring to github.  Should these be changed to an archived version of the code with a DOI?

[2019-08-11 17:31] zingale commented on #1636
The license is UI/NCSA until 2000 and UC BSD until 2008, both are on the OSI list.  Should we assume the last license remains in effect since 2008?

[2019-08-11 17:33] zingale commented on #1636
https://github.com/enzo-project/enzo-dev/issues/94

[2019-08-11 17:54] zingale commented on #1636
https://github.com/enzo-project/enzo-dev/issues/95

[2019-08-11 18:23] terrytangyuan commented on #1601
@whedon set 10.5281/zenodo.819476 as archive

[2019-08-11 18:23] whedon commented on #1601
OK. <a href="https://doi.org/10.5281/zenodo.819476" target="_blank">10.5281/zenodo.819476</a> is the archive.

[2019-08-11 18:23] terrytangyuan commented on #1601
@whedon generate pdf

[2019-08-11 18:23] whedon commented on #1601
[code]

[2019-08-11 18:23] whedon commented on #1601
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01601/joss.01601/10.21105.joss.01601.pdf)

[2019-08-11 18:24] terrytangyuan commented on #1601
@whedon check references

[2019-08-11 18:24] whedon commented on #1601
[code]

[2019-08-11 18:24] whedon commented on #1601
[code]

[2019-08-11 18:25] terrytangyuan commented on #1601
@whedon accept

[2019-08-11 18:25] whedon commented on #1601
[code]

[2019-08-11 18:26] whedon commented on #1601
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/892

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/892, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-11 18:28] terrytangyuan commented on #1601
The paper looks good to me. I am handing this over to our editors-in-chief now. @openjournals/joss-eics

[2019-08-11 18:42] goldingn commented on #1601
Thanks @terrytangyuan!

[2019-08-11 19:19] mpetroff commented on #1628
@whedon generate pdf

[2019-08-11 19:19] whedon commented on #1628
[code]

[2019-08-11 19:19] whedon commented on #1628
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01628/joss.01628/10.21105.joss.01628.pdf)

[2019-08-11 19:36] zingale commented on #1636
https://github.com/enzo-project/enzo-dev/issues/96

[2019-08-11 19:42] zingale commented on #1636
https://github.com/enzo-project/enzo-dev/issues/97

[2019-08-11 19:48] zingale commented on #1636
https://github.com/enzo-project/enzo-dev/issues/98

[2019-08-11 20:50] FelixHenninger commented on #1525
Hej everyone, and sincerest apologies for the delay, which has been due to me being out of office in in July, followed by health issues on my part over the past ten days -- I'm very sorry for the trouble! My brief notes follow:

This project has been a genuine pleasure to review as the installation and use work flawlessly, and as a result I have only minor points to add to @JonathanReardon's excel

[2019-08-11 21:02] tcausgrove commented on #1629
I'm working through the demo, starting to understand the software.  I'm having two issues, which may be related.  One, when I open the demo, Igor looks for a "submission_02_works:Demo" folder, which I can't find.  (The folder levels in general seem off, extra ::: in front.)  Also, for the Process Fitting part of the demo, I can't find the Process_SpecEChem_4Spec_ForOxd_2D function.  Am I missing s

[2019-08-11 22:01] dap-biospec commented on #1629
@tcausgrove I updated Demo_G3F.pxp and Performance_Test.pxp after your earlier message. The  offending path was deleted. I recommend downloading  complete repo as ZIP file to ensure that Igor experiments are current. A characteristic change is checked "Epsilon" checkbox in the main panel.  Another check is Misc->"Path Status": QuantAnalysis path should be "[path_to_parent]\G3F-master\G3F\".

The p

[2019-08-11 22:22] dsurujon commented on #1610
I have gone through the manuscript, documentation and examples for AltamISA. I think this is a very nice and convenient package, and I'd like to thank the authors for introducing me to the ISA framework - I will try to incorporate ISA and AltamISA into my work in the future!
I spotted a couple of typos in the documentation, and have one suggestion. @holtgrewe could you please address those issues

[2019-08-11 22:33] zingale commented on #1636
https://github.com/enzo-project/enzo-dev/issues/99

[2019-08-11 23:03] zingale commented on #1636
https://github.com/enzo-project/enzo-dev/issues/100

[2019-08-12 00:59] tgerke commented on #1593
This looks really interesting! Happy to help. Will aim to tackle the review late this week, if that timeline works for you all.

[2019-08-12 04:01] lheagy commented on #1617
:wave: Hi @eskofier, @jminnier would you be willing to review this submission [JOSS](Joss.theoj.org/about)? JOSS is a 'developer friendly' journal. That is, we focus on the software as a scientific contribution. If the submitting authors have followed best practices (have documentation, tests, continuous integration, and a license) then their review should be straight-forward. There are more detai

[2019-08-12 04:34] kyleniemeyer commented on #1173
@whedon set 10.5281/zenodo.3361734 as archive

[2019-08-12 04:34] whedon commented on #1173
OK. <a href="https://doi.org/10.5281/zenodo.3361734" target="_blank">10.5281/zenodo.3361734</a> is the archive.

[2019-08-12 04:34] kyleniemeyer commented on #1173
@whedon generate pdf

[2019-08-12 04:34] whedon commented on #1173
[code]

[2019-08-12 04:35] whedon commented on #1173
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01173/joss.01173/10.21105.joss.01173.pdf)

[2019-08-12 04:50] kyleniemeyer commented on #1173
Hi @pankajkmishra , just a few final edits needed on the paper:

- can you provide more-complete affiliation info, like what you'd typically see in a journal article? (i.e., city, country)
- Please merge my PR for fixes to the bib file: https://github.com/pankajkmishra/NodeLab/pull/4
- I did some copy editing to the paper in https://github.com/pankajkmishra/NodeLab/pull/5, please merge that.

Ther

[2019-08-12 05:23] csoneson commented on #1593
Thanks @tgerke - that sounds great!

[2019-08-12 05:25] csoneson commented on #1593
@whedon commands

[2019-08-12 05:25] whedon commented on #1593
Here are some things you can ask me to do:

[code]

[2019-08-12 05:26] csoneson commented on #1593
@whedon remove @BarryDeCicco as reviewer

[2019-08-12 05:26] whedon commented on #1593
OK, @BarryDeCicco is no longer a reviewer

[2019-08-12 05:27] csoneson commented on #1593
@whedon add @tgerke as reviewer

[2019-08-12 05:27] whedon commented on #1593
OK, @tgerke is now a reviewer

[2019-08-12 06:01] j-braun commented on #1606
@danielskatz - Updating the title in Zenodo was not possible. Instead Icreated a new release matching the paper title. This triggered a new archive, but also created a new DOI.
DOI: 10.5281/zenodo.3365786
hope this is ok.

[2019-08-12 06:22] eskofier commented on #1617
Dear Lindsay,

I can take this.

Best regards,
Bjoern Eskofier
--
Prof. Bjoern Eskofier, Ph.D.

FAU Sandbox: find out more about our newest FAU student startup & innovation program at www.sandbox.fau.de

Heisenberg professorship of the DFG
Digital Sports and Health Group
Machine Learning and Data Analytics Lab
Department of Computer Science
Faculty of Engineering
Friedrich-Alexander University Erl

[2019-08-12 07:13] danielskatz commented on #1606
@whedon set 10.5281/zenodo.3365786 as archive

[2019-08-12 07:13] whedon commented on #1606
OK. <a href="https://doi.org/10.5281/zenodo.3365786" target="_blank">10.5281/zenodo.3365786</a> is the archive.

[2019-08-12 07:14] danielskatz commented on #1606
@whedon accept

[2019-08-12 07:14] whedon commented on #1606
[code]

[2019-08-12 07:16] danielskatz commented on #1606
@whedon accept deposit=true

[2019-08-12 07:16] whedon commented on #1606
[code]

[2019-08-12 07:17] whedon commented on #1606
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1160812495495471104) 👈 🐦🐦🐦

[2019-08-12 07:17] whedon commented on #1606
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/894
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01606](https://doi.org/10.21105/joss.01606)
2. If everything looks go