[2021-07-10 17:05] fboehm commented on #3273
Here are some needed revisions to the references:

1. Levina's name is misspelled in two refs. It should be "Levina", not "Levita".
2. R should be capitalized in the Bengttson ref.
3. You use both "The Annals of Statistics" and "Annals of Statistics" in your references. Did the journal change its name? Or is this an error? If there was no name change, then please update the references to reflect t

[2021-07-10 17:14] fboehm commented on #3273
Here are some needed revisions for the text of the manusript:

1. Figure 1 legend: "estimators" is missing an apostrophe; should be "estimator's", I think.
2. lines 150 - 151: Should "Recherche" and "Technologies" be capitalized? I'm not sure.

[2021-07-10 17:15] fboehm commented on #3273
@PhilBoileau - this is really great work. Please fix the minor errors that I point out in the two comments above. Thanks again!

[2021-07-10 17:15] fboehm commented on #3273
@PhilBoileau - this is really great work. Please fix the minor errors that I point out in the two comments above. Thanks again!

[2021-07-10 17:17] fboehm commented on #3273
One minor addition - please cite the `pkgdown` R package in your manuscript, where you mention it near the end of the article.

[2021-07-10 18:41] arfon commented on #3071
@whedon set 10.5281/zenodo.4665400 as archive

[2021-07-10 18:41] whedon commented on #3071
OK. <a href="https://doi.org/10.5281/zenodo.4665400" target="_blank">10.5281/zenodo.4665400</a> is the archive.

[2021-07-10 18:42] arfon commented on #3071
@whedon recommend-accept

[2021-07-10 18:42] whedon commented on #3071
[code]

[2021-07-10 18:42] whedon commented on #3071
[code]

[2021-07-10 18:42] whedon commented on #3071
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2442

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2442, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-10 19:12] PhilBoileau commented on #3273
Thank you so much, @fboehm! I'll get on these corrections right away.

[2021-07-10 19:40] thewan05 commented on #3084
@drvinceknight My advisor and I are from the Biostatistics department at U of Kansas Medical Center. There is a faculty member in our department, Dr. John Keighley, who has over 20 years of experience working in SAS and is active in the SAS community. If it's acceptable, Dr. Keighley can review the paper. However, if being from the same department is a conflict of interest, he may be able to sugge

[2021-07-10 19:44] PhilBoileau commented on #3273
Alright, the following issues have been addressed:
- "Levita" has been changed to "Levina"
- "R" is capitalized in the Bengttson reference
- "The Annals of Statistics" has been changed to "Annals of Statistics"
- The ISBN for Pourehmadi's book has been included in the bibtex reference
- `nlshrink`'s title is now fixed in the bibliography
- The typo in Figure 1's caption has been fixed
- `pkgdown`

[2021-07-10 19:49] jhnienhuis commented on #3398
@kbarnhart,

thanks again for inviting me to this review. Its been fun exploring github and python!

I noticed two small things:
1) I noticed this link is expired. do I need to accept anything still?
Be sure to accept the invite at this URL: https://github.com/openjournals/joss-reviews/invitations

2)  I tried to find the paper pdf on the JOSS webpage because I could not find it anywhere on github

[2021-07-10 20:11] virgesmith commented on #3351
@danielskatz. 1.0.0 now released, DOI: 10.5281/zenodo.5090120, however you now appear as an author in the metadata

[2021-07-10 20:14] HeloiseS commented on #3257
okay cool just one question: is there a physical motivation for using this pareto function? Or is it a case of "we don't know what the luminosity function is doing for our populations so a powerlaw is a good guess"?

[2021-07-10 20:15] phamvanvung commented on #3384
Sorry for the late reply, yes, as from my review and the checklist. I recommend publishing this work.

[2021-07-10 21:33] szymon-datalions commented on #2869
@sdesabbata Thanks for your feedback. I'll go point by point and I'll let you know about changes / additional explanations / corrections when they'll be done.

[2021-07-10 22:00] daniellivingston commented on #3389
Hi all, sorry for the delay. I expect to have this wrapped up within the next 48 hours.

[2021-07-11 00:55] adamhsparks commented on #3420
Sorry, I can't do this right now.

[2021-07-11 01:36] jni commented on #3098
@evetion fantastic! Thank you for that review! Can you confirm that you are ready for the paper to be accepted then?

[2021-07-11 02:04] milicag commented on #3203
@Eugenio2192. Thank you for addressing the issues. Please find and address some minor notes I left in our now closed review issues. I also opened up a new issue for a few typos I was able to find. Please go through the notebooks, code, and documentation for any final touch-ups with respect to formatting and typos. I found out that `geopandas` version 0.9.0 will throw an error related to not having

[2021-07-11 02:38] adithirgis commented on #3437
Hi @fabian-s and @pratheesh3780,

I have completed the review. The package is very useful!

Thanks so much for inviting me.
Adithi

[2021-07-11 02:45] danielskatz commented on #3351
Maybe you can remove me as an author - the metadata is just what zenodo suggests, but you can change it

[2021-07-11 02:46] danielskatz commented on #3384
Thanks @phamvanvung

[2021-07-11 02:46] danielskatz commented on #3384
👋 @chrishavlin - how is your review coming along?

[2021-07-11 07:17] virgesmith commented on #3351
done, thanks

[2021-07-11 07:32] Kevin-Mattheus-Moerman commented on #3020
@vijaysm, @chennachaos can you give an update on review progress? Thanks again for your help!

[2021-07-11 07:39] Kevin-Mattheus-Moerman commented on #3055
I have emailed @tomgrylls with a reminder about these final edits.

[2021-07-11 07:41] Kevin-Mattheus-Moerman commented on #3190
@SunilAnandatheertha yes you can make these changes. You can update the paper in your repository as you see fit and then call `@whedon generate pdf` here to update it. Once you've updated the title I can amend it for this review issue too.

[2021-07-11 07:45] Kevin-Mattheus-Moerman commented on #3190
@yangbai90 @littlelazy6 thanks for your review efforts! Greatly appreciated. I see you have all boxes ticked. Can you please formally respond if you recommend acceptance in JOSS? Thanks

[2021-07-11 08:55] bjmorgan commented on #3408
@jmschrei Afraid I won't have time to review this at present.

[2021-07-11 10:36] chennachaos commented on #3020
Hi @Kevin-Mattheus-Moerman.
Apologies for the delay. I have had difficulties in building the library. I will check again today and ask for help if the issues persist.

[2021-07-11 11:34] richardjgowers commented on #3386
@whedon remove @bovee as reviewer

[2021-07-11 11:34] whedon commented on #3386
OK, @bovee is no longer a reviewer

[2021-07-11 11:50] SunilAnandatheertha commented on #3190
@Kevin-Mattheus-Moerman Thank you. I will update here soon

[2021-07-11 11:50] SunilAnandatheertha commented on #3190
@whedon generate pdf

[2021-07-11 11:50] whedon commented on #3190
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: :point_left:

[2021-07-11 11:59] grburgess commented on #3257
In general, luminosity functions are empirical descriptions that are modeling several underlying processes that manifest as a single observed distribution. For example, the GRB luminosity function is likely driven by progenitor mass / explosion energy, radiative process, and jet viewing angle. Observationally, this manifests as a broken power law. Thus, unless one is modeling all the physical proc

[2021-07-11 12:34] SunilAnandatheertha commented on #3190
@whedon generate pdf

[2021-07-11 12:34] richardjgowers commented on #2919
@noahmclean would you be free to help get this reviewed?

[2021-07-11 12:34] whedon commented on #3190
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: :point_left:

[2021-07-11 12:39] richardjgowers commented on #3301
@jmbr would you be interested in reviewing this?

[2021-07-11 12:39] SunilAnandatheertha commented on #3190
@Kevin-Mattheus-Moerman Hi Kevin, I have updated the paper.

[2021-07-11 12:45] richardjgowers commented on #3408
@jmschrei yeah sure

[2021-07-11 13:08] danielskatz commented on #3351
@whedon set 10.5281/zenodo.5090120 as archive

[2021-07-11 13:08] whedon commented on #3351
OK. <a href="https://doi.org/10.5281/zenodo.5090120" target="_blank">10.5281/zenodo.5090120</a> is the archive.

[2021-07-11 13:09] danielskatz commented on #3351
@whedon set v1.0.0 as version

[2021-07-11 13:09] whedon commented on #3351
OK. v1.0.0 is the version.

[2021-07-11 13:09] danielskatz commented on #3351
@virgesmith - can you change the metadata in the zenodo archive to make the title of archive match the title of the paper?

[2021-07-11 13:17] richardjgowers commented on #3408
@jmschrei from quickly looking through the package, it seems a little light, I think maybe a scope check would be a good idea

[2021-07-11 13:44] tmickleydoyle commented on #3322
Hey, @cmaimone 👋  Thank you all for including me in the review of this potentially very useful package 🎉  I have completed my checklist in the initial comment. Best of luck 🥳

[2021-07-11 15:22] evetion commented on #3098
Yep, I confirm we can accept this paper. 🎉

[2021-07-11 15:49] jmbr commented on #3301
@richardjgowers Yes, count me in.

[2021-07-11 15:55] hknd23 commented on #3322
Thank you very much @tmickleydoyle for testing the package and completing the review.

[2021-07-11 16:10] chennachaos commented on #3020
Hi @diehlpk,
I am having difficulties installing the library. The problem is with the **Blaze** and **Blaze_Iterative** libraries.
I was hoping that I could make use of the scripts provided but there are no files at the link *Build Dependencies and Code on Ubuntu*.
I work with Ubuntu OS.

[2021-07-11 16:23] diehlpk commented on #3020
@chennachaos are you using the HPC Buildinfrastructure Scripts as shown in the documentation?

These scripts download and install all dependencies. Note that both libraries are headed only libraries.

Can you post any error message?

[2021-07-11 16:40] bhajay commented on #3255
@Kevin-Mattheus-Moerman : There is no paper.md anymore in the repository

[2021-07-11 16:42] bhajay opened #3472 "Installation: Does installation proceed as outlined in the documentation?"

[2021-07-11 16:42] whedon commented on #3472
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-11 16:42] whedon commented on #3472
Downloading of the repository (to analyze the language) for issue #3472 failed with the following error:
[code]

[2021-07-11 16:42] whedon commented on #3472
PDF failed to compile for issue #3472 with the following error:
[code]

[2021-07-11 16:42] whedon commented on #3472
Downloading of the repository (to check the bibtex) failed for issue #3472 failed with the following error:
[code]

[2021-07-11 16:42] bhajay opened #3473 "Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution."

[2021-07-11 16:42] whedon commented on #3473
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-11 16:43] whedon commented on #3473
Downloading of the repository (to analyze the language) for issue #3473 failed with the following error:
[code]

[2021-07-11 16:43] whedon commented on #3473
Downloading of the repository (to check the bibtex) failed for issue #3473 failed with the following error:
[code]

[2021-07-11 16:43] whedon commented on #3473
PDF failed to compile for issue #3473 with the following error:
[code]

[2021-07-11 16:44] bhajay opened #3474 "Summary: Has a clear description of the high-level functionality and purpose of the software for a diverse, non-specialist audience been provided?"

[2021-07-11 16:44] whedon commented on #3474
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-11 16:44] bhajay opened #3475 "A statement of need: Does the paper have a section titled 'Statement of Need' that clearly states what problems the software is designed to solve and who the target audience is?"

[2021-07-11 16:44] whedon commented on #3474
Downloading of the repository (to analyze the language) for issue #3474 failed with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3474
PDF failed to compile for issue #3474 with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3474
Downloading of the repository (to check the bibtex) failed for issue #3474 failed with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3475
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-11 16:44] bhajay opened #3476 "State of the field: Do the authors describe how this software compares to other commonly-used packages?"

[2021-07-11 16:44] bhajay opened #3477 "Quality of writing: Is the paper well written (i.e., it does not require editing for structure, language, or writing quality)?"

[2021-07-11 16:44] Kevin-Mattheus-Moerman commented on #3255
@whedon generate pdf from branch joss

[2021-07-11 16:44] whedon commented on #3475
Downloading of the repository (to analyze the language) for issue #3475 failed with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3475
PDF failed to compile for issue #3475 with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3475
Downloading of the repository (to check the bibtex) failed for issue #3475 failed with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3476
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-11 16:44] bhajay opened #3478 "References: Is the list of references complete, and is everything cited appropriately that should be cited (e.g., papers, datasets, software)? Do references in the text use the proper citation syntax?"

[2021-07-11 16:44] whedon commented on #3476
Downloading of the repository (to analyze the language) for issue #3476 failed with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3255
[code]

[2021-07-11 16:44] whedon commented on #3476
Downloading of the repository (to check the bibtex) failed for issue #3476 failed with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3476
PDF failed to compile for issue #3476 with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3477
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-11 16:44] whedon commented on #3477
Downloading of the repository (to analyze the language) for issue #3477 failed with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3477
Downloading of the repository (to check the bibtex) failed for issue #3477 failed with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3477
PDF failed to compile for issue #3477 with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3478
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-11 16:44] whedon commented on #3478
Downloading of the repository (to analyze the language) for issue #3478 failed with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3478
Downloading of the repository (to check the bibtex) failed for issue #3478 failed with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3478
PDF failed to compile for issue #3478 with the following error:
[code]

[2021-07-11 16:44] bhajay opened #3479 "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

[2021-07-11 16:44] whedon commented on #3479
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-11 16:44] whedon commented on #3479
Downloading of the repository (to analyze the language) for issue #3479 failed with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3479
Downloading of the repository (to check the bibtex) failed for issue #3479 failed with the following error:
[code]

[2021-07-11 16:44] Kevin-Mattheus-Moerman commented on #3255
Is on the 'joss' branch. I've also just updated it. Does that help?

[2021-07-11 16:44] whedon commented on #3479
PDF failed to compile for issue #3479 with the following error:
[code]

[2021-07-11 16:44] whedon commented on #3255
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: :point_left:

[2021-07-11 16:45] #3479 closed

[2021-07-11 16:54] virgesmith commented on #3351
@danielskatz done

[2021-07-11 17:26] bhajay commented on #3472
The installation instructions are insufficient. It assumes that the users have a reasonable programming experience. This would be ok, if there were one-click installers provided. Beginner users could then use the one-click installers while advanced users could use the build instructions.

Alternatively, I would elaborate on the installation instructions and provide more sub-steps. Some screenshots

[2021-07-11 17:27] bhajay opened #3480 "Functionality documentation: Is the core functionality of the software documented to a satisfactory level (e.g., API method documentation)?"

[2021-07-11 17:27] whedon commented on #3480
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-11 17:27] whedon commented on #3480
Downloading of the repository (to analyze the language) for issue #3480 failed with the following error:
[code]

[2021-07-11 17:27] whedon commented on #3480
PDF failed to compile for issue #3480 with the following error:
[code]

[2021-07-11 17:27] whedon commented on #3480
Downloading of the repository (to check the bibtex) failed for issue #3480 failed with the following error:
[code]

[2021-07-11 17:43] bhajay commented on #3473
howtobuild.md does not have a list of dependencies. I do not see other files that have this information either. It would definitely help to state this explicitly.

[2021-07-11 17:44] bhajay commented on #3472
I see that this software can have two type of users. There might be a lot who might just want to use this in their application or directly use this. For such users, it can surely help to have a more detailed build instructions. Also some instructions on how to include in one's application.

[2021-07-11 17:44] bhajay opened #3481 "Automated tests: Are there automated tests or manual steps described so that the functionality of the software can be verified?"

[2021-07-11 17:44] whedon commented on #3481
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-11 17:44] whedon commented on #3481
PDF failed to compile for issue #3481 with the following error:
[code]

[2021-07-11 17:44] whedon commented on #3481
Downloading of the repository (to analyze the language) for issue #3481 failed with the following error:
[code]

[2021-07-11 17:44] whedon commented on #3481
Downloading of the repository (to check the bibtex) failed for issue #3481 failed with the following error:
[code]

[2021-07-11 17:45] bhajay commented on #3481
While a folder of tests have been provided, I would recommend adding a README atleast to tell the users as to what these tests are supposed to give.

[2021-07-11 18:24] richardjgowers commented on #3301
@whedon add @jmbr as reviewer

[2021-07-11 18:24] whedon commented on #3301
OK, @jmbr is now a reviewer

[2021-07-11 18:25] richardjgowers commented on #3301
@whedon start review

[2021-07-11 18:25] whedon opened #3482 "[REVIEW]: LDDS: Python package for computing and visualizing Lagrangian Descriptors for Dynamical Systems"
**Submitting author:** @Shibabrat (<a href="http://orcid.org/0000-0001-7964-2513">Shibabrat Naik</a>)
**Repository:** <a href="https://github.com/champsproject/ldds" target ="_blank">https://github.com/champsproject/ldds</a>
**Version:** v0.1.0
**Editor:** @richardjgowers
**Reviewer:** @nicoguaro, @jmbr
**Archive:** <a href="https://doi.org/10.5281/zenodo.5519579" target="_blank">10.5281/zenodo.55

[2021-07-11 18:25] whedon commented on #3301
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3482.

[2021-07-11 18:25] #3301 closed

[2021-07-11 18:25] whedon commented on #3482
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nicoguaro, @jmbr it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-07-11 18:25] whedon commented on #3482
[code]

[2021-07-11 18:25] whedon commented on #3482
[code]

[2021-07-11 18:25] whedon commented on #3482
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03482/joss.03482/10.21105.joss.03482.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03482/joss.03482/10.21105.joss.03482.pdf) :page_facing_up: :point_left:

[2021-07-11 19:37] desilinguist commented on #3448
This package looks really cool and something that I would likely check out myself for some work that I am doing! Excellent work! The documentation is top-notch. I only have some minor suggestions:

1. Please clearly list the dependencies in the GitHub README, if possible. This makes it much easier to figure out what's needed than looking at requirements.txt.

2. I didn't see API documentation for

[2021-07-11 20:03] beniroquai commented on #3394
All my boxes are checked too.
Nevertheless, I would really like to implement some of our hardware adapters in this framework since I not only find it visually appealing but like its performance and integration into e.g. Napari. The paper together with the nicely documented instructions give precise details for users.
I would like to give it 1-2 more days until I have an opinion about its ease of l

[2021-07-11 20:36] koaning commented on #3448
Happy to hear you like it!

1. Done.
2. Could you give an example of the classes you found were missing?
3. Done.
4. Done.

I might consider conda if there's a clear documented method for me to deploy there. Got any links with tutorials?

[2021-07-11 20:47] desilinguist commented on #3448
@koaning I was looking for API documentation that looked something like [this](https://skll.readthedocs.io/en/latest/api.html). If you are using Sphinx, this can be generated automatically using the [autodoc directive](https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html). When I am using a library, I find such an API reference quite useful.

As for deploying to conda, here are a cou

[2021-07-11 21:01] koaning commented on #3448
I'm using the `mkdocs` plugin together with `mkdocstrings` which should auto-generate the API docs for every class/function that has a docstring. You can find it [here](https://koaning.github.io/human-learn/api/classification.html).

[2021-07-11 22:39] danielskatz commented on #3255
@bhajay - please do not use the automated "open an issue" option that GitHub provides. The issues are opened in the wrong repo and have no content.  Instead, please open issue manually in https://github.com/LiangliangNan/Easy3D as needed.  I'm going to close the issues that were incorrectly opened in the wrong repo.  (We would like to disable this GitHub functionality, but cannot)

[2021-07-11 22:39] #3472 closed

[2021-07-11 22:39] #3473 closed

[2021-07-11 22:39] #3474 closed

[2021-07-11 22:39] #3475 closed

[2021-07-11 22:39] #3476 closed

[2021-07-11 22:39] #3477 closed

[2021-07-11 22:39] #3478 closed

[2021-07-11 22:39] #3480 closed

[2021-07-11 22:39] #3481 closed

[2021-07-11 23:07] danielskatz commented on #3351
@whedon recommend-accept

[2021-07-11 23:07] whedon commented on #3351
[code]

[2021-07-11 23:08] whedon commented on #3351
[code]

[2021-07-11 23:08] whedon commented on #3351
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2443

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2443, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-11 23:09] danielskatz commented on #3351
@whedon accept deposit=true

[2021-07-11 23:09] whedon commented on #3351
[code]

[2021-07-11 23:10] whedon commented on #3351
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1414361404719738885) 👈 🐦🐦🐦

[2021-07-11 23:10] whedon commented on #3351
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2444
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03351](https://doi.org/10.21105/joss.03351)
2. If everything look

[2021-07-11 23:14] danielskatz commented on #3351
Congratulations to @virgesmith (Andrew Smith)!!

And thanks to @platipodium and @tresoldi for reviewing!

[2021-07-11 23:14] #3351 closed

[2021-07-11 23:14] whedon commented on #3351
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03351/status.svg)](https://doi.org/10.21105/joss.03351)

**We need your help!**

Journal of Open Source Softwa

[2021-07-12 01:07] diehlpk commented on #3020
@chennachaos Have you seen this tutorial to compile the code

https://nonlocalmodels.github.io/documentation/md_content_install_instructions.html

[2021-07-12 04:05] 1313e commented on #3419
@dionhaefner I have a few questions regarding authorship and the paper itself.
I am posting them here such that it is easier to track for others and to allow for feedback.

I wanted to ask why only one of the two of you is stated as being an author of the software in the `setup.py` file?
Shouldn't that be both?

The order of authors on the paper is not the same as the order of the contributors (ye

[2021-07-12 04:37] keunwoochoi commented on #3391
@danielskatz can you also invite me again? thanks!

[2021-07-12 06:57] Nikoleta-v3 commented on #3420
Thank you both for letting us know 😃👍🏻

[2021-07-12 07:40] whedon commented on #3424
:wave: @seba-1511, please update us on how your review is going (this is an automated reminder).

[2021-07-12 07:40] whedon commented on #3424
:wave: @abhiramm7, please update us on how your review is going (this is an automated reminder).

[2021-07-12 07:41] mikldk commented on #3438
@Nikoleta-v3 Thanks. I'm not sure if the waitlist label should be removed?

[2021-07-12 08:09] nluetts commented on #3468
Dear @jbytecode,

thank you for handling my submission. I went through the list and suggest the following potential reviewers:

* [qpmnguyen](https://github.com/qpmnguyen) (entry 1599)
* [rchg](https://github.com/rchg) (entry 1103)
* [ali-ramadhan](https://github.com/ali-ramadhan) (entry 733)

[2021-07-12 08:55] Nikoleta-v3 commented on #3438
I have removed the label just to be sure 😄 Nevertheless, `@openjournals/joss-eics` have been pinned by `whedon`. I am assuming it's only a matter of days until the paper is published

[2021-07-12 09:16] vincentberenz commented on #2752
@gkthiruvathukal @vissarion @traversaro It seems to me all issues have been addressed

[2021-07-12 09:17] traversaro commented on #2752
Thanks, I will check this during the next week!

[2021-07-12 09:26] csadorf commented on #3419
I should be able to complete it by the end of the week.

[2021-07-12 09:30] dionhaefner commented on #3419
Thank you very much for your comments @1313e. Answers inline, and I will address your issues on the `mpi4jax` repo soon.

Shouldn't that be both?

Given how important first author usually is, I want to make sure it is done correctly.
So, can you confirm that the order is correct?

We flipped a coin for first authorship of the paper, as also indicated in the author list. We feel that both have cont

[2021-07-12 09:32] michaelberks commented on #3421
@emdupre great thank-you.

Can I check the policy re version increments (or point me in the direction of link on the JOSS wesbite - apologies if I've missed).

I've been maintaining Madym user automated semantic versioning. When I submitted a few weeks ago it was version 4.15.0. However a user found a small bug in the Dicom converter tool, which I've fixed, bumping the version to 4.15.1. I think I

[2021-07-12 09:33] Eugenio2192 commented on #3203
@milicag I addressed the issues in the repository. Also added an explicit tests section in the documentation instructing the user to proof their installation by running the Demostration notebook. Regarding the geopandas issue, I added a strict version in the environment files to avoid that issue.

[2021-07-12 09:43] 1313e commented on #3419
@dionhaefner

Okay, good.
I just wanted to make sure they weren't simply forgotten about.

Yes, I am referring to that part.
I am not saying it isn't useful, because it most definitely is.
It is just a lot of information that I feel is a bit too extensive for the paper itself.
But again, if the editor is happy with it, then I am as well.

Please note that I am not saying that the package isn't use

[2021-07-12 09:47] dionhaefner commented on #3419
Thanks for the clarification! Sounds like we are on the same page. I think your comments were perfectly appropriate.

We have considered that, but given that we don't know whether autgrad-through-MPI will ever be part of `mpi4jax` (either because we don't have the resources or because of fundamental technical obstacles, perhaps both), we decided that it was a good time to publish now.

[2021-07-12 09:53] jbytecode commented on #3468
Hi @qpmnguyen and @rchg, would you be willing to assist in reviewing this submission for JOSS?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "NoisySignalIntegration.jl: A Julia package for uncertainty evaluation of numeric integrals". You can find more information at the top of this Github issue.

The review process at JOSS is unique

[2021-07-12 09:58] jbytecode commented on #3439
Dear reviewer @felipefr

I'm bothering you to ask if everything is okay. Could you please update your status? Please do not hesitate to ask anything if you are in trouble. Please do not hesitate to ask anything if you have any difficulties or problems.

[2021-07-12 10:00] jbytecode commented on #3448
Dear reviewer @ahurriyetoglu

I'm bothering you to ask if everything is okay. Could you please update your status? Please do not hesitate to ask anything if you have any difficulties or problems.

[2021-07-12 10:05] PhilipVinc commented on #3419
Bt the way, @dionhaefner , I noticed just now, but in my field it is customary to put the asterisk of "both authors contributed equally" on both authors (not only the second). So maybe we can address that?

Isn't it maybe a bit too early to already publish it then, even if it is already useful to others (given the number of stars, I can see that it is being used)?

I am writing an article for [net

[2021-07-12 10:12] dionhaefner commented on #3419
@whedon generate pdf from branch joss-paper

[2021-07-12 10:12] whedon commented on #3419
[code]

[2021-07-12 10:13] whedon commented on #3419
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03419/joss.03419/10.21105.joss.03419.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03419/joss.03419/10.21105.joss.03419.pdf) :page_facing_up: :point_left:

[2021-07-12 10:14] dionhaefner commented on #3419
We had that in the first draft, but at some point it disappeared, so I assumed you removed it :) Anyhow, it's back.

[2021-07-12 10:32] arfon opened #3483 "A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is?"

[2021-07-12 10:32] whedon commented on #3483
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-12 10:33] whedon commented on #3483
Downloading of the repository (to check the bibtex) failed for issue #3483 failed with the following error:
[code]

[2021-07-12 10:33] whedon commented on #3483
Downloading of the repository (to analyze the language) for issue #3483 failed with the following error:
[code]

[2021-07-12 10:33] whedon commented on #3483
PDF failed to compile for issue #3483 with the following error:
[code]

[2021-07-12 10:33] arfon commented on #3461
:wave: @fgeertman – I'm closing this issue as we don't want reviewers opening issues on this repository. Please open any issues related to your review on this repository: https://github.com/koenderks/jaspAudit

[2021-07-12 10:33] #3461 closed

[2021-07-12 10:33] #3483 closed

[2021-07-12 10:39] jbytecode commented on #3448
@whedon generate pdf

[2021-07-12 10:40] whedon commented on #3448
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: :point_left:

[2021-07-12 10:41] jbytecode commented on #3448
@whedon check references

[2021-07-12 10:41] whedon commented on #3448
[code]

[2021-07-12 10:44] jbytecode commented on #3448
@koaning could you please clarify why the submitted paper has no citations? It is not usual not to have citations as the author(s) are not the whole inventors of the subject at hand. Please add citations and reference entities possibly on 1) the methods that are implemented 2) the technology which is built on 3) the terminology used before.

[2021-07-12 10:58] jbytecode commented on #3452
Dear author @ph-rast,

Could you please take @mwt 's comments into account and update your status?

Thank you.

[2021-07-12 11:03] fabian-s commented on #3437
thank you @adithirgis for your quick and thorough review and thank you @pratheesh3780  for your equally quick and constructive replies! :+1:

[2021-07-12 11:11] arfon commented on #3071
@whedon accept deposit=true

[2021-07-12 11:11] whedon commented on #3071
[code]

[2021-07-12 11:11] whedon commented on #3071
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1414543051075330048) 👈 🐦🐦🐦

[2021-07-12 11:11] whedon commented on #3071
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2445
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03071](https://doi.org/10.21105/joss.03071)
2. If everything look

[2021-07-12 11:19] arfon commented on #3071
@nespinoza, @j-faria – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@rodluger – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-07-12 11:19] #3071 closed

[2021-07-12 11:19] whedon commented on #3071
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03071/status.svg)](https://doi.org/10.21105/joss.03071)

**We need your help!**

Journal of Open Source Softwa

[2021-07-12 11:21] arfon commented on #3422
@reyar - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion and is also out of scope as a wrapper for an underlying piece of software.

One possible alternative to JOSS is to follo

[2021-07-12 11:21] arfon commented on #3422
@whedon reject

[2021-07-12 11:21] whedon commented on #3422
Paper rejected.

[2021-07-12 11:22] #3422 closed

[2021-07-12 11:22] sap218 commented on #3440
@vaneseltine @majensen

Since my issue was closed I have continued with the review - I have ticked off more tasks :)

Documentation
1. A statement of need is needed in the docs (even if very brief)
2. Continuing on from my last comment (2) I think a simple line of installation instructions in the main repo would be great :)
3. There are numerous source of documentation - there is the Nominally mai

[2021-07-12 11:25] arfon commented on #3404
@reyar - many thanks for your submission to JOSS. Unfortunately packages such as this that provide a limited GUI wrapper around another tool are generally classified as out of scope for us. This comment also applies to your other submission #3422.

We've discussed this as an editorial team and the general consensus is that a combined submission would also not be allowed for JOSS (rationale being t

[2021-07-12 11:25] arfon commented on #3404
@whedon reject

[2021-07-12 11:25] whedon commented on #3404
Paper rejected.

[2021-07-12 11:25] #3404 closed

[2021-07-12 11:27] arfon commented on #3427
@ClaudioZandonella  – Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it does not meet our criteria of [research software](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/c

[2021-07-12 11:27] arfon commented on #3427
@whedon reject

[2021-07-12 11:27] whedon commented on #3427
Paper rejected.

[2021-07-12 11:27] #3427 closed

[2021-07-12 11:29] arfon commented on #3441
@anki-xyz – Thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

We'd welcome a resubmission in the future if this software was expanded to be more comprehensive in features.

One

[2021-07-12 11:30] arfon commented on #3441
@whedon reject

[2021-07-12 11:30] whedon commented on #3441
Paper rejected.

[2021-07-12 11:30] #3441 closed

[2021-07-12 11:30] arfon commented on #3463
@whedon assign me as editor

[2021-07-12 11:30] whedon commented on #3463
OK, the editor is @arfon

[2021-07-12 11:30] arfon commented on #3463
@m-stclair – could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-07-12 11:47] koaning commented on #3448
That's odd. I added a [paper.bib](https://github.com/koaning/human-learn/blob/master/paper.bib) to the main repo but it's not being picked up. Lemme investigate that.

[2021-07-12 12:27] jbytecode commented on #3448
it is just because entries in the bibtex file are not cited in the main paper using `[@entrylabel]`

[2021-07-12 13:35] emdupre commented on #3421
I can [update the submitted software version](https://joss.readthedocs.io/en/latest/whedon.html?highlight=version#changing-the-software-version) with whedon if there's a particular verison that reviewer's should be aware of. There's not [a specific check](https://joss.readthedocs.io/en/latest/review_checklist.html#review-checklist) that the version matches the submitted version during review, as -

[2021-07-12 13:50] emdupre commented on #3433
Hi @spinicist ! While we're waiting to confirm the reviewers, a few quick notes from me:

- The abbreviation RIESLING is not defined in the paper, although I assume it stands for your title "Radial Interstices Enable Speedy Low-volume Imaging." Please clarify or otherwise make this explicit in the text.
- Your paper doesn't yet have a [Statement of Need section](https://joss.readthedocs.io/en/late

[2021-07-12 13:52] koaning commented on #3448
This should now be fixed. I also added a sentence about LIME and SHAP. They had a role to play in developing this tool so it's fair to mention these tools as well.

[2021-07-12 13:54] whedon commented on #3426
:wave: @michaelberks, please update us on how your review is going (this is an automated reminder).

[2021-07-12 13:54] whedon commented on #3426
:wave: @prasantapal, please update us on how your review is going (this is an automated reminder).

[2021-07-12 13:56] jbytecode commented on #3448
@whedon generate pdf

[2021-07-12 13:57] whedon commented on #3448
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: :point_left:

[2021-07-12 13:57] jbytecode commented on #3448
@whedon check references

[2021-07-12 13:57] whedon commented on #3448
[code]

[2021-07-12 13:58] jbytecode commented on #3448
@koaning please update missing DOI's as whedon suggests.

[2021-07-12 14:01] dfm commented on #3368
@whedon add @MatthewReid854 as reviewer

@MatthewReid854 has agreed to be our second reviewer - thanks Matt!!

I'll get the review started in a new issue thread and you'll see more info over there, but don't hesitate to ask if you have any questions.

[2021-07-12 14:01] whedon commented on #3368
OK, @MatthewReid854 is now a reviewer

[2021-07-12 14:01] dfm commented on #3368
@whedon start review

[2021-07-12 14:02] whedon opened #3484 "[REVIEW]: Survival: Survival Analysis in Python"
**Submitting author:** @derrynknife (<a href="http://orcid.org/0000-0002-6636-6318">Derryn Knife</a>)
**Repository:** <a href="https://github.com/derrynknife/SurPyval" target ="_blank">https://github.com/derrynknife/SurPyval</a>
**Version:** 0.10.0
**Editor:** @dfm
**Reviewer:** @CamDavidsonPilon, @MatthewReid854
**Archive:** <a href="https://doi.org/10.5281/zenodo.5177222" target="_blank">10.5281

[2021-07-12 14:02] whedon commented on #3368
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3484.

[2021-07-12 14:02] #3368 closed

[2021-07-12 14:02] whedon commented on #3484
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @CamDavidsonPilon, @MatthewReid854 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2021-07-12 14:02] whedon commented on #3484
[code]

[2021-07-12 14:02] whedon commented on #3484
[code]

[2021-07-12 14:02] whedon commented on #3484
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03484/joss.03484/10.21105.joss.03484.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03484/joss.03484/10.21105.joss.03484.pdf) :page_facing_up: :point_left:

[2021-07-12 14:02] jbytecode commented on #3448
@koaning the correct use of citations is using the brackets like `[@citationlabel]`, not parenthesis like `(@citationlabel)`. Please update the correct form later.

[2021-07-12 14:03] desilinguist commented on #2184
Sorry for the delay on this. I took a look at the updated instructions and while they are certainly better than before, I still think the bar to entry is rather high and this shouldn't really be the case in 2021. I can think of two ways to make this much easier for folks who just want to try out the package:

- Build a conda package. Since conda provides the `c-compiler` and `cxx-compiler` package

[2021-07-12 14:04] dfm commented on #3484
@derrynknife, @CamDavidsonPilon, @MatthewReid854 – This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the

[2021-07-12 14:23] diehlpk commented on #3311
@zbeekman can you please estimate when you finish the review? The others reviewers finished and would be great if we can finalize the paper soon.

[2021-07-12 14:24] diehlpk commented on #3389
@daniellivingston No rush, just wanted to check how your review is going and if any issues arised.

[2021-07-12 14:37] kbarnhart commented on #3462
@Kevin-Mattheus-Moerman yes I can handle this.

[2021-07-12 14:37] kbarnhart commented on #3462
@whedon assign @kbarnhart as editor

[2021-07-12 14:37] whedon commented on #3462
OK, the editor is @kbarnhart

[2021-07-12 14:38] fboehm commented on #3273
@whedon generate pdf

[2021-07-12 14:38] whedon commented on #3273
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03273/joss.03273/10.21105.joss.03273.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03273/joss.03273/10.21105.joss.03273.pdf) :page_facing_up: :point_left:

[2021-07-12 14:39] kbarnhart commented on #3462
@npucino I'll start actively handling this in the next few days.

[2021-07-12 14:41] fboehm commented on #3273
Thanks for making the changes, @PhilBoileau ! One tiny additional fix is to the term "pkgdown" in the references. Can you fix the bib file so that the "p" is lower case?

Thanks again!

[2021-07-12 14:41] arfon commented on #3408
@whedon query scope

[2021-07-12 14:42] whedon commented on #3408
Submission flagged for editorial review.

[2021-07-12 14:42] arfon commented on #3408
@andrewtarzia – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime in the next couple of weeks.

[2021-07-12 14:44] kbarnhart commented on #3470
@Kevin-Mattheus-Moerman I think it would be better to find an editor with more C experience than me (I have none). If there isn't anyone with both language experience and domain experience, I could certainly assist someone else with domain context, reviewer recommendations, etc. I think @leouieda would likely be the most appropriate editor for this.

[2021-07-12 14:45] zbeekman commented on #3311
Working on it today, should be able to wrap up by this afternoon.

[2021-07-12 14:46] kbarnhart commented on #3398
@whedon re-invite @jhnienhuis as reviewer

[2021-07-12 14:46] whedon commented on #3398
OK, the reviewer has been re-invited.

@jhnienhuis please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-12 14:51] kbarnhart commented on #3398
@jhnienhuis above is a new link.

A link to the paper is in one of the [above comments](https://github.com/openjournals/joss-reviews/issues/3398#issuecomment-867507889), and we can re-build the current version anytime by writing `@whedon generate pdf` in a comment.

However, you also bring up a great point regarding search capabilities on the website. @arfon, do we expect search results on the web

[2021-07-12 15:05] kthyng commented on #3172
@whedon generate pdf

[2021-07-12 15:05] whedon commented on #3172
PDF failed to compile for issue #3172 with the following error:
[code]

[2021-07-12 15:05] kthyng commented on #3172
@whedon generate pdf from branch paper

[2021-07-12 15:05] whedon commented on #3172
[code]

[2021-07-12 15:05] whedon commented on #3172
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03172/joss.03172/10.21105.joss.03172.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03172/joss.03172/10.21105.joss.03172.pdf) :page_facing_up: :point_left:

[2021-07-12 15:11] kthyng commented on #3172
Sorry for my delay @bstabler and @semiautomaticgit. Automated tests are not necessary, but a user (or future developer) needs to be able [to test](https://joss.readthedocs.io/en/latest/review_criteria.html#tests) the basic functionality of the software. This could be in the form of a notebook that steps through instructions to end up with a specified result that demonstrates the software is workin

[2021-07-12 15:12] kthyng commented on #3172
Looks to me like there is now a statement of need in the paper.

[2021-07-12 15:13] NathHorrigan commented on #3270
Hi @EleonoraVagnoni

What about when you run `source ~/.bashrc` in the terminal and then the above commands?

[2021-07-12 15:14] NathHorrigan commented on #3270
If that doesn't work could you try `brew install node` again?

[2021-07-12 15:14] kthyng commented on #3243
Hi all, I'm not sure what happens in summer but time is evaporating. @richardsc it sounds like you'll be back from vacation soon so I will ask that you take this on as your inaugural JOSS review! Thank you @padilla410 for your offer, and if you'd like to be a reviewer in the future you can sign up [here](https://joss.theoj.org/reviewer-signup.html).

[2021-07-12 15:14] kthyng commented on #3243
@whedon add @richardsc as reviewer

[2021-07-12 15:14] whedon commented on #3243
OK, @richardsc is now a reviewer

[2021-07-12 15:14] kthyng commented on #3243
@whedon start review

[2021-07-12 15:14] whedon opened #3485 "[REVIEW]: tbeptools: An R package for synthesizing estuarine data for environmental research"
**Submitting author:** @fawda123 (<a href="http://orcid.org/0000-0002-4996-0059">Marcus Beck</a>)
**Repository:** <a href="https://github.com/tbep-tech/tbeptools" target ="_blank">https://github.com/tbep-tech/tbeptools</a>
**Version:** v1.1.0
**Editor:** @kthyng
**Reviewer:** @paleolimbot, @richardsc
**Archive:** <a href="https://doi.org/10.5281/zenodo.5514034" target="_blank">10.5281/zenodo.55140

[2021-07-12 15:14] whedon commented on #3243
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3485.

[2021-07-12 15:14] #3243 closed

[2021-07-12 15:14] whedon commented on #3485
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @paleolimbot, @richardsc it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-07-12 15:15] kthyng commented on #3243
@paleolimbot, @richardsc — We're going to jump over to #3485 for the actual review. Please contact me there if you have any editorial questions, and thank you!

[2021-07-12 15:15] whedon commented on #3485
[code]

[2021-07-12 15:15] whedon commented on #3485
[code]

[2021-07-12 15:15] whedon commented on #3485
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03485/joss.03485/10.21105.joss.03485.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03485/joss.03485/10.21105.joss.03485.pdf) :page_facing_up: :point_left:

[2021-07-12 15:17] kthyng commented on #3305
@KimBaldry If your time window is more like 4-6 weeks than 4-6 months then we should be fine! I'll add you as a reviewer, and thanks!

[2021-07-12 15:17] kthyng commented on #3305
@whedon assign @KimBaldry as reviewer

[2021-07-12 15:17] whedon commented on #3305
OK, @KimBaldry is now a reviewer

[2021-07-12 15:19] kthyng commented on #3305
Hi @btupper! Are you interested in reviewing this submission for JOSS, the Journal of Open Source Software? This is an open review which takes place on github with issues. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would hope you could start the review in the next few weeks with the intention of being through the typically iterative

[2021-07-12 15:23] kthyng commented on #3344
@mcflugen — looks like @lheagy has some feedback for you to address as part of the review.

[2021-07-12 15:24] kthyng commented on #3344
@PythonCHB When will you be able to work on your review?

[2021-07-12 15:24] vijaysm commented on #3020
@Kevin-Mattheus-Moerman I'm in a similar stage where my installation efforts for the TPL dependencies fail using the provided scripts. But I've been messaging @diehlpk who has provided a docker container with these pre-installed. I have tested the 1D and 2D examples using that container, and I am satisfied with the setup.

However, I'd like to follow the instructions to build NLMech again from scr

[2021-07-12 15:25] kthyng commented on #3332
@mdbartos When might you be able to work on your review?

@jmp75 are you able to continue with your review?

[2021-07-12 15:26] kthyng commented on #3175
@raoulcollenteur and @evanleeturner — just a friendly ping here about your reviews.

[2021-07-12 15:27] kthyng commented on #3319
Hi @gonzalobravoargentina — sounds like you will be a good reviewer then. We look forward to your feedback on the package!

[2021-07-12 15:27] kthyng commented on #3319
@whedon assign @gonzalobravoargentina as reviewer

[2021-07-12 15:27] whedon commented on #3319
OK, @gonzalobravoargentina is now a reviewer

[2021-07-12 15:28] kthyng commented on #3319
Hi @SeascapeScience! Are you interested in reviewing this submission for JOSS, the Journal of Open Source Software? This is an open review which takes place on github with issues. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would hope you could start the review in the next few weeks with the intention of being through the typically i

[2021-07-12 15:33] kthyng commented on #3224
@whedon check references

[2021-07-12 15:33] whedon commented on #3224
[code]

[2021-07-12 15:34] kthyng commented on #3224
Ok everything looks good!

[2021-07-12 15:34] kthyng commented on #3224
@whedon accept deposit=true

[2021-07-12 15:34] whedon commented on #3224
[code]

[2021-07-12 15:34] whedon commented on #3224
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1414609224949186560) 👈 🐦🐦🐦

[2021-07-12 15:34] whedon commented on #3224
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2446
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03224](https://doi.org/10.21105/joss.03224)
2. If everything look

[2021-07-12 15:44] kthyng commented on #3395
@nandaloo Things are looking good! Small comment: Some capitalization isn't correct in your references. Please check carefully, but in particular I saw "python" and "bayesian" not capitalized. You can preserve it using {} around characters, words, or phrases.

[2021-07-12 15:47] vyasr commented on #3098
Great! I just merged that last PR.

[2021-07-12 15:49] whedon opened #3486 "[PRE REVIEW]: home2park: An R package to assess the spatial provision of urban parks"
**Submitting author:** @xp-song (<a href="http://orcid.org/0000-0002-8825-195X">Xiao Ping Song</a>)
**Repository:** <a href="https://github.com/ecological-cities/home2park" target ="_blank">https://github.com/ecological-cities/home2park</a>
**Version:** v0.1.0
**Editor:** @martinfleis
**Reviewers:** @aelissa, @nickbearman
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warn

[2021-07-12 15:49] whedon commented on #3486
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-12 15:49] whedon commented on #3486
PDF failed to compile for issue #3486 with the following error:
[code]

[2021-07-12 15:49] whedon commented on #3486
[code]

[2021-07-12 15:50] whedon opened #3487 "[PRE REVIEW]: Inscriptis - A Python-based HTML to text conversion library optimized for knowledge extraction from the Web"
**Submitting author:** @AlbertWeichselbraun (<a href="http://orcid.org/0000-0001-6399-045X">Albert Weichselbraun</a>)
**Repository:** <a href="https://github.com/weblyzard/inscriptis/" target ="_blank">https://github.com/weblyzard/inscriptis/</a>
**Version:** v2.0.0
**Editor:** @sbenthall
**Reviewers:** @reality, @rlskoeser
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :wa

[2021-07-12 15:50] whedon commented on #3487
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-12 15:50] whedon commented on #3487
[code]

[2021-07-12 15:50] whedon commented on #3487
[code]

[2021-07-12 15:50] whedon opened #3488 "[PRE REVIEW]: MapAgora: an R package to gather data about nonprofit organizations and their activity"
**Submitting author:** @milandv (<a href="http://orcid.org/0000-0001-7363-8089">Milan de Vries</a>)
**Repository:** <a href="https://github.com/snfagora/MapAgora" target ="_blank">https://github.com/snfagora/MapAgora</a>
**Version:** v0.0.5
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2021-07-12 15:50] whedon commented on #3488
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-12 15:50] whedon commented on #3487
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03487/joss.03487/10.21105.joss.03487.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03487/joss.03487/10.21105.joss.03487.pdf) :page_facing_up: :point_left:

[2021-07-12 15:50] whedon commented on #3488
[code]

[2021-07-12 15:50] whedon commented on #3488
[code]

[2021-07-12 15:50] whedon commented on #3488
PDF failed to compile for issue #3488 with the following error:
[code]

[2021-07-12 15:56] kthyng commented on #3487
@sbenthall Would you be able to take this submission on?

[2021-07-12 15:56] kthyng commented on #3487
@whedon invite @sbenthall as editor

[2021-07-12 15:56] whedon commented on #3487
@sbenthall has been invited to edit this submission.

[2021-07-12 15:57] whedon opened #3489 "[PRE REVIEW]: ‘SRS’ R package and ‘q2-srs’ QIIME 2 plugin: normalization of microbiome data using scaling with ranked subsampling (SRS)"
**Submitting author:** @vitorheidrich (<a href="http://orcid.org/0000-0001-6617-9187">Vitor Heidrich</a>)
**Repository:** <a href="https://github.com/vitorheidrich/SRS_q2-srs_info" target ="_blank">https://github.com/vitorheidrich/SRS_q2-srs_info</a>
**Version:** 0.2.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due

[2021-07-12 15:57] whedon commented on #3489
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-12 15:57] whedon commented on #3489
[code]

[2021-07-12 15:57] whedon commented on #3489
[code]

[2021-07-12 15:57] whedon commented on #3489
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03489/joss.03489/10.21105.joss.03489.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03489/joss.03489/10.21105.joss.03489.pdf) :page_facing_up: :point_left:

[2021-07-12 15:58] arfon commented on #3398
No, search only lists papers that are published.

[2021-07-12 15:59] kthyng commented on #3488
Hi @milandv and thanks for your submission. Since it is on the small side (<1000 lines of code), I am pinging the editorial board to make sure it is in scope in terms of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This process will take 1-2 weeks.

[2021-07-12 15:59] kthyng commented on #3488
@whedon query scope

[2021-07-12 15:59] whedon commented on #3488
Submission flagged for editorial review.

[2021-07-12 16:02] kthyng commented on #3486
@xp-song I think your paper needs to be named `paper.md` to be found. Mote info [here](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain).

[2021-07-12 16:03] vitorheidrich commented on #3489
The suggested DOIs are correct

[2021-07-12 16:03] kthyng commented on #3486
Since this software is on the small side (<1000 lines of code), I am pinging the editorial board to make sure it is in scope in terms of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This process will take 1-2 weeks.

[2021-07-12 16:03] kthyng commented on #3486
@whedon query scope

[2021-07-12 16:03] whedon commented on #3486
Submission flagged for editorial review.

[2021-07-12 16:05] kthyng commented on #3224
Congrats on your new publication @DrDaveShaw! And many thanks to editor @dhhagan and reviewers @goldmanm and @khinsen for your time, hard work, and expertise!

(leaving this issue open until the DOI resolves)

[2021-07-12 16:06] DrDaveShaw commented on #3224
@kthyng thank you very much

[2021-07-12 16:17] vitorheidrich commented on #3489
As mentioned in the note to the editor, the Git repository associated with this submission contains only files associated with the manuscript. The files associated with each package can be found in their particular repositories (as described in the README of the manuscript repository). Therefore, I am running `cloc` in the software repositories below.

**'SRS' R package**
[code]
**'q2-srs' QIIME 2

[2021-07-12 16:20] littlelazy6 commented on #3190
@SunilAnandatheertha  I have read the updated paper. Regarding lines 47 to 53, a detailed discussion on VT/ EBSD based CPFEM and the relative capabilities of software like DREAM3D and Neper is included in this work, for your interest https://doi.org/10.1177/14644207211010836.

@Kevin-Mattheus-Moerman After recent documentation updates, I have confirmed the functions of PXO, and think this is a use

[2021-07-12 16:22] diehlpk commented on #3020
@vijaysm and @chennachaos could you please post some error messages and I might, can help you.

My institution's cluster runs on CentOS and my desktop on Fedora, so the scripts are not really tested. What Ubuntu version are you  using? I can try to install the code using Docker.

[2021-07-12 16:23] uellue commented on #3394
First of all, congratulations! A nice paper and software. A few items before I can check all the boxes:

## Functionality

Unfortunately I ran into issues with the GUI on my system: https://github.com/kasasxav/ImSwitch/issues/59 If possible, I'd abstain from feedback for this item and follow the other reviewers. :-)

## State of the field

* The general term "microscopy" is used. Currently, the so

[2021-07-12 16:26] arfon commented on #3489
Running `cloc` to help understand the size/scope/level of effort in the respective projects here:

[code]

[code]

[2021-07-12 16:30] vitorheidrich commented on #3489
@whedon check references

[2021-07-12 16:30] whedon commented on #3489
[code]

[2021-07-12 16:31] vitorheidrich commented on #3489
@whedon generate pdf

[2021-07-12 16:31] kthyng commented on #3438
Hi @mikldk! A few comments on your paper before we wrap up:
* there is an errant space in the last sentence in the "summary" section.
* Please go through your references in detail to fix capitalization. You can preserve capitalization in bibtex using {} around characters, words, and phrases. For example, R, and Python are not always capitalized, but please check all entries.

[2021-07-12 16:31] whedon commented on #3489
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03489/joss.03489/10.21105.joss.03489.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03489/joss.03489/10.21105.joss.03489.pdf) :page_facing_up: :point_left:

[2021-07-12 16:31] kthyng commented on #3438
(otherwise we are ready to go)

[2021-07-12 16:32] uellue commented on #3394
@untzag the bundle is confirmed to work for me, minus https://github.com/kasasxav/ImSwitch/issues/59 which I think is unrelated to the installation method.

[2021-07-12 16:33] kthyng commented on #3489
Thanks @arfon and @vitorheidrich. Counting both together, this is still on the small side for a submission so I will ping the editorial board to make it is in in scope. This will take 1-2 weeks.

[2021-07-12 16:34] kthyng commented on #3489
@whedon query scope

[2021-07-12 16:34] whedon commented on #3489
Submission flagged for editorial review.

[2021-07-12 16:44] uellue commented on #3394
@kasasxav reading my review comment again, it may sound like a long list of complaints. :-D Just to make it clear, ImSwitch really looks like a nice project, and thank you for releasing it as Open Source! The raised points are to be understood as suggestions to make it even better and to address points that will likely be important to reach a wider audience so that ImSwitch can achieve its full po

[2021-07-12 17:04] SunilAnandatheertha commented on #3190
@whedon generate pdf

[2021-07-12 17:05] whedon commented on #3190
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: :point_left:

[2021-07-12 17:52] arfon commented on #2991
:wave: folks, just checking in here. @esteinig - did you manage to submit your thesis yet?

[2021-07-12 18:07] koaning commented on #3448
@whedon check references

[2021-07-12 18:08] whedon commented on #3448
[code]

[2021-07-12 18:08] koaning commented on #3448
@jbytecode done!

[2021-07-12 18:10] majensen commented on #3440
Thanks @sap218 - all very relevant issues. @vaneseltine many thanks in advance for your response to each.

[2021-07-12 18:11] majensen commented on #3431
@ShantanuDash no problem

[2021-07-12 18:12] majensen commented on #3431
@whedon re-invite @ShantanuDash as reviewer

[2021-07-12 18:12] whedon commented on #3431
OK, the reviewer has been re-invited.

@shantanudash please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-12 18:14] majensen commented on #3173
@tresoldi - please let me know how things are going - if you prefer, feel free to contact me via email - maj \-dot\- fortinbras \-at\- gmail \-dot\- com.

[2021-07-12 18:15] majensen commented on #3197
@felipeZ - how are things going? thanks

[2021-07-12 18:44] kellyrowland commented on #3212
Hi @nick-gauthier - I'm going to add you as a reviewer on this paper; please feel free to reach out if you have any questions or concerns.

[2021-07-12 18:46] kellyrowland commented on #3212
@whedon add @nick-gauthier as reviewer

[2021-07-12 18:46] whedon commented on #3212
OK, @nick-gauthier is now a reviewer

[2021-07-12 18:53] AlbertWeichselbraun commented on #3487
Dear all,

Michael Reiss (m.reiss@ikmz.uzh.ch) who is a research and teaching associate at the University of Zurich's Department of Communication and Media Research (IKMZ) might be a good fit.
(he was the first person to request information on how to cite Inscriptis in his work).

From the JOSS reviewer list, reviewers with good Python skills and an interest in Computational Analytics, Natural Lan

[2021-07-12 18:54] tomgrylls commented on #3055
@Kevin-Mattheus-Moerman Apologies for the delay. I am working through these now.

[2021-07-12 19:05] JosiahParry commented on #3420
Hi Team, nor can I. My apologies.

On Mon, Jul 12, 2021 at 2:57 AM Nikoleta Glynatsi ***@***.***>
wrote:

[2021-07-12 19:41] spinicist commented on #3433
Hello,

We have expanded the paper and included the acronym definition. The statement of need has been split out of the summary and clarified. Echo Time (TE) is a general MRI term, and the cited paper for ZTE is a comprehensive review of how it may be reduced to zero.

[2021-07-12 20:14] tomgrylls commented on #3055
@whedon check references

[2021-07-12 20:14] whedon commented on #3055
[code]

[2021-07-12 20:15] zsylvester commented on #3398
Hi @kbarnhart -- it looks like I have the same problem as @jhnienhuis... Can I get re-invited (I assume I cannot re-invite myself)? Thanks!

Zoltan

[2021-07-12 20:15] tomgrylls commented on #3055
@whedon generate pdf

[2021-07-12 20:16] whedon commented on #3055
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: :point_left:

[2021-07-12 20:23] whedon commented on #3428
:wave: @clemaitre58, please update us on how your review is going (this is an automated reminder).

[2021-07-12 20:23] whedon commented on #3428
:wave: @Himscipy, please update us on how your review is going (this is an automated reminder).

[2021-07-12 20:24] diehlpk commented on #3020
@vijaysm and @chennachaos I pulled the Ubuntu latest Docker image from docker.io this morning.

And I had to install the following packages using apt-get

* apt-get update
* apt-get install build-essential
* apt-get install git
* apt-get install wget
* apt-get install cmake
* apt-get install openssl
* apt-get install libssl-dev
* apt-get install libblas-dev liblapack-dev
* apt-get install autoconf

[2021-07-12 20:44] KristinaRiemer commented on #3467
Hi @Shyentist, thanks again for your JOSS submission! This is to notify you that I'm going to be on vacation July 14 - August 8. Hopefully you and the submission reviewers @jules32 and @HeatherWelch will be able to make progress on this submission's review in my absence. If anything urgent comes up during that time period, feel free to contact EiC @arfon. If you have any questions right now, pleas

[2021-07-12 20:45] KristinaRiemer commented on #3383
Hi @KristianNelson, thanks again for your JOSS submission! This is to notify you that I'm going to be on vacation July 14 - August 8. Hopefully you and the submission reviewers @fsanchez-trigueros and @jsta will be able to make progress on this submission's review in my absence. If anything urgent comes up during that time period, feel free to contact EiC @arfon. If you have any questions right no

[2021-07-12 20:48] KristinaRiemer commented on #3200
@BrandonEdwards and @puruckertom are you going to be able to start working on this review soon? I reached out to y'all via email also and have not heard back yet. An estimated timeline would be useful, especially given the benefits of a timely review for one of the submission authors. Let me know if you need any help or have any questions!

[2021-07-12 20:48] KristinaRiemer commented on #3200
Hi @sandrinecharles, thanks again for your JOSS submission! This is to notify you that I'm going to be on vacation July 14 - August 8. Hopefully you and the submission reviewers @BrandonEdwards and @puruckertom will be able to make progress on this submission's review in my absence. If anything urgent comes up during that time period, feel free to contact EiC @arfon. If you have any questions righ

[2021-07-12 21:01] chennachaos commented on #3020
Thank you @diehlpk! I will check again. I will start from scratch.

[2021-07-12 21:17] vijaysm commented on #3020
Thanks for the details @diehlpk and reverifying the instructions. I had my
installation failures in some notes. I'll dig it up. I'm happy with the
docker solution however, and if the script you had is more suitable for
Fedora that should be fine as well. But I see you tested on Ubuntu now, and
so I'll follow the new instructions.

One point that I explicitly remember was that I needed to install o

[2021-07-12 21:20] kthyng commented on #3398
@whedon re-invite @zsylvester  as reviewer

[2021-07-12 21:20] whedon commented on #3398
OK, the reviewer has been re-invited.

@zsylvester  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-12 21:27] diehlpk commented on #3020
HPX relies on a recent CMake version, and all codes on top of HPX need to use the same CMake version. I will update the minimal version on the README.md

[2021-07-12 21:27] adi3 commented on #3367
@destogl we can definitely shoot for a mid-August completion to work around your vacation plans. I'll assign you as a reviewer and kickstart the review. You can get around to it whenever you're ready.

[2021-07-12 21:30] adi3 commented on #3367
@whedon assign @destogl as reviewer

[2021-07-12 21:30] whedon commented on #3367
OK, @destogl is now a reviewer

[2021-07-12 21:32] adi3 commented on #3367
@whedon add @nnadeau as reviewer

[2021-07-12 21:32] whedon commented on #3367
OK, @nnadeau is now a reviewer

[2021-07-12 21:33] adi3 commented on #3367
@whedon start review

[2021-07-12 21:33] diehlpk commented on #3020
Yes, that is a huge issue with things like openssl, autoconf, and so on. That is really operating system specific and there is no silver bullet to list all of them.

From my experience, these issues are for all C++ applications. I compiled HPX on many supercomputers, e.g. Summit, Piz Daint, and Cori. And we would not find some generic list of packages needed, since all clusters had a different sof

[2021-07-12 21:33] whedon opened #3490 "[REVIEW]: Kinematics-vis: A Visualization Tool for the Mathematics of Human Motion"
**Submitting author:** @heath-henninger (<a href="http://orcid.org/0000-0002-3635-1289">Heath Henninger</a>)
**Repository:** <a href="https://github.com/klevis-a/kinematics-vis.git" target ="_blank">https://github.com/klevis-a/kinematics-vis.git</a>
**Version:** v0.2.0
**Editor:** @adi3
**Reviewer:** @destogl, @nnadeau
**Archive:** <a href="https://doi.org/10.5281/zenodo.5781772" target="_blank">1

[2021-07-12 21:33] whedon commented on #3367
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3490.

[2021-07-12 21:33] #3367 closed

[2021-07-12 21:33] whedon commented on #3490
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @destogl, @nnadeau it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-07-12 21:33] whedon commented on #3490
[code]

[2021-07-12 21:33] whedon commented on #3490
PDF failed to compile for issue #3490 with the following error:
[code]

[2021-07-12 21:41] mikldk commented on #3438
@kthyng Thanks. I'll make the changes and ping you once they're good to go.

[2021-07-12 21:44] diehlpk commented on #3020
@chennachaos and @vijaysm

I added some new script to compile the code on Ubuntu

https://github.com/nonlocalmodels/buildscripts/blob/main/bash/buildAll_Ubuntu.sh

This might help.

[2021-07-12 21:46] adi3 commented on #3490
@whedon generate paper from branch joos

[2021-07-12 21:46] whedon commented on #3490
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-12 21:48] adi3 commented on #3490
@whedon generate pdf from branch joos

[2021-07-12 21:48] whedon commented on #3490
[code]

[2021-07-12 21:49] whedon commented on #3490
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03490/joss.03490/10.21105.joss.03490.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03490/joss.03490/10.21105.joss.03490.pdf) :page_facing_up: :point_left:

[2021-07-12 21:50] adi3 commented on #3490
👋🏼 @heath-henninger @destogl @nnadeau this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from m

[2021-07-12 21:53] adi3 commented on #3320
@AP6YC - Checkin back on this. We are waiting on your response to proceed with this review. Thanks!

[2021-07-12 21:53] adi3 commented on #3321
@AP6YC - Checking back on this. We are waiting on your response to proceed with this review. Thanks!

[2021-07-12 22:38] #3224 closed

[2021-07-12 22:38] whedon commented on #3224
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03224/status.svg)](https://doi.org/10.21105/joss.03224)

**We need your help!**

Journal of Open Source Softwa

[2021-07-12 22:50] kbarnhart commented on #3398
Thanks @kthyng !

[2021-07-12 22:50] seba-1511 commented on #3424
I plan to complete my review by Sunday, July 18.

[2021-07-12 23:36] emdupre commented on #3433
@whedon generate pdf

[2021-07-12 23:37] whedon commented on #3433
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03433/joss.03433/10.21105.joss.03433.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03433/joss.03433/10.21105.joss.03433.pdf) :page_facing_up: :point_left:

[2021-07-12 23:49] ph-rast commented on #3452
Sorry - this somehow slipped my attention. Was in issues over at ph-rast/bmgarch. Indeed, as you @mwt noted these packages are all univariate and the bayesian package allows only 1,1 order processes. The Statement of Need section now clarifies these things

[2021-07-13 00:00] ph-rast commented on #3452
@jbytecode I'm not sure what "update your status" means? Do you want me to include the JOSS status badge?

[2021-07-13 02:55] galessiorob commented on #3322
@whedon generate pdf

[2021-07-13 02:55] whedon commented on #3322
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: :point_left:

[2021-07-13 03:08] elimillera commented on #3437
@adithirgis @fabian-s
My review is done.

Both https://github.com/pratheesh3780/grapesAgri1/issues/4 and https://github.com/pratheesh3780/grapesAgri1/issues/3 are small issues that don't effect functionality. I also have some small comments in https://github.com/pratheesh3780/grapesAgri1/pull/6.

 I would think https://github.com/pratheesh3780/grapesAgri1/issues/2 is the only issue that I would wa

[2021-07-13 03:37] jmp75 commented on #3332
@kthyng yes; I was distracted by some end of financial year busy work the past few weeks; I can complete the checklist in the coming days.

[2021-07-13 03:39] galessiorob commented on #3322
@tmickleydoyle @cmaimone and @jungtaekkim Thank you so much for your time and thorough reviews! This paper and package has come a long way and is almost ready to publish 🚀

@hknd23 I have some final small changes and suggestions:
- [Readme.md edits](https://github.com/hknd23/idcempy/pull/22)
- [Paper edits](https://github.com/hknd23/idcempy/pull/23)

[2021-07-13 03:41] galessiorob commented on #3322
@jungtaekkim, would you mind checking off the final few items from your list or adding items for @hknd23 to review? Thanks!

[2021-07-13 04:02] jungtaekkim commented on #3322
@galessiorob, I read other reviews and check the updates.
I agree that this article is almost ready for publication.
Thank you for all your efforts.

[2021-07-13 04:08] mdbartos commented on #3332
Same; just getting back from some summer travel and will complete my checklist soon.

[2021-07-13 04:38] hknd23 commented on #3322
@galessiorob Thank you very much for the edit suggestions. We have incorporated them into the paper and README files.

@jungtaekkim Thank you very much for your review.

[2021-07-13 05:37] sandrinecharles commented on #3200
Hi @KristinaRiemer thank you for taking care about this submission; it is a pity that the process takes a so long time to be achieved regarding the short length of the paper. I will be on holidays from July the 23rd, able to remain partially connected in case reviewers have questions. I really hope sometime happens soon.
Have a good holiday time, best regards, Sandrine

[2021-07-13 05:49] jbytecode commented on #3452
@ph-rast it means "please give a response". thank you for your reply.

[2021-07-13 07:13] whedon commented on #3429
:wave: @g4brielvs, please update us on how your review is going (this is an automated reminder).

[2021-07-13 07:13] whedon commented on #3429
:wave: @kramea, please update us on how your review is going (this is an automated reminder).

[2021-07-13 07:18] whedon commented on #3452
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03452/joss.03452/10.21105.joss.03452.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03452/joss.03452/10.21105.joss.03452.pdf) :page_facing_up: :point_left:

[2021-07-13 07:41] pratheesh3780 commented on #3437
@whedon generate pdf

[2021-07-13 09:17] Kevin-Mattheus-Moerman commented on #3190
@yangbai90 thanks again for your help here. I see you have all boxes ticked. Can you please formally respond if you recommend acceptance in JOSS? Thanks

[2021-07-13 09:20] yangbai90 commented on #3190
@Kevin-Mattheus-Moerman
Hello, Kevin.
  The document is well-written and worthy of publication. As a result, I'd recommend acceptance.
  BR
  Yang

[2021-07-13 09:31] geoffreyp commented on #2974
@whedon generate pdf

[2021-07-13 09:32] whedon commented on #2974
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02974/joss.02974/10.21105.joss.02974.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02974/joss.02974/10.21105.joss.02974.pdf) :page_facing_up: :point_left:

[2021-07-13 09:50] tramarobin commented on #3159
@cMadan, do you know how much time I will take to finalize the submission ? I will soon finalize my thesis manuscript and wanted to know if I will be able to insert the final version of the article.

[2021-07-13 10:25] jni commented on #3098
@whedon generate pdf

[2021-07-13 10:26] whedon commented on #3098
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03098/joss.03098/10.21105.joss.03098.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03098/joss.03098/10.21105.joss.03098.pdf) :page_facing_up: :point_left:

[2021-07-13 12:04] MatthewReid854 commented on #3484
Overall a good article to provide an introduction to SurPyval. The following issues are intended to improve the article so please take them as constructive feedback not criticisms.

Issues identified:

- Line 5 - "scientist" should be "scientists"
- Line 5 - Starts with "Survival analysis is a tool" however the next sentence starts with "Survival analysis is a unique set of tools". Discrepancy in

[2021-07-13 12:44] whedon commented on #3430
:wave: @sylvaticus, please update us on how your review is going (this is an automated reminder).

[2021-07-13 12:45] jni commented on #3098
@whedon check references

[2021-07-13 12:45] whedon commented on #3098
[code]

[2021-07-13 12:48] brunaw commented on #3326
@arfon I am unable to change/click in my checklist items, could you please help me fix it?

[2021-07-13 12:53] jni commented on #3098
... aaaany day now. LOL

[2021-07-13 12:55] jni commented on #3098
@vyasr Things are looking good! Could you please:

- make a new tagged release on github
- make a new Zenodo archive (ensure that the title matches the paper title)
- report the DOI and version number here

Thank you!

[2021-07-13 13:40] danielskatz commented on #3326
@whedon re-invite @brunaw as reviewer

[2021-07-13 13:40] whedon commented on #3326
The reviewer already has a pending invite.

@brunaw please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-13 13:55] brunaw commented on #3326
@danielskatz My invitation has expired

[2021-07-13 13:58] danielskatz commented on #3326
@whedon re-invite @brunaw as reviewer

If this doesn't work, is there a chance you have multiple github accounts and the one with the invitation isn't the one your are logged into?

[2021-07-13 13:58] whedon commented on #3326
OK, the reviewer has been re-invited.

@brunaw please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-13 13:59] danielskatz commented on #3326
This may have just been very bad timing

[2021-07-13 14:01] brunaw commented on #3326
@danielskatz I think it was just that I didn't do anything about the first invitation and it didn't let you re-invite me even thought the invitation was already expired

Thank you! and apologies for the trouble

[2021-07-13 14:08] brunaw commented on #3326
Dear @fzalkow,

Here are my comments/suggestions about the submission,

- I didn't find the Statement of Need too long, more often than not I see authors writing insufficient/generic Statements of Need so this was a good surprise. I do agree with @expectopatronum that the text can be separated into "Introduction" + "Statement of Need" though, it would make the writing flow better

- I found most f

[2021-07-13 14:19] sylvaticus commented on #3430
@whedon generate pdf

[2021-07-13 14:42] emdupre commented on #3433
Hi @uecker , have you had a chance to confirm that you're OK to review ? I can assign you as a reviewer, if so.

[2021-07-13 14:42] emdupre commented on #3433
Hi @neurolabusc :wave: Any chance you'd be available and willing to review this submission for the Journal of Open Source Software ?

[2021-07-13 14:44] emdupre commented on #3421
Hi @agahkarakuzu :wave:  Any chance you'd be available and willing to review this submission for the Journal of Open Source Software ?

[2021-07-13 15:09] agahkarakuzu commented on #3421
Hi @emdupre thank you for the invitation!

I am available next week onwards, if that makes a reasonable timeline, happy to review this submission.

[2021-07-13 15:11] Garyfallidis commented on #3384
Dear @danielskatz it seems @chrishavlin has not responded for quite some time. Any suggestions for moving forward? The other two reviewers seem happy.

[2021-07-13 15:11] agahkarakuzu commented on #3433
@emdupre I can help with the review of this submission, sorry I am late for the party a bit.

[2021-07-13 15:12] danielskatz commented on #3384
I'll email @chrishavlin

[2021-07-13 15:31] emdupre commented on #3421
Thank you, @agahkarakuzu ! I'll add you as a reviewer on this submission now.

[2021-07-13 15:32] emdupre commented on #3421
@whedon add @agahkarakuzu as reviewer

[2021-07-13 15:32] whedon commented on #3421
OK, @agahkarakuzu is now a reviewer

[2021-07-13 15:35] abhiramm7 commented on #3424
I plan to wrap up the review by early next week, July 19

[2021-07-13 15:36] Garyfallidis commented on #3384
Thank you @danielskatz

[2021-07-13 15:39] sylvaticus commented on #3430
Hello, thank you for your quick reaction. I tested the changes you made on the readme, online documentation, JOSS paper and the software and that I believe have improved the software and its user experience.

The two main points (scope of the software and methods integration) that I have highlighted have been addressed respectively in the readme page and in the new "high-level" functions.

There a

[2021-07-13 15:51] savage13 commented on #3470
Fixed the following two items:

* [x]  Check `...released as under an...`, this should probably read `...released under an...`

* [x]  Please work to expand your statement of need to specifically state what scientific research this work enables. Also expand the paper in general with a more detailed discussion of related scientific research and or scientific research that already used this work. Us

[2021-07-13 15:56] kthyng commented on #3332
Thanks @jmp75 and @mdbartos! I know this is a really busy time of year.

[2021-07-13 16:31] SunilAnandatheertha commented on #3190
@yangbai90 @ksyang2013 @littlelazy6 thank you so much for your review and suggestions. @Kevin-Mattheus-Moerman thank you for moderating the review process. Kindly let me know if I should be doing anything.

Sincerely
Sunil

[2021-07-13 16:31] jbytecode commented on #3430
Dear reviewer @sylvaticus,

The problem is not your English, I understand exactly what you mean but the update was quite huge and I may have missed some things. I will correct/consider the latest issues that you have addressed above.

Thank you very much for your valuable contributions.

[2021-07-13 17:08] PhilBoileau commented on #3273
@whedon generate pdf

[2021-07-13 17:09] whedon commented on #3273
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03273/joss.03273/10.21105.joss.03273.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03273/joss.03273/10.21105.joss.03273.pdf) :page_facing_up: :point_left:

[2021-07-13 17:28] MariaPoliti commented on #3229
@gkthiruvathukal In case you need additional reviewers, I have identified a few others:

* andrewtarzia
* magedhelmy1
* michaelberks
* alberto-battistel

I hope this helps!

[2021-07-13 17:41] PeerHerholz commented on #3459
To the authors,

I sincerely hope you and your loved ones are still doing ok during these ongoing difficult times.

At first, I would like to thank all authors for their very interesting submission and hard, dedicated work they put into it. The topic and aim of this resource are both fascinating and important. Within the following I would like to provide additional information regarding my review

[2021-07-13 19:31] whedon commented on #3431
:wave: @ShantanuDash, please update us on how your review is going (this is an automated reminder).

[2021-07-13 19:31] whedon commented on #3431
:wave: @magedhelmy1, please update us on how your review is going (this is an automated reminder).

[2021-07-13 19:51] galessiorob commented on #3322
@whedon generate pdf

[2021-07-13 19:51] whedon commented on #3322
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: :point_left:

[2021-07-13 20:00] twesterhout commented on #3316
@jedbrown is there anything I can do to help with the process?

[2021-07-13 20:33] KristinaRiemer commented on #3200
Hi @sandrinecharles, sorry about the delays. We do our best to make the JOSS review process fairly timely and straightforward, but it doesn't always work out that way unfortunately. Thanks for your patience!

[2021-07-13 20:34] KristinaRiemer commented on #3200
/ooo July 14 until August 8

[2021-07-13 20:35] KristinaRiemer commented on #3383
/ooo July 14 until August 8

[2021-07-13 20:35] KristinaRiemer commented on #3467
/ooo July 14 until August 8

[2021-07-13 21:42] chrishavlin commented on #3384
Apologies for the slow reply! I just updated my checklist and I'm happy to recommend publishing the work. A very useful contribution, I look forward to using FURY myself in future work.

[2021-07-13 21:50] Garyfallidis commented on #3384
Great to hear @chrishavlin! Thank you for your review.

[2021-07-13 23:21] hayesall commented on #3465
I made the first review pass @elwinter. I need some additional time to check functionality, but all of the points below should be possible to do parallel to that.

### Overall Feedback

All of the components are here (software, docstrings, tests), the final step is to make these components accessible to a user. Many of these could be addressed by incorporating a documentation system (e.g. [`sphinx

[2021-07-13 23:24] elwinter commented on #3465
Excellent. Thanks for your time. I'll start addressing these over the next week or so and resubmit.

Take care
Eric

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Alexander L. Hayes ***@***.***>
Sent: Tuesday, July 13, 2021 7:21:22 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/jos

[2021-07-14 01:00] amandadsmith commented on #3313
Thank you for your efforts @timtroendle

[2021-07-14 01:27] gkthiruvathukal commented on #3229
@MariaPoliti Thank you! I will try others now.

[2021-07-14 01:28] gkthiruvathukal commented on #3229
@andrewtarzia Would you be willing to contribute a review for this JOSS submission? I need two reviewers, so I hope you can help us here.

[2021-07-14 01:28] gkthiruvathukal commented on #3229
@michaelberks Would you be willing to contribute a review for this JOSS submission? I need two reviewers, so I hope you can help us here.

[2021-07-14 02:22] m-stclair commented on #3463
@arfon

I think any of these people might be good candidates:

malmans2
AndrewAnnex
steo85it
nmstreethran
patrickcgray
semiautomaticgit
usethedata

[2021-07-14 02:53] danielskatz commented on #3384
@Garyfallidis - the next step is for me to proofread the paper, but I'm actually on vacation this week, so I will get it done by early next week at the latest.

[2021-07-14 04:21] cMadan commented on #3159
@whedon generate pdf

[2021-07-14 04:21] whedon commented on #3159
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03159/joss.03159/10.21105.joss.03159.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03159/joss.03159/10.21105.joss.03159.pdf) :page_facing_up: :point_left:

[2021-07-14 04:24] cMadan commented on #3159
@tramarobin, everything looks good to me! We could be finalised within a day or two from this point.

To move forward with accepting your submission, there are a few last things to take care of:

- [ ] Make a tagged release of your software (that now includes the revisions related to the JOSS review), and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zen

[2021-07-14 06:03] milicag commented on #3203
@Eugenio2192 Great, thanks. If the editor agrees, I'd like to have a final look on Saturday and I'll let you know once that is done.

[2021-07-14 07:22] TomasBeuzen commented on #3414
Hi @giswqs and @ajstewartlang 👋

I have finished the review of the Leafmap package and its paper. The package and its documentation are comprehensive. I feel it's particularly suited to less-technical users, or those just getting started, but that's not to say it's also a useful tool for more seasoned programmers/developers. Visualizing geospatial data can certainly be a daunting task for novice u

[2021-07-14 08:15] tramarobin commented on #3159
@cMadan, great !

[fctSnPM - v2.0 - JOSS](https://github.com/tramarobin/fctSnPM/releases/tag/v2.0)

The software was archived with the same title and the authors as the paper.
The DOI is : 10.5281/zenodo.5101107 and the archive can be found [here](https://zenodo.org/record/5101107#.YO6c4-gzaUk)

[2021-07-14 08:26] ajstewartlang commented on #3414
Many thanks for your detailed and helpful reviews @martinfleis and @TomasBeuzen. This looks like a really nice package @giswqs and a contribution that will be really useful for the community. The comments by the reviewers look very helpful and hopefully easy to address. If you could let us know when you've been able to incorporate those suggestions that would be great.

[2021-07-14 09:13] IndrajeetPatil commented on #3393
@whedon generate pdf

[2021-07-14 09:14] whedon commented on #3393
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03393/joss.03393/10.21105.joss.03393.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03393/joss.03393/10.21105.joss.03393.pdf) :page_facing_up: :point_left:

[2021-07-14 09:15] timtroendle commented on #3203
Of course. Thanks, @milicag.

[2021-07-14 09:20] robbisg commented on #3459
The proposed tool, `nitransforms`, is used to convert transformation files and manage them very easily.

I think that this tool is very useful and make it available will extremely help the python neuroimaging community. I agree with @PeerHerholz that this tool is very useful to ease building complex and automated pipelines and help the reproducibility of neuroimaging studies.

I opened an issue in

[2021-07-14 09:33] whedon commented on #3434
:wave: @magdalenafuentes, please update us on how your review is going (this is an automated reminder).

[2021-07-14 09:33] whedon commented on #3434
:wave: @lutzhamel, please update us on how your review is going (this is an automated reminder).

[2021-07-14 09:56] fabian-s commented on #3437
@whedon check references

[2021-07-14 09:56] whedon commented on #3437
[code]

[2021-07-14 10:11] arfon commented on #3463
:wave: @malmans2 @AndrewAnnex @steo85it – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [_lhorizon: geometry and targeting via JPL Horizons_](https://github.com/MillionConcepts/lhorizon), a

[2021-07-14 10:20] fabian-s commented on #3437
thank you @elimillera  for your quick and thorough review, we appreciate it a lot!

[2021-07-14 10:23] fabian-s commented on #3437
@pratheesh3780

1. do you want to work on the coding issues (https://github.com/pratheesh3780/grapesAgri1/issues/5, https://github.com/pratheesh3780/grapesAgri1/issues/4) raised by @elimillera before we define the JOSS release of your package? Not required, up to you. (The JOSS paper will point to the version of your package that was available at publication, so it might be a good idea to improve

[2021-07-14 10:36] meinardmueller commented on #3326
Dear @brunaw,

Thanks for your suggestions and comments. As for your first point, we followed your suggestion by adding one more headline, which better structures the paper.  As for the second point, we have the following suggestion. Most of the libfmp-functions are introduced step-by-step and explained in the FMP Notebooks; in the header of the libfmp-functions, we provided a link to the respecti

[2021-07-14 10:38] MatthewReid854 commented on #3484
@whedon generate pdf

[2021-07-14 10:39] whedon commented on #3484
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03484/joss.03484/10.21105.joss.03484.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03484/joss.03484/10.21105.joss.03484.pdf) :page_facing_up: :point_left:

[2021-07-14 10:51] fzalkow commented on #3326
Dear @brunaw,

I just implemented Meinard's suggestion regarding your second point (meinardmueller/libfmp@f9e8895d2b529ee6f813afe7d3ecfa08517d5fb4, meinardmueller/libfmp@57905e09555259d5b8b9688934a6695f638d06ee). I am currently on holiday – so sorry for our somewhat asynchronous communication.

Meinard modified the markdown. So, @whedon generate pdf from branch paper.

[2021-07-14 10:54] MatthewReid854 commented on #3484
@derrynknife In the checklist above, we are asked to verify whether the software has automated tests and community guidelines. I am unable to tick these items off as they are not present in the library. The community guidelines are fairly easy (github has templates for these) but the automated tests are quite time consuming. Having automated tests would also help me tick off functionality from the

[2021-07-14 11:06] arfon commented on #3326
@whedon generate pdf from branch paper

[2021-07-14 11:06] whedon commented on #3326
[code]

[2021-07-14 11:07] whedon commented on #3326
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03326/joss.03326/10.21105.joss.03326.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03326/joss.03326/10.21105.joss.03326.pdf) :page_facing_up: :point_left:

[2021-07-14 11:09] mikesmithlab commented on #3260
COC now has contact method added.

Re: reviewers given the nature of the project - aimed at making things accessible to people not in the field, even those that can't code - anyone who can assess python code should be able to review.

If you are looking for more specialist opinions on particle tracking then a few ideas might be:

the authors of Trackpy https://github.com/soft-matter/trackpy this i

[2021-07-14 11:28] derrynknife commented on #3484
There are automated tests available in the ‘surpyval/tests’ directory. This uses the ‘pytest’ module. I can add the test method to the docs if needed.

Understand the requirement for community guidelines. I can add that to the docs.

[2021-07-14 11:42] brunaw commented on #3326
@meinardmueller @fzalkow Yes, sounds good to me. I just saw the new changes in the paper and the function descriptions and it all looks good, thank you

[2021-07-14 11:57] lutzhamel commented on #3434
@yiitozer I am trying to run your package in the Amazon Sagemaker/Jupyter Notebook environment and I get the following error when I try to run your simple example notebook,
[code]
Please advise.

[2021-07-14 12:11] jbytecode commented on #3430
@whedon generate pdf

- [X] `electre` function documentation: the output is copy/pasted from the `topsis` function above, but it has not been adapted. The `electre` documentation present the output as a "TopsisResult object" while it is a "ElectreResult" object
- [X] The first parameter of `AHP` function is an array of DataFrames, but in the documentation it is presented as a single DataFrame
- [X

[2021-07-14 12:11] whedon commented on #3430
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: :point_left:

[2021-07-14 12:13] clavigne commented on #3231
@diehlpk Any news on this? Thanks.

[2021-07-14 12:19] ahnonay commented on #3434
Hi @lutzhamel ! It seems some or all dependencies are missing. Did you run

[code]
You can also probably run this from within your Jupyter environment using
[code]

[2021-07-14 12:22] andrewtarzia commented on #3229
@gkthiruvathukal I would be keen to review, but as this would be my first time and I am about to travel, I would not expect to have this done before September. Is this ok?

Andrew

[2021-07-14 12:24] cMadan commented on #3159
@whedon set v2.0 as version

[2021-07-14 12:24] whedon commented on #3159
OK. v2.0 is the version.

[2021-07-14 12:24] whedon commented on #3159
OK. <a href="https://doi.org/10.5281/zenodo.5101107" target="_blank">10.5281/zenodo.5101107</a> is the archive.

[2021-07-14 12:24] cMadan commented on #3159
@whedon accept

[2021-07-14 12:25] whedon commented on #3159
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-07-14 12:25] cMadan commented on #3159
@whedon recommend-accept

[2021-07-14 12:25] whedon commented on #3159
[code]

[2021-07-14 12:25] whedon commented on #3159
[code]

[2021-07-14 12:25] whedon commented on #3159
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2447

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2447, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-14 12:26] cMadan commented on #3159
@tramarobin, I just noticed that Nichols & Holmes 2002 as the wrong DOI listed. Can you fix that?

[2021-07-14 12:38] tramarobin commented on #3159
@cMadan, the DOI has been changed, sorry for that.

[2021-07-14 12:47] whedon commented on #3435
:wave: @nmstreethran, please update us on how your review is going (this is an automated reminder).

[2021-07-14 12:47] whedon commented on #3435
:wave: @ibarraespinosa, please update us on how your review is going (this is an automated reminder).

[2021-07-14 12:53] AndrewAnnex commented on #3463
hey @arfon, I would love to be reviewer but I have worked on proposals with/contributed code to @MillionConcepts and @m-stclair, and so I think I have a personal association COI with the company and first author, and this project also lists SpiceyPy as a dependency.

That said the most recent proposal I was listed on with @m-stclair was not funded (IIRC also in 2019). Let me know if you have any q

[2021-07-14 12:54] cMadan commented on #3159
@whedon generate pdf

[2021-07-14 12:54] whedon commented on #3159
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03159/joss.03159/10.21105.joss.03159.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03159/joss.03159/10.21105.joss.03159.pdf) :page_facing_up: :point_left:

[2021-07-14 12:56] cMadan commented on #3159
@whedon recommend-accept

[2021-07-14 12:57] whedon commented on #3159
[code]

[2021-07-14 12:57] whedon commented on #3159
[code]

[2021-07-14 12:57] whedon commented on #3159
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2448

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2448, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-14 13:04] lutzhamel commented on #3434
In that case I think you need to rewrite your installation instructions as follows making sure that a user must use pip to install.  Your wording implies that pip is optional to the cloning...

You **must** install the Sync Toolbox using the Python package manager pip **so that all dependencies are resolved**:

[code]
In order to run the example notebooks, you may clone this repository using
[code

[2021-07-14 13:19] Garyfallidis commented on #3384
Sounds good @danielskatz

[2021-07-14 13:25] pratheesh3780 commented on #3437
@fabian-s
1. As the app is stable and working fine, I don't intend to make those changes. Though it is a valuable suggestion.
2. Proofreading edits were merged
3. ok

This was my first experience  with JOSS. Such a developer friendly platform. Future of scientific journals is here. I enjoyed the entire review process and valuable suggestions from @adithirgis  and @elimillera . Learned a lot.

Than

[2021-07-14 13:25] pratheesh3780 commented on #3437
@whedon generate pdf

[2021-07-14 13:26] whedon commented on #3437
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03437/joss.03437/10.21105.joss.03437.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03437/joss.03437/10.21105.joss.03437.pdf) :page_facing_up: :point_left:

[2021-07-14 13:33] diehlpk commented on #3231
@clavigne Not really @camillescott never responded, and I asked @vijaysm to replace her. We need to wait for his review to proceed.

[2021-07-14 13:34] diehlpk commented on #3231
@whedon remove @camillescott as reviewer

[2021-07-14 13:34] whedon commented on #3231
OK, @camillescott is no longer a reviewer

[2021-07-14 13:34] diehlpk commented on #3231
@vijaysm How is your review going?

[2021-07-14 13:45] lutzhamel commented on #3434
I tried to run
[code]
and I get the following error in the Sagemaker Notebook:
[code]
Given that your dependency script very aggressively rewrites/uninstalls many packages I cannot install this on my personal machine for testing and risk disruption of my environment.  Please suggest alternatives for me to test your software.

[2021-07-14 13:53] RonaldEnsing commented on #3471
I have added a few suggestions to the README. My review is completed. I think this is a great tool and very well documented!

[2021-07-14 14:15] vijaysm commented on #3231
Thanks for the reminder. I'll start the review this Friday and should be able to complete it within a week.

[2021-07-14 14:21] ahnonay commented on #3434
Hi!
Sorry to hear you are having trouble with testing the package. It was certainly not our intention to aggressively rewrite your environment.
I have to admit, I am not familiar with Sagemaker and can not provide advice for that.
You may consider installing the synctoolbox package inside a fresh conda/virtualenv environment so that it does not interfere with the rest of your setup.
For example, w

[2021-07-14 14:48] vijaysm commented on #3274
The installation for funsies was smooth on both OSX and Linux. But I couldn't get pip to install the redis-server on OSX. Had to resort to homebrew solutions. Is this expected ? Using `Python==3.8.10`.

I was able to run the example workflows just fine without issues after that initial installation hiccup.

[2021-07-14 15:03] vijaysm commented on #3274
@clavigne  The mergesort example is interesting. However, running it gives me several error messages like below. It would be better to catch these exceptions so that the example output is cleaner.
[code]
If the error messages are not expected, then it should be fixed. If this is the expected behavior (?), then perhaps an explanation in documentation on why there is a `RuntimeError` being raised, a

[2021-07-14 15:14] faroit commented on #3434
@lutzhamel great to see that you take the functionality test seriously. To keep this compact, I would encourage you to submit issues directly in the repository. When doing so, please mention https://github.com/openjournals/joss-reviews/issues/3434 so that a link is created to this thread

[2021-07-14 15:31] vyasr commented on #3098
@jni Here's the [new tagged release on Github](https://github.com/glotzerlab/coxeter/releases/tag/v0.6.0) and the [link for PyPI](https://pypi.org/project/coxeter/). The Zenodo archive is [here](https://zenodo.org/record/5102768#.YO8CuW5lCCM) for the current version, which is now 0.6.0, and the DOI is 10.5281/zenodo.5102768. Thanks!

[2021-07-14 15:35] trashbirdecology commented on #3403
Looks like you've found reviewers. Apologies for lack of response was on leave. Good luck!

[2021-07-14 15:40] vyasr commented on #3098
@whedon generate pdf

[2021-07-14 15:40] whedon commented on #3098
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03098/joss.03098/10.21105.joss.03098.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03098/joss.03098/10.21105.joss.03098.pdf) :page_facing_up: :point_left:

[2021-07-14 15:47] vyasr commented on #3098
@whedon generate pdf

[2021-07-14 15:48] whedon commented on #3098
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03098/joss.03098/10.21105.joss.03098.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03098/joss.03098/10.21105.joss.03098.pdf) :page_facing_up: :point_left:

[2021-07-14 15:51] vyasr commented on #3098
@jni quick heads up, my coauthor @bdice noticed a very minor typo in one of the citations that I just fixed on our main branch. Those changes came after the release and the Zenodo archive, hope that's not an issue.

[2021-07-14 16:36] mcflugen commented on #3344
@kthyng I've been out of the office for a couple of weeks but am back now will start to go through @lheagy's feedback.

[2021-07-14 16:37] mcflugen commented on #3344
@lheagy Thanks so much for your great feedback and for reviewing our paper!

[2021-07-14 17:30] arfon commented on #3463
Got it, thanks @AndrewAnnex. I'll keep looking for alternative reviewers for now then.

[2021-07-14 17:32] lutzhamel commented on #3434
@ahnonay @yiitozer I have now spent about 2.5 hours trying to get this software to run. First on SageMaker Notebooks and then on vanilla Ubuntu 20.04/Jupyter Notebooks.  Neither worked.  On Sagemaker I could not install because the synctoolbox package tried to uninstall the llvmlite package which is not allowed in the sagemaker environment.  On vanilla Ubuntu/Jupyter Notebooks I get the following

[2021-07-14 17:46] neurolabusc commented on #3433
@emdupre I feel this work is outside my expertise. I do think reviewers like Uecker from the BART project would be ideal. You might also want to consider the developers of [mripy](https://github.com/peng-cao/mripy).

[2021-07-14 17:55] lutzhamel commented on #3434
@faroit I am new to this, which repository should I put the synctoolbox issues in?  And how do I mention an issue number for this thread from another repository is that is what is needed?

[2021-07-14 18:16] faroit commented on #3434
open an issue here: https://github.com/meinardmueller/synctoolbox and mention `https://github.com/openjournals/joss-reviews/issues/3434` anywhere in the text

[2021-07-14 18:25] galessiorob commented on #3322
@hknd23 could you proofread this final version, please? 🙏

Once you greenlight it we can accept it and publish it 🎉

[2021-07-14 18:45] giswqs commented on #3414
@TomasBeuzen Thank you for the thorough review and encouraging comments. I will be addressing your comments in this issue https://github.com/giswqs/leafmap/issues/83. Thank you for your understanding of some of the simple wrapper functions (e.g., `csv_to_pdf`, `read_postgis`). Those functions were designed for novice users who might not be familiar with `pandas` or `geopandas`. They can use `leafm

[2021-07-14 20:01] kthyng commented on #3159
@whedon accept deposit=true

[2021-07-14 20:01] whedon commented on #3159
[code]

[2021-07-14 20:02] whedon commented on #3159
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1415401232081080322) 👈 🐦🐦🐦

[2021-07-14 20:02] whedon commented on #3159
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2449
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03159](https://doi.org/10.21105/joss.03159)
2. If everything look

[2021-07-14 20:07] kthyng commented on #3159
Congrats on your new publication @tramarobin! Many thanks to editor @cMadan and reviewers @0todd0000 and @nicholst for your time, hard work, and expertise. 🎉

[2021-07-14 20:07] #3159 closed

[2021-07-14 20:07] whedon commented on #3159
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03159/status.svg)](https://doi.org/10.21105/joss.03159)

**We need your help!**

Journal of Open Source Softwa

[2021-07-14 20:24] arfon commented on #3326
:zap: great! I think based on the feedback of both of our reviewers here we're in good shape to move forward.

@fzalkow - Once you've made all of the changes you plan to could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the

[2021-07-14 21:18] whedon opened #3491 "[PRE REVIEW]: popsom: A Very Efficient Implementation of Self-Organizing Maps with Starburst Visualizations for R"
**Submitting author:** @lutzhamel (<a href="http://orcid.org/0000-0002-2302-3358">Lutz Hamel</a>)
**Repository:** <a href="https://github.com/lutzhamel/popsom" target ="_blank">https://github.com/lutzhamel/popsom</a>
**Version:** v5.2
**Editor:** @fabian-s
**Reviewers:** @rcannood, @HerrMo
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-07-14 21:18] whedon commented on #3491
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-14 21:18] whedon commented on #3491
[code]

[2021-07-14 21:18] whedon commented on #3491
Failed to discover a valid open source license.

[2021-07-14 21:18] whedon commented on #3491
[code]

[2021-07-14 21:18] whedon commented on #3491
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03491/joss.03491/10.21105.joss.03491.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03491/joss.03491/10.21105.joss.03491.pdf) :page_facing_up: :point_left:

[2021-07-14 21:18] whedon opened #3492 "[PRE REVIEW]: TidyTensor: Utilities for multidimensional arrays as named hierarchical structures"
**Submitting author:** @oneilsh (<a href="http://orcid.org/0000-0001-6220-7080">Shawn T. O&#39;Neil</a>)
**Repository:** <a href="https://github.com/oneilsh/tidytensor" target ="_blank">https://github.com/oneilsh/tidytensor</a>
**Version:** v0.9.1
**Editor:** @taless474
**Reviewers:** @nhejazi, @omid-s
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-07-14 21:18] whedon commented on #3492
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-14 21:18] whedon commented on #3492
[code]

[2021-07-14 21:18] whedon commented on #3492
[code]

[2021-07-14 21:19] whedon commented on #3492
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03492/joss.03492/10.21105.joss.03492.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03492/joss.03492/10.21105.joss.03492.pdf) :page_facing_up: :point_left:

[2021-07-14 21:19] whedon opened #3493 "[PRE REVIEW]: BisPy: Bisimulation in Python"
**Submitting author:** @fAndreuzzi (<a href="http://orcid.org/0000-0002-9508-7801">Francesco Andreuzzi</a>)
**Repository:** <a href="https://github.com/fAndreuzzi/BisPy" target ="_blank">https://github.com/fAndreuzzi/BisPy</a>
**Version:** 0.2.0
**Editor:** @mjsottile
**Reviewers:** @zoometh, @mschordan, @jonjoncardoso
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning

[2021-07-14 21:19] whedon commented on #3493
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-14 21:19] whedon commented on #3493
[code]

[2021-07-14 21:19] whedon opened #3494 "[PRE REVIEW]: A Fast Iterative Method Python package"
**Submitting author:** @thomgrand (<a href="http://orcid.org/0000-0002-6787-2570">Thomas Grandits</a>)
**Repository:** <a href="https://github.com/thomgrand/fim-python" target ="_blank">https://github.com/thomgrand/fim-python</a>
**Version:** v1.0
**Editor:** @xuanxu
**Reviewers:** @lucaferranti, @RobertRosca
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due t

[2021-07-14 21:19] whedon commented on #3493
[code]

[2021-07-14 21:19] whedon commented on #3494
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-14 21:19] whedon commented on #3494
[code]

[2021-07-14 21:19] whedon commented on #3493
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03493/joss.03493/10.21105.joss.03493.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03493/joss.03493/10.21105.joss.03493.pdf) :page_facing_up: :point_left:

[2021-07-14 21:19] whedon commented on #3494
[code]

[2021-07-14 21:19] whedon commented on #3494
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03494/joss.03494/10.21105.joss.03494.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03494/joss.03494/10.21105.joss.03494.pdf) :page_facing_up: :point_left:

[2021-07-14 21:23] kthyng commented on #3406
Hi @dfm would this be a good fit for you?

[2021-07-14 21:23] kthyng commented on #3406
@whedon invite @dfm as editor

[2021-07-14 21:24] whedon commented on #3406
@dfm has been invited to edit this submission.

[2021-07-14 21:24] fAndreuzzi commented on #3493
@whedon commands

[2021-07-14 21:24] whedon commented on #3493
Here are some things you can ask me to do:

[code]

[2021-07-14 21:27] KirstensGitHub commented on #3270
Hi @NathHorrigan I'm addressing my comment to you as I see you have been responding to former comments on this thread.

I have installed the necessary packages on my mac laptop and have also downloaded, built, etc requirements for flare portal. During flare portal setup, I was prompted in the command line to make a log-in for the portal, which I did (username, email, and password). I then tried to

[2021-07-14 21:28] KirstensGitHub commented on #3270
![Screen Shot 2021-07-14 at 5 19 50 PM](https://user-images.githubusercontent.com/18034998/125695386-179ba7fe-78f9-48b6-ad02-53f216b24b28.png)

[2021-07-14 21:29] kthyng commented on #3405
Is this close enough to your wheelhouse @pdebuyl?

[2021-07-14 21:29] kthyng commented on #3405
@whedon invite @pdebuyl as editor

[2021-07-14 21:29] whedon commented on #3405
@pdebuyl has been invited to edit this submission.

[2021-07-14 21:30] KirstensGitHub commented on #3270
Also, as a small note, where the documentation suggests running "fab up" I had to enter "fab start"
![image](https://user-images.githubusercontent.com/18034998/125695605-401a1a06-6a5b-4ac1-935a-4adf9f75191d.png)

[2021-07-14 21:33] fAndreuzzi commented on #3493
@whedon check references

[2021-07-14 21:33] whedon commented on #3493
[code]

[2021-07-14 21:36] fAndreuzzi commented on #3493
@whedon check references

[2021-07-14 21:37] whedon commented on #3493
[code]

[2021-07-14 21:46] fAndreuzzi commented on #3493
I suggest jonjoncardoso, zoometh, jkbren, TomKellyGenetics, vinodkahuja, sudarshansudarshan (**graph theory**).

[2021-07-14 22:23] kthyng commented on #3442
@whedon check repo

[2021-07-14 22:23] whedon commented on #3442
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-14 22:24] kthyng commented on #3442
@whedon check repository

[2021-07-14 22:25] whedon commented on #3442
[code]

[2021-07-14 22:26] kthyng commented on #3442
@whedon generate pdf

[2021-07-14 22:26] whedon commented on #3442
PDF failed to compile for issue #3442 with the following error:
[code]

[2021-07-14 22:32] kthyng commented on #3493
Hi @mjsottile would you be a good fit for this submission?

[2021-07-14 22:32] kthyng commented on #3493
@whedon invite @mjsottile as editor

[2021-07-14 22:32] whedon commented on #3493
@mjsottile has been invited to edit this submission.

[2021-07-14 22:35] kthyng commented on #3491
Hi @fabian-s are you interested in editing this submission?

[2021-07-14 22:35] kthyng commented on #3491
@whedon invite @fabian-s as editor

[2021-07-14 22:35] whedon commented on #3491
@fabian-s has been invited to edit this submission.

[2021-07-15 00:15] kbarnhart commented on #3462
@npucino I wanted to check in with two clarification questions. First, it seems like many of your functions have docstrings, but I can't seem to find API-level documentation. Does it exist somewhere that I've been unable to find?

The [JOSS documentation regarding API documentation](https://joss.readthedocs.io/en/latest/review_criteria.html#api-documentation) states:

Second, it does not seem like

[2021-07-15 00:20] jni commented on #3098
@vyasr it's not an issue in that it's easily fixable, but unfortunately we will need you to tag/release/archive again, sorry about that! 0.6.1? :grimacing:

[2021-07-15 00:28] npucino commented on #3462
Hi @kbarnhart , thanks for handling my submission.
Here is the API level documentation https://npucino.github.io/sandpyper/, it is in the README file of the project.
For the automated tests, I just noticed that it is empty. I wanted to implement some tests but then I preferred do the tests using GitHub actions and workflows (here: https://github.com/npucino/sandpyper/actions). These automated test

[2021-07-15 00:37] kbarnhart commented on #2276
@r-barnes as best as I can tell @KevinShook has addressed the remaining issues you have raised. As you are able, please revisit your review.

[2021-07-15 01:19] HeloiseS commented on #3257
okay cool!
Thanks for addressing all my comments - all my boxes are ticked and on my side of things we are done!

[2021-07-15 04:46] satejsoman commented on #3464
@dilawar thank you for your preliminary review! I'm off for a couple of days but will be able to address these comments later next week.

[2021-07-15 05:03] arunmano121 commented on #3323
@mikldk - I plan to complete the review over the next few days. I apologize for the delay.

[2021-07-15 05:22] uecker commented on #3433
@emdupre.  Yey, I can review this work.

[2021-07-15 05:51] IndrajeetPatil commented on #3393
@fboehm Should we be looking for an alternative reviewer? Or do you prefer to wait a bit longer?

[2021-07-15 06:04] grburgess commented on #3257
@whedon generate pdf

[2021-07-15 06:05] whedon commented on #3257
PDF failed to compile for issue #3257 with the following error:
[code]

[2021-07-15 06:07] malmans2 commented on #3463
Hi @arfon, I'm happy to review this!

(Solar system dynamics is not really my field though, just in case you have other reviewers in mind that are also target audience)

[2021-07-15 06:28] grburgess commented on #3257
@whedon generate pdf

[2021-07-15 06:28] whedon commented on #3257
PDF failed to compile for issue #3257 with the following error:
[code]

[2021-07-15 06:38] grburgess commented on #3257
@whedon generate pdf

[2021-07-15 06:38] whedon commented on #3257
PDF failed to compile for issue #3257 with the following error:
[code]

[2021-07-15 06:42] grburgess commented on #3257
@whedon generate pdf

[2021-07-15 06:42] whedon commented on #3257
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03257/joss.03257/10.21105.joss.03257.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03257/joss.03257/10.21105.joss.03257.pdf) :page_facing_up: :point_left:

[2021-07-15 07:27] ebocher commented on #3442
@kthyng
Just to inform you that the PDF compiles using github action : https://github.com/orbisgis/geoclimate/actions/runs/989591342

[2021-07-15 08:12] fabian-s commented on #3437
@pratheesh3780

Ok, great!

Please issue a new [tagged release](https://docs.github.com/en/github/administering-a-repository/releasing-projects-on-github/managing-releases-in-a-repository) of the software  and archive it (on Zenodo, figshare, or other), then please post the version number and archive DOI  here in this comment thread.

[2021-07-15 08:45] ahnonay commented on #3434
I have created an issue for this in the Sync Toolbox repository and referenced this issue, see above.

@lutzhamel : We are really sorry this has caused you so much headache. It must have been very frustrating for you. Please let us know inside the newly created issue whether our changes have fixed this problem for you.

[2021-07-15 08:53] fabian-s commented on #3491
Sure, I can manage this one.

[2021-07-15 09:11] arfon commented on #3463
Thanks @malmans2!

I'll go ahead and add you as a review now but won't actually start the review until we have a second reviewer signed up.

[2021-07-15 09:11] arfon commented on #3463
@whedon add @malmans2 as reviewer

[2021-07-15 09:12] whedon commented on #3463
OK, @malmans2 is now a reviewer

[2021-07-15 09:16] arfon commented on #3442
@ebocher - please remove the blank ORCID lines from your paper by merging this pull request: https://github.com/orbisgis/geoclimate/pull/609

Also it looks like you're not citing your references properly. The section in your `paper.md` after the `# References` heading should be empty and citations to other works will automatically appear in there if you cite them in the paper text. You can read ho

[2021-07-15 09:24] warrickball commented on #3257
I just had a look at the latest PDF draft and have a two very minor comments.

First, the opening sentence,

reads slightly strangely to me, I think because I don't quite know what a "population survey ... from an astrophysical population" is. It makes more sense to me if the first occurrence of "population" is deleted.

Second, something has gone wrong with this reference:

The only other thing I

[2021-07-15 09:50] grburgess commented on #3257
@warrickball yes, there are too many populations in that sentence. I removed the first one.

I see that SkyPy has a joss-paper under review, so I grabbed the first author from there.

[2021-07-15 09:51] grburgess commented on #3257
@whedon generate pdf

[2021-07-15 09:51] whedon commented on #3257
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03257/joss.03257/10.21105.joss.03257.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03257/joss.03257/10.21105.joss.03257.pdf) :page_facing_up: :point_left:

[2021-07-15 09:55] warrickball commented on #3257
I updated a previous checkout and was able to run the tests successfully by running `pytest` in the `popsynth` folder. It now looks like this isn't documented but should be, probably in a section near *Contributing*.

I also noticed that `test_schecter` (sic) takes a long time. I didn't record any timing information but it was many minutes. The CI report for the Ubuntu build of the [most recent co

[2021-07-15 10:24] pmeier commented on #3446
This is my preliminary review based on commit [3878ec9](https://github.com/openAGI/datum/tree/3878ec9ac042e761626f9b3d3b9ecc40dd848317).

## Installation

Installation with `pip` it successful. I couldn't find any mention of supported Python versions. I've assumed 3.7, because this version is used in the development environment.

## Development

I couldn't find any documentation on how to run the

[2021-07-15 10:38] ebocher commented on #3442
thanks @arfon I will fix it

[2021-07-15 11:44] tgoelles commented on #3471
Thanks to @RonaldEnsing for the review.

I will be on holiday until 02.08 and @birgitschlager will handle the process while I am away.

best regards,
Thomas Gölles

[2021-07-15 12:08] steo85it commented on #3463
Hi @arfon, happy to review this.
-------- Messaggio originale --------Da: Arfon Smith ***@***.***> Data: 14/07/21  6:11 AM  (GMT-05:00) A: openjournals/joss-reviews ***@***.***> Cc: Stefano Bertone ***@***.***>, Mention ***@***.***> Oggetto: Re: [openjournals/joss-reviews] [PRE REVIEW]: lhorizon: geometry and targeting via JPL Horizons (#3463)

👋 @malmans2 @AndrewAnnex @steo85it – would any of you

[2021-07-15 12:09] dfm commented on #3406
@whedon assign me as editor

Sure - I'm happy to edit! I'm a bit behind on things so I'll take a first pass of the paper and repo around the middle of next week, and then start recruiting reviewers.

In the meantime, @mikegrudic, let me know if you have any reviewer recommendations from our [main list of volunteers](https://bit.ly/joss-reviewers) or if there's anyone else who you think would be pa

[2021-07-15 12:09] whedon commented on #3406
OK, the editor is @dfm

[2021-07-15 12:25] arfon commented on #3463
@whedon add @steo85it as reviewer

[2021-07-15 12:25] whedon commented on #3463
OK, @steo85it is now a reviewer

[2021-07-15 12:26] arfon commented on #3463
@whedon start review

[2021-07-15 12:26] whedon opened #3495 "[REVIEW]: lhorizon: geometry and targeting via JPL Horizons"
**Submitting author:** @m-stclair (<a href="http://orcid.org/0000-0002-7877-3148">Michael St. Clair</a>)
**Repository:** <a href="https://github.com/MillionConcepts/lhorizon" target ="_blank">https://github.com/MillionConcepts/lhorizon</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewer:** @malmans2, @steo85it
**Archive:** <a href="https://doi.org/10.5281/zenodo.5504214" target="_blank">10.5281/z

[2021-07-15 12:26] whedon commented on #3463
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3495.

[2021-07-15 12:26] #3463 closed

[2021-07-15 12:26] whedon commented on #3495
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @malmans2, @steo85it it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-07-15 12:26] whedon commented on #3495
[code]

[2021-07-15 12:26] whedon commented on #3495
[code]

[2021-07-15 12:26] arfon commented on #3463
@malmans2, @steo85it – many thanks for agreeing to review here! See you over in #3495 where the actual review will take place.

[2021-07-15 12:26] whedon commented on #3495
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03495/joss.03495/10.21105.joss.03495.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03495/joss.03495/10.21105.joss.03495.pdf) :page_facing_up: :point_left:

[2021-07-15 12:27] arfon commented on #3495
@malmans2, @steo85it – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied.

[2021-07-15 12:54] fAndreuzzi commented on #3493
@whedon generate pdf

[2021-07-15 12:55] whedon commented on #3493
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03493/joss.03493/10.21105.joss.03493.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03493/joss.03493/10.21105.joss.03493.pdf) :page_facing_up: :point_left:

[2021-07-15 12:59] pdebuyl commented on #3405
Hi @kthyng I'll be off until begin august. I also fear that it will be difficult for me to find reviewers, as it is out of my typical areas, so I'd prefer to skip this submission if someone else is available. Else, I can pick it up in august.

[2021-07-15 13:10] csoneson commented on #3392
👋🏻 Hi all - just wanted to check in on how the reviews are going. It seems from the issues linked above that things are progressing - let me know if you have any questions/if there are any roadblocks or so. Thanks!

[2021-07-15 13:12] csoneson commented on #3362
Thanks @standage!

@ayush9pandey - did you manage to solve the installation issues?

[2021-07-15 13:19] j3r3m1 commented on #3442
Done

The reason was that we put footnote in the reference section since it did not work otherwise. I removed them and add them in the body of the article but I am not sure it works as expected. You can let us know before we merge or we can merge and then see. The pull request is here:
orbisgis/geoclimate#610

[2021-07-15 13:23] pratheesh3780 commented on #3437
@fabian-s
Please see the Release details
Version 1.1.0 
DOI: 10.5281/zenodo.5106216

Thank you!

[2021-07-15 13:41] lutzhamel commented on #3434
@ahnonay No worries.  I am just doing my job as a reviewer.  I am glad that you were able to resolve those issues so quickly.  I was able to run two of the three notebooks locally on my Linux machine.

The third notebook, `sync_audio_audio_full.ipynb`, I was not able to fully run due to the rubberband dependency.  Unfortunately this software does not come as an apt package for Linux and I started

[2021-07-15 14:10] sjpfenninger commented on #3312
@mark-koren Can you update on whether you have been able to resolve the package version issues that prevented installation so that @giodegas can continue reviewing? I would be happy with a solution that specifies all dependencies with their versions, it does not have to be full blown Docker solution. Meanwhile I am also chasing up @abhiramm7 who is MIA.

[2021-07-15 14:18] pmyteh commented on #3397
This is an excellent submission for JOSS. The package meets a real need (ecological inference within the Python ecosystem) and is well executed. The design seems sound, the tutorial and example notebooks are very welcome, and the code is clean and consistent. The paper gives a good overview and is engagingly written. Kudos to the authors.

@matt-graham has already identified most of the issues I s

[2021-07-15 14:34] vyasr commented on #3098
Done!

[2021-07-15 14:42] abhiramm7 commented on #3312
@sjpfenninger sorry this feel though the cracks. I can review this by Monday. I apologize for the delay.

[2021-07-15 14:45] whedon commented on #3439
:wave: @scarlehoff, please update us on how your review is going (this is an automated reminder).

[2021-07-15 14:45] whedon commented on #3439
:wave: @felipefr, please update us on how your review is going (this is an automated reminder).

[2021-07-15 14:47] scarlehoff commented on #3439
it is done. And the changes I asked for have been implemented I think https://github.com/esa/torchquad/pull/90

[2021-07-15 14:53] sbenthall commented on #3013
@jacobsoj  Thank you! I will assign you as a reviewer and start the review process.

[2021-07-15 14:53] sbenthall commented on #3013
@whedon add @jacobsoj as reviewer

[2021-07-15 14:53] whedon commented on #3013
OK, @jacobsoj is now a reviewer

[2021-07-15 14:54] sbenthall commented on #3013
@whedon start review

[2021-07-15 14:54] whedon opened #3496 "[REVIEW]: ARDL: An R package for the analysis of level relationships"
**Submitting author:** @Natsiopoulos (<a href="http://orcid.org/0000-0003-1180-2984">Kleanthis Natsiopoulos</a>)
**Repository:** https://github.com/Natsiopoulos/ARDL
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.1
**Editor:** @sbenthall
**Reviewers:** @ha0ye, @jacobsoj, @jessie-dotson
**Archive:** 10.5281/zenodo.7267996

**:warning: JOSS reduced service mode :warning:**

Du

[2021-07-15 14:54] whedon commented on #3013
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3496.

[2021-07-15 14:54] #3013 closed

[2021-07-15 14:54] whedon commented on #3496
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ha0ye, @jacobsoj it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-07-15 14:54] whedon commented on #3496
[code]

[2021-07-15 14:54] whedon commented on #3496
[code]

[2021-07-15 14:54] sbenthall commented on #3245
Thank you @eschnett

[2021-07-15 14:55] sbenthall commented on #3245
@whedon add @eschnett as reviewer

[2021-07-15 14:55] sbenthall commented on #3245
@whedon start review

[2021-07-15 14:55] whedon opened #3497 "[REVIEW]: Lerche: Generating data file processors in Julia from EBNF grammars"
**Submitting author:** @jamesrhester (<a href="http://orcid.org/0000-0002-2004-8672">James Hester</a>)
**Repository:** <a href="https://github.com/jamesrhester/Lerche.jl" target ="_blank">https://github.com/jamesrhester/Lerche.jl</a>
**Version:** 0.5.1
**Editor:** @sbenthall
**Reviewer:** @ziotom78, @eschnett
**Archive:** <a href="https://doi.org/10.5281/zenodo.5178771" target="_blank">10.5281/zen

[2021-07-15 14:55] whedon commented on #3245
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3497.

[2021-07-15 14:55] #3245 closed

[2021-07-15 14:55] whedon commented on #3497
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ziotom78, @eschnett it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-07-15 14:55] whedon commented on #3497
[code]

[2021-07-15 14:55] whedon commented on #3497
PDF failed to compile for issue #3497 with the following error:
[code]

[2021-07-15 15:12] sbenthall commented on #3487
@whedon assign me as editor

[2021-07-15 15:12] whedon commented on #3487
OK, the editor is @sbenthall

[2021-07-15 15:12] chennachaos commented on #3020
Hi @diehlpk, the other dependencies you installed using **apt-get install** needs to be added to the list of dependencies on the installation page.

A major issue with the current support for building the library is that it seems to be built explicitly for HPC machines and, therefore, it is not compatible with the installation on personal computers. Use of *module* commands in the build scripts pr

[2021-07-15 15:15] sbenthall commented on #3487
@ajoer @alexhanna @mbod would you be able to review this package?

[2021-07-15 15:36] hknd23 commented on #3322
Hi @galessiorob, we have given the paper one final round of proofreading and made some small edits. We have updated the package's latest version to 0.1.1 as well. Thank you very much for your great help throughout the review process. Please let us know if there is anything else you need.

[2021-07-15 15:36] hknd23 commented on #3322
@whedon generate pdf

[2021-07-15 15:36] whedon commented on #3322
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: :point_left:

[2021-07-15 15:39] kthyng commented on #3491
@whedon assign @fabian-s as editor

[2021-07-15 15:39] whedon commented on #3491
OK, the editor is @fabian-s

[2021-07-15 15:39] kthyng commented on #3491
(@fabian-s you can run this command yourself too, just fyi)

[2021-07-15 15:49] kthyng commented on #3405
Fair enough @pdebuyl. I think I saw another submission you'd be a good fit for in which case I'll invite you there. You could put up an [ooo](https://joss.readthedocs.io/en/latest/editing.html#out-of-office) for the time you'll be out if you'd like to, also.

[2021-07-15 15:51] kthyng commented on #3425
Hi @pdebuyl this was the other submission I mentioned that looked like a good fit for you. Can you take this on when you are back in the office in August?

[2021-07-15 15:51] kthyng commented on #3425
@whedon invite @pdebuyl as editor

[2021-07-15 15:51] whedon commented on #3425
@pdebuyl has been invited to edit this submission.

[2021-07-15 15:55] whedon opened #3498 "[PRE REVIEW]: pyTEF: A Python package for the Total Exchange Flow (TEF) analysis framework"
**Submitting author:** @florianboergel (<a href="http://orcid.org/0000-0003-3294-667X">Florian Börgel</a>)
**Repository:** <a href="https://github.com/florianboergel/pyTEF" target ="_blank">https://github.com/florianboergel/pyTEF</a>
**Version:** v.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-07-15 15:55] whedon commented on #3498
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-15 15:55] whedon commented on #3498
[code]

[2021-07-15 15:55] whedon commented on #3498
[code]

[2021-07-15 15:55] whedon commented on #3498
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03498/joss.03498/10.21105.joss.03498.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03498/joss.03498/10.21105.joss.03498.pdf) :page_facing_up: :point_left:

[2021-07-15 15:56] whedon opened #3499 "[PRE REVIEW]: fractalRegression: An R package for multiscale regression and fractal analyses"
**Submitting author:** @aaronlikens (<a href="http://orcid.org/0000-0002-6535-5772">Aaron Likens</a>)
**Repository:** <a href="https://github.com/aaronlikens/fractalRegression/" target ="_blank">https://github.com/aaronlikens/fractalRegression/</a>
**Version:** 1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-07-15 15:56] whedon commented on #3499
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-15 15:56] whedon commented on #3499
[code]

[2021-07-15 15:56] whedon commented on #3499
PDF failed to compile for issue #3499 with the following error:
[code]

[2021-07-15 15:59] diehlpk commented on #3020
@chennachaos That is not correct, since the scripts generates the modules for you, but there is not need to use them to run the code.

[2021-07-15 16:01] diehlpk commented on #3020
@chennachaos You can use your own cmake, however, HPX relies on a very recent one. Especially in Ubuntu the CMake version is not recent enough.

[2021-07-15 16:08] diehlpk commented on #3020
@chennachaos Note that you are using the tool chain for HPX system to build the code. If you want to use it on your desktop computer you might want to follow this instructions

https://github.com/nonlocalmodels/NLMech#compiling-library

There is no need to compile all the dependencies, like I have shown here for Fedora

https://github.com/nonlocalmodels/buildscripts/blob/main/bash/buildFedora.sh

[2021-07-15 16:11] kthyng commented on #3498
@whedon query scope

[2021-07-15 16:11] whedon commented on #3498
Submission flagged for editorial review.

[2021-07-15 16:15] jmschrei commented on #3446
Great, thanks for the review @pmeier. @younglululu, have you had a chance to start your review yet (see the checklist above)?

[2021-07-15 16:17] kthyng commented on #3498
Hi @florianboergel and thanks for your submission! Because your submission is relatively small, I have pinged the editorial board to check to see if it is in scope. Specifically, we do this when a submission is around or below 1000 lines of code. While this process will take 1-2 weeks and has not occurred yet, since yours is quite a bit smaller than that, I do not expect it to make it through; sor

[2021-07-15 16:19] diehlpk commented on #3020
@chennachaos That is a tricky question, because this are not dependencies of NLMech. These are dependencies of the dependencies of NLMech. So I am not sure if it is really necessary to add a full list of dependencies of the dependencies. Especially were should we stop to track down the dependencies?

Note that these dependencies are specific for the server version of Ubuntu. If I use the desktop v

[2021-07-15 16:44] oneilsh commented on #3492
Possible reviewers from the google sheet and their interests/programming language preferences: JohnCoene, neuroimaginador, agisga. Possibilities not listed in the sheet include contributors to R deep/machine learning and/or 'tidy' infrastructure, e.g. https://github.com/rstudio/keras/graphs/contributors and https://github.com/tidymodels/tidymodels/graphs/contributors. I don't know any of these fol

[2021-07-15 17:30] alexhanna commented on #3487
Don't quite have the cycles for this now, thanks though.

[2021-07-15 17:50] adithirgis commented on #3435
@whedon check references

[2021-07-15 17:50] whedon commented on #3435
[code]

[2021-07-15 17:50] adithirgis commented on #3435
@whedon generate pdf

[2021-07-15 17:50] whedon commented on #3435
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: :point_left:

[2021-07-15 17:53] kthyng commented on #3341
Hi @fraukewiese and welcome to JOSS! Does this submission look like a reasonable fit for you to edit?

[2021-07-15 17:53] kthyng commented on #3341
@whedon invite @fraukewiese as editor

[2021-07-15 17:53] whedon commented on #3341
@fraukewiese has been invited to edit this submission.

[2021-07-15 17:56] kthyng commented on #3405
Hi @rkurchin and welcome to JOSS! Are you interested in taking on this submission?

[2021-07-15 17:56] kthyng commented on #3405
@whedon invite @rkurchin as editor

[2021-07-15 17:56] whedon commented on #3405
@rkurchin has been invited to edit this submission.

[2021-07-15 18:02] kthyng commented on #3409
Hi @bmcfee! Are you interested in taking on this submission? I thought you may have relevant expertise from the signal processing side.

[2021-07-15 18:02] kthyng commented on #3409
@whedon invite @bmcfee as editor

[2021-07-15 18:02] whedon commented on #3409
@bmcfee has been invited to edit this submission.

[2021-07-15 18:05] kthyng commented on #3412
Hi @rkurchin! Here is another waitlisted submission that I think you may be a good fit for. What do you think?

[2021-07-15 18:05] kthyng commented on #3412
@whedon invite @rkurchin as editor

[2021-07-15 18:05] whedon commented on #3412
@rkurchin has been invited to edit this submission.

[2021-07-15 18:06] emdupre commented on #3433
Thank you, @uecker ! I'll add you as a reviewer now.

Thanks, too, @neurolabusc for your quick response and for sharing mripy !

From an offline discussion, I'm going to avoid assigning you as a reviewer here, @agahkarakuzu, so you're not over-committed with concurrent JOSS reviews.

@MartinK84, would you still be willing to review ? I know that you said you might need a several week delay -- woul

[2021-07-15 18:06] emdupre commented on #3433
@whedon add @uecker  as reviewer

[2021-07-15 18:06] whedon commented on #3433
OK, @uecker  is now a reviewer

[2021-07-15 18:10] kthyng commented on #3442
Hi @fraukewiese are you interested in editing this submission?

[2021-07-15 18:10] kthyng commented on #3442
@whedon invite @fraukewiese as editor

[2021-07-15 18:10] whedon commented on #3442
@fraukewiese has been invited to edit this submission.

[2021-07-15 18:16] MartinK84 commented on #3433
@emdupre I am confident that I will be able to finish the review within 4 weeks and would still be willing to do it.

[2021-07-15 18:24] emdupre commented on #3433
Thank you, @MartinK84 !

As JOSS is still in [reduced service mode](https://blog.joss.theoj.org/#reduced-service-mode), a month would be a very reasonable timeline, here.  I'll go ahead and add you as a reviewer to the submission now !

[2021-07-15 18:25] emdupre commented on #3433
@whedon add @MartinK84 as reviewer

[2021-07-15 18:25] whedon commented on #3433
OK, @MartinK84 is now a reviewer

[2021-07-15 18:26] kthyng commented on #3443
Hi @rkurchin! I found another that may fit with your expertise. What do you think?

[2021-07-15 18:26] kthyng commented on #3443
@whedon invite @rkurchin as editor

[2021-07-15 18:26] whedon commented on #3443
@rkurchin has been invited to edit this submission.

[2021-07-15 18:27] emdupre commented on #3433
@whedon start review

[2021-07-15 18:27] whedon opened #3500 "[REVIEW]: Radial Interstices Enable Speedy Low-volume Imaging"
**Submitting author:** @spinicist (<a href="http://orcid.org/0000-0001-7640-5520">Tobias Wood</a>)
**Repository:** <a href="https://github.com/spinicist/riesling" target ="_blank">https://github.com/spinicist/riesling</a>
**Version:** v0.4
**Editor:** @emdupre
**Reviewer:** @uecker , @MartinK84
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2021-07-15 18:27] whedon commented on #3433
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3500.

[2021-07-15 18:27] #3433 closed

[2021-07-15 18:27] whedon commented on #3500
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @uecker , @MartinK84 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-07-15 18:27] whedon commented on #3500
[code]

[2021-07-15 18:27] whedon commented on #3500
[code]

[2021-07-15 18:28] whedon commented on #3500
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03500/joss.03500/10.21105.joss.03500.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03500/joss.03500/10.21105.joss.03500.pdf) :page_facing_up: :point_left:

[2021-07-15 18:31] grburgess commented on #3257
@warrickball yes, this is the hypothesis package that tries to inject parameters until it finds a problem. This is the first and only package I have used it on because of the speed issues. It does help to find issues with parameter inputs... but can lead to very long running  tests.

[2021-07-15 18:38] whedon commented on #3440
:wave: @sara-02, please update us on how your review is going (this is an automated reminder).

[2021-07-15 18:38] whedon commented on #3440
:wave: @sap218, please update us on how your review is going (this is an automated reminder).

[2021-07-15 19:22] thomgrand commented on #3494
@whedon generate pdf

[2021-07-15 19:23] whedon commented on #3494
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03494/joss.03494/10.21105.joss.03494.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03494/joss.03494/10.21105.joss.03494.pdf) :page_facing_up: :point_left:

[2021-07-15 19:47] semiautomaticgit commented on #3172
Thank you @kthyng , yes there is a testing procedure described in the [user manual ](https://semiautomaticclassificationmanual.readthedocs.io/en/latest/faq.html#how-can-i-report-an-error) which checks software dependencies and that basic functions work.
Also, there is a [basic tutorial](https://semiautomaticclassificationmanual.readthedocs.io/en/latest/tutorial_1.html) that one can follow to perfo

[2021-07-15 20:30] pdebuyl commented on #3425
Hi @kthyng I'd be happy to edit this!

[2021-07-15 20:31] pdebuyl commented on #3425
@whedon assign me as editor

[2021-07-15 20:31] whedon commented on #3425
OK, the editor is @pdebuyl

[2021-07-15 20:31] pdebuyl commented on #3425
@antoinediez I'll start looking for reviewers in august, sorry for the delay.

[2021-07-15 21:01] abhiramm7 opened #3501 "Installation: Does installation proceed as outlined in the documentation?"

[2021-07-15 21:01] whedon commented on #3501
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-15 21:01] whedon commented on #3501
Downloading of the repository (to check the bibtex) failed for issue #3501 failed with the following error:
[code]

[2021-07-15 21:01] whedon commented on #3501
Downloading of the repository (to analyze the language) for issue #3501 failed with the following error:
[code]

[2021-07-15 21:01] whedon commented on #3501
PDF failed to compile for issue #3501 with the following error:
[code]

[2021-07-15 21:02] #3501 closed

[2021-07-15 21:39] ayush9pandey commented on #3362
The authors present an open source software package to predict translation initiation rates of mRNAs in bacteria. The primary goal of this package is to provide an open source and command line tool that can be used for translation rate prediction since other tools with similar features are not open source yet. In particular, the widely used software RBS calculator is proprietary and can only be us

[2021-07-15 22:50] bmcfee commented on #3409
@whedon assign @bmcfee as editor

[2021-07-15 22:50] whedon commented on #3409
OK, the editor is @bmcfee

[2021-07-15 22:50] bmcfee commented on #3409
@kthyng Sure thing, will be on it tomorrow AM.

[2021-07-16 01:42] flammie commented on #2184
Thanks for the feedback, I tried both conda-builder and docker a bit, [a basic Dockerfile](https://github.com/flammie/omorfi/commit/b8c072b3f5e8b4c9b805b153ecc97dbeaa674f7d) was easy to create, but for conda support, one required dependency hfst would need packaging before.

[2021-07-16 02:42] jni commented on #3098
@whedon generate pdf

[2021-07-16 02:42] whedon commented on #3098
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03098/joss.03098/10.21105.joss.03098.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03098/joss.03098/10.21105.joss.03098.pdf) :page_facing_up: :point_left:

[2021-07-16 02:42] jni commented on #3098
@whedon set 10.5281/zenodo.5106336 as archive

[2021-07-16 02:42] whedon commented on #3098
OK. <a href="https://doi.org/10.5281/zenodo.5106336" target="_blank">10.5281/zenodo.5106336</a> is the archive.

[2021-07-16 02:43] jni commented on #3098
@whedon set v0.6.1 as version

[2021-07-16 02:43] whedon commented on #3098
OK. v0.6.1 is the version.

[2021-07-16 02:43] jni commented on #3098
@whedon recommend-accept

[2021-07-16 02:43] whedon commented on #3098
[code]

[2021-07-16 02:43] whedon commented on #3098
[code]

[2021-07-16 02:44] whedon commented on #3098
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2450

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2450, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-16 03:40] wxwx1993 opened #3502 "Functionality: Have the functional claims of the software been confirmed?"

[2021-07-16 03:40] whedon commented on #3502
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-16 03:40] whedon commented on #3502
Downloading of the repository (to analyze the language) for issue #3502 failed with the following error:
[code]

[2021-07-16 03:40] whedon commented on #3502
PDF failed to compile for issue #3502 with the following error:
[code]

[2021-07-16 03:40] whedon commented on #3502
Downloading of the repository (to check the bibtex) failed for issue #3502 failed with the following error:
[code]

[2021-07-16 04:31] MatthewReid854 commented on #3484
A few more issues from my second read through:

Line 48 - Typo in "module"
Line 49 - Consider using "Method of Probability Plotting" since that's why you abbreviate to MPP
Line 77 - Typo in "observations"
Line 80 - "Minimum Spacing" should be "Minimum Product Spacing"
Line 91 - first comma (after "fixed") should be a full stop and new sentence
Line 103 - "produce" should be "producing"
Line 123 -

[2021-07-16 04:43] mdbartos commented on #3332
@whedon re-invite @mdbartos as reviewer

[2021-07-16 04:43] whedon commented on #3332
I'm sorry @mdbartos, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-07-16 04:46] mdbartos commented on #3332
Can I get a re-invite? I can't currently access the checklist.

[2021-07-16 06:16] hugoledoux commented on #3471
thanks @RonaldEnsing for that quick review 👍

@tgoelles if you are on holidays, you can also wait until @hechth makes his review to work on the improvements.

[2021-07-16 06:20] hugoledoux commented on #2869
One point I'd like to make clear: the paper should in general be kept short, now it's 9p with the references and it shouldn't be made longer, ideally.

The recommended errors/typos and clarifications proposed by @sdesabbata should be implemented, but adding new sections about how certain parts (eg "The paper should provide further details about how such process is automated.") could be put in the

[2021-07-16 06:32] ahnonay commented on #3434
Hi Lutzhamel,
glad to hear you were able to run at least most of the notebooks now :)!

Regarding the rubberband dependency: We are quite unhappy with this as well. In fact, we are currently creating a Python package that can replace and improve upon rubberband (https://github.com/meinardmueller/libtsm), but this won't be ready for some more time. The application scenario that we need rubberband f

[2021-07-16 07:24] ebocher commented on #3442
@whedon generate pdf

[2021-07-16 07:25] whedon commented on #3442
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03442/joss.03442/10.21105.joss.03442.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03442/joss.03442/10.21105.joss.03442.pdf) :page_facing_up: :point_left:

[2021-07-16 07:47] Nikoleta-v3 commented on #3403
No problem at all @trashbirdecology 😄 Thank you for getting back to me.

[2021-07-16 07:50] Nikoleta-v3 commented on #3420
No worries at all @JosiahParry 😄 thank you for getting back to me.

[2021-07-16 08:07] Nikoleta-v3 commented on #3420
👋 @Athanasiamo & @cjbarrie & @LogIN- would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "daiR: an R package for OCR with Google Document AI". You can find more information at the top o

[2021-07-16 08:28] adithirgis commented on #3435
@whedon check references

[2021-07-16 08:28] whedon commented on #3435
[code]

[2021-07-16 08:28] adithirgis commented on #3435
@whedon generate pdf

[2021-07-16 08:28] whedon commented on #3435
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: :point_left:

[2021-07-16 08:30] adithirgis commented on #3435
@whedon generate pdf

[2021-07-16 08:31] whedon commented on #3435
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: :point_left:

[2021-07-16 08:55] nandaloo commented on #3395
@whedon generate pdf

[2021-07-16 08:55] whedon commented on #3395
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: :point_left:

[2021-07-16 08:58] nandaloo commented on #3395
@kthyng Thanks for the hint. I fixed the .bib according to https://stackoverflow.com/questions/2800527/preserving-all-capitalization-in-bibtex

[2021-07-16 09:10] grburgess commented on #3257
@xuanxu what are the next steps?

[2021-07-16 09:23] whedon opened #3503 "[PRE REVIEW]: mednoise: a python package for medical image processing"
**Submitting author:** @ravibandaru-lab (<a href="http://orcid.org/0000-0001-7109-9894">Ravi Bandaru</a>)
**Repository:** <a href="https://github.com/mednoise/mednoise" target ="_blank">https://github.com/mednoise/mednoise</a>
**Version:** v.1.2.4
**Editor:** @osorensen
**Reviewers:** @kasbohm, @ethanknights
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-07-16 09:24] whedon commented on #3503
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-16 09:24] whedon commented on #3503
[code]

[2021-07-16 09:24] whedon commented on #3503
[code]

[2021-07-16 09:24] whedon commented on #3503
PDF failed to compile for issue #3503 with the following error:
[code]

[2021-07-16 09:42] xuanxu commented on #3257
Thanks @HeloiseS & @warrickball for your reviews!

@grburgess I think I spotted [a typo](https://github.com/grburgess/popsynth/pull/44) in the paper' summary

[2021-07-16 09:45] grburgess commented on #3257
@xuanxu merged. Thanks!

[2021-07-16 09:45] xuanxu commented on #3257
@whedon generate pdf

[2021-07-16 09:45] whedon commented on #3257
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03257/joss.03257/10.21105.joss.03257.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03257/joss.03257/10.21105.joss.03257.pdf) :page_facing_up: :point_left:

[2021-07-16 09:46] mjsottile commented on #3493
@kthyng Sorry for the delay - my mail filter shuffled the invite into a folder I don't read daily.  I'd be happy to handle this submission.

[2021-07-16 09:46] mjsottile commented on #3493
@whedon assign me as editor

[2021-07-16 09:46] whedon commented on #3493
OK, the editor is @mjsottile

[2021-07-16 09:47] xuanxu commented on #3257
OK @grburgess, everything looks good, here are the next steps:

- Please release a new tagged version from the current master branch so it includes all the changes made during the review process
- Then archive that latest release in Zenodo or a similar service
- Check the Zenodo deposit has the correct metadata: title and authors names should match the paper; you may also add authors' ORCIDs.

Onc

[2021-07-16 09:52] sappelhoff commented on #3293
@meg-simula all my points have been addressed satisfactorily by @turbach and I am happy to recommend fitgrid for publication in JOSS.

Some issues I raised are still waiting to be resolved, but I don't consider them blockers for publication.

[2021-07-16 10:01] cjbarrie commented on #3420
Happy to do so!

[2021-07-16 10:04] Nikoleta-v3 commented on #3420
Thank you! 😄

[2021-07-16 10:04] Nikoleta-v3 commented on #3420
@whedon assign @cjbarrie  as reviewer

[2021-07-16 10:04] whedon commented on #3420
OK, @cjbarrie  is now a reviewer

[2021-07-16 10:05] grburgess commented on #3257
@xuanxu I usually do a tag which then releases to pypi. should I just tar the pypi release and put that in zenodo ?

[2021-07-16 10:12] leouieda commented on #3470
@kbarnhart @Kevin-Mattheus-Moerman thanks for the ping. I've got my hands full at the moment but could take this on in about a month if that's OK.

[2021-07-16 10:16] xuanxu commented on #3257
@grburgess yes, you can upload the .zip or the .tar file generated by GH when the tag (or release) is created.

![files](https://user-images.githubusercontent.com/6528/125932763-15554a61-bc50-485a-a755-ef98cd2fe4a2.png)

[2021-07-16 10:39] grburgess commented on #3257
@xuanxu I have uploaded a new version to zenodo:

https://zenodo.org/record/5109570#.YPFhrC0Rpf0

[2021-07-16 10:40] grburgess commented on #3257
it is also on pypi: https://pypi.org/project/popsynth

[2021-07-16 10:41] xuanxu commented on #3257
@grburgess The zenodo link points to a snapshot of the 0.2.2 version

[2021-07-16 10:46] grburgess commented on #3257
@xuanxu yes, I just realized I forgot to delete the old files:

https://zenodo.org/record/5109583#.YPFjVS0Rpf0

[2021-07-16 10:47] grburgess commented on #3257
@xuanxu ah... I will have to change the files to change the title. Is this crucial?

[2021-07-16 10:53] xuanxu commented on #3257
@grburgess Yes, the Zenodo snapshot's DOI will be archived associated to the paper, so it needs to match title and authors. You can change the title and other metadata directly in the Zenodo UI (Edit--> Basic information --> title), there's no need to update the files. I suggest you get a new DOI, with all correct data (right now, the publication date appears as Aug 2019 and the link to the repo i

[2021-07-16 10:54] ajstewartlang commented on #3400
@whedon add @pmyteh as reviewer

[2021-07-16 10:54] whedon commented on #3400
OK, @pmyteh is now a reviewer

[2021-07-16 10:55] grburgess commented on #3257
@xuanxu done!

[2021-07-16 10:55] ajstewartlang commented on #3400
Many thanks @Sara-ShiHo and @pmyteh for agreeing to review this submission. It's very much appreciated! I'll open the review issue now - just ping me if you have any questions...

[2021-07-16 10:55] ajstewartlang commented on #3400
@whedon start review

[2021-07-16 10:55] whedon opened #3504 "[REVIEW]: Finnish Media Scrapers"
**Submitting author:** @jiemakel (<a href="http://orcid.org/0000-0002-8366-8414">Eetu Mäkelä</a>)
**Repository:** <a href="https://github.com/hsci-r/finnish-media-scrapers" target ="_blank">https://github.com/hsci-r/finnish-media-scrapers</a>
**Version:** v1.1.1
**Editor:** @ajstewartlang
**Reviewers:** @sara-shiho, @GaurangTandon
**Archive:** <a href="https://doi.org/10.5281/zenodo.5796453" targe

[2021-07-16 10:55] whedon commented on #3400
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3504.

[2021-07-16 10:55] #3400 closed

[2021-07-16 10:56] whedon commented on #3504
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sara-shiho, @pmyteh it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-07-16 10:56] whedon commented on #3504
[code]

[2021-07-16 10:56] whedon commented on #3504
[code]

[2021-07-16 10:56] whedon commented on #3504
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03504/joss.03504/10.21105.joss.03504.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03504/joss.03504/10.21105.joss.03504.pdf) :page_facing_up: :point_left:

[2021-07-16 11:06] xuanxu commented on #3257
@grburgess Please upload to Zenodo the [GitHub generated](https://github.com/grburgess/popsynth/releases/tag/v1.0.3) [zip file](https://github.com/grburgess/popsynth/archive/refs/tags/v1.0.3.zip) instead of the tar pushed to pypi –this tar file is a distribution file where many of the repo's contents are not included, like docs, tests, etc.  The tag's zip/tar.gz is an actual snapshot of the reposi

[2021-07-16 11:22] whedon commented on #3444
:wave: @MikeKaller, please update us on how your review is going (this is an automated reminder).

[2021-07-16 11:22] whedon commented on #3444
:wave: @BrandonEdwards , please update us on how your review is going (this is an automated reminder).

[2021-07-16 11:51] kthyng commented on #3502
Hi @wxwx1993 — unfortunately the little buttons that start a new issue in github don't work with the JOSS setup. I'll close this issue, but please just continue your review without the little in-line convenience issues starters.

[2021-07-16 11:51] #3502 closed

[2021-07-16 11:52] kthyng commented on #3332
@whedon re-invite @mdbartos as reviewer

[2021-07-16 11:52] whedon commented on #3332
The reviewer already has a pending invite.

@mdbartos please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-16 11:52] kthyng commented on #3332
Will this invitation work for you?

[2021-07-16 12:01] csadorf commented on #3419
@kellyrowland I did not realize that one of the authors is affiliated with institution I am employed by: École Polytechnique Fédérale de Lausanne (EPFL). According to the COI Policy, this constitutes a COI. I have not personally interacted or collaborated with Filippo Vicentini or their host laboratory. I am going to continue with the review process, but will wait on confirmation on whether the CO

[2021-07-16 12:05] kthyng commented on #3469
Ok I am going to just go ahead and assign. Thanks @richardjgowers!

[2021-07-16 12:05] kthyng commented on #3469
@whedon assign @richardjgowers as editor

[2021-07-16 12:05] whedon commented on #3469
OK, the editor is @richardjgowers

[2021-07-16 12:08] vijaysm commented on #3020
Unfortunately, this is the curse of dependency stacks. It is important to make clear the overall minimum set of dependency list (and yes, you inherit dependencies of your dependencies as well) that you need to build NLMech consistently. If you want to restrict usage to Fedora and Ubuntu, then fine tune the scripts for the platforms and document that installations in other platforms are untested/un

[2021-07-16 12:24] fraukewiese commented on #3341
@kthyng Thanks for welcoming me! Yes, I can edit this paper.

[2021-07-16 12:24] fraukewiese commented on #3341
@whedon assign me as editor

[2021-07-16 12:24] whedon commented on #3341
OK, the editor is @fraukewiese

[2021-07-16 12:31] fabian-s commented on #3437
@pratheesh3780 :

seems like your Zenodo archive doesn't have correct metadata yet:

Authors are given as  "pratheesh3780; Eli Miller; Fabian Scheipl; Adithi R. Upadhya",
should be "Pratheesh P. Gopinath, Rajender Parsad, Brigit Joseph, Adarsh V. S." (same as your JOSS paper)

Title is "pratheesh3780/grapesAgri1: grapesAgri1- Collection of R-shiny Package for Agricultural Data Analysis Part 1"
sho

[2021-07-16 12:45] grburgess commented on #3257
@xuanxu no worries... sorry I was not getting this right. This should be correct now:
https://doi.org/10.5281/zenodo.5109590

[2021-07-16 12:53] xuanxu commented on #3257
@whedon set v1.0.3 as version

[2021-07-16 12:53] whedon commented on #3257
OK. v1.0.3 is the version.

[2021-07-16 12:54] xuanxu commented on #3257
@whedon ser 10.5281/zenodo.5109590 as archive

[2021-07-16 12:54] whedon commented on #3257
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-16 12:54] xuanxu commented on #3257
@whedon set 10.5281/zenodo.5109590 as archive

[2021-07-16 12:54] whedon commented on #3257
OK. <a href="https://doi.org/10.5281/zenodo.5109590" target="_blank">10.5281/zenodo.5109590</a> is the archive.

[2021-07-16 12:56] xuanxu commented on #3257
Thank you @grburgess. We're all set. Recommending for acceptance 🚀

[2021-07-16 12:56] xuanxu commented on #3257
@whedon recommend-accept

[2021-07-16 12:56] whedon commented on #3257
[code]

[2021-07-16 12:56] whedon commented on #3257
[code]

[2021-07-16 12:56] whedon commented on #3257
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2451

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2451, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-16 13:11] AJQuinn commented on #3293
Hello - agreed, I'm happy that the changes in https://github.com/kutaslab/fitgrid/pull/208 address my points. Can recommend for publication once these are merged!

[2021-07-16 13:25] pratheesh3780 commented on #3437
@fabian-s
extremely sorry for this.
Corrections were made
Version 1.1.0 
DOI: 10.5281/zenodo.5106216

[2021-07-16 13:34] arfon commented on #3341
Note that @fraukewiese is OoO for a couple of weeks and will pick this paper up in earnest in early August. @noah80 – in the meantime, if you have any suggestions for people who might be able to provide a good review, please suggest them here.

[2021-07-16 13:38] fraukewiese commented on #3442
I will be OoO until beginning of August, so I would prefer if somebody else could edit this submission.

[2021-07-16 13:38] ravibandaru-lab commented on #3503
@whedon commands

[2021-07-16 13:38] whedon commented on #3503
Here are some things you can ask me to do:

[code]

[2021-07-16 13:38] ravibandaru-lab commented on #3503
@whedon check references

[2021-07-16 13:38] whedon commented on #3503
[code]

[2021-07-16 13:39] ravibandaru-lab commented on #3503
@whedon generate paper

[2021-07-16 13:39] whedon commented on #3503
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-16 13:39] ravibandaru-lab commented on #3503
@whedon generate pdf

[2021-07-16 13:40] whedon commented on #3503
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03503/joss.03503/10.21105.joss.03503.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03503/joss.03503/10.21105.joss.03503.pdf) :page_facing_up: :point_left:

[2021-07-16 13:48] bmcfee commented on #3409
@VBlesius :wave: I'm tracking down editors now.  Meanwhile, I've noticed that the repo doesn't have explicit license file (see [review checklist](https://joss.readthedocs.io/en/latest/review_checklist.html#general-checks)), though GPLv2 is noted in the readme.  Otherwise, everything seems to be in good shape.

[2021-07-16 14:04] benjaminbolling commented on #3431
Issues commented, close if ready.

[2021-07-16 14:09] fabian-s commented on #3437
@whedon set 10.5281/zenodo.5106216 as archive

[2021-07-16 14:09] whedon commented on #3437
OK. <a href="https://doi.org/10.5281/zenodo.5106216" target="_blank">10.5281/zenodo.5106216</a> is the archive.

[2021-07-16 14:09] fabian-s commented on #3437
@whedon set <v1.0.0> as version

[2021-07-16 14:09] whedon commented on #3437
OK. <v1.0.0> is the version.

[2021-07-16 14:10] fabian-s commented on #3437
@whedon set v1.0.0 as version

[2021-07-16 14:10] whedon commented on #3437
OK. v1.0.0 is the version.

[2021-07-16 14:10] fabian-s commented on #3437
@whedon recommend-accept

[2021-07-16 14:10] whedon commented on #3437
[code]

[2021-07-16 14:11] whedon commented on #3437
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2452

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2452, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-16 14:11] whedon commented on #3437
[code]

[2021-07-16 14:14] lutzhamel commented on #3434
@ahnonay I am happy to say that I was able to run the final notebook with the apt rubberband package.

@faroit My review is complete and I recommend publication of this package/paper.

[2021-07-16 14:17] danielskatz commented on #3384
@whedon generate pdf

[2021-07-16 14:17] whedon commented on #3384
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03384/joss.03384/10.21105.joss.03384.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03384/joss.03384/10.21105.joss.03384.pdf) :page_facing_up: :point_left:

[2021-07-16 14:22] danielskatz commented on #3384
@Garyfallidis - in the paper, I don't understand the sentence in the Rendering Engine paragraph that starts with "Furthermore,"  Is this talking about your software? Why "only"?

[2021-07-16 14:24] danielskatz commented on #3384
I think "Mayavi however FURY" should be "Mayavi. FURY, however,"

[2021-07-16 14:26] danielskatz commented on #3384
In the references, you probably need to protect some casing with {}s - the Harris reference should probably say "CUDA" and "SIGGARAPH"   There may be others like this, though I don't see any immediately.

[2021-07-16 14:39] fAndreuzzi commented on #3493
Hi @mjsottile, thank you for accepting to review my submission.

[2021-07-16 14:49] ravibandaru-lab commented on #3503
Hello! Thanks for processing me submission. Here are some potential reviewers I am thinking about:

1. sealhuang
2. oesteban
3. abhishekbajpayee
4. yxpd
5. glemaitre

[2021-07-16 14:58] gomezzz commented on #3439
Thank you for the review! Yes, you are right. We have implemented those changes and just today added some minor benchmark plots to the readme as well. Thanks! :)

[2021-07-16 15:04] rkurchin commented on #3412
Happy to!

@whedon assign @rkurchin as editor

[2021-07-16 15:06] rkurchin commented on #3412
@whedon assign @rkurchin as editor

[2021-07-16 15:06] whedon commented on #3412
OK, the editor is @rkurchin

[2021-07-16 15:07] rkurchin commented on #3443
@whedon assign @rkurchin as editor

[2021-07-16 15:07] whedon commented on #3443
OK, the editor is @rkurchin

[2021-07-16 15:12] rkurchin commented on #3405
Willing to give it a go, but I don't really know anything about NMR or that particular characterization community, so I wouldn't be able to do a great job of suggesting reviewers if obvious candidates from the list can't do it. I'll leave it up to you, feel free to assign me if you think it's the best fit.

[2021-07-16 15:24] bmcfee commented on #3409
@whedon add @brunaw as reviewer

[2021-07-16 15:24] whedon commented on #3409
OK, @brunaw is now a reviewer

[2021-07-16 15:25] diehlpk commented on #3020
I think we have HPX available in spack and maybe in easyinstall. However,  blaze and blaze_iterative are not available in spack and easytinsall. I do not have the capacity to add blaze and easyinstall to them right now. Maybe in the future, we will work on that but that will not happen in the near future.

[2021-07-16 16:03] diehlpk commented on #3020
@vijaysm and @chennachaos I added them to the Readme.md and also listed the command to install them using apt or dnf.

In addition, I made some comment that some dependencies can be installed using the system packages. I added the example to install them using dnf or apt as well.

[2021-07-16 16:22] whedon commented on #3446
:wave: @younglululu, please update us on how your review is going (this is an automated reminder).

[2021-07-16 16:22] whedon commented on #3446
:wave: @pmeier, please update us on how your review is going (this is an automated reminder).

[2021-07-16 16:39] diehlpk commented on #3311
To finish up the review, I checked the two missing boxes for the reviewer.

[2021-07-16 16:41] fboehm commented on #3273
@PhilBoileau - Thanks for the fixes. Would you now please make a new release and archive for the package? Once you've done that, please specify the version and doi in this comment thread. Thanks again!

[2021-07-16 16:44] fboehm commented on #3393
@IndrajeetPatil - I think that we should wait for the second review. I imagine that the reviewer got busy with other tasks, but will get to this review soon.

[2021-07-16 16:52] brunaw commented on #3430
Dear @jbytecode,

Here's my review/comments abou the submission, please let me know if you have any questions about it:

## General

- The summary section seem to have a few disconnected sentences. Could the authors make the text flow better?

- The `State of the field` section of the paper needs some changes. The first paragraphs are not a literature review per se, but rather an introduction/expl

[2021-07-16 17:22] vijaysm commented on #3020
@diehlpk thanks for updating the documentation.

With regards to spack, looks like they do have blaze [1] if that was a bottleneck before.

[1] https://spack.readthedocs.io/en/latest/package_list.html#blaze

[2021-07-16 17:58] whedon commented on #3447
:wave: @pps121, please update us on how your review is going (this is an automated reminder).

[2021-07-16 17:58] whedon commented on #3447
:wave: @amtseng, please update us on how your review is going (this is an automated reminder).

[2021-07-16 18:08] osorensen commented on #3459
Thanks for the review, @robbisg, and for opening the issue in the source repository. @mgxd please take your time to resolve the issue.

[2021-07-16 18:09] osorensen commented on #3459
Also thanks for your review, @PeerHerholz, and for opening issues in the source repository.

[2021-07-16 18:10] kellyrowland commented on #3374
Hi @7omasz - please let me know what your status is with this review and/or if you need to decline reviewing the paper (no problem in any case).

[2021-07-16 18:16] 7omasz commented on #3374
Hi @kellyrowland apologies, unfortunately, I will not be able to complete the review and have to decline. Sorry for the trouble!

[2021-07-16 18:17] kellyrowland commented on #3374
No problem, thanks for the quick update!

[2021-07-16 18:17] kellyrowland commented on #3374
@whedon remove @7omasz as reviewer

[2021-07-16 18:17] whedon commented on #3374
OK, @7omasz is no longer a reviewer

[2021-07-16 18:35] vaneseltine commented on #3440
Thanks for raising this, as it's important to me that this is all clear and correct. Nominally started as a fork of Derek Gulbranson's python-nameparser project (https://github.com/derek73/python-nameparser). As I started digging into the package more, I developed nominally into an entirely separate package with different core processes and internals, working in the same problem space. As the whed

[2021-07-16 18:43] diehlpk commented on #3020
Ok, but we still miss Blaze_Iterative. I agree, having the code in Spack would be really, however, I do not have the capacity to add Blaze_Iterative to Spack and maintain the package.

[2021-07-16 19:33] vijaysm commented on #3020
Sure fair enough. But something to consider for future - and perhaps a motivation to convince the Blaze_Iterative devs to maintain the recipe as well for broader usage. Not really relevant to this review and so I don't want to diverge too much from topic.

Overall, I have preferred the Dockerized solution to getting started with NLMech, since this avoids the need for a user to build and install al

[2021-07-16 19:46] kbarnhart commented on #3462
@npucino thank you for those clarifications. Based on my initial review of the software and consultation with the rest of the editorial board, my decision is to reject the submission with a recommendation that your resubmit after the following issues have been considered and addressed:

1. Creation of tests for the package. Documentation should indicate how a user can verify the software is workin

[2021-07-16 19:46] kbarnhart commented on #3462
@openjournals/joss-eics: I've recommended that this submission be rejected.

[2021-07-16 20:50] whedon commented on #3448
:wave: @desilinguist, please update us on how your review is going (this is an automated reminder).

[2021-07-16 20:50] whedon commented on #3448
:wave: @ahurriyetoglu, please update us on how your review is going (this is an automated reminder).

[2021-07-16 20:53] diehlpk commented on #3020
Yes, I totally agree that we have some complex TPLs, and it is not easy to install the code. As you said, we provide the docker image for people who just want to play with the code.

[2021-07-16 20:55] janash commented on #3325
Thank you @ArtVoro, the documentation is much improved. I would still like to see some additional comments/explanation in the example notebook tutorials.

I have  concerns about code quality and maintainability. Particularly, a large amount of code is repeated when it need not be. Please see the issue I have filed on your repository (https://github.com/KIT-MBS/pyrexMD/issues/1). I would suggest so

[2021-07-16 21:22] rkurchin commented on #3412
Hi there @ljakoster, I'll be the editor for your submission. Excited to learn more about your software! Could you take a look a this list of potential reviewers and identify a few people who would be good candidates to review this submission?

[2021-07-16 21:37] rkurchin commented on #3443
@cmbiwer, @mikapfl, would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues according to [these guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). You can find out more about this submission in the first comment in this issue. Note that our editorial robot whedon is having trouble compiling the PDF right no

[2021-07-16 21:37] rkurchin commented on #3443
@fgjorup, could you please correct the ORCID issue referenced above? Currently, your author/ORCID list is formatted thusly:
[code]
I believe replacing it with the following should fix it:
[code]