[2019-06-14 14:18] danielskatz commented on #1474
@whedon accept

[2019-06-14 14:18] whedon commented on #1474
[code]

[2019-06-14 14:18] whedon commented on #1474
[code]

[2019-06-14 14:18] whedon commented on #1474
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/758

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/758, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-14 14:20] danielskatz commented on #1474
@whedon accept deposit=true

[2019-06-14 14:20] whedon commented on #1474
[code]

[2019-06-14 14:21] danielskatz commented on #1474
thanks again @zbeekman and @tclune

[2019-06-14 14:21] whedon commented on #1474
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1139538336069095425) 👈 🐦🐦🐦

[2019-06-14 14:21] whedon commented on #1474
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/759
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01474](https://doi.org/10.21105/joss.01474)
2. If everything looks go

[2019-06-14 14:23] danielskatz commented on #1474
I currently got a 404 back from https://www.theoj.org/joss-papers/joss.01474/10.21105.joss.01474.pdf
This usually works after a few minutes, but I'm just getting on a plane, so @arfon, if you see this working, please feel free to close this issue for the final publication step

[2019-06-14 14:28] danielskatz commented on #1474
It now works!

[2019-06-14 14:28] #1474 closed

[2019-06-14 14:28] whedon commented on #1474
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01474/status.svg)](https://doi.org/10.21105/joss.01474)

**We need your help!**

Journal of Open Source Softwar

[2019-06-14 14:30] marshallward commented on #1474
I'm still getting a 404, but may be solved with patience.

Also, the recommended citation also seems to be missing my first initials, but perhaps this is standard?

Anyway, don't miss your flight over these details :)

[2019-06-14 14:32] danielskatz commented on #1474
@arfon, can you help with the initials issue?

[2019-06-14 14:34] danielskatz commented on #1474
Yes, the 404 is a caching issue. Once it fails, you need to wait a bit for it to resolve. For me, it failed on airport Wi-Fi but worked a few minutes later via phone network

[2019-06-14 14:36] muehlhaus commented on #1445
@danielskatz - Great. I just enabled Zenodo for our repository. The DOI is: 10.5281/zenodo.3246352
Thank you.

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3246352.svg)](https://doi.org/10.5281/zenodo.3246352)

[2019-06-14 14:38] danielskatz commented on #1445
Is the version still 1.1.0?

[2019-06-14 14:38] danielskatz commented on #1445
@whedon set 10.5281/zenodo.3246352 as archive

[2019-06-14 14:38] whedon commented on #1445
OK. <a href="https://doi.org/10.5281/zenodo.3246352" target="_blank">10.5281/zenodo.3246352</a> is the archive.

[2019-06-14 14:38] marshallward commented on #1474
Must be something like that, I can see the file directly here:

    https://github.com/openjournals/joss-papers/blob/master/joss.01474/10.21105.joss.01474.pdf

As for the initials, I did notice that my `codemeta.json` file does not include my middle initial, which means it must have pulled the info from my GitHub account or git configs. I think I used one of the Ruby tools to generate that.  I can

[2019-06-14 14:39] muehlhaus commented on #1445
@danielskatz The latest version is 1.1.6

[2019-06-14 14:39] danielskatz commented on #1445
@whedon set 1.1.6 as version

[2019-06-14 14:39] whedon commented on #1445
OK. 1.1.6 is the version.

[2019-06-14 14:40] muehlhaus commented on #1445
@cgravill and @PrashantVaidyanathan . Again, thank you so much for your work. It was a really constructive review process.

[2019-06-14 14:40] danielskatz commented on #1445
:wave: @arfon can you take this from here?

[2019-06-14 14:41] marshallward commented on #1474
I've just looked at a few others and the "Cite as:" also lacks first initials, so perhaps this is something to be handled outside of this issue :).

[2019-06-14 14:45] kMutagene commented on #1445
I second that. Thank you for the constructive comments and the patience while resolving the issues!

[2019-06-14 14:56] marshallward commented on #1474
Also, for what it's worth, I found a typo in the paper, p2 L14 itepreted -> interpreted, and have edited my `paper.md`, but no worries if it's too late to resolve it.

[2019-06-14 15:13] jjharden commented on #1505
I have reviewed the software and paper. Here are the issues that I see.

1. Installation instructions: I did not see a list of dependencies.
2. Example usage: There are plenty of examples, in the documentation. However, the example given on GitHub (“Just an example”) seems much simpler than what is described in the section titled “Modelling” in the paper. It would be helpful to see an example that

[2019-06-14 15:17] arfon commented on #1474
Yeah, this isn't unique to this paper, this is currently how we create the recommended citations for single-author papers.

I've opened a bug report [here](https://github.com/openjournals/whedon/issues/50) but I don't expect a quick fix sorry.

I can fix this.

[2019-06-14 15:17] arfon commented on #1474
@whedon generate pdf

[2019-06-14 15:17] whedon commented on #1474
[code]

[2019-06-14 15:21] arfon commented on #1421
@whedon accept

[2019-06-14 15:21] whedon commented on #1421
[code]

[2019-06-14 15:21] whedon commented on #1421
[code]

[2019-06-14 15:21] whedon commented on #1421
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/760

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/760, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-14 15:22] arfon commented on #1421
@whedon accept deposit=true

[2019-06-14 15:22] whedon commented on #1421
[code]

[2019-06-14 15:23] whedon commented on #1421
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1139553969251016704) 👈 🐦🐦🐦

[2019-06-14 15:23] whedon commented on #1421
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/761
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01421](https://doi.org/10.21105/joss.01421)
2. If everything looks go

[2019-06-14 15:28] arfon commented on #1474
OK, the PDF is updated in https://github.com/openjournals/joss-papers/commit/afc8a4414d32388103f16c34c9e1fbe04d8c9ffc - although it might take a while to update because of the caching @danielskatz mentioned earlier.

[2019-06-14 15:30] arfon commented on #1421
@modenaxe, @demotu - many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@tgeijten - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-14 15:30] #1421 closed

[2019-06-14 15:30] whedon commented on #1421
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01421/status.svg)](https://doi.org/10.21105/joss.01421)

**We need your help!**

Journal of Open Source Softwar

[2019-06-14 15:31] marshallward commented on #1474
URLs are working for me, including the typo fix.  Thanks @arfon and all others for their work!

[2019-06-14 15:42] Juanlu001 commented on #1426
Excellent @mommermi! I checked all the boxes in the review and think this is good to go with https://github.com/NASA-Planetary-Science/sbpy/pull/156.

[2019-06-14 15:57] IbrahimTanyalcin commented on #1407
:wave:  @csoneson @hrhotz @imallona @jkanche

I think I'll be able to do corrections and the section I promised to @hrhotz over the weekend. Just to quickly answer @jkanche,

That I guess for certain limits, that seems correct. However let's put that to test:

https://stuff.mit.edu/afs/sipb/contrib/pi/pi-billion.txt

This loads about a billion letters of pi, as the page grows you'll notice scroll

[2019-06-14 15:59] cgravill commented on #1445
Thanks for sharing your library and responding so quickly to issues. Also looking forward there being more F# in biology coming out https://github.com/CSBiology

[2019-06-14 16:38] kgjerde commented on #1329
@whedon generate pdf

[2019-06-14 16:38] whedon commented on #1329
[code]

[2019-06-14 16:39] whedon commented on #1329
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01329/joss.01329/10.21105.joss.01329.pdf)

[2019-06-14 17:05] adadiehl commented on #1496
It looks like pdf generation may have stalled with the most recent version,
which corrects a problem with the author affiliations for AP Boyle. As far
as I know, this should be the last correction that needs to be made.

On Thu, Jun 13, 2019 at 2:40 PM Adam Diehl <agd27@cornell.edu> wrote:

[2019-06-14 17:11] ryanstwrt commented on #1486
@pshriwise I've added the `MANIFEST.in` file and left  `include_package_data=True`. I've also removed the `package_data={...}` from the `setup.py` file. I believe this should address the problem @kellyrowland was experiencing. Thank you for the information on the preferred methodology for including package data. Let me know if the problem persists, and I can take some more time to investigate.

[2019-06-14 18:00] arfon commented on #1496
@whedon generate pdf

[2019-06-14 18:00] whedon commented on #1496
[code]

[2019-06-14 18:01] rmsare commented on #1047
Thanks for submitting this, @jshermeyer! Here is my initial review.

Overall, it looks like a useful set of tools for quick time series analysis of satellite imagery that may be appropriate for JOSS. Nice work.

While the code functions as advertised, the codebase and documentation could be improved with substantial changes that will make it easier to use. I believe implementing many of these chan

[2019-06-14 18:01] whedon commented on #1496
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01496/joss.01496/10.21105.joss.01496.pdf)

[2019-06-14 18:26] adadiehl commented on #1496
Thank you. Everything looks good with the pdf.

On Fri, Jun 14, 2019 at 2:01 PM whedon <notifications@github.com> wrote:

[2019-06-14 18:52] jkanche commented on #1407
The issue here is not with the text, its with the transfer time, since the browser is rendering the text and streaming chunks of the text file at the same time. This causes the lag, but once everything is in memory, the page loads the entire text pretty quickly. for me, It took 5.6 minutes (from devtools) to transfer the entire file from the server to the client.

My comment was based on the state

[2019-06-14 18:54] danielskatz commented on #1474
Thanks @arfon

[2019-06-14 19:11] danielskatz commented on #1445
@whedon accept

[2019-06-14 19:11] whedon commented on #1445
[code]

[2019-06-14 19:11] whedon commented on #1445
[code]

[2019-06-14 19:12] whedon commented on #1445
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/762

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/762, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-14 19:17] mommermi commented on #1426
Thanks, @Juanlu001! I will wait with merging NASA-Planetary-Science/sbpy#156 until the astropy core issue is fixed and the CI builds succeed again. Thanks for your detailed review!

[2019-06-14 19:18] mommermi commented on #1426
And, of course, thanks to @bsipocz, too, for her comments and help!

[2019-06-14 19:27] danielskatz commented on #1445
@whedon accept deposit=true

[2019-06-14 19:27] whedon commented on #1445
[code]

[2019-06-14 19:28] whedon commented on #1445
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1139615583866163200) 👈 🐦🐦🐦

[2019-06-14 19:28] whedon commented on #1445
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/763
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01445](https://doi.org/10.21105/joss.01445)
2. If everything looks go

[2019-06-14 19:31] #1445 closed

[2019-06-14 19:31] whedon commented on #1445
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01445/status.svg)](https://doi.org/10.21105/joss.01445)

**We need your help!**

Journal of Open Source Softwar

[2019-06-14 20:12] Kevin-Mattheus-Moerman commented on #1047
@rmsare thanks for this very thorough review!

[2019-06-14 20:14] Kevin-Mattheus-Moerman commented on #1047
@jshermeyer can you comment on the points raised by @rmsare. Thanks.

[2019-06-14 22:27] alexpghayes commented on #1412
Apologies for the delay, will review again this weekend.

[2019-06-14 22:51] kellieotto commented on #1480
Thanks for making those changes so quickly @katrinekirkeby. Everything looks good now. I made some very minor grammar edits to the paper in the issue here: https://github.com/nvihrs14/tcherry/issues/4

[2019-06-15 01:02] jjmcnelis commented on #1047
@Kevin-Mattheus-Moerman Happy to help. ORCID and Org are now listed on my profile. I'll complete my initial review before the business week opens on Monday. Please let me know if that doesn't agree with your expected schedule for reviewers and I'll up the urgency.

[2019-06-15 03:12] peterjwatkins commented on #947
@arfon OK.. good to go then :-)

[2019-06-15 07:28] rbeucher commented on #1498
Hi @kthyng , 3 weeks is going to be difficult for me. I am sorry.

[2019-06-15 10:26] IbrahimTanyalcin commented on #1407
@jkanche,

- The limitation 1000x10000 is a good idea due the ledgers (these are js objects) that keep track of each sequence row. The string length per row is not that important, you can have 1x10^6 letters or so (if I remember correctly string operations under the hood was reliant on C++ on chrome, so they are fast.) But the amount of track count starts to tire out the CPU.

- no I have not adde

[2019-06-15 11:12] tesch1 commented on #1487
Thanks for the great comments.  I'm currently on the road without a
computer for a couple weeks, and will let you know when the questions have
been addressed.

On Thu, Jun 13, 2019 at 12:10 PM Daniel S. Katz <notifications@github.com>
wrote:

[2019-06-15 12:14] osorensen commented on #1505
I cannot find a release in the GitHub repository. Please create a release [here](https://github.com/Amalan-ConStat/R-fitODBOD/releases) corresponding to v1.4.0.

[2019-06-15 13:03] arfon commented on #947
@whedon generate pdf

[2019-06-15 13:03] whedon commented on #947
[code]

[2019-06-15 13:04] whedon commented on #947
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00947/joss.00947/10.21105.joss.00947.pdf)

[2019-06-15 13:04] arfon commented on #947
@peterjwatkins could you merge https://github.com/peterjwatkins/diwanalr/pull/3 please?

[2019-06-15 14:58] jdrugo commented on #1359
@whedon compile

[2019-06-15 15:06] jdrugo commented on #1359
@ManuelaS & @labarba, I hope to have addressed all the points in the review. The biggest changes are

* restructuring the code into different folder. The addition of tests would have made the number of files in the root folder too large.
* significantly improving README.md, adding more detailed installation instructions, requirements, API documentation.
* improving the documentation in the headers

[2019-06-15 18:57] labarba commented on #1359
👋 @usethedata — you're handling this one... I bumped the review during my AEiC rotation, but now I'm not on duty.

[2019-06-15 21:25] kthyng commented on #1498
Ok thanks for letting me know @rbeucher.

@kbarnhart You did such an excellent review for me last time... are you available for another?

[2019-06-15 22:12] kbarnhart commented on #1498
@kthyng I can do this within three weeks (though it’ll be on the latter end of the three weeks).

[2019-06-16 01:00] joey711 commented on #1442
Functionality confirmed.
![image](https://user-images.githubusercontent.com/841437/59557774-6fcc3b80-8f97-11e9-9fcc-8e018c1c4941.png)

[2019-06-16 01:02] joey711 commented on #1442
Also tested the `co_occurrence` function, which was re-implemented with Rcpp for performance. Can confirm the performance. I did not test accuracy.

Speaking of accuracy, that function in particular could use some unit tests to establish a baseline of analytical accuracy. A few other functional unit tests wouldn't hurt.

[2019-06-16 01:06] joey711 commented on #1442
Main deficiencies to address:

- (1) Installation. The documented installation code is insufficient. The phyloseq package is released through bioconductor, and is not installed automatically as a dependency through the indicated `devtools::install_github("phylosmith")` command. More importantly, there are other deeply-implied dependencies related to the Rcpp compilation. I was able to resolve this

[2019-06-16 01:16] joey711 commented on #1442
Otherwise looks good. @karthik I'm not sure what to do next? I think author will find it is in their own best interest to address these two minor issues. Afterward, it seems to meet all the criteria and I'm happy to get out of the way.

[2019-06-16 02:30] 1313e commented on #1229
@arfon I was actually just looking at the paper, and noticed that the citations are not displayed properly. The first in every sequence is, but the other ones are not.
As far as I know, this was not the case with the automatically compiled versions.
Did I write the citations wrong?

[2019-06-16 08:38] kgjerde commented on #1329
@whedon generate pdf

[2019-06-16 08:38] whedon commented on #1329
[code]

[2019-06-16 08:38] whedon commented on #1329
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01329/joss.01329/10.21105.joss.01329.pdf)

[2019-06-16 08:40] kgjerde commented on #1329
@whedon generate pdf

[2019-06-16 08:40] whedon commented on #1329
[code]

[2019-06-16 08:41] whedon commented on #1329
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01329/joss.01329/10.21105.joss.01329.pdf)

[2019-06-16 11:33] melund commented on #1466
@labarba. I am also done with my review. Specific feedback has been handled on the [issue tracker:](https://github.com/anderson-cu-bioastronautics/dynamo_realsense-capture/issues)

Since I haven't got access to the cameras I couldn't review all part of the functionality. But what I could check and review does comply with the requirements of JOSS.

I agree with @ixjlyons about the lack of API docum

[2019-06-16 12:20] arfon commented on #1342
@whedon accept

[2019-06-16 12:20] whedon commented on #1342
[code]

[2019-06-16 12:20] whedon commented on #1342
[code]

[2019-06-16 12:30] whedon opened #1507 "[PRE REVIEW]: TEAM: Tensegrity Engineering Analysis Master"
**Submitting author:** @ramaniitrgoyal92 (<a href="http://orcid.org/0000-0002-8128-3051">Raman Goyal</a>)
**Repository:** <a href="https://github.com/ramaniitrgoyal92/Tensegrity_Engineering_Analysis_Master-TEAM-" target ="_blank">https://github.com/ramaniitrgoyal92/Tensegrity_Engineering_Analysis_Master-TEAM-</a>
**Version:** v2.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @apsabelhaus, @v

[2019-06-16 12:30] whedon commented on #1507
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-16 12:30] whedon commented on #1507
[code]

[2019-06-16 12:30] whedon commented on #1507
PDF failed to compile for issue #1507 with the following error:

 Can't find any papers to compile :-(

[2019-06-16 12:31] arfon commented on #1507
Hi @ramaniitrgoyal92, thanks for your submission to JOSS. Please rename your paper to `paper.md`

[2019-06-16 12:33] arfon commented on #1229
@1313e - could you be more specific about what you're seeing that you believe is incorrect? i.e. give me an example of expected vs actual?

[2019-06-16 12:52] 1313e commented on #1229
@arfon Well, the second sentence of the third paragraph shows up as "PRISM uses the Bayes linear approach (Goldstein & Wooff, 2007), emulation technique (Craig, Goldstein, Seheult, & Smith, 1996, p. @Craig97) and history matching (Raftery, Givens, & Zeh, 1995, pp. @Craig96, @Craig97)...".
I have the feeling that a few citations here were not actually formatted.

[2019-06-16 15:33] ramaniitrgoyal92 commented on #1507
The suggested reviewers:

@apsabelhaus
@moorepants
@ctdegroot
@vaishnavtv
@datseris

[2019-06-16 16:08] alexhanna commented on #1481
Thanks.

@soodoku
@Tgerke
@benmarwick
@lebebr01
@mariacuellar
@vincentarelbundock
@mkearney

We need two reviewers for this submission. Would any of you be willing to review?

[2019-06-16 16:27] alexhanna commented on #1462
Thanks for the review, @tweed1e, and for addressing the issues @medewitt.

[2019-06-16 16:27] alexhanna commented on #1462
@whedon generate pdf

[2019-06-16 16:27] whedon commented on #1462
[code]

[2019-06-16 16:27] whedon commented on #1462
PDF failed to compile for issue #1462 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1462 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedo

[2019-06-16 16:32] alexhanna commented on #1462
@medewitt we need the documentation to be located in a `paper.md` file for submission. We need a doc in the format described on the [submission guidelines site](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain).

[2019-06-16 16:38] medewitt commented on #1462
Hi @alexhanna thank you for your work in this and thank you @tweed1e for the review.

 I think everything is in compliance to the guidelines at https://github.com/medewitt/tidyqwi/tree/master/inst

[2019-06-16 16:39] medewitt commented on #1462
Do you think it is the double quotes in the title vs single quotes that is causing the error, @alexhanna?

[2019-06-16 16:40] alexhanna commented on #1453
@labarba Emailed @jameshclrk.

[2019-06-16 16:45] alexhanna commented on #1462
I don't think so, although you could try to change that and recheck the PDF. @arfon, is there a particular location in the repository that the `paper.md` must be located?

[2019-06-16 16:49] alexhanna commented on #1409
Great.  @Yury-Shevchenko, the last thing we need for this submission to make an software in Zenodo/figshare/other service and update this thread with the DOI of the archive. For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the authors of the archive are the same as the JOSS paper authors

[2019-06-16 17:14] apsabelhaus commented on #1507
For the editor, once they're assigned:
If chosen as a reviewer, I'd be happy to review this work.

However, I'd like to quickly check about JOSS' Conflict of Interest policy (https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), since I'm still new to open review (not blind). The submitting author @ramaniitrgoyal92 and I are professional acquaintances who have discussed research before

[2019-06-16 17:18] Datseris commented on #1507
Hello. Thank you for invitation but I do not have the expertise to review this:

* I do not know anything about MATLAB (I actually have never _seen_ MATLAB code)
* I do not have the scientific expertise on the area the submitted `TEAM` software is tackling, which seems to be around control systems.

I will have to pass on this, sorry.

[2019-06-16 18:16] likask commented on #1441
@jedbrown  are you aware of any major problem enabling to reviewers kick start or complete review? Can I be any help?

[2019-06-16 18:29] jedbrown commented on #1441
@likask I'm not aware of any issues. Two reviewers have started ticking boxes in the review. I'll start reminding in a couple weeks if there is no further visible progress.

[2019-06-16 18:57] usethedata commented on #1359
@jdrugo Thanks.  It's not problem to update the version.  I've not done a lot of papers as editor, but it's happened with most of the ones I've handled.  On the DOI, that's fine.  Whedon's suggestions are not always correct.  I'll check out the updated code and go through my review.  We had some challenges finding reviewers, so I'm doing a review as well as being the editor on this one.

[2019-06-16 19:01] usethedata commented on #1448
@Nyctanthous This paper looks ready to go.  Can you please generate an archive version?  Post the archive DOI back in here and let me know the version of the software you archived.  I'll double check things and update the archive and version here.  Thanks.

[2019-06-16 19:01] usethedata commented on #1448
@whedon generate pdf

[2019-06-16 19:01] whedon commented on #1448
[code]

[2019-06-16 19:01] usethedata commented on #1448
@whedon check references

[2019-06-16 19:01] whedon commented on #1448
[code]

[2019-06-16 19:02] whedon commented on #1448
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01448/joss.01448/10.21105.joss.01448.pdf)

[2019-06-16 19:02] whedon commented on #1448
[code]

[2019-06-16 19:08] usethedata commented on #1448
I confirm that the DOI which whedon suggests above is not relevant to this paper.  It is a reference to a physical device, used to raise and lower laboratory equipment, and has nothing to do with the labjack software.

[2019-06-16 19:10] usethedata commented on #1437
@whedon generate pdf

[2019-06-16 19:10] whedon commented on #1437
[code]

[2019-06-16 19:10] whedon commented on #1437
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01437/joss.01437/10.21105.joss.01437.pdf)

[2019-06-16 19:17] soodoku commented on #1481
Sure.

[2019-06-16 19:19] vincentarelbundock commented on #1481
I'm also happy to take a look, but I'll be travelling for work, so unlikely to get to this before about 3 weeks.

[2019-06-16 19:34] usethedata commented on #1437
@fiveop Sorry for the delays on my part.  I've got a couple of requests out for reviewers, but this is in an area where I'm not seeing a lot of reviewers with directly relevant expertise.  If you have suggestions, that could be useful.  You can send me suggestions here or via email wilsonbe [at] ornl [dot] gov.

[2019-06-16 19:36] usethedata commented on #1479
Working on finding reviewers.  Sorry for my delay.

[2019-06-16 20:01] usethedata commented on #1359
@whedon compile pdf

[2019-06-16 20:01] usethedata commented on #1359
@whedon check references

[2019-06-16 20:01] whedon commented on #1359
[code]

[2019-06-16 20:02] whedon commented on #1359
[code]

[2019-06-16 20:02] usethedata commented on #1359
@whedon generate pdf

[2019-06-16 20:02] whedon commented on #1359
[code]

[2019-06-16 20:02] whedon commented on #1359
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01359/joss.01359/10.21105.joss.01359.pdf)

[2019-06-16 20:08] usethedata commented on #1359
I confirm that the suggested DOI (https://doi.org/10.1080/09332480.2014.914768) for "Machine Learning: A Probabilistic Perspective" is incorrect.  I do suggest using the arXiv persistent identifier URL, however (https://arxiv.org/abs/1310.5438).

[2019-06-16 20:13] usethedata commented on #1359
@ManuelaS Can you check things from your perspective given the updates done by the author?  Thanks much.

[2019-06-16 20:38] jshermeyer commented on #1047
Thanks @rmsare for the thorough review.  Good recommendations that I'm going to gradually start addressing.  I don't have as much time for this repo as I used to as this project was more of a focus about a year ago.  Will see how it goes, may take some time.

-Jake

[2019-06-16 20:44] arfon commented on #1462
I don't think Whedon can find the paper as the repository address won't clone (`https://github.com/medewitt/tidyqwi/tree/master/inst`). I've changed the URL at the top of the thread to be `https://github.com/medewitt/tidyqwi`

[2019-06-16 20:44] arfon commented on #1462
@whedon generate pdf

[2019-06-16 20:44] whedon commented on #1462
[code]

[2019-06-16 20:45] whedon commented on #1462
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01462/joss.01462/10.21105.joss.01462.pdf)

[2019-06-16 20:55] arfon commented on #1229
Ah, right. Sorry about that. The correct syntax for multiple citations is to separate them with semi-colons (e.g. `[@Raftery95; @Craig96; @Craig97]`). I've fixed up the paper locally in https://github.com/openjournals/joss-papers/blob/a66fbee618680adc4825d723edcbb40165e1dda0/joss.01229/10.21105.joss.01229.pdf and it should be correct now on the live site (note it can take a few hours for the updat

[2019-06-16 20:57] Nyctanthous commented on #1448
I created the release [0.4.1](https://github.com/university-of-southern-maine-physics/labjack-controller/tree/0.4.1) to make Zenodo happy. DOI is 10.5281/zenodo.3247140

[2019-06-16 20:59] arfon commented on #1182
I've just sent @mconlon17 another reminder over email.

[2019-06-16 21:08] arfon commented on #1119
:wave: @arturgs - could you give us an update on the status of your review?

[2019-06-16 21:15] mkearney commented on #1481
I'd be willing to review as well.

[2019-06-16 21:16] arturgs commented on #1119
@arfon - completed

[2019-06-16 21:21] alexpghayes commented on #1412
## Response to revisions

Response based on comments by @strengejacke above and the Github master branch on 2019-06-16.

I'm impressed by the changes you've made, especially to the documentation. After reading more carefully, I agree with your comments that the broad interface is warranted.

Something clicked for me when I realized that the importance of differentiating between names and values. S

[2019-06-16 23:20] 1313e commented on #1229
@arfon Thanks for that, but I think you will have to manually set my last name in the footer again...

[2019-06-16 23:50] jjmcnelis commented on #1047
@jshermeyer I enjoyed working through your example - never had a use for the VIIRS night lights product. Please give me a few days to edit this comment with the relevant issues.

**Key recommendations:**
1. Provide a more explicit acknowledgement of whether CometTS is
a. a flexible workflow for processing raster time series, or
b. a tool for users to leverage in their own workflows.
2. Focus on fe

[2019-06-16 23:53] whedon commented on #1342
PDF failed to compile for issue #1342 with the following error:

 Error producing PDF.
! Unable to load picture or PDF file 'man/figures/paper_illustration.png'.
<to be read again>
                   }
l.380 ...phics{man/figures/paper_illustration.png}

Looks like we failed to compile the PDF

[2019-06-17 03:35] brainstorm commented on #1119
@arturgs There's a few unchecked checkboxes above, but I'll take your word for it, thanks a lot for your review!

@richardcollins Could you please generate a Zenodo DOI so that we can archive and finally publish? Thanks for your patience, this has been a tough case to close! :)

[2019-06-17 04:45] tomchor commented on #1506
@kthyng I'm not 100% sure if this is the appropriate behavior, but I'm pasting my review below. Most of the comments are general so I figured it wouldn't be appropriate to create an issue in the target repo for them. Please let me know if there's anything else I should do.

Best
Tomas.

Overall impressions
-------------------

This is a nice package and is likely to be helpful to scientists who do

[2019-06-17 05:03] amoeba commented on #1501
I'm almost done and had one review checklist item I couldn't check off: https://github.com/vixen-project/vixen/issues/23. This review is a Conditional Accept for now.

@prabhuramachandran, can you please take a look at https://github.com/vixen-project/vixen/issues/23 and let me know what you think? Overall, ViXeN looks and works great. You've clearly put a lot of time and effort into building it a

[2019-06-17 05:53] whedon commented on #1390
:wave: @pierrepo, please update us on how things are progressing here.

[2019-06-17 07:15] haarburger commented on #1488
@labarba, @arfon we've finally tagged our repository and uploaded v0.4.0 to Zenodo at `10.5281/zenodo.3247307`

[2019-06-17 07:21] whedon commented on #1359
:wave: @jdrugo, please update us on how things are progressing here.

[2019-06-17 07:27] Yury-Shevchenko commented on #1409
Thanks a lot @alexhanna! I have made an archive in Zenodo (https://zenodo.org/record/3247311#.XQdAPW8zaL9)- the DOI is 10.5281/zenodo.3247311

[2019-06-17 07:48] Kevin-Mattheus-Moerman commented on #1441
@jedbrown I'll provide my review by the end of this week. Apologies for the delay so far.

[2019-06-17 08:52] mllg commented on #1493
I've also finished my first pass. Issues are referenced here, #14 and #15 are mandatory.

[2019-06-17 09:07] xuanxu commented on #1426
@whedon generate pdf

[2019-06-17 09:07] whedon commented on #1426
[code]

[2019-06-17 09:08] whedon commented on #1426
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01426/joss.01426/10.21105.joss.01426.pdf)

[2019-06-17 09:10] xuanxu commented on #1426
@whedon check references

[2019-06-17 09:10] whedon commented on #1426
[code]

[2019-06-17 09:10] whedon commented on #1426
[code]

[2019-06-17 09:23] xuanxu commented on #1426
Everything looks good. @mommermi After the revision changes version 0.1 is 27 commits behind master. Could you please release a new version from the current master?

Once you do that please create a Zenodo archive of that new version and report its DOI here (edit the Zenodo deposit metadata (title and author list) to match [the paper](https://github.com/openjournals/joss-papers/blob/joss.01426/jos

[2019-06-17 09:31] richardcollins commented on #1119
Thankyou @arturgs for reviewing this.
@brainstorm I've created an upload in [zenodo](https://zenodo.org/record/3247364) with a DOI of 10.5281/zenodo.3247364
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3247364.svg)](https://doi.org/10.5281/zenodo.3247364)

[2019-06-17 09:33] dvberkel commented on #1351
I am done with my review. I am giving my green light to move forward with the process! :+1:

[2019-06-17 09:50] IbrahimTanyalcin commented on #1407
wave @csoneson @hrhotz @imallona @jkanche

Here are some updates:

- The npm and github references are intentional yes, I thought I'd give credit to them for all the hosting etc.
- The Ecma International should be in full now.
- A new version 0.19.0 is released, the async operators are almost identical to how Promises work.
- Exercise order changed with suggestions of @jkanche:
   - https://github

[2019-06-17 09:58] ManuelaS commented on #1359
@usethedata & @jdrugo , I will take a look at the updates later this week

[2019-06-17 10:01] arturgs commented on #1119
Hi all, this was my first review.
Just a comment: once finished, how to announce that the review is done?

[2019-06-17 10:11] brainstorm commented on #1119
@arturgs No worries, you did well. The only detail was making sure you went through all the checkboxes above and then just chiming in the comment that you have gone through those ;)

[2019-06-17 10:12] brainstorm commented on #1119
@whedon check references

[2019-06-17 10:12] whedon commented on #1119
[code]

[2019-06-17 10:12] whedon commented on #1119
[code]

[2019-06-17 10:16] brainstorm commented on #1119
@whedon generate pdf

[2019-06-17 10:16] whedon commented on #1119
[code]

[2019-06-17 10:16] whedon commented on #1119
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01119/joss.01119/10.21105.joss.01119.pdf)

[2019-06-17 10:21] richardcollins commented on #1119
looks good to me, thanks

[2019-06-17 10:30] brainstorm commented on #1119
@whedon set 10.5281/zenodo.3247364 as archive

[2019-06-17 10:30] whedon commented on #1119
OK. <a href="https://doi.org/10.5281/zenodo.3247364" target="_blank">10.5281/zenodo.3247364</a> is the archive.

[2019-06-17 10:30] brainstorm commented on #1119
@arfon Looks good to me, ready to ship, thanks everyone!

[2019-06-17 10:57] trallard commented on #1317
Hi @becarioprecario  the checklist for the review is at the top of this issue 👆🏼

For reference the guidelines for reviewers are located here: [https://joss.theoj.org/about#reviewer_guidelines](https://joss.theoj.org/about#reviewer_guidelines)

[2019-06-17 11:00] arfon commented on #1229
The paper is now fixed.

Can you check that this looks OK? https://www.doi2bib.org/bib/10.21105/joss.01229

[2019-06-17 11:01] trallard commented on #1403
👋🏼@rougier @krother @nirum @kellieotto would any of you be interested and willing to review this submission?

[2019-06-17 11:02] arfon commented on #1488
@whedon set 10.5281/zenodo.3247307 as archive

[2019-06-17 11:02] whedon commented on #1488
OK. <a href="https://doi.org/10.5281/zenodo.3247307" target="_blank">10.5281/zenodo.3247307</a> is the archive.

[2019-06-17 11:02] arfon commented on #1488
@whedon accept

[2019-06-17 11:02] whedon commented on #1488
[code]

[2019-06-17 11:02] whedon commented on #1488
[code]

[2019-06-17 11:02] trallard commented on #1475
Gentle ping @siravan @melund @mikaem  @stenst and @fernandoandreotti would any of you be interested in reviewing this submission?

[2019-06-17 11:02] whedon commented on #1488
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/764

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/764, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-17 11:03] 1313e commented on #1229
That link does not resolve.

[2019-06-17 11:04] arfon commented on #1488
@whedon accept deposit=true

[2019-06-17 11:04] whedon commented on #1488
[code]

[2019-06-17 11:05] whedon commented on #1488
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1140576092580909056) 👈 🐦🐦🐦

[2019-06-17 11:05] whedon commented on #1488
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/765
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01488](https://doi.org/10.21105/joss.01488)
2. If everything looks go

[2019-06-17 11:06] arfon commented on #1229
Weird works fine for me. Can you try going to https://www.doi2bib.org/ and putting in `10.21105/joss.01229`.

If that doesn't work, the output from the service (i.e. the bibtex entry from the Crossref metadata) is:

[code]

☝️does that look OK?

[2019-06-17 11:07] arfon commented on #1119
@whedon accept

[2019-06-17 11:07] whedon commented on #1119
[code]

[2019-06-17 11:07] whedon commented on #1119
[code]

[2019-06-17 11:07] whedon commented on #1119
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/766

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/766, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-17 11:08] arfon commented on #1488
@PingjunChen, @acolum - many thanks for your reviews and to @mbobra for editing this submission ✨

@haarburger - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-17 11:08] #1488 closed

[2019-06-17 11:08] whedon commented on #1488
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01488/status.svg)](https://doi.org/10.21105/joss.01488)

**We need your help!**

Journal of Open Source Softwar

[2019-06-17 11:14] arfon commented on #1119
@richardcollins - there looks to be an empty section in your paper without any content:

[code]

If this is the actual heading, then the headings following it need to use smaller headings (e.g.  `## Components` vs `# Components`, `### Statistics` vs `## Statistics`).

Also, this section is superfluous as we link to the software from the paper metadata in the left-hand margin:

[code]

[2019-06-17 11:20] 1313e commented on #1229
Uhm, my last name should be in braces, as otherwise it will not be formatted correctly.
Besides that, it looks good.

It does seem though that for my paper, my name is at least written correctly.
The JOSS paper for the Hickle package (21105/joss.01115) does not render it properly on that website, giving it as "Ellert Van Velden" again.

[2019-06-17 11:20] katrinekirkeby commented on #1480
@kellieotto I have now fixed the grammar edits

[2019-06-17 11:27] arfon commented on #1229
OK, thanks. I don't have any control over where https://www.doi2bib.org puts the braces but the [metadata looks correct](https://github.com/openjournals/joss-papers/blob/master/joss.01229/10.21105.joss.01229.crossref.xml#L38-L42).

OK, that's fixed for `10.21105/joss.01115` in https://github.com/openjournals/joss-papers/blob/master/joss.01115/10.21105.joss.01115.crossref.xml#L43-L47 but it will ta

[2019-06-17 11:28] arfon commented on #1507
@whedon generate pdf

[2019-06-17 11:28] whedon commented on #1507
[code]

[2019-06-17 11:28] whedon commented on #1507
PDF failed to compile for issue #1507 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:123:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f5

[2019-06-17 11:33] 1313e commented on #1229
Alright, thanks.
I know from experience that having no braces can sometimes mess it up when using `natbib` for example, but I guess that if the metadata is correct, such a thing would not be hard to notice.

[2019-06-17 11:34] stensy commented on #1475
Hi sorry for the delayed reply. Just starting our academic year so
unfortunately not enough bandwidth at present. Thanks for the invitation.
KDS

On Mon, Jun 17, 2019 at 7:02 AM Tania Allard <notifications@github.com>
wrote:

--
Sent via mobile, please excuse brevity and/or typos.

[2019-06-17 11:50] tgeijten commented on #1421
Great news! Thank you for your efforts, @modenaxe, @Kevin-Mattheus-Moerman and @demotu!

[2019-06-17 11:56] richardcollins commented on #1119
@arfon Sorry about that - not sure how I missed that.
I've updated the paper.md to remove those sections. Do I need to update the zenodo version with this new version?

[2019-06-17 12:03] arfon commented on #1119
@whedon generate pdf

[2019-06-17 12:03] whedon commented on #1119
[code]

[2019-06-17 12:03] whedon commented on #1119
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01119/joss.01119/10.21105.joss.01119.pdf)

[2019-06-17 12:08] arfon commented on #1119
@richardcollins thanks, I we don't need a Zenodo update for paper changes. A couple of other suggested changes:

- Unless you really want to have it there, I'd suggest removing your title from your author name.
- Could you please say a little bit more in the introduction about `QKD`, i.e. _what_ it is (perhaps define the term?) and what it is commonly used for? JOSS papers are designed for a non-s

[2019-06-17 12:10] arfon commented on #947
@whedon generate pdf

[2019-06-17 12:10] whedon commented on #947
[code]

[2019-06-17 12:11] whedon commented on #947
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00947/joss.00947/10.21105.joss.00947.pdf)

[2019-06-17 12:49] Kevin-Mattheus-Moerman commented on #1507
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-06-17 12:49] whedon commented on #1507
OK, the editor is @Kevin-Mattheus-Moerman

[2019-06-17 12:51] Kevin-Mattheus-Moerman commented on #1507
@apsabelhaus thanks for raising the conflict of interest issue. I'll add you as a reviewer but will also recruit others. Thanks

[2019-06-17 12:51] Kevin-Mattheus-Moerman commented on #1507
@whedon assign @apsabelhaus as reviewer

[2019-06-17 12:51] whedon commented on #1507
OK, the reviewer is @apsabelhaus

[2019-06-17 12:54] Kevin-Mattheus-Moerman commented on #1507
@vaishnavtv @ctdegroot since you were involved with https://github.com/openjournals/joss-reviews/issues/1042, would you be interested in helping with this review?

[2019-06-17 12:55] Kevin-Mattheus-Moerman commented on #1507
@ramaniitrgoyal92 Please rename your paper to `paper.md`, this way `@whedon` will find it okay to render the PDF. Thanks

[2019-06-17 12:58] dhhagan commented on #1415
@jasonclark Sorry about the delay - yup, can do it sometime this week.

[2019-06-17 13:05] Kevin-Mattheus-Moerman commented on #1047
@jshermeyer apologies this review has taken so long. We initially had great difficulty finding suitable (and suitably active) reviewers.

Since you've indicated that addressing the points raised may take a while, I've paused this review for now. We can resume it again at any point, when you are ready.

Would you be able to give me your best (and most realistic) estimate as to when you think you'll

[2019-06-17 13:08] Kevin-Mattheus-Moerman commented on #1047
@zhampel, @rmsare, @jjmcnelis I've paused this review for now since @jshermeyer has indicated that addressing the issue raised may take a significant amount of time.
@jjmcnelis thanks also for your review comments. You mentioned you might be able to open specific issues related to your comments. Please do, so @jshermeyer can work on these too.

Once @jshermeyer indicates they are ready to resume t

[2019-06-17 13:32] richardcollins commented on #1119
How about adding this before "The system demonstrates..."?
Quantum key distribution (QKD) uses properties of quantum states such as the [no-cloning theorem](https://www.quantiki.org/wiki/no-cloning-theorem) to share randomness between different locations, without the need to physically transport the key material. This randomness is known to be secure because the probability of an eavesdropper can

[2019-06-17 13:39] melund commented on #1475
Sorry for missing this @trallard. I can take the review :)

[2019-06-17 14:12] danielskatz commented on #1487
@whedon remind @tesch1 in 2 weeks

[2019-06-17 14:12] whedon commented on #1487
Reminder set for @tesch1 in 2 weeks

[2019-06-17 14:16] arfon commented on #1119
👍 yes that looks like a good addition. Thanks @richardcollins

[2019-06-17 14:20] kellieotto commented on #1480
Looks good! @jasonclark I recommend this package for acceptance.

[2019-06-17 14:35] ctdegroot commented on #1507
@Kevin-Mattheus-Moerman Yes, I can help with this review.

[2019-06-17 14:51] Kevin-Mattheus-Moerman commented on #1507
@whedeon add @ctdegroot as reviewer

[2019-06-17 14:52] Kevin-Mattheus-Moerman commented on #1507
@vaishnavtv @ctdegroot we have to iron out some things with the paper and I hope to recruit an additional reviewer. I'll ping you again when we are ready to start the review process.

[2019-06-17 15:10] vaishnavtv commented on #1507
@Kevin-Mattheus-Moerman, I would love to help with the review, but under full disclosure, I'd like to state that the submitting author and I are personally acquainted and are pursuing a graduate degree from the same institution. We have not officially collaborated on any research, but our advisors have worked together in the past. If this violates any reviewer policies based on a conflict of inter

[2019-06-17 15:11] arfon commented on #947
@peterjwatkins - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the

[2019-06-17 15:12] strengejacke commented on #1412
@alexpghayes Thanks for your review! Since some of your remaining suggestions mean quite some substantial rework or breaking changes, I would like to clarify some points and suggest how we would address your issues, before we actually start working on it. Could you please give a short feedback if our planned steps are ok for you?

1. Rename find_weights() -> weights_name() and get_weights() -> wei

[2019-06-17 15:40] Kevin-Mattheus-Moerman commented on #1507
Thanks @vaishnavtv (sorry I accidentally tagged you in the comment above I just edited) for reporting that potential conflict of interest. If you'd like to help your help is still appreciated. I will however recruit an additional reviewer.

[2019-06-17 15:45] richardcollins commented on #1119
@whedon generate pdf

[2019-06-17 15:45] whedon commented on #1119
[code]

[2019-06-17 15:45] whedon commented on #1119
[code]

[2019-06-17 15:46] whedon commented on #1119
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01119/joss.01119/10.21105.joss.01119.pdf)

[2019-06-17 15:46] whedon commented on #1119
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01119/joss.01119/10.21105.joss.01119.pdf)

[2019-06-17 15:53] alexhanna commented on #1481
I'll assign @soodoku and @mkearney based on availability, then. Thanks all.

[2019-06-17 15:53] alexhanna commented on #1481
@whedon assign @soodoku as reviewer

[2019-06-17 15:54] whedon commented on #1481
OK, the reviewer is @soodoku

[2019-06-17 15:54] alexhanna commented on #1481
@whedon add @mkearney as reviewer

[2019-06-17 15:54] whedon commented on #1481
OK, @mkearney is now a reviewer

[2019-06-17 15:54] alexhanna commented on #1481
@whedon start review

[2019-06-17 15:54] whedon opened #1508 "[REVIEW]: `hopit`: An R Package for Analysis of Reporting Behavior Using Generalized Ordered Probit Models"
**Submitting author:** @MaciejDanko (<a href="http://orcid.org/0000-0002-7924-9022">Maciej J. Dańko</a>)
**Repository:** <a href="https://github.com/MaciejDanko/hopit" target ="_blank">https://github.com/MaciejDanko/hopit</a>
**Version:** v0.10.1.9000
**Editor:** @alexhanna
**Reviewer:** @soodoku, @mkearney
**Archive:** <a href="https://doi.org/10.5281/zenodo.3530634" target="_blank">10.5281/zenod

[2019-06-17 15:54] whedon commented on #1481
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1508. Feel free to close this issue now!

[2019-06-17 15:54] whedon commented on #1508
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @soodoku, @mkearney it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-06-17 15:54] whedon commented on #1508
[code]

[2019-06-17 15:54] whedon commented on #1508
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01508/joss.01508/10.21105.joss.01508.pdf)

[2019-06-17 15:56] alexhanna commented on #1409
@whedon set 10.5281/zenodo.3247311 as archive

[2019-06-17 15:56] whedon commented on #1409
OK. <a href="https://doi.org/10.5281/zenodo.3247311" target="_blank">10.5281/zenodo.3247311</a> is the archive.

[2019-06-17 15:57] alexhanna commented on #1409
@whedon accept

[2019-06-17 15:57] whedon commented on #1409
[code]

[2019-06-17 15:57] whedon commented on #1409
[code]

[2019-06-17 15:57] whedon commented on #1409
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/767

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/767, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-17 15:58] alexhanna commented on #1409
@Yury-Shevchenko looks like one of the references is missing a DOI. Can you check on this?

[2019-06-17 15:59] alexhanna commented on #1462
@whedon check references

[2019-06-17 15:59] whedon commented on #1462
[code]

[2019-06-17 16:00] whedon commented on #1462
[code]

[2019-06-17 16:01] alexhanna commented on #1462
@medewitt looks like a few references are missing DOIs. Could you check on those?

[2019-06-17 16:11] Kevin-Mattheus-Moerman commented on #1507
@whedon generate pdf

[2019-06-17 16:11] whedon commented on #1507
[code]

[2019-06-17 16:11] whedon commented on #1507
PDF failed to compile for issue #1507 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:123:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f5

[2019-06-17 16:12] lheagy commented on #1328
:wave: Hi @danehkar and @srmnitc would you be willing to review this submission for JOSS? The review is already in progress thanks to the help of @dvalters, but we are in need of reviewers to help on the next revision. If you are not able to but have suggestions of other possible reviewers, I would be grateful. Thanks!

[2019-06-17 16:20] srmnitc commented on #1328
Hi @lheagy , I think I can help with the review process.

[2019-06-17 16:23] medewitt commented on #1462
@whedon check references

[2019-06-17 16:23] whedon commented on #1462
[code]

[2019-06-17 16:23] whedon commented on #1462
[code]

[2019-06-17 16:26] medewitt commented on #1462
@whedon generate pdf

[2019-06-17 16:26] whedon commented on #1462
[code]

[2019-06-17 16:26] whedon commented on #1462
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01462/joss.01462/10.21105.joss.01462.pdf)

[2019-06-17 16:27] medewitt commented on #1462
@whedon check references

[2019-06-17 16:27] whedon commented on #1462
[code]

[2019-06-17 16:28] whedon commented on #1462
[code]

[2019-06-17 16:29] medewitt commented on #1462
Done...sorry about that

[2019-06-17 16:30] alexhanna commented on #1462
No worries. This looks ready to go then. The last thing we need is for you to create an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive. For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the authors of the archive are the same as the JOSS paper authors

[2019-06-17 16:41] malmans2 commented on #1506
Thanks @tomchor! We are going to open a new pull request to address your comments. It looks we can address everything by improving the documentation (we do have automated tests that are covering 98% of the code but they are only mentioned in the contributing section. We will probably add test instructions in the installation section to make it more clear).

@platipodium @kthyng, can we just merge

[2019-06-17 16:42] mommermi commented on #1426
Thanks, @xuanxu, it's in the works. I have to wait for our NASA program officer (who is in charge of the github organization under which sbpy resides) to enable third-party access to the repo for zenodo. I'll ping you once we have the doi.

[2019-06-17 17:02] medewitt commented on #1462
Okey dokey. DOI: 10.5281/zenodo.3247760

[2019-06-17 17:21] alexhanna commented on #1462
No worries.

[2019-06-17 17:22] alexhanna commented on #1462
@whedon set 10.5281/zenodo.3247760 as archive

[2019-06-17 17:22] whedon commented on #1462
OK. <a href="https://doi.org/10.5281/zenodo.3247760" target="_blank">10.5281/zenodo.3247760</a> is the archive.

[2019-06-17 17:23] alexhanna commented on #1462
@whedon accept

[2019-06-17 17:23] whedon commented on #1462
[code]

[2019-06-17 17:23] whedon commented on #1462
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/768

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/768, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-17 17:23] whedon commented on #1462
[code]

[2019-06-17 17:25] alexhanna commented on #1462
@openjournals/joss-eics this submission is ready to be accepted.

[2019-06-17 17:43] #1481 closed

[2019-06-17 18:27] danielskatz commented on #1462
@whedon accept

[2019-06-17 18:27] whedon commented on #1462
[code]

[2019-06-17 18:28] whedon commented on #1462
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/769

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/769, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-17 18:28] whedon commented on #1462
[code]

[2019-06-17 18:34] danielskatz commented on #1462
👋 @arfon - note that there's a problem on line 40 of the [xml](https://github.com/openjournals/joss-papers/pull/769/commits/4876bc02ec4ea60d6be941ded63ef85d057df952) - your thoughts on how to proceed?

[2019-06-17 18:41] schuyler-smith commented on #1442
@joey711 Thank you for the review!
I was aware of the installation dependencies, from dealing with travis-ci, but wasn't sure how convoluted I should make the instructions vs let the user install dependencies on a need-to-need basis. I updated the instructions to include all the dependencies I included in the travis file, and the ones you listed for your installation. Hopefully it's clear and comp

[2019-06-17 18:46] schuyler-smith commented on #1442
@karthik I addressed the installation documentation issues, hopefully to a satisfactory level. I will hope to add the unit tests in the near future. If they are needed, please let me know and I will make it a priority.

Is there anything I need to do for the next steps?

[2019-06-17 18:56] arfon commented on #1119
@whedon accept

[2019-06-17 18:56] whedon commented on #1119
[code]

[2019-06-17 18:56] whedon commented on #1119
[code]

[2019-06-17 18:57] whedon commented on #1119
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/770

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/770, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-17 19:02] arfon commented on #1462
@medewitt - could you change your name entry to `name: Michael E DeWitt Jr` (i.e. remove the comma)?

[2019-06-17 19:02] arfon commented on #1462
This will allow Whedon to parse the name field properly.

[2019-06-17 19:04] arfon commented on #1119
@whedon accept deposit=true

[2019-06-17 19:04] whedon commented on #1119
[code]

[2019-06-17 19:04] medewitt commented on #1462
Change my name!!! Just kidding. No problem, done.

[2019-06-17 19:05] whedon commented on #1119
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1140696959797354496) 👈 🐦🐦🐦

[2019-06-17 19:05] whedon commented on #1119
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/771
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01119](https://doi.org/10.21105/joss.01119)
2. If everything looks go

[2019-06-17 19:05] arfon commented on #1462
😆

[2019-06-17 19:06] arfon commented on #1462
@whedon accept

[2019-06-17 19:06] whedon commented on #1462
[code]

[2019-06-17 19:06] whedon commented on #1462
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/772

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/772, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-17 19:06] whedon commented on #1462
[code]

[2019-06-17 19:12] arfon commented on #1462
@whedon accept

[2019-06-17 19:13] whedon commented on #1462
[code]

[2019-06-17 19:13] whedon commented on #1462
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/773

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/773, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-17 19:13] whedon commented on #1462
[code]

[2019-06-17 19:14] arfon commented on #1119
@arturgs - many thanks for your review here and to @brainstorm for editing this submission ✨

@richardcollins - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-17 19:14] #1119 closed

[2019-06-17 19:14] whedon commented on #1119
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01119/status.svg)](https://doi.org/10.21105/joss.01119)

**We need your help!**

Journal of Open Source Softwar

[2019-06-17 19:15] arfon commented on #1462
@danielskatz - this looks better to me ☝️

[2019-06-17 19:31] ramaniitrgoyal92 commented on #1507
@whedon  generate pdf

[2019-06-17 19:39] Yury-Shevchenko commented on #1409
Dear @alexhanna I have not found the doi for this article. There is no doi on CrossRef or in other publications that cite this article. The article has been published in Judgment and Decision Making Journal (http://journal.sjdm.org/). The URL of the article is http://journal.sjdm.org/8801/jdm8801.html. I could not open the reference (https://doi.org/10.1037/e722292011-085) suggested by the search

[2019-06-17 20:11] alexhanna commented on #1409
@openjournals/joss-eics - what should happen in this case?

[2019-06-17 20:17] Matiszak commented on #1444
The 1.0.1 version including the changes that have resulted from this review has been archived at 10.5281/zenodo.3247303
Also it set as official release on https://github.com/MI2DataLab/modelDown and also published to CRAN: https://cran.r-project.org/web/packages/modelDown/index.html

Thank you very much for your work, please let me know if there is anything else to do.

[2019-06-17 20:49] Kevin-Mattheus-Moerman commented on #1507
@whedon generate pdf

[2019-06-17 20:49] whedon commented on #1507
[code]

[2019-06-17 20:49] whedon commented on #1507
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01507/joss.01507/10.21105.joss.01507.pdf)

[2019-06-17 21:14] apsabelhaus commented on #1507
great, happy to be a reviewer. @ramaniitrgoyal92 I'll probably need at least three weeks to get around to this - my dissertation draft is due to my committee ASAP - so you can expect my first round of comments during mid-July. @Kevin-Mattheus-Moerman let me know when the process is ready to start and that checklist is up. :+1:

[2019-06-17 21:19] kyleniemeyer commented on #1409
@alexhanna whedon's DOI checker isn't perfect, so if manual inspection finds that there is no issue, then we can ignore it.

[2019-06-17 21:24] alexhanna commented on #1409
@kyleniemeyer got it. In this case, I think this one is ready for acceptance if everything else looks good on your end.

[2019-06-17 21:38] leouieda commented on #1342
@kgjerde congratulations on the publication! Many thanks to @kbenoit and @trinker for the reviews and @arfon for handling the PDF troubles.

[2019-06-17 22:27] danielskatz commented on #1409
Will process soon. Thanks!

[2019-06-17 22:27] danielskatz commented on #1409
@whedon accept

[2019-06-17 22:27] whedon commented on #1409
[code]

[2019-06-17 22:28] whedon commented on #1409
[code]

[2019-06-17 22:28] whedon commented on #1409
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/774

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/774, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-17 22:29] danielskatz commented on #1462
@whedon accept deposit=true

[2019-06-17 22:29] whedon commented on #1462
[code]

[2019-06-17 22:30] whedon commented on #1462
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1140748455666733066) 👈 🐦🐦🐦

[2019-06-17 22:30] whedon commented on #1462
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/775
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01462](https://doi.org/10.21105/joss.01462)
2. If everything looks go

[2019-06-17 22:31] danielskatz commented on #1462
Thanks @tweed1e for reviewing and @alexhanna for editing

[2019-06-17 22:32] #1462 closed

[2019-06-17 22:32] whedon commented on #1462
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01462/status.svg)](https://doi.org/10.21105/joss.01462)

**We need your help!**

Journal of Open Source Softwar

[2019-06-18 01:16] danielskatz commented on #1409
👋  @u01ai11 - I note that you did not check off one of the items in the review checklist.  Can you please check that off?

[2019-06-18 01:21] danielskatz commented on #1409
👋 @Yury-Shevchenko - I see a few small wording issues in the paper, which I have addressed in https://github.com/Yury-Shevchenko/mad/pull/8

[2019-06-18 01:35] usethedata commented on #1448
@whedon set 0.4.1 as version

[2019-06-18 01:35] whedon commented on #1448
OK. 0.4.1 is the version.

[2019-06-18 01:36] usethedata commented on #1448
@whedon set 10.5281/zenodo.3247140 as archive

[2019-06-18 01:36] whedon commented on #1448
OK. <a href="https://doi.org/10.5281/zenodo.3247140" target="_blank">10.5281/zenodo.3247140</a> is the archive.

[2019-06-18 01:37] usethedata commented on #1448
@whedon generate pdf

[2019-06-18 01:37] whedon commented on #1448
[code]

[2019-06-18 01:37] whedon commented on #1448
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01448/joss.01448/10.21105.joss.01448.pdf)

[2019-06-18 01:39] usethedata commented on #1448
@openjournals/jose-eics I believe this article is ready.

[2019-06-18 02:01] danielskatz commented on #1448
@whedon accept

[2019-06-18 02:01] whedon commented on #1448
[code]

[2019-06-18 02:02] whedon commented on #1448
[code]

[2019-06-18 02:02] whedon commented on #1448
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/776

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/776, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-18 04:19] peterjwatkins commented on #947
@arfon - I've released the software and it has been archived on Zenodo,  and the DOI is 10.5281/zenodo.3427971

[2019-06-18 06:14] csoneson commented on #1435
ping @vjcitn, @rcorty

[2019-06-18 07:25] platipodium commented on #1506
I am happy with merging the PR, us rebuilding docs is part of the job description I guess.

[2019-06-18 07:55] richardcollins commented on #1119
Thankyou so much @arfon

[2019-06-18 08:48] Yury-Shevchenko commented on #1409
Dear @danielskatz Thanks a lot for that! I have merged the changes.

[2019-06-18 08:48] sebastkm commented on #1292
Done!
The DOI is: 10.5281/zenodo.3247690
The version tag is 2018.1.1

[2019-06-18 08:50] Kevin-Mattheus-Moerman commented on #1292
@whedon set 10.5281/zenodo.3247690 as archive

[2019-06-18 08:50] whedon commented on #1292
OK. <a href="https://doi.org/10.5281/zenodo.3247690" target="_blank">10.5281/zenodo.3247690</a> is the archive.

[2019-06-18 08:50] Kevin-Mattheus-Moerman commented on #1292
@whedon set version as 2018.1.1

[2019-06-18 08:52] Kevin-Mattheus-Moerman commented on #1292
@whedon set 2018.1.1 as version

[2019-06-18 08:53] whedon commented on #1292
OK. 2018.1.1 is the version.

[2019-06-18 08:53] Kevin-Mattheus-Moerman commented on #1292
@whedon generate pdf

[2019-06-18 08:53] whedon commented on #1292
[code]

[2019-06-18 08:53] whedon commented on #1292
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01292/joss.01292/10.21105.joss.01292.pdf)

[2019-06-18 08:59] Kevin-Mattheus-Moerman commented on #1292
@sebastkm some final points:

- [ ] Can you update the ZENODO meta data such that the archive title matches the JOSS paper title?
- [ ] Did you see my minor suggestion to use this (rather than just `www.dolfin-adjoint.org`) in your paper such that the website renders as a hyperlink: `[www.dolfin-adjoint.org](www.dolfin-adjoint.org)`.

[2019-06-18 09:02] sebastkm commented on #1292
The updated joss paper is on a branch (or tag) `2018.1.1`. The one on master-branch is outdated at the moment. I could also update the master branch version, if it is not possible to use the 2018.1.1 version.

I've updated the ZENODO meta data now.

[2019-06-18 09:36] Kevin-Mattheus-Moerman commented on #1292
@sebastkm yes updating the master branch version would be easiest if that is okay. I think that is where `@whedon` builds the paper from.

[2019-06-18 09:38] sebastkm commented on #1292
Done

[2019-06-18 09:50] sebastkm commented on #1292
@whedon generate pdf

[2019-06-18 09:50] whedon commented on #1292
[code]

[2019-06-18 09:50] whedon commented on #1292
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01292/joss.01292/10.21105.joss.01292.pdf)

[2019-06-18 10:44] vjcitn commented on #1435
@csoneson  I have just looked at the paper which seems fine.  @fboehm I think it is somewhat problematic to have the recla.Rmd in the vignettes folder as it involves the user in a download of 250+MB from zenodo and will go slowly if one is running CMD check.  You could place that particular vignette in a dedicated folder in /inst.

Our dialogue on C++ does not need to go on indefinitely but I woul

[2019-06-18 10:52] csoneson commented on #1435
Thanks @vjcitn! Could you please complete your checklist in the first issue comment? We'll wait to hear back from @rcorty, and then I'll take it from there.

[2019-06-18 10:56] Kevin-Mattheus-Moerman commented on #1292
Thanks @sebastkm :rocket:

[2019-06-18 10:56] Kevin-Mattheus-Moerman commented on #1292
@openjournals/joss-eics This submission is ready to be accepted

[2019-06-18 11:05] danielskatz commented on #1292
@whedon accept

[2019-06-18 11:05] whedon commented on #1292
[code]

[2019-06-18 11:06] whedon commented on #1292
[code]

[2019-06-18 11:06] whedon commented on #1292
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/777

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/777, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-18 11:09] arfon commented on #947
Hrm, looks like that DOI isn't resolving yet (http://doi.org/10.5281/zenodo.3427971), can you confirm you've hit the 'publish' button on Zenodo?

[2019-06-18 11:16] danielskatz commented on #1292
👋 @sebastkm - I've suggested some language changes in the paper in https://bitbucket.org/dolfin-adjoint/pyadjoint/pull-requests/89/papermd-edited-online-with-bitbucket/diff

[2019-06-18 11:19] danielskatz commented on #1448
@whedon accept deposit=true

[2019-06-18 11:19] whedon commented on #1448
[code]

[2019-06-18 11:20] whedon commented on #1448
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1140942232679321600) 👈 🐦🐦🐦

[2019-06-18 11:20] whedon commented on #1448
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/778
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01448](https://doi.org/10.21105/joss.01448)
2. If everything looks go

[2019-06-18 11:20] danielskatz commented on #1448
Thanks to @lucask07 and @ixjlyons for reviewing and @usethedata for editing!

[2019-06-18 11:21] danielskatz commented on #1448
👋 @lucask07 - I note one checkbox that you didn't check - can you please do that before I close this review/issue?

(If there's a problem, we can unpublish the paper - sorry I didn't see this until the last minute)

[2019-06-18 11:35] sebastkm commented on #1292
Thanks! I have now merged the changes.

[2019-06-18 11:45] danielskatz commented on #1292
@whedon accept deposit=true

[2019-06-18 11:45] whedon commented on #1292
[code]

[2019-06-18 11:45] danielskatz commented on #1292
Thanks to @Kevin-Mattheus-Moerman for editing and @chrisrichardson and @IgorBaratta for reviewing!

[2019-06-18 11:45] whedon commented on #1292
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1140948715575939072) 👈 🐦🐦🐦

[2019-06-18 11:45] whedon commented on #1292
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/779
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01292](https://doi.org/10.21105/joss.01292)
2. If everything looks go

[2019-06-18 11:48] #1292 closed

[2019-06-18 11:48] whedon commented on #1292
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01292/status.svg)](https://doi.org/10.21105/joss.01292)

**We need your help!**

Journal of Open Source Softwar

[2019-06-18 12:16] lucask07 commented on #1448
Hi @danielskatz
I am not able to check the functionality box because I do not have the hardware (T-series Labjack). I reviewed the code and confirmed the installation procedure. I'd suggest the paper remains published even without that checkbox.

[2019-06-18 12:49] danielskatz commented on #1448
Ok, thanks - given that the other reviewer (@ixjlyons) did check this box, we'll go ahead

[2019-06-18 12:49] #1448 closed

[2019-06-18 12:49] whedon commented on #1448
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01448/status.svg)](https://doi.org/10.21105/joss.01448)

**We need your help!**

Journal of Open Source Softwar

[2019-06-18 13:12] danielskatz commented on #1409
👋 @u01ai11  - now I see your comments on the missing item - we'll go ahead with this given the particular type of software that this is

[2019-06-18 13:12] danielskatz commented on #1409
@whedon accept deposit=true

[2019-06-18 13:12] whedon commented on #1409
[code]

[2019-06-18 13:13] lpantano commented on #1496
👋   @skummerf and @mnarayan, would you be interested in reviewing this tool? thanks!

[2019-06-18 13:13] whedon commented on #1409
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1140970859487797249) 👈 🐦🐦🐦

[2019-06-18 13:13] whedon commented on #1409
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/780
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01409](https://doi.org/10.21105/joss.01409)
2. If everything looks go

[2019-06-18 13:15] #1409 closed

[2019-06-18 13:15] whedon commented on #1409
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01409/status.svg)](https://doi.org/10.21105/joss.01409)

**We need your help!**

Journal of Open Source Softwar

[2019-06-18 13:15] danielskatz commented on #1409
Thanks @alexhanna for editing and @u01ai11 for reviewing

[2019-06-18 13:48] Yury-Shevchenko commented on #1409
Thanks a lot everyone!:)

[2019-06-18 13:53] alexhanna commented on #1409
Thanks everyone!

[2019-06-18 13:59] Nyctanthous commented on #1448
Thank you all so much!

[2019-06-18 14:14] vjcitn commented on #1435
I have looked at the checklist and discovered that the References criterion on DOIs is not fulfilled.  For example, the Bates/Eddelbuettel paper has DOI http://dx.doi.org/10.18637/jss.v052.i05

[2019-06-18 14:16] vjcitn commented on #1435
It is also not clear to me that "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support" has been explicitly addressed.  The existence of Code of Conduct seems relevant, and presence in github implicitly addresses the concern.  A comment from the author on this matter in the manuscri

[2019-06-18 14:17] pshriwise commented on #1486
A few minor edits/suggestions to the paper:

  - "in small scales" &rightarrow; "at reduced scale"
  - "Building simple geometries is **a** relatively..."
  - "inputes" &rightarrow; "inputs"
  - "(fuel, clad, coolant..." &rightarrow; "(fuel, cladding, coolant..."

[2019-06-18 14:29] jshermeyer commented on #1047
Thanks @jjmcnelis for another strong review.  I think this process will make a much stronger toolset when it's all said and done.

I've update the docstrings which I think was the most cumbersome thing to add. Next on my list is documenting the notebooks a bit better.  After that's adjusting the readme and responding to some of the more minor comments as proposed by reviewers.  Seems like it could

[2019-06-18 14:34] lheagy commented on #1328
@whedon add @srmnitc as reviewer

[2019-06-18 14:34] whedon commented on #1328
OK, @srmnitc is now a reviewer

[2019-06-18 14:40] csoneson commented on #1435
@whedon check references

[2019-06-18 14:40] whedon commented on #1435
[code]

[2019-06-18 14:41] whedon commented on #1435
[code]

[2019-06-18 14:45] kyleniemeyer commented on #1005
Hi @slithiaote @adammichaelwood and @tpetricek , since @yochannah is stepping down from the JOSS editorial team, I'm going to take over editing this article moving forward. Thanks @yochannah for shepherding it so far!

[2019-06-18 14:47] kyleniemeyer commented on #1005
@whedon assign @kyleniemeyer as editor

[2019-06-18 14:48] kyleniemeyer commented on #1005
@whedon assign @kyleniemeyer as editor

[2019-06-18 14:49] lheagy commented on #1408
:wave: Hi @choldgraf: a friendly reminder :) Whenever you have a chance, would you mind taking another look? Thanks!

[2019-06-18 14:54] kyleniemeyer commented on #1005
It sounds like @adammichaelwood might be able to complete his review in the near future—thank you! I'll set a reminder.

@tpetricek I will check the functionality claims myself, if you are willing to complete the rest of your review.

[2019-06-18 14:54] benmaier commented on #1425
Hi @leouieda, just commenting that I've added a few features to the package because I needed them for my own research. We're now at v0.1.3. Is this going to be a problem? If it helps, everything @vc1492a reviewed is still functional in the same way he reviewed. I've also added tests and sections in the docs for the new features.

[2019-06-18 15:28] danielskatz commented on #1371
👋 this is just a ping to those involved in this paper (author, reviewers, editor) that nothing has happened in this review thread in about a month.  It looks like @alex-konovalov hasn't started, but says he will do this in June. @drvinceknight has done a large part of his review, but needs to finish.  @jordigh hasn't started their review.

[2019-06-18 15:30] danielskatz commented on #1278
👋 @matbesancon - this review is waiting on you to make changes and then to archive the repo.

[2019-06-18 15:31] danielskatz commented on #1326
@whedon remind @Amudtogal in 2 weeks

[2019-06-18 15:31] whedon commented on #1326
Reminder set for @Amudtogal in 2 weeks

[2019-06-18 15:32] matbesancon commented on #1278
apologies to all for the delays! I'll edit the paper with @poulson's comments

[2019-06-18 15:32] danielskatz commented on #1312
👋 @MKLau - what's happened in this in the last month?

[2019-06-18 15:34] artivis commented on #1371
Hi, thanks for the ping. We've addressed @drvinceknight remarks already. I will update the branch were the paper lives to better reflect those changes.

[2019-06-18 15:35] danielskatz commented on #1194
@whedon remind @hbodory in 2 weeks

[2019-06-18 15:35] whedon commented on #1194
Sorry, I can't set reminders on PRE-REVIEW issues.

[2019-06-18 15:35] gkthiruvathukal commented on #1326
@danielskatz Thanks for setting the reminder.

@Amudtogal Please try to work on this as soon as you can. Even if you can get some initial tests in place, this would be satisfactory and allow us to move to the next steps.

[2019-06-18 15:36] danielskatz commented on #1194
👋 @hbodory - Any update on this?

[2019-06-18 15:39] danielskatz commented on #1306
👋 @connorourke - Any news on the needed changes?

[2019-06-18 15:40] danielskatz commented on #1461
👋 @arose and @jmborr - this is just a ping/reminder, since it's not clear what's happened on these reviews in the last couple of weeks

[2019-06-18 15:41] mgymrek commented on #1495
@whedon assign @nhejazi as reviewer

[2019-06-18 15:41] whedon commented on #1495
OK, the reviewer is @nhejazi

[2019-06-18 15:44] mgymrek commented on #1495
Thanks @nhejazi!
We are still looking for a second reviewer for this submission.
@corybrunson @terrytangyuan @strengejacke would either of you be willing to review this submission?

[2019-06-18 15:55] hneutr commented on #1458
Hey @jg-you! Thank you for the thorough review, and the great suggestions. Responding inline below!

Upping this priority!

done in `0.0.37`!

added!

Made [an issue](https://github.com/dblarremore/webweb/issues/48)!

I think this is an _awesome_ idea, very much inline with the "spirit" of `webweb`. [Issue here](https://github.com/dblarremore/webweb/issues/49).

Made an [issue](https://github.com/

[2019-06-18 16:02] terrytangyuan commented on #1495
Yes

[2019-06-18 16:02] connorourke commented on #1306
Thanks for the reminder @danielskatz. Yes - I'll make the required changes toward the end of this week.

[2019-06-18 16:06] mgymrek commented on #1495
Thanks @terrytangyuan!

[2019-06-18 16:06] mgymrek commented on #1495
@whedon add @terrytangyuan  as reviewer

[2019-06-18 16:06] whedon commented on #1495
OK, @terrytangyuan  is now a reviewer

[2019-06-18 16:07] mgymrek commented on #1495
@whedon start review magic-word=bananas

[2019-06-18 16:07] whedon opened #1509 "[REVIEW]: SmartEDA: An R Package for Automated Exploratory Data Analysis"
**Submitting author:** @sayanddude (<a href="http://orcid.org/0000-0002-6477-0376">Sayan Putatunda</a>)
**Repository:** <a href="https://github.com/daya6489/SmartEDA" target ="_blank">https://github.com/daya6489/SmartEDA</a>
**Version:** 0.3.2
**Editor:** @mgymrek
**Reviewer:** @nhejazi, @terrytangyuan
**Archive:** <a href="https://doi.org/10.5281/zenodo.3383824" target="_blank">10.5281/zenodo.338

[2019-06-18 16:07] whedon commented on #1495
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1509. Feel free to close this issue now!

[2019-06-18 16:07] whedon commented on #1509
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nhejazi, @terrytangyuan  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-06-18 16:07] whedon commented on #1509
[code]

[2019-06-18 16:07] whedon commented on #1509
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01509/joss.01509/10.21105.joss.01509.pdf)

[2019-06-18 16:08] mgymrek commented on #1495
Thanks @terrytangyuan and @nhejazi for agreeing to review. You may now head over to the review issue #1509 to complete the review. Let me know if you have any questions about the process.

[2019-06-18 16:08] #1495 closed

[2019-06-18 16:16] Kevin-Mattheus-Moerman commented on #1047
@jshermeyer thanks for the update. Correct, no more reviewers will be added*.  So yes it looks like you are looking at the full set of changes/comments now. Thanks for working on this now. Looking forward to the next updates.

* I had to recruit new/more reviewers halfway through the review process because one was no longer responsive and one indicated a (minor) conflict of interest.

[2019-06-18 16:18] drvinceknight commented on #1371
I plan on completing my review on Friday.

[2019-06-18 16:22] alexhanna commented on #1444
@whedon set v1.0.1 as version

[2019-06-18 16:22] whedon commented on #1444
OK. v1.0.1 is the version.

[2019-06-18 16:22] alexhanna commented on #1444
@whedon set 10.5281/zenodo.3247303 as archive

[2019-06-18 16:22] whedon commented on #1444
OK. <a href="https://doi.org/10.5281/zenodo.3247303" target="_blank">10.5281/zenodo.3247303</a> is the archive.

[2019-06-18 16:22] alexhanna commented on #1444
@whedon accept

[2019-06-18 16:22] whedon commented on #1444
[code]

[2019-06-18 16:23] whedon commented on #1444
[code]

[2019-06-18 16:23] whedon commented on #1444
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/781

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/781, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-18 16:26] alexhanna commented on #1444
@openjournals/joss-eics this looks ready for acceptance.

[2019-06-18 16:56] matbesancon commented on #1278
@whedon generate pdf

[2019-06-18 16:56] whedon commented on #1278
[code]

[2019-06-18 16:57] whedon commented on #1278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01278/joss.01278/10.21105.joss.01278.pdf)

[2019-06-18 17:06] kyleniemeyer commented on #1005
@whedon remind @adammichaelwood in 1 week

[2019-06-18 17:06] whedon commented on #1005
Reminder set for @adammichaelwood in 1 week

[2019-06-18 17:16] matbesancon commented on #1278
I'm registering a new version to trigger the DOI creation from Zenodo

[2019-06-18 17:45] danielskatz commented on #1444
I've suggested a bunch of text changes for the paper in https://github.com/MI2DataLab/modelDown/pull/72

[2019-06-18 17:46] vjcitn commented on #1435
amazing!  can it fix them too?

[2019-06-18 17:48] danielskatz commented on #1435
no :)

[2019-06-18 17:49] danielskatz commented on #1435
and it's not always correct - it's just suggestions for things a person needs to check

[2019-06-18 18:02] matbesancon commented on #1385
@whedon set v0.6.1 as version

[2019-06-18 18:02] whedon commented on #1385
I'm sorry @matbesancon, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-06-18 18:49] JedS6391 commented on #1337
Hi @gkthiruvathukal -- just wanted to give you a brief progress update.

I have implemented unit tests for a subset of the functionality in [this PR](https://github.com/JedS6391/LGP/pull/58). I hope to finish the remaining tests over the weekend.

I will let you know once all unit tests have been completed.

[2019-06-18 18:59] matbesancon commented on #1278
The version of the software is v0.2.1, the corresponding DOI is 10.5281/zenodo.3249188

[2019-06-18 19:26] mbobra commented on #1502
@alexanderimanicowenrivers I'm sorry for the delay -- I'm still working on finding reviewers for this submission. I don't know the average review time for a JOSS submission, but it can be short (less than one week) once the handling editor finds reviewers. I've messaged a ton of potential reviewers and it looks like a busy time -- but I'll get there. Thank you!

[2019-06-18 19:27] alex-konovalov commented on #1371
Still the plan to finish it in June.

[2019-06-18 19:33] gkthiruvathukal commented on #1337
@JedS6391 Perfect. Let me know when you have a few more tests in place. I don't need 100% test coverage to proceed.  I just did a quick look and it seems like something is failing, so I will wait until you get it sorted out. Thanks for moving on this!

[2019-06-18 19:51] arfon commented on #1415
@dhhagan - I've added a checklist to the review over in #1480 for you.

@jasonclark - can this pre-review issue be closed now?

[2019-06-18 20:33] ramaniitrgoyal92 commented on #1507
@abelsiqueira Sure, take your time, really appreciate!

[2019-06-18 20:43] kellieotto commented on #1403
@trallard thanks for checking but I currently don't have time to review this.

[2019-06-18 21:06] krother commented on #1403
@trallard I would be happy to review this submission

[2019-06-18 21:11] fernandoandreotti commented on #1475
Sorry, I can't at this moment.

[2019-06-18 22:13] tpetricek commented on #1005
I think the remaining items really depend on the JOSS standards and I don't have a good sense about those. In particular:

- Example usage - The repo does have one example, which is self-hosting. Technically, that's an example usage, but it's pretty sophisticated one that does not actually teach us much about how anyone might use the system for real work. It checks the box "in principle", but I'm

[2019-06-18 23:56] leouieda commented on #1464
@whedon add @darribas as reviewer

[2019-06-18 23:56] whedon commented on #1464
OK, @darribas is now a reviewer

[2019-06-18 23:56] leouieda commented on #1464
@whedon generate pdf

[2019-06-18 23:56] whedon commented on #1464
[code]

[2019-06-18 23:57] whedon commented on #1464
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01464/joss.01464/10.21105.joss.01464.pdf)

[2019-06-18 23:58] leouieda commented on #1464
@whedon start review

[2019-06-18 23:58] whedon opened #1511 "[REVIEW]: swisslandstats-geopy: Python tools for the land statistics datasets from the Swiss Federal Statistical Office"
**Submitting author:** @martibosch (<a href="http://orcid.org/0000-0001-8735-9144">Martí Bosch</a>)
**Repository:** <a href="https://github.com/martibosch/swisslandstats-geopy" target ="_blank">https://github.com/martibosch/swisslandstats-geopy</a>
**Version:** 0.7.2
**Editor:** @leouieda
**Reviewer:** @weikang9009, @darribas
**Archive:** <a href="https://doi.org/10.5281/zenodo.3387312" target="_b

[2019-06-18 23:59] whedon commented on #1464
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1511. Feel free to close this issue now!

[2019-06-18 23:59] whedon commented on #1511
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @weikang9009, @darribas it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-06-18 23:59] whedon commented on #1511
[code]

[2019-06-18 23:59] #1464 closed

[2019-06-18 23:59] whedon commented on #1511
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01511/joss.01511/10.21105.joss.01511.pdf)

[2019-06-19 00:10] leouieda commented on #1511
:wave: @weikang9009 @darribas @martibosch this is the review thread for the `swisslandstats-geopy` paper. All of our communications will happen here from now on.

Both @weikang9009 and @darribas have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guid

[2019-06-19 00:12] peterjwatkins commented on #947
@arfon.. it turns out, I hadn't :-) - first time that I have used Zenodo.. I've edited the page and hit the 'publish' button on Zenodo.. not certain on how long it will take for the DOI to resolve.

[2019-06-19 00:50] choldgraf commented on #1408
I took a look at the latest changes to the repository, and I think that it's much improved. There's more information in there now about the reasoning behind the package, and how to use it. I consolidated some of the material that was in the python script header as well as the JOSS paper and placed it in the README in order to make it discoverable (https://github.com/rheiland/xml2jupyter/pull/6). I

[2019-06-19 02:17] ryanstwrt commented on #1486
@whedon commands

[2019-06-19 02:17] whedon commented on #1486
Here are some things you can ask me to do:

[code]

[2019-06-19 02:21] ryanstwrt commented on #1486
@whedon generate pdf

[2019-06-19 02:21] whedon commented on #1486
[code]

[2019-06-19 02:21] whedon commented on #1486
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01486/joss.01486/10.21105.joss.01486.pdf)

[2019-06-19 02:39] ryanstwrt commented on #1486
@whedon generate pdf

[2019-06-19 02:39] whedon commented on #1486
[code]

[2019-06-19 02:39] whedon commented on #1486
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01486/joss.01486/10.21105.joss.01486.pdf)

[2019-06-19 02:47] ryanstwrt commented on #1486
@whedon generate pdf

[2019-06-19 02:47] whedon commented on #1486
[code]

[2019-06-19 02:47] whedon commented on #1486
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01486/joss.01486/10.21105.joss.01486.pdf)

[2019-06-19 05:03] rougier commented on #1403
@trallard I'm a bit busy right now but after June, 30 I'll more time.

[2019-06-19 10:10] JedS6391 commented on #1337
Hi @gkthiruvathukal, the latest [commit](https://github.com/JedS6391/LGP/commits/develop) against the develop branch has a green build and has a subset of the tests.

At the moment, the coverage is 20% but I intended to increase this going forward. If you are interested to see a breakdown of the areas covered, then that can be viewed [here](https://codecov.io/gh/JedS6391/LGP/tree/8249ba28013930c7c

[2019-06-19 10:30] arfon commented on #947
Thanks! It's still not resolving but I'm sure it will soon. I'll set myself a reminder.

[2019-06-19 10:30] arfon commented on #947
@whedon remind @arfon in 1 day

[2019-06-19 10:31] whedon commented on #947
Reminder set for @arfon in 1 day

[2019-06-19 12:57] kthyng commented on #1498
Thanks @kbarnhart! Working on a second reviewer...

[2019-06-19 14:57] terrytangyuan commented on #1509
I saw that you submitted for review to JSS already https://arxiv.org/pdf/1903.04754.pdf. Is this submission to JOSS still necessary?

[2019-06-19 18:13] schuyler-smith commented on #1442
@karthik also curious of what the next steps actually are, namely when doi's get assigned so that my labmate can cite. Thanks again for all the help!

[2019-06-19 19:20] karthik commented on #1442
Thanks @joey711 for this review! @schuyler-smith I'm just returning from a trip so I'll need a day to look over the changes and recommend next steps. I'll update this thread shortly.

[2019-06-19 20:01] abhishektha commented on #1466
@whedon generate pdf

[2019-06-19 20:01] whedon commented on #1466
[code]

[2019-06-19 20:02] whedon commented on #1466
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01466/joss.01466/10.21105.joss.01466.pdf)

[2019-06-19 20:09] whedon opened #1512 "[PRE REVIEW]: Translational Informatics Management System (TIMS): Towards OMICS based clinical data management for long term curation of clinical studies"
**Submitting author:** @absd@bii.a-star.edu.sg (<a href="http://orcid.org/0000-0003-1247-6279">Wing-Cheong Wong</a>)
**Repository:** <a href="https://github.com/bii-absd/tims" target ="_blank">https://github.com/bii-absd/tims</a>
**Version:** v1.0
**Editor:** @csoneson
**Reviewers:** @rabdill, @andreysmelter

**Author instructions**

Thanks for submitting your paper to JOSS @absd@bii.a-star.edu.sg

[2019-06-19 20:10] whedon commented on #1512
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lpantano it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@lpantano) to find some reviewers fo

[2019-06-19 20:10] whedon commented on #1512
[code]

[2019-06-19 20:10] whedon commented on #1512
PDF failed to compile for issue #1512 with the following error:

 Error reading bibliography ./TIMSpaper.bib (line 10, column 20):
unexpected "("
expecting letter, digit, white space, "#", "," or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-06-19 20:12] danielskatz commented on #1512
👋 @lpantano - The author suggested you as the editor - Are you able to do this?  Or can someone else from the bioinformatics team (@mgymrek, @brainstorm, @csoneson)?

[2019-06-19 20:17] danielskatz commented on #1512
👋 @absd@bii.a-star.edu.sg - there's a problem with your .bib file
line 10, now ```volume = 36(4):336-353,``` should be
[code]

you will need to make similar changes for other entries.

Once you have made these changes, enter ```@whedon generate pdf``` as a new comment in this issue, and whedon will try to generate the pdf again.

[2019-06-19 20:18] abhishektha commented on #1466
Hi all,

Thank you for the insightful comments and help with getting DynaMo up to JOSS standards so far. I've fixed the errors in the paper and tutorial Jupyter Notebook.

Is there anything else needed from me? I am a little unclear if I need to add to the documentation to proceed with the paper. Would a new section on the github which shows how to call each function of the package meet this requi

[2019-06-19 21:31] alexpghayes commented on #1412
If you don't want to change these, I understand. Since the difference between `get_()` and `find_()` does seem to come down to names versus values, I really do recommend function names reflecting this, but I'm happy to recommend for publication either way.

Definitely swap. It look like you found some references in https://github.com/easystats/insight/issues/56#issuecomment-503565591?

Yeah, you c

[2019-06-19 22:15] malmans2 commented on #1506
@tomchor, thanks for your quick and helpful review! I think we've been able to address all your points. The new documentation is already online.

We edited the github README, which is also the front page of the documentation: https://oceanspy.readthedocs.io

Required and optional dependencies are now explicitly stated [here](https://oceanspy.readthedocs.io/en/latest/installation.html).

We have au

[2019-06-19 22:28] tomchor commented on #1506
@malmans2 thanks for the reply. I just have one more comment before I consider the review finished.

I think it's a good idea to choose your numerical schemes in a way that agrees with the model. The downside is that you have to pick one model (in this case MITgcm), which makes the package less general and not appropriate for some other models depending on their numerical scheme.

This is importan

[2019-06-20 00:31] mbobra commented on #1502
@alexanderimanicowenrivers Can you please suggest reviewers [from this list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) -- or from elsewhere?

[2019-06-20 03:12] sayanddude commented on #1509
@terrytangyuan Hi! We initially submitted the paper (given that it's a CRAN package) to JSS a couple of months back but it didn't work out there. We assure you that currently the paper is not under consideration for submission at any journal or conference. We are hoping that this paper goes through the rigorous review and gets published at JOSS!

[2019-06-20 04:49] alexanderimanicowenrivers commented on #1502
@desilinguist , @rougier, @sealhuang, @ahurriyetoglu, @betatim, @jkahn, @nirum, @arokem

[2019-06-20 05:37] mbobra commented on #1502
@alexanderimanicowenrivers Thank you for the suggestions. To those mentioned above: Are you available and willing to review this submission?

[2019-06-20 06:00] bii-absd commented on #1512
@whedon generate pdf

[2019-06-20 06:01] whedon commented on #1512
[code]

[2019-06-20 06:01] whedon commented on #1512
PDF failed to compile for issue #1512 with the following error:

 Error reading bibliography ./TIMSpaper.bib (line 28, column 9):
unexpected "p"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-06-20 06:02] bii-absd commented on #1512
@whedon generate pdf

[2019-06-20 06:02] whedon commented on #1512
[code]

[2019-06-20 06:03] whedon commented on #1512
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01512/joss.01512/10.21105.joss.01512.pdf)

[2019-06-20 06:17] melund commented on #1466
That is great, but I think you will have to initiate the work with a `pyrealsense2` conda-forge package. I think a win only package would be Ok for the first iteration. If you start the work, there is a good chance others will chip in and help.

[2019-06-20 06:22] bii-absd commented on #1512
@whedon generate pdf

[2019-06-20 06:22] whedon commented on #1512
[code]

[2019-06-20 06:23] whedon commented on #1512
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01512/joss.01512/10.21105.joss.01512.pdf)

[2019-06-20 06:24] bii-absd commented on #1512
@whedon generate pdf

[2019-06-20 06:24] whedon commented on #1512
[code]

[2019-06-20 06:25] whedon commented on #1512
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01512/joss.01512/10.21105.joss.01512.pdf)

[2019-06-20 06:41] bii-absd commented on #1512
@whedon generate pdf

[2019-06-20 06:41] whedon commented on #1512
[code]

[2019-06-20 06:41] whedon commented on #1512
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01512/joss.01512/10.21105.joss.01512.pdf)

[2019-06-20 06:46] bii-absd commented on #1512
@whedon generate pdf

[2019-06-20 06:46] whedon commented on #1512
[code]

[2019-06-20 06:47] whedon commented on #1512
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01512/joss.01512/10.21105.joss.01512.pdf)

[2019-06-20 06:53] bii-absd commented on #1512
@whedon generate pdf

[2019-06-20 06:53] whedon commented on #1512
[code]

[2019-06-20 06:54] whedon commented on #1512
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01512/joss.01512/10.21105.joss.01512.pdf)

[2019-06-20 07:02] bii-absd commented on #1512
Dear Editor,
The pdf article seems alright in general except for the missing captions from the figure. I have referred to the pandoc references and made several attempts to fix it but to no avail. Can you kindly advise? Many thanks

[2019-06-20 07:22] csoneson commented on #1435
@fboehm - as noted by @vjcitn, please add DOIs to your references and add some guidelines for potential contributors and users looking for help, and we can tick off those boxes. I have emailed @rcorty and I hope he will also be able to take a look at the revised submission shortly.

[2019-06-20 07:25] csoneson commented on #1505
@osorensen, @jjharden - thanks for your reviews! @Amalan-ConStat - please address the reviewer comments above and the issues opened in your repository, and comment back here when you are ready or if you have questions!

[2019-06-20 08:49] VivianePons commented on #1351
@whedon generate pdf

[2019-06-20 08:49] whedon commented on #1351
[code]

[2019-06-20 08:49] whedon commented on #1351
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01351/joss.01351/10.21105.joss.01351.pdf)

[2019-06-20 09:02] mnarayan commented on #1496
Unfortunately, I am not available to review the next 4 weeks.

On Tue, Jun 18, 2019, 6:43 PM Lorena Pantano <notifications@github.com>
wrote:

[2019-06-20 09:03] VivianePons commented on #1351
Perfect :) @RomainAzais could you make a zenodo archive and give me the reference? Please make it so that the metadata of the archive (title and authors) match the one of the paper. Thanks

[2019-06-20 09:56] effigies commented on #1502
Sorry, no TF experience.

[2019-06-20 10:54] danielskatz commented on #1512
I've made a bunch of suggested edits, including attempts to fix the caption issue, in https://github.com/bii-absd/tims/pull/1

[2019-06-20 11:14] desilinguist commented on #1502
I am familiar with TF but not very familiar with reinforcement learning. If
you don’t find anyone else better suited, I’ll take a look.

On Thu, Jun 20, 2019 at 5:56 AM Chris Markiewicz <notifications@github.com>
wrote:

--
Linguist, Desi Linguist
http://www.desilinguist.org

[2019-06-20 13:10] jhollist commented on #1473
Thanks all for giving me the extra time to get this review done!  And kudos to @robbriers for a nicely done package.

I have updated the checklist above.  For each of the items I did not check I have a few things that I feel should be addressed prior to signing off on those.  I have outlined those in an issue on the package repository.    See those at https://github.com/ropensci/cde/issues/23

Any

[2019-06-20 14:43] fboehm commented on #1435
Thanks, @csoneson and @vjcitn! I just pushed to Github the updated bib file (with dois). I double-checked the dois for the articles that whedon identified. I also added contributor guidelines to README.md.

[2019-06-20 14:44] csoneson commented on #1435
@whedon check references

[2019-06-20 14:44] whedon commented on #1435
[code]

[2019-06-20 14:45] whedon commented on #1435
[code]

[2019-06-20 14:46] rougier commented on #1502
I'm a bit busy right now (and I'm just the opposite of @desilinguist, familiar with RL but no TL).
One of our PhD student here (@cervere) might be able to review if needed.

[2019-06-20 14:48] csoneson commented on #1435
@fboehm - please double-check. I think you have added the RcppEigen DOI to the wrong bib entry.

[2019-06-20 14:48] fboehm commented on #1435
yes, you're right. I just now pushed the fix.

[2019-06-20 14:52] csoneson commented on #1435
@whedon check references

[2019-06-20 14:52] whedon commented on #1435
[code]

[2019-06-20 14:52] whedon commented on #1435
[code]

[2019-06-20 14:54] usethedata commented on #1437
@whedon assign @jimmccusker as reviewer

[2019-06-20 14:54] whedon commented on #1437
OK, the reviewer is @jimmccusker

[2019-06-20 14:54] csoneson commented on #1435
@whedon generate pdf

[2019-06-20 14:54] whedon commented on #1435
[code]

[2019-06-20 14:55] whedon commented on #1435
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01435/joss.01435/10.21105.joss.01435.pdf)

[2019-06-20 14:57] csoneson commented on #1435
There are still a couple of missing DOIs. Please also check capitalization in the bibliography and add {} around letters if necessary.

[2019-06-20 14:58] usethedata commented on #1437
I'm still working to find a second reviewer.  However, in the interests of moving forward, I'm going to open up the review issue and I will manually add the second reviewer in the review issue when the person is identified.

[2019-06-20 14:59] usethedata commented on #1437
@whedon start review

[2019-06-20 14:59] whedon opened #1513 "[REVIEW]: OnToCode: Template-based code-generation from ontologies"
**Submitting author:** @fiveop (<a href="http://orcid.org/0000-0003-3931-6670">Philipp Matthias Schäfer</a>)
**Repository:** <a href="https://gitlab.com/dlr-dw/ontocode" target ="_blank">https://gitlab.com/dlr-dw/ontocode</a>
**Version:** 1.0.1
**Editor:** @usethedata
**Reviewers:** @jimmccusker, @nicholascar
**Archive:** <a href="https://doi.org/10.5281/zenodo.3361131" target="_blank">10.5281/zen

[2019-06-20 14:59] whedon commented on #1437
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1513. Feel free to close this issue now!

[2019-06-20 14:59] whedon commented on #1513
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jimmccusker it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2019-06-20 14:59] whedon commented on #1513
[code]

[2019-06-20 14:59] #1437 closed

[2019-06-20 14:59] whedon commented on #1513
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01513/joss.01513/10.21105.joss.01513.pdf)

[2019-06-20 15:05] fboehm commented on #1435
Thanks - I had missed a few DOIs. Do all articles have DOIs? I'm unsure how to get the DOIs for the 1995 articles.

[2019-06-20 15:11] fboehm commented on #1435
@csoneson - I now see the capitalization problems in the bibliography. Does adding braces around letters lead to no changes in the capitalization for those letters?

[2019-06-20 15:18] csoneson commented on #1435
Yes - see e.g. https://texfaq.org/FAQ-capbibtex.
For the DOIs for the articles from 1995, I also can't find them (neither on PubMed nor on https://www.crossref.org/guestquery/). @openjournals/joss-eics - do you have additional suggestions where to look, or is it ok to leave it like this?

[2019-06-20 15:24] lpantano commented on #1512
sorry, I don't think I can take this one right now.

[2019-06-20 15:24] usethedata commented on #1479
Two declines and a deferral on reviewers.  Going back to look for additional options.  Suggestions welcomed.

[2019-06-20 15:32] lpantano commented on #1411
Hi @snowformatics, just wondering if you have seen the reviewer's comment and you have any question on your side.

[2019-06-20 15:34] lpantano commented on #1344
I have added the right tag to get this merged, if not I could ping the bioconda team. Thanks for the effort.

[2019-06-20 15:41] danielskatz commented on #1512
👋 bioinformatics editors (@mgymrek, @brainstorm, @csoneson) - Can someone else besides @lpantano edit this submission?

[2019-06-20 15:41] danielskatz commented on #1512
@whedon unset editor

[2019-06-20 15:42] danielskatz commented on #1512
@arfon - I feel like this should have worked, but don't think it did ...
Maybe an addition for @whedon?

[2019-06-20 16:55] snowformatics commented on #1411
Hi Lorena,

I apologize for my silence and I thank Victor for his very constructive and
helpful review, I think all points could be addressed and fixed. I have a
question, what is the deadline for fixing the bugs? I am currently moving
with baby and it's a bit complicated. Of course I will try ASAP to submit a
new version but I am not done yet.

Thanks for your understanding
Stefanie

Lorena Panta

[2019-06-20 16:57] whedon opened #1514 "[PRE REVIEW]: traffic: a toolbox for processing and analysing air traffic data"
**Submitting author:** @xoolive (<a href="http://orcid.org/0000-0002-2335-5774">Xavier Olive</a>)
**Repository:** <a href="https://github.com/xoolive/traffic" target ="_blank">https://github.com/xoolive/traffic</a>
**Version:** v2.0
**Editor:** @danielskatz
**Reviewers:** @junzis, @espinielli

**Author instructions**

Thanks for submitting your paper to JOSS @xoolive. The JOSS editor @danielskatz,

[2019-06-20 16:57] whedon commented on #1514
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danielskatz it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@danielskatz) to find some review

[2019-06-20 16:57] whedon commented on #1514
[code]

[2019-06-20 16:57] whedon commented on #1514
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01514/joss.01514/10.21105.joss.01514.pdf)

[2019-06-20 17:03] mbobra commented on #1502
@desilinguist There is no need to be an expert -- according to the JOSS docs, a reviewer only needs "[sufficient expertise](https://joss.readthedocs.io/en/latest/editing.html#finding-reviewers)" in the field of submission. The [reviewer checklist](https://joss.readthedocs.io/en/latest/review_checklist.html) covers general software, documentation, and functionality (i.e. confirming the functional c

[2019-06-20 17:04] karthik commented on #1442
@whedon generate pdf

[2019-06-20 17:04] whedon commented on #1442
[code]

[2019-06-20 17:05] whedon commented on #1442
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01442/joss.01442/10.21105.joss.01442.pdf)

[2019-06-20 17:05] karthik commented on #1442
@whedon check references

[2019-06-20 17:05] whedon commented on #1442
[code]

[2019-06-20 17:05] whedon commented on #1442
[code]

[2019-06-20 17:07] karthik commented on #1442
@schuyler-smith In preparation for accepting your package, can you archive your software on Zenodo and post a DOI here?

[2019-06-20 17:13] karthik commented on #1442
@joey711 Thank you! Can you check off the item on automated tests or raise any concerns you have there?

[2019-06-20 17:17] schuyler-smith commented on #1442
@karthik 10.5281/zenodo.3251024

[2019-06-20 17:18] karthik commented on #1473
Thanks Jeff!
@robbriers Please review these comments and post your responses. 🙏

[2019-06-20 17:24] karthik commented on #1442
Thanks! Let me get the final sign off from @joey711 and I will proceed.

[2019-06-20 17:33] joey711 commented on #1442
Confirmed. Signed off.

[2019-06-20 17:34] karthik commented on #1442
@whedon set 10.5281/zenodo.3251024 as archive

[2019-06-20 17:34] whedon commented on #1442
OK. <a href="https://doi.org/10.5281/zenodo.3251024" target="_blank">10.5281/zenodo.3251024</a> is the archive.

[2019-06-20 17:35] karthik commented on #1442
@whedon accept

[2019-06-20 17:35] whedon commented on #1442
[code]

[2019-06-20 17:35] whedon commented on #1442
[code]

[2019-06-20 17:35] whedon commented on #1442
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/782

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/782, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-20 17:36] karthik commented on #1442
Over to you, @joss-eics

[2019-06-20 17:37] schuyler-smith commented on #1442
@karthik @joey711 Thank you both for your help and efforts in this!

[2019-06-20 17:51] banesullivan commented on #1451
Hi @leouieda - I'd like to make sure this hasn't fallen off the radar. Could we make a list of the remaining action items?

[2019-06-20 17:51] azazel7 commented on #1485
All issues should be fixed now.

[2019-06-20 17:52] danielskatz commented on #1442
Thanks @joey711 for reviewing and @karthik for editing!

[2019-06-20 17:57] danielskatz commented on #1442
@arfon - can you provide any comment/fix on the name that is broken across lines 2 and 3 of the PDF?

[2019-06-20 18:05] lpantano commented on #1411
No worries, whenever you have time, we just need to know you are aware :)

[2019-06-20 18:08] danielskatz commented on #1442
@schuyler-smith - Here are  bunch of corrections to the paper:

- "Presented here is phylosmith" could be "This paper presents phylosmith"  (and perhaps this will also fix the breaking phylosmith at the end of line 2 and the start of line 3)
- "Functions that will either return a transformed version of the input phyloseq object, a subset version, or extracted data from it on set parameters" is not

[2019-06-20 18:10] danielskatz commented on #1442
@schuyler-smith - also, please update the title of the Zenodo archive to match the title of the paper: "phylosmith: an R-package for reproducible and efficient microbiome analysis with phyloseq-objects"

[2019-06-20 18:15] danielskatz commented on #1514
@xoolive - please review and update the bib entries - as you can see in the pdf, there are some issues.  You can wrap words or letters in {}s to preserve their case, for example. And the third reference is incomplete.  Once you have made changes in the .bib file, you can regenerate the pdf by adding a new comment in this issue with ```@whedon generate pdf```

[2019-06-20 18:17] danielskatz commented on #1514
Also, as stated above, You can help me by looking at [this list of potential reviewers](https://bit.ly/joss-reviewers) to identify individuals who might be able to review your submission (please start at the bottom of the list). Also, feel free to suggest individuals who are not on this list by mentioning their GitHub handles here.

[2019-06-20 18:23] schuyler-smith commented on #1442
@danielskatz thank you! This process has certainly opened my eyes to my inability to proofread my own work!

I addressed all the corrections you listed, and edited the Zenodo release title.

[2019-06-20 18:31] danielskatz commented on #1442
@whedon accept

[2019-06-20 18:31] whedon commented on #1442
[code]

[2019-06-20 18:31] whedon commented on #1442
[code]

[2019-06-20 18:31] whedon commented on #1442
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/783

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/783, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-20 18:34] danielskatz commented on #1442
@whedon generate pdf

[2019-06-20 18:34] whedon commented on #1442
[code]

[2019-06-20 18:34] karthik commented on #1442
/ooo June 30 until August 30

[2019-06-20 18:34] whedon commented on #1442
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01442/joss.01442/10.21105.joss.01442.pdf)

[2019-06-20 18:36] danielskatz commented on #1442
@whedon accept

[2019-06-20 18:36] whedon commented on #1442
[code]

[2019-06-20 18:37] whedon commented on #1442
[code]

[2019-06-20 18:37] whedon commented on #1442
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/784

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/784, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-20 18:50] danielskatz commented on #1442
@schuyler-smith - I also noticed some bib issues - suggested fixes in https://github.com/schuyler-smith/phylosmith/pull/4

In addition, some of the R & R package citations seem a little off - can you check the citations in the bib part of the pdf and make sure these look correct and complete?

[2019-06-20 19:18] schuyler-smith commented on #1442
@danielskatz I merged your bib fixes. The data.table package was not officially published, that I can find. Matt Dowel just has extensive online presence for it, but I wanted to cite it. Maybe there is a better way?
ggplot2 appears to be cited most through Hadley Wickham's book, that I used for citation, so it doesn't have a DOI or anything of the sort. Any suggestion on that is welcome too.

Are

[2019-06-20 19:21] danielskatz commented on #1442
@whedon generate pdf

[2019-06-20 19:21] whedon commented on #1442
[code]

[2019-06-20 19:21] whedon commented on #1442
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01442/joss.01442/10.21105.joss.01442.pdf)

[2019-06-20 19:23] schuyler-smith commented on #1442
@danielskatz I see a couple corrections to make, sorry.

[2019-06-20 19:26] schuyler-smith commented on #1442
@whedon generate pdf

[2019-06-20 19:26] whedon commented on #1442
[code]

[2019-06-20 19:26] whedon commented on #1442
PDF failed to compile for issue #1442 with the following error:

 Error reading bibliography ./paper.bib (line 15, column 9):
unexpected ","
expecting white space
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-06-20 19:27] danielskatz commented on #1442
The first ref should have DOI https://doi.org/10.1038/nature09944 added
The fourth ref should have DOI http://dx.doi.org/10.18637/jss.v040.i08 added

there could also be more...

[2019-06-20 19:30] sanskriti-s commented on #1420
@arokem: Done!

[2019-06-20 19:35] schuyler-smith commented on #1442
@danielskatz you are correct, I found a couple other DOIs. I think i blindly trusted the google scholar bib citations. Hopefully it looks better.

[2019-06-20 19:35] schuyler-smith commented on #1442
@whedon generate pdf

[2019-06-20 19:35] whedon commented on #1442
[code]

[2019-06-20 19:35] whedon commented on #1442
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01442/joss.01442/10.21105.joss.01442.pdf)

[2019-06-20 19:46] danielskatz commented on #1442
ok, looks good now  - thanks

[2019-06-20 19:46] danielskatz commented on #1442
@whedon accept

[2019-06-20 19:46] whedon commented on #1442
[code]

[2019-06-20 19:47] whedon commented on #1442
[code]

[2019-06-20 19:47] whedon commented on #1442
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/785

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/785, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-20 19:48] danielskatz commented on #1442
@whedon accept deposit=true

[2019-06-20 19:48] whedon commented on #1442
[code]

[2019-06-20 19:48] whedon commented on #1442
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1141795064085196800) 👈 🐦🐦🐦

[2019-06-20 19:48] whedon commented on #1442
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/786
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01442](https://doi.org/10.21105/joss.01442)
2. If everything looks go

[2019-06-20 19:49] #1442 closed

[2019-06-20 19:49] whedon commented on #1442
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01442/status.svg)](https://doi.org/10.21105/joss.01442)

**We need your help!**

Journal of Open Source Softwar

[2019-06-20 20:02] malmans2 commented on #1506
@tomchor, that's a good point! We added a highlighted note in the front page.

[2019-06-20 20:24] cervere commented on #1502
@mbobra Sorry, cannot make time at this moment.
(Had a quick run through, so if I am allowed make some unsolicited remarks :
I would have liked to spend some time on certain aspects - particularly because the work claims 'generic' - for e.g, envs outside OpenAI? more complex agents with multiple objectives? etc..
And as observed in other submissions, I hope the authors have addressed the important

[2019-06-20 20:28] danielskatz commented on #1171
👋 @tanselbaran - just a ping...  & @arokem, if there's no response soon, please try email

[2019-06-20 20:28] danielskatz commented on #1327
@mkhorton - any news on this review?

[2019-06-20 20:31] danielskatz commented on #791
👋 @boshek - any news on this review?

[2019-06-20 20:47] rheiland commented on #1408
Thank you both! I've merged Chris's PR and replied to his suggestion on looking into pytest.

[2019-06-20 20:52] mkhorton commented on #1327
Hi @danielskatz, the tests have been expanded to cover additional classes and I can verify they all pass successfully. The other issues seemed to be addressed. The only remaining item is community guidelines, otherwise it seems to be good to go.

[2019-06-20 21:17] lheagy commented on #1408
Excellent, many thanks @choldgraf for your comments and nice work addressing these comments @rheiland! @choldgraf: there are a few unchecked items on the checklist above - if those have all been addressed, would you mind ticking them off, or if there are items that still need to be taken care of, please let us know. Thank you both!

[2019-06-20 21:27] sepandhaghighi commented on #1485
Nice work, but some minor issues remained!

1. Please take another look at [this issue](https://github.com/big-data-lab-team/OrpailleCC/issues/6)
2. Missing DOIs
3. Solve paper compilation problem

[2019-06-20 22:00] choldgraf commented on #1408
a couple quick questions:

1. It asks to list authors, there is the primary author in the metadata of the paper.md file, so I'm assuming that's a ✔️
2. regarding the version, this repository isn't installable via a package manager, it's "just" a python script that is run at the command line, so I'm not sure how to answer this one. There is a release made, so I'm just considering this a ✔️ as well

[2019-06-21 01:03] arfon commented on #1512
Yeah, Whedon doesn't know how to do this. It can only replace an editor with another one...

[2019-06-21 01:15] nicholascar commented on #1437
I am happy to be an additional reviewer.

[2019-06-21 01:43] usethedata commented on #1513
@whedon add @nicholascar as reviewer

[2019-06-21 01:44] whedon commented on #1513
OK, @nicholascar is now a reviewer

[2019-06-21 01:44] usethedata commented on #1437
@nicholascar -- thanks.  You've been added as a reviewer and have a checklist over on https://github.com/openjournals/joss-reviews/issues/1513

[2019-06-21 01:51] danielskatz commented on #1512
Can we teach Whedon this new trick?

[2019-06-21 02:35] alexanderimanicowenrivers commented on #1502
Hey @effigies , I don't think TF experience is necessary, the most important aspects are the way its structured and the algorithms we provide, thus if you know RL that should me more to suffice a review :)

[2019-06-21 02:48] usethedata commented on #1359
I've completed my tests as a reviewer.

[2019-06-21 04:12] rheiland commented on #1408
@choldgraf, regarding the scipy ref DOI, the DOI you provided is for "Python for Scientific Computing" by Oliphant. Are you saying that's the preferred ref for citing scipy? If so, I'll need to change the entire bib entry. I was trying to follow advice here: https://www.scipy.org/citing.html

[2019-06-21 04:26] bii-absd commented on #1512
@whedon generate pdf

[2019-06-21 04:26] whedon commented on #1512
[code]

[2019-06-21 04:26] whedon commented on #1512
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01512/joss.01512/10.21105.joss.01512.pdf)

[2019-06-21 04:30] bii-absd commented on #1512
@danielskatz -  Greatly appreciate your fixes. The generated pdf looks good.

[2019-06-21 05:23] choldgraf commented on #1408
Ah, I was just copy pasting the DOIs that I had found next to the references on the scipy docs. But if you've thought it through then I am +1 on whatever you came up with

[2019-06-21 06:25] xoolive commented on #1514
@whedon generate pdf

[2019-06-21 06:25] whedon commented on #1514
[code]

[2019-06-21 06:25] whedon commented on #1514
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01514/joss.01514/10.21105.joss.01514.pdf)

[2019-06-21 06:52] xoolive commented on #1514
@whedon generate pdf

[2019-06-21 06:52] whedon commented on #1514
[code]

[2019-06-21 06:53] whedon commented on #1514
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01514/joss.01514/10.21105.joss.01514.pdf)

[2019-06-21 07:00] xoolive commented on #1514
Thank you @danielskatz for your feedback. I identified in the list @dvysardana, @Zac-HD, @johnsamuelwrites and @sara-02 who may be interested in reviewing the submission. @junzis and @espinielli are not in the list but very likely to provide helpful insights.

[2019-06-21 08:06] drvinceknight commented on #1371
I have completed my review: one request would be to include OS requirements in the installation requirements, I believe that this is only supported on linux (because of the Eigen 3) dependency (I could be mistaken).

[2019-06-21 08:39] omoliavko commented on #1494
@whedon commands

[2019-06-21 08:39] whedon commented on #1494
Here are some things you can ask me to do:

[code]

[2019-06-21 08:40] omoliavko commented on #1494
@whedon generate pdf

[2019-06-21 08:40] whedon commented on #1494
[code]

[2019-06-21 08:40] whedon commented on #1494
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01494/joss.01494/10.21105.joss.01494.pdf)

[2019-06-21 09:36] alexanderimanicowenrivers commented on #1502
So generic in both terms, 1 we provide integration to external gyms (CoinRun, Atari and OpenAI GYM) and its generic in terms of a RL point of view, abstracting out the relevant methods allowing re-use across both model-free and model-based algorithms.

It was also generic in the sense that when we could, we wrote non differentiable functions in numpy (e.g memory), which allowed me recently to port

[2019-06-21 09:57] omoliavko commented on #1494
@whedon generate pdf

[2019-06-21 09:57] whedon commented on #1494
[code]

[2019-06-21 09:57] whedon commented on #1494
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01494/joss.01494/10.21105.joss.01494.pdf)

[2019-06-21 11:34] connorourke commented on #1306
@katyhuff @danielskatz - the latest commit should address the paper changes requested in https://github.com/openjournals/joss-reviews/issues/1306#issuecomment-498647832

[2019-06-21 12:15] artivis commented on #1371
@drvinceknight Thanks for the review.
There isn't really an OS requirement, `manif` works on linux & OSX, we did not try to compile it with Windows. That's something that will land on the todo-list.
Notice that Eigen3 is available for Windows as well.

[2019-06-21 12:27] danielskatz commented on #1512
@bii-absd - there are clearly still some problems with the fact that the figure numbers are automatically generated, and the text references to them do not match, but this should be easy for you to fix by changing the text mentions to match the autogenerated names/numbers.

[2019-06-21 12:28] dmey commented on #1468
@arfon I noticed that @andreas-h is yet to complete the checklist -- would you know his status?

[2019-06-21 12:35] danielskatz commented on #1514
👋  @junzis & @espinielli - would one of you be willing to review this submission for [JOSS](http://joss.theoj.org/about#about)?  A JOSS review involves examining the short paper and the software repository against [18 criteria](https://joss.readthedocs.io/en/latest/review_checklist.html), and explaining problems to the editor and to the author, who makes improvements in an iterative process until

[2019-06-21 12:36] danielskatz commented on #1514
👋  @dvysardana, @Zac-HD, @johnsamuelwrites & @sara-02 - Would one or two of you also be willing to review this submission?

[2019-06-21 12:37] whedon opened #1515 "[PRE REVIEW]: modeLLtest: An R Package for Unbiased Model Comparison using Cross Validation"
**Submitting author:** @ShanaScogin (<a href="http://orcid.org/0000-0002-7801-853X">Shana Scogin</a>)
**Repository:** <a href="https://github.com/ShanaScogin/modeLLtest" target ="_blank">https://github.com/ShanaScogin/modeLLtest</a>
**Version:** v1.0.0
**Editor:** @usethedata
**Reviewers:** @monogan, @andrewheiss

**Author instructions**

Thanks for submitting your paper to JOSS @ShanaScogin. **Cu

[2019-06-21 12:37] whedon commented on #1515
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-21 12:37] whedon commented on #1515
[code]

[2019-06-21 12:37] whedon commented on #1515
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01515/joss.01515/10.21105.joss.01515.pdf)

[2019-06-21 12:40] danielskatz commented on #1515
@ShanaScogin - you might want to change your subsection headings to ```##```s. If you do this, or make other changes, you can add a new comment in this issue containing ```@whedon generate pdf``` to see how it works out

[2019-06-21 12:43] andreas-h commented on #1468
My status is overworked but committed to completing the review next week. My apologies!

[2019-06-21 12:46] dmey commented on #1468
👍 sounds good.

[2019-06-21 12:47] junzis commented on #1514
@danielskatz - certainly, I would be happy to review this paper.

[2019-06-21 12:51] danielskatz commented on #1514
Thanks @junzis - I'll assign you, and once I get a second reviewer, I'll start the review.

[2019-06-21 12:51] danielskatz commented on #1514
@whedon assign @junzis as reviewer

[2019-06-21 12:51] whedon commented on #1514
OK, the reviewer is @junzis

[2019-06-21 12:56] drvinceknight commented on #1371
Ok, I failed to install Eigen3 on OSX, could you point me at the instructions or perhaps include the install instructions in `manif`'s documentation?

[2019-06-21 12:58] ShanaScogin commented on #1515
@danielskatz  great - will do and thanks for the help!
@whedon generate pdf

[2019-06-21 13:02] ShanaScogin commented on #1515
@whedon generate pdf

[2019-06-21 13:02] whedon commented on #1515
[code]

[2019-06-21 13:02] whedon commented on #1515
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01515/joss.01515/10.21105.joss.01515.pdf)

[2019-06-21 13:04] artivis commented on #1371
I do not have an OSX machine at the moment but as I recall there should be a `brew install eigen3` -like command. We will add OSX instructions to `manif`'s doc once we can confirm them.

[2019-06-21 13:12] danielskatz commented on #1515
👋 @usethedata - Can you edit this submission?

[2019-06-21 13:14] whedon opened #1516 "[PRE REVIEW]: KinESim: Pre-equilibrium kinetic simulation of electrochemical reactions"
**Submitting author:** @dap-biospec (<a href="http://orcid.org/0000-0003-4625-0323">Denis Proshlyakov</a>)
**Repository:** <a href="https://github.com/dap-biospec/KinESim" target ="_blank">https://github.com/dap-biospec/KinESim</a>
**Version:** v1.6.8g
**Editor:** @kyleniemeyer
**Reviewers:** @usethedata, @faustincarter, @cfneese

**Author instructions**

Thanks for submitting your paper to JOSS @

[2019-06-21 13:14] whedon commented on #1516
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-21 13:14] whedon commented on #1516
[code]

[2019-06-21 13:14] whedon commented on #1516
PDF failed to compile for issue #1516 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: tags, date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9

[2019-06-21 13:16] danielskatz commented on #1516
👋 @kyleniemeyer - the author suggested you as the editor - ok?

[2019-06-21 13:19] danielskatz commented on #1516
👋 @dap-biospec - your paper is missing the tags and date elements - see our [sample paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography)

Once you've made changes, enter a new comment in this issue with ```@whedon generate pdf``` to rebuild the paper

[2019-06-21 13:32] dap-biospec commented on #1516
@whedon generate pdf
paper.md has been updated with missing fields

[2019-06-21 13:32] whedon commented on #1516
[code]

[2019-06-21 13:32] whedon commented on #1516
PDF failed to compile for issue #1516 with the following error:

 Could not find bibliography file: KinESim.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-06-21 13:34] dap-biospec commented on #1516
@whedon generate pdf
bibliography file reference corrected

[2019-06-21 13:34] whedon commented on #1516
[code]

[2019-06-21 13:34] whedon commented on #1516
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01516/joss.01516/10.21105.joss.01516.pdf)

[2019-06-21 13:49] danielskatz commented on #1512
👋 bioinformatics editors (@mgymrek, @brainstorm, @csoneson) - Can someone else besides @lpantano edit this submission?

[2019-06-21 15:08] bii-absd commented on #1512
@whedon generate pdf

[2019-06-21 15:08] whedon commented on #1512
[code]

[2019-06-21 15:08] whedon commented on #1512
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01512/joss.01512/10.21105.joss.01512.pdf)

[2019-06-21 15:20] bii-absd commented on #1512
@whedon generate pdf

[2019-06-21 15:20] whedon commented on #1512
[code]

[2019-06-21 15:20] whedon commented on #1512
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01512/joss.01512/10.21105.joss.01512.pdf)

[2019-06-21 15:20] kyleniemeyer commented on #1516
@danielskatz yes, I can handle this.

However, I noticed a few major issues immediately—for one, rather than a software package, this submission seems a set of "procedures" for the proprietary software environment [Igor Pro](https://www.wavemetrics.com). Thus, it will be challenging for us to find reviewers; I'm also not totally sure if this is in scope.

There are also no tests, and the documenta

[2019-06-21 15:23] bii-absd commented on #1512
@whedon generate pdf

[2019-06-21 15:23] whedon commented on #1512
[code]

[2019-06-21 15:24] whedon commented on #1512
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01512/joss.01512/10.21105.joss.01512.pdf)

[2019-06-21 15:26] csoneson commented on #1512
I can do it.

[2019-06-21 15:31] trallard commented on #1403
Thanks @krother  and @rougier  I will assign you both to the review process and take it from there.

@rougier  feel free to jump into as and when you can

[2019-06-21 15:31] trallard commented on #1403
@whedon  set @krother as reviewer

[2019-06-21 15:31] trallard commented on #1403
@whedon set @rougier as reviewer

[2019-06-21 15:31] lpantano commented on #1496
@whedon assign @arunhpatil as reviewer

[2019-06-21 15:31] whedon commented on #1496
OK, the reviewer is @arunhpatil

[2019-06-21 15:35] espinielli commented on #1514
I would be happy. What's the deadline? (leaving sooooon for a week...)

[2019-06-21 15:37] trallard commented on #1475
@whedon set @melund  as reviewer

[2019-06-21 15:37] trallard commented on #1403
@whedon add @krother as reviewer

[2019-06-21 15:37] whedon commented on #1403
OK, @krother is now a reviewer

[2019-06-21 15:38] trallard commented on #1403
@whedon  add @rougier as reviewer

[2019-06-21 15:38] bii-absd commented on #1512
@danielskatz and @csoneson - Thank you.

[2019-06-21 15:38] trallard commented on #1475
@whedon add @melund as reviewer

[2019-06-21 15:38] whedon commented on #1475
OK, @melund is now a reviewer

[2019-06-21 15:39] trallard commented on #1403
@whedon add @rougier as reviewer

[2019-06-21 15:39] whedon commented on #1403
OK, @rougier is now a reviewer

[2019-06-21 15:39] trallard commented on #1403
@whedon start review

[2019-06-21 15:39] whedon opened #1517 "[REVIEW]: DEEPaaS API: a REST API for Machine Learning and Deep Learning models"
**Submitting author:** @alvarolopez (<a href="http://orcid.org/0000-0002-0013-4602">Álvaro López García</a>)
**Repository:** <a href="https://github.com/indigo-dc/DEEPaaS" target ="_blank">https://github.com/indigo-dc/DEEPaaS</a>
**Version:** 0.5.2
**Editor:** @trallard
**Reviewer:** @krother, @rougier
**Archive:** <a href="https://doi.org/10.5281/zenodo.3519350" target="_blank">10.5281/zenodo.351

[2019-06-21 15:39] whedon commented on #1517
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dangunter, @krother, @rougier it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're

[2019-06-21 15:39] whedon commented on #1517
[code]

[2019-06-21 15:40] whedon commented on #1403
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1517. Feel free to close this issue now!

[2019-06-21 15:40] whedon commented on #1517
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01517/joss.01517/10.21105.joss.01517.pdf)

[2019-06-21 15:41] trallard commented on #1403
@whedon start review

[2019-06-21 15:41] #1403 closed

[2019-06-21 15:43] trallard commented on #1517
Hey @dangunter, @krother, @rougier thanks a lot for offering to review this submission.

Each of you have been assigned a checklist for your review, please go over the items and check them if you consider them to be satisfied.
Please use this issue for ongoing discussions. If you need to start a  longer discussion or request please make an issue on the submission repo and reference it here.

If yo

[2019-06-21 15:46] danielskatz commented on #1512
@whedon assign @csoneson as editor

[2019-06-21 15:46] whedon commented on #1512
OK, the editor is @csoneson

[2019-06-21 15:48] danielskatz commented on #1514
Thanks @espinielli - we try to get reviews done in a couple of weeks, so your timing should be fine

[2019-06-21 15:48] danielskatz commented on #1514
@whedon add @espinielli as reviewer

[2019-06-21 15:48] whedon commented on #1514
OK, @espinielli is now a reviewer

[2019-06-21 15:48] danielskatz commented on #1514
@whedon start review

[2019-06-21 15:48] whedon opened #1518 "[REVIEW]: traffic: a toolbox for processing and analysing air traffic data"
**Submitting author:** @xoolive (<a href="http://orcid.org/0000-0002-2335-5774">Xavier Olive</a>)
**Repository:** <a href="https://github.com/xoolive/traffic" target ="_blank">https://github.com/xoolive/traffic</a>
**Version:** v2.0
**Editor:** @danielskatz
**Reviewer:** @junzis, @espinielli
**Archive:** <a href="https://doi.org/10.5281/zenodo.3269812" target="_blank">10.5281/zenodo.3269812</a>

#

[2019-06-21 15:48] whedon commented on #1514
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1518. Feel free to close this issue now!

[2019-06-21 15:48] whedon commented on #1518
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @junzis, @espinielli it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-06-21 15:48] whedon commented on #1518
[code]

[2019-06-21 15:48] csoneson commented on #1512
👋 @absd@bii.a-star.edu.sg - do you have suggestions for suitable reviewers for your submission (e.g. from the list linked in the first comment above)?

[2019-06-21 15:48] #1514 closed

[2019-06-21 15:49] whedon commented on #1518
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01518/joss.01518/10.21105.joss.01518.pdf)

[2019-06-21 15:51] danielskatz commented on #1518
Thanks for agreeing to review @junzis & @espinielli - instructions are above, which are basically to work through your checklists.  I'lll also note here that @espinelli will be out for about a week soon.

If you have any questions, please ask.

[2019-06-21 15:56] bii-absd commented on #1512
@csoneson - (rabdill, andreysmelter) seems suitable.

[2019-06-21 16:20] jkahn commented on #1502
currently without time to contribute here. Wish I could; I'm excited to see
the sort of work described by the title.

On Wed, Jun 19, 2019 at 9:50 PM Alexander Cowen-Rivers <
notifications@github.com> wrote:

[2019-06-21 16:39] johnsamuelwrites commented on #1514
I can review, if the review is still open.

[2019-06-21 16:56] tanselbaran commented on #1171
Dear all,

My apologies for the long delay. I just got around to testing the hardware, as things have been quite busy with my project.

After following the steps that are provided by the authors in the documentation of the repository, I verify that the device performs the test stimulus from all output channels with the specified frequencies and pulse widths. Thus, I am checking the functionality,

[2019-06-21 17:16] danielskatz commented on #1514
Thanks @johnsamuelwrites but we have enough reviewers and started the review.

[2019-06-21 17:17] dap-biospec commented on #1516
@kyleniemeyer
Dear Kyle,

I am new to JOSS (OSS in general) and still learning the ropes. I would be happy to provide additional documentation as needed.

As for Igor Pro, it is routinely used, along with Origin and more so than Matlab, by a sizeable proportion of scientific community in chemistry, biochemistry and related disciplines. End users in those disciplines is the primary target for the s

[2019-06-21 17:30] katyhuff commented on #1306
@whedon generate pdf

[2019-06-21 17:30] whedon commented on #1306
[code]

[2019-06-21 17:30] whedon commented on #1306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01306/joss.01306/10.21105.joss.01306.pdf)

[2019-06-21 17:31] katyhuff commented on #1306
@whedon check references

[2019-06-21 17:31] whedon commented on #1306
[code]

[2019-06-21 17:31] whedon commented on #1306
[code]

[2019-06-21 17:35] katyhuff commented on #1306
Thank you @mkhorton for your review -- we couldn't do this without you.
Thank you @connorourke for a strong submission and for engaging actively in the review process! I have looked over the paper, double-checked all the DOI links, and have conducted a high-level review of the code itself. Everything looks ship-shape to me. At this point, please double-check the paper yourself, review any lingerin

[2019-06-21 17:37] lpantano commented on #1496
@whedon assign @adriancbondia as reviewr

[2019-06-21 17:37] lpantano commented on #1496
@whedon assign @adriancbondia as reviewer

[2019-06-21 17:38] whedon commented on #1496
OK, the reviewer is @adriancbondia

[2019-06-21 17:40] lpantano commented on #1496
@whedon check references

[2019-06-21 17:40] whedon commented on #1496
[code]

[2019-06-21 17:40] whedon commented on #1496
[code]

[2019-06-21 17:42] lpantano commented on #1496
@adadiehl can you check the references and add the DIO to them as shown here: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

Thanks

[2019-06-21 17:43] xoolive commented on #1518
Thank you for agreeing to review @junzis and @espinielli

[2019-06-21 18:10] danielskatz commented on #1516
@whedon assign @kyleniemeyer as editor

[2019-06-21 18:11] whedon commented on #1516
OK, the editor is @kyleniemeyer

[2019-06-21 19:11] kyleniemeyer commented on #1516
@whedon add @usethedata as editor

[2019-06-21 19:12] kyleniemeyer commented on #1516
Hi @dap-biospec, we are going to proceed with the review, since @usethedata has agreed to review the submission. Do you have any suggestions for other potential reviewers, particularly those who may be comfortable working with Igor?

[2019-06-21 19:12] kyleniemeyer commented on #1516
@whedon add @usethedata as reviewer

[2019-06-21 19:12] whedon commented on #1516
OK, @usethedata is now a reviewer

[2019-06-21 19:23] mommermi commented on #1426
Ok, the latest version is registered with zenodo. The DOI is 10.5281/zenodo.3252172

[2019-06-21 19:45] adadiehl commented on #1496
I’ve fixed DOIs for all references that I can. One does not appear to have a DOI. How do I handle that reference?

"The wind of heaven is that which flows between a horse's ears."

[2019-06-21 20:34] dap-biospec commented on #1516
@kyleniemeyer let me look around. I have much stronger connections in chemistry than in the software development, but I will try give you a couple of names.

[2019-06-21 21:09] lheagy commented on #1499
👋 Hi @Randrian45 - thanks for your submission to JOSS. While this looks like a useful piece of software, I am afraid it is out of scope for JOSS as it appears to be a minor utility and it's not clear that it has an research application ([per our submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements)).

[2019-06-21 21:09] #1499 closed

[2019-06-21 22:12] azazel7 commented on #1485
@whedon commands

[2019-06-21 22:13] whedon commented on #1485
Here are some things you can ask me to do:

[code]

[2019-06-21 22:13] azazel7 commented on #1485
@whedon check references

[2019-06-21 22:13] whedon commented on #1485
[code]

[2019-06-21 22:13] whedon commented on #1485
[code]

[2019-06-21 22:15] azazel7 commented on #1485
@whedon generate pdf

[2019-06-21 22:15] whedon commented on #1485
[code]

[2019-06-21 22:15] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1485/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-06-21 22:37] azazel7 commented on #1485
@whedon generate pdf

[2019-06-21 22:37] whedon commented on #1485
[code]

[2019-06-21 22:37] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1485/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-06-21 22:38] azazel7 commented on #1485
If I understand correctly, the file `paper.yml` is missing. However, there is no mention of such a file in the author guideline nor in the documentation at joss.readthedocs.io. I have checked the repositories of already published papers, but I couldn't find any example of a paper.yml.

[2019-06-21 22:41] usethedata commented on #1515
@whedon assign @usethedata as editor

[2019-06-21 22:41] whedon commented on #1515
OK, the editor is @usethedata

[2019-06-21 22:46] usethedata commented on #1515
@ShanaScogin Looks interesting.  Do post back (or have volunteers post back) if you have suggestions for reviewers.

[2019-06-21 22:47] usethedata commented on #1479
@ikuyamada Still working on finding reviewers, but having some challenges.  Any suggestions you have will be appreciated.

[2019-06-21 23:10] jg-you commented on #1458
@cMadan: @hneutr applied all the changes (and more) highlighted in my review.

[2019-06-22 00:25] danielskatz commented on #1485
paper.yml is internally created - you do not have to create this. Perhaps this was a whedon hiccup, which we can check by trying again, or perhaps there is something wrong in your md or bib file that is leading to a problem with an error message that is not helpful

[2019-06-22 00:25] danielskatz commented on #1485
@whedon generate pdf

[2019-06-22 00:25] whedon commented on #1485
[code]

[2019-06-22 00:25] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1485/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-06-22 00:29] danielskatz commented on #1485
If there's an error, it's not obvious to me. You could undo your most recent changes and try again, to see if this is a whedon error or one related to your changes. I see that you added spaces at the start of lines 18 and 19, which might be confusing whedon.

[2019-06-22 01:08] karthik commented on #1493
@gvegayon Please update us once you've addressed these issues.

[2019-06-22 01:29] alexanderimanicowenrivers commented on #1502
@mbobra can we assign the review to. @desilinguist  please?

https://github.com/openjournals/joss-reviews/issues/1502#issuecomment-503985440

[2019-06-22 08:25] olivertomic commented on #980
@whedon generate pdf

[2019-06-22 08:25] whedon commented on #980
[code]

[2019-06-22 08:26] whedon commented on #980
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00980/joss.00980/10.21105.joss.00980.pdf)

[2019-06-22 09:07] wojciech-n commented on #1327
Dear Reviewers, thank you for checking the software and package again.

@lucydot,

Of course, I should have mentioned this. Documentation is updated now: https://basicsums.bitbucket.io/intro.html#installation

I placed the information in the Installation section (https://bitbucket.org/basicsums/basicsums/src/master/README.rst).

@mkhorton,

I placed Contribution and citations subsection in the Int

[2019-06-22 09:15] xuanxu commented on #1426
@whedon set v0.1.1 as version

[2019-06-22 09:15] whedon commented on #1426
OK. v0.1.1 is the version.

[2019-06-22 09:15] xuanxu commented on #1426
@whedon set 10.5281/zenodo.3252172 as archive

[2019-06-22 09:15] whedon commented on #1426
OK. <a href="https://doi.org/10.5281/zenodo.3252172" target="_blank">10.5281/zenodo.3252172</a> is the archive.

[2019-06-22 09:17] xuanxu commented on #1426
Yay! :tada:
Everything is ready por publication. Pinging @openjournals/joss-eics for final acceptance.

[2019-06-22 09:22] ikuyamada commented on #1479
@usethedata Thank you for working on finding reviewers of my article! However, I don't understand what kind of suggestions that are needed here. Are there a list of any reviewer candidates of this journal or can I recommend any researchers that are capable of reviewing this paper?

[2019-06-22 11:25] arfon commented on #947
@peterjwatkins it looks like http://doi.org/10.5281/zenodo.3427971 still isn't resolving. I think you might need to contact Zenodo support to find out what's going on here.

[2019-06-22 11:27] arfon commented on #720
I have just emailed @seandenigris and asked him to take another look.

[2019-06-22 11:30] arfon commented on #1387
I've just emailed @jlustigy and asked him to revisit this submission soon.

[2019-06-22 12:30] labarba commented on #1327
@lucydot — I see that all your checklist items are ticked off. Do we have your recommendation to accept?

@mkhorton — Your last item is Community Guidelines. Are you satisfied with that?

[2019-06-22 12:32] lucydot commented on #1327
@labarba yes, it's recommendation to accept from me..

[2019-06-22 12:40] danielskatz commented on #1426
@whedon accept

[2019-06-22 12:40] whedon commented on #1426
[code]

[2019-06-22 12:40] whedon commented on #1426
[code]

[2019-06-22 12:41] whedon commented on #1426
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/787

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/787, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-22 12:47] danielskatz commented on #1426
@xuanxu - there are 2 typos in the papers, as indicated in https://github.com/NASA-Planetary-Science/sbpy/pull/158

Once these are fixed (by merging this PR), we can finish the acceptance

[2019-06-22 12:47] danielskatz commented on #1426
@mommermi - Can you merge https://github.com/NASA-Planetary-Science/sbpy/pull/158 ?

[2019-06-22 12:53] usethedata commented on #1479
@ikuyamada What I'm looking for is if you know someone, who does not have a conflict of interest with you (see our [conflict of interest policy](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy) and who would be qualified to review the work.  We have a list of [people who've volunteered as reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9a

[2019-06-22 12:55] usethedata commented on #1359
👋 @ManuelaS Any updates?

[2019-06-22 13:49] csoneson commented on #1512
👋@rabdill, @andreysmelter - would you be willing to review this submission for JOSS?

[2019-06-22 16:58] mkhorton commented on #1327
Yes, fine from me. Apologies I’d missed that.

[2019-06-22 16:59] labarba commented on #1327
@whedon generate pdf

[2019-06-22 16:59] whedon commented on #1327
[code]

[2019-06-22 17:00] whedon commented on #1327
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01327/joss.01327/10.21105.joss.01327.pdf)

[2019-06-22 17:16] labarba commented on #1327
@wojciech-n — You will need to fix the citation syntax in several places. When the citation is part of the sentence, then use: Author (year). If the citation is not part of the sentence, then it should appear in parenthesis. E.g. “We take inspiration from Smith et al. (2006) to … “ / 	“The code implements Theory 1 (Jones 2012) and Theory 2 (Roberts 2014) to obtain … “  For the syntax to obtain bra

[2019-06-22 17:40] ShanaScogin commented on #1515
@usethedata Great - I have a couple emails out. I will post back when I receive responses. Thanks for editing!

[2019-06-22 18:21] danielskatz commented on #1426
@whedon generate pdf

[2019-06-22 18:21] whedon commented on #1426
[code]

[2019-06-22 18:21] whedon commented on #1426
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01426/joss.01426/10.21105.joss.01426.pdf)

[2019-06-22 18:22] danielskatz commented on #1426
@whedon accept

[2019-06-22 18:22] whedon commented on #1426
[code]

[2019-06-22 18:22] whedon commented on #1426
[code]

[2019-06-22 18:22] whedon commented on #1426
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/788

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/788, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-22 18:23] danielskatz commented on #1426
@whedon accept deposit=true

[2019-06-22 18:23] whedon commented on #1426
[code]

[2019-06-22 18:24] whedon commented on #1426
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1142498581221388288) 👈 🐦🐦🐦

[2019-06-22 18:24] whedon commented on #1426
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/789
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01426](https://doi.org/10.21105/joss.01426)
2. If everything looks go

[2019-06-22 18:25] #1426 closed

[2019-06-22 18:25] whedon commented on #1426
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01426/status.svg)](https://doi.org/10.21105/joss.01426)

**We need your help!**

Journal of Open Source Softwar

[2019-06-22 18:26] danielskatz commented on #1426
Thanks to @Juanlu001 for reviewing and @xuanxu for editing

[2019-06-22 18:26] whedon opened #1519 "[PRE REVIEW]: Tools for Prototyping with 3D Ultrasonics in ROS"
**Submitting author:** @adi3 (<a href="http://orcid.org/0000-0002-6382-8441">Adi Singh</a>)
**Repository:** <a href="https://gitlab.com/toposens/public/ros-packages" target ="_blank">https://gitlab.com/toposens/public/ros-packages</a>
**Version:** v1.1.0
**Editor:** @gkthiruvathukal
**Reviewers:** @dvberkel

**Author instructions**

Thanks for submitting your paper to JOSS @adi3. **Currently, ther

[2019-06-22 18:27] whedon commented on #1519
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-22 18:27] whedon commented on #1519
[code]

[2019-06-22 18:27] whedon commented on #1519
Failed to discover a valid open source license.

[2019-06-22 18:27] whedon commented on #1519
PDF failed to compile for issue #1519 with the following error:

 sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.01519.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2019-06-22 18:34] danielskatz commented on #1519
@adi3 - I don't see the software that you want to submit - it seems  like you have just submitted a paper repo.  Can I suggest that you withdraw this, and then submit the software repository, which should contain a paper.md file in a directory in that repository?  Take a look at the repositories in some of the accepted papers in http://joss.theoj.org ...

[2019-06-22 21:19] mommermi commented on #1426
Thank you all for the quick processing of this paper!

[2019-06-22 21:26] wojciech-n commented on #1327
@whedon generate pdf

[2019-06-22 21:26] whedon commented on #1327
[code]

[2019-06-22 21:26] whedon commented on #1327
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01327/joss.01327/10.21105.joss.01327.pdf)

[2019-06-22 21:57] wojciech-n commented on #1327
@labarba, thank you for your detailed notes on references.  I corrected them, as well as typos from page 2.

[2019-06-22 22:39] ts-adi commented on #1519
@danielskatz - Sorry, this was an oversight on my part. This is the code repository: https://gitlab.com/toposens/public/ros-packages/

I don't mind withdrawing and resubmitting the paper, but we'd like to keep the contents of the ROS code repo limited to what's relevant to the ROS framework. In doing so, we are following the precedent set by ros_control, which has been published in JOSS; they too

[2019-06-22 23:40] danielskatz commented on #1519
👋 @arfon, can you help here?

[2019-06-23 00:19] arfon commented on #1519
@ts-adi - could you add the paper to a branch of the `https://gitlab.com/toposens/public/ros-packages` repository. We don't need this branch to ever be merged to `master` but it's much more convenient for the paper to be present _somewhere_ in the repository. Once the JOSS review is complete, you can simply delete that branch.

[2019-06-23 02:25] whedon commented on #1315
:wave: @sauln, please update us on how things are progressing here.

[2019-06-23 07:45] labarba commented on #1327
@whedon accept

[2019-06-23 07:45] whedon commented on #1327
No archive DOI set. Exiting...

[2019-06-23 07:52] labarba commented on #1327
Oops. We need to do the final steps before acceptance.

Please do the following:

- [ ] Please make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and p

[2019-06-23 08:12] ts-adi commented on #1519
@arfon Thanks, that is a suitable solution. I've created a branch `joss_paper` in the software repository `https://gitlab.com/toposens/public/ros-packages/tree/joss_paper`.

Should I still withdraw and resubmit?

[2019-06-23 12:07] arfon commented on #1519
@whedon generate pdf from branch joss_paper

[2019-06-23 12:07] whedon commented on #1519
[code]

[2019-06-23 12:08] whedon commented on #1519
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01519/joss.01519/10.21105.joss.01519.pdf)

[2019-06-23 12:10] arfon commented on #1519
No, I think we're OK with how it is now. @danielskatz - we'll need to compile the papers from the `joss_paper` branch.

[2019-06-23 12:14] danielskatz commented on #1519
@gkthiruvathukal - Would you be willing to edit this submission?

[2019-06-23 12:43] ManuelaS commented on #1359
Hi @jdrugo  & @usethedata, I checked all the remaining boxes in the review and I am happy to recommend it to be accepted from my side.

Note that I checked the box regarding the version as well, but it will need to be bumped to include the last changes.

[2019-06-23 13:44] arsilva87 commented on #1321
@karthik How is the reviewing progress?

[2019-06-23 14:12] gkthiruvathukal commented on #1519
Yes, @danielskatz.

[2019-06-23 14:13] danielskatz commented on #1519
@whedon assign @gkthiruvathukal as editor

[2019-06-23 14:13] whedon commented on #1519
OK, the editor is @gkthiruvathukal

[2019-06-23 14:13] danielskatz commented on #1519
Note that you have to use ```@whedon generate pdf from branch joss_paper``` to generate the paper in this case...

[2019-06-23 14:21] ikuyamada commented on #1479
@usethedata I am sorry but I do not come up with any suitable reviewers.

[2019-06-23 14:44] rheiland commented on #1408
Giving this a bit more consideration, I decided to use the Oliphant 2007 citation. SciPy requires NumPy after all, which is covered in the 2007 article; it also gives deserved credit to Oliphant. Thanks for your attention to detail on these DOIs.

[2019-06-23 15:13] sambitdash commented on #1453
@whedon commands

[2019-06-23 15:13] whedon commented on #1453
Here are some things you can ask me to do:

[code]

[2019-06-23 15:13] sambitdash commented on #1453
@whedon generate pdf

[2019-06-23 15:13] whedon commented on #1453
[code]

[2019-06-23 15:13] whedon commented on #1453
PDF failed to compile for issue #1453 with the following error:

 Error reading bibliography ./paper.bib (line 14, column 1):
unexpected "u"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-06-23 15:17] sambitdash commented on #1453
@whedon generate pdf

[2019-06-23 15:17] whedon commented on #1453
[code]

[2019-06-23 15:17] whedon commented on #1453
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01453/joss.01453/10.21105.joss.01453.pdf)

[2019-06-23 15:21] sambitdash commented on #1453
@whedon generate pdf

[2019-06-23 15:21] whedon commented on #1453
[code]

[2019-06-23 15:22] whedon commented on #1453
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01453/joss.01453/10.21105.joss.01453.pdf)

[2019-06-23 15:24] sambitdash commented on #1453
Please review with the Version: v0.1.5 of the software.

[2019-06-23 15:56] espinielli commented on #1518
I, too, am writing (and presenting at [UseR!2019](http://www.user2019.fr): "R in the Air") an R package for flight trajectories 😇

[2019-06-23 16:11] Amalan-ConStat commented on #1505
I have resolved all issues regarding to the repository as requested in my repository, further I have addressed all comments too.  Thank you for reminding.

[2019-06-23 16:57] usethedata commented on #1479
@ikuyamada Understood.  Thanks for checking. Let me dig further.

[2019-06-23 17:31] osorensen commented on #1505
@whedon generate pdf

[2019-06-23 17:31] whedon commented on #1505
[code]

[2019-06-23 17:32] whedon commented on #1505
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01505/joss.01505/10.21105.joss.01505.pdf)

[2019-06-23 17:38] Amalan-ConStat commented on #1505
I have checked the article proof, seems fine. Thank you for going through the changes swiftly.

[2019-06-23 17:40] osorensen commented on #1505
@csoneson The updates to the software and the paper address all my concerns. I have close the issues I opened in the source repository. The software is well documented and easy to use, and implements important models which are well described in the statistical literature. Happy to accept it now.

[2019-06-23 17:42] Amalan-ConStat commented on #1505
Thank you very much for immediate responses and clear clarification requests for the issues in the R package. How may i proceed now ?

[2019-06-23 19:24] ybayle commented on #1262
Hi @patrikhuber,

Thanks for your comments.

I have updated the ReadMe to prominently mention this in the introduction.

Indeed, our script handle the inversion or not of the numbering of the landmarks. Our use-case is closely related to this kind of processing, thus justifying our current example image.

I have reworded the license.

Thanks you for pointing out this typo.

This sentence has been

[2019-06-23 19:24] ybayle commented on #1262
@whedon generate pdf

[2019-06-23 19:24] whedon commented on #1262
[code]

[2019-06-23 19:25] whedon commented on #1262
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01262/joss.01262/10.21105.joss.01262.pdf)

[2019-06-23 20:16] patrikhuber commented on #1262
Hi @ybayle,

Looks good!

I see - but I'm not sure how? Could this be the `order_factor` ? The example in the Readme sets this to `'upper'`. But to be honest I really can't figure out what it might be doing - the code doesn't seem to check for any particular value like 'upper'? What are the valid values, and what do they each do? This could be documented better (e.g. also added to the "help" optio

[2019-06-23 21:14] #1415 closed

[2019-06-23 21:14] arfon commented on #1480
:wave: @dhhagan - please complete your review when you get a chance.

[2019-06-23 21:46] ts-adi commented on #1519
@whedon generate pdf from branch joss_paper

[2019-06-23 21:46] whedon commented on #1519
[code]

[2019-06-23 21:47] whedon commented on #1519
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01519/joss.01519/10.21105.joss.01519.pdf)

[2019-06-23 23:22] lheagy commented on #1328
:wave: @srmnitc, just checking here. Do you think you will have time in the next week to take a look at this submission? Thanks!

[2019-06-23 23:23] lheagy commented on #1408
@whedon check references

[2019-06-23 23:23] whedon commented on #1408
[code]

[2019-06-23 23:23] whedon commented on #1408
[code]

[2019-06-23 23:24] lheagy commented on #1408
@whedon add @lheagy as reviewer

[2019-06-23 23:24] whedon commented on #1408
OK, @lheagy is now a reviewer

[2019-06-23 23:38] usethedata commented on #1359
@whedon generate pdf

[2019-06-23 23:38] whedon commented on #1359
[code]

[2019-06-23 23:39] usethedata commented on #1359
@whedon check references

[2019-06-23 23:39] whedon commented on #1359
[code]

[2019-06-23 23:39] whedon commented on #1359
[code]

[2019-06-23 23:39] whedon commented on #1359
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01359/joss.01359/10.21105.joss.01359.pdf)

[2019-06-23 23:53] usethedata commented on #1359
@jdrugo:  A few items.

1. Please check the fifth reference:  Gilks, W. R., Richardson, S., & Spiegelhalter, D. (Eds.). (1995). Markov chain monte carlo in
practice. CRC interdisiplinary statistics. Chapman; Hall. doi:10.1080/09332480.2014.914768

When I follow that DOI, I'm not getting the work you're referencing.

2. Please also check the last reference: Wipf, D. P., & Nagarajan, S. S. (2007). A

[2019-06-23 23:54] usethedata commented on #1359
@ManuelaS Thanks for doing such a great job on the review.  👍

[2019-06-24 00:09] peterjwatkins commented on #947
@arfon - I've realised what the issue is - I made a transcription error - the correct URL is http://doi.org/10.5281/zeonodo.3247971 - this is correctly resolving

[2019-06-24 00:11] peterjwatkins commented on #947
https://doi.org/10.5281/zenodo.3247971

[2019-06-24 00:22] lheagy commented on #1408
:wave: @arfon (sorry for asking this again, I know you told me the solution, but I couldn't find the issue where we corrected this elsewhere!): Is there a way to keep a block of code together on one page? Is it something along the lines of a `\clearpage` in the paper? Thanks for your help!

[2019-06-24 00:34] arfon commented on #947
@whedon set 10.5281/zenodo.3247971 as archive

[2019-06-24 00:34] whedon commented on #947
OK. <a href="https://doi.org/10.5281/zenodo.3247971" target="_blank">10.5281/zenodo.3247971</a> is the archive.

[2019-06-24 00:35] arfon commented on #947
@whedon accept

[2019-06-24 00:35] whedon commented on #947
[code]

[2019-06-24 00:35] whedon commented on #947
[code]

[2019-06-24 00:35] whedon commented on #947
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/790

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/790, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-24 00:35] arfon commented on #1408
I think you can do `\newpage` ?

[2019-06-24 00:36] arfon commented on #947
@whedon generate pdf

[2019-06-24 00:36] whedon commented on #947
[code]

[2019-06-24 00:37] whedon commented on #947
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00947/joss.00947/10.21105.joss.00947.pdf)

[2019-06-24 00:38] arfon commented on #947
@whedon accept deposit=true

[2019-06-24 00:38] whedon commented on #947
[code]

[2019-06-24 00:38] whedon commented on #947
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1142955236702769154) 👈 🐦🐦🐦

[2019-06-24 00:38] whedon commented on #947
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/791
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00947](https://doi.org/10.21105/joss.00947)
2. If everything looks go

[2019-06-24 00:42] csoneson commented on #1505
@osorensen Thanks for your review!
@Amalan-ConStat Could you briefly summarize how you addressed @jjharden's comments above, to make it easier for him to have a second look? Regarding his point 3, it looks like most of the current unit tests are checking that the functions fail if given invalid input - could you also add some tests that confirm that they produce the correct output for given inputs

[2019-06-24 00:42] arfon commented on #947
@alexpghayes - many thanks for your review here ✨

@peterjwatkins - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-24 00:42] #947 closed

[2019-06-24 00:42] whedon commented on #947
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00947/status.svg)](https://doi.org/10.21105/joss.00947)

**We need your help!**

Journal of Open Source Softwar

[2019-06-24 00:45] peterjwatkins commented on #947
Thanks @arfon and @alexpghayes, it's been a great learning experience.

[2019-06-24 01:12] jdrugo commented on #1359
@usethedata Thank you for checking the DOI's/URL's and sorry for the mix-up. The first seemed to be a copy/paste error. The second was an error on the NeurIPS webpage. There is no DOI for the article itself (there rarely are for NeurIPS papers), but I have added the URL. They should now be both fixed.

[2019-06-24 04:16] boshek commented on #791
@danielskatz sorry Daniel I haven't been able to prioritize this. I am very much still interested but my foreseable calendar is pretty full. Thank you for pinging me. I will endeavour to re-test this.

[2019-06-24 08:22] connorourke commented on #1306
I've archived the code in Zenodo - DOI:  10.5281/zenodo.3253650

Thanks for taking the time to review @katyhuff & @mkhorton.

[2019-06-24 08:26] mkhorton commented on #1306
@connorourke No problem, glad to see this code available to use!

[2019-06-24 09:26] wojciech-n commented on #1327
@labarba, I hope I did everything correctly:
- I tagged the version as 1.0.2
- here is the link to the archived release: https://zenodo.org/record/3253714
- Zenodo DOI: 10.5281/zenodo.3253714

[2019-06-24 09:46] RomainAzais commented on #1351
Hello!
Thanks for your positive reviews and comments.
I have few questions on the article proof:
- The link `Archive` in the left column (under Software) is not active. It should point to [https://anaconda.org/MOSAIC/treex].
- Could it be possible to add a link to the documentation ([https://azais.gitlabpages.inria.fr/treex]) at this location (left column, under Software)?
- Since the repository a

[2019-06-24 11:02] arfon commented on #1351
Hi @RomainAzais, the `Archive` link will become active when you make an archive of the software as requested by @VivianePons in [this comment above](https://github.com/openjournals/joss-reviews/issues/1351#issuecomment-503943781).

We ask that all authors make an archive of their software at the end of their review using a service such as figshare or Zenodo.

I'm afraid we don't support customizin

[2019-06-24 11:44] usethedata commented on #1359
@whedon generate pdf

[2019-06-24 11:44] whedon commented on #1359
[code]

[2019-06-24 11:44] whedon commented on #1359
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01359/joss.01359/10.21105.joss.01359.pdf)

[2019-06-24 11:49] RomainAzais commented on #1351
OK, understood.

No worries.

OK. I'll come back with the new version and the Zenodo archive.

[2019-06-24 12:04] usethedata commented on #1359
@jdrugo No problems.  Part of the services provided by your friendly neighborhood topic editor.  We're good to go on this.  Please create an archive copy on zenodo, and post back with the DOI.  I'll update the version based on what gets archived and then set the archive doi.

[2019-06-24 12:05] usethedata commented on #1359
@whedon check references

[2019-06-24 12:05] whedon commented on #1359
[code]

[2019-06-24 12:06] whedon commented on #1359
[code]

[2019-06-24 12:52] VivianePons commented on #1351
Just to let you know that I'm still here. I set up the ooo because I'm not taking new papers but whenever you have the zenodo, I will finish it up here (and update the version number accordingly)

[2019-06-24 13:06] dhhagan commented on #1480
Hey @arfon I'm trying to complete the review now, but it appears the invite to the repository/issue didn't work and I can't seem to update the checkboxes above. Is there something I'm missing..?

[2019-06-24 13:34] RomainAzais commented on #1351
I updated the paper and the bibtex file according to the comments above.
Here is the link of the Zenodo archive: https://zenodo.org/record/3254416 (the DOI is 10.5281/zenodo.3254416).
Let me know if something goes wrong.

[2019-06-24 13:38] VivianePons commented on #1351
@whedon set 10.5281/zenodo.3254416  as archive

[2019-06-24 13:38] whedon commented on #1351
OK. <a href="https://doi.org/10.5281/zenodo.3254416" target="_blank">10.5281/zenodo.3254416</a> is the archive.

[2019-06-24 13:38] VivianePons commented on #1351
@whedon set 1.2.0 as version

[2019-06-24 13:38] whedon commented on #1351
OK. 1.2.0 is the version.

[2019-06-24 13:40] VivianePons commented on #1351
Perfect :) :) Your paper is now officially accepted in JOSS. Thank you very much all of you for your work on this! I leave it to @openjournals/joss-eics

[2019-06-24 13:44] katyhuff commented on #1306
@whedon set 10.5281/zenodo.3253650 as archive

[2019-06-24 13:44] whedon commented on #1306
OK. <a href="https://doi.org/10.5281/zenodo.3253650" target="_blank">10.5281/zenodo.3253650</a> is the archive.

[2019-06-24 13:46] katyhuff commented on #1306
@connorourke : The metadata in the DOI must match the JOSS metadata. Currently, the title of your DOI is "connorourke/crystal_torture: JOSS reviewed release" and the JOSS submission title is "crystal-torture: A crystal tortuosity module". You should be able to edit the zenodo metadata.. Could you please be sure that the DOI metadata (title, authors, etc.) matches this JOSS submission and let me kn

[2019-06-24 13:48] arfon commented on #1480
@dhhagan - you'll need to accept this invite (shown at the top of this page) https://github.com/openjournals/joss-reviews/invitations

[2019-06-24 13:49] arfon commented on #1351
@whedon accept

[2019-06-24 13:49] whedon commented on #1351
[code]

[2019-06-24 13:50] whedon commented on #1351
[code]

[2019-06-24 13:50] whedon commented on #1351
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/792

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/792, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-24 13:52] arfon commented on #1351
@whedon accept deposit=true

[2019-06-24 13:52] whedon commented on #1351
[code]

[2019-06-24 13:53] whedon commented on #1351
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1143155139412484096) 👈 🐦🐦🐦

[2019-06-24 13:53] whedon commented on #1351
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/793
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01351](https://doi.org/10.21105/joss.01351)
2. If everything looks go

[2019-06-24 13:54] arfon commented on #1351
@VivianePons, @dvberkel - many thanks for your reviews here and to @VivianePons for editing the submission too ✨

@RomainAzais - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-24 13:54] #1351 closed

[2019-06-24 13:54] whedon commented on #1351
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01351/status.svg)](https://doi.org/10.21105/joss.01351)

**We need your help!**

Journal of Open Source Softwar

[2019-06-24 13:56] connorourke commented on #1306
Hi @katyhuff - the metadata should match now. Thanks

[2019-06-24 14:23] katyhuff commented on #1306
I see there's a new version, and the subtitle has changed in that version, but the title seems to have remained the same. This is clear from the heading on the landing page as well as the title in the bibtex export.

![image](https://user-images.githubusercontent.com/393899/60026675-9d814680-9661-11e9-9eb2-017f070d872d.png)

[code]

[2019-06-24 14:27] ts-chris commented on #1519
@whedon generate pdf from branch joss_paper

[2019-06-24 14:27] whedon commented on #1519
[code]

[2019-06-24 14:27] whedon commented on #1519
PDF failed to compile for issue #1519 with the following error:

 Error producing PDF.
! LaTeX Error: File `float.sty' not found.

Type X to quit or <RETURN> to proceed,
or enter new name. (Default extension: sty)

Enter file name:
! Emergency stop.
<read *>

l.255 \floatplacement

Looks like we failed to compile the PDF

[2019-06-24 14:31] ts-chris commented on #1519
@whedon generate pdf from branch joss_paper

[2019-06-24 14:31] whedon commented on #1519
[code]

[2019-06-24 14:31] whedon commented on #1519
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01519/joss.01519/10.21105.joss.01519.pdf)

[2019-06-24 14:41] strengejacke commented on #1412
@whedon generate pdf

[2019-06-24 14:41] whedon commented on #1412
[code]

[2019-06-24 14:42] whedon commented on #1412
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01412/joss.01412/10.21105.joss.01412.pdf)

[2019-06-24 14:51] connorourke commented on #1306
Hi @katyhuff - metadata should now be correct on version:
https://doi.org/10.5281/zenodo.3254426

Let me know if there any more issues.

[2019-06-24 15:07] strengejacke commented on #1412
Hi @alexpghayes

we have revised the paper, package and docs according to your last comments. Let me provide a point-by-point statement again to report the changes we made.

See our discussion above, for now we decided to stick to the function names, but we're thinking about introducing aliases where it make sense and doesn't obscure the documentation.

We revised the paper and the docs by restruc

[2019-06-24 15:07] strengejacke commented on #1412
@whedon generate pdf

[2019-06-24 15:07] whedon commented on #1412
[code]

[2019-06-24 15:08] whedon commented on #1412
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01412/joss.01412/10.21105.joss.01412.pdf)

[2019-06-24 15:13] lheagy commented on #1408
:wave: @rheiland, would you like to try updating the paper so that the codeblock isn't split over two pages? (e.g. use a `\newpage` before to push all of the content to a new page)

[2019-06-24 15:15] katyhuff commented on #1306
@whedon set 10.5281/zenodo.3254426 as archive

[2019-06-24 15:15] whedon commented on #1306
OK. <a href="https://doi.org/10.5281/zenodo.3254426" target="_blank">10.5281/zenodo.3254426</a> is the archive.

[2019-06-24 15:18] katyhuff commented on #1306
@connorourke : Is  v1.0.08 the desired version?

- v.1.0.08  is what zenodo says
- v.1.0.08 is also the version on github https://github.com/connorourke/crystal_torture/releases
- but the submission was v.1.0.3

[2019-06-24 15:23] Amalan-ConStat commented on #1505
As requested I was now added a few more but clear tests focusing on the outputs for the functions pxxxBin,
EstMLExxx and NegLLxxx. Most of these tests are for checking if produce exact values and if their outputs of necessary classes.

[2019-06-24 15:26] connorourke commented on #1306
Hi @katyhuff, yes v1.0.08 is the correct version. There have been a few changes from the review, so the version has bumped.

Thanks

[2019-06-24 15:29] katyhuff commented on #1306
@whedon set v.1.0.08 as version

[2019-06-24 15:29] whedon commented on #1306
OK. v.1.0.08 is the version.

[2019-06-24 15:32] arokem commented on #1427
@fabian-s : have you had a chance to take another look?

[2019-06-24 15:37] katyhuff commented on #1306
@whedon accept

[2019-06-24 15:37] whedon commented on #1306
[code]

[2019-06-24 15:37] whedon commented on #1306
[code]

[2019-06-24 15:37] katyhuff commented on #1306
@openjournals/joss-eics this is ready to accept!

[2019-06-24 15:37] whedon commented on #1306
PDF failed to compile for issue #1306 with the following error:

 sh: 54: Syntax error: newline unexpected
Looks like we failed to compile the Crossref XML

[2019-06-24 15:38] katyhuff commented on #1306
@openjournals/jose-eics This is ready to accept, but I'm not sure what this crossref xml error is about ^^ .

[2019-06-24 15:52] rheiland commented on #1408
@lheagy If you're saying to literally add that command to the paper.md (before the XML code block), I did so, and pushed it. But I confess I don't understand the magic you use to generate the pdf from the .md. As you can see from https://github.com/rheiland/xml2jupyter/blob/master/paper/gen_pdf.sh , I came up with my own hack to generate a .pdf, which didn't split the XML block across pages, fwiw:

[2019-06-24 15:55] fabian-s commented on #1427
Sorry for the delay, I was travelling. Seems fine now. Mayybe add a DOI to the JSS R2WinBUGS paper as well?

[2019-06-24 15:58] arokem commented on #1420
@whedon generate pdf

[2019-06-24 15:59] whedon commented on #1420
[code]

[2019-06-24 15:59] whedon commented on #1420
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01420/joss.01420/10.21105.joss.01420.pdf)

[2019-06-24 16:03] becarioprecario commented on #1317
Hi,

I am done with my review now. The package and its documentation are excellent!! I had some troubles with the installation, but due to my local configuration. Installing the package with pip run smoothly.

Best,

Virgilio

[2019-06-24 16:17] kyleniemeyer commented on #1306
Hmm I can't see any issues with the paper that are obvious to me—it compiled ok a few days ago. @arfon ?

[2019-06-24 16:20] kyleniemeyer commented on #1516
@dap-biospec one or two potential reviewers from your domain would be very helpful—they don't have to be software developers

[2019-06-24 16:23] kyleniemeyer commented on #1005
Hi @slithiaote, all of @tpetricek's comments above are valid and appropriate from my point of view. Can you address or respond to each?

[2019-06-24 16:24] kyleniemeyer commented on #1456
Just a quick update: I am still working to find a second reviewer. I sent out a handful of emails without any success so far.

[2019-06-24 16:27] kyleniemeyer commented on #1456
@peircej @JonathanReardon @lindemann09 would any of you be willing to review this submission?

[2019-06-24 16:28] kyleniemeyer commented on #1173
@pankajkmishra no worries—I'm going to set an automated reminder for another week from now.

[2019-06-24 16:28] kyleniemeyer commented on #1173
@whedon remind @pankajkmishra in 1 week

[2019-06-24 16:28] whedon commented on #1173
Reminder set for @pankajkmishra in 1 week

[2019-06-24 16:32] adswa commented on #1456
Thanks @kyleniemeyer for keeping us up to date - this transparency and communication is highly appreciated!

[2019-06-24 16:53] katyhuff commented on #1306
@whedon generate pdf

[2019-06-24 16:54] whedon commented on #1306
[code]

[2019-06-24 16:54] whedon commented on #1306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01306/joss.01306/10.21105.joss.01306.pdf)

[2019-06-24 16:57] arfon commented on #1408
@whedon generate pdf

[2019-06-24 16:57] whedon commented on #1408
[code]

[2019-06-24 16:58] whedon commented on #1408
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01408/joss.01408/10.21105.joss.01408.pdf)

[2019-06-24 16:59] arfon commented on #1408
@rheiland you can run `@whedon generate pdf` yourself too :-) The command we're running is a bit of a monster: https://github.com/openjournals/whedon/blob/c34e1031c081b4e24cd7141023ed81b643c04364/lib/whedon/compilers.rb#L126-L149

[2019-06-24 16:59] kyleniemeyer commented on #1306
Ah, so it appears the issue is just with CrossRef.

[2019-06-24 17:02] arfon commented on #1306
@whedon accept

[2019-06-24 17:02] whedon commented on #1306
[code]

[2019-06-24 17:02] whedon commented on #1306
[code]

[2019-06-24 17:02] whedon commented on #1306
PDF failed to compile for issue #1306 with the following error:

 sh: 54: Syntax error: newline unexpected
Looks like we failed to compile the Crossref XML

[2019-06-24 17:08] gvegayon commented on #1427
Hey

Done, and added another MCMC R package/paper that was relevant for the literature review. @fabian-s I will close the issues you started. Thanks!

[2019-06-24 17:11] gvegayon commented on #1427
Also, the travis-ci build is failing in Mac due to an issue regarding LaTeX (which I cannot control). Windows and Ubuntu is building OK.

[2019-06-24 17:38] lpantano commented on #1496
I will ask about that, but probably we can start the review process. Thanks

[2019-06-24 17:39] lpantano commented on #1496
@whedon add  @arunhpatil as reviewer

[2019-06-24 17:39] whedon commented on #1496
OK,  @arunhpatil is now a reviewer

[2019-06-24 17:40] lpantano commented on #1496
@whedon start review

[2019-06-24 17:40] whedon opened #1520 "[REVIEW]: CGIMP: Real-time exploration and covariate projection for self-organizing map datasets'"
**Submitting author:** @adadiehl (<a href="http://orcid.org/0000-0002-0915-4570">Adam Diehl</a>)
**Repository:** <a href="https://github.com/Boyle-Lab/CGIMP" target ="_blank">https://github.com/Boyle-Lab/CGIMP</a>
**Version:** 1.0.0
**Editor:** @lpantano
**Reviewers:** @adriancbondia, @ @arunhpatil, @arunhpatil
**Archive:** <a href="https://doi.org/10.5281/zenodo.3276069" target="_blank">10.5281/z

[2019-06-24 17:40] whedon commented on #1496
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1520. Feel free to close this issue now!

[2019-06-24 17:40] whedon commented on #1520
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adriancbondia, @ @arunhpatil it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're p

[2019-06-24 17:40] whedon commented on #1520
[code]

[2019-06-24 17:40] whedon commented on #1520
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01520/joss.01520/10.21105.joss.01520.pdf)

[2019-06-24 18:23] arfon commented on #1306
Just a heads up that I'm working on this. It looks like Crossref is having some issues right now and I'm processing the acceptance manually.

[2019-06-24 18:49] AliYoussef96 commented on #1500
Kindly I'm asking when the reviewing process will start.

[2019-06-24 19:03] arokem commented on #1420
@whedon generate pdf

[2019-06-24 19:03] whedon commented on #1420
[code]