[2019-08-20 15:24] RHagenson commented on #1645
@lpantano Not done with the examples (they are being developed on `examples` branch), but I wanted to update you that I will be doing two types of examples:
1. Individual documentation example, i.e. examples that will display in the documentation built with `godoc` that show usage of individual elements
2. Aggregate examples, i.e. examples that use multiple elements together

[2019-08-20 15:32] oliviaguest commented on #1652
@whedon add @dmbates as reviewer

[2019-08-20 15:32] whedon commented on #1652
OK, @dmbates is now a reviewer

[2019-08-20 15:50] arokem commented on #1587
This looks good to me

@openjournals/joss-eics : I believe that this paper is ready for your review.

[2019-08-20 15:53] fauvernierma commented on #1434
The zenodo archive is available here
https://zenodo.org/record/3372656#.XVwXIN-6_cs

The corresponding DOI is : 10.5281/zenodo.3372656

Thanks

[2019-08-20 16:33] csoneson commented on #1653
@jdeligt, @jkanche - thanks a lot! I'll assign you as reviewers and start the review issue.

[2019-08-20 16:33] csoneson commented on #1653
@whedon assign @jdeligt as reviewer

[2019-08-20 16:34] whedon commented on #1653
OK, the reviewer is @jdeligt

[2019-08-20 16:34] csoneson commented on #1653
@whedon add @jkanche as reviewer

[2019-08-20 16:34] whedon commented on #1653
OK, @jkanche is now a reviewer

[2019-08-20 16:34] csoneson commented on #1653
@whedon start review

[2019-08-20 16:34] whedon opened #1665 "[REVIEW]: molic: An R package for multivariate outlier detection in contingency tables"
**Submitting author:** @mlindsk (<a href="http://orcid.org/0000-0002-1033-697X">Mads Lindskou</a>)
**Repository:** <a href="https://github.com/mlindsk/molic" target ="_blank">https://github.com/mlindsk/molic</a>
**Version:** v1.0.0
**Editor:** @csoneson
**Reviewer:** @jdeligt, @jkanche
**Archive:** <a href="https://doi.org/10.5281/zenodo.3475854" target="_blank">10.5281/zenodo.3475854</a>

## Stat

[2019-08-20 16:34] whedon commented on #1653
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1665. Feel free to close this issue now!

[2019-08-20 16:34] whedon commented on #1665
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jdeligt, @jkanche it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-08-20 16:34] whedon commented on #1665
[code]

[2019-08-20 16:34] #1653 closed

[2019-08-20 16:35] whedon commented on #1665
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01665/joss.01665/10.21105.joss.01665.pdf)

[2019-08-20 16:36] csoneson commented on #1665
@jdeligt, @jkanche - please perform your review here, following the instructions in the post above. Don't hesitate to ping me if you have questions.
@mlindsk - please have a look at the points in the reviewer checklists above and make sure that all required parts are included in your submission, or add them already now :)

[2019-08-20 16:42] ahwillia commented on #1652
Sure I can review. It may take me a couple weeks to get around to this.

[2019-08-20 16:49] oliviaguest commented on #1652
@ahwillia so in about 2 weeks you think you can get started?

[2019-08-20 16:50] vsoch commented on #1603
Whomever checked my version box, thanks! I was just checking it now :)

[2019-08-20 16:53] ornlpmcp commented on #1656
Dear @zhampel

I addressed most of your comments. The original text was misleading that there are many tools for scientists who are not programming experts. I edited the text as follows:

"However, most existing big data tools, systems, and methodologies have been developed for programming experts but not for scientists (or any users) who have no or little knowledge of programming. "

The main pur

[2019-08-20 17:09] stsievert commented on #1655
Thanks for the submission @torressa! This package looks pretty good.

The biggest improvements I see are documentation, specifically with the statement of need and a use of the software.

* I think the "statement of need" could use work, in the paper and especially in the documentation. I don't see any motivating reasons on why I, a grad student studying optimization (but not an expert on shortest

[2019-08-20 17:15] ahwillia commented on #1652
Yes - I have a few deadlines and am wrapping up summer travel, so in 2
weeks I'll have some time.

On Tue, Aug 20, 2019 at 12:49 PM Olivia Guest <notifications@github.com>
wrote:

[2019-08-20 17:59] mbobra commented on #1557
@whedon remove @wtgee as reviewer

[2019-08-20 17:59] whedon commented on #1557
OK, @wtgee is no longer a reviewer

[2019-08-20 18:00] mbobra commented on #1557
@whedon add @mbobra as reviewer

[2019-08-20 18:00] whedon commented on #1557
OK, @mbobra is now a reviewer

[2019-08-20 18:04] mbobra commented on #1557
@swapsha96 I'm reviewer for this submission now. I will start reviewing this week, but I probably won't finish until next week. I'm really sorry about the delay.

[2019-08-20 18:10] csoneson commented on #1434
@whedon check references

[2019-08-20 18:10] whedon commented on #1434
[code]

[2019-08-20 18:11] whedon commented on #1434
[code]

[2019-08-20 18:21] swapsha96 commented on #1557
No problem. Thanks for letting me know.

[2019-08-20 18:21] kyleniemeyer commented on #1614
@whedon accept

[2019-08-20 18:22] whedon commented on #1614
[code]

[2019-08-20 18:22] whedon commented on #1614
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/911

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/911, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-20 18:24] kyleniemeyer commented on #1614
@whedon accept deposit=true

[2019-08-20 18:24] whedon commented on #1614
[code]

[2019-08-20 18:25] whedon commented on #1614
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1163879625967230976) 👈 🐦🐦🐦

[2019-08-20 18:25] whedon commented on #1614
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/912
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01614](https://doi.org/10.21105/joss.01614)
2. If everything looks go

[2019-08-20 18:26] kyleniemeyer commented on #1614
Congrats @kbg on your article's publication in JOSS! Many thanks to @xuanxu for editing,
and @mgckind and @aureliocarnero for reviewing.

[2019-08-20 18:26] #1614 closed

[2019-08-20 18:26] whedon commented on #1614
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01614/status.svg)](https://doi.org/10.21105/joss.01614)

**We need your help!**

Journal of Open Source Softwa

[2019-08-20 18:43] leouieda commented on #1657
@danielskatz no problem, I'd be happy to edit this submission!

[2019-08-20 18:44] nhejazi commented on #1509
@sayanddude Thank you for quickly addressing our concerns, including the addition of the DOIs to all references (where possible). I've gone ahead and completed the reviewer checklist available to me and am ready to recommend the software paper for acceptance into JOSS. There may yet be other concerns to address but I do think the paper and R package are close.

[2019-08-20 18:58] kyleniemeyer commented on #1621
Hi @MatthewFlamm, I'm nearly ready to accept this, but I noticed that in the paper Figure 1 isn't referenced/discussed in the text. Could you add a sentence or two that does this?

[2019-08-20 19:10] danielskatz commented on #1657
@whedon assign @leouieda as editor

[2019-08-20 19:10] whedon commented on #1657
OK, the editor is @leouieda

[2019-08-20 19:15] kyleniemeyer commented on #1587
@whedon set 10.5281/zenodo.3371922 as archive

[2019-08-20 19:15] whedon commented on #1587
OK. <a href="https://doi.org/10.5281/zenodo.3371922" target="_blank">10.5281/zenodo.3371922</a> is the archive.

[2019-08-20 19:52] MatthewFlamm commented on #1621
@whedon generate pdf

[2019-08-20 19:52] whedon commented on #1621
[code]

[2019-08-20 19:53] whedon commented on #1621
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01621/joss.01621/10.21105.joss.01621.pdf)

[2019-08-20 20:01] MatthewFlamm commented on #1621
@kyleniemeyer I added the generating code for Figure 1 as an example usage.  The formatting now isn't my favorite with the code snippet after the figure, but I think it still all makes sense.  The code can simply be pasted in IPython, for example, and run after installing rtdpy and matplotlib.  `plt.show()` may or may not be necessary depending on the setup of the IPython console and matplotlib se

[2019-08-20 20:29] casperdcl commented on #1664
# Review

Thought I'd be über quick about this, considering how small the work is it was very easy to review.

## A statement of need

- https://github.com/liashchynskyi/rudi/blame/88b3ed52ef557cba9f2f4db9280c861caa0b86d1/paper/paper.md#L39-L566: Excessive repetition defining the concept of "data augmentation" and justifying its existence, which doesn't seem to a point which needs debate.
- The pa

[2019-08-20 20:36] kyleniemeyer commented on #1621
@MatthewFlamm I like what you added—code snippets like that are definitely encouraged when practical.

[2019-08-20 20:38] monogan commented on #1542
Hi everyone. I apologize that I did not get to this review in time. I full intended to do this, but clearly I wasn't able to get to it in a timely fashion. Please forgive me for not respecting your time, and please keep an eye on your mail for a token of my regret.

[2019-08-20 20:53] kyleniemeyer commented on #1621
@whedon accept

[2019-08-20 20:53] whedon commented on #1621
[code]

[2019-08-20 20:54] whedon commented on #1621
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/913

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/913, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-20 21:07] MatthewFlamm commented on #1621
OH do I need a new zenodo archive?

[2019-08-20 22:26] kyleniemeyer commented on #1621
@MatthewFlamm nope, since the software wasn't changed—the final paper itself is archived by us.

[2019-08-20 22:26] kyleniemeyer commented on #1621
@whedon accept deposit=true

[2019-08-20 22:26] whedon commented on #1621
[code]

[2019-08-20 22:27] whedon commented on #1621
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1163940556373970950) 👈 🐦🐦🐦

[2019-08-20 22:27] whedon commented on #1621
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/914
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01621](https://doi.org/10.21105/joss.01621)
2. If everything looks go

[2019-08-20 22:36] kyleniemeyer commented on #1621
Congrats @MatthewFlamm on your article's publication in JOSS! Many thanks to @xuanxu for editing, and @ctdegroot and @dandavies99 for reviewing.

[2019-08-20 22:36] #1621 closed

[2019-08-20 22:36] whedon commented on #1621
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01621/status.svg)](https://doi.org/10.21105/joss.01621)

**We need your help!**

Journal of Open Source Softwa

[2019-08-20 22:59] kyleniemeyer commented on #1587
Hi @frycast, I made some minor copy edits in two PRs, if you could merge those: https://github.com/frycast/studentlife/pull/9 and https://github.com/frycast/studentlife/pull/10

[2019-08-20 23:25] frycast commented on #1587
Thanks @kyleniemeyer . I've merged them both.

[2019-08-20 23:38] arfon commented on #1664
Thanks for your review @casperdcl. It sounds like this package might fall foul of our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) that explicitly call out 'minor utilities' as not allowable in JOSS:

In your opinion does this package fall into that category?

[2019-08-21 00:45] terrytangyuan commented on #1566
👋  @gvegayon @TrashBirdEcology I think this is ready for another round of review whenever you get a chance. Thanks!

[2019-08-21 00:46] terrytangyuan commented on #1651
@kmzzhang Could you take a look at @shreyasbapat's suggestion? We should be ready to move on after that.

[2019-08-21 02:34] Cavenfish commented on #1612
@jedbrown @shivupa @arosen93 @colleeneb

I believe all the new features should be fully functional and reflected properly in the README and JOSS paper. I await feedback from you all, thanks again for the time and effort.

[2019-08-21 02:34] dap-biospec commented on #1629
@tcausgrove, @FaustinCarter Demo experiment, description, and the manual were updated per requests by @tcausgrove: extra parameters and the post-processing function illustrations.

We believe that we addressed all the issues required by the reviewers. In the absence of additional requests, we hope that the review can be completed soon.

cc: @kyleniemeyer

[2019-08-21 02:37] dap-biospec commented on #1532
Hi @cfneese, @kyleniemeyer, is there anything else that we can do to move the review forward?

[2019-08-21 03:23] arosen93 commented on #1612
@jedbrown, @Cavenfish This is an excellent update to AutoGAMESS that I think really strengthens the use-cases for the code. I also like the ability to generate the scaling factors. The only remaining suggestion I have is to add a formal test case that generates an example IR and/or Raman plot (just like you have in the README) to confirm that this part of the code doesn't break. As long as the cod

[2019-08-21 03:34] sayanddude commented on #1509
@nhejazi Thank you so much!

[2019-08-21 04:20] jdeligt commented on #1665
@mlindsk could you please confirm when you have gone through the checklist. I can't find a version/release; https://github.com/mlindsk/molic/issues/11.

[2019-08-21 05:42] mlindsk commented on #1665
@jdeligt I have now gone through the list and I have made a release v1.0.0.

[2019-08-21 06:09] arose commented on #1461
The installation went smoothly. I agree with @jmborr that `npm install csaransh-server` should be added to the instructions.

There are a few dois missing.

[2019-08-21 06:19] csoneson commented on #1434
@whedon set 10.5281/zenodo.3372656 as archive

[2019-08-21 06:19] whedon commented on #1434
OK. <a href="https://doi.org/10.5281/zenodo.3372656" target="_blank">10.5281/zenodo.3372656</a> is the archive.

[2019-08-21 06:20] csoneson commented on #1434
@whedon set v1.2.0 as version

[2019-08-21 06:20] whedon commented on #1434
OK. v1.2.0 is the version.

[2019-08-21 06:22] csoneson commented on #1434
@fauvernierma - one final thing. I went through the paper again and found a typo; I fixed it and sent a PR.

[2019-08-21 06:29] kmzzhang commented on #1651
@whedon generate pdf

[2019-08-21 06:29] whedon commented on #1651
[code]

[2019-08-21 06:30] whedon commented on #1651
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01651/joss.01651/10.21105.joss.01651.pdf)

[2019-08-21 06:34] kmzzhang commented on #1651
@shreyasbapat I've added the network architecture figure in the paper. I also added both figure caption to the main text because they're not showing up as figure captions. Please let me know if this is the optimal way to do it. Thanks!

[2019-08-21 07:16] arose commented on #1461
The IAEA challenge shows a need for visualization and analysis tools for collisional cascade molecular dynamics simulation data. Are the results of the challenge available somewhere? I could not find it on their website?

[2019-08-21 07:47] nuest commented on #1603
Zenodo repository: https://zenodo.org/record/3373289

DOI: `10.5281/zenodo.3373289`

[2019-08-21 07:47] fauvernierma commented on #1434
Ok I just merged it

Thank you @csoneson

[2019-08-21 07:48] terrytangyuan commented on #1603
@whedon set 10.5281/zenodo.3373289 as doi

[2019-08-21 07:48] fauvernierma commented on #1434
@whedon generate pdf

[2019-08-21 07:48] whedon commented on #1434
[code]

[2019-08-21 07:48] whedon commented on #1434
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01434/joss.01434/10.21105.joss.01434.pdf)

[2019-08-21 07:49] csoneson commented on #1434
@whedon accept

[2019-08-21 07:50] whedon commented on #1434
[code]

[2019-08-21 07:50] terrytangyuan commented on #1603
@whedon set 10.5281/zenodo.3373289 as archive

[2019-08-21 07:50] whedon commented on #1434
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/915

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/915, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-21 07:50] whedon commented on #1603
OK. <a href="https://doi.org/10.5281/zenodo.3373289" target="_blank">10.5281/zenodo.3373289</a> is the archive.

[2019-08-21 07:51] csoneson commented on #1434
@openjournals/joss-eics - we are ready to accept this paper!

[2019-08-21 07:51] terrytangyuan commented on #1603
@whedon check references

[2019-08-21 07:51] whedon commented on #1603
[code]

[2019-08-21 07:51] whedon commented on #1603
[code]

[2019-08-21 07:52] terrytangyuan commented on #1603
@whedon accept

[2019-08-21 07:52] whedon commented on #1603
[code]

[2019-08-21 07:53] whedon commented on #1603
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/916

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/916, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-21 07:55] terrytangyuan commented on #1603
This paper looks good to me now. I am handing this over to our editors-in-chief now. @openjournals/joss-eics

[2019-08-21 08:19] timClicks commented on #1658
Sure :)

On Wed, 21 Aug 2019, 01:05 Daniel S. Katz <notifications@github.com wrote:

[2019-08-21 08:28] oliviaguest commented on #1652
@whedon add @ahwillia as reviewer

[2019-08-21 08:28] whedon commented on #1652
OK, @ahwillia is now a reviewer

[2019-08-21 08:43] torressa commented on #1655
Thanks @stsievert for the comments and your prompt review :)
Really appreciate the comments. I'll raise them as separate issues and work on them in the coming days.

[2019-08-21 09:38] maxibor commented on #1540
Hi @lpantano, @will-rowe could also be a good match for this

[2019-08-21 10:10] casperdcl commented on #1664
@arfon yes, while it may be a useful package it really does seem to be a thin API wrapper that could be present in *Augmentor*.

[2019-08-21 10:41] mikldk commented on #1607
Here is a blog post demonstrating usage of the package: <https://mikl.dk/post/2019-pizza-frozen-yogurt/> (mainly under the "Finding the optimal consumption" section).

[2019-08-21 11:03] arfon commented on #1664
OK thanks @casperdcl.

@nnadeau - could you give your opinion on [this question](https://github.com/openjournals/joss-reviews/issues/1664#issuecomment-523236126) too?

[2019-08-21 11:29] colleeneb commented on #1612
I also think this strengthens the use-cases for AutoGAMESS. It was a lot of nice work!  I have no additional comments either.

[2019-08-21 11:49] oliviaguest commented on #1652
@whedon start review

[2019-08-21 11:49] whedon opened #1666 "[REVIEW]: UncertainData.jl: a Julia package for working with measurements and datasets with uncertainties"
**Submitting author:** @kahaaga (<a href="http://orcid.org/0000-0001-6880-8725">Kristian Agasøster Haaga</a>)
**Repository:** <a href="https://github.com/kahaaga/UncertainData.jl" target ="_blank">https://github.com/kahaaga/UncertainData.jl</a>
**Version:** v0.8.2
**Editor:** @oliviaguest
**Reviewer:** @dmbates, @ahwillia
**Archive:** <a href="https://doi.org/10.5281/zenodo.3522252" target="_blank

[2019-08-21 11:49] whedon commented on #1652
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1666. Feel free to close this issue now!

[2019-08-21 11:49] whedon commented on #1666
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dmbates, @ahwillia it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-08-21 11:49] whedon commented on #1666
[code]

[2019-08-21 11:50] #1652 closed

[2019-08-21 11:50] whedon commented on #1666
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01666/joss.01666/10.21105.joss.01666.pdf)

[2019-08-21 11:55] oliviaguest commented on #1666
👋 @dmbates, @ahwillia — This is where the action happens. You both have a review checklist to work your way through. Feel free to post questions here and open review issues in [the submission repository](https://github.com/kahaaga/UncertainData.jl).

[2019-08-21 12:21] will-rowe commented on #1540
Happy to review if needed.

[2019-08-21 12:23] fauvernierma commented on #1434
@whedon accept deposit=true

[2019-08-21 12:23] whedon commented on #1434
I'm sorry @fauvernierma, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2019-08-21 12:24] fauvernierma commented on #1434
Thank you very much for the whole review process

[2019-08-21 12:24] fauvernierma commented on #1434
Thank you very much for the whole review process

[2019-08-21 12:26] fauvernierma commented on #1434
Sorry, I thought it was for me to do it as @csoneson said she was ready to accept the paper

[2019-08-21 12:27] fauvernierma commented on #1434
Anyway the pdf and XML looks good to me

Thanks again

[2019-08-21 12:44] danielskatz commented on #1658
Thanks @timClicks - I'll add you, but we won't start the review until we get another reviewer as well.

[2019-08-21 12:45] danielskatz commented on #1658
@whedon assign @timClicks as reviewer

[2019-08-21 12:45] whedon commented on #1658
OK, the reviewer is @timClicks

[2019-08-21 12:51] danielskatz commented on #1658
👋 @dgarijo - would you be willing to review this submission for JOSS?  (If you haven't done this before, which I think is the case, you might want to take a look at the [JOSS review guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and specifically [JOSS review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html))

[2019-08-21 12:54] liashchynskyi commented on #1664
@casperdcl so what? No one can use dependencies, man? 😄

@arfon close this issue

[2019-08-21 13:01] katyhuff commented on #1461
Thanks @arose for your review!

Thank you @jmborr for your review efforts so far. Perhaps the remainder of your review could be revisited at this point (checkboxes at the top of the page).

@haptork, can you please respond (with changes to the code, install instructions, etc.) to the requests by the reviewers so far (i.e. the comment regarding adding the npm install command to the instructions, th

[2019-08-21 13:06] casperdcl commented on #1664
@liashchynskyi I don't have a problem with using dependencies (things like [nteract/papermill](https://github.com/nteract/papermill) even recommend you [extend them by only writing a minimal `setup.py` file and nothing else!](https://papermill.readthedocs.io/en/latest/extending-entry-points.html)), it's just as @arfon says not sure if it's appropriate for a JOSS publication.

[2019-08-21 13:13] liashchynskyi commented on #1664
ok, close the issue 😁 good luck, guys

Ср, 21 серп. 2019 16:06 користувач Casper da Costa-Luis <
notifications@github.com> пише:

[2019-08-21 13:14] liashchynskyi commented on #1664
oj, just close this issue 😀 good luck, guys

[2019-08-21 13:26] arfon commented on #1664
It sounds like you'd like to withdraw this submission @liashchynskyi? Can you confirm? If so, I'll go ahead and close this.

[2019-08-21 14:28] shivupa commented on #1612
I also agree! @Cavenfish has addressed all of the short-term comments I raised! The plotting test is a good idea.

[2019-08-21 15:06] mpetroff commented on #1628
@leouieda The review was completed a week and a half ago. I just released v2.5.3 with the changes made as a result of the review (mostly documentation / testing improvements) and a few unrelated bug fixes.

[2019-08-21 15:17] leouieda commented on #1628
Sorry, I just moved this week and forgot to set my away reminder. Will have
a look at the paper tonight and move on with acceptance.

[2019-08-21 15:39] kyleniemeyer commented on #1434
The final acceptance is up to the the JOSS editors-in-chief team—I will do some final checks first.

[2019-08-21 15:49] kyleniemeyer commented on #1587
@whedon generate pdf

[2019-08-21 15:49] whedon commented on #1587
[code]

[2019-08-21 15:50] whedon commented on #1587
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01587/joss.01587/10.21105.joss.01587.pdf)

[2019-08-21 15:52] kyleniemeyer commented on #1587
@whedon accept

[2019-08-21 15:52] whedon commented on #1587
[code]

[2019-08-21 15:52] whedon commented on #1587
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/917

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/917, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-21 15:53] kyleniemeyer commented on #1587
@whedon accept deposit=true

[2019-08-21 15:53] whedon commented on #1587
[code]

[2019-08-21 15:54] whedon commented on #1587
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1164204204317138945) 👈 🐦🐦🐦

[2019-08-21 15:54] whedon commented on #1587
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/918
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01587](https://doi.org/10.21105/joss.01587)
2. If everything looks go

[2019-08-21 15:58] kyleniemeyer commented on #1587
Congrats @frycast on your article's publication in JOSS! Many thanks to @arokem for editing, and @klmedeiros and @jminnier for reviewing this submission.

[2019-08-21 15:58] #1587 closed

[2019-08-21 15:58] whedon commented on #1587
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01587/status.svg)](https://doi.org/10.21105/joss.01587)

**We need your help!**

Journal of Open Source Softwa

[2019-08-21 16:05] fauvernierma commented on #1434
Ok, thank you

[2019-08-21 16:08] arokem commented on #1659
To facilitate a quick start for the review, let's try the shotgun approach:

@hagenw @danstowell @drscotthawley @keunwoochoi @jordipons (and @justinsalamon, in case you are interested):

Would one of you be willing to review this paper for the [Journal of Open Source Software](https://joss.theoj.org/)?

[2019-08-21 16:09] csoneson commented on #1434
/ooo Aug 22 until Sep 2

[2019-08-21 16:18] lpantano commented on #1540
@whedon add @will-rowe  as reviewer

[2019-08-21 16:18] whedon commented on #1540
OK, @will-rowe  is now a reviewer

[2019-08-21 16:18] lpantano commented on #1540
@whedon remove @giraola  as reviewer

[2019-08-21 16:19] whedon commented on #1540
OK, @giraola  is no longer a reviewer

[2019-08-21 16:22] DanielLenz commented on #1651
Thanks for adding the figures! I'm sure there a more optimal way to adjust the alignment/spacing and the caption; do you have any pointers, @terrytangyuan ?

[2019-08-21 16:32] kyleniemeyer commented on #1434
@fauvernierma  nearly there! We just need a few changes in the paper:

- One of our paper requirements is:

Could you add this at the beginning of your paper, introducing also what survival and net survival analysis are?
- I made two small PRs for the paper and bibliography, if you could merge those: https://github.com/fauvernierma/survPen/pull/19 and https://github.com/fauvernierma/survPen/pull/2

[2019-08-21 16:44] terrytangyuan commented on #1651
cc @openjournals/joss-eics who might have a better idea on how to fix it.

[2019-08-21 16:47] kyleniemeyer commented on #1603
Hi @nuest—I did some minor final copyediting, if you could merge these PRs: https://github.com/o2r-project/containerit/pull/166 and https://github.com/o2r-project/containerit/pull/167

[2019-08-21 16:53] kyleniemeyer commented on #1651
@kmzzhang if you put the figures on their own lines, the positioning should be better; you can also add captions:
[code]

[2019-08-21 17:08] kyleniemeyer commented on #1603
@whedon generate pdf

[2019-08-21 17:08] whedon commented on #1603
[code]

[2019-08-21 17:09] nuest commented on #1603
Merged! Would you like me to update the Zenodo deposit (and get a new DOI) ?

[2019-08-21 17:09] kyleniemeyer commented on #1603
@nuest that isn't necessary, since JOSS archives the final version of the paper itself

[2019-08-21 17:09] whedon commented on #1603
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01603/joss.01603/10.21105.joss.01603.pdf)

[2019-08-21 17:10] kyleniemeyer commented on #1603
@whedon accept

[2019-08-21 17:10] whedon commented on #1603
[code]

[2019-08-21 17:10] whedon commented on #1603
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/919

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/919, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-21 17:11] kyleniemeyer commented on #1603
@whedon accept deposit=true

[2019-08-21 17:11] whedon commented on #1603
[code]

[2019-08-21 17:12] whedon commented on #1603
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1164223667196321795) 👈 🐦🐦🐦

[2019-08-21 17:12] whedon commented on #1603
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/920
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01603](https://doi.org/10.21105/joss.01603)
2. If everything looks go

[2019-08-21 17:12] vsoch commented on #1603
Congrats @nuest !

[2019-08-21 17:13] kyleniemeyer commented on #1603
Congrats @nuest on your article's publication in JOSS! Many thanks to @terrytangyuan for editing, and @vsoch and @cole-brokamp for reviewing this submission.

[2019-08-21 17:13] #1603 closed

[2019-08-21 17:13] whedon commented on #1603
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01603/status.svg)](https://doi.org/10.21105/joss.01603)

**We need your help!**

Journal of Open Source Softwa

[2019-08-21 17:14] nuest commented on #1603
**Thank you all!** :clap: :heart: This review was a real fun thing to do!

[2019-08-21 18:06] kmzzhang commented on #1651
@whedon generate pdf

[2019-08-21 18:06] whedon commented on #1651
[code]

[2019-08-21 18:07] whedon commented on #1651
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01651/joss.01651/10.21105.joss.01651.pdf)

[2019-08-21 18:22] shreyasbapat commented on #1651
Hi @kmzzhang ,

Thanks for including the figure, but can we change the caption to both the figures and make the alignment a little better?

[2019-08-21 18:23] shreyasbapat commented on #1651
Oh I see :/

[2019-08-21 18:25] kmzzhang commented on #1651
@whedon generate pdf

[2019-08-21 18:25] whedon commented on #1651
[code]

[2019-08-21 18:25] kmzzhang commented on #1651
Hi @shreyasbapat, I'm still working on the format. This version should work

[2019-08-21 18:26] whedon commented on #1651
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01651/joss.01651/10.21105.joss.01651.pdf)

[2019-08-21 18:41] shreyasbapat commented on #1651
Right! Thanks a lot for the changes! GTG!

[2019-08-21 19:20] nnadeau commented on #1664
@arfon , I'm in agreement with @casperdcl. This repo is nothing more than a thin CLI wrapper.

[2019-08-21 19:36] lpantano commented on #1645
@krother, do you think you would have time to review this new tool? Thanks

[2019-08-21 19:38] lpantano commented on #1645
@mskwark, would you be interested in reviewing this tool?

[2019-08-21 19:41] hagenw commented on #1659
I would be willing

[2019-08-21 20:08] DanielLenz commented on #1651
Excellent, thanks for fixing this so quickly.

Last quick comment: Could you separate the software acknowledgements with a delimiter (semicolon, comma)?

Other than that, I'm happy to say that I recommend this for publication!

[2019-08-21 20:25] arokem commented on #1659
Thanks @hagenw !

[2019-08-21 20:25] arokem commented on #1659
@whedon add hagenw as reviewer

[2019-08-21 20:25] whedon commented on #1659
OK, hagenw is now a reviewer

[2019-08-21 20:26] arokem commented on #1659
@whedon start review

[2019-08-21 20:26] whedon opened #1667 "[REVIEW]: Open-Unmix - A Reference Implementation for Music Source Separation"
**Submitting author:** @faroit (<a href="http://orcid.org/0000-0002-2534-1165">Fabian-Robert Stöter</a>)
**Repository:** <a href="https://github.com/sigsep/open-unmix-paper-joss" target ="_blank">https://github.com/sigsep/open-unmix-paper-joss</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewer:** @bmcfee, @hagenw
**Archive:** <a href="https://doi.org/10.5281/zenodo.3402103" target="_blank">10.

[2019-08-21 20:26] whedon commented on #1659
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1667. Feel free to close this issue now!

[2019-08-21 20:26] whedon commented on #1667
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bmcfee, @hagenw it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2019-08-21 20:26] whedon commented on #1667
[code]

[2019-08-21 20:26] whedon commented on #1667
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01667/joss.01667/10.21105.joss.01667.pdf)

[2019-08-21 20:26] arokem commented on #1659
OK, @bmcfee and @hagenw : please head over to #1667 for your review checklists. I'll close this issue now.

[2019-08-21 20:26] #1659 closed

[2019-08-21 20:32] whedon opened #1668 "[PRE REVIEW]: The Walrus: the fastest calculation of hafnians, Hermite polynomials and Gaussian boson sampling"
**Submitting author:** @nquesada (<a href="http://orcid.org/0000-0002-0175-1688">Nicolás Quesada</a>)
**Repository:** <a href="https://github.com/xanaduAI/thewalrus" target ="_blank">https://github.com/xanaduAI/thewalrus</a>
**Version:** 0.7.0
**Editor:** @katyhuff
**Reviewers:** @PhilipVinc, @poulson

**Author instructions**

Thanks for submitting your paper to JOSS @nquesada. **Currently, there

[2019-08-21 20:32] whedon commented on #1668
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-21 20:32] whedon commented on #1668
[code]

[2019-08-21 20:32] kyleniemeyer commented on #1668
Hi @VivianePons, can you edit this submission?

[2019-08-21 20:32] whedon commented on #1668
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01668/joss.01668/10.21105.joss.01668.pdf)

[2019-08-21 20:34] whedon opened #1669 "[PRE REVIEW]: AXITOM: A Python package for reconstruction of axisymmetric tomograms acquired by a conical beam"
**Submitting author:** @PolymerGuy (<a href="http://orcid.org/0000-0002-9981-4041">Sindre Nordmark Olufsen</a>)
**Repository:** <a href="https://github.com/PolymerGuy/AXITOM" target ="_blank">https://github.com/PolymerGuy/AXITOM</a>
**Version:** V0.1.2
**Editor:** @katyhuff
**Reviewers:** @PingjunChen, @dgursoy

**Author instructions**

Thanks for submitting your paper to JOSS @PolymerGuy. **Curre

[2019-08-21 20:34] whedon commented on #1669
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-21 20:34] whedon commented on #1669
[code]

[2019-08-21 20:34] kyleniemeyer commented on #1669
Hi @katyhuff, are you able to edit this submission?

[2019-08-21 20:35] whedon commented on #1669
PDF failed to compile for issue #1669 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1669/paper.md): could not find expected ':' while scanning a simple key at line 13 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app

[2019-08-21 20:39] kyleniemeyer commented on #1668
@poulson can you edit this submission?

[2019-08-21 20:40] whedon opened #1670 "[PRE REVIEW]: UPOsHam: A Python package for computing unstable periodic orbits in two degrees of freedom Hamiltonian systems"
**Submitting author:** @WyLyu (<a href="http://orcid.org/0000-0003-2570-9879">WenYang Lyu</a>)
**Repository:** <a href="https://github.com/WyLyu/UPOsHam" target ="_blank">https://github.com/WyLyu/UPOsHam</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @WyLyu. **Currently, there isn't an JOSS editor assigned** to y

[2019-08-21 20:40] whedon commented on #1670
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-21 20:40] whedon commented on #1670
[code]

[2019-08-21 20:40] kyleniemeyer commented on #1670
Hi @kthyng, this may be a little outside your primary area, but can you edit this submission?

[2019-08-21 20:41] whedon commented on #1670
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01670/joss.01670/10.21105.joss.01670.pdf)

[2019-08-21 20:41] whedon opened #1671 "[PRE REVIEW]: qnm: A Python package for calculating Kerr quasinormal modes, separation constants, and spherical-spheroidal mixing coefficients"
**Submitting author:** @duetosymmetry (<a href="http://orcid.org/0000-0001-7559-9597">Leo C. Stein</a>)
**Repository:** <a href="https://github.com/duetosymmetry/qnm" target ="_blank">https://github.com/duetosymmetry/qnm</a>
**Version:** 0.3.0
**Editor:** @xuanxu
**Reviewers:** @mattpitkin, @duncanmmacleod

**Author instructions**

Thanks for submitting your paper to JOSS @duetosymmetry. **Current

[2019-08-21 20:41] whedon commented on #1671
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-21 20:41] whedon commented on #1671
[code]

[2019-08-21 20:42] kyleniemeyer commented on #1671
Hi @xuanxu, can you edit this submission?

[2019-08-21 20:42] whedon commented on #1671
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01671/joss.01671/10.21105.joss.01671.pdf)

[2019-08-21 20:42] whedon opened #1672 "[PRE REVIEW]: BotSlayer: real-time detection of bot amplification on Twitter"
**Submitting author:** @yangkcatiu (<a href="http://orcid.org/0000-0003-4627-9273">Kai-Cheng Yang</a>)
**Repository:** <a href="https://github.com/IUNetSci/BotSlayer-CE" target ="_blank">https://github.com/IUNetSci/BotSlayer-CE</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewers:** mkearney, nkratzke

**Author instructions**

Thanks for submitting your paper to JOSS @yangkcatiu. **Currently, t

[2019-08-21 20:42] whedon commented on #1672
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-21 20:42] whedon commented on #1672
[code]

[2019-08-21 20:42] whedon commented on #1672
PDF failed to compile for issue #1672 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon/author.rb:33:in `strip_footnotes': undefined method `[]' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon/author.rb:13:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e

[2019-08-21 20:43] kyleniemeyer commented on #1672
Hi @alexhanna, do you have bandwidth to take on this submission?

[2019-08-21 20:45] kyleniemeyer commented on #1672
@yangkcatiu I think this PR should fix the paper compilation issue: https://github.com/IUNetSci/BotSlayer-CE/pull/11

[2019-08-21 20:46] whedon opened #1673 "[PRE REVIEW]: EoN (Epidemics on Networks), software for simulation, analytic approximation, and analysis of epidemics on networks"
**Submitting author:** @joelmiller (<a href="http://orcid.org/0000-0003-4426-0405">Joel Miller</a>)
**Repository:** <a href="https://github.com/springer-math/Mathematics-of-Epidemics-on-Networks" target ="_blank">https://github.com/springer-math/Mathematics-of-Epidemics-on-Networks</a>
**Version:** v1.0.8
**Editor:** @lpantano
**Reviewers:** @acolum, @pholme

**Author instructions**

Thanks for su

[2019-08-21 20:46] whedon commented on #1673
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-21 20:46] whedon commented on #1673
[code]

[2019-08-21 20:46] nquesada commented on #1668
Hey @kyleniemeyer thanks for helping out in finding an editor for our submission!
I assume I can post here the people I can think could be helpful in reviewing, correct?

[2019-08-21 20:46] whedon commented on #1673
PDF failed to compile for issue #1673 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1673/docs/paper/paper.md): mapping values are not allowed in this context at line 21 column 9 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /a

[2019-08-21 20:47] kyleniemeyer commented on #1673
Hi @lpantano, could you edit this submission?

[2019-08-21 20:48] kyleniemeyer commented on #1673
@joelmiller this PR should fix the paper compilation issue: https://github.com/springer-math/Mathematics-of-Epidemics-on-Networks/pull/41

However, please also add more details to the affiliations, matching what you'd typically see in an article.

[2019-08-21 20:50] duetosymmetry commented on #1671
I could suggest @mattpitkin as a domain expert for review.

[2019-08-21 20:50] kyleniemeyer commented on #1668
@nquesada sure, suggestions for potential reviewers are always welcome!

[2019-08-21 20:52] kyleniemeyer commented on #1669
@polymerguy this PR should fix the compilation issue: https://github.com/PolymerGuy/AXITOM/pull/2

[2019-08-21 20:54] nquesada commented on #1668
Great! From the list of potential reviewers JOSS has, I think either @goerz or @PhilipVinc would make good reviewers given their background in quantum optics.

[2019-08-21 20:57] bmcfee commented on #1667
@arokem just checking over the COI policy -- the main author has contributed to some software projects that i maintain (and have published on).  It's not totally obvious to me whether that constitutes a COI.  I don't think this would impede my ability to review, but full disclosure and all.

[2019-08-21 20:57] mattpitkin commented on #1671
I'm happy to review this.

[2019-08-21 21:06] arokem commented on #1667
Just to clarify: has the main author been a co-author on any of the papers that you have published on your software?

[2019-08-21 21:07] bmcfee commented on #1667
Nope.

[2019-08-21 21:15] stsievert commented on #1655
Thanks for opening those issues @torressa – that's useful. They provide a channel for more detailed feedback and any questions you have.

[2019-08-21 21:20] kmzzhang commented on #1651
@whedon generate pdf

[2019-08-21 21:20] whedon commented on #1651
[code]

[2019-08-21 21:21] whedon commented on #1651
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01651/joss.01651/10.21105.joss.01651.pdf)

[2019-08-21 21:22] kmzzhang commented on #1651
Hi @DanielLenz, this is fixed!

[2019-08-21 22:35] mbobra commented on #1524
@alexanderimanicowenrivers Per the [JOSS editorial guidelines](https://joss.readthedocs.io/en/latest/editing.html#continued-attention-to-assigned-submissions), I need to give @paragkulkarni11 7-10 days to respond to Whedon's prompt. Sorry for the delay.

[2019-08-21 23:23] mayou36 commented on #1570
I agree, removed

Fixed the CI (there was a problem with uploading the large files to the CI)

[2019-08-22 00:18] goerz commented on #1668
I'm currently reviewing another paper, so unfortunately I can't take this on at the moment

[2019-08-22 00:28] ShanaScogin commented on #1542
Hi @usethedata thank you so much! We appreciate your review and will work on replicating those github download issues to make a more informative section in the readme as suggested. @monogan No worries - thank you for checking in, and hope the end of your summer is going well! I'm going to recompile the paper and deposit with Zenodo now. Thank you again to both reviewers for these wonderful comment

[2019-08-22 00:29] ShanaScogin commented on #1542
@whedon generate pdf

[2019-08-22 00:29] whedon commented on #1542
[code]

[2019-08-22 00:29] whedon commented on #1542
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01542/joss.01542/10.21105.joss.01542.pdf)

[2019-08-22 02:08] ShanaScogin commented on #1542
@usethedata I uploaded the pdf and the build to Zenodo - the doi is 10.5281/zenodo.3374054 and the version is 1.0.0. Is there something else I should do?

[2019-08-22 03:04] arokem commented on #1667
In my reading, this does not constitute COI. If you feel at all uncomfortable, I'd be happy to look for another reviewer. Otherwise, I think that your statement that this association will not impede your ability to review the article is sufficient for you to check that box and move ahead.

[2019-08-22 03:29] frycast commented on #1587
Great news. Thank you @kyleniemeyer and @arokem ! And many thanks to @klmedeiros and @jminnier for your reviews and helpful comments.

[2019-08-22 03:40] frycast commented on #1587
@kyleniemeyer the software [repository link here](https://joss.theoj.org/papers/4a61d044aefabdb7c57520a0715e41ed) still leads to 404 Not Found page. It's because I originally specified the link as "github.com/frycast/studentlife" and it needs to be changed to have the prefix "https://". Are you able to make that change?

[2019-08-22 04:08] russellpierce commented on #1662
@tomfaulkenberry do you have a copy of Mplus that you can use to evaluate the functional claims of the authors? I do not, and have limited familiarity, so I'm prone to leave that entirely with you. Okay?

[2019-08-22 07:00] paul-buerkner commented on #1662
In the worst case I may also remove the Mplus part from the paper if it is
hard to get a copy of it. After all it is not open source or free to use.

Russell S. Pierce <notifications@github.com> schrieb am Do., 22. Aug. 2019,
05:08:

[2019-08-22 07:15] xuanxu commented on #1554
:wave: @telegraphic: Have you had the opportunity to address the issues raised by the reviewers?

[2019-08-22 07:19] xuanxu commented on #1671
@whedon assign @xuanxu as editor

[2019-08-22 07:20] whedon commented on #1671
OK, the editor is @xuanxu

[2019-08-22 07:31] xuanxu commented on #1671
Thanks, @mattpitkin! I'll assign you now.
I'll start the review issue once I find the second reviewer, stay tuned!

[2019-08-22 07:32] xuanxu commented on #1671
@whedon assign @mattpitkin as reviewer

[2019-08-22 07:32] whedon commented on #1671
OK, the reviewer is @mattpitkin

[2019-08-22 07:33] xuanxu commented on #1671
:wave: @duncanmmacleod: would you be willing to review this paper? I think your knowledge of Python and gravitational waves makes you a great fit for this submission.

[2019-08-22 07:39] xuanxu commented on #1501
:wave: @prabhuramachandran: Any progress with the pending issues?

[2019-08-22 07:46] dgarijo commented on #1658
Hi @danielskatz,
unfortunately my review pipeline is full at the moment. Sorry.
Thanks for considering me!

[2019-08-22 09:17] peterjc commented on #1645
I was asked (by email) to review, but declined:

Sadly I know nothing about Go, and the project's current state of documentation leaves too steep a learning curve for me or any other bioinformatician curious to try it.

It needs a quick start, I would think even a trivial example like loading a given DNA sequence (be it with IUPAC ambiguity codes or just A, C, G, T bases) from a FASTA file, transl

[2019-08-22 09:26] linuxscout commented on #1658
Salam,
I can review it.

[2019-08-22 09:41] Shibabrat commented on #1670
@whedon commands

[2019-08-22 09:56] Shibabrat commented on #1670
Hi @whedon

I'm a collaborator of @WyLyu and have checked the article proof. The current paper sub-directory has the updated paper.md and paper.bib files. However, the two figures we have compiled in the pdf from paper.md doesn't show up in the article proof.

Can you kindly recompile and let us know?

Thanks

[2019-08-22 11:36] LarsHernandez commented on #1593
Thanks @joethorley and @tgerke for all the comments/issues, I've tried to implement all of the things you have raised. I can see both of you have not checked the Functionality/Example usage boxes, is there anything i/we can do to get that checked? Is the package lacking anything aside from the examples included in the two vignettes?

[2019-08-22 11:39] prabhuramachandran commented on #1501
Hi @xuanxu -- the syntax error is something I will fix by setting a python_requires this weekend as fixing the dependent package to support 3.7 opens a can of worms that requires much more time for me to address right now (the issue isn't vixen but the jigna package which doesn't support Python 3.7).

Issue 29 is something I am having a hard time reproducing so will try and spend some time on that

[2019-08-22 11:59] xuanxu commented on #1501
@prabhuramachandran great, as long as all that is documented, i.e. readme states clearly the required Python, the binaries installation steps, etc, I think is ok.

[2019-08-22 12:02] usethedata commented on #1542
@whedon set 1.0.0 as version

[2019-08-22 12:03] whedon commented on #1542
OK. 1.0.0 is the version.

[2019-08-22 12:03] usethedata commented on #1542
@whedon set 10.5281/zenodo.3374054 as archive

[2019-08-22 12:03] whedon commented on #1542
OK. <a href="https://doi.org/10.5281/zenodo.3374054" target="_blank">10.5281/zenodo.3374054</a> is the archive.

[2019-08-22 12:03] usethedata commented on #1542
@whedon generate pdf

[2019-08-22 12:03] whedon commented on #1542
[code]

[2019-08-22 12:03] usethedata commented on #1542
@whedon check references

[2019-08-22 12:03] whedon commented on #1542
[code]

[2019-08-22 12:04] whedon commented on #1542
[code]

[2019-08-22 12:04] whedon commented on #1542
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01542/joss.01542/10.21105.joss.01542.pdf)

[2019-08-22 12:06] PolymerGuy commented on #1669
Thank you! I have now merged the PR.

[2019-08-22 12:09] usethedata commented on #1542
@ShanaScogin In your bib file, there's an item `@article{desmarais_testing_2013`. The DOI for that item is invalid.  I don't think you're actually referencing that article.  Can you either fix this DOI (if you're referencing the article and I'm not seeing it), or remove it from the .bib file?

[2019-08-22 12:47] #1664 closed

[2019-08-22 12:49] arfon commented on #1664
OK thanks for your reviews here @casperdcl & @nnadeau

@liashchynskyi - we'd welcome a resubmission in the future if this package were extended/made more comprehensive such that it met our [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

[2019-08-22 13:11] liashchynskyi commented on #1664
ok, thanks you all, guys 😀

[2019-08-22 13:17] RHagenson commented on #1645
@peterjc Thank you for the advice on a helpful and explanatory aggregate example of usage reading in a given DNA FASTA, translating it to protein, and writing it out as a new FASTA. In your opinion, are there any other rough edges about the project in its current state that need smoothing?

[2019-08-22 13:18] danielskatz commented on #1658
Thanks @linuxscout - I'll add you, and we'll get started in the review issue that will be created shortly

[2019-08-22 13:18] danielskatz commented on #1658
@whedon add @linuxscout as reviewer

[2019-08-22 13:19] whedon commented on #1658
OK, @linuxscout is now a reviewer

[2019-08-22 13:19] danielskatz commented on #1658
@whedon start review

[2019-08-22 13:19] whedon opened #1674 "[REVIEW]: LISC: A Python Package for Scientific Literature Collection and Analysis"
**Submitting author:** @TomDonoghue (<a href="http://orcid.org/0000-0001-5911-0472">Thomas Donoghue</a>)
**Repository:** <a href="https://github.com/lisc-tools/lisc" target ="_blank">https://github.com/lisc-tools/lisc</a>
**Version:** v0.1.1
**Editor:** @danielskatz
**Reviewer:** @timClicks, @linuxscout
**Archive:** <a href="https://doi.org/10.5281/zenodo.3462035" target="_blank">10.5281/zenodo.34

[2019-08-22 13:19] whedon commented on #1658
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1674. Feel free to close this issue now!

[2019-08-22 13:19] whedon commented on #1674
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @timClicks, @linuxscout it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-08-22 13:19] whedon commented on #1674
[code]

[2019-08-22 13:19] #1658 closed

[2019-08-22 13:19] whedon commented on #1674
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01674/joss.01674/10.21105.joss.01674.pdf)

[2019-08-22 13:22] danielskatz commented on #1674
👋 @timClicks, @linuxscout - your job as a reviewer is to examine the paper and software repo, and to check off items in your review list as possible.  When you have some issue where improvement is needed, either flag it here or with a new issue in the repository (mentioning this review issue).  If you have any questions or problems, please let me know. (FYI, I'm mostly on vacation this week and ne

[2019-08-22 13:34] crew102 commented on #1658
Hi @danielskatz , I could review if you guys need/want another.

[2019-08-22 13:39] lpantano commented on #1673
Hi @kyleniemeyer, sadly I don't have any experience in this, and I don't know people on the field. If the author can find one reviewer, I can try to find another, but I don't think I can find two of them alone.

[2019-08-22 13:42] lpantano commented on #1673
@acolum, would you be able to review this tool?

[2019-08-22 13:53] bmcfee commented on #1667
Cool, we're in agreement then.  Thanks!

[2019-08-22 13:58] danielskatz commented on #1658
I think we're set with 2 reviewers, but thanks.  If you want to anyhow, I can add you.

[2019-08-22 14:21] crew102 commented on #1658
K, I'll sit this one out then.

[2019-08-22 15:19] peterjc commented on #1645
@RHagenson the beginner documentation was the main thing lacking - beyond that it was hard to say more, sorry.

[2019-08-22 15:26] Cavenfish commented on #1612
@jedbrown @shivupa @arosen93 @colleeneb

I added the test for `make_plot` function to the package tests. I have also updated and released version 1.1.0 of AutoGAMESS, which includes all the new features.

[2019-08-22 15:32] ShanaScogin commented on #1542
@usethedata - You're right. I removed it - do you want me to make an updated Zenodo with a new pdf, build, version number, and doi?

[2019-08-22 15:59] RHagenson commented on #1645
@peterjc Thank you for the help you provided. I will add more documentation at the beginner level.

[2019-08-22 16:16] kthyng commented on #1670
@kyleniemeyer Sure, I'll be the editor.

@Shibabrat It looks like the addresses to the pdfs are not correct — they are in the same directory as the paper, not in the tests directory.

[2019-08-22 16:17] kthyng commented on #1670
@WyLyu and @Shibabrat Please look through the list of reviewers (https://bit.ly/joss-reviewers) and find at least 4 who would be reasonable for your submission. You can also suggest other people that are not on the list.

[2019-08-22 16:18] kthyng commented on #1670
@whedon assign @kthyng as editor

[2019-08-22 16:18] whedon commented on #1670
OK, the editor is @kthyng

[2019-08-22 17:24] Shibabrat commented on #1670
@kthyng Thank you for agreeing to be the editor and for pointing out the mistake. I have updated the location of figure files and the link to the archived version on Zenodo.

We are deliberating the reviewer names and will reply soon. Is it possible to request someone who is not in the list and uses related methods?

[2019-08-22 17:52] mbobra commented on #1640
@whedon add @SirSharpest as reviewer

[2019-08-22 17:52] whedon commented on #1640
OK, @SirSharpest is now a reviewer

[2019-08-22 17:53] mbobra commented on #1640
@whedon start review

[2019-08-22 17:53] whedon opened #1675 "[REVIEW]: pySRURGS - a python package for symbolic regression by uniform random global search"
**Submitting author:** @pySRURGS (<a href="http://orcid.org/0000-0002-3050-8943">Sohrab Towfighi</a>)
**Repository:** <a href="https://github.com/pySRURGS/pySRURGS" target ="_blank">https://github.com/pySRURGS/pySRURGS</a>
**Version:** 0.1
**Editor:** @mbobra
**Reviewer:** @henrik227, @SirSharpest
**Archive:** <a href="https://doi.org/10.5281/zenodo.3442594" target="_blank">10.5281/zenodo.3442594<

[2019-08-22 17:53] whedon commented on #1640
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1675. Feel free to close this issue now!

[2019-08-22 17:53] whedon commented on #1675
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @henrik227, @SirSharpest it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-08-22 17:53] whedon commented on #1675
[code]

[2019-08-22 17:53] whedon commented on #1675
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01675/joss.01675/10.21105.joss.01675.pdf)

[2019-08-22 17:54] mbobra commented on #1675
👋Thank you so much @henrik227 and @SirSharpest for agreeing to review this submission! The review checklist is above. Please let me know if there is anything else you need!

[2019-08-22 17:54] #1640 closed

[2019-08-22 18:00] mayou36 commented on #1570
Thanks a lot for that!

This is intentionally not part of the package. phasespace aims to only provide the decay mechanics and leaves other things to other libraries, since there are enough around that are quite suitable for that. E.g. using `tensorflow_probability` with it's distributions and the `particle`-package for the particles characteristics works already well. And there is an example also

[2019-08-22 18:01] kthyng commented on #1670
@Shibabrat Yep! They just can't have a conflict of interest.

[2019-08-22 18:01] kthyng commented on #1670
@whedon generate pdf

[2019-08-22 18:01] whedon commented on #1670
[code]

[2019-08-22 18:02] whedon commented on #1670
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01670/joss.01670/10.21105.joss.01670.pdf)

[2019-08-22 18:23] mbobra commented on #1557
👋 @swapsha96 I'm looking through the General Checks, which asks the following question:

It looks like @akhilsinghal1234 made most of the contributions to the software -- I only see [six commits](https://github.com/mirapy-org/mirapy/graphs/contributors) by you (all on the JOSS paper) to the master branch. Do you agree?

[2019-08-22 18:33] lpueyo commented on #1387
Excellent job @jlustigy the new API helps a lot. Thank you for doing it. I am happy about this submission and looking forward to using it for my research! This is closed as far as I am concerned.

[2019-08-22 18:36] arfon commented on #1387
Thanks @lpueyo! Before closing the issue there are a few more things I need to do here...

@jlustigy - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make

[2019-08-22 18:36] arfon commented on #1387
@whedon generate pdf

[2019-08-22 18:36] whedon commented on #1387
[code]

[2019-08-22 18:37] whedon commented on #1387
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01387/joss.01387/10.21105.joss.01387.pdf)

[2019-08-22 18:40] arfon commented on #1387
Also, please merge this PR @jlustigy - it should fix a few formatting issues with your paper: https://github.com/jlustigy/coronagraph/pull/3

[2019-08-22 18:43] bmcfee commented on #1667
https://github.com/sigsep/open-unmix-paper-joss/issues/2 - on version numbers

[2019-08-22 18:46] bmcfee commented on #1667
https://github.com/sigsep/open-unmix-paper-joss/issues/3 - on including source code and a related issue with the docs

[2019-08-22 18:49] bmcfee commented on #1667
https://github.com/sigsep/open-unmix-paper-joss/issues/4 - on performance

[2019-08-22 18:52] bmcfee commented on #1667
https://github.com/sigsep/open-unmix-paper-joss/issues/5 - on documentation/API

[2019-08-22 18:54] bmcfee commented on #1667
https://github.com/sigsep/open-unmix-paper-joss/issues/6 - on community guidelines

[2019-08-22 19:28] kyleniemeyer commented on #1587
@arfon can you help with this one?

[2019-08-22 19:29] kyleniemeyer commented on #1669
@whedon generate pdf

[2019-08-22 19:30] whedon commented on #1669
[code]

[2019-08-22 19:30] whedon commented on #1669
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01669/joss.01669/10.21105.joss.01669.pdf)

[2019-08-22 19:31] kyleniemeyer commented on #1673
@joelmiller are you able to suggest one or two potential reviewers?

[2019-08-22 19:31] kyleniemeyer commented on #1673
@whedon generate pdf

[2019-08-22 19:32] whedon commented on #1673
[code]

[2019-08-22 19:32] whedon commented on #1673
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01673/joss.01673/10.21105.joss.01673.pdf)

[2019-08-22 19:33] kyleniemeyer commented on #1670
@Shibabrat please also remove the "software repository" and "archive" links at the beginning of the paper—these are included in the JOSS article template on the side

[2019-08-22 20:03] tgerke commented on #1593
Looking great @LarsHernandez! I just opened two issues regarding the examples in the vignettes, and once those minor points are resolved, it looks all set to me.

[2019-08-22 20:04] acolum commented on #1673
@lpantano Thanks for inviting me, and yes, I'm able to review this tool.

[2019-08-22 20:04] Shibabrat commented on #1670
Hi @kyleniemeyer thanks, done!

@kthyng here are the usernames of potential reviewers: jochym, JoshKarpel, mdoucet, mikapfl, and or dpsanders.

Btw, the JOSS paper template is such a neat design. Finally, a journal that uses Tufte-handout style. Kudos to the team who decided on this layout.

[2019-08-22 20:05] lpantano commented on #1673
@whedon assign @lpantano as editor

[2019-08-22 20:05] whedon commented on #1673
OK, the editor is @lpantano

[2019-08-22 20:05] lpantano commented on #1673
@whedon assign @acolumn as reviewer

[2019-08-22 20:05] whedon commented on #1673
OK, the reviewer is @acolumn

[2019-08-22 20:05] lpantano commented on #1673
@whedon assign @acolum as reviewer

[2019-08-22 20:06] whedon commented on #1673
OK, the reviewer is @acolum

[2019-08-22 20:08] lpantano commented on #1673
Thank you, @acolumn, really appreciate it.

@stulacy, would you be interested in reviewing this tool?

[2019-08-22 20:11] arfon commented on #1587
Fixed.

[2019-08-22 20:21] swapsha96 commented on #1557
No! I don't why total number of commits are [205](https://github.com/mirapy-org/mirapy/commits/master) but it says He made 45 commits and I made 6 commits. I started this project and Github says I wrote only 150 lines. WTH! 😆 Does anyone know why lots of my commits are not considered in contributor section? (Below is an screenshot)
<img width="1010" alt="Screen Shot 2019-08-23 at 12 17 44 AM" src=

[2019-08-22 20:35] mbobra commented on #1557
I see. The contributor section counts commits by Github users, which are @swapsha96 and @akhilsinghal1234. It looks like there were other commits under the name Swapnil Sharma, which is not associated with a Github account. So those commits must have been via some other mechanism.

[2019-08-22 20:57] swapsha96 commented on #1557
Is that a problem that I need to address in some way?

[2019-08-22 21:12] kyleniemeyer commented on #1557
This may have happened due to a local Git user/email configuration that didn't match the GitHub account—it looks strange at first glance, but I don't think this is a major issue, since it's clear upon closer inspection that @swapsha96 is a major contributor. Good catch though, @mbobra!

[2019-08-22 22:19] joethorley commented on #1593
@whedon generate pdf

[2019-08-22 22:19] whedon commented on #1593
[code]

[2019-08-22 22:20] whedon commented on #1593
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01593/joss.01593/10.21105.joss.01593.pdf)

[2019-08-22 23:16] kthyng commented on #1670
@mikapfl and @jochym Are you interested in reviewing this JOSS submission? We ask for reviews within about 3 weeks and you can find more information here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2019-08-22 23:32] kyleniemeyer commented on #1532
@whedon generate pdf

[2019-08-22 23:32] whedon commented on #1532
[code]

[2019-08-22 23:33] whedon commented on #1532
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01532/joss.01532/10.21105.joss.01532.pdf)

[2019-08-22 23:33] whedon opened #1676 "[PRE REVIEW]: SIHR: a MATLAB/GNU Octave toolbox for single image highlight removal"
**Submitting author:** @vitorsr (<a href="http://orcid.org/0000-0002-7583-5577">Vítor Saraiva Ramos</a>)
**Repository:** <a href="https://github.com/vitorsr/SIHR" target ="_blank">https://github.com/vitorsr/SIHR</a>
**Version:** v0.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @thomakra, @Atif-Anwer

**Author instructions**

Thanks for submitting your paper to JOSS @vitorsr. **Currently, th

[2019-08-22 23:33] whedon commented on #1676
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-22 23:33] whedon commented on #1676
[code]

[2019-08-22 23:34] whedon commented on #1676
PDF failed to compile for issue #1676 with the following error:

 Error producing PDF.
! Package graphics Error: Division by 0.

See the graphics package documentation for explanation.
Type  H <return>  for immediate help.
 ...

l.307 ...089d5f01186488ed275cfa889c48f63fd4f6.jpg}

Looks like we failed to compile the PDF

[2019-08-22 23:34] kyleniemeyer commented on #1676
Hi @Kevin-Mattheus-Moerman, this submission looks up your alley—can you edit it?

[2019-08-23 00:06] mikapfl commented on #1670
Hi Kristen,

I would be happy to do a review, however I'm not familiar with the theory that is implemented here and would not be able to review the mathematical/physical soundness.

Best regards,

Mika

[2019-08-23 00:39] mbobra commented on #1557
@swapsha96 I spent the afternoon playing with MiraPy. I agree with @DanielLenz that it is essentially a shallow wrapper around Keras. Therefore, this does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) (it falls under the 'thin wrapper' category).

However, I do think MiraPy provides excellent tutorials on how to use machine le

[2019-08-23 00:58] dap-biospec commented on #1532
@whedon generate pdf

[2019-08-23 00:58] whedon commented on #1532
[code]

[2019-08-23 00:58] vitorsr commented on #1676
@whedon generate pdf

[2019-08-23 00:58] whedon commented on #1676
[code]

[2019-08-23 00:59] whedon commented on #1532
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01532/joss.01532/10.21105.joss.01532.pdf)

[2019-08-23 00:59] whedon commented on #1676
PDF failed to compile for issue #1676 with the following error:

 Error producing PDF.
! Package graphics Error: Division by 0.

See the graphics package documentation for explanation.
Type  H <return>  for immediate help.
 ...

l.307 ...089d5f01186488ed275cfa889c48f63fd4f6.jpg}

Looks like we failed to compile the PDF

[2019-08-23 01:12] vitorsr commented on #1676
@whedon generate pdf

[2019-08-23 01:12] whedon commented on #1676
[code]

[2019-08-23 01:13] whedon commented on #1676
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01676/joss.01676/10.21105.joss.01676.pdf)

[2019-08-23 01:26] vitorsr commented on #1676
Wait. Was I meant to do that? Sorry for the trouble, just wanted to make sure it compiled.

Thank you for your time.

[2019-08-23 01:36] arfon commented on #1387
@whedon generate pdf

[2019-08-23 01:36] whedon commented on #1387
[code]

[2019-08-23 01:37] whedon commented on #1387
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01387/joss.01387/10.21105.joss.01387.pdf)

[2019-08-23 02:22] kyleniemeyer commented on #1676
@vitorsr no worries, whedon has varying permissions—it's fine to regenerate the pdf yourself

[2019-08-23 02:27] joelmiller commented on #1673
I would suggest @count0 or @hagberg

[2019-08-23 03:08] kyleniemeyer commented on #1532
@whedon remove @cfneese as reviewer

[2019-08-23 03:08] whedon commented on #1532
OK, @cfneese is no longer a reviewer

[2019-08-23 03:09] kyleniemeyer commented on #1532
@dap-biospec since we have two complete reviews, I'm going to proceed with accepting the paper. Could you archive the software repo in Zenodo and report the DOI back here? I will do some final copy editing on the paper.

[2019-08-23 03:09] kyleniemeyer commented on #1532
@whedon check references

[2019-08-23 03:09] whedon commented on #1532
[code]

[2019-08-23 03:10] whedon commented on #1532
[code]

[2019-08-23 03:31] kyleniemeyer commented on #1532
@dap-biospec I made some minor edits to the paper, please merge these PRs: https://github.com/dap-biospec/KinESim/pull/5 and https://github.com/dap-biospec/KinESim/pull/6

[2019-08-23 03:51] timClicks commented on #1674
Thanks @danielskatz. I'm also away until the middle of next week. I will aim to have my review completed by next Friday.

[2019-08-23 05:03] jlustigy commented on #1387
Thanks again @lpueyo for the helpful review!

@arfon - I released the updated code as v1.0 and archived it on Zenodo [here](https://zenodo.org/record/3375103). The DOI for the archive is: 10.5281/zenodo.3375103. Thank you for all the help during the review process!

[2019-08-23 06:12] joelmiller commented on #1673
@whedon generate pdf

[2019-08-23 06:12] whedon commented on #1673
[code]

[2019-08-23 06:13] whedon commented on #1673
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01673/joss.01673/10.21105.joss.01673.pdf)

[2019-08-23 06:50] swapsha96 commented on #1557
I didn't about JOSE. Thanks for letting me know. Please close this issue then.

[2019-08-23 08:07] Kevin-Mattheus-Moerman commented on #1676
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-08-23 08:07] whedon commented on #1676
OK, the editor is @Kevin-Mattheus-Moerman

[2019-08-23 08:23] Kevin-Mattheus-Moerman commented on #1634
@mrgprasad I'll check out the reviewers you suggested early next week and hope to start the review then.

[2019-08-23 09:09] fauvernierma commented on #1434
@whedon generate pdf

[2019-08-23 09:10] whedon commented on #1434
[code]

[2019-08-23 09:10] whedon commented on #1434
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01434/joss.01434/10.21105.joss.01434.pdf)

[2019-08-23 09:12] fauvernierma commented on #1434
Hello @kyleniemeyer,

I performed some changes in the article. Let me know if that is what you had in mind

Thank you

[2019-08-23 10:32] arfon commented on #1387
@whedon set 10.5281/zenodo.3375103 as archive

[2019-08-23 10:32] whedon commented on #1387
OK. <a href="https://doi.org/10.5281/zenodo.3375103" target="_blank">10.5281/zenodo.3375103</a> is the archive.

[2019-08-23 10:37] arfon commented on #1387
@whedon accept

[2019-08-23 10:37] whedon commented on #1387
[code]

[2019-08-23 10:38] whedon commented on #1387
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/921

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/921, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-23 10:39] arfon commented on #1387
@whedon accept deposit=true

[2019-08-23 10:39] whedon commented on #1387
[code]

[2019-08-23 10:40] whedon commented on #1387
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1164849769392607232) 👈 🐦🐦🐦

[2019-08-23 10:40] whedon commented on #1387
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/922
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01387](https://doi.org/10.21105/joss.01387)
2. If everything looks go

[2019-08-23 10:44] arfon commented on #1387
@lpueyo - many thanks again for your review here ✨

@jlustigy - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-08-23 10:44] #1387 closed

[2019-08-23 10:44] whedon commented on #1387
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01387/status.svg)](https://doi.org/10.21105/joss.01387)

**We need your help!**

Journal of Open Source Softwa

[2019-08-23 14:20] haptork commented on #1461
Thank you @arose for reviewing.

Added to the instructions with latest commit (6114548d4da347d386cefa20da28d8db67bea651)

The results were e-mailed to the participants. The results and the software tools of the participants are planned to be put up on the https://cascadesdb.org/ website which is a work in progress as of now.

The database that the contest uses and the one which is shown by default

[2019-08-23 16:09] kyleniemeyer commented on #1434
@whedon check references

[2019-08-23 16:09] whedon commented on #1434
[code]

[2019-08-23 16:09] whedon commented on #1434
[code]

[2019-08-23 16:09] kyleniemeyer commented on #1434
@whedon accept

[2019-08-23 16:09] whedon commented on #1434
[code]

[2019-08-23 16:10] whedon commented on #1434
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/923

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/923, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-23 16:12] kyleniemeyer commented on #1434
@whedon accept deposit=true

[2019-08-23 16:12] whedon commented on #1434
[code]

[2019-08-23 16:13] whedon commented on #1434
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1164933772191682560) 👈 🐦🐦🐦

[2019-08-23 16:13] whedon commented on #1434
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/924
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01434](https://doi.org/10.21105/joss.01434)
2. If everything looks go

[2019-08-23 16:15] kyleniemeyer commented on #1434
Congrats @fauvernierma on your article's publication in JOSS! Many thanks to @csoneson for editing, and @corybrunson and @seabbs for reviewing, this submission.

[2019-08-23 16:15] #1434 closed

[2019-08-23 16:15] whedon commented on #1434
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01434/status.svg)](https://doi.org/10.21105/joss.01434)

**We need your help!**

Journal of Open Source Softwa

[2019-08-23 16:15] jlustigy commented on #1387
@arfon - I was just notified of two minor typos associated with one of the coauthor's name and affiliation. I just pushed the corrections to [coronagraph master](https://github.com/jlustigy/coronagraph/tree/master). Is it possible to recompile the paper at this point?

[2019-08-23 16:31] PolymerGuy commented on #1669
I have fixed a broken reference and improved the second sentence in the proof.

[2019-08-23 16:32] PolymerGuy commented on #1669
@whedon generate pdf

[2019-08-23 16:32] whedon commented on #1669
[code]

[2019-08-23 16:33] whedon commented on #1669
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01669/joss.01669/10.21105.joss.01669.pdf)

[2019-08-23 16:34] arfon commented on #1387
Sure thing. I've updated the paper now. Note, it can take a while to show updated on the JOSS site as there's caching in place for the PDFs.

[2019-08-23 16:38] whedon opened #1677 "[PRE REVIEW]: Knuteon! - A capillary electrophoresis data extraction utility for Karat32 data files"
**Submitting author:** @Schallaven (<a href="http://orcid.org/0000-0001-7423-4609">Sven Kochmann</a>)
**Repository:** <a href="https://github.com/Schallaven/Knuteon" target ="_blank">https://github.com/Schallaven/Knuteon</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @Schallaven. **Currently, there isn't an JOSS ed

[2019-08-23 16:38] whedon commented on #1677
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-23 16:38] whedon commented on #1677
[code]

[2019-08-23 16:39] whedon commented on #1677
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01677/joss.01677/10.21105.joss.01677.pdf)

[2019-08-23 16:39] stulacy commented on #1673
Unfortunately this is quite outside of my area. Either of the suggestions
made by @joelmiller look more appropriate.

On Fri, 23 Aug 2019 at 14:13, whedon <notifications@github.com> wrote:

[2019-08-23 16:45] jlustigy commented on #1387
Excellent! I also updated the Zenodo archive to match the name change. Thanks for this! JOSS for the win 🎉

[2019-08-23 16:50] whedon opened #1678 "[PRE REVIEW]: pypulseq"
**Submitting author:** @imr-framework (<a href="http://orcid.org/0000-0002-3776-4114">Sairam Geethanath</a>)
**Repository:** <a href="https://github.com/imr-framework/pypulseq" target ="_blank">https://github.com/imr-framework/pypulseq</a>
**Version:** 1.2.2
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @grlee77, @mathieuboudreau

**Author instructions**

Thanks for submitting your paper to J

[2019-08-23 16:50] whedon commented on #1678
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-23 16:50] whedon commented on #1678
[code]

[2019-08-23 16:51] kyleniemeyer commented on #1678
Hi @Kevin-Mattheus-Moerman, another imaging-related submission—do you have the bandwidth to edit this one?

[2019-08-23 16:51] whedon commented on #1678
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01678/joss.01678/10.21105.joss.01678.pdf)

[2019-08-23 16:54] whedon opened #1679 "[PRE REVIEW]: Python KM: Kramers--Moyal coefficients for stochastic processes"
**Submitting author:** @LRydin (<a href="http://orcid.org/0000-0001-5513-0580">Leonardo Rydin Gorjão</a>)
**Repository:** <a href="https://github.com/LRydin/KramersMoyal" target ="_blank">https://github.com/LRydin/KramersMoyal</a>
**Version:** v0.31
**Editor:** @kthyng
**Reviewers:** @dawbarton , @Shibabrat

**Author instructions**

Thanks for submitting your paper to JOSS @LRydin. **Currently, th

[2019-08-23 16:54] whedon commented on #1679
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-23 16:54] whedon commented on #1679
[code]

[2019-08-23 16:55] whedon commented on #1679
PDF failed to compile for issue #1679 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1679/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-08-23 16:55] kyleniemeyer commented on #1679
Hi @xuanxu, this is a little outside your typical area, but could you edit this submission?

[2019-08-23 16:59] kyleniemeyer commented on #1679
@arfon not sure what's going on with the paper here—it builds fine for me locally. Could the presence of `paper.tex` and `paper.pdf` be causing an issue?

[2019-08-23 17:00] kyleniemeyer commented on #1646
@usethedata would you be able to edit this submission?

[2019-08-23 17:03] xuanxu commented on #1679
@kyleniemeyer I’m quite busy now, can you try to find another editor for this one?

[2019-08-23 17:05] tonggehua commented on #1637
@whedon generate pdf

[2019-08-23 17:06] whedon commented on #1637
[code]

[2019-08-23 17:06] whedon commented on #1637
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01637/joss.01637/10.21105.joss.01637.pdf)

[2019-08-23 17:11] kyleniemeyer commented on #1679
@xuanxu I'll give it a shot, but this is a math-heavy submission, and Viviane is out until October.

[2019-08-23 17:15] kyleniemeyer commented on #1679
@kthyng can you take this submission on?

[2019-08-23 17:16] whedon opened #1680 "[PRE REVIEW]: tabulog: A Language-Agnostic Template System for Parsing Log Files"
**Submitting author:** @austinnar (<a href="http://orcid.org/0000-0002-5319-9805">Austin Nar</a>)
**Repository:** <a href="https://github.com/AustinNar/tabulog" target ="_blank">https://github.com/AustinNar/tabulog</a>
**Version:** 0.1.1
**Editor:** @trallard
**Reviewers:** @alexanderfurnas, @trallard

**Author instructions**

Thanks for submitting your paper to JOSS @austinnar. **Currently, there

[2019-08-23 17:16] whedon commented on #1680
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-23 17:16] whedon commented on #1680
[code]

[2019-08-23 17:17] kyleniemeyer commented on #1680
Hi @trallard, can you take this submission on?

[2019-08-23 17:17] whedon commented on #1680
PDF failed to compile for issue #1680 with the following error:

 Can't find any papers to compile :-(

[2019-08-23 17:17] arfon commented on #1679
Yeah, @LRydin - could you please remove the `paper.tex` file from your repository? It's confusing @whedon.

[2019-08-23 17:18] kyleniemeyer commented on #1680
@whedon generate pdf

[2019-08-23 17:18] whedon commented on #1680
[code]

[2019-08-23 17:19] whedon commented on #1680
PDF failed to compile for issue #1680 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon.rb:135:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80

[2019-08-23 17:20] kyleniemeyer commented on #1680
Hi @AustinNar, could you add an `affiliation` block to your paper's header, and also modify the author field to include this? It should look something like:
[code]

[2019-08-23 17:29] LRydin commented on #1679
Dear All,

@arfon certainly, I'll remove the .tex. Do understand that the paper.pdf is
generated from that TeX, since I am a novice with Markdown.

On Fri, 23 Aug 2019 at 19:17, Arfon Smith <notifications@github.com> wrote:

[2019-08-23 17:40] arfon commented on #1679
@whedon generate pdf

[2019-08-23 17:40] whedon commented on #1679
[code]

[2019-08-23 17:40] whedon commented on #1679
PDF failed to compile for issue #1679 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon.rb:143:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Francisco Meirinhos (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon.rb:141:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems

[2019-08-23 17:41] AustinNar commented on #1680
Hi @kileniemeyer, I have pushed an update with affiliation, does that look correct?

[2019-08-23 17:46] arfon commented on #1679
@LRydin - this pull request should fix your paper: https://github.com/LRydin/KramersMoyal/pull/3 . I'm not sure if this author has an ORDIC but the placeholder one 0000-0000-0000-0000 is failing validation.

The Pandoc rendering engine goes from Markdown (`paper.md`) straight through to pdf. Having a file called `paper.tex` confuses our robot Whedon when compiling the paper :-)

[2019-08-23 17:47] mbobra commented on #1557
Thanks, @swapsha96. Please let me know if you want any help with a submission to JOSE. I'm happy to help. Good luck!

[2019-08-23 17:47] #1557 closed

[2019-08-23 17:48] mbobra commented on #1557
Also thank you to @DanielLenz for reviewing -- we really appreciate your time and effort.

[2019-08-23 18:11] DanielLenz commented on #1651
@terrytangyuan, I think both @shreyasbapat and myself approve the manuscript and the code base.

What's the next step for the submission?

[2019-08-23 18:31] kyleniemeyer commented on #1557
I have withdrawn this submission—thanks all.

[2019-08-23 18:32] kyleniemeyer commented on #1532
@whedon generate pdf

[2019-08-23 18:32] whedon commented on #1532
[code]

[2019-08-23 18:32] whedon commented on #1532
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01532/joss.01532/10.21105.joss.01532.pdf)

[2019-08-23 18:38] kyleniemeyer commented on #1532
@whedon check references

[2019-08-23 18:38] whedon commented on #1532
[code]

[2019-08-23 18:38] whedon commented on #1532
[code]

[2019-08-23 18:38] kyleniemeyer commented on #1532
@whedon accept

[2019-08-23 18:38] whedon commented on #1532
No archive DOI set. Exiting...

[2019-08-23 18:42] kyleniemeyer commented on #1532
@whedon set 10.5281/zenodo.3375570 as archive

[2019-08-23 18:42] whedon commented on #1532
OK. <a href="https://doi.org/10.5281/zenodo.3375570" target="_blank">10.5281/zenodo.3375570</a> is the archive.

[2019-08-23 18:42] kyleniemeyer commented on #1532
@whedon accept

[2019-08-23 18:43] whedon commented on #1532
[code]

[2019-08-23 18:44] whedon commented on #1532
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/925

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/925, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-23 18:45] kyleniemeyer commented on #1532
@whedon accept deposit=true

[2019-08-23 18:45] whedon commented on #1532
[code]

[2019-08-23 18:46] whedon commented on #1532
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1164972215592349696) 👈 🐦🐦🐦

[2019-08-23 18:46] whedon commented on #1532
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/926
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01532](https://doi.org/10.21105/joss.01532)
2. If everything looks go

[2019-08-23 18:47] kyleniemeyer commented on #1532
Congrats @dap-biospec on your article's publication in JOSS! Many thanks to @usethedata and @FaustinCarter for reviewing.

[2019-08-23 18:47] #1532 closed

[2019-08-23 18:47] whedon commented on #1532
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01532/status.svg)](https://doi.org/10.21105/joss.01532)

**We need your help!**

Journal of Open Source Softwa

[2019-08-23 19:16] kyleniemeyer commented on #1680
@AustinNar please remove the "Student" part, and add location information like city, state, and country

For example, my affiliation info would be:

[2019-08-23 19:30] AustinNar commented on #1680
@kyleniemeyer Thank you, I've committed/pushed the updated paper.md

[2019-08-23 19:32] kyleniemeyer commented on #1680
@whedon generate pdf

[2019-08-23 19:32] whedon commented on #1680
[code]

[2019-08-23 19:34] whedon commented on #1680
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01680/joss.01680/10.21105.joss.01680.pdf)

[2019-08-23 19:36] LRydin commented on #1679
@Arfon He does not yet have an ORCID account, but I will talk with
Francisco to generate it.

On Fri, 23 Aug 2019 at 19:46, Arfon Smith <notifications@github.com> wrote:

[2019-08-23 19:48] PhilipVinc commented on #1668
I am available for reviewing the paper.

[2019-08-23 19:50] kyleniemeyer commented on #1668
Thanks @PhilipVinc!

[2019-08-23 19:50] kyleniemeyer commented on #1668
@whedon add @PhilipVinc as reviewer

[2019-08-23 20:07] nquesada commented on #1668
Thanks @PhilipVinc !

[2019-08-23 20:11] arfon commented on #1679
@whedon generate pdf

[2019-08-23 20:11] whedon commented on #1679
[code]

[2019-08-23 20:12] whedon commented on #1679
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01679/joss.01679/10.21105.joss.01679.pdf)

[2019-08-23 20:36] Schallaven commented on #1677
@whedon generate pdf

[2019-08-23 20:36] whedon commented on #1677
[code]

[2019-08-23 20:36] whedon commented on #1677
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01677/joss.01677/10.21105.joss.01677.pdf)

[2019-08-23 20:45] kthyng commented on #1670
@mikapfl Thanks so much for letting me know!

@JoshKarpel Are you interested in reviewing this JOSS submission? We ask for reviews within about 3 weeks and you can find more information here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2019-08-23 20:46] sohrabtowfighi commented on #1675
Hi, I have rewritten the test script `test.py` to better meet criteria described herein.

[2019-08-23 20:49] kthyng commented on #1679
Sure, I can be editor.

[2019-08-23 20:49] kthyng commented on #1679
@whedon assign @kthyng as editor

[2019-08-23 20:49] whedon commented on #1679
OK, the editor is @kthyng

[2019-08-23 20:50] kthyng commented on #1679
@LRydin Can you look at the list of reviewers (https://bit.ly/joss-reviewers) and select out at least 4 that look like good fits for your submission? Then I will ask them, in search of 2. People not from the list are fine, too.

[2019-08-23 21:15] sohrabtowfighi commented on #1675
@whedon generate pdf

[2019-08-23 21:15] whedon commented on #1675
[code]

[2019-08-23 21:15] whedon commented on #1675
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01675/joss.01675/10.21105.joss.01675.pdf)

[2019-08-23 22:06] JoshKarpel commented on #1670
Same for me - happy to do a review, not familiar with the theory.

[2019-08-24 00:21] FaustinCarter commented on #1629
I don't have any specific objections to publishing this. It's a cool package, and it has a lot of functionality. However, it is a complicated enough project that I think the documentation could use some expansion; I don't think very many people will use it without some serious hand-holding in the docs. I won't hold the review up over it as long as the authors agree in good faith to take a stab at

[2019-08-24 01:02] dap-biospec commented on #1629
Thank you @FaustinCarter. Point is taken. You are correct - this package transpired from a high-level chemical problems that could not be solved by conventional approaches.  We will continue to update documentation with more generic examples and additional scenarios.

[2019-08-24 03:27] jiajiexiao commented on #1553
As I don't have a suitable personal device to test the toolkit, I just went through the repository, documentation and some of the references. Here are some of my comments based on what I have read.

The simulation toolkit doesn't seem to support any QM/MM methods that simulate the enzymatic reactions. Therefore, I suggest the author be more specific when he mentions the word "reaction" in the desc

[2019-08-24 06:43] telegraphic commented on #1554
Hey @xuanxu , we've had a meeting about moving this forward, and I'll be devoting some time to it this weekend. Quite a few suggestions!

[2019-08-24 08:17] Kevin-Mattheus-Moerman commented on #1678
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-08-24 08:17] whedon commented on #1678
OK, the editor is @Kevin-Mattheus-Moerman

[2019-08-24 08:30] LRydin commented on #1679
@kthyng <https://github.com/kthyng> Hey Kristen Thyng, I have found four
possible names:

pdebuyl
shibabrat
dawbarton
JoshKarpel

there is a possible other reviewer that has worked in the field and now is
a Professor at the Metropolitan University of Oslo: Pedro Lind,
Pedro.Lind@oslomet.no

Best,
Leonardo

On Fri, 23 Aug 2019 at 22:51, Kristen Thyng <notifications@github.com>
wrote:

[2019-08-24 09:12] Kevin-Mattheus-Moerman commented on #1634
@whedon assign @chennachaos as reviewer

[2019-08-24 09:12] whedon commented on #1634
OK, the reviewer is @chennachaos

[2019-08-24 09:12] Kevin-Mattheus-Moerman commented on #1634
@whedon add @KedoKudo as reviewer

[2019-08-24 09:13] whedon commented on #1634
OK, @KedoKudo is now a reviewer

[2019-08-24 09:27] Kevin-Mattheus-Moerman commented on #1634
@heprom @ondrolexa @Mote3D would you be interested in reviewing this package for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org/about). This submission is a Python package for generating complex synthetic microstructures. The review process focuses largely on [the software](https://github.com/mrgprasad/kanapy) and a [short paper](https://github.com/openjournals/joss-papers/blo

[2019-08-24 09:30] Kevin-Mattheus-Moerman commented on #1047
@jshermeyer can you give an update on progress in terms of replying/dealing with @rmsare comments? It looks like we are nearly there.

[2019-08-24 09:34] Kevin-Mattheus-Moerman commented on #1262
@patrikhuber great. Thanks for the update. I hope this can be wrapped up soon. Thanks again.

[2019-08-24 09:36] Kevin-Mattheus-Moerman commented on #1262
@r-barnes I noticed the "Functionality" box is not ticked. Can you summarize where you think this needs improvement or state what is needed for you to tick this box? Thanks!

[2019-08-24 09:36] Kevin-Mattheus-Moerman commented on #1262
Are these issues resolved? Thanks.

[2019-08-24 09:38] Kevin-Mattheus-Moerman commented on #1613
@ctdegroot can you verify the changes made? Thanks

[2019-08-24 09:40] Kevin-Mattheus-Moerman commented on #1613
@vaishnavtv you can tick the version box (it will be removed in future review issues) as we fix the version tag on acceptance.

[2019-08-24 09:42] Kevin-Mattheus-Moerman commented on #1613
@apsabelhaus are you able to finalize this review soon? Thanks.

[2019-08-24 09:46] Kevin-Mattheus-Moerman commented on #1676
@danasolav is this something you'd be interested in reviewing? We'll get several reviewers (some of whom are experts in this field) so it is okay if this isn't exactly your expertise. You could test it for the removal of reflections from your some of your DIC data for instance.

[2019-08-24 09:52] Kevin-Mattheus-Moerman commented on #1676
@vitorsr I'm recruiting/searching for reviewers. If you have any reviewer suggestions please feel free to tag them here. Thanks.

[2019-08-24 10:13] Kevin-Mattheus-Moerman commented on #1676
@wanrenjie @rui1996 @thatbrguy @sjtrny @ceciliavision would you be interested in reviewing this submission for the Journal of Open Source Software (JOSS)? This package implements (MATLAB/Octave) and compares several single image highlight removal methods. [The review process focuses](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) largely on [the software](https://github.

[2019-08-24 11:27] seanlaw commented on #1504
@arfon I have fixed the typo in the original source repository. Can you please take a look?

[2019-08-24 11:30] telegraphic commented on #1554
@whedon commands

[2019-08-24 11:30] whedon commented on #1554
Here are some things you can ask me to do:

[code]

[2019-08-24 11:30] telegraphic commented on #1554
@whedon generate pdf

[2019-08-24 11:30] whedon commented on #1554
[code]

[2019-08-24 11:31] whedon commented on #1554
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01554/joss.01554/10.21105.joss.01554.pdf)

[2019-08-24 11:46] telegraphic commented on #1554
@whedon generate pdf

[2019-08-24 11:46] whedon commented on #1554
[code]

[2019-08-24 11:46] whedon commented on #1554
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01554/joss.01554/10.21105.joss.01554.pdf)

[2019-08-24 12:32] arfon commented on #1504
Done. It could take a few hours to show up as fixed on the JOSS site as there's caching in place for the PDFs.

[2019-08-24 13:25] seanlaw commented on #1504
Thanks, @arfon! It looks good now

[2019-08-24 15:36] ViniciusBRodrigues commented on #1661
Based on the review checklist, small modifications should be done. The **A statement of need** and **Community guidelines** could be improved. The use of the software could be very wide inside ecology, but you can specify (more clearly) the target audience.

There is no clear information about how to contribute to the software, report issues or seek support. Despite the users can do that through G

[2019-08-24 15:41] arfon commented on #1661
:wave: @lsw5077 - how are you getting along with your review?

[2019-08-24 17:27] Cavenfish commented on #1612
Hey @jedbrown is there anything more I should be doing now, or just wait for further comments?

[2019-08-24 18:13] kyleniemeyer commented on #1629
Thanks for your feedback @FaustinCarter!

@dap-biospec please work on addressing some of those comments, and let us know when you've been able to.

[2019-08-24 21:26] ramaniitrgoyal92 commented on #1613
@vaishnavtv We did the suggested changes. Thanks a lot!

[2019-08-24 21:48] jedbrown commented on #1612
@Cavenfish Thanks for your great additions. I just returned from travel and the semester is about to start, but I'll handle this within the coming days. Sorry for the delay.

[2019-08-25 12:37] rougier commented on #1626
I'm now reviewing the paper and software. I managed to install the software but I get trouble testing it because I can't get download the data (I opened an issue).  Who is the second author (I cannot find any commit by him)? I also noticed the discrepancy between the GitHub release version (1.0.1) and the release given here (1.1.0).

[2019-08-25 13:02] rougier commented on #1626
Problem solved.  But tests are failing: 41 failed, 12 passed, 21 error in 3.13 seconds
Test dependencies: zodbpickle, braindecode, mne

Example error:
[code]
test search in `test_data` while it seems to be  in data are in `test/data/NeuroneTestdata`. I ran the get_test_data.sh from inside the test drectory, maybe this is the reason.

Also, it would be good to warn the user (in the README) that the

[2019-08-25 16:34] dap-biospec commented on #1629
@FaustinCarter thank you for pointing out typos and omissions in the paper. They have been corrected.

The section of the paper describing process fitting has been revised with examples and explanations, keeping a more general scope in mind. I like the idea of simple examples (say, a single Gaussian band with superimposed noise variable over 2D or 3D space), although its careful execution will req

[2019-08-25 16:36] trallard commented on #1539
Thanks @melund
I just noticed that the item for the license has not been checked on your list but I just double checked and this is in compliance. So @finsberg  I am going to move to the following editorial activites.

Can you please make sure to perform the following actions:
1. Generate a new DOI for the software and past it here
2. Make sure that the package version is up to date and report her

[2019-08-25 16:36] trallard commented on #1539
@whedon generate pdf

[2019-08-25 16:36] whedon commented on #1539
[code]

[2019-08-25 16:36] trallard commented on #1539
@whedon check references

[2019-08-25 16:36] whedon commented on #1539
[code]

[2019-08-25 16:36] whedon commented on #1539
[code]

[2019-08-25 16:36] whedon commented on #1539
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01539/joss.01539/10.21105.joss.01539.pdf)

[2019-08-25 16:37] trallard commented on #1517
Thanks all for the reviews.
@dangunter, @krother can I have an estimated date for this review to be completed? it has been going on for a while and we'd like to move it forwards

[2019-08-25 16:38] trallard commented on #1680
Sure @kyleniemeyer  I am happy to edit this submission

[2019-08-25 16:59] gkthiruvathukal commented on #1326
Ok, I'm back. Now I just need to get the semester started.

Thanks @CameronDevine for confirming that all items on your checklist are now complete.

@Amudtogal, I am ready to move toward final acceptance. Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo

[2019-08-25 17:00] gkthiruvathukal commented on #1494
@whedon set 10.5281/zenodo.3366076 as archive

[2019-08-25 17:00] whedon commented on #1494
OK. <a href="https://doi.org/10.5281/zenodo.3366076" target="_blank">10.5281/zenodo.3366076</a> is the archive.

[2019-08-25 17:03] gkthiruvathukal commented on #1494
@whedon set v0.2.0 as release

[2019-08-25 17:03] gkthiruvathukal commented on #1494
@whedon check references

[2019-08-25 17:04] whedon commented on #1494
[code]

[2019-08-25 17:04] whedon commented on #1494
[code]

[2019-08-25 17:06] gkthiruvathukal commented on #1494
@whedon generate pdf

[2019-08-25 17:06] whedon commented on #1494
[code]

[2019-08-25 17:07] whedon commented on #1494
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01494/joss.01494/10.21105.joss.01494.pdf)

[2019-08-25 17:08] gkthiruvathukal commented on #1494
@openjournals/joss-eics  I'm ready to accept this submission, pending your final checks.

[2019-08-25 17:10] gkthiruvathukal commented on #1592
@whedon check references

[2019-08-25 17:10] whedon commented on #1592
[code]

[2019-08-25 17:11] whedon commented on #1592
[code]

[2019-08-25 17:13] gkthiruvathukal commented on #1592
@eidheim I think you still need to update the DOI. See @kyleniemeyer's comment above. If you wish to remove the citation, this is also ok, but it is still present in your list of references.

[2019-08-25 17:14] gkthiruvathukal commented on #1578
@cole-brokamp and @daissi, Thanks for the help in reviewing this submission.

@vsoch, I am ready to move toward acceptance. Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the pape

[2019-08-25 17:17] gkthiruvathukal commented on #1604
@seanpue, did you see my follow-up? Please respond and let me know any potential reviewers. Please also let me know if you still want your submission reviewed. As you have not responded to my query in 24 days, I am concerned you will not be responsive once review actually starts. I will only commence review once I receive a response. It would be greatly helpful if you can suggest reviewers from th

[2019-08-25 17:18] gkthiruvathukal commented on #1337
@homonecloco Just a nudge to the above comment. Can you let me know if you have any further issues with this submission. I believe we are ready to accept.

[2019-08-25 17:26] vsoch commented on #1578
On it!

[2019-08-25 17:37] vsoch commented on #1578
- [x] The tagged release is for version 0.0.16, available [here](https://github.com/singularityhub/singularity-compose/releases/tag/0.0.16)
 - [x] The archive on Zenodo is [here](https://zenodo.org/record/3376793#.XWLGkHFKhgw)
 - [x] For metadata, I made sure my full name was used, affiliation, orcid id, the title corresponds with the name of the paper, and the release is 0.0.16
 - [x] The zenodo

[2019-08-25 17:39] gkthiruvathukal commented on #1578
@whedon set 0.0.16 as release

[2019-08-25 17:40] gkthiruvathukal commented on #1578
@whedon set 10.5281/zenodo.3376793 as archive

[2019-08-25 17:40] whedon commented on #1578
OK. <a href="https://doi.org/10.5281/zenodo.3376793" target="_blank">10.5281/zenodo.3376793</a> is the archive.

[2019-08-25 17:41] gkthiruvathukal commented on #1578
@whedon commands

[2019-08-25 17:41] whedon commented on #1578
Here are some things you can ask me to do:

[code]

[2019-08-25 17:41] gkthiruvathukal commented on #1578
@whedon set 0.0.16 as version

[2019-08-25 17:41] whedon commented on #1578
OK. 0.0.16 is the version.

[2019-08-25 17:41] gkthiruvathukal commented on #1578
@whedon check references

[2019-08-25 17:41] whedon commented on #1578
[code]

[2019-08-25 17:41] whedon commented on #1578
[code]

[2019-08-25 17:44] gkthiruvathukal commented on #1578
Hi @vsoch Can you take a look at the invalid DOIs in the references? I think the problem is that you don't have the full DOI: 10.1371/journal.pone.0177459

[2019-08-25 17:46] vsoch commented on #1578
Sure thing.

[2019-08-25 17:50] vsoch commented on #1578
@whedon generate pdf

[2019-08-25 17:50] whedon commented on #1578
[code]

[2019-08-25 17:50] whedon commented on #1578
PDF failed to compile for issue #1578 with the following error:

 Error reading bibliography ./paper.bib (line 60, column 3):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-25 17:51] heilerich commented on #1626
Thanks for your feedback everyone!

**Release Tag**
@brainstorm @rougier  I have tagged the release on github and also removed the v prefix to comply with semver.

**Statement of Need and Audience**
@satra I added a short statement regarding the purpose of the library to the documentation introduction (see the [review branch](https://github.com/heilerich/neurone_loader/tree/review)). I could add m

[2019-08-25 17:51] vsoch commented on #1578
@whedon generate pdf

[2019-08-25 17:51] whedon commented on #1578
[code]

[2019-08-25 17:52] whedon commented on #1578
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01578/joss.01578/10.21105.joss.01578.pdf)

[2019-08-25 17:52] vsoch commented on #1578
@whedon check references

[2019-08-25 17:52] whedon commented on #1578
[code]

[2019-08-25 17:52] whedon commented on #1578
[code]

[2019-08-25 17:53] vsoch commented on #1578
The Docker Compose entry shouldn't have a DOI, it's for a software page (so I think safe to ignore).

[2019-08-25 18:16] finsberg commented on #1539
@whedon generate pdf

[2019-08-25 18:16] whedon commented on #1539
[code]

[2019-08-25 18:16] finsberg commented on #1539
@whedon check references

[2019-08-25 18:16] whedon commented on #1539
[code]

[2019-08-25 18:17] whedon commented on #1539
[code]

[2019-08-25 18:17] whedon commented on #1539
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01539/joss.01539/10.21105.joss.01539.pdf)

[2019-08-25 18:25] finsberg commented on #1539
1. @trallard How do you want me do generate a DOI for the software? [Zenodo](https://zenodo.org)?
2. Package version number [2019.0](https://github.com/finsberg/pulse/releases/tag/v2019.0) is up to date.
3. I have done final review of the paper, and made a few corrections. The last article proof looks good. I also added the DOIs in the bib-file.

[2019-08-25 18:42] trallard commented on #1539
Hey @finsberg  you can archive the software in Zenodo and add here the DOI for it

[2019-08-25 18:51] finsberg commented on #1539
DOI: 10.5281/zenodo.3376811

[2019-08-25 20:00] eidheim commented on #1592
Thank you @gkthiruvathukal . I removed the boost citation in https://gitlab.com/eidheim/Simple-Web-Server/commit/3dd3f1d4be4e0f84c1f9f532c3049e2c5e1e94cc.

Do you wish me to create a new and updated repository release/tag and/or zenodo archive?

[2019-08-25 20:16] gkthiruvathukal commented on #1592
@eidhelm, you're welcome. I don't believe you need to update the release or archive, since these both reflect the version we're accepting.

@openjournals/joss-editors, I recommend accepting this submission, pending any final input you may have.

[2019-08-25 20:26] gkthiruvathukal commented on #1578
@vsoch Thanks for your follow up. I'm ready to move forward with accepting your submission.

@openjournals/joss-editors I recommend acceptance, pending any additional input you may have.

[2019-08-25 20:30] kthyng commented on #1592
@gkthiruvathukal You want to use @openjournals/joss-eics here!

[2019-08-25 20:30] kthyng commented on #1578
@gkthiruvathukal You want to use @openjournals/joss-eics here!

[2019-08-25 20:32] gkthiruvathukal commented on #1592
Thanks, @kthyng, my bad. A little too fast with tab completion. Thanks for catching that!

@openjournals/joss-eics, I recommend accepting this submission, pending any final input you may have.

[2019-08-25 21:21] arokem commented on #1551
Whoops. I believe that this one should have been closed when I started #1587. Closing now.

[2019-08-25 21:21] #1551 closed

[2019-08-26 01:25] usethedata commented on #1542
@ShanaScogin That would probably be best.  It's a nit, and I should have caught it before having you create the archive.

[2019-08-26 01:28] usethedata commented on #1646
Sorry to be slow in responding -- I'm two weeks out from moving and there are lots of tasks needing attention.  Yes, I will review and I have some thoughts for some reviewers to recruit.

[2019-08-26 01:29] usethedata commented on #1646
@whedon assign @usethedata as editor

[2019-08-26 01:29] whedon commented on #1646
OK, the editor is @usethedata

[2019-08-26 01:30] #1490 closed

[2019-08-26 01:32] poulson commented on #1371
Hi Jordi (@jordigh): I hate to ping you, but the other two reviewers are essentially done and the process is currently blocked on you finishing your review.

Do you think you would be able to finish in the next few days?

[2019-08-26 01:34] poulson commented on #1570
Hi @vyasr: How do you feel your requests are progressing?

[2019-08-26 01:36] poulson commented on #1609
Hi Alexander (@ajgates) and Ryan (@Autoplectic): It has been almost a month since the review started and it seems neither of you has commented or checked any boxes.

I fully understand that reviews are easy to keep delaying until a ping, and so I am hoping this could serve as one.

If for some reason you feel you would be unable to complete the review, please let me know and I can start the search

[2019-08-26 01:36] kyleniemeyer commented on #1680
@whedon assign @trallard as editor

[2019-08-26 01:36] whedon commented on #1680
OK, the editor is @trallard

[2019-08-26 01:38] kyleniemeyer commented on #1592
@whedon check references

[2019-08-26 01:38] whedon commented on #1592
[code]

[2019-08-26 01:38] whedon commented on #1592
[code]

[2019-08-26 01:38] kyleniemeyer commented on #1592
@whedon generate pdf

[2019-08-26 01:38] whedon commented on #1592
[code]

[2019-08-26 01:39] whedon commented on #1592
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01592/joss.01592/10.21105.joss.01592.pdf)

[2019-08-26 02:17] kyleniemeyer commented on #1578
Hi @vsoch, just a few edits needed on the paper:
- Could you add more-complete affiliation info?
- For the "Running services — singularity container 3.2 documentation." reference, I think you can add "Sylabs Inc" as the author
- For the Kurtzer reference, could you strip the "https://doi.org/" from the DOI in the bib file? Our template only expects the DOI itself

[2019-08-26 02:25] kyleniemeyer commented on #1592
Hi @eidheim, could you merge this PR with an edit to a reference: https://gitlab.com/eidheim/Simple-Web-Server/merge_requests/244

[2019-08-26 02:27] whedon opened #1681 "[PRE REVIEW]: RHEOS - A Julia package for Rheology Data Analysis."
**Submitting author:** @akabla (<a href="http://orcid.org/0000-0002-0280-3531">Alexandre Kabla</a>)
**Repository:** <a href="https://github.com/JuliaRheology/RHEOS.jl" target ="_blank">https://github.com/JuliaRheology/RHEOS.jl</a>
**Version:** v0.9
**Editor:** @jedbrown
**Reviewers:** @adambeall, @gbruer15, @HaoZeke

**Author instructions**

Thanks for submitting your paper to JOSS @akabla. **Curr

[2019-08-26 02:27] whedon commented on #1681
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-26 02:27] whedon commented on #1681
[code]

[2019-08-26 02:28] whedon commented on #1681
PDF failed to compile for issue #1681 with the following error:

 Error reading bibliography ./paper.bib (line 161, column 3):
unexpected "v"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-26 02:29] kyleniemeyer commented on #1681
Hi @jedbrown, could you edit this submission?

[2019-08-26 02:31] kyleniemeyer commented on #1681
@akabla this PR should fix the compilation issue (assuming there aren't others): https://github.com/JuliaRheology/RHEOS.jl/pull/34

[2019-08-26 02:33] kyleniemeyer commented on #1677
Hi @Schallaven, thanks for your interest in JOSS.

After a pre-review of your submission, and an assessment by the editorial board at large, we find that this submission does not quite meet our submission requirements. In particular, while the software seems very useful, it falls under the "minor utility" category, and we therefore decided not to put it through review.

Thank you for considering J

[2019-08-26 02:33] #1677 closed

[2019-08-26 02:53] akabla commented on #1681
Thanks Kyle, I just accepted the PR.

[2019-08-26 03:05] akabla commented on #1681
@whedon generate pdf

[2019-08-26 03:05] whedon commented on #1681
[code]

[2019-08-26 03:05] whedon commented on #1681
PDF failed to compile for issue #1681 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.157/02ebd5134ef935743898e21f279b1f371ffbfaa1.svg': check that rsvg2pdf is in path.
  rsvg-convert: createProcess: runInteractiveProcess: exec: does not exist (No such file or directory)
[WARNING] Could not convert image '/tmp/tex2pdf.157/7a4a8d0b45104765db67392b19dbfe1d93d90bdc.svg': c

[2019-08-26 03:15] akabla commented on #1681
@whedon generate pdf

[2019-08-26 03:15] whedon commented on #1681
[code]

[2019-08-26 03:15] whedon commented on #1681
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01681/joss.01681/10.21105.joss.01681.pdf)

[2019-08-26 03:22] jedbrown commented on #1681
@whedon assign @jedbrown as editor

[2019-08-26 03:22] whedon commented on #1681
OK, the editor is @jedbrown

[2019-08-26 03:36] akabla commented on #1681
Thanks @jedbrown for accepting to edit the paper. We'll try to suggest reviewers asap.

[2019-08-26 03:37] akabla commented on #1681
@whedon commands

[2019-08-26 03:37] whedon commented on #1681
Here are some things you can ask me to do:

[code]

[2019-08-26 03:46] akabla commented on #1681
@whedon generate pdf

[2019-08-26 03:46] whedon commented on #1681
[code]

[2019-08-26 03:46] whedon commented on #1681
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01681/joss.01681/10.21105.joss.01681.pdf)

[2019-08-26 04:14] vsoch commented on #1578
Could you clarify where you would like the affiliation info? I have it in the paper and zenodo record.

For the second point, I'm happy to do this, but for historical correctness I need to point out that the majority of content for that page was copy pasted verbatim from https://github.com/singularityware/singularityware.github.io/blob/master/pages/docs/user-docs/docs-instances.md, which was writt

[2019-08-26 04:23] vsoch commented on #1578
Changes made - I chose "Singularity contributors" to the authors to be more correct, and stripped the DOI. I will wait for feedback about the affiliation.

[2019-08-26 04:24] vsoch commented on #1578
I changed "Stanford University" to "Stanford University Research Computing Center" in case that is what you are wanting.

[2019-08-26 05:13] rougier commented on #1626
Tests are now working. I get 6 failed, 68 passed in 695.95 seconds. Difficult to say where it failed because the output is quite verbose. Last failed test was:
[code]
Apart from that I think the submission is now ok for me.

[2019-08-26 06:14] kyleniemeyer commented on #1578
@vsoch For the affiliation, I just want more-complete info, like what you'd see on a typical article: department, institution, city, state, country (or similar).

For that reference, the choice of author is fine, I just wanted someone listed in the author field.

[2019-08-26 06:15] kyleniemeyer commented on #1578
@vsoch (for the affiliation field in the paper)

[2019-08-26 06:32] melund commented on #1539
@trallard I forgot to check the license box. Everything is fine now. Good work @finsberg

[2019-08-26 06:40] HaoZeke commented on #1681
Hey this seems like a neat project. Might I recommend myself as a reviewer? @akabla

[2019-08-26 07:03] Shibabrat commented on #1670
@kthyng can you kindly ask few more that I found on the list? khinsen, yxqd, and wtgee. Thanks

[2019-08-26 07:12] vsoch commented on #1578
okay just added a bunch of Stanfords to it :)

[2019-08-26 07:21] vsoch commented on #1578
Just a comment - the example paper only has the university title for the affiliation, https://joss.readthedocs.io/en/latest/submitting.html?highlight=affiliation#example-paper-and-bibliography which is what I've done for the last (maybe 6?) papers. If the requirement is to have these extraneous fields, it should be clearly stated... somewhere, and then the criteria checked consistent across review

[2019-08-26 07:40] fauvernierma commented on #1434
Hi,

Thanks a lot everyone. I am looking forward to submitting another package to JOSS !

Have a great day !!!!

[2019-08-26 07:56] akabla commented on #1681
Dear @HaoZeke, you would be more than welcome!
@jedbrown

[2019-08-26 08:41] eidheim commented on #1592
@kyleniemeyer your PR is now merged. Thank you.

[2019-08-26 10:37] arfon commented on #720
:wave: @offray - how are you getting along here?

[2019-08-26 11:50] akabla commented on #1681
Dear Jed,    @jedbrown

please find below suggestions of reviewers for the paper.

@HaoZeke has most kindly offered to review.

Based on the list of JOSS reviewers, I would also suggest:

- myousefi
- wkearn
- mancellin

Many thanks

[2019-08-26 12:01] moustachio-belvedere commented on #1681
@whedon check references

[2019-08-26 12:01] whedon commented on #1681
[code]

[2019-08-26 12:01] whedon commented on #1681
[code]

[2019-08-26 12:05] moustachio-belvedere commented on #1681
@whedon check references

[2019-08-26 12:05] whedon commented on #1681
[code]

[2019-08-26 12:06] whedon commented on #1681
[code]

[2019-08-26 12:08] moustachio-belvedere commented on #1681
I have removed the Findley book DOI that `whedon` suggests as it a DOI for a book review of the actual book.

[2019-08-26 12:09] moustachio-belvedere commented on #1681
@whedon generate pdf

[2019-08-26 12:09] whedon commented on #1681
[code]

[2019-08-26 12:09] whedon commented on #1681
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01681/joss.01681/10.21105.joss.01681.pdf)

[2019-08-26 13:08] danielskatz commented on #1487
👋 @tesch1 - note we're waiting for you here...

[2019-08-26 13:10] danielskatz commented on #1573
Sorry for the delay - I'm on vacation and just scanning things, and missed this.

But the answer is that we can do what's needed - I'm fairly sure that we will need to change the repo URL in this issue, and we will probably change the name of the issue as well.

[2019-08-26 13:11] danielskatz commented on #1573
👋 @jgoldfar

Can you please go ahead and do this? (and check the boxes for items that are complete)

[2019-08-26 13:12] danielskatz commented on #1636
👋 @bwoshea - note that we're waiting for you to respond to a bunch of open issues - listed above...

[2019-08-26 13:21] henrik227 commented on #1675
@sohrabtowfighi Regarding the authorship: Are you also using the @pySRURGS account, or is this someone else?

[2019-08-26 13:23] sohrabtowfighi commented on #1675
@henrik227, I am also using the @pySRURGS account. There is no other author.

[2019-08-26 13:28] rtfisher commented on #1636
Just to clarify, I am still in the process of completing my review. @bwoshea indicates that the ENZO team is awaiting this completion prior to starting their responses.

[2019-08-26 13:33] danielskatz commented on #1636
That's ok, but JOSS reviews typically are more interactive.  Maybe with a complex team like this, it makes sense to wait.

[2019-08-26 15:45] jizecn commented on #1654
The embedded link in the sentence of
_Repository: Is the source code for this software available at the repository url?_
is actually still pointing to the wrong url.

[2019-08-26 15:58] whedon opened #1682 "[REVIEW]: GPU-Accelerated LArge-scale MOlecular Simulation Toolkit"
**Submitting author:** @zhuyouliang (<a href="http://orcid.org/0000-0002-9561-0770">You-Liang Zhu</a>)
**Repository:** <a href="https://bitbucket.org/galamostdevelopergroup/source-code" target ="_blank">https://bitbucket.org/galamostdevelopergroup/source-code</a>
**Version:** v4.0.1
**Editor:** @kyleniemeyer
**Reviewer:** @mabraham, @jiajiexiao, @ChayaSt
**Archive:** Pending

## Status

[![status]

[2019-08-26 16:16] jizecn commented on #1654
Thanks for suggesting me to review the code/paper submission @henrikmidtiby

I have done a quick read of the paper, but have not managed to proceed to test the code as instructed (due to different operating system I use (Mac OS).).

Correct me if I am wrong, since I have not looked into the code in detail. I think the paper subject is a little misleading. Porpoise Tracker, to me, implies automatic

[2019-08-26 16:56] Shibabrat commented on #1670
thank you @dpsanders

[2019-08-26 20:33] tesch1 commented on #1487
@StewMH Oops, I checked in a fix for this last week but forgot to come back to you here.  Shoudl work from the master branch now.

[2019-08-27 00:02] jdeligt commented on #1665
@mlindsk I'll progress with the testing of the software but please update the version of the publication (v0.5.0) to match the github release

[2019-08-27 06:42] mlindsk commented on #1665
@whedon set v1.0.0 as version

[2019-08-27 06:44] mlindsk commented on #1665
@csoneson Could you change the version as requested to v1.0.0. Thank you.

[2019-08-27 07:55] tdrozdovsky commented on #1494
Hi @kyleniemeyer, I have merged your commits and deleted the broken link. Thank you for your support.

[2019-08-27 08:06] tdrozdovsky commented on #1494
@whedon generate pdf

[2019-08-27 10:02] dawbarton commented on #1679
Yes, I should be able to do that. I've strayed into this sort of area before, my knowledge is a bit rusty but should be fine.

[2019-08-27 10:06] StewMH commented on #1487
Thanks, sorry I'm on holiday until 9th September now, but will check back
in with you then

On Mon, 26 Aug 2019, 23:33 Michael Tesch, <notifications@github.com> wrote:

[2019-08-27 10:27] jdeligt commented on #1665
Hi @mlindsk, some small comments first; while you're on it please also update the version in your documentation to match. I also can't find a "Contributing" doc or text about community guidelines in the README. Could the proceeding reference point to this: https://arxiv.org/abs/1301.2267 to have a stable identifier?

Then a slightly bigger comment, I'm making some assumptions about what you mean p

[2019-08-27 11:18] mlindsk commented on #1665
Hi @jdeligt

Version should now be updated (hopefully all places now). I am not sure, that adding a contributing doc would add much. Would it suffice if (in README) I include a section "Contribute, issues, and support" as done at https://github.com/mikldk/malan ?

According to the reference. Are you asking if I could skip the reference to [https://doi.org/10.1109/ictai.2004.100](url) ? If so; it a

[2019-08-27 12:26] xuanxu commented on #1671
:wave: @zonca: would you be willing to review this paper? Your experience with Python and cosmology would come in handy here.

[2019-08-27 14:21] will-rowe commented on #1540
Hi all. I've made a few minor comments over at the [sourcepredict issue tracker](https://github.com/maxibor/sourcepredict/issues/4). Nothing major - it's a nice contribution!

[2019-08-27 14:37] duncanmmacleod commented on #1671
Yes, I am happy to review, but will not able to read or contribute anything for at least two (2) weeks due to existing commitments. If you're happy to wait, I'm happy to get to it after September 9.

[2019-08-27 15:08] maxibor commented on #1540
@whedon generate pdf

[2019-08-27 15:13] will-rowe commented on #1540
@lpantano - My comments have been addressed and I'm happy. Thanks @maxibor

[2019-08-27 15:35] xuanxu commented on #1671
Thanks @duncanmmacleod! Yes, that is ok. I'll start the review issue now, and you can join later (I'll set a reminder for September 10th).

[2019-08-27 15:35] xuanxu commented on #1671
@whedon add @duncanmmacleod as reviewer

[2019-08-27 15:36] xuanxu commented on #1671
@whedon start review

[2019-08-27 15:36] whedon opened #1683 "[REVIEW]: qnm: A Python package for calculating Kerr quasinormal modes, separation constants, and spherical-spheroidal mixing coefficients"
**Submitting author:** @duetosymmetry (<a href="http://orcid.org/0000-0001-7559-9597">Leo C. Stein</a>)
**Repository:** <a href="https://github.com/duetosymmetry/qnm" target ="_blank">https://github.com/duetosymmetry/qnm</a>
**Version:** 0.4.0
**Editor:** @xuanxu
**Reviewer:** @mattpitkin, @duncanmmacleod
**Archive:** <a href="https://doi.org/10.5281/zenodo.3459790" target="_blank">10.5281/zenodo.

[2019-08-27 15:38] xuanxu commented on #1671
@mattpitkin, @duncanmmacleod  - please head over to #1683 where the review will take place.

[2019-08-27 15:38] #1671 closed

[2019-08-27 15:39] xuanxu commented on #1683
@whedon remind @duncanmmacleod in two weeks

[2019-08-27 15:40] apuignav commented on #1570
@vyasr I think it makes sense, although the documentation is mainly included in the "parent" methods. We'll add docs to clarify better so it's more developer-friendly.

[2019-08-27 17:43] whedon opened #1684 "[REVIEW]: UPOsHam: A Python package for computing unstable periodic orbits in two degrees of freedom Hamiltonian systems"
**Submitting author:** @WyLyu (<a href="http://orcid.org/0000-0003-2570-9879">WenYang Lyu</a>)
**Repository:** <a href="https://github.com/WyLyu/UPOsHam" target ="_blank">https://github.com/WyLyu/UPOsHam</a>
**Version:** v0.1.0
**Editor:** @kthyng
**Reviewer:** @dpsanders, @JoshKarpel
**Archive:** <a href="https://doi.org/10.5281/zenodo.3606676" target="_blank">10.5281/zenodo.3606676</a>

## Statu

[2019-08-27 18:07] snowformatics commented on #1411
Dear reviewers,

I fixed and closed all issues except of two (snowformatics/BlasterQt#12
<https://github.com/snowformatics/BlasterQt/issues/12> and
snowformatics/BlasterQt#4
<https://github.com/snowformatics/BlasterQt/issues/4>) because I can not
reproduce the bugs.

@vbarrera <https://github.com/vbarrera>  would it be possible to sent me
the sequences which causes the problems?

Thank you very mu

[2019-08-27 18:15] LRydin commented on #1679
Dear Kristen Thyng,

I am but a PhD student, I don't think I possess at the time the required
knowledge to review papers, and the underlying python coding here, i.e.,
not the fundamental idea, but the improvement of the code, was performed by
Francisco Meirinhos (the second author). I feel he has the skills to review
computationally oriented papers. Maybe he would be a better bet?

I am thankful f

[2019-08-27 18:32] thatbrguy commented on #1676
@Kevin-Mattheus-Moerman @vitorsr Thank you for reaching out! However, I would like to pass on this opportunity as I don't think I possess sufficient background knowledge to provide a proper review for this submission.

[2019-08-27 20:36] akabla commented on #1681
Dear @jedbrown,

This is just to check if you are waiting for more information from us.

Please let me know if there is anything else I should do in addition to the list of [suggested referees above](https://github.com/openjournals/joss-reviews/issues/1681#issuecomment-524829693).

Thanks!

[2019-08-27 21:30] whedon opened #1685 "[REVIEW]: DOENOVA: Simple DOE and ANOVA package for Python 3"
**Submitting author:** @fblavoie (<a href="http://orcid.org/0000-0003-4574-1315">Francis B Lavoie</a>)
**Repository:** <a href="https://github.com/fblavoie/doenova" target ="_blank">https://github.com/fblavoie/doenova</a>
**Version:** 0.1.3
**Editor:** @arfon
**Reviewers:** @klmedeiros, @usethedata
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/a9f075ecbce040d20cba04207d

[2019-08-27 22:32] jdeligt commented on #1665
Hi @mlindsk, I'll try to clarify and answer the questions in order.

1. (Contributing) That would be the minimal thing to do, it helps people in understanding what model you prefer and what to expect. Some guidelines/examples are here: https://help.github.com/en/articles/setting-guidelines-for-repository-contributors

2. (Reference) I was refeering to "deshpande01_efficient" which at the moment do

[2019-08-27 23:37] alexanderimanicowenrivers commented on #1524
I have created a realise now :) - thanks https://github.com/for-ai/rl/releases

[2019-08-28 07:45] junbinzhao commented on #1646
Community guidelines are added. Thanks!

[2019-08-28 08:08] LarsHernandez commented on #1593
@whedon generate pdf

[2019-08-28 08:29] maxibor commented on #1540
@whedon commands

[2019-08-28 08:46] maxibor commented on #1540
@lpantano I created the Zenodo archive and added DOI badge in the README.
The version is now 0.34 (following all the modifications after this review).
The rest should be fine 😃

[2019-08-28 08:51] apuignav commented on #1570
@vyasr Docs have been updated!

[2019-08-28 09:07] Amudtogal commented on #1326
Great!
The last steps will however take another two weeks... I am sorry for another delay.
This time it is my own thesis getting in the way :smile:
I expect we will draft the next release mid september, including the tests and changes that have been added since version 1.0.0. As soon as we are finished with it, I will come back to you!
Have a great start for the semester, and I am looking forward

[2019-08-28 09:08] Amudtogal commented on #1326
/ooo August 30 until September 16

[2019-08-28 09:46] mlindsk commented on #1665
@whedon generate pdf

[2019-08-28 09:47] mlindsk commented on #1665
Ok. Agreed.

Ok.

We agree that data could be more complex. However, increasing the complexity in the examples does not necessarily help the reader in understanding how the software works.

The DGMs are fitted separately within in each population and haplotype. For a specific population, the fitted DGMs are merged to a union graph. Thus, we take into account the biological nature. I.e. we exploit

[2019-08-28 13:51] maxibor commented on #1540
Done

[2019-08-28 14:42] linuxscout commented on #1674
## Review checklist for @linuxscout
### Conflict of interest

- [x] As the reviewer I confirm that I have read the [JOSS conflict of interest policy](https://github.com/openjournals/joss/blob/master/COI.md) and that there are no conflicts of interest for me to review this work.

### Code of Conduct

- [x] I confirm that I read and will adhere to the [JOSS code of conduct](https://joss.theoj.org/ab

[2019-08-28 15:09] gus0k commented on #1591
@igarizio  @taqtiqa-mark , can I help you in any way to advance in your reviews?
 Best regards,
k

[2019-08-28 16:34] whedon opened #1686 "[REVIEW]: Welcome to the tidyverse"
**Submitting author:** @hadley (<a href="http://orcid.org/0000-0003-4757-117X">Hadley Wickham</a>)
**Repository:** <a href="http://github.com/tidyverse/tidyverse" target ="_blank">http://github.com/tidyverse/tidyverse</a>
**Version:** v1.3.0
**Editor:** @karthik
**Reviewer:** @ldecicco-USGS, @jeffreyhanson
**Archive:** <a href="https://doi.org/10.5281/zenodo.3547813" target="_blank">10.5281/zenodo

[2019-08-28 21:38] arfon commented on #1661
:wave: @tretherington - please let us know when you've had a chance to update your submission based on @ViniciusBRodrigues and @lsw5077's feedback.

[2019-08-28 21:45] kortschak commented on #1645
Sure.

[2019-08-28 21:55] katyhuff commented on #1650
Thanks @kellyrowland !

@sskutnik : I know it's a busy time. Please let us know if you expect this review to take more than a week or so to complete.

[2019-08-28 22:18] will-rowe commented on #1645
Happy to review this too if needed

[2019-08-28 22:21] lpantano commented on #1645
Thank you both to agree on reviewing this tool. I will wait until docs are updated to start the review.

[2019-08-29 00:56] whedon opened #1687 "[PRE REVIEW]: kmeRs : K-Mers Similarity Score Matrix"
**Submitting author:** @RafalUrniaz (<a href="http://orcid.org/0000-0003-0192-2165">Rafal Urniaz</a>)
**Repository:** <a href="https://github.com/RafalUrniaz/kmeRs" target ="_blank">https://github.com/RafalUrniaz/kmeRs</a>
**Version:** 1.1.0
**Editor:** @csoneson
**Reviewers:** @jlincbio, @VivekTodur

**Author instructions**

Thanks for submitting your paper to JOSS @RafalUrniaz. **Currently, ther

[2019-08-29 00:56] whedon commented on #1687
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-29 00:56] whedon commented on #1687
[code]

[2019-08-29 00:56] whedon commented on #1687
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01687/joss.01687/10.21105.joss.01687.pdf)

[2019-08-29 01:03] labarba commented on #1687
👋 @RafalUrniaz — I am the Associate Editor-in-Chief on rotation this week. I'm going to send this back to you for some more work, because the paper does not meet [our expectations](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). The paper, as submitted, is too brief and doesn't describe the software or its need and uses in research. While we don't expect a full

[2019-08-29 01:08] jrosen48 commented on #978
Thanks so much @arfon

[2019-08-29 01:14] whedon opened #1688 "[PRE REVIEW]: Infostop: Python package for detecting stop locations in mobility data"
**Submitting author:** @ulfaslak (<a href="http://orcid.org/0000-0003-4704-3609">Ulf Aslak</a>)
**Repository:** <a href="https://github.com/ulfaslak/infostop" target ="_blank">https://github.com/ulfaslak/infostop</a>
**Version:** v0.0.13
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @ulfaslak. **Currently, there isn't an JOSS editor as

[2019-08-29 01:14] whedon commented on #1688
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-29 01:14] whedon commented on #1688
[code]

[2019-08-29 01:14] whedon opened #1689 "[PRE REVIEW]: Rescal-snow: A model for dunes and snow-waves"
**Submitting author:** @kellykochanski (<a href="http://orcid.org/0000-0003-0754-0184">Kelly Kochanski</a>)
**Repository:** <a href="https://github.com/kellykochanski/rescal-snow" target ="_blank">https://github.com/kellykochanski/rescal-snow</a>
**Version:** v1.1
**Editor:** @kthyng
**Reviewers:** @zbeekman

**Author instructions**

Thanks for submitting your paper to JOSS @kellykochanski. **Curr

[2019-08-29 01:14] whedon commented on #1689
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-29 01:14] whedon commented on #1689
[code]

[2019-08-29 01:14] whedon commented on #1689
PDF failed to compile for issue #1689 with the following error:

 Can't find any papers to compile :-(

[2019-08-29 01:15] whedon commented on #1688
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01688/joss.01688/10.21105.joss.01688.pdf)

[2019-08-29 01:35] labarba commented on #1689
@whedon generate pdf

[2019-08-29 01:35] whedon commented on #1689
[code]

[2019-08-29 01:35] whedon commented on #1689
PDF failed to compile for issue #1689 with the following error:

 Error reading bibliography ./docs/paper.bib (line 43, column 3):
unexpected "y"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-29 01:38] labarba commented on #1689
👋  @kellykochanski
You're missing a comma on this line
https://github.com/kellykochanski/rescal-snow/blob/95b8ac00971f932e8ce2809df5e567b1be068976/docs/paper.bib#L42

Please fix, then run the command `@whedon generate pdf` in a comment below.

[2019-08-29 01:38] whedon opened #1690 "[PRE REVIEW]: MiSTree: a Python package for constructing and analysing Minimum Spanning Trees"
**Submitting author:** @knaidoo29 (<a href="http://orcid.org/0000-0002-9182-1802">Krishna Naidoo</a>)
**Repository:** <a href="https://github.com/knaidoo29/mistree" target ="_blank">https://github.com/knaidoo29/mistree</a>
**Version:** v1.1
**Editor:** @xuanxu
**Reviewers:** @melissawm, @zonca

**Author instructions**

Thanks for submitting your paper to JOSS @knaidoo29. **Currently, there isn't a

[2019-08-29 01:38] whedon commented on #1690
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-29 01:38] whedon commented on #1690
[code]

[2019-08-29 01:39] whedon commented on #1690
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01690/joss.01690/10.21105.joss.01690.pdf)

[2019-08-29 02:09] tretherington commented on #1661
@whedon generate pdf

[2019-08-29 02:09] whedon commented on #1661
[code]

[2019-08-29 02:10] whedon commented on #1661
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01661/joss.01661/10.21105.joss.01661.pdf)

[2019-08-29 02:23] tretherington commented on #1661
Many thanks @ViniciusBRodrigues and @lsw5077 for your comments 😃 !

I've updated things such that:

1. I have included a [Community guidelines](https://github.com/manaakiwhenua/virtualNicheR#community-guidelines) section in the README so folks know how best to report bugs, seek help, and suggest/make developments.  Apologies from me for neglecting to include that first time around 😞
2. I have rewo

[2019-08-29 02:29] arokem commented on #1295
@whedon check references

[2019-08-29 02:29] whedon commented on #1295
[code]

[2019-08-29 02:29] whedon commented on #1295
[code]

[2019-08-29 11:27] bwoshea commented on #1636
@danielskatz  Sorry about that.  Given the vigor of @zingale 's review and the distributed nature of the Enzo team, we would prefer to wait until the reviews are completed (or at least the first wave of feedback) until we proceed.  If you insist on doing it otherwise I'm sure we can make that happen, though.

[2019-08-29 11:47] danielskatz commented on #1636
It’s fine to wait, as I said previously

[2019-08-29 12:11] PolymerGuy commented on #1669
I have now looked at the list of reviewers and suggest the following based on their interests. Username: @grlee77, @PingjunChen, @vitorsr

[2019-08-29 12:20] linuxscout commented on #1674
I work on review

[2019-08-29 12:59] vitorsr commented on #1676
Greetings @Kevin-Mattheus-Moerman. There are a few changes to the repository that need to be made. Is it OK if I make some changes, publish a new release, and mint a new Zenodo DOI for that release while still in prereview? I'll update them accordingly. Thanks in advance.

[2019-08-29 13:23] LarsHernandez commented on #1593
update: I've tested the SAS/IML macro that also implements the BT and ZT estimator. The macro was very slow so i created new small datasets to test it, and i get all the same results down to two decimal points, except for the variance of the ZT estimator. It must be implemented a bit different in SAS, but it is very close.

[2019-08-29 13:24] ornlpmcp commented on #1656
Dear @terrytangyuan  @zhampel @whedon please advise us to make this move forward. Thanks!

[2019-08-29 14:27] labarba commented on #1668
@whedon assign @poulson as editor

[2019-08-29 14:27] whedon commented on #1668
OK, the editor is @poulson

[2019-08-29 14:30] terrytangyuan commented on #1656
@openjournals/joss-eics Any suggestions on this question?

"the repository is located in the ORNLPMCP group’s account, and it is the sole contributor to the codebase. Thus, I can not confirm whether the listed authors can claim equal authorship to the submission." - We co-own the repository accounts as a team.

[2019-08-29 14:34] lsw5077 commented on #1661
The revisions look great! Nice work! I have no further comments.

[2019-08-29 14:47] vyasr commented on #1570
Looks good! I'm all set with my review now.

One minor tip, the docstrings are pretty inconsistent with using `tensor`, `Tensor`, and `tf.Tensor`. If you consistently refer to `tensorflow.Tensor` using the fully qualified name (it might be possible to use aliases, I haven't tried) you can take advantage of [Intersphinx](http://www.sphinx-doc.org/en/master/usage/extensions/intersphinx.html) to get

[2019-08-29 14:57] seanpue commented on #1604
Hi @gkthiruvathukal Sorry for the delay. As an academic, I do not normally recommend reviewers. I also don't know many people on that list. I would suggest at least one reviewer with good Python, someone with some CS or basic graph theory background (particularly to check my descriptions), and also NLP, computational linguistics, or digital humanities. So quickly skimming that list, I would sugges

[2019-08-29 15:01] poulson commented on #1668
Oh my -- this is my kind of submission, and even local to Toronto! I apologize for the delay and -- reading through it -- am immediately curious about the interpretations of combining the halfnian generalization of the permanent with the immanantal generalization -- via characters of the symmetric group -- of permanents and determinants. I suppose one would just introduce an arbitrary character of

[2019-08-29 15:11] nquesada commented on #1668
Hey @poulson, thanks for agreeing to be editor of our paper; also, very happy to hear you find our paper interesting!

[2019-08-29 15:12] Kevin-Mattheus-Moerman commented on #1676
Yes that is fine, we'll inform the reviewers about what version to focus on, and I can update the version tag here too.

[2019-08-29 15:12] arfon commented on #1661
Thanks for the quick responses @tretherington & @lsw5077. @lsw5077 - if the criteria have been met, can you check off the final checkboxes for your review please?

[2019-08-29 15:25] grlee77 commented on #1678
Hi @sravan953, I am interested in taking a look. I work in a Philips environment currently, but have also done sequence programming for GE and Siemens scanners in the past, so this is pretty relevant.

[2019-08-29 15:31] bgyori commented on #1526
Hi @brainstorm, is there some way we can help move the review process forward? Should we suggest outside reviewers not listed in the JOSS spreadsheet?

[2019-08-29 15:37] alexhanna commented on #1672
I don't quite have the bandwidth for this right now.

[2019-08-29 15:40] labarba commented on #1672
👋  @yangkcatiu
The README says:

... which would imply this software is not in-scope for a JOSS publication. JOSS explicitly publishes research software.

[2019-08-29 15:43] jshermeyer commented on #1047
Hi Kevin,

@Kevin-Mattheus-Moerman <https://github.com/Kevin-Mattheus-Moerman> Updated
the text to make it seem as if "Cloud and snow masking" were not new
functionality.  If there is any further specific changes required for the
text let me know, otherwise I am satisfied with it.

-Jake

On Sat, Aug 24, 2019 at 5:30 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2019-08-29 15:47] poulson commented on #1668
Hi Max Scheurer (https://github.com/maxscheurer): given your CPPE project (https://github.com/maxscheurer/cppe), which exposes a python interface for an Eigen-based C++ quantum chemistry simulation, it looks like your expertise would be helpful for reviewing this submission.

While the submission is more focused around combinatorial determinant calculations of structured matrices, my guess is that

[2019-08-29 16:02] katyhuff commented on #1669
@whedon assign @katyhuff as editor

[2019-08-29 16:02] whedon commented on #1669
OK, the editor is @katyhuff

[2019-08-29 16:08] katyhuff commented on #1669
Thank you @PolymerGuy for these suggestions and for managing the initial pdf build issues. I think your reviewer suggestions are strong, and this package has very good hygiene. So, this should be fairly straightforward. I'm looking forward to the review process and will assign reviewers now.

[2019-08-29 16:13] katyhuff commented on #1669
* @grlee77: Gregory Lee, you have been recommended as a reviewer for this Journal of Open Source Software submission. I think you are well suited for this review. Are you able to and interested in taking on this review?
* This submission is in need of expertise in tomography as well as familiarity with the systems and languages involved (primarily python).
* Title: AXITOM: A Python package for rec

[2019-08-29 16:14] katyhuff commented on #1669
*@PingjunChen: Pingjun Chen, you have been recommended as a reviewer for this Journal of Open Source Software submission. I think you are well suited for this review. Are you able to and interested in taking on this review?
* This submission is in need of expertise in tomography as well as familiarity with the systems and languages involved (primarily python).
* Title: AXITOM: A Python package for

[2019-08-29 16:14] snastase commented on #1295
@arokem Good to go on my end! @jdkent has addressed my comments.

[2019-08-29 16:37] scan2001 commented on #1256
@whedon generate pdf

[2019-08-29 16:47] gkthiruvathukal commented on #1604
Hi @seanpue, thanks for the response! I'm an academic here, too, but we use a slightly different model here at JOSS, especially since the review takes place in the open.  As reviewers start woring on your submission, they'll raise comments and issues, and you'll be able to respond to them.  Thanks for responding. I will see who is willing to review, and we'll go from there!

[2019-08-29 16:49] gkthiruvathukal commented on #1604
@desilinguist, @mbod, @rlskoeser, @jkhan,richardlitt, @linuxscout, @alexhanna, or @adammichaelwood: I need two reviewers to help contribute a review for this submission. Please let me know if you are willing and able to help. I will probably go with first come, first served scheduling to make the two assignments.  Thank you for your consideration!

[2019-08-29 17:05] PingjunChen commented on #1669
@PolymerGuy @katyhuff Thanks for your recommendations! I am interested in this repo and willing to review.

[2019-08-29 17:06] katyhuff commented on #1669
Fantastic, @PingjunChen ! Thanks! We'll start the review once one more reviewer agrees.

[2019-08-29 17:10] kellykochanski commented on #1689
Committing updates to new branch rescal-snow/kk/JOSS-fixes

@whedon generate pdf

[2019-08-29 17:11] katyhuff commented on #1669
@whedon assign @PingjunChen as reviewer

[2019-08-29 17:11] whedon commented on #1669
OK, the reviewer is @PingjunChen

[2019-08-29 17:17] rtfisher commented on #1636
Ok, I've completed my initial review. It looks like I also identified some of the same issues as @zingale, though our final assessments of the JOSS requirements differ slightly.

[2019-08-29 17:17] rmsare commented on #1047
@jshermeyer, Thanks for making that change. It's nearly there, but some small edits are required for clarity and a typo.

I've noted the three most important changes to be made in a comment to [this issue](https://github.com/CosmiQ/CometTS/issues/16).

[2019-08-29 17:17] Kevin-Mattheus-Moerman commented on #1678
@whedon assign @grlee77 as reviewer

[2019-08-29 17:18] whedon commented on #1678
OK, the reviewer is @grlee77

[2019-08-29 17:19] Kevin-Mattheus-Moerman commented on #1678
@mwegrzyn are you interested in reviewing this work for JOSS?

[2019-08-29 17:24] kellykochanski commented on #1689
Possible reviewers from the list:  @gassmoeller (interested in geosciences and scientific computing), @zbeekman (interest in multi-physics codes, plus experience with cmake, legacy frameworks and HPC that could potentially improve this code), @rgmyr (interested in geoscience, some work on geomorphology and work in relevant languages)

[2019-08-29 17:28] labarba commented on #1689
@whedon generate pdf

[2019-08-29 17:29] whedon commented on #1689
[code]

[2019-08-29 17:29] whedon commented on #1689
PDF failed to compile for issue #1689 with the following error:

 Error reading bibliography ./docs/paper.bib (line 46, column 3):
unexpected "v"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-29 17:33] labarba commented on #1689
@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-29 17:33] whedon commented on #1689
[code]

[2019-08-29 17:34] whedon commented on #1689
PDF failed to compile for issue #1689 with the following error:

 Error reading bibliography ./docs/paper.bib (line 46, column 3):
unexpected "v"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-29 17:34] labarba commented on #1689
@kellykochanski Please go over your bibliography for missing commas.

[2019-08-29 17:35] labarba commented on #1689
👋  @kthyng — Could you handle this submission as editor?
"Rescal-snow: A model for dunes and snow-waves"

[2019-08-29 17:46] grlee77 commented on #1669
I just agreed to review another JOSS publication (pypulseq) earlier today, so I am not sure how quickly I would be able to complete this one. If you cannot find another reviewer, though, you can assign me and I will try.

[2019-08-29 18:00] scan2001 commented on #1256
@whedon check references

[2019-08-29 18:00] whedon commented on #1256
[code]

[2019-08-29 18:00] whedon commented on #1256
[code]

[2019-08-29 18:00] scan2001 commented on #1256
@whedon set 10.5281/zenodo.3381523 as archive

[2019-08-29 18:00] whedon commented on #1256
I'm sorry @scan2001, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-08-29 18:02] scan2001 commented on #1256
@whedon generate pdf

[2019-08-29 18:02] whedon commented on #1256
[code]

[2019-08-29 18:02] whedon commented on #1256
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01256/joss.01256/10.21105.joss.01256.pdf)

[2019-08-29 18:07] kellykochanski commented on #1689
@labarba Thanks for your help - I should be able to get this. Is there a way to test the pdf compilation outside this issue?

@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-29 18:07] katyhuff commented on #1669
Thanks for letting me know @grlee77 . I'll try a couple of other folks by email.

[2019-08-29 18:17] katyhuff commented on #1669
@whedon remind @katyhuff in 2 days

[2019-08-29 18:17] whedon commented on #1669
Sorry, I can't set reminders on PRE-REVIEW issues.

[2019-08-29 18:40] jnoynaert commented on #1642
@whedon generate pdf

[2019-08-29 18:40] whedon commented on #1642
[code]

[2019-08-29 18:40] whedon commented on #1642
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01642/joss.01642/10.21105.joss.01642.pdf)

[2019-08-29 18:46] zbeekman commented on #1689
@labarba & @kellykochanski This looks very interesting. I'd be happy to review this with the caveat that I won't be able to start work on this until Sept. 9th.

[2019-08-29 18:48] jnoynaert commented on #1642
@whedon generate pdf

[2019-08-29 18:48] whedon commented on #1642
[code]

[2019-08-29 18:49] whedon commented on #1642
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01642/joss.01642/10.21105.joss.01642.pdf)

[2019-08-29 19:18] kthyng commented on #1684
@JoshKarpel Thank you for your question and work on your review, I will consult with the editorial board and get back to you soon.

[2019-08-29 19:29] arokem commented on #1295
Great! Thanks for all your work on this review, @snastase. I concur on my end.

At this point, @jdkent : could you please create an archive of your repository (e.g., using Zenodo) and then post the DOI here. When creating the archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- The authors of the archive are the same as the JOSS paper authors

[2019-08-29 19:29] kthyng commented on #1689
@labarba Yep I'll do it!

[2019-08-29 19:29] kthyng commented on #1689
@whedon assign @kthyng as editor

[2019-08-29 19:29] whedon commented on #1689
OK, the editor is @kthyng

[2019-08-29 19:31] kthyng commented on #1689
@zbeekman Awesome! That timing is fine, we like to have reviews within about 3 weeks. I'll search for another reviewer now before we start the review process.

[2019-08-29 19:32] sskutnik commented on #1650
I've made a few minor comments re: the paper on ezsolti/feign/issues/7

In general, I'd recommend minor revisions, in part for clarity and also to clear up the theory of the efficiency calculation; also to update the references such that they render with fully-locatable citations. Otherwise, I think this looks fine.

[2019-08-29 19:32] kthyng commented on #1689
@rgmyr Are you interested in reviewing this submission for JOSS? You can check out reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html
We ask for reviews within about 3 weeks.

[2019-08-29 19:36] kthyng commented on #1654
@henrikmidtiby Have you or any colleagues installed this software on a Mac? Or do you have access to one to try? Ideally, I would hope between you and @jizecn we can get this software installed on a mac, or there could be an alternative setup like a virtual machine or docker image so that @jizecn can review your submission. Expanding your installation possibilities would also improve your submissi

[2019-08-29 19:38] katyhuff commented on #1650
Thanks @sskutnik ! Excellent first review!

@ezsolti : I agree with Prof. Skutnik regarding clarity. When you feel you've handled these comments (in  ezsolti/feign/issues/7 mostly) please let me know (by @-mentioning me in this issue.) and we'll move forward.

[2019-08-29 19:52] labarba commented on #1689
@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-29 19:52] whedon commented on #1689
[code]

[2019-08-29 19:53] labarba commented on #1689
Note that `whedon` commands need to be issued alone in a comment (no other text included).

[2019-08-29 19:53] whedon commented on #1689
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01689/joss.01689/10.21105.joss.01689.pdf)

[2019-08-29 20:31] kellykochanski commented on #1689
Got it. @labarba one more technical question - the references are not included in the .pdf, even though @whedon was clearly reading them and didn't give me an error. What should I do to trouble shoot?

[2019-08-29 20:41] labarba commented on #1689
I don't know why the references are not rendering. @arfon?

Also, remove the section "Availability," as the JOSS article template includes links to the software repository (and permanent archive) on the margin decorators of the front page.

[2019-08-29 20:51] labarba commented on #1656
Well, nothing can be done now to reconstruct the lost history in this project. But I want to strongly encourage the authors to adopt a traditional GitHub workflow: instead of using a `@ornlpmcp` group _account_ (you are sharing a password?? ugh!), you would create a GitHub _organization_, to which you add the various individual researchers' GitHub usernames as collaborators. It is highly unusual f

[2019-08-29 20:53] kellykochanski commented on #1689
@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-29 20:53] whedon commented on #1689
[code]

[2019-08-29 20:54] whedon commented on #1689
PDF failed to compile for issue #1689 with the following error:

 Could not find bibliography file: docs/paper.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-29 21:47] labarba commented on #1540
Some editorial fixes/requests:

- Remove the URL to the GitHub repository from the first line. The JOSS article template includes the repo as part of the margin decorators on the front page.
- Add comma after "i.e." and don't italicize
- [p.1] "Second it predicts" --> add comma
- [p.2] heading "Prediction of unknown sources proportion" --> Prediction of the proportion of unknown sources
- "Let S_i

[2019-08-29 22:41] danielskatz commented on #1636
Thanks @rtfisher! Now over to @bwoshea and the Enzo team...

[2019-08-29 23:00] labarba commented on #1690
👋  @knaidoo29 —  I am the Associate Editor-in-Chief on rotation this week. I'm going to send this back to you for some more work, because the paper does not quite meet [our expectations](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). The paper, as submitted, is very brief and doesn't give enough of a description of the software or its need and uses in research

[2019-08-29 23:00] whedon opened #1691 "[PRE REVIEW]: MorphoMetriX: a photogrammetric measurement GUI for morphometric analysis of megafauna"
**Submitting author:** @wingtorres (<a href="http://orcid.org/0000-0002-1411-993X">Walter Torres</a>)
**Repository:** <a href="https://github.com/wingtorres/morphometrix" target ="_blank">https://github.com/wingtorres/morphometrix</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @isaacvandor, @bw4sz

**Author instructions**

Thanks for submitting your paper to JOSS @wingt

[2019-08-29 23:00] whedon commented on #1691
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-29 23:00] whedon commented on #1691
[code]

[2019-08-29 23:01] whedon commented on #1691
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01691/joss.01691/10.21105.joss.01691.pdf)

[2019-08-29 23:03] labarba commented on #1691
:wave @wingtorres — Please check your citations. A bunch of them appear as ???, which means that the entry was not found in the `.bib` file.

[2019-08-29 23:04] scan2001 commented on #1256
@whedon generate pdf

[2019-08-29 23:04] whedon commented on #1256
[code]

[2019-08-29 23:05] whedon commented on #1256
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01256/joss.01256/10.21105.joss.01256.pdf)

[2019-08-29 23:05] labarba commented on #1691
You will also need to add DOIs to your references.

[2019-08-29 23:06] labarba commented on #1690
@xuanxu — Could you handle this submission as editor?

[2019-08-29 23:10] labarba commented on #1691
@karthik — Could you handle this submission as editor?

[2019-08-29 23:10] whedon opened #1692 "[PRE REVIEW]: Computing diffusion coeﬀicients in macromolecular simulations: the Diffusion Coeﬀicient Tool for VMD"
**Submitting author:** @tonigi (<a href="http://orcid.org/0000-0001-6449-0596">Toni Giorgino</a>)
**Repository:** <a href="https://github.com/giorginolab/vmd_diffusion_coefficient" target ="_blank">https://github.com/giorginolab/vmd_diffusion_coefficient</a>
**Version:** v1.1
**Editor:** @labarba
**Reviewers:** @jrperilla, @HaoZeke

**Author instructions**

Thanks for submitting your paper to JOSS

[2019-08-29 23:10] whedon commented on #1692
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-29 23:10] whedon commented on #1692
[code]

[2019-08-29 23:11] whedon commented on #1692
Failed to discover a valid open source license.

[2019-08-29 23:11] whedon commented on #1692
PDF failed to compile for issue #1692 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.962/12b5aeb93b39501746a99beed35229b93c87b40b.svg': check that rsvg2pdf is in path.
  rsvg-convert: createProcess: runInteractiveProcess: exec: does not exist (No such file or directory)
Error producing PDF.
! LaTeX Error: Cannot determine size of graphic in /tmp/tex2pdf.962/12b5aeb93b3

[2019-08-29 23:14] filmenczer commented on #1672
We apologize for the misleading warning. We eliminated it and updated the paper to clarify that the software is indeed ready for research, but depending on the specific application domain, users may wish to plug in more appropriate (simpler or more sophisticated) bot detection algorithms.

We can also suggest a few potential reviewers: @mkearney, @jboynyc, @soodoku, @rmhogervorst, @Ohmaddi.

[2019-08-29 23:25] mbobra commented on #1524
Great, thanks! Can you please [archive this release in Zenodo](https://guides.github.com/activities/citable-code/) and put the Zenodo badge in your README.md file?

[2019-08-29 23:42] Shibabrat commented on #1684
@kthyng I'm willing to explain the design decision of this package because it is related to the theory and applications of this method. Should I create a separate issue or briefly describe it here? Not sure about the etiquette at this point of review period.

Thanks

[2019-08-29 23:48] vitorsr commented on #1676
@kczimm @thomakra can you review this submission for JOSS?

[2019-08-30 00:35] Shibabrat commented on #1679
@kthyng I can take up the review for this submission. Sorry for the slow response.

[2019-08-30 00:36] kellykochanski commented on #1689
@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-30 00:36] whedon commented on #1689
[code]

[2019-08-30 00:36] whedon commented on #1689
PDF failed to compile for issue #1689 with the following error:

 Could not find bibliography file: paper/paper.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-30 00:41] sjtrny commented on #1676
Hi thanks for the invitation to review. However right at this current moment I do not have the capacity to complete a review in a timely manner. I'm open to reviewing this (or any future work) once semester is over for me.

[2019-08-30 03:12] arfon commented on #1689
@kellykochanski - this PR should allow your paper to compile: https://github.com/kellykochanski/rescal-snow/pull/25

Also, please make sure the bibtex keys you're citing in your `paper.md` are _exactly_ the same as the ones in the bibtex. You currently have (for example) a citation to `@Kobayashi:1980` in your `paper.md` but the bibtex key in `paper.bib` is `Kobayashi1980`. So you either need to r

[2019-08-30 03:35] tonigi commented on #1692
@whedon generate pdf

[2019-08-30 03:35] whedon commented on #1692
[code]

[2019-08-30 03:35] whedon commented on #1692
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01692/joss.01692/10.21105.joss.01692.pdf)

[2019-08-30 04:25] brainstorm commented on #1526
@bgyori Yes please! I'm having a hard time finding suitable reviewers for this one.

[2019-08-30 06:29] tonigi commented on #1692
@whedon generate pdf

[2019-08-30 06:29] whedon commented on #1692
[code]

[2019-08-30 06:29] whedon commented on #1692
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01692/joss.01692/10.21105.joss.01692.pdf)

[2019-08-30 07:34] mwegrzyn commented on #1678
Hello,
thank you for the invitation. This sounds very interesting, but I'm afraid I don't have the necessary physics knowledge to adequately understand the code. Sorry, but I'll have to pass.
Best regards, Martin Wegrzyn

[2019-08-30 07:56] scan2001 commented on #1256
Thanks @mgymrek
We fixed the typos, added DOIs to all references (except the last two: a book and a thesis, as they haven't a DOI) and created an archive in Zenodo.
This is the archive DOI: 10.5281/zenodo.3381523

[2019-08-30 07:58] hagenw commented on #1667
https://github.com/sigsep/open-unmix-paper-joss/issues/9 - on testing

[2019-08-30 08:52] tonigi commented on #1692
I may suggest @jhenin as a reviewer.

[2019-08-30 12:52] jkanche commented on #1665
Sorry for the delay in getting this reviewed, but i plan to finish this over the weekend

[2019-08-30 13:02] maxibor commented on #1540
Thanks for the editorial check and comments !

Done

Done

Done

Done

Done

Done

Done

Done

Done

Done

Done

Done

Done

Done

As far as I could search, there is no DOI available for these articles (I couldn't find any DOI for the Journal of Machine Learning research)

Done

Added a reference

Added a reference

[2019-08-30 13:03] maxibor commented on #1540
@whedon generate pdf

[2019-08-30 13:03] whedon commented on #1540
[code]

[2019-08-30 13:04] whedon commented on #1540
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01540/joss.01540/10.21105.joss.01540.pdf)

[2019-08-30 13:57] rlskoeser commented on #1604
@gkthiruvathukal I'm willing to review.

[2019-08-30 14:10] kthyng commented on #1684
@Shibabrat Why don't you give a brief description of the design decision here just to help deciding how to move forward, for now. One design suggestion is for you to change this to a library so that a user doesn't have to copy and paste to use it.

[2019-08-30 14:11] kthyng commented on #1679
Great! We have two reviewers!

@dawbarton and @Shibabrat, I will start the review issue now.

[2019-08-30 14:11] kthyng commented on #1679
@whedon assign @dawbarton  as reviewer

[2019-08-30 14:11] whedon commented on #1679
OK, the reviewer is @dawbarton

[2019-08-30 14:11] kthyng commented on #1679
@whedon add @Shibabrat  as reviewer

[2019-08-30 14:11] whedon commented on #1679
OK, @Shibabrat  is now a reviewer

[2019-08-30 14:11] kthyng commented on #1679
@whedon start review

[2019-08-30 14:11] whedon opened #1693 "[REVIEW]: Python KM: Kramers--Moyal coefficients for stochastic processes"
**Submitting author:** @LRydin (<a href="http://orcid.org/0000-0001-5513-0580">Leonardo Rydin Gorjão</a>)
**Repository:** <a href="https://github.com/LRydin/KramersMoyal" target ="_blank">https://github.com/LRydin/KramersMoyal</a>
**Version:** v0.4
**Editor:** @kthyng
**Reviewer:** @dawbarton , @Shibabrat
**Archive:** <a href="https://doi.org/10.21105/joss.01693" target="_blank">10.21105/joss.0169

[2019-08-30 14:12] whedon commented on #1679
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1693. Feel free to close this issue now!

[2019-08-30 14:12] #1679 closed

[2019-08-30 14:12] whedon commented on #1693
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dawbarton , @Shibabrat  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-08-30 14:12] whedon commented on #1693
[code]

[2019-08-30 14:12] whedon commented on #1693
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01693/joss.01693/10.21105.joss.01693.pdf)

[2019-08-30 14:23] faroit commented on #1667
@whedon generate pdf

[2019-08-30 14:23] whedon commented on #1667
[code]

[2019-08-30 14:23] whedon commented on #1667
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01667/joss.01667/10.21105.joss.01667.pdf)

[2019-08-30 14:29] mancellin commented on #1642
PressureDrop.jl is a specialized tool to model the pressure profile in oil and gas wells.
The code can be installed and tested easily using Julia package manager. It is well documented and the code behaved as documented when I tried it.

Some comments and suggestions have been discussed there: https://github.com/jnoynaert/PressureDrop.jl/issues/3.

Overall, I can recommend the paper for publicatio

[2019-08-30 15:07] Kevin-Mattheus-Moerman commented on #1678
@kelvinlayton @stefan-k would you be interested in reviewing this work for the Journal of Open Source Software (JOSS)? [The review](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) focuses largely on [the software](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and a [very short paper](https://github.com/openjournals/joss-papers/blob/joss.01678/joss.01678/10.21105.j

[2019-08-30 15:20] tomfaulkenberry commented on #1662
Sorry for my late addition here...no, I do not have Mplus either.  I do like Paul's idea of just removing the Mplus part, as it does go against the spirit of open source software.

We just started our Fall term this week, so I am a bit behind on doing this full review.  I will have it done in the coming week, though.

[2019-08-30 15:28] stefan-k commented on #1678
Thanks for the invitation!
I'm currently quite short on time, but I'll think about it and I'll let you know within the next couple of days. I should mention though that there may be a conflict of interest as I've collaborated with @imr-framework in the past and we've co-authored papers and conference contributions. I've also worked on a [similar project](https://github.com/pulseq/pypulseq) which w

[2019-08-30 16:24] labarba commented on #1672
@whedon generate pdf

[2019-08-30 16:24] whedon commented on #1672
[code]

[2019-08-30 16:24] whedon commented on #1672
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01672/joss.01672/10.21105.joss.01672.pdf)

[2019-08-30 16:31] labarba commented on #1672
👋 @arokem — Could you handle this submission as editor?
"BotSlayer: real-time detection of bot amplification on Twitter"
Repository: https://github.com/IUNetSci/BotSlayer-CE

[2019-08-30 16:53] labarba commented on #1689
@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-30 16:53] whedon commented on #1689
[code]

[2019-08-30 16:53] whedon commented on #1689
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01689/joss.01689/10.21105.joss.01689.pdf)

[2019-08-30 17:15] arfon commented on #1689
Just an FYI, the author still needs to fix the citations to their bibtex keys before the references will show up properly.

[2019-08-30 18:08] kellykochanski commented on #1689
@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-30 18:08] whedon commented on #1689
[code]

[2019-08-30 18:09] whedon commented on #1689
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01689/joss.01689/10.21105.joss.01689.pdf)

[2019-08-30 18:13] kellykochanski commented on #1689
@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-30 18:13] whedon commented on #1689
[code]

[2019-08-30 18:13] whedon commented on #1689
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01689/joss.01689/10.21105.joss.01689.pdf)

[2019-08-30 18:22] kellykochanski commented on #1689
@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-30 18:23] whedon commented on #1689
[code]

[2019-08-30 18:23] whedon commented on #1689
PDF failed to compile for issue #1689 with the following error:

 Error reading bibliography ./paper.bib (line 95, column 10):
unexpected ","
expecting white space
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-30 18:24] kellykochanski commented on #1689
@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-30 18:24] whedon commented on #1689
[code]

[2019-08-30 18:24] whedon commented on #1689
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01689/joss.01689/10.21105.joss.01689.pdf)

[2019-08-30 18:27] kellykochanski commented on #1689
This is now readable. There is still one issue that confuses me: the "Kochanski 2019" reference sometimes renders as "Kochanski, Anderson & Tucker 2019" and sometimes as "Kochanski et al. 2019". This seems slightly arbitrary but does not affect readability.

[2019-08-30 18:48] kellykochanski commented on #1689
@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-30 18:48] whedon commented on #1689
[code]

[2019-08-30 18:49] whedon commented on #1689
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01689/joss.01689/10.21105.joss.01689.pdf)

[2019-08-30 19:02] kellykochanski commented on #1689
@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-30 19:02] whedon commented on #1689
[code]

[2019-08-30 19:03] rgmyr commented on #1689
@kthyng @kellykochanski Apologies for the delay. I also probably won't be able to start until at least the end of next week, but in any case I would be happy to review this!

[2019-08-30 19:03] whedon commented on #1689
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01689/joss.01689/10.21105.joss.01689.pdf)

[2019-08-30 19:19] kellykochanski commented on #1689
@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-30 19:19] whedon commented on #1689
[code]

[2019-08-30 19:20] whedon commented on #1689
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01689/joss.01689/10.21105.joss.01689.pdf)

[2019-08-30 19:20] kellykochanski commented on #1689
@kthyng @rgmyr Thanks for agreeing to review - I look forward to your feedback.

[2019-08-30 19:24] kellykochanski commented on #1689
@whedon generate pdf from branch kk/JOSS-fixes

[2019-08-30 19:24] whedon commented on #1689
[code]

[2019-08-30 19:25] whedon commented on #1689
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01689/joss.01689/10.21105.joss.01689.pdf)

[2019-08-30 20:57] kmzzhang commented on #1651
Hi @terrytangyuan, could you please let us know the next steps? Thanks.

[2019-08-30 21:37] jdkent commented on #1295
@whedon generate pdf

[2019-08-30 21:37] whedon commented on #1295
[code]

[2019-08-30 21:38] whedon commented on #1295
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01295/joss.01295/10.21105.joss.01295.pdf)

[2019-08-30 21:38] jdkent commented on #1295
@whedon check references

[2019-08-30 21:38] whedon commented on #1295
[code]

[2019-08-30 21:39] whedon commented on #1295
[code]

[2019-08-30 21:55] labarba commented on #1692
@whedon assign @labarba as editor

[2019-08-30 21:55] whedon commented on #1692
OK, the editor is @labarba

[2019-08-30 21:59] whedon opened #1694 "[PRE REVIEW]: DEPP - Differential Evolution Parallel Program"
**Submitting author:** @gbertoldo (<a href="http://orcid.org/0000-0002-1888-9181">Guilherme Bertoldo</a>)
**Repository:** <a href="https://github.com/gbertoldo/DEPP" target ="_blank">https://github.com/gbertoldo/DEPP</a>
**Version:** v1.0.0
**Editor:** @meg-simula
**Reviewers:** @HaoZeke, @dham

**Author instructions**

Thanks for submitting your paper to JOSS @gbertoldo. **Currently, there isn't

[2019-08-30 21:59] whedon commented on #1694
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-30 21:59] whedon commented on #1694
[code]

[2019-08-30 21:59] whedon commented on #1694
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01694/joss.01694/10.21105.joss.01694.pdf)

[2019-08-30 22:02] labarba commented on #1694
@gbertoldo — I think you need to remove the backticks around the citations, so the references will get processed when compiling the paper. After you push the changes, you can run `@whedon generate pdf` alone in a comment here to compile the paper again.

[2019-08-30 22:03] labarba commented on #1694
👋  @meg-simula — Maybe this could be a good paper for you to edit? Have a look and let me know if you can lead this one.
"DEPP - Differential Evolution Parallel Program" https://github.com/gbertoldo/DEPP

[2019-08-30 22:17] crawfordsm commented on #1651
For reference, the corresponding paper has been accepted at the AAS and the AAS DOI for the paper is 10.3847/1538-3881/ab3c53

[2019-08-30 22:19] crawfordsm commented on #1469
The correspond AAS DOI is 10.3847/1538-3881/ab3c53

[2019-08-30 22:22] labarba commented on #1688
Hi @ulfaslak  —  I am the Associate Editor-in-Chief on rotation this week. After a pre-review of your submission, and an assessment by the editorial board at large, we find that this submission does not quite meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, while the software seems useful, it falls under the 'Minor utility' category, and we th

[2019-08-30 22:23] #1688 closed

[2019-08-30 22:25] labarba commented on #1600
👋 @alexhanna — It looks like this submission is waiting for you to assign reviewers. Could you pop in and take a new look?

[2019-08-30 22:26] labarba commented on #1315
Hi everybody! What's the status of this review? I see no progress in the last month. Could you give us all a status update?

[2019-08-30 22:26] gbertoldo commented on #1694
@whedon generate pdf

[2019-08-30 22:26] whedon commented on #1694
[code]

[2019-08-30 22:27] whedon commented on #1694
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01694/joss.01694/10.21105.joss.01694.pdf)

[2019-08-30 22:28] labarba commented on #1453
Yikes. It got 'round to my next rotation as AEiC and we've had no progress in this submission.
 @alexhanna — Could you take a new look here and give us a status update?

[2019-08-30 22:37] gbertoldo commented on #1694
@whedon generate pdf

[2019-08-30 22:37] whedon commented on #1694
[code]

[2019-08-30 22:37] whedon commented on #1694
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01694/joss.01694/10.21105.joss.01694.pdf)

[2019-08-30 22:39] gbertoldo commented on #1694
I think it is good now. Thank you @labarba!

[2019-08-30 22:41] labarba commented on #1632
@whedon remind @nespinoza in three days

[2019-08-30 22:41] whedon commented on #1632
Reminder set for @nespinoza in three days

[2019-08-30 22:42] labarba commented on #1511
Is this submission ready for the final checks before acceptance?

[2019-08-30 23:17] arfon commented on #1469
Thanks @crawfordsm. @RuthAngus - can you merge this PR which adds the ApJ link to the paper? https://github.com/RuthAngus/stardate/pull/8.

Also, I forgot to check, is it ApJ you are publishing the accompanying paper in? If not, just modify the name of the journal on [this line](https://github.com/RuthAngus/stardate/pull/8/files#diff-e2778e7674f45b806282a9611faa7220R24).

[2019-08-30 23:41] arfon commented on #1651
@kmzzhang - can you tell me what AAS journal you submitted the other paper to? There’s a small amount of metadata we need you to add to the `paper.md` file before accepting the JOSS paper (this links the two papers).

[2019-08-31 00:06] jdkent commented on #1295
@arokem here is the doi: 10.5281/zenodo.3382330

I had some trouble with zenodo, but I think I have it all worked out, [the page is here](https://zenodo.org/record/3382330#.XWm5Yx-YU8o)

I second that big thanks to @snastase! and thank you @arokem for keeping us moving along!

[2019-08-31 00:14] labarba commented on #1692
@whedon assign @jrperilla as reviewer

[2019-08-31 00:14] whedon commented on #1692
OK, the reviewer is @jrperilla

[2019-08-31 00:16] labarba commented on #1692
👋 @jrperilla — Thanks for agreeing to review this JOSS submission! I'm on the lookout for a second reviewer, and once we add them, we can start the review issue. In the meantime, feel free to start checking out the software, and you can also open issues in their repository as needed.

[2019-08-31 02:36] knaidoo29 commented on #1690
Hi @labarba, thank you for the comments. I am currently working on a significant revision/rewrite of the paper and was wondering (1) what the timescale for edits could be (I am planning to have this ready within a week) and (2) what the process was for resubmitting (would I just need to push my new version of the paper to the software's repository?).

[2019-08-31 07:53] meg-simula commented on #1694
Sure @labarba. I'll just assign myself.

[2019-08-31 07:54] meg-simula commented on #1694
@whedon assign @meg-simula as editor

[2019-08-31 07:54] whedon commented on #1694
OK, the editor is @meg-simula

[2019-08-31 09:48] leouieda commented on #1511
@whedon generate pdf

[2019-08-31 09:48] whedon commented on #1511
[code]

[2019-08-31 09:49] whedon commented on #1511
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01511/joss.01511/10.21105.joss.01511.pdf)

[2019-08-31 09:56] leouieda commented on #1511
@labarba thank you for the nudge, it's completely my fault that this hasn't moved along. I made one final editorial PR to the paper. After that, this should be good to go.

[2019-08-31 10:05] leouieda commented on #1315
Hi @labarba, I had a final look at the paper and everything seems good to go on my part. The author has addressed all of the major concerns of the reviewers.

@sauln I'm happy to move on with acceptance of your paper :tada: Here are the steps you need to take now:

- Double check authors and affiliations (including ORCIDs)
- Make a release with the latest changes from the review and post the versi

[2019-08-31 10:11] leouieda commented on #1628
@vsoch @Fil thank you for your reviews :confetti_ball:

@mpetroff I had a final look through the paper and since both reviewers approve I'm happy to move forward with acceptance of your paper :tada: Here are the steps you need to take now:

- Double check authors and affiliations (including ORCIDs)
- Make a release with the latest changes from the review and post the version number here.
- Archive

[2019-08-31 10:14] leouieda commented on #1657
:wave: Hi @banesullivan @malmans2 would you be interested in reviewing this submission for JOSS?

[2019-08-31 10:27] leouieda commented on #1425
@benmaier I have finished my review of the software and I'm very happy with all the changes made and the status of the package and paper. Together with the thorough review of @vc1492a this submission if ready for acceptance :tada:

I made a small PR to add a missing DOI (benmaier/netwulf#34). Once that is merged, there are a few actions that you'll need to take:

- Double check authors and affilia

[2019-08-31 10:29] leouieda commented on #1425
@whedon generate pdf

[2019-08-31 10:29] whedon commented on #1425
[code]

[2019-08-31 10:29] whedon commented on #1425
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01425/joss.01425/10.21105.joss.01425.pdf)

[2019-08-31 11:33] labarba commented on #1690
You can just push your changes to the paper, and let us know here when ready. I'll set a reminder for you.

[2019-08-31 11:33] labarba commented on #1690
@whedon remind @knaidoo29 in one week

[2019-08-31 11:33] whedon commented on #1690
Sorry, I can't set reminders on PRE-REVIEW issues.

[2019-08-31 11:34] labarba commented on #1690
Oops. I just learned that our bot's reminding powers don't work here. We'll just wait for your ping!

[2019-08-31 11:39] whedon opened #1695 "[PRE REVIEW]: RepnDecomp: A GAP package for decomposing linear representations of finite groups"
**Submitting author:** @kaashif (<a href="http://orcid.org/0000-0001-8581-5804">Kaashif Hymabaccus</a>)
**Repository:** <a href="https://gitlab.com/kaashif/decomp/" target ="_blank">https://gitlab.com/kaashif/decomp/</a>
**Version:** 0.1
**Editor:** @VivianePons
**Reviewers:** @alex-konovalov, @falque

**Author instructions**

Thanks for submitting your paper to JOSS @kaashif. **Currently, there i

[2019-08-31 11:39] whedon commented on #1695
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-31 11:39] whedon commented on #1695
[code]

[2019-08-31 11:39] whedon commented on #1695
PDF failed to compile for issue #1695 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1695 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedo

[2019-08-31 11:53] labarba commented on #1695
@whedon generate pdf

[2019-08-31 11:53] whedon commented on #1695
[code]

[2019-08-31 11:53] whedon commented on #1695
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01695/joss.01695/10.21105.joss.01695.pdf)

[2019-08-31 11:55] labarba commented on #1695
👋 @VivianePons — the author suggested you as handling editor... are you back from leave? This is right up your alley.
"RepnDecomp: A GAP package for decomposing linear representations of finite groups"
https://gitlab.com/kaashif/decomp/

[2019-08-31 11:55] labarba commented on #1695
That answers my question! Will look for another editor.

[2019-08-31 11:59] whedon opened #1696 "[PRE REVIEW]: tradestatistics: Open Trade Statistics API Wrapper and Utility Program"
**Submitting author:** @pachamaltese (<a href="http://orcid.org/0000-0003-1017-7574">Mauricio Vargas</a>)
**Repository:** <a href="https://github.com/ropensci/tradestatistics" target ="_blank">https://github.com/ropensci/tradestatistics</a>
**Version:** 0.2.3
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @pachamaltese. **Currently, the

[2019-08-31 11:59] whedon commented on #1696
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-31 11:59] whedon commented on #1696
[code]

[2019-08-31 12:00] whedon commented on #1696
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01696/joss.01696/10.21105.joss.01696.pdf)

[2019-08-31 12:03] mpetroff commented on #1628
Done.

v2.5.3

[10.5281/zenodo.3373725](https://doi.org/10.5281/zenodo.3373725)

[2019-08-31 12:08] Shibabrat commented on #1684
Ok.

We have seen that researchers working in Hamiltonian dynamics have their favorite method to compute unstable periodic orbits. These methods are popular in chemical reactions, celestial mechanics, and engineering dynamics and always end up in appendices of the papers. Some of these papers are also in our references.

However, for anyone new or outside of the aforementioned communities, it beco

[2019-08-31 13:22] mpetroff commented on #1628
The concept DOI is [10.5281/zenodo.3334433](https://doi.org/10.5281/zenodo.3334433); I don't know which is preferred for JOSS.

[2019-08-31 15:11] faroit commented on #1667
we would like to officially release the software next week. It would be great if we could provide a DOI soon so that researchers can use this as a baseline e.g. for the upcoming [ICASSP](https://2020.ieeeicassp.org/authors/important-dates/).

@hagenw @bmcfee thank you again for your time and help. It would be great to know for us if could tell us when you find time to complete the review so we kno