[2021-02-02 19:02] kyleniemeyer commented on #2823
Hello @matthewfeickert, I'm the EIC on duty this week, and doing some final checks before publishing.

I'm not sure how we missed this before, but your article is missing the required [Statement of Need](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) section, which illustrates the research purpose of the software. You can likely repurpose text already present i

[2021-02-02 19:15] kyleniemeyer commented on #2479
Hi @apalarcon, my apologies but I need one more edit to the paper from you: can you please add a short Statement of Need section? This is part of our [required elements](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) for a JOSS paper. You may be able to move some of the text in your summary.

There is no need to re-deposit the software in Zenodo, since JOSS arc

[2021-02-02 19:26] kyleniemeyer commented on #2362
Hi @AlexMikes, I'm doing some final checks before publishing - there are just a few small changes needed in the paper:

- We require a brief Statement of Need section that illustrates the research purpose of the software (part of our [required paper elements](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain), normally checked for automatically by whedon). You can

[2021-02-02 19:40] apalarcon commented on #2479
Hi @kyleniemeyer

Done!

[2021-02-02 19:42] matthewfeickert commented on #2823
Ah that's unfortunate. It seems this is an area that should be clarified in the future as an editor and two reviewers all checked it off as being completed in the checklist, so it seems it is unclear to the review team what is required here. It is also not being enforced consistently throughout JOSS as in the last week there have been two JOSS publications missing it:

- [![DOI](https://joss.theoj

[2021-02-02 21:27] csoneson commented on #2998
👋 @js2264 - just to say that I'm currently in the process of identifying suitable reviewers for this submission, and I have reached out to a few candidates offline. If you have suggestions, feel free to mention them here (without tagging them with an `@`).

[2021-02-02 21:30] kyleniemeyer commented on #2479
@whedon generate pdf

[2021-02-02 21:31] whedon commented on #2479
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02479/joss.02479/10.21105.joss.02479.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02479/joss.02479/10.21105.joss.02479.pdf) :page_facing_up: :point_left:

[2021-02-02 21:38] anfederico commented on #2857
Hello, co-author here. For HPC's without Docker, an alternative route is to use Singularity. One can convert from the Docker image directly (assuming Singularity is available and setup to pull from Docker).

[code]

[code]

[2021-02-02 21:42] whedon commented on #2973
:wave: @SergeDmi, please update us on how your review is going.

[2021-02-02 21:55] pdebuyl commented on #2973
@SergeDmi our bot is sometimes a bit zealous, sorry :-)

[2021-02-02 22:00] lpantano commented on #2857
@anfederico, thanks for helping with this. @preetida try to see if this works. Meanwhile, @anfederico it would be good to have a complete list of dependencies for cases where tools needs to be installed (maybe a conda env file helps to deal with this? or list all the dependencies.), thanks!.

[2021-02-02 22:21] TheoChristiaanse commented on #2677
@whedon generate pdf

[2021-02-02 22:22] whedon commented on #2677
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: :point_left:

[2021-02-02 22:28] kyleniemeyer commented on #2479
@whedon accept deposit=true

[2021-02-02 22:28] whedon commented on #2479
[code]

[2021-02-02 22:29] whedon commented on #2479
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1356731476398780417) 👈 🐦🐦🐦

[2021-02-02 22:29] whedon commented on #2479
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2070
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02479](https://doi.org/10.21105/joss.02479)
2. If everything looks g

[2021-02-02 22:39] melissawm commented on #2744
I think that works, @kfhiga . I'll generate a new proof and I'll ask you to proofread and make sure things are as they should be. Thanks!

[2021-02-02 22:39] kyleniemeyer commented on #2479
Congrats @apalarcon on your article's publication in JOSS!

Many thanks to  @hertzsprung and @kgoebber for reviewing this, and @dhhagan for editing it.

[2021-02-02 22:39] whedon commented on #2479
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02479/status.svg)](https://doi.org/10.21105/joss.02479)

**We need your help!**

Journal of Open Source Softwa

[2021-02-02 22:39] melissawm commented on #2744
@whedon generate pdf

[2021-02-02 22:42] apalarcon commented on #2479
Thanks

[2021-02-02 22:43] melissawm commented on #2974
Hello, folks! @chkoar @sjvrijn @geoffreyp I see some progress in the checkboxes, let me know if there's anything I can help you with. Thanks!

[2021-02-02 22:44] melissawm commented on #2974
Hello, folks! @chkoar @sjvrijn @geoffreyp I see some progress in the checkboxes, let me know if there's anything I can help you with. Thanks!

[2021-02-02 22:47] karthik commented on #2944
👋 @paytonjjones
Would you be able to review this submission?

[2021-02-02 22:47] karthik commented on #2944
👋 @GiulioCostantini
Would you be able to review this submission?

[2021-02-02 22:59] kyleniemeyer commented on #2823
@matthewfeickert well, this is explicitly listed in the (short) set of items of what a paper should contain. We did change this from a suggestion to a more-formal requirement within the last year, so some papers submitted longer ago will not have it. The fact that some papers have slipped through is just due to us not being perfect. `whedon` is supposed to check for this upon submission, but curre

[2021-02-02 23:01] kyleniemeyer commented on #2823
@matthewfeickert Regarding the version/archive question, we can certainly revisit that hard naming requirement for the archive. Ultimately our main goal is for the archive (and paper) to reflect the software reviewed.

Reviewing the history of this submission, I do see the confusion about versions... but, I don't _think_ anyone mentioned anything about the paper in the archive, just that we need t

[2021-02-02 23:04] whedon commented on #2744
PDF failed to compile for issue #2744 with the following error:

[2021-02-03 00:52] matthewfeickert commented on #2823
Yes, and I know that myself, and I assume all of the reviewers in both our pre-review and review, assumed that this paper had met that given that in all circumstances the item

was checked off on the reviewers' checklist.

As you mention [the docs say](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)

but the only place to mention this is meant to be an explicit

[2021-02-03 01:08] kyleniemeyer commented on #2823
Indeed, I've already submitted a [PR](https://github.com/openjournals/joss/pull/862) to correct this, and @danielskatz suggested new/improved whedon commands to check for this in https://github.com/openjournals/joss/issues/861

Yes, this is fine. I think we all are in favor of supporting projects that have a solid versioning and archiving process in place.

[2021-02-03 01:10] kyleniemeyer commented on #2823
@whedon set 10.5281/zenodo.4318533 as archive

[2021-02-03 01:10] whedon commented on #2823
OK. <a href="https://doi.org/10.5281/zenodo.4318533" target="_blank">10.5281/zenodo.4318533</a> is the archive.

[2021-02-03 03:40] zackdraper commented on #2641
@zemogle Do you have a link to an example data set to use?  Trying to confirm functionality on real data. Tried getting public data off of LCO and got a few errors.

The error for a missing keyword was caught, but I would suggest having documentation saying what fits header keywords are required for the input data.

I got another error resulting from a malformatted .fits file on "hdulist[2]" givin

[2021-02-03 04:38] sebkopf commented on #2878
Hi @r-barnes, just a quick note that the README updates (and all other JOSS review related updates) are now merged into master and reflected at https://isoreader.isoverse.org/ (including clear links to the vignettes and a snippet of example code). Let me know if you have any other questions regarding the testing details mentioned above or if this all sounds good for moving towards publication.

Th

[2021-02-03 05:27] laijingtao commented on #2965
I've finished my review for this repository. This package meets all the review criteria and is suitable for publication. My only suggestion is the documentation of the core methods could be improved by adding detailed description and example inputs/outputs. Other parts of the documentation are all great.

[2021-02-03 05:29] fmatuschke commented on #2923
@vigji I am sorry. I was not notified about the issues on the GitHub repository. I will start on them ASAP.  They are all valid points.

[2021-02-03 09:24] mikldk commented on #2992
@mcavs, @mmrabe, can you please give a brief status of your reviews? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-02-03 09:40] mmrabe commented on #2992
Hi @mikldk, I have completed general checks and some functionality checks. I should be able to return a complete review within a week from now (i.e., by Feb 10) if that's okay?

[2021-02-03 09:42] mikldk commented on #2992
@mmrabe Thanks, that's fine -- thanks for checking in.

[2021-02-03 09:42] ayush-1506 commented on #2972
@gkthiruvathukal Sure, adding some more: {jonathanschilling, kuangmeng, marcoapintoo}. Let me know if you'd like more suggestions.

[2021-02-03 10:03] zemogle commented on #2641
Hey @zackdraper 👋  Thanks for picking this up. Just picking a random data set, you could try this data set of [Tres 2b](https://archive.lco.global/?q=a&RLEVEL=91&PROPID=&INSTRUME=&OBJECT=&SITEID=&TELID=&FILTER=&OBSTYPE=&EXPTIME=&BLKUID=&REQNUM=1849306&basename=&start=2014-01-01&end=2021-07-31%2023%3A59&id=&public=true).

The coords of Tres 2b are `--ra 286.8083 --dec 49.3164` if you need them. I'v

[2021-02-03 10:15] arcuri82 commented on #2972
@gkthiruvathukal Hi, yes I can  be a reviewer for this submission

[2021-02-03 10:21] jbuisine commented on #2812
Hi @stsievert, @torressa,

I wanted to inform you that I have also updated the paper (only a few changes).

[2021-02-03 10:21] jbuisine commented on #2812
@whedon generate pdf

[2021-02-03 10:22] whedon commented on #2812
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: :point_left:

[2021-02-03 10:55] marcosvital commented on #2900
Thank you, @bommert.

@clauswilke and @mcavs, thank you for accepting to review this submission. I'm trying to reach a third reviewer so we can the reviewing processes soon, ok?

[2021-02-03 10:57] marcosvital commented on #2900
Dear @osorensen, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to review, p

[2021-02-03 11:10] bradkav commented on #2823
I'd like to briefly jump in (as one of the reviewers) and confirm that it was not at all clear to me that the "Statement of Need" should be an explicit section (rather than just an idea to be covered in the paper). The paper did clearly explain the research purpose of the software, so I was happy to accept it.

In any case, I'm glad to see that @kyleniemeyer has submitted a [PR](https://github.com

[2021-02-03 11:13] suchitakulkarni commented on #2823
I second @bradkav here and I am glad that this has been taken up to be clarified in further reviews.

[2021-02-03 11:55] osorensen commented on #2900
@marcosvital: yes

[2021-02-03 12:14] whedon commented on #2974
:wave: @sjvrijn, please update us on how your review is going.

[2021-02-03 12:14] whedon commented on #2974
:wave: @chkoar, please update us on how your review is going.

[2021-02-03 12:36] arfon commented on #2479
Hi all, it looks like a mistake was made here in the handoff between editors on rotation this week. For context, it looks like the following happened:

- @dhhagan (the handling editor) reminded me on Slack about this paper. I failed to notice that this was a paper that we had been discussing before and so asked him to run `@whedon accept` which he did [here](https://github.com/openjournals/joss-re

[2021-02-03 13:53] Jammy2211 commented on #2550
Here is the zenodo:

https://zenodo.org/record/4497861#.YBqqlOj7T-h

We've made sure the author list and title match, let me know if anything else looks like it needs editing.

[2021-02-03 14:04] gkthiruvathukal commented on #2972
@arcuri82 Thanks for helping. me again! I will add you know and work on getting a second reviewer.

[2021-02-03 14:04] gkthiruvathukal commented on #2972
@whedon assign @arcuri82 as reviewer

[2021-02-03 14:04] whedon commented on #2972
OK, @arcuri82 is now a reviewer

[2021-02-03 14:04] gkthiruvathukal commented on #2972
@ jonathanschilling are you willing to contribute a review for this JOSS submission?

[2021-02-03 14:19] pdebuyl commented on #2854
Hi @rmorgan10

In the paper, can you use explicity journal names instead of the bibtex macro. `\prd` -> `Physical Review D`, etc? This is for Abbott,  Astropy, Ivezić, York.

SciPy has a paper out, please update the citation. see https://www.scipy.org/citing.html

[2021-02-03 14:19] pdebuyl commented on #2854
@whedon set 10.5281/zenodo.4479712 as archive

[2021-02-03 14:19] whedon commented on #2854
OK. <a href="https://doi.org/10.5281/zenodo.4479712" target="_blank">10.5281/zenodo.4479712</a> is the archive.

[2021-02-03 14:20] pdebuyl commented on #2854
@whedon set v0.0.1.2 as version

[2021-02-03 14:20] whedon commented on #2854
OK. v0.0.1.2 is the version.

[2021-02-03 14:52] rmorgan10 commented on #2854
@pdebuyl I've updated the bibliography with your recommendations, thanks! https://github.com/deepskies/deeplenstronomy/commit/032f6a5aa7aee1df7d4b6e6d1851304dde8c05ab

[2021-02-03 15:03] AJQuinn commented on #2977
Hi all, I've made some paper changes based on @EtienneCmb suggestions above. Please let me know if these are ok and if there are any more!

We followed up the point about phase-amplitude coupling elsewhere in the end but just in case others are interested... the Holospectrum quantifies any amplitude modulations present in an oscillatory signal but does not formally relate these to the phase of a l

[2021-02-03 15:03] AJQuinn commented on #2977
@whedon generate pdf from branch 33-joss-revisions

[2021-02-03 15:04] pdebuyl commented on #2854
@whedon generate pdf

[2021-02-03 15:06] whedon commented on #2854
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02854/joss.02854/10.21105.joss.02854.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02854/joss.02854/10.21105.joss.02854.pdf) :page_facing_up: :point_left:

[2021-02-03 15:06] whedon commented on #2977
[code]

[2021-02-03 15:07] whedon commented on #2977
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: :point_left:

[2021-02-03 15:09] danielskatz commented on #2962
👋 @holybao, @lukechampine, @s0l0ist - would one of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-02-03 15:12] pdebuyl commented on #2854
Thank you. Can you edit the archive's title to match the paper? It should read "deeplenstronomy: A dataset simulation package for strong gravitational lensing"

[2021-02-03 15:14] rmorgan10 commented on #2854
Yup! Sorry about that, it's now updated

[2021-02-03 15:16] pdebuyl commented on #2854
Thanks :-) The paper will now go the the editor in chief.

Thank you @shreyasbapat and @jiwoncpark , with special mention for the text changes proposed by @jiwoncpark :-)

[2021-02-03 15:16] pdebuyl commented on #2854
@whedon accept

[2021-02-03 15:17] whedon commented on #2854
[code]

[2021-02-03 15:18] whedon commented on #2854
[code]

[2021-02-03 15:18] whedon commented on #2854
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2071

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2071, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-03 15:26] pdebuyl commented on #2854
@rmorgan10 please check the final pdf https://raw.githubusercontent.com/openjournals/joss-papers/7b45a09803a630144e588ffe8f36aa033e3dbd66/joss.02854/10.21105.joss.02854.pdf

The editor-in-chief in rotation will pick up the process from here. Thanks for submitting to JOSS :-)

[2021-02-03 15:31] rmorgan10 commented on #2854
It looks good to me! Thanks @pdebuyl, @jiwoncpark, and @shreyasbapat for your reviews and for helping `deeplenstronomy` get to this point!

[2021-02-03 15:42] pdebuyl commented on #2828
@jordanperr gentle reminder.

[2021-02-03 16:15] hugoledoux commented on #2970
@whedon re-invite @HenrikJanPersson as reviewer

[2021-02-03 16:15] whedon commented on #2970
OK, the reviewer has been re-invited.

@henrikjanpersson please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-03 16:17] szymon-datalions commented on #2869
Hi @kenohori , Hi @chrisbrunsdon ,

I've updated paper and README.md in the ```paper``` branch of package repository. I'll check all namespaces in tutorials but I think that in current version (0.2.2) every tutorial should pass. Moreover, I'm changing areal dataset for tutorials because current dataset (road accidents) is not spatially correlated. It will be done in a day or two.

Thank you a lot

[2021-02-03 16:35] pzelasko commented on #2865
I'm sorry, but I have too many commitments at this time.

[2021-02-03 16:40] ctodd26labs commented on #2882
Hello,

Wanted to follow-up to see if there has been any movement with this?

Thank you in advance and have a good day.

[2021-02-03 17:25] apiad commented on #2865
I'd be more than happy to help review it! What is the deadline?

[2021-02-03 17:47] fabianomenegidio commented on #2882
Sorry. I'm away assisting in the assembly of the genome of the
Brazilian strain of SARS-CoV-2.

I will not be able to revise the article.

Em qua, 3 de fev de 2021 13:40, Christopher H. Todd <
notifications@github.com> escreveu:

[2021-02-03 18:10] arfon commented on #2479
Hi all, just a follow-up on my earlier message here. I've confirmed the above events with the EiC team.

As the acceptance here was processed in error, we've contacted Crossref (the DOI registering service for JOSS) who have deleted the DOI associated with this paper (https://doi.org/10.21105/joss.02479).

@apalarcon, @dhhagan, @hertzsprung, @kgoebber - my sincere apologies for any confusion cause

[2021-02-03 18:10] #2479 closed

[2021-02-03 18:30] erinyoung commented on #2334
I didn't realize I needed a kraken1 database. I've changed that.
[code]

[2021-02-03 18:31] henrykironde commented on #2998
@csoneson, feel free to tag me as a reviewer in case you don't hear from folks.

[2021-02-03 18:38] Manolomon commented on #2692
Hello, @marcosvital. First of all, I would like to apologize to everyone for the late response. I updated the corresponding changes to the paper a month ago and tested them on the preview page. However, I forgot to command wedon. I'm sorry for the misunderstanding and hope we can keep the review ongoing.
Sincerely
Manuel

[2021-02-03 18:38] Manolomon commented on #2692
@whedon generate pdf

[2021-02-03 18:39] whedon commented on #2692
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02692/joss.02692/10.21105.joss.02692.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02692/joss.02692/10.21105.joss.02692.pdf) :page_facing_up: :point_left:

[2021-02-03 18:46] erinyoung commented on #2334
My own data setup:

[code]

[2021-02-03 19:54] arfon commented on #2865
We aim to have reviews completed in ~6 weeks. As JOSS reviews are generally iterative in nature, we encourage reviewers to provide initial feedback sooner than this though in case any clarifications are necessary.

Does this sound OK?

[2021-02-03 19:55] arfon commented on #2882
@ctodd26labs not yet sorry. I'm still on the hunt for reviewers.

[2021-02-03 19:59] apiad commented on #2865
Absolutely. I'll do my best to have some initial feedback in the next couple of weeks at most.

[2021-02-03 20:50] gvilitech commented on #2962
Resolved. Please see https://libswifft.readthedocs.io

[2021-02-03 21:12] paytonjjones commented on #2944
Unfortunately, I don't think I would be able to review this in a reasonable
time frame. Sacha Epskamp (sacha.epskamp@gmail.com) or Donald Williams (
drwwilliams@ucdavis.edu) might be good alternate reviewers.

On Tue, Feb 2, 2021 at 5:47 PM Karthik Ram <notifications@github.com> wrote:

[2021-02-03 21:40] whedon commented on #2975
:wave: @molgor, please update us on how your review is going.

[2021-02-03 21:40] whedon commented on #2975
:wave: @ethanwhite, please update us on how your review is going.

[2021-02-03 22:34] whedon commented on #2976
:wave: @awvwgk, please update us on how your review is going.

[2021-02-03 22:39] awvwgk commented on #2976
I partly finished the review of the project in https://github.com/Isurwars/Correlation/issues/4 which lists inconsistencies in the documentation and basic blockers I found for this submission.

Also I reported a number of bugs in the command line interface (~API) of the project
- https://github.com/Isurwars/Correlation/issues/1
- https://github.com/Isurwars/Correlation/issues/2
- https://github.co

[2021-02-03 23:25] yarongvili1 commented on #2962
Not sure. In my suggestion I was aiming for people who say they know cryptography and C/C++.  Maybe security could be an alternative. Perhaps henrykironde, jarrah42, or mahsan321?

[2021-02-04 00:01] kyleniemeyer commented on #2095
Hi @nickwimer, just wanted to check in on the status of your review. Thanks!

[2021-02-04 00:02] kyleniemeyer commented on #2604
Hello @jdber1, to keep you in the loop, I did find someone else who agreed to review a few weeks ago, and I just checked back in with them.

[2021-02-04 00:05] whedon opened #3003 "[PRE REVIEW]: kuibit: Analyzing Einstein Toolkit simulations with Python"
**Submitting author:** @sbozzolo (<a href="http://orcid.org/0000-0003-3696-6408">Gabriele Bozzola</a>)
**Repository:** <a href="https://github.com/Sbozzolo/kuibit/" target ="_blank">https://github.com/Sbozzolo/kuibit/</a>
**Version:** 1.0.0
**Editor:** @eloisabentivegna
**Reviewers:** @yurlungur, @eloisabentivegna
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

[2021-02-04 00:05] whedon commented on #3003
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-04 00:05] whedon commented on #3003
PDF failed to compile for issue #3003 with the following error:

 Can't find any papers to compile :-(

[2021-02-04 00:05] whedon commented on #3003
[code]

[2021-02-04 00:06] kyleniemeyer commented on #3003
@whedon generate pdf from joss-paper

[2021-02-04 00:06] whedon commented on #3003
PDF failed to compile for issue #3003 with the following error:

 Can't find any papers to compile :-(

[2021-02-04 00:11] Sbozzolo commented on #3003
I never entered the branch where the paper is (did I miss that?), so I guess that's the problem. The paper is in the `joss-paper` branch and compiles successfully.

[2021-02-04 00:14] kyleniemeyer commented on #3003
@whedon generate pdf from branch joss-paper

(whoops, my command was incorrect)

[2021-02-04 00:15] whedon commented on #3003
[code]

[2021-02-04 00:15] whedon commented on #3003
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03003/joss.03003/10.21105.joss.03003.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03003/joss.03003/10.21105.joss.03003.pdf) :page_facing_up: :point_left:

[2021-02-04 00:19] kyleniemeyer commented on #3003
Hi @eloisabentivegna, the author suggested you to edit this submission—I also see that you contributed to the Einstein Toolkit itself, so this seems like a great fit!

[2021-02-04 00:19] kyleniemeyer commented on #3003
@whedon invite @eloisabentivegna as editor

[2021-02-04 00:19] whedon commented on #3003
@eloisabentivegna has been invited to edit this submission.

[2021-02-04 00:23] jdber1 commented on #2604
@kyleniemeyer thanks for the update.

[2021-02-04 00:33] lskatz commented on #2334
Good catch @lpantano .  We documented that idiosyncrasy here https://github.com/lskatz/SneakerNet/commit/d8a2f3f10f379ad1d65e8df34b19cea437f79aa8 and here https://github.com/lskatz/SneakerNet/commit/8cfab72600da1d86cbc16c9ff72128ee1b6cb51f, and also in the CLI usage in the script itself here https://github.com/lskatz/SneakerNet/commit/41ae36dee8c881ebe8feff19ce0a724e9b314667.

[2021-02-04 00:33] whedon opened #3004 "[PRE REVIEW]: gmr: Gaussian Mixture Regression"
**Submitting author:** @AlexanderFabisch (<a href="http://orcid.org/0000-0003-2824-7956">Alexander Fabisch</a>)
**Repository:** <a href="https://github.com/AlexanderFabisch/gmr" target ="_blank">https://github.com/AlexanderFabisch/gmr</a>
**Version:** 1.4
**Editor:** @mikldk
**Reviewers:** @vs74, @inakleinbottle
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Du

[2021-02-04 00:33] whedon commented on #3004
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-04 00:33] whedon commented on #3004
[code]

[2021-02-04 00:33] whedon commented on #3004
[code]

[2021-02-04 00:33] whedon commented on #3004
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03004/joss.03004/10.21105.joss.03004.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03004/joss.03004/10.21105.joss.03004.pdf) :page_facing_up: :point_left:

[2021-02-04 00:34] AlexMikes commented on #2362
Thanks, @kyleniemeyer, I have made these changes. Let me know if you need anything else from me.

[2021-02-04 00:34] kyleniemeyer commented on #3004
Hi @terrytangyuan, could you edit this submission?

[2021-02-04 00:35] kyleniemeyer commented on #3004
@whedon invite @terrytangyuan as editor

[2021-02-04 00:35] whedon commented on #3004
@terrytangyuan has been invited to edit this submission.

[2021-02-04 00:37] whedon opened #3005 "[PRE REVIEW]: gaussplotR: Fit, Predict and Plot 2D Gaussians in R"
**Submitting author:** @vbaliga (<a href="http://orcid.org/0000-0002-9367-8974">Vikram B. Baliga</a>)
**Repository:** <a href="https://github.com/vbaliga/gaussplotR" target ="_blank">https://github.com/vbaliga/gaussplotR</a>
**Version:** v0.2.3
**Editor:** @KristinaRiemer
**Reviewers:** @cddesja, @brunaw
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-02-04 00:37] whedon commented on #3005
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-04 00:38] whedon commented on #3005
[code]

[2021-02-04 00:38] whedon commented on #3005
Failed to discover a `Statement of need` section in paper

[2021-02-04 00:38] whedon commented on #3005
[code]

[2021-02-04 00:38] whedon commented on #3005
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03005/joss.03005/10.21105.joss.03005.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03005/joss.03005/10.21105.joss.03005.pdf) :page_facing_up: :point_left:

[2021-02-04 00:38] lskatz commented on #2334
@erinyoung I am a little perplexed still when I look at how you are able to write to `/tmp/` with

    $  docker run -v $PWD:/data -v $KRAKENDB:/kraken-database -v /tmp:/tmp -u $(id -u):$(id -g) lskatz/sneakernet:latest echo "test" >  /tmp/whatever.txt

but cannot write to tmp with the script.

Could we try to prepare your data the alternate way, described in our documentation here?  https://githu

[2021-02-04 00:40] kyleniemeyer commented on #3005
Hello @vbaliga, this pre-review issue is where we find an editor, reviewers, and also resolve any obvious issues.

Your paper is currently missing an explicit Statement of Need section that illustrates the research purpose of the software, which is one of our [required paper elements](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). Can you please add this?

[2021-02-04 00:40] kyleniemeyer commented on #3005
Hi @KristinaRiemer, could you edit this submission?

[2021-02-04 00:40] kyleniemeyer commented on #3005
@whedon invite @KristinaRiemer as editor

[2021-02-04 00:40] whedon commented on #3005
@KristinaRiemer has been invited to edit this submission.

[2021-02-04 00:41] kyleniemeyer commented on #2996
Hi @leouieda, just wanted to ping you on this edit request

[2021-02-04 00:42] kyleniemeyer commented on #2924
Hello @lorenanicole, just pinging you again on this edit request. Thanks!

[2021-02-04 00:42] kyleniemeyer commented on #2908
Hello @lorenanicole, just pinging you on this edit request (also). Thanks!

[2021-02-04 00:46] whedon opened #3006 "[PRE REVIEW]: Simulating instrumental systematics of Cosmic Microwave Background experiments with s4cmb"
**Submitting author:** @JulienPeloton (<a href="http://orcid.org/0000-0002-8560-4449">Julien Peloton</a>)
**Repository:** <a href="https://github.com/JulienPeloton/s4cmb" target ="_blank">https://github.com/JulienPeloton/s4cmb</a>
**Version:** 1.0
**Editor:** @mbobra
**Reviewers:** @Christovis, @changhoonhahn
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due t

[2021-02-04 00:46] whedon commented on #3006
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-04 00:46] whedon commented on #3006
PDF failed to compile for issue #3006 with the following error:

 Can't find any papers to compile :-(

[2021-02-04 00:46] whedon commented on #3006
[code]

[2021-02-04 00:47] kyleniemeyer commented on #3006
@whedon generate pdf from branch 56/joss/paper

[2021-02-04 00:47] whedon commented on #3006
[code]

[2021-02-04 00:48] whedon commented on #3006
PDF failed to compile for issue #3006 with the following error:

 Can't find any papers to compile :-(

[2021-02-04 00:49] kyleniemeyer commented on #3006
@whedon generate pdf from branch issues/56/joss/paper

[2021-02-04 00:49] whedon commented on #3006
[code]

[2021-02-04 00:49] whedon commented on #3006
PDF failed to compile for issue #3006 with the following error:

 Can't find any papers to compile :-(

[2021-02-04 00:50] kyleniemeyer commented on #3006
@whedon generate pdf from branch issues/56/joss

[2021-02-04 00:50] whedon commented on #3006
[code]

[2021-02-04 00:50] whedon commented on #3006
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03006/joss.03006/10.21105.joss.03006.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03006/joss.03006/10.21105.joss.03006.pdf) :page_facing_up: :point_left:

[2021-02-04 00:56] kyleniemeyer commented on #3006
Whew, sorry @JulienPeloton, I could not seem to get the branch correct there... can you confirm that is the correct paper location?

We use this pre-review issue to assign the editor and reviewers, and resolve any obvious issues.

[2021-02-04 00:56] kyleniemeyer commented on #3006
Hi @mbobra, can you edit this submission?

[2021-02-04 00:57] kyleniemeyer commented on #3006
@whedon invite @mbobra as editor

[2021-02-04 00:57] whedon commented on #3006
@mbobra has been invited to edit this submission.

[2021-02-04 00:58] whedon opened #3007 "[PRE REVIEW]: IGRINS RV: A Python Package for Precision Radial Velocities with Near-Infrared Spectra"
**Submitting author:** @shihyuntang (<a href="http://orcid.org/0000-0003-4247-1401">Shih-Yun Tang</a>)
**Repository:** <a href="https://github.com/shihyuntang/igrins_rv" target ="_blank">https://github.com/shihyuntang/igrins_rv</a>
**Version:** v0.9.6-beta.1
**Editor:** @dfm
**Reviewers:** @jmbrewer, @gully
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-02-04 00:58] whedon commented on #3007
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-04 00:59] whedon commented on #3007
Failed to discover a `Statement of need` section in paper

[2021-02-04 00:59] whedon commented on #3007
[code]

[2021-02-04 00:59] whedon commented on #3007
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03007/joss.03007/10.21105.joss.03007.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03007/joss.03007/10.21105.joss.03007.pdf) :page_facing_up: :point_left:

[2021-02-04 01:00] whedon commented on #3007
[code]

[2021-02-04 01:02] kyleniemeyer commented on #3007
Hi @shihyuntang, we use this pre-review issue to identify an editor and reviewers, and also fix any obvious issues.

Your paper is currently missing a Statement of Need section that clearly illustrates the research purpose of the software, which is one of [our required paper elements](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). Can you please add this?

Als

[2021-02-04 01:03] kyleniemeyer commented on #3007
Hi @dfm, could you edit this submission for us?

I want to point out (for potential reviewers) that this submission is connected to an article submitted to the AAS Astronomical Journal. As part of JOSS's collaboration with AAS, they make a small donation to the running costs of JOSS.

AAS publishing, and that as part of this collaboration, AAS publishing makes a small donation to the running costs

[2021-02-04 01:03] kyleniemeyer commented on #3007
@whedon invite @dfm as editor

[2021-02-04 01:03] whedon commented on #3007
@dfm has been invited to edit this submission.

[2021-02-04 01:04] kyleniemeyer commented on #2362
@whedon generate pdf

[2021-02-04 01:04] whedon commented on #2362
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02362/joss.02362/10.21105.joss.02362.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02362/joss.02362/10.21105.joss.02362.pdf) :page_facing_up: :point_left:

[2021-02-04 01:06] kyleniemeyer commented on #2362
👍 @AlexMikes, looks good.

[2021-02-04 01:07] kyleniemeyer commented on #2362
@whedon accept deposit=true

[2021-02-04 01:07] whedon commented on #2362
[code]

[2021-02-04 01:07] whedon commented on #2362
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1357133759368339456) 👈 🐦🐦🐦

[2021-02-04 01:07] whedon commented on #2362
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2072
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02362](https://doi.org/10.21105/joss.02362)
2. If everything looks g

[2021-02-04 01:13] Sbozzolo commented on #3003
Hi @kyleniemeyer.

Thank you for pre-editing my submission.

I pushed a commit addressing your comment. Please let me know if there's a better way to do this.

[2021-02-04 01:14] kyleniemeyer commented on #2362
Congrats @AlexMikes on your article's publication in JOSS!

Many thanks to @cmccomb and @srmnitc for reviewing this submission, and @gkthiruvathukal for editing it.

[2021-02-04 01:14] #2362 closed

[2021-02-04 01:14] whedon commented on #2362
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02362/status.svg)](https://doi.org/10.21105/joss.02362)

**We need your help!**

Journal of Open Source Softwa

[2021-02-04 01:15] vbaliga commented on #3005
Hi @kyleniemeyer , thanks for your feedback. I have just updated the paper to make the Statement of Need more clear by making it its own section. This change was made in https://github.com/vbaliga/gaussplotR/commit/e4ef931e1726213b776b6c1112d66173165c9f12

Please let me know if there's anything else you'd like me to address. And thanks for getting this submission into the queue for consideration!

[2021-02-04 01:17] kyleniemeyer commented on #3003
@whedon generate pdf from branch joss-paper

[2021-02-04 01:17] whedon commented on #3003
[code]

[2021-02-04 01:17] whedon commented on #3003
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03003/joss.03003/10.21105.joss.03003.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03003/joss.03003/10.21105.joss.03003.pdf) :page_facing_up: :point_left:

[2021-02-04 01:22] kyleniemeyer commented on #2854
Looks good to me, publishing now!

[2021-02-04 01:23] kyleniemeyer commented on #2854
@whedon accept deposit=true

[2021-02-04 01:23] whedon commented on #2854
[code]

[2021-02-04 01:23] kyleniemeyer commented on #3005
@whedon generate pdf

[2021-02-04 01:24] whedon commented on #2854
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1357137865742909442) 👈 🐦🐦🐦

[2021-02-04 01:24] whedon commented on #2854
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2073
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02854](https://doi.org/10.21105/joss.02854)
2. If everything looks g

[2021-02-04 01:24] whedon commented on #3005
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03005/joss.03005/10.21105.joss.03005.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03005/joss.03005/10.21105.joss.03005.pdf) :page_facing_up: :point_left:

[2021-02-04 01:37] kyleniemeyer commented on #2854
Congrats @rmorgan10 on your article's publication in JOSS!

Many thanks to @shreyasbapat and @jiwoncpark for reviewing this, and @pdebuyl for editing.

[2021-02-04 01:37] #2854 closed

[2021-02-04 01:37] whedon commented on #2854
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02854/status.svg)](https://doi.org/10.21105/joss.02854)

**We need your help!**

Journal of Open Source Softwa

[2021-02-04 01:57] terrytangyuan commented on #3004
Sorry I am a little overloaded at the moment and it would be great if you could find others to edit.

[2021-02-04 02:01] whedon opened #3008 "[PRE REVIEW]: libecpint: A C++ library for the eﬀicient evaluation of integrals over effective core potentials"
**Submitting author:** @robashaw (<a href="http://orcid.org/0000-0002-9977-0835">Robert A. Shaw</a>)
**Repository:** <a href="https://github.com/robashaw/libecpint" target ="_blank">https://github.com/robashaw/libecpint</a>
**Version:** v1.0.4
**Editor:** @poulson
**Reviewers:** @felipeZ, @lorenzo-rovigatti
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-02-04 02:02] whedon commented on #3008
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-04 02:02] whedon commented on #3008
PDF failed to compile for issue #3008 with the following error:

 Can't find any papers to compile :-(

[2021-02-04 02:02] whedon commented on #3008
[code]

[2021-02-04 03:51] kbarnhart commented on #2975
@molgor @ethanwhite, we have an automatic reminder two weeks into the review. Feel free to provide an update if you have one.

[2021-02-04 05:29] JulienPeloton commented on #3006
Hi @kyleniemeyer, @mbobra

I confirm this is the correct paper location. The paper lives in
- repo: https://github.com/JulienPeloton/s4cmb
- branch `issues/56/joss`
- folder: `paper/`

Note that it compiled correctly from the Whedon paper preview service ([link](https://whedon.theoj.org/)). Shall I move the files under the root of the repo instead of `paper/` to ease the review process?

[2021-02-04 05:38] whedon commented on #2977
:wave: @EtienneCmb, please update us on how your review is going.

[2021-02-04 05:38] whedon commented on #2977
:wave: @JanCBrammer, please update us on how your review is going.

[2021-02-04 05:38] whedon commented on #2977
:wave: @neurofractal, please update us on how your review is going.

[2021-02-04 06:04] dpsanders commented on #2977
Sorry about the automatic reminders; please let us know here if you have comments. Detailed technical questions, comments etc. are best done as an issue on the software repository with a link to this issue. Thanks!

[2021-02-04 06:08] dpsanders commented on #2963
Thanks, @jsoishi.

Do you have any suggestions for possible reviewers, from the list linked or otherwise?

[2021-02-04 07:53] kyleniemeyer commented on #3008
@whedon generate pdf from branch joss

[2021-02-04 07:53] whedon commented on #3008
[code]

[2021-02-04 07:54] whedon commented on #3008
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03008/joss.03008/10.21105.joss.03008.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03008/joss.03008/10.21105.joss.03008.pdf) :page_facing_up: :point_left:

[2021-02-04 08:59] BKillen05 commented on #2911
@Kevin-Mattheus-Moerman Sorry for the delay in this review.
I have now read the paper and documentation and completed some testing for functionality etc.

I am extremely impressed by the quality of the submisison - both the software - descriptions - and documentation is extremely thorough. I am therefore more than happy to accept the paper and project in its current form. Similar to @melund  I hav

[2021-02-04 09:02] modenaxe commented on #2911
@BKillen05 I can test the MATLAB wrapper when I review the paper. @Kevin-Mattheus-Moerman apologies for the delay with this review...

[2021-02-04 09:13] arfon commented on #2865
@whedon add @apiad as reviewer

[2021-02-04 09:13] whedon commented on #2865
OK, @apiad is now a reviewer

[2021-02-04 09:15] arfon commented on #2989
@whedon re-invite @apiad as reviewer

[2021-02-04 09:15] whedon commented on #2989
The reviewer already has a pending invite.

@apiad please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-04 09:16] arfon commented on #2989
@apiad - thanks again for agreeing to review this submission! Please review the guidelines linked above and work though the checklist.

Feel free to raise any issues along the way here.

[2021-02-04 09:16] GiulioCostantini commented on #2944
Hi all,
Unfortunately the same the same is true for me. I would suggest also Jonas
Haslbeck (jonashaslbeck@gmail.com) as another alternative reviewer,
All the best
Giulio

Giulio Costantini, PhD
Assistant professor
Psychology Department
University of Milano-Bicocca
P.zza dell'Ateneo Nuovo, 1 (U6) - room 3127
20126 Milan (MI)
Phone ++39 02.6448.3839

<https://www.avast.com/sig-email?utm_medium=emai

[2021-02-04 09:21] LangeJens commented on #2944
I want to mention, that I know Sacha Epskamp and Jonas Haslbeck from my time in Amsterdam. I worked in another department at the same university and we met in group as well as personal meetings. I do not necessarily believe that they would have a conflict of interest, but I wanted to disclose this in case it is relevant.

[2021-02-04 09:32] vavrines commented on #2942
With the revise of the paper, docs and tests, I would like to reboot the review process.

The major changes include:
- The paper is rewritten. A statement of need section is added. The figure format is adjusted. The proof reading is made.
- The tests are expanded and the coverage increases.
- The documentation is reorganized.

@openjournals/joss-eics
@arfon
@kthyng
@Kevin-Mattheus-Moerman
Could yo

[2021-02-04 09:32] vavrines commented on #2942
@whedon generate pdf

[2021-02-04 09:33] whedon commented on #2942
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02942/joss.02942/10.21105.joss.02942.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02942/joss.02942/10.21105.joss.02942.pdf) :page_facing_up: :point_left:

[2021-02-04 12:27] danielskatz commented on #2962
👋 @henrykironde, @jarrah42, @mahsan321 - would one of you be willing to review this submission for JOSS?

[2021-02-04 12:49] dfm commented on #3007
I'm happy to edit! I'll start recruiting reviewers shortly.

[2021-02-04 12:50] dfm commented on #3007
@whedon assign @dfm as editor

[2021-02-04 12:50] whedon commented on #3007
OK, the editor is @dfm

[2021-02-04 13:10] HenrikJanPersson commented on #2970
The plugin is clean and has a well defined purpose. The paper is short but well written, but it is missing several required parts. Additionally, please see my comments below.

1. The purpose is to provide an easy procedure to compute a number of polarimetric indices (parameters) that may be of interest for the user. However, it requires the input data in a format that SNAP and PolSAR Pro delivers,

[2021-02-04 13:12] dfm commented on #2550
@whedon set 10.5281/zenodo.4497861 as archive

[2021-02-04 13:12] whedon commented on #2550
OK. <a href="https://doi.org/10.5281/zenodo.4497861" target="_blank">10.5281/zenodo.4497861</a> is the archive.

[2021-02-04 13:12] dfm commented on #2550
@whedon set v0.72.2 as version

[2021-02-04 13:12] whedon commented on #2550
OK. v0.72.2 is the version.

[2021-02-04 13:13] dfm commented on #2550
@whedon accept

[2021-02-04 13:13] whedon commented on #2550
[code]

[2021-02-04 13:14] whedon commented on #2550
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2074

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2074, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-04 13:14] whedon commented on #2550
[code]

[2021-02-04 13:16] dfm commented on #2550
@Jammy2211: This has now been handed off to the Editors-in-chief to handle the final processing. They might have some edits/recommendations before final acceptance, but we're just about there. Thanks for all of your work and patience!

@arm61, @karllark: Thank you both very much for your constructive reviews and contributions. I really appreciate it!!

[2021-02-04 13:18] Jammy2211 commented on #2550
Awesome, thank you!

[2021-02-04 13:22] AlexMikes commented on #2362
Thanks @kyleniemeyer! Thanks again @gkthiruvathukal for leading this and @cmccomb and @srmnitc for reviewing and helping to improve it!

[2021-02-04 14:07] csoneson commented on #2998
Thanks @henrykironde for volunteering!

[2021-02-04 14:08] csoneson commented on #2998
@whedon assign @henrykironde as reviewer

[2021-02-04 14:08] whedon commented on #2998
OK, @henrykironde is now a reviewer

[2021-02-04 14:09] csoneson commented on #2998
@whedon add @fgeier as reviewer

[2021-02-04 14:09] whedon commented on #2998
OK, @fgeier is now a reviewer

[2021-02-04 14:11] csoneson commented on #2998
@whedon start review

[2021-02-04 14:11] whedon opened #3009 "[REVIEW]: Generating fragment density plots in R/Bioconductor with VplotR"
**Submitting author:** @js2264 (<a href="http://orcid.org/0000-0002-4295-0624">Jacques Serizay</a>)
**Repository:** <a href="https://github.com/js2264/VplotR/" target ="_blank">https://github.com/js2264/VplotR/</a>
**Version:** v1.2.0
**Editor:** @csoneson
**Reviewer:** @henrykironde, @fgeier
**Archive:** <a href="https://doi.org/10.5281/zenodo.4562440" target="_blank">10.5281/zenodo.4562440</a>

[2021-02-04 14:11] whedon commented on #2998
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3009.

[2021-02-04 14:11] #2998 closed

[2021-02-04 14:11] whedon commented on #3009
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @henrykironde, @fgeier it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-02-04 14:12] whedon commented on #3009
[code]

[2021-02-04 14:12] whedon commented on #3009
PDF failed to compile for issue #3009 with the following error:

 Can't find any papers to compile :-(

[2021-02-04 14:15] csoneson commented on #3009
👋🏼 @js2264, @henrykironde, @fgeier - this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other journals. Our goal

[2021-02-04 14:16] csoneson commented on #3009
@whedon generate pdf from branch JOSS

[2021-02-04 14:16] whedon commented on #3009
[code]

[2021-02-04 14:17] whedon commented on #3009
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03009/joss.03009/10.21105.joss.03009.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03009/joss.03009/10.21105.joss.03009.pdf) :page_facing_up: :point_left:

[2021-02-04 14:31] KristinaRiemer commented on #2721
Hi @kellykochanski, I'm not sure if I used an incorrect email address for you, just checking in on your review of this software?

[2021-02-04 14:34] KristinaRiemer commented on #2575
Hi @holukas, just checking in to see how working on these issues is going for you?

[2021-02-04 14:51] KristinaRiemer commented on #3005
@kyleniemeyer I can edit this submission.

[2021-02-04 14:51] KristinaRiemer commented on #3005
@whedon assign me as editor

[2021-02-04 14:51] whedon commented on #3005
OK, the editor is @KristinaRiemer

[2021-02-04 15:02] robashaw commented on #3008
Possible reviewers taken from the list, based on being comfortable with C++ and having expertise in computational chemistry/electronic structure:

lorenzo-rovigatti
felipeZ
nicorenaud
awgwvk
smutao
xwang862

[2021-02-04 15:14] diehlpk commented on #2945
Hey, @thelfer and @pbauman how is your review going?

[2021-02-04 15:19] diehlpk commented on #2939
Hey, @corentin-dev how is your review going?

[2021-02-04 15:34] matthewfeickert commented on #2823
@whedon generate pdf from branch master

[2021-02-04 15:34] whedon commented on #2823
[code]

[2021-02-04 15:35] whedon commented on #2823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: :point_left:

[2021-02-04 15:38] matthewfeickert commented on #2823
@eloisabentivegna @kyleniemeyer Can you please review the latest draft whedon has built?

Thanks also @kyleniemeyer for https://github.com/openjournals/joss/pull/862 &mdash; that's great to see! :+1:

[2021-02-04 15:40] diehlpk commented on #2898
@Kevin-Mattheus-Moerman Should I recommend more reviewers?

[2021-02-04 16:26] chkoar commented on #2974
Hey @melissawm, I hope that by Monday I will have completed the review.

[2021-02-04 16:27] holukas commented on #2575
Hi @KristinaRiemer, I am nearly finished with the Issues. I was not sure if I should close the issues if I think they are done, or if it is up to the reviewers to confirm that an issue was solved and then I can close them. What would be the correct procedure?

[2021-02-04 16:32] shihyuntang commented on #3007
Dear @kyleniemeyer and @dfm,

Thank you both.
For

we had removed all the unused references in the `.bib` file, and also updated the paper with a new section, the Statement of Need.

Please check again.
@whedon generate pdf
Thank you.

[2021-02-04 16:59] ayush-1506 commented on #2972
@gkthiruvathukal I think jonathanschilling wasn't notified since there's a space between `@` and `jonathanschilling` in your comment above(if this was not intentional)

[2021-02-04 17:33] mattpitkin commented on #3001
@johannesbuchner can you add the DOI https://doi.org/10.1021/acs.jctc.9b00567 for the Griffiths & Wales paper? Can you also update the Higson, Handley, Hobson & Lasenby paper to the published version as given [here](https://ui.adsabs.harvard.edu/abs/2019S%26C....29..891H/abstract)?

[2021-02-04 17:50] mattpitkin commented on #3001
Minor paper comments:
* line 16: typo "contraining" to "constraining"
* line 17: remove comma after "open source"
* line 31: either remove "also" or move it to read "also performs well"
* line 32: maybe change to say "The variants include developments related to: ..." or something similar.
* line 46: remove "also"
* line 49: explain what a "live point" is.
* line 49: "A inverse" to "An inverse"
*

[2021-02-04 18:37] marcosvital commented on #2692
Hi, @Manolomon, good to hear from you! No problem, we can proceed if the reviewers are still available.

@SteveViss and @62442katieb, we have a new version of the manuscript. Let me know if you can still proceed with the reviewing process, ok?

[2021-02-04 18:38] marcosvital commented on #2900
Thank you, @osorensen!

To all: we will now move on to a new issue to start reviewing.

[2021-02-04 18:39] marcosvital commented on #2900
@whedon assign @mcavs as reviewer

[2021-02-04 18:39] whedon commented on #2900
OK, @mcavs is now a reviewer

[2021-02-04 18:39] marcosvital commented on #2900
@whedon add @clauswilke as reviewer

[2021-02-04 18:39] whedon commented on #2900
OK, @clauswilke is now a reviewer

[2021-02-04 18:40] marcosvital commented on #2900
@whedon add @osorensen as reviewer

[2021-02-04 18:40] whedon commented on #2900
OK, @osorensen is now a reviewer

[2021-02-04 18:40] marcosvital commented on #2900
@whedon start review

[2021-02-04 18:41] whedon opened #3010 "[REVIEW]: stabm: Stability Measures for Feature Selection"
**Submitting author:** @bommert (<a href="http://orcid.org/0000-0002-1005-9351">Andrea Bommert</a>)
**Repository:** <a href="https://github.com/bommert/stabm" target ="_blank">https://github.com/bommert/stabm</a>
**Version:** v1.2.0
**Editor:** @marcosvital
**Reviewer:** @mcavs, @clauswilke, @osorensen
**Archive:** <a href="https://doi.org/10.5281/zenodo.4648087" target="_blank">10.5281/zenodo.464

[2021-02-04 18:41] whedon commented on #2900
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3010.

[2021-02-04 18:41] #2900 closed

[2021-02-04 18:41] whedon commented on #3010
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mcavs, @clauswilke, @osorensen it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2021-02-04 18:41] whedon commented on #3010
[code]

[2021-02-04 18:42] whedon commented on #3010
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03010/joss.03010/10.21105.joss.03010.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03010/joss.03010/10.21105.joss.03010.pdf) :page_facing_up: :point_left:

[2021-02-04 18:42] whedon commented on #3010
[code]

[2021-02-04 18:44] marcosvital commented on #3010
Dear @bommert: your manuscript will be reviewed in this issue, and you can reply any comments and suggestions that the reviewers might address right here.

[2021-02-04 18:45] marcosvital commented on #3010
@mcavs, @clauswilke and @osorensen: thank you again for for accepting review this submission for JOSS.

Even if you are not starting the review right now, please accept the invite, as it has an expiration date (there is a link under Reviewer instructions & questions and you should also get an email notification). Furthermore, please check the instructions and checklists above, and let me know if y

[2021-02-04 18:46] gkthiruvathukal commented on #2972
@ayush-1506 So sorry!

@jonathanschilling are you willing to contribute a review for this JOSS submission?

[2021-02-04 18:46] marcosvital commented on #3010
@bommert, I see your paper have a co-author. If this person have a GitHub profile and wants to participate, you can tag the profile any time you want.

[2021-02-04 18:57] whedon commented on #2978
:wave: @robertsawko, please update us on how your review is going.

[2021-02-04 18:57] whedon commented on #2978
:wave: @rhaas80, please update us on how your review is going.

[2021-02-04 18:58] KristinaRiemer commented on #2575
@holukas I think we should do the latter. When you're done addressing all of the issues, let the reviewers know here. They can then review the work you've done and you can close the issues once they indicate they're satisfied with it. Hopefully that's the easiest way for @r-barnes and @mccabete to keep track of everything!

[2021-02-04 19:14] kyleniemeyer commented on #3006
@JulienPeloton no need, whedon finds the paper easily enough—I just wanted to check that the branch was correct.

[2021-02-04 19:15] kyleniemeyer commented on #3007
@whedon generate pdf

[2021-02-04 19:16] whedon commented on #3007
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03007/joss.03007/10.21105.joss.03007.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03007/joss.03007/10.21105.joss.03007.pdf) :page_facing_up: :point_left:

[2021-02-04 19:17] kyleniemeyer commented on #3008
Thanks @robashaw. We will use this pre-review issue to assign the editor and reviewers.

@meg-simula, can you edit this submission?

[2021-02-04 19:17] kyleniemeyer commented on #3008
@whedon invite @meg-simula as editor

[2021-02-04 19:17] whedon commented on #3008
@meg-simula has been invited to edit this submission.

[2021-02-04 19:19] kyleniemeyer commented on #2823
Thanks @matthewfeickert, that looks good. I'm ready to publish the article at this point.

[2021-02-04 19:23] meg-simula commented on #3008
@kyleniemeyer I'm essentially OOO until March 1 2021. If still relevant, I can handle this after that.

[2021-02-04 19:23] eloisabentivegna commented on #3003
Indeed @kyleniemeyer, this is right up my alley. 🙂

[2021-02-04 19:23] eloisabentivegna commented on #3003
@whedon assign @eloisabentivegna as editor

[2021-02-04 19:23] whedon commented on #3003
OK, the editor is @eloisabentivegna

[2021-02-04 19:24] clauswilke commented on #2993
Hello @danielskatz, @clauswilke here, the other author of the paper. I'd like to emphasize that this is a Software 2.0 project where much of the program logic is encoded in the trained model, so simply counting lines of code is misleading. There's about a megabyte of binary data encoding program logic here:
https://github.com/adamhockenberry/bacphlip/blob/master/bacphlip/data/rf_best.joblib

And,

[2021-02-04 19:25] kyleniemeyer commented on #3008
@meg-simula ah, I didn't realize, that's alright.

[2021-02-04 19:26] kyleniemeyer commented on #2823
@whedon accept deposit=true

[2021-02-04 19:26] whedon commented on #2823
[code]

[2021-02-04 19:26] eloisabentivegna commented on #2823
I've reviewed the latest draft and I am happy with it too.

[2021-02-04 19:27] whedon commented on #2823
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1357410376124669952) 👈 🐦🐦🐦

[2021-02-04 19:27] whedon commented on #2823
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2075
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02823](https://doi.org/10.21105/joss.02823)
2. If everything looks g

[2021-02-04 19:28] kyleniemeyer commented on #3007
@whedon check references

[2021-02-04 19:29] whedon commented on #3007
[code]

[2021-02-04 19:31] meg-simula commented on #2879
/ooo February 3 to March 1

[2021-02-04 19:36] kyleniemeyer commented on #2823
Congrats @matthewfeickert on your article's publication in JOSS!

Many thanks to @suchitakulkarni and @bradkav for reviewing this submission, and @eloisabentivegna for editing it.

(The DOI doesn't seem to be resolving yet, but the paper appears correctly at https://joss.theoj.org/papers/10.21105/joss.02823)

[2021-02-04 19:36] #2823 closed

[2021-02-04 19:36] whedon commented on #2823
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02823/status.svg)](https://doi.org/10.21105/joss.02823)

**We need your help!**

Journal of Open Source Softwa

[2021-02-04 19:42] kyleniemeyer commented on #2550
Hi @Jammy2211, I am the EIC on duty this week doing some final checks before publishing.

I noticed that your paper does not have an explicit Statement of Need section, which is one of our [required paper elements](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). This was caught by whedon at the very beginning of the submission process, but looks like it got mis

[2021-02-04 19:44] kyleniemeyer commented on #3008
Hi @poulson, do you have bandwidth to edit this submission?

[2021-02-04 19:45] kyleniemeyer commented on #2981
Hi @jedbrown, could you edit this?

[2021-02-04 19:45] kyleniemeyer commented on #3008
@whedon invite @poulson as editor

[2021-02-04 19:45] whedon commented on #3008
@poulson has been invited to edit this submission.

[2021-02-04 19:48] kyleniemeyer commented on #2951
Hello @kakiac, just a gentle ping on this editorial request.

[2021-02-04 19:54] kyleniemeyer commented on #3004
@terrytangyuan that's alright, will do.

@mikldk, could you edit this submission?

[2021-02-04 19:54] kyleniemeyer commented on #3004
@whedon invite @mikldk as editor

[2021-02-04 19:54] whedon commented on #3004
@mikldk has been invited to edit this submission.

[2021-02-04 19:55] matthewfeickert commented on #2823
:rocket:

Many thanks to everyone indeed, and to you as well @kyleniemeyer! The `pyhf` team is deeply appreciative of your time, effort, and support to open source software. Thank you!

Sounds good. :+1:

[2021-02-04 20:58] afeinstein20 commented on #2845
Hi @ekaterinailin ! Thanks for addressing all of the points! I'm very happy with the updates 😄  The additional docs and FAQ section are super useful. I just have 2 additional comments/issues:

 * Good idea! `FlareLightCurve.plot_ed_ratio_heatmap()` and `FlareLightCurve.plot_recovery_probability_heatmap()`  now both return a matplotlib figure. Updated the `Visualize_Injection_Recovery.ipynb` accord

[2021-02-04 21:23] bommert commented on #3010
The co-author is @mllg .

[2021-02-04 21:29] poulson commented on #3008
@whedon assign poulson as editor

[2021-02-04 21:29] whedon commented on #3008
OK, the editor is @poulson

[2021-02-04 21:38] poulson commented on #3008
Hi Lorenzo (@lorenzo-rovigatti) :wave:.

In addition to you being recommended by Robert Shaw (@robashaw) as an expert reviewer for this submission, your C++/Python project BaggieAnalysis also seems to be quite relevant (https://github.com/lorenzo-rovigatti/baggianalysis).

Please let me know if you would be willing and able to review this submission on "libecpint: A C++ library for the eﬀicient ev

[2021-02-04 21:42] poulson commented on #3008
Hi Felipe (@felipeZ) :wave:.

In addition to your work on the C++ VOCTA-XTP library (https://github.com/votca/xtp/commits?author=felipeZ), you have been recommended as an expert by Robert Shaw (@robashaw).

Please let me know if you would be willing and able to review this submission on "libecpint: A C++ library for the eﬀicient evaluation of integrals over effective core potentials".

[2021-02-04 21:42] cheginit commented on #2965
I've been reviewing your submission and here are my comments so far:

1. The article reads well and states the package capabilities clearly. However, you wrote on line 6:

Then on line 18 said:

The first part makes the scope of applicability of the package very broad, terrain and hydrological analysis, and then second part says that the package mainly implements level-set method for delineating d

[2021-02-04 21:44] poulson commented on #3008
Hi Nicolas (@nicorenaud) :wave:,

While I don't see any C++ projects on your GitHub profile, you have been recommended as an expert reviewer by Robert Shaw (@robashaw) for this submission, entitled "libecpint: A C++ library for the eﬀicient evaluation of integrals over effective core potentials".

Please let me know if you would be willing to accept this invitation to review this C++ computational

[2021-02-04 22:42] jedbrown commented on #2981
I'd love to, but I'm just ridiculously overcommitted. Today was like a parody of two-parent work-from-home with sick kids and my experience of the past 11 months is that it won't get better in the near future so I'm afraid I have to decline at this time. If nobody else is available, I can reassess in a month or two.

[2021-02-05 07:00] ramisetti commented on #2879
@meg-simula  I am satisfied with the revisions made by @mscroggs. I believe the State of the art may provide a better comparison of the software to other existing ones. The authors may mention a phrase on how Bempp-cl is better/different from other any existing ones.

[2021-02-05 07:28] arfon commented on #2807
Thanks for the update @rtfisher!

OK, no problem.

Right, it seems like that language should be modified. @AxelBrandenburg - what do you think about this?

[2021-02-05 07:50] Hazboun6 commented on #2757
@whedon generate pdf

[2021-02-05 07:51] whedon commented on #2757
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02757/joss.02757/10.21105.joss.02757.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02757/joss.02757/10.21105.joss.02757.pdf) :page_facing_up: :point_left:

[2021-02-05 07:57] Hazboun6 commented on #2757
@arjunsavel Thanks for the second look at the paper and docs! I've merged changes based on your suggestions and regenerated the pdf above. Also looks like the semicolon fixed the multiple citations.

[2021-02-05 08:53] felipeZ commented on #3008
Hi Jack(@poulson) and Robert (@robashaw),
I am very happy to help with the review!

[2021-02-05 08:56] thelfer commented on #2945
@diehlpk A colleague and me started writting a review on the paper alone. I need to make this cleaner to share it with the authors. I still haven't installed libCEED and started reviewing the code, the install process and the examples. My agenda is a bit lighter in the coming weeks, so I hope to do that in the near future.

[2021-02-05 09:14] lorenzo-rovigatti commented on #3008
Hi Jack(@poulson) and Robert (@robashaw),

I'll be happy to help! It'll be my first review so bare with me though :-)

[2021-02-05 09:23] mikldk commented on #3004
@whedon assign me as editor

[2021-02-05 09:23] whedon commented on #3004
OK, the editor is @mikldk

[2021-02-05 09:33] mikldk commented on #3004
@AlexanderFabisch - thanks for this submission.

Can you please maybe comment on how your contribution relates to the `mclust` package in `R`, see e.g. <https://mclust-org.github.io/mclust/> where also a few publications are mentioned, including Fraley C. and Raftery A. E. (2002) *Model-based clustering, discriminant analysis and density estimation*, Journal of the American Statistical Association

[2021-02-05 09:58] Jammy2211 commented on #2550
Hi @kyleniemeyer,

I've added a statement of need, which invovled me rejigging a few sentenses and adding a couple :).

I've also sorted out the e.g. / etc issues.

Thanks!

[2021-02-05 10:49] AlexanderFabisch commented on #3004
Hi @mikldk,

if I didn't miss anything, mclust focuses on clustering and density estimation, while gmr focuses on multimodal regression. mclust is an R package and gmr is a Python package.

I am sorry, I don't have any suggestion for a reviewer, requirements would be knowledge about Python and machine learning or something similar.

[2021-02-05 11:10] mikldk commented on #3004
@oesteban, @benjamin-lee: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-02-05 12:30] whedon commented on #2891
:wave: @themkar, please update us on how your review is going.

[2021-02-05 13:01] sjpfenninger commented on #2171
@gschivley @brynpickering Thanks both for your reviews, and @jordanperr thanks a lot for your patience during this exceptionally long-winded process

[2021-02-05 13:02] sjpfenninger commented on #2171
@jordanperr We're ready to accept this. Can you make a tagged release on GitHub and archive that release, for example on Zenodo or figshare, then report the version number and archive DOI back here in the review issue?

[2021-02-05 13:07] sjpfenninger commented on #2677
@TheoChristiaanse Can you fix the broken links and address the two major points from @fneum (Re-integration of examples directory (links/submodule), API modules in documentation) -- you may want to consider his point about upper bounds rather than pinning but I leave it up to you. And can you fix the missing date in the reference 10.11826868/25222708.2019.211232.

[2021-02-05 13:08] sjpfenninger commented on #2677
@willu47 The issues you opened are all closed, can you let us know here whether you are happy with how your comments have been addressed?

[2021-02-05 14:20] lpantano commented on #2997
@sara-shiho would you like to review this python package for JOSS? thanks!

[2021-02-05 15:01] whedon commented on #2979
:wave: @junjun-zhang, please update us on how your review is going.

[2021-02-05 15:01] whedon commented on #2979
:wave: @bensonml, please update us on how your review is going.

[2021-02-05 15:12] wkirgsn commented on #2498
@Kevin-Mattheus-Moerman Is there anything currently holding the acceptance back?

[2021-02-05 15:26] jsoishi commented on #2963
hi @dpsanders,

Here are a few:

@highlando
@edoddridge
@ketch
@sivaramambikasaran
@MakrinaAgaoglou

thanks,

@jsoishi

[2021-02-05 16:02] bommert commented on #3010
I have added my phd thesis, that was just published today, as a reference. I hope that is okay.

[2021-02-05 16:03] bommert commented on #3010
@whedon generate pdf

[2021-02-05 16:03] whedon commented on #3010
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03010/joss.03010/10.21105.joss.03010.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03010/joss.03010/10.21105.joss.03010.pdf) :page_facing_up: :point_left:

[2021-02-05 16:05] bommert commented on #3010
@whedon check references

[2021-02-05 16:06] whedon commented on #3010
[code]

[2021-02-05 16:20] kbarnhart commented on #2965
@cheginit thanks for these thoughtful comments. @giswqs when you respond to them, please paste them into an in-repo issue and comment there. Include a link to this repo by including the text openjournals/joss-reviews/issues/2965. This keeps only the top-level discussion on this thread, and more detailed discussion on in-repo issue threads and links those issues with this one.

I broadly agree with

[2021-02-05 16:27] kbarnhart commented on #2276
@KevinShook I wanted to touch base again on how finishing addressing the reviewer issues was going.

[2021-02-05 16:34] nickwimer commented on #2095
Hi @kyleniemeyer, sorry for the delay, had a few urgent fires pop up that I had to put out last week. I have cleared my day to focus on this.

[2021-02-05 16:34] lpantano commented on #2334
@erinyoung, are those files:

[code]

 in your computer or in a mounted folder from another file system?

@lskatz, can you explain what these lines will do:

[code]

She doesn't see the warning, so in theory it is copying the file or making a link (maybe?) but then it fails when it is doing the `open` part?  it could be that is doing a `link` (hard) but then it is giving an error when trying to op

[2021-02-05 16:35] KevinShook commented on #2276
Thanks for keeping in touch.
I have replied to all but 3 issues, and I believe that all but these last 3 have been solved.
I didn't close the issues, as I assumed that this would be up to the person creating them.

The program now runs (much better thanks to the reviewers), and the GUI has also been greatly
improved.
The last 3 issues (#18, #14, and #13) are concerned with programming style and ar

[2021-02-05 17:37] emilljungberg commented on #2578
Hi @Mmj94

Thanks for your comments. I think these sounds like really good additions that will strengthen the paper. With those changes, I'm happy to move forward with publication of the manuscript.

Thank you!

[2021-02-05 17:44] mbobra commented on #3006
@kyleniemeyer Yes, no problem!

[2021-02-05 17:44] mbobra commented on #3006
@whedon assign me as editor

[2021-02-05 17:44] whedon commented on #3006
OK, the editor is @mbobra

[2021-02-05 17:51] nickwimer commented on #2095
@roshansamuel Twice in the paper, SARAS has been compared to TARANG with statements:

1) > "TARANG has been shown to scale up to 196608 cores (Chatterjee et al., 2018), and SARAS has been designed with the goal of achieving similar scaling performance."

 and

2) > "To validate the accuracy of the finite difference scheme of SARAS, we compare the results of SARAS with those of a pseudo-spectral co

[2021-02-05 18:03] kyleniemeyer commented on #2550
@whedon generate pdf

[2021-02-05 18:03] whedon commented on #2550
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02550/joss.02550/10.21105.joss.02550.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02550/joss.02550/10.21105.joss.02550.pdf) :page_facing_up: :point_left:

[2021-02-05 18:17] kyleniemeyer commented on #2550
@whedon accept deposit=true

[2021-02-05 18:17] whedon commented on #2550
[code]

[2021-02-05 18:18] whedon commented on #2550
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1357755536255647744) 👈 🐦🐦🐦

[2021-02-05 18:18] whedon commented on #2550
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2076
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02550](https://doi.org/10.21105/joss.02550)
2. If everything looks g

[2021-02-05 18:27] kyleniemeyer commented on #2498
@whedon set 10.5281/zenodo.4355691 as archive

[2021-02-05 18:27] whedon commented on #2498
OK. <a href="https://doi.org/10.5281/zenodo.4355691" target="_blank">10.5281/zenodo.4355691</a> is the archive.

[2021-02-05 19:07] kyleniemeyer commented on #2498
Hello @wkirgsn, I am the EIC on duty this week doing final checks before publishing—I can see that this submission is at that stage.

I just have some minor fixes for you:
- Could you ensure that "e.g." is followed by a comma ("e.g.,") throughout?
- It looks like many of your citations are duplicated. My guess is that your `.bib` file has duplicates with different cite keys, and both are being use

[2021-02-05 19:11] kyleniemeyer commented on #2981
@jedbrown understood, no problem.

@jni could you edit this submission?

[2021-02-05 19:11] kyleniemeyer commented on #2981
@whedon invite @jni as editor

[2021-02-05 19:11] whedon commented on #2981
@jni has been invited to edit this submission.

[2021-02-05 19:11] kyleniemeyer commented on #2981
@whedon generate pdf

[2021-02-05 19:12] whedon commented on #2981
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02981/joss.02981/10.21105.joss.02981.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02981/joss.02981/10.21105.joss.02981.pdf) :page_facing_up: :point_left:

[2021-02-05 19:13] kyleniemeyer commented on #2550
Congratulations @Jammy2211 on your article's publication in JOSS!

Many thanks to @arm61 and @karllark for reviewing this, and @dfm for editing it.

[2021-02-05 19:13] #2550 closed

[2021-02-05 19:13] whedon commented on #2550
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02550/status.svg)](https://doi.org/10.21105/joss.02550)

**We need your help!**

Journal of Open Source Softwa

[2021-02-05 19:16] whedon opened #3011 "[PRE REVIEW]: kallisto: A command-line interface to simplify 2 computational modelling and the generation of atomic features."
**Submitting author:** @f3rmion (<a href="http://orcid.org/0000-0002-3985-595X">Eike Caldeweyher</a>)
**Repository:** <a href="https://github.com/AstraZeneca/kallisto" target ="_blank">https://github.com/AstraZeneca/kallisto</a>
**Version:** v1.0.1
**Editor:** @richardjgowers
**Reviewers:** @rmeli, @Sulstice
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-02-05 19:16] whedon commented on #3011
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-05 19:17] whedon commented on #3011
[code]

[2021-02-05 19:17] whedon commented on #3011
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03011/joss.03011/10.21105.joss.03011.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03011/joss.03011/10.21105.joss.03011.pdf) :page_facing_up: :point_left:

[2021-02-05 19:19] whedon commented on #3011
[code]

[2021-02-05 19:20] kyleniemeyer commented on #3011
Hi @f3rmion, we will use this pre-review issue to identify the editor and reviewers, and resolve any obvious issues.

It looks like the references in your paper did not compile properly; I think the issue is the tics surrounding the cite keys, which are not needed. Also, while you are fixing that, please pull the citations into the preceding sentence, rather than after the period.

[2021-02-05 19:21] kyleniemeyer commented on #3011
@richardjgowers can you edit this submission? This looks right up your alley.

[2021-02-05 19:21] kyleniemeyer commented on #3011
@whedon invite @richardjgowers as editor

[2021-02-05 19:21] whedon commented on #3011
@richardjgowers has been invited to edit this submission.

[2021-02-05 19:21] whedon opened #3012 "[PRE REVIEW]: ThermoPlotter: Streamlined Analysis of Thermoelectric Properties"
**Submitting author:** @kbspooner (<a href="http://orcid.org/0000-0002-4078-3148">Kieran B. Spooner</a>)
**Repository:** <a href="https://github.com/SMTG-UCL/ThermoPlotter/" target ="_blank">https://github.com/SMTG-UCL/ThermoPlotter/</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-02-05 19:21] whedon commented on #3012
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-05 19:22] whedon commented on #3012
PDF failed to compile for issue #3012 with the following error:

 Can't find any papers to compile :-(

[2021-02-05 19:22] whedon commented on #3012
[code]

[2021-02-05 19:27] kyleniemeyer commented on #3012
Hello @kbspooner, thanks for your interest in JOSS. Since your submission looks to be focused on visualization, I'm flagging it for a discussion among the editorial board for whether it fits in our scope as [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software). This isn't a comment on the effort or usefulness of your software, and it certainly

[2021-02-05 19:28] kyleniemeyer commented on #3012
@whedon query scope

[2021-02-05 19:28] whedon commented on #3012
Submission flagged for editorial review.

[2021-02-05 19:36] kyleniemeyer commented on #3012
@whedon generate pdf from branch joss-paper

[2021-02-05 19:36] whedon commented on #3012
[code]

[2021-02-05 19:37] whedon commented on #3012
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03012/joss.03012/10.21105.joss.03012.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03012/joss.03012/10.21105.joss.03012.pdf) :page_facing_up: :point_left:

[2021-02-05 19:40] molgor commented on #2975
Hi Katy,

I was trying to start the review now. However, it seems that the invitation sent from @weldon has expired.

Do I need a new one?

Cheers,

Juan

[2021-02-05 19:41] whedon opened #3013 "[PRE REVIEW]: ARDL: An R package for the analysis of level relationships"
**Submitting author:** @Natsiopoulos (<a href="http://orcid.org/0000-0003-1180-2984">Kleanthis Natsiopoulos</a>)
**Repository:** <a href="https://github.com/Natsiopoulos/ARDL" target ="_blank">https://github.com/Natsiopoulos/ARDL</a>
**Version:** v0.1.1
**Editor:** @sbenthall
**Reviewers:** @ha0ye, @jacobsoj
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-02-05 19:41] whedon commented on #3013
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-05 19:41] whedon commented on #3013
Failed to discover a `Statement of need` section in paper

[2021-02-05 19:41] whedon commented on #3013
[code]

[2021-02-05 19:41] whedon commented on #3013
Failed to discover a valid open source license.

[2021-02-05 19:41] whedon commented on #3013
[code]

[2021-02-05 19:42] whedon commented on #3013
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03013/joss.03013/10.21105.joss.03013.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03013/joss.03013/10.21105.joss.03013.pdf) :page_facing_up: :point_left:

[2021-02-05 20:11] kyleniemeyer commented on #3013
Hello @Natsiopoulos, thanks for your interest in JOSS. We use this pre-review issue to identify an editor and reviewers, and also resolve any obvious issues.

Your repository is currently missing an open-source license file; I see in the DESCRIPTION file that you use the GPL-3 license, so please add this to the repo at the top level.

Also, your paper needs a Statement of Need section, which is a

[2021-02-05 20:11] kyleniemeyer commented on #3013
Hi @sbenthall, could you edit this submission?

[2021-02-05 20:11] kyleniemeyer commented on #3013
@whedon invite @sbenthall as editor

[2021-02-05 20:11] whedon commented on #3013
@sbenthall has been invited to edit this submission.

[2021-02-05 20:13] whedon opened #3014 "[PRE REVIEW]: TAT.py: Tropospheric Analysis Tools in Python"
**Submitting author:** @marcozennaro (<a href="http://orcid.org/0000-0002-0578-0830">Marco Zennaro</a>)
**Repository:** <a href="https://github.com/STI-ICTP/TropPOLoRaTools" target ="_blank">https://github.com/STI-ICTP/TropPOLoRaTools</a>
**Version:** 1.0
**Editor:** @gkthiruvathukal
**Reviewers:** @wtbarnes, @gorlapraveen
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :war

[2021-02-05 20:13] whedon commented on #3014
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-05 20:15] whedon commented on #3014
[code]

[2021-02-05 20:15] whedon commented on #3014
Failed to discover a valid open source license.

[2021-02-05 20:16] whedon commented on #3014
[code]

[2021-02-05 20:16] whedon commented on #3014
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03014/joss.03014/10.21105.joss.03014.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03014/joss.03014/10.21105.joss.03014.pdf) :page_facing_up: :point_left:

[2021-02-05 21:01] nickwimer commented on #2095
@roshansamuel, I am having several compilation errors on MacOS Mojave, Version 10.14.6. @olgadoronina has helped provide some useful compile flags to assist, but there are several outstanding issues.

Is it your intention to support the use of SARAS on MacOS, or is this strictly for LINUX? If you intend to support MacOS, I think more documentation would be helpful to assist in the widespread use o

[2021-02-05 21:02] Christovis commented on #3006
@whedon assign me as editor

[2021-02-05 21:02] whedon commented on #3006
I'm sorry @Christovis, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-02-05 21:12] robfalck commented on #2809
These have been addressed (in addition to a few others).

[2021-02-05 21:12] robfalck commented on #2809
@whedon generate pdf

[2021-02-05 21:13] whedon commented on #2809
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: :point_left:

[2021-02-05 21:42] kyleniemeyer commented on #3014
Hi @marcozennaro, thanks for your interest in JOSS. We use this pre-review issue to assign the editor and reviewers, and also address any obvious issues.

First, your software repository is missing a valid open-source license. Please select a license, and add it.

Also, in your paper, I see some section/subsection references that do not appear to be compiling correctly—please take a look.

[2021-02-05 21:44] kyleniemeyer commented on #2791
Thanks @tobias-dv-lnu @gkthiruvathukal, it looks like this is ready for acceptance so I can take it from here.

[2021-02-05 21:44] kyleniemeyer commented on #3014
Hi @gkthiruvathukal, I realize you already have a few submissions on your plate right now, but could you edit this for us?

[2021-02-05 21:45] kyleniemeyer commented on #3014
@whedon invite @gkthiruvathukal as editor

[2021-02-05 21:45] whedon commented on #3014
@gkthiruvathukal has been invited to edit this submission.

[2021-02-05 21:45] kyleniemeyer commented on #2791
@whedon generate pdf

[2021-02-05 21:46] whedon commented on #2791
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02791/joss.02791/10.21105.joss.02791.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02791/joss.02791/10.21105.joss.02791.pdf) :page_facing_up: :point_left:

[2021-02-05 21:48] kyleniemeyer commented on #2791
@whedon set 10.5281/zenodo.4475664 as archive

[2021-02-05 21:48] whedon commented on #2791
OK. <a href="https://doi.org/10.5281/zenodo.4475664" target="_blank">10.5281/zenodo.4475664</a> is the archive.

[2021-02-05 21:48] kyleniemeyer commented on #2791
@whedon set v1.3 as version

[2021-02-05 21:49] whedon commented on #2791
OK. v1.3 is the version.

[2021-02-05 21:50] kyleniemeyer commented on #2791
@whedon accept

[2021-02-05 21:50] whedon commented on #2791
[code]

[2021-02-05 21:50] whedon commented on #2791
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2077

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2077, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-05 21:51] whedon commented on #2791
[code]

[2021-02-05 21:52] kyleniemeyer commented on #2791
@tobias-dv-lnu, it looks like DOIs may be available but missing for a number of your references. Can you please check these, and add if appropriate? I will then be able to accept the submission. Thanks!

[2021-02-05 21:53] gkthiruvathukal commented on #2791
Thanks, @kyleniemeyer for helping to bring this to closure! :)

[2021-02-05 21:55] gkthiruvathukal commented on #3014
@kyleniemeyer I'll be happy to edit. Yes, I'm overwhelmed right now, but it has nothing to do with JOSS. I can handle it and will see it though the process.

[2021-02-05 21:57] gkthiruvathukal commented on #3014
@marcozennaro, once you have addressed @kyleniemeyer's points above, can you please suggest some reviewers from the list atop this issue thread? Thanks!

[2021-02-05 21:58] kyleniemeyer commented on #3014
@whedon assign @gkthiruvathukal as editor

[2021-02-05 21:59] whedon commented on #3014
OK, the editor is @gkthiruvathukal

[2021-02-05 22:13] goerz commented on #2809
Missing comma at end of line 142; "tend" in line 144 should be "tends"

[2021-02-05 22:41] gaelforget commented on #2813
@kthyng

Another update to let you know that I feel I have now completed the code and documentation updates (as of v0.2.9) needed to address https://github.com/JuliaClimate/IndividualDisplacements.jl/issues/38 where I just posted more detailed response to @milankl and @visr

[2021-02-05 22:58] whedon opened #3015 "[PRE REVIEW]: PyGModels: A Python package for exploring Probabilistic Graphical Models with Graph Theoretical Structures"
**Submitting author:** @D-K-E (<a href="http://orcid.org/0000-0002-1552-8938">D. Kaan Eraslan</a>)
**Repository:** <a href="https://github.com/D-K-E/graphical-models/" target ="_blank">https://github.com/D-K-E/graphical-models/</a>
**Version:** v0.1.0-beta
**Editor:** @dfm
**Reviewers:** @eigenfoo, @ankurankan
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due

[2021-02-05 22:58] whedon commented on #3015
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-05 23:00] whedon commented on #3015
[code]

[2021-02-05 23:00] whedon commented on #3015
PDF failed to compile for issue #3015 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (518af8b02e8392cac0c6845a/paper/paper.md): could not find expected ':' while scanning a simple key at line 26 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390

[2021-02-05 23:12] giswqs commented on #2965
@kbarnhart @cheginit @laijingtao Thank you all for your very helpful comments. I have opened an [issue](https://github.com/giswqs/lidar/issues/10) on the lidar repo. I will keep you posted on this thread once I resolve all the comments. Thanks.

[2021-02-05 23:15] D-K-E commented on #3015
Here is a list of people that might be interested in reviewing this software:
juliohm
matt-graham
eigenfoo
1313e
shahmoradi
acguidoum

[2021-02-05 23:28] f3rmion commented on #3011
Hi @kyleniemeyer, I fixed the references.
According to the Whedon preview, the references seems to be correct now.

[2021-02-05 23:32] mbobra commented on #3006
Thanks for agreeing to review, @Christovis! I really appreciate it.

[2021-02-05 23:32] mbobra commented on #3006
@whedon assign @Christovis as reviewer

[2021-02-05 23:32] whedon commented on #3006
OK, @Christovis is now a reviewer

[2021-02-06 00:28] kyleniemeyer commented on #3015
Hi @D-K-E, thanks for your interest in JOSS. We just this pre-review issue to assign the editor and reviewers, and resolve any issues.

First, regarding the compilation error in your paper, I think you need `---` after the YAML header, before the `# Summary` line.

Second, your paper needs a bit of work. For one thing, I do not think that the summary is actually written for a non-specialist audien

[2021-02-06 00:32] whedon opened #3016 "[PRE REVIEW]: Groupyr: Sparse Group Lasso in Python"
**Submitting author:** @richford (<a href="http://orcid.org/0000-0001-9276-9084">Adam Richie-Halford</a>)
**Repository:** <a href="https://github.com/richford/groupyr" target ="_blank">https://github.com/richford/groupyr</a>
**Version:** v0.2.0
**Editor:** @galessiorob
**Reviewers:** @janfreyberg, @JonathanReardon, @rougier
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :wa

[2021-02-06 00:32] whedon commented on #3016
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-06 00:33] whedon commented on #3016
[code]

[2021-02-06 00:34] whedon commented on #3016
[code]

[2021-02-06 00:34] whedon commented on #3016
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03016/joss.03016/10.21105.joss.03016.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03016/joss.03016/10.21105.joss.03016.pdf) :page_facing_up: :point_left:

[2021-02-06 00:58] D-K-E commented on #3015
Hi @kyleniemeyer thanks for the input. I'll try to fix the compilation error. It compiled fine under the web service, but I'll add the line.
I'll clarify the points you had pointed out as well.
How should I inform JOSS once the changes are made ?

[2021-02-06 01:05] richford commented on #3016
At-mentioning co-authors here: @arokem, @mnarayan, @nrs02004, @jyeatman

Here is a non-exhaustive list of potential reviewers from the JOSS reviewers google sheet (coauthors, please feel free to add more in this thread):
- rougier
- sealhuang
- nirum
- effigies
- vsoch
- janfreyberg
- ionlights
- djsaunde
- JonathanReardon
- EtienneCmb
- ryEllison
- anibalsolon
- syoh
- clinssen
- emdupre
- saran-

[2021-02-06 01:19] richford commented on #3016
@whedon check references

[2021-02-06 01:20] whedon commented on #3016
[code]

[2021-02-06 01:22] kyleniemeyer commented on #3016
Thanks @richford. Looks like there may still be some DOI issues to work out.

We will use this pre-review issue to find an editor and reviewers.

[2021-02-06 01:23] richford commented on #3016
@whedon check references

[2021-02-06 01:23] whedon commented on #3016
[code]

[2021-02-06 01:28] kyleniemeyer commented on #3016
Hi @galessiorob, could you edit this submission? There are some reviewer suggestions above 👆

[2021-02-06 01:28] kyleniemeyer commented on #3016
@whedon invite @galessiorob as editor

[2021-02-06 01:28] whedon commented on #3016
@galessiorob has been invited to edit this submission.

[2021-02-06 01:30] holukas commented on #2575
Dear @KristinaRiemer @r-barnes @mccabete,

thank you all for your input and feedback, highly appreciated! I have now addressed all issues and followed up on your suggestions. The script and documentation underwent quite some changes and I hope DYCO now meets the criteria for publication. Please let me know in case there are further changes you would like to see.

Cheers
Lukas

[2021-02-06 01:31] kyleniemeyer commented on #3015
@D-K-E you can comment in here for all communication with us—but, in this case, you can generate the pdf with `@whedon generate pdf`

[2021-02-06 01:45] kyleniemeyer commented on #3015
@D-K-E there's no rush on this, just comment here when you have finished making the changes. (Also, for that compilation issue, that was just my guess—it might be something else.)

I'm going to label this "paused", but just ping us when you have made the changes.

[2021-02-06 01:46] kyleniemeyer commented on #3015
Hey @dfm, could you edit this one? It's paused while the author revises the paper.

[2021-02-06 02:14] Sara-ShiHo commented on #2997
@lpatano yes I would like to review. What is the timeframe?

[2021-02-06 02:18] henrykironde commented on #3009
@js2264, I have made some recommendations as issues on the repo. https://github.com/js2264/VplotR/issues/4. Please let me know if there is something not clear as I continue to review.

[2021-02-06 02:20] molgor commented on #2975
I'll try using the command...
# Re-invite a reviewer (if they can't update checklists)
@whedon re-invite @molgor  as reviewer

[2021-02-06 03:27] dfm commented on #3015
I'm happy to edit!

[2021-02-06 03:27] dfm commented on #3015
@whedon assign @dfm as editor

[2021-02-06 03:27] whedon commented on #3015
OK, the editor is @dfm

[2021-02-06 03:49] roshansamuel commented on #2095
Hi, @nickwimer, thank you for pointing this out. We haven't yet performed a scaling study of SARAS yet. We will add a line in the paper to clearly state this.

Since SARAS has a design similar to TARANG, and it requires lesser MPI communication than TARANG, we expect SARAS to scale as well as, if not better than TARANG. However, this is yet to be confirmed, and we will update the paper to clarify

[2021-02-06 04:41] AxelBrandenburg commented on #2807
Dear Arfon and Robert,

Thanks, Robert, for your positive assessment.

On page 9 of the manual,
https://github.com/pencil-code/website/blob/master/doc/manual.pdf
we have now added:

  The same can be achieved using Python (see Sect. 5.19.5 for details) with
    unix > python
    python > from matplotlib import pylab as plt
    python > var = pc.read.var(trimall=True)
    python > plt.imshow(var.uu

[2021-02-06 07:42] chkoar commented on #2974
Hey @melissawm, I created a couple of issues in the software repo.
I'll wait the authors response in order to continue my review report.

[2021-02-06 11:49] richardjgowers commented on #3011
@whedon assign @richardjgowers as editor

[2021-02-06 11:49] whedon commented on #3011
OK, the editor is @richardjgowers

[2021-02-06 12:19] wkirgsn commented on #2498
Hi @kyleniemeyer, thank you for picking us up!
I just added the missing commas, removed the duplicate .bib entries, and renamed a subsection to be the statement of need, as it has fit perfectly for that already.
The JOSS paper should be in perfect shape now.

[2021-02-06 12:20] wkirgsn commented on #2498
@whedon generate pdf

[2021-02-06 12:20] whedon commented on #2498
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02498/joss.02498/10.21105.joss.02498.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02498/joss.02498/10.21105.joss.02498.pdf) :page_facing_up: :point_left:

[2021-02-06 12:31] tobias-dv-lnu commented on #2791
@kyleniemeyer Thanks! Just added the missing DOIs in the paper.bib file (whedon had made the correct guesses on the DOIs), everything should be ok now I hope :)

[2021-02-06 12:33] arfon commented on #2791
@whedon check references

[2021-02-06 12:33] whedon commented on #2791
[code]

[2021-02-06 12:36] arfon commented on #2791
@whedon accept

[2021-02-06 12:37] whedon commented on #2791
[code]

[2021-02-06 12:37] whedon commented on #2791
[code]

[2021-02-06 12:37] whedon commented on #2791
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2078

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2078, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-06 12:38] arfon commented on #2498
@whedon accept

[2021-02-06 12:38] whedon commented on #2498
[code]

[2021-02-06 12:39] whedon commented on #2498
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2079

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2079, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-06 12:39] whedon commented on #2498
[code]

[2021-02-06 13:02] f3rmion commented on #3011
@whedon generate pdf

[2021-02-06 13:03] whedon commented on #3011
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03011/joss.03011/10.21105.joss.03011.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03011/joss.03011/10.21105.joss.03011.pdf) :page_facing_up: :point_left:

[2021-02-06 13:27] richardjgowers commented on #3011
Hi @f3rmion I'm in the process of getting reviewers for this. One thing I noticed is you've missed that rdkit has had as extended Heuckel method available since 2019 (https://rdkit.blogspot.com/2019/06/doing-extended-hueckel-calculations.html)  Obviously not the best level of theory but worth a mention.

[2021-02-06 14:03] Natsiopoulos commented on #3013
Hello @kyleniemeyer, thank you for accepting our submission.

On behalf of my coauthor, I have made the following changes.
- Added the license file.
- Added the Statement of Need section. The relative information was already there but as part of the summary.
- Added a reference about a recent publication that uses the software.

Thank you

[2021-02-06 14:43] f3rmion commented on #3011
Thanks! I added a note and a reference, accordingly.

[2021-02-06 14:44] f3rmion commented on #3011
@whedon generate pdf

[2021-02-06 14:44] whedon commented on #3011
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03011/joss.03011/10.21105.joss.03011.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03011/joss.03011/10.21105.joss.03011.pdf) :page_facing_up: :point_left:

[2021-02-06 15:52] kbarnhart commented on #2975
@whedon re-invite @molgor as reviewer

[2021-02-06 15:52] whedon commented on #2975
OK, the reviewer has been re-invited.

@molgor please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-06 15:52] kbarnhart commented on #2975
@molgor here is the re-invite link.

[2021-02-06 17:38] lpantano commented on #2997
Thank you! It would be good to have some initial review inside the first 2 weeks, but we are flexible. I will start the process in the next days.

[2021-02-06 18:35] AxelBrandenburg commented on #2807
PS: there was a small typo in our README.md and reply below:
"PythonCodingStyle and the PythonCodingStyle" ->
"Python with the Pencil Code and the Python Coding Style",
which is now fixed.

On Sat, Feb 06, 2021 at 05:41:16AM +0100, Axel Brandenburg wrote:

[2021-02-06 21:58] js2264 commented on #3009
@henrykironde I have addressed your initial issues. Please do let me know if you feel like I have not addressed some of them in enough depth!

[2021-02-06 21:59] js2264 commented on #3009
@csoneson I have merged JOSS branch to master branch. Should I do anything for whedon to know about this change?

[2021-02-06 22:20] henrykironde commented on #3009
@whedon generate pdf

[2021-02-06 22:21] whedon commented on #3009
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03009/joss.03009/10.21105.joss.03009.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03009/joss.03009/10.21105.joss.03009.pdf) :page_facing_up: :point_left:

[2021-02-06 23:45] fboehm commented on #2995
@JDRomano2 and @LogIN- - I just wanted to check on the status of your reviews. Please let me know if I can assist with anything. Thanks again!

[2021-02-07 07:22] csoneson commented on #3009
No, I think this should be all good. And whedon seems to find the paper in the master branch

[2021-02-07 08:15] arfon commented on #2498
@whedon accept deposit=true

[2021-02-07 08:15] whedon commented on #2498
[code]

[2021-02-07 08:16] whedon commented on #2498
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1358328819652919298) 👈 🐦🐦🐦

[2021-02-07 08:16] whedon commented on #2498
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2080
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02498](https://doi.org/10.21105/joss.02498)
2. If everything looks g

[2021-02-07 08:18] arfon commented on #2791
@whedon accept deposit=true

[2021-02-07 08:18] whedon commented on #2791
[code]

[2021-02-07 08:18] whedon commented on #2791
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1358329383006597121) 👈 🐦🐦🐦

[2021-02-07 08:18] whedon commented on #2791
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2081
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02791](https://doi.org/10.21105/joss.02791)
2. If everything looks g

[2021-02-07 08:21] arfon commented on #2498
@moorepants, @dineshresearch - many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission. JOSS relies upon the volunteer efforts of folks like yourselves and we simply wouldn't be able to do this without you! ✨

@wkirgsn - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-02-07 08:21] #2498 closed

[2021-02-07 08:21] whedon commented on #2498
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02498/status.svg)](https://doi.org/10.21105/joss.02498)

**We need your help!**

Journal of Open Source Softwa

[2021-02-07 08:22] arfon commented on #2791
@kinow, @xirdneh - many thanks for your reviews here and to @gkthiruvathukal for editing this submission. JOSS relies upon the volunteer efforts of folks like yourselves and we simply wouldn't be able to do this without you! ✨

@tobias-dv-lnu - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-02-07 08:22] #2791 closed

[2021-02-07 08:22] whedon commented on #2791
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02791/status.svg)](https://doi.org/10.21105/joss.02791)

**We need your help!**

Journal of Open Source Softwa

[2021-02-07 08:24] arfon commented on #2807
Thanks for the fast turnaround @AxelBrandenburg! @rtfisher - when you have a moment, please come and take a look at these updates and if you are satisfied with the changes please update the checkboxes above and let us know your recommendation.

[2021-02-07 08:25] whedon opened #3017 "[PRE REVIEW]: Logodetect: One-shot detection of logos in image and video data"
**Submitting author:** @maxpumperla (<a href="http://orcid.org/0000-0002-7801-4184">Max Pumperla</a>)
**Repository:** <a href="https://github.com/Heldenkombinat/Logodetect" target ="_blank">https://github.com/Heldenkombinat/Logodetect</a>
**Version:** v0.1
**Editor:** @arokem
**Reviewers:** nsaunier, abhishekbajpayee
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2021-02-07 08:25] whedon commented on #3017
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-07 08:26] whedon commented on #3017
[code]

[2021-02-07 08:26] tobias-dv-lnu commented on #2791
@kinow, @xirdneh, @gkthiruvathukal, @arfon : Thank you all for making this happen!

[2021-02-07 08:26] whedon commented on #3017
[code]

[2021-02-07 08:26] whedon commented on #3017
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03017/joss.03017/10.21105.joss.03017.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03017/joss.03017/10.21105.joss.03017.pdf) :page_facing_up: :point_left:

[2021-02-07 08:31] kinow commented on #2791
Thank you for writing the article and having patience with the review process @tobias-dv-lnu . And thanks to all involved too :bouquet: !

[2021-02-07 15:56] bauer-alex commented on #2964
@munkm @qpmnguyen @mbobra Any update on the review?
Don't want to stress you guys. Just want to make sure that our submission isn't overlooked.

[2021-02-07 16:29] kbarnhart commented on #2965
@giswqs thanks for the update and for linking it to this issue 🎉 . If you have questions for me at any point in this process, please don't hesitate to ask.

[2021-02-07 16:32] kbarnhart commented on #2276
@KevinShook Thanks for this update. Glad to know that the review comments have improved the software. I concur with you that the reviewers who created the issues should be the people who close them.

Once you have finished addressing the final issues, please ping me and the reviewers here to let them know that it is time for them to complete their reviews.

[2021-02-07 19:16] richardjgowers commented on #2824
Hey @symmy596 just reading through the paper and saw a couple things in the statement of need section:
- the references to DL_ANALYSER and Chemfiles probably want to go up to the other references of existing packages
- I'm pretty sure most packages will handle non-orthogonal unit cells unless there's a particular geometry I've missed?

[2021-02-07 20:14] symmy596 commented on #2824
@whedon generate pdf

[2021-02-07 20:15] symmy596 commented on #2824
@richardjgowers
- I have updated the references and moved them to the start of the paragraph.
- Fair point. I have dropped this sentence.

[2021-02-07 20:15] whedon commented on #2824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: :point_left:

[2021-02-07 20:26] symmy596 commented on #2824
@whedon generate pdf

[2021-02-07 20:26] symmy596 commented on #2824
I have also added another reference, citing work just published using polypy as the analysis tool.

[2021-02-07 20:27] whedon commented on #2824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: :point_left:

[2021-02-07 23:17] vahid-sb commented on #2827
@emdupre for CONTRIBUITING.md, I also checked a few of the samples in libraries I know. LIbraries like scikit-learn have a huge contributing community and such detailed instructions are not necessary. But given the fact that so far I have been the sole developer, did not want to put off a possible contributor with a long list of detailed instructions and kept it as simple as possible. And for CI,

[2021-02-08 05:38] kyleniemeyer commented on #3013
@whedon generate pdf

[2021-02-08 05:38] whedon commented on #3013
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03013/joss.03013/10.21105.joss.03013.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03013/joss.03013/10.21105.joss.03013.pdf) :page_facing_up: :point_left:

[2021-02-08 06:49] kyleniemeyer commented on #3013
@whedon check repository

[2021-02-08 06:49] whedon commented on #3013
[code]

[2021-02-08 07:18] hugoledoux commented on #2970
Just to clarify: the paper is supposed to be short in JOSS, but indeed the points 1 and 2 you bring should be in the paper. As for the new name, this could mean that repository name is changed and other side consequences, so I'll leave it to the authors PolSAR does sound better to me though (but I am not an expert in this field).

[2021-02-08 07:20] whedon opened #3018 "[PRE REVIEW]: PXO (Poly-XTAL Operations): Free MATLAB codebase to generate and analyse complex 2D grain structures"
**Submitting author:** @SunilAnandatheertha (<a href="http://orcid.org/0000-0001-6535-8191">sunil anandatheertha</a>)
**Repository:** <a href="https://github.com/SunilAnandatheertha/PXO" target ="_blank">https://github.com/SunilAnandatheertha/PXO</a>
**Version:** V10.0.3
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @yangbai90, @ksyang2013, @littlelazy6
**Managing EiC:** Arfon Smith

**:warni

[2021-02-08 07:20] whedon commented on #3018
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-08 07:20] whedon opened #3019 "[PRE REVIEW]: Precise calculations on hypercomplex numbers in C++"
**Submitting author:** @AngryMaciek (<a href="http://orcid.org/0000-0003-1361-7301">Maciej Bak</a>)
**Repository:** <a href="https://github.com/AngryMaciek/hypercomplex" target ="_blank">https://github.com/AngryMaciek/hypercomplex</a>
**Version:** v1.0.0
**Editor:** @melissawm
**Reviewers:** @dvberkel, @bonh
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-02-08 07:20] whedon commented on #3019
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-08 07:20] whedon commented on #3018
Failed to discover a `Statement of need` section in paper

[2021-02-08 07:20] whedon commented on #3018
[code]

[2021-02-08 07:20] whedon commented on #3018
[code]

[2021-02-08 07:20] whedon commented on #3019
[code]

[2021-02-08 07:21] whedon commented on #3018
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03018/joss.03018/10.21105.joss.03018.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03018/joss.03018/10.21105.joss.03018.pdf) :page_facing_up: :point_left:

[2021-02-08 07:21] whedon commented on #3019
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03019/joss.03019/10.21105.joss.03019.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03019/joss.03019/10.21105.joss.03019.pdf) :page_facing_up: :point_left:

[2021-02-08 07:22] whedon commented on #3019
[code]

[2021-02-08 07:25] arfon commented on #2606
:wave: @Paul92 and @urbanophile - could you please update us on the status of your reviews?

[2021-02-08 07:27] arfon commented on #2849
:wave: @ppalmes - I think this review could definitely benefit from your input here 🙏

[2021-02-08 07:32] arfon commented on #2987
@whedon invite @xuanxu as editor

:wave: @xuanxu - would you be able to edit this submission?

[2021-02-08 07:32] whedon commented on #2987
@xuanxu has been invited to edit this submission.

[2021-02-08 07:33] arfon commented on #2908
@whedon assign me as editor

[2021-02-08 07:33] whedon commented on #2908
OK, the editor is @arfon

[2021-02-08 07:34] arfon commented on #2908
@MamadouSDiallo - apologies it's taken so long to get this paper moving - all of our editors are extremely busy right now I'm afraid so I'll take this on myself.

Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-02-08 07:35] arfon commented on #2924
@whedon assign me as editor

[2021-02-08 07:35] whedon commented on #2924
OK, the editor is @arfon

[2021-02-08 07:36] arfon commented on #2924
:wave: @wuruchi - apologies it has taken so long to assign an editor here. Many of our JOSS editors are extremely busy right now.

Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-02-08 07:37] arfon commented on #2731
:wave: @essepuntato - just checking in here - do you need any assistance with your review?

[2021-02-08 07:40] arfon commented on #2886
@pschloss - could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-02-08 08:09] maxpumperla commented on #3017
@whedon generate pdf

[2021-02-08 08:09] whedon commented on #3017
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03017/joss.03017/10.21105.joss.03017.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03017/joss.03017/10.21105.joss.03017.pdf) :page_facing_up: :point_left:

[2021-02-08 09:48] kbspooner commented on #3012
Hi @kyleniemeyer, thanks for looking at our code.
I just want to point out that ThermoPlotter performs a fair amount of complex data post-processing and analysis (e.g. `tp.load`, `tp.calculate` and `tp.plot.phonons`) and can run external analysis tools on the fly (e.g. `tp.data.run`). For most users, the end goal of using this package will be effective visualisation of multidimensional data sets,

[2021-02-08 10:22] Kevin-Mattheus-Moerman commented on #2898
@ctdegroot no worries. This review will be ongoing for a bit. If you'd like me to add you now but provide you with more time that works for us too. I'll start the review now but let me know if you could help with extra time provided. Thanks

[2021-02-08 10:22] Kevin-Mattheus-Moerman commented on #2898
@whedon start review

[2021-02-08 10:23] whedon opened #3020 "[REVIEW]: NLMech: Implementation of finite difference/meshfreediscretization of nonlocal fracture models"
**Submitting author:** @diehlpk (<a href="http://orcid.org/0000-0003-3922-8419">Patrick Diehl</a>)
**Repository:** <a href="https://github.com/nonlocalmodels/NLMech" target ="_blank">https://github.com/nonlocalmodels/NLMech</a>
**Version:**  v0.1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @vijaysm, @chennachaos
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.16688695.v1" target=

[2021-02-08 10:23] whedon commented on #2898
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3020.

[2021-02-08 10:23] #2898 closed

[2021-02-08 10:23] whedon commented on #3020
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vijaysm, @chennachaos it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-02-08 10:23] Kevin-Mattheus-Moerman commented on #2898
@diehlpk Apologies for the delay encountered. We'll start review now.

[2021-02-08 10:23] whedon commented on #3020
PDF failed to compile for issue #3020 with the following error:

 Can't find any papers to compile :-(

[2021-02-08 10:23] whedon commented on #3020
[code]

[2021-02-08 10:25] Kevin-Mattheus-Moerman commented on #3020
@whedon generate pdf from branch joss

[2021-02-08 10:26] whedon commented on #3020
[code]

[2021-02-08 10:26] Kevin-Mattheus-Moerman commented on #3020
@vijaysm, @chennachaos thanks again for your help. This is where this review will take place. Please post any questions comments for the author @diehlpk here.

[2021-02-08 10:26] whedon commented on #3020
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: :point_left:

[2021-02-08 10:27] Kevin-Mattheus-Moerman commented on #2950
@leifdenby @jakubfabian @tonyinme @claireverhulst @JuhaTonttila @fjansson would you be interested in reviewing this work for the Journal of Open Source Software (JOSS): uDALES: large-eddy-simulation software for urban flow, dispersion, and microclimate modelling?

The JOSS review process takes place on GitHub and focuses on the software and a short paper. This issue is a "pre-review" issue in whic

[2021-02-08 10:29] Kevin-Mattheus-Moerman commented on #2885
@avaxman @sgsellan @ataber are you able to help review this submission  for [JOSS](https://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) focuses on [the software](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) and this [short paper](https://github.com/openjournals/joss-papers/blob/joss.02885/joss.02885/10

[2021-02-08 10:32] Kevin-Mattheus-Moerman commented on #2831
Thanks for the reminder @oalii and apologies for the delay. Yes I'll pick things up now.

[2021-02-08 10:34] Kevin-Mattheus-Moerman commented on #2831
@IgorBaratta thanks for your help here. Your last unchecked box relates to "Performance". Can you comment on what is holding this back? Or have the recent improvements address your issues? Thanks

[2021-02-08 10:42] themkar commented on #2891
My apologies for the delay, I shall be able to complete it later this week.

[2021-02-08 10:42] kbspooner commented on #3012
oh and our suggested reviewers are lucydot and mkhorton

[2021-02-08 10:47] Kevin-Mattheus-Moerman commented on #2831
@chennachaos thanks for your detailed review efforts!! I understand your comments about whether BVPy is a "substantial contribution". Note that JOSS does not require novelty in terms of functionality. For instance complete re-implementations of functionality in different languages may be acceptable provided this improves/enables/expands use and/or applications. The former includes expanding the us

[2021-02-08 11:26] timtroendle commented on #2969
@Chilipp @sabinomaggi This is a gentle reminder that half of the review time has elapsed by now. I will set a reminder for you to notify you one week before the review time will elapse entirely.

[2021-02-08 11:27] timtroendle commented on #2969
@whedon remind @Chilipp in 2 weeks

[2021-02-08 11:27] whedon commented on #2969
Reminder set for @Chilipp in 2 weeks

[2021-02-08 11:27] timtroendle commented on #2969
@whedon remind @sabinomaggi in 2 weeks

[2021-02-08 11:27] whedon commented on #2969
Reminder set for @sabinomaggi in 2 weeks

[2021-02-08 11:40] xuanxu commented on #2987
@whedon assign me as editor

[2021-02-08 11:40] whedon commented on #2987
OK, the editor is @xuanxu

[2021-02-08 11:48] JBorrow commented on #2757
Happy that all of my comments have been addressed. Thanks again to the authors.

[2021-02-08 12:02] jni commented on #2981
@kyleniemeyer I'm sorry, I too am a little too overwhelmed this month. 🙏

[2021-02-08 12:16] marcozennaro commented on #3014
@whedon generate pdf

[2021-02-08 12:18] whedon commented on #3014
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03014/joss.03014/10.21105.joss.03014.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03014/joss.03014/10.21105.joss.03014.pdf) :page_facing_up: :point_left:

[2021-02-08 12:21] marcozennaro commented on #3014
thanks @gkthiruvathukal ! I have addressed the issues. I think @wtbarnes would be a perfect reviewer for the paper

[2021-02-08 12:35] SunilAnandatheertha commented on #3018
@whedon commands

[2021-02-08 12:35] whedon commented on #3018
Here are some things you can ask me to do:

[code]

[2021-02-08 12:37] pschloss commented on #2886
@skummerf
@Tgerke
@paulgovan
@steffilazerte
@noamross
@darokun
@ja-thomas
@hope-data-science

[2021-02-08 14:14] sabinomaggi commented on #2969
This is my first review for JOSS and I don't know if solving bugs is part of the review or if it is better to contact the author through the package's GitHub page to solve these issues. In the latter case, please forgive me and I will promptly delete this post. In the meantime, this is a short installation summary of `data_slicer` on macOS 10.13.6 (aka High Sierra).

Hi Kevin, I have followed the

[2021-02-08 15:06] lpantano commented on #2997
@whedon add @Sara-ShiHo as reviewer

[2021-02-08 15:07] whedon commented on #2997
OK, @Sara-ShiHo is now a reviewer

[2021-02-08 15:07] lpantano commented on #2997
@whedon start review

[2021-02-08 15:07] whedon opened #3021 "[REVIEW]: seaborn: statistical data visualization"
**Submitting author:** @mwaskom (<a href="http://orcid.org/0000-0002-9817-6869">Michael Waskom</a>)
**Repository:** <a href="https://github.com/mwaskom/seaborn" target ="_blank">https://github.com/mwaskom/seaborn</a>
**Version:** v0.11.1
**Editor:** @lpantano
**Reviewer:** @dangeles, @Sara-ShiHo
**Archive:** <a href="https://doi.org/10.5281/zenodo.4645478" target="_blank">10.5281/zenodo.4645478</a

[2021-02-08 15:07] whedon commented on #2997
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3021.

[2021-02-08 15:07] #2997 closed

[2021-02-08 15:07] whedon commented on #3021
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dangeles, @Sara-ShiHo it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-02-08 15:08] whedon commented on #3021
PDF failed to compile for issue #3021 with the following error:

 Can't find any papers to compile :-(

[2021-02-08 15:08] whedon commented on #3021
[code]

[2021-02-08 15:09] lpantano commented on #3021
@whedon generate pdf from branch joss_paper

[2021-02-08 15:09] whedon commented on #3021
[code]

[2021-02-08 15:11] whedon commented on #3021
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03021/joss.03021/10.21105.joss.03021.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03021/joss.03021/10.21105.joss.03021.pdf) :page_facing_up: :point_left:

[2021-02-08 15:14] kuadrat commented on #2969
Hi @sabinomaggi,

thanks for the detailed, calm and polite feedback!
If I understand it correctly, problems like these during JOSS review should be opened as Github issues directly in the repo under review (I may be wrong, @timtroendle may want to correct me).
I have taken the liberty of opening the problem you mention as an [issue ](https://github.com/kuadrat/data_slicer/issues/3) and will reply

[2021-02-08 15:25] mrtommyb commented on #2845
Sorry that it took me a while to get back to this. I reinstalled the package, and I installed from the github repo. A few things to note
* it would be useful if altaipony.__version__ returned a version number.
* I followed the getting started notebook and the from_mast function doesn't work for me.
[code]
I think the issue is that altaipony is incompatible with lightkurve version 2.x. I think that

[2021-02-08 15:38] sabinomaggi commented on #2969
Hi @kuadrat , ok we will solve the issue in the repo. Now I ask @timtroendle if I should delete my report here.

[2021-02-08 15:41] robfalck commented on #2809
@whedon generate pdf

[2021-02-08 15:42] whedon commented on #2809
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: :point_left:

[2021-02-08 16:14] tonyinme commented on #2950
Hey Kevin,

Thanks for the invite.
Unfortunately, I don't have the time to commit to this.

Thanks,
Tony

On Mon, Feb 8, 2021 at 3:27 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2021-02-08 16:21] timtroendle commented on #2969
@sabinomaggi, no need to delete the report in this issue. As mentioned by @kuadrat , it is standard practice to open issues on the project page. If you do so, please link to this issue so we can keep track. Thanks both!

[2021-02-08 17:16] samjsilva91 commented on #2781
@dhhagan Quick review question: Some of the performance claims from this work (e.g. that it runs well on supercomputing systems, etc.) are out of the scope of what I can evaluate at this time. Do you have recommendations as to how I should address this?

[2021-02-08 18:06] sabinomaggi commented on #2969
@timtroendle Ok. This is the [link to the issue](https://github.com/kuadrat/data_slicer/issues/3), and as far as I can say it will be solved very soon.

[2021-02-08 18:25] mbobra commented on #3006
@whedon add @changhoonhahn as reviewer

[2021-02-08 18:25] whedon commented on #3006
OK, @changhoonhahn is now a reviewer

[2021-02-08 18:25] mbobra commented on #3006
@whedon start review

[2021-02-08 18:25] whedon opened #3022 "[REVIEW]: Simulating instrumental systematics of Cosmic Microwave Background experiments with s4cmb"
**Submitting author:** @JulienPeloton (<a href="http://orcid.org/0000-0002-8560-4449">Julien Peloton</a>)
**Repository:** <a href="https://github.com/JulienPeloton/s4cmb" target ="_blank">https://github.com/JulienPeloton/s4cmb</a>
**Version:** v1.0
**Editor:** @mbobra
**Reviewer:** @Christovis, @changhoonhahn
**Archive:** <a href="https://doi.org/10.5281/zenodo.4659617" target="_blank">10.5281/zen

[2021-02-08 18:25] whedon commented on #3006
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3022.

[2021-02-08 18:25] #3006 closed

[2021-02-08 18:25] whedon commented on #3022
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Christovis, @changhoonhahn it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-02-08 18:26] whedon commented on #3022
[code]

[2021-02-08 18:26] whedon commented on #3022
PDF failed to compile for issue #3022 with the following error:

 Can't find any papers to compile :-(

[2021-02-08 18:26] mbobra commented on #3006
👋 @Christovis @changhoonhahn See you over in #3022 where the actual review will take place!

[2021-02-08 18:28] mbobra commented on #3022
@whedon generate pdf from branch issues/56/joss

[2021-02-08 18:28] whedon commented on #3022
[code]

[2021-02-08 18:29] whedon commented on #3022
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03022/joss.03022/10.21105.joss.03022.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03022/joss.03022/10.21105.joss.03022.pdf) :page_facing_up: :point_left:

[2021-02-08 18:33] mbobra commented on #3022
👋 @Christovis @changhoonhahn Thank you so much for agreeing to review! You can find the article in the comment box above ⬆️ , and the checklist and software repository linked in the first comment box on this issue. I think you're good to go -- please let me know if you need anything else.

Again, JOSS is an open review process and we encourage communication between the reviewers, the submitting au

[2021-02-08 18:44] mbobra commented on #2757
Thank you both so very much for your thorough reviews, @arjunsavel and @JBorrow! Your volunteer time keeps JOSS running and the JOSS team appreciates it very much ☀️

[2021-02-08 18:49] mbobra commented on #2757
@Hazboun6 Could you please cut a new release of PsrSigSim and [deposit it in Zenodo](https://guides.github.com/activities/citable-code/)? Please make sure that the author list on the Zenodo deposit matches the author list on the paper. Then I can move forward with accepting the paper.

[2021-02-08 18:56] mbobra commented on #2964
Thanks for the ping, @bauer-alex! I reached out to both reviewers via e-mail. We at JOSS do give reviewers six weeks to complete their review (JOSS is operating on a reduced service mode), so the reviewers still have some time.

[2021-02-08 19:11] oliviaguest commented on #2923
Also... @fmatuschke could you give me a few more suggestions for reviewers when you get a chance? I have tried a lot of people but many seem to be too busy right now (which is understandable of course).

[2021-02-08 19:12] oliviaguest commented on #2953
@sdparsons fabulous! Ta!

[2021-02-08 19:41] KristinaRiemer commented on #3005
@becarioprecario @emilyriederer @cddesja would any of you be able and willing to review this JOSS submission?

[2021-02-08 20:08] JDRomano2 commented on #2995
Thanks very much @fboehm for the invitation to review this submission! Please see below for individual comments on each of the checklist items that I feel need attention:

## General checks
### Contribution and authorship: Has the submitting author (@mponce0) made major contributions to the software? Does the full list of paper authors seem appropriate and complete?

The contributions made by the

[2021-02-08 20:17] bensonml commented on #2979
Status update: Currently reading paper, and going through test install

--
Mark Benson, PhD (NIH/NCI) [C]
9605 Medical Center Dr., Suite 390 Office #02
Rockville, MD 20850
Mobile: 240-672-1400
mark.benson@nih.gov<mailto:mark.benson@nih.gov>

From: Github BOT <notifications@github.com>
Reply-To: openjournals/joss-reviews <reply@reply.github.com>
Date: Friday, February 5, 2021 at 10:02 AM
To: openjo

[2021-02-08 20:26] aaronspring commented on #2781
Installing MurCCS for performance comparison is quite difficult. I couldn't get MurCCS running locally with py27 and basemap dependencies, but it is pre-installed on our supercomputer where I did these performance comparisons. I don't see a way to verify these numbers other trusting me on these or rely on Chris Kadow @ckadow, a MurCCS developer how did the MurCCS timings and I discussed these resu

[2021-02-08 20:49] whedon opened #3023 "[PRE REVIEW]: cgmquantify: Python and R packages for comprehensive analysis of interstitial glucose and glycemic variability from continuous glucose monitor data"
**Submitting author:** @brinnaebent (<a href="http://orcid.org/0000-0002-7039-0177">Brinnae Bent</a>)
**Repository:** <a href="https://github.com/DigitalBiomarkerDiscoveryPipeline/cgmquantify" target ="_blank">https://github.com/DigitalBiomarkerDiscoveryPipeline/cgmquantify</a>
**Version:** v0.0.5
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced ser

[2021-02-08 20:50] whedon commented on #3023
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-08 20:50] whedon commented on #3023
Failed to discover a `Statement of need` section in paper

[2021-02-08 20:50] whedon commented on #3023
[code]

[2021-02-08 20:50] whedon commented on #3023
PDF failed to compile for issue #3023 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (f03e5abcc9a5d0b487ca9edc/Paper/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390:

[2021-02-08 20:57] becarioprecario commented on #3005
Thanks for the invitation, but I am not available for making reviews at the moment.

El 8 feb 2021, a las 20:41, Kristina Riemer <notifications@github.com<mailto:notifications@github.com>> escribió:

@becarioprecario<https://github.com/becarioprecario> @emilyriederer<https://github.com/emilyriederer> @cddesja<https://github.com/cddesja> would any of you be able and willing to review this JOSS subm

[2021-02-08 20:57] Hazboun6 commented on #2757
@mbobra I just tagged a release and deposited in [Zenodo](https://zenodo.org/record/4521235). Should be all set. Thanks to everyone for helping make our code better!

[2021-02-08 21:31] diehlpk commented on #2898
@Kevin-Mattheus-Moerman No worries, thank you.

[2021-02-08 21:46] kthyng commented on #2813
@gaelforget Ok thanks for the update. I'll wait to hear from @milankl and @visr about their status after this work.

[2021-02-08 22:09] karthik commented on #2944
Thanks for that disclosure @LangeJens
I believe this is totally fine.

@SachaEpskamp 👋 Would you be able to review this submission for us?

[2021-02-08 22:20] lpantano commented on #2334
Hi all, @druvus has kindly accepted to do a express review to make an effort to wrap up this.

[2021-02-08 22:21] lpantano commented on #2334
@whedon add @druvus as reviewer

[2021-02-08 22:21] whedon commented on #2334
OK, @druvus is now a reviewer

[2021-02-08 22:46] donaldRwilliams commented on #2944
@karthik
I can review the submission (I received an email earlier).

[2021-02-08 22:56] galessiorob commented on #2971
Got it @kthyng!

@devosmitachatterjee2018 I emailed your suggested reviewers and a few others last week, got a few rejections, and still waiting for some responses. Thanks for the patience.

[2021-02-08 22:56] galessiorob commented on #3016
@whedon assign me as editor

[2021-02-08 22:56] whedon commented on #3016
OK, the editor is @galessiorob

[2021-02-08 23:11] galessiorob commented on #3016
Hi @richford

Thanks for posting your suggested reviewers, I'll email them and add them as reviewers when they accept. In the meantime feel free to resolve the missing DOI.

[2021-02-08 23:24] milankl commented on #2813
Thanks @gaelforget ! Looking good at first glimpse, I'll finish the review in the next days!

[2021-02-08 23:42] richford commented on #3016
Hi @galessiorob, thanks! I'm a bit confused about the missing DOI. The single missing DOI is also listed in the "OK DOIs" list.

[2021-02-08 23:42] richford commented on #3016
@whedon check references

[2021-02-09 00:26] mossr commented on #2749
Hi @sbenthall, just checking on the status of this review.

[2021-02-09 01:39] jgostick commented on #2984
A have sent review invitations to several people and got no reply, so am send out a new batch of invites.  Sorry for the delay.  Suggested reviewers would be welcome.

[2021-02-09 01:54] lskatz commented on #2334
How interesting!  I think you uncovered the bug @lpantano.  This is part of a larger function where I overwrote `cp`.  This bug has never been triggered before and I think I know why it is triggering an error finally.

This line

      my $return = link($from, $to) ||
        File::Copy::cp($from,$to) or warn "WARNING: could not copy $from to $to: $!\n  Making a blank file instead.";

makes a hard

[2021-02-09 02:00] galessiorob commented on #3016
@richford you're right 🤔

@danielskatz do you think [this](https://github.com/openjournals/joss-reviews/issues/3016#issuecomment-775539130) can be a whedon bug?

[2021-02-09 02:25] danielskatz commented on #3016
I wouldn't call this a bug.

In the .bib file, I see

  title        = {Solving structured sparsity regularization with proximal methods},
  author       = {Mosci, Sofia and Rosasco, Lorenzo and Santoro, Matteo and Verri, Alessandro and Villa, Silvia},
  booktitle    = {Joint European conference on machine learning and knowledge discovery in databases},
  pages        = {418--433},
  year

[2021-02-09 03:33] bradyrx commented on #2781
@aaronspring I believe you have shown me some notebooks in the past with different timings, was there a gist of that that could be cleaned up? Otherwise, I agree completely with what you're saying.

[2021-02-09 04:07] jordanperr commented on #2828
Well, looks like my Github notifications are not configured properly.. My sincere apologies for holding this up. Thanks @pdebuyl for sending me a nudge over email.

I have checked the remaining three items on the checklist. The authors have addressed all my comments and I **recommend acceptance for this paper**.

[2021-02-09 05:01] richford commented on #3016
Thanks @danielskatz! 🤦🏻 @arokem fixed this in richford/groupyr#38

[2021-02-09 07:08] csoneson commented on #2440
@neuromusic any updates?

[2021-02-09 07:25] fmatuschke commented on #2923
@oliviaguest of course. I have looked at the list again. I found the following possible reviewers:

glyg - guillaume@damcb.com
dxm447 - mukherjeed@ornl.gov
pr4deepr - pradeep.rajasekhar@gmail.com
BjornFJohansson - bjorn_johansson@bio.uminho.pt
JackTyson - jack@mirrorpark.net
tpeulen - thomas-otavio.peulen@ucsf.edu
RealPolitiX - xrpatrick@gmail.com
peerherholz - herholz.peer@gmail.com
ryEllison - r

[2021-02-09 07:48] roshansamuel commented on #2095
Hi @nickwimer, we developed and tested SARAS on Linux with gcc. However, we have installed SARAS on a Mac system (Mojave) as well at some point. We had used gcc and not clang for this. Can you kindly give more details on the compilation errors you faced? We are working on a fresh install of SARAS on a Mac machine so that we can update the installation instructions accordingly.

[2021-02-09 08:27] jarvist commented on #2749
Ah yes, sorry - I'll get on this ASAP.

[2021-02-09 08:43] whedon commented on #2989
:wave: @faroit, please update us on how your review is going.

[2021-02-09 08:49] D-K-E commented on #3015
@dfm @kyleniemeyer I have made couple of changes to the paper as per requested. Here is its summary:

- Paper compiles now.
- Added `References` section for citations.
- Reworded `Summary` to make it more clear to general public.
-  `Statement of Need` tries to demonstrate the research related aspect through a use case and citations.
- Added `Applications and Similar Works` section which contains

[2021-02-09 09:01] pdebuyl commented on #2828
Thank you very much for completing the review @jordanperr

@briandesilva sorry for the delay. I will now proceed to the remaining editorial steps https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance

[2021-02-09 09:01] shahmoradi commented on #2741
@milancurcic @williamfgc
Thank you again for your constructive feedback so far. Just to make sure we have not missed any of your comments, are there any other outstanding issues needed to address here?

[2021-02-09 09:18] pdebuyl commented on #2828
@whedon check references

[2021-02-09 09:25] whedon commented on #2828
[code]

[2021-02-09 09:26] pdebuyl commented on #2828
@whedon generate pdf

[2021-02-09 09:27] whedon commented on #2828
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02828/joss.02828/10.21105.joss.02828.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02828/joss.02828/10.21105.joss.02828.pdf) :page_facing_up: :point_left:

[2021-02-09 10:05] devosmitachatterjee2018 commented on #2971
@galessiorob Thank you.

[2021-02-09 10:33] whedon commented on #2990
:wave: @adi3, please update us on how your review is going.

[2021-02-09 10:33] whedon commented on #2990
:wave: @sonal-raj, please update us on how your review is going.

[2021-02-09 10:38] arfon commented on #3023
:wave: @brinnaebent - thanks for your submission, also thank you for drawing our attention to the fact that this is a [resubmission](https://github.com/openjournals/joss-reviews/issues/2112).

To directly address [your comment]( https://github.com/openjournals/joss-reviews/issues/2112#issuecomment-593607497) in the earlier submission:

Unfortunately at ~500 lines of code this submission still fall

[2021-02-09 10:38] #3023 closed

[2021-02-09 10:38] arfon commented on #3023
@whedon reject

[2021-02-09 10:38] whedon commented on #3023
Paper rejected.

[2021-02-09 10:56] Jammy2211 commented on #2825
So, it turns out that switching all our docs to binder was quite an undertaking! But very much worth it in the end :).

Our team has begun setting up GitHub actions and has a meeting on Wednesday to fully sort this, which should sort most of the remaining issues (automated tests, tags). So, I should have finished addressing the remaining issues by the end of the week :).

[2021-02-09 10:56] pdebuyl commented on #2828
@briandesilva

Comments on the paper:
- The year in Candès is not showing properly
- The DOI recommendation by whedon for Narayanan seems correct, if so can you add it?

On the repo:
- Could you add a warning that the netcdf data example is a 200MB download? Maybe also check if the file exists, to avoid re-downloading the data?
- The examples run very well (no warning, nice results)!

You will nee

[2021-02-09 12:43] dhhagan commented on #2781
@samjsilva91 @aaronspring @bradyrx I think there are two simple solutions:

  1. Add a link to the notebook containing the performance comparisons that can serve as a reference with details on the type of cluster/HPC that was used
  2. Remove/soften the wording around the performance comparison..?

I will also ping some other editors and see if they have suggestions. Let me know if either of these

[2021-02-09 12:43] pdebuyl commented on #2996
@kyleniemeyer I can edit this

[2021-02-09 12:49] jarvist commented on #2749
@mossr are the fairly heavy GUI requirements of the package (Seaborn, Pyplot I presume) necessary? They are currently causing a failure for me at the 'Precompiling POMDPStressTesting' just after using, I think due to some automatic Python compile failing on the backend. Generally these requirements can make the code fragile for installation, and be quite limiting in some HPC environments (e.g. whe

[2021-02-09 12:56] ckadow commented on #2781
Not sure, if I can help with this. If Aaron sends me the results of
MurCSS (and some ID), I could confirm these!?

As MurCSS development stopped, we appreciate the authors effort to
establish a new software around this topic, and kindly serve as a
reference.

Best regards,
Chris

On 2021-02-09 13:44, David H Hagan wrote:

--
Christopher Kadow
Institute of Meteorology
Freie Universitaet Berlin
Clim

[2021-02-09 13:08] SachaEpskamp commented on #2944
I am afraid I won't be able to do the review now, sorry.

[2021-02-09 13:58] williamfgc commented on #2741
Dear @shahmoradi , thanks for the hard work on getting this points addressed. Would you kindly send an updated version of your manuscript? I'd like to wrap up the review as well.

[2021-02-09 14:14] lpantano commented on #2334
oh, thanks! will we get this fix with the latest docker image so @erinyoung may try if she finds the time?

[2021-02-09 14:23] cMadan commented on #2810
@whedon check references

[2021-02-09 14:24] whedon commented on #2810
[code]

[2021-02-09 14:24] cMadan commented on #2810
@whedon generate pdf

[2021-02-09 14:24] whedon commented on #2810
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02810/joss.02810/10.21105.joss.02810.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02810/joss.02810/10.21105.joss.02810.pdf) :page_facing_up: :point_left:

[2021-02-09 14:25] cMadan commented on #2868
@charleygros, apologies for the delay, things have been quite busy. I'll do my final checks now and then let you know what are the last steps here.

[2021-02-09 14:25] cMadan commented on #2868
@whedon check references

[2021-02-09 14:27] whedon commented on #2868
[code]

[2021-02-09 14:27] cMadan commented on #2868
@whedon generate pdf

[2021-02-09 14:28] cMadan commented on #2810
@ClaudioZandonella, everything looks good to me!

To move forward with accepting your submission, there are a few last things to take care of:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper titl

[2021-02-09 14:28] whedon commented on #2868
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02868/joss.02868/10.21105.joss.02868.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02868/joss.02868/10.21105.joss.02868.pdf) :page_facing_up: :point_left:

[2021-02-09 14:30] cMadan commented on #2868
@NMontanaBrown @justusschock @lbugnon, thank you for the thorough reviews, they are much appreciated!

@charleygros, everything looks good to me!

To move forward with accepting your submission, there are a few last things to take care of:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check

[2021-02-09 14:59] osorensen commented on #3010
@bommert

This is related to the following point on the reviewer checklist:

While I think the package is well documented and has good examples, they are all very simple. It might hence be difficult for someone without too much experience in the field to actually understand the real-world analysis problems which can be solved with this package. I think it would be useful if you could add one or mo

[2021-02-09 15:05] oliviaguest commented on #2863
@dmey thanks for understanding and good luck!

[2021-02-09 15:15] aaronspring commented on #2781
Verification of the NCAR 40member DPLE tas variable without bootstraping for 3 leads (1,2-5,6-9) and 3 metrics (murcss default) correlation/ACC, conditional bias and MSSS:
climpred: 8 sec
![by default 2021-02-09 at 16 05 26](https://user-images.githubusercontent.com/12237157/107382962-c5504700-6af0-11eb-8d53-1a7bae002040.png)
see gist: https://gist.github.com/aaronspring/57ab1ced1086106636aa874909

[2021-02-09 16:07] mossr commented on #2749
@jarvist you're absolutely right—the plotting should be separate and is not vital to the core package. I'll work on something right now to bypass the plotting unless you already load in those packaged. Hang tight.

[2021-02-09 16:23] ckadow commented on #2781
Hello,

I confirm that the results are done by MurCSS at the DKRZ HPC and it
took the time shown.

However, I agree that this "time" comparison is misleading and comparing
apples and oranges. MurCSS does the whole chain at once including the
preprocessing directly from the CMIP/ESGF data standard (80% of the
time), which needs to be done in ClimPred as well (the ~10 min the
authors state in prepro

[2021-02-09 16:46] kyleniemeyer commented on #2996
Thanks @pdebuyl!

[2021-02-09 16:46] kyleniemeyer commented on #2996
@whedon assign @pdebuyl as editor

[2021-02-09 16:46] whedon commented on #2996
OK, the editor is @pdebuyl

[2021-02-09 16:47] kyleniemeyer commented on #2604
@whedon add @FelixKratz as reviewer

[2021-02-09 16:47] whedon commented on #2604
OK, @FelixKratz is now a reviewer

[2021-02-09 16:48] kyleniemeyer commented on #2604
Hello @FelixKratz 👋 please accept the review invitation, which will allow you to check off items in your reviewer checklist above. Thank you for agreeing to review this!

[2021-02-09 16:51] kyleniemeyer commented on #2604
For transparency, @kierfeld and @FelixKratz will be reviewing together, via a joint checklist.

[2021-02-09 16:52] kyleniemeyer commented on #3015
@whedon generate pdf

[2021-02-09 16:53] whedon commented on #3015
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03015/joss.03015/10.21105.joss.03015.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03015/joss.03015/10.21105.joss.03015.pdf) :page_facing_up: :point_left:

[2021-02-09 16:56] kyleniemeyer commented on #3015
Thanks @D-K-E. The paper is definitely improved, and I'm going to leave it to @dfm now (aside from the following comments 😅).

I do think it makes sense to cite things in the paper that you cite in the source code—this is actually a great way of acknowledging those sources to give them the appropriate academic credit.

The Summary (and rest of the paper) is better, but I would suggest trying to ma

[2021-02-09 17:20] Mmj94 commented on #2578
@whedon generate pdf

[2021-02-09 17:21] whedon commented on #2578
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02578/joss.02578/10.21105.joss.02578.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02578/joss.02578/10.21105.joss.02578.pdf) :page_facing_up: :point_left:

[2021-02-09 17:23] karthik commented on #2944
@whedon add @donaldRwilliams as reviewer

[2021-02-09 17:23] whedon commented on #2944
OK, @donaldRwilliams is now a reviewer

[2021-02-09 17:23] karthik commented on #2944
No worries, Sacha. Thanks for letting us know.

[2021-02-09 17:24] Mmj94 commented on #2578
@whedon generate pdf

[2021-02-09 17:24] whedon commented on #2578
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02578/joss.02578/10.21105.joss.02578.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02578/joss.02578/10.21105.joss.02578.pdf) :page_facing_up: :point_left:

[2021-02-09 17:36] mnarayan commented on #2863
@dmey This looks like a wonderful package. One that I might use myself in the near future!

I've opened a few issues with respect to the following
- [ ] **Comparisons to other packages could be expanded**. What are other packages people might use to simulate data (e.g. statsmodels comes to mind) and how is this different? Your package supports generating data for multivariate copula distributions

[2021-02-09 17:39] Mmj94 commented on #2578
@whedon generate pdf

[2021-02-09 17:40] whedon commented on #2578
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02578/joss.02578/10.21105.joss.02578.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02578/joss.02578/10.21105.joss.02578.pdf) :page_facing_up: :point_left:

[2021-02-09 17:48] Mmj94 commented on #2578
Hello all,

I'm back with the latest updates on the manuscript. I hope I have assessed all you comments @emilljungberg.

_If you have done 3D stack of spirals, that's great and shows that it can be done. Any chance you can include an example of those results in the manuscript? So if this capability exists, then maybe you can reword it to something like "Correctio of 3D volumes is possible by proce

[2021-02-09 18:32] emdupre commented on #2827
Yes, as I mentioned : I don't want to hold up the package over this, but I do think these are both directions that could be expanded in the future. Clearly that future is coming quickly -- I see that you've already gotten a [CI infrastructure](https://app.circleci.com/pipelines/github/vahid-sb/MiTfAT/3/workflows/49877be5-65d7-4bec-9e51-239116972cb2/jobs/3) set-up ! :slightly_smiling_face:

@arokem

[2021-02-09 19:10] wuruchi commented on #2924
Hello @arfon

No worries.

I think any of these reviewers could be a good choice:

* @desilinguist
* @pragyansmita
* @djmitche
* @fil
* @pgadige
* @aokad
* @vc1492a

[2021-02-09 19:31] mbobra commented on #2757
@whedon generate pdf

[2021-02-09 19:32] whedon commented on #2757
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02757/joss.02757/10.21105.joss.02757.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02757/joss.02757/10.21105.joss.02757.pdf) :page_facing_up: :point_left:

[2021-02-09 19:32] mbobra commented on #2757
@whedon check references

[2021-02-09 19:33] whedon commented on #2757
[code]

[2021-02-09 19:34] Hazboun6 commented on #2757
@mbobra do you need any info about the ApJ paper? It has been excepted and the proofs were returned yesterday, but hasn't been published yet.

[2021-02-09 19:36] mbobra commented on #2757
@Hazboun6 Yes! I was just about to message you with that. Please ask AAS to give you the DOI for the paper (I think they should have already generated that) and then put it in the paper.md YAML header [like this](https://joss.readthedocs.io/en/latest/editing.html#handling-of-papers-published-together-with-aas-publishing). Please let me know when that's done and I can wrap up here.

[2021-02-09 19:37] roshansamuel commented on #2095
Hi @nickwimer, we have updated the README with clearer instructions to install SARAS on both Linux and MacOS. The steps worked with both homebrew-gcc as well as clang on MacOS. We have also added the line "_We are planning to conduct a scaling analysis of SARAS and compare its performance with TARANG in the near future._" in the paper (Summary, Para 3, Line 3) to clarify that the scaling is yet to

[2021-02-09 20:23] mossr commented on #2749
@jarvist I relaxed the PyPlot/Seaborn plotting dependencies using Requires.jl (and subsequently updated the example Jupyter notebook and documentation to reflect this design choice). This is tagged in a new release v0.4.4 (master).

Thank you for the heads up—I agree that the dependency on Python for plotting would be an unnecessary (and unfortunate) bottleneck for many applications of this packag

[2021-02-09 20:33] jordanperr commented on #2828
One final comment @briandesilva - I think some of the mathematical notation around line 56 is introduced without context. For example, I am not certain what the subscript y_i means. Since y is bold, it would appear to be a vector with length i, where i <= p. This happens again with C_*. What precisely does the subscript "star" mean in this context? Is it the same as s_* on line 65? I think one mor

[2021-02-09 20:35] mponce0 commented on #2995
Many thanks @JDRomano2 for the through review and useful comments!
The editions and updates addressing this reviewer's comments have been added to the manuscript on the "literature" branch of the  https://github.com/mponce0/covid19.analytics/  repository.

Authors contributions were (and are) originally described in the "Description" file, which is the standard place for doing it in R packages.

F

[2021-02-09 20:40] mponce0 commented on #2995
@whedon generate pdf from branch literature

[2021-02-09 20:40] whedon commented on #2995
[code]

[2021-02-09 20:41] clauswilke commented on #3010
I agree with @osorensen. Specifically, the one vignette provided with the package is rather short. I would suggest expanding this vignette or adding additional ones to provide a little more substance.

The other comment I have is regarding community guidelines. You have one brief sentence in the Readme, but I think it would be a good idea to expand on that a little bit, and maybe add explicit cont

[2021-02-09 20:42] whedon commented on #2995
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: :point_left:

[2021-02-09 20:58] mcavs commented on #2992
Hi @mmrabe, I have completed review.

I think the manuscript is well-written and easy to read. It would be good to explain the other options of the type argument in the backf.rob function. Also, a short text about their superiority against each other could be added. The fact that the manuscript was illustrated through an example makes me worry about whether the findings are generalizable. I think

[2021-02-09 20:59] galessiorob commented on #3016
@whedon assign @rougier as reviewer

[2021-02-09 20:59] whedon commented on #3016
OK, @rougier is now a reviewer

[2021-02-09 21:02] galessiorob commented on #3016
@whedon assign @janfreyberg as reviewer

[2021-02-09 21:02] whedon commented on #3016
OK, @janfreyberg is now a reviewer

[2021-02-09 21:05] galessiorob commented on #3016
@whedon add @JonathanReardon as reviewer

[2021-02-09 21:05] whedon commented on #3016
OK, @JonathanReardon is now a reviewer

[2021-02-09 21:09] aaronspring commented on #2781
I agree we should frame this performance claim in the perspective of flexibility, where some part of performance increase comes from. We will work on new sentences. In the end we both use the same hardware. So for sure the timings delta comes from usability design and frameworks used. Our focus for climpred is wall time for the user and we expect that a user will work repeatedly with the same data

[2021-02-09 21:11] galessiorob commented on #3016
@whedon add @rougier as reviewer

[2021-02-09 21:11] whedon commented on #3016
OK, @rougier is now a reviewer

[2021-02-09 21:12] galessiorob commented on #3016
🎉 Thanks for volunteering to be reviewers @rougier @JonathanReardon and @janfreyberg!

I'll generate a "review issue" that will contain individual checklists to go through, feel free to get started at your earliest convenience, don't hesitate to ask if you need clarification or help - you can @mention me directly on the issue.

[2021-02-09 21:12] galessiorob commented on #3016
@whedon start review

[2021-02-09 21:13] whedon opened #3024 "[REVIEW]: Groupyr: Sparse Group Lasso in Python"
**Submitting author:** @richford (<a href="http://orcid.org/0000-0001-9276-9084">Adam Richie-Halford</a>)
**Repository:** <a href="https://github.com/richford/groupyr" target ="_blank">https://github.com/richford/groupyr</a>
**Version:** v0.2.2
**Editor:** @galessiorob
**Reviewer:** @janfreyberg, @JonathanReardon, @rougier
**Archive:** <a href="https://doi.org/10.5281/zenodo.4559599" target="_blan

[2021-02-09 21:13] whedon commented on #3016
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3024.

[2021-02-09 21:13] #3016 closed

[2021-02-09 21:13] whedon commented on #3024
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @janfreyberg, @JonathanReardon, @rougier it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our

[2021-02-09 21:13] whedon commented on #3024
[code]

[2021-02-09 21:13] whedon commented on #3024
[code]

[2021-02-09 21:14] whedon commented on #3024
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03024/joss.03024/10.21105.joss.03024.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03024/joss.03024/10.21105.joss.03024.pdf) :page_facing_up: :point_left:

[2021-02-09 22:34] stuartcampbell commented on #2107
@arfon I think I am done with my review.  I have created a couple of issues over on the SampleDB Github site, but I don't think that they need to hold up this paper.  They are more comments and nice to haves.

[2021-02-09 22:36] jcorbino commented on #2936
@whedon withdraw

[2021-02-09 22:36] whedon commented on #2936
I'm sorry @jcorbino, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-02-09 22:50] mbobra commented on #2757
@openjournals/joss-eics - this paper is ready to publish once we have the AAS DOI.

/ cc @crawfordsm

[2021-02-09 23:24] jedbrown commented on #2936
Hi, sorry I've been unresponsive (sick kids, no childcare, too many meeting collisions *waves hands furiously*). Please let us know how you'd like to proceed (retract, possible resubmit, start looking for reviewers).

[2021-02-09 23:43] arokem commented on #2827
@whedon generate pdf

[2021-02-09 23:43] arokem commented on #2827
@whedon check references

[2021-02-09 23:44] whedon commented on #2827
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02827/joss.02827/10.21105.joss.02827.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02827/joss.02827/10.21105.joss.02827.pdf) :page_facing_up: :point_left:

[2021-02-09 23:44] whedon commented on #2827
[code]

[2021-02-09 23:52] arokem commented on #2827
Hi @vahid-sb : Could you please add DOIs to your references? The recent message from whedon suggests DOIs for three of your articles, and I think that the DOI for the Frontiers article is 10.3389/fninf.2014.00014.

[2021-02-09 23:53] charleygros commented on #2868
Many thanks for your help @cMadan !

Release of the software done --> [v2.7.0](https://github.com/ivadomed/ivadomed/tree/v2.7.0)

[2021-02-10 00:04] jni commented on #2578
Hmm, a very good question! I don't see how the current authorship format can disambiguate between first, middle, and last names. @openjournals/joss-editors any advice on this?

[2021-02-10 00:22] jcorbino commented on #2936
Hi @jedbrown , I totally understand, I'm in a similar situation, kids + COVID restrictions make the system nonlinear. **I would like to proceed with the manuscript in this journal**, but I don't know exactly how to do it.  For reviewing I think that david.ketcheson@kaust.edu.sa (David Ketcheson) and damian@sourceryinstitute.org (Damian Rouson) are appropriate (based on their area of expertise).  @

[2021-02-10 00:23] shahmoradi commented on #2741
@williamfgc Thank you. My impression was that @whedon would automatically build the PDF from the [Markdown file](https://github.com/cdslaborg/paramonte/blob/main/pubs/ParaMonte/kernel/JOSS2020/paper.md). Until then, I attach a PDF of the revised draft to this comment. The Markdown file on GitHub is also readable, although not as comfortable as the PDF.

[2021-02-10 00:30] nickwimer commented on #2095
@whedon generate pdf

[2021-02-10 00:31] whedon commented on #2095
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02095/joss.02095/10.21105.joss.02095.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02095/joss.02095/10.21105.joss.02095.pdf) :page_facing_up: :point_left:

[2021-02-10 00:35] jni commented on #2578
I've been scouring the  for yaml-style authorship definitions, and various pandoc doc pages, and I wonder whether LaTeX formatting will work here: `- name: Manso Jimeno, Marina`?

I think I've tracked down the bit of the whedon source code that does the name parsing, but my Ruby is not good enough to follow the parsing logic:

https://github.com/openjournals/whedon/blob/92346a0773a4003bf0ef361b661

[2021-02-10 00:39] nickwimer commented on #2095
@roshansamuel Thank you for updating the README with instructions for MacOS. I am will work on getting SARAS installed today/tomorrow and I will let you know if I run into any more issues.

[2021-02-10 03:20] arokem commented on #2827
I have also added some comments/suggestions on the text of the paper in https://github.com/vahid-sb/MiTfAT/pull/4

[2021-02-10 03:23] emilyriederer commented on #3005
I'm so sorry. Similarly, I'd really like to but I'm afraid I'm a bit overextended right now and probably shouldn't take on something else. Looks like a neat package!

[2021-02-10 04:12] charleygros commented on #2868
And here is the Zenodo DOI @cMadan:
[code]

[2021-02-10 05:19] whedon commented on #2991
:wave: @natir, please update us on how your review is going.

[2021-02-10 05:19] whedon commented on #2991
:wave: @bovee, please update us on how your review is going.

[2021-02-10 06:21] esteinig commented on #2991
@natir @bovee still working on the improvements, apologies for the delay

[2021-02-10 07:05] rouson commented on #2936
@jedbrown count me in if you'd like to add me as a reviewer.

[2021-02-10 08:16] VivianePons commented on #2741
@whedon generate pdf

[2021-02-10 08:17] whedon commented on #2741
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: :point_left:

[2021-02-10 08:57] arfon commented on #2107
@stuartcampbell - many thanks!

@FlorianRhiem – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as

[2021-02-10 08:59] arfon commented on #2578
Unfortunately I will have to fix this in post-production (i.e., once the paper is already accepted and published). In the longer-term, we're planning on updating the metadata that JOSS allows for author names (to make it explicit what the last/family name is) but we can't do that yet sorry.

[2021-02-10 08:59] arfon commented on #2936
:+1: we're OK here. Whedon hasn't taken any action so we can proceed as-is.

[2021-02-10 09:00] whedon opened #3025 "[PRE REVIEW]: fishgrowbot: Fish growth curves through back-calculation of otoliths rings in a Bayesian framework"
**Submitting author:** @nschiett (<a href="http://orcid.org/0000-0002-1925-3484">Nina Schiettekatte</a>)
**Repository:** <a href="https://github.com/nschiett/fishgrowbot" target ="_blank">https://github.com/nschiett/fishgrowbot</a>
**Version:** v0.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-02-10 09:00] whedon commented on #3025
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-10 09:00] whedon opened #3026 "[PRE REVIEW]: starry_process: Interpretable Gaussian processes for stellar light curves"
**Submitting author:** @rodluger (<a href="http://orcid.org/0000-0002-0296-3826">Rodrigo Luger</a>)
**Repository:** <a href="https://github.com/rodluger/starry_process" target ="_blank">https://github.com/rodluger/starry_process</a>
**Version:** v0.9.6
**Editor:** @arfon
**Reviewers:** @nespinoza, @j-faria
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-02-10 09:00] whedon commented on #3026
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-10 09:00] whedon opened #3027 "[PRE REVIEW]: portalcasting: Supporting automated forecasting of rodent populations"
**Submitting author:** @gmyenni (<a href="http://orcid.org/0000-0001-6969-1848">Glenda Yenni</a>)
**Repository:** <a href="http://github.com/weecology/portalcasting" target ="_blank">http://github.com/weecology/portalcasting</a>
**Version:** v0.20.0
**Editor:** @marcosvital
**Reviewers:** @ViniciusBRodrigues , @FlukeAndFeather
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :w

[2021-02-10 09:00] whedon commented on #3027
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-10 09:01] bommert commented on #3010
Thank you for your comments! I will work on them in the next days.

[2021-02-10 09:01] whedon opened #3028 "[PRE REVIEW]: PyArmadillo: an alternative approach to linear algebra in Python"
**Submitting author:** @jason-rumengan (<a href="http://orcid.org/0000-0003-1839-5138">Jason Rumengan</a>)
**Repository:** <a href="https://gitlab.com/jason-rumengan/pyarma" target ="_blank">https://gitlab.com/jason-rumengan/pyarma</a>
**Version:** v0.500.0
**Editor:** @mjsottile
**Reviewers:** @JaroslavHron, @uellue
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2021-02-10 09:01] whedon commented on #3028
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-10 09:01] whedon commented on #3025
Failed to discover a `Statement of need` section in paper

[2021-02-10 09:01] whedon commented on #3025
[code]

[2021-02-10 09:01] whedon commented on #3025
[code]

[2021-02-10 09:01] whedon commented on #3025
PDF failed to compile for issue #3025 with the following error:

 pandoc: /media/nschiettekatte/DATA/phd/fishgrowbot/paper/output/paper_files/figure-latex/plot1a-1.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2021-02-10 09:03] whedon commented on #3026
[code]

[2021-02-10 09:03] arfon commented on #3025
@whedon query scope

Thanks for your submission to JOSS @nschiett – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-02-10 09:03] whedon commented on #3025
Submission flagged for editorial review.

[2021-02-10 09:04] whedon commented on #3026
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03026/joss.03026/10.21105.joss.03026.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03026/joss.03026/10.21105.joss.03026.pdf) :page_facing_up: :point_left:

[2021-02-10 09:04] whedon commented on #3026
[code]

[2021-02-10 09:04] whedon commented on #3027
[code]

[2021-02-10 09:05] whedon commented on #3027
[code]

[2021-02-10 09:05] whedon commented on #3027
PDF failed to compile for issue #3027 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Juniper Simonis, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:71:in `eac

[2021-02-10 09:06] arfon commented on #3026
@whedon assign me as editor

:wave: @rodluger, thanks for your submission to JOSS. Could you suggest a few names for people who might be able to give this software a good review? Either real names or GitHub handles is fine.

[2021-02-10 09:06] whedon commented on #3026
OK, the editor is @arfon

[2021-02-10 09:06] whedon commented on #3028
[code]

[2021-02-10 09:07] arfon commented on #3027
@whedon invite @marcosvital as editor

[2021-02-10 09:07] whedon commented on #3027
@marcosvital has been invited to edit this submission.

[2021-02-10 09:07] arfon commented on #3027
:wave: @marcosvital - would you be able to edit this submission for JOSS?

[2021-02-10 09:08] whedon commented on #3028
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03028/joss.03028/10.21105.joss.03028.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03028/joss.03028/10.21105.joss.03028.pdf) :page_facing_up: :point_left:

[2021-02-10 09:09] whedon commented on #3028
[code]

[2021-02-10 09:10] arfon commented on #3028
@whedon invite @mjsottile as editor

:wave: @mjsottile - would you be able to edit this submission for us?

[2021-02-10 09:10] whedon commented on #3028
@mjsottile has been invited to edit this submission.

[2021-02-10 09:25] arfon commented on #2993
Hi @adamhockenberry and @clauswilke. Apologies for the delay in providing a response here, this submission prompted some discussions amongst the editorial team. The upshot of these discussions is that we will not be sending this submission out for review.

Ultimately this decision has been made because the _software contribution_ is considered too small to be reviewed by JOSS.

_Software 2.0 proje

[2021-02-10 09:25] arfon commented on #2993
@whedon reject

[2021-02-10 09:25] whedon commented on #2993
Paper rejected.

[2021-02-10 09:25] #2993 closed

[2021-02-10 09:41] modenaxe commented on #2911
@pariterre I have a good number of comments. Some are issues, some other would be probably easier to highlight/fix with a pull request. @Kevin-Mattheus-Moerman am I allowed to do that during a review process?

[2021-02-10 09:42] modenaxe commented on #2911
@pariterre, the project is overall very nice and it will be incredibly useful, I really like it!

[2021-02-10 09:47] mllg commented on #3010
https://github.com/bommert/stabm/pull/11 adds a simple feature selection example to the vignette. I've decided to use a simple regression tree here because the `rpart` package ships with R as a recommended package.

[2021-02-10 09:57] modenaxe commented on #2911
@Kevin-Mattheus-Moerman on second thought, no worries, I will put everything in the project Issues.

[2021-02-10 10:05] FlorianRhiem commented on #2107
@arfon Thank you, I have created a new release (version 0.17.0), updated the paper.json accordingly and updated the auto-generated Zenodo entry to have the correct title and author: https://doi.org/10.5281/zenodo.4529206

[2021-02-10 10:21] corentin-dev commented on #2939
Dear Patrick,
Sorry, I thought I had accepted the invitation, but I didn't. Can you reinvite me again please ?
I get : "This invitation has expired"
Best regards,
Corentin
PS: I used reply but this did not seem to get through.
PS2: And previously 04/02 : "Sorry, I did not give any update. As many of us, I am running behind schedule. Next week I'll be able to start the review."

[2021-02-10 10:29] arfon commented on #2107
@whedon set 10.5281/zenodo.4529206 as archive

[2021-02-10 10:29] whedon commented on #2107
OK. <a href="https://doi.org/10.5281/zenodo.4529206" target="_blank">10.5281/zenodo.4529206</a> is the archive.

[2021-02-10 10:29] arfon commented on #2107
@whedon accept

[2021-02-10 10:29] whedon commented on #2107
[code]

[2021-02-10 10:30] whedon commented on #2107
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2082

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2082, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-10 10:31] whedon commented on #2107
[code]

[2021-02-10 10:32] arfon commented on #2107
@FlorianRhiem - please give the paper proof linked to in https://github.com/openjournals/joss-papers/pull/2082 a final proof read (I will do the same).

[2021-02-10 10:51] FlorianRhiem commented on #2107
The proof looks good to me. 👍 The top whedon post here still has version 0.11.0, but I didn't find that version referenced in either the paper or the crossref XML, so I guess that's fine and just for reviewing?

[2021-02-10 10:51] corentin-dev commented on #2939
@Balaje comments on the manuscript:
l16: on "the" finite
l20: analycity
l22: further l20, further ; consider changing one or the other
l29: consider citing ffddm (this reference maybe ? M. Bonazzoli, V. Dolean, I. G. Graham, E. A. Spence, P.-H. Tournier. Domain decomposition preconditioning for the high-frequency time-harmonic Maxwell equations with absorption. Mathematics of Computation, 2019. DO

[2021-02-10 11:08] oliviaguest commented on #2953
@whedon add @jpsnijder as reviewer

[2021-02-10 11:08] whedon commented on #2953
OK, @jpsnijder is now a reviewer

[2021-02-10 11:09] oliviaguest commented on #2953
@whedon generate pdf

[2021-02-10 11:10] whedon commented on #2953
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02953/joss.02953/10.21105.joss.02953.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02953/joss.02953/10.21105.joss.02953.pdf) :page_facing_up: :point_left:

[2021-02-10 11:23] emilljungberg commented on #2578
Hi @Mmj94

Thanks for sending the revised version of the manuscript. I think these revisions looks really nice. The EPI and spiral readout off-resonance corrections looks great and do show the type of artefacts that are expected at the given off-resonance range. One question though, why did you change the B0 map model from the last version? The previous version had like a smooth almost like linear

[2021-02-10 11:28] mmrabe commented on #2992
The `RBF` package is an R package for robust backfitting (Boente et al., 2017). Overall, the package works well and the authors provide a good justification and explanation in the paper. I think the paper needs some revisions (esp. with regard to citations/bibliography). Also, for usability the `print` and `summary` methods in the package may need some work but I'm not sure if that should be the s

[2021-02-10 11:56] arfon commented on #2107
@whedon set 0.17.0 as version

[2021-02-10 11:56] whedon commented on #2107
OK. 0.17.0 is the version.

[2021-02-10 12:27] modenaxe commented on #2911
hi @pariterre, I have [posted some questions](https://github.com/pyomeca/ezc3d/issues) under the `[JOSS review]` header.

[2021-02-10 13:16] oliviaguest commented on #2891
@themkar thank you for the update! 🎉

[2021-02-10 14:05] rodluger commented on #3026
@whedon generate pdf

[2021-02-10 14:06] whedon commented on #3026
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03026/joss.03026/10.21105.joss.03026.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03026/joss.03026/10.21105.joss.03026.pdf) :page_facing_up: :point_left:

[2021-02-10 14:08] geoffreyp commented on #2974
@whedon generate pdf

[2021-02-10 14:08] whedon commented on #2974
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02974/joss.02974/10.21105.joss.02974.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02974/joss.02974/10.21105.joss.02974.pdf) :page_facing_up: :point_left:

[2021-02-10 14:12] rodluger commented on #3026
@arfon As reviewers I'd suggest Néstor Espinoza (nespinoza), Brett Morris (bmorris3), or James Davenport (jradavenport).

[2021-02-10 14:22] geoffreyp commented on #2974
Hello @chkoar and @sjvrijn,
I answered your issues and push the new release(0.5.8) of the framework with your comments and tips, thank you!

I move the documentation in the same repository, the new URL is: https://moead-framework.github.io/framework/

[2021-02-10 15:33] FelixKratz commented on #2604
We have gone through the paper and tested the application. The problems we pointed out in [Application will stop analysing images](https://github.com/jdber1/opendrop/issues/30) and [Saving Data to Disk not working](https://github.com/jdber1/opendrop/issues/28) where resolved very quickly. We have compared the results of the presented application with two other methods and find consistent predictio

[2021-02-10 15:51] vahid-sb commented on #2827
@emdupre, thanks for your kind words. And bout CI, just after I saw your comment I saw an ad for Circle CI on a completely unrelated website. Not a so subtle hint by the gods of the internet! I tried it and it gives an error while trying to install dependencies. I should have a look when I can to see how this can be fixed. And thanks again for all your constructive and useful comments.

[2021-02-10 15:53] cddesja commented on #3005
Sure, I can do this.

On Mon, Feb 8, 2021 at 2:41 PM Kristina Riemer <notifications@github.com>
wrote:

[2021-02-10 15:57] vahid-sb commented on #2827
@arokem Thanks for bringing the errors to my attention. I also fixed a few other minor ones mainly to make the text read better and clarify a couple of points that I felt can be explained in a more clear manner. And also added citation info for scikit-learn and added doi for all. And then it occurred to me that I have not mentioned anything about visualization functions of the library, so I added

[2021-02-10 16:04] pariterre commented on #2911
@modenaxe
I have answered all the comments in the issues, feel free to close those you are satisfied with. Thanks for your review!

[2021-02-10 16:07] modenaxe commented on #2911
@pariterre there are a couple more [here](https://github.com/pyomeca/ezc3d/issues/177) I added them to an existing Issue.

[2021-02-10 16:44] js2264 commented on #3009
@henrykironde FYI I have closed the second round of issues you opened. Let me know if anything else needs to be changed!

[2021-02-10 16:47] ayush-1506 commented on #2972
@gkthiruvathukal Hi, I'm not sure if jonathanschilling is seeing this, should we proceed into the reviewing stage (I believe arcuri82 has agreed to be the reviewer here) while we wait for him? (Or request another reviewer?) Thanks.

[2021-02-10 16:53] oliviaguest commented on #2953
@whedon add @Nathaniel-Haines as reviewer

[2021-02-10 16:53] whedon commented on #2953
OK, @Nathaniel-Haines is now a reviewer

[2021-02-10 18:02] kyleniemeyer commented on #2604
Thanks @FelixKratz for your quick review!

[2021-02-10 18:03] kyleniemeyer commented on #2604
OK @jdber1, with two reviewers now recommending acceptance, we can now proceed to publication! I will do some final checks on your paper, but in the meantime please archive the software repo (e.g., at Zenodo) and provide the DOI here. And, thanks for your patience with this review.

[2021-02-10 18:03] kyleniemeyer commented on #2604
@whedon generate pdf

[2021-02-10 18:06] whedon commented on #2604
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02604/joss.02604/10.21105.joss.02604.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02604/joss.02604/10.21105.joss.02604.pdf) :page_facing_up: :point_left:

[2021-02-10 18:23] mjsottile commented on #3028
@whedon assign me as editor

[2021-02-10 18:23] whedon commented on #3028
OK, the editor is @mjsottile

[2021-02-10 18:26] mjsottile commented on #3028
:wave: @jason-rumengan If you have any suggestions for people to review your submission, please let me know.  I will be searching for potential reviewers over the next few days.

[2021-02-10 19:25] melissawm commented on #2744
@whedon generate pdf

[2021-02-10 19:27] gkthiruvathukal commented on #2972
@ayush-1506 Yes, and please do suggest 2-3 names if you can. People are very busy. We need 2 reviewers to proceed to review. So having your input from our list of reviewers will be extremely helpful.

[2021-02-10 19:27] melissawm commented on #2744
Sorry @kfhiga - I didn't realize whedon had failed generating the pdf!

[2021-02-10 19:30] kfhiga commented on #2744
No worries, @melissawm <https://github.com/melissawm>! Let me know if you
need me to do anything.
Thanks,
Kenny

On Wed, Feb 10, 2021 at 11:28 AM Melissa Weber Mendonça <
notifications@github.com> wrote:

[2021-02-10 19:38] melissawm commented on #3019
@whedon assign @melissawm as editor

[2021-02-10 19:38] whedon commented on #3019
OK, the editor is @melissawm

[2021-02-10 21:32] whedon commented on #2744
PDF failed to compile for issue #2744 with the following error:

[2021-02-10 21:33] arfon commented on #2744
@whedon generate pdf

[2021-02-10 21:36] henrykironde commented on #3009
Thanks for the update. I checked the issues and they look good. I am trying to evaluate the paper at the moment. I know the total number of words exceed the maximum (1000) by ~120 words. I will have to get some advice on that. For now, I will go through the writing and get back to the checkboxes.

[2021-02-10 21:41] arfon commented on #2744
Looks like this line: https://bitbucket.org/berkeleylab/esdr-pygdh/src/b584ef0622ba8f6189e449dcfcbee9187bbdd3dd/joss/paper.bib#lines-46 is causing Whedon trouble.

Can you change it to `title={{Comsol Multiphysics ®}},`?

[2021-02-10 21:47] lskatz commented on #2334
@lpantano Thanks for pointing that out.  I have updated our Docker image from v0.14 of SneakerNet to 0.19.6 to include all recent changes.  Although most changes thus far are nonfunctional since v0.14 (ie documentation), this is an important fix to address the latest issue.  This image can be found in `lskatz/sneakernet:edge` or more permanently `lskatz/sneakernet:sha-d7255a84`.

[2021-02-10 21:48] amanaster2 commented on #2965
@whedon generate pdf

[2021-02-10 21:48] whedon commented on #2965
PDF failed to compile for issue #2965 with the following error:

[2021-02-10 21:48] whedon commented on #2744
PDF failed to compile for issue #2744 with the following error:

[2021-02-10 21:51] whedon opened #3029 "[PRE REVIEW]: PyOncoPrint: A python package to plot OncoPrints"
**Submitting author:** @pjb7687 (<a href="http://orcid.org/0000-0002-9064-4912">Jeongbin Park</a>)
**Repository:** <a href="https://github.com/pjb7687/pyoncoprint" target ="_blank">https://github.com/pjb7687/pyoncoprint</a>
**Version:** v0.2.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV