[2019-01-24 18:00] ArtPoon commented on #1186
@whedon generate pdf

[2019-01-24 18:00] whedon commented on #1186
[code]

[2019-01-24 18:01] whedon commented on #1186
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01186/joss.01186/10.21105.joss.01186.pdf)

[2019-01-24 18:06] ArtPoon commented on #1186
@pjotrp, I have deposited the current release of the repository to Zenodo, obtained and posted the DOI above.  I also found and restored some missing DOIs for cited references in the paper.  Unfortunately a couple of the journals we referenced do not provide DOIs (namely *AIDS* and *Antiviral Therapy*).

Further, I replaced a citation to a bioRxiv preprint with the recently published version of th

[2019-01-24 18:37] grlee77 commented on #1154
sounds good to me as well

[2019-01-24 19:40] brogly commented on #1127
@chkoar, @sirsharpest, @rljacobson, @lindemann09, @adammichaelwood would you be interested in reviewing this submission? We are looking for a second reviewer.

[2019-01-24 19:51] aguang commented on #1160
@brainstorm @pdiakumis I think I've fixed the table. As for the version, I may have submitted the wrong version number, it should be v1.3.1. Is there a way for me to change that in my submission?

[2019-01-24 21:42] karthik commented on #1098
@whedon set 10.5281/zenodo.2546883 as archive

[2019-01-24 21:42] whedon commented on #1098
OK. <a href="https://doi.org/10.5281/zenodo.2546883" target="_blank">10.5281/zenodo.2546883</a> is the archive.

[2019-01-24 21:43] karthik commented on #1098
@whedon accept

[2019-01-24 21:43] whedon commented on #1098
[code]

[2019-01-24 21:44] whedon commented on #1098
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/453

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/453, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-24 21:46] lbenet commented on #1043
@jedbrown I'd like to mention that we released today v0.8.1 of our package. I hope this is ok with the current review process.

[2019-01-24 22:01] jedbrown commented on #1043
@lbenet Certainly!

@sriharikrishna How is your review going?

[2019-01-24 22:36] karthik commented on #1098
@whedon accept deposit=true

[2019-01-24 22:36] whedon commented on #1098
I'm sorry @karthik, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2019-01-24 22:47] luizirber commented on #1159
Hello @AlexanderFabisch! Great package =]

Some comments:

## License

It almost matches https://opensource.org/licenses/BSD-3-Clause
but is missing the copyright line in the beginning and has some minor format
differences. I suggest copying the license from the link and saving to your LICENSE file (GitHub will also be able to pick it up and show in the landing repo page).

Also fix https://github

[2019-01-24 23:00] arfon commented on #1098
@whedon accept deposit=true

[2019-01-24 23:00] whedon commented on #1098
[code]

[2019-01-24 23:01] whedon commented on #1098
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/454
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01098](https://doi.org/10.21105/joss.01098)
2. If everything looks go

[2019-01-24 23:03] arfon commented on #1098
@Pakillo - many thanks for your review and to @karthik for editing this submission ✨

@emchristensen - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-24 23:03] #1098 closed

[2019-01-24 23:03] whedon commented on #1098
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01098/status.svg)](https://doi.org/10.21105/joss.01098)

**We need your help!**

Journal of Open Source Softwar

[2019-01-25 00:10] danielhatton commented on #974
On Sun, 20 Jan 2019, Lorena A. Barba wrote:

Seconded.

--

Kind regards,

Dan Hatton

 Dr. Daniel C. Hatton
 Lecturer

 Mechanical and Marine Engineering Subject Group
 Autonomous Marine Systems Research Group

E-mail:<daniel.hatton@plymouth.ac.uk>

Address:School of Engineering,
 University of Plymouth,
 Drake Circus,
 Plymouth,
 UK.
 PL4 8AA

SIP:<daniel.hatton@sip.linphone.org>
Telephone:+44 (

[2019-01-25 00:11] danielhatton commented on #974
On Sun, 20 Jan 2019, Lorena A. Barba wrote:

... and to you too.

--

Kind regards,

Dan Hatton

 Dr. Daniel C. Hatton
 Lecturer

 Mechanical and Marine Engineering Subject Group
 Autonomous Marine Systems Research Group

E-mail:<daniel.hatton@plymouth.ac.uk>

Address:School of Engineering,
 University of Plymouth,
 Drake Circus,
 Plymouth,
 UK.
 PL4 8AA

SIP:<daniel.hatton@sip.linphone.org>
Telep

[2019-01-25 02:44] spiani commented on #1178
@labarba For sure. Where can I send you a brief description of my background?

[2019-01-25 04:46] pjotrp commented on #840
@amoeba would you be able to review in the coming weeks?

[2019-01-25 04:49] pjotrp commented on #1186
Hi @ArtPoon, can you post the zenodo or figshare doi of the software release here?

[2019-01-25 04:56] ArtPoon commented on #1186
I did post the Zenodo DOI in this issue.

[2019-01-25 05:24] whedon opened #1200 "[PRE REVIEW]: Model dispersion with PRISM; an alternative to MCMC for rapid analysis of models"
**Submitting author:** @1313e (<a href="http://orcid.org/0000-0002-1559-9832">Ellert van der Velden</a>)
**Repository:** <a href="https://github.com/1313e/PRISM" target ="_blank">https://github.com/1313e/PRISM</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewers:** fonnesbeck

**Author instructions**

Thanks for submitting your paper to JOSS @1313e. The JOSS editor Pending, will work with you o

[2019-01-25 05:33] amoeba commented on #840
Yes @pjotrp I can have a review in by Feb 7. Would that work?

[2019-01-25 07:35] pjotrp commented on #840
For sure, thanks!

[2019-01-25 07:36] pjotrp commented on #840
@whedon assign @amoeba as reviewer

[2019-01-25 07:36] whedon commented on #840
OK, the reviewer is @amoeba

[2019-01-25 07:36] pjotrp commented on #840
@whedon start review magic-word=bananas

[2019-01-25 07:36] whedon commented on #840
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1201. Feel free to close this issue now!

[2019-01-25 07:36] whedon opened #1201 "[REVIEW]: TraitDB: Web application database of phenotypic trait data"
**Submitting author:** @dleehr (<a href="http://orcid.org/0000-0003-3221-9579">Dan Leehr</a>)
**Repository:** <a href="https://github.com/NESCent/TraitDB" target ="_blank">https://github.com/NESCent/TraitDB</a>
**Version:** v1.0.1
**Editor:** @pjotrp
**Reviewer:** @amoeba
**Archive:** <a href="https://doi.org/10.5281/zenodo.2609163" target="_blank">10.5281/zenodo.2609163</a>

## Status

[![status]

[2019-01-25 07:36] whedon commented on #1201
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @amoeba it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-01-25 07:36] whedon commented on #1201
[code]

[2019-01-25 07:36] #840 closed

[2019-01-25 07:37] whedon commented on #1201
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01201/joss.01201/10.21105.joss.01201.pdf)

[2019-01-25 07:40] pjotrp commented on #1186
Ah, sorry. Somehow it did not show.

[2019-01-25 07:41] pjotrp commented on #1186
@whedon set 10.5281/zenodo.2548745 as archive

[2019-01-25 07:41] whedon commented on #1186
OK. <a href="https://doi.org/10.5281/zenodo.2548745" target="_blank">10.5281/zenodo.2548745</a> is the archive.

[2019-01-25 07:42] pjotrp commented on #1186
@whedon accept

[2019-01-25 07:42] whedon commented on #1186
[code]

[2019-01-25 07:42] whedon commented on #1186
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/455

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/455, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-25 07:43] pjotrp commented on #1186
@arfon I think we are ready!

[2019-01-25 10:45] yochannah commented on #1199
Okay, looks good!

@Chilipp Thanks for submitting this! Do you have any suggestions for possible reviewers by any chance? (No worries if not!)

One possible reviewer occurs to me - @sgrieve might this interest you?

[2019-01-25 11:58] Chilipp commented on #1199
I'd say ideally someone with a background in GUI development and/or digitisation. Maybe @ixjlyons or @sauln?

[2019-01-25 13:35] arfon commented on #1186
@whedon accept deposit=true

[2019-01-25 13:35] whedon commented on #1186
[code]

[2019-01-25 13:35] whedon commented on #1186
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/456
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01186](https://doi.org/10.21105/joss.01186)
2. If everything looks go

[2019-01-25 13:57] Datseris commented on #1166
Hello @Kevin-Mattheus-Moerman , @jfsantos , @ssfrr . While I was trying to improve MIDI.jl I realized that I had to do a breaking bugfix. If you are interested you may look at https://github.com/JuliaMusic/MIDI.jl/pull/112 but this is in no way relevant to the paper.

Although this is a breaking change it is a bugfix and thus does not require a major version increment. Regardless, I have released

[2019-01-25 14:06] richteague commented on #1197
@arfon - What's the best practice when it comes to further development of the code? I wanted to submit a JOSS paper for it already as there's been quite a bit of work based on the software so far (published and in prep.), but there's definitely some additional features which I'd be interested in implementing. Would I have to wait for the review (i.e. after 15th March) to begin on this, or is it po

[2019-01-25 14:22] flor14 commented on #785
Hello. The last 4 months I have been finishing my PhD so I had no time to
check this (and I will not have until the last week of February). I am not
sure how is JOSS policy about timing, but I can test everything again and
make improvements on February. Sorry about this, it took a bit longer than
expected.
Regards

El sáb., 19 ene. 2019 a las 19:23, Lorena A. Barba (<
notifications@github.com>) es

[2019-01-25 15:37] whedon opened #1202 "[PRE REVIEW]: surfinpy: A Surface Phase Diagram Generator"
**Submitting author:** @symmy596 (<a href="http://orcid.org/0000-0001-6059-497X">Adam Symington</a>)
**Repository:** <a href="https://github.com/symmy596/SurfinPy" target ="_blank">https://github.com/symmy596/SurfinPy</a>
**Version:** 0.8
**Editor:** @labarba
**Reviewers:** @bocklund, @mkhorton

**Author instructions**

Thanks for submitting your paper to JOSS @symmy596. The JOSS editor @labarba,

[2019-01-25 15:37] whedon commented on #1202
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@labarba) to find some reviewers for

[2019-01-25 15:37] whedon commented on #1202
[code]

[2019-01-25 15:37] arfon commented on #1202
:wave: @labarba - the submitting author suggested you as the handling editor.

[2019-01-25 15:37] whedon commented on #1202
PDF failed to compile for issue #1202 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    208      0 --:--:-- --:--:-- --:--:--   208
100    15    0

[2019-01-25 15:38] arfon commented on #1197
I think it's helpful if the reviewer doesn't have a moving target here. That said, we don't have a reviewer assigned yet you're welcome to make changes _right now_ and let us know about them once a reviewer is ready to go.

[2019-01-25 15:39] arfon commented on #1202
@whedon generate pdf

[2019-01-25 15:39] whedon commented on #1202
[code]

[2019-01-25 15:39] whedon commented on #1202
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01202/joss.01202/10.21105.joss.01202.pdf)

[2019-01-25 15:41] ArtPoon commented on #1186
Thanks @azneto for your review and @pjotrp for handling the process!
This has been a fascinating experience :grinning:

[2019-01-25 16:58] jedbrown commented on #1049
@DavideNardone Your submission was in rough shape and required major revisions, so you don't get to complain about time since initial submission. I hope our reviewers get a chance to review the latest updates in the next couple weeks. Did you add performance results? (You might need to `@whedon generate pdf` if you revised the paper after the discussion above.)

[2019-01-25 17:19] danehkar commented on #898
@labarba I am currently working on those issues. Hopefully, I will resolve them in a month. Thank you for your patience.

[2019-01-25 19:30] AlexanderFabisch commented on #1159
Hi @luizirber,

thanks for the kind words and the review! I hope I addressed everything in [this merge request](https://github.com/rock-learning/pytransform3d/pull/25).

[2019-01-25 20:31] sauln commented on #1199
I'd love to help, but don't have any experience in digitization.

[2019-01-25 20:56] malmaud commented on #1188
I'm currently blocked since the VScode extension appears to automatically install the latest version of qiskit terra (0.7), and yet only works with 0.6.

I'm not sure how to manually downgrade since the qiskit system is split into several Python packages and I don't know what version each of them needs to be to result in a usable configuration (and I don't really have the time to figure it out). U

[2019-01-25 20:59] danielskatz commented on #1188
I'm willing to wait.

@cbjuan - please confirm this makes sense for you, and let us know about when you expect this issue to be resolved.

[2019-01-26 02:14] ixjlyons commented on #1199
I'm also not very knowledgable in this area, but my understanding of the review process leads me to believe I'm qualified to do the review and I'd be happy to do it. @yochannah what level of familiarity with the field do you expect a reviewer to have?

[2019-01-26 10:07] Hendekagon commented on #720
hi - I'm sorry but I'm so busy this year I don't think I'm going to have time, but I'll help however I can

[2019-01-26 10:10] Hendekagon commented on #720
BTW will this package install in Pharo 7 ?

[2019-01-26 13:09] labarba commented on #1178
I'm going to start this review with the two reviewers already assigned—thanks for being willing to contribute, @spiani, but I didn't hear from you and I'd like to move things along.

[2019-01-26 13:09] labarba commented on #1178
@whedon start review

[2019-01-26 13:09] whedon opened #1203 "[REVIEW]: BladeX: Python Blade Deformation"
**Submitting author:** @mtezzele (<a href="http://orcid.org/0000-0001-9747-6328">Marco Tezzele</a>)
**Repository:** <a href="https://github.com/mathLab/BladeX" target ="_blank">https://github.com/mathLab/BladeX</a>
**Version:** v0.1
**Editor:** @labarba
**Reviewer:** @benoitpaillard, @Juanlu001
**Archive:** <a href="https://doi.org/10.5281/zenodo.2556690" target="_blank">10.5281/zenodo.2556690</a>

[2019-01-26 13:09] whedon commented on #1178
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1203. Feel free to close this issue now!

[2019-01-26 13:09] whedon commented on #1203
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @benoitpaillard, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2019-01-26 13:09] whedon commented on #1203
[code]

[2019-01-26 13:09] #1178 closed

[2019-01-26 13:10] whedon commented on #1203
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01203/joss.01203/10.21105.joss.01203.pdf)

[2019-01-26 13:12] labarba commented on #1203
@benoitpaillard, @Juanlu001 — this is where the action happens. You can read about the [JOSS Review Process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) in our docs. Each of you has a review checklist at the top of this issue 👆 and you should feel free to ask questions here, and open issues in the submission repository as needed.

[2019-01-26 16:15] djmitche commented on #1169
I'm not aware of any further changes yet -- @maximtrp please let me know if there's something I should look at to check off another box..

[2019-01-26 17:40] lucask07 commented on #1191
Hi @ixjlyons, this package is looking good, very nice work.

Installation via pip (OSX Python 3.7) proceeded without issues:
[code]
However, when importing ``axopy`` I hit a snag.

[code]

Note that this works:
[code]
so I'm suspecting just a capatalization issue?

[2019-01-26 19:15] lucask07 commented on #1191
Thanks @ixjlyons
The import of *axopy* is working now.

I'm attempting to run the example within the README file. The QT window seems stuck and only reports "Ready". I tried this in an iPython window and without iPython. It would be helpful to know the expected output of this example. I'm running MacOSX.

A screenshot is below:
![screen shot 2019-01-26 at 12 40 08 pm](https://user-images.githubuse

[2019-01-26 19:21] trallard commented on #1191
Hey @ixjlyons we can definitely bump the version in JOSS. I'll wait until the review is completed in case the reviewers request any more substantial changes or you make another release in the meantime

[2019-01-26 19:53] cMadan commented on #1154
@whedon add @grlee77 as reviewer

[2019-01-26 19:53] whedon commented on #1154
OK, @grlee77 is now a reviewer

[2019-01-26 19:53] cMadan commented on #1154
@whedon add @JoshKarpel as reviewer

[2019-01-26 19:53] whedon commented on #1154
OK, @JoshKarpel is now a reviewer

[2019-01-26 19:58] cMadan commented on #1154
@rljacobson and others tagged earlier, if you're still interested in reviewing this submission, please let me know. This work is at the intersection of a topic and programming language that don't often overlap, so adequate reviewing will likely include people who cover only part of the project's content--though I also wouldn't want there to be too many reviewers.

I'm going to start the actual rev

[2019-01-26 19:58] cMadan commented on #1154
@whedon start review

[2019-01-26 19:58] whedon opened #1204 "[REVIEW]: QMRTools: a mathematica toolbox for quantitative MRI analysis"
**Submitting author:** @mfroeling (<a href="http://orcid.org/0000-0003-3841-0497">Martijn Froeling</a>)
**Repository:** <a href="https://github.com/mfroeling/QMRITools" target ="_blank">https://github.com/mfroeling/QMRITools</a>
**Version:** v2.2
**Editor:** @cMadan
**Reviewers:** @grlee77, @JoshKarpel, @rljacobson
**Archive:** <a href="https://doi.org/10.5281/zenodo.3239261" target="_blank">10.52

[2019-01-26 19:58] whedon commented on #1154
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1204. Feel free to close this issue now!

[2019-01-26 19:58] whedon commented on #1204
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @grlee77, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-01-26 19:58] whedon commented on #1204
[code]

[2019-01-26 19:58] #1154 closed

[2019-01-26 19:59] whedon commented on #1204
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01204/joss.01204/10.21105.joss.01204.pdf)

[2019-01-26 20:02] cMadan commented on #1204
@whedon check references

[2019-01-26 20:02] whedon commented on #1204
[code]

[2019-01-26 20:05] cMadan commented on #1155
@raamana, thanks! I'll see if @arokem has any suggestions, otherwise will ping you here in a few weeks and see when you're ready to start.

[2019-01-26 20:06] ixjlyons commented on #1191
@lucask07 yes, that looks like it's working as expected. You should be able to press `Enter` (with the Qt window focused) and then the screen should show an "oscilloscope" with some random signals updating periodically. Pressing `Enter` again should then finish the experiment and close the window. One thing to note is running an experiment in an interactive shell isn't something I've intended to s

[2019-01-26 20:18] raamana commented on #1155
Sounds good. I'm unsubscribing for now. Please mention me so I get pinged.

[2019-01-26 20:43] ixjlyons commented on #1191
Ah, that appears to be an upstream issue. There is a way to selectively disable that operation, but I'm currently leaning toward disabling the context menu altogether. It adds a few nice features, but it's probably best if AxoPy users implement their own processing in the form of the `pipeline` keyword arg in creating the `Oscilloscope` task.

[2019-01-26 23:07] rljacobson commented on #1154
@cMadan I'm sorry, I missed this notification. Yes, I am happy to review this submission. You are welcome to add me to #1204 if you wish.

[2019-01-27 01:53] cMadan commented on #1154
@rljacobson, no worries, thank you! I'll go ahead and add you as a reviewer :)

[2019-01-27 01:53] cMadan commented on #1204
@whedon add @rljacobson as reviewer

[2019-01-27 01:53] whedon commented on #1204
OK, @rljacobson is now a reviewer

[2019-01-27 02:57] lucask07 commented on #1191
Hi @ixjlyons,
Thank you for this software it looks great. The documentation is very nicely done. 😀
My only suggestion would be to emphasize examples that involve connecting a real-world DAQ.
The [pymcc](https://github.com/axopy/pymcc/blob/master/pymcc/mccdaq.py) is a useful example, but explicitly knowing things like the needed format of the return data from the `read` method. I'm thinking about u

[2019-01-27 02:59] lucask07 commented on #1191
@trallard Hi Tania,
I accept this submission and am finished with my review.

[2019-01-27 03:12] arokem commented on #1111
@jmhernan : just to be clear -- is your recommendation that we accept the paper as it is?

[2019-01-27 03:12] arokem commented on #1111
@whedon generate pdf

[2019-01-27 03:12] whedon commented on #1111
[code]

[2019-01-27 03:13] whedon commented on #1111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01111/joss.01111/10.21105.joss.01111.pdf)

[2019-01-27 03:35] arokem commented on #1111
@igarizio : in the meanwhile, a couple of comments from me:

- The last sentence of the first paragraph should probably end with a question mark.
- I believe that "Along the years" (paragraph 2), should be "Over the years".
- "assignation" => "assignment" wherever it appears.
- "without the need of developing case-by-case solutions" => "without the need to develop case-by-case solutions".

I would

[2019-01-27 04:07] arokem commented on #1132
I think that this one is fine: 10.5281/zenodo.2545472

This is the version you generated after incorporating all of the reviewer comments?

Could you please edit the metadata of the Zenodo page (title and authors), so that it matches the paper?

Thanks!

[2019-01-27 13:20] whedon opened #1205 "[PRE REVIEW]: DmpBbo: A versatile Python/C++ library for Function Approximation, Dynamical Movement Primitives, and Black-Box Optimization"
**Submitting author:** @graiola (<a href="http://orcid.org/0000-0003-1481-1106">Gennaro Raiola</a>)
**Repository:** <a href="https://github.com/stulp/dmpbbo" target ="_blank">https://github.com/stulp/dmpbbo</a>
**Version:**  v0.7-beta
**Editor:** @danielskatz
**Reviewers:** @studywolf, @jenskober

**Author instructions**

Thanks for submitting your paper to JOSS @graiola. The JOSS editor @danielsk

[2019-01-27 13:22] whedon opened #1206 "[PRE REVIEW]: HCP: A Matlab package to create beautiful heatmaps with richly annotated covariates"
**Submitting author:** @ManuelaS (<a href="http://orcid.org/0000-0001-9941-4307"></a>)
**Repository:** <a href="https://bitbucket.org/manuela_s/hcp/" target ="_blank">https://bitbucket.org/manuela_s/hcp/</a>
**Version:** v0.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @trallard, @piermorel

**Author instructions**

Thanks for submitting your paper to JOSS @ManuelaS. The JOSS editor @Kevin-

[2019-01-27 13:59] danielskatz commented on #1205
👋 @giraola - Please help by looking at [this list of potential reviewers](
https://bit.ly/joss-reviewers) and identify individuals who might be able to review your submission (please start at the bottom of the list). Also, please suggest individuals who might be good reviewers but are not on this list, ideally by mentioning their GitHub handles here, but if not, just by name.

[2019-01-27 14:02] ManuelaS commented on #1206
@whedon generate pdf

[2019-01-27 14:02] whedon commented on #1206
[code]

[2019-01-27 14:04] danielskatz commented on #1205
Also, note a couple of issues in the paper - a couple of references appear as ????s, indicating that the text in {}s in the .md paper didn't match an entry in the .bib file, and the second reference has some case problems in the proceedings (booktitle) name. In addition, that reference should likely have a DOI.
After you make changes in the .md or .bib files, type ```@whedon generate pdf``` as the

[2019-01-27 14:06] whedon commented on #1205
[code]

[2019-01-27 14:07] whedon commented on #1205
The following potential issues were found with your references:

- Learning Variable Impedance Control may be missing DOI: `https://doi.org/10.1177/0278364911402527`

- Dynamical Movement Primitives: Learning Attractor Models for Motor Behaviors may be missing DOI: `https://doi.org/10.1162/neco_a_00393`

- Joining Movement Sequences: Modified Dynamic Movement Primitives for Robotics Applications E

[2019-01-27 14:08] whedon commented on #1206
PDF failed to compile for issue #1206 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    139      0 --:--:-- --:--:-- --:--:--   140

[2019-01-27 14:08] labarba commented on #1203
@whedon check references

[2019-01-27 14:08] whedon commented on #1203
[code]

[2019-01-27 14:09] whedon commented on #1203
[code]

[2019-01-27 14:09] giraola commented on #1205
Hi Daniel, I didn’t submit this. Probably is a mistake.

El El dom, 27 de ene. de 2019 a las 11:05, Daniel S. Katz <
notifications@github.com> escribió:

--
/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
*Gregorio Iraola, Ph.D.*
Group Leader
Microbial Genomics Lab
Institut Pasteur de Montevideo
/-/-/-/-/-/-/-/-/-/-/-/-/-/-/

[2019-01-27 14:09] danielskatz commented on #1205
👋  @graiola - please see the DOI issues, and fix them while fixing the other paper issue - thanks!

[2019-01-27 14:10] danielskatz commented on #1205
Yes, sorry.

[2019-01-27 14:13] labarba commented on #1203
@mtezzele — I notice that you cited the software repository in your paper. The paper format will have a link to the repository (and software archive, made after review is complete) on the front page, so it's not necessary to add it to the References list. You also cite a _submitted_ paper: would you be able to post a pre-print of the manuscript, for example in [engrXiv](https://engrxiv.org) or a s

[2019-01-27 14:14] peircej commented on #1191
I agree. The paper looks all fine. The software looks sensible, useful and following best practices.
Minor suggestions around docs:
- I also hit the snag of not realising that I should hit <return> to start simulating the data collection. (I opened the script file and found it mentioned inside the script, but I did this *after* trying to run). Rather than adding this in the documentation, I would

[2019-01-27 14:18] ManuelaS commented on #1206
I would like to suggest as potential reviewers @piermorel, @trallard and @cMadan given their experience with Matlab and data visualization. Note that @piermorel is not included in the list of existing reviewers, but he is the author of Gramm, another Matlab visualization package published in JOSS.

[2019-01-27 15:18] labarba commented on #1163
@whedon check references

[2019-01-27 15:18] whedon commented on #1163
[code]

[2019-01-27 15:19] whedon commented on #1163
[code]

[2019-01-27 15:51] labarba commented on #1163
👋  @georgiewellock — have a look at your references list and check on `@whedon`'s suggestions ☝️

[2019-01-27 16:05] labarba commented on #1202
@whedon check references

[2019-01-27 16:05] whedon commented on #1202
[code]

[2019-01-27 16:05] whedon commented on #1202
[code]

[2019-01-27 16:12] arfon commented on #1206
The automated paper compilation is timing out because of the very large images in the paper. Here's a copy of the PDF: [10.21105.joss.01206.pdf](https://github.com/openjournals/joss-reviews/files/2800191/10.21105.joss.01206.pdf)

[2019-01-27 16:36] arfon commented on #1202
@whedon check references

[2019-01-27 16:36] whedon commented on #1202
[code]

[2019-01-27 16:36] whedon commented on #1202
[code]

[2019-01-27 16:38] arfon commented on #1202
@whedon check references

[2019-01-27 16:38] whedon commented on #1202
[code]

[2019-01-27 16:38] whedon commented on #1202
[code]

[2019-01-27 17:48] casteer commented on #1172
Hi @lucask07, have you got an advice and/or pointers on how to install the NI VISA drivers for linux distributions other the offically-supported ones? There's an reference to this being possible but cumbersome in the [PyVISA Installation docs](https://pyvisa.readthedocs.io/en/stable/getting_nivisa.html#getting-nivisa). I'm using Ubuntu 18.04 and the best I could I find is an unhelpful [note](https

[2019-01-27 17:54] CBenghi commented on #1127
@danielskatz, @brogly,
apologies for the delay, I have only just noticed the thread, as I have had to ignore github for a while.
I'm happy to help with the review if still needed.

[2019-01-27 18:18] lheagy commented on #808
Excellent @viktor76525! @leouieda, would you mind taking a look at the tests that have been added?

[2019-01-27 18:20] lheagy commented on #990
Hi @laempy, just checking in to see how things are going. Please comment here when you have addressed the issues I outlined and I can take another look then.

[2019-01-27 18:26] whedon opened #1207 "[REVIEW]: cartoee: Publication quality maps using Earth Engine"
**Submitting author:** @kmarkert (<a href="http://orcid.org/0000-0002-7557-0425">Kel Markert</a>)
**Repository:** <a href="https://github.com/kmarkert/cartoee" target ="_blank">https://github.com/kmarkert/cartoee</a>
**Version:** 0.0.5
**Editor:** @lheagy
**Reviewer:** @Fil
**Archive:** <a href="https://doi.org/10.5281/zenodo.2552811" target="_blank">10.5281/zenodo.2552811</a>

## Status

[![statu

[2019-01-27 18:31] danielskatz commented on #1127
Yes, thanks very much @CBenghi - I'll go ahead and start the review now with you as one of the reviewers.

[2019-01-27 18:31] danielskatz commented on #1127
@whedon add @CBenghi as reviewer

[2019-01-27 18:31] whedon commented on #1127
OK, @CBenghi is now a reviewer

[2019-01-27 18:32] danielskatz commented on #1127
@whedon start review

[2019-01-27 18:32] whedon opened #1208 "[REVIEW]: A News Verification Browser for the Detection of Clickbait, Satire, and Falsified News"
**Submitting author:** @VictoriaRubin (<a href="http://orcid.org/0000-0003-3610-9967">Victoria Rubin</a>)
**Repository:** <a href="https://github.com/litrl/litrl_code" target ="_blank">https://github.com/litrl/litrl_code</a>
**Version:** v0.14.0.0
**Editor:** @arfon
**Reviewer:** @lrasmus, @CBenghi
**Archive:** <a href="https://doi.org/10.5281/zenodo.2588566" target="_blank">10.5281/zenodo.2588566

[2019-01-27 18:32] whedon commented on #1127
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1208. Feel free to close this issue now!

[2019-01-27 18:32] whedon commented on #1208
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lrasmus, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-01-27 18:32] whedon commented on #1208
[code]

[2019-01-27 18:32] #1127 closed

[2019-01-27 18:33] whedon commented on #1208
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01208/joss.01208/10.21105.joss.01208.pdf)

[2019-01-27 18:37] danielskatz commented on #1157
👋 @justinalsing - note that we're waiting for your inputs here

[2019-01-27 18:41] lheagy commented on #1187
👋 Hi @nuest, @sjsrey, would you be willing to review this submission for JOSS?

[2019-01-27 18:45] lheagy commented on #1112
:wave: Hi @jhill1, @edoddridge, @PythonCHB: just a quick note to say that I am happy to answer any questions or help out on the editor side while @kthyng is away.

[2019-01-27 18:52] arfon commented on #1202
@whedon check references

[2019-01-27 18:52] whedon commented on #1202
[code]

[2019-01-27 18:53] whedon commented on #1202
[code]

[2019-01-27 19:44] labarba commented on #1202
👋  @@symmy596 — Doing the pre-checks on your paper, we've found that your references list is missing a bunch of DOIs. Check on the helpful suggestions of our bot ☝️
Can you update your BibTeX entries to include the DOIs?
Also, I request that you don't use double { } around the titles to override the capitalization style of the bibliography. Only use them in acronyms or other individual names that

[2019-01-27 20:35] labarba commented on #1202
@bjmorgan — Maybe you would like to contribute a review for JOSS on this one?

[2019-01-27 20:36] labarba commented on #1163
@whedon add @vyasr as reviewer

[2019-01-27 20:36] whedon commented on #1163
OK, @vyasr is now a reviewer

[2019-01-27 20:37] labarba commented on #1163
@whedon start review

[2019-01-27 20:37] whedon opened #1209 "[REVIEW]: pyscses - a python space charge site explicit solver"
**Submitting author:** @georgiewellock (<a href="http://orcid.org/0000-0002-1068-5889">Georgina Wellock</a>)
**Repository:** <a href="https://github.com/bjmorgan/pyscses" target ="_blank">https://github.com/bjmorgan/pyscses</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** @ncclementi, @vyasr
**Archive:** <a href="https://doi.org/10.5281/zenodo.2599955" target="_blank">10.5281/zenodo.2599

[2019-01-27 20:37] whedon commented on #1163
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1209. Feel free to close this issue now!

[2019-01-27 20:37] whedon commented on #1209
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ncclementi, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-01-27 20:37] whedon commented on #1209
[code]

[2019-01-27 20:38] whedon commented on #1209
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01209/joss.01209/10.21105.joss.01209.pdf)

[2019-01-27 20:38] #1163 closed

[2019-01-27 20:40] labarba commented on #1209
👋 @georgiewellock  Please check your references list, aided by the bot's suggestions in the pre-review issue: https://github.com/openjournals/joss-reviews/issues/1163#issuecomment-457926514

[2019-01-27 20:42] labarba commented on #1209
@ncclementi, @vyasr — Thank you for agreeing to review for JOSS! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed!

[2019-01-27 21:15] labarba commented on #1175
This submission is pretty far outside of my domains of even fuzzy understanding, but I'm going to try some gut-feeling pings to some registered JOSS reviewers. Maybe signal processing?
—Could this be something you can review for JOSS, @josephhardinee?

[2019-01-27 21:36] labarba commented on #1202
@whedon assign @bocklund as reviewer

[2019-01-27 21:36] whedon commented on #1202
OK, the reviewer is @bocklund

[2019-01-27 21:50] bjmorgan commented on #1202
@labarba I'd be happy to review, but want to flag a possible [conflict of interest](https://github.com/openjournals/joss/blob/master/COI.md). I'm in the same department as three of the authors on this paper, and have an active collaboration with two of the authors.

[2019-01-27 21:55] labarba commented on #1202
Ah, thanks, @bjmorgan — I guess I'm on the right track for selecting reviewers 😁

At this point, I'd like to ask @symmy596 if the authors could suggest some names for a possible second reviewer?

[2019-01-27 21:59] bocklund commented on #1202
If I may suggest: @mkhorton is on the reviewer list and might be interested.

[2019-01-27 22:07] bjmorgan commented on #1202
@utf is not on the reviewer list, but has published in JOSS and has the right background.

[2019-01-27 22:45] vsoch commented on #1179
@gasparl has gone above and beyond to add [automated testing](https://travis-ci.org/gasparl/citapp_pc) for his application. I have checked this off as the final box to finish my review, and I'm ready to move forward with acceptance of the work for publication in JOSS.

[2019-01-27 22:47] lucask07 commented on #1172
@casteer
Apologies, I have not tried to install NI-VISA on an Ubuntu system.
An alternative is the pure Python VISA backend [pyvisa-py](https://github.com/pyvisa/pyvisa-py). This can be installed via `pip`.
If both NI-VISA and pyvisa-py are installed PyVISA defaults to the NI backend. To activate this alternate backend you pass to the VISA resource manager:
[code]
See more information on configuri

[2019-01-27 22:53] lucask07 commented on #1172
@brainstorm
Thank you for the feedback.
For testing, I have added an "unconnected" property to instruments and am using an unconnected instrument to test functionality.

My testing is using the *pytests* package.

The script to run tests is: [run_tests.py](https://github.com/lucask07/instrbuilder/blob/master/run_tests.py)
And the tests are at [tests/test_command.py](https://github.com/lucask07/ins

[2019-01-27 22:57] lucask07 commented on #1172
@arokem
The package has been updated to version 0.1.6 on PyPi and github. I presume we can update the JOSS version to match what is in github (once all changes are done)?

[2019-01-27 23:13] gasparl commented on #1179
@whedon generate pdf

[2019-01-27 23:13] whedon commented on #1179
[code]

[2019-01-27 23:13] whedon commented on #1179
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01179/joss.01179/10.21105.joss.01179.pdf)

[2019-01-28 00:10] mkhorton commented on #1202
I’d be happy to review, I also know @utf and can vouch he’d also be a good
reviewer / appropriate for this.

On Sun, Jan 27, 2019 at 14:07, Benjamin Morgan <notifications@github.com>
wrote:

[2019-01-28 00:18] Juanlu001 commented on #1203
I did a first pass on the repository and left two minor suggestions, https://github.com/mathLab/BladeX/issues/42 and https://github.com/mathLab/BladeX/issues/43 (none of them a blocker). I will finish my review during the coming days.

[2019-01-28 00:31] labarba commented on #1202
Thanks, @mkhorton! We'll add you to this one.

👋  @utf — Would you like to contribute as a JOSS reviewer? Go over to our [online form](
http://joss.theoj.org/reviewer-signup.html) and sign up!

[2019-01-28 00:32] labarba commented on #1202
@whedon add @mkhorton as reviewer

[2019-01-28 00:32] labarba commented on #1202
@whedon start review

[2019-01-28 00:32] whedon opened #1210 "[REVIEW]: surfinpy: A Surface Phase Diagram Generator"
**Submitting author:** @symmy596 (<a href="http://orcid.org/0000-0001-6059-497X">Adam Symington</a>)
**Repository:** <a href="https://github.com/symmy596/SurfinPy" target ="_blank">https://github.com/symmy596/SurfinPy</a>
**Version:** v1.0.1
**Editor:** @labarba
**Reviewer:** @bocklund, @mkhorton
**Archive:** <a href="https://doi.org/10.5281/zenodo.2573647" target="_blank">10.5281/zenodo.2573647</

[2019-01-28 00:32] whedon commented on #1202
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1210. Feel free to close this issue now!

[2019-01-28 00:32] whedon commented on #1210
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bocklund, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-01-28 00:32] whedon commented on #1210
[code]

[2019-01-28 00:33] whedon commented on #1210
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01210/joss.01210/10.21105.joss.01210.pdf)

[2019-01-28 00:33] #1202 closed

[2019-01-28 00:34] labarba commented on #1210
👋  @symmy596 — Please check your references list, aided by the bot's suggestions in the pre-review issue: https://github.com/openjournals/joss-reviews/issues/1202#issuecomment-457943767

[2019-01-28 00:36] labarba commented on #1210
@bocklund, @mkhorton — Thank you for agreeing to review for JOSS! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed!

[2019-01-28 01:01] spiani commented on #1178
@labarba Sorry for the delayed answers, but I have been quite busy in the last few days. I am happy that you have found anyway some reviewers for your project and I hope I can be of some help next time!

[2019-01-28 04:48] jmhernan commented on #1111
@arokem sorry for the delay, I thought the checklist would trigger something after everything was checked off.  The author addressed my initial revisions and I do recommend this paper moves forward.

[2019-01-28 07:22] brogly commented on #1208
@whedon generate pdf

[2019-01-28 07:22] whedon commented on #1208
[code]

[2019-01-28 07:50] zhangning737 commented on #1114
@lheagy thank you for you message. I will prepare it now.

[2019-01-28 08:42] symmy596 commented on #1210
Thank you @labarba for the speed that you have gone through this so far. The references should now be updated and the doi's added.

[2019-01-28 09:20] trallard commented on #1206
Hi @ManuelaS and @Kevin-Mattheus-Moerman  I would gladly accept to review the paper but I would only have capacity to do so after the 16th of February

Also, I agree that @piermorel would be a great reviewer (I conducted the review for gramm last year and it was  a great package 🎉)

[2019-01-28 09:30] whedon commented on #1203
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01203/joss.01203/10.21105.joss.01203.pdf)

[2019-01-28 09:35] mtezzele commented on #1203
@labarba I added the Preprint record to the bibitem but it does not appear in the pdf (https://github.com/mathLab/BladeX/pull/45). Can you please tell me how to do it?

[2019-01-28 10:32] Juanlu001 commented on #1203
@whedon commands

[2019-01-28 10:32] whedon commented on #1203
Here are some things you can ask me to do:

[code]

[2019-01-28 10:42] Juanlu001 commented on #1203
I find the software very well written and its documentation excellent, it was a pleasing surprise to see an engineering tool with such up to date coding practices. Congratulations @mtezzele and @mahgadalla!

@labarba is there anything else I have to do apart from crossing off all the elements of the list?

[2019-01-28 11:00] tleonardi commented on #1196
Hi @brainstorm,
using @whedon's list I've found a few potential reviewers with expertise in python and genomics:
@dpolychr, @RHagenson, @betteridiot, @jean997, @giraola, @conradstack, @afrubin, @nhejazi
Hopefully someone will be interested in reviewing bedparse!

[2019-01-28 11:36] Kevin-Mattheus-Moerman commented on #1206
I can edit this one. Thanks @trallard for your willingness to act as a reviewer. I'll add you and we'll eagerly await your review contribution.

[2019-01-28 11:39] Kevin-Mattheus-Moerman commented on #1206
@whedon assign @trallard as reviewer

[2019-01-28 11:39] whedon commented on #1206
OK, the reviewer is @trallard

[2019-01-28 11:46] whedon opened #1211 "[PRE REVIEW]: Detecting Fraud in Online Surveys by Tracing, Scoring, and Visualizing IP Addresses"
**Submitting author:** @pdwaggoner (<a href="http://orcid.org/0000-0002-7825-7573">Philip D. Waggoner</a>)
**Repository:** <a href="https://github.com/MAHDLab/rIP" target ="_blank">https://github.com/MAHDLab/rIP</a>
**Version:** v1.1.1
**Editor:** @yochannah
**Reviewers:** @alexhanna

**Author instructions**

Thanks for submitting your paper to JOSS @pdwaggoner. The JOSS editor Pending, will work

[2019-01-28 11:46] whedon commented on #1211
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-28 11:46] whedon commented on #1211
[code]

[2019-01-28 11:46] whedon opened #1212 "[PRE REVIEW]: biotools: a package for optimization cluster analysis"
**Submitting author:** @arsilva87 (<a href="http://orcid.org/0000-0003-2518-542X">Anderson da Silva</a>)
**Repository:** <a href="https://github.com/arsilva87/biotools" target ="_blank">https://github.com/arsilva87/biotools</a>
**Version:** 3.1
**Editor:** @karthik
**Reviewers:** @diyadas

**Author instructions**

Thanks for submitting your paper to JOSS @arsilva87. The JOSS editor @karthik, will

[2019-01-28 11:46] whedon commented on #1212
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@karthik) to find some reviewers for

[2019-01-28 11:46] whedon commented on #1212
[code]

[2019-01-28 11:46] whedon commented on #1212
Failed to discover a valid open source license.

[2019-01-28 11:47] whedon commented on #1211
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01211/joss.01211/10.21105.joss.01211.pdf)

[2019-01-28 11:47] arfon commented on #1212
👋 @karthik - the submitting author suggested you as the handling editor.

[2019-01-28 11:47] whedon commented on #1212
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01212/joss.01212/10.21105.joss.01212.pdf)

[2019-01-28 11:48] whedon opened #1213 "[PRE REVIEW]: Social Media Exploratory Data Analytics in Excel"
**Submitting author:** @professorf (<a href="http://orcid.org/0000-0002-5162-9277">Nick Flor</a>)
**Repository:** <a href="https://github.com/professorf/smeda" target ="_blank">https://github.com/professorf/smeda</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @professorf. The JOSS editor Pending, will work with y

[2019-01-28 11:48] whedon commented on #1213
[code]

[2019-01-28 11:48] whedon commented on #1213
PDF failed to compile for issue #1213 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f29247288e/lib/whedon.rb:82:in `check_fields': undefined method `keys' for "Nick V. Flor University of New Mexico 27 January 2018":String (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f29247288e/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/r

[2019-01-28 12:00] labarba commented on #1210
@whedon generate pdf

[2019-01-28 12:00] whedon commented on #1210
[code]

[2019-01-28 12:04] labarba commented on #1203
@Juanlu001 — If you have checked off all the review items, and the authors have made any improvements to  your satisfaction, all I need is a statement from you here that you recommend publication.

[2019-01-28 12:04] labarba commented on #1203
@whedon generate pdf

[2019-01-28 12:04] whedon commented on #1203
[code]

[2019-01-28 12:05] whedon commented on #1203
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01203/joss.01203/10.21105.joss.01203.pdf)

[2019-01-28 12:11] sgrieve commented on #1199
@yochannah I'd be delighted to review. This looks really cool!

[2019-01-28 12:14] labarba commented on #1203
@mtezzele — I believe you should use the `note` field to provide the URL to the preprint. Also, the entry type should probably be `@unpublished` or `@misc`.

[2019-01-28 12:14] Juanlu001 commented on #1203
I hereby recommend publication of this paper.

On Mon, 28 Jan 2019, 13:05 whedon <notifications@github.com wrote:

[2019-01-28 12:16] arfon commented on #1211
Message from the submitting author:

[2019-01-28 12:19] arfon commented on #1212
@arsilva87 - please review the submission criteria and verify that your submission meets these criteria: https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements

On first inspection this submission seems to be lacking thorough documentation, tests, or an open source license.

[2019-01-28 13:08] arsilva87 commented on #1212
Hello! Licence added to the software repository. Thank you!

Em seg, 28 de jan de 2019 às 10:19, Arfon Smith <notifications@github.com>
escreveu:

--
*Anderson Rodrigo da Silva*
*Ph.D. in Statistics and Agricultural Experimentation*
*Instituto Federal Goiano, Urutaí, GO, Brazil*

*Coordinator of the Master of Plant Protection Professional Program*

*CV Lattes: http://lattes.cnpq.br/391668324096235

[2019-01-28 13:18] mtezzele commented on #1203
@whedon generate pdf

[2019-01-28 13:18] whedon commented on #1203
[code]

[2019-01-28 13:19] whedon commented on #1203
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01203/joss.01203/10.21105.joss.01203.pdf)

[2019-01-28 13:20] sjsrey commented on #1187
Hi Lindsey,

I would be happy to help - with the one caveat that I can't start on this
for another two weeks as I have several other reviews in my queue that I am
committed to.

s.
Sergio (Serge) Rey
Founding Director, Center for Geospatial Sciences
Professor, School of Public Policy
University of California, Riverside
sergio.rey@ucr.edu

On Sun, Jan 27, 2019 at 10:41 AM Lindsey Heagy <notificatio

[2019-01-28 13:22] pdwaggoner commented on #1211
Hi - many thanks for considering our paper! We recommend either @RMHogervorst or @alexhanna as reviewers, though we are certainly open to your thoughts on it as well. Many thanks again and let us know whatever else you need in the process.

[2019-01-28 13:31] mtezzele commented on #1203
@labarba unfortunately with note neither unpublished nor misc work.

[2019-01-28 14:15] danielskatz commented on #1211
👋 @jasonclark, @cMadan, @arokem - would one of you be willing to edit this submission?

[2019-01-28 14:19] danielskatz commented on #1213
👋 @jasonclark - Can you edit this submission?

[2019-01-28 14:22] danielskatz commented on #1200
👋 @Kevin-Mattheus-Moerman - would you be willing to edit this submission?

[2019-01-28 14:24] danielskatz commented on #1195
👋 @arfon - is this ready to go to an editor in your opinion?  If so, can you suggest one?  If not, what else do you think is needed?

[2019-01-28 14:56] stevendavis commented on #1144
@richyanicky I'm back to work after the government shutdown.  Thank you for the review comments.
1. Supporting .gz files is a good idea.
2. We use the software to process bacterial variants. In our work, we usually have dozens of samples in a multi-VCF file with 10,000 or fewer variant positions and our VCF files include only the variant positions.  Could you clarify, in your testing, do you have

[2019-01-28 15:11] labarba commented on #1203
Dang! Try with the `howpublished` field in `@misc`.

[2019-01-28 15:15] mtezzele commented on #1203
@whedon generate pdf

[2019-01-28 15:15] whedon commented on #1203
[code]

[2019-01-28 15:16] whedon commented on #1203
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01203/joss.01203/10.21105.joss.01203.pdf)

[2019-01-28 15:17] Fil commented on #1207
I don't believe that there is COI in this case, but just to make sure, let me state that I have been working on a similar tool, written in Javascript and WebGL, on and off for the last few years. You can see an (older) instance of this tool at [URL](https://www.davidrumsey.com/luna/servlet/detail/RUMSEY~8~1~308989~90078901:Urbano-Monte-World-Map-Reprojection?sort=Pub_List_No_InitialSort%2CPub_Date

[2019-01-28 15:17] mtezzele commented on #1203
@labarba Finally we did it! Thank you very much!

[2019-01-28 15:27] piermorel commented on #1206
Hi everyone. I would also accept to review the paper if you still need additional reviewers.

[2019-01-28 16:12] Kevin-Mattheus-Moerman commented on #1200
I'm a bit swamped until the end of February. If you cannot find an alternative editor I can take this but perhaps try to find somebody else first.

[2019-01-28 16:21] lheagy commented on #1187
Thanks @sjsrey, that timeline is fine. Best of luck with the other reviews on your list.

[2019-01-28 16:21] lheagy commented on #1187
@whedon assign @sjsrey as reviewer

[2019-01-28 16:21] whedon commented on #1187
OK, the reviewer is @sjsrey

[2019-01-28 16:23] cbjuan commented on #1188
Hi @malmaud, @danielskatz

We have almost finished the support of the new version of Qiskit (v0.7) https://github.com/Qiskit/qiskit-vscode/pull/61. We hope to release the new version tomorrow. Let's wait for that to make easier the review. Thanks for your support.

[2019-01-28 16:38] Kevin-Mattheus-Moerman commented on #1206
@whedon add @piermorel as reviewer

[2019-01-28 16:38] whedon commented on #1206
OK, @piermorel is now a reviewer

[2019-01-28 16:54] codeling commented on #1185
@whedon generate pdf

[2019-01-28 16:54] whedon commented on #1185
[code]

[2019-01-28 16:55] whedon commented on #1185
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01185/joss.01185/10.21105.joss.01185.pdf)

[2019-01-28 17:20] georgiewellock commented on #1209
I have updated the two references that have DOIs, but the other two do not. Frenkel (1946) does not appear to have been published digitally and the other is an unpublished paper we hope to have come out alongside the JOSS publication.
Latest commit: https://github.com/bjmorgan/pyscses/commit/21a2355cbf22d06e8e23829445d8cd525f19f11b

[2019-01-28 17:38] labarba commented on #1209
In regards to the unpublished paper from the same authors, I want to encourage you to post the pre-print in a repository like [arXiv](https://arxiv.org), [ChemRxiv](https://chemrxiv.org) or similar. A citation to a non-public document is discouraged.

[2019-01-28 17:53] edifice1989 commented on #1198
Hi Arfon,

    Here is the link to the software repository:
https://github.com/edifice1989/rocker-c-rex

    Please kindly instruct me how to change it! Thank you very much!

Best,
Ming

On Wed, Jan 23, 2019 at 1:38 PM Arfon Smith <notifications@github.com>
wrote:

[2019-01-28 18:50] PGijsbers commented on #1132
Done!

[2019-01-28 19:07] whedon opened #1214 "[PRE REVIEW]: FSharpGephiStreamer: An idiomatic bridge between F# and network visualization"
**Submitting author:** @muehlhaus (<a href="http://orcid.org/0000-0003-3925-6778">Timo Mühlhaus</a>)
**Repository:** <a href="https://github.com/CSBiology/FSharpGephiStreamer" target ="_blank">https://github.com/CSBiology/FSharpGephiStreamer</a>
**Version:** v1.1.0
**Editor:** @danielskatz
**Reviewers:** @cgravill, @PrashantVaidyanathan

**Author instructions**

Thanks for submitting your paper to

[2019-01-28 19:07] whedon commented on #1214
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-28 19:07] whedon commented on #1214
[code]

[2019-01-28 19:07] whedon commented on #1214
PDF failed to compile for issue #1214 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1214/paper/paper.md): invalid leading UTF-8 octet at line 1 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/ruby-2.4.4/lib/

[2019-01-28 19:07] whedon opened #1215 "[PRE REVIEW]: Compare Expression Profiles for Pre-defined Gene Groups with C-REx"
**Submitting author:** @edifice1989 (<a href="http://orcid.org/0000-0002-8164-2480">Mingze He</a>)
**Repository:** <a href="https://github.com/edifice1989/rocker-c-rex" target ="_blank">https://github.com/edifice1989/rocker-c-rex</a>
**Version:** v1.0
**Editor:** @mgymrek
**Reviewers:** @byandell

**Author instructions**

Thanks for submitting your paper to JOSS @edifice1989. The JOSS editor Pendi

[2019-01-28 19:07] whedon commented on #1215
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-28 19:07] whedon commented on #1215
[code]

[2019-01-28 19:08] whedon commented on #1215
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01215/joss.01215/10.21105.joss.01215.pdf)

[2019-01-28 19:34] danielskatz commented on #1215
Hi @edifice1989 - I note that your PDF does not have any references that are built.  It looks like you manually added references in your .md file, rather than using the `@` notation as in the [sample paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).  Please fix this, and once you have done so, enter a new comment here with ```@whedon generate pdf``` to r

[2019-01-28 19:49] MikeHeiber commented on #1168
@katyhuff Is there anything else I can do to help things move forward?

[2019-01-28 19:59] katyhuff commented on #1168
Sorry, I just took a break from this over the weekend. Let's move forward. Thanks for the reminder.

[2019-01-28 20:00] katyhuff commented on #1168
I'm going to double check a bunch of things while in meetings today. Should be able to complete publication later this afternoon.

[2019-01-28 20:00] FaustinCarter commented on #1175
I'm happy to review this. I'm a little back-logged with work this week, so won't be able to start until next week. Is that cool with everyone?

[2019-01-28 20:04] labarba commented on #1175
@whedon assign @FaustinCarter as reviewer

[2019-01-28 20:04] whedon commented on #1175
OK, the reviewer is @FaustinCarter

[2019-01-28 20:09] labarba commented on #1175
Just pinged @josephhardinee by email to see if he can be our second reviewer. Stay tuned.

[2019-01-28 20:19] yochannah commented on #1179
Wow, the work y'all have put into this is amazing! 💯  @andytwoods what are your thoughts at the minute - are we ready to check off the last few boxes?

[2019-01-28 20:33] yochannah commented on #1199
Thanks @sauln and no worries! 👍

@ixjlyons looking at your profile, you look like you're quite comfortable with python and open source - we'd be happy to have you review!

@sgrieve Thanks!

@ixjlyons and @sgrieve - I'll set you two as reviewers and kick off the review issue.

[2019-01-28 20:34] yochannah commented on #1199
@whedon assign @ixjlyons as reviewer

[2019-01-28 20:34] whedon commented on #1199
OK, the reviewer is @ixjlyons

[2019-01-28 20:34] yochannah commented on #1199
@whedon add @sgrieve as reviewer

[2019-01-28 20:34] whedon commented on #1199
OK, @sgrieve is now a reviewer

[2019-01-28 20:34] yochannah commented on #1199
@whedon start review

[2019-01-28 20:34] whedon opened #1216 "[REVIEW]: straditize: Digitizing stratigraphic diagrams"
**Submitting author:** @Chilipp (<a href="http://orcid.org/0000-0001-6171-7716">Philipp S. Sommer</a>)
**Repository:** <a href="https://github.com/Chilipp/straditize" target ="_blank">https://github.com/Chilipp/straditize</a>
**Version:** v0.1.1
**Editor:** @yochannah
**Reviewer:** @ixjlyons, @sgrieve
**Archive:** <a href="https://doi.org/10.5281/zenodo.2565036" target="_blank">10.5281/zenodo.2565

[2019-01-28 20:34] whedon commented on #1199
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1216. Feel free to close this issue now!

[2019-01-28 20:34] whedon commented on #1216
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ixjlyons, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-01-28 20:34] whedon commented on #1216
[code]

[2019-01-28 20:36] whedon commented on #1216
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01216/joss.01216/10.21105.joss.01216.pdf)

[2019-01-28 20:36] yochannah commented on #1199
Okay, @ixjlyons, @sgrieve and @Chilipp  - let's pop over to #1216 to conduct the review process. All the details you need should be there but let me know if there are any Qs!

[2019-01-28 20:36] #1199 closed

[2019-01-28 20:41] Chilipp commented on #1216
seems all right to me. Thanks at @sgrieve and @ixjlyons for being willing to review this package. Looking forward to your feedbacks!

[2019-01-28 20:53] danielskatz commented on #1198
It appears this was resubmitted as source in https://github.com/openjournals/joss-reviews/issues/1215, so I am going to close this one.
@edifice1989 - if this is incorrect, please feel free to reopen this issue; otherwise, future discussion will take place in https://github.com/openjournals/joss-reviews/issues/1215

[2019-01-28 20:53] #1198 closed

[2019-01-28 20:54] edifice1989 commented on #1215
@whedon generate pdf

On Mon, Jan 28, 2019 at 1:34 PM Daniel S. Katz <notifications@github.com>
wrote:

[2019-01-28 21:52] danielskatz commented on #1215
This might be an instance when replying to an email doesn't work, and you actually need to type the command in as a new comment in GitHub.

(@arfon - do you know if this is correct?)

[2019-01-28 21:54] arfon commented on #1215
@whedon generate pdf

[2019-01-28 21:54] whedon commented on #1215
[code]

[2019-01-28 21:55] arfon commented on #1215
I think that's right. You need to actually type the command here.

[2019-01-28 21:55] whedon commented on #1215
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01215/joss.01215/10.21105.joss.01215.pdf)

[2019-01-28 22:18] luizirber commented on #1159
thanks @AlexanderFabisch! Last recommendation: tag a new release for the software and upload to PyPI =]

@brainstorm I checked all the boxes, good to go!

[2019-01-28 22:35] danielskatz commented on #1214
👋 @arfon - can you help with this one?

[2019-01-28 22:58] arsilva87 commented on #1212
Hello!
@whedon - @arfon  - Licence added to the software repository. Thank you!

[2019-01-28 23:02] karthik commented on #1212
Sure, happy to handle. @arsilva87 Stay tuned.

[2019-01-29 01:38] 1313e commented on #1200
I have been looking through the list of potential reviewers, but given the large number that are in there, I could not really pick one or a few that I would like to suggest.
I know that that is not much of a help, but that list is really long (which is a good thing in my opinion).

[2019-01-29 01:45] ManuelaS commented on #1206
Thanks all!

[2019-01-29 01:47] katyhuff commented on #1168
@whedon set 10.5281/zenodo.2547139 as archive

[2019-01-29 01:47] whedon commented on #1168
OK. <a href="https://doi.org/10.5281/zenodo.2547139" target="_blank">10.5281/zenodo.2547139</a> is the archive.

[2019-01-29 01:48] katyhuff commented on #1168
@whedon set v2.0.0 as version

[2019-01-29 01:48] katyhuff commented on #1168
@whedon generate pdf

[2019-01-29 01:48] whedon commented on #1168
[code]

[2019-01-29 01:51] katyhuff commented on #1168
@MikeHeiber Thank you for again for your strong submission and for prompt responses to review comments. I approve acceptance of this paper!

@mdoucet @myousefi2016 Thank you again for your reviews. We couldn't do it without you!

@arfon this paper is ready to accept -- over to you!

[2019-01-29 02:31] danielskatz commented on #1168
I'm checking on something before I finalize this...

[2019-01-29 02:34] danielskatz commented on #728
We can just halt the review and withdraw the paper from the system.  I'll go ahead and do this.

[2019-01-29 02:35] #728 closed

[2019-01-29 03:34] peterjwatkins commented on #947
@alexpghayes<https://github.com/alexpghayes>

I have had the chance to revisit this, and thee’s an issue with travis with running the examples.

[cid:image002.jpg@01D4B7DF.AAD0AEE0]

I’m not certain where to find ‘diwanalr-Ex.R’ file to sort this error (first time at doing this).. are there any suggestions at all?

Thanks

From: Arfon Smith [mailto:notifications@github.com]
Sent: Monday, 14 Januar

[2019-01-29 04:11] MikeHeiber commented on #1168
@danielskatz Looking over the final proof, I found a small typo error in the manuscript.  In one sentence, the word "the" appears twice in a row.  How should I go about correcting this?

[2019-01-29 04:40] pankajkmishra commented on #1173
@whedon commands

[2019-01-29 04:40] whedon commented on #1173
Here are some things you can ask me to do:

[code]

[2019-01-29 04:43] pankajkmishra commented on #1173
@kyleniemeyer: Is there anything required from my side at this point?

[2019-01-29 05:09] brainstorm commented on #1159
@whedon check references

[2019-01-29 05:09] whedon commented on #1159
[code]

[2019-01-29 05:09] whedon commented on #1159
[code]

[2019-01-29 05:12] kyleniemeyer commented on #1173
@pankajkmishra not at the moment—the reviewers will report any issues requiring your attention here or in the software repository as appropriate.

[2019-01-29 06:21] ixjlyons commented on #1191
Thank you both @peircej and @lucask07 for your reviews. In a nutshell, I agree with all proposed changes and have made them. Here they are as I've understood:

- There was a packaging error that caused v0.2.1 to be broken.
- A context menu provided by an upstream library caused a crash. I disabled the menu, at least until the upstream issue is fixed.
- It was totally unclear what to do upon runnin

[2019-01-29 08:19] AlexanderFabisch commented on #1159
Yep, 1.1 is available. Thanks!

[2019-01-29 11:18] igarizio commented on #1111
@whedon generate pdf

[2019-01-29 11:18] whedon commented on #1111
[code]

[2019-01-29 11:18] whedon commented on #1111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01111/joss.01111/10.21105.joss.01111.pdf)

[2019-01-29 11:24] arfon commented on #1197
@whedon add @kevin-flaherty as reviewer

[2019-01-29 11:24] whedon commented on #1197
OK, @kevin-flaherty is now a reviewer

[2019-01-29 11:25] arfon commented on #1197
:wave: @richteague - @kevin-flaherty has kindly volunteered to review this submission for us. Are you still planning on making some changes to this package soon? If not, we are ready to move forward to the actual review.

[2019-01-29 11:37] igarizio commented on #1111
@arokem @jmhernan thank you for your feedback!
I think I have now fixed the issues in the paper (I have rephrased some parts of it). Please let me know if they sound good to you.

[2019-01-29 11:38] richteague commented on #1197
@arfon - Sounds great to me! No more changes need to be made. Thanks!

[2019-01-29 13:15] danielskatz commented on #1168
Just fix it in the .md file, and let me know

[2019-01-29 13:18] pjotrp commented on #1215
Nice contribution. I'll look for an editor.

[2019-01-29 13:21] danielskatz commented on #1215
I'll mark it as you for now, so that it's not on my list of papers awaiting an editor, and when you determine who you think should edit it, you can change the assignment to them.

[2019-01-29 13:21] danielskatz commented on #1215
@whedon assign @pjotrp as editor

[2019-01-29 13:21] whedon commented on #1215
OK, the editor is @pjotrp

[2019-01-29 13:22] pjotrp commented on #1215
@danielskatz please do not do that.

[2019-01-29 13:23] danielskatz commented on #1215
sorry - let me see if I can undo it

[2019-01-29 13:31] brainstorm commented on #1159
Thanks a lot @luizirber and @AlexanderFabisch! @AlexanderFabisch, can you check out the MISSING DOI referenced by whedon?

[2019-01-29 13:49] danielskatz commented on #1214
👋 @yochannah - would you be willing to edit this?
(Note that there's a pdf problem that I'm hoping @arfon will help us solve as well)

[2019-01-29 13:50] whedon opened #1217 "[PRE REVIEW]: dfitspy"
**Submitting author:** @astrom-tom (<a href="http://orcid.org/0000-0001-8385-3276">Romain Thomas</a>)
**Repository:** <a href="https://github.com/astrom-tom/dfitspy" target ="_blank">https://github.com/astrom-tom/dfitspy</a>
**Version:** v19.1.5
**Editor:** @arfon
**Reviewers:** @taldcroft

**Author instructions**

Thanks for submitting your paper to JOSS @astrom-tom. The JOSS editor Pending, will

[2019-01-29 13:50] whedon commented on #1217
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-29 13:50] whedon commented on #1217
[code]

[2019-01-29 13:51] whedon commented on #1217
PDF failed to compile for issue #1217 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f29247288e/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f29247288e/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f

[2019-01-29 13:53] danielskatz commented on #1217
@astrom-tom - I don't see any .bib file in your repo, and your reference is written manually, rather than being compiled.  Please refer to https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography for an example.  Once you've made changes in your repository, enter ```@whedon generate pdf``` as a new comment here to attempt to rebuild the pdf from the md and bib files.

[2019-01-29 13:54] graiola commented on #1205
To start I suggest as reviewer:

- Travis DeWolf https://github.com/studywolf

[2019-01-29 13:58] danielskatz commented on #1217
You also need some real content in the readme, including the purpose of the software, what problems it can solve, a pointer to how it can be installed and tested, how others can contribute, etc.

See https://joss.readthedocs.io/en/latest/review_criteria.html, which states:

[2019-01-29 14:00] danielskatz commented on #1217
Also, I see a bunch of temporary files inside the repository that you might want to remove - those that end with `~`

[2019-01-29 14:01] danielskatz commented on #1217
Once these changes are made, let me know and we'll move forward to assigning an editor

[2019-01-29 14:02] danielskatz commented on #1195
👋 @poulson - Are you able to edit this submission?

[2019-01-29 14:07] danielskatz commented on #1200
👋 @arokem - Is this something you can take on as editor?

[2019-01-29 14:14] danielskatz commented on #1205
Thanks - I ideally want two reviewers, so more suggestions are also welcome

[2019-01-29 14:14] danielskatz commented on #1205
👋 @studywolf - would you be willing to review this submission to JOSS?

[2019-01-29 14:15] whedon opened #1218 "[PRE REVIEW]: crystal-torture: A crystal tortuosity module"
**Submitting author:** @connorourke (<a href="http://orcid.org/0000-0002-0703-8234">Conn O&#39;Rourke</a>)
**Repository:** <a href="https://github.com/connorourke/crystal_torture" target ="_blank">https://github.com/connorourke/crystal_torture</a>
**Version:** v1.0.3
**Editor:** @katyhuff
**Reviewers:** @vahtras, @mkhorton

**Author instructions**

Thanks for submitting your paper to JOSS @connoro

[2019-01-29 14:15] whedon commented on #1218
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-29 14:15] whedon commented on #1218
[code]

[2019-01-29 14:16] whedon commented on #1218
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01218/joss.01218/10.21105.joss.01218.pdf)

[2019-01-29 14:24] danielskatz commented on #1218
👋 @katyhuff - Would you be willing to edit this submission?

[2019-01-29 14:33] katyhuff commented on #1218
@whedon assign @katyhuff as editor

[2019-01-29 14:33] whedon commented on #1218
OK, the editor is @katyhuff

[2019-01-29 14:33] katyhuff commented on #1218
Sorry -- that darn close and comment button is the worst UI in the universe.

[2019-01-29 14:47] katyhuff commented on #1218
@connorourke and @bjmorgan : Thank you for your submission!

I'm going to be looking for reviewers and could use your help. If you see anyone in [this list](https://bit.ly/joss-reviewers) who would be appropriate, I would be grateful if you could point them out. I'll look closely as well, but frequently the authors have insight on the appropriateness of reviewers that an editor cannot have. It's i

[2019-01-29 14:52] tleonardi commented on #1196
Ok, hadn't considered that, thanks for the tip!
Let me know if there's anything to be done on my side!

[2019-01-29 15:12] cMadan commented on #1211
@danielskatz I don't use R, sorry!

[2019-01-29 15:20] katyhuff commented on #1218
FYI: these are the reviewers that stand out to me from our reviewer pool, with regard to this submission. I am not "@" including them until I've completed some basic checks.

- jochym
- ledius
- jwuttke
- stuartcampbell
- diegoenry
- vahtras
- goerz

[2019-01-29 15:25] fospald commented on #1027
@ctdegroot I updated the code. Can you try running with
fibergen-gui --disable-browser
This will disable all QTWebKit components. Then you have to open the demo files manually.

[2019-01-29 15:58] josephhardinee commented on #1175
Sure. It is pretty far outside of my area of expertise, but
if @FaustinCarter can handle domain specific I can help look at some of the
more general portions.

On Mon, Jan 28, 2019 at 3:09 PM Lorena A. Barba <notifications@github.com>
wrote:

--
Joseph Hardin, Ph.D.
Pacific Northwest National Laboratory
ARM Radar Engineering and Operations

One must do not violence to nature, nor model it in confo

[2019-01-29 16:13] danielskatz commented on #1211
👋 @jasonclark, @arokem - would one of you be willing to edit this submission?

[2019-01-29 16:35] studywolf commented on #1205
Hello! Looks very interesting, I'd be happy to review. One possible issue is that I am just about to take off for a couple weeks of travelling and probably won't have time before I go. What's the timeline here?

[2019-01-29 16:41] labarba commented on #1175
Thanks, @josephhardinee 🙏

@whedon add @josephhardinee as reviewer

[2019-01-29 16:44] labarba commented on #1175
@whedon add @josephhardinee as reviewer

[2019-01-29 16:44] whedon commented on #1175
OK, @josephhardinee is now a reviewer

[2019-01-29 16:49] labarba commented on #1175
👋  @garrettj403 — I'm pretty stretched with this editing assignment, and one of the reviewers volunteered to look at general software checks but also has no expertise in the domain. Would you like to suggest a reviewer knowledgeable of your domain of application?

[2019-01-29 18:38] ctdegroot commented on #1027
@fospald @jedbrown The software is working with the browser disabled. As such I was able to complete my review, and everything seems to be working fine. I would suggest that the installation procedure (mainly handling of dependencies) could be streamlined; however I give that as a future goal and won't let that hold up this review any further. I would suggest placing a note in the installation ins

[2019-01-29 19:19] ja-thomas commented on #1193
Major comments:

- The second author of the paper "Jessica J. Bagnall" does not seem to have commits to the repository. It might be a good idea to specify the contributions of every author in the README.

- The tests cannot be reproduced with the instructions in the README

- 5 out of 11 tests fail when running locally, after calling `devtools::document()` and `devtools::test()`, all with `XXX has

[2019-01-29 19:59] MikeHeiber commented on #1168
@whedon generate pdf

[2019-01-29 19:59] whedon commented on #1168
[code]

[2019-01-29 20:00] whedon commented on #1168
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01168/joss.01168/10.21105.joss.01168.pdf)

[2019-01-29 20:01] MikeHeiber commented on #1168
@katyhuff @danielskatz The paper is now corrected, and a new release has been issued.  Please change the release to v2.0.1 with the DOI: 10.5281/zenodo.2552685

[2019-01-29 20:03] whedon opened #1219 "[PRE REVIEW]: getTBinR: an R package for accessing and summarising the World Health Organisation Tuberculosis data"
**Submitting author:** @seabbs (<a href="http://orcid.org/0000-0001-8057-8037">Sam Abbott</a>)
**Repository:** <a href="https://github.com/seabbs/getTBinR" target ="_blank">https://github.com/seabbs/getTBinR</a>
**Version:** v0.5.7
**Editor:** @trallard
**Reviewers:** @rrrlw, @strengejacke

**Author instructions**

Thanks for submitting your paper to JOSS @seabbs. The JOSS editor Pending, will wor

[2019-01-29 20:03] whedon commented on #1219
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-29 20:03] whedon commented on #1219
[code]

[2019-01-29 20:04] danielskatz commented on #1168
@whedon set v2.0.1 as version

[2019-01-29 20:04] whedon commented on #1168
OK. v2.0.1 is the version.

[2019-01-29 20:04] danielskatz commented on #1168
@whedon set 10.5281/zenodo.2552685 as archive

[2019-01-29 20:04] whedon commented on #1168
OK. <a href="https://doi.org/10.5281/zenodo.2552685" target="_blank">10.5281/zenodo.2552685</a> is the archive.

[2019-01-29 20:05] danielskatz commented on #1168
@whedon accept

[2019-01-29 20:05] whedon commented on #1168
[code]

[2019-01-29 20:05] whedon commented on #1168
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/458

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/458, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-29 20:05] whedon commented on #1168
[code]

[2019-01-29 20:07] danielskatz commented on #1168
@whedon accept deposit=true

[2019-01-29 20:07] whedon commented on #1168
[code]

[2019-01-29 20:08] whedon commented on #1168
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/459
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01168](https://doi.org/10.21105/joss.01168)
2. If everything looks go

[2019-01-29 20:12] #1168 closed

[2019-01-29 20:12] whedon commented on #1168
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01168/status.svg)](https://doi.org/10.21105/joss.01168)

**We need your help!**

Journal of Open Source Softwar

[2019-01-29 20:16] danielskatz commented on #1219
@seabbs - once you've made changes (as in
https://github.com/seabbs/getTBinR/pull/52), type ```@whedon generate pdf``` as a new comment here to retry the compilation

[2019-01-29 20:41] yochannah commented on #1214
@danielskatz Sure!

@muehlhaus we don't seem to have any F# reviewers on our list so it could take a little while longer to find someone. Do you have any suggestions? No worries if not.

[2019-01-29 20:42] danielskatz commented on #1214
@whedon assign @yochannah as editor

[2019-01-29 20:42] whedon commented on #1214
OK, the editor is @yochannah

[2019-01-29 20:48] AlexanderFabisch commented on #1159
@whedon check references

[2019-01-29 20:48] whedon commented on #1159
[code]

[2019-01-29 20:48] whedon commented on #1159
[code]

[2019-01-29 20:49] AlexanderFabisch commented on #1159
OK, the bibtex entry had a `dor`. I changed it to `doi`. :laughing:

[2019-01-29 22:36] lheagy commented on #1187
Thanks for your reply @nuest.

:wave: Hi @edzer, would you be willing to review this submission for JOSS?

[2019-01-30 03:12] arokem commented on #1132
@whedon set 10.5281/zenodo.2545472 as archive

[2019-01-30 03:12] whedon commented on #1132
OK. <a href="https://doi.org/10.5281/zenodo.2545472" target="_blank">10.5281/zenodo.2545472</a> is the archive.

[2019-01-30 08:12] Fil commented on #1207
@whedon help

[2019-01-30 08:12] Fil commented on #1207
@whedon commands

[2019-01-30 08:12] whedon commented on #1207
Here are some things you can ask me to do:

[code]

[2019-01-30 08:15] Fil commented on #1207
@lheagy all checked!

@KMarkert congratulations 🎉

[2019-01-30 08:49] edzer commented on #1187
Sure. Could you please point me to the guidelines for reviewers?

[2019-01-30 08:50] hiendn commented on #1193
Hi @ja-thomas, thank you for taking the time to review our paper! We very much appreciate your time and effort! 😊

I will reply to some of your comments now, and @andrewthomasjones will reply to the others at a later stage.

Unfortunately, Jessica is not actively on GitHub (we will persuade her, yet!) and has therefore made most of her contributions via commits by @andrewthomasjones and I. She has

[2019-01-30 10:16] brainstorm commented on #1159
@whedon generate pdf

[2019-01-30 10:16] whedon commented on #1159
[code]

[2019-01-30 10:16] whedon commented on #1159
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01159/joss.01159/10.21105.joss.01159.pdf)

[2019-01-30 10:17] brainstorm commented on #1159
LGTM, @AlexanderFabisch can you deposit the release to zenodo and come back with the DOI?

[2019-01-30 10:23] seabbs commented on #1219
@whedon generate pdf

[2019-01-30 10:52] danielskatz commented on #1132
Thanks for editing @arokem
Thanks for reviewing @jsgalan
And thanks for submitting @PGijsbers

[2019-01-30 10:52] danielskatz commented on #1132
@whedon accept

[2019-01-30 10:52] whedon commented on #1132
[code]

[2019-01-30 10:52] whedon commented on #1132
[code]

[2019-01-30 10:53] whedon commented on #1132
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/460

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/460, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-30 10:58] danielskatz commented on #1132
@whedon accept deposit=true

[2019-01-30 10:58] whedon commented on #1132
[code]

[2019-01-30 10:59] whedon commented on #1132
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/461
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01132](https://doi.org/10.21105/joss.01132)
2. If everything looks go

[2019-01-30 11:02] #1132 closed

[2019-01-30 11:02] whedon commented on #1132
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01132/status.svg)](https://doi.org/10.21105/joss.01132)

**We need your help!**

Journal of Open Source Softwar

[2019-01-30 11:04] danielskatz commented on #1219
I'm not sure why that didn't work - let's try again (and notify @arfon as well)

[2019-01-30 11:04] danielskatz commented on #1219
@whedon generate pdf

[2019-01-30 11:04] whedon commented on #1219
[code]

[2019-01-30 11:05] whedon commented on #1219
PDF failed to compile for issue #1219 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1219/inst/paper/paper.md): mapping values are not allowed in this context at line 16 column 34 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /

[2019-01-30 11:08] seabbs commented on #1219
Looks like I had a : that was causing issues. Hopefully fixed now

@whedon generate pdf

[2019-01-30 11:08] danielskatz commented on #1213
👋 @jasonclark - ping... Can you edit this submission?

[2019-01-30 11:09] danielskatz commented on #1219
you definitely need to make the command the first thing in a comment - can you try again?

[2019-01-30 11:10] seabbs commented on #1219
@whedon generate pdf

[2019-01-30 11:10] whedon commented on #1219
[code]

[2019-01-30 11:10] danielskatz commented on #1219
good - not sure why the command didn't work for you the other time. Maybe whedon was misbehaving...

[2019-01-30 11:10] whedon commented on #1219
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01219/joss.01219/10.21105.joss.01219.pdf)

[2019-01-30 11:19] arfon commented on #1197
@whedon start review

[2019-01-30 11:19] whedon opened #1220 "[REVIEW]: eddy: Extracting Protoplanetary Disk Dynamics with Python"
**Submitting author:** @richteague (<a href="http://orcid.org/0000-0003-1534-5186">Richard Teague</a>)
**Repository:** <a href="https://github.com/richteague/eddy" target ="_blank">https://github.com/richteague/eddy</a>
**Version:** v1.1
**Editor:** @arfon
**Reviewer:** @kevin-flaherty
**Archive:** <a href="https://doi.org/10.5281/zenodo.2578211" target="_blank">10.5281/zenodo.2578211</a>

## Stat

[2019-01-30 11:19] whedon commented on #1197
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1220. Feel free to close this issue now!

[2019-01-30 11:19] whedon commented on #1220
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kevin-flaherty it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-01-30 11:19] whedon commented on #1220
[code]

[2019-01-30 11:19] arfon commented on #1197
@richteague @kevin-flaherty - see you over in #1220 for the actual review.

[2019-01-30 11:19] #1197 closed

[2019-01-30 11:20] whedon commented on #1220
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01220/joss.01220/10.21105.joss.01220.pdf)

[2019-01-30 11:20] arfon commented on #1220
@kevin-flaherty - thanks again for agreeing to review for JOSS.

Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-01-30 11:23] arfon commented on #1130
I just emailed the reviewer with a reminder.

[2019-01-30 12:14] arfon commented on #1214
This looks to be a bug in our LaTeX template at the `#` in the title. I've been trying to fix this for the last hour and haven't found an easy fix yet sorry.

[2019-01-30 12:58] muehlhaus commented on #1214
@yochannah - I am afraid that people I would recommend with the necessary expertise might not be completely free regarding conflicts of interest. I am very sorry.

[2019-01-30 13:24] graiola commented on #1205
@danielskatz I would suggest also Jens Kober as reviewer http://www.jenskober.de/code.htm
But I don't think he has a github account.

Thanks @studywolf

[2019-01-30 13:54] garrettj403 commented on #1175
Thank you @josephhardinee and @FaustinCarter for agreeing to review QMix!

@labarba, I've sent a few emails around to try to find a third reviewer. I'll let you know as soon as I hear back.

[2019-01-30 13:57] danielskatz commented on #1219
👋 @trallard - would you be willing to edit this submission?

[2019-01-30 14:01] danielskatz commented on #1205
@studywolf - We can wait a little while for you - if you could start in a couple of weeks, that will work.

[2019-01-30 14:02] danielskatz commented on #1205
@whedon assign @studywolf as reviewer

[2019-01-30 14:02] whedon commented on #1205
OK, the reviewer is @studywolf

[2019-01-30 14:08] danielskatz commented on #1205
I've emailed Jens - @graiola, if you have other suggestions, please let me know

[2019-01-30 14:11] fospald commented on #1027
@ctdegroot Thank you for testing. I updated the README with some more installation notes.

[2019-01-30 14:45] dleehr commented on #1201
Thanks @pjotrp ! I need to get the tests and installation in order. I'll reply again when that's done.

[2019-01-30 15:38] mgckind commented on #1022
Thanks @arfon , this is what I got from Oracle representative close to the Oracle Instant client team

I'll wait a bit more and otherwise will remove the Oracle instant client from our conda account and rely on having it installed first, note that as I mentioned in an issue before the client is also distributed in the anaconda conda channel as well.

[2019-01-30 16:02] trallard commented on #1219
sure thing @danielskatz

[2019-01-30 16:49] AlexanderFabisch commented on #1159
Yes, this is the DOI: 10.5281/zenodo.2553451

[2019-01-30 17:00] lheagy commented on #1187
Excellent, thank you @edzer! The guidelines for the review process are here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. Shortly, I will close this issues and open another that contains a checklist that will help guide the review process. Please let me know if you have any questions or if I can provide further clarification.

[2019-01-30 17:00] lheagy commented on #1187
@whedon add @edzer as reviewer

[2019-01-30 17:00] whedon commented on #1187
OK, @edzer is now a reviewer

[2019-01-30 17:01] lheagy commented on #1187
@whedon start review

[2019-01-30 17:01] #1187 closed

[2019-01-30 17:01] whedon opened #1221 "[REVIEW]: areal: An R package for areal weighted interpolation"
**Submitting author:** @chris-prener (<a href="http://orcid.org/0000-0002-4310-9888">Christopher Prener</a>)
**Repository:** <a href="https://github.com/slu-openGIS/areal" target ="_blank">https://github.com/slu-openGIS/areal</a>
**Version:** v0.1.4.3
**Editor:** @lheagy
**Reviewer:** @sjsrey, @edzer
**Archive:** <a href="https://doi.org/10.5281/zenodo.2667289" target="_blank">10.5281/zenodo.26672

[2019-01-30 17:01] whedon commented on #1187
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1221. Feel free to close this issue now!

[2019-01-30 17:01] whedon commented on #1221
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sjsrey, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-01-30 17:01] whedon commented on #1221
[code]

[2019-01-30 17:04] lheagy commented on #1221
:wave: Many thanks @sjsrey, @edzer for being willing to review! In the main thread above, there is a checklist for you both to help guide the review. If you haven't previously reviewed for JOSS, please be sure to accept the invite: https://github.com/openjournals/joss-reviews/invitations. This will allow you to check off the items in the checklist. If possible, we would appreciate receiving your r

[2019-01-30 17:10] ja-thomas commented on #1193
great, thanks for the quick reply and fix.

I guess the only point open from my side are the issues with the tests discussed here https://github.com/andrewthomasjones/BoltzMM/issues/3. When this is resolved everything is fine from my side.

[2019-01-30 17:34] bjmorgan commented on #1218
@katyhuff: Other suggested potential reviewers:

* yxqd
* mkhorton
* bocklund
* mdoucet

[2019-01-30 17:49] danielskatz commented on #1219
@whedon assign @trallard as editor

[2019-01-30 17:49] whedon commented on #1219
OK, the editor is @trallard

[2019-01-30 17:50] whedon opened #1222 "[PRE REVIEW]: A Julia package for bilevel optimization problems"
**Submitting author:** @matbesancon (<a href="http://orcid.org/0000-0002-6284-3033">Mathieu Besançon</a>)
**Repository:** <a href="https://github.com/matbesancon/BilevelOptimization.jl" target ="_blank">https://github.com/matbesancon/BilevelOptimization.jl</a>
**Version:** v0.1.0
**Editor:** @poulson
**Reviewers:** @HaoZeke, @vissarion

**Author instructions**

Thanks for submitting your paper to

[2019-01-30 17:50] whedon commented on #1222
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @poulson it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@poulson) to find some reviewers for

[2019-01-30 17:50] whedon commented on #1222
[code]

[2019-01-30 17:50] whedon commented on #1222
PDF failed to compile for issue #1222 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0     62      0 --:--:-- --:--:-- --:--:--    62
Error producing P

[2019-01-30 17:51] danielskatz commented on #1222
👋 @poulson - note that you were proposed by the authors as the editor

[2019-01-30 17:55] danielskatz commented on #1222
@matbesancon
It looks like there's an extra } in paper.md in the line:
```\lambda_i \cdot (b_i - Ax_i - By_i) = 0 \forall i \in \{1..m_l\}}.$$```

After you fix it, you can try recompiling by typing ```@whedon generate pdf``` as a new comment in this issue.

[2019-01-30 17:58] alexpghayes commented on #947
This means the code in one of the examples isn't self-contained and/or breaks somehow. I recommend using `devtools::run_examples()` to figure out which example is broken.

[2019-01-30 18:07] arfon commented on #1022
OK, I've just heard back from the legal counsel at NumFOCUS:

✨

[2019-01-30 18:34] arfon commented on #1022
Yes, I think we are.

@mgckind - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-01-30 18:34] arfon commented on #1022
@whedon check references

[2019-01-30 18:34] whedon commented on #1022
[code]

[2019-01-30 18:34] whedon commented on #1022
[code]

[2019-01-30 18:36] arfon commented on #1022
Also @mgckind - @whedon has (experimental) abilities to suggest missing DOIs. The top one on this list might be a good suggestion? More generally, please make sure you've checked your bibtex entry for any missing DOIs for the references.

[2019-01-30 19:18] matbesancon commented on #1222
thanks @danielskatz

[2019-01-30 19:18] matbesancon commented on #1222
@whedon generate pdf

[2019-01-30 19:18] whedon commented on #1222
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01222/joss.01222/10.21105.joss.01222.pdf)

[2019-01-30 19:22] danielskatz commented on #1222
note that the URL for Dempe seems to have some spaces that should be removed as well

[2019-01-30 19:23] danielskatz commented on #1222
👋 @VivianePons - Are you able to edit this submission?

[2019-01-30 19:24] danielskatz commented on #1222
Sorrry @VivianePons - please ignore my previous comment, this is already set to be edited by @poulson

[2019-01-30 19:38] matbesancon commented on #1222
@whedon generate pdf

[2019-01-30 19:38] whedon commented on #1222
[code]

[2019-01-30 19:38] whedon commented on #1222
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01222/joss.01222/10.21105.joss.01222.pdf)

[2019-01-30 19:58] poulson commented on #1167
Thanks @sivaramambikasaran! It seems the only item left is clarifying what the recommended means of users contributing to the software is. To some degree, this is implicit in the GitHub model, but it would be good to have an explicit statement of the recommended process.

[2019-01-30 20:07] matbesancon commented on #1222
reviewers suggestions:
[code]
(those who seem to be comfortable with optimization and/or Julia packages)
I didn't tag them all because it seemed excessive, I'll let the editors see what seems appropriate

[2019-01-30 20:15] whedon commented on #1207
[code]

[2019-01-30 20:15] whedon commented on #1207
[code]

[2019-01-30 20:22] lheagy commented on #1207
Many thanks @Fil for the speedy review!!

@KMarkert, could you please make a new release and ensure that the title of the zenodo archive is the same as your paper "cartoee: Publication quality maps using Earth Engine" and post the doi here? From there, we can proceed with publication 🎉

[2019-01-30 20:40] KMarkert commented on #1207
@Fil Thank you very much for the reviews and helping make the package of higher quality.

@lheagy I have edited the name of the zenodo archive to reflect the name of the paper. Can you please confirm that I did this correctly? Here is the doi: https://dx.doi.org/10.5281/zenodo.2552811

[2019-01-30 20:52] lheagy commented on #1207
@whedon set 10.5281/zenodo.2552811 as archive

[2019-01-30 20:52] whedon commented on #1207
OK. <a href="https://doi.org/10.5281/zenodo.2552811" target="_blank">10.5281/zenodo.2552811</a> is the archive.

[2019-01-30 20:54] lheagy commented on #1207
@whedon set 0.0.5 as version

[2019-01-30 20:54] whedon commented on #1207
OK. 0.0.5 is the version.

[2019-01-30 20:54] lheagy commented on #1207
@whedon generate pdf

[2019-01-30 20:54] whedon commented on #1207
[code]

[2019-01-30 20:54] whedon commented on #1207
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01207/joss.01207/10.21105.joss.01207.pdf)

[2019-01-30 20:57] lheagy commented on #1207
👋 Hi @arfon, this submission is ready for publication! Congrats @KMarkert 🎉

[2019-01-30 21:01] brainstorm commented on #1159
@whedon set 10.5281/zenodo.2553451 as archive

[2019-01-30 21:01] whedon commented on #1159
OK. <a href="https://doi.org/10.5281/zenodo.2553451" target="_blank">10.5281/zenodo.2553451</a> is the archive.

[2019-01-30 21:03] brainstorm commented on #1159
@whedon accept

[2019-01-30 21:03] whedon commented on #1159
[code]

[2019-01-30 21:03] whedon commented on #1159
[code]

[2019-01-30 21:04] danielskatz commented on #1207
Hi @lheagy - We've moved to rotating editors-in-chief, and this week it's me.  For the future, please notify @joss-eics when there's a paper ready to go, or to otherwise get the person on-duty...

[2019-01-30 21:05] danielskatz commented on #1207
@whedon accept

[2019-01-30 21:05] whedon commented on #1207
[code]

[2019-01-30 21:05] whedon commented on #1207
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/462

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/462, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-30 21:06] whedon commented on #1207
[code]

[2019-01-30 21:08] danielskatz commented on #1207
@whedon accept deposit=true

[2019-01-30 21:08] whedon commented on #1207
[code]

[2019-01-30 21:09] danielskatz commented on #1207
Thanks for reviewing @Fil and editing @lheagy !

[2019-01-30 21:09] whedon commented on #1207
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/463
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01207](https://doi.org/10.21105/joss.01207)
2. If everything looks go

[2019-01-30 21:11] danielskatz commented on #1207
👋 @arfon - I don't see the paper itself, which should be at https://www.theoj.org/joss-papers/joss.01207/10.21105.joss.01207.pdf
Can you see what might have gone wrong?

[2019-01-30 21:16] brainstorm commented on #1159
@arfon I think we are ready for depositing here :)

[2019-01-30 21:19] danielskatz commented on #1159
Hi @brainstorm - We've moved to rotating editors-in-chief, and this week it's me. For the future, please notify @joss-eics when there's a paper ready to go, or to otherwise get the person on-duty...

[2019-01-30 21:20] danielskatz commented on #1159
@whedon accept

[2019-01-30 21:20] whedon commented on #1159
[code]

[2019-01-30 21:20] brainstorm commented on #1159
Absolutely, thanks for the heads-up @danielskatz!

[2019-01-30 21:21] whedon commented on #1159
[code]

[2019-01-30 21:22] danielskatz commented on #1159
👋 @arfon - this didn't seem to correctly generate a proof PR - any idea why not?

[2019-01-30 21:23] brainstorm commented on #1160
@whedon generate pdf

[2019-01-30 21:23] whedon commented on #1160
[code]

[2019-01-30 21:23] whedon commented on #1160
PDF failed to compile for issue #1160 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f29247288e/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: date, bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f29247288e/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whed

[2019-01-30 21:52] brainstorm commented on #1160
@aguang, could you please add the missing expected fields in the paper.md? Namely `date`/`bibliography` as stated above in the whedon output? Thanks!

[2019-01-30 21:55] brainstorm commented on #1189
@HaoZeke Do the updates address some of the issues?

[2019-01-30 22:04] meolic commented on #1189
I have tried to address all of them.

[2019-01-30 22:05] justinalsing commented on #1157
Hi @Chillip, @danielskatz, @taqtiqa-mark

Thanks for all the feedback and sorry for the delay. Let me try to address your points:

**Version** thanks for pointing this out! I’ve just made a release, v1.0

**Installation** I saw you had problems installing with pip. The dependency that typically causes problems (as in your case) is pyston, since it needs to play nicely with the C++ compilers on you

[2019-01-30 23:19] arfon commented on #1207
The paper seems to be there now. Sometimes GitHub pages (where the PDFs are served from) takes longer than a few seconds to update.

[2019-01-30 23:22] arfon commented on #1159
@whedon accept

[2019-01-30 23:22] whedon commented on #1159
[code]

[2019-01-30 23:23] whedon commented on #1159
[code]

[2019-01-30 23:31] mgckind commented on #1022
Thanks @arfon, and @ngoldbaum
I've updated one of the missing DOI, the other 2 papers do not have one.
Also, I pushed the code to Zenodo:
DOI : 10.5281/zenodo.2553673

[2019-01-30 23:49] arfon commented on #1022
@whedon set 10.5281/zenodo.2553673 as archive

[2019-01-30 23:49] whedon commented on #1022
OK. <a href="https://doi.org/10.5281/zenodo.2553673" target="_blank">10.5281/zenodo.2553673</a> is the archive.

[2019-01-30 23:50] arfon commented on #1022
@whedon accept

[2019-01-30 23:50] whedon commented on #1022
[code]

[2019-01-30 23:50] whedon commented on #1022
[code]

[2019-01-30 23:51] whedon commented on #1022
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/466

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/466, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-30 23:51] whedon commented on #1159
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/465

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/465, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-30 23:52] arfon commented on #1022
@whedon accept deposit=true

[2019-01-30 23:52] whedon commented on #1022
[code]

[2019-01-30 23:53] whedon commented on #1022
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/467
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01022](https://doi.org/10.21105/joss.01022)
2. If everything looks go

[2019-01-30 23:55] arfon commented on #1022
@ngoldbaum - many thanks for your review ✨

@mgckind - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-30 23:55] #1022 closed

[2019-01-30 23:56] whedon commented on #1022
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01022/status.svg)](https://doi.org/10.21105/joss.01022)

**We need your help!**

Journal of Open Source Softwar

[2019-01-30 23:59] mgckind commented on #1022
Thanks @arfon . One more thing, is it possible to modify the xml so my last name appears as 'Carrasco Kind' instead of 'Kind' ?
https://github.com/openjournals/joss-papers/blob/master/joss.01022/10.21105.joss.01022.crossref.xml#L40

[2019-01-31 00:04] whedon commented on #1159
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/468

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/468, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-31 00:38] professorf commented on #1213
Please let me know if you have any questions. Thanks - Nick

On Wed, Jan 30, 2019 at 4:08 AM Daniel S. Katz <notifications@github.com>
wrote:

[2019-01-31 02:52] vijaysm commented on #1173
I should be able to complete the full review by next Monday. It has been a busy couple of weeks. @pankajkmishra @kyleniemeyer

[2019-01-31 03:40] JoshKarpel commented on #1204
Calling @grlee77 and @rljacobson to https://github.com/mfroeling/QMRITools/issues/6 when you get a chance - any ideas for automated testing?

[2019-01-31 09:00] matbesancon commented on #1222
@whedon generate pdf

[2019-01-31 09:00] whedon commented on #1222
[code]

[2019-01-31 09:01] whedon commented on #1222
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01222/joss.01222/10.21105.joss.01222.pdf)

[2019-01-31 09:03] whedon commented on #1222
[code]

[2019-01-31 09:04] whedon commented on #1222
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01222/joss.01222/10.21105.joss.01222.pdf)

[2019-01-31 09:11] matbesancon commented on #1222
sorry for stressing the bot, multiline equations are a bit of a bother

[2019-01-31 09:12] matbesancon commented on #1222
@whedon generate pdf

[2019-01-31 09:12] whedon commented on #1222
[code]

[2019-01-31 09:12] whedon commented on #1222
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01222/joss.01222/10.21105.joss.01222.pdf)

[2019-01-31 09:13] matbesancon commented on #1222
ok it's even worse, if someone has a tip for that I'd be glad

[2019-01-31 09:16] mfroeling commented on #1204
@JoshKarpel i will make the paper a bit more explanatory with regard to the points you raised.

[2019-01-31 09:37] matbesancon commented on #1222
@whedon generate pdf

[2019-01-31 09:37] whedon commented on #1222
[code]

[2019-01-31 09:47] matbesancon commented on #1222
ok now special characters don't appear, this is really not ideal. My kingdom for `\begin{align}`

[2019-01-31 09:58] matbesancon commented on #1222
@whedon generate pdf

[2019-01-31 09:58] whedon commented on #1222
[code]

[2019-01-31 09:59] whedon commented on #1222
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01222/joss.01222/10.21105.joss.01222.pdf)

[2019-01-31 11:07] graiola commented on #1205
Manuel C. Lopes https://github.com/maclopes

[2019-01-31 11:13] bastistician commented on #1056
@whedon generate pdf

[2019-01-31 11:13] whedon commented on #1056
[code]

[2019-01-31 11:13] whedon commented on #1056
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01056/joss.01056/10.21105.joss.01056.pdf)

[2019-01-31 11:24] bastistician commented on #1056
I have
* implemented the suggested improvements and increased the package version to 0.7.1
* not yet tagged that release nor submitted to CRAN
* made minor modifications in the paper (referencing the new vignette), see the updated article proof

@wrathematics : May I include your name as a reviewer in the package [DESCRIPTION](https://github.com/bastistician/polyCub/blob/0323d96a0f7913571463995d26

[2019-01-31 11:38] whedon opened #1223 "[PRE REVIEW]: Python Sorted Containers"
**Submitting author:** @grantjenks (<a href="http://orcid.org/0000-0001-5010-405X">Grant Jenks</a>)
**Repository:** <a href="https://github.com/grantjenks/python-sortedcontainers" target ="_blank">https://github.com/grantjenks/python-sortedcontainers</a>
**Version:** v2.1.0
**Editor:** @jasonclark
**Reviewers:** @djmitche

**Author instructions**

Thanks for submitting your paper to JOSS @grantjen

[2019-01-31 11:38] whedon commented on #1223
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-31 11:38] whedon commented on #1223
[code]

[2019-01-31 11:38] whedon commented on #1223
PDF failed to compile for issue #1223 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1223 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f29247288e/lib/whedo

[2019-01-31 14:11] danielskatz commented on #1223
This software looks useful, even though there's a problem compiling the paper.  You can make changes to the source, then enter ```@whedon compile pdf``` as a new comment here to try to fix it.

Another issue I have is that it's not clear to me that this is research software according to the [JOSS guidelines](https://joss.readthedocs.io/en/latest/submitting.html):

Can you help me understand this?

[2019-01-31 14:12] #1207 closed

[2019-01-31 14:14] danielskatz commented on #1159
@whedon accept deposit=true

[2019-01-31 14:14] whedon commented on #1159
[code]

[2019-01-31 14:14] Kevin-Mattheus-Moerman commented on #1047
@lewismc can you give an update on this review? Are you still able to help us? Thanks!

[2019-01-31 14:15] Kevin-Mattheus-Moerman commented on #1094
@carterenyi how are you getting on? Have you been able to resume work on this?

[2019-01-31 14:37] Kevin-Mattheus-Moerman commented on #1151
@sebastkm let me know if you have any potential reviewers in mind that you think we should contact

[2019-01-31 14:38] Kevin-Mattheus-Moerman commented on #1012
@NikEfth can you give an update on your review? Thanks

[2019-01-31 14:39] Kevin-Mattheus-Moerman commented on #1012
@jeroen see my comments :point_up:, do you think you are able to tick the last boxes? Thanks!

[2019-01-31 14:40] Kevin-Mattheus-Moerman commented on #941
@stenskjaer see my comment above :point_up: , any updates on responding to these points?

[2019-01-31 14:48] Kevin-Mattheus-Moerman commented on #1153
@cleardusk @anilbas @JuliaWinchester would you be interested in reviewing this work for the Journal of Open Source Software (JOSS)? The [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) focuses on the software and a short paper. The review process (here is an example #1148) takes place on GitHub in a dedicated issue that I'll open once we have sufficient reviewers. L

[2019-01-31 14:48] Kevin-Mattheus-Moerman commented on #1153
@patrikhuber you can paste those paragraphs here if you like, thanks.

[2019-01-31 14:51] Kevin-Mattheus-Moerman commented on #1021
@ctb thanks again for your review work, are you happy with how @andrewjpage has responded to your comments?

[2019-01-31 14:53] Kevin-Mattheus-Moerman commented on #1109
@whedon check references

[2019-01-31 14:53] whedon commented on #1109
[code]

[2019-01-31 14:53] whedon commented on #1109
[code]

[2019-01-31 14:59] Kevin-Mattheus-Moerman commented on #1166
@ssfrr, @jfsantos can you give an update on the review process? Thanks!

[2019-01-31 15:01] ctb commented on #1021
yes!

[2019-01-31 15:09] Kevin-Mattheus-Moerman commented on #1021
@ctb please tick the remaining box. Thanks for your help!

[2019-01-31 15:11] ctb commented on #1021
done.

[2019-01-31 15:14] Kevin-Mattheus-Moerman commented on #1021
@whedon generate pdf

[2019-01-31 15:14] whedon commented on #1021
[code]

[2019-01-31 15:14] whedon commented on #1021
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01021/joss.01021/10.21105.joss.01021.pdf)

[2019-01-31 15:15] Kevin-Mattheus-Moerman commented on #1021
@whedon check references

[2019-01-31 15:15] whedon commented on #1021
[code]

[2019-01-31 15:16] whedon commented on #1021
[code]

[2019-01-31 15:19] #1159 closed

[2019-01-31 15:19] whedon commented on #1159
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01159/status.svg)](https://doi.org/10.21105/joss.01159)

**We need your help!**

Journal of Open Source Softwar

[2019-01-31 15:23] carterenyi commented on #1094
Hi Kevin,

Thanks so much for following up. Just got back to US and resumed teaching,
hope to complete the revisions by next week.

Aaron

On Thu, Jan 31, 2019 at 9:15 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2019-01-31 15:35] whedon opened #1224 "[PRE REVIEW]: Basicsums: A Python package for computing structural sums and the effective conductivity of random composites"
**Submitting author:** @wojciech-n (<a href="http://orcid.org/0000-0002-5475-9173">Wojciech Nawalaniec</a>)
**Repository:** <a href="https://bitbucket.org/basicsums/basicsums" target ="_blank">https://bitbucket.org/basicsums/basicsums</a>
**Version:** v1.0.0
**Editor:** @eramirem
**Reviewers:** @lucydot, @mkhorton

**Author instructions**

Thanks for submitting your paper to JOSS @wojciech-n. The

[2019-01-31 15:35] whedon commented on #1224
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-31 15:35] whedon commented on #1224
[code]

[2019-01-31 15:35] whedon commented on #1224
PDF failed to compile for issue #1224 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f29247288e/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Wojciech Nawalaniec, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f29247288e/lib/whedon/author.rb:57:in

[2019-01-31 15:41] arfon commented on #1224
@wojciech-n - please update your paper metadata `affiliation` by quoting the string.

i.e. change `affiliation: 1,2` to `affiliation: "1,2"`

[code]

[2019-01-31 15:43] aslakbergersen commented on #1065
@brainstorm, I agree that moving the project into conda-forge is the better option. We have been working on adding `vmtk` to conda-forge, but we are facing [some problems](https://github.com/conda-forge/staged-recipes/pull/7609) with getting it to build properly against `vtk` and `itk`. We will hopefully resolve this issue soon.

Adding `morphMan` to conda-corge will be much simpler since it is pu

[2019-01-31 15:43] danielskatz commented on #1224
👋 @eramirem - would you be willing to edit this submission?

[2019-01-31 16:13] ssfrr commented on #1166
Hi Kevin, sorry for the delay. I should be able to take a look at this next week

[2019-01-31 16:40] pjotrp commented on #1215
@whedon assign @mgymrek as editor

[2019-01-31 16:40] whedon commented on #1215
OK, the editor is @mgymrek

[2019-01-31 16:43] wojciech-n commented on #1224
I have updated the affiliation metadata in the repository.

[2019-01-31 16:57] danielskatz commented on #1224
Thanks - I'm going to rebuild this.  In case it fails, you can make more changes, and then rebuild by the same command as a new comment here.

[2019-01-31 16:57] danielskatz commented on #1224
@whedon generate pdf

[2019-01-31 16:57] whedon commented on #1224
[code]

[2019-01-31 16:57] whedon commented on #1224
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01224/joss.01224/10.21105.joss.01224.pdf)

[2019-01-31 17:11] wojciech-n commented on #1224
@whedon generate pdf

[2019-01-31 17:11] whedon commented on #1224
[code]

[2019-01-31 17:11] whedon commented on #1224
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01224/joss.01224/10.21105.joss.01224.pdf)

[2019-01-31 17:19] wojciech-n commented on #1224
I added the missing figure. It compiles well now.

[2019-01-31 17:42] danielskatz commented on #1224
very good - we just need @eramirem to indicate willingness to edit, then she can start finding reviewers

[2019-01-31 18:03] chris-prener commented on #1221
Thanks @sjsrey and @edzer for volunteering to review - we're looking forward to your feedback!

[2019-01-31 18:56] taqtiqa-mark commented on #1157
My apologies for the delay.  It took a while to find my first notes. which follow:

I've had a quick look at the model PDF and some of the repository and can say, while its fresh in my mind:

The use-case appears to be reasonably well motivated - implementing a known/published model, and a non-trivial software stack (e.g. parallel libraries).

My working assumption is the question of originality i

[2019-01-31 20:14] jfsantos commented on #1166
I will work on it next Monday. Sorry for the delay.

--
João Felipe Santos

On Thu, 31 Jan 2019 at 11:13, Spencer Russell <notifications@github.com>
wrote:

[2019-01-31 21:12] pwollstadt commented on #1081
@cMadan, I prepared a [final release](https://github.com/pwollstadt/IDTxl/releases/tag/v1.0) containing all requested changes and linked it to Zenodo. Here is the DOI: [10.5281/zenodo.2554339](https://doi.org/10.5281/zenodo.2554339). Let me know if there is anything more you need from us for the publication. Thanks again to @Autoplectic and @danielemarinazzo and everyone else for your input!

[2019-01-31 22:12] lvermue commented on #1190
@arokem Thank you for your comments and useful suggestions!🙂
We have worked on all issues and feel confident that we have resolved them.

Regarding your previous comment:

The zip-file attached to this comment contains three different python scripts, e.g. for testing run-times for fixed row size with increasing column size, fixed column size with increasing row size as well as a symmetric increase

[2019-01-31 23:11] astrom-tom commented on #1217
@whedon generate pdf

[2019-01-31 23:11] whedon commented on #1217
[code]

[2019-01-31 23:11] whedon commented on #1217
PDF failed to compile for issue #1217 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f29247288e/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f29247288e/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f

[2019-01-31 23:18] astrom-tom commented on #1217
@whedon generate pdf

[2019-01-31 23:18] whedon commented on #1217
[code]

[2019-01-31 23:19] whedon commented on #1217
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01217/joss.01217/10.21105.joss.01217.pdf)

[2019-01-31 23:22] astrom-tom commented on #1217
@whedon generate pdf

[2019-01-31 23:22] whedon commented on #1217
[code]

[2019-01-31 23:23] whedon commented on #1217
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01217/joss.01217/10.21105.joss.01217.pdf)

[2019-01-31 23:34] astrom-tom commented on #1217
@whedon generate pdf

[2019-01-31 23:34] whedon commented on #1217
[code]

[2019-01-31 23:34] whedon commented on #1217
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01217/joss.01217/10.21105.joss.01217.pdf)

[2019-02-01 00:57] arokem commented on #1190
Hi @lvermue : nice work on these revisions. Most of my comments are addressed.

Regarding the performance benchmark: any reason not to add these to the repo of your software? Or, barring that, put that on another publicly available software that you could refer to in your manuscript? That would improve the reproducibility of these benchmark results (I am already running into some issues running th

[2019-02-01 00:59] arokem commented on #1111
@igarizio: looks good.

Could you please create an archive for the current state of the software (e.g., using [zenodo](https://zenodo.org/)) and post the doi that you get here?

[2019-02-01 02:52] igarizio commented on #1111
Great!
Here is the DOI: 10.5281/zenodo.2554632

[2019-02-01 04:34] mgymrek commented on #1215
@byandell would you be able to review this one? Or do you have any suggestions?

[2019-02-01 04:34] mgymrek commented on #1048
@linuxscout @timClicks @lmullen @zfurnas @masalmon @benmarwick pinging again to see if any of you would be able to review this one

[2019-02-01 04:35] mgymrek commented on #1145
@whedon generate pdf

[2019-02-01 04:35] whedon commented on #1145
[code]

[2019-02-01 04:36] whedon commented on #1145
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01145/joss.01145/10.21105.joss.01145.pdf)

[2019-02-01 04:39] mgymrek commented on #1145
Thanks @rmflight for the helpful review!
@tothuhien can you make a Zenodo archive and report the DOI here?

[2019-02-01 04:50] mgymrek commented on #1144
@stevendavis: The changes are not strictly necessary, however I do have the following comments about @richyanicky's points

1. It looks like the package uses PyVCF to parse VCFs. I believe reading gzipped vcfs should be supported (e.g. something like `vcf.Reader(open('file.vcf.gz', 'rb'))` has worked for me)

2. Can you clarify in the paper the data sizes you are targeting. I know it mentions path

[2019-02-01 06:49] timClicks commented on #1048
@mgymrek Hi Melissa! Sorry, I missed the first notification. I'll be happy to review.

[2019-02-01 07:08] danielskatz commented on #1217
No, it's not.  This is what I wrote in https://github.com/openjournals/joss-reviews/issues/1217#issuecomment-458549216

[2019-02-01 07:38] timClicks commented on #1048
Hi @scan2001, thanks for the paper submission. I'm not officially an assigned reviewer, but I've taken a quick look at the paper.

Let me start by saying that it's excellent to see NLP contributions to non-English languages.

**Prior art**

However, there are many text mining packages available, even sticking within the R community. I wonder if you should cite some of the other open source NLP pac

[2019-02-01 08:47] rlizzo commented on #1065
Hi Guys, I'm sorry I've been away. This has been a horribly busy start of the year that kept me off of github for a bit. If it's worth anything, the installation methods that I had previously commented on seem to be taken care of by @aslakbergersen's work on the conda-forge recipes. I've cleared up the rest of the checkboxes from my end. I'm terribly sorry to hold up the process. here. The package

[2019-02-01 09:32] jenskober commented on #1205
@graiola : @danielskatz contacted me, I actually have a github account (but no public repository).
I'd be happy to review the submission but will need a similar extension as @studywolf

[2019-02-01 09:42] danielskatz commented on #1205
@whedon add @jenskober as reviewer

[2019-02-01 09:42] whedon commented on #1205
OK, @jenskober is now a reviewer

[2019-02-01 09:42] danielskatz commented on #1205
@whedon start review

[2019-02-01 09:42] whedon opened #1225 "[REVIEW]: DmpBbo: A versatile Python/C++ library for Function Approximation, Dynamical Movement Primitives, and Black-Box Optimization"
**Submitting author:** @graiola (<a href="http://orcid.org/0000-0003-1481-1106">Gennaro Raiola</a>)
**Repository:** <a href="https://github.com/stulp/dmpbbo" target ="_blank">https://github.com/stulp/dmpbbo</a>
**Version:** 1.0.0
**Editor:** @danielskatz
**Reviewer:** @studywolf, @jenskober
**Archive:** <a href="https://doi.org/10.5281/zenodo.2669652" target="_blank">10.5281/zenodo.2669652</a>

##

[2019-02-01 09:42] whedon commented on #1205
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1225. Feel free to close this issue now!

[2019-02-01 09:42] whedon commented on #1225
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @studywolf, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-02-01 09:42] whedon commented on #1225
[code]

[2019-02-01 09:43] danielskatz commented on #1205
Thanks @jenskober  and @studywolf - let's move to #1225

[2019-02-01 09:43] #1205 closed

[2019-02-01 09:43] whedon commented on #1225
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01225/joss.01225/10.21105.joss.01225.pdf)

[2019-02-01 09:45] danielskatz commented on #1225
👋 @studywolf & @jenskober - thanks for agreeing to review.

I'll note here that we expect a couple of weeks delay until this gets started.

When you are ready to start, please see the comment above - your job is basically to review the paper and software according to your checklists, checking off items as they are deemed ok, and making either short comments or more detailed comments in the code re

[2019-02-01 09:49] danielskatz commented on #1157
Thanks @taqtiqa-mark - these details are very helpful.

In JOSS, we don't really have results like

We just say what's needed to be done, and then let the author decide to do this or not. In other words, we keep going until the submission is acceptable or we decide that it cannot be made so.

[2019-02-01 09:49] danielskatz commented on #1211
👋 @jasonclark, @arokem - ping... would one of you be willing to edit this submission?

[2019-02-01 09:50] danielskatz commented on #1195
👋 @poulson - ping... Are you able to edit this submission?

[2019-02-01 09:50] danielskatz commented on #1200
👋 @arokem - ping... Is this something you can take on as editor?

[2019-02-01 10:56] justinalsing commented on #1157
Hi @taqtiqa-mark ,

Thanks for your feedback.

I think it would help it I reiterate/clarify the scope of this code. The code is a suite of statistical models, written in stan, than can then be ran on user’s data using the pystan interface (provided by the stan team).

Along with the models, I provide a tutorial covering how to run the stan models using pystan — this is really to ease the way for u

[2019-02-01 12:49] steveped commented on #1145
Hi @mgymrek,

I've just created a release with the DOI & added the badge to the README. It's 10.5281/zenodo.2555032. Hopefully I got the process right for a first timer. :)

[2019-02-01 12:50] sivaramambikasaran commented on #1167
@poulson We have now added CONTRIBUTING.md file. Let us know if you would like us to add more information in that file.

[2019-02-01 13:11] eramirem commented on #1224
@danielskatz I can take this over

[2019-02-01 13:12] danielskatz commented on #1224
Thanks!

[2019-02-01 13:12] danielskatz commented on #1224
@whedon assign @eramirem as editor

[2019-02-01 13:12] whedon commented on #1224
OK, the editor is @eramirem

[2019-02-01 14:49] fospald commented on #1027
@ctdegroot @jedbrown Now I also added a fallback browser, when using "fibergen-gui --disable-browser", which at least provides the same functionality as the QtWebEngine browser but is a bit ugly.

[2019-02-01 15:04] poulson commented on #1167
@jedbrown I recommend the package for publication.

[2019-02-01 16:08] sriharikrishna commented on #1043
@jedbrown @lbenet I am very sorry for the inordinate delay.

I was able to review the software and confirm its functionality. The requirements for acceptance are met fully. I was unable, however, to check the performance claims because I do not have Mathematica readily available.

[2019-02-01 16:34] dleehr commented on #1201
OK, ready for the next steps and the PDF looks good to me.

[2019-02-01 19:44] jedbrown commented on #1043
@whedon generate pdf

[2019-02-01 19:44] whedon commented on #1043
[code]

[2019-02-01 19:44] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-02-01 19:45] jedbrown commented on #1043
@whedon check references

[2019-02-01 19:45] whedon commented on #1043
[code]

[2019-02-01 19:45] whedon commented on #1043
[code]

[2019-02-01 20:39] andrewjpage commented on #1021
@Kevin-Mattheus-Moerman Fixed thanks.

[2019-02-01 23:45] bmorris3 commented on #1130
Thanks @wtgee for the issues! We've addressed each one.

[2019-02-01 23:54] jedbrown commented on #1043
Thanks @sriharikrishna!

@lbenet Please see my PR referenced above. Once merged, I'll re-check the paper and if all looks good, we'll be ready to archive. Thanks.

[2019-02-02 00:09] jedbrown commented on #1167
@sivaramambikasaran Can you add a DOI for the published paper? Would it make sense to include any citations to related work (software or otherwise) to compare capability, scope, and the like?

should probably be

You can remove the link to the repository; that information will be in template.  Also, I think your wild escapes are causing Pandoc to eat the title of the paper. Does normal math syntax

[2019-02-02 01:12] grantjenks commented on #1223
Regarding the guidelines, I think it fits under:

[code]

But I may be wrong. I had JOSS suggested to me by the creator of IPython. And I received a GitHub Issue asking how to cite the project. Consider some of the users:

* Zipline, an algorithmic trading library from Quantopian
* Angr, a binary analysis platform from UC Santa Barbara
* Trio, an async I/O library
* Dask Distributed, a distributed

[2019-02-02 02:53] whedon opened #1226 "[PRE REVIEW]: A Hyperbolic "Crystal Ball""
**Submitting author:** @benjaminwilson (<a href="http://orcid.org/0000-0002-3708-0361">Benjamin Wilson</a>)
**Repository:** <a href="https://github.com/lateral/crystal-ball" target ="_blank">https://github.com/lateral/crystal-ball</a>
**Version:** v1.0.1
**Editor:** @poulson
**Reviewers:** @HaoZeke

**Author instructions**

Thanks for submitting your paper to JOSS @benjaminwilson. The JOSS editor

[2019-02-02 02:53] whedon commented on #1226
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-02 02:53] whedon commented on #1226
[code]

[2019-02-02 02:54] whedon commented on #1226
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01226/joss.01226/10.21105.joss.01226.pdf)

[2019-02-02 02:54] arfon commented on #1226
:wave: @benjaminwilson thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? The section [_'what should my p

[2019-02-02 02:57] whedon opened #1227 "[PRE REVIEW]: pyuvsim: a comprehensive simulation package for radio interferometers in python."
**Submitting author:** @aelanman (<a href="http://orcid.org/0000-0003-2116-3573">Adam Lanman</a>)
**Repository:** <a href="https://github.com/RadioAstronomySoftwareGroup/pyuvsim/" target ="_blank">https://github.com/RadioAstronomySoftwareGroup/pyuvsim/</a>
**Version:** v0.2.1
**Editor:** @arfon
**Reviewers:** @ygrange

**Author instructions**

Thanks for submitting your paper to JOSS @aelanman. Th

[2019-02-02 02:57] whedon commented on #1227
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-02 02:57] whedon commented on #1227
[code]

[2019-02-02 02:57] whedon commented on #1227
PDF failed to compile for issue #1227 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    200      0 --:--:-- --:--:-- --:--:--   202
Error reading bib

[2019-02-02 03:07] astrom-tom commented on #1217
A high-level overview of this documentation should be included in a README file (or equivalent).

What means 'or equivalent'?
In any case, I updated the readme and pointed also to the real online documentation.

[2019-02-02 04:12] aelanman commented on #1227
@whedon commands

[2019-02-02 04:12] whedon commented on #1227
Here are some things you can ask me to do:

[code]

[2019-02-02 04:31] lbenet commented on #1043
Thanks a lot @sriharikrishna.

@jedbrown There is a small typo on a keyword in https://github.com/JuliaDiff/TaylorSeries.jl/pull/192. Aside from that, LGTM.

[2019-02-02 21:18] Benjamin-Lee commented on #1196
@pjotrp Happy to review for this

[2019-02-03 01:52] brainstorm commented on #1196
@whedon assign @Benjamin-Lee as reviewer

[2019-02-03 01:52] whedon commented on #1196
OK, the reviewer is @Benjamin-Lee

[2019-02-03 01:53] brainstorm commented on #1196
@whedon start review

[2019-02-03 01:53] whedon opened #1228 "[REVIEW]: Bedparse: feature extraction from BED files"
**Submitting author:** @tleonardi (<a href="http://orcid.org/0000-0002-4449-1863">Tommaso Leonardi</a>)
**Repository:** <a href="https://github.com/tleonardi/bedparse" target ="_blank">https://github.com/tleonardi/bedparse</a>
**Version:** v0.2.2
**Editor:** @brainstorm
**Reviewer:** @Benjamin-Lee
**Archive:** <a href="https://doi.org/10.5281/zenodo.2578820" target="_blank">10.5281/zenodo.2578820<

[2019-02-03 01:53] whedon commented on #1196
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1228. Feel free to close this issue now!

[2019-02-03 01:53] whedon commented on #1228
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Benjamin-Lee it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-02-03 01:53] whedon commented on #1228
[code]

[2019-02-03 01:53] #1196 closed

[2019-02-03 01:53] whedon commented on #1228
PDF failed to compile for issue #1228 with the following error:

 Can't find any papers to compile :-(

[2019-02-03 03:07] arfon commented on #1223
Hi @grantjenks - please take a look at the [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html) and prepare a `paper.md` and `paper.bib` file and include them in your repository (https://github.com/grantjenks/python-sortedcontainers). Once you've uploaded them, Whedon (the robot here) will be able to compile the paper.

In your paper, please be sure to address each of the

[2019-02-03 06:11] aelanman commented on #1227
@whedon generate pdf

[2019-02-03 06:11] whedon commented on #1227
[code]

[2019-02-03 06:11] whedon commented on #1227
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01227/joss.01227/10.21105.joss.01227.pdf)

[2019-02-03 07:11] danielskatz commented on #1217
Equivalent is in case the software is not on github and in some other system where the initial file has some other name.

[2019-02-03 07:12] danielskatz commented on #1217
👋 @arfon - can you edit this submission?

[2019-02-03 07:18] danielskatz commented on #1227
👋 @arfon - are you able to edit this?

[2019-02-03 11:15] pdiakumis commented on #1160
Hi @aguang,

First of all, thank you so much for submitting to JOSS!

It was my very first review, and my Rcpp/C++/SeqAn knowledge was non-existent, so apologies for the delay. On the bright side, I learnt how to use them over the afternoon and I've been blown away by the magic.

Here are a couple of comments:

* Maybe a quick note under [Usage](https://github.com/compbiocore/RSeqAn#usage) with e.

[2019-02-03 14:12] tth030 commented on #1136
Installation: Does installation proceed as outlined in the documentation?

** NO

After many tests, I was unable to test UWGeodynamics.

LOCAL INSTALLATION
I worked under Mac Os x 10.12.6.
Underworld2 is required to run UWGeodynamics. I believe that my system is well set. I use Spack to deal with my environment.  I went through the installation using python2.7.15 but ipython5.8.0 is freezing when

[2019-02-03 14:18] pjotrp commented on #1201
Thanks @dleehr. @amoeba you can start review.

[2019-02-03 15:39] benoitpaillard commented on #1203
Hi all, sorry for the late completion.

The really only issue I'd mention is the dependency to pythonocc which is still a mess to compile, but don't get me wrong, I'm using it in my projects as well ! I just wish it could be compiled more easily.

Appart from that, finally a code that does 3D blades, but also robust naca and general airfoil generators !! Congrats guys, great tool.

[2019-02-03 16:05] poulson commented on #1195
@arfon @danielskatz Yes, I would be happy to edit this submission and apologize, none of my pings had been going through. I promise I was not actively ignoring this!

[2019-02-03 16:09] poulson commented on #1222
@danielskatz I am happy to edit this paper! Still getting used to finding the notifications for this!

[2019-02-03 16:12] poulson commented on #1222
@stsievert Would you be willing to review this paper?

[2019-02-03 16:14] poulson commented on #1222
@jakobbossek Would you be willing to review this paper?

[2019-02-03 16:15] labarba commented on #1203
@mtezzele — Some final editorial comments:

¶1.
obtain designs which allow >> that allow
prototipation environment >> prototyping environment
By a practical standpoint, the propeller blade >> From a practical standpoint, a propeller blade
the shape of a certain number of sectional profile shapes >> the shape of a certain number of sectional profiles
a morphing tool that expand >> expands
In partic

[2019-02-03 16:18] poulson commented on #1195
@lmcinnes Would you be able to review this submission?

[2019-02-03 16:19] poulson commented on #1195
@adavidzh Would you be able to review this submission?

[2019-02-03 16:49] lvermue commented on #1190
The initial reason not to add the runtime analysis scripts to our repo was that they were not considered as a part of the software itself. However, as they are a part of the paper I agree with you and have now added them as a subdirectory called 'benchmark' within the paper directory, including a small README showing the requirements to run the tests. Furthermore, the scripts were cleaned up and c

[2019-02-03 17:03] #943 closed

[2019-02-03 17:10] tleonardi commented on #1228
@whedon generate pdf from branch paper
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

On 3 February 2019 01:53:18 GMT, whedon <notifications@github.com> wrote:

[2019-02-03 17:10] whedon commented on #1228
[code]

[2019-02-03 17:10] whedon commented on #1228
PDF failed to compile for issue #1228 with the following error:

 Can't find any papers to compile :-(

[2019-02-03 17:18] tleonardi commented on #1228
@whedon generate pdf from branch paper

[2019-02-03 17:18] whedon commented on #1228
[code]

[2019-02-03 17:18] whedon commented on #1228
PDF failed to compile for issue #1228 with the following error:

 Can't find any papers to compile :-(

[2019-02-03 17:35] arfon commented on #1228
@tleonardi - I'm not sure why Whedon can't pick up the branch properly. I've compiled the paper locally: [10.21105.joss.01228.pdf](https://github.com/openjournals/joss-reviews/files/2825803/10.21105.joss.01228.pdf)

[2019-02-03 19:36] taqtiqa-mark commented on #1157
@danielskatz,

I've amended my comment o remove that observation.

@justinalsing makes the following observation:

My assumption is that this question has been resolved in the affirmative by the (sub-)editor(s) - otherwise this would not have progressed to the review stage.
Please indicate if that assumption is correct.

If incorrect, are there JOSS guidelines to on what is a "valid open source pr

[2019-02-03 20:13] arokem commented on #1200
Sorry for the delay. I can do this.

[2019-02-03 20:13] arokem commented on #1200
@whedon assign arokem as editor

[2019-02-03 20:13] whedon commented on #1200
OK, the editor is arokem

[2019-02-03 20:39] arokem commented on #1200
@fonnesbeck : would you be willing to review this article for [JOSS](http://joss.theoj.org/)?

[2019-02-03 20:41] fonnesbeck commented on #1200
@arokem yes, I can do it.

[2019-02-03 21:39] yochannah commented on #1214
@swoodhouse 👋 I wonder if you might be interested in reviewing this paper by any chance?

[2019-02-03 21:49] karthik commented on #1056
@whedon generate pdf

[2019-02-03 21:49] whedon commented on #1056
[code]

[2019-02-03 21:49] whedon commented on #1056
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01056/joss.01056/10.21105.joss.01056.pdf)

[2019-02-03 22:14] behollister commented on #1185
@trallard, I'm currently using [Linux Build](https://github.com/3dct/open_iA/wiki/Linux-Build) instructions to verify manual installation. Mostly looks okay.

However, I can't verify [Windows Build](https://github.com/3dct/open_iA/wiki/Windows-Build), as I don't have access to a Windows system.

Will it be possible for you or @katyhuff to verify building / installation on Windows?

[2019-02-03 22:46] vyasr commented on #1209
Nice work on the project! Here are some initial requests from my first pass of review, most of them shouldn't be too difficult.

- [ ] Remove the extraneous test_notebook folder in the root of the repo, as far as I can tell it's not being used any longer.
- [ ] Currently the unit test structure is a bit confusing. The Python files in the `tests/` directory fail because `pyscses` is still referred

[2019-02-03 23:12] wtgee commented on #1130
Ok y'all. Sorry that took me so long. Looks good after the recent changes by @bmorris3!.

@arfon I promise the ones in the future won't take so long!

[2019-02-04 01:36] stsievert commented on #1222
@poulson I don't think so – I have my plate full with other tasks. Sorry.

[2019-02-04 01:41] arokem commented on #1200
Thanks!

[2019-02-04 01:42] arokem commented on #1200
@whedon assign fonnesbeck as reviewer

[2019-02-04 01:42] whedon commented on #1200
OK, the reviewer is fonnesbeck

[2019-02-04 01:42] arokem commented on #1200
@whedon start review

[2019-02-04 01:42] whedon opened #1229 "[REVIEW]: Model dispersion with PRISM; an alternative to MCMC for rapid analysis of models"
**Submitting author:** @1313e (<a href="http://orcid.org/0000-0002-1559-9832">Ellert van der Velden</a>)
**Repository:** <a href="https://github.com/1313e/PRISM" target ="_blank">https://github.com/1313e/PRISM</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewer:** @fonnesbeck
**Archive:** <a href="https://doi.org/10.5281/zenodo.2572736" target="_blank">10.5281/zenodo.2572736</a>

## Status

[![

[2019-02-04 01:42] whedon commented on #1200
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1229. Feel free to close this issue now!

[2019-02-04 01:42] whedon commented on #1229
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fonnesbeck it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-02-04 01:42] whedon commented on #1229
[code]

[2019-02-04 01:42] arokem commented on #1200
Thanks a lot for taking this on! Please head over to #1229 for the reviewer checklist. I'm closing this one.

[2019-02-04 01:42] #1200 closed

[2019-02-04 01:42] whedon commented on #1229
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01229/joss.01229/10.21105.joss.01229.pdf)

[2019-02-04 02:31] 1313e commented on #1229
As mentioned in the blog here (http://blog.joss.theoj.org/2018/12/a-new-collaboration-with-aas-publishing),
it must be clear to all parties involved that a JOSS submission is associated with an AAS Journals submission.
Given that there is currently (as far as I know) not a defined way of doing so, I would like to mention here that there is an AAS submission associated with this JOSS submission.

@

[2019-02-04 03:17] karthik commented on #1056
@whedon commands

[2019-02-04 03:17] whedon commented on #1056
Here are some things you can ask me to do:

[code]

[2019-02-04 03:18] karthik commented on #1056
@whedon check references

[2019-02-04 03:18] whedon commented on #1056
[code]

[2019-02-04 03:18] whedon commented on #1056
[code]

[2019-02-04 03:18] karthik commented on #1056
@bastistician Can you please deposit the latest version of your package on Zenodo and share the DOI with me here? 🙏

[2019-02-04 03:38] arokem commented on #1111
@whedon set 10.5281/zenodo.2554632 as archive

[2019-02-04 03:40] arokem commented on #1111
Congratulations @igarizio! Your paper is now ready to be accepted.

Thanks @jmhernan for the review!

Please stand by for the EIC or an Associate EIC to drop by and finalize this.

cc: @arfon, @danielskatz, @labarba, @kyleniemeyer

[2019-02-04 03:42] arokem commented on #1171
Hey @effigies/@damaggu: have you had a chance to take a look?

[2019-02-04 03:45] arokem commented on #1172
@lucask07 : regarding versions: yes, that's not a problem. The eventual paper will point to a DOI of an archive that you will create (e.g., on zenodo) from the version of the software that incorporates comments/fixes that happened through the review process.

[2019-02-04 05:36] sivaramambikasaran commented on #1167
@whedon generate pdf

[2019-02-04 05:36] whedon commented on #1167
[code]

[2019-02-04 05:37] whedon commented on #1167
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01167/joss.01167/10.21105.joss.01167.pdf)

[2019-02-04 05:56] sivaramambikasaran commented on #1167
@jedbrown Our replies are inline.

Done.

While our library has some similarity with other libraries such as STRUMPACK and H2Lib, each works on a different structure and comparisons among them would be difficult to evaluate.

Done.

Done.

We tried compiling using pandoc from markdown to LaTeX and it seems to work fine. The article generated by whedon also shows the title. So we don't quite unders

[2019-02-04 06:07] jedbrown commented on #1027
@whedon check references

[2019-02-04 06:08] whedon commented on #1027
[code]

[2019-02-04 06:08] whedon commented on #1027
[code]

[2019-02-04 06:13] jedbrown commented on #1027
@fospald Can you fix the citations that use inline style to use appropriate syntax `the method of @bibkey` versus `the method of [@bibkey]`? See https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_syntax

Looks good to me otherwise.

[2019-02-04 07:18] adavidzh commented on #1195
I just looked through the different materials and can do.

[2019-02-04 08:49] jakobbossek commented on #1222
@stsievert Sorry, covered with many other task. Moreover, I am not familiar with the Julia language.

[2019-02-04 11:17] bjmorgan commented on #1209
We have removed this unpublished reference (https://github.com/bjmorgan/pyscses/commit/65f5e940961175d1d029d41784eccb05ccedb67e). If it is ready for publishing as a preprint before this review is complete we will add it back at that stage.

[2019-02-04 11:43] mahgadalla commented on #1203
@whedon generate pdf

[2019-02-04 11:43] whedon commented on #1203
[code]

[2019-02-04 11:44] whedon commented on #1203
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01203/joss.01203/10.21105.joss.01203.pdf)

[2019-02-04 11:53] arfon commented on #1111
@whedon accept

[2019-02-04 11:53] whedon commented on #1111
[code]

[2019-02-04 11:54] whedon commented on #1111
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/471

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/471, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-04 11:54] whedon commented on #1111
[code]

[2019-02-04 11:56] arfon commented on #1111
One last thing @igarizio - could you please check to see if the references above under `MISSING DOIS` are indeed the correct DOIs for some of your references? If they are, then please add the DOI field to your bibtex.

[2019-02-04 11:59] igarizio commented on #1111
Sure @arfon, I will check it right away.

[2019-02-04 12:05] mahgadalla commented on #1203
@labarba thanks a lot! the editorial comments are now fixed. Please let us know if the in-text citation looks ok now, also if the first citation should be regarded as in-text as well?

[2019-02-04 12:08] fospald commented on #1027
@whedon generate pdf

[2019-02-04 12:09] whedon commented on #1027
[code]

[2019-02-04 12:09] whedon commented on #1027
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01027/joss.01027/10.21105.joss.01027.pdf)

[2019-02-04 12:16] fospald commented on #1027
@whedon generate pdf

[2019-02-04 12:16] whedon commented on #1027
[code]

[2019-02-04 12:17] fospald commented on #1027
@whedon check references

[2019-02-04 12:17] whedon commented on #1027
[code]

[2019-02-04 12:17] whedon commented on #1027
PDF failed to compile for issue #1027 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0     31      0 --:--:-- --:--:-- --:--:--    31
100    17    0

[2019-02-04 12:17] fospald commented on #1027
@whedon generate pdf

[2019-02-04 12:17] whedon commented on #1027
[code]

[2019-02-04 12:18] igarizio commented on #1111
@arfon I added the missing DOIs.

[2019-02-04 12:18] whedon commented on #1027
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01027/joss.01027/10.21105.joss.01027.pdf)

[2019-02-04 12:19] arfon commented on #1111
@whedon accept

[2019-02-04 12:19] whedon commented on #1111
[code]

[2019-02-04 12:19] whedon commented on #1111
[code]

[2019-02-04 12:19] whedon commented on #1111
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/472

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/472, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-04 12:20] fospald commented on #1027
@jedbrown I updated the citations (DOIs and titles) but there were no inline citations.

[2019-02-04 12:21] arfon commented on #1111
@whedon accept deposit=true

[2019-02-04 12:21] whedon commented on #1111
[code]

[2019-02-04 12:22] whedon commented on #1111
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/473
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01111](https://doi.org/10.21105/joss.01111)
2. If everything looks go

[2019-02-04 12:34] danielskatz commented on #1157
Also, @taqtiqa-mark - I think that rather than editing comments to address responses, it's better to just write a new comment, and, as you've said, to open issues in the source repository with links to them here.  And so, to get an up-to-date status, can you (and also @Chilipp) please add new comments below that tell us what your current concerns are (linking to issues as needed)?

[2019-02-04 12:35] danielskatz commented on #1208
👋 @lrasmus @CBenghi - Can I get an update from you on this review?

[2019-02-04 12:36] danielskatz commented on #1097
@eendebakpt - Is there any further update at this point?

[2019-02-04 12:38] effigies commented on #1171
Ah, no. Thanks for the reminder. I'll make time this week.

[2019-02-04 12:41] danielskatz commented on #1195
@whedon assign @poulson as editor

by the way @poulson - you perform this command too...

[2019-02-04 12:41] whedon commented on #1195
OK, the editor is @poulson

[2019-02-04 12:42] arfon commented on #1223
👍 I think that's OK too. Please go ahead and prepare a paper to accompany this submission @grantjenks.

[2019-02-04 12:43] arfon commented on #1214
@whedon generate pdf

[2019-02-04 12:43] whedon commented on #1214
[code]

[2019-02-04 12:43] whedon commented on #1214
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01214/joss.01214/10.21105.joss.01214.pdf)

[2019-02-04 12:47] danielskatz commented on #1217
@astrom-tom Regarding the readme, thanks for your updates, and, can you try to generalize it a bit? Think about how it will look to non-astronomers - will they have any idea what the software does? Or who might want to use it, and for what kind of research problems?

[2019-02-04 12:51] labarba commented on #1203
Yes, I missed that one. Whenever the citation is part of the sentence, treat as in-text.

[2019-02-04 13:33] eendebakpt commented on #1097
@gsagnal @danielskatz

Thank you for the extensive review of our package. We tried to addressed the issues you raised on the OApackage issue tracker. In particular:

https://github.com/eendebakpt/oapackage/issues/92: The github site now points to https://oapackage.readthedocs.io/. The webssite with generated results in mentioned on the readthedocs documentation.
https://github.com/eendebakpt/oapac

[2019-02-04 13:41] mahgadalla commented on #1203
@whedon generate pdf

[2019-02-04 13:41] whedon commented on #1203
[code]

[2019-02-04 13:41] whedon commented on #1203
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01203/joss.01203/10.21105.joss.01203.pdf)

[2019-02-04 13:46] poulson commented on #1195
@whedon assign @adavidzh as reviewer

[2019-02-04 13:46] whedon commented on #1195
OK, the reviewer is @adavidzh

[2019-02-04 13:46] mahgadalla commented on #1203
@labarba ok done!
Are there any further comments to consider?

[2019-02-04 13:47] poulson commented on #1195
@whedon commands

[2019-02-04 13:47] whedon commented on #1195
Here are some things you can ask me to do:

[code]

[2019-02-04 13:47] labarba commented on #1203
At this point, we ask you that you make a full archive of the repository in Zenodo or a similar service, and post the archive DOI on this thread. Thanks!

[2019-02-04 13:48] poulson commented on #1195
@whedon start review

[2019-02-04 13:48] whedon opened #1230 "[REVIEW]: pyclustering"
**Submitting author:** @annoviko (<a href="http://orcid.org/0000-0002-9666-9141">Andrei Novikov</a>)
**Repository:** <a href="https://github.com/annoviko/pyclustering" target ="_blank">https://github.com/annoviko/pyclustering</a>
**Version:** 0.8.2
**Editor:** @poulson
**Reviewer:** @adavidzh
**Archive:** <a href="https://doi.org/10.5281/zenodo.2636831" target="_blank">10.5281/zenodo.2636831</a>

[2019-02-04 13:48] whedon commented on #1195
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1230. Feel free to close this issue now!

[2019-02-04 13:48] whedon commented on #1230
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adavidzh it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-02-04 13:48] whedon commented on #1230
[code]

[2019-02-04 13:48] #1195 closed

[2019-02-04 13:48] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-02-04 13:49] poulson commented on #1222
@andim Would you be willing to review this paper?

[2019-02-04 13:59] benjaminwilson commented on #1226
Hi @arfon pleased to meet you.  The submission is in the category of "supports the functioning of research instruments or the execution of research experiments" (from the guidelines), rather than being research itself.  The core purpose is the inspection of hyperbolic embeddings resulting from machine learning pipelines, such as those cited in `paper.md` (the Leimeiser & Wilson paper is our own wo

[2019-02-04 13:59] poulson commented on #1222
@ChrisRackauckas would you be willing to review this paper?

[2019-02-04 14:07] benjaminwilson commented on #1226
Looking at the list of reviewers, I found the following which may be good candidates:

+ HaoZeke - geometry and JavaScript
+ Danbo3004 - ML and JavaScript
+ neurons - ML and JavaScript
+ zfrenchee - ML and JavaScript

[2019-02-04 14:08] poulson commented on #1226
Exploring large point clouds of embeddings is a standard step in research pipelines (especially if the embeddings can have a string associated with them). If this tool can visualize large amounts of points (e.g., at least thousands) in this manner, I can vouch that I would have used it in my last research job.

[2019-02-04 14:23] jedbrown commented on #1167
@whedon generate pdf

[2019-02-04 14:23] whedon commented on #1167
[code]

[2019-02-04 14:24] whedon commented on #1167
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01167/joss.01167/10.21105.joss.01167.pdf)

[2019-02-04 14:35] benjaminwilson commented on #1226
Thanks @poulson . Indeed, the situation is compounded by the negative curvature of hyperbolic space, for which visualisations in the Euclidean plane, regardless of how they are derived (t-SNE, PCA, etc.) drastically distort the distances.

I could perhaps add some functionality for using custom labels - I'll add that to the list.

In terms of scale, I can report that I've tested in with 1.2k nodes

[2019-02-04 15:01] jedbrown commented on #1027
`original method by [@MoulinecSuquet1994]` should be `original method by @MoulinecSuquet1994` (it will place the parentheses differently). There are several other citations like this.

If it's a part of the sentence, then it's "inline". The alternative would be to write so the citations are parenthetical, as in `original method [@MoulinecSuquet1994] and more recent ... on rotated [@Willot2015] and

[2019-02-04 15:04] fospald commented on #1027
@whedon generate pdf

[2019-02-04 15:04] whedon commented on #1027
[code]

[2019-02-04 15:05] whedon commented on #1027
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01027/joss.01027/10.21105.joss.01027.pdf)

[2019-02-04 15:07] fospald commented on #1027
@whedon generate pdf

[2019-02-04 15:08] whedon commented on #1027
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01027/joss.01027/10.21105.joss.01027.pdf)

[2019-02-04 15:15] fospald commented on #1027
@jedbrown Understood. I updated the citations.

[2019-02-04 16:13] lheagy commented on #808
:wave: Hi @leouieda and @hugoledoux, would either of you have time to take a look at the testing additions this week? If not, please let me know and I can go through. Thanks!

[2019-02-04 16:22] lheagy commented on #1136
Thanks @tth030 for taking time to work through this. I can find someone else to step in as we move forward.

@rbeucher, I appreciate that some of the software installation steps might depend on how Underworld2 distributes software. One suggestion for simplifying things and demonstrating that the software can be installed would be to use binder: https://mybinder.org/ (which can take docker files) a

[2019-02-04 16:26] trallard commented on #1185
I can conduct my review on a Windows machine :grin: if needed but if this works on Linux I would say it satisfies the installation requirements

[2019-02-04 16:34] mahgadalla commented on #1203
@labarba here's the Zenodo archive DOI:
[10.5281/zenodo.2556690](http://doi.org/10.5281/zenodo.2556690)

[2019-02-04 16:39] labarba commented on #1203
Could you edit the title on Zenodo to match the paper?

[2019-02-04 16:44] poulson commented on #1226
@whedon assign @poulson as editor

[2019-02-04 16:44] whedon commented on #1226
OK, the editor is @poulson

[2019-02-04 16:53] mahgadalla commented on #1203
Sure! Edited now. (Y)

[2019-02-04 17:05] poulson commented on #1226
@HaoZeke would you be willing to review this paper?

[2019-02-04 17:06] poulson commented on #1226
@Danbo3004 would you be willing to review this paper?

[2019-02-04 17:07] garrettj403 commented on #1175
Hi @labarba, I emailed @paulkgrimes and he's able to be a reviewer. He has worked on SIS mixers for +10 years, so he is able to review the components that require in-depth knowledge of SIS mixers.

[2019-02-04 17:43] lbenet commented on #1043
https://github.com/JuliaDiff/TaylorSeries.jl/pull/192 is merged. Thanks a lot!

[2019-02-04 17:51] jedbrown commented on #1043
@whedon generate pdf

[2019-02-04 17:51] whedon commented on #1043
[code]

[2019-02-04 17:52] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-02-04 17:53] jedbrown commented on #1043
@whedon check references

[2019-02-04 17:53] whedon commented on #1043
[code]

[2019-02-04 17:53] whedon commented on #1043
[code]

[2019-02-04 17:54] jedbrown commented on #1043
@lbenet Looks good to me. Please archive on Zenodo and report the DOI back here. Thanks.

[2019-02-04 18:14] fospald commented on #1027
@jedbrown The DOI is: 10.5281/zenodo.2556861
for the v1.0 release.
https://doi.org/10.5281/zenodo.2556861
Not sure, why it is not found (takes time to register?)

[2019-02-04 18:16] lbenet commented on #1043
@jedbrown What is the usual way of proceeding now: tagging a new minor version (0.9.0), or a patch version (0.8.2)?

[2019-02-04 18:21] labarba commented on #1203
@whedon set 10.5281/zenodo.2556690 as archive

[2019-02-04 18:21] whedon commented on #1203
OK. <a href="https://doi.org/10.5281/zenodo.2556690" target="_blank">10.5281/zenodo.2556690</a> is the archive.

[2019-02-04 18:30] whedon commented on #1203
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/475
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01203](https://doi.org/10.21105/joss.01203)
2. If everything looks go

[2019-02-04 18:33] mtezzele commented on #1203
@labarba @Juanlu001 @benoitpaillard thank you all for your time and effort in this review.
It has been a pleasure.

[2019-02-04 18:33] #1203 closed

[2019-02-04 18:33] whedon commented on #1203
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01203/status.svg)](https://doi.org/10.21105/joss.01203)

**We need your help!**

Journal of Open Source Softwar

[2019-02-04 18:34] labarba commented on #1203
My sincere thanks to our reviewers, @benoitpaillard, @Juanlu001 — this adventure in new-wave publishing would not be possible without you.

[2019-02-04 18:38] jedbrown commented on #1043
Up to you. Patch/subminor version is fine.

[2019-02-04 18:46] HaoZeke commented on #1226
@poulson I am a little backed up with another review but I would be glad to look this over next week if it is still relevant..

[2019-02-04 18:52] jedbrown commented on #1027
@fospald Can you please use an *annotated* tag?

[2019-02-04 18:55] rbeucher commented on #1136
Thanks @lheagy. Sure I can set up Binder.

[2019-02-04 19:12] labarba commented on #1175
👋  @PaulKGrimes — We hear you are willing to provide a review for this submission to JOSS? (Please confirm.) We have two other reviewers, but since the subject of the paper is far out of my areas of expertise, I would welcome another pair of eyes on this.

[2019-02-04 19:12] rbeucher commented on #1136
Thanks for your time @tth030. I appreciate that the Underworld dependencies, mainly petsc and hdf can be hard to compile, especially if one is not used to do that sort of things. It indeed requires skills and I am sorry you could not get it to work. This is why we provide  docker image. The Docker team provides detailed instructions on how to install docker. Now the image is indeed quite big. This

[2019-02-04 19:43] PaulKGrimes commented on #1175
Hi Lorena,

Yes, I'm absolutely willing to review this submission.  I've been working
on SIS mixer simulation on and off in Python and C++ for the past 16 years,
so hopefully I can provide useful feedback.

Paul Grimes
--
Submillimeter Array/Receiver Laboratory
Center for Astrophysics | Harvard & Smithsonian
+1 (617) 496-7640

On Mon, Feb 4, 2019 at 2:12 PM Lorena A. Barba <notifications@github.co

[2019-02-04 19:49] labarba commented on #1175
@whedon add @PaulKGrimes as reviewer

[2019-02-04 19:49] whedon commented on #1175
OK, @PaulKGrimes is now a reviewer

[2019-02-04 19:49] labarba commented on #1175
@whedon start review

[2019-02-04 19:50] whedon opened #1231 "[REVIEW]: QMix: A Python package for simulating the quasiparticle tunneling currents in SIS junctions"
**Submitting author:** @garrettj403 (<a href="http://orcid.org/0000-0002-5509-5006">John Garrett</a>)
**Repository:** <a href="https://github.com/garrettj403/QMix/" target ="_blank">https://github.com/garrettj403/QMix/</a>
**Version:** v1.0.3
**Editor:** @labarba
**Reviewer:** @FaustinCarter, @josephhardinee, @PaulKGrimes
**Archive:** <a href="https://doi.org/10.5281/zenodo.2538162" target="_blank

[2019-02-04 19:50] whedon commented on #1175
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1231. Feel free to close this issue now!

[2019-02-04 19:50] whedon commented on #1231
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @FaustinCarter, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-02-04 19:50] whedon commented on #1231
[code]

[2019-02-04 19:50] #1175 closed

[2019-02-04 19:50] whedon commented on #1231
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01231/joss.01231/10.21105.joss.01231.pdf)

[2019-02-04 19:51] labarba commented on #1231
👋  @FaustinCarter, @josephhardinee, @PaulKGrimes — This is where the action happens. You can read about the JOSS [Review Process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) in our documentation. Feel free to ask any questions here, and to open issues in the target repo, as needed.

[2019-02-04 20:13] whedon opened #1232 "[PRE REVIEW]: pycoQC, interactive quality control for Oxford Nanopore Sequencing"
**Submitting author:** @a-slide (<a href="http://orcid.org/0000-0001-8772-6776">Adrien Leger</a>)
**Repository:** <a href="https://github.com/a-slide/pycoQC" target ="_blank">https://github.com/a-slide/pycoQC</a>
**Version:** v2.2.0
**Editor:** @pjotrp
**Reviewers:** @george-githinji

**Author instructions**

Thanks for submitting your paper to JOSS @a-slide. The JOSS editor Pending, will work wit

[2019-02-04 20:13] whedon commented on #1232
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-04 20:13] whedon commented on #1232
[code]

[2019-02-04 20:13] whedon commented on #1232
PDF failed to compile for issue #1232 with the following error:

 Can't find any papers to compile :-(

[2019-02-04 20:15] sjsrey commented on #1221
@chris-prener when installing via
[code]
 I'm getting:
[code]

I realize this might be due to using R installed via conda. But on Ubuntu 18.04 I'm getting the same error(s) on a clean install of R from the official repositories:
[code]

[2019-02-04 20:20] arfon commented on #1075
:wave: @mnarayan - please leave an update on this review issue when you can.

[2019-02-04 20:20] sjsrey opened #1233 "install error"
Moving this to an issue to remove subsequent discussion outside review thread

@chris-prener when installing via
[code]
 I'm getting:
[code]

I realize this might be due to using R installed via conda. But on Ubuntu 18.04 I'm getting the same error(s) on a clean install of R from the official repositories:
[code]

_Originally posted by @sjsrey in https://github.com/openjournals/joss-reviews/issues

[2019-02-04 20:20] whedon commented on #1233
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-04 20:20] whedon commented on #1233
[code]

[2019-02-04 20:20] whedon commented on #1233
PDF failed to compile for issue #1233 with the following error:

 Can't find any papers to compile :-(

[2019-02-04 20:21] arfon commented on #1087
Friendly reminder to pick up this review sometime soon please @kbenoit

[2019-02-04 20:22] arfon commented on #722
:wave: @mrecos - how are you getting along here?

[2019-02-04 20:53] ChrisRackauckas commented on #1222
Sorry, I'm booked. If it comes late March and no one has picked it up then ping me again.

[2019-02-04 21:01] poulson commented on #1226
Thank you for the quick comments @HaoZeke. I will wait to hear back from @Danbo3004 and, if they don't get back, I think by next week would be fine. It seems like you've already done some legwork.

[2019-02-04 21:02] poulson commented on #1222
@sarats do you have time to help review this paper?

[2019-02-04 21:11] ygrange commented on #1227
That's a remarkably on-topic tool actually! I'll do it.

[2019-02-04 21:16] arfon commented on #1227
@whedon assign @ygrange as reviewer

[2019-02-04 21:16] whedon commented on #1227
OK, the reviewer is @ygrange

[2019-02-04 21:16] arfon commented on #1227
@whedon start review

[2019-02-04 21:16] whedon commented on #1227
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1234. Feel free to close this issue now!

[2019-02-04 21:16] whedon opened #1234 "[REVIEW]: pyuvsim: a comprehensive simulation package for radio interferometers in python."
**Submitting author:** @aelanman (<a href="http://orcid.org/0000-0003-2116-3573">Adam Lanman</a>)
**Repository:** <a href="https://github.com/RadioAstronomySoftwareGroup/pyuvsim/" target ="_blank">https://github.com/RadioAstronomySoftwareGroup/pyuvsim/</a>
**Version:** v0.2.1
**Editor:** @arfon
**Reviewer:** @ygrange
**Archive:** <a href="https://doi.org/10.5281/zenodo.2847055" target="_blank">10.

[2019-02-04 21:16] whedon commented on #1234
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ygrange it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-02-04 21:16] whedon commented on #1234
[code]

[2019-02-04 21:17] arfon commented on #1227
@ygrange please head over to #1234 for the actual review.

[2019-02-04 21:17] #1227 closed

[2019-02-04 21:17] whedon commented on #1234
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01234/joss.01234/10.21105.joss.01234.pdf)

[2019-02-04 23:15] bjmorgan commented on #1209
API documentation appears to be fixed after the latest commit (https://github.com/bjmorgan/pyscses/commit/1abbde059886511f82d6cba1056916a31e97e2a7).

e.g. https://pyscses.readthedocs.io/en/latest/pyscses.html

[2019-02-04 23:44] kyleniemeyer commented on #1233
Hi @sjsrey, can you please move this to the issues for the [joss repo](https://github.com/openjournals/joss)? This repo is only for reviewing submissions to the journal.

[2019-02-04 23:44] #1233 closed

[2019-02-04 23:47] kyleniemeyer commented on #1233
@sjsrey oh, I just noticed this issue is actually for the software associated with a submission, and that you opened it here: https://github.com/slu-openGIS/areal/issues/17

[2019-02-05 00:33] 1313e commented on #1229
Yeah, the news about that collaboration came just in time before my paper submission, so I am not surprised I am the first one.

[2019-02-05 00:38] lbenet commented on #1043
@jedbrown Archiving done! The DOI is [10.5281/zenodo.2557004](https://zenodo.org/record/2557004).

[2019-02-05 00:49] brainstorm commented on #1228
@whedon start review

[2019-02-05 00:50] whedon commented on #1228
Can't start a review when the review has already started

[2019-02-05 00:50] brainstorm commented on #1228
Sure, no worries, thanks @kyleniemeyer !

[2019-02-05 01:08] jedbrown commented on #1043
Looks good. In the future, I would recommend using [annotated tags](https://git-scm.com/book/en/v2/Git-Basics-Tagging). I think you could change it on GitHub and the Zenodo link would still work; we don't need a new DOI even if you choose to upgrade to an annotated tag.

[2019-02-05 01:09] jedbrown commented on #1043
@whedon set 10.5281/zenodo.2557004 as archive

[2019-02-05 01:09] lbenet commented on #1043
I will look around and try to fix it. In any case, thanks for the suggestion.

[2019-02-05 01:11] jedbrown commented on #1043
@whedon set v0.9.0 as version

[2019-02-05 01:11] whedon commented on #1043
OK. v0.9.0 is the version.

[2019-02-05 01:13] jedbrown commented on #1043
@openjournals/joss-eics Over to you. Thanks, @tobydriscoll and @sriharikrishna.

[2019-02-05 01:16] jedbrown commented on #1027
No need to let that hold up acceptance. You can upgrade to an annotated tag on GitHub at your leisure, if you so desire. (It makes `git describe` work and offers better provenance.)

[2019-02-05 01:16] jedbrown commented on #1027
@whedon set v1.0 as version

[2019-02-05 01:16] whedon commented on #1027
OK. v1.0 is the version.

[2019-02-05 01:17] jedbrown commented on #1027
@whedon set 10.5281/zenodo.2556861 as archive

[2019-02-05 01:17] whedon commented on #1027
OK. <a href="https://doi.org/10.5281/zenodo.2556861" target="_blank">10.5281/zenodo.2556861</a> is the archive.

[2019-02-05 01:17] jedbrown commented on #1027
@openjournals/joss-eics Over to you. Thanks, @tisaac and @ctdegroot for reviewing.

[2019-02-05 01:42] kyleniemeyer commented on #1232
@arfon whedon is having trouble finding the paper, though at https://github.com/a-slide/pycoQC I see it at `paper/paper.md`.

@brainstorm @mgymrek @pjotrp @yochannah do one of you have the bandwidth to edit this submission? It looks bioinformatics-y to my untrained eyes... :)

[2019-02-05 01:46] kyleniemeyer commented on #1043
Hi @jedbrown, I'm actually going to send this back to you (and the authors) for now. Right now the article itself is extremely brief and doesn't contain much substance; while we don't expect a full article here, it should be 250–1000 words (currently the main article is 147, which put together is a long paragraph). To me, these items need to be improved:
- A summary describing the high-level funct

[2019-02-05 02:32] jedbrown commented on #1043
Thanks, Kyle. That's entirely fair.

[2019-02-05 02:35] lbenet commented on #1043
Thanks for your suggestions @kyleniemeyer; I will address them in the next few days.

[2019-02-05 02:48] grlee77 commented on #1134
Apologies for missing the notification above regarding the reference.  It should be fixed now.

Yeah, I saw this library recently and can add a mention to the manuscript.  Kymatio implements a scattering transform that I haven't studied in detail, but appears to be useful for things like classification. I believe the underlying wavelets involved are implemented in the Fourier domain whereas everyt

[2019-02-05 02:48] grlee77 commented on #1134
Do you need help identifying additional reviewers? I can suggest a couple potential ones from the provided list, but don't have anyone specific in mind.

[2019-02-05 02:49] grlee77 commented on #1134
@whedon generate pdf

[2019-02-05 02:49] whedon commented on #1134
[code]

[2019-02-05 02:50] whedon commented on #1134
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01134/joss.01134/10.21105.joss.01134.pdf)

[2019-02-05 03:54] peterjwatkins commented on #947
@alexpghayes - I've cleaned up the code and R CMD runs OK now, with only 1 note now.. can you review when convenient.

[2019-02-05 05:01] astrom-tom commented on #1217
dear @danielskatz,

I updated the readme to briefly present the FITS file format and give a bit more details of what is dfitspy doing.
Let me know if this is ok.

Thank you!

[2019-02-05 05:08] FaustinCarter commented on #1231
I've had a go at installing it and had some issues. I'll drop them here now so they can be addressed in parallel with other things.

Attempts at installation:

1. I can't use the included environment.yml file on Windows. I'm not sure if this is Windows-specific, but the yml file specifies the exact hash to use for each package version and those don't match the ones I see when I do `conda search fo

[2019-02-05 07:02] sivaramambikasaran commented on #1167
@whedon generate pdf

[2019-02-05 07:02] whedon commented on #1167
[code]

[2019-02-05 07:02] whedon commented on #1167
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01167/joss.01167/10.21105.joss.01167.pdf)

[2019-02-05 07:09] sivaramambikasaran commented on #1167
@jedbrown We have added info as per your suggestion. There are couple of more things to be added still. We should have it done within the next few hours. Will ping you once we are done.

[2019-02-05 07:11] ixjlyons commented on #1216
Ok, my review is complete. Nice work @Chilipp!

Overall, straditize appears to be in excellent shape. Aside from a couple installation issues (filed against the target repository), all of the review criteria appear to me to be met. Beyond those, the code looks clean and well-written. I'm not all that familiar with digitization, but adding to the kinds of plots that can be "reverse-engineered" defi

[2019-02-05 08:11] rbeucher commented on #1136
Hi @lheagy,

I have set up a binder https://mybinder.org/v2/gh/rbeucher/UWGeodynamics-binder/master
I will add the link to the main repository.
I can suggest 2 reviewers:
Anthony Jourdon, University of Toulouse France, anthony.jourdon@get.omp.eu
Florian Wellman, Aachen University, wellmann@aices.rwth-aachen.de

Regards,
Romain Beucher

[2019-02-05 08:53] sivaramambikasaran commented on #1167
@whedon generate pdf

[2019-02-05 08:53] whedon commented on #1167
[code]

[2019-02-05 08:53] whedon commented on #1167
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01167/joss.01167/10.21105.joss.01167.pdf)

[2019-02-05 08:58] sivaramambikasaran commented on #1167
@whedon generate pdf

[2019-02-05 08:58] whedon commented on #1167
[code]

[2019-02-05 08:58] whedon commented on #1167
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01167/joss.01167/10.21105.joss.01167.pdf)

[2019-02-05 09:59] sivaramambikasaran commented on #1167
@whedon generate pdf

[2019-02-05 09:59] whedon commented on #1167
[code]

[2019-02-05 10:02] a-slide commented on #1232
@whedon commands

[2019-02-05 10:02] whedon commented on #1232
Here are some things you can ask me to do:

[code]

[2019-02-05 10:02] sivaramambikasaran commented on #1167
@jedbrown We are done now (hopefully). One little thing is I do not know how to get doi of a thesis. Also, we have cited a SIAM LA presentation. Hopefully this is fine as well.

[2019-02-05 10:47] pjotrp commented on #1232
@whedon assign @pjotrp as editor

[2019-02-05 10:49] pjotrp commented on #1232
@whedon generate pdf

[2019-02-05 10:49] whedon commented on #1232
[code]

[2019-02-05 10:49] whedon commented on #1232
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01232/joss.01232/10.21105.joss.01232.pdf)

[2019-02-05 10:51] pjotrp commented on #1232
Great contribution @a-slide! I'll look for a reviewer.

[2019-02-05 11:30] whedon opened #1235 "[PRE REVIEW]: AtlasReader: A Python package to generate coordinate tables, region labels, and informative figures from statistical MRI images"
**Submitting author:** @miykael (<a href="http://orcid.org/0000-0002-5866-047X">Michael Philipp Notter</a>)
**Repository:** <a href="https://github.com/miykael/atlasreader" target ="_blank">https://github.com/miykael/atlasreader</a>
**Version:** v0.0.3
**Editor:** @cMadan
**Reviewers:** @andrewheusser

**Author instructions**

Thanks for submitting your paper to JOSS @miykael. The JOSS editor @aro

[2019-02-05 11:30] whedon commented on #1235
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01235/joss.01235/10.21105.joss.01235.pdf)

[2019-02-05 11:34] arfon commented on #1217
Yep, I may give this to our new editor. Regardless, I can take it from here.

[2019-02-05 11:34] arfon commented on #1217
@whedon generate pdf

[2019-02-05 11:34] whedon commented on #1217
[code]

[2019-02-05 11:44] miykael commented on #1235
@whedon generate pdf

[2019-02-05 11:44] whedon commented on #1235
[code]

[2019-02-05 11:44] whedon commented on #1235
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01235/joss.01235/10.21105.joss.01235.pdf)

[2019-02-05 11:47] danielskatz commented on #1235
👋 @arokem - Note that this submission requested you as editor

[2019-02-05 11:54] miykael commented on #1235
@whedon generate pdf

[2019-02-05 11:54] whedon commented on #1235
[code]

[2019-02-05 11:54] whedon commented on #1235
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01235/joss.01235/10.21105.joss.01235.pdf)

[2019-02-05 13:53] lrasmus commented on #1208
@danielskatz I have started with the basic checklist items, sorry it was a little slow start on my end.  I am planning to complete by the end of this week.  Thank you @brogly for updates in manuscript and instructions.

[2019-02-05 14:05] lrasmus commented on #1208
@danielskatz - clarification question.  The authors have appropriately tagged and marked for release v0.12.0.0 of the software.  Should we review just what is in the repository as of that tag, or include recent commits?  Not trying to be a stickler, just wondering if recommended practice is for authors to re-tag software updates that we then review, or if software gets versioned and tagged followi

[2019-02-05 14:08] danielskatz commented on #1208
You should review changes, particularly those made in response to review issues.

yes, this is what happens

[2019-02-05 14:43] a-slide commented on #1232
Hi @pjotrp,
I would suggest @trallard
Alternatively, I would said @luizirber or @serine
Thanks

[2019-02-05 15:34] PaulKGrimes commented on #1231
John has fixed the environment.yml file, and replaced it with
environment-qmix.yaml in the repository.  The environment creation is
currently working on both my Windows 10 Anaconda installs, miniconda on
Ubuntu WSL and Anaconda on CentOS 7, although I have to run python setup.py
install from the qmix directory after creating the environment.

The pip installer issue looks like an issue with non-st

[2019-02-05 15:43] jedbrown commented on #1027
If you want an annotated tag on the server, you'd have to delete it and re-push, something like
[code]

[2019-02-05 16:11] cbjuan commented on #1188
Sorry for the delay, but we finally released the Qiskit-vscode version v0.5.0 today https://github.com/Qiskit/qiskit-vscode/releases/tag/v0.5.0. You can use it for the review.

https://marketplace.visualstudio.com/items?itemName=qiskit.qiskit-vscode

[2019-02-05 17:13] pjotrp commented on #1232
@whedon assign @george-githinji as reviewer

[2019-02-05 17:13] whedon commented on #1232
OK, the reviewer is @george-githinji

[2019-02-05 17:14] pjotrp commented on #1232
@whedon start review magic-word=bananas

[2019-02-05 17:14] whedon opened #1236 "[REVIEW]: pycoQC, interactive quality control for Oxford Nanopore Sequencing"
**Submitting author:** @a-slide (<a href="http://orcid.org/0000-0001-8772-6776">Adrien Leger</a>)
**Repository:** <a href="https://github.com/a-slide/pycoQC" target ="_blank">https://github.com/a-slide/pycoQC</a>
**Version:** v2.2.0
**Editor:** @pjotrp
**Reviewer:** @george-githinji
**Archive:** <a href="https://doi.org/10.5281/zenodo.2578275" target="_blank">10.5281/zenodo.2578275</a>

## Status

[2019-02-05 17:14] whedon commented on #1232
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1236. Feel free to close this issue now!

[2019-02-05 17:14] whedon commented on #1236
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @george-githinji it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2019-02-05 17:14] whedon commented on #1236
[code]

[2019-02-05 17:15] #1232 closed

[2019-02-05 17:15] pjotrp commented on #1236
Dear @a-slide, we are starting review in this issue tracker. To expedite the review process do you mind going through above list of check boxes and make sure they can be ticked (you can't tick them). Also check the PDF output carefully. Ping us here when you are done.

[2019-02-05 17:16] whedon commented on #1236
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01236/joss.01236/10.21105.joss.01236.pdf)

[2019-02-05 17:38] aguang commented on #1160
@whedon generate pdf

[2019-02-05 17:38] whedon commented on #1160
[code]

[2019-02-05 17:38] whedon commented on #1160
PDF failed to compile for issue #1160 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dc9ad3c41cc6/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: date, bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dc9ad3c41cc6/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whed

[2019-02-05 17:39] aguang commented on #1160
@wehdon generate pdf

[2019-02-05 17:41] aguang commented on #1160
@whedon generate pdf

[2019-02-05 17:41] whedon commented on #1160
[code]

[2019-02-05 17:41] whedon commented on #1160
PDF failed to compile for issue #1160 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dc9ad3c41cc6/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: date, bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dc9ad3c41cc6/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whed

[2019-02-05 17:46] aguang commented on #1160
@whedon generate pdf

[2019-02-05 17:46] whedon commented on #1160
[code]

[2019-02-05 17:46] whedon commented on #1160
PDF failed to compile for issue #1160 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dc9ad3c41cc6/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for August Guang, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dc9ad3c41cc6/lib/whedon/author.rb:57:in `each'

[2019-02-05 17:48] aguang commented on #1160
@whedon generate pdf

[2019-02-05 17:48] whedon commented on #1160
[code]

[2019-02-05 17:49] whedon commented on #1160
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01160/joss.01160/10.21105.joss.01160.pdf)

[2019-02-05 18:07] aguang commented on #1160
@pdiakumis I'm glad you found RSeqAn useful! Thanks for your comments, I've added a note under Usage with a link to the vignette as well as the C++ code from it as its own example file that can be loaded. I also updated the Installation in the README and created a tagged release for 1.3.1 which hopefully should clear up what version the JOSS paper is referring to. And it looks like the pdf is comp

[2019-02-05 18:17] fospald commented on #1027
@jedbrown Now it should be fine.

[2019-02-05 19:44] garrettj403 commented on #1231
Hi @FaustinCarter, thank you for your feedback.

As Paul mentioned, I have updated the environment file so that it should work on Windows now. I was previously using `conda env export > environment.yml` to generate the environment.yml file, but this doesn't work across different platforms. I have rewritten the environment to only include the necessary packages without specifying versions or build

[2019-02-05 20:46] ncclementi commented on #1209
Nice job people, here are my comments, requests and questions so far on each part that I'm suppose to review. I haven't been able to get to the tests part yet, but I saw @vyasr made some comments already.

I divided my requests, questions and comments by following the structure that is given as for the review, you can find it on the first comment.

### General comments, requests and questions rega

[2019-02-05 20:54] labarba commented on #1209
@ncclementi — You say that you opened an issue on the submission repo. Can you add a link to that issue? The cross-links are nice to have on the Review thread. Thanks!

Regarding the software version, after changes stemming from the review, the authors will have to up the version, and we'll use the superpowers of our bot to update it (`@whedon set v1.x as version`).