[2019-04-10 00:15] labarba commented on #1341
@whedon accept

[2019-04-10 00:15] whedon commented on #1341
[code]

[2019-04-10 00:16] whedon commented on #1341
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/613

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/613, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-10 00:16] whedon commented on #1341
[code]

[2019-04-10 00:18] labarba commented on #1341
@whedon accept deposit=true

[2019-04-10 00:18] whedon commented on #1341
[code]

[2019-04-10 00:19] whedon commented on #1341
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/614
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01341](https://doi.org/10.21105/joss.01341)
2. If everything looks go

[2019-04-10 00:21] labarba commented on #1341
Congratulations, @mancellin, your JOSS paper is published!

Many thanks to our editor: @leouieda, and the reviewers: @mikaem, @harpolea — your contribution is greatly appreciated 🙏

[2019-04-10 00:21] #1341 closed

[2019-04-10 00:21] whedon commented on #1341
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01341/status.svg)](https://doi.org/10.21105/joss.01341)

**We need your help!**

Journal of Open Source Softwar

[2019-04-10 00:33] labarba commented on #1013
@whedon accept

[2019-04-10 00:33] whedon commented on #1013
[code]

[2019-04-10 00:33] whedon commented on #1013
[code]

[2019-04-10 00:34] whedon commented on #1013
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/615

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/615, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-10 00:36] labarba commented on #1013
@whedon accept deposit=true

[2019-04-10 00:36] whedon commented on #1013
[code]

[2019-04-10 00:36] whedon commented on #1013
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/616
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01013](https://doi.org/10.21105/joss.01013)
2. If everything looks go

[2019-04-10 00:38] labarba commented on #1013
Congratulations, @oxinabox, your JOSS paper is published!

Big thanks to our editor: @Kevin-Mattheus-Moerman, and the reviewer: @aviks — Merci, danke, gracias 🙏

[2019-04-10 00:38] #1013 closed

[2019-04-10 00:38] whedon commented on #1013
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01013/status.svg)](https://doi.org/10.21105/joss.01013)

**We need your help!**

Journal of Open Source Softwar

[2019-04-10 02:38] arfon commented on #1053
@whedon generate pdf

[2019-04-10 02:38] whedon commented on #1053
[code]

[2019-04-10 02:38] whedon commented on #1053
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01053/joss.01053/10.21105.joss.01053.pdf)

[2019-04-10 02:42] arfon commented on #1053
@jason-neal - could you merge this PR? It will fix the citation formatting for multiple references: https://github.com/jason-neal/eniric/pull/141

[2019-04-10 02:47] arfon commented on #1349
@yxliang01 - thanks for disclosing this. It sounds like you've contributed to this paper as well as the submitted software. I think this _is_ a conflict so I don't think it's appropriate for you to review this submission.

You can just have an affiliation of 'None' but you have to make an entry in the `paper.md` YAML called `none` e.g.:

[code]

[2019-04-10 02:48] arfon commented on #1365
@whedon doesn't know what to do with URLs like this: `https://github.com/steven-murray/hankel/tree/joss-paper` as they can't be cloned from directly.

[2019-04-10 02:48] arfon commented on #1365
I've updated the Git repo address to `https://github.com/steven-murray/hankel`

[2019-04-10 02:49] arfon commented on #1365
@whedon generate pdf from branch joss-paper

[2019-04-10 02:49] whedon commented on #1365
[code]

[2019-04-10 02:49] whedon commented on #1365
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01365/joss.01365/10.21105.joss.01365.pdf)

[2019-04-10 02:51] arfon commented on #1012
I *think* because it's missing this section: https://github.com/dahtah/imager/pull/91

[2019-04-10 03:16] mistrm82 commented on #1344
@Juke34 I am having some problems installing (created an issue) so I have not been able to assess the "Functionality" section

[2019-04-10 03:45] 1138-4EB commented on #1349
If this is the case, none of us should review it:

- https://github.com/openjournals/joss-reviews/issues/1349#issuecomment-476301706
- https://github.com/openjournals/joss-reviews/issues/1349#issuecomment-476270078

[2019-04-10 03:55] sgyzetrov commented on #1349
I can find but one PR opened by @yxliang01 : https://github.com/mviereck/x11docker/pull/98

Maybe @yxliang01 had commented in issues before but I find no PR related to `have contributed to submitted software`

[2019-04-10 05:49] hainesr commented on #1338
I have raised a new PR to fix javadoc on setups with multiple JDKs: Samsung/uJVM#85

[2019-04-10 05:56] sunhwan commented on #1317
@trallard I went through the checklist and I was satisfied with most of the item in the list. I found a few problems running some script/file. I left a comment in the repository. https://github.com/CamDavidsonPilon/lifelines/issues/703

This package looks great and I'm okay to accept after the author address the minor issue. Are reviewers expected to write a separate review?

[2019-04-10 06:21] omoliavko commented on #1338
@hainesr Pull Request accepted, thank you for collaboration

[2019-04-10 06:38] hainesr commented on #1338
My checklist is complete now @gkthiruvathukal, @arfon. I'm happy with the submission!

I think a new release now needs to be tagged @omoliavko. Would you consider calling it 1.0 in line with Semantic Versioning? https://semver.org/

One minor nit-pick: in the paper itself, I think it would read better if you wrote 'software' and 'hardware' out longhand instead of using 'S/W' and 'H/W'. But this is

[2019-04-10 06:41] omoliavko commented on #1338
@hainesr We're also happy with our progress so far; unfortunately, we cannot tag a new release now, because we have a development plan to adhere to, and next release of uJVM shall include several features that are in development now.

[2019-04-10 07:30] rgommers commented on #1237
Interesting, thanks @labarba. It probably reflects that the vast majority of packages are young, modest in size and with few authors. For larger projects with a long history it's unlikely that all significant contributors are still active, can be reached and want to be listed. E.g. the SciPy paper we are finalizing right now will miss lots of names, it's unavoidable with a 15 year history and 700+

[2019-04-10 07:32] rgommers commented on #1237
Good suggestion, worth a try at least. We have a manual name mapping for release notes that we can easily convert to `.mailmap`: https://github.com/PyWavelets/pywt/blob/master/util/authors.py#L27

[2019-04-10 09:39] jason-neal commented on #1053
@whedon generate pdf

[2019-04-10 09:39] whedon commented on #1053
[code]

[2019-04-10 09:40] whedon commented on #1053
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01053/joss.01053/10.21105.joss.01053.pdf)

[2019-04-10 09:44] jason-neal commented on #1053
Merged thanks.

[2019-04-10 10:55] arfon commented on #1349
Not necessarily. I had interpreted @yxliang01's comment that they had contributed to both the software, and the JOSS paper being reviewed here. Perhaps I misunderstood your comment @yxliang01?

[2019-04-10 11:14] mviereck commented on #1349
@arfon
You can see the contributions of @yxliang01 to the paper here:
One small PR for paper.md: https://github.com/mviereck/x11docker/pull/98
A few comments in the pre-submission discussion: https://github.com/mviereck/x11docker/issues/92

Only one comment of @sgyzetrov here before submission: https://github.com/mviereck/x11docker/issues/92#issuecomment-459775959

I don't remember issue tickets o

[2019-04-10 11:23] arfon commented on #1349
Got it. Thanks @mviereck.

OK, @yxliang01, apologies for any confusion I caused here - please continue with your review and thank you for declaring your potential conflict.

[2019-04-10 11:40] labarba commented on #1237
In that case, a "best effort" approach should be made. Any contributors from long-ago who cannot be reached or who do not want to be authors can be listed in a long acknowledgement. The Zenodo author list should match the paper, as it is an archive deposit of the software associated with the software publication.

[2019-04-10 11:56] justinalsing commented on #1157
Hi @danielskatz @taqtiqa-mark -

Yep sorry for the delay, I'm not well versed in using VMs or containers so there is some overhead for me to do this, I will try to find time to get this done asap

Best,
Justin

[2019-04-10 14:07] lucask07 commented on #1172
@whedon generate pdf

[2019-04-10 14:07] whedon commented on #1172
[code]

[2019-04-10 14:08] whedon commented on #1172
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01172/joss.01172/10.21105.joss.01172.pdf)

[2019-04-10 14:16] lucask07 commented on #1172
@whedon generate pdf

[2019-04-10 14:16] whedon commented on #1172
[code]

[2019-04-10 14:16] whedon commented on #1172
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01172/joss.01172/10.21105.joss.01172.pdf)

[2019-04-10 14:22] lucask07 commented on #1172
@arokem : Thank you for your comments.

1. I've updated the PyVISA author entry in the Bibtex so that it is not abbreviated. It is sensible now. I've also added an issue to the PyVISA repository to see if there is a preferred citation. For the SCPI style guide, I also fixed the abbreviation. However, the author is not empty since that would break the (author, year) citation format in the text.

2.

[2019-04-10 14:37] jordigh commented on #1325
I can be a reviewer. I know C++ and Lie algebras/groups.

[2019-04-10 14:47] arfon commented on #1053
@whedon generate pdf

[2019-04-10 14:47] whedon commented on #1053
[code]

[2019-04-10 14:48] whedon commented on #1053
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01053/joss.01053/10.21105.joss.01053.pdf)

[2019-04-10 15:06] labarba commented on #1327
@whedon assign @labarba as editor

[2019-04-10 15:16] arfon commented on #727
It's now been more than six months since we've heard from @economistgame so I'm going to assume they are no-longer interested in pursuing this publication with JOSS.

@andrewheiss @karthik thanks for your help with this paper. Sorry this didn't make it completely through review.

[2019-04-10 15:16] #727 closed

[2019-04-10 15:31] arfon commented on #1053
@jason-neal - this is looking pretty good to me. The only issue I see is with the figure placement. Do you think you could try moving the figure up nearer the top of the paper, that way it might not end up floating in the references section at the end of the paper.

[2019-04-10 15:32] arfon commented on #1053
@crawfordsm - just a quick ping to see if you're happy with these changes? I believe @jason-neal has addressed your feedback at this point?

[2019-04-10 15:56] lucask07 commented on #1172
@whedon generate pdf

[2019-04-10 15:56] whedon commented on #1172
[code]

[2019-04-10 15:56] whedon commented on #1172
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01172/joss.01172/10.21105.joss.01172.pdf)

[2019-04-10 15:59] lucask07 commented on #1172
In response to https://github.com/pyvisa/pyvisa/issues/407 switched to short links for both PyVISA and PySerial.

[2019-04-10 16:02] kthyng commented on #1112
Great @jhill1!

@PythonCHB can you look through @jhill1's work to see if you are satisfied to check off the remaining boxes in your review, or if you have follow up comments?

[2019-04-10 16:40] labarba commented on #1327
@wojciech-n — Do keep us updated when you work through the set of review comments from @lucydot.

[2019-04-10 16:41] labarba commented on #1327
@mkhorton — Is your schedule clearing to start working on your review if this submission? Let us know your status. Thanks!

[2019-04-10 16:47] yxliang01 commented on #1349
@arfon Yes. To clarify, I have never contributed to the software and the contribution was on the paper only which I have done the same in a form of reviews in this thread also. In that sense, I am a volunteer paper editor for this paper and not an author. Since I think we have mutual understanding now and your suggestion, I will tick the *conflict of interest* and continue my review with further p

[2019-04-10 16:49] mkhorton commented on #1327
Yes, I’ve started now. Will update shortly!

On Wed, Apr 10, 2019 at 09:41, Lorena A. Barba <notifications@github.com>
wrote:

[2019-04-10 17:00] labarba commented on #1230
@whedon generate pdf

[2019-04-10 17:00] whedon commented on #1230
[code]

[2019-04-10 17:01] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-04-10 17:04] labarba commented on #1230
The Zenodo archive in DOI 10.5281/zenodo.1491324 is Version 0.8.2 from Nov 19, 2018. If you've made changes during this review, then you would have to make a new tagged version in your software repository, and an update to the Zenodo deposit.

[2019-04-10 17:31] mkhorton commented on #1327
@wojciech-n I'm also having the same issues @lucydot had with the testing. It wasn't clear to me how the tests are meant to be run at first. This definitely should be included in the documentation. I also wasn't able to find any tests for anything other than `Weierstrass`? The other key classes definitely should have at least one test also.

@lucydot `doctest.testfile("weierstrass.doctest")` did w

[2019-04-10 17:32] steven-murray commented on #1365
@arfon thanks. It wasn't clear to me on the submission page if I should be putting the branch into the URL!

[2019-04-10 17:33] ybayle commented on #1262
Yes, I have started to fix some issues reported by the reviewers on the main repo! I'll keep you updated.

[2019-04-10 17:41] jgostick commented on #1296
I have fixed my release debacle, and now version 1.1.1 of PoreSpy is available on Github.  It now has a DOI of 10.5281/zenodo.2635591 for V1.1.1.

[2019-04-10 17:46] lheagy commented on #1136
Yep, no problem @rbeucher!

[2019-04-10 17:46] lheagy commented on #1136
@whedon check references

[2019-04-10 17:46] whedon commented on #1136
[code]

[2019-04-10 17:46] whedon commented on #1136
[code]

[2019-04-10 17:47] lheagy commented on #1136
@rbeucher: can you please generate a new release and archive your software on [zenodo](http://zenodo.org) or similar? Please make sure that the title and author list on the zenodo archive match the JOSS paper. Once you have done this, please post the version number and doi here and we can proceed with accepting your paper.

[2019-04-10 23:15] usethedata commented on #1296
@whedon set 10.5281/zenodo.2635591 as archive

[2019-04-10 23:15] whedon commented on #1296
OK. <a href="https://doi.org/10.5281/zenodo.2635591" target="_blank">10.5281/zenodo.2635591</a> is the archive.

[2019-04-10 23:16] usethedata commented on #1296
@whedon set V1.1.1 as version

[2019-04-10 23:16] whedon commented on #1296
OK. V1.1.1 is the version.

[2019-04-10 23:18] usethedata commented on #1296
@yxqd and @cr458 are you able to complete your reviews with this update?

[2019-04-10 23:39] leouieda commented on #1342
@trinker thanks for bringing that to our attention. I'll suggest the change to the editorial team.

[2019-04-11 01:07] trinker commented on #1342
All Elements of the Review Checklist I had raised have been addressed.

## Review checklist for @trinker
### Conflict of interest

- [x] As the reviewer I confirm that I have read the [JOSS conflict of interest policy](https://github.com/openjournals/joss/blob/master/COI.md) and that there are no conflicts of interest for me to review this work.

### Code of Conduct

- [x] I confirm that I read an

[2019-04-11 01:22] leouieda commented on #1342
@trinker thank you! (Also, I followed up with your suggestion and it has already been included for future JOSS submissions :100:)

@kgjerde please try to address or respond to the last two remaining issues.

[2019-04-11 06:43] rbeucher commented on #1136
Hi @lheagy

Here it is

Romain Beucher, Louis Moresi, Julian Giordani, John Mansour, Dan Sandiford, Rebecca Farrington, … Sara Morón. (2019, April 11). UWGeodynamics: A teaching and research tool for numerical geodynamic modelling (Version v2.7.7). Zenodo. http://doi.org/10.5281/zenodo.2636105

[2019-04-11 08:39] Kevin-Mattheus-Moerman commented on #1094
@ybayle :point_up:

[2019-04-11 10:40] kbenoit commented on #1087
Sorry to be slow on this, review by early next week at the latest. Been snowed under with something else but it's done now.

[2019-04-11 10:50] jason-neal commented on #1053
@whedon generate pdf from branch paper-figure-placement

[2019-04-11 10:50] whedon commented on #1053
[code]

[2019-04-11 10:51] whedon commented on #1053
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01053/joss.01053/10.21105.joss.01053.pdf)

[2019-04-11 10:54] jason-neal commented on #1053
That has brought the image forward a page.

[2019-04-11 12:21] nproellochs commented on #1087
@arfon Sorry for the delay. I will give an update on this ASAP. Thank you @kbenoit & @terrytangyuan for the review and the valuable feedback.

[2019-04-11 12:37] druvus commented on #1364
@rvosa I started to add issues to the wgs2ncbi repo regarding failing automatic tests, stalled help command and contribution documentation.  Could you please take a look at them?

[2019-04-11 12:48] arfon commented on #1053
That looks great.

[2019-04-11 14:17] rvosa commented on #1364
on it, as I hope you can see :)

On Thu, Apr 11, 2019 at 2:37 PM Andreas Sjödin <notifications@github.com>
wrote:

[2019-04-11 15:28] grlee77 commented on #1237
A "best effort" was already made for the top 6 authors (who account for ~95% of the total commits). I got an affirmative response from 5 of the 6 (~90% of total commits) and included these in the JOSS paper author list.

It sounds like you are insisting that we should only include the 5 JOSS paper authors for the 1.0.3 tag on Zenodo.

@rgommers: Are you okay with this? There should not be a restri

[2019-04-11 15:31] rgommers commented on #1237
As I said in my first post it's not a very big deal, so if the editors insist then I'm fine with it.

That sounds like a good idea. And then for future releases we go back to the default Zenodo behavior.

[2019-04-11 15:36] grlee77 commented on #1237
We just added a `.mailmap` file in PyWavelets/pyw#485. This did clean up the output of `git shortlog` nicely, but does not appear to be used by GitHub itself.

[2019-04-11 15:38] jedbrown commented on #1237
Good to know (if unfortunate) regarding `.mailmap`.

[2019-04-11 15:45] grlee77 commented on #1237
Please see the updated Zenodo entry. The author list there now matches the publication.
https://zenodo.org/record/2634243#.XK9g7UN7kQ8

[2019-04-11 15:59] lheagy commented on #1136
@whedon set 2.7.7 as version

[2019-04-11 15:59] whedon commented on #1136
OK. 2.7.7 is the version.

[2019-04-11 16:00] lheagy commented on #1136
@whedon set 10.5281/zenodo.2636105 as archive

[2019-04-11 16:00] whedon commented on #1136
OK. <a href="https://doi.org/10.5281/zenodo.2636105" target="_blank">10.5281/zenodo.2636105</a> is the archive.

[2019-04-11 16:01] lheagy commented on #1136
👋@openjournals/joss-eics, this submission is ready to be accepted! 🎉

[2019-04-11 17:44] labarba commented on #1136
@rbeucher : could you merge this in, with capitalization nitpicks?
https://github.com/underworldcode/UWGeodynamics/pull/114

[2019-04-11 18:44] yxqd commented on #1296
@usethedata looks good to me now.

[2019-04-11 19:41] annoviko commented on #1230
Hello, @labarba, there were changes related to project description, functionality wasn't changed. But anyway, I have prepare special 0.8.2 JOSS release with these changes if it is required. Here is DOI: **10.5281/zenodo.2636831** - version 0.8.2.

[2019-04-11 19:46] mistrm82 commented on #1344
I think this is a great tool with functionality that meets a need for researchers doing NGS analysis. The problems I encountered is that installation is quite involved. I created a conda environment with the prerequisites (biopython, pysam, bcbio-gff) which was not too much of an issue. However, when trying to run some commands I encountered errors due to the lack of other required programs (i.e b

[2019-04-11 19:58] mfroeling commented on #1204
@rljacobson no worries, I'm still grateful you are willing to spend your time to review my work.

[2019-04-11 20:09] rbeucher commented on #1136
I have merged it

[2019-04-11 20:12] labarba commented on #1136
@whedon accept

[2019-04-11 20:12] whedon commented on #1136
[code]

[2019-04-11 20:12] whedon commented on #1136
PDF failed to compile for issue #1136 with the following error:

 Can't find any papers to compile :-(

[2019-04-11 20:13] whedon commented on #1136
[code]

[2019-04-11 20:13] labarba commented on #1136
@whedon generate pdf

[2019-04-11 20:13] whedon commented on #1136
[code]

[2019-04-11 20:14] whedon commented on #1136
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01136/joss.01136/10.21105.joss.01136.pdf)

[2019-04-11 20:14] labarba commented on #1136
@whedon accept

[2019-04-11 20:14] whedon commented on #1136
[code]

[2019-04-11 20:15] whedon commented on #1136
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/617

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/617, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-11 20:15] whedon commented on #1136
[code]

[2019-04-11 20:17] labarba commented on #1136
@whedon accept deposit=true

[2019-04-11 20:17] whedon commented on #1136
[code]

[2019-04-11 20:18] whedon commented on #1136
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/618
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01136](https://doi.org/10.21105/joss.01136)
2. If everything looks go

[2019-04-11 20:20] labarba commented on #1136
Congratulations @rbeucher, your JOSS paper is published!

Many thanks to our editor: @lheagy, and the reviewer: @flohorovicic — thanks also to @tth030 for the efforts! 🙏

[2019-04-11 20:21] #1136 closed

[2019-04-11 20:21] whedon commented on #1136
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01136/status.svg)](https://doi.org/10.21105/joss.01136)

**We need your help!**

Journal of Open Source Softwar

[2019-04-11 21:29] jedbrown commented on #1237
@whedon set v1.0.3 as version

[2019-04-11 21:29] whedon commented on #1237
OK. v1.0.3 is the version.

[2019-04-11 21:30] jedbrown commented on #1237
@whedon set 10.5281/zenodo.2634243 as archive

[2019-04-11 21:30] whedon commented on #1237
OK. <a href="https://doi.org/10.5281/zenodo.2634243" target="_blank">10.5281/zenodo.2634243</a> is the archive.

[2019-04-11 21:30] jedbrown commented on #1237
@whedon accept

[2019-04-11 21:30] whedon commented on #1237
[code]

[2019-04-11 21:31] whedon commented on #1237
PDF failed to compile for issue #1237 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    319      0 --:--:-- --:--:-- --:--:--   326
sh: 44: Syntax er

[2019-04-11 21:31] whedon commented on #1237
[code]

[2019-04-11 21:46] jedbrown commented on #1237
@whedon generate pdf

[2019-04-11 21:46] whedon commented on #1237
[code]

[2019-04-11 21:47] whedon commented on #1237
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01237/joss.01237/10.21105.joss.01237.pdf)

[2019-04-11 21:55] jedbrown commented on #1237
@labarba Do you know how to debug the crossref issue?

[2019-04-11 23:46] labarba commented on #1237
@whedon accept

[2019-04-11 23:46] whedon commented on #1237
[code]

[2019-04-11 23:46] whedon commented on #1237
PDF failed to compile for issue #1237 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    200      0 --:--:-- --:--:-- --:--:--   202
sh: 44: Syntax er

[2019-04-11 23:46] whedon commented on #1237
[code]

[2019-04-11 23:48] labarba commented on #1237
@whedon accept

[2019-04-11 23:48] whedon commented on #1237
[code]

[2019-04-11 23:48] whedon commented on #1237
[code]

[2019-04-11 23:48] whedon commented on #1237
PDF failed to compile for issue #1237 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    486      0 --:--:-- --:--:-- --:--:--   500
sh: 44: Syntax er

[2019-04-11 23:49] labarba commented on #1237
I have no clue what is going on — @arfon, do you?

[2019-04-12 00:50] arfon commented on #1237
Looks like Whedon doesn't like apostrophes in names (this feels like a new bug as I don't think I've seen it before). Short term fix here: https://github.com/PyWavelets/pywt/pull/487

[2019-04-12 01:34] arsilva87 commented on #1321
@whedon

[2019-04-12 06:15] rbeucher commented on #1136
Thanks @lheagy, @flohorovicic, @tth030, @labarba !!
Looking forward to the next submission! ;-)

[2019-04-12 06:31] flohorovicic commented on #1136
Congrats, @rbeucher! And it also was quite an interesting experience as a reviewer - thanks for such a great journal idea and concept, @labarba , @lheagy!

[2019-04-12 08:50] TomTranter commented on #1296
Hey guys, I saw my name was wrong on the paper so updated it. Not sure if I need to do anything else

[2019-04-12 10:45] xuanxu commented on #1365
@kyleniemeyer sure, I can take this on.

[2019-04-12 10:45] xuanxu commented on #1365
@whedon assign @xuanxu as editor

[2019-04-12 10:45] whedon commented on #1365
OK, the editor is @xuanxu

[2019-04-12 11:10] xuanxu commented on #1365
:wave: @melissawm and @drvinceknight : Would you be willing to review this paper? I think your expertise in Math and Python makes you a great fit for this submission.

I'm willing to start the review if one of you are available, but it would be great to have you both.

[2019-04-12 11:57] melissawm commented on #1365
Hello,

It will be my pleasure! Count me in.

Best regards,

Melissa

Em sex, 12 de abr de 2019 08:11, Juanjo Bazán <notifications@github.com>
escreveu:

[2019-04-12 13:34] jgostick commented on #1296
Sorry about that @TomTranter.  There is also another issue:  The Tag on github is 1.1.1, and this has been archived with a DOI...but the __version__ number is still at 1.1.0  👎   I really need to learn how to do githooks to prevent this, because I do it too often.  So how to proceed?  Should I add a new tag and have a new doi issued?

[2019-04-12 15:47] grlee77 commented on #1237
Thanks @arfon. I merged your PR. Can you check if Whedon is happy now?

[2019-04-12 15:48] poulson commented on #1325
@whedon commands

[2019-04-12 15:48] whedon commented on #1325
Here are some things you can ask me to do:

[code]

[2019-04-12 15:49] poulson commented on #1325
@whedon add @jordigh as reviewer

[2019-04-12 15:49] whedon commented on #1325
OK, @jordigh is now a reviewer

[2019-04-12 15:49] poulson commented on #1325
@whedon add @drvinceknight as reviewer

[2019-04-12 15:49] whedon commented on #1325
OK, @drvinceknight is now a reviewer

[2019-04-12 15:49] jedbrown commented on #1237
@whedon accept

[2019-04-12 15:49] poulson commented on #1325
@whedon add @alex-konovalov as reviewer

[2019-04-12 15:50] whedon commented on #1237
[code]

[2019-04-12 15:50] whedon commented on #1325
OK, @alex-konovalov is now a reviewer

[2019-04-12 15:50] whedon commented on #1237
[code]

[2019-04-12 15:50] whedon commented on #1237
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/619

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/619, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-12 15:51] poulson commented on #1325
Thank you for your informative responses, Alex (@alex-konovalov), Vince (@drvinceknight), and @jordigh! Between the three of you, we should have our bases covered!

[2019-04-12 15:51] poulson commented on #1325
@whedon start review

[2019-04-12 15:51] whedon opened #1371 "[REVIEW]: Manif: A micro Lie theory library for state-estimation in robotics applications"
**Submitting author:** @artivis (<a href="http://orcid.org/0000-0001-5279-8251">Jeremie Deray</a>)
**Repository:** <a href="https://github.com/artivis/manif" target ="_blank">https://github.com/artivis/manif</a>
**Version:** 0.0.2
**Editor:** @poulson
**Reviewer:** @jordigh, @drvinceknight, @alex-konovalov
**Archive:** <a href="https://doi.org/10.5281/zenodo.3626651" target="_blank">10.5281/zenodo

[2019-04-12 15:51] whedon commented on #1325
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1371. Feel free to close this issue now!

[2019-04-12 15:51] whedon commented on #1371
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jordigh, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-04-12 15:51] whedon commented on #1371
[code]

[2019-04-12 15:51] #1325 closed

[2019-04-12 15:51] whedon commented on #1371
PDF failed to compile for issue #1371 with the following error:

 Can't find any papers to compile :-(

[2019-04-12 15:56] labarba commented on #1237
@whedon accept deposit=true

[2019-04-12 15:56] whedon commented on #1237
[code]

[2019-04-12 15:57] whedon commented on #1237
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/620
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01237](https://doi.org/10.21105/joss.01237)
2. If everything looks go

[2019-04-12 16:02] labarba commented on #1237
Congratulations, @grlee77, your JOSS paper is published! 🚀

Big thanks to our editor: @jedbrown, and reviewers: @rafat, @souopgui — your contribution is valued by all of us! 🙏

[2019-04-12 16:02] #1237 closed

[2019-04-12 16:02] whedon commented on #1237
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01237/status.svg)](https://doi.org/10.21105/joss.01237)

**We need your help!**

Journal of Open Source Softwar

[2019-04-12 16:26] artivis commented on #1371
@whedon generate pdf from branch joss

[2019-04-12 16:26] whedon commented on #1371
[code]

[2019-04-12 16:27] whedon commented on #1371
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01371/joss.01371/10.21105.joss.01371.pdf)

[2019-04-12 17:47] boshek commented on #791
Hello @MarionLegrandLogrami and @arfon

It is possible that I am out of depth here. I acknowledge that. However if I am asked to provide an honest assessment here I don't think that the authors have addressed my concerns above. I am having  trouble getting the database set up on Windows. My original recommendation is that all the database set up be moved into R functions; that is wrap the shell sc

[2019-04-12 20:56] arfon commented on #791
Thanks for your honest feedback here @boshek - it's much appreciated.

@MarionLegrandLogrami - both of the reviewers of this submission have had serious challenges getting the database up and running for testing. While @boshek is being very gracious stating that they don't feel like an expert with these technologies I think their point that this is going to be very hard for _any_ users of your sof

[2019-04-12 22:22] JKutt commented on #1358
@alkirkby sorry for the late reply, missed this one. I can't quite remember off the top of my head but it was in places where "print" is used instead of "print()"

[2019-04-13 08:17] stenskjaer commented on #941
Yep, that should be done now.

[2019-04-13 12:47] labarba commented on #941
@whedon accept

[2019-04-13 12:47] whedon commented on #941
[code]

[2019-04-13 12:47] whedon commented on #941
[code]

[2019-04-13 12:47] whedon commented on #941
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/621

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/621, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-13 12:49] labarba commented on #941
@whedon accept deposit=true

[2019-04-13 12:49] whedon commented on #941
[code]

[2019-04-13 12:50] whedon commented on #941
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/622
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00941](https://doi.org/10.21105/joss.00941)
2. If everything looks go

[2019-04-13 12:52] labarba commented on #941
Congratulations, @stenskjaer, your JOSS paper is published!

Big thanks to our editor: @Kevin-Mattheus-Moerman, and the reviewers: @maieul, @Padlina — we couldn't do this without you! 🙏

[2019-04-13 12:52] #941 closed

[2019-04-13 12:52] whedon commented on #941
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00941/status.svg)](https://doi.org/10.21105/joss.00941)

**We need your help!**

Journal of Open Source Softwar

[2019-04-13 14:40] labarba commented on #1255
👋  @mgymrek — It looks like this submission is ready for you to take action on the author's response to your final comments. Ping us by mentioning `@openjournals/joss-eics` when ready to publish.

[2019-04-13 15:19] tdrozdovsky commented on #1338
@arfon @kyleniemeyer @gkthiruvathukal Could you please explain what steps we should take now that @morganericsson and @hainesr have completed the checklist?

[2019-04-13 16:14] byandell commented on #1255
Who is “you” in the message? Brian

Brian S. Yandell
Professor, Statistics & Horticulture
Director, Biometry Program
University of Wisconsin—Madison
http://www.stat.wisc.edu/~Yandell
________________________________
From: Lorena A. Barba <notifications@github.com>
Sent: Saturday, April 13, 2019 9:40:30 AM
To: openjournals/joss-reviews
Cc: Brian Yandell; Mention
Subject: Re: [openjournals/joss-revi

[2019-04-13 16:21] kyleniemeyer commented on #1338
At this point @gkthiruvathukal will give it a final look as the editor for the submission; if he decides it is ready to accept, then he'll ask you to archive the accepted version of the package and provide an associated DOI (e.g., via Zenodo). However, hold off until you get that request from him.

[2019-04-13 17:40] labarba commented on #1255
From the review thread, it looks like @mgymrek requested some changes 19 days ago: https://github.com/openjournals/joss-reviews/issues/1255#issuecomment-476261001

The author reports having addressed these.

[2019-04-13 18:57] arokem commented on #1272
Hey @TomDonoghue : have you merged the last updates in?

[2019-04-13 20:39] djmitche commented on #1169
@katyhuff what is the status here?  I see this is still assigned to me - is there anything further required?

[2019-04-13 20:39] djmitche commented on #1330
@jasonclark is this ready to wrap up?

[2019-04-13 20:54] justinalsing commented on #1157
Hi @taqtiqa-mark -

I haven't had time to set up the VM etc yet (I had a go but had some trouble getting VirtualBox working on my machine and ran out of time). However, I am going to help some new users get installed and working with the code this week or next - is there anything I could provide you from this process that would satisfy your last checkpoint re validating the installation instructio

[2019-04-14 01:51] usethedata commented on #1296
@jgostick Yes.

[2019-04-14 05:50] gkthiruvathukal commented on #1338
@kyleniemeyer I'm on travel right now (a mix of business and pleasure). I will work on the decision in the next day or two.  I'm encouraged by what I am seeing though. Thanks for your patience. I will try not to keep you waiting for too long.

[2019-04-14 11:38] arokem commented on #1172
@whedon generate pdf

[2019-04-14 11:38] whedon commented on #1172
[code]

[2019-04-14 11:39] whedon commented on #1172
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01172/joss.01172/10.21105.joss.01172.pdf)

[2019-04-14 12:58] labarba commented on #1230
@whedon set 10.5281/zenodo.2636831 as archive

[2019-04-14 12:58] whedon commented on #1230
OK. <a href="https://doi.org/10.5281/zenodo.2636831" target="_blank">10.5281/zenodo.2636831</a> is the archive.

[2019-04-14 12:59] labarba commented on #1230
@whedon accept

[2019-04-14 12:59] whedon commented on #1230
[code]

[2019-04-14 13:00] whedon commented on #1230
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/623

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/623, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-14 13:00] whedon commented on #1230
[code]

[2019-04-14 13:13] labarba commented on #1230
@whedon accept deposit=true

[2019-04-14 13:13] whedon commented on #1230
[code]

[2019-04-14 13:14] whedon commented on #1230
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/624
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01230](https://doi.org/10.21105/joss.01230)
2. If everything looks go

[2019-04-14 13:15] labarba commented on #1230
Congratulations, @annoviko, your JOSS paper is now published!

Big thanks to our editor: @poulson, and reviewer: @adavidzh — your valuable contribution makes JOSS possible! 🙏

[2019-04-14 13:16] #1230 closed

[2019-04-14 13:16] whedon commented on #1230
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01230/status.svg)](https://doi.org/10.21105/joss.01230)

**We need your help!**

Journal of Open Source Softwar

[2019-04-14 13:17] annoviko commented on #1230
Thanks to everyone :-) !

[2019-04-14 13:17] whedon opened #1372 "[PRE REVIEW]: xml2jupyter: Mapping parameters between XML and Jupyter widgets"
**Submitting author:** @rheiland (<a href="http://orcid.org/0000-0002-7440-2905">Randy Heiland</a>)
**Repository:** <a href="https://github.com/rheiland/xml2jupyter" target ="_blank">https://github.com/rheiland/xml2jupyter</a>
**Version:** v1.0.0
**Editor:** @lheagy
**Reviewers:** @choldgraf

**Author instructions**

Thanks for submitting your paper to JOSS @rheiland. **Currently, there isn't an J

[2019-04-14 13:17] whedon commented on #1372
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-14 13:17] whedon commented on #1372
[code]

[2019-04-14 13:18] whedon commented on #1372
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01372/joss.01372/10.21105.joss.01372.pdf)

[2019-04-14 13:21] labarba commented on #1372
@lheagy — the author suggested you as editor, and this indeed looks in your interest sphere. I will assign you now, but let me know if you're disinclined for any reason ...

[2019-04-14 13:22] labarba commented on #1372
@whedon assign @lheagy as editor

[2019-04-14 13:22] whedon commented on #1372
OK, the editor is @lheagy

[2019-04-14 13:28] whedon opened #1373 "[PRE REVIEW]: WatchMe: Software for Reproducible Monitoring and Data Collection"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://www.github.com/vsoch/watchme" target ="_blank">https://www.github.com/vsoch/watchme</a>
**Version:** 0.0.13
**Editor:** @brainstorm
**Reviewers:** @andreysmelter and @crew102

**Author instructions**

Thanks for submitting your paper to JOSS @vsoch. **Currently, there

[2019-04-14 13:28] whedon commented on #1373
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-14 13:28] whedon commented on #1373
[code]

[2019-04-14 13:30] whedon commented on #1373
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01373/joss.01373/10.21105.joss.01373.pdf)

[2019-04-14 13:30] labarba commented on #1373
👋  @brainstorm — The author suggested you as handling editor, and it looks like this work is in your sphere of interests. I'll assign you now, but let me know if you're disinclined for any reason.

[2019-04-14 13:31] labarba commented on #1373
@whedon assign @brainstorm as editor

[2019-04-14 13:31] whedon commented on #1373
OK, the editor is @brainstorm

[2019-04-14 13:33] whedon opened #1374 "[PRE REVIEW]: CRED: a rapid peak caller for Chem-seq data"
**Submitting author:** @jlincbio (<a href="http://orcid.org/0000-0002-8086-3185">Jason Lin</a>)
**Repository:** <a href="https://github.com/jlincbio/cred" target ="_blank">https://github.com/jlincbio/cred</a>
**Version:** 0.1
**Editor:** @lpantano
**Reviewers:** @darogan

**Author instructions**

Thanks for submitting your paper to JOSS @jlincbio. **Currently, there isn't an JOSS editor assigned**

[2019-04-14 13:33] whedon commented on #1374
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-14 13:33] whedon commented on #1374
[code]

[2019-04-14 13:33] whedon commented on #1374
PDF failed to compile for issue #1374 with the following error:

 Can't find any papers to compile :-(

[2019-04-14 13:37] vsoch commented on #1373
Thanks @whedon, @labarba, and @brainstorm!

Suggestions for reviewers: @petar, @mdmurbach, @andreysmelter, @crew102

[2019-04-14 13:40] labarba commented on #1374
👋  @lpantano — It looks like this submission is one you can help us with... I'll assign you as handling editor now, but do let me know if I got this wrong 🤓

[2019-04-14 13:40] labarba commented on #1374
@whedon assign @lpantano as editor

[2019-04-14 13:40] whedon commented on #1374
OK, the editor is @lpantano

[2019-04-14 13:41] whedon opened #1375 "[PRE REVIEW]: Hankel Transformation for Noisy Data - The Multiple Scattering Problem"
**Submitting author:** @hfriel69 (<a href="http://orcid.org/0000-0002-8812-8783">Henrich Frielinghaus</a>)
**Repository:** <a href="https://jugit.fz-juelich.de/sans/muscatt" target ="_blank">https://jugit.fz-juelich.de/sans/muscatt</a>
**Version:** v1.0.0
**Editor:** @katyhuff
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @h.frielinghaus. **Currently, the

[2019-04-14 13:41] whedon commented on #1375
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-14 13:41] whedon commented on #1375
[code]

[2019-04-14 13:42] whedon commented on #1375
PDF failed to compile for issue #1375 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1375/paper.md): found unexpected document indicator while scanning a quoted scalar at line 2 column 8 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'

[2019-04-14 13:42] whedon commented on #1375
Failed to discover a valid open source license.

[2019-04-14 13:46] labarba commented on #1375
@whedon generate pdf

[2019-04-14 13:46] whedon commented on #1375
[code]

[2019-04-14 13:46] whedon commented on #1375
PDF failed to compile for issue #1375 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1375/paper.md): found unexpected document indicator while scanning a quoted scalar at line 2 column 8 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'

[2019-04-14 13:51] labarba commented on #1375
@arfon : I have no clue why this paper is not compiling. Help!

[2019-04-14 13:52] labarba commented on #1375
@katyhuff 👋  — the submitting author suggested you as handling editor. Looks like there's some physics in here! I'll assign you now, but let me know if you're disinclined for any reason.

[2019-04-14 13:52] labarba commented on #1375
@whedon assign @katyhuff as editor

[2019-04-14 13:52] whedon commented on #1375
OK, the editor is @katyhuff

[2019-04-14 13:53] whedon opened #1376 "[PRE REVIEW]: labjack-controller: Fast Realtime Data Collection with Labjack T-Series DAQs in Python"
**Submitting author:** @nyctanthous (<a href="http://orcid.org/0000-0002-1240-5385">Benjamin Montgomery</a>)
**Repository:** <a href="https://github.com/university-of-southern-maine-physics/labjack-controller" target ="_blank">https://github.com/university-of-southern-maine-physics/labjack-controller</a>
**Version:** 0.3
**Editor:** @usethedata
**Reviewers:** @lucask07, @ixjlyons

**Author instruc

[2019-04-14 13:53] whedon commented on #1376
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-14 13:53] whedon commented on #1376
[code]

[2019-04-14 13:53] whedon commented on #1376
PDF failed to compile for issue #1376 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1376/paper.md): found a tab character that violate intendation while scanning a plain scalar at line 10 column 11 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325

[2019-04-14 13:54] rheiland commented on #1372
As a first-time JOSS submitter, I'm not exactly sure how this review thread works, but if I'm supposed to reply to this "check article proof", I would just say that it looks acceptable to me. It's just slightly strange with a line break on a quoted <user_parameters> (p. 2).

[2019-04-14 13:55] labarba commented on #1376
@Nyctanthous — have a look at the tabs on the metadata section of your paper. Looks like some weird characters are messing up the paper compilations.

[2019-04-14 14:20] labarba commented on #1376
Also, after a quick look at your paper, I'd say it doesn't quite meet [our expectations](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). In particular, see if you can address these better:
- A summary describing the high-level functionality and purpose of the software for a diverse, non-specialist audience
- A clear statement of need that illustrates the purpos

[2019-04-14 14:22] whedon opened #1377 "[PRE REVIEW]: Fruitbat: A Python Package for Estimating Redshifts of Fast Radio Bursts"
**Submitting author:** @abatten (<a href="http://orcid.org/0000-0001-7599-6488">Adam Batten</a>)
**Repository:** <a href="https://github.com/abatten/fruitbat" target ="_blank">https://github.com/abatten/fruitbat</a>
**Version:** v1.0.0
**Editor:** @xuanxu
**Reviewers:** @zingale

**Author instructions**

Thanks for submitting your paper to JOSS @abatten. **Currently, there isn't an JOSS editor ass

[2019-04-14 14:22] whedon commented on #1377
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-14 14:22] whedon commented on #1377
[code]

[2019-04-14 14:22] whedon commented on #1377
PDF failed to compile for issue #1377 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (0000-0001-7559-6488) for Adam J. Batten (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:89:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon

[2019-04-14 14:30] labarba commented on #1377
@abatten 👋 — could there be a typo in your ORCID?

[2019-04-14 14:32] labarba commented on #1377
@xuanxu — The submitting author suggested you as handling editor, and it does look like your cup of tea. I'll assign you now, but let me know if you're disinclined for any reason.

[2019-04-14 14:32] labarba commented on #1377
@whedon assign @xuanxu as editor

[2019-04-14 14:32] whedon commented on #1377
OK, the editor is @xuanxu

[2019-04-14 14:35] labarba commented on #1376
@usethedata — from the looks of it, you could help us with this submission. Have a look ... I'm going to assign you now, but do let me know if you are disinclined for any reason. Thanks!

[2019-04-14 14:35] labarba commented on #1376
@whedon assign @usethedata as editor

[2019-04-14 14:35] whedon commented on #1376
OK, the editor is @usethedata

[2019-04-14 14:36] whedon opened #1378 "[PRE REVIEW]: View eXtract aNnotate (ViXeN) media files: a multimedia project manager"
**Submitting author:** @prabhuramachandran (<a href="http://orcid.org/0000-0001-6337-1720">Prabhu Ramachandran</a>)
**Repository:** <a href="https://github.com/vixen-project/vixen" target ="_blank">https://github.com/vixen-project/vixen</a>
**Version:** 1.0rc2
**Editor:** @xuanxu
**Reviewers:** @deniederhut, @amoeba

**Author instructions**

Thanks for submitting your paper to JOSS @prabhuramachan

[2019-04-14 14:36] whedon commented on #1378
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-14 14:36] whedon commented on #1378
[code]

[2019-04-14 14:36] whedon commented on #1378
PDF failed to compile for issue #1378 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1378/paper/paper.md): found a tab character that violate intendation while scanning a plain scalar at line 13 column 11 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.

[2019-04-14 14:38] labarba commented on #1378
👋 @prabhuramachandran — have a look at the tabs on the metadata section of your paper. Looks like some weird characters are messing up the paper compilation.

[2019-04-14 14:47] arokem commented on #1172
@whedon check references

[2019-04-14 14:47] whedon commented on #1172
[code]

[2019-04-14 14:47] whedon commented on #1172
[code]

[2019-04-14 14:48] arokem commented on #1172
This all looks good to me. Could you please create an archive of the software as it is now (e.g., using [zenodo](https://zenodo.org)) and post the DOI here?

[2019-04-14 14:55] labarba commented on #1378
@jasonclark — this submission looks to be in your areas of expertise and interest. I'm hoping you can handle it. I'll assign you now, but do let me know if you're disinclined for any reason.

[2019-04-14 14:55] labarba commented on #1378
@whedon assign @jasonclark as editor

[2019-04-14 14:55] whedon commented on #1378
OK, the editor is @jasonclark

[2019-04-14 14:56] whedon opened #1379 "[PRE REVIEW]: Lexicon-Mono-Seq, DOM Text Based Async MSA Viewer"
**Submitting author:** @IbrahimTanyalcin (<a href="http://orcid.org/0000-0003-0327-5096">Ibrahim  Tanyalcin</a>)
**Repository:** <a href="https://github.com/IbrahimTanyalcin/lexicon-mono-seq" target ="_blank">https://github.com/IbrahimTanyalcin/lexicon-mono-seq</a>
**Version:** v0.15.12
**Editor:** @csoneson
**Reviewers:** @hrhotz, @jkanche, @imallona

**Author instructions**

Thanks for submittin

[2019-04-14 14:56] whedon commented on #1379
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-14 14:56] whedon commented on #1379
[code]

[2019-04-14 14:56] whedon commented on #1379
PDF failed to compile for issue #1379 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1379 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedo

[2019-04-14 14:57] whedon opened #1380 "[PRE REVIEW]: coronagraph: Telescope Noise Modeling for Exoplanets in Python"
**Submitting author:** @jlustigy (<a href="http://orcid.org/0000-0002-0746-1980">Jacob Lustig-Yaeger</a>)
**Repository:** <a href="https://github.com/jlustigy/coronagraph" target ="_blank">https://github.com/jlustigy/coronagraph</a>
**Version:** v0.1
**Editor:** @arfon
**Reviewers:** @lpueyo

**Author instructions**

Thanks for submitting your paper to JOSS @jlustigy. **Currently, there isn't an J

[2019-04-14 14:57] whedon commented on #1380
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-14 14:57] whedon commented on #1380
[code]

[2019-04-14 14:57] whedon opened #1381 "[PRE REVIEW]: “Blaster” – a graphical user interface for common sequences analysis tools"
**Submitting author:** @snowformatics (<a href="http://orcid.org/0000-0003-0536-835X">Stefanie Lueck</a>)
**Repository:** <a href="https://github.com/snowformatics/BlasterQt" target ="_blank">https://github.com/snowformatics/BlasterQt</a>
**Version:** v.1.2.4
**Editor:** @lpantano
**Reviewers:** @vbarrera

**Author instructions**

Thanks for submitting your paper to JOSS @snowformatics. **Currentl

[2019-04-14 14:57] whedon commented on #1381
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-14 14:57] whedon commented on #1381
[code]

[2019-04-14 14:57] whedon commented on #1380
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01380/joss.01380/10.21105.joss.01380.pdf)

[2019-04-14 14:57] whedon commented on #1381
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01381/joss.01381/10.21105.joss.01381.pdf)

[2019-04-14 15:14] kgjerde commented on #1342
@trinker I think I have addressed all the points you raised – thanks a lot for the very useful input, much appreciated!

In addition, your point on Windows encoding issues (kgjerde/corporaexplorer#3) forced me to set up a Windows environment, which turned out to be very useful. (I had relied on AppVeyor CI to verify the basic functionality on Windows, having only access to Mac OS and Linux myself.

[2019-04-14 15:36] trinker commented on #1342
@kgjerde I tested and they address the issues I raised.

[2019-04-14 16:18] whedon opened #1382 "[PRE REVIEW]: PyVista: 3D plotting and mesh analysis through a streamlined interface for the Visualization Toolkit (VTK)"
**Submitting author:** @banesullivan (<a href="http://orcid.org/0000-0001-8628-4566">C. Bane Sullivan</a>)
**Repository:** <a href="https://github.com/pyvista/pyvista/" target ="_blank">https://github.com/pyvista/pyvista/</a>
**Version:** 0.18.1
**Editor:** @leouieda
**Reviewers:** @Chilipp, @nicoguaro

**Author instructions**

Thanks for submitting your paper to JOSS @banesullivan. **Currently, t

[2019-04-14 16:18] kgjerde commented on #1342
@trinker Yes, the UI issues you thankfully pointed out was quite easy to fix as soon as I got aware of the problem! Which led me to understand that similar issues may arise for the corpus texts as well, if one is unlucky/not careful with encoding – hence the README note.

[2019-04-14 16:18] whedon commented on #1382
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-14 16:18] whedon commented on #1382
[code]

[2019-04-14 16:19] whedon commented on #1382
PDF failed to compile for issue #1382 with the following error:

 Can't find any papers to compile :-(

[2019-04-14 16:21] labarba commented on #1382
@whedon generate pdf

[2019-04-14 16:21] whedon commented on #1382
[code]

[2019-04-14 16:22] whedon commented on #1382
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01382/joss.01382/10.21105.joss.01382.pdf)

[2019-04-14 16:23] labarba commented on #1382
👋  @leouieda — the submitting author suggested you as handling editor, and indeed it looks like this is your cup of tea! I'll assign you now, but do let me know if you are disinclined for any reason.

[2019-04-14 16:24] labarba commented on #1382
@whedon assign @leouieda as editor

[2019-04-14 16:24] whedon commented on #1382
OK, the editor is @leouieda

[2019-04-14 16:26] whedon opened #1383 "[PRE REVIEW]: ECabc: A feature tuning program focused on Artificial Neural Network hyperparameters"
**Submitting author:** @sanskriti-s (<a href="http://orcid.org/0000-0002-9884-7351">Sanskriti Sharma</a>)
**Repository:** <a href="https://github.com/ECRL/ecabc" target ="_blank">https://github.com/ECRL/ecabc</a>
**Version:** v2.2.2
**Editor:** @arokem
**Reviewers:** @annoviko

**Author instructions**

Thanks for submitting your paper to JOSS @sanskriti-s. **Currently, there isn't an JOSS editor a

[2019-04-14 16:26] whedon commented on #1383
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-14 16:26] whedon commented on #1383
[code]

[2019-04-14 16:26] whedon commented on #1383
PDF failed to compile for issue #1383 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1383/paper/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2019-04-14 16:37] banesullivan commented on #1382
Thanks, @labarba! It looks like whedon successfully rendered the PDF!

From the preview, it seems I may need to change a few things in the Markdown:

- One code snippet runs off the page - I'll try to fix this.
- I'm wondering if I added the figure captions in the correct way in Markdown?
- I may need to shift the figures around. Is there a way to specify the width in markdown that the latex compi

[2019-04-14 16:41] rheiland commented on #1372
Regarding suggestions for possible reviewers, I'd probably prefer to use your list of potential reviewers. When I visit that list and look for relevant subject interests, I would probably suggest
@Chilipp, @dangunter, @louietaylor, @pgadige, @vsoch, or @wtgee , to name a few (not sure why some of these names seem not to be valid github usernames).

[2019-04-14 16:55] banesullivan commented on #1382
@whedon generate pdf

[2019-04-14 16:55] whedon commented on #1382
[code]

[2019-04-14 16:56] whedon commented on #1382
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01382/joss.01382/10.21105.joss.01382.pdf)

[2019-04-14 17:40] labarba commented on #1383
@sanskriti-s — Please check the formatting of the metadata section of your paper, and adjust according to the example in the [Author Guide](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

[2019-04-14 18:01] MathCancer commented on #1372
Thanks, everyone. Michael Hucka (https://github.com/mhucka), Herbert Sauro (https://github.com/hsauro), and Jacob Scott (https://github.com/cancerconnector) might also be appropriate reviewers, given their work in mathematical biology and interfacing computational models.

[2019-04-14 18:09] sanskriti-s commented on #1383
Hi,

I fixed it.

Thank you,
Sanskriti

[2019-04-14 18:38] Nyctanthous commented on #1376
@labarba Thanks for the heads-up, I'll have the paper revised in the next 24 hours.

[2019-04-14 18:54] katyhuff commented on #1169
@whedon generate pdf

[2019-04-14 18:54] whedon commented on #1169
[code]

[2019-04-14 18:55] katyhuff commented on #1169
@whedon check references

[2019-04-14 18:55] whedon commented on #1169
[code]

[2019-04-14 18:55] whedon commented on #1169
PDF failed to compile for issue #1169 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    400      0 --:--:-- --:--:-- --:--:--   410
sh: 0: getcwd() f

[2019-04-14 18:55] whedon commented on #1169
[code]

[2019-04-14 18:55] katyhuff commented on #1169
@whedon generate pdf

[2019-04-14 18:55] whedon commented on #1169
[code]

[2019-04-14 18:56] whedon commented on #1169
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01169/joss.01169/10.21105.joss.01169.pdf)

[2019-04-14 18:57] katyhuff commented on #1169
@whedon check references

[2019-04-14 18:57] whedon commented on #1169
[code]

[2019-04-14 18:57] whedon commented on #1169
[code]

[2019-04-14 18:59] katyhuff commented on #1169
Thanks so much for the ping @djmitche for the ping! It's a hectic end of the semester and I missed the notification that the comments had been handled.

Thanks @mnarayan and @djmitche for your excellent reviews. The care you took and attention to detail that you supplied is what makes JOSS possible.

[2019-04-14 19:27] katyhuff commented on #1169
Thank you @maximtrp for a strong submission and for engaging actively in the review process! I have looked over the paper and have conducted a high level review of the code itself. Everything looks ship-shape to me and we are nearly ready to move forward with acceptance. That said, if you have a moment, I would like to see all existing references contain a DOI where possible. Some of the citations

[2019-04-14 20:08] labarba commented on #1383
@whedon generate pdf

[2019-04-14 20:08] whedon commented on #1383
[code]

[2019-04-14 20:08] whedon commented on #1383
PDF failed to compile for issue #1383 with the following error:

 ORCID looks malformed
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (N/A) for Hernan Gelaf-Romer (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:89:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-04-14 20:12] labarba commented on #1383
@sanskriti-s — We do need an ORCID for every author. If your co-author doesn't have one, they will have to create one …

[2019-04-14 20:14] studywolf commented on #1225
@danielskatz i've completed the review, and with the contributing documentation added it looks good aside from the documentation for one part of the code. This is currently an open issue on the github, so deferring to you on this. If you think it's fine to not have this resolved before approving then :+1:

[2019-04-14 20:18] mconlon17 commented on #1182
Here is the DOI:  https://doi.org/10.5281/zenodo.2639713

[2019-04-14 20:22] maximtrp commented on #1169
@katyhuff I would like to keep these references as they are indeed the preferred ones. I have created a release of *scikit-posthocs* on Zenodo. Here is the DOI: [10.5281/zenodo.2639732](https://zenodo.org/record/2639732). Everything else is okay. Thank you!

[2019-04-14 20:30] katyhuff commented on #1169
@whedon set 10.5281/zenodo.2639732 as archive

[2019-04-14 20:30] whedon commented on #1169
OK. <a href="https://doi.org/10.5281/zenodo.2639732" target="_blank">10.5281/zenodo.2639732</a> is the archive.

[2019-04-14 20:30] katyhuff commented on #1169
@whedon accept

[2019-04-14 20:30] whedon commented on #1169
[code]

[2019-04-14 20:31] whedon commented on #1169
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/625

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/625, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-14 20:31] whedon commented on #1169
[code]

[2019-04-14 20:45] katyhuff commented on #1169
Thanks @maximtrp for your submission, patience, and cooperation with the process!

Thank you again @mnarayan and @djmitche for your detailed reviews!

This paper should be ready to accept @openjournals/joss-eics - over to you! (Please note the discussion about DOIs, above.)

[2019-04-14 21:08] labarba commented on #1169
@whedon set v0.5.1 as version

[2019-04-14 21:08] whedon commented on #1169
OK. v0.5.1 is the version.

[2019-04-14 21:12] labarba commented on #1169
@maximtrp — I noticed the version on your Zenodo archive didn't match what we had here, went to your repo, and see your version tag as v0.5.1 ... so I updated the version. Please confirm that is what we want.

[2019-04-14 21:18] maximtrp commented on #1169
@labarba That's right. It should be v0.5.1. Thank you!

[2019-04-14 21:26] danielskatz commented on #1225
Let's go ahead at this point.

[2019-04-14 21:28] danielskatz commented on #1225
👋 @graiola - what is the current version number?

And please make sure there is an archive of the current version, and let me know the DOI for it as well.

[2019-04-14 21:28] danielskatz commented on #1225
Thanks very much, @studywolf and @jenskober for your reviews!

[2019-04-14 21:39] labarba commented on #1169
@whedon accept deposit=true

[2019-04-14 21:39] whedon commented on #1169
[code]

[2019-04-14 21:40] whedon commented on #1169
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/626
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01169](https://doi.org/10.21105/joss.01169)
2. If everything looks go

[2019-04-14 21:42] labarba commented on #1169
Congratulations, @maximtrp, your JOSS paper is published! 🚀

Big thanks to our editor: @katyhuff, and the reviewers: @mnarayan, @djmitche — your contribution to JOSS is invaluable! 🙏

[2019-04-14 21:43] #1169 closed

[2019-04-14 21:43] whedon commented on #1169
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01169/status.svg)](https://doi.org/10.21105/joss.01169)

**We need your help!**

Journal of Open Source Softwar

[2019-04-14 21:44] Nyctanthous commented on #1376
@whedon generate pdf

[2019-04-14 21:44] whedon commented on #1376
[code]

[2019-04-14 21:44] whedon commented on #1376
PDF failed to compile for issue #1376 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1376/paper.md): mapping values are not allowed in this context at line 11 column 14 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/

[2019-04-14 21:56] Nyctanthous commented on #1376
@whedon generate pdf

[2019-04-14 21:56] whedon commented on #1376
[code]

[2019-04-14 21:56] whedon commented on #1376
PDF failed to compile for issue #1376 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a17

[2019-04-14 22:00] labarba commented on #1379
@whedon generate pdf

[2019-04-14 22:00] whedon commented on #1379
[code]

[2019-04-14 22:00] whedon commented on #1379
PDF failed to compile for issue #1379 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1379 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedo

[2019-04-14 22:03] Nyctanthous commented on #1376
@whedon generate pdf

[2019-04-14 22:03] whedon commented on #1376
[code]

[2019-04-14 22:03] whedon commented on #1376
PDF failed to compile for issue #1376 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    138      0 --:--:-- --:--:-- --:--:--   136
100    13    0

[2019-04-14 22:11] lheagy commented on #1372
Happy to @labarba!

[2019-04-14 22:11] labarba commented on #1379
@IbrahimTanyalcin —You've given us a link to your project webpage, not the repository: it should be https://github.com/IbrahimTanyalcin/lexicon-mono-seq
Let's see if I can change that manually.

[2019-04-14 22:12] Nyctanthous commented on #1376
@whedon generate pdf

[2019-04-14 22:12] whedon commented on #1376
[code]

[2019-04-14 22:12] whedon commented on #1376
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01376/joss.01376/10.21105.joss.01376.pdf)

[2019-04-14 22:14] Nyctanthous commented on #1376
Fourth time's the charm, apparently. Everything should be in a fully reviewable state.

[2019-04-14 22:15] labarba commented on #1379
@whedon generate pdf

[2019-04-14 22:15] whedon commented on #1379
[code]

[2019-04-14 22:15] whedon commented on #1379
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01379/joss.01379/10.21105.joss.01379.pdf)

[2019-04-14 22:23] whedon commented on #1379
Failed to discover a valid open source license.

[2019-04-14 22:24] labarba commented on #1379
@IbrahimTanyalcin — Before we can start with assigning an editor and reviewers, you'll have to do a bit more work on the paper to meet [our expectations](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). Right now the article itself is very brief and doesn't contain much substance; while we don't expect a full article here, it should be 250–1000 words and should

[2019-04-14 22:33] abatten commented on #1377
The ORCID number seems to be correct. It might have failed because my ORCID account didn't have my middle initial. I've changed it now so hopefully it works.

[2019-04-14 22:36] abatten commented on #1377
@whedon generate pdf

[2019-04-14 22:36] whedon commented on #1377
[code]

[2019-04-14 22:37] whedon commented on #1377
PDF failed to compile for issue #1377 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (0000-0001-7559-6488) for Adam J. Batten (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:89:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon

[2019-04-14 22:40] abatten commented on #1377
Hmmm. Actually I did miss a number. Trying again.

@whedon generate pdf

[2019-04-14 22:40] jedbrown commented on #1147
@sarats and @mmenickelly, you still have a few unchecked boxes in your reviews. Can you update us on their status and whether there are remaining issues to resolve?

[2019-04-14 22:41] abatten commented on #1377
@whedon generate pdf

[2019-04-14 22:41] whedon commented on #1377
[code]

[2019-04-14 22:44] labarba commented on #1357
@azazel7 — We're missing in your paper a brief description of how the software is used or can be used in research settings. Could you expand that? Please also comment on any extant software that targets the same (or similar) application or functionality.

[2019-04-14 22:48] labarba commented on #1343
@trallard — Looks like we're waiting to hear from you. We'd like to assign this submission to you for editing. Let us know!

[2019-04-14 22:55] labarba commented on #1331
👋  @IgorBaratta — Can you give us a quick update on your review?

[2019-04-14 23:47] whedon opened #1384 "[PRE REVIEW]: PVGeo: an open-source Python package for geoscientific visualization in VTK and ParaView"
**Submitting author:** @banesullivan (<a href="http://orcid.org/0000-0001-8628-4566">C. Bane Sullivan</a>)
**Repository:** <a href="https://github.com/OpenGeoVis/PVGeo" target ="_blank">https://github.com/OpenGeoVis/PVGeo</a>
**Version:** 2.0.0
**Editor:** @leouieda
**Reviewers:** @gassmoeller, @leguark

**Author instructions**

Thanks for submitting your paper to JOSS @banesullivan. **Currently,

[2019-04-14 23:47] whedon commented on #1384
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-14 23:47] whedon commented on #1384
[code]

[2019-04-14 23:48] whedon commented on #1384
PDF failed to compile for issue #1384 with the following error:

 Can't find any papers to compile :-(

[2019-04-14 23:48] banesullivan commented on #1384
@whedon commands

[2019-04-14 23:48] whedon commented on #1384
Here are some things you can ask me to do:

[code]

[2019-04-14 23:50] banesullivan commented on #1384
@whedon generate pdf

[2019-04-14 23:50] whedon commented on #1384
[code]

[2019-04-14 23:50] labarba commented on #1384
👋 @leouieda — it looks like this is a companion package to the submission I assigned you earlier today. It makes sense for you to edit both?

[2019-04-14 23:50] whedon commented on #1384
PDF failed to compile for issue #1384 with the following error:

 Can't find any papers to compile :-(

[2019-04-14 23:52] banesullivan commented on #1384
Whoops, forgot to merge the paper into the `master` branch... on it.

[2019-04-14 23:53] banesullivan commented on #1384
@whedon generate pdf

[2019-04-14 23:53] whedon commented on #1384
[code]

[2019-04-14 23:54] whedon commented on #1384
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01384/joss.01384/10.21105.joss.01384.pdf)

[2019-04-14 23:59] brainstorm commented on #1373
Yeah, @labarba, happy to edit, @vsoch's software is usually delicious :)

[2019-04-15 00:11] jlincbio commented on #1374
@whedon commands

[2019-04-15 00:11] whedon commented on #1374
Here are some things you can ask me to do:

[code]

[2019-04-15 00:11] jlincbio commented on #1374
@whedon generate pdf

[2019-04-15 00:11] whedon commented on #1374
[code]

[2019-04-15 00:12] whedon commented on #1374
PDF failed to compile for issue #1374 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Jason Lin, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon/author.rb:57:in `each'
	fr

[2019-04-15 00:17] labarba commented on #1384
@leouieda — I will assign you as editor on this one, but do let me know if you have any qualms.

[2019-04-15 00:18] labarba commented on #1384
@whedon assign @leouieda as editor

[2019-04-15 00:18] whedon commented on #1384
OK, the editor is @leouieda

[2019-04-15 00:18] jlincbio commented on #1374
@whedon generate pdf

[2019-04-15 00:18] whedon commented on #1374
[code]

[2019-04-15 00:18] whedon commented on #1374
PDF failed to compile for issue #1374 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Jason Lin, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon/author.rb:57:in `each'
	fr

[2019-04-15 00:21] jlincbio commented on #1374
@whedon generate pdf

[2019-04-15 00:21] whedon commented on #1374
[code]

[2019-04-15 00:21] whedon commented on #1374
PDF failed to compile for issue #1374 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Jason Lin, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon/author.rb:57:in `each'
	fr

[2019-04-15 00:22] labarba commented on #947
@peterjwatkins 👋  — it looks like we're waiting on some improvements on your side? Let us know your status, when you have a chance.

[2019-04-15 00:23] labarba commented on #1309
👋 @trallard — it looks like this submission is waiting for you to assign reviewers, now that your back from `ooo`, yes?

[2019-04-15 00:24] jlincbio commented on #1374
@whedon generate pdf

[2019-04-15 00:24] whedon commented on #1374
[code]

[2019-04-15 00:25] whedon commented on #1374
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01374/joss.01374/10.21105.joss.01374.pdf)

[2019-04-15 00:25] labarba commented on #785
👋 @karthik — did you ever get a reply from @kylehamilton ?
This looks stalled and may need more active nudging. Thanks1

[2019-04-15 00:27] labarba commented on #1279
@nelsonroque — Did you get the initial comments to start working on?

@acolum, @aj2duncan — What's your status with the continued review of this submission?

[2019-04-15 00:28] labarba commented on #1214
@yochannah 👋  — how are you getting on searching for reviewers for this submission?

[2019-04-15 00:30] labarba commented on #1256
👋  @timClicks — can you update us on your status with this review?

[2019-04-15 00:33] labarba commented on #1234
👋 @aelanman — it looks like we're waiting for you to address reviewer comments? Let us know your status. Cheers!

[2019-04-15 01:35] labarba commented on #1044
@yochannah : we have one complete review now, and a second reviewer who has gone MIA. Could you make an assessment at this point about whether we can move forward with acceptance on the basis of the one review we have?

[2019-04-15 01:38] labarba commented on #1350
@shaunpwilkinson 👋  — I see we have no checked items yet on your checklist. When do you think you might get to this review? Thanks!

[2019-04-15 01:40] labarba commented on #1318
@whedon add @matbesancon as reviewer

[2019-04-15 01:40] whedon commented on #1318
OK, @matbesancon is now a reviewer

[2019-04-15 01:41] labarba commented on #1318
@whedon start review

[2019-04-15 01:41] whedon opened #1385 "[REVIEW]: RAFF: Robust Algebraic Fitting Function in Julia"
**Submitting author:** @fsobral (<a href="http://orcid.org/0000-0003-4963-0946">Francisco Nogueira Calmon Sobral</a>)
**Repository:** <a href="https://github.com/fsobral/RAFF.jl" target ="_blank">https://github.com/fsobral/RAFF.jl</a>
**Version:** v0.4.1
**Editor:** @poulson
**Reviewer:** @abelsiqueira, @matbesancon
**Archive:** <a href="https://doi.org/10.5281/zenodo.3265300" target="_blank">10.5

[2019-04-15 01:41] whedon commented on #1318
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1385. Feel free to close this issue now!

[2019-04-15 01:41] whedon commented on #1385
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @abelsiqueira, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-04-15 01:41] whedon commented on #1385
[code]

[2019-04-15 01:41] #1318 closed

[2019-04-15 01:41] whedon commented on #1385
PDF failed to compile for issue #1385 with the following error:

 Can't find any papers to compile :-(

[2019-04-15 01:42] labarba commented on #1385
👋  @abelsiqueira, @matbesancon — Thank you for agreeing to review this submission for JOSS! This is where the action happens. You each have a review checklist at the top of this issue thread. Feel free to enter your comments here, and to open new issues on the submission repository, as needed. Godspeed!

[2019-04-15 01:47] labarba commented on #1380
@arfon, I think this submission is right up your alley. Do you want to take it as handling editor?

[2019-04-15 03:08] jlincbio commented on #1374
@whedon generate pdf

[2019-04-15 03:09] whedon commented on #1374
[code]

[2019-04-15 03:10] whedon commented on #1374
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01374/joss.01374/10.21105.joss.01374.pdf)

[2019-04-15 03:10] jlincbio commented on #1374
Thanks for picking up the review. I noticed that whedon was unable to generate a PDF, so looked around and fixed some things in the paper. Hopefully this wouldn't affect the review process.

[2019-04-15 03:47] IbrahimTanyalcin commented on #1379
@labarba , I'll beef up the paper.md a bit, the examples are embedded inside the readme, I've got 6 already, 2 more on the way. I'll let you know when I'm done, probably in a few hours.

[2019-04-15 05:18] jlincbio commented on #1374
@labarba @lpantano this is my first time submitting to JOSS (and TBH first time submitting a software paper), so I'm actually not sure on what sort of criteria a suitable reviewer should meet. With that said, looking at the previous JOSS referee list and perhaps one of the following may work?

MDebasish
darogan
arvestad
janpb
standage
jdeligt

I just filtered the list for the following criteria:
1

[2019-04-15 05:51] stulp commented on #1225
It would be nice if I could close issue 44 (which was opened by @studywolf) before assigning the next version number. That is the version I would like the DOI to be assigned with.

Fixing 44 is quite a bit of work (involving an overhaul of the serialization functions), but I should be done within a week or so. Would it be possible to wait with the acceptance until I have fixed it?

[2019-04-15 09:56] matbesancon commented on #1385
@whedon generate pdf from branch joss

[2019-04-15 09:56] whedon commented on #1385
[code]

[2019-04-15 09:57] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-04-15 10:10] rheiland commented on #1372
@whedon commands

[2019-04-15 10:10] whedon commented on #1372
Here are some things you can ask me to do:

[code]

[2019-04-15 10:14] rheiland commented on #1372
@whedon generate pdf

[2019-04-15 10:14] whedon commented on #1372
[code]

[2019-04-15 10:15] whedon commented on #1372
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01372/joss.01372/10.21105.joss.01372.pdf)

[2019-04-15 10:20] rheiland commented on #1372
Looks good - just made a minimal change: "shown below" -> "shown in Figure 3" (because the figure wasn't *below*).

[2019-04-15 10:37] whedon opened #1386 "[PRE REVIEW]: Emacs-reveal: A software bundle to create OER presentations with audio explanations"
**Submitting author:** @lechten (<a href="http://orcid.org/0000-0002-3064-147X">Jens Lechtenbörger</a>)
**Repository:** <a href="https://gitlab.com/oer/emacs-reveal" target ="_blank">https://gitlab.com/oer/emacs-reveal</a>
**Version:** v3.0.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @lechten. **Currently, there isn't an JOSS edito

[2019-04-15 10:37] whedon commented on #1386
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-15 10:37] whedon commented on #1386
[code]

[2019-04-15 10:37] whedon commented on #1386
PDF failed to compile for issue #1386 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1386 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedo

[2019-04-15 10:43] danielskatz commented on #1225
If it's that close to done, then yes, let's wait.  My suggestion to go ahead was based on an assumption it would take longer.

[2019-04-15 10:44] danielskatz commented on #1225
When you make the new version, please make the changes clear so one of us can quickly review them as well.

[2019-04-15 10:45] arfon commented on #1375
There's an unmatched quotation on the title line of the paper. Line #2 of `paper.md` needs to be modified to be this:

[code]

I would @-mention the author but they appear to have used an invalid GitHub handle when submitting the paper (I've emailed them directly about this).

[2019-04-15 10:46] arfon commented on #1380
@whedon assign @arfon as editor

[2019-04-15 10:46] whedon commented on #1380
OK, the editor is @arfon

[2019-04-15 10:53] arfon commented on #1182
@mconlon17 - there are a couple of issues with your paper. One of the grant numbers looks to be a placeholder (`xxxxxxx`) - could you please address that.

Also, none of the references are included in the body text which means they won't be compiled into the paper pdf. You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html)

[2019-04-15 11:11] symmy596 commented on #1361
I would like to start by saying that SMACT is a really nice piece of work that has a clear research use. The authors have done a great job.

### Reviewer comments

#### General Comments

- The README on PyPi has not rendered correctly. PyPi expects readme files to be rst files however you can get away with markdown by putting - long_description_content_type=’text/markdown into your setup.py. See h

[2019-04-15 11:15] arfon commented on #1380
:wave: @lpueyo - would you be willing to review this submission for JOSS?

[2019-04-15 11:32] lechten commented on #1386
@whedon commands

[2019-04-15 11:32] whedon commented on #1386
Here are some things you can ask me to do:

[code]

[2019-04-15 11:38] lechten commented on #1386
Concerning potential reviewers: I did not see anyone advertising Open Educational Resources. Here are some suggestions:

- @adammichaelwood You mention Continuous Deployment, Markup Languages, and Education, all of which are relevant in this paper.
- @bradweiner and @jrosen48 I hope that you find this paper interesting based on your educational topics.
- @markgalassi Maybe your interest in Lisp (t

[2019-04-15 11:46] justinalsing commented on #1157
Hi @taqtiqa-mark

OK so I've now done the following: created an isolated python environment using virtualenv, then followed my install instructions:

pip install numpy scipy matplotlib netCDF4 pystan
git clone https://github.com/justinalsing/dlmmc.git
cd dlmmc
python compile_stan_models.py

and then tested that the jupyter notebook dlm_tutorial.ipynb runs through without errors by doing

jupyter-n

[2019-04-15 12:28] jrosen48 commented on #1386
Hi, I'd be happy to serve as a reviewer for this software bundle & paper.

[2019-04-15 12:32] markgalassi commented on #1386
I'm also happy to serve as a reviewer for emacs-reveal

[2019-04-15 13:14] bradweiner commented on #1386
Hi all,

Thanks for considering me as a reviewer. At this point, I don’t have the capacity to do this review. My apologies, but I have a few other commitments that are taking my time and I wouldn’t want it to get held up by me.

It looks like a very cool project.

Brad

Brad Weiner, Ph.D.
Senior Director of Data Science, Capture Higher Ed

p:      612.208.8852      |     e:      bweiner@capturehig

[2019-04-15 13:49] xuanxu commented on #1377
👍

[2019-04-15 13:55] xuanxu commented on #1365
Great, thanks @melissawm!
I’m going to wait a little bit more for a response from @drvinceknight and then I’ll start the review issue.

[2019-04-15 14:14] lucask07 commented on #1172
@whedon set 10.5281/zenodo.2640871 as archive

[2019-04-15 14:14] whedon commented on #1172
I'm sorry @lucask07, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-04-15 14:15] lucask07 commented on #1172
@arokem
I've pulled a DOI from zenodo: 10.5281/zenodo.2640871

[2019-04-15 14:15] lucask07 commented on #1172
@whedon set v0.1.9 as version

[2019-04-15 14:15] whedon commented on #1172
I'm sorry @lucask07, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-04-15 14:15] lucask07 commented on #1172
@arokem
The version on GitHub and PyPi is now v0.1.9

[2019-04-15 14:19] andreysmelter commented on #1373
Hi all, I will be happy to review @vsoch software paper!

[2019-04-15 15:11] davekinkead commented on #1360
@alexhanna all review issues have been addressed - I'm happy to accept this paper noting I've only been able to test the software on OSX.

[2019-04-15 16:03] lechten commented on #1386
Hi all, many thanks for your fast responses and many thanks to @jrosen48 and @markgalassi for being willing to work on my behalf!
Is there anything for me to do now? What about the PDF compilation failure?

[2019-04-15 16:14] arfon commented on #1380
@whedon assign @lpueyo as reviewer

[2019-04-15 16:14] whedon commented on #1380
OK, the reviewer is @lpueyo

[2019-04-15 16:14] arfon commented on #1380
@whedon start review

[2019-04-15 16:14] #1380 closed

[2019-04-15 16:14] whedon opened #1387 "[REVIEW]: coronagraph: Telescope Noise Modeling for Exoplanets in Python"
**Submitting author:** @jlustigy (<a href="http://orcid.org/0000-0002-0746-1980">Jacob Lustig-Yaeger</a>)
**Repository:** <a href="https://github.com/jlustigy/coronagraph" target ="_blank">https://github.com/jlustigy/coronagraph</a>
**Version:** v0.1
**Editor:** @arfon
**Reviewer:** @lpueyo
**Archive:** <a href="https://doi.org/10.5281/zenodo.3375103" target="_blank">10.5281/zenodo.3375103</a>

##

[2019-04-15 16:14] whedon commented on #1380
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1387. Feel free to close this issue now!

[2019-04-15 16:14] whedon commented on #1387
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lpueyo it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-04-15 16:14] whedon commented on #1387
[code]

[2019-04-15 16:15] whedon commented on #1387
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01387/joss.01387/10.21105.joss.01387.pdf)

[2019-04-15 16:50] crew102 commented on #1373
I’m down for a review as well

[2019-04-15 16:51] cr458 commented on #1296
@usethedata After the tag issue, looks good to me. Anything else I need to do to officially approve the PR?

[2019-04-15 17:07] jgostick commented on #1296
Great!  I have not 'pulled the trigger' on this new doi/tag/version yet due to mistakes made previously.  The dev branch is all set to go.  Now that both reviewers have reported back positively, I suppose I can:

1. Merge dev onto master
2. Tag master as V1.1.2 (Will be the official version of record in JOSS, also I can assure you that __version__ will now be set to 1.1.2 as well!)
3.  This taggin

[2019-04-15 17:18] arfon commented on #1386
:wave: @lechten thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? The section

[2019-04-15 17:25] arfon commented on #1383
Actually we don't need ORCIDs for authors, it's just the current value's of `N/A` aren't valid :-) . I've fixed this here: https://github.com/ECRL/ecabc/pull/44

[2019-04-15 17:30] arfon commented on #1377
@whedon generate pdf

[2019-04-15 17:30] whedon commented on #1377
[code]

[2019-04-15 17:35] arfon commented on #1377
I'm not sure why Whedon is struggling here. I've compiled the PDF locally: [10.21105.joss.01377.pdf](https://github.com/openjournals/joss-reviews/files/3081403/10.21105.joss.01377.pdf)

[2019-04-15 17:45] arokem commented on #1172
@whedon set 10.5281/zenodo.2640871 as archive

[2019-04-15 17:45] whedon commented on #1172
OK. <a href="https://doi.org/10.5281/zenodo.2640871" target="_blank">10.5281/zenodo.2640871</a> is the archive.

[2019-04-15 17:46] arokem commented on #1172
@whedon set v0.1.9 as version

[2019-04-15 17:46] whedon commented on #1172
OK. v0.1.9 is the version.

[2019-04-15 17:46] arokem commented on #1172
👋 @openjournals/joss-eics this submission is ready to be accepted

[2019-04-15 17:50] arfon commented on #1172
@whedon accept

[2019-04-15 17:50] whedon commented on #1172
[code]

[2019-04-15 17:50] whedon commented on #1172
[code]

[2019-04-15 17:50] whedon commented on #1172
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/627

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/627, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-15 18:01] arfon commented on #1172
@whedon accept deposit=true

[2019-04-15 18:02] whedon commented on #1172
[code]

[2019-04-15 18:02] whedon commented on #1172
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/628
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01172](https://doi.org/10.21105/joss.01172)
2. If everything looks go

[2019-04-15 18:09] arfon commented on #1172
@brainstorm, @casteer - many thanks for your reviews here and to @arokem for editing this submission ✨

@lucask07 - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-04-15 18:09] #1172 closed

[2019-04-15 18:09] whedon commented on #1172
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01172/status.svg)](https://doi.org/10.21105/joss.01172)

**We need your help!**

Journal of Open Source Softwar

[2019-04-15 18:45] lechten commented on #1386
There are different directions of research.  First, the Action Plan [@Une17] shows a gap for OER in practice, also identifying a lack of tools.  How should “good” tools look like?  Prior work [HWSJ10] proposed the ALMS framework to specify desirable technical properties for OER.  In [Lec19] I extended that framework based on more general ideas of software engineering and technical writing.  I beli

[2019-04-15 19:57] IbrahimTanyalcin commented on #1379
@labarba, Could you take a quick glance at the paper.md, does it fit better? https://github.com/IbrahimTanyalcin/lexicon-mono-seq/blob/master/paper/paper.md

[2019-04-15 20:00] banesullivan commented on #1384
Please note that there is a citation for `vtki` in this paper: #1382

[2019-04-15 20:50] leouieda commented on #1382
@labarba I'd be happy to edit this and the PVGeo paper :-1:

[2019-04-15 22:11] brainstorm commented on #1373
Sweet, let's have you two onboard then.

[2019-04-15 22:12] brainstorm commented on #1373
@whedon assign @crew102 as reviewer

[2019-04-15 22:12] whedon commented on #1373
OK, the reviewer is @crew102

[2019-04-15 22:12] brainstorm commented on #1373
@whedon assign @andreysmelter as reviewer

[2019-04-15 22:12] whedon commented on #1373
OK, the reviewer is @andreysmelter

[2019-04-15 22:13] brainstorm commented on #1373
@whedon assign @andreysmelter and @crew102 as reviewers

[2019-04-15 22:13] whedon commented on #1373
OK, the reviewer is @andreysmelter and @crew102

[2019-04-15 22:13] brainstorm commented on #1373
@whedon start review

[2019-04-15 22:14] whedon opened #1388 "[REVIEW]: WatchMe: Software for Reproducible Monitoring and Data Collection"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://www.github.com/vsoch/watchme" target ="_blank">https://www.github.com/vsoch/watchme</a>
**Version:** 0.0.13
**Editor:** @brainstorm
**Reviewer:** @andreysmelter, @crew102
**Archive:** <a href="https://doi.org/10.5281/zenodo.2633142" target="_blank">10.5281/zenodo.26331

[2019-04-15 22:14] whedon commented on #1373
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1388. Feel free to close this issue now!

[2019-04-15 22:14] whedon commented on #1388
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @andreysmelter it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-04-15 22:14] whedon commented on #1388
[code]

[2019-04-15 22:14] #1373 closed

[2019-04-15 22:14] vsoch commented on #1373
Thanks @brainstorm @whedon ! Looking forward to it.

[2019-04-15 22:14] whedon commented on #1388
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01388/joss.01388/10.21105.joss.01388.pdf)

[2019-04-15 22:17] vsoch commented on #1388
Thanks @andreysmelter and @crew102 for offering to review, and @brainstorm for being grandmaster editor! This isn't in the paper (as it's an extra thing) but if/when you are interested, I used this tool with git hooks to show an example of how to (automatically update) some simple plots for a watcher repo -> https://vsoch.github.io/2019/watchme-git-hook/

It will make more sense after you play aro

[2019-04-15 23:48] labarba commented on #1366
Hi @pachamaltese — After a pre-review of your submission, and an assessment by the editorial board at large, we find that this submission does not quite meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, while the software seems very useful, it falls under the 'Minor utility' category, and we therefore decided not to put it through review.

Than

[2019-04-15 23:50] #1366 closed

[2019-04-16 00:05] arfon commented on #1386
OK thanks for the background. I'd like to consult with the JOSS editorial team to get their feedback too.

Before I do this however, could you clarify what and where the source code is for this submission? I can see a couple of `.el` files but there seems to be a Docker file referenced too. Could you clarify?

[2019-04-16 00:10] arfon commented on #1373
@brainstorm Whedon didn't do quite what you expected here, we need to assign one at a time. I'll go ahead and fix up the review issue...

[2019-04-16 00:13] abatten commented on #1377
Thanks @arfon. Looks like parts of the document didn't render as I'd expect them to. e.g missing citations, listing dot points and figure captions. I'll fix those up.

[2019-04-16 00:25] vsoch commented on #1373
Thanks @arfon, I'll keep an eye out for this in the future too. :)

[2019-04-16 00:53] pachamaltese commented on #1366
@labarba Hi. I totally undestand, but what do you think about a larger (much larger) article about tradestatistics.io? it's a project that opens data from the UN that otherwise is not accesible for universities  without specific subscriptions.

[2019-04-16 01:33] labarba commented on #1366
I'm not sure what you mean by a larger article. JOSS doesn't publish long-form articles, but short articles _about research software_ (and the review is mostly about the software).

[2019-04-16 03:54] prabhuramachandran commented on #1378
@labarba -- thanks for the heads up, I've fixed the tabs in the `paper.md`.
@whedon generate pdf

[2019-04-16 05:57] lechten commented on #1386
Thanks for your questions, which help me to position emacs-reveal for a wider audience regardless of how this submissions plays out.

You can think of emacs-reveal as a plugin for GNU Emacs to generate HTML presentations from input files in [Org mode](https://orgmode.org/).  Emacs plugins/libraries/packages are written in Emacs Lisp (`el` files).  If you are disappointed by the amount of code in t

[2019-04-16 06:16] TomDonoghue commented on #1272
Hey @arokem - sorry for the delay, we were just fixing up some last things in the `sim` module that got refactored in the updates - but yes, I did just merge the updates in!

What is now in the `paper` folder on master is the updated version of the paper (with the updates for the code updates), and all those code updates have now also been merged to master.

This means we should be ready to check

[2019-04-16 06:38] lechten commented on #1386
I'd like to add one point concerning research: I assign self-study tasks to students based on presentations generated with emacs-reveal (in Just-in-Time Teaching, which shares similarities with Flipped Classroom approaches to foster active learning). Frequently, such approaches are based on video input, which I dislike personally (no skim reading, no hyperlinks, difficult navigation, difficult re-

[2019-04-16 07:56] vsoch commented on #1343
Thanks @labarba. Let me know if I can help in any way - we are 25 days in and I hope that we can get underway soon!

[2019-04-16 10:53] arfon commented on #1378
@whedon generate pdf

[2019-04-16 10:53] whedon commented on #1378
[code]

[2019-04-16 10:54] whedon commented on #1378
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01378/joss.01378/10.21105.joss.01378.pdf)

[2019-04-16 11:34] trallard commented on #1241
hi @adrena-lab  sorry for the long wait, I am now back and in full swing so let's get things moving

Dear potential reviewers (@aquilesC @cmccomb @nicoguaro @martlj @PhilipVinc),

It seems that you all have valuable expertise to review this submission, so I was wondering if you had the time and bandwidth to take upon as reviewers?

**Title**: open_iA: Optimising light source positioning for even a

[2019-04-16 11:39] trallard commented on #1309
Hi Pierre @pierrepo apologies for the long wait, let's get things moving now for you 😄

Dear potential reviewers (@rpetit3 @jdeligt @a-slide @lowandrew @afrendeiro)

You all seem to have valuable expertise that could be used in this review, I am wondering if you have the time and bandwidth to help os review this submission?

**Title**: AutoClassWrapper: a Python wrapper for AutoClass C classificat

[2019-04-16 11:43] trallard commented on #1343
Hi @labarba  I would be happy to take up on the editorial duties for this submission 😄

[2019-04-16 11:59] kmichael08 commented on #1348
@katyhuff @danielskatz @arfon I'm a bit of lost on what is going on and what can I possibly do here to help

[2019-04-16 12:10] labarba commented on #1343
@whedon assign @trallard as editor

[2019-04-16 12:10] whedon commented on #1343
OK, the editor is @trallard

[2019-04-16 12:11] danielskatz commented on #1348
It looks like @katyhuff as the editor currently has the task of finding reviewers and starting the review. I see reviewers who have agreed, so Katy just needs to assign them now, and start the review, which I'm sure she will do shortly

[2019-04-16 12:14] rpetit3 commented on #1309
Hi @trallard!

I would be glad to help reviewing @pierrepo's manuscript/software.

Full disclosure, this will be my first time formally reviewing a manuscript/software. To help get started I have read through the [Review Checklist](https://joss.readthedocs.io/en/latest/review_checklist.html), but I still might stumble over some things (I'll do my best not to!). So, any advice, feedback, and/or ins

[2019-04-16 12:38] katyhuff commented on #1348
Sorry -- I'm back. Thanks for the pings.

[2019-04-16 12:38] katyhuff commented on #1348
@whedon assign janfreyberg as reviewer

[2019-04-16 12:38] whedon commented on #1348
OK, the reviewer is janfreyberg

[2019-04-16 12:39] katyhuff commented on #1348
@whedon add justinshenk as reviewer

[2019-04-16 12:39] whedon commented on #1348
OK, justinshenk is now a reviewer

[2019-04-16 12:41] katyhuff commented on #1348
@whedon start review

[2019-04-16 12:41] whedon opened #1389 "[REVIEW]: pyCeterisParibus: explaining Machine Learning models with Ceteris Paribus Profiles in Python"
**Submitting author:** @kmichael08 (<a href="http://orcid.org/0000-0002-9181-0126">Michał Kuźba</a>)
**Repository:** <a href="https://github.com/ModelOriented/pyCeterisParibus" target ="_blank">https://github.com/ModelOriented/pyCeterisParibus</a>
**Version:** v0.5.2
**Editor:** @katyhuff
**Reviewer:** @janfreyberg, @justinshenk
**Archive:** <a href="https://doi.org/10.5281/zenodo.2667756" target=

[2019-04-16 12:41] whedon commented on #1348
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1389. Feel free to close this issue now!

[2019-04-16 12:41] whedon commented on #1389
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @janfreyberg, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-04-16 12:41] whedon commented on #1389
[code]

[2019-04-16 12:42] whedon commented on #1389
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01389/joss.01389/10.21105.joss.01389.pdf)

[2019-04-16 12:42] poulson commented on #1356
@Kevin-Mattheus-Moerman Please excuse the delay, I am getting back to this now!

[2019-04-16 12:43] katyhuff commented on #1348
Thank you, @kmichael08 and @danielskatz  , for your patience and timely reminder! Thank you Jan and Justin (@janfreyberg @justinshenk ) for volunteering to review. Let's start the review over in #1389 .

[2019-04-16 12:43] #1348 closed

[2019-04-16 13:04] lowandrew commented on #1309
Hi @trallard!

I'm in very much the same boat as @rpetit3 with respect to software/review experience, but I'd be happy to review.

Thanks,
Andrew

[2019-04-16 13:09] poulson commented on #1356
@whedon generate pdf

[2019-04-16 13:09] whedon commented on #1356
[code]

[2019-04-16 13:10] whedon commented on #1356
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01356/joss.01356/10.21105.joss.01356.pdf)

[2019-04-16 13:23] trallard commented on #1309
Hi @rpetit3  and @lowandrew  this is great! Do not worry at all, the review process for JOSS is very comprehensive and I will monitor the review regularly to make sure you need as much guidance/support as needed 😄

I am going to assign you as reviewers and see if any of the other folks are interested in reviewing before starting the process

[2019-04-16 13:23] trallard commented on #1309
@whedon  add @rpetit3 as reviewer

[2019-04-16 13:23] trallard commented on #1309
@whedon  add @lowandrew as reviewer

[2019-04-16 13:29] poulson commented on #1356
Thank you for your patience, Nicolas (@celliern).

First, some comments on the paper:
* The [FEniCS Project](https://fenicsproject.org/) is quite popular and has similar, if not more aggressive, goals, and deserves to be referenced.
* You are making use of [SymPy][https://www.sympy.org/en/index.html) for your symbolic manipulations, and so it would be good form to provide a citation of the project

[2019-04-16 13:33] trallard commented on #1309
@whedon add @rpetit3 as reviewer

[2019-04-16 13:34] whedon commented on #1309
OK, @rpetit3 is now a reviewer

[2019-04-16 13:34] trallard commented on #1309
@whedon add @lowandrew as reviewer

[2019-04-16 13:34] whedon commented on #1309
OK, @lowandrew is now a reviewer

[2019-04-16 13:55] celliern commented on #1356
Hello !

No problem : the review process is still way faster than any "classic" journal.

Note taken for the references : I will add references to the Fenics project, and better, say a word on software targeting the same goals and their difference with my project. I will add citation for sympy as well as other main dependencies as well.

For the computational resources, it's a bit more than just t

[2019-04-16 13:58] celliern commented on #1356
As complement on the examples, you can find two complex working examples (that will be in the gallery) here :

https://nbviewer.jupyter.org/gist/celliern/c9f408c905b2cd533dcb7c7ffbe9c851

The first one has been built by @mrava87, the second one is a 2D dam break problem.

[2019-04-16 14:07] gkthiruvathukal commented on #1338
@tdrozdovsky and @omoliavko, I have gone through the checklist, and I'm ready to accept. Based on @kyleniemeyer's follow-up, can you please archive the accepted version of the package and provide an associated DOI (e.g., via Zenodo).

@kyleniemeyer Just to clarify, I do not do an accept via Whedon just yet, right?

[2019-04-16 14:11] danielskatz commented on #1338
Hi @gkthiruvathukal - rather than asking a specific AEiC, you probably should ask all of us (to get the person on duty this week) by including @openjournals/joss-eics in the comment.

And in this case, no, don't do an accept yet - you can do that once these other things (version, archive) are done, or the AEiC can do it.

[2019-04-16 14:22] gkthiruvathukal commented on #1338
@danielskatz Thanks for clarifying how to ask all AEICs. Somehow that was lost on me.

@openjournals/joss-eics This submission is moving toward acceptance. As this is one of the first I have seen through the process, it would be good if you can take a look that all is in order. The checklists are fine and all issues seem to have been addressed in the issue thread and follow-up. I believe we just n

[2019-04-16 14:22] arfon commented on #1338
@whedon generate pdf

[2019-04-16 14:23] whedon commented on #1338
[code]

[2019-04-16 14:23] whedon commented on #1338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01338/joss.01338/10.21105.joss.01338.pdf)

[2019-04-16 14:26] arfon commented on #1338
Yep, I think we're in good shape here. At this point we just need the author to create a DOI for the software and post the URL to it here.

[2019-04-16 14:27] gkthiruvathukal commented on #1338
Thanks, @arfon. Will await the DOI and associated URL and process the acceptance not long thereafter.

[2019-04-16 15:39] nicoguaro commented on #1241
@trallard, I think I can review it but it will take me a little bit longer than usual.

@adrena-lab, the software seems to be written in MATLAB. Is it mandatory, or can it run in Octave? If it cannot run in Octave, which version of MATLAB is needed?

[2019-04-16 15:56] martlj commented on #1241
@trallard, I am away from the office until 29th April, but if that's not too long I'd be happy to review it as soon as possible after then.

[2019-04-16 19:38] arokem commented on #1272
@whedon generate pdf

[2019-04-16 19:38] whedon commented on #1272
[code]

[2019-04-16 19:38] arokem commented on #1272
@whedon check references

[2019-04-16 19:38] whedon commented on #1272
[code]

[2019-04-16 19:38] whedon commented on #1272
PDF failed to compile for issue #1272 with the following error:

 Can't find any papers to compile :-(

[2019-04-16 19:38] whedon commented on #1272
[code]

[2019-04-16 19:39] arokem commented on #1272
@whedon generate pdf

[2019-04-16 19:39] whedon commented on #1272
[code]

[2019-04-16 19:39] whedon commented on #1272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01272/joss.01272/10.21105.joss.01272.pdf)

[2019-04-16 19:42] arokem commented on #1272
Is the first sentence missing a word?

Should that be two sentences? Something like: "Populations of neurons exhibit time-varying fluctuations in their aggregate electrical activity. These fluctuations are measured using ectrophysiological methods, such as magneto or electroencephalography (M/EEG), intracranial EEG (iEEG) or electrocorticography (ECoG), and local field potential (LFP) recordings [

[2019-04-16 19:53] voytek commented on #1272
Sure was! It used to be correct, but looks like it got messed up down the line. Fixed. Please rebuild. Sorry, and thanks for catching it!

[2019-04-16 20:15] Amudtogal commented on #1326
I have just closed these issues.
Furthermore, I added the model tests to our agenda. Do you expect us to finish the test before advancing the publication?

[2019-04-16 20:40] arokem commented on #1272
@whedon generate pdf

[2019-04-16 20:40] whedon commented on #1272
[code]

[2019-04-16 20:41] whedon commented on #1272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01272/joss.01272/10.21105.joss.01272.pdf)

[2019-04-16 20:52] arokem commented on #1272
@whedon set version as 1.1.2

[2019-04-16 20:54] arokem commented on #1272
@TomDonoghue : to create an archive, please upload the software as it is now to a service such as [zenodo](https://zenodo.org) that will create a doi for the software. Once you have that, please post the DOI here, and I will set that as the archive for the software.

[2019-04-16 20:54] arokem commented on #1272
@whedon set 1.1.2 as version

[2019-04-16 20:54] whedon commented on #1272
OK. 1.1.2 is the version.

[2019-04-16 21:50] TomDonoghue commented on #1272
Hey @arokem - thanks for the info, couple quick questions:

1) In the article proof, a couple of the in text citations are a little weird: specifically it cites `B. Voytek` in the first paragraph, and `Scott R Cole` in the second bullet point of the modules, inconsistently using first names / initials. It's not clear from looking at the paper.bib file what's different - do you happen to know what'

[2019-04-16 22:12] arokem commented on #1272
@whedon set 2.0.0 as version

[2019-04-16 22:12] whedon commented on #1272
OK. 2.0.0 is the version.

[2019-04-16 22:13] usethedata commented on #1296
@cr458 If you'll mark off the rest of your checklist, that would be good.
@jgostick Yes.  I'll change the version here and I'll update the DOI when you've got that.

[2019-04-16 22:14] usethedata commented on #1296
@whedon set V1.1.2 as version

[2019-04-16 22:14] whedon commented on #1296
OK. V1.1.2 is the version.

[2019-04-16 22:17] arokem commented on #1272
Your last bib item uses a different format for first/last names than all the others.

Also, I think you have "Scott R Cole" here:

https://github.com/neurodsp-tools/neurodsp/blob/master/paper/paper.bib#L41

And "Scott Robert Cole" here:

https://github.com/neurodsp-tools/neurodsp/blob/master/paper/paper.bib#L31

Which is also causing some issues.

[2019-04-16 22:19] arokem commented on #1171
Hey @effigies, @tanselbaran : have either of you had a chance to take a look?

[2019-04-16 22:28] usethedata commented on #1376
@Nyctanthous In your document, I see "n.d." Is that for "no DOI"?  Sorry to be slow in responding -- some challenges in the day job.

[2019-04-16 22:49] lheagy commented on #1221
:wave: Hi @chris-prener just checking in - have you had a chance to take a look at the suggestions in slu-openGIS/areal#20?

[2019-04-16 22:51] lheagy commented on #1328
👋 Hi @dvalters, checking in on this - when do you think you will have time to start your review? Thanks!

[2019-04-16 22:55] lpantano commented on #1374
Hi @jlincbio ,

I will take this tool through the process. I just came back from vacations, so give me a couple of days to organize myself.

Cheers

[2019-04-16 23:05] lheagy commented on #1372
:wave: Hi @mhucka, would you be willing to review this submission for the Journal of Open Source Software (JOSS)?

JOSS is a free, open-source, community driven and developer-friendly online journal. The review process is open, and conversation between the authors, reviewers and editors are encouraged. JOSS reviews involve downloading and installing the software, and inspecting the repository
and

[2019-04-16 23:32] jgostick commented on #1296
This DOI is offered on Zenodo as the 'one to rule them all', which will always resolve to the latest release.  I feel like this is the best one to use as future versions won't render it obsolete...

10.5281/zenodo.2633284

[2019-04-16 23:53] Nyctanthous commented on #1376
@usethedata No problem. I expect n.d. indicates "no date" recorded for authorship; I'm using the `misc` entry in the bibliography because, at this time, all references are websites.

I am not aware of any papers on the libraries that are similar/related to this one. ([minimal-modbus][0], [nidaqmx-python][1], [openDAQ][2], [Lawson Lab's 301/302 library][3], as some popular examples). If are any, ho

[2019-04-17 00:56] abatten commented on #1377
@whedon generate pdf

[2019-04-17 00:56] whedon commented on #1377
[code]

[2019-04-17 01:01] arfon commented on #1377
I'm wondering if Whedon is struggling because of the size of the logo: https://github.com/abatten/fruitbat/blob/master/logo/fruitbat_logo.png

[2019-04-17 01:02] abatten commented on #1377
It could be. The logo isn't super important to the paper, just thought it would be nice. I'll remove it and see.

[2019-04-17 01:03] arfon commented on #1377
Anyway, here's an update proof: [10.21105.joss.01377.pdf](https://github.com/openjournals/joss-reviews/files/3087480/10.21105.joss.01377.pdf)

[2019-04-17 01:03] arfon commented on #1377
Or just resize it? If you want to try out the change, you can push a modification to a branch and then ask Whedon to compile the paper from that branch for testing (e.g. `@whedon generate pdf from branch testing`)

[2019-04-17 01:19] abatten commented on #1377
@whedon generate pdf

[2019-04-17 01:19] whedon commented on #1377
[code]

[2019-04-17 01:20] abatten commented on #1377
@whedon generate pdf from branch joss

[2019-04-17 01:20] whedon commented on #1377
[code]

[2019-04-17 01:33] abatten commented on #1377
It still seems to be struggling even without the logo. It could be the other figure, but it isn't that big. I'm not sure what the issue is.

[2019-04-17 02:44] abatten commented on #1377
@whedon generate pdf from branch joss

[2019-04-17 02:44] whedon commented on #1377
[code]

[2019-04-17 05:19] kyleniemeyer commented on #1369
Hi @epeios-q37, sorry for the delay. The editorial board was deciding whether to consider your software as in scope for JOSS or not.

Unfortunately, after some discussion, we decided that while your software does look useful, it is fundamentally a utility and not research software itself, and thus not in JOSS's scope for submissions.

[2019-04-17 05:19] #1369 closed

[2019-04-17 06:36] dvalters commented on #1328
Oh sorry @lheagy - totally slipped my mind. Will start tonight 👍

Apologies!

On Tue, 16 Apr 2019, 23:51 Lindsey Heagy, <notifications@github.com> wrote:

[2019-04-17 06:47] jdeligt commented on #1309
Hi Tania,

Thanks for considering me, but unfortunately I'm currently in the middle of
immigrating so won't have the time to handle this appropriately. Better
luck next time.

Best, Joep

On Tue, 16 Apr 2019, 1:39 pm Tania Allard, <notifications@github.com> wrote:

[2019-04-17 08:52] ManuelaS commented on #1291
Hi @trallard , @piermorel & @Kevin-Mattheus-Moerman, is there anything I can do to drive this forward? Thanks a million!

[2019-04-17 10:14] justinshenk commented on #1389
**Overview:** pyCeterisParibus is a library for explaining machine learning models with _ceteris paribus_ profiles. These are useful for adding to visual story telling and supporting model interpretability. The idea is great, the implementation is clean, and I may use it in some of my projects. Some minor improvements are suggested below.

**Installation:** Installed without issues via pip and loc

[2019-04-17 11:24] arfon commented on #1386
Hi @lechten - many thanks for all of your feedback on my questions here. I've discussed this submission with the JOSS editorial team and we've decided that this not in scope for JOSS.

We have a sister journal - Journal of Open Source Education (http://jose.theoj.org/) that this submission might be a better fit for if that's interesting to you?

Thanks again for your interest in publishing with JO

[2019-04-17 11:24] #1386 closed

[2019-04-17 11:34] cmccomb commented on #1241
@trallard I should be able to make time for the review in the next few weeks!

[2019-04-17 11:57] lechten commented on #1386
Thanks for the pointer.  I'll check it out.

[2019-04-17 12:03] adrena-lab commented on #1241
Dear All,

I believe the link to the article proof above is incorrect (from a different contribution, not authored by us). Should be this one:

https://github.com/openjournals/joss-papers/blob/joss.01241/joss.01241/10.21105.joss.01241.pdf

Thanks,
Stefan

[2019-04-17 12:06] trallard commented on #1241
I might have changed the url when writing the comment fixed now @adrena-lab also can you please let us know if this can be run in Octave as per @nicoguaro question?

Thanks a lot @cmccomb I will add you as a reviewer straight away!

@martlj not a problem we can start the review with Chris and get yours in when you are back

[2019-04-17 12:06] trallard commented on #1241
@whedon add @cmccomb as reviewer

[2019-04-17 12:06] whedon commented on #1241
OK, @cmccomb is now a reviewer

[2019-04-17 12:33] trallard commented on #1309
No worries @jdeligt

Ok let's us move to the formal review process

[2019-04-17 12:34] trallard commented on #1309
@whedon start review

[2019-04-17 12:34] whedon opened #1390 "[REVIEW]: AutoClassWrapper: a Python wrapper for AutoClass C classification"
**Submitting author:** @pierrepo (<a href="http://orcid.org/0000-0003-4177-3619">Pierre Poulain</a>)
**Repository:** <a href="https://github.com/pierrepo/autoclasswrapper" target ="_blank">https://github.com/pierrepo/autoclasswrapper</a>
**Version:** 1.5.1
**Editor:** @trallard
**Reviewer:** @rpetit3, @lowandrew
**Archive:** <a href="https://doi.org/10.5281/zenodo.3339286" target="_blank">10.5281/

[2019-04-17 12:34] whedon commented on #1309
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1390. Feel free to close this issue now!

[2019-04-17 12:34] whedon commented on #1390
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rpetit3, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-04-17 12:34] whedon commented on #1390
[code]

[2019-04-17 12:34] #1309 closed

[2019-04-17 12:34] whedon commented on #1390
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01390/joss.01390/10.21105.joss.01390.pdf)

[2019-04-17 12:37] trallard commented on #1390
Hi  @rpetit3, @lowandrew!

Here is the official review issue. You will notice that each of you has a checklist with the items you need to go through.
I suggest using this issue to follow the review process and carry on any discussions.
If there are particular issues or something that needs more in-depth/longer conversations please open an issue on the software repository and reference it here so I

[2019-04-17 13:43] arfon commented on #1241
@whedon generate pdf

[2019-04-17 13:43] whedon commented on #1241
[code]

[2019-04-17 13:44] whedon commented on #1241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01241/joss.01241/10.21105.joss.01241.pdf)

[2019-04-17 13:49] adrena-lab commented on #1241
Article proof looks fine.

[2019-04-17 14:56] adrena-lab commented on #1241
@nicoguaro The software was written and tested using Matlab 2018a. It may indeed run using Octave as the code does not rely upon Matlab proprietary toolboxes, however this hasn't been tested by us.

[2019-04-17 14:58] TomDonoghue commented on #1272
Okay thanks for the info / guidance!

- I stepped through and updated the references, trying to make sure that they all used the same format, so hopefully that fixed things up. Can you rebuild the paper?

- I enabled Zenodo for the NeuroDSP repository, and tagged a pre-release version of 2.0.0, and it got assigned a DOI through Zenodo:
DOI: 10.5281/zenodo.2643784
Zenodo badge: https://zenodo.org/b

[2019-04-17 16:04] kmichael08 commented on #1389
@justinshenk Great thanks for all these valuable remarks! I merged your pull request. Also, I applied your comments referred to the paper and put the Gower's distance description in the documentation. I'll solve the scrollbar problem (ModelOriented/pyCeterisParibus#23) as fast as possible.

[2019-04-17 16:05] kmichael08 commented on #1389
@whedon generate pdf

[2019-04-17 16:05] whedon commented on #1389
[code]

[2019-04-17 16:06] whedon commented on #1389
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01389/joss.01389/10.21105.joss.01389.pdf)

[2019-04-17 16:15] arokem commented on #1272
@whedon set 10.5281/zenodo.2643784 as archive

[2019-04-17 16:15] whedon commented on #1272
OK. <a href="https://doi.org/10.5281/zenodo.2643784" target="_blank">10.5281/zenodo.2643784</a> is the archive.

[2019-04-17 16:16] arokem commented on #1272
@TomDonoghue : I'll rebuild, but FYI: you can also ask whedon to do that.

[2019-04-17 16:16] arokem commented on #1272
@whedon generate pdf

[2019-04-17 16:16] whedon commented on #1272
[code]

[2019-04-17 16:17] whedon commented on #1272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01272/joss.01272/10.21105.joss.01272.pdf)

[2019-04-17 16:19] arokem commented on #1272
The references look good to me. Please confirm and I will go ahead with the acceptance process.

[2019-04-17 16:31] nicoguaro commented on #1241
@trallard, I will take it then.

[2019-04-17 17:09] voytek commented on #1272
Looks great! Thanks @arokem.

[2019-04-17 19:36] druvus commented on #1364
thanks @rvosa ! I guess you should release an updated tagged version and update the manuscript to point to this new improved version.

[2019-04-17 19:39] druvus commented on #1364
@lpantano I happy with wgs2ncbi once the article is updated to include a new updated version based on latest wgs2ncbi commit.

[2019-04-17 19:41] TomDonoghue commented on #1272
@whedon generate pdf

[2019-04-17 19:41] whedon commented on #1272
[code]

[2019-04-17 19:42] whedon commented on #1272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01272/joss.01272/10.21105.joss.01272.pdf)

[2019-04-17 19:50] TomDonoghue commented on #1272
@whedon generate pdf

[2019-04-17 19:50] whedon commented on #1272
[code]

[2019-04-17 19:51] whedon commented on #1272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01272/joss.01272/10.21105.joss.01272.pdf)

[2019-04-17 19:53] TomDonoghue commented on #1272
Okay, two small fixes / updates:
- Fixed the references for when there are multiple refs for the same claim, so it doesn't add extra parentheses to the year.
- Added links to the ByCycle & FOOOF toolboxes.

Otherwise - I did another check through, and everything looks good to me now!
Can confirm to go through to the acceptance process! Thanks @arokem

[2019-04-17 19:58] rvosa commented on #1364
I tagged the most recent commit as v1.0.1 but I forgot where I need to insert that tag in the submission?

[2019-04-17 20:39] lpantano commented on #1364
@whedon set v1.0.1 as version

[2019-04-17 20:39] whedon commented on #1364
OK. v1.0.1 is the version.

[2019-04-17 20:41] lpantano commented on #1364
@whedon generate pdf

[2019-04-17 20:41] whedon commented on #1364
[code]

[2019-04-17 20:41] whedon commented on #1364
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01364/joss.01364/10.21105.joss.01364.pdf)

[2019-04-17 20:57] lpantano commented on #1364
@whedon check references

[2019-04-17 20:57] whedon commented on #1364
[code]

[2019-04-17 20:57] whedon commented on #1364
[code]

[2019-04-17 21:26] aelanman commented on #1234
Very sorry for the delay! I believe we've addressed all of the comments with the latest PR.

Major oversight on my part! It's included now.

As per our previous discussion, I've included a new page linked on the RTD page that compares features of pyuvsim with three other simulators used in our field. For FHD I've briefly discussed the high delay power it introduces, when run as a simulator, as an

[2019-04-17 21:33] arfon commented on #1234
@whedon generate pdf

[2019-04-17 21:33] whedon commented on #1234
[code]

[2019-04-17 21:34] whedon commented on #1234
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01234/joss.01234/10.21105.joss.01234.pdf)

[2019-04-17 21:34] arfon commented on #1234
@aelanman - many thanks for the detailed response. @ygrange - when you get a chance, could you review @aelanman's responses and confirm that you're satisfied?

[2019-04-17 22:14] arokem commented on #1272
👋 @openjournals/joss-eics : I believe this paper is ready to be accepted. Could you please take a look?

[2019-04-17 23:02] KateHyoung commented on #1322
Dear reviewers,

Thank you for your helpful comments for our package. I thoughtfully went over every comment and tried to reflect all of them because those make sense and enhance the package’s operations.

For the @briatte ‘s comment #4, we have changed the function code as you suggested. Users now can throw objects directly rather than list up with `list()`.
Ref. https://github.com/KateHyoung/UTD

[2019-04-17 23:18] arfon commented on #1272
@whedon accept

[2019-04-17 23:19] whedon commented on #1272
[code]

[2019-04-17 23:19] whedon commented on #1272
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/629

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/629, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-17 23:20] whedon commented on #1272
[code]

[2019-04-17 23:21] arfon commented on #1272
@whedon accept deposit=true

[2019-04-17 23:21] whedon commented on #1272
[code]

[2019-04-17 23:22] whedon commented on #1272
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/630
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01272](https://doi.org/10.21105/joss.01272)
2. If everything looks go

[2019-04-17 23:24] arfon commented on #1379
@whedon generate pdf

[2019-04-17 23:24] whedon commented on #1379
[code]

[2019-04-17 23:25] whedon commented on #1379
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01379/joss.01379/10.21105.joss.01379.pdf)

[2019-04-17 23:25] arfon commented on #1272
@TomDLT - many thanks for your review here and to @arokem for editing this submission :sparkles:

@voytek - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-04-17 23:25] #1272 closed

[2019-04-17 23:25] whedon commented on #1272
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01272/status.svg)](https://doi.org/10.21105/joss.01272)

**We need your help!**

Journal of Open Source Softwar

[2019-04-17 23:27] arfon commented on #1379
@IbrahimTanyalcin - this looks pretty good. It looks like you've not cited any of the entries in your `paper.bib` file which means they're not being compiled into the PDF proof. Could you make sure cite these? You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html)

[2019-04-17 23:28] arfon commented on #1379
:wave: @csoneson - would you be willing to edit this submission for JOSS?

[2019-04-17 23:58] IbrahimTanyalcin commented on #1379
@arfon ,I'll fix the citations. I've added 2 more examples meanwhile.

[2019-04-18 00:08] whedon opened #1391 "[PRE REVIEW]: stingray: A modern Python library for spectral timing"
**Submitting author:** @dhuppenkothen (<a href="http://orcid.org/0000-0002-1169-7486">Daniela Huppenkothen</a>)
**Repository:** <a href="https://github.com/StingraySoftware/stingray" target ="_blank">https://github.com/StingraySoftware/stingray</a>
**Version:** v0.1
**Editor:** @arfon
**Reviewers:** @Cadair

**Author instructions**

Thanks for submitting your paper to JOSS @dhuppenkothen. The JOSS

[2019-04-18 00:08] whedon commented on #1391
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@arfon) to find some reviewers for your

[2019-04-18 00:08] whedon commented on #1391
[code]

[2019-04-18 00:08] whedon commented on #1391
PDF failed to compile for issue #1391 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1391/joss/paper.md): found character that cannot start any token while scanning for the next token at line 12 column 3 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.r

[2019-04-18 00:14] arfon commented on #1391
:wave: @dhuppenkothen - this PR should fix the paper compilation issues: https://github.com/StingraySoftware/stingray/pull/394

[2019-04-18 00:17] arfon commented on #1391
@whedon generate pdf

[2019-04-18 00:17] whedon commented on #1391
[code]

[2019-04-18 00:17] whedon commented on #1391
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01391/joss.01391/10.21105.joss.01391.pdf)

[2019-04-18 00:19] arfon commented on #1391
Thanks for this submission @dhuppenkothen - do you have any suggestions for people who might be good reviewers for this submission?

[2019-04-18 00:24] dhuppenkothen commented on #1391
Do you want the answer to that question in real names or GitHub user names? :)

[2019-04-18 00:35] arfon commented on #1391
Ideally both, but feel free to quote GitHub names e.g. `@arfon` to stop people being pinged accidentally.

[2019-04-18 00:39] dhuppenkothen commented on #1391
Ah, I was wondering how to stop them from being pinged!

I think Stuart Mumford (`@Cadair`) might be a good reviewer. Also, Nestor Espinoza `@nespinoza` and Matt Pitkin (`@mattpitkin`). Those are the ones from the list of reviewers whose names stand out, but anyone at the intersection of astronomy and Python would be great, I suspect.

[2019-04-18 01:29] zmeers commented on #1313
@andrewheiss, thank you!

@cMadan, I have updated the README file, removed the error from one of the vignettes, and have added a CONTRIBUTING.md file. I have also included DOIs where possible in the bibliography. Thanks.

[2019-04-18 05:34] stefanv commented on #1247
@whedon generate pdf

[2019-04-18 05:34] whedon commented on #1247
[code]

[2019-04-18 05:34] abatten commented on #1377
@arfon Any more ideas why it's failing?

[2019-04-18 05:34] whedon commented on #1247
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01247/joss.01247/10.21105.joss.01247.pdf)

[2019-04-18 05:52] stefanv commented on #1247
@gnarayan @arfon We believe we have now addressed all of the issues identified in the first round of review.  Please see https://github.com/skyportal/skyportal/issues/127.  Specifically, we hope that the improved logging, installation instructions, and working Docker images will aid in evaluating the paper.  Feel free to let us know if there are any other issues we should address.

[2019-04-18 08:15] dandavies99 commented on #1361
Thanks for the really useful feedback @symmy596 and with many helpful tips. We have tried to address all your points as best we can through changes to the repository.

**General**

- We have added the `long_description_content_type` flag to get the README to render correctly on PyPi for the next release.

- We have added developer contact details of to the [README](https://github.com/WMD-group/SMA

[2019-04-18 08:46] VivianePons commented on #1351
I have started reviewing. I am not finished but I have some remarks.

First, it would be good to have the link to the documentation and the wiki inside the main README. Actually, I think the install should be described directly in the repo and not depend on the wiki (even though, it's good to also have the wiki)

And now, a more specific question. If I create a tree t and add a subtree s, I notice

[2019-04-18 09:33] IbrahimTanyalcin commented on #1379
@arfon, I've added the refs, though I'm not sure if it'll compile properly.

[2019-04-18 10:48] trallard commented on #1241
@whedon add @nicoguaro as reviewer

[2019-04-18 10:48] whedon commented on #1241
OK, @nicoguaro is now a reviewer

[2019-04-18 10:49] trallard commented on #1241
Great we now have two reviewers so I am going to move forward with the process 🎊

[2019-04-18 10:49] trallard commented on #1241
@whedon start review

[2019-04-18 10:49] whedon opened #1392 "[REVIEW]: Optimising Light Source Positioning for Even and Flux-Efficient Illumination"
**Submitting author:** @adrena-lab (<a href="http://orcid.org/0000-0002-4413-5527">Stefan  Guldin</a>)
**Repository:** <a href="https://github.com/adrena-lab/Optimising-Light-Source-Positioning" target ="_blank">https://github.com/adrena-lab/Optimising-Light-Source-Positioning</a>
**Version:** 1.0.1
**Editor:** @trallard
**Reviewer:** @cmccomb, @nicoguaro
**Archive:** <a href="https://doi.org/10.5

[2019-04-18 10:49] whedon commented on #1241
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1392. Feel free to close this issue now!

[2019-04-18 10:49] whedon commented on #1392
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cmccomb, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-04-18 10:49] whedon commented on #1392
[code]

[2019-04-18 10:49] whedon commented on #1392
PDF failed to compile for issue #1392 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1392 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedo

[2019-04-18 10:49] #1241 closed

[2019-04-18 10:52] trallard commented on #1392
@nicoguaro @cmccomb thanks for agreeing to review this submission.

You will find a checklist for each of you, please tick the items as you go over them. Use this issue to keep the updates and discussions in a central place. However, if there are longer issues or improvements that need to be requested, please make an issue on the software repo and reference it here 😄

If you encounter any issues o

[2019-04-18 11:08] wojciech-n commented on #1327
@lucydot, @mkhorton thank you very much for your valuable notes. @labarba thank you for editing my submission. I am going to revise both the docs and the package and let you know. Unfortunately I have been very busy lately, hence  please let me know what is the deadline.

[2019-04-18 11:20] arfon commented on #1377
@whedon generate pdf

[2019-04-18 11:20] whedon commented on #1377
[code]

[2019-04-18 11:41] arfon commented on #1377
It looks like the very long author lists on the Planck papers is blowing up the memory usage on the Heroku PDF worker:

[code]

I'm not sure there's much we can do to easily fix this unless you can truncate that author list (they won't all render in the paper anyway)?

[2019-04-18 11:41] arfon commented on #1247
OK thanks @stefanv. @gnarayan - when you get a chance, please take a look at these changes.

[2019-04-18 11:41] labarba commented on #1327
Well, if you could give this a couple of weeks, that would be nice. Take it as a soft deadline.

[2019-04-18 11:42] arfon commented on #1379
@whedon generate pdf

[2019-04-18 11:42] whedon commented on #1379
[code]

[2019-04-18 11:42] whedon commented on #1379
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01379/joss.01379/10.21105.joss.01379.pdf)

[2019-04-18 11:45] arfon commented on #1391
:wave: @Cadair - would you be willing to review this submission for JOSS?

[2019-04-18 11:50] Cadair commented on #1391
Yeah I would be happy to :smile:

[2019-04-18 11:54] lpantano commented on #1364
Thanks @druvus for the review!

@rvosa, can you create a Zenodo archive of your repository and give me the DOI? The title needs to match the papers title and make sure authors are correct in Zenodo as well.

Thanks!

[2019-04-18 11:55] lpantano commented on #1344
Hi @Juke34, Do you think you can address @mistrm82 comment to get a better way to get the tool installed?

[2019-04-18 12:04] arfon commented on #1391
@whedon assign @Cadair as reviewer

[2019-04-18 12:04] whedon commented on #1391
OK, the reviewer is @Cadair

[2019-04-18 12:04] arfon commented on #1391
@whedon start review

[2019-04-18 12:05] whedon opened #1393 "[REVIEW]: stingray: A modern Python library for spectral timing"
**Submitting author:** @dhuppenkothen (<a href="http://orcid.org/0000-0002-1169-7486">Daniela Huppenkothen</a>)
**Repository:** <a href="https://github.com/StingraySoftware/stingray" target ="_blank">https://github.com/StingraySoftware/stingray</a>
**Version:** v0.1.3
**Editor:** @arfon
**Reviewer:** @Cadair
**Archive:** <a href="https://doi.org/10.5281/zenodo.3242835" target="_blank">10.5281/zeno

[2019-04-18 12:05] whedon commented on #1391
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1393. Feel free to close this issue now!

[2019-04-18 12:05] whedon commented on #1393
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Cadair it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-04-18 12:05] whedon commented on #1393
[code]

[2019-04-18 12:05] arfon commented on #1391
Thanks for agreeing to review this submission @Cadair - see you over in #1393 for the actual review.

[2019-04-18 12:05] #1391 closed

[2019-04-18 12:05] whedon commented on #1393
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01393/joss.01393/10.21105.joss.01393.pdf)

[2019-04-18 12:06] ygrange commented on #1234
Ok, will do. Though I will have to push it to after easter.

[2019-04-18 12:14] arfon commented on #1393
@Cadair - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-04-18 12:33] IbrahimTanyalcin commented on #1379
Hmmm strange, any leads why the 4 other references does not appear on the references?

[2019-04-18 12:36] arfon commented on #1379
I could 6 citations in the `paper.md`, 6 references in `paper.bib` and 6 rendered references in the output PDF. That seems correct?

[2019-04-18 12:53] IbrahimTanyalcin commented on #1379
@arfon, pardon me I did not see the second page :((( Yes, indeed it is all in order. Thank you.

[2019-04-18 13:02] rvosa commented on #1364
Tagged release v1.0.3 is now mirrored on Zenodo, with the same title as the
manuscript, and with the coauthors embedded in the .zenodo.json file. The
DOI for this release is  10.5281/zenodo.2645762

[2019-04-18 13:15] rvosa commented on #1364
@whedon generate pdf

[2019-04-18 13:15] whedon commented on #1364
[code]

[2019-04-18 13:16] whedon commented on #1364
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01364/joss.01364/10.21105.joss.01364.pdf)

[2019-04-18 14:10] abatten commented on #1377
Well that should be an easy fix!

[2019-04-18 14:12] abatten commented on #1377
@whedon generate pdf from branch joss

[2019-04-18 14:12] whedon commented on #1377
[code]

[2019-04-18 14:12] whedon commented on #1377
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01377/joss.01377/10.21105.joss.01377.pdf)

[2019-04-18 14:27] abatten commented on #1377
@whedon generate pdf from branch joss

[2019-04-18 14:27] whedon commented on #1377
[code]

[2019-04-18 14:42] abatten commented on #1377
@whedon generate pdf from branch joss

[2019-04-18 14:42] whedon commented on #1377
[code]

[2019-04-18 14:42] whedon commented on #1377
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01377/joss.01377/10.21105.joss.01377.pdf)

[2019-04-18 14:46] arfon commented on #1377
That's looking better. Feel free to add back in the logo now as I don't think this was the source of the problem.

[2019-04-18 14:56] abatten commented on #1377
Actually it was also an issue. I tried with the logo and it couldn't generate the PDF for 14 minutes, so I have re-scaled the image to see if that now works.

[2019-04-18 14:56] abatten commented on #1377
@whedon generate pdf from branch joss

[2019-04-18 14:56] whedon commented on #1377
[code]

[2019-04-18 14:56] whedon commented on #1377
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01377/joss.01377/10.21105.joss.01377.pdf)

[2019-04-18 15:22] abatten commented on #1377
Alright! Looking good, I'll merge to paper development branch into master.

[2019-04-18 15:28] abatten commented on #1377
@whedon generate pdf

[2019-04-18 15:28] whedon commented on #1377
[code]

[2019-04-18 15:29] whedon commented on #1377
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01377/joss.01377/10.21105.joss.01377.pdf)

[2019-04-18 15:59] choldgraf commented on #1372
Hey all - I'd be happy to give this one a review if it's still needed.

[2019-04-18 16:00] lheagy commented on #1372
@whedon assign @choldgraf as reviewer

[2019-04-18 16:00] whedon commented on #1372
OK, the reviewer is @choldgraf

[2019-04-18 16:31] lheagy commented on #1372
:wave: Hi @fbergmann, would you be willing to review this submission for the Journal of Open Source Software (JOSS)?

JOSS is a free, open-source, community driven and developer-friendly online journal. The review process is open, and conversation between the authors, reviewers and editors are encouraged. JOSS reviews involve downloading and installing the software, and inspecting the repository
a

[2019-04-18 19:22] cmccomb commented on #1392
@adrena-lab This is a great repository! Here's what I think should be updated/revised:

1. General Checks, Version: You should make a release with version 1.0.
2. Documentation, Installation instructions: Please state the dependencies. For MATLAB, this probably just means to indicate which versions it should run on. If you want to make claims for Octave (recommended!) please provide version inform

[2019-04-18 19:53] luizirber commented on #1343
Hi,

@brainstorm contacted me some time ago to check if I was interested in reviewing this, but I was busy. I have time available now, if you're still looking for a reviewer =]

[2019-04-18 20:06] vsoch commented on #1343
@luizirber this would be great! @trallard @labarba do we need a reviewer? It would be great to get this underway soon :)

And thanks @brainstorm you (continue to be) awesome!

[2019-04-18 23:06] jlincbio commented on #1374
Thanks for agreeing to handle this submission, @lpantano - it is my first software submission, so I am a bit over-anxious about the whole experience. I made a list of possible referees in an earlier post, but they were not tagged with mentions. If there is anything you need from me please do not hesitate to let me know.

[2019-04-18 23:08] nicoguaro commented on #1392
@adrena-lab, I downloaded the repository and ran the main file using Octave 5.1 under Windows 10. I agree with the comments added by @cmccomb.

I will test the software in MATLAB later, in the mean time I add the errors I obtained using Octave.

The first error was
[code]

This was fixed doing the following in the command prompt.

    pkg load statistics

Similarly, I obtained the following error

[2019-04-18 23:14] zhang01GA commented on #1358
Hi  @JKutt and @alkirkby:
Two weeks ago, I did fix one new print issue in mtpy/imaging/plotstrike.py
 https://github.com/MTgeophysics/mtpy/commit/c4b6f3d8ffac3636a9bb60e7fc072bffcf312f73

Today, I applied 2to3 to every *.py script in mtpy.  But had not found any print statement issue.
All active print statement has been changed to print() in the refactoring long time ago.
(some py2 prints may exis

[2019-04-19 00:50] leouieda commented on #1342
:wave: Hi @kbenoit please let us know when you have some time to review this submission.

[2019-04-19 00:52] leouieda commented on #1315
:wave: Hi @lmcinnes, sorry to bug you again but please let us know when you have some time for the review/

[2019-04-19 02:10] leouieda commented on #1382
Hi @banesullivan, I've been going through the paper and I think it's a bit out of our usual format. Quoting from our [guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain):

Could you please reformat the paper before we proceed with the review? The information is already in the paper so it's only a matter of cutting and reorganizing. You don't have to remo

[2019-04-19 03:06] Benjamin-Lee commented on #1277
One last tiny change and then I think it's good to go:

Should this be `CLI` (since you defined the acronym in the previous section) or `within a command-line interface` with a lowercase `c`>

Either way, congrats @casperdcl!

[2019-04-19 04:05] poulson commented on #1356
@whedon generate pdf

[2019-04-19 04:05] whedon commented on #1356
[code]

[2019-04-19 04:06] whedon commented on #1356
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01356/joss.01356/10.21105.joss.01356.pdf)

[2019-04-19 05:25] banesullivan commented on #1382
Thank you for the feedback @leouieda. I have made updates to the paper addressing your concerns.

1. On the note of the paper's format:

    - I have significantly trimmed the content and made sure the paper only contains: *Statement of Need, Summary, Mentions, and References sections*
    - I have removed all code examples to adhere to JOSS' criteria that *"software documentation such as API (App

[2019-04-19 05:25] banesullivan commented on #1382
@whedon generate pdf

[2019-04-19 05:25] whedon commented on #1382
[code]

[2019-04-19 05:26] whedon commented on #1382
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01382/joss.01382/10.21105.joss.01382.pdf)

[2019-04-19 05:29] banesullivan commented on #1384
@whedon generate pdf

[2019-04-19 05:29] whedon commented on #1384
[code]

[2019-04-19 05:30] whedon commented on #1384
PDF failed to compile for issue #1384 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    278      0 --:--:-- --:--:-- --:--:--   282
Error producing P

[2019-04-19 05:33] banesullivan commented on #1384
@whedon generate pdf

[2019-04-19 05:33] whedon commented on #1384
[code]

[2019-04-19 05:34] whedon commented on #1384
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01384/joss.01384/10.21105.joss.01384.pdf)

[2019-04-19 05:44] banesullivan commented on #1384
How would I go about making sure Figure 2 isn't forced onto its own page? Ideally, I'd like it to be at the top of that page and then have the `Mentions` section start right under it.

I'm not familiar with the markdown to LaTeX converter used here and how I might implement a fix for this.

[2019-04-19 05:46] r-barnes commented on #1262
Thanks all, do ping me when I'm next needed.

[2019-04-19 08:18] RomainAzais commented on #1351
Hello Viviane,
Thank you for this first feedback.
- About add_subtree VS add_subtree_to_id: when constructing a tree, we want the ids to be unique. But, we also thought that it should be a good idea to keep the option of replicating the id. I agree that our code is not clear on that point. We can change this (only one method called add_subtree, with an optional variable for copying or not the id).

[2019-04-19 09:58] Juke34 commented on #1344
Yes I think we can make a bioconda package.

[2019-04-19 11:11] omoliavko commented on #1338
@whedon set https://zenodo.org/record/2647414 as archive

[2019-04-19 11:11] whedon commented on #1338
I'm sorry @omoliavko, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-04-19 11:13] omoliavko commented on #1338
@gkthiruvathukal I've posted uJVM source code archive to Zenodo: https://zenodo.org/record/2647414

[2019-04-19 13:33] gkthiruvathukal commented on #1338
@whedon set https://zenodo.org/record/2647414 as archive

[2019-04-19 13:33] whedon commented on #1338
https://zenodo.org/record/2647414 doesn't look like an archive DOI.

[2019-04-19 13:34] gkthiruvathukal commented on #1338
@whedon set 10.5281/zenodo.2647414 as archive

[2019-04-19 13:34] whedon commented on #1338
OK. <a href="https://doi.org/10.5281/zenodo.2647414" target="_blank">10.5281/zenodo.2647414</a> is the archive.

[2019-04-19 13:36] gkthiruvathukal commented on #1338
Thanks, @omoliavko! I was able to associate the archive.

[2019-04-19 13:37] gkthiruvathukal commented on #1338
@whedon generate pdf

[2019-04-19 13:37] whedon commented on #1338
[code]

[2019-04-19 13:37] whedon commented on #1338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01338/joss.01338/10.21105.joss.01338.pdf)

[2019-04-19 13:42] gkthiruvathukal commented on #1338
@openjournals/joss-eics I believe we are close to acceptance now. Are the authors supposed to cite the Zenodo artifact in the list of references in the accepted paper?

[2019-04-19 13:43] danielskatz commented on #1338
No - it will be linked in the top left in the final paper.

[2019-04-19 13:59] arfon commented on #1338
@whedon accept

[2019-04-19 13:59] whedon commented on #1338
[code]

[2019-04-19 13:59] whedon commented on #1338
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/631

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/631, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-19 14:00] whedon commented on #1338
[code]

[2019-04-19 14:02] gkthiruvathukal commented on #1338
@openjournals/joss-eics Thanks for all the help. I think I have a good handle on the workflow now.

[2019-04-19 14:03] arfon commented on #1338
:+1: are you happy with the final proofs @gkthiruvathukal? If so, I can go ahead and process the paper acceptance.

[2019-04-19 14:09] gkthiruvathukal commented on #1338
@arfon The proofs looked fine when I checked. I'm mobile now but am confident we can process acceptance.

[2019-04-19 14:12] arfon commented on #1338
@whedon accept deposit=true

[2019-04-19 14:12] whedon commented on #1338
[code]

[2019-04-19 14:13] whedon commented on #1338
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/632
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01338](https://doi.org/10.21105/joss.01338)
2. If everything looks go

[2019-04-19 14:17] arfon commented on #1338
@morganericsson, @hainesr - many thanks for your reviews and to @gkthiruvathukal for editing this submission ✨

@omoliavko - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-04-19 14:17] #1338 closed

[2019-04-19 14:17] whedon commented on #1338
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01338/status.svg)](https://doi.org/10.21105/joss.01338)

**We need your help!**

Journal of Open Source Softwar

[2019-04-19 14:40] omoliavko commented on #1338
@arfon @gkthiruvathukal @hainesr @morganericsson - A big "thank you" for your help, for your time and your effort :)

[2019-04-19 15:16] whedon opened #1394 "[PRE REVIEW]: SCONE: Open Source Software for Predictive Simulation of Biological Motion"
**Submitting author:** @tgeijten (<a href="http://orcid.org/0000-0001-8352-8107">Thomas Geijtenbeek</a>)
**Repository:** <a href="https://github.com/opensim-org/SCONE" target ="_blank">https://github.com/opensim-org/SCONE</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @modenaxe, @demotu

**Author instructions**

Thanks for submitting your paper to JOSS @tgeijten. **Curr

[2019-04-19 15:16] whedon commented on #1394
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-19 15:16] whedon commented on #1394
[code]

[2019-04-19 15:16] whedon commented on #1394
PDF failed to compile for issue #1394 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1394 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedo

[2019-04-19 15:17] arfon commented on #1394
👋 @Kevin-Mattheus-Moerman - the submitting author suggested you as the handling editor.

[2019-04-19 15:18] arfon commented on #1394
@whedon generate pdf

[2019-04-19 15:18] whedon commented on #1394
[code]

[2019-04-19 15:18] whedon commented on #1394
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01394/joss.01394/10.21105.joss.01394.pdf)

[2019-04-19 15:58] rpetit3 commented on #1390
@pierrepo - Great work Pierre! AutoClassWrapper was easy to install and get started with. I think your work offers a valuable path to making AutoClass C more accessible to naive users (such as myself!). Another important aspect, is that AutoClassWrapper allows the user to easily integrate AutoClass C into reproducible Jupyter/IPython notebooks.

Here are a few suggestions

1. Missing installation

[2019-04-19 16:02] pdwaggoner commented on #1285
hi @yochannah! Just wanted to follow up on this paper and see what the status is? No rush; just checking. Thanks!

[2019-04-19 16:09] alexhanna commented on #1285
Hi @pdwaggoner -- I'm still reviewing it, sorry. Will try to have this
completed by tomorrow.

On Fri, Apr 19, 2019 at 9:02 AM Philip Waggoner <notifications@github.com>
wrote:

--
Alex Hanna
alex-hanna.com
@alexhanna

[2019-04-19 16:43] pdwaggoner commented on #1285
Hey @alexhanna - no worries at all. Thanks so much for the review!

[2019-04-19 16:55] tgeijten commented on #1394
Thanks! The bullets points (*) don't show up correctly. Are they supported?

[2019-04-19 19:24] arfon commented on #1394
The Markdown parser is a little fussy and needs there to be whitespace before the first bullet. This PR should fix the rendering: https://github.com/opensim-org/SCONE/pull/47

[2019-04-19 20:57] lpantano commented on #1364
@whedon set v1.0.3 as version

[2019-04-19 20:57] whedon commented on #1364
OK. v1.0.3 is the version.

[2019-04-19 20:58] lpantano commented on #1364
@whedon set 10.5281/zenodo.2645762 as archive

[2019-04-19 20:58] whedon commented on #1364
OK. <a href="https://doi.org/10.5281/zenodo.2645762" target="_blank">10.5281/zenodo.2645762</a> is the archive.

[2019-04-19 20:59] lpantano commented on #1364
Ok, @openjournals/joss-eics I think we are done. Please let me know if something is off.

[2019-04-19 22:35] crew102 commented on #1388
@brainstorm, is it OK for reviewers to make contributions to the repo they're reviewing or would that amount to some kind of conflict of interest? For example, if I see some spelling mistake in the documentation/paper, can I open a PR to fix it as part of my review?

[2019-04-19 23:32] arfon commented on #1364
@whedon accept

[2019-04-19 23:32] whedon commented on #1364
[code]

[2019-04-19 23:32] whedon commented on #1364
PDF failed to compile for issue #1364 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1364 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedo

[2019-04-19 23:33] whedon commented on #1364
[code]

[2019-04-19 23:33] arfon commented on #1364
@whedon accept

[2019-04-19 23:33] whedon commented on #1364
[code]

[2019-04-19 23:33] whedon commented on #1364
[code]

[2019-04-19 23:34] whedon commented on #1364
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/633

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/633, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-19 23:34] arfon commented on #1364
@whedon accept deposit=true

[2019-04-19 23:34] whedon commented on #1364
[code]

[2019-04-19 23:35] whedon commented on #1364
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/634
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01364](https://doi.org/10.21105/joss.01364)
2. If everything looks go

[2019-04-19 23:39] arfon commented on #1364
@druvus - many thanks for your review and to @lpantano for editing this one ✨

@rvosa - your paper is now accepted into JOSS ⚡️🚀💥

[2019-04-19 23:39] #1364 closed

[2019-04-19 23:39] whedon commented on #1364
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01364/status.svg)](https://doi.org/10.21105/joss.01364)

**We need your help!**

Journal of Open Source Softwar

[2019-04-19 23:42] vsoch commented on #1388
Why would that be a conflict of interest? I'm definitely okay with it!

[2019-04-20 00:09] crew102 commented on #1388
Just wanted to make sure

[2019-04-20 01:57] arfon commented on #1388
This is completely fine 👍

[2019-04-20 10:28] tgeijten commented on #1394
Great, thanks! I merged the PR.

[2019-04-20 12:55] arfon commented on #1394
@whedon generate pdf

[2019-04-20 12:55] whedon commented on #1394
[code]

[2019-04-20 12:55] whedon commented on #1394
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01394/joss.01394/10.21105.joss.01394.pdf)

[2019-04-20 12:56] whedon opened #1395 "[PRE REVIEW]: Javapriori: a java tool to get frequent items and association rules using the apriori algorithm."
**Submitting author:** @jos101 (<a href="http://orcid.org/0000-0003-0299-2659">Jose Bolaño</a>)
**Repository:** <a href="https://github.com/jos101/javapriori" target ="_blank">https://github.com/jos101/javapriori</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @jos101. **Currently, there isn't an JOSS editor assig

[2019-04-20 12:56] whedon commented on #1395
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-20 12:56] whedon commented on #1395
[code]

[2019-04-20 12:56] whedon commented on #1395
Failed to discover a valid open source license.

[2019-04-20 12:57] whedon commented on #1395
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01395/joss.01395/10.21105.joss.01395.pdf)

[2019-04-20 13:09] whedon opened #1396 "[PRE REVIEW]: ppiclF: A Parallel Particle-In-Cell Library in Fortran"
**Submitting author:** @dpzwick (<a href="http://orcid.org/0000-0001-5329-6341">David Zwick</a>)
**Repository:** <a href="https://github.com/dpzwick/ppiclF/" target ="_blank">https://github.com/dpzwick/ppiclF/</a>
**Version:** v1.0
**Editor:** @jedbrown
**Reviewers:** @iljah, @markadams

**Author instructions**

Thanks for submitting your paper to JOSS @dpzwick. **Currently, there isn't an JOSS ed

[2019-04-20 13:09] whedon commented on #1396
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-20 13:09] whedon commented on #1396
[code]

[2019-04-20 13:09] arfon commented on #1396
:wave: @jedbrown - the submitting author suggested you as the handling editor.

[2019-04-20 13:09] whedon commented on #1396
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01396/joss.01396/10.21105.joss.01396.pdf)

[2019-04-20 17:37] jos101 commented on #1395
@whedon generate pdf

[2019-04-20 17:37] whedon commented on #1395
[code]

[2019-04-20 17:38] whedon commented on #1395
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01395/joss.01395/10.21105.joss.01395.pdf)

[2019-04-20 17:41] jos101 commented on #1395
@whedon generate pdf

[2019-04-20 17:41] whedon commented on #1395
[code]

[2019-04-20 17:42] whedon commented on #1395
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01395/joss.01395/10.21105.joss.01395.pdf)

[2019-04-20 17:42] jos101 commented on #1395
@whedon

[2019-04-20 17:43] jos101 commented on #1395
@whedon commands

[2019-04-20 17:43] whedon commented on #1395
Here are some things you can ask me to do:

[code]

[2019-04-20 17:44] jos101 commented on #1395
@whedon check references

[2019-04-20 17:44] whedon commented on #1395
[code]

[2019-04-20 17:44] whedon commented on #1395
[code]

[2019-04-20 17:50] dpzwick commented on #1396
Potential reviewers:

@dvalters
@Chilipp
@iljah
@jedbrown

[2019-04-20 18:11] crew102 commented on #1388
@brainstorm , LGTM. Approved from my point of view.

[2019-04-20 20:48] jedbrown commented on #1396
@whedon assign @jedbrown as editor

[2019-04-20 20:48] whedon commented on #1396
OK, the editor is @jedbrown

[2019-04-20 21:04] jedbrown commented on #1396
@dpzwick Thanks for your submission. The paper is on the short side for JOSS and I think would benefit from including comparison with related method/software (some of which may be applications rather than libraries) and perhaps something on performance (if that is meant to be a distinguishing feature). The paper is intended to give a prospective user the information needed to make choices that mat

[2019-04-20 21:13] jedbrown commented on #1396
@dvalters @Chilipp @iljah Would any of you be available to review?

[2019-04-20 21:33] chris-prener commented on #1221
hey @lheagy - thanks for your patience! just made all of those suggested changes and added the DOI numbers. I also found an additional DOI that whedon did not, and added the package's DOI as well.

[2019-04-20 23:22] arfon commented on #1395
👋@jos101, many thanks for your submission to JOSS. Unfortunately this software is not considered in scope for JOSS as it appears to both be a minor utility package and it's not clear that it's research software https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements

[2019-04-20 23:22] #1395 closed

[2019-04-21 07:10] Chilipp commented on #1396
Hey @jedbrown and @dpzwick! This looks very interesting and I would like to review it. But unfortunately my workload for the next weeks is too high so I won't be available for a review, sorry.

[2019-04-21 09:46] iljah commented on #1396
I can review within a week or so.

[2019-04-21 11:05] dpzwick commented on #1396
Thanks for the suggestions @jedbrown. I updated the paper.

[2019-04-21 11:05] dpzwick commented on #1396
@whedon generate pdf

[2019-04-21 11:05] whedon commented on #1396
[code]

[2019-04-21 11:05] whedon commented on #1396
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01396/joss.01396/10.21105.joss.01396.pdf)

[2019-04-21 17:46] alexhanna commented on #1360
Thanks @davekinkead! Happy to accept this then.

[2019-04-21 17:46] alexhanna commented on #1360
@whedon accept

[2019-04-21 17:46] whedon commented on #1360
No archive DOI set. Exiting...

[2019-04-21 17:46] alexhanna commented on #1360
@whedon check references

[2019-04-21 17:46] whedon commented on #1360
[code]

[2019-04-21 17:47] whedon commented on #1360
[code]

[2019-04-21 17:53] alexhanna commented on #1360
You'll need to get a DOI for your repository, @shawnbanasick. You'll need to create an archive (on Zenodo, figshare, or somewhere else, if you haven't already) and post the archive DOI here.

[2019-04-21 18:08] alexhanna commented on #1285
@whedon check references

[2019-04-21 18:08] whedon commented on #1285
[code]

[2019-04-21 18:08] whedon commented on #1285
[code]

[2019-04-21 18:21] alexhanna commented on #1285
Hi @pdwaggoner,

This is almost there. There's a few pieces which I think would strengthen this submission.

- Could have an automated test or an example IP address. I'd like to have this to test particular IP addresses
- Needs to have some kind of contributor statement or CONTRIBUTING file
- Needs references DOIs
- It'd be helpful to have example usage and installation on the repo page

[2019-04-21 19:50] gkthiruvathukal commented on #1345
@gweissman Just checking in on whether your review is complete or not. I still see a few items unchecked on the checklist.

[2019-04-21 19:54] gkthiruvathukal commented on #1337
@JedS6391 I'm not sure whether you saw the issues that have been reported by @homonecloco. Can you please follow up when you get a chance? Thanks.

[2019-04-21 19:56] gkthiruvathukal commented on #1326
@CameronDevine, have the issues you reported all been addressed satisfactorily?
@trallard Do you have any additional input on this submission?

[2019-04-21 20:52] CameronDevine commented on #1326
@gkthiruvathukal The only outstanding item for me is the lack of automated tests. Since neither automated or manual tests are provided I do not yet feel comfortable checking that item off.

[2019-04-21 22:21] alexhanna commented on #1322
@KateHyoung: thanks so much for incorporating these edits. @andrewheiss and @briatte, thanks for the comprehensive comments. Can you two review the changes on the updated package and let me know if you're willing to sign off on the package for meeting the JOSS criteria for acceptance?

[2019-04-22 02:24] andrewheiss commented on #1322
These changes look great! I approve and sign off. ✅

[2019-04-22 03:39] briatte commented on #1322
The changes look very thorough indeed, and the updated package loads fine, as does the vignette: I'm signing off too.

[2019-04-22 04:30] JedS6391 commented on #1337
Hi @gkthiruvathukal, [JedS6391/LGP#55](https://github.com/JedS6391/LGP/issues/55) and [JedS6391/LGP#56](https://github.com/JedS6391/LGP/issues/56) have been addressed. I am currently working on [JedS6391/LGP#7](https://github.com/JedS6391/LGP/issues/57), but it is taking a little while to write the unit tests before the issue can be closed.

[2019-04-22 10:09] xuanxu commented on #1377
:wave: @zingale: Would you be willing to review this paper? I think your expertise in Python and Astrophysics makes you a great fit for this submission.

[2019-04-22 10:10] xuanxu commented on #1365
@whedon assign @melissawm as reviewer

[2019-04-22 10:10] whedon commented on #1365
OK, the reviewer is @melissawm

[2019-04-22 10:11] xuanxu commented on #1365
ok, I'm going to start the review issue now

[2019-04-22 10:11] xuanxu commented on #1365
@whedon start review

[2019-04-22 10:11] whedon opened #1397 "[REVIEW]: hankel: A Python library for performing simple and accurate Hankel transformations"
**Submitting author:** @steven-murray (<a href="http://orcid.org/0000-0003-3059-3823">Steven Murray</a>)
**Repository:** <a href="https://github.com/steven-murray/hankel" target ="_blank">https://github.com/steven-murray/hankel</a>
**Version:** v0.3.9
**Editor:** @xuanxu
**Reviewer:** @melissawm
**Archive:** <a href="https://doi.org/10.5281/zenodo.3235680" target="_blank">10.5281/zenodo.3235680</a

[2019-04-22 10:11] whedon commented on #1365
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1397. Feel free to close this issue now!

[2019-04-22 10:11] whedon commented on #1397
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @melissawm it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-04-22 10:11] whedon commented on #1397
[code]

[2019-04-22 10:11] whedon commented on #1397
PDF failed to compile for issue #1397 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1397 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedo

[2019-04-22 10:12] xuanxu commented on #1365
@melissawm, please head over to #1397 for the actual review

[2019-04-22 10:12] #1365 closed

[2019-04-22 10:16] xuanxu commented on #1352
:wave: @aquilesC What's your status with the continued review of this submission?

[2019-04-22 10:19] xuanxu commented on #1397
@whedon generate pdf from branch joss-paper

[2019-04-22 10:19] whedon commented on #1397
[code]

[2019-04-22 10:19] whedon commented on #1397
PDF failed to compile for issue #1397 with the following error:

 sh: 1: cd: can't cd to tmp/1397
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1397 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2019-04-22 10:22] xuanxu commented on #1397
Git repo address updated from `https://github.com/steven-murray/hankel/tree/joss-paper` to `https://github.com/steven-murray/hankel` so whedon can clone it.

[2019-04-22 10:22] xuanxu commented on #1397
@whedon generate pdf from branch joss-paper

[2019-04-22 10:22] whedon commented on #1397
[code]

[2019-04-22 10:22] whedon commented on #1397
PDF failed to compile for issue #1397 with the following error:

 sh: 1: cd: can't cd to tmp/1397
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1397 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2019-04-22 10:27] xuanxu commented on #1397
@arfon could you do your magic so we can get the pdf paper? (it compiled in the [pre-review issue](https://github.com/openjournals/joss-reviews/issues/1365) but I can replicate it here)

[2019-04-22 13:33] zingale commented on #1377
yes, I can review this.

[2019-04-22 13:39] danielskatz commented on #1225
👋 @stulp - just checking on your progress...

[2019-04-22 13:40] whedon opened #1398 "[PRE REVIEW]: anesthetic: nested sampling visualisation"
**Submitting author:** @williamjameshandley (<a href="http://orcid.org/0000-0002-5866-0445">Will Handley</a>)
**Repository:** <a href="https://github.com/williamjameshandley/anesthetic" target ="_blank">https://github.com/williamjameshandley/anesthetic</a>
**Version:** 1.0.0
**Editor:** @xuanxu
**Reviewers:** @tacaswell

**Author instructions**

Thanks for submitting your paper to JOSS @williamjam

[2019-04-22 13:40] whedon commented on #1398
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @xuanxu it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@xuanxu) to find some reviewers for yo

[2019-04-22 13:40] whedon commented on #1398
[code]

[2019-04-22 13:40] whedon commented on #1398
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01398/joss.01398/10.21105.joss.01398.pdf)

[2019-04-22 13:41] danielskatz commented on #1398
👋 @xuanxu - note that the submitter requested you as the editor - please confirm this is ok, and if this is a problem, please let me know

[2019-04-22 13:42] danielskatz commented on #1398
👋  @williamjameshandley  - I see a couple of references that are missing - perhaps the cite in the paper.md doesn't quite match the key in the .bib file?  Feel free to make changes, and enter ```@whedon generate pdf``` here as a new comment to rebuild and check.

[2019-04-22 13:46] danielskatz commented on #1394
👋 @Kevin-Mattheus-Moerman - ping...  the submitting author suggested you as the handling editor.

[2019-04-22 13:46] danielskatz commented on #1383
@whedon generate pdf

[2019-04-22 13:46] whedon commented on #1383
[code]

[2019-04-22 13:46] whedon commented on #1383
PDF failed to compile for issue #1383 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    141      0 --:--:-- --:--:-- --:--:--   142
pandoc: /images/s

[2019-04-22 13:50] danielskatz commented on #1383
👋 @sanskriti-s - in your code to include the image, you have a leading slash that shouldn't be there.  I think https://github.com/ECRL/ecabc/pull/45 should fix this.  Once you've merged it, or made the same change, you can enter ```@whedon generate pdf``` here in a new comment to try the processing again.

[2019-04-22 13:50] Kevin-Mattheus-Moerman commented on #1394
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-04-22 13:50] whedon commented on #1394
OK, the editor is @Kevin-Mattheus-Moerman

[2019-04-22 13:51] danielskatz commented on #1379
👋 @csoneson - ping... would you be willing to edit this submission for JOSS?

[2019-04-22 13:52] danielskatz commented on #1368
I'm going to mark this as paused for now - please let us know when you have created a paper and are ready to proceed.

[2019-04-22 13:53] danielskatz commented on #1357
I'm going to mark this as paused for now - please let us know when you have added to the paper as requested by @labarba and are ready to proceed.

[2019-04-22 13:54] xuanxu commented on #1377
@zingale Great, thanks! I'll assign you and start the review issue now

[2019-04-22 13:54] Kevin-Mattheus-Moerman commented on #1394
@modenaxe @chrisdembia @moorepants @trallard @demotu @nicoguaro would you be interested in reviewing this work for JOSS?

[2019-04-22 13:54] xuanxu commented on #1377
@whedon assign @zingale as reviewer

[2019-04-22 13:54] whedon commented on #1377
OK, the reviewer is @zingale

[2019-04-22 13:55] xuanxu commented on #1377
@whedon start review

[2019-04-22 13:55] whedon opened #1399 "[REVIEW]: Fruitbat: A Python Package for Estimating Redshifts of Fast Radio Bursts"
**Submitting author:** @abatten (<a href="http://orcid.org/0000-0001-7599-6488">Adam Batten</a>)
**Repository:** <a href="https://github.com/abatten/fruitbat" target ="_blank">https://github.com/abatten/fruitbat</a>
**Version:** v1.0.1
**Editor:** @xuanxu
**Reviewer:** @zingale
**Archive:** <a href="https://doi.org/10.5281/zenodo.2667596" target="_blank">10.5281/zenodo.2667596</a>

## Status

[![s

[2019-04-22 13:55] whedon commented on #1377
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1399. Feel free to close this issue now!

[2019-04-22 13:55] whedon commented on #1399
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zingale it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-04-22 13:55] whedon commented on #1399
[code]

[2019-04-22 13:55] danielskatz commented on #1323
👋 @sambitdash - any news?  We could just remove this paper for now, and let you resubmit when you are ready...  Or if you are close to having a paper written and in your repo, and want to proceed soon, let us know.

[2019-04-22 13:55] xuanxu commented on #1377
@zingale, please head over to #1399 for the actual review

[2019-04-22 13:55] #1377 closed

[2019-04-22 13:55] whedon commented on #1399
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01399/joss.01399/10.21105.joss.01399.pdf)

[2019-04-22 13:57] EricSchles commented on #1368
Hi Daniel,

Sounds good - I should be able to start things up in a few days.

Eric

On Mon, Apr 22, 2019 at 9:52 AM Daniel S. Katz <notifications@github.com>
wrote:

[2019-04-22 13:57] danielskatz commented on #1261
@FLCN17 - Given the lack of responses over the last ~2 months, I'm planning to remove this submission in a few days. You can resubmit when you are ready.  Or if you to make changes and proceed, please let us know soon.

[2019-04-22 13:58] danielskatz commented on #1164
👋 @alemon-aquaveo - given the lack of progress in the last 2 months, I plan to remove this submission in a few days - you can resubmit it when you are ready.  Or, if you are close to ready, and want us to resume the process soon, please let us know.

[2019-04-22 13:59] brandondube commented on #1352
Are there any updates or changes I need to make to the repository or the manuscript?

[2019-04-22 14:02] xuanxu commented on #1398
@danielskatz :+1: I can edit this

[2019-04-22 14:06] csoneson commented on #1379
@danielskatz Yes, I can do that. Sorry, I completely missed the previous post.

[2019-04-22 14:06] xuanxu commented on #1398
:wave: @tacaswell: Would you be willing to review this paper? I think your expertise in matplotlib and Python visualization tools makes you a great fit for this submission.

[2019-04-22 14:09] danielskatz commented on #1379
no worries

[2019-04-22 14:09] danielskatz commented on #1379
@whedon assign @csoneson as editor

[2019-04-22 14:09] whedon commented on #1379
OK, the editor is @csoneson

[2019-04-22 14:25] casperdcl commented on #1277
@whedon generate pdf from branch devel

[2019-04-22 14:25] whedon commented on #1277
[code]

[2019-04-22 14:25] whedon commented on #1277
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01277/joss.01277/10.21105.joss.01277.pdf)

[2019-04-22 14:26] casperdcl commented on #1277
Thanks @Benjamin-Lee @GregaVrbancic.

@cMadan let me know what the next steps are - ideally I'd like to merge into `master` before official publication.

[2019-04-22 14:28] williamjameshandley commented on #1398
@whedon generate pdf

[2019-04-22 14:28] whedon commented on #1398
[code]

[2019-04-22 14:29] whedon commented on #1398
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01398/joss.01398/10.21105.joss.01398.pdf)

[2019-04-22 14:30] danielskatz commented on #1398
@whedon assign @xuanxu as editor

[2019-04-22 14:30] whedon commented on #1398
OK, the editor is @xuanxu

[2019-04-22 14:31] williamjameshandley commented on #1398
@whedon generate pdf

[2019-04-22 14:32] whedon commented on #1398
[code]

[2019-04-22 14:32] whedon commented on #1398
PDF failed to compile for issue #1398 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    168      0 --:--:-- --:--:-- --:--:--   171
Error reading bib

[2019-04-22 14:33] williamjameshandley commented on #1398
@whedon generate pdf

[2019-04-22 14:33] whedon commented on #1398
[code]

[2019-04-22 14:34] whedon commented on #1398
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01398/joss.01398/10.21105.joss.01398.pdf)

[2019-04-22 14:38] alemon-aquaveo commented on #1164
I am not sure when I will get back to this. So I am fine if you pull it for
now.

On Mon, Apr 22, 2019 at 7:59 AM Daniel S. Katz <notifications@github.com>
wrote:

--
Thanks,
Alan
Aquaveo (www.aquaveo.com)

[2019-04-22 14:39] williamjameshandley commented on #1398
@whedon generate pdf

[2019-04-22 14:39] whedon commented on #1398
[code]

[2019-04-22 14:40] danielskatz commented on #1164
Ok, thanks - again, please feel free to resubmit when you are ready!

[2019-04-22 14:40] whedon commented on #1398
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01398/joss.01398/10.21105.joss.01398.pdf)

[2019-04-22 14:40] #1164 closed

[2019-04-22 14:45] williamjameshandley commented on #1398
@whedon generate pdf

[2019-04-22 14:45] whedon commented on #1398
[code]

[2019-04-22 14:46] whedon commented on #1398
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01398/joss.01398/10.21105.joss.01398.pdf)

[2019-04-22 14:49] williamjameshandley commented on #1398
@whedon generate pdf

[2019-04-22 14:49] whedon commented on #1398
[code]

[2019-04-22 14:49] whedon commented on #1398
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01398/joss.01398/10.21105.joss.01398.pdf)

[2019-04-22 14:52] williamjameshandley commented on #1398
@whedon generate pdf

[2019-04-22 14:52] whedon commented on #1398
[code]

[2019-04-22 14:53] whedon commented on #1398
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01398/joss.01398/10.21105.joss.01398.pdf)

[2019-04-22 14:54] williamjameshandley commented on #1398
@danielskatz many thanks for your prompt response on this submission. I've fixed the citations. Let me know if there's anything else I can do (I don't currently see anything if I click the "list of potential reviewers").

[2019-04-22 14:58] danielskatz commented on #1398
As the assigned editor, @xuanxu will work with you on the reviewers.

From the first comment on this issue, [this list of people](https://bit.ly/joss-reviewers) works for me.

It looks like the link that is generated in the second comment in this issue ([this list of potential reviewers]([])) is broken, however.

Let's see if we can get the code that generated that fixed, by pointing it out to the