[2021-06-21 12:18] hugoledoux commented on #2869
@sdesabbata kind reminder not to forget this review, the paper was update last week by the author

[2021-06-21 12:25] jbytecode commented on #3387
Hi @ph-rast

Thank you for the submission.

- As @danielskatz stated, please set a valid OSI-approved license (see the list in https://opensource.org/licenses/category)
- Could you please take a look through https://bit.ly/joss-reviewers to suggest some potential reviewers?

[2021-06-21 12:26] ChWick commented on #3297
@whedon generate pdf
@arfon I merged your PR, thank you again!

[2021-06-21 12:26] whedon commented on #3297
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03297/joss.03297/10.21105.joss.03297.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03297/joss.03297/10.21105.joss.03297.pdf) :page_facing_up: :point_left:

[2021-06-21 12:27] pjanck commented on #3061
Hi @hugoledoux - I believe we'll take the summer to improve on the few open points as mentioned by @CBenghi and @aothms - you can put this on pause. Apologies for taking this long, but it is quite a package :)

[2021-06-21 12:32] hugoledoux commented on #3061
I understand. Let us know here when you've fixed these core issues.

[2021-06-21 12:39] jbytecode commented on #3253
@koaning I notice that you're the only author on the paper but it looks like there have been some other contributors to the codebase. Could you please clarify?

[2021-06-21 12:49] fboehm commented on #3372
@cdcrabtree, @jakobbossek, @tweed1e - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
Thank you for considering this!

[2021-06-21 13:30] diehlpk commented on #3307
Hey  @johntfoster or @djlittl would you be interested to review this paper?

[2021-06-21 13:31] diehlpk commented on #3309
Hey @johntfoster would you be interested to review this paper?

[2021-06-21 13:31] whedon commented on #3337
:wave: @braunfuss, please update us on how your review is going (this is an automated reminder).

[2021-06-21 13:31] whedon commented on #3337
:wave: @arthur-e, please update us on how your review is going (this is an automated reminder).

[2021-06-21 13:32] koaning commented on #3253
There are three contributors outside of myself.

One contributor fixed a typo:
https://github.com/koaning/human-learn/commit/deace163a8e2f381392c08119ecad6944f48c1d8

Another one contributed a one-liner so that the license would be included in the source distribution:
https://github.com/koaning/human-learn/commit/188d16775393edcafcf77d91b4f2491f79a3e3d5

Finally, there's one contributor who added

[2021-06-21 13:36] chennachaos commented on #3307
Hi @diehlpk, thank you for the opportunity!
I have a lot of commitments for the next few months. So, I would like to skip this time.

[2021-06-21 13:38] chennachaos commented on #3350
Hi @diehlpk, thank you for the opportunity!
I have a lot of commitments for the next few months. So, I would like to skip this time.

[2021-06-21 13:41] koaning commented on #3253
After glancing at the reviewer list I think the following reviewers might be good. I'm basing this purely on the preferred programming language and the listed topics/domains.

- @desilinguist
- @jankatins
- @ahurriyetoglu
- @kellieotto
- @aokad

[2021-06-21 13:42] arfon commented on #3297
@ChWick - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the author

[2021-06-21 13:42] pratikvn commented on #3307
Hey @diehlpk, I am interested in reviewing this paper, but I would need slightly more time than usual to get up to speed with the techniques used in the paper and library. If that is okay with you and the author, then count me in.

[2021-06-21 13:42] teuben commented on #3068
@whedon generate pdf

[2021-06-21 13:43] whedon commented on #3068
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03068/joss.03068/10.21105.joss.03068.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03068/joss.03068/10.21105.joss.03068.pdf) :page_facing_up: :point_left:

[2021-06-21 13:46] danielskatz commented on #3211
👋 @adi3 & @PierreGuilbertF - this review is dragging a bit. Can you update us on your status?

[2021-06-21 13:47] danielskatz commented on #3211
@whedon re-invite @PierreGuilbertF as reviewer

[2021-06-21 13:47] whedon commented on #3211
@pierreguilbertf already has access.

[2021-06-21 13:48] danielskatz commented on #3348
@ad48  - any news?

[2021-06-21 13:49] danielskatz commented on #3348
@dhimmel - I'm going to tag your issues with this issue, which helps me see here if they are still open or closed

[2021-06-21 13:50] teuben commented on #3068
@jmsexton03 @dfm  i got a new article proof, but it doesn't show the changes that were done in https://github.com/AMReX-Astro/Nyx/issues/80

[2021-06-21 13:50] danielskatz commented on #3348
sorry, I now see you are working on the issue - nvm...

[2021-06-21 13:50] diehlpk commented on #3350
@chennachaos Can you recommend some reviewers for that paper?

[2021-06-21 13:52] diehlpk commented on #3307
@pratikvn Sure, take you time since that is a more complex paper.

[2021-06-21 13:52] diehlpk commented on #3307
@whedon add @pratikvn as reviewer

[2021-06-21 13:52] whedon commented on #3307
OK, @pratikvn is now a reviewer

[2021-06-21 13:53] diehlpk commented on #3307
@pratikvn and  @daniellivingston  thanks for agreeing to review this paper.

[2021-06-21 13:53] diehlpk commented on #3307
@whedon start review

[2021-06-21 13:53] whedon opened #3389 "[REVIEW]: model-traits: Model attribute definitions for scientific simulations in C++"
**Submitting author:** @jacobmerson (<a href="http://orcid.org/0000-0002-6813-6532">Jacob Merson</a>)
**Repository:** <a href="https://github.com/jacobmerson/model-traits" target ="_blank">https://github.com/jacobmerson/model-traits</a>
**Version:** v0.2.0
**Editor:** @diehlpk
**Reviewer:** @daniellivingston, @pratikvn
**Archive:** <a href="https://doi.org/10.5281/zenodo.5247209" target="_blank">1

[2021-06-21 13:53] desilinguist commented on #3253
I'd be happy to review this but I can't do it until mid-July unfortunately.

[2021-06-21 13:53] whedon commented on #3307
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3389.

[2021-06-21 13:53] #3307 closed

[2021-06-21 13:53] whedon commented on #3389
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @daniellivingston, @pratikvn it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-06-21 13:53] whedon commented on #3389
PDF failed to compile for issue #3389 with the following error:
[code]

[2021-06-21 13:53] whedon commented on #3389
[code]

[2021-06-21 13:53] thelfer commented on #3350
Hi @diehlpk. After briefly reading of the paper, I don't think I have enough experience in this domain to make a proper review.

[2021-06-21 14:05] dfm commented on #3068
@teuben: I'm seeing all the recent changes (e.g. https://github.com/AMReX-Astro/Nyx/commit/e5b9cad659b406fa7671eaf0e1454e36ba06c208) when I click through. Can you point me to a specific change that you're not seeing?

[2021-06-21 14:21] chennachaos commented on #3350
I think @likask, @bhajay, @agshvarts might be interested.

[2021-06-21 14:38] desilinguist commented on #2184
Apologies for the delay. I will try to take a look this week.

[2021-06-21 14:44] teuben commented on #3068
@dfm   when i looked at the new paper proof, there is no reference for Strang splitting(3rd par)  or the word "integalactic" in the 2nd sentence is misspelled. These were fixed in paper.md, but they didn't show up for me in the paper proof just generated.

True to form, I looked at the PDF generated again, and now it's good.... perhaps I looked too soon.  Sorry for the confusion.

[2021-06-21 14:49] jbytecode commented on #3253
@jankatins hi! I am pinging you just because you are registered as an expert on Python and visualizing on the JOSS reviewer list. Would you willing to assist in reviewing this submission?

[2021-06-21 15:02] c-white commented on #3068
@teuben I had the same issue. I'm now 90% sure there's a caching issue on whedon's end. While it might instantly generate a new pdf somewhere, it uses the same link as before, and it takes time for the link to point to the updated document.

[2021-06-21 15:02] jbytecode commented on #3253
@desilinguist thank you! The reviewing process will start whenever we assign a second viewer. Meanwhile, you can have a look at the reviewing guide in https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-06-21 15:02] jbytecode commented on #3253
@whedon assign @desilinguist as reviewer

[2021-06-21 15:02] whedon commented on #3253
OK, @desilinguist is now a reviewer

[2021-06-21 15:05] Kevin-Mattheus-Moerman commented on #3350
@diehlpk thanks for handling this. FYI here are two other papers I was involved in which feature tensegrity modelling. Perhaps some of the authors/reviewers for these can help review too:

- https://github.com/openjournals/joss-reviews/issues/1042
- https://github.com/openjournals/joss-reviews/issues/1613 (note this one shares authors with the current submission, see also my comments :point_up: )

[2021-06-21 15:21] pibion commented on #2694
@tystan thanks for the update!

[2021-06-21 15:37] teuben commented on #3068
@dfm   i'm almost done with the review, the issue 81 just submitted should be my last dot on the I.

[2021-06-21 15:46] KristinaRiemer commented on #3333
I can edit this submission.

[2021-06-21 15:46] KristinaRiemer commented on #3333
@whedon assign me as editor

[2021-06-21 15:46] whedon commented on #3333
OK, the editor is @KristinaRiemer

[2021-06-21 16:01] csoneson commented on #3304
@cmutel - no problem, thanks for the quick response!

@mfastudillo @tngTUDOR @aleksandra-kim - would one or two of you be up for reviewing this submission for JOSS?

[2021-06-21 16:04] jbytecode commented on #3253
@koaning while we are seeking a proper reviewer team, please consider following items:

- The paper does not compare the software with the previous one(s). In JOSS, this kind of discussion is generally handled in a `State of the field` section.
- It is not usual for an article not to have a reference list. I think, when you add comparisons in State of the field section, you will use some citations

[2021-06-21 16:08] DrMarc commented on #3284
Hi @arfon , we have now addressed the optional suggestions by @sneakers-the-rat. I think this completes the revision.

[2021-06-21 16:11] likask commented on #3350
@Kevin-Mattheus-Moerman  I am happy to review.

[2021-06-21 16:11] diehlpk commented on #3350
@whedon add @likask as reviewer

[2021-06-21 16:12] diehlpk commented on #3350
@whedon add @Kevin-Mattheus-Moerman as reviewer

[2021-06-21 16:12] whedon commented on #3350
OK, @Kevin-Mattheus-Moerman is now a reviewer

[2021-06-21 16:12] diehlpk commented on #3350
@whedon start review

[2021-06-21 16:12] whedon opened #3390 "[REVIEW]: TsgFEM: Tensegrity Finite Element Method"
**Submitting author:** @Muhao-Chen (<a href="http://orcid.org/0000-0003-1812-6835">Muhao Chen</a>)
**Repository:** https://github.com/Muhao-Chen/Tensegrity_Finite_Element_Method_TsgFEM
**Branch with paper.md** (empty if default branch):
**Version:** v1.2
**Editor:** @diehlpk
**Reviewers:** @HaoZeke, @Kevin-Mattheus-Moerman, @likask
**Archive:** 10.5281/zenodo.6729686

**:warning: JOSS reduced serv

[2021-06-21 16:12] whedon commented on #3350
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3390.

[2021-06-21 16:12] #3350 closed

[2021-06-21 16:12] whedon commented on #3390
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @HaoZeke, @Kevin-Mattheus-Moerman it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog p

[2021-06-21 16:12] whedon commented on #3390
[code]

[2021-06-21 16:12] whedon commented on #3390
[code]

[2021-06-21 16:12] whedon commented on #3390
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03390/joss.03390/10.21105.joss.03390.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03390/joss.03390/10.21105.joss.03390.pdf) :page_facing_up: :point_left:

[2021-06-21 16:13] tngTUDOR commented on #3304
I'm available and willing to review.

[2021-06-21 16:14] jbytecode commented on #3371
@whedon assign me as editor

[2021-06-21 16:14] whedon commented on #3371
OK, the editor is @jbytecode

[2021-06-21 16:14] pibion commented on #3310
:wave: @bakerjw, @dubourg, @SebastianHoerning, @jackpiercebrown, & @song2001, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-21 16:26] isidentical commented on #3296
@whedon generate pdf

[2021-06-21 16:26] whedon commented on #3296
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: :point_left:

[2021-06-21 16:26] IgorBaratta commented on #3350
Thank you for the invitation to review.
Unfortunatelly I don't have access to Matlab at the moment.

[2021-06-21 16:30] jbytecode commented on #3371
@gomezz thank you for the submission.

Do you have any suggestions for potential reviewers? If yes, please list their Github IDs here without using the @ symbol just because we don't want to disturb them.

You can use [this list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) to filter appropriate reviewers by considering their language and

[2021-06-21 16:59] jbytecode commented on #3371
@gomezzz you can also try to fix the `MISSING DOIs` as whedon suggests.

[2021-06-21 17:04] satejsoman commented on #3382
@danielskatz thanks for letting me know! I'll add the missing DOIs shortly.

[2021-06-21 17:19] dfm commented on #3285
@arfon: I've bumped the version number to `v0.5.1` and the archive is on Zenodo with the correct metadata at `10.5281/zenodo.5006965`. Thanks!

[2021-06-21 17:24] a-r-j commented on #3309
Hi @diehlpk, afraid I don't have the bandwidth right now either. Apologies!

[2021-06-21 17:28] csoneson commented on #3304
Excellent, thank you @tngTUDOR! Once we have secured one more reviewer I will open the actual review issue where you'll find more information, review check list etc.

[2021-06-21 18:25] adi3 commented on #3211
@danielskatz I've been making progress through my list. Haven't had the opportunity to finish with the Documentation review. Will attempt to finish this week.

[2021-06-21 18:51] benjaminbolling commented on #3246
My initial suggestions after looking through the editorial board would be one of following:
- @melissawm (applied mathematician and an editor for Python scripts)
- @lorenanicole (data engineer and data scientist, a champion of FATE and an editor for Python scripts)
- @jbytecode (Author of three books on R programming and genetic algorithms, and developer and maintainer of many open source projects

[2021-06-21 18:55] danielskatz commented on #3246
@benjaminbolling  - please don't suggest editors as reviewers; they already have enough work 😄

As noted in the first comment in this issue, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

And also, as mentioned in that comment, please suggest people without tagging them w

[2021-06-21 19:04] pdebuyl commented on #3337
Hi @arthur-e thank you very much for the review. With JOSS, we do not expect a "minor/major revision" assessment. Providing a detailed report, as you have done, participates in the constructive review process which will take place in this issue.

[2021-06-21 19:18] benjaminbolling commented on #3246
Oho, I'm so sorry editors! Somehow I missed this list... thank you @danielskatz !

[2021-06-21 19:20] junjun-zhang commented on #3197
I was able to set up my own Ceiba server after locally building a new Docker image and tagging it with `ghcr.io/nlesc-nano/ceiba:prototype`. The docker image pulled from GHCR does not work. With that I continued the testing with different use cases. The overall experience working with Ceiba and Ceiba-CLI is good, in general there is no problem following the documentation. Below are findings and su

[2021-06-21 19:34] arthur-e commented on #3337
@pdebuyl Thanks! [The "Review criteria"](https://joss.readthedocs.io/en/latest/review_criteria.html#what-happens-if-the-software-i-m-reviewing-doesn-t-meet-the-joss-criteria) may need to be updated as it still mentions "Minor" and "Major" revisions.

[2021-06-21 19:47] AngryMaciek commented on #3096
Dear @melissawm, @danielskatz and @bonh,

I kindly ask to put a hold on any actions regarding this review. I am in the middle of expanding the repository a little in order to provide a concrete real-world application in the field of lattice-based cryptography. This would significantly elevate the quality and usability of my work. As I am rather busy lately it should take me approx. 1 month to push

[2021-06-21 20:34] lockepatton commented on #2446
Hi @arfon and @faroit - it seems like the only remaining issue is resolving and making the name changes where needed.  To recap, I've changed the name to soni-py in the following places:
- README.md
- ontributing.md
- Tutorial.ipynb
- Paper
- tests README.md

I haven't changed the name in the GitHub repo to lockepatton/soni-py because I believe this'll hurt the efficacy of the code - those who hav

[2021-06-21 20:58] faroit commented on #3218
@Kevin-Mattheus-Moerman thanks for your suggestions, @BreezeWhite has addressed your comment.

[2021-06-21 20:58] faroit commented on #3218
@whedon generate pdf

[2021-06-21 20:59] faroit commented on #3218
@whedon check repository

[2021-06-21 20:59] faroit commented on #3218
@whedon check references

[2021-06-21 20:59] whedon commented on #3218
[code]

[2021-06-21 20:59] whedon commented on #3218
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03218/joss.03218/10.21105.joss.03218.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03218/joss.03218/10.21105.joss.03218.pdf) :page_facing_up: :point_left:

[2021-06-21 20:59] whedon commented on #3218
[code]

[2021-06-21 21:00] faroit commented on #3218
@whedon start review

[2021-06-21 21:00] whedon opened #3391 "[REVIEW]: Omnizart: A General Toolbox for Automatic Music Transcription"
**Submitting author:** @BreezeWhite (<a href="http://orcid.org/0000-0003-2362-6340">Yu Te Wu</a>)
**Repository:** <a href="https://github.com/Music-and-Culture-Technology-Lab/omnizart" target ="_blank">https://github.com/Music-and-Culture-Technology-Lab/omnizart</a>
**Version:** v0.5.0
**Editor:** @faroit
**Reviewer:** @hagenw, @keunwoochoi
**Archive:** <a href="https://doi.org/10.5281/zenodo.5769

[2021-06-21 21:00] whedon commented on #3218
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3391.

[2021-06-21 21:00] #3218 closed

[2021-06-21 21:00] whedon commented on #3391
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hagenw, @keunwoochoi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-06-21 21:00] whedon commented on #3391
[code]

[2021-06-21 21:01] whedon commented on #3391
[code]

[2021-06-21 21:01] whedon commented on #3391
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03391/joss.03391/10.21105.joss.03391.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03391/joss.03391/10.21105.joss.03391.pdf) :page_facing_up: :point_left:

[2021-06-21 21:03] faroit commented on #3391
👏 @hagenw @keunwoochoi - This is the review thread for the paper. All of our communications will happen here from now on.

Both of you have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is differen

[2021-06-21 21:38] JoelForamitti commented on #3065
@sbenthall is there anything else that needs to be done from my side?

[2021-06-21 22:18] lutzhamel commented on #3296
Looks good to me.  From my perspective I am happy to recommend the paper for publication at this point.

[2021-06-21 22:21] kyleniemeyer commented on #3096
@AngryMaciek sure, we can certainly pause your submission for now.

[2021-06-21 23:42] coljac commented on #3309
@diehlpk : Apologies, I usually try and squeeze in reviews when asked, but I have to decline this one.

[2021-06-21 23:46] kellyrowland commented on #3212
Hi @neerajdhanraj - thank you for your interest in reviewing, but I am going to remove you as a reviewer to try to move this along.

[2021-06-21 23:47] kellyrowland commented on #3212
@whedon remove @neerajdhanraj as reviewer

[2021-06-21 23:47] whedon commented on #3212
OK, @neerajdhanraj is no longer a reviewer

[2021-06-21 23:48] kellyrowland commented on #3212
Hi @jtmiclat and @abigailsnyder 👋 - would either of you be willing and available to review this paper for JOSS?

[2021-06-22 00:22] abigailsnyder commented on #3212
@kellyrowland
I work with many of the authors of this software package and have coauthored papers with many of them (nothing to do with this specific package and the paper that wants to cite it).
Please let me know the extent this qualifies as a COI. I’m otherwise able to review this work.

Thanks,
Abigail Snyder

[2021-06-22 00:38] majensen commented on #2558
Sorry, I'm not being clear @egonw  - so, JOSS likes the title _of the archive_ to match the title _of the paper_. Right now, the title of the archive at https://doi.org/10.5281/zenodo.4942022 is "egon/bacting: JOSS paper v3".
So, in the Zenodo UI, where it says "title" in the Basic Information form (see screenshot below), one would put "Bacting: a next generation...".
Does this make sense?
<img wi

[2021-06-22 01:14] teuben commented on #3068
@whedon generate pdf

[2021-06-22 01:15] whedon commented on #3068
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03068/joss.03068/10.21105.joss.03068.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03068/joss.03068/10.21105.joss.03068.pdf) :page_facing_up: :point_left:

[2021-06-22 01:17] teuben commented on #3068
@dfm now the article proof was correctly updated as it was generated.
This also concludes the last comments I had, I have checked off all my review checklist, I'm happy to recommend publication.

[2021-06-22 01:20] jmsexton03 commented on #3068
@dfm Should I make a new github tag whenever changes are final? Did whedon automatically check the doi's like it did for the earlier article proofs? I want to make sure the new references are good too.

[2021-06-22 01:26] slwu89 commented on #3377
Thanks @giovannic! That's a great help.

@mikldk would something like the tidyverse JOSS paper be an appropriate length? https://joss.theoj.org/papers/10.21105/joss.01686 I'll go through and do some further editing after we merge the edits to the "State of the Field" section https://github.com/mrc-ide/individual/pull/112

[2021-06-22 03:42] davismcc commented on #3309
Apologies, this application (solving differential equations) is too far outside my expertise to be confident evaluating it.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Colin Jacobs ***@***.***>
Sent: Tuesday, June 22, 2021 9:42:58 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Davis McCarthy ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/jos

[2021-06-22 03:47] egonw commented on #2558
Done: https://zenodo.org/record/4942022

[2021-06-22 06:03] ph-rast commented on #3387
Hi @jbytecode ,
I now include a license, GPL3.0.

Suggested reviewers:
- ChristopherLucas
- pedro-teles-fonseca
- Medewitt

[2021-06-22 06:12] benjaminbolling commented on #3246
My updated list of suggestions, starting from the bottom of the list:
- @magedhelmy1
- @shantanudash
- @jGaboardi
- @FranciscoReveriano

[2021-06-22 07:05] mfastudillo commented on #3304
I am available too

[2021-06-22 07:26] jbytecode commented on #3387
@ph-rast Thank you. This list very helpful as the suggested reviewers have R and Econometrics in their preferred language and research interest.

[2021-06-22 07:29] jbytecode commented on #3387
@ChristopherLucas @pedro-teles-fonseca @Medewitt

Hi! Would you willing to assist in reviewing this submission?

[2021-06-22 07:30] csoneson commented on #3304
Brilliant, thanks @mfastudillo!
So this means that we have our two reviewers - I'll assign you now and open the review issue.

[2021-06-22 07:30] csoneson commented on #3304
@whedon assign @tngTUDOR as reviewer

[2021-06-22 07:30] whedon commented on #3304
OK, @tngTUDOR is now a reviewer

[2021-06-22 07:30] csoneson commented on #3304
@whedon add @mfastudillo as reviewer

[2021-06-22 07:30] whedon commented on #3304
OK, @mfastudillo is now a reviewer

[2021-06-22 07:31] csoneson commented on #3304
@whedon start review

[2021-06-22 07:31] whedon opened #3392 "[REVIEW]: LCIA Formatter"
**Submitting author:** @WesIngwersen (<a href="http://orcid.org/0000-0002-9614-701X">Wesley Ingwersen</a>)
**Repository:** <a href="https://github.com/USEPA/LCIAformatter" target ="_blank">https://github.com/USEPA/LCIAformatter</a>
**Version:** v1.0.2
**Editor:** @csoneson
**Reviewer:** @tngTUDOR, @mfastudillo
**Archive:** <a href="https://doi.org/10.5281/zenodo.5557895" target="_blank">10.5281/ze

[2021-06-22 07:31] whedon commented on #3304
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3392.

[2021-06-22 07:31] #3304 closed

[2021-06-22 07:31] whedon commented on #3392
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tngTUDOR, @mfastudillo it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-06-22 07:31] whedon commented on #3392
[code]

[2021-06-22 07:31] whedon commented on #3392
[code]

[2021-06-22 07:31] whedon commented on #3392
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03392/joss.03392/10.21105.joss.03392.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03392/joss.03392/10.21105.joss.03392.pdf) :page_facing_up: :point_left:

[2021-06-22 07:32] csoneson commented on #3392
👋🏼 @WesIngwersen, @tngTUDOR, @mfastudillo - this is the review thread for the submission. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other journa

[2021-06-22 07:34] jbytecode commented on #3387
@ptfonseca Hi, would you willing to assist in reviewing this submission for JOSS?

[2021-06-22 07:44] Marie-PerrotDockes commented on #3273
All good for me, great package @PhilBoileau !

[2021-06-22 07:53] faroit commented on #2446
@lockepatton thanks for the update.

Can you further elaborate on why you think that [pep-0432](https://www.python.org/dev/peps/pep-0423/#how-to-rename-a-project) recommendations wouldn't be a good solution here? I don't see that this would require users to reinstall the package...

[2021-06-22 07:54] pdebuyl commented on #3261
@ashwinvis thank you for the reply. Many of our reviewers have timing issues since a year so I'll take your offer!

[2021-06-22 07:57] pdebuyl commented on #3076
@mparno gentle reminder.

[2021-06-22 07:58] vissarion commented on #3364
Hi, @dbuscombe-usgs, @sptennak, @steffilazerte, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-22 07:59] pdebuyl commented on #3337
Thank you @arthur-e for pointing this out. In practice, the reviews proceed by iterative improvements and I forgot that we request this grading. I'll discuss it with the editor group.

[2021-06-22 08:02] vissarion commented on #3330
Hi, @nickbearman, @ryankarlos, @ystouthart I think this submission matches your interests.

Would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-22 08:03] vissarion commented on #3330
@whedon remove samuel-rosa as reviewer

[2021-06-22 08:03] whedon commented on #3330
OK, samuel-rosa is no longer a reviewer

[2021-06-22 08:04] vissarion commented on #3330
@whedon remove @samuel-rosa as reviewer

[2021-06-22 08:04] whedon commented on #3330
OK, @samuel-rosa is no longer a reviewer

[2021-06-22 08:04] pdebuyl commented on #3337
@McWhity you can already address @arthur-e 's review (without waiting for @braunfuss ' one) or wait for the second review to arrive.

[2021-06-22 08:09] uellue commented on #3241
@Kevin-Mattheus-Moerman it would be my pleasure to review the software and paper!

[2021-06-22 08:11] ChWick commented on #3297
@arfon The DOI is `10.5281/zenodo.5011366` (see also https://zenodo.org/record/5011366)

[2021-06-22 08:14] Kevin-Mattheus-Moerman commented on #3241
@whedon add @uellue as reviewer

[2021-06-22 08:14] whedon commented on #3241
OK, @uellue is now a reviewer

[2021-06-22 08:25] drvinceknight commented on #3360
@whedon generate pdf from branch Abmarl-87-interface-release

[2021-06-22 08:25] whedon commented on #3360
[code]

[2021-06-22 08:25] whedon commented on #3360
PDF failed to compile for issue #3360 with the following error:
[code]

[2021-06-22 08:26] gomezzz commented on #3371
Thanks!

We have fixed the DOIs and will now look at the reviewers, will write suggestions today.

@whedon generate pdf

[2021-06-22 08:26] drvinceknight commented on #3360
@rusu24edward I cannot seem able to find the `` branch so that might be why `whedon` cannot generate the pdf. Can you confirm I've got the  name of the branch correct and that it's on the main repo. Here's a screenshot where I cannot seem to find it:

![CleanShot 2021-06-22 at 09 25 43](https://user-images.githubusercontent.com/2131546/122890833-f44ab500-d33b-11eb-9b1a-8de43361e5c1.png)

[2021-06-22 08:28] vissarion commented on #3355
Hi, @kthyng, @nandaloo I am happy to edit this submission.

[2021-06-22 08:28] vissarion commented on #3355
@whedon assign me as editor

[2021-06-22 08:28] whedon commented on #3355
OK, the editor is @vissarion

[2021-06-22 08:29] jbytecode commented on #3371
@whedon check references

[2021-06-22 08:29] whedon commented on #3371
[code]

[2021-06-22 08:30] jbytecode commented on #3371
@whedon generate pdf

[2021-06-22 08:31] whedon commented on #3371
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03371/joss.03371/10.21105.joss.03371.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03371/joss.03371/10.21105.joss.03371.pdf) :page_facing_up: :point_left:

[2021-06-22 08:32] drvinceknight commented on #3275
That's very helpful @karink520. Thanks :) :+1:

[2021-06-22 08:33] vissarion commented on #3355
Hi, @crhea93, @szkafander, @thelinuxmaniac as suggested by @nandaloo and verified by myself this submission could be interesting for you.

Would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-22 08:33] drvinceknight commented on #3275
@eigenfoo @ejhigson @pmyteh @SuperKam91 and  @matt-graham I'm pinging you to ask if you would be able to assist with reviewing this submissions to JOSS (The Journal of Open Source Software).

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "PyEI: A Python package for ecological inference". You can find more information at the top of thi

[2021-06-22 08:37] nickbearman commented on #3330
Yes, happy to review. Just to check, I am not actually going to be able to run the package to test it out (not currently having the time/space to setup a Python environment), is this a major issue? If so, happy to pass the review to someone else. Very happy to complete the rest of the review elements.

[2021-06-22 08:53] vissarion commented on #3330
Hi @nickbearman thank you very much for you interest and quick response!

I am afraid it is important to test the functionality of the package as stated in https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-22 09:08] arfon commented on #3285
@whedon set 10.5281/zenodo.5006965 as archive

[2021-06-22 09:08] whedon commented on #3285
OK. <a href="https://doi.org/10.5281/zenodo.5006965" target="_blank">10.5281/zenodo.5006965</a> is the archive.

[2021-06-22 09:08] arfon commented on #3285
@whedon set v0.5.1 as version

[2021-06-22 09:08] whedon commented on #3285
OK. v0.5.1 is the version.

[2021-06-22 09:08] arfon commented on #3285
@whedon recommend-accept

[2021-06-22 09:08] whedon commented on #3285
[code]

[2021-06-22 09:09] whedon commented on #3285
[code]

[2021-06-22 09:09] whedon commented on #3285
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2400

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2400, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-22 09:10] arfon commented on #3284
@DrMarc – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the author

[2021-06-22 09:10] beniroquai commented on #3241
Thanks for inviting me. I'm curious to go through this review process as I have never heard about it before. The software seems very nice! If possible I would also like to give it a try. No problem if one reviewer is already enough! :-)

[2021-06-22 09:11] arfon commented on #3357
@whedon assign @kellyrowland as editor

[2021-06-22 09:11] whedon commented on #3357
OK, the editor is @kellyrowland

[2021-06-22 09:11] arfon commented on #3357
:zap: thanks to @kellyrowland for agreeing to handle this submission for us!

[2021-06-22 09:13] arfon commented on #3297
@whedon set 10.5281/zenodo.5011366 as archive

[2021-06-22 09:13] whedon commented on #3297
OK. <a href="https://doi.org/10.5281/zenodo.5011366" target="_blank">10.5281/zenodo.5011366</a> is the archive.

[2021-06-22 09:13] arfon commented on #3297
@whedon recommend-accept

[2021-06-22 09:13] whedon commented on #3297
[code]

[2021-06-22 09:14] whedon commented on #3297
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2401

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2401, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-22 09:14] whedon commented on #3297
[code]

[2021-06-22 09:20] cMadan commented on #3159
@nicholst, can you update the checkboxes in the first comment in this issue to match the progress of your review? Thanks!

[2021-06-22 09:21] matt-graham commented on #3275
@drvinceknight: I would be very happy to review the submission.

[2021-06-22 09:57] gomezzz commented on #3371
@jbytecode Thanks for the list! After talking to my co-authors, from the list, given their expertise in numerical methods, machine learning and Python, we would suggest as potential reviewers

danehkar
felipefr
jakryd
jamiehadd
krystophny

Additionally, we would suggest the maintainers of the VegasFlow package which serves a similar purpose for the TensorFlow framework

scarrazza
scarlehoff

and t

[2021-06-22 10:05] nickbearman commented on #3330
@vissarion no problem. Sometime I will be able to setup a Python environment, but not for this one. Please do remove me as reviewer. Thanks.

[2021-06-22 10:09] nicholst commented on #3159
Hi @cMadan - I'm actually struggling with something simple.  The guidelines mention 'the paper'  ("Does the full list of paper authors seem appropriate and complete?") but I can't find 'the paper'... where is it?

[2021-06-22 10:11] arfon commented on #2395
:wave: @jasonnance – just checking in here. Are you still in the process of making any changes in response to the reviewer feedback?

[2021-06-22 10:12] tramarobin commented on #3159
@nicholst, you can find the paper on the upcoming message

@whedon generate pdf

[2021-06-22 10:17] tramarobin commented on #3159
@whedon generate pdf

[2021-06-22 10:18] whedon commented on #3159
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03159/joss.03159/10.21105.joss.03159.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03159/joss.03159/10.21105.joss.03159.pdf) :page_facing_up: :point_left:

[2021-06-22 10:30] McWhity commented on #3337
Yes I will address the review in the next view days

[2021-06-22 10:41] justinshenk commented on #3202
Hi @jni, I believe it is ready to be accepted if nothing else stands in the way.

[2021-06-22 10:43] arfon commented on #3285
@whedon accept deposit=true

[2021-06-22 10:43] whedon commented on #3285
[code]

[2021-06-22 10:44] whedon commented on #3285
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1407288394711961606) 👈 🐦🐦🐦

[2021-06-22 10:44] whedon commented on #3285
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2402
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03285](https://doi.org/10.21105/joss.03285)
2. If everything look

[2021-06-22 10:45] onurvarol commented on #2780
Thank you @arfon for the reminder. @uluturki recently started a new job and I have been building my lab as a PI, so it was a busy couple of months. This summer one of my students will take the lead, we hope to wrap it up quickly.

[2021-06-22 10:46] arfon commented on #3285
@grburgess, @benjaminpope – many thanks for your reviews here! JOSS relies upon volunteer efforts from people like you and we wouldn't be able to do this without you! ✨

@dfm – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-06-22 10:46] #3285 closed

[2021-06-22 10:46] whedon commented on #3285
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03285/status.svg)](https://doi.org/10.21105/joss.03285)

**We need your help!**

Journal of Open Source Softwa

[2021-06-22 10:47] arfon commented on #3297
@whedon accept deposit=true

[2021-06-22 10:47] whedon commented on #3297
[code]

[2021-06-22 10:48] whedon commented on #3297
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1407289294683787264) 👈 🐦🐦🐦

[2021-06-22 10:48] whedon commented on #3297
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2403
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03297](https://doi.org/10.21105/joss.03297)
2. If everything look

[2021-06-22 10:51] arfon commented on #3297
@levimcclenny, @Het-Shah – many thanks for your reviews here. JOSS relies upon the volunteer efforts of people like you and we simply wouldn't be able to do this without you ✨

@ChWick – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-06-22 10:51] #3297 closed

[2021-06-22 10:52] whedon commented on #3297
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03297/status.svg)](https://doi.org/10.21105/joss.03297)

**We need your help!**

Journal of Open Source Softwa

[2021-06-22 10:57] rodluger commented on #3071
@danielskatz No word -- not sure what the hangup is. I just pinged them: will let you know as soon as I hear back.

[2021-06-22 10:59] jakobbossek commented on #3372
@fboehm Happy to support with the review 👍

[2021-06-22 11:44] ChWick commented on #3297
@levimcclenny @Het-Shah @arfon Thank you all for your efforts!

[2021-06-22 12:14] jsoishi commented on #3079
@dpsanders I've done so. Thanks

On Sun, Jun 20, 2021 at 7:45 PM David P. Sanders ***@***.***>
wrote:

[2021-06-22 12:34] jbytecode commented on #3371
@felipefr @jamiehadd  Hi!

Would you willing to assist in reviewing this for JOSS?

[2021-06-22 12:40] jasonnance commented on #2395
Hey @arfon, my time is limited at the moment, so I was only planning on implementing any changes required for acceptance.  I think I've covered all of those, but let me know if I missed something.

[2021-06-22 12:48] Het-Shah commented on #3297
Congratulations @ChWick and to all your colleagues for the acceptance! 🎉

[2021-06-22 13:00] crhea93 commented on #3355
Yes I will be happy to review this work.

[2021-06-22 13:04] szkafander commented on #3355
Happy to!

[2021-06-22 13:11] szkafander commented on #3355
Dear Vissarion,

I am happy to review this submission.

Kind regards,

Paul

On 2021. Jun 22., Tue at 3:33, Vissarion Fisikopoulos <
***@***.***> wrote:

[2021-06-22 13:15] fboehm commented on #3372
Thank you, @jakobbossek ! I'll get the review started.

[2021-06-22 13:15] fboehm commented on #3372
@whedon add @jakobbossek as reviewer

[2021-06-22 13:15] whedon commented on #3372
OK, @jakobbossek is now a reviewer

[2021-06-22 13:16] fboehm commented on #3372
@whedon start review

[2021-06-22 13:16] whedon opened #3393 "[REVIEW]: see: An R Package for Visualizing Statistical Models"
**Submitting author:** @strengejacke (<a href="http://orcid.org/0000-0002-8895-3206">Daniel Lüdecke</a>)
**Repository:** <a href="https://github.com/easystats/see/" target ="_blank">https://github.com/easystats/see/</a>
**Version:** 0.6.5
**Editor:** @fboehm
**Reviewer:** @MatthewSmith430, @jakobbossek
**Archive:** <a href="https://doi.org/10.5281/zenodo.5146411" target="_blank">10.5281/zenodo.514

[2021-06-22 13:16] whedon commented on #3372
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3393.

[2021-06-22 13:16] #3372 closed

[2021-06-22 13:16] whedon commented on #3393
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @MatthewSmith430, @jakobbossek it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post

[2021-06-22 13:16] vissarion commented on #3355
@whedon assign @crhea93 and @szkafander as reviewers

[2021-06-22 13:16] whedon commented on #3355
OK, @crhea93 and @szkafander is now a reviewer

[2021-06-22 13:17] whedon commented on #3393
[code]

[2021-06-22 13:17] whedon commented on #3393
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03393/joss.03393/10.21105.joss.03393.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03393/joss.03393/10.21105.joss.03393.pdf) :page_facing_up: :point_left:

[2021-06-22 13:18] vissarion commented on #3355
@whedon assign @crhea93 as reviewer

[2021-06-22 13:18] whedon commented on #3355
OK, @crhea93 is now a reviewer

[2021-06-22 13:18] vissarion commented on #3355
@whedon add @szkafander as reviewer

[2021-06-22 13:18] whedon commented on #3355
OK, @szkafander is now a reviewer

[2021-06-22 13:28] chennachaos commented on #3020
Hi @diehlpk, thank you for the clarifications and updates to the documentation. I think the documentation is good now.
I am going to check the installation and tests in the next couple of days and will provide you with my comments by the end of the week.

[2021-06-22 13:35] arfon commented on #2395
@jasonnance – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the au

[2021-06-22 13:41] AlexChristensen commented on #3308
Hi @donaldRwilliams,

Here's a couple comments on my pass through the code:

o The return values for the `returned_object` for several functions code be documented with greater precision. Take `enr` for example:

[code]

Each one of these could be listed in the documentation:

[code]

This could be done for most functions, which would help people better understand the output. Another option is to

[2021-06-22 13:46] dfm commented on #3068
@teuben: Thanks for the update and for your review!!

@jmsexton03: Give me a day or two to take a final read through and I'll check all those things. After that, I'll have a couple of quick steps (including tagging a release) for you before the final processing. This shouldn't take long - thanks for your patience!

[2021-06-22 14:16] steffilazerte commented on #3364
I don't have MATLAB, so I think that means I can't install/run the software... right?

[2021-06-22 14:29] ejhigson commented on #3275
I'm sorry I'm afraid I don't have the time to review this at the moment!

[2021-06-22 14:50] rusu24edward commented on #3360
@whedon generate pdf from branch abmarl-87-interface-release

[2021-06-22 14:50] whedon commented on #3360
[code]

[2021-06-22 14:50] whedon commented on #3360
PDF failed to compile for issue #3360 with the following error:
[code]

[2021-06-22 14:52] dbuscombe-usgs commented on #3364
Sorry I won't and can't review Matlab code. Not open source, in my opinion

[2021-06-22 14:52] rusu24edward commented on #3360
@drvinceknight I'm sorry, I did not realize that github was sensitive to capitalization in the branch name. The name of the branch is `abmarl-87-interface-release`. I've attempted compilation just now, and received the same error as before. This is strange to me because the pdf will compile with the GitHub action... I'll look into resolving this issue, any tips?

[2021-06-22 15:00] vissarion commented on #3364
Unfortunately, yes.

[2021-06-22 15:06] rusu24edward commented on #3360
@whedon generate pdf from branch abmarl-87-interface-release

[2021-06-22 15:06] whedon commented on #3360
[code]

[2021-06-22 15:07] whedon commented on #3360
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03360/joss.03360/10.21105.joss.03360.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03360/joss.03360/10.21105.joss.03360.pdf) :page_facing_up: :point_left:

[2021-06-22 15:08] rusu24edward commented on #3360
@drvinceknight I believe I've fixed the pdf compilation issue. I had forgotten to add an `index` field under the affiliation. It looks like the paper has compiled correctly now.

[2021-06-22 15:25] mponce0 commented on #3290
@whedon generate pdf

[2021-06-22 15:26] whedon commented on #3290
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03290/joss.03290/10.21105.joss.03290.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03290/joss.03290/10.21105.joss.03290.pdf) :page_facing_up: :point_left:

[2021-06-22 15:26] donaldRwilliams commented on #3308
@AlexChristensen Great suggestion ! I will do just that :-)

[2021-06-22 15:36] mponce0 commented on #3290
@joseph-palmer Thank you for the explanations and updates to the different documents in the package.
Just recall to update your citation information to point towards the JOSS record when you get your final DOI.

@csoneson I'm good with the status of the manuscript and checked all the items in the check list, please let me know if there is anything else needed from my side.

[2021-06-22 15:36] grburgess commented on #3257
@HeloiseS and @warrickball I have worked a bit on the documentation to address you concerns. There were no issues opened so I will try to make sure and address every thing here:

I've added more in-depth explanation of the core of the procedure:

https://popsynth.readthedocs.io/en/latest/notebooks/distributions.html

This discusses the mathematics behind things. I could also add this to the paper,

[2021-06-22 15:45] whedon commented on #3344
:wave: @PythonCHB, please update us on how your review is going (this is an automated reminder).

[2021-06-22 15:45] whedon commented on #3344
:wave: @lheagy, please update us on how your review is going (this is an automated reminder).

[2021-06-22 15:46] ChristopherLucas commented on #3387
I'm happy to

[2021-06-22 15:48] steffilazerte commented on #3364
Okay, then no review from me either, sorry!

[2021-06-22 15:49] jbytecode commented on #3387
@whedon assign @ChristopherLucas as reviewer

[2021-06-22 15:49] whedon commented on #3387
OK, @ChristopherLucas is now a reviewer

[2021-06-22 15:53] jbytecode commented on #3387
@ChristopherLucas thank you for the response. The process will start after we set the second reviewer. Meanwhile, you can have a look at the [reviewing guide](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) of JOSS if you are not familiar with the system.

[2021-06-22 16:20] hknd23 commented on #3322
Dear @cmaimone,

We thank you very much for providing incisive, highly constructive, and detailed feedback and comments. Your review helped us understand numerous shortcomings in our package, documentation, and paper. We thus implemented all the following suggestions you raised in our revised work: reorganize and edit plus clarify various parts of the documentation associated with our IDCeMPy pack

[2021-06-22 16:20] hknd23 commented on #3322
@whedon generate pdf

[2021-06-22 16:21] whedon commented on #3322
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: :point_left:

[2021-06-22 16:35] AlexChristensen commented on #3308
@donaldRwilliams,

Here are some comments for the other parts of the checklist:

## Documentation (GitHub Readme)

o Latest CRAN version is 1.0.0 (says 2.0.0 in documentation)

## Paper

o I would move the third paragraph of the "Summary" section to the "Statement of Need." It provides the best reason why there is a need for these low-dimensional data methods.

o In your `plot` S3methods, consider

[2021-06-22 17:09] c-martinez commented on #2731
@whedon generate pdf

[2021-06-22 17:09] whedon commented on #2731
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02731/joss.02731/10.21105.joss.02731.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02731/joss.02731/10.21105.joss.02731.pdf) :page_facing_up: :point_left:

[2021-06-22 17:14] majensen commented on #2558
@whedon set archive as 10.5281/zenodo.4942022

[2021-06-22 17:14] whedon commented on #2558
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-22 17:15] majensen commented on #2558
@whedon accept either order around the frigging conjunction

[2021-06-22 17:15] whedon commented on #2558
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-06-22 17:15] majensen commented on #2558
@whedon set 10.5281/zenodo.4942022 as archive

[2021-06-22 17:15] whedon commented on #2558
OK. <a href="https://doi.org/10.5281/zenodo.4942022" target="_blank">10.5281/zenodo.4942022</a> is the archive.

[2021-06-22 17:16] majensen commented on #2558
@whedon set paper-v3 as version

[2021-06-22 17:16] whedon commented on #2558
OK. paper-v3 is the version.

[2021-06-22 17:17] majensen commented on #2558
@whedon recommend accept

[2021-06-22 17:17] whedon commented on #2558
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-22 17:17] majensen commented on #2558
@whedon commands

[2021-06-22 17:17] whedon commented on #2558
Here are some things you can ask me to do:

[code]

[2021-06-22 17:17] majensen commented on #2558
@whedon recommend-accept

[2021-06-22 17:18] whedon commented on #2558
[code]

[2021-06-22 17:18] whedon commented on #2558
[code]

[2021-06-22 17:18] whedon commented on #2558
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2404

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2404, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-22 17:21] majensen commented on #3246
@magedhelmy1, @ShantuDash - are you both willing to review [this work](#3246) for [JOSS](https://joss.theoj.org)? Thanks for your consideration1

[2021-06-22 17:25] kanderso-nrel commented on #3294
Ok thanks for confirming @timtroendle.  I don't consider the final unaddressed issue (https://github.com/PyPSA/atlite/issues/158) to be a blocker so I'm happy to recommend this article for publication 🎉 Please let me know if you need anything else from me.

[2021-06-22 17:39] lheagy commented on #3344
👋  Hi folks, it looks like the paper isn't compiling at the moment

[2021-06-22 17:42] kthyng commented on #3344
@whedon generate pdf from branch joss

[2021-06-22 17:42] whedon commented on #3344
[code]

[2021-06-22 17:42] whedon commented on #3344
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03344/joss.03344/10.21105.joss.03344.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03344/joss.03344/10.21105.joss.03344.pdf) :page_facing_up: :point_left:

[2021-06-22 17:47] rerickson-usgs commented on #3117
@marcosvital  do you need any more recommendations?

[2021-06-22 17:48] kellyrowland commented on #3357
Hi @dionhaefner 👋  if you have any suggestions for potential reviewers, please mention them here in this thread (without tagging them with an @).

[2021-06-22 18:11] donaldRwilliams commented on #3308
@AlexChristensen sounds good. I will make the changes you suggested.

thank you !

[2021-06-22 18:26] rabernat commented on #3261
I am in the same boat. I just left for a vacation. I'm very sorry but I have to decline.

[2021-06-22 19:04] untzag commented on #3241
@Kevin-Mattheus-Moerman I'd be happy to review if desired

[2021-06-22 19:17] ShantanuDash commented on #3246
@majensen  I am willing to review this. Do you have any particular guidelines for reviewing? And I am new to reviewing on GitHub workflow.

[2021-06-22 19:18] standage commented on #3362
Hi @csoneson, I am unable to update the review checklist.

[2021-06-22 19:18] Kevin-Mattheus-Moerman commented on #3241
@whedon add @beniroquai as reviewer

[2021-06-22 19:19] whedon commented on #3241
OK, @beniroquai is now a reviewer

[2021-06-22 19:19] Kevin-Mattheus-Moerman commented on #3241
@whedon add @untzag as reviewer

[2021-06-22 19:20] whedon commented on #3241
OK, @untzag is now a reviewer

[2021-06-22 19:22] Kevin-Mattheus-Moerman commented on #3241
@whedon start review

[2021-06-22 19:22] whedon opened #3394 "[REVIEW]: ImSwitch: Generalizing microscope control in Python"
**Submitting author:** @kasasxav (<a href="http://orcid.org/0000-0002-9583-9022">Xavier Casas Moreno</a>)
**Repository:** <a href="https://github.com/kasasxav/ImSwitch" target ="_blank">https://github.com/kasasxav/ImSwitch</a>
**Version:** v1.2.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @uellue, @beniroquai, @untzag
**Archive:** <a href="https://doi.org/10.5281/zenodo.5196462" target="_b

[2021-06-22 19:22] whedon commented on #3241
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3394.

[2021-06-22 19:22] #3241 closed

[2021-06-22 19:22] whedon commented on #3394
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @MakerTobey, @uellue, @beniroquai, @untzag it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [o

[2021-06-22 19:23] whedon commented on #3394
[code]

[2021-06-22 19:23] whedon commented on #3394
[code]

[2021-06-22 19:23] whedon commented on #3394
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03394/joss.03394/10.21105.joss.03394.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03394/joss.03394/10.21105.joss.03394.pdf) :page_facing_up: :point_left:

[2021-06-22 19:25] pdebuyl commented on #3261
Hi @rabernat thank you for replying! Consider unsubscribing from this issue to avoid receiving further notifications.

[2021-06-22 19:28] danielskatz commented on #3362
@whedon re-invite @standage as reviewer

[2021-06-22 19:28] whedon commented on #3362
The reviewer already has a pending invite.

@standage please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-22 19:36] danielskatz commented on #3362
Ping @openjournals/dev ☝️

[2021-06-22 19:40] Kevin-Mattheus-Moerman commented on #3394
@MakerTobey, @uellue, @beniroquai, @untzag, @kasasxav this is where the review takes place. Have a look at the instructions above. Let me know if you have questions.

[2021-06-22 19:42] dionhaefner commented on #3357
I don't know anyone first-hand. CC @PhilipVinc, maybe he knows someone.

People from the reviewer list that look relevant:
- pragyansmita
- marksantcroos
- iljah
- diegoenry
- leios
- sarats
- zhampel
- StewMH

[2021-06-22 19:44] kyleniemeyer commented on #2558
Hi @egonw, I'm doing some final checks before publishing. The Brenninkmeijer, Mayfield, Rijswijk, Slenter, Spjuth 2009, and Willighagen 2017 references look a bit strange - I think "et al." is included in the bibtex entry somehow. Can you correct those? All authors should be included in the bibtex entries, and then our LaTeX parser can handle truncating the list of authors automatically.

[2021-06-22 19:45] kyleniemeyer commented on #3079
@whedon generate pdf from branch joss_paper

[2021-06-22 19:45] whedon commented on #3079
[code]

[2021-06-22 19:46] whedon commented on #3079
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03079/joss.03079/10.21105.joss.03079.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03079/joss.03079/10.21105.joss.03079.pdf) :page_facing_up: :point_left:

[2021-06-22 19:46] kasasxav commented on #3394
Hi, thanks a lot for accepting to review this work!
We have added some extra functionality while the work was waitlisted, we have it in the branch "/dev". Is it possible to review that instead?

[2021-06-22 19:51] kyleniemeyer commented on #3079
Hi @jsoishi, I'm doing some final checks before publishing. Thanks for fixing those DOI issues. I still see one minor issue with the Lin reference: the journal name is missing. Can you please add that? Otherwise, this looks good to go.

[2021-06-22 19:52] kyleniemeyer commented on #3184
Thanks @cwentland0! Sorry for letting this one lag. I'll be sending out some review requests shortly.

[2021-06-22 19:59] Swetanshu commented on #2838
@dpsanders Thanks a lot for this!
The worked example includes more details now. The edits you requested have been merged with the main branch.
Let us know if anything else is needed or if I should close all the issues that remain open.
Thanks again!

[2021-06-22 20:01] Swetanshu commented on #2838
@whedon generate pdf

[2021-06-22 20:01] kyleniemeyer commented on #3176
Thanks @cartemic! I let this one lag, but I'll get some review requests out shortly.

[2021-06-22 20:01] whedon commented on #2838
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02838/joss.02838/10.21105.joss.02838.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02838/joss.02838/10.21105.joss.02838.pdf) :page_facing_up: :point_left:

[2021-06-22 20:02] arfon commented on #3071
I just heard from the AAS that their DOI is `10.3847/1538-3881/abfdb9`.

@rodluger - could you add the relevant information to your `paper.md`:

[code]

[2021-06-22 20:03] kyleniemeyer commented on #3176
Hello @mefuller @arosen93, would you be willing to review this submission for JOSS?

[2021-06-22 20:04] kyleniemeyer commented on #3184
Hi @clemaitre58 and @tupi, would you be willing to review this submission for JOSS?

[2021-06-22 20:06] kyleniemeyer commented on #2588
Thanks @tomazbregar.

@LolloCappo and @Gunnstein, are you willing and able to review this submission for JOSS? If you are unfamiliar with our journal, you can read more about performing our checklist-driven reviews here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. Thanks!

[2021-06-22 20:12] arosen93 commented on #3176
@kyleniemeyer This one looks a bit outside my expertise, so I'll have to pass. I'm better suited for quantum chemistry and computational materials science.

[2021-06-22 20:15] mefuller commented on #3176
@kyleniemeyer this should be in my wheelhouse, so I'll agree to review it.

[2021-06-22 20:16] kellyrowland commented on #3212
@AbigailMcGovern That is indeed a COI here, thanks for bringing that to my attention and for your quick response!

[2021-06-22 20:25] kyleniemeyer commented on #3176
Thanks @mefuller, and understood @arosen93.

[2021-06-22 20:25] kyleniemeyer commented on #3176
@whedon add @mefuller as reviewer

I still need to find a second reviewer, after which I'll start the actual review issue.

[2021-06-22 20:25] whedon commented on #3176
OK, @mefuller is now a reviewer

[2021-06-22 20:35] kyleniemeyer commented on #3176
Hi @fwitte, could you review this submission for JOSS?

[2021-06-22 20:45] felipefr commented on #3371
Yes, I wish to review. How can I do?

On Tue, 22 Jun 2021 at 14:34, Mehmet Hakan Satman ***@***.***>
wrote:

--
Felipe Figueredo

[2021-06-22 20:47] magedhelmy1 commented on #3246
Yes, I am willing to review. Similiar to ShatanuDash, please share the reviewer guidelines :)

[2021-06-22 20:49] jbytecode commented on #3371
@felipefr  thank you! whenever we start the process, a new issue will be created. I will explain the road map.

[2021-06-22 20:50] jbytecode commented on #3371
@whedon assign @felipefr as reviewer

[2021-06-22 20:50] whedon commented on #3371
OK, @felipefr is now a reviewer

[2021-06-22 21:40] sbenthall commented on #3065
@whedon set 10.5281/zenodo.4946508 as archive

[2021-06-22 21:40] whedon commented on #3065
OK. <a href="https://doi.org/10.5281/zenodo.4946508" target="_blank">10.5281/zenodo.4946508</a> is the archive.

[2021-06-22 21:40] sbenthall commented on #3065
@whedon set v0.1.1as version

[2021-06-22 21:40] whedon commented on #3065
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-22 21:40] sbenthall commented on #3065
@whedon set v0.1.1 as version

[2021-06-22 21:40] whedon commented on #3065
OK. v0.1.1 is the version.

[2021-06-22 21:41] sbenthall commented on #3065
I recommend this package for acceptance!

[2021-06-22 21:41] sbenthall commented on #3065
@whedon recommend-accept

[2021-06-22 21:41] whedon commented on #3065
[code]

[2021-06-22 21:41] whedon commented on #3065
[code]

[2021-06-22 21:41] whedon commented on #3065
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2405

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2405, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-22 21:43] sbenthall commented on #3245
@r-barnes would you be able to review this work?

[2021-06-22 21:45] sbenthall commented on #3013
@jacobsoj would you be able to review this package?

[2021-06-22 22:12] majensen commented on #3246
@magedhelmy1 @ShantanuDash Thanks very much for the interest. Please have a look at the process here https://joss.readthedocs.io/en/latest/reviewer_guidelines.html and here https://joss.readthedocs.io/en/latest/review_criteria.html - if you have any questions just ask here. If you change your mind, that is ok!

[2021-06-22 22:52] kyleniemeyer commented on #3065
Everything looks good to me, proceeding to publish!

[2021-06-22 22:52] kyleniemeyer commented on #3065
@whedon accept deposit=true

[2021-06-22 22:52] whedon commented on #3065
[code]

[2021-06-22 22:53] whedon commented on #3065
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1407471800964063233) 👈 🐦🐦🐦

[2021-06-22 22:53] whedon commented on #3065
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2406
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03065](https://doi.org/10.21105/joss.03065)
2. If everything look

[2021-06-22 23:23] kyleniemeyer commented on #3065
Congratulations @JoelForamitti on your article's publication in JOSS!

Many thanks to @jamesdamillington and @martibosch for reviewing this, and @sbenthall for editing.

[2021-06-22 23:23] #3065 closed

[2021-06-22 23:23] whedon commented on #3065
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03065/status.svg)](https://doi.org/10.21105/joss.03065)

**We need your help!**

Journal of Open Source Softwa

[2021-06-22 23:47] ksyang2013 commented on #3190
Hi Kevin, thanks for your message. I am not able to finish the checklist and I keep getting the message "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account." I guess I need to remove my assignment first.

In spite of the unfinished checklist, I am glad to share some general comments.
i) The generati

[2021-06-23 00:38] PhilBoileau commented on #3273
Thank you for the helpful suggestions and for reviewing, @Marie-PerrotDockes!

[2021-06-23 00:56] lheagy commented on #3344
Thanks for inviting me to review! This is a very cool project and I think an important contribution for enabling interoperability between codes and different sub-domains in the geosciences.

I linked a few issues with comments and suggestions. Please feel free to let me know if anything is unclear.

The only other suggestion that I have with respect to the documentation / paper is that it might be

[2021-06-23 05:11] fwitte commented on #3176
Hi @kyleniemeyer,
I'll need to pass as this is unfortunately not my expertise.
Best regards, have a nice day
Francesco

[2021-06-23 05:12] whedon commented on #3346
:wave: @jorgegil, please update us on how your review is going (this is an automated reminder).

[2021-06-23 05:12] whedon commented on #3346
:wave: @Geogoeroe, please update us on how your review is going (this is an automated reminder).

[2021-06-23 05:20] yuhc commented on #3296
The only missing piece is that the article doesn't mention existing AST-based search engines or libraries in "State of the field". It looks good to me to move forward after the relevant citations are added.

[2021-06-23 05:34] egonw commented on #2558
@kyleniemeyer, thank you for catching that. I had not expected Zotero to put et al. in their BibTeX output :( There was a second entry to which this applied and fixed that one too.

When looking at the final proof last night I noticed one sentence that changed in reply to a reviewer comment, but where something seems to have gone wrong. I am changing `This means that translation of IFile to String

[2021-06-23 05:41] kyleniemeyer commented on #2558
@egonw ah sorry for the confusion - I actually meant all *six* references that began with those first authors...

You do not actually need to update the Zenodo deposit for paper-only changes—you can, if you want, but our focus is on archiving the version of the software that was reviewed, since JOSS archives the paper itself.

[2021-06-23 05:42] timtroendle commented on #3294
@whedon generate pdf from branch joss

[2021-06-23 05:42] whedon commented on #3294
[code]

[2021-06-23 05:42] whedon commented on #3294
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03294/joss.03294/10.21105.joss.03294.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03294/joss.03294/10.21105.joss.03294.pdf) :page_facing_up: :point_left:

[2021-06-23 05:43] timtroendle commented on #3294
@whedon check references

[2021-06-23 05:43] kyleniemeyer commented on #2558
@whedon generate pdf

[2021-06-23 05:43] whedon commented on #2558
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02558/joss.02558/10.21105.joss.02558.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02558/joss.02558/10.21105.joss.02558.pdf) :page_facing_up: :point_left:

[2021-06-23 05:45] kyleniemeyer commented on #2558
Actually it looks like all of the references with long author lists have this issue.

[2021-06-23 05:48] egonw commented on #2558
Yeah, indeed. I'm sorry about this. Hang on :)

[2021-06-23 05:52] timtroendle commented on #3294
@whedon check references from branch joss

[2021-06-23 05:52] whedon commented on #3294
[code]

[2021-06-23 05:52] whedon commented on #3294
[code]

[2021-06-23 05:57] jni commented on #3202
YES! My apologies, I've been very overwhelmed at work. Moving forward with the review of the reviews now. 😅

[2021-06-23 06:01] timtroendle commented on #3294
Thank you @kanderso-nrel!

@FabianHofmann, it looks like we are almost there. Can you fix the small DOI issue Whedon identified right above? Can you let us know whether you are planning to fix https://github.com/PyPSA/atlite/issues/158 before submission? Whenever you are ready, can you please
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ]

[2021-06-23 06:26] csoneson commented on #3290
@mponce0 - thank you! That should be all from your side :)

@joseph-palmer - I will also take a look through the submission to see that everything is in order - I'll get back to you shortly with the next steps.

[2021-06-23 06:29] egonw commented on #2558
Okay, took a bit of effort, but I exported all references in a different way from Zotero now (next time I'm just going to use `citation.js`)... I think it should be better now, but also note the following, which comes from the PDF generation process, I think:

![image](https://user-images.githubusercontent.com/26721/123047070-21ab6780-d3fd-11eb-8444-79dd08b07ccc.png)

[2021-06-23 06:31] egonw commented on #2558
Okay, that seems to me to contradict earlier instructions, but will do without now then. @kyleniemeyer, please do check the references one more time too.

[2021-06-23 06:45] scivision commented on #2842
The autobuilding of HDF5 and ZLIB is useful:

* even if the system has working HDF5, having the binaries optimized for your CPU and using the latest version of HDF5 and ZLIB can make HDF5 operations up to multiple times faster
* typically HPC have broken or ABI-incompatible HDF5 libraries

However as in f95daa5f there is a `cmake -Dautobuild=off` option to have CMake configure fail if a compatible

[2021-06-23 06:55] andrewpaulreeves commented on #2764
Hi @pibion. Sorry, I got a bit caught up in some other tasks, but should have time again for the review in the coming weeks.

After cloning and installing, my first comments are that:
- The repo and install is very large. The repo is 2GB, and the installed size is 1.6GB The vast majority of this is data used as examples in  ``src/aotsat/examples``, so I assume isn't vital for the operation of the

[2021-06-23 07:03] JoelForamitti commented on #3065
Fantastic, thanks again to everyone!

[2021-06-23 07:23] mikldk commented on #3323
@maximtrp, @arunmano121, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-06-23 07:24] mikldk commented on #3324
@jakryd, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-06-23 07:29] mikldk commented on #3377
@slwu89 The `tidyverse` paper is not the normal (...and has approx 1700 citations already). I think instead you should focus on our general guidelines: <https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain>

[2021-06-23 07:33] LolloCappo commented on #2588
Dear @kyleniemeyer,
I am available for reviewing the submission.

[2021-06-23 07:44] scivision commented on #2842
@whedon generate pdf

[2021-06-23 07:44] whedon commented on #2842
PDF failed to compile for issue #2842 with the following error:
[code]

[2021-06-23 07:44] scivision commented on #2842
I  believe I addressed all https://github.com/openjournals/joss-reviews/issues/2842#issuecomment-840427552 in commits just now. Thank you!

[2021-06-23 07:45] scivision commented on #2842
@whedon generate pdf

[2021-06-23 07:45] whedon commented on #2842
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02842/joss.02842/10.21105.joss.02842.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02842/joss.02842/10.21105.joss.02842.pdf) :page_facing_up: :point_left:

[2021-06-23 07:55] maximtrp commented on #3323
@mikldk I have checked the items in the review list that are OK. I need some time to review the rest items related to the documentation, paper, and the functionality of the package.

[2021-06-23 07:58] vissarion commented on #3364
Hi @DongYang-IC, @jingxuanLI, @Chluz would any of you be willing to review this submission for JOSS?

[2021-06-23 08:01] pdebuyl commented on #2842
@scivision thank you for the updates

Can you check the version number that is listed in the first comment of this issue page? If it is not up to date, please state what version should be used and provide the zenodo DOI for the archived version of the code.

The metadata of the zenodo archive should have the title "h5fortran: object-oriented polymorphic Fortran interface for HDF5 file IO", only yo

[2021-06-23 08:01] pdebuyl commented on #2842
PS: I also used the joined citation syntax and filed a PR about it.

[2021-06-23 08:02] vissarion commented on #3364
@steffilazerte @dbuscombe-usgs thanks for your responses, I understand that having a version of MATLAB installed is an obstacle towards reviewing this package.

[2021-06-23 08:04] vissarion commented on #3355
@whedon start review

[2021-06-23 08:04] whedon opened #3395 "[REVIEW]: Lumen: A software for the interactive visualization of probabilistic models together with data"
**Submitting author:** @nandaloo (<a href="http://orcid.org/0000-0002-6687-8209">Philipp Lucas</a>)
**Repository:** <a href="https://github.com/lumen-org/lumen" target ="_blank">https://github.com/lumen-org/lumen</a>
**Version:** v1.0
**Editor:** @vissarion
**Reviewers:** @crhea93, @szkafander
**Archive:** <a href="https://doi.org/10.5281/zenodo.5069308" target="_blank">10.5281/zenodo.5069308</a>

[2021-06-23 08:04] whedon commented on #3355
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3395.

[2021-06-23 08:04] #3355 closed

[2021-06-23 08:04] whedon commented on #3395
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @crhea93, @szkafander it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-06-23 08:04] whedon commented on #3395
[code]

[2021-06-23 08:04] whedon commented on #3395
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: :point_left:

[2021-06-23 08:04] whedon commented on #3395
[code]

[2021-06-23 08:13] jni commented on #3202
Ok, so I'm happy that all reviewer comments have been addressed. It would be great if @AbigailMcGovern and @a-paxton could confirm this, but otherwise I'll go ahead and marked them as addressed this coming Monday.

In the meantime @justinshenk, I found one final typo in the paper:
- line 42: onhomecage data -> on home cage data

[2021-06-23 08:18] FabianHofmann commented on #3294
thanks @timtroendle, sounds good!

[2021-06-23 08:18] FabianHofmann commented on #3294
@whedon check references from branch joss

[2021-06-23 08:18] whedon commented on #3294
[code]

[2021-06-23 08:18] whedon commented on #3294
[code]

[2021-06-23 08:19] drvinceknight commented on #3275
No problem at all @ejhigson, thank you for getting back to me.

[2021-06-23 08:20] drvinceknight commented on #3275
Great @matt-graham :+1: Thanks.

[2021-06-23 08:21] drvinceknight commented on #3275
@whedon assign @matt-graham as reviewer

[2021-06-23 08:21] whedon commented on #3275
OK, @matt-graham is now a reviewer

[2021-06-23 08:25] scivision commented on #2842
version 4.0.0
doi: 10.5281/zenodo.4946859
https://zenodo.org/record/4946859

[2021-06-23 08:29] drvinceknight commented on #3360
That's great thank you.

[2021-06-23 08:34] drvinceknight commented on #3360
@satpreetsingh @seba-1511  @abhiramm7 @bozutemiz 'm pinging you to ask if you would be able to assist with reviewing this submissions to JOSS (The Journal of Open Source Software).

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: “Abmarl: Connecting Agent-Based Simulations with Multi-Agent Reinforcement Learning". You can find more info

[2021-06-23 08:34] pdebuyl commented on #2842
@whedon set v4.0.0 as version

[2021-06-23 08:34] whedon commented on #2842
OK. v4.0.0 is the version.

[2021-06-23 08:34] pdebuyl commented on #2842
@whedon set 10.5281/zenodo.4946859 as archive

[2021-06-23 08:34] whedon commented on #2842
OK. <a href="https://doi.org/10.5281/zenodo.4946859" target="_blank">10.5281/zenodo.4946859</a> is the archive.

[2021-06-23 08:35] pdebuyl commented on #2842
@whedon recommend-accept

[2021-06-23 08:35] whedon commented on #2842
[code]

[2021-06-23 08:35] whedon commented on #2842
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2407

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2407, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-23 08:35] dmey commented on #2863
@danielskatz and @oliviaguest just to let you know that I have received an update and should be able to get a final decision around the second week of July.

[2021-06-23 08:38] pdebuyl commented on #2842
Thank you @scivision for the submission, @milancurcic and @bast for reviewing! The "associate editor-in-chief" in rotation will take over the paper for publication.

Regards,

Pierre

[2021-06-23 08:41] bast commented on #2842
Thanks a lot also for this very good experience.

[2021-06-23 08:49] isidentical commented on #3296
@whedon generate pdf

[2021-06-23 08:49] whedon commented on #3296
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: :point_left:

[2021-06-23 08:52] isidentical commented on #3296
Added the fast and the astsearch into the statement of the field section @yuhc (in https://github.com/reizio/reiz.io/commit/873986243b07d11fb6f1a7949c339894bfdabc98, for a diff of changes)

[2021-06-23 08:56] whedon opened #3396 "[PRE REVIEW]: Leafmap: A Python package for interactive mapping and geospatial analysis with minimal coding in a Jupyter environment"
**Submitting author:** @giswqs (<a href="http://orcid.org/0000-0001-5437-4073">Qiusheng Wu</a>)
**Repository:** <a href="https://github.com/giswqs/leafmap" target ="_blank">https://github.com/giswqs/leafmap</a>
**Version:** v0.3.2
**Editor:** @ajstewartlang
**Reviewers:** @TomasBeuzen, @TomasBeuzen, @martinfleis
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due

[2021-06-23 08:56] whedon commented on #3396
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-23 08:56] whedon commented on #3396
[code]

[2021-06-23 08:56] whedon commented on #3396
[code]

[2021-06-23 08:57] whedon commented on #3396
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03396/joss.03396/10.21105.joss.03396.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03396/joss.03396/10.21105.joss.03396.pdf) :page_facing_up: :point_left:

[2021-06-23 09:08] ajstewartlang commented on #3396
@whedon assign me as editor

[2021-06-23 09:08] whedon commented on #3396
OK, the editor is @ajstewartlang

[2021-06-23 09:25] pmyteh commented on #3275
I am very happy to review.

[2021-06-23 09:53] pdebuyl commented on #3261
@dgketchum would you review the article "flux-data-qaqc: A Python Package for Energy Balance Closure and Post-Processing of Eddy Flux Data" for the Journal of Open Source Software ?

[2021-06-23 10:00] ajstewartlang commented on #3396
@whedon assign @martinfleis as reviewer

[2021-06-23 10:00] whedon commented on #3396
OK, @martinfleis is now a reviewer

[2021-06-23 10:27] marcosvital commented on #3220
Hi, @gmyenni. I'm passing by just to check if everything is okay with you, and if you are still able to work on this submission, since there is some time since your last activity in this issue. Let us know if you need any help or need more time to work on this, ok?

[2021-06-23 10:37] drvinceknight commented on #3275
Fantastic, thank you @pmyteh

[2021-06-23 10:37] drvinceknight commented on #3275
@whedon add @pmyteh as reviewer

[2021-06-23 10:38] whedon commented on #3275
OK, @pmyteh is now a reviewer

[2021-06-23 10:38] drvinceknight commented on #3275
@whedon start review

[2021-06-23 10:38] whedon opened #3397 "[REVIEW]: PyEI: A Python package for ecological inference"
**Submitting author:** @karink520 (<a href="http://orcid.org/0000-0003-1312-6473">Karin Knudson</a>)
**Repository:** <a href="https://github.com/mggg/ecological-inference" target ="_blank">https://github.com/mggg/ecological-inference</a>
**Version:** v0.1.1
**Editor:** @drvinceknight
**Reviewer:** @matt-graham, @pmyteh
**Archive:** <a href="https://doi.org/10.5281/zenodo.5245632" target="_blank">1

[2021-06-23 10:38] whedon commented on #3275
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3397.

[2021-06-23 10:38] #3275 closed

[2021-06-23 10:38] whedon commented on #3397
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matt-graham, @pmyteh it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-06-23 10:38] whedon commented on #3397
[code]

[2021-06-23 10:38] whedon commented on #3397
[code]

[2021-06-23 10:39] whedon commented on #3397
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03397/joss.03397/10.21105.joss.03397.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03397/joss.03397/10.21105.joss.03397.pdf) :page_facing_up: :point_left:

[2021-06-23 10:39] drvinceknight commented on #3275
@matt-graham and @pmyteh the review will now be taking place on #3397, there are details there with next steps but please ping me if I can answer any questions you might have.

Thank you both again for agreeing to review.

[2021-06-23 10:39] jbytecode commented on #3266
@whedon generate pdf

sorry for bothering. I have made a small change for typo.

[2021-06-23 10:40] whedon commented on #3266
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03266/joss.03266/10.21105.joss.03266.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03266/joss.03266/10.21105.joss.03266.pdf) :page_facing_up: :point_left:

[2021-06-23 10:40] marcosvital commented on #2692
OK, @62442katieb, thank you for letting us know!

[2021-06-23 10:47] marcosvital commented on #3117
Hi, @rerickson-usgs! I'm sorry about how long this is taking...
I've contact new possible reviewers by email, and hope they will answer soon. While we wait a little longer, please let me know of any other possible reviewers you have in mind, as I can try to reach them if I don't get any of the responses I'm waiting for.

[2021-06-23 10:47] jbytecode commented on #3253
@ahurriyetoglu I am sorry if I disturbed you. I am just pinging you to ask if you would be willing to assist in reviewing this submission for JOSS (Journal of open source software).

[2021-06-23 11:12] koenderks commented on #2733
Thank you for the fix @drvinceknight and @danielskatz

@fgeertman I have extended the [software manual](https://github.com/jasp-stats/jaspAudit/raw/master/man/manual.pdf) to include an explanation to downloading JASP and making the Audit module (in)visible.

[2021-06-23 13:06] warrickball commented on #3257
Hi @grburgess,

First, thanks for the [core concept](https://popsynth.readthedocs.io/en/latest/notebooks/distributions.html) page: it helps! I'm still not clear about the distinction between objects that always shine versus transients. The [short GRB example](https://popsynth.readthedocs.io/en/latest/notebooks/examples.html#Short-GRBS) makes the transient case clearer but what if I wanted to surve

[2021-06-23 13:42] pharshalp commented on #3364
@vissarion sorry about the delayed response. Unfortunately, I won't be able to help since I do not have access to MATLAB.

[2021-06-23 13:54] vissarion commented on #3364
No problem, thanks for the reply! Please feel free to remove `matlab` your preferred languages from [this list](https://bit.ly/joss-reviewers) if this is a permanent issue.

[2021-06-23 13:59] grburgess commented on #3257
For the included cosmological distributions (though this could be modified externally), there is a constructor argument "as_rate" I haven't documented this well in the RTD page. But the difference here is on the dV/dz Jacobean that you need to account for the change in time on the cosmological interval when dealing with transients. If you aren't using cosmological distributions, then it depends on

[2021-06-23 13:59] jsoishi commented on #3079
Hi @kyleniemeyer, thanks for catching that. I've pushed to the joss_paper branch with a fix for that just now.

[2021-06-23 14:02] melissawm commented on #3096
Noted @danielskatz , sorry about that.

[2021-06-23 14:26] warrickball commented on #3257
Okay, I think I've (very slowly!) come around to how the transient versus non-transient thing works. So I think the missing piece of the documentation is a description (or link to a description of) how the relevant normalization constant should be calculated and which parameter it corresponds to in `popsynth`. At the moment I don't think this is mentioned at all in the docs.

You're more than welc

[2021-06-23 14:32] whedon commented on #3347
:wave: @baileythegreen, please update us on how your review is going (this is an automated reminder).

[2021-06-23 14:32] whedon commented on #3347
:wave: @sara-02, please update us on how your review is going (this is an automated reminder).

[2021-06-23 15:16] yunanwu123 commented on #3273
@PhilBoileau @fboehm Here are my comments PhilBoileau/cvCovEst#53.

[2021-06-23 15:18] grburgess commented on #3257
Good point! Units in many places would likely make this clearer. It's just that they can change depending on the application. I will think and try to write this up. But, yes, I will include this in the cosmological docs (I'm not sure how this works in fact space...)

Thanks! Would you like to do a PR for the credit? I can always modify in the end.

Good point... I'm so used to using the notebook I

[2021-06-23 15:19] sara-02 commented on #3347
@whedon generate pdf

[2021-06-23 15:20] whedon commented on #3347
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03347/joss.03347/10.21105.joss.03347.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03347/joss.03347/10.21105.joss.03347.pdf) :page_facing_up: :point_left:

[2021-06-23 15:38] linusseelinger commented on #3076
@pdebuyl Sorry for the delays, seems like we all are a bit too busy on our side... We are making progress though. Changes to the paper as requested should be completed soon (references to dependencies, improved comparison to other codes, references to large-scale models in MUQ, acknowledgement of minor contributions from community). A good portion of the code issues raised by the reviewers is addr

[2021-06-23 16:03] kyleniemeyer commented on #2558
@whedon generate pdf

[2021-06-23 16:04] whedon commented on #2558
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02558/joss.02558/10.21105.joss.02558.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02558/joss.02558/10.21105.joss.02558.pdf) :page_facing_up: :point_left:

[2021-06-23 16:04] kyleniemeyer commented on #2588
@whedon add @LolloCappo as reviewer

Thanks!

[2021-06-23 16:04] whedon commented on #2588
OK, @LolloCappo is now a reviewer

[2021-06-23 16:04] kyleniemeyer commented on #3079
@whedon generate pdf from branch joss_paper

[2021-06-23 16:04] whedon commented on #3079
[code]

[2021-06-23 16:05] whedon commented on #3079
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03079/joss.03079/10.21105.joss.03079.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03079/joss.03079/10.21105.joss.03079.pdf) :page_facing_up: :point_left:

[2021-06-23 16:07] kyleniemeyer commented on #2558
@egonw Thanks for your work on that, it now looks good to me. Our paper template does truncate some very long author lists, but includes the final author.

[2021-06-23 16:07] kyleniemeyer commented on #2558
@whedon accept

[2021-06-23 16:07] whedon commented on #2558
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-06-23 16:07] kyleniemeyer commented on #2558
@whedon accept deposit=true

[2021-06-23 16:07] whedon commented on #2558
[code]

[2021-06-23 16:08] whedon commented on #2558
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1407732292903186437) 👈 🐦🐦🐦

[2021-06-23 16:08] whedon commented on #2558
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2408
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02558](https://doi.org/10.21105/joss.02558)
2. If everything look

[2021-06-23 16:08] krystophny commented on #3375
@ayush-1506 @melissawm sorry for the delay, I have now finally found time to look at the package in detail. Unfortunately, I have the feeling that this is just a "thin API client" in the sense of the JOSS guidelines.

As far as I understand, the package provides an interface/wrappers between `Flux` and `MLJ`. Four types are exported: `NeuralNetworkRegressor`, `MultitargetNeuralNetworkRegressor`, `

[2021-06-23 16:10] mparno commented on #3076
@pdebuyl My apologies for being out of touch.   I've been transitioning between jobs and haven't been able to keep up with everything.  That said, I am working exclusively on this for the next week and we should be able to pull together a complete response by the end of the month.

@linusseelinger I'm focusing on the doxygen.  It's not a complete overhaul, but a significant reorganization with som

[2021-06-23 16:16] kyleniemeyer commented on #2842
Hi @scivision, I am doing some final checks before publishing. I noticed two minor issues, could you please resolve theses?

- [ ] In two places (the final paragraph of Summary, and at the end of the Statement of Need) you have references that should use the `[@author1:2001; @author2:2001]` citation syntax, rather than ``[@author1:2001][@author2:2001]` as you have now (this will put them in a sing

[2021-06-23 16:17] kyleniemeyer commented on #3079
@whedon accept deposit=true from branch joss_paper

[2021-06-23 16:17] whedon commented on #3079
[code]

[2021-06-23 16:18] whedon commented on #3079
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1407734692770725893) 👈 🐦🐦🐦

[2021-06-23 16:18] whedon commented on #3079
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2409
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03079](https://doi.org/10.21105/joss.03079)
2. If everything look

[2021-06-23 16:18] kyleniemeyer commented on #2558
Congratulations @egonw on your article's publication in JOSS!

Many thanks to  @Zethson and @arcuri82 for reviewing, and @majensen for editing.

[2021-06-23 16:18] #2558 closed

[2021-06-23 16:18] whedon commented on #2558
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02558/status.svg)](https://doi.org/10.21105/joss.02558)

**We need your help!**

Journal of Open Source Softwa

[2021-06-23 16:21] egonw commented on #2558
Thanks everyone for landing this work!

[2021-06-23 16:21] kyleniemeyer commented on #3079
Congratulations @jsoishi on your article's publication in JOSS!

Many thanks to @ketch and @caropen for reviewing this, and @dpsanders for editing.

[2021-06-23 16:21] #3079 closed

[2021-06-23 16:22] whedon commented on #3079
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03079/status.svg)](https://doi.org/10.21105/joss.03079)

**We need your help!**

Journal of Open Source Softwa

[2021-06-23 16:33] dpsanders commented on #2838
@whdeon commands

[2021-06-23 16:33] dpsanders commented on #2838
@whedon commands

[2021-06-23 16:33] whedon commented on #2838
Here are some things you can ask me to do:

[code]

[2021-06-23 16:34] dpsanders commented on #2838
@whedon check references

[2021-06-23 16:34] whedon commented on #2838
[code]

[2021-06-23 16:37] dpsanders commented on #2838
@Swetanshu: Please fix the invalid DOI listed above.
Also the paper by Rajeshkumar is missing the title.

[2021-06-23 16:38] dpsanders commented on #2838
👋 @Swetanshu: Once you have done that, please archive the repository at Zenodo or similar, making sure that the title and authors arer exactly the same as in the JOSS paper.

Then please report here the software version and the DOI of the repository.

Thanks!

[2021-06-23 17:14] whedon commented on #3348
:wave: @mfenner, please update us on how your review is going (this is an automated reminder).

[2021-06-23 17:14] whedon commented on #3348
:wave: @dhimmel, please update us on how your review is going (this is an automated reminder).

[2021-06-23 17:20] Swetanshu commented on #2838
@whedon check references

[2021-06-23 17:20] whedon commented on #2838
[code]

[2021-06-23 17:24] kbarnhart commented on #3345
@jhnienhuis has kindly agreed to provide a review. I will add him as a reviewer and then start the review issue so the reviewers can start their reviews.

I plan to find one more reviewer for this submission. I will add them manually to the review once they have agreed to contribute a review.

[2021-06-23 17:24] kbarnhart commented on #3345
@whedon add @jhnienhuis as reviewer

[2021-06-23 17:24] whedon commented on #3345
OK, @jhnienhuis is now a reviewer

[2021-06-23 17:25] kbarnhart commented on #3345
@whedon start review

[2021-06-23 17:25] whedon opened #3398 "[REVIEW]: pyDeltaRCM: a flexible numerical delta model"
**Submitting author:** @amoodie (<a href="http://orcid.org/0000-0002-6745-036X">Andrew Moodie</a>)
**Repository:** <a href="https://github.com/DeltaRCM/pyDeltaRCM" target ="_blank">https://github.com/DeltaRCM/pyDeltaRCM</a>
**Version:** v2.0
**Editor:** @kbarnhart
**Reviewer:** @zsylvester, @jhnienhuis
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2021-06-23 17:25] whedon commented on #3345
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3398.

[2021-06-23 17:25] whedon commented on #3398
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zsylvester, @jhnienhuis it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-06-23 17:25] whedon commented on #3398
[code]

[2021-06-23 17:25] whedon commented on #3398
[code]

[2021-06-23 17:25] whedon commented on #3398
PDF failed to compile for issue #3398 with the following error:
[code]

[2021-06-23 17:25] kbarnhart commented on #3345
I have reopened the issue and will close it once I find the final reviewer.

[2021-06-23 17:30] kbarnhart commented on #3398
@zsylvester, @jhnienhuis - thanks for agreeing to review this submission to JOSS. In the prior comments there is a checklist that you can use to guide you through your review.

We have an automatic reminder set up in two weeks to ask you how the review is going. At present we request that reviewers complete their reviews within 6 weeks. JOSS is trying to be mindful of changes people have experienc

[2021-06-23 17:31] kbarnhart commented on #3398
@amoodie could you see about the PDF compilation error? If you can't figure it out, let me know and I can tag one of the whedon experts on the JOSS editorial team to help out.

[2021-06-23 17:40] sara-02 commented on #3347
@alicia-ziying-yang I have a few suggestions in the written material covered in this issue. https://github.com/alicia-ziying-yang/conTEXT-explorer/issues/1

[2021-06-23 18:00] vsoch commented on #3311
@ArangoGutierrez @rcannood @zbeekman let me know if you have any questions, etc for the review. - either posting here or an issue in SHPC! I added a bunch of new container modules recently so we are up to 279! :partying_face: https://singularityhub.github.io/singularity-hpc/

[2021-06-23 18:03] Kevin-Mattheus-Moerman commented on #3190
@whedon re-invite  @ksyang2013 as reviewer

[2021-06-23 18:03] whedon commented on #3190
OK, the reviewer has been re-invited.

@ @ksyang2013 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-23 18:04] Kevin-Mattheus-Moerman commented on #3190
@ksyang2013 thanks for the update, and sorry you had trouble ticking those boxes. Yes, I think it did time out. Can you accept this new invitation :point_up: ?

[2021-06-23 18:05] Kevin-Mattheus-Moerman commented on #3190
@littlelazy6 can you provide an update on the review process? Are there still remaining issues that prevent you from ticking the last boxes? If so, could you summarize them? Thanks!

[2021-06-23 18:11] amoodie commented on #3398
Hi @kbarnhart, I've looked into that error, but have not identified any leads to explain it. The paper compiles [on the preview service](http://res.cloudinary.com/hkvhhndao/image/upload/v1624470890/h6jbfbnsz2rpnkblsgc8.pdf) without issue, and so I do think we need the help of an expert.

Thanks reviewers for your time, and looking forward to your feedback.

[2021-06-23 18:39] kbarnhart commented on #3398
@arfon any recommendations on addressing this PDF compile error (or who else I should ping about it).

[2021-06-23 18:39] samuel-rosa commented on #3330
@vissarion I really would like to be able to review this manuscript. In fact, I am very curious to know more about the journal and plan to submit the manuscript of one of my students. But I have become so busy now that I won't be able to help. I wish you the best.

[2021-06-23 19:05] csoneson commented on #3362
@standage Was this resolved by the reassignment by whedon above (just to check before investigating further)?

[2021-06-23 19:16] danielskatz commented on #3398
@kbarnhart - for things like this ping @openjournals/dev (though it may still be @arfon who replies)

[2021-06-23 19:17] clemaitre58 commented on #3184
ok

On Tue, Jun 22, 2021 at 10:05 PM Kyle Niemeyer ***@***.***>
wrote:

[2021-06-23 19:24] ksyang2013 commented on #3190
I still have trouble ticking these boxes. Can you remove my assignment and re-assign it?

Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account.

--------------------------------------
Kesong YANG, Ph.D.

Associate Professor,
Department of NanoEngineering,
Program of Materials Science and Engineering,

[2021-06-23 19:45] standage commented on #3362
@csoneson Unfortunately no, I'm still unable to edit the checklist, either by clicking on the boxes or by editing the post/comment.

[2021-06-23 20:15] kyleniemeyer commented on #3184
@whedon add @clemaitre58 as reviewer

Thanks @clemaitre58! Once we find a second reviewer, I will initiate the actual review issue. In the meantime, you can see our reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-06-23 20:15] whedon commented on #3184
OK, @clemaitre58 is now a reviewer

[2021-06-23 20:29] Gunnstein commented on #2588
Dear @kyleniemeyer ,

I can also review this submission.

Best regards,
Gunnstein

[2021-06-23 20:31] seba-1511 commented on #3360
Yes, I should be able to review this submission. When's the review due?

[2021-06-23 20:33] jasonnance commented on #2395
Great, thanks @arfon.  We've released v0.2.4.  We had existing automation set up with Zenodo to create DOIs for each new version, but the names don't match the paper title, although the authors are the same.  Do we need to create a new version of the DOI for v0.2.4 and edit the title to match the paper title?  Or should we create an entirely separate DOI for this paper submission?  Here's what we

[2021-06-23 20:39] kyleniemeyer commented on #2588
@whedon add @Gunnstein as reviewer

[2021-06-23 20:40] whedon commented on #2588
OK, @Gunnstein is now a reviewer

[2021-06-23 20:41] kyleniemeyer commented on #2588
@ngoiz, @LolloCappo, @Gunnstein thank you all for agreeing to review this! I will now initiate the review issue and close this one. @tb93, thank you for your patience.

[2021-06-23 20:41] kyleniemeyer commented on #2588
@whedon start review

[2021-06-23 20:41] whedon opened #3399 "[REVIEW]: pyFBS: A Python package for Frequency Based Substructuring"
**Submitting author:** @tb93 (<a href="http://orcid.org/0000-0002-5587-5619">Tomaž Bregar</a>)
**Repository:** <a href="https://gitlab.com/pyFBS/pyFBS" target ="_blank">https://gitlab.com/pyFBS/pyFBS</a>
**Version:** 0.1.1
**Editor:** @kyleniemeyer
**Reviewer:** @ngoiz, @LolloCappo, @Gunnstein
**Archive:** <a href="https://doi.org/10.5281/zenodo.5876734" target="_blank">10.5281/zenodo.5876734</a>

[2021-06-23 20:41] whedon commented on #2588
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3399.

[2021-06-23 20:41] #2588 closed

[2021-06-23 20:41] whedon commented on #3399
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ngoiz, @LolloCappo, @Gunnstein it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2021-06-23 20:41] whedon commented on #3399
[code]

[2021-06-23 20:41] whedon commented on #3399
[code]

[2021-06-23 20:41] whedon commented on #3399
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03399/joss.03399/10.21105.joss.03399.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03399/joss.03399/10.21105.joss.03399.pdf) :page_facing_up: :point_left:

[2021-06-23 20:43] kyleniemeyer commented on #3399
:wave: @ngoiz @LolloCappo @Gunnstein @tb93 The actual review will take place in this issue.

Each reviewer has a separate checklist at the top, which they can work through; our [reviewer guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) may also be helpful. General comments and feedback can be given as comments in this issue, and if appropriate reviewers can open issues o

[2021-06-23 20:44] kyleniemeyer commented on #3399
@tb93 while the reviewers begin their work, it looks like your article is missing DOIs for some/all references. Please add those when you get a chance.

[2021-06-23 21:15] whedon commented on #3349
:wave: @fverdugo, please update us on how your review is going (this is an automated reminder).

[2021-06-23 21:15] whedon commented on #3349
:wave: @gaelforget, please update us on how your review is going (this is an automated reminder).

[2021-06-23 21:34] rerickson-usgs commented on #3117
https://github.com/bob-carpenter from the Stan project

https://betanalpha.github.io/writing/

[2021-06-24 02:34] daniellivingston commented on #3389
@whedon generate pdf

[2021-06-24 02:34] whedon commented on #3389
PDF failed to compile for issue #3389 with the following error:
[code]

[2021-06-24 02:53] daniellivingston commented on #3389
@diehlpk Is there supposed to be a PDF of the paper here, or am I missing something?

[2021-06-24 03:02] diehlpk commented on #3389
@whedon commands

[2021-06-24 03:02] whedon commented on #3389
Here are some things you can ask me to do:

[code]

[2021-06-24 03:03] diehlpk commented on #3389
@whedon generate pdf from branch joss

[2021-06-24 03:03] whedon commented on #3389
[code]

[2021-06-24 03:03] whedon commented on #3389
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03389/joss.03389/10.21105.joss.03389.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03389/joss.03389/10.21105.joss.03389.pdf) :page_facing_up: :point_left:

[2021-06-24 03:05] diehlpk commented on #3389
@daniellivingston Yes, please find the links to the PDF above.

[2021-06-24 03:05] daniellivingston commented on #3389
@diehlpk Thank you!

[2021-06-24 03:09] diehlpk commented on #3309
@elwinter Do you have some reviewers in mind?

[2021-06-24 06:10] mjsottile commented on #3296
@isidentical : Looks improved.  Some minor edits to correct grammatical mistakes listed by line number in the PDF:

17: "we present Reiz.  A source code search engine" -> "we present Reiz: a is a source code search engine"
23: uses -> use
23: "code is behaved not much different than" -> "code is treated no differently than"
29: "semantical" -> "semantic"
32: "is making them" -> "makes them"
42: "I

[2021-06-24 06:56] vissarion commented on #3330
Thanks @samuel-rosa for your recommendation.

Hi, @AlexandreWadoux, would you be willing to review this submission for JOSS?

[2021-06-24 07:24] isidentical commented on #3296
There seems to be a typo on this but I wasn't able to infer the correct form. Perhaps `we present Reiz: a source code search engine backend that can exercise queries to match syntax trees ...`?

[2021-06-24 07:40] JoelForamitti commented on #3065
Hi @kyleniemeyer, I realized there is typo in the acknowledgements! Is there a way to still fix this?

[2021-06-24 07:40] AlexandreWadoux commented on #3330
Hello @vissarion, sorry but as a principle I never review for journals publishing the name of the reviewers. I do not want to be held responsible if a poor paper of software package is accepted despite a recommendation to reject.

[2021-06-24 07:41] mjsottile commented on #3296
That is correct: it looks like I didn’t cut and paste from my notes correctly.  Sorry about that.

[2021-06-24 07:45] isidentical commented on #3296
@whedon generate pdf

[2021-06-24 07:45] whedon commented on #3296
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: :point_left:

[2021-06-24 07:47] isidentical commented on #3296
All suggestions should be applied now

[2021-06-24 08:01] vissarion commented on #3330
@AlexandreWadoux I understand your concern. Thanks for the quick reply!

As a side note, in JOSS a submission is accepted only if all reviewers recommend acceptance according to those criteria https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-24 08:04] jni commented on #3098
@whedon add @evetion as reviewer

[2021-06-24 08:04] whedon commented on #3098
OK, @evetion is now a reviewer

[2021-06-24 08:05] jni commented on #3098
@whedon remove @tmaric as reviewer

[2021-06-24 08:05] whedon commented on #3098
OK, @tmaric is no longer a reviewer

[2021-06-24 08:09] jni commented on #3098
@evetion thank you so much for agreeing to review this submission! 🙏 You should have got an invitation to join the repo, which you can check at https://github.com/openjournals/joss-reviews/invitations. Accepting the invitation will allow you to tick off boxes in the checklist at the top of this issue. Please let me know if you don't have access and I'll reinvite you.

JOSS reviews happen in public

[2021-06-24 08:17] csoneson commented on #3290
👋🏻 @joseph-palmer - I just opened a PR with a couple of minor fixes to reference formatting. Please check and merge if you agree (and ask whedon to regenerate the pdf). The only other thing I noticed is the citation to Abbott et al (Zenodo), which doesn't have the same title as the actual Zenodo record.

Then, the next steps are as follows:
- [ ] Make a tagged release of the software, and list the

[2021-06-24 08:18] vissarion commented on #3330
Hi, @glennon, @davyneven, @huanfachen, would you be willing to help reviewing this submission for JOSS?

[2021-06-24 09:16] Swetanshu commented on #2838
@dpsanders The software has been archived on zenodo. The doi is 10.5281/zenodo.5024912
The version is 1.0.
Let me know if there is anything else that needs to be done from my end.
Also, can you let me know if I can close the issues that are still open?

Thanks again!

[2021-06-24 09:51] arfon commented on #3345
@whedon generate pdf

[2021-06-24 09:51] whedon commented on #3345
PDF failed to compile for issue #3345 with the following error:
[code]

[2021-06-24 09:53] arfon commented on #3398
@whedon generate pdf

[2021-06-24 09:54] whedon commented on #3398
PDF failed to compile for issue #3398 with the following error:
[code]

[2021-06-24 10:00] arfon commented on #3398
@whedon generate pdf

[2021-06-24 10:00] whedon commented on #3398
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03398/joss.03398/10.21105.joss.03398.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03398/joss.03398/10.21105.joss.03398.pdf) :page_facing_up: :point_left:

[2021-06-24 10:02] arfon commented on #3398
@kbarnhart – well that was a new one for me 😸. It turns out the URL you have in your JOSS bio `https://www.usgs.gov/staff-profiles/katherine-barnhart?qt-staff_profile_science_products=3#qt-staff_profile_science_products` was causing some issues with the paper compilation (as we link to editors in the JOSS paper). For now I've changed it to `https://www.usgs.gov/staff-profiles/katherine-barnhart` w

[2021-06-24 10:04] arfon commented on #2395
@jasonnance we can use what you have already.

[2021-06-24 10:04] arfon commented on #2395
@whedon set 10.5281/zenodo.3406400 as archive

[2021-06-24 10:04] whedon commented on #2395
OK. <a href="https://doi.org/10.5281/zenodo.3406400" target="_blank">10.5281/zenodo.3406400</a> is the archive.

[2021-06-24 10:04] arfon commented on #2395
@whedon recommend-accept

[2021-06-24 10:04] whedon commented on #2395
[code]

[2021-06-24 10:05] whedon commented on #2395
[code]

[2021-06-24 10:05] whedon commented on #2395
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2410

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2410, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-24 10:21] arfon commented on #3362
@whedon re-invite @standage as reviewer

[2021-06-24 10:21] whedon commented on #3362
OK, the reviewer has been re-invited.

@standage please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-24 10:26] arfon commented on #3362
I've just checked again that there's an invite and it's definitely showing up on GitHub https://github.com/openjournals/joss-reviews/invitations

<img width="653" alt="Screenshot 2021-06-24 at 11 22 47@standage  src="https://user-images.githubusercontent.com/4483/123247568-f00acd00-d4de-11eb-8d00-ccc0e9b14378.png">

@standage - perhaps try logging in to GitHub with a different browser before click

[2021-06-24 10:34] littlelazy6 commented on #3190
Thanks for the prompt revision. Just one issue with the documentation finishing level:
Could you please remind me where in wiki or document do you introduce how to define the initial VT generation parameters, such as:
1. The size and length_scale of the whole model (2D square)
2. The total number of grains, or mean and standard deviation used to define the grain size distribution
The above two is

[2021-06-24 10:41] kostunin commented on #3366
Thanks for inviting me as referee of this paper. I think my knowledge is not complete enough to cover the full content of the paper, however I will try to read a draft and give a feedback on parts which I have expertise in!

[2021-06-24 10:52] SunilAnandatheertha commented on #3190
@littlelazy6 Thank you for the review comment. Will post back soon.

[2021-06-24 11:32] lpantano commented on #3201
@yoonjeongcha, that is totally fine. That happens a lot, where all the requirements are already fulfilled. Thank you for your time.

[2021-06-24 11:50] VivianePons commented on #3366
@whedon assign @kostunin as reviewer

[2021-06-24 11:50] whedon commented on #3366
OK, @kostunin is now a reviewer

[2021-06-24 11:54] VivianePons commented on #3366
Thank you @kostunin . Once we launch the review, you will get a checklist to help you go through. If ever there is an item where you don't feel competent, you just let me know and we'll decide how to handle it.

[2021-06-24 12:04] whedon commented on #3351
:wave: @tresoldi, please update us on how your review is going (this is an automated reminder).

[2021-06-24 12:04] whedon commented on #3351
:wave: @platipodium, please update us on how your review is going (this is an automated reminder).

[2021-06-24 12:36] FabianHofmann commented on #3294
@timtroendle, we won't address https://github.com/PyPSA/atlite/issues/158 for now, but keep it for later.

The tagged version is v0.2.5 (see [tag](https://github.com/PyPSA/atlite/tags))

[2021-06-24 12:40] arfon commented on #2395
@whedon accept deposit=true

[2021-06-24 12:40] whedon commented on #2395
[code]

[2021-06-24 12:41] whedon commented on #2395
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1408042502192521216) 👈 🐦🐦🐦

[2021-06-24 12:41] whedon commented on #2395
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2411
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02395](https://doi.org/10.21105/joss.02395)
2. If everything look

[2021-06-24 12:43] arfon commented on #2395
@W4ngatang, @ljvmiranda921, @sisco0 – many thanks for your reviews here and to @bmcfee for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@jasonnance – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-06-24 12:43] #2395 closed

[2021-06-24 12:43] whedon commented on #2395
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02395/status.svg)](https://doi.org/10.21105/joss.02395)

**We need your help!**

Journal of Open Source Softwa

[2021-06-24 12:54] arfon commented on #3363
@smuehlh – many thanks for your submission to JOSS. After a review by our editorial team we have determined that this submission is out of scope for JOSS. The primary reason for this is that this code currently feels like a collection of standalone scripts, rather than software packaged in a way that is designed for others to easily reuse.

JOSS' [submission guidelines](https://joss.readthedocs.io

[2021-06-24 12:55] arfon commented on #3363
@whedon reject

[2021-06-24 12:55] whedon commented on #3363
Paper rejected.

[2021-06-24 12:55] #3363 closed

[2021-06-24 12:57] standage commented on #3362
I tried on a different machine and this time it worked! Thanks everyone.

[2021-06-24 12:59] csoneson commented on #3362
Oh, great! Thanks @danielskatz and @arfon for the help :)

[2021-06-24 13:06] pdebuyl commented on #3076
Hi @linusseelinger and @mparno , thanks for the update.

Regarding roadblocks, I don't see any but there are a number of review items from the reviewers which require either a change in the code/doc or in the paper and those should be addressed.

About some specific comments from the reviewers: JOSS does not require "novelty" in the traditional sense:

Performance claims, however, must be illustra

[2021-06-24 13:07] giswqs commented on #3396
Potential reviewers: chrieke, robbibt, TomasBeuzen, davemlz

[2021-06-24 13:20] FabianHofmann commented on #3294
Hey @timtroendle, the zenodo record is here: https://zenodo.org/record/5026365 (I had to make a rerelease of version 0.2.5 as zenodo does not pull from past GH releases, the version 0.2.5.0 on zenodo is identical to the version 0.2.5)

[2021-06-24 13:20] ajstewartlang commented on #3396
Many thanks for those suggestions @giswqs

[2021-06-24 14:06] jkanche commented on #3262
This is really cool and I 100% agree with @szorowi1. I've been using it and it's been a great experience so far. The documentation is very thorough and has been super helpful to understand how things work.

Thanks for the awesome work!

[2021-06-24 14:25] timtroendle commented on #3294
@whedon set v0.2.5 as version

[2021-06-24 14:25] whedon commented on #3294
OK. v0.2.5 is the version.

[2021-06-24 14:25] timtroendle commented on #3294
@whedon set 10.5281/zenodo.5026365 as archive

[2021-06-24 14:25] whedon commented on #3294
OK. <a href="https://doi.org/10.5281/zenodo.5026365" target="_blank">10.5281/zenodo.5026365</a> is the archive.

[2021-06-24 14:26] timtroendle commented on #3294
That's great @FabianHofmann. We can now move on with the acceptance process.

[2021-06-24 14:27] timtroendle commented on #3294
@whedon recommend-accept

[2021-06-24 14:27] whedon commented on #3294
[code]

[2021-06-24 14:27] whedon commented on #3294
PDF failed to compile for issue #3294 with the following error:
[code]

[2021-06-24 14:27] timtroendle commented on #3294
@whedon recommend-accept from branch joss

[2021-06-24 14:27] whedon commented on #3294
[code]

[2021-06-24 14:28] whedon commented on #3294
[code]

[2021-06-24 14:28] whedon commented on #3294
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2412

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2412, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-24 14:43] kbarnhart commented on #3398
Wow! Thanks for figuring that out @arfon. 🎉 🎉 I did just update that URL recently.

[2021-06-24 14:49] kyleniemeyer commented on #3065
@JoelForamitti yes, I think if you update the paper source, @arfon can update the published version

[2021-06-24 14:52] kyleniemeyer commented on #3294
@whedon accept deposit=true from branch joss

[2021-06-24 14:52] whedon commented on #3294
[code]

[2021-06-24 14:53] whedon commented on #3294
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1408075820170633220) 👈 🐦🐦🐦

[2021-06-24 14:53] whedon commented on #3294
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2413
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03294](https://doi.org/10.21105/joss.03294)
2. If everything look

[2021-06-24 14:56] kyleniemeyer commented on #3294
Congratulations @FabianHofmann on your article's publication in JOSS!

Many thanks to @kanderso-nrel and @crvernon for reviewing this, and @timtroendle for editing.

[2021-06-24 14:56] #3294 closed

[2021-06-24 14:56] whedon commented on #3294
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03294/status.svg)](https://doi.org/10.21105/joss.03294)

**We need your help!**

Journal of Open Source Softwa

[2021-06-24 15:00] yarikoptic commented on #3262
Thank you @szorowi1 @jkanche and @arokem !  Meanwhile, we ran into a paper which might be giving even a better presentation to the DataLad that we had prepared for JOSS https://psyarxiv.com/w8trm .  I assume we still have a possibility to adjust the manuscript with more references?

[2021-06-24 15:01] FabianHofmann commented on #3294
Thank you @kyleniemeyer, @timtroendle, @crvernon and @kanderso-nrel! I loved this transparent, professional and friendly review process!

[2021-06-24 15:03] mih commented on #3262
Wonderful! Thanks @jkanche and @szorowi1 for your assessment and the time and energy spent to wade through the materials!

[2021-06-24 15:26] martinmodrak commented on #3076
@linusseelinger : From my side the docs is not a roadblock, as I wrote in the review:

[2021-06-24 16:52] arfon commented on #3065
@JoelForamitti – that should be updated now. The updated paper might take a few hours to show up properly on the JOSS site due to caching.

[2021-06-24 17:23] juniperlsimonis commented on #3220
Hi @marcosvital! Thanks for checking in on us. I'm the lead on the package updates and experienced some significant personal setbacks recently that have slowed my abilities to physically type, and I've been playing catch up.
We're still working on this, so would appreciate more time.
Thanks so much!

[2021-06-24 17:29] JoelForamitti commented on #3065
@arfon fantastic, thanks a lot!

[2021-06-24 17:55] rerickson-usgs commented on #3117
Two more people

 https://github.com/bbolker

https://github.com/dmbates

[2021-06-24 18:26] justinshenk commented on #3202
@whedon generate pdf

[2021-06-24 18:26] whedon commented on #3202
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: :point_left:

[2021-06-24 18:32] justinshenk commented on #3202
Thank you @jni, for the final typo catch! Also, for the private recommendation regarding the author list. The following edits have been added to the paper:
- [Footnote number fixed](https://github.com/traja-team/traja/commit/f6893c7ac9fc9ba9f0532ed50c7018b0a10b42cb)
- [Figure numbers fixed and text clarified](https://github.com/traja-team/traja/commit/5520db63a0547c09c67f0f0796993bb8ffeb4f0a)
- [M

[2021-06-24 18:34] untzag commented on #3394
Andreas Bodén and Ilaria Testa are listed as fourth and fifth authors, but I don't see them listed as contributors [1] to the software repository. @kasasxav could you clarify how these individuals contributed to ImSwitch? JOSS authorship guidelines might be relevant here [2].

[1] https://github.com/kasasxav/ImSwitch/graphs/contributors
[2] https://joss.readthedocs.io/en/latest/submitting.html#aut

[2021-06-24 18:37] kellyrowland commented on #3212
Hello @arbennett and @richardsc 👋 - would either of you be willing and available to review this paper for JOSS?

[2021-06-24 18:43] arokem commented on #3262
Thanks @jkanche and @szorowi1!

As the reviewers have approved the submission, the next steps are for me to give this one more read, to make sure that there are no errors or issues. Then, we'll make sure that the metadata for the software/paper match and pass this on to approval by the EiCs. I'll provide guidance at every step.

For now, @yarikoptic : yes - you can add more references. Could you p

[2021-06-24 18:56] marcosvital commented on #3220
Hi, @juniperlsimonis, I hope everything gets better for you soon. Thank you for letting us know, and take your time.

[2021-06-24 19:09] juniperlsimonis commented on #3220
Thank you @marcosvital

[2021-06-24 19:54] untzag commented on #3394
@kasasxav I feel strongly that ImSwitch should provide `setup.py` or `pyproject.toml` so that the software may be installed as a "proper" Python package. To me this issue block publication in JOSS.

See https://github.com/kasasxav/ImSwitch/issues/40, we can discuss there if you need some pointers on how to proceed with packaging.

[2021-06-24 20:20] mjsottile commented on #3296
@whedon check references

[2021-06-24 20:21] whedon commented on #3296
[code]

[2021-06-24 20:23] mjsottile commented on #3296
Thanks @isidentical.  I don't see any additional work to do, and based on the comments from the reviewers it doesn't appear that any remaining aspects of the submission require attention - even if the check boxes at the top of the issue aren't clicked in the checklists, the topics were addressed in the discussion.

For last steps, please do the following:

- Please create an archive on zenodo or f

[2021-06-24 20:36] isidentical commented on #3296
@mjsottile all points are checked out

https://zenodo.org/record/5029255 (with the DOI `10.5281/zenodo.5029255`)

The `1.0.0` version is correct

The list is correct.

[2021-06-24 20:38] untzag commented on #3394
@kasasxav JOSS requires documentation for contributors / community members. Please provide that prior to publication.

See https://github.com/kasasxav/ImSwitch/issues/44

[2021-06-24 20:43] untzag commented on #3394
Due to the nature of review I've just opened a bunch of issues about problems I see with ImSwitch, which can seem quite negative...

I just want to say for the record that I like this project and I think it's definitely worthy of publication after some polish! I like the focus on modularity. The polish of the GUI is impressive. I could imagine some of the scientists that I work with using this sof

[2021-06-24 20:56] kthyng commented on #3243
@richardsc Hey maybe this submission would be a good fit for you!

Are you interested in reviewing this submission for JOSS, the Journal of Open Source Software? This is an open review which takes place on github with issues. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would hope you could start the review in the next few weeks with

[2021-06-24 21:02] kthyng commented on #3305
@paleolimbot I'm sorry for the delay on your submission. I have a lot of papers I'm handling right now, plus some summer travel and it makes for some delay! Thanks for your excellent reviewer list! Let's see if we can get some reviewers recruited.

[2021-06-24 21:02] kthyng commented on #3305
@boshek and @KimBaldry — Are you interested in reviewing this submission for JOSS, the Journal of Open Source Software? This is an open review which takes place on github with issues. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would hope you could start the review in the next few weeks with the intention of being through the typical

[2021-06-24 21:03] kellyrowland commented on #3357
Thanks! I'm going to reach out to a few folks further down the list to spread out reviewing opportunities, but the expertise list here is a big help.

Hi @csadorf and @1313e 👋 would you be available and willing to review this JOSS submission?

[2021-06-24 21:05] kthyng commented on #3319
Hi @dankelley and welcome to JOSS! I am happy to see your submission! Sorry for the delay, I am handling a lot of papers right now and had some summer travel too. Let's see if we can get some reviewers. Thanks for the list — I'll start from there (esp since I don't know so many R people).

[2021-06-24 21:05] kellyrowland commented on #3318
Great, thanks so much @shyamd .

Hi @munkm - friendly reminder about this, feel free to let me know if you have any questions or concerns.

[2021-06-24 21:09] kthyng commented on #3319
@erinann and @gonzalobravoargentina — Are you interested in reviewing this submission for JOSS, the Journal of Open Source Software? This is an open review which takes place on github with issues. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would hope you could start the review in the next few weeks with the intention of being throug

[2021-06-24 21:11] kthyng commented on #3221
@whedon set v0.0.8 as version

[2021-06-24 21:11] whedon commented on #3221
OK. v0.0.8 is the version.

[2021-06-24 21:17] kthyng commented on #3221
@whedon check references

[2021-06-24 21:17] whedon commented on #3221
[code]

[2021-06-24 21:19] kthyng commented on #3221
@whedon generate pdf

[2021-06-24 21:20] whedon commented on #3221
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03221/joss.03221/10.21105.joss.03221.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03221/joss.03221/10.21105.joss.03221.pdf) :page_facing_up: :point_left:

[2021-06-24 21:23] kthyng commented on #3221
@thurber Your changes look good! Does look like that is a valid missing DOI above — please add that to your Hoch reference and we should be good to go!

[2021-06-24 21:34] thurber commented on #3221
@kthyng done!

[2021-06-24 21:47] pibion commented on #2764
@andrewpaulreeves thank you for the update!

@mfeldt I thought we had discussed the repo size but I can't seem to find the commits.  A GB checkout is indeed pretty large.  Zenodo will host data files that large for free and also can create a DOI for them.

For versioning, I'm a big fan of "semantic versioning" and always start my software at v0.0.1!  There's a nice discussion at https://semver.org

[2021-06-24 21:54] pibion commented on #3310
👋 @sealhuang, @Kevin-Mattheus-Moerman, @vitorsr, @stsievert, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html.

[2021-06-24 21:58] DrMarc commented on #3284
This is the Zenodo DOI with the same name and authors:
10.5281/zenodo.5029602

[2021-06-24 22:00] slwu89 commented on #3377
Thanks @mikldk, I've done a substantial edit here (https://github.com/mrc-ide/individual/pull/113) to reduce the length of the paper to something more acceptable, as well as adding all those missing DOIs.

[sample pdf](https://github.com/openjournals/joss-reviews/files/6712326/hgbphrqjg0ch4vvih2jz.pdf)

[2021-06-24 22:05] Kevin-Mattheus-Moerman commented on #3310
@pibion sorry I must decline. Too much on my plate and this paper also sounds outside my domain.

[2021-06-24 22:08] yarikoptic commented on #3262
@whedon generate pdf from branch paper-joss

@arokem pushed, but give us till tomorrow to finalize , and we will buzz you. Thank you

[2021-06-24 22:08] whedon commented on #3262
[code]

[2021-06-24 22:08] whedon commented on #3262
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03262/joss.03262/10.21105.joss.03262.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03262/joss.03262/10.21105.joss.03262.pdf) :page_facing_up: :point_left:

[2021-06-24 22:08] kthyng commented on #3221
@whedon check references

[2021-06-24 22:09] whedon commented on #3221
[code]

[2021-06-24 22:11] yarikoptic commented on #3262
Sorry whedon, you were faster than my fingers. Try now

@whedon generate pdf from branch paper-joss

[2021-06-24 22:26] kthyng commented on #3221
@whedon recommend-accept

[2021-06-24 22:26] whedon commented on #3221
No archive DOI set. Exiting...

[2021-06-24 22:29] kthyng commented on #3221
@whedon set 10.5281/zenodo.4976463 as archive

[2021-06-24 22:29] whedon commented on #3221
OK. <a href="https://doi.org/10.5281/zenodo.4976463" target="_blank">10.5281/zenodo.4976463</a> is the archive.

[2021-06-24 22:29] kthyng commented on #3221
@whedon recommend-accept

[2021-06-24 22:29] whedon commented on #3221
[code]

[2021-06-24 22:30] whedon commented on #3221
[code]

[2021-06-24 22:30] whedon commented on #3221
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2414

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2414, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-24 22:32] kthyng commented on #3221
@whedon accept deposit=true

[2021-06-24 22:32] whedon commented on #3221
[code]

[2021-06-24 22:33] whedon commented on #3221
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1408191496742920194) 👈 🐦🐦🐦

[2021-06-24 22:33] whedon commented on #3221
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2415
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03221](https://doi.org/10.21105/joss.03221)
2. If everything look

[2021-06-24 22:35] kthyng commented on #3221
Congrats on your new publication @thurber! Thanks so much to reviewers @JannisHoch and @cheginit for your hard work, time, and expertise!! 🎉

[2021-06-24 22:35] #3221 closed

[2021-06-24 22:35] whedon commented on #3221
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03221/status.svg)](https://doi.org/10.21105/joss.03221)

**We need your help!**

Journal of Open Source Softwa

[2021-06-24 23:09] mjsottile commented on #3296
@whedon set 10.5281/zenodo.5029255 as archive

[2021-06-24 23:09] whedon commented on #3296
OK. <a href="https://doi.org/10.5281/zenodo.5029255" target="_blank">10.5281/zenodo.5029255</a> is the archive.

[2021-06-24 23:10] mjsottile commented on #3296
@whedon recommend-accept

[2021-06-24 23:10] whedon commented on #3296
[code]

[2021-06-24 23:10] whedon commented on #3296
[code]

[2021-06-24 23:10] whedon commented on #3296
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2416

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2416, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-24 23:37] 1313e commented on #3357
Yup, I would be willing to review this.

[2021-06-24 23:46] cheginit commented on #3175
@whedon generate pdf

[2021-06-24 23:47] whedon commented on #3175
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03175/joss.03175/10.21105.joss.03175.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03175/joss.03175/10.21105.joss.03175.pdf) :page_facing_up: :point_left:

[2021-06-25 00:08] kyleniemeyer commented on #3296
Hi @isidentical, I am doing some final checks for publishing your article.

It looks like most/all of your in-text citations are not using the appropriate citation command. Instead of using `\[` and `\]` to wrap the citations, you should just use `[@author:year]` to let our parser handle the display. The available commands are
[code]

I also see some issues with the references at the end to GitHub

[2021-06-25 00:13] yuhc commented on #3296
Cool, good work @isidentical !

BTW I'd recommend you to read "Cross-Language Code Search using Static and Dynamic Analyses" (which appears to be the latest work in the AST-based code search area). You'll get some knowledge of the state of the art from it and its citations.

[2021-06-25 00:36] whedon commented on #3358
:wave: @abartlett004, please update us on how your review is going (this is an automated reminder).

[2021-06-25 00:36] whedon commented on #3358
:wave: @stemangiola, please update us on how your review is going (this is an automated reminder).

[2021-06-25 03:04] PhilBoileau commented on #3273
Thank you, @yunanwu123! I'll address these comments within the next week or so.

[2021-06-25 03:08] majensen commented on #2558
@egonw - great work; @arcuri82 @Zethson really appreciate your help with this submission. We made it under the 1 year mark! Congrats all!

[2021-06-25 03:09] rusu24edward commented on #3360
My hope is to have it done as soon as possible :)

[2021-06-25 04:25] kyleniemeyer commented on #3379
Hi @RiccardoBiondi, the editorial board has reviewed your submission and found it is within our scope for review. We'll now try to find an editor to review it, but most submissions are holding in a waitlist right now due to low editor availability.

[2021-06-25 04:37] kyleniemeyer commented on #3280
Hi @AndreasPhilippi, the JOSS editorial board has reviewed your submission and found that it is within our scope, so we will move forward with review.

However, due to low editor availability, this will enter our waitlist as we work through the backlog of submissions. Thanks for your patience!

[2021-06-25 04:49] kyleniemeyer commented on #3379
Hi @ajstewartlang, could you edit this one for us?

[2021-06-25 04:49] kyleniemeyer commented on #3379
@whedon invite @ajstewartlang as editor

[2021-06-25 04:49] whedon commented on #3379
@ajstewartlang has been invited to edit this submission.

[2021-06-25 04:50] kyleniemeyer commented on #3379
Bah, sorry @ajstewartlang, that was a mistake! Please disregard.

[2021-06-25 04:50] kyleniemeyer commented on #3379
@whedon invite @jmschrei as editor

Hi @jmschrei, could you edit this one for us?

[2021-06-25 04:51] whedon commented on #3379
@jmschrei has been invited to edit this submission.

[2021-06-25 04:58] kyleniemeyer commented on #3373
Hi @jmschrei, apologies for repeated requests, but could you also edit this one for us?

[2021-06-25 04:58] kyleniemeyer commented on #3373
@whedon invite @jmschrei as editor

[2021-06-25 04:58] whedon commented on #3373
@jmschrei has been invited to edit this submission.

[2021-06-25 05:00] jmschrei commented on #3379
@whedon assign me as editor

[2021-06-25 05:00] whedon commented on #3379
OK, the editor is @jmschrei

[2021-06-25 05:11] jmschrei commented on #3379
Hi @acolum and @stensy, would either of you be able to serve as reviewers for this?

[2021-06-25 05:24] whedon opened #3400 "[PRE REVIEW]: Finnish Media Scrapers"
**Submitting author:** @jiemakel (<a href="http://orcid.org/0000-0002-8366-8414">Eetu Mäkelä</a>)
**Repository:** <a href="https://github.com/hsci-r/finnish-media-scrapers" target ="_blank">https://github.com/hsci-r/finnish-media-scrapers</a>
**Version:** v1.0.1
**Editor:** @ajstewartlang
**Reviewers:** @sara-shiho, @pmyteh
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :wa

[2021-06-25 05:24] whedon commented on #3400
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 05:24] whedon commented on #3400
[code]

[2021-06-25 05:24] whedon commented on #3400
[code]

[2021-06-25 05:24] whedon commented on #3400
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03400/joss.03400/10.21105.joss.03400.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03400/joss.03400/10.21105.joss.03400.pdf) :page_facing_up: :point_left:

[2021-06-25 05:26] kyleniemeyer commented on #3400
Hi @ajstewartlang, could you edit this submission? This looks to align with your interests in open and reproducible research.

[2021-06-25 05:26] kyleniemeyer commented on #3400
@whedon invite @ajstewartlang as editor

[2021-06-25 05:26] whedon commented on #3400
@ajstewartlang has been invited to edit this submission.

[2021-06-25 05:28] whedon opened #3401 "[PRE REVIEW]: SHINE_color: controlling low-level properties of colorful images"
**Submitting author:** @RodDalBen (<a href="http://orcid.org/0000-0003-2185-8762">Rodrigo Dal Ben</a>)
**Repository:** <a href="https://github.com/RodDalBen/SHINE_color" target ="_blank">https://github.com/RodDalBen/SHINE_color</a>
**Version:** 0.0.2
**Editor:** @ajstewartlang
**Reviewers:** @spitschan, @takuma929, @da5nsy
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :war

[2021-06-25 05:28] whedon commented on #3401
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 05:28] whedon commented on #3401
Failed to discover a `Statement of need` section in paper

[2021-06-25 05:28] whedon commented on #3401
[code]

[2021-06-25 05:28] whedon commented on #3401
[code]

[2021-06-25 05:28] whedon commented on #3401
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03401/joss.03401/10.21105.joss.03401.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03401/joss.03401/10.21105.joss.03401.pdf) :page_facing_up: :point_left:

[2021-06-25 05:30] kyleniemeyer commented on #3401
Hi @ajstewartlang - I hope this isn't overloading you as you just start out, but this submission looks to be right up your alley. Could you edit this one? (Last ask for now, promise!)

[2021-06-25 05:30] kyleniemeyer commented on #3401
@whedon invite @ajstewartlang as editor

[2021-06-25 05:30] whedon commented on #3401
@ajstewartlang has been invited to edit this submission.

[2021-06-25 05:33] whedon opened #3402 "[PRE REVIEW]: SIMSOPT: A flexible framework for stellarator optimization"
**Submitting author:** @landreman (<a href="http://orcid.org/0000-0002-7233-577X">Matt Landreman</a>)
**Repository:** <a href="https://github.com/hiddenSymmetries/simsopt" target ="_blank">https://github.com/hiddenSymmetries/simsopt</a>
**Version:** v0.3.06
**Editor:** @dfm
**Reviewers:** @ZedThree, @StanczakDominik
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

[2021-06-25 05:33] whedon commented on #3402
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 05:33] whedon commented on #3402
PDF failed to compile for issue #3402 with the following error:
[code]

[2021-06-25 05:33] whedon commented on #3402
[code]

[2021-06-25 05:34] kyleniemeyer commented on #3402
@whedon generate pdf from branch joss_paper

[2021-06-25 05:34] whedon commented on #3402
[code]

[2021-06-25 05:34] whedon commented on #3402
PDF failed to compile for issue #3402 with the following error:
[code]

[2021-06-25 05:43] kyleniemeyer commented on #3402
Hi @landreman, thanks for your submission to JOSS! It looks like there is a compilation error in your paper—I don't think we support a footnote in the author list like that (since that is YAML, not Markdown/LaTeX).

Unfortunately, we have extremely limited editor availability to handle submissions right now, and so we need to put your submission on our waitlist untill an appropriate editor becomes

[2021-06-25 05:51] whedon opened #3403 "[PRE REVIEW]: caracas: Computer algebra in R"
**Submitting author:** @mikldk (<a href="http://orcid.org/0000-0002-0234-0266">Mikkel Meyer Andersen</a>)
**Repository:** <a href="https://github.com/r-cas/caracas" target ="_blank">https://github.com/r-cas/caracas</a>
**Version:** v1.1.1
**Editor:** @Nikoleta-v3
**Reviewers:** @EduPH, @MikeLydeamore
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-06-25 05:51] whedon commented on #3403
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 05:51] whedon commented on #3403
[code]

[2021-06-25 05:51] whedon commented on #3403
[code]

[2021-06-25 05:51] whedon commented on #3403
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03403/joss.03403/10.21105.joss.03403.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03403/joss.03403/10.21105.joss.03403.pdf) :page_facing_up: :point_left:

[2021-06-25 05:54] kyleniemeyer commented on #3403
Hey @mikldk - as you know we are slammed right now, so I have to put this on the waitlist until one of our math-y editors become available.

[2021-06-25 05:59] kyleniemeyer commented on #3403
@dpsanders Do you have bandwidth to edit this submission from @mikldk?

[2021-06-25 06:00] whedon opened #3404 "[PRE REVIEW]: Statsomat/CFA: A Shiny app for automated confirmatory factor analysis"
**Submitting author:** @reyar (<a href="http://orcid.org/0000-0001-8904-1631">Denise Welsch</a>)
**Repository:** <a href="https://github.com/Statsomat/CFA" target ="_blank">https://github.com/Statsomat/CFA</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic

[2021-06-25 06:00] whedon commented on #3404
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 06:00] whedon commented on #3404
[code]

[2021-06-25 06:01] whedon commented on #3404
[code]

[2021-06-25 06:01] whedon commented on #3404
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03404/joss.03404/10.21105.joss.03404.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03404/joss.03404/10.21105.joss.03404.pdf) :page_facing_up: :point_left:

[2021-06-25 06:04] kyleniemeyer commented on #3404
Hi @reyar, thanks for your interest in JOSS. Due to the relatively small size of your submission, the editorial board is going to review your submission to see if it meets our requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2021-06-25 06:04] kyleniemeyer commented on #3404
@whedon query scope

[2021-06-25 06:04] whedon commented on #3404
Submission flagged for editorial review.

[2021-06-25 06:05] whedon opened #3405 "[PRE REVIEW]: bfit: A Python Application For Beta-Detected NMR"
**Submitting author:** @dfujim (<a href="http://orcid.org/0000-0003-2847-2053">Derek Fujimoto</a>)
**Repository:** <a href="https://github.com/dfujim/bfit" target ="_blank">https://github.com/dfujim/bfit</a>
**Version:** v4.9.1
**Editor:** @lucydot
**Reviewers:** @nicksisco1932
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2021-06-25 06:05] whedon commented on #3405
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 06:05] whedon commented on #3405
PDF failed to compile for issue #3405 with the following error:
[code]

[2021-06-25 06:05] whedon commented on #3405
[code]

[2021-06-25 06:08] kyleniemeyer commented on #3405
Hi @dfujim, thanks for your submission to JOSS.

Unfortunately, we have extremely limited editor availability to handle submissions right now, and so we need to put your submission on our waitlist untill an appropriate editor becomes available. Thanks for your patience!

[2021-06-25 06:09] kyleniemeyer commented on #3405
In the meantime, it looks like your paper ran into some compilation errors. I think you might need to remove the comments from the file, I don't know if our parser can handle those.

[2021-06-25 06:10] whedon opened #3406 "[PRE REVIEW]: pytreegrav: a fast Python gravity solver"
**Submitting author:** @mikegrudic (<a href="http://orcid.org/0000-0002-1655-5604">Michael Grudi´c</a>)
**Repository:** <a href="https://github.com/mikegrudic/pytreegrav" target ="_blank">https://github.com/mikegrudic/pytreegrav</a>
**Version:** 0.23
**Editor:** @dfm
**Reviewers:** @adrn, @maxwelltsai
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-06-25 06:10] whedon commented on #3406
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 06:10] whedon commented on #3406
[code]

[2021-06-25 06:10] whedon commented on #3406
[code]

[2021-06-25 06:10] whedon commented on #3406
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03406/joss.03406/10.21105.joss.03406.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03406/joss.03406/10.21105.joss.03406.pdf) :page_facing_up: :point_left:

[2021-06-25 06:11] kyleniemeyer commented on #3406
Hi @mikegrudic, thanks for your interest in JOSS.

Unfortunately, we have extremely limited editor availability to handle submissions right now, and so we need to put your submission on our waitlist untill an appropriate editor becomes available. Thanks for your patience!

[2021-06-25 06:12] whedon opened #3407 "[PRE REVIEW]: DRT: A rapid coastal foredune evolution prediction tool"
**Submitting author:** @ncohn (<a href="http://orcid.org/0000-0003-4287-039X">Nicholas Cohn</a>)
**Repository:** <a href="https://github.com/erdc/dune-response-tool/" target ="_blank">https://github.com/erdc/dune-response-tool/</a>
**Version:** v1.0
**Editor:** @kbarnhart
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-06-25 06:12] whedon commented on #3407
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 06:12] whedon commented on #3407
[code]

[2021-06-25 06:13] whedon commented on #3407
[code]

[2021-06-25 06:13] whedon commented on #3407
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03407/joss.03407/10.21105.joss.03407.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03407/joss.03407/10.21105.joss.03407.pdf) :page_facing_up: :point_left:

[2021-06-25 06:13] kyleniemeyer commented on #3407
@whedon invite @kbarnhart as editor

Hi @kbarnhart, do you have the bandwidth to edit this submission?

[2021-06-25 06:13] whedon commented on #3407
@kbarnhart has been invited to edit this submission.

[2021-06-25 06:15] whedon opened #3408 "[PRE REVIEW]: mol-ellipsize: A Python package for molecular size calculation"
**Submitting author:** @andrewtarzia (<a href="http://orcid.org/0000-0001-8797-8666">Andrew Tarzia</a>)
**Repository:** <a href="https://github.com/andrewtarzia/mol-ellipsize" target ="_blank">https://github.com/andrewtarzia/mol-ellipsize</a>
**Version:** 1.0.1
**Editor:** @jmschrei
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-06-25 06:15] whedon commented on #3408
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 06:15] whedon commented on #3408
[code]

[2021-06-25 06:15] whedon commented on #3408
[code]

[2021-06-25 06:16] whedon commented on #3408
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03408/joss.03408/10.21105.joss.03408.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03408/joss.03408/10.21105.joss.03408.pdf) :page_facing_up: :point_left:

[2021-06-25 06:19] DrMarc commented on #3284
@arfon - sorry, forgot to tag you. See above.

[2021-06-25 06:19] kyleniemeyer commented on #3408
Hi @andrewtarzia, thanks for your interest in JOSS.

Unfortunately, we have extremely limited editor availability to handle submissions right now, and so we need to put your submission on our waitlist untill an appropriate editor becomes available. Thanks for your patience!

[2021-06-25 06:22] whedon opened #3409 "[PRE REVIEW]: RHRT: An R package to assess Heart Rate Turbulence"
**Submitting author:** @VBlesius (<a href="http://orcid.org/0000-0002-2391-242X">Valeria Blesius</a>)
**Repository:** <a href="https://github.com/VBlesius/RHRT" target ="_blank">https://github.com/VBlesius/RHRT</a>
**Version:** 1.0
**Editor:** @bmcfee
**Reviewers:** @brunaw, @rrrlw
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2021-06-25 06:22] whedon commented on #3409
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 06:22] whedon commented on #3409
[code]

[2021-06-25 06:22] whedon commented on #3409
Failed to discover a valid open source license.

[2021-06-25 06:22] whedon commented on #3409
PDF failed to compile for issue #3409 with the following error:
[code]

[2021-06-25 06:26] kyleniemeyer commented on #3409
Hi @VBlesius, thanks for your interest in JOSS!

Unfortunately, we have extremely limited editor availability to handle submissions right now, and so we need to put your submission on our waitlist untill an appropriate editor becomes available. Thanks for your patience!

Also, I think you need to change your paper and ref filenames to `paper.md` and `paper.bib` for our bot to find it.

[2021-06-25 06:28] whedon opened #3410 "[PRE REVIEW]: The MarINvaders Toolkit"
**Submitting author:** @rlonka (<a href="http://orcid.org/0000-0002-5815-8682">Radek Lonka</a>)
**Repository:** <a href="https://gitlab.com/marinvaders/marinvaders" target ="_blank">https://gitlab.com/marinvaders/marinvaders</a>
**Version:** v0.3.1
**Editor:** @osorensen
**Reviewers:** @callumrollo, @ethanwhite
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due

[2021-06-25 06:28] whedon commented on #3410
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 06:29] whedon commented on #3410
[code]

[2021-06-25 06:29] whedon commented on #3410
[code]

[2021-06-25 06:29] whedon commented on #3410
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03410/joss.03410/10.21105.joss.03410.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03410/joss.03410/10.21105.joss.03410.pdf) :page_facing_up: :point_left:

[2021-06-25 06:29] isidentical commented on #3296
@whedon generate pdf

[2021-06-25 06:30] whedon commented on #3296
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: :point_left:

[2021-06-25 06:30] SunilAnandatheertha commented on #3190
@ksyang2013 Thank you for the comments and suggestions. I will update accordingly and post here soon.

[2021-06-25 06:31] isidentical commented on #3296
@whedon generate pdf

[2021-06-25 06:31] whedon commented on #3296
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: :point_left:

[2021-06-25 06:33] kyleniemeyer commented on #3410
Hi @rlonka, thanks for your interest in JOSS!

Unfortunately, we have extremely limited editor availability to handle submissions right now, and so we need to put your submission on our waitlist untill an appropriate editor becomes available. Thanks for your patience!

[2021-06-25 06:33] isidentical commented on #3296
@whedon check references

[2021-06-25 06:33] mikldk commented on #3403
Of course @kyleniemeyer :+1: .

Reviewer suggestions:

* MikeLydeamore
* EduPH
* trashbirdecology
* wrathematics

[2021-06-25 06:34] whedon commented on #3296
[code]

[2021-06-25 06:35] isidentical commented on #3296
Thanks @kyleniemeyer, all references should have been fixed now.

[2021-06-25 06:41] mih commented on #3262
@whedon generate pdf from branch paper-joss

[2021-06-25 06:41] whedon commented on #3262
[code]

[2021-06-25 06:41] whedon commented on #3262
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03262/joss.03262/10.21105.joss.03262.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03262/joss.03262/10.21105.joss.03262.pdf) :page_facing_up: :point_left:

[2021-06-25 06:48] whedon opened #3411 "[PRE REVIEW]: rfasst: An R tool to estimate air pollution impacts on health and agriculture"
**Submitting author:** @jonsampedro (<a href="http://orcid.org/0000-0002-2277-1530">Jon Sampedro</a>)
**Repository:** <a href="https://github.com/JGCRI/rfasst" target ="_blank">https://github.com/JGCRI/rfasst</a>
**Version:** v1.1
**Editor:** @dhhagan
**Reviewers:** @nanhung, @ibarraespinosa
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2021-06-25 06:48] whedon commented on #3411
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 06:48] whedon commented on #3411
[code]

[2021-06-25 06:49] whedon commented on #3411
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03411/joss.03411/10.21105.joss.03411.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03411/joss.03411/10.21105.joss.03411.pdf) :page_facing_up: :point_left:

[2021-06-25 06:49] whedon commented on #3411
[code]

[2021-06-25 06:50] csadorf commented on #3357
@kellyrowland Yes, I am available.

[2021-06-25 06:53] kyleniemeyer commented on #3411
Hi @jonsampedro, thanks for your interest in JOSS!

Unfortunately, we have extremely limited editor availability to handle submissions right now, and so we need to put your submission on our waitlist untill an appropriate editor becomes available. Thanks for your patience!

Also, it looks like some references in your paper may be missing some DOIs—could you add those?

[2021-06-25 07:01] whedon opened #3412 "[PRE REVIEW]: SIMsalabim: A time resolved drift-diffusion simulation software"
**Submitting author:** @ljakoster (<a href="http://orcid.org/0000-0002-6558-5295">Lambert Jan Anton Koster</a>)
**Repository:** <a href="https://github.com/kostergroup/SIMsalabim" target ="_blank">https://github.com/kostergroup/SIMsalabim</a>
**Version:** v4.05
**Editor:** @rkurchin
**Reviewers:** @UTH-Tuan, @shahmoradi, @roderickmackenzie
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced

[2021-06-25 07:01] whedon commented on #3412
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 07:01] whedon commented on #3412
[code]

[2021-06-25 07:01] whedon commented on #3412
PDF failed to compile for issue #3412 with the following error:
[code]

[2021-06-25 07:09] arfon commented on #3284
@whedon set 10.5281/zenodo.5029602 as archive

[2021-06-25 07:09] whedon commented on #3284
OK. <a href="https://doi.org/10.5281/zenodo.5029602" target="_blank">10.5281/zenodo.5029602</a> is the archive.

[2021-06-25 07:10] arfon commented on #3284
@whedon recommend-accept

[2021-06-25 07:10] whedon commented on #3284
[code]

[2021-06-25 07:11] whedon commented on #3284
[code]

[2021-06-25 07:11] whedon commented on #3284
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2417

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2417, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-25 07:11] kyleniemeyer commented on #3412
Hi @ljakoster, thanks for your interest in JOSS!

Unfortunately, we have extremely limited editor availability to handle submissions right now, and so we need to put your submission on our waitlist untill an appropriate editor becomes available. Thanks for your patience!

It looks like the YAML header in your paper is causing some compilation issues. I *think* the issue is the tabs, rather than sp

[2021-06-25 07:14] whedon opened #3413 "[PRE REVIEW]: robomit: Robustness Checks for Omitted Variable Bias"
**Submitting author:** @seschaub (<a href="http://orcid.org/0000-0001-8477-3737">Sergei Schaub</a>)
**Repository:** <a href="https://github.com/seschaub/robomit" target ="_blank">https://github.com/seschaub/robomit</a>
**Version:** 1.0.6
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2021-06-25 07:14] whedon commented on #3413
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 07:14] whedon commented on #3413
[code]

[2021-06-25 07:14] whedon commented on #3413
PDF failed to compile for issue #3413 with the following error:
[code]

[2021-06-25 07:16] arfon commented on #3284
@DrMarc – could you please merge this PR before we proceed? https://github.com/DrMarc/slab/pull/47

[2021-06-25 07:18] kyleniemeyer commented on #3413
Hi @seschaub, thanks for your interest in JOSS.

Due to the relatively small size of your submission, the editorial board is going to review this to see if it meets our requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2021-06-25 07:22] kyleniemeyer commented on #3413
@whedon query scope

[2021-06-25 07:22] whedon commented on #3413
Submission flagged for editorial review.

[2021-06-25 07:27] reyar commented on #3404
Hi @kyleniemeyer, thanks. Should I make a suggestion for potential reviewers or should I wait to see if my submission meets the requirements for substantial scholarly effort?

[2021-06-25 07:59] SuperKam91 commented on #3275
Sorry @drvinceknight but I'm currently a bit snowed-under with work so wouldn't be able to process a review in the near-term

[2021-06-25 08:01] reyar commented on #3404
@kyleniemeyer Maybe this information plays a role in your decision: The software report from above does not count the work from the repository https://github.com/Statsomat/CFA-Testing which was used for the testing and which is also mentioned in the README file. There are non-technical reasons for the existance of 2 repositories instead of one.

[2021-06-25 08:16] ajstewartlang commented on #3401
@whedon assign me as editor

[2021-06-25 08:16] whedon commented on #3401
OK, the editor is @ajstewartlang

[2021-06-25 08:17] ajstewartlang commented on #3400
@whedon assign me as editor

[2021-06-25 08:17] whedon commented on #3400
OK, the editor is @ajstewartlang

[2021-06-25 08:17] drvinceknight commented on #3275
No problem @SuperKam91, thank you for getting back to me.

[2021-06-25 08:19] drvinceknight commented on #3360
Thanks @seba-1511! There is no specific due date, I understand how busy everyone is and really appreciate your work on it. I'll add you as a review now.

[2021-06-25 08:19] drvinceknight commented on #3360
@whedon assign @seba-1511 as reviewer

[2021-06-25 08:19] whedon commented on #3360
OK, @seba-1511 is now a reviewer

[2021-06-25 08:20] mih commented on #3262
@whedon generate pdf from branch paper-joss

[2021-06-25 08:20] whedon commented on #3262
[code]

[2021-06-25 08:20] drvinceknight commented on #3360
Once a second reviewed has been assigned I will start the review.

[2021-06-25 08:20] whedon commented on #3262
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03262/joss.03262/10.21105.joss.03262.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03262/joss.03262/10.21105.joss.03262.pdf) :page_facing_up: :point_left:

[2021-06-25 08:24] ajstewartlang commented on #3396
@whedon assign @TomasBeuzen as reviewer

[2021-06-25 08:24] whedon commented on #3396
OK, @TomasBeuzen is now a reviewer

[2021-06-25 08:24] ajstewartlang commented on #3396
@whedon add @TomasBeuzen as reviewer

[2021-06-25 08:24] whedon commented on #3396
OK, @TomasBeuzen is now a reviewer

[2021-06-25 08:25] ajstewartlang commented on #3396
@whedon add @martinfleis as reviewer

[2021-06-25 08:25] whedon commented on #3396
OK, @martinfleis is now a reviewer

[2021-06-25 08:26] ajstewartlang commented on #3396
Many thanks for agreeing to review this submission @martinfleis and @TomasBeuzen - I'll start the review process now...

[2021-06-25 08:26] ajstewartlang commented on #3396
@whedon start review

[2021-06-25 08:26] whedon opened #3414 "[REVIEW]: Leafmap: A Python package for interactive mapping and geospatial analysis with minimal coding in a Jupyter environment"
**Submitting author:** @giswqs (<a href="http://orcid.org/0000-0001-5437-4073">Qiusheng Wu</a>)
**Repository:** <a href="https://github.com/giswqs/leafmap" target ="_blank">https://github.com/giswqs/leafmap</a>
**Version:** v0.3.5
**Editor:** @ajstewartlang
**Reviewers:** @martinfleis, @TomasBeuzen
**Archive:** <a href="https://doi.org/10.5281/zenodo.5137372" target="_blank">10.5281/zenodo.5137372

[2021-06-25 08:26] whedon commented on #3396
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3414.

[2021-06-25 08:26] #3396 closed

[2021-06-25 08:26] whedon commented on #3414
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @TomasBeuzen, @TomasBeuzen, @martinfleis it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our

[2021-06-25 08:26] whedon commented on #3414
[code]

[2021-06-25 08:26] whedon commented on #3414
[code]

[2021-06-25 08:27] whedon commented on #3414
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03414/joss.03414/10.21105.joss.03414.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03414/joss.03414/10.21105.joss.03414.pdf) :page_facing_up: :point_left:

[2021-06-25 08:30] mih commented on #3262
I have now updated the manuscript with the following changes:

- spelling fixes
- add citation for another system that uses datalad
- a highres version of figure 2
- list the datalad UKBiobank extension too

It should hopefully be acceptable for publication now. Thx for given us the opportunity for these last-minute updates.

[2021-06-25 09:04] expectopatronum opened #3415 "Automated tests: Are there automated tests or manual steps described so that the functionality of the software can be verified?"

[2021-06-25 09:04] whedon commented on #3415
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-25 09:04] whedon commented on #3415
PDF failed to compile for issue #3415 with the following error:
[code]

[2021-06-25 09:04] whedon commented on #3415
Downloading of the repository (to check the bibtex) failed for issue #3415 failed with the following error:
[code]

[2021-06-25 09:04] whedon commented on #3415
Downloading of the repository (to analyze the language) for issue #3415 failed with the following error:
[code]

[2021-06-25 09:05] expectopatronum commented on #3415
Not sure what's happening, I just clicked the "Convert to issue" button in the review :D I'll open it in the libfmp repository instead.

[2021-06-25 09:05] #3415 closed

[2021-06-25 09:14] landreman commented on #3402
@whedon generate pdf from branch joss_paper

[2021-06-25 09:14] whedon commented on #3402
[code]

[2021-06-25 09:14] whedon commented on #3402
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03402/joss.03402/10.21105.joss.03402.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03402/joss.03402/10.21105.joss.03402.pdf) :page_facing_up: :point_left:

[2021-06-25 09:19] landreman commented on #3402
Sorry about that compile error - it compiled fine using the Docker approach before we submitted. I fixed the error so it now compiles via whedon.

[2021-06-25 09:23] simonom commented on #3329
@whdeon resend invitation to review to @simonom

[2021-06-25 09:23] simonom commented on #3329
@whedon resend invitation to review to @simonom

[2021-06-25 09:23] piotrbartman commented on #3219
@whedon generate pdf from branch JOSS

[2021-06-25 09:23] whedon commented on #3329
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-25 09:23] whedon commented on #3219
[code]

[2021-06-25 09:24] simonom commented on #3329
@whedon commands

[2021-06-25 09:24] whedon commented on #3329
Here are some things you can ask me to do:

[code]

[2021-06-25 09:25] simonom commented on #3329
@vissarion I have completed my review, but my invitation to review has expired so I can't check off the checklist :(

[2021-06-25 10:04] Kevin-Mattheus-Moerman commented on #3260
@mikesmithlab can you work on the points highlighted :point_up:

[2021-06-25 10:35] vissarion commented on #3329
@whedon add @simonom as reviewer

On Fri, Jun 25, 2021, 12:25 simonom ***@***.***> wrote:

[2021-06-25 10:35] whedon commented on #3329
OK, @simonom is now a reviewer

[2021-06-25 10:57] Kevin-Mattheus-Moerman commented on #3255
I am emailed @bhajay in case GitHub notifications are not getting through.

[2021-06-25 12:15] ncohn commented on #3407
Github handles for possible reviewers:
ciarletd
csherwood-usgs
KristenSplinter
bartvanwesten
conlin-matt
Sierd

On Fri, Jun 25, 2021 at 2:12 AM whedon ***@***.***> wrote:

[2021-06-25 12:19] VivianePons commented on #3366
@whedon add @amelialdrew as reviewer

[2021-06-25 12:19] whedon commented on #3366
OK, @amelialdrew is now a reviewer

[2021-06-25 12:20] VivianePons commented on #3366
@whedon start review

[2021-06-25 12:20] whedon opened #3416 "[REVIEW]: OGRe: An Object-Oriented General Relativity Package for Mathematica"
**Submitting author:** @bshoshany (<a href="http://orcid.org/0000-0003-2222-127X">Barak Shoshany</a>)
**Repository:** <a href="https://github.com/bshoshany/OGRe" target ="_blank">https://github.com/bshoshany/OGRe</a>
**Version:** v1.6
**Editor:** @VivianePons
**Reviewer:** @kostunin, @amelialdrew
**Archive:** <a href="https://doi.org/10.5281/zenodo.5168868" target="_blank">10.5281/zenodo.5168868</

[2021-06-25 12:20] whedon commented on #3366
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3416.

[2021-06-25 12:20] #3366 closed

[2021-06-25 12:20] whedon commented on #3416
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kostunin, @amelialdrew it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-06-25 12:20] whedon commented on #3416
[code]

[2021-06-25 12:20] whedon commented on #3416
PDF failed to compile for issue #3416 with the following error:
[code]

[2021-06-25 12:25] padilla410 commented on #3243
Hey there @kthyng , I could do this if the review started in August. I know that's not ideal, but I have a number of big deadlines in July.

If you cannot find a second reviewer, I would be happy to step in in August.

[2021-06-25 12:43] bshoshany commented on #3416
@whedon generate pdf from branch paper

[2021-06-25 12:43] whedon commented on #3416
[code]

[2021-06-25 12:43] whedon commented on #3416
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03416/joss.03416/10.21105.joss.03416.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03416/joss.03416/10.21105.joss.03416.pdf) :page_facing_up: :point_left:

[2021-06-25 13:25] simonom commented on #3329
Thanks @vissarion and @GustaveCoste.  I have completed the checklist review and here will provide the checks that I thought could not be approved and their associated issue name as raised on the OFF Product Environmental Impact repository

Functionality: Functionality
A Statement of Need (both for documentation and software paper): A Statement of Need
Automated Tests: Automated Tests
Community gui

[2021-06-25 13:31] DrMarc commented on #3284
@arfon - Done!

[2021-06-25 13:33] arfon commented on #3284
@whedon recommend-accept

[2021-06-25 13:33] whedon commented on #3284
[code]

[2021-06-25 13:33] whedon commented on #3284
[code]

[2021-06-25 13:34] whedon commented on #3284
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2418

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2418, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-25 13:34] arfon commented on #3284
@whedon accept deposit=true

[2021-06-25 13:34] whedon commented on #3284
[code]

[2021-06-25 13:35] whedon commented on #3284
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1408418564755841034) 👈 🐦🐦🐦

[2021-06-25 13:35] whedon commented on #3284
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2419
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03284](https://doi.org/10.21105/joss.03284)
2. If everything look

[2021-06-25 13:40] DrMarc commented on #3284
@arfon - very nice! Thanks for the quick action and super friendly review. This was by far my most pleasant review experience. I'd be up for reviewing, in case you need people.
Thanks again
-Marc

[2021-06-25 13:47] leouieda commented on #3327
Hi @danielskatz I can take this on

[2021-06-25 13:47] leouieda commented on #3327
@whedon assign me as editor

[2021-06-25 13:47] whedon commented on #3327
OK, the editor is @leouieda

[2021-06-25 13:49] leouieda commented on #3327
@joergbuchwald thank you for your patience so far! I'll do a first pass on the paper and then start looking for reviewers.

[2021-06-25 13:50] arfon commented on #3284
@hadware, @sneakers-the-rat – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@DrMarc – your paper is now accepted and published in JOSS :zap::rocket::boom:

Thank you! Whedon will provide some information below in just a moment explaining how you can sign up as a potential reviewer 👇 ✨

[2021-06-25 13:50] #3284 closed

[2021-06-25 13:50] whedon commented on #3284
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03284/status.svg)](https://doi.org/10.21105/joss.03284)

**We need your help!**

Journal of Open Source Softwa

[2021-06-25 14:40] dgketchum commented on #3261
@pdebuyl Yes I will.

[2021-06-25 14:42] fboehm commented on #3216
@whedon list reviewers

[2021-06-25 14:42] whedon commented on #3216
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-06-25 14:46] fboehm commented on #3216
@vasudev-sharma and @Tam-Pham - would you be willing to review this submission to JOSS?

[2021-06-25 14:47] fboehm commented on #3216
@erik-whiting - would you be willing to review this submission to JOSS?

[2021-06-25 14:51] jonsampedro commented on #3411
Hello @kyleniemeyer, no problem, thanks for the quick response!

I have added the missing DOIs to the paper. Thanks!

[2021-06-25 14:55] vasudev-sharma commented on #3216
@fboehm thanks for asking for the reivew. However, this submission doesn't fall under my areas of expertise.

[2021-06-25 15:09] fboehm commented on #3216
@vasudev-sharma - Thanks for the prompt and thoughtful reply. I hope that we can work together on a future submission.

[2021-06-25 15:18] erik-whiting commented on #3216
@fboehm I can review the software aspects of this submission, but I'm not qualified to comment on the science. Also, it will probably take me a few weeks to do a thorough review. If that's acceptable to you then yes, I'll review the submission.

[2021-06-25 15:26] kthyng commented on #3175
@raoulcollenteur will you be able to work on your review soon? @evanleeturner said by email can work on it soon.

[2021-06-25 15:49] diehlpk commented on #3350
@whedon add @likask as reviewer

[2021-06-25 15:50] whedon commented on #3350
OK, @likask is now a reviewer

[2021-06-25 15:58] scivision commented on #2842
Thanks I pushed those changes

[2021-06-25 15:59] Tam-Pham commented on #3216
@fboehm thank you for reaching out. I would be happy to review this submission.

[2021-06-25 16:02] pdebuyl commented on #3261
Thank you @dgketchum !

[2021-06-25 16:05] kyleniemeyer commented on #2842
@whedon generate pdf

[2021-06-25 16:05] whedon commented on #2842
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02842/joss.02842/10.21105.joss.02842.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02842/joss.02842/10.21105.joss.02842.pdf) :page_facing_up: :point_left:

[2021-06-25 16:08] whedon commented on #3362
:wave: @standage, please update us on how your review is going (this is an automated reminder).

[2021-06-25 16:08] whedon commented on #3362
:wave: @ayush9pandey, please update us on how your review is going (this is an automated reminder).

[2021-06-25 16:17] ayush9pandey commented on #3362
I am installing the package on my machine to verify the final few checklist items.

[2021-06-25 16:18] standage commented on #3362
I successfully installed the software earlier in the week. Review is ongoing.

[2021-06-25 16:20] yarikoptic commented on #3262
a promised (but forgotten to be done) ping @arokem . Cheers and thank you !

[2021-06-25 16:21] JohnVolk commented on #3261
Thank you all!

[2021-06-25 16:28] jmschrei commented on #3373
@whedon assign me as editor

[2021-06-25 16:28] whedon commented on #3373
OK, the editor is @jmschrei

[2021-06-25 16:57] dfm commented on #3068
@jmsexton03: I've opened a pull request with some edits to the paper. Can you take a look at that and once you've merged, please take the following steps:

- Comment `@whedon generate pdf` on this thread and read through the manuscript to make sure that you're happy with it (it's hard to make changes later!), especially author names and affiliations.
- Increment the version number of the software

[2021-06-25 16:57] dfm commented on #3068
@whedon check references

[2021-06-25 16:57] whedon commented on #3068
[code]

[2021-06-25 17:04] pibion commented on #3310
@Kevin-Mattheus-Moerman thanks for letting me know!

[2021-06-25 17:22] GiulioCostantini commented on #3308
.@donaldRwilliams
First I have to say that I really appreciated your work. I agree with all
comments made by Alex. Going through the help files, I found it crucial to
include more documentation of specific items in the output of each
function. The paper is very short, but I understand that this is part of
JOSS strict word limit policy. I have a few suggestions and comments:
- Why did you include,

[2021-06-25 17:23] GiulioCostantini commented on #3308
@donaldRwilliams
First I have to say that I really appreciated your work. I agree with all comments made by Alex. Going through the help files, I found it crucial to include more documentation of specific items in the output of each function. The paper is very short, but I understand that this is part of JOSS strict word limit policy. I have a few suggestions and comments:
- Why did you include, u

[2021-06-25 17:28] donaldRwilliams commented on #3308
@GiulioCostantini

Thank you so much for the great suggestions  !

I will make all of the changes you suggested  !

I am confident that will greatly improve the package  :-)

[2021-06-25 17:31] rusu24edward commented on #3360
@satpreetsingh @abhiramm7 @bozutemiz, is one of you available to take on this review as the second reviewer? I would really appreciate it :)

[2021-06-25 17:46] abhiramm7 commented on #3360
@rusu24edward yeah, I can review it :)

[2021-06-25 18:06] fboehm commented on #3216
Thank you, @Tam-Pham ! I'll add you as a reviewer.

And thank you, @erik-whiting! I would very much appreciate your review of the software. And yes, it's ok to spend a few weeks on the review. We would like to complete it by the end of July, but there is some flexibility around that date.

[2021-06-25 18:06] fboehm commented on #3216
@whedon assign @Tam-Pham as reviewer

[2021-06-25 18:07] whedon commented on #3216
OK, @Tam-Pham is now a reviewer

[2021-06-25 18:07] fboehm commented on #3216
@whedon add @erik-whiting as reviewer

[2021-06-25 18:07] whedon commented on #3216
OK, @erik-whiting is now a reviewer

[2021-06-25 18:07] fboehm commented on #3216
@whedon start review

[2021-06-25 18:07] whedon opened #3417 "[REVIEW]: Beiwe: A data collection platform for high-throughput digital phenotyping"
**Submitting author:** @jponnela (<a href="http://orcid.org/0000-0001-6613-8668">Jukka-Pekka Onnela</a>)
**Repository:** <a href="https://github.com/onnela-lab/beiwe-backend" target ="_blank">https://github.com/onnela-lab/beiwe-backend</a>
**Version:** v1.0.0
**Editor:** @fboehm
**Reviewer:** @Tam-Pham, @erik-whiting
**Archive:** <a href="https://doi.org/10.5281/zenodo.5758811" target="_blank">10.

[2021-06-25 18:07] whedon commented on #3216
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3417.

[2021-06-25 18:07] #3216 closed

[2021-06-25 18:07] whedon commented on #3417
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Tam-Pham, @erik-whiting it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-06-25 18:07] whedon commented on #3417
[code]

[2021-06-25 18:08] whedon commented on #3417
[code]

[2021-06-25 18:08] whedon commented on #3417
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03417/joss.03417/10.21105.joss.03417.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03417/joss.03417/10.21105.joss.03417.pdf) :page_facing_up: :point_left:

[2021-06-25 18:10] fboehm commented on #3417
@Tam-Pham and @erik-whiting - this is the review thread. Please conduct your reviews with a focus on the checklist items above. Please use the checklists to record which items are satisfied. For those items that you can't check right away, please specify in this thread what the authors must do to satisfy the criteria. Thanks again!

[2021-06-25 18:11] dfujim commented on #3405
@whedon generate pdf

[2021-06-25 18:12] whedon commented on #3405
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03405/joss.03405/10.21105.joss.03405.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03405/joss.03405/10.21105.joss.03405.pdf) :page_facing_up: :point_left:

[2021-06-25 18:14] dfujim commented on #3405
@kyleniemeyer ok strange it was the comments thing. The [preview service](https://whedon.theoj.org/) handles them just fine.

[2021-06-25 19:15] donaldRwilliams commented on #3308
@AlexChristensen @GiulioCostantini

I will make all the suggested changes over the next week or so :-)

[2021-06-25 20:38] satejsoman commented on #3382
@whedon check references

[2021-06-25 20:38] whedon commented on #3382
[code]

[2021-06-25 20:39] satejsoman commented on #3382
@whedon generate pdf

[2021-06-25 20:40] whedon commented on #3382
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03382/joss.03382/10.21105.joss.03382.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03382/joss.03382/10.21105.joss.03382.pdf) :page_facing_up: :point_left:

[2021-06-25 20:41] pdebuyl commented on #3261
@whedon set @ashwinvis as reviewer

[2021-06-25 20:41] whedon commented on #3261
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-25 20:41] pdebuyl commented on #3261
@whedon assign @ashwinvis as reviewer

[2021-06-25 20:41] whedon commented on #3261
OK, @ashwinvis is now a reviewer

[2021-06-25 20:42] pdebuyl commented on #3261
@whedon add @dgketchum as reviewer