[2022-08-05 18:33] arfon commented on #4368
@editorialbot accept

[2022-08-05 18:39] arfon commented on #4368
@a3sha2, @kaczmarj – many thanks for your reviews here and to @emdupre for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@Cadaei-Yuvxvs – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-05 18:39] #4368 closed

[2022-08-05 18:55] danielskatz commented on #4591
👋 @massimotorquati - can you tell us the DOI for the Euro-Par paper this is associated with? (knowing that it's not yet active)

[2022-08-05 18:59] domschrei commented on #4591
Maybe I can help. There's two DOIs associated with this work:

* DOI of the Figshare repository of our Euro-Par artifact: https://doi.org/10.6084/m9.figshare.20000642 (not active yet)
* DOI of the Euro-Par publication itself as given by Springer: https://doi.org/10.1007/978-3-031-12597-3_8 (active)

[2022-08-05 19:04] arfon commented on #4635
@editorialbot query scope

[2022-08-05 19:04] arfon commented on #4635
Note to editors, this software has been submitted (and rejected) twice previously.

[2022-08-05 19:06] osorensen commented on #4631
@editorialbot start review

[2022-08-05 19:06] editorialbot opened #4655 "[REVIEW]: metrica: an R package to evaluate prediction performance of regression and classification point-forecast models"
**Submitting author:** @adriancorrendo (<a href="http://orcid.org/0000-0002-4172-289X">Adrian Correndo</a>)
**Repository:** https://github.com/adriancorrendo/metrica/
**Branch with paper.md** (empty if default branch): JOSS
**Version:** v2.0.1.999
**Editor:** @osorensen
**Reviewers:** @wiljnich, @simonpcouch
**Archive:** 10.5281/zenodo.7291776

## Status

[![status](https://joss.theoj.org/papers/c

[2022-08-05 19:06] #4631 closed

[2022-08-05 19:13] arfon commented on #4638
@meryemberradauwo – thanks for your submission to JOSS. From what I can see, there doesn't seem to be any software in this repository. Could you confirm where the software contribution is?

[2022-08-05 19:16] arfon commented on #4639
@Jammy2211 - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-05 19:17] arfon commented on #4639
Also, is this submission associated with a paper in a AAS journal?

[2022-08-05 19:18] hiDaDeng commented on #4635
The rejected reason before is just because of code line number&nbsp; below 1000 rows.I think Joss should give cntext a chance.&nbsp;

---Original---
From: "Arfon ***@***.***&gt;
Date: Sat, Aug 6, 2022 03:04 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: cntext: a Pythonpackage for text mining (Issue #4635)

Note to editors, this softw

[2022-08-05 19:20] arfon commented on #4640
:wave: @Nikoleta-v3 – would you be willing to edit this submission for JOSS?

[2022-08-05 19:20] arfon commented on #4640
@editorialbot invite @Nikoleta-v3 as editor

[2022-08-05 19:23] arfon commented on #4641
@editorialbot invite @diehlpk as editor

:wave: @diehlpk – would you be willing to edit this submission for JOSS?

[2022-08-05 19:23] nlhepler commented on #4371
:wave: Hi @arfon, the conversation is mostly happening in scverse/anndata#769 --

[2022-08-05 19:24] diehlpk commented on #4641
@editorialbot add @diehlpk as editor

[2022-08-05 19:24] diehlpk commented on #4641
Sure.

[2022-08-05 19:26] arfon commented on #3380
@editorialbot reject

@jedbrown – as this submission seems to be abandoned, I'm going to proceed to reject.

@ketch, @jshipton, @jedbrown – thanks for your efforts here. Sorry this didn't work out.

[2022-08-05 19:26] #3380 closed

[2022-08-05 19:27] arfon commented on #4645
@OllyK – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience! We should have a new editor joining the team soon who could take on this submission for us.

[2022-08-05 19:27] kaczmarj commented on #4368
congrats @Cadaei-Yuvxvs ! thanks to everyone involved.

[2022-08-05 19:31] kbarnhart commented on #4596
@nicholas512 I'll start actively handling this next week, I'll follow up with any actions that may make sense to occur before review, and then will solicit reviewers. Ping me here or at krbarnhart@usgs.gov with any questions, comments, or concerns.

[2022-08-05 19:32] arfon commented on #4646
@editorialbot invite @elbeejay as editor

:wave: @elbeejay – I realize this is a little left-field for you but would you be willing to edit this submission for us?

[2022-08-05 19:34] arfon commented on #4647
@aaron-bray – got it. Thanks. Is it possible/straightforward to link to these contributions directly, either as significant pull requests/contributions, a diff showing the changes since 2019 or something similar?

[2022-08-05 19:35] arfon commented on #4648
@vlad0x00 – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-05 19:36] arfon commented on #4649
@henry2004y – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-05 19:37] meryemberradauwo commented on #4638
Hello,
Yes, the software is under the “Releases” section. It is called “Rho”. Should I upload the .exe file somewhere else also ?
Thank you,

[2022-08-05 19:38] arfon commented on #4651
@editorialbot invite @eloisabentivegna as editor

:wave: @eloisabentivegna – is there any chance you'd be able to take on an additional submission for JOSS? No worries if not!

[2022-08-05 19:38] aaron-bray commented on #4647
@arfon
We could add a link to our release section, and state the releases that our paper focus on

https://gitlab.kitware.com/physiology/engine/-/releases

[2022-08-05 19:39] arfon commented on #4653
@robizzard – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-05 19:45] arfon commented on #3386
@aschaen @bjicha @stephen-e-cox @sidneyhemming @cmmercer @wrguenthner – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is [_Pychron: Automated Data Collection and Reduction for Noble Gas and

[2022-08-05 19:46] jmschrei commented on #4433
@bede and @tijeco, can you give an update on your progress?

[2022-08-05 19:51] htwangtw commented on #4600
@jagnobli Thanks for the quick response!

I am following my understanding of the JOSS guideline and consider people who will actually deploy this service as the target audience of the paper. If the intention is to make others to deploy your software, I do think the current organisation of documentation will create friction for adoption.

Also, I feel there's a lot of my own bias, coming from a vie

[2022-08-05 19:53] tijeco commented on #4433
@jmschrei sorry for the delay, I'm out of town this weekend, but should be able to have updates next weekend.

[2022-08-05 19:54] arfon commented on #2764
@pibion – I've emailed @frigaut and @andrewpaulreeves to see if they're still able to complete their reviews but it would good to hear from @mfeldt that they're still interested in pursuing this publication given that they've been inactive on this submission for ~10 months.

[2022-08-05 19:58] arfon commented on #2974
Hi folks, just checking in again here. @chkoar @geoffreyp – it looks like you're finessing tests in https://github.com/moead-framework/framework/issues/71 ? Having reviewed that thread I would recommend moving forward with an accept/publish at this point @melissawm.

[2022-08-05 19:59] arfon commented on #3428
:wave: @kyleniemeyer – a friendly bump to identify a second reviewer here.

[2022-08-05 20:01] elbeejay commented on #4646
@editorialbot assign me as editor

[2022-08-05 20:01] elbeejay commented on #4646
@editorialbot generate pdf

[2022-08-05 20:01] vijaysm commented on #4654
@editorialbot generate my checklist

[2022-08-05 20:05] arfon commented on #4073
@taless474 – if you haven't already, I would recommend emailing the reviewers directly incase they are missing these notifications on GitHub.

[2022-08-05 20:08] arfon commented on #3496
@Natsiopoulos – Arfon Smith, Editor in Chief of JOSS here. If we don't hear back from you in the next month (5th September 2022) we will assume this submission is abandoned and reject.

[2022-08-05 20:11] arfon commented on #3665
@pibion – it looks like you might need to find new reviewers here. This might be a good source of candidates: https://github.com/topics/power-series

[2022-08-05 20:18] dlebauer commented on #4405
I've reviewed the paper, I still need to review the functionality and will submit a PR with suggestions for improving clarity of the text.

I concur with issues @istfer pointed out - esp. the lack of statement of need, description of state of field / related software, and the cbean dataset.

[2022-08-05 20:48] adriancorrendo commented on #4655
Thank you!
I just updated the branch containing the paper https://github.com/adriancorrendo/metrica/tree/JOSS ,
fixing the INVALID DOI within the "paper.bib" under the following commit:
https://github.com/adriancorrendo/metrica/commit/1a71b1cd1ee96a9cb7610725861e5bc8d52a9bed

Best regards,

ADRIAN

[2022-08-06 02:57] Cadaei-Yuvxvs commented on #4368
Thank you @kaczmarj @a3sha2 @emdupre @arfon for making this paper the best it can be 🥰 This is my first first-author publication so I really appreciate the input and support!

[2022-08-06 03:26] skalyan91 commented on #4303
@editorialbot set joss_revision as branch

[2022-08-06 03:26] skalyan91 commented on #4303
@editorialbot generate pdf

[2022-08-06 03:36] skalyan91 commented on #4303
@SietzeN It was my mistake! I had forgotten to switch the branch to `joss_revision` before regenerating the paper.

@ajstewartlang I have checked off all the items on my checklist. My review is now complete.

[2022-08-06 03:48] fauxneticien commented on #4303
Looks like the references have now showed up with the branch update. @ajstewartlang I'm also happy to sign off!

[2022-08-06 06:18] editorialbot opened #4656 "[PRE REVIEW]: QuantNBody: a python package for quantum chemistry and physics to build and manipulate many-body operators and wave functions."
**Submitting author:** @SYalouz (<a href="http://orcid.org/0000-0002-8818-3379">SAAD YALOUZ</a>)
**Repository:** https://github.com/SYalouz/QuantNBody
**Branch with paper.md** (empty if default branch):
**Version:** v 1.0.0
**Editor:** @jarvist
**Reviewers:** @wcwitt
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/e55aaba1fa5772fd36ad48753fb6144b/status.svg)](htt

[2022-08-06 06:23] arfon commented on #4656
Note to editors – this is a resubmission of https://github.com/openjournals/joss-reviews/issues/4340

[2022-08-06 06:24] arfon commented on #4656
@editorialbot query scope

Thanks for this submission @SYalouz – as this is a resubmission I'm going to ask for a scope review again by the editorial team. This will likely take a week or two.

[2022-08-06 06:25] massimotorquati commented on #4591
That's right. Thanks @domschrei !

[2022-08-06 06:59] osorensen commented on #4655
@editorialbot generate pdf

[2022-08-06 07:35] domschrei commented on #4591
And regarding the PR @arfon referenced, the DOI of the publication itself seems to be the correct one to insert. Should I just go ahead and add this line to `paper.md`?

[2022-08-06 08:07] editorialbot opened #4657 "[PRE REVIEW]: overviewR - Easily Explore Your Data in R"
**Submitting author:** @cosimameyer (<a href="http://orcid.org/0000-0002-7472-2298">Cosima Meyer</a>)
**Repository:** https://github.com/cosimameyer/overviewR
**Branch with paper.md** (empty if default branch): master
**Version:** v0.0.10
**Editor:** @samhforbes
**Reviewers:** @drmowinckels, @milenamilena
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/b161adf6c8

[2022-08-06 08:12] arfon commented on #4657
@editorialbot set master as branch

[2022-08-06 08:12] arfon commented on #4657
@editorialbot check repository

[2022-08-06 08:12] arfon commented on #4657
@editorialbot generate pdf

[2022-08-06 08:18] arfon commented on #4629
@SMorrison42 – Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on

[2022-08-06 08:18] arfon commented on #4629
@editorialbot reject

[2022-08-06 08:18] #4629 closed

[2022-08-06 08:49] cosimameyer commented on #4657
Possible reviewers (based on the list provided by editorialbot) are:

* njtierney
* jaeyk
* pmyteh
* josiahparry

[2022-08-06 09:03] falexwolf commented on #4371
Yes, all reviews are there! Isaac was on a several-week-long conference and holiday trip.

He just got back last week and we want to get back to reviews this Monday.

[2022-08-06 10:26] arfon commented on #4657
@cosimameyer – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-06 15:32] elbeejay commented on #4646
@skiptoniam thank you for this submission to JOSS. Before asking any potential reviewers to have a look and decide if they are up to reviewing this submission, I have a number of comments and suggestions relating to the text of the manuscript. I encourage both you and your co-author to review the text of the manuscript after making any revisions before letting me know you are ready to proceed. To

[2022-08-06 16:12] cosimameyer commented on #4657
@arfon, many thanks for the feedback and all the work you put into JOSS. I keep my fingers crossed that the backlog gets smaller 😊 I hope you have a nice summer and look forward to hearing from you!

[2022-08-06 17:12] joglekara commented on #4378
@arfon , thanks for checking in. Yes I'm following up with them re: M1. @cticenhour provided a nice report on the conda build process. I'm working through the Accelerate + Homebrew build.

[2022-08-06 17:14] lpantano commented on #4363
@cagret, any comments for @swatimanekar ? @swatimanekar could you update your [checklist](https://github.com/openjournals/joss-reviews/issues/4363#issuecomment-1122167484) please? It would be easier for me to help to move this forward.

@samhorsfield96, do you mind to take a look at your [checklist](https://github.com/openjournals/joss-reviews/issues/4363#issuecomment-1120863516) and makes comment

[2022-08-06 17:39] kanishkan91 commented on #4588
@draabe , @crvernon Thanks for letting me review this. I started my review and have opened some issues already ,though I ran into a snag. There seems to be an inconsistency with the pip version of the package and the github version presented for review. I installed this package using `pip install floodlight` , but it seems to be missing a number of the functions, data included here in the github c

[2022-08-06 18:01] mfeldt commented on #2764
Actually it's a bit late now. The repository has been active for quite some time, and the paper is essentially published at SPIE 2020... I think we can forget about it here.

[2022-08-06 18:31] kanishkan91 commented on #4588
Ok. I realized and fixed the issue. The problem was I was using an older version of python and the pip was defaulting to an older version. Upgrading my python env solved the problem. I'm guessing this is why poetry was included here? This needs to be documented more explicitly. E.g. mentioning the python version, and the usage of poetry.

[2022-08-06 18:52] jameshgrn commented on #4654
@editorialbot generate my checklist

[2022-08-06 19:05] kanishkan91 commented on #4588
@draabe  Final thoughts on the installation instructions. See my issue on the usage of `poetry`. You need to explicitly state that `poetry`  is the replacement for the `setup.py`. Also I would just recommend removing references to `pip install floodlight`. You should just recommend that users make use of setup.py or poetry. Else, people will run into the same problem I did.

[2022-08-06 19:18] cescalara commented on #4457
Hi @arfon, I've also completed my review and can recommend Comrade.jl for publication!

[2022-08-06 19:30] robizzard commented on #4653
had been added

[2022-08-06 20:11] stsievert commented on #4377
I'm not seeing instructions for third parties on how to "report issues or problems with the software" or "seek support" in the documentation, though I am seeing [some guidelines][c] on how to "contribute to the software".

The author order isn't clear. Who's the first author? @jfowkes is listed as the first author on [the documentation][doc], and Arpad Buermen is listed as the first author on the

[2022-08-06 20:14] rezgarshakeri commented on #4560
@editorialbot generate my checklist

[2022-08-06 21:08] kanishkan91 commented on #4588
@draabe @crvernon I am mostly done with my review. This is clearly a very useful package that does an immense amount of data wrangling. I also learnt a lot about sports data analytics through this review and mainly thanks to the exhaustive documentation. However, there are a few points that I would like the authors to address before I approve this. I have added issues (linked above) that the autho

[2022-08-07 00:44] majensen commented on #4542
@amoeba would you be willing and/or able to review [this work](#4542)? Thanks for your consideration!

[2022-08-07 00:52] majensen commented on #4542
Hi  @ethanwhite - would you be available and willing to review [this work](#4542) for [JOSS](https://joss.theoj.org)? I would appreciate your Python data munging expertise. Thanks! --@majensen

[2022-08-07 06:13] editorialbot opened #4658 "[PRE REVIEW]: Accelerated oblique random survival forests"
**Submitting author:** @bcjaeger (<a href="http://orcid.org/0000-0001-7399-2299">Byron Jaeger</a>)
**Repository:** https://github.com/bcjaeger/aorsf
**Branch with paper.md** (empty if default branch):
**Version:** 0.0.1
**Editor:** @danielskatz
**Reviewers:** @danielskatz
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/414871f081cd8449007d671a7f7f7c3a/status.svg)

[2022-08-07 06:15] arfon commented on #4658
@bcjaeger - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-07 12:00] bcjaeger commented on #4658
@arfon - thank you for letting me know! I totally understand. I will make some updates based on editorialbot's feedback in the meantime.

[2022-08-07 12:20] samhorsfield96 commented on #4363
Hi @lpantano, the summary of my review is in the comments above (https://github.com/openjournals/joss-reviews/issues/4363#issuecomment-1142333731), apologies if I didn't make this clear when I added the comment. I've made sure my checklist is in line with my summary. Please let me know if there is anything else you need from me.

[2022-08-07 17:01] jbytecode commented on #4556
Dear reviewers @tpoisot, @Zitzeronion

Could you please update your status or at least provide a deadline?

Sorry it my ping bother you, indeed, have a nice vacation!

[2022-08-07 17:03] jbytecode commented on #4567
Dear @bluefoxr

How is your edits going? Could you please update your status or at least give a deadline for us?

Thank you in advance.

[2022-08-07 17:54] Midnighter commented on #3119
@editorialbot generate my checklist

[2022-08-07 18:08] Midnighter commented on #3119
@whedon generate pdf

[2022-08-07 18:31] Midnighter commented on #3119
@whedon generate pdf from branch joss-paper

[2022-08-07 18:37] Midnighter commented on #3119
@editorialbot generate pdf from branch joss-paper

[2022-08-07 18:40] Midnighter commented on #3119
@editorialbot set joss-paper as branch

[2022-08-07 18:41] Midnighter commented on #3119
@editorialbot generate pdf

[2022-08-07 18:59] ThomasThelen commented on #4635
If you need a reviewer I'd be love to check this out.

[2022-08-07 19:40] ThomasThelen commented on #4562
Sorry for the delay folks, but I should have all of the feedback thus far addressed. I cut a new release, 1.2.0 which includes all of the great feedback.

@thodson-usgs: I addressed all of your feedback about the license, wording in the paper, and convention of using (agent). Thank you!
@chrisaberson: I added a [new vignette](https://github.com/zizroc/villager/blob/main/vignettes/example-boltzman-

[2022-08-07 19:56] editorialbot opened #4659 "[PRE REVIEW]: datawizard: An R Package for Easy Data Preparation and Statistical Transformations"
**Submitting author:** @IndrajeetPatil (<a href="http://orcid.org/0000-0003-1995-6531">Indrajeet Patil</a>)
**Repository:** https://github.com/easystats/datawizard
**Branch with paper.md** (empty if default branch):
**Version:** 0.5.0
**Editor:** @osorensen
**Reviewers:** @tomfaulkenberry, @garretrc
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/e091e4c73d855e87

[2022-08-07 21:04] IndrajeetPatil commented on #4659
Here are a few reviewer suggestions:

- Ohmaddi
- russellpierce
- mariacuellar
- tomfaulkenberry
- cimentadaj
- RMHogervorst
- cimentadaj

[2022-08-07 22:45] Midnighter commented on #3119
**Contribution and authorship:** [I asked for quick feedback](https://github.com/xpdAcq/shed-streaming/issues/209) on a potential fourth author.

**Example usage:** While there are tutorials that help showcase the software's purpose, the examples seem rather contrived. The documentation could be improved by a real-world case, even though I won't be able to repeat that.

**Automated tests:** Tests

[2022-08-07 22:48] Midnighter commented on #3119
I also want to apologize to the authors for the long wait on my review. My schedule was completely turned around from when I agreed to review until I actually planned to do the review initially.

[2022-08-07 22:56] mikemahoney218 commented on #4574
This is still on my radar :smile: and I'm still intending to have a review for you on the original six week timeline. I'd expect most of my review to come at the end of that window due to upcoming travel plans.

[2022-08-08 00:06] blthayer commented on #4516
General update (cc @fraukewiese): I'm hoping I'll have some time around the 18th through 21st (planning to sacrifice some vacation time to work on this review). My apologies for the delay, but I suppose you get what you get with volunteers 😄.

[2022-08-08 02:42] jgostick commented on #4644
@editorialbot add @kasasxav as reviewer

[2022-08-08 02:42] jgostick commented on #4644
@editorialbot remove @xaviercm94 as reviewer

[2022-08-08 02:43] jgostick commented on #4579
Hi @kasasxav, I have added you to the official review using your new handle, I'm just mentioning you here so you can see the pre-review information.

[2022-08-08 03:10] WilkAndy commented on #4560
Hi @omalled - i'm not sure whether you think my open issues at DPFEHM are silly (no offense taken - they're just suggestions).  Nothing has happened in that repo for the last month.  Or maybe you're all on holiday?

[2022-08-08 07:23] fraukewiese commented on #4472
Thank you very much @robbiemorrison for your assessment regarding https://github.com/IMMM-SFA/tell/issues/31. Considering your thoughts and information about it, I think disclaimer and license of the software under consideration are ok for the publication in JOSS.

[2022-08-08 07:28] fraukewiese commented on #4516
@blthayer Thanks for the info and the voluntary work you do with the review! :)

[2022-08-08 07:52] oliviaguest commented on #4600
I suggest @jagnobli addresses the documentation issues raised above as best they can. And I want to repeat that the instructions for "[c]ontribut[ing] to the software" should also be clear (https://joss.readthedocs.io/en/latest/review_criteria.html#community-guidelines). If the reviewers cannot understand how to contribute, that's a sign that these can be improved.

[2022-08-08 08:29] jagnobli commented on #4600
Thanks four your suggestions.

We are on it :)

Sorry for being reluctant here: I can not see that the reviewers do not understand how to contribute, right @htwangtw and @samhforbes?  To me, it's a general question: Do the JOSS guidelines require git platforms that allow _everyone_ to create a account by themeselves or is it ok to ask potential contributors to contact a maintainer via mail to ask

[2022-08-08 08:37] arfon commented on #4659
@IndrajeetPatil - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-08 08:38] editorialbot opened #4660 "[PRE REVIEW]: SynINDy: Symbolic Identification of Nonlinear Dynamics"
**Submitting author:** @matteoettam09 (<a href="http://orcid.org/0000-0002-5229-0746">Matteo Manzi</a>)
**Repository:** https://github.com/andreikitaitsev/SymINDy
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/b33284734217399a56933df774a6a549/status

[2022-08-08 08:39] arfon commented on #4660
@editorialbot query scope

@matteoettam09  – due to the relatively size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-08-08 09:31] OllyK commented on #4645
@arfon – Thanks for the heads up, look forward to continuing the process when the backlog reduces.

[2022-08-08 10:10] mh-skjelvareid commented on #4185
@Kevin-Mattheus-Moerman, thanks for finding all these mistakes, I've corrected them all, and have also corrected a couple of other mistakes I found during spellchecking. I went for consistency with American English.

[2022-08-08 10:11] mh-skjelvareid commented on #4185
@editorialbot generate pdf

[2022-08-08 10:20] Mirmix commented on #4521
Hi, thanks for the updates.
I ran the code with docker, Pangolin GUI was not working with the default docker run command (most probably due to the fact that the default network driver for docker is [bridge](https://docs.docker.com/network/)), after explicitly setting the network driver to "host" I was able to run the DSOPP on test sequences with GUI on my _Ubuntu20.04_. Thus please consider this [

[2022-08-08 10:20] Kevin-Mattheus-Moerman commented on #4185
@mh-skjelvareid it looks good except `Overview of the experiment setup` should still be changed to `Overview of the experimental setup`.

[2022-08-08 10:28] mh-skjelvareid commented on #4185
@Kevin-Mattheus-Moerman Sorry about that, fixed now.

[2022-08-08 10:29] mh-skjelvareid commented on #4185
@editorialbot generate pdf

[2022-08-08 10:38] Kevin-Mattheus-Moerman commented on #4185
@mh-skjelvareid Now that all reviewers are happy with both the software and the paper we can proceed to process this for acceptance in JOSS. Here are some action items for you:

- [ ] Please archive a copy of the software on ZENODO. You can do this manually if you like but some find [these automated steps](https://docs.github.com/en/repositories/archiving-a-github-repository/referencing-and-citing

[2022-08-08 11:24] Solonets commented on #4521
Hi @Mirmix, thank you for your PR!

Regarding the speed: we have the same speed with DSO on the same datasets (even though we have not yet optimized our code with SSE instructions. The test data has a bit higher image resolution, that's why it's a bit slower (DSO has the same speed on this data). You can validate that on tummono dataset, the instructions are also given in the repo.

DSO also doesn

[2022-08-08 11:29] dfm commented on #4549
@editorialbot add @liamconnor as reviewer

🎉 Thanks @liamconnor for agreeing to review this submission!!

As soon as I have a second reviewer lined up we'll get the main review started. Thanks all for your patience!

[2022-08-08 11:32] jonjoncardoso commented on #4377
I agree with all the commends made by [stsievert](https://github.com/stsievert), I think these should be considered before acceptance.

Installation was smoother for me, I installed it under the Linux subsystem on Windows and it worked well.

A few things that could be improved:

1. Add a CONTRIBUTING.md. As mentioned by [stsievert](https://github.com/stsievert), it is not exactly clear how one co

[2022-08-08 11:33] Skn0tt commented on #4587
Hi, any update on the scholarly effort review?

[2022-08-08 12:11] ajstewartlang commented on #4303
@editorialbot check references

[2022-08-08 12:22] matthiasdemuzere commented on #4432
@crvernon I just addressed the last point (see [here](https://github.com/matthiasdemuzere/w2w/pull/83)), and I am awaiting approval from my colleagues.

Once in, I hope this sufficiently addresses all helpful feedback provided by @erexer!

[2022-08-08 12:24] ajstewartlang commented on #4303
:wave:  @SietzeN I just did a PR on one small thing in the paper. If you could merge that and then do the following please, that would be great:

- Make a [tagged release](https://docs.github.com/en/github/administering-a-repository/releasing-projects-on-github/managing-releases-in-a-repository) of the software.
- Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an ins

[2022-08-08 12:25] ajstewartlang commented on #4206
@editorialbot check references

[2022-08-08 12:37] ajstewartlang commented on #4206
:wave: Thanks @n8thangreen this all looks good to me now - and almost ready to go. In the `pdf` there are some cases where the in-text citations don't look quite right.

For example, the following:
G. Baio (2013) and B. Baio G. (2017)

should be:
Baio (2013) and Baio (2017)

If you could take a look and try to fix the issue that would be great. In addition, could you also do the following please?

[2022-08-08 13:10] bmcfee commented on #4554
:wave: my notes say to check in with @hendriks73 today

[2022-08-08 13:24] zarrarkhan commented on #4015
@hugoledoux can you please review our response and let us know if anything else is needed?
Thanks
Best
Zarrar

[2022-08-08 13:27] mh-skjelvareid commented on #4185
@Kevin-Mattheus-Moerman , see replies below:

All done. The DOI is [10.5281/zenodo.6974194](https://doi.org/10.5281/zenodo.6974194)
I've added the DOI badge at the top of the ´README.md´ file: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.6974195.svg)](https://doi.org/10.5281/zenodo.6974195)

I think I got all the details right, but please check that I did. My chosen license is GNU GPL v3, b

[2022-08-08 13:30] Kevin-Mattheus-Moerman commented on #4185
@editorialbot set 10.5281/zenodo.6974195 as archive

[2022-08-08 13:56] lpantano commented on #4363
Thank you @samhorsfield96. I will let @cagret and co-authors to work on them.

[2022-08-08 13:59] step21 commented on #4328
@rlskoeser I also think it looks more like it is meant to be automated via shellscript (or Python calling a shellscript)

I tested it with Azure for now on the IAM Handwriting Database. (https://fki.tic.heia-fr.ch/databases/iam-handwriting-database) - the functionality works as far asI can tell. (with sporadic checks of results)

It is not especially fast, but as far as I can see there are also no

[2022-08-08 14:00] jgostick commented on #4397
Comments on your paper:
- [ ] It seems like the summary section ends abruptly. It feels like it needs a closing sentence like. "For the above reasons all reflectometry experiments require intensive data analysis and adjustments, which are cumbersome to implement and error prone. Reliable and rigorously tests numerical packages are essential...blah, blah, blah..."
- [ ] "simplify the handling of er

[2022-08-08 14:19] ethanwhite commented on #4542
@majensen - yes, I'd be happy to review this submission.

[2022-08-08 14:20] matthiasdemuzere commented on #4432
Ok, all checks by @erexer are addressed now.
I am looking forward to the next steps!

[2022-08-08 14:26] Kevin-Mattheus-Moerman commented on #4185
@mh-skjelvareid Odd that the GPL v3 license does not show up, I just checked and saw the same. Perhaps instead of picking a license which is the "closest one" I recommend you select the option "Other (open)".

[2022-08-08 15:00] htwangtw commented on #4600
To be honest the current guideline reads like you are not prepared for third party contribution.
For me the problem is not hosting the code on institutional GitLab,
it's that the current contribution guideline section doesn't really out line the process described in the discussion here.
I would be happy if the current contribution guideline on software says:
- If you find a bug and can potentially

[2022-08-08 15:39] fboehm commented on #4530
@editorialbot generate pdf

[2022-08-08 15:42] diehlpk commented on #4641
Hi @cicirello could you please recommend some reviewers?

[2022-08-08 15:45] kanishkan91 commented on #4588
@editorialbot generate my checklist

[2022-08-08 15:49] fboehm commented on #4530
@btmonier - the pdf looks really good - I have no corrections to offer.

[2022-08-08 15:49] fboehm commented on #4530
@editorialbot check references

[2022-08-08 15:51] fboehm commented on #4530
@btmonier - the next steps are for you to make a new release of rTASSEL and to deposit that new release as an archive, for example, with zenodo.org. Please report here the new release's version number and the doi for the archive. Thank you!

[2022-08-08 15:51] azoitl commented on #4592
@baptisteCoye thx for the update. All my issues are addressed for me it is ready to go.

[2022-08-08 15:51] fboehm commented on #4530
Please let me know if you have any questions about these tasks.

[2022-08-08 16:17] Kevin-Mattheus-Moerman commented on #4185
@editorialbot recommend-accept

[2022-08-08 16:19] xi commented on #4600
Not at all. All this feedback is really helpful. It is just sometimes hard to understand what exactly needs to be improved. That's why we are asking so many questions.

We have the following paragraph in `contributing.md`:

"You can send small changes in any format you would like. For bigger changes, please contact us so we can give you access to our gitlab server."

What do you think is missing h

[2022-08-08 16:22] Kevin-Mattheus-Moerman commented on #4185
@editorialbot accept

[2022-08-08 16:28] Kevin-Mattheus-Moerman commented on #4185
Congratulations on this publication @mh-skjelvareid ! And special thanks to @emanuelhuber for reviewing this as well!!

:tada:

[2022-08-08 16:28] #4185 closed

[2022-08-08 16:31] vwxyzjn commented on #4621
Opened a couple of issues:

https://github.com/NREL/graph-env/issues/33
https://github.com/NREL/graph-env/issues/34

Also, please consider filling out the github repo's description and keywords. See the screenshot below as an example.
<img width="731" alt="Screen Shot 2022-08-08 at 12 30 39 PM" src="https://user-images.githubusercontent.com/5555347/183467408-dd4b6a10-e956-4082-96f6-06fa9af4a3bd.pn

[2022-08-08 16:55] samhforbes commented on #4600
Hi there,
I don't want to speak for @htwangtw at all but one issue *as I see it* is the structure:
You have contributing guidelines for the development. I'd like if there was a link to it from the README, because it needs to be easier to find, but that may just be me.
However, you have end user documentation separately, which is OK if you want to choose that structure, at least from my perspective

[2022-08-08 17:06] oliviaguest commented on #4600
@jagnobli I don't want to decide without input from @openjournals/joss-eics and they (or many) are on holiday. Is it OK to try your best for the other issues that are about how and what you're saying in the documentation until they/we come back from vacation? 😊

[2022-08-08 18:39] chennachaos commented on #4118
Hi @CZHU20,
I have the following comments regarding the software paper.

1.) Literature on the topic from Prof. Alfio Quarteroni's group, e.g. the iHEART project and the associated software (https://arxiv.org/pdf/2201.03303.pdf), is missing. Consider adding a couple of relevant references from this group.

2.) If possible, remove/merge the duplicates *equal contributions to the paper* and "Corresp

[2022-08-08 18:42] Kevin-Mattheus-Moerman commented on #4118
@CZHU20 you can start addressing these right away if you can/like :point_up:

[2022-08-08 18:47] tonyewong commented on #4556
@jbytecode I'll also mention that we have just merged a PR that uses MimiBRICK.jl now as a proper Julia package, instead of referring to the .git repo.

[2022-08-08 19:03] jbytecode commented on #4556
@tonyewong - thank you for informing us. I have just installed the package in the standard way and run a full test. It seems it is okay as it passes all of the test cases.

one more thing about tests is you can use testset macros like (even though it is not mandatory)

[code]

here is an example: [use of testset macro](https://github.com/jbytecode/JMcDM/blob/main/test/testmcdm.jl)

Another issue i

[2022-08-08 19:06] cicirello commented on #4641
@diehlpk A couple years ago with a prior JOSS paper for a different library of mine, engnadeau was an amazingly good reviewer, providing just about the most useful constructive feedback I've ever seen. It looks like they changed their username--they are in the reviewer list as nnadeau (their username when they reviewed my prior paper), but current username appears to be engnadeau (definitely same

[2022-08-08 19:30] cicirello commented on #4641
@diehlpk Assuming that most recently added reviewers in the list might be more likely available, I started at bottom of the list. The following all look potentially relevant based on languages they have listed, etc: xtruan, pritchardn, imcatta

[2022-08-08 19:48] mh-skjelvareid commented on #4185
Thanks a lot, @Kevin-Mattheus-Moerman, for stepping in yourself and making the publication happen (and for giving many useful tips along the way) - it really means a lot! :) And thanks again also to @emanuelhuber for generously using your time to review the software.

I've found the whole process very interesting, and (with the exception of problems finding reviewers) very smooth and more "human"

[2022-08-08 20:41] VenkteshV commented on #4515
I am nearly done. Will submit my reviews by 10th of August.

[2022-08-08 20:45] danielskatz commented on #4591
yes, please do

[2022-08-08 20:46] danielskatz commented on #4590
Hi @wimvanderbauwhede & @tokuso2 - I've been on vacation the last weeks, but am now back and catching up.  It looks like you both are satisfied with this to proceed to publication based on your checklists.  Is this correct?

[2022-08-08 20:48] danielskatz commented on #4590
@ajohnson-uoregon - in your paper.md, can you add the following line in the header after the bibliography line

```europar-doi: 10.1007/978-3-031-12597-3_12```

where the DOI should be the correct DOI for your Euro-Par paper.

[2022-08-08 20:48] danielskatz commented on #4592
@baptisteCoye - in your paper.md, can you add the following line in the header after the bibliography line

```europar-doi: 10.1007/978-3-031-12597-3_12```

where the DOI should be the correct DOI for your Euro-Par paper.

[2022-08-08 20:49] danielskatz commented on #4592
Thanks - I'll proofread this at the end

[2022-08-08 20:50] danielskatz commented on #4592
Hi @azoitl and @hwloidl - I've been on vacation the last weeks, but am now back and catching up. It looks like you both are satisfied with this to proceed to publication based on your checklists. Is this correct?

[2022-08-08 20:51] mingzehuang commented on #4643
@editorialbot generate my checklist

[2022-08-08 20:51] danielskatz commented on #4452
👋 @jpata - can you check on the few comments above ☝️ and let us know if you think more work is needed or this is ready to go?  (sorry for the delay on my part here - I was also on vacation the last 2 weeks)

[2022-08-08 20:53] danielskatz commented on #4480
Hi @matthewfeickert - coincidentally, I've been on vacation for 2 weeks and am just checking in on this, and I see it's the date that you said you will have some time 😄

[2022-08-08 20:54] danielskatz commented on #4328
👋 @mhucka - any response on the 3 comments above from @rlskoeser and @step21?

[2022-08-08 20:54] asitha-sena commented on #4569
👋 @jedbrown @banesullivan
Please let me know if I can help with anything else.

[2022-08-08 20:56] danielskatz commented on #4328
It looks like a bit more is needed from @mhucka. As you say, JOSS does not require CI and automated tests, but the manual tests do need to be clear to understand what they do and what is being tested.

[2022-08-08 20:57] danielskatz commented on #4277
@NoraLoose & @kris-rowe - I've been on vacation the last 2 weeks and now want to check in with you again on this. Can you update me on any more you can do on your reviews?

[2022-08-08 20:58] editorialbot opened #4661 "[PRE REVIEW]: QMKPy: A Python Framework for the Quadratic Multiple Knapsack Problem"
**Submitting author:** @klb2 (<a href="http://orcid.org/0000-0002-1597-8963">Karl-Ludwig Besser</a>)
**Repository:** https://github.com/klb2/qmkpy
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v1.1.0
**Editor:** @jbytecode
**Reviewers:** @ulf1, @max-little
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/7e886b9c686dc93f8ac85aef9f4

[2022-08-08 21:01] danielskatz commented on #4661
@editorialbot check references

[2022-08-08 21:07] danielskatz commented on #4661
👋 @klb2 - I'm suggesting some minor grammar (and style) changes in https://github.com/klb2/qmkpy/pull/1. If you merge this, then please use the command `@editorialbot generate pdf` to make a new PDF. editorialbot commands need to be the first entry in a new comment.

[2022-08-08 21:09] danielskatz commented on #4661
Also, unfortunately, the appropriate editors for this submission are busy with other submissions, so I'm going to add it to our waiting list until one of them becomes free.

[2022-08-08 21:11] danielskatz commented on #4553
👋 @jarvist - are you able to edit this submission?

[2022-08-08 21:14] danielskatz commented on #4586
👋 @adi3 - would you be able to edit this submission?

[2022-08-08 21:14] danielskatz commented on #4586
@editorialbot invite @adi3 as editor

[2022-08-08 21:18] danielskatz commented on #4645
👋 @osorensen - would you be able to edit this submission?

[2022-08-08 21:18] danielskatz commented on #4645
@editorialbot invite @osorensen as editor

[2022-08-08 21:21] danielskatz commented on #4649
👋 @pdebuyl - Would you be able to edit this submission?

[2022-08-08 21:21] danielskatz commented on #4649
@editorialbot invite @pdebuyl as editor

[2022-08-08 21:27] mcgrathc commented on #4472
Thank you @robbiemorrison and @fraukewiese for your input on https://github.com/IMMM-SFA/tell/issues/31. I will close the issue now if we are in agreement that the disclaimer and license of the software under consideration are ok for the publication in JOSS.

[2022-08-08 21:34] tibordome commented on #4626
@arfon No worries, take your time!

[2022-08-08 21:57] ptiede commented on #4457
@editorialbot generate pdf

[2022-08-08 23:21] lrennels commented on #4556
@jbytecode sounds good, I think we've done so to a certain extent in the master `runtests.jl` file [here](https://github.com/raddleverse/MimiBRICK.jl/blob/master/test/runtests.j) but could certainly add more hierarchy to it.

[2022-08-08 23:34] ajohnson-uoregon commented on #4590
DOI has been added. :)

[2022-08-09 01:41] diehlpk commented on #4641
Hi @engnadeau do you have time to review this paper?

[2022-08-09 01:41] diehlpk commented on #4641
Hi @xtruan, @pritchardn, @imcatta do you have time to review this paper?

[2022-08-09 01:46] danielskatz commented on #4590
@editorialbot generate pdf

[2022-08-09 01:59] pritchardn commented on #4641
Hello, I'm currently giving a review for another JOSS submission (hopefully finishing soon), which may slow me down a little, but this looks interesting and I will gladly review this.

[2022-08-09 02:24] winstonyym commented on #4573
@hugoledoux thank you for the great opportunity and it is an honour to connect. Sorry for the late reply, I was overseas. I agree to undertake this review and note the timeline (starting from your message). Please send over the invitation to edit this submission.

[2022-08-09 02:58] xtruan commented on #4641
Hi! I would be happy to review this, it looks interesting!

[2022-08-09 03:26] CZHU20 commented on #4118
@chennachaos  Thank you very much for your comment. We have addressed both in the new commit:

1. We have added the following sentence to the manuscript:

2. Proper ways to assign equal contribution and corresponding authors have been adopted.
[code]

Please let me know if you have other comments. Thank you.

[2022-08-09 03:28] CZHU20 commented on #4118
@Kevin-Mattheus-Moerman
I have followed the JOSS guideline to assign equal contribution and corresponding author. However, the generated pdf does not reflect both changes. I used the following docker command to generate the pdf
[code]
Is this because it's currently in draft state? Thank you.

[2022-08-09 03:44] pritchardn commented on #4052
Hello, I have completed the review as far as possible.
I have opened two issues that should be quick to resolve.

To summarise, the only things holding up a full blessing for this review are:
- Addressing the state of the field in the paper
- Adding clearer installation instructions to each of the packages

Some things that would be nice to see but not critical:
- Adding unit tests for the progres

[2022-08-09 03:57] tonyewong commented on #4556
We structured the paper with the Statement of Need first and the Summary second, to first present a need, and then describe how the package addresses this need. We of course noted that most JOSS papers have the Summary first, but we saw that some JOSS papers follow the structure with the Summary following the Statement of Need (e.g., [this one](https://joss.theoj.org/papers/10.21105/joss.04298) or

[2022-08-09 04:33] vijaysm commented on #4252
@Kevin-Mattheus-Moerman I'll review the new changes this week. Thanks for the updates @yangbai90

[2022-08-09 05:57] osorensen commented on #4645
@editorialbot add @osorensen as editor

[2022-08-09 06:01] osorensen commented on #4645
👋 @jingpengw @abhi-glitchhg @surajpaib  would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-09 06:51] jpata commented on #4452
@editorialbot generate pdf

[2022-08-09 07:11] jpata commented on #4452
Sorry for the delay on my part due to vacations.

The paper has been improved significantly and all the content-related comments have been addressed, but I think it could still benefit from some language-level improvements. I'm not a native speaker, but here are some suggestions which could improve readability.

- `11. The High-Energy Physics (HEP) community, especially the group doing analysis, h

[2022-08-09 07:54] temuller commented on #4508
Hi @arfon, is there anything I should do at the moment?

[2022-08-09 09:25] Kevin-Mattheus-Moerman commented on #4185
@mh-skjelvareid you are welcome @mh-skjelvareid. My apologies that the review to much longer than is normal for JOSS. Since COVID finding reviewers has been a challenges (as most people were/are behind on lots of work) as well as getting them to commit to a speedy review process.

Great that you want to help review for JOSS.

Congrats again!

[2022-08-09 09:35] klb2 commented on #4661
Thanks a lot for the suggested changes. I merged them into the `joss-paper` branch.

[2022-08-09 09:39] klb2 commented on #4661
@editorialbot generate pdf

[2022-08-09 09:41] klb2 commented on #4661
I am not sure, if you need another suggestion from my side, but I think that jbytecode would also be a great fit as editor.

[2022-08-09 10:10] kahaaga commented on #4414
@jarvist Sorry for the delay!

We have now addressed @dawbarton's comments, which have been merged to the `main` branch.

Good point. I now use `@__DIR__` for file paths, and reorganised the timing scripts so that tasks are delegated a bit differently between MATLAB and Julia. Now, first run the MATLAB script (which will generate example data), then the Julia script (which will do the comparison a

[2022-08-09 10:22] lucaferranti commented on #4414
@kahaaga apologies for the delay for finishing my review, I will get it done today

[2022-08-09 10:29] kcerva commented on #4460
Sorry for the slight delay in replying, but thanks @nick-gorman for all your comments!

@crvernon thanks for your points! I'm slowly addressing them and will let you know once I'm done, but an immediate comment that comes to mind about the python vs Python part is that the pre-reviewer wanted the opposite. Please see the 2nd/June comment by Daniel on it [here](https://github.com/openjournals/joss-

[2022-08-09 10:37] chartgerink commented on #4416
Thanks @Athene-ai - does that mean the item that is still open on your checklist can now be checked off?

[2022-08-09 10:38] chartgerink commented on #4482
@editorialbot add @tretherington as reviewer

Thanks @tretherington! 🙏 We encourage reviewers to explore their interests, so I'd be happy to have you! 😊

[2022-08-09 10:39] chartgerink commented on #4482
@editorialbot start review

@jgalgarra and @tretherington - a new issue will be created and you can start your review there using the command `@editorialbot generate my checklist` 🥳

[2022-08-09 10:39] editorialbot opened #4662 "[REVIEW]: rstickleback: supervised behavior detection in bio-logging data"
**Submitting author:** @FlukeAndFeather (<a href="http://orcid.org/0000-0002-6302-905X">Max Czapanskiy</a>)
**Repository:** https://github.com/FlukeAndFeather/rstickleback
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.3.0
**Editor:** @chartgerink
**Reviewers:** @chfleming, @jgalgarra, @tretherington
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/paper

[2022-08-09 10:39] #4482 closed

[2022-08-09 10:41] chartgerink commented on #4662
@editorialbot remind @chfleming in four weeks

[2022-08-09 10:41] chartgerink commented on #4662
@editorialbot remind @jgalgarra in four weeks

[2022-08-09 10:41] chartgerink commented on #4662
@editorialbot remind @tretherington in four weeks

[2022-08-09 10:46] xuanxu commented on #4604
:wave: @nespinoza, @noraeisner would you be willing to review this paper? I think your expertise with Exoplanets and Python makes both of you a great fit for this submission.

[2022-08-09 10:51] Athene-ai commented on #4416
@chartgerink I mean that I have filled in my checklist

[2022-08-09 10:58] Kevin-Mattheus-Moerman commented on #4118
@editorialbot generate pdf

[2022-08-09 10:58] chartgerink commented on #4416
Okay, thanks @Athene-ai.

Did your discussion with @dazhwu help resolve the open item on the checklist though? Namely:

[2022-08-09 11:04] Athene-ai commented on #4416
@chartgerink just updated my checklist

[2022-08-09 11:11] chartgerink commented on #4416
Thanks a bunch @Athene-ai 😄

![](https://media.giphy.com/media/3oEdva9BUHPIs2SkGk/giphy.gif)

[2022-08-09 11:40] Kevin-Mattheus-Moerman commented on #4118
@CZHU20 it seems to be working here though right :point_up: ?

[2022-08-09 11:54] CZHU20 commented on #4118
Yes. It looks good. Thank you very much.

[2022-08-09 11:58] chfleming commented on #4662
@editorialbot generate my checklist

[2022-08-09 12:05] wimvanderbauwhede commented on #4590
Looks good to me!

[2022-08-09 12:06] danielskatz commented on #4452
Thanks @jpata!

@tamasgal - can you go ahead and address these language comments?

Also, I'll do a final proof-read when everything else seems ready.

[2022-08-09 12:11] danielskatz commented on #4661
Thanks, but his JOSS workload is full for now too.

[2022-08-09 12:15] danielskatz commented on #4454
@tonggehua - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that we will not review this software at this time.

In addition to the comments from @arfon ☝️ , some other editor comments include:

* A relatively small amount of code, and the code seems to come largely from a single contributor in a short amount of time.
* It is unclear if this is a large or minor ad

[2022-08-09 12:15] danielskatz commented on #4454
@editorialbot reject

[2022-08-09 12:15] #4454 closed

[2022-08-09 12:19] danielskatz commented on #4587
@Skn0tt - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  We also have doubts about whether it is [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-me

[2022-08-09 12:19] danielskatz commented on #4587
@editorialbot reject

[2022-08-09 12:19] #4587 closed

[2022-08-09 12:21] danielskatz commented on #4616
👋 @sebastianrosenzweig - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

In addition, one editor comments:
* I am worried about "the software is sufficiently useful". 2/4 methods are

[2022-08-09 12:21] #4616 closed

[2022-08-09 12:24] danielskatz commented on #4619
👋 @chags1313 - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission is not suitable for review by JOSS.

Editor comments include:
* Needs packaging, and explanation - not sure what it does.
* I think this is out of scope. Lots of config code in the single python file.
* I am sympathetic to the difficulties associated with creating a working GUI appl

[2022-08-09 12:24] danielskatz commented on #4619
@editorialbot reject

[2022-08-09 12:24] #4619 closed

[2022-08-09 12:32] jingpengw commented on #4645
could you also provide the github repo link?

Best,
Jingpeng

On Tue, Aug 9, 2022 at 2:01 AM Øystein Sørensen ***@***.***>
wrote:

[2022-08-09 12:34] lwang-astro commented on #4483
@webbjj Now the add_star with binaries work fine.

Thank you. no problem.

Thank you for the check. Indeed here is a bug in petar tool. I have a misunderstood of KDTree.query before. The corrected version of petar tool should be:
[code]
The new version use k=7 (6 neighbors + itself)
Then the summation remove last one as you suggested.
The radius need to use the outmost member.

After the correctio

[2022-08-09 12:36] osorensen commented on #4645
@jingpengw, the GitHub repo is https://github.com/DiamondLightSource/volume-segmantics.

[2022-08-09 12:51] lwang-astro commented on #4483
Another question, I use jupyter to run clustertools with plot=True and it does not work
[code]

[2022-08-09 13:09] ddhendriks commented on #4642
Dear @trappitsch @schristophe

Thank you for picking up my submission. I see that the checklists are not entirely completed, but I am unsure about what the implies. Does my submission not meet the unchecked requirements, or is this a matter of not having had time to check these requirements?

Kind regards,

David

[2022-08-09 13:11] webbjj commented on #4483
@lwang-astro - interesting. My students and I all use clustertools in jupyter and I have yet to see this error. It might be a version issue, in which case i should add that to the setup file.

Are you able to make other plots in jupyter with latex symbols in the axis labels?

[2022-08-09 13:19] hugoledoux commented on #4573
@editorialbot add @winstonyym as reviewer

[2022-08-09 13:20] hendriks73 commented on #4554
I'll work on this this and if necessary the following week.

[2022-08-09 13:21] hugoledoux commented on #4573
@winstonyym thanks. The review will be done in another github issue, which will be open as soon as the second reviewer has accepted.

[2022-08-09 13:21] trappitsch commented on #4642
@ddhendriks: Definitely the latter, slowly but surely working through the checklist, code, and testing. Will be raising issues as requested in the target repository. One problem with that though: I seem to require access in order to post issues in the target repository. The University of Surrey gitlab site says:

Sign in using a Google account. After initializing your account your University of Su

[2022-08-09 13:23] domschrei commented on #4591
@danielskatz Done! https://github.com/domschrei/mallob/commit/0d5889ae6e6d5f3bad184996e6081624f2cd843d

[2022-08-09 13:41] matthewfeickert commented on #4480
Yup. Hope you had a good holiday (and that reentry isn't too brutal)! :) JOSS reviews are the subject of my evening after work today. :+1:

[2022-08-09 13:47] engnadeau commented on #4641
Unfortunately don't have time at the moment, just had a baby!

[2022-08-09 13:48] bluefoxr commented on #4567
Dear @jbytecode my apologies for the slow reply, I have been away. I have addressed some initial comments previously and I see that there are a number of extra comments to address. Most of these can be dealt with fairly quickly but some, such as the unit testing coverage, will need quite a bit of time to improve. I will see what progress I can make in the next week, after which I will again be awa

[2022-08-09 13:52] hugoledoux commented on #4593
@EricaEgg is everything that perfect with their submission that you have no comments to add? It's possible, seeing the other reviewer enthusiasm, but I just want to be sure here.

[2022-08-09 13:52] hugoledoux commented on #4593
@editorialbot generate pdf

[2022-08-09 13:55] jbytecode commented on #4567
Thank you for the response, I just wanted to see whether you are in trouble or not. Have a nice vacation.

[2022-08-09 13:57] EricaEgg commented on #4593
Thanks for checking. I made an issue on the main repo with some questions
regarding installation documentation, which have now been resolved. All of
the examples worked well for me, so there were no other issues. Thanks!

On Tue, Aug 9, 2022 at 6:52 AM Hugo Ledoux ***@***.***> wrote:

--
*Erica Eggleton*
she/her/hers
PhD Candidate
Schwartz Research Group <https://uwemilab.github.io/>
Department of

[2022-08-09 14:01] danielskatz commented on #4591
@editorialbot generate pdf

[2022-08-09 14:06] bluefoxr commented on #4567
No trouble, the reviewers' comments are all reasonable. Thanks and I will update as soon as I can.

[2022-08-09 14:06] lwang-astro commented on #4483
@webbjj I have no problem to use latex format for axe label. such as ```axe.set_label(r'\sigma')``` works for me.

[2022-08-09 14:08] danielskatz commented on #4591
@editorialbot accept

[2022-08-09 14:17] baptisteCoye commented on #4592
@editorialbot generate pdf

[2022-08-09 14:18] danielskatz commented on #4591
Congratulations to @domschrei (Dominik Schreiber) and co-author!!

And thanks to @ARMartinelli and @massimotorquati for reviewing!
We couldn't do this without you

[2022-08-09 14:18] #4591 closed

[2022-08-09 14:22] hugoledoux commented on #4593
One difficult topic we need to address: authorship.

If I look at the commits, only @p-ortmann has committed, and the second author (Chris Tampère) has, if I am not mistaken, not a single commit and he is the corresponding author.

JOSS is primarily a software journal, and we do require authors to have contributed to the software. You can see our policy here: https://joss.readthedocs.io/en/latest/

[2022-08-09 14:22] sixpearls commented on #4329
@editorialbot generate my checklist

[2022-08-09 14:23] webbjj commented on #4483
Hmmm, well that is interesting. So on my end I am using:

matplotlib version 3.4.2
jupyter lab version 3.4.3

and I can run everything in clustertools/docs/source/notebooks/profiles.ipynb.

I am not sure where matplotlib looks for the latex plug in. I made sure the latex module was up to date though. I have also found that the galpy.util sometimes messes with my plotting. What version of galpy do

[2022-08-09 14:43] hugoledoux commented on #4593
and now I see this: https://gitlab.kuleuven.be/ITSCreaLab/public-toolboxes/dyntapy#related-python-packages

this should be added to the paper in my opinion, this would make the submission clearer.

[2022-08-09 14:59] JanLeppert commented on #4565
@editorialbot generate pdf

[2022-08-09 15:04] JanLeppert commented on #4565
@bonh , @ma-sadeghi
Thank you for your comments. I made some changes to the package (comments from @ma-sadeghi), added an examples section to the documentation and reworked the draft of the paper.

[2022-08-09 15:20] nicholas512 commented on #4596
great, will do.  Thanks!

[2022-08-09 15:38] nespinoza commented on #4604
Hey @xuanxu! Would love to review but I'm drowning in stuff to do right now. If for some weird reason you don't find anyone by mid-September, I could take this. But not before that date.

N.

[2022-08-09 16:50] tokuso2 commented on #4590
That is correct!

[2022-08-09 16:53] Zitzeronion commented on #4556
@jbytecode sorry for the delay, yes I was on vacation and kept myself from doing any work.

I very positive that I finish my review this week, again sorry for the two weeks delay.

[2022-08-09 17:08] danielskatz commented on #4590
@ajohnson-uoregon - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and autho

[2022-08-09 17:10] omalled commented on #4560
@WilkAndy No, your suggestions are good. 😄 I've just been busy. I'm planning to get back to this next week.

[2022-08-09 17:26] danielskatz commented on #4592
@baptisteCoye - I've suggested a number of changes to the paper/bib in https://github.com/baptisteCoye/SimSGame/pull/2 - I think this addresses the reference issue originally brought up by @azoitl. Please merge this, or let me know what you disagree with.  I hope then, after we hear from @azoitl and @hwloidl to confirm their satisfaction with the submission, we can proceed to acceptance and public

[2022-08-09 17:53] btmonier commented on #4530
@fboehm - I have pushed a new update which is **`v0.9.27`** and have created an archive on Zenodo with the following DOI:

https://doi.org/10.5281/zenodo.6977430

[2022-08-09 18:17] cicirello commented on #4641
@engnadeau Congratulations!

[2022-08-09 18:29] jbytecode commented on #4563
@schochastics - Here are some review notes from one of our reviewers.

@akbaritabar - Since you are editing the old message, we are not be aware of what is new in the thread, could you please provide your next comments as a new posts?

thank you in advance.

[2022-08-09 18:37] jbytecode commented on #4556
@Zitzeronion - thank you for the response and setting a reasonable deadline for us.

@tpoisot - we are not able to have even a life sign from you, could you please update us or set a deadline?

Thank you in advance.

[2022-08-09 18:49] majensen commented on #4542
@editorialbot assign @ethanwhite as reviewer

[2022-08-09 18:49] majensen commented on #4542
@editorialbot add @ethanwhite as reviewer

[2022-08-09 19:12] eloisabentivegna commented on #4651
Can do!

[2022-08-09 19:12] eloisabentivegna commented on #4651
@editorialbot assign @eloisabentivegna as editor

[2022-08-09 19:15] diehlpk commented on #4641
@editorialbot add @xtruan as reviewer

[2022-08-09 19:15] diehlpk commented on #4641
Sure, take your time and finish the other review first.

[2022-08-09 19:16] diehlpk commented on #4641
@editorialbot add @pritchardn as reviewer

[2022-08-09 19:16] diehlpk commented on #4641
@editorialbot start review

[2022-08-09 19:16] editorialbot opened #4663 "[REVIEW]: ρμ: A Java library of randomization enhancements and other math utilities"
**Submitting author:** @cicirello (<a href="http://orcid.org/0000-0003-1072-8559">Vincent A Cicirello</a>)
**Repository:** https://github.com/cicirello/rho-mu
**Branch with paper.md** (empty if default branch):
**Version:** v2.4.0
**Editor:** @diehlpk
**Reviewers:** @xtruan, @pritchardn
**Archive:** 10.5281/zenodo.7026452

## Status

[![status](https://joss.theoj.org/papers/00abc7048fe5b99d7c6fd84

[2022-08-09 19:16] #4641 closed

[2022-08-09 19:17] diehlpk commented on #4641
Congratulations and hope you can deal with the lack of sleep.

[2022-08-09 19:18] diehlpk commented on #4377
@jfowkes please have a look at the comments above.

[2022-08-09 19:19] diehlpk commented on #4637
@lluisjofre  please have a look into the comments above.

[2022-08-09 19:21] eloisabentivegna commented on #4651
@mdelorme, would you be available to review this submission?

[2022-08-09 19:24] danielskatz commented on #4638
@meryemberradauwo - the repository you submitted does not appear to have any source code.  Where is the source code for your software?
<img width="895" alt="Screen Shot 2022-08-09 at 2 24 08 PM" src="https://user-images.githubusercontent.com/2913845/183744311-bca91fbe-b9d3-4cdc-8fc2-e755126a23cf.png">

[2022-08-09 19:25] eloisabentivegna commented on #4651
@ttricco, would you be available to review this submission?

[2022-08-09 19:31] danielskatz commented on #4638
Ah, I see that you have put the source code in a release.  This is not how GitHub is normally used.  I think you should review a GitHub tutorial (e.g. https://medium.com/code-factory-berlin/github-repository-structure-best-practices-248e6effc405; https://www.lpenz.org/articles/github-project-struct/index.html), and browse other repository on GitHub that have been used for JOSS papers, then resubmi

[2022-08-09 19:31] danielskatz commented on #4638
@editorialbot withdraw

[2022-08-09 19:32] #4638 closed

[2022-08-09 19:35] danielskatz commented on #4635
👋 @hiDaDeng - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

Some specific editor comments are:
* The statement of need section is too vague/sparse, as it leaves too much to be assu

[2022-08-09 19:35] danielskatz commented on #4635
@editorialbot reject

[2022-08-09 19:35] #4635 closed

[2022-08-09 19:38] danielskatz commented on #4652
I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission is scope for review by JOSS. This does not mean that it is not software that is useful in research.

Editor comments include:
* This tool has a fair amount of functionality in it, but is less functional than common command-line tools that aim to do the same thing (e.g. https://github.com/OpenGene/

[2022-08-09 19:38] danielskatz commented on #4652
@editorialbot reject

[2022-08-09 19:38] #4652 closed

[2022-08-09 19:46] storyetfall commented on #4561
Review done! Everything looks good. Only a few very minor comments:

* several formatting issues in the method docs, including but not limited to:
    *  in Regression Method "R^n -> R^m" appears as plain text and not LaTeX.
    * in Regression Method there are newline issues in the first bullet points
    * in eFAST "samples" should be LaTeX'd as `\text{samples}` or replaced with a variable like

[2022-08-09 20:17] domschrei commented on #4591
Great! Thanks a lot for your work and your help, @danielskatz @ARMartinelli @massimotorquati !

[2022-08-09 20:54] ma-sadeghi commented on #4565
@JanLeppert Thank you for your detailed responses. I opened up two more issues ([60](https://github.com/JanLeppert/GasChromatographySimulator.jl/issues/60), [61](https://github.com/JanLeppert/GasChromatographySimulator.jl/issues/61)), they're sort of optional, but I still recommend addressing them.

@rkurchin I'm happy with the responses/actions @JanLeppert has taken (you can find the details in t

[2022-08-09 21:23] xtruan commented on #4663
@editorialbot generate my checklist

[2022-08-09 22:06] fboehm commented on #4530
@btmonier - Thanks! I should have specified that the archive must have the same authors list as the pdf of your manuscript. It looks like the archive currently is missing middle initials for the last three authors. Can you add these initials to the author names in the archive?

[2022-08-09 22:13] btmonier commented on #4530
@fboehm - I have updated the author list to include middle initials.

[2022-08-09 22:18] fboehm commented on #4530
Thanks, @btmonier! Can you also fix the title of the archive? It should be the same as the title of the manuscript. THanks again!

[2022-08-09 22:20] btmonier commented on #4530
@fboehm - Sorry about that. I have updated the title as well.

[2022-08-09 22:31] fboehm commented on #4530
Thanks so much, @btmonier !

[2022-08-09 22:32] fboehm commented on #4530
@editorialbot set 10.5281/zenodo.6977430 as archive

[2022-08-09 22:32] fboehm commented on #4530
@editorialbot set v0.9.27 as version

[2022-08-09 22:33] fboehm commented on #4530
@editorialbot recommend-accept

[2022-08-09 23:16] kbarnhart commented on #4596
@nicholas512 thanks for this submission to JOSS. Based on looking at tsp as part of my routine pre-review checks, I think it is a great contribution to working with disparate temperature data.

I'm going to recommend that you do a couple of things before we move to soliciting reviewers. The following are issues that I suspect reviewers will immediately run into, so the review process will be easie

[2022-08-10 00:04] danielskatz commented on #4530
@btmonier - As the AEiC on duty currently, I'll finalize your paper publication. I have suggested some small changes in https://github.com/maize-genetics/rTASSEL/pull/9 and https://github.com/maize-genetics/rTASSEL/pull/10 Please merge these, or let me know what you disagree with, then we can proceed to publication

[2022-08-10 00:27] ajohnson-uoregon commented on #4590
Tagged release: joss22+europar22
https://github.com/ajohnson-uoregon/llvm-project/releases/tag/joss22%2Beuropar22

Already archived in figshare for EuroPar: https://doi.org/10.6084/m9.figshare.19993454

Thanks everyone!

[2022-08-10 01:40] btmonier commented on #4530
@danielskatz - Thank you for the comments. I have accepted both pull requests.

[2022-08-10 01:44] pritchardn commented on #4663
@editorialbot generate my checklist

[2022-08-10 05:17] hugoledoux commented on #4573
@editorialbot add @cforgaci as reviewer

[2022-08-10 05:18] hugoledoux commented on #4573
@editorialbot start review

[2022-08-10 05:18] editorialbot opened #4664 "[REVIEW]: ur-scape: harnessing data for stakeholder participation in city-making processes"
**Submitting author:** @luyuhao0326 (<a href="http://orcid.org/0000-0001-8574-1999">Yuhao Lu</a>)
**Repository:** https://github.com/UrbanRuralSystems/ur-scape
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.9.96
**Editor:** @hugoledoux
**Reviewers:** @winstonyym, @cforgaci
**Archive:** 10.3929/ethz-b-000578490

## Status

[![status](https://joss.theoj.org/papers/a26d6189

[2022-08-10 05:18] #4573 closed

[2022-08-10 09:01] robinroche commented on #4516
@stinefm @fraukewiese  Here are my comments and suggestions at this point:
- github description: adding more info on what it can do, who it can be useful for, and examples of use cases would be beneficial. The list of features could also be more specific. Mention that examples are included. Be also more specific on how to contribute, report issues or seek help.
- Paper: clarify the terms reliabili

[2022-08-10 09:06] wcjochem commented on #4574
Hi @elbeejay , yes, I'm still working on this review and will start updating the issues in the repository. Thanks for the reminder!

[2022-08-10 09:52] jagnobli commented on #4600
Thanks for all your valuable input. However, I feel like I'm stuck here. Therefore, I try to sum up my understanding of this discussion and will ask for specific feedback at the end.

1. We really understand your (@samhforbes and @htwangtw) issues and appreciate your suggestions on the docs. We are currently working on improvements in small steps (for example [here](https://git.mpib-berlin.mpg.de/

[2022-08-10 10:18] cagret commented on #4363
Hi, sorry for the delay, I thought of forwarding the mail but not to answer it.
Thank for the feedback,
- The "Statement of need" is in the readme, RedOak requires:
  A modern, C++11 ready compiler such as g++ version 4.9 or higher or clang version 3.2 or higher.
  A 64-bit operating system. Either Mac OS X or Linux are currently supported.
  OpenMPI
  libGkArrays-MPI
  Doxygen (recommanded but no

[2022-08-10 10:32] Viech commented on #4621
@editorialbot generate my checklist

[2022-08-10 10:40] skiptoniam commented on #4646
@elbeejay thanks so much for the suggestions and edits. I've tried to clean up those paper. I have also remove a bit of text including the future work section as the paper is fairly long. I was using rmarkdown to build the document, so hopefully the .md is OK now.

[2022-08-10 10:41] skiptoniam commented on #4646
@editorialbot generate pdf

[2022-08-10 11:14] jpata commented on #4452
@editorialbot generate pdf

[2022-08-10 11:28] hmacdope commented on #4467
@Xia-Yijie There are several serious initial acceptance blocker for mine on this.

I will raise an issue for each of these on the GitHub repository that @ojeda-e has not covered already.

1. A raw pip install on a clean conda environment fails to import correctly with `ModuleNotFoundError: No module named 'Xponge.load'`
2. Given this I could not run the tests and verify that the package works.
3.

[2022-08-10 11:34] jpata commented on #4452
All items are checked off on my side!

[2022-08-10 11:41] hmacdope commented on #4467
Linking issues for future reference

Xia-Yijie/Xponge#1
Xia-Yijie/Xponge#2
Xia-Yijie/Xponge#3
Xia-Yijie/Xponge#4
Xia-Yijie/Xponge#5
Xia-Yijie/Xponge#6
Xia-Yijie/Xponge#7
Xia-Yijie/Xponge#8
Xia-Yijie/Xponge#9

[2022-08-10 12:17] ttricco commented on #4651
@eloisabentivegna Yes, happy to review.

[2022-08-10 12:37] danielskatz commented on #4530
@editorialbot recommend-accept

[2022-08-10 12:39] danielskatz commented on #4452
thanks @jpata

@tamasgal - next I'll do a proof-read and then we can start the final steps in publication

[2022-08-10 12:41] danielskatz commented on #4590
@ajohnson-uoregon - I just want to check that no changes were made to the software in the review process. It seems like the new license and any other changes should be in the archived software, and if so, a new version is needed beyond what was archive for EuroPar initially.

[2022-08-10 12:42] danielskatz commented on #4590
👋 @wimvanderbauwhede, @tokuso2 - I notice you have not checked off all the items in your checklists, which I think is just an oversight. Please do so, or let me know what is blocking you.

[2022-08-10 12:43] danielskatz commented on #4530
@editorialbot accept

[2022-08-10 12:43] elbeejay commented on #4574
@JosiahParry pinging you to make sure this review is on your radar! Let me know if you have any questions

[2022-08-10 12:47] JosiahParry commented on #4574
Yup, it is :) thanks!

[2022-08-10 12:51] danielskatz commented on #4530
Congratulations to @btmonier (Brandon Monier) and co-authors!!

And thanks to @tkchafin and @tomsing1 for reviewing, and to @fboehm for editing!
We couldn't do this without you

[2022-08-10 12:51] #4530 closed

[2022-08-10 13:00] danielskatz commented on #4452
@tamasgal - I suggest a number of changes in the paper and one in the bib in https://github.com/JuliaHEP/UnROOT.jl/pull/179

[2022-08-10 13:03] osorensen commented on #4555
@Matthew-Jennings, can you please update us on how it's going addressing the points raised by the reviewers?

[2022-08-10 13:27] brunomontezano commented on #4545
@schalkdaniel Some suggestions about the paper:

- Add _State of the field_ section. Maybe you could briefly describe some other technologies that aim to solve the same problem and how the interaction with DataSHIELD framework in R could be different in usage than these alternatives. If it would ease or improve the current approach, etc.

About the package repository itself:

- I'd recommend you t

[2022-08-10 13:43] danielskatz commented on #4452
@editorialbot generate pdf

Thanks for merging the PR.  At this point, assuming everything looks ok to you in the PDF that will soon be generated, can you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival depos

[2022-08-10 13:52] danielskatz commented on #4610
👋 @fboehm - Would you be able to edit this submission?

[2022-08-10 13:53] danielskatz commented on #4610
@editorialbot invite @fboehm as editor

[2022-08-10 13:55] danielskatz commented on #4536
@xuanxu - can you take a look at this DOI issue ☝️ ?

[2022-08-10 13:55] danielskatz commented on #4536
👋 @sbenthall - Would you be able to edit this submission?

[2022-08-10 13:59] danielskatz commented on #4658
👋 @emdupre - would you be able to edit this submission?

[2022-08-10 13:59] danielskatz commented on #4658
@editorialbot invite @emdupre as editor

[2022-08-10 14:00] k-doering-NOAA commented on #4536
I forgot to comment again about the DOI - my colleague thought what might be happening is that the "doi" was considered a doi via an old standard, but is no longer an acceptable format, which is why it is being marked as invalid now. However, the journal article does not offer an updated DOI, so I'm not sure where to go from here, maybe @xuanxu has some suggestions?

[2022-08-10 14:01] danielskatz commented on #4659
👋 @osorensen - would you be able to edit this submission?

[2022-08-10 14:01] danielskatz commented on #4659
@editorialbot invite @osorensen as editor

[2022-08-10 14:03] editorialbot opened #4665 "[PRE REVIEW]: NuclearToolkit.jl: A Julia package for nuclear structure calculations"
**Submitting author:** @SotaYoshida (<a href="http://orcid.org/0000-0002-1342-1846">Sota Yoshida</a>)
**Repository:** https://github.com/SotaYoshida/NuclearToolkit.jl
**Branch with paper.md** (empty if default branch): josspaper
**Version:** v0.1.0
**Editor:** @rkurchin
**Reviewers:** @mdavezac, @villaa
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/20cd6c823

[2022-08-10 14:04] editorialbot opened #4666 "[PRE REVIEW]: Rho: Application to analyse electrical resistivity"
**Submitting author:** @meryemberradauwo (<a href="http://orcid.org/0000-0002-4934-0917">Meryem Berrada</a>)
**Repository:** https://github.com/meryemberradauwo/Rho.git
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/f5ee365da327b594ca975e1792d17a81

[2022-08-10 14:06] danielskatz commented on #4666
@meryemberradauwo  - Thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing and invalid DOIs that ed

[2022-08-10 14:06] danielskatz commented on #4666
@editorialbot query scope

[2022-08-10 14:10] danielskatz commented on #4665
@SotaYoshida - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

While we wait, you could work on the invalid DOIs that editorialbot suggests. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and

[2022-08-10 14:18] valentineap commented on #4217
Hi @leouieda, I think I've finally dealt with all the comments and suggestions. Please see issues tagged [joss-paper-reviewer-comment](https://github.com/valentineap/pyprop8/issues?q=label%3Ajoss-paper-reviewer-comment+is%3Aclosed) on the issue tracker for my responses.

Note that I have not yet updated PyPI package, in case any further changes are needed.

Let me know if you need anything else fr

[2022-08-10 14:20] valentineap commented on #4217
@editorialbot generate pdf

[2022-08-10 15:03] jingpengw commented on #4645
I am happy to review it, but there exists a package, called
pytorch_connectomics, that is pretty well made. By quick browsing of this
repo, I did not find the uniqueness of this repo compared to it.
https://github.com/zudi-lin/pytorch_connectomics

Best,
Jingpeng

On Tue, Aug 9, 2022 at 8:36 AM Øystein Sørensen ***@***.***>
wrote:

[2022-08-10 15:11] jingpengw commented on #4644
@editorialbot generate my checklist

[2022-08-10 15:40] jingpengw commented on #4644
@jgostick I have checked the list, is the review done?

[2022-08-10 15:51] hemmelig commented on #4217
I've had a look through the changes made in response to my review and am happy to say everything has been addressed. The new tests and the Idaho video example are great! I installed a fresh copy and ran the examples and everything worked just fine for me (Ubuntu 20.04, Python 3.8).

I realise the internal documentation requires a lot of time and effort, but it has definitely made it much clearer h

[2022-08-10 15:52] osorensen commented on #4645
@OllyK could you please provide a comment to this issue?

[2022-08-10 15:53] Xia-Yijie commented on #4467
@ojeda-e  and @hmacdope thanks for your comments! Your suggestions are very helpful to me, and I will answer these issues as soon as possible!

[2022-08-10 16:11] Viech commented on #4621
I have completed my review with some remarks below and will tick my remaining boxes when these points were addressed or discussed. Overall, I find that this is a small but nicely maintained and documented package whose scope could be described a bit better to a non-specialist audience.

## General checks

#### Substantial scholarly effort

Functionally this is a very small library: Excluding the `

[2022-08-10 16:47] OllyK commented on #4645
@jingpengw @osorensen Yes certainly. I was just holding off since the invitiation to review hasn't been accepted yet and was unsure if reacting to pre-judgement before the process has started would be constructive 😃
Thanks for pointing out the `pytorch_connectectomics` repo Jingpeng, it certainly looks impressive and appears to have a strong team behind it. Having just looked at it briefly, there

[2022-08-10 17:19] dhhagan commented on #4326
Hi @dkauf42 so sorry - got lost in my GitHub notifications. I will get to this within the next couple of hours.

[2022-08-10 17:20] dhhagan commented on #4412
Hey @slayoo so sorry about the delay - got lost in my GitHub notifications. I will get to this within the next hour.

[2022-08-10 17:23] jbytecode commented on #4561
@Vaibhavdixit02 - it seems we are close to the end, please take all of the latest suggestions into consideration and make your final edits. When you have done with them, please ping me here.

[2022-08-10 17:24] jbytecode commented on #4561
@editorialbot generate pdf

[2022-08-10 17:25] Vaibhavdixit02 commented on #4561
Yes, I'll get to it tomorrow, didn't get time for it today unfortunately!

[2022-08-10 17:30] jbytecode commented on #4577
@cprudhom - Just a friendly ping. Are you able to receive our messages? Could you please update your status?

[2022-08-10 17:50] osorensen commented on #4645
Thanks for the detailed answer, @OllyK. I have looked a bit at your repository myself, and my impression is that this is within scope for a review.

[2022-08-10 17:50] osorensen commented on #4645
@editorialbot add @jingpengw as reviewer

[2022-08-10 17:51] osorensen commented on #4645
👋 @michaelberks @vs74 would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-10 18:16] osorensen commented on #4659
@editorialbot assign @osorensen as editor

[2022-08-10 18:17] osorensen commented on #4659
👋 @tomfaulkenberry @cimentadaj @RMHogervorst @cimentadaj would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-10 18:25] tomfaulkenberry commented on #4659
@osorensen yes!  I'd be happy to review.  Thanks :)

[2022-08-10 18:34] hfmark commented on #4217
I'll echo Conor - @valentineap, it looks like you've addressed all my comments and then some. The updated paper text looks great, and the code all seems to work on my system (Ubuntu 18.04, Python 3.9) including the excellent new test suite. My checklist is all set!

[2022-08-10 18:44] dhhagan commented on #4326
@editorialbot generate pdf

[2022-08-10 18:44] dhhagan commented on #4326
@editorialbot check references

[2022-08-10 18:48] dhhagan commented on #4326
@editorialbot generate pdf

[2022-08-10 18:50] dhhagan commented on #4326
@dkauf42 Can you make a tagged release, archive it, and list the DOI and final version here? Please make sure when doing so that the title and authors list on the paper match that of the archive?

[2022-08-10 18:51] dhhagan commented on #4412
👋 @mdpetters @zzheng93 @maul1609 - do any of you have the time to review this manuscript for JOSS?

[2022-08-10 18:56] dkauf42 commented on #4326
@dhhagan, sure thing! Though just to double-check, do you mean archiving `gdess` with something like [zenodo.org](https://zenodo.org/)?

[2022-08-10 18:59] xuanxu commented on #4536
@editorialbot check references

DOI issue should be fixed now

[2022-08-10 19:02] xuanxu commented on #4536
The `[`and `]` characters were causing the DOI url being invalid, now they are escaped before calling the DOI API :+1:

[2022-08-10 19:07] danielskatz commented on #4536
Thanks!

[2022-08-10 19:41] dkauf42 commented on #4326
@dhhagan
Well, I just went ahead and archived it with zenodo, since I think that would make sense either way.

Here is the DOI of the archived release, with title and authors matching the paper: [10.5281/zenodo.6981643](https://doi.org/10.5281/zenodo.6981643)

[2022-08-10 19:52] schochastics commented on #4563
@akbaritabar Thanks for your comments. Below I address all the open points.

## General checks
**License**
I added an MIT license file to github. This is now also displayed in the right panel.

## Documentation

**example usage**
I added and revised the example from the README

**Community guidelines**
I added code of conduct for contributors which outlines the guidelines of contribution

## Softw

[2022-08-10 19:54] zzheng93 commented on #4412
Hi @dhhagan , thank you for inviting me! I apologize, but I will not be available within the coming weeks.

[2022-08-10 19:56] jbytecode commented on #4563
@editorialbot generate pdf

@schochastics - our bot recognizes commands if the command is located in the first line of the post.

[2022-08-10 20:09] osorensen commented on #4621
Thanks for your review @Viech!

Regarding scholarly scope, the [guidelines](https://joss.readthedocs.io/en/latest/submitting.html) state as some factors to consider, which I will consider point-by-point below, while trying to "think out loud".

Looking at the repository, I find that the software seems rather young, with the [first commit](https://github.com/NREL/graph-env/commit/53916fde31b74c5a81

[2022-08-10 20:32] idoby commented on #4621
@osorensen Just adding a comment here since I did check the respective checkbox. Following the discussion here I went back and checked the commit history in greater depth and found that a large number of commits are just one-liners or seem to be purely about cosmetics/experimenting with settings.

So I would suggest the authors

- document these successful (or less successful) configurations and e

[2022-08-10 20:44] antipa commented on #4259
Hi All,
   I am unfortunately over-subscribed so I need to pass this along to a
student of mine. Richard Oliveira, cc'd, has offered to help with the
review. If you're still looking for reviewers feel free to add him.

Nick

On Sun, Jul 24, 2022 at 10:45 PM Dana Solav ***@***.***>
wrote:

[2022-08-10 20:50] k-doering-NOAA commented on #4536
Thank you @xuanxu !!

[2022-08-10 21:02] nicholas512 commented on #4596
@kbarnhart

Thanks for those suggestions and for catching the bug with the ReadTheDocs.  Your comments have been integrated with the following notes:

* Version has been bumped to `1.2.0` in both the `main` and `joss` branches
* RE: item 3 - there was a bit of code that wasn't quite complete here (e.g. ensemble) that was intentionally omitted from the docs for that reason.  This incomplete code ha

[2022-08-10 21:39] meryemberradauwo commented on #4666
@editorialbot check references

[2022-08-10 21:43] meryemberradauwo commented on #4666
@editorialbot check references

[2022-08-10 21:44] meryemberradauwo commented on #4666
@editorialbot generate pdf

[2022-08-10 22:19] jingpengw commented on #4645
@editorialbot generate my checklist

[2022-08-10 22:24] cfranken commented on #4575
Apologies for the late replies, we just started going through everything. As for demos, we saw now that they are indeed deprecated. It is likely best to remove the demos from that specific folder and make them part of the documentation, so that they are run automatically with every push, allowing us to see deprecation issues immediately. Thanks for catching that. We will go through the remaining i

[2022-08-10 23:08] SotaYoshida commented on #4665
@editorialbot check references

[2022-08-10 23:11] SotaYoshida commented on #4665
@editorialbot check references

[2022-08-10 23:12] SotaYoshida commented on #4665
@editorialbot generate pdf

[2022-08-10 23:19] SotaYoshida commented on #4665
@editorialbot generate pdf

[2022-08-10 23:23] SotaYoshida commented on #4665
@editorialbot generate pdf

[2022-08-10 23:29] SotaYoshida commented on #4665
@danielskatz Thank you for your kind support.

No problem. I look forward to hearing from you.

[2022-08-11 00:50] amoeba commented on #4542
Hey there @majensen, I don't have capacity right now. Apologies.

[2022-08-11 01:31] Matthew-Jennings commented on #4555
Still underway, sorry. But we do have persons assigned to each of the items raised. I'll poke.

[2022-08-11 02:02] majensen commented on #4542
All - I have a colleague not in the review db that I will invite personally. Please stand by.

[2022-08-11 03:07] skiptoniam commented on #4646
One minor tweak.

[2022-08-11 03:07] skiptoniam commented on #4646
@editorialbot generate pdf

[2022-08-11 04:30] osorensen commented on #4555
Thank! It's no problem if it takes some time to address the issues, but please keep us posted.

[2022-08-11 04:32] osorensen commented on #4645
Thanks for starting your review @jingpengw, but since this is a pre review issue, you'll unfortunately have to do it again once I start the actual review issue. I'll start that review once we have 1-2 more reviewers confirmed. You'll be notified.

[2022-08-11 04:44] osorensen commented on #4621
Thanks @idoby! And for the record, you're also free to update your checklist, so that items are unchecked until certain issues have been fixed.

[2022-08-11 04:57] MarieRoald commented on #4434
@sara-02: Thank you, that's great!
@faroit: I believe we need at least two reviewers? I looked through the list again, and here are some additional candidates I found by broadening my search to people interested in data science/machine learning:

- canerturkmen
- 62442katieb
- jkbren
- TahiriNadia

And here are some more possible candidates (outside the list) familiar with Python and tensor decomp

[2022-08-11 05:14] jedbrown commented on #4519
I'm sorry to be slow catching up after our family got covid (via 2yo's childcare). @thohamm, thanks for your updates and comprehensive response. I think we still need a scope check with other editors in light of it being nominally general purpose (thus user is responsible for app-specific reliability checks/statistics/plotting), but the examples and known uses thus far are for VASP. The main quest

[2022-08-11 05:14] jedbrown commented on #4519
@editorialbot query scope

[2022-08-11 05:36] kauedesousa commented on #4405
Thanks for the reviews @istfer and @dlebauer

I'm in a duty travel and will work in your comments next week.

[2022-08-11 05:48] andyfaff commented on #4397
I don't think refnx has to be cited, but it would be good to mention other reduction codes apart from islatu, even if it's e.g. something like reductus.

[2022-08-11 07:13] matthewfeickert commented on #4480
@danielskatz over the last two night I've finished my review. I do have some comments and revision requests for the authors, so I will open up Issues on their GitHub repo (in the morning US time) and then link them in my review comments which I will post.

[2022-08-11 07:15] agricolab commented on #4595
I collaborate with @cbrnr on [LSL](https://github.com/sccn/labstreaminglayer) and [XDF](https://github.com/sccn/xdf), which might be considered a COI. Glad to see therefore that enough reviewers have already been found.

I am confident that MNELAB will find the reviewers approval. Looking forward to see it published.

[2022-08-11 07:16] agricolab commented on #4627
@editorialbot generate my checklist

[2022-08-11 07:23] ajohnson-uoregon commented on #4590
I'm attempting to make a new archive on Zenodo, but running into errors with the file upload (due to an unstable internet connection, I think). I'll try again overnight when my computer isn't running a bunch of other stuff and we'll see how it goes.

[2022-08-11 08:14] platipodium commented on #4366
One item remains as a todo before I can finish my review, see https://gitlab.ifremer.fr/resourcecode/resourcecode/-/issues/16

- [ ] State of the field: Do the authors describe how this software compares to other commonly-used packages?

[2022-08-11 08:18] Viech commented on #4621
I'm more into "classical" optimization than machine learning, so I would not know about suited core features to be added. However one could certainly add more interface features: Default implementations of the `while not done` main loop with options for detailed output/logging of what is going on and control over stopping criteria, ability to stop, save, load, and continue a search, plotting of (p

[2022-08-11 08:22] osorensen commented on #4621
Thanks @Viech. Then I suggest that the authors (@pstjohn) work along the lines proposed in your comment above, in addition to addressing the points raised in the review.

[2022-08-11 08:23] derNarr commented on #4515
@frankier thank you for your review and your good feedback. We are addressing some of your suggestions right now and might reach out to your for clarification on the others when we finished implementing the first round of improvements. Especially, on points 8. and 9. regarding the grapheme clusters and the support for ideograms / pictograms / logograms I would be happy about some more suggestions

[2022-08-11 08:23] agricolab commented on #4627
- [ ] Tests: The authors claim that their package is ["well-tested via both unit and integration tests"](https://pbotros.github.io/river/docs/contributing.html#contributing), but i failed to find code for the tests in the repo, and could not find a documentation on how to run the tests myself.
- [ ] Running the examples and installing the required dependencies resulted in an binary incompatibility

[2022-08-11 08:34] hendriks73 commented on #4554
@editorialbot generate my checklist

[2022-08-11 08:39] danasolav commented on #4259
@antipa, thank you for following up on this. Can you please share Richard's GitHub username or email?

[2022-08-11 08:41] danasolav commented on #4362
@jonmatthis thank you for confirming. Could you please check the missing boxes in your checklist?
@lambdaloop and @CVHammond , could you please take a look to see if you are satisfied with @davidpagnon's  answers and revisions, and update your checklists accordingly or raise new questions/comments if you have any?

[2022-08-11 08:41] BenjMy commented on #4620
@siavash-saki @martinfleis

I have completed an initial pass for tesspy (using the dev environment, on ubuntu 20.04).

Coming from the Geosciences community, I didn't know about Tesselation and appreciated the opportunity to read and review this paper and the code. I found the paper a little bit technical but it reads quite well (see my minor comments below). As for the code, I found some minor is

[2022-08-11 09:07] JanLeppert commented on #4565
@ma-sadeghi Thank you for your comments. They really helped to improve the package.

I addressed your two additional issues ([60](https://github.com/JanLeppert/GasChromatographySimulator.jl/issues/60), [61](https://github.com/JanLeppert/GasChromatographySimulator.jl/issues/61))

[2022-08-11 09:13] JanLeppert commented on #4565
@bonh Thank you also for your helpful comments. I think, I addressed the two last issues ([62](https://github.com/JanLeppert/GasChromatographySimulator.jl/issues/62), [50](https://github.com/JanLeppert/GasChromatographySimulator.jl/issues/50)). The example notebooks should be functional now and I added the text about contribution also to the documentation.

[2022-08-11 09:13] JanLeppert commented on #4565
@editorialbot generate pdf

[2022-08-11 10:08] blsqr commented on #2316
@arfon Sorry for pushing this again :/ Would you mind updating the JOSS database entry and then re-running the `reaccept` command on this paper? Otherwise the paper information remains wrong.

[2022-08-11 11:50] akbaritabar commented on #4563
## Letter to authors (as comment on review issue of JOSS)

Dear @schochastics, thanks a lot for the updates and revisions in the paper and repository.

I marked all points as finished below.

As a minor suggestion, if I may, please include in the readme of repository, a "Cite As" with APA style and Bibtex style of your JOSSS paper, so that those using the repository can cite the paper and package

[2022-08-11 11:56] jbytecode commented on #4563
@akbaritabar - thank you for reviewing and making a decision. After our reviewer @briatte completes their review I will start my editorial stuff and make a final decision.

@briatte - since we are mosly in vacation,  i always hesitate to ping our reviewers. If I am not bothering you, could you please update your status or at least set a deadline for your task?

thank you in advance,

[2022-08-11 12:23] fboehm commented on #4610
@danielskatz - yes, I'm happy to edit this submission! I'll start looking for reviewers.

[2022-08-11 12:24] fboehm commented on #4610
@editorialbot assign me as editor

[2022-08-11 12:25] fboehm commented on #4610
@DominiqueMaucieri - can you suggest several people who might have the background needed to review this submission? They can be from the JOSS reviewer list or they can be others. Thanks!

[2022-08-11 13:06] pdebuyl commented on #4329
Hi @sixpearls thanks for getting on to this :+1:

[2022-08-11 13:26] jonmatthis commented on #4362
Done! Sorry about that, I thought I already did that 😅

[2022-08-11 13:31] CVHammond commented on #4362
The changes made look great! The new GitHub repository looks professional and I like the Pose2Sim icon (whether it was made in jest or not, I won't know :sweat_smile:). Your responses to my concerns were more than satisfactory and I've updated my checklist.

[2022-08-11 13:41] editorialbot opened #4667 "[PRE REVIEW]: tpcp: Tiny Pipelines for Complex Problems - A set of framework independent helpers for algorithms development and evaluation"
**Submitting author:** @AKuederle (<a href="http://orcid.org/0000-0002-5686-281X">Arne Küderle</a>)
**Repository:** https://github.com/mad-lab-fau/tpcp/
**Branch with paper.md** (empty if default branch):
**Version:** v0.9.0
**Editor:** @adi3
**Reviewers:** @xtruan, @paxtonfitzpatrick
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/0514da651427ea2db6f76cacbd6b

[2022-08-11 13:41] editorialbot opened #4668 "[PRE REVIEW]: Precision-medicine-toolbox: An open-source Python package for facilitation of quantitative medical imaging and radiomics analysis"
**Submitting author:** @lavrovaliz (<a href="http://orcid.org/0000-0003-2751-790X">Elizaveta Lavrova</a>)
**Repository:** https://github.com/primakov/precision-medicine-toolbox
**Branch with paper.md** (empty if default branch):
**Version:** 0.11
**Editor:** @cMadan
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/a17ac9592a753f0932cdf570

[2022-08-11 13:42] editorialbot opened #4669 "[PRE REVIEW]: concore for Simulating Closed-Loop Peripheral Neuromodulation Control Systems"
**Submitting author:** @pradeeban (<a href="http://orcid.org/0000-0002-0335-0458">Pradeeban Kathiravelu</a>)
**Repository:** https://github.com/ControlCore-Project/concore/
**Branch with paper.md** (empty if default branch):
**Version:** 2.0.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/33db304ac54c24ce0897de76beb

[2022-08-11 13:42] editorialbot opened #4670 "[PRE REVIEW]: PyGRASP: A library to reconstruct dynamic contrast enhanced MR images acquired with radial sampling"
**Submitting author:** @cariyurek (<a href="http://orcid.org/0000-0002-1691-7097">Cemre Ariyurek</a>)
**Repository:** https://github.com/quin-med-harvard-edu/pyGRASP
**Branch with paper.md** (empty if default branch): main
**Version:** v1.0.0
**Editor:** @emdupre
**Reviewers:** @kerkelae, @curtcorum
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/800745f16160f

[2022-08-11 13:42] editorialbot opened #4671 "[PRE REVIEW]: Scarlet: Scalable Anytime Algorithms for Learning Fragments of Linear Temporal Logic"
**Submitting author:** @ritamraha (<a href="http://orcid.org/0000-0003-1467-1182">Ritam Raha</a>)
**Repository:** https://github.com/rajarshi008/Scarlet
**Branch with paper.md** (empty if default branch): main
**Version:** v0.0.1
**Editor:** @adi3
**Reviewers:** @mmpourhashem, @JDRomano2
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/3ac517d031aef9870d496296a

[2022-08-11 13:49] danielskatz commented on #4667
@AKuederle -  Please fix the invalid DOI that editorialbot mentions. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be the first entry in a new comment.

Also, in the paper, when you reference a citati

[2022-08-11 13:50] danielskatz commented on #4667
👋 @adi3 - would you be willing to edit this submission?

[2022-08-11 13:51] danielskatz commented on #4667
@editorialbot invite @adi3 as editor

[2022-08-11 13:52] adi3 commented on #4667
@editorialbot assign @adi3 as editor

[2022-08-11 13:53] danielskatz commented on #4671
👋 @adi3 - I wonder about your editing this submission as well.  This will be the third invitation to you, and I know you only have 2 empty slots now, so if you can't take all three, please take the two you choose and let the AEiCs know which you can't take

[2022-08-11 13:53] danielskatz commented on #4671
@editorialbot invite @adi3 as editor

[2022-08-11 13:54] adi3 commented on #4667
@AKuederle - I'll be the editor for this review. To get things going, could you please suggest 5-6 reviewers from this list that you consider appropriate to vet [this](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) paper? While selecting, you should confirm that the domain expertise of the reviewer matches the subject matter of your paper an

[2022-08-11 13:54] danielskatz commented on #4671
👋 @ritamraha - thanks for your submission.  Please check on the possibly missing DOI that editorialbot suggests, but note that it may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be the

[2022-08-11 13:55] adi3 commented on #4671
@editorialbot assign @adi3 as editor

[2022-08-11 13:56] danielskatz commented on #4671
Also, @ritamraha, I see your submission note to JOSS

Can you explain the differences in more detail?

@adi3 - please be aware of this and see if we need a scope check

[2022-08-11 13:56] adi3 commented on #4671
@ritamraha - I'll be the editor for this review. To get things going, could you please suggest 5-6 reviewers from [this](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) list that you consider appropriate to vet this paper? While selecting, you should confirm that the domain expertise of the reviewer matches the subject matter of your paper an

[2022-08-11 13:57] danielskatz commented on #4586
👋 @adi3 - this is the other paper you were invited to edit.  If you can take it too, please do.  If not, please let me know.

[2022-08-11 13:58] AKuederle commented on #4667
Thanks for the pointers! Should be fixed now

[2022-08-11 13:58] danielskatz commented on #4670
@editorialbot set main as branch

[2022-08-11 13:58] danielskatz commented on #4670
@editorialbot check repository

[2022-08-11 13:58] danielskatz commented on #4670
@editorialbot check references

[2022-08-11 13:58] danielskatz commented on #4670
@editorialbot generate pdf

[2022-08-11 14:05] pradeeban commented on #4669
Thanks, @editorialbot. The suggested DOIs are correct. I have added the DOIs to the paper now and committed to GitHub.

[2022-08-11 14:05] danielskatz commented on #4670
@cariyurek - I'm not sure exactly what the problem is here. You might want to try removing the blank lines in your paper's metadata section and more closely following the [JOSS example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).  Also, your paper needs a "Statement of Need" section.

[2022-08-11 14:05] AKuederle commented on #4667
@adi3 Thanks for agreeing to review another one of our submission!
I will have a look at the reviewer list and see if I can resolve the remaining DOI issues.

Co-Authors FYI: @richrobe @RaulSimpetru @eskofier

[2022-08-11 14:07] pradeeban commented on #4669
@editorialbot commands

[2022-08-11 14:08] pradeeban commented on #4669
@editorialbot generate pdf

[2022-08-11 14:08] danielskatz commented on #4669
@editorialbot check references

[2022-08-11 14:10] danielskatz commented on #4668
@lavrovaliz - Thanks for your submission.

Please work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be th

[2022-08-11 14:12] danielskatz commented on #4669
@pradeeban - I see your submission note to the editor

Can you explain how this submission is different than the IEEE Access publication?

[2022-08-11 14:15] AKuederle commented on #4667
@adi3 Potential Reviewers (are screened for expertise in Python and DataScience/ML in general or experience with the creation of higher level frameworks):

trallard
kvnamipara
nilesh-patil
ygrange
Zac-HD
a-slide
https://bitbucket.org/petar/  <- Did not add a Github username
fabianomenegidio

I did not "@" anyone to avoid spam

[2022-08-11 14:18] danielskatz commented on #4668
@editorialbot invite @cMadan as editor

[2022-08-11 14:53] IndrajeetPatil commented on #4659
@osorensen I am not sure how many reviewers are typically required, but here are a few more suggestions:

- trinker
- garretrc
- MatthewSmith430
- cdcrabtree
- jakobbossek
- tweed1e

[2022-08-11 15:21] pradeeban commented on #4669
Hi @danielskatz,
A few points:

* The IEEE Access paper is about the broad CONTROL-CORE framework/umbrella and significantly focuses on neuroscience. This paper focuses on the concore open source project in a more simplistic, less overwhelming manner.

* At the time of the IEEE Access paper submission, the CONTROL-CORE framework was merely an open-source project. We quickly opened the source code

[2022-08-11 15:35] danielskatz commented on #4592
Hi @azoitl and @hwloidl - pinging again: It looks like you both are satisfied with this to proceed to publication based on your checklists. Is this correct?

[2022-08-11 15:35] danielskatz commented on #4592
@editorialbot generate pdf

[2022-08-11 15:41] danielskatz commented on #4669
Thanks - I think the next step should be for editors to look at this and make sure we think there is enough difference from the previous publication before we start a review. This should take a week or two.

[2022-08-11 15:41] danielskatz commented on #4669
@editorialbot query scope

[2022-08-11 15:41] bonh commented on #4565
Thanks, @JanLeppert . There seems to be something wrong with the reference starting line 100.

[2022-08-11 15:41] lambdaloop commented on #4362
I am satisfied with the answers and would like to approve this project. Thank you for contributing this to the open source community!

[2022-08-11 15:56] cMadan commented on #4668
@editorialbot assign @cMadan as editor

[2022-08-11 16:00] JanLeppert commented on #4565
@bonh Yes, the name of the 4th author is in greek letters and only the capital greek letters are printed in the pdf. The name is written this way in the exported bibtex-file from the [Zenodo-doi](https://zenodo.org/record/6234110/export/hx#.YvUleexBxhE). I never had this case before.

[2022-08-11 16:13] bonh commented on #4565
Perhaps @rkurchin knows a trick?

[2022-08-11 16:17] bonh commented on #4565
Sorry, I just added a last issue. I think that's it.

[2022-08-11 16:23] rkurchin commented on #4565
I haven't seen that issue before, but my first instinct would be to tweak the .bib entry to use the TeX way of specifying Greek characters (i.e. `\Pi \alpha \nu ...`) and see if that fixes it. If that doesn't work, we can tag in someone more familiar with the back end of the typesetting.

[2022-08-11 16:30] lucydot commented on #4459
Hello @VHchavez a prompt again for any updates, or approximate timescales?

[2022-08-11 16:34] lucydot commented on #4402
I'm pleased to say we have a second reviewer - welcome @Rupali-Sahu ✨

@StanczakDominik do you still have availability to look at this?

[2022-08-11 16:38] StanczakDominik commented on #4402
Yup! Let's get to it :)

[2022-08-11 16:38] lucydot commented on #4333
@CFGrote a little prompt for the previous message. If you are happy to recommend acceptance, please tick the remaining box on your checklist and let me know in this thread. Thank you!

[2022-08-11 16:39] lucydot commented on #4402
Excellent :D

[2022-08-11 16:39] lucydot commented on #4402
@editorialbot add @StanczakDominik as reviewer

[2022-08-11 16:39] lucydot commented on #4402
@editorialbot add @Rupali-Sahu as reviewer

[2022-08-11 16:42] lucydot commented on #4402
Ok @Rupali-Sahu @StanczakDominik, I'm going to ask our editorial bot to start the review thread (this is the _pre_-review thread), so our conversation will move across there - a link will pop up below. There will be a message at the top explaining next steps. If you have any questions at all, then please ask 👾

[2022-08-11 16:43] lucydot commented on #4402
@editorialbot start review

[2022-08-11 16:43] editorialbot opened #4672 "[REVIEW]: 'HallThruster.jl: a Julia package for 1D Hall thruster discharge simulation'"
**Submitting author:** @archermarx (<a href="http://orcid.org/0000-0003-3614-6127">Thomas Marks</a>)
**Repository:** https://github.com/UM-PEPL/HallThruster.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.0
**Editor:** @lucydot
**Reviewers:** @StanczakDominik, @Rupali-Sahu
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/ce9cb7aa54df10d69ed248912e5

[2022-08-11 16:43] #4402 closed

[2022-08-11 16:45] lucydot commented on #4402
One final note is that I'm going on holiday for a week! Will be back 20th Aug.

[2022-08-11 16:45] lucydot commented on #4624
A quick note to say I am holiday for one week - will be back 20th August.

[2022-08-11 17:21] cariyurek commented on #4670
@editorialbot generate pdf

[2022-08-11 17:30] meryemberradauwo commented on #4666
@danielskatz Hello, I added a file which shows the full length of our code (1184 lines). The sourcecode.m file only shows the short version of the script (443 lines).

[2022-08-11 17:39] danielskatz commented on #4666
@meryemberradauwo - I'm sorry, but this isn't really following the spirit of open source. A file in a repo called `FullAppSourceCode` isn't something that users or reviewers will understand.  And now I'm very confused about what you are asking JOSS to review.

[2022-08-11 17:54] cariyurek commented on #4670
@editorialbot generate pdf

[2022-08-11 18:02] cariyurek commented on #4670
@editorialbot generate pdf

[2022-08-11 18:08] meryemberradauwo commented on #4666
@danielskatz Hello, I apologize for the confusion. This is my first time trying to publish an application so please bare with me. Would I be allowed to (1) delete the .m file and (2) rename the recently uploaded file "sourcecode" ? To clarify, the .m file only shows the script for the equations used, while the file recently uploaded shows the complete script used to create the application.

[2022-08-11 18:23] wimvanderbauwhede commented on #4590
@danielskatz Oops, sorry about that! All ticked now

[2022-08-11 18:24] cariyurek commented on #4670
@editorialbot generate pdf

[2022-08-11 18:25] danielskatz commented on #4590
thanks @wimvanderbauwhede & @tokuso2 - we're ready to go when @ajohnson-uoregon gets the new archive in

[2022-08-11 18:28] cariyurek commented on #4670
@editorialbot generate pdf

[2022-08-11 18:30] danielskatz commented on #4666
Hi - you can make whatever changes you wish at this point.  We just need to get to a point where it's clear to editors and reviewers what is being submitted and what should be reviewed, then we will need to consider if it meets JOSS's [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements), then we would start the process of assigning an editor, the

[2022-08-11 18:32] danielskatz commented on #4670
@editorialbot check references

[2022-08-11 18:32] samhorsfield96 commented on #4363
Hi @cagret, many thanks for your reply.

[2022-08-11 18:34] danielskatz commented on #4670
@cariyurek - can you try removing the blank link in a bib entry (line 24) in your bib file, then try this command again?

[2022-08-11 18:36] danielskatz commented on #4670
Also, we don't currently have any appropriate editors with availability for additional papers, so I'm going to put this on our waitlist for now.

[2022-08-11 18:42] meryemberradauwo commented on #4666
@danielskatz Perfect, thank you for clarifying! I have made the change. Please let me know if the files are not clearly labelled. Thank you!

[2022-08-11 18:46] danielskatz commented on #4666
Do you want to change `SourceCode` to something less generic?  Perhaps `Rho`?  and add an extension (`.m`)?

[2022-08-11 18:58] meryemberradauwo commented on #4666
@danielskatz Great, thank you for the advice. I updated the file (Rho.mlapp now) which opens in MatLab App Designer, and edited the ReadMe file to explain this.

[2022-08-11 19:00] cariyurek commented on #4670
@editorialbot generate pdf

[2022-08-11 19:02] cariyurek commented on #4670
@editorialbot check references

[2022-08-11 19:04] vc1492a commented on #4559
Hi @kellyrowland thanks for reaching out. The work looks interesting but a bit out of my wheel house.

[2022-08-11 19:04] DominiqueMaucieri commented on #4610
@fboehm perhaps jhollist, SteveViss or ethanwhite

[2022-08-11 19:05] cariyurek commented on #4670
@editorialbot generate pdf

[2022-08-11 19:09] ajstewartlang commented on #4525
Thanks @robchallen - I've now started contacting possible reviewers for your submission.

[2022-08-11 19:09] ajstewartlang commented on #4525
@editorialbot add @debruine as reviewer

[2022-08-11 19:16] cariyurek commented on #4670
@danielskatz Thank you. I believe I have fixed the bib file now.

[2022-08-11 19:20] danielskatz commented on #4670
@editorialbot check references

let's fine out :)

[2022-08-11 19:20] fboehm commented on #4610
@jhollist @SteveViss - would you be willing to review this submission for JOSS? Our reviews are checklist-driven. Thanks!

[2022-08-11 19:20] fboehm commented on #4610
@editorialbot list reviewers

[2022-08-11 19:21] danielskatz commented on #4670
Please check on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be the first entry in a new comment.

[2022-08-11 19:25] fboehm commented on #4610
@ha0ye @juanvillada @ViniciusBRodrigues @shaunpwilkinson - would you be willing to review this submission for JOSS? Our reviews are checklist-driven. Please feel free to ask me any questions if you're unfamiliar with our review process. Thanks!

[2022-08-11 19:36] azoitl commented on #4592
@danielskatz  yes this is correct. I'm satisfied with this paper and it is ready for publication.

[2022-08-11 19:43] davidpagnon commented on #4362
Thank you all for your feedback, it was truly useful and pertinent!

@CVHammond, to be honest, I know close to nothing about Javascript, and I didn't even know about Jest. Do you refer to the testing, or to the icon? I drew the Icon with [Inkscape](https://inkscape.org/), and the tests with a [github action](https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

[2022-08-11 19:55] danielskatz commented on #4592
@hwloidl - I'm going to assume you are also satisfied (based on your completed checklist) and go ahead - please say something if this is incorrect.

[2022-08-11 19:56] danielskatz commented on #4592
👋 @baptisteCoye - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author

[2022-08-11 20:02] joshwlambert commented on #4491
Hi @Bisaloo , @alexskeels, & @vboussange.

Firstly, thank you @vboussange for the comments. I will use the specific comments to improve the package.

@alexskeels Apologies for not replying sooner. I am finishing my PhD at the moment and will be submitting the next couple of weeks, and so have been extremely busy. I'm afraid I do not think I'll be able to get to the technical issues that prevented

[2022-08-11 20:49] arfon commented on #4666
@editorialbot check repository

[2022-08-11 20:53] matthewfeickert commented on #4480
Thanks for your submission and software @itepifanio. I normally paste my full review based on the checklist here, but to reduce the length of the thread I am going to just link to my review checklist comment: https://github.com/openjournals/joss-reviews/issues/4480#issuecomment-1156588361. As always, the review is following the [JOSS paper review criteria](https://joss.readthedocs.io/en/latest/rev

[2022-08-11 21:04] matthewfeickert commented on #4480
I also forgot to mention that I reviewed [`ipyannotator` `v0.8.3`](https://github.com/palaimon/ipyannotator/tree/v0.8.3) and from the other comments it seems that @csadorf did the same (or with `v0.8.2`). However, the review is listed for `v0.8.1`. Can we have `editorialbot` update the review version listed in https://github.com/openjournals/joss-reviews/issues/4480#issue-1272281133?

[2022-08-11 21:04] ha0ye commented on #4610
I am not able to commit to any reviews at this time. Perhaps one of @gmyenni, @emchristensen, @diazrenata may be interested.

[2022-08-11 21:23] ddhendriks commented on #4642
Dear @trappitsch , @schristophe ,

We are currently developing the code through our university enterprise Gitlab environment, which indeed requires either a Surrey University account or a google account workaround. To still allow anyone to submit issues we have a mirror repository on the normal Gitlab platform: [https://gitlab.com/binary_c/binary_c-python/-/issues/new](https://gitlab.com/binary_c/

[2022-08-11 22:26] danielskatz commented on #4480
We will update the version at the end of the process with whatever the version is that includes any changes made during the process.

[2022-08-11 22:56] kbarnhart commented on #4596
@nicholas512 - thanks for making these changes and for your comments explaining your approach. All makes sense to me. In the next few days I'll start soliciting reviewers. I do this both over email and over github, so not all activity will be reflected here immediately.

[2022-08-11 22:59] cariyurek commented on #4670
@editorialbot check references

[2022-08-11 23:00] cariyurek commented on #4670
@editorialbot generate pdf

[2022-08-11 23:09] cariyurek commented on #4670
@editorialbot generate pdf

[2022-08-11 23:16] lavrovaliz commented on #4668
@editorialbot check references

[2022-08-11 23:21] lavrovaliz commented on #4668
@editorialbot check references

[2022-08-11 23:24] lavrovaliz commented on #4668
@editorialbot generate pdf

[2022-08-11 23:29] lavrovaliz commented on #4668
@editorialbot check references

[2022-08-11 23:30] lavrovaliz commented on #4668
@editorialbot generate pdf

[2022-08-11 23:51] ViniciusBRodrigues commented on #4610
Hi there. I'm glad to help.

[2022-08-12 00:49] diazrenata commented on #4610
I'd be happy to, if needed!

[2022-08-12 07:28] oliviaguest commented on #4600
### Authors
@jagnobli @xi thanks for taking the time to try and digest what is being said. I suggest, for now, to apply the ```paused``` label to allow you to apply the changes to the documentation and anything (other than the community contributions issues) that the reviewers have signposted without any further (required) back and forth. Please feel free to take your time and, if you can, only co

[2022-08-12 07:37] oliviaguest commented on #4657
this might be an appropriate one for @samhforbes, so when he has his permissions to edit for JOSS up, might be good to ping him 😊

[2022-08-12 07:39] JanLeppert commented on #4565
@rkurchin `\alpha` is ignored by the compiler. Using `$\alpha$` prints as `\alpha` in the document. For the greek characters, like , a warning is given by the compiler
`Warning:  Missing character: There is no γ (U+03B3) (U+03B3) in font [lmsans10-regular]:+tlig;!`
The regular font of the paper has no characters for the small greek letters.

Would it be appropriate to change the name to a version

[2022-08-12 07:56] JulianKarlBauer commented on #4389
Thank you @likask for the valuable feedback and sorry for the late reply, I survived Covid and earned a phd in the meantime :)

Adding routines and methods for non-classical continuum problems is indeed a valuable future topic! Are you an expert in this field?

--------------------------------------------

Thank you for pointing out the possible improvement in `CONTRIBUTING.md`. I followed your ad

[2022-08-12 08:06] JulianKarlBauer commented on #4389
Thank you @lizarett for pointing out the potential to improve the documentation, I guess I have a blind spot here.
Up to now my strategy has been to give reasonable [examples](https://mechkit.readthedocs.io/en/latest/source/example_notebooks.html), as examples are straight forward. Are you more interested in a kind of list of functions like in the sub-chapters of the docs or details on argument ty

[2022-08-12 08:47] Zitzeronion commented on #4556
Yesterday I worked on the remaining points @jbytecode. For the release of the JOSS paper I thought it would be nice to get rid of the warnings during testing, so I created an issue and a PR with a possible solution.
Overall I think the package is good and has a clear scientific use case.
Minor criticism:
1. Function style could be improved
For example in *BRICK_DOECLIM.jl* from line 99 to line 122

[2022-08-12 08:58] swatimanekar commented on #4363
@lpantano I have updated the checklist

[2022-08-12 09:51] schristophe commented on #4642
@eloisabentivegna Is it ok if we submit issues in a mirror repository?

[2022-08-12 09:55] baptisteCoye commented on #4592
Here is the DOI of the archived version : 10.5281/zenodo.6984771

[2022-08-12 10:14] Athene-ai commented on #4622
@editorialbot generate my checklist

[2022-08-12 10:44] Athene-ai commented on #4622
I have just finished my review and here below are some additional comments.

Additional comments:

_Contribution and authorship_: Seem that in the contribution description is missing

-Installation_: The reviewer suggests expanding the installation description especially if the package will be installed by a newbie

_Example usage_: This part should be implemented

_Functionality documentation_ an

[2022-08-12 11:53] Natsiopoulos commented on #3496
Hello @sbenthall and @arfon
We fixed most oft he reviewer's suggestions, and we are working on one last issue.

[2022-08-12 11:57] wouterpeere commented on #4406
Hi @jasondegraw, was everything clear w.r.t. the installation of GHEtool?

[2022-08-12 12:01] bonh commented on #4565
I am done with my review. After the reference issue is resolved I recommend publication. Thanks, @JanLeppert !

[2022-08-12 12:23] danielskatz commented on #4592
@editorialbot set 10.5281/zenodo.6984771 as archive

[2022-08-12 12:23] danielskatz commented on #4592
@editorialbot set 1.0.0 as version

[2022-08-12 12:24] danielskatz commented on #4592
@editorialbot recommend-accept

[2022-08-12 12:26] danielskatz commented on #4592
@editorialbot accept

[2022-08-12 12:38] danielskatz commented on #4592
Congratulations to @baptisteCoye (Baptiste Coye) and co-authors!!

And thanks to @azoitl and @hwloidl for reviewing!
We couldn't do this without you

[2022-08-12 12:38] #4592 closed

[2022-08-12 13:13] baptisteCoye commented on #4592
Thanks a lot @danielskatz @hwloidl and @azoitl

[2022-08-12 14:12] siavash-saki commented on #4620
@BenjMy

Thank you very much for putting time and effort into reviewing `tesspy`. Each and every comment of yours is genuinely improving this package, as we've seen during the past few days.

I created issues for the tasks you mentioned. They will be addressed in the next few days. I can also answer some of your general questions here:

- Installation:
  - We currently use CI to release on PyPI bu

[2022-08-12 14:20] editorialbot opened #4673 "[PRE REVIEW]: EEG WEAVER REPORTER. A open source app for neurophysiologic reports."
**Submitting author:** @paulokanda  (<a href="http://orcid.org/0000-0002-0959-0540">Paulo Afonso Medeiros Kanda</a>)
**Repository:** https://github.com/paulokanda/EEG_Weaver_Reporter.git
**Branch with paper.md** (empty if default branch): main
**Version:** v1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/5e8db0bcda0d

[2022-08-12 14:21] arfon commented on #4673
@editorialbot set main as branch

[2022-08-12 14:21] arfon commented on #4673
@editorialbot check repository

[2022-08-12 14:22] fboehm commented on #4610
@editorialbot add @ViniciusBRodrigues as reviewer

[2022-08-12 14:22] fboehm commented on #4610
@editorialbot add @diazrenata as reviewer

[2022-08-12 14:23] fboehm commented on #4610
@editorialbot start review

[2022-08-12 14:23] editorialbot opened #4674 "[REVIEW]: quadcleanR: An R Package for the Cleanup and Visualization of Quadrat Data"
**Submitting author:** @DominiqueMaucieri (<a href="http://orcid.org/0000-0003-1849-2472">Dominique G. Maucieri</a>)
**Repository:** https://github.com/DominiqueMaucieri/quadcleanR
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.1
**Editor:** @fboehm
**Reviewers:** @ViniciusBRodrigues, @diazrenata
**Archive:** 10.5281/zenodo.7222742

## Status

[![status](https://joss.theoj.o

[2022-08-12 14:23] #4610 closed

[2022-08-12 14:23] stephen-e-cox commented on #3386
There's a fundamental problem here that you guys have already noted: no one outside of our user group has the hardware necessary to test this software, but none of us are really independent reviewers. I think all of us as users have probably made a (comparatively very small) number of contributions to the code, have regularly corresponded with Jake about new features and troubleshooting, and are b

[2022-08-12 14:28] arfon commented on #4673
@paulokanda – many thanks for your submission to JOSS. It looks like your submission is missing a `paper.md`, and an open source license. Please review our submission guidelines and make sure you have included a paper in your repository: https://joss.readthedocs.io/en/latest/submitting.html

Also, I expect that this submission is not eligible to go out for review at JOSS as the software quality lo

[2022-08-12 14:28] arfon commented on #4673
@editorialbot query scope

[2022-08-12 14:31] oliviaguest commented on #4614
@editorialbot invite @samhforbes as editor

[2022-08-12 14:31] sixpearls commented on #4329
Hi @rogersamso and co-authors, I have a few questions/comments for you before I can recommend acceptance:

### Paper

- [ ] I found the PySD references confusing. The J. Houghton 2014 reference points to a zenodo archive of version 3.5.0 released in July 2022. The earliest version on that DOI is version 2.0.0 from November 2021. I don't think it makes sense for the reference to be dated 2014 since

[2022-08-12 14:32] oliviaguest commented on #4614
haha, OK soon 😊

[2022-08-12 14:37] samhforbes commented on #4614
@editorialbot invite @samhforbes as editor

[2022-08-12 14:41] aseyq commented on #4622
I've also finished my review and here are my comments:

The paper introduced Black-it, a calibration tool which helps finding sets of parameters to fit the empirical data best for ABMs in Python. The core functionality works in three steps: it samples from the potential set of parameters, simulates for the selected parameters, and evaluates the fit with a loss function. In my opinion, the software

[2022-08-12 14:42] arfon commented on #4614
@samhforbes – you can just say `@editorialbot assign me as editor`

[2022-08-12 14:43] samhforbes commented on #4614
@editorialbot assign me as editor

[2022-08-12 14:44] arfon commented on #4614
@editorialbot list editors

[2022-08-12 14:44] oliviaguest commented on #4614
oh, wonderful!

[2022-08-12 14:45] arfon commented on #4614
@oliviaguest – you should have editorial superpowers now. Can you try `@editorialbot assign @samhforbes as editor`

[2022-08-12 14:46] oliviaguest commented on #4614
@editorialbot assign @samhforbes as editor

[2022-08-12 14:46] oliviaguest commented on #4614
@arfon could I have done ```invite``` too?

[2022-08-12 14:47] arfon commented on #4614
Yep, invites should work now too. I just needed to add you to the `joss-eics` GitHub team.

[2022-08-12 14:50] oliviaguest commented on #4657
@editorialbot invite @samhforbes as editor

[2022-08-12 14:52] samhforbes commented on #4657
@editorialbot assign me as editor

[2022-08-12 14:56] oliviaguest commented on #4670
@emdupre do you have capacity/time for this?

[2022-08-12 14:59] editorialbot opened #4675 "[PRE REVIEW]: {histoc} histocompatibility functions for organ transplantation"
**Submitting author:** @balima78 (<a href="http://orcid.org/0000-0001-9090-4457">Bruno A Lima</a>)
**Repository:** https://github.com/txopen/histoc
**Branch with paper.md** (empty if default branch):
**Version:** 0.2.0
**Editor:** @crvernon
**Reviewers:** @turgeonmaxime, @aj2duncan
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/1913c20af5e50aa41711781623339c9

[2022-08-12 15:01] enekomartinmartinez commented on #4329
Thanks for your comments @sixpearls
- I will review the references, in any case, I want to drop Zenodo's DOI as soon this paper is published. That may be an error I have done
- I will update the references to figures in the paper
- The main changes from 3.0.0 to the lastest have been new functions and some bug fixes. We can update the version is mentioned in the paper just to keep the last one. Ho

[2022-08-12 15:04] danielskatz commented on #4675
👋 @balima78 - thanks for your submission.  Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

In addition, you could work on the invalid DOI that editorialbot suggests. In addition, your use of references in your .md file is not correct, as you can see in the generated PDF. Please follow the [exa

[2022-08-12 15:06] danielskatz commented on #4585
If you can, that would be great. Even if there's a delay on your side, it's probably going to be less than waiting for another editor.  I'll go ahead and assign it you - thanks!!

[2022-08-12 15:06] danielskatz commented on #4585
@editorialbot assign @hugoledoux as editor

[2022-08-12 15:06] siavash-saki commented on #4620
@martinfleis Oh thanks for the hint. Good to know :)

[2022-08-12 15:07] danielskatz commented on #4640
👋 @Nikoleta-v3 - just a ping on this invitation to edit ☝️

[2022-08-12 15:27] AJQuinn commented on #4564
Hi @Kevin-Mattheus-Moerman and @vferat.

First, apologies for the horrendous delay in this review. I was not able to complete it prioir to taking time away from work for house and job moves... I hope this wasn't too frustrating.

I have completed a review and will add the details on the project repo. The short summary is that I'm very impressed with the code quality, rigour and testing used in thi

[2022-08-12 15:27] AJQuinn commented on #4564
@editorialbot generate my checklist

[2022-08-12 15:32] sbenthall commented on #4536
@editorialbot assign me as editor

[2022-08-12 15:35] sbenthall commented on #4536
@Ecosantos Would you be able to review this submission?

[2022-08-12 15:44] sixpearls commented on #4329
The PySD cookbook provides the type of documentation that is needed. Please provide a prominent link the readme and docs website. Another possibility is to insert the teacup page from the cookbook in place of the "getting started" page of the current documentation.

[2022-08-12 15:53] jbytecode commented on #4556
@editorialbot remind @tpoisot in three days

Dear all,

It seems our reviewer @tpoisot is not able to receive our messages or doesn't have enough time to come back. I am setting a reminder now.

I am kindly re-inviting @tpoisot for reviewing this submission. We would be honored if they came back to review.

If we fail to get a response again, we have to find an other reviewer.

Thank you in advanc

[2022-08-12 17:02] cosimameyer commented on #4657
Thanks for being the editor, @samhforbes 😊 I'm not sure how many reviewers are required but I had another look at the list and think they might be also a good fit (in addition to the ones I named above):

- gabett
- chrisaberson
- dhvalden
- nhtran93

[2022-08-12 17:10] balima78 commented on #4675
@editorialbot commands

[2022-08-12 18:15] hwloidl commented on #4592
@danielskatz Yes, confirming that I'm happy with the submission and ok to publish (as has happened already. Sorry for the delay in picking up this communication

[2022-08-12 18:16] hwloidl commented on #4592
@baptisteCoye thanks for submitting to EuroPar22 and to the special issue in JOSS as well! The extra effort in making this a validated open-source packages is much appreciated!

[2022-08-12 19:02] rkurchin commented on #4565
Thanks, reviewers!

@JanLeppert, I've reached out to the JOSS leadership team about this typesetting issue and will let you know how to proceed as soon as I hear back! Thanks for your patience in the meantime.

[2022-08-12 19:26] adibender commented on #4522
I've left an issue regarding the Example Usage vignette here: https://github.com/nhejazi/haldensify/issues/37
Otherwise good to go from my side

[2022-08-12 19:58] Kevin-Mattheus-Moerman commented on #4564
@AJQuinn thanks for getting back to us, and for starting the review. Note you may have to call `@editorialbot generate my checklist` again, sometimes our bot is stuck on something else and it appears not to work. @openjournals/dev might be working on a fix for this but for the moment please try again.

[2022-08-12 21:43] arfon commented on #4415
@editorialbot set 10.5281/zenodo.6949489 as archive

[2022-08-12 21:43] arfon commented on #4415
@editorialbot recommend-accept

[2022-08-12 21:52] arfon commented on #4415
@editorialbot accept

[2022-08-12 21:52] arfon commented on #4602
:wave: @ivastar – just checking in here to see how you're getting on with your review?

[2022-08-12 21:54] arfon commented on #4508
Apologies for the delay, was out on holidays 🏕️.

@temuller – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive i

[2022-08-12 21:55] arfon commented on #4457
Awesome news, thanks so much @cescalara!

@ptiede – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same

[2022-08-12 21:58] arfon commented on #3896
Yes, please let us know if you're satisfied with these changes.

[2022-08-12 21:59] arfon commented on #4415
@joethorley, @ChristopherLucas, @zhiiiyang – many thanks for your reviews here and to @terrytangyuan for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@flyaflya – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-12 21:59] #4415 closed

[2022-08-12 22:02] arfon commented on #3119
Better late than never @Midnighter! Thanks so much for getting to this.

@sbillinge @CJ-Wright – looks like there's some additional feedback from @Midnighter here. Can you take a look and let us know your response? Many thanks!

[2022-08-12 22:03] arfon commented on #4312
Thanks @mbernaschi! @Zitzeronion – could you take a look at the feedback from @mbernaschi and let us know your response/changes?

[2022-08-12 22:20] ptiede commented on #4457
First, @cescalara and @mileslucas thanks for all your hard work the package is much better now!

The most recent version of Comrade has all the requested updates during the referee process. I have gone ahead and created a zenodo release for the most recent version the doi is:

https://doi.org/10.5281/zenodo.6977819

Let me know if you need anything else!

[2022-08-12 22:29] lizarett commented on #4389
@JulianKarlBauer i mean list of functions collected in one place. in my view, table formats with functions-explanation-arguments work well as a part of the documentation. please, see examples here down the page https://uk.mathworks.com/help/matlab/math/choose-an-ode-solver.html , maybe, something like this is suitable.

[2022-08-12 23:27] ajohnson-uoregon commented on #4590
Okay I gave up on Zenodo, the internet connection between them and me is too flaky. It's now archived on figshare: https://doi.org/10.6084/m9.figshare.20483967

[2022-08-13 00:04] danielskatz commented on #4590
@editorialbot set https://doi.org/10.6084/m9.figshare.20483967.v1 as archive

[2022-08-13 00:05] danielskatz commented on #4590
@editorialbot set joss22+europar22 as version

[2022-08-13 00:05] danielskatz commented on #4590
@editorialbot recommend-accept

[2022-08-13 00:25] danielskatz commented on #4590
@editorialbot accept

[2022-08-13 00:57] danielskatz commented on #4590
Congratulations to @ajohnson-uoregon (Alister Johnson) and co-authors!!

And thanks to @wimvanderbauwhede and @tokuso2 for reviewing!
We couldn't do this without you

[2022-08-13 00:57] #4590 closed

[2022-08-13 03:54] tonyewong commented on #4556
I suspect @tpoisot is simply [still offline](https://github.com/openjournals/joss-reviews/issues/4487#issuecomment-1174068872).

I'm happy to either use their [previous post](https://github.com/openjournals/joss-reviews/issues/4487#issuecomment-1174056698) in the pre-review issue and address the points they raised there, or to wait to hear from them when they return, or to hunt for an alternative

[2022-08-13 06:56] jbytecode commented on #4556
okay, that sounds good, you can apply the suggestions and wait them to come back and check to whole stuff.

[2022-08-13 07:12] Xia-Yijie commented on #4467
@ojeda-e and @hmacdope I have answered the issues and finished all the tasks.

[2022-08-13 09:05] winstonyym commented on #4664
@editorialbot generate my checklist

[2022-08-13 09:24] lwang-astro commented on #4483
@webbjj  I have tried the profile.ipynb and the problem occur again. Here I show the full error message. It suggests that
RuntimeError: latex was not able to process the following string:
b'lp'
[code]

[2022-08-13 10:57] VenkteshV commented on #4515
@editorialbot generate pdf

[2022-08-13 11:50] balima78 commented on #4675
@editorialbot generate pdf

[2022-08-13 11:59] danasolav commented on #4362
Thank you all for your good work and for recommending acceptance of this submission.
@davidpagnon, please issue a new tagged release of the software (if changed), and archive it (on [Zenodo](https://zenodo.org/), [figshare](https://figshare.com/), or other). Then, please post the version number and archive DOI here.

[2022-08-13 12:00] danasolav commented on #4362
@editorialbot generate pdf

[2022-08-13 12:09] xuanxu commented on #4604
@aureliocarnero, @hpparvi would you be willing to review this paper? It is a pipeline to analyze observations of transiting exoplanets written in Python that I think can fit with your expertise.

[2022-08-13 13:01] editorialbot opened #4676 "[PRE REVIEW]: CMinx: A CMake Documentation Generator"
**Submitting author:** @ryanmrichard (<a href="http://orcid.org/0000-0003-4235-5179">Ryan M. Richard</a>)
**Repository:** https://github.com/CMakePP/CMinx
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** 1.0.0
**Editor:** @danielskatz
**Reviewers:** @robertodr, @peanutfun
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/b94149935c6140

[2022-08-13 13:05] danielskatz commented on #4676
@ryanmrichard - thanks for your submission.  I'll be the editor for it.

Can you suggest potential reviewers? If so, please mention them here in this thread (without tagging them with an @).

One source of potential reviewers is [this list of people](https://bit.ly/joss-reviewers) who have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the

[2022-08-13 13:05] danielskatz commented on #4676
@editorialbot assign me as editor

[2022-08-13 13:12] danielskatz commented on #4676
Also, @ryanmrichard, you will need to add more to your README - see https://joss.readthedocs.io/en/latest/review_criteria.html#documentation for what the reviewers will look for.

[2022-08-13 14:12] ryanmrichard commented on #4676
@danielskatz Thanks for your comments. As far as reviewers go:

1. robertodr would be a really good choice. He has done quite a bit of research/work pertaining to  creating CMake infrastructure. Plus he is on the list.
2. ashok-arora says they are comfortable reviewing CMake
3. peanutfun is the lowest reviewer on the list with CMake as a language

I admittedly am only going off what's on the list

[2022-08-13 14:13] danielskatz commented on #4676
Thanks for the suggestions. As we need to find two reviewers, additional suggestions may be needed; they don't have to be from people on the list.

[2022-08-13 14:14] danielskatz commented on #4676
👋 @robertodr - Would you be willing to review this JOSS submission?

[2022-08-13 14:14] danielskatz commented on #4676
👋 @ashok-arora - Would you be willing to review this JOSS submission?

[2022-08-13 14:14] danielskatz commented on #4676
👋 @peanutfun - Would you be willing to review this JOSS submission?

[2022-08-13 15:47] balima78 commented on #4675
@editorialbot check references

[2022-08-13 15:58] eloisabentivegna commented on #4651
Thanks, @ttricco! Much appreciated.

[2022-08-13 16:04] hpparvi commented on #4604
Sorry @xuanxu, I also have my hands full at the moment :/ I don't think I'd have the time before September.

[2022-08-13 16:24] balima78 commented on #4675
@editorialbot generate pdf

[2022-08-13 16:50] arfon commented on #4457
@editorialbot set 10.5281/zenodo.6977819 as archive

[2022-08-13 16:50] arfon commented on #4457
@editorialbot recommend-accept

[2022-08-13 16:56] arfon commented on #4457
@ptiede - it looks like `EHTCIV`, `EHTCVI`, and `themis` are all listed twice in your bibtex file. Could you please delete the duplicates? This messes up our production pipeline (as you can see above).

[2022-08-13 18:28] lluisjofre commented on #4637
Dear @diehlpk,

Thanks for organizing the review.
We have started making modifications to the paper and code following the indications from the reviewers.
How much time do we have to make the modifications?

Thanks for your time and attention.

Best,
Lluis

[2022-08-13 19:08] balima78 commented on #4675
hi @danielskatz, thank you for your attention.
we corrected editorialbot's suggestions and we are looking forward to hearing from you.

kind regards

[2022-08-13 20:12] ptiede commented on #4457
@editorialbot generate pdf

[2022-08-13 20:16] ptiede commented on #4457
@editorialbot generate pdf

[2022-08-13 20:21] ptiede commented on #4457
@editorialbot generate pdf

[2022-08-13 20:24] ptiede commented on #4457
@arfon should be fixed now! sorry about that

[2022-08-13 20:56] csoneson commented on #4501
👋🏻 @rcannood, @hseabolt - would one of you be interested in reviewing this submission for JOSS?

[2022-08-13 20:57] csoneson commented on #4545
👋🏻 @patRyserWelch8 - could you let us know how your review is going? Let me know if you have any questions. Thanks!

[2022-08-13 23:03] perdelt commented on #4628
@editorialbot generate pdf

[2022-08-14 00:02] hseabolt commented on #4501
Sure, would be happy to review -- go ahead and assign to me.

[2022-08-14 00:28] diehlpk commented on #4637
@lluisjofre you are welcome. I do not have a strict schedule yet. However, if you could address all the issues within 6 weeks would  be good. I would appreciate if you report any progress here, so the reviewers could look at them.

[2022-08-14 06:52] MichaelSchomaker commented on #4495
Hi everyone, I have also been on vacation.

The paper is nice and the revisions good. Some last very minor points:

@LucyMcGowan: 1) you write: "if there are several, correlated, confounders that are missing, you can think of this as measuring the summary score of the independent effects" -> why not simply spelling this out in the paper?
2) why keeping the phrase "rendering it inconclusive" throug

[2022-08-14 06:54] MichaelSchomaker commented on #4495
@arfon: I have no other comments, or checklist items, than those just posted. I also recommend acceptance and pursuing the final editorial steps after a short reply from the author.

[2022-08-14 08:11] rcannood commented on #4501
Hey Charlotte, hey @mberacochea ! Sure, I'd be happy to review :)

[2022-08-14 08:50] arfon commented on #4457
@editorialbot recommend-accept

[2022-08-14 08:55] arfon commented on #4457
@ptiede – found a couple of typos in the paper: https://github.com/ptiede/Comrade.jl/pull/170

[2022-08-14 10:00] AJQuinn commented on #4564
@editorialbot generate my checklist

[2022-08-14 11:13] arfon commented on #4565
@tarleb – do you have any suggestions ons how to handle this?

[2022-08-14 13:03] vahid-sb commented on #4564
@Kevin-Mattheus-Moerman I just filled in the checklist. From my point of view, the software has passed all the requirements to be published in JOSS. There were a couple of minor issues that the authors mentioned they'd resolve as part of another issue raised by another reviewer. My understanding is that my part of the review is completed, but if I have missed anything, please let me know.

[2022-08-14 13:04] vahid-sb commented on #4595
@editorialbot generate my checklist

[2022-08-14 13:07] vahid-sb commented on #4595
@Kevin-Mattheus-Moerman the links to pdf generated by editorialbot are broken, and it does not generate the checklist.

[2022-08-14 13:16] sappelhoff commented on #4595
@vahid-sb you have to post the command in this thread:

- https://github.com/openjournals/joss-reviews/issues/4650

see (emphasis by me):

(this is the **pre**-review issue)

[2022-08-14 13:17] vahid-sb commented on #4595
@sappelhoff thanks!

[2022-08-14 13:17] vahid-sb commented on #4650
@editorialbot generate my checklist

[2022-08-14 14:38] arfon commented on #4457
@editorialbot recommend-accept

[2022-08-14 14:40] arfon commented on #4457
@editorialbot accept

[2022-08-14 14:48] arfon commented on #4457
@mileslucas, @cescalara – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@ptiede – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-14 14:48] #4457 closed

[2022-08-14 15:36] tarleb commented on #4565
I've added support for Greek letters. It's not perfect, the kerning between uppercase and lowercase chars seems a bit off, but I'm not sure it would be worth it to spend more time on this.

[2022-08-14 15:54] tarleb commented on #4565
@editorialbot generate pdf

[2022-08-14 17:03] tonyewong commented on #4556
Addressing some of the open issues in @tpoisot 's [original review post](https://github.com/openjournals/joss-reviews/issues/4487#issuecomment-1174056698)

The previous iterations of the BRICK code, on which this is built, use a GNU license. Others among the Mimi models with which we anticipate MimiBRICK will be used also use a GNU license (e.g., [MimiSNEASY](https://github.com/anthofflab/MimiSNEA

[2022-08-14 17:48] jbytecode commented on #4556
@tonyewong - did you literally copy-pasted some parts of a legacy GNU-licensed code? If it is not the case, this is a Julia implementation and it can be licensed under MIT, imo. I am agree with the reviewer's suggestions here since most of the Julia packages are licensed under MIT.

[2022-08-14 20:52] csoneson commented on #4501
Briliant, thanks both! I'll assign all of you and start the review issue.

[2022-08-14 20:52] csoneson commented on #4501
@editorialbot add @mberacochea as reviewer

[2022-08-14 20:53] csoneson commented on #4501
@editorialbot add @hseabolt as reviewer

[2022-08-14 20:53] csoneson commented on #4501
@editorialbot add @rcannood as reviewer

[2022-08-14 20:53] csoneson commented on #4501
@editorialbot start review

[2022-08-14 20:53] editorialbot opened #4677 "[REVIEW]: ALPPACA - A tooL for Prokaryotic Phylogeny And Clustering Analysis"
**Submitting author:** @hkaspersen (<a href="http://orcid.org/0000-0002-9559-1303">Håkon Kaspersen</a>)
**Repository:** https://github.com/NorwegianVeterinaryInstitute/ALPPACA
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v2.0.1
**Editor:** @csoneson
**Reviewers:** @mberacochea, @hseabolt, @rcannood
**Archive:** 10.5281/zenodo.7331351

## Status

[![status](https://jo

[2022-08-14 20:53] #4501 closed

[2022-08-14 20:55] csoneson commented on #4677
👋🏼 @hkaspersen, @mberacochea, @hseabolt, @rcannood - this is the review thread for the submission. All of our communications will happen here from now on.

Please check the post at the top of the issue for instructions on how to generate your own review checklist. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guid

[2022-08-14 21:23] ViniciusBRodrigues commented on #4674
@editorialbot generate my checklist

[2022-08-14 21:53] rkurchin commented on #4565
Thanks everyone! Authors, I'll do an editorial pass over the manuscript and send any comments shortly. In the meantime, the next steps for you are:

1. Merge any and all changes from this review into your main branch and **issue a new version tag**. _(If you want to merge in the paper, you may, but it is not required that the actual manuscript live into the repo in perpetuity since JOSS will host

[2022-08-14 22:06] rkurchin commented on #4565
Some editorial comments:
- if you're going to use the acronym GC in the Summary, introduce it after the first use of the phrase (on line 5) and then only use the acronym thereafter. Otherwise, spell it out each time in that section and introduce the acronym in the Statement of Need as you do now
- line 13: "petrochemistry" should be one word
- also line 13: missing (Oxford) comma after "analytics"

[2022-08-14 22:13] ritamraha commented on #4671
Hi @adi3, Thanks for agreeing to be the editor. The paper at TACAS'22 explains the algorithms for temporal logic inference from samples and does binary classification, i.e., the resulting temporal logic formula precisely separates all the positive traces from the negative traces. In this software, we have implemented these algorithms and also added the feature of doing the same on noisy data, i.e.

[2022-08-14 22:17] ritamraha commented on #4671
Hi, I am suggesting five possible reviewers' names from the list:
- expectopatronum
- hbaniecki
- feliperodri
- Kraks
- mmpourhashem (although his preferred language is JAVA and our software is in python, his expertise matches the keywords from our paper.)

Thanks!

[2022-08-14 22:22] ritamraha commented on #4671
@editorialbot commands

[2022-08-14 22:27] ritamraha commented on #4671
@editorialbot  check references

[2022-08-14 22:30] ritamraha commented on #4671
@editorialbot check references

[2022-08-14 22:31] ritamraha commented on #4671
@editorialbot check references

[2022-08-14 22:33] ritamraha commented on #4671
@editorialbot generate pdf

[2022-08-14 22:36] ritamraha commented on #4671
@danielskatz - thanks for the suggestion. I have updated the missing doi and regenerated the paper using editorialbot.

[2022-08-15 00:54] majensen commented on #4542
@svburke many thanks for agreeing to review [this work](#4542) for [JOSS](https://joss.theoj.org)! I will add you as a reviewer now.

[2022-08-15 00:54] majensen commented on #4542
@editorialbot add @svburke as reviewer

[2022-08-15 00:55] majensen commented on #4542
@editorialbot start review

[2022-08-15 00:55] editorialbot opened #4678 "[REVIEW]: fars_cleaner: A Python package for downloading and pre-processing vehicle fatality data in the US"
**Submitting author:** @mzabrams (<a href="http://orcid.org/0000-0001-6818-5214">Mitchell Abrams</a>)
**Repository:** https://github.com/mzabrams/fars-cleaner
**Branch with paper.md** (empty if default branch):
**Version:** v1.3.5
**Editor:** @majensen
**Reviewers:** @ethanwhite, @svburke
**Archive:** 10.5281/zenodo.7249980

## Status

[![status](https://joss.theoj.org/papers/2ca54c6935611fe3cb030

[2022-08-15 00:55] #4542 closed

[2022-08-15 00:56] majensen commented on #4542
@ethanwhite @svburke @mzabrams please begin the official review over at #4678. Thanks--

[2022-08-15 01:00] majensen commented on #4522
@adibender - can you indicate if @nhejazi 's addition at nhejazi/haldensify#38 meets your approval? If so, we can move towards acceptance. thanks!

[2022-08-15 02:05] masadcv commented on #4532
Just a brief update, I have now included a third method (https://github.com/masadcv/FastGeodis/pull/26) based on [*]. This serves as golden reference for checking accuracy of the implemented Fast Geodis methods.

[*] Sethian, James A. "Fast marching methods." SIAM review 41.2 (1999): 199-235.

[2022-08-15 02:15] anshu-97 commented on #4564
Hi @Kevin-Mattheus-Moerman, much apologies for my very late reply! I have opened some [issues]( https://github.com/vferat/pycrostates/issues/61#issue-1338417998) in the Pycrostates repository as part of my review. Once the developers have addressed them accordingly and the issues are closed, I will complete the generated checklist above.

Cheers and many thanks!

[2022-08-15 02:24] tonyewong commented on #4556
Yes, there are sections where some legacy code, which was under a GNU license, was copy-pasted and translated to Julia. We very much appreciate the simplicity and popularity of the MIT license. However, given that the [GNU GPLv3](https://www.gnu.org/licenses/gpl-3.0.en.html) says the following about modified versions of the code, we are most comfortable releasing software containing modifications

[2022-08-15 02:25] VHchavez commented on #4459
@editorialbot generate pdf

[2022-08-15 02:34] VHchavez commented on #4459
@editorialbot generate pdf

[2022-08-15 02:45] VHchavez commented on #4459
Hello Folks @lucydot @raghurama123 @raghurama123!

Thank you so much for being incredibly patient.
I have addressed each reviewer's comments in each issue/PR. I believe I have addressed all of them according to your specifications. I have reread the proof, and I think I am satisfied with it. I hope you agree with the changes made.

I hugely appreciate your help with the project.
Thanks again,
VH

[2022-08-15 03:20] mgalloy commented on #4633
@gkthiruvathukal I have completed my review and believe the paper is ready for publication.

I agree some direct examples of GDL usage and output in the README.md would be nice, but not required with all the other code examples in the unit tests, the .pro files in the library, and references to IDL examples.

[2022-08-15 04:32] emdupre commented on #4658
Thanks for thinking of me ! I'm a little concerned that I won't be able to properly evaluate this as I'm less comfortable in R, so I'll need to decline the invitation.

[2022-08-15 05:58] hugoledoux commented on #4585
ok I'll do this but the process might be slower, also because I am on holidays starting this Friday.

@gattia I'll try my best

[2022-08-15 06:02] osorensen commented on #4659
👋 @trinker @garretrc @MatthewSmith430  would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-15 06:06] osorensen commented on #4645
👋 @agi-codes @vasudev-sharma @mohammadul  would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-15 06:21] eloisabentivegna commented on #4642
@schristophe, @ddhendriks, I am not a fan of this solution. Depending of what will happen to the two versions after the review, the double repository incurs the risk of compromising reproducibility and proper crediting the reviewers for their contributions, two of our key goals. I'd much rather leave @ddhendriks some time to consolidate the package into a single repository compatible with the jour

[2022-08-15 07:15] cosimameyer commented on #4657
@editorialbot check references

[2022-08-15 07:16] arfon commented on #4394
Friendly bump @RemiSoummer @anand0xff @tomasstolker @jlustigy @blacy – I realize it's a busy time of year (summer in the north etc.) but would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is [_VI

[2022-08-15 07:18] cosimameyer commented on #4657
@editorialbot check references

[2022-08-15 07:20] cosimameyer commented on #4657
@editorialbot generate pdf

[2022-08-15 08:26] robertodr commented on #4676
Yes, sure thing!

[2022-08-15 08:27] jakdot commented on #4533
@editorialbot generate my checklist

[2022-08-15 08:46] temuller commented on #4508
@arfon no worries, I hope you enjoyed your holidays!

Here is the new release on zenodo: https://zenodo.org/record/6992139

Thanks!

[2022-08-15 09:34] jakdot commented on #4533
Almost done, I want to check one issue in Functionality with the author.

[2022-08-15 09:41] noah80 commented on #4261
I'll take a look this week.

[2022-08-15 09:58] JanLeppert commented on #4565
@rkurchin With `$t(x)$` I just wanted to express, that the solution of the first ODE gives the time a substance needs to travel a certain distance. In most cases the movement of an object is described as the distance traveled in a certain time `x(t)`.

I made the other changes you suggested.

[2022-08-15 10:02] Vaibhavdixit02 commented on #4561
@jbytecode it should all be done now

[2022-08-15 10:32] cforgaci commented on #4664
@editorialbot generate my checklist

[2022-08-15 10:33] cforgaci commented on #4664
@editorialbot generate my checklist

[2022-08-15 10:40] jbytecode commented on #4561
@editorialbot check references

[2022-08-15 10:41] jbytecode commented on #4561
@editorialbot generate pdf

[2022-08-15 10:43] arfon commented on #4508
@editorialbot set 10.5281/zenodo.6992139 as version

[2022-08-15 10:45] arfon commented on #4508
@editorialbot recommend-accept

[2022-08-15 10:46] arfon commented on #4508
@editorialbot set 10.5281/zenodo.6992139 as archive

[2022-08-15 10:46] arfon commented on #4508
@editorialbot set v2.1.0 as version

[2022-08-15 10:46] arfon commented on #4508
@editorialbot recommend-accept

[2022-08-15 11:03] arfon commented on #4508
@temuller – could you merge this PR please? https://github.com/temuller/hostphot/pull/5

[2022-08-15 11:08] temuller commented on #4508
@arfon done!

[2022-08-15 11:10] danielskatz commented on #4676
Thanks!
I'll add you, and once we find another reviewer, we will start the review

[2022-08-15 11:10] danielskatz commented on #4676
@editorialbot add @robertodr as reviewer

[2022-08-15 11:12] arfon commented on #4508
@editorialbot recommend-accept

[2022-08-15 11:16] arfon commented on #4508
@editorialbot accept

[2022-08-15 11:22] tonyewong commented on #4556
Re: @Zitzeronion 's comments [here](https://github.com/openjournals/joss-reviews/issues/4556#issuecomment-1212878859)

Thanks for the suggestion! Yes, this is definitely able to be written much more compactly. We will work this in where appropriate, but for now we prefer to leave all of the parameters explicitly set since they're model parameters that someone might be interested in manipulated "by

[2022-08-15 11:34] rieder commented on #4483
Finally getting back to this.
@webbjj, a few suggestions:
- Could you include in README.md a short installation method (e.g. 'pip install clustertools')
- Could you also include a link to the documentation (online, e.g. on readthedocs, or as a pdf)

[2022-08-15 11:43] rkurchin commented on #4565
@editorialbot check references

[2022-08-15 11:43] rkurchin commented on #4565
@editorialbot set 0.3.10 as version

[2022-08-15 11:44] rkurchin commented on #4565
@editorialbot set 10.5281/zenodo.6992295 as archive

[2022-08-15 11:44] rkurchin commented on #4565
@editorialbot generate pdf

[2022-08-15 11:47] rkurchin commented on #4565
@editorialbot recommend-accept

[2022-08-15 11:52] rkurchin commented on #4665
@danielskatz this is slightly out of my area (I do electronic structure stuff, but don't really deal with nuclear structure), but given I know we're short on editors with Julia expertise, I could take it as I'm about to have another one accepted.

[2022-08-15 11:53] rkurchin commented on #4443
Hi again @EwaGomez, just checking in on the status of this :)

[2022-08-15 11:55] rkurchin commented on #4623
Hi reviewers (@amandadumi, @raghurama123, @shivupa), just checking in on this! Let me know if you have any questions about the review process.

[2022-08-15 12:04] danielskatz commented on #4665
@editorialbot assign @rkurchin as editor

Thanks very much!

[2022-08-15 12:27] svburke commented on #4678
@editorialbot generate my checklist

[2022-08-15 12:36] KristinaRiemer commented on #4030
Hi @hongyuanjia, it looks like you completed a big chunk of work in your most recent commit in the software repo. Is the checklist of issues in a previous comment up to date? Have you been able to work on the documentation tasks?

[2022-08-15 12:36] crvernon commented on #4432
@editorialbot check references

[2022-08-15 12:37] crvernon commented on #4432
@editorialbot generate pdf

[2022-08-15 12:38] KristinaRiemer commented on #4405
Hi @dlebauer, have you had a chance to review the software for the functionality items yet?

[2022-08-15 12:39] crvernon commented on #4460
@kcerva you can leave the python phrasing as-is.  Thanks!

[2022-08-15 12:40] crvernon commented on #4588
@draabe could you provide a status update whenever you have a minute?  Thanks!

[2022-08-15 12:45] arfon commented on #4508
@Onoddil, @krachyon – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@temuller – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-15 12:45] #4508 closed

[2022-08-15 12:45] rieder commented on #4483
When testing `clustertools` with an AMUSE cluster, I run into unit problems:
[code]
[code]
It looks like the total mass of the cluster is not using an AMUSE unit here, where all the stellar masses are using a unit. These can then not be compared. Adding the stars with `p.mass.value_in(units.MSun)` seems to be a workaround, but I think when `ctype` is `amuse` it would be better to use AMUSE units (

[2022-08-15 12:47] jbytecode commented on #4561
@Vaibhavdixit02 - I have just sent a pull request in the submission repository:

https://github.com/SciML/GlobalSensitivity.jl/pull/74

Please review the changes carefully and I you are agreed with them, please apply.

[2022-08-15 12:47] timtroendle commented on #4261
Thanks @noah80 for lettings us know.

@olejandro, what's the timeline on your side?

[2022-08-15 12:47] timtroendle commented on #4261
/ooo August 22 until September 12

[2022-08-15 12:48] crvernon commented on #4618
:wave: @vijaymocherla - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-15 12:55] jbytecode commented on #4561
@editorialbot check references

[2022-08-15 12:55] jbytecode commented on #4561
@editorialbot generate pdf

[2022-08-15 13:01] jbytecode commented on #4561
@Vaibhavdixit02 - ORCID of the second author is missing, could you please provide it in the paper?

Thank you in advance.

[2022-08-15 13:07] Vaibhavdixit02 commented on #4561
Done

@editorialbot generate pdf

[2022-08-15 13:08] JanLeppert commented on #4565
Thank you. @rkurchin for the nice review process and also thanks to @ma-sadeghi and @bonh for the reviews. Your comments improved the paper and the package.

[2022-08-15 13:11] Vaibhavdixit02 commented on #4561
@editorialbot generate pdf

[2022-08-15 13:16] crvernon commented on #4432
@matthiasdemuzere here are a few outstanding things you need to address:

In `paper.md`:

- [ ] [LINE 73] need an actual citation for "the chord length formula" and not a link to a wikipedia page, which can change often.

Once the above change has been made:

- [ ]  Conduct a GitHub release of the current reviewed version of the software you now have on the main and archive the reviewed software i

[2022-08-15 13:20] jbytecode commented on #4561
Dear @Vaibhavdixit02

- [ ] Please read the paper pdf carefully, one more time, correct any issue if exists. Please perform a full grammar check.
- [ ] Create a tagged release in the software repository. Report the version here. The version should be in form of `vx.y.z`, e.g. `v1.2.3`.
- [ ] Create a Zenodo archive in https://zenodo.org/
- [ ] The Zenodo archive (with the same name/title with the

[2022-08-15 13:22] jonjoncardoso commented on #4468
@editorialbot generate my checklist

[2022-08-15 13:23] jonjoncardoso commented on #4468
Ops, I thought I had already been assigned. Yes, @kellyrowland , I am happy to review this submission

[2022-08-15 13:34] jgostick commented on #4642
The situation as is will never pass the "Community Guidelines" requirement. The users can neither contribute, raise issues, or discuss the code using the private Gitlab instance. However, there is no perscription as to HOW this should be done. For instance, scikit-image uses some [privately hosted forum](https://forum.image.sc) for user help. Also, the convenience of linking bug reports to pull re

[2022-08-15 13:47] diazrenata commented on #4674
@editorialbot generate my checklist

[2022-08-15 14:18] rkurchin commented on #4665
👋 @Datseris, @mdavezac, @goerz, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-15 14:18] Vaibhavdixit02 commented on #4561
v2.1.1

[2022-08-15 14:21] Vaibhavdixit02 commented on #4561
@editorialbot generate pdf

[2022-08-15 14:31] elbeejay commented on #4574
@JosiahParry, @wcjochem, @mikemahoney218 it is a new week so I'm just checking in here to make sure the reviews are going smoothly. As always, please reach out if you have any questions about the process.

[2022-08-15 14:39] Zitzeronion commented on #4312
@mbernaschi thank you a lot for taking the time to review the package and awarding it your approval.

I do agree with @mbernaschi that Julia is not the only language to code a solver similar to *Swalbe.jl*. The decision in favor of Julia over C++, Fortran or Rust is in fact a question of taste. I think that writing good (documented and tested) Julia code is much easier than writing good C++ code.

[2022-08-15 14:40] Zitzeronion commented on #4312
@editorialbot generate pdf

[2022-08-15 14:40] cwentland0 commented on #3428
@kyleniemeyer Just checking in again, happy to look through the reviewer list to suggest a second reviewer, let me know how I can help.

[2022-08-15 14:43] Zitzeronion commented on #4312
@editorialbot commands

[2022-08-15 14:44] Zitzeronion commented on #4312
@editorialbot set joss-paper as JOSS

[2022-08-15 14:45] Zitzeronion commented on #4312
@editorialbot set JOSS as branch

[2022-08-15 14:45] Zitzeronion commented on #4312
@editorialbot generate pdf

[2022-08-15 14:48] Vaibhavdixit02 commented on #4561
Not sure what this is?

10.5281/zenodo.6992984

https://zenodo.org/record/6992984#.Yvpb6exBy3I

[2022-08-15 14:53] Zitzeronion commented on #4312
@arfon sorry for making a mess with the editorialbot.
May I ask one question which I already raised in the prereview issue, is it possible to add an *Author's contribution* section to the paper?

[2022-08-15 14:57] enekomartinmartinez commented on #4329
@editorialbot generate pdf

[2022-08-15 15:00] enekomartinmartinez commented on #4329
Changes done:
- PySD reference to Zenodo removed
- Complete sentence references
- Update the version number in the paper when talking about the changes done
- Correct documentation typos

I will take care of the other task when I am back from vacations (end-August/beginning-September)

[2022-08-15 15:03] mdavezac commented on #4665
I would be happy to, though someone with experience in nuclear structure might be a better fit (my expertise, if any, is also with electronic structure).

[2022-08-15 15:07] jbytecode commented on #4561
@editorialbot set v2.1.1 as version

[2022-08-15 15:08] jbytecode commented on #4561
@Vaibhavdixit02 - the zenodo archive should include the full repo but not only the paper pdf.

[2022-08-15 15:11] kasasxav commented on #4644
@editorialbot generate my checklist

[2022-08-15 15:17] Datseris commented on #4665
Hello, unfortunately I am completely overwhelmed and out of bandwidth with other projects, so I have to politely decline here. I wish best of luck to the submitting author!

[2022-08-15 15:19] kbarnhart commented on #4596
:wave: @Elchin, @TobbeTripitaka, @Mankoff, @mdpiper Would you be willing to serve as a reviewer for a submission to JOSS (The Journal of Open Source Software, https://joss.theoj.org). The submission is "tsp ('Teaspoon'): A library for ground temperature data" and I'm asking you in light of your experience with cryospheric data and/or temperature modeling. The submission is written in python and I

[2022-08-15 15:23] Vaibhavdixit02 commented on #4561
Oh sorry! Updated now

doi - 10.5281/zenodo.6993162
url - https://zenodo.org/record/6993162#.Yvpk2uxBy3I

[2022-08-15 15:28] jbytecode commented on #4561
@editorialbot set 10.5281/zenodo.6993162 as archive

[2022-08-15 15:29] jbytecode commented on #4561
are you okay with the paper now? any corrections before the final decision?

[2022-08-15 15:36] Vaibhavdixit02 commented on #4561
Yes it looks good to me

[2022-08-15 15:46] rkurchin commented on #4665
No problem, George, thanks for the quick reply!

@mdavezac, our list is a bit short (read: completely lacking AFAICT) on reviewers with nuclear structure expertise who are also Julia users, so I might just invite one or two folks who know nuclear structure but don't list Julia as a language and hope we can get some complementarity with folks like yourself who use Julia and certainly at least know

[2022-08-15 15:48] danielskatz commented on #4561
These are related to ISBNs in the bibtex which don't have the minimum of 10 characters.

[2022-08-15 15:48] rkurchin commented on #4665
👋 @munkm and/or @villaa, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

I recognize neither of you lists Julia as a language, but we're somewhat short on folks with nuclear structure expertise to review this, see discussion in prior comm

[2022-08-15 15:49] danielskatz commented on #4561
The error indicates

[76](https://github.com/openjournals/joss-papers/runs/7841093615?check_suite_focus=true#step:6:83)

[77](https://github.com/openjournals/joss-papers/runs/7841093615?check_suite_focus=true#step:6:84)

[78](https://github.com/openjournals/joss-papers/runs/7841093615?check_suite_focus=true#step:6:85)

I suspect these are the line numbers in the bib file: 116, 147, 208 that have t

[2022-08-15 15:55] jbytecode commented on #4561
in an entry of bibtex isbn and issn values are same. indeed they are not isbn values

[code]
@Vaibhavdixit02 - could you please correct the isbn values of books?

[2022-08-15 15:57] jbytecode commented on #4561
@danielskatz - thank you for your help in light speed! I had a look at the error log but I didn't catch the roots of the failure.

[2022-08-15 16:04] tuliofalmeida commented on #4650
@editorialbot generate my checklist

[2022-08-15 16:37] kellyrowland commented on #4468
Thanks! Apologies for not catching your 👍 .

[2022-08-15 16:37] VenkteshV commented on #4515
I am finishing up my reviews. I have some recommendations for authors (minor) on the writing part:

1) You could consider making the statement of need a bit more detailed. The summary stresses the non-english support component. However, I find this missing in the statement of need. More emphasis can also be made on size of corpora the algorithm can handle.
2) You could also consider splitting the

[2022-08-15 16:37] kellyrowland commented on #4468
@editorialbot add @jonjoncardoso as reviewer

[2022-08-15 16:38] kbarnhart commented on #4596
@editorialbot add @Elchin to reviewers

[2022-08-15 16:50] vijaymocherla commented on #4618
@crvernon - Thanks for the invitation but, I am not really sure if I can review this submission. My work mostly involves chemical physics, and geosciences can be a long shot for me.

I am happy to review anything that involves quantum chemistry or AMO physics.

[2022-08-15 16:57] kris-rowe commented on #4277
@danielskatz I need to get caught up on my review. Will push on this today/tomorrow now that the license issue has been resolved.

[2022-08-15 17:11] kris-rowe commented on #4618
@crvernon If you are unable to find a second reviewer, I can help. There is another review I need to catch up on, so it might be a week or two before I have a chance to get started on this.

[2022-08-15 17:13] NoraLoose commented on #4277
@danielskatz I can make some progress on this review within the next 2 weeks.

[2022-08-15 17:15] danielskatz commented on #4277
Thanks @NoraLoose & @kris-rowe

[2022-08-15 17:48] kyleniemeyer commented on #3428
I will go ahead and do the second review for this one, which I should be able to get to this week.

[2022-08-15 17:48] kyleniemeyer commented on #3428
@editorialbot add me as reviewer

[2022-08-15 17:48] ejikeugba commented on #4382
Thanks, @sbenthall for the follow-ups, but it does seem @philipPallmann is away indefinitely and without prior notice. It has been three months plus since we last heard from him. Considering an upcoming deadline for a different paper depending on this submission, I will appreciate it if the reviews are concluded soon. Perhaps @danielskatz could also hint on how to go about this.

[2022-08-15 17:48] kyleniemeyer commented on #3428
@editorialbot remove @clemaitre58 as reviewer

[2022-08-15 17:49] kyleniemeyer commented on #3428
@editorialbot generate my checklist

[2022-08-15 18:01] ProfLeao commented on #4555
**About the text:**

In the Statement of need section, isolated _in-house development efforts_ are mentioned several times. I understand that initiatives of this nature are common in several Medical Physics services, but as it is a scientific publication, I believe that the statement should be endorsed by some bibliographic source or by examples that make it more consistent.
Do the authors believe

[2022-08-15 18:23] emdupre commented on #4484
Hi @adam2392 ,

Just to update you on this : I've reached out to @hvgazula several times but unfortunately have not received a response. Hopefully he's OK, but we'll now need to move forward without his review. I'm in the process of securing a second reviewer who could provide their input on an accelerated timeline so that we can move this forward.

I'm sorry for the delay in reviewing this work,

[2022-08-15 18:56] sbenthall commented on #4382
@ejikeugba Thanks for following up. I've consulted @danielskatz and he suggested that I could pick up the slack and step in as a supplemental reviewer. I will get to that this week.

[2022-08-15 19:37] flyaflya commented on #4415
Thank you @arfon, @joethorley, @ChristopherLucas, @zhiiiyang, and @terrytangyuan.  We appreciate the time, effort, and helpful suggestions.

[2022-08-15 21:35] crvernon commented on #4618
Thanks @vijaymocherla I'll keep you in mind!

[2022-08-15 21:36] crvernon commented on #4618
No problem @kris-rowe I'll give it a few days and if I cannot find someone I may assign you with the consideration of your current time constraint.  Thanks!

[2022-08-15 23:31] elbeejay commented on #4646
Thanks for making some revisions @skiptoniam - I'll re-read and begin to contact reviewers this week

[2022-08-16 00:33] Ecosantos commented on #4536
@sbenthall,  Thanks for the invitation but, I am not really sure if I can review this submission. Fishery stock assessment has some particular nuances out of my expertise.

I am happy to review anything related to population assessment of non-fishery stocks in the future.

[2022-08-16 01:58] hseabolt commented on #4677
@editorialbot generate my checklist

[2022-08-16 05:49] wouterpeere commented on #4406
Hi @jasondegraw, I noticed that you ticked off the last check boxes of the review process. Was everything related to the installation clear for you?

[2022-08-16 06:31] danasolav commented on #4362
@editorialbot set https://github.com/perfanalytics/pose2sim as repository

[2022-08-16 06:31] danasolav commented on #4362
@editorialbot generate pdf

[2022-08-16 07:19] cprudhom commented on #4577
Dear @jbytecode,

Thank you for reviewing the article. I was out of the office but this week I should be able to look at the comments and get back asap.

Best regards

[2022-08-16 07:25] Nikoleta-v3 commented on #3743
@EgorOrachyov sorry for the multiple pings but it would be nice to see this paper published soon.

[2022-08-16 07:27] Nikoleta-v3 commented on #4640
👋🏻 sorry for the delay, I was on vacation 🍹

[2022-08-16 07:27] Nikoleta-v3 commented on #4640
@editorialbot assign me as editor

[2022-08-16 07:30] Nikoleta-v3 commented on #4640
Hey @JakobBD 👋🏻 Thank you again for your submission. Could you please take a look through this: https://bit.ly/joss-reviewers and suggest at least four potential reviewers?

[2022-08-16 07:55] Bisaloo commented on #4497
Hi @gmcdonald-sfg :wave:, I found your profile via your work on the [online book about fisheries analysis with R](https://sfg-ucsb.github.io/fishery-manageR/).

Would you be interested in reviewing this [R package](https://github.com/pedersen-fisheries-lab/sspm) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04497/joss.04497/10.21105.joss.04497.pdf) for

[2022-08-16 08:00] danasolav commented on #4362
Hi @davidpagnon,

I have a few comments regarding the paper. Please address them, and then we can proceed to acceptance:

1. According to the [OpenPose](https://github.com/CMU-Perceptual-Computing-Lab/openpose) page, they allow for single-person 3D pose reconstruction and estimation, and not only 2D. Could you please explain in the paper, how your solution differs from their 3D reconstruction and

[2022-08-16 08:14] Bisaloo commented on #3776
Hi @jesstytam, any idea about when we could complete this submission? :slightly_smiling_face:

[2022-08-16 08:16] osorensen commented on #4515
THanks a lot @VenkteshV! Could you please also update [your checklist?](https://github.com/openjournals/joss-reviews/issues/4515#issuecomment-1172759260)

[2022-08-16 08:46] ppxasjsm commented on #4553
@editorialbox assign me as editor

[2022-08-16 08:47] arfon commented on #4553
@editorialbot :-)

[2022-08-16 08:50] ppxasjsm commented on #4553
@editorialbot assign me as editor

[2022-08-16 09:23] jakdot commented on #4533
Hi @prashjha , done with my review. There was one issue with functionality, see here:

https://github.com/travisseymour/EPICpy/issues/1#issue-1338771489

Since the author provides a workaround in the thread on the issue, I see this as solved (I did not close the issue just yet in case the author wants to debug it further).

As far as I am concerned, the paper is accepted. Let me know if you need m

[2022-08-16 09:24] EwaGomez commented on #4443
Hi @rkurchin,
I was just able to close the last issue on the program and I am looking forward to the next Review step.

[2022-08-16 09:49] jonjoncardoso commented on #4468
@editorialbot generate my checklist

[2022-08-16 11:01] jbytecode commented on #4561
@Vaibhavdixit02 - Some bibtex entries includes unnecessary isbn items (exactly same with the issn values) are removed. I performed a DOI check for all of them. Please apply the pull request at https://github.com/SciML/GlobalSensitivity.jl/pull/76

[2022-08-16 11:04] jbytecode commented on #4561
@editorialbot recommend-accept

[2022-08-16 11:27] chennachaos commented on #4118
Hi @CZHU20,
Some nice examples are provided in [svFSI-Tests](https://github.com/SimVascular/svFSI-Tests) to help the users verify the software. However, it looks like README files for some of the examples need to be updated. For example, all three ALE FSI examples point to the same YouTube tutorial (on pressure pulse inside the aorta).

I recommend checking all the examples thoroughly and updating

[2022-08-16 11:27] kcerva commented on #4460
Thank you @crvernon! I think I've now addressed all your points. Please see below:

- "python" should be have a capital "P" when discussed in the paper -> As agreed.
- See the missing DOI above and confirm that the suggested one 10.31235/osf.io/y4xcv is or is not a viable option -> Added suggested DOI to bib file. Will regenerate pdf.
- Place the link to your documentation in the "About" section o

[2022-08-16 11:27] kcerva commented on #4460
@editorialbot generate pdf

[2022-08-16 11:38] Vaibhavdixit02 commented on #4561
Thank you @jbytecode. It was awesome to have your guidance!

[2022-08-16 11:52] cprudhom commented on #4577
@editorialbot check references

[2022-08-16 11:53] cprudhom commented on #4577
@editorialbot generate pdf

[2022-08-16 12:06] cprudhom commented on #4577
@jbytecode I made the choice the define as authors the main contributors of the library, from design to implementation.
The other contributors you mentioned (and I think there are some missing) have have participated in the improvement of the library, either by correcting bugs or by enriching it, to a lesser extent. I have chosen to mention their names in the Acknowledgements section, but I suppos

[2022-08-16 12:09] osorensen commented on #4645
@editorialbot add @estenhl as reviewer

[2022-08-16 12:24] jbytecode commented on #4577
@cprudhom - that explanation looks reasonable to me.

Do you have any suggestions for potential reviewers? You can use the list located on top of this page [(the list of people)](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) . Please mention their usernames without using the @ character just because we don't want to bother them.

Thank you

[2022-08-16 12:41] cprudhom commented on #4577
I suppose that the most relevant reviewers should know what constraint programming is.
So, I suggest the following three names: hooman650, skadio and GuillaumeDerval.
If you need more names, tell me, I will broaden the spectrum of keywords.

Best regards

[2022-08-16 12:42] matthiasdemuzere commented on #4432
@dargueso will follow up on the reference.

When fixed, I'll look into the remaining three check boxes!

[2022-08-16 12:53] imcatta commented on #4641
Sorry for the late reply. I am currently on vacation with limited internet access. For this occasion, I have to decline the invitation.

[2022-08-16 13:06] faroit commented on #4434
@sara-02 very sorry for the delay. I am on vacation this week, but I behind the scenes I have tried to contact a countless number of potential reviewers - without much success... I will try from your list as well now.

[2022-08-16 13:09] faroit commented on #4434
👋 @62442katieb @IlyaKisil @jkbren @jvendrow - would any of you be willing to review this submission for JOSS? The JOSS review process takes place on GitHub and focuses on the software and a short paper. We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under review is [Tensorly V

[2022-08-16 13:11] faroit commented on #4434
@editorialbot add @sara-02 to reviewers

[2022-08-16 13:14] faroit commented on #4488
👋  Hi @xinyiguan, thanks for your submission to JOSS, and sorry for the delay (I was on vacation last week)! I will be serving as the editor for this. We'll use this issue to identify reviewers and resolve technical issues.

@xinyiguan, I am also interested in your input on potential reviewers, so any suggestions you have are also welcome. As this toolbox is based on lisp wrapper, it would be grea

[2022-08-16 13:23] faroit commented on #4584
👋 Hi @SuperKogito, thanks for your submission to JOSS, and sorry for the delay (I was on vacation last week)! I will be serving as the editor for this. We'll use this issue to identify reviewers and resolve technical issues.

@SuperKogito you already mentioned a couple of potential reviewers: pzelasko, hadware, ebezzam. I will ask them shortly.

Furthermore, I would also suggest the following pote

[2022-08-16 13:31] thohamm commented on #4519
@jedbrown Thank you for your comments!

- We included pyyaml in the installation setup for pip and conda-forge.
- We added a brief print out page when calling strucscan with '--help'.
- Regarding the scope we would like to emphasize that we developed strucscan as tool for conducting, monitoring and collecting data from high-throughput atomistic simulation calculations. We included an interface to

[2022-08-16 13:36] jedbrown commented on #4172
Hi @jeremiah-corrado :wave:. I just wanted to check in about your plans. To be clear, you don't need to make major changes to the code in order to publish in JOSS, but the paper and docs need to accurately state what the software is now, not what you imagine it can become. Of course you're welcome to act on the review in the form of major code changes.

[2022-08-16 13:43] jedbrown commented on #4519
Thanks @thohamm. Also, welcome @ppxasjsm :wave: and thanks for agreeing to edit this submission.

[2022-08-16 14:00] jeremiah-corrado commented on #4172
Hi @jedbrown, sorry for the delay in responding to your earlier message!

I plan to rewrite parts of the paper and introductory documentation to reflect the `H(curl)` selectiveness of the library. That should happen this coming weekend.

This was done for performance reasons, as it allows the precomputed basis-function values to be repeatedly called from memory rather than being recomputed. Yohann

[2022-08-16 14:06] VenkteshV commented on #4515
Yes. Apologies for the delay. Will do them by today. I have some reviews regarding the library too. Just revising them and will update the checklist and my reviews accordingly. Thank you.

[2022-08-16 14:07] jedbrown commented on #4569
Hi @banesullivan. :wave: Do you anticipate being able to start your review soon? As a reminder, just make this comment to create your checklist.
[code]

[2022-08-16 15:03] rkurchin commented on #4443
Fantastic! Reviewers (@sidihamady, @kanderso-nrel), please do take another look when you can!

[2022-08-16 15:20] CamilleMorlighem commented on #4015
Hi all,

Following comments from @hugoledoux and @maczokni, I have redone old tests of the package I did a while ago and new tests considering the updates of the package. See the following examples:

 ### Load libraries
[code]
 ### Example 1 : Senegalese population per region
[code]
Note that the region name of three regions is misspelt (Thiès, Kédougou, Sédhiou) in the downloaded data with missin

[2022-08-16 15:31] crvernon commented on #4460
@editorialbot check references

[2022-08-16 15:34] crvernon commented on #4460
@kcerva - we are almost there! Next is just setting up the archive for your new release.

We want to make sure the archival has the correct metadata that JOSS requires. This includes a title that matches the paper title and a correct author list.

**So here is what we have left to do:**

- [ ] Conduct a GitHub release of the current reviewed version of the software you now have on the main and arc

[2022-08-16 16:02] ebezzam commented on #4259
@danasolav, I had an email exchange with [Vivek Boominathan](https://vivekboominathan.com/), and he kindly agreed to review the paper as well. His GitHub username is @vboomi.

[2022-08-16 16:09] ejikeugba commented on #4382
@sbenthall, that sounds good! Thanks for raising the issue and stepping in to wrap up the remaining task.

[2022-08-16 16:46] dlebauer commented on #4405
@KristinaRiemer trying, but currently failing to build https://github.com/AgrDataSci/climatrends/issues/16

[2022-08-16 17:02] kauedesousa commented on #4405
I am working on updates but got stuck in other adm things. Better if you try the CRAN version which is more stable. Another issue is that NASAPower, which was used for the Scandinavia example, changed the API and don't allow calls for more than 1 year. The issue was already reported to the 'nasapower' developer, but there is not so much he can do https://github.com/ropensci/nasapower/issues/71. I

[2022-08-16 17:18] jbytecode commented on #4577
👋👋👋 Dear @hooman650, @skadio and @GuillaumeDerval.    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**Choco-solver: A Java library for constraint programming**". You can find more information at the top of this Github

[2022-08-16 17:20] danielskatz commented on #4676
👋 @ryanmrichard - any more reviewer suggestions?

[2022-08-16 17:27] jbytecode commented on #4556
@editorialbot remove @tpoisot from reviewers

[2022-08-16 17:39] emdupre commented on #4670
Thanks for the invitation, @oliviaguest ! Yes, I should be able to edit this submission 🙂

[2022-08-16 18:04] Sepulta commented on #4642
Dear @jgostick, thank you for looking into this.

While this is not totally the case, see quote below

Sign in using a Google account. After initializing your account your University of Surrey contact will need to inform IT Services to authorize your access.

it is arguably quite an impractical way of collaborating, and would require switching of accounts and probably cause git/ssh configuration h

[2022-08-16 18:06] ddhendriks commented on #4642
Dear @jgostick, thank you for looking into this.

While this is not totally the case, see quote below

  Sign in using a Google account. After initializing your account your University of Surrey contact will need to inform IT Services to authorize your access.

it is arguably quite an impractical way of collaborating, and would require switching of accounts and probably cause git/ssh configuration

[2022-08-16 18:12] benjaminbolling commented on #3431
yes, sorry - I could not imagine it would be so much to do with a baby. Combine that with a virus (a really long-lasting one, Covid-19 test showed negative though). Now we have all recovered from it and I will have time to finalize.

Is any of the reviewers available? I will take into account the last comments and update the text

[2022-08-16 18:22] svchb commented on #4556
@jbytecode I can do the review.

[2022-08-16 18:30] jbytecode commented on #4556
@editorialbot add @svchb as reviewer

@svchb thank you for accepting our invitation. Please type

`@editorialbot generate my checklist`

here to generate your task list.

[2022-08-16 18:31] svchb commented on #4556
@editorialbot generate my checklist

[2022-08-16 18:39] jbytecode commented on #4556
@editorialbot generate pdf

@svchb - here is the latest version of the paper.

[2022-08-16 18:46] jbytecode commented on #4556
@tonyewong - It seems our reviewer @Zitzeronion has a single unchecked review item. Have you applied their suggestions on this subject?

@Zitzeronion - Could you please check this?

Thank you in advance!

[2022-08-16 18:47] 62442katieb commented on #4434
Hi! Sorry, I don't have the bandwidth to review right now.

[2022-08-16 18:53] svchb commented on #4556
@tonyewong You link to this repo https://github.com/raddleverse/Introduction-and-Library from your README.md, but this leads to no further information.

[2022-08-16 18:58] tonyewong commented on #4556
Thanks - good point! That was largely aspirational and under construction, but we have not yet had a chance to set that repository/pages site up. I've removed those references in the updated README.md.

[2022-08-16 19:15] jbytecode commented on #4563
Dear @briatte

Our first reviewer has just finished their task and made a decision. We are not able to get even a life signal from you for a while. Please tell us if you are not available so we can find another reviewer. If you plan to get back later, please set a deadline for us.

Thank you in advance.

[2022-08-16 19:24] dkauf42 commented on #4326
@dhhagan, do those look good, and is there anything else needed from us?

[2022-08-16 19:38] tonyewong commented on #4556
@jbytecode Am I correct that you are referring to the Community Guidelines point from @Zitzeronion 's checklist above? I think that it is now somewhat buried after the activity the past few days, but in a [later post](https://github.com/openjournals/joss-reviews/issues/4556#issuecomment-1214904486) I responded as:

I'll let @Zitzeronion decide whether this satisfactorily addresses this last point.

[2022-08-16 19:44] svchb commented on #4618
@crvernon I can do the review.

[2022-08-16 19:53] jbytecode commented on #4556
@tonyewong - thank you for the response. Now it is time to wait their decision.

[2022-08-16 20:30] jbytecode commented on #4556
@tonyewong - it is usual to introduce the installation instructions in a top level of the README.md file of Julia packages like

[code]

I know, you have already provided this information in page https://raddleverse.github.io/MimiBRICK.jl/ but It would be nice to introduce the code snippet that I have given above in README.md.

Thank you in advance.

[2022-08-16 20:58] villaa commented on #4665
@rkurchin I agree to review this submission.

[2022-08-16 21:03] rkurchin commented on #4665
@editorialbot add @mdavezac as reviewer

[2022-08-16 21:03] rkurchin commented on #4665
@editorialbot add @villaa as reviewer

[2022-08-16 21:11] crvernon commented on #4618
Awesome @svchb !  Thanks!

[2022-08-16 21:16] crvernon commented on #4618
@editorialbot assign @svchb as reviewer

[2022-08-16 21:16] crvernon commented on #4618
@editorialbot add @svchb as reviewer