[2021-11-03 11:50] whedon commented on #3885
[code]

[2021-11-03 11:50] whedon commented on #3885
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03885/joss.03885/10.21105.joss.03885.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03885/joss.03885/10.21105.joss.03885.pdf) :page_facing_up: :point_left:

[2021-11-03 11:52] meg-simula commented on #3885
👋🏼 @mithun218 @peanutfun  @carstenbauer  this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different fro

[2021-11-03 12:08] arfon commented on #3680
OK thanks. I'm happy to continue, especially as you've been receiving feedback from @hakanfriden via email.

@hakanfriden – JOSS is an open peer review journal, as such, we would strongly prefer that you leave this feedback _here on this thread_ or as issues on the software being reviewed (https://github.com/devosmitachatterjee2018/DataCleaningTool). Also, we ask that you please update the checkli

[2021-11-03 12:11] jorisparet commented on #3723
Thank you very much, @lucydot! And thank you again for your reviews, @FTurci and @govarguz.

As requested, I just pushed a [new tagged version](https://github.com/jorisparet/partycls/tree/1.1.1) (1.1.1) and archived it to [zenodo](https://doi.org/10.5281/zenodo.5639407). Here is the corresponding DOI:

**10.5281/zenodo.1183302**

Let us know if we can do anything else. :slightly_smiling_face:

[2021-11-03 12:11] JustinSGray commented on #3721
I can review

[2021-11-03 12:19] cpinte commented on #3827
@richteague thanks, a link to github would be great.

[2021-11-03 12:32] devosmitachatterjee2018 commented on #3680
@arfon Thank you for the opportunity to continue with the review process.
@hakanfriden Thank you for reviewing our software.

[2021-11-03 12:36] mnwright commented on #3780
I think this is a very useful extension of random forests and a promising package. The examples where the methods outperforms standard RF are quite impressing! I have a few general questions, some on the package and some on the paper:

## General
* From what I understand, there are two major differences to standard RF: The bootstrap procedure and the splitting rule. Why not take an existing RF pac

[2021-11-03 12:54] Het-Shah commented on #3700
@osorensen I believe @a-ws-m is still working on benchmarks. Once these experiments are done, I will update the checklist.

[2021-11-03 12:56] osorensen commented on #3700
Thanks for clarifying @Het-Shah, my bad for not being properly updated :-)

[2021-11-03 12:59] hugorichard commented on #3823
@emdupre, here is my review:

This is a really nice piece of software. I believe it is really useful to have all these CCA methods gathered at the same place.

I recommend acceptance.

As a side note, I believe the vision of mvlearn and cca-zoo coincide. It would be interesting to study how to fuse the two in my opinion.

A few comments:
- The statement of need is missing in the documentation
- I

[2021-11-03 13:12] larkz commented on #3804
@TimKam @adi3 no worries take your time

[2021-11-03 13:32] a-ws-m commented on #3700
I am training some models on a benchmark as we type; though they might need some fine-tuning, hopefully that issue will be done by the end of the week.

[2021-11-03 13:33] whedon opened #3886 "[PRE REVIEW]: NeuralFieldEq.jl: A flexible solver to compute Neural Field Equations in several scenarios"
**Submitting author:** @tiagoseq (<a href="http://orcid.org/0000-0001-8579-3676">Tiago Sequeira</a>)
**Repository:** <a href="https://github.com/tiagoseq/NeuralFieldEq.jl" target ="_blank">https://github.com/tiagoseq/NeuralFieldEq.jl</a>
**Version:** v0.1.2
**Editor:** @jarvist
**Reviewers:** @rougier, @gdetor
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due

[2021-11-03 13:33] whedon commented on #3886
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-03 13:33] whedon commented on #3886
Wordcount for `paper.md` is 1046

[2021-11-03 13:33] whedon commented on #3886
[code]

[2021-11-03 13:33] whedon commented on #3886
[code]

[2021-11-03 13:33] whedon commented on #3886
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03886/joss.03886/10.21105.joss.03886.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03886/joss.03886/10.21105.joss.03886.pdf) :page_facing_up: :point_left:

[2021-11-03 13:35] danielskatz commented on #3886
@tiagoseq - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOI that whedon suggests and the

[2021-11-03 13:35] danielskatz commented on #3886
@whedon query scope

[2021-11-03 13:35] whedon commented on #3886
Submission flagged for editorial review.

[2021-11-03 13:37] osorensen commented on #3700
Thanks for letting us know,  @a-ws-m, and absolutely fine that it takes some time.

[2021-11-03 13:50] enricgrau commented on #3781
@stuartcampbell Thank you for your feedback. We will look into integrating more automated testing progressively and also include some bullet points for this on the contribution guidelines with the following updates.

[2021-11-03 14:10] wvxvw commented on #3632
@henrykironde My apologies, the installation instructions were incomplete. I've updated the documentation to reflect that:

[code]

This is the right sequence of commands. In addition, about `setup.py genconda`, this command generates necessary Anaconda package configuration files, unfortunately, they are specific to Python version. Unfortunately, right now, it's not possible to have multiple conf

[2021-11-03 14:29] tiagoseq commented on #3886
Hello,
Some time ago, Nicolas Rougier suggested that I should submit the solver to
JOSS and indicate him as a reviewer. Because the method implemented is
based on the novel technique presented in this paper
<https://hal.inria.fr/hal-00872132> authored by Axel Hutt and Nicolas
Rougier.

This solver handles with several types of Neural Field equations, being
user friendly, easy to use and efficient

[2021-11-03 15:28] VivianePons commented on #3849
@whedon add @Ian-bunner as reviewer

[2021-11-03 15:28] whedon commented on #3849
OK, @Ian-bunner is now a reviewer

[2021-11-03 15:38] mhesselbarth commented on #3811
Okay, I think from my side I tried to address all comments by @tretherington and @lionel68.

[2021-11-03 16:37] whedon commented on #3838
:wave: @katiebreivik, please update us on how your review is going (this is an automated reminder).

[2021-11-03 16:37] whedon commented on #3838
:wave: @HeloiseS, please update us on how your review is going (this is an automated reminder).

[2021-11-03 17:03] #3646 closed

[2021-11-03 17:04] whedon commented on #3646
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03646/status.svg)](https://doi.org/10.21105/joss.03646)

**We need your help!**

Journal of Open Source Softwa

[2021-11-03 17:06] kthyng commented on #3786
great!

[2021-11-03 17:06] kthyng commented on #3786
@whedon accept deposit=true

[2021-11-03 17:06] whedon commented on #3786
[code]

[2021-11-03 17:07] whedon commented on #3786
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1455944629254246401) 👈 🐦🐦🐦

[2021-11-03 17:07] whedon commented on #3786
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2727
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03786](https://doi.org/10.21105/joss.03786)
2. If everything look

[2021-11-03 17:08] kthyng commented on #3786
Congrats on your new publication @aalfons! Many thanks to editor @mikldk and to reviewers @valentint and @msalibian for your time, hard work, and expertise!!

(I will leave this issue open until the DOI resolves)

[2021-11-03 17:51] danielskatz commented on #2555
👋 @ianhinder - just checking again, though I know you might still be on leave... any progress on your review?

[2021-11-03 17:52] Zethson commented on #3622
Yes.

[2021-11-03 17:55] mcsiple commented on #3879
Suitable reviewers for this paper/package might be:
From the list (without @ tags, organized from bottom to top of [list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) provided above):
crvernon
neerajdhanraj
tbrown122387
ha0ye

An additional reviewer who would be excellent and who is not listed is:
eirenjacobson

Thank you!

[2021-11-03 18:08] maxkfranz commented on #3756
@whedon generate pdf

[2021-11-03 18:09] whedon commented on #3756
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03756/joss.03756/10.21105.joss.03756.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03756/joss.03756/10.21105.joss.03756.pdf) :page_facing_up: :point_left:

[2021-11-03 18:11] maxkfranz commented on #3756
Changes in latest proof:

- Brief reference to readme re. tool comparison
- Italicised organism names
- [Video example](https://github.com/PathwayCommons/grounding-search#description) of Biofactoid use case in the readme

[2021-11-03 18:13] AlexanderPico commented on #3756
The latest version satisfies my evaluation per the checklist.

[2021-11-03 18:51] biblicabeebli commented on #3417
(ack, meant to comment yesterday)

With respect to tests, the fact is we have very few.  However, I am in the process of swapping out the base web framework, Flask, for Django, and writing a [hopefully comprehensive!] test suite.

This backend framework port, and the coincident work on tests, is tracked here: https://github.com/onnela-lab/beiwe-backend/issues/255

If you check out onto the `eli/dj

[2021-11-03 19:12] henrykironde commented on #3632
[code]

[2021-11-03 19:16] erik-whiting commented on #3417
@Tam-Pham I interpreted the "or manual steps described so that the functionality of the software can be verified" to be satisfied by the existing documentation. I saw that there were tests and even though they weren't automated, I thought the documentation (after it was fixed) qualified as steps for verifying functionality. That's just me though obviously, it's your review. Just noting why I noted

[2021-11-03 19:19] henrykironde commented on #3632
Somethings that I noted, like you said, we should not have two references for python 3.8 and 3.9. I guess we should try to create the env stating the python version to run the package. That may probably resolve some issue. Again thanks for the comments.

[2021-11-03 19:26] drcandacemakedamoore commented on #3632
Is it possible that you downloaded Anaconda for Python 3.8, then upgraded
to Anaconda (which might give you one for Python 3.9)? Anaconda can
apparently sometimes upgrade itself without you asking it to (we just
discovered this today, and it actually gave us the same problem). If so I
think you could downgrade, or do a clean install of Anaconda. As we now
have the same problem, I expect Oleg will

[2021-11-03 19:45] tretherington commented on #3811
Sorry, I do have other thoughts, but have been swamped by a few tasks I've had to prioritise, but I'm trying to reserve some time tomorrow afternoon to provide more feedback to keep things moving along.

[2021-11-03 19:49] xuanxu commented on #3863
@mdelorme, @gonsie would you be willing to review this paper? I think your knowledge of Simulation software and C++/Python makes both of you a good fit for this submission.

[2021-11-03 19:54] gonsie commented on #3863
I can review.

[2021-11-03 20:00] xuanxu commented on #3863
@whedon add @gonsie as reviewer

[2021-11-03 20:00] whedon commented on #3863
OK, @gonsie is now a reviewer

[2021-11-03 20:00] xuanxu commented on #3863
@gonsie great, thanks! I'll start the review issue once we have the second reviewer. Stay tuned!

[2021-11-03 20:35] whedon commented on #3839
:wave: @Ebedthan, please update us on how your review is going (this is an automated reminder).

[2021-11-03 20:35] whedon commented on #3839
:wave: @telatin, please update us on how your review is going (this is an automated reminder).

[2021-11-03 20:50] maximtrp commented on #3622
@jmschrei Yes

[2021-11-03 20:55] jmschrei commented on #3622
@whedon generate pdf from branch joss-paper

[2021-11-03 20:55] whedon commented on #3622
[code]

[2021-11-03 20:55] whedon commented on #3622
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03622/joss.03622/10.21105.joss.03622.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03622/joss.03622/10.21105.joss.03622.pdf) :page_facing_up: :point_left:

[2021-11-03 20:56] jmschrei commented on #3622
@whedon check references

[2021-11-03 21:51] csoneson commented on #3851
@danielskatz - sorry, I'm afraid this is really quite a bit out of my comfort zone/experience on the implementation side 😬 If it's possible to find someone with experience in web applications or database querying, I think that would be a better fit in this case.

[2021-11-03 21:54] csoneson commented on #3818
👋🏻 I'm going to assign @craddm and @lindemann09 as reviewers and open the review issue, to allow @craddm to get started and with the understanding that we'll still have to confirm that @lindemann09 is still happy to review once back in the office (if not, we can always solve that over in the review issue).

[2021-11-03 21:55] csoneson commented on #3818
@whedon assign @craddm as reviewer

[2021-11-03 21:55] whedon commented on #3818
OK, @craddm is now a reviewer

[2021-11-03 21:55] csoneson commented on #3818
@whedon add @lindemann09 as reviewer

[2021-11-03 21:55] whedon commented on #3818
OK, @lindemann09 is now a reviewer

[2021-11-03 21:56] csoneson commented on #3818
@whedon start review

[2021-11-03 21:56] whedon opened #3887 "[REVIEW]: singcar: Comparing single cases to small samples in R"
**Submitting author:** @jorittmo (<a href="http://orcid.org/0000-0001-5075-0166">Jonathan Ö. Rittmo</a>)
**Repository:** <a href="https://github.com/jorittmo/singcar" target ="_blank">https://github.com/jorittmo/singcar</a>
**Version:** 0.1.4
**Editor:** @csoneson
**Reviewer:** @craddm, @lindemann09
**Archive:** <a href="https://doi.org/10.5281/zenodo.5808757" target="_blank">10.5281/zenodo.580875

[2021-11-03 21:56] whedon commented on #3818
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3887.

[2021-11-03 21:56] #3818 closed

[2021-11-03 21:56] whedon commented on #3887
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @craddm, @lindemann09 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-11-03 21:56] whedon commented on #3887
Wordcount for `paper.md` is 926

[2021-11-03 21:56] whedon commented on #3887
[code]

[2021-11-03 21:56] whedon commented on #3887
[code]

[2021-11-03 21:56] whedon commented on #3887
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03887/joss.03887/10.21105.joss.03887.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03887/joss.03887/10.21105.joss.03887.pdf) :page_facing_up: :point_left:

[2021-11-03 21:57] csoneson commented on #3887
👋🏼 @jorittmo, @craddm, @lindemann09 - this is the review thread for the submission. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other journals. Ou

[2021-11-03 21:59] csoneson commented on #3887
And as mentioned - @lindemann09, please let me know after you're back if you're still ok with reviewing this submission (I interpreted your message as if this would be ok for you). Thank you!

[2021-11-03 22:05] crvernon commented on #3824
:mega: Mid-week rally!  Looks like @cc-a @thurber and @acrlakshman are all participating on this [issue](https://github.com/ImperialCollegeLondon/champ/issues/70) and all is rolling along well.  Let's keep pushing to get this in great shape for publication!

👏 Keep up the good work!

[2021-11-03 22:08] crvernon commented on #3709
:mega: Mid-week rally!  @AlexanderJuestel @kanishkan91 and @omshinde could you provide a short update as to how things are going?   Looks like you are making good progress.  Let's keep driving towards getting things in shape for publication!

:clap: Keep up the good work!

[2021-11-03 22:08] wvxvw commented on #3632
Fix is on the way to `develop`.

If you are interested to know what happened, here's a synopsis:

`conda install xxx` will ignore Python version you configured for your virtual environment, and will install arbitrary version it likes, and if it means that in order to install this version `conda` needs to install a different version of Python, or a different version of `conda` etc, then so be it.

[2021-11-03 22:09] csinva commented on #3881
@whedon check references

[2021-11-03 22:09] whedon commented on #3881
[code]

[2021-11-03 22:13] crvernon commented on #3852
:mega: Mid-week rally!  Looks like @thurber has started providing feedback to @jlarsen-usgs.  Let's keep things rolling towards a successful review!

:wave: @mdbartos - please update me to your progress thus far and don't hesitate to reach out if you have any questions.

👏 Keep up the good work!

[2021-11-03 22:16] apcamargo commented on #3756
Looks good to me now

[2021-11-03 22:16] csinva commented on #3881
@whedon check references

[2021-11-03 22:16] whedon commented on #3881
[code]

[2021-11-03 22:17] csinva commented on #3881
Thanks for serving as editor!

1. Here are some potential reviewers from the list: richrobe, kmichael08, dionhaefner, vimalthilak,
2. I believe I have corrected the DOIs
3. The paper seems to compile properly

Also tagging my co-authors: @jpdunc23, @rushk014, @aagarwal1996

[2021-11-03 22:26] danielskatz commented on #3851
@whedon assign me as editor

I'll take it :)

[2021-11-03 22:26] whedon commented on #3851
OK, the editor is @danielskatz

[2021-11-03 22:27] danielskatz commented on #3851
@ddeehere - I'll be the editor.  The next step is to find at least 2 reviewers.  If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-11-03 22:34] rabdill commented on #3756
Same here—I think its complete!

[2021-11-03 23:04] c-martinez commented on #2731
Great, thanks @arfon !

I've just made a [release in Zenodo](https://zenodo.org/record/5644276)

I hope everything is as expected?

[2021-11-03 23:57] mjsottile commented on #3855
:wave: @slayoo Before I get started looking for reviewers I want to check to see if you have any specific people in mind that you would recommend be invited to review.  If so, please list them and I'll reach out.

[2021-11-04 01:35] mbhall88 commented on #3831
I've added a clarifying statement.

[2021-11-04 02:24] athulpg007 commented on #3710
@whedon generate pdf

[2021-11-04 02:24] whedon commented on #3710
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: :point_left:

[2021-11-04 03:10] athulpg007 commented on #3710
@whedon generate pdf

[2021-11-04 03:11] whedon commented on #3710
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: :point_left:

[2021-11-04 03:17] slayoo commented on #3855
Hello, @mjsottile,
At the bottom of the PyMPDATA README file, we have listed several related projects (https://github.com/atmos-cloud-sim-uj/PyMPDATA#other-open-source-mpdata-implementations). Among contributors to these projects, and excluding folks we have co-authored with, there are the following Github users - perhaps potential reviewers:
- hilaryweller0 (https://github.com/AtmosFOAM/AtmosFOAM

[2021-11-04 03:36] andrewheiss commented on #3739
Hi! Sorry for the delay on this! Here's my review:

---

**electiondata** is a powerful new Python package that allows users to read and standardize raw election data that state and local election agencies provide in a wide variety of file formats and data structures. It is important software for anyone interested in election data, which is ordinarily incredibly messy and hard to work with, and wi

[2021-11-04 04:19] HeloiseS commented on #3838
Update! I'm going through each page of the user manual and tutorial and it's going very smoothly for the most part. I'll make a few general recommendations about the user manual and tutorial at the end when I've digested the whole thing and I've successfully ran all the notebooks. That being said, I have a couple of requests regarding the command list descriptions that i know i'm going to make so

[2021-11-04 04:27] AKUMAR0019 commented on #3578
@arfon @osorensen @robbisg @htwangtw We are sorry to hear of JOSS’s final decision. Upon initial review these concerns should have been brought up and an initial decision (minor revisions, major revisions, or rejection) made.  Instead we received ad-hoc comments and requests for changes which we made. After a couple of rounds this paper was ultimately rejected. This process is unlike any scientifi

[2021-11-04 04:36] FranjoIM commented on #3828
I am still waiting on @ahoshiyar to address the open issues.

[2021-11-04 04:41] fartist commented on #3828
I am reviewing it right now. Sent from Mail for Windows From: Franjo IvankovicSent: Wednesday, November 3, 2021 9:37 PMTo: openjournals/joss-reviewsCc: Feeeeeeeeeeng; MentionSubject: Re: [openjournals/joss-reviews] [REVIEW]: ordPens: An R package for Selection, Smoothing and Principal Components Analysis for Ordinal Variables (#3828) I am still waiting on @ahoshiyar to address the open issues.—You

[2021-11-04 06:12] jmschrei commented on #3622
The paper looks good to me. @vinisalazar can you make a tagged release and upload it to Zenodo to get a doi?

[2021-11-04 06:31] jeffriley commented on #3838
I'll fix the "vactor".  These are user (actually, more correctly, developer) defined.  When a developer wants to do some debugging, they can add debug statements that have an associated "class" string - so they can dot many debug statements around the code with different class strings, then when they run the code they can specify for which of those class strings they want the debug statements prin

[2021-11-04 06:33] osorensen commented on #3828
@fartist @FranjoIM , thanks for responding, and sorry about the automated reminder. I unfortunately cannot turn it off.

[2021-11-04 06:56] jbytecode commented on #3881
👋👋👋 Dear @richrobe  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "_VeridicalFlow: a python package for building trustworthy data-science pipelines with PCS_". You can find more information at the top of this Github is

[2021-11-04 06:57] jbytecode commented on #3881
👋👋👋 Dear @kmichael08  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "_VeridicalFlow: a python package for building trustworthy data-science pipelines with PCS_". You can find more information at the top of this Github

[2021-11-04 07:07] jbytecode commented on #3881
@whedon generate pdf

[2021-11-04 07:07] whedon commented on #3881
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03881/joss.03881/10.21105.joss.03881.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03881/joss.03881/10.21105.joss.03881.pdf) :page_facing_up: :point_left:

[2021-11-04 07:09] jbytecode commented on #3881
@csinva since this is a scientific paper, not a documentation on GitHub, could be please remove the logo in Summary section of the paper?

[2021-11-04 07:20] jbytecode commented on #3710
@athulpg007

Could you please correct me if I am wrong with the line 60:

-  Figure 3 shows example trajectories for a drag modulation system at Mars computed by using AMAT.

means

-  Figure 3 shows `an` example `of` trajectories for a drag modulation system at Mars computed by using AMAT.

or something else? If yes, please correct all of the Figure descriptions. Thank you.

[2021-11-04 08:37] markheckmann commented on #3292
Hi, I need some more time and will upload the changes this coming weekend. Bests Mark

[2021-11-04 08:43] ajstewartlang commented on #3739
Many thanks for your very detailed and helpful review @andrewheiss

@sfsinger19103 would you be able to address the points that are raised? On my reading, it does sound like additional installation instructions would be helpful to the novice Python user. Adding a 'Getting Started' vignette sounds like another great suggestion. The other points raised are important too - espec. in terms of adding/i

[2021-11-04 09:06] kmichael08 commented on #3881
Hey @jbytecode. Happy to review!

[2021-11-04 09:08] jbytecode commented on #3881
@whedon add @kmichael08 as reviewer

@kmichael08 thank you for accepting our invitation. After assigning one more reviewer, I will give the instructions.

[2021-11-04 09:08] whedon commented on #3881
OK, @kmichael08 is now a reviewer

[2021-11-04 09:44] chasmani commented on #3859
@Ebedthan thank you very much for your review and comments.

**I've made changes based on your comments. Responses are in bold below: **

First on the repository:

-   I would suggest the README start with a headline stating the software name and the aim of the software. You can also add if you want a logo to give a visual identity to your software.
**Title updated. I feel the first paragraph stat

[2021-11-04 10:27] TNanukem commented on #3864
Thank you @dvysardana.

If anything else comes up I'm available for the changes proposed by you or @drj11 :)

[2021-11-04 10:41] bmcfee commented on #3784
Thanks @napulen !

@albincorreya where does that leave you on remaining issues?

[2021-11-04 10:42] fabian-sp commented on #3865
Dear @papachristoumarios and @jameschapman19, we just found that the package `scikit-learn` is missing in `setup.py` but present in `requirements.txt`. Thus if you install `gglasso` by pip, you will need to install `scikit-learn` separately. Then everything works.
Sorry for this, when we tested the installation, we always had an environment with the standard packages and therefore did not spot thi

[2021-11-04 10:48] MichaelSel commented on #3784
@bmcfee I believe he already confirmed he is okaying everything (see above). I may have misunderstood.

[2021-11-04 10:52] bmcfee commented on #3784
@MichaelSel His review still has a few unchecked boxes - I was interpreting his prior comment as referring to some of the "stretch goal" issues, but he can clarify.

[2021-11-04 10:56] arfon commented on #2731
@whedon set 10.5281/zenodo.5644276 as archive

[2021-11-04 10:56] whedon commented on #2731
OK. <a href="https://doi.org/10.5281/zenodo.5644276" target="_blank">10.5281/zenodo.5644276</a> is the archive.

[2021-11-04 10:56] arfon commented on #2731
@whedon set v1.3.7 as version

[2021-11-04 10:56] whedon commented on #2731
OK. v1.3.7 is the version.

[2021-11-04 10:56] arfon commented on #2731
@whedon check references

[2021-11-04 10:56] whedon commented on #2731
[code]

[2021-11-04 10:57] arfon commented on #2731
@c-martinez - could you please check if those DOIs recommended by Whedon are correct, and if so, add them to your BibTeX file? Also, this one `https://doi.org/10.1016/j.websem.2021.100655` should be written as `10.1016/j.websem.2021.100655` in your BibTeX file please.

[2021-11-04 11:24] lorenzo-rovigatti commented on #3764
I'm pretty much done with my review. There are a couple of issues that are still open but as soon as those are solved I'll be happy to recommend publication.

[2021-11-04 11:34] aalfons commented on #3786
Thanks @kthyng - the DOI seems to work!

And thanks again @mikldk, @valentint, and @msalibian for the constructive comments.

[2021-11-04 11:58] danielskatz commented on #3786
(closing, as the DOI works for me as well)

[2021-11-04 11:58] #3786 closed

[2021-11-04 11:58] whedon commented on #3786
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03786/status.svg)](https://doi.org/10.21105/joss.03786)

**We need your help!**

Journal of Open Source Softwa

[2021-11-04 12:04] MichaelSel commented on #3784
@bmcfee No problem

[2021-11-04 12:07] fjprichard commented on #3821
Dear visitorsr,

Thank you for your review. Please find below some answers to your comments.

Major comments:

"I am unable to replicate the auto_examples (Example gallery) as I have not found enough information to replicate the development environment and locally generate the aforementioned documentation.

The same holds for the nose tests."

Information about the environment are in the setup fil

[2021-11-04 12:20] fboehm commented on #3879
@crvernon, @eirenjacobson, @neerajdhanraj, @tbrown122387, @ha0ye   - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-11-04 12:24] PTierz commented on #3649
Dear @meghanrjones, @jifarquharson and @elbeejay,

I sincerely hope that this message finds you well.

I just wanted to let you know that we have preliminarily addressed [Issue #16](https://github.com/BritishGeologicalSurvey/pyvolcans/issues/16) in a new branch called [`volcano-id-profile`](https://github.com/BritishGeologicalSurvey/pyvolcans/tree/volcano-id-profile).

We still need to add a few i

[2021-11-04 12:38] vinisalazar commented on #3622
Hello @jmschrei, thank you for conducting the editing and review process. Is it okay if I upload the latest tag, [`v0.1.24`](https://github.com/vinisalazar/BioProv/releases/tag/v0.1.24)? That's the current version that's available on PyPI, with all the changes requested from the reviews.

[2021-11-04 12:44] mikldk commented on #3789
@alexander-pastukhov Do you have two additional suggestions for reviewers? Please do not tag them with `@`.

[2021-11-04 12:45] mikldk commented on #3831
@kblin: Would you be interested in reviewing this submission to The Journal of Open Source Software? Reviews are open and based on a checklist. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. If you have any questions or concerns please let me know.

[2021-11-04 12:45] crvernon commented on #3879
@fboehm Apologies, I am currently the editor for several other JOSS articles in-review and will not have time to be a reviewer on this one.  Looks like a good one though!   Kind regards!

[2021-11-04 12:45] elbeejay commented on #3649
Thanks for the update @PTierz

[2021-11-04 12:48] c-martinez commented on #2731
Sure no problem -- is a new release necessary after fixing those?

[2021-11-04 13:11] lpantano commented on #3358
@whedon check references from branch paper

[2021-11-04 13:11] whedon commented on #3358
[code]

[2021-11-04 13:11] whedon commented on #3358
[code]

[2021-11-04 13:11] lpantano commented on #3358
Hi @llrs, I think the last modification would be related to the length of the paper. The idea is that the papers is 2-3 page long. You could point to all the examples in the paper to the documentation. If there are examples that are not in the docs, you can add it there. Maybe you can do a panel of 2-3 figures of the most important examples and leave the code out (mentioning where you can find tha

[2021-11-04 13:25] osorensen commented on #3864
@dvysardana, please also remember to check the two reminaing boxes in your review checklist at the top of this issue.

[2021-11-04 13:27] arfon commented on #3578
@AKUMAR0019 – I'm sorry that you are disappointed in the review experience here. JOSS reviews _by design_ are interactive, conversational, and iterative. We consider this a **feature** of our review experience, and it has stood us in good stead over the past 5 years and nearly 1500 published papers.

This submission was a little more complex than some for us as your tool is a small part of a much

[2021-11-04 13:28] osorensen commented on #3828
@ahoshiyar can you please update us on how it is going addressing the issues raised by the reviewers in the source repository?

[2021-11-04 14:20] dhhagan commented on #3219
Sounds good @slayoo - thanks for the update!

[2021-11-04 14:25] arfon commented on #2731
No, we can just stick with the same release number and Zenodo archive.

[2021-11-04 14:39] llrs commented on #3358
Hi @lpantano, Thanks for editing the manuscript.
I will just provide some links to where to find examples of said functionality and remove the code from the others tools, showing only a couple of figures comparing the solutions of each package.

[2021-11-04 14:58] martinmodrak commented on #3708
I agree the focus is elsewhere. I would just find it helpful to learn what I gain by writing the model in Heta and then compiling to SBML as opposed to directly writing SBML. I am choosing SBML as it appears to have quite a broad support, so presumably many workflows with Heta would involve compiling to SBML to get access to the vast ecosystem of tools that support it. One or two sentences would p

[2021-11-04 15:28] eirenjacobson commented on #3879
Hi Frederick,

If you need a second reviewer, I would be happy to review

Cheers,

Eiren
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Eiren Jacobson, Ph.D.
Email: ***@***.***
Website: eirenjacobson.github.io
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

On Thu, Nov 4, 2021 at 1:54 PM Hao Ye ***@***.***> wrote:

[2021-11-04 15:32] eirenjacobson commented on #3879
@fboehm, if you need a second reviewer, I would be happy to review!

[2021-11-04 16:02] jmschrei commented on #3622
Yes, that should be fine as long as it contains all the changes that the reviewers asked for.

[2021-11-04 16:03] jmschrei commented on #3622
Can you post the doi here once it's been uploaded?

[2021-11-04 16:04] majensen commented on #3777
@keichi my apologies, work is getting in the way of the important stuff. I am working on getting reviewers for your paper. Can you make any suggestions? Much appreciated-

[2021-11-04 16:10] sfsinger19103 commented on #3739
Yes, sounds good. This is the first time I've been involved in (much less led) a project of this scale, so I'm grateful for such explicit suggestions.

[2021-11-04 16:12] bovee commented on #2991
Sorry for the delay! I checked through the remaining issues and the paper and software look great.

[2021-11-04 17:04] danielskatz commented on #3851
external are fine - the list is just one resource if useful
(of course, please keep in mind the [JOSS conflict of interest guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy))

[2021-11-04 18:01] dvysardana commented on #3864
@osorensen Checked all the boxes in my review.

On Thu, Nov 4, 2021 at 6:25 AM Øystein Sørensen ***@***.***>
wrote:

[2021-11-04 18:39] jedbrown commented on #2565
Thanks, @iannesbitt. I think this is a great improvement. I know this has been in review for a long time so I'd like to offer @calum-chamberlain a choice:
1. we'll wait for you to check in in December (default if you can't reply)
2. you can defer to me on this point and I'll check that your recommendations have been reasonably met, and if so, proceed with any final copy edits and acceptance. (Note

[2021-11-04 19:03] aguang commented on #3876
I have finished my review and think the package and paper are a nice contribution to the EcoJulia ecosystem. The documentation is overall solid, I've made a few suggestions to the documentation based on my attempts to run some of the functions on my own data, but those are only suggestions rather than necessary revisions. Nice job, I look forward to trying this package out more extensively soon.

[2021-11-04 19:36] UTH-Tuan commented on #3727
@ljakoster also this statement from above:

I don't think that's a satisfactory response. I think you can mention the other software without comparison (and without "offending" them).

[2021-11-04 19:46] HeloiseS commented on #3838
Thanks!!

@ilyamandel  do you want me to add this previous post about command clarification to the issue [#686](https://github.com/TeamCOMPAS/COMPAS/issues/686) so that Reinhold et al. can join in?

[2021-11-04 20:50] gonzalobravoargentina commented on #3594
I have not many comments about the software because is continuously improving and all the basic tools for oceanographic analysis are cover. This paper will increase the visibility of OCE package and more users will contribute for upgrading the quality of the codes.

The list of available R packages for Oceanographic data is not so long but, in my opinion, Oce is the most complete and user friendly

[2021-11-04 21:17] dankelley commented on #3594
@gonzalobravoargentina that's a good idea about R vs Matlab.  I talk about R, Matlab and others in my textbook Oceanographic Analysis with R.  I think I will follow your advice, and write a paragraph about this for the README file on the landing page for github/dankelley/R.

And many thanks for mentioning biological oceanography.  I have also found, in my teaching of undergraduates, that R is very

[2021-11-04 21:24] lucass-carneiro commented on #3755
Hey @noatamir, any news?

[2021-11-04 21:46] arfon commented on #2731
@whedon check references

[2021-11-04 21:46] arfon commented on #2731
@whedon recommend-accept

[2021-11-04 21:46] whedon commented on #2731
[code]

[2021-11-04 21:46] whedon commented on #2731
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2728

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2728, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-04 21:49] dankelley commented on #3594
@gonzalobravoargentina I have added the following paragraph to the README.  I hope it gets close to what you were thinking of.  Thanks again.  Dan.

## Why use R for oceanographic analysis?

The R language is popular in many branches of science, and Oceanography is not
an exception. Perhaps because of its broad statistical support, R is especially
popular in Biological Oceanography, and its popula

[2021-11-04 21:51] arfon commented on #2731
@whedon accept deposit=true

[2021-11-04 21:51] whedon commented on #2731
[code]

[2021-11-04 21:51] whedon commented on #2731
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1456378680863830018) 👈 🐦🐦🐦

[2021-11-04 21:51] whedon commented on #2731
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2729
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02731](https://doi.org/10.21105/joss.02731)
2. If everything look

[2021-11-04 21:54] arfon commented on #2731
@essepuntato, @alexdma – many thanks for your reviews here and to @lorenanicole for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@c-martinez – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-11-04 21:54] #2731 closed

[2021-11-04 21:54] whedon commented on #2731
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02731/status.svg)](https://doi.org/10.21105/joss.02731)

**We need your help!**

Journal of Open Source Softwa

[2021-11-04 22:01] kellertuer commented on #3866
@whedon generate pdf from branch joss

[2021-11-04 22:01] whedon commented on #3866
[code]

[2021-11-04 22:02] whedon commented on #3866
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: :point_left:

[2021-11-04 22:12] kellertuer commented on #3866
@whedon generate pdf from branch joss

[2021-11-04 22:12] whedon commented on #3866
[code]

[2021-11-04 22:13] whedon commented on #3866
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: :point_left:

[2021-11-04 22:21] gkthiruvathukal commented on #3292
Hi @markheckmann. No problem. Please take your time.

[2021-11-04 22:49] fboehm commented on #3879
@whedon assign @ha0ye and @eirenjacobson as reviewers

[2021-11-04 22:49] whedon commented on #3879
OK, @ha0ye and @eirenjacobson is now a reviewer

[2021-11-04 22:51] fboehm commented on #3879
@whedon begin review

[2021-11-04 22:51] whedon commented on #3879
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-11-04 22:51] fboehm commented on #3879
@whedon commands

[2021-11-04 22:51] whedon commented on #3879
Here are some things you can ask me to do:

[code]

[2021-11-04 22:52] fboehm commented on #3879
@whedon start review

[2021-11-04 22:52] whedon opened #3888 "[REVIEW]: mmrefpoints: Projecting long-term marine mammal abundance with bycatch"
**Submitting author:** @mcsiple (<a href="http://orcid.org/0000-0002-4260-9856">Margaret Siple</a>)
**Repository:** https://github.com/mcsiple/mmrefpoints
**Branch with paper.md** (empty if default branch):
**Version:** v 1.0.1
**Editor:** @fboehm
**Reviewers:** @ha0ye, @tbrown122387
**Archive:** 10.5281/zenodo.6338110

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-11-04 22:52] whedon commented on #3879
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3888.

[2021-11-04 22:52] #3879 closed

[2021-11-04 22:52] whedon commented on #3888
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ha0ye and @eirenjacobson it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-11-04 22:52] whedon commented on #3888
Wordcount for `paper.md` is 1309

[2021-11-04 22:52] whedon commented on #3888
[code]

[2021-11-04 22:52] whedon commented on #3888
[code]

[2021-11-04 22:52] whedon commented on #3888
PDF failed to compile for issue #3888 with the following error:
[code]

[2021-11-04 22:54] whedon opened #3889 "[PRE REVIEW]: excluder: An R package that checks for exclusion criteria in online data"
**Submitting author:** @JeffreyRStevens (<a href="http://orcid.org/0000-0003-2375-1360">Jeffrey R Stevens</a>)
**Repository:** <a href="https://github.com/ropensci/excluder/" target ="_blank">https://github.com/ropensci/excluder/</a>
**Version:** v0.3.1
**Editor:** @danielskatz
**Reviewers:** @danielskatz
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-11-04 22:54] whedon commented on #3889
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-04 22:54] whedon opened #3890 "[PRE REVIEW]: Unishox: A hybrid encoder for Short Unicode Strings"
**Submitting author:** @siara-cc (<a href="http://orcid.org/0000-0001-6642-447X">Arundale Ramanathan</a>)
**Repository:** <a href="https://github.com/siara-cc/Unishox2" target ="_blank">https://github.com/siara-cc/Unishox2</a>
**Version:** 1.0.1
**Editor:** @gkthiruvathukal
**Reviewers:** @gradvohl, @linuxscout
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Du

[2021-11-04 22:54] jcorbino commented on #3380
Hello @jshipton and @ketch,

Did you have a chance to read the last version of the draft? I think I addressed all your comments. @jshipton please refer to https://github.com/jcorbino/mole/blob/master/MOLE%20installation%20on%20MacOS.pdf for instructions on installation on Macs.

Kind regards,

[2021-11-04 22:54] whedon commented on #3890
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-04 22:54] whedon commented on #3889
[code]

[2021-11-04 22:54] whedon commented on #3889
PDF failed to compile for issue #3889 with the following error:
[code]

[2021-11-04 22:54] whedon commented on #3890
Wordcount for `paper.md` is 1844

[2021-11-04 22:54] whedon opened #3891 "[PRE REVIEW]: Council Data Project: Software for Municipal Data Collection, Analysis, and Publication"
**Submitting author:** @JacksonMaxfield (<a href="http://orcid.org/0000-0003-2564-0373">Jackson Brown</a>)
**Repository:** <a href="https://github.com/CouncilDataProject/cookiecutter-cdp-deployment" target ="_blank">https://github.com/CouncilDataProject/cookiecutter-cdp-deployment</a>
**Version:** v3.0.0
**Editor:** @chartgerink
**Reviewers:** @hknd23, @chainsawriot
**Managing EiC:** Daniel S. Kat

[2021-11-04 22:54] whedon commented on #3890
[code]

[2021-11-04 22:54] whedon commented on #3890
[code]

[2021-11-04 22:54] whedon commented on #3891
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-04 22:54] whedon opened #3892 "[PRE REVIEW]: PySPI: A python analysis framework for INTEGRAL/SPI"
**Submitting author:** @BjoernBiltzinger (<a href="http://orcid.org/0000-0003-3381-0985">Björn Biltzinger</a>)
**Repository:** <a href="https://github.com/BjoernBiltzinger/pyspi" target ="_blank">https://github.com/BjoernBiltzinger/pyspi</a>
**Version:** v0.9.0
**Editor:** @christinahedges
**Reviewers:** @tohuvavohu, @DougBurke
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mod

[2021-11-04 22:54] whedon commented on #3891
Wordcount for `paper.md` is 1234

[2021-11-04 22:54] whedon commented on #3891
[code]

[2021-11-04 22:54] whedon commented on #3891
[code]

[2021-11-04 22:54] whedon commented on #3892
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-04 22:54] whedon commented on #3890
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03890/joss.03890/10.21105.joss.03890.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03890/joss.03890/10.21105.joss.03890.pdf) :page_facing_up: :point_left:

[2021-11-04 22:55] danielskatz commented on #3889
@whedon generate pdf from branch paper

[2021-11-04 22:55] whedon commented on #3889
[code]

[2021-11-04 22:55] whedon commented on #3891
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03891/joss.03891/10.21105.joss.03891.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03891/joss.03891/10.21105.joss.03891.pdf) :page_facing_up: :point_left:

[2021-11-04 22:55] danielskatz commented on #3889
@whedon check references from branch paper

[2021-11-04 22:55] whedon commented on #3889
[code]

[2021-11-04 22:55] fboehm commented on #3888
@whedon re-invite  @eirenjacobson as reviewer

[2021-11-04 22:55] whedon commented on #3888
OK, the reviewer has been re-invited.

@ @eirenjacobson please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-11-04 22:56] fboehm commented on #3888
@whedon re-invite @ha0ye as reviewer

[2021-11-04 22:56] whedon commented on #3888
@ha0ye already has access.

[2021-11-04 22:56] whedon commented on #3892
Wordcount for `paper.md` is 753

[2021-11-04 22:56] whedon commented on #3892
[code]

[2021-11-04 22:56] whedon commented on #3892
[code]

[2021-11-04 22:56] whedon commented on #3889
[code]

[2021-11-04 22:56] whedon commented on #3892
PDF failed to compile for issue #3892 with the following error:
[code]

[2021-11-04 22:56] whedon commented on #3889
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03889/joss.03889/10.21105.joss.03889.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03889/joss.03889/10.21105.joss.03889.pdf) :page_facing_up: :point_left:

[2021-11-04 22:57] fboehm commented on #3888
@whedon generate pdf

[2021-11-04 22:57] danielskatz commented on #3889
👋 @mikldk - would you be able to edit this JOSS submission?

[2021-11-04 22:58] danielskatz commented on #3889
@whedon invite @mikldk as editor

[2021-11-04 22:58] whedon commented on #3889
@mikldk has been invited to edit this submission.

[2021-11-04 22:58] whedon commented on #3888
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03888/joss.03888/10.21105.joss.03888.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03888/joss.03888/10.21105.joss.03888.pdf) :page_facing_up: :point_left:

[2021-11-04 22:59] danielskatz commented on #3890
👋 @gkthiruvathukal - would you be able to edit this submission for JOSS?

[2021-11-04 22:59] danielskatz commented on #3890
@whedon invite @gkthiruvathukal as editor

[2021-11-04 22:59] whedon commented on #3890
@gkthiruvathukal has been invited to edit this submission.

[2021-11-04 23:00] danielskatz commented on #3891
@JacksonMaxfield - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOIs that whedon suggests,

[2021-11-04 23:00] danielskatz commented on #3891
@whedon query scope

[2021-11-04 23:00] whedon commented on #3891
Submission flagged for editorial review.

[2021-11-04 23:03] danielskatz commented on #3892
👋 @BjoernBiltzinger - note that your paper does not compile. Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).
The problem might be the blank line (line 7) in your metadata.

In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to yo

[2021-11-04 23:03] nniiicc commented on #3891
@danielskatz - see https://github.com/openjournals/joss/issues/990 about scope.

[2021-11-04 23:03] gkthiruvathukal commented on #3890
@whedon assign @gkthiruvathukal as editor

[2021-11-04 23:03] whedon commented on #3890
OK, the editor is @gkthiruvathukal

[2021-11-04 23:05] gkthiruvathukal commented on #3890
@siara-cc Please suggest 4-5 potential reviewers from the list of people so we can begin the review process. See the top of this issue thread. (Please don't use the @ symbol to mention them. I'll do that.)

[2021-11-04 23:15] danielskatz commented on #3892
👋 @christinahedges - do you think you would be able to edit this submission for JOSS?

[2021-11-04 23:15] danielskatz commented on #3892
@whedon invite @christinahedges as editor

[2021-11-04 23:15] whedon commented on #3892
@christinahedges has been invited to edit this submission.

[2021-11-04 23:24] danielskatz commented on #3891
Thanks @nniiicc - can you clarify what software would be reviewed in this case?

[2021-11-04 23:41] FranjoIM commented on #3828
I have completed the review at this point. The author has addressed my concerns, and pending the review of the other two reviewers, I am recommending this paper for acceptance.

[2021-11-04 23:50] JacksonMaxfield commented on #3891
Hey @danielskatz!

Thanks @nniiicc for pointing to the issue. The software which should be reviewed is:

* https://github.com/CouncilDataProject/cookiecutter-cdp-deployment (the repository which this paper is in)
* https://github.com/CouncilDataProject/cdp-backend
* https://github.com/CouncilDataProject/cdp-frontend

[2021-11-04 23:51] sfsinger19103 commented on #3739
@ajstewartlang what's the appropriate way to make a small correction to the submitted paper?

(Specifically, the paper says that there is an export in json format that conforms to the NIST Common Data Format V1 when in fact the json format conforms to NIST Common Data Format V2.)

[2021-11-05 01:54] gonzalobravoargentina commented on #3594
Great !

[2021-11-05 02:07] athulpg007 commented on #3710
@jbytecode I agree with you. I'm working on the corrections. I will ping you when I am done.

[2021-11-05 02:19] calum-chamberlain commented on #2565
I'm happy to defer.  I don't want to hold this up any longer!

CJ Chamberlain, out of office
________________________________
From: Jed Brown ***@***.***>
Sent: Friday, November 5, 2021 7:39:59 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Calum Chamberlain ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: rsudp: A Python package for real-time seismic monito

[2021-11-05 03:08] siara-cc commented on #3890
@gkthiruvathukal  Thank you for taking this forward. I suggest drj11, desilinguist, sepandhaghighi, linuxscout, gradvohl, tresoldi from the list.

[2021-11-05 03:59] osorensen commented on #3828
Thanks a lot for your work, @FranjoIM!

[2021-11-05 04:17] athulpg007 commented on #3710
@whedon generate pdf

[2021-11-05 04:17] whedon commented on #3710
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: :point_left:

[2021-11-05 05:24] jedbrown commented on #3380
Thanks for the updates @jcorbino. Would you consider it appropriate to mention connections with mixed finite element methods (algebraically equivalent in some limited cases, and able to preserve similar properties)?

Can MOLE be used for problems like shallow water with Coriolis or the p-Laplacian? Also, I feel the paper misses an opportunity to demonstrate the benefit of mimetic methods by showin

[2021-11-05 05:49] danclewley commented on #3337
Apologies this has taken so long.

I'm happy to recommend **accept with minor revisions** if the paper is updated to clarify who it is aimed at and how it differs from other packages.

[2021-11-05 06:35] ahoshiyar commented on #3828
@whedon generate pdf

[2021-11-05 06:36] whedon commented on #3828
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03828/joss.03828/10.21105.joss.03828.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03828/joss.03828/10.21105.joss.03828.pdf) :page_facing_up: :point_left:

[2021-11-05 06:36] ahoshiyar commented on #3828
Thank you a lot @FranjoIM !

[2021-11-05 06:39] ahoshiyar commented on #3828
Dear all, note that the Statement of Need section has been updated (adressing a very interesting comment from @mingzehuang) discussing potential future work/related works.

[2021-11-05 06:44] ljakoster commented on #3727
@UTH-Tuan
Yes, we can surely mention them, add a link and a short description of
other software, thanks for the suggestion.
I thought you were asking for a 'table' with pros and cons and features.
All the codes out there have their strengths and uses and I would not feel
comfortable with a table like that, especially since those codes (like
ours) keep on evolving so such a table might become inacc

[2021-11-05 06:56] mingzehuang commented on #3828
Thank you, @ahoshiyar ! It looks perfectly address my concern! I'm going to finish reviewing the rest of parts ASAP:)

[2021-11-05 07:05] hugoledoux commented on #2869
@kenohori & @sdesabbata could you resume the review and update us? The author updated the paper and the package.

Please let us know

[2021-11-05 09:19] whedon commented on #3842
:wave: @travisbthomp, please update us on how your review is going (this is an automated reminder).

[2021-11-05 09:19] whedon commented on #3842
:wave: @madvn, please update us on how your review is going (this is an automated reminder).

[2021-11-05 09:48] ajstewartlang commented on #3739
@sfsinger19103 you can go ahead and correct the paper on the joss-submission branch (or on the joss-submission-updated branch if that's where changes have been made) - I'll then re-generate the pdf - just let me know which branch it's on.

[2021-11-05 10:27] BjoernBiltzinger commented on #3892
@whedon check references

[2021-11-05 10:27] whedon commented on #3892
[code]

[2021-11-05 10:41] BjoernBiltzinger commented on #3892
The suggested DOI for the "The Multi-Mission Maximum Likelihood framework (3ML)" is not the correct one. Unfortunately there is no DOI for this paper, because it was only published on arxiv.

[2021-11-05 10:42] BjoernBiltzinger commented on #3892
@whedon generate pdf

[2021-11-05 10:43] whedon commented on #3892
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03892/joss.03892/10.21105.joss.03892.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03892/joss.03892/10.21105.joss.03892.pdf) :page_facing_up: :point_left:

[2021-11-05 11:13] adRn-s commented on #3876
It has been an honor for me to be a reviewer for this software. I have made some suggestions in their respective repositories, and all have positively been taken into account. The core functionality of both packages is in perfect condition. I look forward to seeing these software libraries grow into the whole framework functionality that EcoJulia has to offer.

I would like to take the opportunity

[2021-11-05 11:50] fabian-sp commented on #3865
Regarding my above comment, there is version `0.1.5` now on PyPi which fixes the problem with `scikit-learn` as a dependency. I am again sorry for the confusion and hope that it did not affect the review process.

[2021-11-05 12:24] danielskatz commented on #3891
Thanks @JacksonMaxfield and @nniiicc - I've ended the scope query, and we'll move onto finding an editor

[2021-11-05 12:25] danielskatz commented on #3891
👋 @chartgerink - the submitters suggested you as the editor for this JOSS submission - can you edit it?

[2021-11-05 12:25] danielskatz commented on #3891
@whedon invite @chartgerink as editor

[2021-11-05 12:26] whedon commented on #3891
@chartgerink has been invited to edit this submission.

[2021-11-05 12:31] danielskatz commented on #3856
@whedon invite @sbenthall as editor

[2021-11-05 12:31] whedon commented on #3856
@sbenthall has been invited to edit this submission.

[2021-11-05 12:49] metelkin commented on #3708
I have added one sentence to mention the most known standard representation of bio-models. See the latest version in the "paper" branch. See below.

For a broader discussion here, I need to mention that SBML (as an example) and Heta are not competitors. Heta, in general, is a human-readable language that has been created to optimize the process of model development by users. SBML is an industrial

[2021-11-05 12:50] metelkin commented on #3708
@whedon generate pdf from branch paper

[2021-11-05 12:50] whedon commented on #3708
[code]

[2021-11-05 12:50] whedon commented on #3708
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03708/joss.03708/10.21105.joss.03708.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03708/joss.03708/10.21105.joss.03708.pdf) :page_facing_up: :point_left:

[2021-11-05 13:14] kescobo commented on #3876
Thanks @adRn-s and @aguang for the thoughtful reviews and suggestions! I am working on a number of the suggested changes [here](https://github.com/EcoJulia/Microbiome.jl/pull/115).

There's been some discussion in the `#ecology` stream on zulip about incorporating [`Diversity.jl`](https://github.com/EcoJulia/Diversity.jl), which may end up being an even better solution. I think either pulling Dive

[2021-11-05 13:21] mikldk commented on #3889
@whedon assign me as editor

[2021-11-05 13:21] whedon commented on #3889
OK, the editor is @mikldk

[2021-11-05 13:21] mikldk commented on #3889
@JeffreyRStevens - thank you for the submission.

Do you have any suggestions for reviewers ([here](https://bit.ly/joss-reviewers) is a list of potential reviewers)?

[2021-11-05 13:32] gkthiruvathukal commented on #3865
@fabian-sp This should not affect the review process. The idea of the review process is to ensure technical soundness and improve the submission. Thank you for keeping all of us informed.

[2021-11-05 13:33] JeffreyRStevens commented on #3889
Thanks, @mikldk. The package has already been peer reviewed in rOpenSci by Joseph O'Brien (@jmobrien) and Julia Silge (@juliasilge) at https://github.com/ropensci/software-review/issues/455. Is there a fast-track review option since it has already been peer reviewed? If so, do you still need additional reviewers?
Thanks.

[2021-11-05 13:39] whedon commented on #3844
:wave: @rowlandseymour, please update us on how your review is going (this is an automated reminder).

[2021-11-05 13:39] whedon commented on #3844
:wave: @tbrown122387, please update us on how your review is going (this is an automated reminder).

[2021-11-05 13:53] donaldRwilliams commented on #3308
hey @arfon My internship is over. Thank you for baring with me. Doing that full time, and then working a bit on the weekends sucked..lol.. but working on this now

[2021-11-05 14:02] tbrown122387 commented on #3879
@fboehm it looks like you're all good on reviewers?

[2021-11-05 14:10] danielskatz commented on #3889
Yes, sorry, I was not aware of this when I asked @mikldk to edit.  I'll take this back and run this through quickly, in the next day or few hopefully.

[2021-11-05 14:10] danielskatz commented on #3889
@whedon assign me as editor

[2021-11-05 14:10] whedon commented on #3889
OK, the editor is @danielskatz

[2021-11-05 14:13] metelkin commented on #3708
Fixed in master branch. It will be in release v0.6.7

[2021-11-05 14:16] JeffreyRStevens commented on #3889
@danielskatz, OK--thanks. Note that the reviewers did not review the paper, just the package.

[2021-11-05 14:16] danielskatz commented on #3889
right - that's typical - I will review the paper as part of the process

[2021-11-05 14:24] KristinaRiemer commented on #3200
@puruckertom have you had a chance to review these changes and update your checklist accordingly?

Also, @Peter-Vermeiren have you been able to start your review yet?

[2021-11-05 14:28] fabian-s commented on #3844
(sorry about those automatic reminders...)

@perrydv both reviewers have gone through their checklists and defined some issues in your repo.

I would consider

nimble-dev/compareMCMCs#16
nimble-dev/compareMCMCs#17
nimble-dev/compareMCMCs#18

to be issues currently blocking acceptance as they are directly relevant for points on the JOSS criteria checklist.
Your package currently also violates many

[2021-11-05 14:36] inpefess commented on #3849
@ian-bunner and @lutzhamel I updated the code (not the paper) today (added Dockerfile for Binder mostly). Please use the latest package version, since the documentation was updated too.

[2021-11-05 14:41] pdebuyl commented on #3337
Hi @danclewley thank for the feedback.

To proceed, I would like to ask you to fill the checklist for all items that you agree on. This is part of the JOSS review process and it in general also a nice way for the authors to track the progress of the review. To accept the paper, once you are ok, I would also like an explicit statement of acceptance here. (This is not part of JOSS guidelines but wit

[2021-11-05 14:42] pdebuyl commented on #3337
@arthur-e would you update your checklist as well in light of the updates?

[2021-11-05 15:09] danielskatz commented on #3889
@ehedon assign @danielskatz as reviewer

[2021-11-05 15:09] danielskatz commented on #3889
@whedon assign @danielskatz as reviewer

[2021-11-05 15:09] whedon commented on #3889
OK, @danielskatz is now a reviewer

[2021-11-05 15:09] danielskatz commented on #3889
@whedon start review

[2021-11-05 15:09] whedon opened #3893 "[REVIEW]: excluder: An R package that checks for exclusion criteria in online data"
**Submitting author:** @JeffreyRStevens (<a href="http://orcid.org/0000-0003-2375-1360">Jeffrey R Stevens</a>)
**Repository:** <a href="https://github.com/ropensci/excluder/" target ="_blank">https://github.com/ropensci/excluder/</a>
**Version:** 0.3.1
**Editor:** @danielskatz
**Reviewer:** @danielskatz
**Archive:** <a href="https://doi.org/10.5281/zenodo.5648202" target="_blank">10.5281/zenodo.56

[2021-11-05 15:09] whedon commented on #3889
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3893.

[2021-11-05 15:09] #3889 closed

[2021-11-05 15:09] whedon commented on #3893
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danielskatz it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jos

[2021-11-05 15:09] whedon commented on #3893
[code]

[2021-11-05 15:09] whedon commented on #3893
PDF failed to compile for issue #3893 with the following error:
[code]

[2021-11-05 15:10] danielskatz commented on #3893
Accepted by rOpenSci in https://github.com/ropensci/software-review/issues/455

[2021-11-05 15:11] danielskatz commented on #3893
@whedon generate pdf from branch paper

[2021-11-05 15:11] whedon commented on #3893
[code]

[2021-11-05 15:11] danielskatz commented on #3893
@whedon check references from branch paper

[2021-11-05 15:11] whedon commented on #3893
[code]

[2021-11-05 15:11] whedon commented on #3893
[code]

[2021-11-05 15:11] whedon commented on #3893
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03893/joss.03893/10.21105.joss.03893.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03893/joss.03893/10.21105.joss.03893.pdf) :page_facing_up: :point_left:

[2021-11-05 15:13] danielskatz commented on #3893
@JeffreyRStevens - is there already an archived version of this software in zenodo or a similar archival repository as part of the rOpenSci review?  If so, what's the DOI and version of the software that was archived?

[2021-11-05 15:19] JeffreyRStevens commented on #3893
@danielskatz, no, not to my knowledge. Should I do that now?

[2021-11-05 15:21] vinisalazar commented on #3622
Apologies, I hadn't realised that had already been done by my CI setup. Here it is: https://doi.org/10.5281/zenodo.5550568

This version contains all changes requested by the reviewers. Please note that the current tag (`v0.1.24`) is different from the originally submitted version (`v0.1.23`).

Please let me know if anything else is needed.

Best wishes,
Vinícius

[2021-11-05 15:27] danielskatz commented on #3893
Yes - the paper looks good to me, so the next steps are:
- [ ] Make a tagged release of your software if needed, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the

[2021-11-05 15:46] arjunsavel commented on #3612
Hi @finagle29 — sorry for the delay!

I've been able to run the sample_data that you provided for the blue arm, and everything looks great there! However, I'm not able to do so for the red arm; in this case, I run into a consistent issue with each file (no RA, Dec --> astropy throws a TypeError when trying to create SkyCoords).

[2021-11-05 15:59] JeffreyRStevens commented on #3893
* I have tagged the submitted version 0.3.1 on GitHub.
* I have archived the software on Zenodo at https://doi.org/10.5281/zenodo.5648202 with the DOI of 10.5281/zenodo.5648202.

Was that everything?

[2021-11-05 16:03] danielskatz commented on #3893
Yes, that's it - I'll continue the process

[2021-11-05 16:04] danielskatz commented on #3893
@whedon set 0.3.1 as version

[2021-11-05 16:04] whedon commented on #3893
OK. 0.3.1 is the version.

[2021-11-05 16:04] danielskatz commented on #3893
@whedon set 10.5281/zenodo.5648202 as archive

[2021-11-05 16:04] whedon commented on #3893
OK. <a href="https://doi.org/10.5281/zenodo.5648202" target="_blank">10.5281/zenodo.5648202</a> is the archive.

[2021-11-05 16:04] danielskatz commented on #3893
@whedon recommend-accept

[2021-11-05 16:04] whedon commented on #3893
[code]

[2021-11-05 16:04] whedon commented on #3893
PDF failed to compile for issue #3893 with the following error:
[code]

[2021-11-05 16:04] danielskatz commented on #3893
@whedon recommend-accept from branch paper

[2021-11-05 16:04] whedon commented on #3893
[code]

[2021-11-05 16:05] whedon commented on #3893
[code]

[2021-11-05 16:05] whedon commented on #3893
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2730

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2730, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-05 16:24] metelkin commented on #3708
@martinmodrak, thanks again for such a deep analysis.
Regarding "export" design you are right. The current solution seems to be inconsistent in some way.
The "export" settings shouldn't be part of the standard and it is not part of a model at all.

Moreover, in one of the previous Heta versions "export" settings were part of the platfrom.json file.
The decision to move \#export back to the main He

[2021-11-05 16:24] danielskatz commented on #3893
@whedon accept deposit=true from branch paper

[2021-11-05 16:25] whedon commented on #3893
[code]

[2021-11-05 16:25] whedon commented on #3893
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1456659007507255308) 👈 🐦🐦🐦

[2021-11-05 16:25] whedon commented on #3893
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2731
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03893](https://doi.org/10.21105/joss.03893)
2. If everything look

[2021-11-05 16:33] danielskatz commented on #3893
Congratulations @JeffreyRStevens (Jeffrey R Stevens) - your paper has now been accepted and published by JOSS!!

[2021-11-05 16:33] #3893 closed

[2021-11-05 16:33] whedon commented on #3893
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03893/status.svg)](https://doi.org/10.21105/joss.03893)

**We need your help!**

Journal of Open Source Softwa

[2021-11-05 16:51] vitorsr commented on #3821
Hi,

Thanks for addressing my comments.

Yes. I am not sure if the following is clear, however please do note that the development requirements are a superset of the package requirements. The former includes packages for tests, coverage, documentation etc., to name a few development requirements. Moreover please note that I can only infer that [`nose`](https://github.com/fjprichard/PyAFBF/search?q

[2021-11-05 17:20] JeffreyRStevens commented on #3893
Many thanks, @danielskatz!

[2021-11-05 17:38] whedon opened #3894 "[PRE REVIEW]: GCM-Filters: A Python Package for Diffusion-based Spatial Filtering of Gridded Data"
**Submitting author:** @NoraLoose (<a href="http://orcid.org/0000-0002-3684-9634">Nora Loose</a>)
**Repository:** <a href="https://github.com/ocean-eddy-cpt/gcm-filters" target ="_blank">https://github.com/ocean-eddy-cpt/gcm-filters</a>
**Version:** v0.1.3
**Editor:** @elbeejay
**Reviewers:** @callumrollo, @AleksiNummelin, @isgiddy
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service

[2021-11-05 17:38] whedon commented on #3894
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-05 17:38] whedon commented on #3894
Wordcount for `paper.md` is 1131

[2021-11-05 17:38] whedon commented on #3894
[code]

[2021-11-05 17:38] whedon commented on #3894
[code]

[2021-11-05 17:39] whedon commented on #3894
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03894/joss.03894/10.21105.joss.03894.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03894/joss.03894/10.21105.joss.03894.pdf) :page_facing_up: :point_left:

[2021-11-05 17:41] danielskatz commented on #3894
@noraloose - while we find an editor, can you work on the possibly missing DOI and the incorrect DOI that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first

[2021-11-05 17:42] danielskatz commented on #3894
👋 @elbeejay - do you think you could edit this submission for JOSS?

[2021-11-05 17:42] danielskatz commented on #3894
@whedon invite @elbeejay as editor

[2021-11-05 17:43] whedon commented on #3894
@elbeejay has been invited to edit this submission.

[2021-11-05 17:43] danielskatz commented on #3894
@kthyng - just pinging you as well, since this falls into your area, but you currently don't have editing slots open

[2021-11-05 18:09] NoraLoose commented on #3894
Thanks @danielskatz for handling our submission and looking for an editor!

Yes, working on it!

[2021-11-05 18:10] NoraLoose commented on #3894
@whedon check references

[2021-11-05 18:10] whedon commented on #3894
[code]

[2021-11-05 18:34] papachristoumarios commented on #3865
@gkthiruvathukal I have finished my review. In general the paper presents a complete body of work, is very well written and has thorough evaluation. I went through all the criteria and I couldn't find something that was missing. I have also opened two issues in the repo regarding the improvement of the software:

* https://github.com/fabian-sp/GGLasso/issues/27
* https://github.com/fabian-sp/GGLas

[2021-11-05 19:18] sbenthall commented on #3845
@henrykironde Thank you for volunteering. Normally, I would assign you as a reviewer immediately. However, in this case the author seems to have a strong preference for reviewers in their area of research, and has named several. I will keep you in mind as a backup!

[2021-11-05 19:19] sbenthall commented on #3845
@tbsexton Were you able to give it a look?

@astanziola would you be able to review this submission?

[2021-11-05 20:14] zbeekman commented on #3764
@whedon generate pdf

[2021-11-05 20:15] whedon commented on #3764
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03764/joss.03764/10.21105.joss.03764.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03764/joss.03764/10.21105.joss.03764.pdf) :page_facing_up: :point_left:

[2021-11-05 20:22] zbeekman commented on #3764
@ajstewartlang or @danielskatz I have questions about citations in the bibliography:

1. Are DOIs preferred over ISBNs?
2. Do all references need a DOI?

Relevant to https://github.com/simoninireland/epyc/issues/11

[2021-11-05 20:23] danielskatz commented on #3764
DOIs are preferred and required for references that have them.

[2021-11-05 20:23] danielskatz commented on #3764
@whedon check references

[2021-11-05 20:24] whedon commented on #3764
[code]

[2021-11-05 20:29] zbeekman commented on #3764
@danielskatz the paper already [includes DOIs for both of those references](https://github.com/simoninireland/epyc/blob/136456558e1d48d62d68df43312fcfc739120915/paper.bib#L22-L43), I'm not sure why @whedon is saying they're missing. Maybe there's a formatting/capitalization issue?

Additionally, the bibliography [provides both an ISBN and DOI for Bailey, R. A. (2009). *Design of comparative experi

[2021-11-05 20:37] danielskatz commented on #3764
please update the bib file to store dois in doi = {} fields, not url fields.  these should be of the form doi = {a.b/...} without the full URL listing

[2021-11-05 20:42] zbeekman commented on #3764
@simoninireland the paper looks great! I opened two issues on the project/paper repository. The first is to address/fix the reference DOI display. The second is that there is an unclosed parenthetical clause at the end of the "Differences with other tools" section. Once those are resolved I can check off all the boxes for the paper.

I'm now moving on to examine the documentation and verify the in

[2021-11-05 20:55] akaptano commented on #3845
@sbenthall sorry if I gave you the wrong impression -- I was simply suggesting people to try and make your job a bit easier. Even my suggestions for reviewers mostly do not overlap with my area of research, so I am quite happy if you put Henry as a reviewer.

[2021-11-05 20:58] alexander-pastukhov commented on #3789
I woudl suggest: fernandomayer, fartist

[2021-11-05 21:41] akaszynski commented on #3673
Hello,

I'm satisfied with the changes made.  Great work!

[2021-11-05 21:48] donaldRwilliams commented on #3308
work in progress

- Why did you include, under the asd_ocd dataset examples, the code for simluating from such data using MASS? This does not seem directly relevant for your package.

It is a correlation matrix.

I see now the title is misleading (“Data”). I changed that to Cor.

- Why is the default number of cores in ggm_inference equal to 2? My suggestion would be to make it 1, to work on any m

[2021-11-05 22:43] ksunden commented on #3781
Modulo using the preferred matplotlib citation ([PR submitted](https://github.com/spectrapepper/spectrapepper/pull/8)), I'm ready to sign off on my part.

I do encourage the authors to take a look at implementation of some of their core routines: while performance considerations are not claims made and thus not directly evaluated, there are many instances in the codebase where bare python for loop

[2021-11-05 23:50] siara-cc commented on #3890
I have added DOIs where ever available

[2021-11-06 00:08] quynhneo commented on #3736
Sorry I didn't meet the suggested 6 weeks deadline for the review, but I will catch up soon.

[2021-11-06 00:27] mjsottile commented on #3855
:wave: @hilaryweller0, @dmikushin, @olekravchenko - you were suggested by the author of this submission to JOSS as potential reviewers. Would you be interested in providing a review? If you haven't reviewed for JOSS before, you can see the review criteria here : https://joss.readthedocs.io/en/latest/review_criteria.html

Please let me know if you are interested and I can add you as a reviewer to t

[2021-11-06 01:03] athulpg007 commented on #3710
@whedon generate pdf

[2021-11-06 01:03] whedon commented on #3710
PDF failed to compile for issue #3710 with the following error:
[code]

[2021-11-06 01:35] dmikushin commented on #3855
Hi thanks for reaching out, I'm new to JOSS but will be happy to help!

[2021-11-06 01:39] whedon commented on #3710
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: :point_left:

[2021-11-06 01:51] athulpg007 commented on #3710
Hi @jbytecode :

1. I accepted the suggested edits. Based on the suggestions, I made some additional corrections and checked the paper. If there are still any language/format issues, I am happy to revise further.
2. Zenodo archive version number: v2.2.3, DOI: 10.5281/zenodo.5650129.

Thanks!

[2021-11-06 01:56] christinahedges commented on #3827
@cpinte and @emptymalei it seems like both of your review checklists are complete. Thank you for your speedy work! If you have any further comments for the authors please do post them, otherwise let me know on the thread if you're happy with the submission and would like to complete your review and recommend acceptance.

[2021-11-06 01:59] christinahedges commented on #3892
@whedon assign me as editor

[2021-11-06 01:59] whedon commented on #3892
OK, the editor is @christinahedges

[2021-11-06 02:03] christinahedges commented on #3892
@BjoernBiltzinger thanks for your submission to JOSS! I will look into your submission, and search for relevant reviewers. If you have suggestions for people who would make good reviewers for your work (without conflicts of interest) please let me know here in the thread.

Thank you for updating the article, sorry it seems to have broken your CI!

[2021-11-06 05:25] jbytecode commented on #3881
👋👋👋 Dear @vimalthilak  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "_VeridicalFlow: a python package for building trustworthy data-science pipelines with PCS_". You can find more information at the top of this Github

[2021-11-06 05:26] jbytecode commented on #3710
@whedon check references

[2021-11-06 05:26] whedon commented on #3710
[code]

[2021-11-06 05:27] jbytecode commented on #3710
@athulpg007 could you please correct the missing DOI issue as Whedon suggested above?

[2021-11-06 06:32] ilyamandel commented on #3838
Sorry for the silence, @HeloiseS .  I'll handle the options clarification over the next 24 hours -- it should be sufficiently straightforward.

[2021-11-06 07:27] TLCFEM commented on #3668
Hi all, any progress regarding this paper? Wondering if there is anything I can do to push this forward a bit.

[2021-11-06 10:17] enricgrau commented on #3781
@ksunden Thank you for your valuable insights.

Indeed, we don't make any performance claims, however, with your advice we will better look at the codebase to replace common calculations by proper numpy/scipy functions. Hopefully for a v0.2.0 we can make performance claims.

As you correctly point out, we do include some functions that are already available on other libraries. This is intentional

[2021-11-06 10:32] richrobe commented on #3881
Hi @jbytecode!
Sorry for the late reply, but I'd be happy to review as well!

[2021-11-06 11:00] jbytecode commented on #3881
@whedon add @richrobe as reviewer

[2021-11-06 11:00] whedon commented on #3881
OK, @richrobe is now a reviewer

[2021-11-06 11:01] jbytecode commented on #3881
@whedon start review

[2021-11-06 11:01] whedon opened #3895 "[REVIEW]: VeridicalFlow: a python package for building trustworthy data-science pipelines with PCS"
**Submitting author:** @csinva (<a href="http://orcid.org/0000-0003-0318-2340">Chandan Singh</a>)
**Repository:** <a href="https://github.com/Yu-Group/veridical-flow" target ="_blank">https://github.com/Yu-Group/veridical-flow</a>
**Version:** v0.1.1
**Editor:** @jbytecode
**Reviewer:** @kmichael08, @richrobe
**Archive:** <a href="https://doi.org/10.5281/zenodo.5841669" target="_blank">10.5281/zen

[2021-11-06 11:01] whedon commented on #3881
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3895.

[2021-11-06 11:01] #3881 closed

[2021-11-06 11:01] whedon commented on #3895
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kmichael08, @richrobe it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-11-06 11:01] whedon commented on #3895
Wordcount for `paper.md` is 729

[2021-11-06 11:01] whedon commented on #3895
[code]

[2021-11-06 11:01] whedon commented on #3895
[code]

[2021-11-06 11:01] whedon commented on #3895
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03895/joss.03895/10.21105.joss.03895.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03895/joss.03895/10.21105.joss.03895.pdf) :page_facing_up: :point_left:

[2021-11-06 11:04] jbytecode commented on #3895
Dear @kmichael08 and @richrobe

- This is the review issue. Please ping me if you received this message.
- There are 20 checkbox items for each reviewer. Please follow them and click when you finish the corresping task.
- The review is live, so you can interact with the author(s) and me, open new issues in the software repo, and mention here.
- You can also contribute to software.
- Do not hesitat

[2021-11-06 11:06] sachsmc commented on #3877
@whedon generate pdf

[2021-11-06 11:06] jbytecode commented on #3710
@whedon set v2.2.3 as version

[2021-11-06 11:06] whedon commented on #3710
OK. v2.2.3 is the version.

[2021-11-06 11:06] whedon commented on #3877
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03877/joss.03877/10.21105.joss.03877.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03877/joss.03877/10.21105.joss.03877.pdf) :page_facing_up: :point_left:

[2021-11-06 14:09] JeffreyRStevens commented on #3893
@danielskatz, I assume that I can remove the paper branch now?

[2021-11-06 14:09] danielskatz commented on #3893
Yes, that's fine

[2021-11-06 14:17] elwinter commented on #3465
Hi Patrick. I apologize for the delayed response. As shown below, test
coverage (the only remaining issue) is now at 76%. Is this sufficient to
continue?

Thanks
Eric

Coverage report: 76%[image: Show keyboard shortcuts]
Modulestatementsmissingexcludedcoverage
Total 6341 1508 0 76%
nnde/__init__.py <nnde___init___py.html> 0 0 0 100%
nnde/differentialequation/__init__.py
<nnde_differentialequation_

[2021-11-06 14:59] fibreglass2 commented on #3736
I'd like to address most to all of the reviewer comments, including ones to be added by @quynhneo. After that review can resume.

[2021-11-06 16:07] athulpg007 commented on #3710
@jbytecode applied pull request to correct missing DOI. Thank you for the edit.

[2021-11-06 16:07] athulpg007 commented on #3710
@whedon check references

[2021-11-06 16:07] whedon commented on #3710
[code]

[2021-11-06 16:24] fboehm commented on #3879
Thanks, @tbrown122387 ! Yes, we ended up finding enough reviewers. Thanks again - I hope that we can work together on a future submission.

[2021-11-06 16:24] rkurchin commented on #3812
@soroushj and @yzhao062, would you be interested in reviewing this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-11-06 16:26] rkurchin commented on #3781
Thanks again everyone for the thoughtful engagement on this submission! @enricgrau, leave a comment here when you've fixed that citation and we can start finalizing! 😃

[2021-11-06 16:31] rkurchin commented on #3727
@roderickmackenzie and @shahmoradi, are you satisfied with the responses to your most recent comments? Please do update your checklists if appropriate and leave comments/file issues for any remaining points.

[2021-11-06 16:34] enricgrau commented on #3781
@rkurchin The citation is fixed, both `.bib` and `.md` files are now updated. Thank you!

[2021-11-06 16:38] rkurchin commented on #3781
@whedon generate pdf

[2021-11-06 16:38] whedon commented on #3781
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03781/joss.03781/10.21105.joss.03781.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03781/joss.03781/10.21105.joss.03781.pdf) :page_facing_up: :point_left:

[2021-11-06 16:40] rkurchin commented on #3781
@whedon check references

[2021-11-06 16:40] whedon commented on #3781
[code]

[2021-11-06 16:40] hayesall commented on #3465
I just tested the master branch and got 72% coverage.

<details>
<summary>Terminal Recap</summary>

[code]

</details>

This seems fine (I tend to think coverage numbers are more a rule-of-thumb than an absolute threshold).

If you want to report coverage stats on push/pull requests, you can add something like this to the `.github/workflows/github-run-nnde-tests.yml`:

[code]

[2021-11-06 16:42] yzhao062 commented on #3812
@rkurchin Thanks for the invite. I am a bit tied up ATM.

I think @DerrickXuNu (https://github.com/DerrickXuNu), @orange90 (https://github.com/orange90), and @youngfish42 (https://github.com/youngfish42) will be good reviewers for this who also build deep learning libraries.

Hope this helps!

[2021-11-06 17:02] kenohori commented on #2869
I was already happy with the previous version of the paper, so I only had a quick look at the updated version. It is fine by me: reads well and has all required elements. I assume this is sufficient? Or do you want me to test the updated software?

[2021-11-06 17:11] jbytecode commented on #3710
@whedon check references

[2021-11-06 17:11] whedon commented on #3710
[code]

[2021-11-06 17:12] jbytecode commented on #3710
@whedon generate pdf

[2021-11-06 17:12] whedon commented on #3710
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: :point_left:

[2021-11-06 17:16] jbytecode commented on #3710
@whedon set 10.5281/zenodo.5650129 as archive

[2021-11-06 17:16] whedon commented on #3710
OK. <a href="https://doi.org/10.5281/zenodo.5650129" target="_blank">10.5281/zenodo.5650129</a> is the archive.

[2021-11-06 17:17] jbytecode commented on #3710
@whedon recommend-accept

[2021-11-06 17:17] whedon commented on #3710
[code]

[2021-11-06 17:17] whedon commented on #3710
[code]

[2021-11-06 17:18] whedon commented on #3710
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2732

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2732, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-06 18:41] jmschrei commented on #3622
@whedon set 10.5281/zenodo.5550568 as archive

[2021-11-06 18:41] whedon commented on #3622
OK. <a href="https://doi.org/10.5281/zenodo.5550568" target="_blank">10.5281/zenodo.5550568</a> is the archive.

[2021-11-06 18:42] jmschrei commented on #3622
@whedon set v0.1.24 as version

[2021-11-06 18:42] whedon commented on #3622
OK. v0.1.24 is the version.

[2021-11-06 18:42] jmschrei commented on #3622
@whedon recommend-accept

[2021-11-06 18:42] whedon commented on #3622
[code]

[2021-11-06 18:42] whedon commented on #3622
PDF failed to compile for issue #3622 with the following error:
[code]

[2021-11-06 18:48] jmschrei commented on #3622
@whedon recommend-accept from branch joss-paper

[2021-11-06 18:48] whedon commented on #3622
[code]

[2021-11-06 18:49] whedon commented on #3622
[code]

[2021-11-06 18:49] whedon commented on #3622
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2733

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2733, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-06 20:21] rkurchin commented on #3781
I opened https://github.com/spectrapepper/spectrapepper/pull/9 with a few editorial tweaks to the manuscript

[2021-11-06 21:23] sfsinger19103 commented on #3739
@ajstewartlang corrected version now on` joss-submission` branch.

[2021-11-06 23:31] ilyamandel commented on #3838
@whedon generate pdf from branch JOSS

[2021-11-06 23:31] whedon commented on #3838
[code]

[2021-11-06 23:32] whedon commented on #3838
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03838/joss.03838/10.21105.joss.03838.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03838/joss.03838/10.21105.joss.03838.pdf) :page_facing_up: :point_left:

[2021-11-06 23:38] ilyamandel commented on #3838
@whedon generate pdf from branch JOSS

[2021-11-06 23:38] whedon commented on #3838
[code]

[2021-11-06 23:38] whedon commented on #3838
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03838/joss.03838/10.21105.joss.03838.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03838/joss.03838/10.21105.joss.03838.pdf) :page_facing_up: :point_left:

[2021-11-06 23:41] ilyamandel commented on #3838
@HeloiseS , @christinahedges , @katiebreivik -- I updated the text to include a brief context of other available rapid binary population synthesis tools, as suggested.  [Please ignore the one broken reference in the last compiled version -- it's fixed now, just didn't want to generate another version.]

[2021-11-07 02:49] mjsottile commented on #3855
@dmikushin Great - once we get another reviewer I can initiate the review.  Then you'll see the checklist in the review issue that gets created.  The process is pretty straightforward, and I'm happy to help or answer questions along the way.

[2021-11-07 03:45] emptymalei commented on #3827
Hi @christinahedges , from my side, I'm happy with the submission and would like to recommend accepting the current manuscript.

[2021-11-07 03:47] prashjha commented on #3668
@TLCFEM I am waiting on @Balaje and @karthikncsu for their decision. Thanks for asking.

[2021-11-07 03:48] prashjha commented on #3668
@Balaje and @karthikncsu how far are you with the reviews? No hurry though...your time is sincerely appreciated. :)

[2021-11-07 03:54] prashjha commented on #3775
Hello, @erafalovsky! Would you like to review this JOSS submission?

[2021-11-07 04:54] olekravchenko commented on #3855
@mjsottile Hi, sure. I'm glad to take a part.

[2021-11-07 05:05] roderickmackenzie commented on #3727
@rkurchin I believe, I am still waiting for my concerns to be answered. Happy to reassess once this has been done. I also agree with the point from @UTH-Tuan regarding citing other models which perform the same task.

[2021-11-07 05:34] TLCFEM commented on #3668
Just to confirm, is there anything I shall do apart from the checklist? Any review document shall be provided?

[2021-11-07 05:53] prashjha commented on #3668
@TLCFEM that will be all but if you have comments or any point on other aspects not covered in the checklist, you could let the authors know. As far as I know, no review document is required from your and our side as the checklist and issues are records of review.

[2021-11-07 07:01] mjsottile commented on #3855
@whedon assign @dmikushin as reviewer

[2021-11-07 07:01] whedon commented on #3855
OK, @dmikushin is now a reviewer

[2021-11-07 07:02] mjsottile commented on #3855
@whedon add @olekravchenko as reviewer

[2021-11-07 07:02] whedon commented on #3855
OK, @olekravchenko is now a reviewer

[2021-11-07 07:03] mjsottile commented on #3855
@whedon start review

[2021-11-07 07:03] whedon opened #3896 "[REVIEW]: PyMPDATA v1: Numba-accelerated Pythonic implementation of MPDATA with examples in Python, Julia and Matlab"
**Submitting author:** @slayoo (<a href="http://orcid.org/0000-0003-2361-0082">Sylwester Arabas</a>)
**Repository:** https://github.com/atmos-cloud-sim-uj/PyMPDATA
**Branch with paper.md** (empty if default branch):
**Version:** v1
**Editor:** @arfon
**Reviewers:** @Chiil, @wdeconinck
**Archive:** 10.5281/zenodo.6934418

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2021-11-07 07:03] whedon commented on #3855
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3896.

[2021-11-07 07:03] #3855 closed

[2021-11-07 07:03] whedon commented on #3896
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dmikushin, @olekravchenko it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-11-07 07:03] whedon commented on #3896
PDF failed to compile for issue #3896 with the following error:
[code]

[2021-11-07 07:03] whedon commented on #3896
[code]

[2021-11-07 07:04] mjsottile commented on #3896
@whedon generate pdf from branch JOSS

[2021-11-07 07:04] whedon commented on #3896
[code]

[2021-11-07 07:04] whedon commented on #3896
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03896/joss.03896/10.21105.joss.03896.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03896/joss.03896/10.21105.joss.03896.pdf) :page_facing_up: :point_left:

[2021-11-07 07:05] mjsottile commented on #3896
@whedon check references

[2021-11-07 09:07] ilyamandel commented on #3838
@HeloiseS -- I updated the user options documentation as requested (just waiting for pull request https://github.com/TeamCOMPAS/COMPAS/pull/688 to be checked/approved).  Thank you for the excellent suggestions!

[2021-11-07 09:17] ajstewartlang commented on #3739
@whedon generate pdf from branch joss-submission

[2021-11-07 09:17] whedon commented on #3739
[code]

[2021-11-07 09:17] whedon commented on #3739
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03739/joss.03739/10.21105.joss.03739.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03739/joss.03739/10.21105.joss.03739.pdf) :page_facing_up: :point_left:

[2021-11-07 09:29] janfreyberg commented on #3832
@whedon generate pdf

[2021-11-07 09:30] whedon commented on #3832
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03832/joss.03832/10.21105.joss.03832.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03832/joss.03832/10.21105.joss.03832.pdf) :page_facing_up: :point_left:

[2021-11-07 09:33] janfreyberg commented on #3847
Hi, yes - happy to review this :)

[2021-11-07 09:38] janfreyberg commented on #3847
@whedon assign @janfreyberg as reviewer

[2021-11-07 09:38] whedon commented on #3847
I'm sorry @janfreyberg, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-11-07 09:42] janfreyberg commented on #3832
All software-related review items look great to me now - the software installs and runs as documented. Pending the state of the field addition to the paper, all looks good to me :)

One point: I was unable to run the code related to online signal processing, as it requires hardware. This code is also not tested automatically. However, given the nature of the code, I don't think it's possible to ch

[2021-11-07 09:52] axel-loewe commented on #3832
I had to install `requests` as an additional dependency that was not listed.

Also, I had to add a couple of imports in order to run the Getting Started examples (e.g., `from systole.plots plot_raw`)

[2021-11-07 10:22] ajstewartlang commented on #3739
@whedon check references from branch joss-submission

[2021-11-07 10:22] whedon commented on #3739
[code]

[2021-11-07 10:22] whedon commented on #3739
[code]

[2021-11-07 11:40] ketch commented on #3380
- The section "Mimetic Operators" does not, as I understand it, actually state what a mimetic operator is.  "faithful to the physics" is too vague.  I believe "mimetic" has a mathematical meaning as it is used in the literature (by the authors!) and that meaning should be stated here.
- The 3rd reference seems to be missing an author.  Please check the whole bibliography carefully.
- The "state of

[2021-11-07 11:47] prashjha commented on #3847
@janfreyberg super thanks for agreeing to review. :)

[2021-11-07 11:47] prashjha commented on #3847
@whedon add @janfreyberg as reviewer

[2021-11-07 11:47] whedon commented on #3847
OK, @janfreyberg is now a reviewer

[2021-11-07 11:51] prashjha commented on #3847
Hi @alexrockhill, we now have two reviewers so I will start the review process.

Thanks in advance @TomDonoghue and @janfreyberg for your time.

[2021-11-07 11:52] prashjha commented on #3847
@whedon start review

[2021-11-07 11:52] whedon opened #3897 "[REVIEW]: Intracranial Electrode Location and Analysis in MNE-Python"
**Submitting author:** @alexrockhill (<a href="http://orcid.org/0000-0003-3868-7453">Alexander Rockhill</a>)
**Repository:** <a href="https://github.com/mne-tools/mne-python" target ="_blank">https://github.com/mne-tools/mne-python</a>
**Version:** 0.24.dev0
**Editor:** @prashjha
**Reviewer:** @TomDonoghue, @janfreyberg
**Archive:** <a href="https://doi.org/10.5281/zenodo.6047183" target="_blank">

[2021-11-07 11:52] whedon commented on #3847
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3897.

[2021-11-07 11:52] #3847 closed

[2021-11-07 11:52] whedon commented on #3897
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @TomDonoghue, @janfreyberg it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-11-07 11:52] whedon commented on #3897
PDF failed to compile for issue #3897 with the following error:
[code]

[2021-11-07 11:53] whedon commented on #3897
[code]

[2021-11-07 11:56] prashjha commented on #3897
Thank you @TomDonoghue and @janfreyberg for agreeing to be reviewers. Please read the first couple of comments in this thread and also reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Also, you can browse the closed "REVIEW" issues on the "joss-reviews" repository to get some ideas on how to complete the reviews. Good luck!

[2021-11-07 14:11] donaldRwilliams commented on #3308
**Reviewer 2**

- The return values for the returned_object for several functions code be documented with greater precision. Take enr for example

Agreed !

I went through each function and did just as you suggested

[2021-11-07 14:16] Sbozzolo commented on #3703
`OPT = TRUE` shows that there's a nan: (from the error file)
[code]

I tried removing every single optimization, and compiling in debug mode.
Now I get a segmentation fault:
[code]
This happens quite quickly, `pout` files end with:
[code]

[2021-11-07 14:52] Peter-Vermeiren commented on #3200
@KristinaRiemer Thank you for your patience. I started my review, as planned in early November. It is my priority this week.

[2021-11-07 16:37] janfreyberg commented on #3897
@whedon generate pdf from branch joss-ecog-gui

[2021-11-07 16:37] whedon commented on #3897
[code]

[2021-11-07 16:38] whedon commented on #3897
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03897/joss.03897/10.21105.joss.03897.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03897/joss.03897/10.21105.joss.03897.pdf) :page_facing_up: :point_left:

[2021-11-07 16:49] janfreyberg commented on #3897
Hi @alexrockhill, I can't seem to find obvious documentation for these features in the MNE docs, and the paper currently doesn't provide any information on what part of the library you are describing (in code terms - i.e. what module / submodule / class).

Could you please add this to the paper, and also include examples that demonstrate how the library is used? It's difficult to know what to asse

[2021-11-07 18:34] mikldk commented on #3789
@fernandomayer, @fartist: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-11-07 19:45] alexrockhill commented on #3897
The code described in this paper is for based in these three tutorials:

https://mne.tools/dev/auto_tutorials/clinical/10_ieeg_localize.html
https://mne.tools/dev/auto_tutorials/clinical/20_seeg.html
https://mne.tools/dev/auto_tutorials/clinical/30_ecog.html

and all the modules that they use, especially `mne.gui.locate_ieeg` and `mne.viz.Brain` (for visualizations).

I'll add that to the manuscri

[2021-11-07 20:16] diehlpk commented on #3465
@elwinter Yes, that seems to be fine and this issue is resolved.

[2021-11-07 20:19] diehlpk commented on #3465
@winter I think these are the last open items for the paper.

[2021-11-07 20:21] elwinter commented on #3465
Ok are there issues open for them, or are they to be handled outside the issue flow?
Thanks Eric

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Patrick Diehl ***@***.***>
Sent: Sunday, November 7, 2021 3:19:31 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: nn

[2021-11-07 21:16] WilkAndy commented on #3314
Pinging @jedbrown again - i believe the review process is completed. What is the next step?

[2021-11-07 22:22] mjsottile commented on #3896
@whedon check references from branch JOSS

[2021-11-07 22:22] whedon commented on #3896
[code]

[2021-11-07 22:22] whedon commented on #3896
[code]

[2021-11-07 23:29] slayoo commented on #3896
it's puzzling as the above "INVALID DOIs" seem correct, at leat both of the below URLs redirect correctly to the journal site:
- https://doi.org/10.1175/1520-0450(1968)007%3C0160:AOFDMA%3E2.0.CO;2
- https://doi.org/10.1175/1520-0493(1989)117%3C0102:TDSLTW%3E2.0.CO;2

[2021-11-07 23:35] danielskatz commented on #3896
Please make sure the DOIs are in doi entries in the bib file rather than url entries, and that they don't include the https://doi.org part

[2021-11-07 23:37] danielskatz commented on #3896
And perhaps change the characters that are being encoded for example:

10.1175/1520-0493(1989)117<0102:TDSLTW>2.0.CO;2

[2021-11-08 00:51] ilyamandel commented on #3838
@HeloiseS -- that's been pulled in.  I've now added a list of program options categorised by what they do as you suggested, to be included once https://github.com/TeamCOMPAS/COMPAS/pull/689 is approved.  I _think_ this addresses all of your must-implement comments so far -- hope I haven't missed anything!

[2021-11-08 01:21] cpinte commented on #3827
Hi @christinahedges,
I am also happy to recommend the paper for publication.

[2021-11-08 01:37] diehlpk commented on #3465
I just document the three issues above in this thread.

[2021-11-08 01:49] elwinter commented on #3465
OK thanks, Just wanted to make sure I was not missing anything.

Eric

On Sun, Nov 7, 2021 at 8:37 PM Patrick Diehl ***@***.***>
wrote:

[2021-11-08 02:23] cheginit commented on #3344
I just started the review process.

Overall, I find this submission a much-needed and useful contribution to the ESM community. The paper provides a detailed overview of the statement of the need and their approach for addressing their goals. As it's mentioned in the paper the biggest hurdle for taking advantage of this package is the need for models to follow the BMI framework. Nevertheless, havi

[2021-11-08 03:48] jcorbino commented on #3380
@whedon generate pdf

[2021-11-08 03:48] whedon commented on #3380
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03380/joss.03380/10.21105.joss.03380.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03380/joss.03380/10.21105.joss.03380.pdf) :page_facing_up: :point_left:

[2021-11-08 04:25] jcorbino commented on #3380
@jedbrown @ketch thank you for the feedback. **I think I've addressed all of them in the latest version of the draft** (which was generated right before this comment).

* License updated to GPLv3.

* The one-dimensional Poisson problem was chosen for conciseness purposes. The point is that even such an "underwhelming" problem will require considerably more lines of code if one had chosen a differe

[2021-11-08 04:51] jcorbino commented on #3380
Also in the new draft:  _"It is important to mention that MOLE's main role is the construction of matrices that represent spatial derivative operators and boundary conditions; other components such as solvers and time steppers are only provided via self-contained examples."_ I hope this is clear enough.

[2021-11-08 05:35] slayoo commented on #3896
@whedon check references from branch JOSS

[2021-11-08 05:35] whedon commented on #3896
[code]

[2021-11-08 05:35] whedon commented on #3896
[code]

[2021-11-08 05:36] slayoo commented on #3896
thank you @danielskatz, indeed the URL escapes in the bib file were the cause - good job on the checker side!

[2021-11-08 05:36] slayoo commented on #3219
@whedon check references from branch JOSS

[2021-11-08 05:37] whedon commented on #3219
[code]

[2021-11-08 05:37] whedon commented on #3219
[code]

[2021-11-08 05:41] slayoo commented on #3219
@whedon check references from branch JOSS

[2021-11-08 05:41] whedon commented on #3219
[code]

[2021-11-08 05:41] whedon commented on #3219
[code]

[2021-11-08 06:28] osorensen commented on #3832
Thanks to both @axel-loewe and @janfreyberg. @LegrandNico, please ping us in this thread when you have fixed the remaining issues raised by the reviewers in their last two points.

[2021-11-08 07:15] timtroendle commented on #3596
👋 @noah80 we are waiting for your update on this review. Can you let us know by when you will be able to update this?

[2021-11-08 07:22] ArtVoro commented on #3325
Hi @jarvist, do you have any feedback regarding the corrections? almost 2 months have passed since the last update. I think I adressed all your points but am waiting for response now.

Best regards,
Arthur

[2021-11-08 07:59] hugoledoux commented on #2869
no @kenohori, no need to to test all the updated software again.

[2021-11-08 08:10] oliviaguest commented on #3638
@mstimberg wait, please ☺️

[2021-11-08 08:11] mscroggs commented on #3878
@jedbrown We've pushed some changes to the paper:

1. We've added a citation to xtensor.
2. We've added a sentence about quadrature to the paper, and referenced the Xiao-Gimbutas quadrature rule as this is what is currently used for triangles.
3. We've added two translations of demos to C++ to the website at https://docs.fenicsproject.org/basix/main/python/demo/demo_create_and_tabulate.py.html and

[2021-11-08 09:46] ajstewartlang commented on #3504
@jiemakel many apologies for the delay in progressing your submission - I've been trying to line up another reviewer so that we have two completed reviews in place. I've just sent another invite out this morning...

[2021-11-08 09:49] peanutfun commented on #3885
Hi @mithun218 👋 I'll review your software in the next couple of days, and open up issues in the repository as I go along. Some of them might only be suggestions and you won't have to resolve all of them to get your submission accepted (from my side). Once I'm finished, I'll hence report back here and summarize the issues with respect to the review criteria and the checklist above.

Happy coding!

[2021-11-08 10:40] jbytecode commented on #3608
@lantunes did you complete the reviewers latest recommends and corrections?

[2021-11-08 10:50] andrewtarzia commented on #3829
The above has mostly been answered. Still awaiting a way to test parts of Hardy that do not require the costly training that I cannot perform (issue 11). At this point, it is still unclear how to use Hardy after training a model that can make the classifications.

The checklist above highlights what is missing.

[2021-11-08 11:07] martinmodrak commented on #3708
Great. I think the software + paper now meets all criteria for acceptance in JOSS.

[2021-11-08 11:15] szhorvat commented on #3608
I'll try to finalize this later today.

[2021-11-08 11:28] Kevin-Mattheus-Moerman commented on #3860
@JaroslavHron @salrm8 just checking in if can give an update me on review progress? Are you able to get started or have you started already? Thanks again for your help!

[2021-11-08 11:31] lantunes commented on #3608
@jbytecode Yes, I believe I have. All the changes are on the `joss_review` branch, in this PR: https://github.com/lantunes/cellpylib/pull/23. The changes are ready to be merged.

[2021-11-08 11:34] salrm8 commented on #3860
@Kevin-Mattheus-Moerman, I have already started the review. I will leave my feedback by the end of the week. I hope this is fine. Thank you!

[2021-11-08 12:28] LegrandNico commented on #3832
* All import and documentation issues should be fixed now.

* We have created a public Gitter channel.

* l.43 The reference `@lipponen:2019` is not rendering correctly, even though, from what I can see, it follows the example provided on [JOSS documentation](https://joss.readthedocs.io/en/latest/submitting.html).

* Regarding the inspiration from other toolboxes, Systole is primarily made from co

[2021-11-08 12:28] fraukewiese commented on #3861
@ralphevins @samanmostafavi : If there are any questions regarding the review, do not hesitate to ask.

[2021-11-08 12:33] Kevin-Mattheus-Moerman commented on #3860
@salrm8 that is fine thanks!

[2021-11-08 12:36] BjoernBiltzinger commented on #3892
@christinahedges I fixed the broken CI. The problem is that the INTEGRAL data archive at ISDC is not working at the moment. They had some technical difficulties last Thursday and are still working to get everything running again. For the CI, I added the relevant data files for the tests to the package now. So if the data archive is not working, these local files are used to run the tests.

But the

[2021-11-08 12:38] axel-loewe commented on #3832
Both these comments were more aiming at a clear description what the unique features of systole are, i.e. why a user might want to chose systole rather than one of the alternative solutions.

[2021-11-08 12:55] mhesselbarth commented on #3811
Issues that still need to be addressed:

- [ ] r-spatialecology/shar#79
- [ ] r-spatialecology/shar#87

[2021-11-08 12:57] lucydot commented on #3725
Hi @temken - I'd consider releasing this as 1.0.0. It's not a deal-breaker, I'll leave the final decision up to you - it may be best to follow what is typically done in your particular domain. However in my experience 0.X.Y versions are those used for initial development  - see, for example, the guidance for semantic versioning: https://semver.org/.

[2021-11-08 13:01] lucydot commented on #3723
Thanks @jorisparet though I think the DOI is: 10.5281/zenodo.5639407 (a mixup with another package of yours I think)

[2021-11-08 13:01] lucydot commented on #3723
@whedon set 10.5281/zenodo.5639407 as archive

[2021-11-08 13:02] lucydot commented on #3723
@whedon set v1.1.1 as version

[2021-11-08 13:02] whedon commented on #3723
OK. v1.1.1 is the version.

[2021-11-08 13:03] lucydot commented on #3723
@whedon recommend-accept

[2021-11-08 13:04] whedon commented on #3723
[code]

[2021-11-08 13:04] whedon commented on #3723
PDF failed to compile for issue #3723 with the following error:
[code]

[2021-11-08 13:06] lucydot commented on #3854
@whedon assign @jgoldfar as reviewer

[2021-11-08 13:06] whedon commented on #3854
OK, @jgoldfar is now a reviewer

[2021-11-08 13:06] lucydot commented on #3854
@whedon add @dalonsoa as reviewer

[2021-11-08 13:06] whedon commented on #3854
OK, @dalonsoa is now a reviewer

[2021-11-08 13:08] lucydot commented on #3854
@jgoldfar @dalonsoa thank-you for agreeing to review.  I'll ask our bot Whedon to start a review issue thread (this is the pre-review thread) - the review guidelines will be listed at the top of that new thread.

We're asking for reviews to be complete within a 4-6 week period. As the review is usually an iterative process (rather than something you do in one sitting) it's best for reviews to star

[2021-11-08 13:09] lucydot commented on #3854
@whedon start review

[2021-11-08 13:09] whedon opened #3898 "[REVIEW]: DEVSIM: A TCAD Semiconductor Device Simulator"
**Submitting author:** @tcaduser (<a href="http://orcid.org/0000-0002-6783-0194">Juan E. Sanchez</a>)
**Repository:** <a href="https://github.com/devsim/devsim.git" target ="_blank">https://github.com/devsim/devsim.git</a>
**Version:** v2.0.1
**Editor:** @lucydot
**Reviewer:** @jgoldfar, @dalonsoa
**Archive:** <a href="https://doi.org/10.5281/zenodo.5908666" target="_blank">10.5281/zenodo.5908666<

[2021-11-08 13:09] whedon commented on #3854
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3898.

[2021-11-08 13:09] #3854 closed

[2021-11-08 13:09] whedon commented on #3898
PDF failed to compile for issue #3898 with the following error:
[code]

[2021-11-08 13:09] whedon commented on #3898
[code]

[2021-11-08 13:10] lucydot commented on #3898
@whedon generate pdf from branch publications

[2021-11-08 13:10] whedon commented on #3898
PDF failed to compile for issue #3898 with the following error:
[code]

[2021-11-08 13:11] lucydot commented on #3898
@whedon generate pdf from branch joss

[2021-11-08 13:11] whedon commented on #3898
[code]

[2021-11-08 13:19] danielskatz commented on #3723
👋 @lucydot - you need to add `from branch ...` to the recommend-accept command when the paper is in a branch

[2021-11-08 13:19] danielskatz commented on #3723
@whedon recommend-accept from branch joss-paper

[2021-11-08 13:19] whedon commented on #3723
[code]

[2021-11-08 13:19] whedon commented on #3723
[code]

[2021-11-08 13:20] whedon commented on #3723
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2734

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2734, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-08 13:58] danielskatz commented on #3851
@ddeehere - any further suggestions?

[2021-11-08 13:59] danielskatz commented on #3851
👋 @martinmodrak & @borishejblum - would one of both of you be willing to review this JOSS submission?

[2021-11-08 14:07] danielskatz commented on #3619
👋 @mbegnaud - I'm not at all trying to rush you, but given your message

I just wanted to see how things now look

Thanks!!

[2021-11-08 14:08] danielskatz commented on #3618
👋 @rouson - any news?  Did you manage to do this

Please remember to add `openjournals/joss-reviews#3618` in the issues/PRs you open, so that they are visible here, and whether or not they are open or closed is also visible here.

[2021-11-08 14:09] danielskatz commented on #3618
👋 @TomGoffrey - this review seems to be dragging. Perhaps you can all update us on where you are, and what is needed for you to make progress (check off items on your list)?

[2021-11-08 14:30] mscroggs commented on #3878
possible suitable reviewers (from list): peanutfun, schruste, felipefr, FaroukM, krober10nd

Suitable reviewers (not on list): wence, ReubenHill

[2021-11-08 14:53] NoraLoose commented on #3894
@whedon check references

[2021-11-08 14:53] whedon commented on #3894
[code]

[2021-11-08 15:02] NoraLoose commented on #3894
@whedon generate pdf

[2021-11-08 15:02] chartgerink commented on #3891
Hi @danielskatz - happy to! I will find some reviewers 😊

[2021-11-08 15:02] whedon commented on #3894
PDF failed to compile for issue #3894 with the following error:
[code]

[2021-11-08 15:07] danielskatz commented on #3891
Thanks - you can/should assign yourself as the editor in this case, via `@whedon assign me as editor` or `@whedon assign @chartgerink as editor`

[2021-11-08 15:07] danielskatz commented on #3891
@whedon assign @chartgerink as editor

but I'll do it in this case :)

[2021-11-08 15:14] kyleniemeyer commented on #3710
@whedon accept deposit=true

[2021-11-08 15:14] whedon commented on #3710
[code]

[2021-11-08 15:16] whedon commented on #3710
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1457728639999614982) 👈 🐦🐦🐦

[2021-11-08 15:19] kyleniemeyer commented on #3710
Congratulations @athulpg007 on your article's publication in JOSS!

Many thanks to @astrojuanlu and @helgee for reviewing this, and @jbytecode for editing.

[2021-11-08 15:19] #3710 closed

[2021-11-08 15:19] whedon commented on #3710
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03710/status.svg)](https://doi.org/10.21105/joss.03710)

**We need your help!**

Journal of Open Source Softwa

[2021-11-08 15:20] metelkin commented on #3708
Thank you, everyone!
@fboehm, what's next?

[2021-11-08 15:24] ddeehere commented on #3851
For external reviewers, would a developer who works for the same company (but not directly involved in the PopMedNet development) be acceptable? How about a subcontractor for Harvard Pilgrim Health Care Institute (who's the primary mover of PopMedNet) be acceptable? I am thinking in terms of whether that will violate conflict of interest guidelines. Neither of them are actively involved in PopMedN

[2021-11-08 15:28] danielskatz commented on #3851
someone from the same company would not make sense, but someone who is a user would

[2021-11-08 15:33] kyleniemeyer commented on #3723
@whedon accept deposit=true from branch joss-paper

[2021-11-08 15:33] whedon commented on #3723
[code]

[2021-11-08 15:33] whedon commented on #3723
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1457733126860517380) 👈 🐦🐦🐦

[2021-11-08 15:33] whedon commented on #3723
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2736
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03723](https://doi.org/10.21105/joss.03723)
2. If everything look

[2021-11-08 15:39] ajstewartlang commented on #3504
@whedon add @GaurangTandon as reviewer

[2021-11-08 15:47] kyleniemeyer commented on #3723
Congratulations @jorisparet on your article's publication in JOSS!

Many thanks to @govarguz and @FTurci for reviewing, and @lucydot for editing this.

[2021-11-08 15:47] #3723 closed

[2021-11-08 15:47] whedon commented on #3723
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03723/status.svg)](https://doi.org/10.21105/joss.03723)

**We need your help!**

Journal of Open Source Softwa

[2021-11-08 15:52] peanutfun commented on #3885
@mithun218 Before I can summarize I need a bit of clarification on how to use and interpret the output of GiNaCDE. I very much like the extensive documentation you provide, with an in-depth look at the mathematical methods and clear instructions on how to use GiNaCDE. However, it does not explain how to use the resulting output (files). That's why I have some trouble verifying if the software comp

[2021-11-08 16:00] mikegrudic commented on #3675
Hi all, thanks a lot for the helpful input. Should be able to address and respond to comments within the next month. In particular proper documentation and potentially automated testing are forthcoming.

[2021-11-08 16:03] mbegnaud commented on #3619
I will be working on it this week. Hoping to finish by the end of the week.

👋 @mbegnaud<https://github.com/mbegnaud> - I'm not at all trying to rush you, but given your message

I will try to get it to you within a week

I just wanted to see how things now look

Thanks!!

[2021-11-08 16:14] kevinlibuit commented on #3773
Thanks for the info @rneher! Really helpful to see those metrics outright. Is there an obvious rationale behind those discrepancies in speed, e.g. is it the underlying approach or something done on the compute/programming side of things that contribute most to the efficiency.

^^ Asking more so out of curiosity at this point. Everything provided meets my understanding of the acceptance criteria fo

[2021-11-08 16:20] GaurangTandon commented on #3504
Hi, I am happy to review the paper.

For now, my primary concern is of automated tests. I read your response above (https://github.com/openjournals/joss-reviews/issues/3504#issuecomment-909157981). You mentioned that:

I understand that there are two components to this project: the scraper (which downloads content using API) and the parser (which extracts structured data from the HTML). I believe

[2021-11-08 16:46] jcorbino commented on #3380
@jedbrown @ketch @jshipton I could also remove the example (since it is underwhelming) and not show any just like in these six recently accepted JOSS papers:

- excluder: An R package that checks for exclusion criteria in online data
- grlc: the git repository linked data API constructor
- spant: An R package for magnetic resonance spectroscopy analysis
- CategoricalTimeSeries.jl: A toolbox for ca

[2021-11-08 16:59] emptymalei commented on #3827
@whedon generate pdf

[2021-11-08 16:59] whedon commented on #3827
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03827/joss.03827/10.21105.joss.03827.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03827/joss.03827/10.21105.joss.03827.pdf) :page_facing_up: :point_left:

[2021-11-08 17:14] kmichael08 commented on #3895
@jbytecode Thanks, I will do my best to complete this review early!

[2021-11-08 17:48] kellyrowland commented on #3773
Thank you so much @kevinlibuit for your review and the great discussion here.

[2021-11-08 17:53] NoraLoose commented on #3894
@whedon generate pdf

[2021-11-08 18:04] whedon opened #3899 "[PRE REVIEW]: cffr: Generate Citation File Format Metadata for R Packages"
**Submitting author:** @dieghernan (<a href="http://orcid.org/0000-0001-8457-4658">Diego Hernangómez</a>)
**Repository:** <a href="https://github.com/ropensci/cffr" target ="_blank">https://github.com/ropensci/cffr</a>
**Version:** v0.1.0
**Editor:** @arfon
**Reviewers:** @arfon
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2021-11-08 18:04] whedon commented on #3899
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-08 18:05] whedon commented on #3899
[code]

[2021-11-08 18:05] whedon commented on #3899
PDF failed to compile for issue #3899 with the following error:
[code]

[2021-11-08 18:05] arfon commented on #3899
@whedon assign me as editor

[2021-11-08 18:05] whedon commented on #3899
OK, the editor is @arfon

[2021-11-08 18:05] kellyrowland commented on #3773
Hi @EduanWilkinson 👋  please let me know if you are still able to review this paper and if you have any status updates, or if you should be taken off as a reviewer. Thanks!

[2021-11-08 18:12] kellyrowland commented on #3318
Hi @munkm 👋 friendly reminder to check in on this when you can.

[2021-11-08 18:33] wsavran commented on #3507
Hi @kbarnhart! I hope everything is going well. I'm just checking in on the status of the review for our manuscript. Thanks!

[2021-11-08 18:36] whedon commented on #3849
:wave: @lutzhamel, please update us on how your review is going (this is an automated reminder).

[2021-11-08 18:40] savage13 commented on #3619
I resolved the multiple Issues identified by chad-iris.

[2021-11-08 18:48] changgoo commented on #3771
Sorry for the delayed progress. I've been distracted by other things, but now I'm tying to finish the review. Before deep dive into the software itself, I have a major suggestion about the JOSS paper (and also repository README) in the description of the development history. As the code documentation describes, the ORION2 code is largely based on the PLUTO code base. It adopts a large portion of t

[2021-11-08 18:54] diehlpk commented on #3631
@StefanOlin How is your review going?

[2021-11-08 19:02] Sbozzolo commented on #3703
I forgot to mention that the NaN happens also with 1 OpenMP thread.

On Mon, Nov 8, 2021 at 11:37 AM Miren Radia ***@***.***>
wrote:

[2021-11-08 19:09] dieghernan commented on #3899
Hi @arfon , glad you are reviewing this. I guess you are already aware, but just in case the paper is in the [joss](https://github.com/ropensci/cffr/tree/joss) branch.

[2021-11-08 19:11] svmiller commented on #3822
I think what Titz and Burkhardt offer here merits publication in the Journal of Open Source Software. The authors advocate for greater use of a contrast analysis for testing hypotheses about means in a factorial design. The authors note that alternatives to the contrast analysis exist, though with important limitations. To better advocate its use, the authors offer a Shiny app that allows users to

[2021-11-08 19:13] danielskatz commented on #3899
@whedon check references from branch joss

[2021-11-08 19:14] whedon commented on #3899
[code]

[2021-11-08 19:14] whedon commented on #3899
[code]

[2021-11-08 19:14] danielskatz commented on #3899
@whedon generate pdf from branch joss

[2021-11-08 19:14] whedon commented on #3899
[code]

[2021-11-08 19:14] whedon commented on #3899
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03899/joss.03899/10.21105.joss.03899.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03899/joss.03899/10.21105.joss.03899.pdf) :page_facing_up: :point_left:

[2021-11-08 19:16] danielskatz commented on #3899
@dieghernan - the fact that one of the DOIs has ZENODO in it while the others have zenodo looks a bit awkward - at some point if you are making changes, you might make this consistent

[2021-11-08 19:17] dieghernan commented on #3899
No problem, just let me know the best moment and I would change it

[2021-11-08 19:19] danielskatz commented on #3899
anytime would be fine

[2021-11-08 19:21] dieghernan commented on #3899
Done

[2021-11-08 19:22] danielskatz commented on #3899
@whedon check references from branch joss

[2021-11-08 19:22] whedon commented on #3899
[code]

[2021-11-08 19:22] whedon commented on #3899
[code]

[2021-11-08 19:22] danielskatz commented on #3899
@whedon generate pdf from branch joss

[2021-11-08 19:22] whedon commented on #3899
[code]

[2021-11-08 19:23] whedon commented on #3899
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03899/joss.03899/10.21105.joss.03899.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03899/joss.03899/10.21105.joss.03899.pdf) :page_facing_up: :point_left:

[2021-11-08 19:36] elbeejay commented on #3894
@whedon assign me as editor

[2021-11-08 19:36] whedon commented on #3894
OK, the editor is @elbeejay

[2021-11-08 19:43] elbeejay commented on #3894
@NoraLoose can you try switching the bib entry-type for `dask` to `@misc` instead of `@Manual`? That is the recommended format for citing a software repository per the JOSS docs ([link](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography)), and so it might play nicer with whedon.

[2021-11-08 19:44] HeloiseS commented on #3838
Awesome! I can see all the changes :)
Will try to finish the cosmic integration tutorials and reading the developer section by the end of tomorrow.

[2021-11-08 19:52] Sbozzolo commented on #3703
Also, I didn't give enough information, but the two problems are connected because the NaN happens at the same time (~176 M) as when I start to see the processes hanging.

[2021-11-08 20:02] NoraLoose commented on #3894
@whedon generate pdf

[2021-11-08 20:02] whedon commented on #3894
PDF failed to compile for issue #3894 with the following error:
[code]

[2021-11-08 20:03] NoraLoose commented on #3894
@whedon check references

[2021-11-08 20:03] whedon commented on #3894
[code]

[2021-11-08 20:04] elbeejay commented on #3894
Thanks for giving it a shot; I'll see if we can get a whedon-expert to have a look.

[2021-11-08 20:06] NoraLoose commented on #3894
Thanks @elbeejay! The paper compiles just fine if I try via https://whedon.theoj.org/.

[2021-11-08 20:12] HeloiseS commented on #3838
@ilyamandel  hello again.
What data am I expected to use for the Cosmic Integration tutorials?

[2021-11-08 20:14] martinmodrak commented on #3851
Unfortunately, this is both at the very edge of my knowledge (I did some WinForms a long time ago, but have never used ASP.NET, I also now only bare minimum on security) and quite a large project - I won't be able to set aside time to review it responsibly at the moment.

[2021-11-08 20:15] jcorbino commented on #3380
@whedon generate pdf

[2021-11-08 20:15] whedon commented on #3380
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03380/joss.03380/10.21105.joss.03380.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03380/joss.03380/10.21105.joss.03380.pdf) :page_facing_up: :point_left:

[2021-11-08 20:24] danielskatz commented on #3851
👋  @scossin & @vianneyJouhet - would one or both of you be willing to review this JOSS submission?

JOSS is a free, open-source, community driven and developer-friendly online journal (no publisher is seeking to raise revenue from the volunteer labor of researchers!).

The review process at JOSS is unique: it takes place in a GitHub issue, is open, and author-reviewer-editor conversations are enco

[2021-11-08 20:24] szhorvat commented on #3608
@jbytecode I'm done checking off the items.

I think this is a nice library, though it's still early days, and more battle testing will certainly reveal opportunities for improvements. The quality has substantially improved during the review. Performance may end up being the first limiting factor for some users, though that is the nature of Python (trading off ease of use for performance).

I reco

[2021-11-08 20:48] samanmostafavi commented on #3861
Hi,

I was working towards a paper submission deadline(tonight) for ECC. After
that, it is my intention to finish the review by the end of this week.
Thank you for your patience and I'll let you know if I have any questions
once I start the review.

Best,
Saman

On Mon, Nov 8, 2021 at 4:28 AM fraukewiese ***@***.***> wrote:

[2021-11-08 21:44] fboehm commented on #3708
Thanks, everyone! Let me proofread the paper before recommending it for publication. I might have a small list of typos that need to be fixed. I expect to get back to you, @metelkin, in the next few days.

[2021-11-08 21:44] fboehm commented on #3708
@whedon generate pdf

[2021-11-08 21:44] whedon commented on #3708
PDF failed to compile for issue #3708 with the following error:
[code]

[2021-11-08 21:45] fboehm commented on #3708
@whedon generate pdf from branch paper

[2021-11-08 21:45] whedon commented on #3708
[code]

[2021-11-08 21:46] whedon commented on #3708
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03708/joss.03708/10.21105.joss.03708.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03708/joss.03708/10.21105.joss.03708.pdf) :page_facing_up: :point_left:

[2021-11-08 22:10] donaldRwilliams commented on #3308
@whedon generate pdf

[2021-11-08 22:10] whedon commented on #3308
PDF failed to compile for issue #3308 with the following error:
[code]

[2021-11-08 22:10] nanhung commented on #3820
@jonsampedro Thanks for your solution. However, I still can not solve the issue. The error occurs even I follow the tutorial in `rgcam`. Did I miss anything?

![Screenshot 2021-11-08 140237](https://user-images.githubusercontent.com/25087463/140826041-f3b3d184-418d-4600-a2a3-60f24979bf6f.png)

[2021-11-08 22:14] donaldRwilliams commented on #3308
@whedon generate pdf

[2021-11-08 22:14] whedon commented on #3308
PDF failed to compile for issue #3308 with the following error:
[code]

[2021-11-08 22:16] donaldRwilliams commented on #3308
@whedon generate pdf

[2021-11-08 22:16] whedon commented on #3308
PDF failed to compile for issue #3308 with the following error:
[code]

[2021-11-08 22:17] donaldRwilliams commented on #3308
@whedon generate pdf

[2021-11-08 22:17] whedon commented on #3308
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03308/joss.03308/10.21105.joss.03308.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03308/joss.03308/10.21105.joss.03308.pdf) :page_facing_up: :point_left:

[2021-11-08 22:20] donaldRwilliams commented on #3308
@whedon generate pdf

[2021-11-08 22:20] whedon commented on #3308
PDF failed to compile for issue #3308 with the following error:
[code]

[2021-11-08 22:23] donaldRwilliams commented on #3308
@whedon generate pdf

[2021-11-08 22:23] whedon commented on #3308
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03308/joss.03308/10.21105.joss.03308.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03308/joss.03308/10.21105.joss.03308.pdf) :page_facing_up: :point_left:

[2021-11-08 22:29] zhenwu0728 commented on #3814
JuliaOcean/AIBECS.jl#83

[2021-11-08 22:29] vinisalazar commented on #3622
Hello @kyleniemeyer, thank you for pointing that out. I have updated the record accordingly. Please let me know if any more changes are necessary.

Best wishes,
Vinícius

[2021-11-08 22:32] donaldRwilliams commented on #3308
@GiulioCostantini @AlexChristensen @arfon

I want to thank you all for baring with me (google internship). I put a pause on basically all papers in review, etc. and actually withdrew all but this one and another at the R journal (because I find software the most useful thing I work on !)

Anyhow, I have address all the comments

[2021-11-08 22:38] JaroslavHron commented on #3860
Hi, i like the paper/library. Especially the the documentation (https://flowmodelingcontrol.github.io/flowtorch-docs/1.0/) is nicely written.

Apart of the already resolved issues pointed out by @akaptano, I have no further remarks and I would recommend this  for publication as it is now.

May be a small one:
* from a user point of view I might be tempted to look in the documentation for some hint

[2021-11-08 22:45] kthyng commented on #3814
Excellent! Let's hear from @briochemc to see responses to your comments.

[2021-11-08 23:29] mirenradia commented on #3703
Oh I think I got confused by your previous message and thought the NaN you saw was off the first timestep like the segfault you mentioned. So in all other cases, you get a NaN at exactly the same time (for some reason I thought this differed between GCC+OpenMPI and the Intel stack)? Would you be able to share the current parameter file you are using (if you made any modifications following @KAClou

[2021-11-08 23:39] Sbozzolo commented on #3703
Here it is!
[params.txt](https://github.com/openjournals/joss-reviews/files/7500772/params.txt)

[2021-11-09 00:07] fernandomayer commented on #3789
Hi, I can make this review.

[2021-11-09 00:17] fartist commented on #3789
I can do it as well, thanks.

On Mon, Nov 8, 2021 at 4:08 PM Fernando Mayer ***@***.***>
wrote:

[2021-11-09 01:12] jonsampedro commented on #3820
@nanhung I have replicated the tutorial example and the connection worked fine for me (see below).
![image](https://user-images.githubusercontent.com/78936824/140843363-fe9010b6-3b71-4979-b83a-05464c1f2bae.png)

Do you meet the system and package requirements to run the package? These are listed in the DESCRIPTION file at the `rgcam` repo: https://github.com/JGCRI/rgcam/blob/master/DESCRIPTION

I

[2021-11-09 02:12] athulpg007 commented on #3710
Dear @kyleniemeyer @jbytecode @astrojuanlu @helgee,

Thank you all for your efforts!

I added my name to the reviewer list, and made a small donation to support the journal.

[2021-11-09 02:48] HeloiseS commented on #3838
@jeffriley - finished reading the whole manual including the dev guide and there wasn't much more about debug classes so i jsut wanna make sure i udnerstand what you said ealier: Are the 'class strings' names of the classes within COMPAS, say I know my troubles are in BaseBinaryStar, then i give it the name of that class so i only get the debug statements from that class?

[2021-11-09 02:51] kyleniemeyer commented on #3622
@whedon accept deposit=true from branch joss-paper

[2021-11-09 02:51] whedon commented on #3622
[code]

[2021-11-09 02:52] whedon commented on #3622
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1457903782474485771) 👈 🐦🐦🐦

[2021-11-09 02:52] whedon commented on #3622
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2737
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03622](https://doi.org/10.21105/joss.03622)
2. If everything look

[2021-11-09 03:02] jeffriley commented on #3838
@HeloiseS You're right, there's not a lot.  Did you see this:

https://compas.readthedocs.io/en/latest/pages/Developer%20guide/Services/Logging%20and%20debugging/Base-level%20logging/services-base-level-logging.html?highlight=class#log-debug-record-filtering

The guide is a work in progress - particularly the developer guide...

[2021-11-09 03:03] kyleniemeyer commented on #3622
Congratulations @vinisalazar on your article's publication in JOSS!

Many thanks to  @maximtrp and @Zethson for reviewing this, and @jmschrei for editing.

[2021-11-09 03:03] #3622 closed

[2021-11-09 03:03] whedon commented on #3622
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03622/status.svg)](https://doi.org/10.21105/joss.03622)

**We need your help!**

Journal of Open Source Softwa

[2021-11-09 03:56] vinisalazar commented on #3622
Thank you @kyleniemeyer for the checks, @jmschrei for editing and @Zethson and @maximtrp for reviewing. Had a great experience submitting to JOSS.

Best wishes,
Vinícius, on behalf of the BioProv team.

[2021-11-09 04:12] jbytecode commented on #3608
Dear @szhorvat

just because "The quality has substantially improved during the review", you deserve thanks.
thank you so much for your effort and spending your time.

[2021-11-09 04:15] jbytecode commented on #3608
Dear @martibosch

We have exceeded the normal evaluation times. Could you please update your status and inform us on how is your reviewing going?

thank you in advance

[2021-11-09 04:48] shahmoradi commented on #3727
@kostergroup Thank you for your corrections and explanations. Given the corrections made, I have checked all boxes in my review. However, I still feel uncomfortable with not having automated tests of some sort in this library. The test results in the repository in PDf format look nice. But will they look so for the next release of the package? Who will know how to generate the test results and mak

[2021-11-09 04:53] JacksonMaxfield commented on #3891
@whedon check references

[2021-11-09 04:53] whedon commented on #3891
[code]

[2021-11-09 04:54] JacksonMaxfield commented on #3891
@whedon generate pdf

[2021-11-09 04:55] whedon commented on #3891
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03891/joss.03891/10.21105.joss.03891.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03891/joss.03891/10.21105.joss.03891.pdf) :page_facing_up: :point_left:

[2021-11-09 04:56] JacksonMaxfield commented on #3891
DOI for "All Politics is Local" updated but CourtListener doesn't seem to have a DOI at all so leaving as is.

[2021-11-09 06:08] HeloiseS commented on #3838
# Initial Review

Alright I finished reading the manual and running (or trying to) your tutorials and utility codes.
It's no surprise to me that COMPAS runs like clockwork and I'm very excited about all the data it records on the systems - so much to play with!

The manual is very exhaustive, the C++ code is a thing of absolute beauty - I can't code in C++ but the lay out, the comments and everyth

[2021-11-09 06:40] jeffriley commented on #3838
That's probably true (i a number of places).  As I said, a work in progress... The online documentation was put together fairly recently, and we still have to go through and rationalise it.  You review will help us do that :-)

In C/C++ (and other languages), dot-notation indicates object membership (i.e. 'a.x' means 'x' in object 'a'). The arrow notation (->) is used for pointers and derefences f

[2021-11-09 07:28] ilyamandel commented on #3838
@HeloiseS :

Not sure about the chirp mass distribution example (sorry, I haven't tried it, though I agree with your surprise -- will check).  In the meantime, you can use one of the recent COMPAS data sets from zenodo, http://zenodo.org/communities/compas/ , e.g., https://zenodo.org/record/5544170#.YYoihb1Bxp8 .

[2021-11-09 07:30] ilyamandel commented on #3838
Ahh, I see that Lieke has a pending PR on the chirp mass distribution. ;-)  https://github.com/TeamCOMPAS/COMPAS/pull/692/files

[2021-11-09 08:08] Nikoleta-v3 commented on #3738
👋🏻 @MichaelHoltonPrice and @steko! please update us on how your review is going 😄

[2021-11-09 08:09] Nikoleta-v3 commented on #3743
Thank you for the update! @abb58, please let us know how your review is going 😄

[2021-11-09 08:20] leouieda commented on #3673
@whedon generate pdf

[2021-11-09 08:21] whedon commented on #3673
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: :point_left:

[2021-11-09 08:44] leouieda commented on #3673
@whedon check references

[2021-11-09 08:44] whedon commented on #3673
[code]

[2021-11-09 08:48] arfon commented on #3899
@whedon assign @arfon as reviewer

[2021-11-09 08:48] whedon commented on #3899
OK, @arfon is now a reviewer

[2021-11-09 08:49] arfon commented on #3899
@whedon start review

[2021-11-09 08:49] whedon opened #3900 "[REVIEW]: cffr: Generate Citation File Format Metadata for R Packages"
**Submitting author:** @dieghernan (<a href="http://orcid.org/0000-0001-8457-4658">Diego Hernangómez</a>)
**Repository:** <a href="https://github.com/ropensci/cffr" target ="_blank">https://github.com/ropensci/cffr</a>
**Version:** v0.1.0
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.5646626" target="_blank">10.5281/zenodo.5646626</a>

**:warning: JOS

[2021-11-09 08:49] whedon commented on #3899
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3900.

[2021-11-09 08:49] #3899 closed

[2021-11-09 08:49] whedon commented on #3900
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theo

[2021-11-09 08:49] whedon commented on #3900
[code]

[2021-11-09 08:49] whedon commented on #3900
PDF failed to compile for issue #3900 with the following error:
[code]

[2021-11-09 08:49] arfon commented on #3900
Fast-track review and publish because the package has already been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/463

[2021-11-09 08:50] arfon commented on #3900
@whedon generate pdf from branch joss

[2021-11-09 08:50] whedon commented on #3900
[code]

[2021-11-09 08:50] whedon commented on #3900
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03900/joss.03900/10.21105.joss.03900.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03900/joss.03900/10.21105.joss.03900.pdf) :page_facing_up: :point_left:

[2021-11-09 08:50] arfon commented on #3900
@whedon set 10.5281/zenodo.5646626 as archive

[2021-11-09 08:50] whedon commented on #3900
OK. <a href="https://doi.org/10.5281/zenodo.5646626" target="_blank">10.5281/zenodo.5646626</a> is the archive.

[2021-11-09 08:51] arfon commented on #3900
@whedon recommend-accept from branch joss

[2021-11-09 08:51] whedon commented on #3900
[code]

[2021-11-09 08:51] whedon commented on #3900
[code]

[2021-11-09 08:51] whedon commented on #3900
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2738

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2738, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-09 08:53] arfon commented on #3308
Thanks for the update @donaldRwilliams! @AlexChristensen, @GiulioCostantini – when you have a moment, please come and take another look at this review and let me know if @donaldRwilliams' updates are in line with your expectations and if you're ready to recommend acceptance.

[2021-11-09 08:53] arfon commented on #3900
@whedon accept deposit=true from branch joss

[2021-11-09 08:53] whedon commented on #3900
[code]

[2021-11-09 08:54] whedon commented on #3900
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1457994959970263040) 👈 🐦🐦🐦

[2021-11-09 08:54] whedon commented on #3900
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2739
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03900](https://doi.org/10.21105/joss.03900)
2. If everything look

[2021-11-09 08:59] arfon commented on #3900
@dieghernan – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-11-09 08:59] #3900 closed

[2021-11-09 08:59] whedon commented on #3900
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03900/status.svg)](https://doi.org/10.21105/joss.03900)

**We need your help!**

Journal of Open Source Softwa

[2021-11-09 09:45] mscroggs commented on #3878
@whedon generate pdf

[2021-11-09 09:45] whedon commented on #3878
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03878/joss.03878/10.21105.joss.03878.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03878/joss.03878/10.21105.joss.03878.pdf) :page_facing_up: :point_left:

[2021-11-09 09:59] arfon commented on #3894
@whedon generate pdf

[2021-11-09 10:00] whedon commented on #3894
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03894/joss.03894/10.21105.joss.03894.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03894/joss.03894/10.21105.joss.03894.pdf) :page_facing_up: :point_left:

[2021-11-09 10:02] arfon commented on #3894
Looks like @whedon was running out of memory, this can sometimes happen with very large vector images (such as [this one](https://github.com/ocean-eddy-cpt/gcm-filters/blob/master/filtered_vorticity.png)). If possible, please downsize that image, and this should be fine, but also, Whedon can likely be coaxed into compiling this (as just happened) 😸

[2021-11-09 10:23] robbisg commented on #3823
Hi everyone,

@emdupre I will not open an issue in the `cca-zoo` repo since I think that on my side there are few requests that can be addressed in this thread. But if you prefer, I can open the issue! ;)

### Review
I think `cca-zoo` is a very useful package that can be used to relate multivariate datasets. Personally, I used very basic implementations of these technique and I am very happy for t

[2021-11-09 10:52] jameschapman19 commented on #3823
I was wary of replying as I don't know the process but it feels appropriate for me to say thanks both. All of these comments I agree with and will action them.

- examples in .py files (another benefit I have realized of this is that they can be tested cleanly on commit)
- smaller dimensionality tests should speed things up and improve the nature of the tests (and also make hard tests on results l

[2021-11-09 11:22] deniederhut commented on #3652
Hey @fabian-s , could I ask you to weigh in on https://github.com/ORNL/tx2/issues/4? I'm not super clear on the testing requirements for JOSS submissions.

[2021-11-09 11:23] eloisabentivegna commented on #2555
Thanks, @ianhinder, and @gouarin. I am back from my leave as well, and can take back over editing (thanks @danielskatz for the help in the interim!). I look forward to the final comments on this submission.

[2021-11-09 12:27] AndreWeiner commented on #3860
Hi @JaroslavHron,
thank you very much for your feedback. I already thought about the idea of adding also more advanced programming tutorials to the documentation (there is something like that already for simple linear algebra and tensor operations with PyTorch). The data loaders are probably the first structure one might want to extend.
Best, Andre

[2021-11-09 12:32] mhesselbarth commented on #3811
@Bisaloo
I am planning to use v1.3 for the next release with all the helpful comments and suggestions by the reviewers. The first @whedon comment in this thread says v1.2.2. Not sure if thats important.

[2021-11-09 12:45] ilyamandel commented on #3838
@HeloiseS -- update -- I don't think the pythonSubmit file in the chirpmass_distribution directory will produce any DCOs, or at least not enough to create a chirp mass distribution.  We'll get that sorted (see issue above); in the meantime, please use one of the zenodo files.

[2021-11-09 12:45] GiulioCostantini commented on #3308
Dear all,
All of my comments have been addressed. Also, @donaldRwilliams good luck with your new career!

[2021-11-09 12:50] mikldk commented on #3789
@whedon assign @fernandomayer as reviewer

[2021-11-09 12:50] whedon commented on #3789
OK, @fernandomayer is now a reviewer

[2021-11-09 12:50] mikldk commented on #3789
@whedon add @ fartist as reviewer

[2021-11-09 12:50] whedon commented on #3789
OK, @ fartist is now a reviewer

[2021-11-09 12:51] mikldk commented on #3789
@whedon remove @ fartist as reviewer

[2021-11-09 12:51] whedon commented on #3789
OK, @ fartist is no longer a reviewer

[2021-11-09 12:51] mikldk commented on #3789
@whedon add @fartist as reviewer

[2021-11-09 12:51] whedon commented on #3789
OK, @fartist is now a reviewer

[2021-11-09 12:51] mikldk commented on #3789
@whedon start review

[2021-11-09 12:51] whedon opened #3901 "[REVIEW]: bistablehistory: an R package for history-dependent analysis of perceptual time series"
**Submitting author:** @alexander-pastukhov (<a href="http://orcid.org/0000-0002-8738-8591">Alexander Pastukhov</a>)
**Repository:** <a href="https://github.com/alexander-pastukhov/bistablehistory" target ="_blank">https://github.com/alexander-pastukhov/bistablehistory</a>
**Version:** v1.1.0
**Editor:** @mikldk
**Reviewer:** @fernandomayer, @fartist
**Archive:** <a href="https://doi.org/10.5281/z

[2021-11-09 12:51] whedon commented on #3901
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fernandomayer, @fartist it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-11-09 12:51] whedon commented on #3901
[code]

[2021-11-09 12:52] whedon commented on #3901
PDF failed to compile for issue #3901 with the following error:
[code]

[2021-11-09 12:54] mikldk commented on #3901
@whedon generate pdf from branch joss

[2021-11-09 12:54] whedon commented on #3901
[code]

[2021-11-09 12:54] whedon commented on #3901
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03901/joss.03901/10.21105.joss.03901.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03901/joss.03901/10.21105.joss.03901.pdf) :page_facing_up: :point_left:

[2021-11-09 13:40] mithun218 commented on #3885
@peanutfun thanks so much for your review and comments.
I am happy to edit the paper to incorporate your comments.

The GiNaCDE software determines exact solutions with calculating steps, and the results are saved in an output .txt file in the Maple or the Mathematica format. In order to use the output exact solutions in Maple or Mathematica software, we have to copy the exact solutions with the c

[2021-11-09 14:00] szhorvat commented on #3867
I would be interested in reviewing this.

[2021-11-09 14:11] emdupre commented on #3823
Thanks both @hugorichard and @robbisg for your reviews, and @jameschapman19 for your thoughtful response !

Please do feel free to continue discussions in thread, though as specific issues on `cca-zoo` arise from this review process it will be helpful to cross-link them here !

[2021-11-09 14:13] emdupre commented on #3823
:wave: hi @ejolly ! I just wanted to check-in on this review.

Please let me know if you're encountering any technical difficulties that I can help with, or if you have a timeline for when you expect to be able to complete this !

[2021-11-09 14:39] Nikoleta-v3 commented on #3538
@whedon remove @shivam11  as reviewer

[2021-11-09 14:39] whedon commented on #3538
OK, @shivam11  is no longer a reviewer

[2021-11-09 14:40] Nikoleta-v3 commented on #3538
@whedon add @geraintpalmer as reviewer

[2021-11-09 14:41] whedon commented on #3538
OK, @geraintpalmer is now a reviewer

[2021-11-09 14:42] Nikoleta-v3 commented on #3538
👋🏼  @geraintpalmer  this is the review thread for the paper. Thank you for agreeing to review this submission!

You have a checklists at the top of this thread with the JOSS requirements 🔝 As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other journals. Our goal is

[2021-11-09 14:53] melissawm commented on #3835
Thanks for your patience, I have been out of office.

👋🏻 Hello @sfuxy, @marwahaha, @sayakpaul would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-11-09 14:54] marwahaha commented on #3835
I can review sometime in December.

[2021-11-09 14:55] sayakpaul commented on #3835
Hi @melissawm. Unfortunately, I will have to pass this one out.

[2021-11-09 15:11] kthyng commented on #3594
@SeascapeScience Just a friendly reminder of this review. I'm hoping you can get to it in the next two weeks. Thanks!

[2021-11-09 15:22] Peter-Vermeiren commented on #3200
@whedon generate pdf

[2021-11-09 15:22] whedon commented on #3200
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: :point_left:

[2021-11-09 15:35] KristinaRiemer commented on #3200
@whedon add @Peter-Vermeiren as reviewer

[2021-11-09 15:36] whedon commented on #3200
OK, @Peter-Vermeiren is now a reviewer

[2021-11-09 16:15] galessiorob commented on #3756
@whedon generate pdf

[2021-11-09 16:16] whedon commented on #3756
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03756/joss.03756/10.21105.joss.03756.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03756/joss.03756/10.21105.joss.03756.pdf) :page_facing_up: :point_left:

[2021-11-09 16:17] galessiorob commented on #3756
@whedon recommend-accept

[2021-11-09 16:17] whedon commented on #3756
No archive DOI set. Exiting...

[2021-11-09 16:23] galessiorob commented on #3756
@AlexanderPico @apcamargo and @rabdill Thank you so much for lending your expertise and reviewing this paper 🚀

@maxkfranz The next thing we need from you is to deposit your software in Zenodo and post the DOI here. After that, we can set the final version, generate a final proof, and have an Editor in Chief do the publishing. 🙏

[2021-11-09 16:28] galessiorob commented on #3859
@chasmani great job at making progress on the reviewers' feedback. Once you're done with those, I'll give it another pass myself.

@vyasr, mind updating us on your timeline to get to the review list, please? Let me know if you have any questions or are blocked in any way.

[2021-11-09 16:32] whedon commented on #3781
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03781/joss.03781/10.21105.joss.03781.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03781/joss.03781/10.21105.joss.03781.pdf) :page_facing_up: :point_left:

[2021-11-09 16:33] enricgrau commented on #3781
@rkurchin Thank you for your suggested tweaks. We believe they do improve the way the manuscript reads and, with just a couple of exceptions, where approved and merged.

[2021-11-09 16:35] galessiorob commented on #3877
@AoifeHughes, thanks so much for your review thus far, I appreciate you taking the time to document the issues you found so thoroughly.

@sachsmc, thanks so much for completing your checklist! Were you able to install and run the package without issues? If you have any additional feedback for @wlandau feel free to post them here or in an individual issue.

@JonasMoss @lauravana @MaaniBeigy, mind u

[2021-11-09 16:36] rkurchin commented on #3781
Great! The next steps are:
1. Create a new tagged release and comment here with the version number
2. Create an archive of the package (e.g. on Zenodo or figshare) with matching metadata (title, authors, etc.) to this submission and report the associated DOI here
And then we'll be ready to proceed with publication! 🎉

[2021-11-09 17:00] ejolly commented on #3823
hey @emdupre sorry for the delay. I'm hoping to have this done by the end of this week or the start of next at the latest!

[2021-11-09 18:13] NoraLoose commented on #3894
Thanks @arfon for looking into this! I have decreased the figure size by half. Let's hope Whedon will like this paper better now!

[2021-11-09 18:26] whedon commented on #3859
:wave: @htjb, please update us on how your review is going (this is an automated reminder).

[2021-11-09 18:26] whedon commented on #3859
:wave: @vyasr, please update us on how your review is going (this is an automated reminder).

[2021-11-09 18:35] fboehm commented on #3708
Line 20: Define SB before using it as an abbreviation. Does it abbreviate "Systems biology"?
Line 115: Capitalize the "H" in "Heta". One approach is to put curly braces around the H in the bib file: {H}eta

[2021-11-09 18:35] fboehm commented on #3708
@metelkin - please make the two minor fixes that I suggested above.

[2021-11-09 18:36] fboehm commented on #3708
I can confirm that the DOIs in the bibliography all resolve to the intended articles.

[2021-11-09 18:41] sachsmc commented on #3877
@galessiorob Yes, I could install and run without any issues, but I already had jags and rjags set up. I had some feedback here (https://github.com/ropensci/jagstargets/issues/26) on the write up that were addressed by the author.

[2021-11-09 18:42] nanhung commented on #3820
@jonsampedro Thanks! I got the problem solved by switching to Linux. There are some problems when running in Windows and even WSL (I guess it's from `rgcam` package). You might need to check if you can run the package under these OS. I will further test the example modules.

[2021-11-09 18:54] wsavran commented on #3507
@kbarnhart thank you very much.

[2021-11-09 19:05] nanhung commented on #3820
I found that the default setting is assumed that the user had `output/m1` and  `output/maps/m1/maps_em` directory to store the data for the m1 module. But it could be better if you add some code in your `m1_emissions_rescale` (and other modules) to create the directory if users didn't have this directory. For example,

[code]

[2021-11-09 19:06] metelkin commented on #3708
@whedon generate pdf from branch paper

[2021-11-09 19:06] whedon commented on #3708
[code]

[2021-11-09 19:11] metelkin commented on #3708
@fboehm, I've updated the manuscript.

[2021-11-09 19:30] jonsampedro commented on #3820
@nanhung yes I organized the outputs on different folders due to the large amount of diverse outputs that the tool can produce. If the repository is cloned the subdirectories will be already there, but I will add the suggested code to each of the modules to ensure the function still works even though there is no subfolder on the WD. Thanks for flagging this!

[2021-11-09 19:50] soffner commented on #3771
@whedon generate pdf

On Mon, Sep 27, 2021 at 2:22 PM whedon ***@***.***> wrote:

[2021-11-09 19:51] whedon commented on #3771
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03771/joss.03771/10.21105.joss.03771.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03771/joss.03771/10.21105.joss.03771.pdf) :page_facing_up: :point_left:

[2021-11-09 20:26] AlexChristensen commented on #3308
@arfon and @donaldRwilliams,

All my comments have been addressed. I am happy to recommend acceptance.

Cheers

[2021-11-09 20:40] tretherington commented on #3811
I have just tried to run over all the points again, and for me I think the only outstanding one might be: "State of the field: Do the authors describe how this software compares to other commonly-used packages?"

At the moment the paper doesn't refer to any other packages that might be commonly used to do species-habitat analyses.  I acknowledge that the package is quite possibly unique in that it

[2021-11-09 21:12] finagle29 commented on #3612
No worries, @arjunsavel !

I ran into that bug myself, and have just pushed a fix to the `develop` branch. If this error (or other errors) persists, we can take discussion over to https://github.com/finagle29/DBSP_DRP/discussions.

[2021-11-09 21:12] mirenradia commented on #3703
I can confirm that I also get NaNs at around t=176. However, this is not surprising as the resolution is way too low in order to resolve this simulation with any kind of accuracy. Looking at the puncture trajectory, we can see that the BHs have already merged when they shouldn't do so (for these binary parameters) until well after t=2000M (cf. the plot at the end of [this wiki page](https://github

[2021-11-09 23:00] faroit commented on #3391
@BreezeWhite have you been able to find some time? Otherwise I would suggest to pause this review

[2021-11-09 23:06] maxkfranz commented on #3756
Great, here's the Zenodo link: [10.5281/zenodo.4891545](https://doi.org/10.5281/zenodo.4891545)

[2021-11-10 01:22] fboehm commented on #3708
Thank you, @metelkin!

[2021-11-10 01:23] fboehm commented on #3708
@whedon check references

[2021-11-10 01:24] fboehm commented on #3708
@metelkin - we now need you to make a tagged release and archive, and report the version number and archive DOI here in the review thread.

Thanks again!

[2021-11-10 02:03] NoraLoose commented on #3894
I have a few suggestions for potential reviewers.

From the spreadsheet:
* callumrollo
* ali-ramadhan
* edoddridge

Not on the list:
* leewujung
* AleksiNummelin
* isgiddy
* dcherian
* emiliom
* cgentemann

[2021-11-10 04:41] jlarsen-usgs commented on #3852
review from @thurber is linked to

pygsflow/pygsflow#12

[2021-11-10 05:11] JonasMoss commented on #3877
@galessiorob I'll start looking at this tomorrow!

[2021-11-10 06:21] MaaniBeigy commented on #3877
@galessiorob I'm on it. I think it will be done tomorrow.

[2021-11-10 06:22] galessiorob commented on #3877
@MaaniBeigy great! Thanks so much for the update.

[2021-11-10 08:12] Bisaloo commented on #3811
That's not a problem. Feel free to increment the version number. We ask you to do it right before acceptance anyways. I'll tell whedon what version should be marked as accepted later.

[2021-11-10 08:15] whedon commented on #3860
:wave: @JaroslavHron, please update us on how your review is going (this is an automated reminder).

[2021-11-10 08:15] whedon commented on #3860
:wave: @salrm8, please update us on how your review is going (this is an automated reminder).

[2021-11-10 08:15] whedon commented on #3860
:wave: @akaptano, please update us on how your review is going (this is an automated reminder).

[2021-11-10 08:53] tpurcell90 commented on #3788
@jarvist Any word on reviewers? I can try to look at the list again to find more suggestions

[2021-11-10 09:32] temken commented on #3725
Hi @lucydot,
Thank you for the link, which was very instructive. I'll definitely be more mindful on my versioning in the future. I just released version 1.0.0 (tag (v1.0.0)[https://github.com/temken/obscura/releases/tag/v1.0.0]) replacing the previous v0.2.0, which I deleted.  Version 1.0.0 is archived under [DOI:10.5281/zenodo.5665890](https://zenodo.org/record/5665890).

I also made a very minor

[2021-11-10 09:50] blsqr commented on #3608
@jbytecode I am also done with the checklist but forgot to write: *I endorse publication of the CellPyLib package and paper in JOSS*. 🚀
I think this is a very valuable package, especially because of the many well-written tutorials and its ease of use for exploring and studying the behaviour of CA.

Thanks for letting me be part of this review!

[2021-11-10 10:03] whedon commented on #3861
:wave: @ralphevins, please update us on how your review is going (this is an automated reminder).

[2021-11-10 10:03] whedon commented on #3861
:wave: @samanmostafavi, please update us on how your review is going (this is an automated reminder).

[2021-11-10 10:31] arfon commented on #3308
Thanks for the quick responses @AlexChristensen & @GiulioCostantini!

@donaldRwilliams - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

-

[2021-11-10 10:49] metelkin commented on #3708
Hello @fboehm
I've published the release.

Version 0.6.7
10.5281/zenodo.5666487

[2021-11-10 10:57] kamapu commented on #3776
Shame on me! Though too late, I'll provide my comments. Unfortunately I don't have any access or copy to the manuscript now.

[2021-11-10 10:57] kamapu opened #3902 "Installation: Does installation proceed as outlined in the documentation?"

[2021-11-10 10:57] whedon commented on #3902
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-11-10 10:57] #3902 closed

[2021-11-10 11:01] Bisaloo commented on #3776
@whedon generate pdf

[2021-11-10 11:01] kamapu commented on #3902
I found the code for installing the package (e.g. in [README.md](https://github.com/openjournals/joss-reviews/blob/master/README.md)) too long. I suggest to change it by:

[code]

[2021-11-10 11:01] whedon commented on #3776
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03776/joss.03776/10.21105.joss.03776.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03776/joss.03776/10.21105.joss.03776.pdf) :page_facing_up: :point_left:

[2021-11-10 11:03] Bisaloo commented on #3776
@kamapu, you should be able to access the manuscript via the links in the previous comment :slightly_smiling_face:

[2021-11-10 11:18] danielskatz commented on #3902
@kamapu - you are writing in a closed issue - please see

[2021-11-10 12:16] astanziola commented on #3845
Hi! This looks like a wonderful project, but unfortunately I don't have enough time to guarantee a timely review on this, I'm sorry.

[2021-11-10 12:27] jbytecode commented on #3608
Dear @blsqr

Thank you very much for spending your valuable time, your review and great effort - and also contributions.

[2021-11-10 12:35] jbytecode commented on #3608
Dear @martibosch

This is the last call for completing your review.  You haven't made any progress since August which is not acceptable.

Could you please give a response and set a deadline or resign so I can find an other reviewer or make a decision using with the reviewer reports at hand.

Thank you in advance.

[2021-11-10 12:38] kamapu commented on #3902
I see. I'm apparently just too late for it. Thanks!

[2021-11-10 12:41] kamapu commented on #3776
Thanks! The robot is closing my issues in the repo of specieshindex. I'm doing something wrong or it is because of been too late.

[2021-11-10 12:52] martibosch commented on #3608
Hello @jbytecode,

in line with what I said some weeks ago, my new engineering job does not leave me much time for research and open source, so I would suggest that you move on without me. If that is not possible, I can complete the review this friday. I am sorry for accepting to review this submission at first and making this reviewing process impractical - at the time, I thought I would have mor

[2021-11-10 12:55] danielskatz commented on #3776
You need to manually open issues in https://github.com/jessicatytam/specieshindex - do not use the GitHub "convert to issue" feature, as it opens issues in the wrong repository.

[2021-11-10 12:59] jbytecode commented on #3608
Dear @martibosch

Making a final decision with the reports at hand is possible because we have two positive ones.

But, of course, if you want to finalize your review until November, 13th (Saturday), we can wait a little bit.

Please let me know your what you decide to do.

Thank you.

[2021-11-10 13:07] martibosch commented on #3608
Hello again @jbytecode,

if you can make a final decision based on the reports at hand, I would suggest that you move forward without my report.

Sorry again for the inconveniences. Best,
Martí

[2021-11-10 13:09] jbytecode commented on #3608
Dear @martibosch - that's okay, no worries. Hope to work together in other submissions in the future.

[2021-11-10 13:11] martibosch commented on #3608
Thank you for your comprehension. Looking forward to another submission, hopefully I will have more time for open source next year!

[2021-11-10 13:31] jbytecode commented on #3608
@whedon check references

[2021-11-10 13:31] whedon commented on #3608
[code]

[2021-11-10 13:32] jbytecode commented on #3608
@whedon generate pdf

[2021-11-10 13:33] whedon commented on #3608
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03608/joss.03608/10.21105.joss.03608.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03608/joss.03608/10.21105.joss.03608.pdf) :page_facing_up: :point_left:

[2021-11-10 13:40] jponnela commented on #3417
Hi everyone (@erik-whiting, @fboehm, @Tam-Pham, @biblicabeebli),

I've just updated paper.md and paper.bib files to reflect the responses I submitted about two weeks ago. I believe and hope that we've addressed all the points that were raised, but please let us know if we missed anything or if there are additional steps we should take.

[2021-11-10 13:57] jbytecode commented on #3608
Dear @lantunes

I have just read the final form of the paper and it seems it is in a very good state. However, in the code snipped, the code flows the page width.

is it possible to define lambda before the function call and pass it to function as an argument so we can gain some extra space?

[2021-11-10 14:11] lantunes commented on #3608
@jbytecode I have updated the paper on the `joss_review` branch, so that the lambda is defined before the function call. I believe this addresses the issue.

[2021-11-10 14:11] elbeejay commented on #3894
:wave: @callumrollo, @ali-ramadhan, @edoddridge, would you be willing to review this submission to JOSS? I believe you all have prior experience with JOSS, but for your reference, the JOSS review criteria can be found [here](https://joss.readthedocs.io/en/latest/review_criteria.html).

The submission is "GCM-Filters: A Python Package for Diffusion-based Spatial Filtering of Gridded Data". This is

[2021-11-10 14:31] jbytecode commented on #3608
@whedon check references from branch joss_review

[2021-11-10 14:31] whedon commented on #3608
[code]

[2021-11-10 14:31] whedon commented on #3608
[code]

[2021-11-10 14:31] jbytecode commented on #3608
@whedon generate pdf from branch joss_review

[2021-11-10 14:31] whedon commented on #3608
[code]

[2021-11-10 14:32] whedon commented on #3608
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03608/joss.03608/10.21105.joss.03608.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03608/joss.03608/10.21105.joss.03608.pdf) :page_facing_up: :point_left:

[2021-11-10 14:37] jbytecode commented on #3608
Dear @lantunes

- [ ] In final draft of the paper, (in the code snippet) an extra space between the lambda definition and the function call would be good but it is  not really necessary.

- [ ] Please re-check the whole paper by means of both language and format (one more time). When it is finished, please ping me here.

- [ ] make a tagged release and archive (e.g. with [Zenodo](https://zenodo.or

[2021-11-10 14:50] lantunes commented on #3608
@jbytecode I have added an extra space between the lambda definition and the function call, and I have re-checked the whole paper. Should I go ahead and make a tagged release and archive?

[2021-11-10 14:50] jbytecode commented on #3608
yes, please.

[2021-11-10 14:54] Sbozzolo commented on #3703
Sweet! Indeed, I wanted to check that the code evolved for a bit, and that configuration is not ideal for that. Now, I evolved for one orbit at full resolution facing no problems. Some comments:
* It is not great that the code hangs indefinitely when a NaN is encountered and `OPT = HIGH`.
* Are users going to receive the level of support I received in figuring this out? If yes, what is the correct

[2021-11-10 14:58] mhesselbarth commented on #3811
@tretherington
https://github.com/r-spatialecology/shar/commit/3850fb113935544b61fa033e637cba45e0ebb365

I changed the last 1,2 paragraphs of the statement of need section quite a bit trying to compare `shar` more to other existing packages and methods.

However, I don't think that including `adehabitatHS` makes too much sense, since it is not really based on a spatially explicit point pattern app

[2021-11-10 14:59] callumrollo commented on #3894
Hi @elbeejay, I'd be happy to review this submission. I've not got much experience with GCMs, but can focus on the Python implementation, testing, documentation etc.

I have not formal conflict of interest and I have never worked with the lead author. However, I am a contributor to the [glidertools](https://github.com/GliderToolsCommunity/GliderTools) package along with jbusecke, who has made seve

[2021-11-10 15:05] whedon commented on #3771
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03771/joss.03771/10.21105.joss.03771.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03771/joss.03771/10.21105.joss.03771.pdf) :page_facing_up: :point_left:

[2021-11-10 15:06] whedon commented on #3358
[code]

[2021-11-10 15:06] whedon commented on #3358
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: :point_left:

[2021-11-10 15:18] llrs commented on #3358
@whedon generate pdf from branch paper

[2021-11-10 15:18] whedon commented on #3358
[code]

[2021-11-10 15:18] whedon commented on #3358
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: :point_left:

[2021-11-10 15:22] nagelt commented on #3673
Looking good : ) Thanks everyone for helping improve the paper on its road to publication

[2021-11-10 15:24] peanutfun commented on #3885
@mithun218 thank you for your quick reply. Indeed, I missed the part on `solutionClt` and `constraints`. Let me summarize my review and get back to my question:

You obviously put a lot of effort into implementing the F-expansion and first integral methods in an open-source framework. Your documentation focuses strongly on the intricate mathematics involved in these methods, and admittedly, they a

[2021-11-10 15:25] llrs commented on #3358
@whedon generate pdf from branch paper

[2021-11-10 15:26] whedon commented on #3358
[code]

[2021-11-10 15:26] whedon commented on #3358
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: :point_left:

[2021-11-10 15:27] lantunes commented on #3608
@jbytecode I have created a tagged release and deposited the files in figshare. The version number is `v2.0.0` and the DOI is `10.6084/m9.figshare.16977619`.

[2021-11-10 15:31] fboehm commented on #3708
Thanks, @metelkin !

[2021-11-10 15:34] fboehm commented on #3708
@metelkin - I failed to tell you that the title of the archive needs to be the same as the title of the paper. Can you please fix this? Thanks again! Right now, it looks like the title of the archive is: hetalang/heta-compiler: Version 0.6.7 - ready for JOSS

[2021-11-10 15:35] szhorvat commented on #3608
It's not critical for the review (which is why I went ahead and concluded it here), but if you're going to make a major new release, it might make sense to think about minor breaking changes to the API that can improve the user experience. What do you think about my suggestion here? https://github.com/lantunes/cellpylib/issues/11#issuecomment-963535331 Wouldn't it make it so much easier to continu

[2021-11-10 15:39] szhorvat commented on #3608
I might have missed something, but what there a breaking change so far which warrants a 2.0.0 according to semantic versioning?

[2021-11-10 15:54] metelkin commented on #3708
@fboehm - No problem. Done!

[2021-11-10 15:56] KAClough commented on #3703
At some level yes, we often do help with debugging issues. There is a contact email on the wiki and users can file issues but I will highlight these options when I update the wiki.

Yes, we plan to update some of the postprocessing parts of the wiki. We do expect most people to write their own analysis tools depending on the problem, but there are a few examples they can start from which we could

[2021-11-10 16:01] jbytecode commented on #3608
- @szhorvat - I am agreed with the versioning scheme.
- @lantunes what do you think for this?
- @szhorvat - should I break the editorial stuff and wait for your discussion now?

[2021-11-10 16:09] Peter-Vermeiren opened #3903 "Summary: Has a clear description of the high-level functionality and purpose of the software for a diverse, non-specialist audience been provided?"

[2021-11-10 16:09] whedon commented on #3903
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-11-10 16:09] #3903 closed

[2021-11-10 16:11] llrs commented on #3358
@whedon generate pdf from branch paper

[2021-11-10 16:11] whedon commented on #3358
[code]

[2021-11-10 16:11] whedon commented on #3358
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: :point_left:

[2021-11-10 16:12] Peter-Vermeiren commented on #3200
**Software paper -> Summary / Statement of need**
The summary mentions _“full compliance with regulatory requirements”_. I would have expected a bit of detail about that here, such as a reference or examples of relevant regulations, or the specific requirements you are referring to. I am not an expert on regulatory affairs. Would this package e.g. work for USA regulations as well as EU regulations

[2021-11-10 16:18] Peter-Vermeiren commented on #3200
**Software paper -> quality of writing**
- There were some minor spelling errors in the paper, which I indicated with comments in the attached manuscript file.
- I also added 3 points of clarification (a reference, clarification on what "_advanced and innovative methods_" are, and a clarification of a figure legend)

[Submitted manuscript - version 09 Nov 2021.pdf](https://github.com/openjournals/

[2021-11-10 16:19] Peter-Vermeiren commented on #3200
**Function survDataCheck:** It would be nice to have a more informative message when everything works fine (currently: "_no message_"). How about: "_data in correct format_". Messages for other datatypes are informative, thanks.  https://github.com/pveber/morse/blob/master/R/survDataCheck.R

[2021-11-10 16:20] Peter-Vermeiren commented on #3200
**Help documentation for survFit function:** The documentation seems to repeat itself 2 to 3 times.
R/survFit.R https://github.com/pveber/morse/blob/master/R/survFit.R
Minor spelling issue: L.9: The function \code{survFit} return -> return**s** with an “s”

[2021-11-10 16:23] llrs commented on #3358
Sorry for all the notifications, I think that now it is ready for publication.
@lpantano I removed all the code and left only two plots and the scheme, the page length is still 5 pages though.

[2021-11-10 16:27] szhorvat commented on #3608
I'm sorry for the misunderstanding, please do not. This is a nice package, and I am happy to see it published in JOSS. My review is of course final.

The above message was a reaction to seeing the 2.0.0 version number, which surprised me (is it necessary to jump to 2.0? if doing that jump, perhaps take the opportunity to break API?) It is of course up to @lantunes what direction he takes his packa

[2021-11-10 16:28] Peter-Vermeiren commented on #3200
Thank you for the opportunity to review this manuscript and R package.
- I found the package very useful, with all functionalities that I would expect. The package is well documented so I could easily find how to adapt functions, as well as understand what the functions do and what their underlying theory is.
- The paper is clear, with an easy-to-follow example. (It is nice that a more extensive t

[2021-11-10 16:32] Peter-Vermeiren commented on #3200
p.s. I checked the relevant boxes in the review checklist. I did not check "_automated tests_" as this is not applicable as far as I can see.

[2021-11-10 16:32] jbytecode commented on #3608
@whedon check references from branch joss_review

[2021-11-10 16:32] whedon commented on #3608
[code]

[2021-11-10 16:33] whedon commented on #3608
[code]

[2021-11-10 16:33] jbytecode commented on #3608
@whedon generate pdf from branch joss_review

[2021-11-10 16:33] whedon commented on #3608
[code]

[2021-11-10 16:33] whedon commented on #3608
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03608/joss.03608/10.21105.joss.03608.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03608/joss.03608/10.21105.joss.03608.pdf) :page_facing_up: :point_left:

[2021-11-10 16:35] jbytecode commented on #3608
@whedon set v2.0.0 as version

[2021-11-10 16:35] whedon commented on #3608
OK. v2.0.0 is the version.

[2021-11-10 16:35] jbytecode commented on #3608
@whedon set 10.6084/m9.figshare.16977619 as archive

[2021-11-10 16:35] whedon commented on #3608
OK. <a href="https://doi.org/10.6084/m9.figshare.16977619" target="_blank">10.6084/m9.figshare.16977619</a> is the archive.

[2021-11-10 16:36] jbytecode commented on #3608
@whedon recommend-accept from branch joss_review

[2021-11-10 16:36] whedon commented on #3608
[code]

[2021-11-10 16:36] whedon commented on #3608
[code]

[2021-11-10 16:36] whedon commented on #3608
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2740

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2740, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-10 16:38] fboehm commented on #3708
@metelkin - Excellent!

[2021-11-10 16:39] fboehm commented on #3708
@whedon set v0.6.7 as version

[2021-11-10 16:39] whedon commented on #3708
OK. v0.6.7 is the version.

[2021-11-10 16:39] fboehm commented on #3708
set 10.5281/zenodo.5666487 as archive

[2021-11-10 16:40] fboehm commented on #3708
@whedon set 10.5281/zenodo.5666487 as archive

[2021-11-10 16:40] whedon commented on #3708
OK. <a href="https://doi.org/10.5281/zenodo.5666487" target="_blank">10.5281/zenodo.5666487</a> is the archive.