[2021-02-26 14:12] lpantano commented on #2957
@whedon generate pdf

[2021-02-26 14:13] whedon commented on #2957
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02957/joss.02957/10.21105.joss.02957.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02957/joss.02957/10.21105.joss.02957.pdf) :page_facing_up: :point_left:

[2021-02-26 14:13] lpantano commented on #2957
@whedon check references

[2021-02-26 14:13] whedon commented on #2957
[code]

[2021-02-26 14:14] lpantano commented on #2957
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure th

[2021-02-26 14:54] milancurcic commented on #2741
@VivianePons

Sorry, I misunderstood the prompt. Checked!

No, sorry, I wasn't clear. Everything I tried *seems* to work and do things. What I struggled with was fully understanding what it all means, which is the domain-specific part. I will check the "Functionality" box to the best of my knowledge, however, I believe it will take a domain-expert to truly confirm that the software does what it sa

[2021-02-26 15:04] whedon commented on #2939
:wave: @corentin-dev, please update us on how your review is going (this is an automated reminder).

[2021-02-26 15:20] kthyng commented on #3009
@fgeier We need all of the boxes checked to finish up reviews. This is our metric for the review and want them ticked off for the review to be finished.

For

if there are no claims, you can check this off.

For

If this is not done in the paper, the author should fix this. If there is no comparable software, that should be stated and then the box can be checked off.

[2021-02-26 15:24] kthyng commented on #3009
Looks like everything else is in order to finalize publication (version updated, Zenodo archive looks good, and paper is fine)!

[2021-02-26 15:30] kthyng commented on #2641
Huh, I don't see figshare come through too often so I might be looking in the wrong place, but I am having trouble verifying that the title and author list match the JOSS submission. @zemogle can you point me to where this is, or update it on your end?

[2021-02-26 15:31] kthyng commented on #2641
@zemogle can you verify what version of your software should be associated with this review?

[2021-02-26 15:40] js2264 commented on #3009
@kthyng @fgeier About other commonly-used packages: I've just added a sentence about 2 tools that already exist. I have not changed the content of the code itself, only `paper.md` and `paper.bib`. Should I still re-create the Zenodo archive?

[2021-02-26 15:41] whedon opened #3069 "[PRE REVIEW]: coxeter: A Python package for working with Shapes"
**Submitting author:** @vyasr (<a href="http://orcid.org/0000-0001-5181-9532">Vyas Ramasubramani</a>)
**Repository:** <a href="https://github.com/glotzerlab/coxeter" target ="_blank">https://github.com/glotzerlab/coxeter</a>
**Version:** 0.5.0
**Editor:** @jni
**Reviewers:** @tmaric
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2021-02-26 15:41] whedon commented on #3069
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-26 15:42] whedon commented on #3069
[code]

[2021-02-26 15:42] whedon commented on #3069
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03069/joss.03069/10.21105.joss.03069.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03069/joss.03069/10.21105.joss.03069.pdf) :page_facing_up: :point_left:

[2021-02-26 15:42] whedon commented on #3069
[code]

[2021-02-26 15:43] diehlpk commented on #2939
@whedon check references

[2021-02-26 15:43] whedon commented on #2939
[code]

[2021-02-26 15:43] kthyng commented on #2171
@whedon generate pdf from branch main

[2021-02-26 15:43] whedon commented on #2171
[code]

[2021-02-26 15:44] whedon commented on #2171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: :point_left:

[2021-02-26 15:48] kthyng commented on #3069
Hi @vyasr and thanks for your submission. The relevant editors for this submission are currently at full editorial load, so I am going to apply the waitlist label. Your paper will be picked up by an appropriate editor once they are available. Thank you for your patience.

[2021-02-26 15:49] poulson commented on #3033
Hi James (@jameshclrk) -- you were recommended by Vincent Russo (@vprusso) as an expert on quantum information theory that would be appropriate for reviewing their submission of a python toolkit in that area.

Would you be willing to serve as one of the reviewers of this submission?

[2021-02-26 15:51] poulson commented on #3033
Hi Alejandra (@rurz) -- your colleague Vincent Russo (@vprusso) has recommended you as an expert on quantum information theory that would be an ideal reviewer for their python package in said area.

Please let me know if you would be willing to serve as a reviewer for this Journal of Open Source Software submission.

[2021-02-26 15:56] kthyng commented on #2171
@whedon set 10.5281/zenodo.4549876 as archive

[2021-02-26 15:56] whedon commented on #2171
OK. <a href="https://doi.org/10.5281/zenodo.4549876" target="_blank">10.5281/zenodo.4549876</a> is the archive.

[2021-02-26 15:57] kthyng commented on #2171
@whedon accept

[2021-02-26 15:57] whedon commented on #2171
[code]

[2021-02-26 15:57] whedon commented on #2171
[code]

[2021-02-26 15:58] whedon commented on #2171
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2114

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2114, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-26 16:00] whedon commented on #2171
[code]

[2021-02-26 16:01] kthyng commented on #3009
@js2264 no you don't need to update the archive.

[2021-02-26 16:01] kthyng commented on #3009
@whedon generate pdf

[2021-02-26 16:01] whedon commented on #2171
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1365331173648584712) 👈 🐦🐦🐦

[2021-02-26 16:01] whedon commented on #2171
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2115
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02171](https://doi.org/10.21105/joss.02171)
2. If everything looks g

[2021-02-26 16:02] whedon commented on #3009
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03009/joss.03009/10.21105.joss.03009.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03009/joss.03009/10.21105.joss.03009.pdf) :page_facing_up: :point_left:

[2021-02-26 16:04] kthyng commented on #2171
Congratulations on your new publication to @jordanperr and team!! Many thanks to editor @sjpfenninger and reviewers @gschivley and @brynpickering — we couldn't make JOSS happen without your time and expertise!! 🎉

[2021-02-26 16:04] #2171 closed

[2021-02-26 16:04] whedon commented on #2171
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02171/status.svg)](https://doi.org/10.21105/joss.02171)

**We need your help!**

Journal of Open Source Softwa

[2021-02-26 16:08] kthyng commented on #3009
@fgeier It looks like you should be able to finalize your review by checking off the final two boxes now, but either way please let us know.

[2021-02-26 17:02] zemogle commented on #2641
@kthyng If you click the DOI link you should be able to see the title and authors list (Figshare shows a preview of the archive first, bizarrely).

The version matching the paper is 1.5.2

[2021-02-26 17:48] anfederico commented on #2957
v.1.00 (Publication Release) tagged on Github
https://github.com/montilab/nf-gwas-pipeline/releases/tag/v1.00

Archived: https://zenodo.org/record/4565942#.YDkzxy2ZNE4

![image](https://user-images.githubusercontent.com/18452646/109336019-cf807e00-7830-11eb-8fb8-17a10081c591.png)

[2021-02-26 18:07] kbarnhart commented on #2975
@ghislainv just wanted to check in if you had any questions about my PR.

[2021-02-26 18:22] mossr commented on #2749
@sbenthall I just made it _even easier_ for you to test the entire package, avoiding the plotting. So when you do start testing, pull the latest v0.4.5 (on master) and this will make your life much easier :)

Thanks again for getting around to this. Let me know if you run into any hiccups.

[2021-02-26 19:51] rurz commented on #3033
@poulson Thanks for considering me as a potential reviewer. Sure, I accept the task.

(I little typo, my name is Alejandro)

[2021-02-26 20:46] kthyng commented on #2641
@zemogle Oh! I see it if I scroll farther down. Weird. Oh that looks good.

[2021-02-26 20:47] kthyng commented on #2641
@whedon set v1.5.2 as version

[2021-02-26 20:47] whedon commented on #2641
OK. v1.5.2 is the version.

[2021-02-26 20:48] kthyng commented on #2641
@whedon accept deposit=true

[2021-02-26 20:48] whedon commented on #2641
[code]

[2021-02-26 20:49] whedon opened #3070 "[PRE REVIEW]: MUQ: The MIT Uncertainty Quantification Library"
**Submitting author:** @mparno (<a href="http://orcid.org/0000-0002-9419-2693">Matthew Parno</a>)
**Repository:** <a href="https://bitbucket.org/mituq/muq2.git" target ="_blank">https://bitbucket.org/mituq/muq2.git</a>
**Version:** v0.3.2
**Editor:** @pdebuyl
**Reviewers:** @martinmodrak
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-02-26 20:49] whedon commented on #3070
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-26 20:49] whedon commented on #2641
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1365403674219053057) 👈 🐦🐦🐦

[2021-02-26 20:49] whedon commented on #2641
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2116
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02641](https://doi.org/10.21105/joss.02641)
2. If everything looks g

[2021-02-26 20:50] whedon commented on #3070
[code]

[2021-02-26 20:50] whedon commented on #3070
[code]

[2021-02-26 20:50] whedon commented on #3070
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03070/joss.03070/10.21105.joss.03070.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03070/joss.03070/10.21105.joss.03070.pdf) :page_facing_up: :point_left:

[2021-02-26 20:51] kthyng commented on #2641
Congrats on your new publication to @mfitzasp! Many thanks to editor @arfon and reviewers @zackdraper and @joshspeagle for your time, hard work, and expertise!! 🎉 🎉

[2021-02-26 20:51] #2641 closed

[2021-02-26 20:51] whedon commented on #2641
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02641/status.svg)](https://doi.org/10.21105/joss.02641)

**We need your help!**

Journal of Open Source Softwa

[2021-02-26 20:54] kthyng commented on #3070
Hi @mparno and thanks for your submission. One thing I notice in your paper: can you update the affiliations to include all the normal information like institution, city, country.

[2021-02-26 21:20] Kevin-Mattheus-Moerman commented on #2885
@whedon assign @bhajay as reviewer

[2021-02-26 21:20] whedon commented on #2885
OK, @bhajay is now a reviewer

[2021-02-26 21:52] tbrown122387 commented on #2599
@diehlpk @kthyng is there any chance we can re-publish this after I insert the following blurb somewhere?

These folks had helped me out with some of the `cmake` issues that were raised [here](https://github.com/tbrown122387/pf/issues/13) which was in response to some of the feedback given by @ziotom78 Sorry to make more work for you all. I had just stumbled upon a [page](https://www.rc.virginia.e

[2021-02-26 22:31] diehlpk commented on #2599
@tbrown122387 I think you can add it to the paper and @arfon can reprocess the paper and replace the old version. Please wait for his instructions.

[2021-02-26 22:59] eviatarbach commented on #3053
Before getting into the rest of the review, I ran into some installation issues on older versions of Julia. On Julia 1.5.3 the installation works fine.

On Julia 1.4.1 (less than a year old), the error https://github.com/FourierFlows/GeophysicalFlows.jl/issues/128 occurs upon first import. I understand this was fixed in GeophysicalFlows.jl version 0.8.1, but that version requires Julia 1.5.0, mean

[2021-02-26 23:43] dhhagan commented on #2781
@whedon set 10.5281/zenodo.4556086 as archive

[2021-02-26 23:43] whedon commented on #2781
OK. <a href="https://doi.org/10.5281/zenodo.4556086" target="_blank">10.5281/zenodo.4556086</a> is the archive.

[2021-02-26 23:44] dhhagan commented on #2781
@whedon set v2.1.2 as version

[2021-02-26 23:44] whedon commented on #2781
OK. v2.1.2 is the version.

[2021-02-26 23:44] dhhagan commented on #2781
@whedon accept

[2021-02-26 23:44] whedon commented on #2781
[code]

[2021-02-26 23:45] whedon commented on #2781
[code]

[2021-02-26 23:45] whedon commented on #2781
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2117

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2117, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-27 00:10] navidcy commented on #3053
Thanks @eviatarbach for pointing this out. I’ll try to sort it out and ping you.

[2021-02-27 00:14] amanaster2 commented on #2965
Hello @kbarnhart, @giswqs:

I've finished my review. Overall, this is a great piece of software, and I really enjoyed learning how to use it.
I have a few comments/suggestions:

1.  **Documentation**: The installation instructions could use clarification. Please see my comment on this [issue](https://github.com/giswqs/lidar/issues/10) for more details.
2. **Documentation**: Suggest providing infor

[2021-02-27 00:41] poulson commented on #3033
My apologies for the typo, Alejandro, I assure you it is what I meant to type (I pulled it from your GitHub page).

And thank you for accepting!

[2021-02-27 00:42] poulson commented on #3033
@whedon add @rurz as reviewer

[2021-02-27 00:42] whedon commented on #3033
OK, @rurz is now a reviewer

[2021-02-27 02:03] somefunAgba commented on #3002
@kakearney I will inform you in a few days, when the app is **updated.** _The commits done in the past few days does not reflect
on the app present in the github repo._ I will add the **updated app on my local git repo** soon.

[2021-02-27 02:41] briandesilva commented on #2828
@arfon, I'm really sorry, but it was just pointed out to me that two of the author names were written in the wrong order in the paper. Is there any way to re-generate the pdf with the corrected order? I have corrected and pushed `paper.md`.

[2021-02-27 04:42] navidcy commented on #3053
Regarding the error on Julia v1.4, I could fix the issue if I could edit a file from the v0.8.0 release.
how do I do that? or what should I google to figure it out?

[2021-02-27 07:26] pdebuyl commented on #3053
@navidcy you can issue a bugfix release 0.8.5 if necessary. Google should advise you not to edit the content of the release :-)

Is it necessary to fix older versions for this issue?

[2021-02-27 07:30] ramisetti commented on #2879
@meg-simula @mscroggs I am happy with the revised manuscript. I think all my points have been now addressed.

[2021-02-27 07:55] arfon commented on #2886
:wave: @JonnyTran @FedericoComoglio @JDRomano2 – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission we'd ask you to review here is [_mikropml: User-Friendly R Package for Supervised Machine Learning Pipelines_](http

[2021-02-27 08:08] arfon commented on #2599
Sure thing! I've added this in https://github.com/openjournals/joss-papers/blob/d5a41afeb6cfbf928dfb18738fd6e74ab1768151/joss.02599/10.21105.joss.02599.pdf

[2021-02-27 08:11] arfon commented on #2828
Sure thing. Updated in https://github.com/openjournals/joss-papers/commit/8f2fc952f6c9bb5f9d32b1acd0a1f9ec2d96ad0a

[2021-02-27 08:12] arfon commented on #3026
@whedon start review

[2021-02-27 08:12] whedon opened #3071 "[REVIEW]: starry_process: Interpretable Gaussian processes for stellar light curves"
**Submitting author:** @rodluger (<a href="http://orcid.org/0000-0002-0296-3826">Rodrigo Luger</a>)
**Repository:** <a href="https://github.com/rodluger/starry_process" target ="_blank">https://github.com/rodluger/starry_process</a>
**Version:** v0.9.6
**Editor:** @arfon
**Reviewer:** @nespinoza, @j-faria
**Archive:** <a href="https://doi.org/10.5281/zenodo.4665400" target="_blank">10.5281/zenodo.

[2021-02-27 08:12] whedon commented on #3026
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3071.

[2021-02-27 08:12] #3026 closed

[2021-02-27 08:12] whedon commented on #3071
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nespinoza, @j-faria it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-02-27 08:13] arfon commented on #3026
@nespinoza, @j-faria - see you over in #3071 where the actual review will take place.

[2021-02-27 08:13] arfon commented on #3071
@nespinoza, @j-faria - One thing I forgot to mention when inviting you both to review is that this JOSS submission/paper is a joint publication with AAS Journals, i.e. this JOSS paper will be published together with another paper in one of the AAS journals. As part of this collaboration, AAS publishing makes a small donation to the running costs of JOSS.

If this is unacceptable to you, please let

[2021-02-27 08:14] whedon commented on #3071
[code]

[2021-02-27 08:14] whedon commented on #3071
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03071/joss.03071/10.21105.joss.03071.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03071/joss.03071/10.21105.joss.03071.pdf) :page_facing_up: :point_left:

[2021-02-27 08:15] arfon commented on #3071
@nespinoza, @j-faria – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied.

[2021-02-27 08:15] whedon commented on #3071
[code]

[2021-02-27 09:30] ghislainv commented on #2975
@kbarnhart, thanks for proofreading the paper, I will integrate your changes. I am currently modifying the figure of the paper and will keep you informed when it's done.

[2021-02-27 09:32] VNNikolaidis commented on #2876
Dear  @kakiac (Editor),
I took the liberty to remove the **JOSS** branch of the [nnlib2Rcpp GitHub repository](https://github.com/VNNikolaidis/nnlib2Rcpp) which was created solely for the review of my submission. The (revised) paper is now located at the **master** branch, which contains both the software and all related materials.
Furthermore, I am getting ready to release the new version (v.0.1.

[2021-02-27 10:50] 0x0f0f0f commented on #3035
Extending the list of potential reviewers from the Google sheets file.

- dpsanders
- ChrisRackauckas
- vchuravy
- dmbates
- ahwillia
- ninjin
- ayushpatnaikgit
- dglmoore
- avik-pal
- pitsianis
- henrik227 (interested in symbolic computation)
- moorepants (interested in symbolic computation)

[2021-02-27 14:37] AngryMaciek commented on #3019
@melissawm
Maybe we should ask around more people?

From the list I selected: StewMH, diehlpk, iljah, katyhuff, nnadeau, rrrlw, ctdegroot, dvberkel, vissarion, danehkar, inakleinbottle, Nheyer, bonh, cpgr, mstimberg

[2021-02-27 15:20] danielskatz commented on #2282
Hi @mikerspencer - just checking to see how the week went...

[2021-02-27 18:03] richardjgowers commented on #2824
@whedon check references

[2021-02-27 18:04] whedon commented on #2824
[code]

[2021-02-27 18:04] richardjgowers commented on #2824
@whedon accept

[2021-02-27 18:04] whedon commented on #2824
No archive DOI set. Exiting...

[2021-02-27 18:07] richardjgowers commented on #2824
@symmy596 ok I think we're good to go.  Couple of things, the DOI for the mdanalysis reference seems broken, it looks like there's two https:// pieces.  And you'll also have to create a zenodo DOI :

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g.,

[2021-02-27 18:18] tbrown122387 commented on #2599
Thanks very much @diehlpk and @arfon !

[2021-02-27 21:13] eriknes commented on #2952
I am sorry this took a while. I have installed and tested the software and it works as expected. I have a certain idea about the effort required to make network mapping of river deltas work, so I am actually very impressed!

I have a couple of comments regarding the documentation of the algorithms used and their performance. But it seems like that is not part of the review process? It is the first

[2021-02-27 21:24] whedon commented on #3038
:wave: @NMontanaBrown, please update us on how your review is going (this is an automated reminder).

[2021-02-27 21:24] whedon commented on #3038
:wave: @tjasaki, please update us on how your review is going (this is an automated reminder).

[2021-02-27 21:59] JonnyTran commented on #2886
Hi @arfon yes I'd gladly review this package.

[2021-02-27 23:17] giswqs commented on #2965
@whedon generate pdf

[2021-02-27 23:19] whedon commented on #2965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02965/joss.02965/10.21105.joss.02965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02965/joss.02965/10.21105.joss.02965.pdf) :page_facing_up: :point_left:

[2021-02-27 23:20] whedon opened #3072 "[PRE REVIEW]: imea: A Python package for extracting 2D and 3D shape measurements from images"
**Submitting author:** @nilskroell (<a href="http://orcid.org/0000-0002-6016-5144">Nils Kroell</a>)
**Repository:** <a href="https://git.rwth-aachen.de/ants/sensorlab/imea" target ="_blank">https://git.rwth-aachen.de/ants/sensorlab/imea</a>
**Version:** v0.2.2
**Editor:** @mbobra
**Reviewers:** @Atif-Anwer, @tuelwer
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:*

[2021-02-27 23:20] whedon commented on #3072
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-27 23:21] whedon commented on #3072
[code]

[2021-02-27 23:21] whedon commented on #3072
[code]

[2021-02-27 23:21] whedon commented on #3072
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03072/joss.03072/10.21105.joss.03072.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03072/joss.03072/10.21105.joss.03072.pdf) :page_facing_up: :point_left:

[2021-02-27 23:23] danielskatz commented on #3072
👋 @nilskroell - Due to the relatively small size of this code, the JOSS editors will now examine if this submission meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

[2021-02-27 23:23] danielskatz commented on #3072
@whedon query scope

[2021-02-27 23:23] whedon commented on #3072
Submission flagged for editorial review.

[2021-02-27 23:26] giswqs commented on #2965
@amanaster2 Thank you very much for taking the time to review the software and providing feedback. I have updated the repo according to your comments. Thanks.

1. Improved the installation instructions. See https://lidar.gishub.org/installation
2. Added the ArcGIS toolbox info. See https://lidar.gishub.org/get-started/#arcgis-toolbox
3. Added a `State of the field` section to the paper. See the [a

[2021-02-28 00:03] symmy596 commented on #2824
@whedon check references

[2021-02-28 00:04] whedon commented on #2824
[code]

[2021-02-28 00:06] symmy596 commented on #2824
@richardjgowers Thanks. I have fixed the doi for MDAnalysis.
I have made a tagged release. Tag 1.0.0
Zenodo record has been created, doi - 10.5281/zenodo.4568493

Thanks
Adam

[2021-02-28 00:42] majensen commented on #2726
@danielskatz it has been 4 weeks since the in-danger-of-rejection label was added. See https://github.com/openjournals/joss-reviews/issues/2726#issuecomment-770249692.

[2021-02-28 00:59] majensen commented on #2979
@bensonml @junjun-zhang making progress?

[2021-02-28 01:06] danielskatz commented on #2726
@majensen - thanks for the reminder

[2021-02-28 01:08] danielskatz commented on #2726
@brantapl - given your lack of responsiveness, this submission will now be rejected.  If you fix the issues, you can resubmit it

[2021-02-28 01:08] danielskatz commented on #2726
@whedon reject

[2021-02-28 01:08] whedon commented on #2726
Paper rejected.

[2021-02-28 01:08] #2726 closed

[2021-02-28 02:00] fboehm commented on #2743
Hi, @dwinter - I hope that you're doing ok. How is the review going? It looks like there are 2 remaining unchecked boxes in your checklist. It would be great if we can wrap up the reviews soon. Please let me know if you have any questions or concerns. Thanks again!

[2021-02-28 02:05] fboehm commented on #2995
@JDRomano2 - How is the review going? Please let me know if you encounter any issues.

Thanks again!

[2021-02-28 12:12] nilskroell commented on #3072
Hi @danielskatz, thanks for your fast reply!

To give you and the editorial board more context on the scholary effort that was required to develop imea, I would like to add the following four points, which are difficult to be discovered from the repository and LOC:

- A substantial scholary effort was applied by conducting a thorough literature review to identify and select all relevant shape meas

[2021-02-28 13:24] conradsnicta commented on #3051
@mjsottile For the revision of the paper, would it be okay to alter the title?
In order to address the 'misleading title' issue raised by @JaroslavHron, we are exploring changing the title to "PyArmadillo: a streamlined linear algebra library for Python".

[2021-02-28 15:15] ghislainv commented on #2975
@whedon generate pdf

[2021-02-28 15:17] whedon commented on #2975
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02975/joss.02975/10.21105.joss.02975.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02975/joss.02975/10.21105.joss.02975.pdf) :page_facing_up: :point_left:

[2021-02-28 15:46] ghislainv commented on #2975
@whedon generate pdf

[2021-02-28 15:47] whedon commented on #2975
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02975/joss.02975/10.21105.joss.02975.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02975/joss.02975/10.21105.joss.02975.pdf) :page_facing_up: :point_left:

[2021-02-28 18:19] jonschwenk commented on #2952
Hi @eriknes , glad you were successful in demo-ing RivGraph. It has been challenging and fun to develop, so I'm also glad that you see its value!

As for the algorithm documentation--I believe you are correct in that the purpose of the JOSS paper is not really to explain the algorithm logic, but more to demonstrate their utility. Please note that we do provide full API documentation for (nearly) e

[2021-02-28 20:36] fgeier commented on #3009
@kthyng I check them off. Sorry for the confusion on my side.

[2021-02-28 20:56] mjsottile commented on #3051
@conradsnicta I am fine with modifying the title to more accurately reflect the content of the paper/package.  I do not know what the process is to alter the title for the GitHub issues though.

@arfon Is there a way to change the title for the submission once the authors settle on a more accurate title?  I didn't see anything obvious in the JOSS documentation for title changes.

[2021-02-28 20:58] mjsottile commented on #3038
:wave: @NMontanaBrown, @tjasaki Let me know if you need any assistance in completing the reviews.  I see that @NMontanaBrown has created some issues in the project that the authors still need to respond so, so I assume that part of the review is ongoing.

[2021-02-28 21:05] arfon commented on #2886
@whedon add @JonnyTran as reviewer

[2021-02-28 21:05] whedon commented on #2886
OK, @JonnyTran is now a reviewer

[2021-02-28 21:05] arfon commented on #2886
Great, thanks @JonnyTran! I'll wait a few more days to find a second reviewer before opening up the main review issue.

[2021-02-28 21:06] arfon commented on #3051
@mjsottile - whatever the `paper.md` title is becomes the final title for the accepted and published submission.

[2021-03-01 04:26] arokem commented on #3017
👋 @abuccts would you be willing to review this paper for JOSS? Thanks!

[2021-03-01 04:27] arokem commented on #3017
👋 @nsaunier : would you be willing to review this paper for JOSS? Thanks!

[2021-03-01 04:56] whedon commented on #3039
:wave: @felipeZ, please update us on how your review is going (this is an automated reminder).

[2021-03-01 04:56] whedon commented on #3039
:wave: @lorenzo-rovigatti, please update us on how your review is going (this is an automated reminder).

[2021-03-01 07:32] sjpfenninger commented on #2171
@kthyng Many thanks for stepping in and of course no issue at all! @jordanperr Many thanks for your patience during this very long and drawn-out process. I am very happy with the result and I hope so are you!

[2021-03-01 07:45] sjpfenninger commented on #2677
@TheoChristiaanse Can you let me know when you have addressed [my points from above](https://github.com/openjournals/joss-reviews/issues/2677#issuecomment-774022267)?

[2021-03-01 08:18] mikldk commented on #2878
@r-barnes still needs to check a few boxes. Can you give a status update?

[2021-03-01 08:33] ghislainv commented on #2975
@whedon generate pdf

[2021-03-01 08:34] whedon commented on #2975
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02975/joss.02975/10.21105.joss.02975.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02975/joss.02975/10.21105.joss.02975.pdf) :page_facing_up: :point_left:

[2021-03-01 08:37] FedericoComoglio commented on #2886
Hi @arfon, I will be happy to help. This would be my first review for JOSS - I will make sure to read the guidelines in the meantime.

[2021-03-01 08:56] ghislainv commented on #2975
@kbarnhart, I have integrated your suggestions on the text of the paper. I have also modified the figure to include lat/long coordinates and a scale bar.

[2021-03-01 09:18] VivianePons commented on #2741
Thanks @milancurcic for the clarification, I will keep it in mind.

@williamfgc please let us know if you see extra changes to be made to the software / paper or if you have any suggestions while finishing the review

[2021-03-01 09:20] ranocha commented on #3044
@vissarion I can review the submission but I will probably not have enough time for it in the immediate future (next weeks), but probably around end of March or beginning of April.

[2021-03-01 09:27] vissarion commented on #3044
@ranocha according to current difficult circumstances, "end of March or beginning of April" sounds OK for me. Thanks for accepting!

[2021-03-01 09:28] vissarion commented on #3044
@whedon assign @ranocha as reviewer

[2021-03-01 09:28] whedon commented on #3044
OK, @ranocha is now a reviewer

[2021-03-01 09:45] martinfleis commented on #2805
The major blocker on my side is the installation (xref https://gitlab.com/fduchate/predihood/-/issues/1). I was not able to install and run `predihood` so far despite several attempts. The application of this kind would hugely benefit from a docker container which would directly start the app on `docker run`.

[2021-03-01 10:33] LangeJens commented on #2944
Just to be sure, is the review process currently ongoing or do you wait for me to recommend more reviewers?

[2021-03-01 11:03] NMontanaBrown commented on #3038
Hi @mjsottile I am waiting for unit tests on the code. I have more questions for the authors but I will wait for this to be addressed before proceeding further.

[2021-03-01 11:29] arfon commented on #2886
@whedon add @FedericoComoglio as reviewer

[2021-03-01 11:29] whedon commented on #2886
OK, @FedericoComoglio is now a reviewer

[2021-03-01 11:29] arfon commented on #2886
@whedon start review

[2021-03-01 11:29] whedon opened #3073 "[REVIEW]: mikropml: User-Friendly R Package for Supervised Machine Learning Pipelines"
**Submitting author:** @pschloss (<a href="http://orcid.org/0000-0002-6935-4275">Patrick D Schloss</a>)
**Repository:** <a href="https://github.com/SchlossLab/mikropml" target ="_blank">https://github.com/SchlossLab/mikropml</a>
**Version:** v0.0.1
**Editor:** @arfon
**Reviewer:** @JonnyTran, @FedericoComoglio
**Archive:** <a href="https://doi.org/10.5281/zenodo.4759346" target="_blank">10.5281/ze

[2021-03-01 11:29] whedon commented on #2886
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3073.

[2021-03-01 11:29] #2886 closed

[2021-03-01 11:29] whedon commented on #3073
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JonnyTran, @FedericoComoglio it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-03-01 11:30] arfon commented on #2886
@JonnyTran, @FedericoComoglio - thanks for agreeing to review this submission! See you over in #3073 where the actual review will take place.

[2021-03-01 11:30] whedon commented on #3073
[code]

[2021-03-01 11:31] arfon commented on #3073
@JonnyTran, @FedericoComoglio – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been sa

[2021-03-01 11:31] whedon commented on #3073
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03073/joss.03073/10.21105.joss.03073.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03073/joss.03073/10.21105.joss.03073.pdf) :page_facing_up: :point_left:

[2021-03-01 11:32] whedon commented on #3073
[code]

[2021-03-01 11:39] arfon commented on #3063
@niceume - this looks like a useful Ruby library. After a quick inspection of the code, it looks like there aren't any automated tests or testing procedures here to verify the functionality of the software? The JOSS review [includes specific criteria for verifying the testing approach](https://joss.readthedocs.io/en/latest/review_criteria.html#tests) - could you explain how you would expect a revi

[2021-03-01 12:51] mosteo commented on #2783
I'm on it, but I can't give you a definite date ATM.

[2021-03-01 14:00] poulson commented on #3033
Hi Kunal (@marwahaha) :wave:.

Your colleague, Vincent Russo (@vprusso) suggested you as an expert that would be an ideal reviewer for their submission of an open source package for quantum information theory.

Would you be willing to serve as a reviewer for this submission?

[2021-03-01 14:01] junjun-zhang commented on #2979
@majensen, have been trying it out, will post comments in coming days

[2021-03-01 14:03] danielskatz commented on #3040
👋 @gcdeshpande, @jarrah42, @henrykironde - It looks like you all have started, which is great. I just want to check in and see how things are going.

[2021-03-01 14:03] danielskatz commented on #3000
👋 @khanx169, @RobertRosca - It looks like you all have started, which is great. I just want to check in and see how things are going.  Are you blocked on anything?

[2021-03-01 14:06] niceume commented on #3063
@arfon Thank you for having a look at my Ruby program. This gem installs CLI programs called sailr and sailrREPL. Actually, how to test is not mentioned, but I would like reviewers to run examples described in README.

This gem requires some setups to run. If Docker is allowed, please have a look at the bottom of this page. https://statsailr.io/install/install.html
Also, how it works can be seen h

[2021-03-01 14:19] whedon commented on #3040
:wave: @gcdeshpande, please update us on how your review is going (this is an automated reminder).

[2021-03-01 14:19] whedon commented on #3040
:wave: @jarrah42, please update us on how your review is going (this is an automated reminder).

[2021-03-01 14:43] farshidtz commented on #2935
@gkthiruvathukal Sad to see that no one is willing to review. We recommend: sarathsp06, yadudoc, suyashkumar

[2021-03-01 14:49] mparno commented on #3070
Will do!

[2021-03-01 14:52] dpsanders commented on #2838
👋 @mturiansky and @mfherbst: Could you please check the current version of the code and paper and update your checkboxes accordingly. Thanks!

[2021-03-01 14:57] mparno commented on #3070
@kthyng The affiliations have been updated in the `master` branch of our repo.  Do I need to make the changes anywhere else?   Thanks for your help!

[2021-03-01 14:58] paytonjjones commented on #2944
I was expecting you to move on to other reviewers - I'm not reviewing the
manuscript!

On Mon, Mar 1, 2021 at 2:33 AM Jens Lange <notifications@github.com> wrote:

[2021-03-01 15:09] kthyng commented on #2781
Hi @aaronspring! Can you update the metadata on your Zenodo archive so that the title and author list exactly match your JOSS paper?

[2021-03-01 15:17] kthyng commented on #2781
@aaronspring Also please correct your spelling of "Acknowledgements" in the paper. Then we're ready to move forward.

[2021-03-01 15:17] kthyng commented on #3070
@whedon generate pdf

[2021-03-01 15:18] whedon commented on #3041
:wave: @jpsnijder, please update us on how your review is going (this is an automated reminder).

[2021-03-01 15:18] whedon commented on #3041
:wave: @Nathaniel-Haines, please update us on how your review is going (this is an automated reminder).

[2021-03-01 15:18] whedon commented on #3041
:wave: @rMassimiliano, please update us on how your review is going (this is an automated reminder).

[2021-03-01 15:19] kthyng commented on #3009
@whedon accept deposit=true

[2021-03-01 15:19] whedon commented on #3009
[code]

[2021-03-01 15:19] bensonml commented on #2979
Thanks for the reminder – I’ll finish up in the next day or two

-Mark

From: Github BOT <notifications@github.com>
Reply-To: openjournals/joss-reviews <reply@reply.github.com>
Date: Saturday, February 27, 2021 at 8:00 PM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Mark Benson <mark.benson@nih.gov>, Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-review

[2021-03-01 15:19] whedon commented on #3070
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03070/joss.03070/10.21105.joss.03070.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03070/joss.03070/10.21105.joss.03070.pdf) :page_facing_up: :point_left:

[2021-03-01 15:20] whedon commented on #3009
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1366408076753051649) 👈 🐦🐦🐦

[2021-03-01 15:20] whedon commented on #3009
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2118
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.03009](https://doi.org/10.21105/joss.03009)
2. If everything looks g

[2021-03-01 15:25] kthyng commented on #3070
Hi @pdebuyl! Would you be up for editing this submission?

[2021-03-01 15:25] kthyng commented on #3070
@whedon invite @pdebuyl as editor

[2021-03-01 15:25] whedon commented on #3070
@pdebuyl has been invited to edit this submission.

[2021-03-01 15:27] kthyng commented on #3009
Congrats on your new publication @js2264! Thanks to editor @csoneson and reviewers @henrykironde and @fgeier for your time, hard work, and expertise! 🎉

[2021-03-01 15:27] #3009 closed

[2021-03-01 15:27] whedon commented on #3009
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03009/status.svg)](https://doi.org/10.21105/joss.03009)

**We need your help!**

Journal of Open Source Softwa

[2021-03-01 15:42] kbarnhart commented on #2952
Sorry for the delay on weighing in.

In a case such as this submission, it would be reasonable to add a bit more to the paper that describe the approach to skeletonization and pruning. Perhaps one more paragraph in "basic functionality" section. That would give the potential user a bit more context about why these methods can be tricky and the approaches that RivGraph takes to address them.

I wou

[2021-03-01 15:47] kbarnhart commented on #2965
@giswqs thanks for making changes in response to all of the reviewer's comments.

@laijingtao @cheginit @amanaster2 - if @giswqs has addressed all of your concerns and you think that this submission is ready to be accepted, could you please indicate so here. If not, please let me know what else needs to be addressed.

@giswqs , after all reviewer's have recommended the submission be accepted, ther

[2021-03-01 15:48] kbarnhart commented on #2975
@whedon check references

[2021-03-01 15:48] whedon commented on #2975
[code]

[2021-03-01 15:49] kbarnhart commented on #2975
@ghislainv thanks for making those changes, at this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match th

[2021-03-01 16:14] KristinaRiemer commented on #3005
Thank you for following up @becarioprecario and @emilyriederer, and thanks @cddesja for offering to be a reviewer!

I'm still looking for a second reviewer for this JOSS submission then. Would @brunaw, @daviddewhurst, or @rchew be able and willing to review?

[2021-03-01 16:28] cheginit commented on #2965
@kbarnhart All my concerns have been addressed.

[2021-03-01 16:30] inakleinbottle commented on #3054
@mikldk The invitation to collaborate on the repository got lost in my inbox amongst many (many) notifications. I only just found it and it has expired. Can this be reissued?

[2021-03-01 16:40] whedon commented on #3042
:wave: @vigji, please update us on how your review is going (this is an automated reminder).

[2021-03-01 16:47] oliviaguest commented on #3042
@vigji I'd prefer if you post them all here now so I (and others) can see and comment too, if need be. Thanks!

[2021-03-01 16:51] brunaw commented on #3005
@KristinaRiemer Certainly, let me know when I can start reviewing

[2021-03-01 16:55] danielskatz commented on #3054
@whedon re-invite @inakleinbottle as reviewer

[2021-03-01 16:55] whedon commented on #3054
OK, the reviewer has been re-invited.

@inakleinbottle please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-03-01 16:58] somefunAgba commented on #3002
@whedon generate pdf

[2021-03-01 16:59] whedon commented on #3002
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03002/joss.03002/10.21105.joss.03002.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03002/joss.03002/10.21105.joss.03002.pdf) :page_facing_up: :point_left:

[2021-03-01 16:59] somefunAgba commented on #3002
@agahkarakuzu  @kakearney the repo has been fully updated. It remains the Getting Started Docs.

[2021-03-01 17:03] KristinaRiemer commented on #3005
Great, thanks so much @brunaw!

[2021-03-01 17:11] KristinaRiemer commented on #3005
@whedon assign @cddesja as reviewer

[2021-03-01 17:11] whedon commented on #3005
OK, @cddesja is now a reviewer

[2021-03-01 17:11] KristinaRiemer commented on #3005
@whedon add @brunaw as reviewer

[2021-03-01 17:11] whedon commented on #3005
OK, @brunaw is now a reviewer

[2021-03-01 17:36] KristinaRiemer commented on #3005
@whedon start review

[2021-03-01 17:36] whedon opened #3074 "[REVIEW]: gaussplotR: Fit, Predict and Plot 2D Gaussians in R"
**Submitting author:** @vbaliga (<a href="http://orcid.org/0000-0002-9367-8974">Vikram B. Baliga</a>)
**Repository:** <a href="https://github.com/vbaliga/gaussplotR" target ="_blank">https://github.com/vbaliga/gaussplotR</a>
**Version:** v0.2.5
**Editor:** @KristinaRiemer
**Reviewer:** @cddesja, @brunaw
**Archive:** <a href="https://doi.org/10.5281/zenodo.4657750" target="_blank">10.5281/zenodo.46

[2021-03-01 17:36] whedon commented on #3005
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3074.

[2021-03-01 17:36] #3005 closed

[2021-03-01 17:36] whedon commented on #3074
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cddesja, @brunaw it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-03-01 17:37] whedon commented on #3074
[code]

[2021-03-01 17:37] whedon commented on #3074
[code]

[2021-03-01 17:37] whedon commented on #3074
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03074/joss.03074/10.21105.joss.03074.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03074/joss.03074/10.21105.joss.03074.pdf) :page_facing_up: :point_left:

[2021-03-01 17:38] KristinaRiemer commented on #3005
Hi @cddesja and @brunaw, the actual review will happen in the issue linked to above. If you go over there, you'll see a checklist that you can use to guide your review, and you should feel free to create relevant issues in the project's GitHub repo. Let me know over there if you have any questions or concerns!

[2021-03-01 17:46] ghislainv commented on #2975
@kbarnhart, thanks for following up. I have archived version 1.0 of the `forestatrisk` package on Zenodo:
- [x] Make a tagged release of your software, and list the version tag of the archived version here. ➡️ forestatrisk v1.0
- [x] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository) ➡️ archived on Zenodo
- [x] Check the archival deposit (e.g

[2021-03-01 17:50] donaldRwilliams commented on #2944
@LangeJens I am a reviewer. Getting to it this week :-)

[2021-03-01 18:20] amanaster2 commented on #2965
@kbarnhart All of my concerns have been addressed. This submission is ready to be accepted!

Thank you for your work, @giswqs.

[2021-03-01 18:23] kbarnhart commented on #2975
@whedon set version 1.0

[2021-03-01 18:23] whedon commented on #2975
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-01 18:24] kbarnhart commented on #2975
@whedon set v1.0 as version

[2021-03-01 18:24] whedon commented on #2975
OK. v1.0 is the version.

[2021-03-01 18:24] kbarnhart commented on #2975
@whedon set 10.5281/zenodo.4570632 as archive

[2021-03-01 18:24] whedon commented on #2975
OK. <a href="https://doi.org/10.5281/zenodo.4570632" target="_blank">10.5281/zenodo.4570632</a> is the archive.

[2021-03-01 18:25] kbarnhart commented on #2975
@whedon accept

[2021-03-01 18:25] whedon commented on #2975
[code]

[2021-03-01 18:26] kbarnhart commented on #2975
@ghislainv I've now recommended that this submission be accepted and published the @openjournals/joss-eics will handle final acceptance. Congratulations.

@molgor and @ethanwhite thank you for contributing reviews to this submission.

[2021-03-01 18:26] whedon commented on #2975
[code]

[2021-03-01 18:26] whedon commented on #2975
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2119

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2119, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-01 18:33] pdebuyl commented on #3070
@whedon assign me as editor

[2021-03-01 18:33] whedon commented on #3070
OK, the editor is @pdebuyl

[2021-03-01 18:43] aaronspring commented on #2781
I can only add one institution, hope thats fine. https://zenodo.org/record/4556086

[2021-03-01 18:46] laijingtao commented on #2965
@kbarnhart All my concerns have been addressed

[2021-03-01 18:47] aaronspring commented on #2781
thanks. now fixed in `master`: https://github.com/pangeo-data/climpred/blob/master/joss/paper.md

[2021-03-01 18:48] brunaw commented on #3074
I'm done with my review, a few comments justifying what I missed in the package & suggestions are below:

- I couldn't straightforwardly install the package from either CRAN or GitHub because of the R version requirement (>= 4.0.0). I find this a high requirement given that this version (4.0.0) is not even 1 year old yet. I managed to install the package only by manually changing this requirement

[2021-03-01 18:52] kbarnhart commented on #2965
@whedon check references

[2021-03-01 18:53] whedon commented on #2965
[code]

[2021-03-01 18:54] kbarnhart commented on #2965
@whedon generate pdf

[2021-03-01 18:54] whedon commented on #2965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02965/joss.02965/10.21105.joss.02965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02965/joss.02965/10.21105.joss.02965.pdf) :page_facing_up: :point_left:

[2021-03-01 19:08] kbarnhart commented on #2965
@giswqs please fix the .bib file so John B Lindsay and J B Lindsay are not disambiguated. This occurs when the author names are different. If you make all of them "Lindsay, J B" it should fix it.

Once you have made that fix and verified that it builds correctly as a PDF, please do the following:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
-

[2021-03-01 19:16] myousefi2016 commented on #2769
@timtroendle I think I'm done with the review and I'm just waiting for revision of the software paper.

[2021-03-01 19:42] EtienneCmb commented on #2977
Hi @AJQuinn, I looked at the changes you made, especially the tutorial about how to use EMD to retrieve the PAC. I have to say that it is a fantastic tutorial, very clear and the figures clearly explain your point. Like all of the other examples, the progression in the difficulty is very pleasant to read.

About the rest of your commits, I believe you addressed all of my points, even minor ones li

[2021-03-01 19:58] danielskatz commented on #2975
@ghislainv - this mostly looks good, but I've suggested some changes in https://github.com/ghislainv/forestatrisk/pull/47 - please merge this or let me know what you disagree with.  (Note that the paper had both UK and US spelling - I've chosen US to be consistent, though UK consistently would also be ok.)

[2021-03-01 20:06] giswqs commented on #2965
@whedon generate pdf

[2021-03-01 20:07] whedon commented on #2965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02965/joss.02965/10.21105.joss.02965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02965/joss.02965/10.21105.joss.02965.pdf) :page_facing_up: :point_left:

[2021-03-01 20:08] kbarnhart commented on #2975
Thanks @danielskatz!

[2021-03-01 20:14] donaldRwilliams commented on #2944
@karthik I noted the software has under 1,000 lines of R code, yet it was not flagged according to the guidelines, in addition to having 25 commits.

I am happy to review anyhow, but want to be sure it is worth my time given the length of code and submit history. Thanks !

[2021-03-01 20:17] donaldRwilliams commented on #2944
@whedon generate pdf

[2021-03-01 20:18] whedon commented on #2944
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02944/joss.02944/10.21105.joss.02944.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02944/joss.02944/10.21105.joss.02944.pdf) :page_facing_up: :point_left:

[2021-03-01 20:21] giswqs commented on #2965
@kbarnhart I have fixed the paper.bib file. See the [article proof](https://github.com/openjournals/joss-papers/blob/joss.02965/joss.02965/10.21105.joss.02965.pdf). Thanks.

- Tagged version: [v0.6.1](https://github.com/giswqs/lidar/releases/tag/v0.6.1)
- Zenodo link: https://doi.org/10.5281/zenodo.4571011
- DOI: 10.5281/zenodo.4571011

[2021-03-01 20:36] thowell commented on #2809
@kthyng I will do a final review on the latest edits then post back here to confirm.

[2021-03-01 21:02] pdebuyl commented on #3070
@georgiastuart would you review the article "MUQ: The MIT Uncertainty Quantification Library" for the Journal of Open Source Software ?

[2021-03-01 22:18] kpeeters commented on #3019
Sorry all, I can't do it this time unfortunately, too many other commitments.

[2021-03-01 22:29] pdebuyl commented on #3070
Hi @georgiastuart thanks for your prompt reply :-)

We have a conflict of interest policy here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy . It does not seem that your case applies though, thank you for the notice.

[2021-03-01 22:35] georgiastuart commented on #3070
Great! Yes, I have not collaborated with the authors or anything like that.

[2021-03-01 22:38] pdebuyl commented on #3070
@martinmodrak would you review the article "MUQ: The MIT Uncertainty Quantification Library" for the Journal of Open Source Software ?

[2021-03-02 00:18] djmitche commented on #3049
I meant to get to this over the weekend, but I will find time during this week to do so.  Sorry!

[2021-03-02 00:23] dpsanders commented on #2963
👋 @ketch and @highlando: Would you be able and willing to review this submission for JOSS?

[2021-03-02 00:23] dpsanders commented on #2963
@jsoishi: Apologies for the delay; thanks for the suggestions.

[2021-03-02 00:24] dpsanders commented on #3035
👋 @philzook58 and @jpfairbanks: Would you be willing and able to review this submission for JOSS? Thanks!

[2021-03-02 00:51] dpsanders commented on #3035
@whedon add @mwillsey as reviewer

[2021-03-02 00:51] whedon commented on #3035
OK, @mwillsey is now a reviewer

[2021-03-02 00:51] dpsanders commented on #3035
@whedon add @jpfairbanks as reviewer

[2021-03-02 00:51] whedon commented on #3035
OK, @jpfairbanks is now a reviewer

[2021-03-02 01:55] karthik commented on #2944
Hi @donaldRwilliams Thanks for the note. I'll look into it and get back to you. I'm still trying to locate the second reviewer before starting the review process.

[2021-03-02 01:55] karthik commented on #2944
Still waiting on a second reviewer. I'm open to suggestions if you have more people in mind.

[2021-03-02 02:00] donaldRwilliams commented on #2944
@karthik Sounds good. So I am not supposed to start my review ?

[2021-03-02 02:04] prdm0 commented on #2769
Dear, soon I will be returning the PDF with all the requested corrections. Best regards.

[2021-03-02 03:11] khanx169 commented on #3000
@danielskatz - thanks for checking in. The last two weeks were incredibly busy which caused a little bit of slowdown. However, I plan to pick up the pace again tomorrow and hopefully finish by this weekend if everything goes smoothly.

[2021-03-02 04:12] gkthiruvathukal commented on #2935
@farshidtz Don't worry, we will get the review processing going. Let me try from your suggestions!

[2021-03-02 04:13] gkthiruvathukal commented on #2935
sarathsp06, would you be willing to contribute a review for this JOSS submission? I need two reviewers to proceed.

[2021-03-02 04:13] gkthiruvathukal commented on #2935
@yadudoc, would you be willing to contribute a review for this JOSS submission? I need two reviewers to proceed.

[2021-03-02 04:47] sarathsp06 commented on #2935
I shall review this , earliest by EoD today

[2021-03-02 04:52] yadudoc commented on #2935
@gkthiruvathukal, I can review this, but the earliest I can look at this would be this weekend. Does that work?

[2021-03-02 05:01] gkthiruvathukal commented on #2935
@yadudoc In the COVID-19 era, I don't rush our reviewers. I'll work with your schedule. Please do try to keep me informed if you think it will take more than a couple of weeks! (I usually gently nudge people after that amount of time.)

@sarathsp06 Thank you for your response! I'll work with your schedule, per my comment to @yadudoc here.

[2021-03-02 05:01] gkthiruvathukal commented on #2935
@whedon assign @yadudoc as reviewer

[2021-03-02 05:01] whedon commented on #2935
OK, @yadudoc is now a reviewer

[2021-03-02 05:01] gkthiruvathukal commented on #2935
@whedon add @sarathsp06 as reviewer

[2021-03-02 05:01] whedon commented on #2935
OK, @sarathsp06 is now a reviewer

[2021-03-02 05:01] gkthiruvathukal commented on #2935
@whedon start review

[2021-03-02 05:01] whedon opened #3075 "[REVIEW]: Thing Directory: Simple and lightweight registry of IoT device metadata"
**Submitting author:** @farshidtz (<a href="http://orcid.org/0000-0002-5415-9899">Farshid Tavakolizadeh</a>)
**Repository:** <a href="https://github.com/linksmart/thing-directory" target ="_blank">https://github.com/linksmart/thing-directory</a>
**Version:** v1.0.0-beta.21
**Editor:** @gkthiruvathukal
**Reviewer:** @yadudoc, @sarathsp06
**Archive:** <a href="https://doi.org/10.5281/zenodo.4616483"

[2021-03-02 05:02] whedon commented on #2935
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3075.

[2021-03-02 05:02] #2935 closed

[2021-03-02 05:02] whedon commented on #3075
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @yadudoc, @sarathsp06 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-03-02 05:02] whedon commented on #3075
[code]

[2021-03-02 05:02] whedon commented on #3075
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03075/joss.03075/10.21105.joss.03075.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03075/joss.03075/10.21105.joss.03075.pdf) :page_facing_up: :point_left:

[2021-03-02 05:02] whedon commented on #3075
[code]

[2021-03-02 06:16] ketch commented on #2963
Yes, I can do that.

[2021-03-02 06:19] wvanzeist commented on #2968
@GregoryAshton Have you seen my response to the issue you raised in the Riroriro directory?

[2021-03-02 07:15] LangeJens commented on #2944
@donaldRwilliams @karthik The editorial office already decided that despite the fewer lines of code, the submission can go into review. I still see it in the history of this thread here but potentially you two don't because you have been invited later. Kristen Thyng decided it.
Regarding reviewers, Claudia Van Borkulo (cvborkulo) or Hudson Golino (hfgolino) may also fit.

[2021-03-02 07:31] martinmodrak commented on #3070
Wow, this looks like a huge piece of software, additionally, parts of it are very much not my expertise (polynomial chaos) and my experience with Python is very limited. I however don't doubt this is useful. So if it is OK for me to review only part of the software (MCMC and the Bayesian "stuff", with focus on the C++ interface), then I think I could have a review in few weeks. I unfortunately don

[2021-03-02 08:08] f3rmion commented on #3050
@RMeli  Installation instructions have been simplified both in the [docs](https://app.gitbook.com/@ehjc/s/kallisto/setup) and in the [README.md](https://github.com/AstraZeneca/kallisto/blob/master/README.md). Thanks!

[2021-03-02 08:15] kuadrat commented on #2969
Thanks @Chilipp and @sabinomaggi for your time, inputs and the statements of interest. It was indeed my observation that slicing data cubes to quickly inspect data is a task that is carried out in many fields. Ideally, users from different fields could write  plugins for their data formats and common processing routines to use `PIT` for just that task. In order for that to happen, many of your sug

[2021-03-02 09:13] fmatuschke commented on #3042
@glyg thanks for the compliment. Since this is my first official attempt at releasing software, it means a lot.
All the issues you opened in the software repository were commented by me. They are nice suggestions for improvements.
As for the missing discussion of other software, I definitely failed to address that. I will add this as soon as possible and let you all know.

[2021-03-02 10:13] highlando commented on #2963
I would like to suggest my colleague [Carolin Penke](https://carolin-penke.netlify.app/) @caropen for that. She has a proven expertise on solving PDE eigenvalue problems.

[2021-03-02 10:16] ghislainv commented on #2975
@danielskatz - thanks for your edits, I have merged them.
@kbarnhart , @molgor , @ethanwhite - thanks again for the review of the software and paper.

[2021-03-02 11:53] RobertRosca commented on #3000
@danielskatz same on my side as well, been very but I plan on finishing this weekend or by Tuesday next week.

[2021-03-02 12:06] dbkeitel commented on #3000
Thanks @khanx169 @RobertRosca ! Let us know if you have any questions. We've had two minor releases in the meantime and the dependency issue mentioned above is resolved.

[2021-03-02 12:32] szymon-datalions commented on #2869
Hi,

I hope that you're doing well in this COVID time. I'm writing to remind you about the paper. I'm going to update package during this week, along with it tutorials (examples) and  documentation will be updated. I've changed example with _road accidents_ data (not spatially correlated at the scale of interest) to _Breast Cancer Cases in Pennsylvania State_ counties where spatial correlation occ

[2021-03-02 12:34] marcosvital commented on #3027
Dear @ViniciusBRodrigues, @trashbirdecology and @petroniocandido, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review

[2021-03-02 12:49] marcozennaro commented on #3062
Please @gkthiruvathukal let me know if everything is fine / we should act on the source.

[2021-03-02 13:07] dawbarton commented on #3044
Apologies I'm snowed under with teaching duties at the moment and I'm not going to have time to look at this in the near future

[2021-03-02 13:13] danielskatz commented on #2975
@whedon accept

[2021-03-02 13:13] whedon commented on #2975
[code]

[2021-03-02 13:15] whedon commented on #2975
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2120

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2120, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-02 13:15] whedon commented on #2975
[code]

[2021-03-02 13:16] vissarion commented on #3044
@dawbarton no problem, thanks for the reply.

[2021-03-02 13:23] vissarion commented on #3044
:wave: @ysimillides, @HaoZeke, @yangbai90, @raghurama123, @Datseris, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-03-02 13:29] danielskatz commented on #2975
@whedon accept deposit=true

[2021-03-02 13:29] whedon commented on #2975
[code]

[2021-03-02 13:31] whedon commented on #2975
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1366743011191832577) 👈 🐦🐦🐦

[2021-03-02 13:31] whedon commented on #2975
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2121
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02975](https://doi.org/10.21105/joss.02975)
2. If everything looks g

[2021-03-02 13:38] pdebuyl commented on #3070
Thank you for the quick reply @martinmodrak :-)

Indeed, the codebase is large. You can focus on the C++ part. @georgiastuart you listed Python in the "preferred programming languages", so that we could split the focus on the two APIs for both of you. There are examples in both languages.

If necessary I'll request a third reviewer but I propose to start the review already.

[2021-03-02 13:38] pdebuyl commented on #3070
@whedon add @martinmodrak as reviewer

[2021-03-02 13:38] whedon commented on #3070
OK, @martinmodrak is now a reviewer

[2021-03-02 13:38] pdebuyl commented on #3070
@whedon start review

[2021-03-02 13:38] whedon opened #3076 "[REVIEW]: MUQ: The MIT Uncertainty Quantification Library"
**Submitting author:** @mparno (<a href="http://orcid.org/0000-0002-9419-2693">Matthew Parno</a>)
**Repository:** <a href="https://bitbucket.org/mituq/muq2.git" target ="_blank">https://bitbucket.org/mituq/muq2.git</a>
**Version:** 0.4.1
**Editor:** @pdebuyl
**Reviewers:** @martinmodrak, @georgiastuart
**Archive:** <a href="https://doi.org/10.5281/zenodo.5770267" target="_blank">10.5281/zenodo.577

[2021-03-02 13:38] whedon commented on #3070
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3076.

[2021-03-02 13:38] #3070 closed

[2021-03-02 13:39] whedon commented on #3076
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @martinmodrak it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jo

[2021-03-02 13:41] whedon commented on #3076
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03076/joss.03076/10.21105.joss.03076.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03076/joss.03076/10.21105.joss.03076.pdf) :page_facing_up: :point_left:

[2021-03-02 13:41] pdebuyl commented on #3076
@whedon add @georgiastuart as reviewer

[2021-03-02 13:41] whedon commented on #3076
OK, @georgiastuart is now a reviewer

[2021-03-02 13:41] whedon commented on #3076
[code]

[2021-03-02 13:42] pdebuyl commented on #3076
@georgiastuart @martinmodrak make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines linked to at the top of this review page.

The review process will happen in this issue page, so questions to the author or to me can be added as comments here.

In a JOSS review, you can query the authors directly here without the delay of the editorial office. Give

[2021-03-02 13:43] whedon commented on #3076
[code]

[2021-03-02 13:43] pdebuyl commented on #3076
@georgiastuart I forgot to assign you in the pre-review, sorry. If there is any issue let me know (especially if you don't receive an invitation to JOSS' reviewer group which is necessary to proceed).

[2021-03-02 13:49] pdebuyl commented on #3076
@mparno can you fix all the DOIs already ? This will be necessary anyway before acceptance. Also, some high-level information such as the use of pybind for the C++ / Python binding is welcome. You can also list some examples from the extensive list that is provided with the software (no code illustration but simple mention that the capabilities are well demonstrated is useful).

[2021-03-02 13:51] vissarion commented on #3044
@HaoZeke thanks for replying  in a flash.

[2021-03-02 13:51] vissarion commented on #3044
@whedon add @HaoZeke as reviewer

[2021-03-02 13:52] whedon commented on #3044
OK, @HaoZeke is now a reviewer

[2021-03-02 13:52] georgiastuart commented on #3076
@pdebuyl I got the invite and I'm good to go. As you mentioned in the pre-review issue, I'm fine with focusing on the python interface and @martinmodrak can focus on the C++ interface.

[2021-03-02 13:52] vissarion commented on #3044
@whedon start review

[2021-03-02 13:52] whedon opened #3077 "[REVIEW]: HOODESolver.jl: A Julia package for highly oscillatory problems"
**Submitting author:** @pnavaro (<a href="http://orcid.org/0000-0002-7372-3221">Pierre Navaro</a>)
**Repository:** <a href="https://github.com/ymocquar/HOODESolver.jl" target ="_blank">https://github.com/ymocquar/HOODESolver.jl</a>
**Version:** v0.2.3
**Editor:** @vissarion
**Reviewer:** @ranocha, @HaoZeke
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2021-03-02 13:52] whedon commented on #3044
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3077.

[2021-03-02 13:52] #3044 closed

[2021-03-02 13:52] whedon commented on #3077
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ranocha, @HaoZeke it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-03-02 13:53] whedon commented on #3077
[code]

[2021-03-02 13:53] whedon commented on #3077
PDF failed to compile for issue #3077 with the following error:

 Can't find any papers to compile :-(

[2021-03-02 13:53] danielskatz commented on #2975
Congratulations to @ghislainv (Ghislain Vieilledent)!!

And thanks to @molgor and @ethanwhite for reviewing, and @kbarnhart for editing!

[2021-03-02 13:53] #2975 closed

[2021-03-02 13:53] whedon commented on #2975
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02975/status.svg)](https://doi.org/10.21105/joss.02975)

**We need your help!**

Journal of Open Source Softwa

[2021-03-02 13:55] pnavaro commented on #3077
@whedon generate pdf from branch paper

[2021-03-02 13:55] whedon commented on #3077
[code]

[2021-03-02 13:56] whedon commented on #3077
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: :point_left:

[2021-03-02 14:08] mparno commented on #3076
Of course.  I'll work on this today.  Thank you for your feedback.

[2021-03-02 15:00] dpsanders commented on #2963
👋 @caropen: Would you be available to review this submission for JOSS, the Journal of Open Source Software (https://joss.theoj.org)?

Thanks for the suggest, @highlando!

[2021-03-02 15:14] gkthiruvathukal commented on #3062
@marcozennaro  We should be good to go now, per @kthyng's follow up. So @wtbarnes and @gorlapraveen can begin reviewing now.

[2021-03-02 15:23] dpsanders commented on #3035
@whedon add philzook58 as reviewer

[2021-03-02 15:23] whedon commented on #3035
OK, philzook58 is now a reviewer

[2021-03-02 15:23] dpsanders commented on #3035
@whedon start review

[2021-03-02 15:23] whedon opened #3078 "[REVIEW]: Metatheory.jl: Fast and Elegant Algebraic Computation in Julia with Extensible Equality Saturation"
**Submitting author:** @ 0x0f0f0f (<a href="http://orcid.org/0000-0002-8122-9469">Alessandro Cheli</a>)
**Repository:** <a href="https://github.com/0x0f0f0f/Metatheory.jl" target ="_blank">https://github.com/0x0f0f0f/Metatheory.jl</a>
**Version:** v0.3.2
**Editor:** @dpsanders
**Reviewers:** @mwillsey, @jpfairbanks, @philzook58
**Archive:** <a href="https://doi.org/10.5281/zenodo.4646136" target="

[2021-03-02 15:23] whedon commented on #3035
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3078.

[2021-03-02 15:23] #3035 closed

[2021-03-02 15:23] whedon commented on #3078
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mwillsey, @jpfairbanks, @philzook58 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blo

[2021-03-02 15:24] whedon commented on #3078
[code]

[2021-03-02 15:24] whedon commented on #3078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: :point_left:

[2021-03-02 15:25] whedon commented on #3078
[code]

[2021-03-02 15:25] caropen commented on #2963
Yes, I'm available for reviewing. Will you send me further instructions?

[2021-03-02 15:28] dpsanders commented on #2963
@whedon add @ketch as reviewer

[2021-03-02 15:28] whedon commented on #2963
OK, @ketch is now a reviewer

[2021-03-02 15:29] dpsanders commented on #2963
@whedon add @caropen as reviewer

[2021-03-02 15:29] whedon commented on #2963
OK, @caropen is now a reviewer

[2021-03-02 15:30] dpsanders commented on #2963
@whedon start review

[2021-03-02 15:30] whedon opened #3079 "[REVIEW]: eigentools: A Python package for studying differential eigenvalue problems with an emphasis on robustness"
**Submitting author:** @jsoishi (<a href="http://orcid.org/0000-0001-8531-6570">Jeffrey S. Oishi</a>)
**Repository:** <a href="https://github.com/DedalusProject/eigentools" target ="_blank">https://github.com/DedalusProject/eigentools</a>
**Version:** 2.2106
**Editor:** @dpsanders
**Reviewer:** @ketch, @caropen
**Archive:** <a href="https://doi.org/10.5281/zenodo.4968601" target="_blank">10.5281/z

[2021-03-02 15:30] whedon commented on #2963
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3079.

[2021-03-02 15:30] #2963 closed

[2021-03-02 15:30] whedon commented on #3079
[code]

[2021-03-02 15:31] whedon commented on #3079
PDF failed to compile for issue #3079 with the following error:

 Can't find any papers to compile :-(

[2021-03-02 15:31] dpsanders commented on #2963
Thanks @ketch and @caropen!

You should have been invited to the review issue, where there is a checklist for the review and links to the reviewer guidelines.

[2021-03-02 15:32] whedon opened #3080 "[PRE REVIEW]: FitBenchmarking: an open source Python package comparing data fitting software"
**Submitting author:** @tyronerees (<a href="http://orcid.org/0000-0003-0476-2259">Tyrone Rees</a>)
**Repository:** <a href="https://github.com/fitbenchmarking/fitbenchmarking" target ="_blank">https://github.com/fitbenchmarking/fitbenchmarking</a>
**Version:** v 0.1.0
**Editor:** @dhhagan
**Reviewers:** @johnsamuelwrites, @djmitche
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced servic

[2021-03-02 15:32] whedon commented on #3080
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-02 15:32] whedon opened #3081 "[PRE REVIEW]: dataquieR: assessment of data quality in epidemiological research"
**Submitting author:** @struckma
**Repository:** <a href="https://gitlab.com/libreumg/dataquier.git" target ="_blank">https://gitlab.com/libreumg/dataquier.git</a>
**Version:** v1.0.5
**Editor:** @csoneson
**Reviewers:** @tgerke, @borishejblum
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently opera

[2021-03-02 15:32] whedon commented on #3081
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-02 15:33] whedon commented on #3080
[code]

[2021-03-02 15:33] whedon commented on #3080
[code]

[2021-03-02 15:34] whedon commented on #3081
[code]

[2021-03-02 15:34] whedon commented on #3080
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03080/joss.03080/10.21105.joss.03080.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03080/joss.03080/10.21105.joss.03080.pdf) :page_facing_up: :point_left:

[2021-03-02 15:34] whedon commented on #3081
PDF failed to compile for issue #3081 with the following error:

 Can't find any papers to compile :-(

[2021-03-02 15:35] danielskatz commented on #3036
@Alcampopiano - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission is not [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS. This does not mean that it is not software that is useful in research, but just that JOSS does not consider it in scope for review as research sof

[2021-03-02 15:35] danielskatz commented on #3036
@whedon reject

[2021-03-02 15:35] whedon commented on #3036
Paper rejected.

[2021-03-02 15:35] #3036 closed

[2021-03-02 15:37] kthyng commented on #2781
Looking good!

[2021-03-02 15:38] kthyng commented on #2781
@whedon accept deposit=true

[2021-03-02 15:38] whedon commented on #2781
[code]

[2021-03-02 15:38] trashbirdecology commented on #3027
I have a slight COI

[2021-03-02 15:38] danielskatz commented on #3058
@BrunaPavlack - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission is not [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS. This does not mean that it is not software that is useful in research, but just that JOSS does not consider it in scope for review as research sof

[2021-03-02 15:38] danielskatz commented on #3058
@whedon reject

[2021-03-02 15:38] whedon commented on #3058
Paper rejected.

[2021-03-02 15:38] #3058 closed

[2021-03-02 15:39] whedon commented on #2781
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1366775192815599620) 👈 🐦🐦🐦

[2021-03-02 15:39] whedon commented on #2781
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2122
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02781](https://doi.org/10.21105/joss.02781)
2. If everything looks g

[2021-03-02 15:40] danielskatz commented on #3081
@whedon generate pdf from branch JOSS

[2021-03-02 15:40] whedon commented on #3081
[code]

[2021-03-02 15:41] danielskatz commented on #3047
This submission has been determined to be in-scope

[2021-03-02 15:41] whedon commented on #3081
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03081/joss.03081/10.21105.joss.03081.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03081/joss.03081/10.21105.joss.03081.pdf) :page_facing_up: :point_left:

[2021-03-02 15:42] danielskatz commented on #3047
👋 @KristinaRiemer - you were suggested as the editor for this submission.  Are you able to take it on?

[2021-03-02 15:42] danielskatz commented on #3047
@whedon invite @KristinaRiemer as editor

[2021-03-02 15:42] whedon commented on #3047
@KristinaRiemer has been invited to edit this submission.

[2021-03-02 15:42] kthyng commented on #2781
Congrats on your new publication @bradyrx!! Thanks to editor @dhhagan and reviewers @neerajdhanraj and @samjsilva91 for your time, hard work, and expertise! 🎉 🎉

(I will close this issue once the doi resolves)

[2021-03-02 15:48] danielskatz commented on #3072
This has passed the scope check

[2021-03-02 15:52] danielskatz commented on #3072
👋 @mbobra - would you be able to edit this submission?

[2021-03-02 15:52] danielskatz commented on #3072
@whedon invite @mbobra as editor

[2021-03-02 15:52] whedon commented on #3072
@mbobra has been invited to edit this submission.

[2021-03-02 15:53] danielskatz commented on #3081
@whedon check references from branch JOSS

[2021-03-02 15:53] whedon commented on #3081
[code]

[2021-03-02 15:57] danielskatz commented on #3027
If you can say a little about the COI, we can decide if it can be waived or will prevent you from reviewing.  Of course, if you prefer not to review because of the COI, that's ok too.

[2021-03-02 15:59] whedon commented on #3081
[code]

[2021-03-02 16:00] danielskatz commented on #3081
@openjournals/dev - I can't identify the submitter here, so I'm not sure how to proceed.

[2021-03-02 16:08] jsoishi commented on #3079
@whedon commands

[2021-03-02 16:08] whedon commented on #3079
Here are some things you can ask me to do:

[code]

[2021-03-02 16:09] jsoishi commented on #3079
@whedon generate pdf from branch joss_paper

[2021-03-02 16:09] whedon commented on #3079
[code]

[2021-03-02 16:10] whedon commented on #3079
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03079/joss.03079/10.21105.joss.03079.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03079/joss.03079/10.21105.joss.03079.pdf) :page_facing_up: :point_left:

[2021-03-02 16:14] xuanxu commented on #3081
@danielskatz: Following the submitted ORCID info it looks like the submitter is Adrian Richter, ([Adrian_HGW in GitLab](https://gitlab.com/Adrian_HGW)), but I guess he needs to have a GitHub account too to participate here.

[2021-03-02 16:16] danielskatz commented on #2781
This is now working for me, so I'm going to close it - Again, thanks to everyone for your work!!

[2021-03-02 16:16] #2781 closed

[2021-03-02 16:16] whedon commented on #2781
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02781/status.svg)](https://doi.org/10.21105/joss.02781)

**We need your help!**

Journal of Open Source Softwa

[2021-03-02 16:20] danielskatz commented on #3080
👋 @dhhagan - would you be able to edit this submission?

[2021-03-02 16:20] danielskatz commented on #3080
@whedon invite @dhhagan as editor

[2021-03-02 16:20] whedon commented on #3080
@dhhagan has been invited to edit this submission.

[2021-03-02 16:26] danielskatz commented on #3081
I've submitted https://gitlab.com/libreumg/dataquier/-/issues/3 to try to identify someone as the contact of this submission

[2021-03-02 16:33] melissawm commented on #2744
Sorry for the delay, thanks for the information. I'll go through with acceptance.

[2021-03-02 16:34] melissawm commented on #2744
@whedon set 10.5281/zenodo.4556303 as archive

[2021-03-02 16:34] whedon commented on #2744
OK. <a href="https://doi.org/10.5281/zenodo.4556303" target="_blank">10.5281/zenodo.4556303</a> is the archive.

[2021-03-02 16:35] melissawm commented on #2744
@whedon set 0.4.3 as version

[2021-03-02 16:35] whedon commented on #2744
OK. 0.4.3 is the version.

[2021-03-02 16:35] melissawm commented on #2744
@whedon accept

[2021-03-02 16:35] whedon commented on #2744
[code]

[2021-03-02 16:36] whedon commented on #2744
[code]

[2021-03-02 16:36] whedon commented on #2744
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2123

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2123, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-02 16:39] melissawm commented on #3019
Hi @StewMH @diehlpk , would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-03-02 16:39] 0x0f0f0f commented on #3078
I will release 0.1.2 in the next days, can the version be updated here in the review?

[2021-03-02 16:43] lpantano commented on #2957
@whedon set 10.5281/zenodo.4565942 as archive

[2021-03-02 16:43] whedon commented on #2957
OK. <a href="https://doi.org/10.5281/zenodo.4565942" target="_blank">10.5281/zenodo.4565942</a> is the archive.

[2021-03-02 16:44] mparno commented on #3076
@pdebuyl Reference DOIs have been updated and additional information about our examples and python bindings have been added the summary section of the paper.   Everything is up to date in the master branch of MUQ's repository.

[2021-03-02 16:45] danielskatz commented on #2744
@whedon accept deposit=true

[2021-03-02 16:46] whedon commented on #2744
[code]

[2021-03-02 16:47] whedon commented on #2744
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1366792272264769536) 👈 🐦🐦🐦

[2021-03-02 16:47] whedon commented on #2744
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2124
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02744](https://doi.org/10.21105/joss.02744)
2. If everything looks g

[2021-03-02 16:48] lpantano commented on #2957
@whedon accept

[2021-03-02 16:48] whedon commented on #2957
[code]

[2021-03-02 16:49] whedon commented on #2957
[code]

[2021-03-02 16:49] whedon commented on #2957
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2125

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2125, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-02 16:58] danielskatz commented on #2957
@ZeyuanSong or @anfederico - I'm suggesting two paper changes in https://github.com/montilab/nf-gwas-pipeline/pull/3, to make the list work (hopefully) and to remove an extra work.  Please merge this and see if it fixes the list (by running `@whedon generate pdf`) or let me know what you disagree with

[2021-03-02 16:58] danielskatz commented on #2744
Congratulations to @kfhiga (Kenneth Higa) and co-authors!!

And thanks to @JamieJQuinn and @zhaowei0566 for reviewing, and @melissawm for editing!

[2021-03-02 16:58] #2744 closed

[2021-03-02 16:58] whedon commented on #2744
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02744/status.svg)](https://doi.org/10.21105/joss.02744)

**We need your help!**

Journal of Open Source Softwa

[2021-03-02 17:05] aaronspring commented on #2781
Thank you very much @dhhagan @kthyng @danielskatz

[2021-03-02 17:13] bradyrx commented on #2781
Thanks so much to everyone involved here! We really appreciate all the effort put into getting this to the finish line.

[2021-03-02 17:15] kfhiga commented on #2744
Thank you everyone @JamieJQuinn <https://github.com/JamieJQuinn>
@zhaowei0566 <https://github.com/zhaowei0566> @melissawm
<https://github.com/melissawm>! This was my first time submitting an
article specifically for software, and it was a great experience. The open
and automated review and publishing process was really great to see too.
Thanks again!

Kenny

On Tue, Mar 2, 2021 at 8:59 AM Daniel S

[2021-03-02 17:17] 0x0f0f0f commented on #3078
Thanks. I've tried to change the version number in the pre review but I did not have editor permissions to do so. Please keep in mind that a lot of things changed since v0.1.0 (many bugfixes) and the documentation in the repo is currently referring to the latest commit in the master branch of Metatheory.jl. The general concepts explained in the paper are unaltered.

[2021-03-02 17:23] StewMH commented on #3019
Hi,

Unfortunately I don't have much time at the moment.

Thanks,
Stewart

[2021-03-02 17:23] tjasaki commented on #3038
Hi @mjsottile I am in the midst of testing the installation.  I am working through missing dependencies and broken links trying to determine the particular causes of the issues.

[2021-03-02 17:27] andreasmang commented on #3038
@tjasaki can you be more specific. There should not be any missing dependencies.

Considering the other comments. I will post a response soon. I am drowning the last couple of days and I was assuming I get feedback that we address at once as opposed to do this in an iterative way.

[2021-03-02 17:30] melissawm commented on #3019
Hello, @dvberkel! Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-03-02 17:30] rmorgan10 commented on #3056
Hey @rrjbca Congratulations on SkyPy! This package is awesome and is much needed in the astronomical community. Overall, the code is beautiful, the documentation is thorough, the tests are complete, and the software is easy to use. I am happy to say I only have minor suggestions coming from this review:

It would be helpful to astronomers / potential users to...

1. produce a comprehensive list of

[2021-03-02 17:32] diehlpk commented on #3019
@melissawm I am the editor for too many papers and have no time to review any paper at this stage.

[2021-03-02 17:35] tjasaki commented on #3038
Yes @andreasmang.  I did not mean to imply that the fault could be all at your end.  For example, I needed to install cmake on my system.  Later today I can pass along more particulars about how the build went.  We'll get there.  Tom

[2021-03-02 17:39] andreasmang commented on #3038
@tjasaki Sorry. I also did not want to imply anything. Feedback is very much appreciated, especially when it comes to compilation related issues. If you want me to update the documentation considering particular issues, do not hesitate. We have several folks involved building this on different systems but they are mostly local (as in I work with them directly) and it's quite complicated due to the

[2021-03-02 17:39] melissawm commented on #3019
Hello, @danehkar! Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-03-02 17:43] andreasmang commented on #3038
Also, we are currently pushing everything to the GPU. There are less dependencies on that branch, since the FFT kernels are now part of CLAIRE...This will become the default branch soon...

[2021-03-02 17:49] ZeyuanSong commented on #2957
@whedon generate pdf

[2021-03-02 17:50] whedon commented on #2957
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02957/joss.02957/10.21105.joss.02957.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02957/joss.02957/10.21105.joss.02957.pdf) :page_facing_up: :point_left:

[2021-03-02 18:04] danielskatz commented on #2957
@whedon accept

[2021-03-02 18:04] whedon commented on #2957
[code]

[2021-03-02 18:05] whedon commented on #2957
[code]

[2021-03-02 18:05] whedon commented on #2957
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2126

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2126, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-02 18:06] mbobra commented on #3072
@whedon assign me as editor

[2021-03-02 18:06] whedon commented on #3072
OK, the editor is @mbobra

[2021-03-02 18:08] mbobra commented on #3072
@nilskroell Thank you for your submission! Please give me a week to find some reviewers (I am tied up until the day after tomorrow, but will search for reviewers after that).

If you have any suggested reviewers, please let me know here (you can give me the Github handle without @ mentioning them, e.g. mbobra instead of @mbobra).

[2021-03-02 18:09] danielskatz commented on #2957
@whedon accept deposit=true

[2021-03-02 18:09] whedon commented on #2957
[code]

[2021-03-02 18:11] whedon commented on #2957
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1366813426203439112) 👈 🐦🐦🐦

[2021-03-02 18:11] whedon commented on #2957
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2127
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02957](https://doi.org/10.21105/joss.02957)
2. If everything looks g

[2021-03-02 18:17] danielskatz commented on #2957
Congratulations to @ZeyuanSong (Zeyuan Song) and coauthors!!

And thanks to @preetida and @rspirgel for reviewing, and @lpantano for editing!

[2021-03-02 18:17] #2957 closed

[2021-03-02 18:18] whedon commented on #2957
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02957/status.svg)](https://doi.org/10.21105/joss.02957)

**We need your help!**

Journal of Open Source Softwa

[2021-03-02 18:42] AJQuinn commented on #2977
Thank you @EtienneCmb, very help full comments.

The changes from both reviews are now merged into the main package on gitlab.com and the updates to the website are live. Thanks for all your time!

Cheers

[2021-03-02 19:13] dvberkel commented on #3019
@melissawm I am willing to review this submission for JOSS

[2021-03-02 19:34] melissawm commented on #3019
Thank you, @dvberkel ! I'll add you as a reviewer and we'll try and get at least another reviewer before we start the Review issue.

[2021-03-02 19:35] melissawm commented on #3019
@whedon assign @dvberkel as reviewer

[2021-03-02 19:35] whedon commented on #3019
OK, @dvberkel is now a reviewer

[2021-03-02 19:42] whedon commented on #2945
:wave: @thelfer, please update us on how your review is going (this is an automated reminder).

[2021-03-02 19:42] whedon commented on #2945
:wave: @pbauman, please update us on how your review is going (this is an automated reminder).

[2021-03-02 19:45] kbarnhart commented on #2965
@whedon set 0.6.1 as version

[2021-03-02 19:45] whedon commented on #2965
OK. 0.6.1 is the version.

[2021-03-02 19:45] kbarnhart commented on #2965
@whedon set 10.5281/zenodo.4571011 as archive

[2021-03-02 19:46] whedon commented on #2965
OK. <a href="https://doi.org/10.5281/zenodo.4571011" target="_blank">10.5281/zenodo.4571011</a> is the archive.

[2021-03-02 19:46] kbarnhart commented on #2965
@whedon accept

[2021-03-02 19:46] whedon commented on #2965
[code]

[2021-03-02 19:46] whedon commented on #2965
[code]

[2021-03-02 19:47] kbarnhart commented on #2965
@giswqs I've now recommended that this submission be accepted and published. One of the JOSS EiC's @openjournals/joss-eics will manage final publication steps.

Thanks to @laijingtao @cheginit and @amanaster2 for contributing reviews.

[2021-03-02 19:47] whedon commented on #2965
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2128

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2128, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-02 19:50] kbarnhart commented on #2276
@KevinShook another quick check in from me to see how things are going in finishing addressing the reviewer's comments.

[2021-03-02 19:50] TheoChristiaanse commented on #2677
- We have removed the pinning on most requirements
- The solution we found to import the examples into the docs is to download the jupyter notebooks. Then convert them to rst while replacing links to the internal docs is those jupyter notebooks have been imported. Not all jupyter notebooks are imported because some are specific to the BESOS platform.
- Fixed the year date.

[2021-03-02 19:53] KevinShook commented on #2276
I think that we have addressed all of the comments. I'm just waiting for the final sign-off from the last co-author before contacting you and the other reviewers. I did see that some of the comments have already been closed.

[2021-03-02 19:58] stsievert commented on #2812
I've checked off all boxes for review; I now recommend this software for acceptance.

I do not think v1.0.0 of this software package should be accepted. Can we change the version to v1.1.0 or v1.0.16?

[2021-03-02 20:06] fneum commented on #2677
LGTM

[2021-03-02 20:08] melissawm commented on #2812
Yes; if @jbuisine does a tagged release and reports the updated version number here, that's the version that is going to be archived along with the JOSS paper.

[2021-03-02 20:11] Mmj94 commented on #2578
Version number: `v1.0.0`
DOI: 10.5281/zenodo.4574444

[2021-03-02 20:22] danielskatz commented on #2965
@whedon accept deposit=true

[2021-03-02 20:22] whedon commented on #2965
[code]

[2021-03-02 20:24] whedon commented on #2965
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1366846791564603392) 👈 🐦🐦🐦

[2021-03-02 20:24] whedon commented on #2965
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2129
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02965](https://doi.org/10.21105/joss.02965)
2. If everything looks g

[2021-03-02 20:26] ZeyuanSong commented on #2957
@danielskatz I forgot to add fundings in the paper, and I just added the fundings in the paper in Github. Could you help update the paper on the journal? Thanks!

[2021-03-02 20:30] danielskatz commented on #2965
Congratulations to  @giswqs (Qiusheng Wu)!!

And thanks to @laijingtao, @cheginit, and @amanaster2 for reviewing, and @kbarnhart for editing!

[2021-03-02 20:30] #2965 closed

[2021-03-02 20:31] whedon commented on #2965
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02965/status.svg)](https://doi.org/10.21105/joss.02965)

**We need your help!**

Journal of Open Source Softwa

[2021-03-02 20:39] danielskatz commented on #2957
I can't, but I think @arfon can update the paper manually...

[2021-03-02 20:56] GregoryAshton commented on #2968
All boxes checked. Happy to recommend for publication.

[2021-03-02 21:00] dfm commented on #2968
Awesome - thanks @GregoryAshton and @katiebreivik for your reviews!

@wvanzeist: Now that the reviewers have signed off I'm going to do a pass of editing and then I'll have a few more steps for you in the next couple of days.

[2021-03-02 21:16] danielskatz commented on #3063
@niceume - you need to have some instructions about testing in your documentation, even if the testing is manual.

[2021-03-02 21:19] giswqs commented on #2965
@kbarnhart Thank you very much for handling my submission. Much appreciated.

@laijingtao @cheginit and @amanaster2 Thank you all for your constructive comments that greatly improved the package.

[2021-03-02 22:45] ZeyuanSong commented on #2957
@arfon Sorry for the inconvenience caused by my mistake. Could you help edit the paper on the journal?

The updated paper is at [https://github.com/montilab/nf-gwas-pipeline/blob/master/paper/paper.md]. Or you can just substitute the Acknowledgements to "We thank for Harold Bae and Aparna Bhutkar for their help. This work was supported with funding from NIH/NIA: U19AG023122 (Longevity Consortium),

[2021-03-02 23:02] navidcy commented on #3053
hi @eviatarbach, regarding the issue with Julia v1.4.2, I've pushed a bugfix release v0.8.5 which should be fine.

[code]

and

[code]

[2021-03-02 23:08] navidcy commented on #3053
@eviatarbach, regarding supporting Julia's longterm release v1.0.5, we can't be using CUDA.jl (since even [v0.1.0](https://github.com/JuliaGPU/CUDA.jl/blob/1ed8b5144b9c9fbee744bda9ab5745e0da3b93a4/Project.toml#L44) requires Julia v1.3). Unfortunately, the latest GeophysicalFlows.jl version that is supported on Julia v1.0.5 is v0.5.1.

[2021-03-02 23:15] navidcy commented on #3053
I have added remark regarding version compatibilities with Julia's releases in the readme; see [`1fe5dfc`](https://github.com/FourierFlows/GeophysicalFlows.jl/commit/1fe5dfced584ad3494234dd8ca1f09dbd4e61bb3).

[2021-03-02 23:16] dpsanders commented on #3078
There is no version number associated at the review stage. The reviewers will be looking at the `master` branch. That is why it is useful for you to link PRs here so that they can see what is being changed at each step.

Once the review is finished, that finalised version will be the one that is associated with the published paper.

[2021-03-02 23:19] dpsanders commented on #3078
@0x0f0f0f: I think it would be helpful to include a simple example of the application of the library in the paper.

[2021-03-02 23:22] dpsanders commented on #3078
@0x0f0f0f: The package will need proper narrative documentation, not just a quick README and the API reference.
See https://documentation.divio.com/ for a discussion of the different types of documentation required by a package.

[2021-03-02 23:42] marwahaha commented on #3033
Sure thing. By the way, it will be my first review for JOSS.

[2021-03-03 00:05] ViniciusBRodrigues commented on #3027
@marcosvital and @gmyenni I think that I can help, but would be better to see the article proof first.

[2021-03-03 00:17] gmyenni commented on #3027
@whedon generate pdf

[2021-03-03 00:19] whedon commented on #3027
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03027/joss.03027/10.21105.joss.03027.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03027/joss.03027/10.21105.joss.03027.pdf) :page_facing_up: :point_left:

[2021-03-03 00:28] jameshclrk commented on #3033
Sorry for the delay in replaying - email notifications weren't working. If you're still looking for a reviewer, I'm happy to help.

[2021-03-03 00:34] poulson commented on #3033
Thanks James (@jameshclrk) and Kunal (@marwahaha) -- that makes three and we can start the review.

Thank you both for your time!

[2021-03-03 00:34] poulson commented on #3033
@whedon add @jameshclrk as reviewer

[2021-03-03 00:34] whedon commented on #3033
OK, @jameshclrk is now a reviewer

[2021-03-03 00:34] poulson commented on #3033
@whedon add @marwahaha as reviewer

[2021-03-03 00:34] whedon commented on #3033
OK, @marwahaha is now a reviewer

[2021-03-03 00:35] poulson commented on #3033
@whedon start review

[2021-03-03 00:35] whedon opened #3082 "[REVIEW]: toqito -- Theory of quantum information toolkit: A Python package for studying quantum information"
**Submitting author:** @vprusso (<a href="http://orcid.org/0000-0002-8952-8981">Vincent Russo</a>)
**Repository:** <a href="https://github.com/vprusso/toqito" target ="_blank">https://github.com/vprusso/toqito</a>
**Version:** 0.0.7
**Editor:** @poulson
**Reviewer:** @rurz, @jameshclrk, @marwahaha
**Archive:** <a href="https://doi.org/10.5281/zenodo.4743211" target="_blank">10.5281/zenodo.4743211<

[2021-03-03 00:35] whedon commented on #3033
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3082.

[2021-03-03 00:35] #3033 closed

[2021-03-03 00:35] whedon commented on #3082
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rurz, @jameshclrk, @marwahaha it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post

[2021-03-03 00:36] whedon commented on #3082
[code]

[2021-03-03 00:36] whedon commented on #3082
[code]

[2021-03-03 00:37] whedon commented on #3082
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03082/joss.03082/10.21105.joss.03082.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03082/joss.03082/10.21105.joss.03082.pdf) :page_facing_up: :point_left:

[2021-03-03 00:49] djmitche commented on #3049
I'm midway through review, but have a few comments, none of them major.

First, the tests fail for me:
[code]
I suspect this is because I'm not in the CET timezone!

Second, the paper is mostly fine but I found the sentence about Javascript starting on line 70 ("This programming language has..") to be needlessly opinionated -- my reaction was "if you hate JS so much why did you do this project?"

[2021-03-03 00:52] djmitche commented on #3049
Actually, I'd like some confirmation/guidance on the last point, @arfon.

[2021-03-03 02:48] georgiastuart commented on #3076
@mparno Is Boost necessary for installation, or is it just using Eigen? If just using Eigen, would it be possible to remove the boost dependency as it seems unnecessary and boost is hefty.

[2021-03-03 03:42] kenohori commented on #2869
Hello @szymon-datalions,

Thanks for the reminder. Sorry, I've been busy with teaching and haven't had the chance to go through it yet, but I promise to do it next week at the latest.

[2021-03-03 08:18] eriknes commented on #2952
Thank you @kbarnhart for weighing in on this

A lot of design choices must have been made to make the output consistent.
Although it may be outside the scope of the paper for this journal to give
the full algorithmic details, I think it would be nice to briefly describe
some of these choices and how well the software can be expected to perform.
For instance, I expect that skeletonization of a rive

[2021-03-03 08:26] jbuisine commented on #2812
@whedon set v1.2.0 as version

[2021-03-03 08:26] whedon commented on #2812
I'm sorry @jbuisine, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-03-03 08:27] jbuisine commented on #2812
Thank you all for all your comments and the time you have given me which has enabled me to improve the package.

I have updated the latest version of the package v1.2.0. I had a small problem with version 1.1.0.

Have a nice day,

[2021-03-03 09:08] wuruchi commented on #3049
Hello @djmitche

Thanks for the feedback.

Looks like we forgot to test against other timezones. Working on it.

You are correct. I guess we tried to convey some of the controversy surrounding Javascript in a way that emphasizes that despite that controversy, we still think it is a good choice. That sentence will be reworded.

Autosubmit can be installed by other HPC groups but would require some

[2021-03-03 10:19] wuruchi commented on #3049
@whedon generate pdf

[2021-03-03 10:21] whedon commented on #3049
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03049/joss.03049/10.21105.joss.03049.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03049/joss.03049/10.21105.joss.03049.pdf) :page_facing_up: :point_left:

[2021-03-03 10:25] arfon commented on #2957
OK, that should be updated now. It may take a few hours for the version on the JOSS site to show as updated due to caching we have in place.

[2021-03-03 10:25] wuruchi commented on #3049
Hello @djmitche

I have pushed the changes I mentioned in my previous response.

[2021-03-03 10:28] oliviaguest commented on #3041
@jpsnijder thanks for your review so far!

I suggest you submit a PR for the clarification you require — probably it's to this file, if I understand your requirements: https://github.com/openjournals/joss/blob/master/app/views/shared/review_body.text.erb

[2021-03-03 12:14] znicholls commented on #2766
Hi all, no real rush from my side but just checking in to see it there is any timeline for resolving this?

[2021-03-03 12:23] nilskroell commented on #3072
@danielskatz : Thanks a lot for the fast decision. I'm glad that imea fits the scope of JOSS.

@mbobra : Thanks a lot for taking the time to edit this submission and the clear and fast communication.

Based on the provided [list of potential reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) I can suggest the following reviewers:

- *

[2021-03-03 12:36] mparno commented on #3076
@georgiastuart Thanks for pointing this out.   Yes, we require Boost (as you figured out).   There must be a bug in the doxygen for producing  that table of dependencies.  Boost and Eigen should be separated.   I'll work on fixing that later today.   Thanks!

[2021-03-03 12:42] dhhagan commented on #3080
@danielskatz yup. Will do.

[2021-03-03 12:47] dhhagan commented on #3080
@whedon commands

[2021-03-03 12:47] whedon commented on #3080
Here are some things you can ask me to do:

[code]

[2021-03-03 12:51] dhhagan commented on #3080
@whedon query scope

[2021-03-03 12:51] whedon commented on #3080
Submission flagged for editorial review.

[2021-03-03 12:58] pdebuyl commented on #2973
@sophietheis ping

[2021-03-03 13:00] dhhagan commented on #3080
Hi there @tyronerees - It appears that there are a few items missing from the [review items](https://joss.readthedocs.io/en/latest/review_criteria.html#review-items) list that JOSS requires/recommends. Specifically, I don't see any installation instructions, API documentation, example usage, community guidelines, or automated tests. It is possible that I am just not seeing them, in which case, ple

[2021-03-03 13:14] djmitche commented on #3049
This does clarify the situation. I see parts of the above paragraph in the paper and README, so I think this was a failure on my part to comprehend what had already been made clear.  Thanks!

The changes look good, and the tests now pass :)

[2021-03-03 13:21] tyronerees commented on #3080
Hi @dhhagan -- thanks for handling this submission.

**installation instructions** are at https://fitbenchmarking.readthedocs.io/en/latest/users/install_instructions/index.html
**API documentation, example usage**  Users interact with FitBenchmarking via a CLI, not API.  Basic details of how it is run are found at https://fitbenchmarking.readthedocs.io/en/latest/users/running.html (with the option

[2021-03-03 13:32] danielskatz commented on #3080
@dhhagan - can you explain why you started a scope query?  I was expecting you to assign yourself as editor.

[2021-03-03 14:03] williamfgc commented on #2741
@VivianePons it's all good from my side, the points in my original review were addressed. Thanks!

[2021-03-03 14:11] KristinaRiemer commented on #3047
Hi, yes, I'm able to take care of this submission. (I had accidentally turned off GitHub notifications for this repo 🤦‍♀️)

[2021-03-03 14:12] KristinaRiemer commented on #3047
@whedon assign me as editor

[2021-03-03 14:12] whedon commented on #3047
OK, the editor is @KristinaRiemer

[2021-03-03 14:15] pdebuyl commented on #3053
@navidcy typically a JOSS reviews considers a single version of the software. The version listed upon submission is v0.11.3, may I ask what is the relevance of updating earlier versions?

[2021-03-03 14:15] pdebuyl commented on #3076
@whedon check references

[2021-03-03 14:20] whedon commented on #3076
[code]

[2021-03-03 14:33] sophietheis commented on #2973
Hi,
I am working on demo notebook, and I am also starting to improve the manuscript according to @SergeDmi comments.
Modifications are on my remote, I will start a PR tomorrow.

[2021-03-03 14:35] pdebuyl commented on #3076
@whedon generate pdf

[2021-03-03 14:36] whedon commented on #3076
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03076/joss.03076/10.21105.joss.03076.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03076/joss.03076/10.21105.joss.03076.pdf) :page_facing_up: :point_left:

[2021-03-03 14:54] lpantano commented on #3021
@dangeles, @Sara-ShiHo, any updates on this? could you provide a date for when you will be able to work on this, please? Thanks!

[2021-03-03 14:56] lpantano commented on #2334
@druvus, Any updates on this? I see you have a few items left, and wondering if you will have time soon to finish it. Thanks!

[2021-03-03 14:56] VivianePons commented on #2741
Thank you very much @williamfgc ! I see that you have left unchecked the Performance box (it need to be checked if there are no performance claims in the paper) and also "automated tests" and "Community guidelines", is there anything to be done still?

Also, @milancurcic was not completely confident checking the Functionality box mostly because he was not a domain expert and did not fully understa

[2021-03-03 15:12] williamfgc commented on #2741
@VivianePons I checked the boxes and put some follow up comments in bold. I don't want to be the bottleneck for final publication :) . Thanks for guiding the JOSS review process, I enjoyed it.

[2021-03-03 15:17] jlopata21 commented on #2940
fuelcell_gui.py functions as advertised, allowing users to process experimental data efficiently. There are many ways in which it can be improved, e.g. by expanding file format recognition to include raw data files from different potentiostat manufacturers or including some basic 0-D modeling capability. However, these are things that should be developed in time by the community of contributors. N

[2021-03-03 15:17] shimpalee commented on #2940
Please see the comments from Joe Lopata.

[2021-03-03 15:18] bensonml commented on #2979
I recommend the paper for publication

1. Software looks good - and it's great to see it being currently used by the lab.
2. installation and options worked well
3. documentation is pretty good
4. it would be nice to see some tests - even if they are smoke tests
5. look forward to seeing future releases, and mentioned updates

[2021-03-03 15:19] Sara-ShiHo commented on #3021
Hi @lpantano - thanks for checking in. I will show some progress via the checklist this week. I will have it completed by the 18th.

[2021-03-03 15:27] danielskatz commented on #2940
I think this was closed in error

[2021-03-03 15:29] shimpalee commented on #2940
No.. we are done reviewing.

--Please forgive any typos, this message was sent from my iPhone.--

S. Shimpalee, PhD.
UofSC.

On Mar 3, 2021, at 10:28 AM, Daniel S. Katz <notifications@github.com> wrote:

﻿

I think this was closed in error

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://protect2.fireeye.com/v1/url?k=5c6e9387-03f5ab5a-5c

[2021-03-03 15:32] danielskatz commented on #2940
The review thread stays open until the submission is published or rejected.

[2021-03-03 15:34] jonschwenk commented on #2952
We can add some to the text about what the functions are doing. I believe most of this is already in either the examples or the documentation, but I have no problem adding more to the manuscript.

In your example case, @eriknes, the bottom line is that the skeletonization will ~100% respect the mask that you provide. If the mask has many spurious loops (e.g. island "speckling"), those will be reta

[2021-03-03 15:42] jarrah42 commented on #3040
How are the functionality and performance claims normally verified? Does this require doing a performance assessment, or is there some other way to do this?

[2021-03-03 15:47] danielskatz commented on #3040
It's up to the reviewers to decide, to some extent. For example, https://joss.readthedocs.io/en/latest/review_criteria.html#functionality says

Which to me means that you should check enough to have reasonable confidence in the rest.

[2021-03-03 15:49] danielskatz commented on #3063
This has passed the scope review, but I'm going to mark it as paused until the testing part is done. @niceume - please let us know when this is, and we will resume the process

[2021-03-03 15:51] danielskatz commented on #3081
I'm going to mark this as paused until this is resolved.

[2021-03-03 15:57] jgostick commented on #2940
Thanks everyone.  I will begin processing the submission now.

[2021-03-03 16:01] jpfairbanks commented on #3078
1. The main figure is a reproduction from the EGG paper. There should be a novel figure highlighting the contributions of this library over and above the EGG library.
2. The primary benefit of using Metatheory is the algebraic nature of the specification of a simplification system. I would like that to be highlighted in the text.
3. Examples of specifying algebraic theories should be provided incl

[2021-03-03 16:07] VivianePons commented on #2741
Thank you very much! And thanks again @milancurcic These have been very thorough review and I believe the quality of the software has greatly increased

I will now start the final steps towards publication

[2021-03-03 16:08] VivianePons commented on #2741
@whedon generate pdf

[2021-03-03 16:09] whedon commented on #2741
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: :point_left:

[2021-03-03 16:10] VivianePons commented on #2741
@whedon check references

[2021-03-03 16:11] whedon commented on #2741
[code]

[2021-03-03 16:22] struckma commented on #3081
Dear @danielskatz, dear others,

you can use my github-account (@struckma) as contact for this issue.

Thank you.

[2021-03-03 16:34] VivianePons commented on #2741
Hi @shahmoradi

I believe you're missing a word in this sentence "the library was as an open-source project" line 72 of the PDF.

Also, could you check the missing DOI that were flagged by whedon?

Thank you

[2021-03-03 16:48] richardjgowers commented on #2824
@whedon set 10.5281/zenodo.4568493 as archive

[2021-03-03 16:48] whedon commented on #2824
OK. <a href="https://doi.org/10.5281/zenodo.4568493" target="_blank">10.5281/zenodo.4568493</a> is the archive.

[2021-03-03 16:49] richardjgowers commented on #2824
@whedon generate pdf

[2021-03-03 16:50] richardjgowers commented on #2824
@whedon accept

[2021-03-03 16:50] whedon commented on #2824
[code]

[2021-03-03 16:50] whedon commented on #2824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: :point_left:

[2021-03-03 16:51] whedon commented on #2824
[code]

[2021-03-03 16:52] whedon commented on #2824
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2130

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2130, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-03 17:05] danielskatz commented on #3081
@struckma - please go ahead and fix the references that whedon mentioned above, but note that whedon isn't always correct, so please confirm these before adding them. Once that is done, you can enter `@whedon check references from branch JOSS` as the first line of a new comment to run the check again.

[2021-03-03 17:06] danielskatz commented on #3081
Also, I notice in the paper that some things in the references aren't cased correctly.  You can use {}s around text to set and preserve the case (usually upper) during the processing.

[2021-03-03 17:07] danielskatz commented on #3081
👋 @csoneson - you were suggested as the editor - can you do this?

[2021-03-03 17:07] danielskatz commented on #3081
@whedon invite @csoneson as editor

[2021-03-03 17:07] whedon commented on #3081
@csoneson has been invited to edit this submission.

[2021-03-03 17:08] whedon opened #3083 "[PRE REVIEW]: R-Opitools – An Opinion Analytical Tool for Big Social Media Data"
**Submitting author:** @MAnalytics (<a href="http://orcid.org/0000-0002-9006-4934">Monsuru Adepeju</a>)
**Repository:** <a href="https://github.com/MAnalytics/opitools" target ="_blank">https://github.com/MAnalytics/opitools</a>
**Version:** v1.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-03-03 17:08] whedon commented on #3083
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-03 17:08] whedon commented on #3083
[code]

[2021-03-03 17:08] whedon commented on #3083
PDF failed to compile for issue #3083 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:154:in `block in check_orcids': undefined method `has_key?' for ["name", "Monsuru Adepeju"]:Array (NoMethodError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:153:in `each'
	from /app/vendor/bundle/ruby/2.6.0/bundler/ge

[2021-03-03 17:09] whedon commented on #3083
[code]

[2021-03-03 17:11] danielskatz commented on #3083
@MAnalytics - the fact that this has been submitted to CRAN is a plus, not a problem.  However, there appear to be some missing DOIs in your references, and the paper does not build correctly.  Please fix the DOIs (if the suggestions are correct), and fix the paper (using the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography)), and then make new c

[2021-03-03 17:12] danielskatz commented on #3083
Also, because of the relatively small size of the code, I'm going to mark it for the editors to discuss before we start a review process, in particular to decide if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

[2021-03-03 17:12] danielskatz commented on #3083
@whedon query scope

[2021-03-03 17:12] whedon commented on #3083
Submission flagged for editorial review.

[2021-03-03 17:12] danielskatz commented on #3083
It should take about a week or a little more until you hear back about the scope.

[2021-03-03 17:41] symmy596 commented on #2824
What happens now? Do you need anything further from me?

[2021-03-03 17:44] richardjgowers commented on #2824
@symmy596 nope I think you're all done.  It's gone up to the editors above me and they'll double check it and do a final accept then it's published.

[2021-03-03 17:46] symmy596 commented on #2824
@richardjgowers In that case thanks for all your help!
Cheers

[2021-03-03 17:48] danielskatz commented on #2824
I've found some minor changes to be merged into the paper: https://github.com/symmy596/Polypy/pull/5

[2021-03-03 17:49] danielskatz commented on #2824
Also, please carefully check the references, specifically the titles, to make sure they appear correctly.  I think "Monte Carlo" should be capitalized, for example, and some of the chemical names might also need changes.

[2021-03-03 17:50] eviatarbach commented on #3053
@navidcy Thank you for addressing this issue! It works now on Julia 1.4.

@pdebuyl I brought up this issue. I thought that this would be important to address since the installation was failing on even quite recent versions of Julia. I apologize if this was outside the scope of the review.

[2021-03-03 17:50] danielskatz commented on #2824
Use `@whedon generate pdf` as a new comment to regenerate, then let me know when you think that the references are all correct and the PR has been merged.

[2021-03-03 17:54] symmy596 commented on #2824
@whedon generate pdf

[2021-03-03 17:55] whedon commented on #2824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: :point_left:

[2021-03-03 17:55] symmy596 commented on #2824
@whedon generate pdf

[2021-03-03 17:57] whedon commented on #2824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: :point_left:

[2021-03-03 18:05] karthik commented on #2944
Thanks. I'll update the thread when I hear back from these reviewers.

[2021-03-03 20:28] navidcy commented on #3053
@pdebuyl, as @eviatarbach explained I was trying to address their remark above. I felt that adding a note in the readme was indeed very appropriate.

[2021-03-03 20:46] pdebuyl commented on #3053
@eviatarbach this was not out of scope, no problem. I did not get why there was a discussion of older versions of the code but it all makes sense. + There is now a bugfix release and extra information in the README, which is good.

[2021-03-04 01:45] dwinter commented on #2743
Let me start my sending apologies to @greggj2016  and co-authors and to @fboehm about taking so long to get to these revisions. If I could have predicted how busy I would be now when I accepted this review I wouldn't have taken this on!

I have now finally found the time to look at the revised version of regens closely, and I am happy to say the authors have met all of my concerns and comments. I

[2021-03-04 02:33] greggj2016 commented on #2743
Thank you for your guidance throughout this review! No worries about your busy spell, it happens to us all! We have addressed your final suggested edit [here](https://github.com/EpistasisLab/regens/commit/14b64e4fb27afd5b3cbbdcf51570ed6fc8ebe6ff).

Big thanks to @fboehm also for your facilitation and patience! It’s been a great experience, and I have learned a lot!

[2021-03-04 03:19] rhaas80 commented on #2978
In "2_First_run":
* typo" "After edition" should be "After editing"
* should indicate how much memory the sample run takes
* trying the test data on any number of MPI ranks > 1 I get a SEGFAULT with a backtrace and some information that seems to indicate that `opt_decomp` passed to `transpose_y_to_z` is incorect. Here's the information:
[code]
where `opt_decomp%z2disp(2)` being `-322823200` seems

[2021-03-04 03:26] rhaas80 commented on #2978
This seems to be due to assuming that `allocate` would zero initialize the allocated memory. I can make the SEGFAULT go away by adding
[code]
just before the `prepare_buffer` call.

[2021-03-04 04:45] MAnalytics commented on #3083
@whedon check references

[2021-03-04 04:46] whedon commented on #3083
[code]

[2021-03-04 04:46] MAnalytics commented on #3083
@whedon generate pdf

[2021-03-04 04:47] whedon commented on #3083
PDF failed to compile for issue #3083 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:154:in `block in check_orcids': undefined method `has_key?' for ["name", "Monsuru Adepeju"]:Array (NoMethodError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:153:in `each'
	from /app/vendor/bundle/ruby/2.6.0/bundler/ge

[2021-03-04 04:57] MAnalytics commented on #3083
@whedon generate pdf

[2021-03-04 04:58] whedon commented on #3083
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03083/joss.03083/10.21105.joss.03083.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03083/joss.03083/10.21105.joss.03083.pdf) :page_facing_up: :point_left:

[2021-03-04 05:02] MAnalytics commented on #3083
@danielskatz Thanks for the efforts.

1. References check now okay.
2. Pdf now compiles successfully.

[2021-03-04 05:42] MAnalytics commented on #3083
Thank you for bringing up this issue. If I may address the factors that needed to be considered when judging a substantial effort (according to JOSS):

1. Age of software (is this a well-established software project) / length of commit history.

**Response:** This package includes several months of method development, under a different Github repository name: https://github.com/MAnalytics/Sentimen

[2021-03-04 07:56] jni commented on #2578
@whedon check references

[2021-03-04 07:58] whedon commented on #2578
[code]

[2021-03-04 08:05] jni commented on #2578
@whedon set 10.5281/zenodo.4574444 as archive

[2021-03-04 08:05] whedon commented on #2578
OK. <a href="https://doi.org/10.5281/zenodo.4574444" target="_blank">10.5281/zenodo.4574444</a> is the archive.

[2021-03-04 08:05] jni commented on #2578
@whedon set v1.0.0 as version

[2021-03-04 08:05] whedon commented on #2578
OK. v1.0.0 is the version.

[2021-03-04 08:05] jni commented on #2578
@whedon accept

[2021-03-04 08:06] whedon commented on #2578
[code]

[2021-03-04 08:07] whedon commented on #2578
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2131

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2131, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-04 08:08] jni commented on #2578
@arfon as a reminder, we need to remove the hyphen from Marina's last name in the final pdf and paper metadata. :pray:

Thank you so much everyone for your patience with this review, thank you @puolival and @emilljungberg for reviewing, and thank you @Mmj94 for all the iteration! :tada:

[2021-03-04 09:32] BenMql commented on #2978
Roland,

I have fixed the wiki `2_first_run`.

I am most grateful for your checks, comments and suggestions.
In `2decomp&fft`, the arrays of integers are now initialized to 0 as you suggested (available as the most recent commit to `https://github.com/benmql/2decomp_emptyFourierFourier'). I will run the code through valgrind as you suggest, probably some time next week.

[2021-03-04 09:38] csoneson commented on #3081
@whedon assign @csoneson as editor

[2021-03-04 09:38] whedon commented on #3081
OK, the editor is @csoneson

[2021-03-04 09:40] csoneson commented on #3081
👋 @struckma - I will handle your submission and start by looking for suitable reviewers. If you have any suggestions (e.g., from the list mentioned in the first comment above), please mention them here (without tagging them with `@`).

[2021-03-04 10:09] struckma commented on #3081
Dear Charlotte,

thank you for being the editor. Indeed, we have some reviewer suggestions:

Darthpathos; masalmon; Tgerke

Thank you

[2021-03-04 10:40] struckma commented on #3081
Dear Charlotte,

we’ve addressed all issues regarding the problems with DOIs in the references (see https://github.com/openjournals/joss-reviews/issues/3081#issuecomment-789889598). We also went through the references carefully and addressed the casing (see https://github.com/openjournals/joss-reviews/issues/3081#issuecomment-789892631).

[2021-03-04 10:41] struckma commented on #3081
@whedon check references from branch JOSS

[2021-03-04 10:41] whedon commented on #3081
[code]

[2021-03-04 10:42] whedon commented on #3081
[code]

[2021-03-04 12:40] 0x0f0f0f commented on #3078
Points

These 4 points should have been added in the paper in the latest commit.

[2021-03-04 12:41] 0x0f0f0f commented on #3078
@whedon generate pdf

[2021-03-04 12:43] whedon commented on #3078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: :point_left:

[2021-03-04 13:17] MAnalytics commented on #3083
@whedon generate pdf

[2021-03-04 13:18] whedon commented on #3083
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03083/joss.03083/10.21105.joss.03083.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03083/joss.03083/10.21105.joss.03083.pdf) :page_facing_up: :point_left:

[2021-03-04 13:50] ChrisRackauckas commented on #2954
Hey sorry, got far behind. I'll start by saying I think GeometricIntegrators.jl is a great package and I've dug around it before, but now am digging around with a reviewer's eye. But in general, even before the review eye, I would think it's publication worthy.

[code]

I think this is worth commenting on because it's probably lost to the eyes of someone who's not deep in the field. There really a

[2021-03-04 13:56] VivianePons commented on #2954
Hi @ChrisRackauckas thank you very much for these comments. Please also remember to look at the check list at the top of the issues to check off items that are ok already.

Best

Viviane

[2021-03-04 14:01] danielskatz commented on #2578
@Mmj94 - please see the changes suggested in https://github.com/imr-framework/OCTOPUS/pull/8 and merge them, or let me know what you disagree with, then we can proceed to final acceptance and publication

[2021-03-04 14:04] danielskatz commented on #2824
@symmy596 - I hope you are still working on the changes in the article titles...

[2021-03-04 14:05] Mmj94 commented on #2578
@danielskatz done

[2021-03-04 14:07] danielskatz commented on #2578
👋 @arfon - given the specific handling needed, can you do the final accept here?  (rather than me doing it and then you fixing it afterwards)

[2021-03-04 14:17] ChrisRackauckas commented on #2954
Updated. When those few points are hit I think that's enough for me to check the others.

[2021-03-04 14:42] jpsnijder commented on #3041
Hi @oliviaguest, I am not sure how that works exactly. But I have submitted an issue with the journal as well.
Just to clarify: Under the Documentation section of the checklist there is the statement of need item that refers to "the paper" (i.e., _A statement of need: Does the paper have a section titled_). Does "the paper" here refer to the software paper or the documentation? If it refers to the

[2021-03-04 14:43] csoneson commented on #3081
@whedon generate pdf from branch JOSS

[2021-03-04 14:44] whedon commented on #3081
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03081/joss.03081/10.21105.joss.03081.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03081/joss.03081/10.21105.joss.03081.pdf) :page_facing_up: :point_left:

[2021-03-04 14:47] fboehm commented on #2743
@whedon generate pdf

[2021-03-04 14:47] whedon commented on #2743
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02743/joss.02743/10.21105.joss.02743.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02743/joss.02743/10.21105.joss.02743.pdf) :page_facing_up: :point_left:

[2021-03-04 15:00] csoneson commented on #3081
👋 @tgerke, @maelle - would you be interested in reviewing this submission for JOSS?

[2021-03-04 15:00] fboehm commented on #2743
@greggj2016 - It looks like the spacing in the YAML of paper.md is off a little. I'd like for the pdf to have the affiliations/ addresses on separate lines. Right now, affiliation "2" starts right after the end of affiliation 1, ie, on the same line. Let's see if we can fix that.

Can you try adding two blank spaces after each line in the YAML? I'm not sure if that will fix the pdf rendering, but

[2021-03-04 15:28] trang1618 commented on #2743
Hi @fboehm thank you so much for your help! I've tried adding different spaces in this [PR](https://github.com/EpistasisLab/regens/pull/20) but still didn't fix the issue ([Whedon preview page](https://whedon.theoj.org/) gave the same pdf for this branch). I also so see a few recent JOSS papers that have this format (e.g. [this]( https://joss.theoj.org/papers/10.21105/joss.02957 ) and [this](https

[2021-03-04 15:31] jonschwenk commented on #2952
@whedon generate pdf

[2021-03-04 15:32] whedon commented on #2952
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02952/joss.02952/10.21105.joss.02952.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02952/joss.02952/10.21105.joss.02952.pdf) :page_facing_up: :point_left:

[2021-03-04 15:42] arfon commented on #2578
Certainly. I've gone ahead and processed this manually.

@puolival, @emilljungberg - many thanks for your reviews here and to @jni for editing this submission! JOSS relies upon the volunteer efforts of people like you, and we simply wouldn't be able to do this without you ✨

@Mmj94 - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-03-04 15:42] arfon commented on #2578
x

[2021-03-04 15:42] #2578 closed

[2021-03-04 15:42] whedon commented on #2578
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02578/status.svg)](https://doi.org/10.21105/joss.02578)

**We need your help!**

Journal of Open Source Softwa

[2021-03-04 15:43] fboehm commented on #2743
Thanks for trying this, @trang1618 ! Let's proceed with the current settings.

[2021-03-04 15:44] kbarnhart commented on #2952
@eriknes please let me know if @jonschwenk 's updates have addressed your concerns.

@jonschwenk thanks for making these updates.

[2021-03-04 15:44] kbarnhart commented on #2276
@KevinShook thanks for the update!

[2021-03-04 15:46] whedon commented on #3045
:wave: @cescalara, please update us on how your review is going (this is an automated reminder).

[2021-03-04 15:46] whedon commented on #3045
:wave: @cescalara, please update us on how your review is going (this is an automated reminder).

[2021-03-04 15:47] symmy596 commented on #2824
@whedon generate pdf

[2021-03-04 15:48] whedon commented on #2824
PDF failed to compile for issue #2824 with the following error:

 Error reading bibliography file paper.bib:
(line 3, column 115):
unexpected "g"
expecting space, ",", white space or "}"
Looks like we failed to compile the PDF

[2021-03-04 15:48] fboehm commented on #2743
@whedon check references

[2021-03-04 15:49] whedon commented on #2743
[code]

[2021-03-04 15:49] symmy596 commented on #2824
@whedon generate pdf

[2021-03-04 15:51] whedon commented on #2824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: :point_left:

[2021-03-04 15:52] symmy596 commented on #2824
@danielskatz - Should be ready to go now. Cheers

[2021-03-04 15:52] Nathaniel-Haines commented on #3041
@sdparsons it looks like the "Installation" header in the markdown file on the main github page is not being rendered properly (see attached image)
<img width="831" alt="Screen Shot 2021-03-04 at 10 48 58 AM" src="https://user-images.githubusercontent.com/25613611/109990686-9f752700-7cd7-11eb-8cfa-176dc2054ca9.png">

[2021-03-04 15:59] danielskatz commented on #2824
@whedon accept deposit=true

[2021-03-04 15:59] whedon commented on #2824
[code]

[2021-03-04 16:00] tgerke commented on #3081
Sure, this looks interesting!

[2021-03-04 16:01] whedon commented on #2824
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1367505428838551565) 👈 🐦🐦🐦

[2021-03-04 16:01] whedon commented on #2824
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2132
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02824](https://doi.org/10.21105/joss.02824)
2. If everything looks g

[2021-03-04 16:04] fboehm commented on #2743
@greggj2016 - would you please make a tagged release on github and archive (eg, on zenodo) and report the version number and archive DOI in the review thread?

Please let me know if you have any difficulties or questions with making the archive.

[2021-03-04 16:04] fboehm commented on #2743
@greggj2016 - please also double-check the pdf for typos or other errors.

[2021-03-04 16:07] fboehm commented on #2743
Thanks so much for your excellent reviews, @raivivek and @dwinter!

[2021-03-04 16:07] danielskatz commented on #2824
Congratulations to @symmy596 (Adam Symington)!!

And thanks to @hmacdope and @lscalfi for reviewing and @richardjgowers for editing!

[2021-03-04 16:07] #2824 closed

[2021-03-04 16:08] whedon commented on #2824
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02824/status.svg)](https://doi.org/10.21105/joss.02824)

**We need your help!**

Journal of Open Source Softwa

[2021-03-04 16:21] cescalara commented on #3045
Hi guys, I have started the review today and should be able to complete it in the next days.

[2021-03-04 16:23] greggj2016 commented on #2743
Both myself and Dr. Le have proofread the manuscript.

[2021-03-04 16:31] AJQuinn commented on #2977
Hi @neurofractal - thanks for the comments. I've included the changes in the branches attached to this issue: https://gitlab.com/emd-dev/emd/-/issues/47

I'll recompile the paper with changes here as well - let me know if there is anything I've missed or anything else I can do!

Cheers

[2021-03-04 16:31] AJQuinn commented on #2977
@whedon generate pdf from branch 33-joss-revisions

[2021-03-04 16:32] whedon commented on #2977
[code]

[2021-03-04 16:32] whedon commented on #2977
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: :point_left:

[2021-03-04 16:37] greggj2016 commented on #2743
Zenodo doi: 10.5281/zenodo.4289063

[2021-03-04 16:37] dpsanders commented on #2977
👋  @EtienneCmb and @JanCBrammer: Are you happy with the current version and finished with your reviews? Thanks!

[2021-03-04 16:38] dpsanders commented on #2977
@neurofractal: Could you please fill in the checkboxes at the top of this review? Thanks!

[2021-03-04 16:44] fboehm commented on #2743
Thank you, @greggj2016 . Would you please edit the zenodo archive so that it has the same title as that of your paper.md? We also need it to have the same authors, in the same order, as the paper.md.

Thanks again!

[2021-03-04 16:51] ranocha commented on #3053
Thanks for creating this nice package (and the basic functionality in FourierFlows.jl), @navidcy et al. Please find below some comments and suggestions.

- [ ] You should consider reformatting the license file `LICENSE.md` such that GitHub recognizes the license type automatically, cf. https://opensource.org/licenses/MIT
- [ ] It would be good to have a top-level CONTRIBUTING file (mentioned also

[2021-03-04 16:52] omshinde commented on #2805
@whedon generate pdf

[2021-03-04 16:52] csoneson commented on #3081
Brilliant, thanks @tgerke! Once we have one more reviewer I will open the review issue.

[2021-03-04 16:53] whedon commented on #2805
PDF failed to compile for issue #2805 with the following error:

 Can't find any papers to compile :-(

[2021-03-04 17:01] kadyb commented on #2948
@whedon generate pdf

[2021-03-04 17:02] whedon commented on #2948
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02948/joss.02948/10.21105.joss.02948.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02948/joss.02948/10.21105.joss.02948.pdf) :page_facing_up: :point_left:

[2021-03-04 17:10] neurofractal commented on #2977
@dpsanders all done. Finished with my review!

[2021-03-04 17:16] JanCBrammer commented on #2977
@dpsanders, yes and yes 👍 Except for a tiny edit in the current proof: I believe on line 55 the `(?)` after `obtain` can be removed?

[2021-03-04 17:26] pdebuyl commented on #3053
Thank you @ranocha for the review.

The statement of need is supposed to be checked on submission, probably it wasn't because of the non "master" branch for the paper.

[2021-03-04 17:29] greggj2016 commented on #2743
Same title, same authors, same order, same affiliations.

[2021-03-04 17:45] arfon commented on #2805
@whedon generate pdf

[2021-03-04 17:46] arfon commented on #2805
@galessiorob - I updated the repository address above to point to https://gitlab.com/fduchate/predihood (I *think* that's correct)

[2021-03-04 17:46] whedon commented on #2805
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: :point_left:

[2021-03-04 17:50] Nathaniel-Haines commented on #3041
Hi @oliviaguest, after passing through everything, I agree with @jpsnijder that things look good overall! I do have a few concerns that I think are worth addressing. The minor ones are those in the comment in this thread directly above this message (here: https://github.com/openjournals/joss-reviews/issues/3041#issuecomment-790718529). I have a few other less minor concerns that I submitted as iss

[2021-03-04 17:52] EtienneCmb commented on #2977
yes I finished with my review and I'm happy with the current version :+1:

[2021-03-04 17:57] rMassimiliano commented on #3041
Hi @oliviaguest, my invite is expired, could you re-invite me please?

[2021-03-04 18:00] danielskatz commented on #3041
@whedon re-invite @rMassimiliano as reviewer

[2021-03-04 18:00] whedon commented on #3041
OK, the reviewer has been re-invited.

@rmassimiliano please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-03-04 19:46] fboehm commented on #2743
@whedon set 10.5281/zenodo.4289063 as archive

[2021-03-04 19:46] whedon commented on #2743
OK. <a href="https://doi.org/10.5281/zenodo.4289063" target="_blank">10.5281/zenodo.4289063</a> is the archive.

[2021-03-04 19:46] fboehm commented on #2743
@whedon set v0.2.0c as version

[2021-03-04 19:46] whedon commented on #2743
OK. v0.2.0c is the version.

[2021-03-04 19:47] fboehm commented on #2743
@whedon accept

[2021-03-04 19:47] whedon commented on #2743
[code]

[2021-03-04 19:48] whedon commented on #2743
[code]

[2021-03-04 19:48] whedon commented on #2743
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2133

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2133, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-04 20:10] danielskatz commented on #2743
@greggj2016 - I just found one small change in proof-reading the paper, as shown in https://github.com/EpistasisLab/regens/pull/21  If you can merge this, we can move to the final processing and publishing.

[2021-03-04 20:18] danielskatz commented on #2743
@whedon accept

[2021-03-04 20:18] whedon commented on #2743
[code]

[2021-03-04 20:19] whedon commented on #2743
[code]

[2021-03-04 20:19] whedon commented on #2743
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2134

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2134, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-04 20:21] danielskatz commented on #2743
@whedon accept deposit=true

[2021-03-04 20:21] whedon commented on #2743
[code]

[2021-03-04 20:22] whedon commented on #2743
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1367571084304928777) 👈 🐦🐦🐦

[2021-03-04 20:22] whedon commented on #2743
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2135
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02743](https://doi.org/10.21105/joss.02743)
2. If everything looks g

[2021-03-04 20:27] danielskatz commented on #2743
Congratulations to  @greggj2016 (John Gregg) and co-authors!!

And thanks to @raivivek and @dwinter for reviewing, and @fboehm for editing!

[2021-03-04 20:27] #2743 closed

[2021-03-04 20:27] whedon commented on #2743
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02743/status.svg)](https://doi.org/10.21105/joss.02743)

**We need your help!**

Journal of Open Source Softwa

[2021-03-04 20:29] whedon opened #3084 "[PRE REVIEW]: %PT_GSDesign: A SAS Macro for Group Sequential Designs with Time-to-event Data using the Concept of Proportional Time"
**Submitting author:** @thewan05 (<a href="http://orcid.org/0000-0002-9306-2619">Nadeesha Thewarapperuma</a>)
**Repository:** <a href="https://github.com/thewan05/GSD_SAS_Macro" target ="_blank">https://github.com/thewan05/GSD_SAS_Macro</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-03-04 20:29] whedon commented on #3084
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-04 20:29] whedon commented on #3084
[code]

[2021-03-04 20:29] whedon opened #3085 "[PRE REVIEW]: ppdiag: Diagnostic Tools for Temporal Point Processes"
**Submitting author:** @OwenWard (<a href="http://orcid.org/0000-0002-9678-3542">Owen G. Ward</a>)
**Repository:** <a href="https://github.com/OwenWard/ppdiag" target ="_blank">https://github.com/OwenWard/ppdiag</a>
**Version:** v0.1.0
**Editor:** @mikldk
**Reviewers:** @alexpghayes, @wjakethompson
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-03-04 20:29] whedon commented on #3085
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-04 20:30] whedon opened #3086 "[PRE REVIEW]: epipack: An infectious disease modeling package for Python"
**Submitting author:** @benmaier (<a href="http://orcid.org/0000-0001-7414-8823">Benjamin F. Maier</a>)
**Repository:** <a href="https://github.com/benmaier/epipack" target ="_blank">https://github.com/benmaier/epipack</a>
**Version:** v0.1.1
**Editor:** @fboehm
**Reviewers:** @chrisvoncsefalvay, @esteinig
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-03-04 20:30] whedon commented on #3086
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-04 20:30] whedon commented on #3085
[code]

[2021-03-04 20:30] whedon commented on #3084
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03084/joss.03084/10.21105.joss.03084.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03084/joss.03084/10.21105.joss.03084.pdf) :page_facing_up: :point_left:

[2021-03-04 20:30] whedon opened #3087 "[PRE REVIEW]: IFermi: A python library for Fermi surface generation and analysis"
**Submitting author:** @utf (<a href="http://orcid.org/0000-0002-4486-3321">Alex Ganose</a>)
**Repository:** <a href="https://github.com/fermisurfaces/IFermi" target ="_blank">https://github.com/fermisurfaces/IFermi</a>
**Version:** v.0.2.1
**Editor:** @danielskatz
**Reviewers:** @arosen93, @lucydot
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-03-04 20:30] whedon commented on #3087
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-04 20:30] whedon opened #3088 "[PRE REVIEW]: geoclaw-landspill: an oil land-spill and overland flow simulator for pipeline rupture events"
**Submitting author:** @piyueh (<a href="http://orcid.org/0000-0001-6330-2709">Pi-Yueh Chuang</a>)
**Repository:** <a href="https://github.com/barbagroup/geoclaw-landspill" target ="_blank">https://github.com/barbagroup/geoclaw-landspill</a>
**Version:** 1.0.dev3
**Editor:** @kbarnhart
**Reviewers:** @dlgeorge, @jmansour, @bzindovic
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced servic

[2021-03-04 20:30] whedon commented on #3088
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-04 20:30] whedon commented on #3084
[code]

[2021-03-04 20:30] whedon commented on #3085
PDF failed to compile for issue #3085 with the following error:

 Can't find any papers to compile :-(

[2021-03-04 20:30] whedon commented on #3086
Failed to discover a `Statement of need` section in paper

[2021-03-04 20:31] whedon commented on #3086
[code]

[2021-03-04 20:31] whedon commented on #3087
[code]

[2021-03-04 20:31] whedon commented on #3086
[code]

[2021-03-04 20:31] whedon commented on #3086
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03086/joss.03086/10.21105.joss.03086.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03086/joss.03086/10.21105.joss.03086.pdf) :page_facing_up: :point_left:

[2021-03-04 20:31] whedon commented on #3088
[code]

[2021-03-04 20:31] whedon commented on #3087
PDF failed to compile for issue #3087 with the following error:

 Can't find any papers to compile :-(

[2021-03-04 20:32] whedon commented on #3088
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03088/joss.03088/10.21105.joss.03088.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03088/joss.03088/10.21105.joss.03088.pdf) :page_facing_up: :point_left:

[2021-03-04 20:32] utf commented on #3087
@whedon generate pdf from branch paper

[2021-03-04 20:32] whedon commented on #3087
[code]

[2021-03-04 20:33] whedon commented on #3088
[code]

[2021-03-04 20:33] whedon commented on #3087
PDF failed to compile for issue #3087 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Amy Searle, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:71:in `each'
	f

[2021-03-04 20:33] danielskatz commented on #3085
@whedon generate pdf from branch joss-paper

[2021-03-04 20:33] whedon commented on #3085
[code]

[2021-03-04 20:34] whedon commented on #3085
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03085/joss.03085/10.21105.joss.03085.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03085/joss.03085/10.21105.joss.03085.pdf) :page_facing_up: :point_left:

[2021-03-04 20:34] danielskatz commented on #3085
@whedon check references from branch joss-paper

[2021-03-04 20:34] whedon commented on #3085
[code]

[2021-03-04 20:34] whedon commented on #3085
[code]

[2021-03-04 20:35] utf commented on #3087
@whedon generate pdf from branch paper

[2021-03-04 20:36] whedon commented on #3087
[code]

[2021-03-04 20:36] whedon commented on #3087
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03087/joss.03087/10.21105.joss.03087.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03087/joss.03087/10.21105.joss.03087.pdf) :page_facing_up: :point_left:

[2021-03-04 20:38] utf commented on #3087
Suggested reviewers:

lucydot
arosen93

[2021-03-04 20:39] danielskatz commented on #3087
@whedon check references from branch paper

[2021-03-04 20:39] whedon commented on #3087
[code]

[2021-03-04 20:40] whedon commented on #3087
[code]

[2021-03-04 20:43] danielskatz commented on #3085
👋 @mikldk - you were suggested as the editor - are you able to take on one more submission?

[2021-03-04 20:43] utf commented on #3087
@whedon check references from branch paper

@whedon generate pdf from branch paper

[2021-03-04 20:43] whedon commented on #3087
[code]

[2021-03-04 20:43] danielskatz commented on #3085
@whedon invite @mikldk as editor

[2021-03-04 20:44] whedon commented on #3085
@mikldk has been invited to edit this submission.

[2021-03-04 20:44] whedon commented on #3087
[code]

[2021-03-04 20:45] utf commented on #3087
@whedon generate pdf from branch paper

[2021-03-04 20:45] whedon commented on #3087
[code]

[2021-03-04 20:46] whedon commented on #3087
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03087/joss.03087/10.21105.joss.03087.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03087/joss.03087/10.21105.joss.03087.pdf) :page_facing_up: :point_left:

[2021-03-04 20:46] dwinter commented on #2743
Congrats @greggj2016  et al, and many thanks for running the review @fboehm

[2021-03-04 20:49] danielskatz commented on #3086
👋 @fboehm - would you be able to edit this submission?

[2021-03-04 20:49] danielskatz commented on #3086
@whedon invite @fboehm as editor

[2021-03-04 20:49] whedon commented on #3086
@fboehm has been invited to edit this submission.

[2021-03-04 20:51] danielskatz commented on #3087
@whedon assign me as editor

[2021-03-04 20:51] whedon commented on #3087
OK, the editor is @danielskatz

[2021-03-04 20:53] danielskatz commented on #3087
@utf - I'll be working with you on this submission.  A few more potential reviewer suggestions would be welcome, too.

[2021-03-04 20:54] danielskatz commented on #3087
👋 @lucydot & @arosen93 - Would you be willing to review this submission for JOSS?

[2021-03-04 20:55] danielskatz commented on #3088
👋 @kbarnhart - would you be willing to edit this JOSS submission?

[2021-03-04 20:56] danielskatz commented on #3088
@whedon invite @kbarnhart as editor

[2021-03-04 20:56] whedon commented on #3088
@kbarnhart has been invited to edit this submission.

[2021-03-04 20:58] utf commented on #3087
@danielskatz - great! A few more potential reviewers are:

- dandavies99
- bocklund
- Evan1415
- raghurama123
-

[2021-03-04 21:01] wesleyburr commented on #2694
@pibion: we're basically done the requests from @jspaezp - still expanding test coverage slightly as we have time, but otherwise the list of issues raised by his review have been corrected. Would appreciate an update on review #2 when you have time.

[2021-03-04 21:08] greggj2016 commented on #2743
Thanks for everything!

[2021-03-04 21:14] arosen93 commented on #3087
@danielskatz, I would be happy to review this submission for JOSS. For full disclosure, while I have significant experience with electronic structure calculations, I have personally not generated Fermi surfaces before (although have been interested in doing so!). In this regard, I would be providing a review from the perspective of a new user interested in generating/analyzing Fermi surfaces for t

[2021-03-04 21:20] majensen commented on #3030
@seandavi - would you be willing to review [this work](#3030) for [JOSS](https://joss.theoj.org)? If not, would you be able to recommend an expert from your group or elsewhere? I really appreciate  your consideration - @majensen

[2021-03-04 21:21] majensen commented on #3030
@aghaynes if you have suggestions for reviewers, please let me know. Much appreciated-

[2021-03-04 21:25] danielskatz commented on #3087
Thanks @arosen93 - that's fine. I'll add you as a reviewer, and see if we can find another reviewer with more Fermi surface experience before we start the review

[2021-03-04 21:25] danielskatz commented on #3087
@whedon assign @arosen93 as reviewer

[2021-03-04 21:25] whedon commented on #3087
OK, @arosen93 is now a reviewer

[2021-03-04 21:37] lucydot commented on #3087
Hi @danielskatz I'm happy to review. I'm in the same situation as the other reviewer - I haven't generated Fermi surfaces before. Though I know enough textbook physics about Fermi surfaces that I think I should be able to give it an educated whirl.

[2021-03-04 21:40] mikldk commented on #3054
@vs74, @inakleinbottle, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-03-04 21:40] danielskatz commented on #3087
Thanks @lucydot - given what you say, let's go ahead and see how it goes.  If we find problems in the review, we can bring in someone else at that point

[2021-03-04 21:40] danielskatz commented on #3087
@whedon add @lucydot as reviewer

[2021-03-04 21:41] whedon commented on #3087
OK, @lucydot is now a reviewer

[2021-03-04 21:41] danielskatz commented on #3087
@whedon start review

[2021-03-04 21:41] whedon opened #3089 "[REVIEW]: IFermi: A python library for Fermi surface generation and analysis"
**Submitting author:** @utf (<a href="http://orcid.org/0000-0002-4486-3321">Alex Ganose</a>)
**Repository:** <a href="https://github.com/fermisurfaces/IFermi" target ="_blank">https://github.com/fermisurfaces/IFermi</a>
**Version:**  v0.2.3
**Editor:** @danielskatz
**Reviewer:** @arosen93, @lucydot
**Archive:** <a href="https://doi.org/10.5281/zenodo.4609270" target="_blank">10.5281/zenodo.4609270

[2021-03-04 21:41] whedon commented on #3087
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3089.

[2021-03-04 21:41] #3087 closed

[2021-03-04 21:41] whedon commented on #3089
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arosen93, @lucydot it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-03-04 21:41] mikldk commented on #2992
@alemermartinez, can you please give a brief status? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-03-04 21:41] mikldk commented on #3085
@whedon assign me as editor

[2021-03-04 21:41] whedon commented on #3085
OK, the editor is @mikldk

[2021-03-04 21:42] whedon commented on #3089
[code]

[2021-03-04 21:42] whedon commented on #3089
PDF failed to compile for issue #3089 with the following error:

 Can't find any papers to compile :-(

[2021-03-04 21:42] danielskatz commented on #3089
@arosen93 and @lucydot - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

P

[2021-03-04 21:43] danielskatz commented on #3089
@whedon generate pdf from branch paper

[2021-03-04 21:43] whedon commented on #3089
[code]

[2021-03-04 21:43] whedon commented on #3089
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03089/joss.03089/10.21105.joss.03089.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03089/joss.03089/10.21105.joss.03089.pdf) :page_facing_up: :point_left:

[2021-03-04 21:49] inakleinbottle commented on #3054
I've been busy this week, but I have managed to have a look at the paper and the package. Hoping to give a review this weekend.

[2021-03-04 21:51] mikldk commented on #3085
@author - thank you for the submission.

1. I created issues at OwenWard/ppdiag#52 and OwenWard/ppdiag#53.
2. I see not all authors contributed with commits to the Github repo. Please confirm that the author list is accurate.
3. Do you have any suggestions for reviewers ([here](https://bit.ly/joss-reviewers) is a list of potential reviewers)?

[2021-03-04 21:57] kadyb commented on #2948
Hello, @mikerspencer thanks for the review and praise! I would like to respond here to the downloading problem you described:

Both reviewers confirmed this problem. On our side it is hard to reproduce, but the error is certainly there. We think it rather affects foreign users (we suppose it could be due to lower server priority). Nevertheless, thanks to the very active and helpful attitude of the

[2021-03-04 22:21] c-white commented on #3068
@whedon generate pdf

[2021-03-04 22:22] whedon commented on #3068
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03068/joss.03068/10.21105.joss.03068.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03068/joss.03068/10.21105.joss.03068.pdf) :page_facing_up: :point_left:

[2021-03-04 22:46] c-white commented on #3068
@dfm I have finished my review, and everything seems fine to me. Some notes:

1. **Performance:** Everything installed (remarkably smoothly!) and I was able to run some basic parallel simulations on a modest cluster. This doesn't cover massive simulations, or GPU clusters for that matter, but I have no reason to believe things won't work in that regime.
2. **Functionality documentation:** I don't

[2021-03-04 23:34] OwenWard commented on #3085
@mikldk thanks for agreeing to be the editor, appreciate it!

1. Thanks for pointing these out. I'll fix them shortly.
2. The author list is accurate. All authors contributed, either before this project became a github repo or in substantial non code contributions.
3. Some names from that list that might be suitable are alexpghayes, trashbirdecology and  wjakethompson

[2021-03-05 00:22] alemermartinez commented on #2992
Dear Mikkel,
We have just finished the vignette, which can be found in the "doc" folder of the main branch of the repository. I believe our revision is now complete.
Kind regards,
Alejandra

________________________________
De: Mikkel Meyer Andersen <notifications@github.com>
Enviado: jueves, 4 de marzo de 2021 18:41
Para: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Alejandra M

[2021-03-05 01:49] galessiorob commented on #3046
@kthyng I'm spread out a bit thin at the moment, apologies for the delayed response.

[2021-03-05 01:57] galessiorob commented on #2805
@arfon thank you!

[2021-03-05 04:31] Borchardt commented on #2979
Thanks for the feedback, bensonml! I agree with you on the need for automated testing. As a quick first step, I've added an Actions workflow which builds the app, connects to its reverse proxy container, and validates landing page content.

Adding deeper functional tests is on my backlog, and I'll update here as I make headway.

[2021-03-05 06:06] mmrabe commented on #2992
@alemermartinez , the typical location for vignettes is `vignettes/`. The contents of `docs/` will not be visible to the user of the final package.

[2021-03-05 06:33] hugoledoux commented on #2869
@szymon-datalions sorry for the delay, it seems that @chrisbrunsdon doesn't have much time and I am looking for an alternative reviewer (hopefully today, but your review will be delayed a bit, since we require at least 2).

[2021-03-05 09:06] mikerspencer commented on #2948
@kadyb good work on the solution. Which version should I test to complete my review? I presume the updated error returned in not yet on CRAN?

[2021-03-05 09:18] tramarobin commented on #2839
@cMadan, do you want me to suggest other potential reviewers ?

[2021-03-05 09:25] szymon-datalions commented on #2869
Thanks @hugoledoux!

[2021-03-05 09:31] kadyb commented on #2948
@mikerspencer, yes, you're right. Currently, all changes have been made to the development version on GitHub.

Please use the code below to install the development version (this will allow to test the first proposed solution):

[code]

To test the second solution (downloading files via `curl` package) , please use this:

[code]

[2021-03-05 10:12] mikldk commented on #3085
@alexpghayes, @trashbirdecology: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-03-05 12:16] oliviaguest commented on #3041
@jpsnijder OK, it looks all resolved now — thanks and I hope you can now continue unheeded with your review. ☺️

[2021-03-05 13:28] dvberkel commented on #3019
Hi @melissawm,

Just for the record. I am still waiting for the official review-process to start. Or did I miss a notification?

[2021-03-05 13:45] 0todd0000 commented on #2839
Apologies for my delayed reply, I saw the invitation a while ago but then lost it, so thank you for the reminder.  I'd be happy to review.  I don't see instructions for reviewers in this discussion, but please let me know if I've missed something.

[2021-03-05 13:47] danielskatz commented on #3084
👋 @thewan05 - I'm not sure if we've had a SAS macro submitted before, so I'm going to ask @drvinceknight to edit this, but be aware it might be a longer than normal process, in terms of finding reviewers and other issues that may come up.

[2021-03-05 13:47] danielskatz commented on #3084
@whedon assign @drvinceknight as editor

[2021-03-05 13:47] whedon commented on #3084
OK, the editor is @drvinceknight

[2021-03-05 13:51] melissawm commented on #3019
@dvberkel yes, we are still looking for a second reviewer. I'll try contacting a few other people.

[2021-03-05 13:53] melissawm commented on #3019
Hello, @bonh! Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-03-05 13:57] eriknes commented on #2952
Yes, I think this is probably sufficient as per the JOSS guidelines of
software papers

Thank you

On Thu, Mar 4, 2021 at 4:44 PM Katy Barnhart <notifications@github.com>
wrote:

[2021-03-05 14:15] alemermartinez commented on #2992
Thank you, Maximilian. We didn't know that. I copied Examples.html and Examples.R to "vignettes".

Kind regards,

Alejandra

________________________________
De: Maximilian M. Rabe <notifications@github.com>
Enviado: viernes, 5 de marzo de 2021 03:07
Para: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Alejandra Martinez <ale_m_martinez@hotmail.com>; Mention <mention@noreply.githu

[2021-03-05 14:49] alexpghayes commented on #3085
I'm happy to review, although I'm pretty overwhelmed for the next week or so.

[2021-03-05 14:52] danielskatz commented on #3010
👋 @marcosvital - just a ping on this, since it seems so close to be ready to publish...

[2021-03-05 14:52] vs74 commented on #3054
I've some comments and will open an issue in the target repo and reference them here. I'll make these comments over the weekends.

[2021-03-05 14:53] danielskatz commented on #2409
As far as I can tell, this is ready to publish but got dropped by us (JOSS) somehow, so I'm going to go ahead.

[2021-03-05 14:54] danielskatz commented on #2409
@whedon accept deposit=true

[2021-03-05 14:54] whedon commented on #2409
[code]

[2021-03-05 14:56] whedon commented on #2409
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1367851587901812744) 👈 🐦🐦🐦

[2021-03-05 14:56] whedon commented on #2409
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2136
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02409](https://doi.org/10.21105/joss.02409)
2. If everything looks g

[2021-03-05 14:58] danielskatz commented on #2812
@whedon set v1.2.0 as version

[2021-03-05 14:58] whedon commented on #2812
OK. v1.2.0 is the version.

[2021-03-05 14:59] danielskatz commented on #2812
@melissawm - gentle ping that this seems ready to proofread and then accept...

[2021-03-05 15:01] danielskatz commented on #2677
@sjpfenninger - a gentle ping...

[2021-03-05 15:02] danielskatz commented on #2879
👋 @meg-simula - I think this is waiting on you at this point

[2021-03-05 15:03] danielskatz commented on #2409
Congratulations to @lydialucchesi (Lydia Lucchesi) and co-authors!!

And thanks to @nuest and @GISerDaiShaoqing for reviewing, and @bstabler for editing!

[2021-03-05 15:03] #2409 closed

[2021-03-05 15:03] whedon commented on #2409
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02409/status.svg)](https://doi.org/10.21105/joss.02409)

**We need your help!**

Journal of Open Source Softwa

[2021-03-05 15:11] KristinaRiemer commented on #2575
Hi @r-barnes and @mccabete, this is just a reminder to look over your issues in the repo. If @holukas has sufficiently addressed them, feel free to comment and close. Hopefully this can be taken care of in the next week?

[2021-03-05 15:13] druvus commented on #2334
@lpantano I will wrap it up during the weekend. I went into office today to get a dataset from our miseq that to double-check functionality on.

[2021-03-05 15:15] KristinaRiemer commented on #3074
Thanks for the quick turnaround time on the review @brunaw! Your comments are useful, and I definitely agree with adding contribution information and fleshing out the use cases of the package in the paper. Hopefully @vbaliga will have a chance to address them soon!

[2021-03-05 15:15] djmitche commented on #3049
I'm still struggling with this a little bit.  The README addresses the first two, and (3) isn't an issue since groups outside BSC wouldn't use this software.  The JOSS guidelines are silent on this issue, so I'll check the box.

[2021-03-05 15:19] ikayz commented on #3049
@wuruchi I'll get to it this weekend. Had a busy couple of weeks.

[2021-03-05 15:24] djmitche commented on #3049
My review is complete (and I don't mean to rush you @ikayz!).  I had a look through the source and this seems like a solid, well-factored React app.  Anyone familiar with React dev could jump into this quickly and solve a bug or add a feature.  Nice work!

[2021-03-05 15:25] cddesja commented on #3074
I will try to do my review this weekend or early next week.

On Fri, Mar 5, 2021 at 10:15 AM Kristina Riemer <notifications@github.com>
wrote:

[2021-03-05 15:39] kbarnhart commented on #3088
@danielskatz yes I can handle this. Won't be able to start today but will be able to begin actively handling early next week.

[2021-03-05 15:39] kbarnhart commented on #3088
@whedon assign @kbarnhart as editor

[2021-03-05 15:39] whedon commented on #3088
OK, the editor is @kbarnhart

[2021-03-05 15:49] kbarnhart commented on #2952
@leotrs and @eriknes based on the comments here, the in-repo issues, and the checklists it looks as if your reviews are complete an no remaining issues exits. If this is the case and you think this manuscript is ready to be accepted, please indicate so here.

@jonschwenk once the reviewers have indicated the submission is ready to move forward I will complete a couple of steps (e.g., copyediting),

[2021-03-05 15:50] labarba commented on #3088
Suggested reviewers:

- [mandli](https://github.com/mandli)
- [dlgeorge](https://github.com/dlgeorge)
- [donnaaboise](https://github.com/donnaaboise)

[2021-03-05 15:51] eriknes commented on #2952
Yes, confirmed

On Fri, Mar 5, 2021 at 4:49 PM Katy Barnhart <notifications@github.com>
wrote:

[2021-03-05 15:53] leotrs commented on #2952
Yes.

On Fri, Mar 5, 2021, 10:52 AM Erik Nesvold <notifications@github.com> wrote:

[2021-03-05 15:54] thewan05 commented on #3084
@danielskatz Thank you for letting me know.

[2021-03-05 15:55] dfm commented on #3068
@c-white: Thanks for this! Your interpretation of the performance and API docs requirements sounds good.

For the paper, I am seeing [the most recent changes](https://github.com/AMReX-Astro/Nyx/commit/048a26bdae232868105444685180816617b8ba3e) at the link above: https://github.com/openjournals/joss-reviews/issues/3068#issuecomment-790986670 Are there other commits that are missing? Thanks again!

[2021-03-05 16:11] c-white commented on #3068
@dfm I agree the changes are there now, but I swear they weren't earlier. Perhaps it was a caching issue on my end.

[2021-03-05 16:11] dhhagan commented on #3080
@whedon assign @dhhagan as editor

[2021-03-05 16:11] whedon commented on #3080
OK, the editor is @dhhagan

[2021-03-05 16:16] dhhagan commented on #2890
@whedon remind @jhollist in 1 week

[2021-03-05 16:16] diehlpk commented on #2945
Reminder set for @pbauman in 2 weeks

[2021-03-05 16:16] whedon commented on #2890
Reminder set for @jhollist in 1 week

[2021-03-05 16:16] diehlpk commented on #2945
@whedon remind @thelfer in 2 weeks

[2021-03-05 16:16] whedon commented on #2945
Reminder set for @thelfer in 2 weeks

[2021-03-05 16:16] diehlpk commented on #3060
@whedon remind @rdeits  in 2 weeks

[2021-03-05 16:16] Kevin-Mattheus-Moerman commented on #2831
@chennachaos can you reply to my comment :point_up:, do you think you can tick as many boxes as you feel possible? Thanks!

[2021-03-05 16:16] whedon commented on #3060
@rdeits  doesn't seem to be a reviewer or author for this submission.

[2021-03-05 16:17] danielskatz commented on #3080
I'm going to remove the scope query - let me know if you think this is needed

[2021-03-05 16:17] kyleniemeyer commented on #2095
Thanks for the updates @roshansamuel!

@olgadoronina @nickwimer when you have a moment, can you check on these changes, and see if they satisfy the issues? And, update the reviewer checklist items above if appropriate.

[2021-03-05 16:18] diehlpk commented on #3060
@whedon remind @KristofferC in 2 weeks

[2021-03-05 16:18] whedon commented on #3060
Reminder set for @KristofferC in 2 weeks

[2021-03-05 16:28] sadielbartholomew commented on #2766
Hi, I am really sorry @znicholls I was ill after my previous comment and then this fell off my radar when I was back catching up on things.

I'll resume my review later today and finish it, reporting back on this thread with any feedback, sometime this weekend and certainly by the end of the weekend in UTC time. My apologies and thanks for your patience.

[2021-03-05 16:35] dhhagan commented on #3080
Hi @tyronerees thanks for pointing those out. When those are merged into the main readme, please let me know and I'll go ahead and proceed to find reviewers.

[2021-03-05 16:57] fboehm commented on #3086
@whedon assign @fboehm as editor

[2021-03-05 16:57] whedon commented on #3086
OK, the editor is @fboehm

[2021-03-05 16:58] fboehm commented on #3086
@danielskatz - yes, I'm happy to take this one :)

[2021-03-05 17:01] benmaier commented on #3086
Thank you so much for the swift response, @danielskatz and @fboehm!

May I kindly suggest the following people as potential reviewers:

* Guillaume St-Onge
* Jean-Gabriel Young
* Antoine Allard
* Christian Vestergaard
* Joel C. Miller

[2021-03-05 18:37] sbenthall commented on #3065
@JoelForamitti One thing you can always do while waiting for reviews is correct the DOI's noted as missing or invalid by the **whedon** bot. Those will need to be resolved before publication.

[2021-03-05 19:22] JoelForamitti commented on #3065
@whedon check references

[2021-03-05 19:22] msalibian commented on #2992
@mmrabe @alemermartinez perhaps the easiest way to access the vignette before the package is updated on CRAN would be to install it from the repository with
[code]
and then open it with
[code]

[2021-03-05 19:23] whedon commented on #3065
[code]

[2021-03-05 20:26] danielskatz commented on #3046
👋 @cMadan - are you able to edit this perhaps?

[2021-03-05 20:26] danielskatz commented on #3046
@whedon invite @cMadan as editor

[2021-03-05 20:26] whedon commented on #3046
@cMadan has been invited to edit this submission.

[2021-03-05 20:28] whedon opened #3090 "[PRE REVIEW]: `modglm`: An R package for testing, interpreting, and displaying interactions in generalized linear models of discrete data"
**Submitting author:** @connorjmccabe (<a href="http://orcid.org/0000-0003-1868-8459">Connor McCabe</a>)
**Repository:** <a href="https://github.com/connorjmccabe/modglm" target ="_blank">https://github.com/connorjmccabe/modglm</a>
**Version:** 0.0.0.9000
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-03-05 20:28] whedon commented on #3090
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-05 20:28] whedon commented on #3090
[code]

[2021-03-05 20:28] whedon commented on #3090
PDF failed to compile for issue #3090 with the following error:

 Can't find any papers to compile :-(

[2021-03-05 20:28] danielskatz commented on #3090
@whedon generate pdf from branch JOSS-MS

[2021-03-05 20:28] whedon commented on #3090
[code]

[2021-03-05 20:29] whedon commented on #3090
PDF failed to compile for issue #3090 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: authors, affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/

[2021-03-05 20:29] danielskatz commented on #3090
@whedon check references from branch JOSS-MS

[2021-03-05 20:29] whedon commented on #3090
[code]

[2021-03-05 20:30] whedon commented on #3090
[code]

[2021-03-05 20:34] danielskatz commented on #3090
@connorjmccabe - I think the header should be
[code]

[2021-03-05 20:36] danielskatz commented on #3090
Can you try this, and use the command I did (`@whedon generate pdf from branch JOSS-MS` as the first line in a new comment) to regenerate the PDF?

Also, two of the DOIs in the .bib file need to have the `http://doi.org/` DOI prefix removed.  You can use `@whedon check references from branch JOSS-MS` to check that this is fixed

[2021-03-05 20:52] melissawm commented on #2812
Thank you @jbuisine - there are a few final corrections to the paper.

You do need a section named `Statement of Need` (this is mentioned in the [JOSS Submission Guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). My suggestion is to rename your Motivation section to that.

There are a few remaining typos, some of them may be better verified with a spel

[2021-03-05 20:59] connorjmccabe commented on #3090
@whedon commands

[2021-03-05 20:59] whedon commented on #3090
Here are some things you can ask me to do:

[code]

[2021-03-05 21:03] fboehm commented on #3086
@benmaier - We greatly appreciate the suggested reviewers. Do you happen to have email addresses and github handles for them? If so, would you please email me - frederick.boehm@gmail.com - with the contact info for the suggested reviewers? Thanks again!!

[2021-03-05 21:06] connorjmccabe commented on #3090
@whedon generate pdf from branch JOSS-MS

[2021-03-05 21:06] whedon commented on #3090
[code]

[2021-03-05 21:06] whedon commented on #3090
PDF failed to compile for issue #3090 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: authors (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0

[2021-03-05 21:07] connorjmccabe commented on #3090
@whedon check references from branch JOSS-MS

[2021-03-05 21:12] danielskatz commented on #3090
You also need to remove the blank line after the title in the header

[2021-03-05 21:24] connorjmccabe commented on #3090
Hi @danielskatz,

I appreciate these suggestions! I've re-tried with the header you suggested and I'm still getting compliation errors on this. Any other suggestions on what I might try? I've done some trial-and-error and I can get a compiled version with one author and no `^[Corresponding Author]` bit it seems.

Thanks,

Connor

[2021-03-05 21:25] danielskatz commented on #3090
@whedon generate pdf from branch JOSS-MS

[2021-03-05 21:25] whedon commented on #3090
[code]

[2021-03-05 21:25] whedon commented on #3090
PDF failed to compile for issue #3090 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: authors (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0

[2021-03-05 21:26] danielskatz commented on #3090
the `author:` line in the header should be `authors:` (add an s)

[2021-03-05 21:27] danielskatz commented on #3090
@whedon check references from branch JOSS-MS

[2021-03-05 21:27] whedon commented on #3090
[code]

[2021-03-05 21:27] whedon commented on #3090
[code]

[2021-03-05 21:36] Atif-Anwer commented on #3072
Hi!

I've looked at the repo as well as the draft submission and I would be glad to review the submission. However before committing, I would like to ask about the deadline/timeline available for the review; since I am myself teaching this semester etc. I would hopefully be able to review it in a couple of weeks approximately; testing out the package and etc. If that is ok with JOSS's timeline, th

[2021-03-05 21:57] connorjmccabe commented on #3090
@whedon generate pdf

[2021-03-05 21:57] connorjmccabe commented on #3090
@whedon generate pdf from branch JOSS-MS

[2021-03-05 21:57] whedon commented on #3090
[code]

[2021-03-05 21:57] whedon commented on #3090
PDF failed to compile for issue #3090 with the following error:

 Can't find any papers to compile :-(

[2021-03-05 21:58] MAnalytics commented on #3083
@danielskatz The package is now available on CRAN! Please, check here: https://cran.r-project.org/web/packages/opitools/index.html (vignette title to be corrected shortly).

[2021-03-05 21:58] connorjmccabe commented on #3090
@whedon check references from branch JOSS-MS

[2021-03-05 21:58] whedon commented on #3090
[code]

[2021-03-05 21:58] whedon commented on #3090
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03090/joss.03090/10.21105.joss.03090.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03090/joss.03090/10.21105.joss.03090.pdf) :page_facing_up: :point_left:

[2021-03-05 21:59] whedon commented on #3090
[code]

[2021-03-05 21:59] connorjmccabe commented on #3090
@danielskatz I believe that did the trick. I really appreciate your help on this!

[2021-03-05 22:07] mbobra commented on #3072
@Atif-Anwer Thank you so much for your reply (and persistence)! I'm sorry about the spam filter (I will look into it).

JOSS is operating on a reduced service mode (see [here](https://blog.joss.theoj.org/2020/05/reopening-joss)) so we're giving reviewers six weeks to complete their review. This is not a hard deadline, though, so if you need an additional week or so that's fine. Is this okay with y

[2021-03-05 22:23] navidcy commented on #3053
@ranocha, I don't really see how I should reformat the file in view of your remark: "You should consider reformatting the license file LICENSE.md such that GitHub recognizes the license type automatically, cf. https://opensource.org/licenses/MIT"

Could you elaborate a bit perhaps?