[2016-10-27 13:19] #98 closed

[2016-10-27 13:45] noamross commented on #99
May I volunteer as a second reviewer for this? I watch the submissions feed for rOpenSci pass-throughs and this one interests me.

[2016-10-27 13:52] katyhuff commented on #62
Excellent! Sorry it took so long to do the review.

Thanks for creating those issues. As soon as those are solved, I'd say this is more than acceptable. Regarding tests, I know that adding a test suite is a lot of effort. I'd recommend a simple pytest type framework to keep it simple. A few tests confirming the core methods would be sufficient as far as I'm concerned. It isn't necessary to acheive

[2016-10-27 14:41] DannyArends commented on #87
@arfon I created a new release (v1.0.0-joss-2) with Zenodo, the DOI of the release is: 10.5281/zenodo.163510

@whedon set 10.5281/zenodo.163510 as archive

[2016-10-27 15:12] pboesu commented on #99
Thanks for you interest @noamross (And of course thanks for agreeing to review @masalmon)

I briefly considered rOpenSci for this, but felt it was in the "standalone statistical tools" category. I'd be more than happy to have a shot in making this compliant with the onboarding criteria, though, if you both think this would fit into the rOpenSci ecosystem!

[2016-10-27 15:35] byandell commented on #87
I am ok with paper as is. I would have liked to see scatterplot of variables with QTL alleles as plot symbols, but not necessary. I submitted very minor typo as issue just now. Brian

Get Outlook for iOS<https://aka.ms/o0ukef>

On Thu, Oct 27, 2016 at 7:07 AM -0500, "Arfon Smith" <notifications@github.com<mailto:notifications@github.com>> wrote:

@DannyArends<https://github.com/DannyArends> - At t

[2016-10-27 16:25] noamross commented on #99
Hi @pboesu.  I was just telling @arfon that I'm watching this repo to track packages going from RO to JOSS through our joint submittal approach.  You are correct, rucrdtw wouldn't fit in the rOpenSci scope.  I just have done some time series stuff and thought I'd take the chance to explore DTW more deeply by reviewing your package.

[2016-10-27 17:40] arfon commented on #99
Absolutely. Please feel free to also contribute your review over in #100 @noamross

[2016-10-27 19:26] eschnett commented on #44
Several of the self-tests were failing; this was reported and resolved in https://github.com/ElektraInitiative/libelektra/issues/997 .

[2016-10-27 19:28] eschnett commented on #44
The licence was difficult to find, since it was in a file with a non-standard name https://github.com/ElektraInitiative/libelektra/issues/995 .

[2016-10-27 19:33] eschnett commented on #44
Regarding the statement of need: I was initially confused as to the purpose of this library. The documentation speaks of "custom configuration files"; depending on context, this can mean many different things. For example, in one context this can refer to configuring some software ahead of time, and then letting the software executing in batch mode. This doesn't seem to be the use case for Elektra

[2016-10-27 19:35] danielskatz commented on #44
I assume the license issue has been resolved since you checked the box?

[2016-10-27 19:35] eschnett commented on #44
Yes, the licence issue has been remedied.

[2016-10-27 19:36] danielskatz commented on #44
since statement of need is also checked, is that issue also resolved?

[2016-10-27 19:37] eschnett commented on #44
It's resolved for the overall documentation, but the paper could be clearer. I didn't check the box there yet.

[2016-10-27 19:38] danielskatz commented on #44
I see, thanks

I hope you can make a clear statement here at some point of what issues the authors need to resolve.

[2016-10-27 19:56] eschnett commented on #44
While testing functionality I've encountered https://github.com/ElektraInitiative/libelektra/issues/1055 .

[2016-10-27 19:57] stevenrbrandt commented on #93
One of the purposes of golo is to teach people how to implement a dynamic runtime language (as stated in the paper). Given that, it seems to me there should be some document introducing the overall structure of the source code, maybe some tutorial on how to add a language feature. I don't see these things as blocking issues, however, just suggestions.

[2016-10-27 19:57] stevenrbrandt commented on #93
@jponge, given that the Eclipse plugin isn't maintained and isn't working, it should be taken off the list of editors.

[2016-10-27 20:06] remram44 commented on #101
Review is for [version 1.0.8](https://github.com/ViDA-NYU/reprozip/tree/1.0.8), [10.5281/zenodo.159604](https://doi.org/10.5281/zenodo.159604). Required paper.md is [in branch `joss-paper`](https://github.com/ViDA-NYU/reprozip/tree/joss-paper/paper).

[2016-10-27 20:39] markus2330 commented on #44
Thank you for your effort and reporting helpful issues! I slightly rephrased the paper to clarify that it is about dynamic configuration (at run-time) and added a statement in `doc/WHY.md` about which user groups we target.

[2016-10-27 20:39] stevenrbrandt commented on #93
shebang doesn't work for me. All the other methods for compiling and running this same source file do work
`$ ./build/install/golo/bin/golo shebang hello-1.golo
[error] In Golo module: duplicated-struct.golo
[error] Declaring a type `Foo` twice (declared first here: {line=7, column=1}) at {line=9, column=1}
`

[2016-10-28 18:26] tknapen commented on #96
I'd like to volunteer for this, I and a few of my lab members would love to run through the Popeye code.

[2016-10-28 18:28] cMadan commented on #96
@tknapen - awesome, thank you! Please see the reviewer guidelines here http://joss.theoj.org/about#reviewer_guidelines

@whedon assign @tknapen as reviewer

[2016-10-28 18:28] cMadan commented on #96
@whedon assign @tknapen as reviewer

[2016-10-28 18:28] whedon commented on #96
OK, the reviewer is @tknapen

[2016-10-28 18:29] cMadan commented on #96
@whedon start review

[2016-10-28 18:29] whedon commented on #96
You didn't say the magic word! Try this:

[code]

[2016-10-28 18:29] cMadan commented on #96
@whedon start review magic-word=bananas

[2016-10-28 18:29] whedon commented on #96
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/103. Feel free to close this issue now!

[2016-10-28 18:29] whedon opened #103 "[REVIEW]: popeye: a population receptive field estimation tool"
**Submitting author:** @kdesimone (<a href="http://orcid.org/0000-0003-4254-9408">Kevin DeSimone</a>)
**Repository:** <a href="https://github.com/kdesimone/popeye" target ="_blank">https://github.com/kdesimone/popeye</a>
**Version:** v.0.2.0
**Editor:** @cMadan
**Reviewer:** @tknapen
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.176596" target="_blank">10.5281/zenodo.176596</a>

## Status

[2016-10-28 18:29] whedon commented on #103
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-10-28 18:29] #96 closed

[2016-10-28 18:32] cMadan commented on #103
@tknapen - you should be able to check the boxes in the first post in this issue. For some additional details, please see the reviewer guidelines (http://joss.theoj.org/about#reviewer_guidelines). Otherwise, let me know if you have any questions!

[2016-10-28 22:26] stevenrbrandt commented on #93
@jponge if you can help me with the shebang, I can close out this review.

[2016-10-30 12:14] arfon commented on #87
@byandell many thanks for your review!

@DannyArends your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00087 🚀 🎉 💥

[2016-10-30 12:14] #87 closed

[2016-10-30 15:48] migueldvb commented on #102
I am happy to review this submission if additional reviewers are needed.

[2016-10-30 16:30] arfon commented on #102
That sounds great @migueldvb. Please feel free to review this too.

[2016-10-30 22:03] noamross commented on #100
## Reviewer questions

This is a second review.

### Conflict of interest

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (such as being a major contributor to the software).

### General checks

- [x] **Repository:** Is the source code for this software available at the <a target="_blank" href="https://github.com/pboesu/rucrdtw">repository url</

[2016-10-30 22:15] pboesu commented on #100
Thanks @noamross for the review and the constructive feedback! I will try to address the specific issues/pull requests in the coming days.

I did want to respond to the issue of licensing, immediately, though, as this is something I was not 100% certain how to handle at the initial submission. As you note, the original source of the wrapped C++ library is copyrighted, but not licensed. I did conta

[2016-11-01 02:31] gymreklab commented on #50
@julianmcauley have you had a chance to look at this submission? Let us know if you have any questions about the review process.

[2016-11-01 02:32] mgymrek commented on #50
@julianmcauley have you had a chance to look at this submission? Let us know if you have questions about the review process.

[2016-11-01 03:18] eschnett commented on #44
libelektra is a large project, and I haven't yet found a way to explore it. I don't want to write (or "elektrify") one of my applications just to test it. Do you have a toy code to play with? Or a tutorial with commands to follow along? As is, I have trouble exploring libelektra's functionality.

[2016-11-01 15:48] jakevdp commented on #88
@whedon commands

[2016-11-01 15:48] whedon commented on #88
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-11-01 15:49] jakevdp commented on #88
@whedon assign @jakevdp as editor

[2016-11-01 15:49] whedon commented on #88
OK, the editor is @jakevdp

[2016-11-01 15:51] jakevdp commented on #88
@whedon list reviewers

[2016-11-01 15:51] whedon commented on #88
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2016-11-01 16:47] masalmon commented on #100
## Reviewer questions

This is actually the second review, in theory the first one. ;-)

### Conflict of interest
- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (such as being a major contributor to the software).
### General checks
- [x] **Repository:** Is the source code for this software available at the <a target="_blank" href="https://github

[2016-11-01 17:41] migueldvb commented on #102
As a general comment it seems that this CCD reduction could be done with
existing open source software such as astropy's ccdproc package (implemented in
python) or FITSH using some helper functions from acronymn (as ARCTIC data have
some FITS keywords READAMPS, DSEC11 that are not part of the FITS standard
such as TRIMSEC and BIASSEC).  However I may have missed something.  It would be
useful to s

[2016-11-01 22:06] pboesu commented on #100
Thank you @masalmon for the review and the PR!

I will try to address all of your comments this week.

[2016-11-01 23:49] ahalterman commented on #91
@riordan, let me know if you run into any trouble with the documentation/installation. The model's pretty big, unfortunately, so getting it stood up doesn't go smoothly depending on how much memory you have.

[2016-11-02 10:24] Dih5 commented on #62
Ok, the issues are solved now, so I think the package is ready. The changes can be tracked using the references in Dih5/xpecgen#5, Dih5/xpecgen#6, Dih5/xpecgen#7, Dih5/xpecgen#8.

I corrected a bug found thanks to unit testing, so I updated the release number to **v1.0.2**. The generated paper has to be updated accordingly.

Thank you @katyhuff for taking the time to review this work, I found your

[2016-11-02 10:58] jponge commented on #93
@stevenrbrandt we are not removing the reference to the Eclipse IDE plugin, it keeps contributions hopes alive.

Regarding the `shebang` issue it seems to me that you are running `duplicated-struct.golo` from our tests suite and get an error. This is fine, this file is used by the test suite to check that an error is actually being detected at compilation time.

[2016-11-02 11:45] whedon opened #104 "[PRE REVIEW]: resampy: efficient sample rate conversion in Python"
**Submitting author:** bmcfee (<a href="http://orcid.org/0000-0001-6261-9747">Brian McFee</a>)
**Repository:** <a href="https://github.com/bmcfee/resampy" target ="_blank">https://github.com/bmcfee/resampy</a>
**Version:** 0.1.4
**Editor:** @arfon
**Reviewer:** @arokem

**What this issue is for**

Thanks for submitting your paper to JOSS bmcfee. The JOSS editor (shown at the top of this issue) wil

[2016-11-02 11:45] whedon commented on #104
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @tracykteal it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-11-02 11:45] arfon commented on #104
👋 @tracykteal - would you be able to edit this one for us?

[2016-11-02 11:46] whedon opened #105 "[PRE REVIEW]: Read, Tidy, and Display Data from Microtiter Plates in R"
**Submitting author:** @seaaan (<a href="http://orcid.org/0000-0002-9409-9405">Sean Hughes</a>)
**Repository:** <a href="https://github.com/ropenscilabs/plater" target ="_blank">https://github.com/ropenscilabs/plater</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @arfon

**What this issue is for**

Thanks for submitting your paper to JOSS @seaaan. The JOSS editor (shown at the top of thi

[2016-11-02 11:46] whedon commented on #105
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-11-02 11:46] arfon commented on #105
@karthik @noamross - has this submission already been accepted into rOpenSci?

[2016-11-02 12:12] noamross commented on #105
This submission has been accepted to rOpenSci. The review thread can be
found here: https://github.com/ropensci/onboarding/issues/60

On Wed, Nov 2, 2016, 7:46 AM Arfon Smith <notifications@github.com> wrote:

[2016-11-02 16:45] stevenrbrandt commented on #93
@jponge How do I prevent the running of the duplicate struct-golo? I'm not explicitly doing that.

[2016-11-02 18:01] jponge commented on #93
Could you please share the code snippet that raises the error, and if it comes from the Golo source code point me to the file path?

I do suspect that you are running a file that is actually meant to raise an error as part of our unit tests.

[2016-11-02 18:51] stevenrbrandt commented on #93
I copied from the tutorial.
`module javamag.Hello

import java.util

# A comment
function main = |args| {
  let elements = ArrayList()
  elements: add("Hello")
  elements: add("World")
  elements: add("!")
  let size = elements:size()
  for(var i=0, i < size, i = i + 1) {
    print(elements:get(i))
    if(i < size - 1) {
      print(" ")
    }
  }
  println("")
}
`

[2016-11-02 20:07] acabunoc commented on #101
Hey @jsta, would you be up for reviewing this?

[2016-11-02 20:34] jponge commented on #93
[code]

Am I missing anything?

[2016-11-02 22:34] stevenrbrandt commented on #93
@jponge Nope. I don't get that result. Not sure what's different about my installation.
I do these things:
git clone https://github.com/eclipse/golo-lang
./gradlew build
./gradlew test
./gradlew clean
./gradlew installDist
./build/install/golo/bin/golo shebang hello-1.golo

And I get that error message I sent to you.

In case it's useful
$ uname -a
Linux localhost.localdomain 4.4.14-200.fc22.x86_6

[2016-11-03 06:27] stain commented on #101
I can review it if @jsta doesn't have time.

On 2 Nov 2016 8:07 pm, "Abigail Cabunoc Mayes" <notifications@github.com>
wrote:

[2016-11-03 12:24] arfon commented on #105
found here: ropensci/onboarding#60

👍 thanks.

[2016-11-03 12:24] arfon commented on #105
@whedon assign @arfon as reviewer

[2016-11-03 12:24] whedon commented on #105
OK, the reviewer is @arfon

[2016-11-03 12:25] arfon commented on #105
@whedon commands

[2016-11-03 12:25] whedon commented on #105
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-11-03 12:25] arfon commented on #105
@whedon start review magic-word=bananas

[2016-11-03 12:25] whedon opened #106 "[REVIEW]: Read, Tidy, and Display Data from Microtiter Plates in R"
**Submitting author:** @seaaan (<a href="http://orcid.org/0000-0002-9409-9405">Sean Hughes</a>)
**Repository:** <a href="https://github.com/ropenscilabs/plater" target ="_blank">https://github.com/ropenscilabs/plater</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="https://dx.doi.org/10.5281/zenodo.163543" target="_blank">https://dx.doi.org/10.5281/zenodo.16354

[2016-11-03 12:25] whedon commented on #105
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/106. Feel free to close this issue now!

[2016-11-03 12:25] #105 closed

[2016-11-03 12:25] whedon commented on #106
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-03 12:26] arfon commented on #106
rOpenSci review here: ropensci/onboarding#60

[2016-11-03 14:06] jsta commented on #101
Go head @stain.  This looks very interesting but I don't have time currently. I would be interested in hearing whether this tool might be easier for novices to use than Docker.

[2016-11-03 16:18] rodrigovrgs commented on #53
@luizirber when could you take another look at this?

[2016-11-03 17:08] acabunoc commented on #101
Thanks so much @stain & @jsta! I'll add you as a review @stain 😄

[2016-11-03 17:09] acabunoc commented on #101
@whedon assign @stain as reviewer

[2016-11-03 17:09] whedon commented on #101
OK, the reviewer is @stain

[2016-11-03 17:09] acabunoc commented on #101
@whedon start review

[2016-11-03 17:09] whedon commented on #101
You didn't say the magic word! Try this:

[code]

[2016-11-03 17:10] acabunoc commented on #101
@whedon start review magic-word=bananas

[2016-11-03 17:10] whedon opened #107 "[REVIEW]: ReproZip"
**Submitting author:** @remram44 (<a href="http://orcid.org/0000-0002-0524-2282">Rémi Rampin</a>)
**Repository:** <a href="https://github.com/ViDA-NYU/reprozip" target ="_blank">https://github.com/ViDA-NYU/reprozip</a>
**Version:** 1.0.8
**Editor:** @acabunoc
**Reviewer:** @stain
**Archive:** <a href="https://dx.doi.org/10.5281/zenodo.159604" target="_blank">https://dx.doi.org/10.5281/zenodo.15960

[2016-11-03 17:10] whedon commented on #101
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/107. Feel free to close this issue now!

[2016-11-03 17:10] #101 closed

[2016-11-03 17:10] whedon commented on #107
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-03 21:15] jponge commented on #93
I'm on a fresher version of the JVM:

[code]

I did the same steps, here's the transcript.

[code]

Then I did a `./gradlew build installDist`, which builds just fine.

I then went with `check.golo` as follows:

[code]

It runs fine:

[code]

[2016-11-03 21:32] stevenrbrandt commented on #93
@jponge , that's not the shebang command. The files command works for me.

$ build/install/golo/bin/golo golo --files hello-1.golo
Hello World !
$ build/install/golo/bin/golo shebang hello-1.golo
[error] In Golo module: duplicated-struct.golo
[error] Declaring a type `Foo` twice (declared first here: {line=7, column=1}) at {line=9, column=1}

[2016-11-03 22:00] jakevdp commented on #88
@whedon assign @joergdietrich as reviewer

[2016-11-03 22:00] whedon commented on #88
OK, the reviewer is @joergdietrich

[2016-11-03 22:02] jakevdp commented on #88
@whedon start review

[2016-11-03 22:02] whedon commented on #88
You didn't say the magic word! Try this:

[code]

[2016-11-03 22:13] jakevdp commented on #88
@whedon start review magic-word=bananas

[2016-11-03 22:13] whedon commented on #88
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/108. Feel free to close this issue now!

[2016-11-03 22:13] whedon opened #108 "[REVIEW]: Pyessence - Generalised Coupled Quintessence Linear Perturbation Python Code"
**Submitting author:** @leithes (<a href="http://orcid.org/0000-0001-9593-6757">Alexander Leithes</a>)
**Repository:** <a href="https://bitbucket.org/pyessence/pyessence" target ="_blank">https://bitbucket.org/pyessence/pyessence</a>
**Version:** v2.0.1
**Editor:** @jakevdp
**Reviewer:** @joergdietrich

## Status

[![status](http://joss.theoj.org/papers/4bc95a31164930b8441ad43a5812eae1/status.svg)

[2016-11-03 22:14] #88 closed

[2016-11-03 22:14] whedon commented on #108
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-03 22:19] jponge commented on #93
Ok I think I understand now :-)

 shebang is special as it scans for all .golo and .jar files starting
 from your current working directory.

You should try to move the file and you current working directory
somewhere else then. Does it work for you?

[2016-11-03 23:30] stevenrbrandt commented on #93
@jponge, Yes, putting it in its own directory does make a difference. That point is mentioned in the docs, but I didn't recognize that my problem might be caused by that feature. Maybe you could elaborate on this feature in the docs to make it clearer why golo scans the subdirectories and what functionality that enables. Also, you might mention the problems it might create in the pitfalls section.

[2016-11-04 01:00] arfon commented on #62
@Dih5 are there actual changes to the `paper.md` file or is it just the version that has been bumped?

[2016-11-04 03:49] julianmcauley commented on #50
Comments on the Checklist:

**Installation: Does installation proceed as outlined in the documentation?**
Installation instructions aren't really provided in the release, but rather on a link in the readme. Following that link leads to clear instructions.

**Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package manageme

[2016-11-04 08:36] Dih5 commented on #62
There are changes indeed, which were suggested by @katyhuff. The updated file can be found [here](https://github.com/Dih5/xpecgen/blob/master/paper/paper.md).

[2016-11-04 09:38] jponge commented on #93
Good point, I'll think about adding this in the documentation.

[2016-11-04 10:21] cMadan commented on #103
@tknapen - just thought I'd check in, have you had a chance to take a look at the package? Or, do you have any questions about the review process?

[2016-11-04 11:45] arfon commented on #62
Updated paper: [10.21105.joss.00062.pdf](https://github.com/openjournals/joss-reviews/files/571363/10.21105.joss.00062.pdf)

[2016-11-04 11:57] Dih5 commented on #62
I'm afraid something went wrong with the authors names and the institutions, which are not properly displayed now.
In the last update I changed the line breaks from Windows-like(\r\n) to Unix-like(\n), perhaps that could be related.

[2016-11-04 12:06] arfon commented on #62
OK, here's an update: [10.21105.joss.00062.pdf](https://github.com/openjournals/joss-reviews/files/571400/10.21105.joss.00062.pdf)

Please merge this fix for the paper: https://github.com/Dih5/xpecgen/pull/13

[2016-11-04 12:27] Dih5 commented on #62
Perfect. Thanks. 😄

[2016-11-04 13:06] karantibrewal commented on #30
@desilinguist We've been working on trying to fix your issue. Even though the error message still comes up, you should be able to visualize the graphs now. Can you please confirm? It works on my end:

<img width="1280" alt="screen shot 2016-11-04 at 9 05 36 am" src="https://cloud.githubusercontent.com/assets/10440950/20006435/e9377b02-a26d-11e6-95c9-80dacc2972d3.png">

[2016-11-04 13:14] desilinguist commented on #30
I removed the package and re-installed it and then ran `backtestGraphics(x = commodity)` again in RStudio. But it still doesn't work for me. No plots and same error.

[2016-11-04 13:18] Kevin-Mattheus-Moerman commented on #64
@roliveros-ramos Were you able to upgrade MATLAB to review this submission? Let me know if there are any issues.

[2016-11-04 13:19] karantibrewal commented on #30
@desilinguist thanks for your prompt response. aah that’s so weird. just to
be sure, are you using a mac book?

On Nov 4, 2016, at 9:14 AM, Nitin Madnani <notifications@github.com> wrote:

I removed the package and re-installed it and then ran backtestGraphics(x =
commodity) again in RStudio. But it still doesn't work for me. No plots and
same error.

—
You are receiving this because you were ment

[2016-11-04 13:20] Kevin-Mattheus-Moerman commented on #47
@v3c70r can you give us an update on progress? Are you able to address the issues raised above?

[2016-11-04 14:00] v3c70r commented on #47
Yes, I'm currently working on the issues and have addressed some of them. But I need more time to finish all of them since I'm currently have a full-time job and work on the project in free time.

Here is the update:

- [x]  NVCC flags have been defined to support c++11 by default. CMake option `ENABLE_CUDA` is used turn on/off CUDA.
- [x]  Point cloud exporter should work properly now.
- [x]  Nam

[2016-11-04 14:05] desilinguist commented on #30
Yes, I am using a MacBook Pro with macOS 10.12.1 with R version 3.3.0  and RStudio version 0.99.903.

[2016-11-04 14:10] Kevin-Mattheus-Moerman commented on #47
@v3c70r great. That is fine. Thanks for the update.

[2016-11-04 14:21] eschnett commented on #44
I have examined libelektra as submitted to the Journal of Open Science. I find that this submission meets or exceeds the requirements of the journal in almost all categories, with two exceptions:

1. The software paper does not "clearly state what problems the software is designed to solve". In fact, this is one of the major issues with libelektra's documentation -- there is much documentation, bu

[2016-11-04 14:51] danielskatz commented on #44
Thanks @eschnett.  If there are no performance claims made, you can check the performance box.  If there are claims made that you do not find convincing, that's a different story.

@markus2330, can you address these concerns?  It seems like some introductory material is needed in the software paper, and that the software's documentation needs some content to make it more accessible to new users, s

[2016-11-04 14:58] eschnett commented on #44
@danielskatz Yes, no particular performance claims are made -- I have checked the "performance" box.

[2016-11-04 15:02] markus2330 commented on #44
Yes, I can address the concerns. We are currently writing a verification tool that checks that all commands in the tutorials produce the correct output (do not fail) and rewrite the tutorials to have a nice flow and assume less prior knowledge. Furthermore we develop a web page which makes navigation/reading of the tutorials easier.

Are there any time constraints when this should be finished? I a

[2016-11-04 15:09] markus2330 commented on #44
And most importantly: A huge thanks to @eschnett to pointing us to the problems. I see that they are critical.

[2016-11-04 15:12] kyleniemeyer commented on #97
Hi @stijnvanhoey @quaquel, any updates on your reviews? Thanks!

[2016-11-04 20:02] danielskatz commented on #44
I don't think there's a real hurry to this, other than that the longer it takes to update, the longer it will be before the paper can be accepted and published.

[2016-11-05 16:00] n3mo commented on #50
Julian,

Thanks for the thoughtful feedback on the project. It may be helpful if I clarify an important detail. Although the code base is managed on GitHub, we envision the website located at [www.massmine.org](http://www.massmine.org) as the entry point for our typical end-user. Additional comments, with respect to this observation are detailed in-line below.

The [www.massmine.org](http://www.ma

[2016-11-05 18:18] mgymrek commented on #50
Thanks @julianmcauley! And thanks @n3mo for the quick response.

Regarding documentation: @julianmcauley does this clarification address your concerns? I agree it'd be helpful to move the documentation to place more obviously visible from the home page. The documentation itself seems pretty thorough from glancing through it.

For tests: although the tool is indeed built for the end user, that does

[2016-11-05 22:46] pboesu commented on #100
Hi @masalmon  and @noamross ,
Thank you again for your constructive reviews! I have now completed my revision of the paper and code.

I believe I have addressed all suggestions, except for adding "real world" examples.  A detailed response about the examples, and the other changes to the documentation is [here](https://github.com/pboesu/rucrdtw/issues/3#issuecomment-258646019).

I have also respon

[2016-11-06 13:27] masalmon commented on #100
Hi @pboesu as discussed in the issue in your repo I'm happy with the changes, nice work!

[2016-11-06 22:57] julianmcauley commented on #50
Yes, that answers my concerns about documentation. I didn't see the sidebar, but rather I clicked the "docs" tab, and assumed that was it. It seems the docs tab links to only the "getting started" page of the usage instructions but doesn't contain a link to the remaining pages. This seems like an easy fix. But the usage documentation seems sufficiently thorough.

[2016-11-06 23:45] noamross commented on #100
I've examined all of the changes since I first reviewed this package and @pboesu has satisfied all my concerns.  I approve!

[2016-11-07 03:27] n3mo commented on #50
@mgymrek, thanks for the quick response. I agree that testing is useful for developers, especially those eager to contribute to unfamiliar code bases. One source of complexity for this project is the particulars of connecting to multiple external APIs. These APIs require users and developers alike to set up log in credentials before using their services. This prevents MassMine from shipping with t

[2016-11-07 05:15] pboesu commented on #100
Brilliant! Thanks again, @noamross and @masalmon for the constructive review!

I have tagged the release and archived it on zenodo. The archive doi is [10.5281/zenodo.164995](https://doi.org/10.5281/zenodo.164995).

I also have submitted the package to CRAN.

[2016-11-07 14:12] arfon commented on #100
@noamross and @masalmon many thanks for the reviews here ✨

@pboesu - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00100 🎉 🚀 💥

[2016-11-07 14:12] #100 closed

[2016-11-07 15:37] stain commented on #107
Thanks for the submission,  @remram44 - [paper](https://github.com/ViDA-NYU/reprozip/blob/joss-paper/paper/paper.md) looks good!

I just need to complete the testing of the software - when I tried this weekend to rerun a reprozip with `chroot` I lost my terminal files in my actual `/dev` (!) - so need to try again and raise issue upstream if appropriate.

Using `pip install` was enough to get star

[2016-11-07 15:46] remram44 commented on #107
Removing the folder you unpacked in will indeed remove files from `/dev`, since they are bind-mounted in there. We provide [a `destroy` command](http://reprozip.readthedocs.io/en/1.0.x/unpacking.html#removing-the-experiment-directory) that will deal with it, unmounting in the case of chroot, or destroying containers/VMs.

Thank you for your time and the quick review!

[2016-11-07 20:07] gymreklab commented on #50
I see how it is tricky to make automated tests given the issue of credentials. Do any of these APIs have test credentials that can be used for testing purposes? I am also looping in @arfon to this conversation to see what he thinks.

[2016-11-07 23:44] luizirber commented on #53
Great work @rodrigovrgs!

About the tests: it is one of the journal requirements, but it is not so easy to test your scripts (because it depends on a big DB generated with one of them). You could set up a subset of the DB and execute the `extract_cazy_ids.py` on it, and check the outputs. Another alternative would be refactoring your scripts into functions to make it easier to test, but I think th

[2016-11-08 20:02] pjotrp commented on #53
Thank you @luizirber .

@arfon I think we can accept this paper. @rodrigovrgs can look into improving the tests - but I think we are good to go.

[2016-11-08 21:00] arfon commented on #53
👍 ok thanks.

@rodrigovrgs - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-11-08 21:11] arfon commented on #106
Thanks for your submission to JOSS @seaaan. Your paper is now accepted into JOSS, the DOI is http://dx.doi.org/10.21105/joss.00106 🎉 🚀 💥

[2016-11-08 21:11] #106 closed

[2016-11-08 21:18] arfon commented on #38
👋 @mlinksva - are you still in the process of completing this review?

[2016-11-08 21:20] arfon commented on #52
Friendly bump @pragyansmita 😄

[2016-11-08 21:23] arfon commented on #61
Any update on this @karthik?

[2016-11-08 21:23] n3mo commented on #50
To my knowledge they do not offer test credentials.

[2016-11-08 21:25] arfon commented on #62
👋  @katyhuff. Would you be able to take another look at this submission to give this a 👍 /:-1:

[2016-11-08 23:09] katyhuff commented on #62
👍

[2016-11-08 23:43] arfon commented on #62
@Dih5 - at this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-11-09 10:21] Dih5 commented on #62
Here it is:
[![DOI](https://zenodo.org/badge/62220331.svg)](https://zenodo.org/badge/latestdoi/62220331)

[2016-11-09 16:03] arfon commented on #62
@katyhuff many thanks for your review here!

@Dih5 your paper is now accepted into JOSS. Your DOI is http://dx.doi.org/10.21105/joss.00062 🎉 🚀 💥

[2016-11-09 16:03] #62 closed

[2016-11-09 16:20] Dih5 commented on #62
Thank you both for your work, I've learnt some nice things in this experience 😃

[2016-11-09 17:53] arfon commented on #50
Thanks for flagging this @gymreklab. Testing external APIs is always a little tricky but there are some language-specific tools (such as Webmock, VCR in Ruby-land) that achieve this. I'm not sure if there are similar tools for Scheme.

As an alternative, what about having some fixture data with example requests/responses from some of these external services and making sure that the MassMine packag

[2016-11-09 22:24] mlinksva commented on #38
Quick comments on the paper before I get to the software itself.

Could be stronger. States what software does from which problem can be inferred, target audience is "in an organization" with those problems. Skimming the first page of accepted papers at http://joss.theoj.org/papers/popular it seems most provide a bit more detail on the problem/need addressed and/or how submitted software relates t

[2016-11-09 23:43] mlinksva commented on #38
Under documentation:

https://github.com/DoSOCSv2/DoSOCSv2/blob/62f48ffbea96e7befe113ea0298691d2ccfdc96c/CONTRIBUTING.md says "The contribution rules for DoSOCS are currently being rewritten. You are welcome to create issues, but we can't accept pull requests from the community at this time." I suppose this technically does all of 1-3 if "can't accept" works for 1 and "welcome to create issues" al

[2016-11-10 00:11] seaaan commented on #106
Wow, that was so easy! Thank you so much for having such a smooth process.

[2016-11-10 08:47] jponge commented on #93
Hi,

Any update regarding this review / what are the next steps?

Thanks!

[2016-11-10 09:56] joergdietrich commented on #108
It would be good if the author could enable the issue tracker over at bitbucket. Otherwise I will not be able to open issues discovered during my review.

[2016-11-10 09:56] stain commented on #107
@whedon commands

[2016-11-10 09:56] whedon commented on #107
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-11-10 10:00] leithes commented on #108
Tied up at the moment - will hopefully have this done by midday.

Thank you.

Alex Leithes

On 10 November 2016 09:56:03 GMT+00:00, "Jörg Dietrich" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-11-10 10:08] stain commented on #107
*Community guidelines*:

The documentation already have a [developer guide](https://reprozip.readthedocs.io/en/1.0.x/developerguide.html) and - deep enough down - links to mailing lists, but it is not made clear in the github repo itself how to contribute, so I've suggested to add that in ViDA-NYU/reprozip#225

I also propose to add a **License** section to the README file as well, as not everyone

[2016-11-10 10:28] stain commented on #107
@remram44 Just the two above issues in community guidelines ViDA-NYU/reprozip#225 and to improve the references ViDA-NYU/reprozip#226 - otherwise I think it's good to go!

[2016-11-10 14:12] danielskatz commented on #93
I think we're waiting for you to tell us you've made the changes suggested by @stevenrbrandt in the documentation.

[2016-11-10 14:14] danielskatz commented on #93
@stevenrbrandt - it looks like the two unchecked boxes are
Functionality: Have the functional claims of the software been confirmed?
Performance: Have any performance claims of the software been confirmed?

Will the documentation fix that you suggested allow you to check the functionality box?

If the software doesn't make performance claims, this box can be checked.
If it does make performance cl

[2016-11-10 19:41] arfon commented on #38
This isn't great but I think it _does_ meet the requirements for 1--3.

[2016-11-11 13:53] n3mo commented on #50
Thanks for your thoughts @arfon. I agree that using fakes/mocks for external services is a reasonable compromise. I've begun adding testing to the software and will notify everyone once the update is available for review.

[2016-11-13 00:33] arfon commented on #94
@whedon assignments

[2016-11-13 00:34] arfon commented on #94
@whedon assignments

[2016-11-13 00:35] arfon commented on #94
@whedon assignments

[2016-11-13 00:35] whedon commented on #94
**EDITORIAL ASSIGNMENTS**

| Editor | Assignments |
| ----- | ----- |
| `@acabunoc` | 2 |
| `@arfon` | 8 |
| `@cMadan` | 1 |
| `@danielskatz` | 2 |
| `@jakevdp` | 2 |
| `@karthik` | 1 |
| `@katyhuff` | 0 |
| `@Kevin-Mattheus-Moerman` | 2 |
| `@kyleniemeyer` | 2 |
| `@labarba` | 0 |
| `@mgymrek` | 1 |
| `@pjotrp` | 1 |
| `@tracykteal` | 1 |

[2016-11-13 00:36] arfon commented on #94
:wave: @labarba - any chance you could edit this for us?

[2016-11-13 00:39] danielskatz commented on #94
The message I take from this is that I should make sure the papers I'm assigned are reviewed slowly so I don't get assigned more. Not sure this is quite right...

On Nov 12, 2016, at 17:37, whedon <notifications@github.com<mailto:notifications@github.com>> wrote:

EDITORIAL ASSIGNMENTS

Editor  Assignments
@acabunoc       2
@arfon  8
@cMadan 1
@danielskatz    2
@jakevdp        2
@karthik        1

[2016-11-13 00:40] labarba commented on #94
Topic-wise, not in my area of expertise. I could activate some contacts to see if a reviewer can be located, but would not be able to moderate if author and reviewer disagree.

[2016-11-13 00:48] labarba commented on #94
We're looking for volunteers to review this submission to JOSS. It is a **sci-kit-learn** compatible project. Any chance that we could get a review from @amueller, @GaelVaroquaux or maybe @NelleV?

[2016-11-13 00:48] arfon commented on #94
@danielskatz - `¯\_(ツ)_/¯` I guess so? Currently there's little/no visibility into who is reviewing what....and we've got 8 submissions currently without an editor. Just trying out some tooling to help make sure we have a relatively even load on each editor.

Any suggestions for improvements would be very welcome :-)

Understood. Would you be willing to start editing this and if there's a disagree

[2016-11-13 00:52] danielskatz commented on #94
Maybe we should also look at how many papers we have edited in the last 3 and 12 months (yes, I know 12 months won't say different, *yet*)

[2016-11-13 00:53] arfon commented on #94
Yeah. That's a good point. I'll look at adding that.

[2016-11-13 00:57] whedon opened #109 "[PRE REVIEW]: SurvivalVolume: interactive volume threshold survival graphs"
**Submitting author:** @genomematt (<a href="http://orcid.org/0000-0001-6624-4698">Matthew J Wakefield</a>)
**Repository:** <a href="https://github.com/genomematt/survivalvolume" target ="_blank">https://github.com/genomematt/survivalvolume</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @janschulz

**What this issue is for**

Thanks for submitting your paper to JOSS @genomematt. The JOSS

[2016-11-13 00:57] whedon commented on #109
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-13 10:21] GaelVaroquaux commented on #94
I really don't have the time to do everything that I should be
doing. And, to be honest, if I find time, I'd rather review PRs in
scikit-learn, where we have a terrible backlog.

Sorry :$

[2016-11-13 13:09] arfon commented on #109
@whedon assign @arfon as editor

[2016-11-13 13:12] arfon commented on #109
@whedon commands

[2016-11-13 13:12] whedon commented on #109
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-11-13 13:12] arfon commented on #109
@whedon list reviewers

[2016-11-13 13:12] whedon commented on #109
Here's the current list of JOSS reviewers: https://gist.github.com/arfon/5317c568cb32c7b917fea3c13958131d

[2016-11-13 13:14] arfon commented on #109
@whedon assign @arfon as editor

[2016-11-13 13:16] arfon commented on #109
@whedon assign @arfon as editor

[2016-11-13 13:25] danielskatz commented on #94
Thinking about the general editor balance issue a bit more...

I don't think our goal should be to balance work across editors.  We should be assigning reviews to editors based on topics.  If an editor is getting too many submission in a given topic, we should add another editor in that topic.

I think the PeerJ CS model is what we should be following here, add editors as needed, and when there ar

[2016-11-13 13:41] arfon commented on #109
@whedon assign @arfon as editor

[2016-11-13 13:54] arfon commented on #109
@whedon assign @arfon as editor

[2016-11-13 13:54] whedon commented on #109
OK, the editor is @arfon

[2016-11-13 13:55] arfon commented on #109
@whedon list reviewers

[2016-11-13 13:55] whedon commented on #109
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2016-11-13 13:57] arfon commented on #109
👋  @janschulz - would you be willing to review this submission?

[2016-11-13 14:23] janschulz commented on #109
Looked at this and I found that the install instruction contain this:

On mpl3d, there is an issue about releasing a 0.3 version (https://github.com/mpld3/mpld3/issues/398), so I would currently wait until that has happend

[2016-11-13 20:37] arfon commented on #109
@janschulz - given your comment above it sounds like you're willing to review this for us? If so, I'll get started with opening the actual review issue.

[2016-11-13 20:39] whedon opened #110 "[PRE REVIEW]: finreportr - Financial Data from U.S. Securities and Exchange Commission"
**Submitting author:** @sewardlee337 (<a href="http://orcid.org/0000-0001-5583-035X">Seward Lee</a>)
**Repository:** <a href="https://github.com/sewardlee337/finreportr" target ="_blank">https://github.com/sewardlee337/finreportr</a>
**Version:** v1.0.1
**Editor:** @arfon
**Reviewer:** @jsta

**What this issue is for**

Thanks for submitting your paper to JOSS sewardlee337. The JOSS editor (shown

[2016-11-13 20:39] whedon commented on #110
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-13 20:41] arfon commented on #110
👋 @sewardlee337, thanks for submitting this package to JOSS. Before we get started finding an editor and reviewer could you confirm that this software has a research application? In particular, our submission guidelines state:

What is the research challenge that this software is designed to address?

[2016-11-13 21:42] germonprez commented on #38
Changes to the statement of need have been merged

[2016-11-13 22:03] janschulz commented on #109
Yes, please do, but before or after the release of upstream dependencies?

[2016-11-13 23:09] sewardlee337 commented on #110
@arfon thank you for prepping my package for review!

My package contributes to research in empirical finance by automating the download of data relating to financial health and transactions of publicly-listed companies, thus speeding-up and simplifying the financial research workflow.

My paper summary has been updated accordingly.

[2016-11-13 23:30] genomematt commented on #109
Hi Jan,
The timeline for mpld3 v0.3 is still uncertain, and I have another publication coming in which I wish to use (and therefore cite) this package.
The only significant issue with mpld3 v0.2 is the rendering of the steps in the Kaplan Meier graph.  This only impacts the dual plots and only when done as interactive html.
The html version of the user guide was constructed with mpld3 v0.2

There

[2016-11-14 00:28] arfon commented on #109
@whedon start review magic-word=bananas

[2016-11-14 00:29] arfon commented on #109
@whedon assign @janschulz as reviewer

[2016-11-14 00:29] whedon commented on #109
OK, the reviewer is @janschulz

[2016-11-14 00:29] arfon commented on #109
@whedon start review magic-word=bananas

[2016-11-14 00:29] whedon opened #111 "[REVIEW]: SurvivalVolume: interactive volume threshold survival graphs"
**Submitting author:** @genomematt (<a href="http://orcid.org/0000-0001-6624-4698">Matthew J Wakefield</a>)
**Repository:** <a href="https://github.com/genomematt/survivalvolume" target ="_blank">https://github.com/genomematt/survivalvolume</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @janschulz
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.200268" target="_blank">10.5281/zeno

[2016-11-14 00:29] whedon commented on #109
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/111. Feel free to close this issue now!

[2016-11-14 00:29] whedon commented on #111
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-14 00:30] arfon commented on #109
@janschulz @genomematt let's continue the review over in #111

[2016-11-14 00:30] #109 closed

[2016-11-14 00:31] arfon commented on #110
@whedon list editors

[2016-11-14 00:31] whedon commented on #110
Current JOSS editors:

[code]

[2016-11-14 00:32] arfon commented on #110
@whedon list reviewers

[2016-11-14 00:32] whedon commented on #110
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2016-11-14 00:33] arfon commented on #110
:wave: @jsta - do you think you'd be able to review this submission? It's in R and looks to be some kind of API client library.

[2016-11-14 02:17] whedon opened #112 "[PRE REVIEW]: Multilocus sequence typing by blast from de novo assemblies against PubMLST"
**Submitting author:** @andrewjpage (<a href="http://orcid.org/0000-0001-6919-6062">Andrew Page</a>)
**Repository:** <a href="https://github.com/sanger-pathogens/mlst_check" target ="_blank">https://github.com/sanger-pathogens/mlst_check</a>
**Version:** v2.1.1630910
**Editor:** @pjotrp
**Reviewer:** @harmn

**What this issue is for**

Thanks for submitting your paper to JOSS @andrewjpage. The JOS

[2016-11-14 02:17] whedon commented on #112
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-14 02:17] arfon commented on #112
👋 @pjotrp. Would you be willing to edit this submission?

[2016-11-14 02:20] whedon opened #113 "[PRE REVIEW]: GERMSbrowser: Proof of concept for interfacing between clinical samples and analyzed phylogenetic tree for infection relationship and possible outbreak detection"
**Submitting author:** @chenjqp (<a href="http://orcid.org/0000-0003-1867-7127">Pauline Chen</a>)
**Repository:** <a href="https://bitbucket.org/srcapps/germs-browser" target ="_blank">https://bitbucket.org/srcapps/germs-browser</a>
**Version:** 1.0.0
**Editor:** @mgymrek
**Reviewer:** Pending

**What this issue is for**

Thanks for submitting your paper to JOSS @chenjqp. The JOSS editor (shown at

[2016-11-14 02:20] whedon commented on #113
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-14 02:23] arfon commented on #113
Thanks for submitting this @chenjqp. It's not clear from your submission or the documentation [here](https://bitbucket.org/srcapps/germs-browser) how complete this software is and whether it meets our submission guidelines. In particular we require that (quoting from http://joss.theoj.org/about#author_guidelines):

Could you confirm that this submission meets all three of these criteria?

[2016-11-14 02:26] whedon opened #114 "[PRE REVIEW]: FRIEDA: Flexible Robust Intelligent Elastic Data Management Framework"
**Submitting author:** dghoshal-lbl (<a href="http://orcid.org/0000-0002-6819-6949">Devarshi Ghoshal</a>)
**Repository:** <a href="https://bitbucket.org/dghoshal/frieda" target ="_blank">https://bitbucket.org/dghoshal/frieda</a>
**Version:** v0.3.0
**Editor:** @acabunoc
**Reviewer:** @krother

**What this issue is for**

Thanks for submitting your paper to JOSS dghoshal-lbl. The JOSS editor (shown

[2016-11-14 02:26] whedon commented on #114
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-14 02:26] arfon commented on #114
👋 @acabunoc and @tracykteal. Would either of you be willing to edit this submission for JOSS?

[2016-11-14 02:28] whedon opened #115 "[PRE REVIEW]: RAILS and Cobbler: Scaffolding and automated finishing of draft genomes using long sequences"
**Submitting author:** @warrenlr (<a href="http://orcid.org/0000-0002-9890-2293">Rene L. Warren</a>)
**Repository:** <a href="https://github.com/warrenlr/RAILS" target ="_blank">https://github.com/warrenlr/RAILS</a>
**Version:** v1.1
**Editor:** @biorelated
**Reviewer:** @andrewjpage

**What this issue is for**

Thanks for submitting your paper to JOSS @warrenlr. The JOSS editor (shown at the top

[2016-11-14 02:29] whedon commented on #115
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-14 02:30] arfon commented on #115
👋 @biorelated - would you be willing to edit this submission for JOSS?

[2016-11-14 04:26] pjotrp commented on #112
@whedon commands

[2016-11-14 04:26] whedon commented on #112
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-11-14 04:27] pjotrp commented on #112
@whedon assign @pjotrp as editor

[2016-11-14 04:27] whedon commented on #112
OK, the editor is @pjotrp

[2016-11-14 09:16] chenjqp commented on #113
Thanks for starting the pre-review process!

Research application: It enables non-bioinformaticians to easily view strain relationships and zoom in to the raw data underlying the visualization. One application in particular that is clear is for the identification of clusters of related strains. In a potential outbreak setting, having an immediate answer to whether closely related strains by epidem

[2016-11-14 09:34] stain commented on #107
Sorry, @remram44 not sure if I should tick the `accepted` label, I think @acabunoc as the editor will do that formally.

[2016-11-14 09:51] biorelated commented on #115
@whedon commands

[2016-11-14 09:51] whedon commented on #115
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-11-14 09:53] andrewjpage commented on #112
Hi,
I would like to suggest @happykhan as a reviewer. He is a software developer who works for Mark Achtman (who created MLST) and he has substantial experience in large scale MLST pipelines such as http://enterobase.warwick.ac.uk/

Andrew

[2016-11-14 09:54] biorelated commented on #115
@arfon I am happy to edit  :)

[2016-11-14 09:55] biorelated commented on #115
@whedon list reviewers

[2016-11-14 09:55] whedon commented on #115
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2016-11-14 10:02] biorelated commented on #115
@andrewjpage @pjotrp would you be in a position to suggest potential reviewers for this submission? I can then followup with them? Thank you.

[2016-11-14 10:09] andrewjpage commented on #115
I would be willing to review this.

[2016-11-14 11:08] biorelated commented on #115
@whedon assign @andrewjpage as reviewer

[2016-11-14 11:08] whedon commented on #115
I'm sorry @biorelated, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2016-11-14 11:09] biorelated commented on #115
Many thanks @andrewjpage! . @arfon let us assign @andrewjpage as a reviewer for this.

[2016-11-14 12:52] arfon commented on #115
@whedon assign @biorelated as editor

[2016-11-14 12:52] whedon commented on #115
OK, the editor is @biorelated

[2016-11-14 12:52] arfon commented on #115
@biorelated looks like I broken something in Whedon. Would you be able to try this again now? We should need the following two commands:

[code]

[2016-11-14 12:55] biorelated commented on #115
@whedon assign @andrewjpage as reviewer

[2016-11-14 12:55] whedon commented on #115
OK, the reviewer is @andrewjpage

[2016-11-14 12:56] biorelated commented on #115
@whedon start review magic-word=bananas

[2016-11-14 12:56] whedon commented on #115
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/116. Feel free to close this issue now!

[2016-11-14 12:56] whedon opened #116 "[REVIEW]: RAILS and Cobbler: Scaffolding and automated finishing of draft genomes using long sequences"
**Submitting author:** @warrenlr (<a href="http://orcid.org/0000-0002-9890-2293">Rene L. Warren</a>)
**Repository:** <a href="https://github.com/warrenlr/RAILS" target ="_blank">https://github.com/warrenlr/RAILS</a>
**Version:** v1.1
**Editor:** @biorelated
**Reviewer:** @andrewjpage
**Archive:** <a href="https://dx.doi.org/10.5281/zenodo.167092" target="_blank">https://dx.doi.org/10.5281/zenodo.1

[2016-11-14 12:56] whedon commented on #116
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-14 13:25] #115 closed

[2016-11-14 16:59] mlinksva commented on #38
Great, I see in https://github.com/DoSOCSv2/DoSOCSv2/pull/94

I don't know how the paper PDF is generated, but I've gone ahead and checked off the relevant items.

[2016-11-14 19:38] riordan commented on #91
@whedon start review

[2016-11-14 19:38] whedon commented on #91
I'm sorry @riordan, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2016-11-14 19:53] arfon commented on #91
@riordan - need any help? Looks like the review is already happening (you're checking items off the list)

[2016-11-14 19:56] whedon opened #117 "[PRE REVIEW]: Kactus2: A graphical EDA tool built on the IP-XACT standard"
**Submitting author:** @TermosPullo (<a href="http://orcid.org/0000-0003-2254-3332">Janne Virtanen</a>)
**Repository:** <a href="https://sourceforge.net/p/kactus2/code/HEAD/tree/trunk/" target ="_blank">https://sourceforge.net/p/kactus2/code/HEAD/tree/trunk/</a>
**Version:** 3.2.173
**Editor:** @labarba
**Reviewer:** @jflorence

**What this issue is for**

Thanks for submitting your paper to JOSS

[2016-11-14 19:56] whedon commented on #117
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-14 20:00] arfon commented on #117
Thanks for submitting this @TermosPullo. It's not clear from your submission or the documentation whether it meets our submission guidelines. In particular we require that (quoting from http://joss.theoj.org/about#author_guidelines):

Could you confirm that this submission meets these criteria? In particular, what research problem is does this software solve?

[2016-11-14 20:07] mlinksva commented on #38
Remaining checklist items.

**Functionality: Have the functional claims of the software been confirmed?**

README claims:

Scanning/storing/extracting it can plainly do (though one has to remember/guess/look in database without help from dosocs2 for integer package id in order to do the last, unless I'm missing something).

I'm not sure about easy creation of a bill of materials, unless raw SPDX d

[2016-11-14 20:54] pjotrp commented on #112
@whedon assign @harmn as reviewer

[2016-11-14 20:54] whedon commented on #112
OK, the reviewer is @harmn

[2016-11-14 21:05] pjotrp commented on #112
@whedon start review

[2016-11-14 21:05] whedon commented on #112
You didn't say the magic word! Try this:

[code]

[2016-11-14 21:05] pjotrp commented on #112
@whedon start review magic-word=bananas

[2016-11-14 21:05] whedon commented on #112
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/118. Feel free to close this issue now!

[2016-11-14 21:05] whedon opened #118 "[REVIEW]: Multilocus sequence typing by blast from de novo assemblies against PubMLST"
**Submitting author:** @andrewjpage (<a href="http://orcid.org/0000-0001-6919-6062">Andrew Page</a>)
**Repository:** <a href="https://github.com/sanger-pathogens/mlst_check" target ="_blank">https://github.com/sanger-pathogens/mlst_check</a>
**Version:** v2.1.1630910
**Editor:** @pjotrp
**Reviewer:** @harmn
**Archive:** <a href="http://dx.doi.org/10.6084/m9.figshare.4285097.v1" target="_blank">10.

[2016-11-14 21:05] whedon commented on #118
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-14 21:06] pjotrp commented on #112
@happykhan: feel free to pitch in with review

[2016-11-14 21:51] #112 closed

[2016-11-14 22:27] jsta commented on #110
Yes, I can review this.

[2016-11-14 22:28] arfon commented on #110
@whedon assign @arfon as editor

[2016-11-14 22:28] whedon commented on #110
OK, the editor is @arfon

[2016-11-14 22:29] arfon commented on #110
@whedon assign @jsta as reviewer

[2016-11-14 22:29] whedon commented on #110
OK, the reviewer is @jsta

[2016-11-14 22:29] arfon commented on #110
@whedon start review magic-word=bananas

[2016-11-14 22:29] whedon commented on #110
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/119. Feel free to close this issue now!

[2016-11-14 22:29] whedon opened #119 "[REVIEW]: finreportr - Financial Data from U.S. Securities and Exchange Commission"
**Submitting author:** @sewardlee337 (<a href="http://orcid.org/0000-0001-5583-035X">Seward Lee</a>)
**Repository:** <a href="https://github.com/sewardlee337/finreportr" target ="_blank">https://github.com/sewardlee337/finreportr</a>
**Version:** v1.0.1
**Editor:** @arfon
**Reviewer:** @jsta
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.192466" target="_blank">10.5281/zenodo.192466</a>

#

[2016-11-14 22:29] whedon commented on #119
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-14 22:29] #110 closed

[2016-11-14 22:30] arfon commented on #119
@jsta - many thanks for agreeing to review this submission. Please take a look at the [reviewer guidelines](http://joss.theoj.org/about#reviewer_guidelines) and check off items on the checklist above as you progress.

[2016-11-15 08:55] TermosPullo commented on #117
Kactus2 is a very large software suite for Model Driven Architecture (MDA) paradigm. The background was UML2.0-based HW/SW co-design, but we switched from UML2.0 to IP-XACT standard in 2009. Still the same principles apply, and the tool enables the development of system models at varying abstractions and modeling languages. The final goal is to fully automate the system design process starting fro

[2016-11-15 12:53] joergdietrich commented on #108
My preliminary review of Pyessence indicates that **major** modifications are required before the software can be accepted for publication in JOSS. I have started to open issues at the software issue tracker and will keep editing this comment as I add issues at the software repository and in this comment.

- **License:** Does the repository contain a plain-text LICENSE file with the contents of an

[2016-11-15 14:44] jakevdp commented on #108
Thank you for the thorough review, @joergdietrich. @leithes, I hope you will take a look at the issues raise here – I think addressing them will make your software much more impactful within your community!

[2016-11-15 16:09] germonprez commented on #38
Updates have been made and merged to the README.

1) removed the 'easy BOM' statement and just declared that it produces an SPDX document
2) included a DFD to represent a potential organizational use of dosocs2. It is quite possible that a company would use FOSSology and dosocs2. FOSSology is really a 1-off check of a software package. Dosocs2 is built with the intention of coordinating discovery

[2016-11-15 18:24] mlinksva commented on #38
Thanks. Suggestion was showing how dosocs2 could "be used in the creation and continuous maintenance of an inventory  of all open-source software used in" itself.

In any case I'm fine with checking off the remaining items now. Not having done a review here before, @arfon can I get a second opinion?

[2016-11-15 18:33] mlinksva commented on #38
Oh, one other thing, the title "DoSOCS: A System for Managing Open Source Risk" seems an exaggeration -- the DFD shows it is a tool that could be part of a system for managing open source risk. Also missing "v2". "DoSOCSv2: A System for SPDX 2.0 Document Creation and Storage" would seem more accurate to me.

Finally, just out of curiosity, what does DoSOCS stand for/expand to? Just realized I don'

[2016-11-15 19:33] germonprez commented on #38
Ok. These are fixed and being merged.

Regarding the name:

It used to be called DoSPDX when it was first a contribution to the Yocto project
We moved off the SPDX for a few reasons
We then went to SOCS (simple open compliance system) and kept the Do part

the v2 part is because it was a full rewrite of an earlier version of DoSOCS that had many technical problems. It just sort of stuck from that

[2016-11-15 19:49] mlinksva commented on #38
Thanks @germonprez. Not important for this review, but I'd suggest adding that background trivia the project's README#History ... makes the project a bit more approachable IMO.

[2016-11-15 19:50] germonprez commented on #38
Can do!

[2016-11-15 20:11] andrewjpage commented on #116
Good work @warrenlr and thanks for making all the changes I suggested.

[2016-11-15 22:40] acabunoc commented on #107
This looks great! Happy to accept this.

Thanks so much @stain & @remram44 🎉 🎈 🍰 🎁

Flagging @arfon because I'm actually not sure what the last step is. In the meantime, could you make sure there's an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive?

[2016-11-15 22:57] remram44 commented on #107
We have a DOI through Zenodo: [10.5281/zenodo.159604](https://doi.org/10.5281/zenodo.159604).

[2016-11-16 00:36] acabunoc commented on #107
Thanks for adding the link! Helpful.

[2016-11-16 00:39] arfon commented on #116
Thanks for completing the review @andrewjpage. I've reopened the issue as I haven't finished all of the editorial tasks yet for this paper.

@warrenlr - one small suggestion - would you mind renaming the `gpl-3.0.md` file to `LICENSE` - this is a more 'standard' way to include a license file in a repository.

[2016-11-16 02:38] warrenlr commented on #116
ok -- done

[2016-11-16 13:21] arfon commented on #111
@janschulz - I've just added the compiled paper PDF for your review.

[2016-11-16 13:26] arfon commented on #108
@leithes - please make sure that you move all footnotes into references in the `paper.bib` file and reference them as citations [like this](https://github.com/jgm/pandoc/wiki/Pandoc-vs-Multimarkdown#citations-and-bibliography).

[2016-11-16 13:28] arfon commented on #103
👋 @tknapen - could you give us an update on when you think you might be able to review this submission?

[2016-11-16 13:33] arfon commented on #102
@kweis - the `paper.md` won't compile as there aren't any references? Given you mention Astropy in your readme perhaps you should consider (at least) citing this package?

[2016-11-16 13:35] arfon commented on #116
Thanks @warrenlr. At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-11-16 13:37] arfon commented on #118
👋 @harmn - this is where the review for this submission take place. @pjotrp can help you with any questions you might have.

[2016-11-16 13:38] arfon commented on #119
@sewardlee337 - could you please move all of the references into the `paper.bib` file so that we can compile the paper?

[2016-11-16 13:46] arfon commented on #107
@remram44 - I don't seem to be able to find the `paper.md` (and associated `paper.bib`) file anywhere in this repository? Do you need to merge the `joss-paper` branch?

[2016-11-16 15:53] warrenlr commented on #116
Thank you @arfon for editing this submission.
The reviewed software is now archived, with DOI: 10.5281/zenodo.167092

Thanks,
Rene

[2016-11-16 19:20] sewardlee337 commented on #119
@arfon - references have been added to paper.bib. Thanks!

[2016-11-16 20:38] amueller commented on #94
On 11/13/2016 05:21 AM, Gael Varoquaux wrote:

Same here. Gilles Louppe might be a good candidate for this paper,
though I'm sure he's also busy.

[2016-11-17 05:32] biorelated commented on #116
Thank you @andrewjpage for reviewing the work. @arfon over to you for acceptance.

[2016-11-17 09:42] jponge commented on #93
@danielskatz I've just pushed documentation changes to address @stevenrbrandt feedback, see https://github.com/eclipse/golo-lang/commit/6167b7122a466820716e4068a4419bca07b57375

[2016-11-17 19:15] arfon commented on #116
@biorelated - many thanks for editing this submission. @andrewjpage - thanks for the review!

@warrenlr - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00116 🎉 🚀 💥

[2016-11-17 19:15] #116 closed

[2016-11-17 19:23] warrenlr commented on #116
This is great!
@arfon, @andrewjpage, @biorelated : many thanks for the swift review and the pleasant experience!

[2016-11-18 01:13] arfon commented on #117
Thanks for the background @TermosPullo. Apologies for restating my original question (this is very probably my ignorance here) but is MDA a topic of academic research?

[2016-11-18 01:59] arfon commented on #107
I think it should _eventually_ be on master (if that's your main branch).

[2016-11-18 02:02] arfon commented on #38
@mlinksva - yep, I think this is looking good. Thanks for checking (and reviewing 😄 )

[2016-11-18 02:39] mlinksva commented on #38
@arfon all checkboxes are checked. If there's anything else I need to do, just let me know.

[2016-11-18 09:13] TermosPullo commented on #117
MDA is the term used by omg.org that is a standardization organization. However, there is active research community that feeds their results to the standardization. The same applies to IP-XACT, standardized by IEEE. Our role is to propose new features and extension to the standards, as well as carry out independent research that might never end up in a standard. Despite MDA is a reserved word, the

[2016-11-18 13:50] arfon commented on #38
👍 thanks @mlinksva.

@germonprez - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-11-18 14:36] happykhan commented on #118
I can confirm that the program works as described, on real world data and meets all of the requirements stated here.

[2016-11-18 15:17] germonprez commented on #38
Thanks @arfon and @mlinksva :smiley:

@arfon does this work: https://dx.doi.org/10.6084/m9.figshare.4239665.v1

[2016-11-18 17:22] karantibrewal commented on #30
Hi @desilinguist, seems to be a dependency issue. We'll fix it for the package, but can you please confirm before that?

devtools::install_version("shiny", version="0.13.2",repos = "http://cran.us.r-project.org")
install.packages("backtestGraphics")
backtestGraphics(x = commodity)

This should work. Please let me know.

[2016-11-18 20:30] arfon commented on #38
@mlinksva many thanks again for the thorough review.

@germonprez - your paper is now accepted. Your DOI is http://dx.doi.org/10.21105/joss.00038 🚀 🎉 💥

[2016-11-18 20:30] #38 closed

[2016-11-18 20:38] arfon commented on #38
@germonprez - one issue I didn't catch during the processing is that you have my ORCID listed in the `paper.md` (https://raw.githubusercontent.com/DoSOCSv2/DoSOCSv2/master/paper/paper.md). If the authors have an ORCIDs could you please update the `paper.md` file with these? If not, please update and remove my ORCID so it's not associated with you 😁

[2016-11-19 00:34] desilinguist commented on #30
Thanks! I'm currently on vacation until early December but will take a look once I am back.

[2016-11-19 00:37] karantibrewal commented on #30
Thanks, Nitin. Safe travels.

On Nov 18, 2016 7:34 PM, "Nitin Madnani" <notifications@github.com> wrote:

[2016-11-19 16:50] germonprez commented on #38
done!

[2016-11-20 16:37] arfon commented on #38
Thanks.

[2016-11-20 22:22] n3mo commented on #50
Tests are now available! They are included in a separate directory in the repo, but can be ran directly with massmine. The [installation instructions](http://www.massmine.org/docs/install.html) have been updated with details. But running the tests is simple once all build dependencies are installed:

[code]

[2016-11-21 01:46] andyyao95 commented on #61
Hi @karthik,

I am wondering if there is any update from the reviewers. Please let me know if anything can be done on my end to faciliate the process.

Thanks!
Andy

[2016-11-21 12:25] arfon commented on #119
@jsta - here's the compiled paper: [10.21105.joss.00119.pdf](https://github.com/openjournals/joss-reviews/files/603509/10.21105.joss.00119.pdf)

[2016-11-21 17:13] mgymrek commented on #50
Great! @julianmcauley would you be able to take a look at the added tests?

[2016-11-21 18:51] cMadan commented on #103
I just send @tknapen a message via Twitter to also see if he is still able to be a reviewer here.

[2016-11-21 19:49] karthik commented on #61
Hi @andyyao95, Apologies for the delay but two folks I contacted declined the invitation to review. I'm still seeking out other reviewers. If you have any suggestions for people I should contact, please mention it in this thread or drop me a note (`karthik.ram at berkeley edu`).

[2016-11-21 20:38] dgrtwo commented on #61
I volunteer to review this. I'll have it done by Saturday.

I'm sorry the process has taken so long!

[2016-11-21 20:46] andyyao95 commented on #61
@karthik  @dgrtwo Thank you two so much! I look forward to hearing back from you guys.

Best,
Andy

[2016-11-21 23:02] cMadan commented on #103
@tknapen just replied on twitter here: https://twitter.com/Tknapen/status/800829930724610048

So, this should be moving along soon :)

[2016-11-22 08:28] chenjqp commented on #113
Hey there @arfon , just checking to see if I need to update the documentation to reflect the above information?

[2016-11-22 10:08] andrewjpage commented on #118
Thanks @happykhan
If you need some alternative suggestions for reviewers, heres some researchers who have written MLST code & are active on GitHub (and I have never published with):

@lskatz (CDC - Centers for Disease Control) https://github.com/lskatz/lyve-MLST
@aunderwo (PHE - Public Health England) https://github.com/phe-bioinformatics/MOST
@jacarrico (Universidade de Lisboa, Portugal) https://

[2016-11-22 21:53] markus2330 commented on #44
Together with our latest release [0.8.19](https://github.com/ElektraInitiative/libelektra/releases) I updated the paper and we created a tutorial that does not assume prior familiarity: http://tree.libelektra.org/doc/tutorials/mount.md

[2016-11-22 22:03] danielskatz commented on #44
@eschnett, back to you for updated review comments...

[2016-11-23 09:35] pjotrp commented on #118
Relax @andrewjpage. @harmn has agreed to review.

[2016-11-23 13:33] whedon opened #120 "[PRE REVIEW]: batchtools: Tools for R to work on batch systems"
**Submitting author:** @mllg (<a href="http://orcid.org/0000-0001-9754-0393">Michel Lang</a>)
**Repository:** <a href="https://github.com/mllg/batchtools" target ="_blank">https://github.com/mllg/batchtools</a>
**Version:** v0.9.0
**Editor:** @arfon
**Reviewer:** @masalmon

**What this issue is for**

Thanks for submitting your paper to JOSS @mllg. The JOSS editor (shown at the top of this issue)

[2016-11-23 13:33] whedon commented on #120
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-23 13:34] arfon commented on #120
@whedon assign @arfon as editor

[2016-11-23 13:34] whedon commented on #120
OK, the editor is @arfon

[2016-11-23 13:34] arfon commented on #120
@whedon list reviewers

[2016-11-23 13:34] whedon commented on #120
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2016-11-23 13:36] arfon commented on #120
👋  @pragyansmita - would you be willing to review this submission for us?

[2016-11-23 13:37] whedon opened #121 "[PRE REVIEW]: vbvs.concurrent: Fitting Methods for the Functional Linear Concurrent Model"
**Submitting author:** @jeff-goldsmith (<a href="http://orcid.org/0000-0002-6150-8997">Jeff Goldsmith</a>)
**Repository:** <a href="https://github.com/jeff-goldsmith/vbvs.concurrent" target ="_blank">https://github.com/jeff-goldsmith/vbvs.concurrent</a>
**Version:** v0.1
**Editor:** @cMadan
**Reviewer:** @fabian-s

**What this issue is for**

Thanks for submitting your paper to JOSS @jeff-goldsmit

[2016-11-23 13:37] whedon commented on #121
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-23 13:37] whedon opened #122 "[PRE REVIEW]: shmlast: An improved implementation of Conditional Reciprocal Best Hits with LAST and Python"
**Submitting author:** @camillescott (<a href="http://orcid.org/0000-0001-8822-8779">Camille Scott</a>)
**Repository:** <a href="https://github.com/camillescott/shmlast" target ="_blank">https://github.com/camillescott/shmlast</a>
**Version:** v1.0.2
**Editor:** @biorelated
**Reviewer:** @genomematt

**What this issue is for**

Thanks for submitting your paper to JOSS @camillescott. The JOSS edito

[2016-11-23 13:37] whedon commented on #122
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-23 13:37] whedon opened #123 "[PRE REVIEW]: data.adapt.multi.test: Data-Adaptive Statistics for High-Dimensional Testing"
**Submitting author:** @wilsoncai1992 (<a href="http://orcid.org/0000-0003-2680-3066">Weixin Cai</a>)
**Repository:** <a href="https://github.com/wilsoncai1992/data.adapt.multi.test" target ="_blank">https://github.com/wilsoncai1992/data.adapt.multi.test</a>
**Version:** 0.2.0
**Editor:** @karthik
**Reviewer:** @gavinsimpson

**What this issue is for**

Thanks for submitting your paper to JOSS @wi

[2016-11-23 13:37] whedon commented on #123
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-23 14:45] tknapen commented on #103
I have ticked all the relevant marks, and opened an issue thread in the Popeye repository pointing to the relevant open issues.

[2016-11-23 18:29] arfon commented on #113
Yes that would be helpful @chenjqp. I'm currently looking for a JOSS editor to handle this submission so hopefully we won't have to wait too long to get this moving.

[2016-11-23 18:47] Kevin-Mattheus-Moerman commented on #64
@roliveros-ramos are you still able to review this submission? Your help would be greatly appreciated.

[2016-11-23 18:55] Kevin-Mattheus-Moerman commented on #47
@v3c70r any more updates on progress? We'll give you the time you need but it would be good to keep the review process going.

[2016-11-24 11:44] harmn commented on #118
indeed, looking for some time to get on it.

Harm

On 23 Nov 2016, at 10:35, Pjotr Prins <notifications@github.com<mailto:notifications@github.com>> wrote:

Relax @andrewjpage<https://github.com/andrewjpage>. @harmn<https://github.com/harmn> has agreed to review.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/openjournals/jo

[2016-11-24 17:59] pjotrp commented on #94
@DannyArends would you care to review?

[2016-11-25 01:29] jscamac commented on #64
Sorry I was away when I was originally tagged in this message, and I forgot to respond.
I don't use Matlab so probably wouldn't be of use.
J

[2016-11-25 02:10] roliveros-ramos commented on #64
@Kevin-Mattheus-Moerman, I'm sorry for the lack of news.
It's been dificult to check the code. I got only MATLAB 2014a for Windows, but I never managed to install the mdbtool library.  I use Fedora but don't have MATLAB for linux available.
I do have C compilers available but I think the installation process for MS Windows is not as simple as described (not described, actually), mainly for the dep

[2016-11-25 04:48] julianmcauley commented on #50
Yes, certainly tests have been added, though to tell the truth I don't quite follow what functionality they really test. For twitter for instance the tests are:

`(test-begin "Twitter Module")

(test-assert "Twitter task descriptions" (list? twitter-task-descriptions))
(test-assert "Twitter task options" (list? twitter-task-options))
(test-assert "Search rate limit" (list? search-rate-limit))
(tes

[2016-11-25 10:20] DannyArends commented on #94
Hey all,

Sure I'll be the reviewer for this submission.

Gr,
Danny

[2016-11-25 14:14] whedon commented on #94
OK, the reviewer is @DannyArends

[2016-11-25 14:15] arfon commented on #94
@whedon start review magic-word=bananas

[2016-11-25 14:15] whedon opened #124 "[REVIEW]: Confidence Intervals for Random Forests in Python"
**Submitting author:** @kpolimis (<a href="http://orcid.org/0000-0002-3498-0479">Kivan Polimis</a>)
**Repository:** <a href="https://github.com/scikit-learn-contrib/forest-confidence-interval" target ="_blank">https://github.com/scikit-learn-contrib/forest-confidence-interval</a>
**Version:** .1
**Editor:** @jakevdp
**Reviewer:** @DannyArends
**Archive:** <a href="https://doi.org/10.5281/zenodo.10

[2016-11-25 14:15] whedon commented on #94
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/124. Feel free to close this issue now!

[2016-11-25 14:15] whedon commented on #124
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-25 14:18] arfon commented on #124
@DannyArends - 👋 this is the actual review issue. Please update the checklist above as you make progress.

[2016-11-25 14:19] arfon commented on #94
Closing as the review is now happening over in #124

[2016-11-25 14:19] #94 closed

[2016-11-26 00:59] Kevin-Mattheus-Moerman commented on #64
@jscamac That is okay. Thanks for your response.

[2016-11-26 01:14] Kevin-Mattheus-Moerman commented on #64
@roliveros-ramos thank you so much for your patience and hard work. If you have a MATLAB license associated with your MathWorks account you can likely download the linux version also. Although the download and installation would require quite a lot of your time.... If the authors are able to provide proper instructions for MS Windows, would you be willing to continue the review process at that poi

[2016-11-26 09:38] DannyArends commented on #124
Review of scikit-learn-contrib/forest-confidence-interval

I checked the initial boxes, the boxes I left unchecked have issues and are described point by point below:

**License:**
LICENCE file is not an OSI approved licence

**Installation:**
I couldn't install one of the dependencies, without root rights,
please describe that this might be needed in the documentation.

**Functionality:**
The sof

[2016-11-26 14:17] harmn commented on #118
I reviewed mlst_check: it installs and runs. Some issues/comments below, in general the documentation is a bit limited.

**Installation instructions**
Installation works fine on Ubuntu 16.04.1 LTS, but it does require root access/sudo rights or a docker installation. Might be good to mention that.

**Example usage**
I could not find the sample files described in the README.md file for the docker c

[2016-11-27 01:56] arfon commented on #124
👍 many thanks @DannyArends. @kpolimis please let us know here when you've had a chance to respond/address the reviewer feedback.

[2016-11-27 09:52] pjotrp commented on #118
@andrewjpage Do you mind addressing mentioned issues?

[2016-11-27 13:45] cMadan commented on #103
@tknapen - thanks for your help reviewing this, it looks like nearly everything is in order for the paper to be accepted.

@kdesimone - as noted, the version number doesn't match with what was submitted to JOSS. Would it be fair to refer to the current code as v.0.1.0, or do you mean v.0.1.0.dev to be distinct from that?

After that is resolved, I think we just need the code to be archived in a re

[2016-11-27 20:19] arfon commented on #103
👍 that's correct @cMadan. Once the review is complete @kdesimone please make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive.

[2016-11-27 22:55] mgymrek commented on #113
@whedon assign @mgymrek as editor

[2016-11-27 22:55] whedon commented on #113
OK, the editor is @mgymrek

[2016-11-27 22:58] mgymrek commented on #113
Hi @chenjqp, I noticed the wiki pages with install instructions say I don't have access to the wiki. Perhaps it is because I am unfamiliar with bitbucket and am missing something. Can you make sure those pages are publicly available so that a reviewer will be able to install the software?

[2016-11-28 02:03] arokem commented on #104
:hand: I can review this

[2016-11-28 02:31] arfon commented on #104
@whedon assign @arfon as editor

[2016-11-28 02:31] whedon commented on #104
OK, the editor is @arfon

[2016-11-28 02:31] arfon commented on #104
@whedon assign @arokem as reviewer

[2016-11-28 02:31] whedon commented on #104
OK, the reviewer is @arokem

[2016-11-28 02:32] arfon commented on #104
@whedon start review magic-word=bananas

[2016-11-28 02:32] whedon opened #125 "[REVIEW]: resampy: efficient sample rate conversion in Python"
**Submitting author:** @bmcfee (<a href="http://orcid.org/0000-0001-6261-9747">Brian McFee</a>)
**Repository:** <a href="https://github.com/bmcfee/resampy" target ="_blank">https://github.com/bmcfee/resampy</a>
**Version:** 0.1.4
**Editor:** @arfon
**Reviewer:** @arokem
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.192679" target="_blank">10.5281/zenodo.192679</a>

## Status

[![status](h

[2016-11-28 02:32] whedon commented on #104
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/125. Feel free to close this issue now!

[2016-11-28 02:32] whedon commented on #125
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-11-28 02:33] arfon commented on #125
👋 @arokem - many thanks for agreeing to review this. This is the main review issue - please work through the checklist as you progress and let me know if you run into any difficulties.

[2016-11-28 02:33] #104 closed

[2016-11-28 03:27] kdesimone commented on #103
Hi,

Here it is: https://zenodo.org/record/176596

[2016-11-28 11:14] andrewjpage commented on #118
@harmn Thanks for the comprehensive review.
@pjotrp Yes I will address all of the issues, but it will take me a few days.

[2016-11-28 11:49] cMadan commented on #121
@whedon commands

[2016-11-28 11:49] whedon commented on #121
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-11-28 11:50] cMadan commented on #121
@whedon assign @cMadan as editor

[2016-11-28 11:50] whedon commented on #121
OK, the editor is @cMadan

[2016-11-28 11:54] cMadan commented on #121
@jeff-goldsmith - I'm looking for a reviewer via Twitter, but any suggestions would be appreciated!

[2016-11-28 13:35] cMadan commented on #103
@whedon set 10.5281/zenodo.176596 as archive

[2016-11-28 13:35] whedon commented on #103
OK. <a href="http://dx.doi.org/10.5281/zenodo.176596" target="_blank">10.5281/zenodo.176596</a> is the archive.

[2016-11-28 13:36] cMadan commented on #103
@kdesimone - can you answer my question about the version number? After that's resolved, we're all set

[2016-11-28 14:07] kdesimone commented on #103
I actually incremented the version number to 0.2.0 when I added the DOI tag.

[2016-11-28 15:11] jeff-goldsmith commented on #121
Here are some folks who would be able to review the code and have expertise in the statistical area the package targets:
@fabian-s, @huangracer, @jgellar, @swihart, @Jfortin1, @mandymejia, @emsweene, @sbrockhaus.

Full disclosure -- I've worked with several of these people on other projects, especially those who have contributed to the [refund](https://github.com/refunders/refund) package. If noth

[2016-11-28 20:35] kakearney commented on #64
Response to reviewer:

I do have C compilers available but I think the installation process for MS Windows is not as simple as described (not described, actually), mainly for the dependencies of mdbtools itself. After several tries I gave up.

The limitation referred to here is related to the mdb2ecopathmodel.m function, one of several tools for importing model data into an ecopathmodel object fro

[2016-11-28 20:57] jponge commented on #93
Ping?

[2016-11-28 21:23] stevenrbrandt commented on #93
I had thought I'd commented that it looked good--not sure where the comment went.

[2016-11-28 21:28] danielskatz commented on #93
Ok, thanks - I see that everything is now checked.

@arfon, this one is ready to accept! :)

[2016-11-28 21:28] danielskatz commented on #93
@whedon commands

[2016-11-28 21:29] whedon commented on #93
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-11-28 22:05] Kevin-Mattheus-Moerman commented on #64
@kakearney thanks for your response. If you can suggest additional reviewers that would be great thanks.

[2016-11-28 22:36] kakearney commented on #64
I don't want to post emails to this thread, so I've emailed a couple
potential reviewers, and directed them to volunteer in this thread if they
are willing.

On Mon, Nov 28, 2016 at 2:05 PM, Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2016-11-29 00:18] mgymrek commented on #50
@n3mo I have also taken a look at the tests and am not totally sure what is being tested. Could you provide a brief description here?

[2016-11-29 01:32] chenjqp commented on #113
Hi @mgymrek, my apologies, I've updated the settings to allow for public access to the Wiki.

[2016-11-29 01:49] roliveros-ramos commented on #64
@kakearney: I do understand mdbtools is required for the mdb2ecopathmodel function only and I don't know if I miss the purpose of the package or not, but your script showing the functionality of the package relies in the Gen37 and Tb models, and both of them requires the `mdb2ecopathmodel` function, so I doesn't matter. I do know it is possible to install mdbtools on MS Windows but sadly I couldn'

[2016-11-29 09:50] quaquel commented on #97
I have successfully installed it on both mac and windows, under both python 2.7 and python 3.5.

[2016-11-29 09:52] quaquel commented on #97
I have used the various sampling techniques successfully. The claimed functionality is thus working.

[2016-11-29 15:53] cMadan commented on #103
@kdesimone - good to know, thanks!

@arfon - how should I change the version number? (I assume not just editing the first post in this issue thread?) Apart from that, we're all set here!

[2016-11-29 17:55] kyleniemeyer commented on #97
Thanks @quaquel! Could you check off the remaining reviewer questions at the top? Please note that in addition to the functionality, there are questions about the documentation and paper (which @arfon shared a link to a few comments ago).

@stijnvanhoey your comments are still also welcome!

[2016-11-29 18:06] kakearney commented on #64
Thank you for the additional clarification.

As I was preparing to respond to this comment, I received an email from a new ecopath_matlab user asking if I had a workaround for the mdbtools limitation on Windows.  So while I may consider that function a bonus feature, it's now obvious to me that users need a solution to import existing EwE6 models directly on a Windows system.  I will try to get th

[2016-11-29 19:35] remram44 commented on #107
@arfon: Is further action required on our part? I see that we haven't been added to joss-papers yet.

[2016-11-29 22:31] arfon commented on #93
Excellent. Thanks @danielskatz.

@jponge - at this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-11-29 23:29] arfon commented on #107
Sorry, this slipped through. On reflection I would like to see the `joss-paper` branch merged before I finalize this submission. Does that sound OK @remram44?

[2016-11-30 00:11] arfon commented on #103
@whedon set 10.5281/zenodo.176596 as archive

[2016-11-30 00:12] whedon commented on #103
OK. <a href="http://dx.doi.org/10.5281/zenodo.176596" target="_blank">10.5281/zenodo.176596</a> is the archive.

[2016-11-30 00:12] arfon commented on #103
😁 that's actually all it is. I'll do that now.

[2016-11-30 00:23] arfon commented on #103
Sorry I didn't catch this sooner @kdesimone but could you move the references into a `paper.bib` file (and cite them from the Markdown)? We need them to be in a separate file for processing the submission.

[2016-11-30 00:41] kdesimone commented on #103
No problem, I added the paper.bib and moved refs out of paper.md.

https://github.com/kdesimone/popeye/blob/master/popeye/paper.bib
https://github.com/kdesimone/popeye/blob/master/popeye/paper.md

[2016-11-30 03:08] jsta commented on #119
**Reviewers and authors**:

Please avoid lengthy details of difficulties in the review thread. Instead, please create a new issue in the <a href="https://github.com/sewardlee337/finreportr" target="_blank">target repository</a> and link to those issues (especially acceptance-blockers) in the review thread below. (For completists: if the target issue tracker is also on GitHub, linking the review th

[2016-11-30 03:14] jsta commented on #119
@arfon I ran into somewhat of a show-stopper bug with one of `finreportr`'s dependencies (see my comment above about `XBRL`). It seems like a bug in a dependency is out of the present author's control. I was able to patch it myself to test the `finreportr` functions but the everyday user may run into frustration. How should this be handled for the review?

[2016-11-30 03:25] sewardlee337 commented on #119
@jsta - Thank you for the advice! I will start implementing some of these fixes.

[2016-11-30 04:26] n3mo commented on #50
@julianmcauley and @mgymrek, thanks again for the continued feedback.

The various tests ensure a mixture of goals. In the simplest case, they ensure that the methods exist and that they exist in the proper format.  Tests for the Twitter and Tumblr modules amount essentially to this for reasons that I'll return to. The remaining modules (Google, Web URL, & Wikipedia) provide full tests of the vari

[2016-11-30 06:54] cMadan commented on #103
@arfon - is there as reason you set the archive DOI again?

[2016-11-30 16:46] remram44 commented on #107
I remember talking about this with @jakevdp but he didn't really give an answer. I think I like it better this way, in its own branch directly based off the reviewed version (1.0.8). There is no need to clutter the repository (CI scripts are already bad enough), and it will not be updated.

Your joss-papers repository is the authoritative one anyway, and I'll add a badge linking to it in my master

[2016-11-30 17:11] andrewjpage commented on #118
Hi @harmn
Thanks for reviewing this submission.

**Installation instructions
Installation works fine on Ubuntu 16.04.1 LTS, but it does require root access/sudo rights or a docker installation. Might be good to mention that.**

   I have clarified that root access is needed, and also added instructions for installing with HomeBrew/LinuxBrew (which doesn't need root).

**Example usage
I could not f

[2016-11-30 18:24] gymreklab commented on #113
Hi @chenjqp , I am still looking for reviewers for this. Feedback so far though: I and a colleague have gone through trying to get this set up and have found the installation process to be too cumbersome. There are many requirements (e.g. mysql, Google OAuth2, editing configuration documents) and I fear this precludes the software from accomplishing its goal for helping non-bioinformaticians visua

[2016-11-30 18:24] arfon commented on #103
This was because we were missing the field at the top of the issue (Archive: Pending) so the update that you requested didn't actually do anything :-)

I've now fixed this in https://github.com/openjournals/joss/commit/8fef34f8946c9d86e9486a7cc50cd2ddad485750

[2016-11-30 21:58] sewardlee337 commented on #119
Latest updates to `finreportr` per @jsta's suggestions and JOSS review checklist:

* `BugReports` added to `DESCRIPTION` and Feedback section added to `README.md`
* MIT License full text added to `LICENSE` per JOSS requirement
* `finreportr` vers 1.0.1 released on GitHub
* Long lines of code cut down where contextually appropriate

[2016-12-01 01:31] chenjqp commented on #113
Hi @mgymrek, thanks for the feedback! Let me work on that and I'll get back to you soon.

[2016-12-01 11:52] karantibrewal commented on #30
@desilinguist: Hey Nitin, this is just a gentle follow up. If you're back,
can you please confirm the above?

On Fri, Nov 18, 2016 at 7:37 PM, Tibrewal, Karan <kt3@williams.edu> wrote:

[2016-12-01 12:37] arfon commented on #107
OK no problem @remram44. As long as the `joss-papers` branch is permanent this is OK with me.

I've opened a PR on your repo (https://github.com/ViDA-NYU/reprozip/pull/227) with some changes that need to be made to the paper structure before we can finish processing this submission. Please let me know when you've made these changes 😁

[2016-12-01 13:41] jponge commented on #93
@arfon here you go! https://zenodo.org/record/192097

[2016-12-01 14:36] harmn commented on #118
@andrewjpage nice work
@pjotrp happy to accept this

[2016-12-01 17:14] mgymrek commented on #50
Thanks @n3mo for the explanation. This sounds reasonable to me. @arfon, I think we can accept this. what is the next step?

[2016-12-01 17:44] remram44 commented on #107
I merged [your changes](https://github.com/ViDA-NYU/reprozip/pull/227) and @VickySteeves added the requested [paper.bib](https://github.com/ViDA-NYU/reprozip/blob/joss-paper/paper/paper.bib).

[2016-12-01 17:58] kdesimone commented on #103
Are we waiting on me for anything?

[2016-12-01 19:24] desilinguist commented on #30
I followed your provided instructions and I still don't see the graphs.
<img width="1494" alt="screen shot 2016-12-01 at 2 24 16 pm" src="https://cloud.githubusercontent.com/assets/161680/20808793/e5827826-b7d1-11e6-96bc-886961a98eb1.png">

[2016-12-01 21:47] cMadan commented on #103
@kdesimone, I think you're all set. @arfon needs to compile the revised paper.md and officially accept the submission.

[2016-12-01 21:49] kdesimone commented on #103
OK great, just wanted to make sure.  Thanks!

[2016-12-01 23:09] arfon commented on #103
Many thanks for the review @tknapen and for editing this submission @cMadan.

@kdesimone - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00103 🚀 🎉 💥

[2016-12-01 23:09] #103 closed

[2016-12-01 23:12] arfon commented on #50
@n3mo - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-12-02 00:38] arfon commented on #107
@stain many thanks for the review here and thanks for editing this @acabunoc.

@remram44 - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00107 🚀 🎉 💥

[2016-12-02 00:38] #107 closed

[2016-12-02 00:42] arfon commented on #93
@whedon set 10.5281/zenodo.192097 as archive

[2016-12-02 00:42] whedon commented on #93
OK. <a href="http://dx.doi.org/10.5281/zenodo.192097" target="_blank">10.5281/zenodo.192097</a> is the archive.

[2016-12-02 00:52] arfon commented on #93
@stevenrbrandt many thanks for the review. @danielskatz thanks for editing this submission.

@jponge your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00093 🚀 🎉 💥

[2016-12-02 00:52] #93 closed

[2016-12-02 09:35] jponge commented on #93
Thanks everyone :-)

On Fri, Dec 2, 2016 at 1:52 AM, Arfon Smith <notifications@github.com>
wrote:

[2016-12-02 21:56] karantibrewal commented on #30
@desilinguist seems to still be a dependency issue. Can you please do the
following for me:

ip <- as.data.frame(installed.packages()[,c(1,3:4)])
ip <- ip[is.na(ip$Priority),1:2,drop=FALSE]
write.csv(ip, row.names=FALSE, file = 'package_versions.csv')

This should create a csv file for your R package/dependency versions. If
you could send that across to me, I should be able to find the issue.

Tha

[2016-12-02 22:40] jsta commented on #119
@arfon I think this submission is good to go as far as acceptance pending your opinion on the `XBRL` (dependency of the present submission) bug described at: https://github.com/sewardlee337/finreportr/issues/1

[2016-12-03 12:37] arfon commented on #119
Thanks @jsta. I agree this is good to move forward.

@sewardlee337 - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-12-03 19:16] sewardlee337 commented on #119
Thank you @jsta and @arfon!

The DOI of the software archive is http://doi.org/10.5281/zenodo.192466

[2016-12-03 21:00] arokem commented on #125
👍 from me for publication.

See:

https://github.com/bmcfee/resampy/issues/37
https://github.com/bmcfee/resampy/issues/38
https://github.com/bmcfee/resampy/issues/39
https://github.com/bmcfee/resampy/issues/40
https://github.com/bmcfee/resampy/issues/41

[2016-12-04 08:50] pjotrp commented on #118
@arfon ready to accept.

[2016-12-04 19:54] ahalterman commented on #91
I merged a PR in that reorganizes how it deals with the data download, which is something you had changed, @riordan. This is sort of a general JOSS question, should I re-release the repo and change which version is being submitted? Or should we keep going with the existing version? The differences aren't too big so it shouldn't matter too much either way.

[2016-12-04 21:58] arfon commented on #118
@andrewjpage - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-12-04 22:17] arfon commented on #91
@ahalterman - I would recommend making a new release once the review is complete and all of the changes (associated with the review) have been made.

[2016-12-04 22:23] arfon commented on #119
@whedon commands

[2016-12-04 22:23] whedon commented on #119
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-12-04 22:23] arfon commented on #119
@whedon set 10.5281/zenodo.192466 as archive

[2016-12-04 22:23] whedon commented on #119
OK. <a href="http://dx.doi.org/10.5281/zenodo.192466" target="_blank">10.5281/zenodo.192466</a> is the archive.

[2016-12-05 09:33] andrewjpage commented on #118
I've added it to Figshare as: https://dx.doi.org/10.6084/m9.figshare.4285097.v1

[2016-12-05 12:27] arfon commented on #118
@whedon set 10.6084/m9.figshare.4285097.v1 as archive

[2016-12-05 12:27] whedon commented on #118
OK. <a href="http://dx.doi.org/10.6084/m9.figshare.4285097.v1" target="_blank">10.6084/m9.figshare.4285097.v1</a> is the archive.

[2016-12-05 12:38] arfon commented on #118
Many thanks for the review @harmn and for editing this one @pjotrp.

@andrewjpage - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00118 ⚡️ 🚀 💥

[2016-12-05 12:38] #118 closed

[2016-12-05 12:44] arfon commented on #119
@jsta many thanks for the review here.

@sewardlee337 - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00119 :zap: 🚀 💥

[2016-12-05 12:44] #119 closed

[2016-12-05 12:45] danielskatz commented on #44
ping: @eschnett

[2016-12-05 12:46] arfon commented on #125
⚡️ many thanks @arokem.

@bmcfee - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-12-05 12:48] arfon commented on #120
@masalmon - would you be willing to review this submissions for JOSS?

[2016-12-05 12:49] arfon commented on #122
@whedon list editors

[2016-12-05 12:49] whedon commented on #122
Current JOSS editors:

[code]

[2016-12-05 12:49] arfon commented on #122
@biorelated - would you be willing to edit this submission for JOSS?

[2016-12-05 12:51] arfon commented on #123
@karthik - would you be able to edit this submission for JOSS?

[2016-12-05 12:51] whedon opened #126 "[PRE REVIEW]: Effective-Quadratures: Polynomials for Computational Engineering Studies"
**Submitting author:** @psesh (<a href="http://orcid.org/0000-0002-7351-012X">Pranay Seshadri</a>)
**Repository:** <a href="https://github.com/Effective-Quadratures/Effective-Quadratures/blob/master/joss/paper.md" target ="_blank">https://github.com/Effective-Quadratures/Effective-Quadratures/blob/master/joss/paper.md</a>
**Version:** v3.0
**Editor:** @katyhuff
**Reviewer:** @nicoguaro

**What thi

[2016-12-05 12:51] whedon commented on #126
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-05 12:52] arfon commented on #126
@katyhuff - would you be able to edit this submission for JOSS?

[2016-12-05 12:52] whedon opened #127 "[PRE REVIEW]: UnitParser, a comprehensive unit parsing library"
**Submitting author:** @varocarbas (<a href="http://orcid.org/0000-0002-9772-9716">Alvaro Carballo Garcia</a>)
**Repository:** <a href="https://github.com/varocarbas/FlexibleParser/tree/master/all_code/UnitParser/Source/" target ="_blank">https://github.com/varocarbas/FlexibleParser/tree/master/all_code/UnitParser/Source/</a>
**Version:** 1.0.6174.20320
**Editor:** Pending
**Reviewer:** Pending

*

[2016-12-05 12:52] whedon commented on #127
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-05 12:53] masalmon commented on #120
@arfon Yes! I'll do that next week.

[2016-12-05 12:53] whedon opened #128 "[PRE REVIEW]: Pyret: A Python package for analysis of neurophysiology data"
**Submitting author:** @nirum (<a href="http://orcid.org/0000-0002-3946-4705">Niru Maheswaranathan</a>)
**Repository:** <a href="https://github.com/baccuslab/pyret" target ="_blank">https://github.com/baccuslab/pyret</a>
**Version:** v0.5.0
**Editor:** @arokem
**Reviewer:** @kdesimone

**What this issue is for**

Thanks for submitting your paper to JOSS @nirum. The JOSS editor (shown at the top of

[2016-12-05 12:53] whedon commented on #128
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-05 12:58] whedon opened #129 "[PRE REVIEW]: pyuvdata: an interface for astronomical interferometeric datasets in python"
**Submitting author:** bhazelton (<a href="http://orcid.org/0000-0001-7532-645X">Bryna J. Hazelton</a>)
**Repository:** <a href="https://github.com/HERA-Team/pyuvdata" target ="_blank">https://github.com/HERA-Team/pyuvdata</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @astrofrog

**What this issue is for**

Thanks for submitting your paper to JOSS bhazelton. The JOSS editor (shown at the

[2016-12-05 12:58] whedon commented on #129
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-05 13:01] arfon commented on #129
@whedon assign @arfon as editor

[2016-12-05 13:01] whedon commented on #129
OK, the editor is @arfon

[2016-12-05 13:02] arfon commented on #129
👋  @astrofrog - would you be willing to review this submission for JOSS?

[2016-12-05 13:11] varocarbas commented on #127
@whedon commands

[2016-12-05 13:11] whedon commented on #127
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-12-05 13:15] varocarbas commented on #127
@whedon set 10.5281/zenodo.192338 as archive

[2016-12-05 13:15] whedon commented on #127
I'm sorry @varocarbas, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2016-12-05 14:17] bmcfee commented on #125
@arfon here it is: https://zenodo.org/record/192679

Thanks!

[2016-12-05 14:34] arfon commented on #125
@whedon set 10.5281/zenodo.192679 as archive

[2016-12-05 14:34] whedon commented on #125
OK. <a href="http://dx.doi.org/10.5281/zenodo.192679" target="_blank">10.5281/zenodo.192679</a> is the archive.

[2016-12-05 14:44] arfon commented on #125
@arokem many thanks for the review here!

@bmcfee - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00125 🚀 🎉 💥

[2016-12-05 14:44] #125 closed

[2016-12-05 14:47] bmcfee commented on #125
:shipit:

Thanks again, @arfon and @arokem (and you too, @whedon :robot:)!

[2016-12-05 16:07] katyhuff commented on #126
Yes!

On Mon, Dec 5, 2016 at 6:52 AM, Arfon Smith <notifications@github.com>
wrote:

--
http://katyhuff.github.com

[2016-12-05 17:12] sewardlee337 commented on #119
Thank you @arfon and @jsta for reviewing and accepting my paper!!

[2016-12-05 17:31] arfon commented on #126
@whedon assign @katyhuff as editor

[2016-12-05 17:31] whedon commented on #126
OK, the editor is @katyhuff

[2016-12-05 17:31] arfon commented on #126
Awesome. Thanks @katyhuff ✨

[2016-12-05 20:16] johnb30 opened #130 "Unopened review for submission."
First off, my apologies if this is the incorrect venue; please feel free to close the issue and point me towards a better avenue for discussion.

We submitted a paper to JOSS about a month ago, but still haven't seen it hit the review process. The submission is [here](http://joss.theoj.org/papers/78d3cb025a049782e7ea63a0c8ee79f6). Please let me know if any other details or information is needed fr

[2016-12-05 20:16] whedon commented on #130
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-05 23:18] whedon opened #131 "[PRE REVIEW]: PETRARCH2: Another Event Coding Program"
**Submitting author:** @johnb30 (<a href="http://orcid.org/0000-0001-7811-4399">John Beieler</a>)
**Repository:** <a href="https://github.com/openeventdata/petrarch2" target ="_blank">https://github.com/openeventdata/petrarch2</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @RichardLitt

**What this issue is for**

Thanks for submitting your paper to JOSS @johnb30. The JOSS editor (shown

[2016-12-05 23:18] whedon commented on #131
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-05 23:24] arfon commented on #130
@johnb30 - my apologies. This one slipped through the net. I've started the process over here https://github.com/openjournals/joss-reviews/issues/131

[2016-12-05 23:24] #130 closed

[2016-12-05 23:57] arfon commented on #131
@whedon assign @arfon as editor

[2016-12-05 23:57] whedon commented on #131
OK, the editor is @arfon

[2016-12-05 23:57] arfon commented on #131
@whedon commands

[2016-12-05 23:57] whedon commented on #131
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-12-05 23:57] arfon commented on #131
@whedon list reviewers

[2016-12-05 23:57] whedon commented on #131
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2016-12-05 23:58] arfon commented on #131
👋 @richardlitt - would you be willing to review this submission for JOSS?

[2016-12-06 03:46] biorelated commented on #122
@arfon yes I will. 👍

[2016-12-06 08:20] biorelated commented on #122
@whedon list reviewers

[2016-12-06 08:20] whedon commented on #122
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2016-12-06 12:25] arfon commented on #122
@whedon set @biorelated as editor

[2016-12-06 12:26] arfon commented on #122
@whedon assign @biorelated as editor

[2016-12-06 12:26] whedon commented on #122
OK, the editor is @biorelated

[2016-12-06 15:43] dghoshal-lbl commented on #114
Is there any update on the review process?

[2016-12-06 22:09] n3mo commented on #50
I've archived the software with Zenodo. The DOI is: 10.5281/zenodo.193078

[2016-12-06 23:03] arfon commented on #50
@whedon set 10.5281/zenodo.193078 as archive

[2016-12-06 23:03] whedon commented on #50
OK. <a href="http://dx.doi.org/10.5281/zenodo.193078" target="_blank">10.5281/zenodo.193078</a> is the archive.

[2016-12-06 23:57] andyyao95 commented on #61
Hi @dgrtwo .

I just wanted to check with you where the package is in the reviewing process. Thanks a ton!

Best,
Andy

[2016-12-07 00:52] arfon commented on #50
Many thanks for reviewing this one @julianmcauley and @mgymrek for editing this paper.

@n3mo - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00050 ⚡️ 🚀 💥

[2016-12-07 00:52] #50 closed

[2016-12-07 04:03] n3mo commented on #50
Thanks @arfon, @julianmcauley, and @mgymrek for your valuable feedback throughout this process.

[2016-12-07 04:37] karthik commented on #61
@whedon assign @dgrtwo as reviewer

[2016-12-07 04:37] whedon commented on #61
OK, the reviewer is @dgrtwo

[2016-12-07 04:54] genomematt commented on #111
hi @janschulz do you need anything else from me to progress this?

[2016-12-07 12:24] whedon opened #132 "[PRE REVIEW]: Ramble: Higher-Order Functions for Parsing in R"
**Submitting author:** @chappers (<a href="http://orcid.org/0000-0002-2089-3796">Chapman Siu</a>)
**Repository:** <a href="https://github.com/chappers/Ramble/tree/master/joss-paper" target ="_blank">https://github.com/chappers/Ramble/tree/master/joss-paper</a>
**Version:** v0.1.1
**Editor:** @arfon
**Reviewer:** @pjotrp

**What this issue is for**

Thanks for submitting your paper to JOSS @chapper

[2016-12-07 12:24] whedon commented on #132
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-07 12:26] arfon commented on #132
@whedon list reviewers

[2016-12-07 12:26] whedon commented on #132
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2016-12-07 12:27] arfon commented on #132
:wave: @wrathematics - would you be willing to review this submission for JOSS?

[2016-12-07 15:26] RichardLitt commented on #131
@arfon Sure thing.

[2016-12-07 16:17] arfon commented on #131
@whedon assign @RichardLitt as reviewer

[2016-12-07 16:17] whedon commented on #131
OK, the reviewer is @RichardLitt

[2016-12-07 16:18] arfon commented on #131
@whedon start review magic-word=bananas

[2016-12-07 16:18] whedon commented on #131
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/133. Feel free to close this issue now!

[2016-12-07 16:18] whedon opened #133 "[REVIEW]: PETRARCH2: Another Event Coding Program"
**Submitting author:** @johnb30 (<a href="http://orcid.org/0000-0001-7811-4399">John Beieler</a>)
**Repository:** <a href="https://github.com/openeventdata/petrarch2" target ="_blank">https://github.com/openeventdata/petrarch2</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @RichardLitt
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.224637" target="_blank">10.5281/zenodo.224637</a

[2016-12-07 16:18] whedon commented on #133
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-07 16:18] #131 closed

[2016-12-07 16:21] arfon commented on #133
👋 @RichardLitt - this is where the review actually happens. Please work through the checklist in the issue above (you should be able to check off items as you go).

Holler if you have any problems/questions.

[2016-12-07 21:07] janschulz commented on #111
@genomematt Will take the time tomorrow evening. Sorry for the long wait :-/

[2016-12-07 22:35] genomematt commented on #111
’Tis the season to be overworked.  Thanks.

On 8 Dec. 2016, at 8:07 am, Jan Schulz <notifications@github.com<mailto:notifications@github.com>> wrote:

@genomematt<https://github.com/genomematt> Will take the time tomorrow evening. Sorry for the long wait :-/

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/openjournals/joss-re

[2016-12-08 13:17] whedon opened #134 "[PRE REVIEW]: Optlang: A Python interface to common mathematical optimization solvers"
**Submitting author:** @KristianJensen (<a href="http://orcid.org/0000-0002-2796-805X">Kristian Jensen</a>)
**Repository:** <a href="https://github.com/biosustain/optlang" target ="_blank">https://github.com/biosustain/optlang</a>
**Version:** v1.0.0
**Editor:** @kyleniemeyer
**Reviewer:** @moorepants

**What this issue is for**

Thanks for submitting your paper to JOSS KristianJensen. The JOSS ed

[2016-12-08 13:17] whedon commented on #134
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-08 13:18] arfon commented on #134
@kyleniemeyer @labarba would either of you be wiling to edit this submission for JOSS?

[2016-12-08 13:19] arfon commented on #120
@whedon assign @masalmon as reviewer

[2016-12-08 13:19] whedon commented on #120
OK, the reviewer is @masalmon

[2016-12-08 13:20] arfon commented on #120
@whedon start review magic-word=bananas

[2016-12-08 13:20] whedon commented on #120
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/135. Feel free to close this issue now!

[2016-12-08 13:20] whedon opened #135 "[REVIEW]: batchtools: Tools for R to work on batch systems"
**Submitting author:** @mllg (<a href="http://orcid.org/0000-0001-9754-0393">Michel Lang</a>)
**Repository:** <a href="https://github.com/mllg/batchtools" target ="_blank">https://github.com/mllg/batchtools</a>
**Version:** v0.9.2
**Editor:** @arfon
**Reviewer:** @masalmon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.293835" target="_blank">10.5281/zenodo.293835</a>

## Status

[![status

[2016-12-08 13:20] whedon commented on #135
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-08 13:21] arfon commented on #135
👋  @masalmon - please carry out your review in this issue by updating the checklist above and giving feedback in this issue.

Any questions/concerns please let me know.

[2016-12-08 13:21] #120 closed

[2016-12-08 13:23] kyleniemeyer commented on #134
I can handle this one, unless @labarba prefers to.

[2016-12-08 20:03] janschulz commented on #111
Create a new conda env with `conda create -n "survivalvolume" python=3.5 matplotlib mpld3 lifelines scipy pandas numpy xlrd ipykernel` -> worked like a charm :-)

* License is GPL V3 -> :heavy_check_mark:
* Version in github and pip is v1.0.0b1 :question:
* most commits come from @genomematt :heavy_check_mark:
* installation works as outlines (ok, had to use `pip` instead of `pip3`, but both pypi

[2016-12-09 07:37] biorelated commented on #122
@Genomematt would you be  happy to review this work please?

[2016-12-09 11:51] whedon opened #136 "[PRE REVIEW]: Limarka: making possible Brazilian students writing dissertation and thesis with Markdown"
**Submitting author:** @edusantana (<a href="http://orcid.org/0000-0002-9165-9438">Eduardo Alexandre</a>)
**Repository:** <a href="https://github.com/abntex/limarka" target ="_blank">https://github.com/abntex/limarka</a>
**Version:** v0.5.2
**Editor:** @acabunoc
**Reviewer:** @alanlivio

**What this issue is for**

Thanks for submitting your paper to JOSS @edusantana. The JOSS editor (shown at the

[2016-12-09 11:51] whedon commented on #136
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-09 11:52] arfon commented on #136
👋 @acabunoc - would you be willing to edit this submission for JOSS?

[2016-12-09 16:39] acabunoc commented on #136
Yes! I can take a look next week

[2016-12-10 13:48] edusantana commented on #136
Thank you @acabunoc

I don't know if it's a problem, but the code, test, documentation, and examples are all writen in Portuguese.

[2016-12-11 13:47] masalmon commented on #135
Review

This is a really nice package! I think that I cannot realize how good it is because I've no parallel computing experience, but I can see it is a very complete package. @arfon by the way would it make sense to have a second review by someone a bit more experienced in the applications of such a package? Maybe the authors of the issues https://github.com/mllg/batchtools/issues/30 and https://

[2016-12-11 23:23] genomematt commented on #111
Thanks @janschulz I will fix those documentation issues, and mint a final 1.0.0 version (that was the purpose of being still a beta release).

[2016-12-12 04:43] v3c70r commented on #47
Sorry for the late reply.
In the latest update, a test has been added and a continuous integration is set up using TravisCI. The test is CPU only for now.

[2016-12-12 05:45] genomematt commented on #111
Ok @janschulz genomematt@c1cba47e490f766affffc2f108915a57bd5b0b87 should fix all the outstanding issues.
Uploaded to PyPI and new Zenodo DOI is 10.5281/zenodo.200268

[2016-12-12 05:55] genomematt commented on #111
As far as retention rate analysis / customer survival analysis there is only one potential way of parameterising that would make sense for survivalvolume.  If you had an activity measure you could use this in place of volume.  The obvious one would be days (or minutes) of inactivity, and then at a threshold you would declare them inactive.  Probably better with cumulative days of inactivity so it

[2016-12-12 14:42] arfon commented on #10
This paper is now withdrawn from JOSS.

[2016-12-12 14:42] #10 closed

[2016-12-12 14:44] arfon commented on #19
@Spencerx - could you please give us an update on this review?

[2016-12-12 14:46] arfon commented on #52
👋 @pragyansmita - are you still able to complete this review for us?

[2016-12-12 14:47] arfon commented on #53
Bump @rodrigovrgs - we're ready to accept this submission but need you to complete this last step before we can proceed.

[2016-12-12 14:49] arfon commented on #57
👋 @tracykteal - are you still able to complete this review for JOSS?

[2016-12-12 14:50] masalmon commented on #52
If she's not I can volunteer for this.

[2016-12-12 14:51] arfon commented on #102
Friendly bump @kweis.

[2016-12-12 14:54] arfon commented on #111
@whedon set 10.5281/zenodo.200268 as archive

[2016-12-12 14:54] whedon commented on #111
OK. <a href="http://dx.doi.org/10.5281/zenodo.200268" target="_blank">10.5281/zenodo.200268</a> is the archive.

[2016-12-12 14:58] arfon commented on #111
@janschulz can you confirm we're good to accept here?

[2016-12-12 14:59] arfon commented on #114
@whedon assign @acabunoc as editor

[2016-12-12 14:59] whedon commented on #114
OK, the editor is @acabunoc

[2016-12-12 15:00] arfon commented on #114
Apologies for the slow progress here. @acabunoc has agreed to edit this submission - her next task is to find a reviewer for this submission.

[2016-12-12 15:01] arfon commented on #121
Friendly bump @cMadan 😄 .

[2016-12-12 15:08] arfon commented on #124
Friendly bump @kpolimis.

[2016-12-12 15:15] arfon commented on #134
@whedon assign @kyleniemeyer as editor

[2016-12-12 15:15] whedon commented on #134
OK, the editor is @kyleniemeyer

[2016-12-12 15:15] arfon commented on #136
@whedon assign @acabunoc as editor

[2016-12-12 15:15] whedon commented on #136
OK, the editor is @acabunoc

[2016-12-12 16:37] eschnett commented on #44
@markus2330 The documentation is now much improved, thank you. However, the tutorials themselves are not quite there yet. I've provided some feedback in https://github.com/ElektraInitiative/libelektra/issues/1189 . Since a tutorial is not required by JOSS, this feedback won't affect my review.

@danielskatz I have examined the functionality of libelektra in a cursory manner. The library offers a l

[2016-12-12 16:39] danielskatz commented on #44
@eschnett yes

[2016-12-12 20:01] janschulz commented on #111
@arfon: yes, i looked at the new readme and the version and bot LGTM :-)

@genomematt Thanks for the timely response, especially after I let this slide!  :-/

[2016-12-12 20:03] janschulz commented on #111
@genomematt Ah, and also thank you for your explanation on using it for customer retention analysis!

[2016-12-13 01:17] arfon commented on #128
👋 @arokem would you be able to edit this submission for JOSS?

[2016-12-13 01:52] cMadan commented on #121
@fabian-s, @huangracer, @jgellar, @swihart, @Jfortin1, @mandymejia, @emsweene, @sbrockhaus - would any of you be interested in reviewing this package? It's fine if you've collaborated with @jeff-goldsmith, we just need to make sure the code is sufficiently described, documented, and functional (see http://joss.theoj.org/about#reviewer_guidelines)

[2016-12-13 03:56] arokem commented on #128
I'm on it. Let's see

@whedon commands

[2016-12-13 04:48] stijnvanhoey commented on #97
In general, I would like to congratulate the authors on the current work. This library is nicely structured, well documented and easy to setup. The issues raised require minor adaptations.

Some comments:
* As no statement is made about **performance**, this is already checked as such. Still, the current contributing guidelines information is giving an advice about potential benefits by vectorizin

[2016-12-13 06:17] kyleniemeyer commented on #97
Thanks @stijnvanhoey—both to you and @quaquel, what about the "Example usage" question above?

@jdherman: it looks like some issues/concerns have been raised regarding the testing, documentation, and community guidelines. Could you resolve/respond to these?

[2016-12-13 09:09] fabian-s commented on #121
I'd be willing to review it, but won't be able to make it before January. Is that acceptable?

[2016-12-13 13:53] arokem commented on #128
@whedon assign @kdesimone as reviewer

[2016-12-13 13:54] arokem commented on #128
@whedon assign @arokem as editor

[2016-12-13 13:55] arfon commented on #128
Hrm. Wondering why this isn't working...

[2016-12-13 13:55] arfon commented on #128
@whedon commands

[2016-12-13 14:02] whedon commented on #128
OK, the editor is @arokem

[2016-12-13 14:02] whedon commented on #128
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-12-13 14:42] arfon commented on #128
@whedon assign @kdesimone as reviewer

[2016-12-13 14:42] whedon commented on #128
OK, the reviewer is @kdesimone

[2016-12-13 14:42] arfon commented on #128
@whedon start review magic-word=bananas

[2016-12-13 14:42] whedon commented on #128
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/137. Feel free to close this issue now!

[2016-12-13 14:42] whedon opened #137 "[REVIEW]: Pyret: A Python package for analysis of neurophysiology data"
**Submitting author:** @nirum (<a href="http://orcid.org/0000-0002-3946-4705">Niru Maheswaranathan</a>)
**Repository:** <a href="https://github.com/baccuslab/pyret" target ="_blank">https://github.com/baccuslab/pyret</a>
**Version:** v0.5.0
**Editor:** @arokem
**Reviewer:** @kdesimone
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.232521" target="_blank">10.5281/zenodo.232521</a>

## Statu

[2016-12-13 14:43] whedon commented on #137
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-13 14:43] arfon commented on #128
@arokem - I managed to break @whedon earlier. He's fixed up now.

[2016-12-13 14:43] #128 closed

[2016-12-13 14:48] danielskatz commented on #44
whedon ping @arfon

[2016-12-13 14:49] danielskatz commented on #44
@whedon ping @arfon

[2016-12-13 14:56] arfon commented on #44
Yes I think this is acceptable.

If we're ready to move forward with accepting this submission then @markus2330 could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-12-13 14:58] eschnett commented on #44
I have checked the last box. I understand that @arfon will continue from here.

[2016-12-13 15:02] danielskatz commented on #44
Thanks @eschnett for doing more than you probably thought you would when you agreed to be a reviewer :)

[2016-12-13 15:25] markus2330 commented on #44
Thank you for all your efforts! Can I archive the latest released version (0.8.19) or do I have to use the version when the review process started (0.8.17). In the last round @eschnett looked at 0.8.19.

[2016-12-13 16:22] jdherman commented on #97
Thanks @stijnvanhoey and @kyleniemeyer. I'm at a conference right now but I will resolve the issues as soon as possible (hopefully next week).

[2016-12-13 16:23] arfon commented on #44
@markus2330 - please archive the latest released version (`0.8.19`)

[2016-12-13 16:57] rodrigovrgs commented on #53
Sorry for the delay @arfon I'll look into it asap.

[2016-12-13 17:17] rodrigovrgs commented on #53
I've created an archive with the reviewed software [at Zenodo](https://zenodo.org/record/200893), updated the doi and the master's branch *README.md*.

[![DOI](https://zenodo.org/badge/65995178.svg)](https://zenodo.org/badge/latestdoi/65995178)

Is that everything?

[2016-12-13 17:26] markus2330 commented on #44
Thank you! Here is the DOI
https://doi.org/10.5281/zenodo.200894
links to
https://zenodo.org/record/200894

I also updated the paper.md (some time ago, but more recent than the pdf linked above)

If you are interested on some "failed" attempts to create a DOI you may continue to read...

Zenodo did not allow to create a DOI for an existing release thus I cloned the repo and created a new release f

[2016-12-13 18:28] karthik commented on #61
@dgrtwo Hi Dave, can you update this thread when you get a chance? Thanks!

[2016-12-13 20:52] whedon opened #138 "[PRE REVIEW]: MODISSnow: Download MODIS Snow Cover Data with R"
**Submitting author:** @jmsigner (<a href="http://orcid.org/0000-0002-1771-7775">Johannes Signer</a>)
**Repository:** <a href="https://github.com/jmsigner/MODISSnow" target ="_blank">https://github.com/jmsigner/MODISSnow</a>
**Version:** v0.1
**Editor:** Pending
**Reviewer:** Pending

**What this issue is for**

Thanks for submitting your paper to JOSS jmsigner. The JOSS editor (shown at the top o

[2016-12-13 20:52] whedon commented on #138
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-14 00:42] kyleniemeyer commented on #134
@whedon commands

[2016-12-14 00:42] whedon commented on #134
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-12-14 00:42] kyleniemeyer commented on #134
@whedon list reviewers

[2016-12-14 00:42] whedon commented on #134
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2016-12-14 00:54] kyleniemeyer commented on #134
Hi @jordigh @jkahn would either of you be interested in helping review this?

I don't see any current reviewers with explicit expertise in optimization, so I sent out a request on Twitter: https://twitter.com/kyleniemeyer/status/808837158714806272

@KristianJensen any suggestions you have on possible domain-expert reviewers would be appreciated as well; I try to get two people, including one area

[2016-12-14 01:32] moorepants commented on #134
@kyleniemeyer I'd be interested in reviewing this. Can anyone review?

[2016-12-14 01:39] kyleniemeyer commented on #134
@moorepants absolutely! I was hoping to get someone familiar with SymPy, since this package relies on it. Please take a look at the [reviewer guidelines](http://joss.theoj.org/about#reviewer_guidelines), and add yourself as a reviewer via a PR to the [reviewer csv file](https://github.com/openjournals/joss/blob/master/docs/reviewers.csv).

[2016-12-14 01:39] kyleniemeyer commented on #134
@whedon assign @moorepants as reviewer

[2016-12-14 01:39] whedon commented on #134
OK, the reviewer is @moorepants

[2016-12-14 01:40] kyleniemeyer commented on #134
@whedon start review

[2016-12-14 01:40] whedon commented on #134
You didn't say the magic word! Try this:

[code]

[2016-12-14 01:40] kyleniemeyer commented on #134
@whedon start review magic-word=bananas

[2016-12-14 01:40] whedon commented on #134
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/139. Feel free to close this issue now!

[2016-12-14 01:40] whedon opened #139 "[REVIEW]: Optlang: A Python interface to common mathematical optimization solvers"
**Submitting author:** @KristianJensen (<a href="http://orcid.org/0000-0002-2796-805X">Kristian Jensen</a>)
**Repository:** <a href="https://github.com/biosustain/optlang" target ="_blank">https://github.com/biosustain/optlang</a>
**Version:** v1.0.0
**Editor:** @kyleniemeyer
**Reviewer:** @moorepants
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.228165" target="_blank">10.5281/zenodo.228

[2016-12-14 01:40] whedon commented on #139
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @moorepants it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're prob

[2016-12-14 02:38] #134 closed

[2016-12-14 06:07] moorepants commented on #139
Some initial notes:

- The installation was a bit fuzzy on the dependencies. I think that at least scipy and swiglpk should be pulled in automatically with install, see https://github.com/biosustain/optlang/issues/54 for more.
- It seems the JOSS submission author, @KristianJensen, is more of a [minor contributor of the software](https://github.com/biosustain/optlang/graphs/contributors). It seems

[2016-12-14 12:22] arfon commented on #135
Thanks for this review @masalmon. I agree it might make sense to solicit a second review here.

@HenrikBengtsson @jakob-r - as users of this package would either of you be willing to review this submission for JOSS? The process is very lightweight (basically going through the checklist above).

[2016-12-14 12:24] arfon commented on #52
@masalmon - that sounds great. Please go ahead.

[2016-12-14 12:24] arfon commented on #52
@whedon assign @masalmon as reviewer

[2016-12-14 12:24] whedon commented on #52
OK, the reviewer is @masalmon

[2016-12-14 12:25] masalmon commented on #52
Great @arfon thanks. @cvitolo I hope to do this this week-end.

[2016-12-14 12:46] arfon commented on #111
Thanks for the review @janschulz ✨

@genomematt - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00111 ⚡️ 🚀 💥

[2016-12-14 12:46] #111 closed

[2016-12-14 12:46] cvitolo commented on #52
@masalmon Thank you so much!!!

[2016-12-14 12:47] arfon commented on #53
@whedon set 10.5281/zenodo.200893 as archive

[2016-12-14 12:47] whedon commented on #53
OK. <a href="http://dx.doi.org/10.5281/zenodo.200893" target="_blank">10.5281/zenodo.200893</a> is the archive.

[2016-12-14 12:48] arfon commented on #53
👍 yes. I'm finishing up the submission now.

[2016-12-14 12:57] arfon commented on #53
@luizirber many thanks for the review here and @pjotrp many thanks for editing this submission :zap:

@rodrigovrgs - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00053 ⚡️ 🚀 💥

[2016-12-14 12:57] #53 closed

[2016-12-14 12:58] arfon commented on #44
@whedon set 10.5281/zenodo.200894 as archive

[2016-12-14 12:58] whedon commented on #44
OK. <a href="http://dx.doi.org/10.5281/zenodo.200894" target="_blank">10.5281/zenodo.200894</a> is the archive.

[2016-12-14 13:05] arfon commented on #44
@eschnett many thanks for reviewing this submission and @danielskatz thanks for editing ✨

@markus2330 - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00044 ⚡️ 🚀 💥

[2016-12-14 13:05] #44 closed

[2016-12-14 14:35] mllg commented on #135
@jakob-r has a conflict of interest. He is a coworker of mine.

[2016-12-14 15:12] arfon commented on #135
Understood. Thanks for the heads up.

[2016-12-14 15:23] KristianJensen commented on #139
@moorepants Thanks for your comments so far. Regarding the contributions:
Due to a mistake on my part (forgetting to set my email in git) that was recently corrected, the majority of my commits are not linked to my github user. Doing `git log | grep 'Author: Kristian' | wc` in the current master branch returns 115 commits authored by me.

The project was originally initiated by @phantomas1234 who

[2016-12-14 19:25] phantomas1234 commented on #139
I copy all of that. Thank you for your review and your valuable comments @moorepants. We could fix the commit history for github to report @KristianJensen's contributions accurately but that would be fairly destructive and we would like to avoid that.

[2016-12-14 19:34] moorepants commented on #139
Thanks for the clarification on the contributions. That's acceptable to me. No need to fix the git history. I assume that JOSS somehow includes all contributors as authors. So it should be fine.

[2016-12-14 19:37] HenrikBengtsson commented on #135
I'd be happy to review, but (regardless how easy it is) I will _not_ be able to get to this until January.

PS. I haven't started to use batchtools yet, but am definitely planning to dive into the details, cf. https://github.com/HenrikBengtsson/future.batchtools

[2016-12-14 19:37] kyleniemeyer commented on #139
@moorepants @phantomas1234 @KristianJensen I'll jump in here and state that JOSS does not require the lead/submitting author to be the person who has made the majority of commits/contributions to the original code.

[2016-12-14 19:40] moorepants commented on #139
My comments on contribution arise based on this checkbox: "Authorship: Has the submitting author (KristianJensen) made major contributions to the software?". When i looked at the Github contributors graph and commit list, it wasn't clear to me that this was satisfied. Can JOSS be more clear on what "major contributions" means?

Also @kyleniemeyer, can you clarify who JOSS assigns as authors to the

[2016-12-14 19:52] moorepants commented on #139
Additional items to address:

- [ ] State who the target audience is in the documentation statement of need.
- [ ] I recommend adding a CONTRIBUTING file that mirrors and maybe enhances this statement: http://optlang.readthedocs.io/en/latest/developers.html#contribute. You could be a little more explicit on where to seek support.
- [ ] Also in paper.md "who the target audience is".

[2016-12-14 19:54] moorepants commented on #139
I finished going through the initial look. I've tested the software (automated and examples). It's super cool. I think this is an excellent use of SymPy and very useful for solving many problems. Great work!

If you can address those concerns above, I'm happy to approve this.

[2016-12-14 21:08] kyleniemeyer commented on #139
@moorepants fair point. We don't really have an explicit definition of "major contribution"; it's mainly there to ensure we don't have someone submitting that isn't a contributor at all (and in any event the major contributors should certainly make up the author list). In this particular case, your question was certainly fine, but it seems the situation is fine as far as we're concerned.

We leave

[2016-12-14 21:52] astrofrog commented on #129
@arfon - very sorry for the delay, I'm happy to review this. I should have it done by the end of the week.

[2016-12-14 23:21] genomematt commented on #122
@whedon assign @genomematt as reviewer

[2016-12-14 23:21] whedon commented on #122
I'm sorry @genomematt, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2016-12-14 23:23] genomematt commented on #122
:hand: I will review @biorelated  ( @whedon is clearly too ethical to let me self assign )

[2016-12-15 00:22] arfon commented on #122
Lol. Yes, something like that.

[2016-12-15 00:23] arfon commented on #122
(I'll let @biorelated do the honors here but thanks in advance @genomematt)

[2016-12-15 00:25] arfon commented on #129
@whedon assign @astrofrog as reviewer

[2016-12-15 00:25] whedon commented on #129
OK, the reviewer is @astrofrog

[2016-12-15 00:25] arfon commented on #129
⚡️ thanks @astrofrog. I'll ping you on the actual review thread shortly.

[2016-12-15 00:26] arfon commented on #129
@whedon start review magic-word=bananas

[2016-12-15 00:26] whedon opened #140 "[REVIEW]: pyuvdata: an interface for astronomical interferometeric datasets in python"
**Submitting author:** @bhazelton (<a href="http://orcid.org/0000-0001-7532-645X">Bryna J. Hazelton</a>)
**Repository:** <a href="https://github.com/HERA-Team/pyuvdata" target ="_blank">https://github.com/HERA-Team/pyuvdata</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @astrofrog
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.297348" target="_blank">10.5281/zenodo.297348</a>

## S

[2016-12-15 00:26] whedon commented on #129
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/140. Feel free to close this issue now!

[2016-12-15 00:26] whedon commented on #140
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @astrofrog it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2016-12-15 00:26] #129 closed

[2016-12-15 00:26] arfon commented on #140
👋  @astrofrog - please do your review here updating the checklist as you go...

[2016-12-15 07:06] genomematt commented on #118
There are unformatted citations in the paper
[Seeman2016; Jolley2010]

[2016-12-15 09:20] andrewjpage commented on #118
Sorry Matt, I've fixed it now in the original markdown file.

[2016-12-15 11:58] arfon commented on #118
Thanks for the heads up @genomematt - this should be fixed now.

[2016-12-15 12:01] arfon commented on #135
👍 thanks for the heads up @HenrikBengtsson - that should be fine.

[2016-12-15 12:04] arfon commented on #139
That's correct, we don't have any hard and fast rules here. I too would expect these to mostly match but I'm sure there are scenarios where they won't.

[2016-12-15 19:59] cMadan commented on #121
@fabian-s - that's fine with me, thanks for volunteering!

[2016-12-15 20:00] cMadan commented on #121
@whedon assign @fabian-s as reviewer

[2016-12-15 20:00] whedon commented on #121
OK, the reviewer is @fabian-s

[2016-12-15 20:00] cMadan commented on #121
@whedon start review

[2016-12-15 20:00] whedon commented on #121
You didn't say the magic word! Try this:

[code]

[2016-12-15 20:00] cMadan commented on #121
@whedon start review magic-word=bananas

[2016-12-15 20:00] whedon opened #141 "[REVIEW]: vbvs.concurrent: Fitting Methods for the Functional Linear Concurrent Model"
**Submitting author:** @jeff-goldsmith (<a href="http://orcid.org/0000-0002-6150-8997">Jeff Goldsmith</a>)
**Repository:** <a href="https://github.com/jeff-goldsmith/vbvs.concurrent" target ="_blank">https://github.com/jeff-goldsmith/vbvs.concurrent</a>
**Version:** v0.1
**Editor:** @cMadan
**Reviewer:** @fabian-s
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.209506" target="_blank">10.52

[2016-12-15 20:00] whedon commented on #121
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/141. Feel free to close this issue now!

[2016-12-15 20:04] cMadan commented on #141
@fabian-s - The reviewer guidelines are here: http://joss.theoj.org/about#reviewer_guidelines

For the most part you need to see if the statements above in the first post are true and check things off accordingly. If something isn't the case, or you otherwise have a suggestion, either post a comment to @jeff-goldsmith here (or ask me) or make an issue in the project's repository (https://github.co

[2016-12-15 20:04] #121 closed

[2016-12-15 21:38] andim commented on #139
Regarding the point "statement of need" I have two suggestions:
- Point out more prominently in the documentation/README that optlang is a modeling language for optimization problems (as opposed to a package providing solvers)
- Feature the range of optimization problems supported (seems to be LP/QP/MILP currently) more prominently e.g. this info is missing in the README
- Discuss benefits/drawbac

[2016-12-16 16:34] fabian-s commented on #141
@jeff-goldsmith:

- In paper.md:
    - typo: line 20: "subjct"
    - please add author and affiliation
    - please add DOI for Wrobel, Park, Staicu, Goldsmith (2016)
- the shiny app does not show CIs for the estimated coefficient functions -- please correct the description of the plot given by `plot_shiny`.

[2016-12-16 19:07] jeff-goldsmith commented on #141
@fabian-s: thanks for the quick review!

the first and third of these are addressed in jeff-goldsmith/vbvs.concurrent@d550ab78ab1aa0f8ca4fea1f9951984bbd3f33ab.

the second seems to be an issue with the default latex template in rstudio, which may not support the header requested by JOSS; perhaps @cMadan can comment?

great catch! this is addressed in refunders/refund.shiny@e147d70c88fc4f4f061bbc77

[2016-12-17 16:02] masalmon commented on #52
This is a cool package, congrats on making the initial Fortran code in a package and available to R users!

## Reviewer questions
### Conflict of interest
- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (such as being a major contributor to the software).
### General checks
- [x] **Repository:** Is the source code for this software available at th

[2016-12-17 17:25] noamross commented on #138
Hello @jmsigner.  This package looks like it would be a great match for rOpenSci, which specializes in data-access packages like this and has a joint submittal process with JOSS.  If you are interested in this approach, you can find more info here: https://github.com/ropensci/onboarding

@arfon let me know if I'm stepping out of line poaching like this ;)

[2016-12-17 19:43] biorelated commented on #122
@whedon assign @genomematt as reviewer

[2016-12-17 19:43] whedon commented on #122
OK, the reviewer is @genomematt

[2016-12-17 19:44] biorelated commented on #122
Sorry @genomematt  for the delay i assigning the review task. I was away from Github the last 2 days. Glad you can review this!

[2016-12-17 19:44] #122 closed

[2016-12-18 11:26] cvitolo commented on #52
@masalmon Many thanks for your thourough review, your suggestions greaty improved the consistency of the package.

I'm planning to update the release when the review is finished.

I have added the description of the package (as in the paper) to the README and vignette as you suggested.

I have added many more tests and addressed all the issues.

I have added info on related packages and future dev

[2016-12-18 12:26] masalmon commented on #52
Looks good to me, thanks for your work @cvitolo ! 👏

@arfon I'd recommend accepting the paper now 😀

[2016-12-18 22:35] arfon commented on #138
@noamross - nope. Fine with me :-)

@jmsigner - let us know what you'd like to do here. If this package was accepted into rOpenSci then this paper would effectively be automatically accepted into JOSS.

[2016-12-18 22:36] whedon commented on #122
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/142. Feel free to close this issue now!

[2016-12-18 22:36] whedon opened #142 "[REVIEW]: shmlast: An improved implementation of Conditional Reciprocal Best Hits with LAST and Python"
**Submitting author:** @camillescott (<a href="http://orcid.org/0000-0001-8822-8779">Camille Scott</a>)
**Repository:** <a href="https://github.com/camillescott/shmlast" target ="_blank">https://github.com/camillescott/shmlast</a>
**Version:** v1.1
**Editor:** @biorelated
**Reviewer:** @genomematt
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.260437" target="_blank">10.5281/zenodo.260437<

[2016-12-18 22:36] whedon commented on #142
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @genomematt it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're prob

[2016-12-18 22:37] arfon commented on #122
@biorelated @genomematt - the actual review issue is over in #142

[2016-12-19 00:28] whedon opened #143 "[PRE REVIEW]: JSTORr: Simple exploratory text mining and document clustering of journal articles from JSTOR's Data for Research service."
**Submitting author:** @benmarwick (<a href="http://orcid.org/0000-0001-7879-4531">Ben Marwick</a>)
**Repository:** <a href="https://github.com/benmarwick/JSTORr" target ="_blank">https://github.com/benmarwick/JSTORr</a>
**Version:** 1.0.20161214
**Editor:** Pending
**Reviewer:** Pending

**What this issue is for**

Thanks for submitting your paper to JOSS @benmarwick. The JOSS editor (shown at th

[2016-12-19 00:28] whedon commented on #143
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-19 00:29] arfon commented on #143
@noamross is this one interesting to rOpenSci too :-)

[2016-12-19 00:29] whedon opened #144 "[PRE REVIEW]: SlicerITKUltrasound: A 3D Slicer extension for ultrasound image formation, processing, and analysis"
**Submitting author:** @thewtex (<a href="http://orcid.org/0000-0001-9475-3756">Matthew McCormick</a>)
**Repository:** <a href="https://github.com/KitwareMedical/SlicerITKUltrasound" target ="_blank">https://github.com/KitwareMedical/SlicerITKUltrasound</a>
**Version:** v0.2.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @lassoan

**What this issue is for**

Thanks for submitting your paper t

[2016-12-19 00:29] whedon commented on #144
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-19 00:30] whedon opened #145 "[PRE REVIEW]: eLabFTW - a free and open source electronic lab notebook"
**Submitting author:** @NicolasCARPi (<a href="http://orcid.org/0000-0002-7494-5555">Nicolas CARPI</a>)
**Repository:** <a href="https://github.com/elabftw/elabftw" target ="_blank">https://github.com/elabftw/elabftw</a>
**Version:** 1.4.0
**Editor:** @cMadan
**Reviewer:** @raamana

**What this issue is for**

Thanks for submitting your paper to JOSS @NicolasCARPi. The JOSS editor (shown at the to

[2016-12-19 00:30] whedon commented on #145
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-19 01:27] cMadan commented on #141
@jeff-goldsmith - I looked at the paper.md (https://raw.githubusercontent.com/jeff-goldsmith/vbvs.concurrent/master/paper.md) and I think you're okay. A few other recent accepted submissions similarly didn't have separate author/affiliation sections in the header, so it should compile fine.

[2016-12-19 01:32] cMadan commented on #141
@fabian-s - it looks like the submission is all set?

@jeff-goldsmith - if everything is all set, the last thing we'll need is for the repo to be archived in figshare or zenodo (and the DOI for the archive)

[2016-12-19 01:38] cMadan commented on #145
@whedon assign @cMadan as editor

[2016-12-19 01:38] whedon commented on #145
OK, the editor is @cMadan

[2016-12-19 02:34] raamana commented on #145
@whedon assign me as a reviewer!

[2016-12-19 03:15] cMadan commented on #145
@whedon assign @raamana as reviewer

[2016-12-19 03:15] whedon commented on #145
OK, the reviewer is @raamana

[2016-12-19 03:16] cMadan commented on #145
@whedon start review magic-word=bananas

[2016-12-19 03:16] whedon opened #146 "[REVIEW]: eLabFTW - a free and open source electronic lab notebook"
**Submitting author:** @NicolasCARPi (<a href="http://orcid.org/0000-0002-7494-5555">Nicolas CARPI</a>)
**Repository:** <a href="https://github.com/elabftw/elabftw" target ="_blank">https://github.com/elabftw/elabftw</a>
**Version:** 1.5.7
**Editor:** @cMadan
**Reviewer:** @JohnGriffiths
**Archive:** <a href="http://dx.doi.org/10.6084/m9.figshare.4868882" target="_blank">10.6084/m9.figshare.486888

[2016-12-19 03:16] whedon commented on #145
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/146. Feel free to close this issue now!

[2016-12-19 03:16] whedon commented on #146
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @raamana it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2016-12-19 03:18] cMadan commented on #145
For anyone coming across this pre-review issue from Twitter or otherwise, feel free to make suggestions in the review thread (https://github.com/openjournals/joss-reviews/issues/146) or as issues in the project's repository (https://github.com/elabftw/elabftw). While we don't need more reviewers, more constructive feedback to the authors is always good! :)

[2016-12-19 03:18] #145 closed

[2016-12-19 03:20] cMadan commented on #146
@raamana - I think you've reviewed for JOSS before, so you know how this works. Let me know if you have any questions for me, otherwise just check things off as appropriate and make comments to the authors here or as issues in the project's repo as makes sense :).

[2016-12-19 03:30] raamana commented on #146
Hey, @NicolasCARPi, you need to add a plain text LICENSE containing ones of the OSI approved licenses: https://opensource.org/licenses/alphabetical

[2016-12-19 03:30] raamana commented on #146
hey, @cMadan, sure, I will. Looks like it is all self-explanatory.

[2016-12-19 03:59] raamana commented on #146
To authors: I was able to follow all the steps outlined here at https://elabftw.readthedocs.io/en/latest/install-mac.html

and landed into an error at the final step.

See the image here:
<img width="709" alt="screen shot 2016-12-18 at 10 57 36 pm" src="https://cloud.githubusercontent.com/assets/3196357/21300838/a3e30ea6-c575-11e6-9251-1cf233b4e541.png">

[2016-12-19 04:16] raamana commented on #146
The description of the repo could be improved by opening with the 3 questions listed under the GIF and then proceeding with what is currently the first para.

Under the Installation section, authors could summarize the major requirements, write a line or two about the process, rather than simply linking to another site. This helps the user get an overall idea of the level of involvement and effort

[2016-12-19 04:28] jmsigner commented on #138
@noamross  thanks for suggesting rOpenSci. @arfon I will aim for the rOpenSci route.

[2016-12-19 08:52] fabian-s commented on #141
@cMadan @jeff-goldsmith  : yup, seems fine. merry christmas y'all :santa:

[2016-12-19 08:53] cMadan commented on #141
@fabian-s - you're all done, but I still need the DOI for the archive from @jeff-goldsmith

[2016-12-19 10:55] NicolasCARPi commented on #146
Dear @raamana , thank you for your constructive criticism :).

1. The licence file was removed from the root to be integrated first in a doc/ folder, which was then moved to another repo. I realize now that this repo does not have a plaintext licence file (although it is in the [documentation](https://elabftw.readthedocs.io/en/latest/license.html). Let me fix that (it is now done on hypernext bran

[2016-12-19 15:18] jeff-goldsmith commented on #141
@cMadan - DOI for the archive is doi.org/10.5281/zenodo.209506

thanks for an easy review process!

[2016-12-19 15:32] KristianJensen commented on #139
@moorepants We have now clarified who the target audience is, both in the paper and documentation and added a CONTRIBUTING.md file.

Furthermore as per the suggestions above (thanks @andim !) we have made it more clear that optlang is a modeling language (including a new paper title) and added currently supported solver capabilities to the readme. However we would prefer not to have lengthy compar

[2016-12-19 18:39] moorepants commented on #139
Thanks. All looks good to me now. I recommend for acceptance.

[2016-12-19 21:24] noamross commented on #143
@benmarwick If you're interested, we now have joint rOpenSci/JOSS submission, and this package looks like it would be a great match for rOpenSci. If you are interested in this approach, you can find more info here: https://github.com/ropensci/onboarding . You submit to rOpenSci first and then JOSS accepts based on the rOpenSci reviews.

[2016-12-20 02:00] daviddoria commented on #47
Sorry for so much whining about the build process, but I really think we should have a standard of "it just works, or at least there are very explicit instructions". I haven't tried working though this, but below what I'm now getting. Did you intend to provide Findglm.cmake ?

CMake Error at CMakeLists.txt:29 (find_package):
  By not providing "Findglm.cmake" in CMAKE_MODULE_PATH this project has

[2016-12-20 02:08] v3c70r commented on #47
I installed `glm` from [source code](https://github.com/g-truc/glm/releases/tag/0.9.8.3) and it can be found. It looks like that the `libglm-dev` package doesn't have the config file. I will provide a `findglm.cmake` to cover this situation.

[2016-12-20 08:53] cMadan commented on #141
@whedon set 10.5281/zenodo.209506 as archive

[2016-12-20 08:53] whedon commented on #141
OK. <a href="http://dx.doi.org/10.5281/zenodo.209506" target="_blank">10.5281/zenodo.209506</a> is the archive.

[2016-12-20 08:54] cMadan commented on #141
@jeff-goldsmith - thank YOU for the great submission! :)

@arfon - I think we're all set to accept here :)

[2016-12-20 11:51] arfon commented on #52
Thanks @masalmon!

@cvitolo - at this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-12-20 11:52] arfon commented on #138
👍  OK great. We'll pause this for now. Please comment on this thread when you've finished up the rOpenSci process and we can accept the paper here too.

[2016-12-20 12:05] arfon commented on #141
@fabian-s many thanks for the review here :zap: and thanks to @cMadan for editing this one! ✨

@jeff-goldsmith - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00141 ⚡️ 🚀 💥

[2016-12-20 12:05] #141 closed

[2016-12-20 17:10] cvitolo commented on #52
@arfon I just made a new release (v3.2), here is the new doi: http://doi.org/10.5281/zenodo.212822

[2016-12-20 18:11] benmarwick commented on #143
Righto, thanks for the suggestion, I have now submitted to rOpenSci at https://github.com/ropensci/onboarding/issues/86

[2016-12-21 01:16] arfon commented on #52
@whedon set 10.5281/zenodo.212822 as archive

[2016-12-21 01:16] whedon commented on #52
OK. <a href="http://dx.doi.org/10.5281/zenodo.212822" target="_blank">10.5281/zenodo.212822</a> is the archive.

[2016-12-21 01:24] arfon commented on #52
@masalmon @pragyansmita - many thanks for the review here ✨

@cvitolo - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00052 ⚡️ 🚀 💥

[2016-12-21 01:24] #52 closed

[2016-12-21 01:25] arfon commented on #132
@noamross - would this also be a good candidate for rOpenSci?

[2016-12-21 01:27] arfon commented on #127
@labarba - would you be willing to edit this submission for JOSS?

[2016-12-21 01:27] arfon commented on #144
@arokem - would you be willing to edit this submission for JOSS?

[2016-12-21 02:23] raamana commented on #146
Hi Nicolas,

The installation instructions for Composer do not work as noted on their website: https://getcomposer.org/download/
<img width="1106" alt="screen shot 2016-12-20 at 9 21 57 pm" src="https://cloud.githubusercontent.com/assets/3196357/21375294/77e2db98-c6fa-11e6-91b4-273d0e58b9e7.png">

Perhaps it may be better package it with your codebase to reduce the burden on the user, if at all it

[2016-12-21 11:08] NicolasCARPi commented on #146
Hello,

You are on a Mac right ? Try with http://.
See this issue https://github.com/composer/composer/issues/5685.

Also, composer should not be packaged with the software, it isn't a correct deployment strategy to do that. I used to have the `vendor` directory tracked by git, but I removed it to reduce the size of the repo.

Now you should know that the default and recommended way to install thi

[2016-12-22 05:21] raamana commented on #146
That clarification helps. I tried to follow the instructions as I was led. What this means is that the user at the very first entry point was not led to the recommended way to install it. So I would recommend updating the instructions to install to follow your line of thought (what you recommend and why), and only unveil more progressively advanced options only as needed, and with appropriate advi

[2016-12-22 08:54] NicolasCARPi commented on #146
Well, there is a WARNING saying exactly that on top of the Mac and Windows install pages. It is also repeated several times that it needs to be installed on a server, in the Readme, on the documentation home page, on the main website. I don't see how I can make it clearer!

![a](http://i.imgur.com/Gx9BZkH.png)

[2016-12-22 17:55] Kevin-Mattheus-Moerman commented on #64
@roliveros-ramos please can you pick up the review process again and consider the comments above by @kakearney

[2016-12-23 14:46] kyleniemeyer commented on #139
Thanks for the review @moorepants!

@KristianJensen I just made a few minor edits to the paper in https://github.com/biosustain/optlang/pull/57, please take a look and then merge those. After that, I think we will be good to go for acceptance in JOSS—you can then archive the software, and please provide the associated DOI here.

[2016-12-24 19:23] RichardLitt commented on #133
I believe that the software and possibly also the test dataset need DOIs. That, and the issues above, are blocking this. Not major blockers, just some small reworking needed.

[2016-12-24 19:23] RichardLitt commented on #133
@whedon commands

[2016-12-24 19:23] whedon commented on #133
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-12-24 19:24] RichardLitt commented on #133
Not sure how to say I consider my first pass done; given the linked issues above, this can be closed. Throwing this back into the author's camp for now.

[2016-12-24 19:30] johnb30 commented on #133
Hi @RichardLitt, thanks a ton for the review! We'll work over the next few days to update things and will drop a note in this issue when things are updated.

[2016-12-24 19:43] RichardLitt commented on #133
Sounds good.

General comments: This is well done. On a note that isn't technically needed but would be great - I'd like the answer to "Do the authors clearly state what problems the software is designed to solve and who the target audience is?" to be clearer in the document. Yes, you cover this, but I think the audience could be explicitly stated. I understand where the work is coming from, but s

[2016-12-26 02:50] whedon opened #147 "[PRE REVIEW]: AdMit: Adaptive mixture of Student-t distributions in R"
**Submitting author:** @ArdiaD (<a href="http://orcid.org/0000-0003-2823-782X">David Ardia</a>)
**Repository:** <a href="https://github.com/ArdiaD/AdMit" target ="_blank">https://github.com/ArdiaD/AdMit</a>
**Version:** 2.0.2
**Editor:** Pending
**Reviewer:** Pending

**What this issue is for**

Thanks for submitting your paper to JOSS ArdiaD. The JOSS editor (shown at the top of this issue) will

[2016-12-26 02:50] whedon commented on #147
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-26 02:51] whedon opened #148 "[PRE REVIEW]: bayesGARCH: Bayesian Estimation of the GARCH(1,1) Model with Student-t Innovations in R"
**Submitting author:** @ArdiaD (<a href="http://orcid.org/0000-0003-2823-782X">David Ardia</a>)
**Repository:** <a href="https://github.com/ArdiaD/bayesGARCH" target ="_blank">https://github.com/ArdiaD/bayesGARCH</a>
**Version:** 2.0.2
**Editor:** Pending
**Reviewer:** Pending

**What this issue is for**

Thanks for submitting your paper to JOSS @ArdiaD. The JOSS editor (shown at the top of this i

[2016-12-26 02:51] whedon commented on #148
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-26 04:43] pjotrp commented on #132
@whedon commands

[2016-12-26 04:43] whedon commented on #132
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-12-26 04:44] pjotrp commented on #132
@whedon assign @pjotrp as editor

[2016-12-26 04:44] whedon commented on #132
OK, the editor is @pjotrp

[2016-12-26 04:49] pjotrp commented on #132
Dear @chappers, before I look for a reviewer I would like to ask you why you think your project is relevant for science and do you have any applications in that area? Why is it not a proper R package with a vignette? I would like to read your PDF on slideshare, but to download it I need to register, something I will not do. Finally you'll need to make this FOSS with a proper license. Thanks.

[2016-12-26 05:27] chappers commented on #132
Hi @pjotrp the details of the package and license can probably be easier viewed from the [CRAN link](https://cran.r-project.org/web/packages/Ramble/index.html), the software is already in a package form with license and [vignette](https://cran.r-project.org/web/packages/Ramble/vignettes/Higher-Order_Functions_for_Parsing_in_R.html). The slideshare file is irrelevant to the review.

The key applica

[2016-12-26 14:59] labarba commented on #117
I have been in contact with the following people to help review or suggest reviewers:

Marilyn Wolf, School of ECE, Georgia Institute of Technology
http://www.ece.gatech.edu/research/labs/esl/wolf.html

Yung-Hsiang Lu, Associate Professor, ECE Purdue University
http://engineering.purdue.edu/HELPS/

In both cases, I have explained by email how JOSS works, and have provided links to previous review

[2016-12-26 15:07] labarba commented on #127
The repository for this submission has no License file, and no README. I don't know where to start ...

[2016-12-26 16:16] varocarbas commented on #127
@labarba It has both, although the structure of the repository/library-vs-part might be a bit confusing. Bear in mind that UnitParser is one of the parts of FlexibleParser (-> the name of the repository), which contains the main information like [license](https://github.com/varocarbas/FlexibleParser/blob/master/LICENSE) and a generic [readme file](https://github.com/varocarbas/FlexibleParser/blob/

[2016-12-27 02:51] johnb30 commented on #133
@RichardLitt as you saw I updated things in those two issues. I also added more into the paper body itself about the target audience and use cases. We greatly appreciate all of your feedback and input.

The only thing I wasn't sure about was the DOIs. If it's just the DOI for the paper I think that gets generated when the paper is accepted. Maybe @arfon can chime in?

[2016-12-27 15:00] RichardLitt commented on #133
Your changes also look good to me. @arfon can you clarify about the DOIs?

[2016-12-29 16:15] labarba commented on #117
@whedon assign @labarba as editor

[2016-12-29 16:15] whedon commented on #117
OK, the editor is @labarba

[2016-12-29 22:42] arfon commented on #148
@noamross - is this a good candidate for rOpenSci?

[2016-12-29 22:43] whedon opened #149 "[PRE REVIEW]: hmds: An R Package for Heuristic High and Multi Dimensional Scaling"
**Submitting author:** @jirotubuyaki (<a href="http://orcid.org/0000-0001-6871-7727">Masashi Okada</a>)
**Repository:** <a href="https://github.com/jirotubuyaki/hmds" target ="_blank">https://github.com/jirotubuyaki/hmds</a>
**Version:** version 1.0
**Editor:** @karthik
**Reviewer:** @kevinushey

**What this issue is for**

Thanks for submitting your paper to JOSS @jirotubuyaki. The JOSS editor (s

[2016-12-29 22:43] whedon commented on #149
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-29 22:44] arfon commented on #149
@noamross - is this a good candidate for rOpenSci?

[2016-12-29 22:44] whedon opened #150 "[PRE REVIEW]: KraljicMatrix: An R package for implementing the Kraljic Matrix to strategically analyze a firm’s purchasing portfolio"
**Submitting author:** @bradleyboehmke (<a href="http://orcid.org/0000-0002-3611-8516">Bradley Boehmke</a>)
**Repository:** <a href="https://github.com/bradleyboehmke/KraljicMatrix" target ="_blank">https://github.com/bradleyboehmke/KraljicMatrix</a>
**Version:** v0.1.0
**Editor:** @arfon
**Reviewer:** @cmsaie

**What this issue is for**

Thanks for submitting your paper to JOSS @bradleyboehmke. T

[2016-12-29 22:44] whedon commented on #150
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-12-29 22:44] arfon commented on #150
@noamross - is this a good candidate for rOpenSci?

[2016-12-29 23:31] noamross commented on #149
Thanks for checking.  We don't do statistical methods packages; our [**scope**](https://github.com/ropensci/onboarding/blob/master/policies.md#package-fit) is limited to data access, extraction, manipulation and facilitating reproducible workflows.

I watch the full feed of package submissions, and will chime in if I see candidates for dual-submission.

[2016-12-29 23:32] noamross commented on #148
Thanks for checking.  We don't do statistical methods packages; our [**scope**](https://github.com/ropensci/onboarding/blob/master/policies.md#package-fit) is limited to data access, extraction, manipulation and facilitating reproducible workflows.

[2016-12-29 23:32] noamross commented on #150
Thanks for checking.  We don't do statistical methods packages; our [**scope**](https://github.com/ropensci/onboarding/blob/master/policies.md#package-fit) is limited to data access, extraction, manipulation and facilitating reproducible workflows.

[2016-12-30 00:41] arfon commented on #149
👍  OK thanks @noamross. Apologies for the noise 😄

[2016-12-30 00:44] arfon commented on #133
@johnb30 - we need you to create an archive of the repository with Zenodo or figshare - see [this guide](https://guides.github.com/activities/citable-code/) for example. When you have done this, please let us know the archive DOI here.

We will then issue a DOI for the JOSS paper separately.

[2016-12-30 02:29] johnb30 commented on #133
I just minted a DOI. The number is (I think...) `10.5281/zenodo.224637` and the archive is at https://zenodo.org/record/224637#.WGXGQ7YrJE4. Let me know if anything else is needed from my end.

[2016-12-31 09:47] pjotrp commented on #132
OK, my questions arise from reading the paper and the source tree. It will need to be clarified. All this information should be in either.

Do you know someone who could review your paper? Sorry for the delay, I was on a trip.

[2016-12-31 11:07] biorelated commented on #142
@genomematt Where are we at with this review? Please let us know.

[2017-01-02 00:09] kyleniemeyer commented on #139
Hi @KristianJensen, just wanted to ping you on this.

[2017-01-02 01:30] kyleniemeyer commented on #97
Hi @jdherman, just wanted to ping you on these changes (happy new year!). (That said there's no deadline or anything—the paper will remain "under review" indefinitely until you make the changes.)

[2017-01-02 15:56] masalmon commented on #135
I think most my comments about documentation have been taken into account now, great job. Only the contribution guidelines are missing or maybe I've missed something :slightly_smiling_face:

The only other remaining issue I opened is [this one](https://github.com/mllg/batchtools/issues/55) which was only a suggestion.

[2017-01-02 17:26] labarba commented on #117
@whedon assign @jflorence as reviewer

[2017-01-02 17:26] whedon commented on #117
OK, the reviewer is @jflorence

[2017-01-02 18:11] labarba commented on #117
@whedon start review magic-word=bananas

[2017-01-02 18:11] whedon opened #151 "[REVIEW]: Kactus2: A graphical EDA tool built on the IP-XACT standard"
**Submitting author:** @TermosPullo (<a href="http://orcid.org/0000-0003-2254-3332">Janne Virtanen</a>)
**Repository:** <a href="https://github.com/kactus2/kactus2dev" target ="_blank">https://github.com/kactus2/kactus2dev</a>
**Version:** 3.4.0
**Editor:** @labarba
**Reviewer:** @jflorence
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.570521" target="_blank">10.5281/zenodo.570521</a>

##

[2017-01-02 18:11] whedon commented on #117
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/151. Feel free to close this issue now!

[2017-01-02 18:11] whedon commented on #151
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jflorence it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-01-02 18:17] #117 closed

[2017-01-02 18:22] labarba commented on #151
The pre-review issue mentions that we (the JOSS editors) are unclear whether this submission satisfies the submission guidelines.

In particular we require that (quoting from http://joss.theoj.org/about#author_guidelines):

Here is the author's reply to that question:
https://github.com/openjournals/joss-reviews/issues/117#issuecomment-260583610

@jflorence : Please help us with a comment providin

[2017-01-03 10:12] mllg commented on #135
I've fixed the last issue/suggestion and added contribution guidelines to the README. Waiting for @HenrikBengtsson now.

Thanks again @masalmon for your comments which substantially improved the package.

[2017-01-03 10:19] masalmon commented on #135
Awesome @mllg, it all looks good to me. I'm looking forward to reading the next review & the corresponding commits. :grinning:

[2017-01-03 10:41] KristianJensen commented on #139
Hi @kyleniemeyer

Everything is now merged, released and archived on zenodo at https://doi.org/10.5281/zenodo.228165

[2017-01-03 12:56] arfon commented on #133
@whedon set 10.5281/zenodo.224637 as archive

[2017-01-03 12:57] whedon commented on #133
OK. <a href="http://dx.doi.org/10.5281/zenodo.224637" target="_blank">10.5281/zenodo.224637</a> is the archive.

[2017-01-03 13:03] arfon commented on #133
@RichardLitt - many thanks for reviewing this submission ✨ !

@johnb30 - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00133 ⚡️ 🚀 💥

[2017-01-03 13:03] #133 closed

[2017-01-03 13:04] arfon commented on #139
@whedon set 10.5281/zenodo.228165 as archive

[2017-01-03 13:04] whedon commented on #139
OK. <a href="http://dx.doi.org/10.5281/zenodo.228165" target="_blank">10.5281/zenodo.228165</a> is the archive.

[2017-01-03 13:04] arfon commented on #139
@kyleniemeyer - is this good to accept now?

[2017-01-03 14:52] ahalterman commented on #91
I wanted to check in and see if there's anything I can do to help along the review process. I really appreciate all the work you all have already put in.

[2017-01-03 15:53] riordan commented on #91
@ahalterman: Thank you for the prod! I finished my tests up 2 weeks ago and it's really impressive.

The installation ran according to documentation, which was really straightforward for installation. I'd suggest a clearer statement of need in the paper (something you do well in the README.md). Bringing in a bit more context, especially from your experience scanning news articles to find the place

[2017-01-03 16:01] kyleniemeyer commented on #139
@arfon good to go!

[2017-01-03 19:48] arfon commented on #139
@moorepants - many thanks for your review and thanks to @kyleniemeyer for editing this submission.

@KristianJensen - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00139 ⚡️ 🚀 💥

[2017-01-03 19:48] #139 closed

[2017-01-04 04:35] genomematt commented on #142
I am still working my way through this, but some initial comments @camillescott.

I think that you need a more from first principles statement of need that outlines the sequence matching problem that CRBH is addressing (remembering that this is a generalist scientific computing journal) so that readers don't need to chase a reference to get a basic idea of what the software does.

You need contrib

[2017-01-04 11:28] whedon opened #152 "[PRE REVIEW]: AncesTrim - a tool for trimming complex pedigrees"
**Submitting author:** @JNisk (<a href="http://orcid.org/0000-0002-2871-6890">Julia Niskanen</a>)
**Repository:** <a href="https://github.com/JNisk/AncesTrim" target ="_blank">https://github.com/JNisk/AncesTrim</a>
**Version:** v1.0
**Editor:** @mgymrek
**Reviewer:** @jyuan1322

**What this issue is for**

Thanks for submitting your paper to JOSS JNisk. The JOSS editor (shown at the top of this is

[2017-01-04 11:28] whedon commented on #152
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-01-04 11:31] arfon commented on #102
👋  @kweis

[2017-01-04 11:32] arfon commented on #140
Friendly reminder @astrofrog 😁

[2017-01-04 11:35] arfon commented on #150
👋  @bradleyboehmke - many thanks for this submission. Could you confirm that this software has a research application? Please see the 'requirements for submission' under the [author guidelines](http://joss.theoj.org/about#author_guidelines).

[2017-01-04 11:36] arfon commented on #149
@whedon assign @arfon as editor

[2017-01-04 11:36] whedon commented on #149
OK, the editor is @arfon

[2017-01-04 11:36] arfon commented on #149
@whedon list reviewers

[2017-01-04 11:37] whedon commented on #149
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-01-04 11:39] arfon commented on #149
:wave: @nuest - would you be willing to review this submission for JOSS?

[2017-01-04 11:40] arfon commented on #148
👋  @pboesu - would you be willing to review this submission for JOSS?

[2017-01-04 11:41] arfon commented on #147
👋 @pboesu - would you be willing to review this submission for JOSS? This is by the same author as https://github.com/openjournals/joss-reviews/issues/148 so I think it would be OK to prioritize one over the other.

[2017-01-04 11:42] arfon commented on #144
Friendly new year reminder @arokem 😁  - this looks closest to your editorial topic areas.

[2017-01-04 14:48] bradleyboehmke commented on #150
@arfon

The most established supply chain purchasing portfolio model in academic literature and practice is Kraljic’s model ([Kraljic, 1983](https://hbr.org/1983/09/purchasing-must-become-supply-management)), now known as the Kraljic Portfolio Matrix (KPM). However, one of the primary weaknesses of the KPM has been the qualitative nature of the model, which results in a subjective method for weigh

[2017-01-04 15:18] Kevin-Mattheus-Moerman commented on #64
@roliveros-ramos best wishes for the new year. Are you able to pick up the review process? Thanks.

[2017-01-04 15:20] Kevin-Mattheus-Moerman commented on #47
@v3c70r any updates to report? Let me know when the review process can be resumed.

[2017-01-04 15:26] katyhuff commented on #126
Sorry for the delay. I have tried to contact a few reviewers offline, but due to the holidays here, there's been some delay. So, I'll try to contact some reviewers here in the github issue.

Dear @moorepants , @jordigh , @nicoguaro :

I saw that you were on the JOSS reviewers list and this paper seemed to be something any of the three of you would be an excellent reviewer for. Would any of you be

[2017-01-04 16:11] jdherman commented on #97
Hi @kyleniemeyer and @stijnvanhoey -- we have updated the contributing guidelines, docs, and testing. Thanks for the suggestions, and please see what you think when you have time. Here is the pull request (now merged):
https://github.com/SALib/SALib/pull/120

[2017-01-04 20:52] kyleniemeyer commented on #97
Thanks @jdherman!

@stijnvanhoey could you take a look at the changes, and let me know if they satisfy your outstanding issues?

[2017-01-05 15:48] Kevin-Mattheus-Moerman commented on #144
@whedon commands

[2017-01-05 15:48] whedon commented on #144
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-05 15:50] Kevin-Mattheus-Moerman commented on #144
@whedon assign @Kevin-Mattheus-Moerman as editor

[2017-01-05 15:50] whedon commented on #144
OK, the editor is @Kevin-Mattheus-Moerman

[2017-01-05 16:56] Kevin-Mattheus-Moerman commented on #144
@thewtex I've started to chase down potential reviewers. Let me know if want to suggest any reviewers.

[2017-01-05 17:00] Kevin-Mattheus-Moerman commented on #144
@jcfr @aylward if you are not involved in this project, are you able to review (or suggest reviewers for) this submission for http://joss.theoj.org/?

[2017-01-05 17:05] Kevin-Mattheus-Moerman commented on #144
@ungi @lassoan if you are not involved in this project, are you able to review (or suggest reviewers for) this submission for http://joss.theoj.org/?

[2017-01-05 17:05] pboesu commented on #148
Hi @arfon , I'm happy to review this one, but I will not be able to get started with the review until mid-January. So if there are other (or additional) willing reviewers I'm happy to for them to have a go first.

[2017-01-05 17:09] pboesu commented on #147
Hi @arfon, @ArdiaD,
a full description of this R package appears to have been published already in the Journal of Statistical Software by the same authors: http://dx.doi.org/10.18637/jss.v029.i03

Can you provide a justification for submitting this to JOSS now, @ArdiaD?

[2017-01-05 17:11] pboesu commented on #148
Hi @arfon, @ArdiaD,
as in #147 this appears to be a duplicate of an article already published. This time in the R Journal: https://journal.r-project.org/archive/2010-2/RJournal_2010-2_Ardia+Hoogerheide.pdf

[2017-01-05 17:23] arfon commented on #148
as in #147 this appears to be a duplicate of an article already published. This time in the R Journal: https://journal.r-project.org/archive/2010-2/RJournal_2010-2_Ardia+Hoogerheide.pdf

Good catch @pboesu. @ArdiaD - is there a reason why you've submitted to JOSS when this (and #147) appears to have been published already?

[2017-01-05 17:37] ArdiaD commented on #147
Hi @pboesu,
Regarding your comments:
1. AdMit article appeared in JSS and R journal. These are package descriptions and different applications. Was no issue publishing in both journals. NB: both papers are cited in the JOSS abstract.
2. bayesGARCH appeared in R journal. Again description of the package. NB: the paper is cited in the JOSS abstract.

In both cases, the DOI is associated to the paper

[2017-01-05 17:52] ArdiaD commented on #148
See my comments on GitHub.

Btw, this is not a good catch; nothing has been hidden, as in both JOSS abstract, the various publications are cited…

I guess I misunderstood the goal of JOSS, as I thought this was for package DOI and not in conflict with R journal of JSS.

From: Arfon Smith [mailto:notifications@github.com]
Sent: jeudi 5 janvier 2017 18:24
To: openjournals/joss-reviews
Cc: David Ardi

[2017-01-05 18:19] pboesu commented on #148
@ArdiaD JOSS issues crossref DOIs for the software meta papers, but uses zenodo or figshare DOIs for the code archives. The latter are easily obtained without the need for a JOSS submission e.g. by using the existing integration between github and zenodo: https://guides.github.com/activities/citable-code/

[2017-01-05 18:22] ArdiaD commented on #148
I see; then please accept my apologizes and close both submissions. Thanks again for your time and feedback.

[2017-01-05 20:31] arfon commented on #148
Yes, totally agreed. My apologies for a poor choice of language here @ArdiaD.

As @pboesu suggested, you might like to look at the Zenodo/GitHub integration that we use a lot here: https://guides.github.com/activities/citable-code/

[2017-01-05 20:35] arokem commented on #137
@whedon commands

[2017-01-05 20:35] whedon commented on #137
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-05 20:36] arokem commented on #137
@whedon assign @kdesimone as reviewer

[2017-01-05 20:36] whedon commented on #137
OK, the reviewer is @kdesimone

[2017-01-05 21:26] ArdiaD commented on #148
Thanks, this is now done for both packages. So I guess you can remove both submissions.
@arfon No worries, this is my mistake.
@pboesu Thanks for your help.

[2017-01-05 21:54] ArdiaD commented on #148
@arfon short question. I have other packages for which I would like to have a DOI. Can I first create a DOI via Zenodo, and then submit to JOSS, or should I submit directly to JOSS? NB: these packages have not been published elsewhere.

[2017-01-05 22:56] arfon commented on #148
Generally we recommend authors make the archive DOI (with Zenodo) at _the end_ of the JOSS review process because there are usually changes required as part of the review (which should be captured in the archive).

[2017-01-05 23:00] roliveros-ramos commented on #64
@Kevin-Mattheus-Moerman, I have finished the review. I really appreciate the efforts from @kakearney  to make it easier to use to Windows users.  The python functions works from MATLAB 2014b, so I changed from 2014a to 2016a, which is the MATLAB version I used to this review. I was able to fully run the demo included with the package and it's working as expected, I still have some comments:

1. `m

[2017-01-05 23:06] #147 closed

[2017-01-05 23:07] arfon commented on #147
Closing following conversation in #148

[2017-01-05 23:07] #148 closed

[2017-01-06 01:16] kdesimone commented on #137
The authors have satisfactorily addressed (and closed) all the issues, which I've linked below.

https://github.com/baccuslab/pyret/issues/88
https://github.com/baccuslab/pyret/issues/86
https://github.com/baccuslab/pyret/issues/85
https://github.com/baccuslab/pyret/issues/83

[2017-01-06 01:37] thewtex commented on #144
@Kevin-Mattheus-Moerman thanks for your help. @ungi @lassoan or @fedorov may be good reviewers.

[2017-01-06 01:51] arokem commented on #137
@arfon: what's the next step here?

IIUC, @nirum and colleagues need to create a DOI for the package that incorporates the fixes from the review. Is that correct?

[2017-01-06 03:29] dghoshal-lbl commented on #114
Any update/suggestion/concerns regarding our submission? How long is the review process?

[2017-01-06 12:11] arfon commented on #114
Friendly bump on this @acabunoc :grin:

[2017-01-06 12:14] arfon commented on #137
Yes, that's correct. @nirum - please create the archive and update this thread with the DOI so we can accept this submission.

[2017-01-06 13:17] acabunoc commented on #114
I'm on it! Sorry for the delay. Will take a look and reach out to reviewers tomorrow at the latest.

[2017-01-06 14:28] Kevin-Mattheus-Moerman commented on #64
Great work! Thanks a lot @roliveros-ramos ! @kakearney can you please address these additional comments?

[2017-01-06 14:30] Kevin-Mattheus-Moerman commented on #144
.@thewtex Great. @ungi @lassoan @fedorov please let me know if you are able to review this submission.

[2017-01-06 15:04] fedorov commented on #144
@Kevin-Mattheus-Moerman can you please point me to your reviewer guidelines? I could not quickly locate them on http://joss.theoj.org/.

[2017-01-06 15:06] lassoan commented on #144
I would be happy to review, but not sure what or how. I only see a repository with some code and doc. Is there a rendered document somewhere? Should I review and/or test the code?

[2017-01-06 15:37] Kevin-Mattheus-Moerman commented on #144
@fedorov @lassoan the reviewer guidelines are found here http://joss.theoj.org/about#reviewer_guidelines

The review process focuses largely on the claims about the software and the software itself. The paper is a very short document since our view is that properly documented software forms the more important part of the software publication.

A paper PDF is  generated based on the paper.md file w

[2017-01-06 15:38] Kevin-Mattheus-Moerman commented on #144
@whedon commands

[2017-01-06 15:38] whedon commented on #144
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-06 15:38] Kevin-Mattheus-Moerman commented on #144
@whedon assign @lassoan as reviewer

[2017-01-06 15:38] whedon commented on #144
OK, the reviewer is @lassoan

[2017-01-06 15:42] Kevin-Mattheus-Moerman commented on #144
@fedorov our quasi-automated system can currently handle 1 reviewer which is currently set to @lassoan. Nevertheless I'd like you @fedorov to act as the second reviewer. You can leave comments here for the authors to act on and also follow the checklist that will appear here shortly.

[2017-01-06 15:43] Kevin-Mattheus-Moerman commented on #144
@whedon commands

[2017-01-06 15:43] whedon commented on #144
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-06 15:44] Kevin-Mattheus-Moerman commented on #144
@whedon start review

[2017-01-06 15:44] whedon commented on #144
You didn't say the magic word! Try this:

[code]

[2017-01-06 15:48] fedorov commented on #144
it's super confusing that I receive github comments by email that do not show up in this issue

![image](https://cloud.githubusercontent.com/assets/313942/21723218/a0094a70-d3fd-11e6-80e3-f3d95a4d96af.png)

[2017-01-06 16:12] stijnvanhoey commented on #97
Thanks @jdherman and @willu47 for the work and revisions of the guidelines and documentation. I do like the scope and structure of the package. Tests and examples are available for the user as well. All issues are closed and checked, so I'm perfectly fine with publication.

Just some minor remark, the link to the advanced readme on the [github page](http://salib.github.io/SALib/) does not work: ht

[2017-01-06 16:43] willu47 commented on #97
Thank you @stijnvanhoey for the comments. It has been a productive (and enjoyable!) process to go through.

Regarding the broken links, I also spotted these yesterday and have made a new issue to prompt a fix. I'll get around to tidying up the page asap.

Thanks again. 👍

[2017-01-06 16:44] lassoan commented on #144
The submission fulfills the JOSS requirements.

My only concern is that the software's scope (as described in the title) is "ultrasound image formation, processing, and analysis", but now it only addresses a small task in ultrasound image formation (scan conversion). Many more modules will be needed to make the software fulfill its promise.

[2017-01-06 17:06] mgymrek commented on #152
I can take this one.

[2017-01-06 17:06] mgymrek commented on #152
@whedon assign @mgymrek as editor

[2017-01-06 17:06] whedon commented on #152
OK, the editor is @mgymrek

[2017-01-06 18:53] kyleniemeyer commented on #97
@stijnvanhoey 🚀

@willu47 sounds great! It seems this is the only outstanding issue, so when you've made that change please let us know. Also create an archive for the software, and report it here—then we'll be done!

[2017-01-06 19:04] Kevin-Mattheus-Moerman commented on #144
@fedorov Apologies. I was having some trouble with our system and deleted those messages to avoid clogging this thread.

[2017-01-06 19:05] nirum commented on #137
Thanks @kdesimone and @arokem!

I've uploaded the package using zenodo, here is the DOI:
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.232521.svg)](https://doi.org/10.5281/zenodo.232521)

[2017-01-06 19:06] arfon commented on #144
@whedon start review magic-word=bananas

[2017-01-06 19:06] whedon commented on #144
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/153. Feel free to close this issue now!

[2017-01-06 19:06] whedon opened #153 "[REVIEW]: SlicerITKUltrasound: A 3D Slicer extension for ultrasound image formation, processing, and analysis"
**Submitting author:** @thewtex (<a href="http://orcid.org/0000-0001-9475-3756">Matthew McCormick</a>)
**Repository:** <a href="https://github.com/KitwareMedical/SlicerITKUltrasound" target ="_blank">https://github.com/KitwareMedical/SlicerITKUltrasound</a>
**Version:** v0.2.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @lassoan
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.290628"

[2017-01-06 19:06] whedon commented on #153
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @lassoan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-01-06 19:07] arfon commented on #144
@Kevin-Mattheus-Moerman - #153 is the main review issue so we should move the conversation over there.

[2017-01-06 19:09] #144 closed

[2017-01-06 19:12] Kevin-Mattheus-Moerman commented on #153
@lassoan @fedorov @thewtex apologies for the confusion. This is where the review process will happen. Reviewers, see reviewer instructions here http://joss.theoj.org/about#reviewer_guidelines and follow the above checklist. Let me know if you have any questions.

[2017-01-06 19:29] arfon commented on #137
@whedon set 10.5281/zenodo.232521 as archive

[2017-01-06 19:29] whedon commented on #137
OK. <a href="http://dx.doi.org/10.5281/zenodo.232521" target="_blank">10.5281/zenodo.232521</a> is the archive.

[2017-01-06 20:16] arfon commented on #137
@arokem thanks for editing this one and for your review @kdesimone :zap:

@nirum - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00137 ⚡️ 🚀 💥

[2017-01-06 20:16] #137 closed

[2017-01-06 22:54] kakearney commented on #64
Thank you for the updated comments.  I've addressed them as follows:

1.  I added a few additional lines of code to the mdbexport.py function to list all available drivers and choose one that included 'Microsoft Access Driver' in its name.  That will at the least address the two versions of the driver name that I now know of.  I'm not sure if that covers all possible options, but I will try to upd

[2017-01-07 19:05] varocarbas commented on #127
@labarba Is everything OK or do you need anything else?

[2017-01-07 19:30] Kevin-Mattheus-Moerman commented on #64
@roliveros-ramos can you review how @kakearney addressed your comments? Let me know if you have additional comments or if you feel this submission is now suitable for publication.

[2017-01-07 23:59] jdherman commented on #97
Thanks again @kyleniemeyer and @stijnvanhoey , this has helped a lot.

I fixed the broken links on the landing page (see [here](http://salib.github.io/SALib)) as well as a few other bugs.

This is all wrapped up in a new version number, [v1.0.2](https://github.com/SALib/SALib/releases), which is also updated on PyPI.

[2017-01-08 00:02] kyleniemeyer commented on #97
@jdherman ⚡️ Can you give a new DOI associated with this version? That's the last bit we need.

[2017-01-08 00:27] jdherman commented on #97
It's still in the process of being activated, but according to Zenodo it looks like it will be: 10.5281/zenodo.233103

[2017-01-08 00:59] kyleniemeyer commented on #97
Thanks @jdherman, I'll hold off closing this until the DOI is available via https://doi.org/10.5281/zenodo.233103 (it still isn't resolving for me)

[2017-01-08 03:03] acabunoc commented on #136
Sorry for the delay here!

@rgaiacs, would you be interested in being a reviewer for JOSS and reviewing this paper? Review guidelines can be found here: http://joss.theoj.org/about#reviewer_guidelines

Also, @edusantana do you have any potential reviewers you can suggest (someone close to the domain & speaks Portuguese)? It's nice to have multiple reviewers, and I'm not sure which of current revie