[2021-04-19 12:08] will-rowe commented on #3161
Hi @seabbs, @gakhov, @DARSakthi - would any of you please be able to review this JOSS submission?

[2021-04-19 12:10] vissarion commented on #3046
@whedon assign @jungtaekkim as reviewer

[2021-04-19 12:10] whedon commented on #3046
OK, @jungtaekkim is now a reviewer

[2021-04-19 12:11] vissarion commented on #3046
@whedon add @yxoos  as reviewer

[2021-04-19 12:11] whedon commented on #3046
OK, @yxoos  is now a reviewer

[2021-04-19 12:11] vissarion commented on #3046
@whedon start review

[2021-04-19 12:11] whedon opened #3192 "[REVIEW]: imodels: a python package for fitting interpretable models"
**Submitting author:** @csinva (<a href="http://orcid.org/0000-0003-0318-2340">Chandan Singh</a>)
**Repository:** <a href="https://github.com/csinva/imodels" target ="_blank">https://github.com/csinva/imodels</a>
**Version:** 0.2.8
**Editor:** @vissarion
**Reviewer:** @jungtaekkim, @yxoos
**Archive:** <a href="https://doi.org/10.5281/zenodo.4026886" target="_blank">10.5281/zenodo.4026886</a>

**:w

[2021-04-19 12:11] whedon commented on #3046
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3192.

[2021-04-19 12:11] #3046 closed

[2021-04-19 12:11] whedon commented on #3192
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jungtaekkim, @yxoos  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-04-19 12:12] whedon commented on #3192
[code]

[2021-04-19 12:13] whedon commented on #3192
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03192/joss.03192/10.21105.joss.03192.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03192/joss.03192/10.21105.joss.03192.pdf) :page_facing_up: :point_left:

[2021-04-19 12:21] apizzuto commented on #3163
Thanks @JostMigenda for offering to review!
Jost is correct that I can't because I'm one of the authors of this work, but I look forward to working with you both during review!

[2021-04-19 12:34] GISKid commented on #3161
This loooks really important. I do not have capacity at this time.

On Thu., Apr. 15, 2021, 8:52 a.m. Will Rowe, ***@***.***>
wrote:

[2021-04-19 13:02] sdparsons commented on #3041
@whedon generate pdf

[2021-04-19 13:03] whedon commented on #3041
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03041/joss.03041/10.21105.joss.03041.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03041/joss.03041/10.21105.joss.03041.pdf) :page_facing_up: :point_left:

[2021-04-19 13:03] sdparsons commented on #3041
@whedon check references

[2021-04-19 13:09] whedon commented on #3041
[code]

[2021-04-19 13:11] sdparsons commented on #3041
@oliviaguest I made some minor changes and added a reference to the paper. All looks ready to go for me :)

[2021-04-19 13:17] strengejacke commented on #3139
@whedon generate pdf

[2021-04-19 13:19] whedon commented on #3139
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03139/joss.03139/10.21105.joss.03139.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03139/joss.03139/10.21105.joss.03139.pdf) :page_facing_up: :point_left:

[2021-04-19 13:54] whedon commented on #3179
[code]

[2021-04-19 13:55] whedon commented on #3179
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03179/joss.03179/10.21105.joss.03179.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03179/joss.03179/10.21105.joss.03179.pdf) :page_facing_up: :point_left:

[2021-04-19 14:04] kthyng commented on #3179
@mcflugen, @kyleniemeyer I'm not sure I have any relevant expertise for this. Geosciences, yes, but that looks like the application but not the guts of this project? @mcflugen who would you recommend to review this submission (from your network or [this list](https://bit.ly/joss-reviewers)? What type of skills are you looking for?

[2021-04-19 14:16] strengejacke commented on #3139
@mikldk

- I have done final proof reading. Since we have a native speaker as co-author, I assume that language and style are ok.
- I have checked the generated wheedon PDF proof
- I created a release on GitHub for this version that is in line with the version related to the paper
- I have created a Zenodo-archive of this release and edited/checked the meta-data.

I confirm that the GitHub release

[2021-04-19 14:29] khinsen commented on #2863
@oliviaguest @dmey This looks good to me!

[2021-04-19 14:42] sdmccabe commented on #2990
Hi @adi3 just checking in on this. The README updates ended up getting merged.

[2021-04-19 14:56] oliviaguest commented on #2863
@dmey sure, send me the DOI when you can, please. We're all good to go here now and get finally published.

[2021-04-19 14:57] oliviaguest commented on #2863
@whedon set v1.0.0 as version

[2021-04-19 14:57] whedon commented on #2863
OK. v1.0.0 is the version.

[2021-04-19 14:57] oliviaguest commented on #2863
@whedon check references

[2021-04-19 14:57] whedon commented on #2863
[code]

[2021-04-19 15:00] whedon commented on #2863
[code]

[2021-04-19 15:01] oliviaguest commented on #2863
@dmey obviously please fix that missing DOI above too!

[2021-04-19 15:08] BrodiePearson commented on #3053
@navidcy @pdebuyl The paper was published today, so the DOI is active. Thank you for being patient with that!

[2021-04-19 15:16] dmey commented on #2863
@oliviaguest the suggested DOI highlighted by webdon above is actually incorrect as it refers to the presentation we submitted this year, not the paper...

[2021-04-19 15:38] KristinaRiemer commented on #2721
Hi @tpoisot. Thanks for being patient with this! We still have not been able to get in touch with @kellykochanski. So at this point, I'm going to finish out her review for her and we'll try to to wrap this up quickly, hopefully by the end of this week. Does that sound okay?

[2021-04-19 15:40] KristinaRiemer commented on #3177
@whedon assign me as editor

[2021-04-19 15:40] whedon commented on #3177
OK, the editor is @KristinaRiemer

[2021-04-19 15:42] dmey commented on #2863
@oliviaguest all done. http://doi.org/10.5281/zenodo.4701279.

[2021-04-19 15:43] KristinaRiemer commented on #2575
Thanks for the review @r-barnes! @mccabete, it looks like you have a few items left on the review checklist and have two issues open in the software repo, so let me know if you need any help addressing those!

[2021-04-19 15:45] KristinaRiemer commented on #3094
Hi @hansenjohnson, you can start addressing comments from @pjbouchet right away!

[2021-04-19 15:56] yxoos commented on #3192
Reviewer: @yxoos
Feedback is provided as below:

##	Conflict of interest
- [x] I confirm that I have read the JOSS conflict of interest (COI) policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.
## Code of Conduct
- [x] I confirm that I read and will adhere to the JOSS code of conduct.
## General checks
- [x]

[2021-04-19 16:01] sdesabbata commented on #2869
Hi @szymon-datalions,

I have started looking into your submission today. I was wondering whether you can clarify something about your example. Is this a bit of analysis that has been done in a published paper as suggested by your comment above?

If that's the case, the paper should be referenced in your submission and a comparison of the results should be presented.

[2021-04-19 16:18] DARSakthi commented on #3161
I could take a look at it -- but I am a bit busy heading into the end of term and preparing for summer. Its a short paper, so maybe the delay won't be appreciable. I'll leave it up to you @will-rowe

Dalton Sakthivadivel
Biomedical Engineering
Renaissance School of Medicine

[2021-04-19 16:20] mikldk commented on #3139
@whedon set 10.5281/zenodo.4700887 as archive

[2021-04-19 16:20] whedon commented on #3139
OK. <a href="https://doi.org/10.5281/zenodo.4700887" target="_blank">10.5281/zenodo.4700887</a> is the archive.

[2021-04-19 16:22] mikldk commented on #3139
@martinju, @gjo11 Thank you very much for your effort in reviewing this paper!

[2021-04-19 16:22] mikldk commented on #3139
@whedon accept

[2021-04-19 16:22] whedon commented on #3139
[code]

[2021-04-19 16:24] whedon commented on #3139
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2246

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2246, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-19 16:24] whedon commented on #3139
[code]

[2021-04-19 16:27] mikldk commented on #3054
@vs74, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-04-19 16:42] mnarayan commented on #2863
I think it is almost there @dmey. I think once I close all the issues, I will check off all the boxes here.

[2021-04-19 16:45] IndrajeetPatil commented on #3167
Thanks, @csoneson, will ping you in case of any questions. None for now.

Looking forward to the comments from the reviewers!

[2021-04-19 16:54] HaoZeke commented on #3077
Hi @vissarion, I'm happy to recommend this for publication in JOSS in its current state. The package is well documented and well designed; it fills an important niche in the solution of ODE's by implementing the UA (uniformly accurate) methods. It is also developed with an eye towards being easy to use by users more used to existing Julia packages. Apologies for being so slow with this, and @pnava

[2021-04-19 16:57] kyleniemeyer commented on #3188
@whedon generate pdf

[2021-04-19 17:15] bast commented on #2842
Same here, sorry for delay. Picking this up now.

[2021-04-19 17:30] strengejacke commented on #3139
Thanks to all for the smooth review and editing process! 🎉

[2021-04-19 17:40] kyleniemeyer commented on #3188
@whedon assign @kyleniemeyer as reviewer

[2021-04-19 17:40] whedon commented on #3188
OK, @kyleniemeyer is now a reviewer

[2021-04-19 17:40] kyleniemeyer commented on #3188
@whedon start review

[2021-04-19 17:40] whedon opened #3193 "[REVIEW]: The stantargets R package: a workflow framework for efficient reproducible Stan-powered Bayesian data analysis pipelines"
**Submitting author:** @wlandau (<a href="http://orcid.org/0000-0003-1878-3253">William Landau</a>)
**Repository:** <a href="https://github.com/ropensci/stantargets" target ="_blank">https://github.com/ropensci/stantargets</a>
**Version:** 0.0.0.9003
**Editor:** @kyleniemeyer
**Reviewer:** @kyleniemeyer
**Archive:** <a href="https://doi.org/10.5281/zenodo.4706113" target="_blank">10.5281/zenodo.47

[2021-04-19 17:40] #3188 closed

[2021-04-19 17:40] whedon commented on #3193
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jo

[2021-04-19 17:41] whedon commented on #3193
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03193/joss.03193/10.21105.joss.03193.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03193/joss.03193/10.21105.joss.03193.pdf) :page_facing_up: :point_left:

[2021-04-19 17:42] whedon commented on #3193
[code]

[2021-04-19 17:43] kyleniemeyer commented on #3193
For reference: this submission was already reviewed and accepted by rOpenSci  https://github.com/ropensci/software-review/issues/430

[2021-04-19 17:54] pdebuyl commented on #3053
Hi @BrodiePearson good news :-)

@navidcy can you update the bibliography to reflect the volume and number of the article?

[2021-04-19 17:55] pdebuyl commented on #3053
@whedon set v0.12.1 as version

[2021-04-19 17:55] whedon commented on #3053
OK. v0.12.1 is the version.

[2021-04-19 17:59] diehlpk commented on #3060
@whedon remind @KristofferC in 2 weeks

[2021-04-19 18:00] diehlpk commented on #3060
@whedon remind @rdeits in 2 weeks

[2021-04-19 18:00] whedon commented on #3060
Reminder set for @rdeits in 2 weeks

[2021-04-19 18:05] annahodshire commented on #3110
@dhhagan my apologies for the slow response, I unfortunately do not have time at the moment due to prep for a panel review that's taking more time than expected... please keep me in mind in the future!

[2021-04-19 18:11] kyleniemeyer commented on #3193
Hi @wlandau, I just noticed a few minor issues with some references, it looks like some need additional information or different formatting. In particular, the Cndstanr and Stantargets citations should both include a URL or DOI (if one exists), and both should have years (e.g., for the latest version, if you aren't citing a particular version).

[2021-04-19 18:56] lpantano commented on #3160
@mikemc, would you be interested in reviewing this tool? Thanks!

[2021-04-19 19:20] mikemc commented on #3160
@lpantano I am unable to accept review requests right now, sorry! I can try to come up with some suggestions if that helps

[2021-04-19 19:23] szymon-datalions commented on #2869
Hi @sdesabbata ,

You make a point, thanks. I'll update the paper accordingly.

[2021-04-19 19:46] amandadsmith commented on #3187
Thank you for the status update @kyleniemeyer

[2021-04-19 20:00] hansenjohnson commented on #3094
Great! Thanks for the clarification @KristinaRiemer, I will start addressing these suggestions shortly.

[2021-04-19 20:02] rdeits commented on #3060
Thanks for the reminder. I'm still having trouble getting the basic example to run at all--I've updated the discussion here: https://github.com/vavrines/Kinetic.jl/issues/12#issuecomment-822746390

[2021-04-19 20:12] navidcy commented on #3053
Done.

@whedon generate pdf from branch JOSS-paper

[2021-04-19 20:12] navidcy commented on #3053
@whedon generate pdf from branch JOSS-paper

[2021-04-19 20:13] whedon commented on #3053
[code]

[2021-04-19 20:13] whedon commented on #3053
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03053/joss.03053/10.21105.joss.03053.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03053/joss.03053/10.21105.joss.03053.pdf) :page_facing_up: :point_left:

[2021-04-19 20:16] navidcy commented on #3053
@whedon generate pdf from branch JOSS-paper

[2021-04-19 20:16] whedon commented on #3053
[code]

[2021-04-19 20:17] whedon commented on #3053
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03053/joss.03053/10.21105.joss.03053.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03053/joss.03053/10.21105.joss.03053.pdf) :page_facing_up: :point_left:

[2021-04-19 20:27] vavrines commented on #3060
@whedon generate pdf

[2021-04-19 20:28] whedon commented on #3060
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: :point_left:

[2021-04-19 20:30] vavrines commented on #3060
@rdeits Sorry for the inconvenience. I've revised the sample code in the manuscript, please check the latest version.

[2021-04-19 20:36] vavrines commented on #3060
@diehlpk
Dear Patrick, May I have a question here?
I found the JOSS doesn't recognize my markdown bullet points at the end of first page, i.e.
[code]
Does JOSS support any format of bullet points, or I have to reformat it into plain text?
Best,

[2021-04-19 20:37] pdebuyl commented on #3053
Thanks!

[2021-04-19 20:38] pdebuyl commented on #3053
@whedon accept

[2021-04-19 20:38] whedon commented on #3053
[code]

[2021-04-19 20:38] pdebuyl commented on #3053
Thanks @ranocha and @eviatarbach for the review!

[2021-04-19 20:38] pdebuyl commented on #3053
@whedon accept from branch JOSS-paper

[2021-04-19 20:38] whedon commented on #3053
[code]

[2021-04-19 20:39] whedon commented on #3053
[code]

[2021-04-19 20:39] whedon commented on #3053
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2247

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2247, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-19 20:51] navidcy commented on #3053
@pdebuyl I just went through the proofs.

Looks good -- I just rephrased a the sentence to reflect that Pearson et al. 2021 is part of what "has been done" and not part of what's "Currently, `GeophysicalFlows.jl` is used for..." and pushed in `JOSS-paper` branch. (see https://github.com/FourierFlows/GeophysicalFlows.jl/pull/233/commits/38af08b1a4212563ccebb6909c8133f3bb01a9f0).

Can you update the

[2021-04-19 21:04] pdebuyl commented on #3053
Hi @navidcy I'll let the handling associate editor-in-chief take the update into account. They will take the review process further in this review issue.

[2021-04-19 21:31] sylvaticus commented on #2849
Dear editor and reviewers, I have updated the library and the paper to account for the reviewers' comments:

- a detailed [step-by-step tutorial](https://sylvaticus.github.io/BetaML.jl/dev/tutorials/Betaml_tutorial_getting_started.html) has been added to show the usage of the library (and, more in general, of ML techniques) and compare it with existing libraries. As I did expect, BetaML is surely

[2021-04-19 22:07] eloisabentivegna commented on #3163
Thanks, @JostMigenda! And thanks to both for clarifying.

[2021-04-19 22:11] eloisabentivegna commented on #3163
@rafaelab, would you be available to review this submission?

[2021-04-19 22:27] kellyrowland commented on #3185
Hi @kyleniemeyer , happy to take this on.

[2021-04-19 22:27] kellyrowland commented on #3185
@whedon assign @kellyrowland as editor

[2021-04-19 22:27] whedon commented on #3185
OK, the editor is @kellyrowland

[2021-04-19 22:34] szymon-datalions commented on #2869
Hi @sdesabbata ,

One more thing. I've taken a look into [mentioned paper](https://ij-healthgeographics.biomedcentral.com/articles/10.1186/1476-072X-4-31) but methodology and spatial extent is slightly different. Should I modify my example to fit the same path of analysis and then compare results? Now it seems to be pointless because my data is different and extent is larger. This paper was an exa

[2021-04-19 22:37] rafaelab commented on #3163
I'd be happy to do it.

[2021-04-19 22:43] kellyrowland commented on #3185
Hello @tscheypidi and @jhollist - would you be willing and available to review this submission for JOSS?

[2021-04-19 23:05] tpoisot commented on #2721
Perfect! Thanks a lot!!!

[2021-04-19 23:47] melissawm commented on #3096
Hi, @iljah. I understand you're not available to review, is that correct?

[2021-04-19 23:56] melissawm commented on #3096
Hello, @nnadeau - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

You can check a bit of the history of this review here in the thread. Let me know if you have any questions or need more information.

[2021-04-19 23:56] bpbrown commented on #3079
@ketch and JOSS editors,
       I wanted to help answer the authorship question.

We often work in team-coding environments, with several of us simultaneously working on the code while one person makes the logged commits.  Keaton Burns and myself (Ben Brown) jointly worked with Jeff on the refactor and on the JOSS example problems and paper figures, with Jeff Oishi writing and committing the code.

[2021-04-20 00:17] wlandau commented on #3193
Thanks @kyleniemeyer, should be fixed in https://github.com/ropensci/stantargets/commit/1f9b58f795189e5fba02596b5e772092b0c7dae1.

[2021-04-20 00:57] mbobra commented on #3174
@matthewfeickert Thanks for looking into this. You raise a really good point.

We allow the submitting authors to make minor changes while the review is in process. It looks like the authors are following semantic versioning, so the changes in `v1.0.3` and `v1.0.2` should not affect your review.  If, however, a reviewer raises a concern during the review process and opens an issue on the submittin

[2021-04-20 02:16] jni commented on #3104
Thanks everyone for your patience — almost there...! 😬

[2021-04-20 02:32] eigenfoo commented on #3115
Apologies for the delay - I've completed my review. @ankurankan seems much more knowledgeable in this area than I am, so I'll refrain from adding more comments in light of his review.

[2021-04-20 03:08] matthewfeickert commented on #3174
None at all. :)

[2021-04-20 04:25] ranocha commented on #3077
@whedon generate pdf from branch paper

[2021-04-20 04:25] whedon commented on #3077
[code]

[2021-04-20 04:26] whedon commented on #3077
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: :point_left:

[2021-04-20 06:00] ketch commented on #3079
@bpbrown Thanks for the clarification.  That all makes sense.  I've checked off the corresponding box.

[2021-04-20 06:06] fmatuschke commented on #3042
@whedon generate pdf

[2021-04-20 06:08] whedon commented on #3042
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03042/joss.03042/10.21105.joss.03042.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03042/joss.03042/10.21105.joss.03042.pdf) :page_facing_up: :point_left:

[2021-04-20 06:15] ranocha commented on #3077
Thanks for creating this nice package, @pnavaro et al. It looks like a really valuable contribution to the community to me. Please find below some comments and suggestions.

- [ ] Would it be possible to leverage ApproxFun.jl (and/or related Matlab tools) for these problems?
- [ ] From reading the manuscript and the README, it's not clear to me what kind of scalability to expect. Is it correct tha

[2021-04-20 06:28] vissarion commented on #3077
Hi @ranocha, thanks reviewing. Please create issues in the <a href="https://github.com/ymocquar/HOODESolver.jl" target="_blank">target repository</a> and link to those issues by leaving comments here as described in the instructions on the beginning of this thread. Then the discussion could continue on the repository issue.

[2021-04-20 06:33] ranocha commented on #3077
@vissarion I updated my comment above accordingly.

[2021-04-20 06:59] eloisabentivegna commented on #3163
Thanks, @rafaelab!

[2021-04-20 07:01] eloisabentivegna commented on #3163
@whedon add @JostMigenda as reviewer

[2021-04-20 07:01] whedon commented on #3163
OK, @JostMigenda is now a reviewer

[2021-04-20 07:01] eloisabentivegna commented on #3163
@whedon add @rafaelab as reviewer

[2021-04-20 07:01] whedon commented on #3163
OK, @rafaelab is now a reviewer

[2021-04-20 07:02] eloisabentivegna commented on #3163
@whedon start review

[2021-04-20 07:02] whedon opened #3194 "[REVIEW]: FIRESONG: A python package to simulate populations of extragalactic neutrino sources"
**Submitting author:** @ChrisCFTung (<a href="http://orcid.org/0000-0001-6920-7841">Chun Fai Tung</a>)
**Repository:** <a href="https://github.com/icecube/FIRESONG" target ="_blank">https://github.com/icecube/FIRESONG</a>
**Version:** v1.6
**Editor:** @eloisabentivegna
**Reviewer:** @JostMigenda, @rafaelab
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2021-04-20 07:02] whedon commented on #3163
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3194.

[2021-04-20 07:02] #3163 closed

[2021-04-20 07:02] whedon commented on #3194
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JostMigenda, @rafaelab it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-04-20 07:02] whedon commented on #3194
[code]

[2021-04-20 07:03] whedon commented on #3194
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03194/joss.03194/10.21105.joss.03194.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03194/joss.03194/10.21105.joss.03194.pdf) :page_facing_up: :point_left:

[2021-04-20 07:04] whedon commented on #3194
[code]

[2021-04-20 08:03] salrm8 commented on #2871
@kyleniemeyer Hi! Here is the DOI from Zenodo:

https://zenodo.org/badge/306281730.svg

[2021-04-20 08:18] will-rowe commented on #3161
Hi @DARSakthi - thank you! I'd be happy to accept your offer if you can manage it within the next month or so?

[2021-04-20 08:19] iljah commented on #3096
@melissawm correct, I probably couldn't contribute any more than I already have.

[2021-04-20 08:29] pdebuyl commented on #3076
Hi @mparno any update? Now that the two reviews are in you can of course reply to everything in one iteration.

[2021-04-20 08:51] whedon opened #3195 "[PRE REVIEW]: MCALF: Multi-Component Atmospheric Line Fitting"
**Submitting author:** @ConorMacBride (<a href="http://orcid.org/0000-0002-9901-8723">Conor MacBride</a>)
**Repository:** <a href="https://github.com/ConorMacBride/mcalf" target ="_blank">https://github.com/ConorMacBride/mcalf</a>
**Version:** v0.2.0
**Editor:** @mbobra
**Reviewers:** @mgalloy, @Goobley
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-04-20 08:51] whedon commented on #3195
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-20 08:51] whedon opened #3196 "[PRE REVIEW]: S(ound)lab: A teaching-oriented Python package for designing and running psychoacoustic experiments."
**Submitting author:** @DrMarc (<a href="http://orcid.org/0000-0002-2023-1207">Marc Schönwiesner</a>)
**Repository:** <a href="https://github.com/DrMarc/slab" target ="_blank">https://github.com/DrMarc/slab</a>
**Version:** v0.9.0
**Editor:** @arfon
**Reviewers:** @hadware, @sneakers-the-rat
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-04-20 08:51] whedon commented on #3196
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-20 08:52] whedon commented on #3195
[code]

[2021-04-20 08:52] whedon commented on #3195
[code]

[2021-04-20 08:52] arfon commented on #3053
@whedon accept from branch JOSS-paper

[2021-04-20 08:52] whedon commented on #3053
[code]

[2021-04-20 08:52] whedon commented on #3196
[code]

[2021-04-20 08:53] whedon commented on #3195
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03195/joss.03195/10.21105.joss.03195.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03195/joss.03195/10.21105.joss.03195.pdf) :page_facing_up: :point_left:

[2021-04-20 08:53] whedon commented on #3196
PDF failed to compile for issue #3196 with the following error:
[code]

[2021-04-20 08:53] whedon commented on #3196
[code]

[2021-04-20 08:54] whedon commented on #3053
[code]

[2021-04-20 08:56] whedon commented on #3053
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2248

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2248, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-20 08:57] navidcy commented on #3053
thanks @arfon, looks good!

[2021-04-20 09:31] sylvaticus commented on #2849
@whedon generate pdf

[2021-04-20 09:32] whedon commented on #2849
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02849/joss.02849/10.21105.joss.02849.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02849/joss.02849/10.21105.joss.02849.pdf) :page_facing_up: :point_left:

[2021-04-20 09:32] sandrinecharles commented on #3177
Dear colleague,
As reviewers I may suggest the following ones:
Andre GERGS, andre.gergs@bayer.com
Alessio IPPOLITO, Alessio.IPPOLITO@efsa.europa.eu
Arnaud CHAUMOT, arnaud.chaumot@inrae.fr

Else, within your own list, those persons could maybe be interested in reviewing our manuscript:
@BrandonEdwards
@ghislainv
@Volkerschmid
@BrandonEdwards

Best regards,
Sandrine Charles

[2021-04-20 09:32] sdesabbata commented on #2869
Hi @szymon-datalions,

I guess it depends what's the aim of the example. I assume that the aim is to demonstrate that your package does what's supposed to do. I haven't check the software and related tests yet, but I guess it would be good to include an example in the paper that does show that the software produces the expected results. That can be done in two ways: you take an example of analysis

[2021-04-20 09:58] szymon-datalions commented on #2869
Hi @sdesabbata ,

Ok, I'll do it and let you know once it's done! Thanks!

[2021-04-20 10:18] sandrinecharles commented on #3177
@whedons could you detail what is expected from my side as actions regarding this post?

[2021-04-20 12:36] 0todd0000 commented on #3159
@cMadan I have completed the main portion of my review using repository issues, and @tramarobin has satisfactorily responded to all of my concerns. Before I recommend "accept" just a few minor additions are needed, as outlined below. These additions are JOSS requirements, and not directly related to the repository, so I have raised this matter here rather than in the repository.

* **Documentation

[2021-04-20 13:00] sandrinecharles commented on #3177
File paper.bib has been corrected. Thanks for your vigilance.

[2021-04-20 13:09] sandrinecharles commented on #3177
Dear Kyle, I moved the 'paper' folder to the Github repository of the R-package directly as requested:
https://github.com/pveber/morse/tree/master/paper

[2021-04-20 13:10] sandrinecharles commented on #3177
Dear Kristina, that would be much appreciated getting your feedback on our manuscript.

[2021-04-20 13:13] sandrinecharles commented on #3177
@whedon generate pdf

[2021-04-20 13:13] DARSakthi commented on #3161
A month sounds doable

[2021-04-20 13:28] nnadeau commented on #3096
@melissawm sure, i can be available. "hypercomplex numbers" are outside of my direct specialty, but I can definitely review the C++ and the overall scholarly effort.

[2021-04-20 13:45] rerickson-usgs commented on #3117
@arfon I hope you're doing well.  Do you have any idea when my submission might move off the `waitlist`?

[2021-04-20 13:47] melissawm commented on #3096
Sounds great! I´ll add you as a reviewer and will edit the checklist above to include your review. Thank you!

[2021-04-20 13:47] melissawm commented on #3096
@whedon add @nnadeau as reviewer

[2021-04-20 13:47] whedon commented on #3096
OK, @nnadeau is now a reviewer

[2021-04-20 14:23] jhollist commented on #3185
Thanks for the invite.  Unfortunately, I am going to have to pass right now.  Schedule is busy and getting busier!  Sorry!

[2021-04-20 14:24] diehlpk commented on #3060
@vavrines Could you please try the star (*) instead of the dash (-). I think that the star should work.

[2021-04-20 14:25] vavrines commented on #3060
@whedon generate pdf

[2021-04-20 14:26] whedon commented on #3060
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: :point_left:

[2021-04-20 14:28] vavrines commented on #3060
It seems star doesn't work either.

[2021-04-20 14:40] dmey commented on #2863
@whedon generate pdf from branch joss-paper

[2021-04-20 14:40] whedon commented on #2863
[code]

[2021-04-20 14:41] whedon commented on #2863
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: :point_left:

[2021-04-20 14:44] dmey commented on #2863
@mnarayan thanks. Please see the updated draft above.

[2021-04-20 14:50] traversaro commented on #2752
Hi @vincentberenz, thanks for the feedback, I will look into that the next week.

[2021-04-20 15:03] diehlpk commented on #3060
@vavrines We used in our JOSS paper both the dash and star. Please have a look at the Application section

https://github.com/STEllAR-GROUP/hpx/blob/master/docs/joss_paper/paper.md

[2021-04-20 15:07] vavrines commented on #3060
@whedon generate pdf

[2021-04-20 15:08] pibion commented on #2764
@whedon add @andrewpaulreeves as reviewer

[2021-04-20 15:09] whedon commented on #2764
OK, @andrewpaulreeves is now a reviewer

[2021-04-20 15:09] whedon commented on #3060
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: :point_left:

[2021-04-20 15:10] vavrines commented on #3060
With blank line it works, thx a lot!

[2021-04-20 15:55] kyleniemeyer commented on #2871
@salrm8 ah, thanks - could you clean up the author list on the Zenodo archive to match the paper?

[2021-04-20 15:55] kyleniemeyer commented on #2871
@whedon set 10.5281/zenodo.4704355 as archive

[2021-04-20 15:56] whedon commented on #2871
OK. <a href="https://doi.org/10.5281/zenodo.4704355" target="_blank">10.5281/zenodo.4704355</a> is the archive.

[2021-04-20 15:56] kyleniemeyer commented on #3193
@whedon generate pdf

[2021-04-20 15:56] whedon commented on #3193
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03193/joss.03193/10.21105.joss.03193.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03193/joss.03193/10.21105.joss.03193.pdf) :page_facing_up: :point_left:

[2021-04-20 16:01] kyleniemeyer commented on #3193
@wlandau looks good! Please now archive the software repository (e.g., on Zenodo) and report the DOI here, and then I will accept this.

[2021-04-20 16:09] will-rowe commented on #3161
@whedon assign @DARSakthi as reviewer

[2021-04-20 16:09] whedon commented on #3161
OK, @DARSakthi is now a reviewer

[2021-04-20 16:09] will-rowe commented on #3161
Thanks @DARSakthi  - we will find one more reviewer and then start the review thread. I'll keep you posted

[2021-04-20 16:10] JostMigenda commented on #3194
Hi @ChrisCFTung, thanks for the submission! I’ll install & test the software in a couple of days; for now, just a few initial comments and questions, after looking at the repo and the paper:

* Comparing the author list with Whedon’s software report, I’ve noticed that Theo Glauch doesn’t appear to have contributed any code. Is that an inaccuracy in the git history? Or can you confirm that one of J

[2021-04-20 16:31] DARSakthi commented on #3161
Cheers

On Tue, 20 Apr 2021 at 12:10, Will Rowe ***@***.***> wrote:

[2021-04-20 17:27] salrm8 commented on #2871
@kyleniemeyer Done! Thank you.

[2021-04-20 17:31] bonh commented on #3096
@whedon remove @bonh as reviewer

[2021-04-20 17:31] whedon commented on #3096
I'm sorry @bonh, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-04-20 17:32] bonh commented on #3096
Hahaha, I though I was acting clever here... :+1:
@melissawm Please be so kind!

[2021-04-20 17:34] kyleniemeyer commented on #2871
@whedon accept

[2021-04-20 17:34] whedon commented on #2871
[code]

[2021-04-20 17:35] whedon commented on #2871
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2249

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2249, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-20 17:36] melissawm commented on #3096
@whedon remove @bohn as reviewer

[2021-04-20 17:36] whedon commented on #3096
OK, @bohn is no longer a reviewer

[2021-04-20 17:36] melissawm commented on #3096
Thank you for all your inputs and thoughtful considerations, @bohn!

[2021-04-20 17:37] kyleniemeyer commented on #2871
@whedon accept deposit=true

[2021-04-20 17:37] whedon commented on #2871
[code]

[2021-04-20 17:37] melissawm commented on #3096
@whedon remove @bonh as reviewer

[2021-04-20 17:37] whedon commented on #3096
OK, @bonh is no longer a reviewer

[2021-04-20 17:37] whedon commented on #2871
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1384561995538702340) 👈 🐦🐦🐦

[2021-04-20 17:37] whedon commented on #2871
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2250
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02871](https://doi.org/10.21105/joss.02871)
2. If everything look

[2021-04-20 17:48] kyleniemeyer commented on #2871
Congrats @salrm8 on your article's publication in JOSS!

Many thanks to  @jayten and @ctdegroot for reviewing this submission, and @drvinceknight for editing.

[2021-04-20 18:09] mcflugen commented on #3179
@kthyng We'll have a look at the list of potential reviewers and get back to you. In terms of skills, I think it would be good to find someone familiar with python (and cython) as well as at least one of the other languages we're working with (i.e. Fortran, C, C++).

[2021-04-20 18:23] crvernon commented on #3166
@fboehm I believe that @niceume has addressed all of the issues I submitted in the `joss_submission`branch of the `datasailr` repository here:  https://github.com/niceume/datasailr/tree/joss_submission

I have checked all of my review boxes and consider this submission as ready awaiting the approval of you and @DrMattG

Excellent work @niceume !

[2021-04-20 18:54] mcflugen commented on #3179
@kthyng After going through your list, here are some that looked as if they could serve as reviewers. Some of these people we know, some we don't:
- camillescott
- cheginit
- dbuscombe-usgs
- lheagy
- ngoldbaum
- PythonCHB
- rowanc1

[2021-04-20 19:17] #2871 closed

[2021-04-20 19:17] whedon commented on #2871
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02871/status.svg)](https://doi.org/10.21105/joss.02871)

**We need your help!**

Journal of Open Source Softwa

[2021-04-20 20:11] salrm8 commented on #2871
Thank you @kyleniemeyer , @drvinceknight , @jayten, and @ctdegroot!

[2021-04-20 20:12] majensen commented on #3130
All, @dimitridarras has graciously agreed to review this work. Will assign him and then move to the full review.

[2021-04-20 20:12] majensen commented on #3130
@whedon add @dimitridarras as reviewer

[2021-04-20 20:12] whedon commented on #3130
OK, @dimitridarras is now a reviewer

[2021-04-20 20:13] majensen commented on #3130
@whedon start review

[2021-04-20 20:13] whedon opened #3197 "[REVIEW]: Ceiba: A web service to handle scientific simulation data"
**Submitting author:** @felipeZ (<a href="http://orcid.org/0000-0001-8286-677X">felipe zapata ruiz</a>)
**Repository:** https://github.com/nlesc-nano/ceiba
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @majensen
**Reviewers:** @junjun-zhang, @dimitridarras
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2021-04-20 20:13] whedon commented on #3130
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3197.

[2021-04-20 20:13] #3130 closed

[2021-04-20 20:13] whedon commented on #3197
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @junjun-zhang, @dimitridarras it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-04-20 20:14] whedon commented on #3197
[code]

[2021-04-20 20:15] majensen commented on #3197
@whedon check references

[2021-04-20 20:15] whedon commented on #3197
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03197/joss.03197/10.21105.joss.03197.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03197/joss.03197/10.21105.joss.03197.pdf) :page_facing_up: :point_left:

[2021-04-20 20:16] whedon commented on #3197
[code]

[2021-04-20 20:17] whedon commented on #3197
[code]

[2021-04-20 20:18] majensen commented on #3197
Hi @felipeZ - whedon has a suggestion for a DOI for the SLURM reference (see https://github.com/openjournals/joss-reviews/issues/3197#issuecomment-823572123) - could you add to your bib when you have an opportunity?

[2021-04-20 21:20] apiad commented on #3153
Hey @dpalmasan, just submitted a small PR with what I think could be minor fixes to the paper. Please forgive me for taking the freedom to directly suggest text changes, but I think is easier/faster than listing them here. Let me know if you wish to review anything, and of course, as the author, you have the final word on your paper. Hope my suggestions help a bit :smile:!

[2021-04-20 21:33] jcorbino commented on #2936
Hi @jedbrown, @arfon ,

Any update on this?  I think the reviewers have not been assigned...

Kind regards,

[2021-04-20 22:46] kellyrowland commented on #3185
@jhollist Understood, thanks for the quick reply!

[2021-04-20 22:48] dpalmasan commented on #3153
No worries! It was actually a great idea. I already took the suggestions into account and updated some missing bits (the ones that were tagged as `<NAME>`. Thanks for the detailed review!

[2021-04-20 23:24] wlandau commented on #3193
I created a release with DOI https://doi.org/10.5281/zenodo.4706113. Looks to be still pending.

[2021-04-20 23:52] kbarnhart commented on #3180
@kyleniemeyer no availability now :( sorry.

Also, sorry for the delay in response. I must have not enabled the ooo bot correctly (am back now)

[2021-04-21 00:19] kyleniemeyer commented on #3193
@whedon set 10.5281/zenodo.4706113 as archive

@wlandau works now! Before I publish, can you just clean up the author list of that? It looks to have you listed twice.

[2021-04-21 00:19] whedon commented on #3193
OK. <a href="https://doi.org/10.5281/zenodo.4706113" target="_blank">10.5281/zenodo.4706113</a> is the archive.

[2021-04-21 01:16] apiad commented on #3153
Awesome! Perfect then, @danielskatz this officially completes my review.

I'm extremely satisfied with the work and I sincerely think it's a great addition to the NLP community. Thanks, @dpalmasan again for your quick responses, and please extend my congratulations to your colleagues on such solid work.

[2021-04-21 01:40] wlandau commented on #3193
Thanks, I removed the duplicate author entry.

[2021-04-21 03:29] potterzot commented on #3182
@timtroendle thank you for the request to review. I'd be happy to do so but the earliest I would be able to respond would be the first week of May.

[2021-04-21 05:26] timtroendle commented on #3182
@potterzot thank you for your reply. We are currently still working in a "reduced service mode" in which we ask reviewers to respond within 6 week at the latest. So a response of you in the beginning of May would be fine.

[2021-04-21 05:48] csoneson commented on #3122
👋🏻 Hi all, I just wanted to check in and see that everything is on track and moving forward here. Let me know if there are any questions or roadblocks. Thanks!

[2021-04-21 06:04] kyleniemeyer commented on #3193
@whedon accept

[2021-04-21 06:04] whedon commented on #3193
[code]

[2021-04-21 06:05] whedon commented on #3193
[code]

[2021-04-21 06:05] whedon commented on #3193
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2251

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2251, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-21 06:08] kyleniemeyer commented on #3193
@whedon accept deposit=true

[2021-04-21 06:08] whedon commented on #3193
[code]

[2021-04-21 06:09] whedon commented on #3193
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1384751150340218885) 👈 🐦🐦🐦

[2021-04-21 06:09] whedon commented on #3193
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2252
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03193](https://doi.org/10.21105/joss.03193)
2. If everything look

[2021-04-21 06:10] kyleniemeyer commented on #3193
Congratulations  @wlandau on your article's publication in JOSS!

[2021-04-21 06:15] arfon commented on #3053
@whedon accept deposit=true from branch JOSS-paper

[2021-04-21 06:15] whedon commented on #3053
[code]

[2021-04-21 06:16] whedon commented on #3053
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1384752850690056193) 👈 🐦🐦🐦

[2021-04-21 06:16] whedon commented on #3053
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2253
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03053](https://doi.org/10.21105/joss.03053)
2. If everything look

[2021-04-21 06:18] arfon commented on #3053
@ranocha, @eviatarbach - many thanks for your reviews here and to @pdebuyl for editing this submission. JOSS relies upon the volunteer efforts of people like you, and we couldn't do this without you ✨

@navidcy - your paper is now accepted into JOSS :zap::rocket::boom:

[2021-04-21 06:18] #3053 closed

[2021-04-21 06:18] whedon commented on #3053
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03053/status.svg)](https://doi.org/10.21105/joss.03053)

**We need your help!**

Journal of Open Source Softwa

[2021-04-21 06:27] dlebauer commented on #3122
@csoneson still waiting on author to respond to issues / PRs

[2021-04-21 06:44] niceume commented on #3166
Thank you very much for your review, @crvernon !

[2021-04-21 07:03] igarizio commented on #3182
👋 @timtroendle thank you for suggesting me for the review. I would be more than happy to participate (if you are looking for more than one reviewer).

[2021-04-21 07:04] felipeZ commented on #3197
@whedon check references

[2021-04-21 07:05] whedon commented on #3197
[code]

[2021-04-21 07:12] timtroendle commented on #3182
Absolutely, thank you for letting me know @igarizio .

[2021-04-21 07:14] tramarobin commented on #3159
@whedon generate pdf

[2021-04-21 07:15] whedon commented on #3159
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03159/joss.03159/10.21105.joss.03159.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03159/joss.03159/10.21105.joss.03159.pdf) :page_facing_up: :point_left:

[2021-04-21 07:17] tscheypidi commented on #3185
I also have to decline this time due to other commitments. Sorry for that.

[2021-04-21 07:26] struckma commented on #3093
Dear @csoneson,

thank you for being our editor. Since the review process seems to have stalled, is there something we can do about it? I don't want to impatient, but my colleagues are asking me about progress, and I do not know how to answer? Thank you for your advice

Stephan

[2021-04-21 07:30] tramarobin commented on #3159
@0todd0000 thank you for having take the time to test and suggest modification for this function.

The documentation was modified accordingly.

On the generated pdf above the References section appears correctly.

[2021-04-21 09:05] DrMattG commented on #3166
I agree - great work @niceume. I am happy that the issues I raised are now addressed. Thanks @fboehm for the opportunity to review - it's a really nice process.

[2021-04-21 09:32] arfon commented on #3139
@whedon accept deposit=true

[2021-04-21 09:32] whedon commented on #3139
[code]

[2021-04-21 09:33] whedon commented on #3139
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1384802388901572611) 👈 🐦🐦🐦

[2021-04-21 09:33] whedon commented on #3139
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2254
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03139](https://doi.org/10.21105/joss.03139)
2. If everything look

[2021-04-21 09:34] #3193 closed

[2021-04-21 09:34] whedon commented on #3193
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03193/status.svg)](https://doi.org/10.21105/joss.03193)

**We need your help!**

Journal of Open Source Softwa

[2021-04-21 09:35] arfon commented on #3195
:wave: @ConorMacBride - thanks for your submission to JOSS. can you tell me if this paper is associated with one in a AAS journal?

[2021-04-21 09:39] arfon commented on #3196
:wave: @DrMarc - thanks for your submission to JOSS. A few housekeeping issues here related to your paper:

- Please either add an ORCID for `Ole Bialas` or remove the blank entry for them.
- Please check the suggested DOI above from @whedon, and if it looks correct, then please update your BibTeX file with the corresponding DOI.

Also, could you confirm the main purpose of this software? From my

[2021-04-21 09:40] whedon opened #3198 "[PRE REVIEW]: SenSARP: A Python package for pre-processing Sentinel-1 SLC data with the Sentinel-1 Toolbox"
**Submitting author:** @McWhity (<a href="http://orcid.org/0000-0001-5278-8379">Thomas Weiß</a>)
**Repository:** <a href="https://github.com/multiply-org/sar-pre-processing.git" target ="_blank">https://github.com/multiply-org/sar-pre-processing.git</a>
**Version:** 0.1
**Editor:** @pdebuyl
**Reviewers:** @arthur-e, @braunfuss
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :w

[2021-04-21 09:40] ConorMacBride commented on #3195
It is not.

[2021-04-21 09:40] whedon commented on #3198
Failed to discover a `Statement of need` section in paper

[2021-04-21 09:40] whedon commented on #3198
[code]

[2021-04-21 09:40] whedon commented on #3198
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03198/joss.03198/10.21105.joss.03198.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03198/joss.03198/10.21105.joss.03198.pdf) :page_facing_up: :point_left:

[2021-04-21 09:41] arfon commented on #3139
@martinju, @gjo11 - many thanks for your reviews here and to @mikldk for editing this submission. JOSS relies upon the volunteer efforts of people like you, and we simply wouldn't be able to do this without you! ✨

@strengejacke - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-04-21 09:41] #3139 closed

[2021-04-21 09:41] whedon commented on #3139
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03139/status.svg)](https://doi.org/10.21105/joss.03139)

**We need your help!**

Journal of Open Source Softwa

[2021-04-21 09:41] whedon commented on #3198
[code]

[2021-04-21 09:55] csoneson commented on #3093
Hi @struckma - I have reached out to @tgerke offline and sent a follow-up email today - if we don't hear back there soon I'll look for an additional reviewer to bring this forward.

@borishejblum - did you have a chance to look over the authors' modifications in response to the issues you raised?

[2021-04-21 10:31] struckma commented on #3093
Thank you very much.

[2021-04-21 11:20] niceume commented on #3166
Thank you very much, @DrMattG ! The paper and the software have become improved much.

[2021-04-21 11:30] hansenjohnson commented on #3094
Hi @pjbouchet, thanks again for your helpful comments! I have taken the following steps to address them:

[Fixed](https://github.com/hansenjohnson/WhaleMap/commit/51a57348d35138c1bb18c9000c6d561d7cb7ed4c)

[Added](https://github.com/hansenjohnson/WhaleMap/commit/4f204e301ed60177b8f67e5ae007b4c09391358e)

This is an excellent point. Our choice to accept data in nearly any format was one of necessit

[2021-04-21 11:43] milicag commented on #3182
I am glad the other reviewers already volunteered and happy to skip due to other reviewer commitments I am involved with right now. This looks like a great topic and I wish you a great reviewing session.

[2021-04-21 11:53] danielskatz commented on #3153
👋 @dpalmasan - I've suggested a bunch of small changes to the paper and bib in https://github.com/dpalmasan/TRUNAJOD2.0/pull/57

[2021-04-21 11:54] danielskatz commented on #3153
The next step is for you to:
 - [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make su

[2021-04-21 12:11] wlandau commented on #3193
Thanks so much, @kyleniemeyer!

[2021-04-21 12:27] eileenrmartin commented on #2565
review expected May 7

[2021-04-21 12:33] dpalmasan commented on #3153
Hello @danielskatz, I already merged your changes, thanks! Here are the items of the checklist:

- Tagged release with the reviewed software `v.0.1.2`: https://github.com/dpalmasan/TRUNAJOD2.0/releases/tag/v0.1.2
- Zenodo software archival: https://zenodo.org/record/4707403#.YIAa5RNKh70
- Metadata title and authors match the `paper.md`
- The archived version DOI: [![DOI](https://zenodo.org/badge/D

[2021-04-21 13:21] danielskatz commented on #3153
@whedon set 10.5281/zenodo.4707403 as archive

[2021-04-21 13:21] whedon commented on #3153
OK. <a href="https://doi.org/10.5281/zenodo.4707403" target="_blank">10.5281/zenodo.4707403</a> is the archive.

[2021-04-21 13:21] danielskatz commented on #3153
@whedon set v0.1.2 as version

[2021-04-21 13:21] whedon commented on #3153
OK. v0.1.2 is the version.

[2021-04-21 13:22] danielskatz commented on #3153
@whedon accept

[2021-04-21 13:22] whedon commented on #3153
[code]

[2021-04-21 13:23] whedon commented on #3153
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2255

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2255, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-21 13:25] danielskatz commented on #3153
@whedon check references

[2021-04-21 13:27] danielskatz commented on #3153
👋 @openjournals/dev - Can you see why ☝️ doesn't seem to be returning, and wasn't completed as part of the `accept` process?

[2021-04-21 13:28] whedon commented on #3153
[code]

[2021-04-21 13:30] danielskatz commented on #3153
@whedon accept deposit=true

[2021-04-21 13:30] whedon commented on #3153
[code]

[2021-04-21 13:31] whedon commented on #3153
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1384862337627209728) 👈 🐦🐦🐦

[2021-04-21 13:31] whedon commented on #3153
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2256
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03153](https://doi.org/10.21105/joss.03153)
2. If everything look

[2021-04-21 13:36] danielskatz commented on #3153
Congratulations to @dpalmasan (Diego Palma) and co-authors on your publication!!

And thanks to @mbdemoraes and @apiad for reviewing!

As the editor, this was a very quick and smooth process that worked well as everyone was quite collaborative and responsive - thank again to all of you!!

[2021-04-21 13:36] #3153 closed

[2021-04-21 13:36] whedon commented on #3153
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03153/status.svg)](https://doi.org/10.21105/joss.03153)

**We need your help!**

Journal of Open Source Softwa

[2021-04-21 13:38] danielskatz commented on #3109
@whedon assign me as editor

[2021-04-21 13:38] whedon commented on #3109
OK, the editor is @danielskatz

[2021-04-21 13:39] danielskatz commented on #3109
👋 @adi3 - thanks for volunteering - I'll assign you as a reviewer, but we won't start the review until we find another reviewer as well

[2021-04-21 13:39] danielskatz commented on #3109
@whedon assign @adi3 as reviewer

[2021-04-21 13:39] whedon commented on #3109
OK, @adi3 is now a reviewer

[2021-04-21 13:42] danielskatz commented on #3109
@PacoCosta - we have a few things we need to do now
1. Get the paper to compile - I'll check and see if you have made changes. You can also do this, by using the command `@whedon check references` to check the references, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new comment.
2. Add an explicit "Statement

[2021-04-21 13:42] danielskatz commented on #3109
@whedon generate pdf

[2021-04-21 13:43] whedon commented on #3109
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03109/joss.03109/10.21105.joss.03109.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03109/joss.03109/10.21105.joss.03109.pdf) :page_facing_up: :point_left:

[2021-04-21 13:43] danielskatz commented on #3109
@whedon check references

[2021-04-21 13:44] danielskatz commented on #3109
Ok, the paper compiles, but there is no "Statement of Need" section - you could probably just retitle the Motivation section to address this.

[2021-04-21 13:48] danielskatz commented on #3109
Please remove the prefix from the reference noted above ☝️

Also, one of your references (line 117 of the PDF) seems to be to this paper itself, which doesn't really make sense.

[2021-04-21 13:50] kbarnhart commented on #2276
Thanks for those comments @r-barnes. I'm just back from being out of office.

Wanted to acknowledge that I'll weigh in on the comment above about docs, but can't get to it today. Should be by tomorrow or Friday.

[2021-04-21 13:54] dhhagan commented on #3127
Hey @tyronerees - as mentioned above, once you fix the reference mentioned by @kyleniemeyer above, could you please complete the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Ze

[2021-04-21 13:54] dhhagan commented on #3110
No worries, @annahodshire - thanks for considering!

[2021-04-21 14:05] dhhagan commented on #3110
:wave: Hey @khinsen, @vahtras, @chasemc, @dvalters - would one of you be available and interested in reviewing this manuscript and software?

[2021-04-21 14:07] dhhagan commented on #3144
:wave: Hey @sgrieve, @lheagy, @andreas-h, @jwuttke - would any of you be available and interested in reviewing this manuscript and software?

[2021-04-21 14:14] awickert commented on #2276
I have finished my tests of WDPM (it worked) and ticked off the remaining items in my review.

[2021-04-21 14:23] mparno commented on #3076
@georgiastuart and @martinmodrak  Thank you both for your reviews.   We've started addressing some of your concerns and will get back to you all with a longer response as soon as we can.    @pdebuyl We will keep you posted on our progress.   Thanks!

[2021-04-21 14:31] dfm commented on #3146
@whedon assign @kburns as reviewer

@kburns will be one of our reviewers - thanks Keaton! Once I have confirmation on a second reviewer, I'll get the main review started.

[2021-04-21 14:31] whedon commented on #3146
OK, @kburns is now a reviewer

[2021-04-21 14:33] dfm commented on #3146
@pikarpov-LANL: would you like me to switch this review to your @pikarpov account altogether or would you rather the submission still be associated with @pikarpov-LANL? Sorry I didn't get back to you about this sooner!

[2021-04-21 14:52] pikarpov-LANL commented on #3146
@dfm please keep the submission under @pikarpov-lanl, for the lab's record. However, I will reply faster @pikarpov, since I get notifications straight to my personal email, hence my phone. I cannot do the same with the lab's account.

[2021-04-21 15:00] KristinaRiemer commented on #2721
Okay, I finished up the review started by @kellykochanski and everything looks good! I especially like the diagram of the package workflow in the paper. Are you leaving the paper in the `joss-article-review1` branch?

Otherwise, will say this paper is accepted. We'll have a few more steps to go through, including a last review of the paper itself and getting a DOI.

[2021-04-21 15:00] KristinaRiemer commented on #2721
@whedon generate pdf

[2021-04-21 15:01] whedon commented on #2721
PDF failed to compile for issue #2721 with the following error:
[code]

[2021-04-21 15:01] KristinaRiemer commented on #2721
@whedon generate pdf from branch joss-article-review1

[2021-04-21 15:01] whedon commented on #2721
[code]

[2021-04-21 15:05] whedon commented on #2721
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02721/joss.02721/10.21105.joss.02721.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02721/joss.02721/10.21105.joss.02721.pdf) :page_facing_up: :point_left:

[2021-04-21 15:05] FrancisBanville commented on #2721
Great, thank you @KristinaRiemer!

[2021-04-21 15:43] kevinrue commented on #3167
@csoneson All good from my point of view!

[2021-04-21 15:45] IndrajeetPatil commented on #3167
@kevinrue Thanks a ton for your helpful feedback! 🙌

[2021-04-21 15:47] IndrajeetPatil commented on #3167
@whedon generate pdf

[2021-04-21 15:49] whedon commented on #3167
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03167/joss.03167/10.21105.joss.03167.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03167/joss.03167/10.21105.joss.03167.pdf) :page_facing_up: :point_left:

[2021-04-21 16:06] KristinaRiemer commented on #2721
I'm not sure why that's not working, do I need to specify the branch there too @kyleniemeyer?

[2021-04-21 16:10] csoneson commented on #3167
Thanks a lot @kevinrue!

[2021-04-21 16:16] kellyrowland commented on #3185
@tscheypidi No problem, thanks for your reply!

[2021-04-21 16:55] oliviaguest commented on #3041
Amazing! Fabulous! ☺️

[2021-04-21 16:56] oliviaguest commented on #2863
@whedon check references from branch joss-paper

[2021-04-21 16:56] whedon commented on #2863
[code]

[2021-04-21 16:56] oliviaguest commented on #3041
@whedon check repository

[2021-04-21 16:56] whedon commented on #3041
[code]

[2021-04-21 16:56] oliviaguest commented on #2863
@whedon check repository from branch joss-paper

[2021-04-21 16:56] whedon commented on #2863
Failed to discover a `Statement of need` section in paper

[2021-04-21 16:56] whedon commented on #2863
[code]

[2021-04-21 16:56] oliviaguest commented on #3041
@whedon accept

[2021-04-21 16:57] whedon commented on #3041
[code]

[2021-04-21 16:57] whedon commented on #2863
[code]

[2021-04-21 16:57] whedon commented on #3041
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2257

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2257, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-21 16:58] oliviaguest commented on #3041
@sdparsons what is the right version? Is it correct above?

[2021-04-21 16:59] whedon commented on #3041
[code]

[2021-04-21 17:16] oliviaguest commented on #3041
@whedon set v0.8.1 as version

[2021-04-21 17:16] whedon commented on #3041
OK. v0.8.1 is the version.

[2021-04-21 17:17] oliviaguest commented on #3041
@whedon generate pdf

[2021-04-21 17:17] whedon commented on #3041
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03041/joss.03041/10.21105.joss.03041.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03041/joss.03041/10.21105.joss.03041.pdf) :page_facing_up: :point_left:

[2021-04-21 17:18] oliviaguest commented on #2863
@dmey I think the DOI is still missing? Or is that a false alarm?

[2021-04-21 17:20] oliviaguest commented on #3105
@whedon add @KirstensGitHub as reviewer

[2021-04-21 17:20] whedon commented on #3105
OK, @KirstensGitHub is now a reviewer

[2021-04-21 17:21] dmey commented on #2863
@oliviaguest yes, false alarm. Basically the paper I cited has the same name as a conference abstract we submitted this year and whedon is picking the latter up (which has a DOI) instead of the paper (which does not yet have one).

[2021-04-21 17:44] dfm commented on #3146
@whedon add @milescranmer as reviewer

Thanks Miles for agreeing to be our second reviewer! I'll get the review started shortly in a new thread, so we can all head over there for the rest of the process. Please don't hesitate to ask if you have any questions as the review progresses.

[2021-04-21 17:44] whedon commented on #3146
OK, @milescranmer is now a reviewer

[2021-04-21 17:45] dfm commented on #3146
@whedon start review

[2021-04-21 17:45] whedon opened #3199 "[REVIEW]: Sapsan: Framework for Supernovae Turbulence Modeling with Machine Learning"
**Submitting author:** @pikarpov-lanl (<a href="http://orcid.org/0000-0003-4311-8490">Platon I. Karpov</a>)
**Repository:** <a href="https://github.com/pikarpov-LANL/Sapsan" target ="_blank">https://github.com/pikarpov-LANL/Sapsan</a>
**Version:** v0.4.6
**Editor:** @dfm
**Reviewer:** @kburns, @milescranmer
**Archive:** <a href="https://doi.org/10.5281/zenodo.5720254" target="_blank">10.5281/zenod

[2021-04-21 17:45] whedon commented on #3146
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3199.

[2021-04-21 17:45] #3146 closed

[2021-04-21 17:45] whedon commented on #3199
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kburns, @milescranmer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-04-21 17:46] whedon commented on #3199
[code]

[2021-04-21 17:46] whedon commented on #3199
PDF failed to compile for issue #3199 with the following error:
[code]

[2021-04-21 17:47] dfm commented on #3199
@kburns, @MilesCranmer, @pikarpov – This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, ple

[2021-04-21 17:48] dfm commented on #3199
@whedon generate pdf from branch joss

[2021-04-21 17:48] whedon commented on #3199
[code]

[2021-04-21 17:49] whedon commented on #3199
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03199/joss.03199/10.21105.joss.03199.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03199/joss.03199/10.21105.joss.03199.pdf) :page_facing_up: :point_left:

[2021-04-21 18:07] PacoCosta commented on #3109
1. Add Statement of Need section: :heavy_check_mark:
2. Remove prefix from invalid DOI's: :heavy_check_mark:
3. Suggest additional reviewer --> Scivision : :heavy_check_mark:
4. Reference to Qlunc version 0.91V: I am referencing the last release of Qlunc in Zenodo not to the paper itself. Do you think it doesn't have sense? If so, I will just remove it.

[2021-04-21 18:18] danielskatz commented on #3109
@whedon generate pdf

[2021-04-21 18:19] whedon commented on #3109
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03109/joss.03109/10.21105.joss.03109.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03109/joss.03109/10.21105.joss.03109.pdf) :page_facing_up: :point_left:

[2021-04-21 18:19] danielskatz commented on #3109
@whedon check references

[2021-04-21 18:19] whedon commented on #3109
[code]

[2021-04-21 18:21] danielskatz commented on #3109
Re the reference, I see "Costa, F. (2021). Qlunc: A Python framework for quantification of lidar uncertainty. In Journal of Open Source Software (Version 0.91)." This seems to be a reference to this paper in JOSS, not the software in Zenodo.  But in either case, since the software will be published as part of the paper, why would the paper either cite itself or an element of it?

[2021-04-21 18:22] danielskatz commented on #3109
👋 @Scivision, @dsryberg - would one of you be willing to review this submission to JOSS?

[2021-04-21 18:26] sdparsons commented on #3041
@oliviaguest yeah 0.8.1, and the proof looks good!
Thank you for shepherding this through :)

[2021-04-21 18:32] PacoCosta commented on #3109
@danielskatz  - Definitely...

4. Remove reference to Qlunc: ✔️

[2021-04-21 18:38] danielskatz commented on #3109
@PacoCosta - when you make changes, please regenerate the PDF...  To do this, use the command `@whedon generate pdf` Whedon commands need to be the first entry in a new comment.

[2021-04-21 18:40] PacoCosta commented on #3109
@whedon generate pdf

Understood

[2021-04-21 18:41] whedon commented on #3109
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03109/joss.03109/10.21105.joss.03109.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03109/joss.03109/10.21105.joss.03109.pdf) :page_facing_up: :point_left:

[2021-04-21 18:43] galessiorob commented on #2805
Thanks so much for your review @jdalzatec!

@fduchatea could you take a quick look at the error and assess how large of a fix this would be? It would also be useful to open issues for the button suggestions but I don't think this should be a blocker for us to publish. Thanks again for your tenacity on this paper.

[2021-04-21 19:27] KristinaRiemer commented on #3177
@sandrinecharles thanks for moving the paper into the code repo! You don't need to do anything with the software report, it's automatically generated to give us an idea of how many lines of code in which languages there are.

[2021-04-21 19:27] KristinaRiemer commented on #3177
@whedon generate pdf

[2021-04-21 19:28] whedon commented on #3177
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03177/joss.03177/10.21105.joss.03177.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03177/joss.03177/10.21105.joss.03177.pdf) :page_facing_up: :point_left:

[2021-04-21 19:37] KristinaRiemer commented on #2721
@whedon check references from branch joss-article-review1

[2021-04-21 19:37] whedon commented on #2721
[code]

[2021-04-21 19:37] whedon commented on #2721
[code]

[2021-04-21 19:50] pitsianis commented on #3145
Thanks!

[2021-04-21 19:53] KristinaRiemer commented on #3177
Thanks for the suggestion for reviewers @sandrinecharles, I'm reaching out via email to those whose GitHub handles I couldn't find. Otherwise, @BrandonEdwards @puruckertom would you be interested and able to review this JOSS submission?

[2021-04-21 19:56] BrandonEdwards commented on #3177
Certainly interested, and certainly able to!

[2021-04-21 19:58] puruckertom commented on #3177
Certainly!

[2021-04-21 20:00] KristinaRiemer commented on #2721
Everything in the paper looks good except a couple of the references. Could you edit the Lightgraph reference so that the other contributors doesn't look like an author? And I think the DOI for the "Nestedness versus modularity in ecological networks: two sides of the same coin?" should be changed to https://doi.org/10.1111/j.1365-2656.2010.01688.x, so it doesn't show up as missing?

[2021-04-21 20:03] poulson commented on #3145
Hi @pitsianis -- I'm not sure what you mean, as the review is currently active and started. Are you referring to the pre-review invitation?

[2021-04-21 20:14] lpantano commented on #3160
@whedon assign @marypiper as reviewer

[2021-04-21 20:14] whedon commented on #3160
OK, @marypiper is now a reviewer

[2021-04-21 20:18] KristinaRiemer commented on #3177
Great, thanks for the fast responses @BrandonEdwards and @puruckertom!

[2021-04-21 20:19] KristinaRiemer commented on #3177
@whedon assign @BrandonEdwards as reviewer

[2021-04-21 20:19] whedon commented on #3177
OK, @BrandonEdwards is now a reviewer

[2021-04-21 20:19] KristinaRiemer commented on #3177
@whedon add @puruckertom as reviewer

[2021-04-21 20:20] whedon commented on #3177
OK, @puruckertom is now a reviewer

[2021-04-21 20:20] KristinaRiemer commented on #3177
@whedon start review

[2021-04-21 20:20] whedon opened #3200 "[REVIEW]: morse: an R-package in support of Environmental Risk Assessment"
**Submitting author:** @sandrinecharles (<a href="http://orcid.org/0000-0003-4604-0166">Sandrine CHARLES</a>)
**Repository:** <a href="https://github.com/pveber/morse" target ="_blank">https://github.com/pveber/morse</a>
**Version:** v3.1.0
**Editor:** @KristinaRiemer
**Reviewers:** @puruckertom, @Peter-Vermeiren
**Archive:** <a href="https://doi.org/10.5281/zenodo.5771022" target="_blank">10.5281

[2021-04-21 20:20] whedon commented on #3177
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3200.

[2021-04-21 20:20] #3177 closed

[2021-04-21 20:20] whedon commented on #3200
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @BrandonEdwards, @puruckertom it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-04-21 20:21] whedon commented on #3200
[code]

[2021-04-21 20:21] KristinaRiemer commented on #3177
@BrandonEdwards and @puruckertom, the review itself will happen in the issue linked to above. Let me know if you have questions over there. And thanks again!

[2021-04-21 20:21] whedon commented on #3200
[code]

[2021-04-21 20:22] whedon commented on #3200
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: :point_left:

[2021-04-21 20:26] pitsianis commented on #3145
I am not able to fill in the checkmarks

[2021-04-21 20:31] lpantano commented on #3160
@whedon start review

[2021-04-21 20:31] whedon opened #3201 "[REVIEW]: microViz: an R package for microbiome data visualization and statistics"
**Submitting author:** @david-barnett (<a href="http://orcid.org/0000-0003-1961-7206">David Barnett</a>)
**Repository:** <a href="https://github.com/david-barnett/microViz" target ="_blank">https://github.com/david-barnett/microViz</a>
**Version:** v0.7.9
**Editor:** @lpantano
**Reviewers:** @marypiper, @yoonjeongcha
**Archive:** <a href="https://doi.org/10.5281/zenodo.5048013" target="_blank">10.

[2021-04-21 20:31] whedon commented on #3160
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3201.

[2021-04-21 20:31] #3160 closed

[2021-04-21 20:31] whedon commented on #3201
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @marypiper it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.

[2021-04-21 20:32] whedon commented on #3201
[code]

[2021-04-21 20:32] whedon commented on #3201
[code]

[2021-04-21 20:32] whedon commented on #3201
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03201/joss.03201/10.21105.joss.03201.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03201/joss.03201/10.21105.joss.03201.pdf) :page_facing_up: :point_left:

[2021-04-21 20:40] danielskatz commented on #3145
@whedon re-invite @pitsianis as reviewer

[2021-04-21 20:40] whedon commented on #3145
OK, the reviewer has been re-invited.

@pitsianis please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-04-21 21:13] pitsianis commented on #3145
@tingyu66, I have not been able to compile on macos and linux.
The first one makes the most progress with the call
[code]
but it fails with
[code]
even though I have `fftw` installed with `brew`.

The linux attempt fails with
[code]

[2021-04-21 21:28] kellyrowland commented on #3185
Hello @neerajdhanraj @jordanperr @kramea -

Would any of you be interested in and able to take on reviewing this JOSS submission?

[2021-04-21 21:49] kramea commented on #3185
Sure, I would be interested to review this.

On Wed, Apr 21, 2021 at 2:28 PM Kelly L. Rowland ***@***.***>
wrote:

[2021-04-21 21:56] gerudo7 commented on #3174
Just wanted to cofiirm that this was me and note that I think I was able to fix this. Apparently the email in my .gitconfig file wasn't associated with my GitHub account; adding it to my account seems to have given all the pseudo-account's commits to my real one.

[2021-04-21 22:22] tingyu66 commented on #3145
Hello @pitsianis, our code currently does not support MacOS because many macros in our configure script have a hard time checking libraries on MacOS.

However, it should work on Linux though. I tested many versions of g++ ranging from 5.4.x to 10.2.x. It seems that the configure script did not find your g++ as the C++ compiler. Did you use `./configure CXX=g++` on Linux?

[2021-04-21 23:10] jni commented on #3104
@whedon assign @a-paxton as reviewer

[2021-04-21 23:10] whedon commented on #3104
OK, @a-paxton is now a reviewer

[2021-04-21 23:10] jni commented on #3104
@whedon add @abigailmcgovern as reviewer

[2021-04-21 23:10] whedon commented on #3104
OK, @abigailmcgovern is now a reviewer

[2021-04-21 23:11] jni commented on #3104
@whedon start review

[2021-04-21 23:11] whedon opened #3202 "[REVIEW]: Traja: A Python toolbox for animal trajectory analysis"
**Submitting author:** @justinshenk (<a href="http://orcid.org/0000-0002-0664-7337">Justin Shenk</a>)
**Repository:** <a href="https://github.com/traja-team/traja" target ="_blank">https://github.com/traja-team/traja</a>
**Version:** v0.2.13
**Editor:** @jni
**Reviewer:** @a-paxton, @abigailmcgovern
**Archive:** <a href="https://doi.org/10.5281/zenodo.5069231" target="_blank">10.5281/zenodo.506923

[2021-04-21 23:11] whedon commented on #3104
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3202.

[2021-04-21 23:11] #3104 closed

[2021-04-21 23:11] whedon commented on #3202
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @a-paxton, @abigailmcgovern it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-04-21 23:12] whedon commented on #3202
[code]

[2021-04-21 23:13] whedon commented on #3202
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: :point_left:

[2021-04-21 23:14] whedon commented on #3202
[code]

[2021-04-21 23:17] jni commented on #3202
@a-paxton @abigailmcgovern thank you for agreeing to review! You should have been invited to join this repo — check your emails or go to https://github.com/openjournals/joss-reviews/invitations to see them. This is just so that you can tick the tick-boxes on your checklist at the top of this issue. You can then follow our bot Whedon's advice above to unsubscribe from the repo.

As a reminder, here

[2021-04-22 03:34] cMadan commented on #3159
@0todd0000, thank you for your time and effort in reviewing this work!

[2021-04-22 04:35] neerajdhanraj commented on #3185
Dear Kelly,

I would like to review this article.

Best regards,
Neeraj

On Thu, 22 Apr 2021, 2:58 am Kelly L. Rowland, ***@***.***>
wrote:

[2021-04-22 06:14] sandrinecharles commented on #3177
Thank you very much!

[2021-04-22 06:15] sandrinecharles commented on #3177
Thank you very much!

[2021-04-22 07:39] timtroendle commented on #3182
That's fine, @milicag. Thank you for letting us know.

@Eugenio2192, @potterzot, @igarizio, with two reviewers assigned we can start the review process right away. Thanks all for your quick replies.

[2021-04-22 07:39] timtroendle commented on #3182
@whedon assign @potterzot as reviewer

[2021-04-22 07:39] whedon commented on #3182
OK, @potterzot is now a reviewer

[2021-04-22 07:39] timtroendle commented on #3182
@whedon add @igarizio as reviewer

[2021-04-22 07:39] whedon commented on #3182
OK, @igarizio is now a reviewer

[2021-04-22 07:40] timtroendle commented on #3182
@whedon start review

[2021-04-22 07:40] whedon opened #3203 "[REVIEW]: autumn: A Python library for dynamic modelling of captured CO~2~ cost potential curves"
**Submitting author:** @Eugenio2192 (<a href="http://orcid.org/0000-0003-2508-3976">Eugenio Salvador Arellano Ruiz</a>)
**Repository:** <a href="https://gitlab.com/dlr-ve/autumn/" target ="_blank">https://gitlab.com/dlr-ve/autumn/</a>
**Version:** v0.1.0
**Editor:** @timtroendle
**Reviewers:** @igarizio, @milicag
**Archive:** <a href="https://doi.org/10.5281/zenodo.5163098" target="_blank">10.5281

[2021-04-22 07:40] whedon commented on #3182
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3203.

[2021-04-22 07:40] #3182 closed

[2021-04-22 07:40] whedon commented on #3203
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @potterzot, @igarizio it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-04-22 07:40] whedon commented on #3203
[code]

[2021-04-22 07:40] whedon commented on #3203
[code]

[2021-04-22 07:40] whedon commented on #3203
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03203/joss.03203/10.21105.joss.03203.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03203/joss.03203/10.21105.joss.03203.pdf) :page_facing_up: :point_left:

[2021-04-22 07:43] timtroendle commented on #3203
@potterzot, @igarizio, as mentioned over in the pre-review, we are still operating in reduced service mode in which we ask reviewers to finish their review within six weeks at the latest. I'll add a reminder for both of you when half of that time has run up.

It's great if you can finish your review earlier than that, of course.

[2021-04-22 07:43] timtroendle commented on #3203
@whedon remind @potterzot in three weeks

[2021-04-22 07:43] whedon commented on #3203
Reminder set for @potterzot in three weeks

[2021-04-22 07:44] timtroendle commented on #3203
@whedon remind @igarizio in three weeks

[2021-04-22 07:44] whedon commented on #3203
Reminder set for @igarizio in three weeks

[2021-04-22 07:44] dansarie commented on #2946
@VivianePons We haven't heard anything from the reviewer for three months now. I understand that there are many legitimate reasons for this, but is there something we can do to move this along?

[2021-04-22 07:53] VivianePons commented on #2946
@dansarie Definetly, sorry I was myself very busy and didn't take the time to move things forward. I will contact new reviewers soon.

Thank you for your patience

[2021-04-22 07:54] dansarie commented on #2946
@VivianePons Thank you!

[2021-04-22 08:57] TolisChal commented on #3066
Hi @vissarion,

Unfortunately, I will not be able to proceed with the review due to unexpected restrictions on my time schedule from my job.
I am really sorry about that. I hope I will help with the revisions in the future.

Tolis.

[2021-04-22 09:00] vissarion commented on #3066
@TolisChal this is totally understood, no problem.

[2021-04-22 09:01] vissarion commented on #3066
@whedon remove @TolisChal  as reviewer

[2021-04-22 09:01] whedon commented on #3066
OK, @TolisChal  is no longer a reviewer

[2021-04-22 09:03] vissarion commented on #3066
:wave: @Gunratan, @daviddewhurst, @AvianaGlobal, @syoh would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-04-22 09:24] IndrajeetPatil commented on #3167
@csoneson Out of curiosity: Is Nicholas Tierny actually assigned to this issue?
Asking because he is not listed as assignees for this issue.

<img width="173" alt="Screenshot 2021-04-22 at 11 22 43" src="https://user-images.githubusercontent.com/11330453/115690274-2ef49900-a35d-11eb-888b-c1e245d54d60.png">

[2021-04-22 09:24] gaelforget commented on #2813
@whedon generate pdf

[2021-04-22 09:25] whedon commented on #2813
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: :point_left:

[2021-04-22 09:45] bzindovic commented on #3114
Dear all,

I've finished review of the paper and I'd like to congratulate the authors on their effort. Some things could be improved as they might be more visible to first-timers:
- [ ] consider adding a link to Contributing.md inside Readme.md. This might be beneficial as the Github page displays contents of Readme.md by default.
- [ ] consider adding a dedicated conda package for your solver. Th

[2021-04-22 09:49] pitsianis commented on #3145
On `Ubuntu 18.04.5 LTS (GNU/Linux 4.15.0-118-generic x86_64)` the `./configure CXX=g++` stops with
[code]

[2021-04-22 10:06] gaelforget commented on #2813
@whedon generate pdf

[2021-04-22 10:07] whedon commented on #2813
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: :point_left:

[2021-04-22 10:11] gaelforget commented on #2813
Just did a couple more tweaks. Although I feel unsure what the desired rendering really is in some cases, this looks good to me now.

[2021-04-22 11:44] AlexChristensen commented on #2944
@karthik,

I accepted the review

[2021-04-22 11:55] sbillinge commented on #3119
Thanks for your hard work on this @remram44 .  You are right, that somehow I wasn't watching the repo and I didn't get a notification so I missed all your hard work.  I am now watching.  Sorry, this is the first time I did this process at JOSS.   We will work on the suggestions. @CJ-Wright Looping you in.  I will do what I can.  There are some things we may want to chat about.

[2021-04-22 12:34] whedon opened #3204 "[PRE REVIEW]: atlite: A Lightweight Python Package for Calculating Renewable Power Potentials and Time Series"
**Submitting author:** @fabianhofmann (<a href="http://orcid.org/0000-0002-6604-5450">Fabian Hofmann</a>)
**Repository:** <a href="https://github.com/PyPSA/atlite" target ="_blank">https://github.com/PyPSA/atlite</a>
**Version:** v0.2.2
**Editor:** @timtroendle
**Reviewers:** @kanderso-nrel, @crvernon
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-04-22 12:34] whedon commented on #3204
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-22 12:34] whedon opened #3205 "[PRE REVIEW]: rmcorrShiny: A web application for repeated measures correlation"
**Submitting author:** @lmarusich (<a href="http://orcid.org/0000-0002-3524-6110">Laura Marusich</a>)
**Repository:** <a href="https://github.com/lmarusich/rmcorrShiny" target ="_blank">https://github.com/lmarusich/rmcorrShiny</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2021-04-22 12:34] whedon commented on #3205
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-22 12:34] whedon opened #3206 "[PRE REVIEW]: JPhyloRef: a tool for testing and resolving phyloreferences"
**Submitting author:** @gaurav (<a href="http://orcid.org/0000-0003-0587-0454">Gaurav Vaidya</a>)
**Repository:** <a href="https://github.com/phyloref/jphyloref" target ="_blank">https://github.com/phyloref/jphyloref</a>
**Version:** v1.0.0
**Editor:** @kellyrowland
**Reviewers:** @iimog, @7omasz
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-04-22 12:34] whedon commented on #3206
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-22 12:35] whedon commented on #3204
[code]

[2021-04-22 12:35] whedon opened #3207 "[PRE REVIEW]: geocmeans: An R package for spatial fuzzy c-means"
**Submitting author:** @JeremyGelb (<a href="http://orcid.org/0000-0002-7114-2714">Jeremy Gelb</a>)
**Repository:** <a href="https://github.com/JeremyGelb/geocmeans" target ="_blank">https://github.com/JeremyGelb/geocmeans</a>
**Version:** v0.1.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-04-22 12:35] whedon commented on #3204
Failed to discover a valid open source license.

[2021-04-22 12:35] whedon commented on #3207
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-22 12:35] whedon commented on #3204
PDF failed to compile for issue #3204 with the following error:
[code]

[2021-04-22 12:35] whedon opened #3208 "[PRE REVIEW]: MLJFlux: Deep learning interface to the MLJ toolbox"
**Submitting author:** @ayush-1506 (<a href="http://orcid.org/0000-0003-3550-691X">Ayush Shridhar</a>)
**Repository:** <a href="https://github.com/FluxML/MLJFlux.jl" target ="_blank">https://github.com/FluxML/MLJFlux.jl</a>
**Version:** v0.1.10
**Editor:** @melissawm
**Reviewers:** @krystophny, @morganericsson
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-04-22 12:35] whedon commented on #3205
[code]

[2021-04-22 12:35] whedon commented on #3208
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-22 12:35] whedon opened #3209 "[PRE REVIEW]: wbacon: Weighted BACON algorithms for multivariate outlier nomination (detection) and robust linear regression"
**Submitting author:** @tobiasschoch (<a href="http://orcid.org/0000-0002-1640-3395">Tobias Schoch</a>)
**Repository:** <a href="https://github.com/tobiasschoch/wbacon" target ="_blank">https://github.com/tobiasschoch/wbacon</a>
**Version:** v0.3
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-04-22 12:35] whedon commented on #3209
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-22 12:35] whedon commented on #3206
Failed to discover a `Statement of need` section in paper

[2021-04-22 12:35] whedon commented on #3206
[code]

[2021-04-22 12:36] whedon commented on #3205
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03205/joss.03205/10.21105.joss.03205.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03205/joss.03205/10.21105.joss.03205.pdf) :page_facing_up: :point_left:

[2021-04-22 12:36] whedon commented on #3206
[code]

[2021-04-22 12:36] whedon commented on #3207
[code]

[2021-04-22 12:37] whedon commented on #3207
[code]

[2021-04-22 12:37] whedon commented on #3206
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03206/joss.03206/10.21105.joss.03206.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03206/joss.03206/10.21105.joss.03206.pdf) :page_facing_up: :point_left:

[2021-04-22 12:37] whedon commented on #3205
[code]

[2021-04-22 12:37] whedon commented on #3208
[code]

[2021-04-22 12:38] whedon commented on #3208
PDF failed to compile for issue #3208 with the following error:
[code]

[2021-04-22 12:39] whedon commented on #3209
[code]

[2021-04-22 12:39] whedon commented on #3209
Failed to discover a valid open source license.

[2021-04-22 12:39] whedon commented on #3207
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03207/joss.03207/10.21105.joss.03207.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03207/joss.03207/10.21105.joss.03207.pdf) :page_facing_up: :point_left:

[2021-04-22 12:39] whedon commented on #3209
PDF failed to compile for issue #3209 with the following error:
[code]

[2021-04-22 12:40] whedon commented on #3209
[code]

[2021-04-22 13:29] lpantano commented on #3201
@whedon add @yoonjeongcha as reviewer

[2021-04-22 13:29] whedon commented on #3201
OK, @yoonjeongcha is now a reviewer

[2021-04-22 14:03] JeremyGelb commented on #3207
adding the missing DOI as suggest by whedon
@whedon generate pdf

[2021-04-22 14:16] JeremyGelb commented on #3207
@whedon generate pdf

[2021-04-22 14:17] whedon commented on #3207
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03207/joss.03207/10.21105.joss.03207.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03207/joss.03207/10.21105.joss.03207.pdf) :page_facing_up: :point_left:

[2021-04-22 14:41] JeremyGelb commented on #3207
Here is a first selection of potential reviewers from the provided list: jpiburn, ssujit, yongzesong, crvernon

[2021-04-22 15:04] nnadeau commented on #3096
@melissawm @AngryMaciek , this is a great tool, but I cannot recommend publication based on the grounds of [`Substantial scholarly effort`](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)

- Only represents about 2 months of work ([judging by commit history](https://github.com/AngryMaciek/hypercomplex/graphs/contributors?from=2020-10-18&to=2020-12-31&type=c))
-

[2021-04-22 15:09] psu-efd commented on #3180
Hi,
Thanks for picking up this paper. I totally understand the unavailability of editors. Please choose another editor for this paper.

For suggested reviewers, I had a look at the list and searched with keywords "hydrology", "hydraulics", and "earth system". The following is a list of potential reviewers:

cheginit, mdbartos, zgxn, JannisHoch, jmp75, AtrCheema, marda-science , dbuscombe-usgs

Tha

[2021-04-22 15:09] tingyu66 commented on #3145
Exafmm-t requires the FFTW3 shared library in both single and double precision, so we suggest to install `libfftw3-dev` package, as described in our [documentation](https://exafmm.github.io/exafmm-t/compile.html):
[code]

If you want to build FFTW3 library from source, you probably need to compile separately for each precision if I remember correctly. Then add the directory of the shared libraries

[2021-04-22 15:38] lmarusich commented on #3205
Suggested reviewers from the provided list: smasongarrison,  matherion, humanfactors, katschueler

[2021-04-22 15:43] danielskatz commented on #3109
👋 @NickLaurenson, @PierreGuilbertF, @bastienjacquet - would one of you be willing to review this JOSS submission (short paper and software)?  We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-04-22 16:15] karthik commented on #2944
@whedon add @AlexChristensen as reviewer

[2021-04-22 16:15] whedon commented on #2944
OK, @AlexChristensen is now a reviewer

[2021-04-22 16:15] karthik commented on #2944
@whedon start review

[2021-04-22 16:15] whedon opened #3210 "[REVIEW]: CliquePercolation: An R Package for conducting and visualizing results of the clique percolation network community detection algorithm"
**Submitting author:** @LangeJens (<a href="http://orcid.org/0000-0002-5375-3247">Jens Lange</a>)
**Repository:** <a href="https://github.com/LangeJens/CliquePercolation" target ="_blank">https://github.com/LangeJens/CliquePercolation</a>
**Version:** v0.3.0
**Editor:** @karthik
**Reviewer:** @donaldRwilliams, @AlexChristensen
**Archive:** <a href="https://doi.org/10.5281/zenodo.4844318" target="_

[2021-04-22 16:15] whedon commented on #2944
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3210.

[2021-04-22 16:15] #2944 closed

[2021-04-22 16:15] whedon commented on #3210
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @donaldRwilliams, @AlexChristensen it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2021-04-22 16:16] karthik commented on #3210
@whedon generate pdf

[2021-04-22 16:16] whedon commented on #3210
Failed to discover a `Statement of need` section in paper

[2021-04-22 16:16] whedon commented on #3210
[code]

[2021-04-22 16:16] karthik commented on #3210
Thank you  @donaldRwilliams, @AlexChristensen for serving as reviewers. Please follow the checklist assigned to you above and ping me with any questions or issues that arise.

[2021-04-22 16:17] karthik commented on #3210
@LangeJens Please add a statement of need section to your paper.

[2021-04-22 16:17] whedon commented on #3210
[code]

[2021-04-22 16:17] whedon commented on #3210
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03210/joss.03210/10.21105.joss.03210.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03210/joss.03210/10.21105.joss.03210.pdf) :page_facing_up: :point_left:

[2021-04-22 16:18] whedon commented on #3210
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03210/joss.03210/10.21105.joss.03210.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03210/joss.03210/10.21105.joss.03210.pdf) :page_facing_up: :point_left:

[2021-04-22 16:55] whedon commented on #3156
:wave: @elektrobohemian, please update us on how your review is going (this is an automated reminder).

[2021-04-22 17:46] LangeJens commented on #3210
@karthik The Statement of Need is part of the first section as indicated by the heading.

[2021-04-22 17:56] FrancisBanville commented on #2721
Thanks for pointing that out @KristinaRiemer! I fixed these two references.

[2021-04-22 19:25] milancurcic commented on #2842
I think this paper is good to go, thank you all!

[2021-04-22 19:26] danielskatz commented on #3109
@PierreGuilbertF - thanks!  I'll add you, and we'll start the review

[2021-04-22 19:26] danielskatz commented on #3109
@whedon add @PierreGuilbertF as reviewer

[2021-04-22 19:26] whedon commented on #3109
OK, @PierreGuilbertF is now a reviewer

[2021-04-22 19:26] danielskatz commented on #3109
@whedon start review

[2021-04-22 19:26] whedon opened #3211 "[REVIEW]: Qlunc: Quantification of lidar uncertainty"
**Submitting author:** @PacoCosta (<a href="http://orcid.org/0000-0003-1318-9677">F. Costa García</a>)
**Repository:** <a href="https://github.com/SWE-UniStuttgart/Qlunc" target ="_blank">https://github.com/SWE-UniStuttgart/Qlunc</a>
**Version:** v091
**Editor:** @danielskatz
**Reviewer:** @adi3, @PierreGuilbertF
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-04-22 19:26] whedon commented on #3109
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3211.

[2021-04-22 19:26] #3109 closed

[2021-04-22 19:26] whedon commented on #3211
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adi3, @PierreGuilbertF it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-04-22 19:27] whedon commented on #3211
[code]

[2021-04-22 19:27] whedon commented on #3211
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03211/joss.03211/10.21105.joss.03211.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03211/joss.03211/10.21105.joss.03211.pdf) :page_facing_up: :point_left:

[2021-04-22 19:27] whedon commented on #3211
[code]

[2021-04-22 19:28] danielskatz commented on #3211
👋 @adi3 and @PierreGuilbertF - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelin

[2021-04-22 19:36] pdebuyl commented on #2842
Thanks @milancurcic for your review!

[2021-04-22 20:06] DrMarc commented on #3196
Hi,
thanks for your comment. The package is aimed at designing and running actual experiments and is used in that capacity in our lab (several papers using it are forthcoming). Since we have many Master and Bachelor students, we also wanted something that will allow them to go from zero Python experience to actual research within the typical 6-months timespan of a thesis. This turned out to be ver

[2021-04-22 21:20] kellyrowland commented on #3185
Thank you both!

[2021-04-22 21:20] kellyrowland commented on #3185
@whedon add @kramea as reviewer

[2021-04-22 21:20] whedon commented on #3185
OK, @kramea is now a reviewer

[2021-04-22 21:21] kellyrowland commented on #3185
@whedon add @neerajdhanraj as reviewer

[2021-04-22 21:21] whedon commented on #3185
OK, @neerajdhanraj is now a reviewer

[2021-04-22 21:22] kellyrowland commented on #3185
@whedon start review

[2021-04-22 21:22] #3185 closed

[2021-04-22 21:22] whedon opened #3212 "[REVIEW]: plutus: An R package to calculate electricity investments and stranded assets from the Global Change Analysis Model (GCAM)"
**Submitting author:** @mengqi-z (<a href="http://orcid.org/0000-0001-5385-2758">Mengqi Zhao</a>)
**Repository:** <a href="https://github.com/JGCRI/plutus.git" target ="_blank">https://github.com/JGCRI/plutus.git</a>
**Version:** v1.0.1
**Editor:** @kellyrowland
**Reviewers:** @amygalanter, @samgdotson
**Archive:** <a href="https://doi.org/10.5281/zenodo.5517802" target="_blank">10.5281/zenodo.551

[2021-04-22 21:22] whedon commented on #3185
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3212.

[2021-04-22 21:22] whedon commented on #3212
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kramea, @neerajdhanraj it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-04-22 21:23] whedon commented on #3212
[code]

[2021-04-22 21:23] whedon commented on #3212
PDF failed to compile for issue #3212 with the following error:
[code]

[2021-04-22 21:24] kellyrowland commented on #3212
@whedon generate pdf from branch joss-paper-branch

[2021-04-22 21:24] whedon commented on #3212
[code]

[2021-04-22 21:26] whedon commented on #3212
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03212/joss.03212/10.21105.joss.03212.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03212/joss.03212/10.21105.joss.03212.pdf) :page_facing_up: :point_left:

[2021-04-23 02:10] jungtaekkim commented on #3192
Hi @vissarion,

I have left the review in the authors' repository.

Best,
Jungtaek.

[2021-04-23 03:37] csinva commented on #3192
Thanks to both reviewers for their time and thoughtful comments! Glad to hear you feel the package addresses a worthy problem and works smoothly 😊.

Following a suggestion from both reviewers, we made it clearer how to install the project from pip by putting it in its own section [near the top of the readme](https://github.com/csinva/imodels).

Following another suggestion from @yxoos we also adde

[2021-04-23 04:40] 0todd0000 commented on #3159
@cMadan My review is now complete. @tramarobin has satisfactorily addressed all remaining issues, and I am pleased to recommend "accept".

[2021-04-23 05:26] jwuttke commented on #3144
Where are the review instructions?

[2021-04-23 05:40] ayush-1506 commented on #3208
@whedon generate pdf from branch paper

[2021-04-23 05:40] whedon commented on #3208
[code]

[2021-04-23 05:41] whedon commented on #3208
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03208/joss.03208/10.21105.joss.03208.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03208/joss.03208/10.21105.joss.03208.pdf) :page_facing_up: :point_left:

[2021-04-23 06:04] whedon opened #3213 "[PRE REVIEW]: AST Toolbox: An Adaptive Stress Testing Framework for Validation of Autonomous Systems"
**Submitting author:** @mark-koren (<a href="http://orcid.org/0000-0002-9896-0960">Mark Koren</a>)
**Repository:** <a href="https://github.com/sisl/AdaptiveStressTestingToolbox/" target ="_blank">https://github.com/sisl/AdaptiveStressTestingToolbox/</a>
**Version:** 2020.09.01.2
**Editor:** @sjpfenninger
**Reviewers:** @giodegas, @abhiramm7
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced s

[2021-04-23 06:04] whedon commented on #3213
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-23 06:05] arfon commented on #3041
@whedon accept

[2021-04-23 06:05] whedon commented on #3041
[code]

[2021-04-23 06:05] whedon commented on #3213
PDF failed to compile for issue #3213 with the following error:
[code]

[2021-04-23 06:05] whedon commented on #3213
[code]

[2021-04-23 06:06] whedon commented on #3041
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2258

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2258, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-23 06:06] whedon commented on #3213
[code]

[2021-04-23 06:07] whedon commented on #3041
[code]

[2021-04-23 06:09] arfon commented on #3041
@whedon accept deposit=true

[2021-04-23 06:09] whedon commented on #3041
[code]

[2021-04-23 06:11] whedon commented on #3041
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1385476314015096835) 👈 🐦🐦🐦

[2021-04-23 06:11] whedon commented on #3041
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2259
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03041](https://doi.org/10.21105/joss.03041)
2. If everything look

[2021-04-23 06:13] arfon commented on #3041
@jpsnijder, @Nathaniel-Haines, @rMassimiliano - many thanks for your reviews here and to @oliviaguest for editing this submission! JOSS relies upon the volunteer efforts of people like you, and we simply wouldn't be able to do this without you ✨

@sdparsons - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-04-23 06:13] #3041 closed

[2021-04-23 06:14] whedon commented on #3041
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03041/status.svg)](https://doi.org/10.21105/joss.03041)

**We need your help!**

Journal of Open Source Softwa

[2021-04-23 06:15] arfon commented on #2766
I'm afraid I don't know sorry. Perhaps @tarleb could provide some pointers?

[2021-04-23 06:30] csoneson commented on #3167
I think it should still be ok - @njtierney, in case you notice that you are not able to tick the boxes in the checklist, let me know and I'll reinvite you.

[2021-04-23 06:39] conradsnicta commented on #3051
@JaroslavHron Thank you for the considered feedback.  We have revised the article to address the comments you have raised.

We agree the title is misleading.  We have changed the title to: "PyArmadillo: a streamlined linear algebra library for Python".

There is a very close correspondence between the API provided by PyArmadillo (ie. exposed at the Python level) and the API provided by Armadillo a

[2021-04-23 06:56] whedon commented on #3159
:wave: @nicholst, please update us on how your review is going (this is an automated reminder).

[2021-04-23 07:03] conradsnicta commented on #3051
@uellue  Thank you for the considered feedback. We have revised the article to address the comments you have raised.

We agree with this assessment. We have added the following statement to the paper:
_PyArmadillo matrices and cubes are convertible to/from NumPy arrays, allowing users to tap into the wider Python data science ecosystem, including plotting tools such as Matplotlib (Hunter 2007)._

[2021-04-23 08:30] vissarion commented on #3192
Thanks @csinva for the update. A few steps before recommending acceptance.

@yxoos it seems that your concerns about the statement of need are addressed. If you are OK with this please click the related box in your review.

@jungtaekkim it seems that there is an unclicked box in your review about community guidelines. Does this raise an issue? If not please click it to have a complete review. I pe

[2021-04-23 09:06] jungtaekkim commented on #3192
@vissarion I missed checking the boxes. I saw those guideline.

[2021-04-23 09:07] jungtaekkim commented on #3192
I updated all the checkboxes.

[2021-04-23 09:12] sylvaticus commented on #2849
@arfon what are the next steps now ? Should I create a software deposit on zenodo ?

[2021-04-23 09:18] whedon opened #3214 "[PRE REVIEW]: experDesign: helping performing experiments on batches"
**Submitting author:** @llrs (<a href="http://orcid.org/0000-0001-9747-2570">Lluís Revilla Sancho</a>)
**Repository:** <a href="https://github.com/llrs/experDesign" target ="_blank">https://github.com/llrs/experDesign</a>
**Version:** 0.1.0
**Editor:** @lpantano
**Reviewers:** @abartlett004, @stemangiola
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-04-23 09:18] whedon commented on #3214
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-23 09:19] whedon commented on #3214
[code]

[2021-04-23 09:19] whedon commented on #3214
PDF failed to compile for issue #3214 with the following error:
[code]

[2021-04-23 09:25] arfon commented on #3111
@whedon invite @mikldk as editor

[2021-04-23 09:25] whedon commented on #3111
@mikldk has been invited to edit this submission.

[2021-04-23 09:30] arfon commented on #3117
@whedon invite @marcosvital as editor

:wave: @marcosvital - would you be able to handle this submission for us?

[2021-04-23 09:30] whedon commented on #3117
@marcosvital has been invited to edit this submission.

[2021-04-23 09:33] sdparsons commented on #3041
This is very exciting, thank you all!
A huge thank you to @jpsnijder, @Nathaniel-Haines, @rMassimiliano. Your input pushed me to fix a bunch of issues I would not have spotted if it were not for your input and massively improve the documentation around splithalf. This has by far felt like the most productive review process I have been part of. Thank you @oliviaguest too for editing and guiding all

[2021-04-23 09:36] arfon commented on #3131
@seanbergin - I'm sorry to say that we're really struggling to find an editor on our team that's comfortable handling this submission as none of the team have any experience with Netlogo.

While we don't require editors to always have deep expertise in the languages of a submission being reviewed, _some_ experience is considered normal/expected.

I will keep asking around but we may need to reject

[2021-04-23 09:37] arfon commented on #3142
@whedon assign me as editor

[2021-04-23 09:37] whedon commented on #3142
OK, the editor is @arfon

[2021-04-23 09:37] llrs commented on #3214
@whedon generate pdf from branch paper

[2021-04-23 09:37] whedon commented on #3214
[code]

[2021-04-23 09:38] whedon commented on #3214
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03214/joss.03214/10.21105.joss.03214.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03214/joss.03214/10.21105.joss.03214.pdf) :page_facing_up: :point_left:

[2021-04-23 09:39] arfon commented on #3148
@donaldRwilliams - would it be possible to see the diff between this version submitted and the version with the additional functions? Currently I think this submission is too small to be considered.

[2021-04-23 09:40] arfon commented on #3158
@whedon invite @leouieda as editor

:wave: @leouieda - would you be able to handle this submission for us?

[2021-04-23 09:40] whedon commented on #3158
@leouieda has been invited to edit this submission.

[2021-04-23 09:43] arfon commented on #3164
@whedon invite @kellyrowland as editor

:wave: @kellyrowland - would you be willing to edit this submission for us?

[2021-04-23 09:44] whedon commented on #3164
@kellyrowland has been invited to edit this submission.

[2021-04-23 09:47] arfon commented on #3178
@whedon reject

@elwinter - please review our submission guidelines (https://joss.readthedocs.io/en/latest/submitting.html) and resubmit with the paper in the same repository as the software (it can be in a separate branch).

[2021-04-23 09:47] whedon commented on #3178
Paper rejected.

[2021-04-23 09:48] tobiasschoch commented on #3209
I moved the LICENSE file from inst/ to the base directory. I added a tab in front of 'index: 1' in paper.md.

[2021-04-23 09:49] tobiasschoch commented on #3209
@whedon generate pdf

[2021-04-23 09:49] whedon commented on #3209
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03209/joss.03209/10.21105.joss.03209.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03209/joss.03209/10.21105.joss.03209.pdf) :page_facing_up: :point_left:

[2021-04-23 09:51] arfon commented on #3186
Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how to create a

[2021-04-23 09:51] arfon commented on #3186
@whedon reject

[2021-04-23 09:51] whedon commented on #3186
Paper rejected.

[2021-04-23 09:51] #3186 closed

[2021-04-23 09:54] arfon commented on #3189
Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it fails to meet our threshold for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citab

[2021-04-23 09:54] arfon commented on #3189
@whedon reject

[2021-04-23 09:54] whedon commented on #3189
Paper rejected.

[2021-04-23 09:54] #3189 closed

[2021-04-23 09:55] arfon commented on #3195
@whedon invite @mbobra as editor

:wave: @mbobra - would you be willing to edit this submission for us?

[2021-04-23 09:55] whedon commented on #3195
@mbobra has been invited to edit this submission.

[2021-04-23 09:57] arfon commented on #3198
@whedon query scope

@McWhity – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-04-23 09:57] whedon commented on #3198
Submission flagged for editorial review.

[2021-04-23 09:58] arfon commented on #3204
@whedon generate pdf from branch joss-review-fneum

[2021-04-23 09:58] whedon commented on #3204
[code]

[2021-04-23 09:59] whedon commented on #3204
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03204/joss.03204/10.21105.joss.03204.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03204/joss.03204/10.21105.joss.03204.pdf) :page_facing_up: :point_left:

[2021-04-23 10:01] arfon commented on #3204
:wave: @FabianHofmann - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-04-23 10:02] FabianHofmann commented on #3204
Thank you @arfon!

Just for you information, the paper.md is in the branch `joss` (not `joss-review-fneum`) in the paper directory (I did not now how to trigger the robot exactly)

[2021-04-23 10:04] arfon commented on #3205
@whedon query scope

:wave: @lmarusich – due to the relatively small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-04-23 10:04] whedon commented on #3205
Submission flagged for editorial review.

[2021-04-23 10:08] arfon commented on #3206
@gaurav - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-04-23 10:09] arfon commented on #3207
:wave: @JeremyGelb – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that whedon's suggestions are not always right), you can, then use the

[2021-04-23 10:09] arfon commented on #3207
@whedon query scope

[2021-04-23 10:09] whedon commented on #3207
Submission flagged for editorial review.

[2021-04-23 10:12] arfon commented on #3208
@whedon invite @melissawm as editor

:wave: @melissawm - would you be willing to edit this submission for us?

[2021-04-23 10:13] whedon commented on #3208
@melissawm has been invited to edit this submission.

[2021-04-23 10:15] FabianHofmann commented on #3204
@whedon generate pdf from branch joss

[2021-04-23 10:15] whedon commented on #3204
[code]

[2021-04-23 10:16] whedon commented on #3204
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03204/joss.03204/10.21105.joss.03204.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03204/joss.03204/10.21105.joss.03204.pdf) :page_facing_up: :point_left:

[2021-04-23 10:18] arfon commented on #3214
@whedon query scope

@llrs – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-04-23 10:18] whedon commented on #3214
Submission flagged for editorial review.

[2021-04-23 10:21] arfon commented on #2849
@whedon generate pdf

[2021-04-23 10:22] whedon commented on #2849
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02849/joss.02849/10.21105.joss.02849.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02849/joss.02849/10.21105.joss.02849.pdf) :page_facing_up: :point_left:

[2021-04-23 10:28] arfon commented on #2849
@sylvaticus - could you please clean up all of the comments in your paper? I was trying to give the `paper.md` a read, and realized that lots of the content that I was struggling with was actually commented out.

Also, please add more information to your affiliations - I'm not sure what many of them are.

[2021-04-23 10:34] xuanxu commented on #3165
👋 @warrickball would you be willing to review this paper? I think your expertise on stellar astrophysics makes you a good fit for this submission.

[2021-04-23 10:43] mikldk commented on #3111
@whedon assign me as editor

[2021-04-23 10:43] whedon commented on #3111
OK, the editor is @mikldk

[2021-04-23 10:45] mikldk commented on #3111
@IndrajeetPatil Thanks for your submission. Can you briefly describe how this package differs e.g. from [`broom`](https://github.com/tidymodels/broom)?

[2021-04-23 10:50] xuanxu commented on #3165
:wave: @aureliocarnero: would you be willing to review this paper? I think your knowledge of Astrophysics and Python makes  you a great fit for this submission.

[2021-04-23 10:52] sylvaticus commented on #2849
@whedon generate pdf

Done it.  I have removed the comments and specified the full affiliation names.

I am very sorry for the 6 affiliations (it's crazy, I know..) but that's the way we have been asked to sign our papers :-/ :

[2021-04-23 10:53] whedon commented on #2849
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02849/joss.02849/10.21105.joss.02849.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02849/joss.02849/10.21105.joss.02849.pdf) :page_facing_up: :point_left:

[2021-04-23 10:54] IndrajeetPatil commented on #3111
`statsExpressions` has wildly different goals than `broom`.

- `broom`: convert regression and other modeling **objects** to dataframes
- `statsExpressions`: provide consistent syntax to run different tests and extract dataframes and expressions

So `statsExpressions` doesn't work with objects, but rather provides functions to carry out different types of analyses.

<img width="705" alt="Screensho

[2021-04-23 10:54] IndrajeetPatil commented on #3111
Oh, forgot to say, thanks for accepting to edit this submission :)

[2021-04-23 11:14] mikldk commented on #3111
@IndrajeetPatil Thanks. I think it would be appropriate if `broom` was briefly mentioned in the paper and how this package differs from it.

A minor question from your example just given:

[code]

Wouldn't you expect that `one_sample_test()`'s `conf.low` / `conf.high` were centered around `mu` and not 0 (like `t.test()`)?

[2021-04-23 11:27] IndrajeetPatil commented on #3111
Sure, I can do that.

The estimate is actually for Hedge's _g_, which you couldn't see since not all columns of the dataframe were printed.

[code]

<sup>Created on 2021-04-23 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-04-23 11:54] slayoo commented on #3144
https://joss.readthedocs.io/en/latest/reviewer_guidelines.html
https://joss.readthedocs.io/en/latest/review_criteria.html
https://joss.readthedocs.io/en/latest/review_checklist.html

Thanks,
Sylwester

[2021-04-23 11:57] mikldk commented on #3111
Okay. Is it possible to also get `\hat{mu}` and confidence interval for `mu` similar to what `t.test()` outputs?

[2021-04-23 12:07] donaldRwilliams commented on #3148
@arfon Sure, I can put those back in. How shall we do this ? I am currently out of town, but can certainly add them back in very very soon.

I wrote many of the functions that were removed in my first year of graduate school (more than 3 years ago), and I am now approaching my last year, so they were not concise and clearly written. That is why I removed them.

I can withdraw submission, and then

[2021-04-23 12:16] jwuttke commented on #3144
OK, let me give it a try. How to get to the checklist?

[2021-04-23 12:17] IndrajeetPatil commented on #3111
Currently, no. The user can either get Hedge's _g_ or Cohen's _d_ for this test. If you want, I can add to the feature request list.

Usually, across different `type` arguments, there will just be one type of estimate available.

[code]

<sup>Created on 2021-04-23 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-04-23 12:25] uellue commented on #3051
@conradsnicta thank you for the updated version and the detailed feedback.

The paper is now a bit self-contradictory: You write _"Recently the Python language has gained traction for scientific computing through add-on frameworks such as NumPy . In contrast to Matlab, Python is suitable for general programming..."_

In the example you provide, one criticism seems to be the extra `()` in order to

[2021-04-23 13:05] KristinaRiemer commented on #2721
@whedon generate pdf from branch joss-article-review1

[2021-04-23 13:05] whedon commented on #2721
[code]

[2021-04-23 13:05] KristinaRiemer commented on #2721
@whedon check references from branch joss-article-review1

[2021-04-23 13:05] whedon commented on #2721
[code]

[2021-04-23 13:05] pjbouchet commented on #3094
This is great - thanks for your thorough responses @hansenjohnson. I have no further queries and am happy to recommend this paper for publication. Congratulations on a great piece of work!

[2021-04-23 13:06] whedon commented on #2721
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02721/joss.02721/10.21105.joss.02721.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02721/joss.02721/10.21105.joss.02721.pdf) :page_facing_up: :point_left:

[2021-04-23 13:06] whedon commented on #2721
[code]

[2021-04-23 13:08] KristinaRiemer commented on #3094
Great, thanks for the review @pjbouchet! @mcsiple let me know if you have any questions or need any help with starting your review.

[2021-04-23 13:15] KristinaRiemer commented on #2721
That looks great, thanks for doing that!

The next steps are to: 1) generate a new tagged release on GitHub and 2) archive the code (on Zenodo, figshare, institutional repository, etc.) to generate a DOI. If you can post the tag version and a link to the DOI here when you're done please.

[2021-04-23 13:26] mikldk commented on #3111
Can you please suggest a list where none have obvious conflicts of interest (I see that `cimentadaj` like you is at Max Planck Institute)?

[2021-04-23 13:28] mikldk commented on #3111
@RMHogervors, @martinju: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-04-23 13:39] oliviaguest commented on #3041
@sdparsons amazing — I'm so glad to hear this! ☺️

[2021-04-23 13:41] oliviaguest commented on #3042
@fmatuschke is it looking good? ☺️  If so, can you deposit the code in zenodo or similar and post the DOI back here?

[2021-04-23 13:43] oliviaguest commented on #2863
@dmey Gotcha! Can you deposit the code in a place like zenodo and post the DOI back here, please?

[2021-04-23 14:09] dmey commented on #2863
@oliviaguest sorry I think that it got gobbled up with all the noise -- https://github.com/openjournals/joss-reviews/issues/2863#issuecomment-822570818.

[2021-04-23 15:03] IndrajeetPatil commented on #3111
I think you meant @RMHogervorst?

[2021-04-23 15:09] warrickball commented on #3165
Hi @xuanxu ! I've just had a look at the paper and a cursory look at the repo and it isn't obviously my area of expertise. While the package can be used to synthesize populations of stars, the framework is quite generic, so the code doesn't appear to involve any stellar astrophysics.

I'm not sure who the other potential reviewers are but I'd recommend someone who is better versed in the statistic

[2021-04-23 15:51] xuanxu commented on #3165
Understood, thanks @warrickball

[2021-04-23 16:38] mbobra commented on #3195
@whedon assign me as editor

[2021-04-23 16:38] whedon commented on #3195
OK, the editor is @mbobra

[2021-04-23 16:39] mbobra commented on #3195
@ConorMacBride Thanks for your submission! If you have any suggestions for reviewers, please let me know here (you can give me the Github handle without @ mentioning them, e.g. mbobra instead of @mbobra).

[2021-04-23 16:49] dhhagan commented on #3144
Hey @jwuttke - once I find two reviewers, I will add them as reviewers in this issue, and a new review issue will be created that has the checklist for each reviewer. Would you like to review? If so, I will add you as one of the reviewers.

[2021-04-23 16:50] ChrisCFTung commented on #3194
Hi @JostMigenda,

Thank you for your comments and questions. Firstly regarding Theo Glauch's contribution, the git history was lost during a migration from Georgia Institute of Technology's git repository to github. In particular, `FluxPDF.py` was contributed by Theo.

We have also addressed the other issues you mentioned.

Regarding the comments on the paper:
1. Description of FIRESONG's usage ha

[2021-04-23 16:54] ConorMacBride commented on #3195
Hi @mbobra, thank you for agreeing to be editor. From the JOSS spreadsheet, the following people (in the order they are listed) have Python as a preferred language and are in the solar physics area: mgalloy, Cadair, hayesla, aasensio, samaloney, dstansby. I have no particular preference. You may know others who would be most suited and available. Thanks!

[2021-04-23 17:48] gaurav commented on #3206
Thanks so much for the update, Arfon!

[2021-04-23 18:35] DrMarc commented on #3196
@whedon check references

[2021-04-23 18:36] whedon commented on #3196
[code]

[2021-04-23 18:37] DrMarc commented on #3196
@whedon generate pdf

[2021-04-23 18:37] whedon commented on #3196
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03196/joss.03196/10.21105.joss.03196.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03196/joss.03196/10.21105.joss.03196.pdf) :page_facing_up: :point_left:

[2021-04-23 18:41] jwuttke commented on #3144
yes, I'm available.

[2021-04-23 18:44] danielskatz commented on #3207
@whedon check references

[2021-04-23 18:44] whedon commented on #3207
[code]

[2021-04-23 19:57] JeremyGelb commented on #3207
I understand, feel free to contact me if you have any question

[2021-04-23 20:15] kellyrowland commented on #3164
Hi @arfon , I'll take this on.

[2021-04-23 20:15] kellyrowland commented on #3164
@whedon assign @kellyrowland as editor

[2021-04-23 20:15] whedon commented on #3164
OK, the editor is @kellyrowland

[2021-04-23 20:17] kellyrowland commented on #3164
Hello @marouenbg and @SirSharpest - would you be willing and available to review this submission for JOSS?

[2021-04-23 20:36] SirSharpest commented on #3164
Hi @kellyrowland, I'd be happy to review.

[2021-04-23 20:46] kellyrowland commented on #3164
Great, thanks very much!

[2021-04-23 20:46] kellyrowland commented on #3164
@whedon add @SirSharpest as reviewer

[2021-04-23 20:47] whedon commented on #3164
OK, @SirSharpest is now a reviewer

[2021-04-23 20:57] diehlpk commented on #2945
@thelfer Any update?

[2021-04-23 21:01] marouenbg commented on #3164
Hi @kellyrowland , yes count me in! Hi @SirSharpest great to see you again !

[2021-04-23 21:10] kbarnhart commented on #3114
@bzindovic thank you for completing your review and for the above comments. @piyueh if you have any questions or clarifications from me as you respond to the above comments, please let me know here or on the in repo issue you created barbagroup/geoclaw-landspill/issues/17.

[2021-04-23 21:23] kbarnhart commented on #2276
@awickert thanks for that update and for completing your review! 🎉

@KCallaghan any chance you could provide an update on your availability to complete your review (note, have also emailed).

Finally, regarding @r-barnes question regarding the status of the documentation in a PDF (vs some other format). Thanks for your patience on this, and I see that @KevinShook has made some updates to the Readm

[2021-04-23 21:27] kellyrowland commented on #3164
Great, thanks!

[2021-04-23 21:28] kellyrowland commented on #3164
@whedon add @marouenbg as reviewer

[2021-04-23 21:28] whedon commented on #3164
OK, @marouenbg is now a reviewer

[2021-04-23 21:28] kellyrowland commented on #3164
@whedon start review

[2021-04-23 21:28] whedon opened #3215 "[REVIEW]: yaml2sbml: Human-readable and -writable specification of ODE models and their conversion to SBML"
**Submitting author:** @jvanhoefer (<a href="http://orcid.org/0000-0002-3451-1701">Jakob Vanhoefer</a>)
**Repository:** <a href="https://github.com/yaml2sbml-dev/yaml2sbml" target ="_blank">https://github.com/yaml2sbml-dev/yaml2sbml</a>
**Version:** v0.2.3
**Editor:** @kellyrowland
**Reviewer:** @SirSharpest, @marouenbg
**Archive:** <a href="https://doi.org/10.5281/zenodo.4787416" target="_blank">

[2021-04-23 21:28] whedon commented on #3164
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3215.

[2021-04-23 21:28] #3164 closed

[2021-04-23 21:28] whedon commented on #3215
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @SirSharpest, @marouenbg it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-04-23 21:29] whedon commented on #3215
[code]

[2021-04-23 21:29] whedon commented on #3215
PDF failed to compile for issue #3215 with the following error:
[code]

[2021-04-23 21:29] kellyrowland commented on #3215
@whedon generate pdf from branch JOSS_review

[2021-04-23 21:29] whedon commented on #3215
[code]

[2021-04-23 21:30] whedon commented on #3215
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03215/joss.03215/10.21105.joss.03215.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03215/joss.03215/10.21105.joss.03215.pdf) :page_facing_up: :point_left:

[2021-04-23 21:34] KCallaghan commented on #2276
@kbarnhart I apologise for being the weak link in this review! This is my top priority to work on next week.

[2021-04-23 21:42] kbarnhart commented on #2276
No worries @KCallaghan. Thanks for the update and look forward to seeing your review. Have a good weekend!

[2021-04-23 22:07] dhhagan commented on #3144
@whedon add @jwuttke as reviewer

[2021-04-23 22:07] whedon commented on #3144
OK, @jwuttke is now a reviewer

[2021-04-23 23:00] jameshclrk commented on #3082
Everything lgtm

[2021-04-24 01:28] dimitridarras commented on #3197
@whedon

[2021-04-24 01:28] whedon commented on #3197
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-04-24 01:28] dimitridarras commented on #3197
@whedon commands

[2021-04-24 01:28] whedon commented on #3197
Here are some things you can ask me to do:

[code]

[2021-04-24 01:30] dimitridarras commented on #3197
@whedon check repository

[2021-04-24 01:30] whedon commented on #3197
[code]

[2021-04-24 01:31] dimitridarras commented on #3197
@whedon list editors

[2021-04-24 01:31] whedon commented on #3197
Current editors:

[code]

[2021-04-24 01:33] dimitridarras commented on #3197
@whedon list reviewers

[2021-04-24 01:33] whedon commented on #3197
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-04-24 01:37] dimitridarras commented on #3197
@whedon generate pdf

[2021-04-24 01:37] whedon commented on #3197
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03197/joss.03197/10.21105.joss.03197.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03197/joss.03197/10.21105.joss.03197.pdf) :page_facing_up: :point_left:

[2021-04-24 01:56] rurz commented on #3082
Hi, I endorse the declaration of James, my rounds of revisions are complete with positive outcome. 👍🏻

[2021-04-24 04:22] niceume commented on #3166
@whedon generate pdf from branch joss_submission

[2021-04-24 04:22] whedon commented on #3166
[code]

[2021-04-24 04:23] whedon commented on #3166
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: :point_left:

[2021-04-24 04:45] niceume commented on #3166
@fboehm

* I have checked the generated wheedon PDF proof
* I created a release on GitHub for this version ( https://github.com/niceume/datasailr/releases/tag/joss0.8.8 )
* I have created a Zenodo-archive of this release.

The Zenodo doi is 10.5281/zenodo.4716943

Thank you.

[2021-04-24 05:11] mikldk commented on #3111
Indeed.

[2021-04-24 06:46] whedon opened #3216 "[PRE REVIEW]: Beiwe: A data collection platform for high-throughput digital phenotyping"
**Submitting author:** @jponnela (<a href="http://orcid.org/0000-0001-6613-8668">Jukka-Pekka Onnela</a>)
**Repository:** <a href="https://github.com/onnela-lab/beiwe-backend" target ="_blank">https://github.com/onnela-lab/beiwe-backend</a>
**Version:** 2.0.1
**Editor:** @fboehm
**Reviewers:** @Tam-Pham, @erik-whiting
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2021-04-24 06:47] whedon commented on #3216
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-24 06:47] whedon opened #3217 "[PRE REVIEW]: Collaborative Container Modules with Singularity Registry HPC"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://github.com/singularityhub/singularity-hpc" target ="_blank">https://github.com/singularityhub/singularity-hpc</a>
**Version:** 0.0.22
**Editor:** @diehlpk
**Reviewers:** @rcannood, @zbeekman
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:

[2021-04-24 06:47] whedon commented on #3217
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-24 06:47] whedon opened #3218 "[PRE REVIEW]: Omnizart: A General Toolbox for Automatic Music Transcription"
**Submitting author:** @BreezeWhite (<a href="http://orcid.org/0000-0003-2362-6340">Yu Te Wu</a>)
**Repository:** <a href="https://github.com/Music-and-Culture-Technology-Lab/omnizart" target ="_blank">https://github.com/Music-and-Culture-Technology-Lab/omnizart</a>
**Version:** v0.4.1
**Editor:** @faroit
**Reviewers:** @hagenw, @keunwoochoi
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced

[2021-04-24 06:47] whedon commented on #3218
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-24 06:47] whedon commented on #3216
[code]

[2021-04-24 06:48] whedon commented on #3216
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03216/joss.03216/10.21105.joss.03216.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03216/joss.03216/10.21105.joss.03216.pdf) :page_facing_up: :point_left:

[2021-04-24 06:48] whedon commented on #3217
Failed to discover a `Statement of need` section in paper

[2021-04-24 06:48] whedon commented on #3217
[code]

[2021-04-24 06:48] whedon commented on #3217
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03217/joss.03217/10.21105.joss.03217.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03217/joss.03217/10.21105.joss.03217.pdf) :page_facing_up: :point_left:

[2021-04-24 06:49] whedon commented on #3218
Failed to discover a `Statement of need` section in paper

[2021-04-24 06:49] whedon commented on #3218
[code]

[2021-04-24 06:49] whedon commented on #3216
[code]

[2021-04-24 06:51] whedon commented on #3218
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03218/joss.03218/10.21105.joss.03218.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03218/joss.03218/10.21105.joss.03218.pdf) :page_facing_up: :point_left:

[2021-04-24 06:52] whedon commented on #3217
[code]

[2021-04-24 06:54] whedon commented on #3218
[code]

[2021-04-24 06:56] arfon commented on #3216
@jponnela - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

In the meantime, if you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, then

[2021-04-24 11:11] jponnela commented on #3216
@whedon generate pdf

[2021-04-24 11:12] jponnela commented on #3216
@whedon check references

[2021-04-24 11:12] whedon commented on #3216
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03216/joss.03216/10.21105.joss.03216.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03216/joss.03216/10.21105.joss.03216.pdf) :page_facing_up: :point_left:

[2021-04-24 11:13] whedon commented on #3216
[code]

[2021-04-24 16:21] fboehm commented on #3166
@niceume - before we proceed, a few minor fixes are needed for the paper.

line 15 and other lines: row-wise (or rowwise - I believe that both spellings are acceptable)
line 20: domain-specific
throughout: insert spaces before parentheses around citations. So it should look like "we used R (R foundation, 2021)", where there's a space between R and (.
line 37: Do you want "datasailr" as the first w

[2021-04-24 19:02] Kevin-Mattheus-Moerman commented on #3180
@kbarnhart if you feel you are in principle a suitable editor would you mind if we waitlisted this for now and that we assign this to you once you are available?

[2021-04-24 20:00] vsoch commented on #3217
@whedon generate pdf

[2021-04-24 20:01] whedon commented on #3217
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03217/joss.03217/10.21105.joss.03217.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03217/joss.03217/10.21105.joss.03217.pdf) :page_facing_up: :point_left:

[2021-04-24 21:08] borishejblum commented on #3093
@csoneson - yes, I did have a look at the authors' repsonse, and they adequatly address the issues I raised. I have no further comments.

[2021-04-25 01:19] niceume commented on #3166
@whedon generate pdf from branch joss_submission

[2021-04-25 01:19] whedon commented on #3166
[code]

[2021-04-25 01:19] whedon commented on #3166
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: :point_left:

[2021-04-25 01:23] niceume commented on #3166
@whedon generate pdf from branch joss_submission

[2021-04-25 01:23] whedon commented on #3166
[code]

[2021-04-25 01:24] whedon commented on #3166
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03166/joss.03166/10.21105.joss.03166.pdf) :page_facing_up: :point_left:

[2021-04-25 06:34] niceume commented on #3166
@fboehm - Thank you very much for your editing.  I have updated the article.

[2021-04-25 08:56] csoneson commented on #3093
Great, thank you @borishejblum - could you please also tick off the last boxes in your checklist above?

[2021-04-25 09:05] borishejblum commented on #3093
done :-)

[2021-04-25 09:39] csoneson commented on #2440
@neuromusic - could you update us on how things are going here? Please note that the archived version of the software should correspond closely to what the reviewers had a chance to look at - in other words, we don't expect there to be lots of new developments going on between the reviewers signing off and the software archive that will be linked with the JOSS publication being generated.

[2021-04-25 13:49] tomgrylls commented on #3055
Thanks @p-costa for your questions, apologies for the delay in getting back to you on this. Please see our response below.

Thanks for pointing out - now amended

These have now been updated. A couple of the PhD theses are still under embargo following completion. I have indicated where this is the case in the bibliography.

Thanks for pointing this out. We have updated both the paper and README f

[2021-04-25 14:03] oliviaguest commented on #2863
@whedon set 10.5281/zenodo.4701279 as archive

[2021-04-25 14:03] whedon commented on #2863
OK. <a href="https://doi.org/10.5281/zenodo.4701279" target="_blank">10.5281/zenodo.4701279</a> is the archive.

[2021-04-25 14:03] oliviaguest commented on #2863
@dmey ooops, sorry! Indeed! 😅

[2021-04-25 14:07] fboehm commented on #3166
Thank you, @niceume, for making the edits.

Can you please update the hyperlink to the github release? When I click on the current link, I get a 404 error.

[2021-04-25 14:08] fboehm commented on #3166
Also, please share a hyperlink to the archive on zenodo.

[2021-04-25 14:09] tomgrylls commented on #3055
Thanks @ashwinvis for your questions, apologies for the delay in getting back to you on this. Please see our response below.

The resolution of O(1 m) is representative of the order of magnitude of resolution used across the current publications that have used uDALES to date. The range used across these is ~0.25-2 m. The use of wall functions means that refinement of the grid close to solid-fluid

[2021-04-25 14:09] fboehm commented on #3166
I re-read the paper pdf, and I'm quite pleased with the changes that you made. I think it's ready for publication.

[2021-04-25 14:12] oliviaguest commented on #2863
@whedon accept

[2021-04-25 14:12] whedon commented on #2863
[code]

[2021-04-25 14:13] whedon commented on #2863
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2260

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2260, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-25 14:13] tomgrylls commented on #3055
@whedon generate pdf from branch joss-paper

[2021-04-25 14:13] whedon commented on #3055
[code]

[2021-04-25 14:14] whedon commented on #2863
[code]

[2021-04-25 14:14] fboehm commented on #3166
@niceume - I'll set the archive (with zenodo doi) and the version number once you update the links.

[2021-04-25 14:14] whedon commented on #3055
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: :point_left:

[2021-04-25 14:22] dmey commented on #2863
@oliviaguest thanks and no problems. There are still two issues which I am waiting to hear back from @mnarayan. The branch `joss-paper` contains the updated manuscript. It's just one sentence but it's worth merging.

[2021-04-25 14:26] oliviaguest commented on #2863
Oh... @dmey I thought those were all checked off the list(s) above. OK, @openjournals/joss-eics, please do not publish this just yet.

Can you @dmey please link me to what is left, I might have missed the issues, but ideally they should all be linked to from here for others (and me) to be aware of them.

[2021-04-25 14:30] dmey commented on #2863
Sure, no problem, please see https://github.com/openjournals/joss-reviews/issues/2863#issuecomment-776112028.

[2021-04-25 14:33] poulson commented on #3082
@whedon generate pdf

[2021-04-25 14:33] whedon commented on #3082
PDF failed to compile for issue #3082 with the following error:
[code]

[2021-04-25 14:35] poulson commented on #3082
@vprusso: Would you mind fixing the PDF compilation issue. It looks like the 'affiliations' field is missing.

[2021-04-25 14:50] p-costa commented on #3055
Thank you @tomgrylls for the update, and for clearly addressing all my queries 👍. Just one small note:

This is fine, if you consider that the contributions of Tomas et al. deserve to be highlighted with respect to the previous ones. I would not want that they are highlighted simply because those where the contributions that I mentioned (and that I was specifically aware of). Else, the general ack

[2021-04-25 14:51] dpsanders commented on #3079
👋 @ketch and @caropen: I see that you have both checked off all the boxes. Are you done with your reviews and happy to proceed with publication? Thanks!

[2021-04-25 14:59] niceume commented on #3166
Thank you very much, @fboehm !
I deleted the previous tag and release. I have made a new tag and release for the last update commit.
The Zenodo DOI for the final version is 10.5281/zenodo.4718464

[2021-04-25 15:12] melissawm commented on #3208
Hello, @arfon - sure I´ll be happy to!

[2021-04-25 15:12] melissawm commented on #3208
@whedon assign @melissawm as editor

[2021-04-25 15:12] whedon commented on #3208
OK, the editor is @melissawm

[2021-04-25 15:17] dfm commented on #3068
I have not been able to get a hold of @bwoshea via email either so I'm in the process of recruiting a new reviewer. Thanks all for your patience!

[2021-04-25 15:28] teuben commented on #3068
I have another review due this week, if by next weekend you haven't found
somebody, i might even enjoy to look at this code

On Sun, Apr 25, 2021, 11:17 Dan Foreman-Mackey ***@***.***>
wrote:

[2021-04-25 16:38] vyasr commented on #3098
Conversely, since the paper will be published under CC-BY 4.0 (at least the last one that I published here was), it should also be fine to go in the opposite direction and cite the paper in the docs after it's been published, correct? Assuming @wolfv is fine to publish the paper without these examples already in place, I'll probably wait until this review is done then do a an update to the docs bo

[2021-04-25 16:49] ketch commented on #3079
@dpsanders I made some minor suggestions in a comment just a few lines above this one.  Once that is resolved, I can sign off on this.

[2021-04-25 18:28] egonw commented on #2558
One of the last hurdles I wanted to take before the resubmission is using it in Python. There is also @arcuri82's question about Java. Since the manager is written in Java, you can simply use them directly in Java too. The dependencies which are resolved in Groovy with `@Grab` and in Python with `scyjava.config` (see the updated 0.17 README) can be defined in (for example) Maven. And creating a ma

[2021-04-25 20:36] dpsanders commented on #3116
👋 @micheder: Apologies for the delay.

Could you please add a section in the paper comparing your software to the other available software packages that solve the same problem?

[2021-04-25 20:43] dpsanders commented on #3116
@micheder: I don't see any information about automated tests to make sure the code is running correctly.

[2021-04-25 20:45] dpsanders commented on #3116
@micheder: I also don't see narrative documentation explaining the use of the package.

[2021-04-25 20:48] dpsanders commented on #3116
@micheder: Is the MATLAB code runnable in Octave? If not, it would be great to make sure that it can be used in a totally open-source environment, and/or replicate the MATLAB examples in Python.

Providing automated installation scripts in addition to the manual instructions would also be very useful.

[2021-04-25 21:15] bast commented on #2842
I thank the editor and the author for their patience. The paper is good to go from my perspective. Thanks to everybody for a good learning experience also for me.

[2021-04-26 00:28] martinju commented on #3111
@mikldk Thanks for the suggestion, but I don't have time for at least a couple of weeks.

[2021-04-26 01:05] znicholls commented on #2766
Progress towards addressing the comments from @sadielbartholomew's excellent review (https://github.com/openjournals/joss-reviews/issues/2766#issuecomment-792447820):

- [ ] warnings in tests
- [ ] add dependencies to installation section of the docs
- [ ] fix docs about running tests (makefile command is wrong)
- [ ] add section in docs about running tests to installation page and in README
- [ ]

[2021-04-26 03:22] znicholls commented on #2766
@whedon generate pdf from branch paper-text-updates

[2021-04-26 03:22] whedon commented on #2766
[code]

[2021-04-26 03:23] whedon commented on #2766
PDF failed to compile for issue #2766 with the following error:
[code]

[2021-04-26 03:27] znicholls commented on #2766
@whedon generate pdf from branch paper-text-updates

[2021-04-26 03:27] whedon commented on #2766
[code]

[2021-04-26 03:28] whedon commented on #2766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: :point_left:

[2021-04-26 06:48] caropen commented on #3079
Yes, I am happy to proceed with publication.

[2021-04-26 06:49] oliviaguest commented on #2863
OK, keep me posted.

[2021-04-26 07:09] dmey commented on #2863
@mnarayan, when you have a moment can you please let me know if are happy with the resolution of the issues at https://github.com/openjournals/joss-reviews/issues/2863#issuecomment-776112028 and whether you are happy to close them.

[2021-04-26 07:25] thelfer commented on #2945
@diehlpk I try to finish the review today.

[2021-04-26 07:44] mikldk commented on #3111
@Prof-ThiagoOliveira: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-04-26 07:44] mikldk commented on #3054
@vs74, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-04-26 07:45] oliviaguest commented on #2863
To be 100% clear, as the Editor, I am happy to go ahead. But since you wish to address this, @dmey I am happy to wait.

[2021-04-26 07:49] mikldk commented on #3054
@msalibian: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

(I am not sure what happened to @vs74; I have tried both

[2021-04-26 07:50] mikldk commented on #3133
@alexpghayes, @wjakethompson, can you please give a brief status of your reviews? This is merely to give me an impression of the progress and time-frame.

[2021-04-26 07:51] mikldk commented on #2878
@sebkopf, can you please give a brief status of the bullets above?

[2021-04-26 07:59] elektrobohemian commented on #3156
as said before, I will not be done before end of april. I am expecting a short delay as we are under quarantine now with two kindergarten-age kids until the end of week. paper has been read offline. that's why no online comments are available yet. next steps: feedback from the paper, installation tests under i86 and M1 runtime environments.

[2021-04-26 08:30] elektrobohemian commented on #3156
ps: comments added in the KALMUS repo

[2021-04-26 08:42] whedon commented on #3167
:wave: @njtierney, please update us on how your review is going (this is an automated reminder).

[2021-04-26 08:58] tarleb commented on #2766
Looks like a pandoc bug, possibly jgm/citeproc#44. I haven't tried yet, but maybe updating pandoc would fix this?

[2021-04-26 09:04] csoneson commented on #3122
@DidierMurilloF - could you give us an update on where things are on your side? Let us know if you have any questions. Thanks!

[2021-04-26 09:14] pdebuyl commented on #2842
Thanks @bast for your review! Can you go over the checklist? It is part of the review and I can't proceed until all is checked :-)

@scivision I will start to process the "editorial steps" https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance already.

[2021-04-26 09:25] bast commented on #2842
Sorry, I forgot the checklist on top. Now it's done.

[2021-04-26 09:27] aureliocarnero commented on #3165
Dear @xuanxu unfortunately I need to decline the invitation, it is not the right moment for me, Im very busy. Apologies, and hope I can be more useful next time.
Cheers
Aurelio

[2021-04-26 09:32] pdebuyl commented on #2842
@whedon generate pdf

[2021-04-26 09:33] whedon commented on #2842
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02842/joss.02842/10.21105.joss.02842.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02842/joss.02842/10.21105.joss.02842.pdf) :page_facing_up: :point_left:

[2021-04-26 10:45] thelfer commented on #2945
@diehlpk Any reason why I can't toggle the radio button at the top of the page ?

[2021-04-26 10:53] danielskatz commented on #2945
@Whedon re-invite @thelfer as reviewer

[2021-04-26 10:53] whedon commented on #2945
The reviewer already has a pending invite.

@thelfer please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-04-26 10:54] thelfer commented on #2945
@jedbrown, @diehlpk I opened this issue (https://github.com/CEED/libCEED/issues/756) where I uploaded my review of the paper.

[2021-04-26 10:56] thelfer commented on #2945
@danielskatz Seems like there was a expired pending invitation. Would you try to reinvite me again ?

[2021-04-26 11:13] danielskatz commented on #2945
Did you click on the invitation?  I'll also do it again, in case it just expired

[2021-04-26 11:14] danielskatz commented on #2945
@whedon re-invite @thelfer as reviewer

[2021-04-26 11:14] whedon commented on #2945
OK, the reviewer has been re-invited.

@thelfer please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-04-26 11:18] thelfer commented on #2945
@danielskatz Now it's ok
@diehlpk Just waiting for the authors to answer my review on the dedicated issue. Thanks for your patience. I am very sorry for the delay, my sincere apologies.

[2021-04-26 11:34] jsoishi commented on #3079
@dpsanders @ketch @caropen Great! I'll fix @ketch's suggestions this
afternoon.

Jeff, on behalf of the authors

On Mon, Apr 26, 2021 at 2:48 AM caropen ***@***.***> wrote:

[2021-04-26 12:05] danielskatz commented on #2863
@dmey - I'm an AEiC, and I note that there was a message from whedon previously about there not being a Statement of Need section, which I think was not addressed. Perhaps you can split the summary into two sections, one of them being "Statement of Need"?

[2021-04-26 12:30] dmey commented on #2863
@danielskatz thanks for letting me know about this. I thought I did addresses this by asking whether it was OK to blend the text in with the rest but you are right, I can see no mention of it above. In any case, would you be OK to keep it with the rest or do you require it to be a separate standalone section? I find that sometime this is not strongly enforced in other papers and personally, I find

[2021-04-26 12:31] danielskatz commented on #2863
At some point in the past (~6 months?), we made this a requirement for new submission, though we have been flexible in some cases where this is part of a section heading.

[2021-04-26 12:42] dmey commented on #2863
I see -- thanks for the clarification. If you think this is sufficiently clear and addressed in the current format, I would rather leave it as is given that the summary is already brief but please let me know if you think otherwise.

[2021-04-26 12:44] danielskatz commented on #2863
Just to be more clear, we do need a section that is titled (or includes the title) "Statement of Need."  The two options are to break up the Summary section into two sections, or to change the title to "Summary and Statement of Need"

[2021-04-26 12:59] dmey commented on #2863
I can defiantly change the heading to "Summary and Statement of Need".

As a general comment and not really specific to this submission however I am not sure why this has to be emphasized so much in the heading. Surely a summary may contain the motivation for doing such and such as well as other aspects which do not need to be explicitly stated in the heading? But perhaps we can discuss this in a

[2021-04-26 13:06] danielskatz commented on #2863
Briefly, when working with thousands of submission, we have learned that the more explicit we can be and the more automated checks we have that are visible to both authors and editors, the easier the overall processing is, and the fewer repeated discussion we need to have

[2021-04-26 13:26] jgostick commented on #3045
@JohannesBuchner
I am sorry for being silent on this...the end of term is always a bit overwhelming.  Anyway, I need you to address the checklist items that I posted above.  Things like doi, version number, etc.  Then we can proceed with publishing.

[2021-04-26 13:30] darothen commented on #3144
Just saw this @slayoo and @dhhagan (buried in my notifications). I can offer a quick review.

[2021-04-26 13:32] dhhagan commented on #3144
@darothen Awesome. I'll add you and we can kick off this review!

[2021-04-26 13:33] dhhagan commented on #3144
@whedon add @darothen as reviewer.

[2021-04-26 13:33] whedon commented on #3144
OK, @darothen is now a reviewer

[2021-04-26 13:33] dhhagan commented on #3144
@whedon start review

[2021-04-26 13:33] whedon opened #3219 "[REVIEW]: PySDM v1: particle-based cloud modelling package for warm-rain microphysics and aqueous chemistry"
**Submitting author:** @piotrbartman (<a href="http://orcid.org/0000-0003-0265-6428">Piotr Bartman</a>)
**Repository:** https://github.com/atmos-cloud-sim-uj/PySDM.git
**Branch with paper.md** (empty if default branch):
**Version:** v1.27
**Editor:** @dhhagan
**Reviewers:** @darothen, @josephhardinee
**Archive:** 10.5281/zenodo.6321270

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-04-26 13:33] whedon commented on #3144
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3219.

[2021-04-26 13:33] #3144 closed

[2021-04-26 13:33] whedon commented on #3219
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jwuttke, @darothen it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-04-26 13:34] darothen commented on #3144
Thanks @dhhagan; will knock this out ASAP.

[2021-04-26 13:34] whedon commented on #3219
PDF failed to compile for issue #3219 with the following error:
[code]

[2021-04-26 13:34] whedon commented on #3219
[code]

[2021-04-26 13:40] yc015 commented on #3156
@elektrobohemian Thank you so much for your comments! I will look into them with the other authors.

[2021-04-26 14:00] DidierMurilloF commented on #3122
@csoneson We are working on the last requests from the editors. We think that is going to be ready this week. Thank you!

Didier Murillo.

[2021-04-26 14:03] fmatuschke commented on #3042
@whedon generate pdf

[2021-04-26 14:05] csoneson commented on #3122
Great, thanks @DidierMurilloF! No stress, just wanted to check in and make sure that there were no major roadblocks or questions.

[2021-04-26 14:05] whedon commented on #3042
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03042/joss.03042/10.21105.joss.03042.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03042/joss.03042/10.21105.joss.03042.pdf) :page_facing_up: :point_left:

[2021-04-26 14:09] whedon commented on #3168
:wave: @elbeejay, please update us on how your review is going (this is an automated reminder).

[2021-04-26 14:09] whedon commented on #3168
:wave: @patrickcgray, please update us on how your review is going (this is an automated reminder).

[2021-04-26 14:09] whedon commented on #3168
:wave: @giswqs, please update us on how your review is going (this is an automated reminder).

[2021-04-26 14:09] fmatuschke commented on #3042
@all I fixed hopefully the last typo and one reference in the paper.
@oliviaguest I published the software in zenodo with the DOI: [10.5281/zenodo.4720075](https://zenodo.org/record/4720075)

[2021-04-26 14:10] slayoo commented on #3219
@whedon generate pdf from branch JOSS

[2021-04-26 14:10] whedon commented on #3219
[code]

[2021-04-26 14:11] whedon commented on #3219
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: :point_left:

[2021-04-26 14:13] yxoos commented on #3192
Done, great job and thanks!

[2021-04-26 14:16] vissarion commented on #3192
@whedon generate pdf

[2021-04-26 14:17] whedon commented on #3192
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03192/joss.03192/10.21105.joss.03192.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03192/joss.03192/10.21105.joss.03192.pdf) :page_facing_up: :point_left:

[2021-04-26 14:26] vissarion commented on #3192
@whedon check references

[2021-04-26 14:36] kbarnhart commented on #3180
@Kevin-Mattheus-Moerman I would be a suitable editor, but it might be best if this could get on at least one other editor's queue. Given what I know the next few months will look like for me I'd like to drop down to handling two papers at a time (currently have three, one nearing the end --- I think --- and two part way along). So it might be a bit before I could get this off the waitlist.

[2021-04-26 14:42] fboehm commented on #3166
@whedon set joss0.8.8-2 as version

[2021-04-26 14:42] whedon commented on #3166
OK. joss0.8.8-2 is the version.

[2021-04-26 14:42] fboehm commented on #3166
@whedon set 10.5281/zenodo.4718464 as archive

[2021-04-26 14:43] whedon commented on #3166
OK. <a href="https://doi.org/10.5281/zenodo.4718464" target="_blank">10.5281/zenodo.4718464</a> is the archive.

[2021-04-26 14:44] fboehm commented on #3166
Never mind - I found the version number in the archive.

[2021-04-26 14:45] fboehm commented on #3166
@whedon accept

[2021-04-26 14:45] whedon commented on #3166
[code]

[2021-04-26 14:45] vissarion commented on #3192
@csinva it seems that we are close to acceptance.

Please make a tagged release and archive, and report the version number and archive DOI here.

Also whedon is complaining about a missing DOI, the proposed DOI is from a different book and I cannot find a DOI for the book you refer to so I think it is OK.

A small comment on the readability of your paper is that you can use the same single sign to

[2021-04-26 14:46] whedon commented on #3166
PDF failed to compile for issue #3166 with the following error:
[code]

[2021-04-26 14:46] fboehm commented on #3166
@whedon accept from branch joss_submission

[2021-04-26 14:46] whedon commented on #3166
[code]

[2021-04-26 14:47] whedon commented on #3166
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2261

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2261, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-26 14:48] whedon commented on #3166
[code]

[2021-04-26 15:02] alexpghayes commented on #3133
Also just finished my review. On the whole seems like a well written and useful package. I agree with @wjakethompson that a `CONTRIBUTING.md` file would be helpful.

Other minor feedback:

- It would be nice to provide `print()` methods for `hp` objects, etc
- `pp_diag()` is currently an odd mixture of returning information, and causing side effects (printing as at https://github.com/OwenWard/ppdi

[2021-04-26 15:55] arfon commented on #3142
:wave: @rmorgan10 @vs74 @levimcclenny - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission we'd be asking you to review is [_tfaip - a Generic and Powerful Research Framework for Deep Learning based on Tensorflow_](

[2021-04-26 16:07] rmorgan10 commented on #3142
Hi @arfon thanks for reaching out. I mainly work with `PyTorch`, and don't feel I have enough experience with `tensorflow` to provide a thorough review of `tfaip`.

[2021-04-26 16:24] oliviaguest commented on #3105
@McGregor14 sorry for the delay here — give me a few days to check with another potential reviewer, as I think they need to create a GitHub account. 😅  And then we can get this going. 🥳

[2021-04-26 16:27] oliviaguest commented on #3042
@whedon set 10.5281/zenodo.4720075 as archive

[2021-04-26 16:27] whedon commented on #3042
OK. <a href="https://doi.org/10.5281/zenodo.4720075" target="_blank">10.5281/zenodo.4720075</a> is the archive.

[2021-04-26 16:27] oliviaguest commented on #3042
@whedon check references

[2021-04-26 16:27] oliviaguest commented on #3042
@whedon check repository

[2021-04-26 16:28] whedon commented on #3042
[code]

[2021-04-26 16:29] whedon commented on #3042
[code]

[2021-04-26 16:30] oliviaguest commented on #3042
@whedon generate pdf

[2021-04-26 16:30] oliviaguest commented on #3042
@whedon accept

[2021-04-26 16:31] whedon commented on #3042
[code]

[2021-04-26 16:32] whedon commented on #3042
[code]

[2021-04-26 16:33] whedon commented on #3042
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03042/joss.03042/10.21105.joss.03042.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03042/joss.03042/10.21105.joss.03042.pdf) :page_facing_up: :point_left:

[2021-04-26 16:34] oliviaguest commented on #3169
Hey, @deep-introspection, @chrisgorgo, @neuromusic — when you get a sec, can you three please drop me your ETAs for your reviews here? Thanks! 🌸

[2021-04-26 16:34] whedon commented on #3042
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2262

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2262, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-26 16:42] deep-introspection commented on #3169
Hey! Was aiming at next Monday since got a bunch of deadlines for this Friday.

[2021-04-26 16:50] mbobra commented on #2964
👋 @g4brielvs How is the review going? Do you need any help or do you have any questions? Please let me know -- I'm happy to help!

[2021-04-26 17:10] shihyuntang commented on #3095
Hi,
I had resolved all the great comments and suggestions from @gully and @jmbrewer posted [here](https://github.com/shihyuntang/igrins_rv/issues). What is the next step?

Thank you.

[2021-04-26 17:28] csinva commented on #3192
@whedon generate pdf

[2021-04-26 17:29] csinva commented on #3192
Thanks @vissarion!

Made the [tagged release](https://github.com/csinva/imodels/releases/tag/v0.2.8) and archive on zenodo. The version is 0.2.8 and the doi is 10.5281/zenodo.4026886.

Indeed, I cannot find a doi for that reference either.

I have been unable to get the JOSS template to use the same character for equal contribution - it seems this is a [known issue](https://github.com/openjournals

[2021-04-26 17:29] whedon commented on #3192
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03192/joss.03192/10.21105.joss.03192.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03192/joss.03192/10.21105.joss.03192.pdf) :page_facing_up: :point_left:

[2021-04-26 17:35] FrancisBanville commented on #2721
Hello @KristinaRiemer,

[2021-04-26 17:35] FrancisBanville commented on #2721
Hello @KristinaRiemer,

[2021-04-26 17:45] kyleniemeyer commented on #2813
@whedon accept

@gaelforget ok, looks good to me.

[2021-04-26 17:45] whedon commented on #2813
[code]

[2021-04-26 17:46] whedon commented on #2813
[code]

[2021-04-26 17:46] FrancisBanville commented on #2721
Hello @KristinaRiemer,
The tagged versions are [v0.4.3 for EcologicalNetworks.jl ](https://github.com/EcoJulia/EcologicalNetworks.jl/releases/tag/v0.4.3) and [v0.3.1 for Mangal.jl](https://github.com/EcoJulia/Mangal.jl/releases/tag/v0.3.1).
We archived our repositories and the code to reproduce our paper on Zenodo [at this link](https://zenodo.org/record/4716483#.YIb5mJBKiM9).

Please let me know

[2021-04-26 17:47] whedon commented on #2813
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2263

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2263, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-26 17:49] kyleniemeyer commented on #2813
@whedon accept deposit=true

[2021-04-26 17:49] whedon commented on #2813
[code]

[2021-04-26 17:51] whedon commented on #2813
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1386739657384370181) 👈 🐦🐦🐦

[2021-04-26 17:51] whedon commented on #2813
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2264
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02813](https://doi.org/10.21105/joss.02813)
2. If everything look

[2021-04-26 17:53] kyleniemeyer commented on #2813
Congrats @gaelforget on your article's publication in JOSS!

Many thanks to @milankl and @visr for reviewing this, and @kthyng for editing.

[2021-04-26 17:53] #2813 closed

[2021-04-26 17:53] whedon commented on #2813
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02813/status.svg)](https://doi.org/10.21105/joss.02813)

**We need your help!**

Journal of Open Source Softwa

[2021-04-26 18:01] g4brielvs commented on #2964
@whedon generate pdf

[2021-04-26 18:02] g4brielvs commented on #2964
Thank you very much for your patience. @mbobra I have gone through the checklist and found the submission to have fulfilled all the listed requirements.

[2021-04-26 18:02] whedon commented on #2964
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02964/joss.02964/10.21105.joss.02964.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02964/joss.02964/10.21105.joss.02964.pdf) :page_facing_up: :point_left:

[2021-04-26 18:23] JohannesBuchner commented on #3045
Thanks!

v4.0.5  at  https://github.com/JohannesBuchner/BXA/releases/tag/v4.0.5

Release:
https://zenodo.org/record/4721575

DOI:
10.5281/zenodo.4721575

Done.

[2021-04-26 18:42] kthyng commented on #3157
Hi @cheginit I know you did a JOSS review pretty recently so feel free to say no, but are you interested in reviewing this submission for JOSS? As you may know, we would hope for reviews to be finished in 4–6 weeks but with the process starting earlier than that since it is an iterative process.

[2021-04-26 18:43] kthyng commented on #3157
@JannisHoch are you interested in reviewing this JOSS submission? We would hope for reviews to be finished in 4–6 weeks but with the process starting earlier than that since it is an iterative process. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-04-26 19:07] cheginit commented on #3157
@kthyng I am interested. Full disclosure: My advisor is the main developer of the Fortran version of MOSART-WM which this submission is based on and I am currently working on the Fortran version as well. However, as far as I know, our group has not been involved in any way with developing this code. If you think this is not a conflict of interest, I am willing to be a reviewer.

[2021-04-26 19:08] JannisHoch commented on #3157
@kthyng happy to serve as a reviewer.

[2021-04-26 19:26] OwenWard commented on #3133
@alexpghayes thanks for the helpful feedback also. We'll address these useful comments shortly!

[2021-04-26 19:37] wjakethompson commented on #3133
I believe my review is complete. There is still one outstanding PR (OwenWard/ppdiag#55) and one open issue (OwenWard/ppdiag#54), which @OwenWard has indicated the team will be addressing soon. Once those are closed I will check those boxes in my checklist. Or I can go ahead and check them now if that's the preferred process.

[2021-04-26 19:52] gully commented on #3095
The actual paper portion should include comparisons to existing RV frameworks.  How does `igrins_rv` differ from those, and why are those tools unsuitable to the task, prompting the creation of `igrins_rv`?  For example, one such package that comes to mind is [wobble](https://github.com/megbedell/wobble).  One of wobble's limitations (if I recall correctly) is that it requires epochs acquired with

[2021-04-26 20:10] elbeejay commented on #3168
I've gone though the package and opened up a few issues ([#18](https://github.com/davemlz/eemont/issues/18) and [#19](https://github.com/davemlz/eemont/issues/19) in the `eemont` repository) where I outline my outstanding questions, concerns, and suggestions regarding this submission.

But overall I think the `eemont` is a valuable contribution to the Python+Google Earth Engine community, it seems

[2021-04-26 20:12] KristinaRiemer commented on #2721
Great, I'll use the EcologicalNetworks version here. Could you change the Zenodo title to match the software paper title?

[2021-04-26 20:12] KristinaRiemer commented on #2721
@whedon set v0.4.3 as version

[2021-04-26 20:12] whedon commented on #2721
OK. v0.4.3 is the version.

[2021-04-26 20:16] whedon commented on #3169
:wave: @neuromusic, please update us on how your review is going (this is an automated reminder).

[2021-04-26 20:16] whedon commented on #3169
:wave: @deep-introspection, please update us on how your review is going (this is an automated reminder).

[2021-04-26 20:16] whedon commented on #3169
:wave: @chrisgorgo, please update us on how your review is going (this is an automated reminder).

[2021-04-26 20:58] sbenthall commented on #3013
Sure, I'll be the editor for this.

[2021-04-26 20:58] sbenthall commented on #3013
@whedon assign me as editor

[2021-04-26 20:58] whedon commented on #3013
OK, the editor is @sbenthall

[2021-04-26 22:44] jgostick commented on #3045
@whedon set 10.5281/zenodo.4721575 as archive

[2021-04-26 22:44] whedon commented on #3045
OK. <a href="https://doi.org/10.5281/zenodo.4721575" target="_blank">10.5281/zenodo.4721575</a> is the archive.

[2021-04-26 22:44] jgostick commented on #3045
@whedon set v4.0.5 as version

[2021-04-26 22:44] whedon commented on #3045
OK. v4.0.5 is the version.

[2021-04-26 22:45] jgostick commented on #3045
@whedon check references

[2021-04-26 22:55] msalibian commented on #3054
@mikldk Yes, I can do this, but won't be able to comment on functionality or installation issues as I'm not really a Python user. But I can look at the other aspects of the submission.

[2021-04-26 23:07] jgostick commented on #3045
@whedon generate pdf

[2021-04-26 23:07] whedon commented on #3045
PDF failed to compile for issue #3045 with the following error:
[code]

[2021-04-26 23:08] jgostick commented on #3045
@whedon generate pdf from branch joss-paper

[2021-04-26 23:08] whedon commented on #3045
[code]

[2021-04-26 23:09] whedon commented on #3045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03045/joss.03045/10.21105.joss.03045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03045/joss.03045/10.21105.joss.03045.pdf) :page_facing_up: :point_left:

[2021-04-26 23:18] jgostick commented on #3045
@whedon accept

[2021-04-26 23:18] whedon commented on #3045
[code]

[2021-04-26 23:18] whedon commented on #3045
PDF failed to compile for issue #3045 with the following error:
[code]

[2021-04-27 01:49] darothen commented on #3219
# Review - @darothen

`PySDM` is a new open-source package for particle-resolved modeling of the physics and chemistry of cloud and aerosol microphysics. It provides high-performance reference implementations of state-of-the-science process models in a flexible, highly-configurable package that is relatively easy to manipulate and modify to suit a wide variety of cloud and aerosol modeling tasks.

[2021-04-27 02:54] chrisgorgo commented on #3169
I recommend accepting the submissions as is. Many thanks to everyone who contributed to the package.

[2021-04-27 05:03] levimcclenny commented on #3142
@arfon I can do it. Whats the timeline?

[2021-04-27 05:03] levimcclenny commented on #3142
@whedon assign me as reviewer

[2021-04-27 05:03] whedon commented on #3142
I'm sorry @levimcclenny, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-04-27 05:52] jmansour commented on #3114
Hi everyone

I have completed my review, and while there are some extremely minor usage issues (that I'll submit shortly as issues to the project github), all the review criterion have been met, so I recommend the paper be accepted as is.

Well done @piyueh, @tthorleifson and @labarba!

[2021-04-27 06:24] mikldk commented on #3054
@msalibian Sorry, I must have misread the reviewer profile. I'll try to find a Python reviewer, but thanks for fast reply and willingness to help.

[2021-04-27 06:24] mikldk commented on #3054
@kellieotto: Would you be interested in reviewing this submission to The Journal of Open Source Software? Reviews are open and based on a checklist. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. If you have any questions or concerns please let me know.

(I am not sure what happened to @vs74; I have tried both here and via email, neither

[2021-04-27 06:52] niceume commented on #3166
@fboehm - Thank you for proceeding!
The DOI and the tag are correct.
I have checked the final proof. Everything looks fine!

[2021-04-27 07:14] mikldk commented on #3133
@alexpghayes Thanks.

@wjakethompson Thanks. Please wait checking the boxes until the PRs are merged.

@OwenWard Please let @wjakethompson know when you have addressed the issues.

[2021-04-27 08:15] McGregor14 commented on #3105
@oliviaguest no problem! Thanks for the update.

[2021-04-27 08:16] vissarion commented on #3192
@whedon set 10.5281/zenodo.4026886 as archive

[2021-04-27 08:16] whedon commented on #3192
OK. <a href="https://doi.org/10.5281/zenodo.4026886" target="_blank">10.5281/zenodo.4026886</a> is the archive.

[2021-04-27 08:16] vissarion commented on #3192
@whedon set 0.2.8 as version

[2021-04-27 08:16] whedon commented on #3192
OK. 0.2.8 is the version.

[2021-04-27 08:20] vissarion commented on #3192
@whedon generate pdf

[2021-04-27 08:20] whedon commented on #3192
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03192/joss.03192/10.21105.joss.03192.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03192/joss.03192/10.21105.joss.03192.pdf) :page_facing_up: :point_left:

[2021-04-27 08:21] ankurankan commented on #3115
I have updated my review checklist. I think the paper is at a satisfactory level now. The major thing that is still missing in my opinion are examples in the documentation. I can't find any complete example on the documentation page, @D-K-E maybe I am missing something?

[2021-04-27 08:22] vissarion commented on #3192
@csinva thanks for the feedback!

The list of authors in the paper is not the same as the list in 10.5281/zenodo.4026886

Could you please fix this?

[2021-04-27 08:40] grburgess commented on #3165
perhaps Fipanther could be a good choice? @xuanxu

[2021-04-27 09:01] xuanxu commented on #3165
@grburgess indeed, thanks. BTW, I'm sorry for the delay starting the review, the potential reviewers I've contacted by email have also declined due by work load. Let's keep trying.

[2021-04-27 09:02] xuanxu commented on #3165
:wave: @Fipanther would you be willing to review this paper? The author has identified you as a good fit for this submission.

[2021-04-27 09:02] grburgess commented on #3165
@xuanxu all is good.

[2021-04-27 09:03] xuanxu commented on #3165
:wave: @ceb8 would you be willing to review this paper? I think your expertise on stellar astrophysics makes you a great fit for this submission.

[2021-04-27 09:07] arfon commented on #3142
Great, thanks so much @levimcclenny! Ideally we'd like initial feedback to the author in a couple of weeks, and then for the review process to have completed with ~6 weeks.

I'll go ahead and add you as a reviewer now, but will hold off opening up the main review issue (with the checklist for you to work through) until I've identified a second reviewer (hopefully later this week).