[2017-07-06 21:43] OSUmageed commented on #301
@kyleniemeyer @arghdos @mesnardo I closed my issue as well.

[2017-07-06 21:55] mesnardo commented on #301
@arghdos @OSUmageed Thank you for your reviews and closing the issues.

@kyleniemeyer Concerning the performance and the fact that the CPU routines are not functional, I am waiting for the input from @anushkrish who has run the tests to compare the GPU version of cuIBM to the CPU one.

[2017-07-06 21:57] kyleniemeyer commented on #301
@mesnardo ok great! That looks like the only outstanding issue.

[2017-07-07 01:15] nhejazi commented on #295
Best to consult the `master` branch now. `develop` now contains some functionality that is statistically questionable and still needs to be thought about.

[2017-07-07 07:59] MWieland commented on #291
Thanks for the updates @dandev89. The website works now and the functionality document is very useful.

[2017-07-08 22:16] MatthewTurk commented on #281
Hi, sorry -- had a :baby: and that didn't go quite as smoothly as hoped, and am reviewing this today.

[2017-07-09 12:35] whedon opened #308 "[PRE REVIEW]: USAboundaries: Historical and Contemporary Boundaries of the United States of America"
**Submitting author:** @lmullen (<a href="http://orcid.org/0000-0001-5103-6917">Lincoln Mullen</a>)
**Repository:** <a href="https://github.com/ropensci/USAboundaries" target ="_blank">https://github.com/ropensci/USAboundaries</a>
**Version:** v0.3.0
**Editor:** @karthik
**Reviewer:** @karthik

**Author instructions**

Thanks for submitting your paper to JOSS @lmullen. The JOSS editor (shown at th

[2017-07-09 12:35] whedon commented on #308
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-07-09 12:35] whedon opened #309 "[PRE REVIEW]: BigArrayList: A Java API which Allows Programmers to Transparently Use Disk Space as Additional"
**Submitting author:** @dselent (<a href="http://orcid.org/0000-0003-2322-6734">Douglas Selent</a>)
**Repository:** <a href="https://github.com/dselent/BigArrayList" target ="_blank">https://github.com/dselent/BigArrayList</a>
**Version:** 1.3
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @dselent. The JOSS editor (shown at the top of

[2017-07-09 12:36] whedon commented on #309
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-07-09 12:36] whedon opened #310 "[PRE REVIEW]: dms2dfe: Comprehensive Workflow for Analysis of Deep Mutational Scanning Data"
**Submitting author:** @rraadd88 (<a href="http://orcid.org/0000-0002-6421-2067">Rohan Dandage</a>)
**Repository:** <a href="https://github.com/kc-lab/dms2dfe" target ="_blank">https://github.com/kc-lab/dms2dfe</a>
**Version:** v1.0.6
**Editor:** @tracykteal
**Reviewer:** @afrubin

**Author instructions**

Thanks for submitting your paper to JOSS @rraadd88. The JOSS editor (shown at the top of thi

[2017-07-09 12:36] whedon commented on #310
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @tracykteal it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-07-09 12:36] whedon opened #311 "[PRE REVIEW]: Hytool: an open source matlab toolbox for the interpretation of hydraulic tests using analytical solutions"
**Submitting author:** @philipperenard (<a href="http://orcid.org/0000-0003-4504-435X">Philippe Renard</a>)
**Repository:** <a href="https://github.com/UniNE-CHYN/hytool" target ="_blank">https://github.com/UniNE-CHYN/hytool</a>
**Version:** 2.05
**Editor:** @kyleniemeyer
**Reviewer:** @pboesu

**Author instructions**

Thanks for submitting your paper to JOSS @philipperenard. The JOSS editor (show

[2017-07-09 12:36] whedon commented on #311
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-07-09 12:36] whedon opened #312 "[PRE REVIEW]: arrgh: a Go interface to the OpenCPU R server system"
**Submitting author:** @kortschak (<a href="http://orcid.org/0000-0001-8295-2301">Robert Daniel Kortschak</a>)
**Repository:** <a href="https://github.com/kortschak/arrgh" target ="_blank">https://github.com/kortschak/arrgh</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @brentp

**Author instructions**

Thanks for submitting your paper to JOSS @kortschak. The JOSS editor (shown at the t

[2017-07-09 12:36] whedon commented on #312
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-07-09 12:36] whedon opened #313 "[PRE REVIEW]: PlateReaderDataAnalyzer: a SAAS service to compute growth rates based on plate reader collected data"
**Submitting author:** @uriba (<a href="http://orcid.org/0000-0002-3097-9681">Uri Barenholz</a>)
**Repository:** <a href="https://github.com/uriba/PlateReaderDataAnalyzer" target ="_blank">https://github.com/uriba/PlateReaderDataAnalyzer</a>
**Version:** v0.0.1
**Editor:** @arfon
**Reviewer:** @pboesu

**Author instructions**

Thanks for submitting your paper to JOSS @uriba. The JOSS editor (shown

[2017-07-09 12:36] whedon commented on #313
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-07-09 12:52] uriba commented on #313
@whedon commands

On Sun, Jul 9, 2017 at 3:36 PM, whedon <notifications@github.com> wrote:

[2017-07-09 12:52] whedon commented on #313
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-07-09 13:06] uriba commented on #313
Potential reviewers from the list are jsta and pboesu
Other potential reviewer is Avi Flamholz (
https://www.linkedin.com/in/avi-flamholz-32841b2/)

On Sun, Jul 9, 2017 at 3:52 PM, whedon <notifications@github.com> wrote:

[2017-07-10 00:15] arokem commented on #259
@cMadan : any more thoughts here?

[2017-07-10 08:01] tracykteal commented on #310
@whedon commands

[2017-07-10 08:01] whedon commented on #310
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-07-10 12:36] #262 closed

[2017-07-10 14:04] arfon commented on #284
@leoly2017 - I've gone ahead and withdrawn this paper on your behalf.

[2017-07-10 14:04] #284 closed

[2017-07-10 14:49] arfon commented on #30
@openjournals/ropensci - any chance you could help me find a second reviewer here?

[2017-07-10 14:52] arfon commented on #57
Friendly reminder on this @alk224

[2017-07-10 14:53] arfon commented on #251
@SergeStinckwich @offray - how are we getting on here?

[2017-07-10 14:56] SergeStinckwich commented on #251
Waiting for @offray modifications.

[2017-07-10 15:08] arfon commented on #251
:+1:

[2017-07-10 15:12] danielskatz commented on #289
I have pinged @lwilson offline

[2017-07-10 15:14] danielskatz commented on #280
I pinged @jedbrown via email

[2017-07-10 15:17] noamross commented on #30
https://github.com/joshuaulrich is an experienced R developer in financial time-series and has volunteered to review for us before.

[2017-07-10 15:20] arfon commented on #108
Followed up with @leithes over email.

[2017-07-10 15:22] arfon commented on #124
@kpolimis - friendly reminder on this.

[2017-07-10 15:26] arfon commented on #30
@joshuaulrich - would you be interested in reviewing this submission for JOSS?

[2017-07-10 15:28] arfon commented on #308
@whedon assign @karthik as reviewer

[2017-07-10 15:28] whedon commented on #308
OK, the reviewer is @karthik

[2017-07-10 15:29] arfon commented on #308
@whedon start review magic-word=bananas

[2017-07-10 15:29] whedon opened #314 "[REVIEW]: USAboundaries: Historical and Contemporary Boundaries of the United States of America"
**Submitting author:** @lmullen (<a href="http://orcid.org/0000-0001-5103-6917">Lincoln Mullen</a>)
**Repository:** <a href="https://github.com/ropensci/USAboundaries" target ="_blank">https://github.com/ropensci/USAboundaries</a>
**Version:** v0.3.0
**Editor:** @karthik
**Reviewer:** @AndySouth
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.825218" target="_blank">10.5281/zenodo.825218</a

[2017-07-10 15:29] whedon commented on #308
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/314. Feel free to close this issue now!

[2017-07-10 15:29] whedon commented on #314
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-07-10 15:30] #308 closed

[2017-07-10 15:30] arfon commented on #314
@lmullen - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-07-10 15:31] arfon commented on #314
@openjournals/ropensci - could you link to the rOpenSci onboarding thread?

[2017-07-10 15:34] arfon commented on #301
@kyleniemeyer - is this good to accept now?

[2017-07-10 15:46] noamross commented on #314
This package was developed under rOpenSci but has not been peer-reviewed through rOpenSci onboarding. (We plan to make it easier to distinguish between the two with some new badging and metadata soon).

[2017-07-10 15:46] maelle commented on #30
Alternatively the creator of https://github.com/EdwinTh/padr who works in finance

[2017-07-10 15:47] lmullen commented on #314
@arfon I've tagged everything 0.3.0 and create a GitHub release. Here is the Zenodo DOI.

DOI: 10.5281/zenodo.825218

[2017-07-10 15:48] maelle commented on #19
@meyera cc @arfon as mentioned I can clarify my feedback and help if needed

[2017-07-10 15:49] arfon commented on #314
Ah OK. @karthik - looks like we need a reviewer for thus submission then...

[2017-07-10 15:55] akhuettel commented on #299
Please ping me if there's anything I can do to help.

There have been a few bugfixes since 3.542 (the most critical one probably the Gnuplot handling on Windows). Otherwise the main changes since that version are cleanup of obsolete files, initial support for Zurich Instruments devices, and a replacement of the build system with Dist::Zilla (the conversion of the documentation is still work in pro

[2017-07-10 16:07] joshuaulrich commented on #30
@arfon I'd be happy to review. I remember this package from [R/Finance 2016](http://www.rinfinance.com/RinFinance2016/agenda/).

[2017-07-10 16:17] kyleniemeyer commented on #301
@arfon no, still waiting on this outstanding performance issue to be resolved

[2017-07-10 16:22] arfon commented on #30
@whedon assign @joshuaulrich as reviewer

[2017-07-10 16:22] whedon commented on #30
OK, the reviewer is @joshuaulrich

[2017-07-10 16:23] arfon commented on #30
@joshuaulrich - many thanks! Please update the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2017-07-10 16:49] pjotrp commented on #288
@janvitek we have a strange situation here. The submitter Ingo Kor of this paper has gone off github - do you know anything about this? I am writing you as a representative of https://github.com/allr. Can you advise us?

[2017-07-10 16:51] pjotrp commented on #249
Hi @matthieugomez please be so kind to give a YES/NO/Won't do it. So we can proceed with your submission. Is there something wrong?

[2017-07-10 16:52] pjotrp commented on #249
@arfon if the submitter does not respond I think we should close this issue.

[2017-07-10 18:56] kyleniemeyer commented on #311
@whedon commands

[2017-07-10 18:56] whedon commented on #311
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-07-10 18:56] kyleniemeyer commented on #311
@whedon list reviewers

[2017-07-10 18:56] whedon commented on #311
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-07-10 18:58] kyleniemeyer commented on #311
Hi @philipperenard, thanks for your submission. Do you have a suggested reviewer or two from your domain?

For existing JOSS reviewers, @nicoguaro & @pboesu, would either of you be interested to review this?

[2017-07-10 20:33] alexanderbock commented on #281
Congratulations on the 🍼

[2017-07-10 20:41] nicoguaro commented on #306
@labarba, I have a GTX 850M in my laptop... but it just stopped working. I will try in a computer in the office that has a G98 Quadro NVS 420.

It seems a little bit more complicated than I thought.

[2017-07-10 21:16] nicoguaro commented on #311
@kyleniemeyer, I don't have access to MATLAB right now, and the repository does not specify which version is required. Can it be ran in Octave?

[2017-07-10 21:18] kyleniemeyer commented on #311
Hi @philipperenard, is your software Octave-compatible?

[2017-07-11 02:18] Kevin-Mattheus-Moerman commented on #217
@schmeisser If I alter `runmex.m` with:

`        mex_str = ['mex ',OPTS,...
                   'CXXFLAGS="\$CXXFLAGS -std=c++11"', ...
                   ' -I',QT_INCLUDE_PATH,' -I',QT_INCLUDE_PATH,'/QtCore',...
                   ' -I',EIGEN_PATH,...
                   ' -I',ENSIGHT_INCLUDE_PATH,...
                   ' -L',QT_LIB_PATH,' -lQtCore -L',ENSIGHT_LIB_PATH,' -lEnsightLib ',...

[2017-07-11 02:21] Kevin-Mattheus-Moerman commented on #217
With that change `runmex.m` does run it seems, but when I try: `newData = EnsightLib;` I get:

[2017-07-11 03:35] philipperenard commented on #311
I do not expect that the code is fully compatible with octave. Currently it runs on R2017a and requires the Statistics toolbox.

From: Kyle Niemeyer [mailto:notifications@github.com]
Sent: lundi, 10 juillet 2017 23:18
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: RENARD Philippe <Philippe.Renard@unine.ch>; Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-r

[2017-07-11 07:57] schmeisser commented on #217
Sorry, I think there was a typo in my last message.
It should be ' -v GCC=gcc-4.9 ', i.e. there should be *no space* after (or before) the equals sign.

The second error you see about "version `GLIBCXX_3.4.21' not found" is a symptom of the original problem, compiling with a gcc version and thus a standard library that is newer than the one supported by MATLAB. This should not occur if you fix my

[2017-07-11 09:33] arfon commented on #291
@dandev89 - it doesn't look like there is a `paper.bib` file present with your paper. Do you not have any references you'd like to include with this submission?

[2017-07-11 12:32] dandev89 commented on #291
Thanks @arfon, I included the references in the bib file and cited them within the md file.

[2017-07-11 12:39] arfon commented on #291
👍 - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-07-11 13:26] dandev89 commented on #291
Zenodo DOI: https://doi.org/10.5281/zenodo.825709

[2017-07-11 13:40] arfon commented on #291
@whedon set 10.5281/zenodo.825709 as archive

[2017-07-11 13:40] whedon commented on #291
OK. <a href="http://dx.doi.org/10.5281/zenodo.825709" target="_blank">10.5281/zenodo.825709</a> is the archive.

[2017-07-11 17:43] nicoguaro commented on #311
@kyleniemeyer, @philipperenard I don't that I have access to such a recent version of MATLAB. Not sure about the statistics toolbox, though.

[2017-07-11 23:08] arfon commented on #291
@MWieland - many thanks for your review here ✨

@dandev89 - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00291 ⚡️ 🚀 💥

[2017-07-11 23:08] #291 closed

[2017-07-11 23:14] whedon opened #315 "[PRE REVIEW]: genomepy: download genomes the easy way"
**Submitting author:** @simonvh (<a href="http://orcid.org/0000-0002-0411-3219">SJ van Heeringen</a>)
**Repository:** <a href="http://github.com/simonvh/genomepy" target ="_blank">http://github.com/simonvh/genomepy</a>
**Version:** 0.3.1
**Editor:** @pjotrp
**Reviewer:** @kblin

**Author instructions**

Thanks for submitting your paper to JOSS @simonvh. The JOSS editor (shown at the top of this is

[2017-07-11 23:14] whedon commented on #315
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @pjotrp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-07-11 23:14] whedon opened #316 "[PRE REVIEW]: Production Function Estimation in R: The prodest Package"
**Submitting author:** @GabrieleRovigatti (<a href="http://orcid.org/0000-0003-4021-3070">Gabriele Rovigatti</a>)
**Repository:** <a href="https://github.com/GabrieleRovigatti/prodest/tree/master/prodest" target ="_blank">https://github.com/GabrieleRovigatti/prodest/tree/master/prodest</a>
**Version:** v0.1.1
**Editor:** @leeper
**Reviewer:** @sebastianbarfort

**Author instructions**

Thanks for

[2017-07-11 23:14] whedon commented on #316
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-07-11 23:14] whedon opened #317 "[PRE REVIEW]: mcMST: A Toolbox for the Multi-Criteria Minimum Spanning Tree Problem"
**Submitting author:** @jakobbossek (<a href="http://orcid.org/0000-0002-4121-4668">Jakob Bossek</a>)
**Repository:** <a href="https://github.com/jakobbossek/mcMST" target ="_blank">https://github.com/jakobbossek/mcMST</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @gvegayon

**Author instructions**

Thanks for submitting your paper to JOSS @jakobbossek. The JOSS editor

[2017-07-11 23:14] whedon commented on #317
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-07-12 09:49] whedon commented on #316
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-07-12 09:50] GabrieleRovigatti commented on #316
@whedon assign @robohyun66 as reviewer

[2017-07-12 09:50] whedon commented on #316
I'm sorry @GabrieleRovigatti, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-07-12 09:51] GabrieleRovigatti commented on #316
@whedon list editors

[2017-07-12 09:51] whedon commented on #316
Current JOSS editors:

[code]

[2017-07-12 09:52] GabrieleRovigatti commented on #316
@whedon start review

[2017-07-12 09:52] whedon commented on #316
I'm sorry @GabrieleRovigatti, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-07-12 10:57] arfon commented on #316
@GabrieleRovigatti - we'll need one of the JOSS editors to volunteer to edit this submission before we can proceed.

[2017-07-12 12:28] GabrieleRovigatti commented on #316
@afron just trying how @whedon commands work. I'll wait for someone to accept the task.

Thanks

[2017-07-12 12:35] schmeisser commented on #217
The LD_PRELOAD trick sounds like it still used the newer gcc to compile, but you forced Matlab to load a newer library version. As far as I know, that isn't officially supported, but seems to work.

The error message seems to be caused by a truncation bug. As a workaround you can try to `cd` into the `data` directory and use a relative path (just `jet.encas`) instead of an absolute one. In the mea

[2017-07-12 13:03] bede commented on #282
@arfon Thanks for your comments. I (think I) now understand how Rmd citations and figure captions work. Things should look better next time you compile.

[2017-07-12 19:17] kyleniemeyer commented on #311
@nicoguaro ok, thanks. @philipperenard we may need your help in finding an appropriate reviewer, who also has access to Matlab+necessary toolbox(es).

@pboesu, are you able to review this submission?

[2017-07-12 19:44] philipperenard commented on #311
@kyleniemeyer. Ok. Did you receive the list of potential reviewers? I send it in response to your message 2 days ago, but I did it directly from my email and I am unsure if you got it. In this list, I suggested three names, I am pretty sure that the second one has access to matlab. Here is again the same name plus a new one and a repetition of the first.

Martin H. Trauth: http://www.geo.uni-potsd

[2017-07-12 19:46] kyleniemeyer commented on #311
@philipperenard ah no, I did not get any list. I will reach out to these three, thanks.

[2017-07-12 20:19] pboesu commented on #311
@kyleniemeyer I am in principle happy to review this. However, two possible constraints:
1)  I'm about to do a fair amount of traveling, so realistically I will not be able to work on this review until the second half of August. If that should be a problem, I am happy to ceed to someone else.

2) My institution's licensed only for MATLAB R2014b (including the statistical toolbox). I managed to fol

[2017-07-12 20:46] kyleniemeyer commented on #311
Thanks for responding @pboesu! If we can't find someone else, then that timeline would be acceptable.

@philipperenard yes, please confirm if this is a hard requirement—and if so, one preliminary review suggestion might be to see if this requirement could be lessened, as it would enable more (potential) reuse.

[2017-07-12 23:54] Kevin-Mattheus-Moerman commented on #217
Yeah if I cd into the data directory I can run this (note I had to add jet/ as I unzipped the data into the folder jet)
`jet = EnsightLib('jet/jet.encas')`
I can confirm this works as well as the examples and `plot_jet.m`.

[2017-07-13 01:53] Kevin-Mattheus-Moerman commented on #217
I'll now spend some more time reviewing the code, examples, documentation, ,and functionality

[2017-07-13 11:32] arfon commented on #282
That's looking good. Thanks. At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-07-13 12:28] bede commented on #282
Thanks – here it is: https://doi.org/10.5281/zenodo.826723

[2017-07-13 13:42] Kevin-Mattheus-Moerman commented on #217
@whedon commands

[2017-07-13 13:42] whedon commented on #217
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-07-13 13:42] Kevin-Mattheus-Moerman commented on #217
@whedon assign @cMadan as editor

[2017-07-13 13:42] whedon commented on #217
OK, the editor is @cMadan

[2017-07-13 13:43] Kevin-Mattheus-Moerman commented on #217
@whedon assign @Kevin-Mattheus-Moerman as reviewer

[2017-07-13 13:43] whedon commented on #217
OK, the reviewer is @Kevin-Mattheus-Moerman

[2017-07-13 13:47] cMadan commented on #217
@Kevin-Mattheus-Moerman - was there a reason we needed to be re-assigned?

[2017-07-13 13:47] Kevin-Mattheus-Moerman commented on #217
@cMadan I'm at the stage where I can reproduce the basic functionality on the MATLAB side of things. I'll formulate some comments shortly on the MATLAB integration and will proceed to tick the boxes above. I think it would be good to also have a reviewer for the C++ elements of this submission. @cMadan do you think it is possible to recruit an additional reviewer?

[2017-07-13 13:48] Kevin-Mattheus-Moerman commented on #217
@cMadan sorry. Above in the top right is said nobody as assigned so I redid it. I think we were both assigned but we did not show up for some reason. @arfon is this a small bug?

[2017-07-13 13:55] cMadan commented on #217
@Kevin-Mattheus-Moerman - I think it doesn't usually list us as 'assigned' on the reviews anymore (as of several months ago), it hasn't seemed to have mattered

Thanks for reviewing the MATLAB portion of the submission! I agree that it would be good to get someone to evaluate the C++ portion. @schmeisser, do you have any suggestions on who could be a good reviewer here? Otherwise I (and @Kevin-Mat

[2017-07-13 14:07] Kevin-Mattheus-Moerman commented on #217
@daviddoria if [this submission](https://github.com/ITWM-TVFS/Ensight4Matlab) is of interest to you, would you be able to help review the C++ side of things? I am reviewing the MATLAB integration part.

[2017-07-13 14:17] daviddoria commented on #217
@Kevin-Mattheus-Moerman I'd be happy to look at it, but I'll be travelling through the end of the month. If it can wait until mid-August you can count me in, but if you need it sooner I'll have to pass.

[2017-07-13 15:04] cMadan commented on #259
@arokem - Sorry, I was traveling/on vacation. I will get back to this within the next few days.

[2017-07-13 16:42] NelleV commented on #295
@whedon commands

[2017-07-13 16:42] whedon commented on #295
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-07-13 16:49] arfon commented on #282
@whedon set 10.5281/zenodo.826723 as archive

[2017-07-13 16:49] whedon commented on #282
OK. <a href="http://dx.doi.org/10.5281/zenodo.826723" target="_blank">10.5281/zenodo.826723</a> is the archive.

[2017-07-13 17:35] arfon commented on #282
@genomematt - many thanks for your review here and to @mgymrek for editing this submission ✨

@bede - your paper is now accepted into JOSS. Your DOI is http://dx.doi.org/10.21105/joss.00282 ⚡️ 🚀 💥

[2017-07-13 17:35] #282 closed

[2017-07-13 18:55] bede commented on #282
Arfon, Matt and Melissa, thank you all for your time.

[2017-07-13 19:33] moorepants commented on #300
Just checking in on this. It's been well over a month since I submitted.

[2017-07-13 19:34] philipperenard commented on #311
Hi @kyleniemeyer, in principle, it should work with an older version. It was working with all previous versions since 2001.

@pboesu: I have seen the error message that you get and I do not have yet enough information to reproduce the problem and analyze its origin. My first guess is that the data file is not imported properly. It could be a problem of file encoding between different OS and not a

[2017-07-13 19:42] NelleV commented on #295
Hi @nhejazi

I've done a first pass at reviewing the paper (sorry it took so long), and I have a few comments:

- The version number specified in the ticket is wrong, though I don't see where it is specified. The bioconductor version and the github one do match.
- The contribution guidelines are missing. It'd be nice to have a small section in the readme to help new contributors.

There are still

[2017-07-13 20:12] philipperenard commented on #311
I confirm that the ths_dmo example works (as well as war_dmo, thc_dmo, grf_dmo or blt_dmo) on R2014b on Windows 10.

[2017-07-13 21:48] nhejazi commented on #295
Hi @NelleV ---

Thanks much for taking the time to go through our `biotmle` package. I've gone ahead and made the suggested changes as of 1d40f60. In regard to package versioning, I've put the current version (1.1.2) of the GitHub package in the `codemeta.json` file, as the current status of the package reflects changes that will be present in the [development version on Bioconductor](https://bioc

[2017-07-14 11:09] whedon opened #318 "[PRE REVIEW]: Nimbus: a Ruby gem to implement Random Forest algorithms in a genomic selection context"
**Submitting author:** @xuanxu (<a href="http://orcid.org/0000-0001-7699-3983">Juanjo Bazán</a>)
**Repository:** <a href="https://github.com/xuanxu/nimbus" target ="_blank">https://github.com/xuanxu/nimbus</a>
**Version:** 2.3.0
**Editor:** @pjotrp
**Reviewer:** @fstrozzi

**Author instructions**

Thanks for submitting your paper to JOSS @xuanxu. The JOSS editor (shown at the top of this issue) wi

[2017-07-14 11:09] whedon commented on #318
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-07-14 11:09] whedon opened #319 "[PRE REVIEW]: geneXplainR: An R interface for the geneXplain platform"
**Submitting author:** @pstegma (<a href="http://orcid.org/0000-0002-1881-8746">Philip Stegmaier</a>)
**Repository:** <a href="https://github.com/genexplain/geneXplainR" target ="_blank">https://github.com/genexplain/geneXplainR</a>
**Version:** 0.4
**Editor:** @mgymrek
**Reviewer:** @selbouhaddani

**Author instructions**

Thanks for submitting your paper to JOSS @pstegma. The JOSS editor (shown

[2017-07-14 11:09] whedon commented on #319
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @mgymrek it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-07-14 11:10] arfon commented on #319
👋 @mgymrek - the submitting author suggested you as a potential editor.

[2017-07-14 16:02] kyleniemeyer commented on #306
@katyhuff I can jump in to review this if needed, as I do have access to a few GPU systems (and reviewed the original PyGBe submission)

[2017-07-14 16:03] katyhuff commented on #306
Thanks a lot @nicoguaro for giving this a look! The particular hardware constraints of this paper may require an editor with access to an appropriate GPU resource. In the future, we may have a journal-wide solution to unique architectural requirements. After some discussion with him here at SciPy, I believe that @kyleniemeyer may be able to conduct the review with the GPU resources he has availabl

[2017-07-14 16:07] katyhuff commented on #306
@whedon assign @kyleniemeyer as reviewer

[2017-07-14 16:38] katyhuff commented on #306
@whedon commands

[2017-07-14 16:38] whedon commented on #306
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-07-14 16:40] katyhuff commented on #303
@whedon assign @kyleniemeyer as reviewer

[2017-07-14 16:40] whedon commented on #303
OK, the reviewer is @kyleniemeyer

[2017-07-14 17:01] arfon commented on #306
@whedon assign @kyleniemeyer as reviewer

[2017-07-14 17:01] whedon commented on #306
OK, the reviewer is @kyleniemeyer

[2017-07-14 19:45] bunhoel commented on #229
Dear  Karthik

I greatly appreciate the suggestions and  I believe that all pending questions was solved.
It was included a README.md file including  information about   package checks and documentations.
However, the building process and package checks as made at a new
Repository: https://github.com/bunhoel/qGaussian
cloned at old
Repository: https://github.com/bunhoel/anvil/tree/master/qGaussian

[2017-07-14 20:06] MatthewTurk commented on #281
@danielskatz Review done, ready to go!

[2017-07-14 20:10] danielskatz commented on #281
Hi @arfon - it looks like we are ready (for you) to do the final steps to accept this!

[2017-07-14 20:10] danielskatz commented on #281
thanks @MatthewTurk!

[2017-07-14 22:56] arfon commented on #318
@whedon list editors

[2017-07-14 22:56] whedon commented on #318
Current JOSS editors:

[code]

[2017-07-14 22:57] arfon commented on #318
@whedon list reviewers

[2017-07-14 22:57] whedon commented on #318
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-07-14 22:59] arfon commented on #318
@xuanxu - we're a little light on folks with Ruby experience and genomics. Do you have any suggestions for potential reviewers for this submission?

[2017-07-15 10:57] arfon commented on #281
Hi @alexanderbock, before I can accept this submission could you please reformat your `paper.md` file. A couple of issues:

1. The `affiliations` need pulling out into a separate block in the YAML header (see [this example](https://raw.githubusercontent.com/arfon/fidgit/master/paper/paper.md))
2. None of the references in your bibtex are mentioned directly in the paper so by default they won't be

[2017-07-16 10:00] pjotrp commented on #288
@arfon I suggest we close this issue. The author has gone away from github and is not responding. If the author comes back we can reopen it.

[2017-07-16 10:00] pjotrp commented on #249
@arfon I have E-mailed the author without getting a response. I suggest we close this issue. If the author comes back we can reopen.

[2017-07-16 10:06] pjotrp commented on #315
Hi @simonvh,

Thank your for your submission and thank you for the interesting software.

Before I start looking for a reviewer can you fill out the paper a bit more?
https://github.com/simonvh/genomepy/blob/master/paper/paper.md

It should be descriptive of the software and give a bit of context. Citations should go in a bib file similar to
http://joss.theoj.org/papers/10.21105/joss.00025. The so

[2017-07-16 11:22] arfon commented on #288
Agreed.

[2017-07-16 11:22] #288 closed

[2017-07-16 11:24] arfon commented on #249
Agreed.

[2017-07-16 11:24] #249 closed

[2017-07-16 14:17] labarba commented on #212
@gboeing We are launching a new journal which you might consider moving your submission to (submissions will open in a few weeks):
https://github.com/openjournals/jose

[2017-07-16 19:08] xuanxu commented on #318
@arfon I think the review should be easy to someone with working knowledge of Ruby. The "genomics" part of the software refers to the values of the expected input data, but there's no need to be a genomics expert to test the software. After reading the lists of editors & reviewers I think you or @amoeba are good options. But if you prefer I can ask a colleague for help.

[2017-07-16 23:58] Kevin-Mattheus-Moerman commented on #290
@Denz1994 @samreid @mattpen @agrignard @AlexisDrogoul @rinde @eclab @alexlin0 at [JOSS](http://joss.theoj.org/) we are looking for reviewers for this submission. If [this work](https://github.com/Van-Bossuyt-Research-Lab/SPEARS_Simulator/) looks interesting to you and you are willing to [review](http://joss.theoj.org/about#reviewer_guidelines) for JOSS please let me know.

[2017-07-17 00:39] Kevin-Mattheus-Moerman commented on #297
:wave: @tpfau @sdelandtsheer would you willing to review this JOSS submission?

Here is the [JOSS](http://joss.theoj.org/) website
Here is the repository for this project: https://github.com/ashleefv/ACEInhibPKPD
Reviewing JOSS submissions generally does not take a lot of time and is largely focused on the claims and functionality of the software. See here for [reviewer instructions](http://joss.t

[2017-07-17 00:42] Kevin-Mattheus-Moerman commented on #299
:wave: @kippkitts how are you getting on?

[2017-07-17 00:44] Kevin-Mattheus-Moerman commented on #300
:wave: @cybanical how are you getting on? Have you started the review process?

[2017-07-17 01:02] Kevin-Mattheus-Moerman commented on #300
@demotu @siboles @stavness @melund @jslee02 I am looking for an additional reviewer for [this submission](https://github.com/csu-hmc/opty). Would you be interested in reviewing this for [JOSS](http://joss.theoj.org/)? The review guidelines are [here](http://joss.theoj.org/about#reviewer_guidelines).

[2017-07-17 01:44] stavness commented on #300
Hi Kevin,

I'd be happy to help -- I like the idea of JOSS. I'm on vacation for the
next 3 weeks though, so I wouldn't be able to get it done until ~mid
August. Let me know if that's ok for your timeline.

Ian

On Sun, Jul 16, 2017 at 7:02 PM, Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2017-07-17 11:16] danielskatz commented on #307
@wlav - I see that you've checked off a bunch of thing, but not all of them.  Are the ones that are not checked items you are confirming?  Or have you been opening issues in https://github.com/scikit-hep/root_numpy/issues to discuss them (as it appears)?  If the latter, can you also put pointers to the review issues here so that others can look back and see the review progress?

[2017-07-17 11:17] danielskatz commented on #280
We seem to have lost @jedbrown .  @labarba, maybe we need to find another reviewer.  Do you have more suggestions?

[2017-07-17 11:19] danielskatz commented on #289
@arfon - it's been over a month since we've heard from the author @lwilson here. Any thoughts?

[2017-07-17 11:28] jedbrown commented on #280
Sorry, I've been delayed by our newborn, but will be able to finish this soon.

"Daniel S. Katz" <notifications@github.com> writes:

[2017-07-17 11:29] danielskatz commented on #280
Ok, great to hear - and congrats!

[2017-07-17 13:44] Kevin-Mattheus-Moerman commented on #300
Hey @stavness. Mid-August is fine. By then we'll hopefully have some comments from the first reviewer also. Enjoy your vacation.

[2017-07-17 15:13] cybanical commented on #300
I've got a design review this week. Then I can take some time to getting the toolchain up and running.

[2017-07-17 15:28] lwilson commented on #289
Dan and Galen,

I’m still alive! Sorry for the delay on this – I’ll be pushing changes and updating those tickets this week.

________________________________
Lucas A. Wilson, Ph.D.
Director, Training and Professional Development
Texas Advanced Computing Center
The University of Texas at Austin
ACB 2.278
+1 512 232 7351
lwilson@tacc.utexas.edu<mailto:lwilson@tacc.utexas.edu>

From: Daniel S. Katz

[2017-07-17 16:12] danielskatz commented on #289
great!

[2017-07-17 16:46] gboeing commented on #212
@labarba thanks. I'll keep my eye on it for when submissions open.

[2017-07-17 19:10] jslee02 commented on #300
I'm currently in the middle of moving to a different city so my timeline would be similar to @stavness for settling down at the new place. If it's fine and still needs an additional reviewer, then I'd be happy to participate. Just let me know what you think.

[2017-07-17 19:26] melund commented on #300
Hi @Kevin-Mattheus-Moerman. Sorry for slow reply. I am also on holiday at the moment. I see you got your second reviewer, but I don't mind helping out some other time if it is biomechanics related. Funny, I had just watched Kyles presentation on Scipy when I got this notification. JOSS is a much needed initiative.

[2017-07-17 19:51] Kevin-Mattheus-Moerman commented on #300
@jslee02 @melund Thanks for getting back to me. It looks like most reviewers have vacation etc. so the mid-august time-line is fine. If this submission is of interest to  you, and you have time, I would greatly appreciate if you could also help to review this submission. Our formal system handles 1 "official reviewer". But you can review by leaving comments here (i.e. based on the tick-marks at th

[2017-07-17 20:27] demotu commented on #300
Hi @Kevin-Mattheus-Moerman <https://github.com/kevin-mattheus-moerman>

Here is @demotu <https://github.com/demotu>. I also can review the
submission. This work interests to me so even if there are enough potential
reviewers, I will look at it.

-
Marcos Duarte
http://demotu.org/

On Sun, Jul 16, 2017 at 10:02 PM, Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2017-07-17 20:48] Kevin-Mattheus-Moerman commented on #300
Excellent. Looking forward to seeing your comments.

[2017-07-17 21:11] cMadan commented on #217
@daviddoria - that sounds good to me, thank you!

@Kevin-Mattheus-Moerman - are you happy to sign off on the MATLAB portion then, or is there anything else that should be cleared up in the meantime? I know you had some issues with compiling the mex files, so perhaps the installation instructions need to be improved? How about the automated tests and API documentation? Thanks again for all of your

[2017-07-17 21:36] wlav commented on #307
Yes; there are several issues opened (mostly minor stuff except one or two). But @ndawe isn't back until July 27th, so waiting for that event. Will be soon enough.

This one is important: one item missing in the API reference that is exported with `__all__`
[https://github.com/scikit-hep/root_numpy/issues/332](url)

And this would be nice to have fixed/improved (error print, even if that is the 'o

[2017-07-17 22:01] samreid commented on #290
Thanks for the invite @Kevin-Mattheus-Moerman, it sounds interesting but I don't have the time. Good luck!

[2017-07-18 01:15] Kevin-Mattheus-Moerman commented on #290
@samreid okay. Thanks for getting back to me!

[2017-07-18 02:33] arfon commented on #310
👋 @tracykteal - the submitting author suggested you as an editor for this submission.

[2017-07-18 08:08] simonvh commented on #315
Thanks @pjotrp. I have updated the submission.

[2017-07-18 09:08] pjotrp commented on #315
OK, looking good. @peterjc can you suggest a biopython contributor as a reviewer for genomepy?

[2017-07-18 09:24] peterjc commented on #315
He may decline as the author of a "rival" tool https://github.com/kblin/ncbi-genome-download (or the editors might consider this a conflict of interest), but I think that knowledge would let Kai Blin give a very well informed review.

[2017-07-18 12:37] pjotrp commented on #315
Thanks @peterjc! @kblin can you take a look at this?

[2017-07-18 14:31] kblin commented on #315
What's the timeline on this? I have a number of other pending reviews, and it looks like reviewing this needs a decent internet connection, so not something I can do while traveling.

At a first glance, I don't think I have a big conflict of interest, the focus of genomepy really seems to be more focused on interacting with the UCSC genomes and higher eukaryotes, whereas ncbi-genome-download is pr

[2017-07-18 14:43] simonvh commented on #315
From my side at least there is no big rush. I'm leaving for a few weeks of holiday this Friday (pretty much off the grid). That means I won't have much time for a response before half of August anyway. In addition, I do agree, I also don't see any real conflict of interest.

[2017-07-18 17:30] labarba commented on #301
@kyleniemeyer @arghdos There is no outstanding performance issue — the CPU version is not maintained, not supported, and there is a note to that effect in the README. The reviewer is referencing an *old* preprint from many years ago, not *this* paper. We make no CPU performance claims in this paper, nor on the repository of the software. The software repository _only_ includes performance claims i

[2017-07-18 17:44] kyleniemeyer commented on #301
OK, @labarba @mesnardo, as long as there is no performance claim vs CPU. So, it looks like the software itself is good to go.

However, the [article itself](https://github.com/barbagroup/cuIBM/blob/master/paper.md) has a few outstanding issues:

- [ ] The references in the paper are missing DOIs (where appropriate). Could you add those to the `paper.bib` file?
- [ ] Could you add a more general st

[2017-07-18 17:48] labarba commented on #301
We'll look into that, and we also just discussed with @mesnardo that we'll remove the CPU routines from the master branch and leave it in a `deprecated` branch.

BTW, this software does _not_ compute (two-way) fluid-structure interaction (only prescribed body motions).

[2017-07-18 17:51] labarba commented on #301
(And, as you heard me rant at SciPy, we really have to _stop_ talking about GPU vs. CPU comparisons. This is a fixation that is an unfortunate consequence of the vendor marketing, and it no longer makes sense.)

[2017-07-18 17:52] kyleniemeyer commented on #301
@labarba sounds good, thanks! And yes, I am well aware of this—hence the development of our fork of cuIBM that can do so 😀. Perhaps "fluid-structure interaction" would be misleading then, but a statement about simulating flows interacting with moving bodies (e.g.) would be helpful.

[2017-07-18 21:44] mesnardo commented on #301
@kyleniemeyer , we have removed the CPU routines, there are now in a separate branch called `deprecated-cpu-routines`.
Also, we have updated the paper and the references with the suggestions you made above.

[2017-07-18 21:59] kyleniemeyer commented on #301
OK, looks good! One last thing: the Known Issues at the bottom still says "CPU routines do not work." Could you correct that, and then provide a DOI for the archived software here?

[2017-07-18 22:15] mesnardo commented on #301
You should be looking at the branch `joss-reviews-hotfix-0.1.2`; it includes all the changes made during the peer-review.
We are waiting for acceptance before making the new archive and getting a DOI.

[2017-07-18 22:23] kyleniemeyer commented on #301
@mesnardo ah, got it—I was indeed looking at the master README.

OK, this is accepted for publication, so please merge that branch and archive the software.

[2017-07-19 04:42] pjotrp commented on #315
Thanks @kblin. @simonvh, to expedite the review process can you check whether your submission matches our check list? See https://github.com/openjournals/joss-reviews/issues/307 for an example. That would be helpful, thanks!

[2017-07-19 06:44] karthik commented on #295
👋 @NelleV  I know you're just back from SciPy and are catching up, but once you are caught up, can you please let me know if you're ready to sign off? 🙏

[2017-07-19 06:49] karthik commented on #302
Apologies for the delay @jeremyrcoyle. Still waiting on reviewers (two that I've asked have declined). I was also on my summer vacation for the past 10 days. Checking with a couple of people now. Will update when I know more.

[2017-07-19 07:44] simonvh commented on #315
Thanks @pjotrp, I went through the checklist and added a few missing bits of information. I think it should be OK, looking forward to @kblin's input.

[2017-07-19 12:34] schmeisser commented on #217
If there are suggestions on improving the installation instructions regarding the Matlab side of things, I'll be happy to add more information.

[2017-07-19 13:06] Kevin-Mattheus-Moerman commented on #217
@schmeisser I'm in the process of formulating my suggestions. I'm a bit swamped this week but should be able to get to done by Friday

[2017-07-19 19:00] mesnardo commented on #301
@kyleniemeyer Branch `joss-reviews-hotfix-0.1.2` has been merged into `master`, cuIBM-0.1.2 has been released and uploaded to [Zenodo](https://doi.org/10.5281/zenodo.832338) (10.5281/zenodo.832338).

[2017-07-19 19:04] kyleniemeyer commented on #301
@whedon commands

[2017-07-19 19:04] whedon commented on #301
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-07-19 19:04] kyleniemeyer commented on #301
@whedon set 10.5281/zenodo.832338 as archive

[2017-07-19 19:04] whedon commented on #301
OK. <a href="http://dx.doi.org/10.5281/zenodo.832338" target="_blank">10.5281/zenodo.832338</a> is the archive.

[2017-07-19 19:05] kyleniemeyer commented on #301
Hi @arfon this is ready to publish!

[2017-07-20 06:07] pjotrp commented on #315
Excellent, let's proceed. I should see @kblin this week.

[2017-07-20 06:10] pjotrp commented on #315
@whedon assign @kblin as reviewer

[2017-07-20 06:10] whedon commented on #315
OK, the reviewer is @kblin

[2017-07-20 06:10] pjotrp commented on #315
@whedon start review magic-word=bananas

[2017-07-20 06:10] whedon commented on #315
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/320. Feel free to close this issue now!

[2017-07-20 06:10] whedon opened #320 "[REVIEW]: genomepy: download genomes the easy way"
**Submitting author:** @simonvh (<a href="http://orcid.org/0000-0002-0411-3219">SJ van Heeringen</a>)
**Repository:** <a href="http://github.com/simonvh/genomepy" target ="_blank">http://github.com/simonvh/genomepy</a>
**Version:** 0.3.1
**Editor:** @pjotrp
**Reviewer:** @kblin
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.831969" target="_blank">10.5281/zenodo.831969</a>

## Status

[![s

[2017-07-20 06:10] whedon commented on #320
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kblin it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-07-20 06:11] #315 closed

[2017-07-21 17:29] arfon commented on #301
@arghdos many thanks for your review here and @kyleniemeyer for editing this submission ✨

@mesnardo - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00301 ⚡️ 🚀 💥

[2017-07-21 17:29] #301 closed

[2017-07-21 17:32] kyleniemeyer commented on #301
Thanks @arghdos and @OSUmageed!

[2017-07-21 17:34] mesnardo commented on #301
Yay!
Thank you very much @kyleniemeyer , @arghdos , and @OSUmageed for your review of cuIBM and your useful suggestions!

[2017-07-21 17:36] whedon opened #321 "[PRE REVIEW]: The country converter coco - a Python package for converting country names between different classification schemes"
**Submitting author:** @konstantinstadler (<a href="http://orcid.org/0000-0002-1548-201X">Konstantin Stadler</a>)
**Repository:** <a href="https://github.com/konstantinstadler/country_converter" target ="_blank">https://github.com/konstantinstadler/country_converter</a>
**Version:** v0.4
**Editor:** @labarba
**Reviewer:** @rgieseke

**Author instructions**

Thanks for submitting your paper to JOSS

[2017-07-21 17:36] whedon commented on #321
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-07-21 17:46] whedon opened #322 "[PRE REVIEW]: BayesianNetwork: Interactive Bayesian Network Modeling and Analysis"
**Submitting author:** @paulgovan (<a href="http://orcid.org/0000-0002-1821-8492">Paul Govan</a>)
**Repository:** <a href="https://github.com/paulgovan/BayesianNetwork" target ="_blank">https://github.com/paulgovan/BayesianNetwork</a>
**Version:** v0.1.3
**Editor:** @katyhuff
**Reviewer:** @rgiordan

**Author instructions**

Thanks for submitting your paper to JOSS @paulgovan. The JOSS editor (sho

[2017-07-21 17:47] whedon commented on #322
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-07-21 17:58] whedon opened #323 "[PRE REVIEW]: Orangetool: Control Functions For Single-Board Computers"
**Submitting author:** @sepandhaghighi (<a href="http://orcid.org/0000-0001-9450-2375">Sepand Haghighi</a>)
**Repository:** <a href="https://github.com/Moduland/Orangetool" target ="_blank">https://github.com/Moduland/Orangetool</a>
**Version:** v0.24
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @sepandhaghighi. The JOSS editor (shown

[2017-07-21 17:58] whedon commented on #323
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-07-21 17:58] whedon opened #324 "[PRE REVIEW]: rtimicropem: an R package supporting the analysis of RTI MicroPEM output files"
**Submitting author:** @maelle (<a href="http://orcid.org/0000-0002-2815-0399">Maëlle Salmon</a>)
**Repository:** <a href="https://github.com/ropensci/rtimicropem" target ="_blank">https://github.com/ropensci/rtimicropem</a>
**Version:** v1.3
**Editor:** @arfon
**Reviewer:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @maelle. The JOSS editor (shown at the top of this

[2017-07-21 17:58] whedon commented on #324
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-07-21 17:59] whedon opened #325 "[PRE REVIEW]: pyrgg: Python Random Graph Generator"
**Submitting author:** @sepandhaghighi (<a href="http://orcid.org/0000-0001-9450-2375">Sepand Haghighi</a>)
**Repository:** <a href="https://github.com/sepandhaghighi/pyrgg" target ="_blank">https://github.com/sepandhaghighi/pyrgg</a>
**Version:** v0.1
**Editor:** @danielskatz
**Reviewer:** @hausen

**Author instructions**

Thanks for submitting your paper to JOSS @sepandhaghighi. The JOSS editor

[2017-07-21 17:59] whedon commented on #325
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-07-21 17:59] whedon opened #326 "[PRE REVIEW]: Visually comparing climate model output with observations"
**Submitting author:** @mvhulten (<a href="http://orcid.org/0000-0002-3045-4949">Marco van Hulten</a>)
**Repository:** <a href="https://savannah.nongnu.org/projects/complot/" target ="_blank">https://savannah.nongnu.org/projects/complot/</a>
**Version:** 0.1
**Editor:** @lheagy
**Reviewer:** @AnsleyManke

**Author instructions**

Thanks for submitting your paper to JOSS @mvhulten. The JOSS editor

[2017-07-21 17:59] whedon commented on #326
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-07-21 17:59] whedon opened #327 "[PRE REVIEW]: UglyMol: a WebGL macromolecular viewer focused on the electron density"
**Submitting author:** @wojdyr (<a href="http://orcid.org/0000-0003-3980-4092">Marcin Wojdyr</a>)
**Repository:** <a href="https://github.com/uglymol/uglymol" target ="_blank">https://github.com/uglymol/uglymol</a>
**Version:** v0.5.7
**Editor:** @arokem
**Reviewer:** @luizirber

**Author instructions**

Thanks for submitting your paper to JOSS @wojdyr. The JOSS editor (shown at the top of this is

[2017-07-21 17:59] whedon commented on #327
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-07-21 18:04] arfon commented on #309
:wave @dselent. Many thanks for your submission.

It's not immediately clear to me that this project meets our [JOSS submission criteria](http://joss.theoj.org/about#author_guidelines). Could you outline the research application of this work?

[2017-07-21 18:06] arfon commented on #312
👋 @acabunoc - would you be willing to edit this submission for JOSS?

[2017-07-21 18:15] arfon commented on #321
:wave: thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#author_guidelines). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)?

Many thanks!

[2017-07-21 18:20] danielskatz commented on #325
@whedon assign @danielskatz as editor

[2017-07-21 18:20] whedon commented on #325
OK, the editor is @danielskatz

[2017-07-21 18:21] kyleniemeyer commented on #212
I agree this looks like a great candidate for JOSE, as it seems like a tool more useful to explain/explore dynamical systems from an educational perspective rather than being a reusable research tool—unless there are research use cases we are missing.

@gboeing If you agree, would you be ok with withdrawing this submission for now, and resubmitting to JOSE as soon as we open that up? (or leave thi

[2017-07-21 18:22] danielskatz commented on #325
@hausen, would you be willing to review this submission?

[2017-07-21 18:22] kyleniemeyer commented on #287
@arfon @karthik Is this another candidate for going through review via rOpenSci?

[2017-07-21 18:24] kyleniemeyer commented on #326
@lheagy might this be a suitable submission for you to take on?

[2017-07-21 18:42] kyleniemeyer commented on #323
Hello @sepandhaghighi, taking a look at your software and the paper, I'm afraid I don't quite see the research use for this software. JOSS only publishes articles about software with an explicit research application.

In addition, your article does not conform to our standards, as it only includes a single (incomplete) sentence. JOSS articles need to include a statement of purpose, a short summary

[2017-07-21 18:45] cMadan commented on #259
I tried the first example (go/no-go) and got a blank screen and no helpful errors--will follow-up with issues in their repo.

[2017-07-21 18:46] paulgovan commented on #322
@whedon commands

[2017-07-21 18:46] whedon commented on #322
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-07-21 18:47] paulgovan commented on #322
@whedon list reviewers

[2017-07-21 18:47] whedon commented on #322
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-07-21 18:53] paulgovan commented on #322
@whedon set 10.5281/zenodo.822808 as archive

[2017-07-21 18:53] whedon commented on #322
I'm sorry @paulgovan, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-07-21 19:00] paulgovan commented on #322
Perhaps @janschulz or @cdcrabtree

[2017-07-21 19:09] karthik commented on #287
@kyleniemeyer Let me discuss with the editors and get back to you.

[2017-07-21 19:09] gboeing commented on #212
@kyleniemeyer sure we can withdraw this here then. When is JOSE estimated to open up?

[2017-07-21 19:12] karthik commented on #287
@kyleniemeyer Unfortunately this is not a fit for ropensci. So this should proceed as is with JOSS>

[2017-07-21 19:14] sepandhaghighi commented on #323
Hi @kyleniemeyer ;-) Orangetool is an easy to use linux based lib. This tool mostly use in IOT research and electronic programs that consist of single board computers.
But if you mean this software should directly analysis or generate some data about a research  , this software is not like this, it is a tool.

About article paper and references :

- I added  reference in paper.bib file.
- In one l

[2017-07-21 19:18] labarba commented on #323
This is not research software.

This submission is not in-scope for JOSS.

[2017-07-21 19:20] labarba commented on #321
I've read the paper, and this is not a piece of software with a research mission.

This is not eligible for publication in JOSS.

[2017-07-21 19:23] kyleniemeyer commented on #287
@karthik ok, perhaps one of the R-focused @openjournals/joss-editors can take it them 😋

[2017-07-21 19:28] kyleniemeyer commented on #323
@sepandhaghighi To be within scope of JOSS, the *primary* purpose of the tool should be for scholarly research—meaning, is this something that would be used in the methodology of a research study / article?

General software tools that do not specifically support research are not in scope, and unfortunately it appears your submission falls in this category. This isn't a judgement on the quality or

[2017-07-21 19:46] sepandhaghighi commented on #323
@kyleniemeyer yeah with this definition Orangetool is not in-scope for JOSS.
But I think this rule filter a large range of software's that work in high-level embedded system research!!
These tools really are not general and also directly-research!!

Best Regards
Sepand Haghighi

[2017-07-21 21:25] lheagy commented on #326
@kyleniemeyer: I have never worked with Ferret, the language they are scripting in, however, I do think I can help find some suitable reviewers for this.

[2017-07-21 21:29] kyleniemeyer commented on #326
@lheagy sounds good! I'll go ahead and give it to you then (though in the future feel free to assign yourself).

@whedon assign @lheagy as editor

[2017-07-21 21:38] kyleniemeyer commented on #326
Hmm, not sure why that didn't work...

[2017-07-21 21:38] kyleniemeyer commented on #326
@whedon assign @lheagy as editor

[2017-07-21 21:38] whedon commented on #326
OK, the editor is @lheagy

[2017-07-21 22:24] lheagy commented on #326
Thank you for your submission @mvhulten.

Before we start looking for reviewers, could you please include a paper.md in the repository? This should include an description of the software, provide some context and a statement of need (eg. http://joss.theoj.org/papers/b3adbbf7df62f4e427f19e99e70163f5).

Additionally, the site https://savannah.nongnu.org/projects/complot/ is a bit challenging to navi

[2017-07-22 08:17] dselent commented on #309
Sure,
The original research application was for merging school lunch data into an existing large .csv file on student data from the ASSISTments online tutoring system.  The file contents are too large to fit in memory and there are a lack of good tools that easily operate on files that large.  The library I developed made it easy to create a simple program to do the required tasks.  I provide the

[2017-07-22 16:43] labarba commented on #309
@dselent : I looked at the `paper.md` file in the repo and it's just not a good-enough description of the software and the way that it addresses a research need.

We (the JOSS editors) plan to extend the author guidelines to be more clear about the requirements, and to be more firm with enforcing them. Paper length is an issue: we need to see a clear statement of need within the research enterpris

[2017-07-22 16:50] labarba commented on #238
@offray : I looked at the `paper.md` file in the webpage (BTW, the link to PDF is broken) and it's just a copy-paste from the blurb on the landing page.

We (the JOSS editors) plan to extend the author guidelines to clarify the requirements, and to be more firm with enforcing them. Paper length is an issue: we need to see a clear statement of need within the research enterprise, and expect that is

[2017-07-22 16:53] labarba commented on #212
We hope JOSE can start receiving submissions in maybe about a month or so ... currently, we're stuck on the need to make some changes to the submission web form, but we don't have a Ruby programmer who can contribute that right now.

[2017-07-22 19:39] katyhuff commented on #322
@whedon assign @katyhuff as editor

[2017-07-22 19:39] whedon commented on #322
OK, the editor is @katyhuff

[2017-07-22 19:41] katyhuff commented on #322
@janschulz @cdcrabtree @wrathematics -- I believe you have the background to review this submission -- are any of you interested in reviewing this submission for JOSS?

[2017-07-23 07:07] mvhulten commented on #326
Thank you for accepting my paper for review!
I will respond more extensively later on, but I will quickly respond to @lheagy.

I tried to make a README.md that could be used as the paper.  Maybe it is better to create a separate paper.md?  Otherwise, I could symlink README.md to paper.md.

The repository is here: http://hg.savannah.nongnu.org/hgweb/complot/
Is it sufficient to add this to the pape

[2017-07-23 07:35] offray commented on #238
Lorena,

I'm away now in a Data Camp outside the country, but I will address your
recommendations after returning, on the first week of August.

Thanks,

Offray

On 22/07/17 11:50, Lorena A. Barba wrote:

[2017-07-23 12:20] janschulz commented on #322
I've no clue about bayesian models, so if that's not a problem I can do the review.

[2017-07-23 14:09] katyhuff commented on #322
I see. Thanks letting me know. I'd like for someone with bayesian
experience to handle this review if possible. @cdcrabtree or @wrathematics,
do either of you have experience with bayesian models?

On Sun, Jul 23, 2017, 7:20 AM Jan Schulz <notifications@github.com> wrote:

[2017-07-23 15:00] whedon opened #328 "[PRE REVIEW]: NSDRP: A Near-Infrared Data Reduction and Numerical Analysis Pipeline"
**Submitting author:** @Astrodude11 (<a href="http://orcid.org/0000-0002-3634-1187">Andrew Colson</a>)
**Repository:** <a href="https://github.com/Astrodude11/NIRSPEC-Data-Reduction-Pipeline/tree/master" target ="_blank">https://github.com/Astrodude11/NIRSPEC-Data-Reduction-Pipeline/tree/master</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** Pending

**Author instructions**

Thanks for su

[2017-07-23 15:00] whedon commented on #328
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-07-23 15:00] whedon opened #329 "[PRE REVIEW]: bsym - a basic symmetry module"
**Submitting author:** @bjmorgan (<a href="http://orcid.org/0000-0002-3056-8233">Benjamin J. Morgan</a>)
**Repository:** <a href="https://github.com/bjmorgan/bsym" target ="_blank">https://github.com/bjmorgan/bsym</a>
**Version:** v1.0.b1
**Editor:** @labarba
**Reviewer:** @aronwalsh

**Author instructions**

Thanks for submitting your paper to JOSS @bjmorgan. The JOSS editor (shown at the top of

[2017-07-23 15:00] whedon commented on #329
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-07-23 15:01] whedon opened #330 "[PRE REVIEW]: Spectrum: Spectral Analysis in Python"
**Submitting author:** @cokelaer (<a href="http://orcid.org/0000-0001-6286-1138">Thomas Cokelaer</a>)
**Repository:** <a href="https://github.com/cokelaer/spectrum" target ="_blank">https://github.com/cokelaer/spectrum</a>
**Version:** 0.6.2
**Editor:** @arfon
**Reviewer:** @eteq

**Author instructions**

Thanks for submitting your paper to JOSS @cokelaer. The JOSS editor (shown at the top of this

[2017-07-23 15:01] whedon commented on #330
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jakevdp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-07-23 15:02] arfon commented on #328
👋 @Astrodude11 - thanks for your submission to JOSS. Is there a reason you're submitting your fork of this repository for review and not the parent (https://github.com/Keck-DataReductionPipelines/NIRSPEC-Data-Reduction-Pipeline)?

[2017-07-23 15:03] arfon commented on #329
👋 @labarba - the submitting author suggested you as an editor.

[2017-07-23 15:03] arfon commented on #330
👋 @jakevdp - the submitting author suggested you as an editor.

[2017-07-23 18:12] bjmorgan commented on #329
Potential reviewers:

From the JOSS list:
- khinsen
- jochym

Possible other reviewers:
- Adam Jackson: https://github.com/ajjackson
- [Aron Walsh](http://www.imperial.ac.uk/people/a.walsh): https://github.com/aronwalsh
- [Paul Erhart](https://www.chalmers.se/en/staff/Pages/Paul-Erhart.aspx): https://gitlab.com/erhart

[2017-07-23 18:35] labarba commented on #329
Thank you , @bjmorgan, for suggesting reviewers… most helpful!

I was about to send an email to request a review from Dr. Kristin A. Persson (or someone she might recommend). Seem appropriate?
http://perssongroup.lbl.gov/people.html

[2017-07-23 18:40] labarba commented on #329
In the meantime, I wonder if you could take the time to expand a little the description in the paper. We (the JOSS editors) are in the process of adding more guidance for authors, including a better indication of expected paper length. We think it's hard to get a picture of the functionality of the software, and also include a statement of need, in less than 250 words. One reason is that JOSS is w

[2017-07-23 18:42] bjmorgan commented on #329
Dr. Persson would be a very appropriate suggestion.

[2017-07-23 20:42] lheagy commented on #326
Thanks @mvhulten, if you could please add a paper.md, that would make it more clear for both myself and the reviewers. Any references can be included as a bibtex file (paper.bib). For an example, see: https://github.com/arfon/fidgit/tree/master/paper

Upgrading the website would help elevate the usability of the project. Is this something you would like to do prior to engaging with reviewers? It w

[2017-07-23 20:46] kyleniemeyer commented on #326
@mvhulten to add to what  @lheagy said, JOSS *requires* an article, including references. Please see the [author guidelines](http://joss.theoj.org/about#author_guidelines) for a description of what is required in this.

The article does not serve the same purpose as a README, but should be a 250–1000 word high-level description of the software, including a statement of need and description of the

[2017-07-23 20:47] kyleniemeyer commented on #323
@sepandhaghighi I appreciate your feedback, but JOSS does need a scope, otherwise it dilutes the purpose of the journal.

@arfon could you remove this submission?

[2017-07-23 23:48] arokem commented on #327
:hand: I can edit this one.

@wojdyr : do you have suggestions for reviewers? I haven't done crystallography in about 15 years, and don't know anyone in that field any more.

[2017-07-23 23:50] arokem commented on #259
Thanks - ping me here when things are resolved, with pointers to the relevant issues. Thanks again!

[2017-07-24 08:24] wojdyr commented on #327
Thanks for looking into it.
I'm afraid I don't have suggestions for reviewers (people who come to my mind would have a conflict of interest).
But I think that a biochemist or a bioinformatician familiar with 3d structures could also be a good reviewer.

[2017-07-24 09:58] konstantinstadler commented on #321
Hallo Lorena and Arfon,

Thanks for quick review!

The main purpose of the software is to
"make addressing research challenges significantly better (e.g., faster, easier, simpler)".
The research application is the parsing of global data-sets.

One of the challenges we face in our research (Industrial Ecology - linking environmental and economic research to address global sustainability issues) are

[2017-07-24 13:15] labarba commented on #321
Alright, if you could work that big-picture explanation of the research uses of the code into the paper, then we can proceed. The paper currently does not make the case.

Because JOSS publishes software articles in a wide variety of fields, it's vital for the authors to include a few sentences for a non-specialist to understand why the software is useful for research.

[2017-07-24 14:31] dselent commented on #309
@labarba : I updated the paper using < 1000 words.  I added more background for the research applications and how it is an improvement on existing solutions.  I also added some details on what the library is and how it works internally.

[2017-07-24 14:39] konstantinstadler commented on #321
Thanks a lot! I just pushed the updated description to the github repo.

[2017-07-24 17:50] Kevin-Mattheus-Moerman commented on #299
@kippkitts Let me know if I can help.

[2017-07-24 21:05] mvhulten commented on #326
I am preparing the paper according to the guidelines.

I am not sure in what time frame I will have a proper website for *ComPlot*, so probably it is better to start the review without it (when I reply here with the info that I included a paper.md).

[2017-07-24 22:32] mgymrek commented on #319
@pstegma thanks for the submission. I have taken a look at the paper.md. Could you clarify what types of analyses can be done with this platform? The paper currently mentions "a broad range of bioinformatic and systems biology applications" and "upstream anslysis", but it is not clear exactly what types of analyses are being targeted. e.g. analysis of sequencing data? gene ontology analysis? Some

[2017-07-25 08:16] mvhulten commented on #326
I have added a `paper.md`.  As far as I am concerned, you may start with the review.

In the meanwhile I did think of several people who are qualified to do the review:

 - Anne Mouchet <anne.mouchet AT lsce.ipsl.fr>
 - Patrick Brockmann <patrick.brockmann AT lsce.ipsl.fr>
 - Ansley Manke <ansley.b.manke AT noaa.gov>

My colleagues at LSCE are heavy users of Ferret.
Ferret is developed at NOAA.  A

[2017-07-25 11:32] maelle commented on #324
Link to rOpenSci review of `rtimicropem` https://github.com/ropensci/onboarding/issues/126

[2017-07-25 13:34] bjmorgan commented on #329
@labarba I have rewritten my `paper.md` to give a more detailed explanation of the intended purpose of the software.

https://github.com/bjmorgan/bsym/commit/25eca0997802ae5cbe72ea29875c5204dcbdb6e2

[2017-07-25 13:49] hausen commented on #325
Sure!

2017-07-21 14:22 GMT-04:00 Daniel S. Katz <notifications@github.com>:

[2017-07-25 14:16] danielskatz commented on #281
Hi @alexanderbock - just a reminder that we are waiting for you on this...

[2017-07-25 14:17] danielskatz commented on #289
@lwilson - not sure what "this" week meant... :)

[2017-07-25 14:19] danielskatz commented on #325
@whedon assign @hausen as reviewer

[2017-07-25 14:19] whedon commented on #325
OK, the reviewer is @hausen

[2017-07-25 14:21] danielskatz commented on #325
@whedon start review magic-word=bananas

[2017-07-25 14:21] whedon commented on #325
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/331. Feel free to close this issue now!

[2017-07-25 14:21] whedon opened #331 "[REVIEW]: pyrgg: Python Random Graph Generator"
**Submitting author:** @sepandhaghighi (<a href="http://orcid.org/0000-0001-9450-2375">Sepand Haghighi</a>)
**Repository:** <a href="https://github.com/sepandhaghighi/pyrgg" target ="_blank">https://github.com/sepandhaghighi/pyrgg</a>
**Version:** v0.1
**Editor:** @danielskatz
**Reviewer:** @hausen
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.845502" target="_blank">10.5281/zenodo.845502

[2017-07-25 14:21] whedon commented on #331
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @hausen it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-07-25 14:22] #325 closed

[2017-07-25 14:23] danielskatz commented on #331
@hausen - this is ready for you to review.

Please carry out your review in this issue by updating the checklist above (please make sure you're logged in to GitHub)

The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Please avoid lengthy details of difficulties in this review thread. Instead, please create a new issue in the target repository and link to t

[2017-07-25 15:01] lwilson commented on #289
It's apparently a "baker's" week (it has 1 extra day)!

[2017-07-25 16:03] arokem commented on #327
Hey @luizirber : would you be willing to review this paper for JOSS?

[2017-07-25 16:13] alexanderbock commented on #281
Sorry for the delay;  there was another deadline ongoing.

@arfon   I changed the `paper.md` accordingly.  I thought that I had seen in one of the instructions that inline affiliations were okay as well.

I have two affiliation tags next to my name in there, is specifying the attribute multiple times allowed or is there a different syntax for this?

[2017-07-25 16:16] wojdyr commented on #327
@arokem sure, I'll extend it. But are you sure about the recommendations? ATM the [author guidelines](http://joss.theoj.org/about#author_guidelines) show a 60-word example summary as the only hint about the required paper length.

[2017-07-25 17:03] labarba commented on #329
I am currently waiting on email response for reviewer assignment.

[2017-07-25 17:09] arokem commented on #327
This is undergoing change at the moment (if you want to see the discussion, it's going on over here: https://github.com/openjournals/joss/issues/294). We're working to use a better example. For the time being, take a look at https://github.com/cMadan/prism/blob/master/paper/paper.md

[2017-07-25 20:19] dhermes commented on #267
@tacaswell @arfon Anything I can do here?

[2017-07-25 23:17] NelleV commented on #295
LGTM!

[2017-07-26 02:36] karthik commented on #295
Awesome! Thanks @NelleV! We appreciate your time to review this submission. 🙏

@nhejazi Can you please archive this submission on Zenodo and update the thread with the DOI so I can move forward with the acceptance?

[2017-07-26 03:06] tacaswell commented on #267
All of my issues have been addressed.

I recommend this to be published!

Sorry for being so slow on my end.

[2017-07-26 03:15] tacaswell commented on #267
There are far more references in the bibliography than cited from paper.md, does that get sorted out at somepoint in the next step?

[2017-07-26 03:37] tacaswell commented on #268
- I am the lead developer of a dependency (Matplotlib), but I do not think that is a conflict of interest.
 - This is licensed under "CeCILL-B FREE SOFTWARE LICENSE AGREEMENT" which is labeled at the bottom as v1.0.  There is a CeCILL license on the OSI list is "Cea Cnrs Inria Logiciel Libre License, version 2.1 (CECILL-2.1)"
 - there is not a 'github release' but the version on pypi matches 1.6

[2017-07-26 05:34] lheagy commented on #326
Thanks @mvhulten. Of the reviewers that you have suggested, are they at arms length of the project, particularly those who are at the same institution as you? (eg. they are not currently contributors or currently providing you with feedback on ComPlot).

I do have a couple more requests prior to sending it for review:

- It is not necessarily obvious how to navigate from the main website to the lo

[2017-07-26 06:58] mvhulten commented on #326
Thanks @lheagy.

LSCE is my previous institute.  I did discuss with Patrick technical details, but not really about the package structure.  The same is true for Ansley.  Anne was just interested and did not provide any input to the package.  Right now I am at the University of Bergen.  In any case, they are not currently contributors or currently providing you with feedback on ComPlot.

I added th

[2017-07-26 07:12] scls19fr commented on #268
Should we add a tag on GitHub? If that's necessary we can do it.

@LionelR have been consulted see https://github.com/python-windrose/windrose/issues/54

No other docs than the README

I don't really know what should be part of this field (I've never published such paper).

[2017-07-26 07:17] nhejazi commented on #295
Thanks very much for taking the time to review this package @NelleV! 🙏
@karthik -- thanks very much for your help throughout the review process!

I've archived v1.1.2 of the package and generated a DOI via Zenodo: DOI: 10.5281/zenodo.834849. Please let me know if there's anything more on my end.

[2017-07-26 10:04] rgieseke commented on #321
Hi, I'd be happy to be a reviewer for this.

I'm a potential user (for emissions, GDP, population and other data in Climate Change research) - and also working on subsets of similar functionality in https://github.com/openclimatedata/countrygroups and have been using and contributing to https://github.com/occrp/countrynames.

[2017-07-26 10:50] kavonszadkowski commented on #290
Hi Kevin,

sorry to decline, but I don't think this fits my area of expertise well.

Cheers,

Kai

--
  Kai von Szadkowski (M.Sc.)
  Space Robotics

  Universität Bremen
  FB 3 - Mathematik und Informatik
  AG Robotik
  Robert-Hooke-Straße 1
  28359 Bremen, Germany

  Zentrale: +49 421 178 45-6611

  Besuchsadresse der Nebengeschäftstelle:
  Robert-Hooke-Straße 5
  28359 Bremen, Germany

  Tel.:

[2017-07-26 12:58] labarba commented on #321
@whedon assign @labarba as editor

[2017-07-26 12:58] whedon commented on #321
OK, the editor is @labarba

[2017-07-26 12:58] labarba commented on #321
@whedon start review

[2017-07-26 12:58] whedon commented on #321
You didn't say the magic word! Try this:

[code]

[2017-07-26 13:00] labarba commented on #321
@whedon start review magic-word=bananas

[2017-07-26 13:11] arfon commented on #321
@labarba - I don't think you've assigned the reviewer yet.

[2017-07-26 13:14] labarba commented on #321
Don't I have to start the review first, so that the new issue gets created, and assign the reviewer there?

[2017-07-26 13:16] labarba commented on #321
@whedon assign @rgieseke as reviewer

[2017-07-26 13:16] whedon commented on #321
OK, the reviewer is @rgieseke

[2017-07-26 13:17] labarba commented on #321
@whedon start review magic-word=bananas

[2017-07-26 13:17] whedon opened #332 "[REVIEW]: The country converter coco - a Python package for converting country names between different classification schemes"
**Submitting author:** @konstantinstadler (<a href="http://orcid.org/0000-0002-1548-201X">Konstantin Stadler</a>)
**Repository:** <a href="https://github.com/konstantinstadler/country_converter" target ="_blank">https://github.com/konstantinstadler/country_converter</a>
**Version:** v0.4
**Editor:** @labarba
**Reviewer:** @rgieseke
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.838248" tar

[2017-07-26 13:17] whedon commented on #321
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/332. Feel free to close this issue now!

[2017-07-26 13:17] whedon commented on #332
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @rgieseke it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-07-26 13:19] #321 closed

[2017-07-26 13:19] labarba commented on #321
Interesting. So `start review` does nothing if the reviewer hasn't been assigned yet. It would be nice if `whedon` would throw a message for that.

[2017-07-26 13:21] labarba commented on #332
@rgieseke : Thanks for volunteering to review. This is the place to enter your comments, as you go through the review checklist, but you are also encouraged to open new issues in the repository of the software, if needed.

[2017-07-26 13:21] arfon commented on #321
👍 yeah. It should at least say _something_

[2017-07-26 13:22] rgieseke commented on #332
Will do, thanks!

[2017-07-26 13:42] arfon commented on #321
@labarba - I've opened a bug report here https://github.com/openjournals/whedon-api/issues/6

[2017-07-26 14:42] Kevin-Mattheus-Moerman commented on #290
@kavonszadkowski okay. Thanks for letting us know.

[2017-07-26 16:21] arfon commented on #281
@alexanderbock - you nearly had it right. I fixed things up in https://github.com/OpenSpace/OpenSpace/pull/373

Once you've merged https://github.com/OpenSpace/OpenSpace/pull/373 could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-07-26 16:29] arfon commented on #267
Thanks @tacaswell.

@dhermes - all of the references need moving to the `paper.bib` file and citing directly. (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

In addition, could you please expand a little on the `paper.md` file? We (the JOSS editors) are in the process of adding more guidance for authors, including a better indication

[2017-07-26 16:49] arfon commented on #324
@whedon assign @arfon as editor

[2017-07-26 16:49] whedon commented on #324
OK, the editor is @arfon

[2017-07-26 16:49] arfon commented on #324
@whedon assign @arfon as reviewer

[2017-07-26 16:49] whedon commented on #324
OK, the reviewer is @arfon

[2017-07-26 16:50] arfon commented on #324
@whedon start review magic-word=bananas

[2017-07-26 16:50] whedon opened #333 "[REVIEW]: rtimicropem: an R package supporting the analysis of RTI MicroPEM output files"
**Submitting author:** @maelle (<a href="http://orcid.org/0000-0002-2815-0399">Maëlle Salmon</a>)
**Repository:** <a href="https://github.com/ropensci/rtimicropem" target ="_blank">https://github.com/ropensci/rtimicropem</a>
**Version:** v1.3
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.836952" target="_blank">10.5281/zenodo.836952</a>

## Status

[2017-07-26 16:50] whedon commented on #324
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/333. Feel free to close this issue now!

[2017-07-26 16:50] whedon commented on #333
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-07-26 16:50] #324 closed

[2017-07-26 16:50] arfon commented on #333
rOpenSci onboarding here https://github.com/ropensci/onboarding/issues/126

[2017-07-26 16:54] arfon commented on #333
@maelle - could you please make sure you've cited the reference in your `paper.bib` file? Otherwise it won't be compiled in when we finish up the submission.

In addition, could you please expand a little on the `paper.md` file? We (the JOSS editors) are in the process of adding more guidance for authors, including a better indication of expected paper length. Currently it's hard to get a picture

[2017-07-26 16:55] arfon commented on #333
Also, I've made a couple of small fixes here https://github.com/ropensci/rtimicropem/pull/31

[2017-07-26 17:15] arfon commented on #295
@whedon set 10.5281/zenodo.834849 as archive

[2017-07-26 17:15] whedon commented on #295
OK. <a href="http://dx.doi.org/10.5281/zenodo.834849" target="_blank">10.5281/zenodo.834849</a> is the archive.

[2017-07-26 17:21] mvhulten commented on #326
To be a bit more clear: nobody of my suggested reviewers had direct input into ComPlot.  Patrick and Ansley helped me, as many more people, with technical Ferret issues.

Savannah was a conscious choice.  Moreover, it might be a good idea to try to keep JOSS hosting service (and version control system) agnostic.  I am hoping this will work out.

[2017-07-26 17:23] arfon commented on #295
@nhejazi - it looks like there are two paper files (`paper.md` and `paper.Rmd`). The later looks to be more closely aligned with our expected format. Could you confirm that the `paper.Rmd` should be the file we should be looking at here? If so, please delete the `paper.md` file.

[2017-07-26 17:35] wojdyr commented on #327
I added a paragraph about scientific context.
And one sentence about another use of the software that I've just learnt about.

Let me know if you have other suggestions. I may reply with a delay -- I'm on holidays this week.

[2017-07-26 17:57] nhejazi commented on #295
Confirming that `paper.Rmd` is the appropriate (reproducible) file to be using here. `paper.md` and (now) unnecessary supporting files have been removed as of the latest commit on `master`.

[2017-07-26 18:16] arfon commented on #295
OK thanks @nhejazi. Can you clarify why this is `.Rmd` and not `.md` - our submission tooling is heavily automated and expects to find a file named `paper.md` not `paper.Rmd` 😁

[2017-07-26 18:20] nhejazi commented on #295
Oh, based on a different JOSS submission that I was involved in, the reviewer asked for an `.Rmd` to ensure reproducibility of results. That submission ended up getting stalled on our end, but I went ahead with applying the suggestion to this submission. I should be able to pretty easily convert it to `.md` if you'd like.

[2017-07-26 18:23] arfon commented on #295
👍 Yes please.

[2017-07-26 18:29] whedon opened #334 "[PRE REVIEW]: Sequana: a set of flexible genomic pipelines for processing and reporting NGS analysis"
**Submitting author:** @cokelaer (<a href="http://orcid.org/0000-0001-6286-1138">Thomas Cokelaer</a>)
**Repository:** <a href="https://github.com/sequana/sequana/" target ="_blank">https://github.com/sequana/sequana/</a>
**Version:** 0.4.1
**Editor:** @pjotrp
**Reviewer:** @bow

**Author instructions**

Thanks for submitting your paper to JOSS @cokelaer. The JOSS editor (shown at the top of this i

[2017-07-26 18:29] whedon commented on #334
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @pjotrp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-07-26 18:29] arfon commented on #334
@pjotrp - the submitting author suggested you as a potential editor.

[2017-07-26 18:30] whedon opened #335 "[PRE REVIEW]: Lcopt - An interactive tool for creating fully parameterised Life Cycle Assessment (LCA) foreground models"
**Submitting author:** @pjamesjoyce (<a href="http://orcid.org/0000-0002-9560-3132">P. James Joyce</a>)
**Repository:** <a href="https://github.com/pjamesjoyce/lcopt" target ="_blank">https://github.com/pjamesjoyce/lcopt</a>
**Version:** v0.4.0
**Editor:** @katyhuff
**Reviewer:** @amoeba

**Author instructions**

Thanks for submitting your paper to JOSS @pjamesjoyce. The JOSS editor (shown at the

[2017-07-26 18:31] whedon commented on #335
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @katyhuff it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-07-26 18:31] arfon commented on #335
👋 @katyhuff - the submitting author suggested you as an editor.

[2017-07-26 18:31] whedon opened #336 "[PRE REVIEW]: Django Remote Submission"
**Submitting author:** @ricleal (<a href="http://orcid.org/0000-0002-9931-8304">Ricardo Miguel Ferraz Leal</a>)
**Repository:** <a href="https://github.com/ornl-ndav/django-remote-submission" target ="_blank">https://github.com/ornl-ndav/django-remote-submission</a>
**Version:** v0.11.1
**Editor:** @arfon
**Reviewer:** @djmitche

**Author instructions**

Thanks for submitting your paper to JOSS @r

[2017-07-26 18:32] whedon commented on #336
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-07-26 18:32] arfon commented on #336
:wave: thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#author_guidelines). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)?

Many thanks!

[2017-07-26 18:32] whedon opened #337 "[PRE REVIEW]: Pipengine"
**Submitting author:** @fstrozzi (<a href="http://orcid.org/0000-0002-6845-6982">Francesco Strozzi</a>)
**Repository:** <a href="https://github.com/fstrozzi/bioruby-pipengine" target ="_blank">https://github.com/fstrozzi/bioruby-pipengine</a>
**Version:** 0.9.3
**Editor:** @biorelated
**Reviewer:** @yannickwurm

**Author instructions**

Thanks for submitting your paper to JOSS @fstrozzi. The JOSS

[2017-07-26 18:32] whedon commented on #337
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @pjotrp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-07-26 18:33] arfon commented on #337
👋 @pjotrp - the submitting author suggested you as the editor.

[2017-07-26 18:38] nhejazi commented on #295
Done! `.Rmd` -> `.md`, and everything looks close enough to what I had intended.

[2017-07-26 18:48] ricleal commented on #336
Arfon,

This software is part of our scientific pipeline.
It is used to submit asynchronously to a cluster (using ssh) python scripts. In our case, we have a user friendly web interface and all the complex fitting routines are submitted to this cluster. Once the fitting routine is finished the results are transparently sent back to the user.
Let me know if this is enough to clarify the research ap

[2017-07-26 19:00] arfon commented on #295
@NelleV - many thanks for your review here and to @karthik for editing this one ✨

@nhejazi - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00295 ⚡️ 🚀 💥

[2017-07-26 19:00] #295 closed

[2017-07-26 19:10] nhejazi commented on #295
Awesome!

Thanks again @NelleV, @karthik, @arfon!

[2017-07-26 20:42] karthik commented on #287
ok, I'm happy to take this on.

[2017-07-26 20:42] karthik commented on #287
@whedon assign @karthik as editor

[2017-07-26 20:42] whedon commented on #287
OK, the editor is @karthik

[2017-07-26 21:22] karthik commented on #314
Got it, assigning one now.

[2017-07-26 21:23] karthik commented on #314
I've reached out to @AndySouth for a review request.

[2017-07-26 21:39] karthik commented on #229
Hi @bunhoel,
In looking over the repo again, I have more questions for you.

- What is the rationale for not having the package in the root of the repo? Why a subfolder? Your main README is still incomplete and says "Place where things happen". Please delete that file and move the entire `qGaussian` folder up one level.
- In your code I don't see any `roxygen` tags or documentation at all, however

[2017-07-26 22:22] alexanderbock commented on #281
@arfon  The pullrequest is merged, thanks for the fix.  If have uploaded the software at Zenodo: http://doi.org/10.5281/zenodo.835206   (https://zenodo.org/record/835206)

[2017-07-26 23:56] Astrodude11 commented on #328
@arfon - Yes, I'm glad you asked. I created the fork so I could change the README file to satisfy the instructions per JOSS. Since users download the parent I want the users to see the full and original README.

[2017-07-27 01:55] arfon commented on #281
@whedon set 10.5281/zenodo.835206 as archive

[2017-07-27 01:56] whedon commented on #281
OK. <a href="http://dx.doi.org/10.5281/zenodo.835206" target="_blank">10.5281/zenodo.835206</a> is the archive.

[2017-07-27 02:05] arfon commented on #281
@MatthewTurk many thanks for your review here and @danielskatz for editing this submission ✨

@alexanderbock - your submission is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00281 :zap: 🚀 💥

[2017-07-27 02:05] #281 closed

[2017-07-27 02:16] arfon commented on #328
@Astrodude11 - JOSS doesn't place any requirements on what the README should contain, we need you to have a `paper.md` file that has the paper contents and an associated bibtex file. See the two files in this example: https://github.com/arfon/fidgit/tree/master/paper . I would suggest adding the files (`paper.md` and `paper.bib`) to the original repository (https://github.com/Keck-DataReductionPip

[2017-07-27 05:15] arokem commented on #327
Thank you. OK - let's see if we can get a reviewer for this while you are on holidays...

[2017-07-27 06:17] alexanderbock commented on #281
Thank you all very much!

[2017-07-27 06:20] pjotrp commented on #334
@whedon commands

[2017-07-27 06:20] whedon commented on #334
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-07-27 06:20] pjotrp commented on #334
@whedon assign @pjotrp as editor

[2017-07-27 06:20] whedon commented on #334
OK, the editor is @pjotrp

[2017-07-27 06:23] pjotrp commented on #337
It could be perceived I have a conflict of interest here. @biorelated can you be the editor of this Ruby submission?

[2017-07-27 08:21] maelle commented on #333
@arfon thanks for handling this submission. I've added the reference in the paper, and added details in `paper.md`.

[2017-07-27 11:35] arfon commented on #333
OK thanks. BTW, it looks like you've committed a merge conflict in [`paper.md`](https://github.com/ropensci/rtimicropem/blob/master/paper/paper.md)

[2017-07-27 11:44] arfon commented on #323
Done.

[2017-07-27 11:44] #323 closed

[2017-07-27 12:28] maelle commented on #333
@arfon thanks, I've now removed the conflict.

[2017-07-27 12:39] rinde commented on #290
Hi Kevin,

Thanks for the invite, but I unfortunately don't have the time to do a review.

Cheers,
Rinde

[2017-07-27 12:47] pjamesjoyce commented on #335
Hi all, perhaps @amoeba (who reviewed the Brightway LCA software #236) would be an option to review if they have time?

[2017-07-27 13:04] katyhuff commented on #335
@amoeba would you be willing to review this submission? You did a great job with the Brigthway2 paper! I hope you'll let me know if you can take this on.

Alternatively, @cmutel, you might also be a great reviewer for this submission.  I recognize that, given the relationship of this submission to Brightway2, I can imagine you may have a conflict of interest. However, if you feel you can give an u

[2017-07-27 13:05] Kevin-Mattheus-Moerman commented on #290
Thanks for your reply @rinde

[2017-07-27 14:27] lheagy commented on #326
Thanks @mvhulten! I will start reaching out to reviewers

[2017-07-27 16:51] mwmclean commented on #269
@noamross the DOI is 10.5281/zenodo.835547.

[2017-07-27 16:57] noamross commented on #269
@arfon This package has been approved through ropensci onboarding and the review thread is here: https://github.com/ropensci/onboarding/issues/119

[2017-07-27 17:37] Astrodude11 commented on #328
@arfon - Ah, okay. I took READMD.md as mistake for paper.md. I'll correct this, add paper.bib, and supplement the description to the original repo soon.

[2017-07-27 18:08] arfon commented on #269
@whedon assign @arfon as editor

[2017-07-27 18:08] whedon commented on #269
OK, the editor is @arfon

[2017-07-27 18:08] arfon commented on #269
@whedon assign @arfon as reviewer

[2017-07-27 18:08] whedon commented on #269
OK, the reviewer is @arfon

[2017-07-27 18:08] arfon commented on #269
@whedon assign @karthik as editor

[2017-07-27 18:08] whedon commented on #269
OK, the editor is @karthik

[2017-07-27 18:09] arfon commented on #269
@whedon start review magic-word=bananas

[2017-07-27 18:09] whedon commented on #269
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/338. Feel free to close this issue now!

[2017-07-27 18:09] whedon opened #338 "[REVIEW]: RefManageR: Import and Manage BibTeX and BibLaTeX References in R"
**Submitting author:** @mwmclean (<a href="http://orcid.org/0000-0002-7891-9645">Mathew McLean</a>)
**Repository:** <a href="https://github.com/mwmclean/RefManageR" target ="_blank">https://github.com/mwmclean/RefManageR</a>
**Version:** v0.13.4
**Editor:** @karthik
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.835547" target="_blank">10.5281/zenodo.835547</a>

## Sta

[2017-07-27 18:09] whedon commented on #338
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-07-27 18:09] arfon commented on #338
@whedon set 10.5281/zenodo.835547 as archive

[2017-07-27 18:09] whedon commented on #338
OK. <a href="http://dx.doi.org/10.5281/zenodo.835547" target="_blank">10.5281/zenodo.835547</a> is the archive.

[2017-07-27 18:09] #269 closed

[2017-07-27 18:10] arfon commented on #338
rOpenSci onboarding thread: https://github.com/ropensci/onboarding/issues/119

[2017-07-27 18:40] arfon commented on #338
@mwmclean - I'm having some major problems compiling the `paper.md` and `paper.bib` file you submitted, looks like it's failing on some kind of encoding issue:

[code]

Can I just check whether you're doing anything funky with file encodings here?

[2017-07-27 18:41] dhermes commented on #267
Will do!

Should I mention features the library **doesn't** have (that could be added at a later date)? Following a standard text / course syllabus I could outline the "toolbox" one would typically want when dealing with Bezier curves and how it compares to the feature set of the library.

----

@arfon IIUC, when @tacaswell said

he meant that `paper.bib` has more references (23):

[code]

than ar

[2017-07-27 18:47] arfon commented on #333
@maelle - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-07-27 18:48] mwmclean commented on #338
Not that I know of.  Just looked at the `paper.md` and `paper.bib` again; can't see what the issue would be.

[2017-07-27 18:52] biorelated commented on #337
@pjotrp @arfon no problem.

[2017-07-27 18:58] biorelated commented on #337
@krother, @amoeba would you be willing and happy to review this work?

[2017-07-27 18:59] biorelated commented on #337
@whedon commands

[2017-07-27 18:59] whedon commented on #337
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-07-27 19:01] biorelated commented on #337
@whedon assign @biorelated as editor

[2017-07-27 19:02] whedon commented on #337
OK, the editor is @biorelated

[2017-07-27 19:04] maelle commented on #333
Thx will do on tuesday

[2017-07-27 22:15] AndySouth commented on #314
Thanks @karthik, happy to do this. I'm travelling for a week will get to it after then. On quick inspection I couldn't find reviewers instructions, e.g. turnaround time, can you point me to ?

[2017-07-27 23:52] karthik commented on #314
Thanks @AndySouth. Guidelines are here: http://joss.theoj.org/about#reviewer_guidelines
If you are able to accept and complete the review within two weeks after you're back, I would really appreciate it. Please let me know if that's ok and I'll start off the review process (which will close this issue and create a new one with a checklist for you to work through).

[2017-07-27 23:58] amoeba commented on #335
@katyhuff Sure. I can look at this this weekend or earlier. I would love it if @cmutel could at least comment on the correctness of this software, which I can't do confidently due to my lack of experience with LCA. I'm happy to be the reviewer though.

[2017-07-28 00:35] AndySouth commented on #314
Great, thanks @karthik I'll do it.

On 27 Jul 2017 19:52, "Karthik Ram" <notifications@github.com> wrote:

Thanks @AndySouth <https://github.com/andysouth>. Guidelines are here:
http://joss.theoj.org/about#reviewer_guidelines
If you are able to accept and complete the review within two weeks after
you're back, I would really appreciate it. Please let me know if that's ok
and I'll start off the rev

[2017-07-28 01:11] karthik commented on #314
@whedon assign @AndySouth as reviewer

[2017-07-28 01:11] whedon commented on #314
OK, the reviewer is @AndySouth

[2017-07-28 01:11] karthik commented on #314
@whedon start review magic-word=bananas

[2017-07-28 01:13] karthik commented on #314
@AndySouth Please work through the checklist at the top of this issue when you are ready and let me know if you have any questions or run into problems. Thanks again for your help!

[2017-07-28 01:21] tacaswell commented on #268
Yes, pushing tags that match at least the most recent version is (I think) required.  The tags are what are archived, give you a nice single-file source download, and you can use zenodo.org to get a DOI for the tag / release.

[2017-07-28 02:34] katyhuff commented on #335
@whedon assign @amoeba as reviewer

[2017-07-28 02:34] whedon commented on #335
OK, the reviewer is @amoeba

[2017-07-28 02:34] katyhuff commented on #335
@whedon start review magic-word=bananas

[2017-07-28 02:34] whedon commented on #335
You didn't say the magic word! Try this:

[code]

[2017-07-28 02:35] katyhuff commented on #335
@whedon start review magic-word=bananas

[2017-07-28 02:35] whedon opened #339 "[REVIEW]: Lcopt - An interactive tool for creating fully parameterised Life Cycle Assessment (LCA) foreground models"
**Submitting author:** @pjamesjoyce (<a href="http://orcid.org/0000-0002-9560-3132">P. James Joyce</a>)
**Repository:** <a href="https://github.com/pjamesjoyce/lcopt" target ="_blank">https://github.com/pjamesjoyce/lcopt</a>
**Version:** v0.4.2
**Editor:** @katyhuff
**Reviewer:** @amoeba
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.848529" target="_blank">10.5281/zenodo.848529</a>

## St

[2017-07-28 02:35] whedon commented on #335
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/339. Feel free to close this issue now!

[2017-07-28 02:35] whedon commented on #339
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @amoeba it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-07-28 02:37] katyhuff commented on #335
Thanks @amoeba ! You're assigned as the reviewer. Now you (and, if willing to help, @cmutel) can conduct this review over in #339. Please let me know if you have any questions!

[2017-07-28 02:37] #335 closed

[2017-07-28 08:50] pjotrp commented on #337
Thanks @biorelated. Would be good to get one of the Ruby crowd. How about asking one of the users https://github.com/fstrozzi/bioruby-pipengine/stargazers?

[2017-07-28 09:19] lheagy commented on #326
@whedon commands

[2017-07-28 09:19] whedon commented on #326
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-07-28 09:19] lheagy commented on #326
@whedon list reviewers

[2017-07-28 09:19] whedon commented on #326
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-07-28 12:05] rgieseke commented on #332
The `coco` country converter is a very useful Python library for conversion of country name variants as they appear in real-world datasets that through its included command line tool and some hints for Matlab users can be used even beyond the Python eco-system. Its user base will also likely extend beyond the ones mentioned in the accompanying paper, as the functions provided by `coco` are needed

[2017-07-28 17:40] amoeba commented on #337
Hey @biorelated I may not be able to get to this for a few weeks due to travel. If another reviewer can be be found that would be preferable but I will make a reminder to check back here when my schedule unsticks itself.

[2017-07-28 18:34] biorelated commented on #337
Thank you @amoeba. noted.

[2017-07-28 18:38] biorelated commented on #337
Dear Yannick (@yannickwurm),
Would you be willing to review the work by @fstrozzi (Francesco Strozzi) on PipEngine. Many thanks and looking forward to hearing from you.

[2017-07-29 03:06] hausen commented on #331
Issues: https://github.com/sepandhaghighi/pyrgg/issues/2

[2017-07-29 13:00] arfon commented on #267
I think the paper should only describe the current functionality at a high level rather than write about what the library _might_ do one day.

Also, please note, for the citations, the section after the `# References` heading should be completely empty. Pandoc compiles the references you have cited in your `paper.md` from the `paper.bib` file into the final output. You can use [this paper](https:/

[2017-07-29 13:08] arfon commented on #328
Thanks. Please let me know when you've done this.

[2017-07-29 13:41] cmutel commented on #339
I can participate in this review, but currently on vacation without a computer or reliable internet until August 8th.

[2017-07-29 13:41] cmutel commented on #335
Thanks for the invite - I would be able to do this, but only after returning from vacation on August 8th.

[2017-07-29 14:18] arfon commented on #318
@pjotrp - do you know anyone who might be a good reviewer here?

[2017-07-30 01:12] amoeba commented on #339
Thanks @cmutel. I'm going through the basics right now and would really appreciate it if you could check whatever you have time for but at least the functionality item of the review checklist. I should be able to do the rest.

[2017-07-30 08:36] scls19fr commented on #268
I've just release version 1.6.1 (Zenodo DOI https://zenodo.org/record/836356#.WX2aPdOLRZ0 , tag on GitHub, upload on PyPi https://pypi.python.org/pypi?%3Aaction=pkg_edit&name=windrose )

My release procedure is defined at https://github.com/python-windrose/windrose/issues/59

[2017-07-30 14:55] Kevin-Mattheus-Moerman commented on #297
@tpfau @sdelandtsheer would you willing to review this JOSS submission?

[2017-07-30 14:57] Kevin-Mattheus-Moerman commented on #297
@ashleefv you suggested reviewers but I have not find them on GitHub. Can you suggest reviewers by posting GitHub handles here?

[2017-07-30 15:05] Kevin-Mattheus-Moerman commented on #290
@samreid do you know of any colleagues that you could recommend as reviewers for this submission?

[2017-07-30 15:08] Kevin-Mattheus-Moerman commented on #290
@zmimlitz apologies for the delay encountered so far. We are doing are best to find reviewers for this submission. If you know of any please post their GitHub handles here. Also could you point me to relevant communities / groups you think I should look at?

[2017-07-30 17:31] tacaswell commented on #268
@arfon Who should be consulted about the license issue?

[2017-07-30 19:19] ashleefv commented on #297
They may not be on Github. If needed because of no reviewers, I can
withdraw this submission.

Ashlee N. Ford Versypt, Ph.D.
Assistant Professor, School of Chemical Engineering, Oklahoma State
University
Member, Harold Hamm Diabetes Center, University of Oklahoma Health Sciences
Center
420 Engineering North, OSU, Stillwater, OK 74078
Ph: 405-744-5280
ashleefv@okstate.edu
Ford Versypt Lab Website <

[2017-07-30 19:24] danielskatz commented on #297
Or you can provide email addresses, and they can be asked to join GitHub to do the review.

[2017-07-30 19:41] ashleefv commented on #297
gilbert.koch@ukbb.ch

@fulden_b on twitter

Ashlee N. Ford Versypt, Ph.D.
Assistant Professor, School of Chemical Engineering, Oklahoma State
University
Member, Harold Hamm Diabetes Center, University of Oklahoma Health Sciences
Center
420 Engineering North, OSU, Stillwater, OK 74078
Ph: 405-744-5280
ashleefv@okstate.edu
Ford Versypt Lab Website <https://sites.google.com/site/ashleefordversypt/>

[2017-07-30 20:25] Kevin-Mattheus-Moerman commented on #297
I've invited @fulden_b via twitter https://twitter.com/KMMoerman/status/891756250589007874

[2017-07-30 20:30] Kevin-Mattheus-Moerman commented on #297
and I've just e-mailed Gilbert Koch, thanks @ashleefv

[2017-07-31 10:59] sdelandtsheer commented on #297
Hi, sorry for the delayed answer. I just read the reviewers guidelines. I can review that software, happy to do it.

[2017-07-31 11:14] Kevin-Mattheus-Moerman commented on #297
Awesome! Thanks @sdelandtsheer

[2017-07-31 11:35] arokem commented on #327
@luizirber: Have you had a chance to take a look at this? I realize it's summer, and people are traveling and on vacation, so might be disconnected...

[2017-07-31 12:18] Kevin-Mattheus-Moerman commented on #297
@whedon commands

[2017-07-31 12:18] whedon commented on #297
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-07-31 12:19] Kevin-Mattheus-Moerman commented on #297
@whedon start review

[2017-07-31 12:19] whedon commented on #297
You didn't say the magic word! Try this:

[code]

[2017-07-31 12:19] Kevin-Mattheus-Moerman commented on #297
@whedon start review magic-word=bananas

[2017-07-31 12:23] Kevin-Mattheus-Moerman commented on #297
@whedon assign @sdelandtsheer as reviewer

[2017-07-31 12:23] whedon commented on #297
OK, the reviewer is @sdelandtsheer

[2017-07-31 12:23] Kevin-Mattheus-Moerman commented on #297
@whedon start review magic-word=bananas

[2017-07-31 12:23] whedon opened #340 "[REVIEW]: ACEInhibPKPD: An open-source MATLAB app for a pharmacokinetic/pharmacodynamic model of ACE inhibition"
**Submitting author:** @ashleefv (<a href="http://orcid.org/0000-0001-9059-5703">Ashlee N. Ford Versypt</a>)
**Repository:** <a href="https://github.com/ashleefv/ACEInhibPKPD" target ="_blank">https://github.com/ashleefv/ACEInhibPKPD</a>
**Version:** v1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @sdelandtsheer
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.885362" target="_blank">

[2017-07-31 12:24] whedon commented on #297
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/340. Feel free to close this issue now!

[2017-07-31 12:24] whedon commented on #340
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @sdelandtsheer it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're p

[2017-07-31 12:25] Kevin-Mattheus-Moerman commented on #297
Ok @ashleefv @sdelandtsheer review will happen here #340

[2017-07-31 14:35] katyhuff commented on #322
@cdcrabtree : Would you be willing to review this submission for JOSS?

[2017-07-31 18:20] yannickwurm commented on #337
Apologies for delay in replying @biorelated . I'm happy to do the review.

[2017-07-31 19:39] biorelated commented on #337
@whedon assign @yannickwurm  as reviewer

[2017-07-31 19:39] whedon commented on #337
OK, the reviewer is @yannickwurm

[2017-07-31 19:40] biorelated commented on #337
@whedon start review

[2017-07-31 19:40] whedon commented on #337
You didn't say the magic word! Try this:

[code]

[2017-07-31 19:43] biorelated commented on #337
@whedon start review magic-word=bananas

[2017-07-31 19:43] whedon commented on #337
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/341. Feel free to close this issue now!

[2017-07-31 19:43] whedon opened #341 "[REVIEW]: Pipengine"
**Submitting author:** @fstrozzi (<a href="http://orcid.org/0000-0002-6845-6982">Francesco Strozzi</a>)
**Repository:** <a href="https://github.com/fstrozzi/bioruby-pipengine" target ="_blank">https://github.com/fstrozzi/bioruby-pipengine</a>
**Version:** 0.9.3
**Editor:** @biorelated
**Reviewer:** @yannickwurm
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.851892" target="_blank">10.5281/

[2017-07-31 19:43] whedon commented on #341
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @yannickwurm it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're pro

[2017-07-31 19:46] #337 closed

[2017-07-31 21:43] sdelandtsheer commented on #340
@wedon commands

On Mon, Jul 31, 2017 at 2:24 PM, whedon <notifications@github.com> wrote:

[2017-07-31 22:17] sdelandtsheer commented on #340
@wedon commands

[2017-07-31 22:31] sdelandtsheer commented on #340
@wedon commands

[2017-07-31 22:36] cybanical commented on #300
@moorepants Is this only working on a 32-bit install? I just did a fresh anaconda py3.6 install and got this error:
[code]
Also, windows anaconda Anaconda is not aware of ipopt, cyipopt.
It looks like i need to install ipopt separately. This requires cygwin or mingw.

Perhaps there could be a bit more clarity/handholding on windows based installation?

[2017-07-31 22:36] danielskatz commented on #340
you've missed the h in @whedon
and also, reviewers shouldn't need to interact with @whedon - it's more for editors
If you are done with your review, you can let the editor know by just adding a comment to the issue.

[2017-07-31 23:48] sdelandtsheer commented on #340
Hi @Kevin-Mattheus-Moerman I have one remark:
There is documentation missing for the function _run_PKPD_without_GUI_. The input/output should be specified clearly, this is the function to run the simulations from the command line. I also recommend making the last three arguments optional.
The app is otherwise well documented, functional, and can be accepted when this is corrected as far as I am co

[2017-08-01 01:50] Kevin-Mattheus-Moerman commented on #340
Thanks @sdelandtsheer for the fast review. @ashleefv can you work on these comments and formulate a reply?

[2017-08-01 04:38] dhermes commented on #267
I [just updated][1] the summary. LMK what you think @arfon and @tacaswell?

The 3 paragraphs are:

- What are B&#xe9;zier curves / surfaces
- Where (i.e. what fields) have use for them? (This is essentially equivalent to stating the "audience")
- What features are present for people who might use them

[1]: https://github.com/dhermes/bezier/commit/975ac6b1a4313db4dcdc17396d6d34561005939e

[2017-08-01 04:57] pjotrp commented on #318
@whedon commands

[2017-08-01 04:57] whedon commented on #318
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-08-01 04:57] pjotrp commented on #318
@whedon assign @pjotrp as editor

[2017-08-01 04:57] whedon commented on #318
OK, the editor is @pjotrp

[2017-08-01 04:59] amoeba commented on #339
I had a chance to sit down with this over the weekend and things are looking great. I'm not quite done but I expect to be able to finish it by the end of the week here.

[2017-08-01 07:50] maelle commented on #333
Here is the DOI https://doi.org/10.5281/zenodo.836952

[2017-08-01 08:00] pjotrp commented on #320
@kblin ping

[2017-08-01 08:04] biorelated commented on #341
Ping @yannickwurm. Let me know if you need any clarifications.

[2017-08-01 08:07] pjotrp commented on #334
@cokelaer thank you for your submission! I'll be looking for a reviewer soon. In the mean time can you help out with a few things? I can't find the paper.md and paper.bib files. Can you point them to me? Also can you make the LICENSE file standard - if it is it will show up on github with the right license icon. Thanks!

[2017-08-01 09:12] kblin commented on #320
Looks good to me. Apart from the example in the README, I did not see documentation on using the API functions, but this is mainly a command line tool, and the CLI is documented nicely.

[2017-08-01 11:12] brainstorm commented on #257
@roryk If you need some guidance regarding the remaining checkboxes, let me know... I actually need some guidance on the editorial side, @arfon. Is there something special I should do when Rory finishes the review? First editing role :)

[2017-08-01 11:28] whedon opened #342 "[PRE REVIEW]: Bruker2nifti: Magnetic Resonance Images converter from Bruker ParaVision to Nifti format"
**Submitting author:** @SebastianoF (<a href="http://orcid.org/0000-0001-9279-4765">Sebastiano Ferraris</a>)
**Repository:** <a href="https://github.com/SebastianoF/bruker2nifti" target ="_blank">https://github.com/SebastianoF/bruker2nifti</a>
**Version:** 1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @rougier

**Author instructions**

Thanks for submitting your paper to JOSS @Sebastiano

[2017-08-01 11:28] whedon commented on #342
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-08-01 11:28] whedon opened #343 "[PRE REVIEW]: prisonbrief: An R package that returns tidy data from the World Prison Brief website"
**Submitting author:** @danilofreire (<a href="http://orcid.org/0000-0002-4712-6810">Danilo Freire</a>)
**Repository:** <a href="https://github.com/danilofreire/prisonbrief" target ="_blank">https://github.com/danilofreire/prisonbrief</a>
**Version:** v0.1.0
**Editor:** @karthik
**Reviewer:** @benmarwick

**Author instructions**

Thanks for submitting your paper to JOSS @danilofreire. The JOSS edi

[2017-08-01 11:28] whedon commented on #343
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-08-01 11:29] whedon opened #344 "[PRE REVIEW]: The psyplot interactive visualization framework"
**Submitting author:** @Chilipp (<a href="http://orcid.org/0000-0001-6171-7716">Philipp S. Sommer</a>)
**Repository:** <a href="https://github.com/Chilipp/psyplot.git" target ="_blank">https://github.com/Chilipp/psyplot.git</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @Fil

**Author instructions**

Thanks for submitting your paper to JOSS @Chilipp. The JOSS editor (shown at the top of

[2017-08-01 11:29] whedon commented on #344
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-08-01 11:29] whedon opened #345 "[PRE REVIEW]: array_split: Multi-dimensional array partitioning"
**Submitting author:** @Shane-J-Latham (<a href="http://orcid.org/0000-0001-8033-4665">Shane J. Latham</a>)
**Repository:** <a href="https://github.com/array-split/array_split" target ="_blank">https://github.com/array-split/array_split</a>
**Version:** 0.5.0
**Editor:** @arfon
**Reviewer:** @dvalters

**Author instructions**

Thanks for submitting your paper to JOSS @Shane-J-Latham. The JOSS edit

[2017-08-01 11:52] Chilipp commented on #344
@whedon commands

[2017-08-01 11:53] whedon commented on #344
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-08-01 11:56] SebastianoF commented on #342
@whedon commands

[2017-08-01 11:56] whedon commented on #342
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-08-01 11:56] SebastianoF commented on #342
@whedon list reviewers

[2017-08-01 11:56] whedon commented on #342
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-08-01 12:18] SebastianoF commented on #342
Hello!
@arokem @rougier @sealhuang @oesteban @effigies @nirum @ahwillia - you are all in neuroimage/neuroscience + Python - Is there anyone interested in peer-reviewing bruker2nifti as submitted for JOSS?
It is not fundamental, but it may help if you have worked with Bruker ParaVision software/formats before.

@neurolabusc @matthew-brett do you know someone potentially interested in peer-reviewing

[2017-08-01 12:35] effigies commented on #342
I don't have any experience with Bruker, so if any other potential reviewers do, you should probably prioritize them over me. That said, as long as there are some good and bad Bruker files (for bad, ideally including an explanation of what's wrong, such as malformed header, truncated data segment, etc.) I think I could review this.

[2017-08-01 12:51] neurolabusc commented on #342
Other than Matthew, I would think of @andrewjanke

[2017-08-01 13:16] luizirber commented on #327
@arokem: I am traveling indeed, just saw this issue. I can review it, but I will try to bring some people to help with the scientific discussion (since I don't know anything about crystallography 😅 )

[2017-08-01 13:26] Kevin-Mattheus-Moerman commented on #342
@mfroeling @jhuguetn (Jordi can you also ask Paul Groot) want to review this submission for [JOSS](joss.theoj.org)? Or do you know anybody that could help? If you accept we'll open up a review issue. The review process follows our [review guidelines](http://joss.theoj.org/about#reviewer_guidelines). Let me know if you have any questions.

[2017-08-01 13:27] Kevin-Mattheus-Moerman commented on #342
@whedon assign @Kevin-Mattheus-Moerman as editor

[2017-08-01 13:27] whedon commented on #342
OK, the editor is @Kevin-Mattheus-Moerman

[2017-08-01 13:29] Kevin-Mattheus-Moerman commented on #342
@SebastianoF can you provide info in relation to @effigies 's question, i.e. do you have some tests/example Bruker files a reviewer could play with?

[2017-08-01 13:47] GabrieleRovigatti commented on #316
@afron sounds like no-one is volunteering. I can't see any editor with the necessary economic background. Wrong journal maybe? Any suggestion?

[2017-08-01 14:32] SebastianoF commented on #342
@Kevin-Mattheus-Moerman There are bruker files a reviewer can play with, in the test_data folder.
They are a good starting point, and are the only one I could provide non-copyrighted at least at the moment.
This may make the test self-referential. Having a non-copyrighted external (and so unbiased) dataset is not that straightforward. I heard offline that @neurolabusc had in mind to create a bench

[2017-08-01 15:17] neurolabusc commented on #342
A nice repository of images is here
  https://gitlab.com/naveau/bruker2nifti_qa/tree/master
I think a challenge is that while the Bruker file format is thoroughly documented, the files created by Bruker software often omit required fields from some of the files.
You are free to compare the results of this code versus my own
  https://github.com/neurolabusc/Bru2Nii
Since my code pre-dates this proj

[2017-08-01 15:43] tracykteal commented on #310
Thanks for your submission @rraadd88 and sorry for the delay. I've confirmed that this submission has

- [X]  An OSI approved license
- [X] A description of the software and its research applications
- [X] Is in scope for this journal

So, I'm currently looking for a reviewer.

[2017-08-01 15:50] rougier commented on #342
It's not exactly my expertise but I can (try to) help with review if needed.

[2017-08-01 15:50] tracykteal commented on #310
@whedon assign @tracykteal as editor

[2017-08-01 15:50] whedon commented on #310
OK, the editor is @tracykteal

[2017-08-01 15:54] tracykteal commented on #310
@krother @genomematt @ctb @rmflight @luizirber @konrad @cbrueffer would you be able to review?

[2017-08-01 15:57] cMadan commented on #327
@whedon assign @arokem as editor

[2017-08-01 15:57] whedon commented on #327
OK, the editor is @arokem

[2017-08-01 16:06] lwilson commented on #289
We have made some updates on:
https://github.com/TACC/launcher/issues/21
https://github.com/TACC/launcher/issues/20
https://github.com/TACC/launcher/issues/19

[2017-08-01 16:16] konstantinstadler commented on #332
Thank you very much for your review! I will address them in the next days in the branch joss_review

[2017-08-01 16:47] Kevin-Mattheus-Moerman commented on #342
@rougier Sure all help is welcome. I'm going to wait a couple of days to attract some more reviewers and then I'll open the formal review issue.

[2017-08-01 17:22] danielskatz commented on #289
@kc9qey - back to you...

[2017-08-01 18:28] katyhuff commented on #322
@wrathematics : Would you be willing to review this submission for JOSS?

[2017-08-01 19:08] pjotrp commented on #320
Thanks @kblin! Great we have a submission with a focus on reproducible research!

@arfon we are ready to accept this submission.

[2017-08-01 21:34] krother commented on #310
Sorry, I don't understand what the submission is about.. probably because I am unfamiliar with the method presented. I have to decline this one.

[2017-08-01 23:24] genomematt commented on #310
@afrubin @daniaki Interested in reviewing this?

[2017-08-01 23:50] andrewjanke commented on #342
I'm not entirely sure what is going on here, but I think I like what is being proposed. A code review for open journal publication of software?

I have a number of Bruker files here dating back to the early 90's, but as Chris points out the Bruker file format is rather like DICOM, it's a specification (effectively YAML but older) and how it has been used to determine orientation and other things f

[2017-08-01 23:54] afrubin commented on #310
@tracykteal This is my field and I'm happy to review the manuscript. Thanks, @genomematt

[2017-08-02 01:03] arfon commented on #257
@brainstorm - once @roryk has finished his review ping me here and I can finalize the submission.

[2017-08-02 01:05] whedon opened #346 "[PRE REVIEW]: ELIXIR TeSS: The Training eSupport System"
**Submitting author:** @njall (<a href="http://orcid.org/0000-0002-2627-0231">Niall Beard</a>)
**Repository:** <a href="https://github.com/ElixirUK/TeSS" target ="_blank">github.com/ElixirUK/TeSS</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @njall. The JOSS editor (shown at the top of this issue) will work with

[2017-08-02 01:05] whedon commented on #346
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-08-02 01:05] whedon opened #347 "[PRE REVIEW]: visdat: Visualising Whole Data Frames"
**Submitting author:** @njtierney (<a href="http://orcid.org/0000-0003-1460-8722">Nicholas John Tierney</a>)
**Repository:** <a href="https://github.com/ropensci/visdat" target ="_blank">https://github.com/ropensci/visdat</a>
**Version:** v0.2.0
**Editor:** @arfon
**Reviewer:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @njtierney. The JOSS editor (shown at the top o

[2017-08-02 01:05] whedon commented on #347
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-08-02 01:14] arfon commented on #320
Great! @simonvh could you please merge this PR https://github.com/simonvh/genomepy/pull/18 which fixes up the paper metadata.

Then, could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-08-02 04:18] roryk commented on #257
It looks good to me-- I pinged them about the couple of checkboxes that are open, a couple references need to get linked to and a section about contributing and then it is all good.

[2017-08-02 07:48] cokelaer commented on #334
@ pjotrp
I've fixed the LICENSE and the icon now appears on github.
As for the paper.md and paper.bib, what do mean exactly ? Where shall I provide those files and what should be the content ? thanks

[2017-08-02 08:35] dzhoshkun commented on #342
Many thanks to all those who have replied so far. We would also very much appreciate any feedback and suggestions about the source code itself.

[2017-08-02 09:25] pjotrp commented on #334
Best is to check one of the existing publication. See https://github.com/genenetwork/genenetwork2/tree/master/doc/joss/2016

[2017-08-02 10:43] konstantinstadler commented on #332
@rgieseke
I went through the issues and responded to all of them. Many thanks for all your comments, in particular the suggestion with the contribution file - this made me actually thinking how I want people to contribute.
So far, all changes are in the "joss_review" branch, I will merge them with the master when I get your ok.

[2017-08-02 12:34] rgieseke commented on #332
Excellent! Thanks for adressing all issues and the detailed descriptions in the CONTRIBUTING file, this should be very helpful for potential contributors!

@labarba The version number will be updated (https://github.com/konstantinstadler/country_converter/issues/10) after finalizing the review, so this might need changing in the meta-data of this issue (don't know if it's actually used in the subm

[2017-08-02 13:00] rgieseke commented on #332
@konstantinstadler A final (minor) thing: Can you update the meta-data in  the Zenodo archive to include the license and maybe update the title (don't know how Zenodo generates this by default). Once the JOSS paper is out you can also add a reference back to the paper. I think there is a way to have a JSON meta-data file but I can't find the documentation for this right now, but you can always edi

[2017-08-02 13:01] arfon commented on #330
@whedon assign @arfon as editor

[2017-08-02 13:01] whedon commented on #330
OK, the editor is @arfon

[2017-08-02 13:02] arfon commented on #330
@eteq - would you be willing to review this submission for JOSS?

[2017-08-02 13:07] konstantinstadler commented on #332
@rgieseke Great. I updated the Zenodo description. I will do the link to JOSS and the CITATION file as soon as I get a doi for coco. I will merge with master now.
Thanks again for the review! Working with the issues tracker is so much more efficient than the traditional scientific paper review process...

[2017-08-02 13:12] arfon commented on #316
@GabrieleRovigatti - yes, I'm sorry this is taking a while. We don't really have anyone with economics background on the editorial board currently. If you're willing to wait I'm happy to go and try and search out someone.

[2017-08-02 13:14] labarba commented on #332
I don't know the answers to your questions, @rgieseke — @arfon ?

This submission is ready to accept, once @kaneplusplus enters here the final archive DOI for the revised software.

[2017-08-02 13:20] rgieseke commented on #332
@konstantinstadler I don't see changes on https://zenodo.org/record/838036 yet - can you check again?

Thanks for publishing this as a re-usable tool, I'm sure it will be quite useful to many others!

[2017-08-02 13:23] konstantinstadler commented on #332
Yes, I see. I can save but I get an internal server error if I want to publish the changes (I will try again later). Anyhow, the current upload to Zenodo is just for the history (v0.4). I will re-upload as soon as I can do the cross-reference to the JOSS doi.

[2017-08-02 13:27] arfon commented on #332
https://doi.org/10.5281/zenodo.838035

Versioned DOIs are 👍 with JOSS.

[2017-08-02 13:28] arfon commented on #343
👋 @openjournals/ropensci - would this be a good candidate for rOpenSci?

[2017-08-02 13:28] rgieseke commented on #332
@konstantinstadler Maybe a temporary problem - I thought that depending on how you set-up the Zenodo integration you just would need to tag a new release on GitHub: https://guides.github.com/activities/citable-code/

[2017-08-02 13:29] rgieseke commented on #332
@arfon In that case, it should be ready for publication with the concept doi.

[2017-08-02 13:36] arfon commented on #30
Friendly reminder @joshuaulrich 😁

[2017-08-02 13:37] arfon commented on #251
Friendly reminder @offray :grin:

[2017-08-02 13:38] katyhuff commented on #298
@scopatz , just wanted to check in about whether the docker image has worked for you -- it should get you to running the tests in no time. Thanks so much for being willing to review!

[2017-08-02 13:38] arfon commented on #267
This looks good to me @dhermes.

[2017-08-02 13:45] arfon commented on #267
@dhermes - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-08-02 13:48] arfon commented on #333
@whedon set 10.5281/zenodo.836952 as archive

[2017-08-02 13:48] whedon commented on #333
OK. <a href="http://dx.doi.org/10.5281/zenodo.836952" target="_blank">10.5281/zenodo.836952</a> is the archive.

[2017-08-02 13:50] joshuaulrich commented on #30
@arfon Thank you!  I forgot to add this to my to-do list and had forgotten about it. :(

[2017-08-02 13:52] offray commented on #251
Hi Arfon,

Thanks for your reminder. I'm working on improvements following Serge
comments about improved installation and hopefully I will also deal with
exporting API documentation (now is included inside Pharo/Smalltalk as
usual). They should be packaged and ready to review at the beginning of
next week.

Cheers,

Offray

On 02/08/17 08:37, Arfon Smith wrote:

[2017-08-02 14:04] danielskatz commented on #280
@jedbrown - any progress?  Or should we say this isn't going to work and find another reviewer?  (If so, any suggestions you have would be very welcome.)

[2017-08-02 14:26] arfon commented on #333
@maelle - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00333 ⚡️ 🚀 💥

[2017-08-02 14:26] #333 closed

[2017-08-02 14:28] maelle commented on #333
Awesome, thanks a lot @arfon! :smile_cat:

[2017-08-02 14:45] arfon commented on #332
@whedon set 10.5281/zenodo.838035 as archive

[2017-08-02 14:46] whedon commented on #332
OK. <a href="http://dx.doi.org/10.5281/zenodo.838035" target="_blank">10.5281/zenodo.838035</a> is the archive.

[2017-08-02 14:47] arfon commented on #332
Sorry, to be clear, we would like to know the explicit version of the DOI that corresponds to the work associated with this JOSS submission before proceeding.

[2017-08-02 14:50] arfon commented on #268
@tacaswell - it seems like the authors are discussing how to resolve this in https://github.com/python-windrose/windrose/issues/65 ?

[2017-08-02 14:52] rgieseke commented on #332
Makes sense to have the reviewed final version archived and referenced!

Maybe the JOSS page and/or paper could still link to the concept doi as well?

[2017-08-02 14:54] arfon commented on #332
You're welcome to cite it in the paper. We're not able to make two links to two different archives of the software on the JOSS page sorry.

[2017-08-02 15:38] konstantinstadler commented on #332
Sorry for complicating the stuff with the zenodo upload and doi. I know could change the meta information in zenodo.
Would it help if I now upload v0.5 (the outcome of the JOSS review) and you set this as the concept doi?

[2017-08-02 15:44] rgieseke commented on #332
I think there only needs to be v0.5 (as it was reviewed) tagged on GitHub and archived on Zenodo (and on PyPI) - did you do a manual upload or did you use the GitHub integration?

If you used the integration I think you just have to tag v0.5.

For the JOSS publication only the reviewed archive is relevant. (Users can then find later versions via the concept doi on Zenodo, or if you mention the con

[2017-08-02 15:49] GabrieleRovigatti commented on #316
@arfon I am willing to wait as long as it is necessary! I am sorry if this is going to take long / will need a supplementary load of work for you. I like your journal, its 'mission' and main goals, but maybe I should have read more carefully the editorial board background before the submission. Hopefully you will find someone soon - tip: most people working in the relevant literature use Stata for

[2017-08-02 15:53] konstantinstadler commented on #332
Ok. You have to tag and make a release in github. I have done that, the new zenodo doi is

10.5281/zenodo.838248

[2017-08-02 15:53] konstantinstadler commented on #332
This version is now also available in PyPI

[2017-08-02 17:36] eteq commented on #330
@arfon - yes, can do.

[2017-08-02 17:46] arfon commented on #330
@whedon assign @eteq as reviewer

[2017-08-02 17:46] whedon commented on #330
OK, the reviewer is @eteq

[2017-08-02 17:46] arfon commented on #330
@whedon start review magic-word=bananas

[2017-08-02 17:46] #330 closed

[2017-08-02 17:46] whedon opened #348 "[REVIEW]: Spectrum: Spectral Analysis in Python"
**Submitting author:** @cokelaer (<a href="http://orcid.org/0000-0001-6286-1138">Thomas Cokelaer</a>)
**Repository:** <a href="https://github.com/cokelaer/spectrum" target ="_blank">https://github.com/cokelaer/spectrum</a>
**Version:** 0.7.1
**Editor:** @arfon
**Reviewer:** @eteq
**Archive:** <a href="https://doi.org/10.5281/zenodo.1037268" target="_blank">10.5281/zenodo.1037268</a>

## Status

[!

[2017-08-02 17:46] whedon commented on #330
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/348. Feel free to close this issue now!

[2017-08-02 17:46] whedon commented on #348
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @eteq it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably c

[2017-08-02 17:47] arfon commented on #348
@eteq - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2017-08-02 18:16] dhermes commented on #267
Sure thing: [`10.5281/zenodo.838308`][1] is for `bezier==0.4.0` ([`10.5281/zenodo.838307`][2] is the "catch-all" DOI for the project)

[1]: https://zenodo.org/record/838308
[2]: https://zenodo.org/record/838307

[2017-08-02 18:58] arfon commented on #267
@whedon set 10.5281/zenodo.838308 as archive

[2017-08-02 18:58] whedon commented on #267
OK. <a href="http://dx.doi.org/10.5281/zenodo.838308" target="_blank">10.5281/zenodo.838308</a> is the archive.

[2017-08-02 19:32] arfon commented on #267
@tacaswell many thanks for your review here ✨

@dhermes - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00267 ⚡️ 🚀 :boom:

[2017-08-02 19:32] #267 closed

[2017-08-02 19:50] whedon opened #349 "[PRE REVIEW]: LilyPad: Real-time two-dimensional fluid/structure interaction simulations written in Processing"
**Submitting author:** @weymouth (<a href="http://orcid.org/0000-0001-5080-5016">Gabriel D Weymouth</a>)
**Repository:** <a href="https://github.com/weymouth/lily-pad" target ="_blank">https://github.com/weymouth/lily-pad</a>
**Version:** v1.0
**Editor:** @labarba
**Reviewer:** @alignedleft

**Author instructions**

Thanks for submitting your paper to JOSS @weymouth. The JOSS editor (shown at the

[2017-08-02 19:50] whedon commented on #349
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-08-02 19:51] arfon commented on #349
👋 @labarba - the submitting author suggested you as an editor.

[2017-08-02 19:53] dhermes commented on #267
:tada: :boom: w00t! Thanks both of you!

[2017-08-02 19:53] labarba commented on #349
Roger!

[2017-08-02 19:54] cokelaer commented on #334
Do the paper.bib and paper.md must be in the repository of the software or can they be put elsewhere ? Sequana is an organisation and we put the software in sequana/sequana but for papers, we'd like to keep it separate for instance in ./sequana/resources . Would it be fine with your policy ?

[2017-08-02 20:00] arfon commented on #334
I *think* this is going to break some of our submission tooling (i.e. it's expected that the paper be in the software repository being reviewed). Let me check and get back to you.

For reference, some authors have made a folder in `docs` e.g..`docs/paper/paper.md` - might something like this work for you?

[2017-08-03 07:24] pjotrp commented on #334
As the final paper gets generated from the source tree it is tied to the commit of that release. You *can* remove the paper from the source tree once it is published. It will be in that particular source release and git history. So it is not intrusive. Makes sense to tie it to the project, right?

[2017-08-03 08:16] weymouth commented on #349
Potential reviewers. From the list it looks like @jochym, @Kevin-Mattheus-Moerman and others would have familiarity with the physics. As far as language, you don't have anyone who uses Processing so I suggest @shiffman. Processing is similar to Java, so we could also go with @pragyansmita.

[2017-08-03 08:28] cokelaer commented on #334
okay, that's fine, I will add a ./joss directory in  the ./doc
thanks

[2017-08-03 08:39] cokelaer commented on #348
FYI I have added the paper.md and paper.bin in the ./doc/joss directory of the github repository

[2017-08-03 10:34] arfon commented on #332
@whedon set 10.5281/zenodo.838248 as archive

[2017-08-03 10:34] whedon commented on #332
OK. <a href="http://dx.doi.org/10.5281/zenodo.838248" target="_blank">10.5281/zenodo.838248</a> is the archive.

[2017-08-03 10:51] arfon commented on #332
@rgieseke - many thanks for your review here and to @labarba for editing this one ✨

@konstantinstadler - your paper is now accepted in JOSS and your DOI is http://dx.doi.org/10.21105/joss.00332 ⚡️ 🚀 💥

[2017-08-03 10:51] #332 closed

[2017-08-03 10:53] konstantinstadler commented on #332
@rgieseke @labarba @arfon Many thanks. That was a pleasant experience - would love to see more journals using the issue approach for reviewing!

[2017-08-03 12:06] cokelaer commented on #334
FYI we have added a paper.bib paper.md in https://github.com/sequana/sequana/tree/master/doc/joss

[2017-08-03 14:55] maelle commented on #343
Thanks @arfon, after discussion no.

[2017-08-03 15:07] danilofreire commented on #343
Thanks @arfon and @maelle for considering the package for rOpenSci. That was very nice of you!

@arfon, I was also reading the list of potential reviewers and I thought that maybe @jsta would be a good fit. He wrote he is comfortable reviewing api wrappers in R, and that's basically what our package does. Also, @benmarwick stated that he has an interest in social sciences, which is the main area o

[2017-08-03 15:21] pjotrp commented on #334
That looks great. @bow since since this is a snakemake application would you care to review this JOSS submission?

[2017-08-03 15:31] karthik commented on #343
@danilofreire Thank you for the submission. I read over the paper in the repo and it reads very much like a vignette on how to use the package. Your paper.md must provide a high level description of what the software does and what some of the potential research applications are. You an still have a detailed vignette describing exactly how to use the software.

[2017-08-03 15:59] cdcrabtree commented on #322
@katyhuff Sorry about the late reply. After looking over the package, I don't think that I have the background knowledge necessary to be a good reviewer here.

[2017-08-03 16:11] danilofreire commented on #343
@karthik Thank you for your comment. I have just submitted a new version of paper.md. It now includes only a high-level description of the package and some potential applications as requested.

[2017-08-03 18:15] scls19fr commented on #268
PyPi doesn't support CeCILL-B license in classifiers for now (see https://github.com/pypa/pypi-legacy/issues/679 ) so as a workaround I commented out License field in classifier but licence is (as previously) correctly set to CeCILL-B thanks to https://github.com/python-windrose/windrose/blob/master/setup.py#L35 and https://github.com/python-windrose/windrose/blob/master/windrose/version.py#L5 )
I

[2017-08-04 04:33] arokem commented on #327
@whedon start review magic-word=bananas

[2017-08-04 04:48] arokem commented on #327
@whedon commands

[2017-08-04 04:48] whedon commented on #327
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-08-04 04:49] arokem commented on #327
@whedon start review

[2017-08-04 04:49] whedon commented on #327
You didn't say the magic word! Try this:

[code]

[2017-08-04 04:49] arokem commented on #327
@whedon start review magic-word=bananas

[2017-08-04 04:50] arokem commented on #327
Something is broken...

@luizirber : feel free to start taking a look at the code. Hopefully @whedon will come back to its senses, and there will be a review issue for you to follow up on.

[2017-08-04 10:13] arokem commented on #327
@whedon assign @luizirber as reviewer

[2017-08-04 10:13] whedon commented on #327
OK, the reviewer is @luizirber

[2017-08-04 10:14] arokem commented on #327
@whedon start review magic-word=bananas

[2017-08-04 10:14] whedon commented on #327
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/350. Feel free to close this issue now!

[2017-08-04 10:14] whedon opened #350 "[REVIEW]: UglyMol: a WebGL macromolecular viewer focused on the electron density"
**Submitting author:** @wojdyr (<a href="http://orcid.org/0000-0003-3980-4092">Marcin Wojdyr</a>)
**Repository:** <a href="https://github.com/uglymol/uglymol" target ="_blank">https://github.com/uglymol/uglymol</a>
**Version:** v0.5.7
**Editor:** @arokem
**Reviewer:** @luizirber
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1009695" target="_blank">10.5281/zenodo.1009695</a>

## Status

[

[2017-08-04 10:14] whedon commented on #350
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @luizirber it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-08-04 10:14] arokem commented on #327
OK - turns out I was broken. Closing in favor of #350 for the review.

[2017-08-04 10:14] #327 closed

[2017-08-04 11:37] arfon commented on #327
Whedon should also give smarter errors :-\

[2017-08-04 13:45] pjotrp commented on #318
@fstrozzi would you like to review this interesting submission?

[2017-08-04 14:48] fstrozzi commented on #318
Sure I'd be glad to. I'll need few days though, to have a bit of time to look at it.

[2017-08-04 15:47] bow commented on #334
@pjotrp & @cokelaer I'd be happy to review the submission. I would need a week's time, if that's ok.

[2017-08-04 16:15] arokem commented on #327
Now raised as an issue here: https://github.com/openjournals/joss/issues/306

[2017-08-04 16:21] pjotrp commented on #334
No problem. Thanks @bow.

[2017-08-04 16:22] pjotrp commented on #318
No problem. Thanks @fstrozzi.

[2017-08-04 16:23] pjotrp commented on #318
@whedon assign @fstrozzi as reviewer

[2017-08-04 16:23] whedon commented on #318
OK, the reviewer is @fstrozzi

[2017-08-04 16:24] pjotrp commented on #318
@whedon start review magic-word=bananas

[2017-08-04 16:24] whedon opened #351 "[REVIEW]: Nimbus: a Ruby gem to implement Random Forest algorithms in a genomic selection context"
**Submitting author:** @xuanxu (<a href="http://orcid.org/0000-0001-7699-3983">Juanjo Bazán</a>)
**Repository:** <a href="https://github.com/xuanxu/nimbus" target ="_blank">https://github.com/xuanxu/nimbus</a>
**Version:** 2.3.0
**Editor:** @pjotrp
**Reviewer:** @fstrozzi
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.845342" target="_blank">10.5281/zenodo.845342</a>

## Status

[![status]

[2017-08-04 16:24] whedon commented on #318
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/351. Feel free to close this issue now!

[2017-08-04 16:24] whedon commented on #351
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @fstrozzi it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-08-04 16:24] #318 closed

[2017-08-04 16:25] pjotrp commented on #334
@whedon assign @bow as reviewer

[2017-08-04 16:25] whedon commented on #334
OK, the reviewer is @bow

[2017-08-04 16:25] pjotrp commented on #334
@whedon start review magic-word=bananas

[2017-08-04 16:25] whedon opened #352 "[REVIEW]: Sequana: a set of flexible genomic pipelines for processing and reporting NGS analysis"
**Submitting author:** @cokelaer (<a href="http://orcid.org/0000-0001-6286-1138">Thomas Cokelaer</a>)
**Repository:** <a href="https://github.com/sequana/sequana/" target ="_blank">https://github.com/sequana/sequana/</a>
**Version:** 0.4.1
**Editor:** @pjotrp
**Reviewer:** @bow
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.853160" target="_blank">10.5281/zenodo.853160</a>

## Status

[![s

[2017-08-04 16:25] whedon commented on #334
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/352. Feel free to close this issue now!

[2017-08-04 16:25] whedon commented on #352
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @bow it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably cu

[2017-08-04 16:25] #334 closed

[2017-08-04 19:31] jedbrown commented on #280
I'm installing now.  Sorry about the delays.

"Daniel S. Katz" <notifications@github.com> writes:

[2017-08-04 20:32] labarba commented on #349
@weymouth : I do not see a license attached to your code submission.

[2017-08-05 00:30] moorepants commented on #300
@cybanical Thanks, but i do not support Windows at the moment. You can manually install ipopt and then cyipopt and it should work but I do not have the resources to get it working on windows. I suggest using a linux VM or docker image and using the install instructions in the readme.

[2017-08-05 08:10] weymouth commented on #349
Crazy! It must not have made the transition from the google code repository and I never noticed. I've added it.

[2017-08-05 12:09] labarba commented on #349
There is also no Community Guidelines, and I see that the paper mentions "engineering outreach activities and student projects," but there is no Statement of Need and no mention of research applications. You will need to work on these things, while we continue seeking commitment from a reviewer.

[2017-08-05 12:12] labarba commented on #349
(I found a "Contributing" section in the wiki. Not where I would've expected it to be…)

[2017-08-05 13:37] weymouth commented on #349
Is there a "best practices" reference for how to structure the github site?
I'll be more explicit on the "Statement of Need" and research application in paper.md

[2017-08-06 01:15] cybanical commented on #300
@moorepants In that case it might make sense to explicitly state that windows is not supported, rather than give partial instructions for a windows installation - it'd save some headache.

[2017-08-06 10:59] whedon opened #353 "[PRE REVIEW]: gmm_diag and gmm_full: C++ classes for multi-threaded Gaussian mixture models and Expectation-Maximisation"
**Submitting author:** @conradsnicta (<a href="http://orcid.org/0000-0002-0049-4501">Conrad Sanderson</a>)
**Repository:** <a href="https://github.com/conradsnicta/armadillo-gmm" target ="_blank">https://github.com/conradsnicta/armadillo-gmm</a>
**Version:** v7.960
**Editor:** @arfon
**Reviewer:** @jordigh

**Author instructions**

Thanks for submitting your paper to JOSS @conradsnicta. The JOSS e

[2017-08-06 11:00] whedon commented on #353
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-08-06 17:23] aknutas commented on #233
Dear editor @karthik ,
   @jsalminen and I have created a package version of the software at [https://github.com/aknutas/nails-package](https://github.com/aknutas/nails-package) . It has proper package structure and testthat-based tests that are automatically run by Travis CI. We have also written documentation as man files and in a vignette that explains how to create a report with the package.

[2017-08-06 17:50] Kevin-Mattheus-Moerman commented on #300
@moorepants can you more clearly state if Windows is actively supported?
@cybanical will you still be able to review this submission? If needed I can provide you with a Linux environment for testing this software.

[2017-08-07 12:42] danielskatz commented on #331
@hausen - looking at the comments in https://github.com/sepandhaghighi/pyrgg/issues/2, it seems like is ready for your re-review

[2017-08-07 12:43] danielskatz commented on #307
@ndawe - any update from you on addressing the issues raised in the initial review?

[2017-08-07 12:44] danielskatz commented on #289
@kc9qey - just another ping ...

[2017-08-07 12:59] ndawe commented on #307
@danielskatz I've finally addressed the remaining issues:

https://github.com/scikit-hep/root_numpy/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3AJOSS%20

 @wlav is certainly welcome to open more if needed

[2017-08-07 15:24] pstegma commented on #319
Dear @mgymrek ,
thank you for taking a look at our paper and for your suggestions. I have added information about covered methods. As we are part of a few consortia, can I be of any help to find a reviewer?

[2017-08-07 16:14] kc9qey commented on #289
all good.

[2017-08-07 16:15] kc9qey commented on #289
I don't have anything else to review on this.  They hit all my points I
think.  I was in the hospital last week getting an important upgrade.

On Mon, Aug 7, 2017 at 7:44 AM, Daniel S. Katz <notifications@github.com>
wrote:

[2017-08-07 16:31] danielskatz commented on #289
@kc9qey - there are still a couple of boxes in the checklist that are not checked.

[2017-08-07 16:35] kc9qey commented on #289
I didn't see any automated tests, so left unchecked.
Performance claims for me are a "won't do" --also left unchecked.

[2017-08-07 16:53] danielskatz commented on #289
@kc9qey

If there are no performance claims, you can check that box.

Are you also saying that there are no automated tests or manual steps described so that the function of the software can be verified?  If so, then this box cannot be checked, and we need to go back to @lwilson

[2017-08-07 20:50] kc9qey commented on #289
"manual steps described so that the function of the software can be verified" , i can take that for the automated tests.

[2017-08-07 22:36] sdelandtsheer commented on #340
Hi, any news on this? Can I help clarifying something?

[2017-08-07 23:38] danielskatz commented on #289
@kc9qey 0- thanks for the review work!

[2017-08-07 23:38] danielskatz commented on #289
@arfon - I now hand this over to you for final steps

[2017-08-08 00:47] Kevin-Mattheus-Moerman commented on #340
@ashleefv can you respond to @sdelandtsheer 's comments?

[2017-08-08 08:09] njtierney commented on #347
@whedon commands

[2017-08-08 08:09] whedon commented on #347
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-08-08 08:10] njtierney commented on #347
Thanks @whedon !

[2017-08-08 13:56] njtierney commented on #347
Hi there,

So visdat has been through the rOpenSci onboarding process [here](https://github.com/ropensci/onboarding/issues/87). When I submitted the package to JOSS I linked to the package repo, not to the [Zenodo DOI](https://zenodo.org/record/837274), I'm wondering if perhaps this is why it didn't get processed the same as [rtimicropem](https://github.com/openjournals/joss-reviews/issues/333), p

[2017-08-08 15:47] yannickwurm commented on #341
## Paper:

 - [ ] needs a grammar checker (e.g. from M.S. Word).
 - [ ] Some of the sentences could be shortened to increase clarity
 - [ ] First sentence of Paragraph 2 is a long list - using bullet-points would make it more legible.
 - [ ] Some readers may not know what "pre-CWL/WDL era" means. I suggest defining any abbreviations that might be ambiguous and linking to suitable sites/refs.
 - [

[2017-08-08 17:34] biorelated commented on #341
Thank you very much @yannickwurm for taking your time to review this manuscript and code submission.  @fstrozzi please could you fix the or comment on the issues or concerns that have been raised by Yannick. In addition there are a couple of issues and checkboxes regarding the functionality and documentation of the software that may require some attention.
Thank you.
George

[2017-08-08 17:37] jedbrown commented on #280
I've filed issues in AmgXWrapper for the technical concerns that came up during my review and they are either resolved, in the process of being resolved, or not blocking issues.

The most significant editorial comment (not a blocking issue) is in barbagroup/AmgXWrapper#17 which proposes a much more useful way for the software to be organized and distributed. Distributing as a plugin providing a PE

[2017-08-08 18:16] danielskatz commented on #280
@jedbrown - Can you check off the items that you think are done in the list above?

And make it clear what else you think is needed to check off the remaining items, so that the authors know what they need to do vs what they could do later.

[2017-08-08 21:31] bow commented on #352
I've reviewed the submission (the `paper.md`), the documentation, and I've also tried `sequana`, both as a user and as a developer. I will be opening a series of issues on the sequana repository soon. Before that, here are my general remarks.

This is a Python package that provides a slew of handy features both for pipeline developers and users alike. I could see this being used as a tool for Snak

[2017-08-08 23:06] oesteban commented on #342
Hi all, I think most of the people in this thread are better than me for this review, so I'll drop out. But thanks for the invite!

Best wishes to @sebastianof and this submission :)

[2017-08-09 01:58] jedbrown commented on #280
@danielskatz Done. Some comments:

* Performance: I don't have an equivalent system and can't verify specific performance claims, but I do see respectable performance from AmgX Classical.
* Installation: The instructions are adequate, but there is an implicit dependency on an antique version of GCC (via CUDA-6.5) and there is no package manager solution (though this is a sufficiently mixed stack t

[2017-08-09 08:52] lheagy commented on #326
@mvhulten: sorry for the delayed update. Here is a quick overview on where we are at with reviewers.

I have heard back from Ansley and she is willing to review. I sent a follow up email asking her to sign up for github so we can get the ball rolling and got a vacation responder from her, so I will follow up again first thing next week.

Anne has declined to review and I am still waiting to hear b

[2017-08-09 13:30] Kevin-Mattheus-Moerman commented on #342
@rougier do you mind if we open the official review issue with you as main reviewer? I'll continue to invite additional reviews though.

[2017-08-09 13:56] danielskatz commented on #280
Thanks @jedbrown  - I think you've done a nice job of saying where this meets a minimal set of requirements, where improvements could be made (but are not mandatory for JOSS acceptance), and where one change is needed for JOSS acceptance.

[2017-08-09 13:57] danielskatz commented on #280
@piyueh - As you can see from the discussion, there is one change you need to make to allow JOSS to accept this - as discussed in https://github.com/barbagroup/AmgXWrapper/issues/20

[2017-08-09 14:01] piyueh commented on #280
Thank you @jedbrown @danielskatz

I'll work on this now.

[2017-08-09 15:00] pjotrp commented on #352
Thanks @bow for the thorough review. @cokelaer can you take a look?

[2017-08-09 15:08] danielskatz commented on #289
@arfon - ping...

[2017-08-09 15:30] cokelaer commented on #352
hi, we are dealing with the issues right now (thanks again to @bow for the review and useful comments). One of the most important http://github.com/sequana/sequana#436 will be dealt with asap since this is relevant for the installation process. Other issues should be fixed very soon (or already fixed for those such as typos and documentation).

As for the general remarks here above, the two main o

[2017-08-09 17:19] rougier commented on #342
Ok. I can try to review but my review will be on a technical level mostly.

[2017-08-09 17:58] lebebr01 commented on #185
@arfon and @desilinguist, I wanted to check in to see if there is any additional information I can provide to help with this? Are there still issues viewing the vignette or is the README example too simple to be helpful?

[2017-08-09 19:10] Kevin-Mattheus-Moerman commented on #342
@rougier That is fine we can get started on the technical side first and I will recruit others to help with other aspects shortly

[2017-08-09 19:10] Kevin-Mattheus-Moerman commented on #342
@whedon assign @rougier as reviewer

[2017-08-09 19:10] whedon commented on #342
OK, the reviewer is @rougier

[2017-08-09 19:11] Kevin-Mattheus-Moerman commented on #342
@whedon start review

[2017-08-09 19:11] whedon commented on #342
You didn't say the magic word! Try this:

[code]

[2017-08-09 19:11] Kevin-Mattheus-Moerman commented on #342
@whedon start review magic-word=bananas

[2017-08-09 19:11] whedon opened #354 "[REVIEW]: Bruker2nifti: Magnetic Resonance Images converter from Bruker ParaVision to Nifti format"
**Submitting author:** @SebastianoF (<a href="http://orcid.org/0000-0001-9279-4765">Sebastiano Ferraris</a>)
**Repository:** <a href="https://github.com/SebastianoF/bruker2nifti" target ="_blank">https://github.com/SebastianoF/bruker2nifti</a>
**Version:** 1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @rougier
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.846814" target="_blank"

[2017-08-09 19:11] whedon commented on #342
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/354. Feel free to close this issue now!

[2017-08-09 19:11] whedon commented on #354
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @rougier it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-08-09 19:14] Kevin-Mattheus-Moerman commented on #354
:wave: @SebastianoF @rougier @dzhoshkun @neurolabusc @effigies the review is happening here!

[2017-08-09 19:15] Kevin-Mattheus-Moerman commented on #354
@rougier you are officially assigned and can tick the boxes at the top of this review issue. However others are invited to review the same aspects and leave comments here as well. Thanks!

[2017-08-09 19:30] desilinguist commented on #185
Sorry, I have been swamped with other things. LGTM 👍

[2017-08-09 20:49] #342 closed

[2017-08-09 21:15] piyueh commented on #280
@danielskatz @jedbrown
I've added **CONTRIBUTING.md**.

[2017-08-09 21:25] arfon commented on #185
@desilinguist - thanks for getting back to us on this. There is still a substantial number of unchecked items above. Would you be able to update the checklist?

[2017-08-09 21:26] arfon commented on #320
Friendly reminder @simonvh

[2017-08-10 00:14] arfon commented on #108
This paper has been withdrawn from JOSS on behalf of @leithes as they don't seem to be interested in pursuing this publication.

Thanks for all of your help on this @joergdietrich & @jakevdp

[2017-08-10 00:14] #108 closed

[2017-08-10 00:36] arfon commented on #289
@lwilson - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-08-10 00:38] arfon commented on #347
@whedon assign @arfon as editor

[2017-08-10 00:38] whedon commented on #347
OK, the editor is @arfon

[2017-08-10 00:38] arfon commented on #347
@whedon assign @arfon as reviewer

[2017-08-10 00:38] whedon commented on #347
OK, the reviewer is @arfon

[2017-08-10 00:38] arfon commented on #347
@whedon start review magic-word=bananas

[2017-08-10 00:38] whedon opened #355 "[REVIEW]: visdat: Visualising Whole Data Frames"
**Submitting author:** @njtierney (<a href="http://orcid.org/0000-0003-1460-8722">Nicholas John Tierney</a>)
**Repository:** <a href="https://github.com/ropensci/visdat" target ="_blank">https://github.com/ropensci/visdat</a>
**Version:** v0.2.0
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.845960" target="_blank">10.5281/zenodo.845960</a>

## Statu

[2017-08-10 00:38] whedon commented on #347
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/355. Feel free to close this issue now!

[2017-08-10 00:38] whedon commented on #355
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-08-10 00:38] #347 closed

[2017-08-10 00:46] pjotrp commented on #352
Excellent. Ping us when you are ready. When you make a new release we should be good to go.

[2017-08-10 03:33] amoeba commented on #339
Hey @pjamesjoyce this looks great now. Thanks for responding to the two issues I raised on the repository. I've checked off everything in the reviewer checklist, including the functionality item. If @cmutel could take a second look, I would very much appreciate the help with that item. Otherwise, everything looks great.

Kudos for the extensive documentation and creating a very nice interactive to

[2017-08-10 08:33] dzhoshkun commented on #354
@Kevin-Mattheus-Moerman Thanks! Looking forward to the feedback.

[2017-08-10 12:09] arfon commented on #355
Hi @njtierney, many thanks for your submission. This should be quick as you've already been through the rOpenSci process.

A couple of issues with your submission `paper.md`:

It looks like you've got a couple of different paper files, `paper.Rmd` and `paper.md`. We need the file to be named `paper.md` and for the YAML header to be formatted correctly as per [this example](https://github.com/arfon

[2017-08-10 12:49] arfon commented on #316
Thanks for your patience. We're shortly going to be adding a new editor to help with submissions like yours :-)

No problem. It's a common mistake!

[2017-08-10 14:14] katyhuff commented on #339
Thanks @amoeba for your review efforts and @pjamesjoyce for your prompt cooperation! I would love it if @cmutel could give this a final expert glance. I think has just gotten back into a space with internet in the last few days.

[2017-08-10 14:19] bow commented on #352
@cokelaer Thanks for the updates!

For the previous points:

1. Indeed, I realize splitting the current monolith will take more time. It's more of a development issue rather than usability for end users. Still it's something that needs consideration.

2. This is more on the usability end, but it's good to see you have considered (or are considering) it.

I'll be looking at the changes and respondi

[2017-08-10 18:41] Kevin-Mattheus-Moerman commented on #354
@whedon assign @Kevin-Mattheus-Moerman as editor

[2017-08-10 18:41] whedon commented on #354
OK, the editor is @Kevin-Mattheus-Moerman

[2017-08-10 18:41] Kevin-Mattheus-Moerman commented on #354
@whedon assign @rougier as reviewer

[2017-08-10 18:41] whedon commented on #354
OK, the reviewer is @rougier

[2017-08-10 19:24] lwilson commented on #289
10.5281/zenodo.841337

[2017-08-11 02:01] wlav commented on #307
@ndawe: I'm posting this whole thing even as it may be a bit pointless, but enough digging has gone into it. On the plus side, I now know everything there is to know about root_numpy ...

Anyway ...

I had a hard time trying to reproduce the performance plots in the paper. Initially, I got this:

![bench_tree2array_v6 06 02](https://user-images.githubusercontent.com/6372198/29198225-d0763f94-7df6-

[2017-08-11 08:13] njtierney commented on #355
Hi @arfon !

OK sure thing, I'm reviewing these changes at the moment and will have something to you at the end of next week at the latest.

Question - is it OK if I use `paper.Rmd` (to generate a figure), which will generate `paper.md`, and then I edit that as per the guidelines?

Cheers! :)

[2017-08-11 11:23] arfon commented on #355
I think that should be OK. Our automated submission tooling will pick up any file named `paper.md` so just make sure that is the one that has the JOSS paper in.

[2017-08-11 11:24] arfon commented on #289
@whedon set 10.5281/zenodo.841337 as archive

[2017-08-11 11:24] whedon commented on #289
OK. <a href="http://dx.doi.org/10.5281/zenodo.841337" target="_blank">10.5281/zenodo.841337</a> is the archive.

[2017-08-11 11:35] arfon commented on #289
@kc9qey many thanks for your review and thanks to @danielskatz for editing this submission ✨

@lwilson - your paper is now accepted into JOSS. Your DOI is http://dx.doi.org/10.21105/joss.00289 ⚡️ 🚀 💥

[2017-08-11 11:35] #289 closed

[2017-08-11 12:46] danielskatz commented on #307
@wlav - thanks for this very interesting analysis.  We may need to create a new award for most thorough review :)

Are you asking for changes in the repo/paper regarding this, or is this more optional for the author: observation and feedback to improve the work, but not required for JOSS acceptance?

And, you did not check the References box in the checklist.  Is this because the scikit-learn and

[2017-08-11 13:32] ndawe commented on #307
@wlav sees a closer match between ROOT and root_numpy leading me to suspect I have been comparing root_numpy with compiler optimisations enabled to ROOT without optimisation. I'll confirm and recreate the plot if needed.

[2017-08-11 13:36] danielskatz commented on #307
thanks @ndawe  - can you also check to see if there are DOIs that should be added for the last 2 entries in the bib file associated with the paper, so we can check off that item as well?

[2017-08-11 13:58] mvhulten commented on #326
Thank you @lheagy for the status update.

I approached another couple of people for review, but received no positive response so far.  Please, go ahead with the JOSS list.

[2017-08-11 15:01] whedon opened #356 "[PRE REVIEW]: schwimmbad: A uniform interface to parallel processing pools in Python"
**Submitting author:** @adrn (<a href="http://orcid.org/0000-0003-0872-7098">Adrian Price-Whelan</a>)
**Repository:** <a href="https://github.com/adrn/schwimmbad" target ="_blank">https://github.com/adrn/schwimmbad</a>
**Version:** v0.2.1
**Editor:** @danielskatz
**Reviewer:** @jmjwozniak

**Author instructions**

Thanks for submitting your paper to JOSS @adrn. The JOSS editor (shown at the top of

[2017-08-11 15:01] whedon commented on #356
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-08-11 15:01] arfon commented on #356
👋 @labarba - the submitting authors suggested you as the editor.

[2017-08-11 15:30] danielskatz commented on #356
I'm also interested in this one and could possibly suggest a reviewer

[2017-08-11 16:25] labarba commented on #356
I'm editing two other new submissions (where contacted reviewers have not responded yet), so if @danielskatz wants to take this one, be my guest.

[2017-08-11 16:39] wlav commented on #307
@danielkatz: There's an arXiv for TensorFlow: abs/1603.04467 (https://arxiv.org/pdf/1610.06918.pdf; and no, I don't know why the numbers differ). I can't find a doi. The citation for scikit-learn is the way they want it (see: http://scikit-learn.org/stable/about.html).

[2017-08-11 16:41] danielskatz commented on #307
Ok, given no DOI for either, I think you can check off the references item, since "all archival references that should have a DOI" do list one; the ones that don't can't since there isn't one.

[2017-08-11 16:42] wlav commented on #307
Great, all done! :)

[2017-08-11 18:41] danielskatz commented on #356
@whedon assign @danielskatz as editor

[2017-08-11 18:41] whedon commented on #356
OK, the editor is @danielskatz

[2017-08-11 18:42] danielskatz commented on #356
@whedon assign @jmjwozniak as reviewer

[2017-08-11 18:43] danielskatz commented on #356
@whedon start review magic-word=bananas

[2017-08-11 18:43] whedon opened #357 "[REVIEW]: schwimmbad: A uniform interface to parallel processing pools in Python"
**Submitting author:** @adrn (<a href="http://orcid.org/0000-0003-0872-7098">Adrian Price-Whelan</a>)
**Repository:** <a href="https://github.com/adrn/schwimmbad" target ="_blank">https://github.com/adrn/schwimmbad</a>
**Version:** v0.2.1
**Editor:** @danielskatz
**Reviewer:** @jmjwozniak
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.885577" target="_blank">10.5281/zenodo.885577</a>

## S

[2017-08-11 18:43] whedon commented on #356
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/357. Feel free to close this issue now!

[2017-08-11 18:43] whedon commented on #357
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jmjwozniak it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're prob

[2017-08-11 18:43] #356 closed

[2017-08-11 18:45] danielskatz commented on #357
Ok, @jmjwozniak - this is ready to go.

Please carry out your review in this issue by updating the checklist above (please make sure you're logged in to GitHub)

The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Please avoid lengthy details of difficulties in this review thread. Instead, please create a new issue in the target repository and link to those

[2017-08-11 18:47] danielskatz commented on #307
@ndawe, please let me know when you are satisfied with the state of the documentation and plot (as discussed by you and @wlav above).  If you need to make changes, please do.

Then we can go ahead and accept this, once you say you are ready.

[2017-08-11 19:26] whedon opened #358 "[PRE REVIEW]: iheatmapr: Interactive complex heatmaps in R"
**Submitting author:** @AliciaSchep (<a href="http://orcid.org/0000-0002-3915-0618">Alicia Schep</a>)
**Repository:** <a href="https://github.com/ropensci/iheatmapr" target ="_blank">https://github.com/ropensci/iheatmapr</a>
**Version:** v0.3.2
**Editor:** @karthik
**Reviewer:** @rlbarter

**Author instructions**

Thanks for submitting your paper to JOSS @AliciaSchep. The JOSS editor (shown at the

[2017-08-11 19:26] whedon commented on #358
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-08-11 19:27] arfon commented on #358
👋 @karthik - the submitting author suggested you as an editor.

[2017-08-11 19:38] karthik commented on #358
Sure, I'm happy to edit.

[2017-08-11 19:39] karthik commented on #358
@whedon assign @karthik as editor

[2017-08-11 19:39] whedon commented on #358
OK, the editor is @karthik

[2017-08-11 19:41] karthik commented on #358
👋  @AliciaSchep. Thanks for the submission! I'm reaching out to a few reviewers now and will update the thread and soon as I am able. Stay tuned. 📻

[2017-08-11 19:43] karthik commented on #302
@wrathematics Would you be able to review this submission?

[2017-08-11 20:19] karthik commented on #358
@whedon assign @rlbarter as reviewer

[2017-08-11 20:19] whedon commented on #358
OK, the reviewer is @rlbarter

[2017-08-11 20:21] karthik commented on #358
@whedon start review magic-word=bananas

[2017-08-11 20:21] whedon commented on #358
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/359. Feel free to close this issue now!

[2017-08-11 20:21] whedon opened #359 "[REVIEW]: iheatmapr: Interactive complex heatmaps in R"
**Submitting author:** @AliciaSchep (<a href="http://orcid.org/0000-0002-3915-0618">Alicia Schep</a>)
**Repository:** <a href="https://github.com/ropensci/iheatmapr" target ="_blank">https://github.com/ropensci/iheatmapr</a>
**Version:** v0.3.2
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.841331" target="_blank">10.5281/zenodo.841331</a>

## Status

[2017-08-11 20:21] whedon commented on #359
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @rlbarter it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-08-11 20:22] #358 closed

[2017-08-11 21:15] karthik commented on #343
@whedon assign @karthik as editor

[2017-08-11 21:15] whedon commented on #343
OK, the editor is @karthik

[2017-08-11 21:16] karthik commented on #343
@danilofreire Thanks. I've reached out to Ben to see if he would serve as reviewer. Will update this thread when I know more.

[2017-08-11 21:17] karthik commented on #233
Hi @aknutas,
I will pass this back to @janschulz for additional review. In my quick review I did note some issues.

1. Please __do not__ include a packrat environment inside your package. Declare your dependencies. Packrat is meant for project level use and is not designed to be shipped with packages. Please address this issue asap.
2. Your README does not include any basic intructions on installa

[2017-08-11 21:21] karthik commented on #287
@whedon assign @mdsumner as reviewer

[2017-08-11 21:21] whedon commented on #287
OK, the reviewer is @mdsumner

[2017-08-11 21:21] karthik commented on #287
@whedon start review magic-word=bananas

[2017-08-11 21:21] whedon commented on #287
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/360. Feel free to close this issue now!

[2017-08-11 21:21] whedon opened #360 "[REVIEW]: ClimDown: Climate Downscaling in R"
**Submitting author:** @jameshiebert (<a href="http://orcid.org/0000-0002-4171-9586">James Hiebert</a>)
**Repository:** <a href="https://github.com/pacificclimate/ClimDown" target ="_blank">https://github.com/pacificclimate/ClimDown</a>
**Version:** v1.0.7
**Editor:** @karthik
**Reviewer:** @mdsumner
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1184647" target="_blank">10.5281/zenodo.118

[2017-08-11 21:21] whedon commented on #360
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @mdsumner it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-08-11 21:21] benmarwick commented on #343
Happy to help with reviewing this.

[2017-08-11 21:23] karthik commented on #343
@whedon assign @benmarwick as reviewer

[2017-08-11 21:23] whedon commented on #343
OK, the reviewer is @benmarwick

[2017-08-11 21:23] karthik commented on #343
@whedon start review magic-word=bananas

[2017-08-11 21:23] whedon commented on #343
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/361. Feel free to close this issue now!

[2017-08-11 21:23] whedon opened #361 "[REVIEW]: prisonbrief: An R package that returns tidy data from the World Prison Brief website"
**Submitting author:** @danilofreire (<a href="http://orcid.org/0000-0002-4712-6810">Danilo Freire</a>)
**Repository:** <a href="https://github.com/danilofreire/prisonbrief" target ="_blank">https://github.com/danilofreire/prisonbrief</a>
**Version:** v0.1.0
**Editor:** @karthik
**Reviewer:** @benmarwick
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.833889" target="_blank">10.5281/zenodo.

[2017-08-11 21:23] whedon commented on #361
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @benmarwick it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're prob

[2017-08-11 21:24] danilofreire commented on #343
Thanks very much @karthik and @benmarwick. Happy to read your comments.

[2017-08-11 21:24] #287 closed

[2017-08-11 21:26] #343 closed

[2017-08-12 01:04] ndawe commented on #307
Sure, thanks. I've recreated the benchmark plot after updating to the latest ROOT and with both root_numpy and ROOT compiled with -O2. The diff is here and you can see a slightly closer match:

https://github.com/scikit-hep/root_numpy/pull/346/files

Merging that now. Thanks @wlav for the thorough review!

[2017-08-12 01:39] ndawe commented on #307
All good on my end

[2017-08-12 02:33] benmarwick commented on #361
I ran

[code]
and got

[code]
I installed the [selectr](https://github.com/sjp/selectr) pkg and that solved it.

Do we need selectr in the `DESCRIPTION Imports:` ?

[2017-08-12 09:33] fstrozzi commented on #341
Hi @biorelated and @yannickwurm ,
first of all thanks for your time in reviewing this submission and for providing useful feedbacks.

Yannick, here are the answers to your points.

**Paper**

A new version of the paper.md file has been uploaded addressing all the points raised, a paper.bib file was also added with the relevant references for Pipengine. Both are available in the "joss" folder.

**R

[2017-08-12 10:55] fstrozzi commented on #351
The authors developed a Ruby package enabling random forest based classification for genomics selection data. The package is well written, quite easy to use and overall it seems a solid piece of software addressing specific analysis using SNPs data. The package is answering all JOSS requirements, although minor revisions are envisaged (marked as checkboxes below).

## Code

* the code is clean, an

[2017-08-12 12:21] arfon commented on #309
Hi @dselent, many thanks for update your paper. After review the editorial board has determined that your submission does not meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, this submission falls under the 'Minor utility package' category.

Apologies for any time wasted here. Over the last few weeks we've been tightening up the language surro

[2017-08-12 12:21] #309 closed

[2017-08-12 14:02] pjotrp commented on #351
@fstrozzi thanks for your thorough review! @xuanxu looks like these are minor fixes. Ping us when you are done or respond here.

[2017-08-12 14:05] arfon commented on #346
:wave: thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)?

Many thanks!

[2017-08-12 14:24] labarba commented on #349
Good question @weymouth — I don't think there is. Just emergent behavior, I suppose. Most repos will have a `CONTRIBUTING.md` file right on the root of the repo, and additionally a heading in the README that has a sentence and a link to the `md` file. Same goes for installation instructions. I think putting these things in the wiki is going to cause you some headaches, because folks won't find the

[2017-08-12 14:59] labarba commented on #349
@weymouth : Regarding the statement of need for research applications, the paper currently has only one sentence addressing this: _"This enables users with no previous CFD experience to address open research problems in fluid mechanics; for example, how a plesusaur swims [https://doi.org/10.1017/jfm.2015.61] and how spinning cylinders can eliminate drag [https://doi.org/10.1017/jfm.2017.395]."_

F

[2017-08-12 18:46] arfon commented on #345
:wave: thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? The section [_'what should my paper contain'_](

[2017-08-12 19:14] arfon commented on #344
@whedon assign @arfon as editor

[2017-08-12 19:14] whedon commented on #344
OK, the editor is @arfon

[2017-08-12 19:14] arfon commented on #344
@whedon list reviewers

[2017-08-12 19:14] whedon commented on #344
Here's the current list of JOSS reviewers: https://bit.ly/joss-reviewers

[2017-08-12 19:16] arfon commented on #344
👋 @fil - would you be willing to review this submission for JOSS?

[2017-08-12 19:17] #275 closed

[2017-08-12 19:20] arfon commented on #340
@Kevin-Mattheus-Moerman @danielskatz - it looks like the review checklist is missing from this thread. Did one of you accidentally delete it?

[2017-08-12 19:22] arfon commented on #340
Well that's very strange. The top of the issue thread wasn't rendering for me just before. Ignore me!

[2017-08-12 19:23] #297 closed

[2017-08-12 19:24] arfon commented on #310
@whedon assign @afrubin as reviewer

[2017-08-12 19:24] whedon commented on #310
OK, the reviewer is @afrubin

[2017-08-12 19:24] arfon commented on #310
@whedon start review magic-word=bananas

[2017-08-12 19:24] whedon opened #362 "[REVIEW]: dms2dfe: Comprehensive Workflow for Analysis of Deep Mutational Scanning Data"
**Submitting author:** @rraadd88 (<a href="http://orcid.org/0000-0002-6421-2067">Rohan Dandage</a>)
**Repository:** <a href="https://github.com/kc-lab/dms2dfe" target ="_blank">https://github.com/kc-lab/dms2dfe</a>
**Version:** v1.0.6
**Editor:** @tracykteal
**Reviewer:** @afrubin
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1095257" target="_blank">10.5281/zenodo.1095257</a>

## Status

[2017-08-12 19:24] whedon commented on #310
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/362. Feel free to close this issue now!

[2017-08-12 19:24] whedon commented on #362
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @afrubin it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-08-12 19:24] arfon commented on #362
@afrubin - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let @tracykteal know.

[2017-08-12 19:25] #310 closed

[2017-08-12 19:26] arfon commented on #312
:wave: thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? The section [_'what should my paper contain'_](

[2017-08-12 19:27] arfon commented on #313
👋 @pboesu - would you be willing to review this submission for JOSS?

[2017-08-12 19:28] arfon commented on #316
@leeper - would you be able to edit this submission for JOSS?

[2017-08-12 19:29] arfon commented on #317
:wave: thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? The section [_'what should my paper contain'_](

[2017-08-12 19:31] arfon commented on #328
Friendly reminder @Astrodude11

[2017-08-12 19:33] arfon commented on #336
Thanks @ricleal. Since you submitted this package we've expanded a little on the requirements for the `paper.md` file. Could you take a look at the [updated guidelines](http://joss.theoj.org/about#paper_structure) and expand a little on what you have?

In the meantime, I'll look for a reviewer.

[2017-08-12 19:34] arfon commented on #336
👋 @adrn - would you be willing to review this submission for JOSS?

[2017-08-12 19:35] arfon commented on #353
@whedon list reviewers

[2017-08-12 19:35] whedon commented on #353
Here's the current list of JOSS reviewers: https://bit.ly/joss-reviewers

[2017-08-12 19:36] arfon commented on #353
👋 @jordigh - would you be willing to review this submission for JOSS?

[2017-08-12 19:41] kortschak commented on #312
I am confused, the paper clearly states that the package is intended to be used for interfacing with R, which is primarily a research software. The paper also explains why this would be useful, in that Go is a good language for performing scientific analyses for many reasons, but that R provides a much richer statistical analysis support base and so use the two together is a benefit:

[2017-08-12 21:06] ashleefv commented on #340
I made the requested changes in *run_PKPD_without_GUI*.m and committed
those changes.

Ashlee N. Ford Versypt, Ph.D.
Assistant Professor, School of Chemical Engineering, Oklahoma State
University
Member, Harold Hamm Diabetes Center, University of Oklahoma Health Sciences
Center
420 Engineering North, OSU, Stillwater, OK 74078
Ph: 405-744-5280
ashleefv@okstate.edu
Ford Versypt Lab Website <https://

[2017-08-12 21:06] ashleefv commented on #340
@Kevin-Mattheus-Moerman <https://github.com/kevin-mattheus-moerman>
@sdelandtsheer <https://github.com/sdelandtsheer> I made the requested
changes in *run_PKPD_without_GUI*.m and committed those changes.

Ashlee N. Ford Versypt, Ph.D.
Assistant Professor, School of Chemical Engineering, Oklahoma State
University
Member, Harold Hamm Diabetes Center, University of Oklahoma Health Sciences
Center
420

[2017-08-12 21:24] lheagy commented on #326
@jsta, @pboesu have either of you worked with Ferret? Would you be willing to review this submission?

[2017-08-12 21:27] danielskatz commented on #307
Thanks again @wlav for a very nice review, and @ndawe for your updates.

@arfon - this is ready to go to you now.

[2017-08-12 21:54] danilofreire commented on #361
Hi @benmarwick,

Thanks for pointing that out. I thought that `selectr` would be installed automatically. I'll add the package to `DESCRIPTION Imports:`.

[2017-08-12 22:03] Shane-J-Latham commented on #345
Hi @arfon, thanks for taking the time to look at this.

I would say it is a tool for "enabling research", particularly in HPC where
you want to calculate domain-decomposition for data-parallelism
(for large-image processing, say)...
If you don't think this is a fit for JOSS, happy to withdraw.

Thanks again.

[2017-08-12 22:08] kortschak commented on #312
To give an explicit use case (hypothetical), if a person wanted to perform a genomics analysis using Go and the [bíogo ncbi package](http://joss.theoj.org/papers/10.21105/joss.00234) (interestingly built around the same server/client model as the arrgh package) requiring some statistical analysis, it may be necessary to use R. The arrgh package would facilitate this analysis. The need for statisti

[2017-08-13 01:59] Kevin-Mattheus-Moerman commented on #340
Thanks @ashleefv. @sdelandtsheer are you happy with how your comments were addressed?

[2017-08-13 02:05] Kevin-Mattheus-Moerman commented on #300
@stavness @jslee02 @melund @demotu we are getting close to mid-august :smile: I hope those who had a vacation had a good one. If you are still able, would you be willing to help review this submission? Thanks!

[2017-08-13 02:37] benmarwick commented on #361
Thanks, in the code in  in `R/`,  we see a lot of `::` in functions where `@IimportFrom` is also used in the roxygen above the function. I'm not sure that you need both of these methods. In http://r-pkgs.had.co.nz/namespace.html we see

So I'd recommend removing the  `::`, what do you think?

[2017-08-13 02:39] benmarwick commented on #361
In the README.Rmd I think we may we need `library(dplyr)` before line 103 to make `%>%` available to the user's environment.