[2020-05-04 12:17] dfm commented on #1958
@whedon generate pdf

[2020-05-04 12:17] whedon commented on #1958
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01958/joss.01958/10.21105.joss.01958.pdf)

[2020-05-04 12:18] dfm commented on #1958
@whedon check references

[2020-05-04 12:19] whedon commented on #1958
[code]

[2020-05-04 12:24] egemose commented on #2097
@kthyng, @abhishekbajpayee and @jizecn Given the current situation I am unable to allocate time for this and it does not look like I will have time the next couple of months. So I would like to put a pause on this until I again Have time.

[2020-05-04 12:34] anmolter commented on #2177
Hi @Athelena, could you close the wizard by clicking the x in the top right corner (don't click cancel, because that will probably delete the outputs), then go to your outputs folder and open the GOTCHA text file and let me know what that says?

[2020-05-04 12:42] Athelena commented on #2177
`2020-05-04 13:23:25.407 ERROR build - exception_hook: Uncaught exception
Traceback (most recent call last):
  File "<string>", line 1, in <module>
AttributeError: 'ToolValidator' object has no attribute 'isLicensed'
2020-05-04 13:23:26.085 ERROR build - exception_hook: Uncaught exception
Traceback (most recent call last):
  File "<string>", line 1, in <module>
AttributeError: 'ToolValidator' obje

[2020-05-04 12:44] dfm commented on #1958
@kiretd: Thanks for your patience! I've just submitted two pull requests with small changes to the paper. Once you've accepted those, take a last proof read, then:

1. Bump the version number and tag a new release of the code
2. Create an archive of the code using Zenodo or something similar
3. Make sure that the metadata (title and author list, for example) of the archive match the JOSS paper (on

[2020-05-04 12:56] anmolter commented on #2177
@Athelena It looks like you don't have a license for Spatial Analyst. Could you check your Licensing information? Here's a link  for more info: https://pro.arcgis.com/en/pro-app/help/analysis/spatial-analyst/basics/enabling-the-spatial-analyst-extension.htm

[2020-05-04 13:04] Athelena commented on #2177
Oh yes, I see that now. I don't have a license for it, I've asked our IT department about it, I'll see if I can get it.

[2020-05-04 13:28] dfm commented on #1958
Also: Thanks for your review @sauln! I'm still seeing the "statement of need" checkbox unchecked, but I'll proceed now assuming that you're planning on checking it :)

[2020-05-04 14:35] TommyJones commented on #2181
Great. I'll give the example a shot this week to test functionality etc.

On Mon, May 4, 2020 at 5:07 AM Jonas Rieger <notifications@github.com>
wrote:

[2020-05-04 14:48] krystophny commented on #2179
@vanbenschoten I could now test installation and basic functionality of your packages in Python, R and Go. There was one issue with the Python version that downgraded my SciPy from 1.4.1 to some 1.3 version. It would be great if you could fix that before publication, or at least prioritize this issue, as it will destroy other dependencies (e.g. tensorflow 2.2).

Otherwise I'm happy with usability

[2020-05-04 16:34] HajkD commented on #2170
Dear all,

Please accept my apologies for being silent for a while, but I wanted to make sure that this time I can deliver a complete and interactive `ltrpred` container toolkit rather than a `Dockerfile` prototype.

As a result, I developed two types of `ltrpred` containers which are available at `Docker Hub`:

1) Running the `LTRpred` pipeline through the `R command line prompt`: https://hub.doc

[2020-05-04 16:57] karthik commented on #2156
@arfon sorry I missed this (was out quite sick). Yes glad Tommy posted the review. I was still waiting on reviewer 2 but am happy to proceed with this review.

[2020-05-04 16:58] karthik commented on #2156
In fact I hadn't started the review yet since I did not have reviewer 2 in place yet.

[2020-05-04 17:05] arfon commented on #2156
Hope you're feeling better soon @karthik - I moved this forward as I wasn't sure what your availability was. When you have the bandwidth, we'll still need to find a second reviewer here.

[2020-05-04 18:00] ThomasMGeo commented on #1969
@whedon generate pdf

[2020-05-04 18:01] whedon commented on #1969
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01969/joss.01969/10.21105.joss.01969.pdf)

[2020-05-04 20:32] melissawm commented on #1865
Thank you, @usethedata !

@shirubana can you create an archive for this and report the DOI on this issue?

[2020-05-04 20:33] shirubana commented on #1865
sorry, confused. what?

[2020-05-04 20:37] melissawm commented on #1865
Since the review is complete, we can go forward with the review workflow. According to the [review guide](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process),

When you get a chance to do that, let me know so I can proofread the manuscript and we can proceed. Thanks!

[2020-05-04 20:48] briandesilva commented on #2104
@dawbarton, we have updated the package and documentation to address each of your comments. When you get a chance could you please take another look to make sure everything meets your standards?

[2020-05-04 21:37] yarikoptic commented on #2166
Sorry for the delay again, an update: my feedback to authors and here is starting to flow! ;-)

[2020-05-04 22:13] pmcharrison commented on #2088
Hi @oliviaguest, @Cognitive-Modeller, @DivyaSeernani - just to add to the above, we had a live test today with 120 simultaneous participants and performance didn't suffer at all, I'm told. We've also had an online data collection over the last couple of months where we tested c. 300,000 participants (though not all at the same time!), and this seemed to work fine. Any chance we could move forward

[2020-05-04 22:26] oliviaguest commented on #2088
@pmcharrison I'm hoping @Cognitive-Modeller can report back. I'll send him an email just in case.

[2020-05-04 22:29] oliviaguest commented on #2088
@arfon IMHO yes, shall we just assume everything is OK and accept it, or wait on @Cognitive-Modeller?

[2020-05-04 22:29] oliviaguest commented on #2088
@whedon generate pdf

[2020-05-04 22:30] whedon commented on #2088
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02088/joss.02088/10.21105.joss.02088.pdf)

[2020-05-04 22:31] oliviaguest commented on #2088
@whedon check references

[2020-05-04 22:31] whedon commented on #2088
[code]

[2020-05-04 22:32] oliviaguest commented on #2088
@whedon check repository

[2020-05-04 22:32] whedon commented on #2088
[code]

[2020-05-04 22:33] arfon commented on #2088
@oliviaguest - yeah, I think we can move ahead with this.

[2020-05-04 22:34] oliviaguest commented on #2088
@whedon accept

[2020-05-04 22:34] whedon commented on #2088
No archive DOI set. Exiting...

[2020-05-04 22:35] oliviaguest commented on #2088
@whedon set v2.19.0 as version

[2020-05-04 22:35] whedon commented on #2088
OK. v2.19.0 is the version.

[2020-05-04 22:37] oliviaguest commented on #2088
@pmcharrison can you give me a DOI for your softwar by using, e.g., zenodo, figshare, etc.? And posting the DOI back here, please? 😊

[2020-05-04 22:39] pmcharrison commented on #2088
Excellent - thanks so much for the swift action! Here's the DOI: 10.5281/zenodo.1415355

[2020-05-04 22:42] dawbarton commented on #2104
I haven't checked whether you've fixed the regression with the readme example but everything else looks good to me. 👍

[2020-05-04 22:52] oliviaguest commented on #2088
@whedon set 10.5281/zenodo.1415355 as archive

[2020-05-04 22:52] whedon commented on #2088
OK. <a href="https://doi.org/10.5281/zenodo.1415355" target="_blank">10.5281/zenodo.1415355</a> is the archive.

[2020-05-04 22:52] oliviaguest commented on #2088
@whedon accept

[2020-05-04 22:52] whedon commented on #2088
[code]

[2020-05-04 22:53] whedon commented on #2088
[code]

[2020-05-04 22:53] whedon commented on #2088
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1438

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1438, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-05-04 22:53] oliviaguest commented on #2088
@whedon generate pdf

[2020-05-04 22:53] whedon commented on #2088
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02088/joss.02088/10.21105.joss.02088.pdf)

[2020-05-04 22:54] oliviaguest commented on #2088
@pmcharrison great! I think the final PDF looks really good. What do you think?

[2020-05-04 23:12] pmcharrison commented on #2088
Thanks! Yes I'm happy :-)

[2020-05-04 23:14] oliviaguest commented on #2088
@openjournals/joss-eics can somebody please accept this for us? :smile_cat:

[2020-05-05 00:04] arfon commented on #2088
@whedon accept deposit=true

[2020-05-05 00:04] whedon commented on #2088
[code]

[2020-05-05 00:05] whedon commented on #2088
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1257461393453965313) 👈 🐦🐦🐦

[2020-05-05 00:05] whedon commented on #2088
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1439
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02088](https://doi.org/10.21105/joss.02088)
2. If everything looks g

[2020-05-05 00:26] coljac commented on #2180
@whedon generate pdf

[2020-05-05 00:26] whedon commented on #2180
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02180/joss.02180/10.21105.joss.02180.pdf)

[2020-05-05 01:06] vanbenschoten commented on #2179
@krystophny sounds good! I'll add a paragraph or two detailing the history and current landscape of matrix profile implementations.

[2020-05-05 01:17] coljac commented on #2180
Hi @ejhigson,

Thanks for taking the time to review Sensie, it's much appreciated. I have responded to your initial feedback as follows:

Thanks for this suggestion. I have updated setup.py accordingly, and adjusted the documentation to make the installation procedure clearer.

`pip install pytest` and then `pytest test` from the repo root should run the tests successfully.

I have also indicated

[2020-05-05 01:18] coljac commented on #2180
@whedon generate pdf

[2020-05-05 01:18] whedon commented on #2180
PDF failed to compile for issue #2180 with the following error:

 Error reading bibliography ./paper.bib (line 63, column 3):
unexpected "f"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-05-05 01:23] coljac commented on #2179
@vanbenschoten @krystophny Unless I missed something, I'm not sure about the scipy versioning issue being a problem here. It's standard these days to run any software like this in its own environment to manage these sorts of versioning clashes. Perhaps the docs should reference this, but from where I sit this is understood implicitly.

[2020-05-05 01:32] vanbenschoten commented on #2179
We've gone ahead and resolved the scipy version issue in a minor code
release we're pushing tomorrow, so I think we'll be good on this front.

On Mon, May 4, 2020, 8:23 PM Colin Jacobs <notifications@github.com> wrote:

[2020-05-05 01:34] coljac commented on #2180
@whedon generate pdf

[2020-05-05 01:35] whedon commented on #2180
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02180/joss.02180/10.21105.joss.02180.pdf)

[2020-05-05 01:48] TommyJones commented on #2181
@arfon, @karthik, @JonasRieger I've completed my review. Should this close out the issue?

Looks like a useful package! Opened up another issue in the target repo that I think will make for a more pleasant user experience, but think it falls outside of scope for JOSS as I understand it.

[2020-05-05 01:57] vanbenschoten commented on #2179
@krystophny @coljac @arfon I've updated the paper to per @krystophny 's feedback.

[2020-05-05 02:13] coljac commented on #2179
@whedon generate pdf

[2020-05-05 02:13] whedon commented on #2179
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02179/joss.02179/10.21105.joss.02179.pdf)

[2020-05-05 02:20] coljac commented on #2179
Based on the changes and @krystophny's comments, at this point I'm happy to recommend accept. (Well done @vanbenschoten and team!)

[2020-05-05 06:29] krystophny commented on #2179
@vanbenschoten very nice work indeed! With the changes made I can propose to accept the paper.

PS: In the proofs I saw a space is missing after "UCR". Is "pan-Matrix Profile" really written in that way?

[2020-05-05 06:30] krystophny commented on #2179
@arfon our reviews are finished, is there anything else to do from our side? Otherwise we agree to support publication of the article!

[2020-05-05 08:50] pmcharrison commented on #2088
Great! Getting a 404 error on the paper though.

<img width="1184" alt="Screenshot 2020-05-05 at 09 49 51" src="https://user-images.githubusercontent.com/22684998/81049262-c5fae380-8eb5-11ea-9db3-c4bbb5da0e4b.png">

[2020-05-05 08:52] oliviaguest commented on #2088
@openjournals/joss-eics please see above issue. I get 404 too. 🤔

[2020-05-05 09:44] labarba commented on #2088
The ping for technical issues should go to @openjournals/dev — Sometimes there are delays on GitHub pages updating. Try again later.

[2020-05-05 09:53] oliviaguest commented on #2088
@labarba thank you — had no idea! 🌼

[2020-05-05 10:39] anmolter commented on #2177
@Athelena I've added to the documentation that a Spatial Analyst license is required for analyses with raster data. I've also added an error pop up message to the code, if no license is found. While doing that I found two other bugs 😬  which should now be fixed 😜

[2020-05-05 11:34] arfon commented on #2088
This looks to be fixed now (you might have to reset your browser cache).

@Cognitive-Modeller, @DivyaSeernani - many thanks for your reviews here and to @oliviaguest for editing this one.

@pmcharrison - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-05-05 11:34] #2088 closed

[2020-05-05 11:34] whedon commented on #2088
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02088/status.svg)](https://doi.org/10.21105/joss.02088)

**We need your help!**

Journal of Open Source Softwa

[2020-05-05 11:40] arfon commented on #2181
Thanks! Please leave this issue open. As I mentioned in #2156 we still need to add a second reviewer in here before we can consider this review complete.

[2020-05-05 11:41] pmcharrison commented on #2088
Thanks very much for all of your work! Very cool workflow.

[2020-05-05 11:42] arfon commented on #2179
@whedon generate pdf

[2020-05-05 11:43] whedon commented on #2179
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02179/joss.02179/10.21105.joss.02179.pdf)

[2020-05-05 11:51] arfon commented on #2179
Thanks @krystophny and @coljac!

@vanbenschoten - I think this is ready to move forward to the accept/publish stage.

At this point could you make new releases of these software packages review here that includes the changes that have resulted from this review. Then, please make an archive of the software packages together in a deposit with Zenodo/figshare/other service and update this thread with

[2020-05-05 13:59] sap218 commented on #2168
Just an update - I fixed the issues on the repo if you wanted to retry :-)
(turns out i did indeed have a missing dependency - really sorry about that)

[2020-05-05 14:31] drvinceknight commented on #2152
@tylerwmarrs @davismcc @AvianaGlobal would you be able to review this paper for JOSS? It presents a library to carry out audits, of use both to researchers and practitioners.

[2020-05-05 17:52] waseemasheikh commented on #2016
Hello,

I submitted my bug fixes for all the major issues two weeks back. Could you please let me know the timeline for review and publishing as the paper has been under review for a very long time. Thanks.

[2020-05-05 18:47] yarikoptic commented on #2166
FTR: my review of the manuscript with some additional references -- https://github.com/trendscenter/coinstac/issues/881

[2020-05-05 18:54] arfon commented on #2016
Hi @waseemasheikh / @drwaseemsheikh - it's not clear if you have addressed the feedback in drwaseemsheikh/audiometry#7 or drwaseemsheikh/audiometry#12. Could you please comment on that?

As I noted in [my comment](https://github.com/openjournals/joss-reviews/issues/2016#issuecomment-598981503) in mid-March, JOSS is working on a best-efforts basis right now. The effects of the pandemic on the avail

[2020-05-05 19:46] fortinma commented on #2177
@hugoledoux @anmolter and @Athelena, I apologize but I am unable to properly review this tool. I was able to finish the tutorial once, but I received different results than were expected. I think the different results were due mostly to my inattention because of how slowly my virtual machine was running ArcGIS Pro. After the initial run through, I tried to redo the tutorial with no avail as my vir

[2020-05-06 01:40] vanbenschoten commented on #2179
@arfon Done! The DOI is 10.5281/zenodo.3789780.

[2020-05-06 01:51] arfon commented on #2179
@whedon set 10.5281/zenodo.3789780 as archive

[2020-05-06 01:51] whedon commented on #2179
OK. <a href="https://doi.org/10.5281/zenodo.3789780" target="_blank">10.5281/zenodo.3789780</a> is the archive.

[2020-05-06 01:53] arfon commented on #2179
@whedon accept

[2020-05-06 01:53] whedon commented on #2179
[code]

[2020-05-06 01:54] whedon commented on #2179
[code]

[2020-05-06 01:54] whedon commented on #2179
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1440

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1440, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-05-06 01:55] arfon commented on #2179
@whedon accept deposit=true

[2020-05-06 01:56] whedon commented on #2179
[code]

[2020-05-06 01:56] whedon commented on #2179
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1257851763912314884) 👈 🐦🐦🐦

[2020-05-06 01:56] whedon commented on #2179
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1441
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02179](https://doi.org/10.21105/joss.02179)
2. If everything looks g

[2020-05-06 02:07] arfon commented on #2179
@coljac, @krystophny - many thanks for your reviews here :sparkles:

@vanbenschoten - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-05-06 02:07] #2179 closed

[2020-05-06 02:07] whedon commented on #2179
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02179/status.svg)](https://doi.org/10.21105/joss.02179)

**We need your help!**

Journal of Open Source Softwa

[2020-05-06 02:13] vanbenschoten commented on #2179
Thanks so much everyone for all of the help!

On Tue, May 5, 2020, 9:07 PM whedon <notifications@github.com> wrote:

[2020-05-06 06:52] DanielAndreasen commented on #2048
Hi @arfon, I think that is an interesting idea. If we were to go down that road, it would look something like this:
1. Download MOOG from its home page.
2. Patch the code, in order to remove dependencies to SuperMongo, which the fewest have installed. This is similar to our current approach in FASMA.
3. Install the software.

Here I worry about the patching. Would that give us some licensing probl

[2020-05-06 11:42] hugoledoux commented on #2177
Thanks for this @fortinma, the idea is indeed not that a review drives you mad 😆

The purpose of the JOSS review is to see if the software performs as claimed, if it can be installed and used by others. We aim to help the author(s) to achieve this, so you're report is certainly something to consider.

In this case, would you say that it's the VM that was the issue? Would ArcGIS Pro have crashed an

[2020-05-06 11:48] arfon commented on #2048
With the standard caveat of me not being a lawyer and this not being legal advice, I think this is fine, especially if the approach we're talking about is for the end-user (i.e. the consumer of your `FASMA 2.0` software) running this download/patching command themselves. Is that the sort of thing you're thinking of?

[2020-05-06 12:01] DanielAndreasen commented on #2048
Well, as stated by Chris Sneden (the author of MOOG), he has no problems with people editing and using his software (as long as he is not responsible for the results/conclusions drawn from it). So I don't think we are going to have any legal problems whatsoever.
If we were to go down this road, I would hope to make it as automatic as possible, that is, install MOOG and FASMA together with one comm

[2020-05-06 12:08] arfon commented on #2048
The issue here is ours. JOSS does not publish software without an OSI-approved license.

I'm afraid it essentially doesn't matter what Chris Sneden has communicated to you directly. To make his position explicit, he should add a standard open source license which says as much. For example, the MIT license says:

[2020-05-06 12:21] Athelena commented on #2177
I can't compare it to anything, I've only ever ran Pro on a VM, I don't think mine is necessarily that slow though. Right now my issue is that I don't have the right license and still waiting to hear back if I can get access. I'll let you know how it goes.

[2020-05-06 12:46] fortinma commented on #2177
I have never really had any problems with ArcGIS Pro through a VM before and i wouldn't consider the usual running of it slow in the VM either. **However**, I never ran through high demand processing in it before. I wonder if **RAM** allocation to the VM might be an issue to consider?  Mine are set at **2 GB** and Esri recommends **8GB** for ArcGIS Pro.  Perhaps @Athelena can try with a higher RAM

[2020-05-06 13:18] DanielAndreasen commented on #2048
I understand the issues here. But can we for example put MOOG in a separate github repo, and during the installation of FASMA, it will also install MOOG from that repository?

[2020-05-06 14:38] arfon commented on #2048
Yes, I think that would be acceptable.

[2020-05-06 15:05] tylerwmarrs commented on #2152
@drvinceknight Sorry, I cannot commit to reviewing this work.

[2020-05-06 16:56] karthik commented on #2156
👋 @bstewart
Would you be able to serve as a second reviewer on this submission?

[2020-05-06 16:59] drvinceknight commented on #2152
I understand, thanks for getting back to me. :+1:

[2020-05-07 00:18] mkhorton commented on #2117
Hi @Luthaf, first my sincere apologies in the delay in making significant progress on this review. The code looks excellent, very well structured, and fills a clear need (indeed, we work on similar problems ourselves, and it's been a common source of frustration that all these nice global similarity measures exist, but are pretty inaccessible to the average user).

I have two queries:

1. Are ther

[2020-05-07 08:16] Luthaf commented on #2117
No, unfortunately, I could not find a nice way to do automated tests for web user interfaces. If you know of a good framework for this, I am interested. I'd like to add such tests at some point.

In the mean time, I have been using the example files (which you can get locally with `npm run  download-example-input`) to test the behaviour of the code on varied examples.

Sure!

[2020-05-07 08:38] leouieda commented on #1720
:wave: @sam-greenwood just wanted to check in to see how things are going. I know these are difficult times for everyone so there is no rush. Let me know if there anything I can do to help or if you need any further guidance on the tasks above.

[2020-05-07 08:49] ejhigson commented on #2180
Hi @coljac - thank you very much for these changes!

The install and tests work perfectly for me, and the community guidelines additions look good

Thank you for adding this to the paper - I think it is very useful background information.

Rereading the paper I spotted a couple of minor typos: you are missing a comma after ``Innvestigate`` and in the caption of Figure 1 I think "ann" should be "an

[2020-05-07 10:50] MariaTsantaki commented on #2048
This seems a solution. I will work on that!

[2020-05-07 13:55] s0nata commented on #2153
@whedon generate pdf

[2020-05-07 13:56] whedon commented on #2153
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02153/joss.02153/10.21105.joss.02153.pdf)

[2020-05-07 15:42] s0nata commented on #2153
Hi @arcuri82, I have just added my comments on the paper text to the issue [#170](https://github.com/EMResearch/EvoMaster/issues/170)

[2020-05-07 16:30] kiretd commented on #1958
Thanks @dfm, as well as @effigies and @sauln for all of the help and effort!

1. We just tagged a release of the code. It's at version 1.0 on Github, but version 1.0.4 on Pypi. Do these need to be the same?
2. DOI: 10.5281/zenodo.3813708
3. Looks right to me.

I've made all of the changes I want to the paper. Did I provide you with everything you need?

[2020-05-07 17:21] dfm commented on #1958
It's good practice to synchronize versions across PyPI and GitHub releases, but it's not absolutely necessary.

That DOI isn't resolving and I can't find the archive on Zenodo manually. Can you share the Zenodo link directly?

[2020-05-07 18:00] kthyng commented on #2097
@egemose Totally get it. I'll add the pause label. Just ping here when you're able to work on this again.

[2020-05-07 18:37] kiretd commented on #1958
Here's the link, is it working for you?
https://zenodo.org/record/3813708#.XrRVK6gzZPY

We're resolving the version number now.

[2020-05-07 19:15] effigies commented on #1958
DOI resolves for me. I've noticed Zenodo DOIs have a bit of an increased lag before they resolve, lately.

[2020-05-07 19:38] dfm commented on #1958
Great! Yes - it's resolving now. Please update the metadata in the Zenodo archive so that the title matches the paper: "LFSpy: A Python Implementation of Local Feature Selection for Data Classification with scikit-learn Compatibility".

[2020-05-07 21:07] kiretd commented on #1958
Oops, didn't realize it applied to the title as well. Should be good now.

[2020-05-07 21:21] ejhigson commented on #2180
Also, looking at the examples on the jupyter notebooks, I think "MNIST example" is missing an
``import numpy as np``
statement in the first cell? With this addition it runs perfectly for me. "CIFAR10 example" also works perfectly for me. However "VGG example" seems to need some files from your local drive at ``/home/coljac/Downloads/imagenet/gorillas``(?) Is this example notebook meant to be runna

[2020-05-07 21:43] gkthiruvathukal commented on #2180
@arfon Just letting you know, with this comment, that I am resuming editorial activities and will see this and other submissions through the process. It's good to see @ejhigson has been offering good feedback for @coljac, who is working to address the issues.

[2020-05-07 21:52] arfon commented on #2180
👍thanks @gkthiruvathukal! One quick reminder (and possibly stating the obvious here) - we still need a second reviewer for this one.

[2020-05-07 21:55] gkthiruvathukal commented on #2180
@arfon Is it easy to add a reviewer after review has started? I seem to recall that wasn't easy to do in the past. I'll try to find a second. Let's hope more people are becoming available as some of the COVID-19 measures begin to lift.

[2020-05-08 00:51] coljac commented on #2180
Hi @ejhigson,

Thanks again for the follow up comments - and the bug/typo finding.

- I added the missing numpy import in the notebook example.
- I fixed the typos indicated.

Regarding the VGG example, for copyright reasons I didn't check in/make available the collection of gorilla pictures I used for this example, and so I've left that as an exercise for the reader (though they can of course see

[2020-05-08 06:08] mkhorton commented on #2117
Yes, there are many test frameworks available. It is a bit of a pain to write tests for web apps, but it's worth it. Even minimal tests that just check your server loads and displays a graph and molecule can be valuable if, for example, something like a dependency being updated breaks your app.

Some frameworks include [Jest](https://jestjs.io) for testing components, browser testing like [Seleniu

[2020-05-08 07:51] Luthaf commented on #2117
Percy sounds interesting, but I would rather use something free and open source, even if the setup is a bit more complex. However I disagree that minimal tests are useful: when updating dependencies I will be manually checking that basics still work. IMO, more interesting tests would be workflow/user story tests (when I click on this element, this other element changes, and this modal opens); do y

[2020-05-08 09:14] ejhigson commented on #2180
@coljac thank you very much for your latest changes - they all look good to me! I think the VGG example now works well with the note at the top you just added telling people they can use their own images instead.

I am satisfied that you have met all the JOSS criteria - the paper is well written and the performance all seems as expected. Congratulations on a very neat software package and a nice p

[2020-05-08 10:44] arfon commented on #2180
You can do `@whedon add xxx as reviewer` here which will update the assignments but unfortunately you'll need to manually create a checklist for the second reviewer by editing the issue body at the top of this thread.

[2020-05-08 11:10] coljac commented on #2180
@ejhigson Thanks for the nice comments and the work as reviewer, it's much appreciated!

[2020-05-08 11:57] omshinde commented on #2180
Hi @arfon and @gkthiruvathukal , sorry for the long communication gap from my side. I couldn't start the review as I did not receive any reviewer invitation as mentioned above. Also, I am not sure whether I would require permissions to edit the review checklist or I can make the checklist in a comment. Please let me know if I should still review the work and make the checklist here itself in the c

[2020-05-08 15:31] kbarnhart commented on #1969
@rgmyr @ThomasMGeo the new hosted docs https://corebreakout.readthedocs.io/en/latest/ look great!

I wanted to check in and see whether reviewers @JesperDramsch and @brendonhall should tune back in (per their ability to do so), or whether you are still working to address the issues they raised.

[2020-05-08 15:53] arcuri82 commented on #2153
@whedon generate pdf

[2020-05-08 15:54] whedon commented on #2153
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02153/joss.02153/10.21105.joss.02153.pdf)

[2020-05-08 16:39] mkhorton commented on #2117
Yes, I agree, on the OK criteria I can check it off.

In my role as a reviewer though, I do want to echo the JOSS guidelines and strongly encourage tests. Tests in JavaScript are definitely possible, and there are open source solutions ([Jest](https://jestjs.io) is fully open source). From my own past experience, writing web apps is a lot more brittle than other kinds of apps precisely because the

[2020-05-08 16:45] rgmyr commented on #1969
Hi @kbarnhart, thank you!

We've contacted Jesper and Brendon, and are just awaiting their feedback. We're hoping that the recent updates are sufficient to address their outstanding issues, but we'll be available to make additions or changes as necessary.

[2020-05-08 17:09] Luthaf commented on #2117
I am already convinced by the usefulness of testing in general, and its availability in JavaScript projects (I used mocha/chai + karma + Travis running on node + 3 browsers in [another project of mine](https://github.com/chemfiles/chemfiles.js) to get >95% line coverage).

My pain point here is that this project does not tend itself to unit tests, and would require setting up more integrated, end-

[2020-05-08 17:17] mkhorton commented on #2117
Ok, that sounds reasonable. And I'm sure that you know the requirements of your project better than I do, so I did not mean to lecture on this point.

Hear you on this!

[2020-05-08 18:32] mdozmorov commented on #2170
The software LTRpred software for annotation of retrotransposons within genomic sequences is fully functional. The author should be applauded for the amount of effort to make the software accessible to users. Besides the original purpose, the GitHub repository contains good examples of complex Docker files that automate the installation of dependencies and enable the use of the software both in th

[2020-05-09 15:52] babinyurii commented on #2014
Hi @will-rowe! Thank you for reminding me. I'm sorry for overlooking your merge in a hurry. I've already put the changes you proposed into the paper.

[2020-05-10 12:06] jbrezmorf commented on #2176
@jedbrown Hi Jed. Trying to proceed with the review I realized that my JOSS invitation has expired and I can not fill the checklist. Sorry, I didn't notice the invitation before.

[2020-05-10 12:24] arfon commented on #2176
@whedon re-invite @jbrezmorf as reviewer

[2020-05-10 12:24] whedon commented on #2176
OK, the reviewer has been re-invited.

@jbrezmorf please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-05-10 12:25] arfon commented on #2176
☝️ You should be re-invited now.

[2020-05-10 16:36] arfon commented on #1608
:wave: @kellieotto, @jjmcnelis - how are you getting along with your reviews? I realize these are challenging times for many, so please don't take this enquiry as anything other than a friendly enquiry to see how things are going here.

@kellieotto - it looks like @Ji-Zhang responded to your dependency issues in https://github.com/Ji-Zhang/datacleanbot/issues/10 .

[2020-05-10 16:39] arfon commented on #2029
Just a quick update from me - I emailed @marianadobre this morning to see if they were able to complete this review soon. If not, I propose that we accept this submission with the two complete reviews we already have.

[2020-05-10 16:41] arfon commented on #2165
👋 @Shibabrat, @szhorvat - how are you both getting on with your reviews? I realize these are challenging times for many, so please don't take this enquiry as anything other than a friendly enquiry to see how things are going here.

[2020-05-10 17:11] dfm commented on #1958
@whedon set 10.5281/zenodo.3813708 as archive

[2020-05-10 17:12] whedon commented on #1958
OK. <a href="https://doi.org/10.5281/zenodo.3813708" target="_blank">10.5281/zenodo.3813708</a> is the archive.

[2020-05-10 17:13] dfm commented on #1958
@whedon set v1.0.4 as version

[2020-05-10 17:13] whedon commented on #1958
OK. v1.0.4 is the version.

[2020-05-10 17:14] dfm commented on #1958
@whedon accept

[2020-05-10 17:14] whedon commented on #1958
[code]

[2020-05-10 17:14] whedon commented on #1958
[code]

[2020-05-10 17:15] whedon commented on #1958
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1442

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1442, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-05-10 17:46] kiretd commented on #1958
Nice, it looks good to me, from what I can tell.

[2020-05-10 18:35] szhorvat commented on #2165
I am sorry about taking so long. I still need to go through implementing a couple of models with the tool before I can write a proper review.

[2020-05-10 18:56] aslakbergersen commented on #2089
@chennachaos, thank you for your comments. We apologize for the delayed response.

To address the above points, we have added the text following below to the paper, with changes highlighted in bold. We have further specified the motivation, target audience, and why *some* could prefer turtleFSI over other solvers. We have also added some reference to other open-source solvers with FSI capabilities

[2020-05-10 18:58] aslakbergersen commented on #2089
@whedon generate pdf

[2020-05-10 18:59] whedon commented on #2089
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02089/joss.02089/10.21105.joss.02089.pdf)

[2020-05-10 20:18] arfon commented on #2165
No problem at all, thanks for the update @szhorvat !

[2020-05-10 21:18] kellieotto commented on #1608
@arfon thanks for the reminder. I followed up with another dependency error in that issue.

[2020-05-10 21:19] arfon commented on #1958
@whedon accept deposit=true

[2020-05-10 21:19] whedon commented on #1958
[code]

[2020-05-10 21:20] whedon commented on #1958
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1259594215929122816) 👈 🐦🐦🐦

[2020-05-10 21:20] whedon commented on #1958
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1443
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01958](https://doi.org/10.21105/joss.01958)
2. If everything looks g

[2020-05-10 21:23] arfon commented on #1958
@effigies, @sauln - many thanks for your reviews here and to @dfm for editing this submission ✨

@kiretd - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-05-10 21:23] #1958 closed

[2020-05-10 21:23] whedon commented on #1958
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01958/status.svg)](https://doi.org/10.21105/joss.01958)

**We need your help!**

Journal of Open Source Softwa

[2020-05-10 21:28] dfm commented on #1958
@effigies, @sauln: Also a huge thanks from me for your reviews!

@kiretd: Congrats on your paper!

[2020-05-10 21:37] kiretd commented on #1958
@dfm, @effigies, @sauln
Thanks all! Now that it's all done, I just want to say that this is easily the most transparent, innovative, and overall best review phase I've been through with a journal. I really hope this is what peer review evolves into as the years go on. Not just that, but you all were also extremely helpful and educational throughout the process, so really well done.

[2020-05-11 08:11] FlorianRhiem commented on #2107
@trallard I have just released SampleDB v0.10.0. Could you please run `@whedon set v0.10.0 as version` so that it is updated here? Thank you!

[2020-05-11 09:39] peanutfun commented on #2165
@szhorvat, please feel free to contact us about any minor issues you might encounter. We have a dedicated "question" label for issues in our repository. This helps us keep track of possible pitfalls and features that are not easy to find within the documentation. To our knowledge, Utopia had no model developers who were completely detached from our research group so far. Therefore, this kind of in

[2020-05-11 10:31] arfon commented on #2029
@whedon generate pdf

[2020-05-11 10:31] arfon commented on #2029
@whedon check references

[2020-05-11 10:32] whedon commented on #2029
[code]

[2020-05-11 10:33] arfon commented on #2029
@ryanpmcg - could you take a look at the list of suggested DOIs for your references and add them to your BibTeX as entries like this `doi = {10.18637/jss.v045.i03}` if they are correct?

[2020-05-11 10:43] arfon commented on #2029
@whedon generate pdf

[2020-05-11 10:43] whedon commented on #2029
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02029/joss.02029/10.21105.joss.02029.pdf)

[2020-05-11 10:44] arfon commented on #2029
@ryanpmcg - Once you've addressed the DOI question above, could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the

[2020-05-11 11:51] will-rowe commented on #2014
@whedon generate pdf

[2020-05-11 11:51] whedon commented on #2014
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02014/joss.02014/10.21105.joss.02014.pdf)

[2020-05-11 12:02] will-rowe commented on #2014
Thanks @babinyurii - this all looks great to me. I think we can accept this now - thanks to everyone for their hard work.

@babinyurii - please issue a new tagged release and archive it on Zenodo. Then post back here with the new version number and the DOI.

[2020-05-11 15:56] majensen commented on #2006
@uellue @fedorov (and @alvarolopez ) - checking in. I see Andrey has only the three Functionality items to check off before completion. I know Dieter has been working through a number of improvements. My thought is, if the functionality as it stands (in medias res) is acceptable to Andrey, maybe we can go forward with completion of the review and towards a recommendation for publication. Dieter, y

[2020-05-11 15:57] majensen commented on #2168
@balhoff @wdduncan - any movement on checking Sam's work? thanks

[2020-05-11 16:51] uellue commented on #2006
@majensen @fedorov the installation instructions have been fixed, as far as I am aware. We now have some information on reference datasets, too.

The performance bottleneck that we found when addressing the performance tests is mostly fixed. In detail, sparse matrix products with memory-mapped partitions led to large intermediate result buffers that didn't fit the L3 cache. That severely hurt perf

[2020-05-11 16:52] BayesForDays commented on #2136
Hi @deniederhut, I'm checking out the paper right now and I had a couple of questions/comments. One concern is about the wordnet functionality -- and in particular your motivations for using `nltk` to access wordnet. Do you think it makes sense to specify a specific version of nltk?

On a conceptual level, I think it would be helpful for readers if you could elaborate a bit on the wordnet function

[2020-05-11 17:15] BayesForDays commented on #2136
I have a handful of questions about the API, nothing major I think.

* Some additional documentation explaining the main modules (e.g. `text`) would be very helpful. For example, it wasn't clear to me why `text` has to be imported rather than it being easy to import a function like `add_hypernyms` directly from `niacin`. The `text` import could also be clarified in the documentation and the paper

[2020-05-11 17:30] fedorov commented on #2006
What I referred to in my comments were not related packages, but packages similar in functionality. I recall you mention several of those in your paper, but I did not find them in the documentation. I believe it would be helpful for a user who searches for tools implementing certain functionality to understand better how your package is unique relative to other similar packages (if such exist).

👍

[2020-05-11 17:50] ryanpmcg commented on #2029
@whedon generate pdf

[2020-05-11 17:51] whedon commented on #2029
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02029/joss.02029/10.21105.joss.02029.pdf)

[2020-05-11 17:52] ryanpmcg commented on #2029
@whedon check references

[2020-05-11 17:53] whedon commented on #2029
[code]

[2020-05-11 18:35] ryanpmcg commented on #2029
@arfon I have created the archive on Zenodo and updated the DOIs. Here is the doi for Zenodo:
10.5281/zenodo.3820633

[2020-05-11 18:54] arfon commented on #2029
@whedon set 10.5281/zenodo.3820633 as archive

[2020-05-11 18:54] whedon commented on #2029
OK. <a href="https://doi.org/10.5281/zenodo.3820633" target="_blank">10.5281/zenodo.3820633</a> is the archive.

[2020-05-11 18:56] arfon commented on #2029
@whedon accept

[2020-05-11 18:56] whedon commented on #2029
[code]

[2020-05-11 18:57] whedon commented on #2029
[code]

[2020-05-11 18:57] whedon commented on #2029
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1444

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1444, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-05-11 18:58] arfon commented on #2029
@whedon accept deposit=true

[2020-05-11 18:58] whedon commented on #2029
[code]

[2020-05-11 18:59] whedon commented on #2029
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1259921073123946496) 👈 🐦🐦🐦

[2020-05-11 18:59] whedon commented on #2029
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1445
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02029](https://doi.org/10.21105/joss.02029)
2. If everything looks g

[2020-05-11 19:08] arfon commented on #2029
@kbarnhart, @marianadobre, @baharmon - many thanks for your reviews here ✨

@ryanpmcg - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-05-11 19:08] #2029 closed

[2020-05-11 19:08] whedon commented on #2029
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02029/status.svg)](https://doi.org/10.21105/joss.02029)

**We need your help!**

Journal of Open Source Softwa

[2020-05-11 19:14] babinyurii commented on #2014
Thanks @will-rowe
new version is: 0.1.3
doi is: 10.5281/zenodo.3820660

https://zenodo.org/record/3820660#.XrmVDcRR3IU

[2020-05-12 01:44] lpantano commented on #2170
@dcassol , how is your reviewing coming? Could you give us some update?

[2020-05-12 02:34] dcassol commented on #2170
@lpantano Yes, by the end of the week I can give you feedback. Thanks!

[2020-05-12 03:21] davismcc commented on #2152
@drvinceknight This looks like an interesting paper, but I feel much better suited to reviewing papers in the bioinformatics/genomics area than for auditing like this paper, so I won't review this one. Next time!

[2020-05-12 06:18] drwaseemsheikh commented on #2016
Hi.

Regarding Issue #7 (where a patient's record was not being saved when only the patient tab was filled in): This bug has been fixed in my last commit.

Regarding Issue #12 (research applications): The co-author of this paper (Dr. Nadeem) is a board-certified ENT specialist and he is using this software in his research in the following specific contexts.

1. The software can be used to compare

[2020-05-12 06:54] VivianePons commented on #1988
@whedon add @victorvalgenti as reviewer

[2020-05-12 06:54] whedon commented on #1988
OK, @victorvalgenti is now a reviewer

[2020-05-12 06:56] VivianePons commented on #1988
@whedon start review

[2020-05-12 06:56] whedon opened #2183 "[REVIEW]: Scripts for Easier Use of Spice (SEUS): A Perl script package for simulating and creating batches of circuit netlists for Monte Carlo simulations when using Ngspice or Ngspice-based simulators"
**Submitting author:** @miketuri (<a href="http://orcid.org/0000-0002-9171-5305">Michael Turi</a>)
**Repository:** <a href="https://bitbucket.org/miketuri/perl-spice-sim-seus/" target ="_blank">https://bitbucket.org/miketuri/perl-spice-sim-seus/</a>
**Version:** v1.1.4
**Editor:** @VivianePons
**Reviewer:** @mzszym, @victorvalgenti
**Archive:** <a href="https://doi.org/10.5281/zenodo.4017949" targ

[2020-05-12 06:56] whedon commented on #1988
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2183.

[2020-05-12 06:56] #1988 closed

[2020-05-12 06:56] whedon commented on #2183
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mzszym, @victorvalgenti it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2020-05-12 06:57] whedon commented on #2183
[code]

[2020-05-12 06:57] whedon commented on #2183
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02183/joss.02183/10.21105.joss.02183.pdf)

[2020-05-12 08:00] will-rowe commented on #2014
@whedon generate pdf

[2020-05-12 08:01] whedon commented on #2014
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02014/joss.02014/10.21105.joss.02014.pdf)

[2020-05-12 08:04] will-rowe commented on #2014
@whedon check references

[2020-05-12 08:04] whedon commented on #2014
[code]

[2020-05-12 08:08] will-rowe commented on #2014
@whedon set 10.5281/zenodo.3820660 as archive

[2020-05-12 08:08] whedon commented on #2014
OK. <a href="https://doi.org/10.5281/zenodo.3820660" target="_blank">10.5281/zenodo.3820660</a> is the archive.

[2020-05-12 08:08] will-rowe commented on #2014
@whedon set 0.1.3 as version

[2020-05-12 08:08] whedon commented on #2014
OK. 0.1.3 is the version.

[2020-05-12 08:09] will-rowe commented on #2014
@whedon accept

[2020-05-12 08:09] whedon commented on #2014
[code]

[2020-05-12 08:09] whedon commented on #2014
[code]

[2020-05-12 08:09] whedon commented on #2014
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1446

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1446, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-05-12 08:23] jdber1 commented on #2128
Hi @kyleniemeyer, any progress on finding reviewers?
Happy to suggest alternatives if necessary.

[2020-05-12 09:12] xuanxu commented on #2101
Hi @christinahedges @aureliocarnero, hope you are safe and well. Did you have the time to check the latest changes Nora made?

[2020-05-12 09:15] aureliocarnero commented on #2101
Thank you for the reminder. I will check ASAP.

El mar., 12 may. 2020 a las 10:13, Juanjo Bazán (<notifications@github.com>)
escribió:

[2020-05-12 09:57] aureliocarnero commented on #2101
So @noraeisner I found another error when running both the parallelized example and the unittests. There is an error with download and database issues...

======================================================================
ERROR: test_downloadLC (LATTE.tests.test_data_download.TestDownloadLC)
----------------------------------------------------------------------
Traceback (most recent call last

[2020-05-12 11:00] arfon commented on #2014
@whedon accept deposit=true

[2020-05-12 11:00] whedon commented on #2014
[code]

[2020-05-12 11:01] whedon commented on #2014
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1260163193281921024) 👈 🐦🐦🐦

[2020-05-12 11:01] whedon commented on #2014
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1447
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02014](https://doi.org/10.21105/joss.02014)
2. If everything looks g

[2020-05-12 11:18] arfon commented on #2014
@lamhm, @betteridiot - many thanks for your reviews here and to @will-rowe for editing this submission ✨

@babinyurii - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-05-12 11:18] #2014 closed

[2020-05-12 11:18] whedon commented on #2014
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02014/status.svg)](https://doi.org/10.21105/joss.02014)

**We need your help!**

Journal of Open Source Softwa

[2020-05-12 11:54] noraeisner commented on #2101
@aureliocarnero, I'm so sorry! One of the files went missing in my last git push (my computer had run out of space and started uploading random files to the cloud and off my computer). I've updated the git (unittests only work with the github version as the files that are needed for the tests are large, and it was recommended to keep the pip version as small as possible). I'm so sorry and thank yo

[2020-05-12 12:13] aureliocarnero commented on #2101
@noraeisner no problem! That is why we review it, so it ends up being a clean and neat product = ).
I commit errors all the time.

So, I did a fresh installation, using pip3 install tessLATTE, and I get the error I was getting when I was doing the unittest. I can introduce a TIC ID and sectors, but then, this error message appears:

raceback (most recent call last):
  File "/home/carnero/anaconda3

[2020-05-12 12:32] noraeisner commented on #2101
Thank you! I just looked into that error message and it appears to be a problem with the astropy stored caches (https://github.com/astropy/astropy/issues/9607) so I have added the following two lines to the start of the code in LATTteutils.py:

from astropy.utils.data import clear_download_cache
clear_download_cache()

I can't reproduce the same error on my end so I, unfortunately, can't check whe

[2020-05-12 13:17] aureliocarnero commented on #2101
@noraeisner everything working now.
Congratulations! Great work.
I have validated everything and in my opinion, is ready for publication.

[2020-05-12 13:19] noraeisner commented on #2101
I'm so glad that that worked and thank you so much for all your feedback and help with fixing these bugs :).

Thanks,
Nora

[2020-05-12 13:45] bstewart commented on #2156
Sure- I will likely be a bit slower and if someone could direct me to the guidelines/expectations I'd be grateful.  But happy to help out.

[2020-05-12 16:01] arfon commented on #2016
Thanks for the update @drwaseemsheikh. Regarding the usage in research, are there any papers/publications that could be cited?

[2020-05-12 16:32] christinahedges commented on #2101
@noraeisner thank you for addressing my comments, the documentation looks great, and the diagnostic plots are very helpful. This is ready for publication.

[2020-05-12 16:52] briandesilva commented on #2104
Great! Is there anything else we need to do to move things forward?

[2020-05-12 17:34] arfon commented on #2104
Sorry for the delay here @briandesilva - the handling editor (@terrytangyuan) has limited availability to edit right now but I can help moving this forward.

[2020-05-12 17:34] arfon commented on #2104
@whedon generate pdf

[2020-05-12 17:35] whedon commented on #2104
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02104/joss.02104/10.21105.joss.02104.pdf)

[2020-05-12 17:40] arfon commented on #2104
@whedon check references

[2020-05-12 17:40] whedon commented on #2104
[code]

[2020-05-12 17:41] arfon commented on #2104
@briandesilva - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the

[2020-05-12 17:52] xuanxu commented on #2101
Thank you @aureliocarnero and @christinahedges!

[2020-05-12 17:52] xuanxu commented on #2101
@whedon generate pdf

[2020-05-12 17:54] whedon commented on #2101
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02101/joss.02101/10.21105.joss.02101.pdf)

[2020-05-12 17:54] xuanxu commented on #2101
@whedon check references

[2020-05-12 17:55] whedon commented on #2101
[code]

[2020-05-12 17:56] terrytangyuan commented on #2104
@arfon Thanks. Please take it from here since it will be ready for handing over to you anyways soon for final acceptance and deposit.

[2020-05-12 18:20] mjsottile commented on #2008
:wave: @dmey - Just checking to see if you've heard back with the information you were waiting on to see if we're ready to move forward.  I believe that the metadata issue is fine with respect to keeping the repository sane and avoid unnecessary forking.

[2020-05-12 18:32] Athelena commented on #2177
I got through Build with no issues but I tried Apply twice and I don't seem to have the attribute "predNO2" in my output

![image](https://user-images.githubusercontent.com/19203377/81731668-8e7cd000-948f-11ea-9a98-15c118ee576a.png)

[2020-05-12 19:14] joaomcteixeira commented on #2175
Hi @richardjgowers and @Luthaf,

Please let me know if there are any additional materials or resources I can provide to facilitate your review process.

Best,

[2020-05-12 19:55] fortinma commented on #2177
the one time I got through, that was also my issue. I did not have the predNO2 attribute

[2020-05-13 07:04] anmolter commented on #2177
I've found the problem: I made a mistake in the documentation. The feature class with the predicted values is called pred_lyr not LURApply_receptors. If you open pred_lyr, there should be a predNO2 attribute. I've changed the documentation to show pred_lyr.

[2020-05-13 10:46] martinmodrak commented on #2016
Sorry for the delay. I've just installed an updated version (it is a bit hard to verify that this is the latest version, as the version in the Audiometry.exe metadata has not changed and is still 1.0.0, but the file date is April 20th, so I guess this is correct).

Issue #7 persists, I am still unable to save patients and their data.

As for the scientific use: I think saying that the fact that yo

[2020-05-13 12:40] xuanxu commented on #2101
@noraeisner I've issued a pull request in your LATTE repo fixing some typos in the paper text. Can you take a look at it?

[2020-05-13 12:49] noraeisner commented on #2101
@xuanxu Thank you so much for fixing the typos. I have merged the pull request.

[2020-05-13 12:53] xuanxu commented on #2101
Thanks @noraeisner! Everything looks ready now.
At this point could you make a new release of this software that includes the changes that have resulted from this review?. Then, please make an archive of the software in Zenodo (or a similar service) For the Zenodo archive make sure that:

- The title of the archive is the same as the JOSS paper title
- That the authors of the archive are the same

[2020-05-13 13:41] whedon commented on #2049
:wave: @sjvrijn, please update us on how things are progressing here.

[2020-05-13 15:59] Athelena commented on #2177
I am not an expert in LUR modelling but as this software is aimed at GIS specialist I’m responding from that perspective.

My notes on the review based on the review checklist:

Documentation
-Functionality documentation: While the set up, over-view, and tutorial are well documented there is very little said about the LUR model itself. What are the core principles? How does the multiple linear reg

[2020-05-13 16:26] dmey commented on #2008
@mjsottile thanks for letting me know about the metadata. About reference and DOI, I have checked again but I was told that this will a little longer. I will let you know as soon as I hear back -- hopefully in the next few days.

[2020-05-14 18:46] kyleniemeyer commented on #2128
@jdber1 I still have two more to reach out to, will try and get back to you.

[2020-05-14 19:45] arfon commented on #2126
:wave: @hugoledoux - did you manage to take a look at that list of suggested reviewers?

[2020-05-14 22:36] cryos commented on #2128
Apologies, I missed this the first time. I should be able to get to this on the weekend. Sorry about the delayed response, got behind on some of my mail folders.

[2020-05-14 22:57] kyleniemeyer commented on #2128
@cryos Thanks! I'll add you as a reviewer.

[2020-05-14 22:58] kyleniemeyer commented on #2128
@whedon add @cryos as reviewer

[2020-05-14 22:58] whedon commented on #2128
OK, @cryos is now a reviewer

[2020-05-14 23:16] llimeht commented on #2128
I love (and use) this software but would have to decline to review it due to a conflict of interest. Thanks for thinking of me though.

[2020-05-15 01:40] majensen commented on #2006
@whedon generate pdf

[2020-05-15 01:41] whedon commented on #2006
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02006/joss.02006/10.21105.joss.02006.pdf)

[2020-05-15 06:33] anmolter commented on #2177
Thanks @Athelena , that's very helpful. I'll try to make changes over the next week or so. Just a quick question for clarification: you said there should be more information on the output files that are created, do you mean in the tutorial section or in the help section for the output folder (p19 in pdf)?

[2020-05-15 07:34] hugoledoux commented on #2126
@desilinguist happy to wait till beginning June for your review, I'll add you, thanks

[2020-05-15 07:36] hugoledoux commented on #2126
@arfon I contacted 2 potential reviewers, one just accepted (see above), waiting for the other one. If no answer by next week I'll try others

[2020-05-15 07:37] hugoledoux commented on #2126
@whedon assign @desilinguist as reviewer

[2020-05-15 07:37] whedon commented on #2126
OK, @desilinguist is now a reviewer

[2020-05-15 07:39] hugoledoux commented on #2126
@whedon start review

[2020-05-15 07:39] whedon opened #2184 "[REVIEW]: Omorfi: Open morphology of Finnish"
**Submitting author:** @flammie (<a href="http://orcid.org/0000-0003-1207-5395">Tommi Pirinen</a>)
**Repository:** <a href="https://github.com/flammie/omorfi/" target ="_blank">https://github.com/flammie/omorfi/</a>
**Version:** 2020-05-11
**Editor:** @hugoledoux
**Reviewers:** @desilinguist, @alvations
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/110b650c2900d538291af

[2020-05-15 07:39] whedon commented on #2126
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2184.

[2020-05-15 07:39] #2126 closed

[2020-05-15 07:39] whedon commented on #2184
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @desilinguist it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2020-05-15 07:41] whedon commented on #2184
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02184/joss.02184/10.21105.joss.02184.pdf)

[2020-05-15 08:45] Athelena commented on #2177
Mainly for the tutorial section, I was following the html version. Also a link to the ESCAPE methodology would be useful, I tried to go to their website but it seems to be down? It's hard to interpret the results otherwise.

[2020-05-15 12:10] rgerum commented on #1989
Dear Editors and Reviewers,
As already quite some time passed since the first review arrived, I now take the liberty to already respond to the first reviewer before the second review is there.

@tacaswell, Thank you very much for the positivity assessment of the package.

- I added a guilde line paragraph to the readme.md file

- I added a section to the documentation to document the functions of

[2020-05-15 13:37] JonasRieger commented on #2181
@arfon @karthik In case you missed it, I would like to mention that a second reviewer was found in https://github.com/openjournals/joss-reviews/issues/2156.

[2020-05-15 13:48] mmoussallam commented on #2154
Hi @faroit

Did you had time to advance on this one ?

Best,
Manuel

[2020-05-15 14:10] arfon commented on #2181
@whedon add @bstewart as reviewer

[2020-05-15 14:10] whedon commented on #2181
OK, @bstewart is now a reviewer

[2020-05-15 14:12] arfon commented on #2181
:wave:  @bstewart - many thanks for agreeing to review this submission - I've just helped out @karthik by adding your checklist to the top of this issue thread.

Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concer

[2020-05-15 16:20] drvinceknight commented on #2152
Thanks for letting me know @davismcc I understand. :)

[2020-05-15 16:26] MariaTsantaki commented on #2048
Hi all!
I moved MOOG to another repo and it will be called at installation. I hope now this issue is covered.

[2020-05-15 17:58] karthik commented on #2181
Thanks @arfon!

@bstewart Thanks very much for agreeing to review. Please reach out if you have any questions.

[2020-05-15 20:59] balhoff commented on #2168
Yep it's working for me now; I'll continue the review.

[2020-05-16 16:54] wdduncan commented on #2168
@sap218
I tried installing the software, but I am having issues. Steps so far:
1. Create venv using `python3 -m venv .env`, and active environment (works fine).
2. Run `pip install -r requirements.txt` (works fine).

But, when I run `python3 setup.py install --user`, I get message/error:
[code]
I fixed this by removing `--user`. Perhaps it is related to my using a virtual environment? if so, it wo

[2020-05-16 17:05] sap218 commented on #2168
@wdduncan Thank you so much! I will improve the documentation for users to understand, I see the problem with the `arise` failure (I made a minor typo in the documentation, I will fix that also). Thank you again!

[2020-05-17 13:54] xuanxu commented on #2048
Thanks @MariaTsantaki!
@warrickball, @ipelupessy: Can you try the new installation method (it solves the License issue) and take a look at any pending items left from your checklist?

[2020-05-17 16:02] corentin-dev commented on #2178
**Scientific paper**

The scientific paper is clear but short. It clearly states the motivations, the architecture and the main equations solved. It does not state any major contribution to the field and mainly aims at providing an up to date open source package written in python and using state-of-the-art procedures.

The paper could list component models, fluid models, connections, etc... It doe

[2020-05-17 17:15] StanczakDominik commented on #2182
For the "State of the field: Do the authors describe how this software compares to other commonly-used packages?" checklist item, I think this section should be sufficient:

[2020-05-17 17:19] StanczakDominik commented on #2182
- "A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is?" is being dealt with by https://github.com/joglekara/VlaPy/issues/31
- "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support", by https://github.com/

[2020-05-17 19:32] jbrezmorf commented on #2176
Software:
=======
no major issues, some tips fo improvements in
[the issue](https://github.com/idaholab/moose/issues/15268).

- fully coupled THM multiphase
- use generic Newton method for solving the system of equations
- claimed implementation of all types of THM relationships
- supported by detailed documentation both for usage as for used numerical methods

Summary:
=======
well written,  a ty

[2020-05-18 01:47] majensen commented on #2168
Just a qn @wdduncan - is it weird to use --user when installing into a virtual environment? I wouldn't think to do it, since the environment is isolated from everything to begin with. (I only have toddler python chops, however.)

[2020-05-18 01:53] wdduncan commented on #2168
@majensen I'm not sure, I usually don't use the `--user` option with `pip`, unless I run into permission issues. Since, I was testing the software, I didn't want to affect the library I have. My guess is that in the venv, there isn't a "user" specified. So, `--user` doesn't make sense.  But, I may be wrong about this ... I'm not a virtual environment guru :).

In any case, it is probably best docu

[2020-05-18 02:01] majensen commented on #2006
Thanks guys. Since the associate editor-in-chief will look askance at unchecked items, let me propose that when @fedorov is satisfied with @uellue 's updates to paper, software, or both, that @fedorov can check the remaining two boxes and ping me here.
At that point, I will do a proofing once-over which may result in a minor pull request for wording or reference resolution, then will we call in th

[2020-05-18 02:09] majensen commented on #2168
Ah! Well I believe the virtual environment is truly isolated from both your system install and your user packages. Everything is stored in the venv, including the python binary, pip and everything else. But - better safe than sorry.
With python 3.7.6 (in an active venv) I get a more straightforward message:
`jensenma$ source venv/bin/activate
(venv) jensenma$ pip install --user requests
ERROR: Can

[2020-05-18 02:20] wdduncan commented on #2168
Yes, you right @majensen!
I didn't mean to imply it was a jabberwocky thing. Only that that the installation directions might need to be updated with info about using venv in case someone tries to install in a virtual environment, gets an error and quits w/o further investigating the error.

[2020-05-18 03:03] fedorov commented on #2006
@majensen done!

[2020-05-18 07:48] noraeisner commented on #2101
@xuanxu I have upload the new release, v1.0.0, to Zenodo under the DOI 10.5281/zenodo.3831586. Thank you!

[2020-05-18 08:26] coljac commented on #2180
Sorry to chime in here; I noticed @omshinde was willing to review but was waiting for confirmation. Does anything further need to be done @gkthiruvathukal?

[2020-05-18 09:06] alex-konovalov commented on #1835
@VivianePons thanks - looks good to me now, happy to go to the next phase. @falque what do you think?

[2020-05-18 09:50] xuanxu commented on #2101
Great, thanks @noraeisner!

[2020-05-18 09:51] xuanxu commented on #2101
@whedon set 10.5281/zenodo.3831586 as archive

[2020-05-18 09:51] whedon commented on #2101
OK. <a href="https://doi.org/10.5281/zenodo.3831586" target="_blank">10.5281/zenodo.3831586</a> is the archive.

[2020-05-18 09:52] xuanxu commented on #2101
@whedon set v1.0.0 as version

[2020-05-18 09:52] whedon commented on #2101
OK. v1.0.0 is the version.

[2020-05-18 09:52] xuanxu commented on #2101
@whedon generate pdf

[2020-05-18 09:55] whedon commented on #2101
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02101/joss.02101/10.21105.joss.02101.pdf)

[2020-05-18 09:56] xuanxu commented on #2101
@whedon accept

[2020-05-18 09:56] whedon commented on #2101
[code]

[2020-05-18 09:58] whedon commented on #2101
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1448

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1448, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-05-18 10:16] sap218 commented on #2168
@wdduncan I fixed that `arise` issue so you should be able to run that command now :-) I will be improving the documentation today

[2020-05-18 11:02] arfon commented on #2101
@whedon accept deposit=true

[2020-05-18 11:02] whedon commented on #2101
[code]

[2020-05-18 11:04] whedon commented on #2101
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1262338226251075584) 👈 🐦🐦🐦

[2020-05-18 11:04] whedon commented on #2101
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1449
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02101](https://doi.org/10.21105/joss.02101)
2. If everything looks g

[2020-05-18 11:08] arfon commented on #2101
@christinahedges, @aureliocarnero - many thanks for your reviews here and to @xuanxu for editing this submission ✨

@noraeisner :wave: hope you are well! Your paper is now accepted into JOSS :zap::rocket::boom:

[2020-05-18 11:08] #2101 closed

[2020-05-18 11:08] whedon commented on #2101
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02101/status.svg)](https://doi.org/10.21105/joss.02101)

**We need your help!**

Journal of Open Source Softwa

[2020-05-18 11:58] sap218 commented on #2168
@wdduncan i have also improved the documentation to include explanations of the outputs, see the [SCENARIO.md](https://github.com/sap218/jabberwocky-tests/blob/master/SCENARIO.md)

[2020-05-18 16:12] brendonhall commented on #1969
Hi everyone.  Glad to see the progress on this. I was able to follow the installation instructions, and get everything installed and the dev environment set up.  I'm quite familiar with the workflow this library is trying to enable, and have written many scripts/ML models to extract and analyze core images.  So I'm quite excited about this library.

Some things I've noticed so far:
- requirements

[2020-05-18 16:22] brendonhall commented on #1969
I'm still finding to hard to figure out how to 'get started'.  It would be great if there was a clear tutorial, ideally using a jupyter notebook.  It should run `out of the box` as much as possible, using the provided data.  Besides running the notebooks that are supplied (and see errors above), the workflow to perform a classification isn't clear.

Also, the description of how to label the cores

[2020-05-18 19:49] briandesilva commented on #2104
@arfon - I have made a new release including all the changes prompted by this review. Here is the Zenodo DOI for PySINDy: [![DOI](https://zenodo.org/badge/186055899.svg)](https://zenodo.org/badge/latestdoi/186055899)

[2020-05-18 20:13] arfon commented on #2104
@whedon set 10.5281/zenodo.3832319 as archive

[2020-05-18 20:13] whedon commented on #2104
OK. <a href="https://doi.org/10.5281/zenodo.3832319" target="_blank">10.5281/zenodo.3832319</a> is the archive.

[2020-05-18 20:13] arfon commented on #2104
@whedon accept

[2020-05-18 20:13] whedon commented on #2104
[code]

[2020-05-18 20:13] whedon commented on #2104
[code]

[2020-05-18 20:14] whedon commented on #2104
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1450

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1450, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-05-18 20:15] arfon commented on #2104
@whedon accept deposit=true

[2020-05-18 20:15] whedon commented on #2104
[code]

[2020-05-18 20:15] whedon commented on #2104
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1262477033113817089) 👈 🐦🐦🐦

[2020-05-18 20:15] whedon commented on #2104
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1451
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02104](https://doi.org/10.21105/joss.02104)
2. If everything looks g

[2020-05-18 20:18] arfon commented on #2104
@sixpearls, @dawbarton - many thanks for your reviews here and to @terrytangyuan for editing this submission ✨

@briandesilva - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-05-18 20:18] #2104 closed

[2020-05-18 20:18] whedon commented on #2104
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02104/status.svg)](https://doi.org/10.21105/joss.02104)

**We need your help!**

Journal of Open Source Softwa

[2020-05-18 21:11] faroit commented on #2135
`audiomate` is a python based package that addresses the extraction, transformation and loading of audio datasets.
It comes with a large list of available datasets and many of them can be automatically downloaded from within python. The package is very well done and is excellently documented. It offers great value for the scientific audio community.

## Concerns
I added a few concerns in the issue

[2020-05-18 23:30] kyleniemeyer commented on #2178
Thanks @corentin-dev!

@fwitte, can you respond to these comments? There are a few specific requests/suggestions.

[2020-05-19 04:34] sara-02 commented on #2136
Hey @deniederhut I recently came across some more references that you can add to your literature review and introduction if they not already spoken about.
https://github.com/makcedward/nlpaug
https://github.com/QData/TextAttack
Also, an interesting blog giving an overview of the work you aim to achieve:
https://amitness.com/2020/05/data-augmentation-for-nlp/

[2020-05-19 05:01] gkthiruvathukal commented on #2180
Hi @omshinde, thanks for your folllow up. I, too, have been a bit unavailable because of COVID-19 and am now getting back into a routine. I will add you as a reviewer now.

[2020-05-19 05:01] gkthiruvathukal commented on #2180
@whedon add @omshinde as reviewer

[2020-05-19 05:01] whedon commented on #2180
OK, @omshinde is now a reviewer

[2020-05-19 05:02] gkthiruvathukal commented on #2180
@omshinde I think it worked! Let me know if everything is working so you can begin review. Thank you so much for being willing to help JOSS (and me!)

[2020-05-19 10:22] So-Cool commented on #1904
Hi @arfon and @arokem,
apologies for the delay. The release tag is [`0.1.0`](https://github.com/fat-forensics/fat-forensics/releases/tag/0.1.0). The DOI of the release is [10.5281/zenodo.3833199](https://doi.org/10.5281/zenodo.3833199).

[2020-05-19 10:30] arfon commented on #2180
@gkthiruvathukal - you'll need to edit the issue body at the top of this list to add a reviewer checklist for @omshinde. Whedon doesn't know how to do this yet sorry.

Any problems, just let me know and I can help out.

[2020-05-19 10:39] arfon commented on #1904
@whedon set 10.5281/zenodo.3833199 as archive

[2020-05-19 10:39] whedon commented on #1904
OK. <a href="https://doi.org/10.5281/zenodo.3833199" target="_blank">10.5281/zenodo.3833199</a> is the archive.

[2020-05-19 10:39] arfon commented on #1904
@whedon generate pdf

[2020-05-19 10:40] whedon commented on #1904
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01904/joss.01904/10.21105.joss.01904.pdf)

[2020-05-19 10:45] arfon commented on #1904
@whedon accept

[2020-05-19 10:45] whedon commented on #1904
[code]

[2020-05-19 10:46] whedon commented on #1904
[code]

[2020-05-19 10:46] whedon commented on #1904
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1452

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1452, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-05-19 10:48] arfon commented on #1904
@whedon accept deposit=true

[2020-05-19 10:48] whedon commented on #1904
[code]

[2020-05-19 10:48] whedon commented on #1904
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1262696721521532929) 👈 🐦🐦🐦

[2020-05-19 10:48] whedon commented on #1904
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1453
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01904](https://doi.org/10.21105/joss.01904)
2. If everything looks g

[2020-05-19 10:53] arfon commented on #1904
@bernease, @osolari - many thanks for your reviews here and to @arokem for editing this submission ✨

@So-Cool - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-05-19 10:53] #1904 closed

[2020-05-19 10:53] whedon commented on #1904
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01904/status.svg)](https://doi.org/10.21105/joss.01904)

**We need your help!**

Journal of Open Source Softwa

[2020-05-19 14:48] fwitte commented on #2178
Hi,
thank you for the review. I'll address your comments until tomorrow and will prepare the release thereafter. Some quick questions/remarks:

I wanted to stay within the 1000 word limit. As adding more formulas of the components available (e.g. parababolic trough and solar collector energy balances, stodolas cone law applied for turbines, compressor maps, ...) would add a lot of content to the p

[2020-05-19 14:53] kbarnhart commented on #1969
@brendonhall these are great comments and recommendations. Thanks for making them.

[2020-05-19 15:37] corentin-dev commented on #2178
Yes perfect !

Yes

I meant as the opposite of mathsf, but not as curvy as mathcal though.

Sorry, I'm writting from mobile...

[2020-05-19 17:31] omshinde commented on #2180
Thank you @gkthiruvathukal , @arfon (and whedon =D).
@gkthiruvathukal Yes, everything is working at my end except the reviewer checklist mentioned by @arfon and I have accepted the reviewer invitation too. I will start reviewing the work at my end following the reviewer's checklist present in one of the above comments, till my checklist is being prepared. Thanks again!

[2020-05-19 17:35] fwitte commented on #2178
@corentin-dev, thank you for your fast reply. I updated the manuscript and hope it suits your remarks well.

There is only one issue, that I am not sure of: What about the syllabification of "initialisation"? Is it correct or do I need to apply something manually here?

@whedon generate pdf from branch feature/joss_paper_review

[2020-05-19 17:36] fwitte commented on #2178
@whedon generate pdf from branch feature/joss_paper_review

[2020-05-19 17:36] whedon commented on #2178
[code]

[2020-05-19 17:36] whedon commented on #2178
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02178/joss.02178/10.21105.joss.02178.pdf)

[2020-05-19 19:18] kyleniemeyer commented on #2178
Hi @fwitte, I have a few editorial comments on the paper:

- [ ] For a few citations (such as Witte 2020 in the Summery and Casella & Leva 2003 in the Motivation paragraph, I think you want to change the citations from the `[@author:year]` format to the `@author:year` format, which will make the citation look like "Author et al. (year)".
- [ ] In the second paragraph of Motivation, the first sente

[2020-05-19 19:34] kyleniemeyer commented on #2128
Hi @jdber1, do you have any other reviewer recommendations?

[2020-05-19 20:33] warrickball commented on #2048
@whedon generate pdf

[2020-05-19 20:34] whedon commented on #2048
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02048/joss.02048/10.21105.joss.02048.pdf)

[2020-05-19 20:41] warrickball commented on #2048
Hi,

I have very limited capacity at the moment but I still think I can turn in a review. I just tried the latest version and ran into a few issues.

When I ran `install_fasma.sh`, it got as far as starting to compile MOOG but failed with:

[code]
I'm compilng with gfortran 10.1.1 and suspected this is an issue with evolving Fortran standards, so I added the flag `-std=legacy` to `FASMA/MOOG/Makef

[2020-05-19 22:36] deniederhut commented on #2136
Thanks for all the feedback @BayesForDays ! I've been working on adding some new transformations to flesh out the capabilities of the library a bit and those PRs should get merged in soon. I'll turn my attention to the issues you raised next (good catch on the nltk version btw -- it's in requirements.txt but not the setup file 😬). To address this one briefly here:

Totally. Cross-lingual support i

[2020-05-19 23:27] majensen commented on #2006
@whedon check references

[2020-05-19 23:28] whedon commented on #2006
[code]

[2020-05-19 23:40] majensen commented on #2006
@uellue - The proof looks good to me, just two items for you to review:

in paper.md line 140:
* "an adapted programming model" - Do you mean "adaptive" here?

in paper.bib line 5
* "Development of ..." - I note the title at the archive 10.5281/zenodo.2450624 is "Evolution of..."

If you would rectify these to your liking, what we need next is the DOI to an archive containing the repo. The slight

[2020-05-20 05:53] fwitte commented on #2178
Thank you for your comments and suggestions @kyleniemeyer, I have addressed all of them over here https://github.com/oemof/tespy/pull/181.

[2020-05-20 05:53] fwitte commented on #2178
@whedon generate pdf from branch feature/joss_paper_review

[2020-05-20 05:53] whedon commented on #2178
[code]

[2020-05-20 05:53] whedon commented on #2178
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02178/joss.02178/10.21105.joss.02178.pdf)

[2020-05-20 06:55] DanielAndreasen commented on #2048
Hi @warrickball,
Good you found a simple solution to the installation problem. It is worth including that in a FAQ (or even open and issue with your solution).

When I run `gfortran -v` I get a lot of information, but in the end it says `gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)`.
I will fix the small issue of removing the previous MOOG (in case one has to reinstall).

[2020-05-20 12:05] fwitte commented on #2178
@whedon generate pdf from branch feature/joss_paper_review

[2020-05-20 12:05] whedon commented on #2178
[code]

[2020-05-20 12:05] whedon commented on #2178
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02178/joss.02178/10.21105.joss.02178.pdf)

[2020-05-20 13:17] majensen commented on #2161
How are things @TomKellyGenetics? Hope they are settling down for you.

[2020-05-20 14:04] arfon commented on #2017
@whedon check references

[2020-05-20 14:05] whedon commented on #2017
[code]

[2020-05-20 14:06] arfon commented on #2017
@whedon generate pdf

[2020-05-20 14:07] whedon commented on #2017
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02017/joss.02017/10.21105.joss.02017.pdf)

[2020-05-20 14:09] arfon commented on #2017
@corybrunson - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the a

[2020-05-20 14:09] arfon commented on #2017
@whedon remove @njtierney as reviewer

[2020-05-20 14:10] whedon commented on #2017
OK, @njtierney is no longer a reviewer

[2020-05-20 14:11] arfon commented on #2111
:wave: @donaldRwilliams - just a friendly check in to see if you've managed to make these updates yet. JOSS is now reopen for submissions so we're actively trying to wrap up existing reviews.

[2020-05-20 14:13] arfon commented on #2062
:wave: @cscherrer - have you managed to make any progress since April? JOSS is now reopen for submissions so we're actively trying to wrap up existing reviews.

:wave: @malmaud - do you think you might be able to start work on your review sometime in the next few weeks?

[2020-05-20 14:15] arfon commented on #1865
👋 @shirubana - have you managed to complete the steps that @melissawm asked of you a few weeks ago? JOSS is now open again for submissions and we're actively trying to wrap up existing reviews.

[2020-05-20 14:16] arfon commented on #1906
:wave: @vijaysm and @sivaramambikasaran - how are you getting on with your reviews?

[2020-05-20 14:18] arfon commented on #2049
:wave: @jmadera and @zbeekman - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-05-20 14:22] donaldRwilliams commented on #2111
Hi:
Sounds good. Just now finished making the rather large changes to the documentation, README, etc. Will have the paper updated by end of the week

[2020-05-20 14:27] njtierney commented on #2017
Just wanted to chime in to apologize for my absence here, it looks like everything went well, I hope to be able to contribute in the future!

[2020-05-20 14:32] arfon commented on #2086
:wave: @cpgr, @corentine-dev, and @iljah - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-05-20 14:34] arfon commented on #2123
👋 @josephhardinee, @ekschuman - today we [reopened JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss) for new submissions and are checking in on our existing reviews. Do you think you might be able to wrap up your reviews in the next 2-3 weeks?

[2020-05-20 14:35] arfon commented on #2176
:wave: @rpodgorney - today we [reopened JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss) for new submissions and are checking in on our existing reviews. Do you think you might be able to wrap up your review in the next 2-3 weeks?

[2020-05-20 14:37] arfon commented on #2174
:wave: @NicolasHug - today we [reopened JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss) for new submissions and are checking in on our existing reviews. How are you getting on making these updates to your paper?

[2020-05-20 14:39] arfon commented on #2135
Thanks @faroit! @ynop - please let us know when you've had a chance to make changes in response to @faroit's review.

[2020-05-20 14:42] corybrunson commented on #2017
@arfon revisions during the review were only to the manuscript, and i happened to submit a necessary update to CRAN in the meantime (due to ggplot2 having discontinued dependence on plyr). Should i update the JOSS submission to this patch version? Either way, i'll plan to archive the current version on Zenodo as you've described.

[2020-05-20 15:26] zbeekman commented on #2049
I'd love to! Looks interesting!

[2020-05-20 15:30] arfon commented on #2017
Yes, I think that's fine.

[2020-05-20 15:30] arfon commented on #2049
@whedon add @zbeekman as reviewer

[2020-05-20 15:30] whedon commented on #2049
OK, @zbeekman is now a reviewer

[2020-05-20 15:32] arfon commented on #2049
Great, thanks so much @zbeekman! I've added a checklist for you at the top of this issue. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-05-20 15:33] arfon commented on #2017
No worries, I'm sure we'll invite you again sometime :-)

[2020-05-20 15:36] zbeekman commented on #2049
@arfon have the reviewer guidelines changed meaningfully in the past ~3-6 months? I'll skim them again to make sure I don't miss anything but I've reviewed a few JOSS papers before.

[2020-05-20 15:37] arfon commented on #2049
Nope, same as before.

[2020-05-20 16:08] corybrunson commented on #2017
@whedon commands

[2020-05-20 16:08] whedon commented on #2017
Here are some things you can ask me to do:

[code]

[2020-05-20 16:20] arfon commented on #2077
:wave: @NicoRenaud - when do you think you might be able to address @joaomcteixeira's feedback? JOSS [is now open again](https://blog.joss.theoj.org/2020/05/reopening-joss) for submissions and we're actively trying to wrap up existing reviews.

[2020-05-20 16:22] arfon commented on #1584
:wave: @holtgrewe @mikkonie - JOSS [is now open again](https://blog.joss.theoj.org/2020/05/reopening-joss) for submissions and we're actively trying to wrap up existing reviews. Do you think you might be able to address the reviewer feedback soon?

[2020-05-20 17:06] arfon commented on #1942
@majensen - looks like Whedon forgot to remind you :-)

[2020-05-20 17:07] arfon commented on #2044
@majensen looks like Whedon didn't remind you here either.

[2020-05-20 17:09] arfon commented on #2131
:wave: @poulson - do you think you could work on identifying some reviewers for this submission soon?

[2020-05-20 17:11] arfon commented on #1917
👋 @trallard & @alexanderfurnas, today we [reopened JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss) for new submissions and are checking in on our existing reviews. Do you think you might be able to wrap up your reviews in the next 2-3 weeks?

[2020-05-20 17:12] majensen commented on #1942
Well that's a data point @arfon !

[2020-05-20 17:13] arfon commented on #2034
👋 @ali-ramadhan - today we [reopened JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss) for new submissions and are checking in on our existing reviews. Do you think you might be able to wrap up your review in the next 2-3 weeks?

[2020-05-20 17:14] arfon commented on #2171
:wave: @gschivley, @coroa - today we [reopened JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss) for new submissions and are checking in on our existing reviews. Do you think you might be able to wrap up your reviews in the next 2-3 weeks?

[2020-05-20 17:14] majensen commented on #1942
@benjaminbolling just want to check in here with you. Let me know how it's going.

[2020-05-20 17:15] arfon commented on #1989
👋 @story645, @tacaswell - today we [reopened JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss) for new submissions and are checking in on our existing reviews. Do you think you might be able to wrap up your reviews in the next 2-3 weeks?

[2020-05-20 17:16] kthyng commented on #2172
Hi everyone! We are officially starting JOSS back up today. We know that everyone has different circumstances with work and home life right now, so we want to figure out a way forward that will work for everyone.

@JeffWalton-PSC and @rmsare — are you both still able to review this submission? If so, what timelines would work for you?

[2020-05-20 17:17] majensen commented on #2044
Hi @scwest , checking in with you to see how are things?

[2020-05-20 17:17] kthyng commented on #2018
Hi everyone! We are officially starting JOSS back up today. We know that everyone has different circumstances with work and home life right now, so we want to figure out a way forward that will work for everyone.

@ysimillides — are you still able to review this submission? If so, what timeline would work for you?

[2020-05-20 17:21] arfon commented on #2167
@bmcfee, @justinsalamon - today we [reopened JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss) for new submissions and are checking in on our existing reviews. Do you think you might be able to wrap up your reviews in the next 2-3 weeks?

[2020-05-20 17:21] arfon commented on #2019
:wave: @karthik - any luck identifying a second reviewer here?

[2020-05-20 17:22] arfon commented on #2094
👋 @ralfHielscher - today we [reopened JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss) for new submissions and are checking in on our existing reviews. Do you think you might be able to wrap up your review in the next 2-3 weeks?

[2020-05-20 17:23] scwest commented on #2044
I'm ready to unpause this. I'll submit a response to the previous review
within a couple of days.

Sean

On Wed, May 20, 2020 at 12:17 PM Mark Jensen <notifications@github.com>
wrote:

[2020-05-20 17:23] bmcfee commented on #2167
@arfon absolutely, it's on my list for the end of this week, now that the semester's over.  Thanks for your patience!

[2020-05-20 17:23] vijaysm commented on #1906
I should be done with the review in about a week from now. I've been
swamped with a paper deadline due this week and can finish up the review
after.

On Wed., May 20, 2020, 10:16 Arfon Smith, <notifications@github.com> wrote:

[2020-05-20 17:26] arfon commented on #1992
:wave: @Sulstice and @olivertomic - today we [reopened JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss) for new submissions and are checking in on our existing reviews. Do you think you might be able to wrap up this dicsussion in the next 2-3 weeks?

[2020-05-20 17:28] arfon commented on #2095
:wave: @dlagrava - a friendly check in to see how things are going for you these days?

[2020-05-20 17:29] arfon commented on #2163
:wave: @MetabolomicsAustralia-Bioinformatics - how are you getting on responding to the review feedback thus far?

[2020-05-20 17:30] arfon commented on #1833
:wave: @samuelduchesne - JOSS [is now open again](https://blog.joss.theoj.org/2020/05/reopening-joss) for submissions and we're actively trying to wrap up existing reviews.

Do you think you might be able to complete these last few items soon?

[2020-05-20 17:31] karthik commented on #2019
👋 @earowang! Would you be able to serve as a second reviewer on this submission? :pray:

[2020-05-20 17:33] arfon commented on #1655
@whedon check references

[2020-05-20 17:33] arfon commented on #1655
@whedon set v0.1.0 as version

[2020-05-20 17:33] whedon commented on #1655
OK. v0.1.0 is the version.

[2020-05-20 17:33] whedon commented on #1655
[code]

[2020-05-20 17:34] arfon commented on #1655
@whedon generate pdf

[2020-05-20 17:35] whedon commented on #1655
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01655/joss.01655/10.21105.joss.01655.pdf)

[2020-05-20 17:39] arfon commented on #1655
@torressa - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the auth

[2020-05-20 17:40] samuelduchesne commented on #1833
Yes I’ll try to wrap things up by the end of the month. Happy to see JOSS is fully back online!

[2020-05-20 17:43] zbeekman commented on #2049
Hi @sjvrijn! Both the paper and package are looking pretty great from my initial inspection!

For issues specific to documentation, installation, etc. (package stuff) I'll use issues on the project's github repo, but, unless you object, I'd like to post my comments about the paper here. (To me the project repository feels like the wrong place for that.)

In general I think the paper is great, but

[2020-05-20 17:44] zbeekman commented on #2049
@whedon remind @zbeekman in 2 days

[2020-05-20 17:44] whedon commented on #2049
I'm sorry @zbeekman, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-05-20 17:58] arfon commented on #2049
@whedon remind @zbeekman in 2 days

[2020-05-20 17:58] whedon commented on #2049
Reminder set for @zbeekman in 2 days

[2020-05-20 18:08] arfon commented on #2125
👋 @hpparvi, @DingXuefeng - today we [reopened JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss) for new submissions and are checking in on our existing reviews. Do you think you might be able to wrap up your reviews in the next 2-3 weeks?

[2020-05-20 18:11] arfon commented on #2107
@whedon set v0.10.0 as version

[2020-05-20 18:11] whedon commented on #2107
OK. v0.10.0 is the version.

[2020-05-20 18:11] arfon commented on #2107
👋 @eteq & @dvanic - today we [reopened JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss) for new submissions and are checking in on our existing reviews. Do you think you might be able to wrap up your reviews in the next 2-3 weeks?

[2020-05-20 18:35] malmaud commented on #2062
My understanding was to pause until @cscherrer indicated he's ready for a review. I'm still on-board with that plan and will be available to review.

[2020-05-20 18:57] justinsalamon commented on #2167
Yes, I'm OOO this week but will get it once I'm back, thanks!

[2020-05-20 19:01] JeffWalton-PSC commented on #2172
Kristen, I will be able to get to this over the next 2-3 weeks. Does that work?

From: Kristen Thyng [mailto:notifications@github.com]
Sent: Wednesday, 20 May, 2020 13:17
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Jeff Walton <jwalton@paulsmiths.edu>; Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: DetecTree: Tree detection from aeri

[2020-05-20 19:04] kyleniemeyer commented on #2178
@whedon check references

[2020-05-20 19:04] whedon commented on #2178
[code]

[2020-05-20 19:13] kyleniemeyer commented on #2178
@fwitte almost done! The references are just missing a few details here and there:

- add volume and pages to the Chen et al. 2019 reference
- I think the year for the Herning and Zipperer reference should be 1936, not 2015
- For the IEA technology roadmap, please provide a URL or other information
- The Virtanen 2020 citation (for SciPy) is missing some info (volume, page numbers)

When you've ad

[2020-05-20 19:26] arfon commented on #2062
Got it. Thanks!

[2020-05-20 19:47] cscherrer commented on #2062
Thanks @arfon and @malmaud . We've been digging into the Julia documentation system, and now have a good start on documentation (previously it had been just the README). I'm hoping to have this ready to move forward within a few weeks. We can keep this paused until then. Please let me know if we need a hard deadline or this delay causes some problem for you; I could instead cancel and re-apply whe

[2020-05-20 20:32] fwitte commented on #2178
@kyleniemeyer, great! I will do so tomorrow morning. Just one question: Is it possible to add the bibtex entry and the doi of the JOSS paper to the online documentation prior to the release? If so, I would not need to make a second release after the paper is published (as I usually only commit to master in case I release a new version).
Cheers

[2020-05-20 20:48] klho commented on #1906
@whedon generate pdf

[2020-05-20 20:49] whedon commented on #1906
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01906/joss.01906/10.21105.joss.01906.pdf)

[2020-05-20 20:50] klho commented on #1906
@whedon check references

[2020-05-20 20:50] whedon commented on #1906
[code]

[2020-05-20 20:57] kyleniemeyer commented on #2178
@fwitte sure, the DOI will be what shows up in the paper draft, though it does not yet resolve.

[2020-05-20 21:38] Kevin-Mattheus-Moerman commented on #2089
@whedon check references

[2020-05-20 21:40] whedon commented on #2089
[code]

[2020-05-20 21:41] Kevin-Mattheus-Moerman commented on #2089
@albansouche @aslakbergersen can you check for that potentially missing DOI? thanks.

[2020-05-20 21:42] aslakbergersen commented on #2089
@whedon check references

[2020-05-20 21:44] whedon commented on #2089
[code]

[2020-05-20 21:45] aslakbergersen commented on #2089
@whedon check references

[2020-05-20 21:47] whedon commented on #2089
[code]

[2020-05-20 21:49] Kevin-Mattheus-Moerman commented on #2089
@nathanquinlan, @chennachaos, @JaroslavHron thanks for your review efforts! We greatly appreciate your time and help!

@chennachaos It looks like the authors made a number of changes which look ready for you to review.

@JaroslavHron your last unticked box relates to `references`, I believe these have now been fixed. Can you check and if possible tick the last box? Thanks!

@nathanquinlan are you

[2020-05-20 21:50] aslakbergersen commented on #2089
@whedon generate pdf

[2020-05-20 21:51] Kevin-Mattheus-Moerman commented on #1867
@PGomes92 @hooman650 I hope and yours are doing well. Can you given an indication as to when you can resume this review? Thanks again for your help.

[2020-05-20 21:53] whedon commented on #2089
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02089/joss.02089/10.21105.joss.02089.pdf)

[2020-05-20 21:53] Kevin-Mattheus-Moerman commented on #2121
@whedon check references

[2020-05-20 21:55] Kevin-Mattheus-Moerman commented on #2121
@srmnitc, @chennachaos thanks for your help with this review. This is just a friendly check-in to see how things are going with your reviews.

[2020-05-20 21:55] whedon commented on #2121
[code]

[2020-05-20 21:57] Kevin-Mattheus-Moerman commented on #2121
@likask, @agshvarts, thanks for your review efforts!
It looks like @prs513rosewood has implemented some changes/replied to your comments. Can you follow up on these and resume the review? Thanks.

[2020-05-20 22:06] corybrunson commented on #2017
@arfon the current version is a new release archived on Zenodo [here](https://doi.org/10.5281/zenodo.3836748).

[2020-05-20 22:25] kthyng commented on #2172
Absolutely! Thanks!

[2020-05-20 22:38] faroit commented on #2154
# Review/Comments

Spleeter is a very valuable addition to the music separation ecosystem. The software is already hugely popular. The majority of its users are end-users without scientific background, so that it can be said that spleeter has made our research domain significantly more popular, which is a great achievement for a software package. A paper about it here, hence naturally deserves pub

[2020-05-20 23:15] cpgr commented on #2086
Yep, I can do this

[2020-05-21 01:13] arfon commented on #2017
@whedon set 10.5281/zenodo.3836748 as archive

[2020-05-21 01:13] whedon commented on #2017
OK. <a href="https://doi.org/10.5281/zenodo.3836748" target="_blank">10.5281/zenodo.3836748</a> is the archive.

[2020-05-21 01:13] arfon commented on #2017
@whedon accept

[2020-05-21 01:13] whedon commented on #2017
[code]

[2020-05-21 01:14] whedon commented on #2017
[code]

[2020-05-21 01:14] whedon commented on #2017
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1454

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1454, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-05-21 01:14] arfon commented on #2086
Thanks @cpgr! I'll add you as a reviewer now but we'll need to wait for a second reviewer to accept before moving forward with the actual review.

[2020-05-21 01:14] arfon commented on #2086
@whedon add @cpgr as reviewer

[2020-05-21 01:15] whedon commented on #2086
OK, @cpgr is now a reviewer

[2020-05-21 01:15] arfon commented on #2017
@whedon accept deposit=true

[2020-05-21 01:15] whedon commented on #2017
[code]

[2020-05-21 01:16] whedon commented on #2017
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1263277464584929280) 👈 🐦🐦🐦

[2020-05-21 01:16] whedon commented on #2017
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1455
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02017](https://doi.org/10.21105/joss.02017)
2. If everything looks g

[2020-05-21 01:19] arfon commented on #2017
@clauswilke, @tweed1e - many thanks for your reviews here and to @akeshavan for editing this submission ✨

@corybrunson - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-05-21 01:19] #2017 closed

[2020-05-21 01:19] whedon commented on #2017
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02017/status.svg)](https://doi.org/10.21105/joss.02017)

**We need your help!**

Journal of Open Source Softwa

[2020-05-21 06:22] fwitte commented on #2178
I have looked this up, there is no pages information available. Only an article number (114750): https://www.sciencedirect.com/journal/applied-thermal-engineering/vol/167/suppl/C.

Adjusted, thank you!

Done.

Also added the missing info.

I will prepare the release and let you know, when it is done.

[2020-05-21 06:24] fwitte commented on #2178
@whedon generate pdf from branch feature/joss_paper_review

[2020-05-21 06:24] whedon commented on #2178
[code]

[2020-05-21 06:24] whedon commented on #2178
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02178/joss.02178/10.21105.joss.02178.pdf)

[2020-05-21 06:29] fwitte commented on #2178
@whedon generate pdf from branch feature/joss_paper_review

[2020-05-21 06:29] whedon commented on #2178
[code]

[2020-05-21 06:30] whedon commented on #2178
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02178/joss.02178/10.21105.joss.02178.pdf)

[2020-05-21 09:07] MAnalytics commented on #2019
@karthik<https://github.com/karthik>?  @arfon I greatly appreciate the efforts.

________________________________
From: Karthik Ram <notifications@github.com>
Sent: 20 May 2020 18:31
To: openjournals/joss-reviews
Cc: Monsuru Adepeju; Mention
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: Akmedoids R package for generating directionally-homogeneous clusters of longitudinal data sets (#2019)

[2020-05-21 09:20] TomKellyGenetics commented on #2161
Thanks for following up, it's taken longer than I'd planned but you can see most of the recent progress here: https://github.com/TomKellyGenetics/graphsim/issues/13

The main update is that the paper has been migrated to Rmarkdown format.
https://github.com/TomKellyGenetics/graphsim/blob/master/paper/paper.Rmd

I've also made changes to the computation of the `state` parameter which addresses [thi

[2020-05-21 12:05] arfon commented on #2161
@whedon generate pdf

[2020-05-21 12:05] whedon commented on #2161
PDF failed to compile for issue #2161 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/2161/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2020-05-21 12:07] iljah commented on #2086
@arfon I can review

[2020-05-21 12:09] arcuri82 commented on #2153
@whedon generate pdf

[2020-05-21 12:10] whedon commented on #2153
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02153/joss.02153/10.21105.joss.02153.pdf)

[2020-05-21 12:18] fwitte commented on #2178
@whedon check references

[2020-05-21 12:18] arfon commented on #2086
@whedon add @iljah as reviewer

[2020-05-21 12:18] whedon commented on #2086
OK, @iljah is now a reviewer

[2020-05-21 12:18] whedon commented on #2178
[code]

[2020-05-21 12:19] arfon commented on #2086
@whedon start review

[2020-05-21 12:19] whedon opened #2185 "[REVIEW]: fastSF: A parallel code for computing the structure functions of turbulence"
**Submitting author:** @ShubhadeepSadhukhan1993 (<a href="http://orcid.org/0000-0002-7278-5041">Shubhadeep Sadhukhan</a>)
**Repository:** <a href="https://github.com/ShubhadeepSadhukhan1993/fastSF" target ="_blank">https://github.com/ShubhadeepSadhukhan1993/fastSF</a>
**Version:** v1.0.0
**Editor:** @jedbrown
**Reviewer:** @cpgr, @iljah
**Archive:** <a href="https://doi.org/10.5281/zenodo.4420031"

[2020-05-21 12:19] whedon commented on #2086
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2185.

[2020-05-21 12:19] #2086 closed

[2020-05-21 12:19] whedon commented on #2185
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cpgr, @iljah it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jo

[2020-05-21 12:19] whedon commented on #2185
[code]

[2020-05-21 12:19] arfon commented on #2086
@cpgr, @iljah - thanks so much for agreeing to review this submission. See you over in #2185 where the actual review will take place.

[2020-05-21 12:20] whedon commented on #2185
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02185/joss.02185/10.21105.joss.02185.pdf)

[2020-05-21 12:20] arfon commented on #2185
@cpgr, @iljah - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let @jedbrown or myself know.

[2020-05-21 12:29] iljah commented on #2185
@jedbrown / @arfon Should title of this issue be updated to fastSF or does it matter?

[2020-05-21 12:37] arfon commented on #2185
Good catch. I just updated it!

[2020-05-21 13:19] donaldRwilliams commented on #2111
@arfon
We updated the paper. Note the package has undergone extensive changes, including rewriting all the algorithms in `c++`, adding support for binary, ordinal, and mixed data, linked to Travis, etc.

As for the reviewer comments, we extensively rewrote the documentation to include many examples, added to Travis, and most notably shortened the paper to be a "high-level" overview.

[2020-05-21 13:30] fwitte commented on #2178
Hi @kyleniemeyer,
version has been published, archive to be found here: https://zenodo.org/record/3837555.
Thank to all of you for your efforts and support :tada: :beers:!
Best
Francesco

[2020-05-21 13:42] arfon commented on #2161
@TomKellyGenetics - a few comments on your paper:

The fact that `paper.md` and `paper.tex` exist in your repository confuses Whedon (hence the errors above).

The compiled paper [compiled here](https://github.com/openjournals/joss-reviews/files/4662696/10.21105.joss.02161.pdf) is very long (15 pages currently) and much longer than we normally expect at JOSS (~1000 words is the guidance on length)

[2020-05-21 13:50] arfon commented on #2111
@whedon generate pdf

[2020-05-21 13:50] whedon commented on #2111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02111/joss.02111/10.21105.joss.02111.pdf)

[2020-05-21 13:52] arfon commented on #2111
:+1: thanks for the update @donaldRwilliams!

@jayrobwilliams, @paulgovan - when you're ready, it sounds like this submission is ready for you both to take another look.

[2020-05-21 13:58] whedon opened #2186 "[PRE REVIEW]: spam: Software for Practical Analysis of Materials"
**Submitting author:** @edwardando (<a href="http://orcid.org/0000-0001-5509-5287">Edward Andò</a>)
**Repository:** <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/ttk/spam/" target ="_blank">https://gricad-gitlab.univ-grenoble-alpes.fr/ttk/spam/</a>
**Version:** 0.5.1.4
**Editor:** @usethedata
**Reviewers:** @Shuang-Plum, @jwbuurlage
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced s

[2020-05-21 13:58] whedon commented on #2186
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 13:58] whedon commented on #2186
PDF failed to compile for issue #2186 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2186/docs/paper/paper.md): could not find expected ':' while scanning a simple key at line 17 column 5 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'

[2020-05-21 13:59] whedon commented on #2186
[code]

[2020-05-21 14:02] arfon commented on #2186
@edwardando - thanks for your submission to JOSS. It looks like there's an issue with the metadata of your paper. One obvious issue is the missing ORCID keys. i.e. change this:

[code]

to this:

[code]

There may be other issues though that I didn't spot. You can test if your paper compiles properly here: http://whedon.theoj.org

[2020-05-21 14:03] arfon commented on #2186
@usethedata this looks like it could be a good fit - I'm going to go ahead and assign it to you. Please let me know if this isn't OK.

[2020-05-21 14:03] arfon commented on #2186
@whedon assign @usethedata as editor

[2020-05-21 14:03] whedon commented on #2186
OK, the editor is @usethedata

[2020-05-21 14:04] whedon opened #2187 "[PRE REVIEW]: DVRlib: A C++ library for geometric mesh improvement using Directional Vertex Relaxation"
**Submitting author:** @rram84 (<a href="http://orcid.org/0000-0001-7403-7728">Ramsharan Rangarajan</a>)
**Repository:** <a href="https://bitbucket.org/rram/dvrlib/src/joss/" target ="_blank">https://bitbucket.org/rram/dvrlib/src/joss/</a>
**Version:** v1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @hugoledoux, @jhale, @jonwong12
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced ser

[2020-05-21 14:04] whedon commented on #2187
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 14:04] whedon commented on #2187
[code]

[2020-05-21 14:04] whedon commented on #2187
[code]

[2020-05-21 14:05] whedon commented on #2187
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02187/joss.02187/10.21105.joss.02187.pdf)

[2020-05-21 14:06] arfon commented on #2187
@Kevin-Mattheus-Moerman - this looks very much up your street. Is this something you'd be able to take on? If not, we can look for another editor or waitlist it until you have more availability.

[2020-05-21 14:06] whedon opened #2188 "[PRE REVIEW]: qMRLab: Quantitative MRI Analysis, under one umbrella"
**Submitting author:** @agahkarakuzu (<a href="http://orcid.org/0000-0001-7283-271X">Agah Karakuzu</a>)
**Repository:** <a href="https://github.com/qMRLab/qMRLab" target ="_blank">https://github.com/qMRLab/qMRLab</a>
**Version:** v2.4.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @grlee77, @mfroeling, @62442katieb
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning

[2020-05-21 14:06] whedon commented on #2188
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 14:06] whedon commented on #2188
PDF failed to compile for issue #2188 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2188 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedo

[2020-05-21 14:07] whedon commented on #2188
[code]

[2020-05-21 14:09] jayrobwilliams commented on #2111
@arfon doing so now

[2020-05-21 14:13] arfon commented on #2188
Whedon is struggling with compiling the paper here as the repository is very large (~500Mb) - it might be a good idea to look at reducing this @agahkarakuzu. For now, I have compiled the paper locally: [10.21105.joss.02188.pdf](https://github.com/openjournals/joss-reviews/files/4662829/10.21105.joss.02188.pdf)

👋 @cMadan - would you be able to take this paper? Ariel would be the ideal editor but h

[2020-05-21 14:14] whedon opened #2189 "[PRE REVIEW]: uravu: Making Bayesian modelling easy(er)"
**Submitting author:** @arm61 (<a href="http://orcid.org/0000-0003-3381-5911">Andrew McCluskey</a>)
**Repository:** <a href="https://github.com/arm61/uravu" target ="_blank">https://github.com/arm61/uravu</a>
**Version:** v0.0.7
**Editor:** @dfm
**Reviewers:** @ejhigson, @joshspeagle
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2020-05-21 14:14] whedon commented on #2189
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 14:14] whedon commented on #2189
[code]

[2020-05-21 14:15] whedon commented on #2189
[code]

[2020-05-21 14:15] whedon commented on #2189
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02189/joss.02189/10.21105.joss.02189.pdf)

[2020-05-21 14:15] arfon commented on #2189
:wave: @dfm - the submitting author suggested you as the handling editor and this looks like it could be a good fit. I'll go ahead and assign this to you now - please let me know if this is a problem.

[2020-05-21 14:15] arfon commented on #2189
@whedon assign @dfm as editor

[2020-05-21 14:15] whedon commented on #2189
OK, the editor is @dfm

[2020-05-21 14:16] whedon opened #2190 "[PRE REVIEW]: wflo: A New Standard for Wind Farm Layout Optimization in R"
**Submitting author:** @CarstenCroonenbroeck (<a href="http://orcid.org/0000-0001-7848-0970">Carsten Croonenbroeck</a>)
**Repository:** <a href="https://github.com/CarstenCroonenbroeck/WFLO" target ="_blank">https://github.com/CarstenCroonenbroeck/WFLO</a>
**Version:** v1.5
**Editor:** @kyleniemeyer
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning

[2020-05-21 14:16] whedon commented on #2190
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 14:16] whedon commented on #2190
PDF failed to compile for issue #2190 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2190 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedo

[2020-05-21 14:17] whedon commented on #2190
[code]

[2020-05-21 14:18] arfon commented on #2190
@whedon generate pdf

[2020-05-21 14:18] whedon commented on #2190
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02190/joss.02190/10.21105.joss.02190.pdf)

[2020-05-21 14:19] arfon commented on #2190
@CarstenCroonenbroeck - thanks for your submission to JOSS. This submission currently looks incomplete, i.e. there's no software present in the submitted repository. Could you please clarify where the software is, and ideally, move the paper to that repository?

[2020-05-21 14:20] whedon opened #2191 "[PRE REVIEW]: SysIdentPy: A Python package for System Identification"
**Submitting author:** @wilsonrljr (<a href="http://orcid.org/0000-0002-3263-1152">Wilson Rocha Lacerda Junior</a>)
**Repository:** <a href="https://github.com/wilsonrljr/sysidentpy" target ="_blank">https://github.com/wilsonrljr/sysidentpy</a>
**Version:** 0.1.1
**Editor:** @dpsanders
**Reviewers:** @Shibabrat, @dawbarton
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warni

[2020-05-21 14:20] whedon commented on #2191
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 14:21] whedon commented on #2191
[code]

[2020-05-21 14:21] whedon commented on #2191
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02191/joss.02191/10.21105.joss.02191.pdf)

[2020-05-21 14:23] arfon commented on #2191
:wave: @dpsanders - the submitting author suggested you as the handling editor for this one. I'll go ahead and assign this to you now - please let me know if this is a problem.

[2020-05-21 14:23] arfon commented on #2191
@whedon assign @dpsanders as editor

[2020-05-21 14:23] arm61 commented on #2189
Potential reviewers:
- @ejhigson
- @andyfaff
- @GregoryAshton
- @joshspeagle (not on the review list but their `dynesty` package is used by `uravu`)

I am sure that @dfm knows plenty of others that would be suitable too though!

[2020-05-21 14:23] whedon commented on #2191
OK, the editor is @dpsanders

[2020-05-21 14:23] whedon opened #2192 "[PRE REVIEW]: GridTest: testing and metrics collection for Python"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://github.com/vsoch/gridtest" target ="_blank">https://github.com/vsoch/gridtest</a>
**Version:** 0.0.14
**Editor:** @usethedata
**Reviewers:** @cbrueffer, @khinsen
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-05-21 14:24] whedon commented on #2192
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 14:24] whedon commented on #2192
[code]

[2020-05-21 14:24] whedon commented on #2192
[code]

[2020-05-21 14:24] whedon commented on #2192
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02192/joss.02192/10.21105.joss.02192.pdf)

[2020-05-21 14:31] dpsanders commented on #2191
@arfon OK sure.

[2020-05-21 14:37] agahkarakuzu commented on #2188
Hi @arfon, thank you for the quick response and the feedback!

The repo had some large files in the past, hence the large size with deep clone depth. Right now the documentation files are stored in this repo, moving them elsewhere would free some considerable space, but the same issue would still persist with clone.  Do you have a suggestion how we might approach this?

We discussed with the team

[2020-05-21 14:44] ysimillides commented on #2018
Hello, I can't access the checklist above, but by going through the items my main concern is that there is no comparison / mention of other similar software which can be found ( state of the field on the checklist). If a few lines in the paper could be added to reflect this, that would be ideal ( and likewise if their are no similar packages, this should be explicitly stated).

Otherwise everythin

[2020-05-21 14:46] ejhigson commented on #2189
@arm61 @dfm @arfon I am happy to review this submission!

[2020-05-21 14:55] CarstenCroonenbroeck commented on #2190
Dear Arfon,

 

the software is an R package available on CRAN (https://CRAN.R-project.org/package=wflo). Hosting the software (and keeping the version up-to-date) at github would be redundant. Is that okay?

 

Best

 

Carsten

 
 

Gesendet: Donnerstag, 21. Mai 2020 um 16:19 Uhr
Von: "Arfon Smith" <notifications@github.com>
An: "openjournals/joss-reviews" <joss-reviews@noreply.github.com>
Cc: "

[2020-05-21 15:09] torressa commented on #1655
Hey @arfon, thanks for the follow up.
All done, here's the DOI: 10.5281/zenodo.3837663

[2020-05-21 15:43] Sulstice commented on #1992
Yes! I am making a little more interactive examples of how to use Cocktail Shaker per as @olivertomic suggestions (i.e juptyer notebooks or a gitpod) I am aiming for this saturday may 23rd (free time) to wrap that up.

I believe I tackled nearly all the issues attached with the repo filed from both greg and oliver and should be good to go unless I missed something (please let me know!).

[2020-05-21 15:58] arfon commented on #2192
:wave: @usethedata - this looks like it could be a good fit for you. I'll go ahead and assign this to you now - please let me know if this is a problem.

[2020-05-21 15:58] arfon commented on #2192
@whedon assign @usethedata as editor

[2020-05-21 15:58] whedon commented on #2192
OK, the editor is @usethedata

[2020-05-21 15:58] whedon opened #2193 "[PRE REVIEW]: Hypothesize: Robust Statistics for Python"
**Submitting author:** @Alcampopiano (<a href="http://orcid.org/0000-0002-3280-4447">Allan Campopiano</a>)
**Repository:** <a href="https://github.com/Alcampopiano/hypothesize" target ="_blank">https://github.com/Alcampopiano/hypothesize</a>
**Version:** v1.0.0
**Editor:** @csoneson
**Reviewers:** @martinagvilas, @arbennett
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warn

[2020-05-21 15:58] whedon commented on #2193
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 15:58] whedon commented on #2193
[code]

[2020-05-21 15:59] whedon commented on #2193
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02193/joss.02193/10.21105.joss.02193.pdf)

[2020-05-21 16:00] arfon commented on #2193
@whedon commands

[2020-05-21 16:00] whedon commented on #2193
Here are some things you can ask me to do:

[code]

[2020-05-21 16:00] arfon commented on #2193
@whedon check repository

[2020-05-21 16:01] whedon commented on #2193
[code]

[2020-05-21 16:11] arfon commented on #2018
@whedon re-invite @ysimillides as reviewer

[2020-05-21 16:11] whedon commented on #2018
The reviewer already has a pending invite.

@ysimillides please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-05-21 16:14] arfon commented on #2018
@ysimillides - it sounds like you might need to accept the invite above to the repository - this will allow you to update the checklist above.

[2020-05-21 16:18] arfon commented on #1655
@whedon set 10.5281/zenodo.3837663 as archive

[2020-05-21 16:18] whedon commented on #1655
OK. <a href="https://doi.org/10.5281/zenodo.3837663" target="_blank">10.5281/zenodo.3837663</a> is the archive.

[2020-05-21 16:20] arfon commented on #1655
@whedon accept

[2020-05-21 16:20] whedon commented on #1655
[code]

[2020-05-21 16:20] whedon commented on #1655
[code]

[2020-05-21 16:20] whedon commented on #1655
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1456

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1456, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-05-21 16:24] arfon commented on #1655
@whedon accept deposit=true

[2020-05-21 16:24] whedon commented on #1655
[code]

[2020-05-21 16:25] whedon commented on #1655
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1263506113623986178) 👈 🐦🐦🐦

[2020-05-21 16:25] whedon commented on #1655
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1457
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01655](https://doi.org/10.21105/joss.01655)
2. If everything looks g

[2020-05-21 16:40] arfon commented on #1655
@hausen, @stsievert - many thanks for your reviews here and to @poulson for editing this submission ✨

@torressa - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-05-21 16:40] #1655 closed

[2020-05-21 16:40] whedon commented on #1655
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01655/status.svg)](https://doi.org/10.21105/joss.01655)

**We need your help!**

Journal of Open Source Softwa

[2020-05-21 17:09] donaldRwilliams commented on #2111
@whedon generate pdf

[2020-05-21 17:09] mathieuboudreau commented on #2188
@arfon (Hi, one of @agahkarakuzu 's coauthors here) Does Whedon clone the entire repo's git history, or just the master branch and/or a single commit of it?

[2020-05-21 17:09] whedon commented on #2111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02111/joss.02111/10.21105.joss.02111.pdf)

[2020-05-21 17:24] dfm commented on #2189
I'm happy to edit this and I'll start looking into recruiting reviewers shortly.

@ejhigson: Thanks for responding! I'll confirm shortly.

[2020-05-21 18:06] Alcampopiano commented on #2193
Thank you very much for providing a the list of potential reviewers. Starting from the bottom of that list, I have chosen the following reviewers based on their fields and programming language(s):

kirstensgithub
martinagvilas
alanfairless

I can continue to suggest more if needed.

[2020-05-21 18:09] Alcampopiano commented on #2193
@whedon check references

[2020-05-21 18:11] arfon commented on #2188
@whedon generate pdf

[2020-05-21 18:11] whedon commented on #2188
PDF failed to compile for issue #2188 with the following error:

 Can't find any papers to compile :-(

[2020-05-21 18:15] arfon commented on #2188
It does a full clone. I could investigate how to do a shallow clone.

[2020-05-21 18:22] whedon opened #2194 "[PRE REVIEW]: datafold: data-driven models for point clouds and time series on manifolds"
**Submitting author:** @eldan101 (<a href="http://orcid.org/0000-0002-4012-5014">Daniel Lehmberg</a>)
**Repository:** <a href="https://gitlab.com/datafold-dev/datafold/" target ="_blank">https://gitlab.com/datafold-dev/datafold/</a>
**Version:** v1.0.0
**Editor:** @dfm
**Reviewers:** @jsgalan, @mtezzele
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-05-21 18:23] whedon commented on #2194
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 18:23] arfon commented on #2193
@whedon check references

[2020-05-21 18:23] whedon commented on #2194
[code]

[2020-05-21 18:23] whedon commented on #2194
[code]

[2020-05-21 18:23] whedon commented on #2194
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02194/joss.02194/10.21105.joss.02194.pdf)

[2020-05-21 18:23] whedon commented on #2193
[code]

[2020-05-21 18:25] arfon commented on #2193
:wave: @csoneson - could you edit this one for us? I'll go ahead and assign this to you now - please let me know if this is a problem.

[2020-05-21 18:25] arfon commented on #2193
@whedon assign @csoneson as editor

[2020-05-21 18:26] whedon commented on #2193
OK, the editor is @csoneson

[2020-05-21 18:31] kthyng commented on #2194
Hi @dfm! What do you think about editing this submission?

[2020-05-21 18:35] whedon opened #2195 "[PRE REVIEW]: DORiE: A discontinuous Galerkin solver for soil water flow and passive solute transport based on DUNE"
**Submitting author:** @peanutfun (<a href="http://orcid.org/0000-0002-4667-3652">Lukas Riedel</a>)
**Repository:** <a href="https://ts-gitlab.iup.uni-heidelberg.de/dorie/dorie" target ="_blank">https://ts-gitlab.iup.uni-heidelberg.de/dorie/dorie</a>
**Version:** v2.0
**Editor:** @meg-simula
**Reviewers:** @gassmoeller, @pratikvn
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mo

[2020-05-21 18:35] whedon commented on #2195
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 18:35] whedon commented on #2195
PDF failed to compile for issue #2195 with the following error:

 Can't find any papers to compile :-(

[2020-05-21 18:35] whedon commented on #2195
[code]

[2020-05-21 18:37] dfm commented on #2194
@kthyng: I'd be happy to edit this submission!

[2020-05-21 18:37] kthyng commented on #2195
Hi @peanutfun! Do you have a JOSS paper somewhere in your repo, or maybe another repo? Our bot can't find it.

[2020-05-21 18:37] dfm commented on #2194
@whedon assign @dfm as editor

[2020-05-21 18:37] whedon commented on #2194
OK, the editor is @dfm

[2020-05-21 18:40] kthyng commented on #2195
Hi @meg-simula! Would you be able to edit this submission?

[2020-05-21 18:43] whedon opened #2196 "[PRE REVIEW]: PySWMM: The Python Interface to Stormwater Management Model (SWMM)"
**Submitting author:** @katmratliff (<a href="http://orcid.org/0000-0003-1410-2756">Katherine Ratliff</a>)
**Repository:** <a href="https://github.com/OpenWaterAnalytics/pyswmm" target ="_blank">https://github.com/OpenWaterAnalytics/pyswmm</a>
**Version:** v0.6.1
**Editor:** @kbarnhart
**Reviewers:** @nickrsan, @jrkasprzyk, @dickinsonre
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced ser

[2020-05-21 18:43] whedon commented on #2196
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 18:43] whedon commented on #2196
[code]

[2020-05-21 18:43] whedon commented on #2196
[code]

[2020-05-21 18:43] whedon commented on #2196
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02196/joss.02196/10.21105.joss.02196.pdf)

[2020-05-21 18:46] kthyng commented on #2196
Hi @kbarnhart! Are you able to edit this submission?

[2020-05-21 18:50] whedon opened #2197 "[PRE REVIEW]: IPART: A Python Package for Image-Processing based Atmospheric River Tracking"
**Submitting author:** @Xunius (<a href="http://orcid.org/0000-0001-5877-5608">Guangzhi XU</a>)
**Repository:** <a href="https://github.com/ihesp/IPART" target ="_blank">https://github.com/ihesp/IPART</a>
**Version:** v1.0
**Editor:** @kbarnhart
**Reviewers:** @sadielbartholomew, @rabernat
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-05-21 18:51] whedon commented on #2197
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 18:52] kthyng commented on #2197
Hi @Xunius! I have updated the repo address to https://github.com/ihesp/AR_tracker — let me know if this is incorrect.

[2020-05-21 18:59] whedon opened #2198 "[PRE REVIEW]: cmstatr: An R Package for Statistical Analysis of Composite Material Data"
**Submitting author:** @kloppen (<a href="http://orcid.org/0000-0002-1908-5214">Stefan Kloppenborg</a>)
**Repository:** <a href="https://github.com/ComtekAdvancedStructures/cmstatr" target ="_blank">https://github.com/ComtekAdvancedStructures/cmstatr</a>
**Version:** 0.5.2
**Editor:** @usethedata
**Reviewers:** @myousefi2016, @JonasMoss
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced ser

[2020-05-21 18:59] whedon commented on #2198
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 19:01] kthyng commented on #2197
@whedon check repository

[2020-05-21 19:04] whedon commented on #2198
[code]

[2020-05-21 19:04] whedon commented on #2197
[code]

[2020-05-21 19:04] whedon opened #2199 "[PRE REVIEW]: NetworkSedimentTransporter: A Landlab submodule for bed material transport through river networks"
**Submitting author:** @pfeiffea (<a href="http://orcid.org/0000-0002-3974-132X">Allison Pfeiffer</a>)
**Repository:** <a href="https://github.com/landlab/landlab" target ="_blank">https://github.com/landlab/landlab</a>
**Version:** 2.1
**Editor:** @kthyng
**Reviewers:** @zsylvester, @ebgoldstein
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-05-21 19:04] whedon commented on #2198
[code]

[2020-05-21 19:04] whedon commented on #2199
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 19:05] whedon commented on #2198
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02198/joss.02198/10.21105.joss.02198.pdf)

[2020-05-21 19:05] kthyng commented on #2197
@whedon generate pdf

[2020-05-21 19:05] whedon commented on #2199
[code]

[2020-05-21 19:06] whedon commented on #2197
PDF failed to compile for issue #2197 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2197/joss/paper.md): found a tab character that violate intendation while scanning a plain scalar at line 9 column 11 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb

[2020-05-21 19:06] whedon commented on #2199
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02199/joss.02199/10.21105.joss.02199.pdf)

[2020-05-21 19:07] whedon commented on #2199
[code]

[2020-05-21 19:07] kthyng commented on #2198
Hi @usethedata! Are you able to edit this submission?

[2020-05-21 19:11] kthyng commented on #2197
@openjournals/dev Is there a reference for finding what characters are not allowed in the papers? It looks like that is the problem. Is & ok?

[2020-05-21 19:13] kthyng commented on #2197
@Xunius I am conflicted on this paper so I will find another editor.

[2020-05-21 19:14] kthyng commented on #2197
@kbarnhart I know I just asked you about another submission, but we plan not to assign over 3 total at the moment. Are you able to edit this submission too? I am a good fit but I am conflicted.

[2020-05-21 19:14] kyleniemeyer commented on #2178
@whedon set 10.5281/zenodo.3837555 as archive

[2020-05-21 19:14] whedon commented on #2178
OK. <a href="https://doi.org/10.5281/zenodo.3837555" target="_blank">10.5281/zenodo.3837555</a> is the archive.

[2020-05-21 19:18] kthyng commented on #2199
@kbarnhart, @openjournals/dev - Do you know the typical setup for reviewing a landlab module? I would like the statistics above to show the number of lines for just this submission (https://github.com/landlab/landlab/tree/master/landlab/components/network_sediment_transporter). Somehow it did find the correct paper — those move to be elsewhere when they aren't being reviewed.

[2020-05-21 19:21] whedon opened #2200 "[PRE REVIEW]: PupillometryR: An R package for preparing and analysing pupillometry data"
**Submitting author:** @samhforbes (<a href="http://orcid.org/0000-0003-1022-4676">Samuel Forbes</a>)
**Repository:** <a href="https://github.com/samhforbes/PupillometryR" target ="_blank">https://github.com/samhforbes/PupillometryR</a>
**Version:** 0.0.2
**Editor:** @oliviaguest
**Reviewers:** @paulinepalma, @Athanasiamo
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warn

[2020-05-21 19:21] whedon commented on #2200
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 19:21] whedon commented on #2200
[code]

[2020-05-21 19:21] whedon commented on #2200
[code]

[2020-05-21 19:22] whedon commented on #2200
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02200/joss.02200/10.21105.joss.02200.pdf)

[2020-05-21 19:27] kthyng commented on #2200
Hi @oliviaguest! You were the suggested handling editor for this submission. I'm hoping to get some extra eyes on this submission being in scope given that the number of lines of code shown above is a bit low for a typical submission (being below 1000 for the number of lines of R code).

Given all this, are you able to edit this submission? Thanks!

[2020-05-21 19:28] kbarnhart commented on #2196
@kthyng I can edit this.

[2020-05-21 19:28] kbarnhart commented on #2196
@whedon assign @kbarnhart as editor

[2020-05-21 19:28] whedon commented on #2196
OK, the editor is @kbarnhart

[2020-05-21 19:29] whedon opened #2201 "[PRE REVIEW]: Automated Sleep Stage Scoring Using k-Nearest Neighbors Classifier"
**Submitting author:** @teamPSG (<a href="http://orcid.org/0000-0001-6360-0714">Tamas Kiss</a>)
**Repository:** <a href="https://github.com/teamPSG/kNN_Sleep_Scorer_kNNSS" target ="_blank">https://github.com/teamPSG/kNN_Sleep_Scorer_kNNSS</a>
**Version:** v1.0.0
**Editor:** @oliviaguest
**Reviewers:** @Emma-k-ward, @sbuergers
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :

[2020-05-21 19:29] whedon commented on #2201
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-21 19:29] kbarnhart commented on #2197
@kthyng I can handle this too.

[2020-05-21 19:29] whedon commented on #2201
PDF failed to compile for issue #2201 with the following error:

 Can't find any papers to compile :-(

[2020-05-21 19:29] kbarnhart commented on #2197
@whedon assign @kbarnhart as editor

[2020-05-21 19:30] whedon commented on #2201
[code]

[2020-05-21 19:33] kyleniemeyer commented on #2178
@whedon accept

[2020-05-21 19:33] whedon commented on #2178
[code]

[2020-05-21 19:33] whedon commented on #2178
[code]

[2020-05-21 19:33] whedon commented on #2178
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1458

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1458, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-05-21 19:35] kyleniemeyer commented on #2178
@whedon accept deposit=true

[2020-05-21 19:35] whedon commented on #2178
[code]

[2020-05-21 19:36] whedon commented on #2178
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1263554170914832385) 👈 🐦🐦🐦

[2020-05-21 19:36] whedon commented on #2178
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1459
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02178](https://doi.org/10.21105/joss.02178)
2. If everything looks g

[2020-05-21 19:36] kthyng commented on #2201
@whedon generate pdf

[2020-05-21 19:37] whedon commented on #2201
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02201/joss.02201/10.21105.joss.02201.pdf)

[2020-05-21 19:40] kthyng commented on #2201
Hi again @oliviaguest! Are you able to edit this submission too?

[2020-05-21 19:47] danielskatz commented on #2197
This is not an issue with the paper body, but with the header.
Specifically, on line 9
	orcid: 0000-0001-5877-5608
should be
    orcid: 0000-0001-5877-5608

(basically, a tab needs to be replaced with 4 spaces)

[2020-05-21 19:53] kbarnhart commented on #2199
@kthyng I can provide some info. I first note that I am an author on this submission.

Most Landlab component submissions to JOSS (all, I think) have three parts: component source code, tests, and example notebooks. Each live in a separate location in the Landlab repository. In the case of this specific contribution the content is located at:

- component source: `landlab/components/network_sedime

[2020-05-21 20:08] donaldRwilliams commented on #2111
@whedon generate pdf

[2020-05-21 20:09] whedon commented on #2111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02111/joss.02111/10.21105.joss.02111.pdf)

[2020-05-21 20:34] oliviaguest commented on #2200
I sure can — lemme know when to move to find reviewers.

[2020-05-21 20:39] danielskatz commented on #2200
@whedon assign @oliviaguest as editor

[2020-05-21 20:39] whedon commented on #2200
OK, the editor is @oliviaguest

[2020-05-21 20:39] danielskatz commented on #2200
Go for it!

[2020-05-21 20:41] csoneson commented on #2193
@whedon generate pdf

[2020-05-21 20:41] whedon commented on #2193
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02193/joss.02193/10.21105.joss.02193.pdf)

[2020-05-21 21:21] oliviaguest commented on #2201
Sure thing. 😊

[2020-05-21 21:53] meg-simula commented on #2195
Yes, can do. (But public holiday here until Monday, will follow up then.)

[2020-05-21 21:58] usethedata commented on #2198
@whedon assign @usethedata as editor

[2020-05-21 21:58] whedon commented on #2198
OK, the editor is @usethedata

[2020-05-21 22:30] Xunius commented on #2197
Thanks. Just made a quick fix: https://github.com/ihesp/AR_tracker/commit/6e617d8f0d5ad43beec1dbbf8ea693f4e57013cf

[2020-05-21 22:47] danielskatz commented on #2195
@whedon assign @meg-simula as editor

[2020-05-21 22:47] whedon commented on #2195
OK, the editor is @meg-simula

[2020-05-21 23:13] oliviaguest commented on #2200
@whedon add @paulinepalma as reviewer

[2020-05-21 23:13] whedon commented on #2200
OK, @paulinepalma is now a reviewer

[2020-05-22 01:06] arfon commented on #2201
@whedon assign @oliviaguest as editor

[2020-05-22 01:06] whedon commented on #2201
OK, the editor is @oliviaguest

[2020-05-22 01:52] wilsonrljr commented on #2191
Suggestions for potential reviewers:

- sixpearls
- ixjlyons
- shibabrat
- dawbarton

Based on the spreadsheet provided, the reviewers mentioned above are experts in nonlinear dynamic systems, data science, signal processing ,  and many correlated areas to the topic of the paper.

[2020-05-22 02:00] dpsanders commented on #2191
👋 Hi @wilsonrljr. Many thanks for the list of possible reviewers. I hope we can get the review going soon, subject of course to people's availability.

[2020-05-22 02:06] wilsonrljr commented on #2191
You're welcome! I am available to help in whatever way possible throughout the process.

[2020-05-22 05:23] kyleniemeyer commented on #2178
Congrats @fwitte on your article's publication in JOSS!

Many thanks to @arosen93 and @corentin-dev for reviewing this submission.

[2020-05-22 05:23] #2178 closed

[2020-05-22 05:23] whedon commented on #2178
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02178/status.svg)](https://doi.org/10.21105/joss.02178)

**We need your help!**

Journal of Open Source Softwa

[2020-05-22 10:25] arfon commented on #2188
I've done a little digging here and it turns out we need the full history for calculating things like the repository statistics.

This is the only thing that will truly fix this issue but it's not essential for the JOSS review as I can compile the paper locally and update the thread with the PDF as we go.

That said, I would encourage you to address this issue as all of your future users will have

[2020-05-22 10:26] NicoRenaud commented on #2077
@arfon we updated the instruction to manually run the test as pointed out by @joaomcteixeira. We could also follow his suggestion to change the exec path but I don't really have the time to do that at the moment. So from our side we are done I think

[2020-05-22 10:52] dlagrava commented on #2095
@arfon thanks for the message. Children were back to school this week, and I was able to catch-up with work stuff that was due. I will fast-track the review and finish it before June. Have a good day!

[2020-05-22 11:54] dmey commented on #2008
@mjsottile just to let you know that I have enquired again about the status of this but was told that this will take another couple of weeks.

[2020-05-22 12:30] katmratliff commented on #2196
Recommended reviewers:
Delcan Valters (dvalters)
Kel Markert (KMarkert)
Andrew Bennett (arbennett)

[2020-05-22 12:40] peanutfun commented on #2195
@whedon generate pdf from branch joss-paper

[2020-05-22 12:40] whedon commented on #2195
[code]

[2020-05-22 12:41] whedon commented on #2195
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02195/joss.02195/10.21105.joss.02195.pdf)

[2020-05-22 12:49] peanutfun commented on #2195
Hello everybody and thanks for having us! The paper is located in the [`joss-paper`](https://ts-gitlab.iup.uni-heidelberg.de/dorie/dorie/-/merge_requests/198) branch of the repository in order to quickly update it during the review process. I just had it compiled from there.

[2020-05-22 13:35] whedon opened #2202 "[PRE REVIEW]: dfba: Software for efficient simulation of dynamic flux-balance analysis models in Python"
**Submitting author:** @davidtourigny (<a href="http://orcid.org/0000-0002-3987-8078">David Tourigny</a>)
**Repository:** <a href="https://gitlab.com/davidtourigny/dynamic-fba" target ="_blank">https://gitlab.com/davidtourigny/dynamic-fba</a>
**Version:** v0.1.6
**Editor:** @marcosvital
**Reviewers:** @jdbrunner, @pstjohn, @synchon
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mo

[2020-05-22 13:35] whedon commented on #2202
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 13:36] whedon commented on #2202
[code]

[2020-05-22 13:36] whedon commented on #2202
[code]

[2020-05-22 13:36] whedon commented on #2202
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02202/joss.02202/10.21105.joss.02202.pdf)

[2020-05-22 13:41] dfm commented on #2194
@elDan101: Can you take a look at [this list](https://bit.ly/joss-reviewers) and let me know if you see anyone who would be a particularly good fit as a reviewer. I'll start looking for reviewers soon!

[2020-05-22 13:43] anmolter commented on #2177
Based on the comments by @athelena I have made the following changes:

- I have added more information to the manual in the General Information > What is LUR section on how the regression analysis works and on how the hybrid model works. I have also added a copy of the ESCAPE exposure manual pdf to the documentation folder in case their website is down.
- I have added more information to the manua

[2020-05-22 13:48] anmolter commented on #2177
@whedon generate pdf

[2020-05-22 13:48] whedon commented on #2177
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02177/joss.02177/10.21105.joss.02177.pdf)

[2020-05-22 13:52] dfm commented on #2189
@ejhigson: You're on! I'll add you as a reviewer and add another as soon as I have confirmation. Thanks!

[2020-05-22 13:52] dfm commented on #2189
@whedon assign @ejhigson as reviewer

[2020-05-22 13:52] whedon commented on #2189
OK, @ejhigson is now a reviewer

[2020-05-22 14:11] elDan101 commented on #2194
Hello @dfm,
Thank you for starting the review process. Based on similar projects reviewed in JOSS I can suggest

@jkmacc-LANL (PyDMD) and @sixpearls (PySINDy)

as reviewers. I also had a look at the list, and

@EduPH @jsgalan @ixjlyons

may also be a good match. Thanks again.

[2020-05-22 15:07] arfon commented on #2202
:wave: @marcosvital - would you be able to edit this submission for JOSS?

[2020-05-22 15:07] arfon commented on #2202
@whedon invite @marcosvital as editor

[2020-05-22 15:07] whedon commented on #2202
@marcosvital has been invited to edit this submission.

[2020-05-22 15:09] arfon commented on #2187
@whedon invite @Kevin-Mattheus-Moerman as editor

[2020-05-22 15:09] whedon commented on #2187
@Kevin-Mattheus-Moerman has been invited to edit this submission.

[2020-05-22 15:10] whedon opened #2203 "[PRE REVIEW]: TBFMM: A C++ generic and parallel fast multipole method library"
**Submitting author:** @berenger-eu (<a href="http://orcid.org/0000-0003-0281-9709">Bérenger Bramas</a>)
**Repository:** <a href="https://gitlab.inria.fr/bramas/tbfmm" target ="_blank">https://gitlab.inria.fr/bramas/tbfmm</a>
**Version:** v1.0
**Editor:** @poulson
**Reviewers:** @pitsianis, @Himscipy, @sarats
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to

[2020-05-22 15:10] whedon commented on #2203
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 15:10] whedon commented on #2203
[code]

[2020-05-22 15:10] rmsare commented on #2172
@kthyng Yes, I will be able to complete this review within 3 weeks.

[2020-05-22 15:11] whedon commented on #2203
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02203/joss.02203/10.21105.joss.02203.pdf)

[2020-05-22 15:17] arfon commented on #2203
:wave: @poulson - would you be able to take on this submission for us?

[2020-05-22 15:17] Kevin-Mattheus-Moerman commented on #2187
@whedon assign @Kevin-Mattheus-Moerman as editor

[2020-05-22 15:17] whedon commented on #2187
OK, the editor is @Kevin-Mattheus-Moerman

[2020-05-22 15:17] arfon commented on #2203
@whedon invite @poulson as editor

[2020-05-22 15:17] whedon commented on #2203
@poulson has been invited to edit this submission.

[2020-05-22 15:18] whedon opened #2204 "[PRE REVIEW]: Analysing 24-hour behaviour sequence data with an Rshiny application"
**Submitting author:** @jcolomb (<a href="http://orcid.org/0000-0002-3127-5520">Colomb, J.</a>)
**Repository:** <a href="https://github.com/jcolomb/HCS_analysis" target ="_blank">https://github.com/jcolomb/HCS_analysis</a>
**Version:** v0.1.3
**Editor:** @danielskatz
**Reviewers:** @mikerspencer, @aj2duncan
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to th

[2020-05-22 15:18] whedon commented on #2204
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 15:19] whedon commented on #2204
PDF failed to compile for issue #2204 with the following error:

 Can't find any papers to compile :-(

[2020-05-22 15:19] arfon commented on #2204
@whedon generate pdf

[2020-05-22 15:19] whedon commented on #2204
[code]

[2020-05-22 15:20] whedon commented on #2204
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02204/joss.02204/10.21105.joss.02204.pdf)

[2020-05-22 15:23] Kevin-Mattheus-Moerman commented on #2188
@arfon I can take this one if @cMadan can't

[2020-05-22 15:26] arfon commented on #2204
👋 @danielskatz - would you be willing to edit this for JOSS?

[2020-05-22 15:26] arfon commented on #2204
@whedon invite @danielskatz as editor

[2020-05-22 15:26] whedon commented on #2204
@danielskatz has been invited to edit this submission.

[2020-05-22 15:29] kthyng commented on #2172
@rmsare excellent!

[2020-05-22 15:58] whedon opened #2205 "[PRE REVIEW]: mmaqshiny v1.0: R-Shiny package to explore air quality mobile monitoring data"
**Submitting author:** @adithirgis (<a href="http://orcid.org/0000-0002-1764-1379">Adithi Upadhya</a>)
**Repository:** <a href="https://github.com/meenakshi-kushwaha/mmaqshiny" target ="_blank">https://github.com/meenakshi-kushwaha/mmaqshiny</a>
**Version:** v.1.0.0
**Editor:** @arfon
**Reviewers:** @ibarraespinosa, @nistara
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :war

[2020-05-22 15:58] whedon commented on #2205
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 15:58] whedon commented on #2205
[code]

[2020-05-22 15:58] whedon commented on #2205
[code]

[2020-05-22 16:11] arfon commented on #2188
Thanks @Kevin-Mattheus-Moerman. Feel free to grab this now if you feel able to handle it.

[2020-05-22 16:17] arfon commented on #2205
@whedon assign @arfon as editor

[2020-05-22 16:17] whedon commented on #2205
OK, the editor is @arfon

[2020-05-22 16:18] arfon commented on #2205
:wave: @adithirgis - thanks for your submission to JOSS. Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2020-05-22 16:18] whedon opened #2206 "[PRE REVIEW]: BrkRaw: A comprehensive tool for accessing raw Bruker Biospin MRI data"
**Submitting author:** @dvm-shlee (<a href="http://orcid.org/0000-0001-5292-0747">Sung-Ho Lee</a>)
**Repository:** <a href="https://github.com/brkraw/bruker" target ="_blank">https://github.com/brkraw/bruker</a>
**Version:** 0.3.3
**Editor:** @richardjgowers
**Reviewers:** @mih, @mwegrzyn, @PeerHerholz
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2020-05-22 16:18] whedon commented on #2206
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 16:19] whedon commented on #2206
PDF failed to compile for issue #2206 with the following error:

 Can't find any papers to compile :-(

[2020-05-22 16:19] whedon commented on #2206
[code]

[2020-05-22 16:19] whedon commented on #2206
[code]

[2020-05-22 16:19] arfon commented on #2206
@whedon generate pdf

[2020-05-22 16:20] whedon commented on #2206
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02206/joss.02206/10.21105.joss.02206.pdf)

[2020-05-22 16:23] arfon commented on #2206
👋 @richardjgowers - would you be able to edit this for JOSS? I realize it's not really in your field but our MRI specialist is completely unavailable to edit currently.

[2020-05-22 16:23] arfon commented on #2206
@whedon invite @richardjgowers as editor

[2020-05-22 16:23] whedon commented on #2206
@richardjgowers has been invited to edit this submission.

[2020-05-22 16:24] whedon opened #2207 "[PRE REVIEW]: dantro: a Python package for handling, transforming, and visualizing hierarchically structured data"
**Submitting author:** @blsqr (<a href="http://orcid.org/0000-0003-3858-0904">Yunus Sevinchan</a>)
**Repository:** <a href="https://ts-gitlab.iup.uni-heidelberg.de/utopia/dantro" target ="_blank">https://ts-gitlab.iup.uni-heidelberg.de/utopia/dantro</a>
**Version:** v0.13
**Editor:** @lorenanicole
**Reviewers:** @Chilipp, @mdpiper
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mod

[2020-05-22 16:24] whedon commented on #2207
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 16:25] arfon commented on #2207
@whedon generate pdf from branch add-joss-paper

[2020-05-22 16:25] whedon commented on #2207
[code]

[2020-05-22 16:25] arfon commented on #2207
:wave: @lorenanicole - would you be willing to edit this for JOSS?

[2020-05-22 16:25] whedon commented on #2207
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02207/joss.02207/10.21105.joss.02207.pdf)

[2020-05-22 16:25] arfon commented on #2207
@whedon invite @lorenanicole as editor

[2020-05-22 16:25] whedon commented on #2207
@lorenanicole has been invited to edit this submission.

[2020-05-22 16:28] whedon opened #2208 "[PRE REVIEW]: StoSpa2: A C++ software package for stochastic simulations of spatially extended systems"
**Submitting author:** @BartoszBartmanski (<a href="http://orcid.org/0000-0002-0495-9150">Bartosz Bartmanski</a>)
**Repository:** <a href="https://github.com/BartoszBartmanski/StoSpa2" target ="_blank">https://github.com/BartoszBartmanski/StoSpa2</a>
**Version:** v2.0.27
**Editor:** @pdebuyl
**Reviewers:** @CFGrote
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

D

[2020-05-22 16:28] whedon commented on #2208
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 16:29] whedon commented on #2208
[code]

[2020-05-22 16:29] whedon commented on #2208
[code]

[2020-05-22 16:29] whedon commented on #2208
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02208/joss.02208/10.21105.joss.02208.pdf)

[2020-05-22 16:37] arfon commented on #2208
@whedon invite @drvinceknight as editor

[2020-05-22 16:37] whedon commented on #2208
@drvinceknight has been invited to edit this submission.

[2020-05-22 16:40] whedon opened #2209 "[PRE REVIEW]: DriveML: An R Package for Driverless Machine Learning"
**Submitting author:** @sayanddude (<a href="http://orcid.org/0000-0002-6477-0376">Sayan Putatunda</a>)
**Repository:** <a href="https://github.com/daya6489/DriveML" target ="_blank">https://github.com/daya6489/DriveML</a>
**Version:** v0.1
**Editor:** @dfm
**Reviewers:** @mirca, @pat-s
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2020-05-22 16:41] whedon commented on #2209
[code]

[2020-05-22 16:41] whedon commented on #2209
[code]

[2020-05-22 16:42] whedon commented on #2209
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02209/joss.02209/10.21105.joss.02209.pdf)

[2020-05-22 16:42] arfon commented on #2190
I'm afraid not. As per our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html), software submitted to JOSS must:

- Be stored in a repository that can be cloned without registration.
- Be stored in a repository that is browsable online without registration.
- Have an issue tracker that is readable without registration.
- Permit individuals to create issues/file tickets

[2020-05-22 16:48] arfon commented on #2209
:wave: @dfm - would you be willing to edit this submission for JOSS?

[2020-05-22 16:48] whedon commented on #2209
@dfm has been invited to edit this submission.

[2020-05-22 16:49] whedon opened #2210 "[PRE REVIEW]: policytree: Policy learning via doubly robust empirical welfare maximization over trees"
**Submitting author:** @erikcs (<a href="http://orcid.org/0000-0001-6093-1390">Erik Sverdrup</a>)
**Repository:** <a href="https://github.com/grf-labs/policytree" target ="_blank">https://github.com/grf-labs/policytree</a>
**Version:** v0.9.2
**Editor:** @arfon
**Reviewers:** @nhejazi, @jjharden
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-05-22 16:49] whedon commented on #2210
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 16:49] whedon commented on #2210
[code]

[2020-05-22 16:49] whedon commented on #2210
PDF failed to compile for issue #2210 with the following error:

 Can't find any papers to compile :-(

[2020-05-22 16:55] adithirgis commented on #2205
Hello Arfon,
Thank you!
Here are my suggestions:
- masalmon
- garretrc

Please let me know if I need to suggest more reviewers.

Warm regards and stay safe
Adithi R. Upadhya

On Fri, May 22, 2020 at 9:48 PM Arfon Smith <notifications@github.com>
wrote:

[2020-05-22 16:55] arfon commented on #2210
@whedon generate pdf from branch oss-paper

[2020-05-22 16:55] whedon commented on #2210
[code]

[2020-05-22 16:55] whedon commented on #2210
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02210/joss.02210/10.21105.joss.02210.pdf)

[2020-05-22 17:35] vsoch commented on #2192
Thank you @whedon, @arfon, and @usethedata! Since this is a Python-based tool that is generally usable across domains, I'll suggest reviewers that are keen on Python. I'll also try to choose reviewers that aren't currently reviewing, and haven't reviewed recently to help balance the work.

 - khinsen
 - ahurriyetoglu
 - Adrianzo
 - jochym
 - cbrueffer

Let me know if you want others, or otherwise

[2020-05-22 17:36] whedon opened #2211 "[PRE REVIEW]: seg1d: A Python package for Automated segmentation of one-dimensional (1D) data"
**Submitting author:** @cadop (<a href="http://orcid.org/0000-0003-3662-7203">Mathew Schwartz</a>)
**Repository:** <a href="https://github.com/cadop/seg1d" target ="_blank">https://github.com/cadop/seg1d</a>
**Version:** 0.1.0
**Editor:** @trallard
**Reviewers:** @AKuederle, @ejhigson
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2020-05-22 17:36] whedon commented on #2211
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 17:37] whedon commented on #2211
[code]

[2020-05-22 17:37] whedon commented on #2211
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02211/joss.02211/10.21105.joss.02211.pdf)

[2020-05-22 17:37] whedon commented on #2211
[code]

[2020-05-22 17:41] sjvrijn commented on #2049
@whedon generate pdf

[2020-05-22 17:41] whedon commented on #2049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02049/joss.02049/10.21105.joss.02049.pdf)

[2020-05-22 17:43] kthyng commented on #2211
Hi @trallard! Are you able to edit this submission?

[2020-05-22 17:44] kthyng commented on #2211
@whedon invite @trallard  as editor

[2020-05-22 17:44] whedon commented on #2211
@trallard has been invited to edit this submission.

[2020-05-22 17:47] whedon opened #2212 "[PRE REVIEW]: Exact sinogram: an analytical approachto the Radon transform of phantoms"
**Submitting author:** @francescat93 (<a href="http://orcid.org/0000-0002-2544-0913">FRANCESCA TEDESCHI</a>)
**Repository:** <a href="https://github.com/francescat93/Exact_sinogram" target ="_blank">https://github.com/francescat93/Exact_sinogram</a>
**Version:** v0.1.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due

[2020-05-22 17:47] whedon commented on #2212
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 17:47] whedon commented on #2212
[code]

[2020-05-22 17:47] whedon commented on #2212
PDF failed to compile for issue #2212 with the following error:

 [WARNING] Could not fetch resource 'JOSSimages/phantom_rectangles.png': replacing image with description
[WARNING] Could not fetch resource 'JOSSimages/analytical_sinograms_rectangles.png': replacing image with description
Error producing PDF.
! Undefined control sequence.
l.443 ...llowing form \[f_{\epsilon}(x,y)\coloneqq

Looks li

[2020-05-22 17:48] whedon commented on #2212
[code]

[2020-05-22 17:54] danielskatz commented on #2204
@whedon assign me as editor

@arfon - I don't think this will work, but it should

[2020-05-22 17:55] kthyng commented on #2212
Hi @francescat93! Thank you for your submission. I have some questions that are based on our [submission requirements and what your paper should contain](https://joss.readthedocs.io/en/latest/submitting.html).

1. Typically acceptable submissions have at least 1000 lines of code, though this is not always the case. However, given that this submission has less than 1000 lines of code, we would like

[2020-05-22 17:55] danielskatz commented on #2204
not even an error...

[2020-05-22 17:55] danielskatz commented on #2204
@whedon assign @danielskatz as editor

[2020-05-22 17:55] whedon commented on #2204
OK, the editor is @danielskatz

[2020-05-22 17:56] danielskatz commented on #2204
👋 @j_colomb - thanks for your submission to JOSS. Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2020-05-22 17:56] whedon opened #2213 "[PRE REVIEW]: Ginkgo: A high performance numerical linear algebra library"
**Submitting author:** @pratikvn (<a href="http://orcid.org/0000-0002-7961-1159">Pratik Nayak</a>)
**Repository:** <a href="https://github.com/ginkgo-project/ginkgo" target ="_blank">https://github.com/ginkgo-project/ginkgo</a>
**Version:** v1.1.1
**Editor:** @mjsottile
**Reviewers:** @sivaramambikasaran, @adam-m-jcbs, @zeroset
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode

[2020-05-22 17:56] whedon commented on #2213
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 17:57] whedon commented on #2213
PDF failed to compile for issue #2213 with the following error:

 Can't find any papers to compile :-(

[2020-05-22 17:57] whedon commented on #2213
[code]

[2020-05-22 17:58] whedon commented on #2049
:wave: @zbeekman, please update us on how your review is going.

[2020-05-22 17:59] kthyng commented on #2213
@whedon generate pdf

[2020-05-22 17:59] whedon commented on #2213
PDF failed to compile for issue #2213 with the following error:

 Can't find any papers to compile :-(

[2020-05-22 18:01] kthyng commented on #2213
Hi @pratikvn! Thanks for your submission. Do you have a JOSS paper somewhere? Our bot can't find it.

[2020-05-22 18:01] dfm commented on #2189
Good news: @joshspeagle has also agreed to be a reviewer. Thanks Josh!

[2020-05-22 18:01] danielskatz commented on #2213
@whedon generate pdf from custom-branch joss-paper

[2020-05-22 18:02] dfm commented on #2189
@whedon add @joshspeagle as reviewer

[2020-05-22 18:02] kthyng commented on #2213
@mjsottile - Are you willing to edit this submission?

[2020-05-22 18:02] whedon commented on #2189
OK, @joshspeagle is now a reviewer

[2020-05-22 18:02] whedon commented on #2213
PDF failed to compile for issue #2213 with the following error:

 Can't find any papers to compile :-(

[2020-05-22 18:02] kthyng commented on #2213
@whedon invite @mjsottile as editor

[2020-05-22 18:02] whedon commented on #2213
@mjsottile has been invited to edit this submission.

[2020-05-22 18:02] dfm commented on #2189
@whedon start review

[2020-05-22 18:02] whedon opened #2214 "[REVIEW]: uravu: Making Bayesian modelling easy(er)"
**Submitting author:** @arm61 (<a href="http://orcid.org/0000-0003-3381-5911">Andrew McCluskey</a>)
**Repository:** <a href="https://github.com/arm61/uravu" target ="_blank">https://github.com/arm61/uravu</a>
**Version:** v1.0.0
**Editor:** @dfm
**Reviewer:** @ejhigson, @joshspeagle
**Archive:** <a href="https://doi.org/10.5281/zenodo.3876888" target="_blank">10.5281/zenodo.3876888</a>

**:warning

[2020-05-22 18:03] whedon commented on #2189
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2214.

[2020-05-22 18:03] #2189 closed

[2020-05-22 18:03] whedon commented on #2214
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ejhigson, @joshspeagle it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-05-22 18:03] whedon commented on #2214
[code]

[2020-05-22 18:03] whedon commented on #2214
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02214/joss.02214/10.21105.joss.02214.pdf)

[2020-05-22 18:04] pratikvn commented on #2213
Yes, you can find the [paper here](https://github.com/ginkgo-project/ginkgo/tree/joss-paper/doc/joss)

[2020-05-22 18:04] whedon opened #2215 "[PRE REVIEW]: PythoFragam: A Python-based Optimization Tool for DNA Fragment"
**Submitting author:** @uzmakhann (<a href="http://orcid.org/0000-0002-3441-7889">uzma khan</a>)
**Repository:** <a href="https://github.com/uzmakhann/A-package-for-optimizing-the-DNA-fragment-assembly" target ="_blank">https://github.com/uzmakhann/A-package-for-optimizing-the-DNA-fragment-assembly</a>
**Version:** Python 3.4+
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thy

[2020-05-22 18:04] dfm commented on #2189
@arm61, @ejhigson, @joshspeagle: The main review thread is now at: https://github.com/openjournals/joss-reviews/issues/2214

We can head over there to start the review. Thanks all!

[2020-05-22 18:04] whedon commented on #2215
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 18:04] whedon commented on #2215
[code]

[2020-05-22 18:04] whedon commented on #2215
Failed to discover a valid open source license.

[2020-05-22 18:04] whedon commented on #2215
PDF failed to compile for issue #2215 with the following error:

 Can't find any papers to compile :-(

[2020-05-22 18:04] danielskatz commented on #2213
@arfon - the JOSS paper is in doc/joss in branch joss-paper - How do we compile it?

[2020-05-22 18:05] sjvrijn commented on #2049
Hi @zbeekman! Thanks for the prompt review, I appreciate it and will do my best to reciprocate with my own responses :)

I've updated the paper (and performance page of the docs) to respond to just about all of your comments. Regarding your question about parallelism, the package simply relies on numpy and doesn't perform any explicit parallelization itself. I've tried to look whether it ran on on

[2020-05-22 18:07] dfm commented on #2214
@ejhigson, @joshspeagle: Thanks again for agreeing to review this submission. You should have access to the checklists above so please take a look when you get a chance. We generally ask that you complete your reviews in about 2 weeks, but we understand that life might not allow that these days so please just let me know if you need much longer or if there's anything I can do to help. The reviewer

[2020-05-22 18:07] kthyng commented on #2215
Hi @uzmakhann, thanks for your submission! I have a few questions to get started:

1. I don't see a paper accompanying your submission. Please see our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html).
1. We need to have a valid open source license.
1. A typical acceptable submission will have at least 1000 lines of code, but this isn't always the case. Can you make

[2020-05-22 18:07] kthyng commented on #2215
We have a lot of submissions that have come in since we re-opened, and given the questions I have, I'm going to mark this as paused for now. (This is internal bookkeeping for us)

[2020-05-22 18:08] arm61 commented on #2214
Absolute dream team of editor/reviewers here 🤟🏻.

Thanks all for you time and I can’t wait to hear your thoughts! Excited to make `uravu` the best code it can be.

[2020-05-22 18:25] arfon commented on #2205
:wave: @masalmon & @garretrc - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-05-22 18:28] arfon commented on #2204
Agreed. It should!

[2020-05-22 18:30] arfon commented on #2213
@whedon generate pdf from branch joss-paper

[2020-05-22 18:30] whedon commented on #2213
[code]

[2020-05-22 18:31] whedon commented on #2213
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02213/joss.02213/10.21105.joss.02213.pdf)

[2020-05-22 18:35] arfon commented on #2210
@whedon assign @arfon as editor

[2020-05-22 18:35] whedon commented on #2210
OK, the editor is @arfon

[2020-05-22 18:35] arfon commented on #2210
:wave: @erikcs - thanks for your submission to JOSS.

Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2020-05-22 18:35] maelle commented on #2205
Sorry, no, I wouldn't have time.

[2020-05-22 18:36] whedon opened #2216 "[PRE REVIEW]: Easy SimAuto (ESA): A Python Package that Simplifies Interacting with PowerWorld Simulator"
**Submitting author:** @blthayer (<a href="http://orcid.org/0000-0002-6517-1295">Brandon Thayer</a>)
**Repository:** <a href="https://github.com/mzy2240/ESA" target ="_blank">https://github.com/mzy2240/ESA</a>
**Version:** v1.0.2
**Editor:** @danielskatz
**Reviewers:** @robinroche, @tonyelhabr
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2020-05-22 18:36] whedon commented on #2216
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 18:36] whedon commented on #2216
[code]

[2020-05-22 18:36] whedon commented on #2216
[code]

[2020-05-22 18:36] whedon commented on #2216
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02216/joss.02216/10.21105.joss.02216.pdf)

[2020-05-22 18:39] arfon commented on #2216
:wave: @danielskatz - would you be willing to edit this submission?

[2020-05-22 18:39] whedon opened #2217 "[PRE REVIEW]: BluVision Macro - a software for automated powdery mildew and rust disease quantification on detached leaves."
**Submitting author:** @snowformatics (<a href="http://orcid.org/0000-0003-0536-835X">Stefanie Lueck</a>)
**Repository:** <a href="https://github.com/snowformatics/macrobot" target ="_blank">https://github.com/snowformatics/macrobot</a>
**Version:** 0.4.6
**Editor:** @mjsottile
**Reviewers:** @SirSharpest, @phckopper, @jizecn
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :wa

[2020-05-22 18:39] whedon commented on #2217
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 18:39] whedon commented on #2217
[code]

[2020-05-22 18:39] whedon commented on #2217
Failed to discover a valid open source license.

[2020-05-22 18:40] whedon commented on #2217
[code]

[2020-05-22 18:40] whedon commented on #2217
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02217/joss.02217/10.21105.joss.02217.pdf)

[2020-05-22 18:43] arfon commented on #2217
:wave: @mjsottile - I realize this isn't really in your wheelhouse but any chance you could edit this for us?

[2020-05-22 18:43] arfon commented on #2217
@whedon invite @mjsottile as editor

[2020-05-22 18:43] whedon commented on #2217
@mjsottile has been invited to edit this submission.

[2020-05-22 18:44] whedon opened #2218 "[PRE REVIEW]: Drug Informatics Studio: An Ontology-based Integrative Research Environment for Clinical Informatics"
**Submitting author:** @jing-su (<a href="http://orcid.org/0000-0003-4917-6173">Jing Su</a>)
**Repository:** <a href="https://github.com/Su-informatics-lab/DIStudio" target ="_blank">https://github.com/Su-informatics-lab/DIStudio</a>
**Version:** v0.1.0
**Editor:** @richardjgowers
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2020-05-22 18:44] whedon commented on #2218
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 18:44] whedon commented on #2218
[code]

[2020-05-22 18:44] whedon commented on #2218
[code]

[2020-05-22 18:44] whedon commented on #2218
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02218/joss.02218/10.21105.joss.02218.pdf)

[2020-05-22 18:46] arfon commented on #2218
:wave: @richardjgowers - I realize this isn't really in your wheelhouse but any chance you could edit this for us?

[2020-05-22 18:46] arfon commented on #2218
@whedon invite @richardjgowers as editor

[2020-05-22 18:46] whedon commented on #2218
@richardjgowers has been invited to edit this submission.

[2020-05-22 18:49] arfon commented on #2205
OK, no worries. @adithirgis - please suggest a few more potential reviewers if you can.

[2020-05-22 18:49] whedon opened #2219 "[PRE REVIEW]: impedance.py: A Python package for electrochemical impedance analysis"
**Submitting author:** @mdmurbach (<a href="http://orcid.org/0000-0002-6583-5995">Matthew D. Murbach</a>)
**Repository:** <a href="https://github.com/ECSHackWeek/impedance.py" target ="_blank">https://github.com/ECSHackWeek/impedance.py</a>
**Version:** v1.0.0
**Editor:** @mbobra
**Reviewers:** @ma-sadeghi, @EricaEgg
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2020-05-22 18:49] whedon commented on #2219
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 18:50] whedon commented on #2219
[code]

[2020-05-22 18:50] whedon commented on #2219
[code]

[2020-05-22 18:50] whedon commented on #2219
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02219/joss.02219/10.21105.joss.02219.pdf)

[2020-05-22 18:51] danielskatz commented on #2216
@whedon assign @danielskatz as editor

[2020-05-22 18:52] whedon commented on #2216
OK, the editor is @danielskatz

[2020-05-22 18:53] csoneson commented on #2193
👋@Alcampopiano - I will handle your submission and start by inviting reviewers.
Going through your paper, I think it would be useful to include a brief comparison of `Hypothesize` to other (potential) Python packages implementing similar functionality. Could you add a statement about that?

[2020-05-22 18:54] snowformatics commented on #2217
Dear all,

I would like to suggest **sirsharpest** as reviewer because he has experience in plant science, phenotyping and computer vision.

Best regards
Stefanie

[2020-05-22 18:54] danielskatz commented on #2216
👋 @blthayer - thanks for your submission to JOSS. Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

Also, be aware that this might be difficult.  I don't know anything about "PowerWorld Simulator Automation Server (SimAuto)", but if this is something reviewers need to know, ne

[2020-05-22 18:57] snowformatics commented on #2217
I copied the license file in the main directory, hope that's the right place.

[2020-05-22 19:10] csoneson commented on #2193
👋 @arbennett, @kirstensgithub, @martinagvilas - would you be interested in reviewing this submission for JOSS?

software: https://github.com/Alcampopiano/hypothesize
accompanying paper: https://github.com/openjournals/joss-papers/blob/joss.02193/joss.02193/10.21105.joss.02193.pdf

[2020-05-22 19:10] snowformatics commented on #2217
@whedon check references

[2020-05-22 19:10] whedon commented on #2217
[code]

[2020-05-22 19:13] erikcs commented on #2210
Thank you, it seems _AvianaGlobal_, _jjharden_, _nhejazi_  (causal inference) and _bblum9_ (statistics and C++) are good candidates.

[2020-05-22 19:17] arfon commented on #2219
:wave: @mdmurbach. Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in