[2020-11-06 20:33] whedon commented on #2820
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-06 20:33] whedon commented on #2820
[code]

[2020-11-06 20:33] whedon commented on #2820
[code]

[2020-11-06 20:34] whedon commented on #2820
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02820/joss.02820/10.21105.joss.02820.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02820/joss.02820/10.21105.joss.02820.pdf) :page_facing_up: :point_left:

[2020-11-06 20:38] Kevin-Mattheus-Moerman commented on #2820
@whedon query scope

[2020-11-06 20:38] whedon commented on #2820
Submission flagged for editorial review.

[2020-11-06 20:39] whedon opened #2821 "[PRE REVIEW]: PyCTRSA: A Python package for cross-temporal representational similarity analysis-based E/MEG decoding"
**Submitting author:** @ZitongLu1996 (<a href="http://orcid.org/0000-0002-7953-6742">Zitong Lu</a>)
**Repository:** <a href="https://github.com/ZitongLu1996/PyCTRSA" target ="_blank">https://github.com/ZitongLu1996/PyCTRSA</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-11-06 20:39] whedon commented on #2821
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-06 20:39] whedon commented on #2821
[code]

[2020-11-06 20:39] whedon commented on #2821
[code]

[2020-11-06 20:40] whedon commented on #2821
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02821/joss.02821/10.21105.joss.02821.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02821/joss.02821/10.21105.joss.02821.pdf) :page_facing_up: :point_left:

[2020-11-06 20:40] whedon opened #2822 "[PRE REVIEW]: PySPOD: A Python package for Spectral Proper Orthogonal Decomposition (SPOD)"
**Submitting author:** @mengaldo (<a href="http://orcid.org/0000-0002-0157-5477">Gianmarco Mengaldo</a>)
**Repository:** <a href="https://github.com/mengaldo/PySPOD" target ="_blank">https://github.com/mengaldo/PySPOD</a>
**Version:** v0.3
**Editor:** @eloisabentivegna
**Reviewers:** @albertonogueira, @joao-l-s-almeida, @jdmoorman
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced servic

[2020-11-06 20:40] whedon commented on #2822
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-06 20:41] Kevin-Mattheus-Moerman commented on #2821
@whedon query scope

[2020-11-06 20:41] whedon commented on #2821
Submission flagged for editorial review.

[2020-11-06 20:42] whedon commented on #2822
[code]

[2020-11-06 20:42] whedon commented on #2822
PDF failed to compile for issue #2822 with the following error:

 Can't find any papers to compile :-(

[2020-11-06 20:43] Kevin-Mattheus-Moerman commented on #2821
@ZitongLu1996 I have flagged this submission for scope review by our editorial board (standard for submissions in the order of 1000 lines of code). This review will take about a week.

[2020-11-06 20:46] Kevin-Mattheus-Moerman commented on #2822
@whedon generate pdf from branch papers/JOSS

[2020-11-06 20:46] whedon commented on #2822
[code]

[2020-11-06 20:47] whedon commented on #2822
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02822/joss.02822/10.21105.joss.02822.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02822/joss.02822/10.21105.joss.02822.pdf) :page_facing_up: :point_left:

[2020-11-06 20:51] Kevin-Mattheus-Moerman commented on #2822
@harpolea @eloisabentivegna @VivianePons could one of you handle this submission? Thanks!

[2020-11-06 20:57] Kevin-Mattheus-Moerman commented on #2775
@karthik @bmcfee @terrytangyuan @arokem can one of you handle this submission? Thanks

[2020-11-06 21:03] arokem commented on #2775
Sorry. I can only handle one submission at a time for now and already have one ongoing.

[2020-11-06 21:08] terrytangyuan commented on #2775
I am not able to handle additional ones at this time either.

[2020-11-06 21:08] pibion commented on #2693
@hemanthpruthvi here are the rest of my comments on the paper.

## Questions about the paper
- It's not clear what you mean by "facilitate" when you say, "Off-axis components are facilitated, as they have a significant effect on polarization."  Do you mean calculate?  Or include?
- You say, " Spot diagram is possible at any instance" and I'm not sure what you mean by "instance."  Do you mean befor

[2020-11-06 21:25] whedon commented on #2805
:wave: @jdalzatec, please update us on how your review is going.

[2020-11-06 21:25] whedon commented on #2805
:wave: @omshinde, please update us on how your review is going.

[2020-11-06 21:25] whedon commented on #2805
:wave: @nuest, please update us on how your review is going.

[2020-11-06 21:25] whedon commented on #2805
:wave: @martinfleis, please update us on how your review is going.

[2020-11-06 21:28] martinfleis commented on #2805
It will likely take some time before I'll manage to do my review. Hard to estimate now, I haven't properly looked into the complexity of the package yet.

[2020-11-06 21:28] foeroyingur commented on #2768
@usethedata the remainder of my review will unfortunately be delayed a bit.

[2020-11-06 21:54] karthik commented on #2775
Same as the above two.

[2020-11-06 21:57] usethedata commented on #2768
@ryokbys -- while I'm looking at this, I agree with Whedon's suggestion to add `, doi = 10.1093/oso/9780198803195.001.0001` to the bibliographic entry for the Allen and Tildesley book.  No hurries, but thought I'd tag it to your attention.

[2020-11-06 22:30] sadielbartholomew commented on #2597
@whedon commands

[2020-11-06 22:30] whedon commented on #2597
Here are some things you can ask me to do:

[code]

[2020-11-06 22:31] sadielbartholomew commented on #2597
@whedon check repository

[2020-11-06 22:32] whedon commented on #2597
[code]

[2020-11-06 23:05] tpoisot commented on #2777
*grabs :microphone:  to give some completely unsolicited advice*

I'm happy to review this one, I used Omniscape a lot. I know that @vlucet and @glaroc also did, and would be suitable reviewers as well.

[2020-11-06 23:18] VLucet commented on #2777
Thanks @tpoisot for thinking of me! I actually have not had the chance to test Omniscape yet. I know @glaroc did and would therefore be better suited. I have used Circuitscape (Julia version) quite a bit. I'm unsure whether having this perspective fully qualifies me to be a reviewer.

[2020-11-07 00:42] mossr commented on #2749
@sambitdash I've pushed comprehensive documentation that addresses the concerns you raised and checks all the necessary boxes above.

https://sisl.github.io/POMDPStressTesting.jl/dev/

Thank you again for the constructive input! Let me know if you have any more questions or would like additional clarifications.

[2020-11-07 01:19] syasini commented on #2608
Thanks for the great news @arfon! This is very exciting.

And many thanks again to @zpace and @AshKelly for their insightful feedback and their positive reviews and to @harpolea for editing.

Publishing with JOSS was a great experience and we'll be looking forward to hopefully do it again in the future!

Thank you all 🙏

[2020-11-07 06:17] apalarcon commented on #2479
I further suggest these reviewers
Maibys Sierra Lorenzo maibyssl@gmail.com
Adrian Luis Ferrer Hernández adrian.ferrer@insmet.cu

[2020-11-07 07:52] Kevin-Mattheus-Moerman commented on #2775
Okay. Thanks @karthik @arokem @xuanxu that is fine. I'll check with @bmcfee if they are able to help.

[2020-11-07 07:54] Kevin-Mattheus-Moerman commented on #2548
Thanks @AnaWaldila for pointing that out. I'll check with our tech support on why this is happening.

[2020-11-07 07:59] Kevin-Mattheus-Moerman commented on #2548
@openjournals/dev can you check why [this paper](https://github.com/openjournals/joss-papers/blob/joss.02548/joss.02548/10.21105.joss.02548.pdf) does not contain the images it shows in [the paper.md](https://github.com/asmusskar/ALVA/blob/master/paper.md). Is it because the images are in a different (`/images`) folder (so they are found on the repo but not by whedon?). They are using the following

[2020-11-07 08:00] Kevin-Mattheus-Moerman commented on #2793
@oalii I will be looking for suitable reviewers for this submission. If you have any suggested reviewers in mind please list them here (remove `@` from github handles for now).

[2020-11-07 08:16] Kevin-Mattheus-Moerman commented on #2793
@chrisrichardson, @garth-wells, @IgorBaratta, @trallard, @meg-simula, @pefarrell, @SteveMaas1978, @sebastkm would you be interested in reviewing this submission for JOSS?

[2020-11-07 08:19] Kevin-Mattheus-Moerman commented on #2704
@whedon accept deposit=true

[2020-11-07 08:19] whedon commented on #2704
[code]

[2020-11-07 08:20] whedon commented on #2704
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1324990022051827713) 👈 🐦🐦🐦

[2020-11-07 08:20] whedon commented on #2704
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1897
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02704](https://doi.org/10.21105/joss.02704)
2. If everything looks g

[2020-11-07 09:11] omshinde commented on #2805
It's coming along nicely. I have started reviewing it locally based on the checklist, will keep posted via updating the checklist. Thanks!

[2020-11-07 12:16] ryokbys commented on #2768
@usethedata -- I fixed  the bibliographic entry in JOSS branch. But I did not merge it to other branches as I do not know whether I need to do it..

[2020-11-07 14:21] chainsawriot commented on #2461
Dear @kakiac

Thanks for the info. I have created a tagged release on both Github and Zenodo. It's version 0.3.11.

https://github.com/chainsawriot/oolong/releases/tag/0.3.11

https://doi.org/10.5281/zenodo.4256574

Please let me know what I should do next. Thank you very much!

Regards,
Chung-hong Chan

[2020-11-07 14:54] whedon commented on #2807
:wave: @zingale, please update us on how your review is going.

[2020-11-07 14:54] whedon commented on #2807
:wave: @rtfisher, please update us on how your review is going.

[2020-11-07 15:08] rtfisher commented on #2807
As mentioned previously, I have some pressing prior obligations to attend
to. I will be able to focus on the review after 11/17.

Best wishes,

Bob

On Sat, Nov 7, 2020 at 9:54 AM whedon <notifications@github.com> wrote:

--
Dr. Robert Fisher
Associate Professor / Graduate Program Director
University of Massachusetts/Dartmouth
Department of Physics
285 Old Westport Road
North Dartmouth, Massachuse

[2020-11-07 16:13] majensen commented on #2790
@oeco28 - 3 kids ??? You HAVE been busy, my friend! Take your time-

[2020-11-07 16:27] IgorBaratta commented on #2793
Hi @Kevin-Mattheus-Moerman ,
I'm happy to review this one!

[2020-11-07 17:33] usethedata commented on #2768
@whedon generate pdf from branch JOSS

[2020-11-07 17:33] whedon commented on #2768
[code]

[2020-11-07 17:34] whedon commented on #2768
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: :point_left:

[2020-11-07 17:58] usethedata commented on #2806
@jGaboardi Thanks.  Nothing in particular at this time.  I have your list and a few others that have volunteered.  Unlike some other papers I've done, I don't think finding reviewers will be a huge problem.  Declines and no response aren't that unusual, and lots of people are in very challenging situations from time to time.

one more decline.  Additional request sent out this morning.

[2020-11-07 18:16] briandesilva commented on #2785
@whedon generate pdf

[2020-11-07 18:16] briandesilva commented on #2785
Good catch—fixed.

[2020-11-07 18:17] whedon commented on #2785
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02785/joss.02785/10.21105.joss.02785.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02785/joss.02785/10.21105.joss.02785.pdf) :page_facing_up: :point_left:

[2020-11-07 18:48] eloisabentivegna commented on #2822
I can!

[2020-11-07 18:48] eloisabentivegna commented on #2822
@whedon assign @eloisabentivegna as editor

[2020-11-07 18:48] whedon commented on #2822
OK, the editor is @eloisabentivegna

[2020-11-07 18:49] eloisabentivegna commented on #2734
Thanks, @bradkav! Definitely still in time. :)

[2020-11-07 18:50] eloisabentivegna commented on #2734
@whedon add @suchitakulkarni as reviewer

[2020-11-07 18:50] whedon commented on #2734
OK, @suchitakulkarni is now a reviewer

[2020-11-07 18:50] eloisabentivegna commented on #2734
@whedon add @bradkav as reviewer

[2020-11-07 18:50] whedon commented on #2734
OK, @bradkav is now a reviewer

[2020-11-07 18:50] eloisabentivegna commented on #2734
@whedon start review

[2020-11-07 18:50] whedon opened #2823 "[REVIEW]: pyhf: pure-Python implementation of HistFactory statistical models"
**Submitting author:** @matthewfeickert (<a href="http://orcid.org/0000-0003-4124-7862">Matthew Feickert</a>)
**Repository:** <a href="https://github.com/scikit-hep/pyhf" target ="_blank">https://github.com/scikit-hep/pyhf</a>
**Version:** v0.5.4
**Editor:** @eloisabentivegna
**Reviewer:** @suchitakulkarni, @bradkav
**Archive:** <a href="https://doi.org/10.5281/zenodo.4318533" target="_blank">10.5

[2020-11-07 18:50] whedon commented on #2734
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2823.

[2020-11-07 18:50] #2734 closed

[2020-11-07 18:50] whedon commented on #2823
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @suchitakulkarni, @bradkav it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2020-11-07 18:51] whedon commented on #2823
PDF failed to compile for issue #2823 with the following error:

 Can't find any papers to compile :-(

[2020-11-07 18:52] eloisabentivegna commented on #2823
@whedon generate pdf from branch docs/add-JOSS-paper

[2020-11-07 18:52] whedon commented on #2823
[code]

[2020-11-07 18:53] whedon commented on #2823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: :point_left:

[2020-11-07 21:20] Kevin-Mattheus-Moerman commented on #2704
Thanks for your review efforts here @degleris1, @henrykironde !!!!!!!! :tada:

[2020-11-07 21:20] Kevin-Mattheus-Moerman commented on #2704
Congratulations @ablaom

[2020-11-07 21:20] #2704 closed

[2020-11-07 21:20] whedon commented on #2704
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02704/status.svg)](https://doi.org/10.21105/joss.02704)

**We need your help!**

Journal of Open Source Softwa

[2020-11-07 21:21] Kevin-Mattheus-Moerman commented on #2793
@whedon assign @IgorBaratta as reviewer

[2020-11-07 21:21] whedon commented on #2793
OK, @IgorBaratta is now a reviewer

[2020-11-07 22:16] Kevin-Mattheus-Moerman commented on #2722
@jbytecode I'm helping to process the last steps for this paper. It looks like the paper needs a bit of work to improve language. Can you please consider the points below.

@mikldk could you also help review the paper, since R/Java are not my expertise I want to make sure I did not misunderstood anything.

- [ ] Please add (city and) country information to all affiliations

- [ ] Please review thi

[2020-11-08 07:13] jbytecode commented on #2722
Dear editor @Kevin-Mattheus-Moerman

Thank you very much for your effort on correcting language although you are not obliged to. I made the corrections as suggested above. However, in (2) It is not "unlike" but a "new feature" so other kind of calling schemes are still correct. I changed it to

`In addition to previous RCaller versions, RCaller 3.0 implements the scripting API of Java, ensuring R

[2020-11-08 07:13] jbytecode commented on #2722
@whedon generate pdf

[2020-11-08 07:14] whedon commented on #2722
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: :point_left:

[2020-11-08 12:07] richardjgowers commented on #2709
@fdroessler @jmborr would either of you be available to review this?

[2020-11-08 12:34] fdroessler commented on #2709
@richardjgowers I wont be able to review this time. My apologies

[2020-11-08 12:36] csoneson commented on #2706
👋 @MelvinSMunsaka - I just wanted to check in to see that you have everything you need for the review, and that the practical aspects of the review process is clear. Don't hesitate to ping me if you have any questions. Thanks!

[2020-11-08 12:49] richardjgowers commented on #2768
I've started the review now.  I've raised a few issues on the software's repo about installation dependencies.  There's currently not even regression tests in place, so there's no way of verifying that what I've compiled is equivalent to the intended result (especially since it's noted that `-O3` optimisations can cause numerical errors...).  Ideally for each major feature there should be (at leas

[2020-11-08 13:07] geekysquirrel commented on #2537
Done. DOI is 10.5281/zenodo.4261963

[2020-11-08 13:11] lscalfi commented on #2709
@richardjgowers Sorry I didn't see this until now, I can review this if it's not too late

[2020-11-08 17:15] richardjgowers commented on #2709
@lscalfi yes that would be great, thanks

[2020-11-08 17:16] richardjgowers commented on #2709
@whedon add @lscalfi as reviewer

[2020-11-08 17:16] whedon commented on #2709
OK, @lscalfi is now a reviewer

[2020-11-08 17:16] richardjgowers commented on #2709
@whedon start review

[2020-11-08 17:16] whedon opened #2824 "[REVIEW]: polypy - Analysis Tools for Solid State Molecular Dynamics and Monte Carlo Trajectories"
**Submitting author:** @symmy596 (<a href="http://orcid.org/0000-0001-6059-497X">Adam Symington</a>)
**Repository:** <a href="https://github.com/symmy596/Polypy" target ="_blank">https://github.com/symmy596/Polypy</a>
**Version:** 0.8
**Editor:** @richardjgowers
**Reviewer:** @hmacdope, @lscalfi
**Archive:** <a href="https://doi.org/10.5281/zenodo.4568493" target="_blank">10.5281/zenodo.4568493</a

[2020-11-08 17:16] whedon commented on #2709
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2824.

[2020-11-08 17:16] #2709 closed

[2020-11-08 17:16] whedon commented on #2824
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hmacdope, @lscalfi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-11-08 17:17] whedon commented on #2824
[code]

[2020-11-08 17:18] whedon commented on #2824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: :point_left:

[2020-11-08 17:26] whedon commented on #2809
:wave: @thowell, please update us on how your review is going.

[2020-11-08 17:26] whedon commented on #2809
:wave: @goerz, please update us on how your review is going.

[2020-11-08 21:18] martinmodrak commented on #2708
So I did a first round of review. I think I can complement @akbaritabar in that I've never done network analysis, but I have background in Bayesian inference and even some experience with fitting HMMs. I however have to be clear that my exposure to Bayesian methods is primarily via the Stan language and the associated community (e.g. Gelman, Vehtari, Betancourt, Simpson) which tends to have opinio

[2020-11-08 21:21] martinmodrak commented on #2708
I should also add that installation was easy and following the examples was also easy, so definitely good job there.

[2020-11-08 21:35] dpsanders commented on #2598
@whedon set 0.2.0 as version

[2020-11-08 21:35] whedon commented on #2598
OK. 0.2.0 is the version.

[2020-11-08 21:36] dpsanders commented on #2598
@RaphaelS1 The title in Zenodo is not the same as the paper title. Could you please fix that?

[2020-11-08 21:38] RaphaelS1 commented on #2598
Sorry @dpsanders ! It is now

[2020-11-08 21:38] RaphaelS1 commented on #2598
https://zenodo.org/record/4247626#.X6hlOFP7TOQ

[2020-11-08 21:39] dpsanders commented on #2598
@RaphaelS1 Sorry to be picky but Franz Kiraly's name is not the same either.

[2020-11-08 21:40] dpsanders commented on #2598
@whedon set 10.5281/zenodo.3712054 as archive

[2020-11-08 21:40] whedon commented on #2598
OK. <a href="https://doi.org/10.5281/zenodo.3712054" target="_blank">10.5281/zenodo.3712054</a> is the archive.

[2020-11-08 21:40] dpsanders commented on #2598
@whedon accept

[2020-11-08 21:40] whedon commented on #2598
[code]

[2020-11-08 21:41] whedon commented on #2598
[code]

[2020-11-08 21:41] whedon commented on #2598
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1898

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1898, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-08 21:41] RaphaelS1 commented on #2598
@dpsanders  same name now, https://zenodo.org/record/4247626#.X6hmCVP7TOQ

[2020-11-08 21:47] dpsanders commented on #2660
👋 @utf and @mturiansky: Would you be willing and able to review this submission for JOSS, the Journal of Open Source Software? Thanks!

[2020-11-08 22:50] mturiansky commented on #2660
@dpsanders I'd be happy to. This would be my first review for JOSS though, so please excuse my naivety.

[2020-11-08 22:58] dpsanders commented on #2660
@mturiansky Thanks! No problem, let me know if you have any questions once the review starts.

[2020-11-09 02:01] jdalzatec commented on #2805
@whedon   I am playing a bit with the package while going through the checklist. I'll take some more time while reviewing it locally. Thanks!

[2020-11-09 02:01] whedon commented on #2805
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-09 02:09] zonca commented on #2789
yes, I can

[2020-11-09 02:49] jmborr commented on #2709
I can review this

[2020-11-09 03:30] chorscroft commented on #2638
@marcrr, thank you very much for the time and effort you put into reviewing our paper!

_An small point: it would be nice to provide the compiled PDF for easier access by readers._

Thanks for this point - I have now uploaded a pdf version of the paper to the repository.

**Installation instructions: Is there a clearly-stated list of dependencies**
_It was easy to install the dependencies, but I d

[2020-11-09 04:24] shashwat-bhattacharya commented on #2185
Hi @jedbrown , we are awaiting your response.
We are using this code for our subsequent work and thus it will be helpful if this paper is published soon. Please let us know if anything further needs to be done to the code or the manuscript such that it is suitable for publication in JOSS.

[2020-11-09 05:38] r-barnes commented on #2575
I worry somewhat about issues getting lost, but can do. @holukas - will that work for you?

[2020-11-09 06:17] dvanic commented on #2107
@arfon / @trallard  - I have reviewed this and think the issued I identified have been resolved with the new documentation.

[2020-11-09 08:19] PatrickRWright commented on #2816
Thank you @sachsmc for the taking the time and your comments. I'll try and get on to them asap.

[2020-11-09 08:48] arfon commented on #2811
@Kevin-Mattheus-Moerman - let's give this one to @mjsottile who is available to edit again.

[2020-11-09 08:48] VivianePons commented on #2741
Hi @shahmoradi have you had any time to look at the comments made by @williamfgc ?

[2020-11-09 08:48] arfon commented on #2811
@whedon assign @mjsottile as editor

:wave: @mjsottile - can you take this one for us?

[2020-11-09 08:48] whedon commented on #2811
OK, the editor is @mjsottile

[2020-11-09 08:52] VivianePons commented on #2515
HI @highlando did you have time to start your review? Remember that you can post comments as you go whenever you see room for improvement.

[2020-11-09 08:55] shahmoradi commented on #2741
@VivianePonsThank you for your reminder. I am working on it right now as we speak.

[2020-11-09 08:55] dglaeser commented on #2291
@whedon check repository

[2020-11-09 08:56] whedon commented on #2291
Failed to discover a `Statement of need` section in paper

[2020-11-09 08:56] whedon commented on #2291
[code]

[2020-11-09 08:59] dglaeser commented on #2291
We implemented several new features, especially in Python, and I wanted to use this service to get a new overview. I hope that's ok!

[2020-11-09 09:14] PatrickRWright commented on #2816
Note to myself: Add the reviewers and editor to the acknowledgements.

[2020-11-09 09:31] xuanxu commented on #2789
@whedon add aureliocarnero as reviewer

[2020-11-09 09:31] whedon commented on #2789
OK, aureliocarnero is now a reviewer

[2020-11-09 09:31] Kevin-Mattheus-Moerman commented on #2319
@KristinaRiemer @marcosvital @luizirber can you help with this submission?

[2020-11-09 09:32] xuanxu commented on #2789
@whedon add @zonca as reviewer

[2020-11-09 09:32] whedon commented on #2789
OK, @zonca is now a reviewer

[2020-11-09 09:33] xuanxu commented on #2789
@whedon start review

[2020-11-09 09:33] whedon opened #2825 "[REVIEW]: PyAutoLens: Open-Source Strong Gravitational Lensing"
**Submitting author:** @Jammy2211 (<a href="http://orcid.org/0000-0002-8987-7401">James Nightingale</a>)
**Repository:** <a href="https://github.com/Jammy2211/PyAutoLens" target ="_blank">https://github.com/Jammy2211/PyAutoLens</a>
**Version:** v1.13.0
**Editor:** @xuanxu
**Reviewer:** @aureliocarnero, @zonca
**Archive:** <a href="https://doi.org/10.5281/zenodo.4548744" target="_blank">10.5281/zen

[2020-11-09 09:33] whedon commented on #2789
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2825.

[2020-11-09 09:33] #2789 closed

[2020-11-09 09:33] whedon commented on #2825
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @aureliocarnero, @zonca it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-11-09 09:34] whedon commented on #2825
[code]

[2020-11-09 09:34] whedon commented on #2825
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: :point_left:

[2020-11-09 09:34] xuanxu commented on #2789
@aureliocarnero, @zonca thank you both. Please head over to #2825 where the review will take place.

[2020-11-09 09:41] Kevin-Mattheus-Moerman commented on #2722
@jbytecode I ticked some of the boxes. Some points still remaining. @mikldk can you check some of these sentences and perhaps shed light on how best to rephrase them?

[2020-11-09 09:42] Kevin-Mattheus-Moerman commented on #2185
@jedbrown :point_up:

[2020-11-09 09:47] Kevin-Mattheus-Moerman commented on #2775
@whedon invite @bmcfee as editor

[2020-11-09 09:47] whedon commented on #2775
@bmcfee has been invited to edit this submission.

[2020-11-09 10:32] srmnitc commented on #2362
@AlexMikes Thanks for your work on the issues. I have been able to check some, but others still remain unchecked. The reasons have been updated in the corresponding issues.

@gkthiruvathukal Thanks for the chance to review this submission. As I have mentioned in a previous comment, there are still two main issues that concern me.

- I am unable to verify the scholarly effort in this work as the me

[2020-11-09 11:17] holukas commented on #2575
Dear @KristinaRiemer @r-barnes @mccabete, after some back-and-forth I decided to move the code over to GitHub to make collaborations and the review work easier. I agree with @r-barnes that submitting issues here might get lost and is not ideal. @KristinaRiemer I would therefore like to cancel this current submission. I will then re-submit the same code, but this time using the GitHub repo. I hope

[2020-11-09 11:32] marcosvital commented on #2319
I'll be happy handle this submission, @Kevin-Mattheus-Moerman.

[2020-11-09 11:33] marcosvital commented on #2319
@whedon assign @marcosvital as editor

[2020-11-09 11:33] whedon commented on #2319
OK, the editor is @marcosvital

[2020-11-09 11:48] marcosvital commented on #2319
Hi, @sebdalgarno, I will be the editor of your submission.

I see you already sent one reviewer suggestion (meenakshi-kushwaha), and I'll start looking for two more - let me know if you have any other potential reviewers to suggest, ok? If you haven't see it yet, we have [this list of people](https://bit.ly/joss-reviewers) that have agreed to review for JOSS.

In the meantime, please include the "

[2020-11-09 12:28] meg-simula commented on #2687
Hi @krober10nd @nschloe @jorgensd Just checking in to see how you are doing - let me know if there is anything I can contribute with in this on-going review. Thanks again for your efforts.

[2020-11-09 12:30] meg-simula commented on #2645
Thanks @fcooper8472 for the completed review and @ajbaird for the rapid handling of feedback.

[2020-11-09 12:30] meg-simula commented on #2645
@MiroK How are you progressing with this review? Do let me know if there is anything I can contribute with at this stage.

[2020-11-09 12:32] meg-simula commented on #2682
@mscroggs Just stopped by to apologies for the delay in getting this review started. Still looking for reviewers, but hopefully that will resolve soon.

[2020-11-09 12:34] meg-simula commented on #2699
@flofaucher @chennachaos @yangbai90 Just checking in to see how you are doing on this review? Do let me know if there is anything I can contribute with at this point.

[2020-11-09 12:39] usethedata commented on #2806
@whedon assign @martibosch as reviewer

[2020-11-09 12:39] whedon commented on #2806
OK, @martibosch is now a reviewer

[2020-11-09 12:40] usethedata commented on #2806
Still looking for the second reviewer, but I have one, so I'm opening the review issue and will add the second reviewer when I get an accept.

[2020-11-09 12:40] usethedata commented on #2806
@whedon start review

[2020-11-09 12:40] whedon opened #2826 "[REVIEW]: spaghetti: spatial network analysis in PySAL"
**Submitting author:** @jGaboardi (<a href="http://orcid.org/0000-0002-4776-6826">James Gaboardi</a>)
**Repository:** <a href="https://github.com/pysal/spaghetti" target ="_blank">https://github.com/pysal/spaghetti</a>
**Version:** v1.5.8
**Editor:** @usethedata
**Reviewers:** @martibosch, @usethedata
**Archive:** <a href="https://doi.org/10.5281/zenodo.4898079" target="_blank">10.5281/zenodo.4898

[2020-11-09 12:40] whedon commented on #2806
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2826.

[2020-11-09 12:40] #2806 closed

[2020-11-09 12:40] whedon commented on #2826
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @martibosch it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss

[2020-11-09 12:41] whedon commented on #2826
[code]

[2020-11-09 12:41] usethedata commented on #2826
Still working on getting the second reviewer.  @martibosch -- you're free to go ahead with your review.

[2020-11-09 12:41] whedon commented on #2826
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: :point_left:

[2020-11-09 12:56] krober10nd commented on #2687
Thanks @meg-simula I've been busy improving the paper incorporating the reviewers suggestions. The reviews have been very productive in my opinion.

[2020-11-09 13:17] danielskatz commented on #2646
👋 @prw99r & @skadio - any updates from you?  This review has been going about 2 months, and it would be really good to finish it soon.

I see a bunch of boxes checked, but some not checked. For each of you, are the unchecked boxes thing that you just haven't been able to check on yet, or are they items where there is work needed by the submitter, or discussion needed? If so, please say what these

[2020-11-09 13:17] highlando commented on #2515
Alright. I can say that this looks like an advanced and useful piece of software. The formal requirements are all satisfied. I don't have any major issues. Only a few minor things:
- [ ] The link to documentation on http://numerics.kaust.edu.sa/nodepy is forwarded to *readthedocs*. Maybe have only one repo and one address for the documentation.
- [ ] Examples -- maybe one on how to apply these ana

[2020-11-09 13:18] danielskatz commented on #2282
👋 @mikerspencer - any updates? This review has been going many months, and it would be really good to finish it soon.

I see a bunch of boxes checked, but some not checked. Are the unchecked boxes thing that you just haven't been able to check on yet, or are they items where there is work needed by the submitter, or discussion needed? If so, please say what these blocking issues are.

Otherwise, c

[2020-11-09 13:20] nschloe commented on #2687
I agree. This is still an ongoing effort.

[2020-11-09 13:21] kakiac commented on #2408
@whedon generate pdf

[2020-11-09 13:21] whedon commented on #2408
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02408/joss.02408/10.21105.joss.02408.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02408/joss.02408/10.21105.joss.02408.pdf) :page_facing_up: :point_left:

[2020-11-09 13:24] kakiac commented on #2408
@whedon set as archive

[2020-11-09 13:24] whedon commented on #2408
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-09 13:25] usethedata commented on #2826
@whedon generate pdf from branch joss

[2020-11-09 13:25] whedon commented on #2826
[code]

[2020-11-09 13:26] whedon commented on #2826
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: :point_left:

[2020-11-09 13:38] kakiac commented on #2408
@whedon set 10.5281/zenodo.4248877 as archive

[2020-11-09 13:38] whedon commented on #2408
OK. <a href="https://doi.org/10.5281/zenodo.4248877" target="_blank">10.5281/zenodo.4248877</a> is the archive.

[2020-11-09 13:40] kakiac commented on #2408
@whedon set 0.3.0 as version

[2020-11-09 13:40] whedon commented on #2408
OK. 0.3.0 is the version.

[2020-11-09 13:41] kakiac commented on #2408
@whedon accept

[2020-11-09 13:41] whedon commented on #2408
[code]

[2020-11-09 13:42] whedon commented on #2408
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1899

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1899, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-09 13:42] whedon commented on #2408
[code]

[2020-11-09 13:42] kakiac commented on #2461
Thanks @chainsawriot 👍

[2020-11-09 13:43] kakiac commented on #2461
@whedon set 0.3.11 as version

[2020-11-09 13:43] whedon commented on #2461
OK. 0.3.11 is the version.

[2020-11-09 13:43] kakiac commented on #2461
@whedon set 10.5281/zenodo.4256574 as archive

[2020-11-09 13:43] whedon commented on #2461
OK. <a href="https://doi.org/10.5281/zenodo.4256574" target="_blank">10.5281/zenodo.4256574</a> is the archive.

[2020-11-09 13:44] kakiac commented on #2461
@whedon generate pdf

[2020-11-09 13:44] whedon commented on #2461
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02461/joss.02461/10.21105.joss.02461.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02461/joss.02461/10.21105.joss.02461.pdf) :page_facing_up: :point_left:

[2020-11-09 13:49] kakiac commented on #2461
@whedon accept

[2020-11-09 13:49] whedon commented on #2461
[code]

[2020-11-09 13:50] whedon commented on #2461
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1900

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1900, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-09 13:51] whedon commented on #2461
[code]

[2020-11-09 13:53] kakiac commented on #2405
@whedon generate pdf

[2020-11-09 13:54] whedon commented on #2405
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02405/joss.02405/10.21105.joss.02405.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02405/joss.02405/10.21105.joss.02405.pdf) :page_facing_up: :point_left:

[2020-11-09 14:01] kakiac commented on #2405
@whedon set 1.1.3-zenodo as version

[2020-11-09 14:01] whedon commented on #2405
OK. 1.1.3-zenodo is the version.

[2020-11-09 14:05] agricolab commented on #2463
I assume that @lootie is indeed run by Charlotte Haley, there is no identifying information on this github account. Under this conditions, @lootie did contribute to the repository, as required by the general checks on contribution and authorship.

[2020-11-09 14:10] kakiac commented on #2775
👋  @kyleniemeyer I have some capacity and could take this up, feel free to assign me as editor :)

[2020-11-09 14:11] kakiac commented on #2405
@Yomguithereal not sure if you spotted my message above - it seems that the authors list of your JOSS paper and the zenodo archive does not match. Can you please make sure they align?

[2020-11-09 14:14] kakiac commented on #2405
@whedon set 10.5281/zenodo.4247869 as archive

[2020-11-09 14:14] whedon commented on #2405
OK. <a href="https://doi.org/10.5281/zenodo.4247869" target="_blank">10.5281/zenodo.4247869</a> is the archive.

[2020-11-09 14:15] agricolab commented on #2463
- [ ] A statement of need: The paragraph on statement of need in the paper lists the implemented functionality, the desired audience and a little bit of history. While these are important parts of the manuscript, the section does not contain any explicit statements of need. I suggest authors revise this section. I recommend one or two sentences describing specific user stories (As <who> <when> <wh

[2020-11-09 14:23] KristinaRiemer commented on #2575
That seems like a good solution @holukas! There's no need to reopen a new submission, I just changed the repo URL in the first comment of this review issue so we can continue using this issue.

[2020-11-09 14:26] dfm commented on #2308
Hi folks, I've sent @astrom-tom an email to see if we can get an update that way. I'll keep you all posted!

[2020-11-09 14:29] Yomguithereal commented on #2405
Is this ok now?

[2020-11-09 14:29] kakiac commented on #2708
@whedon check references

[2020-11-09 14:30] dfm commented on #2308
@Gabriel-p: I hadn't seen your remaining issue before - sorry about that!

For the functionality point: I agree that it would be good for the introductory tutorials to be self-contained and executable with moderate resources. @profxj: do you think that it would be feasible to provide a sample data set that could be tested with fewer resources? If that's not possible, let me know and we can figure

[2020-11-09 14:30] kakiac commented on #2708
@whedon generate pdf

[2020-11-09 14:30] whedon commented on #2708
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02708/joss.02708/10.21105.joss.02708.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02708/joss.02708/10.21105.joss.02708.pdf) :page_facing_up: :point_left:

[2020-11-09 14:31] whedon commented on #2708
[code]

[2020-11-09 14:33] profxj commented on #2308
These Shane Kast blue data in the Drive below should work
with modest resources (<16Gb RAM).  But since I don't have
any such machine, I can't guarantee it.

https://drive.google.com/drive/folders/11ItdTKbY5c7Hfx-AnhSCvKcLW1g_mLAx?usp=sharing

[2020-11-09 14:33] profxj commented on #2308
These are the data from the StepbyStep Example:

https://pypeit.readthedocs.io/en/latest/step-by-step.html

[2020-11-09 14:38] dhhagan commented on #2755
👋 @maelle Would you available and interested in reviewing this manuscript?

[2020-11-09 14:40] dfm commented on #2819
@afeinstein20 has agreed to review. Thanks Adina! We'll get things started once we have a second reviewer.

[2020-11-09 14:40] dfm commented on #2819
@whedon assign @afeinstein20 as reviewer

[2020-11-09 14:40] whedon commented on #2819
OK, @afeinstein20 is now a reviewer

[2020-11-09 14:43] arfon commented on #2775
@whedon assign @kakiac as editor

[2020-11-09 14:43] whedon commented on #2775
OK, the editor is @kakiac

[2020-11-09 14:43] agricolab commented on #2463
- [ ] Tests: Authors might consider to add instructions on how to run tests. I assumed `julia test/runtests.jl`. Sadly it seems  tests at commit [5fbe288](https://bitbucket.org/clhaley/multitaper.jl/commits/5fbe288e37067bf17376c41e484d3a11f6149b37) failed with the following output:
[code]

[2020-11-09 14:43] arfon commented on #2775
💖 thanks @kakiac!

[2020-11-09 14:47] gkthiruvathukal commented on #2362
@srmnitc I have followed up on the DOI issue in the relevant thread. This appear to be a resolvable issue.

@AlexMikes  Can you comment on the documentation and testing issue and how you plan to address it?

[2020-11-09 14:52] JannisHoch commented on #2730
@sbenthall
thanks for not giving up the search for reviewers!
Not sure whom to contact, but I drafted an updated release of the code. It contains a few minor changes to the code and the JOSS manuscript is not affected by it.

Link to it: https://github.com/JannisHoch/copro/releases/tag/v0.0.6b.

Many thanks and kind regards, Jannis

[2020-11-09 14:53] maelle commented on #2755
Hello @dhhagan ! Sorry, no, I don't have time at the moment.

[2020-11-09 15:00] whedon commented on #2812
:wave: @stsievert, please update us on how your review is going.

[2020-11-09 15:00] whedon commented on #2812
:wave: @torressa, please update us on how your review is going.

[2020-11-09 15:01] diehlpk commented on #2291
@ctdegroot How is your review going? When do you expect to finish it?

[2020-11-09 15:02] artgoldberg commented on #2685
@danielskatz FYI, it may take a few days for me to provide the final version of the paper and the archive DOI. I want my co-author Prof. Karr to have an opportunity to review them, but he's busy with a new child.

[2020-11-09 15:06] kullrich commented on #2424
Hi @KristinaRiemer,
as you suggested the repo v0.0.2 is now hosted on zenodo.
The repo on github was now also set to be a public repo like on gitlab.
Best regards
Kristian

[2020-11-09 15:20] majensen commented on #2790
@AngryMaciek -- would you have time and inclination to review [this work](#2790) for JOSS? Please let me know - appreciated!

[2020-11-09 15:21] pdebuyl commented on #2785
Thank you @briandesilva

[2020-11-09 15:21] pdebuyl commented on #2785
@tuelwer can you review the article "PySensors: A Python Package for Sparse Sensor Placement" for JOSS ?

[2020-11-09 15:43] paulray commented on #2750
I'm supposed to answer this question: "Does the full list of paper authors seem appropriate and complete?"
I don't know how to judge that, other than from git commits. Is there a statement of the various author contributions somewhere? I didn't see it in the paper.

[2020-11-09 16:01] stsievert commented on #2812
I'll try to have a review in by this weekend.

[2020-11-09 16:20] KshitijAggarwal commented on #2750
Hi @paulray, I can answer that here:
@KshitijAggarwal  @devanshkv: equal contribution in terms of code, ideas, discussion, structure and documentation
@scottransom: original author of [psrfits](https://github.com/scottransom/presto/blob/master/python/presto/psrfits.py), which was modified for `your`
@demorest: original author of [pysigproc](https://github.com/demorest/pysigproc/blob/master/pysigpr

[2020-11-09 16:24] paulray commented on #2750
Thanks, that is extremely helpful!

[2020-11-09 16:26] JonathanReardon commented on #2778
Apologies if this is a mistake my end, but has the review process started yet? it's not showing as started my end. Also, am I the only person reviewing? Thanks.

[2020-11-09 16:30] Kevin-Mattheus-Moerman commented on #2727
@DARSakthi Can you help @MaierOli2010 to point them in the right direction?  :point_up:, thanks!

[2020-11-09 16:31] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch @moorepants, this is a gentle reminder about the above :point_up:, thanks

[2020-11-09 16:32] Kevin-Mattheus-Moerman commented on #2793
@oalii are you able to suggest any reviewers at this points? Thanks

[2020-11-09 16:32] Kevin-Mattheus-Moerman commented on #2548
@openjournals/dev :point_up:

[2020-11-09 16:41] whedon commented on #2813
:wave: @milankl, please update us on how your review is going.

[2020-11-09 16:41] whedon commented on #2813
:wave: @visr, please update us on how your review is going.

[2020-11-09 16:55] paulray commented on #2750
Regarding my review, I want to disclose the following potential COIs.

- Scott Ransom and I are longtime collaborators. We are co-Is on several funded guest observer proposals and work closely together on the open source PINT project and many aspects of Fermi and pulsar science.
- Paul Demorest is a collaborator of mine on several projects.
- Maura McLaughlin is a close collaborator on Fermi pulsa

[2020-11-09 16:56] xuanxu commented on #2548
Figures should be included using markdown format with something similar to:
[code]
([Example from the docs](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography))

[2020-11-09 17:02] dfm commented on #2750
@paulray: Thanks for bringing these up! I agree that these potential conflicts seem ok to be waived.

@KshitijAggarwal: do you or co-authors don't have any concerns about this? Please feel free to let me know here or offline via email if you'd prefer. Thanks!

[2020-11-09 17:09] lootie commented on #2463
Thank you, @agricolab, for your comments. I've made some changes below

- I have added identifying information to my github account, so as to be recognizable as the same author as that of Multitaper.jl.
- I have also made my email visible from my bitbucket account, should users of the code wish to contact me. I prefer not to formally solicit requests for support in the paper or in the docs.
- For

[2020-11-09 17:13] grlee77 commented on #2727
I am also overall in favor of this publication and will update with any final comments later today.

Great job on the collab notebook. That will be very helpful to potential users.

[2020-11-09 17:14] agahkarakuzu commented on #2727
@MaierOli2010 thank you sou much for providing the colab notebook! I was having some issues with the CUDA version I have on my local machine, this addition dispensed the need for dealing with it. Before I begin, I would like to give full disclosure that I am the author of [qMRLab](https://joss.theoj.org/papers/10.21105/joss.02343), a software for quantitative MRI analysis.

This submission effecti

[2020-11-09 17:16] AngryMaciek commented on #2790
@majensen : sure, I'd be very glad to experience the process from the other side.
I have just added myself to the reviewers list for JOSS, it's official :)

[2020-11-09 17:17] majensen commented on #2790
@whedon assign @AngryMaciek as reviewer

[2020-11-09 17:17] whedon commented on #2790
OK, @AngryMaciek is now a reviewer

[2020-11-09 17:20] KshitijAggarwal commented on #2750
@dfm @paulray: We don't have any concerns regarding this.

[2020-11-09 17:28] whedon commented on #2814
:wave: @decaluwe, please update us on how your review is going.

[2020-11-09 17:28] whedon commented on #2814
:wave: @fwitte, please update us on how your review is going.

[2020-11-09 17:28] arokem commented on #2778
Thanks for checking. The review process has not started yet. I still need to find one more reviewer but I have been somewhat distracted in the last week or so.

[2020-11-09 17:31] decaluwe commented on #2814
I am currently having trouble installing the software.  Have tried multiple pathways using pip, to no avail.  Plan to try the GitHub source code, today...

[2020-11-09 17:34] fwitte commented on #2814
I started into it. Will most likely complete the review this weekend or the following week. I am posting all software related issues at https://github.com/BioSTEAMDevelopmentGroup/thermosteam/ and will write a complete feedback here linking the respective issues.

[2020-11-09 17:38] JonathanReardon commented on #2778
No problem at all, just wanted to be sure.

[2020-11-09 17:43] tuelwer commented on #2785
@pdebuyl sure, I can write a review for this paper!

[2020-11-09 18:07] yoelcortes commented on #2814
Sorry to hear that! It might be a bug with the Python's new pip installer. But in the case it is not, I uploaded the latest version to PyPI (pip install thermosteam==0.21.7). Hope this fixes the issue.

Thanks!

[2020-11-09 18:08] decaluwe commented on #2814
Thanks - will give it a try!

[2020-11-09 18:11] emdupre commented on #2778
Yes, I'd be happy to review ! Let me know what I can do at this point to help in that process.

[2020-11-09 18:25] nbarlowATI commented on #2483
Hi @usethedata I believe that this particular notebook / cell that @arbennett referred to in  alan-turing-institute/monitoring-ecosystem-resilience#367 was fixed back then (that notebook has been completely rewritten, and the problem of download sizes being exceeded is fixed).   I just tested the latest version on Binder and it does now run through (although the cell that runs the pipeline is extr

[2020-11-09 18:28] dfm commented on #2550
@karllark has agreed to step in as the second reviewer. Thanks Karl! Let me know if you have any questions as we go. Whedon will add you to the review shortly.

[2020-11-09 18:28] dfm commented on #2550
@whedon add @karllark as reviewer.

[2020-11-09 18:28] whedon commented on #2550
OK, @karllark is now a reviewer

[2020-11-09 18:28] zingale commented on #2807
I hope to have a good first pass done by the end of this week

[2020-11-09 18:36] arbennett commented on #2483
:+1: Thanks @nbarlowATI - I'll try this out again later this week!

[2020-11-09 18:40] fboehm commented on #2800
@jsgalan - I hope that the review is going well. As you work through the checklist above, please check the boxes to reflect your approval of the checklist items. Please let me know if there's something that I might do to assist you. Thanks again!

[2020-11-09 18:47] henrykironde commented on #2800
Just an update, @RMHogervorst made some great suggestions and I am working to resolve those. Thanks to the issues btw, I guess @jsgalan is inline with the issues raised.

[2020-11-09 18:51] jbytecode commented on #2722
Dear editor @Kevin-Mattheus-Moerman ,

Sorry to take your precious time for language corrections. Here is my effort to correct unchecked suggestions:

@whedon generate pdf

[2020-11-09 18:52] jbytecode commented on #2722
@whedon generate pdf

[2020-11-09 18:52] pdebuyl commented on #2785
Thank you @tuelwer

[2020-11-09 18:52] whedon commented on #2722
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: :point_left:

[2020-11-09 18:54] diehlpk commented on #2291
That is ok, but note that you should address
`
Failed to discover a Statement of need section in paper`

and add a dedicated section to the new paper.

[2020-11-09 18:56] arokem commented on #2778
@whedon add @emdupre as reviewer

[2020-11-09 18:56] whedon commented on #2778
OK, @emdupre is now a reviewer

[2020-11-09 18:57] arokem commented on #2778
@whedon start review

[2020-11-09 18:57] whedon opened #2827 "[REVIEW]: MiTfAT: A Python-based scikit-learn-friendly fMRI Analysis Tool, Made in Tuebingen."
**Submitting author:** @vahid-sb (<a href="http://orcid.org/0000-0001-6544-7960">Vahid S. Bokharaie</a>)
**Repository:** <a href="https://github.com/vahid-sb/MiTfAT" target ="_blank">https://github.com/vahid-sb/MiTfAT</a>
**Version:** v0.1.7
**Editor:** @arokem
**Reviewer:** @JonathanReardon, @emdupre
**Archive:** <a href="https://doi.org/10.5281/zenodo.4543316" target="_blank">10.5281/zenodo.4543

[2020-11-09 18:57] whedon commented on #2778
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2827.

[2020-11-09 18:57] #2778 closed

[2020-11-09 18:57] whedon commented on #2827
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JonathanReardon, @emdupre it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2020-11-09 18:57] whedon commented on #2827
[code]

[2020-11-09 18:58] whedon commented on #2827
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02827/joss.02827/10.21105.joss.02827.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02827/joss.02827/10.21105.joss.02827.pdf) :page_facing_up: :point_left:

[2020-11-09 18:58] MaierOli2010 commented on #2727
@agahkarakuzu thank you for the detailed list of comments and also for pointing me into the right direction, showing a multitude of qMRI toolboxes that are currently available. Unfortunately, I am quite busy this week and will be able to have a detailed look at them early next week. At the first glance the major difference, beside offering different types of models, seems to be that these expect i

[2020-11-09 19:08] agahkarakuzu commented on #2727
Thank you for the quick response @MaierOli2010, sure whenever you are available.

Sorry I was not clear, I meant the build status, like the one belongs to your Travis CI builds. At any rate, this is not a major issue, it would be nice to have public access to that information. But if the Jenkins instance's being installed on a campus server is going to make it tricky and/or if this is not an easy

[2020-11-09 19:29] jedbrown commented on #2185
Thanks for your updates and sorry about my delinquency getting to this.

* Package managers often install pkg-config for HDF5 (e.g., Debian's [libhdf5-dev](https://packages.debian.org/buster/amd64/libhdf5-dev/filelist)). The repository has [a stub](https://bitbucket.hdfgroup.org/projects/HDFFV/repos/hdf5/browse/config/cmake/libhdf5.pc.in) but you're correct that it's often not installed. In the ol

[2020-11-09 19:35] mikldk commented on #2722
@Kevin-Mattheus-Moerman, thanks for catching these. Below you will find my comments to the unchecked boxes:

- [ ] Please rephrase this sentence: " On the other side, many main frame languages are adopted for more specific tasks in server-side or the general-purpose use in several platforms."
  - Change *main frame* to *mainframe* (?) and rephrasing to improve understanding; maybe include the term

[2020-11-09 19:41] jbytecode commented on #2722
Dear editor @mikldk,

The term domain-specific is a little bit a 'constricted concept', like SQL, however I corrected main frame to mainframe

[2020-11-09 19:42] jbytecode commented on #2722
@whedon generate pdf

[2020-11-09 19:42] jedbrown commented on #2185
@whedon generate pdf

[2020-11-09 19:43] whedon commented on #2722
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: :point_left:

[2020-11-09 19:43] whedon commented on #2185
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02185/joss.02185/10.21105.joss.02185.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02185/joss.02185/10.21105.joss.02185.pdf) :page_facing_up: :point_left:

[2020-11-09 19:54] dglaeser commented on #2291
Failed to discover a Statement of need section in paper

Yes, I saw that also and will adress it. I suppose I should wait for the review before editing the paper, or at least don't merge the edits to master? I would also like to add a few sentences on the new features, if possible? I just wasn't sure what the guidelines are here during a review, I though I'd wait for the revision phase. Thanks a l

[2020-11-09 20:02] pdebuyl commented on #2785
@whedon assign @jordanperr as reviewer

[2020-11-09 20:02] whedon commented on #2785
OK, @jordanperr is now a reviewer

[2020-11-09 20:05] pdebuyl commented on #2785
@whedon add @tuelwer as reviewer

[2020-11-09 20:05] whedon commented on #2785
OK, @tuelwer is now a reviewer

[2020-11-09 20:07] pdebuyl commented on #2785
@whedon start review

[2020-11-09 20:07] whedon opened #2828 "[REVIEW]: PySensors: A Python Package for Sparse Sensor Placement"
**Submitting author:** @briandesilva (<a href="http://orcid.org/0000-0003-0944-900X">Brian de Silva</a>)
**Repository:** <a href="https://github.com/dynamicslab/pysensors/" target ="_blank">https://github.com/dynamicslab/pysensors/</a>
**Version:** v0.3.3
**Editor:** @pdebuyl
**Reviewer:** @jordanperr, @tuelwer
**Archive:** <a href="https://doi.org/10.5281/zenodo.4542530" target="_blank">10.5281/z

[2020-11-09 20:07] whedon commented on #2785
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2828.

[2020-11-09 20:07] #2785 closed

[2020-11-09 20:07] whedon commented on #2828
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jordanperr, @tuelwer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-11-09 20:07] whedon commented on #2828
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02828/joss.02828/10.21105.joss.02828.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02828/joss.02828/10.21105.joss.02828.pdf) :page_facing_up: :point_left:

[2020-11-09 20:08] whedon commented on #2828
[code]

[2020-11-09 20:09] evanoffPNNL commented on #2782
@tscheypidi Hey Jan, thanks for your prompt review. I believe we have addressed all of your concerns in the latest release, 1.1.4.

[2020-11-09 20:11] pdebuyl commented on #2828
@jordanperr @tuelwer , make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines linked to at the top of this review page.

The review process will happen in this issue page, so questions to the author or to me can be added as comments here.

[2020-11-09 20:20] kthyng commented on #2598
@dpsanders Can you get me up to speed on the unchecked review boxes above? One whole review and several others are unchecked.

[2020-11-09 20:23] kthyng commented on #2598
Noting that the version, Zenodo archive, and paper all look good.

[2020-11-09 20:32] flofaucher commented on #2699
@meg-simula Thanks, on my side, I guess I should wait for a formal reply before doing any modification is that correct? Or is there something I can/should start?

[2020-11-09 20:35] kthyng commented on #2408
Version, Zenodo, and paper look finished!

[2020-11-09 20:35] kthyng commented on #2408
@whedon accept deposit=true

[2020-11-09 20:35] whedon commented on #2408
[code]

[2020-11-09 20:36] meg-simula commented on #2699
Correct,  we are awaiting feedback from the reviewers at this stage.

[2020-11-09 20:36] whedon commented on #2408
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1325900146652172293) 👈 🐦🐦🐦

[2020-11-09 20:36] whedon commented on #2408
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1901
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02408](https://doi.org/10.21105/joss.02408)
2. If everything looks g

[2020-11-09 20:38] kthyng commented on #2461
@chainsawriot Did you address the missing DOI above? I just did a quick check and it looks like it does indeed link to a publication of that title.

[2020-11-09 20:38] melissawm commented on #2777
Thanks, @tpoisot !

With this, we'll already have two reviewers which is the minimum for the review process to go forward, but I'd be happy to add a third reviewer, too - @vlandau do you have a preference?

[2020-11-09 20:38] melissawm commented on #2777
@whedon add @tpoisot as reviewer

[2020-11-09 20:38] whedon commented on #2777
OK, @tpoisot is now a reviewer

[2020-11-09 20:39] vlandau commented on #2777
@melissawm I'm good either way. Lowest-hanging fruit may be to just go with the two we have. Thanks!

[2020-11-09 20:41] melissawm commented on #2729
Sure, please do! Thank you! As soon as he comments here I'll assign him as a reviewer.

[2020-11-09 20:42] jedbrown commented on #2185
* The `\mathbf l` in your paper looks very much like`1` in our font. Could you use `\bm l` (or use `\ell`) to avoid this ambiguity?
* "Phys of Fluids" -> "Physics of Fluids"
* Capitalization in the yaml-cpp reference
* I don't think the discussion of six vs three nested loops is a great way to describe what's going on. I'd just say you use vectorization. I also don't think this implementation as d

[2020-11-09 20:43] kthyng commented on #2461
@chainsawriot Please update the metadata in your Zenodo archive so that the title and author list exactly match your JOSS paper.

[2020-11-09 20:46] kthyng commented on #2408
Congratulations on your new publication @Kuifje02! Thanks to editor @kakiac and reviewers @bstabler and @skadio for your time and expertise — we couldn't do this without you!!

[2020-11-09 20:46] #2408 closed

[2020-11-09 20:46] whedon commented on #2408
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02408/status.svg)](https://doi.org/10.21105/joss.02408)

**We need your help!**

Journal of Open Source Softwa

[2020-11-09 20:47] diehlpk commented on #2291
Yes, please update the paper, so the second reviewer can look at the new paper. Could you highlight the new changes here?

[2020-11-09 20:49] fruzsinaagocs commented on #2729
Thank you @dlfivefifty for agreeing to review this, looking forward to hearing your comments.

[2020-11-09 20:49] eloisabentivegna commented on #2495
@whedon remove @iliantiliev as reviewer

[2020-11-09 20:49] whedon commented on #2495
OK, @iliantiliev is no longer a reviewer

[2020-11-09 20:50] melissawm commented on #2777
Then we're good - I'll assign the reviewers and this issue will be automatically closed by whedon - we'll meet at the review issue. Thank you, all!

[2020-11-09 20:50] eloisabentivegna commented on #2495
@whedon add @eloisabentivegna as reviewer

[2020-11-09 20:50] whedon commented on #2495
OK, @eloisabentivegna is now a reviewer

[2020-11-09 20:50] melissawm commented on #2777
@whedon start review

[2020-11-09 20:50] whedon opened #2829 "[REVIEW]: Omniscape.jl: Software to predict omni-directional landscape connectivity"
**Submitting author:** @vlandau (<a href="http://orcid.org/0000-0001-9290-9438">Vincent Landau</a>)
**Repository:** <a href="https://github.com/Circuitscape/Omniscape.jl" target ="_blank">https://github.com/Circuitscape/Omniscape.jl</a>
**Version:** v0.4.4
**Editor:** @melissawm
**Reviewer:** @juliohm, @tpoisot
**Archive:** <a href="https://doi.org/10.5281/zenodo.4466323" target="_blank">10.5281/z

[2020-11-09 20:50] whedon commented on #2777
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2829.

[2020-11-09 20:51] #2777 closed

[2020-11-09 20:51] whedon commented on #2829
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @juliohm, @tpoisot it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-11-09 20:51] whedon commented on #2829
[code]

[2020-11-09 20:51] whedon commented on #2829
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: :point_left:

[2020-11-09 20:53] paulray commented on #2750
I enjoyed reviewing the paper and the code and trying it out on same data I had. I found it well explained, easy to install and the documentation was very clear. Nice work!

[2020-11-09 20:57] melissawm commented on #2829
👋🏼 @vlandau @juliohm @tpoisot this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most othe

[2020-11-09 20:57] dlfivefifty commented on #2729
👍

[2020-11-09 20:58] arbennett commented on #2721
@KristinaRiemer - sorry for the slow review. I think my review is now complete.

@FrancisBanville - thanks for this submission. The paper is well written and covers all of the required bases (I just re-looked at it in the revised branch, and also really like the added diagram). Your example use cases are very nice and prove this is robust and mature software. The code quality, from my quick, shall

[2020-11-09 21:06] melissawm commented on #2729
Hello, @dlfivefifty ! Thank you for agreeing to review this software paper for JOSS! I'll assign you as reviewer, and whedon (our bot) will close this issue and open a new [REVIEW] issue. We'll meet there for the remainder of the process.

[2020-11-09 21:06] melissawm commented on #2729
@whedon add @dlfivefifty as reviewer

[2020-11-09 21:06] whedon commented on #2729
OK, @dlfivefifty is now a reviewer

[2020-11-09 21:07] melissawm commented on #2729
@whedon start review

[2020-11-09 21:07] whedon opened #2830 "[REVIEW]: (py)oscode: fast solutions of oscillatory ODEs"
**Submitting author:** @fruzsinaagocs (<a href="http://orcid.org/0000-0002-1763-5884">Fruzsina Julia Agocs</a>)
**Repository:** <a href="https://github.com/fruzsinaagocs/oscode" target ="_blank">https://github.com/fruzsinaagocs/oscode</a>
**Version:** v1.0.3
**Editor:** @melissawm
**Reviewer:** @jakryd, @dlfivefifty
**Archive:** <a href="https://doi.org/10.5281/zenodo.4322958" target="_blank">10.5

[2020-11-09 21:07] whedon commented on #2729
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2830.

[2020-11-09 21:07] #2729 closed

[2020-11-09 21:07] whedon commented on #2830
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jakryd, @dlfivefifty it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-11-09 21:08] whedon commented on #2830
[code]

[2020-11-09 21:08] whedon commented on #2830
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: :point_left:

[2020-11-09 21:09] melissawm commented on #2830
👋🏼 @fruzsinaagocs, @jakryd, @dlfivefifty this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different fro

[2020-11-09 21:19] kakiac commented on #2708
👋  @ysohn, hope you are well, I have tried to organise the reviewers' comments up to now in separate issues in your repository to help us all track progress :). If you hover over them, you can see their status.

Hope it helps!

Many thanks to all reviewers for the comments up to now, @ysohn let us know if you need any help or further clarification on any of our comments.

Comments from **JOSS edit

[2020-11-09 21:39] dpsanders commented on #2598
@kthyng Oops, sorry. Should I ask the reviewers to complete those?
They stated verbally in the review in this issue that they were happy with the current status.

[2020-11-09 21:54] oalii commented on #2793
Hi @Kevin-Mattheus-Moerman ,

Thanks for accepting to edit this manuscript.
I quickly checked online and came up with some suggestions:
@finsberg authored an FEniCS-based, biophysical-related paper in JOSS last year.
@jessdtate, @dlagrava, @jhill1, @chennachaos and @JaroslavHron already reviewed some FEniCS-based pieces for JOSS in the past, maybe they could fit ?

[2020-11-09 21:59] kakiac commented on #2708
No problem @martinmodrak, it's challenging times, we appreciate your help with this :)

[2020-11-09 22:25] decaluwe commented on #2814
Works now.  👏

[2020-11-09 22:26] kakiac commented on #2405
Yes, thank you :)

[2020-11-09 22:27] whedon commented on #2405
[code]

[2020-11-09 22:27] whedon commented on #2405
[code]

[2020-11-09 22:28] whedon commented on #2405
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1902

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1902, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-09 22:33] agricolab commented on #2463
Thanks. I just noticed my comment in brackets on user stories was wrongly formatted. github treated  '<>' as html and ignored them. Iremoved them. I will also browse through your toolbox a little bit more in the next days.

[2020-11-09 22:37] kthyng commented on #2461
@chainsawriot Just finished going through your paper. It looks good! Just one issue is that some items in your references that should be capitalized are not. To preserve capitalization in your .bib file, you can put {} around the word or a whole title if you prefer. Please look through your references in detail and make sure all appropriate items are capitalized.

[2020-11-09 22:41] kthyng commented on #2598
@dpsanders I figured you had discussed it with reviewers but wanted to be sure. Can you check all items that you have heard from reviewers that they are satisfied with? One reviewer is listed twice, which is in turn listed on the paper, so we want all the reviewers to be properly identified.

[2020-11-09 22:51] kthyng commented on #2405
Hi @Yomguithereal! We also prefer that the title in your Zenodo archive matches your JOSS paper exactly. Would you want to update that?

[2020-11-09 22:54] kthyng commented on #2405
Paper looks good! We can proceed after hearing about the Zenodo archive.

[2020-11-09 23:27] kakiac commented on #2461
@kthyng: just to confirm, that the missing DOI offered by Whedon is actually referencing a review of the paper (rather than the paper itself) and there is no DOI we could find of the paper, unfortunately.

[2020-11-09 23:29] kthyng commented on #2461
@kakiac Oh ok! I thought it might have been something like that. Thanks.

[2020-11-09 23:32] kakiac commented on #2408
Congratulations @Kuifje02! 🥳 🎈 🎉

[2020-11-10 00:27] kakiac commented on #2775
👋  @VNNikolaidis many thanks for your submission! From a quick inspection of this submission I can see that it meets our [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) - and shows great potential of doing Deep Learning and NNs for R geeks! 🤓

It is however shorter than our JOSS typical papers, so whilst I am looking for reviewers, can I please

[2020-11-10 00:30] prw99r commented on #2646
I've raised a couple of issues with the authors - I hope I'm not being too
picky, but trying to maintain a high standard. I'm not satisfied yet.
Peter

On Mon, Nov 9, 2020 at 1:17 PM Daniel S. Katz <notifications@github.com>
wrote:

[2020-11-10 00:39] danielskatz commented on #2646
Thanks @prw99r - if you can put https://github.com/openjournals/joss-reviews/issues/2646 in a comment in those issue, then they become visible here and I can see if they are open or closed, which helps me track how this review is going.

[2020-11-10 00:42] prw99r commented on #2646
Daniel,
I've had a think, and I don't think I can approve this for JOSS publication
in its current form.
I took another look at the criteria for publication and guidelines and I
just dont think it satisfies the criteria laid down - it is an OK bit of
coding, as far as it goes, but a major scholarly contribution - no.

I'm not happy about the statement of need, references to prior work, and
also th

[2020-11-10 00:44] danielskatz commented on #2646
Thanks @prw99r - I don't mean to minimize your concerns; I'm just trying to see where you have raised these issues and what the discussion has been on them.

[2020-11-10 00:45] danielskatz commented on #2646
Additionally, I wonder if @r-a-hoggarth has any thoughts on these issues.

[2020-11-10 00:53] kakiac commented on #2775
:wave: @gagolews, @brunaw, @schnorr would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-11-10 02:35] grlee77 commented on #2727
I considered the `CONTRIBUTING.rst` file to fill this role. It doesn't cover things like expected code of conduct/behavior, but I don't think that is necessarily a requirement? If interested, feel free to adapt a basic, informal set of community guidelines like [this one from scikit-image](https://scikit-image.org/community_guidelines.html).

[2020-11-10 02:42] gagolews commented on #2775
@kakiac Apologies, my review queue is quite bloated atm. Unless you're fine with a referee report returned in 3+ weeks.

[2020-11-10 02:44] grlee77 commented on #2727
The API documentation seems fine and I think the new collab notebook serves as a reasonable beginner-friendly introduction to usage of the software so I have now checked off these items in the checklist.

I agree with the point related to a need for a brief summary of the state of the field (and corresponding references) which is why these are the only remaining items to address for me. I agree wi

[2020-11-10 03:12] lootie commented on #2463
To continue the message from earlier, @agricolab , I have added a user story to the paper and docs under "Statement of need" [here](https://bitbucket.org/clhaley/multitaper.jl/commits/5f1665a259cb1a3a265afd93541a055ddcfb2c1b). I've also added my email to the relevant documents for support requests, as required. I've changed the verbiage under "Contributions" so it is clear that submitting issues v

[2020-11-10 03:23] ryokbys commented on #2768
@richardjgowers -- Thanks for your suggestions. As you mentioned, the examples are made for that purpose. But there was no test code or documentation about it. I added an installation documentation page in [nap documentation](http://ryokbys.web.nitech.ac.jp/contents/nap_docs/install.html) and wrote how to test at the bottom of the page.

[2020-11-10 04:05] skadio commented on #2646
@danielskatz  I completed this round of my review. My checklist is updated accordingly and some comments are added below for our authors @jpsety

I hear and share some of the valid points raised by @prw99r. At the moment, I am a bit on the fence with this submission.

Overall, my understanding is that (please correct me if I am wrong) the library provides some I/O related capabilities to read/writ

[2020-11-10 05:46] mjsottile commented on #2811
Sounds good.  @Leo-Simpson : please let me know if you have any suggested reviewers for your submission.  Otherwise I will start to identify a few people to ask.

[2020-11-10 06:04] jdber1 commented on #2604
@kyleniemeyer what is the status of the review currently? Do you require another reviewer?

[2020-11-10 06:07] kyleniemeyer commented on #2604
@cryos were you able to accept the review invitation? and either way, have you been able to make progress in your review?

[2020-11-10 06:58] ketch commented on #2515
Thanks @highlando.

Good idea.  I've tried to get rid of all the old links, but left the redirect there in case there are some still floating around the internet.  The KAUST Numerics site is in a major transition at the moment, but when that is finished those links will be updated too.

Good idea; I've added this in the "Introduction to Nodepy" notebook in examples/.

In my opinion, length itself

[2020-11-10 07:17] hemanthpruthvi commented on #2693
@whedon generate pdf

[2020-11-10 07:18] whedon commented on #2693
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: :point_left:

[2020-11-10 07:27] hemanthpruthvi commented on #2693
@whedon generate pdf

[2020-11-10 07:28] whedon commented on #2693
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: :point_left:

[2020-11-10 07:56] dglaeser commented on #2291
Sure, no problem. Once I have edited the paper I will post here the changes I have made to it. Thank you!

[2020-11-10 08:32] oalii commented on #2793
Hi @finsberg ,

Thanks for your help !

[2020-11-10 08:40] chennachaos commented on #2793
I am happy to help to review this submission.

[2020-11-10 08:49] arfon commented on #2408
...and congratulations to @kakiac on the successful completion of their first JOSS paper as editor 🎉

[2020-11-10 08:56] dlagrava commented on #2793
@oalii it looks like you have already two reviewers. Good luck!

[2020-11-10 09:00] Kuifje02 commented on #2408
Thank you everyone !

It was a pleasure working together. Hopefully it was not the last time :) !

[2020-11-10 09:01] Kevin-Mattheus-Moerman commented on #2548
@asmusskar can you update your paper to use this markdown format for the images :point_up: ? You can run `@whedon generate pdf` when done.

[2020-11-10 09:03] Yomguithereal commented on #2405
@kthyng this should be ok now.

[2020-11-10 09:09] asmusskar commented on #2548
Thanks, the paper is now updated.

@Kevin-Mattheus-Moerman is this my last chance to make changes (proof read the article)?

[2020-11-10 09:09] asmusskar commented on #2548
@whedon generate pdf

[2020-11-10 09:10] whedon commented on #2548
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: :point_left:

[2020-11-10 09:12] oalii commented on #2793
Thanks @chennachaos for jumping in !
And thanks also to @dlagrava for answering as well.
Let's wait for @Kevin-Mattheus-Moerman's ruling, I think he is the one in charge here :)

[2020-11-10 09:15] csoneson commented on #2440
ping @neuromusic - could you please give us an update on your progress?

[2020-11-10 09:21] Kevin-Mattheus-Moerman commented on #2793
@whedon add @chennachaos as reviewer

[2020-11-10 09:21] whedon commented on #2793
OK, @chennachaos is now a reviewer

[2020-11-10 09:21] Kevin-Mattheus-Moerman commented on #2793
@whedon add @finsberg as reviewer

[2020-11-10 09:21] whedon commented on #2793
OK, @finsberg is now a reviewer

[2020-11-10 09:23] Kevin-Mattheus-Moerman commented on #2793
@whedon start review

[2020-11-10 09:23] whedon opened #2831 "[REVIEW]: BVPy: A Python package based on FEniCS and Gmsh for solving boundary value problems in cell and tissue mechanics."
**Submitting author:** @oalii (<a href="http://orcid.org/0000-0001-7671-7225">Olivier Ali</a>)
**Repository:** <a href="https://gitlab.com/oali/bvpy" target ="_blank">https://gitlab.com/oali/bvpy</a>
**Version:** v1.0.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @IgorBaratta, @chennachaos, @finsberg
**Archive:** <a href="https://doi.org/10.5281/zenodo.4590758" target="_blank">10.5281/zenodo

[2020-11-10 09:23] whedon commented on #2793
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2831.

[2020-11-10 09:23] #2793 closed

[2020-11-10 09:23] whedon commented on #2831
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @IgorBaratta, @chennachaos, @finsberg it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our bl

[2020-11-10 09:24] whedon commented on #2831
[code]

[2020-11-10 09:24] Kevin-Mattheus-Moerman commented on #2793
@dlagrava we've started the review over at #2831. If you are able to/interested in helping as well I can add you as a reviewer there. Let me know. Thanks either way.

[2020-11-10 09:25] whedon commented on #2831
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: :point_left:

[2020-11-10 09:54] agricolab commented on #2463
Yes! My fault, sorry.

[2020-11-10 09:55] kakiac commented on #2405
Thank you @Yomguithereal :) 🌟

[2020-11-10 10:14] hemanthpruthvi commented on #2693
@pibion  Thank you very much for your feedback. I have incorporated some of your suggestions for the text in the updated manuscript.

## Answers to questions (in the same order) :

* Replaced 'polarization calibration' with 'polarimetric calibration', which I think is more appropriate.
Polarimetric calibration routines use calibration data and modelling to correct the effects on the state of polar

[2020-11-10 10:52] chainsawriot commented on #2461
@whedon generate pdf

[2020-11-10 10:52] whedon commented on #2461
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02461/joss.02461/10.21105.joss.02461.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02461/joss.02461/10.21105.joss.02461.pdf) :page_facing_up: :point_left:

[2020-11-10 11:00] VNNikolaidis commented on #2775
Dear @kakiac<https://github.com/kakiac> I thank you for your interest, feedback and advice.
It is indeed a tool for geeks, I hope there may be some out there who might be interested to use it for experimentation, or -even better- contribute to improve it.
I fully understand your comment about the length of the paper and I agree, when compared to current papers published, it is shorter. I actually

[2020-11-10 11:05] Kevin-Mattheus-Moerman commented on #2722
@whedon accept deposit=true

[2020-11-10 11:05] whedon commented on #2722
[code]

[2020-11-10 11:06] whedon commented on #2722
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1326119009583067137) 👈 🐦🐦🐦

[2020-11-10 11:06] whedon commented on #2722
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1903
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02722](https://doi.org/10.21105/joss.02722)
2. If everything looks g

[2020-11-10 11:13] agricolab commented on #2463
So, I updated Multitaper and build it. When i run `test Multitaper` from the Atom / Juno REPL, it errors out. With different errors, though (see below). When i run test either with `julia test/runtest.jl` or `julia -e 'import Pkg; Pkg.build(); Pkg.test("Multitaper"; coverage=true)'` from bash, it runs fine. So i tried `import Pkg; Pkg.build(); Pkg.test("Multitaper"; coverage=true)` from the REPL,

[2020-11-10 12:00] chainsawriot commented on #2461
Dear @kthyng and @kakiac

Thank you so much for going through the paper. Regarding the issues:

1. I have updated the [metadata in Zenodo](https://doi.org/10.5281/zenodo.4256574) so that the metadata matches both the paper, Github and CRAN.
2. As mentioned above, the missing DOI was a "false positive" by whedon. The alleged missing DOI links to the book review of the Krippendorff (a popular textbo

[2020-11-10 13:04] sjpfenninger commented on #2171
@gschivley , @Ludee Could you please give us an update and aim to finish your reviews ASAP so this submission can finally be wrapped up?

[2020-11-10 13:16] danielskatz commented on #2646
👋 @jpsety - Can I get your response to the comments from @prw99r & @skadio?

[2020-11-10 13:42] lpantano commented on #2334
hey @erinyoung, could you give your update,please? Thanks!

[2020-11-10 13:43] lpantano commented on #1584
Hey @rbatorsky, could you quickly check that actually they have an automated test and it is working. Thanks!

https://travis-ci.org/github/bihealth/sodar_core/branches

[2020-11-10 13:45] highlando commented on #2515
Hi @ketch

I'm OK with the extra link -- just a warning that this extra work when maintaining.

Thanks for the extra line in the *Introduction to Nodepy* notebook. Much appreciated.

As for the *support/contribution*. I was referring to the [documentation](https://nodepy.readthedocs.io/en/latest/about.html#contributing). Because of its brevity it is not so prominent. Maybe add a link to the github

[2020-11-10 13:51] decaluwe commented on #2814
2 quick questions:

- @kyleniemeyer if they don't list all dependencies, but the installation is handled by an automated package manager, am I fine to check this item off?

- @yoelcortes I see that there is a test suite in the source code--are there instructions for running it?

Thanks.

[2020-11-10 13:52] asmusskar commented on #2548
@Kevin-Mattheus-Moerman, @AnaWaldila and @CBenghi my co-author corrected a few typos otherwise the paper and figures are updated according to your comments. Please see the article proof below :point_down:

@whedon generate pdf

[2020-11-10 14:30] yoelcortes commented on #2814
Hi @decaluwe, thanks for asking! If you have the github repository downloaded, go to your local thermosteam repository and run "pytest" in your cmd or terminal. Here are some instructions: https://biosteam.readthedocs.io/en/latest/CONTRIBUTING.html. Unfortunately I haven't added a note of this in Thermosteam's documentation yet.

I'd also like to note that continuous integration is built in on git

[2020-11-10 14:38] ysohn commented on #2708
@martinmodrak No problem. Wish you the best for the issues.. We deeply appreciate your comments.

[2020-11-10 14:39] ysohn commented on #2708
@kakiac Thank you very much for compiling the issues!

[2020-11-10 14:44] whedon opened #2832 "[PRE REVIEW]: yotover: An R package to support analysis and reproduce results from An Advanced Guide to Trade Policy Analysis"
**Submitting author:** @pachamaltese (<a href="http://orcid.org/0000-0003-1017-7574">Mauricio Vargas</a>)
**Repository:** <a href="https://github.com/pachamaltese/yotover" target ="_blank">https://github.com/pachamaltese/yotover</a>
**Version:** v0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2020-11-10 14:44] whedon commented on #2832
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-10 14:44] whedon opened #2833 "[PRE REVIEW]: UQit: A Python package for uncertainty quantification (UQ) in computational fluid dynamics (CFD)"
**Submitting author:** @salrm8 (<a href="http://orcid.org/0000-0002-9610-9910">Saleh Rezaeiravesh</a>)
**Repository:** <a href="https://github.com/KTH-Nek5000/UQit" target ="_blank">https://github.com/KTH-Nek5000/UQit</a>
**Version:** v1.0.2
**Editor:** @drvinceknight
**Reviewers:** @jayten, @ctdegroot
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2020-11-10 14:44] whedon commented on #2833
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-10 14:44] whedon commented on #2832
[code]

[2020-11-10 14:44] whedon commented on #2832
PDF failed to compile for issue #2832 with the following error:

 Can't find any papers to compile :-(

[2020-11-10 14:44] whedon commented on #2833
[code]

[2020-11-10 14:45] whedon commented on #2833
PDF failed to compile for issue #2833 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8db9f43069bd/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Saleh Rezaeiravesh, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8db9f43069bd/lib/whedon/author.rb:71:in `

[2020-11-10 14:45] whedon commented on #2833
[code]

[2020-11-10 14:48] kthyng commented on #2832
@whedon query scope

[2020-11-10 14:48] whedon commented on #2832
Submission flagged for editorial review.

[2020-11-10 14:49] kthyng commented on #2832
@pachamaltese This submission will be discussed by the editorial board and we should be able to get back to you in a week or two.

[2020-11-10 14:50] ysohn commented on #2708
@akbaritabar, @marcjwilliams1, @martinmodrak, @kakiac

Dear Reviewers and Editor,

We deeply appreciate your detailed reviews and suggestions. It looks like some of the issues may take time for us to resolve. We will try to complete addressing the issues by January.

Wish all of you stay healthy, and have warm holidays!

All my best

[2020-11-10 15:03] kthyng commented on #2832
@pachamaltese Also your paper is not being found by our bot Whedon because the suffix is .Rmd but it needs to be .md.

[2020-11-10 15:04] kthyng commented on #2833
Hi @salrm8! Can you look through and address the DOI problems above and look through the errors with building your paper to try to fix them?

[2020-11-10 15:19] kthyng commented on #2733
Hi @trstewart212 , @fgeertman! Any updates on how your reviews are coming along?

[2020-11-10 15:19] kthyng commented on #2833
@drvinceknight do you have bandwidth to take on this submission?

[2020-11-10 15:20] kthyng commented on #2833
@whedon invite @drvinceknight as editor

[2020-11-10 15:20] whedon commented on #2833
@drvinceknight has been invited to edit this submission.

[2020-11-10 15:22] kthyng commented on #2405
Excellent! We can wrap up now.

[2020-11-10 15:22] kthyng commented on #2405
@whedon accept deposit=true

[2020-11-10 15:22] whedon commented on #2405
[code]

[2020-11-10 15:24] whedon commented on #2405
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1326183868483899392) 👈 🐦🐦🐦

[2020-11-10 15:24] whedon commented on #2405
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1904
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02405](https://doi.org/10.21105/joss.02405)
2. If everything looks g

[2020-11-10 15:25] kthyng commented on #2461
Yep everything looks good now!

[2020-11-10 15:25] kthyng commented on #2461
@whedon accept deposit=true

[2020-11-10 15:25] whedon commented on #2461
[code]

[2020-11-10 15:26] whedon commented on #2461
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1326184498472640512) 👈 🐦🐦🐦

[2020-11-10 15:26] whedon commented on #2461
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1905
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02461](https://doi.org/10.21105/joss.02461)
2. If everything looks g

[2020-11-10 15:30] kthyng commented on #2405
Congrats on your new publication @Yomguithereal! Thanks to editor @kakiac and reviewers @Fil and @atanikan for your time and expertise!!

(I will leave this issue open until the DOI resolves)

[2020-11-10 15:43] Yomguithereal commented on #2405
Thanks everyone for your work and dedication :)

[2020-11-10 15:44] kthyng commented on #2832
Hi @pachamaltese. Thank you for your submission, but we've determined that it isn't within our scope. We publish software in direct support of research. It's a great idea to archive scripts to support this book, but JOSS isn't the venue for doing so. One suggestion is to get a Zenodo archive to preserve and distribute this software.

[2020-11-10 15:44] kthyng commented on #2832
@whedon reject

[2020-11-10 15:44] whedon commented on #2832
Paper rejected.

[2020-11-10 15:44] #2832 closed

[2020-11-10 15:45] fwitte commented on #2814
Hi @decaluwe and @kyleniemeyer,
according to https://joss.readthedocs.io/en/latest/review_criteria.html#installation-instructions I understood a list is not necessary with automatic installation of dependencies. Therefore I checked the box. Let me know if I did wrong.
@yoelcortes, maybe consider adding the 'extras_require' keyword to your setup.py, so developers will automatically have develop dep

[2020-11-10 16:03] jbytecode commented on #2722
I would like to thank everyone who contributed to the editorial process. It was a great experience to have an article published on JOSS.

All the best.

@Kevin-Mattheus-Moerman @mikldk @xin-huang @nthomasCUBE @Kopilov

[2020-11-10 16:09] fgeertman commented on #2733
Hi, I did not start yet. Is on the planning for next week.

Apologies for the delay

Regards,

Ferry

From: Kristen Thyng [mailto:notifications@github.com]
Sent: Tuesday, November 10, 2020 4:20 PM
To: openjournals/joss-reviews
Cc: Ferry Geertman; Mention
Subject: Re: [openjournals/joss-reviews] [REVIEW]: JASP for Audit: Bayesian Tools for the Auditing Practice (#2733)

Hi @trstewart212<https://git

[2020-11-10 16:33] trstewart212 commented on #2733
Same here. Please understand that I am not a regular GitHub user and may need some technical assistance. As I explained to Vince Knight and others, I come at this more from the auditing/statistical than the software perspective.

On Nov 10, 2020, at 11:10, fgeertman <notifications@github.com> wrote:

Hi, I did not start yet. Is on the planning for next week.

Apologies for the delay

Regards,

Fer

[2020-11-10 16:45] #2405 closed

[2020-11-10 16:45] whedon commented on #2405
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02405/status.svg)](https://doi.org/10.21105/joss.02405)

**We need your help!**

Journal of Open Source Softwa

[2020-11-10 16:59] kthyng commented on #2733
@trstewart212 Understood. @drvinceknight and others (including me) are happy to make it as smooth as possible for you. I recommend reading through the [JOSS reviewer guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Then, you can use the checklist in this review issue to guide your review process. As you identify issues to bring up, we ask you to open issues in the [soft

[2020-11-10 17:27] yoelcortes commented on #2814
Hi @fwitte, that is really helpful. I'll add it in. Thanks for sharing!

[2020-11-10 17:39] anowacki commented on #2463
If this degree of variation (up to 0.0007 per element) is to be expected between machines/versions, then it would be useful to add an appropriate value for `rtol` or `atol` to the approximate equality test so it still passes.  Or if it isn't expected, then a fix should be found.  (These differences are around 0.5% which doesn't seem totally insignificant and well above machine epsilon.)

[code]

[2020-11-10 18:19] bill-baumgartner commented on #2726
@majensen I have made some progress, but am having install issues as noted in Issue [#14](https://github.com/JHUAPL/PINE/issues/14).

One question for you: what is the preferred method for making comments on the manuscript? Should we simply add comments on this review page?

[2020-11-10 18:37] DARSakthi commented on #2727
Hello,

The colab notebook works wonderfully. I will state again that I think it will attract a wider user base -- even in this era of high powered computing, not everyone has consistent access to a GPU.

As far as language goes, for example, the very first sentence is a bit messy. I would try and make it flow better. I recommend a copy editing software like Grammarly or the like. I have marked so

[2020-11-10 19:19] kyleniemeyer commented on #2814
From my perspective, the dependency requirement is satisfied for Python packages through including appropriately in `setup.pu` and/or `requirements.txt` (for example), as @fwitte mentioned

[2020-11-10 19:20] agricolab commented on #2463
@anowacki , you are probably right, although i hesitate to make this a blocker for publication, especially as it seems this is only my machine. Could you replicate the bug? I created an issue  in the repo, in case we want to discuss this more https://bitbucket.org/clhaley/multitaper.jl/issues/33/floating-point-imprecision-with-tests-in

[2020-11-10 19:25] anowacki commented on #2463
@agricolab No, I agree with you and I can't reproduce it.  I too don't think it should be a blocker—there will be bugs and issues with all software, of course.

[2020-11-10 19:36] DARSakthi commented on #2727
By the way -- Microsoft word has a pretty nice grammar and spelling processor these days. This could provide some guidance. Especially if you don't want to spend the money on a grammarly license, as I believe it has a cost associated. Paper is attached in case of access issues.
[qmri_joss.pdf](https://github.com/openjournals/joss-reviews/files/5519776/qmri_joss.pdf)

[2020-11-10 19:57] eloisabentivegna commented on #2495
I have just noticed that @iliantiliev has posted a reviewer report as an [issue](https://github.com/EGaraldi/corecon/issues/15) on the package's repository. I will touch base with him via email to see whether he wants to complete the checklist as well.

[2020-11-10 19:58] MaierOli2010 commented on #2727
Thank you for you comments and the time to you spent to correct the grammar issues. I will update the paper accordingly.

[2020-11-10 20:01] xirdneh commented on #2791
Having some trouble testing a couple of things on the paper. I think it has to do with my local setup, I am currently tweaking some thing and will try to finish this over the weekend.
Sorry for the delay.

[2020-11-10 20:17] finsberg commented on #2831
@Kevin-Mattheus-Moerman  @oalii I am unable to create new issues in the git repo - seems like I need to request an external account from an Inria member, or am I doing something wrong? Would it be possible to mirror this repo on [gitlab.com](https://gitlab.com) ?
<img width="977" alt="Screenshot 2020-11-10 at 21 12 32" src="https://user-images.githubusercontent.com/2010323/98728204-754ed080-2399-1

[2020-11-10 20:37] oalii commented on #2831
@finsberg,
ok, I need to discuss this within my team. To be honest this is a first time for us and I don't know what is best, to make external account for the reviewers or to mirror the repo. I am forwarding the issue to the other lab members; but since tomorrow is a banking holiday here don't expect an answer before Thursday at most... Sorry about that.

[2020-11-10 20:40] KshitijAggarwal commented on #2750
@pravirkr @dfm, we are submitting an NSF proposal for a project (the petabyte project) which is going to rely on this library. The NSF proposal is due pretty soon. I also noticed that only a few checklist items are left in the review. So I wanted to ask if it would be possible to complete this review in the next day or so? This way we can properly cite it in our proposal, and also upload it to arx

[2020-11-10 20:44] finsberg commented on #2831
I don't know if we need to mirror everything or just make an empty repo dedicated for JOSS issues. @Kevin-Mattheus-Moerman do you have any experience with this? I guess another option would be to do all the issues in this review thread (although it is stated above that we shouldn't do that).

[2020-11-10 20:45] tobias-dv-lnu commented on #2791
@xirdneh: just let me know if I can help :)

[2020-11-10 20:47] asmusskar commented on #2548
@whedon generate pdf

[2020-11-10 20:47] whedon commented on #2548
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: :point_left:

[2020-11-10 20:52] oalii commented on #2831
<img width="849" alt="Screen Shot 2020-11-10 at 21 51 40" src="https://user-images.githubusercontent.com/16701029/98732055-ee045b80-239e-11eb-974a-60e6a285044e.png">
The project is supposed to be public, but maybe we need to uncheck the "Allow users to request access" square ?... So that you won't need to request access prior to opening issues ?...

[2020-11-10 21:20] dpsanders commented on #2660
👋 @mfherbst: Would you be willing and able to review this submission for JOSS, the Journal of Open Source Software? Thanks!

[2020-11-10 21:21] dpsanders commented on #2598
@whedon remove @davidjohannesmeyer as reviewer

[2020-11-10 21:21] whedon commented on #2598
OK, @davidjohannesmeyer is no longer a reviewer

[2020-11-10 21:22] dpsanders commented on #2598
@whedon add @davidjohannesmeyer as reviewer

[2020-11-10 21:22] whedon commented on #2598
OK, @davidjohannesmeyer is now a reviewer

[2020-11-10 21:22] dpsanders commented on #2598
@whedon generate pdf

[2020-11-10 21:22] whedon commented on #2598
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02598/joss.02598/10.21105.joss.02598.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02598/joss.02598/10.21105.joss.02598.pdf) :page_facing_up: :point_left:

[2020-11-10 21:23] dpsanders commented on #2598
@whedon remove @davidjohannesmeyer as reviewer

[2020-11-10 21:24] whedon commented on #2598
OK, @davidjohannesmeyer is no longer a reviewer

[2020-11-10 21:24] dpsanders commented on #2598
@whedon generate pdf

[2020-11-10 21:24] whedon commented on #2598
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02598/joss.02598/10.21105.joss.02598.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02598/joss.02598/10.21105.joss.02598.pdf) :page_facing_up: :point_left:

[2020-11-10 21:26] dpsanders commented on #2598
:wave @wch, @davidjohannesmeyer and @dmbates: Could you please check the missing check boxes in the [original issue] to confirm that you are happy with the submission? Thanks!

[2020-11-10 21:26] dpsanders commented on #2598
@kthyng I don't seem to be able to remove the duplicate reviewer for some reason.

[2020-11-10 21:43] davidjohannesmeyer commented on #2598
Done!

[2020-11-10 22:47] dfm commented on #2750
You're welcome to post the pre-print to ArXiv, but sometimes ArXiv doesn't accept JOSS papers so no guarantees that it will work!

@pravirkr: you definitely shouldn't feel pressured to finish your review faster than planned!

[2020-11-10 22:51] salrm8 commented on #2833
Hi @kthyng! I fixed the issues with the DOIs and affiliations index quoting.
Thank you

[2020-11-10 22:58] pibion commented on #2693
@whedon generate pdf

[2020-11-10 22:58] whedon commented on #2693
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: :point_left:

[2020-11-11 00:02] diehlpk commented on #2291
@ctdegroot Can you edit the checkboxes?

[2020-11-11 00:30] pibion commented on #2693
@hemanthpruthvi okay, thanks for these updates!  I have only one question remaining:

I'm still not sure what you mean when you say "It can be easily distributed along with the polarimetric calibration routines."  Do you mean, "It can be easily distributed along with the polarimetric calibration routines for a particular telescope?"

[2020-11-11 00:52] rbatorsky commented on #1584
Thanks @lpantano and sorry for the delay. Yes, I can verify that the manual tutorial steps do work and the automated tests seem to be passing. I also checked the version number since the github issue 0.6.2 matches the paper, but as was mentioned there have been later releases. I think my items are all set.

[2020-11-11 01:11] zonca commented on #2825
@Jammy2211 I'll collect feedback on the repository here as I go through the review:

- [ ] I noticed that while there are a lot of tagged releases on PyPI, on Github there are only very old tags. Do you happen to have `git` tags available locally that you can push? otherwise, what about tagging on Github just the last 3/4 releases? It is convenient to be able to browse older versions of the code w

[2020-11-11 04:08] majensen commented on #2726
@bill-baumgartner thanks for the update - @brantapl can you or @bwkchee look into the issue noted above?

Feel free to make any paper comments right here. If there are technical issues that need a detailed discussion, you can create an issue in the repo and refer to that here in general comments.
thanks

[2020-11-11 05:19] ketch commented on #2515
Thanks for calling my attention to that page in the docs; it was outdated in other ways, too.  I've expanded the contributing section with a couple of links for Github issues and PRs.

[2020-11-11 06:54] whedon commented on #2815
:wave: @trashbirdecology, please update us on how your review is going.

[2020-11-11 06:54] whedon commented on #2815
:wave: @jkarreth, please update us on how your review is going.

[2020-11-11 07:46] hugoledoux commented on #2537
@whedon generate pdf

[2020-11-11 07:47] whedon commented on #2537
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02537/joss.02537/10.21105.joss.02537.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02537/joss.02537/10.21105.joss.02537.pdf) :page_facing_up: :point_left:

[2020-11-11 07:52] hugoledoux commented on #2537
All is good except the version, which should be according to semver.org (<v1.x.x>). I suggest you release 2.1.1? Or change the name of 2.1-joss to 2.1.1?

Then I can formally accept it.

[2020-11-11 08:04] agricolab commented on #2463
I browsed through the examples and explored a little bit more of the toolbox, and can now faithfully recommend for publication. Great job, and looking forward to see it being used!

[2020-11-11 08:07] agricolab commented on #2463
@whedon generate pdf

[2020-11-11 08:08] whedon commented on #2463
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02463/joss.02463/10.21105.joss.02463.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02463/joss.02463/10.21105.joss.02463.pdf) :page_facing_up: :point_left:

[2020-11-11 08:44] whedon commented on #2816
:wave: @sachsmc, please update us on how your review is going.

[2020-11-11 08:44] whedon commented on #2816
:wave: @pacoramon, please update us on how your review is going.

[2020-11-11 09:15] whedon commented on #2817
:wave: @jcmcnch, please update us on how your review is going.

[2020-11-11 09:15] whedon commented on #2817
:wave: @johanneswerner, please update us on how your review is going.

[2020-11-11 09:23] mfherbst commented on #2660
@dpsanders Sure, I'm happy to take it up. But same as @mturiansky it would be my first time reviewing for JOSS.

[2020-11-11 09:41] drvinceknight commented on #2733
Just to echo what @kthyng said: I'd be delighted to assist @trstewart212. Please let me know what I can do (if you'd like to arrange a short video chat we can do that).

[2020-11-11 10:10] cMadan commented on #2506
@pmkruyen, everything looks good to me now!

To move forward with accepting your submission, there are a few last things to take care of:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) an

[2020-11-11 10:17] anowacki commented on #2463
@VivianePons I can also say I'm happy with the paper now and have ticked all my boxes above.  A very nice package, @lootie, and I hope you're happy with how it stands now.  I would recommend registering the package once you have sorted out the compat bounds.

[2020-11-11 11:09] Leo-Simpson commented on #2811
Thank you @mjsottile . I don't have specific suggestion for reviewers, but for example I saw that jbytecode have computational statistics and optimization on his domain area so I think it could fit.

[2020-11-11 11:37] arfon commented on #2722
@xin-huang, @nthomasCUBE - many thanks for your reviews here and to @mikldk for editing this submission ✨

 @jbytecode - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2020-11-11 11:37] #2722 closed

[2020-11-11 12:05] PatrickRWright commented on #2816
@whedon generate pdf

[2020-11-11 12:06] whedon commented on #2816
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: :point_left:

[2020-11-11 12:07] whedon commented on #2818
:wave: @aplyer, please update us on how your review is going.

[2020-11-11 12:07] whedon commented on #2818
:wave: @rfezzani, please update us on how your review is going.

[2020-11-11 12:07] PatrickRWright commented on #2816
@csoneson we have addressed all points brought up by @sachsmc

[2020-11-11 12:10] pmkruyen commented on #2506
@whedon generate pdf

[2020-11-11 12:12] whedon commented on #2506
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: :point_left:

[2020-11-11 12:12] PatrickRWright commented on #2816
@pacoramon can you tell us your legal name so we can adjust it in the acknowledgements?

[2020-11-11 12:18] brunaw commented on #2775
Hi @kakiac, I'm in the same situation as @gagolews, my next few weeks are quite busy. I prefer not to review this time, apologies for that!

[2020-11-11 12:26] Kevin-Mattheus-Moerman commented on #2548
@CBenghi thanks for your help here. Please can you finalize this review at your earliest convenience?

[2020-11-11 12:26] Kevin-Mattheus-Moerman commented on #2548
@AnaWaldila thanks again for your help here. All boxes seem ticked. Are you happy to recommend an accept based on the updated paper :point_up: ?

[2020-11-11 12:44] pmkruyen commented on #2506
Hi @cMadan,

Thanks for the checks.

- I made a tagged release: v1.0.49 https://github.com/pmkruyen/dearscholar/releases/tag/v1.0.49
- I archieved the reviewed software in Zenodo
- I checked the metadata (added @kinow under 'other' contributors; hope this is okay with him:  https://zenodo.org/record/4267938#.X6vacJNKhb8
- the Zenodo DOI is: 10.5281/zenodo.426793

And then, I decided to change the

[2020-11-11 13:12] lpantano commented on #1584
@whedon set v0.8.3 as version

[2020-11-11 13:12] whedon commented on #1584
OK. v0.8.3 is the version.

[2020-11-11 13:12] lpantano commented on #1584
@whedon generate pdf

[2020-11-11 13:13] whedon commented on #1584
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.01584/joss.01584/10.21105.joss.01584.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.01584/joss.01584/10.21105.joss.01584.pdf) :page_facing_up: :point_left:

[2020-11-11 13:16] lpantano commented on #1584
@whedon check references

[2020-11-11 13:17] whedon commented on #1584
[code]

[2020-11-11 13:19] lpantano commented on #1584
@holtgrewe, we are almost there, could you go over this list, please:

- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a small fix

[2020-11-11 13:34] csoneson commented on #2816
Good question. I'm not sure why that link is not wrapped like the others. Perhaps someone from the @openjournals/dev team has an idea.

[2020-11-11 14:26] tuelwer commented on #2828
@pdebuyl @briandesilva  The authors propose the Python library PySensors which allows efficient data-driven sensor placement. The toolbox provides methods for reconstruction and classification based on the data of the sensors. The main contribution of the paper is the implementation of the sparse sensor placement optimization algorithm for reconstruction (SSPOR) and classification (SSPOC). Besides

[2020-11-11 14:30] sachsmc commented on #2816
@csoneson  One way to solve it requires modifying the latex template (not sure how onerous that would be). If you add the code

    \usepackage[hyphens]{url}

to the header before the hyperref package is loaded, it will break the url at hyphens. By default, it will only break at slashes.

https://tex.stackexchange.com/questions/175399/line-breaking-of-urls-at

[2020-11-11 14:59] arfon commented on #2287
@whedon generate pdf

[2020-11-11 15:00] sjpfenninger commented on #2695
@brynpickering , @nmstreethran I see that you still have unchecked items on your checklists -- is this because you are waiting for @milicag to address them? Could you give a brief update on what is still outstanding so that we can move this forward?

[2020-11-11 15:00] whedon commented on #2287
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02287/joss.02287/10.21105.joss.02287.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02287/joss.02287/10.21105.joss.02287.pdf) :page_facing_up: :point_left:

[2020-11-11 15:02] sjpfenninger commented on #2765
@romainsacchi, @konstantinstadler Thanks for your reviews!

[2020-11-11 15:03] sjpfenninger commented on #2765
@romainsacchi Can you confirm that you have tested the integration with Simapro?

[2020-11-11 15:05] sjpfenninger commented on #2765
@konstantinstadler Can you check if you can now edit the checkboxes? And it looks like @GustaveCoste addressed your issues, can you confirm whether you are satisfied?

[2020-11-11 15:07] sjpfenninger commented on #2765
@GustaveCoste Can you clarify the role of the authors on the paper?

[2020-11-11 15:10] sjpfenninger commented on #2677
@TheoChristiaanse I hope work is proceeding well. Let me know if anything is unclear while working through the reviewer comments or whether you have queries about how to address them.

[2020-11-11 15:20] trashbirdecology commented on #2815
Dearest Whedon,

@mattansb has an active issue in their repository with a few things to
resolve before completing the joss checklist

On Tuesday, November 10, 2020, whedon <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-11-11 15:21] pacoramon commented on #2816
I am progressing, although not very fast. Sorry!

My legal name is Francisco Estupiñán-Romero. Thanks for the acknowledgement although I am not going very fast with my review just now. I will try to catch up.

[2020-11-11 15:42] PatrickRWright commented on #2816
@whedon generate pdf

[2020-11-11 15:42] pravirkr commented on #2750
@dfm: Thanks. I was waiting for the resolution of the above issues.
@KshitijAggarwal: Thanks for addressing the issues. Looks good now! The only thing left to do IMO is to release the updated version (0.5.9, I guess).

I also recommend acceptance of this work.

[2020-11-11 15:44] whedon commented on #2816
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: :point_left:

[2020-11-11 15:44] dfm commented on #2750
@whedon generate pdf

[2020-11-11 15:45] whedon commented on #2750
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02750/joss.02750/10.21105.joss.02750.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02750/joss.02750/10.21105.joss.02750.pdf) :page_facing_up: :point_left:

[2020-11-11 15:45] dfm commented on #2750
@whedon check references

[2020-11-11 15:45] PatrickRWright commented on #2816
@whedon generate pdf

[2020-11-11 15:46] whedon commented on #2816
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: :point_left:

[2020-11-11 15:46] whedon commented on #2750
[code]

[2020-11-11 15:46] dfm commented on #2750
@pravirkr, @paulray: Thanks for your reviews!!

@KshitijAggarwal: I'm going to go through the paper and do some final checks. Then I'll give you a few instructions to prepare for final review. This will include minting a new release so no need to do that yet!

[2020-11-11 15:48] KshitijAggarwal commented on #2750
@pravirkr,  @paulray:  thanks for the reviews and useful comments!

@dfm: Thanks and that sounds good!

[2020-11-11 16:04] briandesilva commented on #2828
Thanks, @tuelwer! This is all very useful feedback. We'll work to update the paper and package accordingly.

[2020-11-11 16:07] romainsacchi commented on #2765
@sjpfenninger @konstantinstadler no, I cannot say I have tested the integration with Simapro, as I do not have a Simapro license. I only tested the consistency between the inputs and the outputs (from Simapro-compatible CSV file to Excel and vice-versa).

[2020-11-11 16:11] decaluwe commented on #2814
Okay, thanks @kyleniemeyer .  Since it was listed under the `documentation` section, I wasn't sure whether it needed to be explicitly listed, or if having it in `requirements.txt` was sufficient (since it is a PyPI-managed installation, it certainly seems sufficient to me).

[2020-11-11 16:12] Kevin-Mattheus-Moerman commented on #2831
@oalii @finsberg the software repository needs to be fully open so that anybody can open an issue. This is a requirement for JOSS, see our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) which state:

[code]
Rather than mirroring to GitHub it would be best if you can adjust your repository settings to allow for this :point_up:

Can you make

[2020-11-11 16:14] crvernon commented on #2782
@whedon generate pdf

[2020-11-11 16:15] whedon commented on #2782
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02782/joss.02782/10.21105.joss.02782.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02782/joss.02782/10.21105.joss.02782.pdf) :page_facing_up: :point_left:

[2020-11-11 16:20] crvernon commented on #2782
@tscheypidi thanks for the thorough review!  It has been very helpful.

[2020-11-11 16:35] milancurcic commented on #2741
The items I checked off are okay. Few remain unchecked because of issues with installation.

I tested serial binary releases for Fortran with both GNU and Intel. Both worked as expected and I was able to build and run the example program.

I wasn't able to use the parallel releases because they require MPICH. I tend to work with OpenMPI so it'd be nice if binary releases with OpenMPI were availabl

[2020-11-11 16:45] chennachaos commented on #2699
Hi. I have been busy with some personal stuff. I hope to complete the review in 2 to 3 weeks from today.

[2020-11-11 17:05] mikerspencer commented on #2282
Hi @danielskatz - I agree, it's been a long time. The time I had available when I accepted the review has long gone and it's a shame the work wasn't ready when it was submitted.

My worry and opinion is the code base is extensive (1000s lines) with little obvious testing. I can run the apps as described in the docs, but it's not possible to validate the output which makes me uncomfortable signing

[2020-11-11 17:25] williamfgc commented on #2741
@milancurcic thanks for confirming. I modified some points to make them clear based on your comments.

[2020-11-11 18:04] zonca commented on #2825
@Jammy2211 Typos in the paper: exapnsion, pyqaud, Regularizaion, LightProile, bythe

[2020-11-11 18:28] zonca commented on #2825
@Jammy2211 @xuanxu ok, my review is complete, if you address the 2 issues I opened, the repository feedback above and the suggestions on the paper below, we are done (also justifying why you don't want or can't to implement something I suggested is also valid, of course).

## Feedback on paper

### Summary

* I don't think we need to mention the names of the classes in the summary, better keep it

[2020-11-11 18:41] lootie commented on #2463
@anowacki @agricolab Thank you both for the comments regarding the interesting behavior in Atom/Juno. I am unable to replicate this either, but I'm inclined to increase the tolerance for the `mdmultispec` test that failed, for the time being. I'll update the bitbucket issue once I make the change.

Thank you for your effort in checking the package over in detail. I'm very pleased with the results

[2020-11-11 18:44] giodegas commented on #2752
I apologize, but over the last months I could not find any free time to concentrate on this task, as I hoped.
So I am refusing to review this work considering the back-log of my primary job duties.

[2020-11-11 18:46] giodegas commented on #2459
cannot do the review, sorry.

[2020-11-11 18:56] gkthiruvathukal commented on #2752
@giodegas I totally understand. These are tough times for all of us. I'll see if I can add someone else.

[2020-11-11 18:57] gkthiruvathukal commented on #2752
@vincentberenz I apologize for the inconvenience but could you take another look at the list of reviewers and see if there is anyone else we could add as a second reviewer? I may need you to suggest 2-3 possibilities.

[2020-11-11 19:05] whedon opened #2834 "[PRE REVIEW]: deeplenstronomy: A dataset simulation package for strong gravitational lensing"
**Submitting author:** @rmorgan10 (<a href="http://orcid.org/0000-0002-7016-5471">Robert Morgan</a>)
**Repository:** <a href="https://github.com/deepskies/deeplenstronomy" target ="_blank">https://github.com/deepskies/deeplenstronomy</a>
**Version:** v0.0.1.0
**Editor:** @pdebuyl
**Reviewers:** @shreyasbapat, @jiwoncpark
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warni

[2020-11-11 19:05] whedon commented on #2834
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-11 19:06] whedon opened #2835 "[PRE REVIEW]: ADI.jl: A Julia Package for High-Contrast Imaging"
**Submitting author:** @mileslucas (<a href="http://orcid.org/0000-0001-6341-310X">Miles Lucas</a>)
**Repository:** <a href="https://github.com/JuliaHCI/ADI.jl" target ="_blank">https://github.com/JuliaHCI/ADI.jl</a>
**Version:** 0.5.2
**Editor:** @dfm
**Reviewers:** @giordano, @semaphoreP
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-11-11 19:06] whedon commented on #2835
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-11 19:06] whedon commented on #2834
PDF failed to compile for issue #2834 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (4f9319a0577a52cb76197b48/paper.md): mapping values are not allowed in this context at line 9 column 52 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390:in `parse'
	fr

[2020-11-11 19:06] whedon opened #2836 "[PRE REVIEW]: ivadomed: A Medical Imaging Deep Learning Toolbox"
**Submitting author:** @charleygros (<a href="http://orcid.org/0000-0003-4318-0024">Charley Gros</a>)
**Repository:** <a href="https://github.com/ivadomed/ivadomed" target ="_blank">https://github.com/ivadomed/ivadomed</a>
**Version:** 2.5.0
**Editor:** @cMadan
**Reviewers:** @NMontanaBrown, @justusschock, @lbugnon
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

[2020-11-11 19:06] whedon commented on #2836
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-11 19:07] whedon commented on #2834
[code]

[2020-11-11 19:07] whedon commented on #2835
[code]

[2020-11-11 19:08] whedon commented on #2836
[code]

[2020-11-11 19:08] whedon commented on #2835
[code]

[2020-11-11 19:08] whedon commented on #2835
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02835/joss.02835/10.21105.joss.02835.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02835/joss.02835/10.21105.joss.02835.pdf) :page_facing_up: :point_left:

[2020-11-11 19:08] whedon commented on #2836
PDF failed to compile for issue #2836 with the following error:

 ORCID looks malformed
/app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon.rb:155:in `block in check_orcids': Problem with ORCID (XX) for Lucas Rouhier (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon.rb:153:in `each'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/

[2020-11-11 19:10] whedon commented on #2836
[code]

[2020-11-11 19:14] kthyng commented on #2834
@pdebuyl Are you able to take on this submission?

[2020-11-11 19:14] kthyng commented on #2834
@whedon invite @pdebuyl as editor

[2020-11-11 19:14] whedon commented on #2834
@pdebuyl has been invited to edit this submission.

[2020-11-11 19:16] kthyng commented on #2834
@rmorgan10 not sure about the error in your paper... can you compare your line 9 with the [paper requirements](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) and see if something is amiss?

[2020-11-11 19:24] kthyng commented on #2835
@xuanxu Are you interested and able to edit this submission?

[2020-11-11 19:24] kthyng commented on #2835
@whedon invite @xuanxu as editor

[2020-11-11 19:24] whedon commented on #2835
@xuanxu has been invited to edit this submission.

[2020-11-11 19:24] kinow commented on #2506
All good for me, thanks @pmkruyen !

[2020-11-11 19:27] kthyng commented on #2836
@cMadan  are you interested in editing this submission?

[2020-11-11 19:27] kthyng commented on #2836
@whedon invite @cMadan as editor

[2020-11-11 19:27] whedon commented on #2836
@cMadan has been invited to edit this submission.

[2020-11-11 20:03] rmorgan10 commented on #2834
It looks like lines 8-9 are
[code]
Though I believe I followed the same syntax as the paper requirements:
[code]

I'm not quite sure what the problem is either.

[2020-11-11 20:23] leouieda commented on #2696
👋🏼 Hi @seisman @ThomasLecocq just checking in to see how things are going with the reviews. It would be nice to get some progress on this soon but let me know if you require more time (we’re all living in strange times).

[2020-11-11 21:00] pdebuyl commented on #2834
@whedon assign me as editor

[2020-11-11 21:00] whedon commented on #2834
OK, the editor is @pdebuyl

[2020-11-11 21:22] rmorgan10 commented on #2834
I have a feeling the compile issue is the ':' character in the footnote, or perhaps that the footnote text needs to be enclosed in single quotes. I will test this as soon as I can, but at present the online compile service seems to be down.

[2020-11-11 21:34] tscheypidi commented on #2782
@crvernon @evanoffPNNL you have developed a nice and useful tool here. Thanks for taking the effort to make your work so accessible to others.

[2020-11-11 21:38] tscheypidi commented on #2782
@kthyng I finished my review and recommend the paper to be accepted for publication. All my concerns have been adressed and resolved by the authors.

[2020-11-11 21:52] cMadan commented on #2836
@kthyng, sure, I can take this one.

[2020-11-11 21:52] cMadan commented on #2836
@whedon assign @cMadan as editor

[2020-11-11 21:53] whedon commented on #2836
OK, the editor is @cMadan

[2020-11-11 21:54] cMadan commented on #2836
@charleygros, do you have any suggestions for reviewers? (See initial comment in this issue.)

It would also be great if you can add DOIs for articles that are currently missing them in the bib. See some suggestions earlier in this issue (but please double check!).

[2020-11-11 22:09] whedon opened #2837 "[PRE REVIEW]: censo2017: 2017 Chilean Census Easy Access Database"
**Submitting author:** @pachamaltese (<a href="http://orcid.org/0000-0003-1017-7574">Mauricio Vargas</a>)
**Repository:** <a href="https://github.com/pachamaltese/censo2017/" target ="_blank">https://github.com/pachamaltese/censo2017/</a>
**Version:** v0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2020-11-11 22:09] whedon commented on #2837
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-11 22:10] whedon commented on #2837
Failed to discover a `Statement of need` section in paper

[2020-11-11 22:10] whedon commented on #2837
[code]

[2020-11-11 22:10] whedon commented on #2837
[code]

[2020-11-11 22:11] whedon commented on #2837
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02837/joss.02837/10.21105.joss.02837.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02837/joss.02837/10.21105.joss.02837.pdf) :page_facing_up: :point_left:

[2020-11-11 22:21] dpsanders commented on #2660
@whedon add @mturiansky as reviewer

[2020-11-11 22:21] whedon commented on #2660
OK, @mturiansky is now a reviewer

[2020-11-11 22:21] dpsanders commented on #2660
@whedon add @mfherbst as reviewer

[2020-11-11 22:21] whedon commented on #2660
OK, @mfherbst is now a reviewer

[2020-11-11 22:21] dpsanders commented on #2660
@whedon start review

[2020-11-11 22:21] whedon opened #2838 "[REVIEW]: J2suscep: Calculation of magnetic exchange coupling and temperature dependence of magnetic susceptibility"
**Submitting author:** @Swetanshu (<a href="http://orcid.org/0000-0002-0626-0626">Swetanshu Tandon</a>)
**Repository:** <a href="https://github.com/WatsonGroupTCD/J2suscep" target ="_blank">https://github.com/WatsonGroupTCD/J2suscep</a>
**Version:** 1.0
**Editor:** @dpsanders
**Reviewer:** @mturiansky, @mfherbst
**Archive:** <a href="https://doi.org/10.5281/zenodo.5024912" target="_blank">10.5281/

[2020-11-11 22:21] whedon commented on #2660
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2838.

[2020-11-11 22:21] #2660 closed

[2020-11-11 22:21] whedon commented on #2838
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mturiansky, @mfherbst it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-11-11 22:22] whedon commented on #2838
[code]

[2020-11-11 22:22] dpsanders commented on #2660
Many thanks @mturiansky and @mfherbst!

Please head over to the review issue, where there's a checklist to orient your review.
The guidelines can be found in https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Please don't hesitate to ask if you have any questions. Thanks!

[2020-11-11 22:22] whedon commented on #2838
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02838/joss.02838/10.21105.joss.02838.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02838/joss.02838/10.21105.joss.02838.pdf) :page_facing_up: :point_left:

[2020-11-11 23:07] jcolomb commented on #2282
The software already has a doi via Zenodo (since January 2018), my objective to send it here instead of writing a normal paper (as I did for the CeTrAn software years ago https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0042247, and as I had planned to do in 2018 -I actually had a manuscript ready as one can guess from some files in the repo-) was and still is to make sure the cod

[2020-11-12 00:05] jni commented on #2818
That seemed a bit blunt! :sweat_smile: @aplyer @rfezzani JOSS is testing a new "reminder" feature on reviews, please don't take it as too aggressive — it is just a kind ping to ensure things don't stall for months. :pray:

[2020-11-12 07:06] arfon commented on #2834
This should be fixed again now.

@rmorgan10 - is this JOSS submission associated with a paper in AAS publishing?

[2020-11-12 07:50] GustaveCoste commented on #2765
@sjpfenninger ELDAM's code was written entirely by myself but the three other authors have helped to design substantial parts of the tool.

I did not address all @konstantinstadler's issues yet, I should have time to do it next week.

[2020-11-12 08:29] oalii commented on #2831
Hello @Kevin-Mattheus-Moerman ,
I made an issue ticket on the Helpdesk of my institute yesterday to see how we can work this out. I will let you know. Sorry for this problem.

[2020-11-12 08:41] rfezzani commented on #2818
:smile: don't mind @jni, **whedon** is simply a conscientious bot :wink:

[2020-11-12 08:47] oalii commented on #2831
So, the Inria IT people tell me that indeed to create issues, one needs to be invited as a "guest". To do so, all I need is emails for @finsberg , @IgorBaratta , @chennachaos  and @Kevin-Mattheus-Moerman to invite you.
Would this solution be acceptable in regards of the JOSS submission policy ?

[2020-11-12 08:51] holtgrewe commented on #1584
Dear @lpantano, I'm happy to report that we made a v0.8.4 release of the software and deposited it here in Zenodo:

- https://zenodo.org/record/4269347#.X6z2564o-Ak

The DOI is `10.5281/zenodo.4269347` and we already updated the `paper.md` file in the sodar core repository to reflect that version update as well as the `codemeta.json` file.

Please tell us if we missed anything ;-)

[2020-11-12 09:27] VivianePons commented on #2515
Hi @highlando the box "State of the field" is not checked in the issue description, if you are now satisfied, can you tick it?

[2020-11-12 09:32] chainsawriot commented on #2461
@whedon generate pdf

[2020-11-12 09:49] xuanxu commented on #2835
@kthyng Sorry, currently I am not able to handle another submission.

[2020-11-12 09:51] VivianePons commented on #2463
@whedon generate pdf

[2020-11-12 09:52] whedon commented on #2463
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02463/joss.02463/10.21105.joss.02463.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02463/joss.02463/10.21105.joss.02463.pdf) :page_facing_up: :point_left:

[2020-11-12 10:02] VivianePons commented on #2463
@whedon check references

[2020-11-12 10:02] whedon commented on #2463
[code]

[2020-11-12 10:03] konstantinstadler commented on #2765
Hi,
1) @GustaveCoste - timeline is ok for me
2) Simapro (@sjpfenninger ): I can probably find someone in the institute using Simapro. I never used it before but perhaps that makes me a perfect guinea pig for following a tutorial. Probably need some time to catch a researcher here not working from home, but when I receive a tutorial from @GustaveCoste I should be able to do that within a week
3) I

[2020-11-12 10:03] Kevin-Mattheus-Moerman commented on #2831
@oalii sorry this is not acceptable since that is a form of registration. What is needed is the ability to do cloning, browsing, viewing current issues, posting new issues, all without any form of registration/login.

Please ensure settings are altered to allow this.

[2020-11-12 10:04] VivianePons commented on #2463
@lootie can you fix the DOI as asked by whedon? Basically, you need to only refer to the "10.1093/gji/ggz280" part of the DOI without "https://doi.org/" .

Thanks

[2020-11-12 10:05] VivianePons commented on #2515
@whedon generate pdf

[2020-11-12 10:05] whedon commented on #2515
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02515/joss.02515/10.21105.joss.02515.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02515/joss.02515/10.21105.joss.02515.pdf) :page_facing_up: :point_left:

[2020-11-12 10:15] arfon commented on #2461
@chainsawriot - No problem. I've just updated the paper and Crossref deposit metadata with your ORCID. This should be updated on the live site in the next hour or two.

[2020-11-12 10:15] #2461 closed

[2020-11-12 10:15] whedon commented on #2461
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02461/status.svg)](https://doi.org/10.21105/joss.02461)

**We need your help!**

Journal of Open Source Softwa

[2020-11-12 10:19] VivianePons commented on #2515
@whedon check references

[2020-11-12 10:20] whedon commented on #2515
[code]

[2020-11-12 10:27] VivianePons commented on #2515
@whedon remove @wingtorres as reviewer

[2020-11-12 10:27] whedon commented on #2515
OK, @wingtorres is no longer a reviewer

[2020-11-12 10:32] oalii commented on #2831
@Kevin-Mattheus-Moerman ,

I'm sorry but I'm sure to understand, how can someone open an issue without registration first ? As far as I understand gitlab and/or GitHub (but I am not at all a savvy users of these tools...) you always need an account to raise an issue no ?
besides, the guidelines you quote:
[code]
Do not explicitly say that people should be able to create issues without registration

[2020-11-12 10:34] VivianePons commented on #2515
Hi @ketch with two positive reviews, we can now move forward! Congratulations and thanks a lot to the reviewers.

Can you make an archive (on Zenodo, figshare, or other) and be careful to have the same metadata (name and authors) of the paper?

[2020-11-12 10:56] chainsawriot commented on #2461
@arfon Thank you very much!

[2020-11-12 11:12] mikerspencer commented on #2282
This chapter from Wickham's R Packages books is a really good grounding in testing: https://r-pkgs.org/tests.html.

Like you, I usually rely on informal testing when writing code. But this makes it very difficult for others to review our work. For your own purposes using a test dataset is perfect, but for a reviewer we don't know what the output to be. Writing formal tests (see link above) makes e

[2020-11-12 11:19] marcosvital commented on #2319
Dear @meenakshi-kushwaha, @puruckertom and @elimillera, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take

[2020-11-12 11:34] arfon commented on #2835
:wave: @mileslucas - is this submission associated with a paper in a AAS journal?

[2020-11-12 11:41] Kevin-Mattheus-Moerman commented on #2831
@oalii thanks for these questions. To clarify, yes GitHub and GitLab (the general public platform) require a GitHub or GitLab account for sure. However once logged on you can start issues on any public GitHub and GitLab repository. If this was the case for your project then this is fine. Also anybody can easily, and virtually instantly, create a GitHub/GitLab account. However for your project it r

[2020-11-12 11:41] jcolomb commented on #2282
Thanks, it is indeed some eyes opening: "Always write a test when you discover a bug.".

I will need to learn how to use testing in practice and go through the code again. Indeed, probably a long process.
@danielskatz : I foresee again a long pause in the review process, is it ok to pause the review until I am done with this, probably a couple of months, if schools are not closing again ?

[2020-11-12 13:10] dfm commented on #2750
@KshitijAggarwal: I've just submitted a small pull request with some formatting changes. After you take a look at that, here are the steps to run:

1. Comment `@whedon generate pdf` on this thread and carefully read through the manuscript to make sure that you're happy with it because it can be hard to update later. You should especially double check author names and affiliations.
2. Update the ve

[2020-11-12 13:11] pdebuyl commented on #2828
Thank you @tuelwer for this efficient review!

[2020-11-12 13:15] danielskatz commented on #2282
Hi @mikerspencer and @jcolomb  - I think there's some confusion here between best practices and what's required for JOSS.  I really appreciate the discussion, which I think will certainly improve the code, but the question here is if it currently meets the minimum required for JOSS publication.

For example, the testing criterion for JOSS is

Full unit testing and CI is not needed to pass this, th

[2020-11-12 13:25] KshitijAggarwal commented on #2750
@whedon generate pdf

[2020-11-12 13:26] whedon commented on #2750
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02750/joss.02750/10.21105.joss.02750.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02750/joss.02750/10.21105.joss.02750.pdf) :page_facing_up: :point_left:

[2020-11-12 13:54] brynpickering commented on #2695
@sjpfenninger, we ended up moving discussion to the software repo, but I can give an update from my side. Overall, there's a lot of content in the submission, but I have become unsure as to whether it fits within the scope of JOSS. This concern aside, I have no new issues to raise, and see my review of this submission to be close to completion. Below are more specific comments which are being / ha

[2020-11-12 14:09] lpantano commented on #1584
@whedon set v0.8.4 as version

[2020-11-12 14:09] whedon commented on #1584
OK. v0.8.4 is the version.

[2020-11-12 14:12] lpantano commented on #1584
@whedon set 10.5281/zenodo.4269347 as archive

[2020-11-12 14:12] whedon commented on #1584
OK. <a href="https://doi.org/10.5281/zenodo.4269347" target="_blank">10.5281/zenodo.4269347</a> is the archive.

[2020-11-12 14:12] lpantano commented on #1584
@whedon accept

[2020-11-12 14:12] whedon commented on #1584
[code]

[2020-11-12 14:12] whedon commented on #1584
[code]

[2020-11-12 14:13] whedon commented on #1584
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1906

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1906, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-12 14:14] lpantano commented on #1584
Thank you everybody for the hard work, let's see what the editorial board says. Really appreciated the work from everybody.

[2020-11-12 14:35] KshitijAggarwal commented on #2750
@dfm, here is the DOI of the archive: 10.5281/zenodo.4269947, and the new version number is 0.6.0

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4269947.svg)](https://doi.org/10.5281/zenodo.4269947)

I have edited the title and author list in the archive to be exactly the same as that in this manuscript.

[2020-11-12 14:56] oalii commented on #2831
@Kevin-Mattheus-Moerman ,

Thanks for the clarification, your point is completely understandable and this limitation of the Inria.gitlab is a pity.
To solve this, we have set a mirroring repository within the "regular" gitlab platform : [https://gitlab.inria.fr/mosaic/bvpy](https://gitlab.inria.fr/mosaic/bvpy).
Is this solution ok on your end ?

If so, can we simply ask Whedon to change the reposi

[2020-11-12 15:12] marcrr commented on #2638
@chorscroft Thank you for your revisions. They reply to almost all my concerns.

I still find the comparison to other packages very light, even with the new paragraph. I am not sure what the standards are for this journal, so I will let @lpantano make the final call on this.

Best regards
Marc

[2020-11-12 15:15] pdebuyl commented on #2834
@rmorgan10 the AAS question should be answered before I proceed. BTW, as you have an ORCID record the email could be considered superfluous, which would solve the compilation issue :-)

[2020-11-12 15:22] mileslucas commented on #2835
Not that I believe. We have some related forward modeling work that will be published but it's not closely related enough to be a joint publication in my opinion.

[2020-11-12 15:39] rmorgan10 commented on #2834
@arfon this JOSS submission is not associated with a paper in a AAS journal.

@pdebuyl , @kthyng the compilation issue has been fixed and everything looks good!

[2020-11-12 15:40] mattansb commented on #2815
@whedon generate pdf

[2020-11-12 15:41] rmorgan10 commented on #2834
@whedon generate pdf

[2020-11-12 15:41] whedon commented on #2815
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: :point_left:

[2020-11-12 15:41] whedon commented on #2834
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02834/joss.02834/10.21105.joss.02834.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02834/joss.02834/10.21105.joss.02834.pdf) :page_facing_up: :point_left:

[2020-11-12 15:53] kthyng commented on #2835
@jni are you able to take on another submission?

[2020-11-12 15:54] kthyng commented on #2835
@whedon invite @jni as editor

[2020-11-12 15:54] whedon commented on #2835
@jni has been invited to edit this submission.

[2020-11-12 15:57] kthyng commented on #2782
@tscheypidi Thanks for your review!

[2020-11-12 15:59] kthyng commented on #2598
@davidjohannesmeyer Sorry for being pedantic here, but is there is a reason that you didn't check a couple of the boxes?

[2020-11-12 16:00] kthyng commented on #2598
@whedon add @davidjohannesmeyer as reviewer

[2020-11-12 16:00] whedon commented on #2598
OK, @davidjohannesmeyer is now a reviewer

[2020-11-12 16:01] kthyng commented on #2598
I think it looks ok now — you successfully removed the reviewer and I just added back in.

[2020-11-12 16:03] dpsanders commented on #2598
@whedon generate pdf

[2020-11-12 16:03] whedon commented on #2598
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02598/joss.02598/10.21105.joss.02598.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02598/joss.02598/10.21105.joss.02598.pdf) :page_facing_up: :point_left:

[2020-11-12 16:04] dpsanders commented on #2598
@kthyng The third reviewer no longer seems to appear in the generated PDF though.

[2020-11-12 16:05] csoneson commented on #2706
@MelvinSMunsaka - could you give us an update on the status of your review?

[2020-11-12 16:06] kthyng commented on #2835
@whedon add @dfm as editor

[2020-11-12 16:06] whedon commented on #2835
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-12 16:06] kthyng commented on #2835
@jni nevermind! @dfm volunteered.

[2020-11-12 16:06] kthyng commented on #2835
@whedon assign @dfm as editor

[2020-11-12 16:06] whedon commented on #2835
OK, the editor is @dfm

[2020-11-12 16:10] davidjohannesmeyer commented on #2598
I forgot to check the code of conduct - thanks.

David

[2020-11-12 16:19] kthyng commented on #2837
@whedon query scope

[2020-11-12 16:19] whedon commented on #2837
Submission flagged for editorial review.

[2020-11-12 16:24] kthyng commented on #2837
@pachamaltese Since the size of this submission looks borderline, the greater editorial board will have a look to make it is in scope. This will take 1-2 weeks.

[2020-11-12 16:33] kthyng commented on #2598
@dpsanders I can see all three in my version — maybe you have a cached version.

I would like to see all the reviewer boxes checked, either by the reviewers themselves or by @dpsanders if you feel clear from your interactions in the review that they should be checked. Then we can proceed. Again sorry for being pedantic but there is really no point to having check boxes at all if we don't fully use

[2020-11-12 16:44] jarvist commented on #2749
This is much better!
I think it could be improved still further though - it's probably worth expanding the POMDPS acronym, and explaining how this technique is used; and also defining what a 'black-box' system is in this context; and for that matter what counts as 'failure'.

Can the Walk1D example be simplified any further? It's a bit confusing that the first thing the notebook starts talking abo

[2020-11-12 16:59] davidjohannesmeyer commented on #2598
Ah OK, performance was unchecked, too.

[2020-11-12 17:01] kthyng commented on #2598
@davidjohannesmeyer Thanks for wrapping that up.

But also there are unresolved boxes from @dmbates to deal with. Thanks all!

[2020-11-12 17:14] lootie commented on #2463
@whedon check references

[2020-11-12 17:24] milicag commented on #2695
@sjpfenninger @sjpfenninger @nmstreethran I'm happy to address any outstanding issues!

Regarding the current concern section, I added a sentence to [the current PR branch](https://github.com/LBNL-ETA/MSWH/pull/33) that makes the quoted out section of the paper sound more as I had intended - the section is referring to future research. I don't think that any developer of software can provide all t

[2020-11-12 17:55] schnorr commented on #2775
Hi @kakiac. Thanks for the invitation. I've just checked the PDF generated by dear @whedon  and it is 2-page long. I could do a review of the code and the 2-page manuscript until de end of November. If that is okay for you, let's go ahead.

[2020-11-12 18:01] trashbirdecology commented on #2815
@mattansb just noticed --"Sums" or "Sum" of Squares?

[2020-11-12 18:07] dmbates commented on #2598
My unresolved boxes should be dealt with now.

[2020-11-12 18:09] dpsanders commented on #2598
@kthyng I think we should be ready now. Thanks everybody for polishing off these details.

[2020-11-12 18:09] mattansb commented on #2815
Usually "sum of squares", but the context here is of several of these (with multiple tests statistics, multiple effect sizes, and so also many sums of squares).

[2020-11-12 18:26] rhagenson commented on #2124
@marcosvital, I am still alive. I have many reasons for the delay, but the most informative is that in May I rapidly moved from my work in conservation (which this submission was a part of) to being a dedicated COVID-19 data analyst with my local health department. I have spent the last few months consuming COVID-19 literature, responding to outbreaks, and building computational scaffolding to hel

[2020-11-12 18:34] giodegas commented on #2752
I can suggest @PatrizioM , one of our PhD students, but he is also quite busy at the moment. Ask him.

[2020-11-12 18:40] dfm commented on #2750
@whedon set 10.5281/zenodo.4269947 as archive

[2020-11-12 18:40] whedon commented on #2750
OK. <a href="https://doi.org/10.5281/zenodo.4269947" target="_blank">10.5281/zenodo.4269947</a> is the archive.

[2020-11-12 18:40] dfm commented on #2750
@whedon set 0.6.0 as version

[2020-11-12 18:40] whedon commented on #2750
OK. 0.6.0 is the version.

[2020-11-12 18:41] dfm commented on #2750
@KshitijAggarwal: I found a few more remaining formatting issues with the manuscript. Take a look at that PR and then we should be good to go!

[2020-11-12 18:42] devanshkv commented on #2750
@dfm merged!

[2020-11-12 18:43] dfm commented on #2750
@whedon generate pdf

[2020-11-12 18:43] whedon commented on #2750
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02750/joss.02750/10.21105.joss.02750.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02750/joss.02750/10.21105.joss.02750.pdf) :page_facing_up: :point_left:

[2020-11-12 18:43] dfm commented on #2750
@whedon check references

[2020-11-12 18:44] whedon commented on #2750
[code]

[2020-11-12 18:44] dfm commented on #2750
@whedon accept

[2020-11-12 18:44] whedon commented on #2750
[code]

[2020-11-12 18:45] whedon commented on #2750
[code]

[2020-11-12 18:45] whedon commented on #2750
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1907

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1907, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-12 18:46] dfm commented on #2750
An editor-in-chief will take a final look at this submission and then we should be good to go.

Thanks again @pravirkr and @paulray for your reviews!!

[2020-11-12 18:47] devanshkv commented on #2750
Thanks, @dfm, @pravirkr, and @paulray.

[2020-11-12 18:48] lootie commented on #2463
@VivianePons I've fixed the DOIs; not sure why I have such bad luck with whedon.

[2020-11-12 18:50] pachamaltese commented on #2837
@kthyng Hi. Thanks a lot. No worries, this is very similar to citesdb but adapted to our Latin-American reality.

[2020-11-12 18:54] KshitijAggarwal commented on #2750
Thanks a lot, @dfm, @pravirkr, and @paulray!!

[2020-11-12 18:55] dglaeser commented on #2291
@diehlpk, I've updated the paper in the repository.

Regarding the new capabilities in the code, I only changed the wording a bit, to emphasize that all functionality is acessible from Python, while in the old version it said much of the functionality is accessible. In the section on random geometry sampling I added that there is also a sampler for general polygons available now, and I changed the

[2020-11-12 18:55] dglaeser commented on #2291
@whedon check paper

[2020-11-12 18:55] whedon commented on #2291
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-12 18:56] dglaeser commented on #2291
@whedon check references

[2020-11-12 18:56] whedon commented on #2291
[code]

[2020-11-12 18:59] VivianePons commented on #2463
@whedon check references

[2020-11-12 18:59] whedon commented on #2463
[code]

[2020-11-12 19:06] josephwkania commented on #2750
Thanks @dfm, @pravirkr, @paulray! 😊

[2020-11-12 19:38] Gabriel-p commented on #2308
I was able to successfully run the Step by step example with the files provided by @profxj on a system with 8 Gb of memory.

Small fix, in the **Spec2d** sections the commands:

    pypeit_show_2dspec Science/spec2d_b27-J1217p3905_KASTb_2015May20T045733.560.fits
    pypeit_show_1dspec Science/spec1d_b27-J1217p3905_KASTb_2015May20T045733.560.fits

should be written as `may` instead of `May`.

I'm t

[2020-11-12 19:52] ctdegroot commented on #2291
Yes, I can!

[2020-11-12 19:55] elimillera commented on #2319
@marcosvital I would be happy to review. I don't have any conflicts of interests to report. Thanks!

[2020-11-12 21:47] KristinaRiemer commented on #2424
@a-r-j I checked the "community guidelines" part of your review, you said earlier you were satisfied with it but let me know if that's not the case.

[2020-11-12 21:48] KristinaRiemer commented on #2424
@whedon check references

[2020-11-12 21:49] whedon commented on #2424
[code]

[2020-11-12 21:53] KristinaRiemer commented on #2424
@whedon set 10.5281/zenodo.4247942 as archive

[2020-11-12 21:53] whedon commented on #2424
OK. <a href="https://doi.org/10.5281/zenodo.4247942" target="_blank">10.5281/zenodo.4247942</a> is the archive.

[2020-11-12 21:54] KristinaRiemer commented on #2424
@whedon set 0.0.2 as version

[2020-11-12 21:54] whedon commented on #2424
OK. 0.0.2 is the version.

[2020-11-12 21:54] KristinaRiemer commented on #2424
@whedon accept

[2020-11-12 21:55] whedon commented on #2424
[code]

[2020-11-12 21:55] whedon commented on #2424
[code]

[2020-11-12 21:55] whedon commented on #2424
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1908

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1908, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-12 22:01] kullrich commented on #2424
@whedon accept deposit=true

[2020-11-12 22:01] whedon commented on #2424
I'm sorry @kullrich, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-11-12 22:20] kthyng commented on #2598
Ok great! Since everyone is satisfied with the submission and the other items have already been dealt with, we can finish!

[2020-11-12 22:20] kthyng commented on #2598
@whedon accept deposit=true

[2020-11-12 22:20] whedon commented on #2598
[code]

[2020-11-12 22:21] whedon commented on #2598
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1327013649450491904) 👈 🐦🐦🐦

[2020-11-12 22:21] whedon commented on #2598
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1909
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02598](https://doi.org/10.21105/joss.02598)
2. If everything looks g

[2020-11-12 22:23] dpsanders commented on #2598
Congratulations on your paper, @RaphaelS1!

Many thanks to @dmbates, @wch and @davidjohannesmeyer for their reviews, and to @kthyng for pushing it over the finishing line.

[2020-11-12 22:24] #2598 closed

[2020-11-12 22:24] whedon commented on #2598
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02598/status.svg)](https://doi.org/10.21105/joss.02598)

**We need your help!**

Journal of Open Source Softwa

[2020-11-12 23:01] kexinrong commented on #2784
@lzkelley Nice package and visualizations! I will collect feedback on the repository here as I go through the review:

**Documentation**
- [ ] Could you compile the package documentation and add a link in the README?
- [ ] The README has a few incomplete sections.
- [ ] Since resampling is one of the main use cases, I will suggest exposing more parameters in the example usage. For example, for res

[2020-11-13 00:51] galessiorob commented on #2676
@whedon generate pdf

[2020-11-13 00:52] whedon commented on #2676
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: :point_left:

[2020-11-13 01:11] meenakshi-kushwaha commented on #2319
@marcosvital I will be happy to review. Thanks!

[2020-11-13 01:14] mossr commented on #2749
@jarvist I agree with your comments—thank you for these. I've since added a paragraph describing the POMDP acronym and why we use it, and added a section on the definition of "failure" and the "distance" metric, all under the "Home" section here:
- **Home**: https://sisl.github.io/POMDPStressTesting.jl/dev/

Note that I already have two sections describing the "black-box" and "gray-box" definition

[2020-11-13 01:36] galessiorob commented on #2676
@nedRad88 the paper looks almost ready to ship, I found a missing space that I added [here.](https://github.com/nedRad88/SCALAR/pull/9)

@GregaVrbancic, @atanikan, @xiaohk could you go over all the added changes and check the missing items from your lists if you're satisfied with them?

Thank you all, we are almost there!

[2020-11-13 01:50] galessiorob commented on #2805
@jdalzatec @martinfleis @omshinde thank you all for the updates, please let me know if you need my help in any way.

@fduchatea thanks for the update on your part, please see my answers below:

To avoid having you migrate everything to another repo I propose two options:
 1. That you open a "review repo" in GitLab that allows us to reference the repo we are reviewing so that the reviewers can link

[2020-11-13 01:56] FrancisBanville commented on #2721
Thanks for your review @arbennett!

We changed the defective link in the revised paper (branch `joss-article-review1`), and included a code example in the documentation of our package. We also recently changed the look of our conceptual figure to make it slightly more attractive.

[2020-11-13 03:47] briandesilva commented on #2828
@tuelwer, could you clarify which figure you're referring to here?

I believe I've addressed the other issues you raised, apart from the binder issue and the "more formal definition of the problem setting that is solved by the PySensors toolbox." I experimented with different solutions for specifying binder dependencies, but didn't come up with anything that worked. I'll have to look into both ite

[2020-11-13 03:57] seisman commented on #2696
Hi @leouieda, sorry for the delay. I'm a little too busy with job interviews and preparing for AGU meeting recently. I may have more time in December.

[2020-11-13 04:37] neuromusic commented on #2440
you can expect a response to the outstanding issues tomorrow :D

[2020-11-13 04:38] hemanthpruthvi commented on #2693
@pibion I mean that it can be easily distributed along with polarimetric calibration routines *in general*, provided that the pipeline is in/can use Python. The telescopes with widely different applications still use very similar optics, essentially, coated surfaces like mirrors and lenses. Users can make the telescope models using just `PyAstroPol`. Such models can be deployed as part of the pola

[2020-11-13 06:00] leouieda commented on #2696
@seisman thanks for the update. I realize that the earlier than usual AGU deadlines are causing problems. Good luck on the job interviews and let me know when you have some more time.

@d-chambers apologies for the unusually long delays with this paper. I really appreciate your patience in these strange times we live in 😞

[2020-11-13 09:04] tuelwer commented on #2828
@briandesilva What I meant was [this example](https://python-sensors.readthedocs.io/en/latest/index.html). I was indeed somewhat imprecise, sorry for this!

![missing_image](https://user-images.githubusercontent.com/7251921/99049573-4aca6680-2597-11eb-851f-d4ab19e5d75d.png)

[2020-11-13 09:20] VivianePons commented on #2463
@whedon generate pdf

[2020-11-13 09:20] whedon commented on #2463
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02463/joss.02463/10.21105.joss.02463.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02463/joss.02463/10.21105.joss.02463.pdf) :page_facing_up: :point_left:

[2020-11-13 09:23] VivianePons commented on #2463
@whedon remove @daviddewhurst as reviewer

[2020-11-13 09:23] whedon commented on #2463
OK, @daviddewhurst is no longer a reviewer

[2020-11-13 09:23] VivianePons commented on #2463
@whedon remove @felixcremer as reviewer

[2020-11-13 09:23] whedon commented on #2463
OK, @felixcremer is no longer a reviewer

[2020-11-13 09:26] RaphaelS1 commented on #2598
Great thanks everyone involved!

[2020-11-13 09:30] VivianePons commented on #2463
Hi @lootie I am glad that after the bad luck we had with the first chosen reviewers, you could have such a good review experience and that the process led to a better paper and software! Thank you very much to @anowacki and @agricolab . We can now move toward finial acceptance :-)

@lootie : Can you make an archive (on Zenodo, figshare, or other) and be careful to have the same metadata (name and

[2020-11-13 10:07] jodemaey commented on #2597
Hi @sadielbartholomew ,

I have seen that you raised two issues in the qgs repo. Does that mean that your review is complete?

Thank you in advance,

Jonathan

[2020-11-13 10:27] jarvist commented on #2749
Dear @mossr , that's great! It's extremely clear now, and I think would answer all the questions that arose when I first read through it. The lay-person definition followed by an example is very easy to follow. I'm certainly happy with this documentation now.

Apologies for the sluggishness of doing my review, I'll install the software, check the repo & read the paper as soon as I can fit it in.

[2020-11-13 10:39] krober10nd commented on #2687
@nschloe @jorgensd Can you please elaborate more on what ongoing work needs to be done for to finish this review?

Just to state some recent activity: I've fixed a broken reference in the paper and edited a statement regarding mesh quality on KSP performance. I've improved both the serial and parallel performance comparisons and at least the serial performance comparisons have been corroborated vi

[2020-11-13 11:14] Kevin-Mattheus-Moerman commented on #2831
@oalii yes thank you this is acceptable. We cannot hold you to it but we do hope you maintain this mirrored repository.

I'll update the repository for this issue now too.

[2020-11-13 11:15] Kevin-Mattheus-Moerman commented on #2831
@whedon generate pdf

[2020-11-13 11:16] whedon commented on #2831
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: :point_left:

[2020-11-13 11:17] Kevin-Mattheus-Moerman commented on #2831
@IgorBaratta, @chennachaos, @finsberg thanks again for your help reviewing this work. We have just updated the repository for this software which is now: https://gitlab.com/oali/bvpy

You should have access to create issues on that repository now too. Thanks, let me know if you have questions.

[2020-11-13 11:23] oalii commented on #2831
@Kevin-Mattheus-Moerman ,

I am glad we worked this out. We will maintain the repo, no problem. FYI, I informed the Inria  IT service of this problem. Turns out it is a burning debate within the institute right now. Hopefully the institute policy will be shifted toward more flexibility in the future 🤞🏿

[2020-11-13 12:00] xuanxu commented on #2825
@zonca Thanks!
I'll probably ping you if/once all the changes are done to get your final approval/recommendation for publication.

[2020-11-13 12:01] milankl commented on #2813
Hey Kristen @kthyng, the invitation expired. Could you send a new one?

[2020-11-13 13:48] sadielbartholomew commented on #2597
Hi Jonathan, no I only got part way through my review in the time I could devote last week. I will try to finish the review tonight and tomorrow. Sorry for the delay and thanks for your patience.

[2020-11-13 14:49] mikerspencer commented on #2282
Thanks Daniel, I think that's a pragmatic way forward.

[2020-11-13 14:54] sjpfenninger commented on #2765
@whedon re-invite @konstantinstadler as reviewer

[2020-11-13 14:54] whedon commented on #2765
OK, the reviewer has been re-invited.

@konstantinstadler please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-11-13 14:55] sjpfenninger commented on #2765
@konstantinstadler Can you go to the invitation link above -- that should hopefully fix the issue. And, if you can get a colleague to look at the Simapro integration, that would be fantastic (I myself also do not have it). We could add them as a third reviewer here for just that small aspect.

[2020-11-13 14:56] sjpfenninger commented on #2765
Thanks @GustaveCoste, let us know here when you're through; and thanks for clarifying author contributions, that is fine.

[2020-11-13 15:09] sbenthall commented on #2730
Thank you @soodoku ! I will assign you as a reviewer.

[2020-11-13 15:11] sbenthall commented on #2730
@whedon assign @soodoku as reviewer

[2020-11-13 15:11] whedon commented on #2730
OK, @soodoku is now a reviewer

[2020-11-13 15:15] sbenthall commented on #2730
@JannisHoch I believe that updates to the software are encouraged. It's possible that the review will motivate further updates.

This package is actually very much in line with my own research.

@kthyng is it possible for editors to also be reviewers on a piece, or is that a conflict of interest?

[2020-11-13 15:18] sjpfenninger commented on #2695
@milicag @brynpickering Thanks both for the update. I see no major issue here. @milicag You could explicitly point to the California-specific data as examples included, but they do not preclude application of the software elsewhere. @nmstreethran Could you provide an update what is outstanding from your side?

[2020-11-13 16:22] fboehm commented on #2743
Hi @dwinter, @raivivek and @greggj2016 - I just wanted to check in to see how the review is going. Is there anything that I can help with at this time?

Thanks again for your work on this!

[2020-11-13 16:24] fboehm commented on #2800
Thank you for the update, @henrykironde ! Please let me know how the resolution of issues goes, and don't hesitate to contact me when I might help with something.

[2020-11-13 16:29] fboehm commented on #2474
Hi, @OscartGiles and @tomaslaz - I just wanted to check in to see how you are progressing through the issues from reviewers. Is there anything that I might help with right now?

[2020-11-13 16:32] OscartGiles commented on #2474
Hi @fboehm, 18 days went fast. I'm partway through the revisions now and we'll have them finished and submitted next week. All the best

[2020-11-13 16:40] fboehm commented on #2474
@OscartGiles - excellent! Thank you again! Please know that I'm happy to discuss any edits that you're about to make, especially if you're unsure about how to proceed.

[2020-11-13 16:40] nniiicc commented on #2730
@sbenthall - sorry I have too many reviews on my plate right now. Agree that it looks promising though.

[2020-11-13 16:50] hayesla commented on #2801
@arfon @wtbarnes sorry for the delay!

I'm now done with my review and recommend it to be published 🌞

Just some minor comments, that have been raised on the gitlab repo:

 * https://gitlab.com/LMSAL_HUB/aia_hub/aiapy/-/issues/86 - Bug with respike
 * https://gitlab.com/LMSAL_HUB/aia_hub/aiapy/-/issues/87 - Potential user error
 * https://gitlab.com/LMSAL_HUB/aia_hub/aiapy/-/issues/88 - Minor doc

[2020-11-13 17:15] pdebuyl commented on #2834
@fipanther @shreyasbapat can you review the article "deeplenstronomy: A dataset simulation package for strong gravitational lensing" for JOSS ?

[2020-11-13 17:31] shreyasbapat commented on #2834
Sure! I'll be glad to!

[2020-11-13 17:33] MelvinSMunsaka commented on #2706
I will provide my review over the weekend…had some COVID-19 issues as result of getting into contact with cousin who is asymptomatic.

Also, I was taking a closer look at the package, trying out some example and also double checking how we implemented the c212 package here: (https://visual-analytics.shinyapps.io/index/ - see the AE Line Plot tab).

Melvin

From: Charlotte Soneson <notifications@gi

[2020-11-13 17:35] shreyasbapat commented on #2834
At the same time, @rmorgan10 do you think this can be brought in the family of @einsteinpy ?

[2020-11-13 17:41] shreyasbapat commented on #2834
@kakirastern See this package!
@rmorgan10 we always planned to do something similar in @einsteinpy ! Great work!

[2020-11-13 17:45] cMadan commented on #2506
@whedon generate pdf

[2020-11-13 17:45] rmorgan10 commented on #2834
`deeplenstronomy` doesn't perform any gravitational lensing calculations itself, it's a wrapper that focuses on generating and organizing data for deep learning using the package [`lenstronomy`](https://github.com/sibirrer/lenstronomy) (which is the main gravitational lensing workhorse).

After a quick glance at the @einsteinpy family, to me it doesn't feel like `deeplenstronomy` fits in, but I'd

[2020-11-13 17:46] whedon commented on #2506
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: :point_left:

[2020-11-13 17:53] cMadan commented on #2506
@pmkruyen, this url formatting looks good. The previous was fine too, but this does look better.

[2020-11-13 17:53] cMadan commented on #2506
@whedon set v1.0.49 as version

[2020-11-13 17:53] whedon commented on #2506
OK. v1.0.49 is the version.

[2020-11-13 17:54] cMadan commented on #2506
@whedon set 10.5281/zenodo.426793 as archive

[2020-11-13 17:54] whedon commented on #2506
OK. <a href="https://doi.org/10.5281/zenodo.426793" target="_blank">10.5281/zenodo.426793</a> is the archive.

[2020-11-13 17:54] cMadan commented on #2506
@whedon accept

[2020-11-13 17:54] whedon commented on #2506
[code]

[2020-11-13 17:54] whedon commented on #2506
[code]

[2020-11-13 17:55] whedon commented on #2506
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1910

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1910, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-13 17:55] pdebuyl commented on #2834
Thank you @shreyasbapat for accepting :-)

[2020-11-13 17:59] greggj2016 commented on #2743
Yes, there has been a bit of a delay, which I apologize for. It has taken a while to figure out how to properly implement automated installation because this is my first serious project. My current strategy is to upload the code portion of my algorithm to pypi and the recombination rate files to figshare.com. I'll write an installation function that downloads the recombination rate files from figs

[2020-11-13 18:00] kthyng commented on #2813
@whedon re-invite @milankl as reviewer

[2020-11-13 18:00] whedon commented on #2813
OK, the reviewer has been re-invited.

@milankl please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-11-13 18:03] milankl commented on #2813
Works fine. Thanks!

[2020-11-13 18:15] dmey commented on #2779
@whedon generate pdf from branch joss-paper

[2020-11-13 18:15] whedon commented on #2779
[code]

[2020-11-13 18:16] whedon commented on #2779
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02779/joss.02779/10.21105.joss.02779.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02779/joss.02779/10.21105.joss.02779.pdf) :page_facing_up: :point_left:

[2020-11-13 18:17] dmey commented on #2779
@arfon @VivianePons @kyleniemeyer and @danielskatz many thanks for allowing me to get back to you this week. We have recently extended the documentation, added more examples, and reworded the paper to address what I think were your main concerns. We have also added a couple of new features, that is, the handling of discrete and categorical data in the last two releases which brings the number of l

[2020-11-13 19:08] ajjackson commented on #2671
I got it working and have completed the Fireworks tutorials. I'm pleased to report that the Vibes docs were more helpful than the Fireworks ones when it came to the commands to set up the DB, as the Mongo syntax is more up-to-date. The main issues were around the instructions for shutdown/restart/reset of the DB; this didn't quite play nicely with the container setup. But in the end it was ok and

[2020-11-13 19:58] geekysquirrel commented on #2537
I thought I shouldn't bump the patch version as I haven't actually made any changes to the code, just the paper, but I've updated it now as you requested.

[2020-11-13 20:32] kthyng commented on #2506
@cMadan Why is the performance checkbox unchecked for both reviewers?

[2020-11-13 20:34] kthyng commented on #2506
Looks like the zenodo doi wasn't copied correctly before, so I'll fix it

[2020-11-13 20:34] kthyng commented on #2506
@whedon set 10.5281/zenodo.4267938 as archive

[2020-11-13 20:35] whedon commented on #2506
OK. <a href="https://doi.org/10.5281/zenodo.4267938" target="_blank">10.5281/zenodo.4267938</a> is the archive.

[2020-11-13 20:38] kakirastern commented on #2834
Nice

[2020-11-13 20:38] kakirastern commented on #2834
Can I help as well?

[2020-11-13 20:39] kthyng commented on #2506
@pmkruyen Is it convention to have "prof dr" and "dr" not capitalized?

[2020-11-13 20:40] kthyng commented on #2506
Note to myself that the version is up to date, Zenodo archive looks good, and paper is good other than the question above. Waiting to hear back about the capitalization and the unchecked boxes.

[2020-11-13 20:51] kthyng commented on #2730
Yes that can happen though usually it is done because a reviewer dropped out or similar. If you're really interested in the package, I think it's fine for you to review if you'd like to.

[2020-11-13 21:29] ajbaird commented on #2645
let me know if you need anything from me!

[2020-11-13 22:10] neuromusic commented on #2440
Thank you for your patience, @csoneson and all.

I've addressed the outstanding issues from @vals and @shazanfar in [PR #1913](https://github.com/spacetx/starfish/pull/1913), except for the request for rendered examples in [starfish#1904](https://github.com/spacetx/starfish/issues/1904), which I've addressed in a comment on that issue.

As soon as the tests pass and my colleague @mattcai reviews t

[2020-11-13 22:19] kinow commented on #2506
Ops, sorry @kthyng ! Checked it, there are no claims about performance in the paper. Also, I tested it locally (and also briefly against the server with automated tests) and found no performance issues :+1:

[2020-11-13 22:36] mjsottile commented on #2811
:wave: Hello @jbytecode, @zhampel, @nhejazi : Would you be interested in providing a review for this submission to JOSS?  I have identified you based on your areas of knowledge as listed in our potential reviewer spreadsheet.  Please let me know if you are interested and available.  Thank you!

[2020-11-13 23:17] kthyng commented on #2424
Hi @kullrich! Things are looking good. Just one comment on your paper and then we are done! Looking through your references, I see at least a couple items in titles that are not capitalized but should be: R and Python. Please go through your references carefully and add {} around words or the full titles in which you want to preserve capitalization.

[2020-11-13 23:19] pibion commented on #2693
Ah okay, that's clear.  What about, "It can be easily included alongside polarimetric calibration routines in any pipeline that has access to Python?"

[2020-11-13 23:25] pmkruyen commented on #2506
Hi @kthyng,

Good point. In the Netherlands, this is the [convention](https://taaladvies.net/taal/advies/vraag/218/dr_ir_mr_dr_ir_mr/#:~:text=We%20spreken%20de%20afkortingen%20uit,in%20het%20afgekorte%20woord%20voorkomt.) I now see that in the English language, it is always Prof. Dr. I changed the text accordingly.

As @kinow noted I have no specific performance claims.

Best,
Peter

[2020-11-13 23:26] kthyng commented on #2821
Hi @ZitongLu1996. Thank you for your JOSS submission. Unfortunately, the editorial board has determined that it is too narrow in scope for JOSS to review it - see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort. We encourage you to consider JOSS at a later time if more effort and code goes into this software, or alternatively, consider publishing the software to

[2020-11-13 23:27] kthyng commented on #2821
@whedon reject

[2020-11-13 23:27] whedon commented on #2821
Paper rejected.

[2020-11-13 23:27] #2821 closed

[2020-11-13 23:31] pmkruyen commented on #2506
@whedon generate pdf

[2020-11-13 23:32] whedon commented on #2506
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: :point_left:

[2020-11-13 23:34] kthyng commented on #2820
Hi @scivision! Thanks for your submission. The editorial board is a bit borderline about your submission as to whether it is in scope as research software and is more than a thin wrapper, though everyone thinks it is clearly very useful. However, enough people support it as in scope to move forward with review. So, let's proceed!

[2020-11-13 23:34] kthyng commented on #2820
@melissawm and @pdebuyl would either of you like to edit this submission?

[2020-11-13 23:34] kthyng commented on #2820
@whedon invite @melissawm as editor

[2020-11-13 23:34] whedon commented on #2820
@melissawm has been invited to edit this submission.

[2020-11-13 23:34] kthyng commented on #2820
@whedon invite @pdebuyl as editor

[2020-11-13 23:34] whedon commented on #2820
@pdebuyl has been invited to edit this submission.

[2020-11-13 23:34] pmkruyen commented on #2506
@whedon generate pdf

[2020-11-13 23:35] whedon commented on #2506
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: :point_left:

[2020-11-13 23:37] whedon opened #2839 "[PRE REVIEW]: fctSPM: Factorial ANOVA and post-hoc tests for Statistical Parametric Mapping in MATLAB"
**Submitting author:** @tramarobin (<a href="http://orcid.org/0000-0001-6807-0505">Robin Trama</a>)
**Repository:** <a href="https://github.com/tramarobin/fctSPM" target ="_blank">https://github.com/tramarobin/fctSPM</a>
**Version:** 1.4
**Editor:** @cMadan
**Reviewers:** @0todd0000, @nicholst
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-11-13 23:37] whedon commented on #2839
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-13 23:37] whedon opened #2840 "[PRE REVIEW]: The SAGE Rejected Article Tracker"
**Submitting author:** @ad48 (<a href="http://orcid.org/0000-0002-8529-9990">Adam Day</a>)
**Repository:** <a href="https://github.com/sagepublishing/rejected_article_tracker_pkg" target ="_blank">https://github.com/sagepublishing/rejected_article_tracker_pkg</a>
**Version:** 1.5.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :war

[2020-11-13 23:37] whedon commented on #2840
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-13 23:37] whedon opened #2841 "[PRE REVIEW]: SimpleSDMLayers.jl and GBIF.jl: A Framework for Species Distribution Modeling in Julia"
**Submitting author:** @gabrieldansereau (<a href="http://orcid.org/0000-0002-2212-3584">Gabriel Dansereau</a>)
**Repository:** <a href="https://github.com/EcoJulia/SimpleSDMLayers.jl" target ="_blank">https://github.com/EcoJulia/SimpleSDMLayers.jl</a>
**Version:** v0.3.1
**Editor:** @KristinaRiemer
**Reviewers:** @dglmoore, @marcjwilliams1
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced

[2020-11-13 23:37] whedon commented on #2841
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-13 23:37] whedon commented on #2839
[code]

[2020-11-13 23:37] whedon commented on #2839
[code]

[2020-11-13 23:38] whedon commented on #2840
[code]

[2020-11-13 23:38] whedon commented on #2840
[code]

[2020-11-13 23:38] whedon commented on #2839
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02839/joss.02839/10.21105.joss.02839.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02839/joss.02839/10.21105.joss.02839.pdf) :page_facing_up: :point_left:

[2020-11-13 23:38] whedon commented on #2840
PDF failed to compile for issue #2840 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Andrew Hails, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon/author.rb:71:in `each'

[2020-11-13 23:38] whedon commented on #2841
[code]

[2020-11-13 23:39] whedon commented on #2841
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02841/joss.02841/10.21105.joss.02841.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02841/joss.02841/10.21105.joss.02841.pdf) :page_facing_up: :point_left:

[2020-11-13 23:42] kthyng commented on #2506
At least in the U.S. we don't use "Dr Prof", just "Dr". But, you can specify however is appropriate for you, I think.

Thanks @kinow!

@gcdeshpande Can you verify that you are satisfied with this JOSS submission and check off the performance box in your review?

[2020-11-13 23:43] zhampel commented on #2811
@mjsottile I will be out of office for the next two weeks and can not take on the review at the moment. Cheers

[2020-11-14 00:15] hemanthpruthvi commented on #2693
@pibion Although in recent times most pipelines are being developed in `Python`, they can be written using, popularly,  `IDL`, `IRAF` or `Java` etc. In such cases, these pipelines should be able to call `Python` routines.

[2020-11-14 01:35] mturiansky commented on #2838
@dpsanders a few quick questions: with regards to the "software paper" section, how strict is JOSS? Does there need to be an explicit section labeled "summary" or "state of the field". I feel that overall the paper covers these two topics, but not directly in their own section.

How about with writing quality? The paper gets its point across, but there are grammatical errors (run-on sentences, mis

[2020-11-14 02:03] greggj2016 commented on #2743
Full disclosure: My laptop that I started making the automated installation on broke down recently. I had a "new" laptop for a while, but I wanted to use the old one for as long as possible, and it stopped working just recently. My new laptop is apparently missing BLAS/LAPACK libraries that my old laptop already had, and when I try to get around that using anaconda, whatever compiler it uses is al

[2020-11-14 06:27] kullrich commented on #2424
@whedon generate pdf

[2020-11-14 06:28] whedon commented on #2424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: :point_left:

[2020-11-14 06:29] kullrich commented on #2424
Hi @kthyng, do I need to move the flag v0.0.2 of the release to the current version and update the zenodo file deposition with the new release file?

[2020-11-14 06:35] kullrich commented on #2424
@kthyng checked and changed the paper.bib file accordingly to preserve capitalization, also carefully re-checked and updated the runtimes in table1. Since I have also put the dependencies on bioconda, I updated the README for the whole package, which should not have any consequences for the manuscript.