[2022-11-15 16:59] diehlpk commented on #4637
@editorialbot check references

[2022-11-15 17:00] zoometh commented on #4894
I'm a bit overwhelmed these days. I'll start this weekend

[2022-11-15 17:02] diehlpk commented on #4637
@ctdegroot How is your review going?

[2022-11-15 17:02] zoometh commented on #4894
@editorialbot generate my checklist

[2022-11-15 17:03] diehlpk commented on #4611
@mcasl how is your review going?

[2022-11-15 17:44] Yannan-Chen commented on #4887
@csoneson Yes, I'm happy to.

[2022-11-15 17:52] aaronpeikert commented on #4848
Than you‘ll get it (but give me some time).

[2022-11-15 18:08] xoolive commented on #4916
@kyfrankie thank you for the help, but it looks your link is down!

[2022-11-15 18:55] x94carbone commented on #4888
@ppxasjsm Just making sure you saw the list above. Let me know if there's anything else I can do!

[2022-11-15 19:08] csoneson commented on #4887
@Yannan-Chen Great, thank you! I will assign you and start the review now.

[2022-11-15 19:08] csoneson commented on #4887
@editorialbot add @adamltyson as reviewer

[2022-11-15 19:09] csoneson commented on #4887
@editorialbot add @Yannan-Chen as reviewer

[2022-11-15 19:09] csoneson commented on #4887
@editorialbot start review

[2022-11-15 19:09] editorialbot opened #4936 "[REVIEW]: PyView: A general purpose tool for analyzing calcium imaging data"
**Submitting author:** @ajkswamy (<a href="http://orcid.org/0000-0001-7928-877X">Ajayrama Kumaraswamy</a>)
**Repository:** https://github.com/galizia-lab/pyview
**Branch with paper.md** (empty if default branch): joss
**Version:** 1.3
**Editor:** @csoneson
**Reviewers:** @adamltyson, @Yannan-Chen
**Archive:** 10.12751/g-node.ezh5w2

## Status

[![status](https://joss.theoj.org/papers/9f066476240ca

[2022-11-15 19:09] #4887 closed

[2022-11-15 20:03] Kevin-Mattheus-Moerman commented on #4333
@editorialbot generate pdf

[2022-11-15 20:10] Roger-luo commented on #4924
@editorialbot generate my checklist

[2022-11-15 20:11] sbenthall commented on #4536
@editorialbot add @quang-huynh as reviewer

[2022-11-15 20:13] sbenthall commented on #4536
@editorialbot start review

[2022-11-15 20:13] editorialbot opened #4937 "[REVIEW]: SSMSE: An R package for Management Strategy Evaluation with Stock Synthesis Operating Models"
**Submitting author:** @k-doering-NOAA (<a href="http://orcid.org/0000-0002-0396-7044">Kathryn Doering</a>)
**Repository:** https://github.com/nmfs-fish-tools/ssmse
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.8
**Editor:** @sbenthall
**Reviewers:** @quang-huynh, @iagomosqueira
**Archive:** 10.5281/zenodo.10014307

## Status

[![status](https://joss.theoj.org/papers/9af778

[2022-11-15 20:13] #4536 closed

[2022-11-15 20:17] sbenthall commented on #4937
👋🏼 @k-doering-NOAA @seananderson @quang-huynh this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, pleas

[2022-11-15 20:27] seananderson commented on #4937
@editorialbot generate my checklist

[2022-11-15 20:52] quang-huynh commented on #4937
@editorialbot generate my checklist

[2022-11-15 20:53] gkthiruvathukal commented on #4810
Hi, this is the new track editor, @gkthiruvathukal checking in. I am working to get this and a growing number of track submissions reviewed. Please do bear with me (and JOSS) as there is a bit of a backlog with many of our editors at maximum number of assignments they can edit at the moment.  Thank you for your patience and understanding.

[2022-11-15 20:54] gkthiruvathukal commented on #4833
Hi, this is the new track editor, @gkthiruvathukal checking in. I am working to get this and a growing number of track submissions reviewed. Please do bear with me (and JOSS) as there is a bit of a backlog with many of our editors at maximum number of assignments they can edit at the moment.  Thank you for your patience and understanding.

[2022-11-15 20:54] gkthiruvathukal commented on #4854
Hi, this is the new track editor, @gkthiruvathukal checking in. I am working to get this and a growing number of track submissions reviewed. Please do bear with me (and JOSS) as there is a bit of a backlog with many of our editors at maximum number of assignments they can edit at the moment.  Thank you for your patience and understanding.

[2022-11-15 20:55] gkthiruvathukal commented on #4920
Hi, this is the new track editor, @gkthiruvathukal checking in. I am working to get this and a growing number of track submissions reviewed. Please do bear with me (and JOSS) as there is a bit of a backlog with many of our editors at maximum number of assignments they can edit at the moment.  Thank you for your patience and understanding.

[2022-11-15 20:55] gkthiruvathukal commented on #4921
Hi, this is the new track editor, @gkthiruvathukal checking in. I am working to get this and a growing number of track submissions reviewed. Please do bear with me (and JOSS) as there is a bit of a backlog with many of our editors at maximum number of assignments they can edit at the moment.  Thank you for your patience and understanding.

[2022-11-15 20:55] gkthiruvathukal commented on #4922
Hi, this is the new track editor, @gkthiruvathukal checking in. I am working to get this and a growing number of track submissions reviewed. Please do bear with me (and JOSS) as there is a bit of a backlog with many of our editors at maximum number of assignments they can edit at the moment.  Thank you for your patience and understanding.

[2022-11-15 20:56] earth-chris commented on #4930
Thank you @gabrieldansereau, I appreciate your feedback. These are critical issues to address, which I will do shortly. I'll report back to this thread again once complete.

@chrisborges, I suspect these issues would limit your reviewing experience, and I might recommend waiting until I address them before providing your review, which should reduce your review burden.

[2022-11-15 20:57] quang-huynh commented on #4937
@sbenthall I have published with John Walter, Nancie Cummings, and Cassidy Peterson in the past 4-5 years but the papers are not related to any work in this submission. Can I continue?

[2022-11-15 21:10] seananderson commented on #4937
@sbenthall Regarding potential conflicts of interest: I have published in the last ~3 years with K. Marshal but on work unrelated to this. I've published with several of the co-authors at ~6 years ago on work related to this paper (ss3sim), but that should be outside the 4-year window. I also have some level of ongoing collaboration with co-authors K. Johnson, I. Taylor, and C. Wetzel but that is

[2022-11-15 21:14] Fei-Tao commented on #4810
@editorialbot assign me as editor

[2022-11-15 21:16] Fei-Tao commented on #4810
Hi @juanmc2005 if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-11-15 21:19] faroit commented on #4921
@arfon @gkthiruvathukal i could edit this. Its within my domain expertise

[2022-11-15 21:21] faroit commented on #4746
@neillu23 please update us on the reviewer proposals. If you need more, we can pause the review process at any time.

[2022-11-15 21:21] faroit commented on #4746
@editorialbot remind @neillu23 in 7 days

[2022-11-15 21:33] Kevin-Mattheus-Moerman commented on #4333
@jonathanHuwP thanks for working on those changes. The version tag remains different (although similar) i.e. `1.5` is not the same as `1.5.0` for many projects. To avoid further delay we will continue to process this for acceptance. However please do edit the ZENODO archive so that the version tag is the same as this reviewed version `1.5.0`.

[2022-11-15 21:33] Kevin-Mattheus-Moerman commented on #4333
@editorialbot accept

[2022-11-15 21:57] masadcv commented on #4532
Many thanks @dataplayer12 for your detailed review and for recommendation to accept.

- Regarding mathematical description, according to JOSS guidelines, we are not allowed to include mathematical description / methodology in paper (as per editor comment here: https://github.com/openjournals/joss-reviews/issues/4532#issuecomment-1195144324).  We have already added mathematical description in docum

[2022-11-15 22:56] editorialbot opened #4938 "[PRE REVIEW]: crosstalkr: an R package for the identification of related nodes in biological networks"
**Submitting author:** @DavisWeaver (<a href="http://orcid.org/0000-0003-3086-497X">Davis Weaver</a>)
**Repository:** https://github.com/DavisWeaver/crosstalkr
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.8.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/8f9180b09b1acec0a8a4201377d6c127

[2022-11-15 23:01] ben-aaron188 commented on #4932
@editorialbot commands

[2022-11-15 23:07] ben-aaron188 commented on #4932
Suggestions for reviewers:

- Gweissman
- mbod
- Kudusch
- gasparl

[2022-11-16 00:27] ideasrule commented on #4873
@MartianColonist I'm actually glad to hear that you're travelling, because I was worried that I was taking too long with the review :)  Thanks for correcting the typo in transmission_terestrial.ipynb.  I can verify that it works now, and so do the other notebooks.

To further test the code, I decided to set up a retrieval on MIRI/LRS data.  I think the retrieval worked well, but the plotting ran i

[2022-11-16 00:39] sgbaird commented on #4931
Sounds good!

[2022-11-16 01:22] kingyin3613 commented on #4841
@Kevin-Mattheus-Moerman Hi there! I was wondering if my software has a newer version, can I choose to use the newer version in the reviewing process?

[2022-11-16 02:44] mattgolub commented on #4892
Hi Elizabeth,

I wish I could participate here, but I have just taken on way too much
recently. I wouldn't be able to give this the attention it deserves. So I
must respectfully decline.

Best,
Matt

--
Matthew Golub, PhD
Assistant Professor
Paul G. Allen School for Computer Science & Engineering
University of Washington
homes.cs.washington.edu/~mgolub

On Wed, Nov 9, 2022 at 5:20 PM Elizabeth DuP

[2022-11-16 06:04] mengqi-z commented on #4805
Hi @mabesa,

I opened several issues regarding the software paper, community guidelines, and functionality. I still have few functions from the package to checkout. But I am getting close to be done with the review. Great work!

[2022-11-16 06:28] Kevin-Mattheus-Moerman commented on #4841
Yes, especially this early in the review process. Once we start, let me know what the version tag to be reviewed should be.

[2022-11-16 07:39] schochastics commented on #4934
I would suggest zpneal and cosimameyer as reviewers

[2022-11-16 08:07] AoifeHughes commented on #4859
Wonderful, thanks reviewers!

@lc09c could you make a tagged release and generate a DOI using a service like [Zenodo](https://zenodo.org/) or [figshare](https://figshare.com/), once we have these then we can progress 😄

[2022-11-16 09:01] meandmytram commented on #4924
@editorialbot generate my checklist

[2022-11-16 10:51] mbarzegary commented on #4902
Hi,

I confirm the quality of the software and the effort the author has put in to develop it. Especially, I enjoyed reading the provided tutorial, which was very well written and was full of external resources and exercises as well as some cool programming tips. However, I believe some minor concerns should be addressed before accepting the submission, elaborated in a couple of issues I have open

[2022-11-16 10:55] xuanxu commented on #4838
@grburgess Friendly reminder.
Please create your checklist with the following command: `@editorialbot generate my checklist`

[2022-11-16 10:55] vissarion commented on #4532
Hi @masadcv I am waiting a) to resolve the comments of @dataplayer12 (seems that only the math description issue missing to finalize the review) and b) for @zhampel that was already started their review.

@zhampel we have already two reviewers that recommend acceptance and we can continue without you unless if you want to finish your already started review. If you are close to finish it we can wai

[2022-11-16 10:57] kavir1698 commented on #4775
Hi @Kevin-Mattheus-Moerman,
Thanks for your feedback. I have incorporated your suggestions in the paper.

[2022-11-16 11:15] Kevin-Mattheus-Moerman commented on #4333
Congratulations on this paper @jonathanHuwP

Thank you @lucydot for editing this work, and special thanks to @CFGrote and @KedoKudo for their review efforts!

[2022-11-16 11:15] #4333 closed

[2022-11-16 12:26] editorialbot opened #4939 "[PRE REVIEW]: RelativisticDynamics.jl: Relativistic Spin-Orbital 1 Dynamics in Julia"
**Submitting author:** @tomkimpson (<a href="http://orcid.org/0000-0002-6542-6032">Tom Kimpson</a>)
**Repository:** https://github.com/tomkimpson/RelativisticDynamics.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.0
**Editor:** @dfm
**Reviewers:** @farr, @duetosymmetry
**Managing EiC:** Dan Foreman-Mackey

## Status

[![status](https://joss.theoj.org/papers/48d52c30fe45ae

[2022-11-16 12:34] dfm commented on #4939
@tomkimpson — Thanks for your submission! Given the relatively small scope of this submission the editorial team will take a look to decide whether or not this meets the [JOSS submission requirements](https://joss.readthedocs.io/en/latest/submitting.html). This normally takes about a week and I'll get back to you ASAP.

If there is any additional context that might help our discussion that is not

[2022-11-16 12:44] chrisborges commented on #4930
@editorialbot generate my checklist

[2022-11-16 12:45] chrisborges commented on #4930
@earth-chris Hey Chris, no problem. Let me know when you have a new version up.

[2022-11-16 12:53] crvernon commented on #4679
:wave:  @kris-rowe  - please let me know if you are able to complete this review soon.  I will need to select an additional reviewer to keep things moving if I don't hear back from you in the next few days.

[2022-11-16 12:55] crvernon commented on #4876
:wave: @samuelduchesne - can you provide an update as to when you will be able to kick off your side of the review?  Please let me know if you are having trouble generating the reviewer checklist.  Best.

[2022-11-16 12:56] crvernon commented on #4807
@editorialbot generate pdf

[2022-11-16 12:59] crvernon commented on #4807
@editorialbot check references

[2022-11-16 13:57] dataplayer12 commented on #4532
@masadcv sorry for not noticing the earlier comment. I have had a look at the description and it provides enough information and references.
@vissarion please consider my earlier comment resolved and the review complete from my end.

[2022-11-16 14:09] samuelduchesne commented on #4876
Thanks @crvernon for the kind reminder. I was going to start the review this week, if not this weekend. I should be able to get this one through quickly since my first tests with the tool have been successful and this looks like a good quality submission overall.

[2022-11-16 14:14] samuelduchesne commented on #4876
@editorialbot generate my checklist

[2022-11-16 14:15] Kevin-Mattheus-Moerman commented on #4775
@kavir1698 all looks good to me now. Thanks for processing those changes. We will proceed now with formal acceptance.

[2022-11-16 14:15] Kevin-Mattheus-Moerman commented on #4775
@editorialbot accept

[2022-11-16 14:17] Kevin-Mattheus-Moerman commented on #4938
@DavisWeaver thanks for this submission to JOSS. I am the AEiC for this track. I have just assigned the `query-scope` label here which triggers a scope review by the editorial board. This is normal for submissions that are on the small side. The scope review, which amongst other things will judge if this passes our "scholarly effort" criteria, will usually be done within two weeks.

[2022-11-16 14:19] Kevin-Mattheus-Moerman commented on #4836
@editorialbot invite @fboehm as editor

[2022-11-16 14:20] Kevin-Mattheus-Moerman commented on #4891
@editorialbot invite @majensen as editor

[2022-11-16 14:21] Kevin-Mattheus-Moerman commented on #4891
@majensen do you think you could handle this work as editor? (if so can you remove the waitlisted label and assign yourself). Thanks

[2022-11-16 14:24] Kevin-Mattheus-Moerman commented on #4901
@SelvamArul it looks like you've ticked all boxes. Let me know if you are formally happy to recommend acceptance at this point. Thanks again for your help!

[2022-11-16 14:30] bmcfee commented on #4878
:wave: Hi all - just checking in for any updates on this one?

[2022-11-16 14:34] crvernon commented on #4876
Sounds great @samuelduchesne !  Thanks for the prompt reply.

[2022-11-16 15:20] arfon commented on #4932
@ben-aaron188 – Thanks for your submission to JOSS. I'm sorry to say that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how to create a permanent archive and DOI for

[2022-11-16 15:20] arfon commented on #4932
@editorialbot reject

[2022-11-16 15:20] #4932 closed

[2022-11-16 15:23] arfon commented on #3496
:wave: folks. Apologies for the stop/start here. Just wrapping this up now.

[2022-11-16 15:26] cwitkowitz commented on #4878
I am currently in the process of completing my review. So far, I have read the software paper, scanned through the repository, and opened up several issues. Issue olivecha/guitarsounds#33 is quite significant, as it prevents experimentation with the GUI. I still need to go through and verify the API functionality and skim through the documentation. After that, I will organize my thoughts/comments

[2022-11-16 15:34] arfon commented on #3496
@editorialbot accept

[2022-11-16 15:36] hugoledoux commented on #4681
@editorialbot generate pdf

[2022-11-16 15:37] Kevin-Mattheus-Moerman commented on #4775
Congratulations @kavir1698 on this JOSS publication!!!!

And thank you @mikldk for editing!

Also a special thank you to @slwu89 and @tijeco for their review efforts!

[2022-11-16 15:37] #4775 closed

[2022-11-16 15:40] dlr-cjs commented on #4796
@fraukewiese : We are on it and will suggest some reviewers next week.

[2022-11-16 15:40] hugoledoux commented on #4681
@gattia yes it's fine, please accept the PR

Can you also fix the DOI, as the error just above shows?

Then we can move on to officially accepting the submission.

[2022-11-16 15:47] fboehm commented on #4836
@Kevin-Mattheus-Moerman - yes, I'm happy to edit this submission.

[2022-11-16 15:47] fboehm commented on #4836
@editorialbot assign me as editor

[2022-11-16 15:47] fboehm commented on #4836
@editorialbot list reviewers

[2022-11-16 15:55] fboehm commented on #4836
@giraola, @Suresh-lab, @AoifeHughes @uellue @caldarolamartin @ziatdinovmax @vigji - would you be willing to review this submission to JOSS? Unlike many reviews, JOSS reviews are checklist-driven. You can read more about the JOSS review process here: https://joss.readthedocs.io/en/latest/review_criteria.html. Thank you for considering this :)

[2022-11-16 16:05] balima78 commented on #4807
@editorialbot generate pdf

[2022-11-16 16:17] arfon commented on #4716
@editorialbot accept

[2022-11-16 16:25] dfm commented on #4475
@alexandergagliano, @sloneil, @Jammy2211 — Hi folks, I wanted to check in here because we're recently switched to a "tracks" model here at JOSS and I'm now the managing editor of the track where this submission has been assigned. It looks like there hasn't been much activity on this review in a while - can you update me on what the status is and if there are any blockers in place that I can help w

[2022-11-16 16:30] editorialbot opened #4940 "[PRE REVIEW]: FuseMedML: a framework for accelerated discovery in machine learning based biomedicine"
**Submitting author:** @alex-golts (<a href="http://orcid.org/0000-0002-1478-3881">Alex Golts</a>)
**Repository:** https://github.com/BiomedSciAI/fuse-med-ml
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** 0.2.8
**Editor:** @jmschrei
**Reviewers:** @anupamajha1, @suragnair
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/4d0c5f077e

[2022-11-16 16:32] Kevin-Mattheus-Moerman commented on #4940
@editorialbot invite @jmschrei as editor

[2022-11-16 16:33] Kevin-Mattheus-Moerman commented on #4940
@jmschrei this sounds like your cup of tea :tea:, are you able to help edit this one? Thanks

[2022-11-16 16:38] Kevin-Mattheus-Moerman commented on #4940
@alex-golts thanks for this submission to JOSS. I am the AEiC for this track and have started looking for a handling editor. While we are waiting for an editor to pick this up, please work on the following:

- [ ] check  those potentially missing DOI's :point_up: , you can call `@editorialbot check references` to check them again, and use `@editorialbot generate pdf` to update the paper draft.
- [

[2022-11-16 17:04] AP6YC commented on #3527
@adi3 I fixed the DOI issue and have created an archived release; checking the DOI now:

@editorialbot check references

[2022-11-16 17:05] AP6YC commented on #3527
@editorialbot check references

[2022-11-16 17:05] gattia commented on #4681
@editorialbot generate pdf

[2022-11-16 17:05] gattia commented on #4681
@editorialbot check references

[2022-11-16 17:07] AP6YC commented on #3527
@adi3 Below is the information that you requested:

- DOI: 10.5281/zenodo.7327501
- Archive link: https://zenodo.org/record/7327501
- Version: v0.6.2

[2022-11-16 17:10] gattia commented on #4681
Thanks @hugoledoux - I merged the requests and updated DOI. Let me know if you need anything else from me.

[2022-11-16 17:36] ideasrule commented on #4873
Aside from the minor issues I mentioned in the last post, I have one major comment and one more minor issue.

**Major comment**: Could you indicate clearly in the article proof, the GitHub README, and the readthedocs home page what the state of support for emission spectroscopy is?  The article proof only mentions transmission spectroscopy, the README doesn't mention either transmission or emissio

[2022-11-16 17:39] arfon commented on #4716
@wcjochem, @becarioprecario – many thanks for your reviews here and to @jbytecode for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@ConnorDonegan – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-11-16 17:39] #4716 closed

[2022-11-16 17:40] arfon commented on #3496
@editorialbot re-accept

[2022-11-16 17:41] arfon commented on #3496
@editorialbot reaccept

[2022-11-16 17:43] vaniisgh commented on #4929
@editorialbot generate my checklist

[2022-11-16 17:50] jmschrei commented on #4940
@editorialbot assign me as editor

[2022-11-16 17:50] jmschrei commented on #4940
I'll start finding reviewers after those two issues are resolved.

[2022-11-16 17:53] MartianColonist commented on #4873
@ideasrule emission spectra are a beta feature added post JOSS submission while I was waiting for an editor to be assigned. It is considered a beta feature because there is not currently a methods paper describing the forward model in the literature. I will add clear statements to the next paper and documentation update.

Yes, docstrings for visuals.py are on the to-do list. Thanks!

[2022-11-16 17:54] arfon commented on #3496
@ha0ye, @jacobsoj, @jessie-dotson – many thanks for your reviews here and to @sbenthall for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@Natsiopoulos – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-11-16 17:54] #3496 closed

[2022-11-16 17:56] editorialbot opened #4941 "[PRE REVIEW]: ALNS: a Python implementation of the adaptive large neighbourhood search metaheuristic"
**Submitting author:** @N-Wouda (<a href="http://orcid.org/0000-0003-2463-0309">Niels Wouda</a>)
**Repository:** https://github.com/N-Wouda/ALNS
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v5.0.0
**Editor:** @hugoledoux
**Reviewers:** @skadio
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/a13fa61f6c92d09905eddbf0f2c82830/status.sv

[2022-11-16 18:43] richteague commented on #4863
@editorialbot generate my checklist

[2022-11-16 19:01] elbeejay commented on #4771
@skiptoniam I wanted to follow up here and ask: how are the revisions coming along?

[2022-11-16 19:35] N-Wouda commented on #4941
Hello,

Based on the list of topics and languages in the joss_reviewers document, I think any of the following reviewers are most suitable:

- jdreo
- torressa
- skadio
- Hanyu0814

Best,
Niels

[2022-11-16 19:43] torressa commented on #4823
Hi, @FabianHofmann.

Sorry for the delay, I want to get the ball rolling on this one so this is my first pass on the review. I will come back with more once I find more time.

Really enjoyed looking through this, nicely written code and easy to follow.

I have mostly minor comments/things I'd like to see. Feel free to provide arguments why my comments are not needed/appropriate.

### Benchmarks

[2022-11-16 19:51] nicoguaro commented on #4900
@editorialbot generate my checklist

[2022-11-16 20:05] N-Wouda commented on #4941
@editorialbot commands

[2022-11-16 20:19] richteague commented on #4863
Hi @tomhilder! I've managed to successfully install and run `Wakeflow`. It's a very nice package! Just a few things which I've noticed as I've been working my way through the documentation:

1. The testing requires `pytest-cov`, which @andizq has already mentioned https://github.com/TomHilder/wakeflow/issues/10.

2. In the Quickstart Tutorial documentation, there's a few typos when talking about t

[2022-11-16 20:31] richteague commented on #4863
To add to these comments, for the paper I'd recommend to expand the Summary section to be a bit more explicit about what properties about the wake you're able to extract (e.g., the velocity components and rho), and then say that this is how we can connect with observations as those are what are being observed.

[2022-11-16 21:59] alexrockhill commented on #4929
@editorialbot generate my checklist

[2022-11-16 22:41] mkhorton commented on #4817
Hi @rkurchin, I've finished my review. This is an excellent, high-quality code, well-motivated and well-documented--I think it's an exemplar for the community, and I would be happy to recommend publication in JOSS.

In terms of the reproducibility checkbox for the data presented in the paper, for full reproducibility, I would have to re-run the DFT calculations myself, but I don't think this is re

[2022-11-16 22:55] majensen commented on #4891
@editorialbot assign me as editor

[2022-11-16 23:03] jmmshn commented on #4817
Thanks, @mkhorton, we have been talking already and I'm super interested in incorporating this into the defects workflow in atomate2.

[2022-11-16 23:35] Natsiopoulos commented on #3496
@ha0ye @jacobsoj @jessie-dotson @arfon @oliviaguest - Thank you all for reviewing, editing, and helping with the whole process.

[2022-11-16 23:48] tomkimpson commented on #4939
Thanks @dfm . I appreciate the submission is quite concise, but I believe it fulfils the submission criteria, being research software that has been/will be used for academic papers. Additional context and detail is outlined in the paper.

Whilst the commit history is relatively short, this is on account of a previous, personal, unpublished, prototype Fortran code that uses some of the same concept

[2022-11-17 01:15] alexandergagliano commented on #4475
@Jammy2211 has addressed all my comments, I'm totally on board with this moving forward!

[2022-11-17 02:49] SelvamArul commented on #4901
@Kevin-Mattheus-Moerman Yes, I would like to recommend the acceptance of this article.

[2022-11-17 03:52] suresh-lab commented on #4836
Sure, I'll review it.

K

From: Frederick Boehm ***@***.***>
Sent: Wednesday, November 16, 2022 10:55 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Karthik Suresh ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: InspectorCell: Finding Ground Truth in Multiplexed Microscopy Images (Issue #4836)

      External Email - Use Caution

@giraola<https://nam02.

[2022-11-17 06:03] AlexCaseiro1979 commented on #4917
Hello, thanks for reaching out.
I do not really know what is well put software, nor what sizeable scholarly
effort is besides the amount of hours spent on that project.
It is a pity the paper was not picked up, as I know from the users of the
package that it is very useful to modellers in the air quality modelling
industry.
Best regards
Alex Caseiro

On Tue, 15 Nov 2022 at 16:18, Kristen Thyng ***

[2022-11-17 06:30] hugoledoux commented on #4681
We're nearly there. At this point could you:
- [ ] Accept this PR fixing 2-3 small things: https://github.com/siavashk/pycpd/pull/78
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) ha

[2022-11-17 08:03] fabian-s commented on #4773
@editorialbot generate pdf

[2022-11-17 08:07] corentin-dev commented on #4365
@editorialbot set master as branch

[2022-11-17 08:07] corentin-dev commented on #4365
@editorialbot generate pdf

[2022-11-17 08:09] corentin-dev commented on #4365
@editorialbot check repository

[2022-11-17 08:14] alex-golts commented on #4940
@editorialbot check references

[2022-11-17 08:17] alex-golts commented on #4940
@editorialbot check references

[2022-11-17 08:17] alex-golts commented on #4940
@editorialbot generate pdf

[2022-11-17 08:22] alex-golts commented on #4940
done, thank you!

[2022-11-17 08:34] oliviaguest commented on #4934
@sbenthall do you think you can edit this? 😊

[2022-11-17 08:35] oliviaguest commented on #4933
@martinfleis do you think you can edit this? 😊

[2022-11-17 08:38] martinfleis commented on #4933
@editorialbot assign me as editor

@oliviaguest Yes, happy to.

[2022-11-17 08:40] Nikoleta-v3 commented on #4711
Hey @MikeLydeamore & @mstimberg  would either of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "APGG - A Modular C++ Framework for Asymmetric Public Goods Games".
I realise that this submissio

[2022-11-17 08:48] oliviaguest commented on #4600
@jagnobli @xi I made some edits, please take a look, and thank you for your patience! ☺️

[2022-11-17 08:48] oliviaguest commented on #4600
@editorialbot generate pdf

[2022-11-17 08:48] luyuhao0326 commented on #4664
@hugoledoux I am not sure what to fix for the DOIs. I tested them out by copying and pasting the links to my browser and all the links took me to the article that I was citing. I did notice some of them were just a URL while others are DOIs. Could that be causing the issue?  Sorry if it is an amateur mistake.

[2022-11-17 08:48] oliviaguest commented on #4600
@editorialbot check references

[2022-11-17 08:57] hugoledoux commented on #4664
so you don't store DOI but URL, and only the numbers need to be there, without the `http://doi.org/` part.

As an example, [this line](https://github.com/UrbanRuralSystems/ur-scape/blob/paper/Paper/paper.bib#L19) should be:
[code]

[2022-11-17 08:58] ivastar commented on #4687
@editorialbot add @adeleplunkett as reviewer

[2022-11-17 08:59] ivastar commented on #4687
@editorialbot add @jeffjennnings as reviewer

[2022-11-17 08:59] ivastar commented on #4687
@editorialbot start review

[2022-11-17 08:59] editorialbot opened #4942 "[REVIEW]: SIMIO-continuum: Connecting simulations to interferometric observations"
**Submitting author:** @nicokurtovic (<a href="http://orcid.org/0000-0002-2358-4796">Nicolas Kurtovic</a>)
**Repository:** https://github.com/nicokurtovic/SIMIO
**Branch with paper.md** (empty if default branch): main
**Version:** 1.2
**Editor:** @ivastar
**Reviewers:** @adeleplunkett, @jeffjennings
**Archive:** 10.5281/zenodo.10879411

## Status

[![status](https://joss.theoj.org/papers/99967c47b

[2022-11-17 09:02] uellue commented on #4836
It looks a bit outside my area of expertise to review competently. Sounds like a nice project, though!

[2022-11-17 09:08] luyuhao0326 commented on #4664
@editorialbot check references

[2022-11-17 09:08] ivastar commented on #4687
@editorialbot add @jeffjennings as reviewer

[2022-11-17 09:09] AoifeHughes commented on #4836
Sorry @fboehm, hands currently full with managing editor stuff - if you're still looking for people on Monday let me know, I could maybe squeeze it in if you're really stuck for reviewers.

[2022-11-17 09:12] #4687 closed

[2022-11-17 09:13] ivastar commented on #4942
@editorialbot assign @jeffjennings as reviewer

[2022-11-17 09:13] luyuhao0326 commented on #4664
@editorialbot check references

[2022-11-17 09:14] ivastar commented on #4942
@editorialbot add @jeffjennings as reviewer

[2022-11-17 09:16] luyuhao0326 commented on #4664
@editorialbot check references

[2022-11-17 09:23] tibordome commented on #4626
Thanks @adonath for the update.

[2022-11-17 09:25] jagnobli commented on #4600
@oliviaguest thanks for your edits :)
They really are appreciated enhancements.

[2022-11-17 09:30] luyuhao0326 commented on #4664
@editorialbot check references

[2022-11-17 09:43] danielemelini commented on #4923
Hi @jedbrown
REAR is aimed at modeling the deformation cauded by surface loads in cases where that response is purely elastic; these may include, for instance, the response to present-day melting of continental ice sheets on a decadal timescale (see e.g. https://doi.org/10.1111/j.1365-246X.2012.05443.x) or to the seasonal variation of hydrologic loads (e.g. aquifers or lakes, see https://doi.org/1

[2022-11-17 09:46] luyuhao0326 commented on #4664
@editorialbot check references

[2022-11-17 11:28] balima78 commented on #4807
@crvernon, thanks for your insigths.
I corrected all itens but the one about ABO, because it is not an acronym (https://www.ncbi.nlm.nih.gov/books/NBK2267/)

[2022-11-17 11:35] Kevin-Mattheus-Moerman commented on #4940
@jmschrei looks good to me now.

[2022-11-17 11:49] giraola commented on #4836
Sorry @fboehm, I’m currently ooo until Nov 22.

On Thu, 17 Nov 2022 at 04:10 Aoife Hughes ***@***.***> wrote:

--
-------------------------------------------------
*Gregorio Iraola, Ph.D.                         *

Group Leader
Microbial Genomics Lab <http://iraola-lab.com>
Institut Pasteur Montevideo
Mataojo 2020, Montevideo, Uruguay

International Fellow
<https://www.sanger.ac.uk/people/faculty/

[2022-11-17 14:03] DavisWeaver commented on #4938
Sounds good! Thanks for keeping me in the loop. I certainly hope two years
of work isn't deemed to be not enough "scholarly effort". Let me know if
you have any questions!

Davis

On Wed, Nov 16, 2022 at 9:17 AM Kevin Mattheus Moerman <
***@***.***> wrote:

[2022-11-17 14:03] ivastar commented on #4942
@editorialbot remove @jeffjennnings as reviewer

[2022-11-17 14:10] rkurchin commented on #4817
Thanks so much @mkhorton for your review and thoughtful comments!

Pinging @obaica again for review progress...

[2022-11-17 14:11] rkurchin commented on #4862
Thanks for getting started, @aliusdragonfly – reminder that as you work through the checklist, you can feel free to file issues in the source repository, please link back to this issue for easy tracking (though I'm not actually sure if the tracking will work as well between GitHub and GitLab 🤷‍♀️).

@ziatdinovmax, checking in with you as well...

[2022-11-17 14:14] rkurchin commented on #4925
No problem, @xwang862, thanks for letting me know. @hongzhouye, if you're available, we'd be happy to have you as a reviewer!

[2022-11-17 14:18] jeffjennings commented on #4942
@editorialbot generate my checklist

[2022-11-17 14:28] rkurchin commented on #4925
👋 @agoyal06, hope your new job is treating you well! Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-11-17 14:32] dhhagan commented on #4412
@editorialbot  invite @emmasimp as reviewer

[2022-11-17 14:42] NRaillard commented on #4366
Following @marcosvital suggestion, I used sphinx-gallery to generate examples within the documentation. I agree that it is far more clear for the user.
The updated documentation is already [online](https://resourcecode.gitlab-pages.ifremer.fr/resourcecode/auto_examples/index.html). Let me know if it answers your concerns.

[2022-11-17 14:50] cwmeijer commented on #4493
@diehlpk For various reasons, we have some discrepancy between the list of authors for our current version of the software and the list of authors for the paper, as both the time frames and type work for these 2 works don't fully overlap. Are they required to match? We were not aware of any such requirement. Could you please elaborate?

[2022-11-17 15:14] mabesa commented on #4805
@editorialbot generate pdf

[2022-11-17 15:19] mabesa commented on #4805
@editorialbot generate pdf

[2022-11-17 15:30] hkaspersen commented on #4677
@rcannood thank you so much for your kind words! Your comments were indeed helpful, and I learned a lot!
Just to inform: I bumped the version of the pipeline to 2.0.1. This was due to the addition of the core gene and mapping track tests. Now all three tracks are run when i push to `dev`

[2022-11-17 15:38] kthyng commented on #4917
@AlexCaseiro1979 I encourage you to read through the docs I linked in my comment to learn more, and as stated there are other ways to get your code out there and recognized with a DOI. If you do end up substantially developing the software over time and think at a future point it fits in scope according to JOSS guidelines, please feel free to submit it again at that point and link back to this iss

[2022-11-17 15:49] mabesa commented on #4805
@editorialbot generate pdf

[2022-11-17 16:02] mabesa commented on #4805
Dear @mengqi-z, thank you very much for your critical review! I addressed the issues and am now updating the README in the main repository to include the suggestions you've made for the paper.

@crvernon, @tonyewong and @mengqi-z I acknowledged your input in the README but I would like to acknowledge your input in the paper as well. Should I use your github user names?

Sorry to all for the multip

[2022-11-17 16:17] fboehm commented on #4836
Thanks for the replies, @giraola, @AoifeHughes @uellue and @suresh-lab. @suresh-lab - I'll add you as a reviewer in a moment. Once we find a second reviewer, we can officially start the review. Thanks so much!

[2022-11-17 16:18] fboehm commented on #4836
@editorialbot assign @suresh-lab as reviewer

[2022-11-17 16:18] fboehm commented on #4836
@editorialbot commands

[2022-11-17 16:19] fboehm commented on #4836
@editorialbot add @suresh-lab as reviewer

[2022-11-17 16:29] elboyran commented on #4493
@diehlpk what is the reason for this requirement? It does not feel right to include people who  haven't contributed a single line of code  to the software, but had very useful remarks on using the software for a real use case or had useful paper text proof reading and suggestions as well as some of the project management? Also, the paper had been written a while ago when there was a set of develop

[2022-11-17 17:04] mcasl commented on #4611
I still fail to see any advance in some of the topics that I previously mentioned:
-  A statement of need: There's no statement of need in the documentation, only in the paper.
- Installation instructions: There is no list of dependencies
- Functionality documentation: No guidelines, ..., have been added yet.

[2022-11-17 17:41] jmschrei commented on #4940
@editorialbot add anupamajha1 as reviewer

[2022-11-17 17:42] jmschrei commented on #4940
@editorialbot add @anupamajha1 as reviewer

[2022-11-17 17:58] mengqi-z commented on #4805
Hi @mabesa,

Thank you for addressing all the issues. FYI, I put some additional comments on your updated paper in the closed issue. Just want to mention it here in case you don't receive the notification since the issue is already closed.

[2022-11-17 18:01] cjbarrie commented on #4880
@editorialbot generate my checklist

[2022-11-17 18:05] britta-wstnr commented on #4856
@kasasxav awesome! Thank you so much - I will ping you again once we start the reviewing process.

@kerkelae - I understand, thanks for getting back to me!

[2022-11-17 18:09] mabesa commented on #4805
@editorialbot generate pdf

[2022-11-17 18:29] quynhneo commented on #3736
I have completed my review and have no further comments. I applaud the authors for continuing efforts. Thanks

[2022-11-17 18:32] jmschrei commented on #4940
@editorialbot add @suragnair as reviewer

[2022-11-17 18:32] jmschrei commented on #4940
@editorialbot start review

[2022-11-17 18:32] editorialbot opened #4943 "[REVIEW]: FuseMedML: a framework for accelerated discovery in machine learning based biomedicine"
**Submitting author:** @alex-golts (<a href="http://orcid.org/0000-0002-1478-3881">Alex Golts</a>)
**Repository:** https://github.com/BiomedSciAI/fuse-med-ml
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** 0.2.9
**Editor:** @jmschrei
**Reviewers:** @anupamajha1, @suragnair
**Archive:** 10.5281/zenodo.7346694

## Status

[![status](https://joss.theoj.org/papers/4d0c5f077

[2022-11-17 18:32] #4940 closed

[2022-11-17 18:37] jmschrei commented on #4943
Howdy @anupamajha1 and @suragnair!

Thanks for agreeing to review this submission.

The process for conducting a review is outlined above. Please run the command shown above to have @editorialbot generate your checklist, which will give a step-by-step process for conducting your review. Please check the boxes during your review to keep track, as well as make comments in this thread or open issues

[2022-11-17 19:00] britta-wstnr commented on #4856
@Rocsg I would like to invite another reviewer with a special focus on MRI analysis or methods (i.e. someone who can provide the user perspective), do you happen to have any suggestions?

[2022-11-17 19:01] lc09c commented on #4859
Hello,

So if I understood correctly I should just upload the whole repository content on Zenodo (for example) and tell you the DOI I get, right?

[2022-11-17 19:07] AoifeHughes commented on #4859
@lc09c, Correct. Also, please let me know if the version number has changed from what is written in the first comment of this issue.

[2022-11-17 19:13] gkthiruvathukal commented on #4854
@editorialbot commands

[2022-11-17 19:15] gkthiruvathukal commented on #4854
@editorialbot invite @jbytecode as editor

[2022-11-17 19:38] claresinger commented on #4412
@dhhagan can you please try again? I think the correct command is `add` not `invite`

[2022-11-17 22:11] dshean commented on #4700
Hi @kthyng.  Any word from @jreadey?  I think he may be deep into the dev side, and may not be able to prioritize reviewing a submission like this.
Maybe time to ping others on the list?  I'm still hopeful that we can turn around revisions before end of 2022.  Thanks!

[2022-11-17 22:29] kthyng commented on #4700
@dshean yep I meant to get back to this

[2022-11-17 22:30] kthyng commented on #4700
Hi @betolink! Would you be willing to review this submission for JOSS? The submission under consideration is SlideRule, a toolset for researchers leveraging the NASA ICESat-2 mission.

The review process at JOSS is unique: it takes place in a GitHub issue, is open, and author-reviewer-editor conversations are encouraged. You can learn more about the process in these guidelines: https://joss.readth

[2022-11-17 22:55] luyuhao0326 commented on #4664
@editorialbot check references

[2022-11-18 00:14] ebezzam commented on #4878
Hi I've just pulled the repo and ran the unit tests. I have another deadline wrapping up this Friday and should be able to finish the review by the end of next week.

[2022-11-18 00:23] kyleniemeyer commented on #4694
Hi @SotaYoshida, I made a small fix to the `.bib` file, could you merge that? https://github.com/SotaYoshida/NuclearToolkit.jl/pull/63

[2022-11-18 01:08] luyuhao0326 commented on #4664
@editorialbot check references

[2022-11-18 01:16] luyuhao0326 commented on #4664
@editorialbot check references

[2022-11-18 01:21] luyuhao0326 commented on #4664
@hugoledoux References are now fixed.

[2022-11-18 01:28] danielskatz commented on #4941
👋 @N-Wouda - I'm the track editor for this submission, and I'll start working on it in a few days, looking at it in detail and then finding an appropriate editor.

[2022-11-18 01:34] SotaYoshida commented on #4694
Hi @kyleniemeyer. Thank you for your modifications.
I have merged your pull request.

[2022-11-18 05:27] skiptoniam commented on #4771
@elbeejay I've started them. I hope to have them finished by next week. I hope that is ok.

[2022-11-18 07:52] jbytecode commented on #4854
@editorialbot assign me as editor

[2022-11-18 07:53] jbytecode commented on #4854
@editorialbot check references

[2022-11-18 07:55] jbytecode commented on #4854
@editorialbot generate pdf

[2022-11-18 08:16] jbytecode commented on #4854
👋👋👋 Dear @msalibian and @mingzehuang    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**robnptests -- An R package for robust two-sample location and variability tests**". You can find more information at the top of t

[2022-11-18 08:35] mingzehuang commented on #4854
Hi @jbytecode , I'm happy to review it:)

[2022-11-18 08:38] jbytecode commented on #4854
@editorialbot add @mingzehuang as reviewers

@mingzehuang - Please keep in touch. Whenever we assign a second reviewer, we will start the review in a separate thread. Thank you for accepting our invitation.

[2022-11-18 08:38] jbytecode commented on #4854
@editorialbot add @mingzehuang as reviewer

[2022-11-18 09:08] mstimberg commented on #4711
@Nikoleta-v3 This topic is indeed quite far outside my field of expertise, but if you are happy with a general review of the software/documentation/etc., I'd be happy to help.

[2022-11-18 09:52] dunnkers commented on #4611
Hi @mcasl! Thanks for the feedback.

See below a response to each of your points 🙂:

## Statement of need

✓ Added in:
- https://github.com/dunnkers/fseval/pull/92 (see [website](https://dunnkers.com/fseval/docs/motivation/#statement-of-need))

## Dependency list

The checklist says the following:

Saying; the dependencies should _ideally_ be handled by an automated package management solution. Th

[2022-11-18 11:34] Nikoleta-v3 commented on #4711
That's perfect 🥳  thank you! 🙏🏻

[2022-11-18 11:34] Kevin-Mattheus-Moerman commented on #4841
@editorialbot add @mahtab-vafaee as reviewer

[2022-11-18 11:36] Nikoleta-v3 commented on #4711
@editorialbot add @mstimberg as reviewer

[2022-11-18 11:36] Kevin-Mattheus-Moerman commented on #4841
( @mahtab-vafaee is a PhD student in the group of Dr Ted Vaughan at the University of Galway, who do research on trabecular bone lattice architectures. )

[2022-11-18 11:36] Nikoleta-v3 commented on #4711
@editorialbot start review

[2022-11-18 11:36] editorialbot opened #4944 "[REVIEW]: APGG - A Modular C++ Framework for Asymmetric Public Goods Games"
**Submitting author:** @jhstaudacher (<a href="http://orcid.org/0000-0002-0619-4606">Jochen Staudacher</a>)
**Repository:** https://github.com/APGG-Lab/APGG
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.2
**Editor:** @Nikoleta-v3
**Reviewers:** @ieyjzhou, @mstimberg
**Archive:** 10.5281/zenodo.8334926

## Status

[![status](https://joss.theoj.org/papers/4558a91d3a77910764ab

[2022-11-18 11:36] #4711 closed

[2022-11-18 11:36] Kevin-Mattheus-Moerman commented on #4841
@editorialbot start review

[2022-11-18 11:37] editorialbot opened #4945 "[REVIEW]: RingsPy: A Python package for Voronoi mesh generation of cellular solids with radial growth pattern"
**Submitting author:** @kingyin3613 (<a href="http://orcid.org/0000-0003-4921-9786">Hao Yin</a>)
**Repository:** https://github.com/kingyin3613/RingsPy
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.2
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @niallmadden, @mahtab-vafaee
**Archive:** 10.5281/zenodo.7703344

## Status

[![status](https://joss.theoj.org/papers/3dd05ca

[2022-11-18 11:37] #4841 closed

[2022-11-18 11:38] Kevin-Mattheus-Moerman commented on #4945
@niallmadden, @yg42, @mahtab-vafaee thanks for agreeing to review this work for JOSS!!!!!!!!! This is where the review takes place which you may now commence. You can comment `@editorialbot generate my checklist` here to generate your checklist which will guide you through the review process. There is more information at the top of this issue :point_up: as well. Let me know if you have any questio

[2022-11-18 11:40] editorialbot opened #4946 "[PRE REVIEW]: Wicksell-py: A Python integration for the corpuscle problem"
**Submitting author:** @DorianDepriester (<a href="http://orcid.org/0000-0002-2881-8942">Dorian Depriester</a>)
**Repository:** https://github.com/DorianDepriester/Wicksell-py
**Branch with paper.md** (empty if default branch):
**Version:** v2.0.2
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/42426dc761376842e72df

[2022-11-18 11:43] Nikoleta-v3 commented on #4944
@jhstaudacher, you might recall that [sylvaticus](https://github.com/sylvaticus) , even though they could not review the submission, left some useful suggestion/comments on https://github.com/openjournals/joss-reviews/issues/4711#issuecomment-1319729427. I am not sure if you have addressed these. Just in case I am pasting them here:

Just a few comments/suggestions to the author package jhstaudach

[2022-11-18 12:07] Kevin-Mattheus-Moerman commented on #4946
@DorianDepriester Thanks for this submission. I have reviewed the paper and the software repository. Unfortunately this work is not deemed in scope for JOSS. The core reason is this project's small size, both in terms of actual lines of code, and in terms of the functionality contained in it. As such this submission does not pass our [substantial scholarly effort criteria](https://joss.readthedocs

[2022-11-18 12:07] Kevin-Mattheus-Moerman commented on #4946
@editorialbot reject

[2022-11-18 12:17] lpantano commented on #4363
@cagret, I am taking care of the last three @swatimanekar's items were unchecked. The statement of need is there. I went over the documentation. In the readme file, there is something missing here:

Last thing, can you add to the readme an example of the output. With that I think I can check that part and proceed with publication. Thanks

[2022-11-18 12:48] mcasl commented on #4611
Thank you @dunnkers for the updates.
I'm satisfied with the changes.
Now the proposal has met all the requirements specified in the checklist.
Good job!

[2022-11-18 12:49] mcasl commented on #4611
@diehlpk All items in my checklist are ok

[2022-11-18 12:59] hugoledoux commented on #4664
@editorialbot generate pdf

[2022-11-18 13:01] crvernon commented on #4807
@editorialbot generate pdf

[2022-11-18 13:13] hugoledoux commented on #4664
@openjournals/sbcs-eics the DOIs have been fixed and thus the formal acceptance can be done. I imagine this doesn't necessitate a new DOI/version since it was just removing the `http://doi.org/` from the `.bib`? If it does, let us know here.

[2022-11-18 13:43] martinlackner commented on #4880
Hi Christoper!
Thanks for your feedback!

- community guidelines: I will set up a brief text. There is not much to say, since this is a rather small project.
- license: abcvoting uses the [MIT license](https://github.com/martinlackner/abcvoting/blob/master/LICENSE).
- authorship: I also thought about that. Let me briefly sketch the situation: there are in total 9 people (including me) who contribu

[2022-11-18 13:43] elbeejay commented on #4771
Sounds good @skiptoniam, had just been poking around the repository and didn't see any recent activity so I was getting worried.

[2022-11-18 13:46] crvernon commented on #4807
@balima78 please see the PR above for some additional minor paper edits.

[2022-11-18 13:53] crvernon commented on #4807
@balima78 after we confirm that the above compiles in a way that suits you and the changes are brought into your `main` branch, we can move on to setting up the archive for a new release:

- We want to make sure the archival has the correct metadata that JOSS requires. This includes a title that matches the paper title and a correct author list.

So here is what we have left to do after the most r

[2022-11-18 14:47] yg42 commented on #4945
@editorialbot generate my checklist

[2022-11-18 15:16] msalibian commented on #4854
Good morning @jbytecode. Sure, I'll help.

[2022-11-18 15:21] jbytecode commented on #4854
@editorialbot add @msalibian as reviewer

[2022-11-18 15:21] jbytecode commented on #4854
@editorialbot start review

[2022-11-18 15:21] editorialbot opened #4947 "[REVIEW]: robnptests -- An R package for robust two-sample location and variability tests"
**Submitting author:** @s-abbas (<a href="http://orcid.org/0000-0001-9162-9792">Sermad Abbas</a>)
**Repository:** https://github.com/s-abbas/robnptests
**Branch with paper.md** (empty if default branch): develop
**Version:** v1.1.0
**Editor:** @jbytecode
**Reviewers:** @mingzehuang, @msalibian
**Archive:** 10.5281/zenodo.7641636

## Status

[![status](https://joss.theoj.org/papers/99e34c8684571998

[2022-11-18 15:21] #4854 closed

[2022-11-18 15:25] jbytecode commented on #4947
Dear @mingzehuang and @msalibian

This is the review thread. Firstly, type

[code]

to generate your own checklist. In that checklist, there are 21 check items. Whenever you complete the corresponding task, you can check off them.

Please write your comments as separate posts and do not modify your checklist descriptions.

The review process is interactive so you can always interact with the autho

[2022-11-18 15:37] betolink commented on #4700
Hi @kthyng, thanks for the invitation, I can help with the review but I'm busy until the 28th, is there a deadline for submission?

[2022-11-18 15:45] kthyng commented on #4700
@betolink Thanks for your response! There isn't a specific deadline — the 28th would work for us, with the goal that between you and @jhkennedy we can get the reviews underway then in the next two weeks and hopefully finished in the couple of weeks after that, depending on the level of changes necessary.

If you agree, I will add you as a reviewer and get the review issue started!

[2022-11-18 16:29] diehlpk commented on #4493
@elboyran Please find below the definition for authorship

[2022-11-18 16:32] arfon commented on #4934
@editorialbot invite @sbenthall as editor (@oliviaguest – this sends @sbenthall an email-based ping too 😄)

[2022-11-18 16:32] diehlpk commented on #4611
@editorialbot check references

[2022-11-18 16:33] diehlpk commented on #4611
@editorialbot generate pdf

[2022-11-18 16:33] tmigot commented on #4736
The role of NLPModels.jl is to define an API that users and solvers can rely on. It is the role of other packages to implement facilities that create models compliant with the NLPModels API. There are several examples of this in JSO: AMPLNLReader allows users to connect the AMPL modeling language with NLPModels, CUTEst does the same for the SIF language, NLPModelsJuMP does the same with JuMP model

[2022-11-18 16:36] arfon commented on #4934
@editorialbot invite @sbenthall as editor

[2022-11-18 16:37] diehlpk commented on #4493
@elboyran We see the paper and the archive as the same item. It’s essentially a statement that authorship can appear in other ways, that include things other than literal code contributions, and the Zenodo archive (aka, list of contributors) should reflect that as well. If you disagree, I can start a discussion with the editorial board about the topic.

[2022-11-18 16:39] arfon commented on #3431
:wave: folks. Just checking in here. What's next to move this submission forward?

[2022-11-18 16:39] fboehm commented on #4836
@cinnetcrash @vinisalazar @jwdebelius @sganesh5 @jonatanalvelid @kapsakcj - would you be willing to review this submission to JOSS?

Unlike many reviews, JOSS reviews are checklist-driven. You can read more about the JOSS review process here: https://joss.readthedocs.io/en/latest/review_criteria.html. Thank you for considering this.

[2022-11-18 16:41] arfon commented on #4664
@editorialbot recommend-accept

[2022-11-18 16:44] fboehm commented on #4836
Please feel free to reply in the thread if you can review. Thanks again!

[2022-11-18 16:45] fboehm commented on #4836
@cinnetcrash - are you saying that you're available to review this submission? Please reply in the thread. Thanks again!

[2022-11-18 16:51] martinfleis commented on #4880
This is what our guide tells about authorship:

Given the distribution of commits to the package, I would potentially consider adding _lumbric_ and _benjaminkrenn_ but will not oppose if you decide to keep it as it is now.

[2022-11-18 16:53] arfon commented on #4664
@luyuhao0326 – I found a few typos in your paper. Could you please merge this PR? https://github.com/UrbanRuralSystems/ur-scape/pull/13

[2022-11-18 16:55] cinnetcrash commented on #4836
@fboehm Yes, absolutely. Sorry I was not able to write. Thank you gor taking it forward. Cheers

[2022-11-18 16:57] editorialbot opened #4948 "[PRE REVIEW]: DL_Track: a python package to analyse muscle ultrasonography images"
**Submitting author:** @PaulRitsche (<a href="http://orcid.org/0000-0001-9446-7872">Paul Ritsche</a>)
**Repository:** https://github.com/PaulRitsche/DLTrack
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @deepakri201, @GiacomoValliPhD
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/6

[2022-11-18 16:58] kingyin3613 commented on #4945
Dear all, thanks for agreeing to review my paper! May I request, to review version v0.3.4 (latest version) of RingsPy? In that version, I attached a few new functionalities including saving/reading generated Voronoi cell nuclei, etc. I appreciate that in advance! (@Kevin-Mattheus-Moerman what else should I do in order to update the software version in the reviewing process?)

[2022-11-18 17:05] diehlpk commented on #4611
@dunnkers please fix the missing and invalid DOIs.

[2022-11-18 17:13] fboehm commented on #4836
Cool! Thanks, @cinnetcrash! I'll add you as a reviewer now. We can then start the review.

[2022-11-18 17:13] fboehm commented on #4836
@editorialbot add @cinnetcrash as reviewer

[2022-11-18 17:13] fboehm commented on #4836
@editorialbot start review

[2022-11-18 17:13] editorialbot opened #4949 "[REVIEW]: InspectorCell: Finding Ground Truth in Multiplexed Microscopy Images"
**Submitting author:** @AndreGosselink (<a href="http://orcid.org/0000-0003-0181-456X">Andre Gosselink</a>)
**Repository:** https://gitlab.com/InspectorCell/inspectorcell
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** 0.3.1-zenodo
**Editor:** @fboehm
**Reviewers:** @suresh-lab, @cinnetcrash
**Archive:** 10.5281/zenodo.7434875

## Status

[![status](https://joss.theoj.o

[2022-11-18 17:13] #4836 closed

[2022-11-18 17:37] diehlpk commented on #4843
Hi @ansgarwenzel please let us know how your review is going?

[2022-11-18 17:44] suresh-lab commented on #4949
@editorialbot generate my checklist

[2022-11-18 17:48] webbjj commented on #4483
Hello all. I believe I am caught up with all of @lwang-astro and @rieder 's comments. However please let me know if you are waiting on me for something.

[2022-11-18 18:33] jmejia8 commented on #4736
Regarding the responses from @tmigot and my review of the source code, I've found significant contributions to the mathematical programming community to solve such complicated problems. Finding a suitable way to model nonlinear programming problems with PDE constraints is, for me, a worthwhile research software.

@tmigot - The clarification you made on the PDENLPModels API could be useful to have

[2022-11-18 18:36] jbytecode commented on #4736
@jmejia8 - thank you for your thoughts.

@HaoZeke - I would also like to hear your thoughts on the arguments of our author.

Thank you in advance.

[2022-11-18 19:31] kyleniemeyer commented on #4694
@editorialbot generate pdf

[2022-11-18 19:33] kyleniemeyer commented on #4694
@editorialbot accept

[2022-11-18 19:47] kyleniemeyer commented on #4694
Congratulations @SotaYoshida on your article's publication in JOSS!

Many thanks to @mdavezac and @villaa for reviewing this submission, and @rkurchin for editing.

[2022-11-18 19:47] #4694 closed

[2022-11-18 20:26] editorialbot opened #4950 "[PRE REVIEW]: discourseGT: An R package to analyze discourse networks in educational contexts"
**Submitting author:** @q1cui (<a href="http://orcid.org/0000-0002-3034-1143">Qi Cui</a>)
**Repository:** https://github.com/q1cui/discourseGT
**Branch with paper.md** (empty if default branch):
**Version:** 1.1.8
**Editor:** @marcosvital
**Reviewers:** @schochastics, @zoometh, @lebebr01
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/a314249ea3e4590c441d42546220

[2022-11-18 20:49] dunnkers commented on #4611
@editorialbot generate pdf

[2022-11-18 20:52] dunnkers commented on #4611
@editorialbot check references

[2022-11-18 20:58] dunnkers commented on #4611
@editorialbot check references

[2022-11-18 21:01] dunnkers commented on #4611
References now ok 👍🏻

[2022-11-18 21:59] marekborowiec commented on #4193
@Bisaloo Super slammed but I will try to take a look next week.

[2022-11-18 23:04] claresinger commented on #4412
@editorialbot add @emmasimp as reviewer

[2022-11-19 00:05] agoyal06 commented on #4925
Thanks for sharing, Rachel. Hope you are doing well.

I will be interested in reviewing. I am Currently on travel with limited connectivity, so it may take longer to review. By when you need the review?

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Rachel Kurchin ***@***.***>
Sent: Thursday, November 17, 2022, 7:58 PM
To: openjournals/joss-reviews ***@***

[2022-11-19 07:35] psanan commented on #4531
Awesome! Thanks so much for all your attention, @kyleniemeyer,  @mbarzegary , and @elauksap!

[2022-11-19 09:20] martinlackner commented on #4880
Dear Martin
Thanks for the feedback. I will get in contact with lumbric and benjaminkrenn and let you know as soon as I have an answer.
Best,
Martin

[2022-11-19 10:00] Kevin-Mattheus-Moerman commented on #4945
@editorialbot set v0.3.4 as version

[2022-11-19 10:01] Kevin-Mattheus-Moerman commented on #4945
@kingyin3613 I've changed the version tag and since you've alerted the reviewers we should be all set. Let me know if the tag chances again during this review.

[2022-11-19 13:43] jagnobli commented on #4600
sorry, @oliviaguest me again...is there anything on the author side that needs to be done to advance the review process? From my point of view, your edits are great and we won't do any more edits...

[2022-11-19 14:51] oliviaguest commented on #4600
Nah! We're good to go, if you're happy with the final draft!

[2022-11-19 14:51] oliviaguest commented on #4600
@editorialbot recommend accept

[2022-11-19 15:33] lc09c commented on #4859
Hello,

Here the DOI for the upload of the repository content on Zenodo

https://doi.org/10.5281/zenodo.7337808

Let me know if it is ok or you need something else.

[2022-11-19 15:47] emdupre commented on #4840
👋 Hi @EtienneCmb, I just wanted to check in and see how this review is going for you. Please let me know if I can answer any questions that might help in finalizing your review ! And thanks again for agreeing to review Spectral connectivity for _JOSS_.

[2022-11-19 15:48] emdupre commented on #4892
Thank you for letting me know, @mattgolub ! I appreciate your response.

[2022-11-19 16:02] editorialbot opened #4951 "[PRE REVIEW]: Taxonomy.jl: A Julia package to handle the NCBI Taxonomy database"
**Submitting author:** @banhbio (<a href="http://orcid.org/0000-0002-7563-7693">Hiroki Ban</a>)
**Repository:** https://github.com/banhbio/Taxonomy.jl
**Branch with paper.md** (empty if default branch): JOSS
**Version:** v0.4.2
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/6a6c149dbc5e5dcc2c203e0d1595aa01/status.s

[2022-11-19 16:08] Kevin-Mattheus-Moerman commented on #4951
@openjournals/dev the repo check fails to find their MIT licence, and it also seems to miss the the julia code.

[2022-11-19 16:11] hongzhouye commented on #4925
Hi Rachel,

Thank you for the invitation! Yes, I am interested in reviewing it if it's
still available.
Since I'm new to this, is there a guideline for reviewers? (I found a
checklist <https://joss.readthedocs.io/en/latest/review_checklist.html> here
which looks very useful; just in case there are more specific ones). And
roughly
by when do you want my comments? Thanks!

Best,
Hong-Zhou

On Thu, N

[2022-11-19 18:29] N-Wouda commented on #4941
@editorialbot generate pdf

[2022-11-19 18:31] N-Wouda commented on #4941
@editorialbot check references

[2022-11-19 19:34] txopen commented on #4807
@crvernon, please find here the requested  DOI 10.5281/zenodo.7338242

[2022-11-19 19:58] Failxxx commented on #4868
Hello. Do you need more information to start reviewing?

[2022-11-19 21:10] arfon commented on #4920
@editorialbot assign me as editor

[2022-11-19 21:10] arfon commented on #4920
:wave: @gkthiruvathukal – I can take this one.

[2022-11-19 21:10] arfon commented on #4920
@Ayuei  – could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2022-11-19 21:20] arfon commented on #4923
For absolute clarity, could you please link to which source code files here (https://github.com/danielemelini/rear/tree/master/src) are novel/newly authored as part of this submission?

[2022-11-19 21:29] arfon commented on #4951
This is because the `JOSS` branch doesn't contain any of the source code.

Running `cloc` on the default branch returns:

[code]

[2022-11-19 23:31] kingyin3613 commented on #4945
Thanks!

[2022-11-20 01:03] mgm8 commented on #4915
@0xCoto thanks for your comments and suggestions!

All suggestions were fixed in this commit: [913f9e8](https://github.com/mgm8/pyngham/commit/913f9e8b56af390fb0928c20bc3fb17fdaa238ba)

About the first comment: This library is independent from high level frameworks like GNURadio. The intention is to use it in final user applications, like satellite decoders used in real satellite missions. It is a

[2022-11-20 04:26] 0xCoto commented on #4915
@mgm8

Yes, this is definitely something worth addressing, as readers may be curious as to why they should give this package a try instead of GNU Radio. The potential applications and purpose of the package should be made clear in the manuscript.

You can also briefly state the advantages NGHam offers compared to other modulation/encoding schemes used in CubeSats, to emphasize the importance of ha

[2022-11-20 05:53] GeekLogan commented on #4866
@editorialbot generate pdf

[2022-11-20 08:20] arfon commented on #4664
@editorialbot recommend-accept

[2022-11-20 10:05] drvinceknight commented on #4607
I'll finish this up tomorrow @danielskatz :+1:

[2022-11-20 11:08] faroit commented on #4754
@openjournals/dsais-eics is there an estimate for when the paper can be checked and published?

[2022-11-20 12:51] bnase commented on #4868
@Failxxx @hugoledoux I have fallen a bit behind with the review process due to the usual deadlines, but I will finish it by next weekend! I think it's 6 weeks so I will be in time!

[2022-11-20 13:18] asafpr commented on #4910
I think all the issues I raised were also covered so you've got my ok too.

[2022-11-20 15:41] shagunsodhani commented on #4864
@Fei-Tao  - done with the review :) Let me know what is the next step here.

[2022-11-20 16:20] RupeshJey commented on #4575
Hi Pierre, thank you for confirming these last steps!
1. Ah I see how this can be confusing. I have updated the documentation to include a line to let users know to replace `model_*` in both instances to whichever model they would like to use from Step 2.
2. These citation issues are resolved, and I have gone through the paper to double check that all the citations are accurate and appear properly

[2022-11-20 16:47] GeekLogan commented on #4866
@osorensen I have completed my review and I think that @mmore500 has responded well to all my comments in the issues referenced above

[2022-11-20 18:07] ady00 commented on #4864
@Fei-Tao Same here, is there anything else left to do?

[2022-11-20 18:49] arfon commented on #4664
@luyuhao0326 – apologies but I have one more fix. The references aren't rendering properly and this PR should fix it: https://github.com/UrbanRuralSystems/ur-scape/pull/14

[2022-11-20 18:56] csoneson commented on #4910
That's great, thanks a lot @asafpr!

@milnus - I will also have a look through the submission and get back to you shortly with the next steps.

[2022-11-20 18:56] csoneson commented on #4910
@editorialbot check references

[2022-11-20 18:56] csoneson commented on #4910
@editorialbot generate pdf

[2022-11-20 19:45] hseabolt commented on #4677
@csoneson I have completed my review and updated the checklist which now covers all review items.  I would like to recommend this manuscript for publication and would additionally like to echo the excellent comments by @rcannood regarding the quality of the updated work.  Kudos to @hkaspersen -- well done!

[2022-11-20 19:58] arianesasso commented on #4881
@editorialbot generate my checklist

[2022-11-20 21:31] mgm8 commented on #4915
@0xCoto Ok, fixed in [3e4b63d](https://github.com/mgm8/pyngham/commit/3e4b63dcd9c75cbc86cc0f391a92cb1c95d1c2b6)!

@pritchardn I think this commit also solves your first suggestion.

[2022-11-20 21:34] mgm8 commented on #4915
@pritchardn Thanks for your suggestions! I improved the references to the contributing instructions in [4533d5c](https://github.com/mgm8/pyngham/commit/4533d5c72be0c37702fd685413d85a1fc5efbcf1) and [cebe889](https://github.com/mgm8/pyngham/commit/cebe88915cfca5abec0f1e31f55eb060393d1f34).

[2022-11-20 21:49] arianesasso commented on #4881
Dear @WPettersson,

First, thank you for submitting your software/paper to JOSS!
I am honored to be its reviewer :). It takes a lot of effort to build something like this.

I am adding my review issues to your GitLab issue tracker page. You can follow a summary of them here: [GitLab Issues](https://gitlab.com/wpettersson/kep_solver/-/issues/15)

I just started my review and listed the issues with

[2022-11-20 22:21] jhstaudacher commented on #4944
@nikoleta-v3 Thank you very much for opening a review thread for our submission.

[2022-11-20 22:21] jhstaudacher commented on #4944
@ieyjzhou and @mstimberg Thank both very much for your readiness to review our software APGG and our paper.

[2022-11-20 22:32] jhstaudacher commented on #4944
@nikoleta-v3 Thank you very much for reminding us of the precious suggestions and comments on our software APGG that sylvaticus provided three weeks ago. We will address these issues in the next release of our software APGG once the reviews are completed. Right now, I feel it is preferable not to change the code while the reviewers are assessing the software. Thus we can avoid confusion and misund

[2022-11-20 22:37] AoifeHughes commented on #4859
@editorialbot set https://doi.org/10.5281/zenodo.7337808 as archive

[2022-11-20 22:40] AoifeHughes commented on #4859
@editorialbot generate pdf

[2022-11-20 22:56] AoifeHughes commented on #4859
@editorialbot check references

[2022-11-20 22:57] AoifeHughes commented on #4859
@editorialbot recommend-accept

[2022-11-20 23:53] luyuhao0326 commented on #4664
@arfon PR merged! And thanks for checking this for us. I should have done this myself first. Overall, this has been a very enjoyable and productive process with JOSS. Look forward to engaging with you, @hugoledoux, and other editors in the coming years.

[2022-11-21 06:08] danasolav commented on #4893
@editorialbot add @dankusanovic as reviewer

[2022-11-21 06:10] danasolav commented on #4893
@dankusanovic you can find the review guideline and checklist [here] (https://joss.readthedocs.io/en/latest/index.html). Once this review opens, you'll be directed to the review page, where you'll generate your checklist and work through it.

[2022-11-21 06:10] danasolav commented on #4893
@editorialbot add @jacobmerson as reviewer

[2022-11-21 06:12] danasolav commented on #4893
@editorialbot start review

[2022-11-21 06:12] editorialbot opened #4952 "[REVIEW]: Ciclope: micro Computed Tomography to Finite Elements"
**Submitting author:** @gianthk (<a href="http://orcid.org/0000-0001-8611-3281">gianluca iori</a>)
**Repository:** https://github.com/gianthk/ciclope
**Branch with paper.md** (empty if default branch):
**Version:** v1.3.4
**Editor:** @danasolav
**Reviewers:** @dankusanovic, @jacobmerson
**Archive:** 10.5281/zenodo.7716943

## Status

[![status](https://joss.theoj.org/papers/8f9176ffe46a0ef54f93ad8

[2022-11-21 06:12] #4893 closed

[2022-11-21 06:16] danasolav commented on #4893
@jacobmerson @dankusanovic
Please head over to the [review page](https://github.com/openjournals/joss-reviews/issues/4952), and generate your checklists to begin your reviews. Additional review guidelines can be found [here](https://joss.readthedocs.io/en/latest/index.html).
Thanks!

[2022-11-21 07:05] ajkswamy commented on #4936
Hello @csoneson @adamltyson @Yannan-Chen

Thanks for organizing the review processing and agreeing to review our paper!

A quick update: thanks to @adamltyson's [issue](https://github.com/galizia-lab/pyview/issues/18), we have now migrated PyView to Python 3.10 and made a new release. We request you to use this release when reviewing.

We are looking forward to your issues, comments, questions and

[2022-11-21 08:00] csoneson commented on #4677
Thank you @hseabolt!

[2022-11-21 08:02] hkaspersen commented on #4677
@hseabolt Thank you for your kind words!

[2022-11-21 08:20] oliviaguest commented on #4600
@editorialbot recommend-accept

[2022-11-21 08:43] danielemelini commented on #4923
Hi @arfon
Most of the new contributions relevant to this subimissions are in the make_gf.f90 and make_map.f90 source files, i.e. https://github.com/danielemelini/rear/blob/master/src/make_gf.f90 and https://github.com/danielemelini/rear/blob/master/src/make_map.f90 . Significant changes have been made also to the utils.f90 source file (https://github.com/danielemelini/rear/blob/master/src/utils.f9

[2022-11-21 08:48] csoneson commented on #4910
👋🏻 @milnus - I have gone through the submission, and made a [PR](https://github.com/milnus/Corekaburra/pull/16) with a couple of small fixes, mostly to the bibliography. Please have a look and merge if you agree. The next steps then are as follows:

- [ ] Make a tagged release of the software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a

[2022-11-21 08:49] elboyran commented on #4493
@diehlpk thank you for your clarifications.

Just to make sure I understand _exactly_ your requirement:

Are you suggesting to make a release on Zenodo where all authors are listed as authors **of the software**
or
a latest release where the paper folder is updated with the very last version and where all authors **of the paper** are listed along with the paper's latest version?

[2022-11-21 09:01] suragnair commented on #4943
@editorialbot generate my checklist

[2022-11-21 09:17] lucydot commented on #4624
@fnattino @hgandhi2411  - any updates on your review? or indicative timeline for when next updates will be? ---> I'm keen to keep this review moving along..

remember, if there are any uncertainties, we can use this thread as a place for discussion..

[2022-11-21 09:18] lucydot commented on #4672
@StanczakDominik @Rupali-Sahu  - any updates on your reviews? or indicative timeline for when next updates will be? ---> I'm keen to keep this review moving along..

remember, if there are any uncertainties, we can use this thread as a place for discussion..

[2022-11-21 09:23] Kevin-Mattheus-Moerman commented on #4948
@editorialbot assign me as editor

[2022-11-21 09:36] Kevin-Mattheus-Moerman commented on #4948
@PaulRitsche thanks for this submission. I am the AEiC for this track and also the handling editor for your submission. I have a quick look at your repository and have the following points for you to work on for now:

- [ ] The "user instructions" https://github.com/PaulRitsche/DLTrack/docs/usage produce a 404 error
- [ ] The test instructions link on the readme produces a 404 error: https://githu

[2022-11-21 09:36] mahtab-vafaee commented on #4945
@editorialbot generate my checklist

[2022-11-21 09:49] jagnobli commented on #4600
Final Proof looks good to me…

[2022-11-21 09:50] fabian-s commented on #4804
@Kevin-Mattheus-Moerman
I see your point, but since this has already spent almost 2 months in pre-review, I'd appreciate your permission to just do the 2nd review myself --  do you give it?

[2022-11-21 10:00] adi3 commented on #4667
@editorialbot assign @xtruan as reviewer

[2022-11-21 10:00] adi3 commented on #4667
@editorialbot commands

[2022-11-21 10:01] adi3 commented on #4667
@editorialbot add @xtruan as reviewer

[2022-11-21 10:02] adi3 commented on #4667
@editorialbot add @paxtonfitzpatrick as reviewer

[2022-11-21 10:04] adi3 commented on #4667
@ketozhang Thanks for your kind offer! I think we're covered for this review but I will lean on you if necessary. Cheers!

[2022-11-21 10:05] adi3 commented on #4667
@editorialbot start review

[2022-11-21 10:05] editorialbot opened #4953 "[REVIEW]: tpcp: Tiny Pipelines for Complex Problems - A set of framework independent helpers for algorithms development and evaluation"
**Submitting author:** @AKuederle (<a href="http://orcid.org/0000-0002-5686-281X">Arne Küderle</a>)
**Repository:** https://github.com/mad-lab-fau/tpcp/
**Branch with paper.md** (empty if default branch):
**Version:** v0.13.0
**Editor:** @adi3
**Reviewers:** @xtruan, @paxtonfitzpatrick
**Archive:** 10.17605/OSF.IO/GKY2U

## Status

[![status](https://joss.theoj.org/papers/0514da651427ea2db6f76cacb

[2022-11-21 10:05] #4667 closed

[2022-11-21 10:05] arfon commented on #4664
@editorialbot recommend-accept

[2022-11-21 10:06] adi3 commented on #3527
@editorialbot check references

[2022-11-21 10:07] adi3 commented on #3527
@editorialbot set <10.5281/zenodo.7332045> as archive

[2022-11-21 10:07] adi3 commented on #3527
@editorialbot set v0.6.3 as version

[2022-11-21 10:07] adi3 commented on #3527
@editorialbot recommend-accept

[2022-11-21 10:08] oliviaguest commented on #4600
@jagnobli can you change "(TOTP, (M’Raihi et al., 2011))" to single brackets, please? Maybe "(TOTP, M’Raihi et al., 2011)" is OK for you? Or with a semicolon?

[2022-11-21 10:11] arfon commented on #4664
@editorialbot accept

[2022-11-21 10:18] arfon commented on #4664
@winstonyym, @cforgaci – many thanks for your reviews here and to @hugoledoux for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@luyuhao0326 – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-11-21 10:18] #4664 closed

[2022-11-21 10:21] adi3 commented on #4953
👋🏼 @AKuederle this is the review thread for the paper. All of our communications will happen here from now on.

👋🏼 @xtruan @paxtonfitzpatrick - you both should generate your checklists with the JOSS requirements. As you go over the submission, please check the items that you feel have been satisfied and let the author know where further work needs to be done.

Here is a little more context for fir

[2022-11-21 10:23] Kevin-Mattheus-Moerman commented on #4804
@fabian-s Okay. Yes, that is fine then. Thanks

[2022-11-21 10:39] kcerva commented on #4460
Hello @arfon. I am doing some admin of publications and I realised that the ORCID associated to this paper for my name is wrong. It should be https://orcid.org/my-orcid?orcid=0000-0001-9185-3022, but instead it has someone else's account. Is there a way to fix this?

[2022-11-21 10:43] mberacochea commented on #4677
@csoneson I have completed my review. I agree with the other reviewers, and I recommend this manuscript for publication. Excellent work from the authors, it was easy to follow the changes in the context of the comments from the initial review. Kudos to @hkaspersen, brilliantly done.

[2022-11-21 10:45] Kevin-Mattheus-Moerman commented on #4859
@lcmpikg I am the AEiC on this track and here to help process the acceptance of this work in JOSS. I've just reviewed the repository, archive, and the paper. Below are some comments/recommendations for your to consider:

Comments:
- [ ] Please manually edit the authors listed on the ZENODO archive, such that the order matches that of the paper.
- [ ] Also manually edit the license on the ZENODO ar

[2022-11-21 10:57] csoneson commented on #4677
Thank you @mberacochea!

@hkaspersen - I will also take a quick look through the submission, and I'll get back to you shortly with the next steps.

[2022-11-21 10:57] csoneson commented on #4677
@editorialbot generate pdf

[2022-11-21 10:57] csoneson commented on #4677
@editorialbot check references

[2022-11-21 11:09] DorianDepriester commented on #4946
Hello @Kevin-Mattheus-Moerman,
Thank you for your quick feedback about my submission. Although I am obviously disappointed by this decision, I do understand your point. Next time, I will try to comply with all the criteria you mentioned about scholarly efforts.
Sincerely.

[2022-11-21 11:18] fraukewiese commented on #4799
@phil-sandwell : Please update us about the open issues

[2022-11-21 12:27] rreinecke commented on #4403
Most issues have been addressed. I think the submission has improved a lot and is now much better documented and accessible.

[2022-11-21 12:38] osorensen commented on #4866
Thanks @GeekLogan !

[2022-11-21 12:39] osorensen commented on #4866
@JJ and @kgd-al, could you please update us on how it's going with your reviews?

[2022-11-21 12:40] osorensen commented on #4866
@JJ and @kgd-al, could you please update us on how it's going with your reviews?

[2022-11-21 13:17] jagnobli commented on #4600
@editorialbot generate pdf

[2022-11-21 13:18] jagnobli commented on #4600
@oliviaguest: I have decided to take a different approach, what do you think?

[2022-11-21 14:43] oliviaguest commented on #4600
@editorialbot accept

[2022-11-21 15:30] robchallen commented on #4707
@debruine, I think you may still need to tick one more box on this page if everything OK from your perspective. N.B. I'm about to submit updates to CRAN.

[2022-11-21 15:32] sdmccabe commented on #4880
@editorialbot generate my checklist

[2022-11-21 15:35] debruine commented on #4707
Sorry! That was an oversight. Thanks for the reminder.

[2022-11-21 15:40] Fei-Tao commented on #4864
@shagunsodhani @ady00 Thank you for your time in reviewing this submission! You are all set. We will wait for the response from the last reviewer. After the author addresses the last reviewer's issues, we can proceed to handle the submission to the editor-in-chief.

[2022-11-21 15:54] rkurchin commented on #4925
@editorialbot add @hongzhouye as reviewer

@hongzhouye, thanks! Once we finalize the list of reviewers, a new issue will be opened ([REVIEW] instead of [PRE REVIEW]) and there will be instructions for generating and working through your checklist. At that point, I can also answer any other questions you have.

@agoyal06, ideally within a month or so if possible, would that be okay?

[2022-11-21 16:06] xtruan commented on #4953
@editorialbot generate my checklist

[2022-11-21 16:17] oliviaguest commented on #4935
perhaps when/if @sbenthall, you have the time, this could be edited by you?

[2022-11-21 16:17] oliviaguest commented on #4950
@editorialbot generate pdf

[2022-11-21 16:20] oliviaguest commented on #4950
do you think, @marcosvital, that can handle this given time/capacity constraints you may have? 😊

[2022-11-21 16:22] oliviaguest commented on #4600
@jagnobli @xi congratulations! 🥳

@samhforbes @htwangtw massive thanks to you for the reviews and patience. Thank you so much for helping JOSS.

[2022-11-21 16:22] #4600 closed

[2022-11-21 16:25] Kevin-Mattheus-Moerman commented on #4814
@ellieb Please respond to the above queries by 5pm central European time, this Friday November 25th. If we do not hear from you by then we will proceed to reject this submission.

[2022-11-21 16:27] hkaspersen commented on #4677
@mberacochea and @csoneson thank you so much!

[2022-11-21 16:28] xi commented on #4600
Thanks for all the great feedback! And thanks to @jagnobli for all the work!

[2022-11-21 16:29] ajstewartlang commented on #4707
Many thanks for your reviews @debruine and @craig-willis - can I check you're both now happy that all issues have been addressed and for @robchallen to bump the JOSS submission up  to 0.2.5?

[2022-11-21 16:32] samhforbes commented on #4741
@editorialbot remove @spitschan from reviewers

[2022-11-21 16:42] robchallen commented on #4707
(Obviously I found a typo at this point)

[2022-11-21 16:44] samhforbes commented on #4741
@editorialbot generate pdf

[2022-11-21 16:48] jacobmerson commented on #4952
@editorialbot generate my checklist

[2022-11-21 16:58] samhforbes commented on #4741
Hi @pydemull this is a neat piece of work, and I like the implementation of the GUI as well.

Please note we have removed a reviewer since they have been too busy to continue the review.
I am looking through the paper and note some small errors. I flag the ones I see here, but perhaps you wouldn't mind having a careful read through as well.

 G-force data are developping -> developing
Such a frame

[2022-11-21 16:59] samhforbes commented on #4741
@editorialbot set v1.0.5 as version

[2022-11-21 17:00] samhforbes commented on #4741
@editorialbot check references

[2022-11-21 17:06] samhforbes commented on #4741
thanks @editorialbot

[2022-11-21 17:28] hongzhouye commented on #4925
Thank you so much!

On Mon, Nov 21, 2022 at 10:55 AM Rachel Kurchin ***@***.***>
wrote:

[2022-11-21 17:45] JJ commented on #4866
Looks good to me too :+1: I've created some issues and PRs, but they are mostly nits.

[2022-11-21 19:02] linusseelinger commented on #4748
@georgiastuart Examples now link to the respective source code (turns out pulling source files directly from the repo is not trivial in our docs system, so we'll go with plan B for now). Types are now better documented, in particular for Python client and server where it's not obvious to see what is expected. The Python code also enforces types by explicitly checking, so I hope that's sufficient t

[2022-11-21 19:22] diehlpk commented on #4493
Yes, an archive of the current version of the source code with the same title and authors as on the paper. I need the new version on Github and the DOI to proceed with the acceptance of the paper.

[2022-11-21 19:58] linusseelinger commented on #4748
@Himscipy Thank you for your feedback! I have added some tests to fully cover the C++ and Python clients beyond the examples we had. The server side should be fairly well-tested already (see protocol_conformity_1.0, which is run on every model). I'm hesitant about code coverage checks, since UM-Bridge includes a couple of different languages, and more are to come. Also, since the libraries are mos

[2022-11-21 20:03] diehlpk commented on #4611
@editorialbot generate pdf

[2022-11-21 20:05] diehlpk commented on #4611
@dunnkers Please do the following to proceed with the paper acceptance:

- [ ] Generate a new release with all the changes you made during the review. Please post the version number here.
- [ ] Upload this release do Zenodo or FigShare and provide me with the DPI. Note that the authors and title of the Zenodo archive have to match with the paper.

[2022-11-21 20:06] diehlpk commented on #4637
@lluisjofre please add all the missing DOIs to the paper.

[2022-11-21 20:06] diehlpk commented on #4637
@ctdegroot How is your review going?

[2022-11-21 20:25] ifthompson commented on #4928
@editorialbot generate my checklist

[2022-11-21 20:42] dunnkers commented on #4611
Released version **3.1.0** ✓ https://github.com/dunnkers/fseval/releases/tag/3.1.0

DOI: 10.5281/zenodo.7343417

[Version 3.1.0 ](https://zenodo.org/record/7343417)10.5281/zenodo.734341, Nov 21, 2022

Is that okay? Not sure if the title matches; but not sure how to change

[2022-11-21 20:44] Rocsg commented on #4856
Hello britta,
Maybe an ImageJ/Fiji contributor/administrator can provide perspective ? Mark Hiner (hinerm on github) contribute to Fiji, and we never worked together, neither met.

[2022-11-21 20:44] Rocsg commented on #4856
(last message) for @britta-wstnr

[2022-11-21 21:22] OHildreth commented on #4752
Hi @dhhagan and @jarrah42 and @MatthieuDartiailh,

  I've updated the text to address @MatthieuDartiailh's comments.  I'm not as familiar with VISA at Matthieu is and I'm using some of the terminology incorrectly.  Hopefully I did an okay job, let me know if there is anything else I can do to improve the manuscript.

[2022-11-21 21:26] SYalouz commented on #4759
@editorialbot generate pdf

[2022-11-21 21:29] SYalouz commented on #4759
@editorialbot check references

[2022-11-21 21:31] adonath commented on #4904
@jryon  and @rjavila Just a short reminder that you can start the review any time soon. Thanks!

[2022-11-21 21:40] SYalouz commented on #4759
Dear @jarvist, @wcwitt and @erikkjellgren,

For your information, I just updated the article with a brand new reference from our group mentioning the use of the QuantNBody package.

Also, as a quick reminder: all corrections and suggestions from @wcwitt and @erikkjellgren have been implemented.
We look forward to hearing your feedback on them!

Best regards

[2022-11-21 21:49] dunnkers commented on #4611
I searched around in the Zenodo interface and managed to change the title ✅. Should be good now. If not let me know ✓.

[2022-11-21 22:04] lucask07 commented on #4896
Hello @eminizer

I have added the Kafka environmental variables and now am moving further with the tests. Progress!

[code]
Seems that most of the issues are FileExistsError:

`FileExistsError: [Errno 17] File exists: '/somepaths/joss/openMSIstream/openmsistream/test/test_reco'
`
After removing these files the tests advanced further

[code]

[2022-11-21 22:06] lucask07 commented on #4896
My tests (on a MAC) were initially throwing an SSL error like:
`[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed`

I removed this error by adding
[code]
to my bash_profile as described at this [StackOverflow question](https://stackoverflow.com/questions/40684543/how-to-make-python-use-ca-certificates-from-mac-os-truststore).

[2022-11-21 22:26] lucask07 commented on #4896
The paper reads very well. Nice work!

A few boxes I will wait for feedback to check off:

- The package would benefit from a few practical examples added to the docs and repository. These examples ideally would be a tangible experiment.  [GitHub Issue #27](https://github.com/openmsi/openmsistream/issues/27)
- It is not clear how to use the configuration files. [GitHub Issue #26](https://github.co

[2022-11-21 22:43] eminizer commented on #4896
Hi @lucask07,

Thanks for the detailed look!

First, in terms of the tests, I just released a new version on PyPi (v1.1.6) that should prevent the failures you were seeing. If you update your install and try again hopefully you'll have more success this time!

Second, I love your idea of including concrete examples in the repo and documentation. I'll absolutely work on this soon, and I'll link a P

[2022-11-21 23:39] lucask07 commented on #4896
Great, thanks @eminizer and nice work, all tests pass.

[code]
In terms of the paper and documentation edits you are in control of the timeline.  Just mention me when there is new material to review.

[2022-11-21 23:49] milnus commented on #4910
I have created a new tagged release (v0.0.5).
Zenodo upload: doi.org/10.5281/zenodo.7344004

[2022-11-22 07:25] jagnobli commented on #4600
Hooray....

Thanks to @htwangtw and @samhforbes for the reviews and the valuable feedback on the documentation.

Thanks to @oliviaguest for the edits and overall discussion.

I really enjoyed the transparent reviewing process and the friendly atmosphere...thanks for that as well.

(and thanks to @xi as main as core programmer of Castellum)

[2022-11-22 09:14] martinfleis commented on #4933
Hi @lwasser, @simonrp84, @gassmoeller, would you be willing too review this submission for JOSS?

[2022-11-22 09:26] drvinceknight commented on #4607
@editorialbot generate pdf

[2022-11-22 09:42] editorialbot opened #4954 "[PRE REVIEW]: sluiceBox: A Lightweight RNAseq Pre-Alignment Filter"
**Submitting author:** @Jbug1 (<a href="http://orcid.org/0000-0003-3358-0817">Jonah Poczobutt</a>)
**Repository:** https://github.com/Jbug1/sluiceBox
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/cf1c3d6dc455120eba00ce0215ccef73/status.svg)](ht

[2022-11-22 09:45] Kevin-Mattheus-Moerman commented on #4903
@editorialbot generate pdf

[2022-11-22 09:50] drvinceknight commented on #4607
@editorialbot check references

[2022-11-22 09:57] Kevin-Mattheus-Moerman commented on #4903
@jmmshn our scope review has concluded this work is unfortunately not in scope for JOSS.

Although the paper PDF still produces an error our team have reviewed the repository, the code functionality, and the paper (as readable from:  https://github.com/materialsproject/pyrho/blob/main/paper/paper.md). We have determined that this submission does not pass our substantial scholarly effort criteria,

[2022-11-22 09:57] Kevin-Mattheus-Moerman commented on #4903
@editorialbot reject

[2022-11-22 10:11] lluisjofre commented on #4637
Dear @diehlpk,

We have added all the DOIs (available) to the paper.
The new version of the manuscript is available on the git repository.

Best,
Lluis

[2022-11-22 10:12] Kevin-Mattheus-Moerman commented on #4927
@j-andrews7 our scope review has completed. The editorial board has unfortunately decided that this submission is not in scope for JOSS as it stands. In essence we concluded it does not conform to our "substantial scholarly effort" criteria, i.e. the functionality is not broad/extensive enough to warrant publication in JOSS. Of course the fact that it is not in scope for JOSS not mean the work is

[2022-11-22 10:12] Kevin-Mattheus-Moerman commented on #4927
@editorialbot reject

[2022-11-22 10:12] #4927 closed

[2022-11-22 10:16] Kevin-Mattheus-Moerman commented on #4931
@sgbaird our scope review has completed. The editorial board has unfortunately decided that this submission is not in scope for JOSS as it stands. It was concluded the work does not conform to our "substantial scholarly effort" criteria, i.e. the functionality is not broad/extensive enough to warrant publication in JOSS. Of course the fact that it is not in scope for JOSS not mean the work is not

[2022-11-22 10:16] Kevin-Mattheus-Moerman commented on #4931
@editorialbot reject

[2022-11-22 10:16] #4931 closed

[2022-11-22 10:19] WPettersson commented on #4881
Dear @arianesasso
I've responded to all your comments on the Gitlab issues page - thank you for the excellent feedback and I have incorporated your suggested changes and hopefully addressed all the issues.

[2022-11-22 10:19] Kevin-Mattheus-Moerman commented on #4938
@editorialbot reject

[2022-11-22 10:19] #4938 closed

[2022-11-22 10:22] Kevin-Mattheus-Moerman commented on #4954
@Jbug1 thanks for this submission. I am the AEiC for this track. I have reviewed your repository, the software functionality, and the paper. Unfortunately this submission is not in scope for JOSS as it stands. In particular it does not conform to our "substantial scholarly effort" criteria, i.e. the functionality is not broad/extensive enough to warrant publication in JOSS. Of course the fact that

[2022-11-22 10:22] Kevin-Mattheus-Moerman commented on #4954
@editorialbot reject

[2022-11-22 10:22] #4954 closed

[2022-11-22 10:59] drvinceknight commented on #4607
Everything looks good to me @Jacks0nJ. The suggestion made by editorial bot does seem correct to me, would you be able to add the doi `10.1088/1475-7516/2022/09/045` which points at https://iopscience.iop.org/article/10.1088/1475-7516/2022/09/045 (unless I'm wrong and it differs from the arXiv preprint).

Let me know once that's done and there will be a couple of other steps to take but it won't t

[2022-11-22 11:00] fraukewiese commented on #4795
@robbiemorrison - as discussed by Mail, would you be willing to review this submission?

[2022-11-22 11:10] csoneson commented on #4910
@editorialbot generate pdf

[2022-11-22 11:11] csoneson commented on #4910
@editorialbot check references

[2022-11-22 11:23] csoneson commented on #4910
@editorialbot set 0.0.5 as version

[2022-11-22 11:23] csoneson commented on #4910
@editorialbot set 10.5281/zenodo.7344004 as archive

[2022-11-22 11:25] csoneson commented on #4910
@milnus Great, thanks! All looks good to me, I will hand over to the associate EiC for the final steps. Thanks for submitting to JOSS!

[2022-11-22 11:25] csoneson commented on #4910
@editorialbot recommend-accept

[2022-11-22 12:03] csoneson commented on #4677
👋🏻 @hkaspersen - I have gone through the submission and made a [PR](https://github.com/NorwegianVeterinaryInstitute/ALPPACA/pull/62) with a couple of small fixes. Please check and merge if you agree. Could you also spell out 'ST' the first time you use it in the manuscript? When done, you can generate a new proof as before. The next steps then are as follows:

- [ ] Make a tagged release of the so

[2022-11-22 12:18] robbiemorrison commented on #4795
Yes.  I&nbsp;can provide some context too.  *xeona* is a long defunct hybrid agent‑based operational (recursive dynamic) optimization framework that supported [nodal pricing](https://en.wikipedia.org/wiki/electricity_market#bid-based,_security-constrained,_economic_dispatch_with_nodal_prices) and that I&nbsp;wrote 15&nbsp;years ago.  That agents themselves were pretty crude (in terms of implementa

[2022-11-22 12:21] fabian-s commented on #4804
@editorialbot add @fabian-s as reviewer

[2022-11-22 12:21] fabian-s commented on #4804
@editorialbot start review

[2022-11-22 12:21] editorialbot opened #4955 "[REVIEW]: RCaNmodel: a R package for Chance and Necessity modelling"
**Submitting author:** @elfunesto (<a href="http://orcid.org/0000-0001-9206-0040">Hilaire Drouineau</a>)
**Repository:** https://github.com/inrae/RCaNmodel/
**Branch with paper.md** (empty if default branch): master
**Version:** v2.0.2
**Editor:** @fabian-s
**Reviewers:** @juanvillada, @amoeba, @fabian-s
**Archive:** 10.5281/zenodo.7595076

## Status

[![status](https://joss.theoj.org/papers/80d54

[2022-11-22 12:21] #4804 closed

[2022-11-22 12:24] fabian-s commented on #4955
👋🏼 : @elfunesto  @amoeba this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please check any items tha

[2022-11-22 12:24] fabian-s commented on #4955
@editorialbot create my checklist

[2022-11-22 12:24] fabian-s commented on #4955
@editorialbot generate my checklist

[2022-11-22 12:32] fabian-s commented on #4955
@elfunesto please check and fix the missing/invalid DOIs found by the bot

[2022-11-22 12:34] hkaspersen commented on #4677
@csoneson thank you!
I have now merged the PR and updated the Zenodo DOI as mentioned.
Zenodo DOI: 10.5281/zenodo.7331351
Tagged release on GH: v2.0.1

[2022-11-22 12:35] hkaspersen commented on #4677
@editorialbot generate pdf

[2022-11-22 12:46] csoneson commented on #4677
@editorialbot set v2.0.1 as version

[2022-11-22 12:46] csoneson commented on #4677
@editorialbot set 10.5281/zenodo.7331351 as archive

[2022-11-22 12:59] elfunesto commented on #4955
@fabian-s This is addressed with commit [inrae/RCaNmodel.git@5cb4842](https://github.com/inrae/RCaNmodel/commit/1ff07450912bf7d2314783e80df9d10d58a7b1e7)

[2022-11-22 13:02] fabian-s commented on #4955
@editorialbot check references

[2022-11-22 13:24] dlr-cjs commented on #4796
@fraukewiese : I hereby suggest two reviewers for AMIRIS. They aren't into energy research but both are experienced software engineers: @mvrueden and @SebastianBoblest

[2022-11-22 13:26] editorialbot opened #4956 "[PRE REVIEW]: DistributedSparseGrids.jl: A Julia library implementing an Adaptive Sparse Grid collocation method"
**Submitting author:** @baxmittens (<a href="http://orcid.org/0000-0001-9954-294X">maximilian bittens</a>)
**Repository:** https://github.com/baxmittens/DistributedSparseGrids.jl
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.3
**Editor:** @drvinceknight
**Reviewers:** @ericneiva, @matt-graham
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/pape

[2022-11-22 13:28] danielskatz commented on #4822
👋 @apachalieva - I see a bunch of issues above, and progress on some - can you say a little bit here about what else you think you need to do to resolve them and about how long this might take?

[2022-11-22 13:31] danielskatz commented on #4956
@baxmittens - While I look for an editor for your submission, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot

[2022-11-22 13:32] danielskatz commented on #4956
👋 @drvinceknight - do you think you would be able to edit this submission?

[2022-11-22 13:32] danielskatz commented on #4956
@editorialbot invite @drvinceknight as editor

[2022-11-22 13:34] danielskatz commented on #4941
👋 @hugoledoux - this might be a bit outside your area, but would you be able to edit it?

[2022-11-22 13:34] danielskatz commented on #4941
@editorialbot invite @hugoledoux as editor

[2022-11-22 13:38] danielskatz commented on #4882
@melissawm - after about 4 weeks, can you check on progress here?

[2022-11-22 13:39] craig-willis commented on #4707
My concerns have all been addressed.  (Thanks for sharing your work @robchallen and @debruine it was great to see your feedback.)

[2022-11-22 13:39] danielskatz commented on #4879
@majensen - what's the status of this submission?

[2022-11-22 13:40] danielskatz commented on #4818
Hi @pibion - what's the status of this?  I don't see any reviewer checklists which confuses me.

[2022-11-22 13:41] danielskatz commented on #4617
Having not heard back, I will now reject this submission

[2022-11-22 13:41] danielskatz commented on #4617
@editorialbot reject

[2022-11-22 13:41] #4617 closed

[2022-11-22 13:43] danielskatz commented on #4815
👋 @pausz - are you able to elaborate more?

[2022-11-22 13:43] majensen commented on #4879
Apologies @jjmccollum @danielskatz  have been AWOL.
@tresoldi can you update us on your review please?

[2022-11-22 13:44] danielskatz commented on #4502
👋 @yhtang - again, is there any update here?

[2022-11-22 13:44] danielskatz commented on #4378
👋 @quantumsteve - Again, how are you doing on the issues mentioned by @joglekara?

[2022-11-22 13:46] danielskatz commented on #4956
Yes, please do - suggestions will help the editor (once we get one) get the review process started

[2022-11-22 13:47] lwasser commented on #4933
should pyopensci review this submission and then fast track to joss Martin?
This seems like it would be in scope for pyopensci.

On Tue, Nov 22, 2022, 02:15 Martin Fleischmann ***@***.***>
wrote:

[2022-11-22 13:47] danielskatz commented on #4378
I've emailed @quantumsteve about this. If there's no action in the next couple if weeks, we'll reject this submission

[2022-11-22 13:49] danielskatz commented on #4933
👋 @lwasser - if this has been submitted to pyopensci, then it could wait until that review is complete, but if it hasn't, it should just be reviewed here.  This choice is up to the submitter to make.

[2022-11-22 13:50] danielskatz commented on #4753
👋 @finsberg - just checking on any possible update...

[2022-11-22 13:52] erikkjellgren commented on #4759
Hi @SYalouz

Thank you for addressing all the points so nicely.
Here a few issues/suggestions I have left.

**Automated tests:**
It is very nice there is an automated test setup now.
A nice feature from a users perspective would be a meassurement of well tested to code is, this could be by lines of code hit by the tests, see tools like coveralls.io. (This is just a nice to-have suggestion).

**Com

[2022-11-22 13:59] mrempel commented on #4933
Hello @lwasser @danielskatz - The software (and associated paper) have not been submitted to pyopensci. My co-author and I would prefer to continue with the submission to JOSS at this time.

[2022-11-22 14:00] osorensen commented on #4866
Thanks @JJ!

[2022-11-22 14:02] marcosvital commented on #4950
@editorialbot assign @marcosvital as editor

[2022-11-22 14:05] marcosvital commented on #4950
@editorialbot generate pdf

[2022-11-22 14:13] KoalaGeo commented on #4569
@jedbrown it's been brought to my attention I accidentally omitted an acknowledgement in the Journal Text - "this work was supported by the British Geological Survey via NERC national capability".  Would it be possible to update the text?

I've added the text to https://gitlab.com/ags-data-format-wg/ags-python-library/-/blob/joss_paper/docs/paper.md.

[2022-11-22 14:13] marcosvital commented on #4950
Hi, @q1cui, I will be the editor of your submission.

It seems that we cannot generate a manuscript proof. Can you check if your paper.md file follows the format shown in this example: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography ?

At the same time, we can start looking for reviewers for you submission. We usually ask the authors for suggestions, so let me

[2022-11-22 14:22] baxmittens commented on #4956
@danielskatz

For me the webpage https://bit.ly/joss-reviewers is unavailable. Is there any other source where I can find a list of possible reviewers?

Thank you in advance

[2022-11-22 14:45] mmore500 commented on #4866
Yup! @jj had some super useful suggestions,  sat down to incorporate them this evening, think they should all be worked in!

[2022-11-22 14:51] kgd-al commented on #4866
My schedule should clear up in a couple of days so I'll have time to dig in.

[2022-11-22 14:57] drvinceknight commented on #4956
Hi @baxmittens, I've just checked and that page loads fine for me.

[2022-11-22 14:57] drvinceknight commented on #4956
@editorialbot assign @drvinceknight as editor

[2022-11-22 14:59] baxmittens commented on #4956
@drvinceknight

Thank you for clarification. Then my working place seems to block bitly. I'll have to lock for reviewers when Im at home.

[2022-11-22 15:07] finsberg commented on #4753
@danielskatz Sorry for the delay. We have a few more small things to fix. We should be able to fix these before the end of next week.

[2022-11-22 15:25] lwasser commented on #4933
:wave: everyone. My sincere apologies everyone for the quick response via email which was way too forward and unclear!! sorry for derailing an otherwise streamlined review conversation. i unfortunately can't review right now as i'm just coming back from being sick and am extremely behind. Hopefully the others pinged here can jump in and review. All the best!

[2022-11-22 15:35] hugoledoux commented on #4941
@editorialbot add @hugoledoux as editor

[2022-11-22 16:41] sbenthall commented on #4845
@wholmgren Would you be able to review this submission?

[2022-11-22 16:41] sbenthall commented on #4845
@brynpickering Would you be able to review this submission?

[2022-11-22 16:43] sbenthall commented on #4934
I will be able to edit this once I have cleared other submissions from pre-review.

[2022-11-22 17:07] j-andrews7 commented on #4927
Bummer. Thanks for taking a look.

[2022-11-22 17:20] arianesasso commented on #4881
@WPettersson thank you for the great work! I just checked all the changes, and I have nothing else to add :).

@jmschrei I believe my checklist is finished and I am satisfied with the changes made by @WPettersson.

[2022-11-22 17:25] jmschrei commented on #4881
Great, thanks @arianesasso !

[2022-11-22 18:10] odunbar commented on #4869
Hi @jbytecode , Sorry I did not catch these requests for an update.  In short we are "working on it".
We have addressed the first reviewers comments,
We are currently working on the second reviewers comments.

We are listing PRs on the reviewer's individual issues in our repository to track this progress.

[2022-11-22 18:12] jbytecode commented on #4869
@odunbar - thank you for the update. Please mention this thread's URL in your PR's and issues so we can keep tracking on them.

[2022-11-22 18:31] SYalouz commented on #4759
Dear @erikkjellgren,

Thanks a lot for your very quick reply, we are happy that the modifications we made satisfy you !

Following you last remarks, I have just updated the documentations to include the community guidelines. I also corrected the typo about OpenFermion that you noticed in the paper.

We thank you also for your good advices concerning the automated tests and the documentations. We k

[2022-11-22 18:32] SYalouz commented on #4759
@editorialbot generate pdf

[2022-11-22 18:39] galessiorob commented on #4839
@RamziHalabi I did a thorough assessment of the review comments and the submission, please see below:

* The main topic, assessing sensor data quality, is an important and impactful one, and focusing on data correctness and completeness is a very interesting angle to take. The proposed DQM battery that QPrism provides is enough material to compose a robust OS package, however, the current submissi

[2022-11-22 18:41] galessiorob commented on #4898
@editorialbot add @carinogurjao as reviewer

[2022-11-22 18:46] galessiorob commented on #4898
@sjbeckett 👋 please start addressing the comments and issues noted by the reviewers at your earliest convenience so we can get your paper ready for publishing. Let me know if you have any questions or are blocked in any way.

@welch16 @Epic19mz and @richelbilderbeek Thank you so much for your review so far!

@mbkumar let me know if you are blocked in any way from making progress on your review.

@

[2022-11-22 19:06] gkthiruvathukal commented on #4839
Thank you, @RamziHalabi, for your submission to JOSS.
Thank you, @galessiorob, for this detailed report.

I have done an independent review of the code and the previous comments from this review issue thread and concur that submission does not meet our threshold for *substantial scholarly effort*. This is an overarching criterion for a JOSS submission and, therefore, grounds for rejection. However

[2022-11-22 19:06] gkthiruvathukal commented on #4839
@editorialbot reject

[2022-11-22 19:07] galessiorob commented on #4816
@ianfhunter I'm still on the hunt for at least one additional reviewer, unfortunately, the folks I have asked are unavailable, but I just sent another batch of invites. If you have any suggestions please let me know.

[2022-11-22 19:15] gkthiruvathukal commented on #4922
@editorialbot invite @osorensen as editor

[2022-11-22 19:15] gkthiruvathukal commented on #4922
@osorensen Thanks for responding by Slack. I invited you as editor.

[2022-11-22 19:21] melissawm commented on #4882
Thanks for the reminder @danielskatz - @nimgould @frankecurtis @jajhall any updates?

[2022-11-22 19:24] gkthiruvathukal commented on #4833
@arfon Is there some editorialbot magic to re-run the gitinspector statistics? We have a proper repository now.

[2022-11-22 19:24] sgbaird commented on #4931
@Kevin-Mattheus-Moerman thanks for getting back on this! I might look at combining this with some related software (e.g. matbench-genmetrics) or extending the functionality. If I decide on combing the software, do you have any suggestions on how to approach this? Right now, mp-time-split and [matbench-genmetrics](https://github.com/sparks-baird/matbench-genmetrics) are hosted in separate repositor

[2022-11-22 19:30] editorialbot opened #4957 "[PRE REVIEW]: SMHViewer - A Multi-Purpose Software for Viewing 3-D Point Clouds and Meshes"
**Submitting author:** @mohammadul (<a href="http://orcid.org/0000-0003-3205-0355">Sk. Mohammadul Haque</a>)
**Repository:** https://github.com/mohammadul/SMHViewer
**Branch with paper.md** (empty if default branch): paper
**Version:** v2.0.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** George K.  Thiruvathukal

## Status

[![status](https://joss.theoj.org/papers/6ae76fd00ad16e7f64

[2022-11-22 19:31] danielskatz commented on #4833
@editorialbot check repository

[2022-11-22 19:32] gkthiruvathukal commented on #4957
@mohammadul I believe you had a duplicate submission, so I am starting with this one.

[2022-11-22 19:32] danielskatz commented on #4833
you might need to change the branch to where the code is, do the check repo again, then change the branch back...

[2022-11-22 19:32] gkthiruvathukal commented on #4957
@mohammadul Please correct the above issues as soon as possible. Thanks!

[2022-11-22 19:56] anupamajha1 commented on #4943
@editorialbot generate my checklist

[2022-11-22 20:05] a9p commented on #4892
Hi @emdupre, thank you for keeping up with this! Chatting with the team, we think the following would be capable reviewers in addition to the ones you suggested:
- Guillaume Hennequin (ghennequin)
- Lea Duncker (leaduncker)
- Juan Gallego lab
- Andreas Tolias lab

[2022-11-22 20:18] mohammadul commented on #4957
@gkthiruvathukal It is updated.

[2022-11-22 20:21] mohammadul commented on #4957
@editorialbot generate pdf

[2022-11-22 20:25] mohammadul commented on #4957
@editorialbot generate pdf

[2022-11-22 20:32] mohammadul commented on #4957
@editorialbot generate pdf

[2022-11-22 20:33] frankecurtis commented on #4882
@melissawm sorry for the delay. It had reached the top of my stack, but then fell off when the review wasn't open. But I'm ready to go and will complete it tomorrow (November 23). A nice U.S. Thanksgiving present to @nimgould even if he doesn't celebrate it all the way over in the UK ;-)

[2022-11-22 20:34] vissarion commented on #4532
@zhampel after 20 days of inactivity I am removing you from the reviewers. Thanks for your effort and willingness to review.

 @yhtang I also have to remove you due to inactivity. Thanks for your initial comments.

@editorialbot remove @zhampel from reiviewers
@editorialbot remove @yhtang from reiviewers

[2022-11-22 20:35] vissarion commented on #4532
@editorialbot remove @zhampel from reviewers

[2022-11-22 20:35] vissarion commented on #4532
@editorialbot remove @yhtang from reviewers

[2022-11-22 20:36] vissarion commented on #4532
@editorialbot generate pdf

[2022-11-22 20:36] vissarion commented on #4532
@editorialbot check references

[2022-11-22 20:37] vissarion commented on #4532
@masadcv please make a tagged release and archive, and report the version number and archive DOI here.

[2022-11-22 20:50] ianfhunter commented on #4816
I had another look at the spreadsheet. Here are a few that may be applicable if you have not invited them already (in descending order)

- [petar](https://bitbucket.org/petar/) (Knowledge of Parsers)
- zbeekman (Build systems & package Management)
- rlskoeser (Data/Text Parsing, though may be in different context, no c/c++)
- corybrunson (Packaging, though only R Lang)

[2022-11-22 21:08] Kevin-Mattheus-Moerman commented on #3736
@clarka34 can  you provide an update too please?

[2022-11-22 21:09] N-Wouda commented on #4941
👋 @hugoledoux hi! I have updated the list of potential reviewers a bit (see above). I hope these are enough to help you find reviewers, but please do let me know if you need me to suggest additional names!

[2022-11-22 21:16] odunbar commented on #4869
Thanks very much! We are conscious of the length and will review it after addressing the other reviewer's comments.

The link provided above contains all the work toward the 1st review, I will create a similar comment and link for the 2nd review that lists the PRs too

[2022-11-22 21:39] apachalieva commented on #4822
Hi @danielskatz, my colleagues and I are working on the open issues. We have divided the tasks among our team and requested additional information from the reviewer, wherever necessary. The open issues do not include any implementation work; therefore, we hope to resolve them by the end of next week.

[2022-11-22 22:32] masadcv commented on #4532
@vissarion many thanks for instructions on the next step.
I have just released v1.0.0 with all changes from this review.

This has been archived at Zenodo at the following doi:

[![DOI](https://zenodo.org/badge/375526483.svg)](https://zenodo.org/badge/latestdoi/375526483)

Please let me know if there is anything else needed from our end at this stage.

[2022-11-22 22:51] paxtonfitzpatrick commented on #4953
@editorialbot generate my checklist

[2022-11-22 23:50] prashjha commented on #4850
Hi @Stat-Cook, will you be interested in reviewing this submission for JOSS? Please let me know.

[2022-11-22 23:50] imalsky commented on #4872
Everything looks good to me! I had an issue open on the repo that I've now closed also

[2022-11-22 23:59] prashjha commented on #4850
Hi @ndehouche, any chance you could review this submission for JOSS? Please let me know.

[2022-11-23 00:22] vyrjana commented on #4808
@editorialbot generate pdf

[2022-11-23 00:35] vyrjana commented on #4808
@editorialbot generate pdf

[2022-11-23 00:38] vyrjana commented on #4808
@editorialbot commands

[2022-11-23 00:47] vyrjana commented on #4808
Apologies for taking so long to respond to the rest of @Aslan-Kosakian's comments (tagging @mdmurbach to send them a notification). I've made significant changes to the manuscript ([link to most recent PDF](https://github.com/openjournals/joss-papers/blob/joss.04808/joss.04808/10.21105.joss.04808.pdf)) and released new versions of pyimpspec and DearEIS. The tutorials are still a work in progress.

[2022-11-23 00:54] jgostick commented on #4808
This is without a doubt the most thorough peer-review and rebuttal I have ever seen!  Congrats to both @Aslan-Kosakian and @mdmurbach for their time, and @vyrjana for so being so diligent.  Just so I can make sure all the bases are covered, I hope that @Aslan-Kosakian  and @mdmurbach can finalize their checklists?  Once they have confirmed they're happy and/or satisfied, then we can begin to final

[2022-11-23 00:55] Aslan-Kosakian commented on #4808
Thank you, @vyrjana, for the detailed responses to my comments.

@vyrjana and @jgostick: There is a lot to go through (and to try out). I'll try to respond by the end of the week.

[2022-11-23 01:08] vyrjana commented on #4808
@Aslan-Kosakian, I will continue to work on the tutorials in the meantime.

Thanks again for the comments, @Aslan-Kosakian and @mdmurbach. Going into this peer review process, I clearly had a bit of tunnel vision regarding onboarding of new users and I think that by the end it will be a much better experience for new users.

[2022-11-23 06:29] ranocha commented on #4906
@editorialbot generate my checklist

[2022-11-23 09:05] vissarion commented on #4532
@editorialbot set 10.5281/zenodo.7349069 as archive

[2022-11-23 09:05] vissarion commented on #4532
@editorialbot set  v1.0.0 as version

[2022-11-23 09:06] vissarion commented on #4532
@editorialbot recommend-accept

[2022-11-23 09:09] henry2004y commented on #4906
After I modify the package according to the reviewer comments, will it be evaluated under a new package version number? The pkg version at the time of submission was v0.9.25

[2022-11-23 09:19] ajstewartlang commented on #4707
@robchallen can I check that you've fixed that typo? Can you also confirm you've bumped the JOSS version to 0.2.5? I'll then set that as the branch and do a few final checks. Thanks for a great submission!

[2022-11-23 09:26] derNarr commented on #4515
Dear @osorensen, dear @frankier, dear @VenkteshV , dear @jinhangjiang ,

we have addressed now all of the urgent issues and improved the paper and the package documentation according to your comments. We especially oriented ourselves along this [comment](https://github.com/openjournals/joss-reviews/issues/4515#issuecomment-1201165829) .

The documentation of pyndl is substantially improved, we add

[2022-11-23 09:28] derNarr commented on #4515
I edited the post, there was an old version of the quote in the original message.

[2022-11-23 09:51] Stat-Cook commented on #4850
@prashjha I'd be happy to help out.  Not a specialist in tensor decomposition but I've used non-negative matrix decomp in anger in a few places.  Could I get some quick guidance as to the process?  I checked one of the other issues and there's a checklist?

[2022-11-23 09:53] agoyal06 commented on #4925
Yes, sounds good. Thank you!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Rachel Kurchin ***@***.***>
Sent: Monday, November 21, 2022 9:24:59 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Anuj Goyal ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: py-sc-fermi: self-consistent Fermi energies and defect concentra

[2022-11-23 09:54] fraukewiese commented on #4795
Thank you @robbiemorrison , I will add you as reviewer!

[2022-11-23 09:56] fraukewiese commented on #4795
@editorialbot start review

[2022-11-23 09:56] editorialbot opened #4958 "[REVIEW]: FAME-Io: Configuration tools for complex agent-based simulations"
**Submitting author:** @dlr_fn (<a href="http://orcid.org/0000-0002-9824-3371">Felix Nitsch</a>)
**Repository:** https://gitlab.com/fame-framework/fame-io
**Branch with paper.md** (empty if default branch): 139-prepare-publication
**Version:** v1.7
**Editor:** @fraukewiese
**Reviewers:** @imcatta, @robbiemorrison
**Archive:** 10.5281/zenodo.4314337

## Status

[![status](https://joss.theoj.org/pap

[2022-11-23 09:56] #4795 closed

[2022-11-23 10:02] baxmittens commented on #4956
@danielskatz @drvinceknight
Here are my suggestions for reviewers:

ericneiva
idoby
matt-graham
diegomcarvalho
lucaferranti
svchb
justinsgray
ziyiyin97
alizma
jeremylt
SichengHe

[2022-11-23 10:10] fraukewiese commented on #4795
@imcatta, @robbiemorrison – many thanks for agreeing to review here! See you over in #4958 where the actual review will take place.

[2022-11-23 11:05] Jacks0nJ commented on #4607
@editorialbot check references

[2022-11-23 11:18] martinlackner commented on #4880
Dear all,
I have contacted @lumbric and @benjaminkrenn and they agree to be listed as authors on the paper. I am happy about this solution regarding authorship, thanks @martinfleis for the suggestion.
I pushed an updated version of the paper to the repository (but I don't know how to update the linked version here in the thread).
Best,
Martin

[2022-11-23 11:27] Jacks0nJ commented on #4607
@drvinceknight I've added the doi to the reference. The pre-print version does in fact differ from the published version in content,  but the key point of their code not being open source is till valid.

I've also made some very minor changes: I've changed my name to "Joseph H. P. Jackson", swapped the second and third sentence around, added "in general" and added an additional grant number to the

[2022-11-23 12:15] kgd-al commented on #4866
@editorialbot generate my checklist

[2022-11-23 12:23] dfm commented on #4475
Awesome - thanks @alexandergagliano, @sloneil!

One question for @sloneil: One of the boxes in your checklist ("Functionality") remains unchecked. Is there something specific missing or would you be willing to check it? Thanks!!

I'll proceed with some last editorial steps, but @sloneil please do let me know if there are any outstanding issues. Thanks!!

[2022-11-23 12:23] dfm commented on #4475
@editorialbot check references

[2022-11-23 12:49] pdebuyl commented on #4575
@editorialbot set v1.0.1 as version

[2022-11-23 12:49] pdebuyl commented on #4575
@editorialbot  set 10.5281/zenodo.7339527 as archive

[2022-11-23 12:51] pdebuyl commented on #4575
@editorialbot set 10.5281/zenodo.7339527 as archive

[2022-11-23 12:53] pdebuyl commented on #4575
Hi @RupeshJey you need to edit the metadata. The title is now "RemoteSensingTools/vSmartMOM.jl: v1.0.1". It should be "vSmartMOM.jl: an Open-Source Julia Package for Atmospheric Radiative Transfer and Remote Sensing Tools".

There are also more authors to the zenodo archive. Please set non-authors of the paper as contributors.

[2022-11-23 13:11] elbeejay commented on #4897
@editorialbot remind @JannisHoch in two weeks

[2022-11-23 13:11] elbeejay commented on #4897
@editorialbot remind @mcflugen in two weeks

[2022-11-23 13:12] elbeejay commented on #4897
@editorialbot remind @LejoFlores in two weeks

[2022-11-23 13:37] editorialbot opened #4959 "[PRE REVIEW]: pyRiemann-qiskit: A Sandbox to Experiment Quantum Classification with Riemannian Geometry"
**Submitting author:** @gcattan (<a href="http://orcid.org/0000-0002-7515-0690">Grégoire CATTAN</a>)
**Repository:** https://github.com/pyRiemann/pyRiemann-qiskit
**Branch with paper.md** (empty if default branch):
**Version:** v0.0.2-dev
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/0fc7cd2b8c89e7e9235a62d3c2105f

[2022-11-23 13:43] danielskatz commented on #4532
👋 @masadcv - I'm the track editor who is taking over at this point. I've proofread the paper, and have made a bunch of small suggestions in https://github.com/masadcv/FastGeodis/pull/36 - please merge this, or let me know what you disagree with, then we can continue the acceptance and publishing process

[2022-11-23 13:43] dfm commented on #4475
@Jammy2211 — I've opened a PR with some minor edits to the paper. After merging or responding to that, here are the final steps that I'll need from you:

1. Take one last read through the manuscript to make sure that you're happy with it (it's harder to make changes later!), especially the author names and affiliations. I've taken a pass and it looks good to me!
2. Increment the version number of

[2022-11-23 13:55] drvinceknight commented on #4607
That looks good to me @Jacks0nJ!

[2022-11-23 13:56] drvinceknight commented on #4607
Could you make a tagged release and archive, and report the version number and archive DOI here please.

Please make sure the archive deposit has the correct metadata (title and author list that match here).

[2022-11-23 13:58] sjbeckett commented on #4898
Thanks @galessiorob, we are starting to address. Will be in touch!

[2022-11-23 14:00] editorialbot opened #4960 "[PRE REVIEW]: rCRUX: Generate CRUX metabarcoding reference libraries in R"
**Submitting author:** @limey-bean (<a href="http://orcid.org/0000-0003-0336-6852">Emily Curd</a>)
**Repository:** https://github.com/LunaGal/rCRUX
**Branch with paper.md** (empty if default branch):
**Version:** 0.0.1.000
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/caa92c3c8acc16e323e01978fbe972e9/status.svg)](

[2022-11-23 14:52] kgd-al commented on #4866
@editorialbot generate pdf

[2022-11-23 15:16] limey-bean commented on #4960
@editorialbot generate pdf

[2022-11-23 15:20] limey-bean commented on #4960
Here is a list of potential reviewers from the list: iimog, coughls, and sdhutchins

[2022-11-23 15:27] fnattino commented on #4624
Hi @lucydot - sorry for the delay, I will definitely complete this before the end of the week. Apologies again!

[2022-11-23 15:56] bmcfee commented on #4878
Thanks @cwitkowitz !

@olivecha While we're waiting for @ebezzam 's review, it would be great if you could look through the comments and issues raised so far.

[2022-11-23 16:48] frankecurtis commented on #4882
@editorialbot generate my checklist

[2022-11-23 16:51] sbenthall commented on #4845
Thank you @npalmer-professional for agreeing to review this submission! We will begin the review process when we've found a second reviewer.

[2022-11-23 17:06] editorialbot opened #4961 "[PRE REVIEW]: Fast and flexible simulation and parameter estimation for synthetic biology using bioscrape"
**Submitting author:** @ayush9pandey (<a href="http://orcid.org/0000-0003-3590-4459">Ayush Pandey</a>)
**Repository:** https://github.com/biocircuits/bioscrape/
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v1.2
**Editor:** @csoneson
**Reviewers:** @Farnazmdi, @Robaina
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/5935db21ffab

[2022-11-23 17:11] diehlpk commented on #4611
@editorialbot set 3.1.0 as version

[2022-11-23 17:16] diehlpk commented on #4611
@editorialbot set 10.5281/zenodo.7343417 as archive

[2022-11-23 17:17] diehlpk commented on #4611
@dunnkers Looks good to me. I can recommend the paper for acceptance.

[2022-11-23 17:18] diehlpk commented on #4611
@editorialbot recommend-accept

[2022-11-23 17:28] diehlpk commented on #4073
@maxpumperla Can you provide some timeline for the changes? So I can pause the review.

[2022-11-23 17:59] frankecurtis commented on #4882
@melissawm @nimgould I am done with my review.

I previously communicated to @nimgould about an issue that I had during the installation process (since I was following the Homebrew instructions, which are apparently out of date).  I did not submit an issue about this to the GALAHAD repository, but @nimgould is aware of it nonetheless.

In terms of the review section "Documentation > A statement of

[2022-11-23 18:35] masadcv commented on #4532
Hi @danielskatz
Many thanks for proofreading and for suggesting changes. All looks good to me, so I have merged these. Please do let me know if there is anything else required from my side.

[2022-11-23 18:40] danielskatz commented on #4532
@editorialbot recommend-accept

[2022-11-23 18:48] dunnkers commented on #4611
Hi @danielskatz ! Great we are almost there 😃.

Thanks for your PR, it's merged ✅.

[2022-11-23 18:48] danielskatz commented on #4532
@editorialbot accept

[2022-11-23 18:49] dunnkers commented on #4611
That's awesome, thanks @diehlpk !

[2022-11-23 18:49] danielskatz commented on #4611
@editorialbot recommend-accept

[2022-11-23 18:52] danielskatz commented on #4611
@editorialbot accept

[2022-11-23 18:55] masadcv commented on #4532
Many thanks @danielskatz , @vissarion , @jacobmerson , @dataplayer12 and @yhtang for your efforts on improving this work and recommendation to accept.

[2022-11-23 18:57] danielskatz commented on #4532
Congratulations to @masadcv (Muhammad Asad) and co-authors!!

And thanks to @jacobmerson and @dataplayer12 for reviewing, and to @vissarion for editing!
We couldn't do this without you

[2022-11-23 18:57] #4532 closed

[2022-11-23 19:00] robchallen commented on #4707
Thanks @ajstewartlang, @craig-willis and @debruine. Really useful to get the comments and feedback and I learnt a lot in the process.

I'm not sure what order to do this all but yes I have fixed the typo(s)  in `release-0.2.5` branch, I have deployed that version to the R-universe and will now submit as an update to CRAN.

[2022-11-23 19:02] danielskatz commented on #4611
This DOI isn't resolving for me yet - I will leave this issue open for now, and come back and check again in a little while.  But other than that, the process is complete

[2022-11-23 19:13] robbiemorrison commented on #4795
@editorialbot commands

[2022-11-23 19:14] robbiemorrison commented on #4958
@editorialbot generate my checklist

[2022-11-23 19:17] 0xCoto commented on #4915
@editorialbot generate pdf

[2022-11-23 19:21] rkurchin commented on #4925
@editorialbot add @agoyal06 as reviewer

[2022-11-23 19:21] editorialbot opened #4962 "[REVIEW]: py-sc-fermi: self-consistent Fermi energies and defect concentrations from electronic structure calculations"
**Submitting author:** @alexsquires (<a href="http://orcid.org/0000-0001-6967-3690">Alexander G. Squires</a>)
**Repository:** https://github.com/bjmorgan/py-sc-fermi
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.0
**Editor:** @rkurchin
**Reviewers:** @hongzhouye, @ajgoyal
**Archive:** 10.5281/zenodo.7567782

## Status

[![status](https://joss.theoj.org/papers/2fa8b3d80281c36

[2022-11-23 19:21] #4925 closed

[2022-11-23 19:29] rkurchin commented on #4962
@alexsquires when you have a moment, check if the DOI's suggested above are valid and add them in to your manuscript.

[2022-11-23 19:31] alexsquires commented on #4962
Will do! Thanks all for agreeing to edit and review!

[2022-11-23 19:32] dunnkers commented on #4611
👍. I also cannot get hold of the DOI link.

By the way: is it possible to have my name displayed as _Jeroen G. S. Overschie_ instead of _Jeroen G. s. Overschie_ (capitalised second names) on the JOSS website?

![image](https://user-images.githubusercontent.com/744430/203631793-39217cb0-8b5c-447e-b7cc-ce4eb704895e.jpeg)

That would be awesome. Thanks

[2022-11-23 19:38] emdupre commented on #4892
Thank you for the suggestions, @a9p !

I've also reached out to a few potential reviewers over email ; I will, though, send out new invitations after the holiday (tomorrow and Friday here in the US).

[2022-11-23 19:59] limey-bean commented on #4960
Here are a few other possible reviewers.  I don't believe they are on the list: Nastassia Patin, Tamara Schenekar, Vanessa Arranz

[2022-11-23 20:45] florian-huber commented on #4877
- Article text and Readme need some text edits. A first round of suggestions here: https://github.com/phpuech/OT_Analysis/pull/1
- Similar thing needs to be done for the Readme.

[2022-11-23 21:04] danielskatz commented on #4611
@arfon - can you check on the DOI issue, as well as the author's name as discussed above?

[2022-11-23 21:38] ppxasjsm commented on #4719
@editorialbot set 10.5281/zenodo.7313602 as archive

[2022-11-23 21:38] ppxasjsm commented on #4719
@editorialbot set 1.0.0 as version

[2022-11-23 21:38] ppxasjsm commented on #4719
@editorialbot recommend-accept

[2022-11-23 21:46] ppxasjsm commented on #4719
I don't have any further comments on this paper and am happy to proceed with acceptance. @thohamm can you confirm you are ok with the proofs of the final article?

[2022-11-23 21:48] ppxasjsm commented on #4888
@maurov, I was wondering if you'd be willing to review this paper for me?

[2022-11-23 21:48] ppxasjsm commented on #4888
@marwanalam2, You seem to have the right expertise to review this paper, would you be available for this?

[2022-11-23 21:49] ppxasjsm commented on #4888
No sorry, I had indeed missed it somehow and then spent a week drowning in many urgent tasks, apologies for the slow pick up.

[2022-11-23 21:53] ppxasjsm commented on #4861
@dotsdl and @lohedges, I've just sent you a gentle reminder email for this review.

[2022-11-23 21:54] ppxasjsm commented on #4693
@degiacom and @lorenzo-rovigatti could I get an update from both of you how you are getting on with this please?

[2022-11-23 22:34] carinogurjao commented on #4898
@editorialbot generate my checklist

[2022-11-24 00:39] msalibian commented on #4947
@editorialbot generate my checklist

[2022-11-24 02:38] mgm8 commented on #4915
@0xCoto Sorry, I made the last changes in a different branch and I think the generated article proof is outdated. I just merged the dev branch to the main and now the article proof should be updated.

@editorialbot generate pdf

[2022-11-24 02:49] mgm8 commented on #4915
@editorialbot generate pdf

[2022-11-24 04:30] Aslan-Kosakian commented on #4808
@vyrjana Thank you for the very comprehensive responses to my comments both in this thread and in the manuscript. The new version of the paper addresses my previous comments fully and in great detail. My only concern in that regard is the discussion of the LEVM/LEVMW shortcomings compared to DearEIS in lines 56-68. The discussion adds details that were lacking in the previous version of the manusc

[2022-11-24 04:43] Aslan-Kosakian commented on #4808
@jgostick I have finished my review and recommend the paper for publication. The only thing that I think needs to be edited before the final publication is the LEVM/LEVMW discussion in the manuscript. The rest of my comments in the previous message are minor, and I do not see any issues preventing new users from successful onboarding with the current version of the software.

@vyrjana Again, great

[2022-11-24 06:58] vyrjana commented on #4808
@Aslan-Kosakian, thanks again for your comments!

## Comment

## Response

I was a bit worried about it coming off as too negative. I will try to address this in the next version of the manuscript.

## Comment

## Response

That it is technically the correct way to set the number of **processes** that DearEIS (i.e., pyimpspec under the hood) should use though I prefer to explicitly use something l

[2022-11-24 07:34] maurov commented on #4888
@ppxasjsm yes, this paper fits my domain of expertise and I am happy to review it. Please, let me know the steps to follow, as this is my first review for JOSS.

[2022-11-24 08:15] EwaGomez commented on #4799
@fraukewiese : I am waiting with my further review on the already opened issues.

[2022-11-24 08:32] vyrjana commented on #4808
@editorialbot generate pdf

[2022-11-24 09:44] Jacks0nJ commented on #4607
Mind linking to a guide on how to do this? Apologies but I'm slightly unsure what tagged release is.

Do I just need to follow the steps outlined in the link below?

 https://docs.github.com/en/repositories/releasing-projects-on-github/managing-releases-in-a-repository

[2022-11-24 09:44] StylianosVitalis-TomTom commented on #4868
@Failxxx @hugoledoux Apologies for the delay. It has been quite a busy period. I'll proceed with the review asap (at least before the end of next week).

[2022-11-24 09:52] vissarion commented on #3732
Hi @krystophny could you please update us on your review progress? You have to run the following command in order to create you checklist `@editorialbot generate my checklist` and then fill it out during your review.

[2022-11-24 09:58] britta-wstnr commented on #4856
Hi @hinerm 👋

Would you be willing to review the submission:
FijiRelax: Fast and noise-corrected estimation of MRI relaxation maps in 3D + t
for [The Journal of Open Source Software (JOSS)](https://joss.theoj.org/)?

The review concerns the software [FijiRelax](https://github.com/Rocsg/FijiRelax) and a [short paper](https://github.com/openjournals/joss-papers/blob/joss.04856/joss.04856/10.21105.jo

[2022-11-24 10:55] osorensen commented on #4922
@editorialbot assign @osorensen as editor

[2022-11-24 11:08] osorensen commented on #4922
@vindex10 I'm the editor for this submission now. If you have any suggestions for reviewers I'd be happy to hear.

[2022-11-24 11:28] N-Wouda commented on #4941
@danielskatz @hugoledoux can we somehow update the version to v5.0.2? My co-author and I have added a few things over the past weeks that caused the text (and PyPI package) to diverge a bit from the version I originally put up for review.

[2022-11-24 12:05] bethbiller commented on #4774
A few comments for the authors, mostly (but not entirely) on the documentation provided:

1) Installation -- I had no problem installing VIP on two different linux machines, however, I couldn't get it to install on my Mac because I couldn't manage to get opencv-python to install correctly.  The main functionality of the package does not rely on opencv-python and every tool in the package can poten

[2022-11-24 12:06] gcattan commented on #4959
Hello,
From the list you provided, here are a few suggestion as reviewers:
- agricolab
- humanfactors
- xtruan
- GeekLogan

[2022-11-24 12:31] csoneson commented on #4545
👋🏻 @patRyserWelch8 - could you please confirm that you received the message above about the revised JOSS submission of `dsBinVal`, and that you are willing to take a look at it? If you could provide a timeline of when you think you might get to it, that would be super helpful. Thanks!!

[2022-11-24 12:37] thohamm commented on #4719
@editorialbot generate pdf

[2022-11-24 12:43] thohamm commented on #4719
I corrected one typo and can confirm that we are ok with the proofs.

[2022-11-24 13:17] krystophny commented on #3732
Thanks for the reminder, I’m now finally on it.

[2022-11-24 13:17] krystophny commented on #3732
@editorialbot generate my checklist

[2022-11-24 13:46] ivastar commented on #4774
@m-samland also sent me the following via e-mail:

There is one crucial citation missing in the paper since it mentions that this is the only package that does FFT shifting, rotations etc. There is another high-contrast imaging pipeline that did this before that should at least be mentioned, even if the code is not on github as far as I know.

https://ui.adsabs.harvard.edu/abs/2016MNRAS.455.2178H/

[2022-11-24 13:50] ivastar commented on #4774
Thanks @m-samland and @bethbiller! @VChristiaens both reviewers have completed their reviews. Please let us know when you've managed to make changes as appropriate to your submission.

[2022-11-24 14:27] jgostick commented on #4808
Hi @vyrjana
Great job addressing all the comments.  I can tell that the release will be much better for it, even though it was quite a lot of effort.  Anyway, before we can move ahead with accepting there are a few more tasks for you to do:

# Post-Review Checklist for Editor and Authors
## Additional Author Tasks After Review is Complete
- [ ] Double check authors and affiliations (including ORCI

[2022-11-24 14:48] stefanocoretta commented on #4847
Hi! Sorry, I will need more time. I am taking part of industrial action for the pension cuts on higher education employees in the UK.

[2022-11-24 14:50] ttarkowski commented on #4902
@editorialbot generate pdf

[2022-11-24 14:58] ttarkowski commented on #4902
@mbarzegary - I have just closed the last issue and regenerated the paper PDF file. Please feel free to open new issues if you think that my responses are not sufficient.

[2022-11-24 15:11] arfon commented on #4611
@xuanxu @tarleb – the name formatting looks good in the PDF here: https://github.com/openjournals/joss-papers/blob/f0d0a5e8b17e200bc09a0ecac00c59149ccba189/joss.04611/10.21105.joss.04611.pdf – is there a preferred way we can override the name in the front matter to accomplish this?

[2022-11-24 15:11] arfon commented on #4611
@editorialbot re-accept

[2022-11-24 15:12] arfon commented on #4611
@editorialbot reaccept

[2022-11-24 15:22] osorensen commented on #4847
That's fine @stefanocoretta. Thanks for getting back to us

[2022-11-24 15:33] arfon commented on #4611
DOI is now resolving but we'll need to re-reaccept when we figure out the capitalisation issue.

[2022-11-24 15:42] ajstewartlang commented on #4707
@editorialbot set release-0.2.5 as branch

[2022-11-24 15:43] ajstewartlang commented on #4707
@editorialbot generate pdf

[2022-11-24 15:49] danielskatz commented on #4611
While we wait for the final name fix, thanks to  @mcasl and @estefaniatalavera for reviewing, and to @diehlpk for editing!!  We couldn't do this without you

[2022-11-24 15:50] ajstewartlang commented on #4707
@editorialbot check references

[2022-11-24 15:57] ajstewartlang commented on #4707
:wave:  @robchallen

If you could now do the following please, that would be great:

- Make a [tagged release](https://docs.github.com/en/github/administering-a-repository/releasing-projects-on-github/managing-releases-in-a-repository) of the software.
- Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- Check the archival deposit (e.g., in

[2022-11-24 16:07] tarleb commented on #4611
It seems to be limited to the HTML presentation; both the PDF and JATS have the correct capitalization. Not sure what might be causing this.

[2022-11-24 16:11] PaulRitsche commented on #4948
@Kevin-Mattheus-Moerman thanks for the suggestions.

- We have fixed the links.
- The documentation link for the code documentation now points directly to the docstrings not the overview of packages and modules. However, displaying the links to each module and not directly the docstrings was intentional, as we thought this is easier to navigate.
- We have added a figure containig the image analysi

[2022-11-24 17:09] mohammadul commented on #4957
@editorialbot generate pdf

[2022-11-24 17:12] jbytecode commented on #4736
@HaoZeke - can we take your thoughts on the latest conservations? could you please update your status? thank you in advance!

[2022-11-24 17:41] Kevin-Mattheus-Moerman commented on #4948
@editorialbot generate pdf

[2022-11-24 18:52] jinhangjiang commented on #4515
Dear @derNarr,

Thank you for completing the draft and fixing the issues accordingly. The acknowledgment looks good to me. It is greatly appreciated. I am glad you found my input useful.

Also, thank you again for creating this python package to help the community.

Best,
Jinhang

[2022-11-24 20:10] frankier commented on #4515
@editorialbot generate pdf

[2022-11-24 20:14] frankier commented on #4515
@editorialbot check references
@editorialbot check repository

[2022-11-24 20:16] danielskatz commented on #4515
FYI, @editorialbot only sees a command if is the first thing in a comment, and thus also only one command can be in a comment

[2022-11-24 20:17] frankier commented on #4515
@editorialbot check repository

(Thanks for the heads-up)

[2022-11-24 20:42] liberostelios commented on #4868
@Failxxx  @hugoledoux  Apologies for the delay. It has been quite a busy period. I'll proceed with the review asap (at least before the end of next week).

[2022-11-24 20:54] frankier commented on #4515
Okay! I think the paper is probably a bit too long by JOSS standards now, which is 500-1000 words. (I think a little bit over 1000 words is okay, but it seems like it's probably too much now.) If it were possible to fit things on two pages that might be ideal. I suppose this is an editorial issue and so might be beyond my remit and not quite sure how much this is enforced.

It's possible the plot

[2022-11-25 02:34] Aslan-Kosakian commented on #4808
@vyrjana Thank you for addressing the comments.

It doesn't run for me at all with DearEIS 3.3.0 and pyimpspec 3.2.1, I included the error message earlier.

That fixed the issue for me, thank you. The code seems to be running much faster now that the issue with OpenBLAS was fixed, so even though DearEIS/pyimpspec uses all threads by default, it doesn't take long. So all good! But thank you for add

[2022-11-25 02:56] obaica commented on #4817
@editorialbot generate my checklist

[2022-11-25 04:33] obaica commented on #4817
Hi @rkurchin, I've finished my review. This is an excellent and easy-to-use (e.g., includes a user-friendly command line interface) code that provides new insights for the defect research community. With this tool, I believe it will enable researchers to gain a deeper and more accurate understanding of defect-related properties, and I would highly recommend it for publication in JOSS.

For the aut

[2022-11-25 06:28] hugoledoux commented on #4941
yes you can, no problems.

I'm looking for reviewers, it should take a few days, and then the review starts. But part of the review is to improve the code and eventually release a new version, so updating now is not an issue at all 👍

[2022-11-25 07:32] arfon commented on #4655
@editorialbot recommend-accept

[2022-11-25 07:37] arfon commented on #4655
@editorialbot accept

[2022-11-25 07:47] arfon commented on #4655
Apologies it took a while to get this published folks!

@wiljnich, @simonpcouch – many thanks for your reviews here and to @osorensen for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@adriancorrendo – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-11-25 07:47] #4655 closed

[2022-11-25 07:49] arfon commented on #4754
@editorialbot accept

[2022-11-25 07:55] arfon commented on #4754
Hi all, apologies for the delay getting to this paper!

@sara-02, @yiitozer – many thanks for your reviews here and to @faroit for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@MarieRoald – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-11-25 07:55] #4754 closed

[2022-11-25 08:00] arfon commented on #3527
@editorialbot accept

[2022-11-25 08:03] osorensen commented on #4515
Thanks @frankier, your thorough review is very much appreciated!

Regarding the paper length @derNarr, I think the paper is it is now is fine, because it seems like the large number of references inflates the word count a bit (and a large number of references is in general a good thing).

[2022-11-25 08:06] arfon commented on #3527
@rMassimiliano, @malmaud – many thanks for your reviews here and to @adi3 for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@AP6YC – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-11-25 08:06] #3527 closed

[2022-11-25 08:09] arfon commented on #4921
@editorialbot assign @faroit as editor

Thanks @faroit – you can always grab a paper yourself with `@editorialbot assign me as editor`

[2022-11-25 08:10] arfon commented on #4833
@hjwilli – can you merge `master` into your `joss` branch? That way our bot can pick up the code statistics of the repository too.

[2022-11-25 08:11] editorialbot opened #4963 "[PRE REVIEW]: flowMC: Normalizing-flow enhanced sampling package for probabilistic inference in Jax"
**Submitting author:** @kazewong (<a href="http://orcid.org/0000-0001-8432-7788">Kaze W. K. Wong</a>)
**Repository:** https://github.com/kazewong/flowMC
**Branch with paper.md** (empty if default branch): 40-joss-paper
**Version:** v0.0.7
**Editor:** @rkurchin
**Reviewers:** @matt-graham, @daniel-dodd
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/5b60695b2a8445

[2022-11-25 08:11] editorialbot opened #4964 "[PRE REVIEW]: HiPart: Hierarchical divisive clustering toolbox"
**Submitting author:** @panagiotisanagnostou (<a href="http://orcid.org/0000-0002-4775-9220">Panagiotis Anagnostou</a>)
**Repository:** https://github.com/panagiotisanagnostou/HiPart
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.1.18
**Editor:** @jbytecode
**Reviewers:** @AP6YC, @jjerphan
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers

[2022-11-25 08:11] editorialbot opened #4965 "[PRE REVIEW]: Pybullet Industrial: A process-aware robot simulation"
**Submitting author:** @liquidcronos (<a href="http://orcid.org/0000-0002-7825-3476">Jan Baumgärtner</a>)
**Repository:** https://github.com/WBK-Robotics/pybullet_industrial
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.0.0
**Editor:** @adi3
**Reviewers:** @CameronDevine, @sea-bass
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/43d813

[2022-11-25 08:11] editorialbot opened #4966 "[PRE REVIEW]: pytorch-widedeep: A flexible package for multimodal-deep-learning"
**Submitting author:** @5uperpalo (<a href="http://orcid.org/0000-0002-9394-8794">Pavol Mulinka</a>)
**Repository:** https://github.com/jrzaurin/pytorch-widedeep
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v1.2.1
**Editor:** @osorensen
**Reviewers:** @siboehm, @dataplayer12, @makoeppel
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/paper

[2022-11-25 08:11] editorialbot opened #4967 "[PRE REVIEW]: GNS: A generalizable Graph Neural Network-based simulator for particulate and fluid modeling"
**Submitting author:** @kks32 (<a href="http://orcid.org/0000-0003-2144-5562">Krishna Kumar</a>)
**Repository:** https://github.com/geoelements/gns
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** @osorensen
**Reviewers:** @TranzWu, @olgadoronina, @WPettersson
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/d5d6ee3247e52ec932107

[2022-11-25 08:13] arfon commented on #4964
@editorialbot set paper as branch

[2022-11-25 08:13] arfon commented on #4964
@editorialbot check repository

[2022-11-25 08:15] arfon commented on #4965
@liquidcronos – could you merge your default git branch into the `paper` branch so our bot can pick up the code statistics here please?

[2022-11-25 08:16] arfon commented on #4966
@5uperpalo – looks like one of your authors has an invalid ORCID here. Could you please fix and try compiling the paper again with the command `@editorialbot generate pdf`: https://github.com/openjournals/joss-papers/actions/runs/3546332228/jobs/5955266136#step:3:97

[2022-11-25 08:18] arfon commented on #4967
Output of `cloc`:

[code]

[2022-11-25 08:18] arfon commented on #4967
@editorialbot query scope

@kks32 – due to the relatively small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week or two.

[2022-11-25 08:20] arfon commented on #4957
Here's the output of `cloc` for this repository:

[code]

[2022-11-25 08:21] N-Wouda commented on #4941
@hugoledoux thanks for the explanation and update!

[2022-11-25 08:24] arfon commented on #4611
@xuanxu - perhaps this is `theoj` Gem doing something weird here?

[2022-11-25 08:35] Rocsg commented on #4856
Hi @britta-wstnr
While cross-searching on GitHub / scholar, we identified two other potential reviewers:
* LudgerS is working on MRI software closely related to FijiRelax topics (including denoising MRI relaxation data, and fast exponential fitting).
* matteomancini also works on MRI projects (different types of MRI data).

[2022-11-25 09:30] MarieRoald commented on #4754
🎉 Thank you to @faroit for editing, and thanks a lot to @yiitozer and @sara-02! Your helpful comments improved the paper and code 😃✨

[2022-11-25 09:53] ajstewartlang commented on #4886
@editorialbot add @VenkteshV as reviewer

[2022-11-25 10:10] xuanxu commented on #4838
@grburgess Please update us on your availablity to complete the review.

[2022-11-25 10:16] drvinceknight commented on #4607
No problem @Jacks0nJ (no need to apologise), the steps here are indeed what you need to do: https://docs.github.com/en/repositories/releasing-projects-on-github/managing-releases-in-a-repository#creating-a-release

[2022-11-25 10:18] drvinceknight commented on #4956
@ericneiva @idoby @matt-graham and @diegomcarvalho I'm pinging you to ask if you would be able to assist with reviewing this submissions to JOSS (The Journal of Open Source Software).

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: “DistributedSparseGrids.jl: A Julia library implementing an Adaptive Sparse Grid collocation method ”. Yo

[2022-11-25 11:11] liquidcronos commented on #4965
Sure thing, I have just merged it

[2022-11-25 11:13] ireaml commented on #4817
Hi @mkhorton, thanks for helpful review!

Regarding the comments:

1. We think that refactoring `snb.run` using a workflow manager might not be worthy in our case. Given the initial learning curve/database setup required for `aiida`/`atomate`, this might become a barrier for some users. However, we agree that for high-throughput applications, integration with a workflow manager will be helpful, so

[2022-11-25 11:34] xuanxu commented on #4611
Yes, the parsing was taking the second names as a dropping particle.
Reaccepting the paper after [this change](https://github.com/dunnkers/fseval/pull/95) should fix it.

[2022-11-25 12:18] ireaml commented on #4817
Hi @obaica , thanks for the detailed review - good catch on the typo!

1. Input files are provided in the [`tests/data/vasp/CdTe`](https://github.com/SMTG-UCL/ShakeNBreak/tree/main/tests/data/vasp/CdTe) directory
2. We have now added a second example notebook, showing how to generate interstitial defects using `Doped` and apply `ShakeNBreak` to them. (commit [536307a6](https://github.com/SMTG-UCL/

[2022-11-25 12:54] vindex10 commented on #4922
Hi @osorensen , we don't have any suggestions at the moment. Could you please describe the procedure, would you assign someone on your choice then, or we need to actually find the reviewers ourselves? Thank you!

[2022-11-25 13:06] osorensen commented on #4922
Hi @vindex10, yes, I'll try to ask potential reviewers

[2022-11-25 13:09] osorensen commented on #4922
:wave: @amorenobr @bsgalvan @jdalzatec @gianthk would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-11-25 13:24] dunnkers commented on #4611
That's awesome @xuanxu . PR approved & merged ✓

[2022-11-25 13:38] ebezzam commented on #4878
@bmcfee I've finished my review. I also recommend revisions before acceptance. Globally I think it's a useful package that provides (1) signal processing techniques to conveniently analyze and compare different aspects of harmonic signals and (2)  a solution that is accessible for non-programming saavy people.

If possible, I would consider re-naming the package as I believe these techniques are n

[2022-11-25 13:43] danielskatz commented on #4611
@editorialbot reaccept

[2022-11-25 13:50] BSGalvan commented on #4922
Hello!
I'd love to help!
PS: This is my first time reviewing for JOSS, so please bear with me while I figure this out😄

[2022-11-25 13:54] danielskatz commented on #4611
All now looks good to me - thanks @arfon and @xuanxu !!

[2022-11-25 13:54] danielskatz commented on #4611
And congratulations to @dunnkers and co-authors!!

[2022-11-25 13:54] #4611 closed

[2022-11-25 14:11] gianthk commented on #4922
@osorensen sorry but this is definitely not my field

[2022-11-25 14:43] osorensen commented on #4922
@editorialbot add @BSGalvan as reviewer

[2022-11-25 15:11] ericneiva commented on #4956
Hi, @drvinceknight, I will be pleased to assist with reviewing this submission. Thanks for the invitation!

[2022-11-25 15:12] osorensen commented on #4922
Thanks @BSGalvan. I'll start a review issue after I find one or two additional reviewers. You'll be notified.

[2022-11-25 15:21] mbkumar commented on #4898
@galessiorob
I took the first pass at the code. I updated my checklist with my comments. Once the issues raised are addressed, I will take another look.

[2022-11-25 15:39] dhhagan commented on #4412
@editorialbot add @claresinger as reviewer

[2022-11-25 15:39] dhhagan commented on #4412
@editorialbot add @douglowe as reviewer

[2022-11-25 15:40] dhhagan commented on #4412
@editorialbot start review

[2022-11-25 15:40] editorialbot opened #4968 "[REVIEW]: New developments in PySDM and PySDM-examples v2: collisional breakup, immersion freezing, dry aerosol composition initialisation, and adaptive time-stepping"
**Submitting author:** @edejong-caltech (<a href="http://orcid.org/0000-0002-5310-4554">Emily de Jong</a>)
**Repository:** https://github.com/atmos-cloud-sim-uj/PySDM
**Branch with paper.md** (empty if default branch):
**Version:** v2.8
**Editor:** @dhhagan
**Reviewers:** @claresinger, @douglowe
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/5110170dd97fe1ebf08227881f76b

[2022-11-25 15:40] #4412 closed

[2022-11-25 15:44] dfm commented on #4853
@editorialbot add @cosimoNigro as reviewer

🎉 Thanks @cosimoNigro for agreeing to review this submission!! I'm still working on recruiting a second reviewer (thanks all for your patience!), and then I'll get the review started.

[2022-11-25 15:46] slayoo commented on #4412
@dhhagan

Clare is an author here, not a reviewer.
The intended command likely was: `@editorialbot add @emmasimp as reviewer`

[2022-11-25 15:53] drvinceknight commented on #4956
Great thank you @ericneiva.

[2022-11-25 15:54] drvinceknight commented on #4956
@editorialbot add @ericneiva  as reviewer

[2022-11-25 15:54] drvinceknight commented on #4956
@editorialbot commands

[2022-11-25 15:54] drvinceknight commented on #4956
@editorialbot add @ericneiva as reviewer

[2022-11-25 16:32] dfm commented on #4853
@editorialbot add @volodymyrss as reviewer

🎉 Thanks also to @volodymyrss for agreeing to be our second reviewer in record time!!

I'll get the main review thread started and we'll have instructions for how the review will proceed over there. Thanks all!!

[2022-11-25 16:32] dfm commented on #4853
@editorialbot start review

[2022-11-25 16:32] editorialbot opened #4969 "[REVIEW]: ronswanson: Building Table Models for 3ML"
**Submitting author:** @grburgess (<a href="http://orcid.org/0000-0003-3345-9515">J. Michael Burgess</a>)
**Repository:** https://github.com/grburgess/ronswanson
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.10
**Editor:** @dfm
**Reviewers:** @cosimoNigro, @volodymyrss
**Archive:** 10.5281/zenodo.7778865

## Status

[![status](https://joss.theoj.org/papers/b9ab6f687a9f3018b

[2022-11-25 16:32] #4853 closed

[2022-11-25 16:33] dfm commented on #4969
@cosimoNigro, @volodymyrss — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

👉 **Please read the "Reviewer instructions & questions" in the first comment above, and generate your checklists by commenting `@editorialbot generate my checklist` on this issue ASAP.** As you go over the submission, please check

[2022-11-25 16:38] dfm commented on #4939
@editorialbot assign me as editor

@tomkimpson — Thanks for the info. The editorial team agrees that your submission is within scope! I'll be editing your submission and I'll start looking for reviewers shortly. This is a particularly busy time of year so this can sometimes take some time. Thanks in advance for your patience!

[2022-11-25 16:41] amorenobr commented on #4922
Thanks @osorensen! I'd love to help too.

[2022-11-25 16:47] dfm commented on #4692
@josephwkania — Please give us an update on your progress responding to the feedback in this review!

[2022-11-25 16:57] jdalzatec commented on #4922
@osorensen Sure thing! thanks for taking me into account.

[2022-11-25 17:07] Chjulian commented on #4193
Dear all,

I tested smot on a macOS M1 with Monterey 12.6
I installed it without any warnings/errors.
I ran and checked all the examples provided, and some are not working as intended (see below)

--------
Errors:
I used the pdm.tre (ntax=247) stored in smot/test-data/ and the outputs have 233, two, three and four tips. Those outputs do not match figure (A). I suspect this is the wrong tree, given

[2022-11-25 17:12] robchallen commented on #4707
10.5281/zenodo.7352369

https://github.com/terminological/dtrackr/releases/tag/0.2.5-cran-submission

@ajstewartlang Many thanks. I think I have done this bit right - it looks all correct on zenodo.

[2022-11-25 17:19] amorenobr commented on #4922
Thanks @osorensen! I'd love to help too.

On Fri, Nov 25, 2022 at 8:09 AM Øystein Sørensen ***@***.***>
wrote:

--
Alexander Moreno Briceño, PhD
Profesor Asistente - Investigador
Grupo Física Fenomenología de Partículas Elementales y Cosmología
Departamento de Física - Facultad de Ciencias
Universidad Antonio Nariño - Sede Ibagué
Colombia

[2022-11-25 17:23] nmoran commented on #4073
Hi @diehlpk , apologies for delay, but was away for a bit. I can review in the coming week if not too late?

[2022-11-25 17:25] amorenobr commented on #4922
Thanks @osorensen! I'd love to help too.

[2022-11-25 17:35] JakobBD commented on #4683
@salrm thanks to you as well for reviewing this paper!

Yes, that makes sense. I’ve added a section `Tests` in the `Getting Started` chapter.

Oh yes, thanks for the comment. I’ve added a section to the `Features` chapter of the documentation. I haven’t added it to the paper, since it’s supposed to be very short and, for example, also does not mention the included baseline solvers.

Short answer:

[2022-11-25 17:36] osorensen commented on #4922
@editorialbot add @jdalzatec as reviewer

[2022-11-25 17:36] osorensen commented on #4922
@editorialbot add @amorenobr as reviewer

[2022-11-25 18:21] neillu23 commented on #4746
Hi @faroit, all the reviewers you mentioned are a good fit for our work! I believe @ jonashaag, @ jordipons and @ TParcollet would be more close to this paper.

However, we haven't finished reducing the word count, so can you help us temporarily suspend the review process? I apologize for any inconvenience caused to you!

[2022-11-25 20:15] 0xCoto commented on #4915
@mgm8 - Comments for the rest of the manuscript:

- "Statement of need" → "Statement of Need" (section capitalization is inconsistent)
- In Table 1, the _"up to"_ prefixes can be neglected, since the header _"**Max.** Data Size"_ already indicates the upper limit.
- Line 32-33: "GNURadio" → "GNU Radio" (and should be cited for those unfamiliar with the GNU Radio framework)
- Line 52:  "Inside the

[2022-11-25 20:36] diehlpk commented on #4073
Thank you.

[2022-11-25 20:36] diehlpk commented on #4073
@editorialbot add @nmoran as reviewer

[2022-11-26 10:01] lc09c commented on #4859
Hello.

@Kevin-Mattheus-Moerman I fixed the problem in Zenodo (licence and author orders) and I also  followed the suggestion in the "Recomandations section". Let me know if there is any other problem.

Have  a nice day/evening

[2022-11-26 10:06] nmoran commented on #4073
@editorialbot generate my checklist

[2022-11-26 11:08] SYalouz commented on #4759
Dear @jarvist,  Dear @wcwitt,

We implemented all the corrections required. We thus closed the issues raised by @wcwitt.

[2022-11-26 12:05] arendsee commented on #4193
Thanks @Chjulian, I updated example 2. The example with `smot sample mono` shouldn't raise an error in the current version of `smot`. Previously `smot` died on failure to access a field by index in a taxa name. But that was a bit drastic, so now it will skip these cases.

[2022-11-26 12:25] lucydot commented on #4624
Thanks for update @fnattino  , I'll chase @hgandhi2411 up by email

[2022-11-26 13:16] editorialbot opened #4970 "[PRE REVIEW]: Krylov.jl: A Julia basket of hand-picked Krylov methods"
**Submitting author:** @amontoison (<a href="http://orcid.org/0000-0002-3403-5450">Alexis Montoison</a>)
**Repository:** https://github.com/JuliaSmoothOptimizers/Krylov.jl
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.9.0
**Editor:** @jedbrown
**Reviewers:** @vchuravy, @prj-
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/992d8

[2022-11-26 13:19] danielskatz commented on #4970
👋 @jedbrown - would you be able to edit this submission?

[2022-11-26 13:19] danielskatz commented on #4970
@editorialbot invite @jedbrown as editor

[2022-11-26 13:20] danielskatz commented on #4468
@kellyrowland - It looks like you may need to find another reviewer at this point

[2022-11-26 13:21] danielskatz commented on #2954
@michakraus - again, I'm wondering what happened about the "another update before the weekend"?

[2022-11-26 13:43] krystophny commented on #3732
I am sorry that I have to propose to reject the submission in the current state. I am not willing to invest more any more time into this as a reviewer. The reasons are the following.

1) There are only few git commits, and not a single one is from the main author. Furthermore, it derives from another package OSCILOS_long, and it is not clear what code is re-used. I can therefore not verify the aut

[2022-11-26 14:56] dfm commented on #4831
@editorialbot add @GageDeZoort as reviewer

🎉 Thanks @GageDeZoort for agreeing to be our second reviewer!!

I'll get the main review started in a new thread and I'll have more info over there. Thanks all for your patience and for participating in this process!!

[2022-11-26 14:56] dfm commented on #4831
@editorialbot start review

[2022-11-26 14:57] editorialbot opened #4971 "[REVIEW]: GraphNeT: Graph neural networks for neutrino telescope event reconstruction"
**Submitting author:** @asogaard (<a href="http://orcid.org/0000-0002-0823-056X">Andreas Søgaard</a>)
**Repository:** https://github.com/graphnet-team/graphnet
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @dfm
**Reviewers:** @JostMigenda, @GageDeZoort
**Archive:** 10.5281/zenodo.7928487

## Status

[![status](https://joss.theoj.org/papers/eecab02fb1ecd174a527

[2022-11-26 14:57] #4831 closed

[2022-11-26 14:58] dfm commented on #4971
@JostMigenda, @GageDeZoort — This is the review thread for the paper. All of our correspondence will happen here from now on. Thanks again for agreeing to participate!

👉 **Please read the "Reviewer instructions & questions" in the first comment above, and generate your checklists by commenting `@editorialbot generate my checklist` on this issue ASAP.** As you go over the submission, please check

[2022-11-26 18:13] Rupali-Sahu commented on #4672
Hi Lucy!

I am happy with the author's response on my comments. I would recommend this work for publication in JOSS as it would provide an easily accessible tool to test many hypotheses for anomalous electron transport.

[2022-11-26 18:27] amontoison commented on #4970
Based on the [list of people](https://bit.ly/joss-reviewers), I suggest `leios` and `mvaldes` as reviewers.

[2022-11-26 19:02] kks32 commented on #4967
@arfon Thank you so much. I'd like to add the GNS code has been used as the Oracle in this conference paper https://arxiv.org/pdf/2206.12683.pdf (citation 13)

[2022-11-26 19:37] claresinger commented on #4968
@dhhagan Please remove me as a reviewer. I am an author on this paper.

[2022-11-26 19:39] claresinger commented on #4412
@dhhagan Please remove me as a reviewer. I am an author on this paper.

[2022-11-26 22:25] Kevin-Mattheus-Moerman commented on #4859
@editorialbot generate pdf

[2022-11-27 04:59] igarizio commented on #4881
Hi everyone!
My checklist is complete.
Thanks again @WPettersson for the submission! 🎉

[2022-11-27 08:21] Kevin-Mattheus-Moerman commented on #4859
@lcmpikg All good except perhaps the last point above. You changed the sentence but it now reads `...subsequently be minimized...`. The `be` should be removed here so it reads `...subsequently minimized...`.

[2022-11-27 08:29] Kevin-Mattheus-Moerman commented on #4719
@editorialbot set v1.0.0 as version

[2022-11-27 08:31] Kevin-Mattheus-Moerman commented on #4719
@ppxasjsm thanks for editing this submission. A minor feedback point. Please include the `v` if it is part of the version tag e.g. `v1.0.0`. So the version tag should match the one shown here: `https://github.com/ICAMS/strucscan/tags`. I'll also ask the authors to edit the version listed on ZENODO which currently says `version 1.0.0`.

[2022-11-27 09:10] Kevin-Mattheus-Moerman commented on #4719
@thohamm I am an AEiC for this track and here to help process acceptance of this work in JOSS. I've studied your repository, the archived version, and this review. I've also proofread your paper. I have the following minor points that require your attention before we proceed to process this for acceptance (feel free to disagree with language suggestions or to propose your own alternatives if neede

[2022-11-27 10:12] lc09c commented on #4859
Sorry my fault. Now should be ok.

[2022-11-27 12:17] arfon commented on #4950
@marcosvital – it looks like one of the authors is using the default/placeholder (invalid) ORCID: https://github.com/openjournals/joss-papers/actions/runs/3524109400/jobs/5909088720#step:3:97

[2022-11-27 12:25] arfon commented on #4378
OK, sounds reasonable. This seems to have gone completely stale. Thanks for e-mailing the author here @danielskatz

[2022-11-27 12:26] arfon commented on #4210
@DavidDoukhan – just checking in again here. We've not heard from you since mid-June on this submission. Could you please clarify your intent here – are you still interested in pursing this publication in JOSS?

[2022-11-27 12:28] arfon commented on #4283
:wave: @agdturner – it's a month since we last heard from you – how are you getting along here with your updates?

[2022-11-27 12:29] arfon commented on #4602
:wave: @rhdtownsend – it's now three months since we heard from you on this submission. Could you re-confirm your interest in pursing this publication in JOSS?

[2022-11-27 12:30] arfon commented on #3125
👋 @tkonolige – just checking in again here. Can you confirm you're still interested in publishing this paper in JOSS?

[2022-11-27 12:32] arfon commented on #3125
(Just an FYI that I have emailed @tkonolige to clarify their plans here)

[2022-11-27 16:32] editorialbot opened #4972 "[PRE REVIEW]: Persistable: persistent and stable clustering"
**Submitting author:** @LuisScoccola (<a href="http://orcid.org/0000-0002-4862-722X">Luis Scoccola</a>)
**Repository:** https://github.com/LuisScoccola/persistable
**Branch with paper.md** (empty if default branch): https://github.com/LuisScoccola/persistable/tree/paper
**Version:** 0.3.2
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** George K.  Thiruvathukal

## Status

[![status](h

[2022-11-27 16:58] editorialbot opened #4973 "[PRE REVIEW]: CIMAP: Clustering for Identification of Muscle Activation Patterns"
**Submitting author:** @gregoriodotti (<a href="http://orcid.org/0000-0002-0004-0243">GREGORIO DOTTI</a>)
**Repository:** https://github.com/marcoghislieri/CIMAP/
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.4
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** George K.  Thiruvathukal

## Status

[![status](https://joss.theoj.org/papers/56c82c7dc9b02c98bb8cd74026

[2022-11-27 17:00] arfon commented on #4963
@kazewong - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-11-27 17:00] arfon commented on #4964
@panagiotisanagnostou - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-11-27 17:01] arfon commented on #4965
@editorialbot check repository

[2022-11-27 17:02] arfon commented on #4965
Output of `cloc` for @gkthiruvathukal:

[code]

[2022-11-27 17:03] arfon commented on #4965
@liquidcronos - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-11-27 17:04] arfon commented on #4966
@editorialbot check repository

[2022-11-27 17:04] arfon commented on #4972
@editorialbot set paper as branch

[2022-11-27 17:04] arfon commented on #4972
@editorialbot check repository

[2022-11-27 17:06] arfon commented on #4966
Output from `cloc`:

[code]

[2022-11-27 17:34] editorialbot opened #4974 "[PRE REVIEW]: PyExperimenter: Easily distribute experiments and track results"
**Submitting author:** @tornede (<a href="http://orcid.org/0000-0001-9954-462X">Tanja Tornede</a>)
**Repository:** https://github.com/tornede/py_experimenter
**Branch with paper.md** (empty if default branch): develop
**Version:** 1.1.0
**Editor:** @timtroendle
**Reviewers:** @ArsamAryandoust, @schnorr
**Managing EiC:** George K.  Thiruvathukal

## Status

[![status](https://joss.theoj.org/papers/

[2022-11-27 17:39] editorialbot opened #4975 "[PRE REVIEW]: Multi-view-AE: A Python package for multi-view autoencoder models"
**Submitting author:** @alawryaguila (<a href="http://orcid.org/0000-0003-0727-3274">Ana Lawry Aguila</a>)
**Repository:** https://github.com/alawryaguila/multi-view-AE
**Branch with paper.md** (empty if default branch): joss
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @abhi-glitchhg, @Saran-nns
**Managing EiC:** George K.  Thiruvathukal

## Status

[![status](https://joss.theoj.org/pape

[2022-11-27 17:40] editorialbot opened #4976 "[PRE REVIEW]: mlpack 4: a fast, header-only C++ machine learning library"
**Submitting author:** @rcurtin (<a href="http://orcid.org/0000-0002-9903-8214">Ryan Curtin</a>)
**Repository:** https://github.com/mlpack/mlpack
**Branch with paper.md** (empty if default branch): mlpack4_joss
**Version:** v4.0.0
**Editor:** @osorensen
**Reviewers:** @sandeep-ps, @zhangjy-ge
**Managing EiC:** George K.  Thiruvathukal

## Status

[![status](https://joss.theoj.org/papers/35ade482a1

[2022-11-27 17:44] rhdtownsend commented on #4602
Yes, I am still interested — been working on changes to address the referees' remarks.

cheers,

Rich

[2022-11-27 17:57] wcwitt commented on #4759
Look like good progress. I won't be able to take another detailed look until the week of 5-9 December.

[2022-11-27 18:07] AJQuinn commented on #4840
Hi @emdupre @edeno - Apologies for the long delay, my review is in progress and should be completed tomorrow. I'm impressed overall. This is a useful package though I think the documentation needs a bit of work.

I've added some issues on the docs and will complete some comments on the code tomorrow.

[2022-11-27 18:39] rcurtin commented on #4976
@editorialbot generate pdf

[2022-11-27 18:42] rcurtin commented on #4976
@editorialbot generate pdf

[2022-11-27 18:45] rcurtin commented on #4976
Ok, there we go, everything seems good now. :)  I have no particular reviewer recommendations; I suppose those who reviewed the mlpack 3 paper might be a decent choice, but it also might be a good idea to get new eyes on it.

[2022-11-27 18:46] LuisScoccola commented on #4972
**Potential reviewers:** contributors to the [ripser python package (published at JOSS)](https://github.com/scikit-tda/ripser.py) (e.g., _ctralie_, _sauln_), the [hdbscan python package (published at JOSS)](https://github.com/scikit-learn-contrib/hdbscan) (e.g., _lmcinnes_, _sastels_, _jc-healy_), and [rivet](https://github.com/rivetTDA/rivet) (e.g., _xoltar_, _mlwright84_) may be suitable because

[2022-11-27 19:18] jmschrei commented on #4881
Great, thanks!

[2022-11-27 19:25] jmschrei commented on #4881
@WPettersson do you have a DOI (e.g. from Zenodo) for the project and a specific version of the code you want tagged?

[2022-11-27 19:25] jmschrei commented on #4881
@editorialbot check references

[2022-11-27 19:26] jmschrei commented on #4881
@editorialbot generate pdf

[2022-11-27 19:27] jmschrei commented on #4881
Would you also mind looking into the invalid DOI?

[2022-11-27 19:47] WPettersson commented on #4881
Oh, totally forgot about that DOI thing, I was going to mention it earlier. That's from [this paper](https://dl.acm.org/doi/10.5555/2615731.2617407) which (as best I can tell) does not have a DOI, but is also the recommended citation for the particular repository mentioned in the paper ([the repository in question](https://github.com/JohnDickerson/KidneyExchange)). If I remove the DOI completely,

[2022-11-27 19:53] jmschrei commented on #4881
Hm. I'll leave that DOI question to the EiC.

Yeah, we need a DOI to publish the work. It should contain the entire repository and the paper.

[2022-11-27 20:19] WPettersson commented on #4881
Okay, I have a DOI now: [10.5281/zenodo.7369472](https://doi.org/10.5281/zenodo.7369472)

[2022-11-27 20:28] jmschrei commented on #4881
@editorialbot set v2.1.1 as version

[2022-11-27 20:28] jmschrei commented on #4881
@editorialbot set https://doi.org/10.5281/zenodo.7369472 as archive

[2022-11-27 20:28] jmschrei commented on #4881
@editorialbot recommend-accept

[2022-11-27 20:34] WPettersson commented on #4881
Huh, odd that it failed that but not earlier. Anyway, I can add 10.1016/ to the front of that DOI in the references if needed?

[2022-11-27 20:39] jmschrei commented on #4881
Yes, that would be helpful. Thanks!

[2022-11-27 20:50] WPettersson commented on #4881
Okay, I've pushed commits to fix that DOI, and to remove that invalid DOI. Seeing as the bot didn't complain about the other paper without a DOI, I figured that it should still work.

However, the zenodo data is now very-slightly out of date. Is that going to cause problems?

[2022-11-27 21:18] Kevin-Mattheus-Moerman commented on #4859
@editorialbot generate pdf

[2022-11-27 21:42] jmschrei commented on #4881
I don't think so, but if you'd like to get a new DOI I can assign that one.

[2022-11-27 21:45] WPettersson commented on #4881
I think it's best to leave it with the current DOI then, I don't really want two DOIs when the difference is so small.

[2022-11-27 22:44] pydemull commented on #4741
Thank you very much @samhforbes for checking the app and the paper. I have made the corrections following your remarks. I have also performed a new read of the paper without detecting new errors but, to be honest, as a non-native english speacker, it is possible that I may not be able to manage all the the subtleties of the English language if any.

[2022-11-27 22:55] gkthiruvathukal commented on #4972
@LuisScoccola Thank you.

[2022-11-27 23:01] Kevin-Mattheus-Moerman commented on #4859
@lcmpikg @lc09c all looks good now. I will now proceed to accept this submission in JOSS.

[2022-11-27 23:02] Kevin-Mattheus-Moerman commented on #4859
@editorialbot accept

[2022-11-27 23:10] Kevin-Mattheus-Moerman commented on #4859
@lcmpikg @lc09c congratulations on this publication!

Thank you @AoifeHughes for editing this submission.

Special thanks also to @taw10 and @mooniean for their review efforts!!!

[2022-11-27 23:10] #4859 closed

[2022-11-27 23:21] diegomcarvalho commented on #4956
Hi, Vince ***@***.***),

I'm so sorry for this late reply. I was way from my mailbox. If it is still missing a reviewer, please, you can include me.

All the best, d.c

[2022-11-27 23:26] gkthiruvathukal commented on #4967
@kks32 I can see the intellectual merit of this work. As the EIC responsible for this track (DSAIS), I share @arfon's concerns about the substantial scholarly effort criterion, which I believe has not been met. In addition, the paper you mentioned (citation 13) might raise more questions than answers as this paper also seems to be about the oracle itself. That is, as I read it, your paper is descr

[2022-11-28 01:06] agdturner commented on #4283
Hi @arfon,
I have improved the rendering code and applied this to visualise a few other data sets going beyond the Hello World Utah Teapot. I added more images in the [ccg-r3d README](http://gihub.com/agdturner/ccg-r3d).
A colleague supplied me with some data for a mountain region that they are studying. It is just the surface triangles and not really volumes, but I am hopeful this will lead to th

[2022-11-28 04:26] tkonolige commented on #3125
I've added a statement of need. Hopefully that covers all your concerns.

[2022-11-28 04:30] pritchardn commented on #4915
Documentation: Automated Tests

I see that automated tests are present, however, they are not mentioned in the documentation. The `usage` section is appreciated, but please add an additional small section for running the supplied tests and explaining what functionality each test script is exercising. I don't mind if this is a top-level section or sub-section to `usage`.

[2022-11-28 06:43] ansgarwenzel commented on #4843
Hi Patrick,

I was a bit sick the last two weeks.
I reviewed the latest version now, no more changes required from my side.

Kind regards,
Ansgar

Patrick Diehl ***@***.***> schrieb am Fr., 18. Nov. 2022,
18:37:

[2022-11-28 07:26] thohamm commented on #4719
@editorialbot generate pdf

[2022-11-28 07:49] thohamm commented on #4719
@Kevin-Mattheus-Moerman Thank you for your careful reading and suggestions.

The following points are changed:
- set zenodo version to v1.0.0
- changed to 'data-tree' throughput
- inserted past tense
- inserted all three comma suggestions and simplified sentence 'can be extended ..'
- changed to 'strucscan' in lowercase throughput

The remaining points were not changed as they are common terms or

[2022-11-28 07:50] pdebuyl commented on #4748
Hi @linusseelinger thank you for addressing the comments from both reviewers so far.

@georgiastuart @Himscipy can you assess the update?

[2022-11-28 08:17] idoby commented on #4956
Hi @drvinceknight, thanks for considering me but I'm so busy lately I can't commit to doing this right now.

The project seems interesting though, good luck to everyone involved.

[2022-11-28 08:21] Kevin-Mattheus-Moerman commented on #4719
@editorialbot accept

[2022-11-28 08:31] linusseelinger commented on #4748
@editorialbot generate pdf

[2022-11-28 09:02] matt-graham commented on #4956
Hi @drvinceknight. I would be happy to review this if you are still looking for additional reviewers

[2022-11-28 09:53] arfon commented on #4881
@editorialbot recommend-accept

[2022-11-28 09:57] arfon commented on #4881
Looks like the DOIs are looking good now 👍

[2022-11-28 09:58] WPettersson commented on #4881
Huh, I never knew that that journal accepted such short papers. Anyway, if people want me to, I can now change that citation to the new one from the journal, which has a DOI. I'll probably do so anyway, but in case it messes up submission processes I'll hold off for the time being.

[2022-11-28 10:59] douglowe commented on #4968
@editorialbot generate my checklist

[2022-11-28 12:13] jbytecode commented on #4964
@editorialbot generate pdf

[2022-11-28 12:30] panagiotisanagnostou commented on #4964
Thank you for the update! I am waiting for the beginning of the review process!

[2022-11-28 12:39] vyrjana commented on #4808
@jgostick, I have:

- verified the author and affiliation details
- made a tagged release ([version 3.4.2](https://github.com/vyrjana/DearEIS/releases/tag/3.4.2))
- archived version 3.4.2 on Zenodo  ([10.5281/zenodo.7371986](https://doi.org/10.5281/zenodo.7371986))
- verified that the title and author details in the archived version match those in the manuscript

[2022-11-28 12:53] tornede commented on #4974
@editorialbot commands

[2022-11-28 12:54] tornede commented on #4974
@editorialbot generate pdf

[2022-11-28 12:56] tornede commented on #4974
@editorialbot check references

[2022-11-28 13:21] samhforbes commented on #4741
Hi @pydemull great that looks like it's cleaned it up.
Can you please make a tagged release, and archive that somewhere with a DOI (such as Zenodo for instance) and then post the DOI here?

[2022-11-28 13:23] samhforbes commented on #4741
@editorialbot check references

[2022-11-28 13:27] adonath commented on #4803
Thanks @JohannesBuchner and @matteobachetti for agreeing to review!

I'll start the main review thread now,  where you will find more detailed instructions for how the review the submission. So every communication will happen there from now on...

[2022-11-28 13:27] adonath commented on #4803
@editorialbot start review

[2022-11-28 13:27] editorialbot opened #4977 "[REVIEW]: X-PSI: A Python package for neutron star X-ray Pulse Simulation and Inference"
**Submitting author:** @drannawatts (<a href="http://orcid.org/0000-0002-1009-2354">Anna Watts</a>)
**Repository:** https://github.com/xpsi-group/xpsi
**Branch with paper.md** (empty if default branch):
**Version:** v1.2.2
**Editor:** @adonath
**Reviewers:** @JohannesBuchner, @matteobachetti
**Archive:** 10.5281/zenodo.7632629

## Status

[![status](https://joss.theoj.org/papers/273bb2617b21963c43

[2022-11-28 13:27] #4803 closed

[2022-11-28 13:40] JohannesBuchner commented on #4977
Besides the license file link missing, I want to point out that it's not really possible to release a project under MIT license if it depends on GPL libraries. One of your named dependencies is GSL. see https://www.gnu.org/software/gsl/#licensing

Also MultiNest is not open source, so if the project depends on it, you need to add a GPL with exception to allow redistributing as a package. That is w

[2022-11-28 14:00] pdebuyl commented on #4906
Hi @henry2004y most of the time, we update the package version to reflect that version that was discussed during the review.

[2022-11-28 14:02] pdebuyl commented on #4906
Thanks @ranocha for the review so far!

[2022-11-28 14:33] ranocha commented on #4906
@editorialbot generate pdf

[2022-11-28 14:42] tkoskela commented on #4906
I've read the COI policy and I may have a conflict of interest. I was employed in the same institution as the author, I left in July 2019, less than four years ago. I've never met or worked with the author. Can you please advise if I can continue the review?

[2022-11-28 14:55] adonath commented on #4977
Thanks a lot @JohannesBuchner, for pointing out the issue with the license!

@drannawatts I'd propose to resolve this first, before we proceed with a more detailed review. Do you see any issue in re-licensing your project to fulfill the compatibility with the GSL dependency?

[2022-11-28 15:04] jbytecode commented on #4947
@mingzehuang - It seems you haven't created your checklist. Could you please generate it and update your review status and inform us? Thank you in advance.

[2022-11-28 15:25] lohedges commented on #4861
@editorialbot generate my checklist

[2022-11-28 15:30] ajstewartlang commented on #4707
@editorialbot set v0.2.5 as version

[2022-11-28 15:31] ajstewartlang commented on #4707
@editorialbot set 10.5281/zenodo.7352369 as archive

[2022-11-28 15:31] ajstewartlang commented on #4707
@editorialbot recommend-accept

[2022-11-28 15:39] matteobachetti commented on #4977
@editorialbot generate my checklist

[2022-11-28 15:43] matteobachetti commented on #4977
Re-licensing under the GPL potentially limits its future usage (as this exchange shows), so I would be wary of going that path.
Not a lawyer, but I seem to understand that people typically use more permissive licenses (MIT, BSD), so that other people can use them freely and decide whether to release their code under the GPL or not.
If I'm not mistaken, the problem here is just that the authors are

[2022-11-28 15:55] JohannesBuchner commented on #4977
https://softwareengineering.stackexchange.com/questions/87446/using-a-gplv3-python-module-will-my-entire-project-have-to-be-gplv3-licensed

In any case, cython is compiled here.

An alternative is to rewrite the package without GPL dependencies.

[2022-11-28 16:31] hinerm commented on #4856
Hi @britta-wstnr 👋

Sure, I can be a reviewer.

[2022-11-28 16:48] Kevin-Mattheus-Moerman commented on #4960
@limey-bean thanks for those reviewer suggestions. Note I have assigned the `query-scope` label :point_up:. This means that the editorial board will review if this submission is deemed in scope for JOSS. This is common for submissions that are relatively small in size or functionality. The scope review will therefore include studying if this submission conforms to our ["substantial scholarly effor

[2022-11-28 16:49] Kevin-Mattheus-Moerman commented on #4959
@gcattan thanks for those reviewer suggestions. Note I have assigned the `query-scope` label :point_up:. This means that the editorial board will review if this submission is deemed in scope for JOSS. This is common for submissions of this size. The scope review will determine if this submission conforms to our ["substantial scholarly effort" criteria](https://joss.readthedocs.io/en/latest/submitt

[2022-11-28 16:55] editorialbot opened #4978 "[PRE REVIEW]: Pynteny: a Python package to perform synteny-aware, profile HMM-based searches in sequence databases"
**Submitting author:** @Robaina (<a href="http://orcid.org/0000-0003-0781-1677">Dr. Semidán Robaina Estévez</a>)
**Repository:** https://github.com/Robaina/Pynteny
**Branch with paper.md** (empty if default branch):
**Version:** v0.0.4
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/6cccd58a757359187fdc4981bed38b75/

[2022-11-28 16:56] RupeshJey commented on #4575
Hi Pierre, ah okay. I have edited the metadata with the proper title and authors here: https://doi.org/10.5281/zenodo.7373457

[2022-11-28 16:56] Kevin-Mattheus-Moerman commented on #4719
@thohamm congratulations for this publication in JOSS!

@ppxasjsm thanks for editing!

Special thanks to the reviewers @mturiansky and @wcwitt!! :tada:

[2022-11-28 17:01] gcattan commented on #4959
Sure, thanks for letting me know! By "submissions of this size" do you mean that the number of lines of code is low or, that there are too many words in the paper?

[2022-11-28 17:04] ppxasjsm commented on #4719
@Kevin-Mattheus-Moerman Thank you! This was my first one. I'll remember that next time.

[2022-11-28 17:11] ppxasjsm commented on #4888
Brilliant, thank you @maurov. For now, I'll add you as a reviewer. I am still looking for a second reviewer, so it will take a little moment before more reviewing instructions will follow. In the meantime you can have a look [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2022-11-28 17:11] thohamm commented on #4719
Thank you all for your efforts in editing, reviewing and publishing our paper. We are glad that our work could be published in JOSS!

[2022-11-28 17:11] ppxasjsm commented on #4888
@editorialbot add @maurov as reviewer

[2022-11-28 17:15] britta-wstnr commented on #4856
Awesome, thanks @hinerm !!!
I will set us up for the reviewing process ASAP! 😄

[2022-11-28 17:28] JostMigenda commented on #4971
@editorialbot generate my checklist

[2022-11-28 17:30] adonath commented on #4977
Thanks @matteobachetti for joining so quickly!

This is my understanding too.

From what I can tell, this seems not a real option now. The GSL routines are used in many, many places for integration and interpolation. This seems like a major refactoring for the project which recently tagged v1.0. However I agree that the code readability and accessibility would actually benefit from relying on e.g.

[2022-11-28 17:46] cinnetcrash commented on #4949
@editorialbot generate my checklist

[2022-11-28 17:51] pdebuyl commented on #4906
Hi @tkoskela I'll check with the editors, thanks for letting me know.

[2022-11-28 17:59] diehlpk commented on #4843
@editorialbot commands

[2022-11-28 18:00] diehlpk commented on #4843
@ansgarwenzel Can you please post `@editorialbot generate my checklist` in a comment and fill the checklist.

[2022-11-28 18:01] diehlpk commented on #4493
@elboyran or @cwmeijer any news on that? I need that to proceed with the publication of the paper?

[2022-11-28 18:03] diehlpk commented on #4637
@ctdegroot how is your review going?

[2022-11-28 18:03] wcwitt commented on #4719
Congrats!

[2022-11-28 18:18] VChristiaens commented on #4774
Thank you @bethbiller and @m-samland for taking the time to review our package! All the changes you suggested are now implemented:

1. The opencv dependency is now set as a developer requirement (requirements-dev.txt instead of requirements.txt), such that a standard VIP installation (e.g. through pip) would not install it. That being said, I have managed to have both opencv and all other VIP depe

[2022-11-28 18:27] cinnetcrash commented on #4949
@editorialbot commands

[2022-11-28 18:30] cinnetcrash commented on #4949
@editorialbot generate preprint

[2022-11-28 18:31] cinnetcrash commented on #4949
@editorialbot generate pdf

[2022-11-28 18:36] mingzehuang commented on #4947
@editorialbot generate my checklist

[2022-11-28 18:36] mingzehuang commented on #4947
@jbytecode Sorry about that!

[2022-11-28 18:58] cinnetcrash commented on #4949
I have completed my initial review. I can recommend minor revisions be made before acceptance. These mainly correspond to the unchecked items on my checklist.

1 - The installation process for conda is not working properly for me (Is there any specific channel for to install?).

[2022-11-28 19:36] elboyran commented on #4493
@diehlpk we got the permission of all authors of the software and of the paper to make a matching release, so we will make that asap and post the version here.

[2022-11-28 19:44] gattia commented on #4681
Sorry for the delay in getting these last pieces wrapped up. Those items should all be done and listed below.

Let me know if there is anything else.

- The PR is merged: https://github.com/siavashk/pycpd/pull/78
- tagged version: v2.0.1-JOSS-Paper:
    https://github.com/siavashk/pycpd/releases/tag/v2.0.1-JOSS-Paper
- Zenodo DOI for the software version:
    doi.org/10.5281/zenodo.7343379

[2022-11-28 19:48] JohannesBuchner commented on #4977
I agree that re-licensing is the easiest and safest option. Here are the two files you need:

https://github.com/JohannesBuchner/PyMultiNest/blob/master/LICENSE (adjust the first line, and take note of the last paragraph)
and
https://github.com/JohannesBuchner/PyMultiNest/blob/master/COPYING

[2022-11-28 19:59] alekseyzimin commented on #4908
Thank you @MaximLippeveld and @Jessime for your reviews!

@MaximLippeveld , we added more detail as to how the modification works at the beginning of "Database chunking" section:
"Under this new algorithm, KrakenUniq loads one chunk of the database into memory at a time. KrakenUniq performs
a binary search on the minimizer table to find the largest minimizer such that the chunk of the minimizer ta

[2022-11-28 20:37] ttarkowski commented on #4902
@mbarzegary - thank you very much for your review!

[2022-11-28 20:38] pydemull commented on #4741
Sorry @samhforbes I am not sure of the materials I have to put on Zenodo. Is it the source code of the version 1.0.5 ? (this version does not contain all the updates made after the comments from one of the reviewer). Or is it the source code of the development version that is currently on the master branch? (knowing that some other improvements have been made since the feedbacks from the reviewers