[2020-02-17 12:36] danielskatz commented on #1815
👋 @akashnag - please merge https://github.com/akashnag/MDL-Suite/pull/9 and https://github.com/akashnag/MDL-Suite/pull/10

[2020-02-17 12:47] akashnag commented on #1815
@danielskatz I have merged the two PRs

[2020-02-17 12:53] danielskatz commented on #1815
@whedon accept

[2020-02-17 12:53] whedon commented on #1815
[code]

[2020-02-17 12:53] whedon commented on #1815
[code]

[2020-02-17 12:54] whedon commented on #1815
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1311

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1311, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-17 12:55] danielskatz commented on #1815
@whedon accept deposit=true

[2020-02-17 12:55] whedon commented on #1815
[code]

[2020-02-17 12:56] whedon commented on #1815
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1229389146482974720) 👈 🐦🐦🐦

[2020-02-17 12:56] whedon commented on #1815
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1312
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01815](https://doi.org/10.21105/joss.01815)
2. If everything looks g

[2020-02-17 13:15] danielskatz commented on #1815
Thanks to @rreinecke & @gradvohl for reviewing, and @drvinceknight for editing!

And congratulations to @akashnag (Akash Nag)!

[2020-02-17 13:15] #1815 closed

[2020-02-17 13:15] whedon commented on #1815
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01815/status.svg)](https://doi.org/10.21105/joss.01815)

**We need your help!**

Journal of Open Source Softwa

[2020-02-17 13:36] akashnag commented on #1815
Thank you so much @drvinceknight @rreinecke @gradvohl and @danielskatz

[2020-02-17 13:42] drvinceknight commented on #1815
Congratulations @akashnag!

@rreinecke @gradvohl thank you both for your time reviewing this paper. Your efforts as reviewers is vital to the process and really appreciated :+1: 🙇

[2020-02-17 16:09] Ebedthan commented on #2106
Hello @philerooski,
Just opened an [issue](https://github.com/Sage-Bionetworks/mhealthtools/issues/206) on the mhealthtools repository for adding details for support seekers as of community guidelines.

Regards.

[2020-02-17 16:58] Ebedthan commented on #2106
Hi @philerooski,
I have added another [issue](https://github.com/Sage-Bionetworks/mhealthtools/issues/207) related to references.

[2020-02-17 17:04] AndrewAnnex commented on #2050
@hayesla @jessie-dotson
Thank you both for reviewing SpiceyPy! 🎉  As you may have seen I have already started incorporating your feedback into the docs and as issues to be addressed. The kernel management and suggestion idea from @hayesla is a goal that other SPICE users and the NAIF IIRC have been looking into, but it is a substantial project unto itself.

Thanks again, and for your suggested imp

[2020-02-17 17:09] Kevin-Mattheus-Moerman commented on #2080
@prs513rosewood thanks for those comments. So I take it posting issues is possible then. In relation to that "Phabricator procedure",  is that the process for users to create a pull request?

Yes, can you describe (and link to) both the issue tracker and the PR approach in the README?

[2020-02-17 17:24] marcharper commented on #1931
Confirmed

[2020-02-17 17:40] arnavs commented on #2090
@VivianePons Haven't heard much from @pkofod lately, so I think we can assign this review to someone else. Sorry about that.

[2020-02-17 17:41] arnavs commented on #2090
@whedon generate statistics

[2020-02-17 17:41] whedon commented on #2090
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-02-17 17:45] mpadge commented on #1866
box checked and all wholeheartedly approved from my side

[2020-02-17 17:48] pachamaltese commented on #1866
Dr. Padgham
I asked a native speaker to read the text and make some parts be more "fluid".
Thanks a lot for the useful suggestions.

[2020-02-17 17:58] noraeisner commented on #2101
Dear @aureliocarnero, thank you so much for reviewing the code. I will definitely add the need for tkinter and the size of dowloaded data to the installation instructions. Thank you so much.

[2020-02-17 18:19] samuelduchesne commented on #1833
@whedon generate pdf

[2020-02-17 18:20] samuelduchesne commented on #1833
@whedon generate pdf from branch develop

[2020-02-17 18:20] whedon commented on #1833
[code]

[2020-02-17 18:20] whedon commented on #1833
PDF failed to compile for issue #1833 with the following error:

 sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.01833.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-02-17 18:21] samuelduchesne commented on #1833
@whedon generate pdf from branch develop

[2020-02-17 18:21] whedon commented on #1833
[code]

[2020-02-17 18:21] whedon commented on #1833
PDF failed to compile for issue #1833 with the following error:

 sh: 0: getcwd() failed: No such file or directory
sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.01833.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-02-17 18:22] whedon commented on #1833
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01833/joss.01833/10.21105.joss.01833.pdf)

[2020-02-17 18:22] samuelduchesne commented on #1833
@whedon generate pdf from branch develop

[2020-02-17 18:22] whedon commented on #1833
[code]

[2020-02-17 18:23] whedon commented on #1833
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01833/joss.01833/10.21105.joss.01833.pdf)

[2020-02-17 18:25] samuelduchesne commented on #1833
Hi @labarba @ThibaultMarzullo @brynpickering! What are the next steps here?

[2020-02-17 18:46] oliviaguest commented on #1866
@pachamaltese can you deposit the code to a DOI provider like figshare or zotero, please? Post back the DOI when you are done. 😄

[2020-02-17 19:08] pachamaltese commented on #1866
Sure! Let me search for it

On Mon, Feb 17, 2020, 3:46 PM Olivia Guest <notifications@github.com> wrote:

[2020-02-17 19:11] gkthiruvathukal commented on #1960
Thanks @arcuri82. I'll await word from @danieledipompeo and move to the next steps.

[2020-02-17 19:11] gkthiruvathukal commented on #1986
@whedon commands

[2020-02-17 19:12] whedon commented on #1986
Here are some things you can ask me to do:

[code]

[2020-02-17 19:12] gkthiruvathukal commented on #1986
@whedon set 10.5281/zenodo.3668870 as archive

[2020-02-17 19:13] whedon commented on #1986
OK. <a href="https://doi.org/10.5281/zenodo.3668870" target="_blank">10.5281/zenodo.3668870</a> is the archive.

[2020-02-17 19:13] gkthiruvathukal commented on #1986
@whedon set v1.0.zenodo as version

[2020-02-17 19:13] whedon commented on #1986
OK. v1.0.zenodo is the version.

[2020-02-17 19:13] oliviaguest commented on #1866
@pachamaltese  Sorry zenodo! Here are the links, use whatever works best for you:
* https://figshare.com/
* https://zenodo.org/

I'm sure others exist too! 😅

[2020-02-17 19:14] pachamaltese commented on #1866
sure! now it makes more sense, I was creating an entry in zotero

[2020-02-17 19:18] gkthiruvathukal commented on #1986
@openjournals/joss-eics  I am ready to move toward acceptance of this JOSS submission.

[2020-02-17 19:27] ixjlyons commented on #2007
The authors have addressed my comments thoroughly. I looked over the updated and rendered paper from the v1.1.0 branch and updated my checklist. I recommend the submission be accepted.

[2020-02-17 19:34] pachamaltese commented on #1866
Dear Dr. @oliviaguest
I got 10.5281/zenodo.3671843 after registration for the software.
Best,

[2020-02-17 19:36] kbarnhart commented on #1978
:wave: another message to check in and keep this review moving forward. I see that both @cmillion and @mollenburger have made issues in the main repo (thanks 👍 ). Based on looking at them it appears that some of the issues may need to be addressed before the reviewers can complete their reviews.

@nkarasiak can I ping you to address these issues so the reviewers can complete their reviews.

[2020-02-17 19:39] kbarnhart commented on #1969
:wave: @rgmyr a quick ping to get an update regarding addressing some of the current reviewer issues. It seems that some of them need to be addressed before reviewers can complete reviews.

[2020-02-17 19:46] danieledipompeo commented on #1960
Hi guys, I missed github notification... Which is the new deadline? In this period I'm busy.

[2020-02-17 19:47] kbarnhart commented on #2029
:wave: @frengers, @stoor001, @khaors a friendly reminder to complete your review and/or post and update here. If you have any questions or concerns about the review process, please let me know.

Thanks again for contributing to a JOSS review.

[2020-02-17 19:58] nkarasiak commented on #1978
Of course @kbarnhart, what do I need to do?
I was preparing my answers (and code/text rewriting) for the reviewers.

[2020-02-17 20:06] madvn commented on #1609
Hi @poulson ,

I've fixed the invalid DOI and have registered with Zenodo at this doi - https://doi.org/10.5281/zenodo.3671994

Please let me know if there is anything else I need to do. Thanks!

[2020-02-17 20:07] madvn commented on #1609
@whedon check references

[2020-02-17 20:07] whedon commented on #1609
[code]

[2020-02-17 20:07] madvn commented on #1609
@whedon generate pdf

[2020-02-17 20:08] oliviaguest commented on #1866
@whedon set 10.5281/zenodo.3671843 as archive

[2020-02-17 20:08] whedon commented on #1866
OK. <a href="https://doi.org/10.5281/zenodo.3671843" target="_blank">10.5281/zenodo.3671843</a> is the archive.

[2020-02-17 20:08] whedon commented on #1609
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01609/joss.01609/10.21105.joss.01609.pdf)

[2020-02-17 20:08] oliviaguest commented on #1866
@whedon accept

[2020-02-17 20:08] whedon commented on #1866
[code]

[2020-02-17 20:09] whedon commented on #1866
[code]

[2020-02-17 20:09] whedon commented on #1866
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1313

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1313, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-17 20:10] oliviaguest commented on #1866
Thank you! @pachamaltese can you check the final proof please? 🎉

[2020-02-17 20:11] oliviaguest commented on #1866
@whedon generate pdf

[2020-02-17 20:12] whedon commented on #1866
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01866/joss.01866/10.21105.joss.01866.pdf)

[2020-02-17 20:31] phillima commented on #1960
Hi @arcuri82. I am glad I have addressed your concerns! Thank you
Hi @danieledipompeo. After your first review I generated a new version of the tool (2.2.0) that hopefully addressed your concerns. Please, feel free to make new comments.

[2020-02-17 20:35] pachamaltese commented on #1866
Dear Dr. @oliviaguest
I read ok in my opinion. The only thing I dislike is a reference that created a new page for just 3 lines. Besides it, I'm ok with the result.

[2020-02-17 20:40] kyleniemeyer commented on #1682
I contacted the author over email, who let me know that they wish to withdraw the submission at this time. Thanks @mabraham, @jiajiexiao, @ChayaSt for your efforts.

[2020-02-17 20:40] oliviaguest commented on #1866
@pachamaltese Hmm... some of your cites are (Name (YEAR)) and others are (Name, YEAR), do you want to fix those too? Either way: make any edits you like and I'll then tag the EiCs and we can get it published. 😄

[2020-02-17 20:40] kyleniemeyer commented on #1682
@whedon withdraw

[2020-02-17 20:40] whedon commented on #1682
Paper withdrawn.

[2020-02-17 20:40] #1682 closed

[2020-02-17 20:54] kbarnhart commented on #1978
thanks for the quick reply @nkarasiak.  Just addressing the issues is fine.

[2020-02-17 21:12] pachamaltese commented on #1866
thanks! yes, I can change that as well

[2020-02-17 22:02] pachamaltese commented on #1866
@whedon generate pdf

[2020-02-17 22:03] whedon commented on #1866
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01866/joss.01866/10.21105.joss.01866.pdf)

[2020-02-17 22:05] pachamaltese commented on #1866
@whedon generate pdf

[2020-02-17 22:06] whedon commented on #1866
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01866/joss.01866/10.21105.joss.01866.pdf)

[2020-02-17 22:08] pachamaltese commented on #1866
Dear Dr. @oliviaguest

I changed the citations () and I re-added a paragraph that I had removed before.

I'm also tagging @JohnCoene and @mpadge on your behalf.

Best,

[2020-02-17 22:58] alexpghayes commented on #2092
Looks very interesting but I don't have the background to review this!

[2020-02-17 23:06] kyleniemeyer commented on #1833
Hi @brynpickering and @ThibaultMarzullo, it looks like @samuelduchesne has done some work in response to your review comments. Can you take another look now?

[2020-02-17 23:12] casperdcl commented on #2092
Same, I could review but don't specialise in this field.

[2020-02-17 23:43] mjsottile commented on #2092
@whedon assign @sbrugman as reviewer

[2020-02-17 23:43] whedon commented on #2092
OK, @sbrugman is now a reviewer

[2020-02-17 23:43] mjsottile commented on #2092
@whedon remove @sbrugman as reviewer

[2020-02-17 23:43] whedon commented on #2092
OK, @sbrugman is no longer a reviewer

[2020-02-17 23:44] mjsottile commented on #2092
@whedon assign @1313e as reviewer

[2020-02-17 23:44] whedon commented on #2092
OK, @1313e is now a reviewer

[2020-02-17 23:52] melissawm commented on #1912
Hello, @kirui93 . Can you make a Zenodo archive, and report the DOI so we can set the final archive? Thank you

[2020-02-17 23:59] melissawm commented on #2049
Hello @jgoldfar, would you be willing/available to review this software paper for JOSS? Thank you

[2020-02-18 00:19] nathanlyons commented on #2066
@kyleniemeyer

The software under review is no longer on a branch, and is now on `master` of the Landlab repo.

Please update the version of the software under review. It should now be `v2.0.0b6`.

The Zenodo archive DOI is `10.5281/zenodo.3672119`.

[2020-02-18 00:21] kyleniemeyer commented on #2066
@whedon set v2.0.0b6 as version

[2020-02-18 00:21] whedon commented on #2066
OK. v2.0.0b6 is the version.

[2020-02-18 00:22] kyleniemeyer commented on #2066
@whedon set 10.5281/zenodo.3672119 as archive

[2020-02-18 00:22] whedon commented on #2066
OK. <a href="https://doi.org/10.5281/zenodo.3672119" target="_blank">10.5281/zenodo.3672119</a> is the archive.

[2020-02-18 00:23] kyleniemeyer commented on #2066
@whedon generate pdf from branch master

[2020-02-18 00:23] whedon commented on #2066
[code]

[2020-02-18 00:23] whedon commented on #2066
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02066/joss.02066/10.21105.joss.02066.pdf)

[2020-02-18 00:24] kyleniemeyer commented on #2066
@whedon accept

[2020-02-18 00:24] whedon commented on #2066
[code]

[2020-02-18 00:24] whedon commented on #2066
[code]

[2020-02-18 00:24] whedon commented on #2066
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1314

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1314, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-18 00:27] kyleniemeyer commented on #2066
@whedon accept deposit=true

[2020-02-18 00:27] whedon commented on #2066
[code]

[2020-02-18 00:28] whedon commented on #2066
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1229563218022064129) 👈 🐦🐦🐦

[2020-02-18 00:28] whedon commented on #2066
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1315
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02066](https://doi.org/10.21105/joss.02066)
2. If everything looks g

[2020-02-18 00:30] kyleniemeyer commented on #2066
Congrats @nathanlyons on your article's publication in JOSS!

Many thanks to @ebgoldstein and @fclubb for reviewing.

[2020-02-18 00:30] #2066 closed

[2020-02-18 00:30] whedon commented on #2066
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02066/status.svg)](https://doi.org/10.21105/joss.02066)

**We need your help!**

Journal of Open Source Softwa

[2020-02-18 00:50] cMadan commented on #2098
@utf @mskwark @kblin, would you be available and interested in reviewing this submission?

[2020-02-18 00:58] pySRURGS commented on #2074
@whedon generate pdf

[2020-02-18 00:58] whedon commented on #2074
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02074/joss.02074/10.21105.joss.02074.pdf)

[2020-02-18 01:57] cMadan commented on #1847
@hvgazula, unfortunately it looks like most of your suggestions are not active on Github.

[2020-02-18 02:06] cMadan commented on #1847
@engfranco @richford @AkiNikolaidis, would you be available and interested in reviewing this submission?

You can find some additional information about JOSS here: https://joss.theoj.org/about

[2020-02-18 02:08] cMadan commented on #2085
@johannes-titz, it looks like things are in order! Can you look through the list of JOSS reviewers (linked in the first comment in this issue) and suggest some who may be suitable? Thanks!

[2020-02-18 05:11] kirui93 commented on #1912
Hello @melissawm ,
Here is the DOI from Zenodo
DOI: 10.5281/zenodo.3672205

[2020-02-18 06:44] roshansamuel commented on #2095
@dlagrava Thank you for pointing this out. We had tested the code all along with yaml-cpp 0.3 and were not aware of this incompatibility with 0.5. We are working on updating the code (and the documentation), and we will get back to you soon.

[2020-02-18 07:00] oliviaguest commented on #1866
@whedon accept

[2020-02-18 07:00] whedon commented on #1866
[code]

[2020-02-18 07:01] whedon commented on #1866
[code]

[2020-02-18 07:01] whedon commented on #1866
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1316

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1316, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-18 07:02] oliviaguest commented on #1866
@pachamaltese are you happy with the final proof?

[2020-02-18 07:15] kblin commented on #2098
I won't be able to comment on the chemistry much, but I'm happy to look at the software side of things.

[2020-02-18 07:39] jasmainak commented on #1959
Hi @arokem following the comments of @professoralkmin and @ryEllison, we have made the following improvements:

- reorganized the paper into sections to highlight the main contributions of the software.
- added an example in the paper that shows how Pyglmnet can be used on the community crime dataset.
- updated the example in the README document to provide console output and visualizations to assi

[2020-02-18 08:47] johannes-titz commented on #2085
@cMadan Thank you! I would like to suggest Daniel Lüdecke (github: strengejacke). He is an expert in mixed models and R. Otherwise, adibender and fabian-s might be suitable reviewers as they list mixed models in their domain. aj2duncan is another potential reviewer as he is familiar with shiny.

By the way, the reviewers document has some duplicates. They should be easy to identify and remove, whi

[2020-02-18 10:17] drvinceknight commented on #1931
@whedon generate pdf

[2020-02-18 10:18] whedon commented on #1931
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01931/joss.01931/10.21105.joss.01931.pdf)

[2020-02-18 10:18] drvinceknight commented on #1931
@whedon check references

[2020-02-18 10:19] whedon commented on #1931
[code]

[2020-02-18 10:30] drvinceknight commented on #1931
I have re read the manuscript and checked the references and everything looks good to me.

Could you make a Zenodo archive, and report the DOI here and could you also confirm the version number please.

When you make the archive could you check that it has the correct metadata (title and author list), to ensure that it matches the paper.

[2020-02-18 11:02] simonom commented on #1918
I would like to more forward with this review; @andreas-h, please let us know if you are unable to review so we can progress.

[2020-02-18 11:07] ipelupessy commented on #2048
I managed to install and run with the provided instructions. The path limit is annoying; I have made a PR (https://github.com/MariaTsantaki/FASMA-synthesis/pull/17) to fix this..it adds another change in the MOOG source though (maybe its good to communicate it upstream to MOOG developer)

I can confirm @warrickball problem; I think the fits file does have a WAVELMIN keyword in the header with the

[2020-02-18 11:09] ipelupessy commented on #2048
one comment about the code paper proof: it doesn't mention what the improvement/changes are from the previous published version. I think this is needed.

[2020-02-18 11:28] ipelupessy commented on #2048
The following issues are open from my checklist:

Functionality.Functionality: related to documentation below I am not sure what all the functionality of the packages is;

Documentation.A statement of need: Its not clearly stated what the problem the software is designed to solve, e.g.: "FASMA delivers the atmospheric stellar parameters (effective temperature, surface gravity, metallicity, microtu

[2020-02-18 11:30] ipelupessy commented on #2048
@xuanxu: I have my final comments out above; if these are adressed I think the checklist is ok. Authors have made very good progress on improving the installation. I think the minor points mentioned above will also be addressed promptly ;-)

[2020-02-18 11:32] pachamaltese commented on #1866
Yes. What do the reviewers have to say?

On Tue, Feb 18, 2020, 4:02 AM Olivia Guest <notifications@github.com> wrote:

[2020-02-18 11:39] oliviaguest commented on #1866
It doesn't matter. If you like @pachamaltese, we are good to do. :tada:

[2020-02-18 11:40] oliviaguest commented on #1866
@openjournals/joss-eics please accept this manuscript. :smiley_cat:

[2020-02-18 11:47] xuanxu commented on #2048
@ipelupessy Great, thanks! Let's wait for the authors to address them so you can complete the checklist.

[2020-02-18 11:50] professoralkmin commented on #1959
Hello @jasmainak. I already read the new version of article. I believe that is very good now. Congrats! :)

[2020-02-18 12:02] warrickball commented on #2048
I managed to get FASMA to run renaming the file to `.spec` and changing these lines in `read_observations` (`observations.py`):

[code]
The run eventually crashes with

[code]
but I'm not a spectroscopist, so I'm not sure whether this is my fault. The initial parameters I used are a rough average of the values under [HD 38529's SIMBAD entry](http://simbad.u-strasbg.fr/simbad/sim-id?Ident=%40826786

[2020-02-18 12:09] pachamaltese commented on #1866
Thanks a lot!!

On Tue, Feb 18, 2020, 8:40 AM Olivia Guest <notifications@github.com> wrote:

[2020-02-18 12:14] pachamaltese commented on #1866
@oliviaguest
It looks ok imo and I'm waiting for the final public version

On Tue, Feb 18, 2020, 9:09 AM Mauricio Vargas <mauriciovargas@ug.uchile.cl>
wrote:

[2020-02-18 12:25] arokem commented on #1904
@whedon check DOI

[2020-02-18 12:25] whedon commented on #1904
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-02-18 12:25] arokem commented on #1904
@whedon commands

[2020-02-18 12:26] whedon commented on #1904
Here are some things you can ask me to do:

[code]

[2020-02-18 12:26] arokem commented on #1904
@whedon check references

[2020-02-18 12:26] whedon commented on #1904
[code]

[2020-02-18 12:31] arokem commented on #1904
@So-Cool : could you please add the DOIs mentioned above?

Two other comments about references:

1. Since scikit learn is mentioned so prominently, it would be appropriate to cite their 2011 JMLR paper about the software: http://www.jmlr.org/papers/v12/pedregosa11a.html

2. What is the difference between this paper and the arXiv preprint referenced? Is that preprint already published elsewhere?

T

[2020-02-18 12:32] arokem commented on #1959
@whedon  check references

[2020-02-18 12:32] whedon commented on #1959
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-02-18 12:32] arokem commented on #1959
@whedon check references

[2020-02-18 12:33] whedon commented on #1959
[code]

[2020-02-18 12:33] arokem commented on #1959
@whedon generate pdf

[2020-02-18 12:33] whedon commented on #1959
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01959/joss.01959/10.21105.joss.01959.pdf)

[2020-02-18 12:43] arokem commented on #1959
@jasmainak : one small question/suggestion. The paper emphasizes compatibility with scikit learn. Are the estimators implemented in the package tested with sklearn's `check_estimator` (see: https://scikit-learn.org/stable/developers/develop.html#rolling-your-own-estimator)? That would guarantee compatibility with other sklearn features. I couldn't find that in the software tests.

[2020-02-18 12:59] mzszym commented on #1988
@VivianePons I think I could try to review it. I unfortunately never used Perl, so I will not be able to comment much on the internal code, but I am familiar with SPICE and circuit simulations, and I think I could be able to review this according to reviewing guidelines.

[2020-02-18 13:05] kirui93 commented on #1912
Hello @melissawm

The DOI for the Zenodo archive is

https://doi.org/10.5281/zenodo.3672205

The version adapted to the DOI is the latest version v0.2.2

Thank you.

[2020-02-18 13:43] VivianePons commented on #1988
@mzszym Thank you, I asked you indeed because I saw you had some knowledge of SPICE so I figured you would be in a good place to evaluate how practicable the software is. In my opinion (I could be wrong!) most potential users will know SPICE but not always Pearl.

Thank you for your input by the way on creating an external tool for SPICE.

Also know that I am looking for a second reviewer who will

[2020-02-18 13:43] VivianePons commented on #1988
@whedon assign @mzszym as reviewer

[2020-02-18 13:43] whedon commented on #1988
OK, @mzszym is now a reviewer

[2020-02-18 13:59] YoungFaithful commented on #2034
@sjpfenninger Thanks for your review. I'll handle your single comments throughout the next week.

[2020-02-18 14:44] prs513rosewood commented on #2080
[Phabricator](https://www.phacility.com/phabricator/) is the code hosting software that c4science (the site where Tamaas is hosted) uses. I have added the procedures to post an issue and send a pull request to the README.

[2020-02-18 14:58] jedbrown commented on #1918
@dhhagan I see there are a few remaining check boxes in your review. Could you please let us know if you have further concerns.

@andreas-h Please let us know what you'll need to complete your review. Thanks.

[2020-02-18 15:14] jedbrown commented on #2099
@scivision @josephhardinee :wave: Would you be available to review this submission for JOSS?

[2020-02-18 15:33] josephhardinee commented on #2099
Sure

Sent from my iPhone

[2020-02-18 15:34] melissawm commented on #1912
Hi @kirui93 please check the metadata on the Zenodo archive, especially the authors list, as the citation reads "Kipngeno Kirui, Júlio Hoffimann, & Julia TagBot. (2020, February 18). kirui93/ScenTrees.jl: Release for zenodo (Version v0.2.2). Zenodo. http://doi.org/10.5281/zenodo.3672205"

[2020-02-18 15:44] jedbrown commented on #2099
@whedon add josephhardinee as reviewer

[2020-02-18 15:44] whedon commented on #2099
OK, josephhardinee is now a reviewer

[2020-02-18 16:08] kirui93 commented on #1912
Hello @melissawm,
 At first I had confused how to upload to Zenodo. Here is the right DOI

http://doi.org/10.5281/zenodo.3673939

The version adapted is still v0.2.2

Thank you for your patience.

[2020-02-18 16:43] melissawm commented on #1912
@whedon set http://doi.org/10.5281/zenodo.3672205 as archive

[2020-02-18 16:43] whedon commented on #1912
OK. <a href="https://doi.org/10.5281/zenodo.3672205" target="_blank">10.5281/zenodo.3672205</a> is the archive.

[2020-02-18 16:44] melissawm commented on #1912
@whedon set v0.2.2 as version

[2020-02-18 16:45] whedon commented on #1912
OK. v0.2.2 is the version.

[2020-02-18 16:45] melissawm commented on #1912
@openjournals/joss-eics I think this is ready!

Thanks @kirui93 and reviewers @matbesancon and @juliohm !

[2020-02-18 16:46] kirui93 commented on #1912
Thanks so much @melissawm for your patience.
Thank you so much to @matbesancon and @juliohm for their important reviews. I appreciate your efforts.

[2020-02-18 17:14] frengers commented on #2029
I’m going to try to have this done by the end of the week.

Best,

Francis

[2020-02-18 17:42] nespinoza commented on #2103
Hi @bmorris3 --- thanks for the quick reply to the inquiries; I tested all the examples you added and all look great! I've checked the appropriate reviewer marks above, and all is almost ready to go on my side.

Regarding my comment on the paper, I think I understand that the methods and primary applications are different (i.e., you used this in the AAS submission to analyze _a sample_ of young st

[2020-02-18 18:32] danielskatz commented on #1371
@whedon accept

[2020-02-18 18:33] whedon commented on #1371
[code]

[2020-02-18 18:33] whedon commented on #1371
[code]

[2020-02-18 18:33] whedon commented on #1371
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1317

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1317, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-18 18:33] oxinabox commented on #2090
I can do the review

[2020-02-18 18:39] oxinabox commented on #2090
I can do the review @VivianePons

[2020-02-18 18:44] danielskatz commented on #1371
Sorry, I found a couple more things I missed - can you merge https://github.com/artivis/manif/pull/128 as well?

[2020-02-18 18:53] artivis commented on #1371
@danielskatz Done :+1:

[2020-02-18 19:03] danielskatz commented on #1371
@whedon accept

[2020-02-18 19:03] whedon commented on #1371
[code]

[2020-02-18 19:04] whedon commented on #1371
[code]

[2020-02-18 19:04] whedon commented on #1371
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1318

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1318, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-18 19:06] danielskatz commented on #1371
@whedon accept deposit=true

[2020-02-18 19:06] whedon commented on #1371
[code]

[2020-02-18 19:07] whedon commented on #1371
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1229844854840020993) 👈 🐦🐦🐦

[2020-02-18 19:07] whedon commented on #1371
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1319
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01371](https://doi.org/10.21105/joss.01371)
2. If everything looks g

[2020-02-18 19:11] danielskatz commented on #1371
Thanks to @jordigh & @drvinceknight & @alex-konovalov for reviewing, and @poulson for editing!

Congratulations to @artivis & @joansola!

[2020-02-18 19:13] danielskatz commented on #1371
👋 @arfon - can you take a look at the XML file and see if it seems ok?  If so, please go ahead and close this issue.  But in either case, I think this has demonstrated that the way we extract info from .bib files into the XML file needs work, outside this specific issue.

[2020-02-18 19:17] artivis commented on #1371
Thanks all for the reviews and help through this process!

[2020-02-18 20:07] csoneson commented on #1991
👋 @malcolmbarrett - do you have an estimate of when you might be able to get back to the comments from the reviewers?

[2020-02-18 20:15] arfon commented on #1371
:+1: things look good to me.

Would it be possible to open a tracking issue on the JOSS repo for this outlining the general issue?

[2020-02-18 20:15] #1371 closed

[2020-02-18 20:15] whedon commented on #1371
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01371/status.svg)](https://doi.org/10.21105/joss.01371)

**We need your help!**

Journal of Open Source Softwa

[2020-02-18 20:22] will-rowe commented on #2014
@whedon generate pdf

[2020-02-18 20:23] whedon commented on #2014
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02014/joss.02014/10.21105.joss.02014.pdf)

[2020-02-18 20:31] will-rowe commented on #2014
great - thanks @babinyurii

Could you please respond to [this reviewer issue](https://github.com/babinyurii/recan/issues/12).

You also suggested two options in response to [this issue](https://github.com/babinyurii/recan/issues/10). Can you please let us know which you would like to proceed with? I.E. renaming the paper and adjusting the scope, or the addition of a function for detection of recom

[2020-02-18 21:02] gkthiruvathukal commented on #2007
@ckoerber, I think I am ready to move toward acceptance. Can you please do the following? Please just follow up with comments for each item. I will then check off the boxes.

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the tit

[2020-02-18 21:05] SiminaB commented on #2044
Apologies for the delay! My initial review is at https://github.com/thecodingdoc/neep/issues/5. I think the paper needs some additional clarifications and details. I also made some suggestions for the README file and some other aspects.

[2020-02-18 21:11] majensen commented on #2044
Thanks @SiminaB!

[2020-02-18 21:13] malcolmbarrett commented on #1991
Yes, as mentioned, we are working on them and will get respond to comments all at once soon 😄

[2020-02-18 22:04] feiyu-chen96 commented on #1931
Thanks for checking the manuscript again! The Zenodo archive's DOI is 10.5281/zenodo.3674095, version 1.0.0.

[2020-02-18 22:25] cMadan commented on #2098
@kblin, that would be great, thank you! My plan is to get at least one reviewer with chemistry expertise to cover that side of things.

[2020-02-18 22:26] cMadan commented on #2098
@whedon add @kblin as reviewer

[2020-02-18 22:26] whedon commented on #2098
OK, @kblin is now a reviewer

[2020-02-18 22:28] cMadan commented on #2085
@johannes-titz, thanks for the suggestions--both for reviewers and on our process. We are working to revamp how the reviewer list works to make it a bit more dynamic (e.g., active reviews, total count) and that's in progress. :)

[2020-02-18 22:30] cMadan commented on #2085
@strengejacke @fabian-s, would you be available and interested in reviewing this submission?

[2020-02-18 22:41] strengejacke commented on #2085
I'd be happy to review the submission!

[2020-02-18 22:51] remram44 commented on #2007
I completed my checklist after checking out https://github.com/callat-qcd/espressodb/pull/48, thanks!

Note that the list of workflow systems I knew off the top of my head might not be the most relevant systems (as I said, I used to work on one of them, but I've been out of this space for a few years. In particular, I don't think those tools are tailored to HPC. REANA and Galaxy are other names I

[2020-02-18 23:16] utf commented on #2098
I'm already reviewing another paper for JOSS currently, but @mkhorton might be available.

[2020-02-19 00:11] mbobra commented on #2050
@whedon generate pdf

[2020-02-19 00:11] whedon commented on #2050
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02050/joss.02050/10.21105.joss.02050.pdf)

[2020-02-19 00:17] mbobra commented on #2050
@whedon check references

[2020-02-19 00:18] whedon commented on #2050
[code]

[2020-02-19 00:19] mbobra commented on #2050
@hayesla @jessie-dotson Thank you so much for your review! We really appreciate your time and effort 😄

[2020-02-19 00:21] mbobra commented on #2050
@AndrewAnnex We're almost there! Do you mind fixing the following:

* Can you please make your affiliations consistent? Some affiliations includes city, country, and postal code, and others simply include the name of the institute.
* The first reference needs a space between 150 and the following parenthesis.
* Can you please make a new Zenodo release after fixing these issues and make sure the ti

[2020-02-19 00:57] akeshavan commented on #2016
thanks @martinmodrak! Let @drwaseemsheikh know if you have trouble evaluating anything on the checklist (e.g. installation, functionality), since this is useful feedback!

[2020-02-19 00:57] akeshavan commented on #2016
@whedon add @martinmodrak as reviewer

[2020-02-19 00:57] whedon commented on #2016
OK, @martinmodrak is now a reviewer

[2020-02-19 01:03] akeshavan commented on #2023
👋 @volkerschmid and @paulgovan -- would you be interested to review this paper for JOSS?

[2020-02-19 01:27] akeshavan commented on #1983
@whedon generate pdf

[2020-02-19 01:28] whedon commented on #1983
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01983/joss.01983/10.21105.joss.01983.pdf)

[2020-02-19 01:45] akeshavan commented on #1983
@whedon check references

[2020-02-19 01:45] whedon commented on #1983
[code]

[2020-02-19 01:47] akeshavan commented on #1983
Hi @Marcdh3 -- could you resolve to two invalid DOIs above?

[2020-02-19 01:47] arbennett commented on #2042
Thanks @sjpfenninger  - I have updated the text to include a paragraph discussing the state of the field!

[2020-02-19 01:48] Marcdh3 commented on #1983
Will do!

[2020-02-19 01:52] AndrewAnnex commented on #2050
@mbobra so the 2nd issue regarding the first reference and the parentheses appears to be the default style for rendering the volume and number in the bib entry (e.g. "volume(number)"), and can be seen in the other reference entries. But I also double checked the reference and google scholar seems to set the number to 2018, so I have that change made in a local branch.

I will look into making the

[2020-02-19 01:55] afrubin commented on #2076
Thanks to @natir I've added a comparison of fqfa and pyfastx (the other currently-maintained FASTQ/FASTA Python module I could find) and included this result in the paper.

[2020-02-19 01:55] afrubin commented on #2076
@whedon generate pdf

[2020-02-19 01:55] whedon commented on #2076
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02076/joss.02076/10.21105.joss.02076.pdf)

[2020-02-19 02:03] Marcdh3 commented on #1983
@whedon check references

[2020-02-19 02:04] whedon commented on #1983
[code]

[2020-02-19 02:07] Marcdh3 commented on #1983
@whedon check references

[2020-02-19 02:08] whedon commented on #1983
[code]

[2020-02-19 02:23] AndrewAnnex commented on #2050
@whedon generate pdf

[2020-02-19 02:24] whedon commented on #2050
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02050/joss.02050/10.21105.joss.02050.pdf)

[2020-02-19 02:41] AndrewAnnex commented on #2050
@mbobra I think the first two issues are now fixed, I have started looking into the zenodo release but the question about the json file still stands, but I will check back in tomorrow

[2020-02-19 06:21] kyleniemeyer commented on #1986
@whedon generate pdf

[2020-02-19 06:21] whedon commented on #1986
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01986/joss.01986/10.21105.joss.01986.pdf)

[2020-02-19 07:00] kyleniemeyer commented on #1986
OK, looks good to me.

[2020-02-19 07:00] kyleniemeyer commented on #1986
@whedon accept

[2020-02-19 07:00] whedon commented on #1986
[code]

[2020-02-19 07:01] whedon commented on #1986
[code]

[2020-02-19 07:01] whedon commented on #1986
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1320

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1320, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-19 07:02] kyleniemeyer commented on #1986
@whedon accept deposit=true

[2020-02-19 07:02] whedon commented on #1986
[code]

[2020-02-19 07:03] whedon commented on #1986
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1230025139812732928) 👈 🐦🐦🐦

[2020-02-19 07:03] whedon commented on #1986
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1321
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01986](https://doi.org/10.21105/joss.01986)
2. If everything looks g

[2020-02-19 07:05] kyleniemeyer commented on #1986
Congrats @tresoldi on your article's publication in JOSS!

Many thanks to @geoffbacon and @desilinguist for reviewing, and @gkthiruvathukal for editing, this submission.

[2020-02-19 07:05] #1986 closed

[2020-02-19 07:05] whedon commented on #1986
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01986/status.svg)](https://doi.org/10.21105/joss.01986)

**We need your help!**

Journal of Open Source Softwa

[2020-02-19 07:13] tresoldi commented on #1986
Thank you all,  @geoffbacon , @desilinguist , @gkthiruvathukal and @kyleniemeyer !
It was a very pleasant experience which I am already recommending to everyone. :smiley:

[2020-02-19 08:57] babinyurii commented on #2014
Hello, @will-rowe!
I'm sorry for overlooking @lamhm 's comment.
Now I've added the answers to the comments you mentioned.

[2020-02-19 09:07] will-rowe commented on #2014
Great - thanks @babinyurii

I think we're getting close here. Can I now ask @betteridiot and @lamhm to review the author responses to the issues raised and check they are satisfied? From my point of view, I am happy now that @babinyurii has adjusted the scope of the paper to focus on the analysis, rather than detection, of recombination events.

[2020-02-19 09:08] babinyurii commented on #2014
@whedon generate pdf

[2020-02-19 09:09] whedon commented on #2014
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02014/joss.02014/10.21105.joss.02014.pdf)

[2020-02-19 10:01] bmorris3 commented on #2103
Thanks for the reminder, sorry I didn't address that right away. I've updated the [text of the paper](https://github.com/bmorris3/fleck/blob/master/docs/paper.md#summary) to read:

[2020-02-19 10:41] fabian-s commented on #2085
nope, sorry. I got deadlines coming up :face_with_head_bandage:

[2020-02-19 12:41] VivianePons commented on #2090
Thank you @oxinabox I'm updating the issue accordingly

[2020-02-19 12:42] VivianePons commented on #2090
@whedon add @oxinabox as reviewer

[2020-02-19 12:43] whedon commented on #2090
OK, @oxinabox is now a reviewer

[2020-02-19 12:44] lpantano commented on #2077
@JoaoRodrigues , @i-mtz, any update in the revision of this paper? thanks!

[2020-02-19 12:49] lpantano commented on #1584
@rbatorsky, @olgabot, can you take a look at this and see whether the changes are good to continue.

[2020-02-19 12:56] So-Cool commented on #1904
@whedon check references

[2020-02-19 12:57] whedon commented on #1904
[code]

[2020-02-19 12:57] So-Cool commented on #1904
@whedon generate pdf

[2020-02-19 12:57] aureliocarnero commented on #2101
Dear @noraeisner, there is a few comments to make.
In order to validate the documentation, you should explain how to perform the automated test. I see there is a directory called tests. Could you put in the code documentation how to run the tests? Ideally, should be done in automatic mode, like using pytests.

[2020-02-19 12:57] whedon commented on #1904
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01904/joss.01904/10.21105.joss.01904.pdf)

[2020-02-19 13:00] aureliocarnero commented on #2101
@noraeisner another thing is documentation is lacking Community guidelines, please put those (see above in the checklist about what it means). If you don't know what these are, you can see examples in other JOSS code repositories

[2020-02-19 13:03] aureliocarnero commented on #2101
@noraeisner

Also in the README.md file, there are some exclamation marks that I think are an error
"""""""""""""""""""""""""""""""
Arguments

NOTE: all of these arguments (except new-path, auto and targetlist, new-data) can be changed as option in the GUI. They are arguments in case the same options wish to be run multiple times and the user therfore wishes to identify them in the command line wh

[2020-02-19 13:20] aureliocarnero commented on #2101
@noraeisner also there is now a new setting called model that you do not explain what it is.
Could you please document it?
Cheers!

[2020-02-19 13:28] aureliocarnero commented on #2101
@noraeisner I'm playing around with the code and there is something I would recommend that you improve.
When I run the diagnostic plots, after clicking DONE, then the GUI closes, but the code still is working in the background, without noticing. Therefore, it is a bit confusing because the user might think the process is finished, when it is not. It still keeps running in the background without no

[2020-02-19 14:08] rbatorsky commented on #1584
Thanks @lpantano. Sorry for the delay, I thought I had already given the final OK on Oct 6, 2019. Looks good to me and I have no further issues. Is there anything else I need to do?

[2020-02-19 14:10] Kevin-Mattheus-Moerman commented on #1867
@rhenanbartels any updates on progress?

[2020-02-19 14:16] So-Cool commented on #1904
Hi @arokem,
I added the missing DOIs and referenced scikit-learn; thank you for the pointers. The arXiv preprint is an extended version of the JOSS paper with usage examples and more thorough discussion of the relevant literature. We will be revising it in the coming months and submitting it to either a journal or a conference.

If any other revisions are needed, just let me know.

[2020-02-19 14:23] paulgovan commented on #2023
Sure...sounds interesting. Happy to help.

[2020-02-19 14:28] drvinceknight commented on #1931
@whedon set 10.5281/zenodo.3674095 as archive

[2020-02-19 14:28] whedon commented on #1931
OK. <a href="https://doi.org/10.5281/zenodo.3674095" target="_blank">10.5281/zenodo.3674095</a> is the archive.

[2020-02-19 14:29] drvinceknight commented on #1931
@openjournals/joss-eics this paper should be ready for publication now :+1:

[2020-02-19 14:33] AndrewAnnex commented on #2050
@mbobra I just noticed that we may have to add an author to the author list. Currently the author list includes every contributor (large and small) to the repo who responded prior to the submission to JOSS for review, which was all of the contributors. During the pre-review period but after the software report which listed code contributions, two commits were merged into the master branch, see htt

[2020-02-19 15:08] JoshuaSteer commented on #2060
@danasolav I've run some fresh installs on Windows 10 without problems, if you have a traceback of the error that'd be great

[2020-02-19 15:49] anmolter commented on #1753
Hi @leouieda, any luck with finding a reviewer?

[2020-02-19 15:52] danasolav commented on #2060
@JoshuaSteer Thanks. I'll try again today and send you some screenshots and traceback. as far as I remember the errors where related to vtk, PyQt5, and PyPDF2.
Can you share which environment you're using and if used conda or pip to install the packages this time?

[2020-02-19 16:08] pachamaltese commented on #1866
Dear Dr. @oliviaguest. Do I have to complete additional steps?

[2020-02-19 16:14] trallard commented on #1929
Hi @meg-simula and thanks for the patience. I am afraid that I do not have the bandwidth to do this at the moment

[2020-02-19 16:32] MariaTsantaki commented on #2048
That's a very nice catch. It has been some time since ESO has been standardizing their reduced fits files but I haven't been aware of that because I have been using older data. I followed their recommendations to read such files. https://archive.eso.org/cms/eso-data/help/1dspectra.html
I push the changes for this.

[2020-02-19 16:51] kthyng commented on #1956
Ok great!

[2020-02-19 16:51] kthyng commented on #1956
@whedon set 10.5281/zenodo.3663390 as archive

[2020-02-19 16:51] whedon commented on #1956
OK. <a href="https://doi.org/10.5281/zenodo.3663390" target="_blank">10.5281/zenodo.3663390</a> is the archive.

[2020-02-19 16:52] kthyng commented on #1956
@whedon accept

[2020-02-19 16:52] whedon commented on #1956
[code]

[2020-02-19 16:53] whedon commented on #1956
[code]

[2020-02-19 16:53] whedon commented on #1956
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1322

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1322, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-19 16:55] kthyng commented on #1956
@whedon accept deposit=true

[2020-02-19 16:55] whedon commented on #1956
[code]

[2020-02-19 16:56] whedon commented on #1956
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1230174245914914816) 👈 🐦🐦🐦

[2020-02-19 16:56] whedon commented on #1956
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1323
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01956](https://doi.org/10.21105/joss.01956)
2. If everything looks g

[2020-02-19 16:59] oliviaguest commented on #1866
@pachamaltese no, we just wait for a @openjournals/joss-eics for the final step. Thank you.

[2020-02-19 17:03] kthyng commented on #1956
@openjournals/dev There is something wrong with the paper DOI. This seems to keep happening to me. How can I prevent it/watch for it in the future?

[2020-02-19 17:27] AndrewAnnex commented on #2050
@whedon commands

[2020-02-19 17:27] whedon commented on #2050
Here are some things you can ask me to do:

[code]

[2020-02-19 17:28] AndrewAnnex commented on #2050
@whedon generate pdf from branch fix_for_joss_zenodo

[2020-02-19 17:28] whedon commented on #2050
[code]

[2020-02-19 17:28] whedon commented on #2050
PDF failed to compile for issue #2050 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-29ce1a232aa1/lib/whedon/author.rb:68:in `block in build_affiliation_string': Problem with affiliations for Johan von Forstner, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-29ce1a232aa1/lib/whedon/author.rb:67:in `

[2020-02-19 17:31] AndrewAnnex commented on #2050
@whedon generate pdf from branch fix_for_joss_zenodo

[2020-02-19 17:31] whedon commented on #2050
[code]

[2020-02-19 17:31] rgmyr commented on #1969
Hi @kbarnhart, I'm working on addressing @JesperDramsch's issues with the documentation, which I think should also address the outstanding comments from @brendonhall's issue.

[2020-02-19 17:31] whedon commented on #2050
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02050/joss.02050/10.21105.joss.02050.pdf)

[2020-02-19 18:02] kyleniemeyer commented on #1956
@kthyng the DOI resolves for me, so it may just be a caching issue with your browser? Though sometimes it does take a few minutes or longer for it to initially resolve, which is a Crossref issue, I think.

[2020-02-19 18:06] AndrewAnnex commented on #2050
@mbobra I've received permission from the new author so I have went ahead and added their information and the above proof includes their information. If everything looks good I'll merge that change into the master branch and cut a new release 🚀

[2020-02-19 18:12] arfon commented on #1956
It takes a few mins for the DOI to register, plus sometimes, the DOI resolves before the GitHub Pages build is ready (so the PDF doesn't render).

Basically I recommend waiting a few mins before clicking the DOI link, and when rechecking, it sometimes helps to (re)try in incognito/private mode too to help your browser avoid caching issues.

[2020-02-19 18:12] nespinoza commented on #2103
Thanks @bmorris3 for considering all the comments I made on this! @dfm, I think I have covered all the angles on my side of the review at least. On my side, I'm happy to recommend accepting `fleck` for publication pending the AAS submission status.

[2020-02-19 18:13] arokem commented on #1904
Thank you. Before we proceed, could you please:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata, this includes the title (should match the paper title) and au

[2020-02-19 18:20] danielskatz commented on #1956
Sometimes I retry from a different network (e.g., phone vs wifi), since the caching seems to happen in the specific network somewhere.

[2020-02-19 19:54] MariaTsantaki commented on #2048
@ipelupessy
Thanks again for the comments.
I added more information on the Summary for the purpose of this tool and more details for the technical part. I also updated the README and manual.
I am not sure how other tests would be useful but I can include more spectra to test more than one star.

[2020-02-19 20:05] MariaTsantaki commented on #2048
@warrickball You almost made it! FASMA reached its limit for macroturbulence and it broke. There were not efficient number spectral points for the calculations. Since 20 km/s is too high for 'normal stars' I suspect there is another problem here. The spectrum region can be too narrow if other velocities with similar broadening profiles broaden the lines too much such as rotation. In this case I wo

[2020-02-19 20:07] kyleniemeyer commented on #1912
Everything looks good to me, so I'll proceed with acceptance.

[2020-02-19 20:07] kyleniemeyer commented on #1912
@whedon accept

[2020-02-19 20:07] whedon commented on #1912
[code]

[2020-02-19 20:08] whedon commented on #1912
[code]

[2020-02-19 20:08] kyleniemeyer commented on #1931
@whedon generate pdf

[2020-02-19 20:08] whedon commented on #1912
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1324

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1324, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-19 20:09] whedon commented on #1931
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01931/joss.01931/10.21105.joss.01931.pdf)

[2020-02-19 20:09] kyleniemeyer commented on #1931
Hi @feiyu-chen96, it looks like your Zenodo archive at https://doi.org/0.5281/zenodo.3674095 only contains the articlePDF. This is supposed to be an archive of the entire software repository, not the article—we handle archiving of that.

Can you please do that and provide the new DOI here?

[2020-02-19 20:10] kyleniemeyer commented on #1912
@whedon accept deposit=true

[2020-02-19 20:10] whedon commented on #1912
[code]

[2020-02-19 20:11] whedon commented on #1912
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1230223460166782976) 👈 🐦🐦🐦

[2020-02-19 20:11] whedon commented on #1912
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1325
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01912](https://doi.org/10.21105/joss.01912)
2. If everything looks g

[2020-02-19 20:13] drvinceknight commented on #1931
Apologies for missing that @kyleniemeyer.

[2020-02-19 20:17] kyleniemeyer commented on #1912
Congrats @kirui93 on your article's publication in JOSS!

Many thanks to @juliohm and @matbesancon for reviewing this, and @melissawm for editing.

[2020-02-19 20:17] #1912 closed

[2020-02-19 20:17] whedon commented on #1912
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01912/status.svg)](https://doi.org/10.21105/joss.01912)

**We need your help!**

Journal of Open Source Softwa

[2020-02-19 20:23] feiyu-chen96 commented on #1931
@kyleniemeyer @drvinceknight Sorry that I misunderstood what should be put in the archive. The new DOI is 10.5281/zenodo.3676028

[2020-02-19 20:28] kyleniemeyer commented on #1866
Hi @pachamaltese, I did some minor copy-editing in this PR: https://github.com/pachamaltese/economiccomplexity/pull/14

Could you merge this and let me know when you have?

[2020-02-19 20:29] kyleniemeyer commented on #1931
@whedon set 10.5281/zenodo.3676028 as archive

[2020-02-19 20:29] whedon commented on #1931
OK. <a href="https://doi.org/10.5281/zenodo.3676028" target="_blank">10.5281/zenodo.3676028</a> is the archive.

[2020-02-19 20:29] kyleniemeyer commented on #1931
@feiyu-chen96 no worries, thanks for your quick action

[2020-02-19 20:36] kyleniemeyer commented on #1866
@whedon generate pdf

[2020-02-19 20:37] whedon commented on #1866
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01866/joss.01866/10.21105.joss.01866.pdf)

[2020-02-19 20:39] kyleniemeyer commented on #1931
Hi @feiyu-chen96, regarding the article, I have just two minor corrections:
- in the first paragraph, you should combine the references to Seefeldt and Smith, like this: `[@author1:2001; @author2:2001]`, which will make them look like "(Author1 et al., 2001; Author2 et al., 2002)"
- in the second paragraph, insert "and" after "(2) good interpolation properties, "

[2020-02-19 20:39] kyleniemeyer commented on #1866
@whedon accept

[2020-02-19 20:39] whedon commented on #1866
[code]

[2020-02-19 20:39] whedon commented on #1866
[code]

[2020-02-19 20:40] whedon commented on #1866
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1326

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1326, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-19 20:41] kyleniemeyer commented on #1866
@whedon accept deposit=true

[2020-02-19 20:41] whedon commented on #1866
[code]

[2020-02-19 20:42] whedon commented on #1866
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1230231293834809349) 👈 🐦🐦🐦

[2020-02-19 20:42] whedon commented on #1866
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1327
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01866](https://doi.org/10.21105/joss.01866)
2. If everything looks g

[2020-02-19 20:44] feiyu-chen96 commented on #1931
@kyleniemeyer Thanks! I've updated the paper.

[2020-02-19 20:44] kyleniemeyer commented on #1931
@whedon generate pdf

[2020-02-19 20:45] whedon commented on #1931
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01931/joss.01931/10.21105.joss.01931.pdf)

[2020-02-19 20:46] kyleniemeyer commented on #1931
@whedon accept

[2020-02-19 20:46] whedon commented on #1931
[code]

[2020-02-19 20:47] whedon commented on #1931
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1328

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1328, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-19 20:48] kyleniemeyer commented on #1931
@whedon accept deposit=true

[2020-02-19 20:48] whedon commented on #1931
[code]

[2020-02-19 20:49] whedon commented on #1931
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1230232982281183232) 👈 🐦🐦🐦

[2020-02-19 20:49] whedon commented on #1931
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1329
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01931](https://doi.org/10.21105/joss.01931)
2. If everything looks g

[2020-02-19 20:57] kyleniemeyer commented on #1866
Congrats @pachamaltese on your article's publication in JOSS!

Many thanks to @JohnCoene and @mpadge for reviewing this, and @oliviaguest for editing.

[2020-02-19 20:57] #1866 closed

[2020-02-19 20:57] whedon commented on #1866
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01866/status.svg)](https://doi.org/10.21105/joss.01866)

**We need your help!**

Journal of Open Source Softwa

[2020-02-19 20:58] kyleniemeyer commented on #1931
Congrats @feiyu-chen96 on your article's publication in JOSS!

Many thanks to @dawbarton and @marcharper for reviewing this, and  @drvinceknight for editing.

[2020-02-19 20:58] #1931 closed

[2020-02-19 20:58] whedon commented on #1931
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01931/status.svg)](https://doi.org/10.21105/joss.01931)

**We need your help!**

Journal of Open Source Softwa

[2020-02-19 21:00] JohnCoene commented on #1866
Congrats Mauricio! 🥳 Thanks to everyone, particularly @oliviaguest for her patience throughout this lengthy review.

[2020-02-19 21:17] oliviaguest commented on #1866
@JohnCoene, @mpadge, and @pachamaltese: thank you all and especially congratulations to @pachamaltese!  🎉 👏

[2020-02-19 21:19] mjsottile commented on #2008
:wave: @rchg @irnaka @jayten Hello - we are looking for an additional reviewer for this JOSS submission to replace a reviewer who can no longer do a review.  I found your names on the potential reviewers spreadsheet based on your preferred languages and domains of expertise.  Would any of you be available for a review?

[2020-02-19 21:19] andreas-h commented on #2008
Sorry, cannot do it.

[2020-02-19 21:20] pachamaltese commented on #1866
thank you @oliviaguest
reproducibility is a really important subject, and I hope I made it clear with this particular piece of software

[2020-02-19 21:25] mjsottile commented on #2092
:wave: @gabrielspadon @dirmeier @dvysardana @GregaVrbancic Hello!  Would you be interested in reviewing this recent JOSS submission?  Based on the topic and your expertise as listed in our potential reviewer list I believe you may be a good match.

[2020-02-19 21:26] mjsottile commented on #1982
@whedon remind @agricolab in 1 week

[2020-02-19 21:26] whedon commented on #1982
Reminder set for @agricolab in 1 week

[2020-02-19 21:29] AnsleyManke commented on #2008
This is not in my area of expertise, sorry.

[2020-02-19 21:38] irnaka commented on #2008
Sorry, this is not my area of expertise.

==============================
Theodosius Marwan IRNAKA

*marwan.irnaka@gmail.com <marwan.irnaka@gmail.com>*
*+62852 2803 5489 <%2B6285228035489>*
+336 47 08 81 33
* <marwan.irnaka@mail.ugm.ac.id>*

On Wed, 19 Feb 2020 at 22:19, Matthew Sottile <notifications@github.com>
wrote:

[2020-02-19 22:59] AndrewAnnex commented on #2050
@whedon generate pdf

[2020-02-19 22:59] whedon commented on #2050
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02050/joss.02050/10.21105.joss.02050.pdf)

[2020-02-19 23:19] AndrewAnnex commented on #2050
@whedon generate pdf

[2020-02-19 23:19] whedon commented on #2050
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02050/joss.02050/10.21105.joss.02050.pdf)

[2020-02-19 23:27] afrubin commented on #2076
I've clarified the documentation and added a reference manuscript thanks to @FlorianThibord.

[2020-02-19 23:27] afrubin commented on #2076
@whedon generate pdf

[2020-02-19 23:28] whedon commented on #2076
PDF failed to compile for issue #2076 with the following error:

 Error reading bibliography ./paper.bib (line 113, column 9):
unexpected "m"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-02-20 00:01] afrubin commented on #2076
@whedon generate pdf

[2020-02-20 00:01] whedon commented on #2076
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02076/joss.02076/10.21105.joss.02076.pdf)

[2020-02-20 02:12] mbobra commented on #2050
Thanks for all this! Here are my answers:

* It is okay to have no affiliation. We recommend using 'None' instead of general public, so please change it to 'None.'
* All the other affiliations look good 😄
* It is sufficient to update the Zenodo deposit information by hand, so please go ahead and merge this branch into master (after making the affiliation change), cut a new release, deposit in Zeno

[2020-02-20 02:21] AndrewAnnex commented on #2050
@mbobra okay great I think we are almost ready then, but annoyingly I just noticed that all of my affiliations end with periods. Should I remove them?

[2020-02-20 02:28] mbobra commented on #2050
Hmm...I just looked at the most recent JOSS publications (https://joss.theoj.org/papers/published) and it looks like none of the affiliations end with periods. So, yes. Sorry :( We're almost there!!!

[2020-02-20 02:40] AndrewAnnex commented on #2050
@whedon generate pdf

[2020-02-20 02:40] whedon commented on #2050
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02050/joss.02050/10.21105.joss.02050.pdf)

[2020-02-20 03:36] AndrewAnnex commented on #2050
@mbobra turns out the .zenodo.json file was a bad idea and broke the release hence the delay. But in any case I fixed it!

the Zenodo DOI for SpiceyPy 3.0.2 is 10.5281/zenodo.3676146, note that the version is now v3.0.2.

:shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit: :shipit

[2020-02-20 03:51] rhagenson commented on #1974
@whedon generate pdf

Humans: I fixed a formatting error where an en dash did not have a space after it.

[2020-02-20 03:52] whedon commented on #1974
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01974/joss.01974/10.21105.joss.01974.pdf)

[2020-02-20 08:18] mpadge commented on #1866
Congrats @pachamaltese - a fabulous piece of work!

[2020-02-20 08:34] jayten commented on #2008
@mjsottile
If you are still looking for a reviewer, I will be happy to help with this JOSS submission.

[2020-02-20 09:42] volkerschmid commented on #2023
Sorry, I currently do not have time to review this.

[2020-02-20 09:56] pdebuyl commented on #2072
@SirSharpest the doi for the JOSS paper should already be known. @drvinceknight is it ok to cite a JOSS paper before its acceptance?

[2020-02-20 10:29] SirSharpest commented on #2072
I don't think it would be appropriate to cite before acceptance, [the DOI](https://doi.org/10.21105/joss.02072) currently is inactive it seems.

[2020-02-20 11:13] aureliocarnero commented on #2101
Hello, @noraeisner, I opened an issue in the github repo because I found a bug so I think it is better it is registered there.
Cheers
Aurelio

[2020-02-20 11:31] warrickball commented on #2048
I expect that the file format issues would restrict FASMA to some specific subset of spectra or require the user to modify their data for the command line script to run. It would be better to specify some FASMA data format to separate that from the analysis and define that format somewhere in the documentation. e.g. if I know that FASMA can use a plain text file with columns of wavelength (in some

[2020-02-20 11:42] #1956 closed

[2020-02-20 11:42] whedon commented on #1956
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01956/status.svg)](https://doi.org/10.21105/joss.01956)

**We need your help!**

Journal of Open Source Softwa

[2020-02-20 11:43] ipelupessy commented on #2048
..and/or accept a dictionary with the needed data as input for 'observations' ..

[2020-02-20 12:12] arfon commented on #1968
:wave: @romainsacchi, my apologies it has taken so very long to respond to this submission. Your paper was lost in the handover between editors over the holiday season and in conducting a review of our backlog this morning I noticed there hadn't been any activity on your paper.

I noticed that you have now marked the paper as 'withdrawn' on the JOSS site. Is this what you would like to happen at t

[2020-02-20 14:03] noraeisner commented on #2101
Hi @aureliocarnero, thank you so much for all your comments. I have added a section in the readme file on how to execute the automated tests (using python3 -m unittest) and I have added a section and a file (CONTRIBUTIONS.md) for the Community guidelines as well as addressed the exclamation marks and spell mistakes in the readme file. I'm so sorry about missing these.

The modelling feature is unf

[2020-02-20 14:11] conlin-matt commented on #2075
Hi @kbarnhart et al.,

I have finished my review as well. Agreeing with @chrisleaman here that this is a neat tool to help deal with a whole-lot of difficult-to-manage data. I especially find the ability to automatically extract geographic info from the photos to be a hugely useful and important feature. It's relatively easy to use, and, with a few tweaks to the documentation (outlined in my submi

[2020-02-20 14:51] rhenanbartels commented on #1867
Hi @Kevin-Mattheus-Moerman, I've just pushed the suggestions made by @paulvangentcom.

Cheers,

Rhenan

[2020-02-20 15:46] warrickball commented on #2048
After I shifted the wavelength values in the spectrum by 30 km/s, I got a decent fit to my star, so I think I'm now happy that FASMA is capable of fitting the fundamental parameters of stellar spectra. This did, however, involve writing myself some scripts to convert between various formats and apply the RV correction. Assuming the RV correction is as simple as multiplying by (1+v/c), it would be

[2020-02-20 16:20] DiegoJRR commented on #2073
Hi, I am almost done with the review.

I did not find real world examples in the documentation, or some direct application for the software. This would add a lot to its usability.

 Apart from this, everything LGTM! I had no problems running the examples and tests. Excellent work

[2020-02-20 16:37] danasolav commented on #2060
@JoshuaSteer. Good news! I was able to install and run the GUI. I will send my comments soon.

[2020-02-20 16:42] aureliocarnero commented on #2101
Thank you a lot @noraeisner for the quick response.
So I cannot reproduce again either the canvas.get_property("window") error any longer! It remains a mystery why I had 2 separate errors in the same window of time...
I'm using Ubuntu 19.10

I will test again to see if I get an error again.

To try the new version where the settings "model" is no longer available... Do I have to install the code a

[2020-02-20 16:48] warrickball commented on #2048
I've just noticed that the changes to the line data filenames are mentioned on the top-level README. Sorry!

[2020-02-20 16:48] aureliocarnero commented on #2101
@noraeisner two quick comments:
1) Could you please put in the paper, a reference to Kepler? Second paragraph in the paper, I'm missing the reference to Kepler there.

2) Maybe it is a silly thing, May I would recommend to put the Brasseur, Phillip, Fleming, Mullally & White, 2019 as Brasseur et al, 2019.?

3) Please correct the word "eecuting" in the README.md, here:
To check, please try eecuting

[2020-02-20 17:10] telatin commented on #2058
Hello!
We tested our tool comparing its speed with *bedtools* and *mosdepth*. With either small genomes or large genomes  having a small targets (*e. g.* Human gene panels), *covtobed* outperforms both tools (up to 60X faster). In whole exome sequencing *covtobed* is 3-5X slower than *mosdepth* but 2-4X faster than *bedtools*.

We believe that this combined with peculiar features (covtobed is avai

[2020-02-20 17:19] mbobra commented on #2050
@whedon set 10.5281/zenodo.3676146 as archive

[2020-02-20 17:20] mbobra commented on #2050
@whedon set v3.0.2 as version

[2020-02-20 17:20] whedon commented on #2050
OK. v3.0.2 is the version.

[2020-02-20 17:21] mbobra commented on #2050
@openjournals/joss-eics This paper is ready for final processing 🎉

[2020-02-20 17:36] noraeisner commented on #2101
@aureliocarnero, I'm glad to hear that the problem is no longer occurring but I agree that it is very strange that two errors happened at the same time. I will test the code on an Ubuntu computer in order to see whether the errors are related to the operating system.

Yes, I have removed the modelling routine from the GitHub repository (and I will do the same for the pip install version) so it sho

[2020-02-20 17:44] mjsottile commented on #2008
@whedon remove @rasmussn as reviewer

[2020-02-20 17:45] whedon commented on #2008
OK, @rasmussn is no longer a reviewer

[2020-02-20 17:45] mjsottile commented on #2008
@whedon add @jayten as reviewer

[2020-02-20 17:45] whedon commented on #2008
OK, @jayten is now a reviewer

[2020-02-20 17:47] mjsottile commented on #2008
Thank you @jayten for agreeing to review.  I’ve added you as a reviewer and updated the checklist at the top of the issue to include you.  Please let me know if you have any questions or need any assistance in completing your review.

[2020-02-20 18:46] jasmainak commented on #1959
They weren't but now we added this test thanks to @titipata in https://github.com/glm-tools/pyglmnet/pull/364. We were indirectly testing this in many ways but I agree `check_estimator` is the best way to guarantee compatibility. Thanks a lot for the suggestion!

[2020-02-20 18:53] arokem commented on #1959
Awesome! I think that the paper is ready for a final review by the EICs. Before we go ahead, could you please:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata

[2020-02-20 19:24] aureliocarnero commented on #2101
About this, don't worry then, it must be the reference style of JOSS, they might have the limit to 5 authors before going to et al.

[2020-02-20 19:26] aureliocarnero commented on #2101
@noraeisner could you please let me know when the LATTE installation in the new version is available in pip install. Maybe already is.

[2020-02-20 19:43] ckoerber commented on #2007
Hello @gkthiruvathukal, @ixjlyons, and @remram44,

We are happy that EspressoDB was accepted for publication and would like to thank you for your time and efforts.

The tagged release is [v1.1.0](https://github.com/callat-qcd/espressodb/releases/tag/v1.1.0) and the zenodo doi is 10.5281/zenodo.3676074 for all versions and 10.5281/zenodo.3677432 for the one associated with the tag. We have verified

[2020-02-20 20:54] gkthiruvathukal commented on #2007
Thanks, @ckoerber, for the follow up. I will work on the final steps and signal the EICs when done.

[2020-02-20 21:08] philerooski commented on #2106
Thanks Anicet! I am working on them.

[2020-02-20 22:19] katmratliff commented on #2075
Hi @kbarnhart and others,

I have also finished my review. I agree with @chrisleaman and @conlin-matt that is a very useful package for streamlining the downloading, extracting, and processing of NOAA imagery, which will undoubtedly be of interest to many academic, engineering, and government entities. The paper states the use cases for the software, and the documentation is informative.  I did ha

[2020-02-20 22:57] gkthiruvathukal commented on #2007
@whedon set v1.1.0 as release

[2020-02-20 22:57] whedon commented on #2007
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-02-20 22:57] gkthiruvathukal commented on #2007
@whedon commands

[2020-02-20 22:57] whedon commented on #2007
Here are some things you can ask me to do:

[code]

[2020-02-20 22:57] gkthiruvathukal commented on #2007
@whedon set v1.1.0 as version

[2020-02-20 22:57] whedon commented on #2007
OK. v1.1.0 is the version.

[2020-02-20 22:58] gkthiruvathukal commented on #2007
@whedon set 10.5281/zenodo.3677432 as archive

[2020-02-20 22:58] whedon commented on #2007
OK. <a href="https://doi.org/10.5281/zenodo.3677432" target="_blank">10.5281/zenodo.3677432</a> is the archive.

[2020-02-20 22:59] gkthiruvathukal commented on #2007
@whedon generate pdf

[2020-02-20 23:00] whedon commented on #2007
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02007/joss.02007/10.21105.joss.02007.pdf)

[2020-02-20 23:01] gkthiruvathukal commented on #2007
@whedon generate pdf from branch v1.1.0

[2020-02-20 23:01] whedon commented on #2007
[code]

[2020-02-20 23:01] whedon commented on #2007
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02007/joss.02007/10.21105.joss.02007.pdf)

[2020-02-20 23:04] gkthiruvathukal commented on #2007
@openjournals/joss-eics I'm recommending this paper for acceptance.

[2020-02-20 23:20] arfon commented on #1685
It's now more than four months since [we last heard](https://github.com/openjournals/joss-reviews/issues/1685#issuecomment-537184269) from the author (@fblavoie). If there's no response by March 1st (which will be 5 months since last contact) then I will close this issue and withdraw the paper on their behalf, assuming that they have lost interest in pursuing this publication with JOSS.

[2020-02-20 23:23] arfon commented on #2096
:wave: @daniel-muthukrishna - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-02-21 01:11] AustinNar commented on #1917
Hello! Sorry for the long delay before actually beginning work on this.

I have added a CONTRIBUTING.md which is linked from main README. I added
installation instructions and links to R and Python examples both in the
main README and in a (new) docs/README.md file. Let me know if you would
like any of this to be more comprehensive.

Thanks!

On Sun, Feb 16, 2020 at 10:13 AM Daniel S. Katz <notifi

[2020-02-21 03:05] kyleniemeyer commented on #2050
Hi @AndrewAnnex, I submitted two small PRs that did some copy-editing:
https://github.com/AndrewAnnex/SpiceyPy/pull/356 and https://github.com/AndrewAnnex/SpiceyPy/pull/357

[2020-02-21 03:22] kyleniemeyer commented on #2007
OK, everything looks good to me!

[2020-02-21 03:22] kyleniemeyer commented on #2007
@whedon accept

[2020-02-21 03:22] whedon commented on #2007
[code]

[2020-02-21 03:23] whedon commented on #2007
[code]

[2020-02-21 03:23] whedon commented on #2007
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1330

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1330, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-21 03:24] kyleniemeyer commented on #2007
@ckoerber actually, it looks like one of your citations to an arXiv preprint (Berkowitz 2018) has since been published, can you update the info? https://doi.org/10.1109/sc.2018.00058

[2020-02-21 03:54] AndrewAnnex commented on #2050
@kyleniemeyer okay I will look to merge those, will that require a new release?

[2020-02-21 04:02] AndrewAnnex commented on #2050
@kyleniemeyer those changes are merged

@whedon generate pdf

[2020-02-21 04:03] AndrewAnnex commented on #2050
@whedon generate pdf

[2020-02-21 04:03] whedon commented on #2050
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02050/joss.02050/10.21105.joss.02050.pdf)

[2020-02-21 04:18] kyleniemeyer commented on #2050
No, we can proceed since the software hasn't changed

[2020-02-21 04:18] kyleniemeyer commented on #2050
@whedon accept

[2020-02-21 04:18] whedon commented on #2050
[code]

[2020-02-21 04:19] whedon commented on #2050
[code]

[2020-02-21 04:19] whedon commented on #2050
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1331

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1331, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-21 04:41] kyleniemeyer commented on #2050
@whedon accept deposit=true

[2020-02-21 04:41] whedon commented on #2050
[code]

[2020-02-21 04:42] whedon commented on #2050
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1230714471502401536) 👈 🐦🐦🐦

[2020-02-21 04:42] whedon commented on #2050
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1332
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02050](https://doi.org/10.21105/joss.02050)
2. If everything looks g

[2020-02-21 06:10] kyleniemeyer commented on #2050
Congrats @AndrewAnnex on your article's publication in JOSS!

Many thanks to @hayesla and @jessie-dotson for reviewing this, and @mbobra for editing.

[2020-02-21 06:10] #2050 closed

[2020-02-21 06:10] whedon commented on #2050
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02050/status.svg)](https://doi.org/10.21105/joss.02050)

**We need your help!**

Journal of Open Source Softwa

[2020-02-21 06:20] cchang5 commented on #2007
@kyleniemeyer Thank you for pointing this out. We have updated the citation.

[2020-02-21 06:25] kyleniemeyer commented on #2007
@whedon generate pdf

[2020-02-21 06:25] whedon commented on #2007
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02007/joss.02007/10.21105.joss.02007.pdf)

[2020-02-21 06:26] whedon opened #2108 "[PRE REVIEW]: Maelstrom: A Python package for identifying companions to pulsating stars from their light travel time variations"
**Submitting author:** @danhey (<a href="http://orcid.org/0000-0003-3244-5357">Daniel Hey</a>)
**Repository:** <a href="https://github.com/danhey/maelstrom" target ="_blank">https://github.com/danhey/maelstrom</a>
**Version:** v0.2
**Editor:** @mbobra
**Reviewers:** @hpparvi, @DingXuefeng
**Managing EiC:** Kyle Niemeyer

**Author instructions**

Thanks for submitting your paper to JOSS @danhey. **

[2020-02-21 06:26] whedon commented on #2108
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-21 06:26] whedon commented on #2108
PDF failed to compile for issue #2108 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2108 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-29ce1a232aa1/lib/whedo

[2020-02-21 06:26] whedon commented on #2108
[code]

[2020-02-21 06:27] kyleniemeyer commented on #2108
@whedon invite @mbobra as editor

[2020-02-21 06:27] roshansamuel commented on #2095
Hi @dlagrava we now indicate the yaml-cpp compatibility issues in the README. We are testing the new yaml API on a development branch and update the solver once it is ready.

[2020-02-21 06:27] whedon commented on #2108
@mbobra has been invited to edit this submission.

[2020-02-21 06:30] kyleniemeyer commented on #2108
@openjournals/dev any ideas why the paper won't compile? I see there is a figure, but can't decipher the error message.

[2020-02-21 06:31] kyleniemeyer commented on #2007
@whedon accept

[2020-02-21 06:31] whedon commented on #2007
[code]

[2020-02-21 06:31] whedon commented on #2007
[code]

[2020-02-21 06:32] whedon commented on #2007
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1333

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1333, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-21 06:32] cchang5 commented on #2007
Sorry... The new citation was referenced twice. I missed the second time.

[2020-02-21 06:34] kyleniemeyer commented on #2007
@cchang5 did you correct this? nothing has been finalized yet

[2020-02-21 06:41] whedon opened #2109 "[PRE REVIEW]: TESPy: Thermal Engineering Systems in Python"
**Submitting author:** @fwitte (<a href="http://orcid.org/0000-0003-4019-0390">Francesco Witte</a>)
**Repository:** <a href="https://github.com/oemof/tespy" target ="_blank">https://github.com/oemof/tespy</a>
**Version:** 0.2.2
**Editor:** @kyleniemeyer
**Reviewers:** @arosen93, @corentin-dev
**Managing EiC:** Kyle Niemeyer

**Author instructions**

Thanks for submitting your paper to JOSS @fwitte

[2020-02-21 06:41] whedon commented on #2109
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-21 06:42] whedon commented on #2109
[code]

[2020-02-21 06:42] whedon commented on #2109
[code]

[2020-02-21 06:42] whedon commented on #2109
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02109/joss.02109/10.21105.joss.02109.pdf)

[2020-02-21 06:42] kyleniemeyer commented on #2109
@whedon invite @katyhuff as editor

[2020-02-21 06:42] whedon commented on #2109
@katyhuff has been invited to edit this submission.

[2020-02-21 06:45] whedon opened #2110 "[PRE REVIEW]: Autorank: A Python package for automated ranking of classifiers"
**Submitting author:** @sherbold (<a href="http://orcid.org/0000-0001-9765-2803">Steffen Herbold</a>)
**Repository:** <a href="https://github.com/sherbold/autorank" target ="_blank">https://github.com/sherbold/autorank</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewers:** @JonathanReardon, @ejhigson
**Managing EiC:** Kyle Niemeyer

**Author instructions**

Thanks for submitting your paper to JO

[2020-02-21 06:45] whedon commented on #2110
[code]

[2020-02-21 06:45] whedon commented on #2110
[code]

[2020-02-21 06:45] whedon commented on #2110
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02110/joss.02110/10.21105.joss.02110.pdf)

[2020-02-21 07:11] kyleniemeyer commented on #2110
@whedon invite @lorenanicole as editor

[2020-02-21 07:11] whedon commented on #2110
@lorenanicole has been invited to edit this submission.

[2020-02-21 07:11] kyleniemeyer commented on #2110
Hi @lorenanicole, I think this may be your first editorial request—feel free to reach out with any questions!

[2020-02-21 07:43] dlagrava commented on #2095
@roshansamuel thanks for that! I will continue with my review then. Cheers.

[2020-02-21 07:50] csoneson commented on #2079
👋 @LTLA, just wanted to check in on your review and when you think you might have some comments for @PhilBoileau. Thanks!

[2020-02-21 08:08] LTLA commented on #2079
Oops. Forgot about this. Alright, I'll hold up my end of the deal. Expect comments tomorrow evening.

[2020-02-21 09:05] xuanxu commented on #2108
@whedon generate pdf

[2020-02-21 09:06] whedon commented on #2108
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02108/joss.02108/10.21105.joss.02108.pdf)

[2020-02-21 09:11] xuanxu commented on #2108
@kyleniemeyer It looks like there was a problem finding the paper file in the initial import

[2020-02-21 11:20] oxinabox commented on #2090
I have not yet properly begun the review, and am yet to more than skim the paper and code.

I notice that a few lines are almost character for character identical to DistQuads.jl
The DistQuads package is mentioned in Acknowledgements.
However, given relative size and scope of the overlap, it seems as though it may be more appropriate to have the author of DistQuads.jl as a coauthor to the paper.
e

[2020-02-21 11:46] arfon commented on #2108
:wave: @danhey - does this paper accompany a publication in a AAS journal?

[2020-02-21 11:54] AKuederle commented on #2106
I added a review issue for the package repo Sage-Bionetworks/mhealthtools#209

[2020-02-21 12:01] warrickball commented on #2048
Now that I could finally install and confirm that the code runs and is reasonably usable, here's my first pass at reviewing it from beginning to end and identifying some outstanding issues. I've ticked off things I'm already satisfied with and commented below on improvements that could be made (including things that are already satisfactory but could be better).

I'm not a licensing expert but I'm

[2020-02-21 12:43] leouieda commented on #1753
@anmolter sorry for the delay. I had messaged a couple of people who couldn't review.

[2020-02-21 12:44] leouieda commented on #1753
@martinfleis @martibosch would you be interested in reviewing this submission for JOSS? You can find the paper here and the software repository at the top of this issue. Please note that the software requires ArcGIS and you would need access to a license in order to test it. Thank you for your time.

[2020-02-21 12:45] leouieda commented on #1753
@whedon generate pdf

[2020-02-21 12:45] whedon commented on #1753
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01753/joss.01753/10.21105.joss.01753.pdf)

[2020-02-21 12:46] martinfleis commented on #1753
@leouieda I don not have an access to ArcGIS Pro. Sorry.

[2020-02-21 13:29] martibosch commented on #1753
@leouieda although I think I could get access to ArcGIS through an EPFL student license or the like, I have never used and therefore I believe that other reviewers would be more suitable than me. Nonetheless, feel free to ping me back if you no other reviewers are available. Best,
Martí

[2020-02-21 13:44] Chilipp commented on #2042
Thanks @arbennett! For me, this paper is ready for publication @sjpfenninger

[2020-02-21 13:53] AndrewAnnex commented on #2050
Thank you @kyleniemeyer @mbobra @jessie-dotson @hayesla !

[2020-02-21 14:20] jayten commented on #2008
I have gone through the review process for the [`teb`](https://github.com/teb-model/teb) repository.  I was able to install (on Ubuntu18 and MacOs 10.13) and run test cases with instructions provided in the documentation. The software solves the intended problem well. The software is well written and documented. However, the flavor of the FORTRAN code style is old, owing to the use of old legacy c

[2020-02-21 14:42] ebgoldstein commented on #2075
Thanks @chrisleaman, @conlin-matt, @katmratliff, and @kbarnhart for all of your the suggestions, PRs, issues, bug identifications, and comments. The docs and the paper now reflect the changes requested by reviewers. I think we (read: @Matmorcat) have squashed some nice bugs.

@chrisleaman 's suggestions for future enhancements have been added as issues, and we hope to integrate these with future i

[2020-02-21 15:54] arnavs commented on #2090
@oxinabox I ran the acknowledgment text by Patrick (and this is kinda why I wanted him to be a reviewer.) But that's a good point. I'll ask him if he's interested in coauthorship. Will let you know what he says.

[2020-02-21 16:15] drvinceknight commented on #2072
Yes the DOI is not yet an actual representation of the software as it might be modified still. I'm still waiting to hear back from @markgalassi but if I don't soon I will look for another reviewer.

[2020-02-21 16:17] ckoerber commented on #2007
Hello @kyleniemeyer,

Yes the second reference is now updated as well. The updates to the references (only changes) are on the master branch which is now ahead of the previous `v1.1.0` tag. Do we have to move or create a new tag for the submission (if so, do we have to updated the Zenodo doi as well)?

[2020-02-21 16:31] markgalassi commented on #2072
I just got back from travel and dove in to the paper.  I am afraid that it is clearly not a candidate for anything yet.  The simplest of things (following the procedure in README.md) fails:
`pores = fibonacci_spheres(p, v)   `

gives:

`NameError: name 'p' is not defined`

Clearly some variable p should be set, but for a minimal example which is the first thing shown this is not given!

Please hav

[2020-02-21 16:33] markgalassi commented on #2072
Let me also add a comment on the idea of notebooks as documentation: I know they are much in vogue, but there are people (like me) who insist on reproducible procedures for running python code as batch.  This means that I am not in the habit of loading notebooks, and if I am presented with documentation as a notebook I want a command line invocation which will load all that.  So pointing to a dire

[2020-02-21 16:34] markgalassi commented on #2072
(sorry: clicked wrong button and "close"ed the issue; I think that this reopens it)

[2020-02-21 17:11] martinmodrak commented on #2016
So I completed a first round of review. I think developing open source software for medical practitioners is a worthwhile endeavour and can be especially valuable for those operating in less developed countries.  The software had some major problems on my computer (e.g. https://github.com/drwaseemsheikh/audiometry/issues/7) , but I believe those are likely very simple bugs that can be easily resol

[2020-02-21 17:33] kyleniemeyer commented on #2007
@ckoerber no, we aren't concerned with a minor update to the article—we archive that. I'll proceed with the existing Zenodo archive and version.

[2020-02-21 17:33] kyleniemeyer commented on #2007
@whedon accept

[2020-02-21 17:33] whedon commented on #2007
[code]

[2020-02-21 17:33] whedon commented on #2007
[code]

[2020-02-21 17:33] whedon commented on #2007
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1334

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1334, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-21 17:37] kyleniemeyer commented on #2007
@whedon accept deposit=true

[2020-02-21 17:37] whedon commented on #2007
[code]

[2020-02-21 17:38] whedon commented on #2007
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1230909558878543872) 👈 🐦🐦🐦

[2020-02-21 17:38] whedon commented on #2007
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1335
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02007](https://doi.org/10.21105/joss.02007)
2. If everything looks g

[2020-02-21 17:48] kyleniemeyer commented on #2007
Congrats  @ckoerber & @cchang5 on your article's publication in JOSS!

Many thanks to @remram44 and @ixjlyons for reviewing this, and @gkthiruvathukal for editing.

[2020-02-21 17:48] #2007 closed

[2020-02-21 17:48] whedon commented on #2007
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02007/status.svg)](https://doi.org/10.21105/joss.02007)

**We need your help!**

Journal of Open Source Softwa

[2020-02-21 17:55] majensen commented on #2006
@whedon add @fedorov as reviewer

[2020-02-21 17:55] whedon commented on #2006
OK, @fedorov is now a reviewer

[2020-02-21 17:58] majensen commented on #2006
Thanks @federov for agreeing to review this work. I've added a checklist for you in the header message.

[2020-02-21 18:00] majensen commented on #2006
Thanks @fedorov for agreeing to review this work.

[2020-02-21 18:09] mbobra commented on #2108
@whedon assign @mbobra as editor

[2020-02-21 18:09] whedon commented on #2108
OK, the editor is @mbobra

[2020-02-21 18:31] cMadan commented on #2085
@strengejacke, thanks for agreeing to be a reviewer! We'll start the review after I've found a second reviewer.

@fabian-s, no problem, thanks for considering and the prompt response!

[2020-02-21 18:32] cMadan commented on #2085
@whedon add @strengejacke as reviewer

[2020-02-21 18:32] whedon commented on #2085
OK, @strengejacke is now a reviewer

[2020-02-21 18:32] cMadan commented on #2085
@adibender @aj2duncan, would you be available and interested in reviewing this submission?

[2020-02-21 18:34] cMadan commented on #2098
@utf, no problem, thanks for the suggestion!

@mkhorton, would you be available and interested in reviewing this submission? (I notice you thumbs-up'd the comment, but thought I should ask properly before just assigning you.)

[2020-02-21 18:36] mkhorton commented on #2098
Yes, fine with me, thanks for asking @cMadan !

[2020-02-21 20:58] drwaseemsheikh commented on #2016
I have addressed all your comments. I would like to reiterate again that as a reviewer your job is to make sure that the software meets the above checkmarks or requirements for the review and not that it is perfect. A lot of changes you asked me to do are small from a user's perspective but would require months of development time from my end which I don't have. I would urge you as a reveiwer to k

[2020-02-21 21:31] akeshavan commented on #1983
Thanks @Marcdh3 ! Can you create a tagged release on GitHub, upload it to Zenodo, and then tell us the DOI?

[2020-02-21 21:34] mjsottile commented on #2008
@jayten Thanks for the great and prompt review.  I will look into the issues you raise when I return from travel next week.  I need to look more into the CeCILL licenses - as I understand them from looking at them a number of years ago, they are generally recognized as similar to the FSF and OSI licenses, but originated in Europe independently of the more common licenses that largely originated in

[2020-02-21 21:38] danielskatz commented on #2008
JOSS requires submitted software to have an OSI-approved license.  It looks like we (actually I) missed this originally, for which I apologize to the author and reviewers.

[2020-02-21 21:38] danielskatz commented on #2008
👋 @dmey - Is it possible to change (or dual license) with an OSI-approved license?  If not, we will have to ask you to withdraw this submission or we will have to reject it.

[2020-02-21 21:40] danielskatz commented on #2008
Note that https://opensource.org/licenses/CECILL-2.1 is an OSI-approved license - perhaps CeCILL-C-V1 is as well, but I can't find it on the OSI site.

[2020-02-21 21:42] danielskatz commented on #2008
Finally, I see on https://en.wikipedia.org/wiki/CeCILL:

[2020-02-21 22:03] akeshavan commented on #2016
@drwaseemsheikh, I understand the challenges of developing and maintaining open source software, and that it can be difficult to incorporate reviewers' suggestions when you are limited on time and are working on this software for free. Every author on JOSS experiences this.

But JOSS has standards for the open source software papers that we publish. We are very grateful that our reviewers voluntar

[2020-02-21 22:09] aj2duncan commented on #2085
I'm happy to review this.

[2020-02-21 22:14] arnavs commented on #2090
@pkofod is willing to be a coauthor. Will add him to the paper. Thanks for the suggestion.

[2020-02-21 22:17] akeshavan commented on #2023
@whedon add @paulgovan as reviewer

[2020-02-21 22:17] whedon commented on #2023
OK, @paulgovan is now a reviewer

[2020-02-21 22:18] akeshavan commented on #2023
@whedon start review

[2020-02-21 22:18] whedon opened #2111 "[REVIEW]: BGGM: Bayesian Gaussian Graphical Models in R"
**Submitting author:** @donaldRwilliams (<a href="http://orcid.org/0000-0001-6735-8785">Donald Williams </a>)
**Repository:** <a href="https://github.com/donaldRwilliams/BGGM" target ="_blank">https://github.com/donaldRwilliams/BGGM</a>
**Version:** 1.0.0
**Editor:** @akeshavan
**Reviewer:** @jayrobwilliams, @paulgovan
**Archive:** <a href="https://doi.org/10.5281/zenodo.3954503" target="_blank">1

[2020-02-21 22:18] whedon commented on #2023
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2111.

[2020-02-21 22:18] #2023 closed

[2020-02-21 22:18] whedon commented on #2111
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jayrobwilliams, @paulgovan it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pro

[2020-02-21 22:19] whedon commented on #2111
PDF failed to compile for issue #2111 with the following error:

 Can't find any papers to compile :-(

[2020-02-21 22:19] akeshavan commented on #2023
thanks @paulgovan and @jayrobwilliams ! I'm closing this pre-review issue, so head on over to #2111 to start the review

[2020-02-21 22:23] akeshavan commented on #2017
👋 hi @kellieotto and @tweed1e -- would you be interested in reviewing this paper for JOSS?

[2020-02-21 22:25] lorenanicole commented on #2110
Greetings @kyleniemeyer ! I am traveling tomorrow to arrive early to be onsite for work next week! In terms of time expectations, I presume starting to work on this next weekish is agreeable?

[2020-02-21 22:25] arnavs commented on #2090
@whedon generate pdf

[2020-02-21 22:26] whedon commented on #2090
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02090/joss.02090/10.21105.joss.02090.pdf)

[2020-02-21 22:30] arnavs commented on #2090
@whedon generate pdf

[2020-02-21 22:30] whedon commented on #2090
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02090/joss.02090/10.21105.joss.02090.pdf)

[2020-02-21 23:31] dmey commented on #2008
Hello all, many thanks for your prompt comments and feedback -- I will get back in the next 10 days or so.

[2020-02-22 00:25] kyleniemeyer commented on #2110
@lorenanicole sure thing, a few days delay isn't an issue (especially over the weekend)

[2020-02-22 00:25] kyleniemeyer commented on #2110
@whedon assign @lorenanicole as editor

[2020-02-22 00:25] whedon commented on #2110
OK, the editor is @lorenanicole

[2020-02-22 00:27] whedon opened #2112 "[PRE REVIEW]: cgmquantify: A Python package for comprehensive analysis of interstitial glucose and glycemic variability from continuous glucose monitor data"
**Submitting author:** @brinnaebent (<a href="http://orcid.org/0000-0002-7039-0177">Brinnae Bent</a>)
**Repository:** <a href="https://github.com/brinnaebent/cgmquantify" target ="_blank">https://github.com/brinnaebent/cgmquantify</a>
**Version:** v0.3
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**Author instructions**

Thanks for submitting your paper to JOSS @brinn

[2020-02-22 00:27] whedon commented on #2112
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-22 00:28] whedon commented on #2112
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02112/joss.02112/10.21105.joss.02112.pdf)

[2020-02-22 00:28] whedon commented on #2112
[code]

[2020-02-22 00:29] kyleniemeyer commented on #2112
Hi  @brinnaebent, thanks for your interest in JOSS. Before we get started, could you clarify: in terms of source code, I just see `__init__.py`, which has around 240 lines of code. Are there any other files that I am missing?

[2020-02-22 00:45] whedon opened #2113 "[PRE REVIEW]: BiRank: Fast and Flexible Ranking on Bipartite Networks with R and Python"
**Submitting author:** @yangkcatiu (<a href="http://orcid.org/0000-0003-4627-9273">Kai-Cheng Yang</a>)
**Repository:** <a href="https://github.com/BrianAronson/birankr" target ="_blank">https://github.com/BrianAronson/birankr</a>
**Version:** v0.1.1
**Editor:** @drvinceknight
**Reviewers:** @gvegayon, @nikoleta-v3
**Managing EiC:** Kyle Niemeyer

**Author instructions**

Thanks for submitting your

[2020-02-22 00:45] whedon commented on #2113
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-22 00:45] whedon commented on #2113
[code]

[2020-02-22 00:45] whedon commented on #2113
[code]

[2020-02-22 00:45] whedon commented on #2113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02113/joss.02113/10.21105.joss.02113.pdf)

[2020-02-22 00:47] kyleniemeyer commented on #2113
@whedon invite @drvinceknight as editor

[2020-02-22 00:47] whedon commented on #2113
@drvinceknight has been invited to edit this submission.

[2020-02-22 00:48] whedon opened #2114 "[PRE REVIEW]: OpenOA: An Open-Source Codebase For Operational Analysis of Wind Farms"
**Submitting author:** @jordanperr (<a href="http://orcid.org/0000-0003-1571-1887">Jordan Perr-Sauer</a>)
**Repository:** <a href="https://github.com/NREL/OpenOA" target ="_blank">https://github.com/NREL/OpenOA</a>
**Version:** v1
**Editor:** @sjpfenninger
**Reviewers:** @gschivley
**Managing EiC:** Kyle Niemeyer

**Author instructions**

Thanks for submitting your paper to JOSS @jordanperr. **Cur

[2020-02-22 00:48] whedon commented on #2114
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-22 00:48] whedon commented on #2114
[code]

[2020-02-22 00:48] whedon commented on #2114
[code]

[2020-02-22 00:49] kyleniemeyer commented on #2114
@whedon invite @sjpfenninger as editor

[2020-02-22 00:49] whedon commented on #2114
@sjpfenninger has been invited to edit this submission.

[2020-02-22 00:49] kyleniemeyer commented on #2114
Hey @sjpfenninger, this looks right up your alley!

[2020-02-22 00:49] whedon commented on #2114
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02114/joss.02114/10.21105.joss.02114.pdf)

[2020-02-22 00:51] whedon opened #2115 "[PRE REVIEW]: niacin: A Python package for text data enrichment"
**Submitting author:** @deniederhut (<a href="http://orcid.org/0000-0002-9995-4378">Dillon Niederhut</a>)
**Repository:** <a href="https://github.com/deniederhut/niacin" target ="_blank">https://github.com/deniederhut/niacin</a>
**Version:** 0.2.0
**Editor:** @oliviaguest
**Reviewers:** @BayesforDays, @sara-02
**Managing EiC:** Kyle Niemeyer

**Author instructions**

Thanks for submitting your pap

[2020-02-22 00:51] whedon commented on #2115
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-22 00:51] whedon commented on #2115
[code]

[2020-02-22 00:52] whedon commented on #2115
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02115/joss.02115/10.21105.joss.02115.pdf)

[2020-02-22 00:52] kyleniemeyer commented on #2115
@whedon invite @oliviaguest as editor

[2020-02-22 00:52] whedon commented on #2115
@oliviaguest has been invited to edit this submission.

[2020-02-22 00:52] kyleniemeyer commented on #2115
Hi @oliviaguest, can you handle this one?

[2020-02-22 00:53] danhey commented on #2108
Yes! The paper is currently in review. I submitted under the dual-review system, so the editors are aware of the JOSS review

[2020-02-22 00:53] kbarnhart commented on #2075
@whedon generate pdf

[2020-02-22 00:54] whedon commented on #2075
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02075/joss.02075/10.21105.joss.02075.pdf)

[2020-02-22 00:55] kbarnhart commented on #1969
Thanks @rgmyr. I'd recommend posting a quick note when you guys are done to let me and the other reviewers know.

[2020-02-22 01:02] kbarnhart commented on #2075
Thanks to reviewers @chrisleaman, @conlin-matt, @katmratliff for prompt and thoughtful reviews and to authors @ebgoldstein (and @Matmorcat) for addressing issues. I agree with the decision to archive @chrisleaman's recommendations for future enhancements and outstanding issues. I see that those are the only remaining open issues.

At this stage, I ask that all reviewers confirm their recommendatio

[2020-02-22 01:24] JesperDramsch commented on #1969
I just want to mention that I will be on vacation in March (until around the 20th) and I can only commence with the full review after the documentation is in place.

[2020-02-22 04:41] chrisleaman commented on #2075
@kbarnhart, confirming my recommendation to accept this publication 👍

[2020-02-22 05:53] yangkcatiu commented on #2113
Suggestions for potential reviewers:

ati-ozgur
rodogi
sara-02
szhorvat
MatthewSmith430
gvegayon
camillescott
Nick-gauthier

[2020-02-22 05:53] yangkcatiu commented on #2113
@whedon commands

[2020-02-22 05:53] whedon commented on #2113
Here are some things you can ask me to do:

[code]

[2020-02-22 05:54] yangkcatiu commented on #2113
@whedon check references

[2020-02-22 05:54] whedon commented on #2113
[code]

[2020-02-22 09:01] oliviaguest commented on #2115
@kyleniemeyer I can indeed!

@deniederhut can you suggest some reviewers please? 😄

[2020-02-22 09:20] oliviaguest commented on #2115
Also @deniederhut is this a library for dealing with linguistic data or data in general? Sorry I am skimming and it looks like specifically for corpora of text but I am struggling to see it explicitly stated in the docs https://niacin.readthedocs.io/en/latest/? I might be missing something though, either way, please feel free (if you think it's useful) to link me to the right place so I can read m

[2020-02-22 09:51] LTLA commented on #2079
Looks good in general. Various comments:

- PhilBoileau/scPCA#38
- PhilBoileau/scPCA#39
- PhilBoileau/scPCA#40
- PhilBoileau/scPCA#41
- PhilBoileau/scPCA#42

[2020-02-22 10:51] falque commented on #1835
@VivianePons Sorry, I kind of lost the thread, I'm going to take a look (probably tomorrow) and come back to you. Sorry again !

[2020-02-22 13:08] katmratliff commented on #2075
@kbarnhart also confirming my recommendation to accept for publication

[2020-02-22 14:44] conlin-matt commented on #2075
@kbarnhart I confirm my recommendation for publication as well.

[2020-02-22 15:57] pySRURGS commented on #2074
@nicoguaro are there any changes you would like to see made? Can I assist your review in any way?

[2020-02-22 16:09] cddesja commented on #1941
@wjakethompson, we are wondering if there are changes are adequate for you and whether you have any additional changes?

@kthyng, we haven't heard back from @markhwhiteii. should we try and get another reviewer or if both @wjakethompson and @jrosen48 are satisfied with the state of the paper, is that sufficient?

[2020-02-22 18:27] kyleniemeyer commented on #2115
@whedon assign @oliviaguest as editor

[2020-02-22 18:27] whedon commented on #2115
OK, the editor is @oliviaguest

[2020-02-22 18:43] kbarnhart commented on #1969
@JesperDramsch thanks for letting me know. I won't expect to hear from you until March 20.

JOSS has [an out of office feature](https://joss.readthedocs.io/en/latest/editing.html#out-of-office
) (I know that it works for editors, am not 100% that it works for reviewers, but I expect it might).

If you write a comment like:
[code]

Then anytime someone mentions you in this or another issue in this

[2020-02-22 18:44] kbarnhart commented on #1969
/ooo February 22 until Feb 22

oops... marked myself as OOO accidentally. Attempting to fix.

[2020-02-22 18:48] JesperDramsch commented on #1969
/ooo February 22 until March 20

[2020-02-22 22:50] PhilBoileau commented on #2079
Thank you for your thorough review, @LTLA! I've addressed most of your comments in a recent PR: [PhilBoileau/scPCA/pull/43](https://github.com/PhilBoileau/scPCA/pull/43). I've also responded to [PhilBoileau/scPCA#40](https://github.com/PhilBoileau/scPCA/issues/40). I hope that you find the changes satisfactory!

[2020-02-23 00:00] wjakethompson commented on #1941
@cddesja Everything looks good to me!

[2020-02-23 10:39] aureliocarnero commented on #2101
@noraeisner please update here the documentation changes we have done through the review:
https://pypi.org/project/tessLATTE/

[2020-02-23 10:44] aureliocarnero commented on #2101
@noraeisner I run the unittests and I had this output (says Run 7 tests, with FAILED errors=3)
1) Could you please put in the section: "Perform automated tests" that you must clone the git repository first and then you must be in the repository home directory to run those?

2) Here is the output of running the unittests:

/home/carnero/codes/LATTE/tests/test_BLS.py:57: ResourceWarning: unclosed fi

[2020-02-23 10:45] aureliocarnero commented on #2101
If there are libraries missing, please correct the pip install execution to correctly import the needed libraries.

[2020-02-23 10:51] LTLA commented on #2079
Looks good to me.

[2020-02-23 12:49] danasolav commented on #2060
@JoshuaSteer, here are my comments/questions (mostly referring to the GUI):

 [ ] Could you add some general information in the readme about what the toolbox is useful for. For example- why would aligning to shapes could be used for? What are the analysis capabilities?

 [ ] Could you add instructions and explanations for using the GUI? For example, in Align: What is Static and Moving, how do you

[2020-02-23 13:48] Kevin-Mattheus-Moerman commented on #2080
@chennachaos @likask @srmnitc @tjhei @sriharisundar @rudraa @MRezaYaghoobi @dbeurle @diogocecilio would you be interested in reviewing this submission on "elastic-plastic contact" for [JOSS](https://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) focuses on the [software](https://c4science.ch/source/tamaas/) this [short paper](https://github.c

[2020-02-23 13:50] Kevin-Mattheus-Moerman commented on #2080
@chennachaos thanks for you review efforts for other submissions as well! Let me know if I'm inviting you too often :smile:

[2020-02-23 13:57] csoneson commented on #2079
@fabian-s , @LTLA - thanks a lot for your careful reviews!

@LTLA - does this mean that the outstanding box in your checklist above could also be checked, or are there other remaining issues?

[2020-02-23 13:59] srmnitc commented on #2080
@Kevin-Mattheus-Moerman I think I can review this submission.

[2020-02-23 14:08] deniederhut commented on #2115
😅 the intention was to also include algorithms for image data and timeseries, but I haven't had a chance to write any of that. Right now it is just text augmentation.

As for reviewers, I might suggest the following:
- rlskoeser
- adammichaelwood
- sara-02
- mbod

[2020-02-23 14:26] oliviaguest commented on #2115
Thanks for clarifying. Can you make some edits to make this current state and plan clear, please?

[2020-02-23 16:16] falque commented on #1835
As far as I am concerned, everything is okay (installation, tests, documentation, well, you can see the checklist) ! As a tiny remark, in the Testing section of the README file, I would add at the beginning that this is all supposed to take place in the previously unzipped ~/.gap/pkg/RepnDecomp . To be sure, it is highly guessable, but it took me a short while to understand so I think it could onl

[2020-02-23 19:13] likask commented on #2080
Hello @Kevin-Mattheus-Moerman, My co-developer and colleague, @agshvarts, working on a similar problem in FEM. He knows authors papers, and physical problem well. He is keen to make a review. I will help him with review as well since we are interested in generating rough surfaces and the problem itself.

[2020-02-23 19:51] LTLA commented on #2079
Done.

[2020-02-23 20:17] PhilBoileau commented on #2079
Thank you @fabian-s and @LTLA for your helpful comments and suggestions! They are much appreciated. And thank you for organizing the reviews, @csoneson!

[2020-02-23 20:23] sam-greenwood commented on #1720
Hi @leouieda, @banesullivan @malmans2 , I've made the changes per the reviews suggestions (I apologise for the delay, writing up a thesis has kept me quite busy!). The one suggestion I didn't change is explained [here](https://github.com/sam-greenwood/taco_vis/issues/17).

[2020-02-23 21:33] csoneson commented on #2079
Great!
@PhilBoileau - I'll look over the submission and get back to you with the next steps shortly.

[2020-02-24 02:08] kbarnhart commented on #2029
@frengers thanks for the update.

@stoor001 and @khaors could you provide an update regarding when you anticipate finishing your reviews.

[2020-02-24 07:34] csoneson commented on #2079
@whedon generate pdf

[2020-02-24 07:35] whedon commented on #2079
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02079/joss.02079/10.21105.joss.02079.pdf)

[2020-02-24 07:36] csoneson commented on #2079
@whedon check references

[2020-02-24 07:36] whedon commented on #2079
[code]

[2020-02-24 08:25] csoneson commented on #2079
@PhilBoileau - this looks all good! Next steps:

- [ ] Make a tagged release of the package, and post the version tag of the release here
- [ ] Create a Zenodo archive. Make sure that the Zenodo record has the same title and author list as the paper (you can also add ORCiDs)
- [ ] Post the doi of the Zenodo record here

I would also recommend clarifying to users (e.g. in your README) the relations

[2020-02-24 09:53] Luthaf commented on #2105
@danielskatz, are they JOSS guideline for documentation concerning SaaS/Online tools? Is user documentation/developer reference/separate installation information something that is required?

[2020-02-24 10:43] andreas-h commented on #1918
hi guys,
i'm sorry but my life is a bit chaotic at the moment.  i fear that i won't be able to complete the review, contrary to what i promised and what i'd like.
i hope you can find someone else quickly.
my apologies for the delay.

[2020-02-24 11:01] meg-simula commented on #1929
Thanks for your response @trallard! My apologies @raphaeltimbo for the delay in finding reviewers for this submission (still in progress!), and thanks for the patience @srmnitc.

[2020-02-24 11:13] meg-simula commented on #2094
@streeve Thanks for your comments on this submission, looks like the review is progressing nicely.

@ralfHielscher Have you had a chance to start looking at this?

[2020-02-24 11:15] meg-simula commented on #1848
@whedon check references

[2020-02-24 11:16] whedon commented on #1848
[code]

[2020-02-24 11:17] meg-simula commented on #1848
@fcooper8472 Could you take a look at the references missing DOIs as reported by Whedon above?

[2020-02-24 11:27] martinmodrak commented on #2016
@drwaseemsheikh First, I admit that some of the phrasing I used in the issues could be read as combative and I apologize for that. I totally agree with @akeshavan that you don't have to incorporate the feedback I gave into your software. I however do disagree that is my job just to "make sure that the software meets the above checkmarks or requirements", the JOSS review guidelines state that "A ke

[2020-02-24 11:39] meg-simula commented on #1848
Also @fcooper8472, please consider the following minor issue in the paper:
a) The python post-processing terminal command spills over the page, please fix.

[2020-02-24 12:30] Kevin-Mattheus-Moerman commented on #2080
@whedon assign @likask as reviewer

[2020-02-24 12:30] whedon commented on #2080
OK, @likask is now a reviewer

[2020-02-24 12:30] Kevin-Mattheus-Moerman commented on #2080
@whedon add @agshvarts as reviewer

[2020-02-24 12:30] whedon commented on #2080
OK, @agshvarts is now a reviewer

[2020-02-24 12:31] Kevin-Mattheus-Moerman commented on #2080
@whedon add @srmnitc as reviewer

[2020-02-24 12:31] whedon commented on #2080
OK, @srmnitc is now a reviewer

[2020-02-24 12:36] fcooper8472 commented on #1848
@whedon generate pdf

[2020-02-24 12:36] fcooper8472 commented on #1848
@whedon check references

[2020-02-24 12:37] whedon commented on #1848
PDF failed to compile for issue #1848 with the following error:

 Can't find any papers to compile :-(

[2020-02-24 12:38] whedon commented on #1848
[code]

[2020-02-24 12:42] fcooper8472 commented on #1848
@meg-simula I have fixed the DOIs and the formatting issue.

No idea why whedon can't generate a new pdf - I only changed a single line in the `paper.md` - it's definitely still there!  (And the references were found and checked fine!)

[2020-02-24 12:43] SirSharpest commented on #2072
Thanks for your comments.

I have added the required lines to the read me.

Re Notebooks: For the case of being documentation and providing an example of how to use the software, then the integrated github viewer should be enough. This is presented as a method without results (beyond solving a known problem), so I wouldn't expect running it to be a complete necessity. Saying that however, most use

[2020-02-24 12:48] alessandroBombelli commented on #1845
Dear Dr. Katz,
I apologize, but I was lagging behind with my research work at TU Delft,
and I had to further delay this work. Being a passion/hobby, it was the
first thing to cut. It is taking too long, please either reject the paper
or prolong the "pause" option. Given the time-frame, I will totally
understand a rejection (on top of the other shortcoming of the work in its
current form).

Again,

[2020-02-24 12:51] meg-simula commented on #1848
@whedon generate pdf

[2020-02-24 12:57] meg-simula commented on #1848
@fcooper8472 Whedon seems to be having some difficulties indeed, I'll investigate.

[2020-02-24 13:12] ebgoldstein commented on #2075
I just added a thx to reviewers and editor in the acknowledgments

[2020-02-24 13:12] ebgoldstein commented on #2075
@whedon generate pdf

[2020-02-24 13:12] whedon commented on #2075
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02075/joss.02075/10.21105.joss.02075.pdf)

[2020-02-24 13:54] chennachaos commented on #2080
Hi @Kevin-Mattheus-Moerman,
Appreciate the opportunity as well as your concern. Happy to provide a review for this library also. Do it count me in if you need more reviews. But please note that I will only be able to work on this after finishing the one on FSI.

[2020-02-24 14:23] nnadeau commented on #1929
@meg-simula i'm available for reviewing :)

[2020-02-24 14:45] gioacchinowang commented on #1889
@dfm Dear editor, I have just received the notice from AAS that the article has just been published online,  https://doi.org/10.3847/1538-4365/ab72a2, they say in 2-3 hours the link will be available.

[2020-02-24 14:49] drvinceknight commented on #2113
@whedon assign @drvinceknight as editor

[2020-02-24 14:49] whedon commented on #2113
OK, the editor is @drvinceknight

[2020-02-24 14:57] kthyng commented on #1941
@cddesja Let's check with @marcosvital, who is the handling editor.

@marcosvital Did you want to have 3 reviewers for this submission in particular or are you ok with two?

[2020-02-24 15:00] kthyng commented on #1956
@arfon @kyleniemeyer Sorry about the unwarranted alert! When I checked, it was showing up as the orange-ish not-working page, which in the past had meant a different problem, rather than the blue-ish the-DOI-just-hasn't-resolved-yet page.

[2020-02-24 15:00] kthyng commented on #1956
A belated congratulations to @oxinabox on your new paper! Thanks to @will-rowe for editing and to reviewers @leios and @ninjin — we really appreciate your time and expertise!

[2020-02-24 15:05] will-rowe commented on #2058
Hi @telatin. Many thanks for the update. I think this sounds great and I'd be happy to put it out to review. Let me find some reviewers

[2020-02-24 15:06] will-rowe commented on #2058
@whedon assign @will-rowe as editor

[2020-02-24 15:06] whedon commented on #2058
OK, the editor is @will-rowe

[2020-02-24 15:08] will-rowe commented on #2058
Hi @brentp. Would you be interested in reviewing this submission for JOSS?

[2020-02-24 15:09] will-rowe commented on #2058
Hi @jdeligt - would you also be interested in reviewing this submission?

[2020-02-24 15:31] drvinceknight commented on #2113
@ati-ozgur @camillescott @Nick-gauthier would you be able to review this software paper for JOSS? It's an interesting piece of graph theory work that is implemented in two languages both R and Python.

If you have not reviewed for JOSS before, you can find information about the process here https://openjournals.readthedocs.io/en/latest/reviewer_guidelines.html and I'd be happy to answer any questi

[2020-02-24 15:38] cMadan commented on #2085
@aj2duncan, that's great, thank you!

@johannes-titz @strengejacke, I will go ahead and start the review now.

[2020-02-24 15:38] cMadan commented on #2085
@whedon add @aj2duncan as reviewer

[2020-02-24 15:38] whedon commented on #2085
OK, @aj2duncan is now a reviewer

[2020-02-24 15:38] cMadan commented on #2085
@whedon start review

[2020-02-24 15:38] whedon opened #2116 "[REVIEW]: mimosa: A Modern Graphical User Interface for 2-level Mixed Models"
**Submitting author:** @johannes-titz (<a href="http://orcid.org/0000-0002-1102-5719">Johannes Titz</a>)
**Repository:** <a href="https://github.com/johannes-titz/mimosa" target ="_blank">https://github.com/johannes-titz/mimosa</a>
**Version:** v.0.3.0
**Editor:** @cMadan
**Reviewer:** @strengejacke, @aj2duncan
**Archive:** <a href="https://doi.org/10.5281/zenodo.3775143" target="_blank">10.5281/z

[2020-02-24 15:39] whedon commented on #2085
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2116.

[2020-02-24 15:39] #2085 closed

[2020-02-24 15:39] whedon commented on #2116
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @strengejacke, @aj2duncan it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2020-02-24 15:39] whedon commented on #2116
[code]

[2020-02-24 15:39] whedon commented on #2116
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02116/joss.02116/10.21105.joss.02116.pdf)

[2020-02-24 15:40] cMadan commented on #2098
@mkhorton, great, thank you!

@Luthaf @kblin, I will go ahead and start the review now!

[2020-02-24 15:41] cMadan commented on #2098
@whedon add @mkhorton as reviewer

[2020-02-24 15:41] whedon commented on #2098
OK, @mkhorton is now a reviewer

[2020-02-24 15:41] cMadan commented on #2098
@whedon start review

[2020-02-24 15:41] whedon opened #2117 "[REVIEW]: Chemiscope: interactive structure-property explorer for materials and molecules"
**Submitting author:** @luthaf (<a href="http://orcid.org/0000-0003-4824-6512">Guillaume Fraux</a>)
**Repository:** <a href="https://github.com/cosmo-epfl/chemiscope" target ="_blank">https://github.com/cosmo-epfl/chemiscope</a>
**Version:** 0.2.0
**Editor:** @cMadan
**Reviewer:** @kblin, @mkhorton
**Archive:** <a href="https://doi.org/10.5281/zenodo.3909400" target="_blank">10.5281/zenodo.3909400

[2020-02-24 15:41] whedon commented on #2098
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2117.

[2020-02-24 15:41] #2098 closed

[2020-02-24 15:41] whedon commented on #2117
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kblin, @mkhorton it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2020-02-24 15:41] whedon commented on #2117
[code]

[2020-02-24 15:42] whedon commented on #2117
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02117/joss.02117/10.21105.joss.02117.pdf)

[2020-02-24 15:46] agricolab commented on #1982
I started the review, but it is a quite extensive package. I will need a couple of days.

[2020-02-24 15:51] kbarnhart commented on #2043
@joa-quim I wanted to check in and see if you were able to check the boxes or if they are still not editable for you.

[2020-02-24 16:28] castelao commented on #2063
Hi everyone. It's three weeks since the start of the review. Would you have any update for me? Thanks.

[2020-02-24 16:33] harpolea commented on #2095
@roshansamuel I've had a few issues installing the required libraries as well. I also had issues with the yaml version, and it took me a while to get the blitz library installed as it seems to require python 2 (fortunately I was able to modify a single print statement to get it to work with python 3). I also had to modify the Cmake file to tell it which HDF5 header file to include (it may have got

[2020-02-24 16:49] brynpickering commented on #1833
Hi @samuelduchesne, thanks for taking the time to address our issues and update archetypal. It looks to have changed markedly since the first set of reviews.
I've checked off most of the items on my review checklist, here are the outstanding items that I'd like some clarification on:

Installation
-----------
I'd like to re-do this, since I had issues the first time around. But it would be best on

[2020-02-24 16:54] noraeisner commented on #2101
Hi @aureliocarnero, I'm so sorry that the tests didn't run - there were some files missing from the GitHub page. I have updated it so that it should now run along with the readme file. I should note that the runtime warnings still appear when the tests are run, however these don't stop the code,  or tests, form completing. I have looked into them and they are a common problem with the 'requests' a

[2020-02-24 18:04] DorianDepriester commented on #2094
@whedon generate pdf

[2020-02-24 18:04] whedon commented on #2094
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02094/joss.02094/10.21105.joss.02094.pdf)

[2020-02-24 19:25] PhilBoileau commented on #2079
Thanks, @csoneson! Here you go:

- The release version tag is [v1.1.10](https://github.com/PhilBoileau/scPCA/releases/tag/v1.1.10)
- The Zenodo doi is [10.5281/zenodo.3686201](https://doi.org/10.5281/zenodo.3686201))

I've also added a *Citation* section in the README indicating how to cite the package. I'll update it to include the JOSS reference once published.

[2020-02-24 19:43] Sergio-Bejar commented on #2069
@whedon would it be possible to get an update on the status of our paper?

[2020-02-24 19:43] whedon commented on #2069
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-02-24 19:49] Sergio-Bejar commented on #2069
@danielskatz @kthyng @marcosvital , would it be possible to get an update on the status of our paper?

[2020-02-24 20:00] csoneson commented on #2079
@whedon set 10.5281/zenodo.3686201 as archive

[2020-02-24 20:00] whedon commented on #2079
OK. <a href="https://doi.org/10.5281/zenodo.3686201" target="_blank">10.5281/zenodo.3686201</a> is the archive.

[2020-02-24 20:00] csoneson commented on #2079
@whedon set v1.1.10 as version

[2020-02-24 20:01] whedon commented on #2079
OK. v1.1.10 is the version.

[2020-02-24 20:10] dfm commented on #1889
@whedon generate pdf

[2020-02-24 20:11] whedon commented on #1889
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01889/joss.01889/10.21105.joss.01889.pdf)

[2020-02-24 20:11] dfm commented on #1889
@whedon check references

[2020-02-24 20:12] MariaTsantaki commented on #2048
You are right. There were overlapping wavelength intervals for the synthesis and the interpolation was crashing. I fixed this in the ```synthetic.py``` file when reading the intervals now they are merged when there are overlapping ones. Thanks! I also added from VALD some missing lines I noticed from the plots. And I checked now it works properly for the elements.

[code]

[2020-02-24 20:12] whedon commented on #1889
[code]

[2020-02-24 20:13] pstrk commented on #2073
Hi,
Thank you for your feedback. I added a new design example (Mach Zehnder interferometer used as an optical weight), which should link more to the real world application scenarios of COLNA. Furthermore I improved the test coverage and added a few new convenience methods. I therefore released again a new version (1.0.3).

@arfon Do I need to do anything so that we can proceed with the publication

[2020-02-24 20:15] csoneson commented on #2079
@whedon accept

[2020-02-24 20:15] whedon commented on #2079
[code]

[2020-02-24 20:15] whedon commented on #2079
[code]

[2020-02-24 20:16] whedon commented on #2079
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1336

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1336, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-24 20:16] csoneson commented on #2079
@openjournals/joss-eics - this paper is ready to be accepted!

[2020-02-24 20:18] MariaTsantaki commented on #2048
I am not sure what to do here too. I prefer to keep it inside FASMA because MOOG versions may change and also the SuperMongo dependency is now removed. I added some information about the MOOG code in its folder but if this is not enough, please let me know on how to proceed.

[2020-02-24 20:21] arfon commented on #2073
Thanks @DiegoJRR & @brandondube!

@pstrk - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the J

[2020-02-24 20:23] MariaTsantaki commented on #2048
True. We solved this with a recent commit.

[2020-02-24 20:40] banesullivan commented on #1720
@leouieda: To me (after the latest updates), this paper is ready for acceptance! 🎉

Great work, @sam-greenwood!

[2020-02-24 20:41] MariaTsantaki commented on #2048
@warrickball I will need more time to carefully look the rest of the comments! Thanks!

[2020-02-24 20:42] dfm commented on #1889
@gioacchinowang: Here are some suggested edits for clarity.

- The first two paragraphs weren't quite clear as written. Here's a proposal for what I think captures the same information somewhat more clearly:

- "To meet the growing need of numerical simulation of the Galactic emission..." -> "To meet the growing need for numerical simulations of Galactic emission..."

- "...not matching modern cod

[2020-02-24 21:30] mkhorton commented on #2117
Hi @Luthaf, I'm trying the interactive version on chemiscope.org and the Jmol viewer doesn't seem to be showing anything, looks like it should be an easy fix:

<img width="1133" alt="Screen Shot 2020-02-24 at 1 29 32 PM" src="https://user-images.githubusercontent.com/2976580/75192778-cb93ba80-5709-11ea-90cd-a0cc5dcdeca2.png">

[2020-02-24 21:47] kbarnhart commented on #2075
@ebgoldstein can you:

* Issue a new tagged release reflecting the latest changes to the software.
* Respond here with that version number.
* Create a zenodo (or similar) archive. Make sure that it has the same title and author list as the paper.
* Post the DOI of that archive here.

[2020-02-24 22:01] fcooper8472 commented on #1848
@whedon generate pdf

[2020-02-24 22:03] whedon commented on #1848
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01848/joss.01848/10.21105.joss.01848.pdf)

[2020-02-24 22:23] joa-quim commented on #2043
Nope, still blocked to me. And what about you @fhorrobin, can you check them?

[2020-02-24 22:25] afrubin commented on #2076
@lpantano I've resolved the issues opened by both reviewers. Are we able to move on to the next step?

[2020-02-24 22:41] danielskatz commented on #2069
It's the job of the editor (@marcosvital) to find reviewers, possibly with your help/suggestions.  That's where we are at this point.  Perhaps @marcosvital can say more about where he is, in case he's also been emailing potential reviewers?

[2020-02-24 22:43] JoaoRodrigues commented on #2077
Hi @lpantano , sorry for the late reply but I was traveling+sick and away from my laptop for quite some time. Apologies to the authors for the delay.

[2020-02-24 22:54] kbarnhart commented on #2043
@arfon can you see anything about this issue that explains why @joa-quim can't check the boxes? I used whedon to assign him and he is now listed under assigned people. Thanks!

[2020-02-24 22:57] daniellivingston commented on #2043
@joa-quim If you want, you can make a comment with the above checklist and mark off what you've done. Since I have editing permissions on that comment, I can edit the check boxes as a proxy for you.

[2020-02-24 23:00] joa-quim commented on #2043
Ok, I'll try to do that tomorrow afternoon/night.

[2020-02-24 23:22] JoaoRodrigues commented on #2077
Hey @NicoRenaud

The tool looks good but there are a few rough edges I'd polish before publishing it. I left a few issues on your repo that should be easy to fix. Here are a few more minor questions/issues I found when going over the paper and the code:

- [ ] There is a consistent typo on the word 'structure' all over the documentation :) `sed -e 's/strcture/structure/g'` should fix it!
- [ ] As

[2020-02-25 00:23] Luthaf commented on #2117
Thanks for the report @mkhorton, it should be fixed now. If not, feel free to open more issues on chemiscope repo!

[2020-02-25 00:42] labarba commented on #2079
@whedon accept deposit=true

[2020-02-25 00:42] whedon commented on #2079
[code]

[2020-02-25 00:42] whedon commented on #2079
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1232103611339038726) 👈 🐦🐦🐦

[2020-02-25 00:42] whedon commented on #2079
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1337
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02079](https://doi.org/10.21105/joss.02079)
2. If everything looks g

[2020-02-25 00:44] labarba commented on #2079
Congratulations, @PhilBoileau, your JOSS paper is published! 🚀

Big thanks to our editor: @csoneson, and the reviewers: @fabian-s, @LTLA — your contribution to JOSS is appreciated 🙏

[2020-02-25 00:44] #2079 closed

[2020-02-25 00:44] whedon commented on #2079
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02079/status.svg)](https://doi.org/10.21105/joss.02079)

**We need your help!**

Journal of Open Source Softwa

[2020-02-25 00:51] arfon commented on #2043
@joa-quim - you need to accept the invite to the repository here: https://github.com/openjournals/joss-reviews/invitations  to be able to edit the check boxes (it should be at the top of the page). When you click the 'accept', please make sure you're logged in with your @joa-quim account.

[2020-02-25 02:25] lpantano commented on #2076
@natir, can you let me know if all is good on your side? I see some items in the list unchecked. Thanks!

[2020-02-25 03:18] kellieotto commented on #2017
@akeshavan Sorry, I don't have the bandwidth right now.

[2020-02-25 03:21] gioacchinowang commented on #1889
@dfm Great thanks! I've revised as suggested.

[2020-02-25 03:21] gioacchinowang commented on #1889
@whedon generate pdf

[2020-02-25 03:21] whedon commented on #1889
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01889/joss.01889/10.21105.joss.01889.pdf)

[2020-02-25 06:12] karthik commented on #2019
Thanks @MAnalytics I'm still seeking reviewers and will update this thread soon. Stay tuned.

[2020-02-25 07:01] jasmainak commented on #1959
@arokem here you go!

- the version tag of the [archived release on github](https://github.com/glm-tools/pyglmnet/releases/tag/1.1.1) is 1.1.1
- doi of the archived version on zenodo is: 10.5281/zenodo.3686564
- the author list and title of the deposit matches the author list and title on the paper

[2020-02-25 09:02] whedon opened #2118 "[PRE REVIEW]: PorousFlow: a multiphysics simulation code for coupled problems in porous media"
**Submitting author:** @WilkAndy (<a href="http://orcid.org/0000-0001-6472-9560">Andy Wilkins</a>)
**Repository:** <a href="https://github.com/idaholab/moose" target ="_blank">https://github.com/idaholab/moose</a>
**Version:** v1.0.0
**Editor:** @jedbrown
**Reviewers:** @jbrezmorf, @rpodgorney
**Managing EiC:** Kevin M. Moerman

**Author instructions**

Thanks for submitting your paper to JOSS @Wi

[2020-02-25 09:02] whedon commented on #2118
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-25 09:02] whedon commented on #2118
PDF failed to compile for issue #2118 with the following error:

 Can't find any papers to compile :-(

[2020-02-25 09:03] Kevin-Mattheus-Moerman commented on #2118
@jedbrown you were suggested as editor here but I can take this one too if you like.

[2020-02-25 09:34] pstrk commented on #2073
Hi @arfon
Thank you for the information. I created a new release (V1.0.4) and the corresponding [Zenodo archive](https://doi.org/10.5281/zenodo.3686634). The DOI is 10.5281/zenodo.3686634.

[2020-02-25 09:46] agricolab commented on #1982
I added some issue when running the tutorials to the projects repository, mostly minor bugs or warnings. The package is powerful and relatively well-documented. Yet, it is also complex, and i feel that there is some room for improving documentation to make it more applicable.

I have the impression that the paper is well-written. But i feel that a
- [ ] short paragraph describing the advantages of

[2020-02-25 09:57] jdeligt commented on #2058
Sure, happy to help

On Tue, 25 Feb 2020, 4:10 am Will Rowe, <notifications@github.com> wrote:

[2020-02-25 09:58] MAnalytics commented on #2019
@karthik Thank you very much. I hope to hear from you soon.

[2020-02-25 10:14] fwitte commented on #2109
@whedon generate pdf

[2020-02-25 10:14] fwitte commented on #2109
@whedon commands

[2020-02-25 10:14] whedon commented on #2109
Here are some things you can ask me to do:

[code]

[2020-02-25 10:14] whedon commented on #2109
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02109/joss.02109/10.21105.joss.02109.pdf)

[2020-02-25 10:28] fcooper8472 commented on #1848
@meg-simula looks to be OK this morning!

[2020-02-25 10:32] arfon commented on #2073
@whedon set 10.5281/zenodo.3686634 as archive

[2020-02-25 10:32] whedon commented on #2073
OK. <a href="https://doi.org/10.5281/zenodo.3686634" target="_blank">10.5281/zenodo.3686634</a> is the archive.

[2020-02-25 10:32] arfon commented on #2073
@whedon accept

[2020-02-25 10:32] whedon commented on #2073
[code]

[2020-02-25 10:32] whedon commented on #2073
[code]

[2020-02-25 10:33] whedon commented on #2073
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1338

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1338, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-25 10:35] leouieda commented on #1720
Thank for the update @sam-greenwood  and @banesullivan! @malmans2 please let me know as soon as can have a look at the latest revisions.

[2020-02-25 10:37] leouieda commented on #1753
Thank you for the quick responses! I'll continue my search.

[2020-02-25 10:44] arfon commented on #2073
@pstrk - I made a couple of minor changes to the text for readability here: https://github.com/IBM/complex-linear-network-analyzer/pull/21

[2020-02-25 10:51] pstrk commented on #2073
@arfon Thank you for spotting the typos, I merged the corrected version. From my side everything looks good now.

[2020-02-25 10:52] arfon commented on #2073
@whedon accept

[2020-02-25 10:52] whedon commented on #2073
[code]

[2020-02-25 10:52] whedon commented on #2073
[code]

[2020-02-25 10:53] whedon commented on #2073
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1339

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1339, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-25 10:54] arfon commented on #2073
@whedon accept deposit=true

[2020-02-25 10:54] whedon commented on #2073
[code]

[2020-02-25 10:55] whedon commented on #2073
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1232257874488897536) 👈 🐦🐦🐦

[2020-02-25 10:55] whedon commented on #2073
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1340
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02073](https://doi.org/10.21105/joss.02073)
2. If everything looks g

[2020-02-25 10:56] leouieda commented on #1797
@jmansour apologies for the delay. Thank you for posting the DOI link and version number. I double checked the paper and everything looks good. The only minor thing I have to ask is that you update the title of the Zenodo archive of https://zenodo.org/record/3661465 to match the JOSS paper title. Let me know when you get a chance to do that and we'll move on to acceptance :tada:

[2020-02-25 10:58] leouieda commented on #1797
@whedon set 2.9.0b as version

[2020-02-25 10:58] whedon commented on #1797
OK. 2.9.0b is the version.

[2020-02-25 10:58] leouieda commented on #1797
@whedon set 10.5281/zenodo.3661465 as archive

[2020-02-25 10:58] whedon commented on #1797
OK. <a href="https://doi.org/10.5281/zenodo.3661465" target="_blank">10.5281/zenodo.3661465</a> is the archive.

[2020-02-25 11:00] leouieda commented on #1882
@whedon check references

[2020-02-25 11:01] leouieda commented on #1797
@whedon accept

[2020-02-25 11:01] whedon commented on #1797
[code]

[2020-02-25 11:02] whedon commented on #1797
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1341

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1341, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-25 11:08] arfon commented on #2073
@brandondube, @DiegoJRR many thanks for your reviews here ✨

@pstrk - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-02-25 11:08] #2073 closed

[2020-02-25 11:08] whedon commented on #2073
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02073/status.svg)](https://doi.org/10.21105/joss.02073)

**We need your help!**

Journal of Open Source Softwa

[2020-02-25 11:12] WilkAndy commented on #2118
@whedon commands

[2020-02-25 11:12] whedon commented on #2118
Here are some things you can ask me to do:

[code]

[2020-02-25 11:13] WilkAndy commented on #2118
@whedon generate pdf from branch next

[2020-02-25 11:13] whedon commented on #2118
[code]

[2020-02-25 11:13] whedon commented on #2118
PDF failed to compile for issue #2118 with the following error:

 sh: 1: cd: can't cd to tmp/2118
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2118 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2020-02-25 11:23] WilkAndy commented on #2118
Yea, @Kevin-Mattheus-Moerman , i only suggested @jedbrown as editor since he's probably peripherally aware of the code, since the MOOSE team liaises with the PETSc people.

Gosh, the list of possible referees has over 1000 people.  It's the evening here now, so i'll get to this tomorrow.

[2020-02-25 12:43] agshvarts commented on #2080
Hi @Kevin-Mattheus-Moerman, thank you for assigning me, I am eager to get hands-on with this code and review it. However, to avoid possible issues I need to state the following. There are a couple of published conference proceedings (2017, 2019) where I appear as a co-author with two of the authors of this submission (G. Anciaux, J.-F. Molinari).  These proceedings were communicated by my former t

[2020-02-25 13:46] Matmorcat commented on #2075
@kbarnhart I've created an updated release tagged [v1.0.4](https://github.com/UNCG-DAISY/psi-collect/releases/tag/v1.0.4). I'll leave @ebgoldstein to create the archive! 😄

[2020-02-25 13:49] kbarnhart commented on #2075
Sounds good. FYI, this ooo is not correct.

[2020-02-25 13:50] VivianePons commented on #1835
Thank you @falque and thanks for the suggestion, I agree with you that the clearer the better.

Now I'm only waiting for @alex-konovalov , where are we in terms of GAP realeases and package testing?

[2020-02-25 13:55] VivianePons commented on #1988
@pragyansmita would you be willing to review this submission?

[2020-02-25 13:55] Matmorcat commented on #2075
/ooo

[2020-02-25 14:02] Matmorcat commented on #2075
/ooo February 25 to February 25

[2020-02-25 14:29] malmans2 commented on #1720
@sam-greenwood  thanks for addressing my points. I only have two optional suggestions:
- I left a comment [here]( https://github.com/sam-greenwood/taco_vis/issues/18#issuecomment-590884472).
- I would add the documentation status badge, which I believe is the PR started by @banesullivan.

@leouieda I also think the paper is good to go! Good job @sam-greenwood!

[2020-02-25 14:31] kbarnhart commented on #2075
Thanks @Matmorcat ! Can you try tagging me? I deleted the comments in which I incorrectly marked myself as OOO, not sure if that works to cancel...

[2020-02-25 14:33] Matmorcat commented on #2075
Sure @kbarnhart
If that doesn't work just set an arbitrary date that is closer I guess.

[2020-02-25 14:37] kbarnhart commented on #2075
@Matmorcat looks like deleting the post doesn't work.

I had tried your approach of re-posting with a shorter date range, and that didn't work... Thanks for the thought though!

[2020-02-25 14:37] danielskatz commented on #1845
Given the delays and the useful feedback from @mado89, I will mark this as withdrawn - and note that you plan to later submit a new version taking into account that feedback.

[2020-02-25 14:37] danielskatz commented on #1845
@whedon withdraw

[2020-02-25 14:37] whedon commented on #1845
Paper withdrawn.

[2020-02-25 14:37] #1845 closed

[2020-02-25 14:37] Matmorcat commented on #2075
I think it's because you have to spell out the full month for both parameters!

[2020-02-25 14:40] kbarnhart commented on #2075
OK. I'll retry here.

/ooo February 22 until February 22

[2020-02-25 14:55] rhagenson commented on #1974
@marcosvital now that there are two potential reviewers, can this be moved forward?

[2020-02-25 15:30] arnavs commented on #2065
@whedon commands

[2020-02-25 15:30] whedon commented on #2065
Here are some things you can ask me to do:

[code]

[2020-02-25 15:59] majensen commented on #2044
@scwest how is it coming regarding thecodingdoc/neep#5?

@wrathematics -- how is your review coming along?
thanks

[2020-02-25 16:13] brinnaebent commented on #2112
@kyleniemeyer That is the source code, yes. The setup.py file is the only other file you may need to reference (formatted for PyPI). Thank you!

[2020-02-25 16:19] brinnaebent commented on #2112
Recommended reviewers (from list):
dvanic
jeremyklein
esadr

[2020-02-25 17:42] natir commented on #2076
Yes all it's good for me.

[2020-02-25 18:25] joa-quim commented on #2043
Hmm, something strange is still on. When I try to accept the invitation I get a
```Ooops 500. Looks like something went wrong!```
 error from Github.

Anyway, my comment on this paper is that it is elegantly written and does what it describes,

I would only suggest that the installing instructions be changed to the shorter (and working)

[code]
instead of the longer version on the Github page
[cod

[2020-02-25 18:27] hvgazula commented on #1847
Hello @cMadan! How are you doing? If you didn't hear from anyone yet, I have a few more recommendations- satra, yarikoptic and chrisgorgo. I'd appreciate it if there's anything you can do to expedite the review process. It's been sitting there for a while now and they are important for some grants we have applied. I hope you will understand the situation. Thank you very much.

[2020-02-25 18:41] brentp commented on #2058
yes

[2020-02-25 18:53] harpolea commented on #2095
@roshansamuel I've been trying to run the test problems and have been getting the following error. I've checked my yaml version and it's 0.3.0, so I'm not entirely sure what's gone wrong here?
[code]

[2020-02-25 18:58] jordanperr commented on #2114
Hi @kyleniemeyer and @sjpfenninger,

It looks like most of the Whedon checks were passed. Would it be preferable to swap out the URL for the DOI in reference "Understanding Biases in Pre-Construction Estimate"? It would be no trouble for me to do. I'll monitor this thread for any further questions or changes.

Thank you, and I look forward to your review.

[2020-02-25 18:58] arfon commented on #2108
@mbobra - I've just added some docs on how to handle these papers that are being jointly published with AAS: https://joss.readthedocs.io/en/latest/editing.html#handling-of-papers-published-together-with-aas-publishing

/ cc @crawfordsm

[2020-02-25 19:04] xuanxu commented on #2101
@christinahedges did you have the opportunity to start your review?

[2020-02-25 19:25] Sergio-Bejar commented on #2069
@danielskatz , thanks for your response.  I look forward to hearing from @marcosvital .

[2020-02-25 19:28] dfm commented on #1889
Great, thanks! Looks good to me. Can you now tag a final release and post the Zenodo (or similar) DOI and the version number of the software for the paper? Then we should be good to go.

[2020-02-25 19:29] dfm commented on #2103
@rodluger: Any updates on this? I see that you've made some progress on the checklist, but can you let us know when you think you'll have it finished and if you have any questions that are holding it up? Thanks!

[2020-02-25 19:39] arfon commented on #2096
@Samreay - I'm struggling a little to identify a second reviewer for this submission. Are there any individuals you think might be able to review this?

[2020-02-25 19:57] taylor-a-barnes commented on #2102
This is a very nice submission with a well-defined scope and general adherence to best practices.  I have just a couple of comments regarding the documentation, which are provided in the above issues.  Otherwise, I recommend that this paper be accepted.

[2020-02-25 19:58] jedbrown commented on #2118
@Kevin-Mattheus-Moerman Fine for me either way. I'm happy to take it.

[2020-02-25 20:03] will-rowe commented on #2058
Brilliant. Thanks everyone. I'll start the review now and you'll shortly receive links to the new review issue - let me know if any of you need further instruction on the JOSS review process.

[2020-02-25 20:03] will-rowe commented on #2058
@whedon assign @jdeligt as reviewer

[2020-02-25 20:03] whedon commented on #2058
OK, @jdeligt is now a reviewer

[2020-02-25 20:04] will-rowe commented on #2058
@whedon add @brentp as reviewer

[2020-02-25 20:04] whedon commented on #2058
OK, @brentp is now a reviewer

[2020-02-25 20:04] will-rowe commented on #2058
@whedon start review

[2020-02-25 20:04] whedon opened #2119 "[REVIEW]: covtobed: a simple and fast tool to extract coverage tracks from BAM files"
**Submitting author:** @telatin (<a href="http://orcid.org/0000-0001-7619-281X">Andrea Telatin</a>)
**Repository:** <a href="https://github.com/telatin/covtobed/" target ="_blank">https://github.com/telatin/covtobed/</a>
**Version:** v1.1.0
**Editor:** @will-rowe
**Reviewer:** @jdeligt, @brentp
**Archive:** <a href="https://doi.org/10.5281/zenodo.3695204" target="_blank">10.5281/zenodo.3695204</a>

[2020-02-25 20:04] whedon commented on #2058
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2119.

[2020-02-25 20:04] #2058 closed

[2020-02-25 20:04] whedon commented on #2119
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jdeligt, @brentp it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2020-02-25 20:04] whedon commented on #2119
[code]

[2020-02-25 20:05] whedon commented on #2119
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02119/joss.02119/10.21105.joss.02119.pdf)

[2020-02-25 20:16] meg-simula commented on #1848
Lovely, thanks @fcooper8472.

[2020-02-25 20:16] meg-simula commented on #1848
@whedon check references

[2020-02-25 20:16] meg-simula commented on #1848
@whedon generate pdf

[2020-02-25 20:17] meg-simula commented on #1929
Fantastic, thanks @nnadeau. I'll get the review issue started then.

[2020-02-25 20:17] meg-simula commented on #1929
@whedon add @nnadeau as reviewer

[2020-02-25 20:17] whedon commented on #1929
OK, @nnadeau is now a reviewer

[2020-02-25 20:17] meg-simula commented on #1929
@whedon start review

[2020-02-25 20:17] whedon opened #2120 "[REVIEW]: ROSS - Rotordynamic Open Source Software"
**Submitting author:** @raphaeltimbo (<a href="http://orcid.org/0000-0001-7689-5486">Raphael Silva</a>)
**Repository:** <a href="https://github.com/ross-rotordynamics/ross" target ="_blank">https://github.com/ross-rotordynamics/ross</a>
**Version:** v0.3.2
**Editor:** @meg-simula
**Reviewer:** @srmnitc, @nnadeau
**Archive:** <a href="https://doi.org/10.5281/zenodo.3746582" target="_blank">10.5281/

[2020-02-25 20:17] whedon commented on #1929
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2120.

[2020-02-25 20:17] #1929 closed

[2020-02-25 20:17] whedon commented on #2120
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @srmnitc, @nnadeau it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2020-02-25 20:17] whedon commented on #1848
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01848/joss.01848/10.21105.joss.01848.pdf)

[2020-02-25 20:18] whedon commented on #2120
[code]

[2020-02-25 20:18] whedon commented on #2120
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02120/joss.02120/10.21105.joss.02120.pdf)

[2020-02-25 20:20] meg-simula commented on #2120
@nnadeau @srmnitc  Thanks again for agreeing to review. Reviewer checklists have been generated for each you above - please feel free to dig in at will!

[2020-02-25 20:24] meg-simula commented on #1848
@fcooper8472 Looks like there is still a few references missing dois/link for instance some of the Spiteri papers - could you take another look? (Sorry to keep niggling about this.)

[2020-02-25 20:30] kthyng commented on #2018
Hi @ysimillides! When do you think you'll be able to work on your review?

[2020-02-25 20:31] rodluger commented on #2103
Hi, sorry for the delay. I'll have this done by tomorrow. In the meantime, I raised three issues ([here](https://github.com/bmorris3/fleck/issues/1), [here](https://github.com/bmorris3/fleck/issues/2), and [here](https://github.com/bmorris3/fleck/issues/3)). I believe the first one is a bug in the plotting routine, the second is a user interface suggestion, and the third is a limitation of the mod

[2020-02-25 20:31] kthyng commented on #2097
Hi @abhishekbajpayee and @jizecn! When do you think you'll be able to work on your reviews?

[2020-02-25 20:32] kthyng commented on #2063
I'll just do a specific ping to reviewers @jessicaaustin and @evanleeturner. When do you think you'll be able to work on your reviews? Thanks.

[2020-02-25 20:32] rodluger commented on #2103
@dfm, is there a way to re-generate the article proof after Brett's recent changes?

[2020-02-25 20:33] evanleeturner commented on #2063
I am still working on this review, thank you.

[2020-02-25 20:35] kaashif commented on #1835
Thanks for the suggestion, I'll change that now.

[2020-02-25 20:43] dfm commented on #2103
@whedon generate pdf

[2020-02-25 20:43] whedon commented on #2103
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02103/joss.02103/10.21105.joss.02103.pdf)

[2020-02-25 20:49] rodluger commented on #2103
@bmorris3: I'm done checking everything off. Awesome work! @nespinoza touched on most of the things I would have commented on. I have no further comments other than the two outstanding issues.

[2020-02-25 21:03] jessicaaustin commented on #2063
Thanks for the reminder. I have read all the instructions and made some progress on my review before getting pulled into other tasks. I will pick it up again this week and submit by the end of the week.

[2020-02-25 21:11] tweed1e commented on #2017
@akeshavan I'll have time starting this weekend, happy to help 👍

[2020-02-25 22:01] sjvrijn commented on #2049
Hi @melissawm here's the list of potential reviewers again if you're having trouble finding a second one:
- benjamin-lee
- torressa
- jmadera
- zbeekman
- lucashn
- tupi
- sarats

And hi @petroniocandido! 👋 Hope everything is fine again with you and your wife! If you've found/noticed anything at all, please let me know! I'm itching to improve my project based on the feedback 😃

[2020-02-25 23:24] kbarnhart commented on #2043
Thanks for your review @joa-quim! Sorry about the issues with check box permissions. I think your workaround is just fine.

I'll let @anowacki consider/address the small change you recommend in the main repository.

@fhorrobin would it be possible to get an update on when you expect to complete your review?

[2020-02-26 01:39] Marcdh3 commented on #1983
Here's the DOI from Zenodo --  10.5281/zenodo.3687340.

[2020-02-26 02:03] WilkAndy commented on #2118
Here are some suggestions for reviewers:

1. Cody Permann (permcody) or David Andrs (andrsd) who are MOOSE developers, so can check that we've written fairly about the MOOSE framework

2. Rob Podgorney (rpodgorney) or Philipp Schaedle (philippschaedle) or Heather Sheldon (hsheldon) who are all PorousFlow users, so can check we've included the relevant information

3. Olaf Kolditz (OlafKolditz) who

[2020-02-26 02:17] ebgoldstein commented on #2075
code DOI (via Zenodo): 10.5281/zenodo.3687347

[2020-02-26 02:27] WilkAndy commented on #2118
Why doesn't the paper compile?  It's clearly in the repository:

https://github.com/idaholab/moose/blob/next/modules/porous_flow/paper.md

and @whedon can compile it from my own repo:

https://github.com/WilkAndy/PorousFlowDescription

I submitted an issue at  openjournals/whedon#63  just in case it's not my fault.

[2020-02-26 03:01] gioacchinowang commented on #1889
@dfm Yes, the new Zenodo badge has been updated.

[2020-02-26 04:43] jedbrown commented on #1918
@andreas-h Thanks for trying. We'll find an alternative.

[2020-02-26 05:50] jmansour commented on #1797
Hi @leouieda

Am I able to update the title of an existing Zenodo archive?   In any case, I've created a new release (v2.9.2) with the updated title. Here's the corresponding Zenodo reference:
https://zenodo.org/record/3687399

[2020-02-26 06:09] Samreay commented on #2096
@kboone springs to mind. @JoeZuntz would have the experience as well I believe. I can also try and ping Dan.

[2020-02-26 08:45] csoneson commented on #1992
@olivertomic - did you have a chance to start your review of this submission?

[2020-02-26 08:55] sjpfenninger commented on #2114
@kyleniemeyer yes, happy to edit this

[2020-02-26 08:55] sjpfenninger commented on #2114
@whedon assign @sjpfenninger as editor

[2020-02-26 08:55] whedon commented on #2114
OK, the editor is @sjpfenninger

[2020-02-26 08:58] sjpfenninger commented on #2114
@jordanperr Yes the DOI would be preferred, thanks!

[2020-02-26 09:05] fwitte commented on #2109
I checked the list of reviewers, these may be interested:

- arosen93
- corentin-dev
- JaroslavHron
- jgoldfar
- pdebuyl
- maybe yourself, @kyleniemeyer?

Best regards
Francesco

[2020-02-26 09:16] dlagrava commented on #2095
@roshansamuel I encountered the same problems as @harpolea . It is a good idea to have a CMake, but you can probably improve on that, especially because people may want to have a local blitz install etc. I also ran into the same problem:
[code]

[2020-02-26 09:35] Kevin-Mattheus-Moerman commented on #2118
@whedon assign @jedbrown as editor

[2020-02-26 09:35] whedon commented on #2118
OK, the editor is @jedbrown

[2020-02-26 09:36] Kevin-Mattheus-Moerman commented on #2118
@jedbrown

Okay great.

[2020-02-26 09:41] Kevin-Mattheus-Moerman commented on #2080
@whedon add @chennachaos as reviewer

[2020-02-26 09:41] whedon commented on #2080
OK, @chennachaos is now a reviewer

[2020-02-26 09:45] Kevin-Mattheus-Moerman commented on #2080
@agshvarts thanks for sharing that information. I would consider that a minor COI. However given that there are 3 other impartial reviewers I feel we can proceed, and it does sound like you will be able to provide valuable feedback.

[2020-02-26 09:45] Kevin-Mattheus-Moerman commented on #2080
@whedon start review

[2020-02-26 09:45] whedon opened #2121 "[REVIEW]: Tamaas: a library for elastic-plastic contact of periodic rough surfaces"
**Submitting author:** @prs513rosewood (<a href="http://orcid.org/0000-0002-4138-1052">Lucas Frérot</a>)
**Repository:** <a href="https://c4science.ch/source/tamaas/" target ="_blank">https://c4science.ch/source/tamaas/</a>
**Version:** v2.1.3
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @likask, @agshvarts, @srmnitc, @chennachaos
**Archive:** <a href="https://doi.org/10.5281/zenodo.3961890"

[2020-02-26 09:45] whedon commented on #2080
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2121.

[2020-02-26 09:45] #2080 closed

[2020-02-26 09:45] whedon commented on #2121
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @likask, @agshvarts, @srmnitc, @chennachaos it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a revi

[2020-02-26 09:45] whedon commented on #2121
[code]

[2020-02-26 09:45] whedon commented on #2121
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02121/joss.02121/10.21105.joss.02121.pdf)

[2020-02-26 09:57] whedon commented on #2088
:wave: @DivyaSeernani, please update us on how your review is going.

[2020-02-26 10:04] oliviaguest commented on #2088
@DivyaSeernani is this week looking better? :blush:

[2020-02-26 11:11] fcooper8472 commented on #1848
@whedon check references

[2020-02-26 11:12] whedon commented on #1848
[code]

[2020-02-26 11:15] fcooper8472 commented on #1848
@whedon generate pdf

[2020-02-26 11:16] whedon commented on #1848
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01848/joss.01848/10.21105.joss.01848.pdf)

[2020-02-26 11:25] fcooper8472 commented on #1848
@meg-simula There are now DOIs for all references other than the Computing in Cardiology articles, which don't appear to have DOIs.

[2020-02-26 11:40] roshansamuel commented on #2095
Hi @harpolea and @dlagrava, thank you very much for bringing the Blitz installation issues to our notice. The latest version of Blitz available on GitHub at blitzpp/blitz has resolved the Python3 related issues. We are updating the installer provided by the link in documentation with this version of Blitz.

The YAML related error thrown when running the test module happened because I had failed to

[2020-02-26 12:29] srmnitc commented on #2003
@arfon @thelfer Sorry for the slight delay in review, I just came back from a planned vacation. I will finish the review in the next couple of days. Thanks for the patience.

[2020-02-26 12:44] arfon commented on #2096
:wave: @kboone @jradavenport @joezuntz - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-02-26 13:02] joezuntz commented on #2096
Sorry, I'm slightly overloaded ATM.

[2020-02-26 14:06] lpantano commented on #2076
@whedon check references

[2020-02-26 14:07] whedon commented on #2076
[code]

[2020-02-26 14:07] lpantano commented on #2076
@afrubin, can you make a zenodo archive of your repo, and make sure title and authors match the paper information? After that we can move forward to acceptance.

[2020-02-26 15:19] dfm commented on #1889
@whedon set 10.5281/zenodo.3687352 as archive

[2020-02-26 15:19] whedon commented on #1889
OK. <a href="https://doi.org/10.5281/zenodo.3687352" target="_blank">10.5281/zenodo.3687352</a> is the archive.

[2020-02-26 15:19] dfm commented on #1889
@whedon set v2.3.1.1 as version

[2020-02-26 15:19] whedon commented on #1889
OK. v2.3.1.1 is the version.

[2020-02-26 15:20] dfm commented on #1889
@openjournals/joss-eics this paper is ready for final processing. Thanks!

[2020-02-26 15:25] dfm commented on #2103
@rodluger: Thanks!

@bmorris3: Can you report back here when:

1. You have address the final issues that @rodluger raised, and
2. You have the DOI of the accepted AAS paper. For reference, the DOI of this paper (when it is published) will be 10.21105.joss.02103. I believe that the AAS folks will want that.

[2020-02-26 15:28] dfm commented on #1958
Hi team! Just checking in here on the status.

@kiretd: I wanted to double check that you got @sauln's recommendations. Let us know if you have any questions!

@effigies: It seems like there might be some remaining issues for you. Can you let us know if there's more that you would like to see beyond this response: https://github.com/openjournals/joss-reviews/issues/1958#issuecomment-583011174

Tha

[2020-02-26 15:28] effigies commented on #1958
Hi, thanks for the reminder. I'll try to have a look on Friday.

[2020-02-26 16:49] DivyaSeernani commented on #2088
Hia, just finished the review. Wasn't sure about the question on the license file since the .txt seems to contain a lot less information than the .md. Also there are clear community guidelines on the website, not in the readme in the repo. I guess that's ok? Otherwise, looks good and I'm looking forward to using the package for future experiments.

[2020-02-26 16:52] oliviaguest commented on #2088
@Cognitive-Modeller any chance on an ETA for your review, please? :smile:

@DivyaSeernani fantastic! Thank you so much! :clap:

@pmcharrison can you check out what @DivyaSeernani is asking about and address as much as you can, please?

[2020-02-26 17:39] kbarnhart commented on #2075
@whedon check references

[2020-02-26 17:40] whedon commented on #2075
[code]

[2020-02-26 17:40] kbarnhart commented on #2075
@whedon generate pdf

[2020-02-26 17:41] whedon commented on #2075
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02075/joss.02075/10.21105.joss.02075.pdf)

[2020-02-26 17:42] kboone commented on #2096
Sure, I'd be happy to do this review.

In the interest of transparency, @Samreay and I worked at the same institution for a few months around three years ago. We did not work directly together on any projects, and I don't think that this is a COI that would make me unable to make an impartial evaluation.

[2020-02-26 17:43] kyleniemeyer commented on #2109
@katyhuff you can disregard that edit request, I can take this one

[2020-02-26 17:43] kyleniemeyer commented on #2109
@whedon assign @kyleniemeyer as editor

[2020-02-26 17:43] whedon commented on #2109
OK, the editor is @kyleniemeyer

[2020-02-26 17:43] kbarnhart commented on #2075
@whedon set 10.5281/zenodo.3687347 as archive.

[2020-02-26 17:43] whedon commented on #2075
OK. <a href="https://doi.org/10.5281/zenodo.3687347" target="_blank">10.5281/zenodo.3687347</a> is the archive.

[2020-02-26 17:44] kbarnhart commented on #2075
@whedon set v1.0.4 as version

[2020-02-26 17:44] whedon commented on #2075
OK. v1.0.4 is the version.

[2020-02-26 17:44] kbarnhart commented on #2075
@openjournals/joss-eics this is now ready for final processing.

[2020-02-26 17:47] danielskatz commented on #2096
This is a COI according to [JOSS policies](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy) but it's long enough ago and minor enough that it can be waived

[2020-02-26 17:48] kbarnhart commented on #1978
👋 @nkarasiak I wanted to check in and see if you had an anticipated timeline for addressing the current set of issues.

[2020-02-26 18:08] JoshuaSteer commented on #2060
@danasolav Thanks for all the suggestions. A few things we've got in the pipeline to fix. There's a couple of legacy elements of the GUI which need removing as well which you picked up on.

I'll start working through them and let you know when they're updated

Big thanks for providing your STL files for testing - very helpful!

[2020-02-26 18:23] arfon commented on #2096
@whedon add @kboone as reviewer

[2020-02-26 18:23] whedon commented on #2096
OK, @kboone is now a reviewer

[2020-02-26 18:24] arfon commented on #2096
:zap: thanks @kboone!

[2020-02-26 18:24] arfon commented on #2096
@whedon add @temuller as reviewer

[2020-02-26 18:25] whedon commented on #2096
OK, @temuller is now a reviewer

[2020-02-26 18:25] arfon commented on #2096
@whedon start review

[2020-02-26 18:25] whedon opened #2122 "[REVIEW]: Pippin: A pipeline for supernova cosmology"
**Submitting author:** @samreay (<a href="http://orcid.org/0000-0003-2071-9349">Samuel Hinton</a>)
**Repository:** <a href="https://github.com/Samreay/Pippin" target ="_blank">https://github.com/Samreay/Pippin</a>
**Version:** 0.1.1
**Editor:** @arfon
**Reviewer:** @kboone, @temuller
**Archive:** <a href="https://doi.org/10.5281/zenodo.3716116" target="_blank">10.5281/zenodo.3716116</a>

## Status

[2020-02-26 18:25] whedon commented on #2096
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2122.

[2020-02-26 18:25] #2096 closed

[2020-02-26 18:25] whedon commented on #2122
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kboone, @temuller it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2020-02-26 18:25] whedon commented on #2122
[code]

[2020-02-26 18:25] whedon commented on #2122
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02122/joss.02122/10.21105.joss.02122.pdf)

[2020-02-26 18:26] arfon commented on #2096
@kboone, @temuller - many thanks for agreeing to review this submission. See you over in #2122 where the actual review will take place.

[2020-02-26 18:27] arfon commented on #2122
@kboone, @temuller - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html and if possible I'd appreciate it if you could complete your review in the next 2-3 weeks.

Any questions/concerns please let me know!

[2020-02-26 18:30] danielskatz commented on #2102
Thanks @taylor-a-barnes! I note you didn't check the Functionality documentation checkbox, and that you opened 2 issues in the source repo that are now closed.  Did those changes resolve the overall issue for you, so that you can check off this final checkbox?  If not, what else do you think is needed?

[2020-02-26 18:30] danielskatz commented on #2102
👋 @utf - I also want to check in with you and see how your review is going...

[2020-02-26 18:37] danielskatz commented on #2105
JOSS doesn't really provide detailed guidance here. You should probably consider this from the point of view of a user who wants to use the SaaS as well as a developer who wants to understand and potentially contribute to the underlying software.

[2020-02-26 18:41] shirubana commented on #1865
Sorry, now I dropped the ball. u_u

Based on prioritizing Python as language, having done more than 1 reviews in the past year and not being currently overwhelmed with research, and having some kind of atmospheric, energy, or optics experience: andreas-h, dhhagan, cmccomb, dhhagan, yxqd, sarats, usethedata, mikaem, leouieda

[2020-02-26 19:05] melissawm commented on #2049
Hello, @torressa! Would you be willing/available to review this software paper for JOSS?

[2020-02-26 19:07] melissawm commented on #1865
Hello @cmccomb! Would you be willing/available to review this software paper for JOSS?

[2020-02-26 19:30] taylor-a-barnes commented on #2102
The sentence at the end of the "Usage" section of the documentation is currently as follows:

This should be corrected for grammatical issues:

More importantly, the link is broken.  Once that is fixed, I can check the final checkbox.

[2020-02-26 20:38] titipata commented on #1959
@arokem just to poke here to see if this is ready for the final review by the EICs. Thank you so much!

[2020-02-26 20:51] arokem commented on #1959
Whoops. Thanks for poking! Too many GitHub notifications 😅

[2020-02-26 20:51] arokem commented on #1959
@whedon set 10.5281/zenodo.3686564 as archive

[2020-02-26 20:51] whedon commented on #1959
OK. <a href="https://doi.org/10.5281/zenodo.3686564" target="_blank">10.5281/zenodo.3686564</a> is the archive.

[2020-02-26 20:51] arokem commented on #1959
@whedon set 1.1.1 as version

[2020-02-26 20:51] whedon commented on #1959
OK. 1.1.1 is the version.

[2020-02-26 20:52] arokem commented on #1959
@openjournals/joss-eics : I believe that this is ready for your review

[2020-02-26 20:55] titipata commented on #1959
@arokem no problem and thank you so much again!

[2020-02-26 21:17] malmans2 commented on #1720
@leouieda, my last comments have been addressed! All issues are closed and I checked all the items in the checklist.

[2020-02-26 21:26] whedon commented on #1982
:wave: @agricolab, please update us on how your review is going.

[2020-02-26 21:49] Sergio-Bejar commented on #2069
@danielskatz @kthyng, apologies for bugging you about this submission.   But there's been no feedback/information from the assigned editor in the past 14 days -specifically since we proposed a set of potential reviewers.-   Other submissions assigned to the same editor seem to have the same issue (no response).  Is it possible to assign the piece to a different editor?  If not, is there anything w

[2020-02-26 22:03] pdebuyl commented on #2072
Thank you for the update. I ticked many checks for the review already. Some items remain to
improve, especially given the focus of JOSS on best practices (including testing).

1. The comment "base install of python (not recommended)" is superfluous.

2. The tests are not well defined. For instance, the test for the sphere placement routine
   does not check the distance of the pore but that it fal

[2020-02-26 22:47] cMadan commented on #1847
@hvgazula, that's understandable, I'll continue to try and find reviewers here.

@FelixHenninger, would you be able to review the software side of things here, even if not the neuroimaging-specific aspects? Your suggestions earlier were much appreciated!

[2020-02-26 22:48] cMadan commented on #1847
@gkiar @satra @yarikoptic, would you be available and interested in reviewing this submission?

You can find some additional information about JOSS here: https://joss.theoj.org/about

[2020-02-26 23:00] Ebedthan commented on #2106
My review is complete. Recommend accept it with changes provided by authors. This package will ease stuff on extracting features from sensor.

[2020-02-26 23:01] cMadan commented on #2116
@strengejacke @aj2duncan, do let me know if you have any questions as you review the submission :)

[2020-02-26 23:38] afrubin commented on #2076
@lpantano I have created a new release with zenodo archive that matches the paper information here: https://zenodo.org/record/3688838

I've also updated the package in pypi: https://pypi.org/project/fqfa/1.0.0/

[2020-02-26 23:43] lpantano commented on #2076
@whedon set v1.0.0  as version

[2020-02-26 23:43] whedon commented on #2076
OK. v1.0.0  is the version.

[2020-02-26 23:43] lpantano commented on #2076
@whedon set 10.5281/zenodo.3688838 as archive

[2020-02-26 23:43] whedon commented on #2076
OK. <a href="https://doi.org/10.5281/zenodo.3688838" target="_blank">10.5281/zenodo.3688838</a> is the archive.

[2020-02-26 23:43] lpantano commented on #2076
@@openjournals/joss-eics, I think this is good to go.

[2020-02-27 00:57] josephhardinee commented on #2099
Normally this triggers a new repository to be created right? I hadn't been notified and just want to make sure no one is waiting on me.

[2020-02-27 01:06] yarikoptic commented on #1847
Interested - yes. Available - depends on timeline.

[2020-02-27 04:44] jedbrown commented on #2099
@josephhardinee Yep, I'm still working to confirm a second reviewer, but will start the review issue for you now.

[2020-02-27 04:44] jedbrown commented on #2099
@whedon start review

[2020-02-27 04:44] whedon opened #2123 "[REVIEW]: CloudnetPy: A Python package for processing cloud remote sensing data"
**Submitting author:** @tukiains (<a href="http://orcid.org/0000-0002-0651-4622">Simo Tukiainen</a>)
**Repository:** <a href="https://github.com/actris-cloudnet/cloudnetpy" target ="_blank">https://github.com/actris-cloudnet/cloudnetpy</a>
**Version:** v1.2.4
**Editor:** @jedbrown
**Reviewers:** @josephhardinee, @ekschuman
**Archive:** <a href="https://doi.org/10.5281/zenodo.4011843" target="_blan

[2020-02-27 04:44] whedon commented on #2099
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2123.

[2020-02-27 04:44] #2099 closed

[2020-02-27 04:44] whedon commented on #2123
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @josephhardinee it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2020-02-27 04:44] whedon commented on #2123
[code]

[2020-02-27 04:45] whedon commented on #2123
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02123/joss.02123/10.21105.joss.02123.pdf)

[2020-02-27 04:46] jedbrown commented on #2123
@josephhardinee :wave: Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the CloudnetPy repository). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet our criteria in

[2020-02-27 06:05] jedbrown commented on #1716
@ThomasPak I apologize for my greatly delayed response here. With regard to the experiment in Figure 2, is there a set of parameters that would acceptably reproduce the analytic result? Does Pakman have any functionality to inform the user when their choices are insufficient and thus can't be trusted? Also, is there a reason you to use `\langle 75, 70, ..., 35 \rangle` as notation for what I under

[2020-02-27 07:04] torressa commented on #2049
Hi @melissawm! I'd love to! Looks like a really interesting review.
I'll reserve some time next weekend.

[2020-02-27 08:09] thelfer commented on #2003
@arfon @IgorBaratta T. Nagel, one of the co-author, just propose to update the `OpenGeoSys` part with a more meaningful example. Would you mind if we do this change ? (https://github.com/thelfer/MFrontGenericInterfaceSupport/pull/26)

[2020-02-27 12:59] melissawm commented on #2049
@whedon add @toressa as reviewer

[2020-02-27 12:59] whedon commented on #2049
OK, @toressa is now a reviewer

[2020-02-27 13:00] melissawm commented on #2049
@whedon remove @toressa as reviewer

[2020-02-27 13:00] whedon commented on #2049
OK, @toressa is no longer a reviewer

[2020-02-27 13:01] melissawm commented on #2049
@whedon add @torressa as reviewer

[2020-02-27 13:01] whedon commented on #2049
OK, @torressa is now a reviewer

[2020-02-27 13:03] melissawm commented on #2049
Thanks @torressa, let me know if you have any questions!

[2020-02-27 14:26] anowacki commented on #2043
Thanks, @joa-quim for the comments!

My motivation for the latter command is that new Julia users can simply copy and paste the full command into a fresh REPL session without needing to worry about `pkg` mode, but I'd be happy to change this is you feel it is definitely less friendly.

When the package wasn't registered, this was needed, but no longer as I'm sure you realise.  This part of the doc

[2020-02-27 15:48] joa-quim commented on #2043
@anowacki This was just my opinion on what looks more friendly to new users. More experimented users should know that already. But notice that one can do a copy past of ``]add SeisModels`` string into a fresh REPL and it works fine. I mean, the REPL passes automatically into the *pkg* mode.

[2020-02-27 16:03] waxlamp commented on #2105
Thanks for this insight. Creating detailed developer documentation is currently out of scope for our project, but of course I can see how it would enrich our open source offering here.

[2020-02-27 16:04] arfon commented on #2003
I'm OK with this if @srmnitc and @IgorBaratta are.

[2020-02-27 16:20] anowacki commented on #2043
This doesn't actually work for me.

[2020-02-27 16:26] joa-quim commented on #2043
!! I'm on Windows and I was assuming that it would work in other OSs as well.
Anyway, this is minor point. Do as you feel is better.

[2020-02-27 16:31] frssp commented on #2102
The typo and the broken link are fixed.

[2020-02-27 16:57] danielskatz commented on #2105
I think that's a reasonable answer, as long as the community guidelines match - expectations for community contributions will depend on developer documentation to some extent.

[2020-02-27 17:40] melissawm commented on #1906
Hello @pitsianis and @sivaramambikasaran , do you have any updates on this review? If you have any blocking concerns please let me know so we can best resolve the issue. Thanks!

[2020-02-27 18:01] gkiar commented on #1847
@cMadan similar to @yarikoptic here, as well, though I don't work much in JavaScript so believe I'm a bit under-qualified to evaluate the quality of software.

[2020-02-27 18:18] jordanperr commented on #2114
@sjpfenninger Where is the best place to push this update? Is there a pull request branch somewhere we can iterate in? I don't want to iterate on these changes in our master branch. Thanks.

[2020-02-27 18:28] kyleniemeyer commented on #2114
@jordanperr we can generate the PDF from a branch using this command:

`@whedon generate pdf from branch custom-branch-name`

[2020-02-27 18:38] jordanperr commented on #2114
@whedon generate pdf from branch joss-review

[2020-02-27 18:38] whedon commented on #2114
[code]

[2020-02-27 18:38] whedon commented on #2114
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02114/joss.02114/10.21105.joss.02114.pdf)

[2020-02-27 18:40] jordanperr commented on #2114
@whedon generate pdf from branch joss-review

[2020-02-27 18:40] whedon commented on #2114
[code]

[2020-02-27 18:41] whedon commented on #2114
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02114/joss.02114/10.21105.joss.02114.pdf)

[2020-02-27 19:16] IgorBaratta commented on #2003
I'm ok with that too.

[2020-02-27 19:22] IgorBaratta commented on #2003
I think so, it's on the review checklist, and it's one of the boxes I still have to check.

[2020-02-27 19:44] nkarasiak commented on #1978
Hello @kbarnhart. I'm dealing with the issues, and I submitted my library to conda in order to answer to @mollenburger to ease the installation process with gdal but it takes some times...
I didn't forget to answers the issues, I just want to do it the nicest way possible :)
I hope end of next week everything will be adressed.
Kind regards,
Nicolas.

[2020-02-27 20:09] mbobra commented on #2108
@whedon assign @hpparvi as reviewer

[2020-02-27 20:09] whedon commented on #2108
OK, @hpparvi is now a reviewer

[2020-02-27 20:10] mbobra commented on #2108
Thanks for agreeing to review, @hpparvi! I'm still working on securing a second referee, so I'll start the review after I do that.

[2020-02-27 20:18] brentp commented on #2119
@whedon generate pdf

[2020-02-27 20:19] whedon commented on #2119
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02119/joss.02119/10.21105.joss.02119.pdf)

[2020-02-27 20:26] kbarnhart commented on #1978
@nkarasiak thanks for the update. It all sounds good.

Also, sorry for the ooo-bot, I accidentally turned it on trying to demonstrate how to use it for a reviewer (and I haven't yet figured out how to turn it off). I'm not out of the office at all.

[2020-02-27 20:29] nick-gauthier commented on #2113
Sorry, I won't have time this month to give this a thorough review.

[2020-02-27 20:40] YoungFaithful commented on #2034
Our professor didn't contribute to the code

I fear that I don't fully understand your question about environments in the Julia context: Each package defines its dependencies in `Project.toml` (https://github.com/YoungFaithful/CapacityExpansion.jl/blob/master/Project.toml). The `Pkg`-Manager uses the dependencies of the different packages and tries to satisfy all of them. The user only uses `using

[2020-02-27 21:16] samuelduchesne commented on #1833
Hi @brynpickering! Regarding the release schedule, I was thinking of scraping older releases and reissuing a version 1.0 once the review process is complete. I take it that the first public-ready version of a package is typically version 1.0.0. I could release the current state of the develop branch as version 0.9, which I would then upload to PyPI. Then you could try the install procedure using `

[2020-02-27 22:41] labarba commented on #2076
@whedon accept

[2020-02-27 22:41] whedon commented on #2076
[code]

[2020-02-27 22:41] whedon commented on #2076
[code]

[2020-02-27 22:41] whedon commented on #2076
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1342

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1342, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]