[2022-10-13 15:35] cprudhom commented on #4708
Thank you @jbytecode Do you know whether such a procedure is possible on https://joss.theoj.org/papers/10.21105/joss.04708 too?

[2022-10-13 15:46] jbytecode commented on #4708
maybe @xuanxu can help you about this issue.

[2022-10-13 15:51] kthyng commented on #3842
@EtienneCmb It is inappropriate for you to contact a reviewer of your submission privately. Please, do not do this again.

[2022-10-13 15:53] LeonieFierz commented on #4261
@editorialbot generate pdf

[2022-10-13 16:01] jmschrei commented on #4749
Great, thanks.

[2022-10-13 16:03] turgeonmaxime commented on #4807
Thanks for the heads-up, I'll admit this review fell off my radar. I'll be taking a look over the next few days.

[2022-10-13 16:10] kthyng commented on #4721
Hi @Basvanstein! Would you like to make a new release that is associated with the JOSS paper? If so what is the new version number?

[2022-10-13 16:12] kthyng commented on #4721
@Basvanstein Please add an ending parenthesis to your 3rd bullet point, first page.

[2022-10-13 16:12] Basvanstein commented on #4721
Yes the release is made. Please set the version to v1.0.1 such that it is the same as the release version tag.
Thank you! Will now change the ending parenthesis.

[2022-10-13 16:14] Basvanstein commented on #4721
Fixed the parenthesis in the `paper.md` file.

[2022-10-13 16:19] kthyng commented on #4052
Everything looks good to me!

[2022-10-13 16:19] kthyng commented on #4052
@editorialbot accept

[2022-10-13 16:19] editorialbot opened #4849 "[PRE REVIEW]: Fluximplied: A novel approach integrates rate limiting steps and differential expression for pathway analysis"
**Submitting author:** @sportiellomike (<a href="http://orcid.org/0000-0003-1690-8702">Mike Sportiello</a>)
**Repository:** https://github.com/sportiellomike/fluximplied
**Branch with paper.md** (empty if default branch):
**Version:** v.0.2.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/a4d8576ca14d2663d632b897d1a9b

[2022-10-13 16:25] kthyng commented on #4849
@editorialbot query scope

[2022-10-13 16:27] editorialbot opened #4850 "[PRE REVIEW]: nnTensor: An R package for non-negative matrix/tensor decomposition"
**Submitting author:** @kokitsuyuzaki (<a href="http://orcid.org/0000-0003-3797-2148">Koki Tsuyuzaki</a>)
**Repository:** https://github.com/rikenbit/nnTensor
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.9
**Editor:** @prashjha
**Reviewers:** @Stat-Cook, @oneilsh
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/b8cc3029f784ee95c45831467b

[2022-10-13 16:29] kthyng commented on #4850
Hi @kokitsuyuzaki and thanks for your submission. I'm not very familiar with R so maybe I am missing it, but where are the docs for your package?

[2022-10-13 16:29] jmschrei commented on #4749
@editorialbot start review

[2022-10-13 16:29] editorialbot opened #4851 "[REVIEW]: MetaGenePipe: An Automated, Portable Pipeline for Contig-based Functional and Taxonomic Analysis"
**Submitting author:** @ParkvilleData (<a href="http://orcid.org/0000-0002-7393-810X">Babak Shaban</a>)
**Repository:** https://github.com/ParkvilleData/MetaGenePipe/
**Branch with paper.md** (empty if default branch):
**Version:** 1.1.5
**Editor:** @jmschrei
**Reviewers:** @Ebedthan, @rjorton
**Archive:** 10.26188/22032425

## Status

[![status](https://joss.theoj.org/papers/c9c52942084258507eeb1

[2022-10-13 16:29] #4749 closed

[2022-10-13 16:31] jmschrei commented on #4851
Howdy @Ebedthan and @rjorton!

Thanks for agreeing to review this submission.

The process for conducting a review is outlined above. Please run the command shown above to have @editorialbot generate your checklist, which will give a step-by-step process for conducting your review. Please check the boxes during your review to keep track, as well as make comments in this thread or open issues in th

[2022-10-13 16:34] kthyng commented on #4811
Hi @jbytecode! Could you edit this submission?

[2022-10-13 16:34] kthyng commented on #4811
@editorialbot invite @jbytecode as editor

[2022-10-13 16:37] kthyng commented on #4834
Hi @nickelnine37! The editorial board is enthusiastic about this submission. I will remove the scope query label now.

[2022-10-13 16:38] kthyng commented on #4834
@Kevin-Mattheus-Moerman did you want to edit this one?

[2022-10-13 16:38] kthyng commented on #4834
@editorialbot invite @Kevin-Mattheus-Moerman as editor

[2022-10-13 16:39] kthyng commented on #4841
@Kevin-Mattheus-Moerman Did you want to edit this submission?

[2022-10-13 16:40] kthyng commented on #4841
@editorialbot invite @Kevin-Mattheus-Moerman as editor

[2022-10-13 16:43] kthyng commented on #4844
Hi @robcaulk — JOSS submissions are required to be related to research to be in scope. Can you make an argument for how this submission is research software?

[2022-10-13 16:44] kthyng commented on #4850
@prashjha is this in your wheelhouse at all? Could you edit?

[2022-10-13 16:44] kthyng commented on #4850
@editorialbot invite @prashjha as editor

[2022-10-13 16:46] jbytecode commented on #4811
@kthyng - of course, gladly!

[2022-10-13 16:48] jbytecode commented on #4811
@editorialbot assign me as editor

[2022-10-13 17:03] leotrs commented on #4846
Thanks for the clarification. I think the current author list makes sense. Do consider to add the names of other/past contributors in the acknowledgements section of the paper.

[2022-10-13 17:13] stinefm commented on #4516
@fraukewiese, I have now solved the minor issues regarding the paper.
I have followed the checklist and archived the reviewed software in Zenodo.
The DOI is: 10.5281/zenodo.7195034
The version tag of the archived version is: 0.2.14.

I want to thank you all @fraukewiese, @robinroche, and @blthayer for the nice reviewing process!
I will make sure to volunteer after my PhD is delivered.

Best
Stine

[2022-10-13 17:40] aaron-bray commented on #4647
Hi @prashjha
I think anyone within the biomedical engineering / physiology domain would be applicable
- nnadeau
- hofmannu
- kostadus
- alcantarar
- abhishektha
- alexrockhill
- Gabrock94
- nirum

[2022-10-13 17:43] Kevin-Mattheus-Moerman commented on #4834
@editorialbot assign me as editor

[2022-10-13 17:52] slwu89 commented on #4775
@editorialbot generate pdf

[2022-10-13 18:11] sportiellomike commented on #4849
Thank you @kthyng for allowing me the opportunity to argue for why this is a substantial effort. I would be happy to do so here if that is more helpful, but the main arguments are written in our 7 figure bioarxiv paper found at this link: https://www.biorxiv.org/content/10.1101/2022.03.15.484417v1

Having said that (again it is fully discussed at the bioarxiv link), I can also summarize here. It i

[2022-10-13 18:59] robcaulk commented on #4844
Hello @kthyng,

I am glad you asked. FreqAI is a significant component of Freqtrade, which is a non scientific software, and therefore I can understand your immediate confusion.

However, there is no doubt that FreqAI is a novel scientific software, built to enable advanced hypothesis testing on *live* and *historical* time-series data. In addition to novel components, FreqAI promotes reproducible

[2022-10-13 19:30] gcattan commented on #4114
@raybecker Thank you for your time reviewing this software!

I have corrected the typo and provided more use cases to answer your comment under `State of the field`. This part was indeed missing in the previous version. Please find the modification I made to the [paper](https://gitlab.com/programgreg/tagginglatencyestimator/-/compare/v1-JOSS...master?from_project_id=29286425&straight=false) (the p

[2022-10-13 20:23] acocac commented on #4715
@elbeejay thanks for the invite. I confirm my availability and interest in reviewing the submission. Please tag me here when the reviewing process starts.

[2022-10-13 21:25] nickelnine37 commented on #4834
Hi, @kthyng - thank you for progressing this on,

And thank you @Kevin-Mattheus-Moerman for agreeing to edit - greatly appreciated.

[2022-10-13 21:56] turgeonmaxime commented on #4807
@balima78 I've read the manuscript a couple of times. I think the statement of need needs to be expanded. For example, I can't find the answer to the following questions:

- Who is the intended audience for the package? Physicians? Researchers in kidney transplant allocation policy? Biostatisticians? Health systems administrator?
- What is the current state of software solutions for this problem?

[2022-10-13 22:30] jeffreyhanson commented on #4594
Awesome - thanks so much @martinfleis, @DrMattG, and @Jo-Schie!

@martinfleis, I've created a tagged release (see https://github.com/prioritizr/wdpar/releases/tag/v1.3.3.2) and archived this on Zenodo (see https://doi.org/10.5281/zenodo.7195676). I also have edited the metadata so that the author list and title are identical to that of the paper. Please let me know if there's anything else I can d

[2022-10-13 23:11] emdupre commented on #4670
Thank you @cariyurek for these edits, and @Lestropie and @spinicist for your responses !

One small clarification on your availability, @spinicist : Would you be willing and able to act as a reviewer for this submission given that the 6 week review window would run through the end of November ?

Please let us know, too, @grlee77 and @michaelberks, if you would be available to review this submissio

[2022-10-14 00:20] elbeejay commented on #4715
@editorialbot add @acocac as reviewer

Thanks @acocac, I'll definitely ping you once we get the review started. Hoping to give the other folks I reached out to a day or two to decide in the hopes of finding a 3rd reviewer.

[2022-10-14 02:00] lwang-astro commented on #4483
@webbjj Sorry for the late of reply. Recently I am busy with teaching. Now I am continuing to test the example notebook.
I use the newest pip version of clustertools.

I got an error with
[code]
---------------------------------------------------------------------------
UnboundLocalError                         Traceback (most recent call last)
Input In [40], in <module>
----> 1 cluster.rcore(plot

[2022-10-14 04:35] kokitsuyuzaki commented on #4850
@kthyng
Thank you for facilitating the editing of this manuscript.

.Rd files in man/ directory are the documents of R package
https://github.com/rikenbit/nnTensor/tree/master/man

and user can check the usage, argument, and output of all the functions in this page.
https://cran.rstudio.com/web/packages/nnTensor/nnTensor.pdf

[2022-10-14 04:37] kokitsuyuzaki commented on #4850
For the potential reviewers, I recommend `oneilsh`, who is the author of [tidyTensor](https://joss.theoj.org/papers/10.21105/joss.03543).
In the list, I think, `jeffhammond`,` jamiehadd`, `yhtang`, and `meandmytram` are suitable for the review of tensor decomposition.

[2022-10-14 04:45] mgm8 commented on #4768
@danielskatz any updates?

[2022-10-14 06:37] ismailguzel commented on #4846
@editorialbot generate my checklist

[2022-10-14 06:40] kristina-o commented on #4261
Dear @kthyng thanks for the final comments for our paper, we have addressed them all, and finished the final formatting. Our paper is now good to go. I would like to take the opportunity to thank @timtroendle @olejandro @noah80 @jasondegraw for supporting us during the review process and for improving the quality of our paper!

[2022-10-14 08:26] raybecker commented on #4114
@gcattan Thank you for the quick response. I did not see the test suite in C#. Thank you for pointing that out. I think that should be satisfactory.

I'm also happy with the changes to the paper, and I hope they help people understand the importance that your software provides to increase measurement validity in their ERP research both for psychophysics and neurolinguistics. Good luck!

[2022-10-14 08:29] jbytecode commented on #4811
Dear @odunbar,

Thank you for the submission. I am the handling editor.

Do you have suggestions for the potential reviewers? You can use the list of people to suggest suitable reviewers that are interested in Julia and the subject of the manuscript: https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit

Please list them using their github usernames but do not us

[2022-10-14 09:10] Kevin-Mattheus-Moerman commented on #4834
@nickelnine37 you are welcome. I will be looking for reviewers. Let me know if you'd like to suggest reviewers at this time. If so, please mentioned their GitHub handles here but leave out the @ symbol so they are not tagged yet.

[2022-10-14 09:12] Kevin-Mattheus-Moerman commented on #4834
@dfm @nicoguaro @likask @lizarett @JulianKarlBauer would be interested in reviewing this work for JOSS? Also let me know if I am relying on your review efforts too often :) thank you so much for the help some of you have provided to us in the past already!!!!

[2022-10-14 10:16] lorenzo-rovigatti commented on #4693
Hello everyone! This is me hoping that the lack of appearance of new issues in the repo means that the reviews are going well :stuck_out_tongue:

[2022-10-14 10:47] AoifeHughes commented on #4801
Hi @lc09c - just wanted to let you know I'm still looking for reviewers, so we can begin. It will speed things up if you, yourself, know anyone who would be able to, or have suggestions. Otherwise, I'll keep asking potential reviewers in the meantime.

[2022-10-14 10:53] AoifeHughes commented on #4801
@masadcv @mh-skjelvareid, @jingpengw would you be available to review this paper/softwares?

[2022-10-14 10:54] mabesa commented on #4805
Test issues are resolved

[2022-10-14 10:58] becarioprecario commented on #4716
@editorialbot generate my checklist

[2022-10-14 11:10] nickelnine37 commented on #4834
Thanks @Kevin-Mattheus-Moerman. Here are some names I took from the bottom of the provided csv file who could also be a good match for review.

janfb
victorapm
Athene-ai
fredstro
turgeonmaxime
Daniel-Dodd
fabian-sp
mdhaber
max-little
tonyewong
mhu48

[2022-10-14 11:11] nickelnine37 commented on #4834
@mikechantler

[2022-10-14 11:15] bgailleton commented on #4715
@elbeejay Thanks a lot for the suggestion. I am on leave until the 26th of October. If that is OK in term of timing I am happy to review!

[2022-10-14 11:33] jbytecode commented on #4736
@HaoZeke - Happy to hear from you again. Thank you for setting a deadline.

[2022-10-14 11:50] becarioprecario commented on #4716
I have read the paper now. These are some comments that perhaps require changes in the main paper:

* Authorship. The geostan package has been vdeveloped by two authors but only one appears listed in the paper. Is there any particular reason for this?
* BayesX is also an R package to fit Bayesian spatial models that should be mentioned.
* Lines 55-59. Does the package relies on other R packages to

[2022-10-14 12:38] danielskatz commented on #4768
We'll be switching to track based editors-in-chief in the next week, and I expect the person for this paper will update you then.

[2022-10-14 12:44] gcattan commented on #4114
Thank you for your feedback, it is much appreciated! Wish you all the best too.

[2022-10-14 12:44] mgm8 commented on #4768
Ok, thanks.

[2022-10-14 13:14] mikemahoney218 commented on #4574
@elbeejay I think all of my concerns have been addressed :smile: I've checked off the last boxes on my checklist. Good job @rCarto and congrats!

[2022-10-14 13:19] elbeejay commented on #4715
@bgailleton that should work if you don't mind doing the review a bit quicker after you get back. We typically give reviewers 4 weeks to complete their reviews, so you'd have maybe 2.5 weeks for yours.

[2022-10-14 13:21] elbeejay commented on #4715
@editorialbot start review

[2022-10-14 13:21] editorialbot opened #4852 "[REVIEW]: lidarwind: A python package for retrieving wind profiles from Doppler lidar observations"
**Submitting author:** @jdiasn (<a href="http://orcid.org/0000-0002-8488-8486">Dias Neto, José </a>)
**Repository:** https://github.com/jdiasn/lidarwind
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.2
**Editor:** @elbeejay
**Reviewers:** @tgoelles, @acocac, @bgailleton
**Archive:** 10.5281/zenodo.7591728

## Status

[![status](https://joss.theoj.org/papers/28430a0c6a79e6d1f

[2022-10-14 13:21] #4715 closed

[2022-10-14 13:28] elbeejay commented on #4852
:wave: @tgoelles, @acocac, @bgailleton thank you all again for agreeing to review this submission. I believe most of the instructions on how to conduct a JOSS review are included in the comment at the top of this issue. The gist of the process is the following:

- Comment in this issue to tell the @editorialbot to make your checklist
- Review the software and associated paper (this includes instal

[2022-10-14 13:29] elbeejay commented on #4852
@editorialbot remind @tgoelles in three weeks

[2022-10-14 13:31] elbeejay commented on #4574
Great, thanks all for the follow up. @JosiahParry thank you for explicitly identifying outstanding issues.

[2022-10-14 13:50] nicoguaro commented on #4834
@Kevin-Mattheus-Moerman, I can help. As I mentioned in Twitter, I might go a little bit slower with this one.

[2022-10-14 13:57] fraukewiese commented on #4516
@editorialbot set v0.2.14 as version

[2022-10-14 13:57] fraukewiese commented on #4516
@editorialbot set 10.5281/zenodo.7195034 as archive

[2022-10-14 14:00] fraukewiese commented on #4516
@editorialbot generate pdf

[2022-10-14 14:01] fraukewiese commented on #4516
@editorialbot check references

[2022-10-14 14:03] nickelnine37 commented on #4834
@bev-o-neill

[2022-10-14 14:05] fraukewiese commented on #4516
Congratulations @stinefm , I will now recommend to accept your submission :)

[2022-10-14 14:05] fraukewiese commented on #4516
@editorialbot recommend-accept

[2022-10-14 14:10] fraukewiese commented on #4472
@euronion and @chrklemm
Are you satisfied with the answer from @mcgrathc regarding the test coverage?

[2022-10-14 14:11] fraukewiese commented on #4472
@chrklemm
Are you satisfied with the answer from @mcgrathc regarding the installation issues you encountered?

[2022-10-14 14:23] fraukewiese commented on #4795
@kthyng Thanks for the invite and the explanation. Before taking over the editor role, I would like to ask
- whether the three submissions should be handled separately although they relate to each other?
- whether you have already checked that the separation in three different submission is a good idea or if one or two submissions would also be an option?

[2022-10-14 14:45] tgoelles commented on #4852
@editorialbot generate my checklist

[2022-10-14 14:59] masadcv commented on #4801
Hi @AoifeHughes

Many thanks for the invitation to review this JOSS paper.
I am happy to review this, however due to some existing deadlines I may only be able to start my review at the start of next month. In case that goes in line with reviewing timeline, then please add me to reviewer list. Otherwise, I look forward to reviewing other JOSS papers in coming days.

[2022-10-14 15:00] dunnkers commented on #4611
@editorialbot generate pdf

[2022-10-14 15:18] jingpengw commented on #4801
@AoifeHughes thank you for the invitation! I am reviewing some big grant applications with close to a hundred pages in total! I do not have the time to do it in the near future.

[2022-10-14 15:38] kthyng commented on #4795
Hi @fraukewiese! Reasonable questions.

I thought it could be helpful to have a single shepherd for the three submissions, but I could see it either way — do you have an opinion about it?

I don't think any editors spent time thinking about this — the submissions came in with this proposed set up. If you think we should consider other approaches, we can do a scope query to gather more opinions, or

[2022-10-14 15:41] kthyng commented on #4516
Everything looks ready to go!

[2022-10-14 15:42] kthyng commented on #4261
@editorialbot accept

[2022-10-14 15:44] editorialbot opened #4853 "[PRE REVIEW]: ronswanson: Building Table Models for 3ML"
**Submitting author:** @grburgess (<a href="http://orcid.org/0000-0003-3345-9515">J. Michael Burgess</a>)
**Repository:** https://github.com/grburgess/ronswanson
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.6
**Editor:** @dfm
**Reviewers:** @cosimoNigro, @volodymyrss
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/b9ab6f687a9f3018b6b08c

[2022-10-14 15:45] editorialbot opened #4854 "[PRE REVIEW]: robnptests -- An R package for robust two-sample location and variability tests"
**Submitting author:** @s-abbas (<a href="http://orcid.org/0000-0001-9162-9792">Sermad Abbas</a>)
**Repository:** https://github.com/s-abbas/robnptests
**Branch with paper.md** (empty if default branch): develop
**Version:** 1.0.0
**Editor:** @jbytecode
**Reviewers:** @mingzehuang, @msalibian
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/99e34c86845719986f57c

[2022-10-14 15:47] kthyng commented on #4853
@editorialbot generate pdf

[2022-10-14 15:51] grburgess commented on #4853
potential reviewers:
adonath
natj
cescalara

[2022-10-14 15:51] kthyng commented on #4853
Hi @grburgess and thanks for your submission. I think the problem compiling your paper is that you missing your affiliation. See details [here](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

Also I don't see instructions for installation — are they missing?

Finally, all of our relevant editors are fully occupied at the moment so I'll add this submission to

[2022-10-14 15:51] grburgess commented on #4853
The pdf seemed to work with the GitHub action

[2022-10-14 15:53] kthyng commented on #4516
Congratulations on your new publication @stinefm! Many thanks to editor @fraukewiese and reviewers @robinroche and @blthayer for your time, hard work, and expertise!!

[2022-10-14 15:53] #4516 closed

[2022-10-14 15:53] kthyng commented on #4261
Congratulations on your new publication to @kristina-o! Many thanks to editor @timtroendle and reviewers @olejandro, @noah80, and @jasondegraw for your time, hard work, and expertise!

[2022-10-14 15:53] #4261 closed

[2022-10-14 15:54] editorialbot opened #4855 "[PRE REVIEW]: G80SXM: Publication-Quality SPM Figures 'On The Fly'"
**Submitting author:** @ceds92 (<a href="http://orcid.org/0000-0003-3990-8852">Julian Ceddia</a>)
**Repository:** https://github.com/New-Horizons-SPM/G80SXM
**Branch with paper.md** (empty if default branch): JOSS-Submission
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/6e329f6f22302af33e590c522ff

[2022-10-14 15:59] editorialbot opened #4856 "[PRE REVIEW]: FijiRelax: Fast and noise-corrected estimation of MRI relaxation maps in 3D + t"
**Submitting author:** @Rocsg (<a href="http://orcid.org/0000-0003-3670-044X">Romain Fernandez</a>)
**Repository:** https://github.com/Rocsg/FijiRelax
**Branch with paper.md** (empty if default branch):
**Version:** v4.0.3
**Editor:** @britta-wstnr
**Reviewers:** @MaximLippeveld, @kasasxav, @hinerm
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/cdbd91c8fed50d8

[2022-10-14 16:03] kthyng commented on #4855
Hi @ceds92 and thanks for your submission. I am going to ping the editorial board to see if they think this submission is in scope. One question is that for visualization software, we usually look for a level of research analysis beyond "just making plots" even if making those plots is well done in the package, in order to fit with our scope guidelines. This process will take 1-2 weeks.

[2022-10-14 16:07] kthyng commented on #4856
Hi @Rocsg and thanks for your submission! Our relevant editors are fully occupied, so I will add this submission to the waitlist. Thanks for your patience.

[2022-10-14 16:08] kthyng commented on #4721
@editorialbot set v1.0.1 as version

[2022-10-14 16:08] kthyng commented on #4721
@editorialbot generate pdf

[2022-10-14 16:11] kthyng commented on #4721
@editorialbot accept

[2022-10-14 16:16] kthyng commented on #4721
Congratulations on your new publication @Basvanstein! Many thanks to editor @Fei-Tao and reviewers @Saran-nns, @xtruan, and @rreinecke for your time, hard work, and expertise!!

[2022-10-14 16:16] #4721 closed

[2022-10-14 16:16] NoraLoose commented on #4277
Thanks for the ping @kthyng! I will carry on with my review next week (probably Friday).

[2022-10-14 16:22] bastorer commented on #4277
Hi @kthyng thanks for the reminders! I think I've responded to all of the open issues.

[2022-10-14 16:33] kthyng commented on #4277
Thanks @NoraLoose and @bastorer!

[2022-10-14 16:39] mabesa commented on #4805
I'm working on an issue deploying the package (the package maintainer needs to remove an old workflow which does not seem to be working any more). Gosh, suddenly so many issues! But they can be solved step by step.

I will be on a family holiday most of next week and have promised not to bring the laptop. I'm sorry if this interferes with the review process.

[2022-10-14 16:47] stefanocoretta commented on #4847
@editorialbot generate my checklist

[2022-10-14 17:39] webbjj commented on #4483
My apologies @lwang-astro , it looks like I broke the plotting feature when adding your suggested method of calculating rcore. Should be fixed now in the newest pip (clustertools-1.0.4) or git hub.

[2022-10-14 17:43] webbjj commented on #4483
Actually lets do 1.0.5. I didn't upload 1.0.4 correctly.

[2022-10-14 17:59] acocac commented on #4852
@editorialbot generate my checklist

[2022-10-14 18:30] wcjochem commented on #4574
@rCarto, thanks for your reply. I have managed to install the package on Windows now. I suspect it was something else out of date preventing the install. I can't reproduce my errors. I've completed the checklist now.

[2022-10-14 20:43] sbenthall commented on #4845
@editorialbot assign me as editor

[2022-10-14 20:45] sbenthall commented on #3496
@Natsiopoulos ping. We are almost done with this. We just need you to complete the steps mentioned above so that we can publish a fixed archive to the journal.

[2022-10-14 20:51] emdupre commented on #4670
👋 Hi @kerkelae @curtcorum !

Would you be willing to review PyGRASP: A library to reconstruct dynamic contrast enhanced MR images acquired with radial sampling for [JOSS (the Journal of Open Source Software)](https://joss.theoj.org/)?

You can learn more about reviewing for JOSS -- including our conflict of interest policy -- [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2022-10-14 21:52] galessiorob commented on #4791
@editorialbot add @richelbilderbeek as reviewer

[2022-10-14 21:57] galessiorob commented on #4839
@editorialbot add @sidihamady as reviewer

[2022-10-14 21:58] galessiorob commented on #4839
@sidihamady Please type and comment @editorialbot generate my checklist, this will generate a checklist with each of the aspects for you to review regarding the software, documentation, and the paper. Please let me know if you have any questions and feel free to post them directly in this issue.

[2022-10-14 21:58] galessiorob commented on #4839
@lucask07 I'm reviewing your comment above and will reply soon. Thank you!

[2022-10-14 22:30] munkm commented on #4735
Hi!!! I am really excited about this package and thank you for your contribution to JOSS. I opened two issues that I think will help clarify things in the documentation for your future users, but watts-dev/watts#65 is not blocking for my review. However, I do think it's related and complementary to the original comment made by @sskutnik about power users.  I have finished my review but I have two

[2022-10-14 22:40] jGaboardi commented on #3761
@whedon generate pdf

[2022-10-14 22:41] jGaboardi commented on #3761
@editorialbot generate pdf

[2022-10-15 00:39] Natsiopoulos commented on #3496
@sbenthall I made a minor change and tagged and released it as v0.2.1.
The DOI is 10.5281/zenodo.7200425

[2022-10-15 05:57] Rocsg commented on #4856
@editorialbot commands

[2022-10-15 05:58] Rocsg commented on #4856
@editorialbot check references

[2022-10-15 06:00] Rocsg commented on #4856
@editorialbot check references

[2022-10-15 06:02] Rocsg commented on #4856
@editorialbot check references

[2022-10-15 06:02] Rocsg commented on #4856
@editorialbot Nice!

[2022-10-15 06:03] Rocsg commented on #4856
@editorialbot check repository

[2022-10-15 06:03] Rocsg commented on #4856
@editorialbot generate my checklist

[2022-10-15 06:03] Rocsg commented on #4856
@editorialbot list editors

[2022-10-15 08:31] cMadan commented on #4668
@hwoodruff, unfortunately the current step is to find reviewers. I will ask a few more people now, but we can't advance further until reviewers have agreed to evaluate the submission.

[2022-10-15 08:33] cMadan commented on #4668
@dirmeier @jingpengw @grlee77, would you be available and interested in reviewing this submission?

[2022-10-15 08:54] maurov commented on #4801
@AoifeHughes thanks for considering me as possible reviewer. I am not an expert of FIB/SEM tomography and I cannot judge about this code. I had a quick read of the paper and my first impression is that it would be beneficial to have more open source tomography software around. To my opinion, the paper reports correctly the reference for standard algorithms, but for newly implemented ones, a detail

[2022-10-15 09:48] martinfleis commented on #3761
@editorialbot add @jGaboardi as reviewer

[2022-10-15 11:27] editorialbot opened #4857 "[PRE REVIEW]: Fidget (test)"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** https://github.com/arfon/fidgit
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/e5145466a281f02aa9c9bd56cf2776af/status.svg)](https://joss.

[2022-10-15 11:27] arfon commented on #4857
@editorialbot ping-eic

[2022-10-15 11:27] arfon commented on #4857
@editorialbot  commands

[2022-10-15 11:27] arfon commented on #4857
@editorialbot commands

[2022-10-15 11:28] arfon commented on #4857
@editorialbot ping track-eic

[2022-10-15 11:28] jbytecode commented on #4857
it works :)

[2022-10-15 11:28] arfon commented on #4857
:-)

[2022-10-15 11:29] arfon commented on #4857
@editorialbot generate preprint

[2022-10-15 11:31] arfon commented on #4857
/ cc @xuanxu ☝️

[2022-10-15 11:31] arfon commented on #4857
@editorialbot reject

[2022-10-15 11:31] #4857 closed

[2022-10-15 11:39] jbytecode commented on #4716
@ConnorDonegan - could you please apply the corrections as suggested by our reviewer? Thank you in advance.

[2022-10-15 11:39] arfon commented on #4371
Thanks @rcannood.

@falexwolf – when do you think you might be able to respond to @rcannood's feedback?

[2022-10-15 11:42] arfon commented on #4073
:wave: @taless474 – it looks like this submission could do with new reviewers at this stage. What do you think?

[2022-10-15 11:45] arfon commented on #4250
:wave: @taless474 – Is there anything I can do here to help move this submission along? It looks like we will indeed need a second reviewer here.

[2022-10-15 11:53] arfon commented on #4030
:wave: folks. Just checking in here – are we still waiting for @hongyuanjia to make their updates?

[2022-10-15 11:53] arfon commented on #4405
:wave: folks. Just checking in here. @KristinaRiemer – are we still waiting for the author to make changes here?

[2022-10-15 13:07] jodemaey commented on #4839
I would like to request some clarifications regarding the **Contribution and authorship** point. I noticed that the main/first author of the paper has only made a single commit with one line. It seems that all the authors are roughly from the same lab so it might be ok, but please clarify it here.

[2022-10-15 13:17] kauedesousa commented on #4405
I planning to work on these reviews over the next two weeks. Sorry for the long silent, I was traveling a lot (I am returning from one travel today).

[2022-10-15 13:48] jodemaey commented on #4839
Regarding the scholarly effort and documentation, I also noticed that the package uses by default pre-trained models to classify audio ([yamnet](https://tfhub.dev/google/yamnet/1)) and detect objects in video ([yolov5](https://docs.ultralytics.com/)) while this being barely documented and linked.

Also, the functions of the package being involved with these feature mainly channel the result of the

[2022-10-15 13:50] hechth commented on #4494
@csoneson I made a new release 0.2.5 which is archived on Zenodo with DOI: 10.5281/zenodo.7211726
 at https://zenodo.org/record/7211726

[2022-10-15 13:51] jGaboardi commented on #3761
@martinfleis, will the editorialbot generate a fresh checklist for me or shall I use the one from the previous reviewer?

[2022-10-15 13:54] martinfleis commented on #3761
Use `@editorialbot generate my checklist` command. I didn't realise this review is pre-editorialbot.

[2022-10-15 13:54] jGaboardi commented on #3761
@editorialbot generate my checklist

[2022-10-15 14:16] fboehm commented on #4674
@editorialbot generate pdf

[2022-10-15 14:25] Ebedthan commented on #4851
@editorialbot generate my checklist

[2022-10-15 14:26] fboehm commented on #4674
@DominiqueMaucieri - I've now examined the pdf of the paper. I have one small suggestion for a fix that I ask you to implement:

1. line 46: "accounting the size" should be "accounting for the size"
Thanks again!

[2022-10-15 14:32] fboehm commented on #4674
@DominiqueMaucieri -  A few more suggestions - in looking at the dois for the pdf, I see that the last one, for the Williams reference, seems to resolve to a book review in a journal. Can you please check on this? Does the doi point to what you want to cite?

[2022-10-15 14:33] fboehm commented on #4674
@DominiqueMaucieri - Also, in the references, the shiny reference needs to have a capitalized "R". You can achieve this by putting curly braces around the R in your bib file, {R}. Please fix this.

[2022-10-15 14:33] fboehm commented on #4674
@editorialbot check references

[2022-10-15 14:36] fboehm commented on #4720
@MaximLippeveld and @pjb7687 - thanks for the thorough reviews and discussions. Do you feel that there is more to discuss, or are you comfortable that the review process is completed?

[2022-10-15 14:48] leotrs commented on #4846
@matteocao I can see your CI runs pytest on the root directory but wasn't able to find a directory containing a test suite. Could you please point me to it? Thanks!

[2022-10-15 14:55] leotrs commented on #4846
@matteocao I see no mention of related/similar software in the current paper. Are there absolutely no other options for using topological techniques in deep learning?

[2022-10-15 15:28] perdelt commented on #4628
ping @gkthiruvathukal everything ok?

[2022-10-15 15:38] RamziHalabi commented on #4839
That is correct. I am the first author of this paper, and I am the main contributor to the design and coding of the data quality functions, with emphasis on sensor data quality metrics, as well as drafting the manuscript. We distributed the tasks amongst ourselves to submit to JOSS, and the most repository-contributing co-author to push and publish a clean version of the code to GitHub is Zixiong

[2022-10-15 15:40] matteocao commented on #4846
Dear @leotrs ,
Thank you for your message.

The **unit tests** are written per module, meaning that there is a folder called `tests` in each module folder. Here some examples:
 - https://github.com/giotto-ai/giotto-deep/tree/master/gdeep/data/datasets/tests
 - https://github.com/giotto-ai/giotto-deep/tree/master/gdeep/data/persistence_diagrams/tests
 - https://github.com/giotto-ai/giotto-deep/tree

[2022-10-15 15:54] jodemaey commented on #4839
Yes, thanks for the clarification.

[2022-10-15 16:03] pjb7687 commented on #4720
@fboehm I confirm that I completed my review.

[2022-10-15 16:16] Smattr commented on #4816
@editorialbot generate my checklist

[2022-10-15 16:16] arfon commented on #4283
@VivianePons – it seems like this submission is making slow (but steady) progress towards being ready to accept at some point soonish?

@agdturner – how are you getting along making changes based on the reviewer feedback?

[2022-10-15 17:05] sidihamady commented on #4839
@editorialbot generate my checklist

[2022-10-15 18:27] jGaboardi commented on #3761
@marina-haliem @martinfleis

Before continuing with my review, I would like to raise two fairly large points (IMHO), that need to be addressed:

* **software**
  * One of the overarching goals of JOSS, and, similar outlets, is to advance the concept of (open source) software as a scientific artifact. While `DRSP-Sim` is technically open source, it is not accessible for generalized use (e.g. it can

[2022-10-15 20:02] gkthiruvathukal commented on #4628
@perdelt Many apologies for the delay. This was kind of a big week for me at the university.
Let me catch up and see where we stand here, but things look good!

[2022-10-15 20:06] gkthiruvathukal commented on #4628
@editorialbot generate pdf

[2022-10-15 20:11] enekomartinmartinez commented on #4329
@editorialbot generate pdf

[2022-10-15 20:24] enekomartinmartinez commented on #4329
@JamesPHoughton can you take care of this please?

[2022-10-15 20:55] gkthiruvathukal commented on #4628
Hi @perdelt. Thank you for your patience.
Please do the following:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a

[2022-10-15 21:06] EugeneHao commented on #4848
@editorialbot generate my checklist

[2022-10-15 21:08] EugeneHao commented on #4848
@editorialbot generate pdf

[2022-10-15 21:09] EugeneHao commented on #4848
@editorialbot commands

[2022-10-15 21:18] hayesall commented on #4738
Thank you for your patience. I've opened some issues/PRs with recommendations.

I'd definitely like to see these points addressed:

- https://github.com/xinyiguan/py2lispIDyOM/issues/12
- https://github.com/xinyiguan/py2lispIDyOM/issues/9
- https://github.com/xinyiguan/py2lispIDyOM/pull/11

If the first two items are more difficult than I expect, I will re-evaluate.

---

These points should proba

[2022-10-16 06:57] grburgess commented on #4853
@editorialbot generate pdf

[2022-10-16 07:19] LTLA commented on #4742
Thanks @Nikoleta-v3:

Done, 1.9.11 (https://github.com/LTLA/basilisk/releases/tag/1.9.11).

Done, https://zenodo.org/record/7212841#.Y0uwA9LMLkw

DOI: 10.5281/zenodo.7212841

[2022-10-16 08:27] taw10 commented on #4801
Hi, I can review!
Sorry for the long wait for a response - the request came right at the start of a very busy week for me.  I expect to have time next week to take a proper look.

[2022-10-16 11:25] arfon commented on #4700
@editorialbot assign me as editor

:wave: @dshean – apologies for the very slow movement here. I'm going to take this submission on for @leouieda.

[2022-10-16 11:26] arfon commented on #4700
@editorialbot set https://github.com/ICESat2-SlideRule/paper as repository

[2022-10-16 11:28] arfon commented on #4632
@mspieg – I'm sorry things have been moving slowly here. @leouieda has decided to retire from the JOSS editorial team after more than 3 years of service. Thank you @leouieda 🙇

@kyleniemeyer – can you take a look at finding an alternate editor for this submission?

[2022-10-16 11:35] arfon commented on #4700
@editorialbot generate pdf

[2022-10-16 11:36] arfon commented on #4700
@editorialbot set main as branch

[2022-10-16 11:36] arfon commented on #4700
@editorialbot generate pdf

[2022-10-16 11:41] arfon commented on #4700
:wave: @cjcrosby @hobu @JessicaS11 – would any of you be willing to review this submission for JOSS? The submission under consideration is SlideRule, a toolset for researchers leveraging the NASA ICESat-2 mission.

The review process at JOSS is unique: it takes place in a GitHub issue, is open, and author-reviewer-editor conversations are encouraged. You can learn more about the process in these g

[2022-10-16 11:43] arfon commented on #4835
@chronchi - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2022-10-16 11:43] arfon commented on #4835
@editorialbot reject

[2022-10-16 11:43] #4835 closed

[2022-10-16 11:44] arfon commented on #4830
@RapidCompiler - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-co

[2022-10-16 11:44] #4830 closed

[2022-10-16 11:44] arfon commented on #4830
@editorialbot reject

[2022-10-16 11:45] arfon commented on #4151
@editorialbot set 10.5281/zenodo.7194579 as archive

[2022-10-16 11:45] arfon commented on #4151
@editorialbot recommend-accept

[2022-10-16 11:47] erikkjellgren commented on #4759
Comments for review points that might not be fulfilled:
I hope I have done it in an acceptable format @jarvist

__Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution.__
There is working installation instruction on the main GitHub page of the package.
The instructions instruct to install Psi4 separa

[2022-10-16 11:48] arfon commented on #4151
@Theomat – can you check if the DOIs that @editorialbot is suggesting are correct for your paper and if they are, could you add them to your BibTeX file please?

[2022-10-16 11:53] arfon commented on #4151
@Theomat – I've also found a few small issues with your paper that need fixing: https://github.com/nathanael-fijalkow/DeepSynth/pull/4

[2022-10-16 12:00] s-abbas commented on #4854
Hi @kthyng,

I added the license.

[2022-10-16 12:22] Theomat commented on #4151
Hi,

All the missing DOIs pointed out by the bot have been added.

[2022-10-16 14:13] leotrs commented on #4846
Both responses sound reasonable to me. Thanks.

[2022-10-16 14:21] leotrs commented on #4846
I have finished my review and I believe the paper can be accepted as is.

[2022-10-16 14:37] fboehm commented on #4224
@JoranTiU - Thank you so much for the offer! We've actually completed the review for this submission. I hope that you and I can work together on a future submission. Thanks again!

[2022-10-16 14:49] sidihamady commented on #4839
I agree with my colleagues @lucask07 and @jodemaey that there is a concern about "substantial scientific effort and thin API point". A a reminder, the JOSS guide details this item:

- Age of software (is this a well-established software project) / length of commit history.
- Number of commits.
- Number of authors.
- Total lines of code (LOC). Submissions under 1000 LOC will usually be flagged, tho

[2022-10-16 15:12] AoifeHughes commented on #4801
@taw10 fab, thanks! No rush, still need to find the second (waiting for some to get back to me) - @masadcv thanks also, let me see, I'll hear back tomorrow from someone else who may be able to help out sooner, but thank you for the offer and will ping later next week if needed :) thanks all for responses!

[2022-10-16 15:13] AoifeHughes commented on #4801
@editorialbot add @taw10 as reviewer

[2022-10-16 15:21] AoifeHughes commented on #4753
Hi, @mbarzegary and @finsberg - thanks for making progress on this!

Just a heads-up on a few things.

1. With regards to one review not being able to fully test the submission, I'll step in and finalise some tests myself and review the software which, depending on the other review should be fine. I've discussed this with other editors and that's all okay-ed.
2. I will be out of office until later

[2022-10-16 16:12] kyleniemeyer commented on #4632
@editorialbot assign me as editor

[2022-10-16 16:13] kyleniemeyer commented on #4632
@editorialbot invite @bryanwweber as reviewer

Hey @bryanwweber, do you have any bandwidth to review this?

[2022-10-16 16:15] kyleniemeyer commented on #4632
Hi @bocklund, are you interested in and available to review this submission to JOSS?

[2022-10-16 17:23] arfon commented on #4151
@editorialbot check references

[2022-10-16 17:33] arfon commented on #4151
@editorialbot recommend-accept

[2022-10-16 17:51] lpantano commented on #4832
@editorialbot  assign @lpantano as editor

[2022-10-16 17:52] asitha-sena commented on #4569
:wave:  @jedbrown

[2022-10-16 18:09] arfon commented on #4151
@editorialbot accept

[2022-10-16 18:10] melissawm commented on #2974
@editorialbot set 10.5281/zenodo.7152178 as archive

[2022-10-16 18:11] melissawm commented on #2974
@editorialbot set 1.0 as version

[2022-10-16 18:11] lpantano commented on #4832
@kthyng happy to edit this tool.

[2022-10-16 18:11] melissawm commented on #2974
@editorialbot recommend-accept

[2022-10-16 18:13] melissawm commented on #4291
Hello, all

Pinging again @jajhall and @frankecurtis - are you still available to review this paper for JOSS? Thank you!

[2022-10-16 18:19] lpantano commented on #4363
Hi @swatimanekar, @samhorsfield96, @cagret,

@swatimanekar, I think the paper now contains the statement of need, can you check is enough for you for the current version. As well, What the authors will need to add to complete the functionality documentation?

@cagret,  did you go over the last comments from @samhorsfield96?

@samhorsfield96, besides your previous comment, would be the last ones to

[2022-10-16 18:20] lpantano commented on #4363
@cagret, I think it would be good if you could reduced the paper to 3-4 pages (not counting references). If you have a biorXiv, you can point to more detailed description to that link. Thanks!

[2022-10-16 18:22] cagret commented on #4363
Yes, I think I have been go over all the comments. Ok for the reduction, I will do that. Thanks again for everything.

[2022-10-16 18:26] arfon commented on #4151
@njuaplusplus, @bzz – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@Theomat – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-10-16 18:26] #4151 closed

[2022-10-16 18:28] arfon commented on #4073
@editorialbot assign @diehlpk as editor

:wave: folks – @diehlpk has kindly volunteered to step in as the handling editor here as @taless474 is not currently available to edit. Thanks Patrick!

[2022-10-16 18:28] arfon commented on #4129
@editorialbot assign @diehlpk as editor

:wave: folks – @diehlpk has kindly volunteered to step in as the handling editor here as @taless474 is not currently available to edit. Thanks Patrick!

[2022-10-16 18:28] arfon commented on #4250
@editorialbot assign @diehlpk as editor

:wave: folks – @diehlpk has kindly volunteered to step in as the handling editor here as @taless474 is not currently available to edit. Thanks Patrick!

[2022-10-16 18:28] arfon commented on #4493
@editorialbot assign @diehlpk as editor

:wave: folks – @diehlpk has kindly volunteered to step in as the handling editor here as @taless474 is not currently available to edit. Thanks Patrick!

[2022-10-16 18:30] arfon commented on #3732
@vissarion – it definitely looks like we need to find new reviewers here. What do you suggest as next steps?

[2022-10-16 18:32] arfon commented on #3934
@editorialbot reject

@bmcfee – this submission seems to be abandoned. As such, I'm proceeding to reject. Thanks for your work here @bmcfee and reviewers @hbaniecki & @kmichael08. Sorry this submission didn't work out.

[2022-10-16 18:32] #3934 closed

[2022-10-16 18:34] arfon commented on #4671
:wave: @adi3 – looks like we still need a second reviewer here? How are you getting long finding another?

[2022-10-16 18:36] cagret commented on #4363
@editorialbot generate pdf

[2022-10-16 18:40] cagret commented on #4363
@editorialbot generate pdf

[2022-10-16 18:47] cagret commented on #4363
@editorialbot generate pdf

[2022-10-16 18:55] cagret commented on #4363
@editorialbot generate pdf

[2022-10-16 18:55] cagret commented on #4363
i reduced the number of pages

[2022-10-16 18:56] arfon commented on #2974
@geoffreyp – I found a couple of minor typos in your paper here: https://github.com/moead-framework/framework/pull/79

[2022-10-16 18:58] arfon commented on #4555
@editorialbot recommend-accept

[2022-10-16 19:01] arfon commented on #4555
@editorialbot accept

[2022-10-16 19:03] osorensen commented on #4846
Thanks a lot for your time and efforts, @leotrs

[2022-10-16 19:05] cagret commented on #4363
@editorialbot generate pdf
@lpantano now it'll fit.

[2022-10-16 19:08] arfon commented on #4555
@ProfLeao, @gbaltz – many thanks for your reviews here and to @osorensen  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@Matthew-Jennings  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-10-16 19:08] #4555 closed

[2022-10-16 19:11] ppxasjsm commented on #4693
I think @degiacom and @ptmerz need to still test some of the software. How are you both getting on with your reviewing tasks?

[2022-10-16 19:12] ppxasjsm commented on #4719
Thank you @mturiansky for your review and your feedback. @wcwitt can you give me an estimate of when you think you'll be able to finish the reveiw by? Thanks.

[2022-10-16 19:23] frankecurtis commented on #4291
@melissawm Yes, I am available, although as I mentioned earlier I would greatly appreciate knowing what is the expectation in terms of review time.  I have a number of things to review, and this hasn't reached the top of the stack yet, but I can try to accommodate if there is an explicit deadline.  Please let me know.  I expect it would ideal to coordinate with Julian so we both have the same expe

[2022-10-16 19:26] angerhang commented on #4741
Tested with the demo data. The report generated is super sick! Am sure many will benefit from using this software. There are still outstanding tasks regarding the sex calculation and dependency instructions. But I am happy to tick all the boxes from my checklist :D

[2022-10-16 22:08] diehlpk commented on #4073
@editorialbot remove @burch-cm as reviwer

[2022-10-16 22:08] diehlpk commented on #4073
@editorialbot remove @burch-cm as reviewer

[2022-10-16 22:09] diehlpk commented on #4073
@marksantcroos Are you still available? If I do nto hear back from you by October 21th, I will remove you as a reviewer.

[2022-10-16 22:10] diehlpk commented on #4073
@maxpumperla Could you please recommend some new reviewers?

[2022-10-16 22:12] diehlpk commented on #4611
@estefaniatalavera and @mcasl could you please have a look at the changes @dunnkers made?

[2022-10-16 22:12] diehlpk commented on #4637
Hi @ctdegroot, @thomasgillis could you please have a look at the comments above?

[2022-10-16 22:13] diehlpk commented on #4617
@JeWaVe just checking if you have time to respond.

[2022-10-16 22:14] diehlpk commented on #4129
Hi @tmigot how is your review going?

[2022-10-16 22:14] diehlpk commented on #4129
Hi @peanutfun, I hope things are going better for you. Could you please update us on your review progress?

[2022-10-16 22:17] diehlpk commented on #4250
Hi @humanfactors can you please look in the simplified installation process?

[2022-10-16 22:17] diehlpk commented on #4250
@OlgerSiebinga can you please recommend a new reviewer?

[2022-10-16 22:18] diehlpk commented on #4250
@editorialbot remove @bnriiitb as reviewer

[2022-10-16 22:19] diehlpk commented on #4493
Hi @Athene-ai, @sara-02 how is your review going?

[2022-10-16 22:29] debruine commented on #4707
I'm finding this review process really interesting but a little overwhelming (I'm never sure I've read all the relevant instructions or are doing everything correctly). I'm nearly done checking the documentation for each function and hope to finish by Tuesday.

I just wanted to say that I love this package and have immediately started using it in my own data wrangling pipeline. It's very intuitive

[2022-10-16 22:48] Smattr commented on #4816
Sorry for the delay. I've been making my way through the checklist now, filing issues as I go:
* https://github.com/ianfhunter/GNOLL/issues/249
* https://github.com/ianfhunter/GNOLL/issues/251
* https://github.com/ianfhunter/GNOLL/issues/252
* https://github.com/ianfhunter/GNOLL/issues/292
* https://github.com/ianfhunter/GNOLL/issues/293

Ian's been addressing them faster than I file them, so thin

[2022-10-17 00:05] Matthew-Jennings commented on #4555
Wonderful! Thank you so much @osorensen @gbaltz @ProfLeao @Kevin-Mattheus-Moerman and @arfon for your efforts!

[2022-10-17 01:57] mspieg commented on #4632
Thanks,
  Please keep me posted…it’s been a while in the waitlist.  Please let me know if I can be of assistance
Marc
-------------------------------------------------
Prof Marc Spiegelman
Chair Dept of App. Physics and App. Math
Dept of Earth and Env Sciences
Columbia University
-------------------------------------------------

[2022-10-17 03:19] Fei-Tao commented on #4844
@editorialbot assign me as editor

[2022-10-17 03:21] Fei-Tao commented on #4844
Hi @robcaulk if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-10-17 05:36] Athene-ai commented on #4493
@diehlpk my review was completed

[2022-10-17 05:59] lc09c commented on #4801
Hello,

@AoifeHughes I am sorry but I do not have any reviewer to suggest. Sorry.

@maurov The "systematic study of the loss behavior" is simply in the documentation, as should be clear from the two sentences after the one you reported, which I copied below.

"For example, for the selection of the decharger and destriper parameters, novel self-supervised losses are employed, and in the
“Miscellane

[2022-10-17 06:26] ianfhunter commented on #4816
I noticed this on the checklist, so I have been creating a github action to make it easier to replicate
https://github.com/ianfhunter/GNOLL/actions/runs/3259062234

The python comparison is ready.
The other performance claim is for the following libraries:
- https://github.com/EBailey67/DiceParser
- http://hjemmesider.diku.dk/~torbenm/Troll/Troll.zip

However, when measuring Troll, I edited it hea

[2022-10-17 06:45] gdmiron commented on #4624
@lucydot Hello everybody. How can we proceed with the review? Do you need some support from my side?

[2022-10-17 06:53] csoneson commented on #4677
Hi @hkaspersen - yes, I believe you should be able to use `\textit` in the titles in your `.bib` file.

[2022-10-17 07:02] JoranTiU commented on #4224
I hope so too 😊. And you’re very welcome 😊

Vriendelijke groet/Kind Regards,
Joran

Joran Jongerling | Assistant-Professor/Co-Director of TESC | Department of Methodology and Statistics | Tilburg School of Social and Behavioral Sciences | Reitse Poort, Room RP 15 | https://experiencesampling.nl/person/joran-jongerling/

***@***.***

From: Frederick Boehm ***@***.***>
Sent: zondag 16 oktober 2022 4

[2022-10-17 07:02] csoneson commented on #4494
@editorialbot set 10.5281/zenodo.7211726 as archive

[2022-10-17 07:03] csoneson commented on #4494
@hechth Perfect, thanks! I'll hand over now to an associate EiC for the final steps. Thanks for submitting to JOSS!

[2022-10-17 07:03] csoneson commented on #4494
@editorialbot recommend-accept

[2022-10-17 07:06] oliviaguest commented on #4600
@editorialbot set v0.82.0 as version

[2022-10-17 07:07] oliviaguest commented on #4600
@editorialbot set 10.5281/zenodo.7177876 as archive

[2022-10-17 07:07] oliviaguest commented on #4600
@editorialbot generate pdf

[2022-10-17 07:11] oliviaguest commented on #4114
@editorialbot generate pdf

[2022-10-17 07:13] csoneson commented on #4545
@patRyserWelch8 - could you please check whether the instructions above work for you? Thanks!

[2022-10-17 07:29] patRyserWelch8 opened #4858 "@editorialbot generate my checklist"
STOP STOP STOP STOP STOP
STOP STOP STOP STOP STOP
👇 ================================== 👇

Issues in this repository are automatically generated by the journal submission system. DO NOT FILE ISSUES HERE.

If you have a question about JOSS then please open an issue on the main JOSS repository: https://github.com/openjournals/joss

☝ ================================== ☝

THANKS FOR NOT OPENING AN ISS

[2022-10-17 07:29] #4858 closed

[2022-10-17 07:29] patRyserWelch8 commented on #4858
@editorialbot generate my checklist

[2022-10-17 07:31] patRyserWelch8 commented on #4545
Hi,

I think I have followed the instructions and copied the content as requested. If it does not work, then I will let you sort it out in the background.

Best wishes,

Dr Pat Ryser-Welch

Associate lecturer  - T192, T193, T914, TM351,TM352,TM356, TM356, TM470

Referred as: Her/She

Let's remember:

Start by doing what's necessary; then do what's possible; and suddenly you are doing the impossibl

[2022-10-17 07:32] maurov commented on #4801
@lc09c thanks for your comment. Indeed, I had a look at the documentation only after writing my comment. Yes, your are right that everything is well documented.

[2022-10-17 07:34] mh-skjelvareid commented on #4801
@AoifeHughes : Thanks for the invitation to review! Unfortunately I won't have time for reviews in the last months of 2022.

[2022-10-17 07:57] MaximLippeveld commented on #4720
@fboehm I also confirm that I completed my review.

[2022-10-17 08:16] Kevin-Mattheus-Moerman commented on #4834
@editorialbot add @JulianKarlBauer as reviewer

[2022-10-17 08:19] jarvist commented on #4759
Dear Erik, @erikkjellgren
Thank you very much! These look quite detailed, and the suggested corrections well described.

@SYalouz , if you could check through & rebut or apply changes to Erik's suggestions, and address any weaknesses / issues. Please don't lose heart! JOSS is very much about working openly to improve the codes, paper and documentation to a suitable standard.

[2022-10-17 08:25] vissarion commented on #3732
I will search a bit more for new reviewers. @AlexanderMacL please let me know if you have any suggestions.

[2022-10-17 08:27] vissarion commented on #3732
Hi @krystophny @pharshalp you are both experts in acoustics and matlab (that turned out to be a rare combination !), would you like to help us reviewing this submission for JOSS?

[2022-10-17 08:31] SYalouz commented on #4759
Dear @erikkjellgren, Dear @jarvist,

Thank you very much for your response and all your constructive and very detailed comments! They will definitely help to improve the quality of the package (and the paper). I will implement all the corrections and answer all your questions as soon as possible.

[2022-10-17 08:32] gcattan commented on #4114
Thank you @oliviaguest, the article proof looks good to me.

[2022-10-17 08:44] AoifeHughes commented on #4801
Hello @mooniean, following on from our off-github conversations, I'm going to add you as a reviewer and then start the process, so we can get the review moving.

[2022-10-17 08:44] AoifeHughes commented on #4801
@editorialbot add @mooniean as reviewer

[2022-10-17 08:45] AoifeHughes commented on #4801
@editorialbot start review

[2022-10-17 08:45] editorialbot opened #4859 "[REVIEW]: bmiptools: BioMaterials Image Processing TOOLS"
**Submitting author:** @lcmpikg (<a href="http://orcid.org/0000-0002-1184-2516">Luca Curcuraci</a>)
**Repository:** https://gitlab.mpikg.mpg.de/curcuraci/bmiptools
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.1
**Editor:** @AoifeHughes
**Reviewers:** @taw10, @mooniean
**Archive:** https://doi.org/10.5281/zenodo.7337808

## Status

[![status](https://joss.theoj.org/papers/a5

[2022-10-17 08:45] #4801 closed

[2022-10-17 08:46] vissarion commented on #4532
@masadcv I am searching for one more (new) reviewer while waiting for @yhtang to respond.

Hi @dataplayer12, @yogi-tud, @robertszafa, @kris-rowe, @zhampel as experts in C++/CUDA could you please help us by reviewing this submission for JOSS?

[2022-10-17 09:02] ebezzam commented on #4747
Hi @raolivei13 thank you for your review. I was wondering if you could elaborate on some of the points you haven't checked? I've left a comment on each point below.

Perhaps some of these things were not made clear in the paper, which would be great to receive your feedback on how we can better present / what we should include to fill in the gaps. Thanks!

## Substantial scholarly effort

Why do y

[2022-10-17 09:04] wcwitt commented on #4719
I'll finish this week.

[2022-10-17 09:07] taw10 commented on #4859
@editorialbot generate my checklist

[2022-10-17 09:16] krystophny commented on #3732
Sure! Could take until beginning of November though, depending on free time slots.

[2022-10-17 09:18] vissarion commented on #3732
thanks OK, thanks! I am adding you.

@editorialbot add @krystophny as reviewer

[2022-10-17 09:39] mooniean commented on #4859
@editorialbot generate my checklist

[2022-10-17 10:25] mdavezac commented on #4694
The author has answered all my questions and confusions. I am happy to recommend this paper for publication.

[2022-10-17 10:27] agdturner commented on #4283
Hi @arfon, everyone. Thanks for the message and for the reviews which seem fair. I am making slow (and hopefully steady progress) in addressing reviews and refactoring the code to make the development more sustainable. I developed some rendering code in a very similarly named repository ([ccg-r3d](https://github.com/agdturner/ccg-r3d)) and had some success in visualising a Utah Teapot (a sort of "

[2022-10-17 10:36] falexwolf commented on #4371
@arfon, we responded to most of it.

@ivirshup, when do you think you can address the outstanding items?

[2022-10-17 11:14] perdelt commented on #4628
Hi @gkthiruvathukal please find the information here

  **v0.13.0**

  **10.5281/zenodo.7213676**

[2022-10-17 11:33] vissarion commented on #3732
@editorialbot add @krystophny as reviewer

[2022-10-17 11:53] jajhall commented on #4291
Yes, I am still available, and have time to start today!

[2022-10-17 12:20] arfon commented on #2974
@editorialbot recommend-accept

[2022-10-17 12:20] geoffreyp commented on #2974
Thanks @arfon, it is fixed

[2022-10-17 12:27] arfon commented on #2974
@editorialbot accept

[2022-10-17 12:34] Nikoleta-v3 commented on #4742
@editorialbot generate pdf

[2022-10-17 12:35] Nikoleta-v3 commented on #4742
@editorialbot check references

[2022-10-17 12:42] arfon commented on #2974
@sjvrijn, @chkoar – many thanks for your reviews here and to @melissawm for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@geoffreyp – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-10-17 12:42] #2974 closed

[2022-10-17 13:37] dfm commented on #4777
@editorialbot add @richteague as reviewer

🎉  Thanks @richteague for agreeing to review this submission!! Once I have a second reviewer lined up we'll get the process started in a new thread.

[2022-10-17 13:39] AldoGl commented on #4622
Dear @drvinceknight,

I am writing to you to enquire about the status of our manuscript, to make sure that the review process is moving forward smoothly, and to know whether we can facilitate the process in any way at this stage.

Best wishes,
Aldo

[2022-10-17 13:48] hobu commented on #4700
Sorry, I don't have cycles for this. Thanks for thinking of me.

[2022-10-17 13:50] diehlpk commented on #4129
@cgrudz can you please comment on that?

[2022-10-17 13:57] kthyng commented on #4832
@editorialbot assign @lpantano as editor

[2022-10-17 13:58] kthyng commented on #4832
@lpantano Didn't we type the same thing?! Not sure why it worked for me but not you. Anyway thanks!

[2022-10-17 14:18] EduPH commented on #4846
Congratulations @matteocao, it is a nice library for the TDA community. I think the paper can be accepted. Just a remark, it would be nice to mention in the paper that previously, people have used TDA libraries such as Gudhi together with deep learning libraries such as scikit-learn, TensorFlow or PyTorch.

[2022-10-17 14:34] Nikoleta-v3 commented on #4742
@editorialbot set 10.5281/zenodo.7212841 as archive

[2022-10-17 14:35] Nikoleta-v3 commented on #4742
@editorialbot set 1.9.11 as version

[2022-10-17 14:36] Nikoleta-v3 commented on #4742
@editorialbot recommend-accept

[2022-10-17 15:07] tonyewong commented on #4805
I fully support the no-laptop family holiday rules!

[2022-10-17 15:10] rkurchin commented on #4817
Pinging @obaica and @mkhorton on this again!

[2022-10-17 15:20] arfon commented on #3125
@tkonolige – just checking you saw the most recent comment from @adi3. Did you manage to address this feedback?

[2022-10-17 15:26] ziatdinovmax commented on #4770
@rkurchin Yes, I will be happy to help.

[2022-10-17 15:54] kyleniemeyer commented on #4329
@editorialbot accept

[2022-10-17 15:57] vlad0x00 commented on #4720
Sounds good, @fboehm!

[2022-10-17 16:06] robchallen commented on #4707
Thanks! This is surely the most positive peer review comment I've ever had, and made my day! I'm really pleased to hear it is useful.

[2022-10-17 16:17] kyleniemeyer commented on #4329
Congratulations @rogersamso @enekomartinmartinez and @JamesPHoughton on your article's publication in JOSS!

Many thanks to @blsqr and @sixpearls for reviewing this, and @pdebuyl for editing.

[2022-10-17 16:17] #4329 closed

[2022-10-17 16:21] pdebuyl commented on #4329
Thanks @kyleniemeyer :-)

[2022-10-17 16:27] RamziHalabi commented on #4839
@galessiorob - I read the reviewers' comments on our codes and paper, and I was wondering whether we are expected to interact and provide answers/clarifications at this stage. It would be very helpful to know this before we address the raised concerns.
Thanks in advance.

[2022-10-17 16:28] rogersamso commented on #4329
Thanks @kyleniemeyer @pdebuyl @blsqr and @sixpearls ! Publishing in JOSS was such an awesome experience! Thank you all for helping us improve PySD!

[2022-10-17 16:44] dfm commented on #4709
@editorialbot add @ideasrule as reviewer

🎉 Thanks @ideasrule for agreeing to review this submission! As soon as we have a second reviewer lined up I'll get the main review thread going.

[2022-10-17 16:47] melissawm commented on #4291
@frankecurtis @jajhall We aim for reviews to be completed within about 2-4 weeks. If you need more time, or issues arise with corrections or suggestions to the paper or code being reviewed, please communicate with me and the author @nimgould to make sure this is reasonable.

[2022-10-17 17:29] editorialbot opened #4860 "[PRE REVIEW]: hstrat: a Python Package for phylogenetic inference on distributed digital evolution populations"
**Submitting author:** @mmore500 (<a href="http://orcid.org/0000-0003-4726-4479">Matthew Andres Moreno</a>)
**Repository:** https://github.com/mmore500/hstrat
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.3
**Editor:** @osorensen
**Reviewers:** @GeekLogan, @JJ, @kgd-al
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/9bfd6debc03eb724b58b

[2022-10-17 17:36] danielskatz commented on #4821
@lucasmccabe - I want to let you know that JOSS has now switched to a track-based model of editors, and since this is in the track I'm leading (Computer Science, Information Science, and Mathematics). I'll be keeping an eye on it and looking for an available editor

[2022-10-17 17:36] danielskatz commented on #4837
@eminizer - I want to let you know that JOSS has now switched to a track-based model of editors, and since this is in the track I'm leading (Computer Science, Information Science, and Mathematics). I'll be keeping an eye on it and looking for an available editor

[2022-10-17 17:40] danielskatz commented on #4837
👋 @pibion - would you be able to edit this submission?

[2022-10-17 17:42] danielskatz commented on #4860
@mmore500 - thanks for your submission to JOSS. I'll be looking for an editor for this.

While I do so, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references

[2022-10-17 17:43] danielskatz commented on #4860
👋 @osorensen - This might be a bit outside your area, but I wanted to check and see if you might be able to edit it

[2022-10-17 17:43] danielskatz commented on #4860
@editorialbot invite @osorensen as editor

[2022-10-17 17:50] kris-rowe commented on #4277
@kthyng I will finish the review this week so there aren't any further delays.

[2022-10-17 17:51] kris-rowe commented on #4679
@crvernon I will aim to finish my review this week

[2022-10-17 17:51] eminizer commented on #4837
@danielskatz Thank you for the update and for your help!

[2022-10-17 17:54] dotsdl commented on #4784
Yes, happy to review. Can I get this out by EOW?

[2022-10-17 17:55] DominiqueMaucieri commented on #4674
@editorialbot generate pdf

[2022-10-17 17:58] DominiqueMaucieri commented on #4674
@editorialbot check references

[2022-10-17 18:01] DominiqueMaucieri commented on #4674
@fboehm I have updated line 46, and corrected the Wilsons and shiny references

[2022-10-17 18:24] ppxasjsm commented on #4784
@editorialbot add @dotsdl as reviewer

[2022-10-17 18:29] ppxasjsm commented on #4784
Thank you @dotsdl for agreeing to review this! Normally I would wait for a second reviewer to start the review, but it has been a few days already. If you think you can get it done by EOW great, but there is no tight schedule given that we are still looking for a second reviewer.

[2022-10-17 18:30] ppxasjsm commented on #4784
@editorialbot start review

[2022-10-17 18:30] editorialbot opened #4861 "[REVIEW]: SPyCi-PDB: A modular command-line interface for back-calculating experimental datatypes of protein structures"
**Submitting author:** @menoliu (<a href="http://orcid.org/0000-0002-8357-8507">Zi Hao Liu</a>)
**Repository:** https://github.com/julie-forman-kay-lab/SPyCi-PDB
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.5
**Editor:** @ppxasjsm
**Reviewers:** @dotsdl, @lohedges, @JenkeScheen, @sulstice
**Archive:** 10.5281/zenodo.7887039

## Status

[![status](https://joss.theoj.org/pap

[2022-10-17 18:30] #4784 closed

[2022-10-17 18:31] ppxasjsm commented on #4719
Brilliant! Thank you.

[2022-10-17 18:33] robcaulk commented on #4844
Hey @Fei-Tao, thanks for taking the time to oversee this review of our JOSS submission. I reviewed the list that you linked to and found some good reviewers:

bnriiitb
mkareshk
jameschapman19
makyol
edrictam
zhenmuw
daviddewhurst
ady00
Annielytix
max-little
shagunsodhani
simonpcouch

Please do not hesitate to let me know if you need me to extend this list (I found quite a few suitable candidates).

[2022-10-17 18:41] rkurchin commented on #4770
@editorialbot add @ziatdinovmax as reviewer

🙏 thanks!

[2022-10-17 18:41] rkurchin commented on #4770
@editorialbot start review

[2022-10-17 18:41] editorialbot opened #4862 "[REVIEW]: APAV: Python for Atom Probe Tomography"
**Submitting author:** @jdasm (<a href="http://orcid.org/0000-0001-7402-6658">Jesse Smith</a>)
**Repository:** https://gitlab.com/jesseds/apav
**Branch with paper.md** (empty if default branch): JOSS
**Version:** 1.4.0
**Editor:** @rkurchin
**Reviewers:** @ziatdinovmax, @mkuehbach
**Archive:** 10.5281/zenodo.7738382

## Status

[![status](https://joss.theoj.org/papers/ee06a37a09339a80f36b0a1ddeba6

[2022-10-17 19:06] adonath commented on #4639
Thanks a lot @Jammy2211, the new docs template also improves readability! We can now proceed with finding reviewers. I have some people in mind already, but please let me know if you have any suggestions as well. Please list them here, without mentioning explicitly (i.e using "@").

[2022-10-17 19:16] AJQuinn commented on #4840
@\editorialbot generate my checklist

[2022-10-17 19:21] emdupre commented on #4840
Hm, you might need to just create a new comment @AJQuinn  -- I'm not sure that it will respond to edited comments ! Sorry for the confusion.

[2022-10-17 20:10] ConnorDonegan commented on #4716
Thank you @becarioprecario and @jbytecode, I will respond and submit revisions by this Thursday (Oct. 20).

[2022-10-17 20:34] cgrudz commented on #4129
@diehlpk, thanks for reaching out, the timing is very good actually because we were just waiting to finish off some last test cases and push a new tagged version to the Julia General Registries.  I think everything is now complete with our revision, and the new tag is in-progress with the Julia tagbot action pending:

https://github.com/JuliaRegistries/General/pull/70433

Please feel free to start

[2022-10-17 20:35] aj2duncan commented on #4807
Hi @balima78,

I agree with @turgeonmaxime that the statement of need in the manuscript could have some additional info added. I would also suggest that you need to add some more detail to the guidelines for contribution.

Thanks.

[2022-10-17 20:36] diehlpk commented on #4129
@peanutfun can you please have a look?

[2022-10-17 20:40] osorensen commented on #4860
@danielskatz, I can do it

[2022-10-17 20:43] osorensen commented on #4860
👋 @jmcbroome @jsun @tkmamidi @GeekLogan would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-17 21:04] minaskar commented on #4634
Hi @kazewong and @marylou-gabrie,

I've added the missing references and fixed the minor issues. Let me know if there's anything else missing.

[2022-10-17 21:44] mmore500 commented on #4860
I will make a pass to fixup the dois. Looking forward to working with you all on this review process!

[2022-10-17 21:55] mmore500 commented on #4860
I am consulting with my coauthors to come up with some additional reviewers to suggest if necessary. I’ll follow up here shortly.

[2022-10-17 22:05] AJQuinn commented on #4840
@editorialbot generate my checklist

[2022-10-17 23:15] mhesselbarth commented on #4771
I still have to review the manuscript and go through the code in more detail, but its on my list for the end of this week!

[2022-10-18 02:06] mmore500 commented on #4860
@editorialbot check references

[2022-10-18 02:19] mmore500 commented on #4860
@editorialbot check references

[2022-10-18 02:29] mmore500 commented on #4860
@editorialbot generate pdf

All good! The two invalid doi's are directly from publisher's website --- they appear to be dead, so I have submitted error reports to the doi folks. Suggested doi is for a book review, not the source itself.

[2022-10-18 02:31] Fei-Tao commented on #4844
@robcaulk Great. Thanks for recommending these reviewers.

[2022-10-18 02:33] Fei-Tao commented on #4844
👋🏻 Hi,  @bnriiitb, @mkareshk, @jameschapman19, @makyol, @edrictam, @zhenmuw, @daviddewhurst, @ady00, @Annielytix, @max-little, @shagunsodhani, @simonpcouch if you'd like to review this submission, please comment here! Feel free to unsubscribe from this issue if you are not interested. Thank you for your time.

[2022-10-18 02:35] ady00 commented on #4844
Sure, I would be willing to review this submission.

[2022-10-18 02:43] Fei-Tao commented on #4844
@ady00 Great! Thank you for your prompt response.

[2022-10-18 02:43] Fei-Tao commented on #4844
@editorialbot add @ady00 as reviewer

[2022-10-18 05:25] mmore500 commented on #4860
Reviewers I could suggest (if this is still needed) would be @/jj (who is also listed on the joss registry!), @/kgd-al, @/tim-taylor, or David Parsons (https://www.parsons.eu/) who I can’t find listed on GitHub.

[2022-10-18 05:57] osorensen commented on #4860
Thanks @mmore500!

[2022-10-18 06:52] fraukewiese commented on #4472
Thank you very much @euronion for your thorough review and helpful comments improving the submission!

[2022-10-18 07:07] fraukewiese commented on #4794
@KriNiTi and @dlr_fn : As this submission seems to be quite closely related to #4795 and #4796 , could you please provide some explanation why you think those three submissions should be handled separately or if it might make sense that e.g. #4794 and  #4795 are one submission?
Thank you :)

[2022-10-18 07:50] maxpumperla commented on #4073
@diehlpk @arfon I could go through the list of reviewers yet again, but I don't think I have any relation to anyone on it. Isn't the appointment of reviewers something you (as part of the journal) are better equipped to handle?

[2022-10-18 07:50] vissarion commented on #4532
Hi @dataplayer12 thanks for accepting to help by reviewing this submission!

We aim for reviews to be completed within about 2-4 weeks. Please let me know if you require some more time.

Also, please find below links for the review guidelines, criteria and checklist.

https://joss.readthedocs.io/en/latest/reviewer_guidelines.html
https://joss.readthedocs.io/en/latest/review_criteria.html
https://j

[2022-10-18 08:15] vissarion commented on #4532
@editorialbot add @dataplayer12 as reviewer

[2022-10-18 09:27] nickelnine37 commented on #4834
@garethpeters78

[2022-10-18 09:29] rCarto commented on #4574
Hi @JosiahParry ,
I've added a short definition of isochrones in README, paper and function doc. I understand that these definitions could be useful to non-specialists but I won't go further, isochrone maps are quite standard objects in analyses using travel times.
I've also addressed the error handling issues you raised.

[2022-10-18 09:53] nickelnine37 commented on #4834
Thanks @Kevin-Mattheus-Moerman, and thank you @nicoguaro, @JulianKarlBauer for agreeing to review. @mikechantler, @garethpeters78 and I all look forward to your feedback.

One thought I have is that, in order to reproduce the performance claims in the paper, some config is required, especially to run on a GPU. I don't think Binder supports GPUs, so perhaps the best option would be to use Google co

[2022-10-18 11:02] kerkelae commented on #4670
Hi @emdupre :wave:, I'd be happy to review!

[2022-10-18 11:20] osorensen commented on #4860
👋  @jj, @kgd-al, @tim-taylor would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-18 11:31] chrklemm commented on #4472
Thank you for the follow up and the instructions on how to fix the installation error. I would recommend including these instructions in the documentation. Otherwise I am satisfied, thanks for the effort!

[2022-10-18 12:15] jbytecode commented on #4811
👋👋👋 Dear @matbesancon and @odow    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**EnsembleKalmanProcesses.jl: Derivative-free ensemble-based model calibrations**". You can find more information at the top of this Git

[2022-10-18 12:29] KriNiTi commented on #4794
@fraukewiese: Dear Frauke, thank you very much for giving us the opportunity to clarify our motivation to submit three separate papers. Our main reasons for doing so, as pointed out in the letter to the editor, are:

All three software packages aim at the same overarching goal, i.e., improving the development of agent-based models in the energy systems analysis community.
Each of the three represe

[2022-10-18 12:53] arfon commented on #4849
@sportiellomike – your arguments are mostly about the significance/potential impact of this work, and *not* about the level of scholarly effort associated with this work.

While I'm perfectly prepared to accept that this work is of significance to your community, that does not mean it meets our [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort

[2022-10-18 12:53] #4849 closed

[2022-10-18 13:11] arfon commented on #4842
@editorialbot reject

@djlampert - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/act

[2022-10-18 13:46] JosiahParry commented on #4574
Checklist complete.

[2022-10-18 13:54] chrisrogers1234 commented on #4818
@zhanghe9704 @pibion I attach referees comments.

### Summary
The code seems to be interesting. However, it is very hard to penetrate what is
doing what to which code block without some further documentation or overview. I
was able to build and run the example but not the tests.

[2022-10-17_reviewer-comments.txt](https://github.com/openjournals/joss-reviews/files/9811088/2022-10-17_reviewer-comme

[2022-10-18 13:56] dfm commented on #4777
@editorialbot add @andizq as reviewer

🎉 Thanks @andizq for agreeing to be our second reviewer!!

I'll get the review started in a new thread now and there will be a lot more instructions over there.

[2022-10-18 13:57] dfm commented on #4777
@editorialbot start review

[2022-10-18 13:57] editorialbot opened #4863 "[REVIEW]: Wakeflow: A python package for semi-analytic models of planetary wakes"
**Submitting author:** @TomHilder (<a href="http://orcid.org/0000-0001-7641-5235">Thomas Hilder</a>)
**Repository:** https://github.com/TomHilder/wakeflow
**Branch with paper.md** (empty if default branch): master
**Version:** 1.3.1
**Editor:** @dfm
**Reviewers:** @richteague, @andizq
**Archive:** 10.5281/zenodo.7679415

## Status

[![status](https://joss.theoj.org/papers/22d35f9b0bb35a8df4dab85b0

[2022-10-18 13:57] #4777 closed

[2022-10-18 13:58] dfm commented on #4863
@richteague, @andizq — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above, and generate your checklists by commenting `@editorialbot generate my checklist` on this issue ASAP. As you go over the submission, please check any items th

[2022-10-18 14:00] dfm commented on #4863
@andizq — I know that you said that you're somewhat swamped for the next couple of weeks, but please comment `@editorialbot generate my checklist` on this thread to generate your checklist and at least take a look at the conflict of interest policy. I'll ping you in early November to get this back on your radar. Thanks!

[2022-10-18 14:17] Fei-Tao commented on #4844
@shagunsodhani Great! Thank you for your quick response. We can start the review now.

[2022-10-18 14:17] Fei-Tao commented on #4844
@editorialbot add @shagunsodhani  as reviewer

[2022-10-18 14:19] Fei-Tao commented on #4844
@editorialbot add @shagunsodhani as reviewer

[2022-10-18 14:19] Fei-Tao commented on #4844
@editorialbot start review

[2022-10-18 14:19] editorialbot opened #4864 "[REVIEW]: FreqAI: generalizing adaptive modeling for chaotic time-series market forecasts"
**Submitting author:** @robcaulk (<a href="http://orcid.org/0000-0001-5618-8629">Robert Caulk</a>)
**Repository:** https://github.com/freqtrade/freqtrade
**Branch with paper.md** (empty if default branch): JOSS-paper-submission
**Version:** v1.0
**Editor:** @Fei-Tao
**Reviewers:** @ady00, @shagunsodhani
**Archive:** 10.5281/zenodo.7431513

## Status

[![status](https://joss.theoj.org/papers/1677f5

[2022-10-18 14:19] #4844 closed

[2022-10-18 14:21] Fei-Tao commented on #4844
Thanks everyone! Looking forward to your reviews in https://github.com/openjournals/joss-reviews/issues/4864. Please feel free to let me know if you have questions during the review.

[2022-10-18 14:22] Annielytix commented on #4844
@Fei-Tao I'll review it as well. I assume you want us to fork our own branch which you will later merge into main?

[2022-10-18 14:37] Fei-Tao commented on #4864
@editorialbot add @Annielytix as reviewer

[2022-10-18 14:40] sbenthall commented on #3496
@editorialbot set v0.2.1 as version

[2022-10-18 14:41] sbenthall commented on #3496
Super. I recommend this submission for acceptance. Thanks to everyone involved for their patience and congratulations to the author.

[2022-10-18 14:41] sbenthall commented on #3496
@editorialbot recommend-accept

[2022-10-18 14:44] zhampel commented on #4532
@vissarion I'm willing to review this submission.

[2022-10-18 14:49] dfm commented on #4779
@editorialbot add @mark-hammond as reviewer

🎉  Thanks @mark-hammond for agreeing to review this submission!! I'll get the review started as soon as we have a second reviewer lined up.

[2022-10-18 15:01] sbenthall commented on #3496
@editorialbot generate pdf

[2022-10-18 15:06] JamesPHoughton commented on #4329
Thanks everyone, especially to @enekomartinmartinez. =)

[2022-10-18 15:07] sbenthall commented on #3496
@openjournals/joss-eics I recommend this paper for acceptance.

There seems to have been some metadata error, so I'm pinging you directly.

[2022-10-18 15:25] OwenWard commented on #4771
@elbeejay It seems like there have been some recent updates on the JOSS branch for this repo, so maybe it would make sense for @mhesselbarth and I to wait until an update that they have been completed before we finish the review? They seem to be addressing some of the previously mentioned comments.

[2022-10-18 15:28] elbeejay commented on #4771
@OwenWard that definitely makes sense. @skiptoniam why don't you complete the changes you are working on and ping all of us (@OwenWard, @mhesselbarth, and @elbeejay) once you are ready for us to complete the review.

[2022-10-18 15:52] zhanghe9704 commented on #4818
@chrisrogers1234 <https://github.com/chrisrogers1234>
Sorry for the delay. It takes some time for me to remember what I did since
I haven't touched the code for about a year.

Turns out the Makefile for the tests is not included in the online
repository. I attached it here.

You need to use cmake and make to compile the libs first.
Then in the test folder, use make with Makefile to compile the tes

[2022-10-18 16:05] chrisrogers1234 commented on #4818
@zhanghe9704

Thanks! I will have a look, maybe later this week. Also I attached a few recommendations above. The code looks good, but I think I need a bit more documentation just to orient my brain to help with the review.

[2022-10-18 16:15] lucasmccabe commented on #4821
@danielskatz - OK, Thank you for the update. I appreciate your help.

[2022-10-18 16:16] lucasmccabe commented on #4821
@editorialbot set 0.0.2 as version

[2022-10-18 16:18] lucasmccabe commented on #4821
@danielskatz - Would it be possible to set the version to 0.0.2? A few updates were made since the initial submission. Thank you!

[2022-10-18 16:40] balima78 commented on #4807
Thanks to @turgeonmaxime and @aj2duncan for your patience and your insights. We will try to address each one of your comments and upload a new version of our draft.

[2022-10-18 16:41] elbeejay commented on #4574
Big thanks to our reviewers @JosiahParry, @mikemahoney218, @wcjochem for providing thoughtful and constructive review comments to this submission. @rCarto has been able to make revisions in response to those reviews, and I think we've achieved some consensus on the final state of the code and manuscript. So again, thank you to our reviewers; this process obviously doesn't exist without you.

@rCar

[2022-10-18 16:42] elbeejay commented on #4574
@editorialbot generate pdf

[2022-10-18 16:42] elbeejay commented on #4574
@editorialbot check references

[2022-10-18 17:17] menoliu commented on #4861
@editorialbot commands

[2022-10-18 17:18] menoliu commented on #4861
Just a minor note to the editor and reviewers that since v0.1.10, I've fixed some minor bugs and the most up-to-date version is v0.1.13. Thanks!

[2022-10-18 17:32] jagnobli commented on #4600
editorialbot is taking a time off? :)

[2022-10-18 18:23] mzabrams commented on #4678
@majensen All but one of the relevant issues have been closed -- regarding issue [mzabrams/fars-cleaner#2](https://github.com/mzabrams/fars-cleaner/issues/3), the package is available for download via conda and pip, but is awaiting review by the conda-forge team to be accessed through that channel. Not sure what the timeline is for that team to move things on, but I think I've addressed everything

[2022-10-18 18:33] vissarion commented on #4532
@editorialbot add @zhampel as reviewer

[2022-10-18 18:56] elbeejay commented on #4574
@rCarto after looking through the package and paper once more, I have a few suggestions:

- Delete stale branches in repository "mapiso" and "nearest"
- Line 22: I suggest replacing the word "fitted" with "suited"
- Line 25: I believe "interfaces" should be the singular "interface" here
- Line 48: I would add a clause, something like "uses OSRM, however it exposes"
- Line 50: I believe it should b

[2022-10-18 19:23] odow commented on #4811
Yes

[2022-10-18 20:54] emdupre commented on #4670
Thank you, @kerkelae  ! I'll add you as a reviewer now.

[2022-10-18 20:55] emdupre commented on #4670
@editorialbot add @kerkelae to reviewers

[2022-10-18 21:00] mcgrathc commented on #4472
Thank you @euronion and @chrklemm for your thoughtful review!

@chrklemm we have added instructions for the Windows installation in the newest release `v0.1.5`

@fraukewiese thank you for your help in this process!

**We appreciate everyone's time and effort committed to improving this package!**

[2022-10-18 21:04] andizq commented on #4863
@editorialbot generate my checklist

[2022-10-18 21:11] curtcorum commented on #4670
I can review as well, thanks!

On 10/14/22 15:52, Elizabeth DuPre wrote:

--

Curtis A. Corum, Ph.D.
Co-Founder/President
Champaign Imaging LLC

www.champaignimaging.com
"Bringing Next Generation Functional Neuroimaging from the Lab to the Clinic"

[2022-10-18 21:18] faroit commented on #4739
@SuperKogito please update us on the status of the submission with respect to the two issues opened in spafe above. Tell us if you need more time.

[2022-10-18 21:19] faroit commented on #4754
@sara-02 @yiitozer can you update us on the status on your reviews?

We aim for reviews to be completed within about 2-4 weeks (we are one week overdue here). Please let me know if any of you require some more time or help with your review.

[2022-10-18 21:22] faroit commented on #4738
@hayesall thanks for your excellent review!

[2022-10-18 21:30] faroit commented on #4746
Hi @neillu23, thanks for your submission to JOSS! I will be serving as the editor for this. We'll use this issue to identify reviewers and resolve technical issues.

It would be great to have reviewers with domain knowledge who also have experience with speech frameworks... I have a few potential reviewers in mind:

- __@ jonashaag__
- __@ adefossez__
- __@ jordipons__

@neillu23, I am also intere

[2022-10-18 21:34] taylorbell57 commented on #4503
Okay @dfm, I believe that all your quickstart related comments are addressed by PR https://github.com/kevin218/Eureka/pull/474 and your "State of the field" comment is addressed by PR https://github.com/kevin218/Eureka/pull/477.

[2022-10-18 21:35] SuperKogito commented on #4739
@faroit I apologize to you and to the two reviewers for my radio silence in the last couple of weeks. Unfortunately, I have been very busy and couldn't find time to provide meaningful responses to the opened issues (which I appreciate). I intend to address these issues and the PR thoroughly at the latest this weekend. Thank you for understanding and being patient <3 .

[2022-10-18 22:39] fboehm commented on #4674
@editorialbot generate pdf

[2022-10-18 22:42] fboehm commented on #4674
Thanks for making those small changes, @DominiqueMaucieri. The remaining DOIs look good.

[2022-10-18 22:43] fboehm commented on #4674
@DominiqueMaucieri - please make a new release of your repository and archive it. Please report here the archive doi and the new release version number. Thanks again!

[2022-10-18 22:57] DominiqueMaucieri commented on #4674
@fboehm  The new version is v1.1.1 and I have archived it on Zenodo with DOI: 10.5281/zenodo.7222742

[2022-10-18 23:27] emdupre commented on #4670
Thank you, @curtcorum ! I'll add you as a reviewer now.

@Lestropie, I think we now have sufficient number of reviewers that we can proceed. Thank you, though, for considering !

I'll go ahead and close this discussion to open the official review issue 🚀

[2022-10-18 23:28] emdupre commented on #4670
@editorialbot add @curtcorum to reviewers

[2022-10-18 23:29] emdupre commented on #4670
@editorialbot start review

[2022-10-18 23:29] editorialbot opened #4865 "[REVIEW]: PyGRASP: A library to reconstruct dynamic contrast enhanced MR images acquired with radial sampling"
**Submitting author:** @cariyurek (<a href="http://orcid.org/0000-0002-1691-7097">Cemre Ariyurek</a>)
**Repository:** https://github.com/quin-med-harvard-edu/pyGRASP
**Branch with paper.md** (empty if default branch): main
**Version:** v1.0.0
**Editor:** @emdupre
**Reviewers:** @kerkelae, @curtcorum
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/800745f16160fae746c1b2498

[2022-10-18 23:29] #4670 closed

[2022-10-18 23:31] emdupre commented on #4865
Hi @kerkelae and @curtcorum 👋 Thank you again for agreeing to review this submission ! The review will take place in this issue, and you can generate your individual reviewer checklists by asking editorialbot directly with `@\editorialbot generate my checklist`.

In working through the checklist, you're likely to have specific feedback on _PyGRASP_. Whenever possible, please open relevant issues o

[2022-10-19 00:26] skiptoniam commented on #4771
@elbeejay @mhesselbarth @OwenWard cool. I probably won't get to this until next week or the week after. But happy to do that.

[2022-10-19 01:56] liamconnor commented on #4692
I commend the author on a well-documented and sophisticated pulsar/FRB simulation package.

Okay, so I've installed WILL on a couple of different machines, gone through the tutorials, and everything seems to run okay. It's fairly easy to install, but I wouldn't call it "lightweight". Maybe that's fine. This is presumably due to its dependence on YOUR.

The statement of need in the paper is reasona

[2022-10-19 02:35] jgostick commented on #4808
Hi All (@Aslan-Kosakian, @mdmurbach, @vijaysm), how are things progressing here?  I see lots of unchecked boxes...is that because things are missing or you just haven't look at that item yet? If there are specfic things missing, then @Aslan-Kosakian and @mdmurbach can either request them here, or open an issue on the repo.

[2022-10-19 02:37] jgostick commented on #4757
Hey all, how are things progressing here?

[2022-10-19 03:04] jbytecode commented on #4811
@editorialbot add @odow as reviewer

[2022-10-19 04:42] GeekLogan commented on #4860
Hi 👋 @osorensen! I would be happy to review if you are still in need, however, I am not super experienced with this subject area so the suggested reviewers may be a better fit if they are available. Feel free to let me know

[2022-10-19 05:51] fwitte commented on #4757
Thank you for reminding me @jgostick and thank you for your patience @jranalli. My schedule was quite packed, I want to check two more features of the package (mixtures and the water IF97) to finalize. I will let you know here after that. I hope I can fit that into my weekend.

[2022-10-19 06:05] osorensen commented on #4860
Thanks @GeekLogan, your review will be much appreciated

[2022-10-19 06:05] osorensen commented on #4860
@editorialbot add @GeekLogan as reviewer

[2022-10-19 08:00] JJ commented on #4860
I did the thumbs-up here, but I guess it's not enough...

[2022-10-19 08:18] lucydot commented on #4624
@gdmiron I've just emailed the reviewers @darinddv @hgandhi2411 - if no response within the next week we'll make an alternative plan - Lucy

[2022-10-19 08:22] lucydot commented on #4333
@jonathanHuwP the archive should have exactly the same title and author list as your JOSS paper - so in this case, the archive should be titled "CrystalGrowthTracker: A Python package to analyse crystal face advancement rates from time lapse synchrotron radiography" instead of "jonathanHuwP/CrystalGrowthTracker: JOSSPublication". It also needs to have the exact same author list as the JOSS paper (

[2022-10-19 08:33] osorensen commented on #4860
Ahh, sorry! Thanks for the thumbs up!

[2022-10-19 08:33] osorensen commented on #4860
@editorialbot add @JJ as reviewer

[2022-10-19 08:34] osorensen commented on #4860
Does the same apply to you @kgd-al?

[2022-10-19 08:37] JJ commented on #4860
@editorialbot commands

[2022-10-19 08:40] kgd-al commented on #4860
Indeed. I would be happy to review although this is a first so I will probably have a few questions later on.

[2022-10-19 09:21] osorensen commented on #4860
@editorialbot add @kgd-al as reviewer

[2022-10-19 09:21] osorensen commented on #4860
@editorialbot start review

[2022-10-19 09:21] editorialbot opened #4866 "[REVIEW]: hstrat: a Python Package for phylogenetic inference on distributed digital evolution populations"
**Submitting author:** @mmore500 (<a href="http://orcid.org/0000-0003-4726-4479">Matthew Andres Moreno</a>)
**Repository:** https://github.com/mmore500/hstrat
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.0
**Editor:** @osorensen
**Reviewers:** @GeekLogan, @JJ, @kgd-al
**Archive:** 10.5281/zenodo.7416592

## Status

[![status](https://joss.theoj.org/papers/9bfd6debc03eb724b

[2022-10-19 09:21] #4860 closed

[2022-10-19 09:28] JJ commented on #4866
@editorialbot generate my checklist

[2022-10-19 09:30] tim-taylor commented on #4860
@osorensen I'm sorry but I don't have time to do this as I'm travelling a lot over the next few weeks. But it sounds like you are sorted for reviewers now anyway 👍

[2022-10-19 10:02] osorensen commented on #4860
Yes we're sorted @tim-taylor, but thanks for responding

[2022-10-19 11:01] gcattan commented on #4403
A consistent number of changes has been made to the [repository](https://github.com/gdede-hua/Decision_Survey_Platform/compare/23bd9f19416801d4abc6d6b8becbe2a7c352bba1...master). I have no futher comments.

[2022-10-19 11:06] yiitozer commented on #4754
@faroit, sorry I have been quite busy in the last weeks. I can finish my review until next Wednesday. Would this be OK?

[2022-10-19 11:13] faroit commented on #4754
@editorialbot remind @yiitozer in one weeks

[2022-10-19 11:24] fabian-s commented on #4403
hi @gdede-hua, we still have not received any reaction from you on the issues pointed out by @rreinnecke.
Please reply in this thread within 24 hours, otherwise I will recommend rejection of this submission.

[2022-10-19 11:34] gdede-hua commented on #4403
Dear @fabian-s  I have replied to two of the issues and now I am replying the third one.

[2022-10-19 11:39] fabian-s commented on #4403
@rreinecke
please check whether the changes in the repository adress your concerns and add the missing checkmarks in your list if they do.

[2022-10-19 11:39] fabian-s commented on #4403
@editorialbot generate pdf

[2022-10-19 12:03] rCarto commented on #4574
@elbeejay , I've modified the paper following your suggestions. All is ok on my side, I'll wait for your instructions.

@elbeejay , @wcjochem , @JosiahParry and @mikemahoney218
Your careful reading of the paper/doc/code and your precise suggestions helped me raise the package to a much higher quality level. So, **thank you very much** for your work on this review!

[2022-10-19 12:14] elbeejay commented on #4574
Great, thanks for making those changes. At this time, @rCarto if you could do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes t

[2022-10-19 12:22] gcattan commented on #4114
There was a missing DOI in the reference. The last pdf version of the [paper](https://gitlab.com/programgreg/tagginglatencyestimator/-/jobs/artifacts/master/browse?job=paper) should reflect this change.

[2022-10-19 12:31] danielskatz commented on #4821
@editorialbot set 0.0.2 as version

[2022-10-19 12:55] editorialbot opened #4867 "[PRE REVIEW]: Quilë: C++ genetic algorithms scientific library"
**Submitting author:** @ttarkowski (<a href="http://orcid.org/0000-0002-6071-9389">Tomasz Tarkowski</a>)
**Repository:** https://github.com/ttarkowski/quile
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @vissarion
**Reviewers:** @mbarzegary, @acrlakshman, @mrshu
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/5b5b4dd88199c

[2022-10-19 13:02] danielskatz commented on #4867
@ttarkowski - thanks for your submission to JOSS.

In addition, you could work on the possibly missing DOI that editorialbot suggests, but note that this may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot

[2022-10-19 13:02] danielskatz commented on #4867
👋 @pdebuyl - this might be a little outside your area, but I wonder if you would be able to edit it?

[2022-10-19 13:02] danielskatz commented on #4867
@editorialbot invite @pdebuyl as editor

[2022-10-19 14:08] EwaGomez commented on #4799
@editorialbot generate my checklist

[2022-10-19 14:37] ggonnella commented on #4755
@vinisalazar @KonradHoeffner
The current version 2.0 addresses the concerns and comments raised until now.

In particular:
- it is much easier to install, as it does not require any external installation step
- a Docker image is provided for providing benchmarks against a database-based solution (and related tests)
- continuous integrations tasks (testing, linting) were added and automatized using

[2022-10-19 14:59] ttarkowski commented on #4867
@danielskatz - thank you very for your service. The missing DOI suggested by @editorialbot is unfortunately incorrect and I couldn't find the proper one, therefore I plan to leave the reference without the DOI number. The *Statement of need* section in the paper already contains explanation about landscape of GAs scientific C++ libraries and information about target audience.

[2022-10-19 15:18] ttarkowski commented on #4867
@editorialbot commands

[2022-10-19 15:43] chmarti1 commented on #4757
FYI, the `if97` class is deprecated.  The `mp1` class is now used by all multi-phase substances (including water).

[2022-10-19 16:11] danielskatz commented on #4867
Thanks - sorry I missed that part of the paper...

[2022-10-19 16:25] ttarkowski commented on #4867
@danielskatz - oh, no problem.

I will try to suggest some potential reviewers of the paper soon.

[2022-10-19 16:29] astrobel commented on #4838
Hi - review in progress! As I work through the Quickstart tutorial, I've opened Issue sebastian-zieba/PACMAN#6.

[2022-10-19 17:30] chmarti1 commented on #4757
God question.  `mp1` uses a generalized "Span and Wagner" equation of state that applies over both liquid and vapor phases without piece-wise transitions.  If you are curious, the `mp1` model is developed in some detail in chapter 7 (pg 97-114) of the [PYroMat handbook](http://pyromat.org/pdf/handbook.pdf).

The `if97` class uses the [IF97](http://iapws.org/relguide/IF97-Rev.html) piece-wise formu

[2022-10-19 17:30] ttarkowski commented on #4867
@danielskatz - I would like to suggest person with username *StefanKohekUMFERI* from the aforementioned list as a first potential reviewer of my paper. *StefanKohekUMFERI* has declared C++ and evolutionary computation as the preferred programming language and domain, respectively, which is very good fit for my paper. According to the list, *StefanKohekUMFERI* has not yet performed review for the J

[2022-10-19 18:38] pdebuyl commented on #4867
Hi @danielskatz I am having trouble finding reviewers for my other submissions. I prefer to not take additional submissions at this time, sorry.

[2022-10-19 18:39] ttarkowski commented on #4867
@danielskatz - I would like to suggest person with username *darioizzo* from the list as a second potential reviewer. *darioizzo* has declared C++ as the preferred programming language, which is in agreement with my work. Moreover, genetic programming and artificial intelligence were declared as the preferred domains, which is close enough to the matter of my paper. According to the list, *darioiz

[2022-10-19 19:11] ttarkowski commented on #4867
@danielskatz - oh, I see. I will wait patiently.

[2022-10-19 21:50] dfm commented on #4503
Looks good to me! If I don't see when it happens, can you ping me when these are merged and I'll move onto the next step. Thanks!

[2022-10-20 00:37] cjcrosby commented on #4700
Thanks for the invitation, but I have some upcoming PTO and other pressing projects that will prevent me from providing a timely review.

Off the top of my head, these are some other folks who may be interested in reviewing:
Laurence Hawker, University of Bristol (https://scholar.google.com/citations?user=k5ajFzUAAAAJ&hl=en) who used ICESat-2 for the new FABDEM product
Tom Hengl, OpenGeoHub (https

[2022-10-20 01:28] wcwitt commented on #4719
I've now managed to install and run the Dummy examples, both from the Jupyter notebook and the command line. I don't have a VASP license, so I can't verify those parts. Overall, I think the submission is of good quality. There are two issues (linked above) for the authors to respond to.

[2022-10-20 01:29] mkhorton commented on #4817
## Review checklist for @mkhorton

### Conflict of interest

- [ ] I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### Code of Conduct

- [ ] I confirm that I read and will adhere to t

[2022-10-20 03:49] majensen commented on #4678
Thanks @mzabrams - I'll do my editorial review of the paper itself (usu. pretty minor comments)- hope I can do it this weekend. Then the final steps to prep for the recommendation to the EIC are pretty rapid.

[2022-10-20 07:03] AKuederle commented on #4667
@adi3 anything I can support with to move this forward?

[2022-10-20 07:16] pdebuyl commented on #4649
@editorialbot add @ranocha as reviewer

[2022-10-20 07:34] oliviaguest commented on #4114
@editorialbot check references

[2022-10-20 07:36] oliviaguest commented on #4600
@editorialbot check references

[2022-10-20 07:59] adi3 commented on #4667
@AKuederle we have your paper under the Data Science track so it need not be strictly related to robotics. Actually, the fact that it focuses on fundamental ML should open many more possibilities in the reviewers list for you. We'll continue trying till we find a couple!

[2022-10-20 08:00] adi3 commented on #4667
@brunaw @itismeghasyam @gagolews @billchenxi @andreysmelter @trallard @kvnamipara @nilesh-patil @Zac-HD @a-slide @fabianomenegidio - Would any of you be interested in reviewing this paper on ML? We'd greatly appreciate your help!

[2022-10-20 08:04] adi3 commented on #4671
@ritamraha as we continue our search for the second reviewer, can you please list a few more names from the reviewers list who bring in relevant expertise on the subject? I believe you should be on the lookout for folks who specialize in mathematics and algorithmic implementations.

[2022-10-20 09:35] rCarto commented on #4574
- [x] Tagged release of `osrm` on GitHub: v4.0.0 - https://github.com/riatelab/osrm/releases/tag/v4.0.0
- [x] DOI of the archived version on Zenodo: 10.5281/zenodo.7228376 - [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.7228376.svg)](https://doi.org/10.5281/zenodo.7228376)
- [ ] CRAN Release

[2022-10-20 10:13] NRaillard commented on #4366
@editorialbot generate pdf

We have released a new version (0.6.0) to solve the installation problem on python 3.10.
Along with this new version, we added the functionality to download 1D and 2D spectral data and to compute sea-state parameters from this data.
This version is already on pypi
The paper is amended to present this new functions, and a new notebook is available on the [web portal](htt

[2022-10-20 11:24] AKuederle commented on #4667
Thank you @adi3!

[2022-10-20 12:10] elbeejay commented on #4574
@editorialbot set 10.5281/zenodo.7228376 as archive

[2022-10-20 12:13] elbeejay commented on #4574
Looks good @rCarto. Thanks again to @JosiahParry, @mikemahoney218, @wcjochem for taking the time to provide their reviews. At this time I will be recommending that we accept and publish this submission in JOSS. The paper and metadata will be looked over once by an Editor-in-Chief prior to publication.

[2022-10-20 12:24] ziyiyin97 commented on #4811
Yes

[2022-10-20 13:27] hugoledoux commented on #4786
@editorialbot add @liberostelios as reviewer

[2022-10-20 13:28] hugoledoux commented on #4786
@editorialbot start review

[2022-10-20 13:28] editorialbot opened #4868 "[REVIEW]: NIMPHS: Numerous Instruments to Manipulate and Post-process Hydraulic Simulations"
**Submitting author:** @Failxxx (<a href="http://orcid.org/0000-0002-7159-2168">Félix Olart</a>)
**Repository:** https://github.com/Artelia/NIMPHS
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.4.3
**Editor:** @hugoledoux
**Reviewers:** @vbassn, @liberostelios
**Archive:** 10.5281/zenodo.7696769

## Status

[![status](https://joss.theoj.org/papers/63596babdb26138c6eb1886

[2022-10-20 13:28] #4786 closed

[2022-10-20 14:05] jbytecode commented on #4811
@editorialbot add @ziyiyin97 as reviewer

[2022-10-20 14:06] jbytecode commented on #4811
@odow, @ziyiyin97 - thank you for accepting our invitation. The review will start in a separate thread. I will present the instructions there.

[2022-10-20 14:06] jbytecode commented on #4811
@editorialbot start review

[2022-10-20 14:06] editorialbot opened #4869 "[REVIEW]: EnsembleKalmanProcesses.jl: Derivative-free ensemble-based model calibration"
**Submitting author:** @odunbar (<a href="http://orcid.org/0000-0001-7374-0382">Oliver Dunbar</a>)
**Repository:** https://github.com/CliMA/EnsembleKalmanProcesses.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.14.1
**Editor:** @jbytecode
**Reviewers:** @odow, @ziyiyin97
**Archive:** 10.5281/zenodo.7407193

## Status

[![status](https://joss.theoj.org/papers/5cb2d4c6af8840a

[2022-10-20 14:06] #4811 closed

[2022-10-20 14:10] jbytecode commented on #4869
Dear @odow and @ziyiyin97,

Thank you again, for accepting our invitation to review.

This is the review thread. Please, firstly type

[code]

to generate your own checklist. In that checklist, there are 21 check items. Whenever you complete the corresponding task, you can check off them.

Please write your comments as separate posts and do not modify your checklist descriptions.

The review proce

[2022-10-20 14:46] vinisalazar commented on #4755
Hi,

Version 2.0 addresses all of my major concerns, but I do have some (minor) outstanding points:

* Something which I did not notice on my initial review is that there are no docstrings for classes. At the very least the `Tree` class should have an informative docstring explaining how to use the class, but ideally all public classes should have a brief description of what they do/how they work.

[2022-10-20 15:01] sbenthall commented on #4845
@rickecon Would you be able to review this submission?

[2022-10-20 15:02] sbenthall commented on #4536
@editorialbot generate pdf

[2022-10-20 15:16] ziyiyin97 commented on #4869
@editorialbot generate my checklist

[2022-10-20 15:27] arfon commented on #3496
@sbenthall – the error from @editorialbot is almost certainly around the fact that this BibTeX entry has the same ISSN and ISBN number (I think one of these is wrong): https://github.com/Natsiopoulos/ARDL/blob/master/JOSS-paper/paper.bib#L95-L96

[2022-10-20 15:32] sbenthall commented on #3496
Thanks @arfon

@Natsiopoulos can you please:
 - Correct this problem with your references
 - Make a new archive and tag
 - Send me the new DOI and tag name

[2022-10-20 16:37] Natsiopoulos commented on #3496
@sbenthall I corrected the references.
The new tag and release are v0.2.1 (I deleted the previous one and made a new one with the same name).
The new DOI is 10.5281/zenodo.7231155

[2022-10-20 17:00] hjwilli commented on #4833
Hi @arfon and @kthyng, just following up on this. Please let me know if there is anything needed from my team to proceed. Thanks!

[2022-10-20 17:02] danielskatz commented on #4762
👋 @lucask07 - no hurry, but can you let us know when you think there will be some changes for the reviewers to look at?

[2022-10-20 17:02] danielskatz commented on #4722
👋 @vitorsr - do you have any update on your status?

[2022-10-20 17:03] Ajstros commented on #4762
@untzag @askuric Sorry for the delay, but the [testing issue](https://github.com/Ajstros/pyripherals/issues/22) with `no_fpga` tests has been fixed. You should now be able to run those tests with or without a `config.yaml` file regardless of the `ep_defines_path` value. These tests have also been added to a GitHub workflow run on any commit or pull request to the main branch.

[2022-10-20 17:03] danielskatz commented on #4722
@DanNixon - do you have any update on your status?

[2022-10-20 17:03] danielskatz commented on #4722
👋 @lucaferranti - do you have any update on your status?

[2022-10-20 17:04] lymereJ commented on #4829
@crvernon - I took another look at the list and identified additional potential reviewers if need be: FWuellhorst, mewilhel, and EwaGomez.

[2022-10-20 17:05] danielskatz commented on #4735
👋 @paulromano - note you have issues and comments to respond to from @yadudoc and @munkm. When do you think you will be able to respond to them?

[2022-10-20 17:06] danielskatz commented on #4815
👋 @Qingfengmufeng - Can you please generate your checklist?

To do so, use the command @editorialbot generate my checklist to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

[2022-10-20 17:06] danielskatz commented on #4815
👋 @pausz - thanks for getting started. I wanted to check in, after a couple of weeks, and see how things are going.

[2022-10-20 17:08] danielskatz commented on #4822
👋 @govarguz and @keipertk - I'm just checking in after 2 weeks. Please do get started when you, by generating your checklists. To do this, use the command @editorialbot generate my checklist to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

[2022-10-20 17:10] danielskatz commented on #3680
👋 @devosmitachatterjee2018 - We will mark this submission as withdrawn if there isn't progress in the next three weeks.

[2022-10-20 17:10] danielskatz commented on #3680
@editorialbot remind @danielskatz in 3 weeks

[2022-10-20 17:13] danielskatz commented on #4172
👋 @YohannDudouit - can we get your respond to @jedbrown's question?

[2022-10-20 17:15] danielskatz commented on #2954
👋 @michakraus - what is the path to resolving these open issues? It would be nice to finish this process in less than 2 years, which is coming up...

[2022-10-20 17:21] danielskatz commented on #4378
👋 @joglekara - what's the next step to make progress on this?

[2022-10-20 17:23] danielskatz commented on #4723
👋 @vissarion - what's the next step for this submission?  It appears there are two reviewers who have completed their checklists, and one who hasn't started.

[2022-10-20 17:29] keipertk commented on #4822
@editorialbot generate my checklist

[2022-10-20 17:45] vissarion commented on #4723
I was giving some time to @JustinSGray to respond but since there are more than two weeks without any news we will continue with two reviewers.

[2022-10-20 17:46] vissarion commented on #4723
@editorialbot remove @JustinSGray  from reiviewers

[2022-10-20 17:47] vissarion commented on #4723
@editorialbot remove @JustinSGray from reviewers

[2022-10-20 17:52] astrobel commented on #4838
Hi @sebastian-zieba, thanks for the great software package! PACMAN is intuitive for the new user and covers a lot of ground really efficiently, and on these grounds I'm happy to recommend it for publication in JOSS. I have several notes below which I hope can help improve the documentation and the example case in particular.

### General notes

* I'm confused by the `pip install .[test]` line and

[2022-10-20 18:13] cwentland0 commented on #3428
Just quickly updated a reference that has since been formally published, and added a new reference that used PERFORM and has been added to arXiv.

[2022-10-20 18:13] cwentland0 commented on #3428
@whedon generate pdf from branch paper

[2022-10-20 18:14] cwentland0 commented on #3428
@editorialbot generate pdf from branch paper

[2022-10-20 18:14] cwentland0 commented on #3428
@editorialbot commands

[2022-10-20 18:15] cwentland0 commented on #3428
@editorialbot set paper as branch

[2022-10-20 18:15] cwentland0 commented on #3428
@editorialbot generate pdf

[2022-10-20 18:18] cwentland0 commented on #3428
@editorialbot generate pdf

[2022-10-20 18:19] pibion commented on #4576
@ketch @sigvaldm no problem, thank you for letting me know!

[2022-10-20 18:21] sebastian-zieba commented on #4838
Hi @astrobel, thank you for the review and the positive feedback!!
I will work on your comments in the next few days and keep you updated on my progress.

[2022-10-20 18:23] hjwilli commented on #4833
@editorialbot generate pdf

[2022-10-20 18:45] wcjochem commented on #4716
@editorialbot generate my checklist

[2022-10-20 18:58] odow commented on #4869
@editorialbot generate my checklist

[2022-10-20 18:58] vijaysm commented on #4252
While the statement of need section reads much better now after new changes, I still think you should present some examples of usage and capabilities in the paper. It is quite incomplete without it IMO. It reads more like a proposal at the moment. @yangbai90

I also made more comments in the open issues in the repo. Please address them where appropriate.

[2022-10-20 19:07] editorialbot opened #4870 "[PRE REVIEW]: extrabol: A Gaussian Process-based Bolometric Light Curve Estimator for Supernovae"
**Submitting author:** @Imax2001 (<a href="http://orcid.org/0000-0003-2498-3008">Ian Thornton</a>)
**Repository:** https://github.com/villrv/extrabol.git
**Branch with paper.md** (empty if default branch): master
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Dan Foreman-Mackey

## Status

[![status](https://joss.theoj.org/papers/048f538695e8b4a350e39b53cb036273/s

[2022-10-20 19:09] dfm commented on #4870
@editorialbot check repository

[2022-10-20 19:09] dfm commented on #4870
@editorialbot check references

[2022-10-20 19:09] dfm commented on #4870
@editorialbot generate pdf

[2022-10-20 19:11] kerkelae commented on #4865
@editorialbot generate my checklist

[2022-10-20 19:12] dfm commented on #4870
@editorialbot query scope

@Imax2001 – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-10-20 19:31] vitorsr commented on #4722
Hi @danielskatz, I will be concluding my review shortly. The project is
spotless. Any and all comments that I would have are mainly curiosities
with reference to the subject itself in my capacity as a signal processing
researcher, not as a reviewer with reference to the project code submitted
to JOSS.

On Thu, Oct 20, 2022 at 2:03 PM Daniel S. Katz ***@***.***>
wrote:

[2022-10-20 19:34] tmigot commented on #4736
@editorialbot check references

[2022-10-20 19:35] tmigot commented on #4736
@editorialbot generate pdf

[2022-10-20 19:39] tmigot commented on #4736
Dear @jbytecode @jmejia8 @HaoZeke
I re-generated the paper after https://github.com/JuliaSmoothOptimizers/PDENLPModels.jl/pull/86 just to add one of the reference with its new DOI.

[2022-10-20 19:41] vitorsr commented on #4722
A small note on my review. I could not easily provision a GPU and I have
had to do it on my personal computer, so my peruse has been bound to
CPU-only testing (as the authors do in their CI).

On Thu, Oct 20, 2022 at 2:03 PM Daniel S. Katz ***@***.***>
wrote:

[2022-10-20 20:16] danielskatz commented on #4762
@editorialbot remind @danielskatz in 8 days

[2022-10-20 20:46] yangbai90 commented on #4252
Dear @Kevin-Mattheus-Moerman and all reviewers, many thanks for your feedback. They are quite helpful for me to improve the package. However, I have no time to revise the code according to your comments. Therefore, I'd like to cancel this submission.

Many thanks for your work and time.
Best,
Yang

@editorialbot withdraw

[2022-10-20 21:24] JessicaS11 commented on #4700
Thanks for the invite. I have some potential COIs. Should I report those here or to @arfon directly?

[2022-10-20 21:37] danielskatz commented on #4700
Here is best if it's not something private, and if it is something you don't want to share publicly, directly to @arfon would be fine

[2022-10-20 23:20] ggonnella commented on #4755
@vinisalazar:
- I added a docstring to the ``Tree`` class (the only public class of the library). Public functions mentioned in the API manual already have a docstring and even type annotations.
- I fixed the problem with the tests on ntdownload, which was related to the MacOSX version of the Posix tools.
- I double checked and fixed the examples in README.md, which are now all runnable.

[2022-10-20 23:22] ggonnella commented on #4755
@KonradHoeffner:
- I added a sentence to the paper briefly describing the parallel implementation of the tree construction, with a more detailed description in the library README
- I fixed the problems with genomes_attributes_viewer

[2022-10-20 23:23] ggonnella commented on #4755
@editorialbot generate pdf

[2022-10-21 01:13] luyuhao0326 commented on #4664
Thank you @hugoledoux for coordinating our submission. Your question on (co)authorship is critical and I will clarify the roles of each author below.

As you may have noticed, ur-scape is relatively mature with its own UI/UX and a large (growing) body of users (and hopefully more developers with this submission at JOSS). One thing that I can be clear of is that none of the co-authors were included

[2022-10-21 02:51] ConnorDonegan commented on #4716
@editorialbot generate pdf

[2022-10-21 03:20] ConnorDonegan commented on #4716
@editorialbot generate pdf

[2022-10-21 03:25] ConnorDonegan commented on #4716
Thank you again @becarioprecario for your review.

 - authorship: I'm the only package author, although there are two contributors to the code base. Some of the Stan code that I use is from the published work of others, including contributor Mitzi Morris (ICAR models) and the regularized horseshoe prior used in the `stan_esf` model (from a paper by Pirronen and Vehtari). I do cite their work in th

[2022-10-21 03:35] rreinecke commented on #4403
They have been partially addressed. The code documentation is still very much below the minimum amount I would expect to understand the functionality of the code.

[2022-10-21 04:07] rreinecke commented on #4403
@gdede-hua I have tried to verify the functionality but came across so many obvious faults in the software that it feels more like a alpha version than something that is submission ready. See https://github.com/gdede-hua/Decision_Survey_Platform/issues/8

[2022-10-21 04:23] vinisalazar commented on #4755
@kellyrowland I have now finished my review and recommend this paper to be accepted for publication.

Please let me know if there's anything else I should do.

Best,
V

[2022-10-21 06:43] hugoledoux commented on #4664
thanks for the statement about authorship, this looks good.

Both reviewers recommend acceptance and your package fulfils all the criteria, at this point could you:

- [ ] Accept my PR https://github.com/UrbanRuralSystems/ur-scape/pull/12 -- you just close it w/o accepting it
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the revi

[2022-10-21 07:22] fraukewiese commented on #4472
Thank you very much @chrklemm for thoroughly reviewing the submission and providing very helpful suggestions

[2022-10-21 07:23] fraukewiese commented on #4472
@editorialbot generate pdf

[2022-10-21 07:24] fraukewiese commented on #4472
@editorialbot check references

[2022-10-21 07:28] cprudhom commented on #4708
@xuanxu Do I need to open a specific issue for the tag problem?

[2022-10-21 07:34] fraukewiese commented on #4472
@mcgrathc : At this point could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list

[2022-10-21 07:39] fraukewiese commented on #4794
@KriNiTi : Thanks for your explanation. So I suggest we move forward with the three submissions and handle them separately. If there are any suggestions by reviewers in one submission that is also relevant for one of the other two submissions, I would like to ask you to also consider and handle it for the respective other submission.

[2022-10-21 07:39] fraukewiese commented on #4794
@editorialbot assign me as editor

[2022-10-21 07:40] fraukewiese commented on #4795
@editorialbot assign me as editor

[2022-10-21 07:40] fraukewiese commented on #4796
@editorialbot assign me as editor

[2022-10-21 07:49] fraukewiese commented on #4794
@mado89 , @RafalKucharskiPK , @danieledipompeo – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [https://joss.readthedocs.io/en/latest/reviewer_guidelines.html](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

The submission under review here is [FAME-Core: An open Framewor

[2022-10-21 07:56] fraukewiese commented on #4795
@nick-gorman , @imcatta , @martibosch – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [https://joss.readthedocs.io/en/latest/reviewer_guidelines.html](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

The submission under review here is [FAME-Io: Configuration tools for com

[2022-10-21 07:58] fraukewiese commented on #4796
@BasTesterink , @zoltanmaric , @jordanperr – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [https://joss.readthedocs.io/en/latest/reviewer_guidelines.html](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

The submission under review here is [AMIRIS: Agent-based Market mode

[2022-10-21 08:02] xuanxu commented on #4708
No need, I'm going to take a look at how to best update that metadata

[2022-10-21 08:15] xuanxu commented on #4708
Done!

[2022-10-21 08:15] KonradHoeffner commented on #4755
A few comments from my final read:

* *example are provided* -> *example**s***
* *no Python package currently allows*: are there packages for other programming languages?
* *with Apple M1 Pro CPU* -> *with **an** Apple M1 Pro CPU* or *with **the** Apple M1 Pro CPU* (I'm not an English native speaker but it sounds better to me with an article)
* *better scales* -> *scales better*
* If possible, ali

[2022-10-21 08:17] cprudhom commented on #4708
@xuanxu Thank you !

[2022-10-21 08:20] KonradHoeffner commented on #4755
@editorialbot check repository

[2022-10-21 08:38] mado89 commented on #4794
Sorry but I don't feel confident reviewing this paper as energy systems are not within my research area

[2022-10-21 09:05] pydemull commented on #4741
Thanks again for your comments! I have provided answers for the two issues you have opened. Regarding the dependency instructions, I am not sure your comment above was done before or after my answer on the dedicated GitHub issue. Please tell me if it is not enough. Best

[2022-10-21 09:17] jbytecode commented on #4869
Dear @odunbar

Our review has opened a new issue in the target repository. Please read the entries carefully and take an action.

Thank you in advance.

[2022-10-21 09:37] csoneson commented on #4545
Hi @patRyserWelch8 - sorry for the delay, I was trying to figure out what I can do on my side. Unfortunately I can't generate the checklist for you (as you would not be able to edit it in that case). The best I can do is to paste the checklist into your post above, but that's not great as it can not be formatted properly (GitHub doesn't support markdown formatting in posts done via email replies).

[2022-10-21 09:59] ggonnella commented on #4755
Fixed, thank you

I removed "Python" from the sentence. No, I am not aware of any package, also for other programming languages.

I added _an_. Thank you.

Changed. Thank you.

I don't think this is possible in Markdown.

I did it now. Thank you.

Additionally I removed the self citation to the URL of fastsubtrees Git repository and of ntdownload subdirectory. I don't think it's necessary, since t

[2022-10-21 10:05] KonradHoeffner commented on #4755
It's a pity that the word count is limited for JOSS papers because the algorithm description and extended discussion of parallelism in https://github.com/ggonnella/fastsubtrees/issues/8 is really interesting and it would be really nice to have that in the paper itself.

[2022-10-21 10:07] ggonnella commented on #4755
(I found another typo and unified the formatting of _fastsubtrees_ in the text to italics)

@editorialbot generate pdf

[2022-10-21 10:10] jonathanHuwP commented on #4333
@lucydot @JoannaLeng
Sorry gitHub gives me a DOI when I make a release, so I just sent that.

I have made a new Zenodo archive with the required title and authors: DOI 10.5281/zenodo.7233987

[2022-10-21 10:18] thohamm commented on #4719
@wcwitt Thank you for your review and your constructive feedback. We responded to the issues with comments and pushed according changes to the git repo.

[2022-10-21 10:27] sappelhoff commented on #4840
@emdupre I have completed my review. All issues that I raised have been addressed to my full satisfaction. I believe that `spectral_connectivity` is a valuable package that will serve the community well, as already evidenced in several publications. I recommend this paper for publication in JOSS.

For details, please see my checklist and all my linked issues and PRs in this review thread.

[2022-10-21 10:45] ggonnella commented on #4755
@editorialbot generate pdf

[2022-10-21 11:54] danielskatz commented on #3680
@editorialbot remind @danielskatz in 3 weeks

trying anew (cc @xuanxu)

[2022-10-21 11:59] danielskatz commented on #3680
@editorialbot remind @danielskatz in 3 weeks

[2022-10-21 11:59] danielskatz commented on #3680
Thanks @xuanxu!

[2022-10-21 12:24] ggonnella commented on #4755
I would also be glad if it would be possible to add it to the paper. Since both reviewer seemed to agree on this,  I polished that text, made it slightly more compact and added to the paper in a separate branch. This would be the resulting paper:

https://github.com/ggonnella/fastsubtrees/suites/8895052593/artifacts/406895074

[2022-10-21 12:29] KonradHoeffner commented on #4755
I prefer the longer version. @kellyrowland is that acceptable even if it is over the word count?

[2022-10-21 13:43] ashleychontos commented on #3331
my sincere apologies @mbobra -- this has unintentionally taken [much] longer than expected.

I am currently working through a few updates to the package, which is my **_top priority_** at the moment. I have definitely not forgotten nor plan to let it slip through the cracks. I'd say about another week or two and it will be all set for resubmission!

[2022-10-21 14:04] KristinaRiemer commented on #4030
Thanks for checking in @arfon. @hongyuanjia, it looks like there are still some open issues based on the reviewers' feedback, how are those going? Is there anything blocking your progress?

[2022-10-21 14:08] KristinaRiemer commented on #4405
Thank you for the check in @arfon.

@dlebauer are you still unable to get the dev version of the package to build? Same errors?

@kauedesousa it looks like there are still a handful of open issues from the reviewers, how is the progress on those going?

[2022-10-21 14:48] EtienneCmb commented on #4840
@editorialbot generate my checklist

[2022-10-21 14:52] samhforbes commented on #4741
Thanks @angerhang for the productive comments so far.

Hi @elimillera, @spitschan - while the last couple of comments from @angerhang are resolved, do let us know if there's any issues with completing the review, or let @pydemull know if there's any barriers to running anything for the review.

[2022-10-21 15:06] kthyng commented on #4833
Hi @hjwilli! We've just this week switched to a track-based managing editor set up so I will ping the AEIC in charge of this track to move forward.

[2022-10-21 15:06] kthyng commented on #4833
@editorialbot ping track-eic

[2022-10-21 16:27] vissarion commented on #4723
@editorialbot generate pdf

[2022-10-21 16:32] meg-simula commented on #4802
Thanks @blebon for your submission! My first impression is that this looks very much ready for review. I'll reach out to potential reviewers in this thread and get back to you.

[2022-10-21 16:41] vissarion commented on #4723
@editorialbot check references

[2022-10-21 16:41] meg-simula commented on #4802
:wave:  @ancolli, @chennachaos, @jayten, @bzindovic, @florianwechsung would you be available to review this submission for JOSS? Your expertise and contribution would be much appreciated. Do take a look at the JOSS reviewer guidelines here:

https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

and please respond in this pre-review issue.

[2022-10-21 16:47] vissarion commented on #4723
@jmejia8 please issue a tagged release of the software, and archive it (on [Zenodo](https://zenodo.org/), [figshare](https://figshare.com/), or other). Then please post the version number and archive DOI here.

[2022-10-21 16:54] ancolli commented on #4802
Sorry, I do not have time!

El vie, 21 oct 2022 a las 13:41, Marie E Rognes ***@***.***>)
escribió:

--
Dr. Colli, Alejandro Nicolás
Research Associate - CONICET (https://www.conicet.gov.ar/?lan=en)
Chief of Practical Applications - FIQ - UNL (https://www.fiq.unl.edu.ar)
PRELINE - Facultad de Ingeniería Química
Santiago del Estero 2829, Santa Fe, Argentina
Telephone: +54 342 457-1164 Int. 2609
Mob

[2022-10-21 17:02] chennachaos commented on #4802
Thanks, @meg-simula! I will be happy to review this.

[2022-10-21 17:05] meg-simula commented on #4802
@editorialbot add @chennachaos as reviewer

[2022-10-21 17:05] meg-simula commented on #4802
@editorialbot commands

[2022-10-21 17:05] meg-simula commented on #4802
@editorialbot add @chennachaos as reviewer

[2022-10-21 17:36] bzindovic commented on #4802
Thanks @meg-simula. I'd me happy to review this research.

[2022-10-21 17:54] wcwitt commented on #4719
I've reviewed the changes - happy for publication at this stage.

[2022-10-21 18:01] meg-simula commented on #4802
@editorialbot add @bzindovic as reviewer

[2022-10-21 18:01] meg-simula commented on #4802
Excellent, thanks @chennachaos and @bzindovic for the prompt responses, and let's get this review started.

[2022-10-21 18:01] meg-simula commented on #4802
@editorialbot start review

[2022-10-21 18:01] editorialbot opened #4871 "[REVIEW]: directChillFoam: an OpenFOAM application for direct-chill casting"
**Submitting author:** @blebon (<a href="http://orcid.org/0000-0002-9389-1329">Bruno Lebon</a>)
**Repository:** https://github.com/blebon/directChillFoam
**Branch with paper.md** (empty if default branch):
**Version:** OF9.0.1
**Editor:** @meg-simula
**Reviewers:** @chennachaos, @bzindovic
**Archive:** 10.5281/zenodo.7645448

## Status

[![status](https://joss.theoj.org/papers/71097ad0617d8fd3da4c

[2022-10-21 18:01] #4802 closed

[2022-10-21 18:07] kyleniemeyer commented on #3428
Hi @cwentland0, sorry for my (extreme) delay here. I was able to install and run the package, including the tests and examples.

A few comments:
- Your testing approach is not very standard—have you considered setting things up to work with a standard tool like pytest? This would allow automated running of tests. (You can also specify the additional optional/testing requirement of TensorFlow in th

[2022-10-21 18:10] asogaard commented on #4831
@editorialbot generate preprint

[2022-10-21 18:13] dfm commented on #4779
@editorialbot add @imalsky as reviewer

🎉 Thanks @imalsky for agreeing to review this submission! I'll get the main review started in a new thread and have lots more information about the process over there.

[2022-10-21 18:13] dfm commented on #4779
@editorialbot start review

[2022-10-21 18:13] editorialbot opened #4872 "[REVIEW]: SWAMPE: A Shallow-Water Atmospheric Model in Python for Exoplanets"
**Submitting author:** @kathlandgren (<a href="http://orcid.org/0000-0001-6029-5216">Ekaterina Landgren</a>)
**Repository:** https://github.com/kathlandgren/SWAMPE
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @dfm
**Reviewers:** @mark-hammond, @imalsky
**Archive:** 10.5281/zenodo.7402247

## Status

[![status](https://joss.theoj.org/papers/ef9e88a2db11cb4c962

[2022-10-21 18:13] #4779 closed

[2022-10-21 18:15] dfm commented on #4872
@mark-hammond, @imalsky — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

👉 **Please read the "Reviewer instructions & questions" in the first comment above, and generate your checklists by commenting `@editorialbot generate my checklist` on this issue ASAP.** As you go over the submission, please check any

[2022-10-21 18:15] kyleniemeyer commented on #4632
Hi @arosen93 and @espottesmith, are either of you able to review this submission to JOSS?

[2022-10-21 18:17] arosen93 commented on #4632
Hi @kyleniemeyer! Unfortunately, I'm unavailable at this time, but thank you for considering me as a reviewer.

[2022-10-21 18:17] taylorbell57 commented on #4503
@dfm, those two PRs have now been merged into the main branch

[2022-10-21 18:33] espottesmith commented on #4632
I will unfortunately also have to decline, but I have an alternate reviewer for you: @rdguha1995.

[2022-10-21 18:52] paulromano commented on #4735
Thanks all for the excellent comments! I'm hoping to respond to them next week and will put a note here once I believe they've been addressed.

[2022-10-21 18:52] bocklund commented on #4632
@kyleniemeyer Sorry, I lost track of this threat. I can review ThermoCodegen!

[2022-10-21 18:55] cwentland0 commented on #3428
Hey @kyleniemeyer no worries, thank you for reviewing! Addressing your comments:

- I remember looking into `nose`, `pytest`, and `unittest`, and ended up opting for `unittest` since it seemed the simplest. I can look into using `nose` if that would be considered more standard? From what I can tell that would require less rewriting of the original testing code.
- I apologize for the long regressio

[2022-10-21 18:59] mspieg commented on #4632
Yay!  Thank You. Much appreciated.

Cheers
Marc

-------------------------------------------------
Prof Marc Spiegelman
Chair Dept of App. Physics and App. Math
Dept of Earth and Env Sciences
Columbia University
-------------------------------------------------

[2022-10-21 20:12] dlebauer commented on #4405
@KristinaRiemer it installs now, though my review is still blocked by https://github.com/AgrDataSci/climatrends/issues/18

[2022-10-22 03:12] prashjha commented on #4727
Hello, @prasantapal. I believe this JOSS submission falls in your areas of interest. Would you, by any chance, review this submission? A quick response is very much appreciated :)

[2022-10-22 03:14] prashjha commented on #4727
Hi @chaypaterson, I am wondering if you saw my previous ping. I think this JOSS submission could be of interest to you. Please let me know if you can review this submission. Thanks!!

[2022-10-22 03:14] prashjha commented on #4647
Thanks for the suggestions, @aaron-bray.

[2022-10-22 03:19] prashjha commented on #4647
Hi, @hofmannu; I think this JOSS submission is in your area of interest. Would you, by any chance, be interested and have time to review this submission? Please let me know. Also, if you need more information about the review process, I can help.

[2022-10-22 03:20] prashjha commented on #4647
Hello, @kostadus; I am looking for two reviewers for this JOSS submission. I think the submission is close to your interest areas. Is there a chance you could review this?

[2022-10-22 03:24] prashjha commented on #4647
Hello, @alexrockhill; I am looking for two reviewers for this JOSS submission. I think the submission is close to your interest areas. Is there a chance you could review this?

[2022-10-22 03:25] prashjha commented on #4557
Hello @smsaladi, I was wondering if you saw my previous ping. Please let me know if you could review this submission.

[2022-10-22 03:29] prashjha commented on #4557
Howdy, @florian-huber; we have this interesting JOSS submission related to your interests. Would you, by any chance, have time and are interested in reviewing this submission? Please let me know!

[2022-10-22 04:18] alexrockhill commented on #4647
Yes, I can review.

[2022-10-22 05:20] arendsee commented on #4193
@Bisaloo I went with adding more examples to the README instead of building a whole readthedocs site. The new examples give an overview of what can be done with `smot`. All the data needed to run the examples is present in the `test-data` folder, so anyone interested can explore the results using their choice of visualization software.

[2022-10-22 06:52] Qingfengmufeng commented on #4815
@editorialbot  generate my checklist

[2022-10-22 06:53] Qingfengmufeng commented on #4815
@editorialbot

[2022-10-22 07:38] egonw commented on #4494
@hechth, @csoneson, not sure about the exact status, but BridgeDb is with a lower case 'b' at the end. Can still this be updated? If not, it's a very minor thing.

[2022-10-22 07:39] Bisaloo commented on #4193
Thanks for the changes @arendsee, I believe this is a huge improvement and it will surely convince more potential users to give your tool a go.

@marekborowiec @Chjulian, could you have another go at reviewing this submission and update your respective checklists accordingly please? Thanks a lot for your help!

📝 [Checklist for Chjulian](https://github.com/openjournals/joss-reviews/issues/4193#iss

[2022-10-22 08:17] smsaladi commented on #4557
Hi -

Thanks for thinking of me. Unfortunately, I don’t have capacity to review
this manuscript  right now. Sorry about that

Shyam

On Sat, Oct 22, 2022 at 8:59 AM Prashant K. Jha ***@***.***>
wrote:

[2022-10-22 09:11] csoneson commented on #4494
@egonw, @hechth - yes, that should be fine, as the submission is not formally accepted. If you make the change, let me know and I'll rerun the recommend-accept step.

[2022-10-22 11:28] chaypaterson commented on #4727
Hi Prashant

Sorry, I am afraid I am unavailable to review. I will not have the time.

Chay

On Sat, 22 Oct 2022, 04:14 Prashant K. Jha, ***@***.***>
wrote:

[2022-10-22 12:00] ryEllison commented on #4557
Hello,

Yes. I will happily review it! I’ve been added as a reviewer already, but the review process hasn’t been initiated yet.

R

Sent from my iPhone

[2022-10-22 12:49] lucaferranti commented on #4722
@editorialbot generate pfg

[2022-10-22 12:49] lucaferranti commented on #4722
@editorialbot generate pdf

[2022-10-22 13:03] kyleniemeyer commented on #4632
@editorialbot add @bocklund as reviewer

Thank you! I just need to find one more.

[2022-10-22 13:03] kyleniemeyer commented on #4632
Hello @rdguha1995, are you able to review this submission for JOSS?

[2022-10-22 13:09] kyleniemeyer commented on #3428
@cwentland0

I think that `pytest` is probably the widest used right now, and is what I would consider the modern "standard". From my understanding folks have moved away from `nose`, actually. To be compatible with `pytest`, you just have to have your test files and the classes/functions inside that start with the word "test", essentially, which shouldn't require *too* much work.
But, I

You actua

[2022-10-22 13:18] lucaferranti commented on #4722
Dear @danielskatz and  @bwohlberg 👋 ,

First, I would like to start by sincerely apologizing for the huuuge delay in carrying my review. I have been a lot of deadlines and being the software pretty big it took a while to go through the code and examples. Again, I am very sorry for the delay, but finally I got there.

So, in general I would say the software and the paper have an exceptionally high

[2022-10-22 13:18] lucaferranti commented on #4722
@editorialbot check references

[2022-10-22 13:24] lucaferranti commented on #4722
Regarding the references, the list of DOIs above seems quite longer than the list of references in the paper, indeed the `references.bib` seem to have several references which are not cited in the paper. Could you clarify on their role?

@danielskatz I presume the references file should only contain the references which are actually used in the paper? Can you comment from an editor perspective on

[2022-10-22 13:48] danielskatz commented on #4722
@lucaferranti - regarding the references, our reference checker checks everything in the bib file, so references that are not used in the paper don't need to be there, but as long as they aren't causing problems in the check, they won't cause any problems anywhere else either

[2022-10-22 13:48] danielskatz commented on #4722
Thanks for these comments.  @bwohlberg, it looks like there is just one thing here for you to respond to

[2022-10-22 15:03] dunnkers commented on #4611
Update: added a recipe called "[Comparing Feature Selectors](https://dunnkers.com/fseval/docs/recipes/comparing-feature-selectors/)", explaining how to run a benchmark of bigger size and analyse the results in a Jupyter-notebook style explanation. Shows the experiment results using both a table and a plot.

- ( https://github.com/dunnkers/fseval/pull/90 )

[2022-10-22 15:19] bwohlberg commented on #4722
Thank you @lucaferranti and @danielskatz. The requested comparison with other software can be found in section _Related Packages_ [on this docs page](https://scico.readthedocs.io/en/stable/advantages.html) (I suspect that @lucaferranti did not notice it because it was added relatively recently). We have not intentionally included any references that are not cited at least once (some may only be ci

[2022-10-22 16:04] gkthiruvathukal commented on #4833
Thanks, @kthyng. I will be on the case shortly. I'm still trying to get into the rhythm for inviting editors, etc. I will ping you on our Slack since you're already an expert.

[2022-10-22 16:51] rdguha1995 commented on #4632
Hey @kyleniemeyer! Yup I can do it.

[2022-10-22 19:03] jmejia8 commented on #4723
Thank you all for the time you spent on our submission. @vissarion, below is the requested information:

- Tagged release: [v3.2.12](https://github.com/jmejia8/Metaheuristics.jl/releases/tag/v3.2.12)
- Zenodo DOI: [10.5281/zenodo.7239440](https://doi.org/10.5281/zenodo.7239440)

[2022-10-22 19:35] meryemberradauwo commented on #4638
@Sj-Amani
Dear Sajjad Amani,

Thank you for accepting to review this paper. Let me know if I can be of any help.
We would love for this paper to be published in JOSS.

Best,
Meryem Berrada

[2022-10-22 21:57] diehlpk commented on #4611
@estefaniatalavera and @mcasl could you please have a look at the changes @dunnkers made?

[2022-10-22 21:59] diehlpk commented on #4073
Sure, I will have a look. Sometimes it can help if the authors recommend some reviewers.

[2022-10-22 21:59] diehlpk commented on #4637
Hi @ctdegroot, @thomasgillis could you please have a look at the comments above?

[2022-10-22 21:59] diehlpk commented on #4377
Hi @jonjoncardoso how is your review going?

[2022-10-22 22:01] diehlpk commented on #4129
@peanutfun can you please have a look?

[2022-10-22 22:02] diehlpk commented on #4129
@tmigot how is your review going?

[2022-10-22 22:03] diehlpk commented on #4493
@sara-02 how is your review going?

[2022-10-22 22:25] slayoo commented on #4412
@dhhagan, @Kevin-Mattheus-Moerman, let us kindly ask for the status of this pre-review, thanks.

[2022-10-22 22:26] prashjha commented on #4727
@chaypaterson, thank you for letting me know.

[2022-10-22 22:26] slayoo commented on #4633
@gkthiruvathukal, let me ask for the status of this review, thanks.

[2022-10-22 22:26] prashjha commented on #4647
Great, @alexrockhill. Thank you!!

[2022-10-22 22:26] prashjha commented on #4647
@editorialbot add @alexrockhill as reviewer

[2022-10-22 22:27] prashjha commented on #4557
@smsaladi, no worries. Thank you for letting me know.

[2022-10-22 22:29] prashjha commented on #4557
Hi @ryEllison, yes. We are waiting on one more reviewer to start. Another GitHub issue will be created for review, and you and another reviewer will get a checklist to help review.

[2022-10-22 23:08] majensen commented on #4788
@SimonGreenhill, would you have time to review [this work](#4788) for [JOSS](https://joss.theoj.org)? I would appreciate your expertise in using phylogenetics in linguistics.
Thanks for your consideration! --@majensen

[2022-10-22 23:09] majensen commented on #4678
@editorialbot generate pdf

[2022-10-22 23:27] majensen commented on #4678
@editorialbot check references

[2022-10-22 23:36] majensen commented on #4678
@mzabrams - I like this software a lot, it is the kind of work that increases the usability of siloed data; I hope it goes viral and energizes your field.
2 very minor items: 1) Can you put the Statement of Need section just after the Summary; 2) can you add links to your proceedings in the refs. I see, for example, this link is available: http://www.ircobi.org/wordpress/downloads/irc22/pdf-files/

[2022-10-22 23:38] majensen commented on #4678
After do the above, can you create an open archive of your code repo, using Zenodo, FigShare or similiar? A short tutorial using Zenodo is [here](https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729). When this is done, please post the DOI you receive back in this thread. Thanks!

[2022-10-22 23:42] tmigot commented on #4129
Hi @diehlpk ,
I was in the same situation described by @peanutfun waiting for some news for months, so I am unsure why you are pressing the reviewers.
Anyway, I will get back to look at the new changes made to the package.

[2022-10-22 23:43] tmigot commented on #4129
@cgrudz I have a quick question. Is there a reason why you promote the `master` branch in the documentation and installation guidelines and not the stable release?

[2022-10-22 23:58] tmigot commented on #4129
@whedon generate pdf

[2022-10-22 23:59] tmigot commented on #4129
@editorialbot generate pdf

[2022-10-23 02:45] diehlpk commented on #4129
@cgrudz Please check the error message from here https://github.com/openjournals/joss-papers/actions/runs/3305148863/jobs/5455018587 and fix your paper.

[2022-10-23 02:46] diehlpk commented on #4129
Do not wanted to pressure you, sorry for that. Just checking in since I am the new editor.

[2022-10-23 06:08] jbytecode commented on #4718
Dear @max-little

Could you please update your status and inform us? Do we have any progress?

Thank you in advance and have a good weekend.

[2022-10-23 06:41] jeffreyhanson commented on #4594
@martinfleis, just to follow up, I think I've completed all those steps (see post above for release and DOI) - is there anything else I need to do?

[2022-10-23 07:02] maxpumperla commented on #4073
thank you for your help!

[2022-10-23 11:43] florian-huber commented on #4557
@prashjha I could help review the manuscript.

[2022-10-23 11:57] dfm commented on #4709
@editorialbot add @LorenzoMugnai as reviewer

🎉 Thanks @LorenzoMugnai for agreeing to review this submission!!

I'll get the main review started in a new thread and have lots more info for you all over there. Thanks all for agreeing to be involved in this process!

[2022-10-23 11:57] dfm commented on #4709
@editorialbot start review

[2022-10-23 11:57] editorialbot opened #4873 "[REVIEW]: POSEIDON: A Multidimensional Atmospheric Retrieval Code for Exoplanet Spectra"
**Submitting author:** @MartianColonist (<a href="http://orcid.org/0000-0003-4816-3469">Ryan J. MacDonald</a>)
**Repository:** https://github.com/MartianColonist/POSEIDON
**Branch with paper.md** (empty if default branch): main
**Version:** 1.0.0
**Editor:** @dfm
**Reviewers:** @ideasrule, @LorenzoMugnai
**Archive:** 10.5281/zenodo.7530543

## Status

[![status](https://joss.theoj.org/papers/69710

[2022-10-23 11:57] #4709 closed

[2022-10-23 11:58] dfm commented on #4873
@ideasrule, @LorenzoMugnai — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

👉 **Please read the "Reviewer instructions & questions" in the first comment above, and generate your checklists by commenting `@editorialbot generate my checklist` on this issue ASAP.** As you go over the submission, please check

[2022-10-23 13:38] MartianColonist commented on #4873
Thanks for agreeing to review @ideasrule and @LorenzoMugnai!

I'm looking forward to your feedback.

[2022-10-23 13:47] kokitsuyuzaki commented on #4850
@kthyng Excuse me for being unfamiliar with this JOSS submission system, but now I just have to wait until some reviewer is assigned or is there anything I have to do?

[2022-10-23 16:24] gkthiruvathukal commented on #4633
@slayoo  I think we are ready for the next steps!

Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the  title (should match the paper title) and author list (make sure the list is  correct and people who

[2022-10-23 16:25] jonjoncardoso commented on #4377
Hi @diehlpk truly sorry for the horrendous delay.

I'm also happy with the new version and I agree the paper is ready for publication!

[2022-10-23 16:26] Smattr commented on #4816
I get slightly different results, but they look within expected bounds. Given these tests are measuring wall clock time rather than cycles, I assume some variance is expected. It looks like d20 has been added in the meantime and the range of the C benchmark has been reduced.

![py](https://user-images.githubusercontent.com/203893/197403822-55fda742-4a97-4382-8f75-d4aed502f3f7.PNG)
![C++](https://u

[2022-10-23 16:30] ppxasjsm commented on #4861
@editorialbot add @lohedges as reviewer

[2022-10-23 16:31] ppxasjsm commented on #4861
Thank you @lohedges for agreeing to review this. If you have any questions at any point please let me know. You can generate your review checklist with the following command: `@editorialbot generate my checklist`.

[2022-10-23 17:42] lpantano commented on #4832
@salzberg, could you fix the missing DOI showed in this comment? I will get reviewers ASAP. Thanks

[2022-10-23 17:53] lpantano commented on #4363
Hi @samhorsfield96, @swatimanekar, could you update the current status of your review after @cagret updated and worked on your comments? Thank you in advance.

[2022-10-23 17:58] jbytecode commented on #4736
@HaoZeke - could you please update your status? Do we have any progress? Thank you in advance!

[2022-10-23 18:01] jbytecode commented on #4716
@becarioprecario - Do we have any issues about the corrections?

@wcjochem - could you please update your status? Do we any progress?

Thank you in advance.

[2022-10-23 18:49] becarioprecario commented on #4716
Hi,

Thanks for your review.

  *   I now cite INLA as among the packages that provide extensive customization. I believe this includes the ability to specify spatial ME models very similar to those in geostan (a spatial model as the prior distribution on the latent covariate, with user-provided measurement error variances.) @becarioprecario<https://github.com/becarioprecario> you may be able to c

[2022-10-23 18:51] mhesselbarth commented on #4771
Some comments considering the manuscript. Overall its written very well and does a good job explaining the package and method. Just some minor suggestions and comments:

- Line 8/9: This is an appropriate statistical approach only if locations can be meaningful described by points (e.g., as for plants, nests).

- Line 13/14: This is one common driver, but also other processes can be more important

[2022-10-23 19:10] mhesselbarth commented on #4771
I will wait for @skiptoniam dealing with the open issues (which should tick most of the open boxes in the checklist) before I continue with my last round of reviews of the actual code and functionality.

[2022-10-23 19:11] salzberg commented on #4832
@lpantano, I think what that is asking is for me to add the DOI to the bibtex file. The bibtex file was already formatted correctly and all references were there, but I just added DOIs to all of those references. Please let me know if you're asking for something else.

[2022-10-23 20:15] diehlpk commented on #4377
@stsievert, @jonjoncardoso thank you for your review, we could not run JOSS without you.

[2022-10-23 20:16] diehlpk commented on #4377
@editorialbot check references

[2022-10-23 20:16] diehlpk commented on #4377
@editorialbot generate paper

[2022-10-23 20:16] diehlpk commented on #4377
@editorialbot commands

[2022-10-23 20:17] diehlpk commented on #4377
@editorialbot generate pdf

[2022-10-23 20:18] diehlpk commented on #4377
@editorialbot generate pdf

[2022-10-23 20:24] diehlpk commented on #4377
@jfowkes

I have some minor editorial comments on the paper:

- `With over 12,000 downloads we firmly believe `, please add something like `at the time this paper was written` or `by 2022` to make it clear when this amount was measured.
- `PyCUTEst has had over 12,000 downloads, and we believe is well on ` please see above.

Please address these timely, so we can publish the paper next week.

Afte

[2022-10-23 20:43] kyleniemeyer commented on #4632
@editorialbot add @rdguha1995 as reviewer

[2022-10-23 21:04] kyleniemeyer commented on #4632
@editorialbot start review

[2022-10-23 21:04] editorialbot opened #4874 "[REVIEW]: ThermoCodegen: a python/C++ package for the generation of custom thermodynamic models"
**Submitting author:** @mspieg (<a href="http://orcid.org/0000-0002-5218-7466">Marc Spiegelman</a>)
**Repository:** https://gitlab.com/ENKI-portal/ThermoCodegen
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v1.0.0
**Editor:** @kyleniemeyer
**Reviewers:** @bocklund, @rdguha1995
**Archive:** 10.5281/zenodo.8102054

## Status

[![status](https://joss.theoj.org/papers/776

[2022-10-23 21:04] #4632 closed

[2022-10-23 21:06] kyleniemeyer commented on #4874
👋  @mspieg @bocklund @rdguha1995 the actual review will take place here.

Per the instructions above, when you are ready to do your review, comment with `@editorialbot generate my checklist` to generate your reviewer checklists.

[2022-10-23 23:17] prashjha commented on #4557
Hi @florian-huber, reviewing for JOSS requires reviewing both software and manuscript; please see [this link](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) for the review process. For your benefit, here is the main part from that link:

"A JOSS review involves checking submissions against a checklist of essential software features and details in the submitted paper. This should b

[2022-10-23 23:19] prashjha commented on #4557
@florian-huber, you will get the review checklist to complete the review. If you are already familiar with the process, please ignore my comments.

Please let me know if you can still review this submission. Thank you!!

[2022-10-23 23:22] prashjha commented on #4850
@kthyng, thanks for the invite. I will be happy to edit this submission.

@kokitsuyuzaki, as for your question, I will invite reviewers for your submission, and once we have two reviewers on board, we will start the review. The review will take place in a new GitHub issue automatically created.

[2022-10-23 23:22] prashjha commented on #4850
@editorialbot assign me as editor

[2022-10-23 23:23] prashjha commented on #4850
Hi @kokitsuyuzaki, thanks for providing the list of potential reviewers. I will start inviting them soon.

[2022-10-23 23:24] mzabrams commented on #4678
@majensen Thanks! I think I'd already set it up with Zenodo -- DOI for the most recent release version (1.3.3) is 10.5281/zenodo.7221282. I've made those additions to the references (there isn't a publicly available repository of World Congress of Biomechanics Proceedings, unfortunately), and moved the statement of need as well. Let me know if there's anything else! I appreciate the kind words abo

[2022-10-23 23:24] max-little commented on #4718
Sorry for the late reply. I believe I am basically satisfied with the
responses here, apart from the naming of the package; I've raised this in
https://github.com/klb2/qmkpy/issues/18

Max

On Sun, 23 Oct 2022 at 07:09, Mehmet Hakan Satman ***@***.***>
wrote:

[2022-10-24 00:01] fboehm commented on #4674
@editorialbot set version as v1.1.1

[2022-10-24 00:02] fboehm commented on #4674
@editorialbot set v1.1.1 as version

[2022-10-24 00:02] fboehm commented on #4674
@editorialbot set 10.5281/zenodo.7222742 as archive

[2022-10-24 00:09] Zac-HD commented on #4667
Unfortunately I don't have capacity to review (well) at the moment, and would hate to do it badly.  I wish you and `tpcp` well though!

[2022-10-24 00:37] fboehm commented on #4674
@DominiqueMaucieri - Thanks! I neglected to tell you that we actually need the title of the zenodo archive to match exactly that of the paper.md. Can you please fix the title on the zenodo archive?

Thanks again!

[2022-10-24 00:42] fboehm commented on #4720
@editorialbot generate pdf

[2022-10-24 00:54] fboehm commented on #4720
@vlad0x00 - the paper looks great!

My only request is that you add a doi for the Reinert article. When I follow the hyperlink that you've provided, it directs me here: http://publications.imp.fu-berlin.de/2103/

I think that you need 10.1016/j.jbiotec.2017.07.017 as the doi, but please check this.

Thanks again!

[2022-10-24 02:42] Sj-Amani commented on #4638
Dear Meryem, I am glad to review this paper.
I see that the status of this issue is `Closed`. As @danielskatz  mentioned, I think you may need to resubmit this work.
Please confirm with @arfon or @danielskatz .

[2022-10-24 05:16] mengqi-z commented on #4805
Hi @mabesa - one more data point following the issue tonyewong mentioned previously, I also need to manually install package `exactextractr` before I can installed `riverCentralAsia` successfully. In addition, I posted an issue specifically for issues I encountered when going through vignettes https://github.com/hydrosolutions/riversCentralAsia/issues/109. Thanks!

[2022-10-24 05:33] danasolav commented on #4836
Apologies for the delayed response. I have to decline, as this is out of my area of expertise.

[2022-10-24 05:39] fwitte commented on #4757
@chmarti1, thank you very much for the detailed explanation. I was wondering, why I could not replicate some of the bugs in IF97, which seem to exist in both, [CoolProp](https://github.com/CoolProp/IF97) and the [IAPWS package](https://github.com/jjgomera/iapws), also see https://github.com/CoolProp/CoolProp/issues/1918.

[2022-10-24 05:40] fwitte commented on #4757
@jgostick: Just wanted to add my checklist, do you know, where it is gone?

[2022-10-24 05:44] fwitte commented on #4757
## Review checklist for @fwitte
### Conflict of interest

* [x]  I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### Code of Conduct

* [x]  I confirm that I read and will adhere to th

[2022-10-24 06:17] GeekLogan commented on #4866
@editorialbot generate my checklist

[2022-10-24 06:22] fwitte commented on #4757
@jranalli, @chmarti1: Thank you for your replies and in depth explanation. Here are a few lines for my review:

# Summary

Overall, I find this a very useful package. To my knowledge, the NASA polynomes are not included in other open source packages like [thermo]( https://github.com/CalebBell/thermo), [CoolProp](https://github.com/CoolProp/IF97) and [iapws](https://github.com/jjgomera/iapws), but

[2022-10-24 06:59] mabesa commented on #4805
I'm back
Thank you so much @mengqi-z for taking the pains to go through the vignette articles in such detail. You input is very useful! I'll address them asap.

[2022-10-24 07:04] hechth commented on #4494
@csoneson @egonw  Should I then also draft a new release with the code changes, or is it okay to only have the changes in the paper for now and just publish the fixes in the next code release?

[2022-10-24 07:05] oliviaguest commented on #4600
@jagnobli I still see a few typos, like for example "allows to assign" is ungrammatical (should be "allows assigning"). Maybe you can allow me to have edit rights, or some such solution? Or do you want to try going over it again?

[2022-10-24 07:13] oliviaguest commented on #4114
@ekinney-lang are you happy with the edits so far? I cannot see above @gcattan please link me if I missed it where they reported back on the edits you made?

[2022-10-24 07:14] ismailguzel commented on #4846
I tested the package installation on both Windows and Ubuntu. Good for both platforms, actually. I'm grateful for @matteocao
 . I also didn't see anything different from what other reviewers had already noted. Finally, my review is completed, and I think the document can be accepted just as it is.  It will be a great package for TDA folks.

[2022-10-24 07:15] egonw commented on #4494
I'd be more than happy with it comes with the next code release.

[2022-10-24 07:23] hechth commented on #4494
@editorialbot generate pdf

[2022-10-24 07:30] imcatta commented on #4795
I can confirm that I am available for review of this submission

[2022-10-24 07:35] osorensen commented on #4846
Wow! Thanks to all of @EduPH, @leotrs, @ismailguzel for completing your reviews so quickly!

@matteocao, I will now read through the paper a final time, and let you know if I have any suggested changes. In the meantime, could you please

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar se

[2022-10-24 07:36] osorensen commented on #4846
@editorialbot generate pdf

[2022-10-24 07:36] osorensen commented on #4846
@editorialbot check references

[2022-10-24 07:36] martibosch commented on #4795
Hello @fraukewiese, thank you for inviting me to review this submission. Even though the subject falls within my interests and expertise, I am afraid that I would rather decline your kind invitation because I have many other tasks at the moment. If you do not manage to find another reviewer, ping me again and I will do my best to find a moment to review this submission.

Best,
Martí

[2022-10-24 07:51] fabian-s commented on #4403
@gdede-hua
please let us know within the next three days whether/when you intend to address the issues identified by rreinecke, i.e. to substantially improve the stability, functionality and documentation of your software.

[2022-10-24 07:54] vissarion commented on #4723
@editorialbot set  10.5281/zenodo.7239440 as archive

[2022-10-24 07:55] mark-hammond commented on #4872
@editorialbot generate my checklist

[2022-10-24 07:55] vissarion commented on #4723
@editorialbot set v3.2.12 as version

[2022-10-24 07:55] vissarion commented on #4723
@editorialbot generate pdf

[2022-10-24 07:58] csoneson commented on #4494
Yes, I agree

[2022-10-24 07:58] csoneson commented on #4494
@editorialbot recommend-accept

[2022-10-24 08:02] vissarion commented on #4723
@jmejia8 please check that both the title and the author list is the same in the paper and the zenodo archive. I noticed that the set of co-authors is different. Could you please comment on this.

[2022-10-24 08:21] matteocao commented on #4846
Dear @osorensen ,

Thank you for your message. Here the data you asked for:
 - The tagged release version, as there have not been requests to modify the code nor upgrades for the last 20 days, shall be the v0.0.3: https://github.com/giotto-ai/giotto-deep/releases/tag/v0.0.3
 - Zenodo DOI: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.7243721.svg)](https://doi.org/10.5281/zenodo.7243721)
 - I

[2022-10-24 08:38] osorensen commented on #4846
Thanks @matteocao

A few comments on the manuscript

- On lines 28 and 34 you start a sentence with the word `giotto-deep`, but on line 39 you write "Giotto-deep" with capital first letter. Please pick one and be consistent.
- On line 34 I suggest added a "the" in front of `giotto-deep`, so it becomes "The `giotto-deep` architecture ..."
- On lines 66-67 and 73, please add DOI to the arXiv referen

[2022-10-24 08:44] florian-huber commented on #4557
Sorry. My comment above was written too quickly... I meant that you can add me as reviewer.
(of course including manuscript + software)

[2022-10-24 08:45] mabesa commented on #4805
About the problem with the automatic installation of the exactextractr package: @mengqi-z and @tonyewong, could you please let me know: do you work on windows or another system? Was there a specific error message related to the exactextractr package? It always installs without problem on my windows machine. Maybe this is something I should take up with the developer.

[2022-10-24 09:16] max-little commented on #4718
Yes, that sounds good!
M.

On Monday, 24 October 2022, Karl-Ludwig Besser ***@***.***>
wrote:

Knapsack Problem" is a more appropriate title for the package/paper?

serves as a testbed for algorithms to solve the QMKP).

***@***.***>

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)

[2022-10-24 09:18] OlgerSiebinga commented on #4250
👋 @diehlpk, thanks for stepping in. I've had a look at the list of reviewers again and selected the following people as possible reviewers:

eric3722
vmatos
adity-om
nmullins
imcatta

[2022-10-24 09:21] jfowkes commented on #4377
@editorialbot generate pdf

[2022-10-24 09:22] martinfleis commented on #4594
@editorialbot set v1.3.3.2 as version

[2022-10-24 09:22] martinfleis commented on #4594
@editorialbot set 10.5281/zenodo.7195676 as archive

[2022-10-24 09:24] klb2 commented on #4718
Great, thank you @max-little.
I have changed the title accordingly in both the README and the paper.

@jbytecode: Is there any way/need of changing the title of the JOSS submission? I guess, you would have to do this. The new title is "QMKPy: A Python Testbed for the Quadratic Multiple Knapsack Problem". Thank you.

[2022-10-24 09:24] martinfleis commented on #4594
@editorialbot generate pdf

[2022-10-24 09:31] martinfleis commented on #4594
@editorialbot recommend-accept

[2022-10-24 09:32] martinfleis commented on #4594
Thank you @jeffreyhanson! I'm going to hand this over now to the associate EiC for the final steps.

[2022-10-24 09:44] martinfleis commented on #4781
Hi @cjbarrie, @sdmccabe, would any of you be willing to help with this submission and review the paper and the package?

[2022-10-24 09:55] Jacks0nJ commented on #4607
Any ETA on when the review will be finished? As I've already had interest in the 2D version of the code, which I would like to be available in the main branch and through PyPI (rather than TestPyPI as is currently the case).  Additionally I will be presenting a tutorial on the code next month, so ideally I would have the merged the multi-dimensional version of the code before then.

[2022-10-24 11:13] xinyiguan commented on #4738
Hi @hayesall 👋🏼,

Thank you so much for your valuable suggestions and recommendations to improve the package! I have made the corresponding adjustments and changes mentioned above and responded in the respective Issue post.

[2022-10-24 11:14] dfm commented on #4503
@editorialbot generate pdf

[2022-10-24 11:15] dfm commented on #4503
@editorialbot check references

[2022-10-24 11:25] dfm commented on #4503
@taylorbell57 — Looks great to me! I'll need the last few steps from you now to finish the processing:

1. Take one last read through the generated manuscript (linked above ☝️) to make sure that you're happy with it (it's harder to make changes later!), especially the names and affiliations. I've taken a pass and it looks good to me!
2. Increment the version number of the software and report that

[2022-10-24 11:46] ivastar commented on #4774
To get started paste the following command as a separate comment: `@editorialbot generate my checklist`

[2022-10-24 11:50] trallard commented on #4667
Thanks for the consideration, unfortunately, I do not have cycles right now for this review.

[2022-10-24 11:52] bgailleton commented on #4852
@editorialbot generate my checklist

[2022-10-24 11:53] kungfugo commented on #4826
Maybe meandmytram is willing to review?

[2022-10-24 11:58] matteocao commented on #4846
Dear @osorensen ,

Thank you for your message and for your suggestions. All the changes have been made and the pdf compilation worked. Please let me know if there is anything else I need to do.

Thank you!

[2022-10-24 12:22] Rocsg commented on #4856
Hello.
I have been looking at the joss_reviewers list to suggest a short-list if that helps. If possible, I would like to suggest 4 reviewers based on their stated programming language and domain/topic preferences:
* xaviercm94
* pr4deepr
* RDastgh1
* MaximLippeveld

I declare that I haven't worked with any of them, nor published with them in the last 5 years.

[2022-10-24 12:34] Rocsg commented on #4856
Another point:
The latest version of FijiRelax is now tagged and released as v4.0.3. It replaces the 4.0.2, which was the "latest" when I submitted to JOSS. This new version (v4.0.3) is now the one pointed by the Fiji updater, and is the latest pointed by Github, Maven Central, Javadoc, and Zenodo.

Best regards

[2022-10-24 12:39] mikldk commented on #4775
@tijeco: Can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

@slwu89: Can you confirm that you have finished the review and recommend that this paper is now published?

[2022-10-24 12:41] mikldk commented on #4819
@MrShoenel

Do you have their Github usernames (please, **without** the `@` to avoid tagging)?

[2022-10-24 13:07] mabesa commented on #4805
The package site is now deployed correctly and the points in the issues addressed. Thank you again both reviewers for your input!!

[2022-10-24 13:10] pdebuyl commented on #4575
@editorialbot generate pdf

[2022-10-24 13:17] pjb7687 commented on #4633
@slayoo May I ask if I would do that, or you are already doing it? Thanks!

[2022-10-24 13:22] osorensen commented on #4846
@editorialbot generate pdf

[2022-10-24 13:22] osorensen commented on #4846
@editorialbot set v0.0.3 as archive

[2022-10-24 13:23] osorensen commented on #4846
@editorialbot set 10.5281/zenodo.7243721 as archive

[2022-10-24 13:23] osorensen commented on #4846
@editorialbot set v0.0.3 as version

[2022-10-24 13:24] osorensen commented on #4846
@editorialbot set v0.0.3 as version

[2022-10-24 13:24] osorensen commented on #4846
@editorialbot set 10.5281/zenodo.7243721 as archive

[2022-10-24 13:24] osorensen commented on #4846
Sorry for all the posts, I mixed up the commands a bit :-)

[2022-10-24 13:25] osorensen commented on #4846
@editorialbot recommend-accept

[2022-10-24 13:25] editorialbot opened #4875 "[PRE REVIEW]: DTCC Builder: A mesh generator for automatic, efficient, and robust mesh generation for large-scale city modeling and simulation"
**Submitting author:** @alogg (<a href="http://orcid.org/0000-0002-1547-4773">Anders Logg</a>)
**Repository:** https://gitlab.com/dtcc-platform/dtcc-builder.git
**Branch with paper.md** (empty if default branch): joss-2022
**Version:** 1.0.0
**Editor:** @crvernon
**Reviewers:** @pralitp, @ifthompson
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/ea3e547804d0e

[2022-10-24 13:28] danielskatz commented on #4875
@editorialbot check repository

[2022-10-24 13:30] crvernon commented on #4829
:wave: @FWuellhorst - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-24 13:33] danielskatz commented on #4875
@editorialbot set paper-joss-2022 as branch

[2022-10-24 13:34] prashjha commented on #4557
Great...thanks for clarifying...glad that you can review!!

[2022-10-24 13:34] prashjha commented on #4557
@editorialbot add @florian-huber as reviewer

[2022-10-24 13:36] danielskatz commented on #4875
👋 @alogg - note that your paper does not compile. Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) and note that you can click on the error above to find out more about it.  Please feel free to make changes to your .md file, then use the command `@editorialbot generate pdf` to make a new PDF. editorialbot commands need to be th

[2022-10-24 13:36] pdebuyl commented on #4575
Thanks @RupeshJey  for the update!

I have Julia 1.5 and tried to install according to the instructions: (`]` key then `add vSmartMOM`) and have this error:

[code]

Can you remove the data tables from the article file? It is better to have a link to the documentation, not only because tables in pdfs are hard to use but also to keep with JOSS' guidelines to have brief articles.

The citations yurc

[2022-10-24 13:36] pdebuyl commented on #4575
@jimmielin @arjunsavel can you have a look at the updated version?

[2022-10-24 13:37] prashjha commented on #4557
@editorialbot start review

[2022-10-24 13:39] FWuellhorst commented on #4829
Hi @crvernon, I can review this!

[2022-10-24 13:45] danielskatz commented on #4875
@alogg - we also have a really weird bug that happens when the branch name (`paper-joss-2022`)  is the same as the folder name the paper is in on the repo. (`doc/paper-joss-2022`) that prevents some of our automated checking from working.  Can you change one of these to something different and let me know that you have done so?  (We are also working on fixing this bug)

[2022-10-24 13:53] alogg commented on #4875
@danielskatz Weird... It worked fine before we submitted (using your Docker build script). Could it be related to the branch naming?

I have now renamed the branch `paper-joss-2022` --> `joss-2022`.

[2022-10-24 13:53] alogg commented on #4875
@editorialbot set joss-2022 as branch

[2022-10-24 13:54] alogg commented on #4875
@editorialbot check repository

[2022-10-24 13:57] mabesa commented on #4805
A colleague of mine also kindly tested the clean-slate installation and didn't have issues with exactectractr. We also didn't encounter installation problems (other than missing RTools) with our students. I'm a bit stumped.

[2022-10-24 14:02] danielskatz commented on #4875
@editorialbot generate pdf

[2022-10-24 14:03] danielskatz commented on #4875
@editorialbot set main as branch

[2022-10-24 14:03] danielskatz commented on #4875
@editorialbot check repository

[2022-10-24 14:04] danielskatz commented on #4875
@alogg - the error in the paper includes

[2022-10-24 14:04] danielskatz commented on #4875
@editorialbot set joss-2022 as branch

[2022-10-24 14:08] alogg commented on #4875
@editorialbot generate pdf

[2022-10-24 14:11] danielskatz commented on #4875
I now see

[2022-10-24 14:15] alogg commented on #4875
@danielskatz There was a problem with some tabs in place of spaces in the `paper.md`. I also noticed the missing ORCID. Will add now (was sure I had fixed it before).

Why doesn't the Docker command we used to test before submission report the same errors?

[2022-10-24 14:20] alogg commented on #4875
@editorialbot generate pdf

[2022-10-24 14:27] alogg commented on #4875
Hmm... Missing ORCID added but don't understand new error message:

[code]

Seems last word of title is line-wrapped but it's not wrapped in my editor.

[2022-10-24 14:29] crvernon commented on #4829
Great, thanks @FWuellhorst!

[2022-10-24 14:30] crvernon commented on #4829
@editorialbot add @FWuellhorst as reviewer

[2022-10-24 14:32] crvernon commented on #4829
:wave: Alright @lymereJ @samuelduchesne @FWuellhorst - I am going to close this Pre-Review and kick off the full review which you should receive a notification for. Thanks!

[2022-10-24 14:32] crvernon commented on #4829
@editorialbot start review

[2022-10-24 14:33] JessicaS11 commented on #4700
I have an affiliate appointment at the University of Washington, the lead submitter's institution. He and I worked together organizing Hackweeks (and are thus also on some joint JupyterBook Zenodo releases). I have also attended many SlideRule developer meetings, am on their Slack page, and occasionally meet with their lead developer to work on synergies between our two tools ([icepyx])(https://gi

[2022-10-24 14:36] vboomi commented on #4747
@editorialbot generate my checklist

[2022-10-24 14:36] danielskatz commented on #4875
👋 @xuanxu - can you take a look at this?

[2022-10-24 14:39] arfon commented on #4857
@editorialbot check repository

[2022-10-24 14:41] arfon commented on #4857
@editorialbot check repository

[2022-10-24 14:43] mengqi-z commented on #4805
Hi @mabesa,

I am using MacOS Monterey. I think it might be the compilation issue, because I can install it separately when choosing to install from binary version (0.7.2), instead of the source version (0.9.0) which need compilation. In the latter case, `geos-config` does not exist and causes the problem. Here is the error message I got for the part where `exactextractr` failed to install during

[2022-10-24 14:44] editorialbot opened #4876 "[REVIEW]: Copper: a performance curve generator for building energy simulation"
**Submitting author:** @lymereJ (<a href="http://orcid.org/0000-0002-1630-6886">Jeremy Lerond</a>)
**Repository:** https://github.com/pnnl/copper
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v0.1.6
**Editor:** @crvernon
**Reviewers:** @samuelduchesne, @FWuellhorst
**Archive:** 10.5281/zenodo.7644215

## Status

[![status](https://joss.theoj.org/papers/9509076e1ef0a0c

[2022-10-24 14:44] editorialbot opened #4877 "[REVIEW]: OT-Analysis : a software for rich analysis of force curves when probing living cells with optical tweezers"
**Submitting author:** @phpuech (<a href="http://orcid.org/0000-0002-8521-0685">pierre-henri puech</a>)
**Repository:** https://github.com/phpuech/OT_Analysis
**Branch with paper.md** (empty if default branch):
**Version:** 0.2.1
**Editor:** @prashjha
**Reviewers:** @ryEllison, @florian-huber
**Archive:** 10.5281/zenodo.8345307

## Status

[![status](https://joss.theoj.org/papers/f8789fc6c7457bf4b

[2022-10-24 14:45] #4557 closed

[2022-10-24 14:45] #4829 closed

[2022-10-24 14:45] arfon commented on #4857
@editorialbot check repository

[2022-10-24 14:48] arfon commented on #4238
@editorialbot check repository

[2022-10-24 14:50] arfon commented on #4238
@editorialbot check repository

[2022-10-24 15:03] arfon commented on #4875
@tarleb – is the Docker command/GitHub Action less sensitive than the GitHub Action we're running here?

[2022-10-24 15:09] sdmccabe commented on #4781
I'd be happy to review it!

[2022-10-24 15:09] xuanxu commented on #4875
@editorialbot generate pdf

[2022-10-24 15:27] tarleb commented on #4875
The YAML contains tab characters. @alogg, could you try to replace those with the appropriate amount of spaces?

[2022-10-24 15:29] tarleb commented on #4875
I think what's happening is that pandoc converts the tabs to spaces, but all other tools in the pipeline don't do this. That's probably the source of the errors.

[2022-10-24 15:34] jfowkes commented on #4377
@diehlpk thank you, I have addressed the minor editorial comments in the paper.

We have also released a new version (Version 1.4) with all the changes.

This has been uploaded to Zenodo under the following DOI:
[10.5281/zenodo.7244291](https://doi.org/10.5281/zenodo.7244291)

[2022-10-24 15:45] prashjha commented on #4877
Dear @ryEllison and @florian-huber, please read the first couple of comments in this thread and create your review checklist. You can read the reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Also, you can browse the [closed "REVIEW" issues](https://github.com/openjournals/joss-reviews/issues?q=label%3Areview+is%3Aclosed) on the "joss-reviews" repository

[2022-10-24 15:51] jagnobli commented on #4600
Thanks for your rigor...

@xi set you up with a guest account at the gitlab. I guess you already received an invitation mail?

[2022-10-24 15:52] cgrudz commented on #4129
@diehlpk, I think I caught the issue, can you reinitialize a build to test?

[2022-10-24 16:06] cgrudz commented on #4129
@tmigot, currently Documenter.jl is configured in the project to automatically update the documentation when there is a commit to master. We are anticipating that the master branch and documentation will be kept consistent with each other, and as this is in continuous development, the master branch will be running ahead of the last tagged stable version.

[2022-10-24 16:12] lucydot commented on #4624
@gdmiron I haven't heard anything from @darinddv so will start looking for alternative reviewers - if you can suggest anyone it would be appreciated.

Thanks for the update @hgandhi2411

[2022-10-24 16:16] lucydot commented on #4624
@paleolimbot @alejandrogallo @fnattino do any of you have time to review this? (apologies for re-asking - your previous replies in the pre-review are noted! - our original reviewer seems to be no longer available)

[2022-10-24 16:19] lucydot commented on #4333
@editorialbot set 10.5281/zenodo.7233987 as archive

[2022-10-24 16:20] lucydot commented on #4333
@editorialbot set v1.5.0 as version

[2022-10-24 16:21] lucydot commented on #4333
@editorialbot recommend-accept

[2022-10-24 16:39] meandmytram commented on #4826
Hey @kungfugo, I'm up to review!
@kyleniemeyer Can you please introduce me to the review process?

[2022-10-24 16:49] DominiqueMaucieri commented on #4674
@fboehm I have updated the title, they should match now

[2022-10-24 17:06] xuanxu commented on #4875
@editorialbot generate pdf

[2022-10-24 17:17] jranalli commented on #4757
Thanks for your work on the review.

- Added a pull request for the `extra_requires`
- Discussing the guidelines for contribution with @chmarti1

Definitely appreciate the suggestions and we'll consider those as we move forward.

[2022-10-24 18:08] kyleniemeyer commented on #4826
@meandmytram thanks for volunteering! We are still trying to get an editor assigned, who will then find a second reviewer

[2022-10-24 18:09] raolivei13 commented on #4747
Hello,
there are some points where I made a mistake and will fix it. I will review
the checkpoints at some point this week.

best,
Richard

On Mon, Oct 17, 2022 at 2:02 AM Eric Bezzam ***@***.***>
wrote:

[2022-10-24 18:09] kyleniemeyer commented on #4826
@editorialbot assign @meandmytram as reviewer

[2022-10-24 18:11] kyleniemeyer commented on #4826
@editorialbot add @meandmytram as reviewer

[2022-10-24 18:41] fboehm commented on #4674
Thanks, @DominiqueMaucieri ! It now looks good!

[2022-10-24 18:42] fboehm commented on #4674
@editorialbot recommend-accept

[2022-10-24 19:23] ctdegroot commented on #4637
I am working on this but the installation instructions are still very much lacking. It doesn't seem like this comment was addressed.

[2022-10-24 20:04] michakraus commented on #2954
I couldn't agree more that this should be finished as soon as possible. I have been working on the docs for the better part of my available time in the past few weeks. Unfortunately everything got delayed once more as I have been sick in between. I pretty much finished the GeometricEquations.jl docs and the revision of the tutorial. I will spend the next days adding more examples and extending the

[2022-10-24 20:19] diehlpk commented on #4377
@editorialbot set 10.5281/zenodo.7244291 as archive

[2022-10-24 20:20] diehlpk commented on #4377
@editorialbot set v1.4 as version

[2022-10-24 20:20] diehlpk commented on #4377
@editorialbot recommend-accept

[2022-10-24 20:22] diehlpk commented on #4377
@jfowkes  Thanks, I can now recommend the paper for publication.

[2022-10-24 20:24] diehlpk commented on #4073
@editorialbot remove @marksantcroos as reviewer

[2022-10-24 20:25] diehlpk commented on #4073
@nilesh-patil would you have time to review this paper?

[2022-10-24 20:26] diehlpk commented on #4073
@sssomani would you mind reviewing this paper?

[2022-10-24 20:26] diehlpk commented on #4073
@sepandhaghighi would you mind reviewing this paper?

[2022-10-24 20:27] diehlpk commented on #4129
@editorialbot generate pdf

[2022-10-24 20:30] diehlpk commented on #4250
Hi

You can proceed with your review. We will find a second reviewer soon. It sometimes happens that one reviewer disappears.

[2022-10-24 20:31] tmigot commented on #4129
@cgrudz you can also visualize the pdf here https://github.com/cgrudz/DataAssimilationBenchmarks.jl/actions/workflows/draft-pdf.yml in the Artifacts of each build

[2022-10-24 20:31] diehlpk commented on #4250
Hi @eric3722 or @vmatos or @adity-om do you have time to review that paper?

[2022-10-24 20:32] mcgrathc commented on #4472
@fraukewiese the new version tag is `v1.0.0`

The reviewed software has been archived with the updated metadata here: 10.5281/zenodo.7246116

Thank you for your help in moving this forward.

[2022-10-24 20:38] sepandhaghighi commented on #4073
💯
Why not?
I'm available for the reviewing

[2022-10-24 20:40] cgrudz commented on #4129
Thanks for the information,

@editorialbot generate pdf

[2022-10-24 20:40] ppxasjsm commented on #4719
Thank you! @thohamm can you go through the PDF of the paper version and do a check to make sure you are happy with the current state? I'll also go through it one last time, but won't likely get a chance to do so until next week I am afraid.

[2022-10-24 21:01] tonyewong commented on #4805
I am also using MacOS Monterey.

[2022-10-24 21:06] cgrudz commented on #4129
@editorialbot generate pdf

[2022-10-24 21:12] cgrudz commented on #4129
@diehlpk, I think the article build  is now resolved, thanks for the help

[2022-10-24 21:19] SimonGreenhill commented on #4788
ok, I'll check it out

[2022-10-24 22:17] thomasgillis commented on #4637
@editorialbot generate pdf

[2022-10-24 22:28] frankecurtis commented on #4291
@editorialbot generate my checklist

[2022-10-24 22:30] frankecurtis commented on #4291
@melissawm I tried to start the review by generating my checklist, but I guess I cannot?  I'm not sure how this works.

[2022-10-24 22:57] jeffreyhanson commented on #4594
Brilliant - thank you very much @martinfleis!

[2022-10-24 23:08] thomasgillis commented on #4637
Thanks for the updated version of the software as well as the work put in it.
Here is a list of the additional comments I have. Let me know if you have further questions

**general comments**

- is your code 2D or 3D? Please mention it. The distributed computing need on a 2D code is difficult to support with the architectures nowadays though.

- I understand timing in parallel with `MPI` but it se

[2022-10-24 23:12] bmcfee commented on #4769
@editorialbot add @ebezzam as reviewer

[2022-10-24 23:12] bmcfee commented on #4769
@editorialbot start review

[2022-10-24 23:12] editorialbot opened #4878 "[REVIEW]: Guitarsounds: A Python package to visualize harmonic sounds for musical instrument testing"
**Submitting author:** @olivecha (<a href="http://orcid.org/0000-0003-3294-2812">Olivier Chabot</a>)
**Repository:** https://github.com/olivecha/guitarsounds
**Branch with paper.md** (empty if default branch): JOSS-Paper
**Version:** 1.2.0
**Editor:** @bmcfee
**Reviewers:** @cwitkowitz, @ebezzam
**Archive:** 10.5281/zenodo.7622901

## Status

[![status](https://joss.theoj.org/papers/744e53a27255b0

[2022-10-24 23:12] #4769 closed

[2022-10-24 23:48] hayesall commented on #4738
Happy to help!

@faroit My review checklist is now complete. As mentioned in the respective issues: there are a few points that can be clarified/improved still, but this meets the core requirements.

[2022-10-25 02:04] diehlpk commented on #4073
@editorialbot add @sepandhaghighi  as reviewer

[2022-10-25 02:05] diehlpk commented on #4073
@editorialbot commands

[2022-10-25 02:05] diehlpk commented on #4073
@editorialbot add @sepandhaghighi as reviewer

[2022-10-25 03:17] majensen commented on #4788
@editorialbot add @SimonGreenhill as reviewer

[2022-10-25 03:18] majensen commented on #4788
@editorialbot start review

[2022-10-25 03:18] editorialbot opened #4879 "[REVIEW]: teiphy: A Python Package for Converting TEI XML Collations to NEXUS and Other Formats"
**Submitting author:** @jjmccollum (<a href="http://orcid.org/0000-0002-5647-0365">Joey McCollum</a>)
**Repository:** https://github.com/jjmccollum/teiphy
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.3
**Editor:** @majensen
**Reviewers:** @tresoldi, @SimonGreenhill
**Archive:** 10.5281/zenodo.7455638

## Status

[![status](https://joss.theoj.org/papers/e0a813f4cdf56e9f6ae5

[2022-10-25 03:18] #4788 closed

[2022-10-25 03:19] majensen commented on #4788
@jjmccollum @tresoldi @SimonGreenhill please join the review over at #4879. Thanks!

[2022-10-25 03:21] majensen commented on #4678
@editorialbot check references

[2022-10-25 03:21] majensen commented on #4678
@editorialbot generate pdf

[2022-10-25 03:28] majensen commented on #4678
Thanks @mzabrams - on the archive, JOSS prefers the archive name to be the name of the paper verbatim, and the archive authors to include all the paper authors. Would you be willing to change the title and author metadata on your current archive? Or alternatively, create a one-off archive that meets those desirables?

[2022-10-25 07:00] mabesa commented on #4805
Thanks a lot! It is a Mac issue then (My colleague and me are working on Windows 11 at the moment). I have made a note in readme and written to the developer of exactextractr. I'll organize a mac for testing too and possibly should run a test on ubuntu as well...

[2022-10-25 07:19] asogaard commented on #4831
Hi @kthyng,
Has there been any changes in the editor availability? And is it still relevant for us to suggest potential reviewers?

[2022-10-25 07:27] DanNixon commented on #4722
Hi all, apologies from me also that my review has taken longer than I said it would, a few things came up that meant I only had the odd bit of time in the evenings to look at the software itself.

Anyway, I am happy with what I have seen and don't have any significant comments beyond what has already been said. The project is very well put together with good documentation and extensive examples/us

[2022-10-25 09:04] xuanxu commented on #4875
@editorialbot generate pdf

Cause of the error after some digging: title was to long for our parser, that was adding newlines after 128 characters. Should be fixed now.

[2022-10-25 09:44] jbytecode commented on #4716
Dear all (@becarioprecario, @wcjochem, and @ConnorDonegan)

The review times of this submission is getting a little bit out of normal intervals.

I know we have tons of workload in our everyday life, but may I kindly request you to speed things up a bit?

Thank you in advance.

[2022-10-25 09:45] becarioprecario commented on #4716
Hi,

I just pointed out a typo in my last e-mail. Other than that, I think that the paper is fine.

Best,

Virgilio

[2022-10-25 09:48] jbytecode commented on #4718
Dear all (@max-little and @klb2)

The review times of this submission is getting a little bit out of normal intervals.

I know we have tons of workload in our everyday life, but may I kindly request you to speed things up a bit?

Thank you in advance.

[2022-10-25 09:50] jbytecode commented on #4716
@becarioprecario - thank you **so much** for finalizing your review and consuming your time for JOSS.

[2022-10-25 09:50] jonathanHuwP commented on #4333
@lucydot @JoannaLeng

We have made 4 changes to the paper fixing typos, they are:

- In the job affiliations change EPSRC to senior for Joanna Leng so “EPSRC Research Fellow in Software Engineering” becomes “senior Research Fellow in Software Engineering”.
- Change is to are so “image analysis packages such as ImageJ, popular with scientific users, is designed” to “image analysis packages such as

[2022-10-25 09:53] samhorsfield96 commented on #4363
Hi @lpantano, I have updated the checklist. The one final area is Quality of writing - There is an error with the formatting of the name "A. thaliana". Apart from this I am happy to accept the paper.

[2022-10-25 09:57] klb2 commented on #4718
I have changed the title of the paper and the package according to the last comment from @max-little.
I believe, that everything is done from my side @jbytecode.

Please let me know, if there is anything left for me to do at this point.

[2022-10-25 10:00] jbytecode commented on #4718
Dear @klb2

It seems you've applied the suggestions came from our reviewer @max-little. Now it is their turn.

Thank you.

[2022-10-25 10:08] max-little commented on #4718
Hello - my review is now finished as @klb2 has responded to all my comments
satisfactorily.

M.

On Tuesday, 25 October 2022, Mehmet Hakan Satman ***@***.***>
wrote:

intervals.

request you to speed things up a bit?

***@***.***>

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Vi