[2018-11-09 18:09] azneto commented on #1021
@andrewjpage, congratulations! This is a very very clever method for finding the sequences of interests in datasets with considerable error rates. TipToft relies on the kmer matching approach to identify perfect hits, without the hassle of dealing with base quality and sequence assembly. I've ran the software a few times during the last weeks using both Fedora and Ubuntu. The software is well docu

[2018-11-09 19:57] arfon commented on #1029
@jschnab - could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2018-11-09 20:01] arokem commented on #996
@whedon assign arokem as editor

[2018-11-09 20:01] whedon commented on #996
OK, the editor is arokem

[2018-11-09 20:02] arokem commented on #996
Sorry for the slowness here! @karlkumbier: do you have suggestions for reviewers for this submission?

[2018-11-09 21:05] ctdegroot commented on #1027
@jedbrown Working on the review. Hope to finish next week.

@fospald I am supposed to check "Does the release version given match the GitHub release (2018.1)?", but the GitHub repo shows no releases tagged. Can you clarify this for me?

[2018-11-09 21:05] ctdegroot commented on #1027
@fospald I read the review above and can see that the release issue has already been discussed.

[2018-11-09 21:13] ctdegroot commented on #1027
_Example usage: Do the authors include examples of how to use the software (ideally to solve real-world analysis problems)._ I don't see any examples of how to use the code. If there are some, can you please tell me where they are and please put something in the README about these.

_Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Repo

[2018-11-09 21:21] ZijieZhaoMMHW commented on #1074
Hi,

I suggest @fgnievinski to be the reviewer.

[2018-11-09 21:21] ZijieZhaoMMHW commented on #1074
@whedon commands

[2018-11-09 21:21] whedon commented on #1074
Here are some things you can ask me to do:

[code]

[2018-11-09 22:09] ZijieZhaoMMHW commented on #1074
Hi,

I suggest @fgnievinski to be the reviewer.

[2018-11-09 23:32] markbasham commented on #1037
@leios if your happy to add that reference, that's the only thing I'm waiting on, if you have can you ask Whedon for a build.  Cheers,  Mark

[2018-11-09 23:53] leios commented on #1037
@whedon generate pdf

[2018-11-09 23:53] whedon commented on #1037
[code]

[2018-11-09 23:54] whedon commented on #1037
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01037/joss.01037/10.21105.joss.01037.pdf)

[2018-11-09 23:55] leios commented on #1037
I think that should update the reference. Thanks!

[2018-11-10 00:06] leios commented on #1037
@whedon generate pdf

[2018-11-10 00:07] whedon commented on #1037
[code]

[2018-11-10 00:07] whedon commented on #1037
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01037/joss.01037/10.21105.joss.01037.pdf)

[2018-11-10 02:17] rmsare commented on #1066
@whedon generate pdf

[2018-11-10 02:18] whedon commented on #1066
[code]

[2018-11-10 02:18] whedon commented on #1066
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01066/joss.01066/10.21105.joss.01066.pdf)

[2018-11-10 11:32] laempy commented on #990
Hello @Iheagy, I have addressed the issues and published a new version 0.2.0a3 to re-review. I have added some comments on each issue.
Next to some minor revisions I have enabled conda installation as suggested by @kbevers. Unfortunately this took much more time than expected. Currently win-64 and linux-64 packages are provided. The installation instructions have been adapted accordingly. In addit

[2018-11-10 13:01] kbevers commented on #990
The changes looks good to me and I have ticked some more boxes above. I most likely won't have time to do a proper test of the code within the next week or two. It does seem to be significantly easier to get started now, good job on that!

[2018-11-10 16:16] carterenyi commented on #1030
I've greatly expanded the readme and added the contributing.md and coc.md.

if @ssfrr is not able to review it, are there other reviewers available?

On Tue, Oct 30, 2018 at 8:12 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2018-11-10 16:19] maxrousseau commented on #855
Hello @arokem, @glemaitre and @mnarayan!
Is it possible to confirm that this is still under active review?
Thank you

[2018-11-10 16:54] rmsare commented on #1066
Thanks for your comments @fclubb and @mcflugen.

The example issues have been addressed in some of the PRs above. I've also clarified the statement of need in the README and added DOIs to the paper.

A conda recipe has been submitted that should take care of install problems.

It seems like the best course of action is cutting a new version after your reviews are completed, and I will release, re-

[2018-11-10 18:04] jschnab commented on #1029
@arfon - I suggest the following reviewers, in no particular order:
conradstack
tacaswell
krother
kellietto
Chilipp
aokad
nagoue

[2018-11-10 18:14] rljacobson commented on #1073
@halirutin @danielskatz Just to clarify, my understanding is that the authors are intending to include in their submission the entire Rubi ecosystem, at least as it relates to its Mathematica implementation, which would include all of the following:

1. The https://github.com/RuleBasedIntegration/Rubi repository
2. The Mathematica test suite, https://github.com/RuleBasedIntegration/MathematicaSynt

[2018-11-10 20:42] jsgalan commented on #980
Hi all,

I overall think is a great package that will simplify a few routinely task done (by us) chemometricians.

_**ISSUES ABOUT THE SOFTWARE PACKAGE**_

i have successfully installed both packages **hoggorm** and **hoggormplot**.
![screen shot 2018-11-10 at 2 37 29 pm](https://user-images.githubusercontent.com/971958/48305528-22b45280-e4fa-11e8-9b73-a748153641ec.png)
which is good, but still I

[2018-11-10 22:12] halirutan commented on #1073
@rljacobson You are correct. I had a bit of a struggle while preparing the manuscript, as JOSS seems to be tailored to the "one repository" software written in an open language like python. Rubi is a bit different because the general idea of putting together a large set of integration rules that allow for symbolic integration is at least as important as its implementation. So yes, the Rubi ecosyst

[2018-11-10 23:00] jedbrown commented on #693
Have you tested with Python-3 (up to 3.6, as `setup.py` claims to support)? The dependency on [MySQL-python](https://github.com/farcepest/MySQLdb1) (which has been abandoned for years) seems to prevent it.

Please also double-check the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html), especially community guidelines (I don't see anything about contributions or support)

[2018-11-11 00:43] arfon commented on #1029
Hi @aokad and @nagoue - would you both be willing to review this submission from @jschnab? You can see the paper [here](https://github.com/openjournals/joss-papers/blob/joss.01029/joss.01029/10.21105.joss.01029.pdf).

I believe you have both reviewed for us in the past, but incase you don't recall, this is an overview of the JOSS review process: https://joss.readthedocs.io/en/latest/review_criteri

[2018-11-11 01:13] mnarayan commented on #855
I am satisfied with all the corrections and have no more issues to raise.

[2018-11-11 01:14] mnarayan commented on #864
I am happy to review this.

[2018-11-11 01:16] maxrousseau commented on #855
@mnarayan Perfect! I think you still need to finish checking the boxes of your review section (above) for the paper to be published.

[2018-11-11 02:33] rljacobson commented on #1073
@halirutan I read your submitted paper just as you describe it, so from my perspective I do not think a revision of the paper is necessary. But as you say, the assumption in the JOSS boilerplate language of a single repository structure does not quite fit this particular application, so I want to make sure we are all on the same page.

@danielskatz A quality review of this software may take longer

[2018-11-11 11:54] arfon commented on #864
Wonderful, thanks @mnarayan. I'll go ahead and set up the review now.

[2018-11-11 11:54] arfon commented on #864
@whedon add @mnarayan as reviewer

[2018-11-11 11:54] whedon commented on #864
OK, @mnarayan is now a reviewer

[2018-11-11 11:55] arfon commented on #864
@whedon assign @arfon as editor

[2018-11-11 11:55] whedon commented on #864
OK, the editor is @arfon

[2018-11-11 11:55] arfon commented on #864
@whedon start review

[2018-11-11 11:55] whedon opened #1075 "[REVIEW]: Yellowbrick: Visualizing the Scikit-Learn Model Selection Process"
**Submitting author:** @bbengfort (<a href="http://orcid.org/0000-0003-0660-7682">Benjamin Bengfort</a>)
**Repository:** <a href="https://github.com/DistrictDataLabs/yellowbrick" target ="_blank">https://github.com/DistrictDataLabs/yellowbrick</a>
**Version:** v0.8
**Editor:** @arfon
**Reviewer:** @mnarayan
**Archive:** <a href="https://doi.org/10.5281/zenodo.1206239" target="_blank">10.5281/zenod

[2018-11-11 11:55] whedon commented on #864
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1075. Feel free to close this issue now!

[2018-11-11 11:55] whedon commented on #1075
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mnarayan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-11-11 11:55] whedon commented on #1075
[code]

[2018-11-11 11:55] whedon commented on #1075
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01075/joss.01075/10.21105.joss.01075.pdf)

[2018-11-11 11:56] #864 closed

[2018-11-11 11:57] arfon commented on #1075
@mnarayan - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know!

[2018-11-11 12:42] lucydot commented on #1071
In general, shenfun is packaged and documented very nicely. I need a few more days to look at functionality, but here are my comments so far:

## Documentation

- I really like the paper published on RawGit  (Unfortunately I noticed that RawGit is shutting down next year, so you'll have to move it across to Github Pages or similar at some point).
- It might be useful to state in the readme that sh

[2018-11-11 13:07] danielskatz commented on #1073
👋 @arfon - can you answer these questions about the paper compilation?

[2018-11-11 16:47] danielskatz commented on #981
@adammichaelwood - What's happened in the last 14 days?

[2018-11-11 16:56] arfon commented on #549
@acabunoc, @dvalters, @paulklemm - I'm sorry to say that we're going to have to close this review. I've been unable to get hold of @jorgeboucas over the past few months and so I have to assume he's no longer interested in pursuing this publication.

My apologies for any time wasted here.

[2018-11-11 16:56] #549 closed

[2018-11-11 18:29] lindsayad commented on #1071
I've been very impressed by the documentation, and I've enjoyed my first exposure to a spectral element implementation.

I'm also exploring the Klein-Gordon problem and I'm a little curious about some of the timings. I'm running on my laptop which has four real cpus, capable of hyperthreading. Results:
[code]
So I do see a speed-up while increasing my real cpu count, but a stagnation or performanc

[2018-11-11 18:36] lindsayad commented on #1071
Sorry, much better to use the `time` module as it's already used in the solver script. Limiting output to rank 0:
[code]
So very strong performance gain moving from 1 to 2 procs, but seemingly diminishing returns moving from 2 to 4. With four procs, there should still be roughly `64**3 / 4 = 65536` degrees of freedom per process, so it seems like still plenty of work for all. Any comment on this?

[2018-11-11 19:33] daijiang commented on #1041
Is the review completed?

[2018-11-11 19:50] cMadan commented on #1026
@snastase, how is the review coming? Do you have any questions about the review procedures?

[2018-11-11 19:51] road2stat commented on #996
@karlkumbier @arokem -sure thing! I'm happy to review this paper. Just let me know what I need to do next.

[2018-11-11 22:40] markbasham commented on #1037
@labarba I am now happy with this review, good luck @leios

[2018-11-11 23:13] labarba commented on #1037
@mgalloy — 👋  How are you getting along with the review? Thanks!

[2018-11-11 23:48] halirutan commented on #1073
@whedon generate pdf

[2018-11-11 23:48] whedon commented on #1073
[code]

[2018-11-11 23:48] whedon commented on #1073
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01073/joss.01073/10.21105.joss.01073.pdf)

[2018-11-12 00:04] leios commented on #1037
Thanks a bunch for the review @markbasham!

As for the current state of the review: There was some difficulty building the code on the latest MacOS release (more info found here: https://github.com/GPUE-group/GPUE/issues/14). This has been noted, but it doesn't seem like there is anything we can do at this stage until Apple and Nvidia developers start talking to each other again.

[2018-11-12 00:10] halirutan commented on #1073
@arfon Locally, it is easily possible to make references appear as [1] simply by setting a different citation style. This can be done inside the [header of paper.md](https://raw.githubusercontent.com/RuleBasedIntegration/JOSS-Publication/master/paper.md) with e.g.

[code]

I included the style file in the repo and, while this works locally with a similar call to pandoc that  @whedon uses

[code]

[2018-11-12 00:11] terrytangyuan commented on #1057
Great software and nice summarization of the background in the paper. A couple of questions and suggestions:

* You provided a section [here](https://github.com/altair-viz/altair#feedback-and-contribution) in `README.md` that mentions how to give feedback and contribute. Could you put it in a `CONTRIBUTING.md` file?
* Just want to double check with the other authors: has @domoritz (the submitting

[2018-11-12 00:41] dlagrava commented on #1060
Hello @trallard that sounds great. Let's move on!

[2018-11-12 00:52] arokem commented on #855
@glemaitre : could you please confirm that you are still reviewing this?

Is there anything left to do from your perspective?

[2018-11-12 00:53] arokem commented on #1062
@whedon start review

[2018-11-12 00:53] whedon opened #1076 "[REVIEW]: idvf: Iterative Inversion of Deformation Vector Field with Adaptive Bi-residual Feedback Control"
**Submitting author:** @ailiop (<a href="http://orcid.org/0000-0002-1959-9792">Alexandros-Stavros Iliopoulos</a>)
**Repository:** <a href="https://github.com/ailiop/idvf" target ="_blank">https://github.com/ailiop/idvf</a>
**Version:** v1.0.3b
**Editor:** @arokem
**Reviewer:** @Kevin-Mattheus-Moerman
**Archive:** <a href="https://doi.org/10.5281/zenodo.2610844" target="_blank">10.5281/zenodo.26108

[2018-11-12 00:53] whedon commented on #1062
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1076. Feel free to close this issue now!

[2018-11-12 00:53] whedon commented on #1076
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Kevin-Mattheus-Moerman it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you'

[2018-11-12 00:53] whedon commented on #1076
[code]

[2018-11-12 00:53] whedon commented on #1076
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01076/joss.01076/10.21105.joss.01076.pdf)

[2018-11-12 00:53] arokem commented on #1062
I am closing this issue. @Kevin-Mattheus-Moerman : please head over to #1076 for the review. Feel free to tag me on issues that you raise on the repo, so that I can follow along.

[2018-11-12 00:53] #1062 closed

[2018-11-12 00:54] arokem commented on #996
@whedon assign @road2stat as reviewer

[2018-11-12 00:54] whedon commented on #996
OK, the reviewer is @road2stat

[2018-11-12 00:55] arokem commented on #996
@road2stat : please take a look at the guidelines for reviewers here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2018-11-12 00:55] arokem commented on #996
Oh - also - thanks for agreeing to review!

[2018-11-12 00:56] arokem commented on #996
@whedon start review

[2018-11-12 00:56] whedon commented on #996
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1077. Feel free to close this issue now!

[2018-11-12 00:56] whedon opened #1077 "[REVIEW]: iRF: Extracting interactions from random forests"
**Submitting author:** @karlkumbier (<a href="http://orcid.org/0000-0001-6521-1173">Karl Kumbier</a>)
**Repository:** <a href="https://github.com/sumbose/iRF" target ="_blank">https://github.com/sumbose/iRF</a>
**Version:** v2.0.0
**Editor:** @arokem
**Reviewer:** @road2stat
**Archive:** <a href="https://doi.org/10.5281/zenodo.1901907" target="_blank">10.5281/zenodo.1901907</a>

## Status

[![stat

[2018-11-12 00:56] whedon commented on #1077
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @road2stat it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-11-12 00:56] whedon commented on #1077
[code]

[2018-11-12 00:56] whedon commented on #1077
PDF failed to compile for issue #1077 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1077/paper.md): could not find expected ':' while scanning a simple key at line 26 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app

[2018-11-12 00:57] arokem commented on #996
@road2stat : please head over to #1077 for your reviewer checklist. Please let me know if you have any questions, and feel free to tag me on review issues that you put up on the software repo. I'll go ahead and close this issue.

[2018-11-12 00:57] #996 closed

[2018-11-12 03:08] otiai10 commented on #1069
Thank you very much for taking time for review. I've patched some updates (mentioned above) to `bib` and `md`.
https://github.com/otiai10/hotsub

[2018-11-12 03:47] otiai10 commented on #1069
@brainstorm Thanks for everything.

https://zenodo.org/record/1482983#.W-j3m3ozbdQ
Does it work?

[2018-11-12 03:58] brainstorm commented on #1069
@whedon set 10.5281/zenodo.1482983 as archive

[2018-11-12 03:58] whedon commented on #1069
OK. <a href="https://doi.org/10.5281/zenodo.1482983" target="_blank">10.5281/zenodo.1482983</a> is the archive.

[2018-11-12 04:00] brainstorm commented on #1069
@whedon accept

[2018-11-12 04:00] whedon commented on #1069
[code]

[2018-11-12 04:01] whedon commented on #1069
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/63

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/63, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-12 04:02] domoritz commented on #1057
Thank you for the review @terrytangyuan!

I'm the co-author of Vega-Lite, created the schema that Altair is generated from, and maintain the Vega-Lite integration in Jupyter Notebooks and Jupyterlab. I created the submission because I did the last push of the paper in https://github.com/altair-viz/altair/pull/394.

I'll send PRs for the other two improvements.

[2018-11-12 04:04] brainstorm commented on #1069
@reisingerf @otiai10 Thanks much everyone!

@arfon LGTM, shall I deposit?

[2018-11-12 05:30] ZijieZhaoMMHW commented on #1074
Potential reviewers are @fgnievinski  and @JesperDramsch if they are ok.

[2018-11-12 06:30] ZijieZhaoMMHW commented on #1074
@whedon generate pdf

[2018-11-12 06:30] whedon commented on #1074
[code]

[2018-11-12 06:30] whedon commented on #1074
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01074/joss.01074/10.21105.joss.01074.pdf)

[2018-11-12 09:49] mikaem commented on #1071
@lucydot Thanks a lot for very good and constructive feedback! I'll start by answering some of your questions/comments below:

Documentation
---------------

    - I really like the paper published on RawGit (Unfortunately I noticed that RawGit is shutting down next year, so you'll have to move it across to Github Pages or similar at some point).

Thanks for the heads up, I did not know that. I'll

[2018-11-12 09:59] fospald commented on #1027
I will make only minor changes to the project and keep everything compatible. I don't want to maintain several branches. There will be no future releases with big changes.

[2018-11-12 10:15] fospald commented on #1027
You run the GUI and then you can select one of the demos (located in the demo directory).
[See here](https://fospald.github.io/fibergen/page/images/screenshot_1.png)
The editor gives help about the available settings in the project file.
[See here](https://fospald.github.io/fibergen/page/images/screenshot_2.png)

Ok. I added a "Contributing" section in the README.

[2018-11-12 10:34] fospald commented on #1027
@ctdegroot End users should use the GUI and should not do any coding.
But I understand the issue. I will try my best add some documentation with Doxygen and reply when I'm done. Also I know that the single file concept is not ideal. Limited time for the project...

[2018-11-12 10:39] mikaem commented on #1071
@lindsayad Thank you for the fast and nice feedback:-)
Some comments on performance. Spectral methods make use of global basis functions and the communication load is therefore very high (MPI Alltoall), much larger than for example for a finite element method that only needs to communicate data on the interface between distributed meshes. For this reason it is usually necessary with a good compute

[2018-11-12 10:43] mikaem commented on #1071
@lucydot Regarding installation, what was the problem with Cython? My understanding is that if cython is in `setup_requires`, then pip will install it if it is missing? And cython is only required for building the code, not for running shenfun, which is why I did not include it under `install_requires`.

[2018-11-12 10:45] mikaem commented on #1071
@lucydot Regarding functionality please see my response to @lindsayad. For scaling tests please use `slab=True`

[2018-11-12 11:10] arfon commented on #1073
Hi @halirutan - I'm afraid we don't offer customizations like this sorry. I realize it's theoretically possible, however, we want to stick to a single citation style.

[2018-11-12 11:13] arfon commented on #1069
@brainstorm - before we accept this, can we update the references to be actual citations in the text?

@otiai10 - Could you move the references you currently have in the `paper.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

Also, it looks like we need to add a date to th

[2018-11-12 11:19] arfon commented on #746
👋 @kdpeterson51 - how are you getting along here?

[2018-11-12 11:20] arfon commented on #1045
@nproellochs - could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2018-11-12 11:21] whedon opened #1078 "[PRE REVIEW]: IDTxl: The Information Dynamics Toolkit xl: a Python package for the efficient analysis of multivariate information dynamics in networks"
**Submitting author:** @pwollstadt (<a href="http://orcid.org/0000-0002-7105-5207">Patricia Wollstadt</a>)
**Repository:** <a href="https://github.com/pwollstadt/IDTxl" target ="_blank">https://github.com/pwollstadt/IDTxl</a>
**Version:** v.0.4.0
**Editor:** @cMadan
**Reviewers:** @danielemarinazzo, @Autoplectic

**Author instructions**

Thanks for submitting your paper to JOSS @pwollstadt. The JO

[2018-11-12 11:24] whedon opened #1079 "[PRE REVIEW]: OApackage: A Python package for generation and analysis of orthogonal arrays and conference designs"
**Submitting author:** @eendebakpt (<a href="http://orcid.org/0000-0001-7018-1124">Pieter Eendebak</a>)
**Repository:** <a href="https://github.com/eendebakpt/oapackage" target ="_blank">https://github.com/eendebakpt/oapackage</a>
**Version:** 2.5.1
**Editor:** @danielskatz
**Reviewers:** @djmitche, @tanaken-basis

**Author instructions**

Thanks for submitting your paper to JOSS @eendebakpt. The

[2018-11-12 11:51] danielskatz commented on #1079
👋 @eendebakpt

1) there seem to be a bunch of reference problems in the compiled PDF.  If you fix the .md, you should be able recompile here by adding a new comment that starts with:
```@whedon generate pdf```

2) Can you suggest reviewers, perhaps from [this list of people](https://bit.ly/joss-reviewers) who have already agreed to review for JOSS, or from outside the list as well.  I think it wou

[2018-11-12 11:51] danielskatz commented on #1079
@whedon assign @danielskatz as editor

[2018-11-12 11:51] whedon commented on #1079
OK, the editor is @danielskatz

[2018-11-12 13:51] lindsayad commented on #1071
Thanks for the comprehensive reply :-) I’m satisfied with it.

Regarding the installation, I ran into the same issue as @lucydot. Cython was not installed automatically by shenfun when pip installing the latter. After manually installing cython first (as noted in your documentation) shenfun obviously installed fine.

[2018-11-12 13:53] mikaem commented on #1071
Ok. Should be fixed by adding cython to `install_requires`, right?

[2018-11-12 13:54] lucydot commented on #1071
Hi @mikaem, thank you for your post re: scaling up. I was running the calculations on HPC which explains why I got a better scale-up. Yes, moving to `install_requires` should fix it.

[2018-11-12 15:49] road2stat commented on #1077
@whedon generate pdf

[2018-11-12 15:49] whedon commented on #1077
[code]

[2018-11-12 15:49] whedon commented on #1077
PDF failed to compile for issue #1077 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1077/paper.md): could not find expected ':' while scanning a simple key at line 26 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app

[2018-11-12 16:08] road2stat commented on #1077
@whedon generate pdf

[2018-11-12 16:08] whedon commented on #1077
[code]

[2018-11-12 16:09] whedon commented on #1077
PDF failed to compile for issue #1077 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1077/paper.md): could not find expected ':' while scanning a simple key at line 26 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app

[2018-11-12 17:10] otiai10 commented on #1069
Thank you,

- I think all the references on `paper.md` are [listed on `paper.md`](https://github.com/otiai10/hotsub/tree/master/paper). Could you please specify what I should actually do more than this?
- Should I add `date` to the `paper.md` as the date it put on [`Zenodo`](https://zenodo.org/record/1482983#.W-myZXozbOR)? : November 12, 2018

[2018-11-12 17:11] pachamaltese commented on #1038
@yochannah @DiegoKoz
Hi!! First of all, thanks a lot for the valuable feedback.
I closed all issues except https://github.com/pachamaltese/gravity/issues/5 after doing various improvements. PPML would requiere extensive coding and that issue is more performance related than user input's checks or statistical concerns.
After all the improvements I updated to v0.9.0 and, IMO, I consider the package

[2018-11-12 17:22] arfon commented on #1069
Yes, you need to remove all of the content underneath the [references section here](https://github.com/otiai10/hotsub/blob/master/paper/paper.md#references) and instead, cite the entries in your `paper.bib` inline in your paper body. When we compile the paper, the references will be compiled automatically.

That should be fine yes.

[2018-11-12 18:18] mgalloy commented on #1037
I have a lead on a machine I can use, I am waiting on a way to login to it.

[2018-11-12 18:42] snastase commented on #1026
@cMadan @raphaelvallat Sorry for holding this up!

I’m not a very experienced developer (also my first JOSS review), so take this as the perspective of intermediate-skill-level user. Overall, I think this is a great contribution. Documentation and examples are stellar. I work through the checklist and point out some minor issues below (most of which are installation issues that may be peculiar to

[2018-11-12 19:10] eendebakpt commented on #1079
@whedon commands

[2018-11-12 19:10] whedon commented on #1079
Here are some things you can ask me to do:

[code]

[2018-11-12 19:35] olivertomic commented on #980
Hi @jsgalan! Thanks a lot for your effort and providing feedback on the package. I will try to implement all requirements as quickly as possible and get back to you once I am done.

best wishes

[2018-11-12 22:05] nagoue commented on #1029
Hi,

Not for me this time.

Cheers,

Le 11/11/2018 à 01:43, Arfon Smith a écrit :

[2018-11-12 22:17] domoritz commented on #1057
@whedon regenerate

[2018-11-12 22:18] domoritz commented on #1057
@whedon generate pdf

[2018-11-12 22:18] whedon commented on #1057
[code]

[2018-11-12 22:18] whedon commented on #1057
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01057/joss.01057/10.21105.joss.01057.pdf)

[2018-11-12 22:37] krischer commented on #1049
# Review

This package performs dynamic time warping (DTW) in many dimensions and is implemented on the GPU. I can only recommend this package for publication after some points have been addressed and this requires a **major revision**. I encourage the author to work at these points.

For full disclaimer I note that I have never used DTW in my own research but I am familiar with similar concepts a

[2018-11-12 23:49] raphaelvallat commented on #1026
@whedon generate pdf

[2018-11-12 23:49] whedon commented on #1026
[code]

[2018-11-12 23:50] whedon commented on #1026
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01026/joss.01026/10.21105.joss.01026.pdf)

[2018-11-13 00:12] raphaelvallat commented on #1026
Hi @snastase!

Thank you so much for your review and your positive feedback, I really appreciate it!

Please find below the answers to the main points that you mentioned in your review:

1) I never tried to run Pingouin on Python 2.7. My idea when I started working on the project was that it would be a Python 3 only package. I uploaded the installation instructions to emphasize that it works bette

[2018-11-13 02:30] aokad commented on #1029
Yes, I'd be willing to review this submission.
This would be my first time reviewing for JOSS, so I'd appreciate some guidance.

[2018-11-13 05:19] stsievert commented on #989
Thanks for the reminder @ccurtis7. I've started it, and will try to finish it this week.

[2018-11-13 05:39] amoeba commented on #1064
Hi @trallard I've made my review (Sorry its one day late). I accept with minor revisions. I left some notes for the authors on https://github.com/romunov/wolfexplorer/issues/42 but checked most everything off. One thing I didn't know about was whether the paper should go in a 	`joss` subfolder or the usual `paper` subfolder at the root of the repo. Do you know?

For now, I'll wait to hear back fro

[2018-11-13 06:34] glemaitre commented on #855
I will have a final look in this week. 

[2018-11-13 09:41] DavideNardone commented on #1049
@krischer Thank you for reviewing the software, I really appreciate the effort you put in. Along with my work commitments, I'll try to give reasonable answers to all your questions and to fix the bugs (if it's possible) as soon as possible.

[2018-11-13 10:32] eendebakpt commented on #1079
@whedon generate pdf

[2018-11-13 10:32] whedon commented on #1079
[code]

[2018-11-13 10:33] whedon commented on #1079
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01079/joss.01079/10.21105.joss.01079.pdf)

[2018-11-13 10:38] eendebakpt commented on #1079
@whedon generate pdf

[2018-11-13 10:38] whedon commented on #1079
[code]

[2018-11-13 10:39] whedon commented on #1079
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01079/joss.01079/10.21105.joss.01079.pdf)

[2018-11-13 10:41] brainstorm commented on #1069
Sorry about that @arfon, will look more closely next time before pre-accepting :-S

[2018-11-13 10:42] eendebakpt commented on #1079
@danielskatz Thanks for picking this up. I updated the references in the paper. As for reviewers:

Based on Python/C++ experience: pragyansmita, katyhuff or djmitche
Based on Python and content experience: tupi

[2018-11-13 11:32] arfon commented on #1069
OK, final step now @otiai10 is to actually cite the references in your paper text. For example, [this citation](https://github.com/otiai10/hotsub/blob/master/paper/paper.bib#L9-L14) for Azure needs to be something like:

[code]

This `[@AzureBatch]` syntax is the bibtex entry key and will be used by Pandoc to compile the references section. This section is now currently blank as you're not actuall

[2018-11-13 11:34] arfon commented on #445
Thanks @nelkibs.

@athrom - do you think you could do this ☝️

[2018-11-13 11:40] whedon opened #1080 "[PRE REVIEW]: Hickle: A HDF5-based Python pickle replacement"
**Submitting author:** @telegraphic (<a href="http://orcid.org/0000-0003-2783-1608">Danny Price</a>)
**Repository:** <a href="https://github.com/telegraphic/hickle" target ="_blank">https://github.com/telegraphic/hickle</a>
**Version:** v3.2.2
**Editor:** @arfon
**Reviewers:** @betteridiot

**Author instructions**

Thanks for submitting your paper to JOSS @telegraphic. The JOSS editor (shown at th

[2018-11-13 11:40] whedon commented on #1080
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-11-13 11:40] whedon commented on #1080
[code]

[2018-11-13 11:40] whedon commented on #1080
PDF failed to compile for issue #1080 with the following error:

 Can't find any papers to compile :-(

[2018-11-13 11:42] arfon commented on #1080
:wave: @telegraphic, thanks for your submission to JOSS. Our robot @whedon is somewhat fussy about filenames so could you please rename your `PAPER.md` to `paper.md` and update the paper to point to your bibliography (it's currently pointing to `paper.bib` but your bibtex appears to be in `references.bib`)

[2018-11-13 11:48] telegraphic commented on #1080
Thanks @arfon, no worries, just pushed the new names.

[2018-11-13 11:58] karlrupp commented on #1049
FYI: My review will follow soon.

[2018-11-13 13:57] sydnerecord commented on #1041
Yes

On Sun, Nov 11, 2018 at 2:34 PM Daijiang Li <notifications@github.com>
wrote:

--
Sydne Record, Ph.D.

Assistant Professor
Department of Biology
Bryn Mawr College
Park 209
Bryn Mawr, PA 19010
phone: (610) 526-5094
fax: (610) 526-5086

[2018-11-13 14:44] fospald commented on #1027
@ctdegroot I added a Doxygen documentation. You have to
git pull
cd doc/doxygen
make (or just doxygen)
firefox html/index.html
(also added this to the README.md)

[2018-11-13 15:15] ngoldbaum commented on #1022
Hmm @arfon am I supposed to actually click the check marks in the comment from whedon at the top? I don't seem to be able to click the check boxes.

[2018-11-13 15:16] ngoldbaum commented on #1022
Oops never mind, I see I'm supposed to accept the invitation and that's mentioned in the instructions.

[2018-11-13 15:35] otiai10 commented on #1069
@whedon generate pdf

[2018-11-13 15:35] whedon commented on #1069
[code]

[2018-11-13 15:36] whedon commented on #1069
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01069/joss.01069/10.21105.joss.01069.pdf)

[2018-11-13 15:39] ngoldbaum commented on #1022
Just a heads up that I'm once again blocked on making further progress due to https://github.com/mgckind/easyaccess/issues/161.

[2018-11-13 15:44] arfon commented on #1080
@whedon generate pdf

[2018-11-13 15:44] whedon commented on #1080
[code]

[2018-11-13 15:45] whedon commented on #1080
PDF failed to compile for issue #1080 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1080/paper.md): mapping values are not allowed in this context at line 17 column 10 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/

[2018-11-13 15:53] arfon commented on #1080
@telegraphic - I made some small fixes to your paper here: https://github.com/telegraphic/hickle/pull/78

[2018-11-13 15:55] arfon commented on #1069
@whedon accept

[2018-11-13 15:55] whedon commented on #1069
[code]

[2018-11-13 15:56] whedon commented on #1069
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/64

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/64, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-13 15:57] arfon commented on #1069
@whedon accept deposit=true

[2018-11-13 15:57] whedon commented on #1069
[code]

[2018-11-13 15:57] whedon commented on #1069
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/65
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01069](https://doi.org/10.21105/joss.01069)
2. If everything looks goo

[2018-11-13 15:59] arfon commented on #1069
@reisingerf - many thanks for your review here and to @brainstorm for editing this submission.

@otiai10 - your paper is now accepted into JOSS! :zap: :rocket: :boom:

[2018-11-13 15:59] #1069 closed

[2018-11-13 15:59] whedon commented on #1069
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01069/status.svg)](https://doi.org/10.21105/joss.01069)

**We need your help!**

Journal of Open Source Softwar

[2018-11-13 17:03] djmitche commented on #1079
I can definitely take a look!

[2018-11-13 18:07] oxinabox commented on #1002
@Whedon generate pdf

[2018-11-13 18:07] whedon commented on #1002
[code]

[2018-11-13 18:53] whedon commented on #1023
[code]

[2018-11-13 18:53] whedon commented on #1023
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01023/joss.01023/10.21105.joss.01023.pdf)

[2018-11-13 19:18] karthik commented on #1041
@whedon generate pdf

[2018-11-13 19:18] whedon commented on #1041
[code]

[2018-11-13 19:18] whedon commented on #1041
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01041/joss.01041/10.21105.joss.01041.pdf)

[2018-11-13 19:26] karthik commented on #1041
@whedon accept

[2018-11-13 19:26] whedon commented on #1041
No archive DOI set. Exiting...

[2018-11-13 19:26] karthik commented on #1041
@daijiang Can you please archive your software on Zenodo and post a DOI here? 🙏

[2018-11-13 19:26] daijiang commented on #1041
10.5281/zenodo.1486200

[2018-11-13 19:32] sydnerecord commented on #1041
Looks good!

On Tue, Nov 13, 2018 at 2:18 PM whedon <notifications@github.com> wrote:

--
Sydne Record, Ph.D.

Assistant Professor
Department of Biology
Bryn Mawr College
Park 209
Bryn Mawr, PA 19010
phone: (610) 526-5094
fax: (610) 526-5086

[2018-11-13 19:40] karthik commented on #1041
@whedon set 10.5281/zenodo.1486200 as archive

[2018-11-13 19:40] whedon commented on #1041
OK. <a href="https://doi.org/10.5281/zenodo.1486200" target="_blank">10.5281/zenodo.1486200</a> is the archive.

[2018-11-13 19:40] karthik commented on #1041
@whedon accept

[2018-11-13 19:40] whedon commented on #1041
[code]

[2018-11-13 19:40] whedon commented on #1041
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/66

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/66, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-13 19:41] karthik commented on #1041
@whedon accept deposit=true

[2018-11-13 19:41] whedon commented on #1041
I'm sorry @karthik, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2018-11-13 19:42] karthik commented on #1041
@arfon Ready for you

[2018-11-13 19:49] arfon commented on #1041
@whedon accept deposit=true

[2018-11-13 19:49] whedon commented on #1041
[code]

[2018-11-13 19:50] whedon commented on #1041
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/67
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01041](https://doi.org/10.21105/joss.01041)
2. If everything looks goo

[2018-11-13 19:53] #1041 closed

[2018-11-13 19:53] whedon commented on #1041
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01041/status.svg)](https://doi.org/10.21105/joss.01041)

**We need your help!**

Journal of Open Source Softwar

[2018-11-13 20:00] karlkumbier commented on #1077
@whedon generate pdf

[2018-11-13 20:00] whedon commented on #1077
[code]

[2018-11-13 20:00] whedon commented on #1077
PDF failed to compile for issue #1077 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1077/paper.md): did not find expected alphabetic or numeric character while scanning an anchor at line 30 column 11 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:3

[2018-11-13 20:01] karlkumbier commented on #1077
@whedon generate pdf

[2018-11-13 20:01] whedon commented on #1077
[code]

[2018-11-13 20:02] whedon commented on #1077
PDF failed to compile for issue #1077 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-b79e4e9c8e4d/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Sumanta Basu, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-b79e4e9c8e4d/lib/whedon/author.rb:57:in `each'

[2018-11-13 20:03] karlkumbier commented on #1077
@whedon generate pdf

[2018-11-13 20:03] whedon commented on #1077
[code]

[2018-11-13 20:03] whedon commented on #1077
PDF failed to compile for issue #1077 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-b79e4e9c8e4d/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Sumanta Basu, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-b79e4e9c8e4d/lib/whedon/author.rb:57:in `each'

[2018-11-13 20:09] daijiang commented on #1041
Thanks @sydnerecord @karthik for your help!

[2018-11-13 20:20] katyhuff commented on #1079
This is somewhat outside my wheelhouse conceptually and I'm a bit overcommitted at the moment, so I should be a reviewer of last resort for this one. Hopefully @pragyansmita or @tupi are available. If not, let me know.

[2018-11-13 21:43] karthik commented on #233
Hi @aknutas, Since it has been more than 18 months since this submission started and we are still not close to acceptance, I am going to close this. Please feel free to resubmit once you have made revisions to your package. Good luck!

[2018-11-13 21:43] #233 closed

[2018-11-13 23:40] karlkumbier commented on #1077
@whedon generate pdf

[2018-11-13 23:40] whedon commented on #1077
[code]

[2018-11-13 23:41] whedon commented on #1077
PDF failed to compile for issue #1077 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-b79e4e9c8e4d/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Sumanta Basu, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-b79e4e9c8e4d/lib/whedon/author.rb:57:in `each'

[2018-11-13 23:42] karlkumbier commented on #1077
@whedon generate pdf

[2018-11-13 23:42] whedon commented on #1077
[code]

[2018-11-13 23:42] whedon commented on #1077
PDF failed to compile for issue #1077 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1077/paper.md): did not find expected key while parsing a block mapping at line 29 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app

[2018-11-13 23:54] karlkumbier commented on #1077
@whedon generate pdf

[2018-11-13 23:54] whedon commented on #1077
[code]

[2018-11-13 23:55] whedon commented on #1077
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01077/joss.01077/10.21105.joss.01077.pdf)

[2018-11-14 00:05] arfon commented on #1080
@whedon generate pdf

[2018-11-14 00:05] whedon commented on #1080
[code]

[2018-11-14 00:05] whedon commented on #1080
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01080/joss.01080/10.21105.joss.01080.pdf)

[2018-11-14 00:17] telegraphic commented on #1080
Looks like the list at the end did not convert from markdown `*`s into bullets?

[2018-11-14 00:19] telegraphic commented on #1080
@whedon generate pdf

[2018-11-14 00:19] whedon commented on #1080
[code]

[2018-11-14 00:19] whedon commented on #1080
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01080/joss.01080/10.21105.joss.01080.pdf)

[2018-11-14 00:21] telegraphic commented on #1080
An extra break seems to have done the trick, the proof looks great

[2018-11-14 00:46] dnszafir commented on #1057
Agreed on acceptance, @jedbrown. Overall, Altair looks like a fantastic and well-documented resource. I ran into a minor challenge with the installation that may be worth addressing given the broad target audience.

I followed the installation instructions as detailed in the repo (which were clear, simple, and well-articulated). Once installed, I ran into a few issues that turned out to be a stale

[2018-11-14 00:55] domoritz commented on #1057
Thank you for the feedback @dnszafir!

@jakevdp will appreciate the feedback on the getting started guide. The troubleshooting guide could suggest updating the Python installation as a possible step to resolve issues.

Altair is definitely designed with (novice) data scientists in mind. @jakevdp gave a tutorial at PyCon and all the materials are at https://github.com/altair-viz/altair-tutorial. Th

[2018-11-14 01:09] arfon commented on #1080
@telegraphic - could you take a look at [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few candidates that might be able to give this package a good review. Also, please start from somewhere near the bottom of the spreadsheet where some of the more recent JOSS review volunteers are listed.

[2018-11-14 03:07] otiai10 commented on #1069
-------

@arfon
CC @friend1ws

Thank you for everything.

I'd like to ask if it's possible to add **co-authors** and **acknowledgements**, and update the paper.

[This change](https://github.com/otiai10/hotsub/pull/119/files) is already merged to master and ready to generate pdf.

Thank you.

[2018-11-14 03:10] telegraphic commented on #1080
How about @mgckind @adammichaelwood  or @betteridiot?

[2018-11-14 05:52] jedbrown commented on #1057
Thanks, @kellieotto and @dnszafir!

@domoritz I have a couple minor (mostly bib) edits here: https://github.com/altair-viz/altair/pull/1195
Also, is it intended that the `notebooks/*.ipynb` work? They look unclean (was last executed out of order) and I see some errors. For example,
[code]
fails because `vl.vegalite` does not exist. Can you look at these?

[2018-11-14 07:02] expectopatronum commented on #996
Sorry for the late response - if you still need an additional reviewer, I'd be interested!

[2018-11-14 09:56] wrathematics commented on #1056
Sorry this took me so long. I think everything basically looks good. A few very minor comments:

* The README.md file describes how to contribute, report problems, and seek support. But I think it's somewhat popular to have a CONTRIBUTING.md file. Personally I prefer having that information in a README, but you might consider creating one.
* I found one minor compiler warning. I submitted an issue

[2018-11-14 11:03] arfon commented on #1069
@whedon generate pdf

[2018-11-14 11:03] whedon commented on #1069
[code]

[2018-11-14 11:09] arfon commented on #1069
Sure thing. The paper is now updated.

[2018-11-14 11:09] otiai10 commented on #1069
Thank you very much! 😄

[2018-11-14 12:01] jlizier commented on #1078
Hi -- some reviewer suggestions from @pwollstadt and I are as follows:
1. Daniele Marinazzo @danielemarinazzo who is familiar with the inference algorithms and underlying information theory measures here.
2. Ryan James @Autoplectic who is familiar with the underlying information theory measures and has published with JOSS in the past.
3. Luca Faes (can't find a github account though), whose expert

[2018-11-14 12:05] arfon commented on #1080
:wave: @adammichaelwood @betteridiot would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2018-11-14 13:14] andrewjpage commented on #1021
Thank you @kapsakcj and @azneto for the kind reviews and for taking the time to use and review the code.

I have added in the PlasmidFinder reference and mentioned it in the text.

I have reformatted the code and removed anything thats redundant or duplicated, so it now passes flake8 and pycodestyle without any errors. Thank you for the pointer to PEP20, its the first time I've come across it and

[2018-11-14 14:19] betteridiot commented on #1080
Let me give a quick glance. I will get back to you by 12:00 PM November 14th (lunch today).

[2018-11-14 14:21] danielemarinazzo commented on #1078
good, hit me. If you preprint I can do an open review too.
I won't be able to review the code though, you might want someone expert in
that.

Luca Faes has no github account indeed afaik.

cheers

On Wed, Nov 14, 2018 at 1:01 PM Joseph Lizier <notifications@github.com>
wrote:

[2018-11-14 16:17] mgymrek commented on #975
@ctb @afrubin @betteridiot would either of you be able to review this submission?

[2018-11-14 16:57] betteridiot commented on #1080
I would be more than happy to review this package

[2018-11-14 17:01] arfon commented on #1080
Great, thanks @betteridiot. I'll go ahead and set you up as a reviewer but there won't be anything to actually do until I've identified a second reviewer and we've created the main review thread.

[2018-11-14 17:01] arfon commented on #1080
@whedon add @betteridiot as reviewer

[2018-11-14 17:05] arfon commented on #1080
@whedon assign @arfon as editor

[2018-11-14 17:05] whedon commented on #1080
OK, the editor is @arfon

[2018-11-14 17:09] betteridiot commented on #975
As interesting as this is, I am a reviewer for another JoSS paper right now.

[2018-11-14 17:57] domoritz commented on #1057
Good catch. I'm fixing the notebooks in https://github.com/altair-viz/altair/pull/1196. The property is called `VegaLite`.

[2018-11-14 18:08] domoritz commented on #1057
The notebooks aren't crucial and shouldn't affect the submission.

[2018-11-14 18:09] domoritz commented on #1057
@whedon generate pdf

[2018-11-14 18:09] whedon commented on #1057
[code]

[2018-11-14 18:09] whedon commented on #1057
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01057/joss.01057/10.21105.joss.01057.pdf)

[2018-11-14 19:05] pwollstadt commented on #1078
Hi all!

@cMadan, we have reviewed the pdf and have found a problem with multiple citations. I fixed that and uploaded the corrected version (https://github.com/pwollstadt/IDTxl/commit/b9316494054e82cff8342e54bc5189a05f677fb4). There was another error in a reference, I also got rid of. Is there any action required on my part to recompile the pdf?

Thanks @jlizier for adding our suggested reviewers

[2018-11-14 20:07] karthik commented on #1056
Thanks very much @wrathematics!
@bastistician Please let me know if you want to address these optional fixes before acceptance.

[2018-11-14 20:15] athrom commented on #445
Hi @nelkibs @arfon
I added the followinglines to the README file:

Please let me know if there is anything else I need to address/add to this declaration.

[2018-11-14 21:13] george-githinji commented on #445
Hi @nelkibs please confirm if this is satisfactory.

[2018-11-14 21:15] george-githinji commented on #634
@arfon I will seek for a new reviewer for this work. @pboesu has not responded to our requests.

[2018-11-14 21:16] george-githinji commented on #634
@whedon list reviewers

[2018-11-14 21:16] whedon commented on #634
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-11-14 22:35] jlizier commented on #1078
@whedon generate pdf

[2018-11-14 22:35] whedon commented on #1078
[code]

[2018-11-14 22:36] whedon commented on #1078
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01078/joss.01078/10.21105.joss.01078.pdf)

[2018-11-14 22:50] jlizier commented on #1078
The 2nd generated PDF proof is fine.

(@cMadan I hope I'm not out of line here by adding:) @danielemarinazzo I don't think JOSS is too worried about code level review, more a check of required features such as documentation, tests, etc -- see https://joss.readthedocs.io/en/latest/reviewer_guidelines.html and see the checklist for the reviewer in issue #1075 for example (a similar checklist would b

[2018-11-14 23:10] Autoplectic commented on #1078
I'm happy to review this work.

[2018-11-15 01:10] cMadan commented on #1078
@jlizier, no problem about revising the PDF. I wouldn't quite agree that we're not worried about code-level review. It's definitely not line-by-line, but this is a software journal and part of evaluating the functionality is agreeing that the code as a whole does what it says it's supposed to do.

@danielemarinazzo, it would be great to have you as a reviewer for this. Evaluate what you think you

[2018-11-15 01:11] cMadan commented on #1078
@whedon add @danielemarinazzo as reviewer

[2018-11-15 01:11] whedon commented on #1078
OK, @danielemarinazzo is now a reviewer

[2018-11-15 01:11] cMadan commented on #1078
@whedon add @Autoplectic as reviewer

[2018-11-15 01:11] whedon commented on #1078
OK, @Autoplectic is now a reviewer

[2018-11-15 01:11] cMadan commented on #1078
@whedon start review

[2018-11-15 01:11] whedon opened #1081 "[REVIEW]: IDTxl: The Information Dynamics Toolkit xl: a Python package for the efficient analysis of multivariate information dynamics in networks"
**Submitting author:** @pwollstadt (<a href="http://orcid.org/0000-0002-7105-5207">Patricia Wollstadt</a>)
**Repository:** <a href="https://github.com/pwollstadt/IDTxl" target ="_blank">https://github.com/pwollstadt/IDTxl</a>
**Version:** 1.0
**Editor:** @cMadan
**Reviewer:** @danielemarinazzo, @Autoplectic
**Archive:** <a href="https://doi.org/10.5281/zenodo.2554339" target="_blank">10.5281/zenod

[2018-11-15 01:11] whedon commented on #1078
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1081. Feel free to close this issue now!

[2018-11-15 01:11] whedon commented on #1081
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danielemarinazzo, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pr

[2018-11-15 01:11] whedon commented on #1081
[code]

[2018-11-15 01:11] #1078 closed

[2018-11-15 01:12] whedon commented on #1081
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01081/joss.01081/10.21105.joss.01081.pdf)

[2018-11-15 01:42] joethorley commented on #1061
@whedon commands

[2018-11-15 01:42] whedon commented on #1061
Here are some things you can ask me to do:

[code]

[2018-11-15 01:52] arfon commented on #1061
@whedon assign @arfon as editor

[2018-11-15 01:52] whedon commented on #1061
OK, the editor is @arfon

[2018-11-15 01:53] arfon commented on #1061
@ibarraespinosa @nanhung - many thanks for agreeing to review this submission! I'll go ahead now and set you up as reviewers and start the review process.

[2018-11-15 01:53] arfon commented on #1061
@whedon add @ibarraespinosa as reviewer

[2018-11-15 01:53] whedon commented on #1061
OK, @ibarraespinosa is now a reviewer

[2018-11-15 01:53] arfon commented on #1061
@whedon add @nanhung as reviewer

[2018-11-15 01:53] whedon commented on #1061
OK, @nanhung is now a reviewer

[2018-11-15 01:53] arfon commented on #1061
@whedon start review

[2018-11-15 01:53] #1061 closed

[2018-11-15 01:53] whedon opened #1082 "[REVIEW]: ssdtools: An R package to fit Species Sensitivity Distributions (SSDs)"
**Submitting author:** @joethorley (<a href="http://orcid.org/0000-0002-7683-4592">Joseph Thorley</a>)
**Repository:** <a href="https://github.com/bcgov/ssdtools" target ="_blank">https://github.com/bcgov/ssdtools</a>
**Version:** v0.0.3
**Editor:** @arfon
**Reviewer:** @ibarraespinosa, @nanhung
**Archive:** <a href="https://doi.org/10.5281/zenodo.1651641" target="_blank">10.5281/zenodo.1651641</a

[2018-11-15 01:53] whedon commented on #1061
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1082. Feel free to close this issue now!

[2018-11-15 01:53] whedon commented on #1082
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ibarraespinosa, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2018-11-15 01:53] whedon commented on #1082
[code]

[2018-11-15 01:54] arfon commented on #1061
@ibarraespinosa, @nanhung, @joethorley - please head over to #1082 for the main review thread.

[2018-11-15 01:54] whedon commented on #1082
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01082/joss.01082/10.21105.joss.01082.pdf)

[2018-11-15 01:54] arfon commented on #1082
@ibarraespinosa, @nanhung - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2018-11-15 01:55] road2stat commented on #1077
@karlkumbier and @arokem - the software and the paper have passed my review. It can be a very useful tool for making random forests interpretable - great job!

[2018-11-15 02:47] ctdegroot commented on #1027
@fospald Can you pull the test cases out of this file? It would be a lot easier for users to learn the code from the test cases if they are easier to find.

[2018-11-15 03:03] ctdegroot commented on #1027
Ok, this helps. I don't think the code structure is ideal by any means. It would be much better to create different header files and source files for different purposes. It's acceptable for the review though. I won't insist on this.

[2018-11-15 03:07] ctdegroot commented on #1027
@fospald I am getting an error "Could NOT find OpenMP_C (missing: OpenMP_C_FLAGS OpenMP_C_LIB_NAMES)", but OpenMP is not listed as a dependency.

[2018-11-15 03:31] ctdegroot commented on #1042
@vaishnavtv The paper contains insufficient references and the one reference that is included is not formatted properly (it appears twice). Please include at least a couple more references. For example, you mention some similar software called "Simscape Multibody". You should reference that.  The first paragraph needs a reference or two also.

[2018-11-15 03:32] ctdegroot commented on #1042
@vaishnavtv Where can I find your automated tests?

[2018-11-15 05:20] ZijieZhaoMMHW commented on #1074
@arfon  Sorry to bother. Just notice that it seems that this issue has not been assigned to anyone.... Should I do anything?

[2018-11-15 09:14] fospald commented on #1027
@ctdegroot fixed that

[2018-11-15 09:22] fospald commented on #1027
@ctdegroot Yes I can, but the test cases are pretty low level and the user should use only XML or Python for doing something. I don't think the test cases are helpful for anybody, except maybe developers.
I will try to also generate a documentation for the Python interface and a short tutorial/help for the GUI and XML files. Ok?

[2018-11-15 12:20] lucydot commented on #1071
Hi @mikaem I've took a look at your updated documentation, and happy to sign off on my review.
cc @katyhuff

[2018-11-15 13:13] arfon commented on #1074
Hi @ZijieZhaoMMHW - I'm currently waiting on an editor to pick up this submission. I'm hoping that one of our MATLAB specialists will be able to handle this submission but they're currently handling a lot of submissions.

Basically, it may take another couple of weeks before this submission will move forward.

[2018-11-15 13:36] JesperDramsch commented on #1074
Hey folks, I'm not sure I'm up for reviewing this one. I'd like to move away from Matlab as I don't even have the current version installed anymore, or know how package management works. Any way I can adjust my record reflecting this?

[2018-11-15 14:33] arfon commented on #1074
No problem @JesperDramsch - I've removed Matlab from your listed languages here: https://bit.ly/joss-reviewers

[2018-11-15 15:12] bastistician commented on #1056
Thanks a lot for the review, @wrathematics! (BTW: I wouldn't judge two weeks as a long review period.)
I really like your suggestion of turning the README into a package vignette as well as including some benchmarks therein. Let me do that before acceptance (@karthik).

[2018-11-15 15:48] myousefi2016 commented on #1072
@MikeHeiber I'm trying to run the MPI test but I'm getting this error:

`[==========] Running 5 tests from 1 test case.
[----------] Global test environment set-up.
[----------] 5 tests from MPI_Test
[ RUN      ] MPI_Test.CalculateProbHistAvgTests
test/test_mpi.cpp:46: Failure
Expected equality of these values:
  6
  (int)prob.size()
    Which is: 3
[  FAILED  ] MPI_Test.CalculateProbHistAvgTests

[2018-11-15 16:41] MarionLegrandLogrami commented on #791
@steffilazerte, my colleagues and I wanted to thank you once again for all the work done and the help provided. Thanks to you we made lot of progress ! For the error concerning the database

I think this is not related to the operating system. I saved the database using the pg_dump command with the -C option to insert in the dump file the command line needed to create the database but unfortunatel

[2018-11-15 17:08] ngoldbaum commented on #1022
Matias has kindly sent me a login and I was able to access the DES database via easyaccess. I was also able to run some of the examples in the presentation on the easyacess website.

Regarding installation and initial configuration issues I ran into I've opened the following issues:

- [ ] https://github.com/mgckind/easyaccess/issues/158
- [ ] https://github.com/mgckind/easyaccess/issues/159
- [ ]

[2018-11-15 17:09] steffilazerte commented on #791
Oh that's useful, I'm glad I was able to help at least a little! Good luck!

[2018-11-15 17:53] vaishnavtv commented on #1042
@whedon generate pdf

[2018-11-15 17:53] whedon commented on #1042
[code]

[2018-11-15 17:53] whedon commented on #1042
PDF failed to compile for issue #1042 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    252      0 --:--:-- --:--:-- --:--:--   254
Error reading bib

[2018-11-15 17:54] vaishnavtv commented on #1042
@whedon generate pdf

[2018-11-15 17:54] whedon commented on #1042
[code]

[2018-11-15 17:55] whedon commented on #1042
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01042/joss.01042/10.21105.joss.01042.pdf)

[2018-11-15 17:59] vaishnavtv commented on #1042
@ctdegroot I have made the recommended changes to the paper - affiliations and references have been added. We were under the impression that our manuscript submitted for publication would suffice as it exhaustively covers all information pertinent to this submission as well. Thank you for the clarification.

For the automated tests, would the files provided in the Examples folder be sufficient?

[2018-11-15 19:31] arfon commented on #1081
@whedon generate pdf

[2018-11-15 19:31] whedon commented on #1081
[code]

[2018-11-15 19:32] whedon commented on #1081
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01081/joss.01081/10.21105.joss.01081.pdf)

[2018-11-15 19:44] pwollstadt commented on #1081
@whedon generate pdf

[2018-11-15 19:44] whedon commented on #1081
[code]

[2018-11-15 19:44] whedon commented on #1081
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01081/joss.01081/10.21105.joss.01081.pdf)

[2018-11-15 21:51] jedbrown commented on #1057
@whedon generate pdf

[2018-11-15 21:51] whedon commented on #1057
[code]

[2018-11-15 21:51] whedon commented on #1057
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01057/joss.01057/10.21105.joss.01057.pdf)

[2018-11-15 22:16] jedbrown commented on #1057
Looks good to me now. @domoritz Go ahead and create an archive on Zenodo or similar.

[2018-11-15 23:59] nanhung commented on #1061
Overall, the package and paper look great. Just a few couples of questions and suggestions:

- For the title, I suggest removing the abbreviation SSDs.
- Does Carl Schwarz make any significant contributions to this paper or software?
- I find that there're only `ssdfit_dist` and `ssdfit_dists` rather than `ssdfit` in your package. Why not combine these two functions to one and named it ssdfit?
- I

[2018-11-16 00:00] nanhung commented on #1082
Overall, the package and paper look great. Just a few couples of questions and suggestions:

- For the title, I suggest removing the abbreviation SSDs.
- Does Carl Schwarz make any significant contributions to this paper or software?
- I find that there're only `ssdfit_dist` and `ssdfit_dists` rather than `ssdfit` in your package. Why not combine these two functions to one and named it ssdfit?
- I

[2018-11-16 00:11] domoritz commented on #1057
I uploaded the current version to Zenodo at https://zenodo.org/record/1489327

[2018-11-16 00:54] joethorley commented on #1082
Thanks @nanhung

My responses are as follows

- done
- yes he wrote the original R scripts on which ssdtools is based
- I decided to provide two functions so that the class of the returned object would not depend on the number of distributions used ie `ssd_fit_dist` returns a object of class `fitdist` while `ssd_fit_dists` returns a object of class `fitdists` which is a list of objects of class `f

[2018-11-16 01:37] joethorley commented on #1082
@whedon commands

[2018-11-16 01:37] whedon commented on #1082
Here are some things you can ask me to do:

[code]

[2018-11-16 01:37] joethorley commented on #1082
@whedon generate pdf

[2018-11-16 01:37] whedon commented on #1082
[code]

[2018-11-16 01:37] whedon commented on #1082
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01082/joss.01082/10.21105.joss.01082.pdf)

[2018-11-16 02:49] nanhung commented on #1082
My concern is since you can use `ssd_fit_dists` to generate the same result as `ssd_fit_dist` such as,
[code]
Why users need to use `ssd_fit_dist` in their analysis?

[2018-11-16 03:00] nanhung commented on #1082
Is it possible to use mutiple hc line in `ssd_plot`, such as,
[code]
The current function only support 1 element.

[2018-11-16 03:18] joethorley commented on #1082
@nanhung `ssd_fit_dist()` is no longer exported to eliminate redundancy

[2018-11-16 03:57] mhucka commented on #728
Hi there! I am hoping to have time at the end of this month.

[2018-11-16 04:07] joethorley commented on #1082
@nanhung `geom_hcintersect()` now takes multiple arguments

[2018-11-16 04:13] crawfordsm commented on #1053
HI @jason-neal  Thanks for the information and good luck with your thesis.   I just wanted to let you know that I have started to review the code and I hope to complete it over the next couple of days.

When I do need to open an issues, do you prefer for me to do so as one single issue related to the review or multiple issues in your repository?

[2018-11-16 05:11] jedbrown commented on #1057
Sorry to not be more explicit, @domoritz. We normally ask for the Zenodo archive to be a tagged version of the software (the interface encourages that IIRC) and the author list of the archive should match the author list of the paper. Can you do that?

[2018-11-16 05:31] domoritz commented on #1057
Here is the new version: https://zenodo.org/record/1489372

[2018-11-16 05:54] jedbrown commented on #1057
@arfon This is basically ready to accept, but the archived version (v2.2.2) does not include the paper (it's the most recent release and there are no important changes since). My understanding is that we want a new version (v2.2.3 for example) to be tagged and archived. Can you confirm?

[2018-11-16 05:56] domoritz commented on #1057
@jakevdp Could you tag a new version?

[2018-11-16 09:29] zkuralt commented on #1009
@whedon generate pdf

[2018-11-16 09:29] whedon commented on #1009
[code]

[2018-11-16 09:29] whedon commented on #1009
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01009/joss.01009/10.21105.joss.01009.pdf)

[2018-11-16 09:31] zkuralt commented on #1009
I suspect that whedon generates PDF from master branch. We will generate it again after merging joss_review branch to master.

[2018-11-16 09:39] trallard commented on #1009
Yes by default it uses master

I can see the paper correctly unless you have been working on an alternate branch for corrections and stuff @zkuralt

[2018-11-16 09:39] trallard commented on #1009
@whedon commands

[2018-11-16 09:39] whedon commented on #1009
Here are some things you can ask me to do:

[code]

[2018-11-16 09:40] trallard commented on #1009
@whedon generate pdf from branch joss_review

[2018-11-16 09:40] whedon commented on #1009
[code]

[2018-11-16 09:40] whedon commented on #1009
PDF failed to compile for issue #1009 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    304      0 --:--:-- --:--:-- --:--:--   306
Error reading bib

[2018-11-16 09:42] trallard commented on #1060
@whedon assign @dlagrava as reviewer

[2018-11-16 09:42] whedon commented on #1060
OK, the reviewer is @dlagrava

[2018-11-16 09:49] trallard commented on #1064
hey @amoeba  thanks for the speedy review

I have looked at . a number of accepted submissions and it seems that there is a mixture of approaches as where to place the paper, some packages have it under a `paper` directory and other under `joss` I think that since the final paper is archived within JOSS itself this _is not a blocker_

---
@zkuralt  I am  going to recompile the paper here as the pr

[2018-11-16 09:49] trallard commented on #1064
@whedon generate pdf from branch joss_review

[2018-11-16 09:49] whedon commented on #1064
[code]

[2018-11-16 09:49] whedon commented on #1064
PDF failed to compile for issue #1064 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    324      0 --:--:-- --:--:-- --:--:--   326
Error reading bib

[2018-11-16 10:06] trallard commented on #1060
@akdiem  let's ping a few fitting reviewers, with Python and computational fluid dynamics expertise. We already have @dlagrava acceptance to review but ideally, we'd want one extra reviewer.

Dear reviewers,

@kyleniemeyer  Kyle, are you able to and interested in taking on this review?
@abhishekbajpayee Abishek, are you able to and interested in taking on this review?
@ctdegroot Christopher, are y

[2018-11-16 12:44] zkuralt commented on #1064
@arfon Thanks, I missed it when adding DOI to the bibliography item.

[2018-11-16 14:57] jason-neal commented on #1053
Multiple issues is fine.

[2018-11-16 15:44] ctdegroot commented on #1042
@vaishnavtv The paper looks good now.

I don't think that the files in the Examples folder are sufficient as test cases because they do not assert what result is expected. Let's imagine that I am a user that makes some changes/extensions to the code. How to I check that I haven't broken anything that already existed?

From the JOSS review criteria:

Good: An automated test suite hooked up to an ex

[2018-11-16 15:55] lheagy commented on #990
:wave: Hi @scivision: would you have time to take another look through the software? Thanks!

[2018-11-16 16:02] nanhung commented on #1082
Just a suggestion. Can you add an assigment (like "group_by") in `ssd_fit_dists` and `predict` that can simplify the approach if the user wants to apply the grouping method.

Here is an example code. I haven't use the `ssd_hc` in this case.

[code]

[2018-11-16 16:58] mgymrek commented on #975
@whedon commands

[2018-11-16 16:58] whedon commented on #975
Here are some things you can ask me to do:

[code]

[2018-11-16 16:59] mgymrek commented on #975
@whedon assign @sjackman as reviewer

[2018-11-16 16:59] whedon commented on #975
OK, the reviewer is @sjackman

[2018-11-16 17:10] mgymrek commented on #975
@whedon start review

[2018-11-16 17:10] whedon opened #1083 "[REVIEW]: GFAKluge: A C++ library and command line utilities for the Graphical Fragment Assembly formats"
**Submitting author:** @edawson (<a href="http://orcid.org/0000-0001-5448-1653">Eric Dawson</a>)
**Repository:** <a href="https://github.com/edawson/gfakluge" target ="_blank">https://github.com/edawson/gfakluge</a>
**Version:** 1.1.2
**Editor:** @mgymrek
**Reviewer:** @sjackman
**Archive:** <a href="https://doi.org/10.5281/zenodo.2546721" target="_blank">10.5281/zenodo.2546721</a>

## Status

[![

[2018-11-16 17:10] whedon commented on #975
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1083. Feel free to close this issue now!

[2018-11-16 17:10] whedon commented on #1083
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sjackman it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-11-16 17:10] whedon commented on #1083
[code]

[2018-11-16 17:10] whedon commented on #1083
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01083/joss.01083/10.21105.joss.01083.pdf)

[2018-11-16 17:12] #975 closed

[2018-11-16 18:52] joethorley commented on #1082
@nanhung It's a frequent request. I've added an example to the manual demonstrating a more elegant approach to grouping ie

[code]

[2018-11-16 19:01] nanhung commented on #1082
How about the HC for each group? Can we use different HC values in this plot?

[2018-11-16 19:29] joethorley commented on #1082
@nanhung I've also added to the manual a demonstration of how to plot HC5s for different groups

[code]

[2018-11-16 20:42] vaishnavtv commented on #1042
@ctdegroot
As recommended, I have added a Tests folder to the repository. The user can simply run TestPendulum.m to check the results of their changes to the code. I have also modified the Contributing Guidelines document to reflect this update.

I have removed all the .DS_Store files as well.

[2018-11-16 21:37] crawfordsm commented on #1053
`Eniric` is software to compute the theoretical precision of stellar radial velocity computations for stellar spectra.  It is an updated python version of the code presented in Figueria et al (2016) .  The software is timely and useful and would be worthy of publication in JOSS after some revisions.   The code comes with a suite of tests, notebooks demonstrating its usage, and scripts to simplify

[2018-11-16 21:54] crawfordsm commented on #1053
Those are the minor comments -- thanks for writing the code and let me know if you have any questions or if anything was not clear.

[2018-11-17 01:11] jeffmacinnes commented on #984
Hi @nnadeau, I noticed two pull requests that I had overlooked earlier this week, so went ahead and merged -- thanks for those fixes! I think that we've addressed the other concerns, but please let me know if there's anything else that I'm missing.

[2018-11-17 12:44] raphaelvallat commented on #1026
Hi @snastase and @cMadan !

I am just wondering what should be the next step(s) for this review. Is there anything else that I can do?
This is my very first JOSS paper so I am new to this process,

Thank you and have an excellent day!
Raphael

[2018-11-17 12:53] whedon opened #1084 "[PRE REVIEW]: 'AvantageToPlot: A tool to process batch data of XPS files from the Thermo Avantage software into publication-ready plots'"
**Submitting author:** @gkerherve (<a href="http://orcid.org/0000-0002-6449-1828">gwilherm kerherve</a>)
**Repository:** <a href="https://github.com/gkerherve/AvantageToPlot" target ="_blank">https://github.com/gkerherve/AvantageToPlot</a>
**Version:** v13.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @gkerherve. The JOSS editor (sho

[2018-11-17 12:53] whedon commented on #1084
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-11-17 12:53] whedon commented on #1084
[code]

[2018-11-17 12:53] whedon commented on #1084
PDF failed to compile for issue #1084 with the following error:

 Can't find any papers to compile :-(

[2018-11-17 12:56] whedon opened #1085 "[PRE REVIEW]: HRDS: A Python package for hierarchical raster datasets"
**Submitting author:** @jhill1 (<a href="http://orcid.org/0000-0003-1340-4373">Jon Hill</a>)
**Repository:** <a href="https://github.com/EnvModellingGroup/hdrs" target ="_blank">https://github.com/EnvModellingGroup/hdrs</a>
**Version:** 0.1
**Editor:** @kthyng
**Reviewers:** @edoddridge, @ChrisBarker-NOAA

**Author instructions**

Thanks for submitting your paper to JOSS @jhill1. The JOSS editor (

[2018-11-17 12:56] whedon commented on #1085
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kthyng it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-11-17 12:56] whedon commented on #1085
[code]

[2018-11-17 12:56] arfon commented on #1085
:wave: @kthyng - the submitting author suggested you as the handling editor.

[2018-11-17 12:56] whedon commented on #1085
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01085/joss.01085/10.21105.joss.01085.pdf)

[2018-11-17 12:57] whedon opened #1086 "[PRE REVIEW]: ggvoronoi: Voronoi Diagrams and Heatmaps with ggplot2"
**Submitting author:** @garretrc (<a href="http://orcid.org/0000-0002-1434-6630">Robert Garrett</a>)
**Repository:** <a href="https://github.com/garretrc/ggvoronoi" target ="_blank">https://github.com/garretrc/ggvoronoi</a>
**Version:** v0.8.2
**Editor:** @yochannah
**Reviewers:** @trinker, @corybrunson

**Author instructions**

Thanks for submitting your paper to JOSS @garretrc. The JOSS editor (

[2018-11-17 12:57] whedon commented on #1086
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-11-17 12:57] whedon commented on #1086
[code]

[2018-11-17 12:57] whedon commented on #1086
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01086/joss.01086/10.21105.joss.01086.pdf)

[2018-11-17 12:57] arfon commented on #1086
:wave: @trinker - would you be willing to review this submission for JOSS?

[2018-11-17 13:02] cMadan commented on #1026
@raphaelvallat, I think you're all set for now.

@snastase, can you look over the reviewer checklist in the first post in this issue and check off what's all sorted, and see what still needs to be addressed? Apart from that, please look over @raphaelvallat's response and revisions and let us know what you think of the current state of the submission.

[2018-11-17 15:19] garretrc commented on #1086
@whedon commands

[2018-11-17 15:19] whedon commented on #1086
Here are some things you can ask me to do:

[code]

[2018-11-17 15:30] garretrc commented on #1086
@whedon generate pdf

[2018-11-17 15:30] whedon commented on #1086
[code]

[2018-11-17 15:30] whedon commented on #1086
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01086/joss.01086/10.21105.joss.01086.pdf)

[2018-11-17 17:09] trinker commented on #1086
@arfon Yes

[2018-11-17 17:38] rmsare commented on #1066
@kthyng Thanks for the follow up.

I believe I have addressed the points raised so far by both reviewers. The following changes have been made:

- [x] Add DOIs to paper
- [x] Add statement of need to README
- [x] Refactor example data access
- [x] Clarify how to run examples and access sample data in both README and docs
- [x] Change call to a GDAL binary based on @mcflugen's code review
- [ ] Sub

[2018-11-17 18:46] nnadeau commented on #984
@jeffmacinnes last two issues:
- https://github.com/jeffmacinnes/mobileGazeMapping/issues/14
- https://github.com/jeffmacinnes/mobileGazeMapping/issues/13

Then I believe it's all good to go! Kudos!

[2018-11-17 20:30] jhill1 commented on #1085
Hi @kthyng, how about jsta, edoddridge, or kbevers as possible reviewers?

[2018-11-17 20:34] jhill1 commented on #1085
@whedon generate pdf

[2018-11-17 20:34] whedon commented on #1085
[code]

[2018-11-17 20:34] whedon commented on #1085
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01085/joss.01085/10.21105.joss.01085.pdf)

[2018-11-17 20:44] carterenyi commented on #1030
Hello,

Any progress on this?

On Sat, Nov 10, 2018 at 11:16 AM Aaron Carter-Enyi <carterenyi@gmail.com>
wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2018-11-17 20:44] carterenyi commented on #1030
Hello,

@Kevin-Mattheus-Moerman <https://github.com/Kevin-Mattheus-Moerman>, any
progress on this?

On Sat, Nov 17, 2018 at 3:43 PM Aaron Carter-Enyi <carterenyi@gmail.com>
wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2018-11-17 21:44] jason-neal commented on #1053
Thanks for the review.
Yes, I am aware that the documentation is incomplete and I will take the advice to move it to an automated build on Read the Docs.
I have used Sphinx and Read the Docs previously in 2016 but if you have a favourite or up-to-date resource (other than the basic sphinx/read the doc documentation) on the matter that would be helpful.

I will attempt to get this implemented over

[2018-11-17 21:51] kthyng commented on #1085
@kbevers — I asked you about a different potential review about a month ago and you didn't have time then, but I wonder if you have time for a review now?

@edoddridge are you willing and able to review this JOSS submission? You can read more about the process [here](https://joss.readthedocs.io/en/latest/review_criteria.html).

Normally we ask for reviews in about 2 weeks, but for anyone in the US

[2018-11-17 22:55] ctdegroot commented on #1060
@trallard I am interested, but I have two other JOSS reviews on the go right now. I am willing to do it, but with the understanding that it might take me a few weeks to start my review.

[2018-11-18 01:30] cMadan commented on #862
@ejolly, how are things going?

[2018-11-18 02:06] kthyng commented on #1074
Hi @arfon! I don't use Matlab anymore, but I do oceanography. I can edit this if you want.

[2018-11-18 02:15] arfon commented on #1074
✨ that would be great. Thanks @kthyng!

[2018-11-18 02:15] arfon commented on #1074
@whedon assign @kthyng as editor

[2018-11-18 02:16] whedon commented on #1074
OK, the editor is @kthyng

[2018-11-18 02:44] kthyng commented on #1074
Hi @fgnievinski and @mvdh7: are you willing and able to review this JOSS submission? You can read more about the process [here](https://joss.readthedocs.io/en/latest/review_criteria.html). We normally ask for reviews in about 2 weeks but given there is a holiday in the US next week, I would like reviews in the next 3 weeks.

[2018-11-18 15:40] yochannah commented on #1038
@whedon generate pdf

[2018-11-18 15:40] whedon commented on #1038
[code]

[2018-11-18 15:40] whedon commented on #1038
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01038/joss.01038/10.21105.joss.01038.pdf)

[2018-11-18 15:45] nproellochs commented on #1045
@whedon commands

[2018-11-18 15:45] whedon commented on #1045
Here are some things you can ask me to do:

[code]

[2018-11-18 15:48] nproellochs commented on #1045
@whedon list reviewers

[2018-11-18 15:48] whedon commented on #1045
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-11-18 15:53] nproellochs commented on #1045
Potential reviewers are @kbenoit and @terrytangyuan

[2018-11-18 16:29] yochannah commented on #1038
@pachamaltese I've made a PR with a few minor grammar edits for the paper: https://github.com/pachamaltese/gravity/pull/12 - Oh wait, I see you have already merged it, nice!

[2018-11-18 16:30] yochannah commented on #1038
@whedon generate pdf

[2018-11-18 16:30] whedon commented on #1038
[code]

[2018-11-18 16:30] whedon commented on #1038
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01038/joss.01038/10.21105.joss.01038.pdf)

[2018-11-18 16:35] yochannah commented on #1038
@pachamaltese - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? Also take note of the authors list - it may pick my typo contribution up - you'll need to manually edit the metadata to remove me.

[2018-11-18 16:49] yochannah commented on #1052
@whedon assign @yochannah as editor

[2018-11-18 16:49] whedon commented on #1052
OK, the editor is @yochannah

[2018-11-18 17:16] yochannah commented on #1052
:wave: Hey @gasparl! I'll be editing this paper. Thanks for the list of suggested reviewers. While we're settling who will review the paper, it might be a good idea to look through [another review issue in this repo](https://github.com/openjournals/joss-reviews/labels/review) to get an idea of the things reviewers will be looking for. I'd recommend starting by adding a README.md to your bitbucket

[2018-11-18 17:37] djmitche commented on #1079
For my reference, since I haven't reviewed anything here since volunteering, [these](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) are the reviewer guidelines.

[2018-11-18 17:46] andytwoods commented on #1052
Kind of wish there was a readme and not just the pdf. And can't access the pdf on my fone as I'd need to download whole project! Happy to review if they add a readme.

[2018-11-18 17:57] yochannah commented on #1086
@whedon assign @yochannah as editor

[2018-11-18 17:57] whedon commented on #1086
OK, the editor is @yochannah

[2018-11-18 18:01] yochannah commented on #1086
Hey @garretrc, thanks for submitting this paper for review! I'll be editing this for JOSS.

@trinker thanks for being willing to review!

The next step is to find a second reviewer before we kick off the official review. @trinker @garretrc - any suggestions for reviewer number 2 by any chance, perhaps from the [reviewer spreadsheet](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHm

[2018-11-18 18:09] yochannah commented on #1038
@whedon set http://doi.org/10.21105/joss.01038 as archive

[2018-11-18 18:09] whedon commented on #1038
OK. <a href="https://doi.org/10.21105/joss.01038" target="_blank">10.21105/joss.01038</a> is the archive.

[2018-11-18 18:11] gasparl commented on #1052
Thanks very much @yochannah and @andytwoods! I now renamed the documentation md file to README.md - if these should be two separate texts (e.g., shorter README.md), do let me know.

I checked a couple of previous reviews already, but I will do another round very soon.

[2018-11-18 18:12] yochannah commented on #1038
Okay! @arfon I think we're ready to accept this one. 🎉 🎆

Thanks @DiegoKoz for reviewing and @pachamaltese for your patience - I know it's been a long process for this paper!

[2018-11-18 18:41] garretrc commented on #1086
Maybe @nuest or @jhollist ? Based on folks who listed R and spatial in the spreadsheet

[2018-11-18 20:54] kbevers commented on #1085
Sorry, things hasn't changed much. Realistically I won't have time the rest of the year.

[2018-11-18 23:20] labarba commented on #865
I've emailed @rasmussn one last time. If he is unresponsive or unable to complete his review in the next week, I will make an executive decision and accept on the basis of @rouson's recommendation.

[2018-11-18 23:42] jhollist commented on #1086
Not a firm no.  I have some possible work changes coming up that would limit my ability to do a review.  I should know more in 10-12 days.  If you can get someone else that'd be best, but I'll keep y'all updated on my status.

[2018-11-19 00:15] maxrousseau commented on #855
@glemaitre: Any final thoughts?

[2018-11-19 00:30] snastase commented on #1026
Okay, I think the author has adequately addressed my comments! New v0.2.0 fixes my import problems for `linear_regression` and `mediation_analysis`. The `pairwise_ttests` functionality now works normally for me. I like the mention of statsmodels in the FAQ. I've completed the review checklist above and am satisfied with the current state of the package—I endorse it for acceptance/publication.

[2018-11-19 00:30] garretrc commented on #1086
Looking at people who listed R and data viz I see @corybrunson and @tweed1e if either of you would be willing to review!

[2018-11-19 00:59] lindsayad commented on #1071
Amazing that the system "std" C++ headers for OS X Sierra are not standard compliant (real and imaginary component setters are done through references instead of through void methods that take an argument (as the standard dictates)). But after using a local standard library install, I get all tests to pass with the exception of the `test_curl` test for long double, e.g. I get a `KeyError` for `'G'

[2018-11-19 01:05] katyhuff commented on #1071
Very nice everyone! @lindsayad @lucydot thanks a lot for your quick and thorough reviews. I'll take a quick look over in the morning and we'll finalize the acceptance.

[2018-11-19 01:20] evan-l-munson commented on #764
Good evening @arfon, I think I made all the requested corrections.  Please let me know if you need anything else corrected/adjusted.  Thanks for the patience and assistance in this process.

[2018-11-19 01:29] #1084 closed

[2018-11-19 01:30] arfon commented on #1039
@whedon generate pdf

[2018-11-19 01:30] whedon commented on #1039
[code]

[2018-11-19 01:31] whedon commented on #1039
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01039/joss.01039/10.21105.joss.01039.pdf)

[2018-11-19 01:32] arfon commented on #1039
👋 @arokem - would you be willing to edit this submission for JOSS?

[2018-11-19 01:46] arfon commented on #1048
:wave: @mgymrek - would you be able to edit this submission for JOSS?

[2018-11-19 01:55] arfon commented on #1045
@whedon assign @arfon as editor

[2018-11-19 01:55] whedon commented on #1045
OK, the editor is @arfon

[2018-11-19 01:57] arfon commented on #623
Hi @zedtaha. Please feel free to resubmit this sometime again in the future if you're able to make the changes requested here by our reviewers.

@JoFAM @leeper, many thanks for all of your help here.

[2018-11-19 01:57] #623 closed

[2018-11-19 01:58] arfon commented on #722
@whedon assign @arfon as editor

[2018-11-19 02:01] arfon commented on #764
:wave: @kbenoit - please come and take another look at this submission when you get a chance, the author has made some updates based on your feedback.

[2018-11-19 02:01] arfon commented on #764
@whedon assign @arfon as editor

[2018-11-19 02:01] arfon commented on #746
@whedon assign @arfon as editor

[2018-11-19 02:02] arfon commented on #1023
@soodoku, @russellpierce - it looks like you're both making good progress with your reviews here. Do you think you might be able to complete them in the next week?

[2018-11-19 02:02] arfon commented on #1023
@whedon assign @arfon as editor

[2018-11-19 02:34] terrytangyuan commented on #1045
@arfon Are you commenting in the wrong issue or is this on purpose? @nproellochs has suggested two potential reviewers (including myself) that are totally different than the ones you listed. I'd be happy to review though.

[2018-11-19 03:51] ejolly commented on #862
Hey @cMadan sorry this has a been a bit frustrating to sort out various installation issues but I think thinks should be set for the most part now! The trickiness has really been with `rpy2` a core dependency of `pymer4`. Despite much effort from their development team it appears to me that it's relatively well known in the community that installation of that pacakage can be tricky.

I just pushed

[2018-11-19 05:03] djmitche commented on #1079
Aside from the community guidelines noted above, everything looks on the up-and-up.  I would like a general pointer in the docs or README to what the heck a Conference Design is -- it's a particularly difficult thing to search for, since there are a lot of Design Conferences out there.   A quick sentence about how this might be used would be helpful, too.  The paragraph beginning "As an example" i

[2018-11-19 08:04] kbenoit commented on #764
@arfon Happy to do so.

[2018-11-19 08:05] kbenoit commented on #1045
Happy to help if need, @arfon just let me know.

[2018-11-19 10:01] glemaitre commented on #855
Sorry for the delay regarding this review. Let me book some time in
the week to finalize it.
Since that you have the +1 of @mnarayan, I assume that it should be ok.

[2018-11-19 11:20] cMadan commented on #1070
@JonathanReardon, let me know if there is anything I can do to help!

[2018-11-19 11:32] cMadan commented on #1026
@snastase, perfect, thank you for your thorough review!

@raphaelvallat, you're almost done! I just need the DOI for an archived version of the current code (i.e., deposit it on Zenodo or FigShare).

[2018-11-19 11:40] janfreyberg commented on #862
This looks good to me and the new installation instructions are very good! I like the `test_install()` function, too.

[2018-11-19 11:42] arfon commented on #1038
:wave: thanks for making the archive DOI. Unfortunately what you have done won't work. The DOI you have used with Zenodo is the DOI that _JOSS_ will issue (https://doi.org/10.21105/joss.01038). Instead, you need another DOI for the software archive.

When you have a new DOI, please notify us here and we'll proceed with accepting the paper.

[2018-11-19 11:44] arfon commented on #1045
Thanks folks! I was trying to not overload you both with reviews but if you're happy to help with this submission I'd love to have your reviews!

[2018-11-19 13:38] katyhuff commented on #1071
@mikaem thank you for a strong submission and for engaging actively in the review process!
Could you please make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission! (You may want to be sure to double check the paper, all minor details, etc. before creating the archive).

Than

[2018-11-19 13:38] katyhuff commented on #1071
@whedon generate pdf

[2018-11-19 13:38] whedon commented on #1071
[code]

[2018-11-19 13:39] whedon commented on #1071
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01071/joss.01071/10.21105.joss.01071.pdf)

[2018-11-19 13:42] katyhuff commented on #1072
(for provenance, that issue is https://github.com/MikeHeiber/Ising_OPV/issues/10)

[2018-11-19 13:53] mikaem commented on #1071
Thanks a lot @katyhuff, @lucydot and @lindsayad :-)

Is it too late to make any changes to the pdf? I noticed that changes to the documentation based on the very good suggestions of the esteemed reviewers had not been migrated to the pdf:-)

[2018-11-19 13:53] lindsayad commented on #1071
Thanks, I enjoyed reviewing!

[2018-11-19 13:56] corybrunson commented on #1086
Probably—i hope to finish a review for a paper journal today or tomorrow; if i succeed, then i'll be glad to take this on and finish within a week. Will update within a day.

[2018-11-19 14:10] katyhuff commented on #1071
@mikaem it is not at all too late to make changes to the pdf. Quite the opposite -- the ideal time is now. So, go ahead and double check that paper, review any lingering details in your code/readme/etc., and then make an archive of the reviewed software in Zenodo/figshare/other service. When you update this thread with the DOI of the archive, I'll move forward with the submission. Until then, this

[2018-11-19 14:14] terrytangyuan commented on #1045
Thanks! Yes, happy to review this.

[2018-11-19 14:21] mikaem commented on #1071
@whedon generate pdf

[2018-11-19 14:21] whedon commented on #1071
[code]

[2018-11-19 14:22] whedon commented on #1071
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01071/joss.01071/10.21105.joss.01071.pdf)

[2018-11-19 14:30] mikaem commented on #1071
@katyhuff is it also ok to bump the version number before a final submit? I used version 1.2.0 in the original submission, but there has been modifications.

[2018-11-19 14:37] RichardLitt commented on #1052
I unfortunately do not have time at the moment. Good luck.

[2018-11-19 15:03] mikaem commented on #1071
@whedon generate pdf

[2018-11-19 15:03] whedon commented on #1071
[code]

[2018-11-19 15:04] whedon commented on #1071
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01071/joss.01071/10.21105.joss.01071.pdf)

[2018-11-19 15:10] edoddridge commented on #1085
I'd be happy to review this. I'll be away for the holiday most of this week, but can definitely do it within 3 weeks.

[2018-11-19 15:19] katyhuff commented on #1071
Indeed @mikaem, if a new release is desired, to reflect review-related changes to the paper and code, many authors do issue a new (minor or patch) release version at this stage, before making the DOI.

[2018-11-19 15:53] mikaem commented on #1071
Thanks @katyhuff, we should then be able to continue
DOI that resolves to latest version:
https://doi.org/10.5281/zenodo.1237749
DOI of latest version now:
https://doi.org/10.5281/zenodo.1491713

[2018-11-19 16:04] katyhuff commented on #1071
@mikaem Okay, we can only use one DOI, and it should point to a single, exact, reviewed version, so I'm going to use 10.5281/zenodo.1491713 .

[2018-11-19 16:06] katyhuff commented on #1071
@whedon set 10.5281/zenodo.1491713 as archive

[2018-11-19 16:06] whedon commented on #1071
OK. <a href="https://doi.org/10.5281/zenodo.1491713" target="_blank">10.5281/zenodo.1491713</a> is the archive.

[2018-11-19 16:07] katyhuff commented on #1071
@whedon generate pdf

[2018-11-19 16:07] whedon commented on #1071
[code]

[2018-11-19 16:07] whedon commented on #1071
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01071/joss.01071/10.21105.joss.01071.pdf)

[2018-11-19 16:50] ctdegroot commented on #820
@kyleniemeyer Ok, I finally got the conda recipe working. It took a really long time to figure out, but there was an issue with conda doing static linking with the Python library and swig doing dynamic linking. Long story short, I finally got rid of a pesky segfault.

The package can be found here: https://anaconda.org/cdegroo5/wediff

Right now I've just done the MacOS version, but the Linux one

[2018-11-19 16:52] ctdegroot commented on #1042
@labarba I'm satisfied with the changes so far. Still need to finish checking on the functionality of the code; hopefully soon.

[2018-11-19 16:59] raphaelvallat commented on #1026
@snastase Great! thank you so much, Samuel, for your review!

@cMadan The DOI number of the current release is: https://zenodo.org/badge/latestdoi/127584791

[![DOI](https://zenodo.org/badge/127584791.svg)](https://zenodo.org/badge/latestdoi/127584791)

Have a great day!
Raphael

[2018-11-19 17:18] ctdegroot commented on #1027
@fospald Ok. This review is a bit strange for me because normally the code is made accessible to developers as well as users. I suppose that is fine if the scope is made clear.

@jedbrown Can you help clarify the position of JOSS on GUI-only type software contributions? There's not much available here to understand the code, but the GUI is well documented.

[2018-11-19 17:23] cMadan commented on #1026
@whedon set archive as 10.5281/zenodo.1491783

[2018-11-19 18:32] arfon commented on #720
@whedon assign @arfon as editor

[2018-11-19 18:34] arfon commented on #720
I've followed up with @seandenigris by email.

[2018-11-19 18:38] arfon commented on #1045
@whedon add @terrytangyuan as reviewer

[2018-11-19 18:39] whedon commented on #1045
OK, @terrytangyuan is now a reviewer

[2018-11-19 18:39] arfon commented on #1045
@whedon add @kbenoit as reviewer

[2018-11-19 18:39] whedon commented on #1045
OK, @kbenoit is now a reviewer

[2018-11-19 18:39] arfon commented on #1045
@whedon start review

[2018-11-19 18:39] whedon opened #1087 "[REVIEW]: ReinforcementLearning: A Package to Perform Model-Free Reinforcement Learning in R"
**Submitting author:** @nproellochs (<a href="http://orcid.org/0000-0002-1835-7302">Nicolas Proellochs</a>)
**Repository:** <a href="https://github.com/nproellochs/ReinforcementLearning" target ="_blank">https://github.com/nproellochs/ReinforcementLearning</a>
**Version:** v1.0.2
**Editor:** @arfon
**Reviewer:** @terrytangyuan, @kbenoit
**Archive:** <a href="https://doi.org/10.5281/zenodo.3244170"

[2018-11-19 18:39] whedon commented on #1045
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1087. Feel free to close this issue now!

[2018-11-19 18:39] whedon commented on #1087
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @terrytangyuan, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2018-11-19 18:39] whedon commented on #1087
[code]

[2018-11-19 18:40] arfon commented on #1045
OK thanks @terrytangyuan & @kbenoit - thanks for agreeing to review this submission! See you both over in #1087 for the actual review.

[2018-11-19 18:40] #1045 closed

[2018-11-19 18:40] whedon commented on #1087
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01087/joss.01087/10.21105.joss.01087.pdf)

[2018-11-19 19:49] danielskatz commented on #1073
👋 @acolum & @rljacobson - it looks like both reviews are making progress.  I'm just checking in to see if either of you need anything.  If you're just working through this, great, but if you are stuck somehow, please let me know.

[2018-11-19 19:50] danielskatz commented on #981
@adammichaelwood - What's happened in the last 22 days?

[2018-11-19 19:52] danielskatz commented on #1079
Thanks @djmitche  - let me try to find another reviewer, then I'll open a review issue, where you can check off stuff like you've started to do above...
Sorry for the delay.

[2018-11-19 19:56] karthik commented on #785
@flor14 I noticed there are couple more issues to fix before we can proceed with this. Can you please address the last two issues (5/6) that Kyle raised. I'd like to wrap this up before the end of the year. Thanks.

[2018-11-19 20:03] pachamaltese commented on #1038
@arfon Hi. It is updated now :)
https://zenodo.org/record/1491873#.W_MW5OhKhPY

[2018-11-19 20:29] nanhung commented on #1082
I'm trying to create the same plot in the example of `ssd_plot` by `geom_ssd` function. However, it seems that the `geom_ssd` doesn't support the different color by groups.

[code]

[2018-11-19 20:31] joethorley commented on #1082
try
[code]

[2018-11-19 21:39] jeffmacinnes commented on #984
Thanks @nnadeau! I just fixed those last two issues. I really appreciate your help reviewing this repo and helping us get the package prepped for release. @cMadan -- just let us know what's next!

[2018-11-19 23:15] arfon commented on #1071
@whedon accept

[2018-11-19 23:15] whedon commented on #1071
[code]

[2018-11-19 23:15] whedon commented on #1071
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/69

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/69, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-19 23:16] arfon commented on #1071
@whedon accept deposit=true

[2018-11-19 23:16] whedon commented on #1071
[code]

[2018-11-19 23:17] whedon commented on #1071
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/70
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01071](https://doi.org/10.21105/joss.01071)
2. If everything looks goo

[2018-11-19 23:19] arfon commented on #1071
@lucydot, @lindsayad - many thanks for your reviews here and to @katyhuff for editing this submission ✨

@mikaem - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-11-19 23:19] #1071 closed

[2018-11-19 23:19] whedon commented on #1071
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01071/status.svg)](https://doi.org/10.21105/joss.01071)

**We need your help!**

Journal of Open Source Softwar

[2018-11-19 23:20] arfon commented on #1026
@whedon accept deposit=true

[2018-11-19 23:21] whedon commented on #1026
[code]

[2018-11-19 23:21] whedon commented on #1026
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/71
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01026](https://doi.org/10.21105/joss.01026)
2. If everything looks goo

[2018-11-19 23:22] arfon commented on #1026
@snastase - many thanks for your review and to @cMadan for editing this submission ✨

@raphaelvallat - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-11-19 23:22] #1026 closed

[2018-11-19 23:22] whedon commented on #1026
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01026/status.svg)](https://doi.org/10.21105/joss.01026)

**We need your help!**

Journal of Open Source Softwar

[2018-11-19 23:23] arfon commented on #1038
@whedon set 10.5281/zenodo.1491873 as archive

[2018-11-19 23:23] whedon commented on #1038
OK. <a href="https://doi.org/10.5281/zenodo.1491873" target="_blank">10.5281/zenodo.1491873</a> is the archive.

[2018-11-20 00:17] arfon commented on #911
@joaordaniel thanks for following up here. Could you be a little more specific about the edits/updates that you _have_ made based on @maxheld83's feedback?

[2018-11-20 00:18] arfon commented on #911
Also :wave: folks. I'll be talking over as editor for this submission since @leeper has unfortunately had to resign his role with JOSS because of his new job.

[2018-11-20 00:31] gasparl commented on #1052
@whedon generate pdf

[2018-11-20 00:31] whedon commented on #1052
[code]

[2018-11-20 00:32] whedon commented on #1052
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01052/joss.01052/10.21105.joss.01052.pdf)

[2018-11-20 00:37] gasparl commented on #1052
I went through the Review checklist once more, and I think everything should be fine. I now added a more thoroughly explained example usage, two example output files, and also an automatic testing function. I correspondingly updated the manual with the related information.
I also made some very small final corrections in the paper.

[2018-11-20 00:44] arfon commented on #899
@danehkar has confirmed by email that he is going to try and make updates by the end of November.

[2018-11-20 01:13] myousefi2016 commented on #1072
@katyhuff I'm pretty much done with reviewing this software. @MikeHeiber Really interesting application to generate 3D microstructures. Good job Mike!

[2018-11-20 05:15] jedbrown commented on #1027
I can solicit more specific input from the editorial board, but [the policy states](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) (among other points):

1. The software should be a significant contribution to the available open source software that either enables some new research challenges to be addressed or makes addressing research challenges significantly bett

[2018-11-20 05:20] ctdegroot commented on #1027
@jedbrown This package does seem to provide a platform for research. I was a bit unsure what to do because the code can’t really be understood without a lot of effort.

I’ll finish my review once the installation issues I’m having are solved.

[2018-11-20 08:35] Kevin-Mattheus-Moerman commented on #1014
@vmagnin can you reply to my comment above please. Thanks.

[2018-11-20 08:37] Kevin-Mattheus-Moerman commented on #1021
@ctb, are you able to add your review comments? Thanks :rabbit:

[2018-11-20 08:38] Kevin-Mattheus-Moerman commented on #1013
@aviks can you give an update as to how you are getting on with the review process? Thanks.

[2018-11-20 08:40] Kevin-Mattheus-Moerman commented on #1012
@dahtah, @jeroen, @NikEfth can you give an update as to where we are on the review process?

[2018-11-20 08:42] Kevin-Mattheus-Moerman commented on #1012
@dahtah can you clarify the license for this work and where it can be found? Thanks.

[2018-11-20 08:43] Kevin-Mattheus-Moerman commented on #974
@danielhatton how are you getting on? Can you provide an update on progress? Thanks

[2018-11-20 08:44] Kevin-Mattheus-Moerman commented on #1047
@zhampel, @dmittman, can  you provide an update on where we are in the review process? @rhiever when can we expect your contribution? Thanks!

[2018-11-20 08:47] Kevin-Mattheus-Moerman commented on #941
@maieul, @MarjorieBurghart, @Padlina can you provide an update on where we stand in the review process? Has @stenskjaer worked on the issues you highlighted? Please tick as many boxes as you are currently able to at the top. Also please list any key issues you feel are preventing you from ticking the last boxes. Thanks.

[2018-11-20 08:49] Kevin-Mattheus-Moerman commented on #927
@anmuller, @modenaxe, @demotu, @nicoguaro, can you provide an update on where we stand in the review process? Did @anmuller respond to your issues appropriately? What are the remaining issues? Thanks!

[2018-11-20 08:51] Kevin-Mattheus-Moerman commented on #922
@hclent thanks for your comments. At this point the author needs to address the issues raised. I'll ping you here if we require your feedback, thanks!

[2018-11-20 08:51] Kevin-Mattheus-Moerman commented on #922
@mandar2812 how are you getting on? Can you formulate a reply to the issues raised by the reviewers? Thanks.

[2018-11-20 09:32] Kevin-Mattheus-Moerman commented on #1042
@vaishnavtv can you please work on adding basic community guidelines? See this issue:
- [ ] [Community Guidelines](https://github.com/uqLab/stedy/issues/6)

[2018-11-20 09:33] Kevin-Mattheus-Moerman commented on #1042
@labarba thanks for the reminder. Only one box now remains unticked and it relates to community guidelines. I've opened an issue on this an am awaiting feedback from the author.

[2018-11-20 09:33] fospald commented on #1027
@ctdegroot can I help you with the installation issues?

[2018-11-20 09:36] Kevin-Mattheus-Moerman commented on #1070
@JonathanReardon can you provide an estimate of when you will be able to work on this review? Thanks.

[2018-11-20 09:38] Kevin-Mattheus-Moerman commented on #1030
@whedon generate pdf

[2018-11-20 09:38] whedon commented on #1030
[code]

[2018-11-20 09:38] whedon commented on #1030
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01030/joss.01030/10.21105.joss.01030.pdf)

[2018-11-20 09:53] Kevin-Mattheus-Moerman commented on #1030
@alexanderlerch @tyiannak @nikhilbhanu @ybayle @gwynethbradbury @hooman650 @aparks5 this is a review invitation for [JOSS (the Journal of Open Source Software)](http://joss.theoj.org/). Would you be able to review [this work](https://github.com/carterenyi/emviz), it is a MATLAB project featuring "pattern recognition for symbolic music".
The [JOSS review process](https://joss.readthedocs.io/en/late

[2018-11-20 09:54] Kevin-Mattheus-Moerman commented on #1030
@carterenyi thanks for implementing those changes. I've just tried to contact more potential reviewers. Please let me know if you have any other suitable reviewers in mind. Thanks.

[2018-11-20 10:03] mandar2812 commented on #922
Hi @Kevin-Mattheus-Moerman, sorry for the delayed response. I am currently in the final year of my PhD, although I really appreciate the feedback from the referees. This will require significant investment of time from me.

If it is possible to give me a few months to make progress on this, it would be great. If that is not possible, I accept whatever decision that you want to make regarding this

[2018-11-20 10:36] Kevin-Mattheus-Moerman commented on #922
@mandar2812 In order to ensure we do not loose track of the reviewers I do recommend that you work on this as soon as possible, however we can pause this submission for now and await your work in a couple of months.

[2018-11-20 10:37] Kevin-Mattheus-Moerman commented on #922
@arfon how do we assign a "pause" label here?

[2018-11-20 10:39] arfon commented on #922
Just use the label picker on the top right of the issue ☝️

[2018-11-20 11:00] whedon opened #1088 "[PRE REVIEW]: GAMA: Genetic Automated Machine learning Assistant"
**Submitting author:** @PGijsbers (<a href="http://orcid.org/0000-0001-7346-8075">Pieter Gijsbers</a>)
**Repository:** <a href="https://github.com/PGijsbers/GAMA" target ="_blank">https://github.com/PGijsbers/GAMA</a>
**Version:** v0.1.0
**Editor:** @arokem
**Reviewers:** @jsgalan

**Author instructions**

Thanks for submitting your paper to JOSS @PGijsbers. The JOSS editor (shown at the top of th

[2018-11-20 11:00] whedon commented on #1088
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-11-20 11:00] whedon commented on #1088
[code]

[2018-11-20 11:00] whedon opened #1089 "[PRE REVIEW]: The Climate Equity Reference Calculator"
**Submitting author:** @krueschan (<a href="http://orcid.org/0000-0003-0722-1044">Christian Holz</a>)
**Repository:** <a href="https://github.com/climateequityreferenceproject/cerc-web" target ="_blank">https://github.com/climateequityreferenceproject/cerc-web</a>
**Version:** v3.2.1
**Editor:** @jedbrown
**Reviewers:** @mtobis

**Author instructions**

Thanks for submitting your paper to JOSS @kr

[2018-11-20 11:00] whedon commented on #1089
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-11-20 11:00] whedon commented on #1089
[code]

[2018-11-20 11:00] whedon opened #1090 "[PRE REVIEW]: rcites: An R package to access the CITES Speciesplus database"
**Submitting author:** @JonasGeschke (<a href="http://orcid.org/0000-0002-5654-9313">Jonas Geschke</a>)
**Repository:** <a href="https://github.com/ropensci/rcites" target ="_blank">https://github.com/ropensci/rcites</a>
**Version:** 1.0.0
**Editor:** @karthik
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @JonasGeschke. The JOSS editor (shown at the top o

[2018-11-20 11:00] whedon commented on #1090
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-11-20 11:00] whedon commented on #1090
[code]

[2018-11-20 11:00] whedon commented on #1088
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01088/joss.01088/10.21105.joss.01088.pdf)

[2018-11-20 11:01] whedon commented on #1089
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01089/joss.01089/10.21105.joss.01089.pdf)

[2018-11-20 11:01] whedon commented on #1090
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01090/joss.01090/10.21105.joss.01090.pdf)

[2018-11-20 11:15] cMadan commented on #984
@nnadeau, can you check and see if you're satisfied with those issues? If so, please update the reviewer checklist at the top.

@jeffmacinnes, after @nnadeau confirms everything is all set, I'll look over things one last time and see if there are any minor issues remaining. If not, I'll ask you to archive the code in Zenodo or figshare and you'll be all set! So, just sit tight for now, but we're a

[2018-11-20 11:31] vmagnin commented on #1014
Dear @Kevin-Mattheus-Moerman
sorry for the delay, of course I have read your request and I have begun thinking about the arguments to add in the paper. But I was busy with other things these last weeks.
I will work on it this week.

[2018-11-20 11:33] arfon commented on #1090
Many thanks @JonasGeschke. Can you check the [article proof](https://github.com/openjournals/joss-papers/blob/joss.01090/joss.01090/10.21105.joss.01090.pdf) and let me know if this looks good to accept?

[2018-11-20 11:35] flor14 commented on #785
I will have a look a soon as possible. Thank you.

El lun., 19 nov. 2018 a las 16:56, Karthik Ram (<notifications@github.com>)
escribió:

[2018-11-20 11:37] krueschan commented on #1089
@whedon generate pdf

[2018-11-20 11:37] whedon commented on #1089
[code]

[2018-11-20 11:38] whedon commented on #1089
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01089/joss.01089/10.21105.joss.01089.pdf)

[2018-11-20 11:46] krueschan commented on #1089
@whedon generate pdf

[2018-11-20 11:46] whedon commented on #1089
[code]

[2018-11-20 11:46] whedon commented on #1089
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01089/joss.01089/10.21105.joss.01089.pdf)

[2018-11-20 11:55] krueschan commented on #1089
Thanks, whedon, the proofs look good after changes I made.

[2018-11-20 12:49] carterenyi commented on #1030
Thanks, I unfortunately don't know many in open-source software

On Tue, Nov 20, 2018 at 4:54 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2018-11-20 12:53] JonasGeschke commented on #1090
Thanks @arfon. We made some minor changes in the affiliations, so could you please update the article proof?

[2018-11-20 14:30] arfon commented on #1090
@whedon generate pdf

[2018-11-20 14:30] whedon commented on #1090
[code]

[2018-11-20 14:30] whedon commented on #1090
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01090/joss.01090/10.21105.joss.01090.pdf)

[2018-11-20 14:32] JonasGeschke commented on #1090
Great, thank you @arfon! Looking good now.

[2018-11-20 14:59] ctdegroot commented on #1027
@fospald I submitted an issue on the repository; let's discuss there. I have OpenMP installed, but CMake isn't finding it. I'm not that familiar with CMake, so if the error message gives you any clues, please let me know.

[2018-11-20 15:05] arfon commented on #1090
@whedon assign @arfon as reviewer

[2018-11-20 15:05] whedon commented on #1090
OK, the reviewer is @arfon

[2018-11-20 15:05] arfon commented on #1090
@whedon start review

[2018-11-20 15:05] #1090 closed

[2018-11-20 15:05] whedon opened #1091 "[REVIEW]: rcites: An R package to access the CITES Speciesplus database"
**Submitting author:** @JonasGeschke (<a href="http://orcid.org/0000-0002-5654-9313">Jonas Geschke</a>)
**Repository:** <a href="https://github.com/ropensci/rcites" target ="_blank">https://github.com/ropensci/rcites</a>
**Version:** 1.0.0
**Editor:** @karthik
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.1490219" target="_blank">10.5281/zenodo.1490219</a>

## Status

[

[2018-11-20 15:05] whedon commented on #1090
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1091. Feel free to close this issue now!

[2018-11-20 15:05] whedon commented on #1091
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-11-20 15:05] whedon commented on #1091
[code]

[2018-11-20 15:06] whedon commented on #1091
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01091/joss.01091/10.21105.joss.01091.pdf)

[2018-11-20 15:06] arfon commented on #1091
@whedon assign 10.5281/zenodo.1490219 as archive

[2018-11-20 15:07] arfon commented on #1091
@whedon set 10.5281/zenodo.1490219 as archive

[2018-11-20 15:07] whedon commented on #1091
OK. <a href="https://doi.org/10.5281/zenodo.1490219" target="_blank">10.5281/zenodo.1490219</a> is the archive.

[2018-11-20 15:08] arfon commented on #1091
@whedon accept

[2018-11-20 15:08] whedon commented on #1091
[code]

[2018-11-20 15:08] whedon commented on #1091
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/74

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/74, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-20 15:12] arfon commented on #1091
@whedon accept deposit=true

[2018-11-20 15:12] whedon commented on #1091
[code]

[2018-11-20 15:13] whedon commented on #1091
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/75
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01091](https://doi.org/10.21105/joss.01091)
2. If everything looks goo

[2018-11-20 15:24] arfon commented on #1091
@JonasGeschke - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-11-20 15:24] #1091 closed

[2018-11-20 15:24] whedon commented on #1091
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01091/status.svg)](https://doi.org/10.21105/joss.01091)

**We need your help!**

Journal of Open Source Softwar

[2018-11-20 15:34] whedon opened #1092 "[PRE REVIEW]: pyam: a Python Package for the Analysis and Visualization of Assessment Models"
**Submitting author:** @gidden (<a href="http://orcid.org/0000-0003-0687-414X">Matthew Gidden</a>)
**Repository:** <a href="https://github.com/IAMconsortium/pyam" target ="_blank">https://github.com/IAMconsortium/pyam</a>
**Version:** v0.1.2
**Editor:** @lheagy
**Reviewers:** @jtmiclat, @Chilipp

**Author instructions**

Thanks for submitting your paper to JOSS @gidden. The JOSS editor (shown at t

[2018-11-20 15:34] whedon commented on #1092
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@lheagy) to find some reviewers for yo

[2018-11-20 15:34] whedon commented on #1092
[code]

[2018-11-20 15:34] whedon commented on #1092
PDF failed to compile for issue #1092 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1092/paper/paper.md): mapping values are not allowed in this context at line 5 column 18 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/ve

[2018-11-20 15:34] arfon commented on #1092
:wave: @lheagy - the submitting author suggested you as the handling editor.

[2018-11-20 15:36] arfon commented on #1092
:wave: @gidden: this PR fixes the YAML of your paper: https://github.com/IAMconsortium/pyam/pull/144

[2018-11-20 15:39] gidden commented on #1092
Thanks again @arfon, PR is merge. This is my first submission to JOSS, will @whedon automatically rerender pdfs upon updates to `master` or do we need to explicitly ask it to do so?

[2018-11-20 15:42] arfon commented on #1092
You'll need to request another build. You can do this with `@whedon generate pdf`

[2018-11-20 16:01] gidden commented on #1092
@whedon generate pdf

[2018-11-20 16:01] whedon commented on #1092
[code]

[2018-11-20 16:02] whedon commented on #1092
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01092/joss.01092/10.21105.joss.01092.pdf)

[2018-11-20 16:09] gidden commented on #1092
@whedon generate pdf

[2018-11-20 16:09] whedon commented on #1092
[code]

[2018-11-20 16:10] whedon commented on #1092
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01092/joss.01092/10.21105.joss.01092.pdf)

[2018-11-20 16:14] gidden commented on #1092
@whedon generate pdf

[2018-11-20 16:14] whedon commented on #1092
[code]

[2018-11-20 16:14] whedon commented on #1092
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01092/joss.01092/10.21105.joss.01092.pdf)

[2018-11-20 16:40] labarba commented on #1042
We have recommendations to accept from @Kevin-Mattheus-Moerman and @ctdegroot, but we never heard back from @apsabelhaus.

👋 @apsabelhaus — did this escape your radar? If you're not available now to volunteer a review, we can proceed without you, and perhaps count on you at some other time. You can [sign up](http://joss.theoj.org/reviewer-signup.html) online to be listed as a potential reviewer.

[2018-11-20 16:42] apsabelhaus commented on #1042
@labarba yes, this did indeed fall under my radar! My apologies to the review team and the authors. I'll perform the review today.

[2018-11-20 16:43] stenskjaer commented on #941
@Kevin-Mattheus-Moerman I have added some paragraphs to give the context suggested by @maieul and pushed it to the repo of the software. But I don't know if I should trigger a rebuild of the article from in here, or somewhere else?

Further, these changes (caused by the reviews under progress) has moved the history of the repo past the 0.5.0 release flag in the repo. Should it be updated or indica

[2018-11-20 16:51] Kevin-Mattheus-Moerman commented on #941
@whedon generate pdf

[2018-11-20 16:52] whedon commented on #941
[code]

[2018-11-20 16:52] whedon commented on #941
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00941/joss.00941/10.21105.joss.00941.pdf)

[2018-11-20 16:53] Kevin-Mattheus-Moerman commented on #941
@stenskjaer thanks for the update. You can call `@whedon generate pdf` here at any time to recreate the PDF.
In relation to the version number. That is fine. Thanks for letting us know. We will make sure we update the number if this work is accepted in JOSS.

[2018-11-20 16:54] Kevin-Mattheus-Moerman commented on #941
@maieul can you check the [updated paper](https://github.com/openjournals/joss-papers/blob/joss.00941/joss.00941/10.21105.joss.00941.pdf)? Thanks.

[2018-11-20 18:10] fospald commented on #1027
@ctdegroot I added a tutorial and Python interface docstring to the documentation/source code.

[2018-11-20 18:14] rmsare commented on #1066
@whedon commands

[2018-11-20 18:14] whedon commented on #1066
Here are some things you can ask me to do:

[code]

[2018-11-20 19:03] apsabelhaus commented on #1042
@Kevin-Mattheus-Moerman it doesn't seem like I'm able to fill out the checklist. Following the link to https://github.com/openjournals/joss-reviews/invitations seems to imply I haven't been formally sent an invitation. Could you do so / am I missing something? I'll proceed with evaluating the software in the meantime! Thanks again for everyone's patience, I'm more used to traditional academic peer

[2018-11-20 19:10] labarba commented on #1042
@arfon Can you help us? I added @apsabelhaus as reviewer manually here, after the review started, so we don't have the benefit of our bot `whedon` setting the permissions right. I don't remember how to give the permissions to the reviewer, in this case. I looked at the teams in the org, but it's not clear to me: a `joss-reviewers` team exists, but it has only two members.

[2018-11-20 19:18] ctdegroot commented on #820
@kyleniemeyer That was my mistake. It was picking up the _fwd_diff file from another installation, not the conda one. I have uploaded the package again and I think it should work. Works on my system with the other installation removed.

[2018-11-20 19:48] ybayle commented on #1030
Hello @Kevin-Mattheus-Moerman and @carterenyi and thank you for your invitation.

I agree to review this submission.
If you are missing reviewers, you could ask people from the ISMIR community (On [Slack](https://launchpass.com/mircommunity) or on the [Google Mailing List](https://groups.google.com/a/ismir.net/forum/#!forum/community).

Little details on the form of the last proof-version before s

[2018-11-20 20:12] arfon commented on #1042
@labarba - I've added @apsabelhaus as an external collaborator to this repository which will will allow them to update the checklist.  @apsabelhaus - the invite is available here: https://github.com/openjournals/joss-reviews/invitations

[2018-11-20 20:20] mdoucet commented on #1072
I've completed my review. Looks good!

[2018-11-20 20:38] whedon opened #1093 "[PRE REVIEW]: portalr: an R package for summarizing and using the Portal Project Data"
**Submitting author:** @emchristensen (<a href="http://orcid.org/0000-0002-5635-2502">Erica Christensen</a>)
**Repository:** <a href="https://github.com/weecology/portalr" target ="_blank">https://github.com/weecology/portalr</a>
**Version:** v0.1.4
**Editor:** @karthik
**Reviewers:** @Pakillo

**Author instructions**

Thanks for submitting your paper to JOSS @emchristensen. The JOSS editor (shown

[2018-11-20 20:38] whedon commented on #1093
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@karthik) to find some reviewers for

[2018-11-20 20:38] whedon commented on #1093
[code]

[2018-11-20 20:38] whedon commented on #1093
PDF failed to compile for issue #1093 with the following error:

 Can't find any papers to compile :-(

[2018-11-20 20:40] arfon commented on #1093
:wave: @emchristensen - could you please rename your `paper.Rmd` file to `paper.md` please?

[2018-11-20 20:40] arfon commented on #1093
@karthik - the submitting author suggested you as the handling editor.

[2018-11-20 20:48] emchristensen commented on #1093
oops, ok it's renamed now

[2018-11-20 20:58] apsabelhaus commented on #1042
Thank you @arfon and @labarba ! Started checking off the list.

My initial review is that this is a very nice piece of software, with a well-defined use case, filling a gap that the community needs. With some minor changes and clarifications, I would be ready to recommend for publication. @vaishnavtv , I've opened a handful of issues, mostly about documentation or technical questions. I've current

[2018-11-20 21:40] Kevin-Mattheus-Moerman commented on #1030
@whedon assign @ybayle as reviewer

[2018-11-20 21:40] whedon commented on #1030
OK, the reviewer is @ybayle

[2018-11-20 22:42] JonathanReardon commented on #1070
Apologies for the delay in getting back to you, I will be able to work on the review tomorrow, Thursday, and Friday.

[2018-11-20 23:30] arfon commented on #1093
@whedon generate pdf

[2018-11-20 23:30] whedon commented on #1093
[code]

[2018-11-20 23:30] whedon commented on #1093
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01093/joss.01093/10.21105.joss.01093.pdf)

[2018-11-20 23:39] emchristensen commented on #1093
I just removed a bit of code leftover when it was a .Rmd, otherwise looks good.

[2018-11-20 23:39] arfon commented on #1093
@whedon generate pdf

[2018-11-20 23:39] whedon commented on #1093
[code]

[2018-11-20 23:40] whedon commented on #1093
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01093/joss.01093/10.21105.joss.01093.pdf)

[2018-11-20 23:43] emchristensen commented on #1093
looks good

[2018-11-20 23:56] kyleniemeyer commented on #820
@ctdegroot I'm sorry, but I just tried again and got the same error as above, after removing the wediff install and then reinstalling it (and confirming that no other package is present, at least via python). Could it still be picking up the other installed package on your system?

[2018-11-21 01:00] ctdegroot commented on #820
@kyleniemeyer Just checked by importing wediff and issuing command "wediff._fwd_diff.__file__", which confirms that it is the one installed by conda. So, it's working on my system.

[2018-11-21 01:08] ctdegroot commented on #1042
@vaishnavtv You need to revise your installation instructions. It is not clear that steps 3b and 3c are only required if there is an error. I had to read several times to make sense of it.

[2018-11-21 01:12] ctdegroot commented on #1042
@vaishnavtv In the test that you've added, please do not make the user interactively enter data. If I'm trying to test the code as a new user, I don't know what I should enter. Is one test enough to verify the full functioning of the code?

[2018-11-21 01:15] ctdegroot commented on #1042
@vaishnavtv Regarding the item "Performance: If there are any performance claims of the software, have they been confirmed? (If there are no claims, please check off this item.)": You have stated in your paper that "We have demonstrated superiority of the method in terms of accuracy over the commercially avail- able dynamics simulator, Simscape Multibody". There is a performance claim made. How do

[2018-11-21 02:54] ibarraespinosa commented on #1082
Hi @joethorley Interesting package. Demo is not running on line 42, consider adding ggplot2::autoplot(fits) or library(ggplto2) on ssdtools.R

[2018-11-21 05:13] joethorley commented on #1082
@ibarraespinosa thanks - fixed

[2018-11-21 05:15] joethorley commented on #1082
ahh - I just saw your pull request - I would have accepted had I seen it earlier

[2018-11-21 05:19] joethorley commented on #1082
@ibarraespinosa I accepted your pull request because it is more elegant than what I did

[2018-11-21 05:35] ZijieZhaoMMHW commented on #1074
@whedon generate pdf

[2018-11-21 05:35] whedon commented on #1074
[code]

[2018-11-21 05:35] whedon commented on #1074
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01074/joss.01074/10.21105.joss.01074.pdf)

[2018-11-21 05:58] ZijieZhaoMMHW commented on #1074
@whedon generate pdf

[2018-11-21 05:58] whedon commented on #1074
[code]

[2018-11-21 05:58] whedon commented on #1074
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01074/joss.01074/10.21105.joss.01074.pdf)

[2018-11-21 06:44] carterenyi commented on #1030
@whedon <https://github.com/whedon> generate pdf

On Tue, Nov 20, 2018 at 4:40 PM whedon <notifications@github.com> wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2018-11-21 06:47] carterenyi commented on #1030
@whedon generate pdf

On Wed, Nov 21, 2018 at 1:43 AM Aaron Carter-Enyi <carterenyi@gmail.com>
wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2018-11-21 06:47] whedon commented on #1030
[code]

[2018-11-21 06:47] whedon commented on #1030
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01030/joss.01030/10.21105.joss.01030.pdf)

[2018-11-21 07:45] carterenyi commented on #1030
@Kevin-Mattheus-Moerman and @ybayle
I have responded to Yann's noted issues:

   - The 7th reference is badly displayed,
   - Images' titles only contain the file name and no description,
   - There is a missing addpath('../EMVizScripts/'); in EMVizGUI.m in order
   to launch the project after a git clone.

I added a few lines for the last item, but I couldn't really tell whether
it is working bec

[2018-11-21 08:34] fclubb commented on #1066
Hi @rmsare, I have checked the changes that you made and I am happy with submission - I have checked off all the points in my checklist. Nice work!

[2018-11-21 08:42] dahtah commented on #1012
@Kevin-Mattheus-Moerman The license can be found in the DESCRIPTION file of the R package, as per recommend practice. Do you mean clarify the license in the manuscript?

[2018-11-21 09:11] Kevin-Mattheus-Moerman commented on #1012
Thanks for the clarification. You do not need to mention the license in the paper. But here are some steps I think you should take:

- [ ] The DESCRIPTION file simply reads: `License: LGPL`, however this license type has [three variations i.e. LGPL-2.0, LGPL-2.1 and LGPL-3.0](https://opensource.org/licenses/lgpl-license), which one does your project carry?

- [ ] Can you also add an actual LICENSE

[2018-11-21 09:38] labarba commented on #1042
Thank you all for your careful work!
@ctdegroot We don't _require_ test coverage or unit tests vs. regression tests.

The JOSS Review [criteria on tests](https://joss.readthedocs.io/en/latest/review_criteria.html?highlight=test#tests) are:

[2018-11-21 14:02] halirutan commented on #1073
@arfon

No problem at all. I just wanted to make sure I didn't miss something. I will wait what the reviewers think. Maybe I'm converting the "repository citations" to footnotes with links if this is more appropriate. Thanks for looking into this.

[2018-11-21 14:08] gwynethbradbury commented on #1030
Kevin,
I’d be happy to review the software and have some time over the next few days to do so. Let me know exactly how you wish for me to proceed.
Thanks,
Gwyneth

[2018-11-21 14:10] stuartcampbell commented on #1072
Should be finished later today

[2018-11-21 15:05] ctdegroot commented on #820
@kyleniemeyer Can you check if this file exists on your system? /usr/local/miniconda3/envs/wediff/lib/python3.7/site-packages/wediff/_fwd_diff.so

[2018-11-21 15:07] ctdegroot commented on #1042
@labarba Thank you for the clarification. In this case I still think it falls into the not acceptable category. I ran the one test that was provided and based on the output I don't know if the code is working or not. It runs and shows some plots, but is it working correctly? Not sure.

[2018-11-21 15:48] vaishnavtv commented on #1042
@ctdegroot, when you run the test case, you should see the results of 3 checks (bar length, energy constraints and motion errors) in the command window. Let me know if that’s not being displayed.

[2018-11-21 16:28] whedon opened #1094 "[REVIEW]: EMViz (Early Music Visualization): MATLAB runtime application"
**Submitting author:** @carterenyi (<a href="http://orcid.org/0000-0003-2614-4777">Aaron Carter-Enyi</a>)
**Repository:** <a href="https://github.com/carterenyi/emviz" target ="_blank">https://github.com/carterenyi/emviz</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @ybayle
**Archive:** <a href="https://doi.org/10.5281/zenodo.3051781" target="_blank">10.5281/zenodo.305

[2018-11-21 16:35] Kevin-Mattheus-Moerman commented on #1094
@ybayle, @gwynethbradbury, thanks for agreeing to review this submission for JOSS! :tada:
This is where the review process takes place. There are instructions and check boxes at the top of this issue that guide you through the process. Feel free to open issues you have on [the project repository](https://github.com/carterenyi/emviz), and please refer to them here as well e.g. by making a checkbox

[2018-11-21 16:37] Kevin-Mattheus-Moerman commented on #1047
@dmittman Thanks for your reply. I understand. Thanks for taking the time to check out this project, and for recommending another reviewer.
@lewismc would you be interested in reviewing this work for [JOSS](http://joss.theoj.org/)?

[2018-11-21 17:50] vaishnavtv commented on #1042
@ctdegroot , about the performance claim issue, we demonstrated superiority in terms of accuracy over Simscape multibody and attached plots in the [preprint]. Would you like us to attach the relevant files to the repository?
[preprint]: https://www.researchgate.net/publication/328676032_A_Lagrangian_Formulation_for_Constrained_Multibody_Dynamics_in_Tensegrity_Systems

[2018-11-21 18:47] ctdegroot commented on #1042
@vaishnavtv The preprint is reference in the paper right? That is good enough for me to verify the performance claim. For the test, what are you comparing to for a reference? Is it an exact solution? It is not clear to me from inspecting the code or running the case. There are no comments in "Pendulum_MinRealODE.m" so I don't know what it does.

[2018-11-21 18:51] vaishnavtv commented on #1042
The test compares the results of our simulation with that of the commonly accepted ground truth for the same structure, i.e., a simulation performed using minimum coordinates. I will add comments to the corresponding files with a proper description. Would that be sufficient?

[2018-11-21 19:01] MikeHeiber commented on #1072
@myousefi2016 The [issue you filed](https://github.com/MikeHeiber/Ising_OPV/issues/10) due to incorrect testing instructions in the README has been fixed in the latest version on the [joss-edits branch](https://github.com/MikeHeiber/Ising_OPV/tree/joss-edits).  Once all of the reviews are done I'll merge this branch into master and make a final release v4.0.0 for the paper.

[2018-11-21 19:18] mcflugen commented on #1066
@rmsare Yep, looks good to me too! 🎉

[2018-11-21 19:23] lheagy commented on #1092
Hi @gidden: Thanks for your submission!

One quick think that I suggest is that you might consider including reference to "Climate science" in your title (the term "models" is very general, and from the title, it is not necessarily clear which domain of science the software is relevant to)

[2018-11-21 19:59] kyleniemeyer commented on #820
@ctdegroot the contents of `/usr/local/miniconda3/envs/wediff/lib/python3.7/site-packages/wediff` are `__init__.py` `__pycache__` `double` `fwd_diff.py` `test`.

[2018-11-21 20:05] rmsare commented on #1066
Thanks to you both for your help and reviews. This submission was a good learning experience for me.

[2018-11-21 20:06] rmsare commented on #1066
@whedon generate pdf

[2018-11-21 20:06] whedon commented on #1066
[code]

[2018-11-21 20:06] whedon commented on #1066
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01066/joss.01066/10.21105.joss.01066.pdf)

[2018-11-21 20:15] rmsare commented on #1066
@whedon generate pdf

[2018-11-21 20:15] whedon commented on #1066
[code]

[2018-11-21 20:15] whedon commented on #1066
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01066/joss.01066/10.21105.joss.01066.pdf)

[2018-11-21 20:20] danielskatz commented on #1079
👋 @pragyansmita & @tupi - I'm checking again to see if one of you might be willing to be the second reviewer for this submission...

[2018-11-21 20:51] ctdegroot commented on #820
@kyleniemeyer I've just uninstalled from my system and verified that the file in question is removed. After reinstalling it is back and the package works. Could you perhaps try installing again? Maybe somehow the downloaded package was cached from the previous version? I don't know all of the details of how conda packages work, but it seems like you are getting the old version somehow.

[2018-11-21 20:54] ctdegroot commented on #820
@kyleniemeyer If you download the tar.bz2 file from https://anaconda.org/cdegroo5/wediff/files you can see that the _fwd_diff.so file should be in the site-packages directory.

[2018-11-21 20:56] ctdegroot commented on #1042
@vaishnavtv If you are content with doing the absolute minimum possible amount of testing then I suppose, since the other reviewers have accepted your tests, that I can check the item off.

[2018-11-21 22:06] arfon commented on #1066
I think you need to separate authors with commas from memory.

[2018-11-21 22:06] arfon commented on #1066
Feel free to try tweaking the bibtex and compiling here.

[2018-11-21 22:50] rmsare commented on #1066
@whedon generate pdf

[2018-11-21 22:50] whedon commented on #1066
[code]

[2018-11-21 22:50] whedon commented on #1066
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01066/joss.01066/10.21105.joss.01066.pdf)

[2018-11-21 22:51] vaishnavtv commented on #1042
@ctdegroot, as recommended I have added another test case to the repository. I'm amending the contributing guidelines to reflect this change.

[2018-11-21 22:55] rmsare commented on #1066
@whendon generate pdf

[2018-11-21 22:56] rmsare commented on #1066
@whedon generate pdf

[2018-11-21 22:56] whedon commented on #1066
[code]

[2018-11-21 22:56] whedon commented on #1066
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01066/joss.01066/10.21105.joss.01066.pdf)

[2018-11-21 23:06] mgalloy commented on #1037
Finally got access to the machine. Everything looks good. I have completed my review and have checked off all items on the checklist.

[2018-11-21 23:06] kyleniemeyer commented on #820
@ctdegroot got it! I had to clean conda's cache, after which reinstalling the package worked fine.

(I imagine this is because the fixed package had the same version number, so conda didn't think it needed to download anything. )

Last change needed: you should add a mention of the conda package as another way to install wediff in the README.

[2018-11-21 23:19] rmsare commented on #1066
I'm happy with the formatting as is.

This comes up in other JOSS papers, too, like [10.21105/joss.00979](http://joss.theoj.org/papers/10.21105/joss.00979).

[2018-11-22 01:32] ctdegroot commented on #1042
@vaishnavtv Thanks for fixing these up. I've ticked the box for tests now, since there is enough to check the code to a reasonable degree.

[2018-11-22 01:41] brainstorm commented on #1007
@jmborr Please do you have a moment to review @gjeuken input and so we can submit and archive the DOI for your JOSS submission? :) Great work so far, thanks everyone 👍

[2018-11-22 01:49] cMadan commented on #862
@janfreyberg, I assume you're happy to check those last three boxes in the reviewer guidelines?

[2018-11-22 02:42] jtmiclat commented on #1092
Hello @lheagy, I am willing to review this but I am only able to start on weekend. Hope that is alright!

[2018-11-22 03:32] ctdegroot commented on #1042
My review is concluded. I'm satisfied with the changes.

[2018-11-22 04:42] lheagy commented on #1092
Excellent, thanks @jtmiclat! Yes, starting on the weekend is fine

[2018-11-22 09:06] labarba commented on #1037
@leios : I now have some editorial suggestions to polish your paper.

Page 1.
[par. 1]

- “many interesting physical phenomenon” >> phenomena
- “allow for new discoveries that directly mimic what can be seen in experiments and are thus highly valuable for fundamental research”>> hyperbole. If the simulations mimic experiments, it’s not really a “new discovery,” is it. Could you tone this down? E.g

[2018-11-22 10:13] labarba commented on #1042
@vaishnavtv : I read over your revised paper and I only have one suggestion, and that is to delete the sentence: “The scientific computing community’s familiarity with MATLAB makes it a favored choice for performing simulations of this nature.”  (Unsubstantiated assessment.)

We now only await the recommendation to accept from @apsabelhaus.

Unofficially, I was surprised that you chose to deposit

[2018-11-22 10:55] Chilipp commented on #1092
Hello @lheagy! Yes, I am willing to review it, too

[2018-11-22 11:20] fospald commented on #1027
@ctdegroot Do you need help with boost.python? Can you file an issue for that?

[2018-11-22 12:21] labarba commented on #1039
@TheChymera : I had a quick look at your submission, and I'm a little concerned about how a reviewer might approach this. The software is meant to be used with a device, the **COSplayer**, which is custom-built open-source hardware using a PyBoard. Do you provide any way for the software to be tested _without_ this device? It would be useful, for example, to have synthetic data and a toy workflow

[2018-11-22 12:39] labarba commented on #1088
@whedon assign @arokem as editor

[2018-11-22 12:40] whedon commented on #1088
OK, the editor is @arokem

[2018-11-22 12:42] labarba commented on #1088
@arokem : This is an obvious submission for you to handle, and it should be easy to find reviewers. For example, @rhiever 👋  …would be ideal to review this, if available & willing. If not, he may be able to help us identify a couple of reviewers.

[2018-11-22 12:52] labarba commented on #1089
@krueschan : I had a quick look at the paper and the repository, and it looks like this submission only covers the web interface of the project. Can you give us your assessment and justification for why the web-interface component alone can qualify as _research software_?

[2018-11-22 12:54] danielemarinazzo commented on #1081
I have completed the checklist. Unless I have missed, and I apologize in advance, the license file seems to be missing.

Suggestions:

1. it would be convenient to add some running time indicators for different possible scenarios (number of time series, length of time series, etc).
2. you call "multivariate" and "bivariate" the cases with more or two time series respectively. In other contexts "mu

[2018-11-22 13:09] labarba commented on #918
@renatorrsilva :wave Are you working on, or do you have plans to work on this submission to get to a reviewable stage? It's been nearly two months, and my assessment at this point is that the submission does not qualify as research software, but rather it appears to be a learning exercise by the author.

My recommendation is to withdraw this submission.

[2018-11-22 13:14] renatorrsilva commented on #918
Ok you can withdraw the submission.

Thank you.

Em qui, 22 de nov de 2018 às 11:09, Lorena A. Barba <
notifications@github.com> escreveu:

[2018-11-22 13:20] #918 closed

[2018-11-22 13:42] krueschan commented on #1089
@labarba. Thanks for this excellent question. We tried to make this clear in the article, so please let us know if you think this still needs further clarification in the article.

As we write in the article, cerc-web extends the functionality of the "engine" of the calculator quite substantially. In particular, it allows users to compare levels of effort that would be implied by the effort sharin

[2018-11-22 14:44] nnadeau commented on #984
@cMadan all good :+1:

Congrats @jeffmacinnes

[2018-11-22 15:23] labarba commented on #1089
OK. This submission can be handled by @kthyng or @jedbrown as editor — may I have one of you volunteer?

[2018-11-22 17:19] lheagy commented on #1092
Thanks @Chilipp!!

[2018-11-22 17:19] lheagy commented on #1092
@whedon assign @jtmiclat as reviewer

[2018-11-22 17:19] whedon commented on #1092
OK, the reviewer is @jtmiclat

[2018-11-22 17:19] lheagy commented on #1092
@whedon add @Chilipp as reviewer

[2018-11-22 17:19] whedon commented on #1092
OK, @Chilipp is now a reviewer

[2018-11-22 17:20] whedon opened #1095 "[REVIEW]: pyam: a Python Package for the Analysis and Visualization of Assessment Models"
**Submitting author:** @gidden (<a href="http://orcid.org/0000-0003-0687-414X">Matthew Gidden</a>)
**Repository:** <a href="https://github.com/IAMconsortium/pyam" target ="_blank">https://github.com/IAMconsortium/pyam</a>
**Version:** v0.1.2
**Editor:** @lheagy
**Reviewer:** @jtmiclat, @Chilipp
**Archive:** <a href="https://doi.org/10.5281/zenodo.1491662" target="_blank">10.5281/zenodo.1491662</a>

[2018-11-22 17:20] whedon commented on #1092
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1095. Feel free to close this issue now!

[2018-11-22 17:20] whedon commented on #1095
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jtmiclat, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-11-22 17:20] whedon commented on #1095
[code]

[2018-11-22 17:20] #1092 closed

[2018-11-22 17:20] whedon commented on #1095
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01095/joss.01095/10.21105.joss.01095.pdf)

[2018-11-22 17:39] jmborr commented on #1007
@brainstorm sorry, I had some deadline at work. I'm looking into this now...

[2018-11-22 18:00] cMadan commented on #1081
It looks like the license is in `COPYING.txt`. Is there a particular reason that this is the filename, rather than `LICENSE.txt`?

[2018-11-22 18:04] cMadan commented on #984
Thank you for the thorough review, @nnadeau!

@jeffmacinnes, everything looks good to me! Now all I need is the doi for an archived version of the code (i.e., on Zenodo or figshare).

[2018-11-22 18:11] danielhatton commented on #974
On 20 November 2018 08:43:34 GMT, Kevin Mattheus Moerman <notifications@github.com> wrote:

I've done nothing further on this since my last message.  Did you have a particular deadline in mind for me to complete @devinberg's suggested improvements?  (It will be quite helpful if the answer is "yes": my task scheduling at the moment is pretty much strictly in chronological order of deadline, so anyt

[2018-11-22 19:47] jeffmacinnes commented on #984
@cMadan, here you go: 10.5281/zenodo.1494278

Thanks!

[2018-11-22 22:09] nnadeau commented on #966
@arfon could you please submit this review to Publons? https://publons.com/a/1545968/

[2018-11-22 22:36] jmborr commented on #1007
@brainstorm @gjeuken I have split the summary paper into several paragraphs, adding more details. Please let me know how it looks now (https://idpflex.readthedocs.io/en/latest/)

[2018-11-22 22:44] jlizier commented on #1081
From memory that was to follow the [GNU recommendation](http://www.gnu.org/licenses/gpl-howto.html) - is the use of LICENSE mandatory for JOSS or other options ok so long as it's following some convention such as GNU?

@danielemarinazzo thanks for the comments - all are clear, we'll get back to you on those

[2018-11-22 23:02] brainstorm commented on #1007
@jmborr Muchas gracias! ;)

@gjeuken To be clear, there's no need for you to fix the issues, but reporting them is a must... can you run the notebook successfully now?

[2018-11-23 00:34] vaishnavtv commented on #1042
@whedon generate pdf

[2018-11-23 00:34] whedon commented on #1042
[code]

[2018-11-23 00:35] whedon commented on #1042
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01042/joss.01042/10.21105.joss.01042.pdf)

[2018-11-23 00:39] vaishnavtv commented on #1042
@labarba statement deleted.
Could you help explain to me why one should choose arXiv or any of the other OSF journals over ResearchGate to publish preprints? Is there a visibility advantage?

[2018-11-23 02:59] cMadan commented on #1081
JOSS doesn't have any rules about the license filename, but my impression is that `LICENSE` is more common of a filename than `COPYING`, even for GNU GPL licensed projects. The main idea is that the license should be easily found. I recommend you change the filename here, but I am not going to require it.

[2018-11-23 04:18] ctdegroot commented on #1027
Created an issue about boost-python:

fospald/fibergen#6

[2018-11-23 04:36] jedbrown commented on #1089
Sorry about the mistaken cross-references (too many tabs...). I can edit if needed.

Minor issues I noticed in the paper:
* "authors'" is not used as a possessive, should drop the trailing apostrophe.
* Bib capitalization such as API and CERC.
* It is unusual for authors to "acknowledge" themselves.

The readme has at least one typo ("slite3" -> "sqlite3").

JOSS publications are normally expected

[2018-11-23 07:50] leios commented on #1037
@whedon generate pdf

I believe this version of the paper addresses all these points.

[2018-11-23 07:50] whedon commented on #1037
[code]

[2018-11-23 07:51] whedon commented on #1037
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01037/joss.01037/10.21105.joss.01037.pdf)

[2018-11-23 10:06] janfreyberg commented on #862
done!

[2018-11-23 10:44] leios commented on #1037
@whedon generate pdf

[2018-11-23 10:44] whedon commented on #1037
[code]

[2018-11-23 10:45] whedon commented on #1037
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01037/joss.01037/10.21105.joss.01037.pdf)

[2018-11-23 14:11] cMadan commented on #984
@whedon set 10.5281/zenodo.1494278 as archive

[2018-11-23 14:11] whedon commented on #984
OK. <a href="https://doi.org/10.5281/zenodo.1494278" target="_blank">10.5281/zenodo.1494278</a> is the archive.

[2018-11-23 14:11] cMadan commented on #984
@whedon accept

[2018-11-23 14:12] whedon commented on #984
[code]

[2018-11-23 14:12] whedon commented on #984
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/76

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/76, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-23 14:13] cMadan commented on #984
@whedon accept deposit=true

[2018-11-23 14:13] whedon commented on #984
I'm sorry @cMadan, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2018-11-23 14:15] cMadan commented on #984
@arfon, can you do the honours?

[2018-11-23 14:36] cMadan commented on #862
@janfreyberg, thank you for your thorough review, it is much appreciate!

@RMHogervorst, I am going to remove you as an assigned reviewer here, but I appreciate your feedback with the installation issues earlier on. Hopefully the changes to the project have now ameliorated the issues you were having.

@ejolly, I will do a final look over of the project in the next few days and get back to you.

[2018-11-23 14:38] cMadan commented on #862
@whedon remove @RMHogervorst as reviewer

[2018-11-23 14:38] whedon commented on #862
OK, @RMHogervorst is no longer a reviewer

[2018-11-23 17:00] scan2001 commented on #1048
@whedon generate pdf

[2018-11-23 17:00] whedon commented on #1048
[code]

[2018-11-23 17:01] whedon commented on #1048
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01048/joss.01048/10.21105.joss.01048.pdf)

[2018-11-23 17:07] scan2001 commented on #1048
@labarba : thank you for your advice. I edited the paper with some sentences about the the research application of the software and the targeted audience.

[2018-11-23 19:57] krueschan commented on #1089
@whedon generate pdf

[2018-11-23 19:58] whedon commented on #1089
[code]

[2018-11-23 19:58] whedon commented on #1089
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01089/joss.01089/10.21105.joss.01089.pdf)

[2018-11-23 20:05] krueschan commented on #1089
@whedon generate pdf

[2018-11-23 20:05] whedon commented on #1089
[code]

[2018-11-23 20:05] whedon commented on #1089
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01089/joss.01089/10.21105.joss.01089.pdf)

[2018-11-23 20:10] krueschan commented on #1089
@jedbrown, thanks very much for your comments, please find responses below and don't worry about the mistaken cross-references.

Fixed. Thanks.

We don't name any of the authors in the Acknowledgements section, though one of the individuals in the acknowledgements (Tyler Kemp-Benedict) has the same surname as one of the authors (Eric Kemp-Benedict), so that's perhaps causing confusion here?

I hav

[2018-11-23 21:32] joethorley commented on #1082
@whedon generate pdf

[2018-11-23 21:32] whedon commented on #1082
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01082/joss.01082/10.21105.joss.01082.pdf)

[2018-11-23 21:38] joethorley commented on #1082
Thanks @ibarraespinosa!

I've added the missing doi, added the code for the plot and modified the text to make the problem and functionality clearer.

[2018-11-23 21:52] ibarraespinosa commented on #1082
Hi @joethorley. Great, now, could you please add this doi:
 10.18637/jss.v064.i04

From https://www.jstatsoft.org/article/view/v064i04

[2018-11-23 21:57] joethorley commented on #1082
@whedon generate pdf

[2018-11-23 21:57] whedon commented on #1082
[code]

[2018-11-23 21:58] whedon commented on #1082
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01082/joss.01082/10.21105.joss.01082.pdf)

[2018-11-23 21:59] joethorley commented on #1082
@ibarraespinosa - done!

[2018-11-23 22:08] ibarraespinosa commented on #1082
Excellent! @joethorley
I'm 100% @arfon
Thanks!

[2018-11-23 22:10] joethorley commented on #1082
Thanks @nanhung and @ibarraespinosa for your helpful reviews!

[2018-11-23 22:11] krueschan commented on #1089
Ok, thanks, I'll look into how to write such tests. I have never done that before - can you perhaps point me to a project that has tests similar to the one that you'd expect in our project so I can see how it's done?

Well, all of these papers use our own installation of the project (as we write in the article, to our knowledge ours is the only current installation of the project in existence). (a

[2018-11-23 22:59] jedbrown commented on #1057
@jakevdp Can you comment on this? Other papers I have edited archive a tagged version that contains the post-review repo/paper.

[2018-11-23 23:01] jedbrown commented on #1043
@sriharikrishna @tobydriscoll :wave: I just wanted to check in to see if you need anything in order to complete your review soon.

[2018-11-23 23:03] jedbrown commented on #1089
I'm not immediately familiar with PHP browser testing, but I'd expect it can use similar methods as Python server-side projects like Jupyter notebook.

Okay for now regarding scope; I think we can solicit reviewer feedback. We don't currently have any registered reviewers who have volunteered expertise in PHP. Can you suggest any?

[2018-11-23 23:57] brainstorm commented on #1055
@ejdanderson I've found [your paper about QKD](https://github.com/ejdanderson/paper-quantum-key-distribution/blob/master/paper.pdf) interesting. The context of why I'm writing you today is that JOSS publishes articles about open source research software and as an editor I think that you could be a valuable reviewer for this submission.

If you would like to collaborate with JOSS as a reviewer, you

[2018-11-24 04:05] krueschan commented on #1089
@jedbrown. I started to look into writing tests for this, but hoping the review can already proceed before I have finished that task? Your last comment sounds like it can.

There are several people listed for PHP in the [JOSS reviewers list](https://bit.ly/joss-reviewers). Specifically, with PHP as "preferred language" there are @xirdneh, @jaynanavati, @nmullins, and @johnsamuelwrites plus, with P

[2018-11-24 04:35] jedbrown commented on #1089
@krueschan I normally look for _both_ language and subject matter interest, but would welcome any of the PHP programmers tagged above who would volunteer to review, even if narrowly to supplement other subject matter review(s).

[2018-11-24 15:57] kyleniemeyer commented on #820
@arfon I recommend accepting now!

[2018-11-24 16:36] tobydriscoll commented on #1043
Thirty-hour days? 😁

I should be on track to do it in the upcoming week.

---
Tobin Driscoll
Professor of Mathematical Sciences
Director of Undergraduate Studies
Director, Center for Applications of Mathematics in Medicine
University of Delaware, Newark, DE 19716
Twitter: @tobydriscoll
Site: http://www.tobydriscoll.net
On Nov 23, 2018, 6:01 PM -0500, Jed Brown <notifications@github.com>, wrote:

[2018-11-24 18:32] JonathanReardon commented on #1070
Hi all, I have now completed the review. The library works as described in the documentation and I experienced no problems during all parts of testing. @cMadan, it might be a good idea to add 'Ubuntu 18.10 (Linux)' to the 'tested on..' statement in the README.md file, since this was the operating system that I tested the library on. Thanks all.

[2018-11-24 21:43] arfon commented on #966
I'm not sure I know how to do this sorry :-\ . Any guidance/docs you might be able to point me towards here would be very welcome.

[2018-11-24 21:46] arfon commented on #984
@whedon accept deposit=true

[2018-11-24 21:46] whedon commented on #984
[code]

[2018-11-24 21:46] whedon commented on #984
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/77
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00984](https://doi.org/10.21105/joss.00984)
2. If everything looks goo

[2018-11-24 21:47] arfon commented on #984
@nnadeau - many thanks for your review here and to @cMadan for editing this submission ✨

@jeffmacinnes - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-11-24 21:47] #984 closed

[2018-11-24 21:47] whedon commented on #984
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00984/status.svg)](https://doi.org/10.21105/joss.00984)

**We need your help!**

Journal of Open Source Softwar

[2018-11-24 21:49] arfon commented on #1082
@whedon accept

[2018-11-24 21:49] whedon commented on #1082
No archive DOI set. Exiting...

[2018-11-24 21:49] arfon commented on #1082
@joethorley - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-11-24 21:50] arfon commented on #820
@ctdegroot - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-11-24 22:10] ctdegroot commented on #820
@arfon Done. http://doi.org/10.5281/zenodo.1495614

[2018-11-25 02:41] TheChymera commented on #1039
ugh, not really, the software interacts with the hardware. At the very least you would need a pyboard, and then you could observe the LED pattern.

If even that is unavailable you would need a software emulator for the pyboard, which is very much nontrivial to produce and would add little value to the project (others have attempted to make such emulators and given up). Unless such an emulator is g

[2018-11-25 02:50] arfon commented on #1066
@kthyng - are we ready to accept this submission?

[2018-11-25 02:50] arfon commented on #820
@whedon set 10.5281/zenodo.1495614 as archive

[2018-11-25 02:50] whedon commented on #820
OK. <a href="https://doi.org/10.5281/zenodo.1495614" target="_blank">10.5281/zenodo.1495614</a> is the archive.

[2018-11-25 02:51] arfon commented on #820
@whedon accept

[2018-11-25 02:51] whedon commented on #820
[code]

[2018-11-25 02:51] whedon commented on #820
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/78

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/78, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-25 02:52] arfon commented on #820
@whedon accept deposit=true

[2018-11-25 02:52] whedon commented on #820
[code]

[2018-11-25 02:53] whedon commented on #820
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/79
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00820](https://doi.org/10.21105/joss.00820)
2. If everything looks goo

[2018-11-25 02:54] arfon commented on #820
@highlando, @kyleniemeyer - many thanks for your reviews here ✨

@ctdegroot - your paper is now accepted into JOSS! :zap::rocket::boom:

[2018-11-25 02:54] #820 closed

[2018-11-25 02:54] whedon commented on #820
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00820/status.svg)](https://doi.org/10.21105/joss.00820)

**We need your help!**

Journal of Open Source Softwar

[2018-11-25 03:12] stsievert commented on #989
@ccurtis7 could you add DOIs for first 4 papers in `papers.bib`? i.e., the `Chenouard:2014` reference should have a DOI of https://doi.org/10.1038/nmeth.2808.

[2018-11-25 06:33] cMadan commented on #1070
Awesome, thanks for the review, @JonathanReardon.

Great that everything worked in Ubuntu, I'll add that to the 'tested on' statement.

[2018-11-25 13:52] danielskatz commented on #1079
Update: I've found another reviewer via email, and once I get his github username, I will add him and start the review.

[2018-11-25 13:54] danielskatz commented on #1073
Hi @acolum & @rljacobson - it looks like you both have started your reviews - I'm just checking in to make sure everything is going ok - let me know if it's not.

[2018-11-25 13:56] danielskatz commented on #981
👋  @adammichaelwood - What's happened in the last 28 days?

[2018-11-25 17:55] pwollstadt commented on #1081
Hi @cMadan, I changed the file name to `LICENSE` in https://github.com/pwollstadt/IDTxl/commit/1d617372cca66449dd36139b3301c17391e193f7.

Thanks @danielemarinazzo for the quick review. I will look into the relevant references for the MuTE example, thanks for pointing that out.

[2018-11-25 19:18] ctdegroot commented on #1027
Having an issue now about ITK:

fospald/fibergen#7

[2018-11-25 21:29] whedon opened #1096 "[REVIEW]: ggvoronoi: Voronoi Diagrams and Heatmaps with ggplot2"
**Submitting author:** @garretrc (<a href="http://orcid.org/0000-0002-1434-6630">Robert Garrett</a>)
**Repository:** <a href="https://github.com/garretrc/ggvoronoi" target ="_blank">https://github.com/garretrc/ggvoronoi</a>
**Version:** v0.8.2
**Editor:** @yochannah
**Reviewer:** @trinker, @corybrunson
**Archive:** <a href="https://doi.org/10.5281/zenodo.1933346" target="_blank">10.5281/zenodo.193

[2018-11-25 21:29] whedon commented on #1086
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1096. Feel free to close this issue now!

[2018-11-25 21:29] whedon commented on #1096
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @trinker, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-11-25 21:29] whedon commented on #1096
[code]

[2018-11-25 21:29] whedon commented on #1096
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01096/joss.01096/10.21105.joss.01096.pdf)

[2018-11-25 21:30] yochannah commented on #1086
⚡️  @trinker, @corybrunson thanks for volunteering to review this package! Let's head over to #1096 and work with @garretrc to complete the review 👍

[2018-11-25 21:30] #1086 closed

[2018-11-25 23:57] cMadan commented on #862
@ejolly, everything looks good, just two things to do:
- update the pip link in your readme, currently it's set for v. 0.2.2 (`[![Package versioning](https://img.shields.io/pypi/v/pymer4.svg)](https://pypi.python.org/pypi?name=pymer4&version=0.2.2&:action=display)`)
- mint a release for 0.6.0 and tell me the Zenodo DOI for the archived code

[2018-11-26 00:10] cMadan commented on #1070
@Kevin-Mattheus-Moerman, looks like we're all set!

The DOI for the archived code is `10.5281/zenodo.1521056`.

[2018-11-26 01:14] ejolly commented on #862
@cMadan Done and done. The readme contains the correct badge link for both. Here is the [latest DOI](https://zenodo.org/record/1523205). Please let me know if you need anything else!

[2018-11-26 02:38] cMadan commented on #862
@whedon set 10.5281/zenodo.1523205 as archive

[2018-11-26 02:38] whedon commented on #862
OK. <a href="https://doi.org/10.5281/zenodo.1523205" target="_blank">10.5281/zenodo.1523205</a> is the archive.

[2018-11-26 02:39] cMadan commented on #862
@whedon accept

[2018-11-26 02:39] whedon commented on #862
[code]

[2018-11-26 02:39] whedon commented on #862
PDF failed to compile for issue #862 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    178      0 --:--:-- --:--:-- --:--:--   179
Error reading bibl

[2018-11-26 02:41] cMadan commented on #862
@ejolly, looks like your bib is missing a comma at the end of line 1.

Otherwise you're all set for the submission to be accepted!

[2018-11-26 02:47] ejolly commented on #862
Whoops fixed! Woot thanks much @cMadan, @janfreyberg, @tomfaulkenberry for your helpful feedback. This was a great review experience.

[2018-11-26 02:50] nnadeau commented on #966
@arfon, @katyhuff introduced me to `publons`, maybe they have a guideline link?

[2018-11-26 02:56] cMadan commented on #862
@whedon generate pdf

[2018-11-26 02:56] whedon commented on #862
[code]

[2018-11-26 02:56] whedon commented on #862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00862/joss.00862/10.21105.joss.00862.pdf)

[2018-11-26 02:56] cMadan commented on #862
@whedon accept

[2018-11-26 02:57] whedon commented on #862
[code]

[2018-11-26 02:57] whedon commented on #862
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/80

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/80, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-26 02:58] cMadan commented on #862
@arfon, can you do the honors?

[2018-11-26 04:55] cMadan commented on #1070
I changed the photo in the paper (and readme) to be a photo of the device running one of the demos, rather than a photo I had found online.

[2018-11-26 04:56] cMadan commented on #1070
@whedon generate pdf

[2018-11-26 04:56] whedon commented on #1070
[code]

[2018-11-26 04:56] whedon commented on #1070
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01070/joss.01070/10.21105.joss.01070.pdf)

[2018-11-26 08:39] trallard commented on #1064
hi @zkuralt  I can see there are still a couple of unticked items on the review checklist so I just wanted to check how you were getting on with this

[2018-11-26 08:42] trallard commented on #1065
Hi @aslakbergersen  I can see there are still some open issues and unchecked items on the reviewer's lists so I wanted to check if everything was in order.

[2018-11-26 08:54] Kevin-Mattheus-Moerman commented on #1070
Thanks @JonathanReardon for the review work!

[2018-11-26 08:55] Kevin-Mattheus-Moerman commented on #1070
@arfon I recommend we accept this submission. The version is now at  v1.0.1. The DOI of the archived version is: 10.5281/zenodo.1525298.

[2018-11-26 08:56] gidden commented on #1095
@whedon generate pdf

[2018-11-26 08:56] whedon commented on #1095
[code]

[2018-11-26 08:56] whedon commented on #1095
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01095/joss.01095/10.21105.joss.01095.pdf)

[2018-11-26 08:58] gidden commented on #1095
Hi @lheagy, per your suggestion, I have updated the title to more accurately reflect the scientific domains in which `pyam` is or is envisioned being used. Looking forward to the reviews of @jtmiclat and @Chilipp.

[2018-11-26 09:45] vmagnin commented on #1014
@Kevin-Mattheus-Moerman
I have modified the paper:
* The introduction paragraph has been expanded, and splitted in two. A reference was added.
* Added the following sentences in the (now) third paragraph :
	* _"The gtkf-sketcher tool even makes easier the design of a complex GTK+3 GUI by automatically generating the Fortran code from the XML files created by the user interface designer software Gl

[2018-11-26 10:00] masspastore commented on #1023
@whedon generate pdf

[2018-11-26 10:00] whedon commented on #1023
[code]

[2018-11-26 10:01] whedon commented on #1023
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01023/joss.01023/10.21105.joss.01023.pdf)

[2018-11-26 10:44] vmagnin commented on #1014
@Kevin-Mattheus-Moerman
Please read my last message. Github seems now to work properly !
@whedon generate pdf

[2018-11-26 10:45] Kevin-Mattheus-Moerman commented on #974
Thanks for the update @danielhatton, I would say that you should aim to have the improvements finished within a month to avoid loosing track of our reviewer.

[2018-11-26 10:45] vmagnin commented on #1014
@whedon generate pdf

[2018-11-26 10:46] whedon commented on #1014
[code]

[2018-11-26 10:46] whedon commented on #1014
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01014/joss.01014/10.21105.joss.01014.pdf)

[2018-11-26 11:30] arfon commented on #1070
@whedon set 10.5281/zenodo.1525298 as archive

[2018-11-26 11:30] whedon commented on #1070
OK. <a href="https://doi.org/10.5281/zenodo.1525298" target="_blank">10.5281/zenodo.1525298</a> is the archive.

[2018-11-26 11:30] arfon commented on #1070
@whedon accept

[2018-11-26 11:30] whedon commented on #1070
[code]

[2018-11-26 11:31] whedon commented on #1070
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/82

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/82, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-26 11:33] arfon commented on #1070
@whedon accept deposit=true

[2018-11-26 11:33] whedon commented on #1070
[code]

[2018-11-26 11:34] whedon commented on #1070
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/83
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01070](https://doi.org/10.21105/joss.01070)
2. If everything looks goo

[2018-11-26 11:38] arfon commented on #1070
@JonathanReardon - many thanks for your review here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@cMadan - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-11-26 11:38] #1070 closed

[2018-11-26 11:38] whedon commented on #1070
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01070/status.svg)](https://doi.org/10.21105/joss.01070)

**We need your help!**

Journal of Open Source Softwar

[2018-11-26 11:45] arfon commented on #1080
@tupi @tianxzhu - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2018-11-26 11:46] arfon commented on #1029
@nagoue - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2018-11-26 13:45] danielskatz commented on #1079
@whedon assign @djmitche as reviewer

[2018-11-26 13:46] whedon commented on #1079
OK, the reviewer is @djmitche

[2018-11-26 13:46] danielskatz commented on #1079
@whedon add @tanaken-basis as reviewer

[2018-11-26 13:46] whedon commented on #1079
OK, @tanaken-basis is now a reviewer

[2018-11-26 13:46] danielskatz commented on #1079
@whedon start review

[2018-11-26 13:46] whedon opened #1097 "[REVIEW]: OApackage: A Python package for generation and analysis of orthogonal arrays and conference designs"
**Submitting author:** @eendebakpt (<a href="http://orcid.org/0000-0001-7018-1124">Pieter Eendebak</a>)
**Repository:** <a href="https://github.com/eendebakpt/oapackage" target ="_blank">https://github.com/eendebakpt/oapackage</a>
**Version:** 2.6.3
**Editor:** @danielskatz
**Reviewer:** @djmitche, @gsagnol
**Archive:** <a href="https://doi.org/10.5281/zenodo.2579025" target="_blank">10.5281/zenod

[2018-11-26 13:46] whedon commented on #1079
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1097. Feel free to close this issue now!

[2018-11-26 13:46] whedon commented on #1097
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @djmitche, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-11-26 13:46] whedon commented on #1097
[code]

[2018-11-26 13:46] #1079 closed

[2018-11-26 13:47] whedon commented on #1097
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01097/joss.01097/10.21105.joss.01097.pdf)

[2018-11-26 13:50] danielskatz commented on #1097
👋 @djmitche, @tanaken-basis - thanks for agreeing to review this submission.  Please see the instructions above and feel free to ask me if you have any questions.  Otherwise, I will assume that you will work through the checklist items above, and will bring up any issues with the submission with the author (via very short discussion here or via new issues in [the source repo](https://github.com/ee

[2018-11-26 14:12] jasonclark commented on #943
@semacu Would you be available to review the VIVO software? We would be looking for a review in the next few weeks. Thanks for considering. cc @mconlon17 @arfon

[2018-11-26 14:19] katyhuff commented on #966
I have been adding them myself as editor (so if @nnadeau does a good job reviewing, I got to publons and note this). Since we don't send the "Thank you for your review" email that publons needs (they call it a "review receipt) I think the confirmation that a review happened comes from the editor of the submission. However, the reviewer has github notifications sent to their email, then the final t

[2018-11-26 14:51] fospald commented on #1027
@ctdegroot ITK is optional. There must be another error message if it does not compile.

[2018-11-26 15:46] dahtah commented on #1012
@Kevin-Mattheus-Moerman Thank you for your suggestions. They are implemented in the current master.

[2018-11-26 15:47] djmitche commented on #1097
It's worth noting that the most recent version is 2.5.2 now.  That is the same in the repo and the package repository.

[2018-11-26 16:02] davidnsousa commented on #911
Dear Arfon @arfon ,

Thank your for getting back to us on our submission.

Reviewer Maximilian Held (@maxheld83) suggested some helpful changes to the github repository and the qsort package. Namely, adding community guidelines, automated units tests, and a vignnete to make the usage of the package more clear for users. We have revised our package accordingly and integrated proposed changes.

Also

[2018-11-26 16:12] corybrunson commented on #1096
Thanks @garretrc for this elegant Voronoi extension! I'll start raising issues at the code repo momentarily. As you address the issues, i'll check off the related items on my review checklist. If you think some of my issues aren't really problematic, or if you think my suggestions are not great, then please let me know in the issue thread and handle them as you see fit—i'll probably then better un

[2018-11-26 16:45] garretrc commented on #1096
Thanks for the feedback! I've started to go through the issues on the ggvoronoi repository. I'll close issues on that repo if I'm confident the issue is resolved and comment if I have any questions.

[2018-11-26 19:01] karthik commented on #1093
@whedon assign @Pakillo as reviewer

[2018-11-26 19:01] whedon commented on #1093
OK, the reviewer is @Pakillo

[2018-11-26 19:02] karthik commented on #1093
@whedon start review

[2018-11-26 19:02] whedon opened #1098 "[REVIEW]: portalr: an R package for summarizing and using the Portal Project Data"
**Submitting author:** @emchristensen (<a href="http://orcid.org/0000-0002-5635-2502">Erica Christensen</a>)
**Repository:** <a href="https://github.com/weecology/portalr" target ="_blank">https://github.com/weecology/portalr</a>
**Version:** v0.1.4
**Editor:** @karthik
**Reviewer:** @Pakillo
**Archive:** <a href="https://doi.org/10.5281/zenodo.2546883" target="_blank">10.5281/zenodo.2546883</a>

[2018-11-26 19:02] whedon commented on #1093
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1098. Feel free to close this issue now!

[2018-11-26 19:02] whedon commented on #1098
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Pakillo it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-11-26 19:02] whedon commented on #1098
[code]

[2018-11-26 19:02] #1093 closed

[2018-11-26 19:02] whedon commented on #1098
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01098/joss.01098/10.21105.joss.01098.pdf)

[2018-11-26 19:07] karthik commented on #1098
Noting here that @Pakillo will take an additional two weeks since he is quite busy with his own deadlines.

[2018-11-26 19:08] garretrc commented on #1096
@corybrunson I've addressed each issue, one is still open and I've left a comment as justification. If you accept that reasoning you can close the issue, otherwise leave a comment and I can make further changes. Feel free to re-open any of the other issues if you feel my solutions aren't acceptable! Thank you.

[2018-11-26 20:02] corybrunson commented on #1096
@whedon commands

[2018-11-26 20:02] whedon commented on #1096
Here are some things you can ask me to do:

[code]

[2018-11-26 20:02] corybrunson commented on #1096
@whedon generate pdf

[2018-11-26 20:02] whedon commented on #1096
[code]

[2018-11-26 20:02] whedon commented on #1096
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01096/joss.01096/10.21105.joss.01096.pdf)

[2018-11-26 20:34] corybrunson commented on #1096
@garretrc thanks for addressing all of the issues! You've resolved or explained them to my satisfaction.

@yochannah i have completed my review and, conditional on my co-reviewer's feedback, recommend acceptance of the current GitHub version (https://github.com/garretrc/ggvoronoi/commit/2b2821cb71c3744e35ecfe6e69a9c20adffbf339).

[2018-11-26 21:33] rljacobson commented on #1073
Yep, everything is going well. Thanks!

[2018-11-26 21:36] kthyng commented on #1066
One more thing:
@rmsare it looks like you have no co-author on your zenodo archive, but you have one on this JOSS submission. Presumably they should match, in which case can you edit the metadata for the zenodo entry?

[2018-11-26 21:43] kthyng commented on #1085
Ok thanks @kbevers!  And @edoddridge, great, and I'd like to get one more reviewer.

@ChrisBarker-NOAA  Are you or someone in your group willing and able to review this JOSS submission? You can read more about the process [here](https://joss.readthedocs.io/en/latest/review_criteria.html). We'd like the review within 2 weeks.

[2018-11-26 22:09] kthyng commented on #1066
Great! We're ready to move forward then @arfon.

[2018-11-26 22:09] kthyng commented on #1066
@whedon set 10.5281/zenodo.1492786 as archive

[2018-11-26 22:09] whedon commented on #1066
OK. <a href="https://doi.org/10.5281/zenodo.1492786" target="_blank">10.5281/zenodo.1492786</a> is the archive.

[2018-11-26 22:18] Autoplectic commented on #1081
Everything checklist-wise looks good to me.

A few minor suggestions:

You implement and document both [multiinformation](https://github.com/pwollstadt/IDTxl/wiki/Variable-names-used-in-IDTxl) as well as [multivariate mutual information](http://pwollstadt.github.io/IDTxl/html/idtxl_network_inference.html#multivariate-mutual-information-mmi). It would be best to utilize a single name, and to list a

[2018-11-27 00:29] whedon commented on #1066
[code]

[2018-11-27 00:30] whedon commented on #1066
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/85
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01066](https://doi.org/10.21105/joss.01066)
2. If everything looks goo

[2018-11-27 00:32] arfon commented on #1066
@fclubb, @mcflugen - many thanks for your reviews here and to @kthyng for editing this submission ✨

@rmsare - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-11-27 00:32] #1066 closed

[2018-11-27 00:32] whedon commented on #1066
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01066/status.svg)](https://doi.org/10.21105/joss.01066)

**We need your help!**

Journal of Open Source Softwar

[2018-11-27 05:59] danehkar commented on #899
I moved them to to a `misc` under `externals`, and I renamed  `equib_*` to `_*`.  These routines (interp2d.pro, meshgrid.pro, sign.pro, str2int.pro, strnumber.pro) were chosen from other IDL packages to replace some FORTRAN functions of [EQUIB](https://github.com/equib/EQUIB) during my conversion from FORTRAN to IDL. I added `equib_*` to them to separate from other IDL functions with similar names

[2018-11-27 06:04] danehkar commented on #899
- I added [CONTRIBUTING.md](https://github.com/equib/proEQUIB/blob/master/CONTRIBUTING.md) to the [proEQUIB repository](https://github.com/equib/proEQUIB) on GitHub, which contains some guidelines for contributors. I closed the issue [equib/proEQUIB#2](https://github.com/equib/proEQUIB/issues/2).

- I created API documentation with [IDLdoc](https://github.com/mgalloy/idldoc) and copied them into [