[2022-03-28 19:35] #4239 closed

[2022-03-28 19:40] MiftariB commented on #4158
Dear @fraukewiese,

Some elements are missing in the previewed pdf :
- Co-authorship
- Orcid of authors

Is this normal for a preview version ? Is it possible to add an email address ?

Best Regards,

Miftari Bardhyl

[2022-03-28 19:43] po60nani commented on #4024
@emdupre, I apologize for the mistakes; they have been corrected.

[2022-03-28 19:47] emdupre commented on #4024
@editorialbot recommend-accept

[2022-03-28 19:55] diehlpk commented on #4227
@editorialbot add @abhishektha as reviewer

[2022-03-28 19:56] diehlpk commented on #4227
@abhishektha Thanks, starting mid of April is fine.

[2022-03-28 19:56] diehlpk commented on #4227
@editorialbot start review

[2022-03-28 19:56] editorialbot opened #4279 "[REVIEW]: DuoDIC: 3D Digital Image Correlation in MATLAB"
**Submitting author:** @danasolav (<a href="http://orcid.org/0000-0003-3215-0401">Dana Solav</a>)
**Repository:** https://github.com/SolavLab/DuoDIC
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.0
**Editor:** @diehlpk
**Reviewers:** @abhishektha, @mr53563
**Archive:** 10.5281/zenodo.6673060

## Status

[![status](https://joss.theoj.org/papers/cd98bc67c6d762e996be45d65f66735

[2022-03-28 19:56] #4227 closed

[2022-03-28 19:56] diehlpk commented on #4279
@editorialbot generate pdf

[2022-03-28 19:57] diehlpk commented on #4279
@editorialbot check references

[2022-03-28 20:08] diehlpk commented on #4279
@openjournals/dev Could you please have a look?

[2022-03-28 20:27] 62442katieb commented on #4254
@jbytecode I'd be happy to review

[2022-03-28 21:16] kbarnhart commented on #4091
@szwiep and @smchartrand thanks for these updates, they are great.

I have a couple of very minor comments and I've proposed changes that I think would be beneficial in a pull request. Most of the recommendations are to provide more links to other files in the Readme and to structure the documentation a bit. Feel free to modify any of my recommendations, they are just suggestions. The only thing I

[2022-03-28 21:21] kbarnhart commented on #4091
@editorialbot set v1.0.1 as version

[2022-03-28 21:46] kbarnhart commented on #4091
:wave: @pfeiffea @tdoane would you be willing to review the submission "py_SBeLT: A Python software for stochastic sediment transport under rarefied conditions" for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. I think your backgrounds in sediment transport would make you valuable revie

[2022-03-28 22:30] lukeolson commented on #4142
@jedbrown thanks... We can also convert the existing `Summary` to a `Statement of need` section of the first paragraph followed by a `Summary` if needed.

[2022-03-29 02:05] briandesilva commented on #4235
I appreciate you reaching out to me, but I also do not have enough of a background in robotics to perform this review.

[2022-03-29 03:59] pfeiffea commented on #4091
Hi @kbarnhart. I'd be happy to. I should be able to complete a first review by ~April 21st.

[2022-03-29 05:03] jbytecode commented on #4254
@editorialbot add @62442katieb as reviewer

[2022-03-29 05:08] jbytecode commented on #4254
@editorialbot start review

[2022-03-29 05:08] editorialbot opened #4280 "[REVIEW]: BetterReg: An R package for Useful Regression Statistics"
**Submitting author:** @chrisaberson (<a href="http://orcid.org/0000-0003-3481-7177">Christopher Aberson</a>)
**Repository:** https://github.com/chrisaberson/BetterReg
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.0
**Editor:** @jbytecode
**Reviewers:** @brunomontezano, @62442katieb
**Archive:** 10.5281/zenodo.6604040

## Status

[![status](https://joss.theoj.org/papers/00e

[2022-03-29 05:08] #4254 closed

[2022-03-29 05:12] jbytecode commented on #4280
Dear reviewers @brunomontezano and @62442katieb

This is the review thread. Please trigger our editorial bot using

`@editorialbot generate my checklist`

to generate your checklist. In this list, there will be 20 checkbox item for each single reviewing task. You can discuss major issues here. You can also open new issues in the target repo and mention them here.

Please do not hesitate to ask me

[2022-03-29 05:27] csoneson commented on #3990
@joewandy I went through the submission and overall this looks great. Just a few minor details in the paper:

* Could you spell out m/z before the first time it is used?
* On line 88 it looks like there may be an "a" too much.
* Line 139: Github -> GitHub
* Line 172: java -> Java
* Line 172: fisher -> Fisher. Also, are the quotes needed here?
* Lines 154/176: J.J.J. van der Hooft's name is rendere

[2022-03-29 06:23] Nikoleta-v3 commented on #4034
That's amazing -- thank you @allaway for the suggestion! I will assign @jaybee84 as a reviewer. Thank you both very much for your time!

[2022-03-29 06:26] Nikoleta-v3 commented on #4056
@editorialbot add @jaybee84  as reviewers

[2022-03-29 06:27] Nikoleta-v3 commented on #4056
@editorialbot add @jaybee84 as reviewer

[2022-03-29 06:31] Nikoleta-v3 commented on #4056
👋🏼 @jaybee84 thank you again for agreeing to review this submission!

 Can you please comment:

`@editorialbot generate my checklist`

on this issue.

 This will generate a checklist. As you go over the submission, please check any items that you feel have been satisfied.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet our criteria ins

[2022-03-29 08:26] Kevin-Mattheus-Moerman commented on #4267
@danielskatz I can take this if @jarvist is not available. Also @danasolav may be interested and able to help?

[2022-03-29 08:34] danasolav commented on #4225
@thelfer, thank you for your interest! We're generally flexible, but usually aim for about 2-4 weeks. How long do you think you'll need?

[2022-03-29 08:37] schruste commented on #4225
Hi, for me the situation is similar to @thelfer . I have roughly 10 non-joss-reviews on my desk at the moment and the one joss review (ASFem). I will not be able to handle this one additionally if the time frame is 4 weeks or below. Sorry.

[2022-03-29 08:39] thelfer commented on #4225
@danasolav  it depends. A priori, it seems a fairly huge project so 2-4 weeks so a minimun for the review on my side. However, I'll be very busy during the two next weeks and on vacations for two weeks after that. To be honest, don't expect the review to be finished before two months on my side.

[2022-03-29 08:39] tuelwer commented on #4235
@adi3 unfortunately, I am also not able to write an appropriate review for this submission. Sorry!

[2022-03-29 08:40] emanuelhuber commented on #4185
@Kevin-Mattheus-Moerman All check boxes are now checked!

[2022-03-29 08:47] osorensen commented on #4239
Thanks @bencardoen! Although we have two reviewers, one more would be great, so please mention their GitHub usernames here without the leading '@'

[2022-03-29 09:05] capitalaslash commented on #4225
@danasolav sorry for not replying earlier, but I will not be able to review this.

[2022-03-29 10:19] zaccharieramzi commented on #4239
Hi @osorensen ,

I am currently on holiday with little internet access. I think the submission could be in my range of expertise, in which case I would be interested in reviewing it. But can I get back to you after April 3rd to give you a final answer?

[2022-03-29 10:28] leouieda commented on #4217
@hemmelig @hfmark thank you for the detailed reviews and suggestions! 🎉

Yes, you are definitely encouraged to open issues and PRs (if you're feeling generous) directly in the source repository.

@valentineap my recommendation would be for you or the reviewers to open issues for each of the tasks outlined in the reviews (fix the failing test, expanding the example documentation, creating community

[2022-03-29 10:29] arfon commented on #4149
@blakeaw, @yhtang, @rkurchin, @mortele – I'm afraid we're going to need to pause this review to resolve an administrative issue amongst our editorial team.

@blakeaw, @yhtang – please hold off doing any further work on your review until you've heard back from us.

[2022-03-29 10:31] aureliocarnero commented on #4220
Sorry, Im busy at the moment, apologies for the inconvenience

[2022-03-29 11:02] osorensen commented on #4239
Thanks @zaccharieramzi. As we've already found two reviewers, I suggest that I get back to you in a later submission. Enjoy your holiday!

[2022-03-29 11:43] marcosvital commented on #4276
Yes, I can.

[2022-03-29 11:43] marcosvital commented on #4276
@editorialbot assign @marcosvital as editor

[2022-03-29 12:00] mortele commented on #4149
Hi @arfon, thank you for letting us know.

[2022-03-29 12:10] danielskatz commented on #4267
@Kevin-Mattheus-Moerman - thanks - having not heard back from @jarvist, I'll go ahead and assign you

[2022-03-29 12:11] danielskatz commented on #4267
@editorialbot assign @Kevin-Mattheus-Moerman as editor

[2022-03-29 12:13] danielskatz commented on #4276
You can just ignore it - @editorialbot is not always correct, and in this example, it is wrong.

[2022-03-29 12:47] LukasAdamowicz commented on #4235
I dont have the time as well currently, sorry.

On Tue, Mar 29, 2022 at 4:39 AM Tobias Uelwer ***@***.***>
wrote:

[2022-03-29 14:03] yangbai90 commented on #4225
Hi @danasolav , I can review this interesting package.

[2022-03-29 14:19] danasolav commented on #4225
@yangbai90, excellent. Thank you!
@editorialbot add @yangbai90 as reviewer

[2022-03-29 14:21] danasolav commented on #4225
@editorialbot start review

[2022-03-29 14:21] editorialbot opened #4281 "[REVIEW]: BioDeg: A finite element software for the simulation of the corrosion and biodegradation process in metallic biomaterials"
**Submitting author:** @mbarzegary (<a href="http://orcid.org/0000-0002-1456-0610">Mojtaba Barzegari</a>)
**Repository:** https://github.com/mbarzegary/BioDeg-UI/
**Branch with paper.md** (empty if default branch):
**Version:** v0.8.1
**Editor:** @danasolav
**Reviewers:** @kerstinvg, @yangbai90
**Archive:** https://github.com/mbarzegary/BioDeg-UI/releases/tag/v0.8.1

## Status

[![status](https://

[2022-03-29 14:21] #4225 closed

[2022-03-29 14:56] arunpersaud commented on #2688
Thanks for the link. I managed to get the pdf to compile locally and pushed the fixed. Hope this resolved the issues.

[2022-03-29 15:07] timtroendle commented on #2688
@arunpersaud , thank you. As you can see, it worked perfectly fine now.

@untzag , I am sorry for the delay. You have now access to the most recent article proof.

[2022-03-29 16:11] garrettj403 commented on #2688
I tried the Siglent demo again. The bugs that I raised in my original issue are fixed (although, I can't toggle the power on/off).

I read through the proof. It looks good but there are a couple spelling mistakes, for example:
- "Tasks ... often needs" -> "Tasks ... often need"
- "usecase" -> "use case"
- you capitalize some software names (e.g., "LabVIEW") but not others (e.g., "python" vs "Pytho

[2022-03-29 16:15] diehlpk commented on #4279
@editorialbot commands

[2022-03-29 16:15] tdoane commented on #4091
HI @kbarnhart! I'm happy to review as well. The timeline works for me. Thanks!

[2022-03-29 16:15] diehlpk commented on #4279
@editorialbot remove @mrudangm from reviewers

[2022-03-29 16:21] kbarnhart commented on #4091
@editorialbot add @pfeiffea to reviewers

[2022-03-29 16:21] kbarnhart commented on #4091
@editorialbot add @tdoane to reviewers

[2022-03-29 16:21] kbarnhart commented on #4091
@editorialbot start review

[2022-03-29 16:21] editorialbot opened #4282 "[REVIEW]: py_SBeLT: A Python software package for stochastic sediment transport under rarefied conditions"
**Submitting author:** @szwiep (<a href="http://orcid.org/0000-0002-0812-9509">Sarah Zwiep</a>)
**Repository:** https://github.com/szwiep/py_SBeLT
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.2
**Editor:** @kbarnhart
**Reviewers:** @pfeiffea, @tdoane
**Archive:** 10.6084/m9.figshare.19967552.v3

## Status

[![status](https://joss.theoj.org/papers/d7b9cc16b87e8875ec7115a22e

[2022-03-29 16:21] #4091 closed

[2022-03-29 16:22] kbarnhart commented on #4282
@editorialbot set v1.0.1 as version

[2022-03-29 16:23] PaulSt commented on #4135
Hi @Nikoleta-v3,
and sorry for the delay!
- [X] I published a release which I would like to use for the software, https://github.com/PaulSt/NGSTrefftz/releases/tag/v0.1.0
- [X] The software is published in Zenodo at [10.5281/zenodo.6394628](https://zenodo.org/record/6394628)

[2022-03-29 16:48] gully commented on #4220
👋 Hi It's me the author.  Thanks for organizing @xuanxu.  If you're having trouble finding reviewers, I'd recommend looking at the [specutils contributors](https://github.com/astropy/specutils/graphs/contributors). Our code strongly depends on specutils, so they could have a helpful perspective.

[2022-03-29 17:02] 62442katieb commented on #4280
@editorialbot generate my checklist

[2022-03-29 17:16] nasserma commented on #3742
@editorialbot generate pdf

[2022-03-29 17:36] nasserma commented on #3742
@editorialbot generate pdf

[2022-03-29 17:55] xuanxu commented on #4220
Hey @gully! Yes, so far all the reviewers I've contacted are unavailable. I'm still waiting for replies from a couple candidates I emailed yesterday but will try the specutils contributors next, thanks!

[2022-03-29 18:09] arunpersaud commented on #2688
fixed the spelling mistakes. Thanks for pointing them out!

[2022-03-29 18:14] jbytecode commented on #4222
👋👋👋 Dear @Datseris   👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**VTUFileHandler: A VTU library in the Julia language that implements an algebra for basic mathematical operations on VTU data**". You can find more i

[2022-03-29 18:26] hsang commented on #4133
@editorialbot generate my checklist

[2022-03-29 18:49] streeve commented on #4115
From our side, new examples are nearly finished (ECP-copa/Cabana/issues/352 & ECP-copa/Cabana/issues/496). Wiki is nearing a complete draft for Cajita (https://github.com/ECP-copa/Cabana/wiki/Programming-Guide) and performance (https://github.com/ECP-copa/Cabana/wiki/Benchmarks)

[2022-03-29 19:32] jbytecode commented on #3448
@koaning, are you receiving our notifications? Are you going to continue this submission? Could you please give me a deadline?

[2022-03-29 19:50] bilderbuchi commented on #2688
@arunpersaud I have noticed that you've cited the catalog I assembled in a discussion thread (Buchner, 2021), thank you!

I had a rework of that table into something more durable in progress for a couple months now, it was 80% finished. I gave this a last push now and published it at https://github.com/pymeasure/python-lab-automation-landscape, so I think it makes more sense to link there, instead

[2022-03-29 19:53] estenhl commented on #4278
@editorialbot generate my checklist

[2022-03-29 20:05] atmyers commented on #4115
@diehlpk The new performance benchmarks look good to me. All of my comments have now been addressed - I think this is ready for publication.

[2022-03-29 20:32] joewandy commented on #3990
@editorialbot generate pdf

[2022-03-29 20:37] brunomontezano commented on #4280
@editorialbot generate my checklist

[2022-03-29 20:53] jsheunis commented on #4248
@editorialbot generate my checklist

[2022-03-29 20:55] joewandy commented on #3990
Thank you @csoneson. I've done all the following steps:

The tagged release is here: https://github.com/glasgowcompbio/vimms/releases/tag/V2.0.5.

Zenodo archive can be found here: https://zenodo.org/record/6395052. I've checked that the metadata is correct. The DOI of the archived version is 10.5281/zenodo.6395052.

[2022-03-29 22:10] Datseris commented on #4222
Hello, thank you for the invitation but unfortunately I have to kindly decline, because the paper topic is too far away from my area of expertise and I am already dedicating some free time resources reviewing https://github.com/openjournals/joss-reviews/issues/4207

I wish you the best in finding alternative reviewers!

[2022-03-29 23:10] mrbuche commented on #4264
@editorialbot generate pdf

[2022-03-30 01:20] jmschrei commented on #3916
Hey @elliothershberg and @pkerpedjiev, can I get a progress update? How are things going?

[2022-03-30 01:21] jmschrei commented on #4038
Great! Looks like everything is in order. I'll proceed.

[2022-03-30 01:23] jmschrei commented on #4038
@nulberry what branch is the main version, with revisions, of the paper on now? What is the version of the software, is there a tagged release, and is there a DOI (e.g. from Zenodo) that we can use?

[2022-03-30 06:35] csoneson commented on #3990
@editorialbot set V2.0.5 as version

[2022-03-30 06:36] corentin-dev commented on #4276
The manuscript proof is ready for revision.
Best regards,
Corentin

[2022-03-30 06:36] csoneson commented on #3990
@editorialbot set 10.5281/zenodo.6395052 as archive

[2022-03-30 06:37] csoneson commented on #3990
@joewandy Great, this looks ready to go! I'll hand over to the associate EiC on rotation for the last steps. Thank you for submitting to JOSS!

[2022-03-30 06:37] csoneson commented on #3990
@editorialbot recommend-accept

[2022-03-30 07:15] Nikoleta-v3 commented on #4135
@editorialbot set [10.5281/zenodo.6394628](https://zenodo.org/record/6394628) as archive

[2022-03-30 07:16] Nikoleta-v3 commented on #4135
@editorialbot set v0.1.0 as version

[2022-03-30 07:16] Nikoleta-v3 commented on #4135
@editorialbot recommend-accept

[2022-03-30 07:22] uellue commented on #4052
Thank you for the updated material in the paper and the documentation. It is already improved. Today I tried to complete the review. Unfortunately the documentation still doesn't allow me to properly test it. Furthermore there are items missing in the paper.

## State of the field

The paper and documentation should outline clearly how DASF distinguishes itself from generic Python websocket server

[2022-03-30 08:04] PaulSt commented on #4135
Hi @Nikoleta-v3,
I was just checking if the error was an issue in the paper but locally it compiled. Is it possible that

loops back onto itself? So one would need to call it without the link? :thinking:

[2022-03-30 08:18] martinfleis commented on #4052
It it fine that some of the minor contributors are not among the authors of the paper.

I have another question on authorship though. @d-eggert can comment on the roles of Mike Sips and Doris Dransch? I don't think I noticed them in the commit history. Thanks!

[2022-03-30 08:20] uellue commented on #4052
I remember checking all four repositories for contributors. Maybe the automated tool only checked one repository?

[2022-03-30 08:22] martinfleis commented on #4052
Yes it does check only one but I skimmed the rest manually. I might have missed something though, so I assume that clarification from @d-eggert will resolve it.

[2022-03-30 08:23] xuanxu commented on #4220
@eteq / @saogaz / @brechmos: would you be willing to review this paper? As specutils contributors all of you are a great fit for this submission.

[2022-03-30 08:27] kbenoit commented on #4036
Same here

[2022-03-30 08:54] bmorris3 commented on #4220
Hi @gully et al., I'm happy to review! What is the expected turnaround time?

[2022-03-30 08:58] xuanxu commented on #4220
Hi @bmorris3, thanks! The turnaround time is up to six weeks after the review issue is created.

I'm going to add you as reviewer now, and once we have the second reviewer I'll start the review issue. Stay tuned!

[2022-03-30 09:00] xuanxu commented on #4220
@editorialbot add @bmorris3 as reviewer

[2022-03-30 09:02] Nikoleta-v3 commented on #4135
Thank you for checking the error! Let me try that 😄

[2022-03-30 09:02] Nikoleta-v3 commented on #4135
@editorialbot set 10.5281/zenodo.6394628 as archive

[2022-03-30 09:03] Nikoleta-v3 commented on #4135
@editorialbot recommend-accept

[2022-03-30 09:09] AlexanderJuestel commented on #3709
@omshinde @kanishkan91 Have you heard anything from @crvernon? Or is there anything that I still need to do with respect to the publication?

[2022-03-30 09:13] lucydot commented on #4234
Hi @phoebe-p would you be able to review this package for JOSS? I think you have the relevant experience required as a Solcore developer and semiconductor specialist. I do not think you have reviewed for JOSS before (?) - it is quite a different experience to a more traditional journal with the review being more of a discussion between author/reviewer/editor (and our editorial bot). There is more

[2022-03-30 09:17] phoebe-p commented on #4234
Yes @lucydot, I can review. I haven’t reviewed for JOSS before but I have published in JOSS so I am
quite familiar with the review process (at least from the other side)!

[2022-03-30 09:19] yangbai90 commented on #4281
@editorialbot generate my checklist

[2022-03-30 09:20] fabian-s commented on #4228
@alstat could you give us a brief update on your progress resolving the issues pointed out by the reviewers?

[2022-03-30 09:24] lucydot commented on #3742
@nasserma it looks like there may be an issue with an inline reference. The error message reads `attempt to get length of a nil value (local 'author')`.

Looking at the bib file, there are "author" fields missing in the "misc" entries, but I don't think these should be causing the problem. Perhaps you need double curly brackets around "Message Passing Interface Forum" as this is not in the standar

[2022-03-30 09:34] lucydot commented on #4234
Excellent - thanks @phoebe-p!

@mikeheiber I see that you have expertise in semiconductor modelling - are you available to review this submission for JOSS?

[2022-03-30 09:41] kerstinvg commented on #4281
@editorialbot generate my checklist

[2022-03-30 10:07] Nikoleta-v3 commented on #4135
Thank you @PaulSt for helping with the compiling issue 😄

[2022-03-30 10:27] leonardgoeke commented on #4158
My objections are sufficiently addressed in the revised version and I’ve updated my checklist above accordingly.

[2022-03-30 11:00] PaulSt commented on #4135
@Nikoleta-v3 is missing as the editor in the proof, everything else looks good to me!

[2022-03-30 11:42] 11michalis11 commented on #4266
@editorialbot generate my checklist

[2022-03-30 12:31] nasserma commented on #3742
@editorialbot generate pdf

[2022-03-30 12:36] puolival commented on #3956
@oliviaguest

I am still not able to modify the list. If I click the previous invitation link again, I get the following error message "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account."

Anyway, as it was decided that a large part of my review will not be addressed, I think you can continue with

[2022-03-30 12:40] danielskatz commented on #3956
@puolival - because JOSS changed its bot, some reviews that were started but where a reviewer didn't accept an invitation ended up in an odd situation.  The best option here is for you to write `@editorialbot generate my checklist` as a new comment - this will generate a new checklist for you that you can then fill in.  You can then ignore your part of the original checklist (and @oliviaguest coul

[2022-03-30 12:56] arunpersaud commented on #2688
@bilderbuchi happy to cite the new updated link and also to wait for DOI. Let me know once you have it. No problem on my side to wait a few more days if this is OK with the editors

[2022-03-30 13:33] nasserma commented on #3742
@WilkAndy @lucydot I have improved the figures for tutorials 8 and 10 in the revised manuscript (above), the only issue left are that the figures for tutorial 9 need to be side-by-side. There seem to be a few ways to do this using Markdown, if there is a preferred one please let me know.

[2022-03-30 13:49] althonos commented on #4209
@editorialbot generate pdf

[2022-03-30 14:56] mrbuche commented on #4264
@editorialbot commands

[2022-03-30 14:57] mrbuche commented on #4264
@editorialbot check repository

[2022-03-30 15:00] stmcg commented on #4255
Yes, I'd be happy to review this submission

[2022-03-30 15:18] diehlpk commented on #4115
@atmyers thanks for finishing the review.

[2022-03-30 15:18] koaning commented on #3448
@jbytecode sorry for the delays, personal life has taken over most of my os-work. I think for now it may be safer to assume I won't be able to allocate time on this. It's been a [rollercoaster](https://koaning.io/posts/beyond-broken/) and it doesn't seem to be stopping.

[2022-03-30 15:29] desilinguist commented on #3448
@koaning I am so sorry to hear what you have been going through. We don't know each other very well so it's not my place to offer anything other than my sincere condolences and deepest sympathy.

[2022-03-30 18:30] VivianePons commented on #4253
@editorialbot start review

[2022-03-30 18:30] editorialbot opened #4283 "[REVIEW]: A Modularised Java library for 3D Euclidean geometry"
**Submitting author:** @agdturner (<a href="http://orcid.org/0000-0002-6098-6313">Andy Turner</a>)
**Repository:** https://github.com/agdturner/ccg-v3d
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @abhishekvp, @behollister
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/3bf7c502ce55ca97c654e633f3310057/status.sv

[2022-03-30 18:30] #4253 closed

[2022-03-30 18:50] VivianePons commented on #4266
@auroreloisy Thank you, I think I still have a few names to check. I just contacted someone.

[2022-03-30 18:59] chainsawriot commented on #4036
@kbenoit

Regarding your comments, I have made the following changes

* Biases / Associations - I have made it clear that the package provides methods for detecting associations; and wanted associations are biases. A published article (Jing & Ahn, 2021) has been cited as an example of the application you suggested. The README is also revised to have a consistent framing.

https://github.com/chains

[2022-03-30 18:59] chainsawriot commented on #4036
@editorialbot generate pdf

[2022-03-30 19:09] nulberry commented on #4038
:partying_face: The paper is on the main branch, and I just created a tagged release v1.0.0. I have not created a DOI for it.

[2022-03-30 19:59] kyleniemeyer commented on #4070
@editorialbot accept

[2022-03-30 20:05] kyleniemeyer commented on #4070
Congratulations @victorsacek on your article's publication in JOSS!

Many thanks to @rbeucher and @psanan for reviewing this, and @jedbrown for editing.

[2022-03-30 20:05] #4070 closed

[2022-03-30 20:13] kyleniemeyer commented on #4017
@openjournals/dev can you help diagnose the issue with the DOI? For some reason the colon in `10.1051/0004-6361:20031482` is lost, though I do see it in the XML, JATS, and PDF. I *think* that means this is a false alarm, but maybe indicates an issue with editorialbot's DOI parsing.

[2022-03-30 20:19] kyleniemeyer commented on #4017
Hi @BjoernBiltzinger, I'm doing some final checks before publishing. Just two small things:
- Can you expand the "A&A" journal title in the Vedrenne et al. reference?
- Can you add the arXiv subject/category and identifier information to the Vianello et al. reference, like `{\tt arXiv:0706.1234 [math.FA]}` (for example)?

[2022-03-30 20:56] bilderbuchi commented on #2688
I just pushed an initial release out, not fully polished but good enough/better than the original sheet anyway :D
https://doi.org/10.5281/zenodo.6399527

[2022-03-30 21:13] kstoreyf commented on #4240
@editorialbot generate pdf

[2022-03-30 21:23] kyleniemeyer commented on #4180
Hi @ColemanRHarris, I'm doing some final checks before publishing.

Could you add the appropriate `arXiv:YYMM.NNNNv# [category]` to the McInnes reference, and any other arXiv references I may have missed? You can do this in the `.bib` file with `{\tt arXiv:0706.1234 [math.FA]}` (for example)

[2022-03-30 21:40] kyleniemeyer commented on #4024
Hi @po60nani, I'm doing some final checks before publishing. Just a few things:
- in the statement of need section, could you change "e.g" to "e.g.," ?
- The journal name in the Dastjerdi et al. reference looks off, could you correct that?

[2022-03-30 21:50] ColemanRHarris commented on #4180
Hi @kyleniemeyer, I have added the arXiv reference as requested. Thank you!

[2022-03-30 21:52] kyleniemeyer commented on #4180
@editorialbot generate pdf

[2022-03-30 21:58] kyleniemeyer commented on #4180
@editorialbot accept

[2022-03-30 22:04] kyleniemeyer commented on #3990
@whedon accept

[2022-03-30 22:09] kyleniemeyer commented on #4180
Congratulations @ColemanRHarris on your article's publication in JOSS!

Many thanks to @askerdb and @tijeco for reviewing this, and @osorensen for editing.

[2022-03-30 22:09] #4180 closed

[2022-03-30 22:10] kyleniemeyer commented on #3990
Congratulations @joewandy on your article's publication in JOSS!

Many thanks to @jspaezp and @MKoesters for reviewing this, and @csoneson for editing.

[2022-03-30 22:10] #3990 closed

[2022-03-30 22:16] kyleniemeyer commented on #4135
@openjournals/dev I think the editor should be showing up properly in the proof, any idea what's going on there?

[2022-03-30 22:22] kyleniemeyer commented on #4135
The proof looks good otherwise, but I'll wait for that issue to be fixed to publish.

[2022-03-30 23:15] mrbuche commented on #4264
@editorialbot check repository

[2022-03-31 01:48] patrickmineault commented on #4098
Apologies, will get to it this weekend.

[2022-03-31 02:32] jgostick commented on #3957
@editorialbot set 1.0.0 as version

[2022-03-31 02:33] jgostick commented on #3957
@editorialbot set 10.5281/zenodo.6381082 as archive

[2022-03-31 02:34] jgostick commented on #3957
@editorialbot check references

[2022-03-31 02:34] jgostick commented on #3957
@editorialbot generate pdf

[2022-03-31 02:38] jgostick commented on #3957
@editorialbot add @jgostick as reviewer

[2022-03-31 02:39] jgostick commented on #3957
@editorialbot recommend accept

[2022-03-31 02:40] jgostick commented on #3957
@editorialbot commands

[2022-03-31 02:41] jgostick commented on #3957
@editorialbot recommend-accept

[2022-03-31 02:44] jgostick commented on #3957
Hi @nanthony21, thanks for you patience throughout this review, it was a bit slow.  An editor in chief should be along soon to accept it officially, well done!

[2022-03-31 02:50] jgostick commented on #4260
Hi @temmy222
The website says that the diff has expired...can you set it up again?

[2022-03-31 03:06] jgostick commented on #4260
After reading the paper and browsing the website, I can see that this package has a long way to go.  It seems to me that you're trying to publish too soon.  IF the JOSS review were to start today, the reviewers would be given a checklist of things to look for, and I can tell that many of those boxes would be left unchecked.  For an example of a polished project, please look at one I recently edite

[2022-03-31 03:25] jmschrei commented on #4038
@editorialbot generate pdf from branch main

[2022-03-31 03:25] jmschrei commented on #4038
@editorialbot set main as branch

[2022-03-31 03:25] jmschrei commented on #4038
@editorialbot generate pdf

[2022-03-31 03:26] jmschrei commented on #4038
@editorialbot check references

[2022-03-31 03:27] jmschrei commented on #4038
@nulberry would you mind creating a DOI for the submission? It'll be needed before the paper can be accepted.

[2022-03-31 03:27] jmschrei commented on #4038
@editorialbot set v1.0.0 as version

[2022-03-31 04:07] jaybee84 commented on #4056
@editorialbot generate my checklist

[2022-03-31 06:57] bleyerj commented on #4227
Hi @diehlpk, thank you for the invitation but I am not able to review for the next few weeks

[2022-03-31 07:32] fabian-s commented on #4255
@editorialbot add @stmcg as reviewer

[2022-03-31 07:33] fabian-s commented on #4255
@editorialbot start review

[2022-03-31 07:33] editorialbot opened #4284 "[REVIEW]: adaptr: an R package for simulating and comparing adaptive clinical trials"
**Submitting author:** @agranholm (<a href="http://orcid.org/0000-0001-5799-7655">Anders Granholm</a>)
**Repository:** https://github.com/INCEPTdk/adaptr
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v1.0.0
**Editor:** @fabian-s
**Reviewers:** @elimillera, @stmcg
**Archive:** 10.5281/zenodo.6490087

## Status

[![status](https://joss.theoj.org/papers/e070045b6998360d9

[2022-03-31 07:33] #4255 closed

[2022-03-31 07:36] JoranTiU commented on #4255
Apologies for the late reply. If you need an additional reviewer, I happy to help 😊

[2022-03-31 07:37] fabian-s commented on #4284
👋🏼 @agranholm @elimillera @stmcg
this is the review thread for the paper. All of our communications will happen here from now on.

@elimillera @stmcg  please begin by creating checklists for your reviews by entering

```@editorialbot generate my checklist```

as a comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please check any items that you

[2022-03-31 08:02] xuanxu commented on #4017
@editorialbot check references

@kyleniemeyer indeed, that was a false alarm caused by a bug in the bot's DOI parsing code. Should work correctly now.

[2022-03-31 08:14] xuanxu commented on #4135
Probably this can be fixed by @Nikoleta-v3 filling in *first_name/last_name* fields in her [editor profile page](https://joss.theoj.org/editor_profile).

[2022-03-31 08:47] Nikoleta-v3 commented on #4135
Yeah they are already filled. I've edited other submissions in the past and my name appeared without a problem 😄

[2022-03-31 09:01] videlec commented on #3996
(sorry for my very naive questions)

[2022-03-31 09:06] xuanxu commented on #4135
Ouch, then sounds like there's a bug somewhere in the code preparing the paper. I'm going to try to locate it.

[2022-03-31 09:32] fredstro commented on #3996
It is trivial to write down a set of generators but it is very hard to find a set of "side-pairing" generators and get out a presentation from the geometry (which is the most conceptual way of doing it over Q). The code can be used to do this numerically but it is not easy as the "bottom" of the fundamental domain is very complicated in general.
I am working on another algorithm (which will use pa

[2022-03-31 09:41] videlec commented on #3996
Using `HilbertPullback` is perfectly fine (this reduction is not attached to the group anyway, you did a choice of fundamental domain). Could you had this `P1.reduce` early in the `ExamplesK1.ipynb`?

[2022-03-31 09:51] BjoernBiltzinger commented on #4017
@whedon check references

[2022-03-31 09:52] BjoernBiltzinger commented on #4017
@editorialbot check references

[2022-03-31 09:55] fredstro commented on #3996
Yes, I can move it earlier up.

[2022-03-31 09:56] BjoernBiltzinger commented on #4017
Hi @kyleniemeyer  in the newest version of the paper draft I addressed the two points you mentioned. I also found out today, that arxiv has added DOIs for the articles published on arxiv. So we have now a valid DOI for this paper, which I added to the bibtex entry.

[2022-03-31 10:28] timdewhirst commented on #3736
Apologies for the delay - I'm looking again at the code. At the moment I have access to OS X and Linux environments, I can see the windows branch, but won't easily be able build on windows.

[2022-03-31 11:09] xuanxu commented on #4135
Bug found, it was caused by incorrectly managing usernames with upcased letters.
Fix applied, regenerating the paper should get the right editor info now.

[2022-03-31 11:13] Nikoleta-v3 commented on #4135
Thank you very much @xuanxu!

Should I run the `generate pdf command`? will this update the final proofs or should I re-run `@editorialbot recommend-accept`?

[2022-03-31 11:17] xuanxu commented on #4135
@Nikoleta-v3 yeah, let's try the `recommend-accept` again🤞

[2022-03-31 11:18] Nikoleta-v3 commented on #4135
@editorialbot recommend-accept

[2022-03-31 11:21] xuanxu commented on #4135
Yay! 🎉
![Captura de pantalla 2022-03-31 a las 13 21 20](https://user-images.githubusercontent.com/6528/161043946-2fb657cc-cc05-474c-a06d-9f6ffe354b3b.png)

[2022-03-31 11:22] timdewhirst commented on #3736
I've raised another couple of minor issues, but I think my original comment stands:

"On code structure: this is my main area of concern; the code need work to follow best practices in structure, legibility, efficiency and testing. Very little C++ is used, and this is a shame; modern C++ has powerful features for generic and functional style programming which would allow the code to be cleaner, mo

[2022-03-31 11:22] timdewhirst commented on #3736
I've raised another couple of minor issues, but I think my original comment stands:

"On code structure: this is my main area of concern; the code need work to follow best practices in structure, legibility, efficiency and testing. Very little C++ is used, and this is a shame; modern C++ has powerful features for generic and functional style programming which would allow the code to be cleaner, mo

[2022-03-31 11:28] hechth commented on #4201
@dhhagan Thank you for accepting to edit this manuscript!

[2022-03-31 11:30] Nikoleta-v3 commented on #4135
I am not invisible anymore 👻 🎉

[2022-03-31 12:54] d-eggert commented on #4052
Thanks for your feedback. I will look into the things you pointed out and get back to you as soon as I have found time to address them.

Regarding the authors: as pointed out earlier there are some minor contributions from students that we didn't include in the author list of the joss paper. In my understanding these are two different things anyway. On one side we have the authors working on the p

[2022-03-31 13:16] po60nani commented on #4024
Hi, @kyleniemeyer. I fixed the problems.

[2022-03-31 14:22] iagolemos1 commented on #4227
Hello,

Sorry for the late answer. I won't be able to review the paper because of
paralel things that are going on, otherwise, I would be happy to help!

Best regards!

Le jeu. 31 mars 2022 à 15:50, Babak N. Safa ***@***.***> a
écrit :

[2022-03-31 14:26] kanishkan91 commented on #3709
@AlexanderJuestel I haven't heard from @crvernon. But at this point of time, he may get back to you with any edits that he requires. You may be required to make some edits after the JOSS editor looks at it. But I think this is mostly done. Let's see what the reviewer says.

[2022-03-31 14:33] nicoguaro commented on #4267
@Kevin-Mattheus-Moerman, yes, I am interested.

[2022-03-31 14:37] kyleniemeyer commented on #4024
@editorialbot generate pdf

[2022-03-31 14:38] kyleniemeyer commented on #4135
@editorialbot accept

[2022-03-31 14:39] kyleniemeyer commented on #4017
@editorialbot generate pdf

[2022-03-31 14:42] althonos commented on #4209
Hello @mikldk, any remaining point before starting the review?

[2022-03-31 15:05] XzzX commented on #4115
Somehow my checkboxes got unchecked... Thank you @streeve for all the documentation! With these changes I think it is ready for publication.

[2022-03-31 15:53] crvernon commented on #3709
@AlexanderJuestel apologies for the delay. I had a family emergency I had to tend to. I'll finalize this process early next week.

[2022-03-31 15:55] crvernon commented on #3852
@jlarsen-usgs apologies for the delay. I had a family emergency that I had to tend to. I'll finalize this early next week.

[2022-03-31 15:59] nulberry commented on #4038
It looks like I have to create a new release in order for Zenodo to create a DOI. Sorry I did this out of order, I've never done this before. Is it okay if I delete the release v1.0.0 and redo it?

[2022-03-31 16:20] jmschrei commented on #4038
No problem. I'm just storing metadata here so far.

[2022-03-31 16:25] aaronpeikert commented on #4038
Alternatively, you can give the release a different tag (like `v1.0.0-tickle-zenodo`). But there is probably little reason for such precautions. If other things rely on your release on the other hand this would be the safe way (assuming the relying software knows to avoid non-semver releases, which most recognize). It is not unusual to see tags like `v1.4.8-docs` to retrigger the documentation ci.

[2022-03-31 16:26] ColemanRHarris commented on #4180
Huge thank you to @tijeco and @askerdb for your reviews, and @osorensen and @kyleniemeyer for your editorial work. Much appreciated! 🎉

[2022-03-31 16:51] nulberry commented on #4038
This is good to know, thanks. I've deleted and redone the release, and now Zenodo has created a DOI: https://zenodo.org/badge/latestdoi/380004451

[2022-03-31 17:31] sbenthall commented on #4036
Super. Thank you for your reviews @cmaimone and @kbenoit !

There are just a few more steps to go @chainsawriot ...

[2022-03-31 17:31] sbenthall commented on #4036
@editorialbot check references

[2022-03-31 17:32] sbenthall commented on #4036
@chainsawriot Can you please fix the missing DOI that the editorialbot found above?

[2022-03-31 17:52] sbenthall commented on #4036
@chainsawriot A few more comments on the paper based on my read-through:

This sentence occurs before you say what WEAT is. It would be better to give the meaning of the acronym the first time you mention it.

[2022-03-31 18:41] stmcg commented on #4284
@editorialbot generate my checklist

[2022-03-31 18:44] danielskatz commented on #3996
@editorialbot set paper_joss as branch

[2022-03-31 18:44] danielskatz commented on #3996
@editorialbot check references

[2022-03-31 18:44] danielskatz commented on #3996
@editorialbot generate pdf

[2022-03-31 19:33] diehlpk commented on #4115
@editorialbot commands

[2022-03-31 19:35] diehlpk commented on #4115
@editorialbot check references

[2022-03-31 19:45] wojdyr commented on #4200
@jamesrhester I misunderstood *community guidelines*. I thought about [Github guidelines][1] which recommend that people are nice and don't offend each other. When the user open a new issue, they see a footnote:
<sub>Remember, contributions to this repository should follow our [GitHub Community Guidelines](https://docs.github.com/articles/github-community-guidelines).</sub>

But I see that the com

[2022-03-31 19:46] diehlpk commented on #4115
@streeve could you please check the reported missing DOIs?

[2022-03-31 19:47] diehlpk commented on #4115
@streeve We have the policy that the city and country needs to be added to all affiliations. Can you please update the paper accordingly?

[2022-03-31 19:50] kyleniemeyer commented on #4135
Congratulations @PaulSt on your article's publication in JOSS!

Many thanks to @mscroggs and @thelfer for reviewing this, and @Nikoleta-v3 for editing.

[2022-03-31 19:50] #4135 closed

[2022-03-31 19:53] streeve commented on #4115
Yes, I will take update shortly. Thanks to both reviewers for all their time and useful suggestions

[2022-03-31 20:07] chainsawriot commented on #4036
@editorialbot check references

[2022-03-31 20:09] chainsawriot commented on #4036
@sbenthall I've resolved the two issues.

[2022-03-31 20:10] kyleniemeyer commented on #4024
@po60nani thanks—but unfortunately there is another issue that I missed, the Astropy paper is missing the journal name (we see this a lot because .bib files often have journal name macros that our system doesn't interpret). Could you fix that too?

[2022-03-31 20:13] kyleniemeyer commented on #4017
@editorialbot accept

[2022-03-31 20:19] PaulSt commented on #4135
Hi @kyleniemeyer,

thank you very much and many thanks to @Nikoleta-v3 for editing!

I was looking at the publication and was surprised to see the quotation mark ` used to style the title in markdown made it into the title on the joss homepage. I don't know how that happened, and my apologies if this was an error on my side. If still possible, it might be nicer to remove it, to make it more unifor

[2022-03-31 20:43] kyleniemeyer commented on #3957
Hi @nanthony21, I made a small PR that fixed some of the references in the paper, can you merge this? https://github.com/BackmanLab/PWSpy/pull/21

I will publish your article after that.

[2022-03-31 20:45] kyleniemeyer commented on #4017
Congratulations @BjoernBiltzinger on your article's publication in JOSS!

Many thanks to @Tohuvavohu and @dfm for reviewing this, and @christinahedges for editing.

[2022-03-31 20:45] #4017 closed

[2022-03-31 21:16] po60nani commented on #4024
@kyleniemeyer, Thank you, I fixed it.

[2022-03-31 21:46] pdebuyl commented on #4205
@olgadoronina any news?

[2022-03-31 21:54] pdebuyl commented on #4077
Thank you very much @JamieBamber for the review!

@lucass-carneiro the review is positive as far as the checklist is concerned. It would be good to reply to the comment by @JamieBamber to proceed though.

[2022-03-31 21:59] lucass-carneiro commented on #4077
Thank you for the review @JamieBamber.

@pdebuyl thanks for the remainder and ping. I have been very swamped by other task these last few days and have not found the time yer to respond adequately to Jamie's review yet but I will do so on the following days. Thank you for your patience.

[2022-03-31 22:05] ebezzam commented on #4259
@editorialbot check references

[2022-03-31 22:06] ebezzam commented on #4259
@editorialbot generate pdf

[2022-03-31 22:18] kyleniemeyer commented on #4024
@editorialbot accept

[2022-03-31 22:19] ebezzam commented on #4259
@editorialbot generate pdf

[2022-04-01 01:12] kyleniemeyer commented on #4135
@PaulSt ah, good catch. that is probably not supposed to happen.

@openjournals/dev is this something that can be fixed?

<img width="1074" alt="Screen Shot 2022-03-31 at 6 12 10 PM" src="https://user-images.githubusercontent.com/190432/161175665-d60ec6cb-12e7-42c8-9b94-ab9667e4ed93.png">

[2022-04-01 01:16] editorialbot opened #4285 "[PRE REVIEW]: pyABC: Efficient and robust easy-to-use approximate Bayesian computation"
**Submitting author:** @yannikschaelte (<a href="http://orcid.org/0000-0003-1293-820X">Yannik Schälte</a>)
**Repository:** https://github.com/icb-dcm/pyabc
**Branch with paper.md** (empty if default branch): joss_0_12
**Version:** 0.12.2
**Editor:** @osorensen
**Reviewers:** @mattpitkin, @hpesonen
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/2d6356cc20804387

[2022-04-01 01:22] kyleniemeyer commented on #4285
@editorialbot invite @osorensen as editor

Hi @osorensen, could you edit this?

[2022-04-01 01:22] kyleniemeyer commented on #4285
Hi @yannikschaelte, we will use this issue to get the editor and then reviewers assigned. In the meantime, could you take a look at the missing DOIs in your paper pointed out above? Thanks!

[2022-04-01 01:26] editorialbot opened #4286 "[PRE REVIEW]: GRAPL: A computational library for nonparametric structural causal modelling, analysis and inference"
**Submitting author:** @max-little (<a href="http://orcid.org/0000-0002-1507-3822">Max A. Little</a>)
**Repository:** https://github.com/max-little/GRAPL
**Branch with paper.md** (empty if default branch):
**Version:** v1.3
**Editor:** @Nikoleta-v3
**Reviewers:** @Athene-ai, @fAndreuzzi
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/ff5f7d36e6af106d8708c42d4a0

[2022-04-01 01:30] kyleniemeyer commented on #4286
Hi @max-little, I do not see the paper files in your repository. Can you point to where those are located?

[2022-04-01 01:32] editorialbot opened #4287 "[PRE REVIEW]: dsROCGLM: Conducting distributed ROC analysis using DataSHIELD"
**Submitting author:** @schalkdaniel (<a href="http://orcid.org/0000-0003-0950-1947">Daniel Schalk</a>)
**Repository:** https://github.com/difuture-lmu/dsROCGLM
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/6cf61e70c107b0dc825ec934c01863f9/status

[2022-04-01 01:34] kyleniemeyer commented on #4287
@editorialbot query scope

[2022-04-01 01:36] kyleniemeyer commented on #4287
Hi @schalkdaniel, due to the relatively small size of your software package (in terms of source lines of code), the JOSS editorial board is going to review your submission to see if it meets our requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2022-04-01 01:46] editorialbot opened #4288 "[PRE REVIEW]: RESOURCECODE: A Python package for statistical analysis of sea-state hindcast data"
**Submitting author:** @NRaillard (<a href="http://orcid.org/0000-0003-3385-5104">Nicolas Raillard</a>)
**Repository:** https://gitlab.ifremer.fr/resourcecode/resourcecode
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** 0.5.5
**Editor:** @marcosvital
**Reviewers:** @krober10nd, @platipodium, @malmans2
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.t

[2022-04-01 01:48] kyleniemeyer commented on #4288
@editorialbot invite @kthyng as editor

[2022-04-01 01:48] kyleniemeyer commented on #4288
Hi @NRaillard, we'll use this issue to get the editor and reviewers assigned. In the meantime, could you fix those DOI issues reported above?

[2022-04-01 01:49] editorialbot opened #4289 "[PRE REVIEW]: GasChromatographySimulator.jl"
**Submitting author:** @JanLeppert (<a href="http://orcid.org/0000-0001-8857-8103">Jan Leppert</a>)
**Repository:** https://github.com/JanLeppert/GasChromatographySimulator.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.2
**Editor:** @rkurchin
**Reviewers:** @ma-sadeghi, @bonh
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/a69672eb2dd

[2022-04-01 01:51] kyleniemeyer commented on #4289
Hi @JanLeppert, it looks like there may be some character issues in the paper, in the headers in the `tags:` field. Can you fix that?

[2022-04-01 01:52] kyleniemeyer commented on #4289
@editorialbot invite @jarvist as editor

Hi @jarvist, could you handle this one?

[2022-04-01 01:54] editorialbot opened #4290 "[PRE REVIEW]: glottospace: R package for language mapping and geospatial analysis of linguistic and cultural data"
**Submitting author:** @SietzeN (<a href="http://orcid.org/0000-0003-4692-4543">Sietze Norder</a>)
**Repository:** https://github.com/SietzeN/glottospace
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.0.111
**Editor:** @ajstewartlang
**Reviewers:** @fauxneticien, @skalyan91
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/c93a1ccb6835a1

[2022-04-01 01:54] kyleniemeyer commented on #4290
@editorialbot invite @ajstewartlang as editor

Hi @ajstewartlang, could you edit this submission?

[2022-04-01 01:55] kyleniemeyer commented on #4290
Hi @SietzeN, we'll use this issue to find the editor and reviewers. In the meantime, could you fix those reference issues pointed out above?

(plus, any reviewer suggestions you have would be great!)

[2022-04-01 01:59] editorialbot opened #4291 "[PRE REVIEW]: GALAHAD 4.0: an open source library of Fortran packages with C and Matlab interfaces for continuous optimization"
**Submitting author:** @nimgould (<a href="http://orcid.org/0000-0002-1031-1588">Nicholas Gould</a>)
**Repository:** https://github.com/ralna/GALAHAD
**Branch with paper.md** (empty if default branch):
**Version:** v4.0.0
**Editor:** @melissawm
**Reviewers:** @frankecurtis, @jajhall
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/321c4b0b52956f8fb71666f3c647533

[2022-04-01 02:01] kyleniemeyer commented on #4291
@editorialbot invite @taless474 as editor

Hi @taless474, could you edit this submission?

[2022-04-01 02:08] editorialbot opened #4292 "[PRE REVIEW]: Handprint: a program to explore and compare major cloud-based services for handwritten text recognition"
**Submitting author:** @mhucka (<a href="http://orcid.org/0000-0001-9105-5960">Michael Hucka</a>)
**Repository:** https://github.com/caltechlibrary/handprint
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** 1.5.6
**Editor:** @danielskatz
**Reviewers:** @step21, @rlskoeser
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/3467be8d3425eb6

[2022-04-01 02:10] kyleniemeyer commented on #4292
@openjournals/dev any idea why editorialbot isn't able to see the Python files in the repo? I can see plenty of code here: https://github.com/caltechlibrary/handprint/tree/main/handprint

[2022-04-01 02:12] kyleniemeyer commented on #4292
👋 Hi @mhucka, unfortunately we don't have any available editors in this area right now, so I'm going to have to put this on our waitlist until someone can edit—hopefully it shouldn't be too long.

[2022-04-01 02:13] editorialbot opened #4293 "[PRE REVIEW]: interflow: A Python package to organize, calculate, and visualize sectoral interdependency flow data"
**Submitting author:** @kmongird (<a href="http://orcid.org/0000-0003-2807-7088">Kendall Mongird</a>)
**Repository:** https://github.com/pnnl/interflow
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.2
**Editor:** @fraukewiese
**Reviewers:** @wiljnich, @j3r3m1
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/ae736aa6e75758498cf79ab8ec3fa886

[2022-04-01 02:15] kyleniemeyer commented on #4293
@editorialbot invite @fraukewiese as editor

Hi @fraukewiese, can you edit this submission for us?

[2022-04-01 02:17] kyleniemeyer commented on #4293
Hi @kmongird, we'll use this issue to get the editor and reviewers assigned.

In the meantime, could you look at that one reference issue pointed out above? And, any reviewer suggestions you have would be welcome. Thanks!

[2022-04-01 02:23] editorialbot opened #4294 "[PRE REVIEW]: MeMC: A package for monte-carlo simulations of spherical shells"
**Submitting author:** @vipinagrawal25 (<a href="http://orcid.org/0000-0002-1291-5035">Vipin Agrawal</a>)
**Repository:** https://github.com/vipinagrawal25/MeMC
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/a738d0d1813f33e2d44a1ddaa4b1591f/status.s

[2022-04-01 02:30] kyleniemeyer commented on #4294
Hi @vipinagrawal25, one requirement for JOSS submissions is that they are released under an [OSI-approved open source license](https://opensource.org/licenses). Can you please select and add one to your repository?

[2022-04-01 02:32] kyleniemeyer commented on #4294
@editorialbot invite @fboehm as editor

Hi @fboehm, can you edit this submission?

[2022-04-01 02:33] editorialbot opened #4295 "[PRE REVIEW]: tomso: TOols for Models of Stars and their Oscillations"
**Submitting author:** @warrickball (<a href="http://orcid.org/0000-0002-4773-1017">Warrick Ball</a>)
**Repository:** https://github.com/warrickball/tomso
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.1.0
**Editor:** @christinahedges
**Reviewers:** @danhey, @astrobel
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/eeb4973149b17c

[2022-04-01 02:33] nanthony21 commented on #3957
Thanks @kyleniemeyer , the pull request has been merged.

[2022-04-01 02:35] kyleniemeyer commented on #4295
@editorialbot set joss-paper as branch

[2022-04-01 02:35] kyleniemeyer commented on #4295
@editorialbot generate pdf

[2022-04-01 02:38] mhucka commented on #4292
👋🏻 Hi @kyleniemeyer – thanks!

[2022-04-01 02:39] kyleniemeyer commented on #4295
Hi @warrickball, looks like there is an issue with part of the header in your paper. Could you fix
[code]
to
[code]

and also take a look at some of those reference issues above?

[2022-04-01 02:39] kyleniemeyer commented on #4295
@editorialbot invite @christinahedges as editor

Hi @christinahedges, can you edit this submission?

[2022-04-01 02:40] kyleniemeyer commented on #3957
@editorialbot generate pdf

[2022-04-01 02:44] kyleniemeyer commented on #3957
@editorialbot accept

[2022-04-01 02:52] kyleniemeyer commented on #3957
Congratulations @nanthony21 on your article's publication in JOSS!

Many thanks to @pr4deepr and @jgostick for reviewing this, and @jgostick for editing.

[2022-04-01 02:52] #3957 closed

[2022-04-01 02:53] olgadoronina commented on #4205
@bkmi, I'm really sorry for the delay, I installed and ran tests and examples. I also used my own simple model based on the provided examples. Everything looks good. The package was easy to use and provided examples were really easy to follow. I have completed my review.

[2022-04-01 04:41] DanielRivasMD commented on #4251
@fboehm I have checked the points on the checklist above and I imagine there is a way to generate this list and mark it

[2022-04-01 04:58] elliothershberg commented on #3916
@jmschrei It has been radio silence for a little while. I think a drawback has been understanding the review process is happening through GH issues.

[2022-04-01 05:16] osorensen commented on #4285
@editorialbot assign @osorensen as editor

[2022-04-01 06:39] NRaillard commented on #4288
Hi @kyleniemeyer. I have fixed the DOI issues reported.

@editorialbot generate pdf

[2022-04-01 06:51] schalkdaniel commented on #4287
Hello @kyleniemeyer, I understand that, it is a rather small project. Please let me know if any action from my side is required and thanks for your time. :-)

[2022-04-01 06:51] bkmi commented on #4205
Thank you for the review @olgadoronina!

[2022-04-01 06:54] jmschrei commented on #4038
@editorialbot set 10.5281/zenodo.6402630 as archive

[2022-04-01 06:57] jmschrei commented on #4038
@editorialbot recommend-accept

[2022-04-01 08:09] ajstewartlang commented on #4290
Sure - looks interesting - more than happy to!

[2022-04-01 08:10] ajstewartlang commented on #4290
@editorialbot assign me as editor

[2022-04-01 08:21] fnattino commented on #4032
Hi @hugoledoux  just wanted to check whether everything is fine with the submission since I haven't heard from JOSS. I just noticed there were some issues with the bibliography in preparing the acceptance - but they should now be fixed.

[2022-04-01 08:25] xuanxu commented on #4292
The analyzed branch was `joss-paper`, which doesn't include Python files. To run the code analysis on `main` the simplest way is set branch to main, then run `check repository`, and then set the branch back to `joss-paper`.

[2022-04-01 08:27] vipinagrawal25 commented on #4294
Dear @kyleniemeyer,

Thanks for your comments. I mainly see two issues right now:

1) I have now added a GPL 3.0 license to the repository.
2) We have a section called "Statement of need and purpose of software" in the paper.

I hope it answers the comments.

Regards
Vipin

[2022-04-01 08:35] warrickball commented on #4295
@editorialbot generate pdf

[2022-04-01 08:49] warrickball commented on #4295
Fixed, thanks!

I fixed most of this by removing the many references that were in discarded drafts and looked (quite thoroughly...) to find the DOI for the Asteroseismology textbook. (The suggested DOI was for a different book.)

[2022-04-01 09:03] JanLeppert commented on #4289
@editorialbot generate pdf

[2022-04-01 09:54] max-little commented on #4286
Hi Kyle
Sorry about that, paper files have now been uploaded, you can find them in
the /paper subdirectory of the repository. Is that OK?
Best
Max

On Fri, 1 Apr 2022 at 02:31, Kyle Niemeyer ***@***.***> wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Pro

[2022-04-01 10:15] Kevin-Mattheus-Moerman commented on #4267
@editorialbot add @nicoguaro as reviewer

[2022-04-01 10:31] SietzeN commented on #4290
Thanks a lot @kyleniemeyer! And thank you @ajstewartlang for being willing to edit our paper!

I will fix the reference issues a.s.a.p.

Some potential reviewers could be:
-Nay San: https://www.resunay.com/ , https://github.com/fauxneticien
-Siva Kalyan:https://anu-au.academia.edu/SivaKalyan , https://github.com/skalyan91
- Natalia Levshina: http://www.natalialevshina.com/, https://github.com/levs

[2022-04-01 11:05] SietzeN commented on #4290
References have been fixed in latest commit

[2022-04-01 11:08] yannikschaelte commented on #4285
Hi @kyleniemeyer @osorensen ! Sure, I will address the missing DOIs. Should I then simply update the paper.bib file, or should additional actions be performed?

Regarding reviewers, I think especially persons working on `statistical inference`, `parameter inference` and(/or) `systems/computational biology` (nhejazi, krother, khinsen, cthoyt, dirmeier, blakeaw, GregoryAshton, mattpitkin, marouenbg,

[2022-04-01 11:18] osorensen commented on #4285
Thanks @yannikschaelte. Once you've updated `paper.bib`, you can confirm that it works by writing the comments `@editorialbot generate pdf` and `@editorialbot check references` in this issue.

[2022-04-01 11:21] osorensen commented on #4285
:wave: @nhejazi @GregoryAshton @janfb would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-04-01 11:47] Kevin-Mattheus-Moerman commented on #4267
@nilsmeyerkit @moorepants @KeitaNakamura would you be interested in reviewing this work, on Python based continuum mechanics, for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org)?
JOSS reviews focus on [evaluating the software](https://github.com/JulianKarlBauer/mechkit) and on reviewing the [short paper](https://github.com/openjournals/joss-papers/blob/joss.04267/joss.04267/10

[2022-04-01 11:59] nilsmeyerkit commented on #4267
Thank you for the suggestion, but as a co-author that seems to be a conflict of interest.

[2022-04-01 12:05] fraukewiese commented on #4131
@wholmgren, @EricaEgg, @kramea
– would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [https://joss.readthedocs.io/en/latest/reviewer_guidelines.html](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

The submission under review here is [RHEIA: Robust design optimization of renewa

[2022-04-01 12:15] fraukewiese commented on #4158
@MiftariB : Yes, that is normal for a preview version. You can have a look at already published papers, there you can see that the Orcid are not directly included in the paper pdf but still available. About the email address: They are usually not added in the paper.

[2022-04-01 12:15] fraukewiese commented on #4158
@leonardgoeke Thank you very much for your thorough review!

[2022-04-01 12:19] fraukewiese commented on #4158
@odow : Thank you very much for your fast and thorough review. Are you satisfied with the changes made by the authors?

[2022-04-01 12:22] fraukewiese commented on #4293
@kyleniemeyer Yes I can edit this paper.

[2022-04-01 12:22] fraukewiese commented on #4293
@editorialbot assign me as editor

[2022-04-01 12:23] fraukewiese commented on #4293
@kmongird : Do you have any reviewer suggestions?

[2022-04-01 12:28] danielskatz commented on #4292
@xuanxu & @arfon - we need to fix this...

[2022-04-01 12:37] danielskatz commented on #4288
@editorialbot generate pdf

a command needs to be the first thing in a comment

[2022-04-01 12:42] NRaillard commented on #4288
@editorialbot commands

Thank you @danielskatz for your help!

[2022-04-01 13:06] yannikschaelte commented on #4285
@editorialbot generate pdf

[2022-04-01 13:15] d-eggert commented on #4052
Well this is not true. The documentation you referenced gives a complete example on how to combine a backend module providing spatio-temporal data and our map visualization component. The suggestion to have a look at the flood event explorer is just there to give you a broader impression of what is possible in general. You could simply start with the videos instead of diving directly into the sour

[2022-04-01 13:54] Kevin-Mattheus-Moerman commented on #4267
@nilsmeyerkit my apologies I did not see you as a contributor to the software but see now you are on the paper. Sorry for the mix-up. FYI if you'd like to suggest reviewers at this point that would be helpful too. Thanks.

[2022-04-01 14:08] pdebuyl commented on #4205
Thank you @olgadoronina for the review!

@bkmi I will proceed to the editorial steps in the coming days, see https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance

[2022-04-01 14:25] xuanxu commented on #4292
@editorialbot check repository from branch main

[2022-04-01 15:12] jbytecode commented on #4222
👋👋👋 Dear @wkearn  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**VTUFileHandler: A VTU library in the Julia language that implements an algebra for basic mathematical operations on VTU data**". You can find more info

[2022-04-01 15:34] kmongird commented on #4293
Hello @fraukewiese I have added the missing DOI to the reference mentioned above and my suggested reviewers from the JOSS reviewer list are: wiljnich and j3r3m1. Thanks!

[2022-04-01 15:44] christinahedges commented on #4295
@editorialbot assign me as editor

[2022-04-01 16:27] christinahedges commented on #4243
Hi @carmeloevoli and @amitseta90, I am gently checking in to see how your review is going. @carmeloevoli I see you haven't started your checklist yet, please let me know if you're having any trouble with it.

[2022-04-01 16:37] arepstein commented on #4164
That all looks great @mishioo !

[2022-04-01 17:07] ebezzam commented on #4259
@danielskatz thank you for raising this concern. To address this point, as the title may not reflect that this is actually a software package. Here's how we believe `LenslessPiCam` meets the scope of research software as defined by JOSS:

- “Solves complex modeling problems in in a scientific context”: the proposed package includes an algorithmic component with multiple techniques for solving prob

[2022-04-01 18:16] VivianePons commented on #4266
@editorialbot add @RomainAzais as reviewer

[2022-04-01 18:29] rkurchin commented on #4164
Great, thanks for these updates. Pinging @alejandrogallo again for further feedback/questions!

[2022-04-01 19:09] fanchercm commented on #4104
I’m setting up a windows VM to troubleshoot using PyRS on a windows machine. Another option is to see if Stuart Campbell (stuartcampbell) is available for the review.

On Apr 1, 2022, at 2:37 PM, Rachel Kurchin ***@***.******@***.***>> wrote:

@andyfaff<hxxps://github.com/andyfaff>, any updates on your end?

Also, @fanchercm<hxxps://github.com/fanchercm>, are you able to help @sangpham171<hxxps://

[2022-04-01 19:46] mhucka commented on #4292
By way of explanation, I followed the "submission requirements" section at https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements where it states:

My interpretation of this was: code & paper must be in the same repo, but it's okay to put the paper in a separate branch. Now, it seems to me the instructions are ambiguous about whether the code should or shouldn't be in that s

[2022-04-01 21:22] odow commented on #4158
Yes, I'm happy with the latest revision.

[2022-04-01 23:24] nhejazi commented on #4285
Thanks for thinking of me for this review, but I am regrettably facing several approaching deadlines and will be unable to provide a review in a timely manner. Hope to participate again in the JOSS review process in the near future.

[2022-04-02 00:00] ixjlyons commented on #4026
@prashjha

[2022-04-02 00:18] fboehm commented on #4251
@DanielRivasMD - please use the command

@editorialbot generate my checklist

Please let me know if you encounter difficulties in creating the checklist. Thanks again!

[2022-04-02 00:19] fboehm commented on #4294
Thank you, @kyleniemeyer ! I'm happy to edit this submission.

[2022-04-02 00:20] fboehm commented on #4294
@editorialbot assign me as editor

[2022-04-02 06:49] marina-haliem commented on #3761
Thank you for your comments and feedback.

**Reviewer 1** @martinfleis :

**Installation**
Would you elaborate on what issues are facing with this? I have personally run this project on a Mac laptop without any problems.

**Example usage and Functionality documentation**

1. I have documented the functionalities within the source code for more clarity as well as adding a thorough explanation of ea

[2022-04-02 06:53] osorensen commented on #4285
Thanks for the quick reply @nhejazi

[2022-04-02 07:13] marina-haliem commented on #3761
Thank you for your comments and feedback.

Reviewer 2 @RafalKucharskiPK :

- For use cases, I relied on the Readme for that since the paper is limited in the number of pages. In the Readme, we have provided a thorough step-by-step explanation for simulator setup, input data, running the simulator, storing logs, and interpreting them by generating plots. Besides, anyone in the area can utilize the

[2022-04-02 11:53] sairamgeethanath commented on #4278
@georgeyiasemis - Could you please let me know if there is a way for me to access the Docker image?

<img width="1677" alt="Screen Shot 2022-04-02 at 7 51 35 AM" src="https://user-images.githubusercontent.com/30870273/161381873-19023386-9c56-480b-8f87-40cfbda2aec6.png">

[2022-04-02 12:09] georgeyiasemis commented on #4278
Hi @sairamgeethanath this is it:
https://github.com/NKI-AI/direct/tree/main/docker

[2022-04-02 12:56] sairamgeethanath commented on #4278
@georgeyiasemis Many thanks! If it is not any trouble, could you also please fix the broken link on your documentation page?

[2022-04-02 20:25] kyleniemeyer commented on #4294
@editorialbot generate pdf

[2022-04-02 20:28] kyleniemeyer commented on #4286
@editorialbot generate pdf

[2022-04-02 20:32] kyleniemeyer commented on #4294
@openjournals/dev I'm not sure what is causing this error in building a paper; the error message is
[code]

Could it be this extra block in the paper header?
[code]

[2022-04-02 20:33] kyleniemeyer commented on #4286
@max-little thanks, the paper does build ok. However, could you look for missing DOIs in your references?

[2022-04-02 20:33] kyleniemeyer commented on #4286
@editorialbot check paper

[2022-04-02 20:33] kyleniemeyer commented on #4286
@editorialbot check references

[2022-04-02 21:42] jedbrown commented on #4142
Sorry about my slow reply. If it's no big hassle for you, naming a section `Statement of need` is definitely the easiest. If you don't like that style, I think we can make an exception (and perhaps a slight adjustment of policy, but that may take longer).

[2022-04-02 23:21] max-little commented on #4286
Thanks Kyle, OK will do that.
Best
Max

On Sat, 2 Apr 2022 at 21:33, Kyle Niemeyer ***@***.***> wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Signal Processing, Oxford University Press
global.oup.com/academic/

[2022-04-02 23:45] max-little commented on #4286
Hi Kyle
Revised versions of the paper and bib files now uploaded. Hope these
are suitable.
Best
Max

On Sun, 3 Apr 2022 at 00:20, Max Little ***@***.***> wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Signal Pr

[2022-04-03 00:17] arunpersaud commented on #2688
Thanks! Just updated the reference and pushed a new commit

[2022-04-03 00:53] ViniciusBRodrigues commented on #3220
Sorry for the delay. Now the gaps was filled. Many thanks!

[2022-04-03 05:39] dominiquesydow commented on #4200
@editorialbot generate my checklist

[2022-04-03 08:36] dominiquesydow commented on #4200
Update from my side: I reviewed the paper and package, leaving comments in the form of issues at https://github.com/project-gemmi/gemmi/issues

Later today, I will do some more testing on this checklist item:

The other checklist items are either ticked off or addressed in one of the issues.

[2022-04-03 23:58] amitseta90 commented on #4243
Dear Christina,

I will working on it. It should be done by the end of the next week.

Thanks,
Best regards,
Amit
----------------------------------------------------
Dr. Amit Seta (he/him)
***@***.***
ANU id: ***@***.***
https://www.mso.anu.edu.au/~amitseta
----------------------------------------------------

[2022-04-04 06:02] mikldk commented on #4209
@editorialbot add @standage as reviewer

[2022-04-04 06:02] mikldk commented on #4209
@editorialbot start review

[2022-04-04 06:02] editorialbot opened #4296 "[REVIEW]: Pyrodigal: Python bindings and interface to Prodigal, an efficient method for gene prediction in prokaryotes."
**Submitting author:** @althonos (<a href="http://orcid.org/0000-0002-3947-4444">Martin Larralde</a>)
**Repository:** https://github.com/althonos/pyrodigal/
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.0.0
**Editor:** @mikldk
**Reviewers:** @Gab0, @standage
**Archive:** 10.5281/zenodo.6472583

## Status

[![status](https://joss.theoj.org/papers/b86b61e7d2f4ac0140ae284c

[2022-04-04 06:02] #4209 closed

[2022-04-04 06:04] mikldk commented on #4296
@Gab0, @standage: Thanks for agreeing to review. Please carry out your review in this issue by first creating a checklist (`@editorialbot generate my checklist`) and then updating it as the review proceeds. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to a

[2022-04-04 06:06] mikldk commented on #4242
@cpalmer718, @jkanche, @raivivek, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2022-04-04 06:07] mikldk commented on #4159
@chlalanne, @mcavs, @matbesancon: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-04-04 06:07] mikldk commented on #4183
@timClicks, @TahiriNadia, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2022-04-04 06:50] GregoryAshton commented on #4285
Hi @osorensen, my apologies but I am not able to take on the review at the moment due to other responsibilities.

[2022-04-04 07:38] FWuellhorst commented on #3861
@whedon check references

[2022-04-04 07:39] FWuellhorst commented on #3861
@editorialbot check references

[2022-04-04 07:40] FWuellhorst commented on #3861
@editorialbot generate pdf

[2022-04-04 07:57] osorensen commented on #4285
Thanks for responding, @GregoryAshton

[2022-04-04 07:58] osorensen commented on #4285
:wave: @dirmeier @mattpitkin would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-04-04 08:16] ajstewartlang commented on #4290
@editorialbot generate pdf

[2022-04-04 08:19] editorialbot opened #4297 "[PRE REVIEW]: GHEtool: An open-source tool for borefield sizing in Python"
**Submitting author:** @wouterpeer (<a href="http://orcid.org/0000-0002-2311-5981">Wouter Peere</a>)
**Repository:** https://github.com/wouterpeere/GHEtool
**Branch with paper.md** (empty if default branch): main
**Version:** v2.0.0
**Editor:** @crvernon
**Reviewers:** @jasondegraw, @nmstreethran
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/0ae2224874ee01

[2022-04-04 08:20] ajstewartlang commented on #4290
@editorialbot check references

[2022-04-04 09:19] mattpitkin commented on #4285
I can take on the review.

[2022-04-04 09:31] arfon commented on #3124
Just leaving a quick note here I'm looking for another reviewer to wrap up this submission.

[2022-04-04 09:45] vipinagrawal25 commented on #4294
@editorialbot generate pdf

[2022-04-04 09:49] vipinagrawal25 commented on #4294
@editorialbot generate pdf

[2022-04-04 09:49] osorensen commented on #4285
@editorialbot add @mattpitkin as reviewer

[2022-04-04 09:53] vipinagrawal25 commented on #4294
@kyleniemeyer, Thanks for your comments. We have fixed the errors and have checked that the pdf is generated properly.

[2022-04-04 10:11] jbytecode commented on #4222
👋👋👋 Dear @rowanc1  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**VTUFileHandler: A VTU library in the Julia language that implements an algebra for basic mathematical operations on VTU data**". You can find more inf

[2022-04-04 10:49] kasnder commented on #4270
A little update: I've now addressed most suggestions. The main missing piece is adding `javadocs` comments.

Additionally, I might add some screenshots for the now added example use, but then, this might not actually be necessary.

[2022-04-04 10:55] lucydot commented on #4234
@dilawar you mentioned you were quite short on time at the moment - do you think you will you be able to complete the review over a timeframe of one month to 6 weeks? This usually means starting the review within the next fortnight as it is an iterative process - a discussion between reviewer and author.

[2022-04-04 11:04] lucydot commented on #3742
Hi @nasserma -  I can see the double brackets around "Message Passing Interface Forum" seemed to fix the problem  - great.

There is not a preferred method for aligning images in markdown that I am aware of. I think the best approach is to implement, then test that it compiles into pdf as expected here in the thread, using the editorialbot as you have been doing. It may be easier to have a single

[2022-04-04 11:25] danasolav commented on #4281
@yangbai90 @kerstinvg Thank you for starting the review process. Please let me know if you have any questions regarding the guidelines or checklist.

[2022-04-04 11:26] dilawar commented on #4234
I think I can do justice to these timelines.

[2022-04-04 11:37] lucydot commented on #4108
@mikapfl @marcocamma @kedokudo @maurov are any of you available to review this submission? I can see you all have expertise in X-ray spectroscopy.

@jonathanHuwP can you confirm that yourself of one of the other authors will be available to participate in the review process over the next month-6 week period?

[2022-04-04 12:40] lucydot commented on #4234
Excellent - I'll start the review now with @dilawar and @phoebe-p as reviewers.

@dilawar @phoebe-p thank-you for agreeing to review. I'll ask our editorial bot to start a review issue thread (this is the pre-review thread) - the review guidelines will be listed at the top of that new thread.

We're asking for reviews to be complete within a 4-6 week period. As the review is usually an iterative p

[2022-04-04 12:41] lucydot commented on #4234
@editorialbot add @dilawar as reviewer

[2022-04-04 12:41] lucydot commented on #4234
@editorialbot add @phoebe-p as reviewer

[2022-04-04 12:42] mikapfl commented on #4108
This software is not dealing with X-ray spectroscopy as far as I can see. At least the README talks about X-ray shadowgraphs, i.e. real-space images. My expertise is in X-ray scattering, i.e. reciprocal space images, with side knowledge about spectroscopy, i.e. frequency space images. I don't know enough about real-space images to review a software dealing with it meaningfully.

[2022-04-04 12:42] lucydot commented on #4234
@editorialbot start review

[2022-04-04 12:42] editorialbot opened #4298 "[REVIEW]: DMT-core: A Python Toolkit for Semiconductor Device Engineers"
**Submitting author:** @miesli (<a href="http://orcid.org/0000-0003-1274-3429">Mario Krattenmacher</a>)
**Repository:** https://gitlab.com/dmt-development/dmt-core
**Branch with paper.md** (empty if default branch):
**Version:** 1.4.0
**Editor:** @lucydot
**Reviewers:** @dilawar, @phoebe-p
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/f9829bb4e4c10b85144b22f888756045/st

[2022-04-04 12:42] #4234 closed

[2022-04-04 12:46] maurov commented on #4108
@lucydot thanks for the invitation to review this software, but as pointed out by @mikapfl, it is not dealing with X-ray spectroscopy, so I am not able to review it neither.

[2022-04-04 13:12] dilawar commented on #4298
@editorialbot generate my checklist

[2022-04-04 13:20] standage commented on #4296
@editorialbot generate my checklist

[2022-04-04 13:28] osorensen commented on #4285
Thanks for your quick response, @dirmeier

[2022-04-04 13:38] KedoKudo commented on #4108
@lucydot thanks for the invitation.  I have some experience with x-ray radiography and I think I should be able to review this package later this week.

[2022-04-04 15:02] timtroendle commented on #2688
@untzag, did you have a chance to read the updated manuscript?

[2022-04-04 15:04] tuliofalmeida commented on #4156
@osorensen The authors made the suggested changes. The software is working well and the examples are meaningful, easy to understand and interactive. I have completed my review.

[2022-04-04 15:35] raivivek commented on #4242
Hi @mikldk! I am hoping to complete my review by next week, if not earlier.

[2022-04-04 15:38] osorensen commented on #4156
Thanks @tlwu. Your review is much appreciated.

[2022-04-04 15:44] diehlpk commented on #4115
@streeve would appreciate if you could do that today, so we can finalize the paper and publish it.

[2022-04-04 16:07] bkmi commented on #4205
@editorialbot set 10.5281/zenodo.6412465 as archive

[2022-04-04 16:35] grburgess commented on #4017
Thanks @Tohuvavohu and @dfm for the informative and quick review.

[2022-04-04 16:37] taless474 commented on #4291
Hi @kyleniemeyer
I think I am not a good candidate to review this as I am not familiar with Fortran.

[2022-04-04 16:40] taless474 commented on #4073
@burch-cm, would you please update your review?

[2022-04-04 16:52] streeve commented on #4115
@diehlpk paper should be updated - let me know if there are other changes needed

[2022-04-04 16:58] kyleniemeyer commented on #4286
@editorialbot check references

[2022-04-04 17:02] kyleniemeyer commented on #4038
Hi @nulberry, could you edit the metadata of the Zenodo archive so that your name is spelled out (rather than using your GitHub username)? After that we should be ready to publish.

[2022-04-04 17:09] max-little commented on #4286
Needs page range in quotes I think. I've just fixed this now.
Max

On Mon, 4 Apr 2022 at 17:59, Kyle Niemeyer ***@***.***> wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Signal Processing, Oxford University Pre

[2022-04-04 17:16] kyleniemeyer commented on #4286
@editorialbot check references

[2022-04-04 17:16] kyleniemeyer commented on #4286
@editorialbot generate pdf

[2022-04-04 17:19] jbytecode commented on #4231
Dear @myousefi2016

How is your review going? Do you need any help?

Could you please update your status?

Thank you in advance.

[2022-04-04 17:23] max-little commented on #4286
Excellent, thanks Kyle.
Best
Max

On Mon, 4 Apr 2022 at 18:19, Kyle Niemeyer ***@***.***> wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Signal Processing, Oxford University Press
global.oup.com/academic/produc

[2022-04-04 17:31] diehlpk commented on #4115
@streeve Could you please check this new error?

[2022-04-04 17:37] diehlpk commented on #4115
@editorialbot generate pdf

[2022-04-04 17:43] 11michalis11 commented on #4266
Just finished my review. All the comments can be found at the issue created on the repository 👍

[2022-04-04 18:24] nulberry commented on #4038
Hi! I created a `.zenodo.json` file in the repo to define the metadata and replaced `nulberry` with my full name. Is that all I have to do, or do I have to flip the switch on the Zenodo archive in order for it to apply my changes?

[2022-04-04 18:39] osorensen commented on #4156
@editorialbot generate pdf

[2022-04-04 18:41] osorensen commented on #4156
@tlwu, the reviewer has now completed the checklist. While I go through the paper, could you please do the following?
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct m

[2022-04-04 18:41] osorensen commented on #4156
@editorialbot check references

[2022-04-04 18:57] osorensen commented on #4156
@tlwu, I have opened Issues in the source repository with some small editorial comments. Please also check if the DOI suggest by the editorialbot in the post above should be added.

[2022-04-04 19:19] fboehm commented on #4294
@editorialbot list reviewers

[2022-04-04 19:23] fboehm commented on #4294
@victorapm, @mgiardino, @kris-rowe, @junghans, @tschwinge - would any of you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-04-04 19:34] kris-rowe commented on #4294
@fboehm I will need to decline this time since I am in the process of reviewing another paper.

[2022-04-04 20:10] victorapm commented on #4294
Hi @fboehm, I accept reviewing this submission.

[2022-04-04 20:32] eloisabentivegna commented on #4173
@abhimaniyar, @ziotom78, are there updates regarding this review? Please let us know if you're experiencing any road blocks.

[2022-04-04 20:38] amoradinejad commented on #4173
@eloisabentivegna <https://github.com/eloisabentivegna> ,  @ziotom78 <https://github.com/ziotom78>, @abhimaniyar
 <https://github.com/abhimaniyar>
To address the two main comments by the referee regarding having tests and clear description of the usage of eta code, I am currently re-writing parts of my code and adding new components. These changes were not just cosmetic, but required some restruct

[2022-04-04 21:59] navidcy commented on #4207
I’m really sorry. I’m down with covid… :(

[2022-04-04 22:04] BrodiePearson commented on #4207
@elbeejay Here is my review:

Overall this looks like a useful package with good documentation. I particularly like that the package has both stand-alone utility (lab experiments) and an ability to integrate with other software packages used to simulate ocean flows (e.g., Oceananigans). I only have a few very small comments to add beyond the previous review

## Review Comments

- **Functionality d

[2022-04-04 22:55] kyleniemeyer commented on #4038
@nulberry you can actually just log into Zenodo and edit the metadata for that record

[2022-04-04 23:04] christinahedges commented on #4295
Thanks @kyleniemeyer I'm happy to edit this submission!

@warrickball thank you for your submission to JOSS. I'm going to get to work checking through the submission, and looking for appropriate reviewers. If you know there are people in your field who are not [conflicted with you](https://joss.readthedocs.io/en/latest/review_checklist.html?highlight=conflict#conflict-of-interest) please let me kn

[2022-04-04 23:18] nulberry commented on #4038
Done! :)

[2022-04-05 00:03] phoebe-p commented on #4298
@editorialbot generate my checklist

[2022-04-05 00:08] galessiorob commented on #4166
@editorialbot generate pdf

[2022-04-05 00:14] galessiorob commented on #4166
@PeterKraus 🙈 I am very sorry I missed this question. I apologize for the delay and hope you have more upcoming talks where you can point the audience to your paper. I'm a Chemical Engineer and this paper is awesome! I'm sure it'll be very well received.

The next thing we need from you is to deposit your software in Zenodo and post the DOI here and the most recent version. After that, we can set

[2022-04-05 00:15] galessiorob commented on #4133
Hi @hsang! Thanks again for volunteering, let me know if you have any questions or if I can help in anyways with your review.

[2022-04-05 00:16] galessiorob commented on #4133
@glatard @JoaoRodrigues Checking in again, would you mind updating us on your reviews or if you are no longer able to volunteer? Thanks.

[2022-04-05 00:18] cpalmer718 commented on #4242
Hi @mikldk I'm maybe halfway through, aiming for finishing it this weekend.

[2022-04-05 00:19] galessiorob commented on #4271
Thanks for the invite @danielskatz thanks for the invite, I'm a bit tight on bandwidth right now, thanks for understanding.

[2022-04-05 02:00] elimillera commented on #4284
@editorialbot generate my checklist

[2022-04-05 03:52] kyleniemeyer commented on #4038
@editorialbot accept

[2022-04-05 03:56] kyleniemeyer commented on #4038
Congratulations @nulberry on your article's publication in JOSS!

Many thanks to @aaronpeikert and @wincowgerDEV for reviewing this, and @jmschrei for editing.

[2022-04-05 03:56] #4038 closed

[2022-04-05 06:09] hugoledoux commented on #4032
omg I had not noticed something went bad here! Sorry about this! No idea what happened.

@arfon or @danielskatz : could you look into this please?

[2022-04-05 06:32] AKuederle commented on #4235
@adi3 two reviewers agreed to review the submission. Do we need more reviewers to move forward or is that sufficient?

[2022-04-05 07:13] PeterKraus commented on #4166
Hi @galessiorob, no worries about the delay. Glad you like the paper/software! I have uploaded all published versions of yadg to https://doi.org/10.5281/zenodo.5894822 (with version 4.0.0 being https://doi.org/10.5281/zenodo.6413504). We're working on getting v4.1.0 out, which will have some of the suggestions from reviewers merged in, but it's not ready yet as we need to finish a couple of featur

[2022-04-05 07:15] conorheins commented on #4098
Hi @patrickmineault, just checking in on this review

[2022-04-05 07:15] baxmittens commented on #4222
@Kevin-Mattheus-Moerman @kthyng @danielskatz @jbytecode @pdebuyl
Finding a reviewer doesn't worked that well up to now.
Maybe some of you guys can suggest a reviewer?
Would be glad. Thanks in advance.

[2022-04-05 07:22] dilawar commented on #4298
@phoebe-p I edited your checklist by mistake 😞. I think I have reverted the changes I made.

[2022-04-05 07:58] JanLeppert commented on #4289
suggestions for potential reviewers:
mauro3
lucaferranti
vavrines

[2022-04-05 08:23] kasnder commented on #4270
@gradvohl, thanks again for your swift review of our project and for taking out some of your time to do this. We've now tried to address your key points.

Good point! I've moved this to the `master` branch now.

Great suggestion! I've added a list of past and ongoing related research projects at the end of the `paper.md` file now.

We have a paper that used TrackerControl as its methodology, and d

[2022-04-05 08:44] eferrea commented on #3956
Hi @oliviaguest , how should we proceed from here?
Thanks.

[2022-04-05 09:04] kerstinvg commented on #4281
@danasolav how can I report a general comments. I would like to suggest a few things to change in the Software paper? Do I make just a comment in here?

[2022-04-05 09:40] danielskatz commented on #4032
@hugoledoux - errors like this need to be made known to @openjournals/dev (which includes @arfon but not me)

[2022-04-05 09:44] danielskatz commented on #4032
But just clicking through the error, I see the following issues
[code]

which seems to indicate problems in the bib file, perhaps with multiple values being put in a single content-value pair.

[2022-04-05 09:50] warrickball commented on #4295
I'll give it some thought. Is it okay to email you some suggestions (once I've thought of a helpful number)? I'm not sure how comfortable they might be having their names attached here (in public) without their consent.

I'll do that, thanks!

[2022-04-05 11:17] hugoledoux commented on #4032
@fnattino I see that you removed ISSN 4 days ago, but you forgot one: https://github.com/phenology/cgc/pull/87

If you accept it then we can try again here and it should work (touch wood).

[2022-04-05 12:17] elbeejay commented on #4207
@navidcy I wish you all the best in your recovery. I'll remove you from the reviewer list here in a moment.

@BrodiePearson thanks for completing your review :+1: your comments appear to be fairly straightforward for @zhenwu0728 and co-authors to address.

[2022-04-05 12:17] elbeejay commented on #4207
@editorialbot remove @navidcy from reviewers

[2022-04-05 12:21] hugoledoux commented on #4032
@editorialbot recommend-accept

[2022-04-05 13:49] auroreloisy commented on #4266
@11michalis11 Thank you for your positive feedback and for your help with improving our submission, we have replied in the issue.
@VivianePons We have addressed all the comments in the the last [commit](https://github.com/C0PEP0D/otto/commit/296109e10edc4f9f3de5c422a54fc2f388905917)

[2022-04-05 14:10] prashjha commented on #4026
Dear @athulpg007 and @aliaksei135, there was some delay in starting the review. I am hoping you both are still good to review this submission. I will kickstart the review today.

[2022-04-05 14:12] prashjha commented on #4026
@ixjlyons thanks...looks good in a quick glance.

[2022-04-05 14:12] prashjha commented on #4026
@editorialbot check references

[2022-04-05 14:18] prashjha commented on #3997
Hi @Kevin-Mattheus-Moerman, just checking if you are close to finishing this review. No worries if you need further time.

[2022-04-05 14:19] prashjha commented on #4177
Hello @fmckenna, would you be interested in reviewing this submission for publication in JOSS? If you are wondering about the review process in JOSS, please check this [link](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2022-04-05 14:21] prashjha commented on #4177
Hello @vsangelidakis, any chance you could review this submission for JOSS? Further details about the review process in JOSS are in this [link](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Please let me know!! :)

[2022-04-05 14:44] jbytecode commented on #4222
@baxmittens - I am the editor of this submission, please don't bother other people by mentioning them and let me manage the process. I will try to find a reviewer if we fail to get a feedback from the invitations in a few days. Thank you in advance.

[2022-04-05 15:22] lucydot commented on #4108
@CFGrote @stuartcampbell are either of you available to review this submission for JOSS? The one-line project description reads "This project extracts data on the growth rates of individual faces from x-ray video shadowgraphs of growing crystals." - it may be in or around your area of expertise?

[2022-04-05 15:45] CFGrote commented on #4108
I can review this submission but only after April 17 due to vacation and family requirements.

[2022-04-05 15:56] yangbai90 commented on #4281
@editorialbot commands

[2022-04-05 16:00] lukeolson commented on #4142
@editorialbot check repository

[2022-04-05 16:02] lukeolson commented on #4142
@editorialbot generate pdf

[2022-04-05 16:06] lukeolson commented on #4142
Ok, it seemed easy enough to just add the section, so I went with that...

[2022-04-05 16:07] jedbrown commented on #4142
Cool, thanks! @mayrmt @mattmartineau :wave: Could you revisit your checklists and let me know your recommendations?

[2022-04-05 16:12] fboehm commented on #4294
Thanks, @kris-rowe. I'll have to check with you next time.

Thank you, @victorapm ! I'll assign you as a reviewer while I look for a second reviewer. Please note that you don't need to do anything right now.

[2022-04-05 16:12] fboehm commented on #4294
@editorialbot add @victorapm as reviewer

[2022-04-05 16:19] galessiorob commented on #4166
Great! I _think_ the links are enough, but I'll ask the editor in chief.

[2022-04-05 16:19] galessiorob commented on #4166
@editorialbot set v4.0.0 as version

[2022-04-05 16:20] galessiorob commented on #4166
@editorialbot recommend-accept

[2022-04-05 16:24] galessiorob commented on #4166
@editorialbot set 10.5281/zenodo.6413504 as archive

[2022-04-05 16:31] galessiorob commented on #4166
@PeterKraus mind taking a look at these formatting errors, please?

[2022-04-05 17:20] diehlpk commented on #4115
@editorialbot generate pdf

[2022-04-05 17:21] diehlpk commented on #4115
@editorialbot check references

[2022-04-05 17:24] diehlpk commented on #4115
@streeve Looks good.

Please do the following to finish the paper

- [ ] Generate a new version, including all changes during the JOSS review, and post the new version number here.
- [ ] Upload this version to Zenodo or FigShare and post the DOI here. Note that the title and authors of the paper have to match with the authors and title of the archive. Please post the DOI here.

[2022-04-05 18:11] jbytecode commented on #3448
Dear @koaning

On behalf of JOSS, I would like to express my deepest regrets. We withdraw the submission on your behalf in order to stop the review process for now. Whenever you decide to submit this paper again, please mention this thread so we can pick up where it was left as much as possible.

We wish everything will be better for you.

Best.

[2022-04-05 18:12] jbytecode commented on #3448
@openjournals/joss-editors - requires withdraw action

[2022-04-05 18:15] terrytangyuan commented on #3448
Please use @openjournals/joss-eics

[2022-04-05 18:29] danasolav commented on #4281
@kerstinvg if it's a brief general comment you can just post it here. Lengthy suggestions or request that require revisions to the code or paper, should be posted as separate issues, directly in the submission repository. A link-back to those issues in this review thread is recommended.

[2022-04-05 19:54] zarrarkhan commented on #4015
Hi @hugoledoux,

Just wanted to check in to see if there were any updates since we submitted our modifications in https://github.com/openjournals/joss-reviews/issues/4015#issuecomment-1074078464 two weeks ago.

Thanks!

[2022-04-05 20:38] prashjha commented on #4026
@editorialbot start review

[2022-04-05 20:39] prashjha commented on #4026
@editorialbot add @athulpg007 as reviewer

[2022-04-05 20:40] prashjha commented on #4026
@editorialbot add @aliaksei135 as reviewer

[2022-04-05 20:40] prashjha commented on #4026
@editorialbot start review

[2022-04-05 20:40] editorialbot opened #4299 "[REVIEW]: SimuPy Flight Vehicle Toolkit"
**Submitting author:** @ixjlyons (<a href="http://orcid.org/0000-0002-9143-8459">Kenneth Lyons</a>)
**Repository:** https://github.com/nasa/simupy-flight
**Branch with paper.md** (empty if default branch):
**Version:** 0.0.1
**Editor:** @prashjha
**Reviewers:** @athulpg007, @aliaksei135
**Archive:** 10.5281/zenodo.6789504

## Status

[![status](https://joss.theoj.org/papers/d9c33e4d58c9c4722139138

[2022-04-05 20:40] #4026 closed

[2022-04-05 20:42] aliaksei135 commented on #4299
@editorialbot generate my checklist

[2022-04-05 20:42] prashjha commented on #4299
Thank you, @athulpg007 and @aliaksei135, for agreeing to be reviewers. Please read the first couple of comments in this thread and create your checklist. You can read the reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Also, you can browse the [closed "REVIEW" issues](https://github.com/openjournals/joss-reviews/issues?q=label%3Areview+is%3Aclosed) on th

[2022-04-05 20:44] athulpg007 commented on #4299
@editorialbot generate my checklist

[2022-04-05 20:48] szwiep commented on #4282
Hi all, I forgot to include the updated `paper.md` in the pre-review revisions. I realized my mistake and just pushed it to the main branch now. Hopefully this doesn't cause any difficulties. @kbarnhart should I re-generate the pdf?

[2022-04-05 20:56] fboehm commented on #4251
@DanielRivasMD & @JoranTiU - how is the review going? Is there anything that I can help with? Thanks again!

[2022-04-05 21:01] kbarnhart commented on #4282
@szwiep yes, at any time you can re-generate the PDF.

[2022-04-05 21:01] kbarnhart commented on #4282
@editorialbot generate pdf

[2022-04-05 21:06] kthyng commented on #3448
@editorialbot withdraw

[2022-04-05 21:06] #3448 closed

[2022-04-05 22:56] nasserma commented on #3742
@editorialbot generate pdf

[2022-04-05 22:58] nasserma commented on #3742
@editorialbot generate pdf

[2022-04-05 23:00] nasserma commented on #3742
@editorialbot generate pdf

[2022-04-05 23:04] nasserma commented on #3742
Hi @lucydot - I have made all of the editorial comment changes and merged the two images together that were scaled poorly in the previous version of the manuscript. Please see the most recent version of the manuscript above, thanks.

[2022-04-06 04:01] lucass-carneiro commented on #4077
Hello @JamieBamber. Once again, I apologize my long delay in answering your questions. As I have said, I was swamped with other duties and did not find the time to answer you properly.

In regards to your comments:

1. So far I have not coded any automatic solution for finding `x_0`. As I've mentioned in the docs, I usually start halfway through in the compactifyied domain (to me this usually mean

[2022-04-06 06:04] PeterKraus commented on #4166
@editorialbot generate pdf

[2022-04-06 06:09] PeterKraus commented on #4166
@galessiorob I think that's done. I've also changed one of the references (lines 129-131) to the published version of the preprint. It doesn't have the page numbers or volume yet, but it has DOI so I'm guessing it's fine. Thanks for your help!

[2022-04-06 06:44] andrew-f-murphy commented on #3632
@henrykironde Any luck on getting the package to install? i know @wvxvw has a lot on at the moment so we could be a while sorry.

[2022-04-06 07:25] arfon commented on #3124
@editorialbot add @arfon as reviewer

[2022-04-06 07:25] arfon commented on #3124
@editorialbot generate my checklist

[2022-04-06 07:27] arfon commented on #3124
@editorialbot generate pdf

[2022-04-06 07:34] arfon commented on #3124
@maxpumperla @jorgedch – I'm going to do the second review here myself. If/as I find issues, I'll ask them as I go:

The paper doesn't really address this instead saying _'there is plenty of literature on the use of deep-learning for detecting logos'_. Would it be possible to add a couple of sentences to your paper saying something about other implementations/approaches compare to Logodetect?

[2022-04-06 07:52] ajstewartlang commented on #4290
@editorialbot add @fauxneticien as reviewer

[2022-04-06 07:53] arfon commented on #3124
Installing from source on a fresh GitHub Codespaces (after running `pip install -r requirements.txt`), I get the following error when initially attempting to start the `logodetect` CLI tool (as per docs [here](https://github.com/Heldenkombinat/Logodetect#usage)):

[code]

I fixed this with `apt-get install libgl1`. Should `libgl1` included as part of the [`opencv` requirements](https://github.com/

[2022-04-06 08:00] arfon commented on #3124
Running the test examples, the image-based detector seems to do a worse job than the video detector. Is this to be expected?

![test_image_small_output](https://user-images.githubusercontent.com/4483/161925429-bb4376b3-4e53-4978-9d29-c2de252b7e18.png)

https://user-images.githubusercontent.com/4483/161925438-3fc36e05-6e93-4697-b60a-0f20ec6e11a9.mp4

[2022-04-06 08:09] arfon commented on #3124
OK, so in summary, I think the following issues need to be addressed for me to sign off on this review:

- Installation instructions: Resolving the potential issue around `libGL` dependency [[link](https://github.com/openjournals/joss-reviews/issues/3124#issuecomment-1089949375)].
- Addressing feedback on 'State of the field' in the paper [[link](https://github.com/openjournals/joss-reviews/issues

[2022-04-06 08:52] wouterpeere commented on #4297
@editorialbot generate pdf

[2022-04-06 08:57] wouterpeere commented on #4297
@editorialbot generate pdf

[2022-04-06 08:59] wouterpeere commented on #4297
@editorialbot set main as branch

[2022-04-06 08:59] wouterpeere commented on #4297
@editorialbot generate pdf

[2022-04-06 09:01] wouterpeere commented on #4297
@editorialbot generate pdf

[2022-04-06 09:02] jbytecode commented on #4222
@editorialbot add @mkitti as reviewer

[2022-04-06 09:02] oliviaguest commented on #3956
@eferrea and @puolival I did not restrict the review. Let's be very clear here, what I said above in https://github.com/openjournals/joss-reviews/issues/3956#issuecomment-1073573426 was this:

Saying something needs to be thought about while highlighting some parts does not mean the review is restricted to only those parts. I am going to think further about this, but please do not misunderstand me

[2022-04-06 09:03] jbytecode commented on #4222
@editorialbot start review

[2022-04-06 09:03] editorialbot opened #4300 "[REVIEW]: VTUFileHandler: A VTU library in the Julia language that implements an algebra for basic mathematical operations on VTU data"
**Submitting author:** @baxmittens (<a href="http://orcid.org/0000-0001-9954-294X">maximilian bittens</a>)
**Repository:** https://github.com/baxmittens/VTUFileHandler
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.0
**Editor:** @jbytecode
**Reviewers:** @dmbates, @mkitti
**Archive:** 10.5281/zenodo.6576155

## Status

[![status](https://joss.theoj.org/papers/d0b4c4084b6c7ce

[2022-04-06 09:03] #4222 closed

[2022-04-06 09:04] wouterpeere commented on #4297
@editorialbot generate pdf

[2022-04-06 09:08] jbytecode commented on #4300
Dear @dmbates and @mkitti

This is the reviewing thread. First, please type

`@editorialbot generate my checklist`

to generate checklist. In this checklist there will be 20 check items for each reviewer. Whenever you complete the corresponding item, you can check them on. The reviewing process is interactive so you can always interact with the author(s) and the editor.

You can discuss issues her

[2022-04-06 09:24] Bisaloo commented on #4140
@Anaphory, just to be sure, are you waiting for anything from my end? I have listed the last remaining points before acceptance in https://github.com/openjournals/joss-reviews/issues/4140#issuecomment-1078902419. I also tried to compile the pdf but got confused about which branch contained the current version of the paper.

If you're short on time, no problem. This is definitely not meant to rush

[2022-04-06 09:26] Anaphory commented on #4140
No, I'm just a bit slow the last 10 days or so. There's one issue still open above (https://github.com/Anaphory/lexedata/issues/295) and we haven't got round to fixing it yet, which is holding up the new release, which is holding up the finishing.

[2022-04-06 09:27] Bisaloo commented on #4193
Hi @marekborowiec :wave:, are you still available to review this [piece of software](https://github.com/flu-crew/smot) and [related paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04193/joss.04193/10.21105.joss.04193.pdf)?

Please let me know if you need more time or if you don't think you will be able to make it :relaxed:

[2022-04-06 12:10] melissawm commented on #4291
Hello @kyleniemeyer - Sorry for the delay, I'd be happy to edit this submission.

[2022-04-06 12:42] melissawm commented on #4198
So sorry for the delay, I'll take a look at the issue with editorialbot (whedon's new name :))

[2022-04-06 12:43] melissawm commented on #4198
@g4brielvs :wave: are you willing to review this submission? 😃

[2022-04-06 12:45] melissawm commented on #4198
Hello @leotrs - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [joss.readthedocs.io/en/latest/review_criteria.html](https://joss.readthedocs.io/en/latest/review_criteria.html)

[2022-04-06 12:46] melissawm commented on #2974
Sorry to be bumping this again - do we have any updates on this submission? Thanks

[2022-04-06 13:24] leotrs commented on #4198
Hello, unfortunately I don't have the bandwidth right now, and tensors fall a bit outside my wheelhouse.

[2022-04-06 13:27] Kevin-Mattheus-Moerman commented on #4297
@editorialbot check repository

[2022-04-06 13:54] lpantano commented on #4236
Hi @tamarahadz, @sdhutchins, did you get this under your radar? Wondering if you have any question on how to proceed. I think you need to do this to start the review:

[code]

[2022-04-06 13:58] galessiorob commented on #4166
@editorialbot recommend-accept

[2022-04-06 14:01] Kevin-Mattheus-Moerman commented on #3997
@taylormcd

- [ ] I get some errors during testing, see; https://github.com/byuflowlab/GXBeam.jl/issues/77

[2022-04-06 14:13] editorialbot opened #4301 "[PRE REVIEW]: A-SLOTH: Ancient Stars and Local Observables by Tracing Haloes"
**Submitting author:** @HartwigTilman (<a href="http://orcid.org/0000-0001-6742-8843">Tilman Hartwig</a>)
**Repository:** https://gitlab.com/thartwig/asloth
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/596b9be484b4145accfd7c6cdda147ba/status.sv

[2022-04-06 14:17] Kevin-Mattheus-Moerman commented on #4185
@Samuel-Wagner how are you getting on? Are you able to start this review? Thanks!

[2022-04-06 14:22] dhhagan commented on #3690
Hey @dkauf42 and @BunnyVon - so sorry about the delay. I've been trying to find reviewers, but so far have had little luck. I'll be reaching out to a few others today that are more present on GitHub to see if that yields better results. Sorry again - i'll try to get this going.

[2022-04-06 14:25] dhhagan commented on #4201
Hello @yguitton @bovee @jspaezp - are any/all of you available to review this manuscript?

[2022-04-06 14:31] dhhagan commented on #3219
@editorialbot  recommend-accept

[2022-04-06 14:34] dhhagan commented on #3690
👋  @slayoo @simonom @rabernat @znicholls @KarolinaPntzt: are you available to review this manuscript for JOSS?

[2022-04-06 14:38] Kevin-Mattheus-Moerman commented on #4297
@editorialbot invite @crvernon as editor

[2022-04-06 14:40] Kevin-Mattheus-Moerman commented on #4301
@editorialbot invite @christinahedges as editor

[2022-04-06 15:59] chkoar commented on #2974
Hey @melissawm, I think yes. I believe that we are almost there. Please read [this](https://github.com/moead-framework/framework/issues/71) for further info.

[2022-04-06 16:45] xuanxu commented on #4220
@editorialbot add @wtgee as reviewer

[2022-04-06 16:45] editorialbot opened #4302 "[REVIEW]: Astronomical échelle spectroscopy data analysis with muler"
**Submitting author:** @gully (<a href="http://orcid.org/0000-0002-4020-3457">Michael Gully-Santiago</a>)
**Repository:** https://github.com/OttoStruve/muler
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.4
**Editor:** @xuanxu
**Reviewers:** @bmorris3, @wtgee
**Archive:** 10.5281/zenodo.6539458

## Status

[![status](https://joss.theoj.org/papers/c889fa9eeb8a63103533494a1f0b

[2022-04-06 16:45] #4220 closed

[2022-04-06 16:47] wtgee commented on #4302
@editorialbot generate my checklist

[2022-04-06 16:53] kyleniemeyer commented on #4291
@editorialbot assign @melissawm as editor

[2022-04-06 18:23] Kevin-Mattheus-Moerman commented on #4289
@editorialbot invite @jarvist as editor

Hi @jarvist, could you handle this one?

[2022-04-06 18:38] Kevin-Mattheus-Moerman commented on #4286
@editorialbot invite @Nikoleta-v3 as editor

[2022-04-06 18:40] Yurlungur commented on #4256
Hi @danielskatz I just wanted to reach out to see if a decision has been made regarding substantial scholarly effort for spiner? Thanks!

[2022-04-06 18:46] danielskatz commented on #4256
Hi @Yurlungur - we rotate folks in charge every week, so I'll ping @Kevin-Mattheus-Moerman on this, as he's in charge this week

[2022-04-06 18:51] Kevin-Mattheus-Moerman commented on #4245
@editorialbot invite @rkurchin as editor

@rkurchin this may be somewhat out of your regular domain but do you think you can handle this submission?

[2022-04-06 18:54] Kevin-Mattheus-Moerman commented on #4256
@Yurlungur I have just removed the `query scope` label since it was determined this work may be in scope for JOSS. We will now proceed to find a handling editor for this work. You may see me add the `waitlisted` label. This may be needed if none of he editors in this domain are currently available.

[2022-04-06 18:58] Kevin-Mattheus-Moerman commented on #4256
@editorialbot invite @galessiorob as editor

@galessiorob do you think you can handle this submission? Thanks!

[2022-04-06 19:04] Kevin-Mattheus-Moerman commented on #4259
@editorialbot invite @danasolav as editor

@danasolav this may be a bit off topic but do you think with your experience with Raspberry Pi cameras you can help edit this work? I can help too if needed.

[2022-04-06 19:05] Kevin-Mattheus-Moerman commented on #4259
@ebezzam the editorial board has determined this may be in scope for JOSS so I've removed the query-scope flag. We are now proceeding to find a handling editor.

[2022-04-06 19:07] Kevin-Mattheus-Moerman commented on #4262
@editorialbot invite @christinahedges as editor

[2022-04-06 19:09] Kevin-Mattheus-Moerman commented on #4263
@elboyran the board has reviewed this work and have determined it may be in scope for JOSS. I have therefore removed the `query-scope` label and we will now proceed to find a handling editor.

[2022-04-06 19:11] Kevin-Mattheus-Moerman commented on #4263
@editorialbot invite @taless474 as editor

:wave: @taless474 do you think you can help edit this work?

[2022-04-06 19:21] jlarsen-usgs commented on #3852
@crvernon no worries, the publication can wait until you've got the time. Just tag me in a comment when you're ready to start moving this forward.

[2022-04-06 19:34] Yurlungur commented on #4256
Great thank you, @Kevin-Mattheus-Moerman , @danielskatz !

[2022-04-06 20:06] tiagoseq commented on #3974
Hello,
It seems @jarvist is absent, does not participate in this thread for a long time.

@danielskatz is there anything i can do in this case?

[2022-04-06 20:27] yguitton commented on #4201
@dhhagan I'm interested but not available until last week of April, maybe that delay is not compatible with your needs.

[2022-04-06 20:36] chainsawriot commented on #4036
@sbenthall Is there any update on this?

[2022-04-06 21:24] rkurchin commented on #4245
@editorialbot add me as editor

Sure!

[2022-04-06 21:25] rkurchin commented on #4104
@fanchercm, I leave it up to you. Any progress on the VM?

Also, pinging @andyfaff again for any updates.

[2022-04-06 21:25] rkurchin commented on #4164
👋 @alejandrogallo, checking in again!

[2022-04-06 21:29] rkurchin commented on #4245
Hi @gdetor, nice to meet you! I'll work on finding some reviewers for this. In the meantime, whenever you get a moment, you can fix the DOI errors shown above...

[2022-04-06 21:34] rkurchin commented on #4245
👋 Hi @danaraujocr and @tpurcell90, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-04-06 21:49] streeve commented on #4115
Things are nearly all merged to do the release. I'm not sure I understand the second bullet - I would normally just title "Cabana Version 0.5". Does that code release need to be done manually rather than through Github in order to match the title and author list?

[2022-04-06 22:18] diehlpk commented on #4115
No, the title of this release must be "Cabana: A Performance Portable Library for Particle-Based Simulations" like on the paper. And the same list of authors. You can do just a normal release as usual with the title "Cabana Version 0.5". In Addition, you upload the content of this release to Zenodo or FigShare with the paper's title.

[2022-04-06 22:34] patrickmineault commented on #4098
Apologies for the lateness of my review - this is great! The authors very clearly explain the need in the companion paper - currently, the mysteries of the free energy principle are accessible to few and tucked away in a corner of the Matlab package  SPM. By making their methods widely accessible across a wide audience, they're opening the field. I really appreciate the effort that went into makin

[2022-04-06 22:40] christinahedges commented on #4295
@editorialbot add @danhey as reviewer

[2022-04-06 23:02] stmcg commented on #4284
This is an excellent package. One comment on the checklist item: "State of the field: Do the authors describe how this software compares to other commonly-used packages?"

The authors mention that existing software for simulating adaptive clinical trial designs is either closed source, has limited features, or is based on graphical user interfaces. It would be helpful if the authors state the key

[2022-04-06 23:27] thejackal360 commented on #4245
@editorialbot generate pdf

[2022-04-06 23:28] thejackal360 commented on #4245
@editorialbot check references

[2022-04-06 23:30] taless474 commented on #4263
@editorialbot commands

[2022-04-06 23:30] taless474 commented on #4263
@editorialbot assign me as editor

[2022-04-06 23:33] thejackal360 commented on #4245
@editorialbot check references

[2022-04-07 00:00] HartwigTilman commented on #4301
We do not have a specific **suggestion for potential reviewers**. So I went through the list of JOSS reviewers (from bottom to top) and selected the first five with background in astro and experience in Fortran:
- AstroBarker
- michaeltouati
- wesleyburr
- KAClough
- dmentipl

[2022-04-07 00:06] danielskatz commented on #3996
👋 @videlec - can you again update us on what you need to make progress on your review?

[2022-04-07 01:53] MikeHeiber commented on #4234
@lucydot Sorry for delay. I was on vacation last week. Unfortunately, I am unable to do a review at this time.

[2022-04-07 02:54] KeitaNakamura commented on #4267
Sorry for the late reply and thank you for the suggestion, but I'm not very familiar with python.

[2022-04-07 04:57] tpurcell90 commented on #4245
@rkurchin I can be a reviewer for this

[2022-04-07 07:09] arfon commented on #2708
I just emailed @ysohn to remind them we're awaiting their response still here.

[2022-04-07 07:11] arfon commented on #3125
:wave: @adi3, @breezykermo – just checking in again here on progress with your reviews.

[2022-04-07 07:33] arfon commented on #2708
@ysohn – I tried contacting you via email but the account associated with your JOSS submission appears to be disabled. If we don't hear back from you in the next couple of weeks that you're still interested in pursing this submission then we will reject due to inactivity.

[2022-04-07 07:35] arfon commented on #3896
:wave: @wdeconinck @Chiil – it's now been ~3 weeks since we were last in touch here. Can I have an update from you both on the status of your reviews?

[2022-04-07 07:37] arfon commented on #4210
:wave: just checking in to see how we're getting along here? @vimalthilak – it looks like you've started your review, and @lukassnoek is waiting on some feedback from @DavidDoukhan based on their initial review.

Is that a reasonable summary of where we're currently at?

[2022-04-07 07:43] vissarion commented on #3330
Hi @ArikaLZ any news from your review?

[2022-04-07 08:12] videlec commented on #3996
@fredstro Concerning "Community guidelines" it would be good to mention in the README
1) how people could contribute to the software? (I guess opening issues and opening merge requests?)
2) Report issues or problems with the software? (I guess opening issues)
3) Seek support?

[2022-04-07 08:15] videlec commented on #3996
@danielskatz The above comment together with https://github.com/fredstro/hilbertmodgroup/issues/9 are my last comments for the review. The hilbertmodgroup library is in very good shape.

[2022-04-07 09:36] znicholls commented on #3690
I'm sad to say I can't do it quickly, July looks like the earliest time that things free up for me again

[2022-04-07 09:37] d-eggert commented on #4052
@uellue, this is quite unfortunate, considering the time you already invested.

I know these reviews are voluntary, but that doesn't give anyone the right to be disrespectful, which the tone of your last comment was to me. I simply used the very same vocabulary in my reply. So if you deal, be prepared to take in.
I know it's frustrating to deal with rather complex stuff with only some basic docume

[2022-04-07 09:42] fredstro commented on #3996
I have addressed issue #9 and I have also updated the README file with community guidelines (all in "develop")

[2022-04-07 09:45] videlec commented on #3996
What is the point of having a `develop` and a `main` branch (the latter being the default)? The tags contains the relevant pointers to the commit corresponding to specific versions.

[2022-04-07 09:50] lukassnoek commented on #4210
Hi @arfon , sounds about right! @DavidDoukhan already addressed some of the issues I raised. I think only one is remaining (documentation of Python API).

[2022-04-07 09:56] fredstro commented on #3996
The point is to have a `develop` branch for development and bugfixes and once the development is verified as "correct" it will be merged into main. I am only using a single "develop" branch since I am the only developer but if more people gets involved I will use git-flow with feature branches.

Even with tags and pointers to specific versions there will be users that just clone the repo and try t

[2022-04-07 09:59] videlec commented on #3996
It is not wrong but it ought to be documented.

[2022-04-07 10:09] ajstewartlang commented on #4290
@editorialbot add @skalyan91as reviewer

[2022-04-07 10:09] uellue commented on #4052
@d-eggert My motivation to do reviews here at JOSS is to help projects get a perspective from a "random visitor" without any previous knowledge of the project, but who is seriously interested in applying the provided tools. This helps to identify snags on the way to wider adoption and help that all the work that went into development and releasing pays off.

The feedback that I gave is not directe

[2022-04-07 10:10] ajstewartlang commented on #4290
@editorialbot start review

[2022-04-07 10:10] editorialbot opened #4303 "[REVIEW]: glottospace: R package for language mapping and geospatial analysis of linguistic and cultural data"
**Submitting author:** @SietzeN (<a href="http://orcid.org/0000-0003-4692-4543">Sietze Norder</a>)
**Repository:** https://github.com/SietzeN/glottospace
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.0.111
**Editor:** @ajstewartlang
**Reviewers:** @fauxneticien, @skalyan91
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/c93a1ccb6835a15c6026ea1dd

[2022-04-07 10:10] #4290 closed

[2022-04-07 10:12] AlexanderJuestel commented on #3709
@crvernon
I hope you and your family are doing better!

I just want to ask you to hold back the publishing of the paper for a little while as I need permission from my new institute to publish the work. It should only take a few days though. However, if you request any minor edits, I can for sure implement them already. Sorry for the inconvenience

[2022-04-07 10:40] fredstro commented on #3996
I have added documentation about use of branches. Let me know if it is not clear enough.

[2022-04-07 10:40] skalyan91 commented on #4303
@editorialbot generate my checklist

[2022-04-07 10:41] skalyan91 commented on #4303
@editorialbot commands

[2022-04-07 10:42] d-eggert commented on #4052
Well it's not about criticizing the project, I can live with that, but it's about the tone and vocabulary you used. I don't think 'unfiltered' feelings are appropriate for scientific a review.

Considering your last comment, I don't think we will be able to finish the review with your point of view, so I also would like to ask @martinfleis to replace you as a reviewer.

[2022-04-07 10:44] danaraujocr commented on #4245
Sure. I am available.
I can be a reviewer.

Le mer. 6 avr. 2022 à 17:34, Rachel Kurchin ***@***.***> a
écrit :

[2022-04-07 10:53] crvernon commented on #4297
@editorialbot assign me as editor

[2022-04-07 10:54] mgiardino commented on #4294
Hi @fboehm <https://github.com/fboehm>, I accept reviewing this submission.
Cheers,

Marco

[2022-04-07 10:57] crvernon commented on #4297
:wave: @wouterpeere - I'll be your topic editor for this submission.

The first step in this pre-review will be to find at least 2 reviewers and get the review started. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, this [list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUY

[2022-04-07 12:24] danielskatz commented on #3996
Thanks for the recent activity on this, @videlec & @fredstro.

@videlec, can you confirm that the latest changes are sufficient are you are happy for this to be published?

[2022-04-07 13:22] marcosvital commented on #3220
Thank you, @ViniciusBRodrigues!

I see there is still one box unchecked. Is this something the authors should address, or did you miss this one?

[2022-04-07 13:28] CZHU20 commented on #4118
Just a quick update on the revision. We are still addressing some of the comments, especially those related to software documentations. Thank you for your help and patience.

[2022-04-07 13:48] marcosvital commented on #4276
Dear @ellessenne, @dsurujon and @Volkerschmid: would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If

[2022-04-07 13:56] hpesonen commented on #4285
Hi @osorensen. I can do it.

[2022-04-07 13:57] osorensen commented on #4285
@editorialbot add @hpesonen as reviewer

[2022-04-07 13:57] osorensen commented on #4285
@editorialbot start review

[2022-04-07 13:57] editorialbot opened #4304 "[REVIEW]: pyABC: Efficient and robust easy-to-use approximate Bayesian computation"
**Submitting author:** @yannikschaelte (<a href="http://orcid.org/0000-0003-1293-820X">Yannik Schälte</a>)
**Repository:** https://github.com/icb-dcm/pyabc
**Branch with paper.md** (empty if default branch): joss_0_12
**Version:** 0.12.5
**Editor:** @osorensen
**Reviewers:** @mattpitkin, @hpesonen, @blakeaw
**Archive:** 10.5281/zenodo.6677826

## Status

[![status](https://joss.theoj.org/papers/2d

[2022-04-07 13:57] #4285 closed

[2022-04-07 14:06] mattpitkin commented on #4304
@editorialbot generate my checklist

[2022-04-07 14:40] videlec commented on #3996
@danielskatz I do confirm that this is in very good shape for publication.

[2022-04-07 14:43] danielskatz commented on #3996
@editorialbot generate pdf

[2022-04-07 14:43] danielskatz commented on #3996
@editorialbot check references

[2022-04-07 14:44] sbenthall commented on #4036
@editorialbot set 0.1.4 as version

[2022-04-07 14:44] sbenthall commented on #4036
I recommend this submission for acceptance to JOSS.

[2022-04-07 14:45] sbenthall commented on #4036
@editorialbot recommend-accept

[2022-04-07 14:53] danielskatz commented on #3996
@fredstro - I'm suggesting some small changes in https://github.com/fredstro/hilbertmodgroup/pull/10. In addition, I think that perhaps you should formally cite Guass' work in the third paragraph, rather than just mentioning it inline.

[2022-04-07 15:15] fboehm commented on #4294
Thanks, @tschwinge - I hope to contact you for a future submission that is a better fit. Enjoy the vacation!

Thanks, @mgiardino ! I'll add you as a reviewer.

[2022-04-07 15:15] fboehm commented on #4294
@editorialbot add @mgiardino as reviewer

[2022-04-07 15:16] fboehm commented on #4294
@editorialbot start review

[2022-04-07 15:16] editorialbot opened #4305 "[REVIEW]: MeMC: A package for monte-carlo simulations of spherical shells"
**Submitting author:** @vipinagrawal25 (<a href="http://orcid.org/0000-0002-1291-5035">Vipin Agrawal</a>)
**Repository:** https://github.com/vipinagrawal25/MeMC
**Branch with paper.md** (empty if default branch):
**Version:** v1.1
**Editor:** @fboehm
**Reviewers:** @victorapm, @mgiardino
**Archive:** 10.5281/zenodo.6671531

## Status

[![status](https://joss.theoj.org/papers/a738d0d1813f33e2d44a1d

[2022-04-07 15:18] fboehm commented on #4305
@victorapm and @mgiardino - please create your review checklists with the command above, ie, by typing:

@editorialbot generate my checklist

in a comment on this thread.

[2022-04-07 15:22] victorapm commented on #4305
@editorialbot generate my checklist

[2022-04-07 15:22] wdeconinck commented on #3896
@editorialbot generate my checklist

[2022-04-07 15:23] arfon commented on #4262
@ptiede – thanks for your submission to JOSS. Is this submission associated with another paper in a AAS journal?

Also, could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission? (Or feel free to suggest any individuals you make know of who would be good candidates).

[2022-04-07 15:37] slayoo commented on #3690
@dhhagan, let me try to help here, I confirm.

[2022-04-07 15:44] rabernat commented on #3690
I do not have room in my schedule to review right now. However, I will tag a few people I know who are fluent in both Python and CO2 cycles: @sridge, @lgloege. Maybe one of them can step in.

[2022-04-07 16:17] conorheins commented on #4098
Hi @patrickmineault,

Thanks very much for the kinds words/ thoughtful reviews, particularly the attention you gave to the tutorials - those were all fantastic suggestions and I will get down to incorporating your changes this weekend at the latest.

[2022-04-07 17:06] fredstro commented on #3996
Ok. I have merged your suggestions and added a  formal reference to (the English translation) of Gauss' work.

[2022-04-07 17:06] fredstro commented on #3996
@editorialbot generate pdf

[2022-04-07 17:07] fredstro commented on #3996
@editorialbot check references

[2022-04-07 17:08] fredstro commented on #3996
Sorry, the commit containing this was not pushed....

[2022-04-07 17:08] fredstro commented on #3996
@editorialbot generate pdf

[2022-04-07 17:09] fredstro commented on #3996
@editorialbot check references

[2022-04-07 17:12] danielskatz commented on #3996
@fredstro - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (

[2022-04-07 17:18] ptiede commented on #4262
@arfon This paper isn't associated with an AAS submission, but the code has been used for EHT results and will be applied to future EHT datasets.

Per reviewers from the spreadsheet I think the following people are probably reasonable:

- ygrange
- garrettj403
- eschnett
- OxCoto

For external people, kazuakiyama is very knowledgeable in this area so they would be a reasonable person to ask.

[2022-04-07 17:36] jorgedch commented on #3124
Thank you for the kind effort on your side @arfon, very much appreciated. I'll address your feedback this weekend. Cheers, Jorge

[2022-04-07 18:22] fredstro commented on #3996
I have  created at tagged 0.1.0 release and uploaded it to PyPi as well as archived it in Zenodo. In Zenodo I uploaded both the source distribution and a zip file of the complete git repository at this tag from GitHub.
I have checked that the metadata is correct (and I included my ORCID).

The DOI is: 10.5281/zenodo.6422510

[2022-04-07 18:29] rkurchin commented on #4245
@editorialbot add @tpurcell90 as reviewer

[2022-04-07 18:29] rkurchin commented on #4245
@editorialbot add @danaraujocr as reviewer

[2022-04-07 18:30] rkurchin commented on #4245
@editorialbot start review

[2022-04-07 18:30] editorialbot opened #4306 "[REVIEW]: OpenPelt: Python Framework for Thermoelectric Temperature Control System Development"
**Submitting author:** @gdetor (<a href="http://orcid.org/0000-0001-5891-1702">Georgios Detorakis</a>)
**Repository:** https://github.com/thejackal360/OpenPelt-Public
**Branch with paper.md** (empty if default branch): master
**Version:** beta
**Editor:** @rkurchin
**Reviewers:** @tpurcell90, @danaraujocr
**Archive:** 10.5281/zenodo.6514903

## Status

[![status](https://joss.theoj.org/papers/3c5d

[2022-04-07 18:50] ArikaLZ commented on #3330
Please give me time until the endo of this week with the submission,
Best
Arika
________________________________
From: Vissarion Fisikopoulos ***@***.***>
Sent: Thursday, April 7, 2022 3:43 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Ligmann-Zielinska, Arika ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: spopt: a python package for solving spatial optim

[2022-04-07 18:53] danielskatz commented on #3996
@editorialbot set 10.5281/zenodo.6422510 as archive

[2022-04-07 18:54] danielskatz commented on #3996
@editorialbot set 0.1.0 as version

[2022-04-07 18:54] danielskatz commented on #3996
@editorialbot recommend-accept

[2022-04-07 18:56] danielskatz commented on #3996
@editorialbot accept

[2022-04-07 19:02] #3996 closed

[2022-04-07 19:11] tlwu commented on #4156
This reference can be found by googling this DOI, but it cannot be found by searching the DOI at https://www.doi.org/. We've added this DOI in the paper.

[2022-04-07 19:22] tlwu commented on #4156
@osorensen, thank you for the editorial comments. The paper has been revised based on the editorial and DOI suggestions.

[2022-04-07 19:27] tlwu commented on #4156
The software is released. The version tag is v1.0.0_RC.

The software is archived in Zenodo, the metadata is checked, and the DOI of the archived version is 10.5281/zenodo.6422544.

[2022-04-07 19:47] Midnighter commented on #3119
Randomly saw the call on Twitter. I'm not familiar with Bluesky but I'm working on a similar project myself so I'm happy to review this. My project is for internal use only, no intention to publish or sell so I don't think there's a conflict of interest. I will be very busy in the next two weeks but after that I can start.

[2022-04-07 20:04] blakeaw commented on #4285
Hi @osorensen, I see the pre-review is closed now and you started the review, so I assume you have enough reviewers already.

[2022-04-07 20:11] emdupre commented on #4098
Thank you @seankmartin and @patrickmineault for your thoughtful reviews !

@conorheins, I see that https://github.com/infer-actively/pymdp/issues/67, https://github.com/infer-actively/pymdp/issues/68, https://github.com/infer-actively/pymdp/issues/71, and https://github.com/infer-actively/pymdp/issues/72 are all open from this review process, though the reviewers are quite consistent in noting tha

[2022-04-07 20:15] emdupre commented on #4098
@editorialbot check references

[2022-04-07 20:26] conorheins commented on #4098
Hi @emdupre,

Even though they're optional, I can address those remaining issues this weekend (namely https://github.com/infer-actively/pymdp/issues/71, and https://github.com/infer-actively/pymdp/issues/72) before we fully proceed -- I'd also like to edit an affiliations and a funding acknowledgement, if that's okay. As soon as I'm finished I'll post here to confirm that I'm all set.

And a quick

[2022-04-07 20:37] osorensen commented on #4285
Hi @blakeaw! Yes, we got two reviewers, but it would be excellent to have three. I started the review, and then this issue got automatically closed, but if you're willing to be a reviewer, I would be very happy go add you.

[2022-04-07 20:41] emdupre commented on #4098
That sounds perfect ! Thank you.

It makes it a bit clearer that you consider the issue(s) entirely address, though closing before merging in the branch is not a requirement -- especially since these are optional additions to the project !

I also have a few requests on the paper itself. If you could please:
- [ ] add in DOIs to those references noted with "DOI missing" in the most [recent editori

[2022-04-07 20:51] blakeaw commented on #4285
@osorensen, okay. Yeah, I'm willing to also be a reviewer if you want to add me as the third.

[2022-04-07 20:52] marekborowiec commented on #4193
@editorialbot generate my checklist

[2022-04-07 21:42] marekborowiec commented on #4193
I was not able to install using `pip`. The `README` file states the requirements are `biopython`, `parsec`, and `docopt`. The `requirements.txt` has `parsec` and `click` but these are not installed when using `pip`. I was able to at least run `smot` in a clean environment after installing `biopython`, `parsec`, and `click` first. In addition to the requirements being consistent and installed along

[2022-04-07 21:43] marekborowiec commented on #4193
@Bisaloo my review is complete. Thank you for your patience.

[2022-04-07 21:51] streeve commented on #4115
@junghans @sslattery I created the release on the GitHub side, but Zenodo says that "the repository is managed by another member of your organization". Can you check if that's you? We need to match the title/author list there to the paper

[2022-04-07 21:51] fredstro commented on #3996
Thanks a lot to @tbirkandan  and @videlec for a lot of helpful comments and to @danielskatz for being an extremely helpful editor.
Especially the comments from @videlec will help a lot with my future software design and journal submissions.

[2022-04-07 22:03] junghans commented on #4115
@streeve I own it and just updated it: https://zenodo.org/record/6423410#.Yk9fd9PMIeY

[2022-04-07 22:09] streeve commented on #4115
Thanks @junghans, but looks like the title didn't change

[2022-04-07 22:40] junghans commented on #4115
Updated.

[2022-04-08 01:45] andyfaff commented on #4104
@rkurchin I'm just coming back to this now, sorry for the delay.
I note that there is already an article on pyRS, https://doi.org/10.1107/S1600576721010554, describing what the software does. There is [guidance for this](https://joss.readthedocs.io/en/latest/submitting.html#co-publication-of-science-methods-and-software). AFAIK the authors didn't indicate "whether related publications (published,

[2022-04-08 03:40] andyfaff commented on #4104
@rkurchin I've looked into this a bit further, and there are a couple of new issues to be addressed.

[2022-04-08 04:11] osorensen commented on #4304
@editorialbot add @blakeaw as reviewer

[2022-04-08 04:11] osorensen commented on #4285
Thanks, @blakeaw. I added you over in #4304

[2022-04-08 04:12] osorensen commented on #4156
@editorialbot generate pdf

[2022-04-08 04:16] osorensen commented on #4156
@editorialbot set version v1.0.0_RC

[2022-04-08 04:17] osorensen commented on #4156
@editorialbot set version 1.0.0_RC as version

[2022-04-08 04:17] osorensen commented on #4156
@editorialbot set 10.5281/zenodo.6422544 as archive

[2022-04-08 04:17] osorensen commented on #4156
@editorialbot check references

[2022-04-08 04:20] osorensen commented on #4156
@editorialbot recommend-acceptance

[2022-04-08 04:20] osorensen commented on #4156
@editorialbot recommend-accept

[2022-04-08 05:57] arfon commented on #4262
:wave: @eschnett @kazuakiyama would you be willing to review this submission for JOSS? [_Comrade: Composable Modeling of Radio Emission _](https://github.com/ptiede/Comrade.jl).

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2022-04-08 06:02] tpurcell90 commented on #4306
@editorialbot generate my checklist

[2022-04-08 06:08] tpurcell90 commented on #4306
@gdetor and @thejackal360 would you rather all comments be made here or in issues on the repository?

[2022-04-08 07:56] kerstinvg commented on #4281
#4225 Raised another issue regarding few things

[2022-04-08 08:20] kerstinvg commented on #4281
Raised another issue regarding few things https://github.com/mbarzegary/BioDeg-UI/issues/1

[2022-04-08 08:43] mgiardino commented on #4305
@editorialbot generate my checklist

[2022-04-08 09:11] agranholm commented on #4284
Thank you very much @stmcg !

@fabian-s what is the process from here, should we wait for the second review to complete before revising the manuscript file?
Thanks!

[2022-04-08 09:17] Moyoxkit commented on #4240
Thanks both for all the comments!

[2022-04-08 09:24] fabian-s commented on #4284
you can, but you can also go ahead and address this now.
since we coordinate the review process in this thread and have an open line of communication, we don't need to rely on "review rounds" and can tackle issues as they come up.

[2022-04-08 11:22] tpurcell90 commented on #4306
The paper is generally well written, but there are issues with the documentation that make the using the code difficult for a new user

1) The installation instructions presented in the `README` only works if one has the right version of gcc (I think it has to be 8.2.1+ because of GLIBC_2.29). This is because instead of providing the source code for the modified version of `ngspice`as a submodule

[2022-04-08 13:05] jspaezp commented on #4201
@dhhagan Unfortunately I do not have enough time to devote to the review at this time. I am sorry for the inconveniences.

[2022-04-08 13:20] danielskatz commented on #4292
@mhucka - your interpretation is correct, but we've switched our tooling recently which made this harder for us - we want to work the paper from whatever repository it is in, but work on the code from main, and our tooling didn't quite do this.

[2022-04-08 13:22] danielskatz commented on #4292
@editorialbot assign me as editor

[2022-04-08 13:23] danielskatz commented on #4292
@mhucka - our next step is to find reviewers. If you have any suggestions for potential reviewers, please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-04-08 13:35] dfm commented on #4247
@editorialbot add @smkia as reviewer

🎉 Thanks @smkia for agreeing to review this submission!

In our discussions, @smkia noted a potential [conflict of interest](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy): a [publication from 2019](https://www.sciencedirect.com/science/article/abs/pii/S0149763419303197) co-authored with @deep-introspection, a

[2022-04-08 13:48] streeve commented on #4115
@diehlpk new version number is 0.5 and DOI is 10.5281/zenodo.6423410

[2022-04-08 13:49] diehlpk commented on #4115
@editorialbot set 0.5 as version

[2022-04-08 14:21] jsheunis commented on #4248
@osorensen @sebastientourbier

Review update: I've checked most of the boxes in my checklist. The ones that are still open are dependent on open issues, particularly:
- https://github.com/connectomicslab/connectomemapper3/issues/154
- https://github.com/connectomicslab/connectomemapper3/issues/160
- https://github.com/connectomicslab/connectomemapper3/issues/161 (second point)

[2022-04-08 14:24] blakeaw commented on #4304
@editorialbot generate my checklist

[2022-04-08 14:27] dfm commented on #4240
@JDonaldM, @kstoreyf — Thanks for your thorough and constructive reviews! I really appreciate the time you took to help with this.

@Moyoxkit, @JBorrow — I've opened a PR with some minor edits to the paper. After merging or responding to that, here are the final steps that I'll need from you:

1. Comment `@editorialbot generate pdf`, and take one last read through the manuscript to make sure that

[2022-04-08 14:28] dfm commented on #4113
@jeremiecoullon — I just wanted to check in to make sure that you don't have any questions wrt the final steps listed above. Let me know if you run into any issues!

[2022-04-08 15:28] csoneson commented on #4182
Ping @JoaoRodrigues, @rvhonorato - could you update us on how things are progressing here? Thanks!

[2022-04-08 15:33] diehlpk commented on #4115
@editorialbot set 0.5.0 as version

[2022-04-08 15:35] diehlpk commented on #4115
@editorialbot generate pdf

[2022-04-08 15:36] diehlpk commented on #4115
@editorialbot check references

[2022-04-08 15:38] diehlpk commented on #4115
@streeve It looks good, and I can recommend the paper for acceptance.

[2022-04-08 15:38] diehlpk commented on #4115
@editorialbot commands

[2022-04-08 15:38] diehlpk commented on #4115
@editorialbot recommend-accept

[2022-04-08 15:43] arfon commented on #4262
Got it. Thanks for letting me know about this @eschnett. Are/were you collaborators? If not, if you feel like you're able to provide an impartial review I would be interested in having you review regardless, especially since you have Julia experience.

[2022-04-08 15:47] deep-introspection commented on #4247
@dfm I can confirm that we did not have any direct contact with @smkia

[2022-04-08 16:36] galessiorob commented on #4166
@kyleniemeyer I'm having trouble figuring out this error. Could you help us, please? 🙏

[2022-04-08 16:52] arfon commented on #3119
:zap: thanks @Midnighter!

[2022-04-08 16:52] arfon commented on #3119
@editorialbot add @Midnighter as reviewer

[2022-04-08 16:55] arfon commented on #3119
@Midnighter – many thanks for agreeing to review this submission! The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. Any questions/concerns please let me know. Once you're ready to start your review, please type the following into a new comment in this thread which will generate a reviewer checklist for you to work through:

[code]

[2022-04-08 16:59] jeremiecoullon commented on #4113
@dfm Thanks for checking in! I just never got round to it (stuff piled on recently..). I'll get to it soon so we can finish this up :)

[2022-04-08 17:05] sbenthall commented on #3496
Hello @Natsiopoulos -- any updates?

[2022-04-08 17:35] kyleniemeyer commented on #4166
@galessiorob sorry, I'm not sure either! The paper header looks alright to me. @openjournals/dev any ideas what's going on here? The paper author/affiliations block is:
[code]

[2022-04-08 17:38] danielskatz commented on #4166
maybe change the affil entry to a single line:
[code]
?
I'm not sure about the pipe character or the multiline affiliation

[2022-04-08 19:21] dsurujon commented on #4276
Hi @marcosvital I'd be happy to review this submission

[2022-04-08 19:25] jbytecode commented on #4300
@baxmittens  - at a first glance, it seems a citation for Julia is missing. could you please consider adding it?

@dmbates, @mkitti - could you please create your checklist by typing the editorialbot command given above?

Thank you all in advance.

[2022-04-08 19:32] mkitti commented on #4300
@editorialbot generate my checklist

[2022-04-08 19:43] KristinaRiemer commented on #4199
@editorialbot add @dlebauer as reviewer

[2022-04-08 20:09] dmbates commented on #4300
@editorialbot generate my checklist

[2022-04-08 20:26] dustinstoltz commented on #3741
@whedon generate pdf

[2022-04-08 20:31] dustinstoltz commented on #3741
@editorialbot generate pdf

[2022-04-09 01:33] mkitti commented on #4300
The authors introduce VTUFileHandler.jl, a Julia language package for handling VTK unstructured grid data. The package also provides a number of mathematical operators reminiscent of an algebraic field over addition and multiplication.

1. Currently VTUFileHandler.jl is not a registered Julia package. It depends on another unregistered package located at https://github.com/baxmittens/XMLParser, wh

[2022-04-09 06:17] sebastientourbier commented on #4248
Dear @jsheunis,

Thank you a lot for the time you spent reviewing CMP3 and its paper!
I am going to address your issues next week and I will reply directly inside them for the sake of clarity.
I will let you all know as soon as it is done.

Best regards

[2022-04-09 06:42] arfon commented on #3747
@editorialbot assign me as editor

[2022-04-09 06:45] arfon commented on #3747
:wave: folks, I'm taking over this submission on behalf of @dpsanders who is stepping down from the JOSS editorial team due to new work commitments. Thanks David for all of your amazing work as a JOSS editor ✨

@marshallmcdonnell, @lscalfi, @LMMorgan  – how are we getting along here? It looks like both @marshallmcdonnell and @lscalfi are somewhat through their reviews but haven't completed them ye

[2022-04-09 06:47] arfon commented on #3728
@editorialbot assign me as editor

[2022-04-09 06:55] arfon commented on #3728
@Zitzeronion – my apologies things have moved slowly here. @dpsanders has decided to step down from the JOSS editorial team due to his other work commitments. Thanks @dpsanders for all of your work as a JOSS editor over the past few years! ✨

@Zitzeronion – I'll be your editor from here on out. I see you've already suggested a few possible reviewers – I'll start contacting them to see if they'd be

[2022-04-09 06:56] arfon commented on #3728
@Datseris – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2022-04-09 07:56] baxmittens commented on #4300
Gladly did so.

[2022-04-09 08:01] jbytecode commented on #4300
@editorialbot check references

[2022-04-09 08:01] jbytecode commented on #4300
@editorialbot generate pdf

[2022-04-09 08:08] jbytecode commented on #4231
@myousefi2016 - could you please update your status?

[2022-04-09 08:27] Datseris commented on #3728
Hi @arfon , while this looks like a great package, I will unfortunately decline reviewing because I am swamped reviewing too many things already :( Sorry!

[2022-04-09 09:11] baxmittens commented on #4300
@mkitti - thank you for your comments. I would like to answer to them

Fixed the typo.

Not at this point but maybe later. I elaborate on this below

I use it in other projects of mine too. For example for some simple html and OpenGeoSys input file manipulations. Thinking in term of functions, XMLParser.jl should be a stand-alone package since it has a distinctive function. I'm no big fan of mixin

[2022-04-09 09:27] jbytecode commented on #4300
Look likes there are lots of "my needs" instead of "community's needs", the software can be refactored in lights of the reviews.

The dependency XMLParser as in the declared in Project.toml is not a standard Julia package - I am sharing the same thoughts with the reviewer.

Altought it is not strictly needed, we always encourage authors to submit their packages so it fits well with the eco-system

[2022-04-09 10:34] oriolcg commented on #4211
@editorialbot generate my checklist

[2022-04-09 10:42] baxmittens commented on #4300
Agree, this was a project that originally was created only in my needs and I was asked to open-source it because other people wanted to use it. But I do think it solves a generalized problem quite handy.
And I also think the installation process is painless since no package has dependencies which is quite nice if you think about hpc computations on heterogenous cluster architectures.

[2022-04-09 11:02] Zitzeronion commented on #3728
Hello 👋  @arfon and thank you for taking over the editorial burden.
Thanks @dpsanders for all the work you put in 👏 .

Please let me know if I can do something to help.

[2022-04-09 11:48] Chiil commented on #3896
@editorialbot generate my checklist

[2022-04-09 11:55] pdebuyl commented on #4077
Thank you @lucass-carneiro for the reply.

@JamieBamber are you happy with the replies and minor changes to the repository?

I see that all the checkboxes are ticked, so is the review done from your side?

[2022-04-09 12:34] jarvist commented on #3974
Sorry for my absence! It was a busy end of term anyway, and then I was ill & off work for a while.

[2022-04-09 12:34] jarvist commented on #3974
@editorialbot generate pdf

[2022-04-09 12:35] jarvist commented on #3974
@editorialbot check references

[2022-04-09 12:45] jarvist commented on #3974
@tiagoseq - I must admit I'm more than a little bit concerned at the fact that you appear to have deleted all git history & then force-pushed to your GitHub repository, since the start of this review. Was this intentional? Could you explain why?

I was just trying to check that it made sense for you to be the sole author on the paper, c.f. the contribution to the package, and the fact that you hav

[2022-04-09 13:38] arfon commented on #4260
Thanks @jgostick – I agree with your feedback here. @temmy222 – this submission is a long way off being ready to send out for review. If you wish to publish in JOSS, then please invest significantly in the packaging, documentation, testing, and presentation of your work. You might find something like these Python packaging guidelines https://python-packaging.readthedocs.io/en/latest/ useful for un

[2022-04-09 13:38] arfon commented on #4260
@editorialbot reject

[2022-04-09 13:38] #4260 closed

[2022-04-09 13:40] arfon commented on #4264
@mrbuche – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) o

[2022-04-09 13:40] arfon commented on #4264
@editorialbot reject

[2022-04-09 13:40] #4264 closed

[2022-04-09 14:16] wouterpeere commented on #4297
Hi @crvernon ! I think this repository is somewhat related to the interests of jasondegraw and willu47.

[2022-04-09 14:26] mrbuche commented on #4264
Thank you for your consideration!

[2022-04-09 15:44] PeterKraus commented on #4166
@editorialbot generate pdf

[2022-04-09 16:12] oriolcg commented on #4211
@Kevin-Mattheus-Moerman, where do I post comments on the review? Directly to the repository?

[2022-04-09 18:04] tiagoseq commented on #3974
Hello @jarvist , yes, it was intentional. I was trying to address the issue that @rougier pointed out, regarding the repository size,

As Rougier said, the large size was due to the gifs and animations that are present in the documentation.
To resolve this I created a new repository for the sole purpose of hosting the package documentation, [NFEdocs.jl](https://tiagoseq.github.io/NFEdocs.jl/dev/),

[2022-04-09 21:18] martinfleis commented on #4052
I see the direction of this discussion as a very unfortunate one and would like to remind everyone to try to adhere to the [JOSS Code of Conduct](https://github.com/openjournals/joss/blob/main/CODE_OF_CONDUCT.md). However, I understand that emotions may be in the way in some cases. After all, software development can be extremely frustrating on some occasions. In any case, below is an excerpt from

[2022-04-09 21:19] martinfleis commented on #4052
@editorialbot remove @uellue from reviewers

[2022-04-09 21:25] martinfleis commented on #4052
Hi @cjwu, are there any other comments from your side? Can you please make sure your checklist in the first post is up-to-date and if you are unable to tick some boxes, add a comment why? Thank you!

@sk1p Hi, do you think you will be able to review this package? If not, let me know and I will remove you from the list of the reviewers. Thank you!

@d-eggert As we need at least 2 reviewers, I may n

[2022-04-09 21:39] martinfleis commented on #3761
Hi @marina-haliem,

thank you for all the changes and a thorough response!

Yes. When following the installation instructions, after cloning the repository, running

[code]
in a fresh environment fails with the following error message.

[code]

The version 2.7.4 you, for some reason, require is quite old (Feb 2018) and I believe that is causing the issue when you try to install it on Macs with M1

[2022-04-09 21:40] conorheins commented on #4098
Hi @emdupre,

Thanks for pointing out these issues, I've attempted to address them all. Let me know if there are any further issues. For the missing DOIs, some of the suggestions were correct, some of them were not, so I just manually added them all in. I hope I did so correctly :)

- [x] add in DOIs to those references noted with "DOI missing" in the most https://github.com/openjournals/joss-revi

[2022-04-09 21:46] conorheins commented on #4098
Oh and I forgot to confirm the resolution of the issues. Regarding the optional requests raised by the reviewers, I've now addressed nearly all of them, and just left some minor bits open that I'd like to work out in the future. But otherwise I am ready to proceed with the submission.

[2022-04-10 02:59] thejackal360 commented on #4306
Thank you for your feedback! We've resolved all the issues on the OpenPelt repo.

[2022-04-10 06:24] arfon commented on #4269
@layik – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on

[2022-04-10 06:24] arfon commented on #4269
@editorialbot reject

[2022-04-10 06:24] #4269 closed

[2022-04-10 06:29] arfon commented on #4287
@schalkdaniel - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-cod

[2022-04-10 06:29] arfon commented on #4287
@editorialbot reject

[2022-04-10 06:29] #4287 closed

[2022-04-10 06:29] editorialbot opened #4307 "[PRE REVIEW]: ICESat-2 Altimeter Data using R"
**Submitting author:** @mlampros (<a href="http://orcid.org/0000-0002-8024-1546">Lampros Mouselimis</a>)
**Repository:** https://github.com/mlampros/IceSat2R
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** @hugoledoux
**Reviewers:** @evetion, @Jean-Romain
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/a01026676e546c65444239693

[2022-04-10 06:36] arfon commented on #4307
@mlampros – many thanks for your submission to JOSS. A few issues to deal with before we get started looking for a handling editor:

- Please rename your paper to `paper.md` and remove the `citation_author` string in the Markdown file. I've opened a PR that does both of these for you here: https://github.com/mlampros/IceSat2R/pull/2
- Please ensure your repository contains a plain text OSI-approve

[2022-04-10 06:36] arfon commented on #4307
@editorialbot query scope

[2022-04-10 06:36] editorialbot opened #4308 "[PRE REVIEW]: EPICpy: A Python Interface for EPIC Computational Cognitive Modeling"
**Submitting author:** @travisseymour (<a href="http://orcid.org/0000-0003-4719-9152">Travis Seymour</a>)
**Repository:** https://github.com/travisseymour/EPICpy
**Branch with paper.md** (empty if default branch): JOSSArticle
**Version:** v2022.3.5
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/fb8bccc1dc65ca3afd6ad380f

[2022-04-10 06:37] editorialbot opened #4309 "[PRE REVIEW]: Simmate: a framework for materials science"
**Submitting author:** @jacksund (<a href="http://orcid.org/0000-0001-5739-8919">Jack Sundberg</a>)
**Repository:** https://github.com/jacksund/simmate
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.1.1
**Editor:** @rkurchin
**Reviewers:** @bocklund, @utf
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/7a2576bce08dd95c1e7410f8e87b5a17/st

[2022-04-10 06:38] editorialbot opened #4310 "[PRE REVIEW]: pydynpd: A python package for dynamic panel model"
**Submitting author:** @dazhwu (<a href="http://orcid.org/0000-0003-0304-3332">Dazhong Wu</a>)
**Repository:** https://github.com/dazhwu/pydynpd
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.5
**Editor:** @chartgerink
**Reviewers:** @daviddewhurst
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/ca861e4e390f5d912ba8fed06e90ac7f/status.svg)]

[2022-04-10 06:41] mithun218 commented on #3885
@meg-simula  I have addressed all the points you mentioned [here.](https://github.com/openjournals/joss-reviews/issues/3885?msclkid=754d7248b89811ec85a8b80f379ac4b7#issuecomment-1064043823) Please review and if I have missed anything please let me know.

[2022-04-10 06:42] arfon commented on #4032
@editorialbot accept

[2022-04-10 06:47] arfon commented on #4036
@editorialbot accept

[2022-04-10 06:48] arfon commented on #4032
@Subho07, @Narayana-Rao – many thanks for your reviews here and to @hugoledoux for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@fnattino – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-10 06:48] #4032 closed

[2022-04-10 06:55] arfon commented on #4036
@kbenoit, @cmaimone  – many thanks for your reviews here and to @sbenthall for editing this submission. This review looks like a model JOSS experience – thanks to all for making a collaborative, constructive review experience! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@chainsawriot  – your paper is now accepted and published i

[2022-04-10 06:55] #4036 closed

[2022-04-10 06:57] arfon commented on #4115
@editorialbot accept

[2022-04-10 07:00] layik commented on #4269
I just became aware of the ticket @arfon! The package includes a stantial component which is not R (inst/tgve.zip) and the R package is at early stages. I can resubmit with the MD compile issues.l, or if possible this issue can be reopened I can address those compile issues.

[2022-04-10 07:02] layik commented on #4269
The bot clearly cannot read the zip.

[2022-04-10 07:05] arfon commented on #4115
@atmyers, @XzzX – many thanks for your reviews here and to @diehlpk for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@streeve – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-10 07:05] #4115 closed

[2022-04-10 08:11] mlampros commented on #4307
@arfon thank you for the PR (just merged). I also added the LICENSE.md file. I'll wait for the scope review.

[2022-04-10 11:46] arfon commented on #4267
@editorialbot assign @Kevin-Mattheus-Moerman as editor

[2022-04-10 12:20] kbenoit commented on #4036
Congratulations @chainsawriot!

[2022-04-10 12:26] jarvist commented on #3974
Ah, OK! I understand the motivation now. But this is quite sub optimal, as it stops a future user / maintainer being able to `git bisect` or `git blame` while debugging, and otherwise understanding the construction of the package.
Presuming you still have the original repository, rewriting the history to remove the large files & then force-pushing the resulting repo to github would be ideal.
This

[2022-04-10 12:30] jacksund commented on #4309
We modeled our paper after the [example one](https://joss.theoj.org/papers/10.21105/joss.00388) provided in the docs, where these sections were combined. If that is no longer allowed, we can change this though!

[2022-04-10 12:33] jacksund commented on #4309
@editorialbot commands

[2022-04-10 12:39] rougier commented on #3974
@jarvist I confirm that I advised @tiagoseq to create a new repo but you're right that it might be better to remove the faulty commit from the original repo.

[2022-04-10 12:43] DanielRivasMD commented on #4251
@editorialbot

[2022-04-10 12:43] DanielRivasMD commented on #4251
@editorialbot commands

[2022-04-10 12:44] DanielRivasMD commented on #4251
@editorialbot generate my checklist

[2022-04-10 12:56] jacksund commented on #4309
Here are some relevant reviewers:

- mkhorton
- jarvist
- lucydot
- bjmorgan
- mdoucet
- bocklund

p.s. -- is it common to suggest reviewers outside of the volunteer list? I avoid that for now

[2022-04-10 14:01] DanielRivasMD commented on #4251
@fboehm Hi, my apologies it took so long to get back to this. Now, I have taken a deeper look into the source code (I had already read the paper and looked at the repo superficially) and tested the functionality. Overall, I think it is a pretty complete package, extensibly tested, good documentation and a use case attached as a dataset (indicated in the checklist that I hope you can see above ^).

[2022-04-10 15:10] osorensen commented on #4156
@tlwu, my apologies, but I've been a bit too quick here. Our policy is to have at least two reviewers, so since I was only able to find a single reviewer, I'll also do a review myself before we can proceed. I'll start working on the review tomorrow, and will let you know if I have any suggested changes.

[2022-04-10 15:10] osorensen commented on #4156
@editorialbot add @osorensen as reviewer

[2022-04-10 15:12] osorensen commented on #4156
@editorialbot generate my checklist

[2022-04-10 15:51] alejandrogallo commented on #4164
I am sorry for the delay, I'll be finishing my review today

[2022-04-10 17:32] ellessenne commented on #4276
Hi @marcosvital, I am also happy to review this!

[2022-04-10 18:59] yannikschaelte commented on #4285
Dear @mattpitkin , @hpesonen , @blakeaw (as well as @osorensen ) thank you very much for reviewing! Looking forward to your feedback in the other issue.

[2022-04-10 19:43] arfon commented on #4268
:wave: @temuller – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-

[2022-04-10 19:43] arfon commented on #4268
@editorialbot reject

[2022-04-10 19:43] #4268 closed

[2022-04-10 19:44] editorialbot opened #4311 "[PRE REVIEW]: WRENCH 2.0: Cyberinfrastructure simulation workbench"
**Submitting author:** @henricasanova (<a href="http://orcid.org/0000-0001-6310-0365">Henri Casanova</a>)
**Repository:** https://github.com/wrench-project/wrench
**Branch with paper.md** (empty if default branch): joss_2022
**Version:** v2.0
**Editor:** @gkthiruvathukal
**Reviewers:** @jarrah42, @yadudoc
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/84f6fc2beb

[2022-04-10 20:21] fboehm commented on #4251
Thank you, @DanielRivasMD ! I think that you make some good points in the comment. @nociale, please address the points that @DanielRivasMD made above:

1. Community / contributors guidelines. There is only a link at the README to open issues, but no suggestions on format or further documentation.
1. The paper does not present state of the field for comparison with other software.
1. In order to us

[2022-04-10 20:22] osorensen commented on #4156
@openjournals/jose-eics, I have now completed my review. The submitted software looks very complete, with good documentation and examples.

[2022-04-10 20:23] osorensen commented on #4156
@editorialbot generate pdf

[2022-04-10 21:51] alejandrogallo commented on #4164
I have concluded my review of the most recent version. I have to thank also @arepstein for raising quite relevant points like the recursive parsing.

I am satisfied with the current status of the package (da2b096db6adf66e64e6fe0923f40f434d64c976) and **I recommend this package for publication at JOSS**.

The author @mishioo has done a great job addressing the points raised and further improving th

[2022-04-11 01:10] emdupre commented on #4098
@editorialbot generate pdf

[2022-04-11 01:12] emdupre commented on #4098
@editorialbot check references

[2022-04-11 01:57] athulpg007 commented on #4299
@ixjlyons In the paper, could you briefly describe the problem setup (just stating the problem you are trying to solve in a few lines) for at least one of the sixteen examples you have and show an illustrative result (such as a plot showing result from a simulation, as well as any data you have for comparison) to demonstrate the application of this package?

[2022-04-11 02:04] tlwu commented on #4156
@osorensen thank you!

[2022-04-11 04:09] emdupre commented on #4098
Thank you, @conorheins !

I'm confirming the best course of action under JOSS policy for the arXiv companion piece, and I will have an answer for you -- along with next steps -- shortly.

[2022-04-11 05:32] osorensen commented on #4156
@editorialbot recommend-accept

[2022-04-11 07:09] JoranTiU commented on #4251
It's going well :). Should finish this week :)

[2022-04-11 07:09] marina-haliem commented on #3761
Hi @martinfleis ,
Thank you for the clarification. I have updated the requirements.txt. Hopefully, this fixes the problem, I have verified it is working as expected on different machines that I have access to.

Thank you,
Marina

[2022-04-11 07:15] Nikoleta-v3 commented on #4056
👋 @jaybee84  - I hope you are well. Any updates regarding your review? 😄

[2022-04-11 07:26] Moyoxkit commented on #4240
@editorialbot generate pdf

[2022-04-11 07:32] Nikoleta-v3 commented on #4286
@editorialbot assign me as editor

[2022-04-11 07:35] Nikoleta-v3 commented on #4286
Hey @max-little 👋🏻 Thank you again for your submission. Could you please  take a look through this: https://bit.ly/joss-reviewers and suggest at least four potential reviewers?

[2022-04-11 07:59] oliviaguest commented on #3956
@puolival may I ask you to separate your review to differentiate between 'essential' (must address) feedback and 'nice to have' from your perspective, please? And then, we can see what compromises can be made here as indeed it's not always possible for reviewers and authors to agree on what essential changes are, and it is my job to do so. I would like to underline that I am very thankful, and I a

[2022-04-11 08:03] Evmoerman commented on #4040
Hey @rkurchin, I'm currently trying to submit the manuscript of this project at arxiv. However, it requires me to submit it a .tex file. Due do the specifics of JOSS, however, I'm not able to do that.
This is probably a quite frequently occuring question as you also actively encourage people to publish the manuscript on arvix.

Alternatively, it would also be okay, if JOSS provides some kind of id

[2022-04-11 08:05] MiftariB commented on #4158
Dear @fraukewiese,

Thanks for the precision concerning the paper. We are unsure of what is expected from us at this point. Could you clarify the next steps?

Best Regards,

Miftari B

[2022-04-11 08:45] simonom commented on #3690
@dhhagan, I confirm I will review

[2022-04-11 09:16] pdebuyl commented on #4205
@editorialbot set v0.3.2 as version

[2022-04-11 09:17] pdebuyl commented on #4205
@editorialbot generate pdf

[2022-04-11 09:23] wcwitt commented on #4040
Just to say I'll aim to finish my next round of review this week.

And I expect @rkurchin will be able to give a more definitive answer to your question @Evmoerman, but I know there is some relevant discussion here: https://github.com/openjournals/joss/issues/132. Since you'd be uploading a preprint to arxiv, I don't think you'd want the JOSS logo or styling, so you could also try converting the m

[2022-04-11 09:26] hechth commented on #4201
Another possible reviewer who is in the list of reviewers is AthonyOfSeattle.

Should I also suggest people working with MS who are not in the list of reviewers signed up by JOSS?

[2022-04-11 10:07] martinfleis commented on #4178
@editorialbot add @joeroe as reviewer

[2022-04-11 10:13] arfon commented on #3728
No problem. Thanks anyway @Datseris. If you have any suggestions for alternative reviewers, please let me know.

Over email, @mbernaschi has kindly agreed to review this submission. Thank you @mbernaschi! In order to expedite the process, I'm going to go ahead and open the main review with @mbernaschi as the first reviewer, as and when we find a second reviewer, I'll add them directly to the main

[2022-04-11 10:14] arfon commented on #3728
@editorialbot add @mbernaschi as reviewer

[2022-04-11 10:14] arfon commented on #3728
@editorialbot start review

[2022-04-11 10:14] editorialbot opened #4312 "[REVIEW]: Swalbe.jl: A lattice Boltzmann solver for thin film hydrodynamics"
**Submitting author:** @Zitzeronion (<a href="http://orcid.org/0000-0002-2371-5610">Stefan Zitz</a>)
**Repository:** https://jugit.fz-juelich.de/compflu/swalbe.jl/
**Branch with paper.md** (empty if default branch): master
**Version:** 0.1.0
**Editor:** @arfon
**Reviewers:** @mbernaschi, @lnacquaroli
**Archive:** 10.5281/zenodo.7030890

## Status

[![status](https://joss.theoj.org/papers/414a5b53a

[2022-04-11 10:14] #3728 closed

[2022-04-11 10:14] arfon commented on #3728
@mbernaschi & @Zitzeronion – see you over in #4312 where the actual review will take place.

[2022-04-11 10:16] arfon commented on #4312
@mbernaschi – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above. Please create your checklist typing:

[code]

As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is

[2022-04-11 10:58] tpurcell90 commented on #4306
There are still a few functions in `controller.py` and all of `neural_network.py` that are undocumented

[2022-04-11 11:55] JoranTiU commented on #4251
@fboehm Hi, I agree with @DanielRivasMD, it is a nice and pretty complete package with good documentation. The Vigenette's are also very helpful. Next to the points raised by @DanielRivasMD (i.e., (i) There is only a link at the README to open issues, but no suggestions on format or further documentation; (ii) The paper does not present state of the field for comparison with other software, and (i

[2022-04-11 12:10] editorialbot opened #4313 "[PRE REVIEW]: Open-Source Hypothalamic-ForniX (OSHy-X) Atlases and Segmentation Tool for 3T and 7T"
**Submitting author:** @Cadaei-Yuvxvs (<a href="http://orcid.org/0000-0002-6659-365X">Jeryn Chang</a>)
**Repository:** https://github.com/Cadaei-Yuvxvs/OSHy-X
**Branch with paper.md** (empty if default branch):
**Version:** v0.3
**Editor:** @emdupre
**Reviewers:** @a3sha2, @kaczmarj
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/9dff6ac0bfc6c3092c8e37ee2f17bdfb/

[2022-04-11 12:15] gkthiruvathukal commented on #4311
@editorialbot assign @gkthiruvathukal as editor

[2022-04-11 12:19] gkthiruvathukal commented on #4311
@henricasanova Thank you for suggesting me. I will edit this submission. Please do bear with me if things are a bit slow to get started as we are nearing the end of semester, where I have just started as department chairperson at my university.

In the meantime, can you please suggest some potential reviewers from https://bit.ly/joss-reviewers? (See the instructions at the top of this issue thread

[2022-04-11 12:19] pdebuyl commented on #4205
Minor comments

1. In the notebook `Examples - 2. Truncation` I had to re-run the cell

[code]

twice as else there would not be enough samples. I don't know if it is unexpected though as the sampling is not deterministic.

2. In the article, there is no section titled "Statement of Need". This is a mandatory part of the article according to JOSS' guidelines. The current section "Motivation" is a

[2022-04-11 12:20] JBorrow commented on #4240
@dfm archived version here: https://zenodo.org/record/6447216#.YlQc7C-B2Qc

[2022-04-11 12:37] danielskatz commented on #4307
@editorialbot generate pdf

[2022-04-11 13:09] martinmodrak commented on #2708
Maybe tagging @jongheepark as the repo owner could help? I also just noted that all the issues on the repository seem to have been deleted.

[2022-04-11 13:47] KathrynJones1 commented on #2382
Terribly sorry, I completely lost track of this - it is done now 👍

[2022-04-11 13:57] Kevin-Mattheus-Moerman commented on #4267
@likask @tjhei @moorepants would you be interested in reviewing this work, on Python based continuum mechanics, for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org)?
JOSS reviews focus on [evaluating the software](https://github.com/JulianKarlBauer/mechkit) and on reviewing the [short paper](https://github.com/openjournals/joss-papers/blob/joss.04267/joss.04267/10.21105.joss.04

[2022-04-11 14:07] ysohn commented on #2708
@arfon @martinmodrak  We are terribly sorry for this. All issues are gone without our notice. We are trying to recover them, and let you know the progress.

[2022-04-11 14:08] sridge commented on #3690
Thanks for the tag @rabernat, I would be happy to review @dhhagan

[2022-04-11 14:48] simoninireland commented on #3764
Done.

[2022-04-11 14:52] ajstewartlang commented on #3764
@editorialbot generate pdf

[2022-04-11 14:54] ajstewartlang commented on #3764
@editorialbot check references

[2022-04-11 14:57] ajstewartlang commented on #3764
:wave: @simoninireland If you could now do the following please, that would be great:

- Make a [tagged release](https://docs.github.com/en/github/administering-a-repository/releasing-projects-on-github/managing-releases-in-a-repository) of the software.
- Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- Check the archival deposit (e.g.,

[2022-04-11 15:19] Evmoerman commented on #4040
@rkurchin @wcwitt Thank you for that recommendation. I saw that discussion, however the solutions presented there seemed rather complicated. Hence, I hoped there would be an easier way.
I tried converting the md-file via pandoc using the template (here)[https://github.com/openjournals/whedon/blob/master/resources/latex.template]. For some reason, however, the references/bibliography is not correct

[2022-04-11 15:35] slayoo commented on #3690
@dhhagan, with other confirmed reviewers, please keep me as a backup, if possible, thanks

[2022-04-11 16:23] mbarzegary commented on #4281
@editorialbot check references

[2022-04-11 16:24] mbarzegary commented on #4281
@editorialbot generate pdf

[2022-04-11 16:57] dfm commented on #4240
@JBorrow, @Moyoxkit — Thanks! The archive looks good. Can you confirm that the correct version for post-review is `1.2.0`? I found a few more tiny edits to the bibliography - sorry! Once you merge that and sign off that you're happy about the proofs, I'll get the acceptance process started.

[2022-04-11 17:03] JBorrow commented on #4240
Yes, we have pushed 1.2.0 to include the final changes to the code required for JOSS acceptance.

[2022-04-11 17:09] kellyrowland commented on #4249
Hi @RichardClayton @shahmoradi - a reminder to start on this review when you are able to. If you're unable to conduct the review, please let me know so that I can find another reviewer.

[2022-04-11 17:16] Moyoxkit commented on #4240
Your final edits have been merged! And we are happy with the text

[2022-04-11 17:20] dfm commented on #4240
@editorialbot generate pdf

[2022-04-11 17:23] dfm commented on #4240
@editorialbot set v1.2.0 as version

[2022-04-11 17:24] dfm commented on #4240
@editorialbot recommend-accept

[2022-04-11 17:30] dfm commented on #4240
@Moyoxkit, @JBorrow — I've now handed this off to the managing editors to do the final processing. There may be some final edits or other changes, but the process should be fairly quick. Thanks again for your submission and for your responses to all the suggestions from @JDonaldM and @kstoreyf!

@JDonaldM, @kstoreyf — Thanks again for your reviews of this submission. Thanks for the time that you t

[2022-04-11 17:44] joglekara commented on #3953
@quantumsteve sorry for the wait here...

@jarvist @Kevin-Mattheus-Moerman , is there anything I can do to help get the review process started? Perhaps, we can just proceed with 1 reviewer?

[2022-04-11 18:18] henricasanova commented on #4311
@gkthiruvathukal Thanks for taking care of this submission and we're all in the same boat regarding the "end of the semester chaos" :)

I don't know any of those reviewers, but based on their fields of expertise, here is what I am thinking:
  - marksantcroos
  - joao-lima
  - uellue
  - yadudoc
  - kanirudh
  - jarrah42
  - diegomcarvalho

[2022-04-11 18:26] JBorrow commented on #4240
Thanks for being the editor and for all your work @dfm, and thanks again to @JDonaldM and @kstoreyf for the review, we really appreciate it.

[2022-04-11 18:39] jaybee84 commented on #4056
@Nikoleta-v3
Re: Contribution and authorship: From the commit history of the package the contributions of 2 out of 3 authors is evident. From some of the references the contribution of the third author is implicit. Would it be ideal to include an `author contribution` section (similar to https://www.elsevier.com/authors/policies-and-guidelines/credit-author-statement) in the readme so that the con

[2022-04-11 18:45] vimalthilak commented on #4210
@arfon Yes that's right. I will get a move on this week. Thanks for your patience and understanding, everybody!

[2022-04-11 19:00] arianesasso commented on #4235
@adi3 Sorry, I was on vacation! I am more on the application side of IMUs but if you later need a third person to review the paper, let me know.

[2022-04-11 19:39] gdetor commented on #4306
@tpurcell90 Thank you for pointing out that issue. We fixed that.

[2022-04-11 19:58] Gab0 commented on #4296
@editorialbot generate my checklist

[2022-04-11 20:30] mishioo commented on #4164
Thank you @alejandrogallo and @arepstein that you have found time for this review. I'm very happy to see `tesliper` recommended for publication!

The commit mentioned by @alejandrogallo is the latest release, issued in the meantime with version number 0.9.3.
I have created a Zenodo archive for it, the assigned DOI is [10.5281/zenodo.6448370](https://doi.org/10.5281/zenodo.6448370).
Is there anythi

[2022-04-11 20:31] rkurchin commented on #4164
Haha, I was just writing a comment asking for the version tag and DOI, so you beat me to it on that one!

I'll do an editorial pass over the manuscript and send any comments shortly, and then we'll be ready to roll! 🚀

[2022-04-11 20:31] rkurchin commented on #4164
@editorialbot set 0.9.3 as version

[2022-04-11 20:32] rkurchin commented on #4164
@editorialbot set 10.5281/zenodo.6448370 as DOI

[2022-04-11 20:32] rkurchin commented on #4164
@editorialbot set 10.5281/zenodo.6448370 as archive

[2022-04-11 20:32] rkurchin commented on #4164
@editorialbot generate pdf

[2022-04-11 20:35] rkurchin commented on #4306
@tpurcell90, many thanks for starting your review so promptly! @danaraujocr, please don't hesitate to ask if you need any clarifications on how the process works.

[2022-04-11 20:40] rkurchin commented on #4040
I actually haven't dealt with this myself, so I'm not 💯 certain what the easiest solution would be. However, the one posed in [this comment](https://github.com/openjournals/joss/issues/132#issuecomment-890440692) on that thread looks reasonably clear?

I agree that this is a sensible thing to want to do, so do let me know if you have further trouble...

[2022-04-11 20:45] rkurchin commented on #4164
A few minor editorial suggestions:
* line 34: singular/plural disagreement – perhaps rephrase to "...adoption of one or more of the software packages mentioned above..." or "...adoption of one or more piece of the aforementioned software..."
* line 35: parallelism - suggest change to "...incomplete, or unable to be done in an automated fasion."
* 37: hyphenate "time-consuming"

[2022-04-11 20:45] rkurchin commented on #4164
@editorialbot check references

[2022-04-11 20:47] rkurchin commented on #4104
@andyfaff thanks for pointing out the other publication, and for your continued work reviewing this. I'm going to check with the rest of the editorial team regarding the other paper before making any decisions.

[2022-04-11 20:52] Evmoerman commented on #4040
Thanks for your response. I'm not familiar with GitHub actions, except for the fact that is has been superseded by GitLab CI. Can I do the same thing described in that comment on GitLab, where my code/manuscript/project lies, or do I have to create a small GitHub project for that?

[2022-04-11 20:56] fanchercm commented on #4104
We disclosed during the initial submission that there was a co-submission of a scientific paper in parallel.

On Apr 11, 2022, at 4:48 PM, Rachel Kurchin ***@***.******@***.***>> wrote:

@andyfaff<hxxps://github.com/andyfaff> thanks for pointing out the other publication, and for your continued work reviewing this. I'm going to check with the rest of the editorial team regarding the other paper be

[2022-04-11 21:06] rkurchin commented on #4104
@fanchercm, apologies, yes I can see that now. Quoting from the guidelines:

As the person by far the most familiar with both pieces of work, could you clarify what the differing focuses are of the two papers such that these guidelines are adhered to?

[2022-04-11 21:19] fanchercm commented on #4104
The scientific paper was published in the journal of applied crystallography and details the specifics of the science application and crystallography as well as specifics of the data handling needed to ensure neutrons are properly reduced using established procedures. The JOSS paper was initially geared toward the software development. Looking at the guidelines, I think it would be good to include

[2022-04-11 21:24] rkurchin commented on #4104
above comment autolinked to the wrong issue number 780, here's the correct one for reference: https://github.com/neutrons/PyRS/issues/780

[2022-04-11 21:32] danaraujocr commented on #4306
@editorialbot generate my checklist

[2022-04-11 21:34] rkurchin commented on #4040
Ah, I see...well I did find [this post](https://tomasvotruba.com/blog/how-can-we-use-github-actions-in-gitlab/) on using GitHub Actions in GitLab CI, but given you really only need this one action to run once (or maybe a couple times), it might be more straightforward to just make a GitHub repo and add it as a second remote for your local version...

Sorry that this is a bit trickier than anticipa

[2022-04-11 21:39] dustinstoltz commented on #3741
@chartgerink I believe my co-author and I have addressed all the open issues.

[2022-04-11 21:39] Evmoerman commented on #4040
Yea, so many workaround for a seemingly ordinary task. I appreciate your recommendation and your comment on the issue. I will try to resolve it on GitHub then. Thank you very much.

[2022-04-11 22:27] Evmoerman commented on #4040
The github approach worked like a charm. Just a minor question wrt the logo. Is it better if I leave out the logo as the work is under review, or is that irrelevant in this case?

[2022-04-11 22:58] danaraujocr commented on #4306
@editorialbot generate pdf

[2022-04-11 23:21] untzag commented on #2688
It looks good to me! Thanks and sorry I have been so slow as a reviewer.

[2022-04-12 00:00] cpalmer718 commented on #4242
@editorialbot generate my checklist

[2022-04-12 00:31] cpalmer718 commented on #4242
Slightly more specific comments:

Most seriously: there are very few tests, and they really only seem to test that the app launches, not its functionality. This is obviously a challenge in GUI situations. @mikldk I think your guidance may be needed here. For a CL tool I'd say the test setup would need to be reworked from scratch, but I'm not sure that's a reasonable thing to ask here.

Assorted ot

[2022-04-12 04:56] tpurcell90 commented on #4306
All my comments have been addressed.

[2022-04-12 05:43] kris-rowe commented on #4277
@editorialbot generate my checklist

[2022-04-12 05:49] PeterKraus commented on #4166
@galessiorob Hi, could we try again?

[2022-04-12 08:56] mishioo commented on #4164
Thank you very much for your suggestions, @rkurchin! I have introduced these changes to the paper.

[2022-04-12 09:29] RichardClayton commented on #4249
@editorialbot generate my checklist

[2022-04-12 10:07] hechth commented on #4201
@dhhagan Other possible reviewers not in the list of JOSS are:
Theodore Alexandrov (theodev)
Andrew Palmer (andy-d-palmer)
Simon Rogers (sdrogers)
Ralf J. Weber (RJMW)

Other JOSS reviewers which could fit are (github handles):
askerdb
khinsen
davidegraff
dominiquesydow
darinddv
cthoyt

[2022-04-12 11:57] chartgerink commented on #3741
@dustinstoltz thanks for the update!

@cmaimone would you be able to check whether your concerns have been addressed appropriately and update your review list? It would help move this paper forward. FWIW, scope is fine from JOSS' end.

[2022-04-12 11:57] chartgerink commented on #3741
@editorialbot remove @mbod from reviewers

[2022-04-12 13:27] OlgerSiebinga commented on #4250
Hi All,

We have been working on the feedback in https://github.com/tud-hri/joan/issues/10, and we have addressed most of it. Hopefully, we can close that issue soon.  @humanfactors, thanks for summarizing your feedback in that issue, it was really helpful.

@taless474, I saw that there is only a checklist for @humanfactors in this issue. Will @bnriiitb get a checklist once @humanfactors is done?

[2022-04-12 13:27] rkurchin commented on #4164
@editorialbot recommend-accept

[2022-04-12 13:30] rkurchin commented on #4309
Arfon, I could also edit this if the suggested editors are tied up – I have one review paused and one about to be accepted so I should have the bandwidth.

[2022-04-12 14:39] editorialbot opened #4314 "[PRE REVIEW]: Pose2Sim: An Open-Source Python Package for multiview markerless kinematics"
**Submitting author:** @DavidPagnon (<a href="http://orcid.org/0000-0002-6891-8331">David Pagnon</a>)
**Repository:** https://gitlab.inria.fr/perfanalytics/pose2sim
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @danasolav
**Reviewers:** @lambdaloop, @jonmatthis, @CVHammond
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/

[2022-04-12 15:36] bauer-alex commented on #4056
Thanks so much for the input @jaybee84.
I have now added the explicit license text in the `LICENSE` file (see https://github.com/bauer-alex/APCtools/issues/7).

Also, I found that we made a minor mistake in the labels of the density matrix in the paper. I fixed it now and will re-generate the pdf with the next message.
Nothing else has changed in the paper.

[2022-04-12 15:36] bauer-alex commented on #4056
@editorialbot generate pdf

[2022-04-12 16:34] csoneson commented on #4265
That's perfect, thanks @BatoolMM!

[2022-04-12 17:21] editorialbot opened #4315 "[PRE REVIEW]: NAIF PDS4 Bundler: A Python package to generate SPICE PDS4 archives"
**Submitting author:** @mcostasitja (<a href="http://orcid.org/0000-0003-0055-2959">Marc Costa Sitja</a>)
**Repository:** https://github.com/NASA-PDS/naif-pds4-bundler
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.0
**Editor:** @mbobra
**Reviewers:** @athulpg007, @SimonMolinsky
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/fd49478b594638

[2022-04-12 17:28] arfon commented on #4156
@editorialbot accept

[2022-04-12 17:32] arfon commented on #4156
@editorialbot accept

[2022-04-12 17:58] arfon commented on #4156
@tuliofalmeida, @osorensen – many thanks for your reviews here and to @osorensen for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@tlwu – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-12 17:58] #4156 closed

[2022-04-12 18:03] arfon commented on #4164
@editorialbot accept

[2022-04-12 18:09] arfon commented on #4240
@JBorrow – I spotted a couple of minor issues in your paper which I've fixed here: https://github.com/SWIFTSIM/emulator/pull/43

[2022-04-12 18:10] arfon commented on #4164
@alejandrogallo, @arepstein – many thanks for your reviews here and to @rkurchin for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@mishioo – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-12 18:10] #4164 closed

[2022-04-12 18:11] arfon commented on #4240
@editorialbot recommend-accept

[2022-04-12 18:16] arfon commented on #4240
@editorialbot accept

[2022-04-12 18:35] mbobra commented on #4315
I'm happy to edit this submission, @arfon!

[2022-04-12 18:43] kthyng commented on #4288
Hi @NRaillard, can you look through the [list of reviewers](https://bit.ly/joss-reviewers) and give some appropriate suggestions? This will help speed up the process to get this review started.

We are working on figuring out a good editor for this submission in the meantime.

[2022-04-12 18:47] kthyng commented on #4277
/ooo April 15 until July 15

[2022-04-12 18:47] kthyng commented on #4277
@bastorer I am going to be on leave for a few months, but never fear — another editor will take over here.

[2022-04-12 18:49] danielskatz commented on #4277
While @kthyng is ooo (or ideally until we finish this review), I'll take over as editor.

It looks like everything is started:
* @NoraLoose needs to generate a checklist (with the command `@editorialbot generate my checklist`) and then get started
* @kris-rowe has already started their review

If you have any questions, please let me know!

[2022-04-12 19:09] NRaillard commented on #4288
I have identified PythonCHB, platipodium and krober10nd that may be adequate reviewers.

[2022-04-12 19:43] mkitti commented on #4300
Regarding package registration, I do not see how dependence on the other packages or lack there of would prevent package registration. This can always be modified in subsequent vesions of the package. VTUFileHandler.jl is either a reusable library or a terminal application.
1) A reusable library should be in a registry of some sort to facilitate installation.
2) Alternatively, a terminal applicati

[2022-04-12 19:49] mkitti commented on #4300
Thank you for this comment. Please clarify the above points in the paper, clearly delineating how this library implements an algebra such as a field. If you feel there is an alternative algebra, please state what it is. Specifically there are a couple missing parts I have identified so far:
1. Additive inverse with a unary `-` operator.
2. Multiplicative identity (e.g. `Base.one`).

[2022-04-12 19:50] mkitti commented on #4300
It would be good to document this in the README for XMLParser.

[2022-04-12 21:21] pdebuyl commented on #4274
Question: is it possible to use the package without having any proprietary software? Would there be limitations?

I am looking for reviewers and it is important to know about this. Thanks!

[2022-04-12 21:21] juanvillada commented on #4265
Hi @csoneson, thanks for the reminder. I am aiming to be done this weekend. Best!

[2022-04-12 21:22] juanvillada commented on #4265
@editorialbot generate my checklist

[2022-04-12 21:43] mishioo commented on #4164
@rkurchin, @alejandrogallo, @arepstein, @arfon, thank you all for conducting this review, I'm extremely happy to see my software published in JOSS! :)

[2022-04-12 21:51] arfon commented on #4240
@JDonaldM, @kstoreyf  – many thanks for your reviews here and to @dfm for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@Moyoxkit – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-12 21:51] #4240 closed

[2022-04-12 22:04] pfeiffea commented on #4282
`@editorialbot generate my checklist `

[2022-04-12 22:31] elbeejay commented on #4207
@zhenwu0728 I think you've gotten a nice set of reviews that are overall quite supportive of the package, and constructive in terms of their feedback and suggestions. When do you anticipate making changes and having revisions complete by? Some rough timeline will be helpful so that @BrodiePearson, @Datseris, and I know when we can expect to have to take another look at this. Thanks!

[2022-04-12 23:27] kbarnhart commented on #4282
@editorialbot remind @tdoane  in two weeks

[2022-04-13 00:20] zhenwu0728 commented on #4207
Thanks for the reminder, @elbeejay. And thanks for all the insightful and constructive comments from @Datseris and @BrodiePearson. We've already started the revision of the paper and the package (e.g. add unit tests) and hopefully finish in one week or so. I'll upload a point-to-point response once finished. Thanks again!

[2022-04-13 05:07] slayoo commented on #3219
@dhhagan, let me ask for your action in resolving the above bot reply. Thank you for your help

[2022-04-13 05:48] Cadaei-Yuvxvs commented on #4313
Suggested JOSS reviewers:

- rlizzo
- nicksisco1932
- robbisg
- a3sha2
- jwirsich
- Ykarpate
- adbartni
- rmarkello
- fepegar
- surajpaib

[2022-04-13 07:12] shivesh1210 commented on #3884
@gkthiruvathukal Is there any update on the status of our paper? It has been six months already since we submitted our work. It would be great if you could assist in speeding up the review process. In the meantime, we have also created a documentation website: https://dfki-ric-underactuated-lab.github.io/torque_limited_simple_pendulum/ and setup a CI pipeline for our work.

[2022-04-13 09:39] timtroendle commented on #2688
All good, @untzag. Thanks for the update!

[2022-04-13 09:39] timtroendle commented on #2688
@editorialbot generate pdf

[2022-04-13 09:48] timtroendle commented on #2688
@arunpersaud, it all looks good to me and we can now move on. At this point could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the tit