[2019-08-12 07:26] danielskatz commented on #1606
@jbasney, @jteheran - thanks very much for reviewing!

[2019-08-12 07:26] #1606 closed

[2019-08-12 07:26] whedon commented on #1606
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01606/status.svg)](https://doi.org/10.21105/joss.01606)

**We need your help!**

Journal of Open Source Softwa

[2019-08-12 07:28] whedon opened #1641 "[PRE REVIEW]: thurstonianIRT: Thurstonian IRT Models in R"
**Submitting author:** @paul-buerkner (<a href="http://orcid.org/0000-0001-5765-8995">Paul-Christian Bürkner</a>)
**Repository:** <a href="https://github.com/paul-buerkner/thurstonianIRT" target ="_blank">https://github.com/paul-buerkner/thurstonianIRT</a>
**Version:** 0.9.0
**Editor:** @cMadan
**Reviewers:** @tomfaulkenberry, @russellpierce

**Author instructions**

Thanks for submitting your pap

[2019-08-12 07:28] whedon commented on #1641
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-12 07:28] whedon commented on #1641
[code]

[2019-08-12 07:28] whedon commented on #1641
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01641/joss.01641/10.21105.joss.01641.pdf)

[2019-08-12 07:37] danielskatz commented on #1641
@paul-buerkner - while I find an editor, I've also suggested a number of text changes in https://github.com/paul-buerkner/thurstonianIRT/pull/2 - if you merge this, please regenerate the pdf by entering ```@whedon generate pdf``` as a new comment in this thread.

[2019-08-12 07:39] danielskatz commented on #1641
👋 @trallard - would you be willing to edit this submission?

[2019-08-12 07:40] adswa commented on #1525
Hi @FelixHenninger, sorry to hear about health issues - don't worry about the delay. Glad to hear you find it useful, and thanks for your comments. :slightly_smiling_face:

In this [PR](https://github.com/adswa/multimatch_gaze/pull/33) I've added a note about how to run the test suite locally into the README.md, CONTRIBUTING.md, and the docs. I find it to be a very useful addition, thanks for the

[2019-08-12 07:41] adswa commented on #1525
@whedon generate pdf

[2019-08-12 07:41] whedon commented on #1525
[code]

[2019-08-12 07:41] whedon commented on #1525
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01525/joss.01525/10.21105.joss.01525.pdf)

[2019-08-12 07:41] stulacy commented on #1640
Sorry, I don't have any time to review this at the moment.

On Sun, 11 Aug 2019 at 17:40, whedon <notifications@github.com> wrote:

[2019-08-12 07:43] danielskatz commented on #1641
👋 @brainstorm - would you be willing to edit this submission?

[2019-08-12 07:44] paul-buerkner commented on #1641
@whedon generate pdf

[2019-08-12 07:44] whedon commented on #1641
[code]

[2019-08-12 07:44] whedon commented on #1641
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01641/joss.01641/10.21105.joss.01641.pdf)

[2019-08-12 07:47] paul-buerkner commented on #1641
@bgoodri may be able to review this submission as he is responsible for the rstan interface to Stan on which thurstonianIRT (partially) relies on.

[2019-08-12 07:51] adswa commented on #1525
Retrying in order to get the doi with an underscore to work.

[2019-08-12 07:51] adswa commented on #1525
@whedon  generate pdf

[2019-08-12 07:51] danielskatz commented on #1641
Thanks - we will need to find at least 2 reviewers, so more suggestions are also welcome.

[2019-08-12 07:55] paul-buerkner commented on #1641
I will think of some more and come back to you.

[2019-08-12 07:56] paul-buerkner commented on #1641
@yrosseel may be able to review this submission as he is responsible for the lavaan package on which thurstonianIRT (partially) relies on.

[2019-08-12 08:03] adswa commented on #1525
@whedon generate pdf

[2019-08-12 08:03] whedon commented on #1525
[code]

[2019-08-12 08:04] whedon commented on #1525
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01525/joss.01525/10.21105.joss.01525.pdf)

[2019-08-12 08:52] mrgprasad commented on #1634
@Kevin-Mattheus-Moerman - Thank you for accepting to be the editor. May I suggest some reviewers or do you already have someone in mind?

[2019-08-12 11:07] Amudtogal commented on #1326
We finally reached the end of the road!
The first build on Phobos ran successfully: https://travis-ci.org/dfki-ric/phobos
Enjoy your break!
I am looking forward to your reply when you return :)

[2019-08-12 11:46] Kevin-Mattheus-Moerman commented on #1634
@mrgprasad thanks. Yes please do suggest reviewers, thanks.

I'm away at a conference this week and will get back to this next week.

[2019-08-12 12:11] xuanxu commented on #1559
Hey @astrom-tom! Thanks! Right now the review is almost complete by one of the reviewers and halfway there by the other. If you don't mind I prefer to have you first in queue for the next astro-submission we receive.

[2019-08-12 12:30] shyamalpatel commented on #1617
@lheagy [Dr. Ikaro Silva](https://www.linkedin.com/in/ikaro-silva-5642239/) (@ikarosilva) would be able to review this if you are looking for additional reviewers. Dr. Silva is a senior research scientist at Philips Research North America and has a strong background in biomedical applications of signal processing and machine learning.

Best,
Shyamal

[2019-08-12 12:45] omoliavko commented on #1494
@gkthiruvathukal Sorry for the delay, we've deposited v0.2.0 source code on Zenodo:
https://zenodo.org/record/3366076#.XVFc80czaUk
DOI generated is:
10.5281/zenodo.3366076

Most relevant change in code is addition of example that demonstrates operation of hardware security mechanism in ARM Trustzone that generates exceptions on operations that should be blocked.

[2019-08-12 12:50] andreas-h commented on #1468
there's a typo in the install docs, see WRF-CMake/wrf/pull/37/files

[2019-08-12 12:53] arfon commented on #1601
@whedon accept deposit=true

[2019-08-12 12:53] whedon commented on #1601
[code]

[2019-08-12 12:54] whedon commented on #1601
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1160897306348179456) 👈 🐦🐦🐦

[2019-08-12 12:54] whedon commented on #1601
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/895
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01601](https://doi.org/10.21105/joss.01601)
2. If everything looks go

[2019-08-12 13:00] arfon commented on #1601
@lionel68, @joethorley, @lionel68 -  many thanks for your reviews and to @terrytangyuan for editing this submission.

@goldingn - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-08-12 13:00] #1601 closed

[2019-08-12 13:00] whedon commented on #1601
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01601/status.svg)](https://doi.org/10.21105/joss.01601)

**We need your help!**

Journal of Open Source Softwa

[2019-08-12 13:04] andreas-h commented on #1468
Thanks, that new version of the documentation is a lot more helpful to users who already "know" WRF.

Agreed.  The way you describe the relation in the release notes is very helpful, especially with the link.  It would be great to have that in the release notes always.

Thanks, that was me not reading properly.

Agreed.  Having your fork PRable is indeed very helpful.

[2019-08-12 13:16] andreas-h commented on #1468
Some more info regarding cleaning / re-compiling when modifying the source code should be added to the compilation instructions, see WRF-CMake/wrf/issues/38

[2019-08-12 13:48] mrgprasad commented on #1634
@KedoKudo and @chennachaos - Would you guys be willing to review this submission?

@Kevin-Mattheus-Moerman - My suggestion is based on how close the reviewers are to the current work's field of application.

[2019-08-12 13:48] andreas-h commented on #1468
The paper is well-written.  I agree with @zbeekman that it ends rather abruptly.  Also, I think that including the comparison *howto-do-A-in-upstream-WRF* vs *howto-do-A-in-WRF-CMAKE*I (as discussed above and in WRF-CMake/wrf/issues/38) should be included in the paper.

I am a bit shocked by the NRMSE plot.  Do I read this right, that after 60 minutes simulation time, `w` differs between WRF-CMAKE

[2019-08-12 13:52] andreas-h commented on #1468
Having said all this, I think WRF-CMAKE is a valuable contribution.  If it had been around when I started working with WRF, it had saved me several days of work (and frustration).

There are still three boxes I haven't checked above:
1. *Installation* I'll check off once a test build I'm doing on our system completes successfully
2. *Example usage* I'll check off once the authors have addressed WR

[2019-08-12 13:59] lpantano commented on #1584
Hi @mikkonie, wanted to check if everything is ok, and you are not waiting for us but trying to address the issues opened by the reviewers.

Hi @olgabot,  any chance you could update the checklist above for the items that are ok?

Thank you all!

[2019-08-12 14:23] hneutr commented on #1458
Hi @cMadan!

- There's a tagged release [here](https://github.com/dblarremore/webweb/releases/tag/0.0.37). The released version is `0.0.37`.
- [Here](https://zenodo.org/record/3366140#.XVF1yZNKjRY) is the zenodo upload! Author information matches.
- The zenodo DOI is: 10.5281/zenodo.3366140

Is there anything else that needs to be done before publication?

Best,
Hunter

[2019-08-12 14:23] arfon commented on #1468
Thanks for your updated review @andreas-h!

@letmaik - please take a look at @andreas-h's feedback and let us know your response here.

[2019-08-12 14:25] mancellin commented on #1633
Hello everybody. I'm on holidays until next week. If you don't mind waiting a bit, I'd be happy to do the review.

[2019-08-12 14:33] poulson commented on #1571
Hi Scott (@stsievert): I apologize if I've asked you to review too many times, but you were recommended as a relevant reviewer for this paper. Would you have the time and interest in doing so?

Hi Oscar (@oesteban): David recommended you as a reviewer for this paper; would you be interested and confident in serving as a reviewer?

Hi Sarat (@sarats): You were recommended as an expert reviewer for

[2019-08-12 14:35] poulson commented on #1371
:wave: @labarba: Good question, and I will personally email @jordigh now in hopes of increasing the chances of a response.

[2019-08-12 14:58] oliviaguest commented on #1633
@mancellin of course, fantastic!

[2019-08-12 15:02] oliviaguest commented on #1633
@whedon add @mancellin as reviewer

[2019-08-12 15:02] whedon commented on #1633
OK, @mancellin is now a reviewer

[2019-08-12 15:08] oliviaguest commented on #1633
@labarba do I now just start the review with whedon? :blush:

[2019-08-12 15:11] artivis commented on #1371
@labarba Sorry for the late answer.
We are done with the revision. The last thing remaining is to generate a release (and tag) to associate to the paper. However we'd like to do that at the very end of the review process in case some other fixes are required.

[2019-08-12 15:13] danielskatz commented on #1633
yes, ```@whedon start review```

[2019-08-12 15:15] labarba commented on #1633
And once you start the review, close this issue, and go to the Review issue to post a welcoming message to get a ping out to the reviewers. I use something like:

[2019-08-12 15:20] yarikoptic commented on #1294
Sorry for the delay!!! I just did it and it published.  But now it doesn't show the version in the title.  I wonder if I should add it (`PyBIDS: Python tools for BIDS datasets (0.9.2)`) and also adjust subsequent release records?

[2019-08-12 15:21] oliviaguest commented on #1633
@danielskatz thank you — I was wondering what more there is before I issue that in case anything else needs to happen. 😅

@labarba ah, thanks! Will whedon link us from here to the new issue it opens?

[2019-08-12 15:22] labarba commented on #1633
Yep. Try it!

[2019-08-12 15:23] usethedata commented on #1608
@whedon add @jjmcnelis as reviewer

[2019-08-12 15:23] whedon commented on #1608
OK, @jjmcnelis is now a reviewer

[2019-08-12 15:24] danielskatz commented on #1633
You may want to browse https://joss.readthedocs.io/en/latest/editing.html as well.

And if you want to ask something of the associate editor in chief on duty, please ping ```@openjournals/joss-eics``` rather than a specific person

[2019-08-12 15:27] labarba commented on #1633
@danielskatz — I'm @oliviaguest's onboarding buddy.

[2019-08-12 15:29] lheagy commented on #1617
Excellent, many thanks @eskofier! I will continue looking for one more reviewer before we get started.

[2019-08-12 15:29] lheagy commented on #1617
@whedon assign @eskofier as reviewer

[2019-08-12 15:30] whedon commented on #1617
OK, the reviewer is @eskofier

[2019-08-12 15:31] danielskatz commented on #1633
Ok, that makes sense

[2019-08-12 15:37] oliviaguest commented on #1633
@whedon start review

[2019-08-12 15:37] whedon opened #1642 "[REVIEW]: PressureDrop.jl: Pressure traverses for oil & gas wells"
**Submitting author:** @jnoynaert (<a href="http://orcid.org/0000-0002-2986-0376">Jared Noynaert</a>)
**Repository:** <a href="https://github.com/jnoynaert/PressureDrop.jl" target ="_blank">https://github.com/jnoynaert/PressureDrop.jl</a>
**Version:** v1.0.1
**Editor:** @oliviaguest
**Reviewer:** @wkearn, @mancellin
**Archive:** <a href="https://doi.org/10.5281/zenodo.3529746" target="_blank">10.5

[2019-08-12 15:37] whedon commented on #1633
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1642. Feel free to close this issue now!

[2019-08-12 15:37] whedon commented on #1642
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wkearn, @mancellin it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-08-12 15:37] whedon commented on #1642
[code]

[2019-08-12 15:37] whedon commented on #1642
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01642/joss.01642/10.21105.joss.01642.pdf)

[2019-08-12 15:39] #1633 closed

[2019-08-12 15:41] chennachaos commented on #1634
Thank you @Kevin-Mattheus-Moerman .
Happy to review :)

[2019-08-12 15:43] oliviaguest commented on #1642
👋@wkearn, @mancellin — This is where the action happens. You both have a review checklist to work your way through. Feel free to post questions here and open review issues in [the submission repository](https://github.com/openjournals/joss-reviews/issues/1633): https://github.com/openjournals/joss-reviews/issues/1633

[2019-08-12 15:44] ThomasPak commented on #1618
Dear @jedbrown, I would like to suggest the following reviewers:

- fabian-s
- becarioprecario
- mattpitkin
- Volkerschmid
- gweodoo
- gonsie
- mikaem

I selected these reviewers based on their topic areas including either Bayesian statistics or MPI, as well as their knowledge of C++.

In addition, darrenjw is not on the suggested list of reviewers, but I believe he would be a suitable reviewer fo

[2019-08-12 15:48] effigies commented on #1294
@yarikoptic The version is listed on the page, so I'm not too worried.

@cMadan WDYT?

[2019-08-12 16:34] labarba commented on #1642
Hi everybody! If you open a new issue in the [submission repository](https://github.com/jnoynaert/PressureDrop.jl), it's nice if you link to this very issue thread here, so we get a cross-link from GitHub.

[2019-08-12 16:37] oliviaguest commented on #1642
[ @labarba thanks for all the help so far ]

[2019-08-12 16:59] ornlpmcp commented on #1594
@desilinguist @krother @jkahn @vchuravy would you please review this submission? @terrytangyuan I just started following this thread. Sorry for the late reply.

[2019-08-12 17:16] ctdegroot commented on #1621
@MatthewFlamm Looks good. Regarding item 2, the checklist says "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support". I think that (1) could be optional (@xuanxu please advise), but reporting issues and seeking support should be mandatory and is probably easy for you to do.

[2019-08-12 17:26] ctdegroot commented on #1613
@ramaniitrgoyal92 A few things to look at for now before I get into looking at the actual software:

- It is stated that the version is 2.1, but there are no tags in the repository to indicate this.
- The paper just contains one main section "Summary". I think it would be better if you added a couple of sections to separate the background information from the description of the software.

[2019-08-12 17:44] cMadan commented on #1294
@yarikoptic @effigies, I don't think the version needs to be in the title since it's prominent elsewhere.

[2019-08-12 17:44] kthyng commented on #1619
Having a hard time getting in contact with people.

@oesteban, @sealhuang, @abhishekbajpayee Are you interested in reviewing this JOSS submission? We ask for reviews within about 3 weeks, and you can find more information about this process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Looking for two reviewers total, thanks all!

[2019-08-12 17:45] cMadan commented on #1294
@whedon set 0.9.3 as version

[2019-08-12 17:45] whedon commented on #1294
OK. 0.9.3 is the version.

[2019-08-12 17:45] cMadan commented on #1294
@whedon set 0.9.2 as version

[2019-08-12 17:45] whedon commented on #1294
OK. 0.9.2 is the version.

[2019-08-12 17:46] cMadan commented on #1294
@whedon set 10.5281/zenodo.3333492 as doi

[2019-08-12 17:46] cMadan commented on #1294
@whedon set 10.5281/zenodo.3333492 as archive

[2019-08-12 17:46] whedon commented on #1294
OK. <a href="https://doi.org/10.5281/zenodo.3333492" target="_blank">10.5281/zenodo.3333492</a> is the archive.

[2019-08-12 17:47] cMadan commented on #1294
@openjournals/joss-eics, I think we're all set to accept here!

[2019-08-12 17:48] cMadan commented on #1458
@whedon set 0.0.37 as version

[2019-08-12 17:48] whedon commented on #1458
OK. 0.0.37 is the version.

[2019-08-12 17:48] cMadan commented on #1458
@whedon set 10.5281/zenodo.3366140 as archive

[2019-08-12 17:48] whedon commented on #1458
OK. <a href="https://doi.org/10.5281/zenodo.3366140" target="_blank">10.5281/zenodo.3366140</a> is the archive.

[2019-08-12 17:49] cMadan commented on #1458
@hneutr, great! I think you're all good!

@openjournals/joss-eics, we're all set to accept here!

[2019-08-12 17:52] cMadan commented on #1541
@whedon set 0.2.5 as version

[2019-08-12 17:52] whedon commented on #1541
OK. 0.2.5 is the version.

[2019-08-12 17:52] cMadan commented on #1541
@whedon set 10.5281/zenodo.3361605 as archive

[2019-08-12 17:52] whedon commented on #1541
OK. <a href="https://doi.org/10.5281/zenodo.3361605" target="_blank">10.5281/zenodo.3361605</a> is the archive.

[2019-08-12 17:53] cMadan commented on #1541
@DominiqueMakowski, perfect, thank you!

@openjournals/joss-eics, I think we're all set to accept here!

[2019-08-12 18:02] danielskatz commented on #1294
@whedon accept

[2019-08-12 18:02] whedon commented on #1294
[code]

[2019-08-12 18:03] whedon commented on #1294
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/896

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/896, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-12 18:06] danielskatz commented on #1294
@whedon accept deposit=true

[2019-08-12 18:06] whedon commented on #1294
[code]

[2019-08-12 18:08] danielskatz commented on #1294
Thanks to @grlee77 for reviewing and to @cMadan for editing

[2019-08-12 18:08] whedon commented on #1294
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1160976257359712261) 👈 🐦🐦🐦

[2019-08-12 18:08] whedon commented on #1294
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/897
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01294](https://doi.org/10.21105/joss.01294)
2. If everything looks go

[2019-08-12 18:08] #1294 closed

[2019-08-12 18:08] whedon commented on #1294
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01294/status.svg)](https://doi.org/10.21105/joss.01294)

**We need your help!**

Journal of Open Source Softwa

[2019-08-12 18:11] danielskatz commented on #1458
Thanks to @vc1492a and @jg-you for reviewing and @cMadan for editing!

[2019-08-12 18:11] danielskatz commented on #1458
@whedon accept

[2019-08-12 18:11] whedon commented on #1458
[code]

[2019-08-12 18:12] whedon commented on #1458
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/898

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/898, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-12 18:23] danielskatz commented on #1458
there's a bib typo, fixed in https://github.com/dblarremore/webweb/pull/53
Please merge this or otherwise fix it, then we can finalize the acceptance.

[2019-08-12 18:24] danielskatz commented on #1458
👋 @hneutr - the above comment is for you - sorry I didn't put your handle on it

[2019-08-12 18:24] dblarremore commented on #1458
@danielskatz I just merged it. Good catch.

[2019-08-12 18:42] danielskatz commented on #1458
@whedon accept

[2019-08-12 18:42] whedon commented on #1458
[code]

[2019-08-12 18:43] whedon commented on #1458
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/899

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/899, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-12 18:48] danielskatz commented on #1458
@whedon generate pdf

[2019-08-12 18:48] whedon commented on #1458
[code]

[2019-08-12 18:48] whedon commented on #1458
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01458/joss.01458/10.21105.joss.01458.pdf)

[2019-08-12 18:50] danielskatz commented on #1458
@whedon accept deposit=true

[2019-08-12 18:50] whedon commented on #1458
[code]

[2019-08-12 18:51] whedon commented on #1458
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1160987117457170433) 👈 🐦🐦🐦

[2019-08-12 18:51] whedon commented on #1458
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/900
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01458](https://doi.org/10.21105/joss.01458)
2. If everything looks go

[2019-08-12 18:52] #1458 closed

[2019-08-12 18:52] whedon commented on #1458
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01458/status.svg)](https://doi.org/10.21105/joss.01458)

**We need your help!**

Journal of Open Source Softwa

[2019-08-12 18:54] danielskatz commented on #1541
@whedon generate pdf

[2019-08-12 18:54] whedon commented on #1541
[code]

[2019-08-12 18:55] danielskatz commented on #1541
Thanks to @paul-buerkner and @tjmahr for reviewing and @cMadan for editing

[2019-08-12 18:55] whedon commented on #1541
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01541/joss.01541/10.21105.joss.01541.pdf)

[2019-08-12 19:05] MatthewFlamm commented on #1621
Thanks for the friendly suggestion on path forward @ctdegroot.  I'm exploring being able to satisfy the checklist to the fullest, but there is a middle way that satisfies 90% of the intent IMO.  I propose that instead of a 'Contributing to the software' section that includes point 1) from the cheklist, that this submission have a 'Extending the software' section that describes how to create a new

[2019-08-12 19:05] danielskatz commented on #1541
👋 @DominiqueMakowski - please see https://github.com/easystats/bayestestR/pull/217 and merge it - also carefully check the rest of the bib to make sure I didn't miss anything else (e.g., words in lower case that should be in upper case, odd periods at the end of titles, etc.)

[2019-08-12 19:07] strengejacke commented on #1541
@danielskatz Thanks for the thorough reading! I have read the paper and checked all hyperlinks, everything looks good so far.

I'll go through the paper and check the references now.

[2019-08-12 19:07] ctdegroot commented on #1621
@MatthewFlamm This makes sense to me and I would accept it. There is nothing stopping someone from making a PR anyways, and it would be up to you if you'd want to accept it.

[2019-08-12 19:08] strengejacke commented on #1541
@whedon generate pdf

[2019-08-12 19:08] whedon commented on #1541
[code]

[2019-08-12 19:09] whedon commented on #1541
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01541/joss.01541/10.21105.joss.01541.pdf)

[2019-08-12 19:14] danielskatz commented on #1541
In addition, here are some changes for the paper.

[2019-08-12 19:28] strengejacke commented on #1541
Thanks for the language editing! i have gone through the references and found some minor changes. I will hand over to @DominiqueMakowski for the final check.

[2019-08-12 19:29] mgymrek commented on #1625
Great, thanks @marouenbg and @SirSharpest!

[2019-08-12 19:29] abhishekbajpayee commented on #1619
@kthyng I should be able to review.

[2019-08-12 19:29] mgymrek commented on #1625
@whedon assign @SirSharpest as reviewer

[2019-08-12 19:29] whedon commented on #1625
OK, the reviewer is @SirSharpest

[2019-08-12 19:29] mgymrek commented on #1625
@whedon add @marouenbg as reviewer

[2019-08-12 19:29] whedon commented on #1625
OK, @marouenbg is now a reviewer

[2019-08-12 19:29] mgymrek commented on #1625
@whedon start review

[2019-08-12 19:30] whedon opened #1643 "[REVIEW]: SMBLtoODEpy: A software program for converting SBML models into ODE models in Python"
**Submitting author:** @ashleefv (<a href="http://orcid.org/0000-0001-9059-5703">Ashlee N. Ford Versypt</a>)
**Repository:** <a href="https://github.com/SMRuggiero/sbmltoodepy" target ="_blank">https://github.com/SMRuggiero/sbmltoodepy</a>
**Version:** v1.0.3
**Editor:** @mgymrek
**Reviewer:** @SirSharpest, @marouenbg
**Archive:** <a href="https://doi.org/10.5281/zenodo.3441677" target="_blank">10

[2019-08-12 19:30] whedon commented on #1625
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1643. Feel free to close this issue now!

[2019-08-12 19:30] whedon commented on #1643
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @SirSharpest, @marouenbg it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-08-12 19:30] whedon commented on #1643
[code]

[2019-08-12 19:30] mgymrek commented on #1625
Please head over to #1643 to perform the review. If you are new to reviewing for JOSS, please let me know if you have any questions.

[2019-08-12 19:30] #1625 closed

[2019-08-12 19:30] whedon commented on #1643
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01643/joss.01643/10.21105.joss.01643.pdf)

[2019-08-12 19:32] kthyng commented on #1619
@abhishekbajpayee awesome! Just need one more...

[2019-08-12 19:35] leouieda commented on #1511
@whedon generate pdf

[2019-08-12 19:35] whedon commented on #1511
[code]

[2019-08-12 19:36] whedon commented on #1511
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01511/joss.01511/10.21105.joss.01511.pdf)

[2019-08-12 19:44] leouieda commented on #1511
@martibosch I submitted a PR with a few minor fixes to the JOSS paper. Please let me know when you merge it and we can move on with the publication.

[2019-08-12 19:44] danielskatz commented on #1541
Ok - please let me know when you & @DominiqueMakowski are done, then we can proceed.

[2019-08-12 19:56] desilinguist commented on #1524
Thanks @alexanderimanicowenrivers! It looks much, much better now. FYI, the echo command in the [PR](https://github.com/for-ai/rl/pull/27/files) doesn't match the actual command that's run so you should probably fix that :)

@mbobra please consider this approved from my side!

[2019-08-12 20:02] desilinguist commented on #1594
Sorry, I won’t be able to do this one.

On Mon, Aug 12, 2019 at 1:00 PM ORNL Powertrain Materials Core Program <
notifications@github.com> wrote:

--
Linguist, Desi Linguist
http://www.desilinguist.org

[2019-08-12 20:09] dap-biospec commented on #1629
@tcausgrove, @FaustinCarter  - we updated the demo to exclude unnecessary path (error on load) and to use the correct demo procedure file. Thank you @tcausgrove for bringing it up.  Although we tested full download from GitHub before the review, some procedures were still loaded from our network locations instead of relative location in the repo mirror.  We identified the cause only after disablin

[2019-08-12 20:46] FelixHenninger commented on #1525
Looks great to me, thanks @adswa for the lightning-fast changes! 👍 🎉

[2019-08-12 20:49] mdoucet commented on #1570
I'm done with my review. The code does what it says it does. I could run the code, generate decays and check that the 4-momentum vectors and invariant mass of the results made sense. I only wish that functionality to deal with decay widths, along the lines of the helper code in `tests/helpers/decays.py`, would be part of the main code.

[2019-08-12 20:57] KedoKudo commented on #1634
I'm happy to serve as a reviewer if needed.

[2019-08-12 21:56] letmaik commented on #1468
Resolved, non-issue.

No, you misread that. All errors are against the reference Linux/Make/Debug/serial. On the y axis of the plot you see what is compared against. You can see that both Make and CMake generate such high errors, simply due to differences in operating system or build mode (Debug, Release). The paragraph above Table 1 explains why this is the case.

I agree this would seem intuitiv

[2019-08-12 23:03] CameronDevine commented on #1326
@gkthiruvathukal All of the items on my checklist are now complete. I believe this paper is ready to be accepted.

[2019-08-12 23:09] dmnfarrell commented on #1610
I have reviewed this software and find the paper clear and well written. The software installs via pip with no issues. I have no experience with the ISA-tab format but the code examples I tested worked and the API documentation look well prepared. Some of the issues I noticed have already been addressed by the other reviewers. The only other comments I have are as follows:
* it is not clear how th

[2019-08-12 23:36] danielskatz commented on #1641
👋 @cMadan - would you be willing to edit this submission?

[2019-08-12 23:37] whedon opened #1644 "[PRE REVIEW]: Tidyouwie: A tidy approach for streamlining ‘OUwie’ analyses"
**Submitting author:** @sarahtfried (<a href="http://orcid.org/0000-0003-0192-5008">Sarah Friedman</a>)
**Repository:** <a href="https://github.com/stfriedman/tidyouwie" target ="_blank">https://github.com/stfriedman/tidyouwie</a>
**Version:** v0.900
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @sarahtfried. **Currently, there isn't a

[2019-08-12 23:37] whedon commented on #1644
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-12 23:37] whedon commented on #1644
[code]

[2019-08-12 23:37] whedon commented on #1644
PDF failed to compile for issue #1644 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1644 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-0b01f8a04285/lib/whedo

[2019-08-12 23:38] whedon opened #1645 "[PRE REVIEW]: bio-go: A flexible tools Bioinformatics library"
**Submitting author:** @RHagenson (<a href="http://orcid.org/0000-0001-9750-1925">Ryan Hagenson</a>)
**Repository:** <a href="https://github.com/bio-ext/bio-go" target ="_blank">https://github.com/bio-ext/bio-go</a>
**Version:** v1.0.0
**Editor:** @lpantano
**Reviewers:** @kortschak, @will-rowe

**Author instructions**

Thanks for submitting your paper to JOSS @RHagenson. **Currently, there isn't

[2019-08-12 23:38] whedon commented on #1645
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-12 23:38] whedon commented on #1645
[code]

[2019-08-12 23:38] whedon commented on #1645
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01645/joss.01645/10.21105.joss.01645.pdf)

[2019-08-12 23:39] danielskatz commented on #1644
@whedon generate pdf

[2019-08-12 23:39] whedon commented on #1644
[code]

[2019-08-12 23:39] whedon commented on #1644
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01644/joss.01644/10.21105.joss.01644.pdf)

[2019-08-12 23:42] danielskatz commented on #1645
👋 @RHagenson  - please add to your paper an explantation of what research problems your software can help with (which is another way of saying who will cite your software).  Perhaps add a little about how they would use your software.  When you have done so, please enter ```@whedon generate pdf``` as a new comment here to regenerate the pdf.

[2019-08-13 00:35] stfriedman commented on #1644
@whedon generate pdf

[2019-08-13 00:35] whedon commented on #1644
[code]

[2019-08-13 00:35] whedon commented on #1644
PDF failed to compile for issue #1644 with the following error:

 Error reading bibliography ./paper.bib (line 14, column 5):
unexpected "n"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-13 00:36] stfriedman commented on #1644
@whedon generate pdf

[2019-08-13 00:37] whedon commented on #1644
[code]

[2019-08-13 00:37] whedon commented on #1644
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01644/joss.01644/10.21105.joss.01644.pdf)

[2019-08-13 00:46] DominiqueMakowski commented on #1541
@whedon generate pdf

[2019-08-13 00:46] whedon commented on #1541
[code]

[2019-08-13 00:47] whedon commented on #1541
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01541/joss.01541/10.21105.joss.01541.pdf)

[2019-08-13 00:51] colleeneb commented on #1612
Just commenting to say that I've checked off all the boxes in the checklist, and that the code functions as expected for the cases I tested.

[2019-08-13 01:10] DominiqueMakowski commented on #1541
@danielskatz Thanks a lot for your changes!
@cMadan I think we are good to go ☺️

[2019-08-13 01:12] danielskatz commented on #1541
@whedon accept

[2019-08-13 01:12] whedon commented on #1541
[code]

[2019-08-13 01:13] whedon commented on #1541
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/901

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/901, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-13 01:16] danielskatz commented on #1541
@whedon accept deposit=true

[2019-08-13 01:16] whedon commented on #1541
[code]

[2019-08-13 01:18] whedon commented on #1541
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1161084452530982912) 👈 🐦🐦🐦

[2019-08-13 01:18] whedon commented on #1541
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/902
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01541](https://doi.org/10.21105/joss.01541)
2. If everything looks go

[2019-08-13 01:18] #1541 closed

[2019-08-13 01:18] whedon commented on #1541
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01541/status.svg)](https://doi.org/10.21105/joss.01541)

**We need your help!**

Journal of Open Source Softwa

[2019-08-13 01:22] DominiqueMakowski commented on #1541
@cMadan @danielskatz @paul-buerkner @tjmahr Thanks a lot again for your time and contributions! 😍

[2019-08-13 01:27] oesteban commented on #1571
Hi @poulson, I'd love to review this submission, but I'm currently swamped and also 2 days away from a break period. Sorry I have to decline. Good luck with this submission @torressa !

[2019-08-13 01:32] oesteban commented on #1619
@henrikmidtiby  @kthyng sorry for my slow response - I am having to decline reviews because I can't timely perform them. Thanks for your understanding and good luck with this submission!

[2019-08-13 02:34] RHagenson commented on #1645
@whedon generate pdf

[2019-08-13 02:34] whedon commented on #1645
[code]

[2019-08-13 02:35] whedon commented on #1645
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01645/joss.01645/10.21105.joss.01645.pdf)

[2019-08-13 07:55] aureliocarnero commented on #1614
I have checked all the checklist and in my opinion, it is ready to go.
You have adressed all the issues open by @mgckind and correct the example used to create the publication figure.
Congrats!

[2019-08-13 07:58] xuanxu commented on #1621
@MatthewFlamm As stated in the review criteria: `There should be clear guidelines for people wanting to contribute to the software`. Here the definition of _contribute_ is quite relaxed: proposing a new feature, finding a bug or just fixing a typo in the readme can be considered contributions. Of course that doesn't mean any of their contributions will be accepted or merged into the software, but

[2019-08-13 08:08] martibosch commented on #1511
@leouieda thank you for your corrections. I have already reviewed and merged the PR with your fixes.
Martí

[2019-08-13 08:18] xuanxu commented on #1614
Thanks @aureliocarnero!

[2019-08-13 08:22] xuanxu commented on #1614
@mgckind: There's a couple items still unmarked in your checklist (test + community guidelines) that seems to be addressed,. Can you confirm you completed the review/recommend publication?

[2019-08-13 08:37] mrgprasad commented on #1634
@Kevin-Mattheus-Moerman - Both @KedoKudo and @chennachaos are willing to review, if you are fine with them please assign them as reviewers so that the review process starts.

[2019-08-13 08:44] kbg commented on #1614
Thanks. I'm also going to add a link to the figure example into the paper. I think that all issues will be resolved after this.

Also, in case the repository branch of the paper source code would show up somewhere in the publication: I will merge the `joss-paper` branch into `master`, after it got accepted.

[2019-08-13 10:10] brainstorm commented on #1626
@rougier @satra Let me know if you have any kind of doubts/issues while conducting this review ;)

[2019-08-13 10:11] brainstorm commented on #1526
👋 @desilinguist Would you mind helping me out with this review? Thanks!

[2019-08-13 10:13] arfon commented on #1634
Please be patient here @mrgprasad.

[2019-08-13 10:28] benmaier commented on #1425
any updates?

[2019-08-13 10:57] mrgprasad commented on #1634
It is my first time here, sorry for any inconvenience caused.

[2019-08-13 11:51] alexanderimanicowenrivers commented on #1524
Great, what about @paragkulkarni11  ?

[2019-08-13 12:05] SirSharpest commented on #1643
@ashleefv I have made my comments as a new issue on the relevant github page: [https://github.com/SMRuggiero/sbmltoodepy/issues/1](https://github.com/SMRuggiero/sbmltoodepy/issues/1)

Most are minor, and possibly non-issues. Though, I feel that the clarifications I mentioned for the manuscript would be important to readers. As would being explicit in which python versions are supported. Finally, I

[2019-08-13 13:16] mgckind commented on #1614
I closed the issues and did a final review, this is good to go. @xuanxu , @kbg . I checked off the pending items. Congratulations

[2019-08-13 13:33] xuanxu commented on #1614
@mgckind thanks!

[2019-08-13 13:34] xuanxu commented on #1614
@whedon generate pdf from branch joss-paper

[2019-08-13 13:34] whedon commented on #1614
[code]

[2019-08-13 13:34] whedon commented on #1614
PDF failed to compile for issue #1614 with the following error:

 error: pathspec 'joss-paper
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2019-08-13 13:35] xuanxu commented on #1614
@whedon generate pdf from branch joss-paper

[2019-08-13 13:35] whedon commented on #1614
[code]

[2019-08-13 13:35] whedon commented on #1614
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01614/joss.01614/10.21105.joss.01614.pdf)

[2019-08-13 13:37] xuanxu commented on #1614
@whedon check references

[2019-08-13 13:37] whedon commented on #1614
[code]

[2019-08-13 13:37] whedon commented on #1614
[code]

[2019-08-13 13:45] xuanxu commented on #1614
Everything looks good @kbg, here are the next steps:
- please merge the joss-paper branch into master,
- then you should make a new tagged release that includes all changes made during this review
- Archive that release in Zenodo
- Check the Zenodo deposit has the correct metadata: title and author list should match the paper's; you may also add the authors' ORCID.

Once you do that please report

[2019-08-13 13:55] tcausgrove commented on #1629
OK, the demo runs all the way through for me now.  Thanks @dap-biospec for the new version.  It has taken me a while to figure out how things fit together - there are quite a few moving parts to this software.  The learning curve might be a bit of a barrier to adoption.

There are a few things that could probably be addressed more thoroughly in the manual.  For example, the items in the Analysis->

[2019-08-13 14:20] dap-biospec commented on #1629
Thank you, @tcausgrove. We certainly will continue to develop tutorial moving forward. We are preparing a publication where layers are instrumental for describing isotopic compositions of  time-resolved vibrational spectra and we think that this would be a great context  to showcase this.

Much of the demo is a simple example taken out of context of our two papers cited herein. We will check for a

[2019-08-13 14:23] MatthewFlamm commented on #1621
Thanks for the input.  I added a CONTRIBUTING.md file.

[2019-08-13 15:22] ctdegroot commented on #1621
@xuanxu With this latest addition, I am finished with my review. This is a nicely packaged piece of software that seems really useful for chemical reactor engineering. Well done @MatthewFlamm !

[2019-08-13 15:24] xuanxu commented on #1621
@ctdegroot Great, thanks!

[2019-08-13 15:37] cMadan commented on #1641
@danielskatz, sure, I can edit this one

[2019-08-13 15:37] cMadan commented on #1641
@whedon assign @cMadan as editor

[2019-08-13 15:37] whedon commented on #1641
OK, the editor is @cMadan

[2019-08-13 16:36] colleeneb commented on #1612
@Cavenfish This is outside of the scope of the review, but I wanted to mention that if you are interested in making changes/improvements to GAMESS itself, you can follow the instructions [here](https://www.msg.chem.iastate.edu/gamess/developers.html), and email to request access to the GAMESS private repo on github.

[2019-08-13 16:46] kyleniemeyer commented on #1525
Thanks for your review @FelixHenninger!

@adswa at this point I'm going to do a final review of your paper—we're in the home stretch!

[2019-08-13 16:49] shivupa commented on #1612
@whedon generate pdf

[2019-08-13 16:49] whedon commented on #1612
[code]

[2019-08-13 16:50] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-08-13 16:55] kyleniemeyer commented on #1525
@adswa my only editorial request for the paper is to add

(This is from our documentation on [what papers should contain](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain).)

This could take multiple forms, but the simplest is probably to add a sentence or two explaining the application to a general reader at the very beginning.

[2019-08-13 17:04] jedbrown commented on #1612
@Cavenfish Did you mean to cite cclib in the paper? I see it in paper.bib, but not cited in the paper.

[2019-08-13 17:09] Cavenfish commented on #1612
@jedbrown  Yes, i did. It must have gotten dropped by accident during one of my edits to the paper. I'll add it back in now. I also want to mention before the publication I'd like to make a final version change, to 1.1.0 to make the version changes from publication onward easier to spot for users. I'm waiting for @arosen93  to finish with his review before making the version change though.

[2019-08-13 17:10] arosen93 commented on #1612
@Cavenfish I'm very sorry about the delay. I promise to finish the review by the end of the day. Stay tuned. Thanks for your patience. I'm nearly done testing it.

[2019-08-13 17:17] Cavenfish commented on #1612
@whedon generate pdf

[2019-08-13 17:17] whedon commented on #1612
[code]

[2019-08-13 17:18] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-08-13 17:46] ShanaScogin commented on #1542
Hi all - We made a slight edit in a title of a journal in the paper so I am going to generate a new one. Let me know if you have any questions!

[2019-08-13 17:46] ShanaScogin commented on #1542
@whedon generate pdf

[2019-08-13 17:46] whedon commented on #1542
[code]

[2019-08-13 17:47] whedon commented on #1542
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01542/joss.01542/10.21105.joss.01542.pdf)

[2019-08-13 18:38] dap-biospec commented on #1629
@tcausgrove, @FaustinCarter Non-essential data were purged from the demo experiment.
Explanations were added to the demo and manual documents to clarify the use of reference data, post-processing functions, and auto-cycling of parameter holds overrides.

[2019-08-13 20:19] adswa commented on #1525
Thanks a lot, @kyleniemeyer, I've included a short description at the very beginning into the introduction in [this PR](https://github.com/adswa/multimatch_gaze/pull/37):

similarity of scan paths from eye gaze data on five different dimensions.

Let me know if that suffices at as a high-level functionality description, or if that is not detailed enough. Thanks!

[2019-08-13 20:22] kyleniemeyer commented on #1525
@adswa this is better, but I think it still needs a bit more general explanation for non-experts—for example, I don't really know what scan paths are or what they are used for. Could you add a sentence explaining that?

[2019-08-13 20:23] zingale commented on #1636
https://github.com/enzo-project/enzo-dev/issues/106

[2019-08-13 21:13] cMadan commented on #1631
@conradsnicta, how are things progressing?

[2019-08-13 22:42] cMadan commented on #1641
@TomDonoghue @DominiqueMakowski @russellpierce @tomfaulkenberry, would you be interested and available to review this submission?

[2019-08-13 23:02] tomfaulkenberry commented on #1641
sure...I'll be happy to do a review!

[2019-08-13 23:54] stfriedman commented on #1644
@whedon check references

[2019-08-13 23:54] whedon commented on #1644
[code]

[2019-08-14 00:55] terrytangyuan commented on #1603
👋 @vsoch @cole-brokamp Looks like the paper has been revised. Would you be able to start the review soon?

[2019-08-14 01:38] danielskatz commented on #1645
👋 @lpantano - would you be willing to edit this?

[2019-08-14 01:42] danielskatz commented on #1644
👋 @sarahtfried - Unfortunately, we don't think this meets the JOSS criteria for not being a thin wrapper, and we're going to reject it.

However, we think that if you were to add more to it, such as some checking and qc functions, it would then be more than a wrapper and be suitable for JOSS.  If you do make such changes and resubmit, please remind us of this discussion (since there are a team of

[2019-08-14 01:42] #1644 closed

[2019-08-14 01:43] vsoch commented on #1603
I already started the review, per the linked issue that is open (linked above) and the authors are reviewing.  I’ll continue my review when they update that issue.

[2019-08-14 01:46] vsoch commented on #1603
And actually I forgot to link this one – sorry about that! https://github.com/o2r-project/containerit/issues/156

[2019-08-14 01:46] danielskatz commented on #1639
👋 @csoneson - would you be willing to edit this submission?

[2019-08-14 01:47] danielskatz commented on #1640
👋 @mbobra - would you be willing to edit this submission for JOSS?

[2019-08-14 01:47] whedon opened #1646 "[PRE REVIEW]: FluxCalR: a R package for calculating CO2 and CH4 fluxes from static chambers"
**Submitting author:** @junbinzhao (<a href="http://orcid.org/0000-0001-5142-4901">Junbin Zhao</a>)
**Repository:** <a href="https://github.com/junbinzhao/FluxCalR/" target ="_blank">https://github.com/junbinzhao/FluxCalR/</a>
**Version:** 0.1.0.
**Editor:** @arfon
**Reviewers:** @jhollist, @ha0ye

**Author instructions**

Thanks for submitting your paper to JOSS @junbinzhao. **Currently, there is

[2019-08-14 01:47] whedon commented on #1646
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-14 01:47] whedon commented on #1646
[code]

[2019-08-14 01:49] whedon commented on #1646
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01646/joss.01646/10.21105.joss.01646.pdf)

[2019-08-14 01:52] danielskatz commented on #1646
👋 @lheagy - would you be willing to edit this submission?

[2019-08-14 01:53] whedon opened #1647 "[PRE REVIEW]: deepCR: Cosmic Ray Rejection with Deep Learning"
**Submitting author:** @kmzzhang (<a href="http://orcid.org/0000-0002-9870-5695">Keming Zhang</a>)
**Repository:** <a href="https://github.com/profjsb/deepCR" target ="_blank">https://github.com/profjsb/deepCR</a>
**Version:** 0.1.5
**Editor:** @terrytangyuan
**Reviewers:** @shreyasbapat, @DanielLenz

**Author instructions**

Thanks for submitting your paper to JOSS @kmzzhang. **Currently, there i

[2019-08-14 01:53] whedon commented on #1647
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-14 01:53] whedon commented on #1647
[code]

[2019-08-14 01:53] whedon commented on #1647
PDF failed to compile for issue #1647 with the following error:

 Could not find bibliography file: paper.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-14 01:54] danielskatz commented on #1647
@kmzzhang - There doesn't seem to be a paper.bib file in your repo

[2019-08-14 02:36] jordigh commented on #1371
Some initial comments, will work on this more later:

https://github.com/artivis/manif/issues/98
https://github.com/artivis/manif/issues/99
https://github.com/artivis/manif/pull/100

[2019-08-14 03:02] kmzzhang commented on #1647
Hello,

I have just included paper.bib in the repo.

Thanks,
Keming

On Aug 13, 2019, at 6:54 PM, Daniel S. Katz <notifications@github.com<mailto:notifications@github.com>> wrote:

@kmzzhang<https://github.com/kmzzhang> - There doesn't seem to be a paper.bib file in your repo

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/op

[2019-08-14 03:41] arosen93 commented on #1612
Hi @Cavenfish. I've complete the testing of the code. Generally, it works as expected, especially as a result of the useful additions made over the course of the review process. I really like the improved examples as well.

@jedbrown: Once the pytest is fixed (https://github.com/Cavenfish/autogamess/issues/15), my review will be complete.

[2019-08-14 04:18] jedbrown commented on #1612
Thanks, all.

@Cavenfish, I would like to relay a concern and suggestion raised in private discussion. There was some concern that the software as written will be thought of more as a utility that some users may not feel compelled to cite. It was proposed that adding the ability to plot results would aid reproducibility. For example, I understand that it's common to use GUI software such as MacMol

[2019-08-14 05:39] kavir1698 commented on #1611
Hi @Datseris, v1.1.7 is now released in the Julia package ecosystem.

[2019-08-14 08:22] leouieda commented on #1425
@whedon add @leouieda as reviewer

[2019-08-14 08:22] whedon commented on #1425
OK, @leouieda is now a reviewer

[2019-08-14 08:23] leouieda commented on #1425
@benmaier I've been having trouble getting a second reviewer for this so I'll have a go myself. Should be straight forward since I've already had a look at the package and paper. Sorry for the delay.

[2019-08-14 08:57] cMadan commented on #1641
@tomfaulkenberry, great! I'll start the review after finding a second reviewer.

[2019-08-14 08:57] cMadan commented on #1641
@whedon add @tomfaulkenberry as reviewer

[2019-08-14 08:57] whedon commented on #1641
OK, @tomfaulkenberry is now a reviewer

[2019-08-14 10:26] labarba commented on #1555
👋  @hariradh, @rouson — how are you getting on with this review? I see the author has made some fixes, but no more comments in the last 3 weeks. Can we have a status update and an estimate of the time needed to complete the reviews?

[2019-08-14 10:31] Datseris commented on #1611
Great! @jedbrown I conclude my review now. All points pass in my eyes.

[2019-08-14 10:45] MaciejDanko commented on #1508
@soodoku thank you very much for the review. I have already checked the package by the replicating the results of Jurges (2007, doi: 10.1002/hec.1134) model. While the data and the model slightly differed I got almost identical results.

[2019-08-14 11:41] danielskatz commented on #1647
@whedon generate pdf

[2019-08-14 11:41] whedon commented on #1647
[code]

[2019-08-14 11:42] whedon commented on #1647
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01647/joss.01647/10.21105.joss.01647.pdf)

[2019-08-14 11:50] danielskatz commented on #1639
👋  @AliYoussef96 - As we examine this submission in preparation for reviewing it, we've determined that it is not appropriate for JOSS.  As stated in https://joss.readthedocs.io/en/latest/submitting.html,

[2019-08-14 11:50] #1639 closed

[2019-08-14 11:53] danielskatz commented on #1647
There's a misspelled `robust` near the end of the paper...  Please fix it, and then add a new comment here containing ```@whedon generate pdf``` to rebuild the paper

[2019-08-14 11:55] danielskatz commented on #1647
👋 @terrytangyuan - would you be willing to review this submission?

[2019-08-14 12:07] benmaier commented on #1425
Cool! Thank you so much!

[2019-08-14 12:36] terrytangyuan commented on #1647
@whedon assign @terrytangyuan as editor

[2019-08-14 12:36] whedon commented on #1647
OK, the editor is @terrytangyuan

[2019-08-14 12:39] terrytangyuan commented on #1647
Sure, @kmzzhang do you have a list of potentials reviewers in mind? If so, please mention them here.

[2019-08-14 13:00] ornlpmcp commented on #1594
@jrbourbeau @fernandoandreotti @kdpeterson51 @zhampel would you please take a look and see if you can review this? Thank you so much @terrytangyuan please help to assign a reviewer for this paper. Thanks a lot!

[2019-08-14 13:42] lpantano commented on #1645
@whedon set @lpantano as editor

[2019-08-14 13:43] lpantano commented on #1645
@whedon assign @lpantano as editor

[2019-08-14 13:43] whedon commented on #1645
OK, the editor is @lpantano

[2019-08-14 14:03] kbg commented on #1614
Thanks, this is great.

About the author list: Do the author lists (GitHub/Zenodo vs. JOSS paper) really need to be identical? At the moment the GitHub contributors do not match completely with the authors of the paper. We have two GitHub contributors who decided not to be on the author list (see https://github.com/sunpy/drms/issues/27). On the other hand, we also have a paper author who did not d

[2019-08-14 14:09] zhampel commented on #1594
@ornlpmcp I can review this submission.

[2019-08-14 14:13] xuanxu commented on #1614
@kbg: The author list of the specific version archived in Zenodo for the paper should match the author list of the paper. No need for any of those to match the Github contributors list, so you should edit just the Zenodo site.

[2019-08-14 14:23] kbg commented on #1614
Ok, thanks. I'll try to create an additional Zenodo archive for the paper then (in addition to the one that is automatically created by the GitHub hook).

[2019-08-14 14:26] xuanxu commented on #1614
@kbg OK (if you want to use the automatically created by the hook is ok too, the metadata of any Zenodo archive is editable and that includes the author list)

[2019-08-14 15:15] Cavenfish commented on #1612
Hey @jedbrown

In terms of AutoGAMESS being cited, I understand the concerns but I have spoken with other researchers at my University and they consider AutoGAMESS to be worth citing (and they plan on doing so when able). Of course, this is special circumstance and is not to be expected for all users of AutoGAMESS. If you think adding plots will increase the chance of citation then I will add the

[2019-08-14 15:21] TomDonoghue commented on #1641
I would if I could, but I don't think I'm right for this one - I only know minimal R, and I'm not particularly familiar with the stats they implement. I'm going to have to pass on this one - I'm sure someone else could do a much better job!

[2019-08-14 15:21] zingale commented on #1636
I'm done with my pass through the docs and have filed a number of issues, some which I would like to see addressed for the review (marked with `[JOSS REVIEW]`) and others that are suggestions to take into consideration.

I will try running some standard test problems next.

[2019-08-14 15:28] jedbrown commented on #1612
I think plotting would add significant value and improve workflow reproducibility. Thanks for your willingness to add this feature.

What was the deficiency in that CCBDB retriever/parser relative to what you were looking for? Are any reviewers aware of better tools for this?

[2019-08-14 15:35] Cavenfish commented on #1612
The parser seems to only pull calculated data not experimental data from what I could tell. What I would like is the experimental data, which i considered leaving a feature request for but the code has not been changed in 2 years so I figured its no longer maintained.

[2019-08-14 15:50] mathieuboudreau commented on #1637
Just as a clarifying point, I am reviewing this in tandem with @nstikov (I'm a research fellow of his), and will likely be the one most active out of both of us in this discussion/review on GitHub. This was determined in the pre-review (#1590)

[2019-08-14 15:58] vsoch commented on #1637
Great, thanks for the update @mathieuboudreau.

[2019-08-14 16:01] jedbrown commented on #1612
Okay, boo. That package is tiny (so it may be easy to build the feature), but quite rough and is "failing" for unspecified reason when I try to run the example.

[2019-08-14 16:04] Cavenfish commented on #1612
My thoughts were to just remake the package entirely from scratch.

[2019-08-14 17:16] mathieuboudreau commented on #1637
@vsoch is it possible to make me able to edit the checklist status?

[2019-08-14 17:18] vsoch commented on #1637
You can't click in the top right and see this menu?

![image](https://user-images.githubusercontent.com/814322/63041412-d5547f80-be95-11e9-9b81-d2556ebd773f.png)

If not, I think @arokem would need to add you as a collaborator or with appropriate permissions to do that. Worst case, I can offer to update it for you (note that I'm another reviewer, not an editor).

[2019-08-14 17:21] mathieuboudreau commented on #1637
Ahh sorry, I didn't realize your were another reviewer, sorry about that!

No, I don't have access to Edit, as only @nstikov was assigned as the sole reviewer instead of both of us for "his" review.

<img width="553" alt="Capture d’écran 2019-08-14 à 14 49 07" src="https://user-images.githubusercontent.com/1421029/63041642-e657bd80-bea2-11e9-8f03-350080a46be5.png">

@arokem can this be resolved?

[2019-08-14 17:50] cole-brokamp commented on #1603
Also just added some of my own issues and comments as a part of my review over here: https://github.com/o2r-project/containerit/issues/159

[2019-08-14 18:02] arokem commented on #1637
@whedon add @mathieuboudreau as reviewer

[2019-08-14 18:02] whedon commented on #1637
OK, @mathieuboudreau is now a reviewer

[2019-08-14 18:03] arokem commented on #1637
Sorry about that. Does it work now that I added you as a reviewer?

[2019-08-14 18:04] mathieuboudreau commented on #1637
I just checked, and no unfortunately not.

[2019-08-14 18:04] mathieuboudreau commented on #1637
If it's too much trouble, could just keep track of them and ask @nstikov to check them off in bulk periodically.

[2019-08-14 18:09] arokem commented on #1637
How about now, that I've added a section for you at the top.

[2019-08-14 18:12] mathieuboudreau commented on #1637
Still unable, sorry.

[2019-08-14 18:15] vsoch commented on #1637
@mathieuboudreau here is the markdown https://gist.github.com/vsoch/c9f65143293acb975af251608b314579

Just view the raw, make changes somewhere that I can view raw (another gist) and I'll copy paste it in for you.

[2019-08-14 18:23] kthyng commented on #1619
Thanks for letting me know, @oesteban!

[2019-08-14 19:17] letmaik commented on #1468
@whedon generate pdf from branch joss-paper

[2019-08-14 19:17] whedon commented on #1468
[code]

[2019-08-14 19:18] whedon commented on #1468
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01468/joss.01468/10.21105.joss.01468.pdf)

[2019-08-14 19:25] letmaik commented on #1468
We took another pass over the paper and also fixed the abrupt end. We opted not to include a comparison table of commands between existing build system and CMake as the paper is not meant to be a manual or tutorial. We'd like to avoid duplication with the online docs and don't find it significant enough to be included in the paper.

From our point of view we're done now. If the paper gets accepted

[2019-08-14 19:42] danielskatz commented on #1637
@arfon needs to invite @mathieuboudreau to the org...

[2019-08-14 19:59] kmzzhang commented on #1647
@terrytangyuan, may I suggest nilesh-patil, DanielLenz, shreyasbapat as potential reviewers? They have listed both deep learning and astronomy as their expertise. Additionally, I don’t see the figure in the generated paper proof. Is the figure format wrong? Thanks.

On Aug 14, 2019, at 5:39 AM, Yuan Tang <notifications@github.com<mailto:notifications@github.com>> wrote:

Sure, @kmzzhang<https://gi

[2019-08-14 20:03] danielskatz commented on #1647
I wonder if the path to the image is a problem?  @arfon - can you help with this?  (since we can't see the generate pdf log to see any error msgs)

[2019-08-14 20:26] terrytangyuan commented on #1647
Hi @nilesh-patil @DanielLenz @shreyasbapat Would you be interested in reviewing this submission?

[2019-08-14 20:47] arfon commented on #1637
@mathieuboudreau - did you accept in the invite to the organization here? https://github.com/openjournals/joss-reviews/invitations

[2019-08-14 21:17] mathieuboudreau commented on #1637
Ahh, I must of missed the notification of that invite - my apologies. It works now!

[2019-08-14 21:43] shreyasbapat commented on #1647
Yes sure! I can :)

[2019-08-15 00:00] pankajkmishra commented on #1173
@whedon generate pdf

[2019-08-15 00:00] whedon commented on #1173
[code]

[2019-08-15 00:00] DanielLenz commented on #1647
I'd be happy to review in general. However, the work has already been described and published in [Zhang & Bloom (2019, submitted to AAS)](https://arxiv.org/abs/1907.09500), and will undergo peer review there as well.

[2019-08-15 00:00] whedon commented on #1173
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01173/joss.01173/10.21105.joss.01173.pdf)

[2019-08-15 00:24] arfon commented on #1647
@kmzzhang - can you update the URL of the image to: `https://raw.githubusercontent.com/profjsb/deepCR/master/imgs/postage-sm.jpg` rather than using the relative path?

Also, can you confirm @kmzzhang that this is a joint submission with AAS?

[2019-08-15 01:58] kyleniemeyer commented on #1173
@pankajkmishra 👍

[2019-08-15 02:01] kyleniemeyer commented on #1173
@openjournals/joss-eics ok, this is ready for acceptance from my point of view

[2019-08-15 02:22] pankajkmishra commented on #1173
Thanks @kyleniemeyer , and everyone :)

[2019-08-15 02:54] danielskatz commented on #1173
@whedon accept

[2019-08-15 02:54] whedon commented on #1173
[code]

[2019-08-15 02:55] whedon commented on #1173
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/903

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/903, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-15 02:58] danielskatz commented on #1173
Thanks to @Kevin-Mattheus-Moerman and @vijaysm for reviewing and @kyleniemeyer for editing

[2019-08-15 02:58] danielskatz commented on #1173
@whedon accept deposit=true

[2019-08-15 02:58] whedon commented on #1173
[code]

[2019-08-15 02:59] whedon commented on #1173
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1161834763004665856) 👈 🐦🐦🐦

[2019-08-15 02:59] whedon commented on #1173
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/904
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01173](https://doi.org/10.21105/joss.01173)
2. If everything looks go

[2019-08-15 03:01] nhejazi commented on #1509
Weighing in with a few points that I think ought to be addressed as we continue the review for the `SmartEDA` package.

* Major (cannot be checked off yet)
  * __References__: I believe some of the references are missing DOIs. As an example, the paper "Exploratory data analysis of a clinical study group: Development of a procedure for exploring multidimensional data" has a DOI ( https://doi.org/10

[2019-08-15 03:05] #1173 closed

[2019-08-15 03:05] whedon commented on #1173
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01173/status.svg)](https://doi.org/10.21105/joss.01173)

**We need your help!**

Journal of Open Source Softwa

[2019-08-15 03:06] whedon opened #1648 "[PRE REVIEW]: 3D reconstruction toolbox for behavior tracked with multiple cameras"
**Submitting author:** @SwathiSheshadri (<a href="http://orcid.org/0000-0003-2850-107X">Swathi Sheshadri</a>)
**Repository:** <a href="https://github.com/SwathiSheshadri/pose3d" target ="_blank">https://github.com/SwathiSheshadri/pose3d</a>
**Version:** v1.0.0
**Editor:** @cMadan
**Reviewers:** @danasolav, @sreschechtko

**Author instructions**

Thanks for submitting your paper to JOSS @SwathiShes

[2019-08-15 03:06] whedon commented on #1648
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-15 03:06] whedon commented on #1648
[code]

[2019-08-15 03:07] whedon commented on #1648
PDF failed to compile for issue #1648 with the following error:

 Can't find any papers to compile :-(

[2019-08-15 03:07] danielskatz commented on #1648
@whedon generate paper

[2019-08-15 03:08] danielskatz commented on #1648
@whedon generate pdf

[2019-08-15 03:08] whedon commented on #1648
[code]

[2019-08-15 03:09] whedon commented on #1648
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01648/joss.01648/10.21105.joss.01648.pdf)

[2019-08-15 03:12] danielskatz commented on #1648
👋 @SwathiSheshadri - as you can see in the PDF, there are a few problems with the paper, such as references without a space before them, and a missing References header for the reference section.  Please feel free to make changes in the .md file, then put a comment ```@whedon generate pdf``` in this issue to regenerate the pdf

[2019-08-15 03:13] danielskatz commented on #1648
👋 @cMadan - you were requested by the submitter for this - are you willing to edit it?

[2019-08-15 04:07] sayanddude commented on #1509
@nhejazi Thanks for the feedback! I will work on your comments and will soon get back to you with the updated paper and other required changes (hopefully, by end of next week!).

[2019-08-15 07:26] adswa commented on #1525
Thanks a lot for the feedback, @kyleniemeyer! I made another attempt in [this PR](https://github.com/adswa/multimatch_gaze/pull/38)

[2019-08-15 09:27] SwathiSheshadri commented on #1648
@whedon generate pdf

[2019-08-15 09:27] whedon commented on #1648
[code]

[2019-08-15 09:28] whedon commented on #1648
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01648/joss.01648/10.21105.joss.01648.pdf)

[2019-08-15 13:39] ornlpmcp commented on #1594
@zhampel  Thank you!

[2019-08-15 13:40] ornlpmcp commented on #1594
Dear @terrytangyuan
@zhampel agreed to review this submission. Please proceed. Thanks.

[2019-08-15 13:42] mkuhring commented on #1610
@lpantano, @tleonardi, @dsurujon, @dmnfarrell, @holtgrewe
Thanks to all reviewers for your constructive criticism. We updated our documentation with respect to your remaining issues: https://github.com/bihealth/altamisa/issues/60, https://github.com/bihealth/altamisa/issues/64. We will tag a new release soon. Feel free to open additional issues if you see need for additional improvements.

[2019-08-15 13:44] terrytangyuan commented on #1594
We need at least two reviewers for a submission.

[2019-08-15 14:04] whedon opened #1649 "[PRE REVIEW]: feign: a Python package to estimate geometric efficiency in passive gamma spectroscopy measurements of nuclear fuel"
**Submitting author:** @ezsolti (<a href="http://orcid.org/0000-0003-2339-4340">Zsolt Elter</a>)
**Repository:** <a href="https://github.com/ezsolti/feign/" target ="_blank">https://github.com/ezsolti/feign/</a>
**Version:** v1.0.0
**Editor:** @katyhuff
**Reviewers:** @kellyrowland, @sskutnik

**Author instructions**

Thanks for submitting your paper to JOSS @ezsolti. The JOSS editor @katyhuff, wi

[2019-08-15 14:04] whedon commented on #1649
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @katyhuff it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in

[2019-08-15 14:04] whedon commented on #1649
[code]

[2019-08-15 14:04] whedon commented on #1649
PDF failed to compile for issue #1649 with the following error:

 Error reading bibliography ./paper.bib (line 17, column 1):
unexpected "t"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-15 14:04] danielskatz commented on #1649
👋 @katyhuff - this submission requested you as the editor, and this seemed like such a good fit that I just left it that way - please let me know if this is not ok.

[2019-08-15 14:08] danielskatz commented on #1649
👋 @ezsolti - please merge https://github.com/ezsolti/feign/pull/6 and then enter a new comment here: ```@whedon generate pdf``` - if there are additional problems, please make changes to the source and regenerate the pdf until you are happy with it.

[2019-08-15 14:27] mkuhring commented on #1610
@whedon generate pdf

[2019-08-15 14:27] whedon commented on #1610
[code]

[2019-08-15 14:28] whedon commented on #1610
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01610/joss.01610/10.21105.joss.01610.pdf)

[2019-08-15 15:01] liashchynskyi commented on #1615
@arfon no one answered for a long time.
maybe we can find other people?

[2019-08-15 15:49] katyhuff commented on #1649
I can definitely take this one. Thanks @danielskatz .

@ezsolti : We can begin requesting reviewers when ezsolti/feign#6 is merged and when you are happy with the PDF that builds from `@whedon generate pdf` . I have some reviewers in mind, though your suggestions are certainly welcome.  If you have any suggestions for potential reviewers then please mention them here in this thread. [This list of

[2019-08-15 16:20] arfon commented on #1615
:wave: @sbrugman - would you be willing to review this submission for JOSS?  We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-08-15 17:04] stsievert commented on #1571
I can review this. I have moderate interest, but no experience in shortest path algorithms. I can reserve some time for this.

[2019-08-15 17:19] kmzzhang commented on #1647
@whedon<https://github.com/whedon> generate pdf

On Aug 14, 2019, at 5:24 PM, Arfon Smith <notifications@github.com<mailto:notifications@github.com>> wrote:

I wonder if the path to the image is a problem? @arfon<https://github.com/arfon> - can you help with this? (since we can't see the generate pdf log to see any error msgs)

@kmzzhang<https://github.com/kmzzhang> - can you update the URL of the

[2019-08-15 17:21] danielskatz commented on #1647
you probably need to do this on github - doing it by email doesn't quite work

[2019-08-15 17:34] kyleniemeyer commented on #1525
@whedon generate pdf

[2019-08-15 17:34] whedon commented on #1525
[code]

[2019-08-15 17:35] whedon commented on #1525
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01525/joss.01525/10.21105.joss.01525.pdf)

[2019-08-15 17:40] kyleniemeyer commented on #1525
@adswa that looks great! I just made a minor edit in this PR, if you could merge: https://github.com/adswa/multimatch_gaze/pull/39

Once that is complete, please archive the entire repository (e.g., using Zenodo) and let me know the DOI here.

[2019-08-15 17:52] ezsolti commented on #1649
@whedon generate pdf

[2019-08-15 17:52] whedon commented on #1649
[code]

[2019-08-15 17:54] whedon commented on #1649
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01649/joss.01649/10.21105.joss.01649.pdf)

[2019-08-15 18:12] jminnier commented on #1587
Looks great @frycast, thanks!

[2019-08-15 18:15] jminnier commented on #1617
Sorry @lheagy I don't have time for the next few weeks to review this one, though this package looks really neat! Hope you are able to find another reviewer.

[2019-08-15 18:16] ezsolti commented on #1649
@whedon generate pdf

[2019-08-15 18:16] whedon commented on #1649
[code]

[2019-08-15 18:17] whedon commented on #1649
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01649/joss.01649/10.21105.joss.01649.pdf)

[2019-08-15 18:26] ezsolti commented on #1649
@whedon generate pdf

[2019-08-15 18:26] whedon commented on #1649
[code]

[2019-08-15 18:26] whedon commented on #1649
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01649/joss.01649/10.21105.joss.01649.pdf)

[2019-08-15 18:30] ezsolti commented on #1649
@whedon generate pdf

[2019-08-15 18:30] whedon commented on #1649
[code]

[2019-08-15 18:30] whedon commented on #1649
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01649/joss.01649/10.21105.joss.01649.pdf)

[2019-08-15 18:34] ezsolti commented on #1649
@whedon generate pdf

[2019-08-15 18:34] whedon commented on #1649
[code]

[2019-08-15 18:35] whedon commented on #1649
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01649/joss.01649/10.21105.joss.01649.pdf)

[2019-08-15 18:45] ezsolti commented on #1649
@katyhuff : Hello! Thank you for taking care of the paper. I reached a pdf what I'm more or less satisfied with (besides that a cite to a conference paper doesn't want to render correctly, what ever I do).
I have reviewers in mind only from the safeguards side, so maybe it is better to go with your suggestions.

[2019-08-15 18:48] katyhuff commented on #1649
@ezsolti :

Ok --  I'll start asking for reviewers. (nonproliferation and safeguards suggestions are just as welcome as anyone else).

How would you like the citation to render?

[2019-08-15 18:50] lpantano commented on #1610
Thank you, @mkuhring !

can you confirm the new version is v0.2.2? or let me know when you have the latest version that addressed the reviewers' comments.

Cheers

[2019-08-15 18:57] katyhuff commented on #1649
* @kellyrowland: Dr. Rowland, are you able to and interested in taking on this review?
* This submission is in need of expertise in nuclear engineering, particularly gamma spectroscopy and ray tracing, as well as familiarity with the systems and languages involved (python).
* Title: feign: a Python package to estimate geometric efficiency in passive gamma spectroscopy measurements of nuclear fuel

[2019-08-15 18:58] ezsolti commented on #1649
@katyhuff : In that case Stefano Vaccaro (author of one of the cited papers: https://www.sciencedirect.com/science/article/pii/S0168900216307707) might be a good candidate.

For the 'Partial defect identification in PWR spent fuel using Passive Gamma Spectroscopy' paper the Proceedings doesn't want to appear, also when referenced all surnames appear instead of (Elter et al., 2018).

[2019-08-15 18:59] kmzzhang commented on #1647
Yes, this is a joint submission with AAS.

On Aug 14, 2019, at 5:24 PM, Arfon Smith <notifications@github.com<mailto:notifications@github.com>> wrote:

I wonder if the path to the image is a problem? @arfon<https://github.com/arfon> - can you help with this? (since we can't see the generate pdf log to see any error msgs)

@kmzzhang<https://github.com/kmzzhang> - can you update the URL of the image

[2019-08-15 19:12] SwathiSheshadri commented on #1648
👋 I suggest @sreschechtko and @brittonsauerbrei as potential reviewers for this work.

[2019-08-15 19:13] kellyrowland commented on #1649
Hi @katyhuff , thanks for reaching out - I am interested in and able to take on this review.

[2019-08-15 19:13] katyhuff commented on #1649
* @sskutnik: Prof. Skutnik, are you able to and interested in taking on this review? The Journal of Open Source Software is a developer friendly, open access journal for research software packages. A JOSS review primarily involves checking submissions against a checklist of essential software features and details in the submitted paper and code. I am the handling editor for a submission that could

[2019-08-15 19:14] katyhuff commented on #1649
@whedon assign @kellyrowland as reviewer

[2019-08-15 19:14] whedon commented on #1649
OK, the reviewer is @kellyrowland

[2019-08-15 19:17] katyhuff commented on #1649
Thank you @kellyrowland! I'll ping you when we have enough reviewers to begin the review.

Thank you @ezsolti : Thank you for your suggestion, I'll look into including Stefano Vaccaro as a reviewer.

[2019-08-15 19:21] mkuhring commented on #1610
Yes, v0.2.2 is the new version.

Lorena Pantano <notifications@github.com> schrieb am Do., 15. Aug. 2019,
20:51:

[2019-08-15 19:51] lpantano commented on #1610
@whedon set v0.2.2 as version

[2019-08-15 19:51] whedon commented on #1610
OK. v0.2.2 is the version.

[2019-08-15 19:51] lpantano commented on #1610
@whedon check references

[2019-08-15 19:51] whedon commented on #1610
[code]

[2019-08-15 19:51] whedon commented on #1610
[code]

[2019-08-15 19:53] lpantano commented on #1610
Thank you @mkuhring , could you create a zenodo archive with this version and where the title and the authors match what the paper shows? I would need the DOI from zenodo. Thanks!

[2019-08-15 20:28] sskutnik commented on #1649
Hi @katyhuff I'd be happy to serve as a reviewer.

[2019-08-15 20:30] katyhuff commented on #1649
Fantastic @sskutnik , thank you.

[2019-08-15 20:30] katyhuff commented on #1649
@whedon add @sskutnik as reviewer

[2019-08-15 20:30] whedon commented on #1649
OK, @sskutnik is now a reviewer

[2019-08-15 20:31] katyhuff commented on #1649
@whedon start review

[2019-08-15 20:31] whedon opened #1650 "[REVIEW]: feign: a Python package to estimate geometric efficiency in passive gamma spectroscopy measurements of nuclear fuel"
**Submitting author:** @ezsolti (<a href="http://orcid.org/0000-0003-2339-4340">Zsolt Elter</a>)
**Repository:** <a href="https://github.com/ezsolti/feign/" target ="_blank">https://github.com/ezsolti/feign/</a>
**Version:** v1.0.0
**Editor:** @katyhuff
**Reviewer:** @kellyrowland, @sskutnik
**Archive:** <a href="https://doi.org/10.5281/zenodo.3480082" target="_blank">10.5281/zenodo.3480082</a>

#

[2019-08-15 20:31] whedon commented on #1649
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1650. Feel free to close this issue now!

[2019-08-15 20:31] whedon commented on #1650
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kellyrowland, @sskutnik it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-08-15 20:31] whedon commented on #1650
[code]

[2019-08-15 20:31] whedon commented on #1650
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01650/joss.01650/10.21105.joss.01650.pdf)

[2019-08-15 20:33] katyhuff commented on #1649
Ok, folks, let's move over to #1650 to conduct the review. In that issue, each of you have a checklist. Please make sure that you have notifications turned on in issue #1650 and that you have at some point completed the reviewer signup form. https://joss.theoj.org/reviewer-signup.html

[2019-08-15 20:33] #1649 closed

[2019-08-15 20:37] danielskatz commented on #1573
👋 @jgoldfar, @ahwillia - can you please use your checklists above to indicate what you think is ok, and what needs to be done, in addition to the comments @ahwillia has posted in this thread, and what I expect @jgoldfar to post soon.

[2019-08-15 20:38] danielskatz commented on #1487
👋 @StewMH - note that @tesch1 is trying to help with your issue, but needs your feedback to proceed.

[2019-08-15 20:40] danielskatz commented on #1636
@zingale  - thanks for all your comments so far. If possible, when you open an issue in https://github.com/enzo-project/enzo-dev, just mention this review thread (https://github.com/openjournals/joss-reviews/issues/1636) in that issue rather than posted that issue in this thread.  This will insert a note here that will show if the issue is open or closed.

[2019-08-15 20:46] arfon commented on #1647
👍 thanks for confirming.

/ cc @crawfordsm

[2019-08-15 21:21] terrytangyuan commented on #1647
@kmzzhang Please use Github instead of email for responding in the future since the responses from email is very verbose. Thank you.

@whedon assign @shreyasbapat as reviewer
@whedon add @DanielLenz as reviewer

[2019-08-15 21:21] terrytangyuan commented on #1647
@whedon assign @shreyasbapat as reviewer

[2019-08-15 21:21] whedon commented on #1647
OK, the reviewer is @shreyasbapat

[2019-08-15 21:21] terrytangyuan commented on #1647
@whedon add @DanielLenz as reviewer

[2019-08-15 21:21] whedon commented on #1647
OK, @DanielLenz is now a reviewer

[2019-08-15 21:22] terrytangyuan commented on #1647
@whedon start review

[2019-08-15 21:24] kmzzhang commented on #1647
@whedon generate pdf

[2019-08-15 21:24] whedon commented on #1647
[code]

[2019-08-15 21:25] whedon commented on #1647
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01647/joss.01647/10.21105.joss.01647.pdf)

[2019-08-15 21:25] terrytangyuan commented on #1647
@whedon start review

[2019-08-15 21:25] whedon opened #1651 "[REVIEW]: deepCR: Cosmic Ray Rejection with Deep Learning"
**Submitting author:** @kmzzhang (<a href="http://orcid.org/0000-0002-9870-5695">Keming Zhang</a>)
**Repository:** <a href="https://github.com/profjsb/deepCR" target ="_blank">https://github.com/profjsb/deepCR</a>
**Version:** v0.2.0
**Editor:** @terrytangyuan
**Reviewer:** @shreyasbapat, @DanielLenz
**Archive:** <a href="https://doi.org/10.5281/zenodo.3383309" target="_blank">10.5281/zenodo.33833

[2019-08-15 21:25] whedon commented on #1647
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1651. Feel free to close this issue now!

[2019-08-15 21:26] whedon commented on #1651
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @shreyasbapat, @DanielLenz it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2019-08-15 21:26] whedon commented on #1651
[code]

[2019-08-15 21:26] #1647 closed

[2019-08-15 21:26] whedon commented on #1651
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01651/joss.01651/10.21105.joss.01651.pdf)

[2019-08-15 21:26] terrytangyuan commented on #1647
@shreyasbapat @DanielLenz Thank you! Look forward to your review in #1651!

[2019-08-15 21:37] arfon commented on #1630
@molgor @juanvillada @giskid @shaunpwilkinson - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-08-15 21:46] TrashBirdEcology commented on #1630
You might also try recruiting @lsw5077  for this one.

[2019-08-15 21:47] arfon commented on #791
This review has been going on for a very long time now. I'm very grateful to both @steffilazerte and @boshek for their work here - I believe the `stacomiR` package is in substantially better shape because of their time and efforts.

While I believe there are still some challenges with this software, I'm going to make the editorial decision at this point to accept this submission into JOSS.

@Mario

[2019-08-15 21:47] arfon commented on #791
@whedon add @boshek as reviewer

[2019-08-15 21:47] whedon commented on #791
OK, @boshek is now a reviewer

[2019-08-15 21:48] arfon commented on #791
@boshek - this is just to make sure you're listed at the top of this review thread. There's nothing new to do here.

[2019-08-15 21:49] arfon commented on #1468
@andreas-h - please take another look at this when you get a chance. I'm hoping we can wrap this up soon :-)

[2019-08-15 22:03] Cavenfish commented on #1612
@whedon generate pdf

[2019-08-15 22:03] whedon commented on #1612
[code]

[2019-08-15 22:03] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-08-15 22:15] Cavenfish commented on #1612
@whedon generate pdf

[2019-08-15 22:15] whedon commented on #1612
[code]

[2019-08-15 22:15] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-08-15 22:19] Cavenfish commented on #1612
@whedon generate pdf

[2019-08-15 22:19] whedon commented on #1612
[code]

[2019-08-15 22:19] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-08-15 22:22] Cavenfish commented on #1612
I apologize for the whedon spam, the figure gave me some trouble.

@jedbrown  I have added the plotting feature to AutoGAMESS, an example is now included in both the README and paper.

If any of you have any feedback about the plots please let me know.

[2019-08-15 23:11] lheagy commented on #1617
Thanks for getting back to me @jminnier!

[2019-08-15 23:32] lheagy commented on #1617
:wave: @jkahn, @ikarosilva, would you be willing to review this submission [JOSS](Joss.theoj.org/about)? JOSS is a 'developer friendly' journal. That is, we focus on the software as a scientific contribution. If the submitting authors have followed best practices (have documentation, tests, continuous integration, and a license) then their review should be straight-forward. There are more details

[2019-08-16 00:14] zingale commented on #1636
oh, I see, I did it backwards.  I'll fix that.

[2019-08-16 02:03] cMadan commented on #1641
@TomDonoghue, no problem, thanks for considering!

[2019-08-16 02:16] DominiqueMakowski commented on #1641
Same for me, IRT is not really within my comfort zone... will have to pass! Authors of IRT-related packages might also be interested (e.g. [1](https://github.com/xluo11/xxIRT), [2](https://github.com/philchalmers/mirt), [3](https://github.com/RobertMyles/IRT), [4](https://github.com/tminka/ItemResponse)) ☺️

[2019-08-16 05:24] adswa commented on #1525
All done, it is 10.5281/zenodo.3369531.

[2019-08-16 05:40] csoneson commented on #1434
@fauvernierma - just let us know when you and your coauthors are happy with the affiliations, and we'll move on with the final acceptance of your paper!

[2019-08-16 05:48] shivupa commented on #1612
I have some points that I think would strengthen this submission. These are open to discussion There has been mention that the scope is somewhat limited. I think adopting some of the points below would help broaden the scope and increase adoption in the target audience.

Short term:

1. Presenting the examples as Jupyter notebook is helpful, but adding Binder hosting would really help. Some of the

[2019-08-16 06:08] kyleniemeyer commented on #1525
@whedon generate pdf

[2019-08-16 06:08] whedon commented on #1525
[code]

[2019-08-16 06:09] whedon commented on #1525
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01525/joss.01525/10.21105.joss.01525.pdf)

[2019-08-16 06:11] kyleniemeyer commented on #1525
@adswa sorry, one last thing—can you edit the title of the Zenodo archive to match the title of the paper?

[2019-08-16 06:15] adswa commented on #1525
oh sure! sorry, I wasn't aware. Should be done now.

[2019-08-16 06:54] kyleniemeyer commented on #1525
@whedon set 10.5281/zenodo.3369531 as archive

[2019-08-16 06:54] whedon commented on #1525
OK. <a href="https://doi.org/10.5281/zenodo.3369531" target="_blank">10.5281/zenodo.3369531</a> is the archive.

[2019-08-16 06:55] kyleniemeyer commented on #1525
@openjournals/joss-eics ok, this submission is ready to accept!

[2019-08-16 07:51] ezsolti commented on #1650
Hello @kellyrowland, @sskutnik. Thank you for taking on the review. Please consider that I have committed most of the work as "zsolt" and realized this only after like 70 commits, when it was too late to change. Next time I will be more careful:)

[2019-08-16 08:49] hariradh commented on #1555
@labarba @jayten

I apologize for the delay but I am having trouble testing the functionality of the code. The code fails when running the `automaton.py` script in the `CheckInput` function. I was trying to figure out the cause before sending my comments to the authors but have not been able to complete the task due to other priorities. Here are a couple of examples:
[code]
[code]

[2019-08-16 09:31] junbinzhao commented on #1646
Dear editor,

Since the application of the package will be mainly in the field of ecological observation, it would be nice to have it reviewed by e.g., @ethanwhite or @jhollist in the reviewer list who has an ecology background.

Thank you!

Junbin

[2019-08-16 09:49] frycast commented on #1587
@klmedeiros : sorry for the delay in getting the pdf to compile in the beginning. Do you still have time to review this?

[2019-08-16 10:05] dandavies99 commented on #1621
It was a pleasure to review this software, really nice work @MatthewFlamm. Even though the application area is quite outside my own area of expertise in chemistry, I found the package easy to install, use and understand.

Like @ctdegroot, my main concern was the lack of community guidelines for contribution, but this has been dealt with now.  My only remaining, very minor suggestion would be to el

[2019-08-16 10:46] nuest commented on #1603
I've collected my updates based on reviewer feedback in this PR: https://github.com/o2r-project/containerit/pull/160 (Tests also work again).

I suggest to merge that PR and update the tag as soon as the reviewers confirm everything mention so far is addressed.

@cole-brokamp The only open thread AFAICS is the problem that the printing did not work properly during your tests: https://github.com/o2

[2019-08-16 12:10] jayten commented on #1555
### First error:
The **automaton.py**  in the run directory is a sample script file. This script file is not supposed to be executed as the inputs are randomly provided as an explanation for the variables. Users are supposed to copy this script and modify as according to need. In the **Tutorial** subfolder, different **automation.py** file is provided with specific inputs.

### Second error:
The a

[2019-08-16 12:18] danielskatz commented on #1525
@whedon accept

[2019-08-16 12:18] whedon commented on #1525
[code]

[2019-08-16 12:18] whedon commented on #1525
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/905

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/905, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-16 12:19] danielskatz commented on #1525
👋 @kyleniemeyer - I think @openjournals/joss-eics members can do this themselves, even if not on duty - at least @arfon and I have in the past. There's certainly no requirement to, but it's an option if you want to.

[2019-08-16 12:20] danielskatz commented on #1525
@whedon accept deposit=true

[2019-08-16 12:20] whedon commented on #1525
[code]

[2019-08-16 12:21] whedon commented on #1525
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1162338558201475077) 👈 🐦🐦🐦

[2019-08-16 12:21] whedon commented on #1525
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/906
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01525](https://doi.org/10.21105/joss.01525)
2. If everything looks go

[2019-08-16 12:24] danielskatz commented on #1525
Thanks to @FelixHenninger and @JonathanReardon for reviewing and @kyleniemeyer for editing!

[2019-08-16 12:24] #1525 closed

[2019-08-16 12:24] whedon commented on #1525
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01525/status.svg)](https://doi.org/10.21105/joss.01525)

**We need your help!**

Journal of Open Source Softwa

[2019-08-16 12:30] mailchand commented on #1631
Hi @thejanzimmermann,

Thanks! I think this would be a great addition to v2.0 of the Eye Tracker. It might also make sense to incorporate corneal reflections from the Purkinje image in future versions.

best,

Chand

[2019-08-16 12:38] ethanwhite commented on #1646
Unfortunately I'm already committed on a different submission at the moment.

[2019-08-16 12:40] patrikhuber commented on #1262
@Kevin-Mattheus-Moerman Just wanted to let you know that I still got this on my todo list, things are very busy currently. I shall get to it by end of next week, apologies it's taking a short while.

[2019-08-16 12:50] adswa commented on #1525
Thanks a lot to everyone involved! This has been a great experience! :tada:

[2019-08-16 12:57] klmedeiros commented on #1587
@frycast Yes my sincerest apologies for the delay on my end. I will wrap this up today/tomorrow.

[2019-08-16 13:18] swapsha96 commented on #1557
It's been a week. What's going to happen next?

[2019-08-16 13:28] MatthewFlamm commented on #1621
Thanks @dandavies99 .  While in my experience pytest is a widely used test framework in python, I think it is a good idea to lower the barrier to entry as much as possible.  This is a good suggestion.  To this end, I've added a short section in the README.md about how to setup a development/testing environment and invoke the tests.

IMO the default output is easy to understand from pytest. I hope

[2019-08-16 13:39] andreas-h commented on #1468
Agreed. I had actually already figured that out but seem to have failed to remove that sentence from my comment.

Yes, thanks, that's good enough.

I agree with the concluding remarks you added.

This is a very nice explanation of the issue.  I think the paper would benefit if you would include this explanation in the paper.

Here, I disagree somewhat.  In the scope of this paper, which is to intr

[2019-08-16 14:04] lpantano commented on #1645
Hi @RHagenson, thanks for submitting to JOSS. I look around but I couldn't find any documentation of the tool. One of the mandatory requirement is to have full documentation with examples. If it is already done, can you put the link in the readme of the repo?

Cheers

[2019-08-16 14:16] seanlaw commented on #1504
@danielskatz I just spotted a minor typo in the PDF. Is there some way that I can fix it?

[2019-08-16 14:19] vsoch commented on #1603
@nuest now that testing is fixed and you've made good changes to the docs and paper, when the pull request is merged (and I've checked the version) I can finish up the review. Thanks for your hard work on this!

[2019-08-16 14:28] jedbrown commented on #1611
Thanks, @Datseris!
@kavir1698, thanks for your patience, I'll add a second reviewer now.

[2019-08-16 14:28] jedbrown commented on #1611
@whedon add @mozhgan-kch as reviewer

[2019-08-16 14:28] whedon commented on #1611
OK, @mozhgan-kch is now a reviewer

[2019-08-16 14:30] cole-brokamp commented on #1603
Everything looking good to me.  I'm all checked off.  Thanks!

[2019-08-16 14:32] jedbrown commented on #1611
@mozhgan-kch :wave: Welcome, and thanks for agreeing to review! The comments from @whedon at the top of this thread outline the review process, which takes place in this thread (possibly with issues filed in the [Agents.jl repository](https://github.com/kavir1698/Agents.jl)). There is a review checklist for you above. I'll be watching this thread if you have any questions.

[2019-08-16 14:36] seanlaw commented on #1504
@whedon generate pdf

[2019-08-16 14:36] whedon commented on #1504
[code]

[2019-08-16 16:16] danielskatz commented on #1646
@karthik  - any chance you want to edit this submission?  I can't remember what your JOSS-hiatus dates are, but it otherwise would be perfect for you.

[2019-08-16 16:17] whedon opened #1652 "[PRE REVIEW]: UncertainData.jl: a Julia package for working with measurements and datasets with uncertainties"
**Submitting author:** @kahaaga (<a href="http://orcid.org/0000-0001-6880-8725">Kristian Agasøster Haaga</a>)
**Repository:** <a href="https://github.com/kahaaga/UncertainData.jl" target ="_blank">https://github.com/kahaaga/UncertainData.jl</a>
**Version:** v0.2.1
**Editor:** @oliviaguest
**Reviewers:** @dmbates, @ahwillia

**Author instructions**

Thanks for submitting your paper to JOSS @kahaaga

[2019-08-16 16:17] whedon commented on #1652
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-16 16:17] whedon commented on #1652
[code]

[2019-08-16 16:17] whedon commented on #1652
Failed to discover a valid open source license.

[2019-08-16 16:17] whedon commented on #1652
PDF failed to compile for issue #1652 with the following error:

 Can't find any papers to compile :-(

[2019-08-16 16:18] danielskatz commented on #1652
👋  @kahaaga - we can't proceed until you add an OSI-compliant license to the repo.  Also, please change manuscript.md to paper.md

[2019-08-16 16:18] whedon opened #1653 "[PRE REVIEW]: molic: An R package for multivariate outlier detection in contingency tables"
**Submitting author:** @mlindsk (<a href="http://orcid.org/0000-0002-1033-697X">Mads Lindskou</a>)
**Repository:** <a href="https://github.com/mlindsk/molic" target ="_blank">https://github.com/mlindsk/molic</a>
**Version:** v0.5.0
**Editor:** @csoneson
**Reviewers:** @jdeligt, @jkanche

**Author instructions**

Thanks for submitting your paper to JOSS @mlindsk. **Currently, there isn't an JOSS ed

[2019-08-16 16:19] whedon commented on #1653
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-16 16:19] whedon commented on #1653
[code]

[2019-08-16 16:19] whedon commented on #1653
PDF failed to compile for issue #1653 with the following error:

 Error producing PDF.
! LaTeX Error: File `algorithm.sty' not found.

Type X to quit or <RETURN> to proceed,
or enter new name. (Default extension: sty)

Enter file name:
! Emergency stop.
<read *>

l.255 \usepackage

Looks like we failed to compile the PDF

[2019-08-16 16:19] kthyng commented on #1619
Ok we have two reviewers, @abhishekbajpayee and @jizecn! Let's get this review started!

[2019-08-16 16:20] kthyng commented on #1619
@whedon assign @abhishekbajpayee as reviewer

[2019-08-16 16:20] whedon commented on #1619
OK, the reviewer is @abhishekbajpayee

[2019-08-16 16:20] kthyng commented on #1619
@whedon add @jizecn as reviewer

[2019-08-16 16:20] whedon commented on #1619
OK, @jizecn is now a reviewer

[2019-08-16 16:20] kthyng commented on #1619
@whedon start review

[2019-08-16 16:20] #1619 closed

[2019-08-16 16:20] whedon opened #1654 "[REVIEW]: Porpoise tracker"
**Submitting author:** @henrikmidtiby (<a href="http://orcid.org/0000-0002-3310-5680">Henrik Skov Midtiby</a>)
**Repository:** <a href="https://github.com/henrikmidtiby/PorpoiseTracker" target ="_blank">https://github.com/henrikmidtiby/PorpoiseTracker</a>
**Version:** v1.0.0
**Editor:** @kthyng
**Reviewer:** @abhishekbajpayee, @jizecn
**Archive:** Pending

## Status

[![status](https://joss.theoj.

[2019-08-16 16:20] whedon commented on #1619
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1654. Feel free to close this issue now!

[2019-08-16 16:20] whedon commented on #1654
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @abhishekbajpayee, @jizecn it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2019-08-16 16:20] whedon commented on #1654
[code]

[2019-08-16 16:21] danielskatz commented on #1653
@mlindsk - it looks like a file is missing.  Please enter ```@whedon generate pdf``` as a new comment in this issue to instruct whedon to try again, and iterate until the paper compiles.

[2019-08-16 16:21] whedon commented on #1654
PDF failed to compile for issue #1654 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon.rb:143:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Henrik Dyrberg Egemose (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon.rb:141:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-08-16 16:22] mlindsk commented on #1653
@whedon generate pdf

[2019-08-16 16:22] whedon commented on #1653
[code]

[2019-08-16 16:22] whedon commented on #1653
PDF failed to compile for issue #1653 with the following error:

 Error producing PDF.
! LaTeX Error: File `algorithm.sty' not found.

Type X to quit or <RETURN> to proceed,
or enter new name. (Default extension: sty)

Enter file name:
! Emergency stop.
<read *>

l.255 \usepackage

Looks like we failed to compile the PDF

[2019-08-16 16:30] jhollist commented on #1646
I am unable to review until about mid to late September.  If you still need
someone then, ping me again.

Cheers,
Jeff

On Fri, Aug 16, 2019 at 12:16 PM ooo[bot] <notifications@github.com> wrote:

--
Jeffrey W. Hollister
email: jeff.w.hollister@gmail.com
cell: 401 556 4087
https://jwhollister.com

[2019-08-16 16:33] mlindsk commented on #1653
I have looked for information on the use of  external latex packages in paper.md but failed. Is it not possible to include such packages as the latex algorithm package?

[2019-08-16 16:34] danielskatz commented on #1653
👋 @arfon?

[2019-08-16 16:50] rougier commented on #1626
Sorry, I'm late because I'm on vacation but I will do it next week.

[2019-08-16 16:59] mbobra commented on #1640
@danielskatz Yes, please assign me!

[2019-08-16 17:03] arfon commented on #1653
We generally don't support custom packages with the paper build. Can you tell me what you're trying to achieve here, and could it be accomplished with regular (LaTeX) maths syntax?

[2019-08-16 17:04] danielskatz commented on #1640
You can assign yourself :)

[2019-08-16 17:04] mbobra commented on #1524
@desilinguist Thank you so much for reviewing! We really appreciate your time and effort ☀️

@paragkulkarni11 If you agree that this submission should be accepted, can you please tick the checkboxes above so I can move on with accepting this paper?

[2019-08-16 17:05] danielskatz commented on #1640
@whedon assign @mbobra as editor

[2019-08-16 17:05] whedon commented on #1640
OK, the editor is @mbobra

[2019-08-16 17:07] Cavenfish commented on #1612
Hey @shivupa you make some great points,

1) I will need to learn more about Binder before attempting to implement it. This is the same with Sphinx which has also been suggested.

2) I can have that feature added right away (it is also something my adivsor recommended), my thought is to have the line broadening choices be over-plotted with a different line-style (dotted or dashed)  so that the ver

[2019-08-16 17:13] mbobra commented on #1557
@swapsha96 I am trying to find you a new reviewer. If I can't do that in the next couple days, I will review it myself. I'm really sorry about this delay -- I know you want to get this published sooner than later. I did not anticipate that a reviewer would drop out. Please bear with me while we get through this.

[2019-08-16 17:16] mlindsk commented on #1653
I am trying to display a pseudo algorithm in the algorithmics environment which cannot be done in regular latex. If it's a hassle I can certainly find other ways to achieve something similar. I just like the format.

[2019-08-16 17:25] poulson commented on #1571
Thank you Oscar (@oesteban) and Scott (@stsievert). I will go ahead and add you two and start the review. Moderate interest is...an interesting way to put it...but I don't want to delay the review any further.

[2019-08-16 17:25] poulson commented on #1571
@whedon add @oesteban as reviewer

[2019-08-16 17:25] whedon commented on #1571
OK, @oesteban is now a reviewer

[2019-08-16 17:25] poulson commented on #1571
@whedon add @stsievert as reviewer

[2019-08-16 17:25] whedon commented on #1571
OK, @stsievert is now a reviewer

[2019-08-16 17:25] poulson commented on #1571
@whedon start review

[2019-08-16 17:25] whedon opened #1655 "[REVIEW]: cspy: A Python package with a collection of algorithms for the (Resource) Constrained Shortest Path problem"
**Submitting author:** @torressa (<a href="http://orcid.org/0000-0002-2894-9432">David Torres Sanchez</a>)
**Repository:** <a href="https://github.com/torressa/cspy" target ="_blank">https://github.com/torressa/cspy</a>
**Version:** v0.1.0
**Editor:** @poulson
**Reviewers:** @hausen, @stsievert
**Archive:** <a href="https://doi.org/10.5281/zenodo.3837663" target="_blank">10.5281/zenodo.3837663</a>

[2019-08-16 17:25] whedon commented on #1571
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1655. Feel free to close this issue now!

[2019-08-16 17:25] whedon commented on #1655
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hausen, @oesteban, @stsievert it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're

[2019-08-16 17:25] whedon commented on #1655
[code]

[2019-08-16 17:25] #1571 closed

[2019-08-16 17:26] whedon commented on #1655
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01655/joss.01655/10.21105.joss.01655.pdf)

[2019-08-16 17:27] poulson commented on #1371
Thank you for taking the time to start working on this review, Jordi (@jordigh)!

[2019-08-16 17:35] kahaaga commented on #1652
Done, @danielskatz! An MIT-license has been added, and the manuscript file has been renamed to paper.md.

I also had a look at the list of potential reviewers and found some Julia programmers with some relevant backgrounds (not sure if I should tag them here, so here are their github handles):
- Datseris
- dmbates
- matbesancon
- juliohm

[2019-08-16 19:09] RHagenson commented on #1645
@lpantano Documentation can be built through `godoc`, for online access to documentation visit: https://godoc.org/github.com/bio-ext/bio-go/bio

I have been using property tests to serve as both tests and examples. These can be run and seen from the repo root through `go test` via `go test -v ./...` (I have also just now added the `-v` flag to produce this output in TravisCI). In my opinion, code

[2019-08-16 19:53] mbobra commented on #1614
Hi @xuanxu, I'm writing for @kbg since he is on vacation now. I'm a co-author on the paper and @kbg and I talked about this beforehand -- hopefully this is okay, but if not please let me know.

We are not sure what to do about matching the co-author list on the paper to the author list on the Zenodo release. On one hand, we cannot force people to be authors on a paper if they do not want to. On th

[2019-08-16 21:08] danielskatz commented on #1652
@whedon generate pdf

[2019-08-16 21:08] whedon commented on #1652
[code]

[2019-08-16 21:08] whedon commented on #1652
PDF failed to compile for issue #1652 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1652/paper/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2019-08-16 21:13] danielskatz commented on #1652
You’ll need to fix the affiliations. See the same paper please. Then add a new comment to this issue that is ```@whedon generate pdf``` to try again

[2019-08-16 21:42] lpantano commented on #1645
Thank you for the detailed explanation, I think that would help a lot to show potential users how they can use your tool, and then the goDoc can get into details.

Thanks for making the changes.

[2019-08-16 21:45] arosen93 commented on #1612
Hey @Cavenfish. I think these are some good ideas. With regards to #2, I think what you said would be a great choice. You could also have an optional flag to hide the vertical lines if desired, but I think what you suggested would be a good default. Lots of visualization programs have a similar thing (I personally like ChemCraft's -- that might be a good reference). With regards to #5, I had the s

[2019-08-16 21:55] ahwillia commented on #1573
Checked my boxes...

Eamonn Keogh has a variety of methods and application papers to check out (e.g. https://www.cs.ucr.edu/~eamonn/MatrixProfile.html). I'm sure many other research groups have relevant papers as well. Please don't worry about being comprehensive, but the more references you can find the better.

[2019-08-16 22:10] russellpierce commented on #1641
Same as Dominique. If you're in a pinch I'd be glad to, but outside of my specialization.

[2019-08-16 22:10] kellyrowland commented on #1650
Hi @ezsolti , it looks like JOSS requires a code release with a version number matching the one listed here, but there appear to be not releases on the source code repo.

[2019-08-16 22:14] jrbourbeau commented on #1594
@ornlpmcp I'm happy to review as well

[2019-08-16 22:27] katyhuff commented on #1650
@ezsolti : This issue regarding authorship can be helped with some rewriting of history, if you like...  https://help.github.com/en/articles/changing-author-info

[2019-08-16 22:31] katyhuff commented on #1650
@kellyrowland @ezsolti : Since this will be the "v.1.0.0" release, it is not uncommon for authors to submit to JOSS before the release, and then, after making the edits requested by the reviewers (but not other major edits), make the v.1.0.0 release (since a release must be created for zenodo anyway, which is the last step of the JOSS publication.)

For now, let's assume this review process will e

[2019-08-16 22:32] kellyrowland commented on #1650
Thanks for the clarification @katyhuff !

[2019-08-16 23:27] DanielLenz commented on #1651
I really enjoyed the package and the paper, thanks for providing that! I'll wrap up the review shortly.

In the meantime, could you add the software acknowledgements that you have included in our AAS submission here as well?

[2019-08-17 00:08] Cavenfish commented on #1612
@shivupa @arosen93 I have added the line broadening feature, an example is in the README. I also added a spectral line plot which is the sum of the fits.

[2019-08-17 00:38] shreyasbapat commented on #1651
@whedon generate pdf

[2019-08-17 00:38] whedon commented on #1651
[code]

[2019-08-17 00:38] whedon commented on #1651
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01651/joss.01651/10.21105.joss.01651.pdf)

[2019-08-17 02:15] terrytangyuan commented on #1594
@whedon assign @zhampel as reviewer

[2019-08-17 02:15] whedon commented on #1594
OK, the reviewer is @zhampel

[2019-08-17 02:15] terrytangyuan commented on #1594
@whedon add @jrbourbeau as reviewer

[2019-08-17 02:15] whedon commented on #1594
OK, @jrbourbeau is now a reviewer

[2019-08-17 02:15] terrytangyuan commented on #1594
@whedon start review

[2019-08-17 02:15] whedon opened #1656 "[REVIEW]: ASCENDS: Advanced data SCiENce toolkit for Non-Data Scientists"
**Submitting author:** @ornlpmcp (<a href="http://orcid.org/0000-0002-1317-5112">Sangkeun Lee</a>)
**Repository:** <a href="https://github.com/ornlpmcp/ASCENDS" target ="_blank">https://github.com/ornlpmcp/ASCENDS</a>
**Version:** 0.4.1
**Editor:** @terrytangyuan
**Reviewer:** @zhampel, @jrbourbeau
**Archive:** <a href="https://doi.org/10.5281/zenodo.3635782" target="_blank">10.5281/zenodo.3635782

[2019-08-17 02:15] whedon commented on #1594
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1656. Feel free to close this issue now!

[2019-08-17 02:15] whedon commented on #1656
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zhampel, @jrbourbeau it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-08-17 02:16] whedon commented on #1656
[code]

[2019-08-17 02:16] whedon commented on #1656
PDF failed to compile for issue #1656 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon.rb:143:in `block in check_orcids': Problem with ORCID (orcid.org/0000-0002-1317-5112) for Sangkeun Lee (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon.rb:141:in `each'
	from /app

[2019-08-17 02:16] terrytangyuan commented on #1594
@jrbourbeau @zhampel Thank you! Look forward to your review in #1656!

[2019-08-17 02:16] #1594 closed

[2019-08-17 02:18] terrytangyuan commented on #1656
@ornlpmcp Could you fix the compilation failure of the paper?

[2019-08-17 03:00] RHagenson commented on #1645
@lpantano I added the documentation and testing sections to the README. However, due to my immediate schedule I will not be able to add `examples/` quite yet. I will tag you again in this thread when I have `examples/` added. If there are any other additions/changes I need to make, let me know.

[2019-08-17 04:04] kahaaga commented on #1652
@whedon generate pdf

[2019-08-17 04:04] whedon commented on #1652
[code]

[2019-08-17 04:04] whedon commented on #1652
PDF failed to compile for issue #1652 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1652/paper/paper.md): did not find expected key while parsing a block mapping at line 8 column 5 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2019-08-17 04:26] kahaaga commented on #1652
@whedon generate pdf

[2019-08-17 04:26] whedon commented on #1652
[code]

[2019-08-17 04:26] whedon commented on #1652
PDF failed to compile for issue #1652 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1652/paper/paper.md): did not find expected key while parsing a block mapping at line 8 column 5 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2019-08-17 04:49] kahaaga commented on #1652
@whedon generate pdf from branch joss_paper

[2019-08-17 04:49] whedon commented on #1652
[code]

[2019-08-17 04:50] whedon commented on #1652
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01652/joss.01652/10.21105.joss.01652.pdf)

[2019-08-17 05:12] kahaaga commented on #1652
@whedon generate pdf from branch joss_paper

[2019-08-17 05:12] whedon commented on #1652
[code]

[2019-08-17 05:13] whedon commented on #1652
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01652/joss.01652/10.21105.joss.01652.pdf)

[2019-08-17 05:25] kahaaga commented on #1652
@whedon generate pdf from branch joss_paper

[2019-08-17 05:25] whedon commented on #1652
[code]

[2019-08-17 05:26] whedon commented on #1652
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01652/joss.01652/10.21105.joss.01652.pdf)

[2019-08-17 05:36] kahaaga commented on #1652
Affiliations are fixed!

There was some confusion about a parsing error on line 8 which I thought to be due to the Norwegian letter `ø` in my middle name. However, this which turned out to be due to incorrect formatting of the `affiliation` field, not an error in parsing the letter `ø`. The pdf is now rendered correctly.

[2019-08-17 06:44] henrikmidtiby commented on #1654
@kthyng Can you change the repository to https://github.com/henrikmidtiby/PorpoiseTracker ?
Right now the repository points towards a url, which only contains the paper and not the source code. If it is difficult to change, I can resubmit the paper with the correct information.

[2019-08-17 06:45] henrikmidtiby commented on #1654
This commit should fix the issue with the missing orcid id for Henrik Dyrberg Egemose.
https://github.com/henrikmidtiby/PorpoiseTracker/commit/c3bb5f7eec5936373d553306e56ed58eeeabdc5c

[2019-08-17 06:47] swapsha96 commented on #1557
I understand that and I just wanted to know the status. Thanks for telling me.

[2019-08-17 08:17] kmzzhang commented on #1651
@whedon generate pdf

[2019-08-17 08:17] whedon commented on #1651
[code]

[2019-08-17 08:18] whedon commented on #1651
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01651/joss.01651/10.21105.joss.01651.pdf)

[2019-08-17 08:20] kmzzhang commented on #1651
@DanielLenz I have included the software acknowledgements.

[2019-08-17 09:38] shreyasbapat commented on #1651
Can the network architecture diagram be also included in the paper? Or maybe in the README as  it is in the https://arxiv.org/pdf/1907.09500.pdf ?

[2019-08-17 11:27] shreyasbapat commented on #1651
Though, it's really amazing! I loved reviewing the submission. The paper is awesome, and the package is definitely awesome :D

[2019-08-17 12:38] danielskatz commented on #1652
Thanks! Also, sorry for the perhaps confusing message I sent - it was meant to say "sample" paper but ended up saying "same" paper, as I was typing on my phone on a plane that was getting ready to leave...

Can you also merge https://github.com/kahaaga/UncertainData.jl/pull/58 to fix some small punctuation issues?

[2019-08-17 12:40] danielskatz commented on #1573
👋 @jgoldfar

Can you please go ahead and do this? (and check the boxes for items that are complete)

[2019-08-17 12:44] danielskatz commented on #1652
👋 @oliviaguest - Would you be willing to edit this submission?

[2019-08-17 12:45] danielskatz commented on #1653
Can you go ahead and do this in another way?

[2019-08-17 12:46] whedon opened #1657 "[PRE REVIEW]: Torsional Axisymmetric Core Oscillations Visualiser (TACO-VIS): A python module for animating torsional wave data for fluid planetary cores."
**Submitting author:** @sam-greenwood (<a href="http://orcid.org/0000-0001-9303-6229">Sam Greenwood</a>)
**Repository:** <a href="https://github.com/sam-greenwood/taco_vis" target ="_blank">https://github.com/sam-greenwood/taco_vis</a>
**Version:** v1.0
**Editor:** @leouieda
**Reviewers:** @malmans2, @banesullivan

**Author instructions**

Thanks for submitting your paper to JOSS @sam-greenwood. T

[2019-08-17 12:46] whedon commented on #1657
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @leouieda it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in

[2019-08-17 12:46] whedon commented on #1657
[code]

[2019-08-17 12:46] whedon commented on #1657
PDF failed to compile for issue #1657 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1657/paper/paper.md): mapping values are not allowed in this context at line 2 column 70 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/ve

[2019-08-17 12:47] danielskatz commented on #1657
👋 @leouieda - the submitter suggested you as reviewer, and I incorrectly assigned it to you without asking.  I apologize and hope this is ok - let me know if it is not.

[2019-08-17 12:48] danielskatz commented on #1657
@sam-greenwood - you will need to change bibliography.bibtex to paper.bib

[2019-08-17 12:50] mlindsk commented on #1653
Yes sure. I will try to make a standalone tex file for the algorithm and convert to png.

[2019-08-17 12:53] danielskatz commented on #1657
👋 @sam-greenwood - I think merging https://github.com/sam-greenwood/taco_vis/pull/1 should allow the paper to compile - please enter ```@whedon generate pdf``` here as a new comment in this issue to try.

[2019-08-17 12:57] whedon opened #1658 "[PRE REVIEW]: LISC: A Python Package for Scientific Literature Collection and Analysis"
**Submitting author:** @TomDonoghue (<a href="http://orcid.org/0000-0001-5911-0472">Thomas Donoghue</a>)
**Repository:** <a href="https://github.com/lisc-tools/lisc" target ="_blank">https://github.com/lisc-tools/lisc</a>
**Version:** v0.1.0
**Editor:** @danielskatz
**Reviewers:** @timClicks, @linuxscout

**Author instructions**

Thanks for submitting your paper to JOSS @TomDonoghue. **Currently,

[2019-08-17 12:57] whedon commented on #1658
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-17 12:57] whedon commented on #1658
[code]

[2019-08-17 12:58] whedon commented on #1658
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01658/joss.01658/10.21105.joss.01658.pdf)

[2019-08-17 13:01] danielskatz commented on #1658
👋 @TomDonoghue - thanks for this submission.  I'm going to assign myself as editor, and while I'll be slower than normal to respond over the next 2 weeks, I think we'll be able to make progress.

For your part, please look at this [list of potential reviewers](https://bit.ly/joss-reviewers) and identify individuals who might be able to review your submission (please start at the bottom of the list

[2019-08-17 13:01] danielskatz commented on #1658
@whedon assign @danielskatz as editor

[2019-08-17 13:01] whedon commented on #1658
OK, the editor is @danielskatz

[2019-08-17 13:04] danielskatz commented on #1658
👋 @pgroth - would you be willing to review this submission for JOSS?  (If you haven't done this before, which I think is the case, you might want to take a look at the [JOSS review guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and specifically [JOSS review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html))

[2019-08-17 14:00] danielskatz commented on #1652
@whedon generate pdf

[2019-08-17 14:00] whedon commented on #1652
[code]

[2019-08-17 14:01] whedon commented on #1652
PDF failed to compile for issue #1652 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1652/paper/paper.md): did not find expected key while parsing a block mapping at line 8 column 5 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2019-08-17 14:02] kahaaga commented on #1652
No problem, it was obvious enough that I had made a mistake there, so no confusion about that!

I've merged your punctuation fixes. I'm also merging the `joss_paper` branch with the final fixes in `paper.md` to master. Once the CI tests pass in ten minutes or so, I'll get whedon to generate a new pdf.

[2019-08-17 14:02] danielskatz commented on #1652
ah, sorry, my error in doing this in the middle of your changes - I'll leave it for you to do when you are ready

[2019-08-17 14:05] kahaaga commented on #1652
@whedon generate pdf

[2019-08-17 14:05] whedon commented on #1652
[code]

[2019-08-17 14:06] whedon commented on #1652
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01652/joss.01652/10.21105.joss.01652.pdf)

[2019-08-17 14:09] kahaaga commented on #1652
Hehe, no problem! I wasn't expecting to get a response so swiftly - thanks for the quick follow up.

Anyways, here we go: The pdf looks good, and everything is ready from my side.

[2019-08-17 15:15] FelixHenninger commented on #1525
Congrats @adswa for the awesome work, I'm glad to have helped a little with this!

[2019-08-17 15:57] ramaniitrgoyal92 commented on #1613
@whedon generate pdf

[2019-08-17 15:57] whedon commented on #1613
[code]

[2019-08-17 15:57] whedon commented on #1613
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01613/joss.01613/10.21105.joss.01613.pdf)

[2019-08-17 16:00] ramaniitrgoyal92 commented on #1613
@ctdegroot We did the suggested changes. Thanks a lot!

[2019-08-17 16:33] kahaaga commented on #1652
@whedon generate pdf

[2019-08-17 16:33] whedon commented on #1652
[code]

[2019-08-17 16:33] whedon commented on #1652
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01652/joss.01652/10.21105.joss.01652.pdf)

[2019-08-17 16:36] kahaaga commented on #1652
I added an additional reference to a Julia package pending reviewer assignment.

[2019-08-17 17:24] mlindsk commented on #1653
@whedon generate pdf

[2019-08-17 17:24] whedon commented on #1653
[code]

[2019-08-17 17:24] whedon commented on #1653
PDF failed to compile for issue #1653 with the following error:

 Error producing PDF.
! LaTeX Error: File `algorithm.sty' not found.

Type X to quit or <RETURN> to proceed,
or enter new name. (Default extension: sty)

Enter file name:
! Emergency stop.
<read *>

l.255 \usepackage

Looks like we failed to compile the PDF

[2019-08-17 17:30] mlindsk commented on #1653
@whedon generate pdf

[2019-08-17 17:30] whedon commented on #1653
[code]

[2019-08-17 17:30] whedon commented on #1653
PDF failed to compile for issue #1653 with the following error:

 Error producing PDF.
! Undefined control sequence.
l.298 \algrenewcommand

Looks like we failed to compile the PDF

[2019-08-17 17:35] mlindsk commented on #1653
@whedon generate pdf

[2019-08-17 17:35] whedon commented on #1653
[code]

[2019-08-17 17:35] whedon commented on #1653
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01653/joss.01653/10.21105.joss.01653.pdf)

[2019-08-17 17:39] mlindsk commented on #1653
@whedon generate pdf

[2019-08-17 17:39] whedon commented on #1653
[code]

[2019-08-17 17:40] whedon commented on #1653
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01653/joss.01653/10.21105.joss.01653.pdf)

[2019-08-17 17:42] mlindsk commented on #1653
@whedon generate pdf

[2019-08-17 17:42] whedon commented on #1653
[code]

[2019-08-17 17:42] whedon commented on #1653
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01653/joss.01653/10.21105.joss.01653.pdf)

[2019-08-17 17:47] mlindsk commented on #1653
@whedon generate pdf

[2019-08-17 17:47] whedon commented on #1653
[code]

[2019-08-17 17:48] whedon commented on #1653
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01653/joss.01653/10.21105.joss.01653.pdf)

[2019-08-17 17:50] mlindsk commented on #1653
@danielskatz Hi Daniel. It finally worked; a hassle to get the spacing right.

[2019-08-17 17:55] danielskatz commented on #1653
Thanks - can you now add something about what types of research this enables?  And how such research will use it?

[2019-08-17 17:56] danielskatz commented on #1653
👋 @csoneson - would you be willing to edit this submission?

[2019-08-17 17:57] danielskatz commented on #1652
Thanks, but before that, we need to assign an editor who will take on finding reviewers and managing the review process.

[2019-08-17 18:03] mlindsk commented on #1653
Sure. I'll look into this Monday morning (afternoon here in Denmark).

[2019-08-17 23:40] JonathanReardon commented on #1525
I'm very happy to have helped out on this too, it was a pleasure, congrats! and thank you all!

[2019-08-18 05:49] csoneson commented on #1653
@whedon assign @csoneson as editor

[2019-08-18 05:49] whedon commented on #1653
OK, the editor is @csoneson

[2019-08-18 05:59] csoneson commented on #1653
👋mlindsk - I will handle your submission. Do you have suggestions for suitable reviewers (e.g. from the list linked in the first comment above)?

A couple of initial comments, in addition to @danielskatz's above:
- [ ] Please only include the references that you are citing in the .bib file
- [ ] It looks like there are no actual tests in the `testthat/` folder - could you add that?
- [ ] Check the

[2019-08-18 06:08] mlindsk commented on #1653
@csoneson That is great. I will look through the list and propose someone as reviewer. And I will handle @danielskatz and your comments first thing tomorrow morning.

[2019-08-18 06:13] mlindsk commented on #1653
Hi,

Would any of you be willing to review the molic package ?

@VivekTodur
@jkanche

[2019-08-18 11:39] whedon opened #1659 "[PRE REVIEW]: Open-Unmix - A Reference Implementation for Music Source Separation"
**Submitting author:** @faroit (<a href="http://orcid.org/0000-0002-2534-1165">Fabian-Robert Stöter</a>)
**Repository:** <a href="https://github.com/sigsep/open-unmix-paper-joss" target ="_blank">https://github.com/sigsep/open-unmix-paper-joss</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewers:** @bmcfee, hagenw

**Author instructions**

Thanks for submitting your paper to JOSS @faroit. **Cur

[2019-08-18 11:39] whedon commented on #1659
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-18 11:39] whedon commented on #1659
[code]

[2019-08-18 11:39] whedon commented on #1659
Failed to discover a valid open source license.

[2019-08-18 11:39] whedon commented on #1659
PDF failed to compile for issue #1659 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon.rb:143:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Stefan Uhlich (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon.rb:141:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedo

[2019-08-18 11:54] danielskatz commented on #1659
Please merge https://github.com/sigsep/open-unmix-paper-joss/pull/1 and see if that enables the paper to build by entering ```@whedon generate pdf``` as a new comment here.  (also note that I suggested a number of language changes as well in the PR - these are all optional...

[2019-08-18 11:56] danielskatz commented on #1659
👋 @arokem - would you be willing to edit this submission?

[2019-08-18 11:58] whedon opened #1660 "[PRE REVIEW]: Airbase - An airfoil files database to search, compare and plot"
**Submitting author:** @lucaspompeun (<a href="http://orcid.org/0000-0001-9625-4985">Lucas Neves</a>)
**Repository:** <a href="https://github.com/lucaspompeun/airbase" target ="_blank">https://github.com/lucaspompeun/airbase</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @lucaspompeun. **Currently, there isn't an

[2019-08-18 11:59] whedon commented on #1660
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-18 11:59] whedon commented on #1660
[code]

[2019-08-18 11:59] whedon commented on #1660
PDF failed to compile for issue #1660 with the following error:

 Error reading bibliography ./paper.bib (line 2, column 9):
unexpected "."
expecting letter, digit, white space, "#", "," or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-18 11:59] faroit commented on #1659
@whedon generate pdf

[2019-08-18 12:00] whedon commented on #1659
[code]

[2019-08-18 12:00] whedon commented on #1659
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01659/joss.01659/10.21105.joss.01659.pdf)

[2019-08-18 12:02] danielskatz commented on #1660
👋 @lucaspompeun - JOSS is a journal for research software, but this submission does not appear to be research software; it instead appears to be a database and data.  Given this, I don't think it's suitable for JOSS and suggest it be withdrawn, but if you have a different opinion and want to argue how it is suitable for JOSS, please do.

[2019-08-18 12:02] faroit commented on #1659
@danielskatz regarding the use of submodules, please note my questions I asked earlier in [JOSS#565](https://github.com/openjournals/joss/issues/565).

[2019-08-18 12:07] danielskatz commented on #1659
Thanks for pointing that out - please also mention it in the review thread that will be created once there are an editor and reviewers assigned.

[2019-08-18 12:14] danielskatz commented on #1659
Also, while we wait for that, you might want to make some fixes in the bib part of the paper - anything in a title or booktitle that should be in Upper Case needs to be protected with {}s, for example
booktitle={Proc. {IEEE} Intl. Conf. on Acoustics, Speech and Signal Processing (ICASSP)},
could be
booktitle={{Proc. IEEE Intl. Conf. on Acoustics, Speech and Signal Processing (ICASSP)}},
to preserv

[2019-08-18 12:42] faroit commented on #1659
sure, will do.

Another question: can you please point me JOSSs pre-print policy? E.g. can I simultaneously submit to arxiv?

[2019-08-18 13:04] danielskatz commented on #1659
This is fine, although it's a little unusual - JOSS papers are usually short and focus on the software itself, while authors often write longer papers about the use of the software, for journals or conferences, and those longer papers are the ones that are usually submitted as pre-prints.

[2019-08-18 13:35] lucaspompeun commented on #1660
Hi @danielskatz - Nowadays, with the increasing of data science, databases are becoming to play a central role to some scientific areas, such as bioinformatics with [NCBI](https://www.ncbi.nlm.nih.gov/), [PDB](http://www.rcsb.org/) and others, with this increasing in mind, the airbase have the purpose of offer scientists the oportunity to acess a wide variety of dat seligs relevant data to provide

[2019-08-18 13:57] danielskatz commented on #1660
My concern is not the scientific value, but that JOSS is a **software** journal, and this doesn't appear to be software.

[2019-08-18 13:57] danielskatz commented on #1660
@whedon generate pdf

[2019-08-18 13:57] whedon commented on #1660
[code]

[2019-08-18 13:58] whedon commented on #1660
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01660/joss.01660/10.21105.joss.01660.pdf)

[2019-08-18 14:25] lucaspompeun commented on #1660
I see your point. The idea was to produce the database with a web interface, to easyer the acess for scientists, since our target are physicists and engineers. The database can be used in a offline way, but I don't signalized this on README.md, it's just download the repository and open the "index.html" file. We have a future idea to update the offline repository with an API, since the current upd

[2019-08-18 14:27] danielskatz commented on #1660
I'm going to mark this as withdrawn for now - if you can turn it into software, please feel free to resubmit at that time.

[2019-08-18 14:27] #1660 closed

[2019-08-18 14:39] shivupa commented on #1612
I opened an issue which shows how to address 3. I realized the library you would want to use is openbabel not cclib. I included an example of how to do this. It seems like code for 4 is added once we can review that and see an example I would say this address all of the issues that I think are essential (1 and 5 are long term and optional).

[2019-08-18 16:47] oliviaguest commented on #1652
Yes. Happy to do it.

[2019-08-18 16:54] danielskatz commented on #1652
@whedon assign @oliviaguest as editor

[2019-08-18 16:54] whedon commented on #1652
OK, the editor is @oliviaguest

[2019-08-18 17:16] cMadan commented on #1648
@whedon assign @cMadan as editor

[2019-08-18 17:16] whedon commented on #1648
OK, the editor is @cMadan

[2019-08-18 17:26] arfon commented on #1654
I've made this update.

[2019-08-18 19:30] Cavenfish commented on #1612
@whedon generate pdf

[2019-08-18 19:30] whedon commented on #1612
[code]

[2019-08-18 19:31] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-08-18 19:32] Cavenfish commented on #1612
I have finished both the plotting function and scaling factor generation function. I have added documentation and examples for them in the README and put more in the paper about these two new capabilities.

[2019-08-18 19:34] Cavenfish commented on #1612
i just pushed a commit that gets rid of the straggler phrase at the end of the paper's capabilities section.

[2019-08-18 19:39] karthik commented on #1638
@whedon add @ldecicco-USGS as reviewer

[2019-08-18 19:39] whedon commented on #1638
OK, @ldecicco-USGS is now a reviewer

[2019-08-18 19:39] karthik commented on #1638
I'm still searching for reviewer 2 and once I assign someone, I'll start the review.

[2019-08-18 19:49] henrikmidtiby commented on #1654
@whedon generate pdf

søn. 18. aug. 2019 kl. 19.26 skrev ooo[bot] <notifications@github.com>:

[2019-08-18 19:49] whedon commented on #1654
[code]

[2019-08-18 19:49] whedon commented on #1654
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01654/joss.01654/10.21105.joss.01654.pdf)

[2019-08-18 20:02] cMadan commented on #1648
@SwathiSheshadri, it looks like the project is mainly a GUI utility that wraps around DeepLabCut and first-party Matlab functions. Do you think this is a fair assessment?

[2019-08-18 20:19] AliYoussef96 commented on #1500
@Benjamin-Lee and @mgymrek

About the checklist, any comments about the Functionality and the References?

[2019-08-18 20:44] Benjamin-Lee commented on #1500
Not yet. Please be aware that I am on vacation starting out of internet service, so I will get back to you in a week!

[2019-08-18 21:55] holgerteichgraeber commented on #1573
@whedon generate pdf from branch paper

[2019-08-18 21:55] whedon commented on #1573
[code]

[2019-08-18 21:56] whedon commented on #1573
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01573/joss.01573/10.21105.joss.01573.pdf)

[2019-08-18 22:22] vaishnavtv commented on #1613
@ramaniitrgoyal92

The version number as submitted to JOSS for review is 2.1, but the technical manual document lists it as 1.x. It'd be helpful to tag releases from the Github repository itself, to avoid conflicting information.

[2019-08-18 22:45] holgerteichgraeber commented on #1573
Ok, that seems not to have worked. Will push to master branch and revisit.

I will be updating the package to reflect its more general applicability and rename to TimeSeriesClustering.jl. I will update here once complete.

[2019-08-18 22:57] holgerteichgraeber commented on #1573
@whedon generate pdf

[2019-08-18 22:57] whedon commented on #1573
[code]

[2019-08-18 22:58] whedon commented on #1573
PDF failed to compile for issue #1573 with the following error:

 Error reading bibliography ./paper.bib (line 344, column 1):
unexpected "y"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-18 22:58] holgerteichgraeber commented on #1573
@whedon generate pdf

[2019-08-18 22:58] whedon commented on #1573
[code]

[2019-08-18 22:59] whedon commented on #1573
PDF failed to compile for issue #1573 with the following error:

 Error reading bibliography ./paper.bib (line 344, column 1):
unexpected "y"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-18 23:02] holgerteichgraeber commented on #1573
@whedon generate pdf

[2019-08-18 23:02] whedon commented on #1573
[code]

[2019-08-18 23:03] whedon commented on #1573
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01573/joss.01573/10.21105.joss.01573.pdf)

[2019-08-19 00:18] klmedeiros commented on #1587
@frycast This looks great! I found the documentation on the README very helpful, and was happy to provide a review for this.

[2019-08-19 00:46] holgerteichgraeber commented on #1573
@whedon generate pdf

[2019-08-19 00:46] whedon commented on #1573
[code]

[2019-08-19 00:47] whedon commented on #1573
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01573/joss.01573/10.21105.joss.01573.pdf)

[2019-08-19 00:51] holgerteichgraeber commented on #1573
I am in the process of renaming the package. There is no documentation on how to do that with the new package registry in julia, so I opened an issue in the general registry. Will update here as soon as `TimeSeriesClustering.jl` is officially registered.

@danielskatz would the name of this issue and the repository name at the top need to be updated?

[2019-08-19 05:37] alexanderimanicowenrivers commented on #1524
As you can see with our latest changes, the testing is also much clearer. I have managed to remove a majority of the tensorflow depreciated warnings. https://travis-ci.org/for-ai/rl

[2019-08-19 06:45] holtgrewe commented on #1610
@lpantano

- 10.5281/zenodo.3370902
- https://zenodo.org/record/3370902

[2019-08-19 06:55] faroit commented on #1659
maybe our contribution is a bit unusual here, indeed. We actually wrote the paper to be significanlty  longer, describing the technical details of the model (see [arxiv branch](https://github.com/sigsep/open-unmix-paper-joss/tree/arxiv)) and then shortened it to <2000 words to comply with the JOSS policy.
Since there are not many scientific contributions being made – the model is basically the dis

[2019-08-19 07:22] sayanddude commented on #1509
@whedon generate pdf

[2019-08-19 07:22] whedon commented on #1509
[code]

[2019-08-19 07:23] whedon commented on #1509
PDF failed to compile for issue #1509 with the following error:

 Error producing PDF.
! Undefined control sequence.
l.371 environment such as R (\proglang

Looks like we failed to compile the PDF

[2019-08-19 07:25] sayanddude commented on #1509
@whedon generate pdf

[2019-08-19 07:25] whedon commented on #1509
[code]

[2019-08-19 07:26] whedon commented on #1509
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01509/joss.01509/10.21105.joss.01509.pdf)

[2019-08-19 07:36] sayanddude commented on #1509
@whedon generate pdf

[2019-08-19 07:36] whedon commented on #1509
[code]

[2019-08-19 07:37] whedon commented on #1509
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01509/joss.01509/10.21105.joss.01509.pdf)

[2019-08-19 07:45] dandavies99 commented on #1621
This looks great @MatthewFlamm; exactly what was needed to lower the barrier to entry. @xuanxu I'm also done with my review now and will be very happy to see this useful package in JOSS.

[2019-08-19 07:50] xuanxu commented on #1621
Thanks @dandavies99!

[2019-08-19 07:50] xuanxu commented on #1621
@whedon generate pdf

[2019-08-19 07:50] whedon commented on #1621
[code]

[2019-08-19 07:50] whedon commented on #1621
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01621/joss.01621/10.21105.joss.01621.pdf)

[2019-08-19 07:54] xuanxu commented on #1621
@whedon check references

[2019-08-19 07:54] whedon commented on #1621
[code]

[2019-08-19 07:54] whedon commented on #1621
[code]

[2019-08-19 08:06] xuanxu commented on #1621
@MatthewFlamm I found a typo in the paper, Merck/rtdpy#1 should fix it.

[2019-08-19 08:48] sayanddude commented on #1509
@whedon generate pdf

[2019-08-19 08:48] whedon commented on #1509
[code]

[2019-08-19 08:48] whedon commented on #1509
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01509/joss.01509/10.21105.joss.01509.pdf)

[2019-08-19 08:53] henrikmidtiby commented on #1654
The article proof look fine.

[2019-08-19 09:04] StewMH commented on #1487
Hi @tesch1,

I don't have root on those machines. I think I can do it in a docker image - let me try. Otherwise I can spin up a more powerful VM.

It would be useful to have a list of prerequisites for each platform.

[2019-08-19 09:13] oliviaguest commented on #1652
Hi @dmbates and @lindemann09, would you be interested and able to review this JOSS submission? 😄

[2019-08-19 09:37] lindemann09 commented on #1652
I don't know much about Julia. I'm afraid I do not have the required expertise to review this submission.

[2019-08-19 09:38] danielskatz commented on #1659
Ok, thanks

[2019-08-19 10:27] oliviaguest commented on #1652
@lindemann09 thanks for the speedy reply and no worries!

[2019-08-19 10:27] oliviaguest commented on #1652
Hey 👋 @ahwillia, would you be interested and able to review this JOSS submission? 😄

[2019-08-19 11:34] MatthewFlamm commented on #1621
On triple reading this, I noticed a few minor things as well. I was inconsistent in capitalization in one list.  I also am missing the journal title for one reference.  I will regenerate PDF here when done.

[2019-08-19 11:38] tesch1 commented on #1487
@StewMH - if you go the docker route, a simple `sudo yum install
openblas-devel` should do the trick. (or -dev if you're in the debian
ecosystem)

BLAS is really just needed for benchmarking against BLAS, so having a BLAS
installation that we can build the test code against is a prerequisite.
I've added language to the benchmarking blurb in the README to clarify this
(not yet merged).

On Mon, Aug

[2019-08-19 11:47] arokem commented on #1659
Yes. I can edit this one!

[2019-08-19 11:47] arokem commented on #1659
@whedon assign arokem as editor

[2019-08-19 11:47] whedon commented on #1659
OK, the editor is arokem

[2019-08-19 11:47] arokem commented on #1659
@faroit : do you have any suggestions for reviewers?

[2019-08-19 11:51] MatthewFlamm commented on #1621
@whedon generate pdf

[2019-08-19 11:51] whedon commented on #1621
[code]

[2019-08-19 11:52] whedon commented on #1621
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01621/joss.01621/10.21105.joss.01621.pdf)

[2019-08-19 11:53] MatthewFlamm commented on #1621
Im still missing the journal title for the Levenspiel reference that has the title starting with Longitudinal, even though I have the journal in the bib file.  I need to read up on bib file format, I am probably missing something.

[2019-08-19 11:55] arokem commented on #1659
👋 @bmcfee : would you be willing to review this paper for the [Journal of Open Source Software](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)?

[2019-08-19 11:58] faroit commented on #1659
Researchers close to field (audio+ML) with open-source software experience: @bmcfee  @justinsalamon @hagenw @danstowell @drscotthawley @keunwoochoi @jordipons

[2019-08-19 11:59] bmcfee commented on #1659
@arokem sure!

[2019-08-19 12:00] MarionLegrandLogrami commented on #791
Thank you very much for accepting this submission in JOSS and @steffilazerte and @boshek - thanks again for your time and advice!

@arfon - Here's the DOI (for the archive of the package):
[http://doi.org/10.5281/zenodo.3371259](http://doi.org/10.5281/zenodo.3371259)

[2019-08-19 12:04] xuanxu commented on #1614
@mbobra/@kbg: Yes, as long as all the people listed in the paper are also in the Zenodo archive, it is posible to have those different author lists.

[2019-08-19 12:05] xuanxu commented on #1614
@whedon generate pdf

[2019-08-19 12:05] whedon commented on #1614
[code]

[2019-08-19 12:05] whedon commented on #1614
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01614/joss.01614/10.21105.joss.01614.pdf)

[2019-08-19 12:07] StewMH commented on #1487
Hi @tesch1,

OK, I tried with Docker (Ubuntu flavour this time, but I can move to Red Hat):
Dockerfile:
[code]
With either gcc or clang it fails with:
[code]

I think in the past I've solved issues like this by explicitly linking to pthreads. Have you encountered it?

[2019-08-19 12:07] xuanxu commented on #1614
@whedon check references

[2019-08-19 12:07] whedon commented on #1614
[code]

[2019-08-19 12:07] whedon commented on #1614
[code]

[2019-08-19 12:10] arokem commented on #1659
Awesome. Thanks!

[2019-08-19 12:10] arokem commented on #1659
@whedon assign @bmcfee as reviewer

[2019-08-19 12:10] whedon commented on #1659
OK, the reviewer is @bmcfee

[2019-08-19 12:11] arokem commented on #1659
👋 @justinsalamon : would you be willing to review this paper for the [Journal of Open Source Software](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)?

[2019-08-19 12:13] arokem commented on #1295
@jdkent : how are things going? When do you anticipate finishing your current revisions?

[2019-08-19 12:14] xuanxu commented on #1621
@MatthewFlamm I can see the title of that article [in the references](https://github.com/openjournals/joss-papers/blob/joss.01621/joss.01621/10.21105.joss.01621.pdf), `Longitudinal Mixing of Fluids Flowing in Circular Pipes`, right before the other Levenspiel book.

[2019-08-19 12:15] arokem commented on #1587
@klmedeiros : there is still one item that is not checked off ("performance"). Are there any performance claims that you would like to test? Otherwise, is this paper ready to be accepted from your point of view?

[2019-08-19 12:16] arokem commented on #1587
@jminnier : just to confirm: is this paper ready to be accepted from your point of view?

[2019-08-19 12:16] arokem commented on #1587
@whedon generate pdf

[2019-08-19 12:16] whedon commented on #1587
[code]

[2019-08-19 12:17] whedon commented on #1587
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01587/joss.01587/10.21105.joss.01587.pdf)

[2019-08-19 12:30] mlindsk commented on #1653
@whedon generate pdf

[2019-08-19 12:30] whedon commented on #1653
[code]

[2019-08-19 12:31] whedon commented on #1653
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01653/joss.01653/10.21105.joss.01653.pdf)

[2019-08-19 12:35] mlindsk commented on #1653
:wave: @csoneson Updates according to your comments.

[2019-08-19 12:47] mlindsk commented on #1653
Hi,

I am a suggesting a few more potential reviewers. I suggest reviewers based on **R**, **C++** and possibly **genomics/genetics**.

@jdeligt
@jkanche

[2019-08-19 13:00] csoneson commented on #1653
@mlindsk - great, thanks. While we are waiting to see whether @VivekTodur, @jdeligt or @jkanche would be available and interested in reviewing the submission, a couple of more things for the paper that can just as well be fixed now:
- please add DOIs to all your references wherever possible
- could you fix the "Consortium, 1. G. P. & others" in the reference list?
- when a citation is part of a se

[2019-08-19 13:01] MatthewFlamm commented on #1621
I meant the journal name, https://github.com/Merck/rtdpy/blob/master/paper/paper.bib#L32

[2019-08-19 13:06] MatthewFlamm commented on #1621
@whedon generate pdf

[2019-08-19 13:06] whedon commented on #1621
[code]

[2019-08-19 13:07] whedon commented on #1621
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01621/joss.01621/10.21105.joss.01621.pdf)

[2019-08-19 13:09] MatthewFlamm commented on #1621
Fixed it, I had to escape the ampersand

[2019-08-19 13:42] arfon commented on #791
@whedon set 10.5281/zenodo.3371259 as archive

[2019-08-19 13:42] whedon commented on #791
OK. <a href="https://doi.org/10.5281/zenodo.3371259" target="_blank">10.5281/zenodo.3371259</a> is the archive.

[2019-08-19 13:42] arfon commented on #791
@whedon accept

[2019-08-19 13:42] whedon commented on #791
[code]

[2019-08-19 13:44] whedon commented on #791
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/907

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/907, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-19 13:45] arfon commented on #791
@whedon accept deposit=true

[2019-08-19 13:45] whedon commented on #791
[code]

[2019-08-19 13:46] whedon commented on #791
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1163447176552493058) 👈 🐦🐦🐦

[2019-08-19 13:46] whedon commented on #791
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/908
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00791](https://doi.org/10.21105/joss.00791)
2. If everything looks go

[2019-08-19 13:48] arfon commented on #791
@steffilazerte @boshek, many thanks for your reviews here.

@MarionLegrandLogrami - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-08-19 13:48] #791 closed

[2019-08-19 13:48] whedon commented on #791
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.00791/status.svg)](https://doi.org/10.21105/joss.00791)

**We need your help!**

Journal of Open Source Softwa

[2019-08-19 13:54] lpantano commented on #1610
@whedon set 10.5281/zenodo.3370902 as archive

[2019-08-19 13:55] whedon commented on #1610
OK. <a href="https://doi.org/10.5281/zenodo.3370902" target="_blank">10.5281/zenodo.3370902</a> is the archive.

[2019-08-19 13:56] lpantano commented on #1610
Hey @dmnfarrell, I see you didn't check the "automated tests" but others have done it, is this a mistake or there is an issue with this?

[2019-08-19 13:58] lpantano commented on #1540
Hi @maxibor, I am trying to find another reviewer since it seems @giraola is super busy right now. Sorry about the dealy. If you know other possible reviewer let me know.

[2019-08-19 14:02] xuanxu commented on #1621
@whedon check references

[2019-08-19 14:02] whedon commented on #1621
[code]

[2019-08-19 14:02] whedon commented on #1621
[code]

[2019-08-19 14:04] xuanxu commented on #1621
Ok, everything looks good @MatthewFlamm, here are the next steps:
- Please make a new tagged release that includes all changes made during this review
- Archive that release in Zenodo
- Check the Zenodo deposit has the correct metadata: title and author name should match the paper; you may also your ORCID.

Once you do that please report here the version number and the Zenodo DOI.

[2019-08-19 14:06] lpantano commented on #1645
@adavidzh, would you be interested in reviewing this tool?

[2019-08-19 14:11] dmnfarrell commented on #1610
Yes it's a mistake. I've checked that now.

[2019-08-19 14:14] lpantano commented on #1610
Hey @openjournals/joss-eics this paper has been accepted. Thanks all!

[2019-08-19 14:14] sam-greenwood commented on #1657
@whedon generate pdf

[2019-08-19 14:14] whedon commented on #1657
[code]

[2019-08-19 14:16] sayanddude commented on #1509
@nhejazi We have worked on addressing all of your comments. Please find below our response to each action items:

**Major (cannot be checked off yet)**

- **_References: I believe some of the references are missing DOIs. As ..........._**
Thanks for your comment! We have added the DOI for almost all the articles for which DOIs are available in the updated version of the paper. Only for the cited R

[2019-08-19 14:16] whedon commented on #1657
PDF failed to compile for issue #1657 with the following error:

 pandoc-citeproc: reference cox2014forward not found
pandoc-citeproc: reference cox2014forward not found
Error producing PDF.
! Text line contains an invalid character.
l.407 ...strong magnetic field within the earth^^V

Looks like we failed to compile the PDF

[2019-08-19 14:22] sayanddude commented on #1509
@mgymrek @terrytangyuan @nhejazi Hi! We have addressed all the comments mentioned above and have also made the required changes to the code repository. Kindly let us know if there's any pending action items from our end.

Thanks and Regards,
Sayan

[2019-08-19 14:23] sam-greenwood commented on #1657
Fixed the citations and reference

@whedon generate pdf

[2019-08-19 14:24] sam-greenwood commented on #1657
@whedon generate pdf

[2019-08-19 14:24] whedon commented on #1657
[code]

[2019-08-19 14:25] whedon commented on #1657
PDF failed to compile for issue #1657 with the following error:

 Error producing PDF.
! Text line contains an invalid character.
l.423 convection and jets in earth^^V

Looks like we failed to compile the PDF

[2019-08-19 14:26] sam-greenwood commented on #1657
@whedon generate pdf

[2019-08-19 14:26] whedon commented on #1657
[code]

[2019-08-19 14:27] whedon commented on #1657
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01657/joss.01657/10.21105.joss.01657.pdf)

[2019-08-19 14:32] sam-greenwood commented on #1657
Almost, just need to fix the figures

[2019-08-19 14:32] sam-greenwood commented on #1657
@whedon generate pdf

[2019-08-19 14:32] whedon commented on #1657
[code]

[2019-08-19 14:34] whedon commented on #1657
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01657/joss.01657/10.21105.joss.01657.pdf)

[2019-08-19 14:59] arfon commented on #1615
@clemaitre58 @nnadeau - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-08-19 15:10] arfon commented on #1630
:wave: @lsw5077 - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-08-19 15:12] lsw5077 commented on #1630
Hello,

Yes, I can review it.

-Lyndsie

On Mon, Aug 19, 2019 at 10:10 AM Arfon Smith <notifications@github.com>
wrote:

--
Lyndsie Wszola
PhD Student
NSF NRT Trainee
School of Biological Sciences
University of Nebraska-Lincoln
www.github.com/lsw5077

[2019-08-19 15:30] arfon commented on #1630
@whedon add @lsw5077 as reviewer

[2019-08-19 15:30] whedon commented on #1630
OK, @lsw5077 is now a reviewer

[2019-08-19 15:30] arfon commented on #1630
@whedon start review

[2019-08-19 15:30] whedon opened #1661 "[REVIEW]: virtualNicheR: generating virtual fundamental and realised niches for use in virtual ecology experiments"
**Submitting author:** @tretherington (<a href="http://orcid.org/0000-0002-3187-075X">Thomas R Etherington</a>)
**Repository:** <a href="https://github.com/manaakiwhenua/virtualNicheR" target ="_blank">https://github.com/manaakiwhenua/virtualNicheR</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @ViniciusBRodrigues, @lsw5077
**Archive:** <a href="https://doi.org/10.7931/cae9-bt94" target="_

[2019-08-19 15:30] whedon commented on #1630
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1661. Feel free to close this issue now!

[2019-08-19 15:30] whedon commented on #1661
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ViniciusBRodrigues, @lsw5077 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're p

[2019-08-19 15:30] whedon commented on #1661
[code]

[2019-08-19 15:31] arfon commented on #1630
@ViniciusBRodrigues, @lsw5077 - many thanks for agreeing to review this submission! Please head over to #1661 where the actual review will take place.

[2019-08-19 15:31] #1630 closed

[2019-08-19 15:31] arfon commented on #1661
@ViniciusBRodrigues, @lsw5077 - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-08-19 15:32] whedon commented on #1661
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01661/joss.01661/10.21105.joss.01661.pdf)

[2019-08-19 15:47] SwathiSheshadri commented on #1648
@cMadan, thank you for taking time to edit our submission.
I agree with your assessment in that the focus of our submission with pose3d is to provide a user-friendly 3D reconstruction interface targeted mainly towards DeepLabCut (DLC) users. However, pose3d is not limited to DLC users and can be easily used with any other 2D tracking software as described in one of our demo examples.
I would also

[2019-08-19 15:56] TomDonoghue commented on #1658
@whedon generate pdf

[2019-08-19 15:56] whedon commented on #1658
[code]

[2019-08-19 15:57] whedon commented on #1658
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01658/joss.01658/10.21105.joss.01658.pdf)

[2019-08-19 15:59] cMadan commented on #1641
@DominiqueMakowski, no problem, thanks!

@russellpierce, thanks--I'm going to assign you as a reviewer here, as I think I'll have trouble finding someone who's a better fit.

[2019-08-19 15:59] cMadan commented on #1641
@whedon add @russellpierce as reviewer

[2019-08-19 16:00] whedon commented on #1641
OK, @russellpierce is now a reviewer

[2019-08-19 16:00] cMadan commented on #1641
@whedon start review

[2019-08-19 16:00] whedon opened #1662 "[REVIEW]: thurstonianIRT: Thurstonian IRT Models in R"
**Submitting author:** @paul-buerkner (<a href="http://orcid.org/0000-0001-5765-8995">Paul-Christian Bürkner</a>)
**Repository:** <a href="https://github.com/paul-buerkner/thurstonianIRT" target ="_blank">https://github.com/paul-buerkner/thurstonianIRT</a>
**Version:** 0.10.0
**Editor:** @cMadan
**Reviewer:** @tomfaulkenberry, @russellpierce
**Archive:** <a href="https://doi.org/10.5281/zenodo.351

[2019-08-19 16:00] whedon commented on #1641
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1662. Feel free to close this issue now!

[2019-08-19 16:00] whedon commented on #1662
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tomfaulkenberry, @russellpierce it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you'r

[2019-08-19 16:00] whedon commented on #1662
[code]

[2019-08-19 16:00] #1641 closed

[2019-08-19 16:01] whedon commented on #1662
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01662/joss.01662/10.21105.joss.01662.pdf)

[2019-08-19 16:06] jdkent commented on #1295
I hope to have the current revisions done by Friday this week.

[2019-08-19 16:14] MatthewFlamm commented on #1621
Do I need to update the version number in the paper too, if I update the version for the state of the review?

[2019-08-19 16:24] xuanxu commented on #1621
Where do you mention the version number in the paper? I can't find it

[2019-08-19 16:38] jminnier commented on #1587
@arokem Indeed, I believe this paper is ready to be accepted.

[2019-08-19 16:39] klmedeiros commented on #1587
@arokem My apologies, I did test the package out a bit (differences between downloading full dataset or a sample) and found it good, and forgot to check that off. I have now, and I believe the paper is ready to be accepted.

[2019-08-19 16:42] zhampel commented on #1656
@ornlpmcp Here is my initial review. I will await your reply to my comments to continue my review.

**Paper**

	I think the paper needs further motivation to support your submission. Perhaps by describing why your package facilitates analysis either over existing packages or by highlighting its strengths. This would also help clarify the intended use case and audience. In addition to corrections t

[2019-08-19 16:58] arokem commented on #1587
Thanks both!

[2019-08-19 16:58] arokem commented on #1587
@whedon check references

[2019-08-19 16:58] whedon commented on #1587
[code]

[2019-08-19 16:58] whedon commented on #1587
[code]

[2019-08-19 17:01] MatthewFlamm commented on #1621
Sorry for the confusion. For some reason I thought the version number at the top of this review issue was taken from the metadata of the paper.  You are right that the version number is nowhere in the paper.

[2019-08-19 17:02] arokem commented on #1587
@frycast : everything looks good!

At this point, could you please make a new release of this software that includes the changes that have resulted from the review? Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive. For the archive version, please make sure that:

- The title of the archive is the same as the JOSS paper

[2019-08-19 17:10] TomDonoghue commented on #1658
Hey @danielskatz - thanks for editing this submission!

I re-generated the PDF to fix some bullet lists that I hadn't quite formatted right.

In terms of reviewers, from the list of JOSS reviewers, the most relevant listings seem to me to be:
- Petar Maric (https://bitbucket.org/petar/)
- @\bagheria
- @\adammichaelwood
- @\linuxscout
- @\timClicks
- @\crew102

These aren't people I know personally

[2019-08-19 17:28] mbobra commented on #1614
Thanks, @xuanxu!

- We merged the JOSS paper into the [master branch of the repo](https://github.com/sunpy/drms/tree/master)
- We released a new version of `drms` three days ago, [v0.5.7](https://github.com/sunpy/drms/releases/tag/v0.5.7)
- We archived this release in Zenodo with the DOI [10.5281/zenodo.3369966](https://zenodo.org/record/3369966)
- All the paper authors are also listed in the Zeno

[2019-08-19 17:42] xuanxu commented on #1614
Great, @mbobra!

[2019-08-19 17:42] xuanxu commented on #1614
@whedon set v0.5.7 as version

[2019-08-19 17:42] whedon commented on #1614
OK. v0.5.7 is the version.

[2019-08-19 17:43] xuanxu commented on #1614
@whedon set 10.5281/zenodo.3369966 as archive

[2019-08-19 17:43] MatthewFlamm commented on #1621
I archived on zenodo

version: 0.5.1

Zenodo DOI: 10.5281/zenodo.3371640

[link](https://doi.org/10.5281/zenodo.3371640)

[2019-08-19 17:43] whedon commented on #1614
OK. <a href="https://doi.org/10.5281/zenodo.3369966" target="_blank">10.5281/zenodo.3369966</a> is the archive.

[2019-08-19 17:46] xuanxu commented on #1614
@mbobra could you edit the title of the Zenodo archive to:
`drms: A Python package for accessing HMI and AIA data` so it has the same title as the paper?

[2019-08-19 17:46] MatthewFlamm commented on #1621
Thanks @dandavies99 and @ctdegroot for making this open source package better.  I appreciate your comments as it is always hard to view your own creation through others eyes.

[2019-08-19 17:49] xuanxu commented on #1621
Thanks, @MatthewFlamm!

[2019-08-19 17:49] xuanxu commented on #1621
@whedon set v0.5.1 as version

[2019-08-19 17:49] whedon commented on #1621
OK. v0.5.1 is the version.

[2019-08-19 17:50] xuanxu commented on #1621
@whedon set 10.5281/zenodo.3371640 as archive

[2019-08-19 17:50] whedon commented on #1621
OK. <a href="https://doi.org/10.5281/zenodo.3371640" target="_blank">10.5281/zenodo.3371640</a> is the archive.

[2019-08-19 17:53] adavidzh commented on #1645
Hi @lpantano. I'm afraid I'm tight for time these coming weeks and the topic is a little too far away from my comfort zone.

[2019-08-19 17:57] xuanxu commented on #1621
All ready por publication :tada:. Pinging @openjournals/joss-eics for final acceptance.

[2019-08-19 18:45] mbobra commented on #1640
@whedon assign @henrik227 as reviewer

[2019-08-19 18:45] whedon commented on #1640
OK, the reviewer is @henrik227

[2019-08-19 18:50] mbobra commented on #1524
@whedon remind @paragkulkarni11 in one hour

[2019-08-19 18:50] whedon commented on #1524
Reminder set for @paragkulkarni11 in one hour

[2019-08-19 19:50] whedon commented on #1524
:wave: @paragkulkarni11, please update us on how your review is going.

[2019-08-19 20:08] ikarosilva commented on #1617
@lheagy Happy to review this ! Please let me know the timeframe that we are working with so that I can plan accordingly.

Thank you,

-Ikaro

[2019-08-19 20:37] lheagy commented on #1617
Many thanks @ikarosilva! I will start the review issue. In it, there will be a checklist to help guide your review. If possible, we would appreciate getting your review within the next two weeks.

[2019-08-19 20:37] lheagy commented on #1617
@whedon add @ikarosilva as reviewer

[2019-08-19 20:37] whedon commented on #1617
OK, @ikarosilva is now a reviewer

[2019-08-19 20:37] lheagy commented on #1617
@whedon start review

[2019-08-19 20:37] whedon opened #1663 "[REVIEW]: SleepPy: A python package for sleep analysis from accelerometer data"
**Submitting author:** @elyiorgos (<a href="http://orcid.org/0000-0003-3371-8935">Yiorgos Christakis</a>)
**Repository:** <a href="https://github.com/elyiorgos/sleeppy" target ="_blank">https://github.com/elyiorgos/sleeppy</a>
**Version:** 0.2.21
**Editor:** @lheagy
**Reviewers:** @eskofier, @ikarosilva, @nhejazi
**Archive:** <a href="https://doi.org/10.5281/zenodo.3572581" target="_blank">10.5281

[2019-08-19 20:37] whedon commented on #1617
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1663. Feel free to close this issue now!

[2019-08-19 20:37] whedon commented on #1663
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @eskofier, @ikarosilva it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-08-19 20:37] whedon commented on #1663
[code]

[2019-08-19 20:37] #1617 closed

[2019-08-19 20:38] whedon commented on #1663
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01663/joss.01663/10.21105.joss.01663.pdf)

[2019-08-19 22:59] kbg commented on #1614
I just updated the title on Zenodo (I could not find a way to give @mbobra write access to the Zenodo record).

[2019-08-20 00:20] nnadeau commented on #1615
@arfon i can review 👍

[2019-08-20 01:52] satra commented on #1626
@brainstorm - i have completed the checklist

[2019-08-20 02:14] brainstorm commented on #1626
Thanks @satra! I noticed that you didn't check the versioning box... is it because it does not follow [semver](https://semver.org)? (has a `v` as a prefix). If so, @heilerich, could you stick to the [semver](https://semver.org) spec on your releases?

[2019-08-20 02:16] brainstorm commented on #1626
@rougier no worries, see you next week!

@satra Do you reckon that the "statement of need" is not clear/complete?

[2019-08-20 02:21] satra commented on #1626
@brainstorm

- the latest release has not been tagged or pushed to github. pypi says 1.1.0, but github still has 1.0.1
- statement of need is in the pdf of the paper but not in the documentation itself. target audience is in neither and could be made more explicit.

[2019-08-20 02:56] brainstorm commented on #1626
Thanks Satra, good points. @heilerich, could you please address the points raised please?

[2019-08-20 04:04] ezsolti commented on #1650
Yes, thank you for the clarification @katyhuff. I am not supposed to change the code (which i havent done), or anything in the repo, like minor typos in the the readme (which i have done, but can go back to the original commit)?

[2019-08-20 04:05] ezsolti commented on #1650
Also, I have managed to rewrite the history, thanks for the help!

[2019-08-20 04:07] lheagy commented on #1663
Thank you @eskofier and @ikarosilva for being willing to review! Above there is a checklist to help guide your review. Please feel free to open issues on the [target repository](https://github.com/elyiorgos/sleeppy) with comments or suggestions for improvement in the submission and link them here by mentioning `openjournals/joss-reviews#1663` in the issue text.

If you are able to complete your re

[2019-08-20 06:07] mlindsk commented on #1653
@whedon generate pdf

[2019-08-20 06:07] whedon commented on #1653
[code]

[2019-08-20 06:07] xuanxu commented on #1614
Yay! :tada:
This is now ready por publication. Pinging @openjournals/joss-eics for final acceptance.

[2019-08-20 06:07] whedon commented on #1653
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01653/joss.01653/10.21105.joss.01653.pdf)

[2019-08-20 06:15] mlindsk commented on #1653
@csoneson Goodmorning.

 - check

 - It renders fine when i'm running pandoc locally - i dont have control over the JOSS config. At least I wouldn't know how to change this. Any advice would be helpful.

 - Thanks - I was not aware that I could simply remove the brackets.

 - I have capitalized exactly the same words as in the reference. Again, it is something the JOSS pandoc config does.

[2019-08-20 06:27] clemaitre58 commented on #1615
@arfon I can also review it.

[2019-08-20 06:27] csoneson commented on #1653
I think both of these issues can be solved by an extra pair of curly brackets. I just sent a PR.

[2019-08-20 06:37] jdeligt commented on #1653
Count me in

On Tue, 20 Aug 2019, 1:00 am Charlotte Soneson, <notifications@github.com>
wrote:

[2019-08-20 06:43] mlindsk commented on #1653
@whedon generate pdf

[2019-08-20 06:43] whedon commented on #1653
[code]

[2019-08-20 06:43] whedon commented on #1653
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01653/joss.01653/10.21105.joss.01653.pdf)

[2019-08-20 06:47] nuest commented on #1603
:tada: Thank you @vsoch and @cole-brokamp for the great review experience and the useful feedback, especially on improving the manuscript and increasing accessibility for newcomers and potential contributors.

https://github.com/o2r-project/containerit/pull/160 is merged.

[2019-08-20 06:47] nuest commented on #1603
@whedon generate pdf

[2019-08-20 06:47] whedon commented on #1603
[code]

[2019-08-20 06:48] mlindsk commented on #1653
@csoneson

Fantastic to learn new things in bibfiles. Seems corrected now.

@jdeligt

Fantastic!

[2019-08-20 06:48] whedon commented on #1603
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01603/joss.01603/10.21105.joss.01603.pdf)

[2019-08-20 06:48] nuest commented on #1603
I also updated the tag: https://github.com/o2r-project/containerit/releases/tag/v0.5.0

_Is it time now to create the release on Zenodo?_

[2019-08-20 06:58] nuest commented on #1603
I also updated the tag: https://github.com/o2r-project/containerit/releases/tag/v0.5.0

_Is it time now to create the release on Zenodo_ @terrytangyuan _?_

[2019-08-20 07:04] frycast commented on #1587
Thanks @arokem . I've made the new release and an archive on Zenodo with DOI: 10.5281/zenodo.3371922

[2019-08-20 08:23] fauvernierma commented on #1434
Hi,

It looks almost good to us, I just need to make sure that the CENSUR group won't be considered as the last author.

Typically, if you look at this article in pubmed
https://www.ncbi.nlm.nih.gov/pubmed?term=(Roche%5BAuthor%20-%20Last%5D)%20AND%20%22Statistical%20methods%20in%20medical%20research%22%5BJournal%5D

the CENSUR group appears at the end as a "CORPORATE AUTHOR" but Laurent Roche is c

[2019-08-20 10:16] nuest commented on #1603
FYI: I'm currently fixing some small glitches since an online resource used in the tests is not available right now. Hardening the tests should do it.

[2019-08-20 10:47] csoneson commented on #1434
I think we need @arfon here, but I don't think that the CENSUR group would be interpreted differently than the other authors.

[2019-08-20 10:53] usethedata commented on #1542
@whedon remove @monogan as reviewer

[2019-08-20 10:53] whedon commented on #1542
OK, @monogan is no longer a reviewer

[2019-08-20 10:53] nuest commented on #1603
Everything's in order now (https://github.com/o2r-project/containerit/releases/tag/v0.5.0). Also fixed a DOI URL, so...

@whedon generate pdf

[2019-08-20 10:53] usethedata commented on #1542
@whedon add @usethedata as reviewer

[2019-08-20 10:53] whedon commented on #1542
OK, @usethedata is now a reviewer

[2019-08-20 10:53] nuest commented on #1603
@whedon generate pdf

[2019-08-20 10:53] whedon commented on #1603
[code]

[2019-08-20 10:54] whedon commented on #1603
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01603/joss.01603/10.21105.joss.01603.pdf)

[2019-08-20 10:56] arfon commented on #1615
@whedon add @nnadeau as reviewer

[2019-08-20 10:56] whedon commented on #1615
OK, @nnadeau is now a reviewer

[2019-08-20 10:56] arfon commented on #1615
@whedon start review

[2019-08-20 10:56] whedon opened #1664 "[REVIEW]: Rudi: Lightweight image converter and dataset augmentor"
**Submitting author:** @liashchynskyi (<a href="http://orcid.org/0000-0002-3920-6239">Petro Liashchynskyi</a>)
**Repository:** <a href="https://github.com/liashchynskyi/rudi" target ="_blank">https://github.com/liashchynskyi/rudi</a>
**Version:** 1.0
**Editor:** @arfon
**Reviewer:** @casperdcl, @nnadeau
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/347e879c449b4346e5366

[2019-08-20 10:56] whedon commented on #1615
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1664. Feel free to close this issue now!

[2019-08-20 10:56] whedon commented on #1664
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @casperdcl, @nnadeau it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-08-20 10:56] whedon commented on #1664
[code]

[2019-08-20 10:57] whedon commented on #1664
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01664/joss.01664/10.21105.joss.01664.pdf)

[2019-08-20 10:58] arfon commented on #1615
I've already secured two reviewers now so I'll move forward with them. Thanks for volunteering though!

@casperdcl, @nnadeau, @liashchynskyi - see you over in #1664 for the actual review

[2019-08-20 10:58] #1615 closed

[2019-08-20 10:58] arfon commented on #1664
@casperdcl, @nnadeau - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-08-20 10:58] usethedata commented on #1542
@ShanaScogin Thanks for your patience.  In the interests of getting this completed, I went ahead and did the second review myself.  It was interesting to read through how you did the work.  It's been a while since I've done this sort of cross-validation work.  @andrewheiss did the hard work with the initial review and I don't have much to add.  I did, not surprisingly, have a bit of a challenge to

[2019-08-20 10:59] usethedata commented on #1542
@ShanaScogin Please go ahead and deposit a copy of this with Zenodo

[2019-08-20 11:01] arfon commented on #1434
As currently written, the CENSUR group is the last author. This PR should fix that: https://github.com/fauvernierma/survPen/pull/17

[2019-08-20 13:04] danielskatz commented on #1658
Hi - I'm on vacation, so this will happen a little slower than normal (but still faster than a traditional journal), and thanks in advance for your patience

[2019-08-20 13:05] danielskatz commented on #1658
👋 @bagheria, @adammichaelwood, @linuxscout, @timClicks, @crew102 - Would a couple of you be willing to review this submission for JOSS?

[2019-08-20 13:07] vsoch commented on #1603
@nuest has addressed all of my issues! Here are the first two that I forgot to link:

 - https://github.com/o2r-project/containerit/issues/153
 - https://github.com/o2r-project/containerit/issues/156

The last little bit would be to bump the version, in the case that the software was tweaked for review? That's my last bullet, so when we've verified the version, and released on Zenodo, I recommend

[2019-08-20 14:00] jkanche commented on #1653
I can review this package as well!

[2019-08-20 14:03] mlindsk commented on #1653
@jkanche Fantastic!

[2019-08-20 14:08] terrytangyuan commented on #1603
Thanks everyone! @nuest does v0.5.0 contain all the fixes you want or do you still need to release another one?

[2019-08-20 14:10] vsoch commented on #1603
Version 0.5.0 was the original that was submit, so I think given the changes probably another release is needed?

[2019-08-20 14:12] terrytangyuan commented on #1603
Yes, @nuest please release another version and then I’ll update the version number here.

[2019-08-20 14:39] whedon commented on #1618
[code]

[2019-08-20 14:40] whedon commented on #1618
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01618/joss.01618/10.21105.joss.01618.pdf)

[2019-08-20 14:44] kyleniemeyer commented on #1610
Hi @holtgrewe, I just made some minor fixes to the paper bib file, if you could merge these: https://github.com/bihealth/altamisa/pull/67

[2019-08-20 14:45] katyhuff commented on #1650
@ezsolti : very minor changes are fine, as are changes related to satisfying the recommendations of the reviewers. It's just that, for cleanliness of the meaning of the review process, major changes shouldn't be incorporated mid-review (unless called for by the review process itself). Don't worry, we try to keep it really quick, and you can always work in another branch to keep your master branch

[2019-08-20 14:45] holtgrewe commented on #1610
@kyleniemeyer Sure, done. :white_check_mark:

[2019-08-20 14:47] kyleniemeyer commented on #1610
@whedon generate pdf

[2019-08-20 14:47] whedon commented on #1610
[code]

[2019-08-20 14:48] whedon commented on #1610
PDF failed to compile for issue #1610 with the following error:

 Error reading bibliography ./paper.bib (line 37, column 5):
unexpected "y"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-20 14:50] holtgrewe commented on #1610
@whedon generate pdf

[2019-08-20 14:50] whedon commented on #1610
[code]

[2019-08-20 14:51] whedon commented on #1610
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01610/joss.01610/10.21105.joss.01610.pdf)

[2019-08-20 14:51] kyleniemeyer commented on #1610
Thanks @holtgrewe, looks like I dropped a comma in my edits...

[2019-08-20 14:52] kyleniemeyer commented on #1610
@whedon accept

[2019-08-20 14:52] holtgrewe commented on #1610
:)

[2019-08-20 14:52] whedon commented on #1610
[code]

[2019-08-20 14:52] whedon commented on #1610
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/909

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/909, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-20 14:56] kyleniemeyer commented on #1610
@whedon accept deposit=true

[2019-08-20 14:56] whedon commented on #1610
[code]

[2019-08-20 14:56] fauvernierma commented on #1434
Hello again,

I apologize if my request seems weird but this is not really an ordering. The CENSUR group should be treated differently than the "proper" authors.

For example, for the article I cited before, the information concering the article is indexed as follows

https://www.ncbi.nlm.nih.gov/pubmed?term=(Flexible%5BTitle%5D%20AND%20structured%5BTitle%5D%20AND%20survival%5BTitle%5D%20AND%20mod

[2019-08-20 14:57] whedon commented on #1610
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1163827343397466112) 👈 🐦🐦🐦

[2019-08-20 14:57] whedon commented on #1610
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/910
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01610](https://doi.org/10.21105/joss.01610)
2. If everything looks go

[2019-08-20 14:58] nuest commented on #1603
Version `0.6.0` is released on GitHub: https://github.com/o2r-project/containerit/releases/tag/v0.6.0

May I release to Zenodo?

[2019-08-20 14:59] kyleniemeyer commented on #1610
Congrats @holtgrewe on your article's publication in JOSS! Thanks to @tleonardi, @dsurujon, and @dmnfarrell for reviewing, and @lpantano for editing.

[2019-08-20 14:59] #1610 closed

[2019-08-20 14:59] whedon commented on #1610
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01610/status.svg)](https://doi.org/10.21105/joss.01610)

**We need your help!**

Journal of Open Source Softwa

[2019-08-20 15:03] arfon commented on #1434
Ah OK, thanks for clarifying. I'm afraid this isn't something we can support with our paper metadata.

It sounds like it might be best to remove CENSUR from the author list.

[2019-08-20 15:04] terrytangyuan commented on #1603
@whedon set 0.6.0 as version

[2019-08-20 15:04] whedon commented on #1603
OK. 0.6.0 is the version.

[2019-08-20 15:05] terrytangyuan commented on #1603
Yes @nuest. Please make sure the authors field and version in Zenondo match with the paper.

[2019-08-20 15:08] kyleniemeyer commented on #1614
@whedon generate pdf

[2019-08-20 15:08] whedon commented on #1614
[code]

[2019-08-20 15:09] fauvernierma commented on #1434
ok it is done (https://github.com/fauvernierma/survPen/commit/0ac67f698ca7a9eb540107a55685e8b557a998e3)

I will create the zenodo archive now

Thank you for your time

[2019-08-20 15:09] whedon commented on #1614
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01614/joss.01614/10.21105.joss.01614.pdf)

[2019-08-20 15:12] fauvernierma commented on #1434
@whedon generate pdf

[2019-08-20 15:12] whedon commented on #1434
[code]

[2019-08-20 15:13] whedon commented on #1434
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01434/joss.01434/10.21105.joss.01434.pdf)