[2020-02-27 22:50] labarba commented on #2076
Hi folks —  I am the Associate Editor-in-Chief on rotation this week. I'm going to send this back to you for some more work, because the paper does not meet [our expectations](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). This paper is very short: the [word counter](https://wordcounter.net) tool says 197 words. While we don't expect a full article, we ask for

[2020-02-27 23:03] labarba commented on #1889
Hi folks — I am the Associate Editor-in-Chief on rotation this week. I'm not familiar with Bitbucket, and I can't find where the version is set to v2.3.1.1. When I look at [tags](https://bitbucket.org/hammurabicode/hamx/downloads/?tab=tags), I see xv.02.02 and when I look at the Wiki, it says xv.02.03 on version history.

Can you clarify for me how the version should display in the repository?

[2020-02-27 23:14] marcosvital commented on #2069
Hi, @Sergio-Bejar ! I'm terribly sorry about the delayed reply and for not being able to check in to follow your submission and keep it moving - I was unable to work on this over the last couple of weeks, and should have let the rest of the team know and assigned someone else. I'm truly sorry about this, and will note let that happen again.

I'll follow up calling the potential reviewers, ok, and

[2020-02-27 23:15] marcosvital commented on #2069
Dear @andybega, @alletsee and @rdrr1990:

Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review, once there are enough reviewers, we will move on to a new issue where the review will take place.

If you are not able,

[2020-02-27 23:20] marcosvital commented on #1974
Hi, @rhagenson , yes, we can move on to review!

[2020-02-27 23:20] marcosvital commented on #1974
@whedon add @rabdill as reviewer

[2020-02-27 23:20] whedon commented on #1974
OK, @rabdill is now a reviewer

[2020-02-27 23:20] marcosvital commented on #1974
@whedon add @djmitche as reviewer

[2020-02-27 23:26] marcosvital commented on #1974
@whedon assign @djmitche as reviewer

[2020-02-27 23:26] whedon commented on #1974
OK, @djmitche is now a reviewer

[2020-02-27 23:26] marcosvital commented on #1974
@whedon add @rabdill as reviewer

[2020-02-27 23:26] whedon commented on #1974
OK, @rabdill is now a reviewer

[2020-02-27 23:31] marcosvital commented on #1974
OK, we are ready to go. This issue will be closed soon, and we will all move to a new one, dedicated to review.

[2020-02-27 23:31] marcosvital commented on #1974
@whedon start review

[2020-02-27 23:31] whedon opened #2124 "[REVIEW]: relped: Build Relatedness Pedigrees"
**Submitting author:** @RHagenson (<a href="http://orcid.org/0000-0001-9750-1925">Ryan Hagenson</a>)
**Repository:** <a href="https://github.com/rhagenson/relped" target ="_blank">https://github.com/rhagenson/relped</a>
**Version:** v1.0.0
**Editor:** @marcosvital
**Reviewer:** @djmitche, @rabdill
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/b5c476c1ce08df5db16410accd7

[2020-02-27 23:31] whedon commented on #1974
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2124.

[2020-02-27 23:31] #1974 closed

[2020-02-27 23:31] whedon commented on #2124
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @djmitche, @rabdill it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2020-02-27 23:32] whedon commented on #2124
[code]

[2020-02-27 23:32] whedon commented on #2124
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02124/joss.02124/10.21105.joss.02124.pdf)

[2020-02-27 23:45] labarba commented on #2112
After a pre-review of your submission, and an assessment by the editorial board at large, we find that it does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). In particular, while the software seems useful, it falls under the 'Minor utility' category, and we therefore decided not to put it through review.

Our eligibility crite

[2020-02-27 23:45] #2112 closed

[2020-02-27 23:46] labarba commented on #2112
@whedon reject

[2020-02-27 23:46] whedon commented on #2112
Paper rejected.

[2020-02-28 00:09] afrubin commented on #2076
@labarba Thank you for this feedback. When I did the word count myself, I had included the acknowledgements and counted from the rendered PDF rather than the source.

I have added extra detail throughout the text and should now meet the word count requirements.

The updated zenodo record is here: https://zenodo.org/record/3690230

[2020-02-28 00:34] marcosvital commented on #2041
Thank you, @tomfaulkenberry! I'll wait for us to have one or two more reviewers, and we will move on to the reviewing phase.

@mmrabe , since I didn't hear from two of the potential reviewers, I'll try to reach a few more, and we will hopefully be able to start the reviewing process.

[2020-02-28 00:35] marcosvital commented on #2041
Dear @rmhogervorst and @JonathanReardon

Would you be willing to review this submission for JOSS?
If you are still new to this, we carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review, and once there are enough reviewers, we will move on to a new issue where the review will t

[2020-02-28 00:50] JonathanReardon commented on #2041
Hi, yes happy to review this! please sign me up for this one

Jon

[2020-02-28 01:47] WilkAndy commented on #2118
@Kevin-Mattheus-Moerman , is it possible to change the Repo of this to

https://github.com/WilkAndy/PorousFlowDescription

?  The code is NOT at that location, only the paper.md, paper.bib, LICENSE and README.md that points to the code's location.

We've read the whedon Ruby script and think the first stage is to clone the Repo, which is failing.  This is because https://github.com/idaholab/moose/

[2020-02-28 02:02] jedbrown commented on #2118
We could change it, but standard practice is to put it in the parent repository and rename or delete the paper source after publication. There have been a few Landlab examples of this pattern: https://github.com/openjournals/joss-reviews/issues?utf8=%E2%9C%93&q=is%3Aissue+landlab

[2020-02-28 02:39] madvn commented on #1609
Hi @poulson,

Just a gentle reminder to take a look at this. Do let me know if there is anything I need to do. Thank you!

[2020-02-28 03:17] WilkAndy commented on #2118
Aha, i get it, thanks @jedbrown .    I will organise a separate branch of MOOSE to be created.

[2020-02-28 05:29] josephhardinee commented on #2123
@commands whedon

[2020-02-28 05:30] josephhardinee commented on #2123
@whedon commands

[2020-02-28 05:30] whedon commented on #2123
Here are some things you can ask me to do:

[code]

[2020-02-28 05:31] josephhardinee commented on #2123
@jedbrown I appear to be unable to click on the checkboxes. The invite to collaborate link also says expired.

[2020-02-28 08:34] ThomasLecocq commented on #1808
All checks above are OK for me, I just proposed some changes to make windows fortran a real thing :)

(I cannot change the checkboxes above, sorry)

and sorry for the awful delay....

[2020-02-28 08:37] leouieda commented on #1808
@whedon add @ThomasLecocq as reviewer

[2020-02-28 08:37] whedon commented on #1808
OK, @ThomasLecocq is now a reviewer

[2020-02-28 08:39] leouieda commented on #1808
Hi @ThomasLecocq thank you for the review and comments! I tried re-assigning you. Please check your inbox for an invitation to the organization so that you can edit the checkboxes. You might want to "unwatch" this repository since there will be a lot of activity.

[2020-02-28 08:40] ThomasLecocq commented on #1808
@leouieda all OK, I can now check the boxes

[2020-02-28 09:49] ThomasLecocq commented on #1808
@whedon commands

[2020-02-28 09:49] whedon commented on #1808
Here are some things you can ask me to do:

[code]

[2020-02-28 10:28] andybega commented on #2069
Hi @marcosvital, I’m on vacation until 16 March. Most likely I would not be able to do a review until that week. If that’s ok, I can do it.

[2020-02-28 11:52] drvinceknight commented on #2113
I understand, thank you for getting back to me @nick-gauthier :+1:

[2020-02-28 14:07] arfon commented on #2123
@josephhardinee - could you try the invite now again? https://github.com/openjournals/joss-reviews/invitations

[2020-02-28 15:21] DingXuefeng commented on #2108
I can review

[2020-02-28 16:03] anmolter commented on #1753
@leouieda Do you want me to get some more names from the JOSS reviewers list? Or some people that are not on the reviewer list?

[2020-02-28 16:25] gioacchinowang commented on #1889
@labarba Dear Editor-in-Chief, the zenodo can only link with github account, so I made a mirror at github and get a zenodo DOI, and so the version tag was made only in github and forgot to sync it to bitbucket, now the version issue is fixed, both in the repo and the wiki.

[2020-02-28 16:28] josephhardinee commented on #2123
Thanks it works now.

[2020-02-28 16:47] josephhardinee commented on #2099
@jedbrown  I can suggest @ekschuman as another reviewer as well if you would like. I checked and he is available.

[2020-02-28 18:14] leouieda commented on #1753
@anmolter that would be great. I got back some "maybe"s in my search. The main challenge is finding people with access to ArcGIS Pro. Can PyLUR run on the non-Pro version as well? That might simplify things.

[2020-02-28 18:19] mbobra commented on #2108
@whedon add @DingXuefeng as reviewer

[2020-02-28 18:19] whedon commented on #2108
OK, @DingXuefeng is now a reviewer

[2020-02-28 18:21] srmnitc commented on #2003
I am also fine with this

[2020-02-28 18:22] mbobra commented on #2108
@DingXuefeng @hpparvi

This JOSS submission/paper is a joint publication with AAS Journals, i.e. this JOSS paper will be published together with another paper in one of the AAS journals. As part of this collaboration, AAS publishing makes a small donation to the running costs of JOSS.

If this is unacceptable to you, please let me know and I can look for alternative reviewers.

Some related links:

[2020-02-28 18:24] mbobra commented on #2108
@whedon start review

[2020-02-28 18:24] whedon opened #2125 "[REVIEW]: Maelstrom: A Python package for identifying companions to pulsating stars from their light travel time variations"
**Submitting author:** @danhey (<a href="http://orcid.org/0000-0003-3244-5357">Daniel Hey</a>)
**Repository:** <a href="https://github.com/danhey/maelstrom" target ="_blank">https://github.com/danhey/maelstrom</a>
**Version:** v0.3
**Editor:** @mbobra
**Reviewers:** @hpparvi, @mbobra
**Archive:** <a href="https://doi.org/10.5281/zenodo.3937862" target="_blank">10.5281/zenodo.3937862</a>

## Status

[2020-02-28 18:24] whedon commented on #2108
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2125.

[2020-02-28 18:24] #2108 closed

[2020-02-28 18:24] whedon commented on #2125
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hpparvi, @DingXuefeng it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-02-28 18:24] whedon commented on #2125
[code]

[2020-02-28 18:25] whedon commented on #2125
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02125/joss.02125/10.21105.joss.02125.pdf)

[2020-02-28 18:26] mbobra commented on #2125
@hpparvi, @DingXuefeng Thank you for agreeing to review this submission! We really appreciate your time. Whedon generated a checklist and linked a reviewer guide above. Please let me know if you have any questions or comments, and please feel free to have an open dialogue with the submitting author and each other ☀️

[2020-02-28 18:47] kyleniemeyer commented on #1889
@gioacchinowang just FYI: to archive a repository at Zenodo, you do not need to set up the GitHub-Zenodo link. Instead, wherever the software is hosted, you just need to archive the repository into a .zip, .tar.gz, etc. file and upload this to Zenodo. In the Zenodo entry metadata, you can then insert the URL pointing to the repository.

[2020-02-28 18:56] akeshavan commented on #2017
@whedon add @tweed1e as reviewer

[2020-02-28 18:56] whedon commented on #2017
OK, @tweed1e is now a reviewer

[2020-02-28 19:00] akeshavan commented on #1983
@whedon set 10.5281/zenodo.3687340 as archive

[2020-02-28 19:00] whedon commented on #1983
OK. <a href="https://doi.org/10.5281/zenodo.3687340" target="_blank">10.5281/zenodo.3687340</a> is the archive.

[2020-02-28 19:02] akeshavan commented on #1983
@whedon generate pdf

[2020-02-28 19:03] whedon commented on #1983
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01983/joss.01983/10.21105.joss.01983.pdf)

[2020-02-28 19:06] akeshavan commented on #1983
@Marcdh3 can you take a final look at the proof above, and confirm that everything looks good? Once confirmed, its ready to go for publishing 👍

[2020-02-28 19:10] akeshavan commented on #2111
hi @donaldRwilliams -- could you take a look at your repo and put the paper.md file in the root of your repository, so that we can generate a PDF automatically ?

[2020-02-28 19:24] Kevin-Mattheus-Moerman commented on #1867
@paulvangentcom can you check these new developments? :point_up:

[2020-02-28 19:43] Marcdh3 commented on #1983
@akeshavan Everything looks good!

[2020-02-28 22:03] effigies commented on #1958
@dfm My concerns have been addressed.

I submitted a minor PR (https://github.com/McMasterRS/LFSpy/pull/6) for some cleanups in the documentation, but that should not be considered blocking.

[2020-02-28 23:11] cMadan commented on #1847
@yarikoptic @gkiar, the review process here is a back-and-forth between the authors and reviewers, so it usually goes on for a few weeks. For this particular submission I've been having troubling finding suitable reviewers, so I think we can accomodate what works for both of you.

@gkiar, as long as another reviewer is able to judge that side of things, I think that's fine and it would be great to

[2020-02-29 01:39] gioacchinowang commented on #1889
@kyleniemeyer Cool, many thanks!

[2020-02-29 04:46] jessicaaustin commented on #2063
### Conflict of interest

I do not believe this is a conflict of interest as outlined in the JOSS guidelines, but I do want to state that I am a maintainer of a similar open-source QC library, https://github.com/ioos/ioos_qc .

### Overall thoughts:

I agree 100% with the author's philosophy that QC procedures should be organized and distributed as code packages in order to widely and consistently

[2020-02-29 08:01] olivertomic commented on #1992
@csoneson - starting today.

[2020-02-29 08:27] jdeligt commented on #2119
Hi @telatin,

Overall looking good, please consider the integrity and performance check marks in;
https://github.com/telatin/covtobed/issues/6

And please update example usage as specified in;
https://github.com/telatin/covtobed/issues/5

Best regards,
Joep

[2020-02-29 09:09] ThomasLecocq commented on #1808
@leouieda all seem green light to me!

[2020-02-29 13:36] kiretd commented on #1958
Hi @dfm
Thanks for checking in. Yes, I did get the recommendations by @sauln (thanks for those @sauln). I just moved continents last week, so I haven’t gotten much done on this myself yet. The team has been working on some of the recommendations in the meantime, and hopefully we’ll have an update soon.

@sauln:
Thanks for your suggestions! I’ll respond one by one.

Thanks, looks fixed on our end n

[2020-02-29 14:31] oxinabox commented on #2090
Below follows my, admittedly fairly limited, evaluation of performance.

[code]

Seems it is much faster than working with a large number of samples, but similarly accurate.

Seems good

[2020-02-29 14:47] oxinabox commented on #2090
It would be nice to see reference to other software.
I am sure they must have tools for something similar in R or Python.

---

It would also be nice to see some examples in the documentation of how it's generic fallback can be used with other distribution types.
E.g. with [TransformedDistributions from Bijectors.jl](https://github.com/TuringLang/Bijectors.jl).

More broadly, and related to this,

[2020-02-29 16:01] arnavs commented on #2090
@oxinabox Thanks for finishing the review. And good idea. Will add some references to other langs and types.

There's also the classic `Measurements.jl` add-on that works super well.

[code]

[2020-02-29 16:11] gkthiruvathukal commented on #2001
@xirdneh I was looking through our list of reviewers and saw that you have software engineering as an area of interest. Would you be willing to be the second reviewer for this JOSS submission? I need two reviewers (@mado89 has already agreed) in order to proceed.

[2020-02-29 16:13] gkthiruvathukal commented on #1960
@danieledipompeo We don't have a specific deadline. We're all about ending up with a high-quality submission, and that sometimes takes time. So we'll wait for your additional input, if you have any.

Once you and @arcuri82 signal to me that all of your issues have been addressed by @phillima, I will be happy to proceed with the next steps.

[2020-02-29 16:40] alletsee commented on #2069
Hi @marcosvital,
Thanks for notifying me. I would be willing to review this submission.
I'm working on several things in parallel at the moment, so I might not be able to review it right away. Would a time frame of 2-3 weeks be okay?

[2020-02-29 17:15] satra commented on #1847
@cMadan - sorry don't have the time right now, and also a conflict of interest.

[2020-02-29 18:19] danielskatz commented on #2102
👋 @utf - How is your review going?

[2020-03-01 00:22] cMadan commented on #1847
@satra, no problem, thanks for the response!

[2020-03-01 05:21] arokem commented on #1904
Hi @So-Cool : have you had a chance to complete these steps? Any questions?

[2020-03-01 09:02] dlagrava commented on #2095
@roshansamuel the fix allows me to execute the code and I can run the tests. As a general rule, and I swear I remember a requirement like this on my latest review, we should test a release that you have made sure compiles and works. I will be going through the document and the rest of the review now. Thanks!

[2020-03-01 09:57] aureliocarnero commented on #2101
Hello @xuanxu , could you please recompile the paper draft to show the new changes in the manuscript?
Cheers
Aurelio

[2020-03-01 10:19] aureliocarnero commented on #2101
Dear @noraeisner . Could you please revise the pip3 install routine? After you updated to the new version, I cannot install LATTE correctly. It runs ok, all the dependencies installations, but when I try to run the program, it tells me that "No module named LATTE"
If I install it from the github repo with "pip install .", it works ok.
Cheers
Aurelio

[2020-03-01 10:31] xuanxu commented on #2101
@aureliocarnero I'll recompile the paper now. All the participants in the review can regenerate it anytime, with the same command I'm going to issue next:

[2020-03-01 10:31] xuanxu commented on #2101
@whedon generate pdf

[2020-03-01 10:33] aureliocarnero commented on #2101
@whedon generate pdf

[2020-03-01 10:35] aureliocarnero commented on #2101
@xuanxu thank you, I just saw that it is explained above in the instructions. My fault!
Nonetheless, I do not see the new link to the pdf... Maybe it is because it is taking some time to compile?

[2020-03-01 10:36] xuanxu commented on #2101
@aureliocarnero Yes, it looks like the process is taking too long, I'm going to take a look.

[2020-03-01 10:38] xuanxu commented on #2101
In the meantime you can take a look here: http://res.cloudinary.com/hju22ue2k/image/upload/v1583058972/gqtl5cd1ykdsx8v1hdfl.pdf (just created using http://whedon.theoj.org/ )

[2020-03-01 10:46] xuanxu commented on #2048
@whedon generate pdf

[2020-03-01 10:47] xuanxu commented on #2048
@whedon commands

[2020-03-01 10:47] whedon commented on #2048
Here are some things you can ask me to do:

[code]

[2020-03-01 10:47] whedon commented on #2048
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02048/joss.02048/10.21105.joss.02048.pdf)

[2020-03-01 10:48] xuanxu commented on #2101
@whedon generate pdf

[2020-03-01 10:49] xuanxu commented on #2101
@whedon commands

[2020-03-01 10:49] whedon commented on #2101
Here are some things you can ask me to do:

[code]

[2020-03-01 10:50] whedon commented on #2101
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02101/joss.02101/10.21105.joss.02101.pdf)

[2020-03-01 13:14] arfon commented on #1685
@klmedeiros, @usethedata - thanks again for your reviews here. Unfortunately as the author has been absent now for 5 months I'm think the only reasonable conclusion I can make is that the author is no-longer interested in pursuing this paper in JOSS. As such, I'm going to go ahead and withdraw the submission on their behalf.

[2020-03-01 13:14] arfon commented on #1685
@whedon withdraw

[2020-03-01 13:14] whedon commented on #1685
Paper withdrawn.

[2020-03-01 13:14] #1685 closed

[2020-03-01 15:14] bmorris3 commented on #2103
@rodluger – thanks again!
@dfm – All of @rodluger's issues have been addressed.

[2020-03-01 16:33] rodluger commented on #2103
I confirm!

On Sun, Mar 1, 2020, 10:14 AM Brett M. Morris <notifications@github.com>
wrote:

[2020-03-01 18:14] tweed1e commented on #2017
@akeshavan hi, should I use njtierney's review checklist or make my own?

[2020-03-01 18:39] tweed1e commented on #2017
I'll start my own and copy it back to the top if needed later.

[2020-03-01 18:40] tweed1e commented on #2017
## Review checklist for @tweed1e
### Conflict of interest

- [ ] I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### Code of Conduct

- [ ] I confirm that I read and will adhere to the

[2020-03-01 20:15] whedon opened #2126 "[PRE REVIEW]: Omorfi: Open morphology of Finnish"
**Submitting author:** @flammie (<a href="http://orcid.org/0000-0003-1207-5395">Tommi Pirinen</a>)
**Repository:** <a href="https://github.com/flammie/omorfi/" target ="_blank">https://github.com/flammie/omorfi/</a>
**Version:** 2020-05-11
**Editor:** @hugoledoux
**Reviewers:** @desilinguist
**Managing EiC:** Lorena A Barba

**Author instructions**

Thanks for submitting your paper to JOSS @flammi

[2020-03-01 20:15] whedon commented on #2126
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-01 20:17] whedon commented on #2126
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02126/joss.02126/10.21105.joss.02126.pdf)

[2020-03-01 20:22] labarba commented on #2126
👋 @lorenanicole — This submission is in computational linguistics and natural language processing, and I think you are our only expert in these areas. Can you take it as handling editor? Thanks!

[2020-03-01 20:23] whedon opened #2127 "[PRE REVIEW]: audiomate: A Python package for working with audio datasets"
**Submitting author:** @ynop (<a href="http://orcid.org/0000-0003-0207-5711">Matthias Büchi</a>)
**Repository:** <a href="https://github.com/ynop/audiomate" target ="_blank">https://github.com/ynop/audiomate</a>
**Version:** v5.2.0
**Editor:** @terrytangyuan
**Reviewers:** @mulhod , @faroit
**Managing EiC:** Lorena A Barba

**Author instructions**

Thanks for submitting your paper to JOSS @ynop. *

[2020-03-01 20:23] whedon commented on #2127
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-01 20:24] whedon commented on #2127
[code]

[2020-03-01 20:24] whedon commented on #2127
[code]

[2020-03-01 20:24] whedon commented on #2127
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02127/joss.02127/10.21105.joss.02127.pdf)

[2020-03-01 20:31] labarba commented on #2127
👋  @terrytangyuan — Could you handle this submission as editor? It's a tool for managing audio data sets of differing on-disk formats, to allow using these data as training sets in machine learning workflows with audio.

[2020-03-01 20:33] whedon opened #2128 "[PRE REVIEW]: OpenDrop: Open-source software for pendant drop tensiometry & contact angle measurements"
**Submitting author:** @jdber1 (<a href="http://orcid.org/0000-0002-0961-7782">Joe Berry</a>)
**Repository:** <a href="https://github.com/jdber1/opendrop" target ="_blank">https://github.com/jdber1/opendrop</a>
**Version:** v3
**Editor:** @kyleniemeyer
**Reviewers:** @cryos, @rajeshrinet
**Managing EiC:** Lorena A Barba

**Author instructions**

Thanks for submitting your paper to JOSS @jdber1. **

[2020-03-01 20:33] whedon commented on #2128
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-01 20:33] whedon commented on #2128
[code]

[2020-03-01 20:33] whedon commented on #2128
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02128/joss.02128/10.21105.joss.02128.pdf)

[2020-03-01 20:36] labarba commented on #2128
@openjournals/dev Can you check why our bot didn't run `cloc` on starting this pre-review? And also why it's flagging all those missing DOIs when the paper only has two citations.

[2020-03-01 20:39] labarba commented on #2128
👋 @kyleniemeyer — The authors suggested you as handling editor for this submission. The software facilitates acquisition, analysis and fitting of pendant drop profiles to obtain surface and interfacial tension. Can you take it?

[2020-03-01 20:40] whedon opened #2129 "[PRE REVIEW]: LTRpred: de novo annotation of intact retrotransposons"
**Submitting author:** @HajkD (<a href="http://orcid.org/0000-0002-1567-306X">Hajk-Georg Drost</a>)
**Repository:** <a href="https://github.com/HajkD/LTRpred" target ="_blank">https://github.com/HajkD/LTRpred</a>
**Version:** v1.1.0
**Editor:** @lpantano
**Reviewers:** @dcassol
**Managing EiC:** Lorena A Barba

**Author instructions**

Thanks for submitting your paper to JOSS @HajkD. **Currently,

[2020-03-01 20:40] whedon commented on #2129
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-01 20:41] whedon commented on #2129
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02129/joss.02129/10.21105.joss.02129.pdf)

[2020-03-01 20:51] labarba commented on #2129
👋  @karthik — The authors suggested you as editor for this submission. According to the README: "LTRpred will take any genome assembly file in fasta format as input and will generate a detailed annotation of functional and potentially mobile LTR retrotransposons." It's an R package. Can you handle it?

[2020-03-01 20:52] whedon opened #2130 "[PRE REVIEW]: Matching: A Python library for solving matching games"
**Submitting author:** @daffidwilde (<a href="http://orcid.org/0000-0002-3788-7691">Henry Wilde</a>)
**Repository:** <a href="https://github.com/daffidwilde/matching" target ="_blank">https://github.com/daffidwilde/matching</a>
**Version:** v1.2.1
**Editor:** @VivianePons
**Reviewers:** @igarizio, @mbdemoraes
**Managing EiC:** Lorena A Barba

**Author instructions**

Thanks for submitting your pap

[2020-03-01 20:52] whedon commented on #2130
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-01 20:52] whedon commented on #2130
[code]

[2020-03-01 20:52] whedon commented on #2130
[code]

[2020-03-01 20:52] whedon commented on #2130
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02130/joss.02130/10.21105.joss.02130.pdf)

[2020-03-01 21:01] labarba commented on #2130
👋  @VivianePons — The authors suggested you as handling editor for this submission. It's a package for solving matching games: games with two sets of players, where each player in one set has a ranked preference list of those in the other, and the objective is to find some mapping between the two sets such that no pair of players are unhappy.

Could you handle it?

[2020-03-01 21:02] whedon opened #2131 "[PRE REVIEW]: City2BA: Tools for creating synthetic bundle adjustment problems"
**Submitting author:** @tkonolige (<a href="http://orcid.org/0000-0002-5052-6479">Tristan Konolige</a>)
**Repository:** <a href="https://github.com/tkonolige/city2ba" target ="_blank">https://github.com/tkonolige/city2ba</a>
**Version:** v1.1.0
**Editor:** @poulson
**Reviewers:** @adi3, @breezykermo
**Managing EiC:** Lorena A Barba

**Author instructions**

Thanks for submitting your paper to JOSS

[2020-03-01 21:02] whedon commented on #2131
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-01 21:02] whedon commented on #2131
[code]

[2020-03-01 21:03] whedon commented on #2131
[code]

[2020-03-01 21:03] whedon commented on #2131
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02131/joss.02131/10.21105.joss.02131.pdf)

[2020-03-01 21:15] labarba commented on #2131
👋  @poulson — This submission falls in the general field of computer vision, where we don't have any topic editors. It runs a global nonlinear optimization to minimize the error between the projected location of 3D points in each camera and the actual observed location of the point in the camera frames. Could you handle it as editor?

[2020-03-01 21:16] whedon opened #2132 "[PRE REVIEW]: pygen-structures: A Python package to generate 3D molecular structures for simulations using the CHARMM forcefield"
**Submitting author:** @thesketh (<a href="http://orcid.org/0000-0002-0502-9596">Travis Paul Hesketh</a>)
**Repository:** <a href="https://github.com/thesketh/pygen-structures" target ="_blank">https://github.com/thesketh/pygen-structures</a>
**Version:** v0.2.2
**Editor:** @richardjgowers
**Reviewers:** @dotsdl, @rmeli, @amandadumi
**Managing EiC:** Lorena A Barba

**Author instructions**

Thanks

[2020-03-01 21:16] whedon commented on #2132
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-01 21:16] whedon commented on #2132
[code]

[2020-03-01 21:17] whedon commented on #2132
[code]

[2020-03-01 21:17] whedon commented on #2132
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02132/joss.02132/10.21105.joss.02132.pdf)

[2020-03-01 21:39] labarba commented on #2132
👋  @jedbrown — Could you handle this submission as editor? We don't have a topic editor in computational chemistry, but you know many folks in this area and could identify reviewers. Thanks!

[2020-03-01 21:41] thesketh commented on #2132
From a quick glance at the list of reviewers, RMeli and amandadumi seem to potentially be good reviewers as both have experience in computational chemistry. The DOI suggested for the VMD article seems correct, I'll make sure that I update it!

[2020-03-01 21:46] whedon opened #2133 "[PRE REVIEW]: VlaPy: A Python package for Eulerian Vlasov-Poisson-Fokker-Planck Simulations"
**Submitting author:** @joglekara (<a href="http://orcid.org/0000-0003-3599-5629">Archis Joglekar</a>)
**Repository:** <a href="https://github.com/joglekara/VlaPy" target ="_blank">https://github.com/joglekara/VlaPy</a>
**Version:** v1.0
**Editor:** @dpsanders
**Reviewers:** @TomGoffrey, @StanczakDominik
**Managing EiC:** Lorena A Barba

**Author instructions**

Thanks for submitting your paper to

[2020-03-01 21:46] whedon commented on #2133
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-01 21:46] whedon commented on #2133
[code]

[2020-03-01 21:46] whedon commented on #2133
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02133/joss.02133/10.21105.joss.02133.pdf)

[2020-03-01 21:58] fedorov commented on #2006
@uellue very nice work! I submitted just one issue, and also have few clarification questions below, before I check off the remaining items in the checklist (am not sure if I should submit issues about those):
* I could not find (or missed) pointers to publicly available sample datasets that software users could easily access - would you be able to add some pointers to the documentation?
* there a

[2020-03-01 23:01] labarba commented on #2133
👋 @katyhuff — Could you handle this submission as editor? It is a pure-Python solver for the Vlasov-Poisson-Fokker-Planck based on finite-difference and pseudo-spectral methods. Thanks!

[2020-03-01 23:07] labarba commented on #2076
@whedon accept

[2020-03-01 23:07] whedon commented on #2076
[code]

[2020-03-01 23:07] whedon commented on #2076
[code]

[2020-03-01 23:07] whedon commented on #2076
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1343

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1343, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-01 23:11] labarba commented on #2076
@whedon accept deposit=true

[2020-03-01 23:11] whedon commented on #2076
[code]

[2020-03-01 23:11] whedon commented on #2076
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1234255074043580418) 👈 🐦🐦🐦

[2020-03-01 23:11] whedon commented on #2076
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1344
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02076](https://doi.org/10.21105/joss.02076)
2. If everything looks g

[2020-03-01 23:13] labarba commented on #2076
Congratulations, @afrubin, your JOSS paper is now published! 🚀

Big thanks to our editor: @lpantano, and the reviewers: @natir, @FlorianThibord — we couldn't do this without you 🙏

[2020-03-01 23:13] joglekara commented on #2133
👋 all!

I am honored and excited to contribute.

Here are some potential reviewers I found from the Google Sheet:
TomGoffrey
StanczakDominik
ali-ramadhan

On Sun, Mar 1, 2020 at 5:01 PM Lorena A. Barba <notifications@github.com>
wrote:

[2020-03-01 23:13] #2076 closed

[2020-03-01 23:13] whedon commented on #2076
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02076/status.svg)](https://doi.org/10.21105/joss.02076)

**We need your help!**

Journal of Open Source Softwa

[2020-03-01 23:24] nicoguaro commented on #2074
@pySRURGS, sorry I had some busy days. I will come back to the review this week.

[2020-03-01 23:34] labarba commented on #1959
@whedon accept

[2020-03-01 23:34] whedon commented on #1959
[code]

[2020-03-01 23:34] whedon commented on #1959
[code]

[2020-03-01 23:35] whedon commented on #1959
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1345

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1345, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-01 23:42] labarba commented on #1959
@whedon accept deposit=true

[2020-03-01 23:42] whedon commented on #1959
[code]

[2020-03-01 23:43] whedon commented on #1959
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1234263060954669057) 👈 🐦🐦🐦

[2020-03-01 23:43] whedon commented on #1959
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1346
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01959](https://doi.org/10.21105/joss.01959)
2. If everything looks g

[2020-03-01 23:44] labarba commented on #1959
Congratulations, @jasmainak, your JOSS paper is published! 🚀

Big thanks to our editor: @arokem, and the reviewers: @professoralkmin, @ryEllison — we couldn't do this without you 🙏

[2020-03-01 23:44] #1959 closed

[2020-03-01 23:44] whedon commented on #1959
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01959/status.svg)](https://doi.org/10.21105/joss.01959)

**We need your help!**

Journal of Open Source Softwa

[2020-03-01 23:47] labarba commented on #2075
@whedon accept

[2020-03-01 23:47] whedon commented on #2075
[code]

[2020-03-01 23:47] whedon commented on #2075
[code]

[2020-03-01 23:47] whedon commented on #2075
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1347

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1347, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-01 23:56] labarba commented on #2075
@whedon accept deposit=true

[2020-03-01 23:56] whedon commented on #2075
[code]

[2020-03-01 23:57] whedon commented on #2075
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1234266615312736262) 👈 🐦🐦🐦

[2020-03-01 23:57] whedon commented on #2075
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1348
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02075](https://doi.org/10.21105/joss.02075)
2. If everything looks g

[2020-03-02 00:06] labarba commented on #2075
Congratulations, @ebgoldstein, your JOSS paper is published! 🚀

Big thanks to our editor: @kbarnhart, and reviewers: @katmratliff, @conlin-matt, @chrisleaman — we couldn't do this without you 🙏

[2020-03-02 00:06] #2075 closed

[2020-03-02 00:06] whedon commented on #2075
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02075/status.svg)](https://doi.org/10.21105/joss.02075)

**We need your help!**

Journal of Open Source Softwa

[2020-03-02 00:11] labarba commented on #1889
@whedon accept

[2020-03-02 00:11] whedon commented on #1889
[code]

[2020-03-02 00:12] whedon commented on #1889
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1349

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1349, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-02 00:19] labarba commented on #1889
Hey, @gioacchinowang — you will have to edit the metadata of your Zenodo archive. Note that the author list does not match the paper (Zenodo grabs author list form commits). This often needs to be manually tweaked. The title should also match the paper: "hammurabi X: a C++ package for simulating Galactic emissions."

[2020-03-02 00:24] labarba commented on #2083
👋  @sjpfenninger — It looks like you will need to reach out to your reviewers by email to request an update, and propel this along...

[2020-03-02 00:27] labarba commented on #1843
👋  hi everybody! I see this review stalled for 23 days — could we have an update from reviewers and authors on the status?

[2020-03-02 00:31] labarba commented on #1989
Pinged @story645 via [tweet](https://twitter.com/LorenaABarba/status/1234274680158244864?s=20)

[2020-03-02 00:33] labarba commented on #1655
👋  @poulson — Looks like the author posted some updates that need your attention. Can you pop in here an check?

[2020-03-02 00:36] labarba commented on #1701
👋 @dham — Looks like the other reviewer here has recommended acceptance of this submission. What is the status of your review?

[2020-03-02 00:39] labarba commented on #1942
👋 @benjaminbolling — since it's been 3 weeks since your last comment here, would you like to tell us an estimated time for your work-in-progress? We can set a reminder and/or add the `paused` label.

[2020-03-02 01:47] shah314 commented on #1843
@labarba I see that the second reviewer @probshin is completely silent and has not even accepted the review process. Maybe we need to find another second reviewer. The first reviewer @HaoZeke has approved the work for publication on JOSS.

[2020-03-02 04:40] jasmainak commented on #1959
Thanks a lot @labarba @arokem and the reviewers @professoralkmin and @ryEllison !

[2020-03-02 05:06] terrytangyuan commented on #2127
Yes

@whedon assign @terrytangyuan as editor

[2020-03-02 05:49] jedbrown commented on #1843
I've made contact with @ProbShin by email and he promises to complete the review in the next two weeks.

[2020-03-02 06:44] agricolab commented on #1982
Considering the eventual review & merge of the pull requests, i have the impression that all of my comments have been addressed. Thanks for the effort, and a big hooray to the authors for creating such a toolbox. I can certainly see myself using it and recommending it to my colleagues and students.

[2020-03-02 08:45] oliviaguest commented on #2088
@Cognitive-Modeller ☝️

[2020-03-02 08:47] oliviaguest commented on #2115
@deniederhut ☝️

[2020-03-02 09:51] VivianePons commented on #2130
@whedon assign @VivianePons as reviewer

[2020-03-02 09:53] VivianePons commented on #2130
@whedon assign @VivianePons as editor

[2020-03-02 09:53] whedon commented on #2130
OK, the editor is @VivianePons

[2020-03-02 09:53] VivianePons commented on #2130
Sure!

[2020-03-02 10:10] will-rowe commented on #2061
Hi @jspaezp - I'm just checking in here. Looks as though you've got some good comments from @mschubert and @jenzopr. Are you happy to continue addressing these and then to ping this thread once you'd like us to take another look?

[2020-03-02 10:13] will-rowe commented on #2014
Pinging @betteridiot and @lamhm - could I ask you to take another look at this submission and see if you are happy that your comments have been addressed to your satisfaction?

[2020-03-02 10:40] fcooper8472 commented on #1848
Hi @meg-simula - what's the next step on this?

[2020-03-02 10:57] arfon commented on #2127
@whedon assign @terrytangyuan as editor

[2020-03-02 10:57] whedon commented on #2127
OK, the editor is @terrytangyuan

[2020-03-02 11:33] HajkD commented on #2129
Dear @labarba

Thank you so much for arranging the editorial assignment.

After going through the [reviewer list](https://bit.ly/joss-reviewers), I think the following reviewers could be very suitable: rachelss and dcassol .

I very much look forward to receiving some feedback.

Many thanks!

[2020-03-02 11:42] arfon commented on #2129
@whedon invite @karthik as editor

[2020-03-02 11:42] whedon commented on #2129
@karthik has been invited to edit this submission.

[2020-03-02 11:46] brynpickering commented on #1833
RE **versioning**: there's no reason to be on version 1.0.0 once it's ready for a public release; Pandas only released their version 1.0 this year, having reached v0.25! There's a lot of advice online about versioning (e.g. [here](https://semver.org/)) and I'm only an anecdotal source of wisdom on it. Nonetheless, my view on it is to only move to v1.0 once you're happy with the stability of the AP

[2020-03-02 11:49] sjpfenninger commented on #2083
@labarba Thanks, yes, I'm on it!

[2020-03-02 12:16] deniederhut commented on #2115
Hey! I modified the titles of both the paper and the README last week per your request - you can see the [changes here](https://github.com/deniederhut/niacin/commit/5b5595a069d5233985e8e842353fcf3ca4af8561).

The body of the paper already stated this focus explicitly:

Were there further changes you would like to see?

[2020-03-02 12:35] So-Cool commented on #1904
Hi @arokem, I'm merging two more PRs before creating the release, hence the delay. I should wrap it up soon. I hope that's OK with you.

[2020-03-02 12:48] oliviaguest commented on #2115
Thank you! No changes for now — this is perfect. 😊

[2020-03-02 12:58] dham commented on #1701
OK, I'm now happy with this. In particular, the documentation and testing is vastly better than in the original submission.

[2020-03-02 13:06] dfm commented on #2103
@whedon check references

[2020-03-02 13:06] whedon commented on #2103
[code]

[2020-03-02 13:07] dfm commented on #2103
@whedon generate pdf

[2020-03-02 13:08] whedon commented on #2103
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02103/joss.02103/10.21105.joss.02103.pdf)

[2020-03-02 13:11] dfm commented on #2103
Last thing (I think) for now: can you update the BibTeX entry for Numpy to include the DOI (https://doi.org/10.1109/mcse.2011.37)?

Then I'll pause this review until you have the DOI from the AAS journals.

[2020-03-02 13:23] marcosvital commented on #2069
Thank you, @andybega and @alletsee!

@Nicolas-Schmidt and @Sergio-Bejar , are you ok with waiting 2-3 weeks for the reviews to happen? I know that my absence made the whole process take much more time than it should have, so please let me know if you would rather let me try to find other reviewers.

[2020-03-02 13:32] marcosvital commented on #2041
Thank you, @JonathanReardon!
I'll soon start the reviewing process with you and @tomfaulkenberry.

@mmrabe , this topic will be closed soon, by the time the new one is created for review. I will still try to contact one additional reviewer, but it's ok to move one with just two.

[2020-03-02 13:34] marcosvital commented on #2041
@whedon assign @tomfaulkenberry  as reviewer

[2020-03-02 13:34] whedon commented on #2041
OK, @tomfaulkenberry  is now a reviewer

[2020-03-02 13:35] marcosvital commented on #2041
@whedon add @JonathanReardon as reviewer

[2020-03-02 13:35] whedon commented on #2041
OK, @JonathanReardon is now a reviewer

[2020-03-02 13:36] marcosvital commented on #2041
@whedon start review

[2020-03-02 13:36] whedon opened #2134 "[REVIEW]: hypr: An R package for hypothesis-driven contrast coding"
**Submitting author:** @mmrabe (<a href="http://orcid.org/0000-0002-2556-5644">Maximilian Rabe</a>)
**Repository:** <a href="https://github.com/mmrabe/hypr" target ="_blank">https://github.com/mmrabe/hypr</a>
**Version:** v0.1.7
**Editor:** @marcosvital
**Reviewer:** @tomfaulkenberry, @JonathanReardon
**Archive:** <a href="https://doi.org/10.5281/zenodo.3765843" target="_blank">10.5281/zenodo.3765

[2020-03-02 13:36] whedon commented on #2041
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2134.

[2020-03-02 13:36] #2041 closed

[2020-03-02 13:36] whedon commented on #2134
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tomfaulkenberry , @JonathanReardon it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, yo

[2020-03-02 13:36] whedon commented on #2134
[code]

[2020-03-02 13:36] whedon commented on #2134
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02134/joss.02134/10.21105.joss.02134.pdf)

[2020-03-02 13:39] marcosvital commented on #2134
Dear @tomfaulkenberry and @JonathanReardon, thank you very much for accepting review this submission for JOSS.

Please check the instructions and checklists above, and let me know if you need any assistance. You can also tag @mmrabe  if you need to ask specific questions about the submission.

[2020-03-02 13:40] marcosvital commented on #2124
Dear @djmitche and @rabdill, thank you very much for accepting review this submission for JOSS.

Please check the instructions and checklists above (I see that @djmitche already started), and let me know if you need any assistance.
You can also tag @rhagenson if you need to ask specific questions about the submission.

[2020-03-02 13:42] pmcharrison commented on #2088
Hello @DivyaSeernani, thank you very much for this careful checking!

Regarding the community guidelines, I agree that it would be good to include information in the readme as well as on the website. I've therefore added the following section to the readme:

Regarding the license file, yes, this reflects an awkward inconsistency between GitHub and CRAN license requirements (see https://stackoverfl

[2020-03-02 13:52] betteridiot commented on #2014
Sorry. I might be able to get to it later this week. I am out of town at a conference. Kind of spotty internet at best.

Marcus D. Sherman
RISE & RMF Fellow
PhD Candidate
Mills Lab
Dept. of Comp. Medicine & Bioinformatics
University of Michigan
https://twitter.com/better_idiot
https://github.com/betteridiot

From: Will Rowe
Sent: Monday, March 2, 2020 5:13 AM
To: openjournals/joss-reviews
Cc: Marc

[2020-03-02 13:53] marcosvital commented on #1941
Hi, @kthyng , yes, I'm comfortable with moving on with two reviews, as they are both satisfied with the paper.

@wjakethompson ad @jrosen48 , thank you both so much for taking time to review and make suggestions.
@jrosen48, I noticed that there is one last box left unchecked in you review, regarding "Functionality documentation". Do you fell there is still something concerning this that the author

[2020-03-02 14:12] Sergio-Bejar commented on #2069
@marcosvital, @andybega, @alletsee, thanks for your response.  @marcosvital, we are fine waiting 2-3 weeks for the reviews.  We look forward to receiving comments/suggestions from the reviewers.  Regards!

[2020-03-02 14:24] terrytangyuan commented on #2127
@ynop  if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2020-03-02 14:37] shashwat-bhattacharya commented on #2086
Hello @jedbrown
We thank you for your valuable suggestions to improve the code. We have made major changes to the code to make it faster and more efficient. The following are the changes.

1) As per your suggestion, we have implemented vectorization and reduced the number of nested loops in our code.  The new scheme uses only three nested loops instead of six for 3D grids and two nested loops inst

[2020-03-02 15:36] leouieda commented on #1797
@jmansour thanks for the update

[2020-03-02 15:37] leouieda commented on #1797
@whedon set v2.9.2b as version

[2020-03-02 15:37] whedon commented on #1797
OK. v2.9.2b is the version.

[2020-03-02 15:38] leouieda commented on #1797
@whedon set 10.5281/zenodo.3687399 as archive

[2020-03-02 15:38] whedon commented on #1797
OK. <a href="https://doi.org/10.5281/zenodo.3687399" target="_blank">10.5281/zenodo.3687399</a> is the archive.

[2020-03-02 15:39] leouieda commented on #1797
@whedon accept

[2020-03-02 15:39] whedon commented on #1797
[code]

[2020-03-02 15:40] whedon commented on #1797
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1350

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1350, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-02 15:44] castelao commented on #2063
@jessicaaustin , thank you for your review. I'll respond to it ASAP.

[2020-03-02 16:20] anowacki commented on #2043
Thanks for you suggestion, @joa-quim—just for the avoidance of doubt in the review process, I'm stating that I have decided to keep the docs as they are in this regard.

[2020-03-02 16:43] oliviaguest commented on #2088
@whedon remind @Cognitive-Modeller in 8 days

[2020-03-02 16:43] whedon commented on #2088
Reminder set for @Cognitive-Modeller in 8 days

[2020-03-02 16:46] oliviaguest commented on #2088
@Cognitive-Modeller just setting a reminder for you — Wednesday is better but if not this should provide an appropriate reminder for both of us. 😺

[2020-03-02 17:31] brentp commented on #2119
LGTM

[2020-03-02 17:39] telatin commented on #2119
Dear @brentp and @jdeligt,
thank you very much for your quick and thorough review, we really feel that your input allowed us to improve the package quality.

Summarizing:
* paper updated clarifying some sentences
* automated tests have been expanded
* the wiki documentation has been expanded, specifically including information on the coverage calculation and stressing the peculiar usage of "covtob

[2020-03-02 17:40] christinahedges commented on #2101
@xuanxu I'm sorry I haven't started my review I've been traveling and haven't been able to get to it. As @aureliocarnero has already reviewed this work, would you prefer me to review another submission in the near future?

[2020-03-02 17:43] sjpfenninger commented on #2034
@YoungFaithful thanks for the clarifications and updates!

Just four more comments:

* "input-data-scaling": perhaps you mean "scale-independent"? "Input-data-scaling" implies that some part of your code actively scales input data.

* Testing: You do of course have a CI job set up, so that was my bad! Still, I would add your explanation of the tests to the docs and/or the README to briefly flag wh

[2020-03-02 17:54] streeve commented on #2094
@meg-simula @DorianDepriester

I've completed the checklist and closed all the issues with my suggestions. This is a very nice code, combining the strengths of underlying tools. I'm no expert in this type of simulation, but the docs and examples make it clear what I could do with it.

One more note: I did not test the Abaqus portion (I do not have access)

[2020-03-02 18:05] xuanxu commented on #2101
No problem!

@christinahedges we want all of the papers to be reviewed by (at least) two different reviewers, so please go ahead with this one.

[2020-03-02 18:06] christinahedges commented on #2101
Hi @xuanxu no problem, I can do that. I need some time to get spun up, do you have a deadline when you need my review by?

[2020-03-02 18:11] xuanxu commented on #2101
@christinahedges we aim for two-four weeks for have the review but it's an intention, not a hard deadline. And you can comment and provide feedback to the authors as you go.

[2020-03-02 18:36] ynop commented on #2127
From the given list I would suggest:
- faroit
- desilinguist
- expectopatronum

[2020-03-02 18:46] terrytangyuan commented on #2127
Hi @faroit @desilinguist, if you would like to review for this submission, please let us know here! We need at least two reviewers.

[2020-03-02 18:49] oliviaguest commented on #2115
@whedon add reviewer @BayesForDays

[2020-03-02 18:49] faroit commented on #2127
@terrytangyuan with great pleasure!

[2020-03-02 18:49] whedon commented on #2115
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-03-02 18:49] oliviaguest commented on #2115
@whedon add @BayesforDays as reviewer

[2020-03-02 18:49] whedon commented on #2115
OK, @BayesforDays is now a reviewer

[2020-03-02 19:27] uellue commented on #2006
Hi @fedorov, thank you for the feedback! Good points, we'll work on it.

[2020-03-02 19:48] AJQuinn commented on #1982
Thank you for the review @agricolab, we've completed the review and merged all the relevant changes to your issues. The master branch at https://vcs.ynic.york.ac.uk/analysis/sails now has all the changes relating to [joss review] issues from both reviewers merged in.

[2020-03-02 19:58] AJQuinn commented on #1982
@whedon generate pdf

[2020-03-02 19:58] whedon commented on #1982
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01982/joss.01982/10.21105.joss.01982.pdf)

[2020-03-02 20:02] desilinguist commented on #2127
I don’t think I have the bandwidth for this right now but I can recommend
some of my colleagues: @mulhod and @bndgyawali on GitHub. They work a lot
on speech/audio processing.

On Mon, Mar 2, 2020 at 13:49 Fabian-Robert Stöter <notifications@github.com>
wrote:

--
Linguist, Desi Linguist
http://www.desilinguist.org

[2020-03-02 20:11] MariaTsantaki commented on #2048
@warrickball About installation:
I agree it would be better to control everything with pip but I did not succeed so I spit the installation in 2 steps as it was proposed.

[2020-03-02 20:33] brinnaebent commented on #2112
Good afternoon @labarba . Thank you for your comments. Can you elaborate on this being in the 'minor utility' category? Diabetes and prediabetes affect 1/3 of the US population, there are over 700k diabetes publications indexed in PubMed, and yet there is not a standard package with metrics summarizing glucose and glucose variability in the most utilized programming language, Python. The metrics p

[2020-03-02 20:58] jdeligt commented on #2119
Hi @telatin ,

Thank you for the quick responses and the additions made to the repo.
I added one last comment to issue#5 but this is a nice to have but should not hold up publication.
The clarifactions will help users better determine what the software does and is a nice intro into some of the vageries of coverage depth calculations.

@will-rowe, looks like @brentp is happy with it as well so I th

[2020-03-02 21:10] dmey commented on #2008
@mjsottile and @danielskatz I have discussed these points with Masson given that he is the co-author who developed the physical model in 2000 and wrote most of the original code. We should be able to make most of the changes as requested but would to clarify a couple of points with you first before going ahead with the changes:

1.	Licence: OK -- this can be upgraded to CECILL-2.1 but will ask Mas

[2020-03-02 21:21] katyhuff commented on #2034
Thank you for moving forward with this review @sjpfenninger .

 @ali-ramadhan: Do you intend to complete your review? Thank you.

[2020-03-02 21:28] terrytangyuan commented on #2127
Thaks. @mulhod and @bndgyawali, are you able to review?

[2020-03-02 21:44] danielskatz commented on #2008
The following are my thoughts as the AEiC on duty when this came up.  @mjsottile and the currently on-duty @openjournals/jose-eics might also have thoughts.

A license change needs to be approved by all contributors in theory, since they are the copyright holders.

If this software was not developed for the project but is included (in some sense, as a dependency), it likely makes sense to acknowle

[2020-03-02 22:10] MariaTsantaki commented on #2048
@warrickball  About Performance: I added a comment for the users to prefer fits rather than text. Also I included instructions about the format of the input files.

About documentation: I understand that the information was split into two places (README and manual) so I merged them. There are a lot of things to improve (I wish I knew sphinx earlier). Now it seems very difficult to compile the curr

[2020-03-02 22:14] waxlamp commented on #2105
@whedon generate pdf

[2020-03-02 22:16] whedon commented on #2105
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02105/joss.02105/10.21105.joss.02105.pdf)

[2020-03-02 22:50] dmey commented on #2008
I appreciate that this may be a bit confusing -- the reason I have asked is because we would rather not fork the original model but instead, improve and move the model to GitHub (i.e. this paper) and continue future development from this point forward. Therefore, whereas in the paper the authorship is clear for the work that was done in improving TEB, I think that for the associated Zenodo archive

[2020-03-02 22:57] danielskatz commented on #2008
👋 @arfon - any thoughts on the above comment?

[2020-03-03 01:23] kbarnhart commented on #2043
@anowacki Thanks for noting your response @joa-quim's comment here for posterity.

@fhorrobin would it be possible to get an update on when you expect to complete your review?

@joa-quim and @daniellivingston thank you for completing your reviews.

A quick additional note. I accidentally turned on the JOSS out of office responder and have not figured out how to turn it off... So if you @ me, you w

[2020-03-03 02:56] gioacchinowang commented on #1889
@labarba Thanks, the Zenodo title and author list have been fixed.

[2020-03-03 03:44] lamhm commented on #2014
Hi @babinyurii and @will-rowe,

Apologies for my delayed response. I think `recan` has fulfilled most of the criteria in the review checklist. I only have two comments left to be resolved. They are in the `Example usage` and the `Quality of writing` issues.

[2020-03-03 05:34] jedbrown commented on #2123
@whedon add @ekschuman as reviewer

[2020-03-03 05:34] whedon commented on #2123
OK, @ekschuman is now a reviewer

[2020-03-03 05:39] jedbrown commented on #2123
@ekschuman :wave: Welcome to JOSS and thanks for agreeing to review! (I understand you are available and willing, per Joseph.  Please let me know here or by email if that is not accurate or you need any accommodation.)

The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the CloudnetPy repository). I'll be watching this thread

[2020-03-03 05:57] jedbrown commented on #2132
@whedon assign jedbrown as editor

[2020-03-03 05:57] whedon commented on #2132
OK, the editor is jedbrown

[2020-03-03 06:00] jedbrown commented on #2132
@thesketh What is the status of `rdkit`? It fails for me.
[code]
The `pygen_structures` wheel installs, but fails to import due to missing `rdkit`, which seems to be [very old](https://pypi.org/project/rdkit/#history).

[2020-03-03 06:39] thesketh commented on #2132
Unfortunately RDKit has to be installed using Conda because of their installation process. This is an issue with distributing code via different package managers I suppose - sorry about the lack of documentation to that effect, I'll make sure to add it to the README. The conda `environment.yml` in the project root is used by ReadTheDocs to build the documentation, so should be enough to build a mi

[2020-03-03 08:21] bmorris3 commented on #2103
Ok, I think I've [done it](https://github.com/bmorris3/fleck/blob/master/docs/paper.bib#L108) correctly.

[2020-03-03 09:22] will-rowe commented on #2119
Perfect - thanks for your speedy and excellent reviews @jdeligt and @brentp!

This is looking really nice @telatin  - I'll just give it a finally read through

[2020-03-03 09:23] will-rowe commented on #2119
@whedon generate pdf

[2020-03-03 09:23] whedon commented on #2119
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02119/joss.02119/10.21105.joss.02119.pdf)

[2020-03-03 09:28] will-rowe commented on #2119
@whedon check references

[2020-03-03 09:29] whedon commented on #2119
[code]

[2020-03-03 09:30] will-rowe commented on #2119
Okay I think we can move toward acceptance here!

@telatin - I need you to tag a new release and archive it. Then can you get back to me with the version number and the archive DOI.

[2020-03-03 09:40] thesketh commented on #2132
I've updated README.md to reflect this information

[2020-03-03 10:13] xuanxu commented on #2048
@whedon generate pdf

[2020-03-03 10:15] whedon commented on #2048
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02048/joss.02048/10.21105.joss.02048.pdf)

[2020-03-03 10:35] warrickball commented on #2048
Hi @MariaTsantaki, I can see you've made big improvements to the package!

* **Installation**: I'm happy with the two-step installation. I just re-installed FASMA from scratch without a problem.
* **Tests**: The new `test_FASMA.py` is a good start and good enough to satisfy me for this review. It's a bit difficult to make sense of all of the output but it ran to completion without any obvious erro

[2020-03-03 10:48] meg-simula commented on #1701
Great, and thanks again for the review @dham. I'll take it from here.

[2020-03-03 11:11] arfon commented on #1608
:wave: @kellieotto - please come and take another look at this submission when you get a chance.

[2020-03-03 11:16] will-rowe commented on #2014
Many thanks indeed @lamhm

@babinyurii - can you please respond to the additional comments left by @lamhm in the issues mentioned above. In terms of Quality of writing - if you can address the specific point regarding the summary, that would be great. I'm happy to go through the paper afterwards and help with the grammar etc.

[2020-03-03 11:23] telatin commented on #2119
Thanks to you all for your great work!

* **Archived release**
https://github.com/telatin/covtobed/releases/tag/v1.1.0

* **Zeonodo**
Birolo, Giovanni, & Telatin, Andrea. (2020, March 3). covtobed 1.1 - a simple and fast tool to convert the coverage track from a BAM file into a BED file (Version 1.1.0). Zenodo. http://doi.org/10.5281/zenodo.3695204

[2020-03-03 11:37] dhhagan commented on #1918
Hey @jedbrown Sorry about this - I was trying to find some guidelines for python projects and any/all requirements for JOSS but couldn't seem to find any. Currently, this project likely only works if installed via conda and not via pip due to some extremely challenging/frustrating installation requirements/steps for the required dependencies. Is a conda-only installation acceptable? Are there any

[2020-03-03 11:51] daffidwilde commented on #2130
👋  Hello all

Looking at the list of reviewers provided, my suggestions are:

- `igarizio`
- `VarIr`
- `fil`
- `amcasari`

I hope this helps!

[2020-03-03 11:52] will-rowe commented on #2119
@whedon set 10.5281/zenodo.3695204 as archive

[2020-03-03 11:52] whedon commented on #2119
OK. <a href="https://doi.org/10.5281/zenodo.3695204" target="_blank">10.5281/zenodo.3695204</a> is the archive.

[2020-03-03 11:52] will-rowe commented on #2119
@whedon set v1.1.0 as version

[2020-03-03 11:52] whedon commented on #2119
OK. v1.1.0 is the version.

[2020-03-03 11:52] will-rowe commented on #2119
@whedon accept

[2020-03-03 11:52] whedon commented on #2119
[code]

[2020-03-03 11:53] whedon commented on #2119
[code]

[2020-03-03 11:53] whedon commented on #2119
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1351

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1351, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-03 15:36] kellieotto commented on #1608
@arfon I followed up with @Ji-Zhang in [Ji-Zhang/datacleanbot#10](https://github.com/Ji-Zhang/datacleanbot/issues/10). Still having import issues.

[2020-03-03 15:42] arfon commented on #1608
OK, thanks for checking back in on this.

[2020-03-03 15:45] MariaTsantaki commented on #2048
@warrickball Thanks a lot! There is some documentation now. I added the 1st (paper) and 2nd (README) point.

[2020-03-03 16:27] mulhod commented on #2127
@terrytangyuan I think I can help out. What is the typical timeline for a review?

[2020-03-03 16:37] terrytangyuan commented on #2127
@whedon assign @mulhod  as reviewer

[2020-03-03 16:38] whedon commented on #2127
OK, @mulhod  is now a reviewer

[2020-03-03 16:38] terrytangyuan commented on #2127
@whedon add @faroit  as reviewer

[2020-03-03 16:38] whedon commented on #2127
OK, @faroit  is now a reviewer

[2020-03-03 16:38] terrytangyuan commented on #2127
@whedon start review

[2020-03-03 16:38] whedon opened #2135 "[REVIEW]: audiomate: A Python package for working with audio datasets"
**Submitting author:** @ynop (<a href="http://orcid.org/0000-0003-0207-5711">Matthias Büchi</a>)
**Repository:** <a href="https://github.com/ynop/audiomate" target ="_blank">https://github.com/ynop/audiomate</a>
**Version:** v6.0.0
**Editor:** @terrytangyuan
**Reviewer:** @mulhod, @faroit
**Archive:** <a href="https://doi.org/10.5281/zenodo.3970567" target="_blank">10.5281/zenodo.3970567</a>

## S

[2020-03-03 16:38] whedon commented on #2127
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2135.

[2020-03-03 16:38] #2127 closed

[2020-03-03 16:38] whedon commented on #2135
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mulhod , @faroit  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2020-03-03 16:38] whedon commented on #2135
[code]

[2020-03-03 16:38] terrytangyuan commented on #2127
Thank you! See you over in #2135!

[2020-03-03 16:39] whedon commented on #2135
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02135/joss.02135/10.21105.joss.02135.pdf)

[2020-03-03 16:53] evanleeturner commented on #2063
### Conflict of interest

I do not have a conflict of interest in this review.  I do maintain internal (non-public) code repository @wdft-coastal that does contain some of the similar functions as presented in the current code but are specific for my dataset and organization.

### Overall thoughts:
I am extremely pleased with the premise of this package for organizing QC procedures and being able

[2020-03-03 17:56] tweed1e commented on #2017
I second the copy-editing request of the other reviewer, and my last hiccup:

I get really confused by the terminology. I know about ggplot2 and its extensions, I know a bit about sankey diagrams and similar things, so I think I'm kind of the non-specialist audience that would need to understand the paper / documentation. I get the need for specific terminology to nail down exactly what the terms

[2020-03-03 17:59] jordanperr commented on #2114
@kyleniemeyer DOI has been added

[2020-03-03 18:10] aureliocarnero commented on #2101
Just in case you missed this message:

Dear @noraeisner . Could you please revise the pip3 install routine? After you updated to the new version, I cannot install LATTE correctly. It runs ok, all the dependencies installations, but when I try to run the program, it tells me that "No module named LATTE"
If I install it from the github repo with "pip install .", it works ok.

Also, I still have 1 er

[2020-03-03 18:19] clauswilke commented on #2017
Since I also haven't checked "quality of writing": I'm mostly waiting to look at the final version. I think the comments by @tweed1e are helpful, and I expect that I can check off "quality of writing" once they have been addressed.

[2020-03-03 18:53] corybrunson commented on #2017
@tweed1e thank you! To address your first request, do you think it would suffice to lightly edit the "Alluvial plots" section of [the primary vignette](http://corybrunson.github.io/ggalluvial/articles/ggalluvial.html)? I originally erred toward concision but i certainly don't mind adding useful content to the paper. If that makes sense, then i'll also add figure labels, then push the revised paper

[2020-03-03 19:04] karthik commented on #2129
I'm unable to take this on. Is there another editor who can handle this?

[2020-03-03 20:33] jedbrown commented on #1918
@dhhagan The important thing is that the installation instructions work. IMO, this should include some way for a potential contributor to install. JOSS doesn't currently have a "minimum standards" for Python packaging, but it should strive to follow community best practices. The vast majority of Python packages in JOSS will have a working pip install. If there are really good reasons why it is not

[2020-03-03 21:25] jedbrown commented on #1918
@whedon add samjsilva91 as reviewer

[2020-03-03 21:25] whedon commented on #1918
OK, samjsilva91 is now a reviewer

[2020-03-03 21:26] jedbrown commented on #1918
@samjsilva91 :wave: Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [PyCHAM repository](https://github.com/simonom/PyCHAM)). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the authors to

[2020-03-03 21:31] jedbrown commented on #2132
Okay, I see there is a [thread](https://github.com/rdkit/rdkit/issues/1812) and [pull request](https://github.com/rdkit/rdkit/pull/2690) to make rdkit pip-installable.

I'm getting errors in running the tests, which appear to be due to this:

[2020-03-03 21:57] arfon commented on #2128
@whedon check repository

[2020-03-03 21:58] whedon commented on #2128
[code]

[2020-03-03 21:59] arfon commented on #2128
Not sure why that didn't work the first time.

The DOI checker just parses whatever is in the `paper.bib` file. This BibTeX file looks to have a whole bunch of entries that aren't being cited in the paper?

[2020-03-03 22:02] arfon commented on #2008
If I understand the situation, the paper will have a shorter author list than the Zenodo archive? I don't think this is ideal but I think it's probably OK to allow this given the justification.

[2020-03-03 22:28] thesketh commented on #2132
For reasons unknown to me, when using Python 3.6 conda was not installing the latest version of the RDKit. I've updated the requirements and .travis.yml, so the builds for 3.6 are now passing.

I was unable to fix a dependency problem with Python 3.8, so I've removed it from the supported versions. I'll reevaluate it when the next RDKit version is released.

[2020-03-04 02:54] sbrugman commented on #2092
@mstimberg @macrocosme @pandaconstantin @rchg @fccoelho Hello! Would you be interested in reviewing this submission?

@mjsottile People might be put off by thinking they are not familiar enough with the topic, as the title does not include downstream applications. How `visions` relates to e.g. machine learning, data compression is described here: https://dylan-profiler.github.io/visions/visions/ap

[2020-03-04 02:58] 1313e commented on #2092
@sbrugman I think you might be right.
I thought the same when I just read the title, but I first read parts of the documentation and the paper before deciding if I could review this.

[2020-03-04 03:37] castelao commented on #2063
@evanleeturner, thanks for the review. I already started to work on it.

[2020-03-04 03:57] castelao commented on #2063
@whedon generate pdf

[2020-03-04 03:58] whedon commented on #2063
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02063/joss.02063/10.21105.joss.02063.pdf)

[2020-03-04 05:11] mjsottile commented on #1982
Excellent - I will take a look through everything in the next couple days to move the review on to the next stage.

[2020-03-04 05:27] mjsottile commented on #2008
I agree.  It seems that the only outstanding item is to make sure all necessary parties consent to the update from CeCILL1 to CeCILL-2.1 such that the license will conform to the JOSS requirements.  Once you've indicated that is complete, I can scan through the state of the submission to push it to the next stage if it looks ready.

[2020-03-04 06:26] sjpfenninger commented on #2114
@jordanperr thanks - meanwhile I've been working offline by email to contact potential reviewers, so hopefully we can start the review soon!

[2020-03-04 07:16] oliviaguest commented on #2115
@whedon add @sara-02 as reviewer

[2020-03-04 07:16] whedon commented on #2115
OK, @sara-02 is now a reviewer

[2020-03-04 07:17] oliviaguest commented on #2115
@whedon start review

[2020-03-04 07:17] whedon opened #2136 "[REVIEW]: niacin: A Python package for data enrichment"
**Submitting author:** @deniederhut (<a href="http://orcid.org/0000-0002-9995-4378">Dillon Niederhut</a>)
**Repository:** <a href="https://github.com/deniederhut/niacin" target ="_blank">https://github.com/deniederhut/niacin</a>
**Version:** 0.2.0
**Editor:** @oliviaguest
**Reviewer:** @BayesforDays, @sara-02
**Archive:** <a href="https://doi.org/10.5281/zenodo.3875715" target="_blank">10.5281/zen

[2020-03-04 07:17] whedon commented on #2115
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2136.

[2020-03-04 07:17] #2115 closed

[2020-03-04 07:17] whedon commented on #2136
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @BayesforDays, @sara-02 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2020-03-04 07:17] whedon commented on #2136
[code]

[2020-03-04 07:17] whedon commented on #2136
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02136/joss.02136/10.21105.joss.02136.pdf)

[2020-03-04 07:19] oliviaguest commented on #2115
✨ @deniederhut, @sara-02, and @BayesForDays: Please go to https://github.com/openjournals/joss-reviews/issues/2136 where the review will actually take place! 😊

[2020-03-04 07:22] oliviaguest commented on #2136
👋 @BayesForDays and @sara-02 — feel free to leave any comments here you have about the manuscript and if you have code-related comments please use the repository's issues (https://github.com/deniederhut/niacin) and link to them from here. The main bulk of your review involves the list above. 😺

👉 If you can both give a rough ETA for when you can complete your reviews that would be very helpful.

[2020-03-04 07:46] shashwat-bhattacharya commented on #2086
@danielskatz We have made changes to the code as per the suggestions of @jedbrown .  A summary of these changes is given in the previous comment. Please note that the name of the code has changed to "fastSF", and the modified title is "fastSF: A parallel code for computing the structure functions of turbulence". The modified code and the paper have been pushed to the GitHub repository.
Could you p

[2020-03-04 08:07] fwitte commented on #2109
Hi @kyleniemeyer,
is it possible to update the software version submitted to v0.2.2? I would like to publish v0.2.2 within the next days as some bugs in the code and the documentation have been fixed in the meantime. Thank you very much!
Best regards

[2020-03-04 08:17] DivyaSeernani commented on #2088
Thanks for the clarification @pmcharrison. I've updated the last incomplete checkbox in my review.

[2020-03-04 09:22] whedon opened #2137 "[PRE REVIEW]: graphsim: An R package for simulating gene expression data from graph structures of biological pathways"
**Submitting author:** @TomKellyGenetics (<a href="http://orcid.org/0000-0003-3904-6690">S. Thomas Kelly</a>)
**Repository:** <a href="https://github.com/TomKellyGenetics/graphsim" target ="_blank">https://github.com/TomKellyGenetics/graphsim</a>
**Version:** 0.1.2
**Editor:** @majensen
**Reviewers:** @rcannood, @corybrunson
**Managing EiC:** Kevin M. Moerman

**Author instructions**

Thanks for s

[2020-03-04 09:22] whedon commented on #2137
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-04 09:23] whedon commented on #2137
PDF failed to compile for issue #2137 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2137 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedo

[2020-03-04 09:25] Kevin-Mattheus-Moerman commented on #2137
@openjournals/dev can you see what is preventing paper compilation here?

[2020-03-04 09:27] whedon commented on #2137
[code]

[2020-03-04 09:29] Kevin-Mattheus-Moerman commented on #2137
@csoneson @majensen @will-rowe are you able to edit this submission?

[2020-03-04 09:29] whedon opened #2138 "[PRE REVIEW]: py-pde: A Python package for solving partial differential equations"
**Submitting author:** @david-zwicker (<a href="http://orcid.org/0000-0002-3909-3334">David Zwicker</a>)
**Repository:** <a href="https://github.com/zwicker-group/py-pde" target ="_blank">https://github.com/zwicker-group/py-pde</a>
**Version:** v0.2
**Editor:** @xuanxu
**Reviewers:** @celliern, @@mstimberg
**Managing EiC:** Kevin M. Moerman

**Author instructions**

Thanks for submitting your pape

[2020-03-04 09:29] whedon commented on #2138
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-04 09:30] whedon commented on #2138
[code]

[2020-03-04 09:30] whedon commented on #2138
[code]

[2020-03-04 09:32] Kevin-Mattheus-Moerman commented on #2138
@drvinceknight @xuanxu is one of you able to edit this submission?

[2020-03-04 09:33] whedon commented on #2138
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02138/joss.02138/10.21105.joss.02138.pdf)

[2020-03-04 09:34] whedon opened #2139 "[PRE REVIEW]: Surprise: A Python library for recommender systems"
**Submitting author:** @NicolasHug (<a href="http://orcid.org/0000-0003-1360-704X">Nicolas Hug</a>)
**Repository:** <a href="https://github.com/NicolasHug/Surprise" target ="_blank">https://github.com/NicolasHug/Surprise</a>
**Version:** v1.1.0
**Editor:** @terrytangyuan
**Reviewers:** @sara-02, @ejhigson
**Managing EiC:** Kevin M. Moerman

**Author instructions**

Thanks for submitting your paper

[2020-03-04 09:34] whedon commented on #2139
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-04 09:34] whedon commented on #2139
PDF failed to compile for issue #2139 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2139 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedo

[2020-03-04 09:35] Kevin-Mattheus-Moerman commented on #2139
@openjournals/dev can you see what is preventing paper compilation here?

[2020-03-04 09:37] Kevin-Mattheus-Moerman commented on #2139
@terrytangyuan @arokem can one of you edit this submission?

[2020-03-04 09:41] whedon opened #2140 "[PRE REVIEW]: Jabberwocky: an ontology-aware toolkit for manipulating text"
**Submitting author:** @sap218 (<a href="http://orcid.org/0000-0002-6169-0135">Samantha Pendleton</a>)
**Repository:** <a href="https://github.com/sap218/jabberwocky" target ="_blank">https://github.com/sap218/jabberwocky</a>
**Version:** v0.5.0.1
**Editor:** @majensen
**Reviewers:** @wdduncan, @balhoff
**Managing EiC:** Kevin M. Moerman

**Author instructions**

Thanks for submitting your paper t

[2020-03-04 09:41] whedon commented on #2140
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-04 09:42] whedon commented on #2140
[code]

[2020-03-04 09:42] whedon commented on #2140
[code]

[2020-03-04 09:42] whedon commented on #2140
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02140/joss.02140/10.21105.joss.02140.pdf)

[2020-03-04 09:44] Kevin-Mattheus-Moerman commented on #2140
@sap218 thanks for submitting this work. Can appears to be a re-submission of this work which was previously rejected by JOSS: https://github.com/openjournals/joss-reviews/issues/2054. Can you tell us in detail how the functionality of project has been significantly expanded with respect to the previously submitted version?

[2020-03-04 09:53] whedon opened #2141 "[PRE REVIEW]: PyZFS: A Python package for first-principles calculations of zero-field splitting tensors"
**Submitting author:** @hema-ted (<a href="http://orcid.org/0000-0001-8987-8562">He Ma</a>)
**Repository:** <a href="https://github.com/hema-ted/pyzfs" target ="_blank">https://github.com/hema-ted/pyzfs</a>
**Version:** v1.0
**Editor:** @dfm
**Reviewers:** @xwang862, @malramsay64
**Managing EiC:** Kevin M. Moerman

**Author instructions**

Thanks for submitting your paper to JOSS @hema-ted. **Curr

[2020-03-04 09:53] whedon commented on #2141
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-04 09:53] whedon commented on #2141
[code]

[2020-03-04 09:53] sara-02 commented on #2136
I should have my first set of reviews by March 15th.

[2020-03-04 09:53] whedon commented on #2141
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02141/joss.02141/10.21105.joss.02141.pdf)

[2020-03-04 09:57] Kevin-Mattheus-Moerman commented on #2141
@whedon commands

[2020-03-04 09:57] whedon commented on #2141
Here are some things you can ask me to do:

[code]

[2020-03-04 09:57] whedon opened #2142 "[PRE REVIEW]: taurenmd: A command-line interface for analysis of Molecular Dynamics simulations."
**Submitting author:** @joaomcteixeira (<a href="http://orcid.org/0000-0002-9113-0622">João M.C. Teixeira</a>)
**Repository:** <a href="https://github.com/joaomcteixeira/taurenmd" target ="_blank">https://github.com/joaomcteixeira/taurenmd</a>
**Version:** v0.8.9
**Editor:** @richardjgowers
**Reviewers:** @amritagos, @luthaf
**Managing EiC:** Kevin M. Moerman

**Author instructions**

Thanks for s

[2020-03-04 09:57] whedon commented on #2142
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-04 09:57] whedon commented on #2142
[code]

[2020-03-04 09:57] whedon commented on #2142
[code]

[2020-03-04 09:58] whedon commented on #2142
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02142/joss.02142/10.21105.joss.02142.pdf)

[2020-03-04 09:58] Kevin-Mattheus-Moerman commented on #2141
@whedon check repository

[2020-03-04 09:58] whedon commented on #2141
[code]

[2020-03-04 10:06] xuanxu commented on #2138
@Kevin-Mattheus-Moerman I can take this

[2020-03-04 10:06] xuanxu commented on #2138
@whedon assign @xuanxu as editor

[2020-03-04 10:06] whedon commented on #2138
OK, the editor is @xuanxu

[2020-03-04 10:32] Kevin-Mattheus-Moerman commented on #2142
@majensen @will-rowe @csoneson are you able to edit this submission?

[2020-03-04 10:33] oliviaguest commented on #2136
@sara-02 great!

[2020-03-04 10:33] oliviaguest commented on #2136
@whedon remind @sara-02 in 2 weeks

[2020-03-04 10:33] whedon commented on #2136
Reminder set for @sara-02 in 2 weeks

[2020-03-04 10:34] whedon opened #2143 "[PRE REVIEW]: DetecTree: Tree detection from aerial imagery in Python"
**Submitting author:** @martibosch (<a href="http://orcid.org/0000-0001-8735-9144">Martí Bosch</a>)
**Repository:** <a href="https://github.com/martibosch/detectree" target ="_blank">https://github.com/martibosch/detectree</a>
**Version:** v0.3.0
**Editor:** @kthyng
**Reviewers:** @JeffWalton-PSC , @rmsare
**Managing EiC:** Kevin M. Moerman

**Author instructions**

Thanks for submitting your pape

[2020-03-04 10:34] whedon commented on #2143
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-04 10:35] whedon commented on #2143
[code]

[2020-03-04 10:35] whedon commented on #2143
PDF failed to compile for issue #2143 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedon.rb:200:in `block in parse_authors': Author (Martí Bosch) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedon.rb:198:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2

[2020-03-04 10:35] whedon commented on #2143
[code]

[2020-03-04 10:39] Kevin-Mattheus-Moerman commented on #2141
@mbobra @dfm is one of you able to edit this submission?

[2020-03-04 10:43] Kevin-Mattheus-Moerman commented on #2143
@openjournals/dev can you help compile this paper?

[2020-03-04 10:53] martibosch commented on #2143
@whedon generate pdf

[2020-03-04 10:53] whedon commented on #2143
PDF failed to compile for issue #2143 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedon.rb:200:in `block in parse_authors': Author (Martí Bosch) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedon.rb:198:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2

[2020-03-04 10:54] Kevin-Mattheus-Moerman commented on #2143
@terrytangyuan @arokem @kthyng could one of you edit this submission?

Some potential reviewer overlap may exists with:
https://github.com/openjournals/joss-reviews/issues/2056
https://github.com/openjournals/joss-reviews/issues/1825

[2020-03-04 10:55] whedon opened #2144 "[PRE REVIEW]: MASTR-Quant: An Open-Source Web-based Software Tool for the Quantitive Analysis of Mass Spectrometry-based Data"
**Submitting author:** @MetabolomicsAustralia-Bioinformatics (<a href="http://orcid.org/0000-0003-3980-7496">Vinod Narayana</a>)
**Repository:** <a href="https://github.com/MetabolomicsAustralia-Bioinformatics/metabio" target ="_blank">https://github.com/MetabolomicsAustralia-Bioinformatics/metabio</a>
**Version:** 1.0
**Editor:** @csoneson
**Reviewers:** @lgatto, @bovee
**Managing EiC:** Kevin M.

[2020-03-04 10:55] whedon commented on #2144
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-04 10:55] martibosch commented on #2143
the affiliation is copied from [my other JOSS paper source](https://github.com/martibosch/swisslandstats-geopy/blob/master/paper/paper.md), in which I am also the sole author. I do not know what might be wrong.

[2020-03-04 10:55] whedon commented on #2144
[code]

[2020-03-04 10:56] whedon commented on #2144
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02144/joss.02144/10.21105.joss.02144.pdf)

[2020-03-04 10:56] noraeisner commented on #2101
Hi @aureliocarnero , I am so sorry for missing your previous message. I have re-uploaded the pip install version (v0.1.15). I have verified that it works on two computers (Mac and Ubuntu), however, as far as I can tell the previous version also worked for me so please do let me know if the problem persists. I have also changed the unittests so that the different roundings do not raise an error. Th

[2020-03-04 11:01] Kevin-Mattheus-Moerman commented on #2144
@whedon check repository

[2020-03-04 11:01] whedon commented on #2144
[code]

[2020-03-04 11:06] Kevin-Mattheus-Moerman commented on #2144
@lpantano @will-rowe @csoneson @lorenanicole could on of you edit this submission?

[2020-03-04 11:08] anmolter commented on #1753
Hi @leouieda  the following are on the JOSS reviewer list and use GIS and Python: jsta , hugoledoux , sgrieve , Scivision , kbevers , juliohm , sjsrey , hertzsprung , nagellette. Outside the JOSS reviewers list OliverSchmitz , zross , rsbivand probably have the right expertise.

I did a version of PyLUR for ArcGIS Desktop for our project partners, but some of the code is different to the version I

[2020-03-04 11:08] whedon commented on #2144
[code]

[2020-03-04 11:14] arfon commented on #2143
Yes, but this isn't compliant with our updated format. Please follow the example [in our docs](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) and break the `affiliations` into their own YAML key.

[2020-03-04 11:16] arfon commented on #2142
@Kevin-Mattheus-Moerman - we have a new editor joining imminently who this would be perfect for. Can we hold off on this for a few days until I've had a chance to add them to the editorial team?

[2020-03-04 12:04] oliviaguest commented on #2088
@Cognitive-Modeller @DivyaSeernani Thank you both for your reviews so far. I noticed that you both have left this one unchecked:

Is this an ongoing issue and has @pmcharrison addressed this yet? :relaxed:

[2020-03-04 12:15] fccoelho commented on #2092
I'd be happy to review it. The library looks quite interesting

[2020-03-04 13:11] TomKellyGenetics commented on #2137
@whedon commands

[2020-03-04 13:11] whedon commented on #2137
Here are some things you can ask me to do:

[code]

[2020-03-04 13:11] Kevin-Mattheus-Moerman commented on #2142
@arfon, yes sure that sounds good.

[2020-03-04 13:12] TomKellyGenetics commented on #2137
References corrected.

@whedon generate pdf

[2020-03-04 13:13] Kevin-Mattheus-Moerman commented on #2137
@whedon generate pdf

[2020-03-04 13:14] whedon commented on #2137
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02137/joss.02137/10.21105.joss.02137.pdf)

[2020-03-04 13:14] Kevin-Mattheus-Moerman commented on #2137
@TomKellyGenetics I think you need to use only the command message text and no other text.

[2020-03-04 13:17] danielskatz commented on #2086
@whedon invite @jedbrown as editor
cc @openjournals/jose-eics

[2020-03-04 13:17] whedon commented on #2086
@jedbrown has been invited to edit this submission.

[2020-03-04 13:19] TomKellyGenetics commented on #2137
@Kevin-Mattheus-Moerman Thanks, I was thinking to try that. Wasn't sure how long it was meant to take. That's fixed the bibliography.

[2020-03-04 13:24] labarba commented on #2086
Note that @jedbrown currently has the _maximum load_ of any JOSS editor.

[2020-03-04 13:29] danielskatz commented on #2086
👋 @openjournals/dev - reminder - something happened in the initial comment in this issue where the author's github handle (I think ShubhadeepSadhukhan1993) didn't get added correctly. I could just edit the comment but I would prefer you to check the database to make sure this is correct internally.

[2020-03-04 13:47] ljwolf commented on #1882
The rerender of the paper after mering pysal/splot#99 is [here](https://res.cloudinary.com/hju22ue2k/image/upload/v1583329488/puu3xi4ibwtllubo20fg.pdf) and should conform to the requests, so let me or @slumnitz know if anything else is required.

[2020-03-04 13:58] martibosch commented on #2143
@whedon generate pdf

[2020-03-04 13:59] whedon commented on #2143
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02143/joss.02143/10.21105.joss.02143.pdf)

[2020-03-04 14:01] martibosch commented on #2143
Hello @arfon I am sorry about that and I thank you for your help. I have amended the paper md source and the PDF is compiled correcly now :smile:

[2020-03-04 14:04] jedbrown commented on #2086
@whedon generate pdf

[2020-03-04 14:05] whedon commented on #2086
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02086/joss.02086/10.21105.joss.02086.pdf)

[2020-03-04 14:15] danielskatz commented on #2086
👋 @jedbrown - thanks for considering this - I asked you because of the author's initial request for you, and your involvement so far, but if you feel like you are overloaded with other JOSS submissions, we can move it to someone else. Any suggestions you have for the next best editor would be welcome in this case.

[2020-03-04 14:22] terrytangyuan commented on #2139
@whedon assign @terrytangyuan as editor

[2020-03-04 14:22] whedon commented on #2139
OK, the editor is @terrytangyuan

[2020-03-04 14:22] terrytangyuan commented on #2139
@NicolasHug if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2020-03-04 14:23] jedbrown commented on #2086
@openjournals/dev :wave: While you're here, we'll also need the repository URL updated. (I edited in the comment, but that doesn't show up in Whedon's PDF.)

@danielskatz I always enjoy seeing @labarba at fluid dynamics workshops :-).  I can take this so long as folks can accept a bit slower responses from me.

[2020-03-04 14:43] rcannood commented on #2105
Would be nice if @whedon could also generate a diff :)

[Here](https://github.com/ToyotaResearchInstitute/materialnet/compare/470318edf5b9234c1dab672061aa1c11da8b8145...master#diff-16d3fe279379b2a19e836e62ab840c12) are the changes w.r.t. the original proof.

[2020-03-04 14:47] danielskatz commented on #2102
FYI - I just emailed @utf to check on their status

[2020-03-04 14:57] NicolasHug commented on #2139
Hi @terrytangyuan ,

From the list, sara-02, mhetrerajat, and mamrehn seem to have experience with recommender systems and Python.

[2020-03-04 15:37] danielskatz commented on #1277
Are we ready to proceed with this?

[2020-03-04 15:43] nicoguaro commented on #2074
@arokem I have completed my review and I would suggest publication. I do have a suggestion to the documentation, though:

@pySRURGS, I also have some comments regarding the paper. You can find an annotated PDF [here](https://www.dropbox.com/s/flshpkopb3brckv/10.21105.joss.02074.pdf?dl=0).

[2020-03-04 15:53] arfon commented on #2086
Sorry for the slow response. I somehow managed to unsubscribe from the @openjournals/dev notifications.

I've made both of the requested changes now to the author GitHub handle and the repository URL.

[2020-03-04 15:53] pmcharrison commented on #2088
I guess there is the following in the article, which closest approximates a performance claim:

My best evidence for this claim is that we've run these kinds of highly parallel experiments on school students, and seen that scaling works well. A more quantitative test could be done using something like the [shinyloadtest framework](https://rstudio.github.io/shinyloadtest/) - let me know if you thin

[2020-03-04 15:53] arfon commented on #2139
@whedon generate pdf

[2020-03-04 15:53] whedon commented on #2139
PDF failed to compile for issue #2139 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2139 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedo

[2020-03-04 15:54] whedon commented on #2086
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02086/joss.02086/10.21105.joss.02086.pdf)

[2020-03-04 15:56] arfon commented on #2139
The issue here is that this is not a URL that Git can clone: https://github.com/NicolasHug/Surprise/tree/joss_paper . I've updated the URL here and in the long run we will have Whedon check for this but for now you need to do this 👇

[2020-03-04 15:56] arfon commented on #2139
@whedon generate pdf from branch joss_paper

[2020-03-04 15:56] whedon commented on #2139
[code]

[2020-03-04 15:56] whedon commented on #2139
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02139/joss.02139/10.21105.joss.02139.pdf)

[2020-03-04 15:57] casperdcl commented on #1277
yes will PR soon

[2020-03-04 15:58] mstimberg commented on #2092
Not sure how many reviewers you are looking for, but I'd be happy to review it. But also happy to leave it to those who volunteered earlier.

[2020-03-04 16:27] ThomasPak commented on #1716
@whedon generate pdf

[2020-03-04 16:28] whedon commented on #1716
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01716/joss.01716/10.21105.joss.01716.pdf)

[2020-03-04 16:30] dfm commented on #2141
@Kevin-Mattheus-Moerman sure - I'm happy to take this!

[2020-03-04 16:31] dfm commented on #2103
@whedon generate pdf

[2020-03-04 16:32] whedon commented on #2103
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02103/joss.02103/10.21105.joss.02103.pdf)

[2020-03-04 16:36] ThomasPak commented on #1716
@whedon generate pdf

[2020-03-04 16:37] whedon commented on #1716
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01716/joss.01716/10.21105.joss.01716.pdf)

[2020-03-04 16:41] dfm commented on #2141
@whedon assign @dfm as editor

[2020-03-04 16:41] whedon commented on #2141
OK, the editor is @dfm

[2020-03-04 16:44] dfm commented on #2103
@bmorris3: I submitted one more pull request with a BibTeX fix. After merging that, we should be good to go. I'll pause this review until the AAS paper has a DOI (when it is published). When that happens:

1. Update the `paper.md` file with the AAS journal name and DOI,
2. Create a new versioned release in the archive (make sure that the title and author list match the JOSS submission), and
3. Rep

[2020-03-04 16:55] casperdcl commented on #1277
PR here: https://github.com/tqdm/tqdm/pull/905

[2020-03-04 17:00] danielskatz commented on #1277
who will merge this?

[2020-03-04 17:03] casperdcl commented on #1277
one of the assignees when everyone's happy

[2020-03-04 17:04] casperdcl commented on #1277
@whedon generate pdf from branch paper

[2020-03-04 17:04] oliviaguest commented on #2088
@Cognitive-Modeller @DivyaSeernani I leave this up to you to resolve and discuss with @pmcharrison. 👍 When both reviewers have commented/ticked the box, we can continue to the next step. Thanks all for your contributions so far!

[2020-03-04 17:40] macrocosme commented on #2092
Unless there is a need for many reviewer,  I'm happy to skip this one. However, it does look interesting.

[2020-03-04 17:52] ThomasPak commented on #1716
@jedbrown No worries!

Yes. The reason why the computational results are different from the analytical results is that the tolerance series used ends with a tolerance of 35. Whenever the target tolerance in the ABC SMC is nonzero, the computed posterior is only an approximation of the posterior. If the target tolerance was zero, however, the computed posterior would reproduce the analytical result

[2020-03-04 18:08] holtgrewe commented on #1584
Hi I also wanted to report that it will take us 4 weeks to get back to this review because of another big revision in our group. We'll continue in the sodar_core ticket tracker with @olgabot

[2020-03-04 18:21] aureliocarnero commented on #2101
Hello @noraeisner . Now the installation works!
I don't know why, but if I installed it with pip3, it gave me an error, but if I did it with pip, then it worked fine.
Actually, when I installed with pip3, and executed with python3.6, then it run, so it might be a problem with my python 3 version setup.
Basically, if I'm in python 3 enviroment already, running pip install tessLATTE worked perfectly

[2020-03-04 18:25] aureliocarnero commented on #2101
@noraeisner in terms of the unittest, there is something funny. If I set the --new-path somewhere outside the LATTE directory, it gives me an error, but if I put the path somewhere within the LATTE directory, it runs ok. So I would recommend you say something like this. Could you try to replicate this?

For example: when it asks me about the new-path and I put: ./LATTE_output (what is recommended)

[2020-03-04 18:42] mulhod commented on #2135
Created issue about sox dependency: https://github.com/ynop/audiomate/issues/101

[2020-03-04 19:02] mulhod commented on #2135
Created issue about python 3.8 issues: https://github.com/ynop/audiomate/issues/102

[2020-03-04 20:22] mjsottile commented on #2092
Thanks @fccoelho for agreeing to review.  I will keep @mstimberg and @macrocosme in mind in case I need to find an additional reviewer during the process.

[2020-03-04 20:23] mjsottile commented on #2092
@whedon add @fccoelho as reviewer

[2020-03-04 20:23] whedon commented on #2092
OK, @fccoelho is now a reviewer

[2020-03-04 20:24] mjsottile commented on #2092
@whedon start review

[2020-03-04 20:24] whedon opened #2145 "[REVIEW]: Visions: An Open-Source Library for Semantic Data"
**Submitting author:** @sbrugman (<a href="http://orcid.org/0000-0001-9866-7767">Simon Brugman</a>)
**Repository:** <a href="https://github.com/dylan-profiler/visions" target ="_blank">https://github.com/dylan-profiler/visions</a>
**Version:** v0.3.0
**Editor:** @mjsottile
**Reviewer:** @1313e, @fccoelho
**Archive:** <a href="https://doi.org/10.5281/zenodo.3748758" target="_blank">10.5281/zenodo.3

[2020-03-04 20:24] whedon commented on #2092
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2145.

[2020-03-04 20:24] #2092 closed

[2020-03-04 20:24] whedon commented on #2145
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @1313e, @fccoelho it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2020-03-04 20:25] whedon commented on #2145
[code]

[2020-03-04 20:25] whedon commented on #2145
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02145/joss.02145/10.21105.joss.02145.pdf)

[2020-03-04 20:43] csoneson commented on #2144
I can take this one

[2020-03-04 20:44] csoneson commented on #2144
@whedon assign @csoneson as editor

[2020-03-04 20:44] whedon commented on #2144
OK, the editor is @csoneson

[2020-03-04 20:52] jedbrown commented on #1716
Thanks for your explanation and updates. At this point, here are the next steps:
- [ ] Make a tagged release of your software (`v1.0.1` or whatever is appropriate), and list the version tag of the archived version here. [Annotated tags](https://git-scm.com/book/en/v2/Git-Basics-Tagging#_annotated_tags) are preferred.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare

[2020-03-04 21:14] melissawm commented on #1865
Hello @yxqd! Would you be willing/available to review this software paper for JOSS?

[2020-03-04 21:16] cmccomb commented on #1865
Hi @melissawm! This is a busy time of year for me. I would not be able to review it very quickly :(

[2020-03-04 22:33] sohrabtowfighi commented on #2074
Could you help me by clarifying this? The API documentation is provided with comments for just about every function and class. The artificial ant example is explored in detail in the readme.md and a basic example run is shown. Do you think I should add more examples on how to use the bash interface?

[2020-03-04 22:35] kyleniemeyer commented on #2109
Hey @fwitte, sure thing. Feel free to update the code and then ping me here. "Fortunately" I'm behind on asking folks to review...

[2020-03-04 22:42] Sulstice commented on #1992
@csoneson I updated per some of the requests from @greglandrum so there should be updates to some of the initial README and installation instructions. Please let me know if it isn't clear. For making the package a conda installable it will take some time (as I figure out how).

[2020-03-04 22:44] tweed1e commented on #2017
Yea, that should help non-specialists like me understand it. Go for it 👍👍

[2020-03-04 22:49] nicoguaro commented on #2074
Yes, I think so.

The API documentation and examples/tutorials serve to different types of users. For newcomers to your software, the API documentation will be less useful than step-by-step explanations. The opposite happens for competent users.

[2020-03-05 00:20] mjsottile commented on #1982
@whedon check references

[2020-03-05 00:21] whedon commented on #1982
[code]

[2020-03-05 00:38] mjsottile commented on #1982
@whedon generate pdf

[2020-03-05 00:39] whedon commented on #1982
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01982/joss.01982/10.21105.joss.01982.pdf)

[2020-03-05 00:44] mjsottile commented on #1982
@AJQuinn I just went through everything and we're getting close.  A few items:

- Please add the DOI for the book “New Introduction to Multiple Time Series Analysis” (see: https://link.springer.com/book/10.1007/978-3-540-27752-1#about).
- In the section “state of the field”.  The first sentence is worded awkwardly.  I’d change the first sentence to something similar to “Several Python packages pro

[2020-03-05 00:47] TomKellyGenetics commented on #2137
Suggested reviewers (by appropriate expertise):

biswapriyamisra
kozo2
camillescott
rcannood
corybrunson

[2020-03-05 00:55] mjsottile commented on #2008
@whedon generate pdf from branch joss-paper

[2020-03-05 00:55] whedon commented on #2008
[code]

[2020-03-05 00:56] whedon commented on #2008
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02008/joss.02008/10.21105.joss.02008.pdf)

[2020-03-05 00:56] mjsottile commented on #2008
@whedon check references from branch joss-paper

[2020-03-05 00:56] whedon commented on #2008
[code]

[2020-03-05 00:56] whedon commented on #2008
[code]

[2020-03-05 01:01] mjsottile commented on #2008
@dmey In addition to the license issue, both reviewers have not checked off the box related to community guidelines.  It looks like the paper provides guidance for users wishing to contribute, but the README or other documents in the repository do not.  You should add some text to the README or a separate CONTRIBUTING.md file for users who encounter the package but do not read the JOSS paper.

Als

[2020-03-05 01:11] ThomasPak commented on #1716
Thanks for the quick response! I followed the steps that you outlined, and the DOI is [10.5281/zenodo.3697312](https://doi.org/10.5281/zenodo.3697312).

[2020-03-05 03:53] jedbrown commented on #1716
@whedon set v1.1.0 as version

[2020-03-05 03:53] whedon commented on #1716
OK. v1.1.0 is the version.

[2020-03-05 03:53] jedbrown commented on #1716
@whedon set 10.5281/zenodo.3697312 as archive

[2020-03-05 03:53] whedon commented on #1716
OK. <a href="https://doi.org/10.5281/zenodo.3697312" target="_blank">10.5281/zenodo.3697312</a> is the archive.

[2020-03-05 03:53] jedbrown commented on #1716
@whedon accept

[2020-03-05 03:53] whedon commented on #1716
[code]

[2020-03-05 03:54] whedon commented on #1716
[code]

[2020-03-05 03:55] whedon commented on #1716
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1352

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1352, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-05 11:10] xuanxu commented on #2048
@warrickball Yes, we should address the MOOG license issue. If we don't know which license MOOG is using (I can't find it in their website) I suggest @MariaTsantaki or any other FASMA's author ask MOOG's author, maybe he can point us to where the license is or tell us if MOOG license allows redistributing. If that is not the case they could ask for explicit written permission for FASMA. Otherwise

[2020-03-05 15:02] AJQuinn commented on #1982
Thank you @mjsottile, great that we're getting there! I've fixed the DOI in a branch (https://vcs.ynic.york.ac.uk/analysis/sails/-/merge_requests/55) but I'm afraid I need to double check the second point...

The  'State of the field' section currently does start with "Several Python packages provide related functionality to SAILS.". I'm happy to clarify the any unclear writing - but not sure if t

[2020-03-05 15:35] dsryberg commented on #2042
Hi all! Sorry for the delay/confusion on my part. I have now also completed the review, but I am unable to adjust the checklist since I cannot complete this step:

I am told that the invitation has expired. Is this easy to fix?

[2020-03-05 16:00] MariaTsantaki commented on #2048
Ok I will send an email to the author.

[2020-03-05 16:12] arfon commented on #2042
I've just re-invited you. The link at https://github.com/openjournals/joss-reviews/invitations should work again now.

[2020-03-05 16:15] sjpfenninger commented on #2042
Thanks @arfon for the quick reaction and no worries @dsryberg, looking forward to your review!

[2020-03-05 16:53] prs513rosewood commented on #2121
@whedon generate pdf

[2020-03-05 16:54] whedon commented on #2121
PDF failed to compile for issue #2121 with the following error:

 Error reading bibliography ./paper.bibtex (line 232, column 3):
unexpected "j"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-03-05 18:02] HajkD commented on #2129
Dear @karthik
Many thanks for your prompt reply.

Dear @arfon and @labarba
Would it be possible to assign a different editor? There is no preference from my side
since all of them are very much suitable.

Thank you very much!

[2020-03-05 18:18] arfon commented on #2129
@Kevin-Mattheus-Moerman is the EiC on rotation this week so will be handling this.

[2020-03-05 18:37] csoneson commented on #2144
👋 @MetabolomicsAustralia-Bioinformatics - I'll handle your submission, and start by looking for suitable reviewers.

Looking at your submission, I noticed that your paper is a bit too short for JOSS standards (see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). Could you add a bit more context?

[2020-03-05 18:43] csoneson commented on #2144
👋 @bovee, @lgatto, @jorainer - would (two of) you be willing to review this submission for the Journal of Open Source Software (JOSS)?

software: https://github.com/MetabolomicsAustralia-Bioinformatics/metabio
accompanying paper: https://github.com/openjournals/joss-papers/blob/joss.02144/joss.02144/10.21105.joss.02144.pdf

instructions on reviewing for JOSS: https://joss.readthedocs.io/en/latest/

[2020-03-05 19:15] prs513rosewood commented on #2121
@whedon generate pdf

[2020-03-05 19:15] whedon commented on #2121
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02121/joss.02121/10.21105.joss.02121.pdf)

[2020-03-05 20:17] mjsottile commented on #1982
Sorry about that - I believe I was working off of a PDF that was generated before the changes that you made earlier this week on March 2nd.  Looking at the re-generated PDF it looks all good.  Go ahead and proceed with the deposit.

[2020-03-05 21:30] akeshavan commented on #1983
@whedon accept

[2020-03-05 22:53] alex-konovalov commented on #1835
@VivianePons some progress - RepnDecomp will be definitely included in GAP 4.11.0, which will be publicly announced shortly. I will finish the review after that. Hope we can get it out in March!

[2020-03-06 00:25] szorowi1 commented on #1982
Congrats @AJQuinn and thanks for the positive reviewing experience!

[2020-03-06 01:42] arokem commented on #1904
Yup. Just let me know here when it settles.

[2020-03-06 02:23] cMadan commented on #1847
@AkiNikolaidis, thanks for letting me know!

@FelixHenninger @gkiar @yarikoptic, please let me know if you'd be able to review here. We've been having trouble finding reviewers with the right skill set here, so it really would be appreciated! :)

[2020-03-06 02:27] sohrabtowfighi commented on #2074
@whedon generate pdf

[2020-03-06 02:28] whedon commented on #2074
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02074/joss.02074/10.21105.joss.02074.pdf)

[2020-03-06 02:34] sohrabtowfighi commented on #2074
@whedon generate pdf

[2020-03-06 02:34] whedon commented on #2074
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02074/joss.02074/10.21105.joss.02074.pdf)

[2020-03-06 02:38] sohrabtowfighi commented on #2074
Ok @nicoguaro I think it is ready for re-review. I have incorporated most your edits into the paper. I also added several examples and subheaders in the description of the artificial ant example in the readme.md

[2020-03-06 03:15] castelao commented on #2063
Hi @evanleeturner , you might be able to edit the top post, and if so, could you click on the review items that you agree with, please? That would help me to write my response. Thanks!

[2020-03-06 07:06] mjsottile commented on #1982
@whedon set 10.5281/zenodo.3698334 as archive

[2020-03-06 07:06] whedon commented on #1982
OK. <a href="https://doi.org/10.5281/zenodo.3698334" target="_blank">10.5281/zenodo.3698334</a> is the archive.

[2020-03-06 07:06] mjsottile commented on #1982
@whedon set v1.0.0 as version

[2020-03-06 07:06] whedon commented on #1982
OK. v1.0.0 is the version.

[2020-03-06 07:08] mjsottile commented on #1982
Looks like we're good to go - I'll hand it off to the EICs to finalize the process.  Thanks @szorowi1 and @agricolab for your work on the reviews, and @AJQuinn for your work on your paper and software!

[2020-03-06 07:08] mjsottile commented on #1982
@whedon accept

[2020-03-06 07:08] whedon commented on #1982
[code]

[2020-03-06 07:09] whedon commented on #1982
[code]

[2020-03-06 07:09] whedon commented on #1982
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1353

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1353, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-06 08:28] sara-02 commented on #2136
@deniederhut Will it be possible to include some sort of feature/architecture comparison between `niachin, EDA and noisemix`?
This is w.r.t to the following parameter required regarding the paper
`State of the field: Do the authors describe how this software compares to other commonly-used packages?`
In the current paper, we are only mentioning the following
`here are a small number of libraries t

[2020-03-06 08:33] paulvangentcom commented on #1867
Yes agreed, the changes are good as far as I'm concerned. Thanks for guiding the process @Kevin-Mattheus-Moerman , and thanks for the work @rhenanbartels

[2020-03-06 09:23] leouieda commented on #1797
:wave: Hi @@openjournals/joss-eics just making sure this didn't get lost in the current updates to Whedon.

[2020-03-06 09:24] leouieda commented on #1753
@anmolter thank you for the recommendations and clarification. I'll keep trying.

[2020-03-06 09:27] leouieda commented on #1753
:wave: @hugoledoux @sgrieve would you be interested in reviewing this submission for JOSS? You can find the paper here and the software repository at the top of this issue. Please note that the software requires ArcGIS Pro and you would need access to a license in order to test it. Thank you for your time.

[2020-03-06 10:00] VivianePons commented on #2130
@whedon assign igarizio as reviewer

[2020-03-06 10:00] whedon commented on #2130
OK, igarizio is now a reviewer

[2020-03-06 10:01] VivianePons commented on #2130
@wheon assign @igarizio as reviewer

[2020-03-06 10:02] VivianePons commented on #2130
@whedon assign @igarizio as reviewer

[2020-03-06 10:02] whedon commented on #2130
OK, @igarizio is now a reviewer

[2020-03-06 10:36] pitsianis commented on #1906
Do not get me wrong this is exceptional work, it solves a very complex and important problem successfully with simple and elegant code, it has been published in many good journal articles and this software deserves publishing at JOSS.

Now on my concerns. The claim is overly wide in the title. The first paragraph does put things in their right context. A better title will alleviate all my concerns

[2020-03-06 10:59] hugoledoux commented on #1753
I don't have access to ArcGIS Pro.

[2020-03-06 11:05] rcannood commented on #2105
@danielskatz I believe @Luthaf and I have ticked all the checkboxes :)

[2020-03-06 11:29] sap218 commented on #2140
@Kevin-Mattheus-Moerman Thanks!

Previously I submitted Jabberwocky with a single command, which allowed users to retrieve key elements from a text corpus using an ontology’s terms. Jabberwocky is the first tool to use an ontology directly. However, I understand the feedback that Jabberwocky was a minor-utility package and so I significantly expanded to include more functionality that demonstrates

[2020-03-06 11:43] Kevin-Mattheus-Moerman commented on #1797
@leouieda Thanks. I'm on it.

[2020-03-06 11:50] Kevin-Mattheus-Moerman commented on #1797
I read the paper and think it looks good.

[2020-03-06 11:50] Kevin-Mattheus-Moerman commented on #1797
@whedon accept deposit=true

[2020-03-06 11:50] whedon commented on #1797
[code]

[2020-03-06 11:51] whedon commented on #1797
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1235895879233687555) 👈 🐦🐦🐦

[2020-03-06 11:51] whedon commented on #1797
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1354
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01797](https://doi.org/10.21105/joss.01797)
2. If everything looks g

[2020-03-06 11:52] Kevin-Mattheus-Moerman commented on #1867
Thanks @paulvangentcom!

[2020-03-06 11:53] Kevin-Mattheus-Moerman commented on #1867
@hooman650 can you also review the recent changes and summarize any remaining points you have. Thanks!

[2020-03-06 11:54] Kevin-Mattheus-Moerman commented on #1867
@PGomes92 please can you finalize your review as soon as possible. Thanks

[2020-03-06 11:54] #1797 closed

[2020-03-06 11:54] whedon commented on #1797
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01797/status.svg)](https://doi.org/10.21105/joss.01797)

**We need your help!**

Journal of Open Source Softwa

[2020-03-06 13:02] dsryberg commented on #2042
Unfortunately I am still told "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account." Although I have also made sure I am logging into the account by trying this on three different devices

[2020-03-06 13:07] arfon commented on #2042
Can you try again right now @dsryberg?

<img width="549" alt="Screen Shot 2020-03-06 at 8 07 18 AM" src="https://user-images.githubusercontent.com/4483/76086172-91d07880-5f81-11ea-92ed-3134fbf272fe.png">

[2020-03-06 13:24] leouieda commented on #1797
Thanks @Kevin-Mattheus-Moerman, didn't mean to pressure.

@jmansour congratulations on your publication and I hope the JOSS submission/review process was enjoyable :tada: :confetti_ball:

@gassmoeller @gabersyd thank you very for your reviews and feedback :1st_place_medal:

[2020-03-06 13:24] danielskatz commented on #2105
great, thanks very much to both of you

[2020-03-06 13:24] danielskatz commented on #2105
@whedon generate pdf

[2020-03-06 13:24] danielskatz commented on #2105
@whedon check references

[2020-03-06 13:25] whedon commented on #2105
PDF failed to compile for issue #2105 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2105 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedo

[2020-03-06 13:25] whedon commented on #2105
[code]

[2020-03-06 13:25] danielskatz commented on #2105
@whedon generate pdf

[2020-03-06 13:26] whedon commented on #2105
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02105/joss.02105/10.21105.joss.02105.pdf)

[2020-03-06 13:30] danielskatz commented on #2105
👋 @waxlamp - please check the references, particular the cases (upper vs lower) for title and journal names. Add {}s in the .bib file to protect cases through compilation, and then use ```@whedon generate pdf``` to generate a new PDF.  The immediate thing I see is that voronoi should be Voronoi, but please check for anything else as well.

[2020-03-06 13:38] danielskatz commented on #2105
I've also created https://github.com/ToyotaResearchInstitute/materialnet/pull/175 with a few more changes in the paper, and a question about wording.

[2020-03-06 13:38] dsryberg commented on #2042
Everything seems to be working now. I will input my comments now...

[2020-03-06 14:12] waxlamp commented on #2105
@whedon generate pdf

[2020-03-06 14:13] whedon commented on #2105
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02105/joss.02105/10.21105.joss.02105.pdf)

[2020-03-06 14:17] danielskatz commented on #2105
Thanks - looks good.  At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata, this includes the title (should match the paper title) and auth

[2020-03-06 15:04] madvn commented on #1609
Hi @poulson  and @kthyng,

I really appreciate all your work in finding reviewers and getting this paper to this stage. It would be great if this can be officially accepted and published in the coming days. Please let me know if there is anything I can do to help.

Thank you!

[2020-03-06 15:20] arfon commented on #2103
@dfm @bmorris3 - I just heard from AAS that their DOI will be `10.3847/1538-4357/ab79a0`.

[2020-03-06 15:23] dsryberg commented on #2042
Overall: I agree that MetSim is a well structured, well documented, and sufficiently tested package, and I would definitely support it being published via JOSS. I nevertheless had a few hiccups during the review/testing process, and I also have trouble understanding who are the intended users of MetSim and what issue it is meant to resolve. I also suggest reworking some of the example scripts, as

[2020-03-06 15:37] fwitte commented on #2109
Great, I updated to version 0.2.2 :). Have a nice weekend!

[2020-03-06 15:48] martibosch commented on #2143
Hello @Kevin-Mattheus-Moerman , should I tag more potential editors, or should we wait for the tagged ones to answer?

[2020-03-06 16:00] ThomasPak commented on #1716
The paper PDF and Crossref deposit XML look good to me :thumbsup:.

[2020-03-06 16:04] NicoRenaud commented on #2077
Dear @JoaoRodrigues, thanks for reviewing our code and for your comments and suggestions. We've addressed them all, merged the changes in the master and updated the paper accordingly. As a quick summary :
- [x] we fixed the consistent typos on the documentation, thanks for spotting that
- [x] You can directly use `pdbint=interface('myfile.pdb')` or if needed first create an sql db and pass it to t

[2020-03-06 16:20] jedbrown commented on #2132
@whedon assign @richardjgowers as editor

[2020-03-06 16:20] whedon commented on #2132
OK, the editor is @richardjgowers

[2020-03-06 16:23] jedbrown commented on #2132
Welcome our new editor, @richardjgowers, who has agreed to edit this submission. I'll continue to watch this issue (and the review thread once created) and will be able to help answer questions.

[2020-03-06 16:26] klho commented on #1906
These seem very fair -- will get to them and let you know when I'm done.

Also, let me know what you think about modifying the paper (and README?) title as in [this comment](https://github.com/klho/FLAM/issues/5#issuecomment-594641864).

[2020-03-06 16:45] kthyng commented on #2143
Hi! I can take this one.

[2020-03-06 16:45] kthyng commented on #2143
@whedon assign @kthyng as editor

[2020-03-06 16:45] whedon commented on #2143
OK, the editor is @kthyng

[2020-03-06 16:46] kthyng commented on #2143
@martibosch It looks like your documentation could be improved. I went to your readthedocs but it doesn't include the more useful documentation from your readme or from the example repo you mention.

[2020-03-06 16:48] kthyng commented on #2143
@martibosch Could you look through the reviewer list (https://bit.ly/joss-reviewers) and give suggestions of who might be relevant reviewers for your software? Please don't use "@" to mention them so that they do not get emailed about this, just list their github username. You can also provide information for reviewers who are not on the list if you have other suggestions.

[2020-03-06 16:52] dfm commented on #2103
Thanks @arfon!

@bmorris3: You'll still need to go through the steps I listed above. When you do, let us know - thanks!

[2020-03-06 16:58] arfon commented on #2125
:wave: @mbobra - the accompanying AAS paper is accepted (not yet published) and the DOI is `10.3847/1538-3881/ab7d38`. When you get a chance @danhey, please add this information to your `paper.md` YAML header as [described in our docs](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain):

[code]

[2020-03-06 17:04] arfon commented on #2142
:wave: @richardjgowers - I think this also be an excellent paper for you to take on. What do you think?

/ cc @jedbrown

[2020-03-06 17:10] Kevin-Mattheus-Moerman commented on #2137
@csoneson @majensen @will-rowe can you edit this one?

[2020-03-06 17:10] Kevin-Mattheus-Moerman commented on #2137
@whedon invite @csoneson as editor

[2020-03-06 17:10] whedon commented on #2137
@csoneson has been invited to edit this submission.

[2020-03-06 17:10] Kevin-Mattheus-Moerman commented on #2137
@whedon invite @majensen as editor

[2020-03-06 17:10] whedon commented on #2137
@majensen has been invited to edit this submission.

[2020-03-06 17:11] Kevin-Mattheus-Moerman commented on #2137
@whedeon invite @will-rowe as editor

[2020-03-06 17:11] whedon opened #2146 "[PRE REVIEW]: Sensie: Probing the sensitivity of neural networks"
**Submitting author:** @coljac (<a href="http://orcid.org/0000-0003-4239-4055">Colin Jacobs</a>)
**Repository:** <a href="https://github.com/coljac/sensie" target ="_blank">https://github.com/coljac/sensie</a>
**Version:** 0.1.0
**Editor:** @gkthiruvathukal
**Reviewers:** @ejhigson
**Managing EiC:** Kevin M. Moerman

**Author instructions**

Thanks for submitting your paper to JOSS @coljac. **Curr

[2020-03-06 17:11] whedon commented on #2146
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-06 17:11] whedon commented on #2146
[code]

[2020-03-06 17:12] whedon commented on #2146
[code]

[2020-03-06 17:12] whedon commented on #2146
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02146/joss.02146/10.21105.joss.02146.pdf)

[2020-03-06 17:15] richardjgowers commented on #2142
@arfon yep

[2020-03-06 17:16] Kevin-Mattheus-Moerman commented on #1982
I read the paper and it looks good

[2020-03-06 17:16] Kevin-Mattheus-Moerman commented on #1982
@whedon accept deposit=true

[2020-03-06 17:16] whedon commented on #1982
[code]

[2020-03-06 17:18] whedon commented on #1982
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1235977947573555201) 👈 🐦🐦🐦

[2020-03-06 17:18] whedon commented on #1982
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1355
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01982](https://doi.org/10.21105/joss.01982)
2. If everything looks g

[2020-03-06 17:22] Kevin-Mattheus-Moerman commented on #2119
I've read the paper and it looks good

[2020-03-06 17:22] Kevin-Mattheus-Moerman commented on #2119
@whedon accept deposit=true

[2020-03-06 17:23] whedon commented on #2119
[code]

[2020-03-06 17:24] whedon commented on #2119
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1235979491152928768) 👈 🐦🐦🐦

[2020-03-06 17:24] whedon commented on #2119
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1356
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02119](https://doi.org/10.21105/joss.02119)
2. If everything looks g

[2020-03-06 17:24] Kevin-Mattheus-Moerman commented on #1982
@openjournals/dev the DOI resolves but I get a 404 on the PDF link. Can you see what is happening?

[2020-03-06 17:26] Kevin-Mattheus-Moerman commented on #2142
@whedon assign @richardjgowers as editor

[2020-03-06 17:27] whedon commented on #2142
OK, the editor is @richardjgowers

[2020-03-06 17:27] martibosch commented on #2143
First of all thank you for editing my submission :smile:

I understand that you mean that I should include the documentation for the technical methods described in the `background.ipynb` notebook of the example repository (e.g., the classes and methods to build the features and image descriptors)? The reason that I had not included them in the readthedocs site is because end users are not supposed

[2020-03-06 17:27] kthyng commented on #2143
/ooo March 7, 2020 to March 15, 2020

[2020-03-06 17:46] martibosch commented on #2143
some well suited potential reviewers that I could find are: rmsare scivision stsievert thomakra juliohm JeffWalton-PSC

[2020-03-06 18:06] bmorris3 commented on #2103
@dfm – `paper.md` has been updated, Zenodo DOI minted (https://doi.org/10.5281/zenodo.3700053) and [version number 1.0](https://github.com/bmorris3/fleck/releases/tag/v1.0) released.

[2020-03-06 18:10] majensen commented on #2137
@whedon assign @majensen as editor

[2020-03-06 18:10] whedon commented on #2137
OK, the editor is @majensen

[2020-03-06 18:15] dfm commented on #2103
@whedon generate pdf

[2020-03-06 18:16] whedon commented on #2103
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02103/joss.02103/10.21105.joss.02103.pdf)

[2020-03-06 18:17] dfm commented on #2103
@whedon set 10.5281/zenodo.3700053 as archive

[2020-03-06 18:17] whedon commented on #2103
OK. <a href="https://doi.org/10.5281/zenodo.3700053" target="_blank">10.5281/zenodo.3700053</a> is the archive.

[2020-03-06 18:17] dfm commented on #2103
@whedon set v1.0 as version

[2020-03-06 18:17] whedon commented on #2103
OK. v1.0 is the version.

[2020-03-06 18:17] dfm commented on #2103
@whedon accept

[2020-03-06 18:17] whedon commented on #2103
[code]

[2020-03-06 18:18] whedon commented on #2103
[code]

[2020-03-06 18:18] whedon commented on #2103
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1357

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1357, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-06 18:19] dfm commented on #2103
@bmorris3: You should also take a look at the final proofs to make sure that it all looks good to you. Let us know if you see any issues!

[2020-03-06 18:21] bmorris3 commented on #2103
Looks good to me! Thanks @dfm!

[2020-03-06 19:13] arbennett commented on #2042
@whedon generate pdf

[2020-03-06 19:14] whedon commented on #2042
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02042/joss.02042/10.21105.joss.02042.pdf)

[2020-03-06 20:33] karthik commented on #2019
@njtierney Would you be able to review this paper?

[2020-03-06 20:34] karthik commented on #2019
@mitchelloharawild 👋
Would you be able to serve as the second reviewer for this submission? 🙏

[2020-03-06 20:57] danielskatz commented on #2102
I have an email from @utf that they will submit their reivew on Monday

[2020-03-06 21:46] arfon commented on #1982
@Kevin-Mattheus-Moerman it's working for me now. Sometimes there's a delay in the GitHub Pages build which can result in a 404 for a few minutes.

<img width="1291" alt="Screen Shot 2020-03-06 at 4 45 19 PM" src="https://user-images.githubusercontent.com/4483/76125039-f8798480-5fc9-11ea-8110-13abe224e33a.png">

[2020-03-06 21:48] torressa commented on #2049
Hi @sjvrijn! Looks like you've put some work into the package!

I'm not that familiar with evolutionary optimisation algorithms, so please mind the ignorant comments.

I have the following comments:

1. The pip installation doesn't automatically install the required dependencies. (tested on a clean pyenv).
2. Also, when trying to run `python3 tests/create_regression_data.py` I get `ImportError: at

[2020-03-06 21:51] Kevin-Mattheus-Moerman commented on #2103
Please check the following:
- [ ] Please make sure the Zenodo meta data such as the title and the author list match the JOSS paper. You can just edit this information on Zenodo. Currently both the title and the author set are different.

- [ ] The statement concerning "...in about 10 seconds on a 2.5 GHz Intel Core i7 processor." is a bit vague. If you want to cite something like this I suggest yo

[2020-03-06 21:59] Kevin-Mattheus-Moerman commented on #1889
@gloacchinowang I proofread the paper as well and it looks good to me.

[2020-03-06 21:59] Kevin-Mattheus-Moerman commented on #1889
@whedon accept deposit=true

[2020-03-06 21:59] whedon commented on #1889
[code]

[2020-03-06 22:00] whedon commented on #1889
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1236049130943844352) 👈 🐦🐦🐦

[2020-03-06 22:00] whedon commented on #1889
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1358
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01889](https://doi.org/10.21105/joss.01889)
2. If everything looks g

[2020-03-06 22:04] #1889 closed

[2020-03-06 22:04] whedon commented on #1889
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01889/status.svg)](https://doi.org/10.21105/joss.01889)

**We need your help!**

Journal of Open Source Softwa

[2020-03-06 22:05] Kevin-Mattheus-Moerman commented on #1982
@arfon ah right. It is all good now.

[2020-03-06 22:05] whedon commented on #1982
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01982/status.svg)](https://doi.org/10.21105/joss.01982)

**We need your help!**

Journal of Open Source Softwa

[2020-03-06 22:17] Kevin-Mattheus-Moerman commented on #1716
@ThomasPak I'm helping with the final processing for your paper. Can you check the point below.
- [ ] The following sentence needs rephrasing, please remove the words "embarrassingly": `Fortunately, some ABC algorithms have a simulation workload that is embarrassingly parallel, or proceed through a sequence of embarrassingly parallel simulation workloads.`,

[2020-03-06 22:20] arbennett commented on #2042
@dsryberg thanks for the thorough review! I have updated the text of the paper as well as the documentation [here](https://metsim.readthedocs.io/en/master/data.html#sub-daily-output) to reflect the algorithms used to disaggregate. The more recent version of the article proof contains additional text about the state of the field, particularly with respect to MTCLIM and VIC.

Regarding your point nu

[2020-03-06 22:20] arbennett commented on #2042
@whedon generate pdf

[2020-03-06 22:21] whedon commented on #2042
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02042/joss.02042/10.21105.joss.02042.pdf)

[2020-03-06 22:38] Kevin-Mattheus-Moerman commented on #2133
@katyhuff :point_up: are you able to help edit this submission?

[2020-03-06 22:38] Kevin-Mattheus-Moerman commented on #2133
@whedon invite @katyhuff as editor

[2020-03-06 22:38] whedon commented on #2133
@katyhuff has been invited to edit this submission.

[2020-03-06 22:42] Kevin-Mattheus-Moerman commented on #2133
@dpsanders would this be a nice first submisson to handle (@arfon) ?

[2020-03-06 22:43] whedon opened #2147 "[PRE REVIEW]: MDBED: A R package for simulating the Moran-Downton bivariate exponential distribution"
**Submitting author:** @https://github.com/lfduquey (<a href="http://orcid.org/0000-0002-0367-8496">Luis F. Duque</a>)
**Repository:** <a href="https://github.com/lfduquey/Paper-JOSS-MDBED" target ="_blank">https://github.com/lfduquey/Paper-JOSS-MDBED</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**Author instructions**

Thanks for submitting

[2020-03-06 22:43] whedon commented on #2147
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-06 22:44] whedon commented on #2147
[code]

[2020-03-06 22:44] whedon commented on #2147
Failed to discover a valid open source license.

[2020-03-06 22:44] whedon commented on #2147
[code]

[2020-03-06 22:44] whedon commented on #2147
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02147/joss.02147/10.21105.joss.02147.pdf)

[2020-03-06 22:44] dpsanders commented on #2133
Yes sure, would be happy to.

[2020-03-06 22:47] Kevin-Mattheus-Moerman commented on #2147
@openjournals/dev the used have created a separate repository for the JOSS paper. It looks like the actual software is here: https://github.com/lfduquey/MDBED.
Is this acceptable or do we need to change the repository?

[2020-03-06 22:48] Kevin-Mattheus-Moerman commented on #2133
@whedon assign @dpsanders as editor

[2020-03-06 22:48] whedon commented on #2133
OK, the editor is @dpsanders

[2020-03-06 22:58] whedon opened #2148 "[PRE REVIEW]: Spleeter: a fast and state-of-the art music source separation tool with pre-trained models"
**Submitting author:** @romi1502 (<a href="http://orcid.org/0000-0001-8158-5562">Romain Hennequin</a>)
**Repository:** <a href="https://github.com/deezer/spleeter" target ="_blank">https://github.com/deezer/spleeter</a>
**Version:** v1.4.9
**Editor:** @terrytangyuan
**Reviewers:** @bmcfee , @faroit
**Managing EiC:** Kevin M. Moerman

**Author instructions**

Thanks for submitting your paper to JOS

[2020-03-06 22:58] whedon commented on #2148
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-06 22:58] whedon commented on #2148
[code]

[2020-03-06 22:58] whedon commented on #2148
[code]

[2020-03-06 22:58] whedon commented on #2148
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02148/joss.02148/10.21105.joss.02148.pdf)

[2020-03-06 23:01] arfon commented on #2147
We'd strongly prefer the paper to be in the same repo as the software but it's not compulsory.

[2020-03-06 23:02] Kevin-Mattheus-Moerman commented on #2148
@whedon invite @arokem as editor

[2020-03-06 23:03] whedon commented on #2148
@arokem has been invited to edit this submission.

[2020-03-06 23:04] Kevin-Mattheus-Moerman commented on #2148
@terrytangyuan @arokem could one of you edit this submission? Perhaps there is some reviewer overlap with: https://github.com/openjournals/joss-reviews/issues/1667

[2020-03-06 23:06] bradyrx commented on #2083
# Review of `RADWave`

Thank you to @CourtneySmith32 and colleagues for submitting this software and manuscript. The documentation is extensive and I found the binder examples impressive and quite useful. I appreciate that all of the binder analysis was done with THREDDS to show that data can be pulled from remote servers and need not be stored locally for this package to work. It's clear that `RA

[2020-03-06 23:09] Kevin-Mattheus-Moerman commented on #2131
@whedon invite @poulson as editor

[2020-03-06 23:09] whedon commented on #2131
@poulson has been invited to edit this submission.

[2020-03-06 23:12] Kevin-Mattheus-Moerman commented on #2086
@whedon assign @jedbrown as editor

[2020-03-06 23:12] whedon commented on #2086
OK, the editor is @jedbrown

[2020-03-06 23:14] Kevin-Mattheus-Moerman commented on #2128
@whedon invite @kyleniemeyer as editor

[2020-03-06 23:14] whedon commented on #2128
@kyleniemeyer has been invited to edit this submission.

[2020-03-06 23:18] Kevin-Mattheus-Moerman commented on #2129
@lpantano @will-rowe @csoneson can one of you edit this submission?

[2020-03-06 23:20] Kevin-Mattheus-Moerman commented on #2126
@whedon invite @lorenanicole as editor

[2020-03-06 23:20] whedon commented on #2126
@lorenanicole has been invited to edit this submission.

[2020-03-06 23:38] kyleniemeyer commented on #2128
whoops, somehow I missed @labarba's original invitation. I can take this, though anything experimental is a bit outside my wheelhouse...

[2020-03-06 23:38] kyleniemeyer commented on #2128
@whedon assign @kyleniemeyer as editor

[2020-03-06 23:38] whedon commented on #2128
OK, the editor is @kyleniemeyer

[2020-03-06 23:46] kyleniemeyer commented on #2128
Hi @jdber1, thanks for your interest in JOSS.

My first question is on how easy/hard it will be for others to review this software—will reviewers be limited to those with access to certain experimental equipment? If so, then I'll really need your help to find folks who can review.

[2020-03-06 23:50] coljac commented on #2146
From the list, AvianaGlobal and MohmedSoudy (among others) would seem to have relevant expertise.

[2020-03-07 00:49] jmansour commented on #1797
Excellent result!

I'd also like to thank @gassmoeller & @gabersyd for the time they put in reviewing this and the valuable feedback they provided. 🙏🙏

And thanks to @leouieda & @Kevin-Mattheus-Moerman and the rest of the JOSS crew. The review process was straightforward and even fun. 🙂

[2020-03-07 00:59] terrytangyuan commented on #2148
@whedon set @terrytangyuan as editor

[2020-03-07 00:59] whedon commented on #2148
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-03-07 01:00] terrytangyuan commented on #2148
@whedon assign @terrytangyuan as editor

[2020-03-07 01:00] whedon commented on #2148
OK, the editor is @terrytangyuan

[2020-03-07 01:00] terrytangyuan commented on #2148
Happy to edit this one. @romi1502 if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2020-03-07 01:19] lpantano commented on #2129
@whedon assign @lpantano as editor

[2020-03-07 01:19] whedon commented on #2129
OK, the editor is @lpantano

[2020-03-07 03:42] jedbrown commented on #1716
@Kevin-Mattheus-Moerman Other wordings are possible, but it as a [widely used](https://scholar.google.com/scholar?hl=en&q=embarrassingly%20parallel&as_sdt=1%2C6&as_sdtp=) [technical term](https://en.wikipedia.org/wiki/Embarrassingly_parallel), and wouldn't have the same meaning if you simply cut "embarrassingly".

[2020-03-07 05:47] dpsanders commented on #2133
@whedon commands

[2020-03-07 05:47] whedon commented on #2133
Here are some things you can ask me to do:

[code]

[2020-03-07 05:47] dpsanders commented on #2133
@whedon generate pdf

[2020-03-07 05:48] whedon commented on #2133
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02133/joss.02133/10.21105.joss.02133.pdf)

[2020-03-07 07:51] Kevin-Mattheus-Moerman commented on #1716
@ThomasPak @jedbrown okay. In that case ignore my comment.

[2020-03-07 07:53] Kevin-Mattheus-Moerman commented on #1716
@whedon accept deposit=true

[2020-03-07 07:53] whedon commented on #1716
[code]

[2020-03-07 07:54] whedon commented on #1716
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1236198479258583041) 👈 🐦🐦🐦

[2020-03-07 07:54] whedon commented on #1716
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1359
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01716](https://doi.org/10.21105/joss.01716)
2. If everything looks g

[2020-03-07 08:17] #1716 closed

[2020-03-07 08:17] whedon commented on #1716
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01716/status.svg)](https://doi.org/10.21105/joss.01716)

**We need your help!**

Journal of Open Source Softwa

[2020-03-07 08:25] csoneson commented on #1992
@olivertomic - any update on your review?

[2020-03-07 08:29] csoneson commented on #1991
👋@malcolmbarrett - just wanted to check in on the revisions (I can see that there has been updates to the source repository relatively recently). Do you have an estimate of when the reviewers could expect a new version?

[2020-03-07 14:19] malcolmbarrett commented on #1991
Yes, early next week. We are almost done! Thanks for your patience.

[2020-03-07 14:24] dfm commented on #1889
@gioacchinowang: Congrats on your published paper!

@zonca, @pqrs6: Thank you so much for your constructive reviews!

[2020-03-07 15:01] Kevin-Mattheus-Moerman commented on #1982
@openjournals/dev can you help with this issue https://github.com/openjournals/joss/issues/700 highlighted by the author?

[2020-03-07 15:20] #1982 closed

[2020-03-07 15:20] whedon commented on #1982
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01982/status.svg)](https://doi.org/10.21105/joss.01982)

**We need your help!**

Journal of Open Source Softwa

[2020-03-07 15:47] ThomasPak commented on #1716
Thanks to the editor and reviewers for making this possible! :tada: :tada: :tada:

[2020-03-07 19:50] sjvrijn commented on #2049
Hi @torressa, thanks for the compliments and comments!

1. I realised this recently, will add it asap.
2. I've done most of my development from PyCharm, which tends to run files as-is. Not the first time I've encountered import issues because of it, but hadn't seen this one yet, so thanks for pointing that out 👍
3. That's a fair question to ask. I'd say it boils down to a difference in the kinds o

[2020-03-07 21:16] sixpearls commented on #2104
Hi @briandesilva et al, this is a very nice library! I checked most of the items in the list, but I did have a few comments, particularly on the unchecked items, below.

## Authorship
I am not sure I see the SOFTWARE contribution of the last three authors, although it seems that based on the references these authors may have contributed to the theoretical development. In the past, I believe the JO

[2020-03-07 21:21] donaldRwilliams commented on #2111
Hi:
Apologies on the delay. I added the paper.md file to the root of the repository.

[2020-03-07 22:00] arnavs commented on #2090
@oxinabox Incorporated your feedback; the TransformedDistribution support is looking a bit more annoying than I imagined (partly bc of some missing methods, partly because I need to read the math.) So I filed an issue, noted what our generic fallback supports, and will work on extending that.

[2020-03-07 22:00] arnavs commented on #2090
OK @VivianePons I have received and incorporated reviewer feedback.

[2020-03-07 22:00] arnavs commented on #2090
@whedon generate pdf

[2020-03-07 22:01] whedon commented on #2090
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02090/joss.02090/10.21105.joss.02090.pdf)

[2020-03-07 22:02] arnavs commented on #2090
@whedon generate pdf

(unicode support fix)

[2020-03-07 22:03] whedon commented on #2090
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02090/joss.02090/10.21105.joss.02090.pdf)

[2020-03-07 22:30] melissawm commented on #2049
Hello @sjvrijn ! I'm sorry, I had edited it but for some reason it seems the edit didn't stick, maybe my connection was unstable. Thanks for the heads up!

[2020-03-07 22:48] majensen commented on #2044
@scwest can you provide an update on progress? Thank you.

[2020-03-08 08:16] whedon opened #2149 "[PRE REVIEW]: Utopia: A Comprehensive and Collaborative Modeling Framework for Complex and Evolving Systems"
**Submitting author:** @peanutfun (<a href="http://orcid.org/0000-0002-4667-3652">Lukas Riedel</a>)
**Repository:** <a href="https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia" target ="_blank">https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia</a>
**Version:** latest
**Editor:** @arfon
**Reviewers:** @platipodium, @Shibabrat
**Managing EiC:** Kevin M. Moerman

**Author instructions**

Thank

[2020-03-08 08:16] whedon commented on #2149
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-08 08:16] whedon commented on #2149
PDF failed to compile for issue #2149 with the following error:

 Can't find any papers to compile :-(

[2020-03-08 08:19] Kevin-Mattheus-Moerman commented on #2149
@whedon generate pdf from branch joss-paper

[2020-03-08 08:19] whedon commented on #2149
[code]

[2020-03-08 08:19] whedon commented on #2149
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02149/joss.02149/10.21105.joss.02149.pdf)

[2020-03-08 08:22] Kevin-Mattheus-Moerman commented on #2149
@openjournals/dev this paper is on a separate branch so we created the pdf by running `@whedon generate pdf from branch joss-paper`. Will we need to keep using this command throughout the review process or are there any other steps we need to take?

[2020-03-08 08:22] Kevin-Mattheus-Moerman commented on #2149
@whedon check repository

[2020-03-08 08:23] whedon commented on #2149
[code]

[2020-03-08 08:29] Kevin-Mattheus-Moerman commented on #2149
@gkthiruvathukal @mbobra @mjsottile @poulson can one of you edit this submission?

[2020-03-08 08:35] whedon opened #2150 "[PRE REVIEW]: AcPgChecker: A tool for Plagiarism Detection in Students’ Assignments and Reports"
**Submitting author:** @dipongkor (<a href="http://orcid.org/0000-0001-8253-429X">Atish Kumar Dipongkor</a>)
**Repository:** <a href="https://github.com/dipongkor/PlagiarismChecker" target ="_blank">https://github.com/dipongkor/PlagiarismChecker</a>
**Version:** V1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**Author instructions**

Thanks for submitting your pa

[2020-03-08 08:35] whedon commented on #2150
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-08 08:35] whedon commented on #2150
[code]

[2020-03-08 08:35] whedon commented on #2150
[code]

[2020-03-08 08:36] whedon commented on #2150
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02150/joss.02150/10.21105.joss.02150.pdf)

[2020-03-08 08:47] Kevin-Mattheus-Moerman commented on #2150
@dipongkor thanks for your submission.

As our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) state:
- The software should have an **obvious** research application.

- The software should be feature-complete (no half-baked solutions) and designed for maintainable extension (not one-off modifications). Minor ‘utility’ packages, including ‘th

[2020-03-08 08:51] Kevin-Mattheus-Moerman commented on #1609
@poulson can you help move this along :point_up: is this ready for acceptance in JOSS?

[2020-03-08 12:21] arfon commented on #2149
Yes, this is something we'll need to keep doing through the review process.

[2020-03-08 12:41] dipongkor commented on #2150
Suggested Reviewers: -
@CBenghi, @Fusionet24, @xirdneh, @zedtaha

[2020-03-08 12:42] dipongkor commented on #2150
zedtaha

[2020-03-08 13:03] dipongkor commented on #2150
@whedon commands

[2020-03-08 13:03] whedon commented on #2150
Here are some things you can ask me to do:

[code]

[2020-03-08 14:59] gkthiruvathukal commented on #2149
@Kevin-Mattheus-Moerman I'm facing a bit of mid-semester congestion, so I hope one of the others you mentioned can edit this submission. I should be in a better position to take on new assignments in a week or so.

[2020-03-08 18:29] mjsottile commented on #2149
@Kevin-Mattheus-Moerman I’m saturated with work at the moment, so I can’t take on another paper right now.

[2020-03-08 20:13] gkthiruvathukal commented on #2001
@jaynanavati Are you willing to contribute a review for this JOSS submission?

[2020-03-08 20:17] gkthiruvathukal commented on #1960
@danieledipompeo Just checking whether your issues have been addressed by @phillima. I think almost all of your and @arcuri82  issues have been addressed.  I'd like to move toward acceptance.

[2020-03-08 21:40] CourtneySmith32 commented on #2083
Hi Riley,

Thanks very much for your comments and feedback, they all make sense. Will
get on it soon!

Thanks,
Courtney

On Sat, Mar 7, 2020 at 10:06 AM Riley Brady <notifications@github.com>
wrote:

[2020-03-08 23:09] jspaezp commented on #2061
Hello @will-rowe, sorry for the late reply, had not seen the activity on this thread! Yes indeed I am interesting and have been working on the changes, I will let you know as soon as I believe we have addressed everything that was mentioned.

@natallah

[2020-03-08 23:13] WilkAndy commented on #2118
@jedbrown , the MOOSE team have created a new branch.  Could you please change the repository address to

https://github.com/idaholab/moose/

with branch
[code]

[2020-03-08 23:15] gkiar commented on #1847
Sure, @cMadan, I can do it!

[2020-03-09 00:22] danhey commented on #2125
@whedon generate pdf

[2020-03-09 00:23] whedon commented on #2125
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02125/joss.02125/10.21105.joss.02125.pdf)

[2020-03-09 00:55] arfon commented on #2149
@whedon assign @arfon as editor

[2020-03-09 00:55] whedon commented on #2149
OK, the editor is @arfon

[2020-03-09 00:55] arfon commented on #2149
@Kevin-Mattheus-Moerman - I can take this one.

[2020-03-09 00:55] arfon commented on #2149
@peanutfun - many thanks for your submission to JOSS.

Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2020-03-09 05:55] dipongkor commented on #2150
@Kevin-Mattheus-Moerman Thanks for your comments. Please find the statement of the need and research application. I have added **Statement of the Need** section in the paper.

[2020-03-09 05:55] dipongkor commented on #2150
@whedon generate pdf

[2020-03-09 05:56] whedon commented on #2150
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02150/joss.02150/10.21105.joss.02150.pdf)

[2020-03-09 06:01] 1313e commented on #2145
I am currently reviewing this, and I am going to assume that I should review v0.2.3, as that version has the bugfix for the `attr.s` decorator.
Can this be confirmed and if so, updated above? @sbrugman @mjsottile

[2020-03-09 06:45] mjsottile commented on #2145
@1313e I would review the version with the bug fix.  When the process is finished, the version number for the submission will be set to whatever version is archived - which I assume will reflect the bug fix you mention, as well as any other bugs and changes that arise during the review process.

[2020-03-09 08:09] jaynanavati commented on #2001
Dear Sir,

I am willing to review the submission mentioned in the subject.

Thank you.

*Dr. Jay Nanavati*

On Mon, Mar 9, 2020 at 1:43 AM George K. Thiruvathukal <
notifications@github.com> wrote:

[2020-03-09 08:19] danieledipompeo commented on #1960
Hi guys, I've checked the new release and it seems ready to be accepted. Thanks for all, and sorry for my delay. Cheers Daniele

[2020-03-09 09:23] aj2duncan commented on #2116
Hi @johannes-titz,

I've got a query for you if that's ok. In terms of contributions you list a contributer on mimosa.org and a second user has contributed 71 commits to the repo. I'm not sure if this is the same person or different people, but perhaps you need to consider the authorship of the submission?

Thanks,

Andrew

[2020-03-09 09:26] bmorris3 commented on #2103
Hi @Kevin-Mattheus-Moerman – sorry about the mismatch, do I create and edit a `.zenodo.json` file to edit the repo's metadata in the existing release?

[2020-03-09 09:31] romi1502 commented on #2148
Hey @terrytangyuan.
Thank you for managing the review.
An obvious choice for the paper review would be faroit as he is the main author of an open source package which also deals with Source Separation (Open Unmix) though it may be considered as a conflict of interest. Otherwise, I don't know other people in the list. Anyone with experience in Python and audio/music processing should be skilled to

[2020-03-09 09:34] bmorris3 commented on #2103
Hi @Kevin-Mattheus-Moerman, I've edited the `paper.md` file according to your recommendations and fixed the zenodo metadata. Thanks!

[2020-03-09 09:46] will-rowe commented on #2014
Hi @babinyurii - just pinging you a reminder. Cheers, Will

[2020-03-09 10:01] Kevin-Mattheus-Moerman commented on #2103
@whedon generate pdf

[2020-03-09 10:02] whedon commented on #2103
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02103/joss.02103/10.21105.joss.02103.pdf)

[2020-03-09 10:11] Kevin-Mattheus-Moerman commented on #2103
@bmorris3 thanks the Zenodo archive looks good. About the CPU specification. It still only mentions the base frequency. Can you add either the CPU id (I'm guessing you have the [i7-4870HQ](https://ark.intel.com/content/www/us/en/ark/products/83504/intel-core-i7-4870hq-processor-6m-cache-up-to-3-70-ghz.html), but check which one you have) or quote the number of cores, number of threads, and the cac

[2020-03-09 10:19] johannes-titz commented on #2116
@aj2duncan Thank you for the query! The contributor mentioned on mimosa.icu is Maria Reichert. If you run gitinspector -f R, you will see that she made one commit (the initial one), which makes about 6% of all changes. We planned to work on mimosa together and she wrote a first scaffold, but was too busy to continuously work on the project. She knows that I submitted the software to JOSS and is fi

[2020-03-09 10:43] JonathanReardon commented on #2134
Hello, I can't seem to access the checklist at all (unable to tick any boxes), could you look into this for me? apologies if it's a fault my end.

[2020-03-09 10:47] strengejacke commented on #2116
Thanks @johannes-titz,
the paper is well written and the website and readme are well documented. Beside @aj2duncan comment that you should think of adding other contributors either as "contributor" to the description-file, or even as co-author if this is justified, I have no further remarks regarding this review.
However, I have a methodological remark. When including level-2 predictors as fixed e

[2020-03-09 10:48] strengejacke commented on #2116
Just read your comment, which makes my first part of my answer redundant.

[2020-03-09 10:59] bmorris3 commented on #2103
Sorry for my lack of precision, I had to dig a bit to verify the processor specs. [Done!](https://github.com/bmorris3/fleck/blob/master/docs/paper.md)

[2020-03-09 11:08] VivianePons commented on #2090
Hi @arnavs thank you for incorporating all the feedbacks. I am still feeling some hesitations from the reviewers. I would like to have their opinions now that many things have changed, especially a new author!

Dear @odow and @oxinabox thank you very much for the work you have provided. I see that @arnavs has implemented some of your suggestions. How do you feel about the new version of the softwa

[2020-03-09 11:13] VivianePons commented on #1988
Dear @miketuri I have difficulties finding a second reviewer for your submission. Especially, it seems difficult to find someone who is familiar with SPICE (which seems important) and also knows Perl. would you have any suggestions, maybe outside of our potential referees list?

[2020-03-09 11:39] aj2duncan commented on #2116
Hi @johannes-titz,

Thanks for the quick reply. That all seems fine and I can understand the dual accounts - sorry I should have dug a little deeper to see the email addresses!

I'll try to complete the review this evening.

Andrew

[2020-03-09 11:44] Kevin-Mattheus-Moerman commented on #2103
@whedon generate pdf

[2020-03-09 11:45] whedon commented on #2103
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02103/joss.02103/10.21105.joss.02103.pdf)

[2020-03-09 11:46] Kevin-Mattheus-Moerman commented on #2103
@whedon accept deposit=true

[2020-03-09 11:46] whedon commented on #2103
[code]

[2020-03-09 11:47] oxinabox commented on #2090
Without the addition of the new author, I would have said this fails the requirements for "Contribution and authorship".

I think this probably marks the low-end of _" "significant contribution" to the existent state of scientific open source software on this topic?"_.
Calculated expectations is important for many things, and this makes it faster and easier.

[2020-03-09 11:47] whedon commented on #2103
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1236981978999795713) 👈 🐦🐦🐦

[2020-03-09 11:47] whedon commented on #2103
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1360
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02103](https://doi.org/10.21105/joss.02103)
2. If everything looks g

[2020-03-09 11:50] #2103 closed

[2020-03-09 11:50] whedon commented on #2103
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02103/status.svg)](https://doi.org/10.21105/joss.02103)

**We need your help!**

Journal of Open Source Softwa

[2020-03-09 11:53] Kevin-Mattheus-Moerman commented on #2121
:wave: @likask, @agshvarts, @srmnitc, @chennachaos this is where the review takes place. Let me know if you have any questions. Thanks for your help!

[2020-03-09 11:54] Kevin-Mattheus-Moerman commented on #2089
@nathanquinlan, @chennachaos, @JaroslavHron, thanks for your help with this review! Can you provide an update on review progress? Thanks!

[2020-03-09 11:56] Kevin-Mattheus-Moerman commented on #2060
@JoshuaSteer let us know when you are ready with those edits and for us to resume the review process.

[2020-03-09 12:13] fccoelho commented on #2145
@whedon generate pdf

[2020-03-09 12:14] whedon commented on #2145
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02145/joss.02145/10.21105.joss.02145.pdf)

[2020-03-09 12:52] poulson commented on #1609
I apologize for the delay on this, @madvn. Thank you for filling in the missing DOI. I will move forward with it right now.

[2020-03-09 12:53] poulson commented on #1609
@whedon set https://doi.org/10.5281/zenodo.3671994 as archive

[2020-03-09 12:53] whedon commented on #1609
OK. <a href="https://doi.org/10.5281/zenodo.3671994" target="_blank">10.5281/zenodo.3671994</a> is the archive.

[2020-03-09 12:54] poulson commented on #1609
@whedon set v1.0 as version

[2020-03-09 12:54] whedon commented on #1609
OK. v1.0 is the version.

[2020-03-09 12:54] poulson commented on #1609
@whedon accept

[2020-03-09 12:54] dfm commented on #2141
@xwang862 has agreed to act as a reviewer for this submission. Thanks Xiao!

Once we find a second reviewer, we'll get the review rolling.

[2020-03-09 12:54] whedon commented on #1609
[code]

[2020-03-09 12:54] dfm commented on #2141
@whedon set @xwang862 as reviewer

[2020-03-09 12:54] whedon commented on #2141
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-03-09 12:54] whedon commented on #1609
[code]

[2020-03-09 12:55] whedon commented on #1609
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1361

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1361, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-09 12:55] dfm commented on #2141
@whedon assign @xwang862 as reviewer

[2020-03-09 12:55] whedon commented on #2141
OK, @xwang862 is now a reviewer

[2020-03-09 12:57] danielskatz commented on #2147
👋 @lfduquey - Can you move your paper into your software repo, then resubmit the software repo (also use your github handle when you submit, not the URL to your github account)?

[2020-03-09 12:59] poulson commented on #1655
Hi @hausen -- it looks like you haven't checked any of the review boxes despite some responses from the author to your suggestions. Are there further fixes needed, or are you happy with their response?

[2020-03-09 12:59] whedon opened #2151 "[PRE REVIEW]: Pydiogment: A Python package for audio augmentation"
**Submitting author:** @SuperKogito (<a href="http://orcid.org/0000-0002-5610-9086">Ayoub Malek</a>)
**Repository:** <a href="https://github.com/SuperKogito/pydiogment" target ="_blank">https://github.com/SuperKogito/pydiogment</a>
**Version:** v0.1.0
**Editor:** @mbobra
**Reviewers:** @bmcfee, @justinsalamon
**Managing EiC:** Daniel S. Katz

**Author instructions**

Thanks for submitting your pap

[2020-03-09 12:59] whedon commented on #2151
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-09 13:00] whedon commented on #2151
[code]

[2020-03-09 13:00] whedon commented on #2151
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02151/joss.02151/10.21105.joss.02151.pdf)

[2020-03-09 13:06] danielskatz commented on #2151
I've suggested a bunch of small changes in https://github.com/SuperKogito/pydiogment/pull/6, and pointed out one phrase that I don't understand

[2020-03-09 13:08] madvn commented on #1609
The final proof looks great to me, thank you!

[2020-03-09 13:08] dfm commented on #2141
:wave: Hi @malramsay64, Any chance you're available and willing to review this submission to JOSS?

[2020-03-09 13:43] terrytangyuan commented on #2148
👋 @bmcfee, @hagenw @faroit if you would like to review for this submission, please let us know here! We need at least two reviewers.

[2020-03-09 13:52] faroit commented on #2148
@terrytangyuan @romi1502 Great to see more audio papers here. I don't see a conflict of interest and can ensure that I would review the paper accordingly. But I let the editors decide....

[2020-03-09 14:02] lfduquey commented on #2147
@danielskatz ok. I will repeat the submission process by following your suggestions.

[2020-03-09 14:02] danielskatz commented on #1609
I've suggested some minor changes in https://github.com/madvn/infotheory/pull/5 and https://github.com/madvn/infotheory/pull/6

[2020-03-09 14:04] danielskatz commented on #2147
Thanks - I'll mark this as withdrawn and expect the replacement

[2020-03-09 14:04] danielskatz commented on #2147
@whedon withdraw

[2020-03-09 14:04] whedon commented on #2147
Paper withdrawn.

[2020-03-09 14:04] #2147 closed

[2020-03-09 14:04] bmcfee commented on #2148
Sure, count me in.

[2020-03-09 14:13] danielskatz commented on #1609
@whedon accept

[2020-03-09 14:13] whedon commented on #1609
[code]

[2020-03-09 14:13] madvn commented on #1609
Hi @danielskatz,

Thank you for those edits. Pull requests merged!

Best,
Madhavun

[2020-03-09 14:13] whedon commented on #1609
[code]

[2020-03-09 14:14] whedon commented on #1609
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1362

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1362, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-09 14:14] danielskatz commented on #1609
@whedon accept deposit=true

[2020-03-09 14:14] whedon commented on #1609
[code]

[2020-03-09 14:15] whedon commented on #1609
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1237019222540275712) 👈 🐦🐦🐦

[2020-03-09 14:15] whedon commented on #1609
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1363
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01609](https://doi.org/10.21105/joss.01609)
2. If everything looks g

[2020-03-09 14:16] whedon opened #2152 "[PRE REVIEW]: JASP for Audit: Bayesian Tools for the Auditing Practice"
**Submitting author:** @koenderks (<a href="http://orcid.org/0000-0002-5533-9349">Koen Derks</a>)
**Repository:** <a href="https://github.com/koenderks/jasp-desktop" target ="_blank">https://github.com/koenderks/jasp-desktop</a>
**Version:** v1.0.0
**Editor:** @drvinceknight
**Reviewers:** @trstewart212 , @fgeertman
**Managing EiC:** Daniel S. Katz

**Author instructions**

Thanks for submitting y

[2020-03-09 14:16] whedon commented on #2152
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-09 14:17] whedon commented on #2152
PDF failed to compile for issue #2152 with the following error:

 Can't find any papers to compile :-(

[2020-03-09 14:18] whedon commented on #2152
[code]

[2020-03-09 14:18] johannes-titz commented on #2116
@aj2duncan No problem. This is my mistake, sorry for not stating it earlier! I will add the information on the contributing author asap.

@strengejacke Thank you very much! I am actually not a big fan of centering since the data I usually analyze has a meaningful interpretation of the zero point. So far I thought centering is rather optional and more of a theoretical problem (what should zero repr

[2020-03-09 14:21] madvn commented on #1609
Awesome! 🎉 🎉

Thank you @poulson and @kthyng for your continuous support through this process! Thank you @ajgates42 and @artemyk for your review comments that helped improve the paper and the package overall, and thank you @danielskatz for the final edits!!

[2020-03-09 14:23] gkthiruvathukal commented on #2001
Thanks, @jaynanavati. I will add you and we can get the review process started.

[2020-03-09 14:24] gkthiruvathukal commented on #2001
@whedon add @jaynanavati as reviewer

[2020-03-09 14:24] whedon commented on #2001
OK, @jaynanavati is now a reviewer

[2020-03-09 14:24] gkthiruvathukal commented on #2001
@whedon start review

[2020-03-09 14:24] whedon opened #2153 "[REVIEW]: EvoMaster: A Search-Based System Test Generation Tool"
**Submitting author:** @arcuri82 (<a href="http://orcid.org/0000-0003-0799-2930">Andrea Arcuri</a>)
**Repository:** <a href="https://github.com/EMResearch/EvoMaster" target ="_blank">https://github.com/EMResearch/EvoMaster</a>
**Version:** 1.1.0
**Editor:** @gkthiruvathukal
**Reviewers:** @mado89, @s0nata, @UTH-Tuan
**Archive:** <a href="https://doi.org/10.5281/zenodo.4300745" target="_blank">10.5

[2020-03-09 14:24] whedon commented on #2001
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2153.

[2020-03-09 14:24] #2001 closed

[2020-03-09 14:24] danielskatz commented on #1609
At least for me, the paper itself is not appearing (https://www.theoj.org/joss-papers/joss.01609/10.21105.joss.01609.pdf) - once it does, I will close this issue

[2020-03-09 14:24] whedon commented on #2153
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mado89, @jaynanavati it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-03-09 14:25] danielskatz commented on #1609
Thanks to @poulson for editing and @ajgates42 and @artemyk for reviewing!

[2020-03-09 14:25] whedon commented on #2153
[code]

[2020-03-09 14:25] whedon commented on #2153
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02153/joss.02153/10.21105.joss.02153.pdf)

[2020-03-09 14:26] danielskatz commented on #2152
@whedon generate pdf from branch JfA-JOSS

[2020-03-09 14:26] whedon commented on #2152
[code]

[2020-03-09 14:28] whedon commented on #2152
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02152/joss.02152/10.21105.joss.02152.pdf)

[2020-03-09 14:28] gkthiruvathukal commented on #1960
Ok, I am ready to proceed toward acceptance. @phillima here is a final checklist for you.

Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make su

[2020-03-09 14:31] danielskatz commented on #2152
@koenderks - the use of "conform" in the paper seems incorrect.  Perhaps you can rephrase this sentence?

[2020-03-09 14:35] danielskatz commented on #2152
@whedon invite @drvinceknight as editor

[2020-03-09 14:35] whedon commented on #2152
@drvinceknight has been invited to edit this submission.

[2020-03-09 14:36] danielskatz commented on #2126
👋 @lorenanicole - just a reminder/ping...

[2020-03-09 14:36] danielskatz commented on #2131
👋 @poulson - just a reminder/ping...

[2020-03-09 14:40] CBenghi commented on #2150
Hello @dipongkor,

since you tagged me in the thread I'm feeling it's appropriate to chip in.

My view is that your update is far from addressing the concerns expressed by @Kevin-Mattheus-Moerman

As stated, this looks more like a commercial problem that educators face than a research issue.

What is the research field exactly?
Can you provide examples of publications or research projects that mig

[2020-03-09 14:46] #1609 closed

[2020-03-09 14:46] whedon commented on #1609
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01609/status.svg)](https://doi.org/10.21105/joss.01609)

**We need your help!**

Journal of Open Source Softwa

[2020-03-09 14:59] poulson commented on #2131
@whedon set @poulson as editor

[2020-03-09 14:59] whedon commented on #2131
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-03-09 14:59] poulson commented on #2131
@whedon commands

[2020-03-09 14:59] whedon commented on #2131
Here are some things you can ask me to do:

[code]

[2020-03-09 14:59] poulson commented on #2131
@whedon assign @poulson as editor

[2020-03-09 14:59] whedon commented on #2131
OK, the editor is @poulson

[2020-03-09 15:01] poulson commented on #2131
Hi Sameer :wave: (@sandwichmaker) -- would you mind serving as one of the reviewers for this paper? It cites some of your work and it seems you would have some useful feedback for them.

[2020-03-09 15:06] poulson commented on #2131
Hi @fiveop :wave: -- given your preferred language of Rust, would you feel comfortable serving as one of the reviewers of this paper on a Rust software package for generating datasets for bundle adjustment problems?

[2020-03-09 15:07] hausen commented on #1655
@poulson yeah, everything seems to be good with the submission. For some reason, I can't check any of the boxes above, but if I could I'd check all of them.

[2020-03-09 15:07] paulgovan commented on #2111
There are several issues with this submission. Please reference the links above.

[2020-03-09 15:08] poulson commented on #2131
Hi @fhorrobin :wave: -- given that you mentioned Rust as one of your preferred languages, and your stated interest in statistical modeling, would you be interested and able to serve as one of the reviewers for this submission on a Rust package for generating datasets for bundle adjustment problems?

[2020-03-09 15:37] sjpfenninger commented on #2042
@arbennet: Thanks for your quick work in addressing reviewer comments. Based on the reviews, I think your paper still needs a tiny bit of work.

Basically, the first paragraph in your paper should explain to a general scientifically literate audience whom your package is for and what problem(s) it solves. Right now, you delve into jargon almost immediately.

Note the requirements stated on https:/

[2020-03-09 15:38] sjpfenninger commented on #2042
@dsryberg thanks for the review! If you can briefly check whether you are happy with the changes made in response, that would be great!

[2020-03-09 15:44] dfm commented on #2103
@nespinoza, @rodluger: Thanks for your thoughtful and constructive reviews!

@bmorris3: Congrats on your new paper!

[2020-03-09 15:45] kbarnhart commented on #1978
@nkarasiak I wanted to check in on this review. Could you provide an update on your progress addressing the current set of issues raised by the reviewers?

[2020-03-09 15:58] odow commented on #2090
One typo: `s/elswhere/elsewhere`.

Agree with @oxinabox. Low-end of significant contribution, but still useful.

This is really an editorial decision on where the bar should be set with respect to papers accepted.

If the decision is to have a generous acceptance policy in order to give people credit for their open-source work (Which we appreciate, @arnavs!), accept.
If JOSS wants to move toward a

[2020-03-09 16:03] terrytangyuan commented on #2148
@whedon assign @bmcfee  as reviewer

[2020-03-09 16:03] whedon commented on #2148
OK, @bmcfee  is now a reviewer

[2020-03-09 16:03] terrytangyuan commented on #2148
@whedon add @faroit  as reviewer

[2020-03-09 16:03] whedon commented on #2148
OK, @faroit  is now a reviewer

[2020-03-09 16:03] terrytangyuan commented on #2148
@whedon start review

[2020-03-09 16:03] whedon opened #2154 "[REVIEW]: Spleeter: a fast and efficient music source separation tool with pre-trained models"
**Submitting author:** @romi1502 (<a href="http://orcid.org/0000-0001-8158-5562">Romain Hennequin</a>)
**Repository:** <a href="https://github.com/deezer/spleeter" target ="_blank">https://github.com/deezer/spleeter</a>
**Version:** v1.5.3
**Editor:** @terrytangyuan
**Reviewer:** @bmcfee, @faroit
**Archive:** <a href="https://doi.org/10.5281/zenodo.3906389" target="_blank">10.5281/zenodo.3906389</

[2020-03-09 16:03] whedon commented on #2148
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2154.

[2020-03-09 16:03] #2148 closed

[2020-03-09 16:03] whedon commented on #2154
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bmcfee , @faroit  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2020-03-09 16:03] terrytangyuan commented on #2148
Thanks! Look forward to your reviews in #2154.

[2020-03-09 16:04] whedon commented on #2154
[code]

[2020-03-09 16:04] whedon commented on #2154
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02154/joss.02154/10.21105.joss.02154.pdf)

[2020-03-09 16:04] kbarnhart commented on #1969
@rgmyr I wanted to check in and get a quick update on where you stand on addressing the current set of outstanding issues.

[2020-03-09 16:07] kbarnhart commented on #2029
:wave: @frengers @stoor001 @khaors a friendly reminder to complete your review and/or post an update here on when we might expect a review.

Thanks again for participating in the JOSS review process.

[2020-03-09 16:09] VivianePons commented on #2090
Thank you both for your valuable inputs and the work. I will discuss it with other editors and let you know what we decide. In any case, @arnavs this is valuable work and I appreciate your reactivity in responding to the different requests.

[2020-03-09 16:11] arfon commented on #1655
@hausen - can you try accepting the invite at this page which should allow you to update the checklist https://github.com/openjournals/joss-reviews/invitations

[2020-03-09 16:26] arnavs commented on #2090
Good catch on typo @odow. Fixed.

And thanks @VivianePons. Just a note that it would be great to re-check the statistics if possible. I don't know if we are over the threshold, but we have been adding features here and there (new distributions, mixed distributions, etc.)

[2020-03-09 16:29] arfon commented on #2152
:wave: @koenderks - could you summarize here for the editor (and future reviewers) the specific aspects of the software that you would like reviewed here? (@koenderks and I have exchanged emails on this topic).

[2020-03-09 16:42] karthik commented on #2019
@whedon add @@njtierney as reviewer

[2020-03-09 16:43] whedon commented on #2019
OK, @@njtierney is now a reviewer

[2020-03-09 16:44] nkarasiak commented on #1978
Hi @kbarnhart  :hand: ,
I addressed these issues several days ago :
- https://github.com/nkarasiak/MuseoToolBox/issues/25 , I'm waiting for conda-forge to accept Museo ToolBox, but everything has been done to correct the bug @mollenburger encountered (gdal cannot be installed via pip, conda is be a great alternative to avoid this bug).
- https://github.com/nkarasiak/MuseoToolBox/issues/26 , I thin

[2020-03-09 16:44] VivianePons commented on #2090
@whedon commands

[2020-03-09 16:44] whedon commented on #2090
Here are some things you can ask me to do:

[code]

[2020-03-09 16:45] VivianePons commented on #2090
@whedon check repository

[2020-03-09 16:45] whedon commented on #2090
[code]

[2020-03-09 17:40] miketuri commented on #1988
Dear @VivianePons I have reached out to a contact to see if he, or someone he knows, would be able to review this software.  I'll keep you posted with what I find out.

[2020-03-09 17:51] JoshuaSteer commented on #2060
Thanks @Kevin-Mattheus-Moerman

@danasolav exposed some good bugs to tackle in the GUI. I've done a fairly sizeable restructure based on this. Should have edits finished in next day or so

[2020-03-09 18:10] peanutfun commented on #2149
Hi @arfon, thank you in advance. We've been looking forward to this!

As potential reviewers I would like to suggest @eteq, @platipodium, @szhorvat, @dglmoore, @shibabrat, and @sgrieve.

It would be great if we could keep compiling the paper from the `joss-paper` branch in our repository until the review is finished. This way, we can update the document quickly and only merge it into our `master`

[2020-03-09 19:14] christinahedges commented on #2101
Hi @xuanxu

This link has expired for me, would you be able to tell me how I can get a new one? I'm just going through the checklist now!

Thanks!
C

[2020-03-09 19:15] danielskatz commented on #2101
@arfon needs to re-enable the invitation

[2020-03-09 19:16] whedon opened #2155 "[PRE REVIEW]: MDBED: An R package for simulating the Moran-Downton bivariate exponential distribution"
**Submitting author:** @lfduquey (<a href="http://orcid.org/0000-0002-0367-8496">Luis F. Duque</a>)
**Repository:** <a href="https://github.com/lfduquey/MDBED" target ="_blank">https://github.com/lfduquey/MDBED</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**Author instructions**

Thanks for submitting your paper to JOSS @lfduquey. **Currently,

[2020-03-09 19:16] whedon commented on #2155
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-03-09 19:16] whedon commented on #2155
PDF failed to compile for issue #2155 with the following error:

 Can't find any papers to compile :-(

[2020-03-09 19:17] danielskatz commented on #2155
👋 @openjournals/dev - can you fix the submitting author please?  (it's a URL rather than a github handle)

[2020-03-09 19:19] danielskatz commented on #2155
@lfduquey - can you try again?

The repository should be https://github.com/lfduquey/MDBED

[2020-03-09 19:24] waxlamp commented on #2105
Here's the requested information:
- tagged release version: v1.0.0 (https://github.com/ToyotaResearchInstitute/materialnet/releases/tag/v1.0.0)
- Zenodo DOI: http://doi.org/10.5281/zenodo.3701759

Please let me know if these look ok.

[2020-03-09 19:26] danielskatz commented on #2105
@whedon set v1.0.0 as version

[2020-03-09 19:26] whedon commented on #2105
OK. v1.0.0 is the version.

[2020-03-09 19:27] danielskatz commented on #2105
@whedon set 10.5281/zenodo.3701759 as archive

[2020-03-09 19:27] whedon commented on #2105
OK. <a href="https://doi.org/10.5281/zenodo.3701759" target="_blank">10.5281/zenodo.3701759</a> is the archive.

[2020-03-09 19:27] danielskatz commented on #2105
@whedon accept

[2020-03-09 19:27] whedon commented on #2105
[code]

[2020-03-09 19:29] whedon commented on #2105
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1364

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1364, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-09 19:31] danielskatz commented on #2105
@whedon accept deposit=true

[2020-03-09 19:31] whedon commented on #2105
[code]

[2020-03-09 19:33] whedon commented on #2105
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1237099083942318080) 👈 🐦🐦🐦

[2020-03-09 19:33] whedon commented on #2105
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1365
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02105](https://doi.org/10.21105/joss.02105)
2. If everything looks g