[2019-08-31 15:16] leouieda commented on #1628
@mpetroff thanks! We prefer the DOI for the specific version.

[2019-08-31 15:16] leouieda commented on #1628
@whedon set version as v2.5.3

[2019-08-31 15:17] leouieda commented on #1628
@whedon set v2.5.3 as version

[2019-08-31 15:17] whedon commented on #1628
OK. v2.5.3 is the version.

[2019-08-31 15:17] leouieda commented on #1628
@whedon set 10.5281/zenodo.3373725 as archive

[2019-08-31 15:18] whedon commented on #1628
OK. <a href="https://doi.org/10.5281/zenodo.3373725" target="_blank">10.5281/zenodo.3373725</a> is the archive.

[2019-08-31 15:18] leouieda commented on #1628
@whedon generate pdf

[2019-08-31 15:18] whedon commented on #1628
[code]

[2019-08-31 15:19] whedon commented on #1628
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01628/joss.01628/10.21105.joss.01628.pdf)

[2019-08-31 15:19] leouieda commented on #1628
@whedon check references

[2019-08-31 15:19] whedon commented on #1628
[code]

[2019-08-31 15:20] whedon commented on #1628
[code]

[2019-08-31 15:22] leouieda commented on #1628
@openjournals/joss-eics this submission is ready for publication :tada:

[2019-08-31 17:07] pachamaltese commented on #1696
potential reviewer @noamross

[2019-08-31 17:14] pachamaltese commented on #1696
@whedon generate pdf

[2019-08-31 17:14] whedon commented on #1696
[code]

[2019-08-31 17:14] whedon commented on #1696
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01696/joss.01696/10.21105.joss.01696.pdf)

[2019-08-31 17:16] pachamaltese commented on #1696
@whedon generate pdf

[2019-08-31 17:16] whedon commented on #1696
[code]

[2019-08-31 17:17] whedon commented on #1696
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01696/joss.01696/10.21105.joss.01696.pdf)

[2019-08-31 17:27] whedon commented on #1411
:wave: @snowformatics, please update us on how things are progressing here.

[2019-08-31 18:39] labarba commented on #1628
@mpetroff — Could you edit the metadata of the Zenodo archive so the title matches the JOSS paper?

[2019-08-31 18:42] labarba commented on #1628
Also, you've got three new commits since v2.5.3. Do you need to up the patch version for the accepted software?

[2019-08-31 20:30] HaoZeke commented on #1692
Ah, may I put myself forward to review this? @labarba

[2019-08-31 20:31] HaoZeke commented on #1694
Hi @meg-simula. May I put myself forward for this? I really like modern fortran :grin:

[2019-08-31 20:38] mpetroff commented on #1628
I updated the Zenodo title. The three most recent commits are unrelated to the review and are intended for v2.6.0.

[2019-08-31 20:50] labarba commented on #1692
Of course! Thanks for volunteering—let's get this show on the road.

[2019-08-31 20:50] labarba commented on #1692
@whedon add @HaoZeke as reviewer

[2019-08-31 20:50] whedon commented on #1692
OK, @HaoZeke is now a reviewer

[2019-08-31 20:50] labarba commented on #1692
@whedon start review

[2019-08-31 20:51] labarba commented on #1628
@whedon accept

[2019-08-31 20:51] whedon commented on #1628
[code]

[2019-08-31 20:52] whedon commented on #1628
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/935

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/935, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-31 21:00] labarba commented on #1628
@whedon accept deposit=true

[2019-08-31 21:00] whedon commented on #1628
[code]

[2019-08-31 21:01] whedon commented on #1628
PDF failed to compile for issue #1628 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/net/protocol.rb:44:in `connect_nonblock': SSL_connect returned=1 errno=0 state=SSLv2/v3 read server hello A: sslv3 alert handshake failure (OpenSSL::SSL::SSLError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/net/protocol.rb:44:in `ssl_socket_connect'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/n

[2019-08-31 21:03] labarba commented on #1628
Yikes! Something has gone awry. @arfon — help!

[2019-08-31 21:06] labarba commented on #1692
Hmm. We're experiencing a little hiccup. @arfon — our dearest bot is not responding to `start review` here. Any ideas?

[2019-08-31 21:42] vitorsr commented on #1669
Thank you for the suggestion @PolymerGuy. However, I am/will be somewhat busy for the next week. Please carry on with the recommendations/assignments.

I'll check back Tuesday (Sep. 3) and give a definite answer if you are not able to find another reviewer.

It would help me positively if there were a time estimate to the reviewing process (it would be my first for JOSS), and how thorough it's sup

[2019-08-31 21:42] vsoch commented on #1628
help us, @arfon! You're our only hope...

![giphy](https://user-images.githubusercontent.com/814322/64069397-bb959500-cc16-11e9-9d6e-a40f2ba996a7.gif)

[2019-08-31 21:48] danielskatz commented on #1628
I would just try again. Some faults are transient

[2019-08-31 22:01] vsoch commented on #1628
@whedon accept deposit=true

[2019-08-31 22:01] whedon commented on #1628
I'm sorry @vsoch, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2019-08-31 22:01] vsoch commented on #1628
Denied! :P

[2019-08-31 22:02] vsoch commented on #1628
And @whedon is channeling Hal... is the predicted future from the movie coming true? Things just got real! :scream:

Happy Saturday everyone :)

[2019-08-31 22:03] labarba commented on #1628
@whedon accept deposit=true

[2019-08-31 22:03] whedon commented on #1628
[code]

[2019-08-31 22:04] whedon commented on #1628
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1167921146546667520) 👈 🐦🐦🐦

[2019-08-31 22:04] whedon commented on #1628
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/936
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01628](https://doi.org/10.21105/joss.01628)
2. If everything looks go

[2019-08-31 22:05] vsoch commented on #1628
Woohoo congrats @mpetroff !

[2019-08-31 22:06] labarba commented on #1628
It worked. Congratulations, @mpetroff, your JOSS paper is published! 🚀

Big thanks to our editor: @leouieda, and the reviewers: @vsoch, @Fil — thank you for your contributions to JOSS 🙏

[2019-08-31 22:06] #1628 closed

[2019-08-31 22:06] whedon commented on #1628
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01628/status.svg)](https://doi.org/10.21105/joss.01628)

**We need your help!**

Journal of Open Source Softwa

[2019-08-31 22:32] mpetroff commented on #1628
Thank you @vsoch and @Fil for the prompt and detailed comments, and thank you @leouieda and @labarba for editorial support!

[2019-09-01 00:22] bryanlimy commented on #1524
Hi @mbobra I have uploaded our release to Zenodo and added the Zenodo badge on our README https://github.com/for-ai/rl/blob/master/README.md

[2019-09-01 00:45] labarba commented on #1542
Yikes, I missed this notification in the email avalanche. Sorry about that!

[2019-09-01 00:48] labarba commented on #1542
@ShanaScogin — I don't see a tagged release in the software repository to match the version associated with the JOSS paper. Could you issue a release?

[2019-09-01 00:55] labarba commented on #1542
Also, the final paragraph of your paper says that "the code is on GitHub" with a link. Please remove this. The link to the software repository and archive are both included in the margin decorators on the front page of the paper.

[2019-09-01 01:30] ShanaScogin commented on #1542
@labarba Thanks for the help. I've deleted that sentence and added release 1.0.1. Is there something else that needs to be done?

[2019-09-01 04:34] kmzzhang commented on #1651
@arfon It is accepted to ApJ

[2019-09-01 04:47] jedbrown commented on #1612
@whedon generate pdf

[2019-09-01 04:47] whedon commented on #1612
[code]

[2019-09-01 04:48] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-09-01 05:09] sohrabtowfighi commented on #1675
I have added an -exhaustive flag which performs brute-force exhaustive search instead of uniform random global search

[2019-09-01 07:24] arokem commented on #1672
Yeah. I can take this one.

[2019-09-01 07:25] arokem commented on #1672
@whedon assign arokem as editor

[2019-09-01 07:25] whedon commented on #1672
OK, the editor is arokem

[2019-09-01 07:28] arokem commented on #1295
Hi @jdkent : I see that the Zenodo submission has two authors (you and Peer), but you are the sole author of the paper. That needs to be consistent. I believe that you should be able to edit the Zenodo submission metadata.

[2019-09-01 07:32] arokem commented on #1672
👋 @mkearney : would you be willing to review this article for the [Journal of Open Source Software](https://joss.theoj.org/)?

[2019-09-01 07:34] arokem commented on #1672
👋 @nkratzke : would you be willing to review this article for the [Journal of Open Source Software](https://joss.theoj.org/)?

[2019-09-01 08:48] nkratzke commented on #1672
Yes, I can do this review. Let me know how to submit it to you.

[2019-09-01 09:01] henrikmidtiby commented on #1654
@kthyng We attempted to install it on a mac six months ago, but it failed due to some missing requirements / dependencies. We haven't tried to install it on MacOS since.
I will test whether the program installs in a virtual machine and report back.

[2019-09-01 10:42] arfon commented on #1651
@kmzzhang - can you merge this PR please? https://github.com/profjsb/deepCR/pull/10

[2019-09-01 11:23] arokem commented on #1672
@nkratzke : thanks! Once I have one more reviewer, I will start the review as a separate issue here. You will then have a list of items to check off. For more information, please take a look at the [reviewer guide](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

[2019-09-01 11:41] jkanche commented on #1665
@mlindsk devtools::check fails for the package.

Here's the error -

[code]

here's my sessionInfo

[code]

[2019-09-01 12:26] labarba commented on #1542
@whedon accept

[2019-09-01 12:26] whedon commented on #1542
[code]

[2019-09-01 12:27] whedon commented on #1542
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/937

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/937, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-01 12:28] labarba commented on #1542
@whedon accept deposit=true

[2019-09-01 12:28] whedon commented on #1542
[code]

[2019-09-01 12:29] whedon commented on #1542
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1168138829901049856) 👈 🐦🐦🐦

[2019-09-01 12:29] whedon commented on #1542
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/938
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01542](https://doi.org/10.21105/joss.01542)
2. If everything looks go

[2019-09-01 12:30] labarba commented on #1542
Congratulations, @ShanaScogin, your JOSS paper is published! 🚀

Big thanks to our editor: @usethedata, and reviewers: @andrewheiss, @usethedata — thank you for your contributions to JOSS 🙏

[2019-09-01 12:30] #1542 closed

[2019-09-01 12:30] whedon commented on #1542
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01542/status.svg)](https://doi.org/10.21105/joss.01542)

**We need your help!**

Journal of Open Source Softwa

[2019-09-01 12:35] ShanaScogin commented on #1542
Thank you all! We appreciate everyone's help, comments, and support!

[2019-09-01 12:42] hagenw commented on #1667
I think that should be possible. I'm done with the review of all the written parts and will install and test the software on Monday or Tuesday. If everything works fine then the review should be finished in time.

[2019-09-01 12:43] hagenw commented on #1667
https://github.com/sigsep/open-unmix-paper-joss/issues/11

[2019-09-01 12:43] hagenw commented on #1667
https://github.com/sigsep/open-unmix-paper-joss/issues/12

[2019-09-01 12:54] mlindsk commented on #1665
@jkanche Could you try again - I forgot to "suggest" the packages "dplyr" and "pander" in the vignette.

[2019-09-01 14:12] jdkent commented on #1295
I [remade the paper](https://github.com/openjournals/joss-papers/blob/joss.01295/joss.01295/10.21105.joss.01295.pdf) with Peer as a co-author, or were you referencing another document?

[2019-09-01 14:23] arokem commented on #1295
OK. I see that he approved that in https://github.com/HBClab/NiBetaSeries/pull/181.

[2019-09-01 14:23] arokem commented on #1295
@whedon set 10.5281/zenodo.3382330 as archive

[2019-09-01 14:23] whedon commented on #1295
OK. <a href="https://doi.org/10.5281/zenodo.3382330" target="_blank">10.5281/zenodo.3382330</a> is the archive.

[2019-09-01 14:24] arokem commented on #1295
@openjournals/joss-eics : I believe that this is now ready for your review

[2019-09-01 14:39] jkanche commented on #1665
@mlindsk let me know if i was unclear on something

- `devtools::check()` fails, add `pander` package to either dependencies or suggests in the description file & require this package on the vignette
- I'd recommend adding a class `efs` that extends list using a proper class definition. Then create instances of this class in `efs_init` and `efs_step`.
- Also wondering if you have looked into the `

[2019-09-01 14:40] jkanche commented on #1665
@mlindsk i deleted my previous msg, to provide all my comments in one! but thanks for making this update

[2019-09-01 14:59] maxscheurer commented on #1668
Hi, I think this is out of my field of expertise, so I don't feel capable to review the manuscript. Sorry...

[2019-09-01 15:21] bmcfee commented on #1667
Everything looks good on my end, checkboxes completed.

[2019-09-01 16:32] danielskatz commented on #1487
@whedon remind @StewMH in 9 days

[2019-09-01 16:32] whedon commented on #1487
Reminder set for @StewMH in 9 days

[2019-09-01 16:33] danielskatz commented on #1573
@arfon - note that this has been renamed - do we need to do anything to tell whedon this, or in an internal database?

[2019-09-01 16:33] danielskatz commented on #1573
👋 @jgoldfar, @ahwillia - can you confirm that you are happy with this now?

[2019-09-01 16:35] danielskatz commented on #1674
👋 @linuxscout - thanks for your work so far. Are there issues that are preventing you from checking the remaining boxes?  If so, please flag them here or with new issues in the repository (mentioning this review issue).

[2019-09-01 16:35] danielskatz commented on #1674
@whedon remind @timClicks in 6 days

[2019-09-01 16:35] whedon commented on #1674
Reminder set for @timClicks in 6 days

[2019-09-01 16:39] linuxscout commented on #1674
I work on testing the software.
For the automated tests, there is none in the repository.

[2019-09-01 16:51] mgymrek commented on #1256
Thanks @scan2001. Can you please ensure the Zenodo release has the same title and author list as the JOSS paper for consistency? Then we should be ready to go.

[2019-09-01 16:54] mgymrek commented on #1643
Thanks @SirSharpest and @marouenbg. These comments look reasonable.
@ashleefv please review the comments from the reviewers and post responses to their comments here.

[2019-09-01 16:56] ashleefv commented on #1643
Alright. We've been posting responses on the github repository issues. We'll also consolidate them and post here when they are completed (should be later this week).

Ashlee N. Ford Versypt, Ph.D.
Assistant Professor, School of Chemical Engineering, Oklahoma State University
Member, Harold Hamm Diabetes Center, University of Oklahoma Health Sciences Center
420 Engineering North, OSU, Stillwater, O

[2019-09-01 16:58] linuxscout commented on #1674
No automated tests
https://github.com/lisc-tools/lisc/issues/22

[2019-09-01 17:00] mgymrek commented on #1509
Thanks!

@sayanddude see next steps below.

Some minor comments on the paper:
* "EDA can be categorized into Descriptive statistical techniques and graphical techniques": uncapitalize descriptive
* You can reference just Figure 2 rather than spelling out (a) through (f)
* There is a reference to a Figure 9 that I believe should be to Figure 3 instead

After fixing those typos, can you please make

[2019-09-01 17:18] danielskatz commented on #1674
As we say in the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html#tests)

So we do not require automated tests (though we encourage them), but we do require some tests.

In this case, if there are manual tests that you think are sufficient "to objectively check the expected functionality of the software (e.g. a sample input file to assert behavior)", that's enough for t

[2019-09-01 17:21] linuxscout commented on #1674
I think that tutorials are good as tests.

[2019-09-01 17:23] labarba commented on #1295
@whedon accept

[2019-09-01 17:23] whedon commented on #1295
[code]

[2019-09-01 17:23] whedon commented on #1295
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/939

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/939, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-01 17:27] TomDonoghue commented on #1674
There are tests!

In the folder lisc/tests is a set of unit-tests. They are, I would say often smoke-tests, in that there is not always strong accuracy checking, but there are at least sanity check tests.

They are written with pytest. If you want to run them locally, then, with pytest installed, from inside the lisc code folder (so in `lisc/lisc`) run:
`pytest .`

I realize now it's not really do

[2019-09-01 17:39] kmzzhang commented on #1651
@arfon done

[2019-09-01 17:51] arfon commented on #1651
@whedon generate pdf

[2019-09-01 17:51] whedon commented on #1651
[code]

[2019-09-01 17:52] whedon commented on #1651
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01651/joss.01651/10.21105.joss.01651.pdf)

[2019-09-01 17:56] labarba commented on #1295
I see that the latest version tagged on the GitHub repo is v0.3.0, while here we have v0.2.3. Please confirm that we should change the version here to match the tag in the repo. Also, it is marked as a "Pre-release." Are you sure you want that? It generally means the release is unstable—if that were the case, you would not be publishing a paper about the software at this time.

Since I'm sending t

[2019-09-01 17:57] arfon commented on #1573
The repository has been renamed or the paper, or both?

[2019-09-01 18:01] arfon commented on #1651
@terrytangyuan - this looks to be ready for you to accept I think?

[2019-09-01 18:02] holgerteichgraeber commented on #1573
Both the paper and the repository (and thus also the link to the repository: https://github.com/holgerteichgraeber/TimeSeriesClustering.jl )

[2019-09-01 18:09] arfon commented on #1573
Got it, thanks. I've updated the links in the JOSS database.

[2019-09-01 18:15] whedon opened #1697 "[PRE REVIEW]: ndsplines: A Python Library for Tensor-Product B-Splines of Arbitrary Dimension"
**Submitting author:** @sixpearls (<a href="http://orcid.org/0000-0001-5602-1888">Benjamin Margolis</a>)
**Repository:** <a href="https://github.com/kb-press/ndsplines/" target ="_blank">https://github.com/kb-press/ndsplines/</a>
**Version:** v0.1.0
**Editor:** @mbobra
**Reviewers:** @amritagos, @sarats

**Author instructions**

Thanks for submitting your paper to JOSS @sixpearls. **Currently, the

[2019-09-01 18:15] whedon commented on #1697
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-01 18:15] whedon commented on #1697
[code]

[2019-09-01 18:16] whedon commented on #1697
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01697/joss.01697/10.21105.joss.01697.pdf)

[2019-09-01 18:17] ahwillia commented on #1573
Yes this looks good to me!

[2019-09-01 18:20] terrytangyuan commented on #1651
@whedon check references

[2019-09-01 18:20] whedon commented on #1651
[code]

[2019-09-01 18:21] whedon commented on #1651
[code]

[2019-09-01 18:21] labarba commented on #1697
@whedon check references

[2019-09-01 18:21] whedon commented on #1697
[code]

[2019-09-01 18:21] terrytangyuan commented on #1651
@kmzzhang Thanks!

At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

* The title of the archive is the same as the JOSS paper title
* That t

[2019-09-01 18:21] whedon commented on #1697
[code]

[2019-09-01 18:23] labarba commented on #1697
@sixpearls — Please add DOIs to your references; our bot `whedon` has given you some tips above. Also, the reference label `@deboor` is not present in your `.bib` file, and thus you get `???` in the paper where you cited that.

[2019-09-01 18:24] labarba commented on #1697
👋  @mbobra — Could you handle this JOSS submission as editor?
"ndsplines: A Python Library for Tensor-Product B-Splines of Arbitrary Dimension"
repo: https://github.com/kb-press/ndsplines/

[2019-09-01 18:25] terrytangyuan commented on #1509
@sayanddude Thanks for addressing the comments. The paper looks good to me now and I recommend for publication.

[2019-09-01 18:30] mlindsk commented on #1665
- Perfect you didn't have `pander` installed and cached this one. Should be fixed.

 - Let me see if I get you right here. You want me to make a superclass (basically a constructor), `efs`, from which the subclasses `efs_init` and `efs_step` should inherit from? And also, the class of  `efs` should include the `list` class? I can make this work if this is what you are referring to as "proper class

[2019-09-01 18:50] danielskatz commented on #1674
You might add this info to the README, but certainly should add it to https://lisc-tools.github.io/lisc/, perhaps after installation (after you install, you test to make sure things are working...)

[2019-09-01 19:04] danielskatz commented on #1573
I've suggested some minor grammar changes in https://github.com/holgerteichgraeber/TimeSeriesClustering.jl/pull/118

[2019-09-01 19:06] danielskatz commented on #1573
Also, please make an archive of the repo in an archival repository (e.g., zenodo), and let me know the DOI of the archive, as well as the current version number

[2019-09-01 19:18] jdkent commented on #1295
Thanks for noting the pre-release check, that was a mistake.

Thank you for the feedback @labarba, I believe I've addressed your comments in the referenced pull request.

Note, I've merged in [one pull request](https://github.com/HBClab/NiBetaSeries/pull/183) since the making the zenodo doi, with [another on right on it's heels](https://github.com/HBClab/NiBetaSeries/pull/182), so I could just do

[2019-09-01 19:27] homonecloco commented on #1337
Hi,
Sorry for not finishing the review earlier. I ended up having a couple of complex weeks. The unit tests where added and they run. They seem to be ok. There is also an extra repository with actual examples, that may be good to have included in the main page of the project. There is one example that is missing to run, so I aded an issue on the corresponding repository:
JedS6391/LGP-examples#1 an

[2019-09-01 19:31] alexhanna commented on #1508
Messaged @mkearney to check if he was able to still serve as a reviewer on the package.

[2019-09-01 19:32] alexhanna commented on #1508
@whedon generate pdf

[2019-09-01 19:32] labarba commented on #1692
@whedon start review

[2019-09-01 19:32] whedon commented on #1508
[code]

[2019-09-01 19:32] whedon opened #1698 "[REVIEW]: Computing diffusion coeﬀicients in macromolecular simulations: the Diffusion Coeﬀicient Tool for VMD"
**Submitting author:** @tonigi (<a href="http://orcid.org/0000-0001-6449-0596">Toni Giorgino</a>)
**Repository:** <a href="https://github.com/giorginolab/vmd_diffusion_coefficient" target ="_blank">https://github.com/giorginolab/vmd_diffusion_coefficient</a>
**Version:** v1.2
**Editor:** @labarba
**Reviewer:** @jrperilla, @HaoZeke
**Archive:** <a href="https://doi.org/10.5281/zenodo.3445530" targe

[2019-09-01 19:32] whedon commented on #1692
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1698. Feel free to close this issue now!

[2019-09-01 19:32] whedon commented on #1698
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jrperilla, @HaoZeke it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-09-01 19:32] whedon commented on #1698
[code]

[2019-09-01 19:32] #1692 closed

[2019-09-01 19:33] whedon commented on #1508
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01508/joss.01508/10.21105.joss.01508.pdf)

[2019-09-01 19:33] whedon commented on #1698
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01698/joss.01698/10.21105.joss.01698.pdf)

[2019-09-01 19:34] xuanxu commented on #1690
@whedon add @xuanxu as editor

[2019-09-01 19:37] xuanxu commented on #1690
@whedon assign @xuanxu as editor

[2019-09-01 19:38] whedon commented on #1690
OK, the editor is @xuanxu

[2019-09-01 19:41] labarba commented on #1698
👋  @jrperilla, @HaoZeke — Thank you for agreeing to review this submission for JOSS. At the top of this Review issue, each of you has a review checklist: work your way through it, and post any questions or comments for the authors here. You can also open new issues in the submission repository, linking to this thread here for a cross-reference. Godspeed!

[2019-09-01 19:44] labarba commented on #1295
Feel free to increase the patch release, and report the final version number here, so we can add it.

[2019-09-01 19:48] alexhanna commented on #1508
The paper draft looks good to me. Just a reminder to update the ??? parts of the paper.md file once the review is completed. I'll give @mkearney two weeks to reply to the review.

@openjournals/jose-eics if the reviewer doesn't respond, should we try to find another review for this package before continuing on it?

[2019-09-01 19:49] alexhanna commented on #1600
👋 @benmarwick and @sctyner, could you review this package?

[2019-09-01 19:55] alexhanna commented on #1591
👋  @igarizio and @taqtiqa-mark, are you able to continue your reviews of this package?

[2019-09-01 19:56] alexhanna commented on #1591
@whedon set v0.7.5 as version

[2019-09-01 19:56] whedon commented on #1591
OK. v0.7.5 is the version.

[2019-09-01 19:58] alexhanna commented on #1591
@gus0k the version has been updated.

[2019-09-01 20:04] justinsalamon commented on #1659
@arokem sorry, just seeing this now (I was on vacation). Let me know if you still require additional reviews.

[2019-09-01 20:16] alexhanna commented on #1453
Ee, sorry about that @labarba. I haven't heard back from @jameshclrk. I emailed him on June 16. Should we remove him from the review and attempt to find another reviewer?

@malmaud -- can you have another pass at this package? Do the documentation changes address your concerns?

[2019-09-01 20:47] kmzzhang commented on #1651
@terrytangyuan DOI: 10.5281/zenodo.3383309. Thanks!

[2019-09-01 22:12] letmaik commented on #1468
@whedon generate pdf from branch joss-paper

[2019-09-01 22:12] whedon commented on #1468
[code]

[2019-09-01 22:14] whedon commented on #1468
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01468/joss.01468/10.21105.joss.01468.pdf)

[2019-09-01 22:17] letmaik commented on #1468
@andreas-h We took your feedback onboard and updated the figures and some text. This should hopefully provide a better overall picture, particularly the comparison of WRF upstream with WRF-CMake given the same build variant. Please have another look and let us know if this is all fine. Thanks!

[2019-09-01 22:30] sixpearls commented on #1697
@labarba Thanks, I will correct the bibliography.

@whedon commands

[2019-09-01 23:30] labarba commented on #1697
`whedon` likes to get its commands as a single-line comment

[2019-09-01 23:46] sctyner commented on #1600
I decline. I just don't have the time right now. I may be more available next month.

[2019-09-02 00:01] sixpearls commented on #1697
@whedon generate pdf

[2019-09-02 00:01] whedon commented on #1697
[code]

[2019-09-02 00:02] whedon commented on #1697
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01697/joss.01697/10.21105.joss.01697.pdf)

[2019-09-02 00:17] sixpearls commented on #1697
@whedon generate pdf

[2019-09-02 00:17] whedon commented on #1697
[code]

[2019-09-02 00:18] whedon commented on #1697
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01697/joss.01697/10.21105.joss.01697.pdf)

[2019-09-02 06:44] andreas-h commented on #1468
Thank's a lot for considering my concerns.

Once the TODO from Appendix B is sorted out, I'm happy to accept
the paper.

[2019-09-02 07:08] letmaik commented on #1468
@andreas-h Thanks, that's great. The TODO from Appendix B is merely a typesetting issue. The figures are on the following page but should ideally be directly under the heading. @arfon Can you help with that? I think we're good otherwise.

[2019-09-02 07:38] henrikmidtiby commented on #1654
@kthyng I have found some unexpected issues related to graphics drivers and the oracle virtual box emulator that I have set up. This hinders the porpoise tracker to load a video and makes rest of the program useless. I am searching for a workaround.

[2019-09-02 10:21] arfon commented on #1468
@whedon generate pdf from branch joss-paper

[2019-09-02 10:21] whedon commented on #1468
[code]

[2019-09-02 10:22] whedon commented on #1468
PDF failed to compile for issue #1468 with the following error:

 Error producing PDF.
! LaTeX Error: File `float.sty' not found.

Type X to quit or <RETURN> to proceed,
or enter new name. (Default extension: sty)

Enter file name:
! Emergency stop.
<read *>

l.21 \let

Looks like we failed to compile the PDF

[2019-09-02 10:28] arfon commented on #1468
@whedon generate pdf from branch joss-paper

[2019-09-02 10:28] whedon commented on #1468
[code]

[2019-09-02 10:29] whedon commented on #1468
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01468/joss.01468/10.21105.joss.01468.pdf)

[2019-09-02 10:30] arfon commented on #1468
@letmaik - looks like the paper figure placement issue is resolved now.  Could you remove the TODO statement from the paper?

[2019-09-02 10:34] arfon commented on #1468
@letmaik - could you also merge this PR: https://github.com/WRF-CMake/wrf/pull/39

[2019-09-02 10:34] arfon commented on #1468
@letmaik - after making the two changes above, could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper

[2019-09-02 11:30] arfon commented on #1508
@alexhanna - there are a couple of options here:

- Find another reviewer.
- If you're comfortable, you could do a quick review yourself.

[2019-09-02 11:35] #1580 closed

[2019-09-02 11:38] scan2001 commented on #1256
Thanks @mgymrek. We set Zenodo release title and authors so that they are the same as those in the paper

[2019-09-02 12:05] sayanddude commented on #1509
@terrytangyuan Thank you so much!

[2019-09-02 12:05] sayanddude commented on #1509
@whedon generate pdf

[2019-09-02 12:05] whedon commented on #1509
[code]

[2019-09-02 12:06] whedon commented on #1509
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01509/joss.01509/10.21105.joss.01509.pdf)

[2019-09-02 12:18] meg-simula commented on #1694
Hi @HaoZeke, thanks for volunteering! Sure, that would be great. I'll assign you.

[2019-09-02 12:19] meg-simula commented on #1694
@whedon assign @HaoZeke as reviewer

[2019-09-02 12:19] whedon commented on #1694
OK, the reviewer is @HaoZeke

[2019-09-02 12:27] sayanddude commented on #1509
@mgymrek Thanks for the feedback! I have corrected all the required typos in the updated version of the pdf.
Also, I have created the zenodo archive for the SmartEDA package (version 0.3.2) with DOI: 10.5281/zenodo.3383824 and the URL is: https://doi.org/10.5281/zenodo.3383824.

I have ensured that the title and the author names are same as the ones mentioned in the paper. Please let me know if I

[2019-09-02 12:33] sayanddude commented on #1509
@whedon generate pdf

[2019-09-02 12:33] whedon commented on #1509
[code]

[2019-09-02 12:34] whedon commented on #1509
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01509/joss.01509/10.21105.joss.01509.pdf)

[2019-09-02 12:40] terrytangyuan commented on #1651
@whedon set v0.2.0 as version

[2019-09-02 12:40] whedon commented on #1651
OK. v0.2.0 is the version.

[2019-09-02 12:41] terrytangyuan commented on #1651
@whedon set 10.5281/zenodo.3383309 as doi

[2019-09-02 12:43] terrytangyuan commented on #1651
@whedon set 10.5281/zenodo.3383309 as archive

[2019-09-02 12:43] whedon commented on #1651
OK. <a href="https://doi.org/10.5281/zenodo.3383309" target="_blank">10.5281/zenodo.3383309</a> is the archive.

[2019-09-02 12:44] terrytangyuan commented on #1651
@whedon accept

[2019-09-02 12:44] whedon commented on #1651
[code]

[2019-09-02 12:44] whedon commented on #1651
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/940

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/940, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-02 12:45] terrytangyuan commented on #1651
Looks good to me. @arfon Could you handle the next steps?

[2019-09-02 13:40] arfon commented on #1651
@whedon accept deposit=true

[2019-09-02 13:40] whedon commented on #1651
[code]

[2019-09-02 13:41] whedon commented on #1651
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1168519263751221254) 👈 🐦🐦🐦

[2019-09-02 13:41] whedon commented on #1651
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/941
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01651](https://doi.org/10.21105/joss.01651)
2. If everything looks go

[2019-09-02 13:42] arfon commented on #1651
@shreyasbapat, @DanielLenz - many thanks for your reviews here and to @terrytangyuan for editing this submission ✨

@kmzzhang - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-09-02 13:42] #1651 closed

[2019-09-02 13:42] whedon commented on #1651
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01651/status.svg)](https://doi.org/10.21105/joss.01651)

**We need your help!**

Journal of Open Source Softwa

[2019-09-02 14:08] hagenw commented on #1667
@whedon generate pdf

[2019-09-02 14:08] whedon commented on #1667
[code]

[2019-09-02 14:08] whedon commented on #1667
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01667/joss.01667/10.21105.joss.01667.pdf)

[2019-09-02 15:38] Kevin-Mattheus-Moerman commented on #1691
@labarba my schedule is filling up fast for the coming weeks but if you are stuck finding an editor I can help with this one.

[2019-09-02 15:48] labarba commented on #1691
@karthik should be back — @karthik : Could you handle this submission as editor?

[2019-09-02 16:09] hagenw commented on #1667
All fine from my side, also all checkboxes completed.

[2019-09-02 16:56] lpantano commented on #1584
👋 @mikkonie, any update on this? if you are not able to work on this right now, we can pause this review until you can work again. Thanks.

[2019-09-02 18:16] kthyng commented on #1689
great! We have two reviewers so we will proceed with the review issue.

[2019-09-02 18:16] kthyng commented on #1689
@whedon assign @zbeekman as reviewer

[2019-09-02 18:16] whedon commented on #1689
OK, the reviewer is @zbeekman

[2019-09-02 18:16] kthyng commented on #1689
@whedon add @rgmyr as reviewer

[2019-09-02 18:17] kthyng commented on #1689
@whedon start review

[2019-09-02 18:17] whedon opened #1699 "[REVIEW]: Rescal-snow: A model for dunes and snow-waves"
**Submitting author:** @kellykochanski (<a href="http://orcid.org/0000-0003-0754-0184">Kelly Kochanski</a>)
**Repository:** <a href="https://github.com/kellykochanski/rescal-snow" target ="_blank">https://github.com/kellykochanski/rescal-snow</a>
**Version:** v1.1.1
**Editor:** @kthyng
**Reviewers:** @zbeekman, @rgmyr
**Archive:** <a href="https://doi.org/10.5281/zenodo.3517217" target="_blank">10

[2019-09-02 18:17] whedon commented on #1689
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1699. Feel free to close this issue now!

[2019-09-02 18:17] whedon commented on #1699
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zbeekman it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently wa

[2019-09-02 18:17] whedon commented on #1699
[code]

[2019-09-02 18:17] #1689 closed

[2019-09-02 18:17] whedon commented on #1699
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01699/joss.01699/10.21105.joss.01699.pdf)

[2019-09-02 18:20] kthyng commented on #1654
@henrikmidtiby Thanks for the updates. I'll wait to hear more.

[2019-09-02 19:49] paul-buerkner commented on #1662
I will remove the Mplus part from the paper in the next few days but feel free to review the rest already and just ignore the Mplus part.

[2019-09-02 20:19] jedbrown commented on #1681
@whedon add @adambeall as reviewer

[2019-09-02 20:19] whedon commented on #1681
OK, @adambeall is now a reviewer

[2019-09-02 20:37] jedbrown commented on #1681
@whedon add @gbruer15 as reviewer

[2019-09-02 20:37] whedon commented on #1681
OK, @gbruer15 is now a reviewer

[2019-09-02 20:38] jedbrown commented on #1681
@whedon add @HaoZeke as reviewer

[2019-09-02 20:38] whedon commented on #1681
OK, @HaoZeke is now a reviewer

[2019-09-02 20:38] jedbrown commented on #1681
@whedon start review

[2019-09-02 20:38] whedon opened #1700 "[REVIEW]: RHEOS - A Julia package for Rheology Data Analysis."
**Submitting author:** @akabla (<a href="http://orcid.org/0000-0002-0280-3531">Alexandre Kabla</a>)
**Repository:** <a href="https://github.com/JuliaRheology/RHEOS.jl" target ="_blank">https://github.com/JuliaRheology/RHEOS.jl</a>
**Version:** v0.9.1
**Editor:** @jedbrown
**Reviewer:** @adambeall, @gbruer15, @HaoZeke
**Archive:** <a href="https://doi.org/10.5281/zenodo.3458310" target="_blank">10.

[2019-09-02 20:38] whedon commented on #1681
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1700. Feel free to close this issue now!

[2019-09-02 20:38] whedon commented on #1700
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adambeall, @gbruer15, @HaoZeke it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're

[2019-09-02 20:38] whedon commented on #1700
[code]

[2019-09-02 20:38] #1681 closed

[2019-09-02 20:39] whedon commented on #1700
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01700/joss.01700/10.21105.joss.01700.pdf)

[2019-09-02 20:41] jedbrown commented on #1700
@adambeall, @gbruer15, @HaoZeke :wave: Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [RHEOS.jl repository](https://github.com/JuliaRheology/RHEOS.jl)). I'll be watching this thread if you have any questions.

[2019-09-02 21:26] karthik commented on #1691
Hi @labarba I'm not able to handle this one. Perhaps @Kevin-Mattheus-Moerman can?

[2019-09-02 21:30] mattpitkin commented on #1683
Hi @duetosymmetry, one of the requirements of the review to check that the documentation contains

Could you add a sentence or two stating ow users can contribute/leave feedback, e.g., via Issue or PRs on the package's git repo?

[2019-09-02 21:45] mattpitkin commented on #1683
@duetosymmetry in the bibtex file can you add a `journal` entry to the Isi et al, paper, so that the arXiv number shows up, e.g.:

[code]

(or course this can be updated if the actual journal article comes out in the next couple of weeks)

[2019-09-02 21:52] mattpitkin commented on #1683
@duetosymmetry do you have any plans to add any unit testing, and or a CI builder for the package? These aren't requirements for acceptance in JOSS, but I just wanted to check. I've can run the example in the documentation, but is there any example case for which values that the code can produce that can be checked against any independent published results?

[2019-09-02 22:07] duetosymmetry commented on #1683
@whedon generate pdf

[2019-09-02 22:07] whedon commented on #1683
[code]

[2019-09-02 22:08] whedon commented on #1683
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01683/joss.01683/10.21105.joss.01683.pdf)

[2019-09-02 22:16] duetosymmetry commented on #1683
Thanks for the feedback, @mattpitkin .

1. Added short contribution guidelines in duetosymmetry/qnm@14e7e7a
2. I didn't see the missing arXiv number when I was making with the JOSS template locally -- there must be some subtle difference between the template I fetched and the one that whedon is using. Fixed in duetosymmetry/qnm@ccb51bc
3. I would like to add CI testing, e.g. against Emanuele Berti

[2019-09-02 22:41] whedon commented on #1632
:wave: @nespinoza, please update us on how your review is going.

[2019-09-02 23:40] jedbrown commented on #1612
@Cavenfish Thanks for your patience. In addition to the PR, please consider whether your use of packages such as [SciPy](https://www.scipy.org/citing.html) and [Matplotlib](https://matplotlib.org/3.1.1/citing.html) (and others) warrant citation. Most likely yes.

The PyPI link (https://pypi.org/project/autogamess/) says

If you intend for that page to be the landing page for those who wish to inst

[2019-09-02 23:53] jedbrown commented on #1618
@Volkerschmid @gweodoo @gonsie :wave: Would you be available to review this submission for JOSS?

[2019-09-03 01:27] apsabelhaus commented on #1613
@Kevin-Mattheus-Moerman, it looks like @ramaniitrgoyal92 has changed the name of the repository / submission (from TEAM to MOTES.) I've checked the "code available at the url" box, since Github redirects to the new repository, but it seems the original URL is to the "TEAM" name. Is there a way that the authors should be updating the JOSS submission with the new name, etc.? Are there other dependen

[2019-09-03 01:48] arokem commented on #1672
👋 @jboynyc : would you be willing to review this article for the [Journal of Open Source Software](https://joss.theoj.org/)?

[2019-09-03 01:52] arokem commented on #1667
@whedon on check references

[2019-09-03 01:52] arokem commented on #1667
@whedon check references

[2019-09-03 01:52] whedon commented on #1667
[code]

[2019-09-03 01:53] whedon commented on #1667
[code]

[2019-09-03 02:10] apsabelhaus commented on #1613
@ramaniitrgoyal92 I went through a second round of review just now and opened some more issues. Generally speaking, it seems like this review is taking a while, and I don't think that's just because it's the summertime. The code and documentation are still difficult to read and understand, contain typos, etc. This review would probably go by faster if y'all took a second look at JOSS' standards an

[2019-09-03 06:23] HaoZeke commented on #1698
Thanks @labarba. Right, so, off the bat, @tonigi, the `LICENSE` file has issues, essentially, it is currently not an [OSI approved license](https://opensource.org/licenses/alphabetical). I am opening an issue in the repo to discuss this further.

[2019-09-03 07:54] tonigi commented on #1698
Thanks for spotting! Updated LICENSE to the BSD-3 text.

[2019-09-03 07:55] PhilipVinc commented on #1668
@poulson, should you ask Whedon to start the review issue so that I can fill the checklist?

I have a few minor comments on this library, especially on the documentation, which otherwise seems a very fine piece of software. Normally I would leave those on the Review issue?

[2019-09-03 08:16] mattpitkin commented on #1683
Excellent, thanks. I'll tick off the appropriate review check box.

[2019-09-03 08:18] mattpitkin commented on #1683
Thanks, I can see the arXiv number in the generated pdf now.

[2019-09-03 09:18] meg-simula commented on #1694
I've contacted David Ham (via email) to also review this paper, and he has agreed. I'll add him as an reviewer and let whedon start the review now.

[2019-09-03 09:28] meg-simula commented on #1694
@whedon add @dham as reviewer

[2019-09-03 09:28] whedon commented on #1694
OK, @dham is now a reviewer

[2019-09-03 09:44] meg-simula commented on #1694
@whedon start review

[2019-09-03 09:44] #1694 closed

[2019-09-03 09:44] whedon opened #1701 "[REVIEW]: DEPP - Differential Evolution Parallel Program"
**Submitting author:** @gbertoldo (<a href="http://orcid.org/0000-0002-1888-9181">Guilherme Bertoldo</a>)
**Repository:** <a href="https://github.com/gbertoldo/DEPP" target ="_blank">https://github.com/gbertoldo/DEPP</a>
**Version:** v1.0.0
**Editor:** @meg-simula
**Reviewer:** @HaoZeke, @dham
**Archive:** <a href="https://doi.org/10.5281/zenodo.3722436" target="_blank">10.5281/zenodo.3722436</a>

[2019-09-03 09:44] whedon commented on #1694
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1701. Feel free to close this issue now!

[2019-09-03 09:44] whedon commented on #1701
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @HaoZeke, @dham it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2019-09-03 09:44] whedon commented on #1701
[code]

[2019-09-03 09:46] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-09-03 09:49] meg-simula commented on #1701
@HaoZeke @dham Thanks again for agreeing to review. Reviewer checklists have been generated for each you above - take a look and dig in at will.

[2019-09-03 09:51] meg-simula commented on #1701
@whedon commands

[2019-09-03 09:51] whedon commented on #1701
Here are some things you can ask me to do:

[code]

[2019-09-03 09:52] meg-simula commented on #1701
@whedon remind @HaoZeke in 2 weeks
@whedon remind @dham in 3 weeks

[2019-09-03 09:52] whedon commented on #1701
Reminder set for @HaoZeke in 2 weeks

[2019-09-03 09:52] meg-simula commented on #1701
@whedon remind @dham in 3 weeks

[2019-09-03 09:52] whedon commented on #1701
Reminder set for @dham in 3 weeks

[2019-09-03 10:09] Kevin-Mattheus-Moerman commented on #1691
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-09-03 10:09] whedon commented on #1691
OK, the editor is @Kevin-Mattheus-Moerman

[2019-09-03 10:46] RuthAngus commented on #1469
Hi @arfon and @crawfordsm, it's an AJ paper, so I added the DOI and journal lines to the paper file without merging the PR, hope that's ok!

[2019-09-03 10:46] RuthAngus commented on #1469
@whedon generate pdf

[2019-09-03 10:46] whedon commented on #1469
[code]

[2019-09-03 10:47] whedon commented on #1469
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01469/joss.01469/10.21105.joss.01469.pdf)

[2019-09-03 11:16] arfon commented on #1469
@RuthAngus - do you think you could update the reference to 'Angus et al (submitted)' to point to the AJ paper (`https://doi.org/10.3847/1538-3881/ab3c53`)?

After that, could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the

[2019-09-03 11:30] mlindsk commented on #1665
@csoneson, @jdeligt, @jkanche

Hi all,

Based on the comments I have now decided to make some major changes to the API. I have also implemented backward selection now, and I will try to make a much more clearer API using a common class for these methods.

According to the example data. Do you all agree that it should be wiped, and therefore cannot be modified to fully justify the outlier test? If

[2019-09-03 11:37] csoneson commented on #1665
No, not really. It would be great to have an estimate of the time frame, and/or if you could update us in the process.

[2019-09-03 11:41] csoneson commented on #1593
@joethorley, @tgerke - thanks a lot for your reviews! I can see that you have both checked all the items in your checklists. @joethorley, based on your comment above I take it that you are happy with the current state of the submission. @tgerke - could you confirm that your final issues have been resolved as well?

[2019-09-03 11:43] mlindsk commented on #1665
Ok. I'll inform you concurrently.

[2019-09-03 11:46] csoneson commented on #1635
Hi all - I just wanted to check in on this submission and the progress of the review process. @marekborowiec - there seems to be a couple of issues open in your repository, do you think you will be able to address them? Don't hesitate to ping me if anything is unclear!

[2019-09-03 13:02] jizecn commented on #1654
I am now with Linux. Will give it a try.

[2019-09-03 13:21] mattpitkin commented on #1683
It's now pretty simple to integrate CI testing in [Travis](https://travis-ci.org/) for github projects. It's not a huge issue for these tests to download 100Mb data sets each time - often you can get then to CI to download a Docker image for the testing each time, which might be larger. An example of the CI configuration for one of my own package's can be found [here](https://github.com/mattpitkin

[2019-09-03 13:27] tomfaulkenberry commented on #1662
I have completed my review of thurstonianIRT.  I find it to be a powerful, well-documented package that will likely be of great use to many researchers interested in IRT modeling on forced-choice questionnaires.  I am impressed by the simple interface, particularly as it calls Stan "under the hood" without the need for a beginner to get too deep into Stan coding.

Only one issue came up for me whe

[2019-09-03 14:17] whedon opened #1702 "[PRE REVIEW]: PYCV: a PLUMED 2 Module Enabling the Rapid Prototyping of Collective Variables in Python"
**Submitting author:** @tonigi (<a href="http://orcid.org/0000-0001-6449-0596">Toni Giorgino</a>)
**Repository:** <a href="https://github.com/giorginolab/plumed2-pycv/" target ="_blank">https://github.com/giorginolab/plumed2-pycv/</a>
**Version:** v1.1
**Editor:** @arfon
**Reviewers:** @amritagos, @carlocamilloni

**Author instructions**

Thanks for submitting your paper to JOSS @tonigi. **Current

[2019-09-03 14:18] whedon commented on #1702
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-03 14:18] whedon commented on #1702
[code]

[2019-09-03 14:18] whedon commented on #1702
PDF failed to compile for issue #1702 with the following error:

 Can't find any papers to compile :-(

[2019-09-03 14:19] tonigi commented on #1702
@whedon generate pdf from branch joss-paper

[2019-09-03 14:19] arfon commented on #1702
@whedon generate pdf from branch joss-paper

[2019-09-03 14:19] whedon commented on #1702
[code]

[2019-09-03 14:19] whedon commented on #1702
[code]

[2019-09-03 14:20] whedon commented on #1702
PDF failed to compile for issue #1702 with the following error:

 fatal: Unable to create '/app/tmp/1702/.git/index.lock': File exists.

If no other git process is currently running, this probably means a
git process crashed in this repository earlier. Make sure no other git
process is running and remove the file manually to continue.
Can't find any papers to compile :-(

[2019-09-03 14:20] arfon commented on #1702
😸you beat me to it @tonigi

[2019-09-03 14:20] whedon commented on #1702
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01702/joss.01702/10.21105.joss.01702.pdf)

[2019-09-03 14:20] tonigi commented on #1702
faster than whedon itself :)

[2019-09-03 14:22] tgerke commented on #1593
Yes all looks in order to me -- great work @LarsHernandez!

[2019-09-03 14:27] arfon commented on #1702
@tonigi - thanks for this submission to JOSS. Could you please identify a few potential reviewers for this submission. In particular, if at all possible I'd like to have one of the PLUMED 2 core team involved in this review.

[2019-09-03 14:29] tonigi commented on #1702
Sure. Sending them by email to avoid mention spam.

[2019-09-03 14:30] whedon opened #1703 "[PRE REVIEW]: Underworld2: Python Geodynamics Modelling for Desktop, HPC and Cloud"
**Submitting author:** @jmansour (<a href="http://orcid.org/0000-0001-5865-1664">john mansour</a>)
**Repository:** <a href="https://github.com/underworldcode/underworld2" target ="_blank">https://github.com/underworldcode/underworld2</a>
**Version:** v2.8.1b
**Editor:** @leouieda
**Reviewers:** @gassmoeller, @gabersyd

**Author instructions**

Thanks for submitting your paper to JOSS @jmansour. **

[2019-09-03 14:30] whedon commented on #1703
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-03 14:30] whedon commented on #1703
[code]

[2019-09-03 14:31] whedon commented on #1703
PDF failed to compile for issue #1703 with the following error:

 Can't find any papers to compile :-(

[2019-09-03 14:32] sravan953 commented on #1678
@sairamgeethanath one reviewer still pending, am I right @Kevin-Mattheus-Moerman ?

[2019-09-03 14:41] arfon commented on #1703
:wave: @jmansour - Whedon doesn't seem to be able to find a paper in your repository. Please review our [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html) on how to prepare a paper.

[2019-09-03 14:41] Kevin-Mattheus-Moerman commented on #1678
@sravan953 yes we are still recruiting reviewers. Aiming for 3 hopefully.

[2019-09-03 14:46] Kevin-Mattheus-Moerman commented on #1678
@stefan-k thanks for your message and for clarifying the potential conflict of interest. Since we will have multiple reviewers without a conflict of interest, if you were to join decisions will not rest solely on your judgement/comments. Therefore, since it sounds like you could have valuable feedback, I'd still welcome your contribution as an additional reviewer. Let me know what you decide.

[2019-09-03 14:55] drscotthawley commented on #1659
@arokem & @faroit Just to chime in late: I'm honored to be listed in such distinguished company! Right now I'm doing two other reviews and have a full plate otherwise, but consider me again in the future.

[2019-09-03 15:01] mailchand commented on #1631
Hi @cMadan -- Just gently wondering if we could help in any way to wrap up the code review or any changes we need.

best,

Chand

[2019-09-03 15:45] jhollist commented on #1646
Wouldn't be able to get to this review until late September.  Could
probably have it completed during the week of Sep 30.  If that works for
all, then I can do the review.  If you need it sooner, and find other
reviewers, then by all means go that route!

On Tue, Aug 27, 2019 at 6:08 PM Bruce Wilson <notifications@github.com>
wrote:

--
Jeffrey W. Hollister
email: jeff.w.hollister@gmail.com
cell:

[2019-09-03 15:51] katyhuff commented on #1669
@dgursoy Thank you for agreeing (by email) to review this submission. I appreciate your schedule constraints and we will expect your review to begin September 15th.

[2019-09-03 15:51] katyhuff commented on #1669
@vitorsr Thank you for your enthusiasm. We will not need your review at this time. If something changes, I will certainly let you know.

[2019-09-03 15:52] katyhuff commented on #1669
@whedon add @dgursoy as reviewer

[2019-09-03 15:52] whedon commented on #1669
OK, @dgursoy is now a reviewer

[2019-09-03 15:53] katyhuff commented on #1669
@whedon start review

[2019-09-03 15:53] whedon opened #1704 "[REVIEW]: AXITOM: A Python package for reconstruction of axisymmetric tomograms acquired by a conical beam"
**Submitting author:** @PolymerGuy (<a href="http://orcid.org/0000-0002-9981-4041">Sindre Nordmark Olufsen</a>)
**Repository:** <a href="https://github.com/PolymerGuy/AXITOM" target ="_blank">https://github.com/PolymerGuy/AXITOM</a>
**Version:** V0.1.3
**Editor:** @katyhuff
**Reviewer:** @PingjunChen, @dgursoy
**Archive:** <a href="https://doi.org/10.5281/zenodo.3466426" target="_blank">10.5281/ze

[2019-09-03 15:53] whedon commented on #1669
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1704. Feel free to close this issue now!

[2019-09-03 15:53] whedon commented on #1704
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @PingjunChen, @dgursoy it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-09-03 15:53] whedon commented on #1704
[code]

[2019-09-03 15:54] katyhuff commented on #1669
Ok folks, let's move over to #1704 for the review.

[2019-09-03 15:54] #1669 closed

[2019-09-03 15:54] whedon commented on #1704
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01704/joss.01704/10.21105.joss.01704.pdf)

[2019-09-03 15:57] stefan-k commented on #1678
Unfortunately I have to decline as I won't have time. Maybe @jfnielsen or @magland, who have worked on similar software, are interested to help out.

[2019-09-03 15:59] katyhuff commented on #1704
@PingjunChen and @dgursoy : thank you for your engagement in this review process! Please see the checklists in the description of this issue, above, for guidance with your review.

@PolymerGuy, I am hoping that Pingjun Chen will be able to start their review promptly, so you should soon have some comments from that review. I have requested the expert assistance of @dgursoy, as well. That review wi

[2019-09-03 15:59] katyhuff commented on #1704
@whedon remind @dgursoy on September 15.

[2019-09-03 16:00] katyhuff commented on #1704
@whedon remind @dgursoy in 2 weeks

[2019-09-03 16:00] whedon commented on #1704
Reminder set for @dgursoy in 2 weeks

[2019-09-03 16:18] malmaud commented on #1453
I will take a look this week.

[2019-09-03 16:29] katyhuff commented on #1668
@whedon assign @katyhuff as editor

[2019-09-03 16:29] whedon commented on #1668
OK, the editor is @katyhuff

[2019-09-03 16:29] katyhuff commented on #1668
@whedon add @poulson as reviewer

[2019-09-03 16:29] whedon commented on #1668
OK, @poulson is now a reviewer

[2019-09-03 16:31] katyhuff commented on #1668
Hi Folks (@PhilipVinc @nquesada ), I am stepping in as editor because this content is fairly niche, but Jack (@paulson)and I believe he will be an excellent second reviewer for this work. It was a great idea on Jack's part, and I'm happy to take over handing this one. Now that we have two reviewers and one editor, let's get started on the review.

[2019-09-03 16:32] katyhuff commented on #1668
@whedon start review

[2019-09-03 16:32] whedon opened #1705 "[REVIEW]: The Walrus: the fastest calculation of hafnians, Hermite polynomials and Gaussian boson sampling"
**Submitting author:** @nquesada (<a href="http://orcid.org/0000-0002-0175-1688">Nicolás Quesada</a>)
**Repository:** <a href="https://github.com/xanaduAI/thewalrus" target ="_blank">https://github.com/xanaduAI/thewalrus</a>
**Version:** v0.10.1
**Editor:** @katyhuff
**Reviewers:** @amitkumarj441, @poulson
**Archive:** <a href="https://doi.org/10.5281/zenodo.3585911" target="_blank">10.5281/zenodo

[2019-09-03 16:32] whedon commented on #1668
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1705. Feel free to close this issue now!

[2019-09-03 16:32] whedon commented on #1705
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @PhilipVinc, @poulson it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-09-03 16:32] whedon commented on #1705
[code]

[2019-09-03 16:32] katyhuff commented on #1668
Ok folks, let's move over to #1705 , where @PhilipVinc and @poulson will conduct the review.

[2019-09-03 16:32] #1668 closed

[2019-09-03 16:32] whedon commented on #1705
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01705/joss.01705/10.21105.joss.01705.pdf)

[2019-09-03 16:41] poulson commented on #1570
@whedon generate pdf

[2019-09-03 16:41] whedon commented on #1570
[code]

[2019-09-03 16:41] whedon commented on #1570
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01570/joss.01570/10.21105.joss.01570.pdf)

[2019-09-03 16:54] PingjunChen commented on #1704
@PolymerGuy Good documentation and tests in this repo. There are several minor issues I believe need to be corrected.
1. There is a RuntimeWarning when running tests, "utilities.py:34: RuntimeWarning: invalid value encountered in true_divide center_of_grav_x = np.average(np.sum(xs * covered_pixels, axis=1) / np.sum(covered_pixels, axis=1)) - m / 2." Better to get rid of it.
2. There are two copies

[2019-09-03 17:20] arfon commented on #1697
I'm going to go ahead and assign @mbobra as the handling editor for this submission. @sixpearls - it's going to be another week or so before @mbobra is back to JOSS editorial activities - your patience is much appreciated :-)

[2019-09-03 17:20] arfon commented on #1697
@whedon assign @mbobra as editor

[2019-09-03 17:20] whedon commented on #1697
OK, the editor is @mbobra

[2019-09-03 17:21] jgoldfar commented on #1573
Looks good to me as well.

[2019-09-03 17:31] gvegayon commented on #1566
OK @JonasMoss, the changes look good. Only one minor issue regarding a broken link. Thanks.

[2019-09-03 17:33] csoneson commented on #1593
@whedon generate pdf

[2019-09-03 17:33] whedon commented on #1593
[code]

[2019-09-03 17:34] whedon commented on #1593
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01593/joss.01593/10.21105.joss.01593.pdf)

[2019-09-03 17:36] poulson commented on #1570
The preprint looks good!

[2019-09-03 17:36] poulson commented on #1570
@whedon check references

[2019-09-03 17:36] whedon commented on #1570
[code]

[2019-09-03 17:36] whedon commented on #1570
[code]

[2019-09-03 17:37] poulson commented on #1570
@whedon set 10.5281/zenodo.2591993 as archive

[2019-09-03 17:37] whedon commented on #1570
OK. <a href="https://doi.org/10.5281/zenodo.2591993" target="_blank">10.5281/zenodo.2591993</a> is the archive.

[2019-09-03 17:39] poulson commented on #1570
:wave: @openjournals/joss-eics, this submission looks ready to be accepted.

[2019-09-03 17:43] poulson commented on #1655
Hi :wave: @hausen and @oesteban: it looks like it's been a couple of weeks and @stsievert is getting to a midway point in their review, but neither of you has checked any boxes or made any comments. It is pretty common for reviews to fall between the cracks, so I am hoping to raise this towards the top of your river of emails. :smile:

[2019-09-03 17:48] oesteban commented on #1655
@poulson Sorry, I thought I wasn't assigned this one (https://github.com/openjournals/joss-reviews/issues/1571#issuecomment-520653198). I'm still pretty swamped so I can't take this for review - I will for sure hold it up for long.

[2019-09-03 17:51] ezsolti commented on #1650
@whedon generate pdf

[2019-09-03 17:51] whedon commented on #1650
[code]

[2019-09-03 17:53] whedon commented on #1650
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01650/joss.01650/10.21105.joss.01650.pdf)

[2019-09-03 17:56] csoneson commented on #1593
@whedon check references

[2019-09-03 17:56] whedon commented on #1593
[code]

[2019-09-03 17:56] whedon commented on #1593
[code]

[2019-09-03 17:58] kbg commented on #1614
Thanks for accepting the paper, and also many thanks to everybody for the work they put into editing and reviewing it.

_(I was on vacation, so I'm a bit late to the party :o))._

[2019-09-03 18:05] csoneson commented on #1593
@LarsHernandez - I have sent a PR with some small modifications to the manuscript - please check and merge (and generate a new proof with `@whedon generate pdf`). Specifically, note that the link to the GitHub repository will be given on the first page of the article, and does not need to be repeated in the text.

Next, please:
- [ ] check that the version information is consistently reported
- [

[2019-09-03 18:11] Cavenfish commented on #1612
@jedbrown Hey, I merged your commits and made the changes you suggested above. Some of the package citations I wasn't able to find DOI's for, is this an issue?

[2019-09-03 18:12] fcontino commented on #1543
Sorry for the huge delay. I'm still having issues. Can you help me?

conda install -c niemeyer-research-group pymars=1.1.0a8
Collecting package metadata (repodata.json): done
Solving environment: failed
Initial quick solve with frozen env failed.  Unfreezing env and trying again.
Solving environment: failed

UnsatisfiableError: The following specifications were found to be incompatible with each o

[2019-09-03 18:19] jedbrown commented on #1612
@whedon generate pdf

[2019-09-03 18:19] whedon commented on #1612
[code]

[2019-09-03 18:19] jedbrown commented on #1612
@whedon check references

[2019-09-03 18:20] whedon commented on #1612
[code]

[2019-09-03 18:20] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-09-03 18:20] whedon commented on #1612
[code]

[2019-09-03 18:20] fcontino commented on #1543
OK. So the problems were coming from my machine. I tried on another machine and it works perfectly. Sorry again and excellent job!!

[2019-09-03 18:20] ezsolti commented on #1650
@whedon generate pdf

[2019-09-03 18:20] whedon commented on #1650
[code]

[2019-09-03 18:21] whedon commented on #1650
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01650/joss.01650/10.21105.joss.01650.pdf)

[2019-09-03 18:24] katyhuff commented on #1543
@whedon check references

[2019-09-03 18:25] whedon commented on #1543
[code]

[2019-09-03 18:25] whedon commented on #1543
[code]

[2019-09-03 18:26] labarba commented on #1570
Before continuing, @apuignav, please edit the metadata of the Zenodo archive so the author list and title matches the JOSS paper.

[2019-09-03 18:28] katyhuff commented on #1543
@whedon generate pdf

[2019-09-03 18:28] whedon commented on #1543
[code]

[2019-09-03 18:29] whedon commented on #1543
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01543/joss.01543/10.21105.joss.01543.pdf)

[2019-09-03 18:36] ezsolti commented on #1650
@katyhuff : I have tried to address the comments of Prof. Skutnik, and as you see I have also tried to render a new paper based on some comments which did not require further "iterations" (I hope that this update was not against the rules). Unfortunately, one reference still renders strangely. Let's see whether @sskutnik would advise further changes based on the discussion in ezsolti/feign/issues/

[2019-09-03 18:40] katyhuff commented on #1543
Thank you @jcsutherland and @fcontino for your reviews -- we couldn't do this without you.
Also, of course, thank you @kyleniemeyer for a strong submission and for engaging actively in the review process!

I have looked over the paper, double-checked all the DOI links, and have conducted a high-level review of the code itself. The only thing that renders strangely is the pytables citation (but I r

[2019-09-03 18:41] jedbrown commented on #1612
Another small PR, then I think we'll be ready. We only need DOIs for references that have them.

[2019-09-03 18:43] jedbrown commented on #1612
@whedon generate pdf

[2019-09-03 18:43] whedon commented on #1612
[code]

[2019-09-03 18:43] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-09-03 18:50] jedbrown commented on #1612
Thanks! Looks good to me now, so please tag a release ([annotated tags](https://git-scm.com/book/en/v2/Git-Basics-Tagging#_annotated_tags) preferred). Presumably this will be v1.1.1, but it's your choice. Then please archive on Zenodo or a similar service and report the DOI back in this thread.

[2019-09-03 19:04] Cavenfish commented on #1612
v1.1.1 sounds good to me! I made the tag and here is the DOI:  10.5281/zenodo.3385177.

[2019-09-03 19:08] jedbrown commented on #1612
@Cavenfish Can you please push your tag?

[2019-09-03 19:10] Cavenfish commented on #1612
@jedbrown sorry about that, just pushed it.

[2019-09-03 19:12] letmaik commented on #1468
@whedon generate pdf

[2019-09-03 19:12] whedon commented on #1468
[code]

[2019-09-03 19:14] whedon commented on #1468
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01468/joss.01468/10.21105.joss.01468.pdf)

[2019-09-03 19:37] jdeligt commented on #1665
@mlindsk I would say the example can be useful to illustrate the generality of the method. I just think the genetics example would be helped by putting it in context. I.e. why it is not a population genetics tool. Why outlier detection is relevant to forensics but not to pop gen. And how this model does account for the biology while the method compared to does not.  If this context is not provided

[2019-09-03 19:39] apuignav commented on #1570
Should be done. I don't know why zenodo deletes all the info whenever a new release happens :-(

[2019-09-03 19:45] sskutnik commented on #1650
I think I'm happy with the proposed changes; I'd leave it to @ezsolti whether to include the figure provided in https://github.com/ezsolti/feign/issues/7

Otherwise, I think all of my concerns have been addressed and I would happily recommend this to move forward for publication.

[2019-09-03 20:14] jedbrown commented on #1612
@whedon set v1.1.1 as version

[2019-09-03 20:14] whedon commented on #1612
OK. v1.1.1 is the version.

[2019-09-03 20:16] jfnielsen commented on #1678
I'm happy to review but like stefan-k I'm collaborating with the authors on related topics which is technically a conflict. I'm certainly interested though.

[2019-09-03 20:16] jedbrown commented on #1612
Thanks.

Sorry, my instructions may have been unclear: You should archive your _repository_ with Zenodo, not the paper. JOSS handles the paper DOI, with reference to the DOI for your repository.

[2019-09-03 20:19] mkearney commented on #1508
My apologies for the delay. The end of summer/beginning of Fall got away from me!

I got the package installed, working, and everything looks good, @MaciejDanko and @alexhanna !!

A few minor notes:

1. I would agree with @soodoku that it'd be nice to see/compare similar estimates from libraries.
1. Overall test coverage is solid, but I would point out there are no tests for functions in [R/boot.R

[2019-09-03 20:24] Cavenfish commented on #1612
@jedbrown
Oh, that makes more sense. I apologize for the inconvenience.

Do you by any chance know how to go about removing the previous upload or should i just leave it be and simply archive the repository?

[2019-09-03 20:25] mkearney commented on #1672
I can review as well!

[2019-09-03 20:30] jedbrown commented on #1612
DOI are intended to be permanent so either leave it or add a new version (https://help.zenodo.org/#versioning).

[2019-09-03 20:33] Cavenfish commented on #1612
I left alone for now, here is the new repository DOI:  10.5281/zenodo.3385236.

[2019-09-03 20:34] JonasMoss commented on #1566
@gvegayon Great! Fixed it now. =)

[2019-09-03 20:41] arokem commented on #1672
@whedon assign mkearney as reviewer

[2019-09-03 20:41] whedon commented on #1672
OK, the reviewer is mkearney

[2019-09-03 20:42] arokem commented on #1672
@whedon add nkratzke as reviewer

[2019-09-03 20:42] whedon commented on #1672
OK, nkratzke is now a reviewer

[2019-09-03 20:42] arokem commented on #1672
@whedon start review

[2019-09-03 20:42] whedon opened #1706 "[REVIEW]: BotSlayer: real-time detection of bot amplification on Twitter"
**Submitting author:** @yangkcatiu (<a href="http://orcid.org/0000-0003-4627-9273">Kai-Cheng Yang</a>)
**Repository:** <a href="https://github.com/IUNetSci/BotSlayer-CE" target ="_blank">https://github.com/IUNetSci/BotSlayer-CE</a>
**Version:** v1.0
**Editor:** @arokem
**Reviewer:** @mkearney, @nkratzke
**Archive:** <a href="https://doi.org/10.5281/zenodo.3492278" target="_blank">10.5281/zenodo.34

[2019-09-03 20:42] whedon commented on #1672
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1706. Feel free to close this issue now!

[2019-09-03 20:42] whedon commented on #1706
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mkearney, @nkratzke it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-09-03 20:42] whedon commented on #1706
[code]

[2019-09-03 20:43] whedon commented on #1706
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01706/joss.01706/10.21105.joss.01706.pdf)

[2019-09-03 20:45] jedbrown commented on #1612
@whedon set 10.5281/zenodo.3385236 as archive

[2019-09-03 20:45] whedon commented on #1612
OK. <a href="https://doi.org/10.5281/zenodo.3385236" target="_blank">10.5281/zenodo.3385236</a> is the archive.

[2019-09-03 20:45] jedbrown commented on #1612
@whedon accept

[2019-09-03 20:45] whedon commented on #1612
[code]

[2019-09-03 20:46] whedon commented on #1612
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/942

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/942, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-03 20:48] jedbrown commented on #1612
@openjournals/joss-eics This paper is accepted; over to you.

[2019-09-03 21:04] paul-buerkner commented on #1662
Thanks for the comments, @tomfaulkenberry! The issue you raised should be fixed now.

With regard to Mplus, I realize that I actually don't mention it in the paper already so
there may not be any need to change. Still, thurstonianIRT itself needs to support Mplus
for comparison and validation of former implementations which were all written in Mplus.
Since I don't make any claims about it in the p

[2019-09-03 21:16] letmaik commented on #1468
@zbeekman @andreas-h We'd like to add you two to the acknowledgments list. Are you ok with that?

[2019-09-03 21:20] andreas-h commented on #1468
Yes, sure.

[2019-09-03 22:08] marekborowiec commented on #1635
Hello all,

Thank you for checking in, @csoneson; I'm working on it!
@iimog and @gavinmdouglas: thank you both for constructive reviews! Your suggestions will help me improve the tool. Please bear with me as I'm slowly getting through them; I might be asking some clarification questions along the way!

[2019-09-03 22:45] vbarrera commented on #1411
@snowformatics Is the binary updated? I wanted to try the new features and confirm the other issues with the most updated one. Thanks.

Also @labarba and @lpantano, I'll be away for 3 weeks starting next week. Should be paused the review?

[2019-09-03 23:21] jmansour commented on #1703
Hi @arfon.  The `paper.md` document isn't stored within the project repository, but is instead here:

https://github.com/underworldcode/joss/

It is unclear (unless I missed something) from the guidelines whether it was sufficient to have the document within a separate repo. I'd rather it remains in a separate repo, but it isn't a huge issue if you'd like it to be stored within the project repo.

[2019-09-04 00:13] arfon commented on #1703
Hi @jmansour, sorry this wasn't clear. If at all possible, we prefer the paper to be in the same repository as the submission software. Whedon can compile papers from branches other than the default one (usually `master`) so if you're able to place the paper in the https://github.com/underworldcode/underworld2 repo, that would be great.

BTW, I've slightly [tweaked our submission guidelines](https

[2019-09-04 00:14] arfon commented on #1672
@arokem - looks like you forgot the `@` at the start of these reviewer handles. Ideally Whedon should be able to handle this more gracefully. I'll go ahead and fix this up for you.

[2019-09-04 00:14] #1672 closed

[2019-09-04 00:15] whedon opened #1707 "[PRE REVIEW]: MAESTROeX: A Massively Parallel Low Mach Number Astrophysical Solver"
**Submitting author:** @doreenfan (<a href="http://orcid.org/0000-0002-3246-4315">Duoming Fan</a>)
**Repository:** <a href="https://github.com/AMReX-Astro/MAESTROeX" target ="_blank">https://github.com/AMReX-Astro/MAESTROeX</a>
**Version:** 19.09
**Editor:** @arfon
**Reviewers:** @tukss, @pgrete

**Author instructions**

Thanks for submitting your paper to JOSS @doreenfan. **Currently, there isn't

[2019-09-04 00:15] whedon commented on #1707
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-04 00:15] whedon commented on #1707
[code]

[2019-09-04 00:16] whedon commented on #1707
PDF failed to compile for issue #1707 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1707/paper/paper.md): found unexpected document indicator while scanning a quoted scalar at line 2 column 8 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `p

[2019-09-04 00:17] arfon commented on #1612
@whedon accept deposit=true

[2019-09-04 00:17] whedon commented on #1612
[code]

[2019-09-04 00:18] whedon commented on #1612
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1169041994355748864) 👈 🐦🐦🐦

[2019-09-04 00:18] whedon commented on #1612
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/943
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01612](https://doi.org/10.21105/joss.01612)
2. If everything looks go

[2019-09-04 00:21] arfon commented on #1612
@arosen93, @shivupa, @colleeneb - many thanks for your reviews here and to @jedbrown for editing this submission ✨

@Cavenfish - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-09-04 00:21] #1612 closed

[2019-09-04 00:21] whedon commented on #1612
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01612/status.svg)](https://doi.org/10.21105/joss.01612)

**We need your help!**

Journal of Open Source Softwa

[2019-09-04 00:25] jmansour commented on #1703
Ok, thanks @arfon, I'll move it into the project repo.

With regards to process, is it reasonable to create a branch to capture changes relating to the review, with a new project release created at the conclusion which can then be tied to the JOSS publication?

[2019-09-04 00:26] arfon commented on #1707
@doreenfan - many thanks for your submission to JOSS. Please merge this pull request which should fix your paper compilation issues: https://github.com/AMReX-Astro/MAESTROeX/pull/96

Also, does this paper accompany a submission to a AAS journal?

[2019-09-04 00:26] arfon commented on #1703
Yes, that would be great.

[2019-09-04 00:47] jmansour commented on #1703
Ok, excellent. I'll add the document shortly.

Possible reviewers include Gabriele Morra (@gabersyd) and Sergio Zlotnik (@techas), although I believe Sergio has some experience using Underworld2 already. From the JOSS list of reviewers, I think any of the following might be appropriate: lheagy, whimian, daniellivingston, vidalgp, leouieda.

[2019-09-04 01:00] pySRURGS commented on #1675
@whedon generate pdf

[2019-09-04 01:00] whedon commented on #1675
[code]

[2019-09-04 01:00] whedon commented on #1675
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01675/joss.01675/10.21105.joss.01675.pdf)

[2019-09-04 01:50] doreenfan commented on #1707
Yes, we have also submitted a paper to ApJ. It's currently under review and
uploaded on Arxiv at https://arxiv.org/abs/1908.03634.
Thanks!

On Tue, Sep 3, 2019 at 5:26 PM Arfon Smith <notifications@github.com> wrote:

[2019-09-04 02:29] jdkent commented on #1295
@whedon generate pdf

[2019-09-04 02:29] whedon commented on #1295
[code]

[2019-09-04 02:29] whedon commented on #1295
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01295/joss.01295/10.21105.joss.01295.pdf)

[2019-09-04 02:33] zbeekman commented on #1468
Sure thing!

On Tue, Sep 3, 2019 at 5:20 PM Andreas Hilboll <notifications@github.com>
wrote:

[2019-09-04 02:45] jdkent commented on #1295
@whedon generate pdf

[2019-09-04 02:45] whedon commented on #1295
[code]

[2019-09-04 02:45] whedon commented on #1295
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01295/joss.01295/10.21105.joss.01295.pdf)

[2019-09-04 04:31] holgerteichgraeber commented on #1573
The current version number is `v0.5.2` and the zenodo DOI is `10.5281/zenodo.3385349` .

[2019-09-04 04:32] holgerteichgraeber commented on #1573
@whedon generate pdf

[2019-09-04 04:32] whedon commented on #1573
[code]

[2019-09-04 04:33] whedon commented on #1573
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01573/joss.01573/10.21105.joss.01573.pdf)

[2019-09-04 04:36] holgerteichgraeber commented on #1573
@whedon generate pdf

[2019-09-04 04:36] whedon commented on #1573
[code]

[2019-09-04 04:37] whedon commented on #1573
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01573/joss.01573/10.21105.joss.01573.pdf)

[2019-09-04 05:01] jdkent commented on #1295
- The final version number is `v0.3.2`
- here is the doi for the release: 10.5281/zenodo.3385339.
- Only Peer and I are authors, but I did include everyone as "contributors". Is that okay?

[2019-09-04 05:36] sauln commented on #1315
I'll have some time finish off these last 3 things next week.

@deargle, @mlwave, and @smangham, could you please all confirm your affiliations and orcids?

- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release with the latest changes from the review and post the version number here.
- [ ] Archive the release on Zenodo/figshare and post the DOI here (make sure the tit

[2019-09-04 06:40] nkratzke commented on #1706
@arokem I have done my review. Generally speaking, the software was easy to install using Docker and worked the first time without hassle. It was easy to run an initial example case using the searchterm "Trump".

However, according to the JOSS checklist, there are open points from my point of view. These points are mainly documentation and automated testing points. I have addressed these points in

[2019-09-04 09:23] tomfaulkenberry commented on #1662
Thanks Paul...I closed the issue referenced above.  All has checked out, and I am quite satisfied with everything.  My review is now complete!

[2019-09-04 09:26] maxibor commented on #1540
Do you need any more input from my side @lpantano and @labarba ?

[2019-09-04 10:12] MaciejDanko commented on #1508
@mkearney, thank you for your review!

1. @mkearney and @soodoku, here is the mentioned "off-the-shelf-package-example" using a very simple model. I use the ``vglm`` function of the VGAM package. The ``vglm()`` and the ``hopit()`` fit different models, but for this particular (simple) example (and data ?) one can compare (at least) the fit of the health variable coefficients.

``library(VGAM)``
``

[2019-09-04 10:37] Kevin-Mattheus-Moerman commented on #1691
@jamesgrecian @theoniphotopoulou @ianjonsen @isaacvandor @mattdawkins @meredithmjackson @readicculus @carsen-stringer @jgraving @alexander-hamme would you be interested in reviewing [this software](https://github.com/wingtorres/morphometrix) package (a python GUI for marine animal size analysis from aerial image data), for the Journal of Open Source Software (JOSS)? The streamlined [review process

[2019-09-04 11:02] alvarolopez commented on #1517
Hi @rougier, catching up after summer break.

I will correct the DOIs as soon as possible.

Regarding the instructions to run the API is to use the "make develop" command, documented [here](https://deepaas.readthedocs.io/en/stable/quickstart.html) I reckon that docs must be updated properly, with more detailed information. Currently there is more information on how to run it in the project-wide do

[2019-09-04 11:12] labarba commented on #1540
@whedon accept

[2019-09-04 11:12] whedon commented on #1540
[code]

[2019-09-04 11:12] whedon commented on #1540
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/944

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/944, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-04 11:14] labarba commented on #1540
@whedon accept deposit=true

[2019-09-04 11:14] whedon commented on #1540
[code]

[2019-09-04 11:15] whedon commented on #1540
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1169207333764947969) 👈 🐦🐦🐦

[2019-09-04 11:15] whedon commented on #1540
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/945
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01540](https://doi.org/10.21105/joss.01540)
2. If everything looks go

[2019-09-04 11:19] labarba commented on #1540
Congratulations, @maxibor, your JOSS paper is published! 🚀

Big thanks to our editor: @lpantano, and reviewers: @gavinmdouglas, @will-rowe — we appreciate your contributions to JOSS! 🙏

[2019-09-04 11:19] #1540 closed

[2019-09-04 11:19] whedon commented on #1540
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01540/status.svg)](https://doi.org/10.21105/joss.01540)

**We need your help!**

Journal of Open Source Softwa

[2019-09-04 11:20] MaciejDanko commented on #1508
@whedon generate pdf

[2019-09-04 11:20] whedon commented on #1508
[code]

[2019-09-04 11:20] whedon commented on #1508
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01508/joss.01508/10.21105.joss.01508.pdf)

[2019-09-04 11:23] MaciejDanko commented on #1508
@alexhanna, the issue with ??? is resolved now.

[2019-09-04 11:27] labarba commented on #1540
@arfon —could you keep an eye on this paper? The DOI is not resolving yet.

[2019-09-04 11:31] arfon commented on #1707
/ cc @crawfordsm

[2019-09-04 12:47] arfon commented on #1540
Looks like the DOI is resolving now.

[2019-09-04 13:32] arfon commented on #1707
@whedon generate pdf

[2019-09-04 13:32] whedon commented on #1707
[code]

[2019-09-04 13:33] whedon commented on #1707
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01707/joss.01707/10.21105.joss.01707.pdf)

[2019-09-04 13:42] leouieda commented on #1511
@martibosch  I'm happy say that your paper is ready for publication in JOSS! :tada: Here are the final steps you need to take:

- Double check authors and affiliations (including ORCIDs)
- Make a release with the latest changes from the review and post the version number here.
- Archive the release on Zenodo/figshare and post the DOI here (make sure the title and author list matches the JOSS paper

[2019-09-04 14:05] heilerich commented on #1626
Thanks for testing. I ran the tests again on my machines and everything passed. A [CI Build](https://travis-ci.org/heilerich/neurone_loader/builds/580714188) of the most recent commit is also still passing. I suspect there is some kind of incompatibility regarding the environment. In any case, it seems you might have encountered an actual bug and I would really appreciate your help in resolving th

[2019-09-04 14:06] Kevin-Mattheus-Moerman commented on #1613
Thanks @apsabelhaus ! @ramaniitrgoyal92 can you respond to these issues? Thanks.

[2019-09-04 14:06] Kevin-Mattheus-Moerman commented on #1634
@whedon assign @heprom as reviewer

[2019-09-04 14:06] whedon commented on #1634
OK, the reviewer is @heprom

[2019-09-04 14:14] Kevin-Mattheus-Moerman commented on #1262
@patrikhuber how are you doing? Any updates on this. Thanks again for your help!

[2019-09-04 14:15] Kevin-Mattheus-Moerman commented on #1262
@r-barnes can you summarize what points you feel should still be addressed? Thanks!

[2019-09-04 14:19] Kevin-Mattheus-Moerman commented on #1676
@wanrenjie @rui1996 @ceciliavision @kczimm @thomakra Would you be interested in reviewing this submission for the Journal of Open Source Software (JOSS)? This package implements (MATLAB/Octave) and compares several single image highlight removal methods. [The review process focuses](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) largely on [the software](https://github.c

[2019-09-04 14:20] Kevin-Mattheus-Moerman commented on #1678
@whedon add @jfnielsen as reviewer

[2019-09-04 14:20] whedon commented on #1678
OK, @jfnielsen is now a reviewer

[2019-09-04 14:21] Kevin-Mattheus-Moerman commented on #1678
@jfnielsen thanks for pointing out the conflict of interest. I'll welcome you as an additional reviewer and will also recruit reviewers without a conflict of interest. Thanks for your help.

[2019-09-04 14:24] Kevin-Mattheus-Moerman commented on #1678
@spinicist would you be interested in reviewing this work for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org)? [The review](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) focuses largely on [the software](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and a [very short paper](https://github.com/openjournals/joss-papers/blob/joss.01678/joss.016

[2019-09-04 14:25] kthyng commented on #1684
@Shibabrat Your argument that this software is useful because it demonstrates going through some physics problems is convincing. However, it would be much better if your software was a proper python package that can be used in a typical manner in order to meet your goals. Specifically, can you change your setup so that another researcher using it can avoid copying and pasting bits of code into a n

[2019-09-04 14:26] Kevin-Mattheus-Moerman commented on #1047
@jshermeyer :point_up: see above. It looks like we are close. Can you work on these minor sounding issues?

[2019-09-04 14:31] thomakra commented on #1676
Hi,

Apologies for the late reply.
I've been on vacation.
I should have time to have a look after Wednesday next week.
This would be my first time contributing, so I would appreciate a link to
any guidelines you have for what is expected from a review.

-Thomas-

On Wed, Sep 4, 2019, 15:19 Kevin Mattheus Moerman <notifications@github.com>
wrote:

[2019-09-04 14:34] kthyng commented on #1699
I just saw that I closed the pre-review issue before whedon had actually added the second reviewer. I have gone in and edited the first comment by hand to add @rgmyr. However, I see that he is not listed as an "Assignee" at the top right of the page, and I can't add him. @arfon is this important? Will @rgmyr have all necessary permissions the way I have added him?

[2019-09-04 14:39] Kevin-Mattheus-Moerman commented on #1676
Thanks for your reply @thomakra. Could please specify (or update your GitHub profile to include links to) personal/professional profiles and affiliations?

[2019-09-04 14:42] Kevin-Mattheus-Moerman commented on #1676
@thomakra here is information about our review process:
https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Here is an example of an ongoing review process (I'll open a similar review issue once we have sufficient reviewers), as you can see tickboxes guide reviewers through the GitHub based review process:
https://github.com/openjournals/joss-reviews/issues/1613

[2019-09-04 14:49] JoshKarpel commented on #1684
@kthyng Sounds good to me. I think if it is not possible to make it more package-y, it needs to be very, very clear how and where to copy-paste-modify. But I would prefer a more package-y solution.

@Shibabrat  @WyLyu some semi-concrete thoughts on how to move toward a package-based design...

So, my understanding is that there are three solution methods, which you use to solve three problems, lea

[2019-09-04 14:52] labarba commented on #1466
👋 @alcantarar — Could we have a status update on your review? Thanks!

[2019-09-04 15:00] johnbachman commented on #1526
@gbader and @GullyBurns would be great choices.

[2019-09-04 15:18] mgymrek commented on #1509
@whedon set 10.5281/zenodo.3383824 as archive

[2019-09-04 15:18] whedon commented on #1509
OK. <a href="https://doi.org/10.5281/zenodo.3383824" target="_blank">10.5281/zenodo.3383824</a> is the archive.

[2019-09-04 15:19] mgymrek commented on #1509
@whedon set 0.3.2 as version

[2019-09-04 15:19] whedon commented on #1509
OK. 0.3.2 is the version.

[2019-09-04 15:20] mgymrek commented on #1509
Thanks @sayanddude!
@openjournals/joss-eics this paper is ready to be accepted!

[2019-09-04 15:22] mgymrek commented on #1256
@whedon set 10.5281/zenodo.3381523 as archive

[2019-09-04 15:22] whedon commented on #1256
OK. <a href="https://doi.org/10.5281/zenodo.3381523" target="_blank">10.5281/zenodo.3381523</a> is the archive.

[2019-09-04 15:23] mgymrek commented on #1256
Thanks @scan2001. I noticed the version on this thread is listed as 2.0 but on Zenodo it says v1.0. Could you clarify which version number the final release is, and make sure that matches with what is listed on Zenodo?

[2019-09-04 15:23] terrytangyuan commented on #1656
Thanks @labarba!

@jrbourbeau and @zhampel, could you take a look at @ornlpmcp's comments and continue reviewing this submission?

[2019-09-04 15:24] mgymrek commented on #1500
Hi @Benjamin-Lee just wanted to check in on this review. Thanks!

[2019-09-04 15:35] arfon commented on #1699
@whedon add @rgmyr as reviewer

[2019-09-04 15:35] whedon commented on #1699
OK, @rgmyr is now a reviewer

[2019-09-04 15:38] arfon commented on #1699
@kthyng doing this ☝️makes Whedon give the reviewer the permission on the repository (although it doesn't make a new checklist).

@rgmyr will need to accept the invite here: https://github.com/openjournals/joss-reviews/invitations

[2019-09-04 15:39] scan2001 commented on #1256
Thanks @mgymrek. We named the release v1.0 because it's the first release we did specifically for the Zenodo archive, while version 2.0 doesn't concern the release, it was only written by one collaborator in the description without any particular reason, actually we don't have 2 version of this software.

[2019-09-04 15:40] arfon commented on #1509
@whedon accept

[2019-09-04 15:40] whedon commented on #1509
[code]

[2019-09-04 15:41] whedon commented on #1509
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/946

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/946, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-04 15:42] Kevin-Mattheus-Moerman commented on #1047
Thanks @zhampel for your contribution. I've just unticked the "conflict of interest" box for you since you indicated to me in an email that "Jake Shermeyer, is a member of a sister lab of [your] organization". I'm reiterating that here for the record.

[2019-09-04 15:44] Kevin-Mattheus-Moerman commented on #1678
@whedon remove @jfnielsen as reviewer

[2019-09-04 15:44] whedon commented on #1678
OK, @jfnielsen is no longer a reviewer

[2019-09-04 15:47] Kevin-Mattheus-Moerman commented on #1678
@jfnielsen After consulting with the editorial board it was decided to not include you due to the conflict of interest you referred to. My apologies for the confusion. Thanks again for offering to review for JOSS. I will consider you as a potential reviewer for other MRI related submissions.

[2019-09-04 15:47] arfon commented on #1509
@whedon accept deposit=true

[2019-09-04 15:47] whedon commented on #1509
[code]

[2019-09-04 15:49] whedon commented on #1509
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1169276181427961856) 👈 🐦🐦🐦

[2019-09-04 15:49] whedon commented on #1509
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/947
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01509](https://doi.org/10.21105/joss.01509)
2. If everything looks go

[2019-09-04 15:54] sayanddude commented on #1509
Thank you @mgymrek , @nhejazi and @terrytangyuan for guidance, support, and patience! It is much appreciated!

[2019-09-04 16:22] maxibor commented on #1540
Thanks @lpantano and @labarba for the editing !
Thanks a lot @gavinmdouglas and @will-rowe for the review and really helpful comments and suggestions !
First paper of my PhD, and great publishing experience with JOSS !

[2019-09-04 16:58] duetosymmetry commented on #1683
Thanks for the quick tutorial, @mattpitkin . I just integrated with travis successfully! I'll get to writing real tests, but probably not until tomorrow.

[2019-09-04 17:00] alcantarar commented on #1466
I've opened a few issues in the target repo that have been/are currently being addressed . I'll continue working on the [most recent issue](https://github.com/anderson-cu-bioastronautics/dynamo_realsense-capture/issues/9) with @abhishektha this week.

[2019-09-04 17:02] arfon commented on #1540
🎉 congrats!

[2019-09-04 17:58] richteague commented on #1632
@zhampel

Thanks for the initial comments!

I've corrected the manuscript draft following your suggestions. I've also updated the README to include a brief example usage and another link to the documentation. Please let me know if you feel as if there should be more here.

Regarding the data files, these should be persistent and are likely an intermittent issue. I have checked the downloads and ha

[2019-09-04 18:07] faroit commented on #1667
@whedon generate pdf

[2019-09-04 18:07] whedon commented on #1667
[code]

[2019-09-04 18:08] whedon commented on #1667
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01667/joss.01667/10.21105.joss.01667.pdf)

[2019-09-04 18:29] martibosch commented on #1511
Done

The latest release is 0.7.1, and all the subsequent commits have been amendments to the paper/README and including the "examples" folder in the GitHub repository (however, such folder is not included in the MANIFEST), therefore nothing would change in an hypothetical new release (well, the README would be different - but that does not seem to justify a release in semantic versioning). Shall

[2019-09-04 18:34] ezsolti commented on #1650
@sskutnik : Thinking it over again, i might be on the opinion that the figure in ezsolti/feign#7 or a similar one for more pins should rather be included in the documentation when reasoning why using the random source case is superior to the center case in certain setups. Feels like it would overcomplicate the paper which has already reached the recommended upper limit for length.

[2019-09-04 20:34] gonsie commented on #1618
Yes, I can review.

[2019-09-04 23:02] patrikhuber commented on #1262
@Kevin-Mattheus-Moerman I've just done the checklist, apologies it took a while.
I haven't checked off two boxes as I am having some trouble running Scyland3D from pip - will open an issue in the repo.

Also one other thing I found, the README.md contains the sentence & link `More information can be found on the related article.` - The link is currently a 404, this needs to be updated, I guess onc

[2019-09-04 23:15] sskutnik commented on #1650
@ezsolti This seems like a reasonable conclusion. I think the documentation is a reasonable alternative.

[2019-09-05 00:15] alcantarar commented on #1466
hey @labarba my review is complete. There are a few open issues in the target repository about documentation, but @abhishektha can close them easily. I went all the way through the [Example Tutorial](https://github.com/anderson-cu-bioastronautics/dynamo_realsense-capture/blob/dynamo-release/examples/examples.md) and it functioned as advertised. Really fun using the cameras actually!

I've checked

[2019-09-05 01:50] GullyAPCBurns commented on #1526
Happy to help

[2019-09-05 01:51] brainstorm commented on #1526
@whedon assign @GullyAPCBurns as reviewer

[2019-09-05 01:52] whedon commented on #1526
OK, the reviewer is @GullyAPCBurns

[2019-09-05 01:53] brainstorm commented on #1526
This is great, thanks @GullyAPCBurns and @bgyori... if @gbader is up for the task, we can get this started (respecting @vsoch preference to defer this review to more NLP-centric pros).

[2019-09-05 02:07] brainstorm commented on #1626
@satra Does it tick the remaining boxes for you according to https://github.com/openjournals/joss-reviews/issues/1626#issuecomment-524649967?

[2019-09-05 02:32] gbader commented on #1526
sure, I can help, though I may be delayed.

[2019-09-05 02:35] brainstorm commented on #1526
@whedon add @gbader as reviewer

[2019-09-05 02:35] whedon commented on #1526
OK, @gbader is now a reviewer

[2019-09-05 02:36] brainstorm commented on #1526
@whedon start review

[2019-09-05 02:36] whedon opened #1708 "[REVIEW]: Adeft: Acromine-based Disambiguation of Entities from Text with applications to the biomedical literature"
**Submitting author:** @johnbachman (<a href="http://orcid.org/0000-0001-6095-2466">John Bachman</a>)
**Repository:** <a href="https://github.com/indralab/adeft" target ="_blank">https://github.com/indralab/adeft</a>
**Version:** 0.5.3
**Editor:** @brainstorm
**Reviewer:** @GullyAPCBurns, @gbader
**Archive:** <a href="https://doi.org/10.5281/zenodo.3610528" target="_blank">10.5281/zenodo.3610528</

[2019-09-05 02:36] whedon commented on #1526
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1708. Feel free to close this issue now!

[2019-09-05 02:36] whedon commented on #1708
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @GullyAPCBurns, @gbader it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-09-05 02:36] whedon commented on #1708
[code]

[2019-09-05 02:36] brainstorm commented on #1526
Alright, off we go!: https://github.com/openjournals/joss-reviews/issues/1708

[2019-09-05 02:36] #1526 closed

[2019-09-05 02:36] whedon commented on #1708
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01708/joss.01708/10.21105.joss.01708.pdf)

[2019-09-05 06:22] junbinzhao commented on #1646
I am good with the time given.

From: Jeffrey W Hollister <notifications@github.com>
Sent: Tuesday, September 3, 2019 5:45 PM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: junbinzhao <junbinzhao1985@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: FluxCalR: a R package for calculating CO2 and CH4 fluxes from static chambe

[2019-09-05 06:56] LarsHernandez commented on #1593
- [x] check that the version information is consistently reported:
I've removed some experimentation with a new estimator, BTp, and released it with version 0.1.0.. it passes all tests and the CMD check.. I've created a branch Version-0.1.1 and added the BTp function, so that might be added to the MASTER sometime in the future.

- [x] create a tagged release of the software:
I did the Github relea

[2019-09-05 07:24] LarsHernandez commented on #1593
- [x]  make a Zenodo archive. Note that the archive should have the same title and authors as the article (you can also add authors' ORCID):
[link](https://zenodo.org/record/3386740#.XXC21Cj7RPY)

- [x]  report back here with the version number and the DOI of the Zenodo archive
version: 0.1.0
doi: 10.5281/zenodo.3386740

[2019-09-05 07:27] LarsHernandez commented on #1593
@whedon generate pdf

[2019-09-05 07:27] whedon commented on #1593
[code]

[2019-09-05 07:27] whedon commented on #1593
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01593/joss.01593/10.21105.joss.01593.pdf)

[2019-09-05 07:29] csoneson commented on #1593
@whedon set 10.5281/zenodo.3386740 as archive

[2019-09-05 07:29] whedon commented on #1593
OK. <a href="https://doi.org/10.5281/zenodo.3386740" target="_blank">10.5281/zenodo.3386740</a> is the archive.

[2019-09-05 07:30] csoneson commented on #1593
@whedon set v0.1.0 as version

[2019-09-05 07:30] whedon commented on #1593
OK. v0.1.0 is the version.

[2019-09-05 07:30] csoneson commented on #1593
@whedon accept

[2019-09-05 07:30] whedon commented on #1593
[code]

[2019-09-05 07:32] whedon commented on #1593
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/948

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/948, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-05 07:33] csoneson commented on #1593
Thanks @LarsHernandez - this looks all good. I'll hand over to the AEiC on duty, who will do the final steps.
@openjournals/joss-eics - this paper is ready to be accepted!

[2019-09-05 07:48] LarsHernandez commented on #1593
Thanks everyone on making my first paper submission so pleasant 😀

[2019-09-05 09:28] oliviaguest commented on #1666
@dmbates, @ahwillia have you had a chance to look at this yet? 😄

[2019-09-05 10:20] arfon commented on #1593
@whedon accept deposit=true

[2019-09-05 10:20] whedon commented on #1593
[code]

[2019-09-05 10:21] whedon commented on #1593
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1169556073331732480) 👈 🐦🐦🐦

[2019-09-05 10:21] whedon commented on #1593
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/949
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01593](https://doi.org/10.21105/joss.01593)
2. If everything looks go

[2019-09-05 10:25] arfon commented on #1593
@joethorley, @tgerke - many thanks for your reviews here and to @csoneson for editing this submission ✨

@LarsHernandez - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-09-05 10:25] #1593 closed

[2019-09-05 10:25] whedon commented on #1593
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01593/status.svg)](https://doi.org/10.21105/joss.01593)

**We need your help!**

Journal of Open Source Softwa

[2019-09-05 10:28] whedon opened #1709 "[PRE REVIEW]: OnlineStats.jl: A Julia package for statistics on data streams"
**Submitting author:** @joshday (<a href="http://orcid.org/0000-0002-7490-6986">Josh Day</a>)
**Repository:** <a href="https://github.com/joshday/OnlineStats.jl" target ="_blank">https://github.com/joshday/OnlineStats.jl</a>
**Version:** v1.0.0
**Editor:** @karthik
**Reviewers:** @vchuravy, @ahwillia

**Author instructions**

Thanks for submitting your paper to JOSS @joshday. **Currently, there is

[2019-09-05 10:29] whedon commented on #1709
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-05 10:29] whedon commented on #1709
[code]

[2019-09-05 10:29] whedon commented on #1709
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01709/joss.01709/10.21105.joss.01709.pdf)

[2019-09-05 10:31] arfon commented on #1695
:wave: @meg-simula - would you be willing to edit this submission for JOSS?

[2019-09-05 10:32] arfon commented on #1703
:wave: @leouieda - would you be willing to edit this submission for JOSS?

[2019-09-05 10:34] arfon commented on #1709
:wave: @karthik - would you be willing to edit this submission for JOSS?

[2019-09-05 11:43] meg-simula commented on #1695
Thanks for asking - but this submission is quite outside my area of expertise, so I'm a bit reluctant to jump in.

[2019-09-05 12:45] leouieda commented on #1703
Hi @arfon, I'd be happy to edit this!

[2019-09-05 12:45] leouieda commented on #1703
@whedon assign @leouieda as editor

[2019-09-05 12:45] whedon commented on #1703
OK, the editor is @leouieda

[2019-09-05 12:49] leouieda commented on #1703
@jmansour thank you for the reviewer recommendations! They really help. I'll try to get someone with geodynamics experience and someone with Python/C FEM experience to balance things out.

[2019-09-05 12:52] arfon commented on #1695
OK thanks @meg-simula

@kaashif - we have an editor that would be perfect for this submission but she's currently out on maternity leave for the next month. Would it be acceptable to you to wait for a month before moving the submission forward?

[2019-09-05 12:55] leouieda commented on #1703
:wave: Hi @florian-wagner @gabersyd would you like to review this submission for JOSS? Please see  [our documentation](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) for more information on what a JOSS review is like.

[2019-09-05 12:57] leouieda commented on #1511
@martibosch it would be best to have a patch release if possible. You might want to take this opportunity to set the citation information for the package to the JOSS paper (the doi will be 10.21105.joss.01511) and have it registered in the release.

[2019-09-05 13:04] Kevin-Mattheus-Moerman commented on #1678
@mfroeling are you or your co-workers interested in reviewing this work on MRI pulse sequence design in Python?

[2019-09-05 13:07] florian-wagner commented on #1703
Hi @leouieda, thanks for consideration. Although I have been looking forward to a chance to contribute to JOSS, I am currently on job transition / moving and not available for reviews. Sorry.

[2019-09-05 13:19] jhollist commented on #1646
Alrighty!  I will plan on having this review completed during the week of Sep 30.

[2019-09-05 14:01] SirSharpest commented on #1675
I have added my inital comments [here](https://github.com/pySRURGS/pySRURGS/issues/6), though I am happy to elaborate if I have been unclear.

[2019-09-05 14:25] wingtorres commented on #1691
@whedon generate pdf

Made some changes that hopefully correct the ??? reference issue. Thanks everyone!

[2019-09-05 14:25] whedon commented on #1691
[code]

[2019-09-05 14:25] whedon commented on #1691
PDF failed to compile for issue #1691 with the following error:

 Error reading bibliography ./paper.bib (line 11, column 1):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-05 14:27] wingtorres commented on #1691
@whedon generate pdf

[2019-09-05 14:27] whedon commented on #1691
[code]

[2019-09-05 14:27] whedon commented on #1691
PDF failed to compile for issue #1691 with the following error:

 Error reading bibliography ./paper.bib (line 11, column 1):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-05 14:32] wingtorres commented on #1691
@whedon generate pdf

[2019-09-05 14:32] whedon commented on #1691
[code]

[2019-09-05 14:32] whedon commented on #1691
PDF failed to compile for issue #1691 with the following error:

 Error reading bibliography ./paper.bib (line 15, column 21):
unexpected "P"
expecting space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-05 14:33] wingtorres commented on #1691
@whedon generate pdf

[2019-09-05 14:33] whedon commented on #1691
[code]

[2019-09-05 14:33] whedon commented on #1691
PDF failed to compile for issue #1691 with the following error:

 Error reading bibliography ./paper.bib (line 20, column 1):
unexpected "n"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-05 14:34] martibosch commented on #1511
I have released 0.7.2 and archived it to Zenodo https://doi.org/10.5281/zenodo.3387312 (with the matching title and author list).

[2019-09-05 14:34] wingtorres commented on #1691
@whedon generate pdf

[2019-09-05 14:34] whedon commented on #1691
[code]

[2019-09-05 14:34] whedon commented on #1691
PDF failed to compile for issue #1691 with the following error:

 Error reading bibliography ./paper.bib (line 42, column 1):
unexpected "t"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-05 14:35] wingtorres commented on #1691
@whedon generate pdf

[2019-09-05 14:35] whedon commented on #1691
[code]

[2019-09-05 14:35] whedon commented on #1691
PDF failed to compile for issue #1691 with the following error:

 Error reading bibliography ./paper.bib (line 122, column 1):
unexpected "y"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-05 14:36] wingtorres commented on #1691
@whedon generate pdf

[2019-09-05 14:36] whedon commented on #1691
[code]

[2019-09-05 14:36] whedon commented on #1691
PDF failed to compile for issue #1691 with the following error:

 Error reading bibliography ./paper.bib (line 124, column 1):
unexpected "p"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-05 14:37] wingtorres commented on #1691
@whedon generate pdf

[2019-09-05 14:37] whedon commented on #1691
[code]

[2019-09-05 14:37] kaashif commented on #1695
That's fine, there's no rush for me.

[2019-09-05 14:37] whedon commented on #1691
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01691/joss.01691/10.21105.joss.01691.pdf)

[2019-09-05 14:44] arfon commented on #1695
Great. I'll go ahead and assign the editor but also mark the submission as paused for now. Our editor should be back in the ~1 month!

[2019-09-05 14:44] arfon commented on #1695
@whedon assign @VivianePons as editor

[2019-09-05 14:44] whedon commented on #1695
OK, the editor is @VivianePons

[2019-09-05 14:53] malmans2 commented on #1657
Hi @leouieda, sorry for the late reply, I was traveling. Yes, I would be happy to review this!

[2019-09-05 15:02] OttaviaE commented on #1600
@alexhanna Hey! so what I should do now?

[2019-09-05 15:13] karthik commented on #1709
@arfon Unfortunately I'm not connected with the Julia community or use the language.

[2019-09-05 15:16] wingtorres commented on #1691
@whedon generate pdf

[2019-09-05 15:16] whedon commented on #1691
[code]

[2019-09-05 15:16] whedon commented on #1691
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01691/joss.01691/10.21105.joss.01691.pdf)

[2019-09-05 15:23] nespinoza commented on #1632
Hi everyone!

First of all, congrats @richteague on this very useful piece of software! I tested the whole code and all worked for me (in particular, the TWHya dataset worked for me). I have gone over the documentation and paper, and have a few minor comments I would like to cover, and one moderate comment at the end:

**Regarding the paper**:

- For some reason the references are not compiling co

[2019-09-05 15:25] ahwillia commented on #1666
I put it on my calendar for next Monday.

On Thu, Sep 5, 2019, 2:28 AM Olivia Guest <notifications@github.com> wrote:

[2019-09-05 16:23] richteague commented on #1632
Hi @nespinoza!

Thanks for the comments!

I've corrected the citation style, hopefully this works now.

I've included a line break in line 10 of the Fishing Basics notebook and appears to render OK.

I've added a small community guidelines section pointing towards the (albeit brief) contributing guide on the main repo. If you think this require more info I can update this.

Regarding the technical

[2019-09-05 16:37] nespinoza commented on #1632
Thanks for the quick response to the comments @richteague! I'm all set then --- ready to accept the paper to JOSS (as soon as the code has a release version in Github, so I can mark the "version" part above)!

[2019-09-05 16:42] banesullivan commented on #1657
Hi @leouieda and @sam-greenwood, I’d also be happy to review this submission! It looks like a cool visualization tool and I’d be happy to this project grow

Sorry for the delayed reply as well... things are a bit hectic right now but I’d love to circle back to this next week and get started where I can!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-05 17:07] karthik commented on #1709
@@whedon assign @karthik as editor

[2019-09-05 17:08] karthik commented on #1709
@vchuravy @mlxd Can you consider reviewing this submission? 🙏

[2019-09-05 17:08] karthik commented on #1709
@whedon assign @karthik as editor

[2019-09-05 17:08] whedon commented on #1709
OK, the editor is @karthik

[2019-09-05 17:09] benmarwick commented on #1600
I reviewed this submission using the [guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and [checklist](https://joss.readthedocs.io/en/latest/review_checklist.html). Items needing further attention by the authors are marked with a 👀Disclaimer: I'm not a psychologist, don't have a strong understanding of what a D-score is, so my review does not evaluate the correctness of

[2019-09-05 17:12] richteague commented on #1632
Great, thanks a lot! I'll wait to see if @zhampel has any other issues with it, then I'll update the release version on GitHub.

[2019-09-05 18:40] mrgprasad commented on #1634
@Kevin-Mattheus-Moerman - May I suggest some more reviewers ?

[2019-09-05 20:05] abhishektha commented on #1466
@labarba, i went through and checked the documentation issues and addressed and closed them. Please let me know if there's anything else you need from me!

[2019-09-05 20:08] labarba commented on #1466
@alcantarar — to clarify, you are only contributing a partial review, focusing on the functionality of the software, and do not plan to review the documentation and paper. Correct?

[2019-09-05 20:13] alcantarar commented on #1466
@labarba Correct. I only made suggestions about documentation that directly influenced my ability to test the functionality. These issues have been addressed.

[2019-09-05 20:21] labarba commented on #1466
@alcantarar — would you mind writing a brief report here about your review of the functionality, with the purpose of informing the other two reviewers, who checked other aspects of the submission? We will ask  @melund and @ixjlyons to provide a recommendation of acceptance on the basis of your additional checks of functionality, so I think this would be helpful.

[2019-09-05 21:11] ramaniitrgoyal92 commented on #1613
I am currently out of country for a conference. I am working on it in between and will try to finish as soon as possible.
Sorry for the delay.

[2019-09-05 21:25] jmansour commented on #1703
Thanks @arfon & @leouieda  & also @florian-wagner

I'll create the new branch with the required submission paper today.

[2019-09-05 22:16] gabersyd commented on #1703
Hi, I have never interacted with JOSS so I am certainly curious and willing
to do my best to review it. I am very busy until Sep 19, but immediately
after that I can look at it and provide my feedback.

Gabriele

Gabriele Morra
<http://scholar.google.com/citations?sortby=pubdate&hl=en&user=DDuTppAAAAAJ&view_op=list_works>
, Department of Physics <http://physics.louisiana.edu>, School of
Geoscience

[2019-09-06 01:03] whedon opened #1710 "[PRE REVIEW]: Mongiris: a package for manipulating IRIS"
**Submitting author:** @fduchatea (<a href="http://orcid.org/0000-0001-6803-917X">Fabien Duchateau</a>)
**Repository:** <a href="https://gitlab.liris.cnrs.fr/fduchate/mongiris" target ="_blank">https://gitlab.liris.cnrs.fr/fduchate/mongiris</a>
**Version:** 0.40
**Editor:** @gkthiruvathukal
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @fduchatea. **Curre

[2019-09-06 01:03] whedon commented on #1710
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-06 01:03] whedon commented on #1710
[code]

[2019-09-06 01:03] whedon opened #1711 "[PRE REVIEW]: ShinyCOPASI: a web-based exploratory interface for COPASI models"
**Submitting author:** @pmendes (<a href="http://orcid.org/0000-0001-6507-9168">Pedro Mendes</a>)
**Repository:** <a href="https://github.com/copasi/shinyCOPASI" target ="_blank">https://github.com/copasi/shinyCOPASI</a>
**Version:** v.1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @pmendes. **Currently, there isn't an JOSS editor a

[2019-09-06 01:03] whedon commented on #1711
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-06 01:03] whedon commented on #1711
[code]

[2019-09-06 01:03] whedon commented on #1710
PDF failed to compile for issue #1710 with the following error:

 Can't find any papers to compile :-(

[2019-09-06 01:03] whedon commented on #1711
Failed to discover a valid open source license.

[2019-09-06 01:04] whedon commented on #1711
PDF failed to compile for issue #1711 with the following error:

 Error reading bibliography ./paper.bib (line 60, column 22):
unexpected ")"
expecting white space, "#", "," or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-06 01:05] whedon opened #1712 "[PRE REVIEW]: RDF-to-SemanticWiki: Creating ontology-based semantic wikis"
**Submitting author:** @alvarosaurus (<a href="http://orcid.org/0000-0001-7620-1907">Alvaro Ortiz-Troncoso</a>)
**Repository:** <a href="https://gitlab.com/alvarosaurus/RDF-to-SemanticWiki" target ="_blank">https://gitlab.com/alvarosaurus/RDF-to-SemanticWiki</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @alvaros

[2019-09-06 01:05] whedon commented on #1712
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-06 01:05] whedon commented on #1712
[code]

[2019-09-06 01:05] whedon opened #1713 "[PRE REVIEW]: GaitPy: An Open-Source Python Package for Gait Analysis Using an Accelerometer on the Lower Back"
**Submitting author:** @matt002 (<a href="http://orcid.org/0000-0001-9954-7003">Matthew Czech</a>)
**Repository:** <a href="https://github.com/matt002/GaitPy" target ="_blank">https://github.com/matt002/GaitPy</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @finsberg, @abhishektha

**Author instructions**

Thanks for submitting your paper to JOSS @mdc007. **Currently, there isn't an JOSS e

[2019-09-06 01:05] whedon commented on #1713
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-06 01:05] whedon commented on #1713
[code]

[2019-09-06 01:05] whedon opened #1714 "[PRE REVIEW]: BayesPostEst: An R Package to Generate Postestimation Quantities for Bayesian MCMC Estimation"
**Submitting author:** @jkarreth (<a href="http://orcid.org/0000-0003-4586-7153">Johannes Karreth</a>)
**Repository:** <a href="https://github.com/ShanaScogin/BayesPostEst" target ="_blank">https://github.com/ShanaScogin/BayesPostEst</a>
**Version:** 0.1.0
**Editor:** @terrytangyuan
**Reviewers:** @svmiller, @TiagoVentura

**Author instructions**

Thanks for submitting your paper to JOSS @jkarreth

[2019-09-06 01:05] whedon commented on #1714
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-06 01:05] whedon commented on #1714
[code]

[2019-09-06 01:05] whedon opened #1715 "[PRE REVIEW]: yenpathy: An R Package to Quickly Find K Shortest Paths Through a Weighted Graph"
**Submitting author:** @toph-allen (<a href="http://orcid.org/0000-0003-4580-091X">Toph Allen</a>)
**Repository:** <a href="https://github.com/ecohealthalliance/yenpathy" target ="_blank">https://github.com/ecohealthalliance/yenpathy</a>
**Version:** 1.0.0
**Editor:** @kyleniemeyer
**Reviewers:** @corybrunson, @szhorvat

**Author instructions**

Thanks for submitting your paper to JOSS @toph-allen

[2019-09-06 01:05] whedon commented on #1715
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-06 01:05] whedon commented on #1715
[code]

[2019-09-06 01:06] whedon commented on #1712
PDF failed to compile for issue #1712 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1712 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedo

[2019-09-06 01:06] whedon commented on #1713
PDF failed to compile for issue #1713 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1713/paper/paper.md): found character that cannot start any token while scanning for the next token at line 4 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.r

[2019-09-06 01:06] whedon commented on #1714
PDF failed to compile for issue #1714 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1714 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedo

[2019-09-06 01:06] arfon commented on #1710
@whedon generate pdf

[2019-09-06 01:06] whedon commented on #1710
[code]

[2019-09-06 01:06] whedon commented on #1715
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01715/joss.01715/10.21105.joss.01715.pdf)

[2019-09-06 01:08] arfon commented on #1712
@whedon generate pdf

[2019-09-06 01:08] whedon commented on #1712
[code]

[2019-09-06 01:09] whedon commented on #1712
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01712/joss.01712/10.21105.joss.01712.pdf)

[2019-09-06 01:10] arfon commented on #1714
@whedon generate pdf

[2019-09-06 01:10] whedon commented on #1714
[code]

[2019-09-06 01:11] whedon commented on #1714
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01714/joss.01714/10.21105.joss.01714.pdf)

[2019-09-06 01:24] knaidoo29 commented on #1690
Hi @labarba and @xuanxu just to let you know I've updated the paper and pushed it to the repository. I rewrote it and have added some basic examples.

Note, that I've added a new version of the code (i.e. v1.1) which includes some new functions for binning and plotting the Minimum Spanning Tree statistics. I'm not familiar with how you will review the code but I just wanted to highlight this as I

[2019-09-06 01:26] arfon commented on #1713
:wave: @mdc007, many thanks for your submission to JOSS. Firstly, this pull request should fix your paper compilation: https://github.com/matt002/GaitPy/pull/1

Second, it's not immediately clear to me that your submission is currently up to standard for JOSS yet I'm afraid. In particular the fact that this is a written for Python 2.7 suggests to me that this package is close to deprecated and not

[2019-09-06 01:29] arfon commented on #1539
:wave: @trallard - I think this paper is waiting on you to make your last checks here.

[2019-09-06 01:30] arfon commented on #1714
:wave: @terrytangyuan - would you be willing to edit this submission for JOSS?

[2019-09-06 01:33] arfon commented on #1710
Whedon can't compile this paper as there's [~750Mb file](https://gitlab.liris.cnrs.fr/fduchate/mongiris/blob/master/mongiris/data/dump/dump-dbinsee.bin) in the repository 😱

[2019-09-06 01:39] arfon commented on #1710
Paper compiled locally: [10.21105.joss.01710.pdf](https://github.com/openjournals/joss-reviews/files/3581836/10.21105.joss.01710.pdf)

[2019-09-06 02:33] jmansour commented on #1703
@whedon generate pdf

[2019-09-06 02:33] whedon commented on #1703
[code]

[2019-09-06 02:34] whedon commented on #1703
PDF failed to compile for issue #1703 with the following error:

 Can't find any papers to compile :-(

[2019-09-06 02:35] jmansour commented on #1703
@whedon commands

[2019-09-06 02:35] whedon commented on #1703
Here are some things you can ask me to do:

[code]

[2019-09-06 02:36] jmansour commented on #1703
@whedon generate pdf from branch joss

[2019-09-06 02:36] whedon commented on #1703
[code]

[2019-09-06 02:37] whedon commented on #1703
PDF failed to compile for issue #1703 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon.rb:143:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc6887734

[2019-09-06 02:39] jkarreth commented on #1714
Thank you for getting this started! The following might be possible reviewers:

- @amoeba
- @andrewheiss
- @becarioprecario
- @benmarwick
- @bradweiner
- @caseyyoungflesh
- @cdcrabtree
- @earino
- @fabian-s
- @jacobsoj
- @jsta
- @lindemann09
- @mariacuellar
- @mdogucu
- @MikeLydeamore
- @pacoramon
- @paulgovan
- @pboesu
- @rmhogervorst
- @soodoku
- @svmiller
- @tweed1e
- @vincentarelbundock
- @Vol

[2019-09-06 02:40] jmansour commented on #1703
@whedon generate pdf from branch joss

[2019-09-06 02:40] whedon commented on #1703
[code]

[2019-09-06 02:41] whedon commented on #1703
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01703/joss.01703/10.21105.joss.01703.pdf)

[2019-09-06 03:14] holgerteichgraeber commented on #1573
@danielskatz just following up, this may have gotten lost among the other messages.

[2019-09-06 03:37] amritagos commented on #1702
Hi, I have worked with PLUMED before and would like to put myself forward for this. I just signed up as a volunteer, hope this isn't impolite!

[2019-09-06 05:12] abishakGupta commented on #1711
@whedon generate pdf

[2019-09-06 05:12] whedon commented on #1711
[code]

[2019-09-06 05:13] whedon commented on #1711
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01711/joss.01711/10.21105.joss.01711.pdf)

[2019-09-06 05:46] deargle commented on #1315
I confirm my orcid and affiliation. Thanks for heading this, @sauln.

On Tue, Sep 3, 2019, 11:36 PM Nathaniel Saul <notifications@github.com>
wrote:

[2019-09-06 07:32] xuanxu commented on #1690
@whedon generate pdf

[2019-09-06 07:32] whedon commented on #1690
[code]

[2019-09-06 07:32] whedon commented on #1690
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01690/joss.01690/10.21105.joss.01690.pdf)

[2019-09-06 07:35] xuanxu commented on #1690
@knaidoo29 great, thanks!
We'll start the review once the reviewers are assigned.

[2019-09-06 07:58] terrytangyuan commented on #1714
@whedon assign @terrytangyuan as editor

[2019-09-06 07:58] whedon commented on #1714
OK, the editor is @terrytangyuan

[2019-09-06 08:22] alvarosaurus commented on #1712
@arfon. Many thanks for taking care of my submission. I noticed in the PDF proof that some referenced articles were not formatted correctly in the paper.bib file. I committed the changes to the master branch.

[2019-09-06 08:23] Kevin-Mattheus-Moerman commented on #1634
@mrgprasad yes that is fine. GitHub names and professional profiles if you know them. Thanks

[2019-09-06 08:29] alvarosaurus commented on #1712
@whedon generate pdf

[2019-09-06 08:29] whedon commented on #1712
[code]

[2019-09-06 08:30] whedon commented on #1712
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01712/joss.01712/10.21105.joss.01712.pdf)

[2019-09-06 08:39] alvarosaurus commented on #1712
@whedon generate pdf

[2019-09-06 08:39] whedon commented on #1712
[code]

[2019-09-06 08:39] whedon commented on #1712
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01712/joss.01712/10.21105.joss.01712.pdf)

[2019-09-06 09:04] alvarosaurus commented on #1712
@whedon generate pdf

[2019-09-06 09:04] whedon commented on #1712
[code]

[2019-09-06 09:05] whedon commented on #1712
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01712/joss.01712/10.21105.joss.01712.pdf)

[2019-09-06 09:23] alvarosaurus commented on #1712
@whedon generate pdf

[2019-09-06 09:23] whedon commented on #1712
[code]

[2019-09-06 09:24] whedon commented on #1712
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01712/joss.01712/10.21105.joss.01712.pdf)

[2019-09-06 09:27] alvarosaurus commented on #1712
@arfon. Sorry but I don't get it. In the papaer.bib file have a reference that looks like this:
[code]
yet whedon is nor rendereing it at all. Any ideas?

[2019-09-06 10:19] OttaviaE commented on #1600
Hey @benmarwick thank you for your review! I tried to solve the issues you highlighted:
1.	“I recommend the authors identify the research community that will find this useful, e.g. "...most commonly used measures in psychology for ...". Done
2.	“I could not find version numbers, these need to be made easier to see”. I add the version number in the README.md file
3.	“I had a problem running the app

[2019-09-06 10:19] arfon commented on #1712
You're missing the `@` in the `paper.md`. Currently the citations is `[noy2001ontology]` when it should be `[@noy2001ontology]`.

[2019-09-06 10:21] arfon commented on #1702
Thanks @amritagos! I'll go ahead and add you as a reviewer but I won't start the review until we have another reviewer or two for this submission.

[2019-09-06 10:21] arfon commented on #1702
@whedon add @amritagos as reviewer

[2019-09-06 10:21] alvarosaurus commented on #1712
@whedon generate pdf

[2019-09-06 10:21] whedon commented on #1712
[code]

[2019-09-06 10:22] whedon commented on #1712
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01712/joss.01712/10.21105.joss.01712.pdf)

[2019-09-06 10:24] arfon commented on #1600
Thanks for your review here @benmarwick and your response @OttaviaE. I realize it might not be entirely clear but the actual JOSS review happens in a separate issue on GitHub that is set up by the editor (@alexhanna) once they have identified multiple reviewers.

I believe @alexhanna still needs to identify a second reviewer for this submission and will set up the main review issue at that point.

[2019-09-06 10:35] alvarosaurus commented on #1712
@arfon: Great! Now the citations are correct.

Suggested reviewers:

@nuest: the application is provided as Docker containers, and reviewing those would be a plus. The application is used in the context of earth science, although the source code should be domain-neutral.

@fsteeg: the core of this appplication is to produce a semantically enhanced collaboration environment. I think this could be o

[2019-09-06 10:39] PolymerGuy commented on #1704
@PingjunChen Thank you for the feedback!
The division warning is now gone and the routine itself is now a bit more robust.
The examples will now run when executed from the main folder.

I have merged all changes into the  main branch

[2019-09-06 10:40] PolymerGuy commented on #1704
@whedon generate pdf

[2019-09-06 10:40] whedon commented on #1704
[code]

[2019-09-06 10:41] whedon commented on #1704
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01704/joss.01704/10.21105.joss.01704.pdf)

[2019-09-06 10:57] alvarosaurus commented on #1712
@whedon commands

[2019-09-06 10:57] whedon commented on #1712
Here are some things you can ask me to do:

[code]

[2019-09-06 11:10] knaidoo29 commented on #1690
Hi @xuanxu, I just had a look at the proofs and realised my figures are not there. This was because I had my gitignore set up to ignore png files. The images are now on the repository so if the pdf is regenerated it should appear on it now. Thanks (p.s can I regenerate the PDF or do I have to wait for you to do it?)

[2019-09-06 11:12] jeffreyhanson commented on #1686
@hadley, I'm very sorry if this is a silly question and I don't want to waste your time, but I just wanted to double check if the pdf version of the manuscript linked above has the correct version of your manuscript? I was noticed that the `paper.Rmd` file has been updated more recently than the `paper.md` file in the repository which (if I understand correctly) is being used to generate the pdf v

[2019-09-06 11:21] labarba commented on #1690
You can also run `@whedon generate pdf` (as a single line in a separate comment) to compile the proof at any time.

[2019-09-06 11:45] mrgprasad commented on #1634
As the novelty of Kanapy is particle packing based microstructure generation, I suggest:
@vyasr - Has experience with particle simulation.
@putanowr - Has experience with microstructure generation.

[2019-09-06 11:53] knaidoo29 commented on #1690
Great, will try it now

[2019-09-06 11:53] knaidoo29 commented on #1690
@whedon generate pdf

[2019-09-06 11:53] whedon commented on #1690
[code]

[2019-09-06 11:55] whedon commented on #1690
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01690/joss.01690/10.21105.joss.01690.pdf)

[2019-09-06 13:17] lpantano commented on #1673
Sorry, for the delay I am having issues to find the second reviewer. @acolum, do you know somebody else that could help? I will ask internally, if not. Cheers

[2019-09-06 13:39] arfon commented on #1702
@whedon add @arfon as editor

[2019-09-06 13:39] arfon commented on #1702
@whedon assign @arfon as editor

[2019-09-06 13:39] whedon commented on #1702
OK, the editor is @arfon

[2019-09-06 13:58] acolum commented on #1673
Sorry, I don’t know anybody else who could help.

On Fri, Sep 6, 2019 at 6:17 AM Lorena Pantano <notifications@github.com>
wrote:

[2019-09-06 14:07] cMadan commented on #1631
@conradsnicta, are you still able to review this submission? Thank you!

[2019-09-06 14:09] cMadan commented on #1662
@russellpierce, how is your review progressing?

@tomfaulkenberry, thank you for reviewing this submission!

[2019-09-06 14:09] cMadan commented on #1648
@SwathiSheshadri, do you have any suggestions for potential reviewers?

[2019-09-06 14:11] cMadan commented on #1620
@adswa @RingoHHuang, how are your reviews progressing? Thanks!

[2019-09-06 14:19] adswa commented on #1620
Thanks for the poke, and sorry for the delay @cMadan . I have a long train ride upcoming on sunday and plan to finish it then...

[2019-09-06 14:46] faroit commented on #1667
@whedon generate pdf

[2019-09-06 14:46] whedon commented on #1667
[code]

[2019-09-06 14:47] whedon commented on #1667
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01667/joss.01667/10.21105.joss.01667.pdf)

[2019-09-06 14:51] faroit commented on #1667
@arokem I did some last little update on the bibliography and I think we are good here. Please tell me what the next steps are to proceed.

[2019-09-06 16:30] PingjunChen commented on #1704
@PolymerGuy Good improvements!
@katyhuff  This python package has useful axis-symmetric tomograms reconstruction functionality, as well as detailed documentation, tests, and examples.  I recommend accepting for publication.

[2019-09-06 16:38] kyleniemeyer commented on #1543
@whedon generate pdf

[2019-09-06 16:38] whedon commented on #1543
[code]

[2019-09-06 16:39] whedon commented on #1543
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01543/joss.01543/10.21105.joss.01543.pdf)

[2019-09-06 16:49] kyleniemeyer commented on #1543
@whedon generate pdf

[2019-09-06 16:49] whedon commented on #1543
[code]

[2019-09-06 16:49] whedon commented on #1543
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01543/joss.01543/10.21105.joss.01543.pdf)

[2019-09-06 16:51] kyleniemeyer commented on #1543
@whedon generate pdf

[2019-09-06 16:51] whedon commented on #1543
[code]

[2019-09-06 16:52] whedon commented on #1543
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01543/joss.01543/10.21105.joss.01543.pdf)

[2019-09-06 16:56] kyleniemeyer commented on #1543
@whedon generate pdf

[2019-09-06 16:56] whedon commented on #1543
[code]

[2019-09-06 16:57] whedon commented on #1543
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01543/joss.01543/10.21105.joss.01543.pdf)

[2019-09-06 16:59] kyleniemeyer commented on #1543
@katyhuff ok, sorry for the spam—I resolved that pytables reference by just changing it to "2002-2019", which is still accurate.

I released v1.1.0, and the DOI is 10.5281/zenodo.3401549.

Thanks everyone!

[2019-09-06 18:09] mkearney commented on #1706
I've completed my review, @arokem. Following @nkratzke's lead, I also posted the following as a general remarks issue and created individual Github issues for bullet points #2-4.

Overall, I think the tool is absolutely fantastic! It's relatively easy to setup, but, more importantly, once it's up and running it's a breeze to use–e.g., in a maner of seconds, tracking the high frequency mentions of

[2019-09-06 18:11] danielskatz commented on #1573
thanks - sorry I missed that

[2019-09-06 18:11] danielskatz commented on #1573
@whedon set v0.5.2 as version

[2019-09-06 18:11] whedon commented on #1573
OK. v0.5.2 is the version.

[2019-09-06 18:11] danielskatz commented on #1573
@whedon set 10.5281/zenodo.3385349 as archive

[2019-09-06 18:12] whedon commented on #1573
OK. <a href="https://doi.org/10.5281/zenodo.3385349" target="_blank">10.5281/zenodo.3385349</a> is the archive.

[2019-09-06 18:12] danielskatz commented on #1573
@whedon accept

[2019-09-06 18:12] whedon commented on #1573
[code]

[2019-09-06 18:13] whedon commented on #1573
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/950

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/950, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-06 18:15] danielskatz commented on #1573
@whedon check references

[2019-09-06 18:15] whedon commented on #1573
[code]

[2019-09-06 18:16] whedon commented on #1573
[code]

[2019-09-06 18:21] danielskatz commented on #1573
👋 @holgerteichgraeber - It looks like the two missing DOIs found above are correct - please add them.  And the invalid DOI is indeed invalid - either replace it with the right one or remove it.

Then please regenerate the pdf.

[2019-09-06 18:58] Matt-pfz commented on #1713
Thank you for your edits and feedback. I will work to address these problems with the submission and update you when completed.

[2019-09-06 19:02] jedbrown commented on #1618
@whedon add @jmlarson1 as reviewer

[2019-09-06 19:02] whedon commented on #1618
OK, @jmlarson1 is now a reviewer

[2019-09-06 19:03] jedbrown commented on #1618
@whedon add @gonsie as reviewer

[2019-09-06 19:03] whedon commented on #1618
OK, @gonsie is now a reviewer

[2019-09-06 19:03] jedbrown commented on #1618
@whedon start review

[2019-09-06 19:03] #1618 closed

[2019-09-06 19:03] whedon opened #1716 "[REVIEW]: Pakman: a modular, efficient and portable tool for approximate Bayesian inference"
**Submitting author:** @ThomasPak (<a href="http://orcid.org/0000-0002-7198-7688">Thomas Pak</a>)
**Repository:** <a href="https://github.com/ThomasPak/pakman" target ="_blank">https://github.com/ThomasPak/pakman</a>
**Version:** v1.1.0
**Editor:** @jedbrown
**Reviewer:** @jmlarson1, @gonsie
**Archive:** <a href="https://doi.org/10.5281/zenodo.3697312" target="_blank">10.5281/zenodo.3697312</a>

#

[2019-09-06 19:03] whedon commented on #1618
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1716. Feel free to close this issue now!

[2019-09-06 19:03] whedon commented on #1716
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jmlarson1, @gonsie it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-09-06 19:03] whedon commented on #1716
[code]

[2019-09-06 19:04] whedon commented on #1716
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01716/joss.01716/10.21105.joss.01716.pdf)

[2019-09-06 19:06] jedbrown commented on #1716
@jmlarson1, @gonsie :wave: Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [Pakman repository](https://github.com/ThomasPak/pakman) and mentioning the URL of this issue). I'll be watching this thread if you have any questions.

[2019-09-06 19:27] hadley commented on #1686
@jeffreyhanson oh shoot, somehow we forgot to update the `.md`. Let me try and figure out what's gone wrong.

[2019-09-06 19:42] seanpue commented on #1604
Hey @gkthiruvathukal Since @rlskoeser has the digital humanities, text-analysis, and nlp covered, perhaps you could ask people who do more general graphs and/or algorithms. From that list: hausen, gabrielspadon, juliohm, sonal-raj, vc1492a (also NLP, missed earlier), camillescott, szhorvat, amritagos.  Cheers.

[2019-09-06 20:00] gkthiruvathukal commented on #1604
Thanks, @seanpue

@hausen, @gabrielspadon, @juliohm, @sonal-raj, @vc1492a, @camillescott, @szhorvat, @amritagos, are any of you willing to act as an additional reviewer for this submission, focused on the graph/algorithmic aspects? Once I have a second reviewer, I can commence review of @seanpue's submission.

[2019-09-06 20:50] arfon commented on #1715
:wave: @kyleniemeyer - would you be willing to edit this submission for JOSS?

[2019-09-06 21:20] kyleniemeyer commented on #1715
@arfon I don't know anything about R, but can cover this if needed

[2019-09-06 21:23] toph-allen commented on #1715
We suggest @michaellevy as a reviewer, who was an early user of `yenpathy` and filed an unsolicited issue.

[2019-09-06 21:32] arfon commented on #1715
Yeah, sorry about this. I'm struggling with finding editors to cover submissions right now sorry.

[2019-09-06 22:22] linuxscout commented on #1674
What I should do now?

[2019-09-06 23:23] danielskatz commented on #1674
Nothing - your part is done, and thanks!

We're now waiting for @timClicks to do his review, check off his items, bring up needed changes, etc.  He was away, but said he would have his review done around now.

I think we're also waiting for @TomDonoghue to add something about how to run the tests to the documentation.

[2019-09-06 23:49] hadley commented on #1686
@whedon generate pdf

[2019-09-06 23:49] whedon commented on #1686
[code]

[2019-09-06 23:50] whedon commented on #1686
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01686/joss.01686/10.21105.joss.01686.pdf)

[2019-09-06 23:52] hadley commented on #1686
Rendered preview is definitely ok now — sorry for the mess up.

[2019-09-07 01:29] pySRURGS commented on #1675
I have added the `-deterministic` flag and made other changes to address @SirSharpest' comments.

[2019-09-07 01:36] kyleniemeyer commented on #1715
@whedon assign @kyleniemeyer as editor

[2019-09-07 01:36] whedon commented on #1715
OK, the editor is @kyleniemeyer

[2019-09-07 01:42] kyleniemeyer commented on #1715
Hi @michaellevy, are you interested in and available to review this submission?

[2019-09-07 03:51] arokem commented on #1667
@whedon check references

[2019-09-07 03:51] whedon commented on #1667
[code]

[2019-09-07 03:51] whedon commented on #1667
[code]

[2019-09-07 03:57] vc1492a commented on #1604
@gkthiruvathukal Thanks for the consideration, willing and happy to review this. Bandwidth has been a little tight as of late but this project is very interesting to me and I would enjoy the opportunity to perform and provide a review. You may want to add a third reviewer for NLP - I have some experience in this area but my experience is far from extensive.

[2019-09-07 04:00] arokem commented on #1667
@faroit : At this point, could you please make a new release of the main repo that includes all of the changes that have resulted from the review? Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive. For the archive version, please make sure that:

- The title of the archive is the same as the JOSS paper title
- The autho

[2019-09-07 04:09] arokem commented on #1706
Thank you both for these reviews!

@yangkcatiu : please address the comments made by the reviewers and let us know here when you are ready for the next round of review. Thanks!

[2019-09-07 04:14] gkthiruvathukal commented on #1604
So grateful @rlskoeser and @vc1492a. I will assign both of you and get the review started.

[2019-09-07 04:14] gkthiruvathukal commented on #1604
@whedon assign @rlskoeser as reviewer

[2019-09-07 04:14] whedon commented on #1604
OK, the reviewer is @rlskoeser

[2019-09-07 04:14] gkthiruvathukal commented on #1604
@whedon add @vc1492a as reviewer

[2019-09-07 04:14] whedon commented on #1604
OK, @vc1492a is now a reviewer

[2019-09-07 04:15] gkthiruvathukal commented on #1604
@whedon list reviewers

[2019-09-07 04:15] whedon commented on #1604
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2019-09-07 04:15] gkthiruvathukal commented on #1604
@whedon start review

[2019-09-07 04:15] whedon opened #1717 "[REVIEW]: Graph Transliterator: a graph-based transliteration tool"
**Submitting author:** @seanpue (<a href="http://orcid.org/0000-0001-8463-8578">A. Sean Pue</a>)
**Repository:** <a href="https://github.com/seanpue/graphtransliterator" target ="_blank">https://github.com/seanpue/graphtransliterator</a>
**Version:** v1.0.4
**Editor:** @gkthiruvathukal
**Reviewer:** @rlskoeser, @vc1492a
**Archive:** <a href="https://doi.org/10.5281/zenodo.3558365" target="_blank">

[2019-09-07 04:15] whedon commented on #1604
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1717. Feel free to close this issue now!

[2019-09-07 04:15] whedon commented on #1717
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rlskoeser, @vc1492a it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-09-07 04:15] whedon commented on #1717
[code]

[2019-09-07 04:16] whedon commented on #1717
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01717/joss.01717/10.21105.joss.01717.pdf)

[2019-09-07 05:55] GullyBurns commented on #1526
Question about conflict of interest: I worked in the same DARPA program as
the authors and entered into collaborative discussions although we never
published or actively worked together. Just wanted to check that this never
rose to the level of a COI?

On Wed, Sep 4, 2019 at 7:36 PM Roman Valls Guimera <notifications@github.com>
wrote:

--

   - Gully Burns, D.Phil.
   - Research Scientist,
   - M

[2019-09-07 06:23] akabla commented on #1700
@whedon generate pdf

[2019-09-07 06:23] whedon commented on #1700
[code]

[2019-09-07 06:23] whedon commented on #1700
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01700/joss.01700/10.21105.joss.01700.pdf)

[2019-09-07 07:03] SwathiSheshadri commented on #1648
@cMadan, I suggest @sreschechtko (Sasha Reschechtko) and @brittonsauerbrei (Britton Sauerbrei) as potential reviewers. These two researchers are actively interested in behavior tracking and would be well suited to review pose3d.
Additionally, I suggest the following reviewers from the JOSS list based on their programming language preference and area of expertise : @Kevin-Mattheus-Moerman, @fernand

[2019-09-07 07:47] akabla commented on #1700
@whedon generate pdf

[2019-09-07 07:47] whedon commented on #1700
[code]

[2019-09-07 07:48] whedon commented on #1700
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01700/joss.01700/10.21105.joss.01700.pdf)

[2019-09-07 09:09] dmbates commented on #1666
I have finished the review of this paper and it looks very good to me.  It is a pleasure to review a paper and software like this that has been so carefully created.  My only comment is that the author has included the top-level `Manifest.toml` file in the repository and I believe it is recommended not to do that.  In other words, that name should be added to the `.gitignore` file.

[2019-09-07 09:40] faroit commented on #1667
@arokem all done. Here is the DOI on zenodo: 10.5281/zenodo.3402103

[2019-09-07 10:36] #1604 closed

[2019-09-07 11:04] arfon commented on #1712
Hi @alvarosaurus, thanks again for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this submission does not meet our [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) in terms of scope. While this software looks useful, we believe it's more of a utility package rather than research software.

Thanks ag

[2019-09-07 11:04] #1712 closed

[2019-09-07 11:06] arfon commented on #1711
Hi @abishakGupta, thanks for your submission to JOSS. Unfortunately, after consulting with the JOSS editorial team, we've determined that this submission is out of scope for JOSS: https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements

Thanks again for your interest in JOSS.

[2019-09-07 11:06] #1711 closed

[2019-09-07 11:10] arfon commented on #1710
@gkthiruvathukal - would you be willing to edit this submission for JOSS?

[2019-09-07 11:56] oliviaguest commented on #1642
@mancellin thank you so much!

@wkearn could you give us a status update for your review?

[2019-09-07 12:06] mlxd commented on #1709
Hi, sorry but I don't have the time for this right now. If things haven't moved forward by the start of October feel free to let me know and I will try have a look then.

[2019-09-07 14:07] fcontino commented on #1543
Congrats Kyle! Nice work!

On Fri, Sep 6, 2019 at 6:59 PM Kyle Niemeyer <notifications@github.com>
wrote:

--

(Call for papers special issue of Frontiers journal on alternative fuels
<https://www.frontiersin.org/research-topics/10590/fundamental-characterization-and-performance-of-alternative-fuels>
)

Francesco Contino

Department of Mechanical Engineering

Combustion and Robust optimization (BU

[2019-09-07 14:14] whedon opened #1718 "[PRE REVIEW]: oifits : A Python Package to Analyse EHT Data"
**Submitting author:** @shreyasbapat (<a href="http://orcid.org/0000-0002-0870-4665">Shreyas Bapat</a>)
**Repository:** <a href="https://github.com/shreyasbapat/python-oifits" target ="_blank">https://github.com/shreyasbapat/python-oifits</a>
**Version:** v0.2.0
**Editor:** @arfon
**Reviewers:** @taldcroft, @mwcraig

**Author instructions**

Thanks for submitting your paper to JOSS @shreyasbapat.

[2019-09-07 14:14] whedon commented on #1718
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-07 14:14] whedon commented on #1718
[code]

[2019-09-07 14:14] whedon commented on #1718
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01718/joss.01718/10.21105.joss.01718.pdf)

[2019-09-07 14:24] jeffreyhanson commented on #1686
No worries, thanks for fixing it.

[2019-09-07 15:45] kahaaga commented on #1666
Thank you for the encouraging feedback, @dmbates.

I've added `Manifest.toml` to the `.gitignore` file. These changes are now implemented on the master branch and will be part of the next release.

[2019-09-07 16:07] dmbates commented on #1666
Oh, one other thing I forgot to mention.  I left the check box for version matches unchecked because the repository version is now ahead of the version given in the paper.  I assume that the way to resolve this is to change the paper but I leave it to those who have more knowledge of the system to decide.

[2019-09-07 16:33] dmey commented on #1468
@arfon As Zenodo requires the software's list of authors to be included when depositing the software on their website, we were wondering what the best way is to clearly show that our work is merely an extension (build-system enhancement) of the great work carried out by Skamarock et al., (2018; and previous papers).

Have you had a similar case before or have any idea how to best show this on Zeno

[2019-09-07 16:36] whedon commented on #1674
:wave: @timClicks, please update us on how your review is going.

[2019-09-07 17:57] oliviaguest commented on #1666
@labarba (please see comment directly above this) what do we do with different versions/how do we fix it? 😄

[2019-09-07 18:34] karthik commented on #1709
ok, thanks @mlxd
If you can recommend other folks who might be suitable to review, I would welcome some names. :pray:

[2019-09-07 18:37] holgerteichgraeber commented on #1573
@whedon generate pdf

[2019-09-07 18:37] whedon commented on #1573
[code]

[2019-09-07 18:38] whedon commented on #1573
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01573/joss.01573/10.21105.joss.01573.pdf)

[2019-09-07 18:40] holgerteichgraeber commented on #1573
@danielskatz Thank you, I updated the two DOIs and removed the third.

[2019-09-07 18:42] labarba commented on #1666
Once the review is finished, and all modifications done to the software and the paper, you ask the authors to make a new tagged release (and archive in Zenodo). You will then run the command:

`@whedon set <v.x.x> as version`

and the version number will be updated in the header comment here, and in the margin decorators of the first page of the paper in subsequent compilations.

[2019-09-07 18:43] labarba commented on #1666
See [Changing the software version](https://joss.readthedocs.io/en/latest/whedon.html?highlight=version#changing-the-software-version)

[2019-09-07 21:50] katyhuff commented on #1543
@whedon set v1.1.0 as version

[2019-09-07 21:50] whedon commented on #1543
OK. v1.1.0 is the version.

[2019-09-07 21:51] katyhuff commented on #1543
@whedon set 10.5281/zenodo.3401549 as archive

[2019-09-07 21:51] whedon commented on #1543
OK. <a href="https://doi.org/10.5281/zenodo.3401549" target="_blank">10.5281/zenodo.3401549</a> is the archive.

[2019-09-07 21:54] katyhuff commented on #1543
Congratulations @kyleniemeyer, and thanks again @jcsutherland and @fcontino for your reviews!

@openjournals/jose-eics I think this is ready for acceptance!

[2019-09-07 23:41] bwoshea commented on #1636
@danielskatz We're on it!  @rtfisher and @zingale , thank you for all of your feedback!

[2019-09-08 01:18] sohrabtowfighi commented on #1675
After acknowledging Dr. Luther Tychonievich, I added a wayback machine archive link to the blog post where Dr. Tychonievich details the algorithm mapping integers to binary trees.

[2019-09-08 01:58] brainstorm commented on #1526
@GullyBurns The JOSS editorial team reckons this does not qualify as a COI, so thanks for raising it up but you are free to proceed, no worries.

[2019-09-08 03:05] arokem commented on #1667
@whdeon set 10.5281/zenodo.3402103 as archive

[2019-09-08 03:06] arokem commented on #1667
@whedon set 10.5281/zenodo.3402103 as archive

[2019-09-08 03:06] whedon commented on #1667
OK. <a href="https://doi.org/10.5281/zenodo.3402103" target="_blank">10.5281/zenodo.3402103</a> is the archive.

[2019-09-08 03:06] arokem commented on #1667
@openjournals/joss-eics : I believe this is ready for your review

[2019-09-08 09:46] shreyasbapat commented on #1718
I am not sure what tags to look for in this case, so I will go with Data Science.
Here are my suggestions for potential reviewers: @jkahn @trallard

cc @whedon @arfon :D

[2019-09-08 10:21] cMadan commented on #1620
@adswa, no worries, thanks for the update!

[2019-09-08 12:48] danielskatz commented on #1573
@whedon check references

[2019-09-08 12:48] whedon commented on #1573
[code]

[2019-09-08 12:49] whedon commented on #1573
[code]

[2019-09-08 12:59] danielskatz commented on #1573
@whedon accept deposit=true

[2019-09-08 12:59] whedon commented on #1573
[code]

[2019-09-08 12:59] whedon commented on #1573
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1170683168430731264) 👈 🐦🐦🐦

[2019-09-08 12:59] whedon commented on #1573
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/951
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01573](https://doi.org/10.21105/joss.01573)
2. If everything looks go

[2019-09-08 13:02] danielskatz commented on #1573
Thanks to @jgoldfar & @ahwillia for reviewing!

[2019-09-08 13:02] #1573 closed

[2019-09-08 13:02] whedon commented on #1573
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01573/status.svg)](https://doi.org/10.21105/joss.01573)

**We need your help!**

Journal of Open Source Softwa

[2019-09-08 15:41] arfon commented on #1543
@whedon accept

[2019-09-08 15:41] whedon commented on #1543
[code]

[2019-09-08 15:42] whedon commented on #1543
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/952

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/952, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-08 15:42] arfon commented on #1543
@whedon accept deposit=true

[2019-09-08 15:42] whedon commented on #1543
[code]

[2019-09-08 15:43] whedon commented on #1543
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1170724410631868422) 👈 🐦🐦🐦

[2019-09-08 15:43] whedon commented on #1543
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/953
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01543](https://doi.org/10.21105/joss.01543)
2. If everything looks go

[2019-09-08 15:46] arfon commented on #1718
Thanks for this submission @shreyasbapat. While this looks like a useful piece of code, it feels like it would be much more useful contributed to an existing core package such as [`astropy.fits`](https://docs.astropy.org/en/stable/io/fits/).

Have you considered trying to contribute to this package?

[2019-09-08 15:46] arfon commented on #1543
@fcontino, @jcsutherland - many thanks for your reviews here and to @katyhuff for editing this submission ✨

@kyleniemeyer - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-09-08 15:46] #1543 closed

[2019-09-08 15:47] whedon commented on #1543
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01543/status.svg)](https://doi.org/10.21105/joss.01543)

**We need your help!**

Journal of Open Source Softwa

[2019-09-08 15:50] shreyasbapat commented on #1718
Hi @arfon
I think astropy is kind of a general utility package while this is more specific. I can ask in the chatroom but I am very sure that the developers will deny for the same kind of reason .

[2019-09-08 16:28] arfon commented on #1667
@whedon accept

[2019-09-08 16:28] whedon commented on #1667
[code]

[2019-09-08 16:29] whedon commented on #1667
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/954

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/954, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-08 16:32] arfon commented on #1667
@whedon accept deposit=true

[2019-09-08 16:32] whedon commented on #1667
[code]

[2019-09-08 16:33] whedon commented on #1667
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1170736846327992320) 👈 🐦🐦🐦

[2019-09-08 16:33] whedon commented on #1667
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/955
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01667](https://doi.org/10.21105/joss.01667)
2. If everything looks go

[2019-09-08 16:36] arfon commented on #1667
@bmcfee, @hagenw - many thanks for your reviews here and to @arokem for editing this submission ✨

@faroit - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-09-08 16:36] #1667 closed

[2019-09-08 16:36] whedon commented on #1667
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01667/status.svg)](https://doi.org/10.21105/joss.01667)

**We need your help!**

Journal of Open Source Softwa

[2019-09-08 16:48] bmcfee commented on #1667
Congrats @faroit !

[2019-09-08 16:56] whedon opened #1719 "[PRE REVIEW]: xrnet: Hierarchical Regularized Regression to Incorporate External Data"
**Submitting author:** @gmweaver (<a href="http://orcid.org/0000-0002-9918-8386">Garrett Weaver</a>)
**Repository:** <a href="https://github.com/USCbiostats/xrnet" target ="_blank">https://github.com/USCbiostats/xrnet</a>
**Version:** 0.0.0.9000
**Editor:** @mgymrek
**Reviewers:** @juanvillada, @jsgalan

**Author instructions**

Thanks for submitting your paper to JOSS @gmweaver. **Currently, ther

[2019-09-08 16:56] whedon commented on #1719
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-08 16:56] whedon commented on #1719
[code]

[2019-09-08 16:56] whedon commented on #1719
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01719/joss.01719/10.21105.joss.01719.pdf)

[2019-09-08 17:57] snowformatics commented on #1411
The binary is not updated yet, I will do it next week.

I have no problem with pausing the review.

Am Mi., 4. Sep. 2019, 00:45 hat Victor Barrera <notifications@github.com>
geschrieben:

[2019-09-08 18:24] gmweaver commented on #1719
@whedon generate pdf

[2019-09-08 18:24] whedon commented on #1719
[code]

[2019-09-08 18:26] whedon commented on #1719
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01719/joss.01719/10.21105.joss.01719.pdf)

[2019-09-08 18:30] ashleefv commented on #1643
# Responses to Reviewer 1's comments (Issue 1):

### General Comments
We now specify that the supported versions of python are 3.5, 3.6, and 3.7.

Added comment to README.md about installing from source.

### Testing

PyTest could be a good fit for our project, but we expect to include if we have a major update in the future.

### Software checked on:
We now specify that the supported versions of

[2019-09-08 18:40] ashleefv commented on #1643
# Responses to Reviewer 2's comments
## Comment 1 (Issue 2)
Since we expect users to take and modify or use the code generated by SBMLtoODEpy in ways we can't predict, the burden of applying SED-ML or KiSAO will have to be on the user. Additionally most SBML components are stored as entries in dictionaries that are members of the class implementing the model. Currently rules and initial assignment

[2019-09-08 18:41] ashleefv commented on #1643
@whedon generate pdf

[2019-09-08 18:41] whedon commented on #1643
[code]

[2019-09-08 18:41] whedon commented on #1643
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01643/joss.01643/10.21105.joss.01643.pdf)

[2019-09-08 18:44] holgerteichgraeber commented on #1573
Thank you @danielskatz @ahwillia @jgoldfar for editing and reviewing! I very much appreciate that you took the time to review, your comments were extremely helpful!

[2019-09-08 18:55] ashleefv commented on #1643
@whedon generate pdf

[2019-09-08 18:55] whedon commented on #1643
[code]

[2019-09-08 18:55] whedon commented on #1643
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01643/joss.01643/10.21105.joss.01643.pdf)

[2019-09-08 19:00] ashleefv commented on #1643
Approved the new article proof. We have concluded our responses to the reviewers' comments.

[2019-09-08 20:23] adswa commented on #1620
(My apologies - cancelled train, overcrowded replacement, no WIFI. I'll try to squeeze it in over the next two days)

[2019-09-08 20:30] arfon commented on #1468
Hrm, good question. I this situation I think it's probably best to just include the authors that have extended the package in this fork.

[2019-09-08 20:41] arfon commented on #1600
@whedon add @benmarwick as reviewer

[2019-09-08 20:41] whedon commented on #1600
OK, @benmarwick is now a reviewer

[2019-09-08 20:41] arfon commented on #1600
@alexhanna - I think this paper is still in need of a second reviewer.

[2019-09-08 21:12] timClicks commented on #1674
@danielskatz My recommendation: accept, subject to the test amendments that have been mentioned already :)

I've worked through the tutorials, and think that this a very handy package.

In general, the API documentation is in an OK state, rather than a Good state (as per the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html)). That reflects the relative immaturity of the

[2019-09-08 21:22] mgymrek commented on #1256
@whedon set v1.0 as version

[2019-09-08 21:22] whedon commented on #1256
OK. v1.0 is the version.

[2019-09-08 21:22] mgymrek commented on #1256
ok, Thanks @scan2001.
@openjournals/joss-eics we are ready to accept this submission.

[2019-09-08 21:29] mgymrek commented on #1643
Thanks @ashleefv for addressing these comments.
 @SirSharpest, @marouenbg, could you review these edits and update the checklists above accordingly?

Also, I noticed you mentioned you mentioned for community guidelines that you do not envision contributions from others to the project. However this is an important aspect of open source projects. Even if you do not envision new features, it's possib

[2019-09-08 21:33] arfon commented on #1256
@whedon accept

[2019-09-08 21:33] whedon commented on #1256
[code]

[2019-09-08 21:34] whedon commented on #1256
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/956

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/956, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-08 22:07] arfon commented on #1256
@whedon accept deposit=true

[2019-09-08 22:07] whedon commented on #1256
[code]

[2019-09-08 22:08] whedon commented on #1256
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1170821178140823553) 👈 🐦🐦🐦

[2019-09-08 22:08] whedon commented on #1256
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/957
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01256](https://doi.org/10.21105/joss.01256)
2. If everything looks go

[2019-09-08 22:22] arfon commented on #1256
@timClicks - many thanks for your review here and to @mgymrek for editing this submission ✨

@scan2001 - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-09-08 22:22] #1256 closed

[2019-09-08 22:22] whedon commented on #1256
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01256/status.svg)](https://doi.org/10.21105/joss.01256)

**We need your help!**

Journal of Open Source Softwa

[2019-09-08 22:28] danielskatz commented on #1674
👋 @TomDonoghue - so it seem like the only remaining action for you is to add something about how to run the tests to the documentation.

[2019-09-08 22:32] ashleefv commented on #1643
That's a good suggestion. I've edited the readme accordingly.

Ashlee N. Ford Versypt, Ph.D.
Assistant Professor, School of Chemical Engineering, Oklahoma State University
Member, Harold Hamm Diabetes Center, University of Oklahoma Health Sciences Center
420 Engineering North, OSU, Stillwater, OK 74078
Ph: 405-744-5280
ashleefv@okstate.edu<mailto:ashleefv@okstate.edu>
Ford Versypt Lab Website<http

[2019-09-09 00:06] arfon commented on #1696
:wave: @pachamaltese - this submission was deemed ineligible to be published in JOSS back in https://github.com/openjournals/joss-reviews/issues/1366, could you explain the resubmission?

[2019-09-09 00:11] pachamaltese commented on #1696
Right. The previous submission had a text focused just in a part of the
project. After reading about citesdb, I realize I could extend more about
the API and the steps I had to complete in order to ease trade data access
in my region. That's why I don't consider this as minor utility.

On Sun, Sep 8, 2019, 9:06 PM Arfon Smith <notifications@github.com> wrote:

[2019-09-09 02:16] marouenbg commented on #1643
I just checked all the boxes on my side. The authors did address the comments either through new commits and/or provided reasonable explanations for sticking to their initial choices. Great job!

[2019-09-09 07:17] mlindsk commented on #1665
@csoneson , @jdeligt , @jkanche

Update: Work is very much in progress. The new api design is being implemented. Hopefully, if everything goes as planned, I will have something ready within the next two weeks. Hopefully also sooner.

[2019-09-09 09:38] conradsnicta commented on #1631
@cMadan - apologies, been away sick. will take a look at this later on this week.

[2019-09-09 10:38] benmaier commented on #1425
@whedon generate pdf

[2019-09-09 10:38] whedon commented on #1425
[code]

[2019-09-09 10:39] whedon commented on #1425
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01425/joss.01425/10.21105.joss.01425.pdf)

[2019-09-09 11:07] leouieda commented on #1657
@malmans2 @banesullivan no worries about the delay. I really appreciate you taking the time to review! :rocket:

[2019-09-09 11:08] leouieda commented on #1657
@whedon assign @malmans2 as reviewer

[2019-09-09 11:08] whedon commented on #1657
OK, the reviewer is @malmans2

[2019-09-09 11:08] leouieda commented on #1657
@whedon add @banesullivan as reviewer

[2019-09-09 11:08] whedon commented on #1657
OK, @banesullivan is now a reviewer

[2019-09-09 11:09] benmaier commented on #1425
Hi @leouieda, thank you for your editing, review, and pull request! I think I've completed all the necessary steps for publishing:

* I double-checked author-names, affiliations, and ORCIDs.
* I made a new release containing all changes: [v0.1.4](https://github.com/benmaier/netwulf/releases/tag/v0.1.4)
* I archived this [release on Zenodo](https://zenodo.org/record/3402870) (DOI: [10.5281/zenodo.3

[2019-09-09 11:09] leouieda commented on #1657
@whedon start review

[2019-09-09 11:09] whedon opened #1720 "[REVIEW]: Torsional Axisymmetric Core Oscillations Visualiser (TACO-VIS): A python module for animating torsional wave data for fluid planetary cores."
**Submitting author:** @sam-greenwood (<a href="http://orcid.org/0000-0001-9303-6229">Sam Greenwood</a>)
**Repository:** <a href="https://github.com/sam-greenwood/taco_vis" target ="_blank">https://github.com/sam-greenwood/taco_vis</a>
**Version:** v1.0
**Editor:** @leouieda
**Reviewer:** @malmans2, @banesullivan
**Archive:** <a href="https://doi.org/10.5281/zenodo.3902334" target="_blank">10.5281

[2019-09-09 11:09] whedon commented on #1657
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1720. Feel free to close this issue now!

[2019-09-09 11:09] whedon commented on #1720
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @malmans2, @banesullivan it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-09-09 11:10] whedon commented on #1720
[code]

[2019-09-09 11:10] #1657 closed

[2019-09-09 11:10] whedon commented on #1720
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01720/joss.01720/10.21105.joss.01720.pdf)

[2019-09-09 11:12] leouieda commented on #1720
:wave: @malmans2 @banesullivan @sam-greenwood this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is differen

[2019-09-09 11:14] leouieda commented on #1511
@whedon set 0.7.2 as version

[2019-09-09 11:14] whedon commented on #1511
OK. 0.7.2 is the version.

[2019-09-09 11:14] leouieda commented on #1511
@whedon set 10.5281/zenodo.3387312 as archive

[2019-09-09 11:14] whedon commented on #1511
OK. <a href="https://doi.org/10.5281/zenodo.3387312" target="_blank">10.5281/zenodo.3387312</a> is the archive.

[2019-09-09 11:28] leouieda commented on #1511
@whedon check references

[2019-09-09 11:28] whedon commented on #1511
[code]

[2019-09-09 11:29] whedon commented on #1511
[code]

[2019-09-09 11:30] leouieda commented on #1511
@whedon generate pdf

[2019-09-09 11:30] whedon commented on #1511
[code]

[2019-09-09 11:30] whedon commented on #1511
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01511/joss.01511/10.21105.joss.01511.pdf)

[2019-09-09 11:34] leouieda commented on #1511
@martibosch thank you for the updates. Everything looks good to go now :confetti_ball:

[2019-09-09 11:35] leouieda commented on #1511
@openjournals/joss-eics this submission is ready for publication

[2019-09-09 11:49] arfon commented on #1511
:wave: @Kevin-Mattheus-Moerman - do you want to do the final checks on this submission?

[2019-09-09 15:17] RHagenson commented on #1146
@pjotrp Is there a policy for submitting corrections/edits after acceptance? Of course, the corrections/edits do not change the usage of the tool, that is still as it has been. Rather, I want to change the official repo from BitBucket to GitHub and I realized I misspelled a name in my acknowledgements (Sefszek -> Sefczek).

[2019-09-09 15:18] zhampel commented on #1656
@terrytangyuan Yes, I will get to it and respond by the end of the week.

[2019-09-09 15:27] katyhuff commented on #1650
@whedon generate pdf

[2019-09-09 15:27] whedon commented on #1650
[code]

[2019-09-09 15:28] whedon commented on #1650
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01650/joss.01650/10.21105.joss.01650.pdf)

[2019-09-09 15:35] arfon commented on #1146
@RHagenson - we can fix a typo for sure, and update the repository too. Can you make the update to the `paper.md` file and let me know when you've done this?

[2019-09-09 17:20] RHagenson commented on #1146
@pjotrp I have updated the `paper.md` with the corrections and updated all the files to refer to `github.com/rhagenson/swsc` rather than `bitbucket.org/rhagenson/swsc` I also pushed a new `v6.1.2` tag to begin a new release of the code. Anything else you need from me?

[2019-09-09 17:50] arfon commented on #1146
@RHagenson - the paper is now updated with these changes. The version showing on the JOSS site can take a few hours to update as there is caching in place.

[2019-09-09 18:18] arfon commented on #1194
At this point I think we should close this pre-review issue. @hbodory - we'd welcome a resubmission at some point in the future when you've managed to address the feedback here.

[2019-09-09 18:18] #1194 closed

[2019-09-09 18:18] katyhuff commented on #1461
@whedon generate pdf

[2019-09-09 18:18] whedon commented on #1461
[code]

[2019-09-09 18:19] whedon commented on #1461
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01461/joss.01461/10.21105.joss.01461.pdf)

[2019-09-09 18:22] kthyng commented on #1699
Thanks @arfon! Looks like both reviewers are able to make edits now.

[2019-09-09 18:26] katyhuff commented on #1461
@whedon check references

[2019-09-09 18:26] whedon commented on #1461
[code]

[2019-09-09 18:26] whedon commented on #1461
[code]

[2019-09-09 18:26] kthyng commented on #1654
I'll just type a ping here for everyone. @henrikmidtiby were you able to make any progress on a workaround, or are you still in the process?

[2019-09-09 18:57] GullyBurns commented on #1526
Great!

Could we switch this process to @GullyAPCBurns (my unaffiliated github
account?)

On Sat, Sep 7, 2019 at 6:58 PM Roman Valls Guimera <notifications@github.com>
wrote:

--

   - Gully Burns, D.Phil.
   - Research Scientist,
   - Meta, Science Initiative.
   - c: +1 650-208-8426
   - gully.burns@chanzuckerberg.com

[2019-09-09 19:10] yangkcatiu commented on #1706
Thank you all for the feedback, all the suggestions are very helpful! We are woking on addressing them.

[2019-09-09 19:20] jdkent commented on #1295
Hi @labarba, I believe the repository is ready pending the points above.

[2019-09-09 19:38] arokem commented on #1295
@openjournals/joss-eics : is everything in order here?

[2019-09-09 20:04] gkthiruvathukal commented on #1710
@arfon Yes. On my way to Prague for a conference but will get started as soon as possible.

[2019-09-09 20:04] haptork commented on #1461
@katyhuff
Added missing DOIs (commit b6d057ab6d21a7bed34e90737d10d7b98e170402)
Added missing refs (commit c1300cf3547740809255e08250c6a0d9e3862436)
Updated screenshot captions, removed extra line between image and caption(commit 2f6b6a8626fe128cf55a27002bc24b44d4713d1e)

[2019-09-09 20:28] dmey commented on #1468
@arfon OK, thanks. I have added the following in the description on Zenodo to hopefully make it clear:

[2019-09-09 20:31] letmaik commented on #1468
@arfon DOI is [10.5281/zenodo.3403343](https://zenodo.org/record/3403343).

[2019-09-09 20:54] arfon commented on #1468
@whedon accept

[2019-09-09 20:54] whedon commented on #1468
No archive DOI set. Exiting...

[2019-09-09 20:55] arfon commented on #1468
@whedon set 10.5281/zenodo.3403343 as archive

[2019-09-09 20:55] whedon commented on #1468
OK. <a href="https://doi.org/10.5281/zenodo.3403343" target="_blank">10.5281/zenodo.3403343</a> is the archive.

[2019-09-09 20:55] arfon commented on #1468
@whedon accept

[2019-09-09 20:55] whedon commented on #1468
[code]

[2019-09-09 20:56] TomDonoghue commented on #1674
@whedon generate pdf

[2019-09-09 20:56] whedon commented on #1468
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/958

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/958, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-09 20:56] whedon commented on #1674
[code]

[2019-09-09 20:57] whedon commented on #1674
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01674/joss.01674/10.21105.joss.01674.pdf)

[2019-09-09 21:03] TomDonoghue commented on #1674
@whedon generate pdf

[2019-09-09 21:03] whedon commented on #1674
[code]

[2019-09-09 21:04] whedon commented on #1674
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01674/joss.01674/10.21105.joss.01674.pdf)

[2019-09-09 21:34] letmaik commented on #1468
Looks good!

[2019-09-09 21:40] TomDonoghue commented on #1674
@whedon generate pdf

[2019-09-09 21:40] whedon commented on #1674
[code]

[2019-09-09 21:40] whedon commented on #1674
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01674/joss.01674/10.21105.joss.01674.pdf)

[2019-09-09 21:45] TomDonoghue commented on #1674
**Test Coverage**

In terms of noting the test coverage, what I have done is add a section to the README, which gets built as the homepage of the documentation page, which mentions the tests, and how to run them, and the test dependency of pytest.

I'm actually not too sure what is considered convention / best practice for documenting tests & test coverage - so please let me know if this isn't the

[2019-09-09 21:49] arfon commented on #1468
@whedon accept deposit=true

[2019-09-09 21:49] whedon commented on #1468
[code]

[2019-09-09 21:51] whedon commented on #1468
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1171179290706284545) 👈 🐦🐦🐦

[2019-09-09 21:51] whedon commented on #1468
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/959
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01468](https://doi.org/10.21105/joss.01468)
2. If everything looks go

[2019-09-09 21:54] katyhuff commented on #1461
@whedon generate pdf

[2019-09-09 21:54] whedon commented on #1461
[code]

[2019-09-09 21:55] arfon commented on #1468
@zbeekman, @andreas-h - many thanks for your reviews here ✨

@letmaik - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-09-09 21:55] #1468 closed

[2019-09-09 21:55] whedon commented on #1468
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01468/status.svg)](https://doi.org/10.21105/joss.01468)

**We need your help!**

Journal of Open Source Softwa